[2019-08-12 19:24] jmcgill298 opened #60440 "ios_command: ftp copy timeout"
##### SUMMARY
Using `ios_command` module to transfer a file, the module exits before the file is finished transferring.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

targeting Cisco 3850

##### STEPS TO REPRODUCE

Issuing copy command for large OS image with the switch being located far from th

[2019-08-12 19:39] sivel commented on #57365
This is expected behavior.  You have listed `role-init` as a dependency of 2 roles.  Due to the native deduplication that happens, there are few things going on here:

1. `role-init` is de-duplicated, into just a single execution, because the invocations of `role-init` as s dependency of each role is the same.
1. Even with `allow_duplicates: true` in `role-ini/meta/main.yml` Ansible would still us

[2019-08-12 19:39] #57365 closed, assigned to nobody

[2019-08-12 19:39] mattclay commented on #60299
Using a dedicated VM isn't an option. If the 4th hack outlined above gets the job done, we could try it, but I suspect we'll see the tests breaking sooner or later. We may need to mark the tests unsupported instead -- which would unfortunately mean they would not run in CI.

[2019-08-12 19:54] kuteninja commented on #60319
Ticket updated, the documentation seems to be accurate, it doesn't list the `AWS_DEFAULT_REGION` variable, and thus it's not being read.

On the example I set `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` which are detected but the region is not. I've fixed it by hardcoding the region, since it's not a big deal for us, but it should not be necessary

[2019-08-12 20:13] #27810 closed, assigned to nobody

[2019-08-12 20:21] kuteninja commented on #60319
It seeems to be reading the remote credentials instead of the ones I'm using locally and thus it fails, I'll modify my playbook to override it for now.

I'll close it for now, it might be part of the intended usage

[2019-08-12 20:21] #60319 closed, assigned to nobody

[2019-08-12 20:29] sivel commented on #56839
I believe this is a documentation error.  `mode=preserve` was only implemented in the copy module, and by extension the `template` module.

Someone later came in and attempted to consolidate documentation, and added the note about `mode=preserve` to the generic documentation fragment utilized by all modules supporting file operations.

These options were explicitly documented for copy/template as

[2019-08-12 20:29] sivel commented on #56839
cc @acozine

[2019-08-12 20:43] caphrim007 commented on #60385
@markatdxb i dont think there is syntax that one can put in the requirements file to force install, you just provide the param when you run the ansible-galaxy command. For example,

[code]

[2019-08-12 20:45] sivel commented on #54898
I'd imagine at a minimum, that strace could maybe provide some input on what is happening, preferably if ansible was invoked via strace, instead of attaching to it once the issue happened.

I'm not sure what information we could glean from python itself that would indicate what the cause of the hang is.

needs_info

[2019-08-12 21:12] philfry commented on #56839
In that case, modules like `openssl_privatekey` must not decide on their own about file properties. The `mode: preserve`-thingy only became necessary because `openssl_privatekey` suddenly did permission changed. Shall I open another bug report for it or is fixing the `mode: preserve` preferrable?

[2019-08-12 21:14] geerlingguy commented on #60134
I have kind of a PoC in a branch of my k8s collection (see https://github.com/geerlingguy/ansible-collection-k8s/issues/2#issuecomment-520597539)—but I do see how on the module level, it may be impossible to get the templating done when run on a destination machine. However, if using `connection: local`, an action plugin could supply the vars for the templating...

It's definitely not as simple as

[2019-08-12 21:19] sivel commented on #56839
@philfry It could be fixed all at once potentially.  By adding the new feature it could resolve the docs issue.  However the docs in past versions are incorrect, and a new feature wouldn't be backported.  So we are likely looking at the necessity of a bugfix and a new feature.

[2019-08-12 21:23] termlen0 opened #60444 "`junos_facts` returns a connection timeout"
##### SUMMARY

A playbook using `junos_facts`,  using the netconf connection plugin does not execute successfully. Errors are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`junos_facts`
##### ANSIBLE VERSION

[code]
Also, ncclient version:

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL R

[2019-08-12 21:23] philfry commented on #56839
Thanks. I'd offer my help but in the past there was no much interest in my PRs.
Guess I'll wait then :)

[2019-08-12 21:24] termlen0 commented on #60444
[code]

Group vars where the connection is defined.

[2019-08-12 21:38] sfuerte opened #60445 "Role checking is invoked even for skipped tags"
##### SUMMARY
Role presence is checked even when tag is specifically skipped. Testing for dev purposes on a local VM under VirtualBox; due to nature of the process, specifically disabling some playbook's steps.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A - default

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

`ansible-playbook -vvvv -i ./ansib

[2019-08-12 22:41] frogstarr78 commented on #59824
Couldn't you use the built in powershell modules for handling firewall rules?

[2019-08-12 23:02] jborean93 commented on #59824
I haven't read the actual conversation here but no, these modules were only added in Server 2012 and newer and the COM object is used so we can run this module on Server 2008 and 2008 R2.

[2019-08-13 01:12] jhg03a opened #60449 "RFE: os_object support deleting container and all files"
##### SUMMARY

As a os_object module user I'd like to be able to delete a container and all its contents.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

os_object

##### ADDITIONAL INFORMATION

Today if you try to delete a container that still has any files in it, you receive the message: `The container is not empty. Please delete the objects inside it before deleting the container`.  On

[2019-08-13 01:21] abadger opened #60450 "apt_facts performance regression (2.7 vs 2.8)"
##### SUMMARY

In several comments on this PR, it was noted that the 2.8.x apt package facts has a large performance regression: https://github.com/ansible/ansible/pull/56008#issuecomment-496931379

The reported difference is about 1m30s  vs 8s for a fixed version.

Looking at the fixed version versus 2.8x and devel code, it looks like the issue is that creating an empty apt package cache takes a

[2019-08-13 02:07] Fred-sun commented on #51062
@jvalderrama Yes, you can update ansible to 2.8.3 to try. Thanks a lot!

[2019-08-13 02:16] xgy560501 opened #60451 "How to change the file permission to nobody:nobody?"
- name: 创建audit.log
    file:
      path: /var/log/shell_audit/audit.log
      state: touch
      owner: nobody
      group: nodody
      mode: 0002
I try to do this,but I have failed.Ansible told me that "fatal: [localhost]: FAILED! => {"changed": false, "gid": 0, "group": "root", "mode": "0644", "msg": "chgrp failed: failed to look up group nodody", "owner": "nobody", "path": "/var/log/shell_aud

[2019-08-13 02:17] mlda065 commented on #60120
I have written one playbook to test both `aws_acm` and `aws_acm_info`. What do I need to do to the `alias` files in `test/integration/targets` to tell the framework that the test for one is the same as the other?

[2019-08-13 02:20] mrda commented on #24215
+1

[2019-08-13 02:58] xgy560501 opened #60452 "Failed to change the permission"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-08-13 03:03] #60452 closed, assigned to nobody

[2019-08-13 03:04] #60451 closed, assigned to nobody

[2019-08-13 04:42] willthames commented on #60120
@mlda065 I think you just put the name of the other one in the aliases file

[2019-08-13 04:59] Akasurde commented on #60409
@arjunprakashn Can you please have a look at PR #60233 and let us know if it works? Thanks.

needs_info

[2019-08-13 05:02] Akasurde commented on #60418
@jthompson333 Thanks for reporting this.

[2019-08-13 05:16] Akasurde commented on #60400
@agowa338 Thanks for reporting this issue. Do you think this issue is more related to underlying Python bindings rather than Ansible itself ?

Adding @pgbidkar (who is one of the maintainer of `Pyvmomi` from VMware)

[2019-08-13 06:50] Fred-sun commented on #60244
@damiandiaz76 Thank you for open this issue. I execute your playbook, but execute the PASS. Can you re-install ansilbe and try again? Thank you very much!
[code]

[2019-08-13 07:53] abhilashsk900 opened #60458 ""msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname alpha: Name or service not known\r\n","
"msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname alpha: Name or service not known\r\n",
i just now installed ansible in my local machine and i am trying to execuite playbooks to local but i am getting this errors please help me out
ansible 2.5.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/us

[2019-08-13 08:03] agowa338 commented on #60400
I think it is related to both, the underlying module needs to make sure it can access these resources.
Within ansible we need to make sure we don't accidentally touch the wrong vm because of that and instead at least fail. Therefore I'd suggest to have integration tests that prevent us from
e.g. deleting/changing "/Datacenter/vm/Foo%2F001" instead of "/Datacenter/vm/Foo/001". I've encoding slashes

[2019-08-13 08:14] mathieucoavoux opened #60460 "AWS - Ansible 2.7 - aws_s3 valid session token permission denied"
##### SUMMARY
When using STS token to connect to a S3 bucket I receive a permission denied from AWS when the token is valid
Versions affected: <= v2.7.12

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: aws_s3
Related module_utils: ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux release 2 (Karoo)

##### STEPS TO REPRODUCE

[code]

[2019-08-13 08:29] mnecas commented on #59189
Hi @mshabou, thank you for the change recommendation.

[2019-08-13 08:59] Udayendu opened #60465 "nios_next_ip unable to find network object"
##### SUMMARY
ansible 2.6 and higher failed to work with infoblox-client 0.4.22 with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
infoblox-client: 0.4.22
nios_next_ip: https://docs.ansible.com/ansible/latest/plugins/lookup/nios_next_ip.html

##### ANSIBLE VERSION
Working: Ansible 2.5
Not-Working: Ansible 2.6/2.7/2.8

[code]

##### CONFIGURATION
[code]

##### OS

[2019-08-13 09:07] justjais commented on #60465
cc. @krisvasudevan @s-giri

[2019-08-13 09:43] Fred-sun commented on #53299
@yungezz @MyronFanQiu Could you look at this issue? Are there plans to fix this bug? Thank you very much!

[2019-08-13 09:52] Fred-sun commented on #52068
@yungezz @MyronFanQiu @zikalino New feature request, please take a look when you're free! Thank you very much!

[2019-08-13 10:01] rakshazi commented on #59074
Same here:
[code]

[2019-08-13 10:53] SiliconMind commented on #53965
I need Google cloud functions support as well. I'd be happy to sponsor this integration if needed.

[2019-08-13 10:58] IndikaMaligaspe opened #60472 "Ansible 2.8 unarchive failing with Unsupported parameters for (stat) module"
##### SUMMARY
I am trying to unarchive a *.tar / *.tar.gz file. However the playbook is failing with the following error

FAILED! => {"changed": false, "msg": "Failed to get information on remote file (/home/ubuntu/java/): Unsupported parameters for (stat) module: checksum_algorithm, get_checksum Supported parameters include: follow, get_md5, path"}

My ansible playbook is as follows is as follows

[2019-08-13 11:11] #60383 closed, assigned to nobody

[2019-08-13 11:22] cesarjorgemartinez commented on #41313
Hi, I need to support flush_handlers using a condition.
When will this problem be fixed?

Ex:

[code]

[2019-08-13 11:29] Tronde commented on #56930
Hi,
I'm somewhat confused at the moment. Could somebody tell me what I have to set in `ansible.cfg` to allow invalid chars in group names in the future, please?

[2019-08-13 12:13] goneri commented on #59582
The test works fine now with https://github.com/ansible/ansible/pull/59533.

[2019-08-13 12:13] #59582 closed, assigned to nobody

[2019-08-13 12:21] goneri opened #60479 "vmware_guest_network does not disconnect the interface"
##### SUMMARY

The following test is supposed to disconnect an interface.
https://github.com/ansible/ansible/blob/2d98734ad51c3de557c3a7d1f7166bdd114ceb0f/test/integration/targets/vmware_guest_network/tasks/main.yml#L76-L95

It does not work as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2019-08-13 12:33] rohit-smpx commented on #55097
Any idea why #55206 was closed? Seems to not be fixed in code: https://github.com/ansible/ansible/blob/2d98734ad51c3de557c3a7d1f7166bdd114ceb0f/lib/ansible/modules/packaging/language/yarn.py#L256-L261

Though this recently got a `has_pr` label but I couldn't find a corresponding PR. If the bot is wrong I can open a new PR, seems like an easy fix.

[2019-08-13 12:36] s-hertel commented on #60319
Ah, yeah. Environment variables do have to be set on the host running the module. Here's some documentation about specifying environment vars in your playbook: https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html

If you need to access the environment on your controller, you can use the `env` lookup plugin, e.g. `"{{ lookup('env', 'VAR_NAME') }}"`

[2019-08-13 12:37] Maghin opened #60481 "[os_server] userdata usage example doesn't work"
##### SUMMARY

Example for userdata usage in the os_server module does not work with the cloud-init module "chpasswd". According to the cloud-init documentation ([here](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#set-passwords)) :

The example provided with the module contain both and it result that password are not updated.

##### ISSUE TYPE
- Documentation Report

##### COMPON

[2019-08-13 13:07] Lambik commented on #56832
Unfortunately I cannot use the workaround when using a role from galaxy, without changing the role myself (which would be a hassle when updating it)

[2019-08-13 13:23] rnowagk commented on #56634
Seeing this in too in Ansible 2.8.3:

The 'append_tags' semantics is only working when setting own, actual 'tags' with your module call
(It could be a workaround to append some dummy tag, just to preserve the existing group tags.)

Without tags, the 'tag merge' code section is not called at all:

[code]

I could fix it by
[code]

[2019-08-13 13:27] #60399 closed, assigned to goneri

[2019-08-13 13:34] damiandiaz76 commented on #60244
@Fred-sun
The A records in your result set show multiple IP addresses.  I believe this shows that you did not configure the A record for "Alias Type" of "Azure Resource".  Does your test case include this type of A record.

https://docs.microsoft.com/en-us/azure/dns/dns-alias

[2019-08-13 13:43] Akasurde commented on #60458
Hi @abhilashsk900 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This a

[2019-08-13 13:43] #60458 closed, assigned to nobody

[2019-08-13 13:44] deepakpal-in opened #60491 "Not able to upload .tar file to artifactory using ansible uri module"
##### SUMMARY
Not able to upload .tar file to artifactory using ansible uri module.
When ever I am running this playbook it creates an empty file at target artifactory.

my ansible version: 2.7.8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible uri:

https://docs.ansible.com/ansible/2.7/modules/uri_module.html?highlight=uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2019-08-13 13:52] equinox0815 commented on #56930
```force_valid_group_names = ignore```

[2019-08-13 14:03] agowa opened #60493 "win_domain reboot required exception incorrectly reported"
##### SUMMARY
If the module fails because a reboot is pending it is stated in the exception message, but reboot_required is still false.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_domain

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE
Rename the computer and than run win_domain.

##### EXPECTED RESULTS
The task failing, b

[2019-08-13 14:07] sivel commented on #60481
!component =lib/ansible/modules/cloud/openstack/os_server.py

[2019-08-13 14:09] D3DeFi commented on #59624
Sorry that I've been quiet for these past days, I really wasn't able to dedicate much of my time to this.

I had couple of minutes to spare and was able to verify your proposed solution. You can test it by yourself via [this gist](https://gist.github.com/D3DeFi/e3345457ced0225a9da34da654e60b77).

However, I have no time to incorporate it to the module itself for now. Until then:
needs_contributor

[2019-08-13 14:37] sivel commented on #43550
The output indicates that ssh is terminating with an exit code of 255:
[code]

As such, ansible is interpreting that as a failure.

You could try running the ssh command from the output with added verbosity to see if it indicates what the failure might be:

[code]

needs_info

[2019-08-13 14:37] #57770 closed, assigned to nobody

[2019-08-13 14:44] richlv commented on #59624
Neat, thank you so much for trying it out.
Module approach would need some way to say "this template goes to that interface", which would likely mean identifying interface by type/address, perhaps?
No development skills for me.

We have a verified potential solution now, that's something :)

[2019-08-13 14:47] acozine commented on #12533
Closed by #60492. Thanks @jsutton.

[2019-08-13 14:47] #12533 closed, assigned to bcoca

[2019-08-13 15:07] bcoca commented on #60296
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-13 15:07] #60296 closed, assigned to nobody

[2019-08-13 15:12] mattzuba opened #60497 "pamd module: cannot remove line when it is the first line of the file"
##### SUMMARY
I have a pam.d file which has no comments and only pam directives in it.  I was attempting to remove the very first one, which is also the first line of the file.  This results in an error.  By adding a dummy comment to the file as the first line, I was able to successfully remove the line I needed.

My guess is that because the [append](https://github.com/ansible/ansible/blob/devel/

[2019-08-13 15:17] L1ghtn1ng commented on #60296
This is not a user question this is a RFE
________________________________
From: Brian Coca <notifications@github.com>
Sent: Tuesday, August 13, 2019 4:09:33 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: J.Townsend <townsend891@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] group module: support creating multiple groups (#60296)

List Information

Hi!

Th

[2019-08-13 15:18] bcoca commented on #60345
!component =lib/ansible/modules/cloud/amazon/route53_info.py

[2019-08-13 15:27] sivel commented on #60314
This error is indicating that `haproxy` could not be found. You may need to specify the full path to the `haproxy` binary.

We may be able to improve the error, but as of right now, this isn't an easy fix to provide a better error.

[2019-08-13 15:28] bcoca commented on #60413
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we consider that adding a 'herdoc' into plays makes them a lot less readable and keeping a script in it's own file ensures you can debug it independently.

However, we're absolutely always up for discussion.
Since this i

[2019-08-13 15:28] #60413 closed, assigned to nobody

[2019-08-13 15:36] bcoca commented on #60460
already fixed in devel

[2019-08-13 15:36] #60460 closed, assigned to nobody

[2019-08-13 15:38] sivel commented on #60465
!component =lib/ansible/plugins/lookup/nios_next_ip.py

[2019-08-13 15:42] sivel commented on #60472
It appears as though you have a broken install consisting of multiple versions of Ansible. You may have modules from an older version of Ansible installed in /usr/share/ansible.

Please use the mailing lists for additional assistance.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-13 15:42] #60472 closed, assigned to nobody

[2019-08-13 15:43] mathieucoavoux commented on #60460
This is not fixed in the release 2.7.12 committed on 2nd July. This is only fixed in branch 2.8
Shall we consider the branch 2.7 as obsolete ?
Have you reviewed the merge request ? This is a single line to merge

[2019-08-13 15:46] jbarotin commented on #41313
As @bcoca say @cesarjorgemartinez you should try put this in a yml file let's say flush_handlers.yml
[code]
And then run
[code]

[2019-08-13 15:49] bcoca commented on #60364
Ansible itself does not provide ssh servers for the target platforms, it assumes there is some way to communicate with them already.  Then you can use one of the existing connection plugins and try to manage the remote, it might work or might not with existing ssh plugins. Try and then we can explore updating existing plugins to support this or look at a specific connection plugin to support this

[2019-08-13 15:49] #60364 closed, assigned to nobody

[2019-08-13 15:50] bcoca commented on #60403
2.0 has been unsupported for a long time, please try using a newer (supported) version of Ansible and open a ticket if the problem still persists.

[2019-08-13 15:50] #60403 closed, assigned to nobody

[2019-08-13 15:52] bcoca commented on #60445
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated. Tags are NOT meant to skip imports, only task execution, `roles:` imports a role as it can also setup variables, provide plugins and/or

[2019-08-13 15:52] #60445 closed, assigned to nobody

[2019-08-13 15:52] samdoran commented on #60335
Updating the documentation is a good idea. However, I am not entirely happy how this warning is playing out. It is generating more confusion than help.

In hindsight, the way I should have implemented this was as an opt-in feature for string checking  of string types that module authors could leverage rather than warning on all string conversions, many of which are working just fine.

I will work

[2019-08-13 15:56] felixfontein commented on #60335
@samdoran maybe it would help if module authors could add a list of "types which are allowed to be converted"? So that if something expects an int or a port range (for example), conversion from int should be allowed (but not from float).

[2019-08-13 16:01] samdoran commented on #60335
@felixfontein I'm not sure. This all seems to be adding a lot of noise and complexity for very little gain.

[2019-08-13 16:53] sivel commented on #47298
This behavior is simply not something that we intend on supporting.  We do not template hash keys, only the values.  You may be able to get the behavior by creating a template that produces JSON or YAML and then use the `from_json` or `from_yaml` filters to parse that data.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing l

[2019-08-13 16:53] #47298 closed, assigned to nobody

[2019-08-13 16:56] sfuerte opened #60501 "`ansible_connection` variable precedence is ignored"
##### SUMMARY
Using `ansible_connection` under `group_vars` leading to some unexpected results. As per [Variable precedence](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable) section of the documentation, host's inventory should win over `all.yml` in the same directory. It's not the case though.

##### ISSUE TYPE
- ~Bug R

[2019-08-13 16:57] BryanFogleman opened #60502 "Ansible-pull module - GitHub link goes to 404 page."
##### SUMMARY

GitHub links to wrong or missing page.

##### ISSUE TYPE
- Documentation Report
bad link

##### COMPONENT NAME

ansible-pull

docs/docsite/rst/cli  hasn't been in tree for several releases

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-08-13 17:00] sivel commented on #46349
I am unable to reproduce this on any current version of Ansible.

If you are still experiencing problems, please feel free to open a new issue, tested against a currently supported version of Ansible, with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2019-08-13 17:00] #46349 closed, assigned to nobody

[2019-08-13 17:01] BryanFogleman commented on #60502
Ansible-pull module page --  github link goes to a 404 page.
https://docs.ansible.com/ansible/latest/cli/ansible-pull.html
Top right corner of the GitHub link goes to missing page.

[2019-08-13 17:13] ac-hibbert opened #60503 "aws_ses_identity module, ignoring verification_status failed"
##### SUMMARY

Unable to use either failed_when or ignore_errors as get the following kind of error messages:-

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_ses_identity

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os -> AWS SES

##### STEPS TO REPRODUCE

Add the following to a task to create an ses email identity "aws_ses_ide

[2019-08-13 17:13] sivel commented on #43011
!component =lib/ansible/modules/files/ini_file.py

[2019-08-13 17:14] sivel commented on #43239
!component =lib/ansible/modules/identity/ipa/ipa_vault.py

[2019-08-13 17:15] sivel commented on #43165
Closing per above.

[2019-08-13 17:15] #43165 closed, assigned to nobody

[2019-08-13 17:16] sivel commented on #42586
!component =lib/ansible/modules/database/mysql/mysql_db.py

[2019-08-13 17:27] sivel commented on #42186
This issue appears to have been resolved in Ansible 2.7.0

If you are still having problems, please open a new issue with a full reproducer tested against a currently supported version of Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-13 17:27] #42186 closed, assigned to nobody

[2019-08-13 17:27] IndikaMaligaspe commented on #60472
Thanks Sivel, yes that was the problem, I removed the older version and everything is working without an issue.

[2019-08-13 17:53] mariolenz commented on #60408
@arjunprakashn I've added a new parameter `host_isolation_response` which can be `none`, `powerOff` or `shutdown` to PR #60233. Can you please have a look at it?

It's a new module but I was afraid vmware_cluster would become too big and therefore hard to maintain if we put all DRS, HA and VSAN settings in there.

[2019-08-13 18:27] mitchellmaler opened #60510 "k8s module shows diff changes for metadata added by default when we changed nothing"
##### SUMMARY
Using the k8s module running in --check and --diff modes shows metadata that would be removed which is data automatically added by kubernetes.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Kubernetes 1.14.1

##### STEPS TO REPRODUCE

Using the k8s module add kubernetes object. Run a

[2019-08-13 18:54] badstreff commented on #51580
Currently seeing this issue as well

[2019-08-13 19:06] ssbertilson commented on #42090
It seems to me that the behavior of this module should depend upon the underlying behavior of the chosen archive method.  "tar" doesn't normally look at the referenced location of a symlink so if that method is chosen the left-side of the link should be archived with no attempt whatsoever to do anything with the referenced location.  "zip" isn't capable of archiving symlinks so the archive module

[2019-08-13 19:29] orthanc commented on #60503
@hibbert can you post an example of the task you're using to call the `aws_ses_identity` module?

These options like `ignore_errors` are not handled by the modules but by ansible before / after calling a module, so it seems unlikely (anything's possible) that it's broken specifically for the `aws_ses_identity` module.

Also, can you double check that in your task the ignore errors option is at the

[2019-08-13 19:51] sfuerte commented on #60501
to add to the above, looks like any file is ignored under `group_vars` folder except `all.yml`. Changing folder structure (as per https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#alternative-directory-layout) doesn't help:
[code]

[2019-08-13 19:53] sivel commented on #60501
@sfuerte files under `group_vars` must match the name of groups you have defined in your inventory.  `localhost` is a host, and not a group, and thus it's not used.  the `host_vars` directory is where you would place host specific variables. The names of files inside of `host_vars` match that of the hostnames in inventory.

[2019-08-13 19:56] ian-kelling opened #60512 "Free strategy + include_task leads to wrong tasks running"
##### SUMMARY

The free strategy, include_tasks will skip some hosts,
sometimes run twice on some hosts, sometimes run on a host
despite a when: "'groupx' not in group_names".

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### ISSUE TYPE
- Bug Report

##### OS / ENVIRONMENT

trisquel 8 (derivative of ubuntu 16.04)

##### STEPS TO REPRODUCE

I already spent over a day tracking this

[2019-08-13 20:04] sfuerte commented on #60501
@sivel, thanks for the hint. I guess the documentation should be updated about it somewhere. I was specifically looking for file naming conventions and requirements and didn't see it at all.

[2019-08-13 20:08] pabelanger commented on #60227
we tested, and things look good. We also added a way to trigger our python37 jobs for some network jobs too. For that you'd leave 'check experimental' comment, no quotes. I can demo below

[2019-08-13 20:08] pabelanger commented on #60227
check experimental

[2019-08-13 20:24] mitchellmaler commented on #60510
After some more testing it seems like anything added to any fields (metadata, spec, etc.) automatically will then be pulled back as a diff when ran in check mode so it isn't just limited to the metadata.

[2019-08-13 20:32] felixfontein opened #60514 "Azure cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60515 "CloudStack cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60516 "Hetzner Cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60517 "Online cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60518 "OpenStack cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60519 "oVirt cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60520 "Scaleway cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60521 "Vultr cloud _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60522 "OneView _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60523 "Redfish _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60524 "Netapp _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60525 "Pure Storage _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:33] felixfontein opened #60526 "ZFS _facts modules need to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that the following modules do not satisfy this

[2019-08-13 20:36] #59202 closed, assigned to jborean93

[2019-08-13 20:36] #59584 closed, assigned to jborean93

[2019-08-13 20:38] jborean93 commented on #59202
@ironfroggy this has been fixed with https://github.com/ansible/ansible/pull/59957 but support for this will ultimately go away due to it being hacked in.

[2019-08-13 20:43] Thomas-sudo opened #60528 "Azure Storage Account - Clear and disable Blob CORS not working"
##### SUMMARY

During a Storage Account update with the azure_rm_storageaccount module (https://docs.ansible.com/ansible/latest/modules/azure_rm_storageaccount_module.html#azure-rm-storageaccount-module) setting parameter blob_cors: [] dose not clear Blob CORS rules and disable blob service as the linked documentation says it should. Instead it is left unedited while all other parameters are corre

[2019-08-13 20:43] mamash commented on #60363
I believe 3b08e75eb2336950e0d1a617fa89ff9afb43bc72 fixes this, so we're just waiting for a new release.

[2019-08-13 20:50] felixfontein opened #60530 "digital_ocean_sshkey_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60531 "rax_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60532 "smartos_image_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60533 "vmware_host_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60534 "vertica_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60535 "onepassword_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60536 "logicmonitor_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60537 "snmp_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60538 "hpilo_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60539 "gluster_heal_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:50] felixfontein opened #60540 "nginx_status_facts needs to be renamed to _info and stop returning ansible_facts"
##### SUMMARY
According to the [requirements](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements), `_facts` modules should return information that is specific to the host the module runs on as `ansible_facts`. (See also ansible/ansible#54280 for some discussion.)

I think that this module do not satisfy this condition:

[2019-08-13 20:53] sivel commented on #60531
I don't manage this module any longer, but the data it returns is typically what we considered host facts, things that would effectively mirror those things that the rax inventory would have provided.

[2019-08-13 21:02] gabrielhesposito opened #60543 "sumologic callback not referencing SUMOLOGIC_URL on OSX"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

playbook should work per
https://docs.ansible.com/ansible/latest/plugins/callback/sumologic.html
when `env:SUMOLOGIC_URL`
is defined

##### ACTUAL RESULTS

the playbook works when th

[2019-08-13 21:04] gabrielhesposito commented on #60543
@ryancurrah  any thoughts why I can't get the `SUMOLOGIC_URL` env variable to work ?

[2019-08-13 21:09] #47815 closed, assigned to nobody

[2019-08-13 21:21] #51174 closed, assigned to nobody

[2019-08-13 21:24] pmarques commented on #60530
On it

[2019-08-13 21:29] pmarques commented on #60530
On it, related to this issue #57276, we completely missed this one 😮

[2019-08-13 21:35] Rylon commented on #60535
Hi @felixfontein no worries, that makes total sense. I think for this module, renaming it to `_info` makes the most sense, I will check the links and make the necessary changes when I have some spare time :)

[2019-08-13 22:56] mattclay commented on #59890
I was able to repro with the following patch to the `collections` integration test:

[code]

The test command was: `ansible-test integration collections -v`

Resulting in an error:

[code]

[2019-08-13 23:47] #59320 closed, assigned to jborean93

[2019-08-14 00:41] willthames commented on #60510
Thanks @mitchellmaler - looks like that might be a bug in `apply`, turned on by default in (future) 2.9

Can you confirm that by running it with `apply: no` set?

[2019-08-14 00:45] sunshine69 commented on #56930
What is the future version of ansible regrading to this issues? Will at some time ansible will reject all dashes in group name without a  work around using `force_valid_group_names` ? (without hearing feedback from users who has suffered by the change, and who has never suffered the issues by using hyphen in group names)

[2019-08-14 01:41] kbrowder commented on #48055
FYI I basically applied #48870 locally and it seemed OK on Fedora 30.
@bcoca I guess in principal the following could be done:
[code]
Not the most elegant thing but should work both ways...

[2019-08-14 02:09] blackhair3000 opened #60551 "if win_chocolatey can install Visual studio community?"
when I install vs community it always had errors

[code]

So , I wander if win_chocolatey could install the Vistual studio?

[2019-08-14 02:13] jborean93 commented on #60551
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-14 02:13] #60551 closed, assigned to nobody

[2019-08-14 02:31] mlda065 commented on #60120
My playbook passes when run manually. But when I run it as an integration test with docker it fails.

I've create a PR so you can have a look.
Can you please help me figure out why my integration test fails when hooked in to the framework, but passes when run as a standalone playbook? (Details in the PR)

[2019-08-14 02:44] Fred-sun commented on #60244
@damiandiaz76 Yes, you are right, I am not configure the A record for "Alias Type" of "Azure Resource". When add the configure, will meet same fail info as your! Thank you very much!

[2019-08-14 02:57] Fred-sun commented on #60244
@yungezz @zikalino Would you please take a look at this issue? This should be the bug of azure_rm_dnsrecordset_facts module. Thanks!

[2019-08-14 05:23] Akasurde commented on #60543
@gabrielhesposito Thanks for reporting this issue. Could you please check Ansible controller is resolvable ?

[code]

Hint: Adding a hostname entry with resolvable IP in /etc/hosts might solve the issue.

needs_info

[2019-08-14 05:24] Akasurde commented on #60543
!component =lib/ansible/plugins/callback/sumologic.py

[2019-08-14 05:34] LKaemmerling commented on #60516
We are booth on vacation this week and will return next week. We will deprecate and rename the modules then.

We had this already in https://github.com/ansible/ansible/pull/54518 and @gundalow merged it as _facts before the 2.8 release was dropped.

[2019-08-14 05:35] Akasurde commented on #60533
@felixfontein `vmware_host_facts` actually returns facts about ESXi hostsystem. So not sure if this module should be renamed ?

Let me know your thoughts ?

[2019-08-14 06:02] jborean93 commented on #60316
@chrismeyersfsu I've just opened https://github.com/ansible/ansible/pull/60553 which allows you to define multiple Galaxy servers in the `ansible.cfg` file which are then used in the install process. From some basic tests it works fine but I am still need to do some more in depth testing tomorrow. Happy for you to give it a try and review the PR.

[2019-08-14 06:16] felixfontein commented on #60515
I don't think this applies to the [cs_facts](https://docs.ansible.com/ansible/devel/modules/cs_facts_module.html#cs-facts-module) module, since that one needs to be run on the instance itself.

[2019-08-14 06:19] robertdebock opened #60554 "version filter gives warning in when statement"
##### SUMMARY
[The documentation on the `version` filter](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#version-comparison) shows an example that triggers a warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
version

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: Fedora 30.

##### STEPS TO REPRODUCE
[code]

#####

[2019-08-14 06:32] felixfontein commented on #60535
@Rylon great, thanks! Please ping me if you need help or hints or whatever :)

[2019-08-14 07:08] Fred-sun commented on #52082
@MyronFanQiu To create keyvaultsecret fail maybe caused of keyvault access policy is disabled  ,but how to grant secret policy of the vault to the service principal? Please help! Thank you very much!

[2019-08-14 07:19] sigquit opened #60556 "fortios_config - Failed while reading configuration backup"
##### SUMMARY

After upgrading to ansible 2.8.3 (from 2.7.9), I get this error: {"msg": "Failed while reading configuration backup"}

I guess after the recent update "https://github.com/ansible/ansible/pull/50801"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fortios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2019-08-14 07:25] mcpaint commented on #60556
👍

[2019-08-14 07:43] #60450 closed, assigned to samdoran

[2019-08-14 08:40] koladiya commented on #37991
@justjais At the moment, I don't have access to ios-xe devices.
I hope I'll get access soon.

[2019-08-14 08:42] xmfreak commented on #58391
I can confirm this issue. Apparently the fix has already been commited to the ansible devel branch according to #57897.

[2019-08-14 08:54] Andersson007 commented on #59955
@mullaiarasu hey, https://github.com/ansible/ansible/pull/60559 please, look

[2019-08-14 09:18] Yannis100 commented on #58654
Hi,
According to the latest documentation, the value has to be a string [silently, always, ignore, never] and not a boolean
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars

[2019-08-14 09:23] #59232 closed, assigned to nobody

[2019-08-14 10:07] #56872 closed, assigned to nobody

[2019-08-14 10:08] #46768 closed, assigned to nobody

[2019-08-14 10:17] Fred-sun commented on #59096
@carbolymer Unable to replicate the problem you encountered. Can you uninstall and reinstall Ansible to retest? Thank you very much!

[2019-08-14 10:20] Akasurde commented on #60554
@robertdebock You might want to try like this -

[code]

[2019-08-14 10:42] anthonygreen opened #60560 "lookup aws_secret parameter not behaving as described in documentation"
##### SUMMARY
[code]
results in
[code]
`export AWS_REGION=eu-west-1 ; ansible-playbook jenkins.yml -vvvv`
results in
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup aws_secret

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
OS X 10.13.6

##### STEPS TO REPRODUCE

- set_fact:
    credentials: "{{ lookup('aws_secret', 'example_credentials') }}"

[2019-08-14 11:00] Adam2Marsh commented on #35606
+1 to have this implemted

[2019-08-14 11:55] kr3ator commented on #58978
New PR for the devel branch created under #60459.

[2019-08-14 11:58] goneri opened #60565 "vmware_guest_screenshot: AttributeError: 'PyVmomiHelper' object has no attribute 'get_parent_datacenter'"
##### SUMMARY

If the `datacenter` key is not defined, `vmware_guest_screenshot` while fail with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_screenshot

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

https://github.com/ansible/ansible/blob/d8d00c36fa41ddc384966249005f7a922ead43c1/test/integration/targets/vmware_guest_screenshot/tasks/ma

[2019-08-14 12:06] goneri commented on #60565
Hi @Tomorrow9, could you take a look at this issue. I'm not sure if this is a regression.

[2019-08-14 12:08] drybjed opened #60567 "'mysql_user' module is not idempotent on Python 3.7"
##### SUMMARY

The `mysql_user` module always reports the "changed" state on hosts with Python 3.7 set as the inrerpreter. The changed message points to https://github.com/ansible/ansible/commit/9c5275092f4759c87d4cd938a73368955934b9b9 commit as the possible culprit; the changed state shows up on Ansible 2.8.0+, but not on Ansible 2.7.0+. The actual functionality (creation of the MySQL user accoun

[2019-08-14 12:10] goneri commented on #60565
!component =./lib/ansible/modules/cloud/vmware/vmware_guest_screenshot.py

[2019-08-14 12:13] marcemv commented on #35611
Hello,

Solution provided by @imjoseangel may work if some cases, but If a task is tagged as "always", it will be executed as soon as all the play is not failing, but if a previous task fails, next tasks won't be executed, even if they are tagged as "always".

**Example:**
[code]

What I do to workaround this is to register the task that creates the temporary file and use a handler to remove those

[2019-08-14 12:27] mit0223 opened #60568 "docker_swarm_service does not publish both tcp and udp ports for same published port."
##### SUMMARY
docker_swarm_service does not publish both tcp and udp ports for same published port.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

client: macOS Mojave 10.14.6
remote: centos 7.6.1810 on Virtualbox

##### STEPS TO REPRODUCE

I built a powerdns container image as  p-hive2.

[2019-08-14 12:49] felixfontein commented on #60533
This is a bit of a gray area; after some discussion on IRC, the conclusion is to keep this module as-is.

[2019-08-14 12:49] #60533 closed, assigned to nobody

[2019-08-14 12:50] felixfontein commented on #60531
This is a bit of a gray area; after some discussion on IRC, the conclusion is to keep this module as-is.

[2019-08-14 12:50] #60531 closed, assigned to nobody

[2019-08-14 12:53] abhilashsk900 opened #60570 "name or service not known ssh"
i have 2 operating systems one is ubuntu and cent-os
when i do ssh it is connecting from windows machine
i want to copy the .ssh key from ubuntu to centos
when i run "ssh-copy-id root@192.168.0.22"
i get the following error
"/usr/bin/ssh-copy-id: INFO: Source of key(s) to be installed: "/home/ansible/.ssh/id_rsa.pub"
/usr/bin/ssh-copy-id: INFO: attempting to log in with the new key(s), to filter o

[2019-08-14 13:01] willthames commented on #60510
I've reproduced this with a new test in the test suite now.

Now I just have to fix the broken test!

[2019-08-14 13:15] gabrielhesposito commented on #60543
@Akasurde thanks that looks like it might be the issue
[code]

[2019-08-14 13:17] cesarjorgemartinez commented on #56930
Hi,
I see the same warning, but, I don't understand what I should change, and if we should change it.
Is it something related to python?
Howto resolve?

If I ignore with force_valid_group_names = ignore, it would be with that necessary, I upgrade to Ansible >= 2.10?

Regards,
Cesar Jorge

[2019-08-14 13:21] Timoses commented on #54493
Any progess on this?

[2019-08-14 13:21] anthonygreen commented on #60560
Misconfiguration

[2019-08-14 13:21] #60560 closed, assigned to nobody

[2019-08-14 13:45] NilashishC commented on #60440
Do you face the same issue while copying the file directly from the CLI?

needs_info

[2019-08-14 13:51] NilashishC commented on #60224
cc @adharshsrivatsr

[2019-08-14 14:03] sivel commented on #60565
!component =lib/ansible/modules/cloud/vmware/vmware_guest_screenshot.py

[2019-08-14 14:12] carbolymer commented on #59096
Issue is still present on my system. That's probably due to specific packages versions'. FYI: this PR fixes it: https://github.com/ansible/ansible/pull/59097

[2019-08-14 14:14] equinox0815 commented on #56930
If i understand [this](https://github.com/ansible/ansible/issues/56930#issuecomment-516863432) correctly. The only thing that is deprecated is the automatic transformation of group names. This means it should be totally fine to set `force_valid_group_names = ignore` after 2.10 and beyond.

It should also be totally fine to continue to use dashes and whatever you wan't in group names. What Ansible

[2019-08-14 14:22] Tiki-God opened #60576 "Puppet module concatenating noop and manifest arguments"
##### SUMMARY
When using the puppet module it looks like path to the manifest is being concatenated on to the end of the noop argument resulting in errors such as:

[code]

I believe this is due to a lack of trailing space when the command line is being constructed around line 266 in puppet.py.  Note that this error doesn't occur when ansible-playbook is run with --check as that constructs the com

[2019-08-14 14:22] jwitko commented on #60568
@mit0223 Great catch.  Did you plan to submit a PR for this?  It's fine if not, just don't want to duplicate any effort.

I think a simple fix here would be to type cast that dict key as a string and append the protocol to it.  Small example, but this would have to be handled in multiple places:
[code]

[2019-08-14 14:30] sivel commented on #60570
`ssh-copy-id` is not maintained by Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-14 14:30] #60570 closed, assigned to nobody

[2019-08-14 14:39] coderamblings opened #60577 "gcp_compute_instance_facts google-auth error despite other gcp_ modules working"
##### SUMMARY

Trying to obtain facts using gcp_compute_instance_facts results in

error message, despite it being installed and gcp dynamic inventory and gcp_compute_disk modules working.
python, ansible, google-auth, requests are installed globally on the system - to avoid any implicit/explicit localhost issues with venv.
Fedora 30. Seems similar to [https://github.com/ansible/ansible/issues/461

[2019-08-14 14:46] mitchellmaler commented on #60510
@willthames I tested it with apply: no and it reverted to how it used to work and shows no changes as expected.

[2019-08-14 14:46] gabrielhesposito commented on #60543
@Akasurde it works now after host modification
[code]
additionally the sumologic callback works with the `env` var where as before it required a hardcoded config entry.
entry in `/etc/hosts`
[code]

[2019-08-14 14:46] #60543 closed, assigned to nobody

[2019-08-14 14:49] raatti commented on #26581
Also waiting for this...

[2019-08-14 14:56] abadger opened #60578 "ec2 verify parameter is overridden if profile is set"
##### SUMMARY

I was looking at the code in ```get_aws_connection_info``` https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.py#L200 and think I found a bug with validate_certs and profile.

If, in your playbook, you set
[code]

the code will set ```boto_params['verify'] = validate_certs``` here https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.py#L

[2019-08-14 14:57] reitzig commented on #59232
Thanks @felixfontein !

[2019-08-14 15:19] diasjorge commented on #55988
I needed this feature and found this issue. The workaround is good.

[2019-08-14 15:31] abadger opened #60580 "get_aws_connection_info: profile and credentials should be mutually exclusive on boto3"
##### SUMMARY
I was looking at the code in ```get_aws_connection_info``` https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.py#L200 and think I found a bug with profile and other credentials.

If the user explicitly specifies both profile and other credentials (like security_token) in the playbook, profile silently overrides any of the given credentials.  This is undesirabl

[2019-08-14 15:46] Inilien opened #60583 "json_query does not work with zipped lists"
##### SUMMARY
json_query fails when a zipped list was given.

##### ISSUE TYPE
I would like to be able to zip 2 lists and provide the result as an input to the `json_query` filter

##### COMPONENT NAME
json_query
zip

##### ADDITIONAL INFORMATION

Here is an example from my playbook for creating users.
`vnd_r_users` is a list of dict objects containing key-value data for each user to be created.
[

[2019-08-14 15:46] petarnikolovski opened #60584 "gcp_compute plugin: 'NoneType' object has no attribute 'get'"
##### SUMMARY

The gcp dynamic inventory fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- `gcp_compute`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04

##### STEPS TO REPRODUCE

Enable `gcp_compute` plugin in the inventory section of `ansible.cfg`:

[code]

Make `inventory.gcp.yml` file:

[code]
Try to list inventories:

[code]

###

[2019-08-14 15:52] xmfreak commented on #31117
It is working. Just started working with this module today. Documentation is not clear, but it works. You should put the values key at the same level as chart key, not inside it. So, as an example:

- name: Install chart
  helm:
    host: localhost
    chart:
      name: chart-name
      source:
        type: repo
        location: https://kubernetes-charts.storage.googleapis.com
    values:

[2019-08-14 16:09] felixfontein commented on #60568
@jwitko that won't work, docker-py expects the key to be the target port. It looks to me like this is a bug in docker-py: it does not allow the same published port to be used for both TCP and UDP.

(In docker_container, a similar dict is set up: there, `port['published_port']` can be a list of tuples. So you can have two tuples for the same published port, one for TCP and one for UDP.)

There's a

[2019-08-14 16:10] xmfreak commented on #31117
I started working today with this module and the workaround I found for this is to include the values as a variable in the inventory group_vars to populate the variables in the role where you are using the module. As an example, in group_vars -> all.yml:

[code]

Then, from the ansible task:

[code]

I guess you can also use include_vars when calling the role with the files you need to use.

[2019-08-14 16:11] xmfreak commented on #31117
I started working today with this module and the workaround I found for this is to include the values as a variable in the inventory group_vars to populate the variables in the role where you are using the module. As an example, in group_vars -> all.yml:

[code]

Then, from the ansible task:

[code]

I guess you can also use include_vars when calling the role with the files you need to use.

[2019-08-14 16:26] dappcin opened #60586 "eos_facts fails with error "LocalEapi instance has no attribute 'get_capabilities'""
##### SUMMARY
when eos_facts is invoked in a task to gather information from an Arista switch, the task fails consistently in ansible 2.8.0 and 2.8.3. Up until Ansible 2.7.12, the task worked.

This occurs with any combination of the gather_subset parameter: all, interfaces, config, etc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
    eos_facts:
      gather_subset: all

##### ANSIBLE VER

[2019-08-14 16:26] goneri commented on #60565
Thanks @sivel, I guess the leading `./` was a problem.

[2019-08-14 16:37] #60586 closed, assigned to nobody

[2019-08-14 16:52] anshulbehl opened #60587 "ansible-doc failing on specific line in documentation"
##### SUMMARY

anisble-doc is failing on below line
https://github.com/dynatrace-innovationlab/ansible_dynatrace_problem_comment/blob/master/library/dynatrace_comment.py#L47
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-doc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

ansible-doc changes the line to something like belo

[2019-08-14 16:57] ironfroggy opened #60588 "Recent ansible-galaxy change broke token config for new users"
##### SUMMARY
A recent change (https://github.com/ansible/ansible/pull/59387/files) broke token login for new users for whom the `~/.ansible/` directory does not already exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-galaxy`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Have a branch new environment on which n

[2019-08-14 17:13] imjoseangel commented on #35611
@marceemv just to clarify: A task after the **always** in a **block** will run always. The scenario you put forward is a different approach and very nice one.

Thanks!

[2019-08-14 17:34] zetera44 opened #60589 "fatal: [E3]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Received disconnect from"
##### SUMMARY

I am new to Ansible and currently whenever I try to run my playbook I get an error "fatal: [E3]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Received disconnect from 76.81.200.163 port 30003:2: Bad string Length\r\nDisconnected from 76.81.200.163 port 30003", "unreachable": true}"

This is the same across all devices in the inventory file.

####

[2019-08-14 17:35] markatdxb opened #60590 "win_ping occasionally throws FATAL error"
##### SUMMARY

occasionally we get FATAL error when testing if newly created VM is responding to winrm
"msg": "kerberos: authGSSClientStep() failed: (('Unspecified GSS failure.  Minor code may provide more information', 851968), ('Server not found in Kerberos database', -1765328377))",
    "unreachable": true,
    "changed": false
it crashed the play even with ignore_errors set to true

we have mu

[2019-08-14 17:39] mariolenz commented on #58757
Can you please have a look at PR #60233? It's a new module but I was afraid vmware_cluster would become too big and therefore hard to maintain if we put all DRS, HA and VSAN settings in there.

[2019-08-14 17:40] AmillerSC opened #60591 "Cisco IOS-XE: Delayed Prompt Issue"
##### SUMMARY
When entering the command `request platform software package clean switch all file flash:` we are expecting a delay of 15-30 seconds before a prompt of `Do you want to proceed? [y/n]` appears; to which entering 'y' without a CR would continue the process. This is not working with the code below:

` name: CLEAN UP OLD SOFTWARE
  ios_command:
    commands:
      - command: "request pla

[2019-08-14 17:41] dappcin opened #60592 "eos_facts fails with error "LocalEapi instance has no attribute 'get_capabilities'""
##### SUMMARY

when eos_facts is invoked in a task to gather information from an Arista switch, the task fails consistently in ansible 2.8.3. Up until Ansible 2.7.12, the task worked.

This occurs with any combination of the gather_subset parameter: all, interfaces, config, etc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

eos_facts:
  gather_subset: all

##### ANSIBLE VERSION

[code]

##

[2019-08-14 18:24] robertdebock commented on #60554
That's a great hint, I'll make a pull request for the documentation.

[2019-08-14 18:24] #60554 closed, assigned to Akasurde

[2019-08-14 18:34] sivel commented on #60587
Running this module through `validate-modules` produces the following error:

[code]

This shows that pyyaml is parsing that yaml into a `key: value` pair, instead of a string due to the inclusion of the `:`

If you wrap that whole line in single quotes the problem will be resolved.

[code]

We should probably catch that exception, and display some nicer error though.

[2019-08-14 18:44] ironfroggy commented on #59202
@jborean93 This seems to be fixed when the `role` or `collection` are used, but not with the backwards compatible implicit `role` form. A bare `ansible-galaxy -v[v[v]] info namespace.role` still exhibits the same issue. That is a backwards incompatible change without a deprecation release.

[2019-08-14 18:45] Rylan12 opened #60595 "Make sure systemd-python is installed instead of systemd"
##### SUMMARY

There are two packages on PYPI: [systemd (0.16.1)](https://pypi.org/project/systemd/), and [systemd-python (234)](https://pypi.org/project/systemd-python/) (which is the correct package)

If the target machine has systemd (0.16.1) installed with `pip3 install systemd` instead of `pip3 install systemd-python`, ansible fails on any module that uses `journal.sendv()` with an error sayi

[2019-08-14 18:50] sivel commented on #48131
Closing this per https://github.com/ansible/ansible/issues/48131#issuecomment-436458830

tags only affect tasks, and not variables. In the case of `roles:` or `import_roles` they are preprocessors and are merged into the play at playbook parsing time.

Use `include_role` as a task to dictate whether the role should be included or not.

If you have further questions please stop by IRC or the mailin

[2019-08-14 18:50] #48131 closed, assigned to nobody

[2019-08-14 18:55] JunqiZhang0 opened #60597 "module azure_rm_virtualmachine can't log in with ad_user and password"
##### SUMMARY

module azure_rm_virtualmachine can't log in with ad_user and password
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

fedora30

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

creating the vm

##### ACTUAL RESULTS

msg": "Failed to get credentials. Either pass a

[2019-08-14 18:58] ichekaldin commented on #23493
It looks like #38034 didn't make it. What would it take to move this forward?

[2019-08-14 19:30] #19620 closed, assigned to emonty, rcarrillocruz

[2019-08-14 19:30] acozine commented on #19620
Closed by #60494, thanks @rfbonett!

[2019-08-14 19:38] rambleraptor commented on #53965
Hi all! I've got a PR on our upstream code generator, Magic Modules. This creates a cloud function module (and facts module)

[2019-08-14 19:53] jborean93 commented on #59202
@ironfroggy thanks for testing that out, https://github.com/ansible/ansible/pull/60604 should fix that issue.

[2019-08-14 20:08] adisharoon commented on #23493
If it helps, we use a custom modified version of this module to get around this issue. It also supports DatapointsToAlarm and is boto3 compatible.

[ec2_metric_alarm.yml.txt](https://github.com/ansible/ansible/files/3503151/ec2_metric_alarm.yml.txt)

I've attached it (with an added '.txt' for GitHub).  Feel free to open a pull request or use it in any other capacity.

[2019-08-14 20:09] mnasiadka opened #60605 "docker_image_info does not pull image automatically"
##### SUMMARY

When using ~~docker_container_info~~ docker_image_info - if the image has not been pulled previously, it doesn't return anything (empty images) - although the run is successful.

It returns "images: []"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_image_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.6

##### STEPS T

[2019-08-14 20:16] rambleraptor commented on #48060
These should be fixed now!

close_me

[2019-08-14 20:16] #58892 closed, assigned to nobody

[2019-08-14 20:17] felixfontein commented on #60605
This issue seems to be about `docker_image_info`, not about `docker_container_info`, right?

Anyway, also for `docker_image_info`, this is not a bug, but the intended behavior. If you want to pull the image, or make sure it is pulled, use the `docker_image` module. The `docker_image_info` is an info module, and it is not supposed to change something. So pulling is out of question.

Also, by return

[2019-08-14 20:19] rfbonett commented on #19620
Happy to help :)

[2019-08-14 20:19] rambleraptor commented on #43466
service_account_contents is now of type 'jsonarg' which should fix this!

close_me

[2019-08-14 20:20] rambleraptor commented on #34049
close_me

[2019-08-14 20:22] mnasiadka commented on #60605
Correct, docker_image_info.
Ok - if that’s the intended behaviour - please update the docs - because it doesn’t say what does it mean, when Ansible prints an empty variable :-)

[2019-08-14 20:24] axelabs opened #60606 "cloudformation fails to remove a CF stack, or doesn't wait for success"
#### SUMMARY
I have a playbook with the following task:
[code]
Upon running the playbook with ansible-playbook 2.8.2, it outputs:
[code]
The command exits successfully but the underlying stack does not delete due to a dependency... Example from CF stack details:

[code]

I know why this dependency exists in my environment and I know how to clean it up but I do expect the task to not exist successf

[2019-08-14 20:51] #58245 closed, assigned to nobody

[2019-08-14 20:54] Rick-McClatchie commented on #60363
Ok. Thanks for pointing that out.

[2019-08-14 20:54] #60363 closed, assigned to nobody

[2019-08-14 22:26] tekno45 opened #60614 "s3_sync doesn't support applying a content type to all files"
##### SUMMARY
I am trying to upload a directory to s3 and apply a single mime type to all files uploaded

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 14 server

##### STEPS TO REPRODUCE

  applying a mime_map has no way of declaring all
It expects a dictionary but cannot be a wild card and m

[2019-08-14 22:40] mit0223 commented on #60568
I understand and work to make PR. but I have never made PR, so wait a while.

[2019-08-14 23:02] jborean93 commented on #60588
@ironfroggy https://github.com/ansible/ansible/pull/60615 should fix this for you.

[2019-08-15 01:57] vikramaditya234 opened #60619 "azure_rm_deployment doesn't expose full error details"
**ISSUE TYPE**

- Bug Report

**COMPONENT NAME**
azure/azure_rm_deployment

**ANSIBLE VERSION**
[code]

**SUMMARY**
azure_rm_deployment does not expose azure error details on the failure. This is related to the closed issue: https://github.com/ansible/ansible/issues/24084

**STEPS TO REPRODUCE**
Try to create a template with error and try to deploy:

[code]
**EXPECTED RESULTS**
Full error details,

[2019-08-15 02:06] dillongilmore commented on #58654
Yup, that was it.

[2019-08-15 02:06] #58654 closed, assigned to nobody

[2019-08-15 02:09] Fred-sun commented on #59134
@zikalino Please check whether the features in the comments match the design. Thank you very much!

[2019-08-15 02:55] Fred-sun commented on #59269
@yungezz @zikalino @yuwzho Please take a look when you are free! Thank you very much!

[2019-08-15 03:17] Tomorrow9 commented on #60565
Ok, I'll take a look at this. Thanks.

[2019-08-15 04:48] felixfontein commented on #60568
resolved_by_pr #60616

[2019-08-15 05:00] felixfontein commented on #60605
resolved_by_pr #60622

[2019-08-15 05:42] wainaxman commented on #35086
Duplicate of #26227

[2019-08-15 06:06] wainaxman commented on #35086
Using ignore_unreachable as propsed by @kinwolfqc in 26227 does the trick for me.

I have replicated the clear_host_errors issue with ansible 2.9.0-dev on python 2 and 3. In my case the apparently working stack would leave out arbitrary hosts leading us into a time consuming investigation. The symptom looks very weird (some tasks fire multiple times, host facts set on one host may jump to another(

[2019-08-15 07:20] Yannis100 commented on #59725
#60124
I've been working on it : https://github.com/Yannis100/ansible/pull/1/files
I'll create a pull request when I'm sure it's working as expected
Docs will need to be updated too

[2019-08-15 08:29] Fred-sun commented on #60597
@JunqiZhang0 Thank you for open this issue! I tried to execute your playbook in the virtual machine environments of Fedora and Ubuntu, but all the results were passed. But when the credentials were wrong, the following error would appear, which is a little similar to yours. Could you please help to provide the completed test results?
[code]

[2019-08-15 09:07] zok1995 commented on #59021
I have the same issue with OpenShift 3.9.
`ansible 2.8.2
Centos 7.6
python version = 2.7.5`

[2019-08-15 09:20] akira6592 opened #60627 "junos_user encrypted_password should be set no_log"
##### SUMMARY

junos_user encrypted_password option is no set no_log.
So, I get "[WARNING]: Module did not set no_log for encrypted_password"
It be set no_log.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_user module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

$ ansible-playbook -i inventory/inventory.ini junos_user.yml

- playbook

[cod

[2019-08-15 11:59] willthames commented on #60134
I'd just like to note that there are also some very hard lessons (the kind that come out of Post Incident Reviews) now encoded in ansible-role-kube-resource that would be more difficult to embed in k8s_template.

This assumes you ever manage a bunch of resources in a single template (an incredibly common pattern)

Basically there's a reason I loop across an `include_tasks`, and that's that if you

[2019-08-15 11:59] kenorb opened #60632 "uri: sourcing vaulted file doesn't work"
##### SUMMARY

I'm using `uri` module to send the vaulted file, but Ansible doesn't decrypt it.

[code]

Instead, it's sending raw vault format, despite specifying `--ask-vault-pass`.

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

macOS

##### STEPS TO REPRODUCE

1. Create a `file.json` wi

[2019-08-15 12:02] raags opened #60633 "Bug: ec2.py inventory cache doesn't work"
##### SUMMARY

A change introduced in https://github.com/ansible/ansible/pull/34742 adds a `cache_id` with the `hash()` of the ec2.py path. In python 3.3 and up, hash values of strings are [randomized](https://mail.python.org/pipermail/python-announce-list/2012-March/009394.html); causing the cache file to have unique values across runs.

This causes aws apis to be hit every time, and no caching o

[2019-08-15 12:17] kenorb commented on #60632
!component uri

[2019-08-15 12:47] jklaiho opened #60635 "gitlab_runner idempotency failure when registering shared runners"
##### SUMMARY
`gitlab_runner` is not idempotent when registering shared runners. Repeated runs of this task using a shared runner registration token cause duplicate runners to be registered.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_runner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant here.

##### OS / ENVIRONMENT
macOS Mojave host and target machines. Self-host

[2019-08-15 12:58] FragmentedPacket commented on #59725
I think there is already a PR for this

[2019-08-15 13:00] pandeyvineet opened #60636 "192.168.33.30 | UNREACHABLE! => { "changed": false, "msg": "Failed to connect to the host via ssh: Permission denied (publickey,password).", "unreachable": true }"
[vagrant.docx](https://github.com/ansible/ansible/files/3505574/vagrant.docx)

Attached word file .

[2019-08-15 13:05] pandeyvineet opened #60637 "mysql | UNREACHABLE! => { "changed": false, "msg": "Failed to connect to the host via ssh: Permission denied (publickey,password).", "unreachable": true }"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
[ansible.docx](https://github.com/ansible/ansible/files/3505586/ansible.docx)

[2019-08-15 13:28] D3DeFi commented on #58981
Hello @lukpre, were you able to compare hosts between your playbook execution? This issue has been silent for some time now and I wasn't able to reproduce it with multiple test.

Will be back in a week or so to close this if this stays without response.

[2019-08-15 13:29] Yannis100 commented on #59725
Yeah probably #55982
I checked and the solution for interfaces is better than mine in 1 point, it includes ip addresses
I filtered the values that are interesting to be used as variables

Anyway I also added region subgrouping, vlans as group vars for sites, slug usage, and group name trimming

My code is probably not the cleanest but it's working as expected (I had an issue when a site is not ass

[2019-08-15 13:57] pandeyvineet opened #60644 "Failed to connect to the host via ssh: Permission denied"
##### SUMMARY

Tried to run following command : [vagrant@client ~]$ ansible all -a "cat /etc/hosts". But got following error:
192.168.33.30 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,password).",
    "unreachable": true
}
apache | CHANGED | rc=0 >>
127.0.0.1       apache  apache
127.0.0.1   localhost localhost.localdoma

[2019-08-15 14:17] acozine commented on #39220
Side note: we describe the drawbacks of using common words as passwords in the docs [here](https://docs.ansible.com/ansible/devel/network/user_guide/faq.html#why-is-my-output-sometimes-replaced-with).

[2019-08-15 15:22] arjunprakashn commented on #60408
yes its worked ,thanks a lot for quick response

[2019-08-15 15:24] devopsian opened #60646 "tower_inventory module broken in ansible 2.8"
##### SUMMARY
Running the tower_inventory module under ansible 2.8 (with ansible tower 3.5)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_inventory.py

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run this task against a cluster to remove demo inventory

[code]

##### EXPECTED RESULTS
Expect inventory gets removed (assumi

[2019-08-15 15:26] arjunprakashn commented on #60409
@Akasurde yes it worked ,approved your PR also,thanks for quick help ,appreciate it

[2019-08-15 15:29] #51750 closed, assigned to nobody

[2019-08-15 16:08] sivel commented on #60577
!component =lib/ansible/modules/cloud/google/gcp_compute_instance_info.py

[2019-08-15 16:09] sivel commented on #60528
!component =lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py

[2019-08-15 16:10] sivel commented on #60465
bot_status

[2019-08-15 16:14] sivel commented on #60346
To record part of a conversation we had about this when triaging this issue:

We're concerned that if we default to `0.0.0` people aren't going to understand the implications of such a version, and will likely release a production version with incorrect versioning.

[2019-08-15 16:28] sivel commented on #28330
I'm going to proceed with closing this. This does sound like a mixed install of ansible which could happen while updating ansible while running ansible, which is not supported.

If you are still experiencing a problem with current releases of Ansible, please feel free to submit a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2019-08-15 16:28] #28330 closed, assigned to nobody

[2019-08-15 16:58] sivel commented on #60491
This functionality was previously confirmed to be working in https://github.com/ansible/ansible/pull/33689#issuecomment-376931243

[2019-08-15 16:59] jagibson commented on #60364
Nah DOS is too old OS2/Warp instead.

[2019-08-15 17:02] rambleraptor commented on #46235
I'm going to go ahead and close this. @funixz please refile this issue if this is still a problem!

close_me

[2019-08-15 17:34] Lunik commented on #60635
This module use the `gitlab.GitLab.runners.list()` function instead of the `gitlab.GitLab.runners.all()` because of a previous PR #57833.
There is also a open PR to enchance the runner registration #58840

[2019-08-15 18:13] sivel commented on #60637
Duplicate of https://github.com/ansible/ansible/issues/60644

[2019-08-15 18:13] #60637 closed, assigned to nobody

[2019-08-15 18:13] sivel commented on #60636
Duplicate of https://github.com/ansible/ansible/issues/60644

[2019-08-15 18:15] #60636 closed, assigned to nobody

[2019-08-15 18:20] ichekaldin commented on #23493
Nice, thank you!

[2019-08-15 18:26] sivel commented on #60577
bot_status

[2019-08-15 18:28] kbreit commented on #60346
That makes sense. I'm happy to close it based on this observation. Thank you.

[2019-08-15 18:28] #60346 closed, assigned to nobody

[2019-08-15 18:36] santoshkowshikhr opened #60656 "HTTPConnectionPool error"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ConnectionError: HTTPConnectionPool(host='192.168.1.140', port=5985): Max retries exceeded with url: /wsman (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fea674bb910>: Fai

[2019-08-15 19:05] sivel commented on #60528
bot_status

[2019-08-15 19:10] sivel commented on #60512
!component =lib/ansible/plugins/strategy/free.py

bot_status

[2019-08-15 19:20] sivel commented on #60589
[code]

[2019-08-15 19:22] sivel commented on #60589
This issue is not directly caused by Ansible, but is an error coming directly from SSH, and is likely caused by an inconsistent or bad internet connection.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-15 19:22] #60589 closed, assigned to nobody

[2019-08-15 19:40] sivel commented on #60644
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-15 19:40] #60644 closed, assigned to nobody

[2019-08-15 19:43] sivel commented on #60656
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-15 19:43] #60656 closed, assigned to nobody

[2019-08-15 19:45] Ownercz commented on #56636
Happened to me as well. Ubuntu 18.04.2 to 18.04.3 and Ansible 2.7 to 2.8.
<pre>
TASK [prep_os : apt dist-upgrade] **************************************************************************************Thursday 15 August 2019  21:19:01 +0200 (0:00:00.261)       0:01:52.750 *******
changed: [localhost]

TASK [prep_os : install additional packages] *****************************************************

[2019-08-15 19:59] sivel commented on #56636
I'm going to close this.  We cannot support this behavior.  Every code change we ever made would have to gracefully degrade in such a scenario.  The likelihood of this happening 2.8+ is less, but we cannot support a case where ansible is upgraded while ansible is running.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing lis

[2019-08-15 19:59] #56636 closed, assigned to nobody

[2019-08-15 20:43] felixfontein commented on #60525
resolved_by_pr #60641

[2019-08-15 20:43] #60525 closed, assigned to nobody

[2019-08-15 21:45] #60530 closed, assigned to nobody

[2019-08-15 22:03] jim5359 commented on #58243
I'm having the same problem.

[2019-08-15 22:08] JonasKs commented on #60465
As I commented in the related issue from `Infoblox-client`, I think it broke due to the bump of WAPI version from `1.4` to `2.1` in `Ansible 2.6`. I’ll look more into this tomorrow and raise a PR if I find a solution.

[2019-08-15 22:58] jillr commented on #53185
I've been looking at this and there's a hitch - the EC2 API lies.
At https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vpc_vgw.py#L402:L404
Usually the `sleep(5)` is long enough but every once in a while it isn't.  Tried swapping the sleep out for a waiter function, but it turns out that after the detach the API will actually report `VpnGateways[0].State` as `avail

[2019-08-16 00:21] willthames commented on #60134
Thinking about this some more, with decent error handling and the loop inside k8s_template, we could be safer from the problem I identify above.

One thing I find hard with the "run one huge manifest in a single task" approach is the lack of error reporting - ok, so my manifest failed because of applying a single resource, but which one? With a looped include_task approach I can name the task appr

[2019-08-16 01:49] arvindshmicrosoft opened #60661 "Unable to update existing Azure Virtual Machine Scale Set (VMSS) with new managed disks"
##### SUMMARY

When azure_rm_virtualmachinescaleset is used to add data disks to an existing VMSS, the operations errors out with KeyError: 'managed_disk_type'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachinescaleset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

1. Using the playbook below,

[2019-08-16 02:31] sigquit commented on #60556
The backup file was well generated, but TASK result is FAILED

[2019-08-16 03:27] EarlRamirez opened #60662 "iterateing through inventory"
##### SUMMARY

Looping through an inventory with a key:value pair.

##### ISSUE TYPE
- I believe that this feature is already available in ansible; therefore, this is more of a question.
- I have 2000+ IOS devices in an inventory, I am working on replacing. I have the backups for all devices and will like to use this backup to restore it to the new 2000+ that will replace the existing switches in

[2019-08-16 03:33] #57560 closed, assigned to nobody

[2019-08-16 03:35] #57306 closed, assigned to nobody

[2019-08-16 04:15] Akasurde commented on #60632
!component =lib/ansible/modules/net_tools/basics/uri.py

[2019-08-16 05:08] ganeshrn commented on #55802
@JBaptisme The junos_linkagg, junos_interface and junos_l2_interface modules will be deprecated from [Ansible version 2.9 onwards](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.9.rst#deprecation-notices) and are replaced with the new resource modules.
1) [junos_interfaces](https://docs.ansible.com/ansible/devel/modules/junos_interfaces_module.html)
2

[2019-08-16 05:12] Fred-sun commented on #60619
@vikramaditya234 Thank you for open this issue. I tried to execute your playbook, it was successful. From the failure log, it should be your template problem, can you confirm whether your template is correct or provide your template for me to try. Thank you very much!

[2019-08-16 05:53] rigarash opened #60663 "new module request: win_optional_feature"
##### SUMMARY
It would be nice to handle optional features of Windows through Ansible.

##### ISSUE TYPE
- Feature Idea
There are {Get, Enable, Disable}-WindowsOptionalFeature cmdlets.
I believe Combining these cmdlets will do the job.

##### COMPONENT NAME
If a new name is needed, something like 'win_optional_feature' will be nice.
If we want to extend the existing feature, we should extend 'win_

[2019-08-16 06:11] jborean93 commented on #60663
There is already one https://docs.ansible.com/ansible/latest/modules/win_optional_feature_module.html.

[2019-08-16 06:11] #60663 closed, assigned to nobody

[2019-08-16 06:44] Andersson007 commented on #58644
needs_info

[2019-08-16 06:56] nanisyako commented on #51162
did it fell off from the radar?

[2019-08-16 07:07] yami12376 commented on #22579
Is this possible in 2019?
I want to notify my handler only with items from loop that have changed.

[2019-08-16 07:22] wojtas911 commented on #46009
Hi team,
I have probably a similar problem.
Using  the gcp_compute_disk with register and loop
here is playbook that i tested

- name: create a disk
  gcp_compute_disk:
    name: "{{item.name}}"
    size_gb: "{{item.hdd}}"
    source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts
    zone: europe-west1-b
    project: "{{ gcp_project }}"
    state: present
  register: disk
  l

[2019-08-16 07:50] Fred-sun commented on #60528
@MyronFanQiu @yungezz Please take a look this issue when you're free! The azure_rm_storageaccount  can't delete all CORS ruler, this not match the[ Document describe](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py)! Thank you very much!

[2019-08-16 08:12] gundalow commented on #57699
If this is decided now we need to give one versions grace.
Ie merged into devel, comes into enforce in 2.10.

[2019-08-16 08:27] Fred-sun commented on #60661
@arvindshmicrosoft Thank you for your open this issue. From test log, you may lost 'managed_disk_type' parameter. You can retry as follow playbook, I have tested and success to add data disk. Thank you very much!
[code]

[2019-08-16 08:30] Fred-sun commented on #60661
PASS the log:
[code]

[2019-08-16 08:35] ggnanasekaran77 commented on #54259
I too facing the same problem. Can someone help me on this.

[2019-08-16 08:45] jklaiho commented on #60635
The `RunnerManager.all()` method also supports `as_list=False`, just like `list()` does, but also returns shared runners. This is from `v4/objects.py` in `python-gitlab`:

[code]

I tested the following `findRunner` implementation in `gitlab_runner.py`:

[code]

It created the shared runner, and a second run didn't create a duplicate, so all good on the idempotency front.

So, effectively it's a r

[2019-08-16 08:52] lucasMoeller opened #60673 "prompt, answer for eric_eccli"
##### SUMMARY
A prompt argument like in cli_command, prompt, answer

##### ISSUE TYPE
eric_eccli currently does not support prompts and times out.
Currently it is only possible with cli_command and that has to be modified to work.

It is crucial for doing automated backups of configurations
It is crucial for doing automated upgrades of devices

##### COMPONENT NAME

eric_eccli

##### ANSIBLE VERSI

[2019-08-16 08:52] lukpre commented on #58981
Thank you very much @D3DeFi for checking and verifying. The naming of the Host Group was actually the problem, as you mentioned when using `Linux servers` the play is idempotent. I didn't get this, because for groups that don't exist the module throws an exception like:
`FAILED! => {"changed": false, "msg": "Hostgroup not found: Linux servers1"}`
I'm now only wondering why the module didn't throw

[2019-08-16 08:52] ggnanasekaran77 commented on #54259
I Got the same error.

### Apache Config:

[code]
### Ansible Playbook

[code]
### Ansible Error:

[code]

[2019-08-16 09:11] lucasMoeller opened #60674 "cli_command newline argument issue"
##### SUMMARY

cli_command returns error regarding unexpected newline argument on command prompt

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cli_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

Network device: Ericsson Router 6672 and 6675
IPOS-v19.1.1.803.107-Release

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The task s

[2019-08-16 09:13] jklaiho commented on #60635
Looks like `.all(all=True)` returns the full unpaginated list verbatim, and is functionally equivalent to iterating over the generator that `.all(as_list=False)` produces, so which one to use in `findRunner()` is a matter of personal preference.

[2019-08-16 09:19] ebarault opened #60675 "docker_container: remote host with ssh, module does not read parameters from ssh_config"
##### SUMMARY

I use the **docker_container** module inside a playbook to stop/start a number of docker containers on different remote hosts, using the `docker_host` option to indicate on which host the docker client should contact the docker daemon.

The script runs in a secured LAN where new hosts are started very often so I want to skip the ssh host key checking.

For this i use an appropriate

[2019-08-16 09:37] justjais commented on #51162
cc. @krisvasudevan @s-giri

[2019-08-16 10:04] #60584 closed, assigned to nobody

[2019-08-16 10:51] daemenseth opened #60677 "Async install of vmware tool gives strange stdout error"
##### SUMMARY

Async install of vmware tool gives strange stdout error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
windows all versions

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
no error

##### ACTUAL RESULTS

[code]

[2019-08-16 11:04] #42693 closed, assigned to nobody

[2019-08-16 11:07] toabctl commented on #43385
@lemmy04 as a workaround, you could use `zypper needs-rebooting` outside of the ansible zypper module to detect if a reboot is needed.

[2019-08-16 11:12] nitzmahone commented on #60283
fixed by #60290

[2019-08-16 11:12] #60283 closed, assigned to nitzmahone

[2019-08-16 11:13] #60673 closed, assigned to nobody

[2019-08-16 11:34] daemenseth commented on #60677
a possible workaround for me now is ignore_errors: yes

more errorlog information:

{
    "msg": "Unexpected failure during module execution.",
    "exception": "Traceback (most recent call last):\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\", line 139, in run\n    res = self._execute()\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\",

[2019-08-16 11:39] Shweta217 opened #60680 "netapp-lib: na_ontap_command HTTP Error 503 service unavailable"
ISSUE TYPE
- Bug Report

 COMPONENT NAME
!component =lib/ansible/modules/storage/netapp/na_ontap_command.py

ANSIBLE VERSION
ansible 2.8.0
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /bin/ansible
python version = 2.7.16

CONFIGURATION
host_key_checking = false

OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.6 (Maipo)

STEPS TO REPRODU

[2019-08-16 12:42] justjais opened #60685 "Unit tests for ios_interfaces is failing"
##### SUMMARY

Unit tests for ios_interfaces is failing, with import error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_interfaces
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Unit tests for `ios_interfaces` should pass w/o any issue/failure

##### ACTUAL RESULTS

Unit tests are fai

[2019-08-16 12:51] prutseltje commented on #26923
Same problem here on ansible 2.7.3 / Debian GNU/Linux 10 (buster).

[2019-08-16 12:54] sdodsley commented on #53128
@lndevnull As you can see purefa_facts is going to be deprecated in favour of purefa_info as per the new requirements from the core team.
You may want to try something along these lines:
[code]

[2019-08-16 12:55] sdodsley commented on #53128
notabug

[2019-08-16 13:23] #59064 closed, assigned to nobody

[2019-08-16 13:55] #60685 closed, assigned to justjais

[2019-08-16 13:55] arvindshmicrosoft commented on #60661
Thank you @Fred-sun for pointing this out. It is interesting that it works when not updating the VMSS (i.e. when creating it afresh). If there is any diverging code path that explains the difference, it would be useful to know that. But in any case we appreciate your help!

[2019-08-16 14:12] JonasKs commented on #60465
The playbook provided works fine on my machine:

[code]
and in my development environment:

[code]

I suspected a change in WAPI version broke it, but now I suspect your Infoblox isn't updated in a really, really long time.
This test was run against Infoblox version `8.4.4-386831`, where the newest WAPI version is 2.10.

[2019-08-16 14:14] thedoubl3j commented on #46235
closing on behalf of @rambleraptor

[2019-08-16 14:14] #46235 closed, assigned to nobody

[2019-08-16 14:25] Rylon commented on #36308
I just checked and can confirm this is still an issue with Ansible v2.8.4 @samdoran.

[code]

The use case here is to combine two features:

1. A play should abort for all hosts if a task fails on any host in the batch (`any_errors_fatal: True`), this is necessary when configuring clustered hosts and you need them to be on the same page as each other at the same time.

2. In the event that the pla

[2019-08-16 14:30] dagwieers commented on #57699
If modules are expected to move to Ansible Collections, why bother forcing this here?

[2019-08-16 15:11] jimi-c commented on #28711
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tric

[2019-08-16 15:11] #28711 closed, assigned to nobody

[2019-08-16 15:12] tsunami28 opened #60693 "Modifying VM on XenServer - disks are inactive"
##### SUMMARY
Adding additional disks stay as "Active: NO" in XenCenter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xenserver_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target: Windows Server 2016
Running Ansible from CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE

If you add an additional disk to an example deploy and run th

[2019-08-16 15:13] jimi-c commented on #29025
Hi, we believe the PR https://github.com/ansible/ansible/pull/46483 covers this functionality, so we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!fo

[2019-08-16 15:13] #29025 closed, assigned to nobody

[2019-08-16 15:14] jimi-c commented on #29269
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
ht

[2019-08-16 15:14] #29269 closed, assigned to nobody

[2019-08-16 15:15] #29532 closed, assigned to nobody

[2019-08-16 15:15] #29513 closed, assigned to nobody

[2019-08-16 15:15] #29498 closed, assigned to nobody

[2019-08-16 15:15] jimi-c commented on #29274
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
ht

[2019-08-16 15:15] #29274 closed, assigned to nobody

[2019-08-16 15:17] jimi-c commented on #29348
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
ht

[2019-08-16 15:17] #29348 closed, assigned to nobody

[2019-08-16 15:31] jimi-c commented on #25682
Closing This Ticket
===================

Hi!

Thanks for requesting this feature, however at this time include_vars will remain a controller-only feature. Custom facts were created to address this need, so I would recommend looking at the documenation here:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#local-facts-facts-d

If you continue seeing any problems related

[2019-08-16 15:31] #25682 closed, assigned to nobody

[2019-08-16 15:32] jimi-c commented on #25923
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
ht

[2019-08-16 15:32] #25923 closed, assigned to nobody

[2019-08-16 15:32] samdoran commented on #57699
We want to encourage/enforce that tests exist for modules, especially those that live in ansible/ansilbe. Collections does not negate the desire to have tests.

[2019-08-16 15:33] jimi-c commented on #26583
Hi, sorry for taking so long, but since there is now a PR for this feature we're going to go ahead and close this issue.

Thanks!

[2019-08-16 15:33] #26583 closed, assigned to nobody

[2019-08-16 15:34] jimi-c commented on #26858
Hi, this feature request has been open for well over a year but has not received any attention. We would be open to accepting this feature, but for now, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
ht

[2019-08-16 15:34] #26858 closed, assigned to nobody

[2019-08-16 15:36] jimi-c commented on #27424
Hi, thanks for submitting this, however we are not interested in implementing it at this time.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and qu

[2019-08-16 15:36] #27424 closed, assigned to nobody

[2019-08-16 15:39] jimi-c commented on #27813
Hi, this feature request has been open for well over a year but has not received any attention. Additionally, now that `include/import_role` exist controlling the execution order of roles is much easier. Due to the above, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/fo

[2019-08-16 15:39] #27813 closed, assigned to nobody

[2019-08-16 15:40] dagwieers commented on #57699
@samdoran Sure, tests are great. But if we introduce a change in policy/workflow with a grace-period of one or two releases, and we foresee a policy/workflow change that trumps this one, maybe it is easier on the community if these changes go together, i.e. introduce the requirements for tests as part of the move to Ansible Collections.

[2019-08-16 15:46] jmcgill298 commented on #60440
No, the file transfers normally.

[2019-08-16 15:48] jimi-c commented on #28075
Hi, a more recent issue (https://github.com/ansible/ansible/issues/59590) has been opened for pretty much this same functionality. Since we have fresh eyes on that, we've decided to close this as a duplicate of that issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project

[2019-08-16 15:48] #28075 closed, assigned to nobody

[2019-08-16 15:50] jimi-c commented on #28384
Hi, going forward collections are going to cover this functionality due to the fact that it is language agnostic and standardized for Ansible.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!f

[2019-08-16 15:50] #28384 closed, assigned to nobody

[2019-08-16 15:53] AndreMTrindade opened #60695 "Python3 to specific tasks"
Good afternoon.

Is it possible assign a specific version of python to a specific tasks on the playbook?

If it´s not, that a good idea to implement.

Thank you.

Best Regards.

[2019-08-16 15:56] #25423 closed, assigned to bcoca

[2019-08-16 16:00] dpassante commented on #60515
I'll take a look when I get home from vacation.

[2019-08-16 16:02] #28358 closed, assigned to nobody

[2019-08-16 16:12] sivel commented on #60695
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-16 16:12] #60695 closed, assigned to nobody

[2019-08-16 16:23] jmcgill298 commented on #29716
I am using Ansible2.7.9 and I still see this issue
[code]

[2019-08-16 16:36] pabelanger commented on #58514
example playbook:

https://github.com/ansible/ansible/commit/605d0d67102167cda67bd7f1046b4e1be408c372

[2019-08-16 16:46] #19630 closed, assigned to nobody

[2019-08-16 18:08] rambleraptor commented on #60577
Hello! Looking at your playbook, it appears that you're trying to run the `facts` module as root. Unless you've done a `sudo pip install google-auth`, the google-auth library won't be accessible.

Can you do a `sudo pip list` and see if google-auth is accessible to the root account?

[2019-08-16 19:01] oatakan opened #60700 "cyberarkpassword lookup plugin: create an implementation to use AMI web API instead of CLI"
##### SUMMARY
Current implementation requires AMI CLI tools to be installed on the control node. This becomes problematic when running from AWX/Tower as it requires disabling process isolation. There are modules available from CyberArk that uses Web API which doesn't require any agents running:

See: https://github.com/cyberark/ansible-modules/blob/master/library/cyberark_credential.py

This imple

[2019-08-16 19:36] #59479 closed, assigned to nitzmahone

[2019-08-16 19:38] SamyCoenen opened #60703 "Add 'templates_from' option to import_role and include_role"
##### SUMMARY
Add an option similar to 'tasks_from' but for templates for a role named 'templates_from'

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
include_role/import_role

##### ADDITIONAL INFORMATION

Very similar to https://github.com/ansible/ansible/issues/46769#issue-368725898

Before Ansible v2.2 you could include roles and the templates would automatically be loaded from all the

[2019-08-16 20:01] dan-osms opened #60706 "s3_bucket bucket policy without optional SID causes timeout of ansible action event hough bucket policy is applied"
##### SUMMARY
Leveraging the s3_bucket policy module, to build a bucket policy without "sid" statements causes Ansible to fail "msg": "Bucket policy failed to apply in the expected time"

Sid statements are optional within building an s3 bucket policy

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-08-16 20:06] rambleraptor commented on #53965
These just got merged in, so I'm going to close this issue.

[Info module](https://github.com/ansible/ansible/pull/60669)
[Regular module](https://github.com/ansible/ansible/pull/60668)

close_me

[2019-08-16 20:17] darkwizard242 opened #60707 "package_facts requires python-apt on Debian systems in ansible 2.8.3"
##### SUMMARY
The document for package_facts does not specify a requirement of python-apt being in an installed state on the system of which the module `package_facts` is going to collect package related data. While this may not cause any issue for EL based systems or any other - package_facts will return an error when used on any Debian based systems where python-apt package is not already in an

[2019-08-16 20:22] jdrowne commented on #60707
I had this issue when using `package_facts` on 2.8.3 and solved it by forcing a pre-installation of `python-apt`. HTH.

[2019-08-16 21:06] sivel commented on #60700
!component =lib/ansible/plugins/lookup/cyberarkpassword.py

bot_status

[2019-08-16 21:40] bvitnik commented on #60693
@tsunami28 Hi. Thanks for reporting the bug. I've successfully reproduced the issue. This will be an easy fix so I'll have a pull request with patch ready soon.

[2019-08-16 21:45] rambleraptor commented on #43466
bot_status

[2019-08-16 21:45] rambleraptor commented on #60209
These have been merged in!

close_me

[2019-08-16 21:58] rambleraptor commented on #48824
Hello! We do need better docs to illustrate how to use the facts module filters better.

We're choosing to stick with using '=', '<', '>' for these filters, as it allows users to do multiple operations. I personally think adding colon might confuse people (as it would do the same thing as '=')

[2019-08-16 22:03] #60209 closed, assigned to nobody

[2019-08-16 22:20] felixfontein commented on #60675
The `docker_container` module uses [docker-py](https://github.com/ansible/ansible/issues/60675) to communicate with the docker daemon. From [looking at the code](https://github.com/docker/docker-py/blob/master/docker/transport/sshconn.py), it doesn't look to me like there's a possibility to configure paramiko without monkey-patching docker-py.

There's an open issue (docker/docker-py#2290) for thi

[2019-08-16 22:22] felixfontein commented on #60675
CC @ssbarnea as as he seems to be interested in this as well (f.ex. docker/docker-py#2398).

[2019-08-16 22:59] dpengftw opened #60713 "ec2_vol module not using security token"
##### SUMMARY

Using the ec2_vol module results in unable to validate credentials

TASK [create volume] *********************************************************************
failed: [host*** -> localhost] (item={'name': 'orahome', 'volume_size': 100}) => {"changed": false, "item": {"name": "orahome", "volume_size": 100}, "msg": "AuthFailure: AWS was not able to validate the provided access credent

[2019-08-16 23:18] trevor5249 opened #60714 "Rolling ASG spins up the new instances but doesn't terminate the old ones"
##### SUMMARY

ec2_asg replace_all_instances creates the new ec2 servers (new launch config) but doesn't remove the old servers (old launch config). The servers are all healthy as well. The playbook command eventually times out and now has the new servers and old servers in the same auto scaling group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg
  replace_all_instances: yes

####

[2019-08-17 01:56] driftfast180-dev opened #60716 "azure_rm_subnet fails to create subnet due to invalid overlap"
##### SUMMARY

Ansible Version: 2.8.3
Python Version: 2.7.5
Using Ansible VM from Azure Marketplace

When using the azure_rm_subnet, it does not allow me to create a valid subnet due to an IP Overlap error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

[2019-08-17 02:06] #60568 closed, assigned to nobody

[2019-08-17 03:24] frogstarr78 opened #60717 "Display specific role file in play output"
##### SUMMARY

Currently task output for roles is:

For debugging purposes (and hopefully this isn't already included in the built-in Debugging callback) but it would be nice if there was a configuration argument that enables including the specific file that a task was included in, from the role, or playbook for that matter.
So instead, the output would look something like this:

##### ISSUE TYPE

[2019-08-17 07:46] willthames opened #60725 "Ansible should handle exceptions within loops better"
##### SUMMARY
If I use a module that throws an exception in a loop, that exception then causes the callback plugin to throw its own exception so that it's impossible to see what has gone wrong.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2019-08-17 09:12] tremble commented on #55775
@s-hertel aws_kms issues are being addressed as a part of #60206 and #60154 by myself and @willthames

[2019-08-17 09:29] #58746 closed, assigned to nobody

[2019-08-17 10:21] cristichiru commented on #19814
Had the same issue on Ubuntu 18.04.2 and was fixed with **rebooting the machines**.

Everything worked until I have re-run  kubespray a couple of times, eventually hitting the lock.

I had dbus installed. Tried adding `/etc/systemd/system/systemd-hostnamed.service.d/override.conf`
[code]
Restarted, bu `systemd-hostnamed` still hanged.

Searching around, led me to this thread and:
- https://bugs.la

[2019-08-17 11:19] ssbarnea commented on #60675
@felixfontein I am daily using docker_container and docker_image modules with docker over ssh and is working fine for me, so at this moment I have no strong need to fix anything. If you mention the username in the DOCKER_HOST url, you should be fine and avoid depending on ssh config file.

[2019-08-17 13:21] semrov opened #60728 "hashi_vault lookup plugin: Add support for Vault agent"
##### SUMMARY

Add support for authenticating with [Vault Agent](https://www.vaultproject.io/docs/agent/).

Add additional authentication type to **auth_method** parameter in **hashi_vault** plugin called 'agent', which means 'pass authentication to Vault Agent'. In general there are two options available:
1) No additional authentication data (like token, role id etc.) provided in environment:
- J

[2019-08-17 13:31] gamename opened #60729 "nxos_vlan failure when configuring switch"
##### SUMMARY
There are 2 environments, prod and dev.  The dev environment has one host for ansible and two 9000v switches.  The prod environment has another host also with 2 Nexus 9000 switches.

I have a very simple playbook to create vlans.  It works correctly in the dev environment, but not in the prod environment

Here are some datapoints:
- The prod and dev 9k switch versions are _exactly_ t

[2019-08-17 14:02] #59906 closed, assigned to nobody

[2019-08-17 14:23] ReinerNippes opened #60730 "docker_network doesn't work with pip3"
##### SUMMARY
Running a task docker_network with  Python 3.7 and pip installed into /usr/local/bin/pip fails. At least the python module docker has to be installed with pip2 as well.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-08-17 14:36] gamename opened #60731 "any_errors_fatal does not work"
##### SUMMARY
Even in the simplest playbook, the `any_errors_fatal: true` construct does not work

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
any_errors_fatal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Any

##### STEPS TO REPRODUCE

[code]

VLAN config file:
[code]

Playbook:
[code]

##### EXPECTED RESULTS
The playbook should fail on the

[2019-08-17 14:40] felixfontein opened #60732 "ACI module utils: support cryptography for signing, and eventually deprecate pyOpenSSL"
##### SUMMARY
As noticed in #59907, lib/ansible/module_utils/network/aci/aci.py is using pyOpenSSL to sign something with a private key (https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/aci/aci.py#L212-L248). Since pyOpenSSL is [not (anymore) supposed to be used for anything than TLS/SSL connections](https://github.com/pyca/pyopenssl/#pyopenssl----a-python-wrapper-aro

[2019-08-17 14:47] felixfontein commented on #60730
You need to configure Ansible to use your Python 3 interpreter to execute modules. Right now, it apparently uses /usr/bin/python, which seems to be Python 2.

This is totally unrelated to the docker_network module, but a general Ansible support problem. (Search for `ansible_python_interpreter`, this will help you.)

notabug

[2019-08-17 16:46] ReinerNippes commented on #60730
if i set ansible_python_interpreter=/usr/bin/python (2.7) the yum module won't work anymore.
and i can't run my playbook anymore.
i thing i have to test the playbook on a system where python 3 is already default and python 2 removed.

[2019-08-17 16:46] #60730 closed, assigned to nobody

[2019-08-17 16:52] #59904 closed, assigned to nobody

[2019-08-17 17:04] felixfontein commented on #60730
If you have to use the Python 2 interpreter, you can also simply install the docker module with pip2.

[2019-08-17 17:55] mchlrv opened #60733 "Task fails with loop_control.label and when condition with an undefined variable"
##### SUMMARY
Same  as #48045

The task fails with loop_control.label and when condition defined if the variable in the when condition isn't defined.

The task will be skipped if I comment out loop_control.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop_control
when

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.5

##### STEPS TO REPRODUCE

1.

[2019-08-17 18:20] gamename commented on #60729
This has been flagged as deprecated. What aspect of this is deprecated?

[2019-08-17 19:10] mathieucoavoux opened #60734 "AWS sts_assume_role - PolicyArns parameter"
##### SUMMARY

Add the parameter `PolicyArns` to the module `sts_assume_role`
This is supported by `boto3` latest version
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

sts_assume_role
##### ADDITIONAL INFORMATION

[code]

[2019-08-17 20:08] ShachafGoldstein commented on #60590
Please add the full playbook and output with `-vvv`

[2019-08-17 21:01] driftfast180-dev commented on #60716
Issue resolved
host_vars was defining subnet as
address_prefixes_subnet:
  - "10.0.0.0/24"

Used -vvvv
data conversion of the python script was throwing the error, adjusted the value to below in order to resolve:

address_prefixes_subnet: 10.0.0.0/24

[2019-08-17 21:01] #60716 closed, assigned to nobody

[2019-08-18 03:09] #59972 closed, assigned to nobody

[2019-08-18 03:32] queglay opened #60738 "lineinfile insertafter is not adding directly after line correctly."
##### SUMMARY
lineinfile is ignoring insertafter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
vagrant, ubuntu, bento

##### STEPS TO REPRODUCE

this example playbook part here should append a host after a group in the hosts file, but the insert after command is ignored.  this is the section that

[2019-08-18 03:53] felixfontein commented on #59253
If you want this feature in Ansible 2.9, there's some help needed: https://github.com/ansible/ansible/pull/60388#issuecomment-522288731

[2019-08-18 06:55] #56009 closed, assigned to nobody

[2019-08-18 07:02] felixfontein commented on #50782
resolved_by_pr #60741

[2019-08-18 09:41] #60416 closed, assigned to nobody

[2019-08-18 09:42] matanlb commented on #25429
Hey, sorry we moved away from Mongo so we don't have this role anymore in the codebase 🤷‍♂️

[2019-08-18 10:07] Udayendu commented on #60465
Could you please try to scan more than 20 IPs. I  my setup its able to search max 20 ips. The moment I am changing it to 21, its giving me an error.

And to your point, yes my infoblox version is bit old. Its 6.10 and next week I am going to upgrade it to 8.4.

But if possible check ip search with more than 20 and let me know your findings. Because in my case most of the time I need to search more

[2019-08-18 10:12] JonasKs commented on #60465
As I said in https://github.com/infobloxopen/infoblox-client/issues/226, the WAPI does not support requesting more than 20 available IPs at the time. (Same goes for the GUI)
This is a core Infoblox thing, not something that can be solved by the developers of Ansible or the python `Infoblox-client` module.

[2019-08-18 10:17] Udayendu commented on #60465
Got your point. In fact I have just updated the same on the infoblox-client related bug that I have opened to raise the range if its hard-coded in the code. Let us see their response.

[2019-08-18 12:32] tremble opened #60744 "aws_kms throws exception when only Key ID is passed"
##### SUMMARY
If you pass aws_kms an existing key_id and no alias, it throws exceptions

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/aws_kms.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Key successfully updated

##### ACTUAL RESULTS
Exception.  (There's ac

[2019-08-18 14:56] alchandia commented on #60633
Thanks @raags for the information, I have the same problem using a similar environmet:

[code]

I switch to python3 last week, commenting the line added in #34742  fix the issue in my case.

[2019-08-18 15:55] gamename commented on #60729
I found a workaround for this
[code]

This leads me to believe it isn't due to python version differences, but rather to some configuration difference in the production interface definition.

[2019-08-18 20:05] #60493 closed, assigned to nobody

[2019-08-18 20:17] #58246 closed, assigned to nobody

[2019-08-18 20:21] #60588 closed, assigned to nobody

[2019-08-18 20:30] mariolenz commented on #57535
@bjordanov4 This is harder than I thought. In general, if you increase statistics level you have to do it from daily to yearly. If you want to decrease statistics level you have to do it from yearly to daily.

So, let's say monthly and yearly statistics levels are 2. If you want to decrease them to 1, you'd have to first change the yearly and then the monthly level. Otherwise, you would get an err

[2019-08-18 23:33] NewpTone commented on #54819
@openstacker  @gtema  Hi, could you please take a look at this patch?

[2019-08-19 00:10] H4ckey opened #60748 "docker: Failed to import the required Python library (Docker SDK for Python: docker (Python >= 2.7) or docker-py (Python 2.6)"
##### SUMMARY
Running the Installer for cloudbox gets stuck at this point:
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (Docker SDK for Python: docker (Python >= 2.7) or docker-py (Python 2.6)) on myserver Python /usr/bin/python. Please read module documentation and install in the appropriate location, for example via `pip install docker` o

[2019-08-19 03:04] Fred-sun commented on #60661
@arvindshmicrosoft Thanks for your update, I understand what you mean. The data disk should be updated just like the attached data disk was created. If the managed_disk_type parameter does not exist, it should default to None. Thank you very much!

[2019-08-19 03:14] Fred-sun commented on #60661
@MyronFanQiu Maybe we should update the data disk to get the value of 'managed_disk_type' the same way we created it. Please check! Thank you!

Update
https://github.com/ansible/ansible/blob/aea52c67d6f55962e63ac3edb8693a17d7ef38a5/lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset.py#L893
[code]

[2019-08-19 03:32] felixfontein commented on #60748
I guess the module in question is `docker_network`.

Anyway, it looks like something went wrong with the `docker` / `docker-py` Python module installation (please stop using `docker-py` if possible - that's legacy and should never be used on new installs!). The error message mentions that importing `ssl_match_hostname` fails. If you search the web for `docker ssl_match_hostname` you'll find enough

[2019-08-19 05:24] felixfontein commented on #60748
!component =lib/ansible/modules/cloud/docker/docker_network.py

[2019-08-19 05:26] frsh-augustin opened #60750 "Does the module "meraki_vlan" work with Meraki China?"
I had a search in Github, no related topic

The latest release doesn't work for us.

##### SUMMARY

We are truely interested in managing the Meraki by Ansible , but we run into some errors when the module meraki_vlan is executed.
Meraki China has the domain name "meraki.cn" while the global domain name is "meraki.com".We are wondering if the module "meraki_vlan" work with Meraki China?  Please adv

[2019-08-19 05:29] felixfontein commented on #60748
See also Cloudbox/Cloudbox#317.

[2019-08-19 05:29] Akasurde commented on #60693
resolved_by_pr #60737

[2019-08-19 05:30] #60748 closed, assigned to nobody

[2019-08-19 05:59] cyprix opened #60751 "Problem with gluster volume module"
##### SUMMARY
Playbook fails, but volume created.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gluster_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host OS: Ubuntu 18.04.3 LTS x64
Target OS: RHEL 7.7 x64
GlusterFS: 4.1.9-1.el7.x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'm expecting that gluster volume is created, and the

[2019-08-19 06:37] coderamblings commented on #60577
Hello,

Yes, I've installed required packages on a system-wide level.
[code]

[2019-08-19 06:47] miha-plesko commented on #60395
Solution to this problem is that test files need to import `absolute_import` from __future__, then everything works even on python 2.7:

[code]

Thank you @tadeboro for helping us out!

[2019-08-19 07:20] rosmo commented on #60751
@cyprix This doesn't look like problem with the module. The issue is with your brick: `volume add-brick: failed: Brick: 172.16.105.140:/gluster/images not available. Brick may be containing or be contained by an existing brick.`

[2019-08-19 07:21] rosmo commented on #60751
notabug

[2019-08-19 07:21] evrardjp commented on #27988
Installroot was indeed added into the module through extra_args_precommand.
We can close this.

[2019-08-19 07:21] #60605 closed, assigned to nobody

[2019-08-19 07:27] evrardjp commented on #43385
I don't see an issue with the current code, I think the proposal of @toabctl is good enough too. We should close this.

[2019-08-19 07:30] #60751 closed, assigned to nobody

[2019-08-19 07:30] evrardjp commented on #50288
I think we can close that, the proposal of @robinro seems fair to me.

[2019-08-19 07:32] cyprix commented on #60751
@rosmo I think that it is a bug in the Ansible.
All volumes not created before. Gluster peer status without any neighbor. When I'm running the playbook, the volume created, but playbook failed with this error.

[2019-08-19 07:36] evrardjp commented on #50288
close_me

[2019-08-19 07:37] evrardjp commented on #43385
close_me

[2019-08-19 07:37] lemmy04 commented on #43385
it does indeed look like a zypper bug to me...

[2019-08-19 07:37] #43385 closed, assigned to nobody

[2019-08-19 07:38] evrardjp commented on #43385
Thanks @lemmy04 !

[2019-08-19 07:59] chbndrhnns commented on #59989
With Ansible 2.7, it works well. I suspect the recent refactoring to consolidate the parameters for custom certificates introduced this regression issue.

[2019-08-19 08:17] kbreit commented on #60750
Thank you for the bug report. I haven't tested it with Meraki China but it should support it. Have you used the `host` parameter?

Also, I would suggest upgrading to the latest version you can as 2.7.0 is quite old. Please paste a sanitized snippet of your playbook if possible so I have a test case I can fix against.

Again, thank you for your bug report.

[2019-08-19 08:47] xmfreak commented on #29661
If I tell you the truth, I like your solution pretty much more than the helm module. Easy to setup, really straight-forward and it also works with tillerless plugin with just a little adjustment in the python file. Great work, thanks for sharing.

[2019-08-19 08:57] Fred-sun commented on #54138
@yungezz How about the issue going ahead? Could you take a look this issue? Thank you very much!

[2019-08-19 09:21] willthames commented on #59989
@chbndrhnns that's a very likely theory - we've already had to fix one of the other params with a similar issue.

[2019-08-19 09:23] willthames commented on #59989
Or rather, the refactoring to make parameters more standard across a bunch of modules. But either way, that's likely the source, now just need to find a fix!

[2019-08-19 09:31] Fred-sun commented on #54914
@yungezz @MyronFanQiu @zikalino How is this going? Do we plan to create a PR to fix the problem of non-character?

[2019-08-19 10:06] tremble opened #60773 "aws_kms fails with NotFoundException when working cross-account"
##### SUMMARY
If you pass aws_kms an existing key_id from another account (for example so you can set up a grant) it uses key['key_id'] in update_policy which effectively strips the account part of the ARN and results in a DescribeKey operation being called against the current account rather than the

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/aws_

[2019-08-19 10:34] lukeg87 opened #60785 "win_updates not installing found updates"
##### SUMMARY

win_updates module is finding updates and not modifying the found_update_count variable and as such the updates are not being installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible finds updates, bo

[2019-08-19 11:47] ganeshrn commented on #58514
@pabelanger As a workaround, you can use the below task to achieve the same functionality
[code]

[2019-08-19 13:04] JunqiZhang0 commented on #60597
@Fred-sun Could u tell me what you used?

[2019-08-19 13:19] newswangerd commented on #60157
@awcrosby ^

Can we use globing in the galaxy importer?

[2019-08-19 13:19] drewmullen commented on #30754
I'm also getting the same issue on debian 8 and 9. `"msg": "Failed to update apt cache: W:Updating from such a repository can't be done securely, and is therefore disabled by default., W:See apt-secure(8) manpage for repository creation and user configuration details., E:The repository 'https://download.docker.com/linux/debian bionic Release' does not have a Release file."}`

can fix manually via

[2019-08-19 13:26] #59404 closed, assigned to Qalthos, ganeshrn

[2019-08-19 13:39] BijanJohn commented on #46310
I stumbled on this for several hours today as well, only to realize I had an environment var set with ANSIBLE_VAULT_PASSWORD_FILE . This is affecting 2.8.2 as well.

[2019-08-19 13:43] jctanner commented on #57081
ansible-galaxy now has a collections subcommand which fills the requirements outlined in the description.

[2019-08-19 13:43] #57081 closed, assigned to thaumos, nitzmahone, jborean93

[2019-08-19 13:44] jctanner commented on #54059
resolved_by_pr https://github.com/ansible/ansible/pull/41637

[2019-08-19 13:55] geerlingguy commented on #60215
I have tests working on the collection referenced in the OP (https://github.com/geerlingguy/ansible-collection-php_roles)—see https://github.com/geerlingguy/ansible-collection-php_roles/blob/master/.travis.yml#L21-L25

[2019-08-19 13:58] geerlingguy commented on #60215
Also not sure if I agree with the title—I want to run `ansible-test` _inside_ a collection root... but I don't want to _have_ to have that collection root be inside a very strict set of parent directories that requires extra work to enforce.

[2019-08-19 14:11] sivel commented on #60725
!component =lib/ansible/plugins/callback/yaml.py

[2019-08-19 14:29] johnschult commented on #32151
Following up on @jritorto comments...

@haad Is there any movement on this? Looking for a maintainer? We want to use it for periodic maintenance of certificates. I see a couple of other places in this module that could use some help:

- The `copy` module should not be needed
- The `java_cert` module should conditionally install the certificate based upon its SHA1 fingerprint
  - check SHA1 fingerp

[2019-08-19 14:30] olu-rotimi opened #60808 "checkpoint_access_rule module only add rule to standard policy."
Even if you specify the policy package to add a rule to, the module still adds the rule to the Standard default policy.

[2019-08-19 14:45] awcrosby commented on #60157
In the galaxy.ansible.com importer the linters are run individually for each role and plugin, as we are capturing and storing the linter output to individually score items. If we see there would be a good performance improvement we could revisit that.

[2019-08-19 14:51] mattclay commented on #60215
@geerlingguy Perhaps we need a better term than `collection root`, since it can be confusing.

I'm referring to the collection `root paths` defined by `COLLECTIONS_PATHS`:

https://github.com/ansible/ansible/blob/d0dac80e41791cb04e2d408bcdce0072516d87db/lib/ansible/config/base.yml#L218-L221

Ansible will only recognize collections in these roots using the following directory structure:

`ansible_c

[2019-08-19 14:53] sivel commented on #60632
To whoever wants to work on this, we will need 2 changes:

1. Use `get_real_file`:

[code]
1. Add a new action plugin only argument called `decrypt` which would allow a user to override the automatic decryption, in case they do want to send the encrypted file. (See `copy`).

[2019-08-19 14:53] #39220 closed, assigned to nobody

[2019-08-19 14:56] geerlingguy commented on #60215
@mattclay ah yes. When I hear 'collection root' I'm thinking the root directory _of the collection itself_.

[2019-08-19 14:59] mattclay commented on #60215
@geerlingguy In your earlier comment, what "extra work" were you referring to?

[2019-08-19 15:07] mdinwoodie commented on #58841
I was able to reproduce this issue using this project:
[AnsibleProject.tar.gz](https://github.com/ansible/ansible/files/3516361/AnsibleProject.tar.gz)

To reproduce the error, I ran the startAllDownWebServiceminimalExample.yml playbook using this command:

[code]

I was also able to confirm that this project works with Ansible 2.7.9, but not with Ansible 2.8.3. Here is the output from the task rec

[2019-08-19 15:08] geerlingguy commented on #60215
@mattclay - in CI systems, at least (e.g. GitLab, Travis CI, Circle CI), because of the strict pathing requirements, you can't just set up a test to do `ansible-test`.

The CI system checks the code out into a directory (e.g. `/opt/my-project-here` or whatever), then drops you into that directory. For most kinds of test systems, it's really easy to build CI testing since everything is project-rela

[2019-08-19 15:12] ReinerNippes commented on #60730
i though one python version should be enough to run playbooks.
but if i have dnf and docker_network tasks i would need both pythons.
no big thing. just confusing.

[2019-08-19 15:13] mattclay commented on #60215
@geerlingguy In your example `pip install molecule && molecule test`, how does it handle collections? Does it copy the files into a temporary collection root?

[2019-08-19 15:18] geerlingguy commented on #60215
@mattclay - yes, in fact, molecule is a lot easier to get configured for collection role testing than `ansible-test` at the current time; see https://github.com/geerlingguy/ansible-collection-k8s/blob/master/.travis.yml#L25

I do not currently molecule for plugin or module testing but it might not be hard to do, since molecule lets you configure any pathing requirements pretty easily.

[2019-08-19 15:34] getjack commented on #35198
Hi everyone i'd like to push the idea of this feature request. In my projects we use docker for integration tests (similar to molecule) but these tests require to download a rather large application which cannot be backed into the docker container by any means - that is what we use ansible for anyways.
When using maven you can always cache artifacts in your local repository so i'd welcome a featur

[2019-08-19 15:52] pgassmann opened #60833 "gather_facts is not run when play is tagged and different tag specified"
##### SUMMARY

Facts are not gathered when using `--tags my_tag` if play is tagged with a different tag.

##### ISSUE TYPE
- Bug Report
- Regression

##### COMPONENT NAME

##### ANSIBLE VERSION

Affects `ansible>=2.8.0` incl. current latest version `ansible==2.8.4`

works as expected with `ansible==2.7.1`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Playbook:
[co

[2019-08-19 16:03] iserocco commented on #60751
If try example
[code]
We will see calls run_gluster
[code]
Create volume
[code]
After try add **exist brick**
[code]
It's not work for glusterfs 4.1.9

[2019-08-19 16:22] #55955 closed, assigned to nobody

[2019-08-19 16:33] mattclay commented on #60215
Currently `pip install molecule && molecule test` will the content as a role, not a collection.

[2019-08-19 16:56] geerlingguy commented on #60215
@mattclay - That is correct, I'm just highlighting that it is extremely easy to test roles that are currently available in Galaxy with molecule/ansible, just the same as all other major languages and testing libraries.

The outlier here is ansible-test, since it requires a lot more groundwork (the directory creations and movement) before you can start testing things.

[2019-08-19 17:07] rambleraptor commented on #60577
That is very strange. The `google_compute_instance_facts` module uses the same `gcp_utils.py` file as the other facts modules and the dynamic inventory script.

[2019-08-19 17:42] #53271 closed, assigned to trishnaguha

[2019-08-19 17:45] geerlingguy opened #60880 "Use human-readable 'name' for headings in Common Options in Config docs"
##### SUMMARY

All the Ansible configuration settings have a `name` field, which seems to be unused currently. On the Ansible Configuration Settings page, under the ['Common Options' section](https://docs.ansible.com/ansible/devel/reference_appendices/config.html#common-options), I see a listing like:

  - ACTION_WARNINGS
    - details here
  - AGNOSTIC_BECOME_PROMPT
    - details here
  - ...

Th

[2019-08-19 17:56] geerlingguy commented on #60215
@mattclay - I can get molecule working correctly with collections too, if I do the folder dance as mentioned previously, and also set `ANSIBLE_COLLECTIONS_PATHS` in the molecule env config (see https://github.com/geerlingguy/ansible-collection-k8s/commit/6ba778985aa7504dcf1b1542f20781e447645260#diff-460ba31b56b41db7da2bfebbb1fe1cd1R38).

[2019-08-19 18:19] rosmo commented on #60751
What's the output of `glusterfs volume info`?

[2019-08-19 19:12] #28699 closed, assigned to nobody

[2019-08-19 20:19] s-hertel commented on #60713
You didn't provide any credentials to ec2_instance_facts directly, so you probably have a `default` profile in ~/.aws/, or default credentials in ~/.boto, or are using environment variables. With STS credentials you need to provide all three parts - access key, secret key, and the session token. Providing partial credentials or mixing two sets of different credentials should fail.

[2019-08-19 20:21] glamrock opened #60889 "package_facts doesn't return list of packages"
Same issue as #60707, but for Ansible 2.8.2, and the suggested workaround doesn't resolve the issue for me.

##### SUMMARY
package_facts does not return a list of package facts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target and Control server are both Ubuntu 16.04.5 / Xenial

##### STEPS

[2019-08-19 20:23] s-hertel commented on #60713
If you're using environment variables, make sure you have AWS_SECURITY_TOKEN or EC2_SECURITY_TOKEN set, instead of AWS_SESSION_TOKEN. AWS_SESSION_TOKEN will work for boto3 modules, but ec2_vol is still using boto and doesn't pick up the boto3 environment var.

[2019-08-19 20:31] glamrock commented on #60889
!component package_facts

[2019-08-19 20:53] cmoone commented on #60209
Wow, thanks for the fast change!

[2019-08-19 20:57] s-hertel commented on #60731
From the example it looks like expected behavior. `any_errors_fatal: true` aborts the play after the hosts have finished the current task. If you add a task after `Build VLAN` it shouldn't be executed. Here's a conversation about clarifying the PLAY RECAP: https://github.com/ansible/ansible/issues/57138

[2019-08-19 21:48] geerlingguy opened #60909 "ansible-galaxy collection init generates galaxy.yml that fails YAMLlint"
##### SUMMARY
Not 100% sure if this is a bug or not... but when I initialize a new collection with `ansible-galaxy collection init`, then run `yamllint` on it, I get the warnings:

[code]

It would be nice if the file would pass linting, as the `meta/main.yml` file does after you fill in a few blanks (with the exception of a 'missing document start').

Or... this can be closed as being pedantic :D

[2019-08-19 23:48] vikramaditya234 commented on #60619
Did you add a syntax error in the JSON file to get and error in the output of the playbook? I have updated the bug with a more direct reproducible case. Please check

[2019-08-20 00:36] jedioncrk commented on #60713
The ec2_instance_facts is working fine.   I included that to show other modules did not exhibit this issue.  I also used aws_kms_facts earlier and that module also did not have any auth issues.  It is only when I reach the ec2_vol section that I get the error.  If you notice in the steps to reproduce, I commented out ** security_token**.  If I uncomment the security token line, the ec2_vol module

[2019-08-20 01:01] iserocco commented on #60751
@rosmo , step-by-step
$ gluster volume info
[code]
$ ansible-playbook --version
[code]
$ gluster --version
[code]
$ ansible-playbook example.yml -vvvv
[code]
$ gluster volume info
[code]

[2019-08-20 01:13] iserocco commented on #60751
@rosmo If commented block https://github.com/ansible/ansible/blob/95aa86fcc3457968f647ebb74f5be49a17471b1c/lib/ansible/modules/storage/glusterfs/gluster_volume.py#L557 and run ansible-playbook example.yml -vvvv when work without error

[2019-08-20 01:26] s-hertel commented on #60713
ec2_instance_facts and aws_kms_facts are both modules that use boto3. ec2_vol uses boto. That difference is quite likely the cause because boto3 added things that boto does not support, but the result of your playbook is very dependent on your credential setup. There isn't enough info to reproduce because you've given no indication of what is being used to authenticate the boto3 modules (Environme

[2019-08-20 02:31] argopidi commented on #60556
Hi Ansible Experts,
same here.. Can anyone help on this issue

[2019-08-20 02:33] Fred-sun commented on #60597
@JunqiZhang0 Use the wrong subscription_id.

[2019-08-20 03:24] Fred-sun commented on #60619
@vikramaditya234 Thank you for update, I'm using the correct template, so the result is Pass. I think I understand what you mean. You mean that the error message prompted by azure_rm_deployment does not conform to the actual error, right?

[2019-08-20 03:26] s-hertel commented on #53185
@jillr Weird, good to know. AWS has so many little anomalies. Retries may be the best option. There are retries being done on the attach call already (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vpc_vgw.py#L174) but by default we only retry on the general throttling/rate limit errors https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.p

[2019-08-20 03:34] n3pjk opened #60913 "VMware: Add httpapi VMware REST VmwareRestModule"
##### SUMMARY
Implementing httpapi plugin-based REST modules for VMware.  Laying out initial directory structure and VmwareRestModule extended from AnsibleModule to support the connector and handle communications.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- VmwareRestModule.py
- vmware_appliance_access_info.py
- vmware_appliance_health_info.py
- vmware_cis_category_info.py
- vmware_co

[2019-08-20 05:24] felixfontein commented on #60536
This module is somewhat special. It seems that it returns lists (or other datastructures returned by the API?) as `ansible_facts` directly. I guess this needs to be deprecated and replaced by something else.

[2019-08-20 05:59] rosmo commented on #60751
The problem is that first call to gluster volume info after creating the module is not reporting both bricks and thus the module will try to add the new one. Might be a regression/race condition in new glusterfs version, or something wonky with hosts (like both hosts resolving to loopback).

[2019-08-20 06:03] felixfontein commented on #60532
resolved_by_pr #60915

[2019-08-20 06:03] felixfontein commented on #60534
resolved_by_pr #60916

[2019-08-20 06:03] felixfontein commented on #60538
resolved_by_pr #60917

[2019-08-20 06:04] felixfontein commented on #60539
resolved_by_pr #60919

[2019-08-20 06:18] markuman opened #60921 "rds_instance lack of MaxAllocatedStorage parameter"
##### SUMMARY

RDS services can auto-allocate storage. So you can start with the lowest ebs volume and don't care anymore about growing data in der database.
The boto3 parameter to activate this feature is `MaxAllocatedStorage` (integer)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
rds_instance

[2019-08-20 06:20] Sethueha opened #60922 "mso_schema_site_anp_epg_staticport - Dont have choice for path type of the static port as VPC"
ISSUE TYPE
Feature Idea
COMPONENT NAME
API
UI
Installer
SUMMARY
mso_schema_site_anp_epg_staticport - Dont have choice for path type of the static port as VPC

ENVIRONMENT
Ansible version: 2.8.2
Operating System: RHEL 7
STEPS TO REPRODUCE
The current module dont have option to configure the EPG static port type as VPC. It has only one option as port, but cisco ACI has three options port, VPC and Di

[2019-08-20 06:34] resmo commented on #60833
bisected to 4ec2423a049551733f0f6a5d7be5202eb4a02d27

[2019-08-20 06:42] semrov commented on #60728
It seems currently it's not possible to implement this feature, due to lack of HVAC python lib to support [Auto-Auth feature](https://www.vaultproject.io/docs/agent/caching/index.html). I will close this issue and open another, after HVAC lib implement support for this.

[2019-08-20 06:42] #60728 closed, assigned to nobody

[2019-08-20 07:06] vivuu1989 opened #60923 "Ansible Tower installation is failing"
Hi Experts,

I am trying to install Ansible tower 3.2.0 version in my Redhat machine 7.2  and getting following error. I already installed ansible version 2.8 . But tower installation is getting failed.

Compnent Name: Ansible Tower
[code]

Also tried to explicity put the pyuthon2.7 entry in /etc/ansible/hosts file. but still it fails.

please advise me here. ( In my server no internet connectivit

[2019-08-20 07:12] sigquit commented on #60556
[Temporarily Solved]

lib/ansible/module_utils/network/fortios/fortios.py
- remove 3 lines
[code]
/lib/ansible/modules/network/fortios/fortios_config.py
- original
[code]
- update
[code]
and then upate my ansible config
[code]

[2019-08-20 07:31] resmo commented on #60833
I see the "benefit" in the hidden always tag on facts gathering as well.
The question is, how users could enable the always tag back on facts gathering or configure this behavior as "default"? The fix in #44251 hard breaks it.

I would suggest to add a new feature: A possible solution would be a new keyword for facts gathering e.g. `gather_facts: always-yes`, a `always-`preifx to make sure we want

[2019-08-20 08:29] frsh-augustin commented on #60750
I try to use the host the in the module, it works now. Thank you.

[2019-08-20 08:32] oovs opened #60925 "Add hosts ranges to inline/adhoc inventory"
##### SUMMARY
Inline/adhoc inventory doesn't support hosts ranges, eg.: `somehost0[1:2]`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Adhoc/inline inventory

##### ADDITIONAL INFORMATION
*Expected result*
Pattern being parsed and interpreted as 2 separate hosts `somehost01, somehost02`

*Actual result:*
[code]

[2019-08-20 08:54] Akasurde commented on #60923
Hi @vivuu1989 !

Error is -
[code]
Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd apprecia

[2019-08-20 08:54] #60923 closed, assigned to nobody

[2019-08-20 09:10] turb commented on #35198
Caching is hard.

In the current situation, because you decide with external tasks when and where to download things and what to do with it, you control what, where and when it is evicted.

I agree with @tumbl3w33d that having this built-in should rely on common features (like `get_url` or any `proxy_download` new function), not an implementation on our own.

[2019-08-20 09:38] getjack commented on #35198
Hm i wonder why this module does not use the maven binary at all. Would this not solve part of the problem because it has build in features to mirror a repository locally?

[2019-08-20 09:42] jfcgaspar commented on #59512
needs_triage

[2019-08-20 09:48] willthames commented on #60833
@resmo - we'd have to document such an option anyway so my preferences would be:

* always run `gather_facts` if it's set, no matter what tags are given
* document use of
[code]

[2019-08-20 09:50] willthames commented on #60833
One other point is that
[code]
is not valid yaml - gather_facts would need to be of type `bool/str/dict` (I think there are precedences for that) and you could just have:
[code]

[2019-08-20 10:11] rvitasek opened #60927 "nxos_reboot throws an error"
##### SUMMARY

Every time device is rebooted using the nxos_reboot module, the following error message is seen:

 [ERROR]: Traceback (most recent call last):   File "/usr/lib/python2.7/site-packages/ansible/plugins/connection/network_cli.py", line 467, in send     response = self.receive(command, prompt, answer, newline,
prompt_retry_check, check_all)   File "/usr/lib/python2.7/site-packages/ansib

[2019-08-20 11:00] tremble commented on #55775
@s-hertel #60930 addresses iam_password_policy.  Looks like the tests never worked (from day one "changed" was hard coded to True) if you'd be so kind as to review I'd appreciate it.

[2019-08-20 11:02] D3DeFi commented on #58981
I didn't know this, but it seems that Zabbix is case-insensitive and if you request host to be assigned to `Linux Servers` it places it in `Linux servers` group without problem. However, this is problem for zabbix_host module as it is case sensitive and `"Linux Servers" != "Linux servers"`.

I wonder if it would be a good idea to change everything to lower characters in the module itself as it sho

[2019-08-20 12:34] mpiscaer commented on #56786
I just starting using ansible together with vcenter and encountered this issue already. Is there a workaround for this?

[2019-08-20 12:47] bcoca commented on #60925
https://docs.ansible.com/ansible/latest/plugins/inventory/advanced_host_list.html

[2019-08-20 13:00] Akasurde commented on #60922
!component =lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticport.py

[2019-08-20 13:01] kevintieman opened #60934 "iosxr_config pushes the same configuration to all routers"
##### SUMMARY
When using the template function of Ansible to generate unique configurations iosxr_config pushes the configuration of the first iosxr device it touches to all devices.

Something very strange is happening, because when I use napalm sourcing the same config files it works without any issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iosxr_config

##### ANSIBLE VERSION
[cod

[2019-08-20 13:02] Akasurde commented on #60808
@olu-rotimi Thanks for reporting this issue. Could you please fill the [issue template](https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md) so that bot can identify maintainers and ping respective persons.

Thanks.

needs_info

[2019-08-20 13:03] Akasurde commented on #60808
!component =lib/ansible/modules/network/checkpoint/checkpoint_access_rule.py

[2019-08-20 13:14] #60538 closed, assigned to nobody

[2019-08-20 13:25] Akasurde commented on #60587
resolved_by_pr #60933

[2019-08-20 13:43] #60539 closed, assigned to nobody

[2019-08-20 13:57] o0st commented on #60925
Thanks for response, but it doesn't work for me on `2.6.2`:
[code]

Hosts `somehost01` and `somehost02` are reachable and resolvable.
Also, please,  notice `--list-hosts` output in the issue description which prints out single host instead of multiple.

[2019-08-20 14:02] bcoca commented on #60925
[code]

[2019-08-20 14:05] o0st commented on #60925
@bcoca rtfm, thanks for your patience.

[2019-08-20 14:05] #60925 closed, assigned to nobody

[2019-08-20 14:19] jedioncrk commented on #60713
Here is what is in my .aws/credentials:

`dpeng-mbp:.aws dpeng$ cat credentials
[oktaSSO]
aws_access_key_id = ASIA***
aws_secret_access_key = KCEA***
aws_session_token = FQoGZXIvYXdzEBAaDNTaiau9K/p8U9DwbyKMAlbGtPrMjT8uclQIrO2cU4vi1JDww2O/6/lf8ojzKGkqVByRfG0Ti2hkNuPsBNXLg80BluBNkahY4FH2lnRcszUNbdFZ7rorYsyC+kDBCsisnE5cv/8664+OtYfJtSfd6QABhWEX356iIrjDZsbzI7YTYjjvh0L9jAlkyFU7Er5v5OBZSx6Ip8kBJKZRJSxdXw

[2019-08-20 14:27] JunqiZhang0 commented on #60597
I mean what did you use for the ad_user and password to get it passed

[2019-08-20 14:33] sivel commented on #60909
Based on our CI rules, this YAML file passes without issue. I'm guessing your ruleset is overly strict compared to the rules we use.

https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/yamllint/config/default.yml

[2019-08-20 14:36] sivel commented on #60833
Duplicate of https://github.com/ansible/ansible/issues/58867

[2019-08-20 14:36] #60833 closed, assigned to nobody

[2019-08-20 14:41] bcoca commented on #60833
@resmo, @willthames @sivel, from previous ticket i had already thought of adding settting `'gathering_always_runs=no(default)|yes` (bikeshed away) to allow for the previous behaviour for those that want it.

[2019-08-20 14:50] geerlingguy commented on #60909
Makes sense, then; though I don't particularly like the `indentation: disable`, because that's one of the few rules that I think helps remove a lot of ambiguity in YAML docs (especially for beginners).

I'm okay with this issue being closed; changes to the overall YAMLlint rules for Ansible would be better served in another issue (if any are desired).

[2019-08-20 14:56] digifuchsi opened #60942 "vmware_dvs_host: uplink check insufficient"
##### SUMMARY
When checking the uplinks only the count of the configured and to be configured uplinks are checked but not the names of the vmnics to be set as uplink.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vmware_dvs_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
VMware vCenter 6.7

##### STEPS TO REPRODUCE

[2019-08-20 15:00] cyprix commented on #60751
@rosmo I've tried to create volume with the IP-addresses:
`gluster volume create IMAGES replica 2 transport tcp 172.16.105.140:/gluster/images 172.16.105.141:/gluster/images`
Also, I looked in the hosts file and see that they not resolving to the localhost
`
172.16.105.140 gl_server02.local gl_server01
172.16.105.141 gl_server01.local gl_server01
`

[2019-08-20 15:17] nitzmahone commented on #60677
Is the machine reachable without intervention after installing this package? I know some of the VMWare installers reset and/or stop the HTTP service, which makes WinRM unreachable. IIRC the `until` polling already hides connection issues, so that *shouldn't* be the cause, unless the machine is left in an unreachable state (eg the HTTP or WinRM services are not brought back up before the until time

[2019-08-20 15:18] sivel commented on #60717
This already exists if you increase the verbosity on the ansible-playbook execution.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-20 15:18] #60717 closed, assigned to nobody

[2019-08-20 15:19] fregatte opened #60946 "mssql_db - create/alter procedure error"
##### SUMMARY
Ansible module mssql_db returns the error `'CREATE/ALTER PROCEDURE' must be the first statement in a query batch` on import create/alter procedure statement.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mssql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible control machine is Ubuntu 18.04.1
Database is AWS RDS MSSQL instance, Engine vers

[2019-08-20 15:20] sivel commented on #60733
The label needs to always be templatable, as the label is used in the callback for displaying the loop item, even when the iteration is skipped.

As such you will need to add additional logic to the jinja2 in use in building your label, such as using `|default`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:/

[2019-08-20 15:20] #60733 closed, assigned to nobody

[2019-08-20 15:21] sivel commented on #60738
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-20 15:21] #60738 closed, assigned to nobody

[2019-08-20 15:29] ssbarnea opened #60949 "ec2_vpc_subnet_facts: mention any subnet_ids and module never returns"
##### SUMMARY
It seems that if you give any argument to `subnet_ids` on `ec2_vpc_subnet_facts` module, ansible will get stuck doing nothing.

Not mentioning any id and it will return all subnets.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_subnet_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2019-08-20 15:31] sivel commented on #60909
Closing per above.

[2019-08-20 15:31] #60909 closed, assigned to nobody

[2019-08-20 15:32] #59508 closed, assigned to s-hertel

[2019-08-20 15:32] sivel commented on #60922
bot_status

[2019-08-20 15:35] sivel commented on #60703
The `_from` arguments, allow a user to specify an individual file to be used, that lives within the role being instantiated.  `_from` arguments are not designed to configure external locations to where a role should look for files.

We have discussed this feature request, and have decided to not pursue it.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible o

[2019-08-20 15:35] #60703 closed, assigned to nobody

[2019-08-20 15:40] nitzmahone commented on #60785
Hrm, at a glance during triage, it looks like this might fail this way when an item has more than one category. It's erroneously saying it was filtered because the category name didn't match...

https://github.com/ansible/ansible/blob/3247626ac7a3e22739e4e343ebf5919b33784c8e/lib/ansible/modules/windows/win_updates.ps1#L187

[2019-08-20 16:00] set-db-id opened #60955 "postgresql_db module pgdata parameter"
##### SUMMARY

I am trying to set up postgresql environment using the postgresql_db module.
It seems to me that this module lacks the option to pass the path where the the data files will be stored (PGDATA).
Is it possible to add it or don't know something (variable)?

regards

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

postgre_db

##### ADDITIONAL INFORMATION

[code]

[2019-08-20 16:02] sivel commented on #60949
!component =modules/cloud/amazon/ec2_vpc_subnet_info.py

[2019-08-20 16:03] rdicroce opened #60956 "win_shell: environment variables propagated incorrectly"
##### SUMMARY
win_shell propagates environment variables incorrectly in some situations.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: CentOS 7
Target host: Windows 7

##### STEPS TO REPRODUCE
Run the playbook below.

[code]

##### EXPECTED RESULTS
out.stdout should show stringified JSO

[2019-08-20 16:07] yarix opened #60957 "yum list and name should not be mutually exclusive"
##### SUMMARY

for some reason the yum `list` and `name` parameters are mutually exclusive. this prevents users from writing something like:
[code]
i would expect the code above to translate into: `yum list installed some-pkg-name`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

yum module
##### ADDITIONAL INFORMATION

* this is also related to issue #30088 (which i don't think should be

[2019-08-20 16:18] sivel commented on #60957
`name` and `list` have been mutually exclusive since Ansible v0.7 (Aug 11, 2012).

https://github.com/ansible/ansible/commit/3b81df1e678a3ee36f922c4aee80acbb8b021b98#diff-1de0b4f0d139f781b3b4de87edb4de70R426

[2019-08-20 16:22] aniro opened #60959 "ipa_user: It is not possible to create user if group with the same name exists"
##### SUMMARY
It is impossible to create user in FreeIPA if group with the same name already exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipa_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
target_os: rhel7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Both users `test` and `test2` are created sharing the same group.

##### ACTU

[2019-08-20 16:30] pgassmann commented on #60833
@bcoca What was the scenario and "bug" that the "bugfix/regression" tries to fix? I expect that if one can run a specific task in a play by specifying a tag, it should also have the facts available unless `gather_facts` is set to false?

[2019-08-20 16:36] jthompson333 commented on #60418
Looks like its live now.  The new version that is...

https://pypi.org/project/XenAPI/

[2019-08-20 16:37] sgrimm-sg opened #60961 "docker_compose treats Docker deprecation notice as a failure"
##### SUMMARY
The latest Docker release has a bug that causes it to spit out a spurious deprecation warning when you pull an image. https://github.com/moby/moby/issues/39701

Ansible's `docker_compose` module treats that warning as a fatal error even though the operation actually succeeds.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_compose

##### ANSIBLE VERSION

[code]

##### CON

[2019-08-20 16:39] yarix commented on #60957
@sivel, OK they have been like that since v0.7. does it means they should be?

i'm sure there were / are reasons for for doing that. however, i believe that my suggestion here improves Ansible  functionality and readability.
I hope you'll agree that using the parameter `list` for both pkg name and "type of list" (installed, available, etc.) is an abuse in the first place.
such abuse eventually tra

[2019-08-20 16:42] bcoca commented on #60833
the scenario was that 'gather_facts' was ignoring tags, so when someone did `--skip-tags this` on a play tagged with 'this' it was executing fact gathering when user did not want it to, at the time this clearly looked like a bug.  Only after release did people seem to expect and even want this behaviour, so now a toggle seems to be the only way to satisfy both groups.

[2019-08-20 16:44] bcoca commented on #60957
I would actually remove 'list', since you can use `package_facts` to get info on installed packages

[2019-08-20 16:50] angystardust commented on #56786
@BijanJohn @mpiscaer did you already tried with good-old inventory script?
https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py

[2019-08-20 16:52] wojtek0806 commented on #60385
@markatdxb i forgot to mention for better experience please head to our Github for anything f5ansible related: https://github.com/F5Networks/f5-ansible

[2019-08-20 16:56] yarix commented on #60957
but then you miss the functionality to list available packages, right?

i wouldn't remove it.

[2019-08-20 17:05] yarix commented on #60957
BTW - it's not about just getting the "list installed" pkgs, there are several ways to get this info, here is another example: https://stackoverflow.com/questions/41551620/how-to-get-the-installed-yum-packages-with-ansible
problem is that all of theses are not efficient and readable as simply
[code]

[2019-08-20 17:05] felixfontein commented on #60961
It's slightly more complicated / simpler. Apparently something (docker-related) is printing stuff to stdout, from which Ansible parses the module's result in JSON. I guess that it usually ignores lines like `v7: Pulling from gliderlabs/registrator\n`, but a line starting with `[` probably results in Ansible stopping parsing and returning this error.

There is code in `docker_compose` which is supp

[2019-08-20 17:33] sluther commented on #60961
I'll have time to take a look at this later this week.

[2019-08-20 17:37] kbreit commented on #60750
Glad you were able to get this to work natively. I'm going to work with Meraki to make sure there's feature parity between global and China's Meraki environments. Also, I'll be updating the documentation to mention the `host` parameter can be used to specify different regions.

[2019-08-20 18:07] jillr commented on #53185
Ok rad, that lets me retry on `InvalidParameterValue` instead of any and all `ClientError`s which I like a whole lot better - thanks @s-hertel.

[2019-08-20 18:09] dekimsey opened #60968 "seport: Doesn't support numerical ports"
##### SUMMARY
If `seport` is given a numerical port, or list of numerical ports. It fails to parse. This is contrary to the documentation examples.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

seport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X, Python 3.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should parse & apply correc

[2019-08-20 18:10] justjais commented on #60229
@opoplawski thanks for raising the issue, from Ansible `2.9` new resource module named `ios_lag_interfaces` will be introduced (ref: PR: #60672 and  [ios_lag_interfaces](https://github.com/ansible/ansible/pull/60672/files#diff-398a5fc5736b7808d3260bd7cff62804R40)) plz check and update if this resource module will resolve the use case you have talked about.

[2019-08-20 18:20] #60750 closed, assigned to nobody

[2019-08-20 18:22] okelet commented on #27293
Putting:

[code]

When downloading files from github doesn't throw the error.

[2019-08-20 19:25] jthompson333 opened #60977 "New XenAPI on pypi seems to break xenserver_guest module in ansible"
##### SUMMARY
New XenAPI on pypi seems to break xenserver_guest module in ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xenserver_guest
https://docs.ansible.com/ansible/latest/modules/xenserver_guest_module.html

##### ANSIBLE VERSION
ansible 2.8.3
  config file = /home/johntho/ansible-stable/cqe/ansible_goodies/ansible.cfg
  configured module search path = ['/home/johntho/.ansible/

[2019-08-20 19:27] jthompson333 commented on #60977
FYI. @bvitnik or maintainers.  When you have time.
I will role back to my master branch xen api that I had backed up.

[2019-08-20 19:28] jthompson333 commented on #60977
One other thought... I used pipenv to install the XenAPI.  How can I tell if its the newest version?

[2019-08-20 19:40] jthompson333 commented on #60977
Bah.  Nevermind.  I had the wrong version.  The old version was in my Pipfile from before.  Canceling.

[2019-08-20 19:40] #60977 closed, assigned to nobody

[2019-08-20 20:22] ShachafGoldstein commented on #60956
Ok, change `testvar: '{{bla_string}}'` to `testvar: '"{{bla_string}}"'`.
it was read in powershell as {} and converted to hashtable and not read as a string.

[2019-08-20 20:26] felixfontein commented on #60537
The way the module is used in the examples, this might actually be a proper `_facts` module. Any opinions?

[2019-08-20 20:40] felixfontein commented on #60540
resolved_by_pr #60979

[2019-08-20 21:49] #60316 closed, assigned to jborean93

[2019-08-21 01:27] chathsuom opened #60985 "Gather facts from alpine container"
##### SUMMARY

Ansible gather facts from a alpine remote docker container breaks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.8.4
PRETTY_NAME="Alpine Linux v3.8"
HOME_URL="http://alpinelinux.org"
BUG_REPORT_URL="http://bugs.alpinelinux.org"

##### STEPS TO REPROD

[2019-08-21 02:48] Fred-sun commented on #60597
Normally, ad_user and passwd would be my Microsoft account and password, but I can't use this account, just test it with./azure/credentials or environment variables! Thanks!

[2019-08-21 04:07] markatdxb commented on #60590
Please give me some time to provide -vvv output as the error appears very seldom

[2019-08-21 04:19] jborean93 commented on #60590
If this is occurring sporadically it sounds like you are talking to different Active Directory hosts and the remove server information has not propagated to that host. A key part of Kerberos auth is the client (Ansible) tells the KDC (Domain Controller) it needs to auth with the server (Remote Windows Host). It does this by constructing an SPN in the form `HTTP/<fqdn>` and the KDC looks up the hos

[2019-08-21 04:47] briantist opened #60989 "win_scheduled_task should support gMSA principals"
##### SUMMARY
A [Group Managed Service Account or gMSA](https://techcommunity.microsoft.com/t5/Core-Infrastructure-and-Security/Windows-Server-2012-Group-Managed-Service-Accounts/ba-p/255910) is a special type of service account in Active Directory that has its password managed automatically and can be used across multiple servers. The password is not known to administrators, and services, applica

[2019-08-21 05:03] #60985 closed, assigned to nobody

[2019-08-21 05:20] #60693 closed, assigned to nobody

[2019-08-21 05:21] Akasurde commented on #60955
!component =lib/ansible/modules/database/postgresql/postgresql_db.py

[2019-08-21 05:37] felixfontein commented on #60523
resolved_by_pr #60992

[2019-08-21 05:51] Akasurde commented on #37007
@SaranrajMG With #60203, you can deploy VM using a template stored in content library.

Closing this issue since PR is merged. Please feel free to open a new issue if problem persists. Thanks.

[2019-08-21 05:51] #37007 closed, assigned to Akasurde

[2019-08-21 05:52] krsacme opened #60993 "openvswitch_db: fails when valeu other_config:dpdk-extra has '='"
##### SUMMARY
Value of other_config:dpdk-extra can have multiple values to be passed to dpdk, like '--iova-mode=va'. Check for existing values fails when there is an equal sign in the value too.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openvswitch_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL8

##### STEPS TO REPRODUCE
* Run this command in t

[2019-08-21 06:09] Andersson007 commented on #60955
+label postgresql

[2019-08-21 06:17] Andersson007 commented on #60955
@set-db-id , hey, thank you for the issue!
Could you please describe the possible use cases more detailed ?
Maybe with playbook examples, how it should look and work from your point of view. And expected results. Step-by-step in detail. It helps us to figure it out faster and better.
Waiting for your feedback, thanks!

[2019-08-21 06:51] Akasurde commented on #60949
@ssbarnea I am able to retrieve details of subnet when provided by `subnet_ids` parameter -

[code]
Console

[code]

needs_info

[2019-08-21 06:54] mattclay commented on #59884
Resolved by https://github.com/ansible/ansible/pull/60718

[2019-08-21 06:54] #59884 closed, assigned to abadger, nitzmahone

[2019-08-21 07:09] #60540 closed, assigned to nobody

[2019-08-21 07:14] Andersson007 commented on #60955
needs_info

[2019-08-21 07:38] ssbarnea commented on #60949
@Akasurde  It was reported to me on #ansible-aws that the problem happens when the request subnet_ids **does not exist** because  AWSRetry.exponential_backoff() retries on NotFound.

That is the bug. Guess, what, on molecule we do a cleanup before creating resources so its expected not to have an ids found.

[2019-08-21 07:38] Fred-sun commented on #56634
@rnowagk Thank you for reply, Can you send a PR to add your change？

[2019-08-21 08:07] markatdxb commented on #60590
@jborean93  many thanks for detailed reply and explanation of the process. After reading it i think we can close this issue. I believe that using the wait_for_connection will suit better our purpose.

[2019-08-21 08:07] #60590 closed, assigned to nobody

[2019-08-21 08:26] Andersson007 commented on #60707
https://github.com/ansible/ansible/pull/60999

[2019-08-21 08:53] lihlcnkr opened #61000 "how to implement custom connection plugin for running windows module"
##### SUMMARY
I implemented a custom connection plugin for my own agent program. and it works well on Linux, but won't work well on windows node.
on windows node with custom connection, only 'raw' module works well, but other modules like 'win_command', 'win_copy', 'win_shell', 'setup' all throw "invalid payload" error.

the error message is like

the connection source is like this
[code]

is it s

[2019-08-21 09:15] cans opened #61001 "The omit token not recognized when used in template"
##### SUMMARY

When using templates for a module argument value, the omit token is not recognized, due to leading and trailing slashes. As an example a task written like below fails:

[code]
When written in the forms below, it succeeds:

[code]
Or alternatively:
[code]

Actual playbook failure can be found [on Circle CI](https://circleci.com/gh/cans/user-make/45?utm_campaign=vcs-integration-link&u

[2019-08-21 09:43] duck-rh opened #61002 "discovered_interpreter_python is not fetched for delegated hosts"
##### SUMMARY
I'm running a playbook on a host on F30 where `discovered_interpreter_python` is found to be `/usr/bin/python3`. Later the playbook I delegate tasks to another host which happen to run using the same interpreter without redoing the discovery and contrary to currently cached value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
discovered_interpreter_python

##### ANSIBLE VERSIO

[2019-08-21 09:45] #59462 closed, assigned to nitzmahone

[2019-08-21 09:54] nitzmahone commented on #59890
addressed in #60682

[2019-08-21 09:54] #59890 closed, assigned to nobody

[2019-08-21 10:04] Fred-sun commented on #56774
@zikalino Please take a look this issue when you're free! Thank you very much!

[2019-08-21 10:07] Fred-sun commented on #56776
@zikalino

[2019-08-21 10:09] itcultus commented on #47106
The module returns "Changed" everytime I execute it. In my opinion this is a bug.
I have a list of users and I specify the username, first/last name, email and password. Nothing else.
Everytime the playbook is run I get "changed" although nothing is changed on the user.

I suppose that this is because the tower-cli update returns "Resource changed" every time you execute it.

[2019-08-21 10:10] nicholasrodriguez opened #61005 "vmware_vcenter_settings errors on use"
##### SUMMARY
When using the vmware_vcenter_settings module it errors out with the following
[code]
There are no newer versions on devel that I can see
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vcenter_settings

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible controller CentOS 7.5, RedHat 7.6
vSphere all 6.7

##### STEPS TO REPRODUCE

[code

[2019-08-21 10:30] set-db-id commented on #60955
Hi
I need the database data-files to be stored in a different location than the default one.
it's about implementing a parameter such as in the command creating the pg database:
[code]
This option specifies the directory where the database cluster should be stored. This is the only information required by initdb, but you can avoid writing it by setting the PGDATA environment variable, which can be

[2019-08-21 10:46] Akasurde commented on #60949
ah! Got it.

[2019-08-21 10:58] reverendtimm commented on #30411
@rakeshz11

Seeing the same problem here as of this morning when running ansible via packer. Literally no idea what changed, but this morning it's broken 👍

[2019-08-21 11:17] itcultus opened #61007 "tower_credential module not idempotent"
##### SUMMARY
The tower_credential module is not idempotent, at least not when I create a new SCM credential with an SSH key.

The code I use is the following (all variables are defined)

`  tower_credential:
    name: "{{ name  }}"
    description: "{{ description  }}"
    kind: "scm"
    organization: "{{ organization }}"
    ssh_key_data: "{{ ssh_key_data }}"
    state: present
    username: "{

[2019-08-21 11:29] daemenseth commented on #60677
No the machine is not left in a unreachable state. The playbook goes further when we put a ignore_errors: yes in the check installation

[2019-08-21 11:47] Akasurde commented on #59379
@pugnacity I am able to reproduce this issue on my setup. I will provide the fix soon.

[2019-08-21 12:05] Andersson007 commented on #60955
@set-db-id , when we create a new database the module will connect to PostgreSQL server by passing host, port, user, password. It connects to db by port like psql or any other clients.
I think the best way to store db files somewhere in filesystem is using tablespaces.
It is not implemented now, regarding the devel module documentation.
What do you think about this, it would be ok for you?
Common

[2019-08-21 12:06] cans commented on #61001
!component =lib/ansible/task_executor.py

[2019-08-21 12:12] lucasbasquerotto commented on #30411
One thing I noted with `Ubuntu 18.04` (tested $5 droplet at Digital Ocean) is that if I install ansible with `pip3` (using `python3`, but maybe it happens with `python2` and `pip` too) ansible hangs for a long time in some cases (it happened sometimes, but not always, but if I kept executing playbooks this happened more than once from time to time).

Weird thing is that when ansible hanged, even p

[2019-08-21 12:16] Andersson007 commented on #60955
in addition to the comment above, postgresql_db doesn't init a PostgreSQL cluster. It works with running cluster

[2019-08-21 12:55] #60516 closed, assigned to nobody

[2019-08-21 13:06] ganeshrn commented on #60444
resolved_by_pr https://github.com/ansible/ansible/pull/59421

[2019-08-21 13:23] set-db-id commented on #60955
thanks for reply.

a hint for the table space is useful.

initdb creates the necessary directory layout on the disk to be able to create and manage databases.
It would be nice to be able to change this parameter (initdb --pgdata and --waldir) using ansible playbook.

regards

[2019-08-21 13:30] DZUBA commented on #54259
I have the same issue.
[code]

[2019-08-21 13:33] Andersson007 commented on #60955
@set-db-id , i though about this. We could make a new module called postgresql_cluster or something else but it doesn't make sense because of idempotency, we won't be able to change anything when the cluster is initialized already (but i'm not sure 100%).
It happens once for the particular cluster.
So, in this case (initializing the cluster) i suggest using ```command``` or ```shell``` module, e.g

[2019-08-21 13:36] bkmeneguello commented on #59253
Ok, the formal spec of PKCS#8 textual representation can be found here: https://tools.ietf.org/html/rfc7468#page-12
It defines the Encapsulation Boundary as five dashes `-----` followed by the keyword `BEGIN` followed by the optional `ENCRYPTED` keyword followed by `PRIVATE KEY` and five more dashes `-----`, so:
`-----BEGIN PRIVATE KEY-----` or `-----BEGIN ENCRYPTED PRIVATE KEY-----`

For PKCS#1 t

[2019-08-21 13:44] AlanCoding commented on #61007
There's another similar issue with the tower_user password option, and this is probably the same. We cannot tell if your ssh_key_data has changed. This value is encrypted and protected. Interacting with API, the API will never tell us if an encrypted field has changed or not, by rule, for security reasons.

[2019-08-21 13:49] #58003 closed, assigned to danielmellado

[2019-08-21 13:50] darkwizard242 commented on #60889
HI @glamrock - Thanks for supporting the bug by reporting it. Just wanted to mention that `package_facts` module that came bundled with Ansible version 2.8.2 had a bug due to which the module reports an empty string and is non-functional. (Reference: https://github.com/ansible/ansible/issues/55850#issuecomment-511158484 ). You may need to switch to Ansible version 2.8.3, 2.8.4 or any other older v

[2019-08-21 13:56] Taoquitok commented on #23220
For those interested in this feature, as it looks like the related PR's have become quite stale I've started working on an [updated version](https://github.com/ansible/ansible/compare/devel...Taoquitok:Taoquitok-apt-download-only).
It's based on #45531, but with some changes to make the behaviour more consistent

Once I've created the integration tests I'll put together a new PR as it would be ama

[2019-08-21 14:02] doxxx commented on #40973
@ShachafGoldstein

Ansible version 2.8.3

Playbook output:

[code]

QuietUninstallString from registry:

[code]

[2019-08-21 14:15] geerlingguy opened #61015 "Ad Hoc polling for background task status broken since 2.0.0.0"
##### SUMMARY

In Ansible for DevOps, I wrote a section on async and background tasks, and in it, I mentioned the option of setting a `-P` 'POLL_INTERVAL' to allow Ansible to print the status of the backgrounded job (when used with `-B`) every X seconds (15 seconds by default).

In issue https://github.com/geerlingguy/ansible-for-devops/issues/91 people were reporting issues with this for quite so

[2019-08-21 14:17] itcultus commented on #61007
This is understandable. However, the module code uses "update" functionality. Thus, it just relies on what is available from the relevant tower-cli function. There is no attempt to check if the values are the same or not. Would you consider the addition of an option that adds a true "update" option in the module? If the update is present then the module calls the update, if not the create.

[2019-08-21 14:22] thanos1983 opened #61016 "ImportError: cannot import name context"
##### SUMMARY
I have installed pip2 and pip3:

[code]

The error is coming from this line:
[code]

[code]

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible --version

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7.6

##### STEPS TO REPRODUCE
Simply update ansible to latest version and type:
$ ansible

[code]

##### EXPECTED RES

[2019-08-21 14:29] sivel commented on #61015
Duplicate of https://github.com/ansible/ansible/issues/14681

[2019-08-21 14:38] MadDog2K opened #61017 "junos config delete vlan member not working if vlan is part of a consecutive range"
##### SUMMARY
While trying to delete a vlan member from an interface using src_format: set, it does not get deleted if the vlan is part of a consecutive range (as auto generated by Junos)

I stripped the actions down to the bare minimum to demonstrate, for example interface could also be an apply-group that is defining vlan members

We currently run with the CentOS packaged ansible 2.4.2 version (

[2019-08-21 14:43] #61015 closed, assigned to nobody

[2019-08-21 14:48] perezjasonr opened #61018 "postgresql_query named_args are not what is specified"
##### SUMMARY
module postgresql_query named args do not display correct args. I am telling it to use vars and when the play runs it shows what values its using and it appears to be populating with something else. And I have no idea where the value its presenting is coming from.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_query, specifically the named_args param

##### ANSIBLE

[2019-08-21 14:49] AlanCoding commented on #61007
If checking prior values was at all possible, that would mean that the server divulged the secret SSH private key.

We will never know if a secret field was updated or not. Like you say, this is only relevant for updating. Obviously it's always changed on creation.

I'm open to any proposals for how the module processes these. For instance, if no fields changed other than secret fields, then maybe

[2019-08-21 14:51] geerlingguy commented on #14681
I opened #61015 which is related, when you run background tasks with polling using ad-hoc commands you get no output after the 1.9.x releases (starting with 2.0.0.0). So a command like:

    ansible all -b -P 10 -B 3600 -m shell -a "while true; do echo test; sleep 5; done"

Gives no output in Ansible 2.0.0.0+

Whereas in 1.9.x it would give:

[code]

Every 10 seconds (outside the context of a play

[2019-08-21 14:54] lukeg87 commented on #60785
i've been poking around, i added some vars to the `$result` table under line 221
[code]
no matter what i put in the yaml file under `category_names`  either using the reference var or normal yaml lines like so.

[code]

$result.cat_names always returned the defaults set at the top of the script. seen here at the top of the debug output.
[code]

I've just hard coded the extra categories as defaults

[2019-08-21 15:09] geerlingguy commented on #14681
-label foreman
+label affects_2.8

[2019-08-21 15:52] sivel commented on #61016
The cause of this issue is having ansible installed both via yum and pip, using different versions.  The pip installed package, is placed in a site-packages directory that has higher precedence via Python, than the location installed via yum.

As such, the 2.8 version installed via yum, is attempting to import files from 2.7, which did not have `ansible.context`.

You will need to uninstall one or

[2019-08-21 15:52] #61016 closed, assigned to nobody

[2019-08-21 16:18] johannes-cabal opened #61025 "any_errors_fatal not accepting variables"
##### SUMMARY

- any_errors_true always runs as "true" when trying to use a variable (any_errors_true: "{{ foo }}")
- String under setting fails as well (any_errors_fatal: "False")
- Works as intended if defined statically (any_errors_fatal: False)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
any_errors_fatal
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-08-21 16:38] thanos1983 opened #61026 "Ansible installation failed with fatal error: pyconfig.h: No such file or directory"
##### SUMMARY
Installing ansible with Python 3 is failing on Centos 7.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Install ansible with Python 3 [](url)

[code]

##### ACTUAL RESULTS

[code]

[2019-08-21 16:46] thanos1983 commented on #61016
Yes  @sivel you are absolutely right.

I tried all possible combinations before posting this ticket but either I had install the package through pip or through yum and constantly was failing.

The only that worked for me was simply:

$ sudo -H pip uninstall ansible
$ sudo yum remove ansible -y

Check the site-packages for left over older installations and removed a few wrongly installed directorie

[2019-08-21 16:48] ironfroggy opened #61027 "ansible-galaxy install no longer causes download count increments"
##### SUMMARY
The role `install` command used to hit API endpoints that caused the `download_count` field on the role to increment, helping users identify the most popular roles for vetting purposes. Some recent changes to `ansible-galaxy` seems to have changed the endpoints or ways the endpoints are used, and this increment no longer happens.

This does not appear to be a backend issue, as it sti

[2019-08-21 16:59] markmcdowell opened #61028 "gcp_container_cluster error with private_cluster_config"
##### SUMMARY
Specifying private_cluster_config fails to create cluster with

The `useIpAliases` setting from `ipAllocationPolicy` is not exposed by the module. See https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#ipallocationpolicy

`ipAllocationPolicy` would be needed to be added to the request object https://github.com/ansible/ansible/blob/ab027611d5

[2019-08-21 17:02] Andersson007 commented on #61018
@perezjasonr hello, could you show please what is in your script file ?

[2019-08-21 17:05] Andersson007 commented on #61018
needs_info

[2019-08-21 17:12] sysndevops opened #61030 "Delete cloudflare record"
##### SUMMARY

I'm trying to delete an existing 'A' record within the Cloudflare platform. It does not get deleted and task state always displays 'OK' after the execution. I can view the DNS record within the Cloudflare dashboard even after executing the deletion task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-08-21 17:40] andreaso commented on #61030
Looks like you are using the `value` parameter where you should be using the `record` parameter.

[2019-08-21 17:50] perezjasonr commented on #61018
Unless I'm misunderstanding the order of events, the problem with whats showing up in the named_args is coming before the script gets invoked i thought. Those values are being given to the
script as:

"app_pw": "Ak,09fNCD_crlS3U",
"admin_pw": "Ak,09fNCD_crlS3U"

whereas those values should be:  "WTUm8uWy8DLgGBbW", and "8sr,M-gGSQVJr,vR"

They get determined before the script uses them. Or am I wro

[2019-08-21 18:02] cjnash14 commented on #29999
Does this bug also impact the copy module? Currently running into the same exact issue but with the copy module.

[2019-08-21 18:23] sysndevops commented on #61030
Thanks. That did the trick.

[2019-08-21 18:23] #61030 closed, assigned to nobody

[2019-08-21 18:24] andreaso commented on #61030
notabug

[2019-08-21 18:28] rambleraptor commented on #61028
Just created an upstream PR on our code generator to add `ipAllocationPolicy`

[2019-08-21 18:59] lcts commented on #21885
Any update on this? I just ran into this again.
I'm not much of a coder, but if anything needs testing I'm up for it.

[2019-08-21 19:02] MadDog2K commented on #61017
Below a small patch that causes "set ... vlan members start-end" to get expanded into a single set line for each vlan in the range, and that makes the whole s/^delete/set/ logic to work correctly
 (NOTE: I'm starting to learn Python, so this could perhaps be done way more efficient or safe)

So the current config as fetched from the device, eg :

set interfaces ae0 unit 0 family ethernet-switching

[2019-08-21 19:15] mattclay commented on #60227
The changes in https://github.com/ansible/ansible/pull/61031 should have resolved the remaining issues.

[2019-08-21 19:15] #60227 closed, assigned to mattclay

[2019-08-21 19:17] mattclay commented on #59276
Resolved by https://github.com/ansible/ansible/pull/60247

[2019-08-21 19:17] #59276 closed, assigned to sivel

[2019-08-21 19:22] siemsen commented on #56602
Solved: upgrading the IOS on the 6509s from fixed the problem. I upgraded from

15.1(2)SY7, RELEASE SOFTWARE (fc4) to

15.5(1)SY3, RELEASE SOFTWARE (fc5).

[2019-08-21 19:22] #56602 closed, assigned to justjais

[2019-08-21 20:01] tremble opened #61068 "module_defaults don't apply to aliased modules"
##### SUMMARY

If you use module_defaults (especially on a group) but call the module by one of its aliases then it fails to pick up the defaults

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/config/module_defaults.yml

##### ANSIBLE VERSION

Triggered this against devel (because _facts was renamed to _info)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL7

##### STEP

[2019-08-21 20:45] rambleraptor commented on #53965
close_me

[2019-08-21 20:45] perezjasonr commented on #61018
continuing to troubleshoot/test results, perhaps we might find this interesting. I tried this playbook,
note that the named_args values are generated right there on the spot, just like the debug lines:

`- name: app admin pw info # TODO definitely remove this, just wanting to see passwords for sanity checks
    debug:
      msg: "{{ lookup('password', '/dev/null length=16') | b64encode | b64decode

[2019-08-21 20:46] rambleraptor commented on #34049
close_me

[2019-08-21 20:46] rambleraptor commented on #48060
close_me

[2019-08-21 20:59] sivel commented on #59948
https://github.com/ansible/ansible/pull/60826

[2019-08-21 20:59] #59948 closed, assigned to nobody

[2019-08-21 21:01] sivel commented on #61068
This is a known shortcoming of module_defaults. Each and every module and it's aliases must be hard coded into the list.

See also: https://github.com/ansible/ansible/issues/59864

[2019-08-21 21:02] #53965 closed, assigned to nobody

[2019-08-21 21:02] #48060 closed, assigned to nobody

[2019-08-21 21:02] #34049 closed, assigned to nobody