[2018-11-01 15:55] evanstoner opened #47928 "ipa_dnsrecord: cannot create record without TTL"
##### SUMMARY

When using `ipa_dnsrecord` without the optional `record_ttl` attribute, the module passes the string 'None' to the IPA API, resulting in a failure to create the module. In my IPA server's /var/log/httpd/error_log I can see:

[code]

This appears to be caused by [using `to_native`](https://github.com/ansible/ansible/blob/v2.7.0/lib/ansible/modules/identity/ipa/ipa_dnsrecord.py#L214)

[2018-11-01 16:00] hd2212 opened #47929 "ServiceNow Ansible Dynamic Inventory Filtering"
##### SUMMARY
How can I filter the hosts populated to Inventory in Ansible Tower while synchronizing custom inventory script.

##### ISSUE TYPE
Filtering hosts based on the group names

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
This would help get target specific hosts into the inventory as inventory has a limit constraint.

[code]

Please look at this link for now.ini and now.py scripts:

[2018-11-01 16:10] mwchristiansen commented on #9612
seeing the same behavior with the latest version of ansible.  is this still a feature?

[2018-11-01 16:18] sivel commented on #47929
This repository is for the Ansible open source project.  For Ansible Tower support, please reach out to your Red Hat support team or sales person.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-01 16:18] #47929 closed, assigned to nobody

[2018-11-01 16:31] njordr commented on #45233
@sivel thanks, I'll try and let you know

[2018-11-01 16:33] nitinkansal1984 commented on #47927
ansible 2.6.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

[2018-11-01 16:42] mvrgotiks commented on #47920
Suggestion:
Update documentation for template parameter, that in combination with snapshot_src, a name of VM can also be provided.

[2018-11-01 17:10] bcoca commented on #46993
clean_facts produces this error but it should not apply to `set_fact` unless you use the `cacheable=true` option.

[2018-11-01 17:18] bcoca commented on #47829
easy enough to then to template as you iterate over them

[2018-11-01 17:59] dariko commented on #47737
@jfillatre Nothing to be sorry about :). To be honest I could have thought of the python library version as responsible way earlier!
I'm gonna take the opportunity to tighten the module requirements.

[2018-11-01 18:06] ElCoyote27 commented on #16874
I am happy to report that ansible copy now works fine with RHEL 7.6 (Note that I am still running the latest el7.5 z-stream kernel because Veritas still hasn't released updated kernel modules):

``
[root@myhost ~]# ansible -m copy -a 'src=/etc/hosts dest=/shared/vxf0/hosts' localhost
localhost | SUCCESS => {
    "changed": true,
    "checksum": "370f7dbaa1d7661319df2f17be1960574734b964",
    "dest

[2018-11-01 18:08] ElCoyote27 commented on #29728
I am happy to report that ansible copy now works fine with RHEL 7.6 (Note that I am still running the latest el7.5 z-stream kernel because Veritas hasn't released updated kernel modules yet):

``
[root@myhost ~]# ansible -m copy -a 'src=/etc/hosts dest=/shared/vxf0/hosts' localhost
localhost | SUCCESS => {
    "changed": true,
    "checksum": "370f7dbaa1d7661319df2f17be1960574734b964",
    "dest":

[2018-11-01 18:11] oupala commented on #20199
Upgrading to 2.7 is a workaround.

But version 2.2 is still the default ansible version packaged for debian stable, which should be free of resolved bugs. @bcoca added a comment telling that version 2.2 was patched.

It is important for ansible to patch the default version of ansible for debian stable. Using backports or pinning make debian stable less stable.

[2018-11-01 18:59] amkuchta opened #47939 "stdout_callback requires "-v" to format correctly"
##### SUMMARY

Applying a `stdout_callback` plugin does not properly format output unless a `-v` tag is passed with the `ansible-playbook` command.  Case in point:

###### Command that does not work
`ansible-playbook create_terraform_files.yml --tags "include, nacl"`

###### Commands that do work
`ansible-playbook create_terraform_files.yml --tags "include, nacl" -v`
`ansible-playbook create_terra

[2018-11-01 19:10] sivel commented on #47906
It does work.  You may have missed that I used splatting inside of zip (`*data[1:]`).

In your last example, the following 2 loops produce the same results:

[code]

[code]

[code]

[code]

[2018-11-01 19:19] larsks commented on #47906
I did miss that, yeah.  Thanks for highlighting! Not necessarily intuitive, but it does work.  I like the idea of a `zip_together` filter, because the naming makes it obvious that it's good for replicating the behavior of `with_together`, but maybe this just needs to be a documentation update instead to include your example?

[2018-11-01 20:35] maxamillion commented on #40615
sorry for the lag time on this everyone, I'm working my way through the backlog

[2018-11-01 20:39] rafaelorafaelo commented on #46523
Output of my host, URL is https://foremanserver/api/v2/hosts/77/facts
[code]

[2018-11-01 20:42] mirochon commented on #47527
Hi @gdpak
Do you have any other questions? Do you have an update?
Thanks!

[2018-11-01 20:59] bonfire-dev opened #47945 "KeyError: 'retentionInDays' in cloudwatchlogs_log_group"
##### SUMMARY
Due to changes (43752) in https://github.com/ansible/ansible/pull/43752/files, if the log group exists then it is looking for retention param. Since it is not a default option for creating a cloudwatchlogs_log_group, I ended up with a KeyError: 'retentionInDays'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: cloud/amazon/cloudwatchlogs_log_group.py

##### ANSIBLE VERSIO

[2018-11-01 21:16] mprasil opened #47947 "net_put module leaves empty files behind"
##### SUMMARY

I'm trying to upload file to Mikrotik (routerOS) device using `net_put` like this:

[code]
The module does upload the file successfully, but leaves empty file behind. The file is always named randomly - something like `dd5889ae-9f1c-4566-8722-79dc127b38a6`. (seems to follow some uuid format)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

net_put
##### ANSIBLE VERSION

[code]

[2018-11-01 21:29] felixfontein commented on #47896
[Another instance of the original ones.](https://app.shippable.com/github/ansible/ansible/runs/91418/53/tests)

[2018-11-01 22:02] rotanid commented on #20199
@oupala upstream ansible isn't responsible for Debian packages. please report the bug to the maintainers of the ansible debian package.

[2018-11-01 22:35] #43304 closed, assigned to nobody

[2018-11-01 22:58] #36831 closed, assigned to nobody

[2018-11-01 22:59] #34855 closed, assigned to nobody

[2018-11-01 23:11] #41240 closed, assigned to nobody

[2018-11-02 01:12] hoyeunglee opened #47954 "Juniper QFX5100 can not display set for configuration"
Juniper QFX5100 can not display set for configuration

show configuration | display set | no-more

need to change to

show configuration | no-more

[2018-11-02 01:18] hoyeunglee opened #47955 "ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory"
when run two playbook at two terminal for the same device group but different playbook yml
in ubuntu for over 200 hosts

ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory

[2018-11-02 01:21] #29903 closed, assigned to nobody

[2018-11-02 02:17] 3kami3 commented on #46727
@Akasurde, I checked on PR #47538 with Python 2.7.
PR #47538 is an error in Python 2.7.
Please confirm.

[code]

[2018-11-02 02:52] memelet commented on #41313
I'm ok with the flush not supporting conditionals. But it would sure be nice to be able to suppress the (new) warning since there is nothing that can be done about it.

[2018-11-02 03:06] #46261 closed, assigned to nobody

[2018-11-02 03:40] harshap3839 opened #47957 "YAML syntax error"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-02 03:41] #44930 closed, assigned to nobody

[2018-11-02 04:21] atals2018 opened #47958 "Unable to TFTP IOS Image to Cisco ASR router"
##### SUMMARY
Seeing a timeout when trying to TFTP ios image into Cisco ASR router

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION
[root@localhost playbooks]# ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packa

[2018-11-02 06:16] dsteinkopf commented on #27293
Same here. I am using ansible 2.6.4 on ubuntu 16.04 LTS (python version = 2.7.12).
It seems the problem only happens when fetching from github.com

[2018-11-02 06:32] Zer0-One commented on #46671
This is what a session looks like:

[code]

it gives me a plain prompt, no login banner or anything.

[2018-11-02 06:46] Zer0-One commented on #46671
[code]

[2018-11-02 06:47] Zer0-One commented on #46671
The machine is really slow, and it takes about 10 seconds or so for me to receive a password prompt in the first place, but even with an extended connection timeout, it still fails.

[2018-11-02 07:30] unamuno commented on #46341
Sorry, I have no idea were to start. Is openstack_cloud_from_module a wrapper for shade?

[2018-11-02 07:30] #46341 closed, assigned to nobody

[2018-11-02 07:38] hoyeunglee opened #47963 "can not ignore error for individual ios_commands"
running a list of commands,

if one of command fail, it do not have output to file for the rest of commands,

it can not ignore error to continue run for the rest of commands

[2018-11-02 07:39] hoyeunglee commented on #47954
ansible version : 2.7.1
issue type : bug

[2018-11-02 07:44] Akasurde commented on #47957
@harshap3839 Thanks for reporting this issue. Could you please provide additional information such as playbook used, variables used, console log with `-vvvv`, operating system and system settings used ? Without this information it is very difficult to debug this issue. Thanks.

needs_info

[2018-11-02 07:47] Akasurde commented on #47955
@hoyeunglee Thanks for reporting this issue. Could you please provide additional information like playbook used, variable used and console log with `-vvvv` ? Without this information it is very difficult to debug this issue. Thanks.

[2018-11-02 07:49] Akasurde commented on #35896
@Tux12Fun Could you please test with latest or 2.5 release and let us know if it works for you ? Thanks

needs_info

[2018-11-02 08:10] #47920 closed, assigned to Akasurde

[2018-11-02 08:13] mkrizek commented on #47945
cc @willricardo

[2018-11-02 08:35] hoyeunglee commented on #47963
ansible version : 2.7.1
issue type : bug

[2018-11-02 08:38] f-bor opened #47965 "signal handlers triggering exceptions"
##### SUMMARY
Ansible is using in some places SIGALRM signals to manage timeouts. This is done triggering an exception in the signal handler to exit right away the running code on which a timeout is needed. When this underlying code is in a finally clause and the exception is triggered, the finally clause can't finish its work and bugs are likely to happen. For example, paramiko is acquiring locks

[2018-11-02 08:39] xiongxiaogang opened #47966 "Python calls ansible api, does it support multi-threaded calls, or supports multi-process calls?"
Python calls ansible api, does it support multi-threaded calls, or supports multi-process calls?

##### ANSIBLE VERSION
ansible == 2.7.1
python ==3.7.0

##### OS / ENVIRONMENT
centos7

[2018-11-02 08:44] hoyeunglee commented on #47955
i just only run playbook command many times for whole morning for around 200 switches and routers in the same terminal in ubuntu 16 in vmware player 12
i guess memory not enough, so output this error

i reboot whole notebook, then no error now

[2018-11-02 08:48] #47550 closed, assigned to nobody

[2018-11-02 08:56] ganeshrn commented on #47954
@hoyeunglee Use `cli_command` module with `ansible_connection: network_cli`

[2018-11-02 08:57] rishabh-d-dave commented on #47829
Sorry, I don't get you. For the scenario I am speaking of, there is no iteration involved.

[2018-11-02 09:20] umrikar opened #47969 "VMware: Getting error while runing playbook on ansible 2.7 which works well on ansible 2.5.seems backward compatibility is missing"
##### SUMMARY

'''
   on ansible 2.5 when i run my playbook i was able to run playbook successfully but same playbook on ansible 2.7 is asking extra parameters

'''

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

'''
vmware_portgroup
'''
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

'''
on ansible 2.5 and 2.7 run below playbook

[2018-11-02 09:43] mback2k opened #47970 "acl module performs recursive query after recursive set (present) or rm (absent)"
##### SUMMARY

The acl module currently disallows to use recursive together with state query. This is most likely done due to slow performance of a recursive getfacl and the huge amount of data that could need to be stored in the returned values. Unfortunately the module is written in such a way that the "get" part responsible for a query is always run, even for allowed recursive operations.

####

[2018-11-02 09:51] Ravindra-Tatikonda opened #47973 "Append the output in file"
Hi ,

I have simple script to get the show commands output to print and copy to the file .
Script works fine , also the print works fine . As per below script i have 2 show commands ,first show version and second show lldp neighbors.

---
- name: run multiple commands
  connection: network_cli
  hosts: all
  tasks:
    - name: run multiple commands
      ios_command:
        commands:
          -

[2018-11-02 09:52] mback2k commented on #47970
!component =lib/ansible/modules/files/acl.py

[2018-11-02 10:03] roumano commented on #31344
With a recent version of ansible, i can't reproduce it anymore ( 2.7.1 )
With the default version in debian stretch , i can still reproduce the issue ( 2.2.1.0 )

[2018-11-02 11:08] justjais commented on #46815
@pffs as discussed over IRC, kindly check the scenario with `devel` and update the respective issue.

[2018-11-02 11:17] michalmedvecky opened #47978 "docker_service fails to start containers"
##### SUMMARY

Recently, my `docker_service` jobs, running regularly on clean VMs, started failing with `Error: service image lookup failed after pull` message:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- docker_compose module

##### ANSIBLE VERSION

All recent stable versions

##### OS / ENVIRONMENT

Ubuntu 18.04, Ubuntu 16.04

##### STEPS TO REPRODUCE

playbook.yml:

[code]

d

[2018-11-02 11:20] ericdost commented on #47200
I'm having the same issue with `asa_command` and vaulted creds

[2018-11-02 12:33] JacksonHill commented on #42417
I'm affraid it does not work in 2.7.1 either. There are no error messages, task is completed with "ok" status(not "changed"), but binding is not created. It doesn't matter if vhost is specified, or not.

[2018-11-02 12:38] fprina commented on #33464
Seems the same with ansible 2.7.0

[2018-11-02 12:54] alexanderjslin commented on #26095
@Akasurde I've tried using this in Ansible 2.5.2 and it works for two disks on different datastores, but if I try to add more than one disk per datastore then I get this following error in vsphere.

Faiiled to create a virtual machine : Cannot complete the operation because the file or folder /vmfs/volumes/5b9930a0-65f1d709-ff47-1402ec3feaf8/templatename/templatename_1000_2.vmdk already exists"

E

[2018-11-02 13:16] #46477 closed, assigned to nobody

[2018-11-02 13:43] s-hertel commented on #47939
Hi @amkuchta. I think this is a documentation issue (and maybe a feature request) since it looks like the callback was designed to work that way, according to the pull request and mailing list conversation about it. https://github.com/ansible/ansible/pull/16839

[2018-11-02 13:51] oupala commented on #20199
I agree some things are under the debian packager responsibility.

But is it their responsibility to patch to stable version with commits that have been applied to a later release?

[2018-11-02 13:52] #47881 closed, assigned to nobody

[2018-11-02 14:02] bmike78 commented on #40072
@mnaser: I see that openstacksdk 0.19.0 is available in Pypi and I went ahead and used it for my task and confirm that it works with this patch to os_recordset.  Can you go ahead and merge this?

Thanks!

[2018-11-02 14:03] sarlacpit opened #47981 "ansible.module_utils.connection.ConnectionError: GigabitEthernet2"
##### SUMMARY
Running in to a Traceback error when trying to run a playbook to add a vlan to a port

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No output from the command.

[code]

##### OS / ENVIRONMENT
One target, a Cisco 897 Version 15.5(3)M
Device from which ansible is installed and the playbook is being run is Ubuntu: 16.04 LTS

[2018-11-02 14:06] idahood opened #47982 "nxos_facts: cdp neighbor information overwrites lldp neighbor information"
##### SUMMARY

If a NXOS device has CDP and LLDP enabled, only the CDP neighbor information is reported in "ansible_net_neighbors"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

On a NXOS device with LLDP and CDP neighbors, run nxos_facts.

[code]

##### EXPECTED RESULTS

[2018-11-02 14:07] sivel commented on #47957
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-02 14:07] #47957 closed, assigned to nobody

[2018-11-02 14:07] sivel commented on #47966
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-02 14:07] #47966 closed, assigned to nobody

[2018-11-02 14:09] sivel commented on #31344
Ansible 2.2 is no longer supported.  Since this works as expected in a recent version of Ansible, I am going to close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-02 14:09] #31344 closed, assigned to bcoca, maxamillion

[2018-11-02 14:10] gundalow commented on #20199
Rather than using the version that Debian maintain may I suggest you use our PPA https://docs.ansible.com/ansible/2.7/installation_guide/intro_installation.html#latest-releases-via-apt-debian which will receive updates

[2018-11-02 14:44] benjdudas opened #47985 "iosxr_command MODULE FAILURE when ‘connection timed out’ is in the return output"
##### SUMMARY

iosxr_command module returns MODULE FAILURE when ‘connection timed out’ is in the return output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iosxr_command, iosxr.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco ASR9K Series, Cisco IOS XR Software, Version 6.1.4[Default]

##### STEPS TO REPRODUCE

Bug discovered whilst running ‘sh

[2018-11-02 15:40] abadger commented on #20199
The short answer to this is yes.

Upstream provides fixes in new releases of Ansible.  Some downstreams choose to upgrade the package so that there is less deviation from upstream.  Other downstreams choose to keep shipping the older version but they then need to also assume the responsibility for either backporting fixes or telling their users that they won't be fixing the bugs in the older versi

[2018-11-02 16:00] ajardan opened #47990 "Variable defined in a play doesn't exist in hostvars"
##### SUMMARY

A variable 'var' defined in a role doesn't show up in hostvars[inventory_hostname]['var']

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

See the version in both debug outputs

##### ACTUAL RESULTS

[code]

[2018-11-02 16:02] dagwieers commented on #47668
I can see where this goes wrong. The `infraRsAccNodePGrp` object is being added even when the entry is None. Which means the None value is translated into a string.

[2018-11-02 16:09] ckyriakidou opened #47991 "UDP support for nsupdate"
##### SUMMARY

nsupdate only works with tcp in ansible versions under 2.8. This breaks DNS RFC
) https://tools.ietf.org/html/rfc5966#section-1 according to RFC - DNS must support UDP and should support TCP for zone transfer queries and by association the nsupdate module should default to UDP or at least enable UDP. I've seen this issue in 2.6 and above.
##### ISSUE TYPE
- Bug Report

##### COMPONE

[2018-11-02 16:10] ckyriakidou commented on #47991
https://github.com/ansible/ansible/pull/47885 this fixes it for devel but it's still an issue for 2.7 and 2.6.

[2018-11-02 16:11] sivel commented on #47990
This is expected, as only host scoped variables will show up in `hostvars`.

A role provided variable is play scoped, and as such does not exist in `hostvars`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-02 16:11] #47990 closed, assigned to nobody

[2018-11-02 16:16] dagwieers commented on #47668
@smnmtzgr Can you please test #47992 ?

[2018-11-02 16:21] cleming opened #47994 "vultr_server_facts gather facts fails with an empty Vultr account"
##### SUMMARY

`vultr_server_facts` module fails when gather servers facts on a Vultr's account with no machine. Devel branch is affected too.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`vultr_server_facts`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Only with an empty account. No problem on an account with machines.

##### STEPS TO REPRODUCE

Ju

[2018-11-02 16:40] michael-mooncake opened #47996 "New issue (hosts file)"
##### SUMMARY

Sorry, i'm newbie. i have this issue. Anyone can help me ?
##### ISSUE TYPE
- Bug Report
PLAY [all]
skipping: no hosts matched
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-11-02 17:05] cachemeoutside commented on #47927
Not sure if this is related, but we've experienced similar messages and debugged our problem to be described in following MySQLchangelog. We were using mysql 5.6.41 from the community repo, but it looks like 5.6.42 requires zlib 1.2.11+ now. Our RHEL7 systems are using zlib 1.2.7, so there seems to be a version incompatibility.

https://dev.mysql.com/doc/relnotes/mysql/5.6/en/news-5-6-42.html

[2018-11-02 17:28] wbagdon opened #47998 "win_uri fails when retrieving plaintext result"
##### SUMMARY

win_uri module is failing despite no obvious error in the returned output
std_out is 0 and std_err is empty

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Win Server 2012 R2
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected results:
* no module failure
* pr

[2018-11-02 17:31] samdoran commented on #46788
This is most likely happening due to the SSH connection being severed too quickly. Try setting `pre_reboot_delay: 60` to see if that gives more reliable results.

[2018-11-02 17:32] gdpak commented on #47947
Hi @mprasil

I do not have access to routerOS.  I was not able to reproduce the issue with cisco IOS . Probably code is hitting some exception path specific to routerOS.
However I was able to find one possible path where this can happen. Can you try fix as below
[code]

[2018-11-02 17:36] linuxsavior commented on #44065
I still see this issue in Ansible 2.7

[2018-11-02 18:11] dagwieers commented on #47668
This specific issue triggered me to check our existing modules, and I have fixed similar patterns in other modules. #48000 #48001

[2018-11-02 18:36] rambleraptor commented on #45547
Hello! I'm one of the Google developers working on the gcp_* modules.

Unfortunately, the Cloud SQL API has a quirk where, if you try to get information about a database that does not exist, it returns a 403 (not a 404 as intended). We have to skip 403s in this case. We'll figure out a better way to message this.

[2018-11-02 18:38] bcoca commented on #47996
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-02 18:38] #47996 closed, assigned to nobody

[2018-11-02 18:38] #31900 closed, assigned to nobody

[2018-11-02 18:50] #41391 closed, assigned to nobody

[2018-11-02 18:51] jctanner commented on #46788
needs_info

[2018-11-02 18:57] #44906 closed, assigned to nobody

[2018-11-02 18:57] AlanCoding commented on #44065
Correct, a fix has been attempted, but has not been merged.

[2018-11-02 19:11] resmo commented on #47994
Thanks @Cleming, I was able to reproduce. Currently testing the patch.

[2018-11-02 19:15] mprasil commented on #47947
Thanks for that, I'll try to test it when I get to my PC, hopefully tomorrow.

[2018-11-02 19:42] acozine commented on #17930
Last reference to `shade` was removed from the `devel` branch by #47359.

I looked at the `devel` branch and at the two most recent supported releases (`stable-2.7` and `stable-2.6`) - in those three branches, all openstack modules document that `python >= 2.7` is required.

In Ansible 2.5 (`stable-2.5` branch), we still have references to `shade` and all openstack modules document that `python >=

[2018-11-02 19:42] #17930 closed, assigned to rcarrillocruz

[2018-11-02 19:44] s-hertel commented on #47991
@ckyriakidou Thanks for contributing the patch. Feel free to open backport PRs using https://docs.ansible.com/ansible/latest/community/development_process.html#backport-pull-request-process for 2.6 and 2.7 (a release manager will review/merge since ansibot doesn't merge backports).

[2018-11-02 20:10] UnknownGnome opened #48010 "VMware - Include options to place switches or datastore clusters into folders"
##### SUMMARY
In vmware_dvswitch and vmware_datastore_cluster, provide the option to place the item in a network or storage folder similar to the option under vmware_host.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Task running VMware module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

###

[2018-11-02 20:14] smnmtzgr commented on #47668
@dagwieers #47992 tested, it works correctly. Thanks.

[2018-11-02 20:19] IPvSean opened #48011 "ansible_survey module"
##### SUMMARY
It is currently not possible using the existing [tower modules](https://docs.ansible.com/ansible/latest/modules/list_of_web_infrastructure_modules.html#ansible-tower) to auto-configure a survey in tower.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
tower_survey

(honestly don't care what we call it as long as it matches the nomenclature that users can find easily.

##### AD

[2018-11-02 20:53] #24155 closed, assigned to acozine

[2018-11-02 20:54] prashanth24355 opened #48012 "gce.py not fetching all projects inventory"
##### SUMMARY

In my gce.ini i have mentioned my gce projects like this "gce_project_id = {my-project2, my-project1}".
Then I run ./gce.py to get the inventory. But ./gce.py --list showing only my-project1 inventory.

Need solution for this

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

[2018-11-02 21:29] rambleraptor commented on #47921
Hello! The current version of gcp_compute_firewall merged into devel fixes this issue.

[2018-11-02 21:29] rambleraptor commented on #47886
Hello! The current version of gcp_compute_firewall (in devel now, will be in 2.8) fixes this issue.

[2018-11-02 21:52] mprasil commented on #47947
Hi @gdpak, I've tested that, but unfortunately it didn't work. I've verified that I'm using the version with the fix:

[code]

I've tried to run the playbook and again, it succeeds but leaves behind the temporary file.

I think you should be able to test this with a [VM running router OS](https://wiki.mikrotik.com/wiki/Manual:CHR_VirtualBox_installation). I would expect the issue would show up in

[2018-11-02 22:31] UnknownGnome commented on #48010
Issue Type: Feature Request
Ansible Version: 2.6.6
Component Name: Task running a VMware module

[2018-11-02 22:36] s-hertel commented on #48012
That's not a comma separated list. Try `gce_project_id = my-project2,my-project1`, no space between projects. If your instance(s) in the second project have the same name(s) they will trample on each other. If your names are unique, the cache may need to be refreshed. Use unique instance names or check out the GCE inventory plugin for better flexibility for picking how Ansible selects unique hostn

[2018-11-03 00:12] prashanth24355 commented on #48012
All my project hostnames are unique. I set the cache_max_time=60 in gce.ini.
When I use "ansible all -i ./inventory/gce.py --list-hosts" is only showing the hosts in second projects only.

[2018-11-03 02:39] tendey opened #48022 "why ansible tower installation success but cannot login"
I had installation success ,it look like.
![qq 20181103103136](https://user-images.githubusercontent.com/8463924/47947232-b662ad80-df53-11e8-8be2-09d7e68a3dab.png)
my setup inventory file is use the default:
[inventory.txt](https://github.com/ansible/ansible/files/2544568/inventory.txt)

[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='password'

pg_host=''
pg_por

[2018-11-03 02:53] willthames commented on #47904
This is a horrendous bug. Minimal playbook test cases:

minimal.yml
[code]

minimal2.yml
[code]

Run minimal.yml, then minimal2.yml, and watch as `ip_permissions` is the empty list. Running minimal2.yml again fixes it, but that's a workaround

[2018-11-03 02:57] s-hertel commented on #48012
@prashanth24355 You should fill out the template like the bot requested so people who work on GCP will get pinged (and will also allow people to try to reproduce your issue more accurately). I've tried it on devel and it found my VMs in both projects without any problem.
You may want to try the inventory plugin, as the contrib scripts are not being actively worked on since the plugins were added.

[2018-11-03 03:12] tendey commented on #48022
sys version:
Linux localhost.localdomain 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

ansible version:
 ansible 2.7.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  exec

[2018-11-03 06:51] tendey commented on #48022
I get the login page result:
Forbidden (403)

CSRF verification failed. Request aborted.

You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties.

If you have configured your browser to disable cookies, please re-enable them, at least for this site,

[2018-11-03 07:48] nomadcz opened #48034 "Partition info is not immediately updated for the (multipath) disk Facts"
##### SUMMARY

Partition info is not immediately updated for the (multipath) disk Facts

Facts will eventually get updated but not sure what triggers it - sometimes it's just enough to re-read partition info via parted module etc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux

[2018-11-03 10:02] resmo commented on #47994
resolved_by_pr #48036

[2018-11-03 11:50] nomadcz commented on #48034
Apparently ansible reads partition info from /sys/block/device/ and in my case this directory isn't always updated even though I run partprobe.

[2018-11-03 11:50] #48034 closed, assigned to nobody

[2018-11-03 13:09] brandomeesdom commented on #38702
Same issue with ansible 2.6 running as ansible user and becoming user apache. I changed remote_tmp to /tmp as ugly workaround.

[2018-11-03 13:47] ghost opened #48039 "Become method fails with permission denied on ansible tmp dir."
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

django_manage
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

In ansible 2.6 the django_manage module throws a permission denied on /usr/share/httpd/.ansible while running the playbook as user ansible and switching to the apache user inside a task u

[2018-11-03 14:48] AlanCoding commented on #48011
the tower-cli library the modules are using will process `survey_spec` as a keyword arg to all of the job template methods. It needs testing, but this could probably be implemented trivially by adding that parameter to the job template modules.

[2018-11-03 14:53] ckotte opened #48045 "Task fails with loop_control.label and when condition with an undefined variable"
##### SUMMARY
The task fails with loop_control.label and when condition defined if the variable in the when condition isn't defined.

The task will be skipped if I comment out loop_control.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop_control
when

##### ANSIBLE VERSION
[code]
or
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.5

##### STEPS TO REPRODUCE
1. Create

[2018-11-03 16:32] MTN-RowinAndruscavage commented on #46727
@3kami3  unable to repro after downgrading from python 2.7.12 to 2.7.5  , but I suppose I don't actually have any actual utf-8 in my vsphere inventory.

While I try to figure out how to test locally using the stubs at https://github.com/ansible/ansible/blob/devel/test/units/contrib/inventory/test_vmware_inventory.py

Could you try replacing line 688 :
[code]

https://raw.githubusercontent.com/ansi

[2018-11-03 20:26] aksharbarot opened #48048 "When condition is not working as expected when decimal or point in playbook"
##### SUMMARY

Ansible When condition not working expected when decimal or point in value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

If when condition is grater then, it should execute next task but, it didn'

[2018-11-03 21:53] AnishBAH opened #48050 "Possible regression with aws_s3 module"
**Issue**: [aws_s3 calling PutObjectAcl instead of PutObject](https://github.com/ansible/ansible/issues/38569)
##### SUMMARY
Similar to the issue that occurred in 2.4.x, in 2.7.1 which I'm currently running. When using the aws_s3 module, when attempting to locally or remotely upload files to s3, its generating an Access Denied error related to ObjectAcls. Our work environment prevents us from putt

[2018-11-03 22:01] belidzs commented on #22169
This is unfortunately not perfect as it stops handlers from running

[2018-11-04 05:15] hoyeunglee opened #48052 "can not generate inventory report with ansible tower trial version"
[code]

[code]

[code]

[2018-11-04 10:23] #47994 closed, assigned to nobody

[2018-11-04 10:32] resmo commented on #47994
backport PR for 2.7.x: #48054

[2018-11-04 10:39] kees-closed opened #48055 ""This module requires NetworkManager glib API" (NetworkManager-glib package obsoleted)"
##### SUMMARY
Fedora NetworkManager-glib (Libraries for adding NetworkManager support to applications (old API)), has been removed from the Fedora repo, [more info](https://apps.fedoraproject.org/packages/fedora-obsolete-packages). Please update the API to match with supported (modern) API's.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURAT

[2018-11-04 12:10] felixfontein opened #48057 "ACME: allow debugging (GETting) resources only available via POST-as-GET endpoints"
##### SUMMARY
From November 2019 on, Let's Encrypt will disable most of their GET endpoints and will only allow POST-as-GET.

If one wants to debug a failed certificate order, one currently can GET the order URI, the challenge URIs and the authz URIs (and the resulting certificate URI) using any HTTP client (such as `curl`). This will no longer be possible then.

I think we should offer users (and

[2018-11-04 12:34] mouliveera opened #48058 "LVG failing to create volumes"
##### SUMMARY

 lvg module is failing to create new vg volume
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lvg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.1 LTS \n \
##### STEPS TO REPRODUCE

ansible localhost -sm lvg -a 'vg=vgreputation pvs=/dev/nvme1n1 state=present'
failing to create vg logical volume

[code]

##### EXPECTED RESULTS

[2018-11-04 12:34] felixfontein commented on #47896
https://app.shippable.com/github/ansible/ansible/runs/91776/54/tests

[2018-11-04 12:37] felixfontein commented on #47896
I've tried to reproduce this by running the detached test in a loop for a couple of hours. It worked fine every time.

I think I'll change the test to simply check that `Output` is in the dict.

[2018-11-04 13:55] tterranigma commented on #44987
After some time, I think that the issue here is the low resources on the target machine. Please free feel to close this if it does not value.

[2018-11-04 14:05] tterranigma commented on #45896
This seems fixed now.

[2018-11-04 14:05] #45896 closed, assigned to nobody

[2018-11-04 14:07] tterranigma commented on #45800
This is still present.

[2018-11-04 14:10] tterranigma commented on #45803
This is still present.

[2018-11-04 14:21] #45802 closed, assigned to nobody

[2018-11-04 14:26] #45799 closed, assigned to nobody

[2018-11-04 14:31] nkakouros opened #48060 "Bugs with gcp_compute_* modules"
##### SUMMARY

Several bugs/issues with `gcp_compute_*` modules. Instead of creating multiple issues, I will list all of them here.

- [ ] Running with no credentials errors with: `Credential type 'None' not implmented'. A message explaining the situation would be better I think.
- [ ] `gcp_compute_instance_facts`: cannot use filters on complex keys such as `networkInterfaces[0].network : global/n

[2018-11-04 14:59] felixfontein commented on #47065
needs_info

[2018-11-04 15:01] felixfontein commented on #45766
resolved_by_pr #46547

[2018-11-04 15:59] felixfontein commented on #24236
resolved_by_pr #48063

[2018-11-04 18:37] zimmertr commented on #43637
Unfortunately that solution is not working for me. Ansible instead throws the following erro:

And python3.7 is, in fact, installed.

[code]

Any ideas?

[2018-11-04 20:22] larsks opened #48065 "Behavior of ansible vs. ansible-playbook w/r/t {host,group}_vars is unexpected"
##### SUMMARY

The [docs](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html) say:

But this description can lead to unexpected results when using the ad-hoc `ansible` command.

Given:

1. The following directory structure

[code]

1. The following content in `./playbook_dir/group_vars/all.yml`

[code]

Then running the following command from inside the `playbook_dir`
director

[2018-11-04 21:16] ianwilliamsonnz commented on #47033
Yay! I did it! W00t FTW

Hello To whom it may concern at Ansible / Red Hat / Atlassian

The following documentation does not demonstrate a working configuration and is misleading:

https://www.ansible.com/integrations/devops-tools/atlassian-bitbucket-pipelines

https://www.ansible.com/integrations/devops-tools/atlassian

https://bitbucket.org/AnsibleByRedHat/ansible-tower-pipelines/src/master/

Be

[2018-11-04 23:17] willthames commented on #43637
@zimmertr it looks like ansible is running against pluto.sol.milkyway, which would need to have /usr/local/bin/python3.7 (setting `ansible_python_interpreter` to `ansible_playbook_python is typically only needed when running with `connection: local`). You may find that setting `ansible_python_interpreter`to just `python3` works for these purposes - if not, use the path to `python3` on pluto.sol.mi

[2018-11-05 00:26] #45829 closed, assigned to nobody

[2018-11-05 02:01] noname1314 commented on #47905
Hi team,

Any update about this issue?

Regards,
Eric Cheng

[2018-11-05 02:20] Tomorrow9 commented on #44962
Hi, I can take a look at this issue later. Thanks.

[2018-11-05 03:06] ysn2233 opened #48069 ""stderr" callback plugin does not put unreachable error into stderr"
##### SUMMARY
When I use the "stderr" callback plugin. It is found that it only put task failure into stderr.  The unreadable failure is still output in stdout.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

callbacl plugin - stderr

##### ANSIBLE VERSION

[code]

[2018-11-05 07:00] AgilDat commented on #22169
@belidzs, What handlers do you say? I mean, I don't miss any task since we use that workaround.

[2018-11-05 07:08] rishiloyola commented on #46980
Bump 😄
It is also not working for me.

**Ansible Version:**
[code]

**Error Details**
[code]

[2018-11-05 07:41] Fred-sun commented on #47227
@mattclay

[2018-11-05 07:42] Fred-sun commented on #47226
@zikalino

[2018-11-05 07:47] AgilDat commented on #22169
Yes, totally correct, we must add `meta: flush_handlers` at the end of the role.

[2018-11-05 07:49] Fred-sun commented on #45335
@zikalino

[2018-11-05 07:56] Zer0-One commented on #46671
Exporting that variable seems to have no effect.

[code]

[2018-11-05 08:00] Zer0-One commented on #46671
Also, it can't be a privilege issue if the prompt is `[None]`, can it? We can see from the regular ssh session above that there should be a `bottom-quark>` prompt.

[2018-11-05 08:09] mkrizek commented on #48045
I am not able to reproduce the issue (with `2.6`, `2.7` and latest `devel`). I tried to create a simple reproducer from your example:
[code]

What am I missing? Thanks!

needs_info

[2018-11-05 08:35] toreatessier commented on #47845
Thank you for your answer. I guess I just need to change something in the python code as the method exit_json() allows a task to be "ok" and "changed" at the same time but I have no idea where my mistake is.

[2018-11-05 08:59] Sviatik opened #48076 "[win_user][wrong home directory]"
##### SUMMARY
When I create user using win_user, and then login to machine, the home directory create as :
```C:\\Users\<username>.HOSTNAME```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2012 R2
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect that ansible create home directory:
``

[2018-11-05 09:09] webknjaz commented on #48076
!component +lib/ansible/modules/windows/win_user.py
!component +lib/ansible/modules/windows/win_user.ps1

[2018-11-05 09:21] Sviatik commented on #48076
I found out that problem appears only when I create home directory before login as sftp user.
I guess this problem not on your side it's a windows related issue.
So I close the issue.

[2018-11-05 09:21] #48076 closed, assigned to nobody

[2018-11-05 09:22] jborean93 commented on #48076
@Sviatik that's correct, `win_user` will not create the profile dir just the user. The profile is created on the first logon and if the folder at `C:\Users\<username>` already exists then it will append the hostname. If that folder exists then it will append `.001` and so on. You will have to create the user first then log on before touching the folder.

There is a way to manually create a profile

[2018-11-05 09:23] ofirshtrull opened #48077 "KeyError: 'retentionInDays' bug in cloudwatchlogs_log_group"
##### SUMMARY
since I updated ansible from 2.6.7 to 2.7.1
when i run the cloudwatchlogs_log_group module get KeyError: 'retentionInDays' error in the run
at first, I thought  it was because of my retention value but I get the same error also if I omit this filed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudwatchlogs_log_group

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
macos

[2018-11-05 09:42] camilamacedo86 commented on #46337
Yes 👍

[2018-11-05 09:42] #46337 closed, assigned to nobody

[2018-11-05 10:34] ams0 commented on #43802
+1 for an azure_rm_applicationsecuritygroup module, and then adding a `destination_application_security_group` property to the azure_rm_securitygroup module (which should really be renamed `azure_rm_networksecuritygroup`) @haroldwongms

[2018-11-05 10:39] gdpak commented on #47947
@mprasil Thanks for routerOS VM pointers . I was able to reproduce the issue with MikroTik Router.
I have committed the fix in the same branch.  Issue was - we try to retrieve the same file before sending to router for doing idempotency check. We received a slightly different exception with routerOS when file did not exist on os.
Can you please give it a try ?

[code]

[2018-11-05 10:43] wysoki89 opened #48080 "Parse cloudformation template from s3 fails"
##### SUMMARY
Since I got an error "'templateBody' failed to satisfy constraint: Member must have length less than or equal to 51200" I uploaded cf template to s3. However, variables an dynamic expressions are not parsed when creating stack.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubunt

[2018-11-05 10:52] justjais commented on #46975
@RNanney Thanks for raising the respective issue, also an apology for the late follow-up but with the playbook mentioned in the bug description I tried to reproduce the scenario but I am unable to hit the case. I am trying following the version of `iosxe` device: `Cisco IOS XE Software, Version 16.06.01` and running ansible `2.7.0` on the controller side.
Can you please verify if the issue still p

[2018-11-05 10:53] mprasil commented on #47947
That's great. I'm going to test it later tonight when I get to my PC and will report back.

[2018-11-05 11:11] alexntt commented on #47874
Hi @jborean93,

I've run it twice and now I get:

[code]

If you want us to do more testing, let us know and we will try. Note that this is Windows 2008 R2 ( ami-0ffffc9a085b90ffa on eu-west-1, IIRC).

Yeah, I think we've seen that, but we've not been able to update things yet.

Thanks!

Álex

[2018-11-05 11:33] #47896 closed, assigned to nobody

[2018-11-05 11:52] Shaps commented on #48022
Hi @tendey,
Sorry but this is not the right place to report issues with Tower. If the issue happens with AWX, you might be able to raise an issue in the [AWX](https://github.com/ansible/awx) repo.
For RedHat supported Tower, please raise a request through your Redhat access portal.

[2018-11-05 11:53] #48022 closed, assigned to nobody

[2018-11-05 11:57] ckotte commented on #48045
Sorry, I cannot recreate this anymore.. I had this issue with one host, but I forgot which one it was. I will reopen the issue if it happens again.

[2018-11-05 11:57] #48045 closed, assigned to nobody

[2018-11-05 11:58] #47955 closed, assigned to nobody

[2018-11-05 12:06] Sviatik commented on #48076
@jborean93 Thanks for the answer.

Maybe someone will find it usefull:
I found a way to create new user and upload pub key to c:\Users\username\.ssh\authorized_keys in one playbook.
1. create folders path C:\Users\username\.ssh\
2. upload there authorized_keys
3. In sshd_config change line to : ```AuthorizedKeysFile      C:/Users/%u/.ssh/authorized_keys```
%u - it means username which you will use

[2018-11-05 12:29] kay73 commented on #22169
IMHO it is far from perfect because it does not take into account if parameters differ along redundant assignments.

This whole workaround is a no-go for my company because it would introduce even more complexity into our playbook suite and would be a net of tripwires for all colleagues, who do not know about this workaround.

[2018-11-05 12:30] trishnaguha commented on #47982
@idahood Can you please try the fix https://github.com/ansible/ansible/pull/48087 and let us know?

[2018-11-05 12:34] Shaps commented on #47832
Hi @IPvSean,
This seems to be fixed now, at least I can see in the code you linked the module now checks if the data is a file or not, instead of hard-failing.

[2018-11-05 12:56] #37352 closed, assigned to nobody

[2018-11-05 12:59] deatheros commented on #16621
+1

[2018-11-05 13:00] deatheros commented on #46203
+1 For implementing this feature

[2018-11-05 13:06] AMHAnsible9 opened #48093 "More than one task utilising asa_command in the same playbook throw's a ConnectionError"
##### SUMMARY

When trying to utilise the asa_command module more than once within a playbook, a ConnectionError is thrown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

connection.py
asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Operating system: Linux awx 3.10.0-693.21.1.el7.x86_64 (Red Hat 4.8.5-28)
Cisco ASA version: asa917-25-k8.bin

##

[2018-11-05 13:08] odyssey4me commented on #47301
https://github.com/ansible/ansible/pull/47620 has merged into Ansible devel, backports proposed:

2.7: https://github.com/ansible/ansible/pull/48091
2.6: https://github.com/ansible/ansible/pull/48092

[2018-11-05 13:14] mgedmin opened #48095 "pip: name=NonLowercasePackageName state=present falsely reports 'changed' in --check mode in Ansible 2.7.1"
##### SUMMARY
The `pip` module in Ansible 2.7.1 in check mode is claiming changes where there should be no changes when the package name is not lowercase.  This is a regression since Ansible 2.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.10 on the controller, Ubuntu 14.04 LTS on the target

#

[2018-11-05 13:17] mgedmin commented on #48095
git bisect blames commit 501503f4cb424d01c030e14cb5e5f8445fcdada3

[2018-11-05 13:20] mgedmin commented on #48095
Bug is still present in the current `devel` branch (commit 197d329139).

A workaround is to change `name=ZODB` to `name=zodb` in the playbook.

[2018-11-05 13:34] alfredosola opened #48096 "proxmox_kvm.py raises exception "dictionary changed size during iteration""
##### SUMMARY
When creating a Proxmox kvm:
fatal: [localhost]: FAILED! => {"changed": false, "msg": "creation of qemu VM _name_ with vmid _number_ failed with exception=dictionary changed size during iteration"}

This only happens if a dict is passed for creating several network interfaces, but not if a single network interface is created.

It looks very similar to #37454 and #46755.

##### ISSUE

[2018-11-05 13:41] bcoca commented on #48065
`ansible` and `ansible-console` have a `--playbook-dir` , you cannot use the current directory as you can execute from `/tmp` or `/var/tmp` and open yourself to variable injection by anyone.

[2018-11-05 13:44] bcoca commented on #48065
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-11-05 13:44] #48065 closed, assigned to nobody

[2018-11-05 14:23] #48052 closed, assigned to nobody

[2018-11-05 14:27] #48080 closed, assigned to nobody

[2018-11-05 14:29] bcoca commented on #47845
no mistake, 'changed' is a "substatus" of OK, so all 'changed' tasks are ALSO OK, but not all OK tasks are 'changed'.

This is not a bug, it is working as intended, so I'm closing this ticket.

[2018-11-05 14:29] #47845 closed, assigned to nobody

[2018-11-05 14:30] bcoca commented on #44987
closing as per above

[2018-11-05 14:30] #44987 closed, assigned to nobody

[2018-11-05 14:31] danihodovic commented on #17268
Confirmed in 2.7.1.

[2018-11-05 14:50] idahood commented on #47982
@trishnaguha I tried #48087 and I'm still seeing the same behavior .

[2018-11-05 15:00] rammady opened #48097 "disable public ip of GCE vm using ansible playbook"
I've ansible playbook for for GCE VM creation .This playbook launch GCE VM with public ip address. I want to launch my GCE vm without public ip address.

Please suggest to implement this . I'm new to ansible.

Thanks & Regards
Ram

[2018-11-05 15:00] #46994 closed, assigned to nobody

[2018-11-05 15:00] #46995 closed, assigned to nobody

[2018-11-05 15:06] bcoca commented on #47540
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-05 15:06] #47540 closed, assigned to nobody

[2018-11-05 15:07] #47793 closed, assigned to nobody

[2018-11-05 15:09] bcoca commented on #47973
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-05 15:09] #47973 closed, assigned to nobody

[2018-11-05 15:19] bcoca commented on #48048
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are comparing strings, so "509" is always less than "99" as the comparison is by character "5" < "9" not by full value of the strin

[2018-11-05 15:19] #48048 closed, assigned to nobody

[2018-11-05 15:21] bcoca commented on #48097
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-05 15:21] #48097 closed, assigned to nobody

[2018-11-05 15:22] benjdudas opened #48099 "RFE: Support for NXOS user roles with become"
##### SUMMARY

Tasks will fail if the ansible_user is assigned the network-admin role. When logged in as a network-admin the `show privilege` displays a `-1` for the current privilege level although user has full priv-15 rights.

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos.py

##### ADDITIONAL INFORMATION

Adding role priv-15 to the user will resolve this failure on become.

[2018-11-05 15:46] Atem18 commented on #17349
Hi,

I found out that by default Ansible ConnectTimeout is 10.

[code]

So if you increase it with `ansible-playbook --timeout 60`, you have the time to put your credentials.

[2018-11-05 15:52] amkuchta commented on #47939
@s-hertel I would classify it under feature request.  To me, if I specify a callback that I would like to use, I would think that it should "just work" after that - no additional special flags should be required when my expectation is that all `stdout` would follow the new format (not just `stdout` of a certain verbosity).

[2018-11-05 16:17] Jotir commented on #31640
+1 for this request, any progress on this?

[2018-11-05 16:31] bcoca commented on #47939
This is a feature request as the 'ugly' aka 'condensed' output is the purposeful default, the -v adds more information and forces 'pretty output'.

There are other callbacks you can use that prettify the output by default, but the default output was supposed to be more 'concise'.

[2018-11-05 17:05] #24236 closed, assigned to nobody

[2018-11-05 17:12] AmGeorgiou commented on #31567
Try passing the args by setting the environment variable `ANSIBLE_SSH_ARGS`.

This overrides the default values instead of appending the new values to the ssh command.
It worked for us.

[2018-11-05 17:17] DBendit commented on #26708
resolved_by_pr 48105

[2018-11-05 17:37] 0x4139 opened #48108 "[Errno 2] No such file or directory - thrown when executing a command"
##### SUMMARY

`[Errno 2] No such file or directory` is thrown when executing a command or a shell instruction, might be something i missed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS mojave
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

To work
##### ACTUAL RESULTS

[code]

[2018-11-05 17:44] cschroed opened #48109 "InvalidParameterCombination: Network interfaces and an instance-level private IP address may not be specified on the same request"
I see older instances of this bug, but they were resolved years ago. So I don't know if this is a regression or something else.

Tested latest release.

##### SUMMARY

I have an ansible task that has been working for years that stopped working last week. It has been at least two months since we've rebuilt a VM, so it may have happened a month ago, but we first noticed it last week. We are simply t

[2018-11-05 17:46] alanthing commented on #16443
@sakonachhoeurng this flagged for me with a `file.sh.j2` template and a shell script that was showing the count of an array, like `${#my_array[@]}`. Once I used `{% raw %}` and `{% endraw %}`, I got past the error.

[2018-11-05 18:02] #47668 closed, assigned to nobody

[2018-11-05 18:06] jctanner commented on #48108
What is the value of `hostvars['KUBERNETES_TOKEN_HOLDER']['token']` ?

needs_info

[2018-11-05 18:09] dagwieers commented on #47668
@smnmtzgr Thanks for testing !

[2018-11-05 18:10] zimmertr commented on #43637
@willthames That makes sense. Do the dependency packages also need to be installed on the target node? I assumed all of these prerequisites were for the machine that is executing the Ansible playbook.

[2018-11-05 18:11] 0x4139 commented on #48108
`kubeadm join 10.135.123.4:6443 --token no5mfb.exn7fhkx2yunz6h5 --discovery-token-ca-cert-hash sha256:b9aba233a9ec6290eaefe175d15e6e34e23ad43ce0490717376f518c0d9e3606z`

[2018-11-05 18:13] jctanner commented on #48099
!component =lib/ansible/plugins/terminal/nxos.py

[2018-11-05 19:00] fsulbaran opened #48117 "win_audit_policy_system module not changing the value"
##### SUMMARY
Trying to use ansible on an ec2 windows server 2016.  winRM connection works and other modules run perfectly fine.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_audit_policy_system

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
windows server 2016
##### STEPS TO REPRODUCE

simple playbook and run  win_audit_policy_system to change something.

[code]

##### EXPECTED R

[2018-11-05 19:14] amkuchta commented on #47939
@bcoca is there a listing of which callbacks work on default outputs?  It would be nice to know simply for my own edification.

[2018-11-05 19:17] bcoca commented on #47939
the 'default' callback is the one that works on 'default outputs', any callback that is set as the 'stdout callback' can take over the main output of Ansible. https://docs.ansible.com/ansible/latest/plugins/callback.html#plugin-list

[2018-11-05 19:56] IPvSean commented on #48099
@benjdudas what is the version of nxos code and the platform type?  are we seeing this on all types? (3K, 5K, 9K, etc?)

[2018-11-05 20:00] #16616 closed, assigned to nobody

[2018-11-05 20:04] mooninite opened #48122 "loop_control is evaluated before when"
##### SUMMARY
Tasks that use loops and process the results are evaluating loop_control before the when condition is tested. If a previous loop was skipped, causing results to not be defined, the loop_control evaluation fails and causes the play to end in failure. The when condition should override everything and if the when fails (causing a skip) nothing else in the task should be evaluated.

####

[2018-11-05 20:06] mooninite commented on #48122
FYI: Changing the label line to the line below allows Ansible to skip:
[code]

[2018-11-05 20:14] ppotvin commented on #47978
This issue started when Docker Compose 1.23 was released last week:

https://pypi.org/project/docker-compose/#history

Forcing Docker Compose to any version lower than 1.23 is a possible work-around.

Another work-around is to remove `pull: yes` from the task arguments and do the pull manually:

[code]

[2018-11-05 20:17] bcoca commented on #48122
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-11-05 20:17] #48122 closed, assigned to nobody

[2018-11-05 20:49] IPvSean commented on #48099
I am seeing this on NX-OSv without even using the role, when you set to priv-15 it does it as well

[code]
the version is->
[code]

[code]

[2018-11-05 21:00] #47184 closed, assigned to maxamillion

[2018-11-05 21:08] mprasil commented on #47947
I can confirm that the latest commit in branch (a8a506853c) resolves the issue. Thanks for that @gdpak.

[2018-11-05 21:35] #46334 closed, assigned to samdoran

[2018-11-05 21:43] sat1121 commented on #41774
@ckotte Thanks for the update. I tested module for the nic failover as well as the check mode option. It works well. Thank you for the contribution.

[2018-11-05 21:46] oupala commented on #20199
I asked debian maintainers to release a new version with this fix. We'll see their answer.

I will also study the ppa, or the backports that are relatively recent.. (3.6).

Thanks to you all!

[2018-11-05 22:07] achilds-vela opened #48131 "Dependency correctly skipped, but dependency variable stored and prioritized elsewhere under hosts play"
##### SUMMARY

Essentially, our team decided that it wanted to have a single hosts: all play, and include roles via tags instead of by hosts. This has worked well enough, until a few days ago, when some code was merged in, and a variable stopped retaining its default value. In our case, a number of roles have a dependency on our nginx role, which all need different values of course. The structure

[2018-11-05 22:28] prashanth24355 opened #48132 "gcp_compute plugin showing auth failure"
##### SUMMARY
I am using gcp_compute plugin as a inventory source. While on local machine it is working fine but when I try to use this same inventory on GCP VM it is showing

can somebody tell me how to resolve this

Thanks
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute plug-in

##### ANSIBLE VERSION
ansible 2.5.5

##### CONFIGURATION

ansible.cfg

[inventory]
enable_plugins = gc

[2018-11-05 22:30] sivel commented on #48132
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-05 22:30] #48132 closed, assigned to nobody

[2018-11-05 22:33] benjdudas commented on #48099
@IPvSean whats the `show user-account <username>` on that? Should be able get a current priv level of 15 there.

[code]
I have been testing this on NXOSv version 7.3(0)D1(1), but its also seen on Nexus 5596 version 7.3(2)N1(1.

[2018-11-05 23:00] ahuffman opened #48134 "Ability to temporarily mount a filesystem without altering /etc/fstab"
##### SUMMARY
Ability to perform temporary mounts without altering /etc/fstab.  Currently anything done with the mount module needs to manipulate /etc/fstab.

Additional parameter is needed to perform temporary mounts, such as with an ISO image that would be unmounted later in a play.  Currently this can't be done with the mount module, as altering the /etc/fstab is required.  Maybe call it "modif

[2018-11-05 23:22] willthames commented on #43637
All of the prerequisites are for the node that actually talks to kubernetes.

[2018-11-06 00:23] mattclay opened #48137 "k8s module failure with openshift==0.8.0"
##### SUMMARY

k8s module failure with openshift==0.8.0

https://app.shippable.com/github/ansible/ansible/runs/92049/93/tests

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Set the `openshift` version to `0.8.0` in the `k8s` integration test:

https://github.com/ansible/ans

[2018-11-06 01:10] #47998 closed, assigned to nobody

[2018-11-06 01:15] jborean93 commented on #47998
@wbagdon thanks for the issue, the problem lies with the output contains non json data which https://github.com/ansible/ansible/pull/48140 has fixed. You can see this in your output where the module result contains `0 ` in the stdout and Ansible failed to parse this.

[2018-11-06 01:57] hoyeunglee opened #48146 "can not hardening with ansible hardening"
ansible tower trial

[code]

[code]
ansible-galaxy install git+https://github.com/openstack/ansible-hardening

i find the github page said it support ubuntu
but i find default/main.yml all are for redhat

[2018-11-06 02:29] jborean93 commented on #30790
I know this is quite later but win_chocolatey has been changed a few times since this bug report. If you are able to test this against 2.7.x that would be fantastic.

needs_info

[2018-11-06 02:29] Im0 commented on #47200
I'm having the same issue with `ios_command` and the vaulted password.  Running 2.7.1.

[2018-11-06 02:39] prashanth24355 commented on #48012
when I am using inventory plugin in gcp vm, I am getting "with gcp_compute plugin: Service Acccount Email only works with Machine Account-based" error

[2018-11-06 02:55] jborean93 commented on #46787
This issue is due to `{{ item }}` being a list of lists and then that being used in a place where it only expects strings. The only way I can replicate this is by having

[code]

It seems like either `chocolatey_packages` is being merged with another list or something happening in the transformation before the value is sent to the Windows host that causes it to contain multiple list values, the mo

[2018-11-06 02:55] #46787 closed, assigned to nobody

[2018-11-06 03:11] jborean93 opened #48147 "win_chocolatey: chocolatey fails when no sources configured and package name is chocolatey"
##### SUMMARY
When there are no sources configured and Chocolatey goes to check if itself is installed it will fail saying there are no sources enabled. While this would be true for other packages, the Chocolatey
package itself should not fail if Chocolatey is already installed. This would be a rare occurrence but may occur with the following playbook

[code]

If the 3rd task failed for whatever r

[2018-11-06 03:20] Fred-sun commented on #47358
@vpopescu Thanks for the contribution, I will confirm this. Thanks!

[2018-11-06 03:38] jborean93 commented on #48147
GH issue with chocolatey/choco https://github.com/chocolatey/choco/issues/1673

[2018-11-06 04:13] bamb00 commented on #31932
Hi,

Is there a solution or workaround for this issue "invalid resource kind specified in the data"?

I'm using ansible 2.4.3 and k8 v1.9.5.

Thanks.

[2018-11-06 04:37] 3kami3 commented on #46727
@MTN-RowinAndruscavage I checked it.
[code]

[code]
The code modification is an error in python 2.7.5.
It will be the same in python 2.7.15.

I think that this problem is caused by [a change in the string object type changed in Python 3.0](https://learning-python.com/strings30.html).
For this part, can you fix the compatibility code of python 2 and python 3?

[code]
For the time being, this code p

[2018-11-06 04:51] trishnaguha commented on #47982
@idahood The `update` method does not override the dictionary. Please paste the output you are getting.

The reason you are seeing it is because lldp command also returns the same information that cdp neighbors returns. It is not possible to have keys with same name in a dictionary.
for e.g `mgmt0`:
lldp returns
[code]
cdp returns
[code]
It does not make any difference since the hostname and port

[2018-11-06 04:53] memelet commented on #42661
I did not have this issue with 2.6. After upgrade to 2.7 no ec2_group task every completes. Downgraded back to 2.6 and the problem does not occur.

[2018-11-06 05:55] willthames commented on #31932
Ansible 2.4 is very much past the end of life.

Ansible 2.6 will create CRDs, Ansible 2.7 can re-run manifests that contain CRDs (so I strongly recommend 2.7)

[2018-11-06 06:32] #47947 closed, assigned to nobody

[2018-11-06 07:43] umrikar opened #48152 "ansible giving error No space left on device"
##### SUMMARY

'''
i run few ansible commands using shell module but after few days when i run same commands i got below error

failed to transfer file to ~/.ansible/tmp/ansible-local-7664Q7ehHG/tmpYcHRrH /.ansible/tmp/ansible-tmp-1541488284.8-120387309402436/command.py:

dd: /.ansible/tmp/ansible-tmp-1541488284.8-120387309402436/command.py: No space left on device
'''

##### ISSUE TYPE
- Bug Repo

[2018-11-06 07:46] Fred-sun commented on #31867
@zikalino

[2018-11-06 07:49] webknjaz commented on #48152
@umrikar `No space left on device` means that your storage on the target (`/home` partition in your case?) where ansible copies temporary files is full.

It's not a bug, free up some space on your computer (lenovo laptop?) and it'll be fine ;)

[2018-11-06 07:49] #48152 closed, assigned to nobody

[2018-11-06 08:06] umrikar commented on #48152
is there any way in ansible to auto cleanup temp directories generated by ansible runs

[2018-11-06 08:28] jzielke-nli commented on #47844
@acozine Yes, this would be great. Since Ansible changes it's syntax in many modules quite frequently, I think marking deprecated commands in the docs gives newbies as well as long time users a better overview on what cmd to use for what purposes without spending extra time on sorting out deprecated commands after a role has been written already.

[2018-11-06 08:29] umrikar opened #48153 "ansible not cleaning up temp directories generated by its run on source and remote host"
##### SUMMARY

i run ansible commands from my host to remote host but for every run it copies command.py,setup.py in new temp dir and size of ansible directory on remote is getting increased on every run.I think it should automatically get cleaned up for every run

below is output when i see disk usage of ansible dir on remote
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

shell

####

[2018-11-06 09:17] Nitradamus commented on #46523
Can  you try appending /api/v2/hosts/77/facts?per_page=1000, this will show you the cause of the problem, at least for me it does on Foreman 1.9?

[2018-11-06 09:27] #48137 closed, assigned to nobody

[2018-11-06 09:55] YuZongYangHi commented on #22791
- mongodb_user:
    database: admin
    name: pangu
    password: sdvxcdlskadlk1231c
    state: present
    roles:
      - db: aitc_matrix
        role: userAdmin

Why can I only add admin tables? I try to change to other or nonexistent tables.

``he localhost login exception only allows the first admin account to be created``

[2018-11-06 09:56] YuZongYangHi commented on #22791
``
docker_container:
    name: mongo

    image: "docker.hobot.cc/mongo:3.6.8"

    env:
        MONGO_INITDB_ROOT_USERNAME: control
        MONGO_INITDB_ROOT_PASSWORD: sdvxcdlskadlk1231c

    pull: no

    volumes:
     - "/etc/mongo/configdb:/data/configdb"
     - "/etc/mongo/db:/data/db"

``

[2018-11-06 09:57] YuZongYangHi commented on #22791
And when I initialize the startup, the variables do not seem to work.

[2018-11-06 10:00] YuZongYangHi opened #48155 "ansible"
[code]
Why can I only add admin tables? I try to change to other or nonexistent tables?

And when I initialize the startup, the variables do not seem to work.

Command line is OK.!!!

[2018-11-06 10:03] mkrizek commented on #48155
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-06 10:03] #48155 closed, assigned to nobody

[2018-11-06 10:04] ZuZuD commented on #48077
Hi,

This issue has already been reported a few days ago here:
https://github.com/ansible/ansible/issues/47945

In the meantime you can try out the following PR that should fix it :
https://github.com/ansible/ansible/pull/48004

[2018-11-06 10:21] justjais commented on #46671
@Zer0-One can you please paste
[code]
in your `ansible.cfg` file and if you do not have `enable` password set already in your device please set the same and then add the same in your `inventory/group_vars` as `ansible_become_password: your_enable_password` and then try running the same.

[2018-11-06 10:34] webknjaz commented on #48153
@umrikar please fill out all fields in the issue template.

[2018-11-06 11:02] ka-ba commented on #34259
Aaaaal right ...

What might all this mean if I want to "become: yes" while "delegate_to: 127.0.0.1"? I got a globally defined "ansible_become_pass: sumthin" which doesn't seem to do the trick, because the command fails with "sudo: a password is required\n". (v.2.7.1)

The doc section "Understanding Privilege Escalation" doesn't seem to say anything about interactions with "delegate_to" or with lo

[2018-11-06 11:45] rchicoli commented on #30469
Good news. I had the same issue, because I was running ansible from alpine. Installing the dependency from pip did not help much. The workaround for this was to install via apk.
[code]
I hope it helps someone.

[2018-11-06 12:11] mihai-satmarean commented on #44564
Same thing here.
Ansible 2.7.1
Same call with URI module works.
Would be great to have it working again.
Thanks!

[2018-11-06 12:27] #45384 closed, assigned to nobody

[2018-11-06 12:32] umrikar commented on #48153
@webknjaz i have updated template.

[2018-11-06 12:38] YuZongYangHi commented on #48155
I don't think so, at least in the examples I've seen so far, you can change user information in tables at will, but in fact you won't be allowed to do so in version 3.6 + of mongo.

[2018-11-06 12:52] umrikar commented on #48153
@webknjaz i observed this issue is resolved in ansible 2.7

[2018-11-06 12:52] #48153 closed, assigned to nobody

[2018-11-06 12:57] dennisconrad opened #48159 "AWS ec2_instance Module Doesn't Parse ebs_optimized Flag Correctly"
##### SUMMARY

Creating EBS optimised EC2 instances using the `ec2_instance` module is defective and doesn't work as described in the doco.

The [ce2_instance module documentation states](https://github.com/ansible/ansible/blob/d5a4a401ea44d267c5525208d83644b9b0a63897/lib/ansible/modules/cloud/amazon/ec2_instance.py#L164):

[code]

Sadly, this isn't working.  Setting `ebs_optimzed: yes` doesn't en

[2018-11-06 13:08] idahood commented on #47982
[code]

You'll notice that there are 12 entries from the LLDP dataset, and only 8 in the CDP set. However, ansible_net_neighbors still only has 8 entries.

[2018-11-06 13:31] Shaps commented on #48146
Hi @hoyeunglee,
I think this is not the right place to report this issue. Given the role has its own repo, I would report it there instead of here.

That said, having a quick look at the error, you can clearly see what the issue is:
`"module_stdout": "sudo: a password is required\r\n"`
You need to provide the sudo password so the setup module can run.

[2018-11-06 13:34] #48146 closed, assigned to nobody

[2018-11-06 13:48] #41914 closed, assigned to nobody

[2018-11-06 14:04] dhiaayachi opened #48162 "Unable to use private as part of openstack.yml configuration file when using openstack.py dynamick inventory"
##### SUMMARY
When using openstack.py dynamic inventory with ansible I can not pass private parameter to the dynamic inventory script as part of openstack.yml or cloud.yml config files to use the private ip as ansible_ssh_host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openstack.py dynamic inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

###

[2018-11-06 14:19] IPvSean commented on #48099
[code]

[2018-11-06 14:20] arch4ng3 opened #48163 "Getting the playbook dir from the python code"
##### SUMMARY
I am currentely developping an Ansible module and would like to access the dir name variable of the playbook from the python source code.

##### ISSUE TYPE
- Feature Idea ?

##### COMPONENT NAME
Coding my own module with AnsibleModule class

##### ADDITIONAL INFORMATION
I would like to read the .yml file to get the "vars" section in the playbook. However, it looks impossible to get t

[2018-11-06 14:39] #26708 closed, assigned to nobody

[2018-11-06 14:40] whizz0 commented on #44564
@mihai-satmarean
Can you paste an example of doing such call with URI module?

[2018-11-06 14:41] trishnaguha commented on #48099
`feature privilege` needs to be enabled on the device before using `become`. Maybe that's why privilege level is still showing -1 for the `testuser` account because it is disabled?

[2018-11-06 14:52] bcoca commented on #48152
ansible cleans them up automatically, but if the run is aborted, the cleanup may not happen.

[2018-11-06 14:54] #46673 closed, assigned to nobody

[2018-11-06 14:56] odyssey4me commented on #47301
The backports have merged, so they will be in the next release for 2.6 and 2.7.

[2018-11-06 14:56] bufanda opened #48164 "Dynamic Inventory not working on macOS Mojave"
##### SUMMARY

I use a dynamic inventory on Linux (Ubuntu 16.04) it is working perfectly fine but under macOS Mojave (16.04) it is not working. First of all if I do not configure

[code]

explicitly in `ansible.cfg` ansible reads the inventory as yaml. Alternatively it is possible to set `plugin: script` in my dynamic inventory but this results in always in the same issue. Under Linux it works und

[2018-11-06 14:57] kasabov commented on #33067
Using "string" filter worked for me.

    - mysql_user:
        ...
        password: "{{sonar_db_password|string}}"

FWIW, this issue persists for multiple modules (uri, mysql_db, mysql_user), except for docker_container env vars:

    - docker_container:
          image: ...
       env:
        JENKINS_PASSWORD: "{{ bamboo_jenkins_password }}"

Both vars sonar_db_password and bamboo_jenkins_pass

[2018-11-06 15:04] idahood commented on #47982
I have disabled CDP on the NXOS device and am not getting anything back for LLDP results in ansible_net_neighbors. I will investigate this further, but this may be the root cause. (Note: I still think there was an assignment issue that your update fix resovles).

[2018-11-06 15:05] bcoca commented on #48164
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-06 15:05] #48164 closed, assigned to nobody

[2018-11-06 15:13] #33408 closed, assigned to nobody

[2018-11-06 15:14] sivel commented on #48163
Ansible modules do not have access to variables defined in the main ansible process.  As such, modules require that you pass all necessary information to them.

This can either be explicit, by requiring the user to pass the values, or you can create an associated action plugin, that can access this information, and pass the value implicitly.

If you have further questions please stop by IRC or the

[2018-11-06 15:14] #48163 closed, assigned to nobody

[2018-11-06 15:18] dbnicholson opened #48166 "Packet.net dynamic inventory should skip non-management addresses"
##### SUMMARY

When using the packet.net dynamic inventory script in `contrib/inventory/packet_net.py`, any public IPv4 address will be chosen for a device. However, elastic IPv4 addresses need manual configuration on the host as described in https://help.packet.net/article/54-elastic-ips. The dynamic inventory should only use the management addresses as those are contained in packet's DHCP and fu

[2018-11-06 15:29] dbnicholson commented on #48166
Fixed in #48168.

[2018-11-06 15:31] trishnaguha commented on #46956
Closing the issue as this is Cisco bug.
Affected version: 7.3(2)N1(1)
Fixed Release: 7.3(3)N1(1)
The user needs to upgrade to make the module work.

[2018-11-06 15:31] #46956 closed, assigned to trishnaguha

[2018-11-06 15:36] #35286 closed, assigned to nobody

[2018-11-06 16:00] wbagdon commented on #47998
Makes sense, thanks for the fix!

[2018-11-06 16:11] webknjaz commented on #48152
@bcoca, in #48153 @umrikar stated that using 2.7 fixed his issue.

[2018-11-06 16:13] nre-ableton commented on #42479
I don't think that the linked PR actually fixes this issue. That PR will cause Ansible to fail only in the case of an invalid task attribute, however the author of this issue is asking for a feature which will cause Ansible to fail in case of *any* warnings.

[2018-11-06 16:15] bcoca commented on #48152
2.7 has better handling of failed cases and cleanup, but there is still the possibility of some errors leaving the temp files behind.

[2018-11-06 16:21] webknjaz commented on #28952
The problem is that we run `pip install -U` and sometimes it updates things. It would be odd if we say "unchanged" while deps where updated actually.
If you want to have idemponent thing you should always pin versions.
It looks like it's not a bug to me. `latest` implies "try to update this thing". `changed` means that the env has been changed, which is in fact true.

[2018-11-06 16:23] webknjaz commented on #48095
cc @HD650

[2018-11-06 16:26] webknjaz commented on #48095
This line should probably be `.lower()`ed: https://github.com/ansible/ansible/commit/501503f4cb424d01c030e14cb5e5f8445fcdada3#diff-62bf642191d16cdc80c0db31388c8cdfR489

[2018-11-06 16:32] ssbarnea opened #48170 "yaml output callback should omit stderr_lines to avoid duplicated output"
##### SUMMARY
When using ANSIBLE_STDOUT_CALLBACK=yaml the output console contains duplicated information dues to the duality of "stdout/stdout_lines" and "stderr/stderr_lines" results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
output

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
any

##### STEPS TO REPRODUCE

[code]

And run with `ANSIBLE_STDOUT_CAL

[2018-11-06 16:34] sivel commented on #48170
Duplicate of https://github.com/ansible/ansible/pull/44675

[2018-11-06 16:34] #48170 closed, assigned to nobody

[2018-11-06 16:35] #33523 closed, assigned to nobody

[2018-11-06 16:36] ssbarnea commented on #27078
Yaml callback is great but it has one PITA kind of bug which I raised at https://github.com/ansible/ansible/issues/48170 --- mainly it fails to omit duplicated content for stderr. It does a good job for stdout but not for stderr.

[2018-11-06 16:46] benjdudas opened #48171 "RFE: Provide 'force_host' option to junos_package module"
##### SUMMARY

Expose the Juniper EZNC libraries `force_host` option to the `junos_package` module which can be used to force hypervisor upgrade for Junos deployed in VM.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

junos_package

##### ADDITIONAL INFORMATION

This enhancement should only require the following changes to expose the force_host option in junos_package:

[code]

[2018-11-06 17:04] #21266 closed, assigned to nobody

[2018-11-06 17:09] l3rady commented on #45446
I'm getting the same issue.

[code]

Using the role weareinteractive.ufw as ansible is hanging on the last task of:

[code]

Attempting to run against Ubuntu 18.04

[2018-11-06 17:30] mihai-satmarean commented on #44564
@whizz0
here you are:
[code]

[2018-11-06 17:38] l3rady commented on #45446
After some further digging I find this doesn't happen on our Ubuntu 16.04 servers.

On both 16.04 and 18.04 we setup the ufw rules to be the same. Set both firewalls to disabled. Then on both firewalls set the enabled.

16.04 is fine, connections stay open not kicked out.
18.04 connection instantly hangs.

[2018-11-06 17:39] dgm commented on #25067
I do have private_zone: True   and yet get this message when trying to insert a record from an additional vpc that I have associated with the zone.

[2018-11-06 17:41] samdoran commented on #47131
@Alb0t Agreed. I'll reopen this and work on a fix.

[2018-11-06 17:43] Bill-Williams opened #48176 "WinRM Connection Failure (Respose Code 16) on some target servers but not others."
##### SUMMARY
We are using Ansible 2.4.2.0 to robo copy files from a gateway Windows server to network shares (on Windows servers) to prevent administrative tasks being executed on multi-tenant target servers.

Most of the network shares we are able to copy to but some servers (Windows Server 2008 r2) with shares we get an Access Denied error (maybe Double Hop issue).  There are other task that ha

[2018-11-06 17:49] mattclay commented on #47227
@yungezz I haven't seen any recent failures, so I'm closing this issue.

[2018-11-06 17:49] #47227 closed, assigned to yungezz

[2018-11-06 17:52] xmadsen commented on #47571
Hey folks, I just found that the same 'BootMode' KeyError occurs when running redfish_command's SetOneTimeBoot against the same Lenovo gear. Would y'all like me to open a separate issue for this or is this essentially the same issue?

[2018-11-06 17:55] l3rady commented on #45446
More digging has lead me to this post: https://askubuntu.com/questions/1059781/ufw-allows-22-for-ipv4-and-ipv6-but-ssh-disconnects-when-enabling

[2018-11-06 18:08] rads18 opened #48178 "Tags do not work to call specific part of playbook"
##### SUMMARY
I am using tags for the first time.
FYI I am running this playbook on our company wide shared ANSIBLE TOWER(AWX).

From ansible docs:  https://docs.ansible.com/ansible/2.6/user_guide/playbooks_tags.html

"If you have a large playbook it may become useful to be able to run a specific part of the configuration
without running the whole playbook."  <<<<<------------------------ Does not

[2018-11-06 18:18] bmike78 commented on #46383
@kinvaris

My clouds.yaml file has entries like this, if this helps:

 <cloud>:
    verify: True
    identity_api_version: 3
    auth:
      auth_url: https://<cloud>:5000/v3
      username: admin
      password: <password>
      project_name: admin
      project_domain_name: Default
      user_domain_name: Default
    region_name: RegionOne

I specify v3 using the "identity_api_version" variable

[2018-11-06 18:53] fabianvf commented on #48137
v0.8.1 should be releasing shortly with a fix for this

[2018-11-06 19:07] jeking3 commented on #27299
I don't really see it as a hack.  You are teaching jmespath that additional classes can be treated as strings.  Forcing anyone who wants to use these methods to go through `from_json | to_json` is the hack.

Refer to https://github.com/jmespath/jmespath.py/issues/158

[2018-11-06 19:30] #44330 closed, assigned to nobody

[2018-11-06 19:36] mkrizek commented on #46275
Backported in #48175 for `2.6` release (`2.5` is now at critical bugfixes only). Closing.

[2018-11-06 19:36] #46275 closed, assigned to nobody

[2018-11-06 20:02] viveksaiaws commented on #37929
i am facing same problem on ansible 2.7.0

[2018-11-06 20:37] idahood commented on #47982
Here's the fix: https://github.com/idahood/ansible/commit/921febf5258fccab17468764915c4b1ce0381071

If there is a clean way for me to merge into this PR I am happy to do so.

[2018-11-06 20:50] kbreit opened #48183 "Digital Ocean firewall module"
##### SUMMARY
Digital Ocean has firewalls which are programmable via their API. However Ansible doesn't appear to have a way to provision these using Ansible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean

##### ADDITIONAL INFORMATION

The module would be used to stand-up new firewalls or modify rules.

[2018-11-06 21:07] #39978 closed, assigned to nobody

[2018-11-06 21:09] jborean93 commented on #48176
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-06 21:09] #48176 closed, assigned to nobody

[2018-11-06 21:46] kbreit opened #48279 "meraki_network - Improve idempotency check"
##### SUMMARY
meraki_network's idempotency check is very ugly and should be improved. Other Meraki modules pull the net_id and use that for all future requests. This should be implemented alongside the cleanup.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION
[code]

[2018-11-06 22:01] skanagal opened #48280 "eos_config with network_cli transport cannot create configuration sessions"
##### SUMMARY
Issue is that when I try to create a custom 'configuration session' via Ansible eos_config module, the playbook errors out.

##### ISSUE TYPE

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PLAYBOOK:

[code]

Provider info:

[code]

##### OS / ENVIRONMENT
MAC OS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expect the playbook to crea

[2018-11-06 22:01] jose-delarosa commented on #47571
@xmadsen It is the same key (BootMode), so I think it should be fine to track here as well. Thanks.

[2018-11-06 22:06] depereo commented on #45090
Hi,

Apologies for the delays - moving went about as well as could be expected.

I cannot reproduce this on devel currently - I've iterated this hundreds of times. It's also completely impossible to reproduce on stable-2.7.

I was able to reproduce this issue on v2.7.0rc3 fairly easily, but don't know if this bug has value to be investigated further since it's apparently a non-issue on 2.7 and dev

[2018-11-06 22:12] skanagal commented on #48280
FYI, the same playbook works when I have transport as eAPI. Since the version is 2.5 I tried setting the transport as just "cli" but no luck. For other use-cases, the eos_config module just works fine with cli, but doesn't when i try to configure a configuration session on EOS.

[2018-11-06 22:26] jeking3 opened #48281 "vmware_guest does not check for errors in many code paths"
##### SUMMARY
`vmware_guest` internally executes VMware tasks and then runs a small loop to wait for a task to finish.  This loop called `wait_for_task` does not handle task errors, it just waits until the task completed successfully or in error, then returns.  Callers of this function must check the task result to see if it was an error.  A number of callers do not, for example:
- When setting an

[2018-11-06 22:45] Jack-Shen opened #48282 "ansible 2.6 eos_config and network_cli will commit wrong config session"
##### SUMMARY
only happens with network_cli. Not httpapi.

If a config session is opened with "before". e.g. before: "configure session test", ansible will commit this configure session and leave the eos_config config session pending.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os high sier

[2018-11-06 23:16] dagwieers commented on #35448
@dchidelf The file lookup plugin does not perform a validation check. So I expect that it is the **xml** module that expects a valid XML document as children. The only solution is to use 2 items as part of `add_children`, which means using multiple files :-/

[2018-11-06 23:17] webknjaz commented on #48131
Hey @achilds-vela!

Have you tried tagging dependencies as well?

I've copied this from the docs page you referenced:

[2018-11-06 23:20] webknjaz commented on #48134
Hi @ahuffman,

I think it might be a better idea to have a separate module for that. Normally, when there's a ton of options module accepts it's a sign that it should be broken into parts honoring the single responsibility principle. Also it's hard to use and test when the matrix of argument combos becomes huge.

Do you want to try drafting such module?

[2018-11-07 00:59] jborean93 commented on #13095
We've recently merged in https://github.com/ansible/ansible/pull/44705 which changes the json process away from `ConvertTo-Json` and `ConvertFrom-Json`. I am going to close this PR as it should solve most of the issues with these cmdlets when using the newer module util.

[2018-11-07 00:59] #13095 closed, assigned to nobody

[2018-11-07 01:02] dagwieers commented on #13095
Rejoice ! Oldest Windows issue finally closed...

[2018-11-07 01:02] jborean93 commented on #28919
Now that https://github.com/ansible/ansible/pull/44705 has been merged, modules that utilise it will now report the arg invocation when running with `-vvv`.

[2018-11-07 01:02] #28919 closed, assigned to nobody

[2018-11-07 01:03] jborean93 commented on #30546
Since https://github.com/ansible/ansible/pull/44705, if a module uses the new module util, unsupported parameters will be reported.

[2018-11-07 01:03] #30546 closed, assigned to nitzmahone, jborean93

[2018-11-07 01:06] jborean93 commented on #37876
Sorry belated post, this should be less of an issue with https://github.com/ansible/ansible/pull/45334. It is designed to give a better error message including the stacktrace on errors from both the module and exec wrappers.

[2018-11-07 01:06] #37876 closed, assigned to nobody

[2018-11-07 01:08] jborean93 commented on #46355
Using become with the become flags `logon_type=new_credentials logon_flags=netcredentials_only` is designed specifically for this type of task https://github.com/ansible/ansible/pull/45334. This can be done on any PowerShell module and those flags state to use this username/password combo for network authentication.

[2018-11-07 01:08] #46355 closed, assigned to nobody

[2018-11-07 01:18] jborean93 commented on #47874
Thanks, so that's a sign the module exec is coming across an uncaught exception but there are 2 issues;

* In devel right now, we are looking at the wrong place for an ErrorRecord sometimes
* In pre-devel, become is masking the output because it's not base64 encoded

Will have to play around and see if I can try and replicate it before getting back to you sorry.

[2018-11-07 01:32] bbyhuy commented on #48134
Seems like someone already tried to implement something along these lines, but never completed due to massive number of commit changes.
[#35294](https://github.com/ansible/ansible/pull/35294)

[2018-11-07 03:12] BondAnthony commented on #48183
Hi @kbreit, thank you for opening this issue. I have good news for you, we have an open pull request to provide digital_ocean_firewall. Please feel free to test out this module and provide feedback.

Firewall module PR: https://github.com/ansible/ansible/pull/46618

[2018-11-07 04:10] kbreit commented on #48183
@BondAnthony What is being worked on before merging the PR?

[2018-11-07 06:43] mkrizek commented on #38149
Fixed in recent versions as noted in https://github.com/ansible/ansible/pull/41163. Closing.

[2018-11-07 06:43] #38149 closed, assigned to nobody

[2018-11-07 06:55] Fred-sun commented on #47268
@yungezz  Could you help take a look this issue? Thanks!

[2018-11-07 08:11] alexntt commented on #47874
No worries! Thanks!

[2018-11-07 09:30] wyhasany commented on #33935
@tobiasfielitz Could you say how you figured it out? I have similiar problem and I have no idea how to resolve it.

[2018-11-07 09:32] #45476 closed, assigned to nobody

[2018-11-07 09:59] ssamdwii opened #48290 "winrm send_input failed"
##### SUMMARY
winrm send_input failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
winrm

##### ANSIBLE VERSION
ansible 2.4.2.0

##### OS / ENVIRONMENT
Ansible Server: RHEL7
Client : Windows Server 2016

##### STEPS TO REPRODUCE
The issue occurs intermittently
I use the win_shell module to send commands to Windows.
My project is registered with AWX and the source does not change.
However,

[2018-11-07 10:36] ovcharenko commented on #45446
Looks like a kernel regression. Has anyone tried this workaround?
`echo 1 | sudo tee /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal`

[2018-11-07 10:53] l3rady commented on #45446
I can confirm the workaround works for us. We run the above command in our pre-tasks on our playbook

[code]

[2018-11-07 10:59] ovcharenko commented on #45446
Thank you for confirmation @l3rady!
notabug

[2018-11-07 11:07] hryamzik opened #48291 "Vault: '_counter.CounterBE' object is not iterable"
##### SUMMARY

ansible-vault crashes with `ERROR! Unexpected Exception, this is probably a bug: '_counter.CounterBE' object is not iterable` on alpine linux

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(default)

##### OS / ENVIRONMENT

`alpine:3.8`

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[2018-11-07 11:14] let-thomas opened #48292 "os_security_group_rule: protocol: None"
##### SUMMARY
Cannot delete rule for "all" protocols. Tested were protocol= all and none.

In Horizon
Egress | IPv4 | ANY | 0 - 65535 | 0.0.0.0/0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_security_group_rule

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

Reported rule is
{
    "direction": "egress",
    "ethertype": "IPv4"

[2018-11-07 12:09] #48011 closed, assigned to nobody

[2018-11-07 12:16] maxrainer commented on #42397
+1 exact same issue here...

[2018-11-07 12:17] mnaser commented on #48292
Is this an Ansible thing by any chance?

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_security_group_rule.py#L275-L276

It should allow it.

[2018-11-07 12:34] specator commented on #33428
@jborean93 Can you please make some changes to this page https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html with info from your comment? It will help others to understand how to connect to Windows hosts with valid certs and that there no bug in ansible

[2018-11-07 13:02] let-thomas commented on #48292
Omitting parameter protocol does the work. But anyway the error message is misleading. Also documentation should not then contain 'None' option.

[2018-11-07 13:31] #42787 closed, assigned to nobody

[2018-11-07 14:08] juanvalino commented on #22417
+1 to this feature because it allows to build wrapper roles that call another ones, improving role reuse.

For example, suppose that you have a role to deploy a java application called deploy_java_app. This role setups a set of configurations based on some role vars. Some of this role vars have good defaults.

Now you want to build a new role that deploys a list of applications (deploy_java_app_li

[2018-11-07 14:17] mkrizek commented on #47335
This is not a regression, I get the same result on all currently supported versions of Ansible (`2.5`, `2.6`, `2.7`).

[2018-11-07 14:24] mariolenz opened #48296 "redfish_facts not working for ProLiant DL380 Gen9"
##### SUMMARY
I am trying to gather BiosAttributes with redfish_facts from a ProLiant DL380 Gen9 but the task failes. I think this is because the module connects to https://ilo_ip/redfish/v1 and iLO redirects to https://ilo_ip/redfish/v1/ with a trailing slash. To me, it looks like redfish_facts doesn's follow the redirect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component = lib/ansi

[2018-11-07 14:30] mkrizek commented on #47335
resolved_by_pr #30738

[2018-11-07 14:31] mariolenz commented on #48296
Another machine with Python 2:

[code]

Same result:

[code]

[2018-11-07 14:32] mariolenz commented on #48296
!component - lib/ansible/module_utils/aws/urls.py

[2018-11-07 14:37] jyundt commented on #48296
@mariolenz I think you are hitting #45704.

Can you try with `devel` and see if that fixes your issue? If so, I submitted a backport request (#47822) which should land in 2.7.2.

[2018-11-07 14:40] devantoine commented on #31620
I can confirm this bug.

I ran my playbook with `--vault-password-file=vault` and got

If I ran the same playbook with `--ask-vault-pass` everything goes fine.

[2018-11-07 15:33] dbckz opened #48300 "Constructed plugin"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-07 15:37] #48300 closed, assigned to nobody

[2018-11-07 16:38] acozine opened #48301 "Document TOML capability"
##### SUMMARY
Add documentation to cover #41593.
Re-work inventory docs more generally.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com
`docs/docsite/rst/user_guide/intro_inventory.rst`

##### ANSIBLE VERSION
2.8

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ADDITIONAL INFORMATION
Cover all available options for inventory formats. Do we recommend a cer

[2018-11-07 16:42] ruzzetto opened #48302 "Issue with redhat_subscription module"
Hi,
I'm trying to register new machines with ansible.
Prior using ansible I used to run:
`subscription-manager register --org="MYCOMPANY" --activationkey="MYKEY"`

In my ansible playbook i used redhat_subscription module in this way:
[code]

when I try to run playbook i receive this error:
[code]

I also tried to use organization id number instead name but it fails anyway.
Where am i wronging?
Tha

[2018-11-07 16:46] sivel commented on #48301
As part of the core meeting, we decided to not "promote" the TOML inventory plugin more than any other non-core or non-stable inventory.  The TOML inventory has documentation provided along with it, just not in intro_inventory.

Once it comes out of experimental/preview, I don't see anyone having an issue with promoting it more in intro_inventory.

[2018-11-07 17:04] okcomputer opened #48304 "route53 - ec2_url does not allow overrride"
##### SUMMARY

The `route53` ansible module does not override the `ec2_url` when set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* route53

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Mojave 10.14.1
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the snippet to use the `ec2_url` and post to the localhost on port 4580

[2018-11-07 17:21] acozine commented on #48301
@sivel sounds good. I'll close this issue for now.

[2018-11-07 17:21] #48301 closed, assigned to nobody

[2018-11-07 17:21] sivel commented on #48301
Although, fwiw, here are the docs I removed: https://github.com/ansible/ansible/pull/41593/commits/baa9e98235fb5e70fb335c6c424e61af6aa93d66

[2018-11-07 17:30] ivan-kolmychek commented on #42479
@nre-ableton Well, our issues we had were mostly with missing variables, so it solves most of it.
But I do agree that having an option for Ansible to treat any warnings as fatal errors would also be helpful.

[2018-11-07 18:26] jeanfabrice opened #48309 "Openstack dynamic inventory plugin does not support "composing" with jinja2 inventory variable"
##### SUMMARY
In Openstack dynamic inventory plugin, defining a 'compose' variable based on a Jinja2 inventory variable does not work: the variable is not defined in the rendered inventory.

Defining a string based compose variable works as expected: the variable is correctly set in the rendered inventory

The same test based on the 'contructed' inventory plugin works as expected

##### ISSUE TYPE

[2018-11-07 18:39] UnknownGnome opened #48310 "VMware: vcenter_folder module creates an error in vCenter"
##### SUMMARY
Using vcenter_folder to create a folder. After the folder is created by the first run, subsequent runs cause the vCenter to display an error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vcenter_folder

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

If the folder exists, the vCenter

[2018-11-07 18:41] mkrizek commented on #48302
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-07 18:41] #48302 closed, assigned to nobody

[2018-11-07 18:41] UnknownGnome commented on #48310
It looks like the module attempts to create the folder on each run rather than checking if it exists and creating only if not.

[2018-11-07 18:51] profhase opened #48312 "Gathering facts hangs when an NFS mount is inaccessible"
##### ISSUE TYPE

 * Bug Report

 ##### COMPONENT NAME

[facts.py](https://github.com/ansible/ansible/blob/85c7a7b844bf429fc9cc0ffce5dd9bf05ed47b5a/lib/ansible/module_utils/facts.py)
##### ANSIBLE VERSION

2.6.4
 ##### OS / ENVIRONMENT

debian-stretch

 ##### SUMMARY
Very same as #25046

gathering facts hangs indefinetely if a `hard` nfs mount is hanging

##### STEPS TO REPRODUCE

Mount an NFS dir

[2018-11-07 19:06] programingnotes opened #48313 "Mount Module - states absent/unmounted do not unmount device"
##### SUMMARY

Running **mount module**  with state `unmounted`/`absent` does not result in either of the expected results:

- if `unmounted`, the device will be unmounted without changing fstab.
- `absent` specifies that the device mount's entry will be removed from fstab and will also unmount the device and remove the mount point.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[mount modul

[2018-11-07 19:15] jborean93 commented on #33428
@specator there’s already info on this at https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#https-certificate-validation. If you feel this isn’t adequate then please open a PR with the changes you want to see.

[2018-11-07 19:27] basictheprogram opened #48314 "The error was: 'ansible_env' is undefined"
##### SUMMARY
he error was: 'ansible_env' is undefined

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host macOS 10.12.6
Managed host Windows 10 64-bit

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
Dump of the ansible_env

##### ACTUAL RESULTS

[code]

[2018-11-07 19:41] #45907 closed, assigned to nobody

[2018-11-07 19:41] guzzijason commented on #27160
Re: item 2, with ansible-2.7.0, I still see `failed=0` in the play recap if `ignore_errors: yes`. Desired behavior would be to count failures, but not abort the play because of them.

[2018-11-07 19:52] basictheprogram commented on #48314
Git bisect tells me this:

[code]

And yes, I'm running ansible with --tags and I don't see [Gather Facts] running when I do --tags.

[2018-11-07 19:53] sivel commented on #48314
This may be resolved by https://github.com/ansible/ansible/pull/48294

[2018-11-07 20:01] basictheprogram commented on #48314
Kind of a git newbie but did the below and it fixes my problems:
[code]

[2018-11-07 20:12] idahood commented on #47982
@trishnaguha if #48318 and #48087 are committed the issue is resolved.

[2018-11-07 20:33] fxer commented on #47335
you get the same result as in it fails as below?

    FAILED! => {"changed": false, "msg": "Unable to find APTITUDE in path. Please make sure to have APTITUDE in path or use 'force_apt_get=True'"}

[2018-11-07 20:34] mkrizek commented on #47335
Yes.

[2018-11-07 20:44] jgeorgeson commented on #29310
The pyapi-gitlab library doesn't seem to support the GitLab v4 API (pyapi-gitlab/pyapi-gitlab/issues/250) and the v3 API has been deprecated as of GitLab 11.0 and removed from gitlab.com back in June [[source](https://about.gitlab.com/2018/06/22/gitlab-11-0-released/#gitlab-api-v3)]

[2018-11-07 20:50] felixfontein opened #48320 "ansible_console: colored prompt breaks input longer than line"
##### SUMMARY
When entering a long line of text in `ansible-console` with colors on, console input breaks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-console

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Linux console, xterm-256color

##### STEPS TO REPRODUCE
1. Start `ansible-console`
2. Enter a too long line
3. Execute
4. Press arrow-up, arrow-down

##### EXPECTED RESUL

[2018-11-07 21:08] stobias123 commented on #29762
I'm having this same error

[2018-11-07 21:20] ahuffman commented on #48134
@bbyhuy Thanks for filling me in on the other PR.  That looks very similar to the functionality I was looking for.

@webknjaz I could certainly take a crack at it, but the PR @bbyhuy mentioned is quite close.  I may add a commit to the open PR if I can get some time this week.  If the PR fails to be merged, I will definitely take a crack at breaking it out into it's own module, but I probably won'

[2018-11-07 21:44] tobiasfielitz commented on #33935
@wyhasany I would suggest to check all versions your are running. Is ansible installed globally or in a virtual environment?
Start with a fresh [venv](https://docs.python.org/3/library/venv.html), install the latest versions of all packages (ansible, pyopenssl) and check if that works.

[2018-11-07 21:44] #47114 closed, assigned to nobody

[2018-11-07 22:44] webknjaz commented on #48134
@ahuffman the new module name is up to you if you go for it, it'll be community-supported by default. I'd suggest maybe smth like live_mount/mount_live.

[2018-11-07 22:46] samdoran commented on #47371
Duplicate of #46562.

This is fixed in #47017 by eliminating the need to examine the output of `who -b`.

[2018-11-07 22:46] #47371 closed, assigned to nobody

[2018-11-07 22:53] basictheprogram opened #48327 "win_file: mismatch between the tag specified in the request"
##### SUMMARY
Failed to delete C:\\Users\\username: There is a mismatch between the tag specified in the request and the tag present in the reparse point

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host macOS 10.12.6
Managed host Windows 10 64-bit

##### STEPS TO REPRODUCE

[code]
#####

[2018-11-07 23:02] agaffney commented on #36410
I'm trying to wrap my head around what you're trying to do, and I'm failing. It looks like you're using `lineinfile` to modify a line in a  block that was modified previously by `blockinfile`, but without some practical example of the files you're operating on and the desired output, I can't make sense of this.

[2018-11-07 23:08] flowerysong commented on #36410
As the documentation states, `lineinfile` will only replace the last line matched by the `regexp`, not all matches. You may want the `replace` module (or to reconsider your approach, potentially by using a template or doing more templating within your `blockinfile` tasks.)

[2018-11-07 23:21] tchia04 commented on #40400
The "never" tag doesn't work for me either. It is still getting executed

[2018-11-07 23:33] BryanJeterCTR commented on #48134
Possible alternative to splitting this into two modules, add two new states, `temp` and `reset`.   `temp` would implement all of the settings from fstab, overridden by any specified when calling the module.  `reset` would remount according to fstab and would only need `src` or `path`.  The code from `mounted` could be reused to implement these, just don't use the parts that write to fstab.

[2018-11-07 23:52] jtyr commented on #48313
Thanks for reporting this. Please could you provide content of your `/proc/self/mountinfo` as well as the values of all variables you use in your tasks?

[2018-11-08 00:46] acozine commented on #45832
Issue addressed by #46481 - finished documentation is here: https://docs.ansible.com/ansible/latest/community/documentation_contributions.html#building-a-single-rst-page

@sieben and anyone else who's watching this issue and wants to participate in the Documentation Working Group, feel free to add items to the DaWG agenda: https://github.com/ansible/community/issues/389.

[2018-11-08 00:46] #45832 closed, assigned to acozine

[2018-11-08 01:00] acozine commented on #37841
This set of breakages was related to the reorganization of the documentation, which happened with the release of Ansible 2.5. We put redirects in place - the particular page mentioned here moved to https://docs.ansible.com/ansible/latest/user_guide/playbooks_special_topics.html#.

[2018-11-08 01:00] #37841 closed, assigned to nobody

[2018-11-08 01:06] jborean93 commented on #48147
Thinking about this more, it's definitely something that Chocolatey should handle as per the issue above. As well as this, this is a very limited scenario that can be avoided in Ansible regardless.

[2018-11-08 01:06] #48147 closed, assigned to nobody

[2018-11-08 01:17] hoyeunglee opened #48330 "use encryption password some work, but some can not and has error"
ansible 2.7.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Dec  4 2017, 14:50:18) [GCC 5.4.0 20160609]

[code]

 ansible-playbook -s cdx01ms03

[2018-11-08 02:37] Fred-sun commented on #47111
@zikalino

[2018-11-08 02:44] Fred-sun commented on #46790
@zikalino  Could you help finish backported to ansible2.6 and 2.7？ Thanks!

[2018-11-08 02:52] ssamdwii commented on #48290
This is my host information.

 - name: add host
   add_host:
      hostname: "{{ item.hostname }}"
      ansible_host: "{{ item.ipaddress }}"
      ansible_user: "{{ item.user }}"
      ansible_password: "{{ item.pwd }}"
      ansible_port: 5986
      ansible_connection: winrm
      ansible_winrm_transport: ssl
      ansible_winrm_server_cert_validation: ignore

Could this be a problem?

And I add

[2018-11-08 03:08] jborean93 commented on #48290
Usually a send input failure indicates an issue starting the initial PowerShell process. What Ansible does is sends the command `powershell.exe -` and sends the module data over the stdin pipe. If that fails then it will raise this send_input failure.

The trouble is that this can be caused by a few different things but typically it could be based on too much load on the server but there's other r

[2018-11-08 04:36] jborean93 commented on #48290
No you cannot, that causes a connection failure which isn't caught in a rescue block. In 2.7 the `ignore_unreachable` task directive was added which can do what you want. More details on that can be found here https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#task.

[2018-11-08 05:05] ssamdwii commented on #48290
@jborean93 Thank you for your help.
I'll close this issue for now

[2018-11-08 05:05] #48290 closed, assigned to nobody

[2018-11-08 06:13] Tomorrow9 commented on #24837
I think "#45953 vm_guest - allow existing vmdk files to be attached to guest" is another required option for VM disk.

[2018-11-08 06:32] Tomorrow9 opened #48334 "VMware: Feature request for enable VBS when creating Win10 VM on ESXi 6.7"
##### SUMMARY

Virtualization Based Security(VBS) is new security feature introduced in Windows 10 and Windows Server 2016, and from ESXi 6.7, it is supported, so we want to create Win10 VM to have this function enabled.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest
##### ADDITIONAL INFORMATION

Add a new parameter under 'hardware' to enable or disable VBS.

[code]

[2018-11-08 06:39] motherboard1999 opened #48335 "docker_swarm: manager node can't join"
##### SUMMARY
If I use the docker_swarm module to join another manager in an existing docker swarm, the swarm don't work anymore.

##### ISSUE TYPE
The second master don't join correctly.
Error message of "docker node ls" at the master: `Error response from daemon: rpc error: code = Unknow desc = The swarm does not have a leader. It's possible that too few managers are online. Make sure more than

[2018-11-08 07:59] yfried commented on #45176
Hi, is there a fix for this? I'm hitting the same error for vm created from snapshot

[2018-11-08 08:17] tbouvet commented on #48335
The problem seems to be from the configuration :
[code]
`advertise_addr`: is the manager **address to add**.
`remote_addrs`: is an address from an **existing** manager

[2018-11-08 08:29] noname1314 commented on #47905
Hi team,

Any update about this issue?

Regards,
Eric Cheng

[2018-11-08 08:29] noname1314 commented on #47905
@rcarrillocruz

[2018-11-08 08:32] mkrizek commented on #45250
Can you provide the output that shows that it's not actually working?
The line you're pointing at `if '*' in items:` - `items` is a list , so this checks if one of the items user provided is `*` and if so, do `yum update -y`. That line would NOT match `python*`.

https://github.com/ansible/ansible/pull/48336 shows that this works as expected.

needs_info

[2018-11-08 08:44] beoSheep commented on #45250
Hi, maybe I didn't understand your question correctly, but using this code below

[code]
will do `yum update -y`, but I would prefer to run `yum update -y foo*`
Currently there isn't a solution to update "one family packages" like python* kernel* xorg* and so on.
This can be implemented using a custom shell module, which I provided in 1st post.

Are we talking about same things?

[2018-11-08 09:01] mkrizek commented on #45250
Yes. Can you provide the output that shows that it runs `yum update -y` and not `yum update -y foo*`?

[2018-11-08 09:15] zasca opened #48337 "zabbix_template: result is always 'changed'"
##### SUMMARY
Result is always 'changed' when imported same template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template.py

##### ANSIBLE VERSION
2.6.4

##### OS / ENVIRONMENT
Ubuntu 18.04.1 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2018-11-08 09:23] #29822 closed, assigned to nobody

[2018-11-08 09:28] #45250 closed, assigned to nobody

[2018-11-08 10:34] Tomorrow9 commented on #42666
Hi, I can take a look at this issue, since we also need to deploy VMs from ovf URLs. Thanks.

[2018-11-08 10:35] Manikantayalagandala opened #48338 "Ansible :Unable to parse /etc/ansible/hosts as an inventory source"
I am new to ansible ,got below issue. I was able to ssh into my client machine .but unable to run playbook. getting below error.

[WARNING]: Unable to parse /etc/ansible/hosts as an inventory source

 [WARNING]: No inventory was parsed, only implicit localhost is available

 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit
localhost does not match 'all'

[2018-11-08 10:48] gundalow commented on #35305
/me votes to just remove this line from the rax & gce guides.

[2018-11-08 10:50] ansibleuser commented on #42666
@Tomorrow9  - Ive solved the former, deploying to a specific esx node, if its needed I can submit a merge req, but I doubt it would be recieved unless the team thinks its of merit and tends to a valid use case

[2018-11-08 11:06] aknrdureegaesr commented on #48338
Hello, if you want to take my 2c on this:

* You could (and probably should) make reading your bug report much easier by learning how to write [markdown](https://guides.github.com/features/mastering-markdown/). Please switch between "Write" and "Preview" tab to view what your bug report looks like. Make it nice, swift easy reading.

* Give the content of `/etc/ansible/hosts`.

* Why do you use `[a

[2018-11-08 11:10] aknrdureegaesr commented on #48338
notabug

[2018-11-08 11:15] cmaliwal commented on #19584
working fine after the @riteshpuj2013 solution.

`ansible-playbook test.yml --ask-pass`

[2018-11-08 11:44] ikr0m commented on #48055
I've got same issue "This module requires NetworkManager glib API".
ansible v2.6.2. I run playbook on Kubuntu 16.04, error happens on remote host CentOS 6

[2018-11-08 12:20] masseybradley commented on #22127
FWIW I encountered the error on AIX 7.2 TL2. The SFTP log contained errors "ssh_packet_send: invalid format" suspected to be related to the known error with OpenSSH 7.5 (http://www-01.ibm.com/support/docview.wss?crawler=1&uid=isg1IJ03680) when using compression (default ansible.cfg ssh_args option using  2.5.10) - anyhow, patching OpenSSL 1.0.2.1500 and OpenSSH 7.5.102.1500 worked for me (http://w

[2018-11-08 13:20] nicolaibaralmueller opened #48344 "Block Rescue not working with fatal errors"
##### SUMMARY
Block - Rescue does not work when fatal errors occur.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.3

##### STEPS TO REPRODUCE

This example fails when the VPN is already connected.

[code]

##### EXPECTED RESULTS

The playbook should just finish successful.

##### ACTUAL RESUL

[2018-11-08 13:30] loop-evgeny commented on #44155
What version is this fixed in, please?

[2018-11-08 13:38] mkrizek commented on #48338
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-08 13:38] #48338 closed, assigned to nobody

[2018-11-08 14:38] adelmosilva opened #48349 "Erro Playbook to Update"
##### SUMMARY
Error while updating Ubuntu Server by PLaybook

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
PLaybook

##### ANSIBLE VERSION
2.7.1

##### CONFIGURATION
Null

##### OS / ENVIRONMENT
Local: Linux Mint 19
Remote: Ubuntu Server 18.04

##### STEPS TO REPRODUCE
Good morning, my friends.
I'm having an error happening on Ansible when I run the playbook below:

[code]

##### EXPECTED R

[2018-11-08 14:45] IPvSean commented on #47963
@hoyeunglee can you please make sure when opening the issue to fill out the template?  With literally hundreds of issues it becomes really hard to sort, figure out what you are trying to do, etc.  My recommendation to the developers is to close this issue until the proper default template is filled out with the corresponding information (playbook, error, module usesd, etc).

[2018-11-08 14:46] justjais commented on #47958
@atals2018 Can you please upgrade to Ansible `2.7` and check with `network_cli` as `2.4` is not being supported currently.

[2018-11-08 14:50] IPvSean commented on #47855
hey @hoyeunglee please see https://github.com/ansible/ansible/issues/47963, please use the standard template.  It is not even clear what module or platform you are trying to use.  If there is general questions please come join us on [slack](https://join.slack.com/t/ansiblenetwork/shared_invite/enQtMzEyMTcxMTE5NjM3LWIyMmQ4YzNhYTA4MjA2OTRhZDQzMTZkNWZlN2E3NzhhMWQ5ZTdmNmViNjk2M2JkYzJjODhjMjVjMGUxZjc2M

[2018-11-08 14:54] #46562 closed, assigned to samdoran

[2018-11-08 14:56] adelmosilva commented on #48349
@ansibot thanks. I updated the question with the correct format

[2018-11-08 15:01] lumean opened #48352 "apt cache update fails when an 'Orgin' is renamed"
##### SUMMARY

apt cache update fails due to 'Origin' value rename which requires interactive confirmation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

google chrome needs to be installed respectively the source list must be present:

[code]

##### STEPS TO REPRODUCE

probably hard to reproduce:
you

[2018-11-08 15:05] biohazd commented on #30229
+1 this is a very important issue to fix.

[2018-11-08 15:13] espressobeanies commented on #36410
Hi, so the real heart of the issue is that you cannot use two 'blockinfile' commands one after another without the first getting overwritten by the second. I'd say this is a major bug.

[2018-11-08 15:29] harrydevine opened #48353 "Specify home directory in ipa_user module"
##### SUMMARY

The ipa_user module lets the user enter IPA values such as uid, gidnumber, etc, however, there's no home directory directive.  Since "ipa user-add" in FreeIPA/IDM allows a --homedir property, the ipa_user ansible module should account for this as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

module
##### ADDITIONAL INFORMATION

This feature would work similar to how

[2018-11-08 15:42] ollybee opened #48354 "A lookup plugin to fetch secrets from Netbox"
##### SUMMARY
A lookup plugin to fetch secrets from Netbox

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
netbox-secrets

##### ADDITIONAL INFORMATION
This would complement the Netbox inventory plugin already available for ansible to allow fetching secrets associated with servers. This is also similar to exsiting plugins for Lastpass and HashiCorp's vault. My use case is that I store passw

[2018-11-08 15:45] harrydevine commented on #48353
I have an updated file developed already, but I'm unsure how to submit it.  I've VERY new to Github, but would like to contribute however I can.

[2018-11-08 15:46] acozine commented on #46838
This enhancement is now live in the `devel` and `latest` docs:
https://docs.ansible.com/ansible/latest/user_guide/modules_support.html
https://docs.ansible.com/ansible/latest/modules/partner_maintained.html#certified-supported

[2018-11-08 15:46] #46838 closed, assigned to samccann

[2018-11-08 15:47] Fred-sun commented on #45176
Fixed by #45269

[2018-11-08 16:00] MansM commented on #44677
same for ansible 2.7.1

[2018-11-08 16:05] MansM commented on #44677
as in gitlab 10.3 the session api endpoint is removed the gitlab python module should be updated first....

[2018-11-08 16:12] MansM commented on #44677
when you use ansible 2.7.x pip uninstall pyapi-gitlab && pip install --force python-gitlab

not entirely working for me, but this should be the way forward

[2018-11-08 16:13] nikaro commented on #48134
Duplicate of #19820. But seems to be a better approach to what have been done for now.

If we go for a separate module, ideally this module should be called "mount" and the actual "mount" should be renamed to "fstab". But for backward compatibility reason i do not think it is possible. So… +1 for "mount_live".

[2018-11-08 16:17] webknjaz commented on #48134
I like @BryanJeterCTR's idea

@nikaro right, when renaming modules we still leave old name symlinked and it would not be possible to just replace it. Also, users will complain about "their old playbooks doing a different thing" in four versions from now...

[2018-11-08 16:23] samdoran commented on #48178
This does not appear to be a bug report.

A better way to do this would be to use conditionals and facts so you don't have to remember to pass in tags every time.

[code]

For further help with using tags, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-08 16:23] #48178 closed, assigned to nobody

[2018-11-08 16:38] chad-autry commented on #44404
The example config on the ansible page is misleading or incorrect. Remove "google.com:" just need the project identifier

[code]

[2018-11-08 16:39] nikaro commented on #48134
@BryanJeterCTR @webknjaz i have been told that the state should always be in paste tense: https://github.com/ansible/ansible/pull/35294#discussion_r177028716

[2018-11-08 16:42] webknjaz commented on #48134
Ah.. Right. Past tense is better for sure :)

[2018-11-08 16:48] ekultails commented on #47075
Another example use case I ran into:

[code]

[2018-11-08 16:49] #17872 closed, assigned to nobody

[2018-11-08 16:53] dagwieers commented on #47075
I don't see the point, `failed_when` gives you all the functionality you need. If it didn't fail, it succeeded, so simply negate your expressions.

**Example 1:**
[code]
**Example 2:**
[code]

[2018-11-08 16:53] #47075 closed, assigned to nobody

[2018-11-08 16:55] samdoran commented on #48344
This does not look like a bug.

The shell task fails, which then results in the `rescue` tasks running.

The conditional in the task in the rescue section isn't really needed since it will always evaluate to `True`, but I left it in my testing playbook.

[code]

And the output:

[code]

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenod

[2018-11-08 16:55] #48344 closed, assigned to nobody

[2018-11-08 17:00] samdoran commented on #48349
It looks like the `become_user: ansible` user cannot write to `/var/lib/apt/lists/`. You probably want `become_user: root`.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-08 17:00] #48349 closed, assigned to nobody

[2018-11-08 17:05] samdoran commented on #48353
Have a look at [developer docs](https://docs.ansible.com/ansible/latest/community/development_process.html#pull-requests) for information on how to submit a pull request.

Please feel free to ask questions in #ansible-devel on Freenode.

[2018-11-08 17:18] ekultails commented on #47075
Thank you for the feedback. I understand and with Ansible's design of being simple to use, negating failed_when seems counter-intuitive. Since there's a failed_when and changed_when it would make sense to also see a succeed/ed_when.

[2018-11-08 17:20] rafaelorafaelo commented on #46523
Foreman 1.19:
[facts.json.txt](https://github.com/ansible/ansible/files/2562787/facts.json.txt)

[2018-11-08 17:42] ekultails commented on #47075
Using example `#2` (since it's an easier-to-reproduce test case), the command task would false-positively fail the first time because "that name is already in use" really won't show up when it's being created for the first time.

[code]

[2018-11-08 18:09] sfgeorge commented on #16443
@alanthing just a head's up: I am deprecating my old suggestion to use `{% raw %}`. I now agree with  [@inossidabile's recommendation](https://github.com/ansible/ansible/issues/16443#issuecomment-275741852) to use [!unsafe](https://docs.ansible.com/ansible/playbooks_advanced_syntax.html) instead.

[2018-11-08 18:12] alanthing commented on #16443
@sfgeorge how would you suggest to best do that within the confines of an entire template file?

[2018-11-08 18:29] billdodd opened #48364 "Redfish CreateBiosConfigJob command uses non-standard Jobs URI"
##### SUMMARY

The code in redfish_utils.py:create_bios_config_job() POSTs to a non-standard URI to create a Bios config job.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_command.py
redfish_utils.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targets are Redfish hosts.

##### STEPS TO REPRODUCE

Run a playbook like the one below against a n

[2018-11-08 18:32] bbyhuy commented on #48134
So is there a consensus on how we want to go about this? Add a state or split it out as a new module? I can take a stab at it if @ahuffman isn't able to get to it til next year.

[2018-11-08 18:35] #48296 closed, assigned to nobody

[2018-11-08 18:35] mariolenz commented on #48296
duplicate_of #45513

[2018-11-08 18:41] harrydevine commented on #48353
I read through that document, and created a pull request, but I don't see anywhere to actually upload the the modified file that I have.  I tried to get to freenode, but our IT department blocks access to it.

[2018-11-08 18:54] NathanUrwin opened #48366 "homebrew_cask install_options force not working"
##### SUMMARY

The cask app is not force installed, or reinstalled, if already installed. Related to #47681 ?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`homebrew_cask`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierra Version 10.13.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
[code

[2018-11-08 19:22] espressobeanies commented on #36410
Sorry for the false alarm. I think I just resolved my issue. Thanks guys!

[2018-11-08 19:22] #36410 closed, assigned to nobody

[2018-11-08 19:53] marouim opened #48369 "nxos_facts: " NameError: global name 'objects' is not defined" on NXOS 7.0"
##### SUMMARY
Running nxos_facts task on Cisco Nexus 3548 running NXOS 7.0(3)I7(3)
Get error when running playbook

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_facts

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

Playbook
[code]

Inventory
[code]

Command
[code]

##### ACTUAL RESULTS

[code]

##### INVESTIGATION

The actual power_supply parsing method is

[code]

The

[2018-11-08 19:59] jborean93 commented on #46412
Hey @chopraaa sorry this one seemed to skip my radar. The issue you have is that it is running over the local connection and not on your Windows host. You can see in the output it is running over local and executing `win_user.py` which is the docs hence the failure. Make sure you set your target `hosts` correct or are limiting the hosts when invoking the playbook.

[2018-11-08 19:59] #46412 closed, assigned to nobody

[2018-11-08 20:00] mihailstoynov opened #48371 "Variable propagation fails with include_role"
##### SUMMARY
Variable propagation fails with include_role. A variable in a role propagates in transitively included roles (include_role) only until level 4. After that the variable becomes undefined

After executing the included playbook, role4 displays the default value propageted from role2, instead of the variable value "inherited" from role1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2018-11-08 20:00] mtkunkel commented on #44702
Still experiencing this issue in 2.6.7, appears the fix only appeared in 2.7.1...   Any chance it will show up in the 2.6 series?

[2018-11-08 20:04] liltechdude commented on #47200
I am seeing this issue while using `ios_config` in the devel branch. Applying PR #48306

[2018-11-08 20:13] jborean93 commented on #48371
I believe you need to set `public: yes` on the `include_role` task. This was added in 2.7 to allow you to change the behaviour to be more like `roles` and `import_role`. More details can be found here https://docs.ansible.com/ansible/latest/modules/include_role_module.html.

[2018-11-08 20:21] depereo commented on #45090
No longer reproducible on devel, stable-2.7.
For posterity, suspect the issue lay in connection handling or the network_cli plugin as it appears the issue was the dictionary data being cut off, and there were no changes to eos_facts between versions that expressed the problem and versions that did not.

[2018-11-08 20:21] #45090 closed, assigned to justjais

[2018-11-08 20:52] kaelscion commented on #47696
I haven't made a pull request as of yet. I'm having a bit of trouble getting things set up properly on Azure to test honestly. I'm usually an AWS and GCloud guys. I use the Jinja2 template all the time, hence my interest in this particular bug, but I cannot seem to get the environment set up correctly to test :O. I will update as soon as I have submitted changes. Apologies for delay!

[2018-11-08 21:08] ahuffman commented on #48134
@bbyhuy something like `mount_live` would work for me, as it could just avoid touching any of the other cases and logic.  I was initially thinking a boolean of `modify_fstab: False` would be good, but this is probably simplest.

How about `state: "mounted_non_persistent"` instead of `mount_live`?  This seems like a better state name to me.

Also it looks like `state: "unmounted"` should still work

[2018-11-08 21:23] danielkelly22 opened #48374 "Ansible terraform module variables with spaces"
##### SUMMARY

The terraform module fails when there is a variable defined that has spacing in it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

terraform
terraform.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Trying to test using the terraform module to create a vSphere VM from template.  Everything functions normally un

[2018-11-08 22:05] #39542 closed, assigned to nobody

[2018-11-08 22:16] mraineri commented on #48364
The concept of using this type of job really is a different topic than the "Jobs" concept introduced in 2018.2.

The proper flow for setting BIOS attributes should be:
- Modify the Settings object for the BIOS resource accordingly
- Reboot the ComputerSystem

[2018-11-08 22:16] samdoran commented on #47647
There are a couple other distros where this happens pretty consistently. It's due to the default of `0` for the pre reboot delay. You can fix this by setting `pre_reboot_delay` to `60`.

I also plan to handle this better in a future bugfix.

[2018-11-08 22:45] jborean93 commented on #47707
Yep that's pretty much what I expected and something we are looking to do with persistent connections in the future. Using psrp should mean we don't have to worry about managing and securing our own sockets but may take some hits on the WinRM payloads. Having a persistent runspace means we can;

* Cache the modules on the remote side
* Cache the module utils and exec wrappers
* Cache the C# code t

[2018-11-08 22:52] trondhindenes commented on #47707
Yup. One area that probably needs fine-tuning is environment variable manipulation. This is easy in Ansible today, since envvars get "reloaded" on every task, but with a long-living session of any kind there would probably have to be some special sauce that took care of reloading the session upon changes in envvars. Shouldn't be too bad tho.

In any case, I welcome this. As we're scalout out our W

[2018-11-08 22:58] trondhindenes commented on #47707
btw results from my testing:
same playbook, different connection methods. CPU is fairly similar in that it spikes on all 3 connection types.
regular winrm
`ansible-playbook test_playbook.yml -i hosts -vvv  1,10s user 0,27s system 10% cpu 12,658 total`

psrp:
`ansible-playbook test_playbook.yml -i hosts -vvv  2,35s user 0,50s system 21% cpu 13,111 total`

trond's tcp hack thingy:
`ansible-playbook

[2018-11-08 23:01] jborean93 commented on #47707
Agreed, we definitely have a few ideas as to how to go about this. It's the next major goal in our minds for improving the performance and this is the area we are targeting.

[2018-11-08 23:06] trondhindenes commented on #47707
awesome, really good news. I'm fine with closing this if you want, please let me know if there's any testing or other type of input I can be of assistance with.

[2018-11-08 23:07] jborean93 commented on #47707
Let's keep it open, I don't think we have an issue already for this work so good to have something there. Thanks for your investigations so far, it's been really helpful.

[2018-11-08 23:15] trondhindenes commented on #47707
great! Will keep an eye on it!

[2018-11-09 00:37] hoyeunglee commented on #47855
There is one jumping platform , need to ssh one Linux first for ssh other Linux

Regards,

Ho Yeung, Lee

Get Outlook<https://aka.ms/qtex0l> for iOS

________________________________
From: Sean Cavanaugh <notifications@github.com>
Sent: Thursday, November 8, 2018 10:52 PM
To: ansible/ansible
Cc: Ho Yeung, Lee; Mention
Subject: Re: [ansible/ansible] How to ssh second time after login Cisco device (

[2018-11-09 01:15] lm1427934400 commented on #20493
with the same problem

[2018-11-09 01:45] sfgeorge commented on #16443
@alanthing I might be wrong but to my knowledge, given that you have a full bash script in a file.sh.j2 template, you are doing it the right way by using raw in that particular context.  If however, you were defining a bash script in a variable, then `!unsafe` would be the way to go.  But I understand what you are doing to be just fine.

[2018-11-09 01:51] johnboy2 commented on #47838
Having run into this, I actually figured out what's going on. TLDR; change your pattern to `'^(.*)$'`, because this is due to a behavior change in Python 3.7.

Ultimately, the Python code that gets executed is basically the same as:
[code]

And if you run that in different Python versions (including 3.7.0), you'll get results that match what Ansible shows when executed under those same Python vers

[2018-11-09 01:54] johnboy2 commented on #47838
See https://bugs.python.org/issue32308 for justification for the relevant Python 3.7 change.

[2018-11-09 01:57] hryamzik commented on #47838
I've updated my regexp from `(.*)` to `^(.*)` before reporting this. However I've no idea how many roles may be affected. Not sure if there's anything that should be fixed on ansible side to keep things consistent.

[2018-11-09 02:07] acozine commented on #11268
We've added inventory plugins and updated the dynamic inventory docs in general. See #46799 and https://docs.ansible.com/ansible/latest/plugins/inventory.html#inventory-plugins. Closing this ticket - please open a new ticket if you feel the current docs need more work.

[2018-11-09 02:07] #11268 closed, assigned to nobody

[2018-11-09 02:07] texdc opened #48387 "Nested roles cannot access included vars"
##### SUMMARY
Variables passed to nested roles via `include_role` are not defined.
See also:  https://github.com/ansible/ansible/issues/16320

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
redacted (config contains proprietary info)

##### OS / ENVIRONMENT
Mac OS 10.13.6

##### STEPS TO REPRODUCE
Define vars and include them in

[2018-11-09 02:29] #43670 closed, assigned to samdoran

[2018-11-09 02:39] Fred-sun commented on #46440
@yuwzho

[2018-11-09 02:40] Fred-sun commented on #46313
@zikalino

[2018-11-09 02:52] samdoran commented on #47647
If folks could test with #48389, I'd appreciate it. That's a rough first attempt at fixing this.

[2018-11-09 03:56] AGSPhoenix commented on #47647
I had to erase my original host VM to free up some space, but testing against a similar Debian 9 VM, it seems to work. I installed with `pip install git+https://github.com/samdoran/ansible.git@fcad994cdf91ff3d910ddc586fec460cc0cdaec0` and ran the playbook in my original post three times, and each time it handled the connection terminating gracefully:

[code]

More testing from other users would be

[2018-11-09 04:50] ssamdwii opened #48395 "Block retry"
##### SUMMARY
- Let's assume that my role consists of one block and three tasks in the block.
First task is is a file download and the second task is decompression.
An error occurs when decompressing.
If the cause is that the downloaded file is not the correct size, the download should retry.
But now, the retry is only possible on the task.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
-

[2018-11-09 04:58] ptux commented on #44494
bot_status

[2018-11-09 05:32] ssamdwii opened #48398 "task retry after "rescue""
##### SUMMARY
- My role entered "rescue" during task execution because of failure of the task.
I want to run the task again after "rescue".
But after "rescue", it goes to the next block.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
task(or block) retry after "rescue"

##### ADDITIONAL INFORMATION

[code]

[2018-11-09 05:50] ssamdwii opened #48399 "Suspend other tasks during "rescue""
##### SUMMARY

I execute my role with several clients(many hosts) at the same time.
However, If only one client execute "rescue", when one rescue task is executed, the other clients execute the next task.
If the previous step affects the next step, I will have problems running the next step.
I want to other client to pause
and after rescue, all the clients to run the next step at the same time.

#

[2018-11-09 05:52] ssamdwii commented on #48399
Currently my ansible version is 2.4.2.
Please let me know if there is a way to do the next step at the same time.
Thank you for your help

[2018-11-09 05:56] caphrim007 commented on #29511
this is now merged

[2018-11-09 05:56] #29511 closed, assigned to nobody

[2018-11-09 05:58] avneesh91 opened #48400 "Add extra params to pip install requirements plugin"
##### SUMMARY

Currently the ansible plugin [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py) for installing virtual environment does not provide any way to pass exta commandline params(which make it very difficult to use). For example, I would like to pass the option --no-cache-dir option to pip install however I do not see anyway to do that.

###

[2018-11-09 06:10] zimmertr opened #48402 "Add support for applying Kubernetes deployments from URL"
##### SUMMARY

Lots of documentation instructs the user to apply Kubernetes deployments from URL. For example, it is recommended [here](https://github.com/kubernetes/dashboard/wiki/Installation) to apply the Dashboard with the following command: `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml`

Therefore, it would be

[2018-11-09 07:03] jeanfabrice commented on #48309
!component -contrib/inventory

[2018-11-09 07:53] nicolaibaralmueller commented on #48344
@samdoran

How do you come to the conclusion that this is not a bug?

A block should protect against playbook failure! The shell command fails and the rescue block debugs a variable.

If the failure in block still results in playbook failure, then what is the point?

Please reopen.

[2018-11-09 07:56] y2kkarthik opened #48408 "Unable to find ami using tag name with ec2_ami_facts"
##### SUMMARY
I am have trouble in finding the ami with specific tag name.

I have used similar code snippet as below -
[code]
And this doesn't return me any images. I am wondering why it is not returning any results although the same steps were followed as per the documentation.

Any leads would be appreciated

Regards,
Karthik

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE V

[2018-11-09 07:59] adelmosilva commented on #48349
My friend, thank you very much. Run as root(same password on client e server):

this message is displayed:

fatal: [192.168.0.82]: FAILED! => {"changed": false, "cmd": "apt-get update", "msg": "W: GPG error: https://dl.bintray.com/wso2/deb ei_640 Release: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 379CE192D401AB61\nE: The repository 'https://dl

[2018-11-09 08:57] macklus opened #48410 "Featured ansible_failed_task.host info on ansible_failed_task"
##### SUMMARY
when use block/rescue for Slack alerts on failures, if task is running on múltiple nodes, you dont know where the task fail. Added a ansible_failed_task.node should solve it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
code on block/rescue

##### ADDITIONAL INFORMATION

[code]

tag_Function_PrivatePhp contains 20 nodes.

[2018-11-09 11:02] juanvalino commented on #24425
I have the same problem with 2.7.1. The workaround is to add `| string` before using `password_hash`.

[code]

[2018-11-09 11:29] Shaps commented on #43556
Hi @fabricetriboix,
Is this still an issue? I have just tested with `v2.7.1` and have not had any issues when adding the IAM role.

I have the following boto* versions installed:
[code]

[2018-11-09 11:37] mkrizek commented on #48410
Why not use e.g. `inventory_hostname` variable for that purpose?

[2018-11-09 11:43] rcarre opened #48414 "Role variables not loaded in hostvars - Regression from Ansible 2.2.1 to 2.2.3"
##### SUMMARY
When applying a role to a machine, the hostvars['machine'] dict entry does not contain any variable defined in role/default/main .yml

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.5
##### STEPS TO REPRODUCE
Content of ./nginxstatic/nginxstatic_Role/default/main.yml
Ass_nginxstatic_Us

[2018-11-09 11:53] mkrizek commented on #48366
cc @indrajitr @danieljaouen @enriclluelles

[2018-11-09 11:58] mkrizek commented on #48408
cc @prasadkatti

[2018-11-09 12:02] dgalpaj opened #48415 "storage_mb parameter is not working in azure_rm_postgresqlserver"
##### SUMMARY
The storage configuration to create a new database server instance is not working in azure_rm_postgresqlserver. Storage_mb is always configured with a 5Gb default value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_postgresqlserver

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ubuntu:18.04

##### STEPS TO REPRODUCE

I'm executing the following provision in th

[2018-11-09 12:07] palmerabollo commented on #46313
We're facing the same error with postgres for azure (azure_rm_postgresqlserver) https://github.com/ansible/ansible/issues/48415

[2018-11-09 12:11] #48159 closed, assigned to nobody

[2018-11-09 12:13] mkrizek commented on #48395
Duplicate of https://github.com/ansible/ansible/issues/46203

[2018-11-09 12:13] #48395 closed, assigned to nobody

[2018-11-09 13:41] jorijinnall commented on #46744
Can you detail how you check "tftp.socket is not modified at all." ?

[2018-11-09 13:41] #48314 closed, assigned to nobody

[2018-11-09 14:10] mihailstoynov commented on #48371
I don't thik that relates to the issue. In the POC the variable propagates 3 nested levels, and then on the fourth `include_role` it magically disappears.

[2018-11-09 14:52] cxcv commented on #47669
Hello @jborean93 ,

sorry for my delayed reply.

The hang is during the first installation when ansible implicit installes chocolatey; subsequent installations work using the proxy.

I see the machine is making one single HTTPS request to chocolatey.org before it hangs. I've started ansible using
`ANSIBLE_DEBUG=1 ANSIBLE_KEEP_REMOTE_FILES=1`
and from looking at the ansiball, I think the successful

[2018-11-09 15:03] jackivanov commented on #32626
any progress on this?

[2018-11-09 15:09] bcoca commented on #48414
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-11-09 15:09] #48414 closed, assigned to nobody

[2018-11-09 15:32] keitalbame commented on #30882
Just got "bit" by this and noticed that if one uses `block`, the task is now included.
[code]

[2018-11-09 15:32] y2kkarthik commented on #48408
Any thoughts @prasadkatti ?

[2018-11-09 15:48] sivel commented on #48371
Duplicate of https://github.com/ansible/ansible/issues/47023

[2018-11-09 15:48] #48371 closed, assigned to nobody

[2018-11-09 15:57] wenottingham commented on #47256
You'd probably want to do this for lib/ansible/plugins/inventory/foreman.py as well.

[2018-11-09 16:06] NathanUrwin commented on #48366
I'd like to add on that the actual initial install doesn't work either. The ansible role task passes, but only the installer is copied over to the server (macOS VM in this case). Adding `-vvvv` and `ANSIBLE_DEBUG=1` to the `ansible-playbook` command shows sftp/scp upload issues. Once I have a free moment I'll come back and post the stdout.

[2018-11-09 16:13] NathanUrwin commented on #48366
Another note: when I run the `brew install` command in Terminal manually, brew prompts for a password. I've added the `-K` option to `ansible-playbook` and enter the sudo password before the playbook begins, but could this issue possibly be related to #46319 ?

[2018-11-09 16:14] scottd018 commented on #47256
@wenottingham excuse my n00bness.  :) The file you referenced was the only file that was updated.  Attempting to update via the ansibot commands.

!component +lib/ansible/plugins/inventory/foreman.py
!component -lib/ansible/module_utils/facts
!component -lib/ansible/modules/remote_management/foreman/_foreman.py

[2018-11-09 16:19] scottd018 commented on #47256
!component +lib/ansible/plugins/inventory/foreman.py
!component -lib/ansible/module_utils/facts
!component -lib/ansible/modules/remote_management/foreman/_foreman.py

[2018-11-09 17:01] gamuniz opened #48422 "add configurable password_retries to prevent account lockout"
##### SUMMARY

If a user mistypes a password for a user/pass ssh connection, it can cause account lockout due to ansible attempting to connect and supplying the incorrect password several times.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

This could be used to enforce the amount of times Ansible attempts to connect with the provided password via ssh. Simil

[2018-11-09 17:05] jaypipes opened #48423 "unable to communicate out of Docker container running Ansible to another Docker container"
##### SUMMARY

Unable to communicate from one Docker container running Ansible to another Docker container.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

Docker (I think?)

##### ANSIBLE VERSION

2.5.0

##### CONFIGURATION

See below, Ansible is installed in a Docker container.

##### OS / ENVIRONMENT

Host is RHEL7, Docker 18.06.1-ce

##### STEPS TO REPRODUCE
I did not want to install Ansi

[2018-11-09 17:06] samdoran commented on #48422
`sshpass` returns error code 5 when invalid/incorrect password is entered. Currently we only check for 255 in the ssh connection plugin. We could handle error code 5 differently, and allow customization via a config setting.

[2018-11-09 17:06] sivel commented on #48423
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-09 17:06] #48423 closed, assigned to nobody

[2018-11-09 17:08] fabianvf commented on #48402
That's a good point, I hadn't considered that use. I think the `src` parameter is pretty neglected at this point, we could probably incorporate this feature in with a general revamp that adds an action plugin to read the `src` file from the ansible controller instead of the remote host. I imagine we could copy the `src`/`remote_src` semantics from the [unarchive module](https://docs.ansible.com/an

[2018-11-09 17:09] jaypipes commented on #48423
wow, that was closed pretty quickly... :(

[2018-11-09 17:29] samdoran opened #48425 "Reboot plugin does not work with ESXi hosts"
##### SUMMARY
The `reboot` plugin fails to work on ESXi hosts. ESXi does not have `who -b` or `/proc/sys/kernel/random/boot_id`, so all attempts to check when the system was last booted fail. ESXi also does not have `shutdown`, only `reboot`.

The output of `uname` is `VMKernel`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`reboot.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2018-11-09 17:43] djeebus commented on #45043
@Akasurde not OP, but I can confirm that the commit does _not_ fix the error:

[code]

the cleaner traceback:

[code]

This is after changing the line referenced in the commit.

[2018-11-09 17:43] jaypipes commented on #48423
For anyone looking to do this, the solution is to bind-mount the docker executable and docker socket when starting up the Docker container that runs Ansible:

[code]

Note that `docker-py` actually isn't necessary to install in the Docker container (contrary to information found online)

The docker connection module doesn't do connection or protocol-level communication with Docker. Instead, it she

[2018-11-09 17:46] Jed-Giblin opened #48426 "Dell OS6 Module using string instead of bytes when using ansible_become"
##### SUMMARY
When the dellos6_command module tries to check the shell output for '#', it does so by executing:

`self._get_prompt.endswith('#')`

This causes an exception because the prompt is bytes() object and not a string. Casting the `'#'` to bytes with `b'#'` solves the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dellos6_command

##### ANSIBLE VERSION

[code]

##### CONFIGURA

[2018-11-09 17:58] djeebus commented on #45043
I can also confirm that @kirkdave 's fix works :)

[2018-11-09 18:03] Jed-Giblin commented on #48426
!component+lib/ansible/plugins/terminal/dellos6.py

[2018-11-09 18:20] bbyhuy commented on #48400
The pip module appears to support the **extra_args** parameter which takes in space delimited parameters. Have you given this a try with the --no-cache-dir option?

[2018-11-09 18:44] samdoran commented on #47647
I've finalized the fix in #48389. More testing is greatly appreciated.

[2018-11-09 18:50] oupala commented on #20199
Bug filed.

[2018-11-09 18:51] sat1121 commented on #41774
@ckotte when i execute the vmware_portgroup module with the "--check" in check mode, the task gets skipped. It doesnt look like it is reacting to the check mode command. Any thoughts? Thanks in advance

[2018-11-09 19:04] D3DeFi commented on #47647
Hey, I've been using your first version of the fix for a whole day today with Debian and Ubuntu systems. No problems so far.

Regarding the finalized version of the fix, I wouldn't be able to test it sooner than on Monday, unfortunately.

[2018-11-09 19:39] ckotte commented on #41774
@sat1121 What do you mean exactly? When I run vmware_portgroup task in check mode, the module will be executed; it just don't configure anything if a change would be necessary. Can you post your task here?

[2018-11-09 20:08] sat1121 commented on #41774
@ckotte My apologies. My play was skipping tasks because one of the "when conditionals" were missing. The check mode works fine. Thank you.

[2018-11-09 20:29] ralphie02 opened #48435 "VMware: vmware_guest module ignoring env vars VMWARE_PASSWORD and VMWARE_USER"
##### SUMMARY
Environment variable is not being used to populate vmware_guest module parameters
VMWARE_USER
VMWARE_PASSWORD

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

localhost to VMware vCenter Server v6.0.0

##### STEPS TO REPRODUCE

I run my playbook below while omitting `username` and `p

[2018-11-09 20:44] tadeboro commented on #46744
When `tftp`-related services are disabled and stopped, `systemctl` has this to say about the system:

    $ systemctl status tftp
    ● tftp.service - Tftp Server
       Loaded: loaded (/usr/lib/systemd/system/tftp.service; indirect; vendor preset: disabled)
       Active: inactive (dead)
         Docs: man:in.tftpd
    $ systemctl status tftp.socket
    ● tftp.socket - Tftp Server Activation Sock

[2018-11-09 21:07] webknjaz commented on #48134
`state: mounted_live` maybe?

[2018-11-09 21:10] bbyhuy commented on #48134
@webknjaz you read my mind. I literally started implementing "mounted_live" just this morning.

[2018-11-09 21:12] webknjaz commented on #48400
There's `virtualenv_command` (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py#L52) and `extra_args` (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py#L73) options supported by the module. First one allows to modify virtualenv command and second one extends pip command.

@avneesh91 what else do you need?

[2018-11-09 21:40] 2-face opened #48439 "netconf connection plugin shall allow master ~/.ssh/config file"
##### SUMMARY
When using netconf connection plugin from ansible 2.7 it allows to define own ssh config path which includes host connections configuration. If a referred file doesn't include a host(s) on which we want to run playbooks on then ansible-playbook fails with:

**_"msg": "[Errno 8] nodename nor servname provided, or not known"_**

Workaround is to use _.ssh/config.child_ that include Hos

[2018-11-09 21:52] bbyhuy commented on #48134
Hm, so I've implemented a mount_live function along with modifying the umount function a bit to handle openbsd specific live mounting.
However, I'm not sure how I should handle the remount function for this. I'm tempted to just call umount and mount in the case if "mounted_live" is called twice. The remount involves a lot of unnecessary code in terms of the mounted_live state is concerned. Or to c

[2018-11-09 21:53] leonsp opened #48440 "modprobe doesn't actually unload kernel modules"
##### SUMMARY
I'm trying to unload four kernel modules. The idiomatic Ansible way is to use `modprobe`. `modprobe` says it unloads but it doesn't actually unload the kernel module

Running `command: rmmod <name>` after the fact unloads the module.

It might be related to this old issue:  https://github.com/ansible/ansible-modules-extras/issues/2140

##### ISSUE TYPE
- Bug Report

##### COMPONENT N

[2018-11-09 22:15] samdoran commented on #48344
Maybe I am misinterpreting the issue. It seems that the block does protect the playbook from failing. The task in the block fails, the rescue task runs, then task after the block runs. A failure is reported at the end of the run because tasks _did_ fail. But the playbook ran to completion rather than exiting early.

What am I missing? (not being snarky, genuinely asking — tone is not conveyed thro

[2018-11-09 22:31] samdoran commented on #48353
You should be able to push it to GitHub and create a PR. See [GitHub's documentation](https://help.github.com/articles/about-pull-requests/) for further details.

[2018-11-09 22:47] bbyhuy commented on #48440
I wasn't able to repro this on a centos 7 or ubuntu 16 system, the module acted accordingly...but both systems were x86_64. I don't have a ppc to test on. Probably need to triage this a little more.

[2018-11-09 23:13] webknjaz commented on #43256
@pillarsdotnet currently present example (last one) is quoted: https://docs.ansible.com/ansible/devel/modules/pip_module.html#examples
Is that what you wanted originally?

[2018-11-09 23:15] webknjaz commented on #48134
@bbyhuy I think it'll be easier for everyone to provide a feedback within some WIP PR as one can attach comments exactly to lines they refer to, which is better illustrative...

[2018-11-09 23:33] acozine commented on #40371
@tima I'm pretty sure this isn't an issue with the docsite. Try printing another page (maybe this one) - if you see the same problem, it's an issue with your browser and/or computer. I've seen this behavior on my macbook pro when I'm using an external monitor - and it affects every website I visit.

If you're seeing the same behavior, try opening your laptop lid and printing from the laptop screen

[2018-11-10 00:13] #38043 closed, assigned to nobody

[2018-11-10 00:19] armartirosyan opened #48447 "nxos_file_copy returns Private key file is encrypted error"
##### SUMMARY

Trying to automate file uploading process to the Cisco Nexus 9000 device with Ansible Playbook. To authenticate I am using `ssh_keyfile` method. When running the playbook receiving `Private key file is encrypted` error message. Using the same key from the terminal works just fine.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_file_copy
##### ANSIBLE VERSION

[code]

####

[2018-11-10 02:33] apple4ever commented on #30347
This seems to have been fixed in #27272

[2018-11-10 02:37] apple4ever commented on #26322
This seemed to have shipped in 2.7:

https://github.com/ansible/ansible/pull/21215#issuecomment-416269660

[2018-11-10 04:18] #45245 closed, assigned to nobody

[2018-11-10 04:39] apple4ever commented on #41582
@mmazek I created PR #48453 that should fix this issue. Let me know what you think of it. Works great for me.

[2018-11-10 08:17] Pitmairen opened #48466 "Handler not found in included role when using variable in name and variable is defined in inventory or host_vars"
##### SUMMARY

If a role is included and it defines a handler that is using a variable in the handler's name, the handler is not found in some situations, it depends on where the variable is defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
handlers

##### ANSIBLE VERSION

[code]

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Control machine Arch linux
Targets: all

#####

[2018-11-10 08:28] kstenerud commented on #44651
Ah, I'm guessing this has to do with running under a container then? I'll try mounting shm and see if tha makes a difference.

[2018-11-10 10:29] Sohair63 commented on #32499
I upgraded my system to **Mojave**
- rails - 5.1.3
- ruby - 2.3.3

I am getting this error which is **not** resolved by `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`
[code]

[2018-11-10 11:09] 2-face opened #48468 "netconf_rpc - display option doesn't work"
##### SUMMARY
netconf_rpc module from ansible 2.7 works as expected i.e. a get or edit-config works as expected but when trying to use **_display_** to format the response none of xml, json, pretty print options work. Workaround is to use raw **stdout** output rather than properly formatted **output**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_rpc module

##### ANSIBLE VERSION
[c

[2018-11-10 11:19] 2-face opened #48469 "netconf_rpc/netconf_get - option to ignore rpc-errors and still provide full reply"
##### SUMMARY
Currently if there is at least one rpc-error in the reply for a query (get) then it is not successfull at all and such rpc fails with:

Raw reply exerpt:
[code]

Actual playbook output:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
```netconf_rpc``` - rpc fails totally
```netconf_get``` - fails like above but in case there is  ```<error-option>ignore-error</error-opti

[2018-11-10 11:54] yaegashi opened #48470 "Allow override variables defined in vars_files using vars of import_playbook"
##### SUMMARY

Unable to override variables defined in `vars_files` using `vars` of `import_playbook`.

The variable precedence explained [here](https://docs.ansible.com/ansible/2.7/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable) might be related to this behavior.  It would be nice if we had a handy way to override variables of sub components imported/include

[2018-11-10 13:39] BillBrower commented on #42532
@ivanbaldo Try moving `Principal` up above resource so that it is right below `Effect`. I think AWS returns policies with the keys in that order.

[2018-11-10 14:00] felixfontein commented on #32626
@jackivanov I don't think anyone worked on it so far. The critical part seems to be `openssl_privatekey`.

Also, I don't know if anyone checked `openssl_publickey`, and there's a relatively new module `openssl_pkcs12`. The steps to proceed are probably:
 1. create tests for all modules (except `openssl_privatekey`) which use elliptic curves, to see and document what already works;
 2. come up with

[2018-11-10 15:03] Roxyrob opened #48471 "win_xml strange character sequence generation"
##### SUMMARY

When win_xml parses a xml file containing character "è" (inside a comment) replaces è with garbage symbols.

##### ISSUE TYPE
- Bug Report
We try to change xml files on remote windows host using new module win_xml. It works fine as soon as it parse an xml file and meets an "è" char. In this case win_xml start to replaces "è" with garbage symbols (probably wrong UTF-8 encoding). Ever

[2018-11-10 15:11] ssbarnea commented on #38227
I think we need to reopen this issue because the stated workaround is  ugly, hard to read and too verbose (still very useful, and for this reason I am making a PR to add it to the documentation).

I see no reason why we should not have a `with_all_found` lookup that avoids the need to use it.

[2018-11-10 18:01] felixfontein opened #48473 "argument_spec validation does ignore elements for type=list except if elements=dict"
##### SUMMARY
When an argugment_spec contains on option with `type == 'list'` and `elements != 'dict'`, the list elements are **not** checked for being of the correct type.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION
[code]
(probably all previous versions as well which support `elements`)

##### STEPS TO REPRODUCE
Create a test modu

[2018-11-10 18:54] the-mikedavis commented on #26670
To build on the existing workaround (^), if your pip isn't the `/usr/bin/pip` one, make sure to find it before removing everything:

[code]

[2018-11-10 18:57] bincyber commented on #38722
I ran into a similar issue with the `k8s` module when authenticating using a `kubeconfig` file. My Kubernetes API server was using a certificate signed by an intermediate CA, but the full chain of CA certificates was not provided in the `kubeconfig` file. After providing the full certificate chain, the error went away. I've submitted this PR to update the documentation: #48474

[2018-11-10 20:50] felixfontein commented on #48473
Something else I noticed: if `type == 'list'` and `elements == 'path'`, `~` will not be transformed to `/home/user`.

[2018-11-10 21:47] lfventura commented on #42278
Is there any plans for it?

[2018-11-10 22:02] cooperb01 opened #48489 "Intra-Tenant Contract Deployment"
##### SUMMARY

A new Cisco ACI Module to create contracts between epgs in different Tenants. Inter-Tenant contract deployment
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aci_inter_tenant_contract
##### ADDITIONAL INFORMATION

This would allow you to provide access between epgs that are in different tenants

[code]

[2018-11-11 03:44] pillarsdotnet commented on #43256
I'd prefer that the documentation match the example.  Currently, the documentation reads as follows:

I for one don't see any mention of "string" in the above paragraph.  Do you?

[2018-11-11 04:01] splitice commented on #33580
This issue seems to be very common and largely unresolved for the past 12 months.

When SCM'ing Debian stretch this occurs on a fresh image (from DigitalOcean) so is easy enough to replicate.

[2018-11-11 08:11] fabricetriboix commented on #43556
Hi @Shaps

I tested again with Ansible 2.7.1, and indeed it's working fine now.

Thanks

[2018-11-11 08:11] #43556 closed, assigned to nobody

[2018-11-11 11:32] ckotte commented on #44704
@vmjordan Do you mean the failover order? Something like this?

[code]

[2018-11-11 11:37] ckotte commented on #44704
Looks like this PR could help: https://github.com/ansible/ansible/pull/41962

[2018-11-11 15:02] feffi commented on #10446
Why is this report closed without a resolve?

[2018-11-11 16:04] flaf commented on #33067
The workaround `{{ my_var | string }}` is a good news. However, ideally, the fact that the content of `my_var` is encrypted (or not) by Vault is an implementation detail which should not be taken into account in playbook codes... **IMHO**.

[2018-11-11 16:48] astik opened #48537 "Inconsistency for variable resolution within multi-instantiated role"
##### SUMMARY

The idea is to have a role that is used multiple times with different inputs. It works well until you have a dynamic handler that depends on variable. If the variable for handler's name is defined in playbook, it works. If the variable is coming from group_vars, it fails.

As behavior is depending on where variable is set, i found it inconsistent, therefore it seems to be a bug.

##

[2018-11-11 17:30] astik commented on #48537
Duplicate for #48466

[2018-11-11 17:33] astik commented on #48466
Argh, i've been working also on this bug and have taken too much time to submit it (i have marked my bug report as a duplicate of yours).
My analysis leads to the same conclusion.
I also have created a project with demo that show the problem : https://github.com/astik/ansible-role-variable-and-multi-instanciation.

[2018-11-11 17:35] #48537 closed, assigned to nobody

[2018-11-11 19:06] marco-m opened #48545 "YAML folded scalars are quoted too much or get spurious newline"
##### SUMMARY
YAML folded scalars are quoted too much or get spurious newline. This causes various errors with at least get_url, but I think with any module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url and I think majority of modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.14.1
Arch Linux

##### STEPS TO REPRODUCE
[code]
with the

[2018-11-11 19:09] ckotte commented on #48310
@UnknownGnome Could you please check the version in the devel branch? This issue should be fixed with PR https://github.com/ansible/ansible/pull/46497.

[2018-11-11 19:29] jpmens commented on #48545
As can be seen from the output of `debug` this is not particular to `get_url`.

[2018-11-11 19:39] jpmens commented on #48545
Strip out newlines for the third example by using

[code]

(Note that's a `>` and a hyphen `-`)

[2018-11-11 20:00] ckotte commented on #47969
This behavior was introduced somewhere in the 2.5 release. You have to execute the task like this:
[code]

The options `hosts` / `esxi_hostname` and `cluster_name` indeed only make sense if you are connected to a vCenter server. We could change the code to check if we are connected to vCenter via `if self.is_vcenter():` and then require `esxi_hostname` or `cluster_name` instead of making it a requ

[2018-11-11 20:08] ckotte commented on #47769
@vigneshconfianza Do you need the ssl thumbprint for the `vmware_host` module to connect an ESXi host with self-signed certificates?

Looks like there's an issue with the content in `host.config.sslThumbprintInfo.sslThumbprints`. Could you add the line `self.module.fail_json(msg=host_ssl_info_mgr)` below the line `host_ssl_info_mgr = host.config.sslThumbprintInfo` and execute the module?

[2018-11-11 20:31] ckotte commented on #47427
This can be done via https://github.com/ansible/ansible/pull/40520. I already use it via:
[code]

This issue should be closed. I don't think it makes sense to implement the rename functionality in this module. The other module should be used instead.

[2018-11-11 20:46] jborean93 commented on #47874
Just an FYI I've tried to replicate this on the AMI you referenced as well as just manually adding some exceptions to the code in testing and I've been unable to replicate this behavior. I'll still continue to try but without replicating the issue it makes it really hard to find out what's going on.

If you are feeling up to it, you can comment out the line https://github.com/ansible/ansible/blob/

[2018-11-11 22:39] Lenbok opened #48547 "regression: assert msg no longer accepts list"
##### SUMMARY

We have an assert that checks some preconditions to our playbook, and it has a multi-line msg parameter. Ansible now complains that it expected msg to be a string but got a list. This worked nicely on ansible 2.6.5 but no longer works now I have updated to 2.7.1. It's not mentioned in the porting notes as a breaking change, so I assume it's a bug.

##### ISSUE TYPE
- Bug Report

###

[2018-11-12 02:07] Fred-sun commented on #48415
@dgalpaj Thanks for your contribution. This issue same of #46313, zikalino work on it. Thanks!

[2018-11-12 02:10] Fred-sun commented on #48415
@zikalino

[2018-11-12 03:50] CNG commented on #33581
I was trying to use a block level `name` to reconcile the part of me that needs each action `name` to be explicit and the part of me that HATES repeating himself using tools that are supposed to simplify maintenance.

I'd love to do this:

[code]

But I have to do this:

[code]

Let's get `name`s on blocks working as described above, please!

[2018-11-12 04:31] zimmertr commented on #48402
It also looks like the module doesn't support deploying manifests with multiple resources separated by an `---`. Which is [recommended by Kubernetes themselves](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/)

[code]

[2018-11-12 05:40] avneesh91 commented on #48400
Thank you guys,  I this solves my problem.

[2018-11-12 05:40] #48400 closed, assigned to nobody

[2018-11-12 05:46] willthames commented on #48402
@zimmertr is that with src? I really recommend using definition, I don't use src at all.

According to the test suite (which passes), definition handles multipart

If you want to use definition with files, just use `definition: "{{ lookup('template', 'path/to/resource.yml', convert_data=False) }}"` - I think that should work.

You can also do `definition: "{{ lookup('template', 'path/to/resource.y

[2018-11-12 05:55] zimmertr commented on #48402
That specific example was with `src`. But I do use `definition` as well when I'm working with jinja templates. I didn't realize `definition` could be used without passing a template file like jinja.

[2018-11-12 06:51] gdpak commented on #47985
@benjdudas Can you verify the proposed fix whether it would serve the purpose ?

Fix can be run from installing ansible from below git branch  -
[code]

[2018-11-12 07:01] #47982 closed, assigned to trishnaguha

[2018-11-12 07:31] rakeshmadugula opened #48552 "ios_config backup is removing config backed for other hosts when multiple hosts have similar name"
##### SUMMARY
While doing config backup using ios_config module, backed up files for other hosts are getting removed, when multiple hosts exist with similar name.

Assume we have two hosts SW1234, SW1234R. Config back up will only happen for SW1234 and not for SW1234R.

Below code needs be modified:

    def _write_backup(self, host, contents):
        backup_path = self._get_working_path() + '/ba

[2018-11-12 07:53] Fred-sun commented on #41003
@zikalino  How about this issue? Could we can closed this? Thanks!

[2018-11-12 07:54] Fred-sun commented on #39958
@zikalino  How about this issue? Could we can closed this? Thanks!

[2018-11-12 07:56] Fred-sun commented on #30392
@yuwzho

[2018-11-12 07:58] justjais commented on #46671
@Zer0-One there's difference b/w `command_timeout` in _persistent_connection` and `--timeout` and which is in case of `_command_timeout` the module will try the command for the respective time while in case of `--timeout` the command can fail before the timeout but if due to some condition it's in hung state than command will be forced exit post the completion of timeout value.

[2018-11-12 08:00] #46671 closed, assigned to justjais

[2018-11-12 08:01] nicolaibaralmueller commented on #48344
@samdoran No if you look at my example there is a fatal error in the block. The rescue part just debugs with a message. The playbook should not fail if the task failure occurs in the block part.

[2018-11-12 08:25] #48468 closed, assigned to nobody

[2018-11-12 08:52] ckotte commented on #47713
You cannot set the datastore name in the API directly. You would need to implement a rename of the datastore after the datastore is available.

As a workaround: You can rename the datastore with the module in https://github.com/ansible/ansible/pull/40520:

[code]

However, this only works if you don't have other datastores that start with the same name..

[2018-11-12 09:29] kfs-f opened #48553 "'win_service' error"
I am writing my 1st yml script to start a windows service, and was given an error when running the yml using playbook command
ansible-playbook -i hosts testmodule.yml

---
- name: Restart a service
  hosts: windows
  tasks:
    win_service:
      name: Themes
      state: restarted

The error given is

ERROR! A malformed block was encountered while loading tasks
The error appears to have been in '

[2018-11-12 09:38] kfs-f commented on #48553
##### SUMMARY
I am writing my 1st yml script to start a windows service, and was given an error when running the yml using playbook command
ansible-playbook -i hosts testmodule.yml

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
2.7

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Redhat 7.4

##### STEPS TO REPRODUCE
ansible-playbook -i hosts testmodul

[2018-11-12 09:47] tterranigma commented on #48060
Added `gcp_compute_route` error.

[2018-11-12 10:54] Akasurde commented on #47928
@evanstoner Could you please check if #48157 is working for you and let me know ? Thanks

needs_info

[2018-11-12 10:54] Akasurde commented on #47928
resolved_by_pr #48157

[2018-11-12 10:59] mkrizek commented on #46668
!component -lib/ansible/modules/packaging/os/yum.py

[2018-11-12 11:03] mkrizek commented on #30106
@kustodian is this still relevant? Can you elaborate a bit more?

[2018-11-12 11:06] #47928 closed, assigned to nobody

[2018-11-12 11:24] #36635 closed, assigned to nobody

[2018-11-12 11:36] #47737 closed, assigned to nobody

[2018-11-12 11:53] omyyalliu commented on #19605
In my case(ansible 2.7.0):
myIp | FAILED! => {
    "changed": false,
    "module_stderr": "",
    "module_stdout": "/bin/sh: /usr/bin/python: No such file or directory\r\n",
    "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error",
    "rc": 127
}

$ll |grep python
lrwxrwxrwx   1 root root         32 Jun  5 15:44 kylinpy -> /usr/local/python2.7/bin/kylinpy
lrwxrwxrwx   1 root root

[2018-11-12 12:00] omyyalliu commented on #19605
sorry,it my fault.Use softlink,it works

[2018-11-12 12:09] vmjordan commented on #44704
@ckotte Yes I do, that looks good. Just seen that PR aswell, looks like it will give us what we need

[2018-11-12 12:52] pgassmann commented on #12862
Why is this issue closed? Can we reopen this issue? @bcoca This is a valid feature request

[2018-11-12 13:07] pgassmann commented on #12862
https://github.com/ansible/ansible/issues/15061#issuecomment-202144804 is a valid argument against it.

[2018-11-12 13:29] jansohn opened #48561 "Task with loop is only executed if all when conditions pass"
##### SUMMARY
I try to clean-up temporary directories at the end of the playbook if they exist. The task with the `with_items` loop is only executed if the `when` condition passes for each item.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Create playbook with contents below and run `ansible-playbook --connection=local --invento

[2018-11-12 13:55] gbritton commented on #12862
I've also wanted this sort of directory layout.  A project with many "top level" plays can become quickly complex.  This style of layout could be constructed if there were a way to provide a play-relative ansible.cfg (which would in-turn, need a way to expand the dirname of the play).  This seems related to (but not the same as) what was mentioned in proposal#73.

Perhaps though, something that re

[2018-11-12 14:04] jesusch commented on #44404
@chad-autry this finally did the trick

documentation update should do the trick

[2018-11-12 14:11] bcoca commented on #48561
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-12 14:11] #48561 closed, assigned to nobody

[2018-11-12 14:41] bviktor commented on #38920
This is a must have for image deployment, to minimalize image size. Are there any plans to implement this?

[2018-11-12 14:53] jansohn commented on #48561
I'm in a corporate environment where IRC is blocked and I'm not interested in opening a Google account TBH. I also don't think it is a user question but rather a bug or at least an unexpected behavior which should get documented somewhere.

I never get an undefined error, so I'm not sure if you actually tested my example? If all items are defined I get 3 debug outputs. If (at least) one item is un

[2018-11-12 15:02] BarbzYHOOL commented on #12862
reopen

[2018-11-12 15:10] D3DeFi commented on #48337
thank you for opening this issue @zasca. I will try to reproduce it and implement the fix as soon as I am able to :)

[2018-11-12 15:18] bcoca commented on #38227
We don't normally see closed issues but @ssbarnea brought this to my attention, a simpler way:

[code]

[2018-11-12 15:23] javcasalc opened #48567 "Cisco IOS ios_config module always changes access-list definitions"
##### SUMMARY
Cisco IOS ios_config module always changes access-list definitions

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Router "show running-config":
[code]

Ansible playbook:
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-11-12 15:34] ssbarnea commented on #38227
Thanks, that is starting to look better! ... now we only need to add `with_all_found` alias so we would not have to spend a countless number of hours tying to explain what the `when` line does on each place where we want to introduce it.... that line reminded me of my perl days.

I am not joking about spending time explaining, I was trying to improve this piece of code https://review.openstack.org

[2018-11-12 15:38] bcoca commented on #38227
actually, much simpler:
[code]

[2018-11-12 15:41] alexntt commented on #47874
Meh, since November 6th, our Windows 2008 R2 build is now failing due to:

[code]

with `-vvv`. This is still the same AMI, Ansible 2.7.1. I've checked the playbook and applying the updates it about the very first thing we do to the system. Our userdata is quite standard:

[code]

I think the `Rename-Computer` bit is the most suspicious thing. I'm going to make a quick test to see if removing it d

[2018-11-12 15:48] jaypipes commented on #48423
Following up on this further, just in case that poor soul who is attempting to get Ansible to work in a Docker container with other Docker containers on the host happens to stumble in here...

DO NOT DO IT.

Do not install Ansible in a Docker container and try to get that Ansible to communicate with other Docker containers running on the Docker host. It just doesn't work. If you try bind-mounting

[2018-11-12 16:03] bcoca commented on #48344
@nicolaibaralmueller I think you misunderstand how block/rescue works, it does not prevent errors from happening, it runs the `rescue` tasks when an error happens and if the rescue succeeds, it keeps the host in play. That does not mean the errors don't happen.

[2018-11-12 16:08] samdoran commented on #48344
@nicolaibaralmueller The documentation on [error handling](https://docs.ansible.com/ansible/2.6/user_guide/playbooks_blocks.html#error-handling) in blocks may help clarify this behavior.

[2018-11-12 16:09] alexntt commented on #47874
If we don't rename the system we get:

[code]

The other thing that is special to our environment is the user we create, which we use in all subsequent connections, as we add the created system with:

[code]

to the inventory. This is a bit more annoying to troubleshoot on our side, so we might have to wait for a while until we can spend more time on this.

If you want to close, feel free.

[2018-11-12 16:18] #46944 closed, assigned to Qalthos

[2018-11-12 16:18] #11349 closed, assigned to nobody

[2018-11-12 16:30] #47647 closed, assigned to samdoran

[2018-11-12 16:39] bcoca commented on #48470
reclassifying as this works as intended, play is more specific than the import, so it is expected to override vars defined at an upper level. Leaving as a feature idea in case someone wants to work on a new override system.

[2018-11-12 17:20] dagwieers commented on #48553
This is not a support forum, but a tool to track issues with Ansible. Please revert future problems to the Ansible forums or the #ansible IRC channel. https://www.ansible.com/community

From your example *and* the output from Ansible, it is clear you have a syntax error. You need something like this:
[code]

So you are missing the **dash** (**-**) symbol to indicate that `tasks:` holds a list of t

[2018-11-12 17:20] #48553 closed, assigned to nobody

[2018-11-12 17:43] kustodian commented on #30106
@mkrizek nope, it's been fixed at some point.

Feel free to close it.

[2018-11-12 17:44] cristemarius commented on #43085
+ 1

Using ansible >2.6 and RabbitMQ 3.6.9 rabbimq_bindings tasks cause a false positive: The task execution status is "OK", however no bindings are created in the server.

[2018-11-12 18:35] bcoca commented on #48466
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-11-12 18:35] #48466 closed, assigned to nobody

[2018-11-12 19:00] Fenikkusu opened #48575 "Possible False Positive - apt & squash_actions"
##### SUMMARY
Given the below task, I am receiving a deprecation error of `[DEPRECATION WARNING]: Invoking "apt" only once while using a loop via squash_actions is deprecated. Instead of using a loop to supply multiple items and specifying `name: php{{ version }}-{{ item }}`, please use `name: '{{ php_packages }} + {{ php_extra_packages }}'`
and remove the loop. This feature will be removed in ver

[2018-11-12 19:11] mjhermanson opened #48576 "Display count to inventory groups"
##### SUMMARY
Add a count column to the inventory groups. This is important information and audit, awareness, licensing and other issues.

##### ISSUE TYPE
Users needs more information about Ansible inventories

##### COMPONENT NAME
UI

##### ADDITIONAL INFORMATION
This is useful information for at least the following use cases:
- when scheduling jobs
- when create 'Smart Inventories'
- auditing t

[2018-11-12 19:13] #48576 closed, assigned to nobody

[2018-11-12 19:13] mjhermanson commented on #48576
closing as this is a tower/awx issue

[2018-11-12 19:34] AGSPhoenix commented on #47647
@samdoran Will this be in 2.7.2?

[2018-11-12 19:40] wbagdon opened #48577 "win_copy with become_user and env var not working on Win Server 2016"
##### SUMMARY
Trying to set a default nuget.config file for a user on our build agents using win_copy and become_user to access the `%appdata%` variable

This works on Win Server 2008 and 2012R2 but not 2016.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targeting Windows Server 2008/2012R2/2016 is

[2018-11-12 19:44] jborean93 commented on #47874
Fun so nothing in the output :(. One thing to be aware of with PowerShell v3 is a bug where the memory limit settings aren't implemented properly and we've seen some errors caused by that. We've got a guide on this here https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#winrm-memory-hotfix but you can also just upgrade PowerShell to a newer version which doesn't have that issue.

[2018-11-12 19:47] scottsisco commented on #45834
I too am experiencing this issue. I have an Ubuntu 18.04 template and when  I use ansible to clone the template I am left with the "Connect At Power On" box un-checked under settings -> network adapter 1 for the new VM. When I use vCenter to clone from the template this is not a problem and the "Connect At Power On" box remains checked under settings -> network adapter 1 for the new VM.

However,

[2018-11-12 20:57] #47391 closed, assigned to nobody

[2018-11-12 21:22] ikhan2010 commented on #19183
@ogenstad Can we close this issue?  I would like to close these old issues.

Thanks
Ifty

[2018-11-12 21:36] skregas commented on #46185
@pabelanger I went through the code that's using `terminal width` and `terminal length`. It hasn't changed between 2.4 and 2.6.

However, we downgraded Ansible from 2,6 to 2.4, ran the same playbook successfully to completion. Nothing else changed in the file.

[Results from 2.4:](https://gist.github.com/skregas/820da79f47657e84cc9e8b81f6348ca3)

Results from 2.6 are detailed at the top of this is

[2018-11-12 22:15] samdoran commented on #47647
@AGSPhoenix Yes

[2018-11-12 22:40] harsha-y commented on #42661
@ryansb Sorry for the delay in getting back to you. Here's an update.

We have a large set of rules per environment and only a subset of them were timing out. We tried to search for a common pattern among all the security groups that were timing out and found that all of them had at least [one security group from a peered VPC](https://docs.aws.amazon.com/vpc/latest/peering/vpc-peering-security-gro

[2018-11-12 23:47] jborean93 commented on #28758
I did some more investigation into this and finally came up with a solution. The bytes I mentioned above is indeed the ItemIDList and you can use [SHGetFileInfoW](https://docs.microsoft.com/en-us/windows/desktop/api/shellapi/nf-shellapi-shgetfileinfow) to convert that list to the human readable shell path, in the case of `shell:RecycleBinFolder` it now become `Recycle Bin`. In addition to this, we

[2018-11-12 23:53] ikhan2010 commented on #39106
@Qalthos can you please look at it or close it if this resolved on 2.7.

[2018-11-13 00:05] Dmitry1987 commented on #30134
I wonder if this will ever be supported? Seems like a logical operation for S3 module to do, as a core operation in AWS cli since like 2009, this should be easy to reproduce in the module... if I submit a PR will it be merged?

[2018-11-13 00:40] mikeycmccarthy commented on #47689
Note this also breaks a Tower install on a host running 2.7.1

[2018-11-13 02:10] Fred-sun commented on #37158
@yuwzho How about the feature gap? does this will fixed by on next release version? Thanks!

[2018-11-13 02:15] Fred-sun commented on #37259
@zikalino do you have handle this issue? Could you help update the issue deal status? Thanks!

[2018-11-13 03:20] Fred-sun commented on #40857
@zikalino

[2018-11-13 03:32] Fred-sun commented on #42407
@zikalino

[2018-11-13 03:36] romangoward commented on #47591
Hi @erickeller

Ansible uses [lxd connection plugin](https://docs.ansible.com/ansible/2.7/plugins/connection/lxd.html) to get access into local LXD containers.
Ansible can't automatically define connection type to a host, so you should clearly specify which connection plugin to use for a specific host.

It seems like you missed the note from the above documentation:
[code]
You should create a stat

[2018-11-13 04:52] NilashishC commented on #47981
@sarlacpit Please change the `parent` line in the second task of your playbook to `interface GigabitEthernet2` and execute again. `GigabitEthernet2` is an invalid command.

[2018-11-13 04:56] NilashishC commented on #47841
@hoyeunglee You do not need to enter the configuration mode while executing commands using `ios_config`, the module takes care of that. Please remove the `config t` line in the first task of your playbook and try running it again.

[2018-11-13 04:59] justjais commented on #46815
@pffs I hope this issue is resolved for you, can you update and close the issue.

[2018-11-13 06:14] hoyeunglee commented on #47841
after remove config t and try again, got error

FAILED! => {"changed": false, "msg": "command timeout triggered, timeout value is 10 secs.\nSee the timeout setting options in the Network Debug and Troubleshooting Guide."}

sudo ansible-playbook -vvv -s configure.yml -u username -k

#use encrypted string in password
ansible-vault encrypt_string password --ask-vault-pass
ansible-playbook -s aaaaa.ym

[2018-11-13 07:01] skarapanahalli commented on #47646
hey Jimmy,
 Did did you get a chance to look at the contents I posted ?.  we are still stuck with this issue.

[2018-11-13 07:12] san7ket commented on #47205
@pratikkava1189 I am unable to reproduce this, can you please check your environment.

[2018-11-13 07:52] san7ket commented on #48408
@y2kkarthik I am unable to reproduce this, Can you please check if , the tag is assigned to the ami resource
**Code:**
[code]
**Output:**
[code]

[2018-11-13 07:56] nicolaibaralmueller commented on #48344
@samdoran @bcoca

The documentation states:

The task in my block fails and the task in rescue does not. So the whole playbook should not end unsuccesful. The playbook should end with success. In other ansible versions I did not experience this problem.

[2018-11-13 08:00] juanvalino opened #48592 "Improve default filter to support also None values"
##### SUMMARY
Add a parameter to the `default` filter to indicate that `None` values must be defaulted also.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`default` filter.

##### ADDITIONAL INFORMATION

Many times, specially in the roles defaults/main.yml, we define variables to `None` value to indicate that the variable is used by the role but it doesn't have a value.

Currently the `de

[2018-11-13 08:12] y2kkarthik commented on #48408
Thanks @san7ket for your response, unfortunately still not working. I am using the same piece of code snippet as per your example and ansible documentation. Not sure if anything has to do with the version of ansible. And yes ami is tagged correctly.

However I am able to get result with just the name filter, but not with any of the filters related to tag.

[2018-11-13 08:33] #30106 closed, assigned to nobody

[2018-11-13 08:41] yaegashi commented on #48470
Current workaround.  Looking for an elegant way to overwrite existing variables at root using an arbitrary object hierarchy as `include_vars` does.

main.yml (put variables to override in `extra_vars`):
[code]

sub.yml:
[code]

ansible-playbook output:
[code]