[2019-07-13 16:41] Akasurde commented on #59033
@goneri Could please check if `esxi_hostname` is associated with `dvswitch` mentioned in playbook ?
Thanks.

needs_info

[2019-07-13 16:56] selivan commented on #39220
@D3DeFi  I check it out. It has an error. Test playbook:

[code]

Exported XML file looks like this:

[code]

So import doesn't work. When I manually change `********` to `zabbix`, import works.

Great job! After fixing this bug it can be merged.

[2019-07-13 16:56] hangxie opened #59057 "net_get reports UTF-8 decoding error on binary file"
##### SUMMARY
I was able to net_get a text file from sftp destination, but same task failed on a gzipped tarball even the file was fetched back, the error message from ansible:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
net_get

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible playbook from Ubuntu, target is Cisco IOS.

##### STE

[2019-07-13 18:50] #58976 closed, assigned to nobody

[2019-07-13 19:09] denngie opened #59059 "profile_tasks python3.6 error"
##### SUMMARY

When using the callback plugin profile_tasks on python3.6 the following error is seen:
`[WARNING]: Failure using method (v2_playbook_on_stats) in callback plugin (<ansible.plugins.callback./usr/local/lib/python3.6/dist-packages/ansible/plugins/callback/profile_tasks.CallbackModule object at 0x7f935c32af28>): 'odict_items' object is not subscriptable`
##### ISSUE TYPE
- Bug Report

#

[2019-07-13 20:10] tdekeyser commented on #25244
Has this issue been picked up yet and are there plans to create a Step Functions module? If not, I might be able to help out if I find the time.

[2019-07-13 20:36] #58770 closed, assigned to nobody

[2019-07-13 21:12] dpoon opened #59063 "chroot connection plugin crashes with AttributeError: 'Connection' object has no attribute '_load_name'"
##### SUMMARY

The chroot connection plugin crashes with an exception: `AttributeError: 'Connection' object has no attribute '_load_name'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

chroot connection plugin

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Debian 9 with ansible 2.8.2-1ppa~trusty from the ppa:ansible/ansible

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-07-13 21:21] stephan2012 commented on #58759
Not sure why the bot has identified `lib/ansible/modules/packaging/os/svr4pkg.py` as affected file.

[2019-07-13 21:25] felixfontein opened #59064 "docker_container: prevent mounting endpoint collisions before trying to (re-)create container"
##### SUMMARY
`docker_container` should so some sanity checks that not two volumes / mount points use the same target inside the container, so that especially when recreating containers, they won't be destroyed first before recreating fails.

This becomes more important once #49808 is merged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

[2019-07-13 21:30] dpoon commented on #59063
The problem is that the chroot connector plugin's constructor calls `self.get_option('chroot_exe')`:

https://github.com/ansible/ansible/blob/8d6f1846a6ff96ef7ea9caf3868e8cb86e9ac9a0/lib/ansible/plugins/connection/chroot.py#L99-L105

`get_option()` needs to know `self._load_name`:

https://github.com/ansible/ansible/blob/917520d560ddbc70d05c91dc68c24538d1a046d6/lib/ansible/plugins/__init__.py#L58

[2019-07-13 21:36] dpoon commented on #59063
Bug was introduced 2019-03-05 in commit https://github.com/ansible/ansible/commit/853a65eead01544acb81dfcbe008f069e84c2752 ("made chroot exe configurable (#53147)") and has been present since [v2.8.0a1](https://github.com/ansible/ansible/tree/v2.8.0a1).

[2019-07-13 21:40] ShachafGoldstein commented on #59056
This could be a problem with the specific update - it has a lot of ui components, it might require an interactive logon to complete correctly
I'll try to test it but updates are a tricky one

[2019-07-13 22:07] maxaalderink opened #59066 "InvalidHostKey error after configuging ansible_connection & ansible_network_os"
##### SUMMARY

I was trying to configure may EdgeRouter with Ansible and edgeos_config module but to do so I needed to configure the ansible_connection and ansible_network_os after which the errors described bellow occured.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux laptopmax 5.0.0-15-

[2019-07-13 22:32] jdrowne commented on #55850
https://github.com/ansible/ansible/issues/56921#issuecomment-495671170

[2019-07-13 23:45] mgamboa commented on #59004
I will try that the interesting thing this was working fine on 2.7 when
upgrade to 2.8 doesn't work i let you know tomorrow Monday ow this goes

On Sat, Jul 13, 2019, 9:35 PM John Mahowald <notifications@github.com>
wrote:

[2019-07-14 03:21] Akasurde commented on #58311
@danilansible Could you please check if PR #58410 works for you and let us know ? Thanks.

needs_info

[2019-07-14 03:22] Akasurde commented on #58402
Closing this issue as PR #58410 is merged. If issue persists, please feel free to open a new issue. Thanks.

[2019-07-14 03:22] #58402 closed, assigned to nobody

[2019-07-14 03:23] Akasurde commented on #58402
resolved_by_pr #58410

[2019-07-14 07:25] D3DeFi commented on #39220
First of all, thank you very much for testing @selivan . Behavior you're seeing should be caused by `login_password`, specifically enabled option `no_log=True`, which then as it seems hides such string from every output presented to user or system logs.

This is usually not a problem as passwords are strings composed from random characters, numbers, etc.. , but in this case it is just plain word '

[2019-07-14 08:22] selivan commented on #39220
@D3DeFi Now that's a funny error :)

I don't think it is easy to fix without changing a lot of things inside ansible. Though I can suggest improvement, that might help with this problem as well.

I suppose in 99% of using `zabbix_template` with `state=dump` output is saved to file. Now it requires additional steps: save module execution result, call copy or template module to write it to file. Wou

[2019-07-14 08:35] Khurram703 commented on #59045
!component

[2019-07-14 08:36] Khurram703 commented on #59045
bot_status

[2019-07-14 12:13] jean-christophe-manciot commented on #59038
In the official [Advanced Topics with Ansible for Network Automation
](https://docs.ansible.com/ansible/latest/network/user_guide/) documentation, there is no mention of ```ansible_network_os=iosxr```.
Furthermore, using that setting works fine:
[code]

[2019-07-14 12:14] jean-christophe-manciot commented on #59038
It is strange that one command worked fine with ```ansible_network_os=ios``` though.

[2019-07-14 13:08] maxaalderink commented on #59066
I looked bit at the code and thought I tried running it again the following addition to the inventory: `ansible_host_key_checking: false`

It would seem that there is something wront with some key regarding SSH.
I can confirm that the hash code in both errors are identical but it is not the key used by ansible for ssh.

It produced the following error:
[code]

[2019-07-14 13:59] maxaalderink commented on #59066
I think I found the problem...
One of lines in my own 'known_hosts' file was faulty...
It must have been like this for months now so I'm not sure why this hasn't been a problem before and only occurs when using `network_cli`

[2019-07-14 13:59] #59066 closed, assigned to nobody

[2019-07-14 16:20] vijayscsa commented on #56086
Greetings Team.  The hosts got added to vCenter but when trying to adding hosts to vDS,   there's one functional block presents.  Only host's vmnic0 get assign to "Uplink 1"   BUT the host's vmnic1 doesn't get assign to "Uplink 2"    This problem doesn't get solve by multiple work arounds too.  Requesting your big help there.   Thanks !

[2019-07-14 17:02] clarete opened #59074 "cloudfront_distribution fails with KeyError: Distribution"
##### SUMMARY

Updates to cloudfront distribution always fail. Creation works, but once I ran the same playbook again, it errors out. This looks very similar to the issue https://github.com/ansible/ansible/issues/45043.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Given th

[2019-07-14 17:03] kmcquade opened #59075 "build_iam_policy_framework.py output is not working"
The file /hacking/aws_config/build_iam_policy_framework.py does not provide expected output.

## Current state

**Command**:
[code]

**Output**
[code]

The issue is on line 186. The `table_data` variable should just be `df` rather than `table['data'][0]`. I ran the debugger in Pycharm, setting the breakpoint at line 187, and viewed the value of table_data at that point. It shows up as:
`<class 'li

[2019-07-14 17:21] vijayscsa opened #59077 "VMware: vmware_dvs_host.py module not doing vmnic1 integration to Uplink 2"
- Bug Report
vmware_dvs_host not adding properly to Uplink 2

detailed bug:

vmware_dvs_host.py module trying to add vmnic0, vmnic1 to DVS.  In this vmnic0 takes Uplink1 where vmnic1 doesn't take Uplink2.  This needs to be fixed.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS

##### STEPS TO REPRODUCE
vmware_dvs_host.py module trying to add vmnic0, vmnic1

[2019-07-14 18:39] tinproject opened #59078 "iam_user module fails to remove an AWS user"
##### SUMMARY

`iam_user` module fails to remove am AWS user if it has: a group membership, console password (login profile), access keys, MFA device, etc..

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create an AWS user `test` with password or access keys

[code]

#####

[2019-07-14 21:30] vsc1t commented on #19765
+1

[2019-07-14 21:58] ramon-garcia commented on #46809
@ShachafGoldstein I could not reproduce the behavior that they report.

Anyway, this is easy to implemented. I am going to prepare a pull request

[2019-07-14 22:34] jpmahowald commented on #59051
Playbook author asserted that a file matches a particular checksum. Download is not attempted if dest already matches the checksum.  dest is removed if it does not match the checksum after download and move.

Your use cases assume that despite the checksum mismatch failure, the old dest is good by whatever criteria. Sure, it probably is. A few ways to preserve it:

- The existing backup param will

[2019-07-14 22:56] d-little commented on #53366
On first run this appears to work as expected.  On subsequent runs only the first attribute is listed as 'ok' and it continues to 'change' the remaining attrs.

I've spotted where this is going wrong in the code, fix to come ASAP.

[code]

[2019-07-14 23:05] d-little commented on #53366
Submitted a fix in PR#https://github.com/ansible/ansible/pull/59081

@dpbianc Can you please test the version aix_devices.py in that PR and comment in the PR if it is/is not working for you?  Thanks.

[2019-07-14 23:29] mgamboa commented on #59004
Hi i configure the following

Acquire::https::repo.example.com::Verify-Peer "false";
Acquire::https::repo.example.com::Verify-Host "false";

but still show me
fatal: [UBUNTUSRV01]: FAILED! => {"changed": false, "msg": "Failed to validate the SSL certificate for repo.build.quantium.com.au:443. Make sure your managed systems have a valid CA certificate installed. You can use validate_certs=False if

[2019-07-14 23:31] mgamboa commented on #59004
the interesting thing if i try manually without change the configuration works just with apt install package and also if i add the configuration on apt.conf.d  works only fail when ansible is trying to do the same

[2019-07-15 01:28] jvanderaa opened #59083 "ios_bgp - Not idempotent when using networks on classful boundaries"
##### SUMMARY

When using a classful network boundary for a network, the router will not show "mask x.x.x.x" in the configuration. Thus the module will think a configuration change is needed, not fully idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_bgp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS -> Cisco IOS

##### STEPS TO REPR

[2019-07-15 02:17] Akasurde commented on #59078
resolved_by_pr #59079

[2019-07-15 02:20] Akasurde commented on #59074
!component =lib/ansible/modules/cloud/amazon/cloudfront_distribution.py

[2019-07-15 02:21] Akasurde commented on #59077
!component =lib/ansible/modules/cloud/vmware/vmware_dvs_host.py

[2019-07-15 03:07] Fred-sun commented on #31867
@yungezz Please help to look at this problem, how to solve this problem? Thank you very much!

[2019-07-15 03:18] yuandongx opened #59084 "automerge broken."
##### SUMMARY

There is a bug about automerge.
It does not work well as expected after PR was labeled 'automerge'.
Such as ansible/ansible#59071
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible bot
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-15 03:32] Akasurde commented on #59084
@xuxiaowei0512 Thanks for reporting this issue. You may need to file the issue against [`ansibullbot`](https://github.com/ansible/ansibullbot). Thanks.

[2019-07-15 03:32] #59084 closed, assigned to nobody

[2019-07-15 03:34] Akasurde commented on #59084
I re-opened your issue [here](https://github.com/ansible/ansibullbot/issues/1231), will track the issue from there.

[2019-07-15 03:35] xuxiaowei0512 commented on #59084
OK, thank you.

[2019-07-15 03:56] Akasurde commented on #59075
!component =hacking/aws_config/build_iam_policy_framework.py

[2019-07-15 04:39] #58721 closed, assigned to nobody

[2019-07-15 04:50] jakubgs commented on #56930
This change makes absolutely no sense to me. Ansible devs want to force thousands and thousands of users to change their group naming just because they want an additional syntax(not a missing one) for accessing groups? Is that a joke?

[2019-07-15 04:52] Akasurde commented on #56861
@realged13 I merged https://github.com/ansible/ansible/pull/58737 Could you please re-try with this patch and let me know if it works for you ? Thanks.

needs_info

[2019-07-15 04:55] Akasurde commented on #55551
Closing this issue as PR #58737 is merged. If issue persists, please feel free to open a new issue. Thanks all for the contribution.

[2019-07-15 04:55] #55551 closed, assigned to nobody

[2019-07-15 04:56] Akasurde commented on #55551
Backport 2.8 - https://github.com/ansible/ansible/pull/59087

[2019-07-15 05:05] #56861 closed, assigned to nobody

[2019-07-15 05:32] yuji-k64613 commented on #59019
I have verified this with python3.
It works well.

[code]

ENVIRONMENT

[code]

[2019-07-15 06:02] blindrood commented on #58958
That is why it's a suggestion, not a bug :)

[2019-07-15 06:42] mkrizek commented on #59019
@yuji-k64613 but do you have `jinja2_native` option set?

[2019-07-15 06:52] ghost opened #59089 "terraform module doesn't support named workspaces"
##### SUMMARY
ansible 2.8.1 :
When using a terraform remote backend, one can configure named or prefixed workspaces in the backend:

[code]

When trying to create the same with the ansible terraform module and ansible_playbook 2.8.1. , an "unsupported" message is shown.

[code]
results in
[code]

##### ISSUE TYPE
The module should support the extended configuration.
##### COMPONENT NAME
terraform

[2019-07-15 07:38] jorijinnall commented on #58808
I proposed a PR #59080
I don't think this needs to be categorized as a bug but to a "feature request"

[2019-07-15 07:41] Fred-sun commented on #44806
@zikalino You have closed #45095. Will you submit a new PR Fixed?

[2019-07-15 08:17] Akasurde commented on #45129
@pratikkava1189 Could you please provide required information, otherwise this issue will get auto close. Thanks.

[2019-07-15 08:28] gchiesa opened #59090 "s3_sync etag calculation is wrong because use hardcoded chunk_size"
##### SUMMARY

The s3_sync module reports wrong etags compared to the one calculated from AWS S3 on server side.
The etag algorithm is based on the chunk_size used during multipart upload. The s3_sync module uses the boto3 defaults for the S3 Transfer, but the function that calculates the local etags does not use those defaults (it uses an hardcoded value instead)

##### ISSUE TYPE
- Bug Report

#

[2019-07-15 08:38] justjais commented on #55722
@krisvasudevan @jlothian cool, I'll update the PR with the suggested changes.

[2019-07-15 08:46] justjais commented on #58910
@jason87686667, so with `2.6.5` u are able to make work `ios_commands` but `ios_config` is failing and with `2.8` both modules are failing. If yes, can u please share the group_vars and ansible_cfg.
Also, please share the complete verbose logs `-vvvv`.

[2019-07-15 08:46] Akasurde commented on #58808
resolved_by_pr #59080

[2019-07-15 09:07] Yajo commented on #59019
I'm using this as a workaround now:

[code]

It works fine, I guess that's because lists have better native support.

[2019-07-15 09:10] LucaIcaro commented on #58916
Same for me

[code]

[2019-07-15 09:24] yuji-k64613 commented on #59019
@mkrizek sorry, I have jinja2_native option set.

[code]

Ansible didn't return results until pressing Ctrl-C.

[2019-07-15 09:27] meons commented on #58592
`Sharing` parameter (No sharing or Multi-writer) would also be welcome :)

[2019-07-15 09:42] tomas-mazak commented on #34457
@rambleraptor Well DM is a GCP API as well ... I don't see why it shouldn't have an Ansible module ... it's pretty much GCP equivalent to AWS CloudFormation and that has an Ansible module for ages: https://docs.ansible.com/ansible/latest/modules/cloudformation_module.html

[2019-07-15 09:55] jtyr commented on #58916
Thanks for the confirmation. The problem you experienced must be somewhere else than in the `mount` module.

@ansibot please feel free to close this issue as it's `notabug`.

[2019-07-15 09:57] #58916 closed, assigned to nobody

[2019-07-15 10:20] mkrizek commented on #58991
Yes, I get what you listed in `EXPECTED RESULTS` on all combinations of Ansible/Python and size(s) of the array you provided in the description.

[2019-07-15 10:20] cinpol opened #59095 "nmcli: TypeError: argument of type 'int' is not iterable"
##### SUMMARY
I am trying to configure a simple bridge interface without any options, but it fails with an error:
[code]

When commenting the following lines it does work without any errors:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPR

[2019-07-15 10:43] nicolaibaralmueller commented on #58968
I was able to solve this by doing this:

`
- name: Retrieve certificate information
  win_get_certificate:
  register: facts_cert
  ignore_errors: yes

- name: Aggegate certificate facts
  set_fact:
    certificate_facts: "{{ ansible_play_hosts | map('extract', hostvars, 'facts_cert') | map(attribute='certificateInfo') | list }}"
  run_once: yes
  delegate_to: "{{ item }}"
  delegate_facts: true

[2019-07-15 10:43] #58968 closed, assigned to nobody

[2019-07-15 10:52] marawu commented on #28952
Hi, I have with problem:

[code]

[2019-07-15 10:58] marawu commented on #28952
Hi, I have problem:

[code]

I try run playbook in check mode:
- name: install test
  pip:
    name: "{{ item }}"
    state: present
    executable: /usr/bin/pip2
  with_items:
    - Jinja2==2.10
    - pyOpenSSL==19.0.0
[code]

[2019-07-15 11:48] drakmail commented on #30411
I fixed it by setting `transport = paramiko` in `ansible.cfg`

[2019-07-15 13:06] carbolymer opened #59096 "AttributeError: module 'azure.mgmt.resource.resources._resource_management_client' has no attribute 'VERSION'"
##### SUMMARY

When using azure_rm_aks ansible fails with the following stacktrace:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_aks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

azure_rm_aks not crashes

##### ACTUAL RESULTS

[code]

[2019-07-15 13:36] Akasurde commented on #57475
Closing this issue as PR #57614 is merged. If issue persists, please feel free to open a new issue.

[2019-07-15 13:36] #57475 closed, assigned to nobody

[2019-07-15 13:53] kmdouglass opened #59100 "Windows service installed with win_nssm fails to start with win_service"
##### SUMMARY
Starting a Windows service with the `win_service` module and that was installed with the `win_nssm` module fails when a username and password are required. If I enter the password manually into the nssm GUI editor and re-run the playbook then the service successfully starts.

I used the `win_nssm` module to install and `win_service` module to start a Windows service that takes a user

[2019-07-15 14:26] kdelee opened #59101 "gcp_compute incorrectly prints data to screen, breaking JSON output for ansible-inventory"
##### SUMMARY

`ansible-inventory` is supposed to return JSON...
but it does not when installing anisble@devel, and running a GCE inventory update with this `gcp_compute.yml` to use the gcp inventory plugin:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp inventory plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2019-07-15 14:36] tremble opened #59102 "IAM Password Policy errors when no password expiration set"
##### SUMMARY
When attempting to set no password expiration policy botocore spits out lovely validation errors:

[code]

I tried

- not passing a value: `Couldn't update IAM Password Policy: Parameter validation failed:\nInvalid type for parameter MaxPasswordAge, value: None, type: <type 'NoneType'>, valid types: <type 'int'>, <type 'long'>`
- Passing '0': `Invalid range for parameter MaxPasswordA

[2019-07-15 14:36] bcoca commented on #59101
!component= bin/ansible-inventory

@kdlee the example you give of key value pairs looks like normal JSON to me, can you give us an actual error and/or reproducible example?

needs_info

[2019-07-15 14:38] bcoca commented on #59101
FYI, the plugins don't output JSON, they update internal InventoryData class directly, the JSON output is normalized across all inventory sources via `ansible-inventory`, so any issues with the JSON should be irrespective of the plugin used to create the data.

[2019-07-15 15:20] ShachafGoldstein commented on #59100
As far as I know win_service doesn't support passing parameters to a service

The username and password are used to set the credentials under which the service should run

[2019-07-15 15:20] kdelee commented on #59101
First bad commit for me: 9364b4c933394a5e45c9c23538e0cb39f1ea0b4a
[code]

[2019-07-15 15:21] strawgate opened #59103 "Module_utils Licensing Question"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### SUMMARY
Calls to the BSD-licensed module_utils file Connection.py https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/connection.py seem to be able to redirect to other running Ansible code which may be GPL for instance, https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L453.

[2019-07-15 15:28] bcoca commented on #59101
ansible/ansible#57778 <= added a spurious print statement to the gcp plugin, so in the end its not 'ansible-inventory' outputing incorrect JSON, its the plugin prepending data arbitrarily to output.

[2019-07-15 15:29] bcoca commented on #59101
!component= lib/ansible/plugins/inventory/gcp_compute.py

[2019-07-15 15:43] kmdouglass commented on #59100
Thanks for the quick reply @Shachaf92 . I believe I did not describe this very well. I am indeed trying to use the `user` and `password` parameters of the `win_service` module to set the credentials under which the service should run.

[2019-07-15 16:11] ShachafGoldstein commented on #59100
Can you please run it with state stopped?

[2019-07-15 16:24] ikhan2010 commented on #59103
@Qalthos Can you please take a look at this?  Thanks!

[2019-07-15 16:25] dfederlein commented on #58841
Correct me if I'm wrong, but your example only returns the first files result, not all of them.  If I was trying to iterate over all files/paths returned, I get unusual responses with "not defined"

[2019-07-15 16:27] dfederlein commented on #58841
Also: This is changed behavior from 2.8.1 to 2.8.2

[2019-07-15 16:28] KarieCook opened #59105 "Enhancements to Using virtualenv with Ansible Tower chapter"
##### SUMMARY

Configuring virtualenv with Ansible Tower was lacking details, however when the user consulted a KB article, he was able to understand the configuration better. Suggestion was made to possibly add some of the information from the KB article to the official documentation for more clarity on the ocnfiguration

KB article: https://access.redhat.com/solutions/3325801

##### ISSUE TYPE
-

[2019-07-15 16:31] bcoca commented on #58841
then `var=rhel_07_020680findresults['results']`, in any case your example was not factoring that you need `results` in there and that has not changed between versions, when registering  a loop you ALWAYS need `results` to get to the per item values. But that does not seem to be same issue that the subject is trying to describe.

[2019-07-15 16:35] bcoca commented on #10829
its always been ignoring the `when:` condition so you didn't notice an issue, but it does not mean it was doing what you intended.

The warning is letting you know that the `when` is being ignored instead of silently ignoring it notifying you that you did have an existing issue.

[2019-07-15 16:36] WillWolfe89 commented on #58841
Yeah, not the same issue.  I'm still inside 1 iteration of the loop.  I do a shell task with var appname and it works fine, then next step, the notify: "{{ appname }}" throws an Undefined error.

[2019-07-15 16:37] dfederlein commented on #58841
Got it, I'll open a different issue.

[2019-07-15 16:44] #57301 closed, assigned to nobody

[2019-07-15 16:52] #56481 closed, assigned to nobody

[2019-07-15 17:22] rambleraptor commented on #59101
So sorry for the regression! I've put a shipit on the PR. Thanks so much for bringing this to my attention.

[2019-07-15 17:25] #58991 closed, assigned to nobody

[2019-07-15 17:26] #59101 closed, assigned to nobody

[2019-07-15 18:19] d-little commented on #41232
Is this still happening in 2.8?  Things may have changed since this was logged;  I'm unable to recreate this on AIX 7.2 with Ansible 2.8

@pawel1392  @ypso Could you please confirm if these are still an issue?

The `shell` module itself is just a wrapper for the `command` module, and it should not be creating a tty to receive these errors (I think.. I havent dug too much into those two modules)

#

[2019-07-15 18:22] LangJV commented on #57542
Within the context of "Packer" I can confirm that using: ansible_python_interpreter=auto_silent will allow it to work to build a RHEL7 host using:
Allows a linux execution using ansible-local to work without issue using the following:
Ansible 2.8.1
Packer 1.4.2
KVM Build of RHEL7

However - the same configuration to build a Windows Server 2019 host results in a fact gather error:

2019-07-15T14:05

[2019-07-15 18:30] bcoca commented on #58884
That is a different issue, first it was a confusion about the variable scropse, then the discussions veers off into dynamic access, which you can do the `vars` lookup plugin for 'non hostvars'.

We've already documented variables and scopes https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html if you find this unlcear feel free to submit a PR to update the docs.

[2019-07-15 18:49] aaron-kaplan opened #59109 "Bad advice on "Integrating Testing With Rolling Updates""
##### SUMMARY

On the "Testing Strategies" page, the section "[Integrating Testing With Rolling Updates](https://github.com/ansible/ansible/blob/1a11cecaefed90dd9a4754b3b69c1b3ff4a06231/docs/docsite/rst/reference_appendices/test_strategies.rst#integrating-testing-with-rolling-updates)" recommends putting tests in a role (called `apply_testing_checks` in the example).  This is bad advice because th

[2019-07-15 18:51] eugene-bright commented on #58884
Default role variables are not accessible from `hostvars` (if they are not overridden explicitly). That's the problem I'm struggling with now. Issue #6189 just describes it in a plenty of words.
Can the problem be worked around with plugin? I'd like see an example if possible.
Thank you!

[2019-07-15 19:05] bcoca commented on #58884
but that is not the problem this ticket describes, it is about having `role_name` magic variable in hostvars.

[2019-07-15 19:21] eugene-bright commented on #58884
There is a connection.
My first solution was to deduce roles by reading default role variables. But It doesn't work because of #6189.

[2019-07-15 19:23] d-little opened #59110 "Add 'defaults' support to aix_devices"
##### SUMMARY
We can change existing devices using aix_devices, but it would be nice to change system defaults too.  This can be achieved using `chdef` - [7.1](https://www.ibm.com/support/knowledgecenter/en/ssw_aix_71/com.ibm.aix.cmds1/chdef.htm) / [7.2](https://www.ibm.com/support/knowledgecenter/ssw_aix_72/c_commands/chdef.html).  No support in 6.x (I think!)

##### ISSUE TYPE
- Feature Idea

##

[2019-07-15 19:26] abohne commented on #27179
It seems like the root password use case has been solved, but it doesn't address the original issue reported.  It would certainly be helpful to be able to specify an auth plugin for a user as a parameter.

For example, creating a user in AWS RDS w/ IAM authentication the query is:
```CREATE USER jane_doe IDENTIFIED WITH AWSAuthenticationPlugin AS 'RDS'; ```

[2019-07-15 19:37] ksubileau commented on #59100
Also can you try without the ".\\" before the username (`username: pt`), or using the windows target's hostname (`username: HOSTNAME\pt`)?

[2019-07-15 19:52] n3pjk opened #59111 "Add python shebang to module_utils.service_now"
##### SUMMARY
SNOW modules have /usr/bin/python shebang, but refactored code did not, causing inconsistency. Adding shebang to module_utils.service_now allows refactored code to be imported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
snow_record.py
snow_record_find.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE

ansibl

[2019-07-15 20:05] ppuschmann opened #59113 "VMware: vsphere_copy Python 3 incompatibility"
##### SUMMARY

The upload to a datastore fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vsphere_copy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
VMware vSphere 6.5.x

##### STEPS TO REPRODUCE
Trying to upload a file to datastore from macOs 10.14.5 running Python 3.7.4 (installed via homebrew).

##### EXPECTED RE

[2019-07-15 20:08] bcoca commented on #58884
Which goes to the 'scope confusion' in the other PR, role variables (be defaults/ or vars/) are PLAY scoped, not role scoped. Host scoped are variables from inventory, `vars plugins`, module returned facts, `register` and  `set_fact` and `include_vars`.

[2019-07-15 20:15] mattclay commented on #59111
@n3pjk Where are you seeing this problem? The modules in devel have the correct shebang:

https://github.com/ansible/ansible/blob/ee71a7df748e95a932cddf055f45364a0ba9d9de/lib/ansible/modules/notification/snow_record.py#L1

https://github.com/ansible/ansible/blob/ee71a7df748e95a932cddf055f45364a0ba9d9de/lib/ansible/modules/notification/snow_record_find.py#L1

[2019-07-15 20:16] ironfroggy opened #59114 "ansible-galaxy collection build includes previous build artifacts in every new build"
##### SUMMARY
Every build produces a tarball in the current directory, which includes the full unhidden contents of the current directory. This means it also includes all the _previous_ tarball artifacts created by all the builds that happened before it. So, every version will include all the previous versions built, if the user doens't manually clean them up every time.

The builds by `mazer` wer

[2019-07-15 20:20] ericsysmin opened #59115 "k8s_facts: does not list the Statefulsets"
##### SUMMARY
When using the ansible module to get a list of Statefulset resources, an empty array is returned. Even though matching resources exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The existing matching object to t

[2019-07-15 20:21] desixma commented on #59089
hello bot :)
It is ansible 2.8.1

[2019-07-15 20:23] n3pjk commented on #59111
@mattclay This was introduced by PR #58410 for 2.9. The refactored code did not have a shebang, but the modules did, which creates a potential inconsistency. This is resolved by removing the shebang from the modules to allow Ansible to employ the correct interpreter based on default or environment variable.

[2019-07-15 20:27] bcoca commented on #59111
@n3pjk modules are REQUIRED to have a shebang so `ansible_<interpreter>_intepreter` can be used to let the user specify the 'correct one', which in many cases is not the default.

[2019-07-15 20:33] streetster commented on #58835
What should the approach be if #56116 (with the change of behaviour) is not it? Happy to knock up a PR if a decision is made on how best to solve this one.

[2019-07-15 20:34] ericsysmin commented on #59115
This definitely exists @ https://docs.ansible.com/ansible/latest/modules/k8s_facts_module.html#k8s-facts-module

[2019-07-15 20:38] bcoca commented on #59111
to clarify, ONLY modules themselves need this, stuff in module-utils/doc_fragements is not executed directly, they are used to 'merge' into the module. That is why those files DO NOT have a shebang.

[2019-07-15 20:44] samdoran commented on #59111
@n3pjk For modules specifically, we search for the shebang `#!/usr/bin/python` and replace it with the correct value. That is why it is required for modules but not `module_utils` or other plugin types. See the [developer documentation](https://docs.ansible.com/ansible/latest/dev_guide/developing_program_flow_modules.html#executor-module-common-py) for further information.

[2019-07-15 20:50] #59113 closed, assigned to nobody

[2019-07-15 20:51] tdekeyser commented on #25244
See (Pull Request 59116)[https://github.com/ansible/ansible/pull/59116]

[2019-07-15 20:53] ppuschmann commented on #59113
Sorry for opening this bug, that turned out not to be a bug at all.
A misplaced host_vars-file was the issue.

At least I found out the the error-message produced with Python 2 gives more information about the real issue with printing out the url used in the call to vSphere.

This verbatim output was then used to solve my real issue.

[2019-07-15 20:59] n3pjk commented on #59111
When I put /usr/bin/python in the ```module_utils``` code, it merges properly.  Without it, it created the import error.  I got the same behavior if I removed /usr/bin/python from the modules.  I see now that the modules require them, so I would surmise that proper fix should be to add the shebang to the ```module_utils``` code.

This then makes me also wonder about the A102 error I received in #5

[2019-07-15 20:59] samdoran commented on #58868
@mvorisek I don't have a specific fix in mind. I will have to setup OpenVZ in order to investigate further.

[2019-07-15 21:01] samdoran commented on #58723
I am going to reopen this until we can investigate further. macOS switched to recommending `sysadminctl` over `dscl` in macOS 10.13. Ansible is still using `dscl`. It is possible the module needs to be updated to use the new recommended tool.

[2019-07-15 21:31] jillr commented on #48050
Hi @AnishBAH, you can specify an empty list for `permission` which should prevent `PutObjectAcl` from being called. Can you try this and see if you still have the problem:
[code]
needs_info

[2019-07-15 21:46] eugene-bright commented on #58884
[Now I see][1].

[1]: https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#scoping-variables

Documented :beetle: becomes a feature.
I will look for generic way to copy chosen variables form play scope to host scope. I hope `vars plugins` will help me.

Thank you!

[2019-07-15 21:49] bcoca commented on #59111
that does not make sense, module_utils files are 'python imports' so they should not have a shebang, I suspect something else is causing the import error. I checked the file as it currently exists in the repo and i cannot find any issues with it.

Can you display the error with -vvv?

[2019-07-15 21:57] bcoca commented on #58884
@eugene-bright  see https://github.com/ansible/proposals/issues/127 as a proposed 'alternate state of variables', but this is backwards incompatible.

[2019-07-15 21:58] LoicSikidi commented on #54422
Hello, I'm met the same issue on the version 2.8.2 of Ansible.

Please find my ansible version below:

[code]

Thank you in advance for your support!

[2019-07-15 22:04] gnowxilef commented on #53789
in my case, obtain data from the crl (similar to a crt). e.g. lastupdate, nextupdate, issue, etc.

[2019-07-15 22:21] acozine commented on #50162
@abenokraitis @IPvSean is this issue addressed by #50201, which created https://docs.ansible.com/ansible/devel/reference_appendices/general_precedence.html?

[2019-07-15 22:34] bcoca commented on #58624
There is no 'project root', Ansible only knows about playbook and inventory.

[2019-07-15 22:36] bcoca commented on #58624
This is not an azure issue, but the base search path for lookups
!component =lib/ansible/plugins/action/__init__.py

[2019-07-15 22:37] n3pjk commented on #59111
The error is in the 'Actual Results' and used - vvvvvv for effect.
________________________________
From: Brian Coca <notifications@github.com>
Sent: Monday, July 15, 2019 5:50:54 PM
To: ansible/ansible
Cc: Paul Knight; Mention
Subject: Re: [ansible/ansible] Add python shebang to module_utils.service_now (#59111)

that does not make sense, module_utils files are 'python imports' so they should not

[2019-07-15 22:46] bcoca commented on #59111
@n3pjk and its missing all the -vvv relevant output, which is why i asked for it

[2019-07-15 22:56] n3pjk commented on #59111
Ah, I can add that in. That was the error tho.
________________________________
From: Brian Coca <notifications@github.com>
Sent: Monday, July 15, 2019 6:48:11 PM
To: ansible/ansible
Cc: Paul Knight; Mention
Subject: Re: [ansible/ansible] Add python shebang to module_utils.service_now (#59111)

@n3pjk<https://github.com/n3pjk> and its missing all the -vvv relevant output, which is why i asked for

[2019-07-15 23:03] jborean93 commented on #59114
@ironfroggy I've created a PR that will include any release artifact in the root directory only https://github.com/ansible/ansible/pull/59121. The `ansible-galaxy collection` command is not meant to be a like for like replacement of mazer so there are some differences between the 2. Feel free to test out the PR and review it but it should fix this problem. Also consider using the `--output-path` a

[2019-07-15 23:13] willthames commented on #59115
I think you just want `kind=StatefulSet`

[code]

works for me as expected

[2019-07-15 23:21] jillr commented on #53453
The `ec2_ami` module should do what you need, with `image_location` as your S3 source.

[2019-07-15 23:21] #53453 closed, assigned to nobody

[2019-07-16 00:00] jillr commented on #49695
What ceph version are you on?  I haven't been able to reproduce this so far with nautilus.

[2019-07-16 00:19] eugene-bright commented on #58884
Thank you!
I've relinked issues.

[2019-07-16 00:28] ramon-garcia commented on #46809
As one can see, the patch is very small
https://github.com/ramon-garcia/ansible/commit/de579702fd833a09db652710697a94e980d1df3d

[2019-07-16 01:08] ghost opened #59125 "Documentation for `regex` test is lacking."
##### SUMMARY

Please document the actual usage of the `regex` test (`… is regex(…)`).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
`playbooks_test.rst`

##### ANSIBLE VERSION
Latest on website and in github repo

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ADDITIONAL INFORMATION
Currently, the only documentation about the `regex` test is the following line:

There

[2019-07-16 02:16] Akasurde commented on #54727
@gdykeman Could you please confirm if PR #57518 works for you and let us know ? Thanks.

needs_info

[2019-07-16 02:42] etienned commented on #33731
Sorry for the answering delay. I'm not using `docker_image` to push images because with this module I'll need to push every images included in my docker compose file one after another. With the `push` of docker compose, in only one command all images included in my compose file that **need** to be pushed will be automatically pushed in one shot.

Also, as I'm using docker compose and `docker_servi

[2019-07-16 02:45] queglay commented on #29790
I also think it would be useful to be able to delete a volume. (or do i misunderstand this ticket?)  at the moment it looks like the only way to delete a volume is to terminate the instance.

[2019-07-16 04:00] Akasurde commented on #59095
@polatsinan Thanks for reporting this issue. PR https://github.com/ansible/ansible/pull/58115 might resolve this issue. Please provide your valuable feedback to this PR. Thanks.

[2019-07-16 04:00] Akasurde commented on #59095
resolved_by_pr https://github.com/ansible/ansible/pull/58115

[2019-07-16 04:07] Akasurde commented on #58775
resolved_by_pr #58965

[2019-07-16 04:08] Akasurde commented on #58775
@jikamens Could you please check if PR #58965 resolves the issue for you and let us know ? Thanks

needs_info

[2019-07-16 05:35] Fred-sun commented on #59096
@carbolymer Thanks for your ope this issue, We will look into it. But I try this YAML but not meet any errors, Could you can share your playbook and 'pip freeze' info for me to try? Thank you very much!

[2019-07-16 06:48] hoerup opened #59133 "hcloud_server: add private network options"
##### SUMMARY
hetzner has introduced private network for it's cloud vm's. hcloud_server should be updated to support this

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
hcloud_server

##### ADDITIONAL INFORMATION

[2019-07-16 07:27] Akasurde commented on #57817
resolved_by_pr https://github.com/ansible/ansible/pull/58737

[2019-07-16 07:28] Akasurde commented on #57817
Closing this issue as PR #58737 is merged. If issue persists, please feel free to open a new issue.

[2019-07-16 07:28] #57817 closed, assigned to nobody

[2019-07-16 07:33] carbolymer commented on #59096
I was trying to execute playbook from this example:
https://docs.microsoft.com/en-us/azure/ansible/ansible-create-configure-aks

pip freeze: [freeze.txt](https://github.com/ansible/ansible/files/3395824/freeze.txt)

[2019-07-16 07:44] ferhaty opened #59134 "azure_rm_virtualmachine suggests that a VM can be deployed to multiple Availability Zones"
##### SUMMARY

The azure_rm_virtualmachine module suggests that VM can be deployed to multiple availability zones. This is not the case.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should only be possible to spec

[2019-07-16 07:44] #57849 closed, assigned to Akasurde

[2019-07-16 07:45] LKaemmerling commented on #59133
We are already working on bringing our Networks to Ansible 2.9 :)

[2019-07-16 07:45] Akasurde commented on #51826
Closing this issue as PR #58627 is merged. If issue persists, please feel free to open a new issue.

[2019-07-16 07:45] #51826 closed, assigned to Akasurde

[2019-07-16 07:56] kmdouglass commented on #59100
Unfortunately I am unable to reproduce this failure today. It seems that once the password is entered through the nssm service configuration GUI window then the failure can no longer be triggered on a particular machine. I have tried changing the credentials, uninstalling and reinstalling the service and nssm, etc., but to no avail. To trigger it, I would need access to a fresh machine that I have

[2019-07-16 08:02] Fred-sun commented on #53299
@MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-07-16 08:22] Yajo commented on #30548
Sorry, yes it works fine with jinja2_native enabled. Thanks!

[2019-07-16 08:22] #30548 closed, assigned to nobody

[2019-07-16 08:28] kumy commented on #34389
I'm not sure this is a bug, it's working fine. Just use your username and replace usual password by your token.

https://wiki.jenkins.io/display/JENKINS/Authenticating+scripted+clients

[2019-07-16 08:40] rakeshz11 commented on #30411
I am still facing same issue with openstack-ansible
I tried all above ansible.cfg combination but didn't help any :(

`ansible --version
configured module search path = [u'/etc/ansible/roles/config_template/library', u'/etc/ansible/roles/plugins/library', u'/etc/ansible/roles/ceph-ansible/library']
  ansible python module location = /opt/ansible-runtime/lib/python2.7/site-packages/ansible
  execut

[2019-07-16 09:04] gcoupelant opened #59135 "gcp_compute plugin inventory does not use aggregated pagination"
##### SUMMARY
The inventory plugin now uses the `instances.aggregatedList`  method (commit: https://github.com/ansible/ansible/commit/f6a0f9874ddeb4b79012272eb5a4a92c0da7675)
https://cloud.google.com/compute/docs/reference/rest/v1/instances/aggregatedList
But this API has a pagination (with `nextPageToken`) and the plugin is not implemented to use it.
The max page size is 500 instances, when there

[2019-07-16 09:13] gcoupelant commented on #59135
cc @kustodian

[2019-07-16 09:38] Fred-sun commented on #52068
@just-dimitarslavkov Please give more info according by the above comments when you're free! Thank you very much!

[2019-07-16 09:42] smemsh commented on #29326
this seems to work now, probably fixed in PR #19312

[2019-07-16 09:44] smemsh commented on #29326
bug_resolved

[2019-07-16 09:54] Fred-sun commented on #52082
@MyronFanQiu Please help take a look this issue when you're free! Thank you very much!

[2019-07-16 10:01] kustodian commented on #59135
This will be hard to test because I would need 500 instances :D

[2019-07-16 10:24] Tomorrow9 commented on #58950
I'll take a look at this, thanks.

[2019-07-16 10:56] ShachafGoldstein commented on #59100
The problem seems application-specific, the reason I asked about the
stopped state is that the error is about the starting action of the service
- the application's log should say what stopped it from starting or the
registry keys regarding the APP not the settings and configuration of the
service should be looked at

On Tue, 16 Jul 2019 at 10:59, Kyle M. Douglass <notifications@github.com>
wrote:

[2019-07-16 11:03] gcoupelant commented on #59135
Maybe you can use the `maxResults` parameter ?

[2019-07-16 11:16] oweise commented on #52323
I also struggle with the duplication behaviour of dependencies in the "new syntax". I find no place where it is properly documented. I think the documentation suggests that it actually should work the same way as with the new syntax.

Mind: I am talking about the DEPENDENCIES of imported/included roles here which are executed multiple times, not the roles themselves. Because of this setting "allow

[2019-07-16 13:22] thisdougb commented on #43506
the problem here (I think) is one layer deeper than the module.  The method _ensure_listeners_default_action_has_arn only really works with default listeners that have a target arn (forward type).  The elb_application_lb module depends on this utility module.

I could do some work on this, and add the functionality we all seem to need.  But I'm not sure a subtitled PR would be accepted, due to the

[2019-07-16 13:41] bcoca commented on #59095
@polatsinan can you check if #58411 fixed this for you?

[2019-07-16 14:02] machacekondra opened #59140 "oVirt: when having network with spaces in name, the search fails to find it."
##### SUMMARY

When having network with spaces in name, the search fails to find it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

The problem is that in oVirt API searching object with spaces in name, it

[2019-07-16 14:11] mkrizek commented on #57628
needs_info

[2019-07-16 14:18] ahharu commented on #15297
Any workaround?

[2019-07-16 14:18] kedark3 commented on #59140
I have encountered this error and I would like to help in anyway I can to fix it.

[2019-07-16 14:21] kmdouglass commented on #59100
OK, thanks for the insight @ShachafGoldstein . It just seems strange that editing the service through `nssm` is what fixes the problem. I'll take another look at this once I can bring up a new Windows machine or VM.

[2019-07-16 14:45] palmerc commented on #58723
OK, after a bit more reading... there are possibly two things that I didn't know about that I need to test.

I previously discovered, that for a user to be useful on macOS you should add them to staff, but it also seems there is a group called _developer that users are added to use Xcode. This kind of behind the scenes magic is probably something to experiment with on macOS and isn't particularly

[2019-07-16 14:56] #58808 closed, assigned to nobody

[2019-07-16 15:19] bcoca commented on #59045
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-16 15:19] #59045 closed, assigned to nobody

[2019-07-16 15:21] bcoca commented on #59051
closing as per above

[2019-07-16 15:21] #59051 closed, assigned to nobody

[2019-07-16 15:31] #59063 closed, assigned to nobody

[2019-07-16 15:33] bcoca commented on #59105
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-07-16 15:33] #59105 closed, assigned to nobody

[2019-07-16 15:33] ironfroggy commented on #59114
Thanks, moving to the PR then, have tested it locally.

[2019-07-16 15:35] dekimsey commented on #58938
Okay, testing with the PR, it did not change the behavior.

### Test

[code]

### Build context
(Using an alpine:3.10 container for testing)
[code]

[2019-07-16 15:39] siemsen commented on #56602
We are still having this problem. Our playbook works for over 50 Ciscos, but fails consistently on all 6509s. We can ssh directly to the 6509s from a command line with no problem. We experimented with setting DEFAULT_TRANSPORT to "ssh", and still saw it fail in Paramiko. We tried NETCONF, and got a very similar error. We updated the code in the 6509s, to no effect. We updated Ansible, to no effect

[2019-07-16 15:52] samdoran commented on #37703
Fixed in #31452

[2019-07-16 15:52] #37703 closed, assigned to samdoran

[2019-07-16 16:28] rajput1991 opened #59146 "enable_plugin option under yum Ansible module does not seems to work"
##### SUMMARY
enable_plugin does not seem to work in yum module of Ansible or Probably the description given for this option is not appropriate for end user  to use.

##### ISSUE TYPE
- Bug

##### COMPONENT NAME

Yum Module of Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4

##### STEPS TO REPRODUCE

Information: yum-version-lock plugin allows

[2019-07-16 16:36] sfrique opened #59147 "GCP Inventory plugin error when service_account_email is not set."
##### SUMMARY
When using ansible with gcp_compute inventory plugin, with `auth_kind: machineaccount` and do not set `service_account_email` the plugin tries to get the account from `None` and it fails.
Setting the email to `default` works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugin: gcp_compute

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubunt

[2019-07-16 17:19] rambleraptor commented on #59135
Hello! I can take a look at this + get back to everyone with a PR. I can spin up a whole mess of instances very easily.

[2019-07-16 17:44] ShachafGoldstein commented on #59100
If you will use proccmon during the failure you will see what causes the
issue probably

On Tue, 16 Jul 2019 at 17:22, Kyle M. Douglass <notifications@github.com>
wrote:

[2019-07-16 17:46] ShachafGoldstein commented on #46809
The issue I see with what you added is that, other then it needs proper documentation, it is very specific to the case where you want to enable existing rule - maybe even disable and delete but what about new rules? if this property name is so specific in Windows Firewall, does it mean there are other such flags for different protocols?

[2019-07-16 18:27] kustodian commented on #59135
Awesome stuff. Thx 😁

[2019-07-16 18:49] abadger commented on #59103
This code seems to be establishing a process boundary between the GPL and BSD licensed code so it is intentionally creating an environment that can be licensed with any license on one side of that boundary.  However, it also looks like there's code in that file which was copied from GPLv3+ code without getting sign off from the authors.  (The parsing/ajons.py code).  ajson.py was worked on by @bco

[2019-07-16 18:52] mycloudrevolution commented on #56086
Sounds like a new topic.

Do you use the [vmware-dvs-host-module](https://docs.ansible.com/ansible/latest/modules/vmware_dvs_host_module.html#vmware-dvs-host-module) for that task?

[2019-07-16 19:04] rambleraptor commented on #34457
I'm so sorry for closing this prematurely! I didn't see the PR posted. I'll continue this conversation on the PR.

[2019-07-16 19:30] jborean93 commented on #58958
If newer hosts that use the native cmdlets don't fail in this situation we should make the older WMI methods replicate it.

[2019-07-16 19:37] #41554 closed, assigned to nobody

[2019-07-16 19:38] jborean93 commented on #58919
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-16 19:38] #58919 closed, assigned to nobody

[2019-07-16 19:38] #58940 closed, assigned to nobody

[2019-07-16 19:53] jborean93 commented on #59100
It looks like you are trying to set the service to a user that does not have the [SeServiceLogonRight](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/log-on-as-a-service). The Windows UI will actually check this and tell you if you have not been granted this right when you try and edit the credentials through `services.msc`. I guess nssm is also doing

[2019-07-16 20:01] Qalthos commented on #58082
As stated above, this is an issue with how ansible presently tries to connect to the device. Namely, that the connection (and associated setting of cli parameters) happens as soon as the `ansible-connection` process is started from task_executor.

One of my goals for 2.9 is to change this surprising behavior to act a bit closer to what one would expect to happen. #59153 makes some initial changes

[2019-07-16 20:17] ShachafGoldstein commented on #50566
@daveolker - We discussed this in the meeting today - can you please explain more about your use case? Why do you need that specific info in the case of Auto managed on the system level?

[2019-07-16 21:06] samragu opened #59161 "regex_replace hangs"
##### SUMMARY

regex_replace filter hangs when there is no match in the input

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

regex_replace
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The entire test.html content as there is no match

##### ACTUAL RESULTS

hangs - still running after 2

[2019-07-16 21:07] jhawkesworth commented on #50566
Also worth mentioning that in future we should really move to having a win_pagefile_facts or win_pagefile_info module that just returns the current state, rather than having this 'no parameters' version.
Any such new module ought to handle this case, although I don't know what it would be useful to return in the case you describe other than a message saying that the pagefile is system-managed.

[2019-07-16 21:30] AndreiLieb opened #59162 "gcp_compute plugin does not accept dash (-) in group names"
##### SUMMARY
gcp_compute plugin produces an empty hosts list if host group name has a dash (-) in it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
*gcp_compute inventory:*
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
put a dash (-) into host group name

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RE

[2019-07-16 21:41] jborean93 commented on #49828
Due to the way that Ansible works it is quite difficult to determine the type of connection failure that occurred. You could catch the specific exceptions that the underlying connection library uses to determine whether something failed due to invalid credentials but that is specific logic to that connection plugin, e.g. winrm would raised a custom exception in pywinrm compared to SSH which parsed

[2019-07-16 21:41] #49828 closed, assigned to nobody

[2019-07-16 21:48] mrdrogdrog opened #59164 "Proxmox version detection is broken in proxmox 6"
##### SUMMARY
An hour ago I upgraded my Proxmox to the new stable version 6. Since then my playbooks fail with this error:
`fatal: [proxmox]: FAILED! => {"changed": false, "msg": "authorization on proxmox cluster failed with exception: could not convert string to float: '6.0-4'"}`

It seems like the proxmox changed the API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox (https://gith

[2019-07-16 21:52] mrdrogdrog commented on #59164
I'm working on a PR right now.

[2019-07-16 22:02] rmahroua commented on #58916
I confirm that I have the same issue using the `mount` module. When invoked, the permissions revert to `root:root` despite explicit setting of different owner and groups.

[2019-07-16 22:14] pnelson33 opened #59166 "Improve error in ec2_group for incorrect proto argument."
##### SUMMARY
Fix error handling for ec2_group when the string 'any' is passed in for the proto argument

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_group

##### ADDITIONAL INFORMATION
ec2_group allows 'all' to be specified for allowing all traffic inbound. Semantically it is an easy mistake to use 'any' as it is convention for similar functionality on other platforms. When you use

[2019-07-16 22:14] jbflowers opened #59167 ""docker_container" with "become" throws "No module named exceptions""
##### SUMMARY
Using "docker_container" module with "become":

[code]
shows this error:

[code]
However it seems to be working without using "become".

**NOTES**
I've tried
- Installing "docx" and "python-docx" pip packages
- Installing "docker-py" and "docker" pip packages
- Making lib dirs in "/lib/python2.7/site-packages" 755 to ensure they're accessible by everyone
- Ensured "become" works with

[2019-07-16 22:21] jborean93 commented on #58763
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * If you are delegating to another host you should have already defined it's connection details in your inventory. When you use `delegate_to: host` then Ansible

[2019-07-16 22:21] #58763 closed, assigned to nobody

[2019-07-16 23:30] jeff-cook commented on #56994
I would think it is OK to use third party lib, if it is well-supported.

[2019-07-17 02:05] MyronFanQiu commented on #59134
@ferhaty Hello, could you show the error log? Dose the invalid mean that it just doesn't work?

[2019-07-17 03:13] jborean93 commented on #58892
@rambleraptor I'm still trying to get final confirmation but it doesn't look like this is a supported key for Collections. I've had a look at the metadata behind a collection at https://github.com/ansible/galaxy/blob/028a0ae075d5497ef43b6704c431a6f4c19b4162/galaxy/importer/models.py#L89 and `cloud_platforms` is not there. I can see that it is defined for role metadat https://github.com/ansible/gal

[2019-07-17 04:05] #58775 closed, assigned to nobody

[2019-07-17 07:03] #59100 closed, assigned to nobody

[2019-07-17 07:22] felixfontein commented on #59167
The [Docker SDK for Python](https://pypi.org/project/docker/) needs to be installed on the machine where the module is executed (this is in general **not** the machine you run ansible-playbook on), so that the Python interpreter used for user `EXAMPLE_USER` can find the Docker SDK for Python.

If you add another task
[code]
it should be installed at the correct location.

PS: [docx](https://pypi.o

[2019-07-17 07:30] krzysztof-magosa commented on #56930
We use dashes and dots in big setup.
Our pattern is `product-name.environment.datacenter' and it makes things very clear.
I cannot imagine dropping `-` and `.` as that would make inventory totally unreadable.

[2019-07-17 07:37] cpiment opened #59173 "WinRM test: AttributeError: 'ShellModule' object has no attribute 'ECHO'"
##### SUMMARY

I'm trying to manage Windows hosts using Ansible. I have configured the hosts and tested successfully the ping command, but when I test this simple playbook:

[code]
I get the following error:

[code]

I have also tested with "win_command" with the same result

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-07-17 07:52] cpiment commented on #59173
I have tried the "win_file" module too, bit it fails with the same error.

[2019-07-17 07:54] jborean93 commented on #59173
I’m on my mobile so I can’t really go too in depth but you have become enabled with the sudo plugin. Windows only supports the runas become plugin.

[2019-07-17 08:05] vedit commented on #47862
@jitesh88 @willcarp Are you guys using Windows authentication here?

[2019-07-17 08:11] cpiment commented on #59173
Thanks @jborean93, the problem was with "become" directive. I was playing copy/pasting examples from the documentation and some had that directive and I hadn't noticed.

[2019-07-17 08:11] #59173 closed, assigned to nobody

[2019-07-17 08:50] Tomorrow9 commented on #58950
Hi @Akasurde,
From the API doc of "vim.vm.customization.GlobalIPSettings",  "dnsSuffixList" property is a string list (List of name resolution suffixes for the virtual network adapter.). We can pass it the list of dns suffix user provided, as to the later processing error of vCenter for specific guest OS, we can file bug to VMware. I think the issue reported in this bug was resolved in vSphere 6.5

[2019-07-17 09:02] blackcobra1973 commented on #57529
It breaks to much.  And in my case I did a rollback to ansible 2.7.x

[2019-07-17 09:44] blackcobra1973 commented on #57529
Why is this closed ?   Updating documentation is not a valid Fix.    This is a change which has huge impact on all levels.   In version 2.8.x there should at least be an option to do the facts gathering in legacy mode, so people have time to convert their playbooks.  This "buggy" feature is breaking 10 of my customers production environments, which comes with a cost...    Will you carry this costs

[2019-07-17 10:10] indreek opened #59176 "implementation error: unknown type password-3 requested for"
##### SUMMARY
When using fortios_vpn_ipsec_phase1 module i get error ""implementation error: unknown type password-3 requested for psksecret"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fortios_vpn_ipsec_phase1

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 17
Python 3

Im getting error that password-3 type is not defined. I suspect that ansible doesn't support this type.

[2019-07-17 10:30] sebastianw opened #59177 "ansible-inventory does not load playbook relative inventory plugins"
##### SUMMARY

In #47529 ansible learned to load inventory plugins local to playbook directories. ansible-inventory does not load these plugins when run in the playbook directory. This would be helpful when trying to test output from an inventory plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2019-07-17 10:41] mamunozgonzalez commented on #59176
Hi @indreek ,
can you share the playbook you are using?
And also your fortigate sw version?

[2019-07-17 10:55] dsbrng25b commented on #51843
Looking up the next free IP, as described in the issue is not a good idea, because that way you have a race condition between looking up the next free IP and creating the host record with that IP.
From Ansible 2.8 on this should be possible in one step:
[code]
But this is still not idempotent. On the first run it does properly register the next available IP in Infoblox but on the second run I get

[2019-07-17 10:57] sebastianw commented on #56930
We're using ansible inventory plugins that query the local CMDB for group names which contain (and will continue to contain) dashes. It would break a lot of stuff if this would be invalid in the future.

[2019-07-17 11:32] jtyr commented on #58916
@rmahroua Please use the above playbook to test your environment.

[2019-07-17 11:53] D3DeFi commented on #58981
Hi, I've been finally able to find some time for this, but I am not able to reproduce it with various configurations. Zabbix version `Zabbix 4.0.10`:

- Python 3.7.2 + ansible 2.7.8 = idempotent results
- Python 3.7.3 + ansible 2.7.8 = idempotent results
- Python 2.7.13 + ansible 2.8.1 = idempotent results

Only difference between mine playbook and yours example is that Host group `Linux Servers`

[2019-07-17 12:18] jorijinnall commented on #37591
I cloned the current PR into a clean one with a new fork. If you want this issue to be closed, you can review and approve https://github.com/ansible/ansible/pull/59156

[2019-07-17 12:28] D3DeFi commented on #57942
Hello @nerijus, can you please test this with PR #59181?

[2019-07-17 12:33] leroyguillaume opened #59182 "postgresql_pg_hba TypeError: 127.0.0.1/32 and ::1/128 are not of the same version"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_pg_hba

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host:
- Fedora 30
- Python 3.7.3

Remote:
- Debian 9.9
- Python 3.5.3
##### STEPS TO REPRODUCE

This error occurs when IPv4 and IPv6 addresses are used in same pg_hba.conf. Example:
[code]

[code]

##### EXPECTED RESULTS

The modu

[2019-07-17 13:43] rightaway opened #59183 "mount module should fail when src doesn't exist when state is mounted"
##### SUMMARY
If `src` doesn't exist in `mount` module when `state` is `mounted`, it still proceeds. It adds the entry to /etc/fstab like it would when `state` is `present`. But because it's `mounted` the task should fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10

##### STEPS TO REPRODUCE

[c

[2019-07-17 13:58] bcoca commented on #59177
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-17 13:58] #59177 closed, assigned to nobody

[2019-07-17 14:11] pabelanger commented on #59038
We should also add an iosxr platform section to the docs link above.

[2019-07-17 14:20] pabelanger commented on #55880
We believe this should be available in ansible 2.9 using our new resource modules. @justjais do you mind linking your PR once you have pushed it up.

[2019-07-17 14:20] jbflowers commented on #59167
Ahh, that's it, I needed to try the "requests" package. Wish the message included a reference to that. Now that I have the permissions fixed for "requests" and have "pip --user" ansible command working for "EXAMPLE_USER" everything seems to be working smoothly. Thanks for the help!

[2019-07-17 14:20] #59167 closed, assigned to nobody

[2019-07-17 14:22] ganeshrn commented on #59038
@jean-christophe-manciot The first task is passing because `"changed": false, `  and it seems configuration is already present on device that's the reason `edit_config()` API is not invoked.

It seems we are iosxr platform guide documentation is missed out. Thanks for pointing it out.
I will raise a PR to add iosxr platform guide docs.

[2019-07-17 14:24] rmahroua commented on #58916
Thanks. I did further testing and it turns out that permissions are set. What happens is the starting of the NFS server service on my environment resets permissions to `root:root` on share that are defined in the exports file. So this had nothing to do with the module, my bad. This has to do with the starting of the service afterwards.

Thanks for your help @jtyr

[2019-07-17 14:25] mj84 commented on #56930
We are using a similar approach with a hierarchical naming scheme (inspired by java, e.g. org.company.product-name.component).
It would be an absolute horror having to revert to underscores.

[2019-07-17 14:54] jctanner commented on #57699
Once this is written and merged, we should also send an announcement to the ansible-devel mailing list to make sure people know about it.

[2019-07-17 14:58] ferhaty commented on #59134
@MyronFanQiu unfortunately multiple AZ's are not supported. I get the following error.

[code]

[2019-07-17 15:05] D3DeFi commented on #39220
@selivan can you please test non-ASCII support for XML with my latest changes? I had to sacrifice pretty output in order to fix it and it is now printed as a single line, but this is more important than having nice output.

Unfortunately, I still don't have solution for 'zabbix' being masked in output. Will definitely think about your idea with `dest` module parameter, but I think it will be hit w

[2019-07-17 15:08] Akasurde commented on #47649
Closing this issue since module [`vmware_dvswitch_pvlans`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_dvswitch_pvlans.py) is available. Thanks.

[2019-07-17 15:08] #47649 closed, assigned to nobody

[2019-07-17 15:16] #58120 closed, assigned to bcoca

[2019-07-17 15:27] pnelson33 commented on #42532
I am experiencing this issue as well.
the snippit that triggers the behavior in by bucket policy template:

`{
            "Sid": "AWSELBCheck772019",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                        "797873946194",
                        "127311923021",
                        "027434742980",
                        "797873946194"

[2019-07-17 15:37] jbguerraz commented on #56930
heh. we faced that issue as well. we're using dash in our groups names intensively.
If one could explain what problem are due to the dash usage in a dict I would be happy to know

[2019-07-17 16:13] jk2K commented on #43216
I have same issue

- WSL environment

[code]

[code]

`ansible $server_name -m script -a "deploy_frontend.sh"` works

`ansible ali -m script -a "deploy1.sh"` not work

really weird

[2019-07-17 16:16] bohdanyurov-gl commented on #32911
@flaper87 I am sorry for that guy talking to you in that manner, but the problem is not actually in the module being in development state. I want to thank you for all the work you've shared with community.

For me the biggest deal is that there is no big note about actual module state. I agree, that it shouldn't be used in production yet.

[2019-07-17 16:17] trevorijones commented on #20347
I found it usefull to pair with the ec2_ami_facts to fetch the root_device_name of the current image being launched:
[code]

then you can use `ami.root_device_name` in `ec2` tasks to set the `device_name`

[2019-07-17 16:18] gu3sss commented on #45992
I am using the EC2 Inventory plugin to build a dynamic inventory for ansible to run. The inventory is built based on certain ec2 instance tags mentioned in the filters section of the plugin config so that I can run ansible targeting specific instances based on their tags. Everything works as expected when I hard code the value of the tags in the plugin config directly. Unfortunately, when I try sp

[2019-07-17 16:22] kmdouglass commented on #59100
Thank you very much @jborean93 . This is much appreciated.

[2019-07-17 16:24] jk2K commented on #43216
may duplicate https://github.com/ansible/ansible/issues/16046

[2019-07-17 16:35] itsmed commented on #34696
It seems that the `upgrade` parameter is mutually exclusive with `upgrade_all` according to the 2.5 through current version docs https://docs.ansible.com/ansible/2.8/modules/homebrew_cask_module.html :

upgrade                                     (added in 2.5.0) | Default:no | upgrade all casks (mutually exclusive with `upgrade_all`)
-- | -- | --
upgrade_all                                     (a

[2019-07-17 16:35] #46650 closed, assigned to nobody

[2019-07-17 16:35] jbdelavoix opened #59189 "ovirt_vm: Unable to find template shared among multiple clusters in the same datacenter"
##### SUMMARY

Since commit df581eb ovirt_vm is unable to find a template shared among multiple clusters in the same datacenter. Moreover, the document says that `cluster` parameter is a parameter used to define where VMs will be created. Then it should not be used to filter a template search which is not related to VM storage.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_vm

#####

[2019-07-17 16:36] jk2K commented on #43216
After many attempts, I found the reason

refer to [script – Runs a local script on a remote node after transferring it](https://docs.ansible.com/ansible/latest/modules/script_module.html)

the local script is executed by default using `/bin/sh`. If I specify the executor in the script, I will get the above error

for example

[code]

In this case, the `executable` parameter is required,

you can t

[2019-07-17 16:50] mmundy1 opened #59190 "vmware_guest - Setting mem_reservation to 0 results in an error in 2.8.2"
##### SUMMARY

When provisioning a new VMWare VM, if mem_reservation/memory_reservation is set to 0, an error is thrown.  This did not happen in 2.7 and 0 is not listed as an invalid value in the module document.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7, VMWare 6.7

##### STEPS TO

[2019-07-17 16:55] pabelanger commented on #43996
@justjais do you have anything thoughts here? This was raised in our community meeting today

[2019-07-17 16:55] jimi-c commented on #56046
!needs_info

[2019-07-17 16:55] pabelanger commented on #43861
@justjais do you have anything thoughts here? This was raised in our community meeting today

[2019-07-17 17:16] horseinthesky commented on #43216
Thank you. I'll remember for future use =)

[2019-07-17 17:16] #43216 closed, assigned to nobody

[2019-07-17 17:25] gu3sss commented on #55385
Running into a similar issue! I am trying to pass value of an instance tag in filters. Unfortunately, since the value of the tag can be anything, I can't afford to have multiple *.yml files. Thoughts?

`plugin: aws_ec2
regions:
  - xxxxxxx
keyed_groups:
  - key: tags.role
    prefix: role_
    separator: ""
groups:
  role_all: "'role' in (tags|list)"
compose:
  # set the ansible_host variable to c

[2019-07-17 17:27] stephan2012 opened #59191 "Unclear how to use kubectl, examples missing"
##### SUMMARY

The module `kubectl` is intended to execute commands in a Kubernetes Pod (or container, to be precise). However, the doc is not clear on how to do it and lacks examples.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

kubectl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux 9.9

##### ADDITIONAL INFORMATION

Allows

[2019-07-17 17:31] ibarrere opened #59192 "ios_facts in Ansible 2.8 can't gather config"
##### SUMMARY

ios_facts with gather_subset including "config" fails. It seems to work if any other gather_subset is used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS release 6.10 (Final)

##### STEPS TO REPRODUCE

It seems to be any time ios_facts is called with gather_subset: config. I

[2019-07-17 18:13] #48913 closed, assigned to justjais

[2019-07-17 18:21] ironfroggy opened #59195 "ansible-galaxy import broken on master after merge of collection branch"
##### SUMMARY
`ansible-galaxy import` is broken, potentially by the introduction of the `collection` subcommand? Fails early trying to read CLI args...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-galaxy`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Simply invoke the `import` subcommand or any repository:

```ansible-

[2019-07-17 18:36] selivan commented on #39220
@D3DeFi

I checked branch `zabbix-template-xml-support` from your repository: https://github.com/D3DeFi/ansible/tree/zabbix-template-xml-support. XML export and import for non-ASCII(Cyrillic) text works fine. Good job :+1:

I also again checked export/import for json. It does not produce errors, and result dump.json file contains correctly escaped unicode symbols, like "\u0442". But after exportin

[2019-07-17 18:41] sebasmannem commented on #59182
yes, this is a known issue, which is fixed in devel (223f509ea3ddffc2a7a34332d1d2a795039b7420) and backported to v2.8.2 (7b736040582f4feb1fd07fef7be6e5041b00e2fb).

[2019-07-17 19:06] #47965 closed, assigned to Qalthos

[2019-07-17 19:15] markandrewj commented on #56930
I am mainly reiterating what others have said, but I wanted to add some input. I think if this change is implemented, that the flag to allow dashes should be kept and maintained. Although I understand that Python expects underscores, dashes are commonly used for host names and host group names. In our environment we generate the inventory dynamically from hosts and host groups in our LDAP director

[2019-07-17 19:16] #57497 closed, assigned to nobody

[2019-07-17 19:26] zolvaring commented on #48848
I believe this warning should also be looked at when using systemctl to set runlevels, as I was unable to find a way to do so using the systemd module, which sort of takes the sense out of the warning.

[2019-07-17 19:28] n3pjk commented on #59111
In attempting to regenerate actual results, I was unable to replicate the original error.  Retracting bug.  I did, however, figure out another issue. Submitting that under separate cover.

[2019-07-17 19:28] #59111 closed, assigned to nobody

[2019-07-17 20:02] n3pjk opened #59199 "Call Refactored login from snow modules"
##### SUMMARY
snow modules do not call refactored login function.  Login must be called to initialize connection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
snow_record.py
snow_record_find.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
ansible-playbook -i sandbox Test-Run.yml -vvvvv

sandbox/regions:
[sandbox]
yourinst

[2019-07-17 20:24] AuroraLi commented on #48093
any updates? We ran into the same error with connection: local

[2019-07-17 20:43] d-little commented on #52308
-label aix
+label needs_triage

(Gentoo is not AIX, not sure if there's a Gentoo maintainers group or who would look after this, but I dont think it would be the AIX maintainers!)

[2019-07-17 20:50] AirCombat commented on #46809
Just to chime in as i seem to have come across this issue at an opportune time:
For security compliance I would like to be able to allow and block specific ICMP types and codes. For example block ICMP Timestamp (Type 13, code 0) , Allow Echo Request/Ping (Type 8, 0)

I would prefer not to have to use the powershell module

[2019-07-17 21:04] ironfroggy opened #59202 "ansible-galaxy -vvv broken unless passed only after subcommand"
##### SUMMARY
The `-v` verbosity flags apply to the `ansible-galaxy` command as a whole, but on `devel` only work if passed after a subcommand like `import`, `role import`, or the new `collection` commands..

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Try to run

[2019-07-17 21:08] jgkirschbaum commented on #59013
As the [documentation for 2.8](https://docs.ansible.com/ansible/2.8/modules/rabbitmq_global_parameter_module.html#examples) states:

`- rabbitmq_global_parameter:
    name: cluster_name
    value: "{{ 'mq-cluster' | to_json }}"
    state: present`

IMHO there is no reason to change the functionality, because with this scheme you have the greatest flexibility. This is not a bug, it works as designe

[2019-07-17 21:42] zolvaring commented on #50692
We have several builds that take dramatically longer without being able to utilize certain flags (usually just -j would help significantly), +1 for support for options.

[2019-07-17 22:03] pposca opened #59206 "Ansible generates a bad SSH commandline when there's a space in the 'control_path'"
##### SUMMARY
When for any reason the .ansible/ directory is inside a path **with whitespaces**, the 'control_path' generated by default is wrong, and thus the SSH commandline.

The addition of quotes surrounding the 'control_path' inside 'ansible/plugins/connection/ssh.py' fixes the bug.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Connection plugin

##### ANSIBLE VERSION

[code]

##### C

[2019-07-17 22:46] hryamzik commented on #58858
@mvorisek thanks for you RP.

I'm not sure if we should merge this, and here's why:

Code of this module is based on c code of networking on ubuntu. It reads configs in the same way. Adding extra intelligence is very questionable for me. And you can still work your case out with a `when` statement: read interfaces and change only when `setup_eth.sh` not in results.

The other reason to keep things

[2019-07-17 23:11] #47813 closed, assigned to nobody

[2019-07-17 23:27] ghost opened #59210 "VMware: Feature request : vmware_guest USB controller"
##### SUMMARY
Sorry I know this is probably not the best place to ask this question, but I cannot find anywhere else.
I need to be able to attach a USB controller to a VM created on ESXi 6.5 using Ansible  vmware_guest module.
I cannot find any documentation of examples on how to do this, is it even possible and if so how?
I'm happy to contribute to documentation if there is an answer to this.

##

[2019-07-18 00:12] MyronFanQiu commented on #59134
@ferhaty I got your point. Let me clarify. The service doesn't support multiple availability zones. However the type of the `zones` implies that it supports. Am I clear or anything misunderstood?

[2019-07-18 01:08] #48280 closed, assigned to Qalthos

[2019-07-18 02:25] Akasurde commented on #59199
resolved_by_pr #59201

[2019-07-18 02:30] Akasurde commented on #59210
@mjhalldotorg Thanks for reporting this feature request. Currently, there is no functionality available to solve this.
Thanks.

[2019-07-18 05:23] #59199 closed, assigned to nobody

[2019-07-18 05:24] Andersson007 commented on #59182
@leroyguillaume , thanks for your feedback!
@sebasmannem , thanks for fast replying
Regarding that @sebasmannem said, could you please try Ansible from devel branch and,
If it's OK, you can close the issue.

needs_info

[2019-07-18 05:43] fhemberger commented on #59013
@jgkirschbaum Sorry, I misinterpreted how `json.loads` works in this case. Having to remember to single-quote the value for `to_json` inside of the double quotes for jinja parsing is still error prone. I wish there was a better way to catch this simple mistake.

[2019-07-18 06:15] ferhaty commented on #59134
@MyronFanQiu exactly.

[2019-07-18 06:39] leroyguillaume commented on #59182
Thank you for your help!

[2019-07-18 06:39] #59182 closed, assigned to nobody

[2019-07-18 06:40] ekohl commented on #25299
resolved_by_pr #25486

[2019-07-18 06:57] #28167 closed, assigned to nobody

[2019-07-18 06:57] #25299 closed, assigned to nobody

[2019-07-18 07:12] evgeni opened #59226 "collections require namespaced doc_fragments"
##### SUMMARY

When using documentation fragments inside a collection, one has to use `extends_documentation_fragment: {namespace}.{collection}.{fragment}` instead of just `{fragment}`.

This is logical on the second look, but currently not documented.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs/docsite/rst/collections_tech_preview.rst

##### ANSIBLE VERSION

[code]

#####

[2019-07-18 07:15] MyronFanQiu commented on #59134
@zikalino Hi, could you please look at this issue when you are free? I'm not sure it is by design or not.

[2019-07-18 07:20] indreek commented on #59176
Simple testing playbook.

---
- hosts: localhost
  tasks:
    - name: Configure VPN remote gateway.
      fortios_vpn_ipsec_phase1:
        host:  192.168.11.1:8443
        username: user
        password: pass

        vpn_ipsec_phase1:
          state: present
          name: test
          remote-gw: 192.168.0.10
          interface: wan1
          psksecret: test

[2019-07-18 07:33] wolfbo commented on #35645
I found this issue on alpine Linux, seems busybox tar command is not compatible with gtar.

[2019-07-18 07:51] felixfontein commented on #59167
@jbflowers if you start having different permissions for different Python modules in the same Python installation, you have to make sure that all dependencies of docker / docker-py can be accessed.

Anyway, I don't know why the error message only mentions `exceptions` and not `requests`. With both 2.7 and 3.7 I always get the top-level package mentioned in the error message when I try to import a

[2019-07-18 07:53] stawii commented on #58472
before (in 2.7 line):
[code]
in 2.8 line
[code]
As @acozine said - setting `private_ip_address` requires set `device_id`, but setting `device_id` does not requires `private_ip_address`.

**Workaround** is to explicitly pass `private_ip_address: !!null` to module.

[2019-07-18 07:57] evgeni opened #59228 "ansible-galaxy collection build includes unrelated files into the result"
##### SUMMARY
The "source" folder of my collection contains several files that are not directly related to the collection itself. E.g. a `.gitignore`, a `.github` folder, a `Makefile` etc.
When using `ansible-galaxy collection build <folder>`, these files are included in the generated tarball. This is especially hurtful when the source folder also contains a Python venv that I use for developing.

[2019-07-18 08:02] sharego commented on #43720
talk format
[code]
In the YAML syntax, the `hosts` value is a string, not a `list`.
If we want a list, should use like this（BUT  _**not** support for ansible 2.8.2, which only accpet **one host as string** or **multi hosts as dictionary**_）:

list format (not support for now)
[code]
dictionary format (accept format)
[code]

[2019-07-18 08:03] Akasurde commented on #59190
@mmundy1 Thanks for reporting this issue. This issue was introduced due to 193f69064fb40a83e3e7d2112ef24868b45233b3. Could you please verify if the PR #59230 fixes issue for you ? Thanks.

needs_info

[2019-07-18 08:05] Ninjiner commented on #56994
That's a good point.

I had a look at the Python package Index and skimed all availbale packages (There are about five).

In the end i had [this](https://github.com/jpavlav/UptimeRobotPy/blob/master/uptimerobotpy/uptime_robot.py) and [this](https://gitlab.com/fboaventura/upytimerobot/blob/dev-0.3.0/upytimerobot/__init__.py) one, which are consoderable libraries. I like the implementation of jpavla

[2019-07-18 08:28] GoodMirek commented on #27299
Just two years later, this issue is still present in ansible 2.8.1.
At least a note in [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#json-query-filter) would be great, as it would save an hour of troubleshooting to every single person hitting this road block.

Is there anyone who can/know how to submit an improvement for ansible doc?

[2019-07-18 09:00] Akasurde commented on #58472
@rahul0705 @stawii Could you please check this PR https://github.com/ansible/ansible/pull/59231 and let me know if it fixes issue for you ? Thanks.

needs_info

[2019-07-18 09:00] reitzig opened #59232 "Docker logout reports no change even though it did something"
##### SUMMARY
`docker_login` reports no change even though it logged out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`docker_login`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Client: Ubuntu 18.04 LTS 4.18.0-24-generic, ansible 2.8.1
Server: RHE7 3.10.0-957.21.3.el7.x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task `Docker lo

[2019-07-18 09:34] mvorisek commented on #58858
@hryamzik Original formatting can be leaved, but config should be NEVER added twice if if differs only in leading/trailing whitespaces.

[2019-07-18 09:40] Akasurde commented on #28649
Closing as per https://github.com/ansible/ansible/issues/28649#issuecomment-446354072. Please feel free to open a new issue if problem persists. Thanks.

@pgbidkar Thanks providing the information.

[2019-07-18 09:40] #28649 closed, assigned to nobody

[2019-07-18 09:45] Ludden commented on #48398
Same problem here

[2019-07-18 10:20] lukmanulhakimd commented on #29869
Hi @refi64 @rambleraptor I still couldn't find out how. Heres my configuration:
[code]

[2019-07-18 11:02] goddini91 commented on #24139
I have error like
creation of lxc VM 164 failed with exception: 400 Bad Request: {\"data\":null,\"errors\":{\"[287].size\":\"property is missing and it is not optional\"}}"
ansible 2.8.2
pveversion -v
proxmox-ve: 5.4-2 (running kernel: 4.15.18-18-pve

[2019-07-18 11:12] ssbarnea opened #59233 "docker_image: is missing etc_hosts (extra_hosts argument from python-docker)"
##### SUMMARY
docker_image module is missing etc_hosts parameter even if this is documented and accepted by docker.build() as  of https://docker-py.readthedocs.io/en/stable/images.html

The same argument is accepted by docker_run but the lack of support here prevents us from building images when extra_hosts is needed.

I mention that the only reason why I propose using `etc_hosts` is in order to k

[2019-07-18 11:25] hanswurscht opened #59235 "Registered variables from large file listings are not processed correctly in following tasks"
##### SUMMARY

Registered variables from large file listings are not processed correctly in following tasks due to formatting errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7.6

##### STEPS TO REPRODUCE

This used to work in a previous ansible version.
Using a smaller number for `seq_number` make

[2019-07-18 11:32] rgaufman opened #59236 "include_tasks apply: tags isn't working"
##### SUMMARY
Trying both include_tasks and import_tasks with tags does not run the tasks when a tag is specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Task

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac Mojave 10.14.3 (18D109)

##### STEPS TO REPRODUCE
I have this recipe

[code]

However, running:

[code]

The tasks are not running.

I also tried import_tasks. I can a

[2019-07-18 11:47] mkrizek commented on #59235
Possibly related https://github.com/ansible/ansible/issues/58991

[2019-07-18 11:56] mkrizek commented on #59236
[code]

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-18 11:56] #59236 closed, assigned to nobody

[2019-07-18 12:12] LeDOC666 opened #59237 "win_share: remove all other permissions of a share"
##### SUMMARY
I have a playbook the user: App_Urb on a share EAI. Everything is ok, but If I have another user on that share, playbook remove it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_share

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target is Windows 2012 R2

##### STEPS TO REPRODUCE

Case original:
[code]
I manually added PAM\EXP_TRT with

[2019-07-18 13:01] jhawkesworth commented on #59237
I think this is just 'desired state' behaviour.  Think of the win_share module as describing what permissions are required on the share.  So you must tell it all the permissions you need.

You would need to modify playbook like this:

[code]

I think behaving like it does is desirable because the ansible configuration becomes 'single point of truth' regarding how exactly the share should be config

[2019-07-18 13:07] LeDOC666 commented on #59237
The problem is PAM\EXP_TRT is a specifical rule needed on only 1 or 2 server. It won't be managed by Ansible.
Appli_Urba is a rule for ALL servers, so managed by Ansible

Is there any way to keep original rules ?

[2019-07-18 13:20] ahuffman commented on #27299
Documentation comes from the python code itself, so you'd have to put in a PR on the json_query python.

[2019-07-18 13:32] Bleacks commented on #56046
Thank you for your answer jimi.

I understand that the combined use of both include/import and role dependencies is strange, but I think there can be some context where it can be needed, for exemple :

I wanted to create a playbook, which could run every roles available inside a directory. And it seemed that one way of doing it, was to include them dynamically, based on a list of the directory con

[2019-07-18 13:47] tchernomax commented on #56861
@Akasurde I had this bug.
I backported the patch https://github.com/ansible/ansible/pull/58737 → bug fixed, it works
Thanks

[2019-07-18 14:04] Akasurde commented on #56861
@tchernomax Thanks for confirming that PR resolves the issue.

[2019-07-18 14:15] tomaskrizek commented on #55590
`apt_key` module now fails with `debian/buster64` vagrant box, due to missing gnupg in default installation (as mentioned https://github.com/ansible/ansible/issues/55590#issuecomment-486142331) with the following error:
[code]

**Workaround**: use `get_url` or `copy` module, and drop the key in `/etc/apt/trusted.gpg.d/` directory

[2019-07-18 14:19] #41393 closed, assigned to samdoran

[2019-07-18 14:30] hryamzik commented on #58858
Oh, I just realised it's just an issue, not a PR. =) PRs are welcomed. ;-)

[2019-07-18 14:30] andyfeller opened #59247 "k8s lookup plugin fails handling users without cluster-level view access"
##### SUMMARY
The [`k8s` lookup](https://docs.ansible.com/ansible/latest/plugins/lookup/k8s.html) throws unhandled exceptions when a user who doesn't have cluster-level view access tries to lookup all namespaces they have access to or verify whether a namespace exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2019-07-18 14:39] abadger commented on #59045
@Khurram703 You might also look on https://github.com/ansible/community/wiki/Network for network-centric irc, slack, and mailing lists.  I don't think we have any ericsson specific modules yet but someone on those channels might have the same type of equipment and be able to help you.

[2019-07-18 14:39] mpiecuch-nuage commented on #35266
@rambleraptor Where can I get gcp_compute_snapshot?  I can't find it anywhere.  It isn't even in the github devel branch code.  I am also having this exact same issue.

[2019-07-18 14:44] lukehinds opened #59248 "python2-dnf is depreciated in Fedora 30"
##### SUMMARY

Ansible attempts to install `python2-dnf` when a python 2 run time environment is discovered, yet this application is depreciated in Fedora 30

https://github.com/ansible/ansible/blob/1c2c1c15d0483e85b1addf4c6f15c80135ef02a3/lib/ansible/modules/packaging/os/dnf.py#L483-L488

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2019-07-18 14:44] ShachafGoldstein commented on #59237
I can make a patch to add append to the module but it would take some time
you can use pure Powershell in the meantime to just add the permissions

[2019-07-18 14:46] lukehinds commented on #59248
closing invalid, my  pre_tasks were set wrong

[2019-07-18 14:46] #59248 closed, assigned to nobody

[2019-07-18 14:50] felixfontein commented on #59233
`docker_image` is probably missing some more build options as well. Feel free to create a PR to add them, if you need them!

[2019-07-18 14:54] polatsinan commented on #57743
@pknutti Perform `nmcli conn del ens224` and `nmcli conn del ens225` and rerun your probleem, it should work.

Should be fixed with https://github.com/ansible/ansible/pull/59234

[2019-07-18 14:56] #58370 closed, assigned to nobody

[2019-07-18 15:23] Rajinikamu84 opened #59251 "Unable to deploy VM in Azure cloud using "azure_rm_deployment" module"
##### SUMMARY
I have the playbook to deploy an VM in Azure environment  But it fails with the below error.
request = self._client.put(url, query_parameters, header_parameters, body_content)
TypeError: put() takes at most 3 arguments (5 given)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
"azure_rm_deployment"

##### ANSIBLE VERSION
ansible --version
ansible 2.8.0
  config file = /etc/ansibl

[2019-07-18 15:24] ppuschmann commented on #42262
Affects Ansible 2.8 with ESXi 6.7.0 as well.

[code]

[2019-07-18 15:28] Maixender opened #59252 "Ansible AWX how to retrieve the desired ip address on my vms with multiple network card"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

My VMs have multiple network cards. How to modify vmware_inventory.ini and vmware_inventory.py to get me that IP address 10.0. instead of 172? 0 .

[2019-07-18 15:29] bkmeneguello opened #59253 "Allow to select openssl_privatekey format"
##### SUMMARY
Allow to specify a new "format" parameter in "openssl_privatekey". Today the output format is decided by a very simple heuristic which requires further commands to work properly.
I need, for example, to generate a RSA private key but in PKCS8 format. The current heuristic uses OpenSSH format for RSA keys and only uses PKCS8 for Ed25519 and similar. This makes me use a "command" with

[2019-07-18 15:40] fabianvf commented on #59247
I think this is the expected behavior by kubernetes, judging by this issue: https://github.com/kubernetes/community/issues/1486

If you don't have `list namespaces` permission at the cluster-level then you won't be able to list namespaces, even if you have access to a subset of them. OpenShift projects should work the way that you expect though, try doing the lookup with `api_version=project.opens

[2019-07-18 15:41] GoodMirek commented on #22691
There are two Spot Fleet options, which I believe can be implemented separately, like Terraform does:
1. Standalone EC2 spot fleets.
2. Fleet Composition feature of Auto Scaling Groups (ASG).

[2019-07-18 15:47] jhawkesworth commented on #59237
You could also define host var or group var so that the correct settings are applied to the correct hosts.

Personally I'm not in favour of adding 'append' type options to modules but its true they exist for other modules.

[2019-07-18 15:48] Maixender commented on #59252
This is my file vmware_inventory.py

#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
# Copyright (C): 2017, Ansible Project
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)

# Requirements
#   - pyvmomi >= 6.0.0.2016.4

# TODO:
#   * more jq examples
#   * optional folder heriarchy

"""
$ jq '._meta.hostvars[].config' data.json | head
{
  "alternateguest

[2019-07-18 15:51] Maixender commented on #59252
my VMs have 3 IP addresses: 172.X.X
172.Y.Y and 10.Z.Z
The script gets me in host_pattern the first address 172.X.X, but I want to recover the 10.Z.Z

[2019-07-18 15:54] Akasurde commented on #42262
@ppuschmann `vmware_guest` uses VMware official library [`pyvmomi`](https://github.com/vmware/pyvmomi) where as `vsphere_guest` uses unofficial deprecated library [`pyvsphere`](https://github.com/argos83/pysphere).

I am not sure how `pyvsphere` works, but `pyvmomi` does not allow vSphere API access to free ESXi. You can read more about this restriction [here](https://kb.vmware.com/s/article/21095

[2019-07-18 15:55] ikelos commented on #40884
Hmmm, very oddly I seem to have run into this again (Operation requires privilege escalation on a device whose user account was level 15 already).  Running ios_facts and supplying the running_config to the ios_config task worked fine, but the weird thing is I'm on ansible 2.8.2?  Was this reintroduced in some way or is something else unusual going on?  I haven't gone so far as to check what prompt

[2019-07-18 15:59] glassresistor opened #59255 "aws_batch_job_definition_module converts parameters from THIS_CASING to THISCasing"
##### SUMMARY
The `aws_batch_job_definition_module` arguement parameters is used to set the default environment variables for an AWS batch job.  Typically environment variables are written in all caps with underscores.  AWS batch job has no additional requirements added to parameters but the ansible module is doing strange unnecessary and undocumented conversions of the parameters keys when creati

[2019-07-18 16:08] samdoran commented on #58415
This is still an issue with 3.8.0b2.

[2019-07-18 16:08] glassresistor commented on #59255
NVM

[2019-07-18 16:08] #59255 closed, assigned to nobody

[2019-07-18 16:10] samdoran commented on #58413
Still an issue with Python 3.8.0b2.

[2019-07-18 16:34] nitzmahone commented on #58415
Hrm, if we've got subprocess issues in 3.8 that are reproducible when coverage is enabled, we should probably try to narrow them down quickly and file bugs on Python if we have any hope of seeing them fixed by 3.8.0... There's not much that's unique to Windows targets in that area that we can't also hit on other target types, so this could be a big issue.

[2019-07-18 16:54] GoodMirek commented on #25182
The issue is still present in ansible 2.8.1.

[2019-07-18 16:58] daveolker commented on #50566
My goal was to ensure the systems I was configuring had a specific pagefile layout in terms of where the pagefile was located and whether it was manually sized or automatically sized.  Even if automatic pagefile management is currently enabled, my expectation is the module would return the current pagefile size and location.  Based on the data it returned I would decide whether to take action or l

[2019-07-18 17:27] rambleraptor commented on #35266
I'm really sorry for closing this prematurely. I could've sworn we had built out a snapshot module.

I'll get working on that and have an update for you by EOW.

[2019-07-18 17:31] mpiecuch-nuage commented on #35266
Thank you so much!

[2019-07-18 17:45] anatolek opened #59258 "The 'meta' module does not know how to work with the 'item' of the loop"
##### SUMMARY
The 'meta' module does not know how to work with the 'item' of the loop.
Also this is true for with_items and with_list.
So, I always get the following error --> 'item' is undefined.
It seems a problem with "ansible_loop_var" variable, but I'm not sure.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules:
- meta
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2019-07-18 18:07] jeff-cook commented on #56994
Both look good, but at first look (without testing) I agree on jpavlav.

[2019-07-18 19:02] bcoca commented on #52308
needs_template

[2019-07-18 19:02] slammin opened #59263 "Having same problem as closed bug #29792"
##### SUMMARY
I am having the EXACT same problem that was reported in a closed bug #29792 due to the author not updating on the problem...please re-open that bug. I could be the new author.

I am using Ansible version 2.8.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios-config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

bug #29792

##### STEPS TO

[2019-07-18 19:05] ericsysmin commented on #59115
Ah, yep, @willthames thank you for clarification, details. lol I assumed it would work with the same keys possible to kubectl

[2019-07-18 19:05] #59115 closed, assigned to nobody

[2019-07-18 19:07] GoodMirek commented on #56385
This is related to https://github.com/ansible/ansible/pull/55067

[2019-07-18 19:10] acozine opened #59264 "Docs: don't display Status for non-module plugins"
##### SUMMARY
We should not generate `Status` sections in the documentation for plugins. Currently pages like the [runas plugin page](https://docs.ansible.com/ansible/devel/plugins/become/runas.html) display a Status section:

![Screen Shot 2019-07-18 at 2 02 57 PM](https://user-images.githubusercontent.com/879121/61484619-e4aede80-a964-11e9-85c8-ff64e8f24e22.png)

However the [source code](https:

[2019-07-18 19:15] wddossett commented on #58876
Hi, I've never opened a bug in github before, it looks like my issue is resolved and just waiting for the commits to be merged into the devel branch.  Is there someway I can find out when that will be, or know when it has happened?  Thanks, much appreciated.

[2019-07-18 19:23] bcoca commented on #59235
can you include full play with -vvv? also can you point out exactly what is not being processed? I have not been able to gather from current output posted.

needs_info

[2019-07-18 19:25] andyfeller commented on #59247
👋 @fabianvf thanks for follow up

I'm not saying the 403 thrown by OpenShift/K8s is inappropriate; I'm saying that the Ansible `k8s` logic should account for different level of permissions in the usage of the functionality without having to hack out a solution.  I want service accounts or people executing automation to have tighter security constraints especially given that the default RBAC roles

[2019-07-18 19:27] bcoca commented on #59252
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-18 19:27] #59252 closed, assigned to nobody

[2019-07-18 19:31] bcoca commented on #59258
Actually, you should get a warning that `loop` is ignored in this context (not valid for most `meta` actions).

As a workaround you can use a filter to set the condition.

[2019-07-18 19:39] felixfontein commented on #59253
That would mean there would be four values, the fourth being `auto` (or something like that), which would also be the default.

[2019-07-18 19:48] MarkusTeufelberger commented on #59253
Since I wondered what `raw` would even mean: https://cryptography.io/en/latest/hazmat/primitives/asymmetric/serialization/#serialization-formats `raw` is "A raw format used by X448 key exchange. It is a binary format and is invalid for other key types."

[2019-07-18 19:50] felixfontein commented on #59253
Not every key type will support every format. Also, I'm not sure what the PyOpenSSL backend will be able to do with this.

[2019-07-18 19:51] fabianvf commented on #59247
Ah I think I understand, is the issue here that we raise an exception when the lookup fails, forcing you to work around it, when we should probably just be emitting a warning letting you know about the `403` and returning an empty list?

[2019-07-18 19:56] andyfeller commented on #59247
@fabianvf : I would love that as my reading of the documentation made me think that was the case.  Or at least give me an option to indicate I'm okay with the exception being swallowed.

[2019-07-18 19:58] MarkusTeufelberger commented on #59253
I'd anyways propose to deprecate pyOpenSSL support starting with 2.9 (will have to be in there for a while longer), since Debian Jessie is EOL now. Ubuntu Xenial might keep us back on pyOpenSSL though. :-(

[2019-07-18 20:02] felixfontein commented on #59253
Yes, I wanted to propose that as well. We will still need it for some modules which have no other backend (or no corresponding code in cryptography they can use, like openssl_pkcs12), but for modules which have good cryptography support, let's really get rid of it!

[2019-07-18 20:14] samdoran commented on #59161
I am unable to duplicate this using the provided playbook. How large is `test.txt`? Can you try with a simpler regexp that matches nothing in the file?

As an aside, setting `vars` on the task rather than `set_fact` is generally a better way to define complex data only needed by a single task.

[code]

[2019-07-18 20:16] falcon78921 commented on #58728
I believe I'm getting the same thing:

Ansible Control Node Info: `CentOS Linux release 7.6.1810 (Core)`

[code]

[code]

Snippet of output from `ansible-playbook test.yml -i test -vvv`:

[code]

Output from when I explicitly define `gather_subset: '!hardware'`:

[code]

I tested this on both 2.8.0 and 2.8.1 and I get the same result. If I define `gather_subset: '!hardware'` explicitly in my playb

[2019-07-18 20:29] samdoran commented on #59161
Sorry I missed the attached test file. I am able to duplicate this using the attached test file. It is hanging in `re.sub()`. The regular expression compiles fine, but is choking on that file.

[2019-07-18 20:29] dw commented on #57351
FWIW I would vote to revert -- per https://github.com/ansible/ansible/pull/44280#issuecomment-441680672 this interferes with threading work, which represents a much bigger overall win than the original change

[2019-07-18 20:40] samdoran commented on #59161
This seems to be a problem with the regular expression and the given text, not a bug in Ansible. I bet there is a recursion somewhere in the regular expression that is being trigger by the test file. If I delete lines 45 to the end of the file, it does not hand. Deleting _only_ lines 45-90 still hangs.

[2019-07-18 20:46] d-little commented on #51750
@ramooncamacho Could you please confirm that this is still a problem?  It looks as though the documentation examples are correct on the **[aix_devices page](https://docs.ansible.com/ansible/latest/modules/aix_devices_module.html)**

If this issue is still present could I ask for some specific examples? I may be misunderstanding the request!

Thanks.

[2019-07-18 20:47] d-little commented on #51754
@ramooncamacho Could you please check out PR #59112 and see if it resolves this issue for you?

[2019-07-18 20:48] d-little commented on #51755
@ramooncamacho / @mator  PR #59081was submitted to attempt to resolve this.  Any chance you could check it out and test? :) Thanks

[2019-07-18 20:54] MaxBab commented on #57991
The #57993 patch included some refactoring on the validation process.
I asked to split the refactoring and the comment adds to the return value.
The comment in the return value will be added in another patch.

resolved_by #59268

[2019-07-18 20:57] eehret opened #59269 "Ansible ignoring AZURE_PROFILE environment variable in Azure Cloud Shell"
##### SUMMARY
Ansible does not seem to respect AZURE_PROFILE environment variable when running an ansible-playbook in Azure Cloud Shell.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook; azure_rm_networkinterface module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Azure cloud

##### STEPS TO REPRODUCE
Using Azure Cloud Shell, attempt to run

[2019-07-18 21:00] anatolek commented on #59258
@bcoca What exactly filters do you mean? Could you, please, give an example of how you see the issue could be resolved?

[2019-07-18 21:04] misilot commented on #47676
I believe this also affects 2.8.1, as I am seeing the same thing.

[2019-07-18 21:45] AirCombat commented on #57405
Also an issue for me

[2019-07-18 21:49] bcoca commented on #59258
not functional (top of my head), but something like this

````when: ansible_facts.services|map('extract', de_service_name)|list|select('running')|list```
that 'should' run if any of the services in 'de_service_name' is in 'running' status, otherwise its an empty list, which is `False`.

[2019-07-18 22:26] jctanner commented on #59161
Reproducer ...

[code]

[2019-07-18 22:28] jctanner commented on #59161
@samragu There's nothing we can do here other than to advise you to try to optimize your regex or use a functional hmtl parser / editor. The re library isn't "hung", it's stuck in a loop trying to backtrack references.

[2019-07-18 22:28] #59161 closed, assigned to nobody

[2019-07-18 22:29] ramon-garcia commented on #46809
The available properties are the ones in the interface [InetFwRule](https://docs.microsoft.com/en-us/windows/win32/api/netfw/nn-netfw-inetfwrule)  . There are extended versions InetFwRule2 and [InetFwRule3](https://docs.microsoft.com/en-us/windows/win32/api/netfw/nn-netfw-inetfwrule3), but they require at least Windows 8 or Windows Server 2012.

[2019-07-18 23:16] willthames commented on #59247
@andyfeller are the results similar using `k8s_info` (or `k8s_facts` in 2.8 or below)?

[2019-07-18 23:27] Tomorrow9 commented on #57937
Hi @Akasurde, ok, may it's better to create a new module to do add, remove operations for VM disk controllers, like "vmware_guest_disk_controller". Thanks.

[2019-07-19 00:48] mattclay opened #59275 "Create a test suite for ansible-test"
##### SUMMARY

The test suite should verify that ansible-test works correctly on both the Ansible source and Ansible collections.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

[2019-07-19 01:02] mattclay opened #59276 "Update validate-modules to support collections"
##### SUMMARY

The module validator needs to be made collection aware so that it can avoid reporting issues that are not relevant to collections content.

Some examples of changes in behavior that are required (not an exhaustive list):

- E502 - Collections do not require `__init__.py` for module subdirectories.
- E305 - The module schema requires version_added, which is not relevant for collectio

[2019-07-19 01:12] mattclay commented on #59275
I recommend testing against the ansible-test command line interface as much as possible, since that should be fairly stable. The Python code should not be considered a stable API currently. The internals of the code are likely to change significantly and rather frequently during the remainder of the development cycle for the Ansible 2.9 release.

[2019-07-19 01:54] MyronFanQiu commented on #59251
@Rajinikamu84 Hello. It seems like a python SDK error. Could you share the sdk version with us? or you can try to have a test by opening a virtual env.

[2019-07-19 01:55] MyronFanQiu commented on #59269
@yuwzho @zikalino @yungezz It's an issue about the Azure Cloud Shell, please take a look at it when you are free.

[2019-07-19 02:04] Akasurde commented on #57937
@Tomorrow9 Yes, sure.

[2019-07-19 02:59] shirleycharlin opened #59279 "hacking folder missing when manually download respo into desktop"
I am not able to locate hacking folder after I have manually downloaded into windows desktop.
I am using this respo for testing in RHEL 8 environment.

May I know if anyone had encounter this?

[2019-07-19 03:11] shirleycharlin commented on #59279
I am pulling ansible version 2.8
component name will be /ansible/hacking/*
the issue will lie on unable to pull the hacking folder

[2019-07-19 04:38] Akasurde commented on #58807
needs_info

[2019-07-19 05:14] Akasurde commented on #59279
@shirleycharlin Thanks for reporting this issue. When you download dist-release zip it is governed by [`.gitattributes`](https://github.com/ansible/ansible/blob/devel/.gitattributes), where it excludes `hacking` directory from export list.

Please clone the repo in-order to get `hacking` directory. Thanks.

You can read more about `.gitattributes` file [here](https://git-scm.com/docs/gitattributes

[2019-07-19 05:14] #59279 closed, assigned to Akasurde

[2019-07-19 05:21] #38033 closed, assigned to nobody

[2019-07-19 05:22] Akasurde commented on #55204
Closing this issue as PR #55990 is merged. If issue persists, please feel free to open a new issue.

Thanks.

[2019-07-19 05:22] #55204 closed, assigned to Akasurde

[2019-07-19 05:42] mkrizek commented on #59146
`yum-plugin-versionlock` is not a name of the plugin, `versionlock` is.

[2019-07-19 05:45] mkrizek commented on #59235
!needs_info

[2019-07-19 06:08] Rajinikamu84 commented on #59251
@MyronFanQiu

Below are my python pacakges in ansible venv path
# source /var/lib/awx/venv/ansible/bin/activate
#pip freeze
adal==1.2.2
ansible==2.8.0
apache-libcloud==2.2.1
appdirs==1.4.3
applicationinsights==0.11.1
argcomplete==1.9.4
asn1crypto==0.24.0
azure-cli-core==2.0.35
azure-cli-nspkg==3.0.2
azure-common==1.1.11
azure-graphrbac==0.40.0
azure-keyvault==1.0.0a1
azure-mgmt-authorization==0.51

[2019-07-19 06:27] pknutti commented on #57743
I will try it out. Thanks

[2019-07-19 06:39] #58876 closed, assigned to nobody

[2019-07-19 07:03] mkrizek commented on #59258
We recently (#57921) added a note in the docs that looping on meta tasks is not supported. The `devel` docs: https://docs.ansible.com/ansible/devel/modules/meta_module.html#notes

Also see https://github.com/ansible/ansible/issues/57427

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum

[2019-07-19 07:03] #59258 closed, assigned to nobody

[2019-07-19 07:15] aminancelot commented on #30864
@bcoca I have seen this happening with very simple to no conditionals. I unfortunately don't have an example in my hands right now but let's not assume right away it's because of misuse.
On the performance side of things, I'd gladly accept a command line switch to turn this feature on.

[2019-07-19 07:32] cgoeller commented on #58721
Will this bug be fixed in Ansible 2.8.3 ?

[2019-07-19 08:04] Akasurde commented on #58721
@cgoeller I have created backport PR https://github.com/ansible/ansible/pull/59087 and once this is merged, change will be available in 2.8.3.
Thanks.

[2019-07-19 08:26] mircea-vutcovici opened #59282 "lvg defualt pesize is int, and casted implicitely to string with a warning"
##### SUMMARY

The module lvg is showing a warning  when the value of `pesize` set in the defaults of the module is cast from int to string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lvg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEPS TO REPRODUCE

Use lvg module without setting "pesize

[2019-07-19 08:31] autra commented on #57529
Another possible workaround, adding an empty:
[code]
at the top of your playbook.

The "gathering facts" part will be implicitly executed every time. I *think* it should work as expected with `-l` but haven't tested (my use case involves several groups, but it's currently the same hosts).

[2019-07-19 08:32] mircea-vutcovici commented on #59282
Seems that this commit should solve the isue, but I tested and it it still showing the warning:
[code]

[code]

[2019-07-19 08:40] Vladimir-csp commented on #59017
Predictably, loops worsen the situation. But that appears to be addressed already in https://github.com/ansible/ansible/pull/56817

[2019-07-19 08:41] mkrizek commented on #59146
needs_info

[2019-07-19 08:43] autra commented on #57529
And btw, this IS a regression: a valid use case (having tags on both plays an roles) has been broken to optimize the facts gathering step. This issue should be reopened.

[2019-07-19 09:21] cwegener commented on #39633
I just found out about this discussion and wanted to share my experience.

I have recently started using the PowerShell module and DSC resource that
@daBONDi is referring to in his comment above.

In my experience the PolicyFileEditor DSC resource is able to cover a very
large percentage of my use cases.

The only LGPO items that I have found not to be manageable via the
PolicyFileEditor so far ar

[2019-07-19 09:32] kuPyxa commented on #59017
In case with many dependencies in role meta data, it happens in this [function](https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/role/__init__.py#L366).

[2019-07-19 10:04] hanswurscht commented on #59235
I tried using the tagged source version 2.8.1 from github directly: the error is gone.
There seems to a problem with the package from RHEL.

[2019-07-19 10:09] mkrizek commented on #59235
Does `yum update ansible` to update to 2.8.2 solve the issue?

needs_info

[2019-07-19 10:28] mvorisek commented on #58858
I am just reporting an issue, but anyway, is the proposed behavious welcomed? For me it is clear bug, as adding an entry multiple times can create very bad situations.

[2019-07-19 10:44] nerijus commented on #57942
Yes, it works now, thank you!

[2019-07-19 10:45] hanswurscht commented on #59235
Unfortunately there is no 2.8.2 in EPEL currently. Latest version there is 2.8.1

[2019-07-19 10:51] andyfeller commented on #59247
👋@willthames results are similar it seems though it seems there is a little more info that might highlight what's going on.

`k8s_facts` result:

[code]

[code]

It seems the pertinent bit is:
[code]

Digging into [kubernetes_facts() in lib/ansible/module_utils/k8s/common.py](https://github.com/ansible/ansible/blob/v2.8.2/lib/ansible/module_utils/k8s/common.py#L206), the `except` block throws the

[2019-07-19 10:57] abraxxa opened #59290 "openssl_csr emailAddress is UTF8String instead of IA5String"
##### SUMMARY
When generating a csr using the openssl_csr module the generated csr file has the emailAddress UTF8String encoded instead of IA5String.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9 64bit

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The generated csr file should h

[2019-07-19 10:59] oxie opened #59291 "Variable not Registering"
##### SUMMARY
Hey guys the problem i encounter is the following:

I have a simple conditioned task, if variable is true do this if variable false do that.

So i am registering the same thing - isFind.

if its run - isFind: true. the first condition is skipped and second is run and then register works as supposed.

but if its run - isFind: false. the first condition is run and the second is skipped

[2019-07-19 11:01] hanswurscht commented on #59235
It seems that in 2.8.1 from EPEL there is a patch applied manually:
https://github.com/ansible/ansible/pull/57188

If i apply that patch to the tagged source version 2.8.1 of ansible, the example playbook ist broken again.

[2019-07-19 11:03] rlees85 commented on #39895
+1 for this, am very surprised that the only way to look up an AWS SSM parameter in Ansible is via a `lookup` that runs locally rather than with the remote servers IAM profile.

I ended up using user data to get around it in my case.

[2019-07-19 11:31] mkrizek commented on #59235
Thanks for tracking that down. Can you try and test the `devel` branch from git to see if the issue is resolved there?

[2019-07-19 11:51] kakawait commented on #56629
Other potential rollback is

[code]

Currently I stick on `2.7`, other workaround about copying piece of code from `2.7` inside `2.8` looks like much more complicated for me

[2019-07-19 11:55] kovaxur commented on #58985
Hi
I have the same problem with ansible_network_os: ios:

[code]
Ansible version:
2.8.2 (2.8.2-1.el7.ans)

If i change back to local connection, then the problem disappears.

[2019-07-19 11:57] febeling commented on #51288
That info should be present in docs and error message

[2019-07-19 12:01] mboehm21 opened #59293 "apt autoremove not working"
##### SUMMARY
apt-module does not autoremove old packages.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
Task
[code]
On run:
[code]

##### EXPECTED RESULTS
Old dependencies are gone.

##### ACTUAL RESULTS
Old packages are still there:

[code]

[code]

[2019-07-19 12:07] mkrizek commented on #59293
This has been already reported. Closing this as a duplicate of https://github.com/ansible/ansible/issues/38791.

As a workaround use `autoclean` and `autoremove` in separate tasks.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-19 12:07] #59293 closed, assigned to nobody

[2019-07-19 12:33] ironfroggy commented on #51288
@febeling that has been my main concern. I know its a little tricky to do the 2FA through a CLI interface, but leaving the user without any indication why it has failed is still, imho, absolutely a bug whether we intend to implement 2FA or not.

[2019-07-19 12:57] gundalow commented on #59264
There was talk of adding `ANSIBLE_METADATA` to plugins. Maybe worth checking with Dylan & Tanner.

[2019-07-19 13:06] onnd commented on #56501
This is causing problems for us as well.
I suspect it's this PR: https://github.com/ansible/ansible/pull/49731

It would be good to have a module parameter to control this in some way.

[2019-07-19 13:18] jean-christophe-manciot opened #59295 "Add "save_when" parameter to nxos_nxapi & nxos_feature modules"
##### SUMMARY
Setting nxapi feature on an NX-OS 9k with nxos_nxapi is lost in the wind after a restart of the target device.
This sounds a lot like [nxos_nxapi: Not idempotent](https://github.com/ansible/ansible/issues/21832) from @gundalow
It is probably the same behaviour with ```nxos_feature```.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_nxapi

##### ANSIBLE VERSION
[code]

#####

[2019-07-19 13:18] balmha opened #59296 "TASK [docker_compose] FAILED!: The error was: cannot import name credentials"
**COMPONENT NAME**
docker_compose

**ANSIBLE VERSION**

[code]

**CONFIGURATION
OS / ENVIRONMENT**
N/A

**SUMMARY**
Running docker_compose is producing an error instead of running a service via docker-compose.

I had installed the latest docker-compose binary 1.24.1 to /usr/local/bin and installed the same version via pip before running docker_compose.

**STEPS TO REPRODUCE**

[code]

**PACKAGE VE

[2019-07-19 13:29] Rajinikamu84 commented on #59251
This is bit urgent. Can someone help us on this quickly ?

[2019-07-19 13:33] #55613 closed, assigned to NilashishC

[2019-07-19 13:38] Akasurde opened #59299 "snow_record: 'NoneType' object has no attribute 'generate_token'"
##### SUMMARY
With addition of OAuthClient in snow_* modules, I am getting following error -
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Mojave

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook should be successful.

##### ACTUAL RESULTS

[code]

[2019-07-19 13:38] Akasurde commented on #59299
@n3pjk Does this rings a bell for you ?

[2019-07-19 13:45] geekev opened #59300 "ncclient timeout to slower SRX firewalls"
##### SUMMARY
When running ansible playbook, most Juniper devices configure OK but slower firewalls e.g. SRX-300 have ncclient timeout. The timeout interval before failure  30 seconds approximately.
We recently upgraded to ansible version 2.8.2 . More recently we ran pip uninstall napalm / pip install napalm to solve an issue with Cisco devices.
We tried increasing  persistent_connection timeouts

[2019-07-19 13:50] vzabawski commented on #48337
I'm having this issue in Ansible 2.8 with Zabbix 4.2.
I have two template import statements: one import templates that are not linked to any other templates, and other import templates that have dependencies from other templates. For some reason first statement shows *ok* while the second statement always shows its state as *changed* but not for all templates, only for some of them. And it seems l

[2019-07-19 13:52] MyronFanQiu commented on #59251
@zikalino Could you please take a look? Does python sdk rely on some common rest runtime?
@Rajinikamu84 Meanwhile, could you try
```pip install -r ansible/packaging/requirements/requirements-azure.txt```
or
`pip install --user -r ansible/packaging/requirements/requirements-azure.txt`
to reinstall all the dependency?

[2019-07-19 13:57] tclavier opened #59301 "win_nssm password with quote"
##### SUMMARY

Given this yaml entry

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` report nothing

##### OS / ENVIRONMENT
Windows server 2012

[2019-07-19 14:02] Akasurde commented on #59299
!component =lib/ansible/modules/notification/snow_record.py

[2019-07-19 14:19] geekev commented on #59300
└─521─▶ pip freeze
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
ansible==2.8.2
appdirs==1.4.3
asn1crypto==0.24.0
awscli==1.16.197
bcrypt==3.1.7
boto3==1.9.187
botocore==1.12.187
certifi==2019.6.16
cffi==1.12.3
chainmap==1.0.3
charde

[2019-07-19 14:23] mw-root commented on #58069
I entirely understand the frustration with Azure REST APIs.. this is why I use ansible ;)

I also believe there at least needs to be a flag to set to append/overwrite. Many of us are adding LB rules as products and services come online. We need to be able to add these rules without going out and pulling all existing rules, frontend ip configs, and probes and adding them to the task.

[2019-07-19 14:26] andyfeller commented on #59247
Switching gears, I spent a little time on how I would expect to test the results from checking if a resource didn't exist and thought would tack onto here for feedback and testing purposes; logic from the `assert` would likely be used within a `fail` task in my own use case.

[code]

[code]

[2019-07-19 14:37] SarahJaine opened #59303 "ec2_launch_template missing delete specific template version"
##### SUMMARY

First, thank you for creating and maintaining ansible. It's a great automation tool.

The [ec2_launch_template documentation](https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/cloud/amazon/ec2_launch_template.py#L48) provides direction for deleting a specific version of a launch template (rather than all versions).

However, the [delete_template function](https:

[2019-07-19 14:43] ganeshrn commented on #59300
@geekev This issue is fixed in devel as part of PR https://github.com/ansible/ansible/pull/58322.
Can you please test with the devel branch, if this fixes the issue we can probably backport it to stable-2.8 version.

[2019-07-19 14:44] ganeshrn commented on #59300
needs_info

[2019-07-19 14:48] bcoca commented on #59291
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You expect conditionals to avoid 'registering' the variable, but this is not the case, since the variable contains the 'result status'

[2019-07-19 14:48] #59291 closed, assigned to nobody

[2019-07-19 14:49] n3pjk commented on #59299
The example yaml does not use OAuth. It is only specifying user and password, not client id and secret.  I will review the code to make sure that tokens aren't assumed when basic authentication is used, as in this case.

[2019-07-19 14:51] bcoca commented on #59264
the problem is that currently BOTMETA is cannonical (reads modules and plugins and then overrides) so not sure that would be the correct way to go forward

[2019-07-19 14:55] n3pjk commented on #59299
I found the logic error in module_utils/service_now.py.  I will patch and create a PR shortly.

[2019-07-19 15:04] jpmahowald commented on #59004
Verify-Peer and Verify-Host workaround is evidence your CA certificate is not installed. If so, the module is correct about the cert and this is not a bug.

Please provide proof this certificate chains to a CA you have installed. Many ways to do that.  In ansible, you can download the cert with  [get_certificate](https://docs.ansible.com/ansible/latest/modules/get_certificate_module.html)  then pa

[2019-07-19 15:07] misilot commented on #42560
I am seeing this as well on 2.8.1

[2019-07-19 15:08] Rajinikamu84 commented on #59251
We have already installed the python sdk based on the below requirements.txt file

packaging
requests[security]
azure-cli-core==2.0.35
azure-cli-nspkg==3.0.2
azure-common==1.1.11
azure-mgmt-authorization==0.51.1
azure-mgmt-batch==5.0.1
azure-mgmt-cdn==3.0.0
azure-mgmt-compute==4.4.0
azure-mgmt-containerinstance==1.4.0
azure-mgmt-containerregistry==2.0.0
azure-mgmt-containerservice==4.4.0
azure-mgm

[2019-07-19 15:09] Rajinikamu84 commented on #59251
@zikalino  @MyronFanQiu - Please help us to fix this

[2019-07-19 15:29] anatolek commented on #59258
I solved my problem using the python dictionary method get()
[code]

[2019-07-19 15:33] AlanCoding opened #59306 "Unwanted errors when running multiple async tasks locally"
##### SUMMARY
An task using `async` and `poll` can fail intermittently due to an implementation flaw.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/utilities/logic/async_wrapper.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS

##### STEPS TO REPRODUCE
Run this playbook:

https://github.com/ansible/test-playbooks/blob/master/asy

[2019-07-19 15:36] hryamzik commented on #58858
Sound fine to me.

[2019-07-19 15:57] ababushk opened #59308 "'become: yes' throws an unexpected error on Windows"
##### SUMMARY
become: yes and --become options don't work on Windows. According to https://docs.ansible.com/ansible/latest/user_guide/become.html#become-and-windows we can simply type something like
[code]
or
[code]
But this will give the following error:
[code]
With `ansible -vvv`:
[code]
It can be possible duplicate of #57770 but I've faced this when tried to use `win_credential` module.
If run

[2019-07-19 16:03] bcoca commented on #30864
An explicit knob to turn it on definitely make performance less of an issue.

Also, I did not mean to imply misuse, sometimes life requires complex conditionals, I was just advising to break them up into smaller and easier to handle chunks.

[2019-07-19 16:17] ansensible commented on #58772
The original bug report failed to mention that the playbook run completes without error. According to discussions on IRC this is in indeed a bug; the file module should fail with an error.

[2019-07-19 16:27] s-hertel commented on #49751
Resolved by #58893

[2019-07-19 16:27] #49751 closed, assigned to nobody

[2019-07-19 17:01] s-hertel opened #59310 "unstable s3_lifecycle tests"
##### SUMMARY
S3 lifecycle tests are persistently failing, probably due to AWS changing something about their eventual consistency model.

https://app.shippable.com/github/ansible/ansible/runs/132825/68/tests (stable 2.6)
https://app.shippable.com/github/ansible/ansible/runs/132893/68/tests (stable 2.7)
https://app.shippable.com/github/ansible/ansible/runs/132895/101/tests
https://app.shippable.co

[2019-07-19 17:52] n3pjk commented on #59299
@Akasurde I am unable to test basic auth access, but I retested OAuth and it remains unaffected by this patch. Please retry access with just user/pass and see if this eliminates error.  Also, may want to create a "team_snow" with @garbled1 and @n3pjk as members, for the two snow_record* modules, module_util/service_now.py and plugins/doc_fragment/service_now.py.  Shall I make a PR for BOTMETA.yml?

[2019-07-19 18:12] bcoca commented on #56571
so i would revert the changes, add it to the 'defaults' for flags  and add a note to docs that depending on version you might need to override default, hardcoding it makes it impossible for users to bypass

[2019-07-19 18:16] chazzly commented on #52239
Running into the same issue.  Anyone looking at this?

ansible 2.8.0
  config file = /home/a850411/repo/VI/sp_build_hypervisor/ansible.cfg
  configured module search path = [u'/home/a850411/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/a850411/virtenvs/mole/lib/python2.7/site-packages/ansible
  executable location = /home/a850411/virtenv

[2019-07-19 18:22] a31amit opened #59317 "Ansible facts include moterboard serial number"
##### SUMMARY

Please include a baseboard/motherboard serial number and Motherboard product name in ansible gather_facts

This can be added to facts as similar to other items are being discovered with
/sys/class/dmi/id/board_name
/sys/class/dmi/id/board_serial
/sys/class/dmi/id/board_vendor
/sys/class/dmi/id/board_version

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

facts

##### ADDITIO

[2019-07-19 18:43] AlanCoding commented on #59306
I thought https://github.com/ansible/ansible/issues/39699 might be similar, but I think it just hits some of the same subject matter and the similarities pretty much end there.

[2019-07-19 19:04] maxkrylov commented on #48785
it kept my nerves! i debug few hours, fixing differents opts in local postfix relay, iptables, but it was in mail module.. @k0ste very thx ))

[2019-07-19 19:11] felixfontein commented on #59296
It looks like something went wrong when installing the Docker SDK for Python. The `credentials` import is done internally by that SDK. You can try running /usr/bin/python as the user Ansible is using on `iluminar.unnoba.edu.ar`, and try to paste the following lines:
[code]
They should produce the same error.

[2019-07-19 19:15] felixfontein commented on #59290
Do you have [cryptography](https://pypi.org/project/cryptography/) and/or [pyOpenSSL](https://pypi.org/project/pyOpenSSL/) installed for the Python used by Ansible on the target, and if yes, which versions?

If you have `cryptography >= 1.3` installed, it will be used by the `openssl_csr` module. The fix from pyca/cryptography#4034 was first included in cryptography 2.2, so if you happen to use ve

[2019-07-19 19:40] felixfontein commented on #59290
Anyway, with cryptography 2.7, I got the email address as a IA5String.

[2019-07-19 19:43] chrismeyersfsu opened #59320 "specify ansible-galaxy token file directory"
##### SUMMARY
`ansible-galaxy collection install ...` will create a file to save the galaxy token in `~/.ansible_galaxy`. This causes problems when the users home dir isn't writeable and potential problems in a multi-tenant shared-user environment.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-galaxy collection

##### ADDITIONAL INFORMATION
I would like a knob to be able to tell `

[2019-07-19 20:04] basictheprogram opened #59321 "apt_repository, loop, Failed to connect to the host via ssh on 2nd iteration of loop"
##### SUMMARY
Using apt_repository in a loop to add repositories and on the 2nd iteration of the loop the tasks fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Management host: macOS 10.14.5
Managed host: Ubuntu 14.04 Trusty

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`/etc/apt

[2019-07-19 21:04] basictheprogram commented on #59321
Using ANSIBLE_KEEP_REMOTE_FILES=1
[code]
That's the first iteration through the loop.

Because the 2nd iteration errors I don't have a temp file on the managed host.

The problem looks like it's on the management host?

Could my host inventory file have anything to do with my management host losing the ability to look up the managed host?
[code]

[2019-07-19 22:13] kokasha opened #59326 "junos_ping fail when using netconf connection plugin"
##### SUMMARY
junos_ping module fails when using the netconf connection plugin, however when using the network_cli it works with no problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_ping module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

test against Junos 14.1R4.8 and JUNOS 17.1R1.8

##### STEPS TO REPRODUCE

when using the netconf plugin t

[2019-07-20 04:23] D3DeFi commented on #48337
Hello @vzabawski. What is your version of python? Can you please try to reproduce the problem with these proposed patches: #59181 and #59040 . Especially in the second one, there was a lot of internal changes to the module itself.

[2019-07-20 08:22] ksubileau commented on #59301
The user and password parameters are deprecated since 2.8. Please try using the new recommended approach with `win_service` and tell us if you still have the same issue this way:
[code]

[2019-07-20 08:44] hanswurscht commented on #59235
I tried both 2.8.2 and current devel. Both work

So it seems that just the combination of 2.8.1 with that patch #57188 seems to break things.

When will there be a new version in EPEL?

[2019-07-20 11:13] dnmvisser commented on #58472
I just ran into this, using 2.8.2:

[code]
Applying https://github.com/ansible/ansible/pull/59231 fixed it though.
Also, with 2.7.12 I had no issues.

[2019-07-20 12:52] imp1sh commented on #49362
Python2 is loosing support next year so everybody is being force to drop python2 support for everything. Why not just install python3-dnf instead of python2-dnf?

[2019-07-20 14:25] Akasurde commented on #59299
@n3pjk With PR #59315 it is working fine for me. For `team_snow` please create a separate PR.

[2019-07-20 14:36] mgoleary opened #59337 "win_reg_stat fails when registry key is in HKEY_USERS\.DEFAULT hive"
##### SUMMARY
win_reg_stat module fails when running against keys in the HKEY_USERS\.DEFAULT hive. All other hives (HKEY_CURRENT_USER, HKEY_LOCAL_MACHINE\*, etc) appear to be working fine, however.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_reg_stat module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
target OS: Windows Server 2016 Datacenter

##

[2019-07-20 14:46] Nachtmerrie commented on #15297
Issue still present with ansible 2.8.1

[2019-07-20 15:06] jpmahowald commented on #24228
Counting closes does indicate that contributes to the slowdown.  My environment is CentOS 7, on a GCP f1-micro instance. So not a lot of hardware facts to parse.

[code]

655360 open files limit  (AKA nofile in limits.conf  for pam_limits)
[code]

1024 open files limit

[code]

Regarding py3, testing the 655360 ulimit again with Python 3.6.8 from EPEL
[code]

And with 1024 open files ulimit, exact

[2019-07-20 15:08] mgoleary commented on #59337
https://github.com/ansible/ansible/pull/53305/commits/e41312db3ca163a29609e1806f2e14bf1c98cdd3#diff-246ef5684820c36fd431bbc01589168fR83
This line appears to be the culprit

[2019-07-20 15:51] Akasurde commented on #37408
Closing this issue since PR #38744 is merged. Please feel free to open a new issue if problem persists.

[2019-07-20 15:51] #37408 closed, assigned to nobody

[2019-07-20 16:36] fbruetting commented on #52354
@samdoran Could you please be a bit more specific about why changing a few paths would not work for most users and causes more problems that it solves?

I filed such issues for quite some programs out there, sadly often maintainers feel that their software is so special that sticking to standard paths is not an option. Never got a real answer about why though. If developers need to access those di

[2019-07-20 18:35] monojitsaba opened #59339 "appending zero gets omitted while using variable with numeric value in ansible role yml file"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I am using "{{ version_no }}" variable in main.yml in an ansible role whose value is defined in property file as 08. But ansible reads this value as sometimes 08 and sometimes 8. This causes failure in my play. This variable is a part of a file name. This is a intermittent issue. I am using ansible ve

[2019-07-20 20:42] lparkes commented on #42262
There seems to be a private API for guest creation that the fat client uses. The public API is not licensed to create guests and the author of pyvsphere has (presumably) reverse engineered the private API.

This has affected the offical HTML5 interface to vSphere in the past, where VMware's own GUI couldn't create guests when a host is licensed with the free license.

@ppuschmann can you comment o

[2019-07-20 21:29] jborean93 commented on #49362
@imp1sh the problem is that you are trying to run the dnf module with `/use/bin/python` which is Python 2. The module just checks on the Python version that is currently running and if it’s Python 2 it will attempt to install `python2-dnf` which is no longer available in recent Fedora versions.

The dnf module can’t change interpreters as it is not in charge of that proves so you must do it yourse

[2019-07-20 21:44] madic-creates opened #59340 "proxmox_kvm not working with proxmox 6.0"
##### SUMMARY
proxmox_kvm fails on proxmox 6.0 with the following error:
"authorization on proxmox cluster failed with exception: invalid literal for float(): 6.0-4"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### EXPECTED RESULTS
proxmox_kvm should be able to authenticate

##### ACTUAL RESULTS
proxmox_kvm can't authe

[2019-07-20 21:54] balmha commented on #59296
Yes, I have tried to running those lines and I receive the same error, how can I solve it?

[2019-07-20 22:21] simpss commented on #57628
Ok, looks like this is actually caused by a flaky network/VPN connection. Not sure why it is reproducible at this specific step, but using a local(to me) VM makes everything work.

The remote site does sit behind an awful network connection and sometimes YUM ansible module hangs during a normal install as well.

[2019-07-20 22:21] #57628 closed, assigned to mkrizek

[2019-07-20 23:31] oxie commented on #59291
Hey Thanks a lot for the Response bcoca!

It would have been really nice to have this, would give a lot of power to be able to do this :)

Cheers!

[2019-07-21 05:41] rohammosalli commented on #33699
Try to uncomment these lines on  /etc/ansible/ansible.cfg file

[code]
and incraze timeout variable to 40

[2019-07-21 07:10] AirCombat opened #59348 "win_domain / win_domain_controller - log path missing"
##### SUMMARY

The equivelent powershell command to win_domain includes the option to specify log path:
[code]
This has been missed in the win_domain module but SYSVOL and Database path are included, this is not consistent.
In addition to this, the win_domain_controller does not include it as a parameter in docs but it is in the examples! but also has no effect.

Should be an easy fix to make, oth

[2019-07-21 07:29] ShachafGoldstein commented on #59348
I don't see a log related parameter for win_domain.
The log for win_domain_controller is a debug log of the module if that is what you require and it should be in the proper location

[2019-07-21 07:51] ShachafGoldstein commented on #59337
I'm seeing something else, line 122 doesn't have a null check for and causes a null exception, and when the path doesn't exists I get just the HKU back from the line you mentioned

[2019-07-21 08:30] AirCombat commented on #59348
Thats the issue, there is no method to set the active directory log directory. This is a parameter for Install-ADDSForest and all other common parameters are included in the module. Why allow the module to specify sysvol and the database but not the db log path. :)

[2019-07-21 08:44] maweki opened #59350 "module pip doesn't update virtualenv when virtualenv_python changes"
##### SUMMARY

When using the `pip` module with a `virtualenv` and `virtualenv_python` is issued then the correct environment for that python version is installed. If the version is changed in the task or there are different `virtualenv_python` attributes in the same task, then only the first one works and is never updated.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
pip

#####

[2019-07-21 08:52] AirCombat opened #59351 "Docs for win_firewall_rule (protocol is mandatory if localport is specified)"
##### SUMMARY
win_firewall_rule docs do not specify that protocol is mandatory when specifying a port. This is not obvious, in my case i wanted a rule to allow both TCP and UDP.

MSFT docs for New-NetFirewallRule specifies:
"If the Protocol parameter value is TCP or UDP, then the acceptable values for this parameter are- etc.." something similar in the ansible docs would make sense

https://github

[2019-07-21 09:09] felixfontein commented on #59296
It would help a lot if you could say after which line you got the error, and what was the exact error (i.e. post the stacktrace).

[2019-07-21 09:48] ShachafGoldstein commented on #59351
This seems like a continuation of #58796, I can make a PR for this later this week if no one else will before me

[2019-07-21 13:07] mvorisek opened #59352 "win_chocolatey - priviledged access for WIndows 7"
see update in the post below, there is an issue with priviledged access required by two Microsoft packages

#### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
latest Ansible 2.8 from Ansible apt

##### OS / ENVIRONMENT
latestDebian 9

##### STEPS TO REPRODUCE
Example task to install PHP, it needs some dependencies like Microsoft KBs

[2019-07-21 13:47] mvorisek commented on #59352
I have isolated the problem, it seems the issue is that the chocolatey does not have enought priviledges on Windows 7 even if the user is Administrator.

[code]

This always fails. Once the packages are installed manually thru command line on the destination host, everything works.

How to fix the task above to successfully install the packages via Ansible?

[2019-07-21 14:54] prbond commented on #59340
I have the same error.

[2019-07-21 15:25] don-rumata commented on #47862
https://superuser.com/a/1462367/505198

[2019-07-21 16:49] mgoleary commented on #59337
I'm getting the same error (as shown in Actual Results) when testing against both a path or property key that exists and also a path the doesn't exist or a property key that doesn't exist. If I add the colon after HKU on this line https://github.com/ansible/ansible/commit/e41312db3ca163a29609e1806f2e14bf1c98cdd3#diff-246ef5684820c36fd431bbc01589168fR83, everything works as expected

[2019-07-21 17:38] chaddjohnson opened #59353 "Close MongoDB client connection in mongodb_user when done"
##### SUMMARY

Thanks for the great software :)

When setting up a MongoDB database server, one will generally want to create a root user and then create a second, more limited app user. Here is my attempt at this:

[code]

Creating the admin user succeeds, but once I enable authorization, restart MongoDB, and attempt user creation, I receive the following error every time I run the playbook:

[co

[2019-07-21 17:54] sbuvaneshkumar opened #59355 "vmware_guest module not working with local IP address"
##### SUMMARY
I am unable to provision virtual machine in my home lab VMWare Esxi server as it looks like vmware_guest module expecting resolvable FQDN, but my lab environment is running with local IP address.

Playbook:
[code]

[code]

Error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 3

[2019-07-21 19:49] jborean93 commented on #59352
The issue is less to do with groups and privileges but the difference between a network (WinRM) and interactive (local) logon. There are certain things that Windows restricts when running from a network logon and the main one of updates. You can use [become](https://docs.ansible.com/ansible/latest/user_guide/become.html#become-and-windows) to overcome this issue and install these packages with Ans

[2019-07-21 19:49] #59352 closed, assigned to nobody

[2019-07-21 22:35] jborean93 commented on #59301
As @ksubileau has mentioned, using the username and password options in `win_nssm` is deprecated and you should be using `win_service`. If that is also having issues please open a issue for that not module. Feel free to open a PR to fix this in win_nssm but this won't be tracked because the feature is going away.

[2019-07-21 22:35] #59301 closed, assigned to nobody

[2019-07-21 22:36] jborean93 commented on #59348
Issue is a feature request not a bug, edited post to reflect this.

[2019-07-21 22:49] jborean93 commented on #39587
The default http agent value and the ability to set it as an option like `get_url` has been implemented with https://github.com/ansible/ansible/pull/54759. That PR also aligns the options and implementation for both `win_get_url` and `win_uri`.

The 2 biggest differences left is the implementation of `backup` for `win_get_url` and the differences in `force` behaviour. Unfortunately I don't see a w

[2019-07-21 23:02] jborean93 commented on #59337
Thanks @mgoleary for the report and identifying the actual issue. I've opened a PR to fix this https://github.com/ansible/ansible/pull/59359. The reason for the null exception is because `HKU` is not matched on the path qualifier so `$registry_hive` is set to `$null` which does not have the `.Dispose()` method. Looks like I found this issue in win_regedit before 2.8 was release so that is currentl

[2019-07-21 23:12] #59337 closed, assigned to nobody

[2019-07-22 01:43] MyronFanQiu commented on #59251
@Rajinikamu84 Hi. So currently your environment is same with the requirement. Am I right? I checked the code, it's a quite strange error. I opened an issue in the python sdk repo.

[2019-07-22 02:00] Tomorrow9 opened #59361 "VMware: vmware_export_ovf timeout when exporting VM with large disk"
##### SUMMARY

If target VM has big disk file, exporting to ovf will timeout in 10 minutes.
"timeout" can be set as a module parameter to let user set the timeout value for different scenarios.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_export_ovf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2019-07-22 03:24] Akasurde commented on #59355
@sbuvaneshkumar Thanks for reporting  this issue. Are you able to ping `192.168.0.102` from `localhost` ?

needs_info

[2019-07-22 03:33] #59190 closed, assigned to Akasurde

[2019-07-22 03:57] #57234 closed, assigned to nobody

[2019-07-22 04:34] lunarthegrey commented on #27229
+1 since Debian 10 (Buster) uses it by default now.

[2019-07-22 04:52] sbuvaneshkumar commented on #59355
@Akasurde Yes, I am able to ping and access esxi server, but not working when I try with Ansible. I tried with adding the host in /etc/hosts as well but it looks like vmware_guest module expecting resolvable FQDN as hostname.
Is that mean vmware_guest module doesn't accept IP address? it accepts only resolvable FQDN?

[2019-07-22 05:12] Akasurde commented on #59355
Are you able to ping from `localhost` or `Ansible Controller` ?

`vmware_guest` accepts IP address.

[2019-07-22 05:13] Akasurde commented on #59355
Could you please ping me (akasurde) on irc channel #ansible-vmware ? Thanks

[2019-07-22 05:18] sbuvaneshkumar commented on #59355
@Akasurde Yes, I am able to ping and access esxi from Ansible controller.
Thanks for the info :), I will ping you on irc.

[2019-07-22 06:33] itaimalek commented on #57140
guys, any updates here?
I get the same error when working with `ansible 2.9.0.dev0`
[code]

[2019-07-22 07:03] LeDOC666 commented on #59237
Hello, the problem to me is this rule is a single rule (that can be managed for some projects). It's not an automation, and Single case don't have to be managed by automation system. I think **append** option could be a right solution, and make  **replace** option by default to don't break actual playbooks.

[2019-07-22 07:04] rnsc commented on #56930
Test on Ansible 2.8.2, this INI setting doesn't work as expected I believe, this will only remove the DEPRECATION WARNING, while, what I want is for Ansible to use my groups with dashes without complaining.

Here are the results **without**:

And with the setting **set to "false"** in ansible.cfg:

[2019-07-22 07:07] rnsc commented on #56930
But is it just squashing warnings, or will that allow us to keep using dashes in groups?
This is not very clear.

[2019-07-22 07:23] jeffrey4l opened #59370 "ansible_failed_task can not found in a role when using block and include_role"
##### SUMMARY

`ansible_failed_task` and `ansible_failed_results` variable can not be used in a role which loaded by `import_role` in block rescue section.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

we can get `ansible_failed_*` variable content in role tasks.

##### ACTUAL RESULTS

get `ansible_fai

[2019-07-22 07:28] bluikko commented on #51611
There is a slight problem with the implementation:
With only one integer type option "subnet_size", how to set both IPv4 and IPv6 address pools for the overlay?

[2019-07-22 07:51] felixfontein commented on #51611
Yes, the Docker API seems to only offer one integer (and docker-py does that, too), so there's not much we can do. I guess you have to raise this issue with [Moby](https://github.com/moby/moby/), since that's the project containing the Docker daemon implementation (see [daemon/cluster](https://github.com/moby/moby/) for the swarm-related parts).

[2019-07-22 07:54] monoluser opened #59371 "Cannot delete file with win_file"
##### SUMMARY

Cannot delete file with win_file

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2012 R2

##### STEPS TO REPRODUCE

ansible-playbook reset-audit.yml

[code]

##### EXPECTED RESULTS

The file C:\ProgramData\audit.txt should be deleted on winservers.

##### ACTUAL RESULTS

[2019-07-22 07:54] itaimalek opened #59372 "gcp_storage_object - overwrite: no, Fails with "TypeError: 'NoneType' object does not support item assignment""
##### SUMMARY
When uploading an object to gcp bucket with `overwrite: no` , the playbook fails with this:
[code]
my task looks like this:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`gcp_storage_object`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
just try to upload an object to a GCP bucket with `overwrite:no`
[

[2019-07-22 08:10] Akasurde commented on #59372
@itaimalek Thanks for reporting this issue. I think this is similar to https://github.com/ansible/ansible/issues/58912 Can you please check and confirm ? Thanks.

[2019-07-22 08:12] felixfontein commented on #59290
needs_info

[2019-07-22 08:12] mkrizek commented on #59235
Thank you very much for testing. I am going to close this as fixed.

As for the 2.8.2 version being in EPEL, Ansible Core team is not a maintainer of that package but you can track the progress and/or install the package from the testing repository here: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2019-e96deab9a3

If you have further questions please stop by IRC or the mailing list:

* IRC

[2019-07-22 08:12] #59235 closed, assigned to nobody

[2019-07-22 08:13] bluikko commented on #51611
It looks like Swarm might not support IPv6 overlays at all. Maybe some day... but that's for another issue.

[2019-07-22 08:17] abraxxa commented on #59290
I‘ve installed Ansible via the Debian repo, whatever Python library that uses.
The OS is Debian 9, the previous installation was on Debian 8 and we hadn‘t this issue.

[2019-07-22 08:17] itaimalek commented on #59372
Yes, it seems that `overwrite: no` is the default behavior , so if it's not explicitly set to `yes` it will fail for the same reason.

[2019-07-22 08:20] mkrizek commented on #59339
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-22 08:20] #59339 closed, assigned to nobody

[2019-07-22 08:22] mboehm21 commented on #59296
Do you need "become: yes"?

[2019-07-22 08:27] #57351 closed, assigned to nobody

[2019-07-22 09:04] itaimalek commented on #57140
Hi @goneri , it seems this is a valid fix, any reason it wasn't approved?

[2019-07-22 09:04] geekev commented on #59300
Thanks very much @ganeshrn , I've tested with the devel branch and it works fine.  Next time I will try that first.

[2019-07-22 09:04] #59300 closed, assigned to nobody

[2019-07-22 09:06] Rajinikamu84 commented on #59251
@MyronFanQiu - Yes we have same environment mentioned above. and We are using the ansible tower version - 3.4 and ansible core is 2.8

[2019-07-22 09:09] geekev commented on #59300
PS Let me know if you need more info:

└─507─▶ ansible --version
ansible 2.9.0.dev0
  config file = /root/ansuibehost/ansible.cfg
  configured module search path = [u'/usr/share/ansible', u'/usr/local/lib/python2.7/dist-packages/napalm_ansible']
  ansible python module location = /root/ansible/lib/ansible
  executable location = /root/ansible/bin/ansible
  python version = 2.7.9 (default, Sep 25 2

[2019-07-22 09:49] Akasurde commented on #56173
@rambleraptor ping ^^

[2019-07-22 10:01] glenjamin opened #59376 "Homebrew output doesn't say what changed"
##### SUMMARY
At the moment, homebrew output with `-v` looks like this:
[code]
It would be helpful if it could say which packages were changed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
homebrew module

##### ADDITIONAL INFORMATION

This would make it clearer what actions were being performed when using the homebrew module

[code]

[2019-07-22 10:22] Akasurde commented on #59355
Marking this as resolved as configuration issue. Please feel free to open a new issue if problem persists. Thanks.

[2019-07-22 10:22] #59355 closed, assigned to nobody

[2019-07-22 10:32] Akasurde commented on #51097
@nkakouros Are you able to proceed ?

needs_info

[2019-07-22 10:52] #57653 closed, assigned to nobody

[2019-07-22 11:06] pugnacity opened #59379 "VMware: vmware_tag_manager ignores category_name"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create two Tag Categories within VMware and add to each Category the same Tags

in our example we've the following   category_names:
- NOC-DC-Backup
- CCB-C01-Backup

In each Category we've the same Tags, like NOB or LD.

Task for adding a tag to an VM:

[

[2019-07-22 11:47] mkrizek commented on #59370
Related to (or duplicate of) https://github.com/ansible/ansible/issues/57399 https://github.com/ansible/ansible/issues/49942

[2019-07-22 11:52] mkrizek commented on #59321
According to the message you provided, it's not the second iteration of the loop but second host in the first iteration:
`Could not resolve hostname uart2.lab.testing.com: nodename nor servname provided, or not known`
so your host `uart2` does not seem to be configured properly.

needs_info

[2019-07-22 12:08] abraxxa commented on #59290
ansible-playbook with -vvvv doesn't show which library is chosen.

This are the installed python packages:

[code]

[2019-07-22 12:11] kshaidfr opened #59381 ""No existing session" error when connecting to Cisco IOS with Pubkey Authentication"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Switch is a Cisco WS-C2960X-48TS-L , Software Version 15.2 with 2048 bit RSA keys

##### STEPS TO REPRODUCE

Trying to connect to a Cisco Switch with PublicKey Authentication. A connection can be established on the terminal without err

[2019-07-22 12:52] Rajinikamu84 commented on #59251
@@MyronFanQiu  - Issue got fixed

We found that the msrest was installed with different version and installed the msrest==0.6.1

Now it works

Thanks

[2019-07-22 12:52] #59251 closed, assigned to nobody

[2019-07-22 13:00] Akasurde commented on #59379
@pugnacity Thanks for reporting this issue. I will try to reproduce this on my setup and comment here. Thanks.

[2019-07-22 13:12] vzabawski commented on #48337
Hello @D3DeFi. I'm using Python 2.7.15+ (Ubuntu 18.04 LTS).
I'll test those changes a bit later since this bug is not really important for me. :)

[2019-07-22 13:25] evgeni opened #59384 "hard to write module_utils that work both inside and outside a collection"
##### SUMMARY
Due to the fact that collections are 2.8+ only (and still a bit in flux), we'd like to keep our current set of modules working in both, the collections and "classical" (set `library` and `module_utils` in `ansible.cfg`) scenarios.

However, when living inside a collection, import paths and doc fragment paths differ (see #58896 and #59226).

Obviously, being Python, the first thing th

[2019-07-22 13:27] Akasurde commented on #59372
@itaimalek I raised a PR against `GoogleCloudPlatform/magic-modules` which may fix this issue.

[2019-07-22 13:37] mnecas opened #59385 "Ovirt vm module fails when creating vm"
https://bugzilla.redhat.com/show_bug.cgi?id=1731876

Fix: https://github.com/ansible/ansible/pull/59377
##### SUMMARY

When creating new vm got error:
 `An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'NoneType' object has no attribute 'id' `
This is critical issue should go to 2.8.3 if possible
##### ISSUE TYPE
- Bug Report

##### C

[2019-07-22 13:46] webknjaz commented on #28952
@marawu can you reproduce that with Ansible 2.8? I can't.

[2019-07-22 13:49] webknjaz commented on #28952
@uritau I can't reproduce that. Mind posting an https://asciinema.org/ recording of what you do and the target host details (pip/python/OS versions)?

[2019-07-22 13:50] timmjd opened #59386 "Deep merge of dictionaries"
##### SUMMARY
The [__combine__ filter of Ansible](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#combining-hashes-dictionaries) is limited if it comes to nested elements that contain lists. The __recursive__ functionality only does merge dict elements but not nested list elements.
* The current implementation will simply take the second list as result.
* The expected res

[2019-07-22 14:00] balmha commented on #59296
[code]

[2019-07-22 14:01] #59299 closed, assigned to nobody

[2019-07-22 14:24] profhase opened #59388 "Handlers are being skipped on depndent role"
##### SUMMARY
When role is installed as a role dependency with `when: False`, e.g.

[code]
its handlers are not being run

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
irrelevant

##### STEPS TO REPRODUCE

1. Create a role with galaxy dependency. The role is not supposed to be run on installat

[2019-07-22 14:31] #59308 closed, assigned to nobody

[2019-07-22 14:36] sivel commented on #59206
Dupe: https://github.com/ansible/ansible/issues/47022

[2019-07-22 14:38] solarzc opened #59390 ""the connection plugin '<class 'ansible.utils.sentinel.Sentinel'>' was not found""
did anyone meet
"the connection plugin '<class 'ansible.utils.sentinel.Sentinel'>' was not found"
problem in python3 api

[2019-07-22 14:39] sivel commented on #59390
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-07-22 14:39] #59390 closed, assigned to nobody

[2019-07-22 14:42] borborpa opened #59391 "Meraki_content_filtering not working with net_id"
##### SUMMARY
I am trying to apply Content Filtering rules using meraki_content_filter and when I use net_id with a valid network ID, I get an error fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "No network found with the name None", "response": "OK (unknown bytes)", "status": 200}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_content_filter

##### ANSIBLE VER

[2019-07-22 14:43] rafiddewan opened #59392 "azure_rm_sqldatabase does note generating update tags"
##### SUMMARY
My team would like to use the azure_rm_sqldatabase to add additional tags on update but it is not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_sqldatabase

##### ANSIBLE VERSION
ansible 2.8.0
##### CONFIGURATION
DEFAULT_LOAD_CALLBACK_PLUGINS(/home/rafiddewan/Documents/Ansible/ansible-azure-playbooks/ansible.cfg) = True
DEFAULT_STDOUT_CALLBACK(/home/rafiddewan

[2019-07-22 14:46] prbond commented on #59340
Nice Thanks

[2019-07-22 14:47] Vladimir-csp commented on #59386
#25436

[2019-07-22 15:02] Vladimir-csp commented on #32853
No longer having this trouble.

[2019-07-22 15:02] #32853 closed, assigned to nobody

[2019-07-22 15:12] terjekv commented on #56894
Yes!

One thing is the same key not being added if it has different options or comments, but I had a more terrifying experience today where existing entries in authorized_keys were removed due to the same key having different options.

It is quite common to restrict key based access to specific hosts, via the from-option, but due to a bug in some versions of MacOS, we have entries for from=hostnam

[2019-07-22 15:23] borborpa commented on #59391
I found the issue.

Line 175 of meraki_content_filtering.py is:
    net_id = None

Should be: net_id = meraki.params['net_id']

Tested locally and that fixed my issue. Will attempt to submit via branch in git.

[2019-07-22 15:23] webknjaz commented on #28952
So regarding the initial report:
* I was able to reproduce it under Python 2 on the Ubuntu 16.04 target host with Ansible 2.8
<details>
<summary>Ansible 2.8 | Python 2.7 with Pip 8.1.1 on the target</summary>

[code]
</details>

* It doesn't happen under Python 3 tho
<details>
<summary>Ansible 2.8 | Python 3.5 with Pip 8.1.1 on the target</summary>

[code]
</details>

* It looks like a problem wit

[2019-07-22 15:23] #28952 closed, assigned to webknjaz

[2019-07-22 15:29] bcoca commented on #59291
you 'can' already do this, via 3rd task, `set_fact` creates variables conditionally.

[2019-07-22 16:47] sundertinwar opened #59398 "Ansible block + with_together"
##### SUMMARY

I am new with Ansible and still figuring out how to use with_together with block.
UseCase: Trying to compare configuration of device A and device B. Below is a snippet from my script.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-07-22 16:48] sivel commented on #59398
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-22 16:48] #59398 closed, assigned to nobody

[2019-07-22 17:05] jhawkesworth commented on #59371
@monoluser I haven't been able to reproduce this so far with a similar playbook.
Is it possible something else has a handle on the file, preventing it from being deleted?
I would have expected an error if that was the case, but worth checking (I'd use Resource Monitor -> CPU -> Associated Handles and search in C:\ProgramData but you could also use 'handles.exe' from sys internals tools.

Can you v

[2019-07-22 18:05] felixfontein commented on #59296
It looks to me like your docker-py / docker installation is broken. You should try `pip uninstall docker`, and then `pip install docker`. Maybe that helps.

[2019-07-22 18:09] basictheprogram commented on #59321
Not sure how you came to that conclusion.

Running AnsiballZ_apt_repository.py on uart2 how can there be a 2nd host? Since there is only 1 AnsiballZ_apt_repository.py and the output from that is 1 attempt I do not understand how you think there's another host.

Here's a run with just uart2 and no other hosts.
[code]
It looks like to me the first iteration of the loop succeeds.
[code]
And the 2nd i

[2019-07-22 18:18] sivel commented on #59321
I'm confused by the output and the inventory you have shown.

The inventory shows:

[code]

The output shows that it is connecting to `10.77.86.1`, but the `inventory_hostname` as `uart2.lab.testing.com`.

That inventory hostname, isn't in your inventory, and doesn't match the `--limit` you provide.

But I do see that on the next iteration, it attempts connection to `uart2.lab.testing.com` which c

[2019-07-22 18:20] felixfontein commented on #59290
You have cryptography version 1.7.1 installed (with some Debian specific patches). Anyway, you should either install a newer version of `cryptography` (not using the Debian packages), uprade to a newer Debian version (Debian 10 Buster has been released this month, that should have a more recent cryptography version), or use the pyOpenSSL backend instead and hope that doesn't have this problem (add

[2019-07-22 18:27] nitzmahone opened #59400 "Preserve add_host/group_by data on inventory refresh"
##### SUMMARY
Since `add_host` and `group_by` actions only modify the runtime inventory, hosts/groups/vars added by them don't survive a `meta: refresh_inventory` call (since that call completely clears the runtime inventory).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
InventoryManager

##### ADDITIONAL INFORMATION
After some internal discussion, the general consensus seemed to be that

[2019-07-22 18:31] basictheprogram commented on #59321
Here is the inventory file
[code]
Command I used to test
[code]
And I see that ansible connects to the IP address at first
[code]
And the first iteration through the apt_repo loop it connects via the IP address
[code]
But the 2nd iteration changes to the hostname? Why?
[code]
And that fails with
[code]

[2019-07-22 19:01] nitzmahone opened #59401 "ansible_play_host vars don't always match play"
##### SUMMARY
When mid-play dynamic inventory actions (eg `add_host`, `meta: refresh_inventory` that causes hosts to appear/disappear) affect the host list for the currently-running play, `ansible_play_hosts` and `ansible_play_hosts_all` don't always reflect the current reality.

By design, the in-flight play will not start running tasks on newly-added hosts, but it will *stop* running tasks on ho

[2019-07-22 19:02] kittys693 opened #59402 "docker_container doesn't support port ranges"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-07-22 19:03] #59402 closed, assigned to nobody

[2019-07-22 19:11] kittys693 opened #59403 "docker_container doesnt support port ranges"
##### SUMMARY
I tried to use  port range in docker container module and it throws an error.It works if I map individual ports

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try to use docker_container module with port ranges 2003-2006:2003-2006

[code]

[code]

##### ACTUAL RESULTS

[2019-07-22 19:18] zendritic opened #59404 "IOS Terminal: "ERROR" in an IOS log message causes terminal to incorrectly parse a stderr in response to a command."
##### SUMMARY

The word "ERROR" in an IOS log message causes terminal to parse an error. IOS_command modules doesn't register stdout, only the one line of log output with the word "Error" as stderr. Task fails.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I'm using ios_command module, however, I believe the ios terminal plugin has the regex to parse stderr.  ansible/lib/ansible/plugins/ter

[2019-07-22 19:45] techwolf359 commented on #50839
Yep @rambleraptor, I ended up using gcloud commands until this one gets resolved.

The documentation is contrary. The first line indicates you can provide a URL, the second line says you can use the reference from a snapshot resource (which there is none, {{gcp_compute_snapshot}} module doesn't exist anywhere that I can find).

Then, looking at the source:
https://github.com/ansible/ansible/blob/d

[2019-07-22 19:55] #58714 closed, assigned to nobody

[2019-07-22 19:56] ShachafGoldstein commented on #59371
It returns changed false so maybe it doesn't have the permissions to delete the file?
programdata is a link if I'm not mistaken maybe you should give the full actual path

[2019-07-22 19:58] zendritic commented on #59404
I think it's this line that's the problem in terminal/ios.py:

`         re.compile(br"[%\S] ?Error: ?[\s]+", re.I), `

If we were to just take out the re.I, this regex would no longer match my logs containing "ERROR". Might miss some legitimate error messages though.

[2019-07-22 19:59] zendritic commented on #59404
@ganeshrn I think you committed this line way back when. What do you think?

[2019-07-22 20:02] jborean93 commented on #58714
I've added the `ansible_psrp_reconnection_backoff` var which will be present in Ansible 2.9. Because this is a feature change it won't be backported to older versions so you will still have to continue using `ansible_psrp_connection_backoff`.

[2019-07-22 20:07] jborean93 commented on #59371
Are there any special attributes on the file, can you run `Get-Item -LiteralPath C:\ProgramData\audit.txt -Force | Select-Object *` and return the output back? I can't see anything in the code that might cause this apart from the process not being able to see the file.

needs_info

[2019-07-22 21:02] mattclay opened #59405 "Use error codes instead of numbers in validate-modules"
### SUMMARY

Update validate-modules to report messages using named error codes like `version-added` instead of error numbers like `E305`.

This would match the behavior of other tools we use, such as pylint, which have one named error code per rule. This will also make ignore entries much easier to read.

Doing this before 2.9 is released will avoid potential backwards compatibility issues with i

[2019-07-22 21:21] dadosch opened #59406 "Raise warning if ask-vault-pass option is given if there is no vault file"
##### SUMMARY

Currently, ansible asks for a vault-password if the option is passed, regardless wether there is  a vault file or not. This is confusing and misleading.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

playbook ?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
1. Run ansible with option --ask-vault-pass on a playbook

[2019-07-22 21:52] #59114 closed, assigned to jborean93

[2019-07-22 21:59] #58728 closed, assigned to nobody

[2019-07-22 22:07] bcoca commented on #59388
all tasks, including handlers, inherit that conditional, so you are basically saying 'skip all tasks, including handlers'

[2019-07-22 22:09] samdoran opened #59409 "Docker Tests are unstable on RHEL 7 and RHEL 8"
##### SUMMARY
Docker tests on RHEL 7 and RHEL 8 have recently become unstable.

To get Docker tests working on RHEL 8, we had to pin at an older version. I am not sure if that is relevant to the issue.

Here are some example test failures

https://app.shippable.com/github/ansible/ansible/runs/133180/
https://app.shippable.com/github/ansible/ansible/runs/133170/

Marked tests as unstable in #59408

[2019-07-22 22:47] bkmeneguello commented on #51687
What is the status of this issue? The PR aren't merged yet. If you guys need some help to get it tested I'm available and engaged.

[2019-07-22 23:26] nitzmahone commented on #58763
Are you able to reproduce this on a supported version of Ansible? 2.5 is pretty old and EOL.

I'd also suggest that you're kinda doing things the hard way (though I think it *should* work at a glance)... If the target hosts aren't already in inventory, you might do better to `add_host` them into a new group, then start a new play that targets that group and loops over a host-specific data structur

[2019-07-23 01:22] mulatinho commented on #59403
I tried to reproduce this issue here to work on that, but it seems to be OK now on `ansible 2.9.0.dev0`, apparently was solved in **2.8.2** version by this PR #46596, adding the method `parse_port_range`.

my test:
[code]

results in:
[code]

[2019-07-23 01:54] Akasurde commented on #58472
Closing this issue as PR https://github.com/ansible/ansible/pull/59231 is merged. If issue persists, please feel free to open a new issue.

Thanks.

[2019-07-23 01:54] #58472 closed, assigned to Akasurde

[2019-07-23 01:58] abadger commented on #58876
Note, the fix for this caused regressions from 2.8.2 so the backport to stable-2.8 was reverted.  the fix will not appear in 2.8.3 but work is ongoing to try to find a regression-free fix that can be applied in time for 2.8.4

[2019-07-23 02:04] jborean93 opened #59414 "connection/shell/become vars are removed when in a loop"
##### SUMMARY
When you have a task variable defined in the task's `vars:` directive and it relates to the connection, shell, or become plugin that is used in that task it will no longer be defined if run on a loop. The variable is present for the first iteration of the loop but future ones will remove that variable causing all sorts of different behaviour.

There is an unfortunate side effect of h

[2019-07-23 02:09] Akasurde commented on #59391
resolved_by_pr #59395

[2019-07-23 03:23] mattclay opened #59418 "Create integration tests for ansible-doc"
##### SUMMARY

Create integration tests for ansible-doc.

There are no dedicated integration tests for ansible-doc. The only integration test using ansible-doc is the collections test:

https://github.com/ansible/ansible/blob/79eca9c8fb57b6e043e8ea72d6ab144ab5416607/test/integration/targets/collections/runme.sh#L24

The ansible-doc sanity test does provide some coverage for ansible-doc, however, t

[2019-07-23 04:22] willthames commented on #37383
I think the unstable tests should be fixed by #58754 now (I fixed the BucketNotExists waiter time out to get that PR to succeed for my local tests). So we can possibly revisit the unstable alias

[2019-07-23 04:34] Akasurde commented on #58831
@jim5359 Could you please check if PR https://github.com/ansible/ansible/pull/58900 works for you ? Thanks.

needs_info

[2019-07-23 04:46] sunithanair09 opened #59419 "How to connect to windows host using a linux jump server for ansible automation"
##### SUMMARY
I would like to know how to configure Ansible controller to use linux jump server to connect to Windows clients.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible configuration, jump/bastion server , inventory, proxy

##### ANSIBLE VERSION
2.7

##### CONFIGURATION

##### OS / ENVIRONMENT

Target OS is windows

##### STEPS TO REPRODUCE
I should be able to connect to windows

[2019-07-23 04:56] jborean93 commented on #59419
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-23 04:56] #59419 closed, assigned to nobody

[2019-07-23 05:51] Fred-sun commented on #59392
@zikalino Please take a look this issue when you're free. We can't use M(azure_rm_sqldatabase) module to update tags. Thanks a lot!

[2019-07-23 07:14] pgbidkar commented on #37007
Hi @teadur , I have pushed basic template deploy module to my repo https://github.com/pgbidkar/ansible/commit/9009afc391ee12e2b16ed55144f90d966c22563f.  Module still needs to be refined.
Please try the module and provide the feedback to improve.

My playbook looks like
[code]

[2019-07-23 07:21] Akasurde commented on #57546
Closing this issue as PR https://github.com/ansible/ansible/pull/58850 is merged. If issue persists, please feel free to open a new issue.

Thanks.

[2019-07-23 07:21] #57546 closed, assigned to nobody

[2019-07-23 07:23] loicsikidi opened #59422 "gcp_iam_service_account_module state absent doesn't remove the service account"
##### SUMMARY
Running a playbook that plan to remove a service account. After the run I don't get error but the service account still exists when I check with gcloud CLI.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_iam_service_account_module
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

I'm running the playbook on macOs mojave 10.14.5

##### STEPS TO REPRODUCE

Prerequisite:

[2019-07-23 08:03] ppuschmann commented on #42262
@lparkes Yes, I can create guests with the (I guess) HTML5-ui.

Using `vmware_guest` with vCenter works fine.

We found this out while removing the deprecation warnings in Ansible and moving away from `vsphere_guest`.

At first I thought it was a guest hardware-setting that was not licensed like hotplug-RAM or hotplug-CPU or exceeding the amount of CPU-cores per guest, but apparently this is a dif

[2019-07-23 08:06] Akasurde commented on #37007
@SaranrajMG Could you please check pgbidkar@9009afc branch and please provide your valuable feedback ? Thanks,

[2019-07-23 08:08] abraxxa commented on #59290
Using pyopenssl is a workaround.

I'm wondering if Ansible doesn't ship all required Python modules with a tested version instead of relying on what distributions ship.

[2019-07-23 08:15] felixfontein commented on #59409
The docker_swarm tests sometimes do fail, docker daemon doesn't like to be reconfigured. That's nothing new, though, and AFAIK it only happens very seldomly.

The problems with the ipc_mode test of the docker_container tests seems to be RHEL8 specific. If a version of docker was pinned for RHEL8, this must be caused by RHEL8 itself (or its kernel). If docker wasn't pinned, it's caused by a new doc

[2019-07-23 08:26] MarkusTeufelberger commented on #59290
Ansible only ships libraries that are needed on the control machine (the one that runs `ansible-playbook`), it can't influence what's on a remote machine. It might be possible to not only send the few hundred lines of module code, but also libraries on each module execution, but that has its own issues (which libc is available remotely for example etc.). That's why it is the user's responsibility

[2019-07-23 08:27] #45129 closed, assigned to nobody

[2019-07-23 08:44] machacekondra commented on #59385
resolved_by #59410

[2019-07-23 08:47] abraxxa commented on #59290
My package output was from the control machine.
The affected remote machines are running Ubuntu 18.04.2 LTS + HWE.

Here is the output from one of the boxes:

[code]

[2019-07-23 08:47] itaimalek opened #59428 "gcp_storage_object_access_control"
##### SUMMARY
GCP bucket object can have granular acl regardless to the bucket acl, for ex. you can upload multiple objects where some of them can have public access and some do not.

Terraform for example have this ability.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_storage_object_access_control

##### ADDITIONAL INFORMATION
Today the only option is to give a bucket a bucket acl w

[2019-07-23 08:48] abraxxa commented on #59290
I just checked our certificate role, it installs python-openssl or python3-openssl depending on the `ansible_python_interpreter` variable.

[2019-07-23 08:49] Akasurde commented on #56269
@ralbon I agree with @barmesh's comment. I raised PR https://github.com/ansible/ansible/pull/59427 to handle exception raised when `service_account_contents` is not converted to json.

[2019-07-23 08:49] Akasurde commented on #56269
resolved_by_pr #59427

[2019-07-23 09:33] felixfontein commented on #59290
There you have cryptography 2.1.4, i.e. pyca/cryptography#4034 applies to you. By installing python-openssl or python3-openssl, you install pyOpenSSL.

[2019-07-23 09:50] kiorky commented on #24228
TBH, having a same and configurable default, with a sufficiently high value, but not that much (``4096`` is i think a good deal) is better that doing nothing and let users fall in the trap  and have an hard time diagnosing where and why their command is stalled for minutes, and having another couple of hours to find a solution. We are causing more harm than good by doing nothing.

[2019-07-23 09:58] profhase commented on #59388
@bcoca even if i set `when: True` on the import statement it still does not help.

In other words? how else do I define role dependencies on a way that those dependenices don't get executed up front? (see also: https://github.com/ansible/ansible/issues/40890)

[2019-07-23 10:04] #59189 closed, assigned to nobody

[2019-07-23 10:14] Vladimir-csp commented on #21773
#59017
`get_vars()` calls are due to re-rendering of var structure for every handler in undeduplicated playbook (with dependency repetitions).

[2019-07-23 10:30] #59385 closed, assigned to nobody

[2019-07-23 10:39] mhimuro opened #59433 "Template module shows all rows as difference."
##### SUMMARY

Template module shows all rows as difference when `STRING_CONVERSION_ACTION=error`. It's seem that Template module lost `--- before` information.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Template Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS versions: CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[2019-07-23 10:53] Vladimir-csp opened #59434 "local_action tries to use python interpreter from inventory host if ansible relies on interpreter discovery"
##### SUMMARY

When `local_action` is used and `ansible_python_interpreter` is not defined (2.8 python discovery is used) ansible tries to run inventory host's discovered python interpreter
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 on control host, FreeBSD 11 on client host.

##### STEPS

[2019-07-23 11:17] Vladimir-csp commented on #59434
In a reverse situation (FreeBSD control host, CentOS inventory host) everything is fine.

[2019-07-23 11:19] pgbidkar commented on #37007
Please use draft PR https://github.com/ansible/ansible/pull/59431 to validate your usecase

[2019-07-23 11:30] goneri commented on #59033
My bad, I didn't know about `vmware_dvs_host`. When I specify a value in `esxi_hostname` I get the following error which is more useful:
[code]

[2019-07-23 11:30] #59033 closed, assigned to Akasurde

[2019-07-23 11:34] MarkusTeufelberger commented on #59290
We probably should also vendor the fix for https://github.com/pyca/cryptography/issues/4034 into the module though. :-(

[2019-07-23 12:33] bendaniels052 opened #59436 "vmware_deploy_ovf The name already exists"
##### SUMMARY
I'm trying to deploy multiple OVA files across our vmware farm using the `vmware_deploy_ovf` module. I'm required to run the same playbook more than once, with the playbook containing a set of vars for multiple VMs. This will require the module to be idempotent for when the VM already exists. However, when running the same playbook more than once, the play hangs on that module and di

[2019-07-23 13:14] Vladimir-csp commented on #59434
Misconfiguration via a loose unrelated inventory fragment. Sorry for a false alarm.

[2019-07-23 13:29] duck-rh opened #59438 "hostname module systemd strategy using hostname"
##### SUMMARY
On Fedora the systemd strategy is used, which is fine, but getting the current hostname uses the `hostname` command which may not always be present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
The control node is using Debian unstable. I'm running molecule to run a test in Fedora 29.

[2019-07-23 13:46] sivel commented on #59436
You will want to make use of specifying `allow_duplicates: no` in your `vmware_deploy_ovf` task.

See the documentation at https://docs.ansible.com/ansible/latest/modules/vmware_deploy_ovf_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-23 13:46] #59436 closed, assigned to nobody

[2019-07-23 13:56] Vladimir-csp commented on #59434
OK, there is still a problem with interpreter discovery. Updated the description and reopened.

[2019-07-23 13:59] jellestoel opened #59440 "ios_interface gives keyerror exception on virtual interface with whitespace"
##### SUMMARY
 Using the  ios_interfaces module with a virtual tunnel interface with type tunnel present in the router configuration, will return a keyError exception.

This is caused by a regex expression in map_config_to_obj at /modules/network/ios/ios_interface.py:202
When the expression matches an interface, it includes only the first word, even when the interface value has multiple whitespace

[2019-07-23 14:06] samdoran commented on #59409
@felixfontein The `ipc_mode` failures were on RHEL 7 only. Hopefully setting the mode will address that. The RHEL 8 failure is due to a timeout when trying to ensure Docker Swarm is not already running. The Docker version is pinned at `docker-ce-3:18.09.1` on RHEL 8. I'm not sure if that's part of the problem or if something else is going on.

The task that's failing is

[code]

Pretty straightfor

[2019-07-23 14:11] AlanCoding opened #59442 "Stricter config parsing makes openstack inventory clouds_yaml_path unusable"
##### SUMMARY
In current `devel`, using the openstack inventory plugin with the parameter `clouds_yaml_path` no longer works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/config.py
lib/ansible/plugins/inventory/openstack.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS / Mac OS / control machine

##### STEPS TO REPRODUCE
Use invent

[2019-07-23 14:21] bcoca commented on #59388
@profhase, i cannot reproduce, if i set `when: true` and a handler is notified, it runs

as for 'how to include a role dependency and not execute it' ... you don't , role dependencies are not designed that way. You might want to look into using include_role/import_role instead with a dummy/empty tasks_from.

[2019-07-23 14:23] justjais commented on #59440
@jellestoel thanks for raising the issue, also this issue will be resolved with newer `ios_interface` resource module in Ansible `2.9`.

[2019-07-23 14:26] bcoca commented on #59388
another option:
 - move handlers to 3rd role with empty/no `tasks/main.yml`,
 - make both existing roles depend on that one
 - remove current dependent role from this role

That will give you 'shareable handlers' w/o forcing you to execute or bypass executing tasks.

[2019-07-23 14:31] bcoca commented on #59442
it is defined as  `type: string `, should be `type: list` and all should work.

[2019-07-23 14:33] AlanCoding commented on #59442
That is the easiest for us.

[2019-07-23 14:42] balmha commented on #59296
I tried:
[code]
then:
[code]

but I received same previous error

[2019-07-23 14:43] acozine commented on #54736
Subsequent changes moved the code referenced above - it was here:
https://github.com/ansible/ansible/blob/d1116ef2d89e35e1ea7e30f3a87e4120ffffa943/lib/ansible/cli/doc.py#L595

[2019-07-23 14:45] bkmeneguello opened #59446 "Add support for outputs only in terraform module"
##### SUMMARY

Allow to gather outputs only from terraform module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

terraform

##### ADDITIONAL INFORMATION

Sometimes we just want to gather information from Terraform, without need to run a full "plan". Should be nice to have this shortcut.

[code]

[2019-07-23 14:46] Rajinikamu84 opened #59447 "URI modules shows - 401 authentication error"
##### SUMMARY
ansible "uri" module throws 401 authentication error even i provided the valid "username" and password"

REST API URL runs on IIS web server with "windows_authentication" enabled.

##### ISSUE TYPE
Status code was 401 and not [200]: HTTP Error 401: Unauthorized"

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Ente

[2019-07-23 15:00] acozine opened #59449 "Remove translatable words from code blocks where possible"
##### SUMMARY
As a translator, if I can identify words I should not translate, I produce better translated docs. If I can leave all code blocks in English, that's an easy rule to follow.

Right now some code blocks include words that should be translated. For example, [this section](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#jinja-undefined-values) of the 2.8 Por

[2019-07-23 15:00] vin-c commented on #56576
Following this https://github.com/ansible/ansible/issues/20492 (none of the actions worked for us)
With only `docker` as a dependancy (no `docker-py` installed)

(Background goal here: deploy a registry + awx on the same host)

Check that you run the same `ansible` master version (2.7.x for exemple) between the server and target host: it's ok with ansible 2.7.12 on server and 2.7.9 on target, but

[2019-07-23 15:07] zendritic commented on #59404
Also, yes, I know syslog servers exist. Don't ask...

[2019-07-23 15:26] bcoca commented on #59391
!component =lib/ansible/modules/network/meraki/meraki_content_filtering.py