[2019-01-30 15:18] mihai-satmarean commented on #51486
Hi,
Thanks for looking into it.
It used to work with the version prior to 2.5 and the extra option (now deprecated) "provider".
And it has the nxos, so I believe is compatible.
My issue is that the user with the domain is not passed correctly.
Cheers!

Pe 30 ian. 2019, la 16:11, Trishna Guha <notifications@github.com> a scris:

[2019-01-30 15:20] cigamit commented on #51213
Does your template have open-vm-tools and perl installed on it?  Can you check the vmware-imc log to determine where it is erroring out?

[2019-01-30 15:34] hwali commented on #51458
Things sort out thanks for support Akasurde let me see overall outputs

[2019-01-30 15:58] jdh239 commented on #51463
In my case, failed_when and changed_when do not work:
[code]

Result:
`TASK [Find the user_id for gomer] ********************************************************************************************************************************************************************************************************
fatal: [nagios]: FAILED! => {"msg": "The task includes an option with an undefined variable. T

[2019-01-30 16:15] dagwieers commented on #51463
Right, I don't think this is a good way of doing this. The expression could be failing for various reasons and this would not cover that. If you expect a list to be empty, you could evaluate this by doing:

[code]

But it all depends what your doing in the larger picture, because this tends to look like we are programming in playbooks and that is to be avoided.

PS One of the things on my wishlist

[2019-01-30 16:28] dagwieers commented on #51463
I think this is an issue to report, why would `set_fact` handle this differently from other tasks ?

Also, it would be useful if the `first` filter in Jinja would actually have a fallback for empty lists. But implementing this would take some time to having it available...

[code]

[2019-01-30 16:30] AlanCoding commented on #50100
That method will still not give valid JSON in all cases because it appends a warning to the end. I put up a proposed workaround in AWX. If that is accepted, then we won't need any changes here.

[2019-01-30 16:31] illogic-al commented on #51474
I’ll try to test today and verify.

[2019-01-30 16:34] rukiaEnix commented on #51442
Thanks fot the quick answers, so the feature for timeout on the policy is something that could come in the future?

[2019-01-30 16:35] sivel commented on #51474
@illogic-al The default in #50991 is still to match on `doas (`, however to get it to match a different prompt, you would set a different prompt to match:

[code]

This can be done in ansible.cfg like:

[code]

Via a var in a YAML file like:

[code]

Or via env var like:

[code]

However it may just be a good idea for me to add `Password:` in there already, to match both `Password:` and `doas (`

[2019-01-30 16:35] acozine commented on #51433
Thanks @sbulage, I've closed the demo PR - open yours when you're ready and I'll merge it. Thanks for stepping up!

[2019-01-30 16:39] sivel commented on #51474
I've actually just pushed a change to allow `Password:` by default as well.

[2019-01-30 16:43] cr33phav commented on #51436
A few more notes...

The issue does not seem specific to the "become" function.  If I just try to send the enable command using the generic ios_command task it times out there as well.  I've attempted to send the command and use the wait_for to check for the password prompt but it never gets past the sending the enable command.  Logging into the Cisco devices manually via SSH I am able to successf

[2019-01-30 16:59] bcoca commented on #51483
Not as much network as 'connection' , this is what `Shared connection to solaris10 closed.\r\n"` indicates. The 'conneciton' implies a bit more than network, it can be auth/permissions/libs on the target side that cause the failure before the module is even attempted to execute.

On the other hand 'MODULE_FAILURE' tends to indicate a fatal bug in the module itself.

`AttributeError: 'SunOS' object

[2019-01-30 17:19] jdh239 commented on #51463
Thanks dagwieers.  I tried the default as specified under your update.  It does work well (and is what I am looking for).

[2019-01-30 18:10] hwali commented on #51458
I am still not able to connect probably mqsql service is not activated and keep crashing please suggest!
[root@osboxes9 ansible2]# curl db01
curl: (7) Failed connect to db01:80; Connection refused
[root@osboxes9 ansible2]#

[root@osboxes9 ansible2]# curl osboxes1/db
(_mysql_exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'db01' (13)")
[root@osboxes9 ansible2]#

[root@db01 ~]#

[2019-01-30 18:11] hwali commented on #47927
[root@osboxes9 ansible2]# curl db01
curl: (7) Failed connect to db01:80; Connection refused
[root@osboxes9 ansible2]#

[root@osboxes9 ansible2]# curl osboxes1/db
(_mysql_exceptions.OperationalError) (2003, "Can't connect to MySQL server on 'db01' (13)")
[root@osboxes9 ansible2]#

[root@db01 ~]# systemctl status mysqld
● mysqld.service - MySQL Community Server
   Loaded: loaded (/usr/lib/systemd/sy

[2019-01-30 18:17] sivel commented on #51449
This issue was resolved in https://github.com/ansible/ansible/pull/44468 and backported and released as part of 2.6.4, but was not backported to the 2.5.x.

cc @bcoca

[2019-01-30 18:22] glitchtrigger opened #51498 "netconf_config fails when ios acl is configured with non-ip protocol types"
##### SUMMARY

We are having trouble getting Ansible netconf_config to work when Cisco IOS ACLs are configured with non-IP protocol types. (i.e. esp or eigrp).  ip/tcp/udp/icmp all seem to work.  We tested this on Ansible 2.7.6 and 2.8.0.dev0.  Any help or guidance is much appreciated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2019-01-30 19:16] dagwieers commented on #51463
BTW You don't need to use the `list` filter, as the 'first` filter works on a generator as well.

[2019-01-30 19:18] maunzCache opened #51503 "ansible-test: ImportError: No module named resource (Win)"
##### SUMMARY
I'd like to write a few tests on my windows machine but cannot execute the ansible-test script because it requires the package resource which is unique to unix machines. Just read that psutils is a compatibility package to achieve the same functionality on windows machines.

[code]

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
This vers

[2019-01-30 19:30] #51503 closed, assigned to nobody

[2019-01-30 19:42] soulofmischief opened #51504 "ansible_processor_vcpus fact incorrect for containers"
##### SUMMARY
As mentioned in https://github.com/ansible/ansible/issues/2492, gathering facts for a machine using OpenVZ, LXC and possibly other container systems produces the wrong number of CPU cores:

**ansible -m setup *hostname***

[code]

This is because ansible is not correctly determining the true number of cores available to the system, which is accurately determined via `grep -c ^process

[2019-01-30 20:00] #39414 closed, assigned to nobody

[2019-01-30 20:01] #47534 closed, assigned to nobody

[2019-01-30 20:04] kkirsche opened #51506 "firewalld: Add support for managing zones"
##### SUMMARY

I believe it would be helpful, either within the existing firewalld module or in a new firewalld_zones module to allow the management of firewalld zones. This would map to the `firewall.client.FirewallClientConfig` module which is exposed by firewalld in dbus.

This would be useful because currently, if a zone does not exist, the user must manually create it or create it using a `co

[2019-01-30 20:17] AlexGellert-zz opened #51507 "'dict object' has no attribute 'HOME'"
##### SUMMARY
Trying to access the env home of my remote VM

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_env.HOME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-30 20:19] AlanCoding commented on #50100
Also, in the method you linked to...

[code]

I think this is filtering the _leading_ junk. The _trailing_ junk is dealt with in latter code.

[2019-01-30 20:22] jborean93 commented on #51507
`HOME` is not a normal environment variable on a WIndows host, usually it's known as `HOMEPATH`. You also need to make sure you haven't disabled fact gathering on the play for `ansible_env` to be gathered. When in doubt about what env vars have been gathered you can just run;

[code]

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or th

[2019-01-30 20:22] #51507 closed, assigned to nobody

[2019-01-30 21:21] ivgivanov commented on #44561
Same here, I hope this will get fixed soon

[2019-01-30 22:19] bradwilliamson opened #51512 "Win_DSC PSCredential conversion error for DSC module xFailoverCluster xCluster resource"
##### SUMMARY

I am attempting to automate the creation of a failover cluster for SQL Server 2017.  When attempting to create the cluster and pass the domain credentials into the domainadministratocredential property on the dsc module xFailoverCluster (xCluster) I get the following

[WARNING]: failed to cast property domainadministratorcredential from 'DOMAIN\USER' of type System.String to type
Sy

[2019-01-30 22:26] #51483 closed, assigned to samdoran

[2019-01-30 22:35] jborean93 commented on #51512
When you define a PSCredential DSC option you need to define it in 2 parts. We have this documented at https://docs.ansible.com/ansible/latest/user_guide/windows_dsc.html#pscredential but in your case you need to do;

[code]

[2019-01-30 22:35] #51512 closed, assigned to nobody

[2019-01-30 22:43] bradwilliamson commented on #51512
@jborean93 Thanks that fixed it.  I missed that URL when looking around. Will be very helpful thanks!

[2019-01-30 22:49] maxamillion commented on #51284
@Timoses no worries, I'll try and see if we can sort it out. I'm curious how many repos you have listed in `yum repolist all` and how many are marked `enabled`, thank you!

needs_info

[2019-01-30 23:12] sean-abbott opened #51513 "looping is apparently completely broken in 2.7"
##### SUMMARY
When trying to use with_filetree or lookup('filetree'... or query('filetree'... nothing works. Everything claims item has not src, and in every way I know how to debug item does, indeed, have that src.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop, with_filetree

##### ANSIBLE VERSION
[code]

(also happened in 2.7.1)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ub

[2019-01-30 23:22] sivel commented on #51513
The issue here, is that `filetree` also matches directories.  When `state` is `directory`, there is no `src` attribute.

You will need to add a `when` statement to skip dirs:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-30 23:22] #51513 closed, assigned to nobody

[2019-01-31 01:19] epicanthal commented on #51457
Thanks for the quick response.  I see this has been back-ported to 2.7-stable, will it be back-ported to 2.6-stable?

[2019-01-31 02:57] Fred-sun commented on #50443
@itamary Are you still here! I think this is not a problem with Ansible. It may be the wrong version of some package installation. Can you reproduce this problem again? Please help to provide PIP list info! I will try again! Thanks!

[2019-01-31 03:05] GeoffDNeal opened #51519 "gcp_sql_user can not set host to wildcard"
##### SUMMARY

`gcp_sql_user` returns a 400 when trying to use `%` to allow access by all hosts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`gcp_sql_user`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Set user password and allow host to be wildcard.

[code]

##### EXPECTED RESULTS

New user is created for all

[2019-01-31 03:08] Tomorrow9 commented on #51221
MAC address can be set when creating a new NIC, I think editing MAC of an existing NIC with template is not supported.

[2019-01-31 03:16] Tomorrow9 commented on #51066
Hi, if no one is working on this, I can take care of it. Thanks.

[2019-01-31 03:43] Akasurde commented on #51378
@Ashishkasaudhan Thanks for reporting this issue. It seems that you have additional space between second argument of `lookup`

[code]
should be

[code]

[2019-01-31 05:00] aksharbarot opened #51526 "Cloudstack module delete template from ID"
##### SUMMARY

Cloudstack module template or snapshot should work with ID as well.

##### ISSUE TYPE
- Feature Idea
Image names could have same name but, ID are unique so, it would be nice if we can able to use instead of name

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/cloud/cloudstack/cs_template.py
##### ADDITIONAL INFORMATION

/usr/lib/python2.7/site-packages/ansibl

[2019-01-31 05:18] jborean93 opened #51528 "Ansible.Basic is case sensitive when validating input module names"
##### SUMMARY
Modules that now use the new `Ansible.Basic.cs` module helpers are no longer case insensitive when it comes to module option names. Previously PowerShell didn't care whether a module option was capitalised or not it would treat it to be the same. Now the C# code is case sensitive and will fail if the module option does not match the exact value.

For most modules this won't be too mu

[2019-01-31 05:21] illogic-al commented on #51474
@sivel Thank you! I appreciate it. I have not tested yet but this change will make working with FreeBSD a far smoother experience. I know it’s no longer an issue, but how would you expect someone to discover the ‘localized_prompts’ feature?

It seems discoverability is going to be a problem. Would this be added to the FreeBSD section, or a more general “becoming” section?

Finally, do you “needs_i

[2019-01-31 05:45] felixfontein commented on #15614
This bug is invalid and was closed rightly; I've explained why [here](https://github.com/ansible/ansible/pull/51271#issuecomment-459223312).

[2019-01-31 05:55] mator commented on #51483
Yep, fixed. Thanks.

[2019-01-31 05:57] Zorrom commented on #51221
Hey @Tomorrow9 ,
      Thanks for responding. So do you think that I should create a template without any network adapters and use it for provisioning and then maybe my custom MAC can be assigned with my choosen network adapter or do you suggest any other methods

[2019-01-31 06:20] Fred-sun commented on #51062
@zikalino

[2019-01-31 06:41] Fred-sun commented on #51187
@zikalino

[2019-01-31 06:42] Fred-sun commented on #46659
kindly ping

[2019-01-31 08:10] mihai-satmarean commented on #51486
Hi please reopen and understand that we are connecting to a cisco ucs fabric which is a networking device running NX-OS https://en.wikipedia.org/wiki/Cisco_Unified_Computing_System https://en.wikipedia.org/wiki/NX-OS.

[2019-01-31 08:32] xenlo commented on #51066
@Tomorrow9, Be my guest!

[2019-01-31 08:47] pjnagel commented on #9240
@mpdehaan

The advice to use environment variables does not help in all cases. Ruby RVM, for example, depends on shell function(s) to work, not just environment variables. See #4854 for RVM users struggling with this issue.

Further, if the concern is that relying on the contents of the shell profile is brittle in the light of the ansible philosophy, then that can be addressed by managing the shel

[2019-01-31 08:50] kladiv commented on #29544
Hello,
same issue.

Can ansible ask only 1 time the RSA passphrase if private key filepath is the same?
(so one passphrase prompt for each different RSA private keyfile)

[2019-01-31 08:53] hwali commented on #51458
Facing still same SElinux change to permissive, adding rule for iptable

Before chaginf SELinux to permissive tried "setsebool -P httpd_can_network_connect_db on" but no use

Please Akasurde need help on this case

[root@db01 ~]# netstat -tln
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 0.0.0.0:3306

[2019-01-31 09:22] u1735067 opened #51530 "[Module service] Disabling under chkconfig leaves file"
##### SUMMARY
Under upstart / with chkconfig, when using `service` to disable before removing a service/package, you run:
[code]

However, while `enable: yes` takes care of launching `chkconfig --add pkg`  before running with the `on` argument (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py#L741), `enable: no` does not run `chkconfig --del pkg` after running wi

[2019-01-31 09:40] stefanhorning opened #51531 "aws_ses_identity module: TypeError: Can't convert 'NoneType' object to str implicitly"
##### SUMMARY
When running ansible 2.7.2 with python 3.5 I get this error for the aws_ses_identity module

`TypeError: Can't convert 'NoneType' object to str implicitly`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_ses_identity module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Anonymized above output a little (replaced actual paths with project_dir).

##### OS / ENVIRO

[2019-01-31 10:03] rajatumrao commented on #22691
Can we expect this to be added in Ansible 2.8

[2019-01-31 10:24] kustodian opened #51533 "actionable callback with --diff prints all tasks of roles"
##### SUMMARY
When the callback plugin is set to `actionable` or if it's set to default and `display_ok_hosts=no` and `display_skipped_hosts=no` is configured in ansible.cfg when using `--diff`/`-D` Ansible will print all tasks of a role in play, but it won't print any hosts. Without `--diff`/`-D` it only prints plays. In <2.7 it only printed plays and tasks that changed (no matter if diff is pass

[2019-01-31 10:26] vutkin opened #51534 "[ec2 module] spot instance request stay opened when module exit with timeout"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`ec2` module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7
##### STEPS TO REPRODUCE

[code]

https://github.com/lean-delivery/ansible-role-java/blob/develop/molecule/resources/provisioning/winrm/create.yml

##### EXPECTED RESULTS

Spot request should be cancelled/expired when module f

[2019-01-31 10:31] vutkin commented on #11906
PR https://github.com/ansible/ansible/pull/51535

[2019-01-31 10:33] meitham opened #51536 "ansible fails to recognise ``Include`` directive in ssh_config files."
ssh_config now allows the user to break down their ``~/.ssh/config`` file into multiple segments and link them all through ``Include path/to/segment*``.  Ansible fails to run when it sees ``Include`` keyword in the ssh_config file with error::

  fatal: [hostname]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: /home/username/.ssh/config: line 1: Bad configuratio

[2019-01-31 10:35] vutkin commented on #51534
This bug affects all versions: 2.5, 2.6, 2.7.

[2019-01-31 11:15] #38536 closed, assigned to nobody

[2019-01-31 11:16] Akasurde commented on #38878
@Tclemento Could you please check if #51538 works for you and let us know ? Thanks,

needs_info

[2019-01-31 11:50] gaah666 commented on #22362
I saw the other discussion aswell but I do not agree that "ini_file" is the best solution.
To me it was obvious "which module to use for yum repositories? - yum_repository of course!"...

And I know this thread is about CentOS. But yum is also used in RedHat. When using RedHat, you're not supposed to edit the /etc/yum.repos.d/redhat.repo file. From it's header:
# *** This file is auto-generated.

[2019-01-31 12:18] dpassante commented on #51526
Hello @aksharbarot The `template_find_options` argument was introduced in version 2.7 by PR #37015 to manage templates whose name is not unique.
It doesn't take `id` as an option but allows to filter by `display_text`, `checksum` and `cross_zones`.
Isn't it something that could solve your problem?

Could you please explain your use case, especially how you get template ids.

[2019-01-31 12:20] justjais commented on #51193
PR #51539 raised to fix the issue raised, once merged shall be queued for `2.8` release and shall also backport the fix to `2.7`.

[2019-01-31 12:49] akamac commented on #34187
Now that `apply:` was introduced to `include_role`, the issue is relevant again. While `apply: delegate_to` works, `delegate_facts` do not.

[2019-01-31 12:58] amarao opened #51540 "apply/delegate_facts does not work with include_role."
##### SUMMARY
`apply` argument for `include_role` does not support (and silently ignores) `delegate_facts`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 19.04

##### STEPS TO REPRODUCE

ext_role:
[code]
int_role:
[code]
playbook:
[code]

##### EXPECTED RESULTS
foo is defined for host2

###

[2019-01-31 13:33] bbl opened #51542 "'loop' with 'lookup' ignores 'when' statement"
##### SUMMARY

The `when` statement is ignored when used with the `lookup` plugin along with the `loop` statement.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

An example configuration listed bellow:

[code]
##### EXPECTED RESULTS

Expecting that this task will be skipped.

##### ACTUAL RESULTS

The `loop` expands and eval

[2019-01-31 13:37] MarekSarad opened #51543 "win_dsc module: DSC resource MSFT_SqlSetup failed to execute Test-TargetResource functionality with error message: Object reference not set to an instance of an object."
##### SUMMARY
When I try to install SQL server with win_dsc resource it is failing with an error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_dsc; SqlServerDSC; Resource: SQL Setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Target is Windows Server 2012 R2, SQL versionI try to install is SQL 2014
##### STEPS TO REPRODUCE

I am trying to

[2019-01-31 13:43] Lunik commented on #29310
In the Community Wiki Guidelines, we decided to use the `python-gitlab` library for future Gitlab modules.
So this issue is not needed anymore.

[2019-01-31 13:43] drybjed commented on #51425
Sounds good, it was just a suggestion. Closing the issue. :-)

[2019-01-31 13:43] #51425 closed, assigned to nobody

[2019-01-31 14:01] bcoca commented on #51542
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `when` conditional is evaluated PER `loop` item, not before, as documented  here https://docs.ansible.com/ansible/latest/user_guide

[2019-01-31 14:01] #51542 closed, assigned to nobody

[2019-01-31 14:09] dagwieers commented on #29310
resolved_by_pr #51141

[2019-01-31 14:10] tiraboschi commented on #37145
Another option is to explicitly add setup to the task list where needed:

[code]

[2019-01-31 14:20] abenokraitis commented on #51486
Fabric interconnects are not tested or supported with the current or past NX-OS modules. You probably got lucky as this was never a platform ansible targeted. Have you tried using the UCS modules?

[2019-01-31 14:36] artheus commented on #50009
I am getting very similar results in CoreOS
Ansible 2.7.5

[code]

[2019-01-31 14:47] samdoran commented on #51483
@mator Thank you very much for reporting this and for confirming the fix.

[2019-01-31 15:04] bcoca commented on #51474
@illogic-al the documentation of the plugin should show all the options `ansible-doc -t become doas` as well as the new pages generated in the documentation site.

We will probably update and add more docs as this is merged

[2019-01-31 15:29] 1kaw opened #51548 "Yum module does not use proxy when username is not set"
##### SUMMARY

See also: https://github.com/ansible/ansible/issues/18979#issuecomment-457354229

In installing remote RPM using Yum module,
Yum module uses proxy only when proxy with authentication is set in yum.conf. and proxy is not used when proxy with no authentication is set.

The code causing this bug is shown below:

https://github.com/ansible/ansible/blob/b967f4dcc1ef80ffbe4f411e82bf76e6ad

[2019-01-31 15:32] bcoca commented on #37145
So I'm going to close this ticket since it is mostly a question on how the 'always' tag works and how it applies to the 'fact gathering'.

[2019-01-31 15:32] #37145 closed, assigned to nobody

[2019-01-31 15:51] sivel commented on #51474
Also, as mentioned above, I've also added `Password:` as a default prompt.

[2019-01-31 15:59] bugreports27 opened #51551 "junos_user: fails to manage the root user"
##### SUMMARY

the junos_user module fails to manage the root user.

* #32683 introduced the feature to be able to set a user's password, which fails to work for the root account (works for other accounts)

* you can also not set the root user's ssh key

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_user module

##### ANSIBLE VERSION

using current devel: 67f95cb499bb82a9c6eed0fb3f250

[2019-01-31 16:00] bcoca commented on #51536
Ansible itself does not read the file, ssh does, run with -vvv to see exact command run

[2019-01-31 16:09] bugreports27 commented on #51551
in the case of the root user the command look like:
[code]

instead of:
[code]

[2019-01-31 16:11] anis016 commented on #43739
@dagwieers

I plan to work on this one as a new contributor.  How much I understand, I need to change the `OS_FAMILY_MAP` JSON variable here: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py#L457

And I found the OS family as follows.

* DragonflyBSD: "DragonflyBSD, Gentoo/DragonflyBSD",
* OpenBSD: "OpenBSD, Anonym.OS, MirOS BSD, OliveBSD, Gentoo/

[2019-01-31 16:42] sivel commented on #51540
This issue was resolved in 8743e6ae2ee7aa3ae94038554110a9255f5d8fd8/https://github.com/ansible/ansible/pull/45492 but it does not appear to have been backported to the 2.7 release

cc @bcoca

[2019-01-31 16:55] samccann commented on #41826
note - ANSIBLE_PERSISTENT_COMMAND_TIMEOUT defaults to 30 seconds as of PR #51056

[2019-01-31 16:56] dagwieers commented on #43739
@anis016 You will have to be careful about what the right side of that listing maps to, because this would only work for values that are currently being returned as `ansible_distribution`. So it will only be useful if that's the value expected as `ansible_distribution` values.

[2019-01-31 17:11] ag0n1k commented on #17324
I tried to believe in a miracle for 4 hours and still found a way to tag nested variables in the dictionary and combine them, but the only thing I could do was get rid of errors and create a fairly simple example that does not work. Here is an example: https://gist.github.com/ag0n1k/3ab11ded08ebd4d1cc3694d10dbe13f8

[2019-01-31 17:28] poleguy opened #51552 "xfconf-query failed with error: Failed to init libxfconf: Unable to autolaunch a dbus-daemon without a $DISPLAY for X11"
##### SUMMARY

I tried to update the clock format in xfce4 and ansible xfconf returns an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

xfconf.py
Installed locally because Centos 7 only has ansible 2.7.5

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(no output produced)

##### OS / ENVIRONMENT

Centos 7
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should

[2019-01-31 18:43] jvmakine opened #51554 "`ec2_vol_facts` fails with `TypeError: 'NoneType' object is not iterable`"
##### SUMMARY
`ec2_vol_facts` fails on Ansible 2.7.6, works on Ansible 2.6.12 with the same setup.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vol_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Run a playbook with the following task
[code]

##### EXPECTED RESULTS
A successful execution with ansible 2.6.12 and

[2019-01-31 19:04] #51433 closed, assigned to nobody

[2019-01-31 19:30] ahuffman opened #51557 "pamd module warning - junk in JSON data on a change"
##### SUMMARY

Receiving the following message when the result is "changed" on a node:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No warning message about junk JSON data

##### ACTUAL RESULTS

[code]

[2019-01-31 19:54] sivel commented on #45034
Resolved in https://github.com/ansible/ansible/pull/47211

[2019-01-31 19:54] #45034 closed, assigned to nobody

[2019-01-31 19:58] jborean93 commented on #51528
Discussed this with @nitzmahone, we will take the same approach as the case as https://github.com/ansible/ansible/issues/51063. We will make the input module options case insensitive but add a warning saying this behaviour will be turned off at a future point in time.

[2019-01-31 20:11] chronidev commented on #33907
This issue is a big one, results between check and normal have to be consistent. Currently it's not possible to have a common way between check and normal mode to determine which item had changed.

I hit this bug with copy module on ansible 2.7.

[2019-01-31 20:16] sivel commented on #51536
Paramiko does not by default read the contents of ssh_config, and our code does not implement the functionality to read it.

Can you please provide the output of your playbook when run with `-vvv` as requested above?

needs_info

[2019-01-31 20:22] kbreit opened #51561 "meraki_ssid isn't idempotent"
##### SUMMARY
Requests to `meraki_ssid` is showing as changed for every request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_ssid

##### ANSIBLE VERSION

[code]

[2019-01-31 20:23] billdodd commented on #47571
I updated the get_bios_boot_order() method to retrieve the `BootOrder` array from the System resource. And then get additional properties/details for each boot devices by following the `BootOptions` URI and then URI for each of the members of the BootOptionsCollection.

The resources were structured as follows.

ComputerSystem:
[code]

BootOptions:
[code]

BootOptions/1:
[code]

(BootOptions/[2-5]

[2019-01-31 20:28] kbreit opened #51562 "meraki_ssid needs examples in documentation"
##### SUMMARY
Each module should have examples and `meraki_ssid` doesn't have any right now.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_ssid

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-01-31 20:32] #43827 closed, assigned to nobody

[2019-01-31 20:57] billdodd commented on #47571
The code logic is not depending on any dictionary ordering - it is based on the ordered BootOrder array. Note that the `entries` array in the output maintains the same order as the BootOrder array:
["Boot0001", "Boot0000", "Boot0002", "Boot0004", "Boot0003"] (The values in the BootOrder array correspond to the `BootOptionReference` fields in the output `entries` array.)

[2019-01-31 21:16] davidklaftenegger commented on #50822
the `postfix` service from `mail-mta/postfix` is also affected by this bug.

[2019-01-31 22:01] #50342 closed, assigned to nobody

[2019-01-31 22:06] wenottingham opened #51580 "git module with invalid reference succeeds in check mode, fails when run normally"
##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fedora 29 (shouldn't be relevant?)
git-2.20.1

##### STEPS TO REPRODUCE

see above

##### EXPECTED RESULTS

ideally: check mode also fails
required: check mode doesn't return a bogus `after` and `changed`

[2019-01-31 22:15] meitham commented on #51536
quite embarrassing really :-(

I was testing on two different machines, and failed to notice that my ``Include`` directive wasn't even valid on the server with the old version of ssh.

Apologies about the false bug report. I will close this down now.

[2019-01-31 22:15] #51536 closed, assigned to nobody

[2019-02-01 00:01] IPvSean commented on #50027
@ryanmerolle check out this https://github.com/network-automation/agnostic_example

this is probably way more usable for more and more vendors

[2019-02-01 00:56] ryanmerolle commented on #40239
Anyway we can scope the work required to address this?  I just hit it and there is a simple workaround to separate tasks, but it’s ideal or efficient.

[2019-02-01 01:15] samerhaj commented on #47571
Yes but the consumer of the output will need to parse that JSON array, and you can't really depend on the order of the entires (as that may be lost after parsing the json)..

[2019-02-01 01:18] hipyhop opened #51585 "k8s append_hash appending incorrect hash after double-templating"
##### SUMMARY
When using Ansible to generate Kubernetes ConfigMaps for Grafana the configmap template is templated twice.
Using the k8s module's append_hash feature results in the appended hash being different to that output by `k8s_config_resource_name`

The double templating is a big issue for us as Grafana supports the same variable interpolation syntax as Jinja; `{{ this style }}`.

##### ISSU

[2019-02-01 01:21] #49177 closed, assigned to nobody

[2019-02-01 02:33] #48108 closed, assigned to nobody

[2019-02-01 02:38] kyleabenson commented on #48366
@NathanUrwin were you able to revisit this and reproduce the output you mentioned here? Thanks!

[2019-02-01 03:02] ma-bo-do-fu commented on #31759
Hi, I encoutnred same bug

##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX 10.14.2

##### STEPS TO REPRODUCE

https://github.com/ma-bo-do-fu/ansible-cloal-docker

##### EXPECTED RESULTS

##### ACTUAL RESULTS
https://github.com/ma-bo-do-fu/ansible-cloal-docker/issues/1
[code]

[code]

[2019-02-01 03:33] willthames commented on #51585
This goes wrong before it gets to the k8s module.

If we use `set_fact` rather than `vars` to set the fact, and use a custom fact dumper, we get

[code]

[code]

[According to @sivel](https://github.com/ansible/ansible/issues/49579#issuecomment-446353344), values processed by the lookup plugin should be returned as `AnsibleUnsafeText` and not further processed - this doesn't seem to be the case he

[2019-02-01 03:37] willthames commented on #51585
One other note to make here:

Use `lookup('template', 'filename', convert_data=False)` when looking up templates that look like json (that avoids the need for `{% raw %}` without then getting `unsupported operand type(s) for +=: 'dict' and 'unicode'`)

[2019-02-01 03:47] #24633 closed, assigned to nobody

[2019-02-01 04:48] ryanmerolle commented on #50027
Yep, @IPvSean, several ways to skin a cat. It's not life or death here.  I just use the vendor specific module, but your method works fine as well.

[2019-02-01 05:41] #49192 closed, assigned to trishnaguha

[2019-02-01 05:54] knoxknot commented on #23864
My understanding regarding this error is to use the ansible wait_for module as a helper. In my case I was trying to unarchive a zip file which was throwing same error. So I got around the bug by first installing the unzip package, ran the unarchive module on the desired file and used the wait_for module to ensure that the package was unarchived to the desired path:

- name: Install Unzip
  apt:

[2019-02-01 06:05] willthames commented on #51585
I've got this to a more minimal test case.

[code]

If test.mini.yml is just
[code]

Then the type of `hello` is `AnsibleUnsafeText`

but if test.mini.yml is
[code]

then the type of `hello` is `str` - which means that any template lookup is going to be double templated.

[2019-02-01 06:20] Akasurde commented on #51554
@jvmakine Thanks for reporting this issue. Could you please check above PR and let me know if it works for you ? Thanks.

needs_info

[2019-02-01 06:33] dhirajdebut opened #51590 "'Connection' object has no attribute 'ssh'"
##### SUMMARY

I have installed ansible in macOS & also sshpass through pip. I am trying to run a task. in below as specified below. Whenever I run this  task get error

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible Version Details
[code]
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS Sierra

##### STEPS TO REPRODUCE

run a task from

[2019-02-01 06:33] orthanc commented on #51531
@stefanhorning thanks for the report. I've had a quick look at the relevant code and I'm 90% sure that it's failing because the regiion isn't explictily specified using `region` i.e.

[code]

As far as I can tell the code isn't correctly handling the case where the region is picked up from environment variables / config. I'll have a look at how to fix it but for now you can probably work around by

[2019-02-01 06:43] chrrrles commented on #19084
Currently trying to drive ansible plays using a "manifest" that is parsed by an inventory script - the script defines roles applied for each host, and also the variables needed by the roles.  Been trying to wrap my head around a solution to this problem without hacking Ansible.

I understand that Ansible evaluates `vars:` before the play so there is no way to dynamically feed a dictionary to an `i

[2019-02-01 06:51] willthames commented on #51585
!component -k8s

[2019-02-01 06:52] willthames commented on #51585
Extra debug info is on my [fact_dumper branch](https://github.com/willthames/ansible/tree/fact_dumper)

@bcoca, @sivel if you could take a look at this I would be most grateful.

[2019-02-01 06:58] gariels opened #51591 "VMware: vmware_guest ignore folder directive"
##### SUMMARY
The vmware_guest task tried to modify VMs of the same name at different VM folder.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Python 3.7.0
Target ESXi 5.5

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

playbook-2.yml to run successfully after the VMs from pl

[2019-02-01 07:01] Fred-sun commented on #40857
@zikalino

[2019-02-01 07:20] acardak commented on #14468
I ended up by installing `python3-apt` for my virtual environment as follows:

[code]

Explanation:
- Downloaded python3-apt package into `/tmp` directory which was `python3-apt_0.9.3.5ubuntu3_amd64.deb` in my case
- Extracted it to `/tmp/python3-apt`
- Copied the contents of `/tmp/python3-apt/usr/lib/python3/dist-packages/*` into virtual environment `site-packages` folder ( `/home/ubuntu/python3.

[2019-02-01 07:32] dhirajdebut commented on #51590
What is the issue with bin/ansible. Is my path usr/local/bin/ansible wrong ? because no such files as usr/bin/ansible exists on my Mac

[2019-02-01 08:22] mihai-satmarean commented on #51486
@abenokraitis thanks for the info, It looks to me that the nx_command is just sending the commands in the list to the device, since all nx_os have the same os, it just worked, you only have to know the commands.
My issue now is not that the nx_command is not working, but that the network_cli is not correctly connecting when provided an user with the form

Can you help with that?

Thanks!

[2019-02-01 08:32] hanssonsebastian commented on #51543
Hi, I'm also getting this type of error. Atm I'm ignoring the error during the play because the SQL log says it passed the installation without any errors.

[2019-02-01 08:46] mrmeszaros commented on #41133
A possible solution might be to ensure the `open-vm-tools.service` is started after `dbus.service`.
Edit `/lib/systemd/system/open-vm-tools.service` and insert a new line `After=dbus.service` under the `[Unit]` section.

Source: https://github.com/vmware/open-vm-tools/issues/240#issuecomment-413150508

[2019-02-01 08:47] justjais commented on #51193
PR #51592 backports the fix to `2.7` branch, queued for future `2.7` release. So, closing the issue

[2019-02-01 08:47] #51193 closed, assigned to justjais

[2019-02-01 09:18] Akasurde commented on #51590
@dhirajdebut Bot identifies and co-relates mentioned issue with related files. Above mentioned comment related this issue with [bin/ansible](https://github.com/ansible/ansible/blob/devel/bin/ansible). So, I think there is nothing wrong in your path. Problem might be somewhere else.

[2019-02-01 09:31] debabratp opened #51596 "Ansible local_action failed to create local directory"
##### SUMMARY

I have to perform location action with ansible. The local action is to crate a directory.

##### ISSUE TYPE

 - Bug Report
  In local action, Ansible is taking remote user details to create a local directory. And it fails with under privilege escalation.

I think ansible should not consider using remote user while doing location action.
##### COMPONENT NAME
 **module**: file, shell,

[2019-02-01 09:32] dhirajdebut commented on #51590
I tried to update python and run it with python 3 but still it does not work with python 3 as well . It works fine on my linux machine but when I am running this playbook on macOS then it is having this problem.

[2019-02-01 09:43] stefanhorning commented on #51531
@orthanc Thanks for your quick response to this. In fact adding the region fixed this for me. Probably the only thing I didn't try before opening this ticket as there wasn't any hint that this is the problem. ;)

Anyway thank you for providing the workarround!

[2019-02-01 09:46] wutzkachel commented on #51329
Now I discovered the problem.
Boto2 still use the "aws_security_token" option in the profile.
Boto3 and other tools (aws cli, etc.) use  "aws_session_token" option in ~/.aws/credentials
Take a look at issue #2988

[2019-02-01 09:58] wilmardo commented on #38605
The issue that @Joeskyyy might be fixed but the network field still doesn't seem idempotent. I ran it with a portgroup and always reports changed:

[code]

It also seems an untested case for which I opened a PR #51598
Will look into the root issue today :)

[2019-02-01 10:07] kernow opened #51599 "ec2_vol module not working as exprected"
##### SUMMARY

I wanted to start a conversation around this issue to work out the best way to resolve it. With the ec2_vol module as it currently stands if you try to create a volume with the same name as an existing one it will not create a new volume and will fail when it tried to attache it to an instance if the volume is already attache to another instance.

Having volumes with the same name i

[2019-02-01 10:20] Shaps commented on #51396
Hi @dthvt,

I was going to have a look at this today. Thanks for pointing out where the issue might be, I believe you are correct. I will patch and submit it so the change will make it in the 2.8 release.

[2019-02-01 10:30] aksharbarot commented on #51526
HI **@dpassante**
I am trying to delete CS template as below,

- name: Remove a template
  local_action:
    module: cs_template
    name: test_vm_image
    cross_zones: yes
    state: absent

if there are same name of template with "test_vm_image" present in CS then, those may be deleted.
So, if we can use *ID* of image then, module will try to delete that specific.

CS template has available dat

[2019-02-01 10:31] umataro commented on #47511
It probably would if there was a way to use the filtering in AWX (while setting up the 'Red Hat Virtualization' credential type).

[2019-02-01 10:38] MarekSarad commented on #51543
@jborean93 Thank you for comments (especially the side notes as I am a newbie to Ansible so they are very useful). I have tried your suggestion but same error was returned.

I tried as well remove  it completely (so only the set up account would be added to SysAdmin Group at least looking at the DSC code)  but it this case same error was returned as well.

[2019-02-01 10:38] jvmakine commented on #51554
@Akasurde Thank you for the quick response! This does indeed fix the issue. Thank you!

[2019-02-01 10:44] debabratp commented on #51596
Use
become: no or sudo: no
with local_action solve the problem.

[2019-02-01 10:44] #51596 closed, assigned to nobody

[2019-02-01 11:51] PulsatingQuasar commented on #43827
I just tested Windows Server 2019 and I got the same issue. So it's good it has been fixed

[2019-02-01 11:58] dagwieers commented on #46784
Hmmm, what heuristics bring us from *Installation Guide* to *installp* ?

[2019-02-01 12:01] yusukensanta opened #51601 "make git module support owner and group parameters"
##### SUMMARY
make `git module` to support both `owner` and `group` parameters like copy module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
git

##### ADDITIONAL INFORMATION
In case that we want to clone a git repository under a specific user (except for root and default user)  ownership, `become: (yes|no)` won't work well because it just decides which user, root or default user, should

[2019-02-01 12:06] lobsterdore commented on #15901
I can confirm that this issue is not fixed, why has it been closed?

[2019-02-01 12:20] Shaps commented on #51396
resolved_by_pr #51602

[2019-02-01 12:33] rosinwang commented on #13867
I had the same issue on mac OS. After reinstall or upgrade the cryptography package, the problem resolved.
[code]

[2019-02-01 12:44] vidojeg opened #51604 "Cannot create rabbitmq_user on windows host"
##### SUMMARY

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`rabbitmq_user`

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Windows Server 2012 R2

##### STEPS TO REPRODUCE

I'm trying to make rabbitmq users on the windows machine, but I get same module error. Below is the way I create it and which error I get

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-02-01 12:51] u1735067 opened #51605 "Document when module_defaults was added ?"
##### SUMMARY
Hello, is it possible to know when / in which version `module_defaults` was added ?

Maybe I missed the information but I couldn't find it in either https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html or https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
mod

[2019-02-01 12:53] gajendragaikwad opened #51606 "How to add local user [non domain] in administrator group using ansible in Windows 2016"
How to add local user [non domain] in administrator group using ansible in Windows 2016

[2019-02-01 12:53] gajendragaikwad commented on #51606
thanks in advance !!

[2019-02-01 13:04] rayalan commented on #15901
bot_broken

(This issue should be reopened)

[2019-02-01 13:14] ciscler commented on #25655
Is there any solution for this problem?

[2019-02-01 13:19] #51396 closed, assigned to nobody

[2019-02-01 14:03] justjais commented on #50881
@CSimpiFoN Unfortunately this cannot be debugged further without a Red Hat Ansible subscription. If you filed a support case with Red Hat, please reference this GitHub issue. If the community at large has the ability to debug and help in resolving the issue, this would be welcome as well. Thanks very much!

[2019-02-01 14:16] dagwieers commented on #51442
Yes, we can add it. You can also try to add it yourself, it's not that hard to do actually.

[2019-02-01 14:34] akcrisp commented on #48312
Hi guys we have just hit the exact same issue on ansible 2.5.x - no surprise seeing as newer versions have the issue. Is there an eta for a fix ?

[2019-02-01 15:10] dagwieers commented on #51367
@Thai-Morris Add the return values to the `RETURN` block in the documentation.

[2019-02-01 15:21] akamac opened #51611 "docker_swarm module support for --default-addr-pool"
##### SUMMARY
[API 1.39+ docs](https://docs.docker.com/engine/reference/commandline/swarm_init)
`swarm init` allows to specify `--default-addr-pool`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`docker_swarm` module

[2019-02-01 15:25] dagwieers commented on #33655
@gundalow It appears that because a comment includes Ansible output which consists of:
[code]
That this is a reason for @ansibot to tag it as `macos`. According to docs @ansibot only uses keywords for the issue description?

[2019-02-01 16:19] sgrimm-sg opened #51615 "Directly support iterating over dicts in "loop""
##### SUMMARY

The `loop` keyword should implicitly call `dict2items` if its argument is a dict instead of a list.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

loop

##### ADDITIONAL INFORMATION

In several of my playbooks I use `with_dict` to iterate over dictionary literals (as opposed to looping over dicts that are defined elsewhere). I'd like to move to the new `loop` setup to get o

[2019-02-01 16:23] samccann commented on #42126
@IPvSean - what about net_static_route - Manage static IP routes on network appliances (routers, switches et. al.)

[2019-02-01 16:34] dennisconrad opened #51618 "y|Y|n|N|on|On|ON|off|Off|OFF not Converted to Boolean when DEFAULT_JINJA2_NATIVE is False"
##### SUMMARY

When  `DEFAULT_JINJA2_NATIVE` is `False` certain strings which resemble YAML Booleans according to https://yaml.org/type/bool.html are not converted into Booleans, but kept as strings.  Affected strings are variations of `y`/`n` and `on`/`off`.

While I would argue that `DEFAULT_JINJA2_NATIVE` **should** be enabled as default, Ansible currently displays inconsistent behaviour when i

[2019-02-01 16:36] dthvt commented on #51396
Thanks @Shaps

[2019-02-01 16:41] dennisconrad commented on #51618
PR: https://github.com/ansible/ansible/pull/51619

[2019-02-01 16:45] amarao opened #51620 "endless 'changed' for influxdb_retention_policy with duration INF"
##### SUMMARY
If retention policy have duration INF, influxdb_retention_policy reports 'changed' every time it's run even if no actual changes was performed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
influxdb_retention_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
`changed` o

[2019-02-01 18:07] samdoran commented on #51615
!component =lib/ansible/plugins/lookup/items.py

[2019-02-01 18:13] dw opened #51622 "TaskQueueManager._forks is always 5"
##### SUMMARY

Current devel appears not to respect the ansible.cfg forks setting. It appears due to the work in afdbb0d9d5b (or some related commit), TaskQueueManager constructor is called with a forks parameter that is `None`, causing `self._forks = forks or 5` to always be 5.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/executor/task_queue_manager.py

##### ANSIBLE VERSIO

[2019-02-01 18:15] dw opened #51623 "WorkerProcess._new_stdin leaks across children"
##### SUMMARY

- `WorkerProcess.__init__` assigns `_new_stdin` to the instance within the parent.
- Strategy keeps a list of WorkerProcesses alive, and therefore their `_new_stdin`
- As base class forks to implement the worker, the parent's file descriptor table is duplicated

With high forks setting, workers can end up with hundreds of descriptors like in https://github.com/dw/mitogen/issues/514#

[2019-02-01 18:20] dagwieers commented on #24037
Anyone is invited to test #42528 for their use-cases, and add a :+1: to the PR if you approve.

[2019-02-01 18:30] ericdost opened #51625 "meraki_config_template not using net_id"
##### SUMMARY

When using net_id instead of net_name, the network is not bound to the configuration template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

meraki_config_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Using net_id properly binds the network to the configuration template

[2019-02-01 18:56] ericdost commented on #51625
I am slow on the uptake.  Confirmed that #51586 fixes this issue.

[2019-02-01 19:00] dagwieers commented on #49567
@jeffwarnica Do you have a minimal reproducer for this problem?

[2019-02-01 19:03] Shaps commented on #51396
@dthvt np.
FYI I have also backported the change to 2.7 so next release will get the fix as well.

[2019-02-01 19:19] dagwieers commented on #51618
This is wrong, if you define it as a string, it should be a string. It always has been like this for good reasons. Otherwise people wouldn't be able to create a string containing "yes" or "True".

There is only one exception, which is when using `key=value` pairs, as we don't have the added value of YAML syntax and strings could become booleans (when not explicitly quoted).

[2019-02-01 19:42] jeffwarnica commented on #49567
@dagwieers unfortunately I do not. I'm sure a windows administrator could brainstorm various intermittent issues that general review/improvement could fix.

In my case, it was a problem with a brand new VM being cloned; it was responding to pings before the whole domain join process completed.

Kerberos was fatally failing, not finding (sorry, language) the key in AD.

 I'm sure that would be reas

[2019-02-01 20:05] billdodd commented on #47571
@samerhaj  - thanks for the comments.

Let's call the output format that I showed above **Option 1**.

I did consider just outputting the BootOrder as is. But those `BootOptionReference` values (["Boot0001", ...]) didn't seem very descriptive, at least in the mockup I was using to test.

Let's call that **Option 2**:
[code]

I also considered just outputting a simple array of strings but using the

[2019-02-01 20:49] orthanc commented on #51531
#51627 will fix this by looking up the aws region consistently. If you want to use the fixed module ahead of it being included in an ansible release you can add it as a local module, see
https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html

[2019-02-01 20:54] mraineri commented on #47571
I like Option 3 the best. Option 1 seems to have too much cruft, and Option 2 I think would confuse end users.

[2019-02-01 21:11] samerhaj commented on #47571
My recommendation is to combine options 2 and 3.  The values that you show in option 2 are real strings that are consistent with the UEFI specification. OSes and deployment software Know about these and they use them for programmatically managing the BootOrder from. The OS (like at Linux EfiBootManager for instance). These strings  represent UEFI variable names that are exposed to OSes (and in som

[2019-02-01 21:58] dennisconrad commented on #51618
Please see my comment on #51619 why people **right now** are not able to create strings like "yes" or "True".

[2019-02-01 22:06] rambleraptor commented on #51325
Hi there! Can I get some more information about your subnetwork?

[2019-02-01 22:41] shadycuz opened #51629 "Filesystem module doesn't fail but filesystem UUID is missing when using lsblk or blkid"
##### SUMMARY

When creating Filesystems on AWS and RHEL7 instances. About 50% of the time the FSTYPE and UUID will fail to show up in the ansible gathered facts or in the output of `lsblk` or `blkid`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

filesystem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7 on AWS. Could be a bug with AWS Nitro Inst

[2019-02-02 00:18] NotAFile opened #51632 "Expose facts.d path as variable"
##### SUMMARY

Expose the currently set path of the "facts.d" directory in a variable

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core, setup

##### ADDITIONAL INFORMATION

It is often useful to place something you want to remember on a later run into the facts.d directory of a host. However, since this path is not exposed to playbooks, this currently requires hard-coding the path, whi

[2019-02-02 00:31] dw opened #51633 "WorkerProcess exception triggers catastrophic transmogrification into parent"
##### SUMMARY

- Given an Ansible run with some number of forks (100 here for the most dramatic effect)
- Redirect that run's stdout and stderr into a tool using a pipe (`ansible-playbook ... 2>&1 | less` should suffice)
- Cause all the forked WorkerProcesses to startup and sleep somehow on some tough task
- Cause all the forks to wake up and attempt to print to the screen, after killing the pipe

[2019-02-02 00:41] dw commented on #51633
I think it's fair to call this a multiprocessing bug. Relevant code makes no attempt whatsoever to prevent this outcome https://github.com/python/cpython/blob/06b15424b0dcacb1c551b2a36e739fffa8d0c595/Lib/multiprocessing/forking.py#L116-L129

[2019-02-02 00:57] johnboy2 opened #51634 "Obscure error message on expiring scheduled task"
##### SUMMARY
Within the "win_scheduled_task" module, the `delete_expired_task_after` setting can only _legitimately_ be used when at least one trigger has an `end_boundary` defined. Any tasks using `delete_expired_task_after` _without_ at least one trigger with an `end_boundary` is ill-defined.

This is problematic because the _requirement_ for that kind of trigger is undocumented and non-obvious

[2019-02-02 01:37] zimmertr commented on #43637
Anyone unable to resolve this with my instructions above or with a pyvenv see this response in another issue: https://github.com/ansible/ansible/issues/50529#issuecomment-451340890

[2019-02-02 02:07] dw commented on #51633
Thinking about this some more, I don't believe it relies on a high forks setting - if forks==1,

- Spawn child
- CTRL+C, child becomes parent, resumes next task? Forks child
- Child-child tries to write, EPIPE, becomes parent, resumes next task/host? etc etc

[2019-02-02 02:13] dagwieers commented on #51618
@dennisconrad Ok, let's make it clear this is about **set_fact** only, and that someone (incorrectly) changed **set_fact** to convert certain strings to booleans. This behaviour is wrong, **set_fact** should be behaving exactly as **vars:** in YAML format.

I traced this back to a change more than 4 years ago (https://github.com/ansible/ansible/commit/a6d6a89ad1d460f8d29589128549e2bac1e54db8). I t

[2019-02-02 02:15] dagwieers commented on #51618
@dennisconrad Yes, and if we want to change that erratic behaviour we should be removing it, rather than extending it.

[2019-02-02 02:40] dagwieers commented on #33655
-label:macos

[2019-02-02 02:40] dagwieers commented on #14681
-label:macos

[2019-02-02 02:51] kbreit commented on #51412
@BondAnthony How do we implement this since volume is handled by the ec2 module (I think that's what it is at least)?

[2019-02-02 03:01] orthanc commented on #51531
+label affects_2.6

resolved_by_pr #51627

[2019-02-02 03:19] icicimov opened #51646 "ec2_ami_copy fails to pick up AWS credentials from env vars"
##### SUMMARY
ec2_ami_copy fails to pick up AWS credentials from env variables although they are properly set in the terminal sessions launching the playbook:

[code]

There some other modules in the same playbook like `ec2`, `ec2_ami_find`, `ec2_vpc_subnet_facts` and `ec2_ami` that work just fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_ami_copy

##### ANSIBLE VERSION

[code]
[co

[2019-02-02 03:48] #43639 closed, assigned to nobody

[2019-02-02 03:55] #40280 closed, assigned to nobody

[2019-02-02 03:58] icicimov commented on #51646
Update, if I change the playbook like this to "help" the module find the keys:

[code]
the vars `aws_access_key` and `aws_secret_key` get populated but the result is the same authentication error:

[code]
which makes me believe the module is not sending the credentials at all?

[2019-02-02 04:08] #49554 closed, assigned to nobody

[2019-02-02 04:11] #29527 closed, assigned to nobody

[2019-02-02 04:11] #26297 closed, assigned to nobody

[2019-02-02 05:27] it-praktyk opened #51649 "Replace --force with --force-with-lease in the Rebasing a pull request"
##### SUMMARY
The current documentation about rebasing a pull request states

but safer will be to recommend

```$ git push --force-with-lease```

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs/docsite/rst/dev_guide/developing_rebasing.rst

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
- [The Git push command documenation](https://git-scm.com/docs/git-push)
- [The

[2019-02-02 06:28] abitrolly opened #51652 "Use runuser instead of sudo for become_user"
##### SUMMARY

Ansible `become_user` is broken on Scaleway Ubuntu 18.04 and support team says it is not the problem with their setup, because root user should use `runuser` instead of `sudo`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

become_user

##### ADDITIONAL INFORMATION

Scaleway Ubuntu 18.04 servers disable `sudo` for root user.
[code]

Official reply from Scaleway.

My playboo

[2019-02-02 11:32] #38878 closed, assigned to Akasurde

[2019-02-02 13:07] Kriechi commented on #51601
By pure luck I just had the same issue - thanks for opening this feature request just a day ago!

Would you mind sharing your workaround with the file module? Does it always generate a "changed" task?

[2019-02-02 18:08] dw commented on #51590
This is not a fix, but it may get you moving along. On OS X Ansible defaults to the 'paramiko' transport due to some old kernel bug. If you set "[defaults] transport = ssh" in your ansible.cfg, it uses an entirely different implementation.

[2019-02-02 18:38] anis016 commented on #43739
@dagwieers, Thank you! and sorry for the late reply.

I understand your point, so I was searching for a way to get all the supported `ansible_distribution` but all are pointing to this same file. So, how will I know the expected value of `ansible_distribution`?

And, is there any test should I need to run to verify this? Sorry if any of my questions sound stupid.

[2019-02-02 19:12] #43592 closed, assigned to nobody

[2019-02-02 20:39] dominikholler opened #51655 "os_network's provider_segmentation_id should be integer"
##### SUMMARY

According to the OpenStack Networking API
the attribute provider:segmentation_id of a network has to be
an integer.
Even if neutron accepts provider:segmentation_id to be a
string, other implementations may not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS

##### STEPS TO

[2019-02-02 21:10] rsbeckerca commented on #48602
I have just encountered the same issue with the file module using `state: absent` whether the file or directory is there or not, after upgrading to 2.7.6 on Ubuntu 14.01, but there does not seem to be a code path relative to tags for 2.7.6 or 2.7.12 in that module either. I can open another case, but this all seems related.

[2019-02-02 23:12] mz0 opened #51656 "digital_ocean_droplet: add rebuild option (state=pristine)"
##### SUMMARY
 Allow Droplet rebuilding from current or another image.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean_droplet

##### ADDITIONAL INFORMATION
Some Droplet mis-configuration issues may be solved by rebuilding droplet. One may also find it useful to rebuild a droplet from a new image without deleting existing Droplet.

[code]

[2019-02-02 23:47] chopraaa commented on #49283
@lukasmrtvy Please specify 'numa_enabled: True` as a parameter and let me know if that works for you.

[2019-02-03 00:10] willthames commented on #50529
@geerlingguy - rather than updating system python, it's better to set `ansible_python_interpreter` to `ansible_playbook_python` as @fabianvf suggests.

Also, for anyone reporting these issues, it's hugely helpful to put a `python_requirements_facts` task in your playbook so that you can see what is actually being run.

For example:

[code]

would be helpful here

[2019-02-03 01:04] kylix3511 commented on #50529
Thanks Will. python_requriments_facts is very useful tip. Thanks so much.

I try to use python_requriments_facts, it is not working as expected. Please help if you got some time.

kylix3511  (e) venv280  ~  ansible  helloWorldApp  cat deployHelloWorld.yaml

---

- hosts: localhost
  connection: local

  vars:
      ansible_python_interpreter: '{{ ansible_playbook_python }}'

    - python_requ

[2019-02-03 01:14] benwsapp commented on #50529
looks like you have a typo there? - [here's the reference](https://docs.ansible.com/ansible/latest/modules/python_requirements_facts_module.html) for proper syntax.

otherwise, are you getting output at all? or just an error? should show what requirements are and are not being met.

[2019-02-03 01:41] willthames commented on #50529
@kylix3511 - the `python_requirements_facts` is a task, so needs to be in the task list:

[code]

[2019-02-03 03:14] erpadmin commented on #34463
I have this issue as described when using is search and register stdout whether element [0] is specified or not

here the check is against 'name' but before i was testing against the IP
[code]

[2019-02-03 03:44] erpadmin opened #51659 "search string for registered variable.stdout evaluated in a when conditional does work as expected"
##### SUMMARY

search on registered variable.stdout evaluated in a when conditional does not work as expected

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE

check

- name: test2
    debug:
    msg: "yes"
   when: dnscheck2.stdout is search('/name/')

relevant output:

TAS

[2019-02-03 04:24] ETSJustin opened #51660 "include_role erroneously skipped when including role is a dependency of a conditionally skipped role"
##### SUMMARY
The role test_1 uses include_role on test_2. When the role test_3, which depends on test_1, is a conditional (skipped) role in the playbook, the role test_2 is erroneously skipped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Description:    Ubuntu 16.04.5 LTS

##### STEPS TO REP

[2019-02-03 05:45] zikalino commented on #51187
fixed by #51653

[2019-02-03 06:53] kylix3511 commented on #50529
Thanks @willthames

It works as expected.

[code]

[2019-02-03 06:58] kylix3511 commented on #50529
Did any body tried and deployed a simple HelloWorld application in Kubernetes via ansible ?? I'm trying to do that last few days ...

[2019-02-03 07:43] Richard-Foo commented on #44420
-p option is correct (at least for Centos7 target) - the real issue is with the -L option.  -L is the command to list the chain contents, not add a rule.  -A (append) or -I (insert) are the proper options.

If the module needs to verify the chain listing, that needs to be done via a separate line, specifying only the table and chain.

This config:
[code]
results in this invalid command on the targ

[2019-02-03 10:04] andytom commented on #51652
!component -lib/ansible/modules/database/postgresql/postgresql_db.py

[2019-02-03 10:30] Spredzy opened #51662 "ec2_instance: Instance creation faces Eventual Consistency and fails"
##### SUMMARY

Sometime when using the `ec2_instance` modules, the action will fail with the following issue:

[code]

This is due to https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

  - ec2_instance

##### ANSIBLE VERSION

  - devel

##### CONFIGURATION

 - N/A

##### OS / ENVIRONMENT

[2019-02-03 10:42] Spredzy commented on #51662
This is the result of some digging. Issue seems to come from here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_instance.py#L1535-L1538

#### Waiter

To clarify on the above issue, I ran this with `wait: false`, but I would still expect the module to rely on waiter or any other mechanism to check that `InstanceId` has properly been propagated before keeping goi

[2019-02-03 13:48] antonioribeiro opened #51663 "apt upgrade full raises a "Could not get lock /var/lib/dpkg/lock-frontend""
##### SUMMARY

When trying to `apt: upgrade: full` frequently it errors with `"Could not get lock /var/lib/dpkg/lock-frontend"`. I already tried to delete the lock file before running upgrade, but it still raises the error. To fix it I just have to run `ansible-playbook` again and it usually works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONF

[2019-02-03 14:17] mcandre opened #51664 "Support for COMSPEC Windows controllers"
##### SUMMARY
Ansible currently has dependencies on UNIX features for controllers, making it much more difficult to use Ansible for Windows-to-Windows remote configuration, or Windows-to-UNIX remote configuration. Right now, Ansible does not run well from either native Command Prompt or native PowerShell environments.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-playbook

##### A

[2019-02-03 15:30] marcaurele opened #51665 "apt_key module exception with python3.7 `StopIteration`"
##### SUMMARY

If on the target host, the default python 3 version is a 3.7, the `apt_key` module throws an exception about `StopIteration`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9 buster/testing

##### STEPS TO REPRODUCE

Use python 3.7 on the target host, this will produce the erro

[2019-02-03 15:58] zakabluk opened #51666 "proxmox: too many values to unpack"
I tried to launched lxc container in Proxmox through ansible.
ansible 2.7.5
##### COMPONENT NAME
proxmox
--task--
[code]
error trace
[code]
 why?

[2019-02-03 16:12] agaffney opened #51667 "include_role with apply/tags fails when using 'role' as loop var"
##### SUMMARY
When using `include_role` in a loop with a loop var named `role`, the loop var does not work with `apply`/`tags`, but it does work for `name`. This generic error produced led me to believe that loop vars didn't work at all with `apply`/`tags`, but it works fine with a loop var such as `item` or `host_role`. It also works as expected if I comment out the `apply` section.

I noticed th

[2019-02-03 17:55] mkrizek commented on #51659
Seems to work as expected to me. There is no `/name/` in `dnscheck2.stdout`. I guess the following is what you wanted?
[code]

https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#testing-strings

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-03 17:55] #51659 closed, assigned to nobody

[2019-02-03 18:21] shorbachuk commented on #38917
Any update or workaround on this? I have a use case and I would like to do something like this:

[code]

[2019-02-03 18:59] shorbachuk commented on #38917
I would also add that I am fine with the ${env:var_name} syntax. I've tried the syntax below and it doesn't work:
`- name: Install the Visual C thingy
  win_package:
    path: '$env:windir\syswow64\cscript.exe'
    product_id: '{CF2BEA3C-26EA-32F8-AA9B-331F7E34BA97}'
    chdir: C:\Temp\Install
    arguments: InstallWrapper.vbs`

[2019-02-03 19:10] shorbachuk opened #51670 "win_package recursive copy"
##### SUMMARY
I have some installers that have dependencies, answer files that are required by the installer. I know win_package copies the path locally. It would be nice to have an option to recursively copy if the path is a UNC path. Something like this:

- name: Install the Visual C thingy
  win_package:
    path: "\\\\server1\\installs\product.msi"
    product_id: '{CF2BEA3C-26EA-32F8-AA9B-331

[2019-02-03 19:12] anis016 commented on #51649
Hi @acozine, I created a pull request for this task as per recommended. https://github.com/ansible/ansible/pull/51671

[2019-02-03 19:14] mkrizek commented on #51665
`TASK [packages/development/javascript : add repository for Yarn]` from Ansible's output does not correspond with the task you posted `- name: add repository GPG key for Yarn`. From the traceback, the module that is failing is `apt_repository`, not `apt_key`. Please update the description. Thanks!

[2019-02-03 19:17] anis016 commented on #50262
@acozine, I created a pull request for this task: https://github.com/ansible/ansible/pull/51672

[2019-02-03 19:34] anis016 commented on #45709
pull request submitted. https://github.com/ansible/ansible/pull/51673

[2019-02-03 19:59] mkrizek commented on #51665
needs_info

[2019-02-03 20:14] mkrizek commented on #51665
This has been fixed in https://github.com/ansible/ansible/pull/47219 and will be in the next release of `2.7`.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-03 20:14] #51665 closed, assigned to nobody

[2019-02-03 20:59] erpadmin commented on #51659
you are correct, i misinterpreted the doc example and thought the /'s were sed-like

thanks

[2019-02-03 22:07] chopraaa commented on #51666
The API server listens to `8006` by default. You can change:

[code]

to:

[code]

You can check the [documentation](https://docs.ansible.com/ansible/devel/modules/proxmox_module.html) in case you've made any more errors, or refer to the [Proxmoxer docs](https://github.com/swayf/proxmoxer).

[2019-02-03 22:13] willthames commented on #50529
@kylix, in your original output, you can see that python is /usr/bin/python, but in the response from python_requirements_facts python is /Users/kylix3511/venv280/bin/python. This is presumably because you've since fixed `ansible_playbook_python`

Can you run the same playbook again with `-vvv` including the python_requirements_facts and the k8s task - I'm trying to see what problem you're hitting

[2019-02-03 22:13] willthames commented on #50529
Could you report the docs issue as a separate bug - I'd like to keep this one focused on the problem you're having

[2019-02-03 22:33] ghost opened #51675 "Documentation Example Error"
##### SUMMARY

The k8s module have small documentation error or typo :

[https://docs.ansible.com/ansible/latest/plugins/lookup/k8s.html?highlight=k8s ](url)

<img width="645" alt="dock-error" src="https://user-images.githubusercontent.com/38637223/52183802-8c25c380-27c0-11e9-8f60-36cd1db522c1.png">

[2019-02-03 22:36] dagwieers commented on #25532
Do you have WinRM configured to use port 443 ? Because that is not a default port for WinRM for https (like port 80 is not the default port for WinRM for http). If you want to use https, leave out the ansible_port and it will use port 5986 automatically. Anyway, this is off-topic, it is not related to this issue.

[2019-02-03 23:00] kylix3511 commented on #51675
k8s module

[2019-02-03 23:39] dagwieers commented on #43739
@anis016 If you read that file, you can see what is being attempted to detect the distribution. (There is either a list of files that are attempted, or a function call being made). The easiest obviously is to run it on every system to tell what it is.

[2019-02-03 23:49] mlda065 commented on #18432
No, I think this is a bug which needs fixing. If users have to go to the IRC channel to decipher a common error message, then the error message is inadequite. It should be rephrased in a clearer way.

That's the problem. The message is saying "task x failed. Do y to retry". So obviously users are going to assume that doing y will make Ansible retry just task x (and maybe subsequent tasks).

Is the

[2019-02-03 23:57] dagwieers commented on #46784
!component -lib/ansible/modules/packaging/os/installp.py
-label aix

[2019-02-04 00:25] moreati opened #51679 "`ansible-test sanity --tox` scans & reports on the contents of venv"
##### SUMMARY
As per the Developer Guide I'm using a virtualenv called `venv` while developing a module for Ansible. As part of this I'm running the sanity tests. If I don't provide any targets then `ansible-test` runs sanity checks of the entire source tree (useful), including the `venv` virtualenv. The latter creates excessive, distracting output as `ansible-test` applies Ansible project convent

[2019-02-04 02:08] illogic-al commented on #51474
I tried checking out sivel:become_plugins and testing again but after running `source ./hacking/env-setup` and then running my playbook, I kept getting this exception:

[code]

I think it has something to do with this error:

[code]

I know that's got nothing to do with this bug, but that's why I can't verify.

[2019-02-04 02:47] kylix3511 commented on #51675
Sorry 😐 This is the page and example that I’m referring to : https://docs.ansible.com/ansible/latest/plugins/lookup/k8s.html?highlight=k8s

[2019-02-04 02:59] #51188 closed, assigned to nobody

[2019-02-04 03:54] Testicule commented on #51284
In my case, the issue turned out to be caused by somehow losing proxy details in:
/etc/rhsm/rhsm.conf
Or perhaps it was never properly configured in that file on the host in question. Once i put proxy details back in there, everything was OK. I apologise for shooting my mouth off like a total *@#hole.

[2019-02-04 04:06] jborean93 commented on #48766
Have merged and update Ansible CI to support Server 2019. Running the CI tests through Shippable to ensure everything passes before merging the PR that adds it to the Shippable matrix.

[2019-02-04 04:07] dagwieers commented on #51675
@kylix3511 You can make the necessary modification by clicking on the "Edit on GitHub" button and editing the file. Then fork and create a PR (this should be quite easy to do).

[2019-02-04 04:17] Akasurde commented on #51381
@ccoupeau Thanks for reporting this issue.

1. `vmware_tag` is used to create tag and is not intended for assigning tags to VM.
2. For assigning the tags to VM, you may want to use [vmware_tag_manager](https://github.com/ansible/ansible/pull/46945)
3. You are using `tag_id` from previous task to `category_id` which is not correct. This is cause this traceback.

[2019-02-04 04:17] Akasurde commented on #51381
resolved_by_pr  #51684

[2019-02-04 04:36] dhirajdebut commented on #51590
At which path I should find this ansible.cfg file.

[2019-02-04 05:01] Akasurde commented on #51590
You can find the `ansible.cfg` in various places. You want to read more about these paths [here](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings-locations)

[2019-02-04 05:06] ganeshrn commented on #50905
I am not able to reproduce the issue with 2.7.5 in my environment
Can you please run the playbook with verbose flag (`ansible-playbook <--snip--> -vvvv`) and share the logs.
Also, what is the version of ncclient and paramiko used in your running environment.

needs_info

[2019-02-04 05:08] #51010 closed, assigned to nobody

[2019-02-04 05:55] NilashishC commented on #51436
@cr33phav Have you tried increasing the timeout values as mentioned here - https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues?

Also, I see in your group_vars there seems to be a typo - `absible_become_pass: password` should be `ansible_become_pass: password`. With that, also try adding - `ansible_become_method: enable`.

needs_info

[2019-02-04 06:11] dhirajdebut commented on #51590
I have just run a command ansible --version on mac os. When i do this i get a path as
`config file = none `

[2019-02-04 06:32] #48929 closed, assigned to Akasurde

[2019-02-04 07:21] vijayscsa commented on #51268
ansible 2.7.6

Adding multiple datastores at a single time is an option looking forward.

[2019-02-04 08:40] plsanchezfaure opened #51687 "Terraform module can't handle list/dict variables"
##### SUMMARY
Terraform module does not escape correctly list/dict variables, so they can't be passed to Terraform command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.5 LTS

##### STEPS TO REPRODUCE
- Terraform vars file:

[code]

- Terraform main file:
[code]

- Ansible playbook
[co

[2019-02-04 08:42] dhirajdebut commented on #51590
Kindly respond and let me know how can i fix this ?

[2019-02-04 08:58] planet-winter commented on #32385
I have the module in production for a while now.
Sorry @overhacked I must have overlooked the github notification.

It now writes the build options to` /etc/make.conf` as well. for eg. a manual system upgrade to have the same effect. This is the only place I found where the options should reside..

Can someone please guide me on how to correctly submit the PR?
I am also unclear about how the tests

[2019-02-04 09:00] Akasurde commented on #51590
@dhirajdebut Can you join `#ansible` on `irc.freenode.net`  and ping there ? Thanks

[2019-02-04 09:37] dhirajdebut commented on #51590
@Akasurde i have joined the channel. kindly respond

[2019-02-04 09:51] Akasurde commented on #51590
@dhirajdebut What is your IRC nick on `#ansible` mine is `akasurde` ?

[2019-02-04 10:14] dhirajdebut commented on #51590
@Akasurde mine is @dhiraj. you can join chat.stackoverflow.com. Room name is **AnsibleQuery**.

[2019-02-04 11:51] krichter722 opened #51694 "Provide a module to copy a directory tree"
##### SUMMARY
Provide a module to copy a directory tree

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
modules

##### ADDITIONAL INFORMATION
There's currently no way to copy a directory recursively which is a frequent task when dealing with software distributions provided as tarballs.

The existing functions to copy a directory without directories inside (non-recursive) isn't sufficient an

[2019-02-04 12:05] krichter722 commented on #51694
One can use the [`synchronize` module](https://docs.ansible.com/ansible/latest/modules/synchronize_module.html).

[2019-02-04 12:27] MMollyy opened #51695 "Powershell code for GPO only giving errors when ran from Ansible playbook"
##### SUMMARY
Hi,

I'm currently trying to automate some GPOs on a domain controller, but i'm kind of running stranded on an error that is being output by powershell. However, when I run the same script local on the DC with the same input as I would when injecting the values from Ansible the script runs fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

####

[2019-02-04 13:08] ThomasFurmston opened #51697 "disable_excludes errors with disable_includes message"
##### SUMMARY
When running the yum module using disable_excludes: all and targetting a Centos6 machine ansible will error with `"msg": "'disable_includes' is available in yum version 3.4 and onwards."`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum module with disable_excludes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ansible machine:
[code]
Targ

[2019-02-04 13:22] MMollyy commented on #51695
As ive started looking at event logging it might seem like the issue is windows related. Investigating ..

[2019-02-04 13:33] dagwieers commented on #32385
Basically you clone this project on your system locally (`git clone`), then you make a branch (`git checkout -b <branch-name>`), then make the modifications to this branch's tree, then add commits (`git commit <files>`), test your changes (`ansible-test sanity <files>`) and test integration tests (`ansible-test integration <targets>`) and finally push to your remote fork (`git push planet-winter <

[2019-02-04 14:28] #49621 closed, assigned to Qalthos

[2019-02-04 14:31] MMollyy commented on #51695
Yes. Can be closed. Apparently there is something wrong with one of my dcom objects according to event log.

[2019-02-04 14:52] #49531 closed, assigned to nobody

[2019-02-04 15:01] #28768 closed, assigned to nobody

[2019-02-04 15:08] dhirajdebut commented on #51590
I have solved issue by doing steps
Created a `.ansible.cfg` file by using content from this link & placed that file in my home directory ie.
`/Users/username/.ansible.cfg`
[https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg](url)

I added in the .ansbile.cfg file
[code]

I added Path of .ansbile.cfg in `ANSIBLE_CONFIG` environment variable

I exported this as `export ANSI

[2019-02-04 15:15] marcinkubica commented on #41313
+1 on this

A big pain when integrating roles which rely on `when:` conditions.

A must have!

[2019-02-04 15:33] dpassante commented on #51526
Looks like you get the template id in the ACS UI, right? In that case, why not just delete the template directly from the UI?

If several templates have both the same name and display_name, users will have trouble finding which template to use. I'd suggest adding the creation date or version of the template in one of these two fields.

You could delete one of them with something like below.

[code

[2019-02-04 15:52] mrmeszaros commented on #16049
I like the both options @nikaro proposed.

I want to generate values that I would like to use on multiple hosts.

[2019-02-04 15:55] dagwieers commented on #16049
Well, the concept of a global fact does not exist. A fact by nature is local. You also have host and group variables, but they are not considered global. The only thing we do have are "extra variables" the stuff you add on the command-line that overwrites everything else.

So if you wanted this, you probably would be writing a `set_extra_var` action plugin. In theory it is possible, I don't know i

[2019-02-04 16:51] Akasurde commented on #51590
@dhirajdebut What is paramiko version like =

[code]

[2019-02-04 17:12] gundalow commented on #51633
@dw Thanks for the bug report, does your fix in https://github.com/dw/ansible/commit/006b0fed42e6f9dbdc6af5f48957a5f983a6f81a resolve this, if so could you please raise it as a PR so we can review

[2019-02-04 17:31] Nani-o opened #51702 "Send User-Agent with proxy connection requests"
##### SUMMARY

I works with a client that uses a proxy with some special policy, it rejects any request that does not contain an user-agent.
I have a set of roles that works fine and using them with the proxy, I noticed that I got errors on proxy related tasks (get_url, unarchive with url, uri). Further digging I understood that thoses errors was not caused by Ansible itself, but the fact it was n

[2019-02-04 17:54] rwaweber opened #51703 "openssl_pkcs12: cannot create archive without a private key"
##### SUMMARY
When attempting to create a pkcs12 archive to use as a java truststore, I am unable to do so without the private key.

Looking at the documentation, I don't think that this is an intended use, so this may be more in the realm of a feature request.

##### ISSUE TYPE
- Bug Report
- Feature Request

##### COMPONENT NAME
`openssl_pkcs12`

##### ANSIBLE VERSION

[code]

##### STEPS TO REP

[2019-02-04 17:56] guilhermeaiolfi commented on #7235
I have to agree, @ghost. I'm looking for a solution for hours and all them seems hacks on top of hacks. I'm using ansible to solve problems for me, but it seems that it creates others. Crazy!!!

[2019-02-04 17:59] samdoran commented on #51590
I'm not having any luck duplicating this. On macOS, we fall back to Paramiko if the connection is set to `smart` and a password is provided via the command line.

In reading through the paramiko connection plugin code, I don't see how the `ssh` attribute would be undefined without raising other errors.

Can you provide the output for `-vvvv` along with the full command and playbook you are running

[2019-02-04 18:14] dw commented on #51633
its linked above - https://github.com/ansible/ansible/pull/51636

[2019-02-04 18:15] dw commented on #51633
Just for reproduction's sake, because I'm not sure `less` will actually trigger it (does it close its pipe on CTRL+C? etc), the original "ts" script that was being piped to is:

[code]

[2019-02-04 18:24] viper233 commented on #35645
I've had the same error, multiple versions of Ansible 2.5-2.7. It turned out to be a miss configured extra_opts.

Check your options and ensure the remote systems can unarchive the package. This maybe a cumbersome process but will give you better results moving forward.

The only other suggestion would be to use two tasks, get_url and unarchive, also to ensure your archive is downloaded completely

[2019-02-04 18:52] #51633 closed, assigned to nobody

[2019-02-04 19:17] cr33phav commented on #51436
@NilashishC Yes - I should have mentioned that in my original post.  That was the most obvious potential solution so it was the first thing I tried.  I changed it to 30 seconds and it just took a lot longer to fail.  I should also note that while manually SSH'ed into the devices, running the enable command and subsequently entering the password has almost zero delay.

My suspicion is that it might

[2019-02-04 19:43] billdodd commented on #47571
Thanks, guys.

Sorry for the multiple choice test. :-) But here are three options for showing the combined output that Samer suggested.

**Option 4a**:
[code]

**Option 4b**:
[code]

**Option 4c**:
[code]

I think I prefer option 4a myself. @samerhaj and @mraineri - whay do you think?

[2019-02-04 20:10] rsbeckerca opened #51712 "file and copy module fails with New-style module did not handle its own exit"
##### SUMMARY
file module fails with "New-style module did not handle its own exit."

This worked at 2.0.0.2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file and copy modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
success

##### ACTUAL RESULTS

For copy, if the file already exists,

[2019-02-04 20:22] jborean93 opened #51714 "Unstable integration test win_updates"
##### SUMMARY
The win_updates tests are unstable or fail sometimes in Shippable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Shippable

##### STEPS TO REPRODUCE
Run tests in Shippable

##### EXPECTED RESULTS
Tests pass

##### ACTUAL RESULTS
Tests are unstable or fail

[code]

[2019-02-04 20:31] samerhaj commented on #47571
my vote: **option 4c**

Both options 4a and 4b make it harder for code to reference the specific option programmatically (since the key names are variable). Also option 4c allows for extensibility if in the future you want to add more information in the bios_boot_order output

[2019-02-04 20:46] terra-nova commented on #41584
This bug (feature?) is still present as of in 2.7.6 (current version on RHEL/EPEL 7 as of today).
I am using the system Python (2.7.5).

I am using the same pattern as @ajardan above; many independent roles use `include_vars` in conjunction with `with_first_found` to source distribution/os/platform-specific variables. The idea is to try more specific var files first, and more generic files later (

[2019-02-04 21:05] rhino5oh commented on #35398
This still does not work completely in the way I would expect it to when it comes to passing in vars.  For example, I have this:

[code]

So, I'm trying to pass in vars to geerlingguy.docker.  More specifically, the docker version.  When doing delegate_to, it appears to be attempting to apply the task to the original host as well as the hosts I'm delegating to.  I'm getting this error:

![screen s

[2019-02-04 22:23] neekz0r commented on #17324
@danvaida  I know you asked this a while ago, but I'd like to provide insight into why I'm doing it. Specifically, with ubuntu 18, they bundled netplan with it.

netplan (thankfully?) uses YAML to pass configuration of interfaces. Unfortunately, those interfaces must be a key reference, eg:

[code]
So, of course I can generate my own structure but to me it makes much more sense to follow netplans

[2019-02-04 23:32] willthames commented on #51662
For me, instance_ids is a minimal expectation if we're not waiting, so yes, we can get rid of the paginator if not waiting, as we're already returning those. The RETURN docs should be updated to reflect that we don't return instance details when wait is false.

[2019-02-04 23:37] smaslennikov commented on #44141
A straightforward way to do this would be great.

[2019-02-05 01:48] shamaljayalath opened #51718 "Import-Module VMware.VumAutomation fails with the error : "VMware.VumAutomation module is not currently supported on the Core edition of PowerShell""
##### SUMMARY
I'm currently in the process of integrating ansible with VMware Update manager. I have installer powercli on the ansible server successfully.

Whats working:
I managed to write up a YML playbook which talks to powercli to perform some network related changes on Vcenter and it all works fine which confirms there are no issues at powercli layer.

Issue:
Later on I installed "VMware.Vum

[2019-02-05 01:54] jborean93 commented on #51718
This doesn't look like it's related to Ansible at all. You are trying to install a PowerShell module on PS Core but the error explicitly states that `WMware.VumAutomation` is not supported on PS Core. There's nothing that we can do here, you could look at creating a Windows PowerShell module to execute through Ansible but this will need to be run on a WIndows host.

This appears to be a user quest

[2019-02-05 01:54] #51718 closed, assigned to nobody

[2019-02-05 01:56] shamaljayalath commented on #51718
Thanks for the update!

[2019-02-05 04:22] dhirajdebut opened #51719 "Unarchive task in ansible fails on macOS"
##### SUMMARY

I am not able unarchive a tar file through the unarchive task in Ansible

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I am using the Ansible unarchive module and executing through a playbook created.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

It should download the tar file for remote url & un

[2019-02-05 04:55] Richard-Foo commented on #31125
An important detail for others that may stumble across the same issue (since this bug report is high in the search results)...  In the docs, pipelining = True is described as a feature unique to OpenSSH.  Ansible will work without OpenSSH installed, but pipelining will not.

In my case, SSH was excluded from a minimal OS install.  Installing OpenSSH accelerated my playbook from 250 seconds to 70 a

[2019-02-05 05:07] mdavis-xyz opened #51720 "modprobe state:absent not idempotent - fails if already absent"
# SUMMARY

I'm using the `modprobe` module to ensure that kernel modules are not loaded.
It those modules are not loaded, the `modprobe` command throws an error, which is not trapped by the `modprobe` ansible module, and causes the playbook to fail.

# ISSUE TYPE
- Bug Report

# COMPONENT NAME

`modprobe`

# ANSIBLE VERSION

[code]

#  CONFIGURATION

`ansible-config dump --only-changed` prints out

[2019-02-05 05:18] mlda065 commented on #51720
Ok, maybe I'm just misunderstanding the difference between `rmmod` and `modprobe -r`.

Trying `modprobe -r vrouter` manually fails, even though `vrouter` is present in my `/proc/modules`.

Trying `rmmod vrouter` does unload the module.

So perhaps this is not a bug with the Ansible module, but the documentation should be modified to clarify the scope, to say that it can only deal with inbuilt modu

[2019-02-05 06:20] #51381 closed, assigned to Akasurde

[2019-02-05 06:47] raghavtan commented on #51421
@Akasurde i would like to work on this, if possible ?

[2019-02-05 06:48] justjais commented on #50633
@gmcgilvray any update on this issue?

[2019-02-05 07:45] alonisser opened #51723 "ansible k8s module fails to connect to non openshift k8 cluster"
##### SUMMARY
I'm trying to use ansible new k8s module to maintain an aks k8 cluster.
While I can work with  the cluster with kubectl directly , any command with the k8s cluster fails with a 503 error.

When I manually added a print statement to the kuberenetes rest client I can see it tries to append
/version/openshift to the end of the host resource - which does not exists and fails us
##### ISS

[2019-02-05 07:51] Klaas- opened #51724 "Yum return values differ on check and actual run"
##### SUMMARY
I would expect the yum module to return the same values when run in check and in non-check mode

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7,5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [Show packages that have been updated]  would also show ['changes']['updated

[2019-02-05 07:59] Klaas- commented on #51724
Side note: the return values are not documented in the docs; I would be glad to create a PR for that if someone provides me with input what the possible return values are :)

[2019-02-05 08:24] #51437 closed, assigned to nobody

[2019-02-05 08:30] thomasdstewart opened #51725 "unsupported interface for Po1 with onyx_interface"
##### SUMMARY

When using net_interface with Mellanox switches onyx_interface is used to configure interface descriptions. When trying to set a description for Po1 it fails with: "unsupported interface: Po1".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

onyx_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Debian testing/unstable, A

[2019-02-05 08:32] kustodian commented on #51724
@Klaas- Looking at the output as far as I can see yum which was not run in check-mode actually did upgrade the package, but it just didn't return changed?

[2019-02-05 08:35] kustodian commented on #51724
I guess we are all aware of this issue and yum returning different keys in different situations. I'm not sure if we ever came up with the list of keys that yum should always return, so that its output is more consistent.

[2019-02-05 08:36] flabatut commented on #30411
on my side, problem caused by oom:
[ 2507.235957] Out of memory: Kill process 14022 (ansible-playboo) score 393 or sacrifice child
[ 2507.238181] Killed process 14022 (ansible-playboo) total-vm:408724kB, anon-rss:175508kB, file-rss:732kB

definitely not related to ansible
my 2 cents

[2019-02-05 08:44] Klaas- commented on #51724
@kustodian so this is a bigger issue and should maybe change to "standardize & document yum return values"? :)

[2019-02-05 09:33] #47048 closed, assigned to nobody

[2019-02-05 09:46] xoxys commented on #49965
My bad.... On RHEL7 it's only fixed on 2.7.6

[2019-02-05 09:47] baltazar1 commented on #19884
I've tested with

ansible --version
ansible 2.7.2

It says now:

fatal: [TEST-AC3850]: FAILED! => {"changed": false, "msg": "match is exact but all of the following are missing: lines"}

[2019-02-05 09:49] planet-winter commented on #32385
Thank you @dagwieers!
I am en route to make all tests pass.

A question regarding tests. I have written a playbook to test the functionality of the module.
Where or how should I include the tests? Should I include the playbook at least as comment in the code? They run only on FreeBSD and not on any Docker/CI instance.

[2019-02-05 10:07] Shaps commented on #51662
@willthames glad to see we're on the same page. I think I should be able to make those changes in the next few days.
I'm not sure I'd backport this as it does change the return of the module?

[2019-02-05 10:10] simtomas opened #51727 "Jinja 2.10, set and include ansible.vars.hostvars.HostVarsVars error"
##### SUMMARY
Jinja 2.10 + Ansible 2.7.5 throws
"msg": "AnsibleUndefinedVariable: 'ansible.vars.hostvars.HostVarsVars object' has no attribute
error if template contains both {% set %} and {% include %}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
j2 template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian stretch-backports

##### STEPS TO REPRODUCE

[code]

set.j2:
{% set som

[2019-02-05 10:15] loop-evgeny commented on #36691
`mime_type` is still mentioned in the description of the `get_mime` parameter:

That should also be changed to `mimetype`

[2019-02-05 10:56] selfuryon commented on #19884
Yeah, I've just tested it too and I have the same error. It's happening because we can use `match: exact` only with lines and cannot use it with templates in the new version?

Some output:
[code]

[2019-02-05 11:09] Timoses commented on #51284
@maxamillion  Sorry for the delay.
`yum repolist all` returns
[code]
(blanked out the channel names with `xxx`)

[2019-02-05 11:39] mkrizek commented on #51727
I was unable to reproduce the issue solely on the information you have provided:
[code]

Worked with `ANSIBLE_JINJA2_NATIVE=1` too.

Can you provide more details? Probably anything related to `(primary_ip is a attribute which is set for majority of hosts in host_vars, thought not used in set.j2 or test playbook)`?

needs_info

[2019-02-05 13:53] fabianvf commented on #51723
It just attempts to hit the `version/openshift` endpoint to determine if it's an openshift cluster, but it looks like it's failing on resource discovery. The 503 would be consistent with it hitting the proper host on the wrong port, is it possible that it's running on 8443 rather than 443? If you do `kubectl get namespaces --loglevel 10` it should give you verbose enough output that you can see ex

[2019-02-05 14:32] selfuryon commented on #19884
If I use this config:
[code]
All works fine:
[code]

I understand that there is a problem for template to understand how to revert some lines to needed, cuz for lines it's resolved by using `before` parameter (but this is a problem too due to deleting the whole parent object usually). But are there some solutions for that with using templates?

[2019-02-05 14:42] wilmardo commented on #38605
@Akasurde Looked into this but gave up, I opened the VMware docs of the [VirtualVmxnet3](https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/index.html#link844b21dd141dd45f710d7635484598132cf0692d;vim.vm.device.VirtualVmxnet3.html) object to see if there was something that matches with the network_name. But the do

[2019-02-05 15:04] ghost opened #51745 "nxos failure on 9k when removing vlan (nxos_vlan absent)"
I don't think so

##### SUMMARY

I'm running into problems with nxos_vlan vlan removal on cisco nexus 9K. Works ok on 5k. For the 9k, ansible seems to try VXLAN commands when not configured for VXLAN.

"10.6.0.81": {
                            "_ansible_no_log": false,
                            "_ansible_parsed": true,
                            "action": "nxos_vlan",

[2019-02-05 15:09] sivel commented on #51474
@illogic-al In order to understand the error better, we would need to see the output when run with `-vvv` to see the full traceback as indicated in the error message.

needs_info

[2019-02-05 15:14] sivel commented on #51719
The error message indicates the issue:

This indicates that you do not have GNU tar installed, which can be installed via homebrew as well as other tools.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-05 15:14] #51719 closed, assigned to nobody

[2019-02-05 15:19] sivel commented on #51694
I am unsure what the specific issue is you are having here.  From my guess, you are looking for the ability to copy a directory recursively where the src and dest are both on the target host.

Recursive copying for that situation with `remote_src=True` will be included in the 2.8 release of Ansible as added in https://github.com/ansible/ansible/pull/43998

needs_info

[2019-02-05 15:33] sivel commented on #51667
I don't have a clear picture as to why, but in the strategy, when calling `filter_tagged_tasks` the `task_vars` that are calculated are missing `role`.

[2019-02-05 15:40] cesarfn4 opened #51748 "Docs: Clarify ansible-galaxy docs"
##### SUMMARY
`ansible-galaxy` does not use master branch by default  for installing roles as we specify in our docs, it uses the branch set as default in the repository. It would be necessary to clarify it.

[code]

##### ISSUE TYPE
- Documentation Report

##### ADDITIONAL INFORMATION
Link:

https://docs.ansible.com/ansible/latest/reference_appendices/galaxy.html#installing-multiple-roles-from-a-

[2019-02-05 15:42] sivel commented on #51652
It is completely acceptable to use `sudo` to execute commands for a user with a lower privilege.  With that said however, there are a few options.

1. Via ansible update the sudoers to allow root to use sudo
2. When https://github.com/ansible/ansible/pull/50991 is merged, a new `runuser` become plugin can be created.

[2019-02-05 15:49] ramooncamacho opened #51750 "Update example of playbook in "new module: aix_devices, manage AIX devices #32290""
##### SUMMARY

Update the example of playbook with the new state values

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

aix_devices.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tests performed in AIX 7.1 environment
##### ADDITIONAL INFORMATION

The example of playbook should be updated to reflect the changes in parameters available to sta

[2019-02-05 15:57] agaffney commented on #51667
I would assume that it's due to something like `role` being used as an internal var in that code, since it works with other loop var names.

[2019-02-05 16:20] JohnnyRacket opened #51751 "azure_rm_cdnprofile CdnClientManagement is not defined when auth_source: msi"
##### SUMMARY
When creating a cdn profile using azure_rm_cdnprofile and using an azure vm with a managed service identity, the azure_rm_cdnprofile fails with `NameError: name 'CdnManagementClient' is not defined`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_cdnprofile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server

[2019-02-05 16:38] Akasurde commented on #51591
@gariels Could you please test #51752 and let me know if it works for you ?

With this patch, I am able to uniquely identify given VMs with folder path
[code]

[2019-02-05 16:48] maxamillion commented on #51284
@Timoses no worries, thank you!

Out of curiosity, if you just run a `yum update` on that system where you're attempting `ansible $that_system -m yum -a 'name="*"'`, do you have any metrics on the amount of time it takes just the yum command line to chew through that many repos and packages? Similar question for something like `repoquery bash`.

Thanks again.

needs_info

[2019-02-05 16:56] gundalow commented on #37411
Test case: https://github.com/dw/mitogen/blob/master/tests/ansible/regression/issue_140__thread_pileup.yml

[2019-02-05 17:00] ramooncamacho opened #51754 "Discover of all devices fail in aix_devices.py module"
##### SUMMARY

Trying to discover all devices, it was returned changed as true, but the new device didn't show up.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aix_devices.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tests performed in AIX 7.1 environment
##### STEPS TO REPRODUCE

I think it should be expected this command be always status changed,

[2019-02-05 17:01] mdevicariis commented on #15048
The connection: local only works for the entire play. Only one connection can be used per host at a time. If you're targeting remote hosts and need to do a several tasks locally (eg. send an email, unzip and read a file, etc), then that won't work.

It would really be helpful to have allow a block to be run locally. See example below.

- name: unzip and read file
  local_action:
    block:
      -

[2019-02-05 17:13] ramooncamacho opened #51755 "Removing device fail in aix_devices.py module"
##### SUMMARY

Trying to remove an adapter, it returns error in command syntax.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aix_devices.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tests performed in AIX 7.1 environment

##### STEPS TO REPRODUCE

Playbook example:

[code]

Running the playbook:

[code]

I saw it's trying to execute "/usr/sbin/rmd

[2019-02-05 17:18] #51697 closed, assigned to nobody

[2019-02-05 17:49] bcarpio opened #51756 "SNS Topic Subscription filter_policy"
##### SUMMARY
SNS Topic (sns_topic) in Ansible supports subscriptions but it doesn't seem to support subscription filter_policies.

https://docs.aws.amazon.com/sns/latest/dg/sns-message-filtering.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
sns_topic subscriptions.

##### ADDITIONAL INFORMATION

This feature is important so messages sent to the SNS topic subscriber (Lambda, SQS, etc

[2019-02-05 17:52] deoren commented on #35493
Same here and it was driving me bonkers. I couldn't seem to figure out why the deeply nested variable structure was printing above just the value I wanted to see via the `debug` module.

Like your example, I'm still using `with_items` as that is what I've gotten used to.

According to #47679, it appears that a custom loop `label` can be used along with the `loop` keyword to control the level of ou

[2019-02-05 17:58] alonisser commented on #51723
Thanks @fabianvf I've checked with --v=10 and it's the same port 443

The Api Exception seems to be raised twice both with get and empty queryparams.
perhaps the second one is the one that causes the exception?
module_stdout": "https://pathtoclusterapi:443/version/openshift GET []
https://pathtoclusterapi:443/apis/metrics.k8s.io/v1beta1 GET []\n",

[2019-02-05 18:11] jamescassell opened #51757 "standardize connection vars to be `user` and `password`"
##### SUMMARY

For password connection variables, var names differ whether they end in `_pass` or in `_password`

For some vars, both variants are supported, but for others only one of them is.  We should standardize on one variant or the other and make sure that variant is supported everywhere.  We should do the same for variants of `_user` vs `_username`.  The chosen variant should be the only o

[2019-02-05 18:19] BarbzYHOOL opened #51758 "Apt module returns changed when pkg is already the newest version"
##### SUMMARY

Apt module says changed when program is already installed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

deb 9
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Not changed

##### ACTUAL RESULTS

[code]

[2019-02-05 18:21] gundalow commented on #51757
@jamescassell Thank you for this and the detailed research.
This is something we should address, and add aliases in for the older names. Likewise for module arguments.

We also need to start a new page under https://docs.ansible.com/ansible/devel/dev_guide/ where we define these preferred terms, `validate_certs` being another example.

[2019-02-05 18:32] sivel commented on #51758
I cannot duplicate this with a stock debian 9:

On the 2nd execution I only get:

[code]

For whatever reason, the `package_status` function must not be properly detecting that it is installed.

Does changing the package to the real name which is `libncurses5-dev` change this behavior for you?

[2019-02-05 18:36] jamescassell commented on #51757
If we standardise on `user` and `password`, we have to add:
[code]

The `password` and `user` variants exist for all others already.

[2019-02-05 18:42] BarbzYHOOL commented on #51758
Works with the real name but I retried with previous name and it still returns "changed"

[2019-02-05 18:53] sivel commented on #51758
Ok, I asked in hopes that it might help track down where the issue is in the current code path.

[2019-02-05 19:09] billdodd commented on #47571
Thanks. Makes sense. My preference for 4a was based on reading it as a human. For programmatic consumption, I agree that 4c is better. I'll submit a PR using that approach.

[2019-02-05 19:11] nasx opened #51760 "Modules to Create, Delete, List Events in oVirt/RHV"
##### SUMMARY
Submitting a pair of oVirt/RHV modules (ovirt_event and ovirt_event_facts) to create, delete and list events in oVirt/RHV.

##### ISSUE TYPE
- New modules

##### COMPONENT NAME
oVirt Modules

##### ADDITIONAL INFORMATION

The modules would be used to create, delete and list events in oVirt/RHV.

[code]

[2019-02-05 19:22] mkrizek commented on #51171
Fixed in https://github.com/ansible/ansible/pull/51257

[2019-02-05 19:22] #51171 closed, assigned to nobody

[2019-02-05 19:23] gundalow commented on #51757
Notes from IRC Meeting 2019-02-05

## PR1
* +1 to doing this
* grep for any references in the `docs/docsite` and update
* ansible_user` and `ansible_password` were what was chosen for 2.0 as standard
* Even if we don't deprecate we should add this to the porting guide
* would also be good to also document that user/password passed on command line via --ask-pass, etc are lower precedence than all o

[2019-02-05 20:22] fabianvf commented on #51723
Yeah, I think it's the second one that's the issue. It seems to be getting a bad response during resource discovery, which is odd because to get to the point of `https://pathtoclusterapi:443/apis/metrics.k8s.io/v1beta1` I would expect it to have already succeeded with `https://pathtoclusterapi:443/apis` and `https://pathtoclusterapi:443/apis/metrics.k8s.io`... not sure why it would start giving a

[2019-02-05 20:44] devster31 commented on #34693
Also encountering this in `2.7.6`
[code]
I do believe this should be added as a feature but if not possible, at least documented.

[2019-02-05 20:46] #41826 closed, assigned to samccann

[2019-02-05 20:53] sivel commented on #51540
This has been resolved by https://github.com/ansible/ansible/pull/51553 and will be included in the next 2.7 release.

[2019-02-05 20:53] #51540 closed, assigned to nobody

[2019-02-05 20:56] sivel commented on #51606
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-05 20:56] #51606 closed, assigned to nobody

[2019-02-05 20:58] alonisser commented on #51723
Thanks for the response
1. This is consistent . Also more information AKS managed cluster k8 version 12.04
2. Can you please explain how to get the token? is it from the kubeconfig? (I don't have an oc command currently and as I explained, this is isn't an openshift cluster :) , I'm just using ansible)

[2019-02-05 21:02] alonisser commented on #51723
Ok, figured out the token thing
curl -k -H "authorization: Bearer ${TOKEN}" https://<host>:443/apis/metrics.k8s.io/v1beta1 get service unavailable
While apis do include the endpoint:
    {
      "name": "metrics.k8s.io",
      "versions": [
        {
          "groupVersion": "metrics.k8s.io/v1beta1",
          "version": "v1beta1"
        }
      ],
      "preferredVersion": {
        "groupVersi

[2019-02-05 21:17] sivel commented on #51679
!component =test/runner/lib/target.py

[2019-02-05 21:18] #42126 closed, assigned to samccann

[2019-02-05 21:23] #51622 closed, assigned to nobody

[2019-02-05 21:27] #51664 closed, assigned to nobody

[2019-02-05 21:31] varunchopra opened #51770 "win_disk_facts: Add a `subset` parameter to gather only specific facts"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_disk_facts

##### ADDITIONAL INFORMATION
This can be used to reduce the data gathered and returned by the `win_disk_facts` module.

For a single disk/single partition server, this returns:

[code]

And for servers with multiple disks and volumes (I deal with 20+ volumes on a single server) this can get pretty ugly and slow to

[2019-02-05 21:42] #51031 closed, assigned to nobody

[2019-02-05 21:45] samdoran commented on #51448
Specifying group membership on the command line is not something we plan to implement. It is better to use the `add_host` module to temporarily add the host(s) to a group.

[code]

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-05 21:45] #51448 closed, assigned to nobody

[2019-02-05 21:58] andytom commented on #46168
@gitm1993 Can you provide the full playbook and output that is causing this issue from looking at the traceback it seems to be the [postgresql_privs module](https://docs.ansible.com/ansible/latest/modules/postgresql_privs_module.html) that is failing not the user module.

[2019-02-05 22:13] nethershaw opened #51772 "KeyError in rds_instance module on MonitoringRoleARN when modifying instance"
##### SUMMARY

When using the rds_instance module to modify an existing RDS instance such that the module parameter `monitoring_interval` is changed from a `0` or absent value and the parameter `monitoring_role_arn` is set to a valid IAM Role ARN, a traceback is thrown indicating a KeyError on the key `MonitoringRoleArn`. The error does not occur when creating a new RDS instance with otherwise ide

[2019-02-05 22:18] hvanderlaan commented on #34787
I'm getting the issues.

setup:
[code]
inventory:
[code]
group_cars/labservers.yaml
[code]

Connecting via ssh (no ansible run):
[code]

ansible adhoc without become:
[code]
ansible adhoc with become
[code]

[2019-02-05 22:24] rsbeckerca commented on #51712
This occurs if the ANSIBLE_LIBRARY variable is in the environment. It does not occur if the variable is absent.

[2019-02-05 22:35] samdoran commented on #51484
Verified against 2.6.12. This works in all versions of 2.7 and `devel`.

[2019-02-05 22:36] hvanderlaan opened #51775 "become requires password even is sudoerfile is set to NOPASSWD"
##### SUMMARY
When trying to run ansible adhoc command with module ping for testing. The remote ansible sudo/become command needs a password (-K). But the remote user has a sudoersfile with NOPASSWD in it. The remote user also doesn't have a ssh password but works only with ssh-key's

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
sudo / become

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2019-02-05 23:32] willthames commented on #51723
I wonder if this is similar to https://github.com/kubernetes-incubator/metrics-server/issues/45#issuecomment-421345121 or the following comment (but for AKS rather than EKS)

[2019-02-05 23:46] willthames commented on #51662
Thanks @shaps, that would be great.

Unless for critical bugs, I don't see the point of backporting modules when you can just copy them to the library directory

https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2019-02-05 23:46] hvanderlaan commented on #51775
Extra info

when using a simple or complex playbook with `become: true` this will not give any issues.
The problem is only there when running `ansible` command.

[2019-02-05 23:48] willthames commented on #51662
I'm not too worried about breaking backward compatability to fix a bug where the module doesn't reliably work though (presumably this module rarely works with `wait: no`?)

[2019-02-06 00:33] slmingol commented on #28058
This same problem exists for other arguments to `ansible-vault`. For example:

[code]

Where `$urlsecret` is this:

[code]

When `ansible-vault` tries to handle the above as an anonymous file `/dev/fd/63` it gives this error:
[code]

[2019-02-06 01:08] abitrolly commented on #51448
Why do you think that creating a separate file is better than just specifying the group from command line?

[2019-02-06 01:39] antonioribeiro opened #51788 "Allow spaces in file mode"
##### SUMMARY
To improve readability would be nice to be able to use file mode as

[code]

or even

[code]

instead of

[code]

Currently we get the error, if we add spaces to the string

[code]

##### COMPONENT NAME
file

[2019-02-06 01:54] dagwieers commented on #51760
!component -lib/ansible/modules/network/illumos/dladm_etherstub.py

[2019-02-06 03:30] stobias123 opened #51790 "na_ontap_volume volume ignores changes in junction path"
##### SUMMARY
When you change the junction path on a netapp volume, it is not re-mounted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OSX - ontap 9

##### STEPS TO REPRODUCE

Create a volume without an export policy. Add junction path. it just returns "ok" instead of "changed" when I want t

[2019-02-06 03:49] guiambros commented on #47909
Thanks @soulawaker! I was facing the same problem (`error: The connection is closed`), and adding `become=true` and `become_user=xx` to my task solved the problem. Thanks!

[2019-02-06 04:02] dagwieers commented on #35992
This relates to https://github.com/ansible/ansible/pull/50706

[2019-02-06 04:26] #51590 closed, assigned to nobody

[2019-02-06 04:49] thiagocmartinsc commented on #47009
So, where is the typo?  :-P

[2019-02-06 05:20] abadger opened #51794 "Update the bundled backports.ssl_match_hostname because of potential certificate attacks"
##### SUMMARY
backports.ssl_match_hostname updated from the code in Python-3.5.0 to the code in Python-3.7.0 recently to remove support for partial wildcards (which are deemed to be insecure).

I'm not sure whether this warrants backporting all the way to 2.5.x or simply updating in 2.8.x is enough.  As a point of reference, the new code was not backported to the Python-3.6.x release even though t

[2019-02-06 06:01] trishnaguha commented on #51745
@rwill-at-ncgov Will you be able to test the patch https://github.com/ansible/ansible/pull/51796 and let us know?

[2019-02-06 06:06] simtomas commented on #51727
I've created empty ansible directory to reproduce the issue:
it looks like it is related to the vars:

adding file group_vars/all with content:
somevar:
    jinjaval: "{{ hostvars.values()|selectattr('amimissing')|map(attribute='amimissing.subitem')|list }}"

gets the error:
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "AnsibleUndefinedVariable: 'ansible.vars.hostvars.Host

[2019-02-06 06:32] dpantel commented on #47009
I had config -> user.network-config set to a lookup of a template file.  In the template, I had some conditional statements.  Unfortunately, those conditional statements were messing up the indents/new-lines in the resulting output, which made the YAML output malformed.

So, two solutions are to 1. make sure the output is indented correctly, or 2. use json instead of yaml, because it's more forgiv

[2019-02-06 06:43] precurse commented on #50399
I wrote up a patch that's been working for me. It's up here in case anyone wants to try it: https://github.com/precurse/ansible/commit/c84392bc4b85fdf4a1b523ea6a248bf4285080aa

I'll create a PR for it once I'm happy with it.

Also, I don't think `tag:` is a fitting name for it. The command refers to the value as:
[code]
Tag is only the latter portion of the value (such as `latest` or `v1.23`).

[2019-02-06 07:11] prabhakaran2304 opened #51799 "Failure using method (v2_runner_on_ok) in callback plugin - foreman"
##### SUMMARY
**I am trying to add the local and remote host to foreman but getting error like **

 ```[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**Foreman-1.20.1**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

  Operating System: CentOS Linux 7.5 (Core) with Foreman - 1.20.1

[2019-02-06 07:12] prabhakaran2304 commented on #51799
@ansibot

[2019-02-06 07:13] trishnaguha commented on #51486
@mihai-satmarean To reproduce your issue I have created the same user configuration on my device. The device accepted the username configuration, but the Nexus device itself is not letting me ssh to it with the username being `ucs-DOMAIN\\x` manually. So it is expected to fail on Ansible side also.

/cc @mikewiebe Do you have any thoughts on this?

[2019-02-06 08:41] GonzaloMejiasCapside commented on #33580
I`m using ansible 2.7.6 and I`m getting this error.

[2019-02-06 08:46] prabhakaran2304 commented on #51799
##### COMPONENT NAME
`ansible.plugins.callback.minimal.CallbackModule object at 0x7fa6688c2550`
callback_plugin :  #foreman_ansible

 **Description**

trying to add the host to foreman getting error like
[code]

@ansibot

[2019-02-06 08:47] dprts commented on #51760
!component -lib/ansible/modules/storage/netapp/na_ontap_gather_facts.py

[2019-02-06 09:52] Akasurde commented on #51799
!component =lib/ansible/plugins/callback/foreman.py

[2019-02-06 10:00] Akasurde commented on #51799
@prabhakaran2304 What is the version Ansible ? also, can you run

[code]

needs_info

[2019-02-06 10:18] jyothscupid opened #51801 "Ansible variables - persist"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-02-06 10:20] Timoses commented on #51284
@maxamillion
I debugged the python module a bit on the host previously:
* https://github.com/ansible/ansible/issues/51284#issuecomment-457281644
* https://github.com/ansible/ansible/issues/51284#issuecomment-458528397

Running `yum update` on an outdated host took about 7 minutes (query: couple of seconds, 297MB download: 20 seconds, 595 steps (updating/installing/cleanup): rest of time).

Upon ru

[2019-02-06 10:33] mkrizek commented on #51801
There is no information about the issue provided. Please create a new issue describing the problem you are having.

[2019-02-06 10:33] #51801 closed, assigned to nobody

[2019-02-06 11:03] JulienPalard opened #51803 "npm `state: latest` won't always fetch latest version"
It's a follow up of https://github.com/ansible/ansible/issues/25998 which has been closed due to my own innactivity, sorry for that.

##### ISSUE TYPE
 - Bug Report (as status is always "changed")
 - Documentation Report (as npm behavior about semver should be mentioned in the doc)

##### COMPONENT NAME

npm module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Usin

[2019-02-06 11:03] Shaps commented on #51662
@willthames To be fair I haven't used `wait: no` enough to say it doesn't work correctly.
The times I used it I have not hit this.

[2019-02-06 11:07] JulienPalard commented on #51803
Maybe a "simple fix" would be to use `npm install` instead of `npm upgrade` to upgrade packages?

[2019-02-06 11:18] mkrizek commented on #51484
This has been fixed in https://github.com/ansible/ansible/pull/40847 and is indeed included in the `2.7` release.

However this will not be backported to `2.5` and `2.6` as they are in `security fixes` and
 `security and critical bug fixes` modes, respectively, only. [1]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https

[2019-02-06 11:18] #51484 closed, assigned to nobody

[2019-02-06 11:26] abitrolly commented on #51652
`sudo` [is not always installed](https://unix.stackexchange.com/questions/106529/why-is-sudo-not-installed-by-default-in-debian) by default on Debian and (as it appears) on Scaleway Ubuntu.

Using `runuser` by default and falling back to `sudo` if the user is not root provides better user experience. At least playbooks don't have to explicitly install `sudo` and patch `sudoers` for operation.

[2019-02-06 12:21] fabianvf commented on #51723
Yeah, it does seem to be an issue with the metrics aggregated API server. The next version of the [openshift Python client] (https://github.com/openshift/openshift-restclient-python) does discovery lazily, so this issue should go away when that goes out.

[2019-02-06 12:21] jpldcarvalho commented on #12862
Why is this issue closed? There was any fix?

[2019-02-06 12:40] nasx commented on #51760
!component -lib/ansible/parsing/utils/yaml.py
!component -lib/ansible/modules/remote_management/oneview/oneview_ethernet_network_facts.py
!component -lib/ansible/modules/remote_management/oneview/oneview_ethernet_network.py
!component -lib/ansible/modules/identity/cyberark/cyberark_authentication.py

[2019-02-06 12:57] Spredzy commented on #51662
@Shaps @willthames

No, it does work most of the times. but the few times InstanceId had not had the time to spread, then it fails.

I spawn cluster of 12 nodes with `wait: no`. Most of the time it will work, but from time to time, (I suppose because of the load in AWS systems) it might take few extra secondsfor InstanceId to spread correctly according to https://docs.aws.amazon.com/AWSEC2/latest/

[2019-02-06 13:01] pgassmann commented on #12862
@jpldcarvalho You can run playbooks from subdirectories and also have inventories in subdirectories.

**BUT** the `host_vars` and `group_vars` need to in either `playbook_dir` or `inventory_dir` !

OK: vars next to inventory `production.ini`
[code]
OK: vars next to playbook `site.yml`
[code]
NOT OK: vars in top-level, inventory and playbooks in subdirectories
[code]

NOT OK: playbook in another su

[2019-02-06 13:05] akamac opened #51811 "add_host allow variable override"
##### SUMMARY
`add_host` allows to specify host variables, but if one is already set, it won't be overridden.
Can be related to PR https://github.com/ansible/ansible/pull/13901

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`add_host` module

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`fact == 2`

##### ACTUAL

[2019-02-06 13:51] rwill-at-ncgov commented on #51745
Hi Trishna,

Will you tell me how to get the patched module? I’m willing to try it.

Regards,

Rick

From: Trishna Guha <notifications@github.com>
Sent: Wednesday, February 6, 2019 1:03 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Williams, Rick L <rick.williams@nc.gov>; Mention <mention@noreply.github.com>
Subject: [External] Re: [ansible/ansible] nxos failure on 9k when removing vlan

[2019-02-06 13:56] dileep454 commented on #16354
Once check on which user you are working if you are not working on ansible user then try to switch to ansible user and try to ping . It's gonee work

[2019-02-06 14:09] trishnaguha commented on #51745
@rwill-at-ncgov Sure.
[code]
The output of the last command should point to `<present-working-directory-path>/bin/ansible`

`ansible --version` command should return `ansible 2.8.0.dev0`
Please note that devel version is for **development/testing purpose only**.

This will enable the patch on your environment. You can then test it by running the playbook.
As soon as you close the window tab, the e

[2019-02-06 14:20] #40091 closed, assigned to nobody

[2019-02-06 14:23] gundalow commented on #51760
bot_status

[2019-02-06 14:26] xmadsen opened #51814 "redfish_command SetOneTimeBoot fails, expecting 'BootMode'"
##### SUMMARY
In redfish_command, the Systems command SetOneTimeBoot fails on a Lenovo ThinkSystem SR650, as it seems that redfish_utils expects ['Bios']['Attributes']['BootMode']. This is a non-standard OEM property; instead the function could take an optional parameter to specify the boot mode for the one-time boot, and toggle it using the ComputerSystems.Boot.BootSourceOverrideMode standard pro

[2019-02-06 14:38] hugeps commented on #42064
Copy that, we're experiencing exact same problem.
Deploying VM from a template and Network is disconnected on boot.

[2019-02-06 14:43] hugeps commented on #40564
Is this going to get resolved?  We copy we have same issue.

[2019-02-06 14:55] ganeshrn commented on #51498
@glitchtrigger The error seen in Ansible logs is one that is received from the target node. `netconf_config` module executes the `edit-config` rnetconf pc request with the value of `config` as the xml payload and ouput's the response received from the target host. It does not handle any dependencies across configurations. If there is any dependency it should be taken care in the playbook itself.

[2019-02-06 14:55] #51498 closed, assigned to ganeshrn

[2019-02-06 14:56] xmadsen opened #51818 "Provide extended error info on REST operation failures in redfish_facts/command/config modules"
##### SUMMARY

For any REST operation that returns an error in the response body, it would be useful to return the error info from the response, specifically the ExtendedInfo Message and MessageId.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts, redfish_command, redfish_config

##### ADDITIONAL INFORMATION

The following is what is currently provided:
[code]

The following i

[2019-02-06 15:00] mikemadeja opened #51819 "win_uri doesn't work the same as uri"
##### SUMMARY
I was using the URI module and it worked on a linux server, I then discovered there's a win_uri module and all I did was change it from uri to win_uri and I get this error below.

fatal: [dinfmkdocsweb02.domain.com]: FAILED! => {"changed": false, "msg": "WebException occurred when sending web request: The underlying connection was closed: An unexpected error occurred on a send.", "ur

[2019-02-06 15:02] sivel commented on #51652
We aren't going to change the default behavior in ansible.  However, as mentioned, we can accept a `runuser` become plugin once #50991 is merged.

In addition to `sudo`, we also support `su`.  I'd say in the meantime you are well covered.  And since you are already connecting as `root`, the sky is the limit.  Install what packages you need, make whatever config changes are required, and then you c

[2019-02-06 15:12] jgholt opened #51820 "Ansible Linklight Failure New Insight Setup"
##### SUMMARY
Trying to Launch Linklight demo from Tower. Getting fatal error
fatal: [jholt-linklight-test1-student1-host1]: FAILED! => {
    "msg": "Timeout (12s) waiting for privilege escalation prompt: "
}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

    <34.234.234.204> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=22 -o 'IdentityFile

[2019-02-06 15:26] #51820 closed, assigned to nobody

[2019-02-06 15:26] jgholt commented on #51820
opened in wrong spot

[2019-02-06 15:36] hadfiiw opened #51825 "vmware_deploy_ovf Folder Documentation Incorrect"
##### SUMMARY
The folder documentation seems to be incorrect for the vmware_deploy_ovf module....
https://docs.ansible.com/ansible/latest/modules/vmware_deploy_ovf_module.html

It seems to actually work like the vmware_guest module....
https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html

Request that the vmware_deploy_ovf folder documentation use the vmware_guest folder docume

[2019-02-06 15:51] hadfiiw opened #51826 "vmware_deploy_ovf - Resource Pool Not Working"
##### SUMMARY
In trying to use the vmware_deploy_ovf module, I cannot get the VM to be created in a resource pool.

Not sure if this is a bug in the module, a bug in the documentation, or a layer 8 (me) problem?  I have tried "resource_pool" pointing to....
- The actual name of the resource pool
- The name of the resource pool as a variable
- "/Resources/{{ deploy_resource_pool }}"
- "{{ datacente

[2019-02-06 15:54] mator commented on #43617
can't reproduce on aix 6.1 with ansible version:

[code]

[2019-02-06 16:10] grantcurell commented on #6006
The ugliness... it burns us!

[2019-02-06 16:12] AlanCoding commented on #50100
This is still quite a problem, because spitting on our side seems unlikely to be accepted. I have argued that we need some form of splitting to use the verbosity flag as well (absolutely necessary for plugin use), but there is no clear plan for that right now.

We could consider a workaround specific to this problem. Here is the stack trace getting to that warning.

[code]

Code bits in question:

[2019-02-06 16:16] grantcurell commented on #6006
Giving this a test and I'm having trouble getting this to work. I have:

[code]

I still get:
![image](https://user-images.githubusercontent.com/35169230/52355614-45baa980-29f8-11e9-88de-d012c7df9894.png)

[2019-02-06 16:28] ikke-t commented on #46362
I created a role for myself to do that until there is such systemd enabled podman module. It would be great to have such feature as this issue is asking. My role here: https://github.com/ikke-t/podman-container-systemd

But that won't take parameters for podman like docker_container does for docker. But that has what such podman_container should do for systemd.

[2019-02-06 16:51] #51443 closed, assigned to nobody

[2019-02-06 17:20] carchi8py commented on #51790
We just submitted a fix for this for Ansible 2.8 with pr #49511
We made some major changes to volume so i'm not sure we will be able to backport this fix to ansible 2.7

[2019-02-06 17:23] davidhollenberger commented on #49904
@ansibot Those items are in the description already.  Also, the link to the template does not work.

[2019-02-06 18:09] AlanCoding opened #51835 "RFE: Globally configurable "log_only" setting, special treatment for ansible-inventory JSON"
##### SUMMARY
Problem: We want machine-readable JSON content from `ansible-inventory`, but we also want verbose output (if the user asks for it).

Proposed solution: Provide a way to send Ansible display logs to a different place from where the JSON output of `ansible-inventory` goes.

More detailed proposed solution: Add a configuration that prevents debug messages from being written to stdout. A

[2019-02-06 18:22] Qalthos commented on #37292
resolved_by_pr 49503

[2019-02-06 18:41] sgrimm-sg commented on #51615
I fully filled out the "Feature idea" template when I submitted this issue, and the link in the bot's reply goes to a one-line document with no additional information. Happy to edit my issue but I'm not sure what to do to make the bot happy.

[2019-02-06 18:56] smothiki commented on #19720
We are also facing this issue. If there are any unreachable hosts or ssh login failures present in the RUN ansible-playbook is returning 4 exit code

[2019-02-06 18:57] fabianvf commented on #51242
[Module defaults](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html) may also be useful here

[2019-02-06 19:06] AlanCoding commented on #51835
issue type: enhancement

ansible version: 2.8.0.dev0

component name: logging

[2019-02-06 19:47] samdoran commented on #51605
This is missing from our documentation. It was added in version 2.6. https://github.com/ansible/ansible/commit/8673e1e6610a

[2019-02-06 19:48] samdoran commented on #51666
!component =lib/ansible/modules/cloud/misc/proxmox.py

[2019-02-06 19:58] rafecolton commented on #33699
@ansibot Updated with the new format, which contains the exact same information just in a different order.

[2019-02-06 20:55] samccann commented on #32050
@acozine @gundalow looking at this issue - it's hard to tell at this point what remains to be done?

There is now a network_agnostic doc fragment added via PR #51617 I missed this module so I can add the doc_fragment to net_static_route.  Are there other links we should add to this for all the net_* modules?

[2019-02-06 20:56] xmadsen commented on #51814
All of those items are present in the description :) @ansibot

[2019-02-06 20:57] xmadsen commented on #51818
Both Issue type and component names are provided, ansible version is irrelevant for a feature request according to the template provided when this request was created. @ansibot

[2019-02-06 21:01] JoelFeiner commented on #28797
All of that information is already present. I think the bot needs some help...

[2019-02-06 21:02] hadfiiw commented on #51826
Uh, all 3 of those are in the original report.  Here is that info again....

##### ISSUE TYPE
* Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]

[2019-02-06 21:03] hadfiiw commented on #51825
##### ISSUE TYPE
* Document Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]

[2019-02-06 21:07] victorock opened #51843 "nios_host_record not idempotent when ip address assigned dynamically via lookup"
##### SUMMARY

When using the nios_host_record for a host entry that already exists when trying to assign IP dynamically via lookup, the module fails saying that an entry already exists, instead of behaving as idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_host_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Infoblox NIOS.

#####

[2019-02-06 21:11] kdelee opened #51844 "ansible-inventory breaks group names by replacing `-` in region names when requested as groups from aws_ec2"
##### SUMMARY

Groups based off of region names used to come through with dashes `-`, but now the plugin replaces them with `_`.

This munging of my group names is not helpful and breaks my ability to get groups based off of the data that is there in ec2. If I want to name something with dashes, or it has dashes in the name, let it be please.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

i

[2019-02-06 21:13] kdelee commented on #51844
This hurts awx ability to adopt the `aws_ec2` inventory plugin (see https://github.com/ansible/awx/issues/171 ) @AlanCoding can provide more details if needed.

[2019-02-06 21:21] AlanCoding commented on #51844
Yes, users already have content that was imported by the script. If we move to plugins without this resolved, then the old groups will remain, and new groups will be imported with the difference name. Memberships with the old group won't be updated, and this will result in very hard to debug behavior changes in playbooks.

[2019-02-06 21:22] maxamillion commented on #51284
@Timoses this is great, thank you! I'll dig in and see if I can sort out the root cause.

[2019-02-06 21:24] FearTheBadger commented on #23497
through some other things I was testing I came back to testing this issue. It has been fix the requirements/dependency structure.

Thanks for fixing this!

[2019-02-06 21:24] #23497 closed, assigned to nobody

[2019-02-06 21:25] abitrolly commented on #51652
All my Ansible playbooks are just a bunch of hacks - installing Python, dependencies for modules, and now this sudo workaround. Can Ansible just work by default? Deliver pre-book with all hacks at least.

[2019-02-06 21:35] billdodd commented on #51818
Looks like the erroneous ansibot message about missing info is a recent, known problem and they should have it fixed shortly.

[2019-02-06 21:59] samdoran commented on #51818
Yup, this was a problem that should be fixed now.

[2019-02-06 22:14] sivel commented on #51844
I don't think this is anything that the `aws_ec2` inventory plugin is doing.  It may be a difference between boto2 vs boto3.

We cannot however change the default at this point. There might be the opportunity to add some form of configuration.

On another note, I would not make the assumption that the transition from the old community supported inventory scripts to the new inventory plugins is a d

[2019-02-06 22:19] sivel commented on #51835
I don't think there is any technical way that we can reliably prevent a plugin from outputting debug messages to stdout.  They of course shouldn't, but I think that will be a review step, to ensure that we don't see anything like that.

We have some plans on changing the behavior display in the future. See https://github.com/ansible/ansible/issues/49657

[2019-02-06 22:27] sivel commented on #51811
`set_fact` has a higher precedence than that of hostvars.  The use of `add_host` manipulates inventory.  This is described in the variable precedence docs at https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

As such, `add_host` cannot overwrite a variable with a higher precedence created by any of the means listed after p

[2019-02-06 22:27] #51811 closed, assigned to nobody

[2019-02-06 22:33] sivel commented on #51799
The foreman callback found at https://github.com/theforeman/foreman_ansible/blob/master/extras/foreman_callback.py is not maintained by the ansible team.

However, the cause to the issue, is that we have a callback named `json` which can interfere with importing the python `json` library.  To resolve this issue, the "foreman_callback.py" callback must contain at least:

[code]

If you have further

[2019-02-06 22:33] #51799 closed, assigned to nobody

[2019-02-06 22:38] kbreit opened #51846 "meraki_admin - Add new fields returned by Meraki"
##### SUMMARY
Meraki added some new fields which are returned by the endpoint (https://dashboard.meraki.com/api_docs#admins). The module documentation should reference these and examples should be updated.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_admin

##### ANSIBLE VERSION
[code]

[2019-02-06 22:59] ghost opened #51847 "fetch doesn't specify whether it will overwrite existing files"
##### SUMMARY

Reading the [`fetch` documentation](https://docs.ansible.com/ansible/latest/modules/fetch_module.html) it is not clear what this module will do if the destination file already exists. This should be included in the documentation.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
"fetch" module

##### ANSIBLE VERSION

Not applicable.

[2019-02-06 23:29] TrentonAdams opened #51848 "unarchive failure when unix group specified doesn't exist"
##### SUMMARY
I receive an error because the "tomcat" group that I used was not created as a unix group...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos 7 inside of docker.

##### DEPENDENCY PROBLEMS
none

##### STEPS TO REPRODUCE
easy, just specify a group owner in your yaml that is not ye

[2019-02-06 23:36] rbjorklin commented on #31407
I'm running into the same problem with Ansible 2.7.5. Was this not fixed even though the bug report was closed?

[2019-02-07 01:11] dagwieers commented on #51652
@abitrolly Wrt. `runuser` it would have worked perfectly fine today, if this was reported in the past. And we will fix it in the future, when #50991 is merged. If you want a bugfix in older releases, you will have to add a fix in the older code, but it depends on impact/scope whether it will be accepted. (Adding it to the devel branch is useless now because #50991 will undo your changes in Ansible

[2019-02-07 01:17] dagwieers commented on #51819
So yes, the problem is expectations. If you compare https://docs.ansible.com/ansible/latest/modules/uri_module.html with https://docs.ansible.com/ansible/latest/modules/win_uri_module.html you will notice that not all fuctionality is available for the **win_uri** module.

If you would have tested with the devel branch, you would have gotten proper error messages for the unsupported parameters. Wel

[2019-02-07 01:18] dagwieers commented on #51819
Not sure if I should close this, or we keep it open ? As there is [nothing new](https://github.com/ansible/community/wiki/Windows:-progress-tracker#ensuring-feature-parity-with-python-modules) in this issue.

[2019-02-07 02:29] charlesgreen commented on #32478
Apologies, I am no longer able to provide any details.
It has been more than a year, we moved to a different solution and I no longer have access to the environment.

[2019-02-07 04:10] Im0 commented on #44960
Hi @briankoch709 - You can put those in the ansible.cfg file... either in your local directory, or, in the global configuration file.

[2019-02-07 04:34] maxamillion commented on #35767
@akcrisp ping - friendly check-in :)

needs_info

[2019-02-07 04:35] maxamillion commented on #46247
waiting_on_contributor

[2019-02-07 05:20] blofeldthefish commented on #49477
After carrying out some local debugging, the s3_sync module can currently only include/exclude files, not directories.   I believe to be capable of handling both, it would either need additional parameters such as exclude_files and exclude_dirs or perhaps a flag to indicate whether the exclude applies to a file or directory.   The current module is using fnmatch for the include/exclude logic, and

[2019-02-07 07:17] debhat commented on #51675
Can you please guide what is a typo in this. As a newbie, I have no idea what is expected in this.

[2019-02-07 07:26] Klaas- commented on #51724
Just to make the use case clear -- I want to show which packages were updated after running yum: name="*" state=latest :) For now I simply run yum twice, once in check mode and print the packages and one time for real to actually install them. It would also be fine to just return the results but that does not work in check mode and I try to always have my roles working properly in check mode.

[2019-02-07 07:34] prabhakaran2304 commented on #51799
[code]

[2019-02-07 07:45] zakabluk commented on #51666
@chopraaa
Tnx it's help me.

[2019-02-07 07:45] #51666 closed, assigned to nobody

[2019-02-07 08:05] Akasurde commented on #51799
@prabhakaran2304 Are you using plugin from [Ansible repo](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/foreman.py) or [Foreman repo](https://github.com/theforeman/foreman_ansible/blob/master/extras/foreman_callback.py) ?

Also, does @sivel suggestion works for you ? Thanks.

[2019-02-07 08:16] jpldcarvalho commented on #12862
@pgassmann and there is any way to have global group_vars?
Ex:
[code]

[2019-02-07 08:35] prabhakaran2304 commented on #51799
thank u

[2019-02-07 08:55] eigengrau opened #51857 "Error out when --extra-vars looks like file but is missing @ prefix"
##### SUMMARY

It would be convenient if `ansible-playbook` would error out when called with something that cannot be parsed as an inline variable assignment. I sometimes forget to prefix variable file names with `@`, which goes unnoticed until running into undefined variable errors at some point.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/utils/vars.py

##### ANSIBLE VERSION

[2019-02-07 09:05] aksharbarot opened #51858 "LogicMonitor: No collector specified"
##### SUMMARY

Trying to keep host in SDT but giving an error "No collector specified"
##### ISSUE TYPE
- Bug Report

As per document, collector is not required if we use display name during execution.

*This is required for updating, removing or scheduling downtime for hosts if 'displayname' isn't specified (target=host action=update action=remove action=sdt).*

##### COMPONENT NAME

/usr/lib/pyt

[2019-02-07 09:46] danihodovic commented on #16888
I wish the `ansible.module_utils.urls` provided a  simple way to log requests / responses at HTTP level.

[2019-02-07 10:13] Akasurde commented on #51421
@sbulage Are you working on this issue ? If not @raghavtan Can work on it. Thanks.

[2019-02-07 10:21] Akasurde commented on #33702
resolved_by_pr #51856

[2019-02-07 11:10] richlv opened #51860 "ansible-vault needs ctrl-d twice with stdin"
##### SUMMARY
When ansible-vault prompts for the string to be encrypted, ctrl-d has to be pressed twice when the input does not contain a trailing newline.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not applicable.

##### OS / ENVIRONMENT
RHEL 6.10.

##### DEPENDENCY PROBLEMS
Not applicable.

##### STEPS TO REPRODUCE
[code]

Enter

[2019-02-07 11:16] richlv opened #51861 "ansible-vault output blends together with input when using stdin"
##### SUMMARY
When ansible-vault prompts for the string to be encrypted, output blends with input.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not applicable.

##### OS / ENVIRONMENT
RHEL 6.10.

##### DEPENDENCY PROBLEMS
Not applicable.

##### STEPS TO REPRODUCE
[code]

Enter the vault password twice, enter the string to be encrypte

[2019-02-07 11:18] Shaps commented on #51022
resolved_by_pr #51141

[2019-02-07 11:18] Shaps commented on #44677
resolved_by_pr #51141

[2019-02-07 11:19] Shaps commented on #41347
resolved_by_pr #51141

[2019-02-07 11:19] Shaps commented on #32836
resolved_by_pr #51141

[2019-02-07 11:20] Shaps commented on #23039
resolved_by_pr #51141

[2019-02-07 11:31] richlv opened #51862 "Ensure ansible-vault decrypt to stdout inserts newline before printing success message"
##### SUMMARY
Output of 'ansible-vault decrypt' is in a different order depending of the decrypted string.
Additionally, it often blends with the following prompt.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not applicable.

##### OS / ENVIRONMENT
RHEL 6.10.

##### DEPENDENCY PROBLEMS
Not applicable.

##### STEPS TO REPRODUCE
First

[2019-02-07 12:39] AlanCoding opened #51864 "Azure inventory plugin missing important hostvars that the inventory script has"
##### SUMMARY
The Azure inventory plugin does not give sufficient data in hostvars to re-produce the content that we had from the Azure inventory script.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(no output)
[code]

##### OS / ENVIRONMENT
Local machine, Azure account

##### STEPS TO REPRODUCE
Ru

[2019-02-07 12:49] resmo commented on #51306
resolved_by #50761

[2019-02-07 13:05] lanoxx opened #51865 "Setup: Windows FQDN incomplete"
##### SUMMARY
On Windows hosts the `DhcpDomain` suffix is ignored in the FQDN name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup -> win_setup

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows

##### STEPS TO REPRODUCE
 1. Setup a Windows machine which is not joined to an AD domain.
 2. Make sure the DHCP server is sending a Dhcp Domain, let say `example.com`
 3. Execute t

[2019-02-07 13:29] lanoxx commented on #51865
I think the issue is here:

https://github.com/ansible/ansible/blob/244c4c893d776ab16f9ae24baca47ff172be4bf6/lib/ansible/modules/windows/setup.ps1#L322

I think the problem here is that `$ip_props.DomainName` is only set if the windows machine is joined to a domain. If it receives its domain suffix via DHCP then this will appear in the registry under `HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\

[2019-02-07 13:31] AlanCoding commented on #51835
I understand entirely, and I agree. Ultimately, there's nothing you can ever do to prevent plugins from doing bad things. The issue https://github.com/ansible/ansible/issues/50100 is addressed with its own plugin-specific fix, and that's how we need to do this moving forward generally.

I think #49657 may encompass what I'm looking for here. I will want to get involved in the planning for that, as

[2019-02-07 13:46] abitrolly commented on #51652
@dagwieers I am fine with #50991 if it will work by default on servers without `sudo` such as Ubuntu in Scaleway.

I don't see `runuser` plugin in the PR. New [sudo plugin](https://github.com/ansible/ansible/pull/50991/files#diff-f6567dca806289b3fe97fc2ebe25d7d1) doesn't look complicated, but does it worth the time? Is this `runuser` really useful from security point of view? The only post I found

[2019-02-07 13:48] wojtek0806 commented on #47082
@traittinen
Submit this as an issue please on F5Networks

[2019-02-07 13:50] #51835 closed, assigned to nobody

[2019-02-07 14:01] AlanCoding commented on #49657
@abadger after reading the background, I am on the same page, and want to vouch that something for this is sorely needed. This applies to the conversation here:

https://github.com/ansible/awx/pull/3107#discussion_r253185037

I raised issue https://github.com/ansible/ansible/issues/51835 to ask for a change from core to address our situation, but I will close that, recognizing that the implementat

[2019-02-07 14:02] wojtek0806 commented on #50604
@mateusz5 please file this as an issue here: https://github.com/F5Networks/f5-ansible/issues

[2019-02-07 14:15] AlanCoding commented on #51844
We know what the root cause is. @s-hertel has been extremely helpful to use getting these issues fully triaged, and found the cause in this case.

https://github.com/ansible/ansible/pull/28578/files#diff-0b5241ab9313f5d4f783ad8dd8ee8524R163

The dashes were considered unsafe.

This rule is totally unique and novel with `keyed_groups` (may be called something different in different plugins), using

[2019-02-07 14:18] trishnaguha commented on #51486
@mihai-satmarean Looks like NX-OS escapes the character `\\` during ssh.
So the username needs to be passed in single quotes `ssh 'ucs-DOMAIN\\x'@nxos`

I have tried this on both 2.7 and devel version, the playbook is working fine.
**Note** that the variable user is assigned in single quotes, `ansible_ssh_user: 'ucs-DOMAIN\\x'`

[2019-02-07 14:18] dhirajdebut opened #51873 "Unable to use ansible_distribution in Mac OS?"
##### SUMMARY

I want to run a playbook task depending upon the OS. so if OS MacOS then I want to run the task otherwise I don't want to run the task. I have tried `ansible_distribution`  and `ansible_facts` but that does not work for me.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I am using ansible playbook for executing the task.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-02-07 14:21] utoddl commented on #4876
It's unfortunate that main.yml is "special" in a role.
[code]
should be equivalent to
[code]
If that were the case, you could just as easily say
[code]
and still have your tags observed.

Instead we have endless confusion about include_role vs. import_role and why tags don't work in those circumstances. It all very frustrating.

[2019-02-07 14:21] anastazya commented on #2551
Not working : "ERROR! 'stategy' is not a valid attribute for a Play"

[2019-02-07 14:23] mateusz5 commented on #50604
moved to https://github.com/F5Networks/f5-ansible/issues/1210.

[2019-02-07 14:38] #51486 closed, assigned to trishnaguha

[2019-02-07 14:38] osnwt opened #51874 "scaleway_compute: should force remove server's volumes when set to absent"
##### SUMMARY

Using scaleway_compute to start a server (running) and then remove it (absent), keeps server volumes unattached but paid.  CLI tool scw stop has an option "--terminate": -t, --terminate=false Stop and trash a server with its volumes. Internally scw uses undocumented "terminate" API action instead of "poweroff" if -t is given (found in GO source). It is not documented yet at [Scalewa

[2019-02-07 14:40] Akasurde commented on #51873
@dhirajdebut Thanks for reporting this issue. I am able to run the above task

[code]

Task
[code]

[2019-02-07 15:00] osnwt commented on #51874
I think the best solution could be to add an optional "terminate' module parameter, so when the state=absent, and terminate=true, it will use API action "terminate" instead of "poweroff" (stop), then "delete".

@sieben

[2019-02-07 15:11] s-hertel commented on #51864
cc: @yungezz @yuwzho @xscript @zikalino @nitzmahone

[2019-02-07 15:11] mihai-satmarean commented on #51486
@trishnaguha Indeed it connects now, thank you for the support and the professional approach!

[2019-02-07 15:13] dhirajdebut commented on #51873
I am facing this issue
`The conditional check 'ansible_distribution == 'MacOSX'' failed. The error was: error while evaluating conditional (ansible_distribution == 'MacOSX'): 'ansible_distribution' is undefined\n\nThe error appears to be in '/Users/harmeet/go/src/ConfigTool/Go/playlist/cli.yml': line 30, column 7, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offe

[2019-02-07 15:17] vguaglione opened #51877 "k8s Module: configmap never get patched on patch, and configmap gets blown away on replace"
##### SUMMARY

When updating a configmap, a patch does not update the data, a force/replace nukes the entire configmap.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested environments: Mac osMojave and RedHat Linux 7.x

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

When attempti

[2019-02-07 15:17] ruzickap commented on #32478
* Issue type: See: https://github.com/ansible/ansible/issues/32478#issuecomment-342045229, https://github.com/ansible/ansible/issues/32478#issuecomment-342632819 or https://github.com/ansible/ansible/issues/32478#issuecomment-444365813.
* Ansible version: `2.7.6` (most probably any 2.7.x Ansible version)
* Component name: `win_firewall_rule`

[2019-02-07 15:28] sivel commented on #51873
I cannot reproduce this.  It sounds as though you have not actually gathered facts for the host in question.  Providing the full output of the `ansible-playbook -vvv` run should help identify that.

[2019-02-07 15:30] emz00 opened #51878 "Nested variable value is not expanded when accessing a variable via the vars dictionary"
##### SUMMARY
When the value of a variable includes another variable the nested variable is not replaced by its value when reading the first variable via the `vars` dictionary. (It is correctly replaced when reading the variable directly.)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template/vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu

[2019-02-07 15:38] #40915 closed, assigned to gdpak

[2019-02-07 15:38] sivel commented on #51878
This is expected.  `vars` is explicitly not templated, and should also not be considered a public variable.  This variable is intended for internal use only.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-07 15:38] #51878 closed, assigned to nobody

[2019-02-07 15:40] abadger commented on #49657
For your use case, what should be done is:
* the callback plugins grow an event for inventory summary.
* When the inventory cli is done processing, it emits that event with results as the data for the callback to display.
* All the things which presently call display.* directly should output to the logging library (probably by making display.warning, display.v*, etc output to the logging library o

[2019-02-07 15:47] prasarju opened #51880 "ec2_elb_facts not working if elb's >400"
##### SUMMARY
Current implementation of ec2_elb_facts module is  retrieving all elb's and this will fail if the searched elb name is not within the first 400 returned elbs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.3.0.0
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
 Expected list of returned elb's to contain information of named elb's

[2019-02-07 15:55] AndresTanasijczuk commented on #35645
I had the same issue today with ansible 2.4.2, trying to unarchive a tar.bz2 file from a url. My target host is CentOS7.

To check the cause of the problem, I downloaded the tar.bz2 file to the /tmp/ directory on the remote host (I used the ansible get_url module) and then I logged-in to the remote host and ran the gtar command manually:
[code]
This produced the following error:
[code]
Installing

[2019-02-07 15:58] taraspos opened #51881 "Add "break_when" to the "loop_control""
##### SUMMARY

Add the ability to break the loop conditionally.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core

##### ADDITIONAL INFORMATION

[code]

[2019-02-07 15:59] samdoran commented on #51775
Make sure you are connecting to the remote machine as the `ansible` user, not your local user. My guess is your local account (`haraldvdlaan`) does not have passwordless `sudo` privileges on the remote machine and that is the account being used. You can see the account that Ansible is using to connect by running the command with `-vvv`.

If my theory is correct, this command will work:

[code]

ne

[2019-02-07 16:03] AlanCoding commented on #37467
I may have hit this with the `ec2_state_code`. I need to use compose to re-produce this variable which was given by the old contrib inventory script.

So we used

[code]

This variable is actually an integer when the compose logic gets it, but it is returned as a string. Even when I try adding `| int`, it still returns as a string.

Practically, the value is:

[code]

The old script would give

[c

[2019-02-07 16:04] JonnyJD commented on #47051
@x-yuri is right, there is an off-by-one error in `mysql_quote_identifier()`, which is not fixed by PR #47136.

The issue in this highlights another problem in the code: `mysql_quote_identifier()` should maybe quote the identifier. (as in, put "`" around)
It does that, but not in the case when there is a dot in the DB name (which is precisely when it needs quotes). This is probably because this fu

[2019-02-07 16:06] kdelee opened #51882 "RFE: Provide credentials to openshift inventory plugin via environment variables"
##### SUMMARY

As documented, there is no way to avoid providing secrets in the `openshift.yml` file for the [openshift inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/openshift.html)

Documented options are providing API key or using a kubeconfig file, both of which implicate writing secrets to file.

The underlying library probably provides ability to use environment

[2019-02-07 16:11] kdelee commented on #51882
:man_facepalming: `s/openstack/openshift/g`

[2019-02-07 16:16] #51534 closed, assigned to nobody

[2019-02-07 16:20] AlanCoding commented on #47413
This is a duplicate with https://github.com/ansible/ansible/issues/51844, in that the root cause is the same, and both issues require the same fix to resolve them.

Ping @sivel

[2019-02-07 16:23] #51355 closed, assigned to nobody

[2019-02-07 16:23] #51554 closed, assigned to Akasurde

[2019-02-07 16:26] AlanCoding opened #51883 "Cannot make keyed_groups from composed variables"
##### SUMMARY
Inventory plugins cannot construct groups from composed variables.

Being able to use composed variables allows users to leverage the templating they already did in composed variables, which might not be functionally identical to the templating done in keyed groups.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/__init__.py

##### ANSIBLE VERSION
[

[2019-02-07 16:51] AlanCoding opened #51884 "gcp_compute inventory plugin missing gce_image, gce_uuid hostvars"
##### SUMMARY
The hostvars returned by the gcp_compute inventory plugin offer no information that maps to the variables `gce_image` or `gce_uuid` variables from the old contrib inventory script.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/gcp_compute.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(no ouptut)
[code]

##### OS / ENVIRONMENT
local machine

[2019-02-07 16:52] AlanCoding commented on #51883
!component * lib/ansible/plugins/inventory/**init**.py

[2019-02-07 17:00] Shaps commented on #51662
fixed_by_pr #51885

[2019-02-07 17:01] sivel commented on #51882
!component =lib/ansible/plugins/inventory/openshift.py

[2019-02-07 17:02] gaochenyue commented on #50762
Same issue here
##### SUMMARY
Ansible returing error : "msg": "the python NetApp-Lib module is required"

##### ISSUE TYPE
* Bug Report

##### COMPONENT NAME
lib/ansible/modules/storage/netapp/na_ontap_command.py

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Mac 10.13.6 (17G2307)

##### Description
I using na_ontap_command to create a role in ONTAP cluster
I have installed "netapp-lib" pack

[2019-02-07 17:02] javierg21 commented on #23450
Hi. Well I don´t think the problem is at winrm, because I am creating a winrm connection and it is much faster than win_copy trough ansible. In order to reproduce it, do the following:

$b = New-PSSession ipofremote -Credential $cred

Copy-Item -ToSession $b -recurse -force pathofyourfiles -destination destionationpath

[2019-02-07 17:02] sivel commented on #51882
The openshift inventory plugin does seem to support env vars, however they options do not seem to appear in the web documentation:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openshift.py#L35-L76

All of those options list a `K8S_AUTH_*` env var that can be utilized.

[2019-02-07 17:09] MichaelBaydoun opened #51888 "Yum module breaks when package name contains spaces but worked in previous versions."
##### SUMMARY
Yum module breaks when package name contains spaces even when quoted

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control server and targets are both rhel6

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

Below works in ansible 2.6.3 but fails in ansible 2.7.6

[code]

[2019-02-07 17:24] dead10ck commented on #43728
@lechat just from a quick peruse, I think I found [the bug](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/jenkins_plugin.py#L437):

[code]

Notice that if a version is not specified (`None`), it chooses the latest version available. It's also notable that the whole `install` method does not reference the `state` attribute at all.

[2019-02-07 18:10] carchi8py commented on #50762
Could you run the playbook with -vvv and send the output.

[2019-02-07 18:27] gundalow commented on #51399
@Andersson007 I can help you with any logistics for this. Feel free to message me on Freenode `gundalow` or email gundalow at redhat dot com. Thanks :)

[2019-02-07 18:34] maxamillion commented on #51888
For context, there was previously a decision to throw an error when there was a space in a package name because the `@groupname` syntax is preferred, but in light of this being a break in backwards compatibility (which I assume wasn't realized previously, I honestly don't remember); I'll go ahead and get a fix in and get a test case to ensure we don't regress again.

[2019-02-07 18:39] hvanderlaan commented on #51775
@samdoran It is obvious that when u force the user ansible in the `ansible` command that this will work. but, I have also defined a `group_vars` voor the group `labservers`, this works fine if i use the `ansible-playbook` command but not for the `ansible` command.

Even though the `ansible_ssh_user` is set in the group_vars, it looks like `ansible` command is using my `.sshconfig` settings and `an

[2019-02-07 18:54] osnwt commented on #51874
FYI: I made a patch to **scaleway_compute** module to add the **terminate** option which affects how **state: absent** is processed (either with **poweroff**, then **delete** - defaults, or using **terminate** API action which stops and destroys server with all volumes).

But found another issue: this **terminate** action is only applicable to a running server. If server is stopped, there is no eq

[2019-02-07 18:56] sivel commented on #51775
This indicates that you are using playbook relative `group_vars` and `host_vars` and not inventory relative.

Because adhoc `ansible` does not have a playbook, it will not source playbook relative `group_vars` and `host_vars`.

By relative, I mean that they exist in the same directory.

needs_info

[2019-02-07 18:56] UnknownGnome opened #51893 "VMware: Update ESXi host license"
##### SUMMARY

I was using vcenter_license to apply a license to ESXi hosts. Since the last commit on Jan 10, 2019, that module only supports licensing a vCenter. Add support for ESXi licensing
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vcenter_license
or
vmware_host

##### ADDITIONAL INFORMATION

[code]

[2019-02-07 19:28] jadijadi commented on #51675
may I send a PR for this?

[2019-02-07 19:30] fabianvf commented on #51877
I was unable to replicate this with this minimal example. Does this example fail for you? If not, can you share a minimal failing playbook I can try? Here's my playbook and the output I saw:

playbook.yml
[code]

output
[code]

[2019-02-07 19:36] samccann commented on #51675
@debhat - the error I believe is that both tasks 'fetch all deployments' and 'fetch all deployments in a namespace' have the same set fact content... So both are are actually fetching the deployments from the 'testing' namespace.
@jadijadi yes please submit a PR!  See https://docs.ansible.com/ansible/latest/community/documentation_contributions.html#opening-a-new-issue-and-or-pr if you want some g

[2019-02-07 19:40] #29310 closed, assigned to nobody

[2019-02-07 19:40] #32836 closed, assigned to nobody

[2019-02-07 19:40] #41347 closed, assigned to nobody

[2019-02-07 19:40] #51022 closed, assigned to nobody

[2019-02-07 19:40] #44564 closed, assigned to nobody

[2019-02-07 19:40] #44677 closed, assigned to nobody

[2019-02-07 19:43] wenottingham commented on #51844
@sivel my concern is this:
[code]

Essentially, if the translation is "a group name = a parameter passed in", output should match input.

[2019-02-07 20:04] jadijadi commented on #51675
sent the PR https://github.com/ansible/ansible/pull/51897

[2019-02-07 20:06] stevenscg commented on #42661
Confirmed on 2.7.6 as well.

[2019-02-07 20:13] vguaglione commented on #51877
I was able to get your example to work but only after ensuring that the each k8s task had all the props defined and valued (before each definition: [see below]).  Without those, ansible bombed with an: "IOError: [Errno 2] No such file or directory: '/home/player/.kube/config'"

[code]

Output was:

[code]

[2019-02-07 20:14] x-yuri commented on #47051
@JonnyJD

Yep, it's used for all sorts of [identifiers][1]. And it either takes a quoted identifier (`` '`my.weird.database.name`' ``), or an unquoted one (`` 'my.weird.database.name' ``). In the former case it doesn't change, in the latter it becomes `` '`my`.`weird`.`database`.`name`' ``. Well, if it wouldn't count the dots.

So, passing prequoted database name might resolve your issue.

P.S. Yo

[2019-02-07 20:16] #49184 closed, assigned to maxamillion

[2019-02-07 20:18] tonyswu opened #51899 "Ansible Galaxy Install Prompts for Password Regardless of GitHub Token"
##### SUMMARY
We are attempting to use ansible-galaxy with our private GitHub server, which requires authentication to pull repos. We included the auth token in the Git URL, which works, however while attempting to install ansible-galaxy command prompts for a password, which is unnecessary because the auth token does work. We have to press enter to close the password prompt, which is not ideal in

[2019-02-07 20:23] Andersson007 commented on #51399
@gundalow , thank you! of course, I'll be glad for any help ;)

[2019-02-07 20:31] tonyswu commented on #51899
Fixed using x-oauth-basic:

`ansible-galaxy install git+https://REDACTED_TOKEN:x-oauth-basic@private_github.com/my_role.git,master --roles-path ./roles`

[2019-02-07 20:31] #51899 closed, assigned to nobody

[2019-02-07 20:33] fabianvf commented on #51877
Yeah sorry, I should have mentioned that my example assumed you had an authenticated kubeconfig already. If my example works for you the issue is likely in the actual structure of your configmap data, it may be that it's being mistakenly processed as yaml or something. Can you give me a complete failing playbook that I can run locally to attempt to reproduce this issue?

[2019-02-07 20:35] kylix3511 commented on #51675
@samccann This is first thing/item in contribute to Ansible Community. So sorry for the delay. @acozine @gundalow @beeankha @thedoubl3j Thanks for so much for Webinar :::  HOW TO MAKE YOUR MARK: ANSIBLE COMMUNITY CONTRIBUTIONS. Its very helpful and useful. I appreciate it.

[2019-02-07 20:36] stevenscg commented on #44339
In case additional justification is needed to help prioritize this, we would like to use tags between this module and ec2_vpc_route_table for targeting routes to specific gateways. A manual task or operator intervention is currently required before moving on to route table management from this module.

[2019-02-07 20:51] fholzer commented on #23517
In case anyone finds this issue and is still wondering how to get the gateway IP, this works for me:

    some_address_prefix | ipaddr('address/prefix') | ipaddr('1') | ipaddr('address')

For `some_address_prefix=10.2.3.4/16` this would result in `10.2.0.1`

[2019-02-07 21:10] samccann commented on #51675
@kylix3511 Thanks for opening the issue! please do go take a look at the PR listed above. Reviews always welcome.  There is currently a 'shippable' error showing but I'm not sure exactly why. I'll investigate/ask others for help to understand where that error is coming from.

(We have a lot of automated testing that happens for any ansible PR. This helps keep the ansible quality up. That said, I'm

[2019-02-07 21:14] mraineri commented on #51814
Looks like the One Time Boot call is going after BIOS attributes rather than the "Boot" object within a ComputerSystem. This will need to be changed.

[2019-02-07 21:17] mraineri commented on #51818
Definitely looks like a good proposal; we should be bubbling up Redfish Messages in error cases to the user.

[2019-02-07 21:24] nitinjain999 commented on #24275
ansible -i azure_rm.py MC_TNSIoT_enjnjnjAKSIOT_northeurope -m ping -vvv
ansible 2.7.6
  config file = None
  configured module search path = ['/Users/enjnjnj/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.7.6/libexec/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version =

[2019-02-07 21:27] nitinjain999 opened #51908 "Ansible error while working with azure_rm"
Python Script = https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/azure_rm.py

##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS

##### DEPENDENCY PROBLEMS

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-02-07 21:36] rhino5oh commented on #11812
Give this a shot, seems to work for me and does NOT replace the entire dictionary:

[code]

In this example, `cluster_defaults_override` is the dictionary, `kubectl_user` is the key you want to change, and `ubuntu` is the value.

Seems very similar to previous examples, but the single/double quotes are swapped

[2019-02-07 21:51] Turgon37 commented on #50452
@anddago Hello, thanks for your proposal, according to my reading of the code, we can't add more items in the diff easily because mtime and atime are returned by the function that must be really edit them.
So I approve your works, but we need Ansible's teams approve too :)

[2019-02-07 21:52] nitinjain999 commented on #51908
just to update python azure_rm.py --resource-groups $rg works fine

[2019-02-07 22:53] corbinstuard commented on #34760
Can confirm the issue still exists in 2.7.5

[2019-02-07 22:58] #48823 closed, assigned to nobody

[2019-02-07 23:20] jborean93 commented on #51241
Closing as this has been implemented with https://github.com/ansible/ansible/pull/51298.

[2019-02-07 23:20] #51241 closed, assigned to nobody

[2019-02-07 23:21] jborean93 commented on #50588
@dagwieers I think this may have already been fixed with https://github.com/ansible/ansible/pull/51000. Are you able to test it out and see if you are still coming across this issue.

[2019-02-07 23:39] dead10ck commented on #43728
@jtyr that is the code snippet I posted. If the version is `None` (i.e. not specified), it chooses the latest version. Instead, if the state is `present`, no version is specified, and the plugin is already installed, it should change nothing.

[2019-02-08 00:35] jtyr commented on #43728
You are right. It looks like  the problem is actually on the L481. It should probably be changed to:

[code]

@dead10ck please could you test it?

[2019-02-08 00:38] #48766 closed, assigned to nobody

[2019-02-08 00:46] dagwieers commented on #50588
@jborean93 I had this at some point in time, so that's why I wanted to report it. If you think this is fixed, I don't mind closing this and report it when I would see it again. Thanks!

[2019-02-08 00:46] #50588 closed, assigned to nobody

[2019-02-08 00:47] dagwieers commented on #50588
resolved_by_pr #51000

[2019-02-08 01:01] Testicule commented on #41540
ZOMG these differences in behaviour are unbelievable.
And dangerous.

If someone comes along and changes an include_tasks (tagged with"always") to an import_tasks... suddenly ALL tasks in the incude file inherit tag "always".

That could be an absolute disaster.
Unbelievable.

[2019-02-08 01:18] dhirajdebut commented on #51873
@sivel please check logs i posted. I get this error while running the playbook

[2019-02-08 01:41] jborean93 commented on #51873
@dhirajdebut you need to share the full output when running with `-vvv`, you have just provided the error but not what sivel was asking for.

[2019-02-08 01:47] jborean93 commented on #51543
Ok I finally got round to start looking at this issue, for a start I've run the following playbook to reproduce this issue on Server 2019.

[code]

Now that I've replicated the issue I will play around with it a bit more to figure out why it is happening.

[2019-02-08 02:38] gariels commented on #51591
sure I'll try once I got on my lab, thank you

[2019-02-08 02:46] Akasurde commented on #51675
@kylix3511 We have started a [newbie community pinboard](https://github.com/ansible/community/issues/437) to help new comers to find easyfixes and get started with Ansible project.

[2019-02-08 02:47] ahuffman commented on #48709
Maybe I misunderstand the problem here, but the way that I typically do this, and it works well is to design your variables into lists of dictionaries like so:
[code]
When you have a structure like that you are then able to do something like this:
[code]
So you're able to iterate on the variable structure, while injecting the variables into your role.  Hopefully that helps you.

[2019-02-08 02:47] #51675 closed, assigned to nobody

[2019-02-08 02:50] Akasurde commented on #51378
@Ashishkasaudhan Any news ?

needs_info

[2019-02-08 03:33] Akasurde commented on #51893
!component =lib/ansible/modules/cloud/vmware/vcenter_license.py

[2019-02-08 04:07] johnboy2 opened #51923 "FeatReq: Add support for DNS record management on Windows DNS Server"
##### SUMMARY
Add a `win_dns_record` module for managing DNS records in Windows DNS server (ie usually extra records in an AD environment).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_dns_record (proposed)

##### ADDITIONAL INFORMATION

Active Directory has unique dependencies on DNS -- so much so that it requires its own, dedicated DNS system to work effectively. For some organiza

[2019-02-08 04:12] johnboy2 commented on #51923
!component =lib/ansible/modules/windows/win_dns.ps1
!component +lib/ansible/modules/windows/win_dns.py

[2019-02-08 04:14] jborean93 commented on #51543
So after looking into this a bit more I think I've figured out the issue. I was able to debug this locally and found that `win_dsc` is properly casting values like `SQLSysAdminAccounts` to a `String[]` as expected by that property. The issue at handle is due to the space in the `Features` key that you have set `Features: "SQLENGINE, SSMS,ADV_SSMS"`.

Looking at the code we can see that the `Featur

[2019-02-08 04:22] dagwieers commented on #51923
So Chef has 2 resources for managing DNS, **windows_dns_record** and **windows_dns_zone**.
Personally I prefer this distinction as well, so I would propose **win_dns_record** and **win_dns_zone**.

[2019-02-08 04:36] jborean93 commented on #51923
We have a PR for a module to manage A records https://github.com/ansible/ansible/pull/36493 but that's being held up because we want to make it generic for requests such as this and to include some testing.

[2019-02-08 04:36] dagwieers commented on #51399
I guess we can close this issue since the PostgreSQL Working Group is actively working on this and we have a roadmap for Ansible v2.8. Thanks everyone !

[2019-02-08 04:36] #51399 closed, assigned to nobody

[2019-02-08 04:40] johnboy2 commented on #51923
I didn't spot #36493 before starting on my solution, so I guess mine could be considered an alternate proposal.

@dagwieers - I like that, and have renamed accordingly.

[2019-02-08 04:46] dagwieers commented on #51652
@abitrolly The `runuser` support still needs to be written. We have until early March to have it added if we want to see it in Ansible v2.8. There are some modalities we have to discuss (like, should we prefer `runuser` over `sudo` when it is available, etc.)

[2019-02-08 04:50] jainnikhil30 commented on #17940
It will also be worth to choose the logging levels (info, warning, debug, error, fatal) for the syslog. That way we can choose what we want to be logged. Currently Ansible logs everything at the syslog info severity, which adds loads of noise in there.

[2019-02-08 05:01] jborean93 commented on #51543
I've opened a PR https://github.com/ansible/ansible/pull/51927 that will return the warnings from the DSC run, in this case I was getting the following in the output

[code]

This is really the best that Ansible can really do and in this case would have helped guide you to the proper location that contained the real error.

[2019-02-08 05:12] facetoe commented on #22248
I'd also like to know how to do this.

[2019-02-08 05:40] #51745 closed, assigned to trishnaguha

[2019-02-08 06:10] gariels commented on #51591
OK it seems this PR fix my issue, **thank you very much**. I'm closing this issue.

[code]

[2019-02-08 06:10] #51591 closed, assigned to Akasurde

[2019-02-08 06:22] electricBonfire commented on #13637
The `--extra-vars` method does not seem to work using the dynamic inventory aws_ec2 plugin.

[2019-02-08 06:25] sandeepdharembra commented on #10964
The order directive does not work as stated by @Cougar

@bcoca Please can you revisit

ansible 2.7

[2019-02-08 06:36] mariolenz opened #51928 "vmware_host_config_manager crashes with ESXi 6.7U1"
##### SUMMARY
[code]

`option_manager.supportedOption` returns amongst others 'Vpx.Vpxa.config.log.level'. This setting doesn't exist on a newly installed ESXi 6.7U1. It is a supported option so the code above tries to update `host_fachts['Vpx.Vpxa.config.log.level']`, but this doesn't exist because 'Vpx.Vpxa.config.log.level' isn't returned by `option_manager.QueryOptions()`.

##### ISSUE TYPE
-

[2019-02-08 07:26] juanvalino commented on #48709
The structure you proposed is not enough if you need more abstract metaprogramming. It requires you to hard-code all role variables in the `vars` section and in some cases the variable list to use by the role may be generated dynamically because is different in any host to manage.

For example, using the same example, one host you may need to pass only the `tomcat_version` and let the role use the

[2019-02-08 08:17] piroux opened #51941 "Cannot use launch_template name in ec2_instance module"
##### SUMMARY

The `ec2_instance` module cannot use LaunchTemplate name because there is the bug on the following line:
https://github.com/ansible/ansible/blob/88df4e22d3a720127e87f1bb74eeaa5e773d63fe/lib/ansible/modules/cloud/amazon/ec2_instance.py#L1109

It should be:
[code]

Moreover, there are not any tests for the `launch_template` argument of this module.

##### ISSUE TYPE
- Bug Report

####

[2019-02-08 09:16] hvanderlaan commented on #51775
True, in the ansible.cfg the inventory is a absolute path. If tested it when using relative path, and it works now.

issue can be closed.

[2019-02-08 09:20] uritau opened #51944 "azure_rm dynamic inventory not being able to get public_dns_hostnames or public_ipv4_addresses or private_ipv4_addresses from azure vm"
##### SUMMARY

After updating to ansible 2.7.7 azure_rm plugin for dynamic inventory starts faling with:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm dynamic inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker container:
[code]
And azure_rm yaml config:
[code]

##### STEPS TO REPRODUCE

1) Install ansible 2.7.6
2) La

[2019-02-08 09:40] juanvalino opened #51946 "Jinja2 templates incorrectly rendered when `jinja2_native` config option is enabled"
##### SUMMARY
Jinja2 templates incorrectly rendered when `jinja2_native` config option is enabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template lookup
template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
All OS

##### DEPENDENCY PROBLEMS
N/A

##### STEPS TO REPRODUCE
Create a template file called `test.j2`:

[code]

Create a playbook ca

[2019-02-08 09:47] Leletir commented on #48374
Hello,

I still got this issue, every variables with space in it does not work.
I'm using:
 - https://raw.githubusercontent.com/ansible/ansible/devel/lib/ansible/modules/cloud/misc/terraform.py
 - ansible 2.7.7

This is my variables.tf file:
[code]

[code]

[code]

And I obtained:
[code]

[2019-02-08 09:52] mkrizek commented on #51946
This has been fixed in upstream Jinja2 - https://github.com/pallets/jinja/pull/799. Using a master branch until a new version of Jinja2 is out will fix the issue.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 09:52] #51946 closed, assigned to nobody

[2019-02-08 10:23] MarkusTeufelberger commented on #45725
notabug

[2019-02-08 10:29] #45725 closed, assigned to nobody

[2019-02-08 10:35] sahilsk commented on #46484
:(
Looks like i have to switch to terraform to automate vmware server provisioning.

[2019-02-08 10:37] JonnyJD commented on #47051
@x-yuri

I tried that after reading `_identifier_parse()`, but this is just diving deeper into the problem. My results:
* drop: no error, but doesn't drop (might be fixed by the attached PR, didn't check)
* create: works
* import: doesn't work, see below:
* dump: works without quotes, but not with quotes (database not found; didn't check if the PR fixes this)

import:
On existing database it compl

[2019-02-08 10:44] felixfontein commented on #45726
notabug

[2019-02-08 10:44] felixfontein commented on #45724
notabug

[2019-02-08 10:52] #45726 closed, assigned to nobody

[2019-02-08 10:53] #45724 closed, assigned to nobody

[2019-02-08 11:04] Akasurde commented on #46484
@sahilsk Did you try [`vmware_tag_manager`](https://github.com/ansible/ansible/pull/46945) ? If not, please and let me know the feedback. Your reviews and comments will expedite the merge process. Thanks,

[2019-02-08 11:36] hanssonsebastian commented on #51543
Hey, Still getting this error but the Summary.txt says Final Result: Passed.
Don't know if it's the same issue or not. Anyone got any ideas?

[code]

#VARS in default.yml#

[code]

[2019-02-08 12:06] vguaglione commented on #51877
Sure thing.  Here's the config with the server omitted.  Running this one results in the behavior I described initially:

[code]

[2019-02-08 12:19] lobsterdore commented on #14468
Thanks @acardak that did the trick for me, I am trying to use Pyenv with Ansible on a Trusty instance to give me Python 3.6.7, not the easiest of tasks but your solution has helped me out a lot.

[2019-02-08 13:46] Xophmeister opened #51959 "apt module to first check for locks, then act accordingly"
##### SUMMARY

An `apt` task will fail with the usual `apt` error message if `apt` is already running on a particular host. `apt` is often scheduled to run by, e.g., `systemd` or `cron`. The error that it spits out is a bit scary, but all you need to do is wait a few minutes for the previous `apt` invocation to finish. It would be nice if the `apt` module handled this for you automatically. That i

[2019-02-08 13:58] Asgoret commented on #50529
same error.
Version:
ansible - 2.7.2
openshift module - 0.8.4
Python - 2.7.10

Don't work:
Set `python_requirements_facts`
Set `ansible_playbook_python`
Set `ansible_python_interpreter`

Any workarounds?

[2019-02-08 14:15] sahilsk commented on #46484
[code]

and while trying to install sdk, it broke python pip and i had to re-install python again to get the setup back. If you have safe instructions to install it, I can start from there.

On second thought:  This module has a big requirement list.  Using simple rest api `https://docs.ansible.com/ansible/latest/vmware/scenario_vmware_http.html#id1` seems to be more better option for my use case.

[2019-02-08 14:20] mrmeszaros commented on #51066
@Tomorrow9 I am in need of such a module - I would gladly help to make it sooner.
Do You have a fork / branch on which You are working?

[2019-02-08 14:34] provonet opened #51960 "ANSIBLE_CONSUL_KV variable ignored if ANSIBLE_CONSUL_VALIDATE_CERTS and/or ANSIBLE_CONSUL_CLIENT_CERT are undefined"
##### SUMMARY
ANSIBLE_CONSUL_URL is ignored if ANSIBLE_CLIENT_CERT and ANSIBLE_VALIDATE_CERTS are undefined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
consul_kv lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Oracle Linux Server release 7.6

##### DEPENDENCY PROBLEMS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
In expected that ansib

[2019-02-08 14:41] jboero commented on #50237
Helpful as always.  Thanks Adam.  This affects Ansible too including Ovirt installer.  I manually disabled versionlock plugin and now have a stable Ovirt Engine+Host on my F28 box.

Johnnyb

[2019-02-08 14:42] gfussNET commented on #50605
VMC needs resource_pool also defined.  resource_pool: "Compute-ResourcePool"

Hope that helps others!

[2019-02-08 14:42] cantona27 commented on #50605
@edcrosbys - We saw the same issue. With some help we found that we need to pass the resource_pool in VMC.

Try adding ```resource_pool: Compute-ResourcePool```

This worked for us

[2019-02-08 15:28] jagipson opened #51965 "user module reports "changed" when it shouldn't"
##### SUMMARY

The user module reports changed when a user change isn't necessary.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

user module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

python 2.6.6
Controller: RHEL 6.10
Inventory Hosts: RHEL 6.10 and RHEL 7.4
##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

Run
[code]

[code]

##### EXPECT

[2019-02-08 15:31] ovcharenko commented on #45604
resolved_by_pr #49948

[2019-02-08 15:40] jbarotin commented on #45604
@ovcharenko  I'll send a PR to resolve the second part of this issue (implements diff)

[2019-02-08 15:51] pawellrus opened #51967 "win_iis_webbindig cannot update ssl cert on default binding"
##### SUMMARY
win_iis_webbindig cannot update ssl cert on default binding
Catch-all binding becomes corrupted with SNI Flag enabled. IIS Binding console failed to open after execution. So I can roll it back only via IIS config file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_iis_webbinding

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

[2019-02-08 15:54] ovcharenko commented on #45604
@jbarotin Ah, so it's two parts...

[2019-02-08 16:04] #37292 closed, assigned to Qalthos, acozine, samccann

[2019-02-08 16:13] jctanner commented on #23572
@dagwieers I agree this should be in docs. Can you think of a way that we could add it in a way that isn't a static list that we have to constantly recheck?

Either way, PRs gladly accepted.

needs_info

[2019-02-08 16:13] sivel commented on #23580
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-08 16:13] #23580 closed, assigned to nobody

[2019-02-08 16:15] jmmorel commented on #48313
I've also encountered this issue with version 2.6.2.

A simple way to reproduce the issue:
- leave an existing file opened in the mount point you want to unmount (vi /mymountpoint/arbitrary_existing_file , for example)
- launch the task which use the mount module with state: absent
At first run, the task will effectively remove the mount point from /etc/fstab, then fail to unmount it.
The followin

[2019-02-08 16:21] jctanner commented on #31236
@timss thank you for this report. Apologies that we haven't been responsive till now, but the good news is that we undeprecated include and only recently made include_*|import_* stable interface, so this error no longer exists. Thanks again for the report!

[2019-02-08 16:21] #31236 closed, assigned to nobody

[2019-02-08 16:28] sivel commented on #33587
I have added this to the Ansible Core Documentation project to get documentation updates handled to reflect these differences.

[2019-02-08 16:31] sivel commented on #35474
We agree that the argument spec should be updated to use `name` as the primary key, and list `package` as the alias to align with the docs.

[2019-02-08 16:34] sivel commented on #36446
As stated above, `content` is an alias of `block`, and we show both in the examples to cover this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 16:34] #36446 closed, assigned to nobody

[2019-02-08 16:39] sivel commented on #36463
Thank you very much for your interest.  Although there is some contention between localized use of MB vs MiB, we have decided to not pursue this change further.  If you would be willing to add documentation to further explain that the values indicated with MB are actually MiB we would be willing to accept such a PR.

If you have further questions please stop by IRC or the mailing list:

   * IRC:

[2019-02-08 16:39] #36463 closed, assigned to nobody

[2019-02-08 16:42] sivel commented on #36639
This message has been updated to remove the duplicate `always`.  Additionally, the `returned` field is free text, and can contain any explanation.  The use of `always` and `on success` are just recommendations.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 16:42] #36639 closed, assigned to nobody

[2019-02-08 16:44] sivel commented on #14107
I have marked this as needs_verified so that we can determine if this behavior is still present.

[2019-02-08 16:48] sivel commented on #15135
We have recently discussed this and have decided that instead of using `--syntax-check` for machine parsable results, users should instead rely on the functionality of `ansible-lint`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 16:48] #15135 closed, assigned to nobody

[2019-02-08 16:50] sivel commented on #15187
Based on the above comment, this can no longer be reproduced on recent versions of ansible.

If you are still having issues, please create a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 16:50] #15187 closed, assigned to nobody

[2019-02-08 16:53] sivel commented on #15252
We believe this to be addressed in recent versions of ansible.

If you are still having problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project