[2018-01-29 16:29] sivel commented on #35429
Any module utilizing `ansible.module_utils.urls` should already have this functionality as long as the `NETRC` env var is set, which can be accomplished via the `environment` keyword.  Is there a specific module are you referring to?

needs_info

[2018-01-29 16:33] sivel commented on #35425
We try to stay away from using CWD as it is prone to bad behavior.  If you were to run the plugin from `/tmp` and a bad actor put a file that does something bad in `/tmp`, your playbook could randomly upload a file that could do harm to the remote system.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups

[2018-01-29 16:33] #35425 closed, assigned to nobody

[2018-01-29 16:37] dagwieers commented on #35304
The use of `-v` and `-vvv` is not something we can influence as a module. This is just how Ansible works.

And this is also one of the reasons we want to reduce the amount of output by default.

[2018-01-29 16:42] dagwieers commented on #25282
@jborean93 Isn't this already implemented ?

[2018-01-29 16:43] itdependsnetworks commented on #17460
Been added in: https://github.com/ansible/ansible/pull/26566/files#diff-52b5d47bc5ffb759787765a1aae56df7R492

Can close.

[2018-01-29 16:44] #17460 closed, assigned to rcarrillocruz

[2018-01-29 16:49] alikins commented on #35424
The 'Decryption successful' output should be going to stderr in this case.

[code]

[2018-01-29 16:57] ssbarnea commented on #24581
I would vote for enable squashing by default for `package`.

If one package module is not supporting it is this module bug and normal users should not pay the huge price for that.

[2018-01-29 17:03] dagwieers commented on #35448
So, there's more than one way to do this and the integration tests show the various possibilities:
- https://github.com/ansible/ansible/blob/devel/test/integration/targets/xml/tasks/test-set-children-elements-level.yml
- https://github.com/ansible/ansible/blob/devel/test/integration/targets/xml/tasks/test-children-elements-xml.yml

Second example uses `input_type: xml`.

[2018-01-29 17:15] mattclay commented on #35414
@rambleraptor I cannot reproduce the issue you're seeing. It looks like the PR has changed since you opened this issue, so it's no longer triggering the error.

[2018-01-29 17:16] clementtrebuchet opened #35468 "INFOBLOX result set too large - no inventory returned - enable the max_results to be setted in the configuration file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

contrib/inventory/infoblox.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.9 (Santiago)

##### SUMMARY

By default, the number of results is limited to 1000, passing the "max_results" parameter, this would raise this limitation.
Alas nothing was planned to pass this para

[2018-01-29 17:18] Constantin07 commented on #21397
I'm experiencing the same issue.

[2018-01-29 17:19] sivel commented on #24581
We have the intentions on removing squashing altogether from ansible, in favor of just using a list directly.

e.g:

[code]

[2018-01-29 17:28] alikins commented on #35446
There is a ansible_shell_executable (http://docs.ansible.com/ansible/latest/intro_inventory.html#list-of-behavioral-inventory-parameters). Would that work for your use case?  If not, what is missing?

See also https://github.com/ansible/ansible/issues/24169 and related pr https://github.com/ansible/ansible/pull/31361 (and for more context, also the now reverted https://github.com/ansible/ansible/p

[2018-01-29 17:37] xcambar commented on #26384
Thanks, it's currently mostly doing issue triage more than anything else :)

Thanks for running an up to date playbook. I'll close this issue, and maybe we will see it reappear with an earlier version of node. But meanwhile...

close_me

[2018-01-29 17:37] jerrac commented on #35425
Good point.

Is there, or could we get, a project root variable? Maybe define it in ansible.cfg. Then I could use that variable in my playbooks, and/or the copy module could use it when searching for local files.

[2018-01-29 17:39] #26384 closed, assigned to nobody

[2018-01-29 17:45] sivel commented on #35425
There are a few variables that you can utilize, to calculate that such as:

- `inventory_dir`
- `playbook_dir`

[2018-01-29 17:47] jerrac commented on #35425
Thanks! I'll look into those. :)

[2018-01-29 17:58] ssbarnea commented on #24581
@sivel Can you please add more info about this idea. What would be the behaviour: installing all of them as a single transaction of with  multiple calls to the package manager?

If it would be using multiple steps it could easily translate to huge executions times and annoying lots of people about ansible taking ages to run. The speed differences are not to be ignored at least with yum where with

[2018-01-29 17:59] adragoset commented on #22930
Not working on rhel7

[code]

[2018-01-29 18:11] YPCrumble commented on #18432
To those coming here looking for the answer to the stated question:

All `site.retry` contains is name of the host(s) on which the playbook failed. For instance, let's say you're deploying to more than one host (e.g., api1.example.com, api2.example.com), `site.retry` might contain `api2.example.com` if the error only occurred for that host. Adding the `--limit` suffix would re-run the playbook onl

[2018-01-29 18:21] fpalladoro commented on #31269
Same issue here with Ansible 2.4.2.0 installed from PyPI

[2018-01-29 18:27] sivel commented on #24581
squashing takes the following:

[code]

And turns it into:

[code]

Both of the above are equivalent, and only uses a "single transaction".

Squashing is not portable, and requires a hard coded list of modules that support squashing, we have plans to remove it.  There is really no reason to do it, since modules support this functionality natively, by passing a list to `name`.  In the end, the outc

[2018-01-29 18:34] zkisling commented on #12170
How can this get so many thumbs downs when this has been asked for since 2015. If the tech didn't move in this direction since the 3 years of inception.. people wouldn't still be asking for it. Instead of a legacy answer from 2016 and 👎  for posts following that, how about a 2018 reason for not implementing? If this is too extreme at least build in a serial component to the handler specifically. W

[2018-01-29 18:37] cubranic commented on #12170
If you look at comments getting 👎 , it's because they're pointless, as their entire content is saying "+1".

[2018-01-29 18:41] hryamzik commented on #12170
There's also a working solution in this thread.

[2018-01-29 18:42] nimeops commented on #17588
Hi all
Same issue!

ansible 2.4.2.0
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (default, Sep 23 2017, 22:06:14) [GCC 7.2.0]

[2018-01-29 18:42] kami8607 commented on #12170
there is a workaround that works for most parts but no solution

[2018-01-29 18:52] kinware commented on #34987
Happy to hear that @daBONDi  :)

Got a slot in our test environment and have now confirmed that after applying the critical parts of 96ced59 to 2.4.0.0  (removing the #Requries 3.0 parts in powershell.py and switching to the updated "wrapper-lines" in script.py) the script module works fine over the high latency connection.

Thanks @jborean93! Closing issue.

[2018-01-29 18:52] #34987 closed, assigned to nobody

[2018-01-29 19:04] kbreit opened #35474 "apt error message doesn't align with documentation"
##### ISSUE TYPE
 - Bug  Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Documentation phrasing doesn't match Ansible error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The result should say 'name' and not 'package'. Alternatively, documentation should refer to 'package' and package should be the primary comma

[2018-01-29 19:10] jborean93 commented on #25282
Yep I mus have missed this issue, will be available in the 2.5 release.

[2018-01-29 19:10] #25282 closed, assigned to nobody

[2018-01-29 19:49] abugher-at-nvidia commented on #16894
My work-around was to use paramiko.

My reading of the manual is that --ask-pass takes a pass phrase only for authentication, not for key decryption.  I spent some time wondering about that as well, though.  The documentation might benefit from an explicit mention that this pass phrase won't be used that way.  (I'm not prepared at the moment to go file that bug, though.)

[2018-01-29 19:52] hschreck commented on #29248
I am using latest available via Homebrew (2.4.2.0) and I am experiencing the same issue.

When I try to install NPM through the NPM module, it works as expected; when I try to install Electron, it fails with the same messages as previous reports regarding the JSON errors.

[2018-01-29 20:23] s-hertel commented on #22374
Fixed in a685b621cdf15b7d73f49e9fc3dbbe2e1f63deef.

[2018-01-29 20:23] #22374 closed, assigned to nobody

[2018-01-29 20:33] xcambar commented on #29248
What does `$ /usr/local/bin/npm --version` return on the target machine?
Your playbook seems to fail on `npm list --json --long` which is really surprising...

The best would be to have a small playbook that would allow for a reproduction of the behavior, to be honest.

[2018-01-29 21:31] #26575 closed, assigned to nobody

[2018-01-29 21:31] jctanner commented on #13876
The original problem described in this issue with temp dir resolution should have been resolved by https://github.com/ansible/ansible/pull/31677.

[2018-01-29 21:31] #13876 closed, assigned to jimi-c, mckerrj

[2018-01-29 22:11] agowa opened #35480 "Ansible-Vault encryption not deterministic"
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
Ansible-Vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Independent

##### OS / ENVIRONMENT
Independent

##### SUMMARY
(C'n'P from IRC)
I'm trying to do this: https://leucos.github.io/articles/transparent-vault-revisited/ without git thinking, that the file has changed, when I simply run "rm encrypted-file.yml;git checkout -- encry

[2018-01-29 22:25] maxamillion opened #35481 "Passing a dict to `with_list` causes RuntimeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/list.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Fedora 27

##### SUMMARY

Currently if you run a playbook `with_list` and pass it a `dict`, this results in a `RuntimeError` as opposed to if you pass a `list` to `with_dict`, it gracefully causes a task failure.

##### STEPS TO REPRODUCE

[code]

[code]

[2018-01-29 22:33] agowa338 commented on #35480
From IRC #ansible-dev
[code]

[2018-01-29 22:33] maxamillion commented on #35481
!component = lib/ansible/executor/task_executor.py

[2018-01-29 22:40] sysnet4admin commented on #16010
[vagrant@ansible-server ~]$ ansible-galaxy install bennojoy.nginx
- downloading role 'nginx', owned by bennojoy
- downloading role from https://github.com/bennojoy/nginx/archive/master.tar.gz
- extracting bennojoy.nginx to /etc/ansible/roles/bennojoy.nginx
 [WARNING]: - bennojoy.nginx was NOT installed successfully: Could not update files in
/etc/ansible/roles/bennojoy.nginx: [Errno 13] Permission

[2018-01-29 22:50] sysnet4admin commented on #16010
/usr/lib/python2.7/site-packages/ansible/constants.py

V2.3
200 DEFAULT_ROLES_PATH        = get_config(p, DEFAULTS, 'roles_path',       'ANSIBLE_ROLES_PATH',       '/etc/ansible/roles', value_type='pathlist', expa        nd_relative_paths=True)

[2018-01-29 22:59] bobsaintcool commented on #35435
@sivel cannot attend the meeting, but happy to see what has been decided!

As I don't not really understand the bug behing "my playbook is broken under py3.6", do you have some links/doc that could help me it would be great :)

Thank by the way

[2018-01-29 23:10] DockerAsura commented on #35455
/bin/tar

[2018-01-29 23:37] neekz0r commented on #31822
Second on this. Please see the [consul documents ](https://www.consul.io/docs/agent/dns.html)for why it's on a non DNS port.

[2018-01-29 23:56] arnold-jr opened #35484 "shade novaclient is deprecated and results in error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.4 managing CentOS 7.4 via OpenStack

##### SUMMARY

Invoking `os_server_action` results in a shade deprecation error. The module `novaclient`
cannot be found. Was also reported in #25949.

##### STEPS TO REPRODUCE

```ansible-playbook -e "openstack_key

[2018-01-30 00:48] brunocalogero commented on #35340
i'm starting this module, hopefully will be done soon, let's see who makes it first hehe :)

[2018-01-30 01:54] tennityj commented on #26351
**Also having an issue with -H property.**

FAILED! => {"changed": false, "failed": true, "msg": "Error while trying to get facts about ZFS pool: rpool", "rc": 2, "stderr": "bad property list: invalid property '-H'\nFor more info, run: zpool help get\n", "stderr_lines": ["bad property list: invalid property '-H'", "For more info, run: zpool help get"]}

[code]

**Running this against a Solaris 11.

[2018-01-30 02:39] unenglishable commented on #31779
https://github.com/ansible/ansible/pull/31785

This is still an issue, since the pull request to set a default region was not merged.

[2018-01-30 03:03] Akasurde commented on #25029
resolved_by_pr https://github.com/ansible/ansible/pull/35230

[2018-01-30 03:04] Akasurde commented on #25029
@legend1222 Could you please retry using latest (2.5 version) and let me know if it works for you ?

needs_info

[2018-01-30 03:07] jborean93 commented on #35413
@hryamzik as promised, here is a PR which should fix this issue for you. I did test it manually myself but it would be good to get another look at it.

https://github.com/ansible/ansible/pull/35487

[2018-01-30 03:08] jborean93 commented on #34698
There is a PR to fix this issue https://github.com/ansible/ansible/pull/35487, if you get a chance it would be good to test it.

[2018-01-30 03:08] abadger commented on #35417
+1 for backport.  Go ahead and cherry pick it to temp-staging-post-2.4.3

On Jan 29, 2018 4:46 PM, "Matt Martz" <notifications@github.com> wrote:

[2018-01-30 03:08] jborean93 commented on #32037
I have finally gotten round to creating a PR for this https://github.com/ansible/ansible/pull/35487, this allows you to specify both a dict or json string for json data.

[2018-01-30 03:09] jborean93 commented on #31981
Have just raised a PR for this https://github.com/ansible/ansible/pull/35487, if you have time to test this out that would be great.

[2018-01-30 03:09] jborean93 commented on #31166
Have just raised a PR for this https://github.com/ansible/ansible/pull/35487, if you have time to test it out that would be great.

[2018-01-30 03:49] yuwzho commented on #32027
resolved_by_pr 33597

[2018-01-30 04:11] #25029 closed, assigned to Akasurde

[2018-01-30 04:20] Akasurde commented on #27860
@jmcginn13 Could you please retry with latest (2.5) version and let me know if it works for you?

needs_info

[2018-01-30 05:19] brunocalogero commented on #35340
btw thanks all for the examples and suggestions, this is making my life way easier :)

[2018-01-30 05:58] trishnaguha commented on #35431
resolved_by_pr https://github.com/ansible/ansible/pull/35433

[2018-01-30 05:58] #35431 closed, assigned to nobody

[2018-01-30 06:04] yuwzho commented on #32027
@ansibot

[2018-01-30 06:07] Akasurde commented on #33647
resolved_by_pr #35472

[2018-01-30 06:57] sadanand25 commented on #17908
Hello Team,

Still issue is not resolved ...  please help to get it resolved

The full traceback is:
  File "/tmp/ansible_gm8qvinh/ansible_modlib.zip/ansible/module_utils/basic.py", line 2762, in run_command
    cmd = subprocess.Popen(args, **kwargs)
  File "/opt/lib/python3.5/subprocess.py", line 947, in __init__
    restore_signals, start_new_session)
  File "/opt/lib/python3.5/subprocess.py", l

[2018-01-30 07:04] thomngo opened #35488 "Ansible can't SSH into NX-OSv, unreachable error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_REMOTE_TMP(/Users/user/Desktop/ansible2/ansible.cfg) = ~/.ansible/tmp
HOST_KEY_CHECKING(/Users/user/Desktop/ansible2/ansible.cfg) = False

##### OS / ENVIRONMENT

macOS High Sierra 10.13.3

##### SUMMARY

I'm running NX-OSv7.3.0 in GNS3 2.1.3, attempting to run a simple ansible script

[2018-01-30 07:08] sadanand25 opened #35489 "mksysb returns permission denied"
I was trying to take mksysb from ansible server .. and recevied below error

[code]

[2018-01-30 07:48] leupo commented on #30411
https://github.com/ansible/ansible/issues/30411#issuecomment-360766621

That was exactly my problem. No ansible.cfg parameter(neither timeout fact_caching_timeout) did helped me to interrupt the process. Thank you so much!
IMO this schould result in a error/timeout on the control machine.

[2018-01-30 07:57] SaranrajMG commented on #35012
@Akasurde  Thanks for version details. I have tried using datastore cluster name in the disk options but still i get the same error.  If i use specific data-store then im able to deploy the VM but not datastore cluster name.

Please let me know if you have any other suggestion.

[2018-01-30 08:05] zikalino commented on #29550
@gvilarino i have checked this issue, and there seem to be no problem with this module.
Integration tests are successful, as you see here:
https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_storageaccount/tasks/main.yml

Your playbook to gather facts should either look like:

 - name: Gather facts
   azure_rm_storageaccount_facts:
       resource_group: "{{ resource_gr

[2018-01-30 08:08] zikalino commented on #29550
bug_resolved

[2018-01-30 08:09] #29550 closed, assigned to nobody

[2018-01-30 08:13] Akasurde commented on #35012
@SaranrajMG Would you be interested in testing this [patch]( https://github.com/ansible/ansible/compare/devel...Akasurde:datastore_fix).

If you are using this patch, you need to modify your playbook by specific additional parameter called `datastore` outside disks specification.

Something like

[code]

You need to have storage DRS enabled on Datastore cluster to work with this patch.

[2018-01-30 08:19] SaranrajMG commented on #35012
@Akasurde : Please let me know the patch installation procedure. Let me try and update you.

[2018-01-30 08:25] Akasurde commented on #35012
@SaranrajMG You can directly copy [this vmware_guest.py](https://raw.githubusercontent.com/Akasurde/ansible/cc410e2cb0846d2d24da69c97e8e495e914ea2dd/lib/ansible/modules/cloud/vmware/vmware_guest.py) in Ansible installation's vmware directory. Generally, on RHEL like system it will be `/usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/`

Please ping on irc channel #ansible-vmware of irc

[2018-01-30 08:39] sadanand25 commented on #35489
##### ISSUE TYPE
hello Team, i was trying to take mksysb from ansible server .. and recevied error to mksysb returns permission denied
##### COMPONENT NAME
mksysb

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/pyth

[2018-01-30 08:54] SaranrajMG commented on #35012
@Akasurde : Do i need to add datastore option under disk section

      disk:
       - size_gb: 64
         datastore: LUN-NPRD-OS-SCLU-08   --- > Is it required in new patch?
         type: thick

[2018-01-30 09:08] nonos421 commented on #35445
Thanks Sivel, i had not seen this information in the doc !! Sorry.

[2018-01-30 09:40] SaranrajMG commented on #35012
@Akasurde : Getting below error in new vmware_guest module.

atal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "cluster": "sHosts08",
            "customization": {
                "autologon": true,
                "dns_servers": [
                    "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER",

[2018-01-30 09:43] Akasurde commented on #35012
@SaranrajMG I think you have not applied the patch correctly.

[2018-01-30 09:45] umrikar opened #35491 "getting error while creating vmkernel interface using vmware_vmkernel module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vmkernel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
 I am using below playbook to create vmware vmkernel interface on ESXIhost under my virtual switch.All parameters i am specifyinh here are right and i am able to create interface through vsphere webclient with same parameter values.

but

[2018-01-30 09:49] matejak commented on #31968
This is most likely not an Ansible bug, but a [property of the YAML format](http://yaml.org/type/bool.html), when `true` (or `TRUE` or others) is recognized as a boolean value. Ansible has no way to tell what exactly the user wrote there - it could be any of the accepted values. So enclosing `true` in quotes (as the original reporter remarked) is not a workaround, but you explicitly tell that the

[2018-01-30 10:52] codidex commented on #35463
Nice, colons syntax works well.

Thanks !

[2018-01-30 10:57] valerio-gr opened #35493 "debug with_items prints the whole item even if using loop_control label"
##### ISSUE TYPE

 Bug Report

##### COMPONENT NAME
debug module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
From ansible-config dump --only-changed:
"""
ANSIBLE_SSH_ARGS        = -o ControlPersist=5m
DEFAULT_HASH_BEHAVIOUR  = merge
DEFAULT_STDOUT_CALLBACK = skippy
HOST_KEY_CHECKING       = False
RETRY_FILES_ENABLED     = False
"""

##### OS / ENVIRONMENT
Redhat 7.3

##### SUMMARY
This is s

[2018-01-30 11:01] SaranrajMG commented on #35012
@Akasurde : :+1: its working now.  Thanks for your help on this...

With this patch it is possible to assign multiple disk to a same VM from different datastore cluster. Let say for OS from one cluster and data disk from Another Datastore cluster.

[2018-01-30 11:01] davidroberts-atradius commented on #32702
I am having the same issue with ansible-2.4.0.0-5.el7 and ansible-2.4.2.0-1.el7

I  am aware of code changes being made between Ansible v2.3 and 2.4 to enable the portgroup (network name) to be set if provisioning from a template. Previously, there were customisation errors. However, these changes seem to have impacted the idempotency.

So I can provision a VM fine. Here is sample playbook (minus

[2018-01-30 11:10] MichalTaratuta opened #35494 "ios_config fails when user confirmation is needed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY

Module fails to execute commands which require confirmation from the user.
[code]

Ideally there would be an option to force the configuration.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task to complete succ

[2018-01-30 11:11] dusty73 opened #35495 "loop order on dictionary with ansible_tasks is random"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos

##### SUMMARY
The order of dictionary items when looping in an ansible_tasks directive is unpredictable. Given a dictionary of the form:
[code]
I would expect that the included tasks work on dictionary item in the order of definition, instead the or

[2018-01-30 12:09] byrneo opened #35496 "LetsEncrypt fails to recognise Account Key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS 10.13.2

Name: pyOpenSSL
Version: 17.5.0
Summary: Python wrapper module around the OpenSSL library
Home-page: https://pyopenssl.org/
Author: Hynek Schlawack
Author-email: hs@ox.cx
License: Apache License, Version 2.0
Location: /Users/obyrne/.virtualenvs/ansible2.

[2018-01-30 12:16] #35148 closed, assigned to nobody

[2018-01-30 12:31] hentismith opened #35497 "Support apt module integration with needrestart"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

ansible.cfg
[code]
environment
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
We currently use needrestart <https://packages.debian.org/stretch/needrestart> to check against services that needs restarting when upgrading packages. Having apt detect and use this to feed back affected services could be ve

[2018-01-30 13:29] AndiDog opened #35498 "set_host_overrides should receive information (e.g. name) of delegated host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Task executor (connection creation)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We have a custom connection plugin to manage jails in the inventory. It needs the inventory hostname to connect into a jail and thus implements `def set_host_overrides(host)` and parses the jail out of `host.get_n

[2018-01-30 13:36] mkrizek commented on #35493
@valerio-gr The whole item is added to the module result (which is a case for all modules, not just `debug`) whether loop label is set or not, the thing that changes with loop label set is this `ok: [localhost] => (item=server1) => {` - only `item.name` is listed here and not the whole item. I don't think this is a bug.

[2018-01-30 13:36] ephracis commented on #31602
Why is this labeled as deprecated?

[2018-01-30 13:41] AndiDog commented on #35498
!component +lib/ansible/executor/task_executor.py

(the template says not to give full paths, but the bot searches for paths... strange?!)

[2018-01-30 13:57] Jorge-Rodriguez commented on #14393
+1 on this one, can we get some activity going?

[2018-01-30 14:04] cjaiwenwen commented on #28978
Hi

It triggers me this error when i delegate a job to haproxy from the webserver on ubuntu
=======================YAML CONFIG =================
- name: add host to haproxy
  haproxy:
    state: enabled
    host: "{{ inventory_hostname }}"
    backend: mytest
    wait: yes
    socket: /var/run/haproxy.sock
  delegate_to: "{{ proxyserver }}"
====================================================

fat

[2018-01-30 14:25] valerio-gr commented on #35493
@mkrizek,  Isn't that a bug?
The result should just be the output of the msg variable and not include the item itself.
Note: this example is taken pretty much straight from Ansible documentation as an example to limit what is going to be displayed but I still have the whole item displayed.

[2018-01-30 14:38] a-dawg opened #35502 "Credstash lookup exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Plugin lookup credstash

##### ANSIBLE VERSION
ansible v2.4.1

##### CONFIGURATION
lookup_plugins=plugins/lookup/   #path to credstash.py

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
cannot retrieve credstash passwords from ansible using lookup eventhough the password is actually stored into credstash.
Is there anything I am missing ?

##

[2018-01-30 15:04] sivel commented on #35417
I've cherry picked to temp-staging-post-2.4.3 for the 2.4.4 release

[2018-01-30 15:06] arnold-jr commented on #35484
Actually, this is a problem with `shade` not pulling in the `python-client` dependency. Closing.

[2018-01-30 15:06] #35484 closed, assigned to nobody

[2018-01-30 15:09] #35096 closed, assigned to sivel

[2018-01-30 15:30] maxamillion commented on #35502
!component =lib/ansible/plugins/lookup/credstash.py

[2018-01-30 15:31] maxamillion commented on #35502
cc @bcoca @scottcunningham

[2018-01-30 15:43] maxamillion commented on #35496
!component =lib/ansible/modules/web_infrastructure/letsencrypt.py

[2018-01-30 15:53] maxamillion commented on #35495
This is because the Python `dict` type is not ordered so the iteration is not guaranteed to be in-order. A solution for this would be to use the `|dictsort` [jinja2 filter](http://jinja.pocoo.org/docs/2.9/templates/#dictsort) which will sort the dict by key value by default or by value at your discretion. Do note that that `|dictsort` filter returns a `list`.

Here's an adaptation of your example.

[2018-01-30 15:53] #35495 closed, assigned to nobody

[2018-01-30 15:58] maxamillion commented on #35488
!component =nxos

[2018-01-30 16:08] quadewarren commented on #35414
I've been seeing this in modules that previously passed the sanity test on my local and on shippable.

Run command: test/sanity/code-smell/no-illegal-filenames.py
ERROR: Command "test/sanity/code-smell/no-illegal-filenames.py" returned exit status 1.

Traceback (most recent call last):
  File "test/sanity/code-smell/no-illegal-filenames.py", line 89, in <module>
    main()
  File "test/sanity/code

[2018-01-30 16:17] #35090 closed, assigned to Qalthos

[2018-01-30 16:26] brainclots commented on #33993
Ganesh,

I would be happy to, but not being a developer myself, I need a little help
with the instructions to add the debug info you linked to above. Could you
send the steps to merge the diff you link to above, please?

On Mon, Jan 29, 2018 at 12:11 AM Ganesh Nalawade <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again?"

[2018-01-30 16:36] alikins commented on #17151
@mrmikee could you test https://github.com/ansible/ansible/pull/35403 to see if it resolves this?

I think 35403 should fix an assortment of 'virtualization facts set to kvm host incorrectly' bugs, so curious if this one of them.

[2018-01-30 16:39] maxamillion commented on #31602
@ephracis the [`k8s_raw`](https://docs.ansible.com/ansible/devel/module_docs/k8s_raw_module.html) and other `k8s_*` modules are going to replace this module in the future. They are currently considered deprecated as of Ansible 2.5 but won't be removed for 3 or 4 more releases (iirc).

[2018-01-30 16:40] #35217 closed, assigned to maxamillion

[2018-01-30 16:41] lchantre opened #35509 "add ocfs2 support for module filesystem"
SUMMARY
add ocfs2 support for module filesystem

ISSUE TYPE
• Feature Idea

COMPONENT NAME

filesystem

ANSIBLE VERSION
since ansible 1.9

[2018-01-30 16:47] ganeshrn commented on #33993
To test the patch in PR #35439 please install using the command:
[code]

[2018-01-30 17:21] hymie0 opened #35511 "Super User Questions Tags Users Badges Unanswered Ask Question overriding options in the ansible config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Red Hat Enterprise Linux Workstation release 6.9 (Santiago)

##### SUMMARY
My `ansible.cfg` file specifies a default vault password.  I am unable to override this with a different vault password.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2018-01-30 17:33] senorsmile commented on #23182
The get_url module uses the fetch_url function from the urls.py in module_utils.  I'll see if I can figure out how to add resume support.

[2018-01-30 17:35] stpierre commented on #24425
The `__deepcopy__` approach seems simple, and fixes everything; why hasn't that been adopted yet? I've read through this and the other related issues and I can't find anywhere that specifies what the drawback is. We're suffering with this (mis)feature right now and it'd be really nice to know that it'll be fixed in 2.5.

[2018-01-30 17:55] yuriw commented on #26670
"sudo pip2 install -U pyOpenSSL"  fixed for me too !

[2018-01-30 18:27] AndyMender opened #35515 "Add 'upgrade' to 'pkgng' options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
pkgng
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Extra changes to the Ansible hosts inventory:
[freebsd]
fbsd-test

[freebsd:vars]
ansible_python_interpreter=/usr/local/bin/python2.7

##### OS / ENVIRONMENT
From: Fedora 27
To//Managed: FreeBSD 11.1-RELEASE

##### SUMMARY
The pkgng module does not support full pkg upgrades, which can be

[2018-01-30 18:45] ganeshrn commented on #33993
One more way to test the PR branch is:
Open new terminal and clone the source with PR branch
[code]
The output of the last command should point to `<present-working-directory-path>/bin/ansible`
After that rerun the test case.

[2018-01-30 19:11] kaikuchn commented on #24425
I don't remember where I read this (it is 3 months ago that I ran into this issue), but someone said that allowing secrets in filters would keep them in memory unencrypted which is an security issue. More so since the general assumption is that these parts of the memory do not contain sensitive data and thus might be freely leaked elsewhere.
However, I'm highly uncertain whether or not I remember

[2018-01-30 19:26] alikins commented on #30877
@ryansb I tend to agree with pushing this to 2.6,
Ignore the invasiveness of https://github.com/ansible/ansible/compare/devel...alikins:var_man_changed_inv_plugins , the other issue would that it is based
on tracking scope/context of vars as setup by a playbook.  ansible-inventory does
it own thing for building up the data structures it uses for dumping the output that
mostly bypasses VariableMana

[2018-01-30 19:47] sivel commented on #35435
I've assigned this for me to work on.  We are going to drop use of `LooseVersion` from the `hostname` module in favor of int casting and comparison, falling back to `UnimplementedStrategy`.

[2018-01-30 20:04] brainclots commented on #33993
Missing rights.

[bklotz ~]$ git clone -b terminal_prompt_issue git@github.com:
ganeshrn/ansible.git
Cloning into 'ansible'...
Warning: Permanently added 'github.com,192.30.255.113' (RSA) to the list of
known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

On Tue, Jan 30, 2018 at 10

[2018-01-30 20:14] gundalow commented on #33993
I believe the right syntax is:
`git clone -b terminal_prompt_issue https://github.com/ganeshrn/ansible.git`

[2018-01-30 20:26] mikewiebe opened #35517 "nxos_vlan fails configuring vlans using transport cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS
NXOS: version 7.0(3)I7(2)

##### SUMMARY
Applying a playbook to configure vlans on nxos fails and generates a traceback for transport cli.  The same playbook succeeds for transport nxapi.

##### STEPS TO REPRODUCE
Playbook from targets/nxos_l2_interface/te

[2018-01-30 20:29] teamextension commented on #20492
I was getting the error and running "pip install docker-py" fixed it, just as the error message said. Ansible 2.4.2.0.

[2018-01-30 20:29] IPvSean commented on #34754
I agree.  It sounds like from meeting with Peter that DI will move to being separated from configuration based on feedback from the community.

[2018-01-30 20:52] samdoran commented on #32936
@lufik

You're correct. As you pointed out, using `group_vars` makes more sense and is the way to handle this.

See [this comment](https://github.com/ansible/ansible/issues/33177#issuecomment-356976272) for further details on how variables are handled with `import_playbook`. We also recently [added documentation](https://github.com/ansible/ansible/pull/35199/files) to explain this further.

[2018-01-30 21:11] acozine opened #35520 "Make docsite documentation headers consistent"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docsite

##### ANSIBLE VERSION
[code]

##### SUMMARY
Headers in the current documentation are inconsistent - some use overline, some don't; they use different characters (#### or ****** or =======) to mark headers. It's easier to edit existing documentation or add new documentation if we follow a consistent standard.

Proposed standard

[2018-01-30 21:12] #31779 closed, assigned to s-hertel

[2018-01-30 21:14] kashline opened #35521 "Ansible vault will clear text sensitive data with ansible-inventory's 'Cannot json serialize' error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORCE_HANDLERS(/Users/kevin.ashline/code/DevOps/ansible/ansible.cfg) = True
DEFAULT_STDOUT_CALLBACK(/Users/kevin.ashline/code/DevOps/ansible/ansible.cfg) = debug
HOST_KEY_CHECKING(/Users/kevin.ashline/code/DevOps/ansible/ansible.cfg) = False
RETRY_FILES_SAVE_PATH(/U

[2018-01-30 21:21] brainclots commented on #33993
Thank you, John. New errors below:

2018-01-30 13:19:37,202 paramiko.transport Authentication (password)
successful!
2018-01-30 13:19:37,213 paramiko.transport [chan 0] Max packet in: 32768
bytes
2018-01-30 13:19:37,220 paramiko.transport [chan 0] Max packet out: 4096
bytes
2018-01-30 13:19:37,220 paramiko.transport Secsh channel 0 opened.
2018-01-30 13:19:37,227 paramiko.transport [chan 0] Sesch

[2018-01-30 21:27] #35435 closed, assigned to sivel

[2018-01-30 21:28] sivel commented on #35435
A fix for this issue has been merged to devel for the upcoming 2.5 release.

[2018-01-30 21:46] sivel commented on #35521
Duplicate of https://github.com/ansible/ansible/issues/31141

[2018-01-30 21:46] #35521 closed, assigned to nobody

[2018-01-30 21:48] sivel commented on #35511
Duplicate of https://github.com/ansible/ansible/issues/33831

[2018-01-30 21:48] #35511 closed, assigned to nobody

[2018-01-30 22:10] roumano commented on #16437
Other senario usefull if it's implemented :
* a way do get deeper information when something is failing
* a use case :
a handler failed to start a service, like here :
https://travis-ci.org/sensu/sensu-ansible/jobs/335187092
[code]
i would like to run command :
[code]

[2018-01-30 22:28] #35468 closed, assigned to nobody

[2018-01-30 22:41] maxamillion commented on #35231
@L-B You are correct that it does a stop and a start, this is largely because of the inconsistency in service definitions and how different init systems across different operating systems or distros handle that particular action. There are some attempts in the code to provide restart on systems where that action is know to be enforced by the init system and we can rely on the fact that passing tha

[2018-01-30 23:03] #29309 closed, assigned to nobody

[2018-01-30 23:20] jmcgill298 opened #35523 "ios_config does not treat text files and template files differently"
##### ISSUE TYPE

 - Feature Request

(changed by Gundalow)

##### COMPONENT NAME

ios_config, presumably several other modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using `src` treats the file as jinja template, thus restricting the sequence of characters allowed in the file to sequences not reserved by jinja (ie, `{{ text }}` is treated as a

[2018-01-30 23:30] resmo commented on #35496
/cc @felixfontein

@byrneo the letsencrypt module has significantly been changed in upcoming ansible version 2.5. Do you have any chance to test it with 2.5?

[2018-01-30 23:56] harrytruman opened #35525 "Network facts incompatible with Ansible facts in some networking modules"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

ios_facts, iosxr_facts, nxos_facts, eos_facts, etc...
##### ANSIBLE VERSION

Ansible 2.2+ (*os_modules release).
For clarity, this is a problem only with specific core network fact collection modules.

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I’m seeing a substantial difference between both job output and log co

[2018-01-31 00:08] bobsaintcool commented on #35435
I can confirm that the fix work properly, thank you very much!

[2018-01-31 01:02] brunocalogero commented on #35340
@cldeluna Hello, little question for ya, on the simple GUI, when deploying Static EPGs on PC, VPC or interfaces, and when you need to enter the "path type", you mentioned that "fex" is an option, However I do not see this option on the GUI, is this related to something else? probably I'm running an older version for the Fabric? thanks for feedback, PR should be up soon and will reference it here

[2018-01-31 01:44] jforman commented on #18721
@afh The need to hotpatch my local checkout of Ansible is not a solution I'm willing to accept. I'm hoping @bcoca can provide some insight here into what it would take to get this into more recent (and future) ansible versions.

[2018-01-31 02:22] naisanza commented on #29424
This is happening for me as well.

[code]

Ends up with an empty newline in place of the markers

[2018-01-31 04:43] itewk commented on #7019
@jimi-c can you see everyone's above comments? I just ran into this myself and its a major pain in the butt. The scenario is creating a playbook to do an operating system level package update including system reboot on a group of hosts one at a time so that the entire cluster is not down at one time. But if one host in the cluster has an issue, then the entire rolling update is aborted, but i just

[2018-01-31 05:05] Akasurde commented on #35491
resolved_by_pr #35531

[2018-01-31 05:05] Akasurde commented on #35491
@umrikar Could you please try with above patch and let me know if it works for you?

[2018-01-31 05:05] Akasurde commented on #35491
needs_info

[2018-01-31 05:21] #35404 closed, assigned to trishnaguha

[2018-01-31 05:48] trishnaguha commented on #35488
@thomngo `ansible_connection` should be `local` not `ssh` https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.html#playbook-issues

ansible version `2.5` onwards, ansible_connection should be `network_cli`. `local` is going to be deprecated.
As part of the 2.5 docs work we will be linking back from the individual modules to some overview pages which covers info about ansible_connect

[2018-01-31 05:48] #35488 closed, assigned to trishnaguha

[2018-01-31 06:34] qduxiaoliang opened #35532 "couldn't disable paramiko.transport verbose log in ansible log"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

log

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[root@sun kvm]# ansible-config dump --only-changed
DEFAULT_FORCE_HANDLERS(/test/ansible.cfg) = False
DEFAULT_GATHERING(/test/ansible.cfg) = explicit
DEFAULT_LOG_PATH(/test/ansible.cfg) = /test/log.txt
DEFAULT_REMOTE_USER(/test/ansible.cfg) = root
DEFAULT_TIMEOUT(/test/ansible.cfg) = 30
H

[2018-01-31 06:42] felixfontein commented on #35496
The problem is that as opposed to the OpenSSL binary, the `openssl_privatekey` module encloses the private key in `-----BEGIN PRIVATE KEY-----`, but not in `-----BEGIN RSA PRIVATE KEY-----`. The key type detection code relied on this header.

[2018-01-31 06:48] ganeshrn commented on #33993
Now with the patch, `\r` is not executed on the remote host to get the current prompt which is indicated by the error `unable to elevate privilege to enable mode, at prompt [None]`.

This error suggests there might be an issue with `become_pass` not provided correctly, to identify the root cause please rerun with debug branch in new terminal
[code]
After running grep for `_connect become_pass` in

[2018-01-31 07:01] afh commented on #18721
@jforman You are right, a hotfix is unacceptable and I find that having the changes in one of the next releases is important. For me the hotfix meant being able to finish writing my orchestration, tough :)

[2018-01-31 07:12] resmo commented on #35496
@felixfontein So you are saying this issue is only in <= 2.4 and is fixed with 2.5. right?

[2018-01-31 07:13] yuwzho commented on #35235
I will take a look.

[2018-01-31 07:24] #35496 closed, assigned to nobody

[2018-01-31 07:25] felixfontein commented on #35496
No, it was never there in <= 2.4, but only appears in 2.5 devel. Since #35534 is merged, it is gone and doesn't happen in any released version.

[2018-01-31 07:53] transferkraM commented on #35217
Confirmed with current devel. Thanks!

[2018-01-31 07:57] ilseokoh opened #35536 "azure_rm_deployment can't send int type parameter to ARM template"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/azure/azure_rm_deployment.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no result

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
I want to put the 'int' type parameter value from playbook to arm template parameter.
But there is an error

[code]

##### STEPS TO REPRODUCE
command line:
[code]

playbook tas

[2018-01-31 08:51] Borrelworst commented on #30597
I do use the standard ansible.cfg (no changes at all) and still encounter this error:
[DEPRECATION WARNING]: default callback, does not support setting 'options', it will work for now,  but this will be required in the future and should be updated,  see the 2.4 porting guide for details..

I do not set any options, this error is there since upgrading to 2.4.2.0. Even when placing the rpmnew config

[2018-01-31 09:01] Akasurde commented on #30327
Closing this issue as there is no activity from user. If issue persists, please feel free to re-open.

[2018-01-31 09:01] #30327 closed, assigned to nobody

[2018-01-31 09:31] cesarjorgemartinez opened #35537 "Add option to unarchive module to be quietly"
##### ISSUE TYPE
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/unarchive_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add option to unarchive module to be quietly (as unzip -qq does) when use zip file with a large number of files. Example adding quiet: yes

##### STEPS TO REPRODU

[2018-01-31 09:40] jctanner commented on #22469
bot_status

[2018-01-31 09:48] MarkusTeufelberger commented on #22469
bot_broken

[2018-01-31 09:49] L-B commented on #35231
Sure, see below.
Would it be easier to keep the default as is, and add a flag to the module to use a real restart, up to the user to do that if they want? Okay, I do understand that it'd add some confusion ("restart" vs "restart, but really so"). Now at least the obvious workaround I'm using is to use `command` to run `service`, but that pops up that annoying warning about not using the right modu

[2018-01-31 10:16] Akasurde commented on #28250
@jmcginn13 Could you please re-try with latest change in vmware_guest.py ? We have improvised the way of finding VM ?

needs_info

[2018-01-31 11:17] gbus commented on #24644
The limitation observed in ansible 2.3 and that is reported in this issue is also affecting version 2.4.
`ansible/module_utils/facts/hardware/linux.py line 432`

[2018-01-31 11:22] bhismnarayan opened #35539 "issue with azure_rm_deployment module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_deployment
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY
When I try run playbook to create resource using arm template I get below error.
fatal: [localhost]: FAILED! => {"changed": false, "failed_deployment_operations": [], "msg": "Deployment failed with status

[2018-01-31 11:26] kairoaraujo commented on #35489
Hi @sadanand25,

Can you tell me with become-method are you using?
Are you trying to generate a mksysb with sadanand user? mksysb is allowed only by root by default.

[code]

[2018-01-31 11:29] gundalow commented on #35497
Changing configuration before & after running apt could be dangerious. What is someone else run's something that triggers `needsrestart` during a long apt job?

Looks like needsrestart supports environment variable `NEEDRESTART_MODE` in 3.0 https://github.com/liske/needrestart/blob/master/ChangeLog

https://github.com/liske/needrestart/blob/7268dcc3c7d3ed36bf034386c282586d0be4be2c/man/needrestart.

[2018-01-31 11:38] kairoaraujo commented on #35489
needs_info

[2018-01-31 11:42] muhahacz commented on #24887
Same problem. +1

[2018-01-31 11:54] Akasurde commented on #24887
@muhahacz Could you please try #33230 And let me know ?

[2018-01-31 11:55] gbataille commented on #33137
+1

I have had a major production release today as
* The dynamic inventory fails (timeout to the ec2 service)
* Ansible only reports an "unparsable" inventory files and continues with an empty host list, therefore does nothing
* Because it does not end in error, my CD just continues with deploying downstream apps

--> this created a lot of compatibility issues

[2018-01-31 12:11] philfry opened #35542 "running handlers with include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
handlers in roles that have been loaded using `include_role` are not executed when used in the "conventional" way. Using `listen` works, though.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-01-31 12:45] dagwieers opened #35544 "aci_aaa_user: Setting user password is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_aaa_user

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Due to an inconsistency in the APIC REST API, a task that sets the password of a locally-authenticated user is not idempotent. The APIC will complain with message `Password history check: user dag should not use previous 5 passwords`.

[code]

[code]

This seems to be a bug in the APIC as a

[2018-01-31 12:50] xcambar commented on #18907
Closing for lack of answer.

close_me

[2018-01-31 12:57] #18907 closed, assigned to nobody

[2018-01-31 13:03] #35349 closed, assigned to ganeshrn

[2018-01-31 13:10] maxgorovenko commented on #12706
Got just installed Fedora 26. Run there task
[code]
Always get
[code]

[2018-01-31 13:13] byrneo commented on #35496
Thanks a lot - that appears to have fixed it.

[2018-01-31 13:20] jean-christophe-manciot commented on #26224
With:
[code]
paramiko 2.4.0
./hosts: XEv_Spine_31
/etc/hosts: 172.21.85.131 XEv_Spine_31.actionmystique.net XEv_Spine_31

I can manually SSH into the target:
[code]
But I cannot run the same simple playbook as before (pull_configs.yml):
[code]

However, we note that the 'Bad address' issue is not listed (yet?).
The symptom is different: I was not given the opportunity to answer 'yes' to the usual

[2018-01-31 13:27] kyliel commented on #26755
Since #32882 merged and covered multiple NIC, can we close this one? @yuwzho

[2018-01-31 13:28] kyliel commented on #23765
@zikalino , can you take a look? Thanks.

[2018-01-31 13:35] rnsc commented on #29410
+1

[2018-01-31 13:37] trishnaguha commented on #35517
@mikewiebe Thanks for the bug report. I think I know what is happening.
Will you be able to share `show vlan | json` response? It would be easier to debug.

[2018-01-31 13:38] zikalino commented on #23765
@kyliel ok, will take care of this tomorrow morning

[2018-01-31 13:44] yuwzho commented on #26755
@kyliel no, #32882 is NIC with multiple ip configuration, this is about vm with multiple NIC.

[2018-01-31 13:52] henti commented on #35497
Thanks @gundalow

That's indeed a much more sane way of doing it. I should have looked at something like that before logging a bug.

Apologies.

H

[2018-01-31 13:53] newswangerd opened #35549 "vyos modules failing to cache device information correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vyos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The device capabilities are supposed to be loaded once and then saved as `module._vyos_capabilities`, but that variable is not saved between module calls.

https://github.com/ansible/ansible/blob/984edacd2adaf4c3dc53da1821011e8726815ee7/lib/an

[2018-01-31 13:54] newswangerd commented on #35549
It's likely that there are similar issues with other network modules. I will take a look at some of the other ones soon.

[2018-01-31 14:12] Akasurde commented on #35295
@Mixer9 I have addressed some of the issue mentioned above. Could you please take a look and let me know if it sound ok to you?

[2018-01-31 14:15] gundalow commented on #35549
Update from Peter:
* It's by design that this is per task
* This my change in the future

therefore a correct observation, but not a bug

[2018-01-31 14:15] #35549 closed, assigned to nobody

[2018-01-31 14:19] mikewiebe commented on #35517
@trishnaguha Thanks.  Here you go.
[code]

[2018-01-31 14:21] abenokraitis commented on #35457
Backports to n-1 releases follow the [Red Hat Ansible Engine roadmap](https://access.redhat.com/support/policy/updates/ansible-engine). If there is a Red Hat customer with business justification we can review that via a Red Hat Support case.

[2018-01-31 14:22] pilou- commented on #29541
@duck-rh this one seems fixed by 9001a8794f19053f52a807cb59ced87357873e9e, could you check with test-case ?

[2018-01-31 14:23] jean-christophe-manciot opened #35550 "OpenSSL.crypto.Error: [('X509 V3 routines', 'v2i_GENERAL_NAME_ex', 'missing value'), ('X509 V3 routines', 'X509V3_EXT_nconf', 'error in extension')]"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssl_csr

##### ANSIBLE VERSION

Latest unstable version:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.10 4.13
- paramiko: 2.4.0

##### SUMMARY

Exception running openssl_csr.
The output makes it hard to comprehend the error & debug it.
The error messages seem to indicate a 'missing value' regarding "subjectAltNa

[2018-01-31 14:23] gundalow commented on #35204
This isn't as simple as it might seem, for example it's sometime
[code]
Plus in some cases it's `no` plus a shorter version of the string.

Not something we can fix

[2018-01-31 14:23] #35204 closed, assigned to nobody

[2018-01-31 14:23] #35409 closed, assigned to nobody

[2018-01-31 14:28] gundalow commented on #35443
PR merged @ganeshrn said this is now working, so closing

[2018-01-31 14:28] #35443 closed, assigned to ganeshrn

[2018-01-31 14:29] #19615 closed, assigned to Qalthos, rcarrillocruz

[2018-01-31 14:31] gundalow commented on #35348
Could you please test on the `devel` branch and report back?
needs_info

[2018-01-31 14:33] gundalow commented on #35525
Hi,
1) which version of Ansible are you using
2) Can you reproduce this outside of Ansible Tower?
3) Can you please provide a simple playbook that shows the issue
4) if possible could you please test on `devel` (2.5)

needs_info

[2018-01-31 14:37] hexsel commented on #27960
I agree with FirassKoubaa, the problem here is that, for instance, we use the stop task to stop a test container, then we upgrade the database to a newer version (to test backwards-compatibility), then we start the container and run some tests.  I could query the existing version, store it in a var, then start a new container with the old version, but it's a lot of working around.

Instead, we jus

[2018-01-31 14:39] gundalow commented on #35494
Implementation note: config mode is currently blocked in `_command`. It should only be blocked in checkmode

[2018-01-31 14:43] FirassKoubaa commented on #27960
@hexsel  yeah did it too , but looking for more automative manner from ansible

[2018-01-31 14:48] gundalow commented on #35523
I've changed this to a feature request. We are past the point for feature updates to the supported `*_config` modules, so no change.

You may be able to work around this by pre-escaping the text

[2018-01-31 14:48] gundalow commented on #35523
I've changed this to a feature request. We are past the point for feature updates to the supported `*_config` modules, so no change.

You may be able to work around this by pre-escaping the text

[2018-01-31 14:53] michalmedvecky opened #35552 "mysql_user needs extra privileges to grant privs"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

modules/database/mysql/mysql_user.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

ubuntu16.04 + pip

##### SUMMARY

When trying to set up `privs` using `login_user`, this user needs unnecessary privileges:

a) it has to be root (or other kind of super privileges)
b) it needs SELECT privs on `mysql.*` (what we consider dangerous from t

[2018-01-31 14:53] Akasurde commented on #29852
This feature is already available.

In order to clone existing VM into a template use playbook similar to -

[code]

[2018-01-31 14:53] #29852 closed, assigned to nobody

[2018-01-31 14:55] Akasurde commented on #28498
resolved_by_pr #31669

[2018-01-31 14:59] wknapik commented on #35446
Oh wow. I searched for this for quite a while and couldn't find it - not in the docs, not on google, not on irc...

Yes, ansible_shell_executable seems to be what I was looking for.

Why the inconsistent naming though ?

Also, could info about ansible_shell_executable be added here https://docs.ansible.com/ansible/latest/shell_module.html ?

Thanks!

[2018-01-31 15:09] jmcgill298 commented on #35523
@gundalow what does this mean?
[code]

It sounds like, "I made this a feature request, we will never make any changes to the behavior, please close the request"

[2018-01-31 15:17] Spredzy commented on #35550
Hello @jean-christophe-manciot thanks for the report.

The issue relies on the definition of the `subject_alt_name`.

Currently you have: `subject_alt_name: xev_spine_31.actionmystique.net`
It should be: `subject_alt_name: DNS:xev_spine_31.actionmystique.net`

It doesn't have to be a DNS name, hence the need for one to specify the type. More here https://en.wikipedia.org/wiki/Subject_Alternative_N

[2018-01-31 15:37] Qalthos commented on #26224
Okay, that is exactly what I was hoping to see! So, a little context here:

This (despite the changing error messages) is the *exact same* issue as it was when this issue was opened. The good part is, now we can get real error messages out of the connection process that tell us what's going on, instead of weird inscrutable errors like `Bad address`.

Normally, the workaround for this issue is manu

[2018-01-31 15:37] #26224 closed, assigned to Qalthos, gundalow

[2018-01-31 15:40] legit-ninja opened #35554 "Index error thrown when more than 6 interfaces are assigned to a vlan"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY

When more than 6 interfaces are specified for a vlan the following error is thrown
[code]

##### STEPS TO REPRODUCE
Add a 7th interface to a vlan

[code]

##### EXPECTED RESULTS
Any number of interfaces should be allowed, not only 6.  E

[2018-01-31 15:44] tristanbes commented on #33947
the information has been kindly provided by @ryanerwin

[2018-01-31 15:46] StalkAlex commented on #30504
I still can't verify it again, since it's open several months already and nobody confirmed it, I think issue could be closed.

[2018-01-31 15:53] snevs commented on #31897
@jborean93 I'll try a newer release.
The reason why we're still using 2.1 is that this version has the smallest amount of discovered CVEs against.

[2018-01-31 15:53] #31897 closed, assigned to nobody

[2018-01-31 15:54] #30504 closed, assigned to nobody

[2018-01-31 16:21] trishnaguha commented on #35517
@mikewiebe https://github.com/ansible/ansible/pull/35559 should fix the issue. Please test the PR out and let us know.

[2018-01-31 16:22] es1o commented on #27233
@tumbl3w33d I use sbt publish plugin. This plugin doesn't create maven_metadata.xml file when upload artifact to nexus.

[2018-01-31 16:25] Mixer9 commented on #35295
@Akasurde I'm new to github and I guess I don't know where to look for these changes.

[2018-01-31 16:33] allo- commented on #30797
I worked around the problem when I opened the issue, as debian still has 2.2.

Did you try the steps to reproduce with the current release and it works in 2.4?

[2018-01-31 16:35] Akasurde commented on #35295
@Mixer9 You can check them here - https://github.com/ansible/ansible/pull/35548/files

[2018-01-31 16:36] torgiren commented on #34782
look like it's fixed

[2018-01-31 16:36] #34782 closed, assigned to nobody

[2018-01-31 16:41] abergmeier opened #35562 "Ansible tries to create a remote directory for a local user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible_playbook

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.3

##### SUMMARY
When trying to run playbook remotely, it tries to create directory for a local user

##### STEPS TO REPRODUCE
I try to run the following

    abergmei@machine:ansible-playbook -u pi -vvv -i hosts/raspberry dashboard.yml -K -b -k

which fails with

[2018-01-31 16:41] pilou- commented on #35509
Could you append the commit adding test here instead of creating another PR ?

[2018-01-31 16:42] timwhitlock commented on #25068
The `StrictHostKeyChecking` workaround works for me

[2018-01-31 17:10] abergmeier commented on #35562
Happened because I ran the playbook locally. The error message is a bit confusing.

[2018-01-31 17:10] #35562 closed, assigned to nobody

[2018-01-31 17:20] mattclay commented on #35509
@lchantre There's no need to open an issue for a feature or bug if you're planning on submitting a PR for the same shortly thereafter. You can just include any relevant details in the PR itself.

[2018-01-31 17:31] cnf opened #35566 "ssh_executable no longer accepts command with arguments"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh configuration

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS 10.13

##### SUMMARY

I have `ssh_executable = '/usr/local/bin/assh wrapper ssh'` set, because I use assh to route my ssh traffic. Since a recent ansible upgrade, this stopped working.

##### STEPS TO REPRODUCE

  * install assh (https://g

[2018-01-31 17:32] legit-ninja opened #35567 "eos_vlan: Interfaces assigned to vlan do not show up if port is not live"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_vlan
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If a cable is not plugged into an interface on the switch, when attempting to assign the interface to vlan, the interface will not show up as an assigned interface on the vlan.

##### STEPS TO REPRODUCE

Ensure that nothing is connected

[2018-01-31 17:33] jsumners commented on #30933
Sorry. I do not have the time to patch together an Ansible binary with PRs to test things. Please just use the information provided and a unit test to verify functionality.

[2018-01-31 17:39] felixfontein commented on #35496
Thanks a lot for testing and finding this! It's good that we got this fixed before module freeze...

[2018-01-31 17:46] sivel commented on #35566
This is ultimately down to the Popen call, where we are calling the command like:

[code]

It tries to treat `/usr/local/bin/assh wrapper ssh` as a single file.  I'm not sure splitting on spaces would be safe, as that means you cannot have spaces in your path to the ssh executable.

I'm not exactly sure what would have caused it to work in prior versions.

[2018-01-31 17:47] BenCoffeed commented on #28050
I'm digging into this this week. I was tinkering with [jhaals/ansiblevault](https://github.com/jhaals/ansible-vault). I'll retry with this, though.

[2018-01-31 17:51] przemolb commented on #25967
Hello, I don't have access to vmware any more and I am not able to test it. I am sorry for it.

[2018-01-31 17:59] Vladimir-csp commented on #26941
I can not reproduce it anymore myself. Closing.

[2018-01-31 17:59] #26941 closed, assigned to nobody

[2018-01-31 18:16] bartmeuris commented on #35566
I assisted @cnf when he encountered the issue, and came to the same conclusion.

Best fix in my opinion would be to use the `ssh_args`, but then Ansible will have to be patched to always take the custom `ssh_args` arguments first before appending any other parameters (like `-vvv`)

[2018-01-31 18:57] andrunah commented on #26190
Any news when this is planned to be implemented in ansible?
We have lots of passwords as vaulted variables, hence updating\viewing them is troublesome.
I did some script to at least parse such yml and decrypt every variable to stdout\file, but this is just a script that is not a complete solution (and it is decrypting only).
It would be nice to have this functionality in ansible out of the box.

[2018-01-31 19:22] mcandre opened #35574 "Support Windows control machines"
As the Ansible documentation describes, Ansible does not currently support Windows control machines.

http://docs.ansible.com/ansible/latest/intro_installation.html

Ansible advertises as configuring devices over SSH, and Windows has an SSH client. Ansible leverages Python 2/3, and Windows has well supported Python 2, 3 interpreters, so I am curious what bits of the Ansible control machine code ar

[2018-01-31 19:29] mcandre opened #35575 "Update documentation regarding Windows control machines, using the Linux subsystem"
Does anyone have success using the Windows Linux subsystem, AKA bash on Ubuntu on Windows, as a control machine? If so, could we update the Ansible documentation to let users know how to leverage the Linux subsystem in order to setup an Ansible control machine in a Windows environment?

http://docs.ansible.com/ansible/latest/intro_installation.html

Same goes for cygwin-like environments (cygwin,

[2018-01-31 19:29] pmkuny commented on #30933
I will try and build the devel branch tonight to test.

[2018-01-31 19:40] mscherer commented on #35574
I think the easiest would be to try. I am myself not using windows, so I can't test, but I am willing to help on irc if someone do the test and return a traceback or something.

(alternatively, if I can get access to a windows 10 computer with rdp, I can take a look by myself)

[2018-01-31 20:03] tharun-allu opened #35576 "Hyphen in Cloudformation name causes error during retrieving values from result"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation_facts
debug
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

cannot retrieve values from stack_output which is resulted from cloudformation_facts module
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

vpc-xxxxxx
##### ACTUAL RESULTS

[code]

example cf_vars output

[code]
The `

[2018-01-31 20:14] #29490 closed, assigned to nobody

[2018-01-31 20:32] scottcunningham commented on #35502
Sorry folks, I've got a new job now and so no longer use AWS, Ansible or Credstash so don't think I can help much here.

[2018-01-31 20:33] gundalow commented on #35523
Hi, sure, I can explain. Reading back I wasn't clear

The `*_config` modules are working as design, the `src:` option is there to take a text file, therefore a feature request, not a bug.

You may be able to work around this my doing some pre-processing. Perhaps a a function or filter that would escape the data, then you can pass that file in.

The `*_config` modules are all under supported: core,

[2018-01-31 20:38] gundalow commented on #35497
@henti It's all good, glad that works.
Closing this ticket.

[2018-01-31 20:38] #35497 closed, assigned to nobody

[2018-01-31 20:39] sampablokuper commented on #22382
@sjmiller609 [wrote](https://github.com/ansible/ansible/issues/22382#issuecomment-350021163):

Possible improvements (`chmod 0400`, essentially):

[code]

[2018-01-31 20:43] mscherer commented on #35574
So I found a VM, and it seems that the python version on windows is missing fcntl, which is used for proper display among others.

[2018-01-31 20:49] rmsys opened #35580 "Format/filesystem option doesnt' works with volume ec2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Amazon Linux 4.9.38-16.33.amzn1.x86_64

##### SUMMARY
- I tried create + format/filesystem + mount a additional volume. I got create volume but the others steps doesnt' works

##### STEPS TO REPRODUCE

- Account AWS/permissions to launch new instance EC2

[

[2018-01-31 20:53] jborean93 commented on #35574
@mscherer I believe we just spoke on IRC so I'll continue it here :)

Unfortunately running Ansible on Windows is not a goal right now. While the main reason this isn't possible is because Ansible uses `fork()` which is not available on Windows there are probably numerous other reasons that we haven't come across yet. The easiest option for Windows users is to use [WSL](https://docs.microsoft.com/

[2018-01-31 20:53] #35574 closed, assigned to nobody

[2018-01-31 20:54] maxamillion commented on #35231
@L-B does the following `sudo service multipathd start` after attempting the `stop` give you a `0` exit status?

[2018-01-31 21:11] brunocalogero commented on #35340
solved in https://github.com/ansible/ansible/pull/35581 :)

[2018-01-31 21:34] dbpqdb commented on #27933
I've tested on 2.4.2.0 and confirmed the same issue exists.

@ohmer The workaround we're using in the meantime is as follows:

[code]

[2018-01-31 21:47] maxamillion commented on #35291
duplicate_of 30200

[2018-01-31 21:51] bittracker commented on #21562
Hi I've the same issue with the template module (verify command) it looks like the tmp folder is not readable by root (in my case) - i think setting the execution bit for the folder permissions can fix this issue...

[code]

My ansible Version:
[code]

[2018-01-31 21:55] #35291 closed, assigned to nobody

[2018-01-31 22:45] Daemoen commented on #35575
I have run ansible inside of WSL and had zero issues with it.  Treat it just like an ubuntu control server and you're up and running.

[2018-01-31 22:48] jborean93 commented on #35575
WSL is mostly fine maybe a bit slow but cygwin has lots of issues. You can get it working but it's bound to fail on something.

[2018-01-31 22:49] #35575 closed, assigned to nobody

[2018-01-31 23:24] BenCoffeed commented on #28050
I've tried again. Here are my steps for troubleshooting:
[code]

`ansible --version`
[code]

`python --version`
[code]

`pip --version`
[code]

`pip freeze`
[code]

[2018-01-31 23:32] jenglish commented on #34161
Hello Mr. Robot. As noted above, I am not set up to issue pull requests against this repository; the "Steps to Reproduce" listed in the initial submission should reproduce the problem on any RHEL or CentOS system that uses gconf (problem manifested on CentOS 6 for me), and the above patch fixes the problem for me. That is all I have.

[2018-01-31 23:38] shankerrhce commented on #30951
I will recheck and get back to you

[2018-01-31 23:48] Mixer9 commented on #35295
Yes @Akasurde I think that looks pretty good. I will endeavor to open up
documentation updates more often to help the community and Ansible are
large.

Mixer 9

On Jan 31, 2018 10:35 AM, "Abhijeet Kasurde" <notifications@github.com>
wrote:

[2018-02-01 00:13] nergdron opened #35585 "ansible v2.4 destructively rebuilds elasticache every time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elasticache

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 17.10

##### SUMMARY
the elasticache module now thinks there's always changes to our redis deploy, when there are no changes to be made. worse, it says the changes always require "hard_modify = yes", so now every time our playbook runs it tears d

[2018-02-01 00:42] tharun-allu commented on #35576
this looks like a more general problem
the playbook
[code]

Error :
[code]

[2018-02-01 00:55] tharun-allu commented on #35576
This seems to work if triggered as follows
[code]

[2018-02-01 01:01] dagwieers commented on #35576
Correct, a dash is not valid in variable names, but are perfectly fine as a dictionary key.

You can also do:
[code]
We cannot fix this, it is inherent to how python/jinja2 works.

Either access it as a dictionary keyword, or rename them so it doesn't use dashes (or any other problematic  character or combination).

[2018-02-01 01:01] #35576 closed, assigned to nobody

[2018-02-01 04:43] asheplyakov commented on #16706
Just hit the same problem with 2.4.0

[2018-02-01 04:51] Akasurde commented on #34161
@jenglish Thanks for info.

[2018-02-01 05:02] strangeman commented on #35442
I have the same issue with fresh NSSM.
`NSSM Version 2.24 64-bit, 2014-08-31` works as expected, but `NSSM 2.24-101-g897c7ad 64-bit 2017-04-26` won't start when I set `state: started'.

[2018-02-01 06:45] pb60704 commented on #28978
This is mostly permission issue or syntax issue.

On Thu, Feb 1, 2018 at 2:41 AM, ansibot <notifications@github.com> wrote:

[2018-02-01 07:00] #35308 closed, assigned to nobody

[2018-02-01 07:29] Klaas- commented on #10472
I came across this problem today aswell, I don't think making the reboot task async is necessary (I like to use --check so I wanted to avoid async)

I just run this within a playbook to update my systems using yum

[code]

shutdown will exit 0 and it won't kill the shell immediately because of the +1 (shutdown in one minute) so ansible doesn't error. The wait for connection may need a little more

[2018-02-01 08:05] LynnChen1989 commented on #22633
@sivel  it's nice

[2018-02-01 08:06] ilseokoh opened #35591 "errors when I turn on/off Azure VMs made by managed image with azure_rm_virtualmachine module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

azure_rm_virtualmachine.py --> version 2.1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no result

##### OS / ENVIRONMENT
Linux version 4.13.0-1007-azure (buildd@lgw01-amd64-001) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5)) #9-Ubuntu SMP Thu Jan 25 10:47:32

[2018-02-01 08:22] hilli commented on #4620
[code]

[2018-02-01 08:36] kaoet commented on #1663
I don't want this behaviour. Please give me a flag to disable it!

[2018-02-01 08:53] jameslcd commented on #31627
Hi guys! I would just like to ask if you've already solved this problem? I am also currently using custom fields in Jira and I am now facing the "HTTP Error 400: Bad request". If you've already solve this can you please enlighten me? Thank you very much!

[2018-02-01 09:02] heikkis opened #35594 "Feature: All optional arguments should except common default value (eg. empty or -1 etc.)"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
group
user
ALL (almost)

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
All users need all the time to support optional parameteres when using modules. Eg for group module for gid the "" or 0 etc. are not suitable values:

- group:
    gid: '{{ user.gid | default("") }}'
    ...

- user:
   uid: '{

[2018-02-01 09:03] strk opened #35595 "s3 modules fail to use localstack"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
s3_* modules

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 17.10

##### SUMMARY

Trying to use `s3` or `s3_bucket3 against https://localstack.cloud/ fails by assuming the `s3_url` (tipically `http://localhost:4572`) is a Walrus URL and trying to connect to port 8773 and assuming `localhost:4572` is a whole hostname.

##### STEP

[2018-02-01 09:03] kvaps commented on #4620
Yes, for now I uses this trick:

[code]

This is working, but ugly,  why I can't use same syntax that ansible provide in inventory file?

[2018-02-01 09:12] zx1986 commented on #5564
I always got `'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'stdout'` with

[code]

Then, I try to use @superawesome 's `- debug: msg="{{ domains.results | map(attribute='stdout') | list }}"`, it works perfect!

Thanks man, you save my day!

[2018-02-01 09:16] strk commented on #35595
It may need boto3 to be able to specify an endpoint_url:
https://stackoverflow.com/questions/32618216/overwrite-s3-endpoint-using-boto3-configuration-file

[2018-02-01 09:20] thorus90 opened #35597 "vmware_guest: disk size gets not increased"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running ansible on arch, managing a vcenter on version 5.5

##### SUMMARY

The Disksize gets not increased after changing the values.

EDIT: same happens when trying to add additional disks

##### STEPS TO REPRODUCE

1. Create playbook to deploy vm from a t

[2018-02-01 09:21] L-B commented on #35231
Yes, it does. I thought I had put that in, sorry, it's a little more complicated than it could be on my side.

[2018-02-01 09:43] Akasurde commented on #35597
@thorus90 Thanks for reporting this issue. Could you please retry second try with `state` as `present` ? as you can see reconfiguration is only triggered when second and subsequent tries are done with state as present = [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1843-L1851).

[2018-02-01 09:53] aioue commented on #19802
@s-hertel re:ansibot I'm not in a position to be able to test this again at present.

[2018-02-01 09:58] heikkis commented on #35594
http://docs.ansible.com/ansible/latest/playbooks_filters.html#omitting-parameters
Using default(omit) value. Eg.

- name: touch files with an optional mode
  file: dest={{item.path}} state=touch mode={{item.mode|default(omit)}}
  with_items:
    - path: /tmp/foo
    - path: /tmp/bar
    - path: /tmp/baz
      mode: "0444"

[2018-02-01 09:58] #35594 closed, assigned to nobody

[2018-02-01 10:03] ghost opened #35599 "openssl_certificate module doesn't set Issuer correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
openssl_certificate
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(./ansible.cfg) = True
ANSIBLE_SSH_ARGS(./ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -F ssh_config
ANSIBLE_SSH_CONTROL_PATH(./ansible.cfg) = %(directory)s/ansible-ssh-%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(./ansible.cfg) = ~/.ansible/cp
DE

[2018-02-01 10:29] hryamzik commented on #35442
It also always marks task as changed.

[2018-02-01 11:23] vinpk commented on #25916
This issue still persists in Version 2.4.2.0 as well.

[code]

[2018-02-01 11:26] gundalow commented on #29592
Sounds like this is fixed, so closing

[2018-02-01 11:26] #29592 closed, assigned to nobody

[2018-02-01 11:32] willthames commented on #32486
@xmj do you have a simple test case?

I tried to reproduce this with the following steps:

1. Create a vault.pass file in the local directory
2. `ansible-vault encrypt_string  -n secret --vault-password-file vault.pass sekr1t`
3. Run a playbook that prints out that variable using --vault-password-file vault.pass
4. Create a different vault password file with a different password, and add that to a

[2018-02-01 11:41] pb60704 opened #35603 "create rds not working due to engine version, instance type mismatch"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`rds.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-01 11:53] yuwzho commented on #34913
@kyliel Can you have a try?

[2018-02-01 12:07] spidernik84 opened #35605 "ACI Modules single call to the API instead of one per item"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
aci_* (all modules related to Cisco ACI)

##### ANSIBLE VERSION

[code]

##### SUMMARY

The ACI modules expect a list of dictionaries and iterate through each item of the list. Each item pass triggers an API call to the APIC, causing significant delay (authenticate, run call, close session, repeat). This proves particularly inefficient with f

[2018-02-01 12:29] thorus90 commented on #35597
Thanks for the clarification. with the state as present, it is working as expected.

[2018-02-01 12:30] #35597 closed, assigned to nobody

[2018-02-01 12:33] mblarsen commented on #18952
Hi @Akasurde. First sorry for the late response. Second, I wasn't sure what I was supposed to test and with what version.

I tested with this version, let me know if that is not the latest:

[code]

A made a munch of tests that perhaps is best shown in this screenshot and with some notes below:

<img width="2032" alt="screen shot 2018-02-01 at 8 19 23 pm" src="https://user-images.githubusercontent

[2018-02-01 12:36] yuwzho commented on #35235
I cannot reproduce it issue, @liyaka, can you show your whole playbook?

[2018-02-01 12:40] Akasurde commented on #35597
@thorus90 Thanks for reporting.

[2018-02-01 12:48] tumbl3w33d commented on #27233
I am tempted to argue that's a wrong behavior of the plugin then. My personal reference for forming an opinion on this is the official maven binary as client and one of the usual repositories (Nexus, Artifactory) as server that provides maven-style repositories. For Nexus I can say, that there is the option to configure a task that rebuilds the metadata for you. Usually that's not necessary, becau

[2018-02-01 12:50] trishnaguha commented on #25916
@vinpk the module works for `show version` command on our lab hosts.
this looks like timeout issue. can you try the following in your ansible.cfg file?
[code]

[2018-02-01 13:00] es1o commented on #27233
@tumbl3w33d
Thank you for an explanation. I think this is a sbt plugin issue, not maven.
Unfortunately I can't rebuild metadata during deploy, but I wrote a simple service to determine which version are latest.

[2018-02-01 13:01] sampablokuper commented on #22382
Here's an alternative approach: https://therealmarv.com/ansible-vault-file-handling/

[2018-02-01 13:04] svenXY opened #35606 "Feature: Support --exclude for yum list as well"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 not relevant

##### OS / ENVIRONMENT
not relevant

##### SUMMARY
Support the usage of exclude for list commands as well.

While it is already supported for install etc. since 2.0, it is not yet supported for list commands although it would make perfect sense to me.

We want to use it to d

[2018-02-01 13:15] ramonamis opened #35607 "Add launch_type parameter for ecs_service module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ecs_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

By default, the ecs_service module is launching services with launch_type EC2. At the moment it is impossible to use launch_type: "FARGATE" in order to migrate to fargate.

For more details you can check: https://docs.aws.amazon.com/cl

[2018-02-01 13:16] Spredzy commented on #35599
Hi @Nitaco this issue has beem fixed in master 2 weeks ago https://github.com/ansible/ansible/commit/a2b00e9b5201f52355643b6f8c2967d798dd6d54#diff-9384bbfaf655caa2593f2cd241bac4c3

Could you retry with master and let us know if that fixes your issue ?

Thanks in advance

[2018-02-01 13:26] MarkusTeufelberger commented on #35599
See #34963

[2018-02-01 13:29] dagwieers commented on #35605
Well, this is not a problem we want to fix for the ACI modules, but one that we need to fix for Ansible itself. There have been discussions before: https://github.com/ansible/proposals/issues/71 and hopefully in one of the future releases modules can have the ability to iterate over config items *and* can configure a pure set of items, rather than adding to/removing from an existing pool.

In the

[2018-02-01 13:29] #35605 closed, assigned to nobody

[2018-02-01 13:29] Nitaco commented on #35599
Yes, you're. Didn't found this issue with the search function.. But it's not included in the Ansible 2.4.3 update :(

[2018-02-01 13:29] #35599 closed, assigned to nobody

[2018-02-01 13:45] ossark commented on #35274
I fail to see what the solution was, if any. I am having the same problem where the template module fails with the mentioned error message. The file does not exist previously so the error message makes sense but should. not make the module fail, that is if the file does not exist.

[2018-02-01 13:50] Akasurde commented on #35388
resolved_by_pr #35608

[2018-02-01 13:52] Akasurde commented on #35388
@cvanniekerk Could you please try with above module and let me know if it works for you ?

needs_info

[2018-02-01 14:15] #32061 closed, assigned to nobody

[2018-02-01 14:21] cmcornejocrespo commented on #22382
@sampablokuper not sure if what you mentioned aboved is what we're trying to achieve here.
The idea is described in the sumary. Ideally ansible should support encripted ssh private key usage to establish ssh connection to remote hosts.

[2018-02-01 14:23] ramonamis commented on #35607
likewise, an implementation has to be done for the ecs_taskdefinition to make the task compatible with fargate too

[2018-02-01 14:26] sampablokuper commented on #22382
@cmcornejocrespo , I've edited my comment to make clear that it is just a workaround, not a solution.

[2018-02-01 14:27] srinathkotu commented on #28050
just FYI.. below are my pre_tasks for the vault's pip dependencies:
`
    - name: Installing pip modules for using vault lookup
      pip: name={{item}}
        with_items:
          - hvac
          - hvac[parser]
`

[2018-02-01 14:32] cvanniekerk commented on #35388
@Akasurde Using this module I can create a new `vm` folder and remove an existing `vm` folder in my test setup. If the folder already exists, I get the following error message however:

`Failed to create folder as another object has same name in the same target folder : The name 'test' already exists.`

To be consistent with the other modules, I believe I should not be getting this error and the p

[2018-02-01 14:40] jean-christophe-manciot commented on #35550
@Spredzy
Thanks for your swift reply.
Yes, adding DNS: in front of the FQDN solves this issue.
Could you please detail all the allowed keywords for "subject_alt_name" and update the [doc](https://docs.ansible.com/ansible/2.4/openssl_csr_module.html) accordingly?

[2018-02-01 14:41] maxamillion commented on #35231
@L-B alright, I see what's going on ... basically the results of those two commands gets "merged" with the caveat that if the `stop` command fails but the `start` command exits `0` then it's considered a success. This is in order to satisfy the scenario where a playbook attempts to `restart` a service that's currently down and I'm not sure of a good way to heuristically detect which is which given

[2018-02-01 14:50] L-B opened #35611 "RFE: Add an option to automatically remove temporary"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

tempfile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `tempfile` module creates temporary files that can be easily forgotten or left dangling if a run was interrupted. It would be useful For Ansible to keep track of the created files and to have a `delete` option or similar (default

[2018-02-01 15:16] dagwieers commented on #35340
@nilloBE @cldeluna Can everyone interested in this functionality please test PR #35581, so we can offer the best implementation possible with Ansible v2.5 ? Thanks !

[2018-02-01 15:17] dagwieers commented on #35185
@nilloBE Can you verify and close this issue if validated ? Or if needed, suggest improvements to the documentation or implementation where needed.

[2018-02-01 15:18] dagwieers commented on #34587
So this is implemented in https://github.com/ansible/ansible/pull/35610, please test and share feedback so we can ship the best possible implementation with Ansible v2.5.

[2018-02-01 15:19] dagwieers commented on #34173
@schunduri And feedback on progress on this issue ?

[2018-02-01 15:26] geerlingguy opened #35612 "docker_image module TypeError: build() got an unexpected keyword argument 'stream'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_image` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04 Xenial

##### SUMMARY

In what is perhaps the simplest Docker image creation playbook I've ever made (the [docker example playbook from A4D](https://github.com/geerlingguy/ansible-for-devops/tree/master/docker)), automated build

[2018-02-01 15:28] joshmullis commented on #29749
Hi @akasurde I will check again in a couple days and report back.
Were any fixes put in place that would've resolved this?

[2018-02-01 15:29] rdepke opened #35613 "win_template fails with exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

[code]
Please not that we work with the current devel

##### CONFIGURATION

DEFAULT_HOST_LIST(/srv/ansible/ansible.cfg) = [u'/srv/ansible/inventories/local/hosts']
##### OS / ENVIRONMENT

Ansible runs in a vagrant box bento/ubuntu-16.04
I manage a Windows 10 1709
##### SUMMARY

I get an exception when I run

[2018-02-01 15:32] geerlingguy commented on #35612
FYI a build locking in `docker-py` version 2.7.0 passed (https://travis-ci.org/geerlingguy/ansible-for-devops/jobs/336149216), after three failed test builds with 3.0.0.

[2018-02-01 15:34] cayla commented on #30827
FYI for followers/googlers, this fix doesn't appear to be part of the just released ansible 2.4.3 either.  Still getting the same error.

[2018-02-01 15:41] BenCoffeed commented on #28050
🤦‍♂️  Duh. . .
Good news: I'm not getting the hvac not installed error.
Bad news: Python is hard-crashing, but that's another bug report and some more digging.

For others, here's my updated format:
[code]

[2018-02-01 15:55] BenCoffeed commented on #28050
Also, for those wondering about the unrelated crash, I forgot that in troubleshooting, I had uninstalled my python from homebrew and needed to re-export the `OBJC_DISABLE_INITIALIZE_FORK_SAFETY` variable.
See [issue #32499](https://github.com/ansible/ansible/issues/32499)
`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`

[2018-02-01 16:43] saichint opened #35615 "nxos_ospf_vrf issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_ospf_vrf
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are multiple issues with nxos_ospf_vrf module
1. Setting parameters to default is not working in most cases.
2. Most of the parameters are not idempotent
3. There are 6 parameters related to t

[2018-02-01 16:47] Akasurde commented on #35388
@cvanniekerk Ok. I am not entirely sure about this because this error message is actually caused by exception. But we can add this as `changed=False` without failure.

[2018-02-01 16:48] Akasurde commented on #35388
@jctanner @pdellaert @tchernomax Can you comment on this ?

[2018-02-01 16:49] Akasurde commented on #29749
@joshmullis Yes. A lot of changes went into module, so I suspect it will get resolved.

[2018-02-01 16:56] Akasurde commented on #28050
@BenCoffeed Does it solve you reported issue ?

[2018-02-01 17:15] dagwieers commented on #35304
I am thinking about using parameter `output_level: (none|default|info|debug)`

And using these dictionaries:
- `existing` --> absent/present/query *ALWAYS*  --  shows existing config after change
- `original` --> absent/present (on change) *INFO*  --  shows the original config before change
- `config` --> absent/present (on expected change) *INFO*
- `propose` --> absent/present (on expected change

[2018-02-01 17:43] spidernik84 commented on #35605
Thanks Dag, your approach makes sense. And thanks for the references :)

[2018-02-01 17:53] jhawkesworth commented on #35613
hmm, my guess is
[code]

is failing for environmental reason (too many open files?) and then the finally block hasn't got tempdir .

I think establishing the tempdir needs to be a separate block perhaps to handle this more cleanly

[2018-02-01 18:25] joaocc opened #35619 "Support for Azure Container Service (AKS flavour)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
support for Azure AKS: azure_rm_aks

##### SUMMARY
Ansible supports ACS which is the "older" Azure Container Services offering.
It would be useful to have support for the new Kubernetes-only service - AKS (https://docs.microsoft.com/en-us/azure/aks/)

Any plans to support this?

Thx

[2018-02-01 18:27] BenCoffeed commented on #28050
@Akasurde Yes.

[2018-02-01 18:27] #28050 closed, assigned to nobody

[2018-02-01 19:01] bogdanstoica35 commented on #27960
In the following section of my playbook:

[code]

Docker container is stopped corectly. As per **docker_container**'s documentation, **image:** is not mandatory to stop a running docker container.

If I do comment image, when the playbook is executed it returns the error bellow and the container is actually removed instead of just being stopped:
`FAILED! => {"changed": false, "msg": "Error creatin

[2018-02-01 19:03] rdepke commented on #35613
Environmental reasons might very well be the issue, because we copy a lot of files to **C:\tmp\** in our playbook.

[2018-02-01 19:10] jerrac commented on #35425
`inventory_dir` worked perfectly for my use case.

[2018-02-01 19:12] seanw7 opened #35622 "aireos_config fails to handle prompt when sending config command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aireos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host OS: Ubuntu 16.04.3 LTS

managing Cisco 2500 series wireless controller
Software Version | 8.3.133.0

##### SUMMARY

While attempting to send a config command: "config ap group-name {{NewGroupName}} {{AccessPointName}}", the module times out.

I belie

[2018-02-01 20:06] brainclots commented on #33993
https://gist.github.com/brainclots/e212e7fe91245c0fb0bd5c4dab06060a

Check out line 74. I note that it is looking for a prompt of "password:",
however the device prompt is actually "Password:". Could that be the issue?

Brian

On Tue, Jan 30, 2018 at 10:49 PM Ganesh Nalawade <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again?"

[2018-02-01 20:17] ssokolow commented on #29211
I've been trying to test this over the last week, but my ansible+vagrant test environment has been throwing up errors unrelated to this and I haven't had time to diagnose it.

I'll try to get you an answer before the 10 days are up.

[2018-02-01 20:21] ilseokoh commented on #35591
When I make my VM on Azure portal, this playbook works properly.
But VMs from managed image has this error.

[2018-02-01 20:23] newswangerd opened #35625 "Vyos interface throws a traceback in check mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vyos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run the following playbook with the --check flag.

[code]

##### EXPECTED RESULTS

Playbook should run without errors.

##### ACTUAL RESULTS

[code]

[2018-02-01 20:35] privateip commented on #35369
https://github.com/ansible/ansible/pull/35626

[2018-02-01 20:40] JeanFred commented on #35120
I can confirm this with ansible 2.4.3.0: I use Redis as a facts-cache backend, and running a playbook with `--flush-cache` results in
[code]

[2018-02-01 20:41] realged13 commented on #35369
@privateip I will try this out tomorrow and give you some more feedback.

[2018-02-01 20:54] jhawkesworth commented on #35613
Too many open files is not usually an issue on most distros these days, but worth having a look in syslog I think.

[2018-02-01 20:55] jhawkesworth commented on #35613
Too many open files is not usually an issue on most distros these days, but worth having a look in syslog I think.

[2018-02-01 21:45] #28721 closed, assigned to samdoran

[2018-02-01 22:38] jmighion commented on #35622
Try sending `\r` or `\n` in with the command if you need to pass yes/no prompts.

[2018-02-01 22:40] jmighion commented on #35622
If that doesnt work, try the suggestion here : https://github.com/ansible/ansible/issues/32989#issuecomment-346378943

[2018-02-01 22:40] xcorvis opened #35629 "pamd failing on documented example"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd module

##### ANSIBLE VERSION
[code]
I also noticed this on 2.4.2.0 and upgraded to 2.4.3.0 to try and resolve it.

##### CONFIGURATION
ANSIBLE_NOCOWS(/home/adam/code/ansible-mta/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/adam/code/ansible-mta/ansible.cfg) = True
CACHE_PLUGIN(/home/adam/code/ansible-mta/ansible.cfg) = memory
COMMAND_WARNI

[2018-02-01 22:59] gothiyag opened #35631 "Ansible URI module is removing character from the post data"
#### component name
URI

#### Description
There is a problem with SSH private_key direct posting. when i post it with ssh private key, it is removing "+" sign from the content. Am using ansible for this.

[code]

This is removing + sign which in the private key. also if you read the key from any variable, it is adding 'u[ private key]'
am i doing anything wrong ?

[2018-02-01 23:53] pb60704 commented on #35603
The script works fine with default values, but I have a requirement to create MSSQL, Oracle,MYSQL databases with different instance types, license types. The script fails with custom settings for database versions.

[2018-02-02 00:10] #31049 closed, assigned to alikins

[2018-02-02 01:03] unenglishable commented on #31779
🙌

[2018-02-02 01:07] seanw7 commented on #35622
Thanks for the quick response. Gave both of those methods a test, \r and \n give the same timeout error. also tested double slashes before n  and r, and it ran through without giving an error but didn't actually change the access point group. The suggestion 32989 gives me an unsupported parameters error.

[2018-02-02 01:22] yuwzho commented on #35591
@ilseokoh Can you share your whole playbook? Including how you create VM

[2018-02-02 01:33] kevensen commented on #35629
@xcorvis can you please share your pam_rootok.so file?
needs_info

[2018-02-02 03:50] yuwzho commented on #29607
resolved_by_pr 32882

[2018-02-02 03:50] yuwzho commented on #28534
resolved_by_pr 32882

[2018-02-02 03:59] #29607 closed, assigned to nobody

[2018-02-02 03:59] #28534 closed, assigned to nobody

[2018-02-02 04:31] Akasurde commented on #28050
@BenCoffeed Thanks for reporting and providing valuable debugging information.

[2018-02-02 06:53] jinyanroot opened #35642 "Nmcli: PyGIWarning: NetworkManager was imported without specifying a version first"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = memory
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 10
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = implicit
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /root/.ansible/tmp/ansible

[2018-02-02 07:03] Chiggins commented on #34675
Thanks for the feedback @dagwieers. I do agree with you, no need to add more complexity to the **win_domain** module if it's unnecessary.

That being said, I gave your example code a go and I'm not seeing any of the feature management tools installed. I'll still need to do a little bit of debugging on my end since I'm only just noticing this. Also figured I'd be helpful to provide an update, apolo

[2018-02-02 07:18] ilseokoh commented on #35591
@yuwzho  I'm sorry but I failed to regenerate error on a separate code and configuration. Both VM from the custom image and marketplace image work properly.

But I don't know my live vms have errors.
I'm OK if you want to close this issue.

[ansible-azure.tar.gz](https://github.com/ansible/ansible/files/1688404/ansible-azure.tar.gz)

[down_bad.txt](https://github.com/ansible/ansible/files/1688407/

[2018-02-02 07:45] Akasurde commented on #35642
@jinyanroot Thanks for reporting this issue. This is fixed in latest
 (2.5devel) https://github.com/ansible/ansible/pull/34577

Please try with this and let me know if it works for you ?

[2018-02-02 07:50] Akasurde commented on #29259
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-02-02 07:50] #29259 closed, assigned to nobody

[2018-02-02 07:51] jinyanroot commented on #35642
received，I will try it,thanks

[2018-02-02 07:52] Akasurde commented on #29226
Closing this issue as PR https://github.com/ansible/ansible/pull/34071 is merged. If issue persists, please feel free to re-open.

[2018-02-02 07:52] #29226 closed, assigned to nobody

[2018-02-02 07:58] pari- commented on #33908
close_me

[2018-02-02 08:04] Akasurde commented on #22249
@Atoms @dlbewley @shahaan Could you please retry with latest (2.5 Alpha1) ? I am able to create a new bond connection using same playbook.
YAML
[code]

Output:
[code]

needs_info

[2018-02-02 08:12] ganeshrn commented on #33993
@brainclots As the regex match is case insensitive [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L450)
that shouldn't be an issue.

I am suspecting the space at the end of the line in the regex [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/ios.py#L67) as the culprit.
With current regex
[code]

With updated reg

[2018-02-02 08:14] Atoms commented on #22249
it's not actual for me anymore, we already have different solution.

[2018-02-02 08:17] X-Mars opened #35645 "Unarchive fails to find command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-02 08:27] X-Mars commented on #35645
[code]

[2018-02-02 08:50] rlueckl commented on #22571
I just tried 2.4.3.0, which has been release a few days ago, but it still doesn't work. :( Can we expect a backport to 2.4 or do we have to wait for 2.5 or even longer?

[2018-02-02 09:02] Akasurde commented on #22249
Thanks.

Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-02-02 09:02] #22249 closed, assigned to nobody

[2018-02-02 09:07] cvanniekerk commented on #35388
@Akasurde That was exactly my thinking yes (catching that specific exception and setting `changed=False`). This would also make this module consistent with the way `resource_pool`, `vmware_guest` etc function.

[2018-02-02 09:10] mkrizek commented on #35619
cc @nitzmahone @jborean93

[2018-02-02 09:33] Koleon opened #35646 "vmware_guest: fails when using underscore in name of VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ansible running from Ubuntu 16.04
Managing CentOS 7.4
vCenter 6.5
pyvmomi==6.5.0.2017.5.post1

##### SUMMARY

Using a VM name with underscore e.g. "05_awx" via vmware_guest when creating a VM from a template, the create fails. For example, spe

[2018-02-02 09:36] Akasurde commented on #34195
@nikitakazantsev12 Any news ?

[2018-02-02 09:59] nikitakazantsev12 commented on #34195
@Akasurde
As I tried to test the vmware_vmotion module from the PR you mentioned, I've got "pyVmomi is required for this module" error message.

installed components:
ansible 2.4.2.0
pyvmomi 6.5

[2018-02-02 10:42] Akasurde commented on #34195
Thanks for reporting back. Are you using any virtualenv ?

Could you please check output of following command -

[code]

[2018-02-02 11:04] vinpk commented on #25916
Could you use the commands in below order as i tested in the debug output
[code]
I am pretty sure it's not because of timeout.

[2018-02-02 11:04] Akasurde commented on #35646
@Koleon Thanks for reporting this issue. I am able to create VM with '_' in name

[code]

Could you please check if template that you are using, does not contain FQDN as hostname?

[2018-02-02 11:09] Akasurde commented on #35388
@cvanniekerk Ok I will do one thing, I will catch duplicate name exception and return `changed=False` and let user decide what then want to do with this.

[2018-02-02 11:14] Koleon commented on #35646
@Akasurde Hello, thanks for the prompt response!

[2018-02-02 11:17] Akasurde commented on #35388
@cvanniekerk Check latest change.

[2018-02-02 11:28] gundalow opened #35649 "[Docs] network_best_practices_2.5: mention if you are using ssh-keys or ssh-agent"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION
[code]
##### SUMMARY

Feedback from the community, KeeranM on NTC) from 2.5.0 Alpha 1.

http://docs.ansible.com/ansible/devel/network_best_practices_2.5.html

**Question**

 If you use ssh keys, how do you do that

**Answer**

If you are using ssh-agent then remove the `ansible_ssh_pass` line from the

[2018-02-02 12:00] trishnaguha commented on #25916
@vinpk we cannot test `switchto vdc nexus-childvdc` due to lack of support of vdc in our virtual test environment.
also this is still not clear which module you are using: eos_command or nxos_command?

[2018-02-02 12:06] alpegon commented on #27520
Same error in ansible 2.4.3.0
[code]

[2018-02-02 12:06] cvanniekerk commented on #35388
@Akasurde Thanks for fixing this. From my testing it is now working exactly as I would expect.

[2018-02-02 12:27] Akasurde commented on #35388
@cvanniekerk Cool. I will wait for one more shipit and merge it.

[2018-02-02 12:32] Akasurde commented on #35646
@Koleon I am not using govc to deploy VM. I used `vmware_guest` to deploy VM with following playbook

[code]

And my Pyvmomi version -

[code]

[2018-02-02 13:32] Koleon commented on #35646
@Akasurde Interesting that

[2018-02-02 14:07] Akasurde commented on #35646
@Koleon Could you please retry using 2.5Alpha1 or devel version? Most of the issues are fixed in 2.5  version. Like 'mb' issue - https://github.com/ansible/ansible/commit/c2af15ce7400d623177a6cc9894747cdc91ac603

[2018-02-02 14:10] Koleon commented on #35646
@Akasurde The main issue hopefully might be fixed in #24768 as I already mention. I'll try to run devel branch.

[2018-02-02 14:14] stingus opened #35653 "rabbitmq_exchange requests module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_exchange

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/project/ansible.cfg) = False

##### OS / ENVIRONMENT
Running from:
Docker Alpine

Running to:
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
The rabbitmq_exchange is requiring the requests module, so I installed it with `pip install requests`:
[code]

Al

[2018-02-02 14:22] xcorvis commented on #35629
pam_rootok.so is a binary and shouldn't be affected by this operation. I think you're actually wanting to look at the /etc/pam.d/su file. Either way, they're default for ubuntu 16.04, I have not changed them at all.

/etc/pam.d/su:
[code]

[2018-02-02 14:26] Koleon commented on #35646
Alright, running ansible v2.5.0 the error message change:
[code]
Any ideas? Could you test your configuration with the ```networks``` section please?

[2018-02-02 14:28] Akasurde commented on #35646
@Koleon What is type of `LAB-Tools_portgroup` DVPG or PG?

[2018-02-02 14:39] lopf opened #35655 "bigip_command UnicodeEncodeError when output contains unicode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
BigIP 12.1.2 HF2
##### SUMMARY

When the output of the bigip_command -> commands contains unicode characters like Umlaute (äöüÖÄÜ), it can't be parsed and the task immediately fails.
##### STEPS TO REPRODUCE

1. Have a certificate which contains Umlaute in

[2018-02-02 14:44] maxamillion opened #35656 "The `azure_rm_networkinterface` is no longer idempotent when creating with old-style ip definition"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed

##### OS / ENVIRONMENT

Fedora 27

##### SUMMARY
The `azure_rm_networkinterface` module is not longer idempotent when using the old-style ip configuration definition.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Th

[2018-02-02 14:53] machard84 opened #35657 "VMware: Assign network adapter in promisc mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 template
Ubuntu => 14.04 Template
VCSA => 6.0
ESXI => 6.0
VMFS => 5.0
VSwitch

##### SUMMARY

Please impliment a Promisc option when configuring interfaces using the vmware_guest module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-02-02 15:05] kevensen commented on #35629
@xcorvis Silly me.  Yes, I meant the /etc/pam.d/su file.  Thanks.  I'll take a look.

[2018-02-02 15:06] jmcgill298 commented on #35523
[code]
I find this comment interesting, since I raised it as a bug and not a feature request because the assertion you make is actually incorrect. I had assumed it `src` was taking a normal text file with config lines, but it is actually taking a jinja template, which happens to treat the file as a text file, so long as reserved characters are not used.

Having said that, I am fine with it being a

[2018-02-02 15:08] #32542 closed, assigned to Qalthos, gundalow

[2018-02-02 15:12] dagwieers commented on #35304
After discussing with @rsmeyers we have come up with this: we keep parameter `output_level: (normal|info|debug)`

And use these dictionaries:
- `current` --> The existing APIC configuration after running the module
- `previous` --> The original APIC configuration before running the module
- `proposed` --> The proposed configuration assembled from user input
- `sent`--> The actual configuration sen

[2018-02-02 15:21] #35517 closed, assigned to trishnaguha

[2018-02-02 15:26] kluner commented on #17714
I would love to see this stacking of variables too.

My use case is that I have a bunch of FreeBSD servers, or Linux servers, that have very common configurations, like ACL's, but specific subsets have extra allowed hosts in the ACL's.

By simply stacking the variables, or appending them, this could be done in very reusable bit of playbook.

[2018-02-02 15:35] jniederm opened #35659 "dconf module read state broken on Fedora 27"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 27 (Workstation Edition)

##### SUMMARY

dconf read operation returns null when the key is set to default

##### STEPS TO REPRODUCE

console snippet:
[code]

##### EXPECTED RESULTS

value is returned no matter if the it's default or custom (there

[2018-02-02 16:00] julienvey opened #35660 "Using `{{ vars['myvar'] }}` instead of `{{ myvar }}` results in variable not being evaluated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vars

##### ANSIBLE VERSION

Tested with both
[code]
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using `{{ vars['myvar'] }}` instead of `{{ myvar }}` results in variable not being evaluated. Using the `vars['...']` syntax is helpful when looping over a list of variables

##### STEPS TO REPRODUCE

[code]

##

[2018-02-02 16:08] spiffytech opened #35661 "Add 'validate' to win_template"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
win_template
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running from Mac OS
Managing Windows Server 2012R2

##### SUMMARY
The `template` module includes a `validate` option to run a command confirming the templated file is valid. Please implement this feature for `win_template`.

[2018-02-02 16:09] jean-christophe-manciot opened #35662 "ios_config does not support the sub-level configuration mode related to "crypto pki trustpoint""
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

Latest unstable version:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.10 4.13
- paramiko: 2.4.0

##### SUMMARY

ios_config requests the remote device to execute a command 'None' or empty which was not requested in the list of commands.
This situation seems to be triggered when subs

[2018-02-02 16:10] martypitt commented on #14593
Can this please be re-opened?  The behaviour isn't consistent between runs, as described above.

[2018-02-02 16:25] clintmod commented on #8520
This is bullshit… why would you half ass output json (by default) that has to be munged before it can be consumed by a json parser? Put this in your own proposal system.

[2018-02-02 16:28] jean-christophe-manciot commented on #35662
On latest stable version:
[code]
the issue is there but the symptom is different: this time the module breaks after the second command:
[code]

As a side-note, you may have noticed that this time, all the context is nicely printed.

[2018-02-02 16:54] gogskrish commented on #24709
Please use my same body request as JSON. am able to reproduce this issue with the JSON body

[2018-02-02 17:28] dkirrane opened #35665 "vmware_guest: vm_cdrom + kickstart installation"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 64-bit

##### SUMMARY

I want to create a VM from an ISO and provide a Kickstart file in order to bypass the CentOS Installer UI.

Currently, I can create the VM from an ISO as per https://github.com/ansible/ansible/issues/21112
However, I have

[2018-02-02 17:52] jefferai commented on #8520
@clintmod Yeah.

[2018-02-02 18:12] ephesused opened #35666 "2.5.0a1 has permission failures for tasks with escalation and deep remote_tmp directories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Privilege escalation and/or remote_tmp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_REMOTE_TMP(/home/centos/ansible.cfg) = /tmp/.ansible/tmp

##### OS / ENVIRONMENT
CentOS 7.3

##### SUMMARY
Prior to 2.5, tasks run with privilege escalation did not use remote_tmp for their temporary files.  At 2.5, remote_tmp is used for tasks run

[2018-02-02 18:23] #34896 closed, assigned to nobody

[2018-02-02 18:23] th31nitiate commented on #9442
I think this is cool as is. It somewhat protects users from making an issue that persists past a certain point of simply testing. The best thing is to perform the mentioned additions to the ansible.cfg and then manage those separately for different environments.

I am strongly against the idea of making the StrictHostKeyChecking=no default or controllable via ANSIBLE_env_vars

[2018-02-02 18:28] kevensen commented on #35629
@xcorvis As it turns out, the module invocation you provided works just fine.  What was failing was the **@include** statements at the end.  I had failed to consider that case.  Thanks for the bug report.

I've tested this against an Ubuntu machine.  If you get a chance, do you mind testing the PR to see if it works for you?

[2018-02-02 19:03] xcorvis commented on #35629
Thanks for the quick response @kevensen. I can confirm that with the fix, my ubuntu 16.04 box is working as expected.

However, I went back and tried my CentOS 6 box and it still returns the same error (identical to the ubuntu error I listed above). I've added the CentOS 6 version of the pam su file, it looks like it has an unusual line continuation.

CentOS 6 /etc/pam.d/su:
[code]

[2018-02-02 19:16] skylerbunny commented on #35612
Ansible is relying on (presumably) an older API, including among other things the stream parameter.

See https://docker-py.readthedocs.io/en/stable/change-log.html ( specifically, https://docker-py.readthedocs.io/en/stable/change-log.html#breaking-changes ).

[2018-02-02 19:29] chrispolley opened #35669 "Digital Ocean Domain Records"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
digital_ocean_domain

##### ANSIBLE VERSION

I'm running
[code]
but plan to develop against a branch of a fork of `ansible/devel`

##### CONFIGURATION

No changes from apt-get install

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm wondering if anyone is working on support for Digital Ocean Domain Records -- see the [v2 API](https://developer

[2018-02-02 19:31] skylerbunny commented on #35612
This is a major breaking problem that will affect *all* Ansible releases that use the ```docker``` library.

A quick fix to this would be an edit to documentation of Docker related module pages, specifying requirements of:
```docker>=X,<3.0.0```

where X may vary depending upon the specific version of Ansible and its respective documentation of a minimum version, but in all cases this major maximu

[2018-02-02 19:33] kevensen commented on #35629
@xcorvis Yup, another case not considered.  Do you mind trying it again with the latest commit?

[2018-02-02 19:42] pgrenaud commented on #26298
I was about to report an issue about how **"apt: autoremove never reports changed"** and found this. Looking at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L712 and we can clearly see why both issues (_autoremove always reports changed with diff mode_ and _autoremove never reports changed_) always occur. It seems that the **changed** check was never implem

[2018-02-02 20:35] Mixer9 commented on #30200
Any updates on this, looks like it was awaiting resolution or verification from Sep 12, 2017.  CC @maxamillion @avacam @bcoca ,

[2018-02-02 20:59] jeroenjacobs79 opened #35672 "Ansible returns error in Yum module with state=absent and package is not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY

Yum fails when it shouldn't

##### STEPS TO REPRODUCE

Given the following tasks:

[code]

Will result in an error when uninstalling kernel, kernel-tools, kernels-devel, and kernel-tools-libs

[code]

If I understand correctly, it fails becaus

[2018-02-02 21:15] xcorvis commented on #35629
@kevensen I grabbed the version here, is this correct?
https://github.com/ansible/ansible/commit/8229a2934251ae23780a7bead5b4152782dff778

Unfortunately it does not seem to work.
[code]
I also got an identical error with my Ubuntu 16.04 vm.

I should amend my previous statement that this is a default OS. It's an official virtualbox vagrant vm provided by centos, so it does have some vagrant specif

[2018-02-02 21:20] xcorvis commented on #35629
I see your updated commit now. That one produces the same error on both boxes.

[2018-02-02 21:41] jeroenjacobs1205 commented on #35672
Okay, this situation is worse than I initially thought. I thought by adding something like ignore_errors=true on the 3rd task, it would be fine, but that is certainly not the case.

When I run it a second time, I get this:

`failed: [jeroen-k8-test-master-01] (item=[u'kernel', u'kernel-tools', u'kernel-devel', u'kernel-tools-libs']) => {"changed": false, "item": ["kernel", "kernel-tools", "kernel-

[2018-02-02 22:03] aaronk1 commented on #24864
Any update on this one?  @Akasurde

[2018-02-02 22:04] brainclots commented on #33993
Here is the latest test:
https://gist.github.com/brainclots/af393c8538227b6f2f854ddf20c016f1

On Fri, Feb 2, 2018 at 12:13 AM Ganesh Nalawade <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again?"

[2018-02-02 22:48] jonhatalla commented on #12170
There is not a working solution in this thread. While it may work for some, its not a solution.
`register` doesn't work properly (will have gist to back this up later) - my guess is its not the only function that will not perform correctly.

[2018-02-02 23:02] samrreynolds4 commented on #35613
It appears I'm having the same issue.
I'm using the wazuh ansible playbooks which uses win_template to configure the agent config file located on a windows computer.(Link: https://github.com/wazuh/wazuh-ansible) and I'm getting the same UnboundLocalError: local variable 'tempdir' referenced before assignment error

I'm using the latest ansible devel build and python2.7

[2018-02-02 23:41] #35304 closed, assigned to nobody

[2018-02-03 00:18] kevensen commented on #35629
@xcorvis Third times a charm....  Please test the latest commit at your convenience.  I actually tested it myself and it seems to work.

[2018-02-03 00:58] umrikar commented on #35491
Hi,
    i pulled your fix and updated playbook as below but i still get same error "msg": "A specified parameter was not correct"
[test1.txt](https://github.com/ansible/ansible/files/1691232/test1.txt)

[2018-02-03 01:23] selivan opened #35681 "Make owner parameter for file modules behave like in chown command [feature_idea]"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
template
file
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
File modules, like `template`,  `file` and `copy`, accept separate parameters `owner` and `group`. I think it would be convenient to have chown-like behavior for `owner` parameter:
* `user:group` sets both owner and group
* `user:` set

[2018-02-03 02:06] Akasurde commented on #35491
@umrikar Could you please paste output of `-vvvv` ?

[2018-02-03 02:35] umrikar commented on #35491
Hi,
   below is output with -vvvv
fatal: [127.0.0.1 -> localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "enable_ft": null,
            "enable_mgmt": true,
            "enable_vmotion": true,
            "enable_vsan": null,
            "esxi_hostname": "10.243.1.43",
            "hostname": "10.243.1.43",
            "ip_a

[2018-02-03 03:29] umrikar commented on #35491
Hi Abhijeet,
   As discussed I have updated playbook as below and it worked

---
- hosts: 127.0.0.1
  connection: local
  tasks:
    -  name: Add Management vmkernel port using static network type
       local_action:
         module: vmware_vmkernel
         esxi_hostname: esxi01.test.com
         hostname: 10.243.1.43
         username: root
         password: PASSW0RD
         vswitch_name: vSw

[2018-02-03 03:29] #35491 closed, assigned to Akasurde

[2018-02-03 04:43] Akasurde commented on #35491
@umrikar Thanks for reporting back. I am glad that new patch works for you.

[2018-02-03 04:46] umrikar commented on #35491
Thanks for quick solution..:-)

[2018-02-03 05:18] ganeshrn commented on #33993
Thank you sharing the logs, with the regex change, password prompt is matched correctly and the answer is sent to the remote host, i am now hoping we are close to fixing this issue.
[code]

Now it is failing because of the wrong format in debug log (my bad)
[code]

This log should be
[code]

I have pushed this change in the same branch `ios_password_regex_debug`. Please retest it with updated code

[2018-02-03 06:05] Akasurde commented on #27384
@theballdredge I have update the error message something like

[code]

Let me know if it OK with you and make sense.

[2018-02-03 06:07] Akasurde commented on #27384
resolved_by_pr https://github.com/ansible/ansible/pull/35682

[2018-02-03 06:39] Akasurde commented on #33971
@jacksonp2008 Could you please confirm if it works for you ?

[2018-02-03 06:41] Akasurde commented on #33284
@mowntan @cdelgehier Could you please retry using latest 2.5alpha1 and let me know if it works for you ?

[2018-02-03 06:43] Akasurde commented on #33973
Closing this issue as issue is not related to Ansible and inactivity from user. If issue persists, please feel free to re-open.

[2018-02-03 06:43] #33973 closed, assigned to nobody

[2018-02-03 08:35] Akasurde commented on #34746
@dkirrane If you created `/Europe/dev/joe` then Folder path will be `/Europe/vm/dev/joe` as VMware creates a intermediate folder called `vm` of type "VM and Template Folder".

Let me know if that works  for you ?

[2018-02-03 08:37] Akasurde commented on #32808
@jacksonp2008 Could you please paste your entire playbook and brief scenario you are trying to achieve ? It is very difficult to understand scenario with provided information.

[2018-02-03 08:43] imjoseangel commented on #35611
Hi! Is it not enough managing it within a block? (Just asking)

**Example:**

[code]

[2018-02-03 08:52] ssokolow commented on #29211
It's going to take a little longer. Yesterday, I woke up to find that Murphy had come to town.

I spent two hours figuring out that DSL router's buggy IPv6 support was the culprit for having the connecting spontaneously become unusably unstable and then my mother called me about her computer refusing to start. (Today's free time will be taken up identifying whether it's the PSU or the motherboard

[2018-02-03 14:58] miguelfito commented on #34196
Same here with ansible 2.4.3.0

[2018-02-03 15:16] brpaz opened #35686 "Error Unarchive module - ValueError: time data '19800000.000000' does not match format '%Y%m%d.%H%M%S'\n","
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible_unarchive

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = None
  configured module search path = [u'/home/bruno/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.1

[2018-02-03 15:19] SethosII opened #35687 "dconf: writing with state: present fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dconf

##### ANSIBLE VERSION
[code]

I also tested it with the `devel` branch:

[code]

The output below is from the PPA version.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
All running on Linux Mint 18.3.

##### SUMMARY
The `dconf` module fails to write to the dconf database when it needs to apply changes. The execution succeeds if no c

[2018-02-03 19:54] BondAnthony commented on #35669
Hey @chrispolley thank you for showing interest in the Digital Ocean modules. Please take a look at PR #31765 and see if meets your requirements.

[2018-02-03 20:56] angystardust commented on #35293
Hi all, and sorry for the noise. I just want to add my 2cents to this thread.
Since ansible 2.5, there's a new module you can use for your use-case: **service_facts** (https://docs.ansible.com/ansible/devel/module_docs/service_facts_module.html)

With this module, your playbook can be modified in this way:
[code]
So I've just added a task invoking the service_facts module and a conditional line (w

[2018-02-03 21:41] harobed opened #35693 "contrib/inventory/scaleway.py inventory script fail if auth.api_token missing in ini conf file"
I set only `SCALEWAY_TOKEN` environment variable and inventory script fail [here](https://github.com/ansible/ansible/blob/devel/contrib/inventory/scaleway.py#L156) if `auth.api_token` missing in ini conf file.

I think that `auth.api_token` must not been required.

cc @paulRbr

[2018-02-03 23:09] theballdredge commented on #27384
looks good to me, thanks!

[2018-02-03 23:30] Akasurde commented on #27384
@theballdredge Thanks. Could you please add a "shipit" on PR page so that I can proceed with merge.

[2018-02-03 23:53] #27384 closed, assigned to nobody

[2018-02-04 01:22] ajayreddy28390 opened #35697 "Unsupported parameters for (ios_command) module - GNS3 -Win10 Linux Emulator"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = [u'/mnt/c/Users/ajayr/Documents/overall_example/hosts']
DEFAULT_TIMEOUT(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = 5
DEFAULT_TRANSPORT(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = param

[2018-02-04 01:52] Hellseher opened #35698 "pipelining is not working with become_method = su"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Master:
uname -a
```Linux base-171027 4.14.3-300.fc27.x86_64 #1 SMP Mon Dec 4 17:18:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux```

Host:

Freshly installed Ubuntu-12.04 LTS
[code]

##### SUMMARY

Enabling pipelinening does not work for me.

##### STEPS TO REPRO

[2018-02-04 02:08] jelinekb commented on #35687
+1

[2018-02-04 05:49] yuji-k64613 commented on #35686
I think that there is a problem with this zip file.

- OK(19791231.123400)
[code]

- NG(19800000.000000)
[code]

[2018-02-04 05:57] yuji-k64613 commented on #35686
!component =lib/ansible/modules/files/unarchive.py

[2018-02-04 06:53] kyeongsooKim opened #35699 "connection error for playbook"
When I type ansible-playbook playbook1.yml
I fail to connect with the following error. please help me.

fatal: [130.245.168.246]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 130.245.168.246 closed.\r\n", "module_stdout": "/bin/sh: 1: /usr/bin/python: not found\r\n", "msg": "MODULE FAILURE", "rc": 0}

[2018-02-04 08:54] yuji-k64613 commented on #34335
I could not reproduce this OSError.
It works well as follows.
[code]

[2018-02-04 09:11] liyaka commented on #35235
@yuwzho
This is my playbook:
`- hosts: "{{ target_host }}"

  tasks:
   - name: Stop a VM
     azure_rm_virtualmachine:
        resource_group: "{{ az_resource_group }}"
        name: "{{ az_vmname }}"
        state: present
        started: no
       append_tags: True
        tags:
           stopped_on: "{{ ansible_date_time.date }} {{ ansible_date_time.time }}"`
`

Since it didn't work, I've se

[2018-02-04 10:01] Akasurde commented on #35697
@ajayreddy28390 Thanks for reporting this issue. Could you please provide relevant playbook used for this run ?

needs_info

[2018-02-04 10:02] Akasurde commented on #35699
Hi @kyeongsooKim !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This al

[2018-02-04 10:02] #35699 closed, assigned to nobody

[2018-02-04 11:21] felixfontein commented on #35080
@Spredzy: what do you think about this feature (or the implementation)?

[2018-02-04 11:39] ktosiek commented on #31477
I've prepared a failing test case: https://github.com/ktosiek/ansible/commit/d324c099b1d3f506cc874edbc583c2007fda5442

[2018-02-04 12:40] ajayreddy28390 commented on #35697
Attached relevant files and router configs.
I can SSH from Linux emulator to devices on GNS3. So, credentials and SSH version are good. I did wireshark capture, i see no issues for SSH traffic.
[Ansible_test1_configs.zip](https://github.com/ansible/ansible/files/1692778/Ansible_test1_configs.zip)

[overall_example.zip](https://github.com/ansible/ansible/files/1692777/overall_example.zip)

[2018-02-04 13:15] trishnaguha commented on #35697
@ajayreddy28390 transport isn't an option that ios module supports. Please check the doc http://docs.ansible.com/ansible/latest/ios_command_module.html.
The playbook will work after transport is removed from provider.

[2018-02-04 13:15] #35697 closed, assigned to nobody

[2018-02-04 14:08] #30111 closed, assigned to nobody

[2018-02-04 14:11] #19028 closed, assigned to nobody

[2018-02-04 14:23] Lujeni commented on #29942
btw, this problem is still present in 2.3 stable branch
[code]

[2018-02-04 14:31] Lujeni commented on #29895
Hi,

Seems fixed in branch 2.5

[code]

[code]

[2018-02-04 14:57] pabelanger commented on #18131
Just ran into this issue too, was trying to have Zuul dynamically do this for me via host vars.  Back to the drawing board.

[2018-02-04 16:28] ajayreddy28390 opened #35707 "socket_path: None Win10 Linux Emulator"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = [u'/mnt/c/Users/ajayr/Documents/overall_example/hosts']
DEFAULT_TIMEOUT(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = 5
DEFAULT_TRANSPORT(/mnt/c/Users/ajayr/Documents/overall_example/ansible.cfg) = par

[2018-02-04 17:21] ajayreddy28390 commented on #35707
I had to re-enable SSH of my GNS hosts.
After that it worked out.
So, i see socket_path: None ==> as connection refused error.

[2018-02-04 17:21] #35707 closed, assigned to nobody

[2018-02-04 18:35] dagwieers commented on #34675
I'll leave this up to @jborean93 to decide.

[2018-02-04 20:00] xcambar commented on #29315
Closing for lack of response.

close_me

[2018-02-04 20:01] xcambar commented on #29208
Closing for lack of response.

close_me

[2018-02-04 20:01] xcambar commented on #29210
Closing for lack of response.

close_me

[2018-02-04 20:02] xcambar commented on #29211
Life, in a nutshell 😂

[2018-02-04 20:05] xcambar commented on #29195
Closing for lack of response.

close_me

[2018-02-04 20:06] xcambar commented on #25998
Closing for lack of response.

close_me

[2018-02-04 20:06] xcambar commented on #29308
Closing for lack of response.

close_me

[2018-02-04 20:06] #29315 closed, assigned to nobody

[2018-02-04 20:06] #29210 closed, assigned to nobody

[2018-02-04 20:06] #29208 closed, assigned to nobody

[2018-02-04 20:06] #29195 closed, assigned to nobody

[2018-02-04 20:06] xcambar commented on #29255
Closing for lack of response.

close_me

[2018-02-04 20:07] ssokolow commented on #29211
Yes, but normally not so many things at once. (Today, I had another foot of snow to clear... and it's still snowing!)

That said, I found time to resolve the problem with my ansible+vagrant test setup, so I'm hoping to fit in an answer for you tomorrow if possible and, if not, the day after.

[2018-02-04 20:13] #29308 closed, assigned to nobody

[2018-02-04 20:13] #29255 closed, assigned to nobody

[2018-02-04 20:13] #25998 closed, assigned to nobody

[2018-02-04 21:40] ipatalas commented on #33856
Hi,

I use `with_items` to achieve that. It's pretty quick for multiple values.

Example:
[code]

Have you tried that approach?

[2018-02-04 21:57] ipatalas opened #35710 "ini_file module breaks indentation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]

##### SUMMARY

I do have some ini_file configuration files which have values indented:
[code]

It's pretty nice but like you see interval option has been unindented by ini_file module after it was changed. It breaks the formatting and makes me sad ;)

I think of an idea to add additional parameter to in

[2018-02-04 22:00] aioue commented on #14593
@martypitt since @cobyrne09 is no longer responding, if this is affecting you'd I'd raise it again under your own name and link back for reference.

[2018-02-04 23:13] manicminer commented on #33659
@bcoca in the example given, the included play _does_ attempt to reference a host variable from a task (with a valid `hosts` line in that included play). this worked with 2.3 when using `include:` at play level

another example (broken when using `include` or `import_playbook`):

[code]

[code]

[code]

## Output
[code]

[2018-02-04 23:40] skunk73 commented on #8520
`sed '/^[ }].*/!s/^/"/;s/ =>/":/;1s/^/{\n/;$s/$/\n}/'`

[2018-02-05 00:07] jefferai commented on #8520
@skunk73 ?

[2018-02-05 00:12] skunk73 commented on #8520
after piping ansible's output to the above command you get a valid json...

[2018-02-05 00:36] jefferai commented on #8520
The problem isn't how to filter it. That's easy. The problem is that you *shouldn't have to*. Ansible is mixing machine-oriented output (JSON) with human-oriented output (text status). The result is something that takes needless work to use in a machine-based way and at the same time isn't in a human-friendly format. You lose either way.

[2018-02-05 00:48] skunk73 commented on #8520
my intention was to just offer a quick workaround for a problem i was facing myself and since i came here because i was googling for a solution it might save time to somebody else too imho...

[2018-02-05 01:54] jiangytcn commented on #27331
+1 for the feature

[2018-02-05 02:02] zikalino commented on #31105
we have already discussed how the new format of facts should look like, and how we are going to upgrade & make obsolete old format.

[2018-02-05 04:31] smurfix commented on #33856
@ipatalas interesting idea, however this still doesn't fix the atomicity part of the problem, and gets more complicated if the structure isn't known beforehand.

[2018-02-05 05:29] #35615 closed, assigned to nobody

[2018-02-05 05:43] ptux opened #35711 "not work! ec2_eni: Remove any secondary IP addresses from an existing ENI"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
ec2_eni

##### ANSIBLE VERSION

[code]

##### SUMMARY

this sample written on doc is not work!!!

[code]

##### ACTUAL RESULTS

[code]
##### FIX

This works!!!
Cloud you fix the doc?

[code]

[2018-02-05 07:12] trishnaguha commented on #29496
@mamullen13316 This works for both transports against devel and 2.4 branch.
Hence closing the issue.

[2018-02-05 07:12] #29496 closed, assigned to nobody

[2018-02-05 07:24] Koleon commented on #35646
@Akasurde Hey, sorry for the delay. It suppose to be DVPG (Distributed Port Group on Virtual Switch) the whole name is "LAB-Tools_vxw-dvs-176-virtualwire-11-sid-5008-b5008" sorry for the confusion. More over it's connected to NSX FW.
Can you reproduce and verify my scenario please?

[2018-02-05 07:45] hryamzik commented on #12170
@jonhatalla I don't have any issues with `register`, can you share a gist or a repo that doesn't work?

[2018-02-05 07:49] mabushey commented on #7803
This no longer works.

[code]
[code]
[code]

[2018-02-05 08:20] JeanFred commented on #29210
Hi @xcambar,

I can reproduce this with Ansible 2.4.3.0.

[2018-02-05 08:21] PaulKlym opened #35714 "Passed variables through imported tasks does not work as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
Get "The task includes an option with an undefined variable. ..." when using import_tasks and passing variables into imports.

##### STEPS TO REPRODUCE
https://gist.github.com/PaulKlym/85e25f39c23e6c8e503a8c2400402be9

##### EXPECTED RESULTS
No errors

[2018-02-05 08:27] JeanFred commented on #29208
I can reproduce with Ansible 2.4.3.0.

[2018-02-05 08:32] rcarrillocruz commented on #31575
@nickrusso42518 did you retest this with latest devel ?

[2018-02-05 08:32] #35693 closed, assigned to nobody

[2018-02-05 08:41] rcarrillocruz commented on #31575
also, please try with 2.4, as that's the latest released version. Depending on whether it works in 2.4 and/or 2.5 we would work on a bugfix or cherrypick the fix.

[2018-02-05 08:46] Akasurde commented on #35646
@Koleon I suspected that #35354. This is issue fixed in 2.5 Alpha 1 version. Could you please update and let me know if it works for you ?

I don't have NSX in my environment, so will try with vCenter only.

needs_info.

[2018-02-05 08:47] rcarrillocruz commented on #23949
This should be fixed on 2.5, have a look at the code:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_facts.py#L324

There's a try/except block now.

Can you please retry with ansible devel and let us know if you get the issue?

[2018-02-05 09:02] Akasurde commented on #32869
@ntwrkguru Could you please take a look into above mentioned PR ? also, add shipit in PR comment if it works for you.

[2018-02-05 09:02] Akasurde commented on #32869
needs_info

[2018-02-05 09:04] #35295 closed, assigned to nobody

[2018-02-05 09:14] Koleon commented on #35646
@Akasurde I just found this [blog post](https://emilwypych.com/2017/02/19/terraform-specidentityhostname-error/) even though it's related to Terraform, it use the same python library [pyvmomi](https://github.com/vmware/pyvmomi) as well as Ansible.
Important lines are:
[code]
Might be related to Ansible issue?
Anyway

[2018-02-05 09:34] Akasurde commented on #35646
@Koleon I have no idea about Terraform. You can use these instructions to get devel - https://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source

Also, I will try with name with more than 15 characters.

ping me on #ansible-vmware channel of irc.freenode.net, my nick is akasurde.

[2018-02-05 09:44] mohtashims opened #35717 "Issues using Ansible synchronize module to Transfer files from Local to Remote host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/file/synchronize.py

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

The ansible-playbook run output is shared here: [http://textuploader.com/dhom7](http://textuploader.com/dhom7)

##### EXPECTED RESULTS

The Linux rsync command is failing causing th

[2018-02-05 09:52] xcambar commented on #29335
Closing for lack of response.

close_me

[2018-02-05 09:52] xcambar commented on #29275
Closing for lack of response.

close_me

[2018-02-05 09:57] rvgate opened #35718 "Failed to connect to the host via ssh: unknown option --"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION
ansible 2.4.1.0
ALLOW_WORLD_READABLE_TMPFILES(/home/xxxx/git/infrastructure/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/xxxx/git/infrastructure/ansible.cfg) = True
DEFAULT_ACTION_PLUGIN_PATH(/home/xxxx/git/infrastructure/ansible.cfg) = [u'/home/xxxx/git/infrastructure/plugins/

[2018-02-05 09:59] #29335 closed, assigned to nobody

[2018-02-05 09:59] #29275 closed, assigned to nobody

[2018-02-05 10:07] Vladimir-csp commented on #33296
I've stumbled upon unpredictable behavior when merging parallel group hierarchies. IMHO, `ansible_group_priority` mechanism should be tuned a bit.

For example, suppose we have a host that is a member of the following groups:

- os-Linux
  - distr-Debian
    - distr-Debian-9
- frontend-servers

So, there are: a hierarchy of distributions and a host group. From my testing it appears that any hierar

[2018-02-05 10:25] umrikar opened #35719 "unable to run multiple tags for playbook using playbook_executor, changes in verbosity level are not getting affected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook_executor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY

when i run playbook with multiple tags it doesn't run any tag .i have tried with both options tags and list tags none of them worked.i was able to run playbook with single tag.where as same worked for me on ansible 2.2.0

[2018-02-05 10:27] merloon commented on #32000
Hi,

Any news ??

Regards,

Merloon.

[2018-02-05 10:56] Akasurde commented on #32000
@merloon Could you please a new issue with your logs and playbook ? it will be easy to track things that way.

[2018-02-05 11:02] merloon opened #35721 "Serialization issue with vmware_guest"
Hi,

I have troubles with vmware_guest plugin when I want to add disks to a Virtual machine.

See informations below:

- Component Name:
vmware_guest

- task:
[code]
- My variables:
[code]

- Ansible version:

[code]
- OS Version:
[code]
You can find logs attach
[logs.txt](https://github.com/ansible/ansible/files/1667033/logs.txt)

Thanks by advance.

BR

Merloon

[2018-02-05 11:08] Akasurde commented on #33760
@cdelgehier Could you please try debugging steps mentioned in [comment](https://github.com/ansible/ansible/issues/33760#issuecomment-357309367) and let us know the output? also, Could you please try with latest 2.5alpha1 release ?

needs_info

[2018-02-05 11:24] duck-rh commented on #29541
Quack, works for me with the real-life case.

[2018-02-05 11:34] Akasurde commented on #33760
@cdelgehier Could you please try this [patch](https://github.com/ansible/ansible/compare/stable-2.4...Akasurde:24) with your Ansible 2.4.2.0 version and let me know if it fixes issue for you ?

[2018-02-05 11:45] willthames opened #35724 ""Temporary" commit breaks ANSIBLE_KEEP_REMOTE_FILES for 'localhost'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/action/__init__.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_KEEP_REMOTE_FILES=1

##### OS / ENVIRONMENT
I assume this isn't OS/python related, but in case it is, I spotted this using brew python on OS X

##### SUMMARY
Since bbd6b8bb42cc8fa48, ANSIBLE_KEEP_REMOTE_FILES no longer works.

##### STEPS TO REPR

[2018-02-05 11:59] flepied opened #35725 "Fortinet unit tests is breaking when pyFMG is not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fortimanager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The change https://github.com/ansible/ansible/commit/60d2a8b6a10e083f3d550a2f657ed196a8931c28 breaks unit tests when pyFMG is not installed.

##### STEPS TO REPRODUCE

Run unit tests without pyFMG installed.

[code]

##### EXPECTED RESULTS

[2018-02-05 12:10] pilou- commented on #29541
@kraduk please, since this bug has been fixed, could you close this issue ?

[2018-02-05 12:13] #34468 closed, assigned to rcarrillocruz

[2018-02-05 12:32] Koleon commented on #35646
Sorry, it took me while. Now I'm back, ping me on #ansible-vmware as well.

[2018-02-05 12:39] itdependsnetworks commented on #34468
@rcarrillocruz thanks, just to confirm this only applies to ios and vyos?

[2018-02-05 12:42] steackfrite opened #35726 "Import Action Module failed using Junos PyEZ"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ImportError: No module named **plugins.action.normal**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[13:28 - corre@pelops Tests$ ]ansible-config-3.6 dump --only-changed
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = ['/etc/ansible/hosts-test']

##### OS / ENVIRONMENT

Ansible server OS :
[13:30 - corre@pelops Tests$ ]uname -a
Linux pelo

[2018-02-05 13:09] #35069 closed, assigned to trishnaguha

[2018-02-05 13:24] flepied commented on #35725
It is breaking Fedora Rawhide building btw: http://38.145.33.116/ansible-devel/60/d2/60d2a8b6a10e083f3d550a2f657ed196a8931c28_d327aea5/build.log.gz

[2018-02-05 13:32] marlox-ouda commented on #34259
I got this issue too.

I locate the issue in `playbooks/play_context.py`file in `PlayContext` class in `set_task_and_variable_override` method.

In this method, there is this part of code after a 'delegate_to' part :
<pre>
        # become legacy updates -- from inventory file (inventory overrides
        # commandline)
        for become_pass_name in C.MAGIC_VARIABLE_MAPPING.get('become_pass'):

[2018-02-05 13:43] #28666 closed, assigned to nobody

[2018-02-05 14:10] Akasurde commented on #35721
@merloon Thanks for reporting this issue. I am working on this.

[2018-02-05 14:23] marlox-ouda commented on #34259
Futher investigation :
`ansible_delegated_vars` is defined in `ansible/vars/__init__.py` in 2.2.1 version and `ansible/vars/manager.py` in master version with <pre>all_vars['ansible_delegated_vars'] = self._get_delegated_vars(loader, play, task, all_vars)</pre>
and '_get_delegated_vars' method is defined in the same file.

The function seems to be the same between the two versions.

During my inve

[2018-02-05 14:29] Akasurde commented on #35721
@merloon Could you please check this PR and let me know if it works for you ?

needs_info

[2018-02-05 14:29] Akasurde commented on #35721
resolved_by_pr #35727

[2018-02-05 14:29] Akasurde commented on #33760
resolved_by_pr #35727

[2018-02-05 14:44] bcoca commented on #35724
I cannot reproduce:
[code]
from output:
[code]
and then:

[code]

[2018-02-05 14:50] marlox-ouda commented on #34259
Success. **A quick and dirty one.**
Diff is for 2.2 but should work for other version

<pre>
401,404c401,413
<         if task.delegate_to is not None:
<             for hostvar in variables['hostvars'].values():
<                 for ip in hostvar.get('ansible_all_ipv4_addresses', []):
<                     if ip in delegated_vars:
---

406,435d414
<             for become_pass_name in MAGIC_VARI

[2018-02-05 14:57] skylerbunny opened #35729 "Two documentation pages for 2.5 now contradict one another"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
playbooks_tags.rst

##### ANSIBLE VERSION
ansible 2.5.0a1 (detached HEAD 6cffa4959f) last updated 2018/02/02 11:05:58 (GMT -700)
  config file = /Users/rsteinfeldt/Documents/discovery-ansible/ansible.cfg
  configured module search path = [u'/Users/rsteinfeldt/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible p

[2018-02-05 14:59] hron84 commented on #5356
It appears again:

[code]

The source is:

[code]
Which really confuses me. For a newcomer Ansible user it seems like `when` does not support looping through conditionals. Which is - according to your docs - is not true.

[2018-02-05 15:07] skylerbunny commented on #35729
docs/docsite/rst/playbooks_tags.rst is the affected file.

[2018-02-05 15:07] jean-christophe-manciot commented on #35662
This issue happens even if I drop all commands below the second one, i.e with:
[code]
which leads to:
[code]

[2018-02-05 15:09] nickrusso42518 commented on #31575
@rcarrillocruz I tried 2 weeks ago on latest devel but could not get anything working. I have either 2.4.1.0 or 2.4.2.0 in my environment today (don't remember offhand). I will test this week and report back.

[2018-02-05 15:11] umrikar commented on #35491
Hi @Akasurde parameter esxi_hostname doesnt take ip. It strictly want FQDN for vmware_vmkernel module where as other ansible modules for vmware are able to run when we give ip address as value for it.Could you check for the same.

[2018-02-05 15:11] 0xd3e opened #35730 "Transport SSH not working since 2.4.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory / SSH connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra (Version 10.13.3)
Installed via Homebrew

##### SUMMARY
After upgrading from version 2.4.2.0 to 2.4.3.0 I've realized that the connection to the hosts doesn't work anymore.

When setting the transport to `paramiko`, the

[2018-02-05 15:17] danieltrautmann commented on #35730
It seems that my guess is correct. I've created a link named `id_rsa` to the key file. Now the connection works with `transport = ssh`.

[code]

[2018-02-05 15:18] bcoca commented on #35724
actually I found the opposite bug, remote temp files never get removed in devel.

[2018-02-05 15:19] marlox-ouda commented on #34259
Ok, i still have an issue to make sudo on the localhost with a local action. A minor issue compared to the previous one.

[2018-02-05 15:26] jean-christophe-manciot commented on #35662
If I change the second command by another one, the issue remains.
Since this is the first time I encounter it with a multiple commands call, I can conclude that it is due to the fact that the **second command is to be run in a sub-level configuration mode:**
Here, we have ```(ca-trustpoint)#``` instead of the usual 1st tier ```(config)#```

[2018-02-05 15:30] xcorvis commented on #35629
@kevensen That seems to have worked, it's running correctly on both my test systems. Thanks for the help!

[2018-02-05 15:33] kevensen commented on #35629
@xcorvis Awesome!  Happy to help.

[2018-02-05 15:35] jean-christophe-manciot commented on #35662
If I change the first 2 lines by the following commands, the issue is gone:
[code]
So, it seems specific to the first command ```crypto pki trustpoint```.

[2018-02-05 15:38] dkirrane commented on #34746
I've tried `Europe/vm/dev/` using ansible-playbook 2.5.0 but got
[code]

If I first manually create the `dev` folder it works.
Is there another ansible module I can use the create the folder under the Datacenter?

[2018-02-05 15:40] maxamillion commented on #35542
This behavior isn't a side effect of `include_role` but the fact that all the handlers in your example are named the same thing. Only one is skipped because there are three in total, two of them are non-`listen`ing and the other is `listen`ing. This is expected behavior as handlers need to be uniquely named, however in the case of the newer `listen` keyword you can have duplicate named handlers (a

[2018-02-05 15:40] #35542 closed, assigned to maxamillion

[2018-02-05 15:41] sivel commented on #35698
This is a known limitation of pipelining and is documented in code:

https://github.com/ansible/ansible/blob/ca8e4c806a70eab259fb5d3036e3295b0e7880a4/lib/ansible/plugins/action/__init__.py#L217

Bypassing this line, causes `su` to error with:

[code]

To use `su` in this way, we would then need to ensure that ssh always allocated a tty, and doing this breaks pipelining.

If you have further questi

[2018-02-05 15:41] #35698 closed, assigned to nobody

[2018-02-05 15:44] jglf commented on #29159
If it helps, I've just upgraded from 2.3.1 where `become` was passed from include_role to the handlers to 2.4.2 where it isn't anymore. I've added `become` in the handlers as a workaround.

[2018-02-05 15:49] sivel commented on #35730
The lines that read `Trying private key` come from ssh itself.  Ansible does not try to guess where your private key is located, that is handled either by explicitly listing your private key via `ansible_ssh_private_key_file` or on the CLI as `--private-key`.

To instruct ssh, and by extension Ansible, you would have to indicate the paths to that key in your `ssh_config` file.

Perhaps you had som

[2018-02-05 15:52] sivel commented on #29159
Moving forward this will always be the case.  The decision has been made that attributes applied to an `include_*` should only impact the include itself, and will not be inherited by the tasks within.

See https://github.com/ansible/ansible/commit/3729cc57d0fbcac27492b579aedcc7d3b600a455#diff-846ec3538f096224b1b25f2ea96ce1f4

If you have further questions please stop by IRC or the mailing list:

[2018-02-05 15:52] #29159 closed, assigned to nobody

[2018-02-05 15:53] #35729 closed, assigned to nobody

[2018-02-05 16:08] danieltrautmann commented on #35730
Okay. Now I remembered that I've set `IdentitiesOnly yes` for all hosts in my SSH config recently.

This was done because when using Ansible with Vagrant, the temporary key for the Vagrant machine is added to the ssh-agent and when there are more than 6 keys, the authentication fails because SSH only checks 6 keys.

I've dropped `IdentitiesOnly yes` from my ssh config and now it works.
Thanks for

[2018-02-05 16:08] #35730 closed, assigned to nobody

[2018-02-05 16:12] Akasurde commented on #34746
@dkirrane Thanks for using 2.5, Could you please provide `-vvvv` output ? so that I can comment on it.

Yes. there is [`vcenter_folder`](https://github.com/ansible/ansible/pull/35608).

[2018-02-05 16:40] markovanderpuil commented on #20579
+1 also +1 for rsync to have the same feature!

[2018-02-05 17:03] calfonso commented on #33993
@brainclots waiting on your retest before closing out this issue.

[2018-02-05 17:10] Akasurde commented on #20291
@aperigault We have new module to create folder in vCenter. Could you please check and let me know if it works for you?

needs_info

[2018-02-05 17:15] #35051 closed, assigned to maxamillion

[2018-02-05 17:17] hangxie commented on #35494
I have a similar issue that `no aaa new-model` waits for input and timed out ios_config:
[code]

Is this the same case, or should I file a new issue?

[2018-02-05 17:17] dgm commented on #29872
I'm here because I cannot copy S3 files to e2 server... any progress on this?

[2018-02-05 17:27] alikins commented on #35666
cc'ing @abadger @bcoca

[2018-02-05 17:42] saichint opened #35736 "nxos_vpc_interface peer_link is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vpc_Interface
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

If we set peer_link to False, it is not idempotent. Setting it to True is ok.

Note: I will open a PR shortly to address the above issue

[2018-02-05 17:44] alikins commented on #35726
This sounds like an issue with the Juniper roles from https://galaxy.ansible.com/Juniper/junos/ and https://github.com/Juniper/ansible-junos-stdlib.

In particular, this looks like this issue: https://github.com/Juniper/ansible-junos-stdlib/issues/322

Closing this for now, since this appears to be an issue with the Juniper roles and not ansible itself.

[2018-02-05 17:44] #35726 closed, assigned to nobody

[2018-02-05 17:47] chrispolley commented on #35669
Hi Anthony,
Thanks very much for the reference -- this looks like it will do it for
me.  I'll pull this branch and try it out.

Regards,
Chris

On Sat, Feb 3, 2018 at 1:55 PM, ABond <notifications@github.com> wrote:

[2018-02-05 17:52] alikins commented on #35719
The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansible`, `ansible-playbook`, `ansible-doc`, etc) or an issue with an external
API such as are provided for the development of plugins (modules, dynamic
inventories, callbacks, strategies, etc).

[2018-02-05 17:52] #35719 closed, assigned to nobody

[2018-02-05 17:57] jseiser opened #35738 "ec2_tag Docs need updated."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### SUMMARY

https://docs.ansible.com/ansible/latest/ec2_tag_module.html

The excample for a tagging all volumes no longer works.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected to tag all volumes.

##### ACTUAL RESULTS
[localhost]: FAILED! => {     "msg": "The task includes an option with an undefined variable.

[2018-02-05 17:58] alikins commented on #35718
cc'ing @bcoca

[2018-02-05 18:01] alikins commented on #35718
@rvgate was the 'playbook.yml' and '--check'' run together on the actual command line?

ie, you pasted a cli with no host file _and_ playbook.yml and --check run together:

[code]

Was that actually command for that error output or a typo  in the bug report

[2018-02-05 18:03] alikins commented on #35718
@rvgate assuming 'ansible-playbook playbook.yml -i playbook.yml --check --diff -vvvvv' as in the error paste. Since there is a '---' mentioned in the error. But just confirming since a rogue '--' could cause it's own oddness.

[2018-02-05 18:09] TheFriendlyCoder opened #35739 "Variables defined in blocks don't propagate to handlers when using include_role task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS control machine, CentOS 7.4 guest

##### SUMMARY
When using the `block` task, with an embedded `include_role` task, it appears that any variables defined within the block don't get propagated to handlers that run as part of the included rol

[2018-02-05 18:11] TheFriendlyCoder commented on #35739
NOTE: If you rework the block declaration from step 1 above so the variable declarations are associated with the include_role task then the output is as expected.
[code]
The problem here is that the variable declarations can no longer be shared by the other tasks in the block.

[2018-02-05 18:23] #33029 closed, assigned to Qalthos

[2018-02-05 18:24] alikins commented on #35714
I can reproduce that this works in 2.4.0.0-1, and fails in 2.4.1.0-1. It also fails with stable-2.4 and devel
but with a different error.

2.4.0.0

[code]

2.4.1.0-1, stable-2.4, devel
[code]

[2018-02-05 18:28] alikins commented on #35739
This sounds a lot like https://github.com/ansible/ansible/issues/35542  ?

[2018-02-05 18:32] alikins commented on #35738
pinging @dharmabumstead

[2018-02-05 18:33] alikins commented on #35725
pinging @Ghilli3 @gundalow

[2018-02-05 19:08] gregswift opened #35745 "include_vars should not error on files with non-matching extensions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the [include_vars](http://docs.ansible.com/ansible/latest/include_vars_module.html) module if the directory or any of its nested directories contain a file that doesn't match the default or defined extension the task will

[2018-02-05 19:35] abadger commented on #35613
I've opened #35748 so that we don't throw the NameError anymore.  As jhawkesworth is saying, I think that will just get us a better look at what the underlying cause of the problem is, though.  We'll need a further fix for that.

[2018-02-05 20:32] JoshuaSeidel opened #35751 "ecs volumes"
##### ANSIBLE VERSION
2.4

##### COMPONENT NAME
ecs_taskdefinition

having a issune with the following Anisble 2.4 and ecs_taskdefinition module
[code]

im getting

[code]

can anyone tell me what im missing?

[2018-02-05 20:42] maxamillion commented on #35739
@alikins that one ended up being unrelated to `include_role` as currently described in the issue ticket.

[2018-02-05 20:49] ryanprior commented on #21595
I see that `conjur_variable.py` is one of the many files implicated here, but unfortunately I have no insight into this issue and it appears that @alikins was not necessarily using that plugin when producing the error.

[2018-02-05 20:50] kneufeld commented on #33753
I can verify that adding `encrypted: yes` fixes this issue when run against PSQL 10

[2018-02-05 21:51] #35629 closed, assigned to nobody

[2018-02-05 21:55] burton-scalefastr opened #35755 "If 'service' isn't installed then by definition it is 'stopped'"
If you call:

[code]

And the service isn't installed, that should return successfully.

If something isn't installed then by definition it's stopped. Right now it gives an error.

[code]

It should succeed.

[2018-02-05 22:14] giovannisciortino commented on #31676
I have reproduced your issue also on ansible 2.5.0 (devel dd9b2c0774) last updated 2018/02/05 21:58:27 (GMT +200).
I'm not sure that this issue is a bug report but I think that it's a feature enhancement because the definition of enabled option reported in the documentation is:
[code]

The argument enabled allow to start(or avoid to start) service on boot executing the command "chkconfig <service_

[2018-02-05 22:36] samdoran commented on #28721
I didn't get this in to 2.4.3 (I was out on paternity leave) but this will be in 2.4.4.

[2018-02-05 22:45] giovannisciortino commented on #35356
I tried unsuccessfully to reproduce the bug described in this issue using ansible 2.3.2.0 and on ansible 2.5 on Fedora 26.
In both case the output of your example playbook is:

[code]

I observe "fails_on_host_two -> rescue_one -> rescue_two on host_two" and I'm not observing the execution of task "cannot_change" on the second node(localhost using my inventory).

Have I understand correctly the bu

[2018-02-05 22:47] bcoca commented on #35446
@wknapik that is different, the setting controls the shell used for executing modules, not the shell used by the shell module.

[2018-02-05 23:01] brainclots commented on #33993
https://gist.github.com/brainclots/5bfe6d40e105264fcd3e28bcbf7a0290

Solved, sorta, which leads to another issue...

On Mon, Feb 5, 2018 at 9:03 AM Chris Alfonso <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again?"

[2018-02-05 23:05] willthames commented on #35724
Glad I helped find a (different) bug! I suspect this must be OS X related somehow if you can't reproduce it - I'd have thought I'd have noticed this earlier if it was on all platforms, but OS X is my hobby development environment.

I bisected where it breaks to that very commit, so it's definitely related, but I'll have to investigate this harder later as it's clearly an edge case of some kind.

[2018-02-05 23:10] bcoca commented on #35755
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The action 'stopping an existing service' is not the same as stopping a 'non existing service', the resulting error is expected. Changi

[2018-02-05 23:10] #35755 closed, assigned to nobody

[2018-02-05 23:11] bcoca commented on #35724
so reverting this #35733, fixes it for me on other platforms, don't have OS X but it seems really wrong if so.

[2018-02-05 23:14] ssokolow commented on #29211
Yes. It's still a problem. When I turn off my workaround, running through a list of 11 packages with NPM takes over 50 seconds to confirm that no changes needed to be made.

The overhead of spinning up a copy of npm results in nearly 5 seconds per package with no `pkg1,pkg2,pkg3,pkg4` syntax like the `apt` module has for amortizing the fixed costs across all requested packages.

[2018-02-05 23:28] sevagh commented on #14131
I suggest you use the [synchronize module](https://docs.ansible.com/ansible/latest/synchronize_module.html) as an alternative if you desire remote/remote copy with recursion.

[2018-02-06 00:12] wknapik commented on #35446
@bcoca - well, you say that...
[code]
Works for me.

[2018-02-06 00:15] willthames commented on #29872
Does the workaround above work for you?

[code]

One problem we have is that we don't know if moving to v4 signatures for the whole of the S3 module will cause other breakages elsewhere

In an [AWS forum message](https://forums.aws.amazon.com/message.jspa?messageID=681392) another fix from the code side is to do

[code]

We could therefore add a `use_v4_signature` parameter defaulting to `False` b

[2018-02-06 00:22] dgm commented on #29872
I did try the environment trick, with no success.

`    - name: get app source
      aws_s3:
        aws_access_key: "{{ lookup('ini', 'aws_access_key_id section=default file=~/.aws/credentials') }}"
        aws_secret_key: "{{ lookup('ini', 'aws_secret_access_key section=default file=~/.aws/credentials') }}"
        bucket: my_bucket
        object: /files/my_app.tar.gz
        dest: /home/app/my

[2018-02-06 00:23] dgm commented on #29872
ugh, that didn't format well

[2018-02-06 00:23] dgm commented on #29872
here's a better formatted gist:  https://gist.github.com/dgm/ef28176dbfeb6e79e8965bff76515843

[2018-02-06 00:25] willthames commented on #29872
I edited your comment - you just needed triple backticks for multiline code block

[2018-02-06 00:25] willthames commented on #29872
Ok, thanks for letting me know, I'll implement plan B.

[2018-02-06 00:34] dgm commented on #29872
In the meantime, my workaround is to install awscli and use it to download. :)

[2018-02-06 01:20] mmercer-apixio opened #35757 "Ansible with Packer provisioner and variable inheritted ansible_ssh_private_key are incompatible"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
Ansible / group_vars / variables?

##### ANSIBLE VERSION
irrelevant

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
irrelevant

##### SUMMARY
Packer invoking ansible as the provisioner and inheriting group vars with ansible_ssh_private_key can discard the packer key that is required to authenticate, thus making it impossi

[2018-02-06 02:01] X-Mars commented on #35645
everyone have any idear？thks

[2018-02-06 02:13] isaacegglestone commented on #10695
+1

[2018-02-06 02:35] isaacegglestone commented on #10695
+1

[2018-02-06 02:57] Akasurde commented on #33753
@kneufeld Thanks for reporting back.

[2018-02-06 03:08] bcoca commented on #35446
i did not say it wouldn't work, but it is not 'on purpose', but a side effect, it was not meant as a default for the 'shell' module just what to use when executing modules.

[2018-02-06 03:19] k-nishigaki commented on #18305
I had this problem, and resolved by your comment. thank you so match.

[code]

[2018-02-06 03:56] bcoca commented on #35420
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-06 03:56] #35420 closed, assigned to nobody

[2018-02-06 04:01] Akasurde commented on #34632
resolved_by_pr #35696

[2018-02-06 04:26] bcoca commented on #35317
so you have 3 connect timeouts, the last one should 'win' but i suspect its being added to the proxy command. IIRC the default is the first one, which you can override, but not sure you are doing so correctly.

In any case this seems more like a user question than an actual bug, it IS configurable per host, but you seem to be mixing in several things.

[2018-02-06 04:36] kneufeld commented on #33753
It's the least I can do for the privilege of using a fantastic tool like Ansible.

[2018-02-06 04:43] pb60704 commented on #35603
Is anyone looking into this?

[2018-02-06 05:00] #35368 closed, assigned to nobody

[2018-02-06 05:14] willthames commented on #29872
@dgm those aws_secret_key and aws_access_key lines really shouldn't be required (it should default to ~/.aws/credentials)

[2018-02-06 05:45] anosek-verimatrix commented on #35710
Did you try to use option='  interval' as the parameter to the ini_file module? It means including those white-spaces in the option name.

[2018-02-06 05:45] Akasurde commented on #25823
Related to https://github.com/ansible/ansible/issues/33753

[2018-02-06 05:49] anosek-verimatrix commented on #33856
To solve the atomicity part of the problem, you can make a copy, modify the copy, and overwrite the original file as I suggested above.

[2018-02-06 05:51] skylerbunny opened #35760 "Description of Ansible 2.0 loops make no sense with 'loop' keyword"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs/docsite/rst/playbooks_loops.rst

##### ANSIBLE VERSION
devel

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Introduced by https://github.com/ansible/ansible/commit/d84df2405dc84c1af5d41ddf9c0c2b1d499026f4#diff-ed4cf2b5581bf5330f4045724053368e . Discussing how to work around the lack of the ```loop_control``` keyword i

[2018-02-06 06:39] ganeshrn commented on #33993
This seems to be an issue with the way `ansible_become` is enabled in your environment.
Please refer this doc for network best practices
http://docs.ansible.com/ansible/devel/network_best_practices_2.5.html

[2018-02-06 06:40] #33993 closed, assigned to ganeshrn, trishnaguha

[2018-02-06 07:00] willthames commented on #29872
#35761 should be a reasonable implementation. However, my tests show that enabling v4 signature was not required - I'm not sure if that's due to boto3 being updated to use it. If anyone finds that downloading aws:kms encrypted files requires the signature, try the module with `use_v4_signature` set to True

I'd appreciate some testing, particularly by those people who've requested custom KMS keys

[2018-02-06 07:01] willthames commented on #29872
Oh, and if you have any feedback on the PR, please leave that feedback on the PR, not here!

[2018-02-06 07:24] yakiryu commented on #19584
@ninjakitteh69 @riteshpuj2013 :+1:   It works for me , thank you!

I just run this three commands  , the error had been solved ！
----- yum reinstall sshpass -y
----- ssh-agent bash
----- ssh-add <path to private key>

My error message like this :
[ ~]$ ansible yylending -m ping
 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: no such identity: /app/key/

[2018-02-06 07:32] kernelv5 commented on #32575
**I tried different way: volume_type: gp2**
volumes:
          -
            delete_on_termination: true
            device_name: /dev/sda1
            volume_type: gp2
            encrypted: false
            volume_size: 100

it's works fine. I am not sure why device_type is not working whereas it present in Ansible document.

[2018-02-06 07:39] #35603 closed, assigned to nobody

[2018-02-06 08:20] cvanniekerk commented on #35388
@Akasurde Thanks for fixing this and merging!

[2018-02-06 08:20] #35388 closed, assigned to nobody

[2018-02-06 08:22] Akasurde commented on #35388
@cvanniekerk Thanks for reporting this issue and feedback.

[2018-02-06 09:04] juanvalino commented on #14422
Bug is not fixed. Seems that one of the lasts versions introduced this problem again.

Dynamic inventory created by add_host is not used by delegate_to.

[2018-02-06 09:06] jwg4 commented on #20554
This should be reopened. The reason it has not been updated is that the OP is not the OP of the original issue on the other repo - this thread consists of two bots talking to each other.

[2018-02-06 09:26] ymartin59 opened #35764 "Add human_to_bytes filter in documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`human_to_bytes`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Please document built-in filter `human_to_bytes` visible at https://github.com/ansible/ansible/blob/09f4242ce425333521c633d2cf274b4b103ba658/test/integration/targets/filters/tasks/main.yml#L74
Revival of  #24165

##### EX

[2018-02-06 09:38] Phhere commented on #16254
Is any bugfix planned ? Currently the rescue block is without any function

[2018-02-06 09:41] shajay12 commented on #31991
i will try this and inform you.

On Tue, Feb 6, 2018 at 12:18 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-02-06 09:50] jbertozzi commented on #2769
I had the issue in a filter. I used '\s' as workaround:
debug: msg={{key.stdout | regex_replace('^sshPublicKey:\s(.*)$', '\1') }}

[2018-02-06 09:51] wknapik commented on #35446
To me, that calls for the introduction of `ansible_shell_interpreter`, as I originally suggested.

If the current effect of `ansible_shell_executable` on the shell module were to change, the users who rely on this behavior would have to be given a reasonable way out...

I suppose few would actually need to execute all modules with shell X and use shell Y with the `shell` module, but for those few,

[2018-02-06 09:52] iverona opened #35766 "URL to Nuage ClassName full list in type option documentation is broken"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

nuage_vspk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
None

##### SUMMARY
The link under type option is wrong:

file:  ansible/lib/ansible/modules/network/nuage/nuage_vspk.py

Extract:
[code]
##### STEPS TO REPRODUCE
None

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-02-06 10:03] akcrisp opened #35767 "Block - rescue not called when uri module returns fail"
##### ISSUE TYPE
 - Bug Report
 ##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/playbook/block.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default no changes

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY

Using block around a uri task, force the uri module to fail (pass it invalid http address), the uri reports fail for each host, and it shows in awx output as failed fo

[2018-02-06 10:18] rvgate commented on #35718
@alikins typo in the bug report, will change it... my apologies

[2018-02-06 10:19] rvgate commented on #35718
@alikins You can see the exact command as part of the debug output

[2018-02-06 10:20] dshuvar commented on #26670
For ubuntu 16.04 command `sudo pip install -U pyOpenSSL` fixed it for me.

[2018-02-06 10:20] ymartin59 opened #35768 "stat module does not report LV block device size"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
stat

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Debian Linux with LVM

##### SUMMARY
When requesting LV device size with `stat`, it reports zero size and number of blocks.
(My aim is to check LV size in a `when` condition against `lvol` to avoid `Sorry, no shrinking` message)
In fact, I am almost sure it was

[2018-02-06 10:36] amolkahat commented on #19939
I'm not able to see this issue in upstream version.
@GriffithLea  can you please check it with the latest version.

Version: ansible 2.5.0

##### Playbook
[code]
##### Output (Removed cows)
[code]
##### Remote machine output
[code]

[2018-02-06 10:47] merloon commented on #35721
Hi,

Changing the vmware.py file, the error disapear.
But it don't want to create the vm with 2 additionnal disks.
I've got this error:
Given disk size is smaller than found (6291456 < 36700160). Reducing disks is not allowed

[code]

[2018-02-06 11:02] Akasurde commented on #35721
@merloon Thats great. Could you please paste the playbook and `-vvv` output so that we can debug it ?

Also, could you please mark "shipit" on PR ?

[2018-02-06 11:07] Xiol commented on #19968
Hi,

I'm also having this issue. If I comment out the 'priv' option it works (but then I don't know what privs it's actually setting?).

My steps to reproduce are pretty much identical:

[code]

[2018-02-06 11:14] merloon commented on #35721
Hi,

Find informations below:
- task
[code]

- output

[code]

[2018-02-06 11:21] aklemp commented on #14131
Thank you very much for your hint with ```synchronize```. I tried it but for me it doesn't work for two reasons.

* ```synchronize``` can keep the owner/group or it can assign the owner/group of the executing user (in this case ansible user or root). However, I'd like to set the owner/group to something else and I cannot simply set it afterwards because the destination directory already contains f

[2018-02-06 11:27] chris7444 commented on #32000
@merloon I have been working on that yesterday and found out that with 2.3 when willing to create a VM in a folder, I specified /myfolder. Now with 2.4, I should specify /<datacenter_name>/vm/myfolder

 tasks:
    - name: Create VMs without a data drive
      vmware_guest:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }

[2018-02-06 11:30] dkirrane commented on #35388
Does this support creating a **Datastore** folder also?
![image](https://user-images.githubusercontent.com/1280116/35857423-07740702-0b31-11e8-92ef-c4e3be7c0543.png)

[2018-02-06 11:42] tchernomax commented on #35388
@dkirrane yes
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vcenter_folder.py#L53

[2018-02-06 11:46] dagwieers commented on #35340
We need feedback ASAP, the release date for Ansible v2.5 is closing in and there's not a lot of time to fix what's broken, or improve what's limited. So please test today or tomorrow.

[2018-02-06 11:47] dagwieers commented on #34587
We need feedback ASAP, the release date for Ansible v2.5 is closing in and there's not a lot of time to fix what's broken, or improve what's limited. So please test today or tomorrow.

[2018-02-06 11:53] Jean-Daniel opened #35771 "influxdb_user does not support setting privileges"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

influxdb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The influxdb_user module provide as `admin` parameter, but don't provide a way to choose which privileges to grant on the new user. There is actually no way to create a read-only user.

##### STEPS TO REPRODUCE
N/A

##### EXPECTE

[2018-02-06 11:54] willthames commented on #35724
bin/ansible runs `shutil.rmtree(C.DEFAULT_LOCAL_TMP)` at the end - it's this that cleans up the remote files.

I think before the change in question, the remote files directory was under something other than `C.DEFAULT_LOCAL_TMP`

Before: ` /Users/will/.ansible/tmp/ansible-tmp-1517917593.4-271581342652258/stat.py`

After: `/Users/will/.ansible/tmp/ansible-local-174741XInKU/ansible-tmp-1517917518.3

[2018-02-06 12:02] dkirrane commented on #34746
@Akasurde That should solve it. I'll try that once merged to master. Thanks

[2018-02-06 12:25] liyaka commented on #29607
@yuwzho How is it solved? Id there an option to define virtual_network_resource_group in azure_rm_networkinterface?

[2018-02-06 12:32] Jean-Daniel opened #35772 "become / become_user fails with Permission denied"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become / become_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Host OS: macOS
Target OS: Ubuntu Bionic

##### SUMMARY

When running a task using become: yes and become_user something else than root, the task fails with an error like:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The tasks is

[2018-02-06 12:33] zhhuta commented on #35771
This module is tied to influxdb python module and when you create user you can set it as admin or not.
I will think how it is possible to extend this module or create another to granting privileges to particular user on specific db.

[2018-02-06 12:47] amolkahat commented on #32675
@ruben-herold  I tested this on the upstream build. I did not see an issue.

##### Paybook
[code]

##### Result on Remote machine
[code]
If you are still facing an issue, can you please paste an example? If not then @Akasurde will close this issue.

[2018-02-06 12:51] dgm commented on #29872
Without the lookup lines, I was getting a permission denied error....   Oh, I should mention, I'm running this on the remote host, not locally.   I'm using my local creds to connect from the remote so it doesn't have to store them on the remote.

But in other news, right now that environment snippet is working, but I haven't tried to pull your changes yet.    I'm at a loss right now - it's just th

[2018-02-06 13:00] Jean-Daniel commented on #35772
Reverting to a revision prior to bbd6b8bb42cc8fa48157ce5db0efb0a836c94917 fixes the issue.

[2018-02-06 13:17] shajay12 commented on #31991
Hi Abhi,
here is the playbook.  The machine is formed in vmware vsphere, but with another folder also named as

replica-e040a406-2f24-4c53-b719-67f42c1b9115
cloneofwfs

at last i have also give full run output.

cat us_vm.yaml
---
- name: Deploy VM on XXX.XX.2.103
  hosts: localhost
  gather_facts: no
  vars_prompt:
  - name: templatename
    prompt: Supply template name
    default: "CENTOS7-ENT-

[2018-02-06 13:36] Akasurde commented on #32675
@ruben-herold Could you please try @amolkahat playbook ? and let us know if it works for you.

needs_info

[2018-02-06 13:41] bcoca commented on #35446
this is a subset of 'defaults for modules' which we do not have a facility for.

closing as dupe/subset of https://github.com/ansible/proposals/issues/81

[2018-02-06 13:41] #35446 closed, assigned to nobody

[2018-02-06 13:41] lkanthinfoblox opened #35774 "Not able to modify the name of existing host record with "nios_host_record" module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios_host_record

##### ANSIBLE VERSION

- ansible==2.5.0

##### OS / ENVIRONMENT

- Ubuntu

##### SUMMARY

- Not able to modify the name of existing host record when running a playbook with "nios_host_record" module.

##### STEPS TO REPRODUCE

- Run a playbook to create Host record with name as 'abc' in 'test.com' zone

[code]

- Now run ag

[2018-02-06 13:48] bcoca commented on #35724
so those are 'local files' not really remote, which has been removed on controller (or attempted to) for a while now.

My tests were with 'remotes', let my try using local to see if there is some short circuit that is imposing the 'local tmp' setting vs the 'remote tmp' setting.

[2018-02-06 13:51] bcoca commented on #35724
found the culprit `  new_host.set_variable("ansible_remote_tmp", C.DEFAULT_LOCAL_TMP)`
this is new var added to the 'implicit localhost' ... sooo .. `ANSIBLE_KEEP_REMOTE_FILES` "still works" but the 'local cleanup' is tacked on top ... i'll remove the setting and we should be back to normal.

[2018-02-06 13:51] azaghal commented on #35687
@jelinekb Are you on the same distro as issue reporter? (I'll start looking into this issue)

[2018-02-06 14:00] Jean-Daniel commented on #35771
The python module also provide a way to grant privileges to the user.

There is a client.get_list_privileges() function to get the privileges which returns one of 'ALL PRIVILEGES' / 'READ' / 'WRITE' / 'NO PRIVILEGES'.

And a client.grant_privilege() and client.revoke_privilege() methods that take one of 'ALL' / 'READ' / 'WRITE' to set privileges.

Note that the client.grant_privilege() will replac

[2018-02-06 14:12] zhhuta commented on #35771
I got you request. but if you look on ```create_user(self, username, password, admin=False)```
you may notice that it create use as admin or not.
```grant_privilege(self, privilege, database, username)``` is another function and depend on databases: so i have to spend some time to add this functionality in a proper way and keep module usability as it is.

[2018-02-06 14:13] Akasurde commented on #24729
@mvrk69 Could you retry with latest 2.5alpha1 release and let me know if it works for you ?

needs_info

[2018-02-06 14:30] mohtashims commented on #35717
I have found where the issue lies and updated the original post. Can you please provide the solution or bug-fix ??

[2018-02-06 14:39] azaghal commented on #35687
@SethosII The issue you are facing is due to `dconf` module's dependency on `psutil>=4.0.0`. What version of `psutil` package are you using in your invocation? Looking at available package version in Linux Mint 18.3, this is probably `3.4.2`. As a side-note, this is a documented requirement in docs, but if it could be made clearer in some way, let me know.

@jelinekb Your issue is completely diffe

[2018-02-06 14:55] JoshuaSeidel opened #35777 "ECS taskdefinition module volumes"
having a issue with the following Anisble 2.4 and ecs_taskdefinition module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_taskdefinition

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Linux

##### SUMMARY

Volume is not getting created, erroring out that its missing information

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

based on documentation it should create the

[2018-02-06 15:00] jdschmitz15 opened #35778 "Cant get async_status to find job_id - "could not find job""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION

##### OS / ENVIRONMENT
Running ansible on MAC - accessing Ubuntu 16.4 to run commands.  Ubuntu 16.4 is running LXD.

##### SUMMARY
I'm trying to issue commands to a machine and validate th

[2018-02-06 15:06] dagwieers opened #35779 "Make Syntax Highlighting work in Ansible Documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
2.3, 2.4, devel

##### SUMMARY
I noticed that none of the YAML blocks in the documentation are properly syntax highlighted. I don't know if they ever were, but I guess they should be.

So the following example is correctly highlighted in Github:
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/

[2018-02-06 15:29] azaghal commented on #35659
@jniederm I've just performed a fresh install of Fedora 27 on a VM, and not sure I can reproduce your issue, or to be more precise - not sure what the issue is.

On fresh install, running either `dconf read /org/gnome/calculator/base` or `dconf read -d /org/gnome/calculator/base` results in same value - empy output (which gets translated to `None`/`null` in case of Ansible `dconf` module. E.g. the

[2018-02-06 15:43] Jean-Daniel commented on #35771
OK. This was just some hints to help you work on it when you have time.

You are right that privileges are database depend, so maybe an other module is the right way to support them. Anyway, thanks for your work on all these influx modules :-)

[2018-02-06 15:54] #20986 closed, assigned to nobody

[2018-02-06 16:02] Mixer9 opened #35783 "vmware_guest item undefined when looping for multiple disks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
VMware 6.0
VCenter 6.0

##### SUMMARY

I get an error stating "item" is undef

[2018-02-06 16:03] Mixer9 commented on #35783
CC @maxamillion

[2018-02-06 16:13] abrahammartin commented on #25337
I can reproduce the same problem with ansible 2.4.1 and python 3.5.1.

    - synchronize:
      # picks any random node in cluster except the current one to copy the files from
        src: "root@{{ groups['xenhost'] | difference([inventory_hostname]) | random }}:/etc/xen/"
        dest: /etc/xen/
        rsync_opts:
          - '--include="*.cfg"'
          - '--exclude="*"'
        mode: pull

[2018-02-06 16:24] bcoca commented on #30877
i think we can still have this in 2.5, just diff approach, just use some of the functions from varsmanager directly instead of consuming the results of `get_vars`

[2018-02-06 16:27] maxamillion commented on #35777
@JoshuaSeidel can you please post that again with the pasted in output surrounded by ``` quotes as per [GitHub Markdown](https://help.github.com/articles/basic-writing-and-formatting-syntax/). Right now it's difficult to sort out because of the whitespace being syntax in yaml. Also, please fill out the templated information that the bot is asking for. Thank you.

[2018-02-06 16:29] jgeorgeson opened #35784 "PropertyNotFound exception using win_uri with creates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No config changes

##### OS / ENVIRONMENT

Control machine is Python 2.7.5 running on CentOS

[code]

Remote is Windows 7 with WMF/PowerShell 5.1

[code]

##### SUMMARY

I'm using the `win_uri` module with the `creates` parameter to avoid repeat downloads and it seems as though when the

[2018-02-06 16:30] bcoca commented on #35498
I don't think this is a correct diagnossis, that function was only for `winrm` connections and has been removed from current code.

Can you post the output of running with -vvvv?

[2018-02-06 16:38] bcoca commented on #10829
you just described what a callback does

[2018-02-06 16:52] SethosII commented on #35687
@azaghal Yes, `3.4.2` is the version of the `python-psutil` package. I didn't take the version into account. Sorry, my fault. So this issue might be closed?

[2018-02-06 16:58] maxamillion commented on #35768
I've verified this is an issue in Ansible 2.3, 2.4, and current devel (2.5). This appears to be an issue with python's `os.stat` method (I tested both python 2.7 and 3.6). The value returned from that is passed along in this module and I've verified in my testing that is returns `st_size: 0` for all LV entries in my local `/dev/mapper/`.

Example:
[code]

[2018-02-06 17:10] maxamillion commented on #35778
Can you reproduce this with Ansible 2.3 or 2.4? Ansible 2.2 is now in the "security bugfix only" phase of it's [lifecycle](https://docs.ansible.com/ansible/latest/release_and_maintenance.html).

[2018-02-06 17:35] zot42 commented on #25718
i use [this](https://gist.github.com/zot42/b0b2c18a030da71a1e1e7989e1d8884d) to switch my profile, it prompts for your mfa token.

you need to have boto, awscli, jq installed and have your ~/.aws/credentials and ~/.aws/config setup appropriately

[2018-02-06 17:39] bcoca commented on #35768
I get 0 blocks and size using command line `stat` directly ... not sure this is a bug or 'how LV works'

[2018-02-06 17:44] gundalow commented on #35625
Once fixed https://github.com/ansible/ansible/pull/35788 needs reverting

[2018-02-06 17:50] maxamillion commented on #35767
I'm unable to verify here.

I've run the following playbook and it functions as expected.

[code]

Can you please provide for information about how you're reproducing the issue?

Thank you.

[2018-02-06 17:50] maxamillion commented on #35767
needs_info

[2018-02-06 17:53] kedmison opened #35789 "Add search_regex to wait_for_connection"
- Feature Idea

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Cleanly rebooting servers during a play and waiting for them to recover is currently full of race conditions.
In a playbook that has a reboot command, followed by a wait_for_connection, the following race scenarios can occur.

1. In a la

[2018-02-06 17:54] maxamillion commented on #35751
@JoshuaSeidel can you please post that again with the pasted in output surrounded by ``` quotes as per [GitHub Markdown](https://help.github.com/articles/basic-writing-and-formatting-syntax/). I think we lost some formatting in the past. Also, please fill out the templated information that the bot is asking for. Thank you.

[2018-02-06 18:01] akcrisp commented on #35767
Interesting - I tried the command module as well instead of uri and that seemed to fail same as well . I wonder if another option in task causing a problem. I will do some more testing
Andy

Sent from my iPhone

[2018-02-06 18:38] #32743 closed, assigned to ganeshrn

[2018-02-06 18:42] #31323 closed, assigned to ganeshrn

[2018-02-06 18:42] #31298 closed, assigned to ganeshrn

[2018-02-06 18:49] akcrisp commented on #35767
Same version of ansible ?

Sent from my iPhone

[2018-02-06 18:53] dgm commented on #29872
And now the environment thing is broken again.   could `aws configure set s3.signature_version s3v4`   that I ran previously also affect the way ansible works?

[2018-02-06 18:56] mvrgotiks commented on #31585
@Akasurde
My apologies for missing your reply.
I will test it asap.
Thank you.

[2018-02-06 19:03] giovannisciortino opened #35793 "lineinfile creating underlying directory doesn't manage exception like permission denied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Fedora 26, target host: Fedora 26

##### SUMMARY
The module lineinfile creating underlying directory (when executed with the option "create=yes" doesn't manage filesystem exception like permission denied and it generate a stack trace.
The same prob

[2018-02-06 19:25] mikewiebe opened #35795 "nxos_vlan module errors out for transport cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OS
NXOS: version 7.0(3)I7(2)

##### SUMMARY
Using the `integration/targets/nxos_l2_interface/tests/common/sanity.yaml` test exposes the crash using the `nxos_vlan` module.

The problem is not present for transport nxapi.

##### STEPS TO REPRODUCE
Exec

[2018-02-06 19:26] mattduguid commented on #22745
Same error "Failed to connect to the host via ssh: Permission denied (publickey,password)." when running an Ansible play that targets the same server the Ansible play is running on (development environment).

If I perform an SSH locally to same server it works fine, just not via Ansible to same server.

In the play if I change "hosts:" to "localhost" or use the following in the command line "--con

[2018-02-06 19:34] mattclay opened #35796 "Increased memory usage in ansible-playbook from 2.4.2 to 2.4.3"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The `git` integration tests consume far more memory under 2.4.3 than they did under 2.4.2.

##### STEPS TO REPRODUCE

1. Apply the [mprof patch](https://gist.github.com/mattclay/c7ee66370ddc15fe649a2e5f289b74f2) to `ans

[2018-02-06 19:36] mikewiebe opened #35797 "nxos_l2_interface idempotence issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_l2_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OS
NXOS: version 7.0(3)I7(2)

##### SUMMARY
Using the `integration/targets/nxos_l2_interface/tests/common/agg.yaml` test exposes the idempotence issue.

Idempotence problem is only present for transport `nxapi`

##### STEPS TO REPRODUCE
Execut

[2018-02-06 19:38] mikewiebe opened #35799 "nxos_l2_interface errors out for transport cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_l2_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OS
NXOS: version 7.0(3)I7(2)

##### SUMMARY
Using the `integration/targets/nxos_l2_interface/tests/common/agg.yaml` test exposes the crash issue.

Problem is only present for transport `cli`

##### STEPS TO REPRODUCE
Execute the `integration/t

[2018-02-06 19:38] maxamillion commented on #35767
@akcrisp oh, actually I tested on Ansible 2.4.3 and not 2.4.2 ... so it's possible that if you're seeing this issue, it's already been fixed in the newer release.

[2018-02-06 19:39] sivel commented on #35796
After bisecting from 2.4.2 to 2.4.3, it seems the spike in memory utilization comes from https://github.com/ansible/ansible/commit/f1c458303a1ad00675497597e1f7fbc0539e314e

[2018-02-06 19:46] akcrisp commented on #35767
aha ok, is 2.4.3 generally available now ?

[2018-02-06 19:52] mikewiebe opened #35801 "nxos_switchport errors out using transport cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_switchport

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OS
NXOS: version 7.0(3)I7(2)

##### SUMMARY
Using the `integration/targets/nxos_switchport/tests/common/sanity.yaml` test exposes the crash issue.

Problem is only present for transport `cli`

##### STEPS TO REPRODUCE
Execute the `integration/ta

[2018-02-06 19:55] maxamillion commented on #35783
@Mixer9 The `with_items` should be on the task and not on the argument to the module. However, that isn't going to net the result you were aiming for because it's going to loop and perform multiple executions of the task. I think the loop isn't needed, the `vmware_guest` module itself accepts a list so I would just construct the list elsewhere as a var and use it as the input to the `disk` arg if

[2018-02-06 19:56] maxamillion commented on #35768
@bcoca +1

[2018-02-06 19:57] trondhindenes opened #35805 "win_group_membership does not support adding "Everyone" to local group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_group_membership

##### ANSIBLE VERSION
[code]

##### SUMMARY
It seems that the win_group_membership module is hardcoded to only accept members of the "user" type. This should probably be expanded to also include other builtin principals. It should be totally acceptable to add for example the "Everyone" security object to a newly created loc

[2018-02-06 20:00] maxamillion commented on #35767
@akcrisp it is, 2.4.3 went stable on Jan 31st. It's currently in `epel-testing` and I'm not sure about release schedule for RHEL Extras. It's also available in the Ansible rpm repos: https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/

[2018-02-06 20:02] akcrisp commented on #35767
cheers, will take a look tomorrow.

[2018-02-06 20:03] #35793 closed, assigned to nobody

[2018-02-06 20:13] Mixer9 commented on #35783
@maximillion yeah ok, that is pretty much what I thought, and if I'm going
to type it all in for a variable, I might as well just type it in under the
task.  I was just trying to be smart and not type it all if I could use a
loop.  thanks I guess its not a bug, but a design feature. :-)

On Tue, Feb 6, 2018 at 1:56 PM, Adam Miller <notifications@github.com>
wrote:

--
Chris Hood
chris.hood@gmail.c

[2018-02-06 20:25] maxamillion commented on #35757
CC @thaumos

[2018-02-06 20:33] azaghal commented on #35687
@SethosII Hey, no worries, for the better or worse I kind of expected this to be somewhat common issue. Thanks for getting back to me, I'll go ahead and close the issue :)

[2018-02-06 20:34] azaghal commented on #35687
Erm... I'll close it if I can, that is :)