[2018-10-23 14:01] owensj8 commented on #46976
@Qalthos It worked for me. Thanks.

[2018-10-23 14:06] cesarfn4 opened #47511 "Add filtering to oVirt/RHEV inventory import to allow selection of inventory host IP"
##### SUMMARY
Currently, the inventory import script for oVirt/RHEV always select the IP address of the first network interface as the inventory host ip. This feature would add filtering to allow the ip address of an alternative interface to be used instead.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ovirt4.py

##### ADDITIONAL INFORMATION
Additional filtering options will allow for ca

[2018-10-23 14:30] IPvSean opened #47513 "possible improvements for group/aws and module_defaults"
##### SUMMARY
There is an [awesome new feature on 2.7](https://github.com/ansible/ansible/pull/44127) with `module_defaults` (documentation is here-> https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html)

basically I can do this->

[code]

and all AWS modules will inherit this default.  This negates having to specify it per module!  The problem is outside of authentica

[2018-10-23 14:32] webknjaz commented on #46519
JFYI fix is going to be released soon: https://github.com/ansible/ansible/pull/47449#issuecomment-432265188

[2018-10-23 14:48] sivel commented on #47509
This is the expected outcome from `run_once`.  The goal is to run the task only once, but with register or set_fact, to apply the result/value to all hosts.

To get the behavior you are seeking, you would instead of `run_once` use a `when` statement such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: htt

[2018-10-23 14:48] #47509 closed, assigned to nobody

[2018-10-23 14:53] webknjaz commented on #47513
That's a curious use case. I'd suggest that we could try filtering defaults to match module args on the controller side as we know module argspecs. This would probably allow us to not pass unacceptable args into modules...

[2018-10-23 14:59] abadger commented on #47513
The original idea was to add onto this feature do that users could specify their own groups.  We did not want to ignore args to prevent typos and to keep unintended args from being defaulted.

[2018-10-23 15:00] blastik opened #47514 "Developing dynamodb get/update/put/delete module"
##### SUMMARY
I'm currently developing a module to query / put / update and delete items from AWS Dynamo DB.
Since it's my first contribution i'm looking for feedback. Is my first approach right? Is it needed for the community? (I do need it for me so I dont mind doing it for everybody

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
dynamodb

##### ADDITIONAL INFORMATION

Please see very fi

[2018-10-23 15:07] bcoca commented on #47513
probably a better implementation is to allow users to define a group:
[code]

[2018-10-23 15:16] willmerae opened #47517 "Command module: ambiguous behaviour when both "creates" and "removes" are specified"
##### SUMMARY
The documentation for `command` indicates `creates` and/or `removes` arguments may be provided. It doesn't specify how these two arguments interact if both are provided.

Inspecting the code reveals the current behaviour: return OK if the creates path exists, or the removes path does not exist. In effect the conditions are combined with OR.

I intend to submit a PR, but I'm unsure if

[2018-10-23 15:36] webknjaz commented on #47517
Honestly, it requires looking up the code for me. It seems that satisfying one of them is enough for operation abortion:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/commands/command.py#L228-L250

[2018-10-23 15:45] Alb0t commented on #47131
I also do not have secure path set. I do not wish to change my sudoers file just to be able to reboot using ansible.. this is really silly..

[2018-10-23 15:48] markdorison commented on #46650
I am experiencing this issue as well.

[2018-10-23 16:04] s-hertel commented on #47488
@Barathwaja Can you clarify your question? I've listed a number of ways you can use IAM roles in a straightforward way. You can pass in the secret key, access key, and security token (the STS credentials) after you've assumed a role, if you want.

[2018-10-23 16:08] blastik commented on #47514
@webknjaz sure. I understand and I will make a PR however I was looking for a more initial feedback (that's why I pasted the link to my fork) because maybe the module is not needed or maybe I need to improve the exiting one (dynamodb_table) I think it's called.

[2018-10-23 16:08] #47454 closed, assigned to sivel

[2018-10-23 16:12] mfish82 opened #47521 "vmware_host_datastore: Add functionality to format LUN to convert to datastore or provide new module"
##### SUMMARY

Currently, there is no way to take a LUN and format it to a datastore. Having this ability allows the use of Ansible for new VM pod deployments. After formatting, then new storage drive can be

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_datastore

##### ADDITIONAL INFORMATION

[2018-10-23 16:17] Barathwaja commented on #47488
@s-hertel I found your question like using STS Assume Role way, I have asked is there any future ideas of implementing something like automatically picks up and applies to aws s3 module so that only we can enable iam in that module something like that.. And the options you gave is appreciable and thanks.

[2018-10-23 16:23] mprinc commented on #32547
This could be a way to do it:

[Changing a deeply-nested dict variable in an Ansible playbook](https://www.jeffgeerling.com/blog/2017/changing-deeply-nested-dict-variable-ansible-playbook)

[2018-10-23 16:33] netixx commented on #46944
I tried a fix where I used a regex `\(config.*\)#` to match the config prompt (changing the endswith test with the regex) which was successful when using both normal mode and maintenance mode.

[2018-10-23 16:39] #47085 closed, assigned to maxamillion

[2018-10-23 16:40] willmerae commented on #47517
I came to the same conclusion. I'm asking: is this is the desired behaviour?

I'll submit a PR to correct and/or document whatever is decided.

[2018-10-23 16:41] #43624 closed, assigned to maxamillion

[2018-10-23 16:41] kr4ut commented on #30112
To be precise it just fails in check mode when not providing the "path" option to the module. As no user is present on the system there's no input to grab for the defaults "(homedir)+/.ssh/authorized_keys". The error message explains that quite good with `Either user must exist or you must provide full path to key file in check mode`. Only way to fix it is to assume a preset "homedir" in check mod

[2018-10-23 16:44] Barathwaja commented on #47488
@s-hertel thanks mate :) Appreciate your help.. !!

[2018-10-23 16:52] sivel commented on #47437
What happens if you run the `ec2.py` script like `python ec2.py --list`?

needs_info

[2018-10-23 16:56] sivel commented on #47503
Duplicate of https://github.com/ansible/ansible/pull/46585

[2018-10-23 16:56] #47503 closed, assigned to nobody

[2018-10-23 17:01] justjais commented on #45090
@depereo sure, thanks for the update.

[2018-10-23 17:02] sivel commented on #47376
I cannot duplicate this issue:

[code]

It sounds as if you have a local configuration issue or a transient failure communicating with the PPA repository.

needs_info

[2018-10-23 17:05] fgiorgetti opened #47525 "java_keystore module is not working when private key has a passphrase"
##### SUMMARY
The java_keystore module does not work when my private certificate has a passphrase (without a passphrase, it is working as expected). It hangs waiting for the passphrase to be entered via stdin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
java_keystore

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: RHEL 7 x86_64
Python: 2.7.5
Tested

[2018-10-23 17:06] sivel commented on #47411
Please see the following documentation on this subject: https://docs.ansible.com/ansible/latest/dev_guide/debugging.html#debugging-remote

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-23 17:06] #47411 closed, assigned to nobody

[2018-10-23 17:32] ryansb commented on #39734
Since ec2_instance does support this, I'd recommend switching to it if possible when using IPv6 subnets.

[2018-10-23 17:32] #39734 closed, assigned to nobody

[2018-10-23 17:49] sapphire-janrain commented on #46519
Thanks for the quick work. ^^

[2018-10-23 18:06] alainchiasson-guavus commented on #46508
Ok, makes sense. Sorry for the side track. - on idempotency. The original questions - I still think there is value in being able to query. These also show up in azure, aws, and gce.

I will continue with the implementation, and look to expanding the search fields.

[2018-10-23 18:40] craigcalef opened #47526 "PagerDuty module uses decommissioned v1 PagerDuty API"
##### SUMMARY
PagerDuty has decommissioned their v1 API endpoints.  As a result, the pagerduty Ansible window which uses them no longer functions.

https://v2.developer.pagerduty.com/docs/v1-rest-api-decommissioning-faq

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pagerduty

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2018-10-23 18:40] mirochon opened #47527 "iosxr_command tasks cannot be retried in the case of connection errors since Ansbile 2.5"
##### SUMMARY
retries are not taken into account when device is unreachable, like during a reboot.
seem to be same issue, but this time with iosxr_command
https://github.com/ansible/ansible/issues/42340

##### ISSUE TYPE
- Bug Report
iosxr_command
##### ANSIBLE VERSION
2.5 to 2.7
was working with 2.4.5

##### COMPONENT NAME
iosxr_command

##### CONFIGURATION
- name: test timeout
  hosts: all
  con

[2018-10-23 18:49] craigcalef commented on #47526
This PR seems to address the issue: https://github.com/ansible/ansible/pull/42618

[2018-10-23 19:03] nwsparks opened #47528 "ec2_asg_facts fails when using launch template instead of launch config"
##### SUMMARY
After updating my auto scaling groups to use launch templates instead of launch configurations, ec2_asg_facts module fails with `KeyError: 'launch_configuration_name'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2 OS, running command against localhost

##### STEPS

[2018-10-23 19:33] nitzmahone opened #47529 "inventory_plugins dirs are ignored"
##### SUMMARY

Playbook-adjacent `inventory_plugins` dirs are not being added to the pluginloader lookup for inventory plugins. This prevents them from being loaded without explicitly adding the dir to config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

InventoryManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Dro

[2018-10-23 19:41] ishant29 commented on #40884
Do you have a link for guidance if I can pull network_cli.py script and
check if it works with 2.6??

On Tue, Oct 23, 2018, 1:37 AM Ganesh Nalawade <notifications@github.com>
wrote:

[2018-10-23 19:45] coreywan opened #47531 "NIOS Deletes identical record in secondary View"
##### SUMMARY

When testing functionality of the `nios_cname_record`  module, one of my team members noticed that if you want to apply the same CNAME record into two or more views, it will remove the previous CNAME record from the other DNS view.  In our case, we want to have a CNAME record present in our External view, and Internal DNS View.

 Looking through the code, it looks like this will be

[2018-10-23 19:50] imthenachoman opened #47532 "In what Python file does Ansible formulate the command that executes on the target?"
##### SUMMARY
Looking through the source code I can see that Ansible uses the `become*` flags when putting together the command that will inevitably be run on the target host. But all the references I see are in the `test` files -- I assume for testing or example purposes.

Based on my output I can tell the command it ends up with is something like:

    {become_method} {become_flags} -u {become_u

[2018-10-23 19:52] sivel commented on #47532
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-23 19:52] #47532 closed, assigned to nobody

[2018-10-23 20:10] damaca commented on #46476
Thanks for the update!

[2018-10-23 20:15] zerok opened #47534 "Variable value causes templating to fail"
##### SUMMARY

I'm currently trying to run a command on multiple hosts and therefore need to pass a variable that might contain `{%` inside it. Sadly, this fails somewhere in the templating layer :(

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Not sure.

##### ANSIBLE VERSION

[code]

Also reproducible in f28b7c7ab1b58201977ee73644f113c1a32cba1b

[code]

##### CONFIGURATION

[code]

#####

[2018-10-23 20:18] geerlingguy commented on #15817
Also as of (I think) 2.7.0, using a comparison like:

    ansible_os_family == 'RedHat' and ansible_distribution_major_version|int < 7

Results in the deprecation warning:

[code]

[2018-10-23 20:33] fxfitz opened #47536 "terminal_plugins directories are ignored"
##### SUMMARY
When creating a terminal_plugins directory adjacent to your playbooks, the plugins are not getting automatically loaded.  The only way I've been able to get around this is to explicitly set the terminal_plugins directory location in the configuration (via both an INI file and an environment variable).

I have observed this behavior in Ansible 2.7.0 and 2.6.6.

[code]

##### ISSUE TYP

[2018-10-23 20:34] fxfitz commented on #47529
This _may_ relate to https://github.com/ansible/ansible/issues/47536 :-)

[2018-10-23 20:51] bcoca commented on #47529
All playbook plugin dirs get loaded here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/__init__.py#L70

But again this happens AFTER inventory is initially run.

[2018-10-23 20:51] bcoca commented on #47536
can you run with -vvvvv and ANSIBLE_DEBUG to get the plugin loading actions in the output?

needs_info

[2018-10-23 20:53] philipsd6 opened #47537 "Local delegate_to docker container fails for non-root users even with become=true"
##### SUMMARY

A local playbook with `become: true` that is delegating to a docker container does not work unless the user belongs to the docker group, or the playbook is run via `sudo`, despite the `become` setting indicating that commands should be run as root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker connector

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2018-10-23 20:57] sivel commented on #47537
`become` does not influence the way that connection plugins themselves are executed.

The connection plugins locally shell out to the docker commands, because of this, it requires the user you run ansible as, to have access to communicate with the docker daemon via the docker CLI.

This is why running the playbook via `sudo` allows for this to work.

`become` will influence the commands that would

[2018-10-23 20:57] #47537 closed, assigned to nobody

[2018-10-23 21:13] philipsd6 commented on #47537
Ok, so semantically `--become` influences the commands that are run on the target, and in this case, the target is the container. Makes sense. But wouldn't it then make sense to have a parameter on the connection plugin that influences the commands **it** runs?

[2018-10-23 21:14] jcheroske commented on #46073
This seems like a crippling bug. Without the aforementioned hack, machine accounts appear to be unusable.

[2018-10-23 21:32] ishant29 commented on #40884
Upgraded to 2.7.0, still an issue.

[2018-10-23 21:47] jose-delarosa commented on #47108
In `_find_systems_resource()`
[code]
`systems_service` needs to be a list, not a variable. But then the rest of the code where `systems_uri` is used needs to be revised. Will look at best approach. Suggestions?

[2018-10-23 21:54] webknjaz commented on #46519
All thanks should go to @HD650 :tada:

[2018-10-23 22:11] webknjaz commented on #47517
I suggest tracking down the author using `git blame` and asking them :)

[2018-10-23 22:13] webknjaz commented on #47514
The problem is that it's hard to comment on smth if there's no diff view to it :)

[2018-10-23 22:34] dandunckelman commented on #44589
@ckotte @Akasurde Thanks.

I'll test it this week (hopefully tomorrow).

[2018-10-23 22:36] vpopescu commented on #37200
I ran into this as well (and it's late October now). I wish someone would write a definitive fix... the problem with this fix is: "azure-keyvault 1.0.0a1 has requirement requests>=2.18.4, but you'll have requests 2.18.1 which is incompatible. "

[2018-10-23 22:36] troykinsella commented on #28768
Confirmed with Ansible 2.6.3.

[2018-10-24 00:07] mandar301190 opened #47540 "Failed to connect to the host via ssh: Permission denied (publickey,password)"
Summary:
Setting up Linux containers to use ansible. can't establish SSH connection. Prompting as public key denied. Need help.
Ansible version 2.7.0
Here is my output:

root@ubuntu:~# ansible 10.0.3.164 -m ping -u root
10.0.3.164 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ubuntu@10.0.3.164: Permission denied (publickey,password).\r\n",
    "unreac

[2018-10-24 00:15] jacktose commented on #17872
There are some other `>1` checks in similar functions. I don't know why we can't treat /32s like other subnets, so maybe those should all be taken out.

[2018-10-24 00:29] jacktose commented on #17872
By the way OP or anyone else finding this bug, the `network` filter gives you the network _address_, like this:
`10.1.1.99/24` -> `10.1.1.0`
OP was apparently looking for `subnet` or `network/prefix` which should do this:
`10.1.1.99/24` -> `10.1.1.0/24`

[2018-10-24 01:06] gigascake opened #47542 "Ansible 2.6.4 - For running normal process on the ansible-playbook print out stderr message."
##### SUMMARY

I executed telegraf start script on the ansible-playbook

At ansible version 2.6.1, this scripts worked normally, but, 2.6.4, this scripts not worked,
print out, stderr

[script]
- hosts: all
  remote_user: root
  tasks:
  - name: Ansible Shell chdir and executable parameters
    shell: service telegraf start
    args:
      executable: /bin/bash
    ignore_errors: yes

Help me, plz

[2018-10-24 02:50] Fred-sun commented on #26195
@yungezz

[2018-10-24 03:56] felixfontein commented on #28768
Out of curiosity: what's inside that directory after the failure? Is docker creating some files there?

[2018-10-24 04:36] Akasurde commented on #47428
@mfisher30 What do you think about @mariolenz comment ? I have same opinion.

[2018-10-24 04:45] trishnaguha commented on #47456
@jonmod Will you please try this fix https://github.com/ansible/ansible/pull/47548 and let me know?

[2018-10-24 05:25] imjoey opened #47550 "cloud/ovirt: Failed to change the state of storage domain to maintenance occasionally"
##### SUMMARY

When I set the state of a non-master unattached storage domain to `maintenance`, it reports the error message below **occasionally**:
[code]

I've found that there still has async tasks related to the storage domain running even after it's state has already been `active`. While that will lead to validation failure prior to the `deactivate` action, see validation codes here [1](https

[2018-10-24 05:38] Fred-sun commented on #42407
@zikalino

[2018-10-24 05:43] zerok commented on #47534
I've now also tried to add that value to a vault and read it from there. Here it works.

[2018-10-24 06:12] blambo10 commented on #46460
@Akasurde

Left comment with testing details,
works well, also tested with multiple tags assigned to same vm and across multiple vms.

working as expected

[2018-10-24 06:43] gigascake commented on #47542
Solved,  centos6,7 daemon process execute shell command is not 'nohup and &', we need 'daemonize' process. 'daemonize' process only running ansilbe script process.

[2018-10-24 06:43] #47542 closed, assigned to nobody

[2018-10-24 07:07] TermoK opened #47553 "Module ios_command writes traceback but command gets executed"
##### SUMMARY
Using the ios_command module issues an error message (traceback) but the command itself gets executed on a particular network device, the output is presented also.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
The playbook can be used to show a particu

[2018-10-24 07:13] TermoK commented on #47553
[traceback_ios_command_show_vlan_id.txt](https://github.com/ansible/ansible/files/2509356/traceback_ios_command_show_vlan_id.txt)

[2018-10-24 09:04] sedlund commented on #15297
ansible 2.7.0

the problem with the synchronize module is still present.  It blindly calls `sudo rsync` without the ability to take a password if the `become_user` does not have NOPASSWD enabled in sudoers for the account.

[2018-10-24 09:23] tadeboro commented on #47108
I did a quick `git grep` over Ansible sources and `self.systems_uri` permeates all of the `lib/ansible/module_utils/redfish_utils.py` (15 occurrences spread uniformly across the whole file), making this a real pain to fix.

The brute force way of fixing this would probably be to convert `self.systems_uri` to list and replace access to this field with loops. Needless to say, this will result in eno

[2018-10-24 09:47] biohazd opened #47555 "show feedback when using "ec2_asg" and doing a rolling restart with "replace_all_instances""
##### SUMMARY
Is it possible to show feedback when using "ec2_asg" and doing a rolling restart with "replace_all_instances". Currently if there are alot of Instances the play will run and not report anything until its all finished. Can it list the Instances as they are recycled.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
!ec2_asg

##### ADDITIONAL INFORMATION
The play just sits there a

[2018-10-24 10:49] #33622 closed, assigned to nobody

[2018-10-24 11:08] mkrizek commented on #47179
@mkmayank this has been fixed in the latest devel branch.

If you have further questions please reach us via:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-24 11:08] #47179 closed, assigned to nobody

[2018-10-24 11:09] hareesh-panakanti commented on #34340
for me, installing libselinux-python solved the problem

[2018-10-24 11:14] FilipB opened #47556 "k8s module documentation does not explain authentication logic sufficiently which leads to unexpected behaviour when running from inside kubernetes"
##### SUMMARY

When running playbook from OpenShift pod the ~/.kube/config.json file is not used and the task is executed against local OpenShift. It was working fine in ansible-2.5.7-1
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OpenShift v3.9.30
openshift/jenkins-slave-base-centos7 docker image with

[2018-10-24 11:29] k-c-p commented on #42309
Still valid in Ansible 2.6.6. I gave 2.7.0 a try as well: Same issue there :-(.

[2018-10-24 11:55] ssbarnea commented on #34340
libselinux-python bindings issue is quite a serious issue and also complex due to few facts that make it hard to approach.

* libselinux bindings are named different on py3-native platforms than on py2 ones, so no unique `yum install ...` line to install them
* when you create a virtual environment they are not inhered from system unless you do a --use-system-packages, a controversial command that

[2018-10-24 12:15] danowar2k opened #47559 "FR: Allow a single host to be a "child" of a group"
##### SUMMARY
Right now, the following isn't possible in an inventory:
[code]

Error message when doing the above:

/playbook-moodle/inventory/special.ini:47: Section [phpServer:children] includes undefined group: someHostAlias

What I mean is, when you say "children", you can only have groups as children and not single hosts.

I don't know why that is the case (there may be a good reason...), so

[2018-10-24 13:02] mikewiebe commented on #47230
@Kloperations I am working on a PR and my goal is to have it open later this week.

[2018-10-24 13:04] fxfitz commented on #47536
Here's the Ansible log output from my 2.7.0 run: https://gist.github.com/fxfitz/74bceec5d0b7b8b1b008ba483ce66740

Also, here's the contents of the terminal_plugins folder right now:
[code]

As you can see, the terminal_plugins folder gets "loaded", but it uses the junos plugin from the Ansible 2.7 install from site-packages. :-/

(the contents of `junos.py` is essentially whats listed in the "Step

[2018-10-24 13:42] RBakkum commented on #46338
👍

Would this also be possible for the other commands? For example creating an user is also showing as changed when running the playbook. Which is used the redfish_command instead of the redfish_config

[2018-10-24 13:46] Ri0n commented on #39279
Ok I solved the problem with "unarchive" module. which works perfect in this case.

[2018-10-24 13:50] odyssey4me commented on #47301
Doing a little debugging, with some extra diagnostic code added:

With the task:

[code]

I get the following:

[code]

This shows that the symlink resolving is either being done incorrectly, or prematurely. As a result of the device mapper symlinks the module always thinks that there are new devices to add.

[2018-10-24 13:56] #46976 closed, assigned to Qalthos

[2018-10-24 14:13] NilashishC commented on #47553
@TermoK This issue has been fixed in 2.7.

[2018-10-24 14:13] #47553 closed, assigned to NilashishC

[2018-10-24 14:29] nicholasrodriguez opened #47563 "vmware_host: ESXi servers failed to be added to vCenter"
##### SUMMARY
Since updating to Ansible 2.7 hosts are failing to be added into vCenter with the message;

[code]

All other vmware_*.py modules I consume (I use a lot of them) are working ok with Ansible 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT

##### OS / ENVIRONMENT
Ansible run environment: CentOS7
Target

[2018-10-24 14:35] Vladimir-csp opened #47566 "Expose .__class__.__name__ as a filter for easier variable validation"
##### SUMMARY

Sometimes it is handy to validate variables by their type, or process them conditionally depending on their type. Current filters and tests provided by ansible/jinja2 are a bit cumbersome in this regard.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

filters
##### ADDITIONAL INFORMATION

For example, it would be cool to check if a var is a string, list or a dict directly, ra

[2018-10-24 14:43] sivel commented on #47566
We already have a filter that does this named `type_debug`.

https://github.com/ansible/ansible/blob/80d977bac65768bdd5cd675b9d1794640749431a/lib/ansible/plugins/filter/core.py#L636-L637

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-24 14:43] #47566 closed, assigned to nobody

[2018-10-24 14:50] Kloperations commented on #47230
That's great news!
We are in process of planning an upgrade to 2.7 ansible for our production environment.  After this PR would Ansible be on a 2.7.1 version?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Wiebe <notifications@github.com>
Sent: Wednesday, October 24, 2018 8:03:46 AM
To: ansible/ansible
Cc: Kloepper,Chris; Mention
Subject: Re: [ansible/

[2018-10-24 14:55] odyssey4me commented on #47301
This appears to work for me:

[code]

[2018-10-24 14:58] jose-delarosa commented on #46338
@RBakkum yes that should be possible for redfish_command.py, though would have to look at the specific command. If you have a specific command in mind, please open a separate issue for it.

[2018-10-24 15:00] ewa commented on #18911
Can confirm this is an issue in real life.

[2018-10-24 15:10] natefoo commented on #47156
@drawks any thoughts on my reply? I'm happy to put in some effort to improve this module.

[2018-10-24 15:11] sivel commented on #47559
This can be achieved already, by just putting that single host under the group you want it to be a member of:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-24 15:11] #47559 closed, assigned to nobody

[2018-10-24 15:11] natefoo commented on #18911
There are some proposed changes in #47156, pending the outcome of those, this issue will be fixed as well.

[2018-10-24 15:21] trishnaguha commented on #47230
@Kloperations It would be 2.7.2

[2018-10-24 15:34] Kloperations commented on #47230
Sounds good, thank you

From: Trishna Guha <notifications@github.com>
Sent: Wednesday, October 24, 2018 10:26 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Kloepper,Chris <Chris.Kloepper@Cerner.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] nxos_install_os performs ISSU when set to "no" (#47230)

@Kloperations<https://na01.safelinks.protection.outlook.com/?url=

[2018-10-24 16:24] xmadsen opened #47571 "redfish_facts fails on GetBiosBootOrder"
##### SUMMARY
In redfish_facts, the Systems command GetBiosBootOrder fails on a Lenovo ThinkSystem SR550, as it seems that redfish_utils expects ['Bios']['Attributes']['BootMode'], ['Bios']['Attributes']['UefiBootSeq'], and ['Bios']['Attributes']['BootSeq'].
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIR

[2018-10-24 16:47] #38067 closed, assigned to privateip

[2018-10-24 17:07] walterdolce opened #47573 "Improve gcp_compute plugin parameters documentation"
##### SUMMARY
The gcp_compute inventory plugin has a less-than-ideal documentation, I would say. None of the non-trivial parameters are documented and I could not find any documentation or example usages around showing *how* one would want/have to use them.

By "_them_" here I refer to parameters like `groups`, `keyed_groups`, etc.

I think the lack of documentation might get in the way of adoptin

[2018-10-24 17:13] walterdolce opened #47574 "How do I use group_vars with gcp_compute dynamic inventory?"
##### SUMMARY
Relates to #47573

The following doesn't work:
[code]

Nor does the following:
[code]

Dir structure is as follows:
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
gcp_compute

##### ANSIBLE VERSION
The latest at this time of writing

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### ADDITIONAL INFORMATION

[2018-10-24 17:15] pffs opened #47575 "ios_user doesn't work with password based users"
##### SUMMARY

If a user is created with a password instead of a secret, ios_user will ignore the failure message and mark the password as changed despite not actually changing anything

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested against IOS 15.2, 15.4, 15.6 and 16.6.

##### STEPS TO REPR

[2018-10-24 17:16] sivel commented on #47573
Is the documentation provided at https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html insufficient to answer your questions?

needs_info

[2018-10-24 17:18] walterdolce commented on #47573
Unfortunately yes, it's insufficient.

For example, I don't know how _add hosts to group based on Jinja2 conditionals_ for the `groups` parameter translates to code. Please see #47574

[2018-10-24 17:20] sivel commented on #47573
Is there a reason we cannot keep both discussion in a single issue?  I believe that answering your question in this issue, would also answer your question in #47574

[2018-10-24 17:21] sivel commented on #47573
However, there is documentation that applies to all inventory plugins, that should explain how to use `groups` at https://docs.ansible.com/ansible/latest/plugins/inventory.html

[code]

[2018-10-24 17:23] walterdolce commented on #47574
Being answered in #47573

[2018-10-24 17:23] #47574 closed, assigned to nobody

[2018-10-24 17:29] walterdolce commented on #47573
Would it make sense to add a link to this page on the `gcp_compute` plugin page?

Something like "for more info and examples on how to use `group`, etc please see {{page}}"?

Happy to send a PR for this

[2018-10-24 17:35] larsks opened #47576 "Ansible fails to display traceback from failed filter plugin"
##### SUMMARY

When a filter plugin under development fails with a traceback, there is no way to get Ansible to display that traceback to the developer.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

1. Create a filter plugin that throws a traceback.
1. Attempt to use it in a playbook.

[code]

##### EXPECTED RESULTS

[2018-10-24 17:40] jonmod commented on #47456
Works perfect, thanks!

[2018-10-24 17:40] #47456 closed, assigned to trishnaguha

[2018-10-24 18:07] pffs opened #47577 "Hash support for ios_user"
##### SUMMARY

Currently ios_user only supports the ability to set passwords on account creation or every time. It would be useful to be able to have an option to be able to supply a hash to the ios_user module in order to determine if the password needed to be changed as IOS hashes are portable between devices (assuming the version supports the type of hash, but that could be handled elsewhere by

[2018-10-24 18:08] rodolfo-gonzalez commented on #17324
@aioue you can try using [lookup-plugin](https://docs.ansible.com/ansible/2.5/plugins/lookup/list.html)

i have something like this:

[code]

[code]
[code]

[2018-10-24 18:11] mariolenz commented on #47428
Well, yes and no. The feature you suggest would make ansible easier to *use* but make its code base *more complex*. That's what I wanted to say.

[2018-10-24 18:43] tkellen opened #47578 "when conditionals on meta entries are evaluated when they should be ignored"
##### SUMMARY
Conditionals on meta entries are evaluated even when tags used by operator indicate they should be ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Ansible exits 0 and runs no tasks.

##### ACTUAL RESULTS
Ansible exits 1

[2018-10-24 18:47] JrodJ commented on #47405
I submitted this pull request for this issue: https://github.com/ansible/ansible/pull/47410

[2018-10-24 19:08] abadger opened #47582 "mysql_db test always fails the first time"
##### SUMMARY
This looks like the very last mysql_db test is failing the first time it runs on centos, rhel, fedora, and opensuse:

01:42
01:42 TASK [mysql_db : state dump without department table.] *************************
01:42 fatal: [testhost]: FAILED! => {"changed": false, "msg": "mysqldump: Got error: 2002: \"Can't connect to local MySQL server through socket '' (111)\" when trying to conne

[2018-10-24 19:10] #47029 closed, assigned to nobody

[2018-10-24 19:14] ryanmerolle opened #47583 "ipaddr sort filter"
##### SUMMARY
It would be useful to add to the ipaddr filter, a function to sort IPs / prefixes in order based on ipaddr order and not using natural sort.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/plugins/filter/ipaddr.py

##### ADDITIONAL INFORMATION
netaddr, which ipaddr filter is based on already has this logic [netaddr - Read the Docs: Sorting IP addresses and networks

[2018-10-24 19:17] maxamillion commented on #47184
Confirmed, I'll put together a fix and an integration test to verify we don't regress in the future.

[2018-10-24 19:34] jborean93 commented on #47255
Because CPython isn't affected by this I am going to close the issue as it seems to be related to Anaconda. If you get more information around this, specifically what may be causing it, feel free to post information but there is no guarantee that we will follow it up/find a fix for it.

[2018-10-24 19:34] #47255 closed, assigned to nobody

[2018-10-24 19:50] nitzmahone commented on #47255
Just out of morbid curiosity, I tried to repro this on miniconda under Fedora 28, where it also worked as expected... So I'm guessing it's something specific to the Mac version of the interpreter as well.

[2018-10-24 19:58] resmo commented on #47526
resolved_by_pr #42618

[2018-10-24 19:59] maxamillion commented on #43870
well, I have more data from the transaction but it's still not logging the `%post` scriptlet output .... still looking at what to do in order to extract that data.

In the meantime, is this information useful? Too verbose? $other?
[code]

needs_info

[2018-10-24 19:59] sivel commented on #47573
I believe like the following:

[code]

I'll defer this question to our docs team.

cc @acozine

[2018-10-24 20:01] #47526 closed, assigned to nobody

[2018-10-24 20:01] corbinstuard opened #47585 "variable declaration broken in 2.7"
##### SUMMARY

As of 2.7, Ansible is declaring variables as true that I'm not declaring anywhere in my playbook or inventory. This issue wasn't present in 2.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

2.6 resu

[2018-10-24 20:11] danowar2k commented on #47559
I knew the above "workaround" to the problem (put the single host in the group without "children").

Sorry if I haven't been to the point that I just arrived at, but what I (probably) mean is isn't this "overhead" or something like that? Why two ways of creating a hierarchy?

If group names are identifiers and host aliases are identifiers and if group can't have the same name as a host alias, why

[2018-10-24 20:32] sivel commented on #47576
I've opened a PR to handle this.  It seems to be limited to exceptions raise when using the `debug` module.

[2018-10-24 20:45] acozine commented on #47573
@walterdolce yes, a PR adding links to the gce_compute plugin docs would be very welcome!

[2018-10-24 20:47] acozine commented on #47573
@walterdolce take a look at https://docs.ansible.com/ansible/devel/community/documentation_contributions.html#community-documentation-contributions for some pointers on updating documentation, and feel free to join the #ansible-docs channel on Freenode IRC if you get stuck or have questions.

[2018-10-24 20:49] pwrape10 opened #47589 "Connection.py throws missing attribute error for 'reset_history' when reusing local domain sockets in 2.7.0"
##### SUMMARY
When running a BigIP networking module (bigip_command) a second time in short order, the second invocation fails with a python error from connection.py of the form

Traceback (most recent call last):
  File "/usr/bin/ansible-connection", line 290, in main
    messages.extend(conn.update_play_context(pc_data))
  File "/usr/lib/python2.7/site-packages/ansible/module_utils/connection.py

[2018-10-24 21:04] samerhaj opened #47590 "redfish_facts fails on GetManagerAttributes"
##### SUMMARY
In redfish_facts, the Manager command GetManagerAttributes fails on a Lenovo ThinkSystem SR550, as it seems that redfish_utils expects ['Manager']['Attributes'] key, which is not a standard property in Redfish Manager schema.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Windows 10

[2018-10-24 21:11] erickeller opened #47591 "lxd_container delegate_to fail to connect to container"
following the example:
https://docs.ansible.com/ansible/2.7/modules/lxd_container_module.html#lxd-container-module

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION

[code]

distribution
[code]

copying pasting test:
[code]

running:
[code]

expected outcome:
Not using SSH to connect and execute raw commands in the container.

[2018-10-24 21:32] troykinsella commented on #28768
@felixfontein I think it's the generated CWD in which `docker-compose` is running. In there I found the host-side directories of volumes used with containers. For example, one of my containers has `volumes: ["./keys/thing:/thing-keys"]`, and in that temporary directory, lives `./keys/thing/`. I don't seem to hit this error when I don't use volumes (or presumably any other feature that would popula

[2018-10-24 21:35] pffs opened #47593 "network_cli drastically slower via bastion"
##### SUMMARY

Running plays against network hosts is drastically slower when running via a bastion compared to running directly from the controller.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

Controller:
[code]
Baston:
[code]

##### CONFIGURATION

Controller:
[code]
Bastion:
[code]
##### OS / ENVIRONMENT

Testing against IOS versions 15.2, 15.3, 15.4

[2018-10-24 21:46] #44501 closed, assigned to nobody

[2018-10-24 21:48] #44402 closed, assigned to nobody

[2018-10-24 21:48] #44389 closed, assigned to nobody

[2018-10-24 22:04] #44240 closed, assigned to ganeshrn

[2018-10-24 22:12] #43629 closed, assigned to rcarrillocruz, trishnaguha

[2018-10-24 22:13] #43579 closed, assigned to trishnaguha

[2018-10-24 22:47] #42264 closed, assigned to trishnaguha

[2018-10-24 22:54] s-hertel commented on #47437
@xiaozhu36 If you didn't omit warnings, it looks like you disabled the script inventory plugin which is needed to parse the contrib scripts. You can see if you modified your configuration by running `ansible-config dump --only-changed`. If you did omit warnings, the one for the script plugin beginning `[WARNING]:  * Failed to parse /Users/hehe/Projects/python/ansible/contrib/inventory/ec2.py with

[2018-10-24 22:54] cyrilthank commented on #14934
Appreciate if someone could share the rationale behind

the below update (lowell80 commented on Mar 12, 2016)

So basically changing a single line in play_context.py from:

becomecmd = '%s -b %s -u %s %s' % (exe, flags, self.become_user, success_cmd)
To this: (I borrowed the idea from become_method=="su")

becomecmd = '%s -b %s -u %s %s' % (exe, flags, self.become_user, pipes.quote('%s -c %s' % (e

[2018-10-24 22:57] cyrilthank commented on #44546
can you please share the rationale behind

the below update (lowell80 commented on Mar 12, 2016)

So basically changing a single line in play_context.py from:

becomecmd = '%s -b %s -u %s %s' % (exe, flags, self.become_user, success_cmd)
To this: (I borrowed the idea from become_method=="su")

becomecmd = '%s -b %s -u %s %s' % (exe, flags, self.become_user, pipes.quote('%s -c %s' % (executable, su

[2018-10-24 23:07] wrossmann commented on #15525
Regardless of the cause of specific difficulties with ssh any one person might be having, getting a fix in to show actual ssh debug output again would be massively helpful. Once I fed `-vvv` I could see that ansible was then including `-vvv` in the ssh command, though there was no output. [note: v2.7.0]

Anyhow, anyone landing here having trouble diagnosing their ssh problem try the following to g

[2018-10-24 23:59] scty-nchitturi opened #47594 "Unable to ping my windows host"
##### SUMMARY
I am unable to run ping module on  my windows host from my linux controller

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
windows

##### ADDITIONAL INFORMATION
i created inventory.txt file
[win]
servername
[all:win]
ansible_user=myusername
ansible_password:password
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port

[2018-10-25 00:34] dumblerod opened #47595 "ec2_ami_copy: When using tag_equality with wait, error occurs"
##### SUMMARY

When using the ec2_ami_copy module with the tag_equality and wait parameters set to true, if the AMI exists, an error occurs.  Unhandled exception. (local variable 'image_id' referenced before assignment)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_ami_copy.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2018-10-25 02:06] stobias123 commented on #25182
+1 -- seeing this issue in `2.8.0dev0`

[2018-10-25 02:36] enaggar opened #47597 "ec2_vol incorrect failure"
##### SUMMARY
I use ec2_vol to create and attach volumes to existing ec2 instances. after running playbook I can see under aws console that the volumes have been created and attached to boxes, but playbooks would mark the task as failed and break with an UnauthorizedOperation error. However when I rerun the task, it would complete successfully saying volumes already exist.

##### ISSUE TYPE
- Bug

[2018-10-25 02:44] xiaozhu36 commented on #47437
HI @sivel `python ec2.py --list` can work. Just now, I re-run the command `ansible -i ec2.py all -m ping` and it can work. But I can not know why.

[2018-10-25 02:58] djh00t commented on #33643
Hi Guys,

Has there been any progress on this at all? This issue affects a sizable chunk of older cisco equipment.

[2018-10-25 03:18] enaggar commented on #47597
Turned out to be a missing permission that I needed to fix to enable instance attribute modification (to modify the delete on terminate attribute) sorry for spamming

[2018-10-25 03:18] #47597 closed, assigned to nobody

[2018-10-25 04:15] #46460 closed, assigned to Akasurde

[2018-10-25 04:56] felixfontein commented on #28768
Ah, I've missed the relative paths. But then I wonder, why is anyone doing that? I mean, if you want to mount something from the host into the container, you want to have it somewhere outside `/tmp` (where it can be deleted any time), right? Also, in that case, the suggested solution from @jacobbat (use `shutil.rmtree` instead of `os.rmdir`) is totally inacceptable: it would delete the mount direc

[2018-10-25 05:05] jhawkesworth commented on #47594
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-25 05:05] #47594 closed, assigned to nobody

[2018-10-25 05:43] Akasurde commented on #47595
@JrodJ Thanks for reporting this issue. Could you please check above PR and let me know if it works for you ? Thanks,

needs_info

[2018-10-25 05:46] Akasurde commented on #47576
resolved_by_pr #47588

[2018-10-25 05:55] yungezz commented on #47227
https://github.com/ansible/ansible/pull/47546

[2018-10-25 06:18] Copser opened #47599 "npm install package.json"
##### SUMMARY

The task passes without installing node modules.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

npm
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu/Xenial 64
##### ADDITIONAL INFORMATION

According to [doc](https://docs.ansible.com/ansible/2.5/modules/npm_module) installing `package.json`
is simple, but I'm having a problem and this task

[code]

just

[2018-10-25 07:03] Fred-sun commented on #47268
@pmarques Thanks for you contribution, The developer maintainer will take a look. Thanks!

[2018-10-25 08:15] Copser commented on #47599
Ok, I've changed version to `2.5.0` and now `npm` works. Will close this issue.

[2018-10-25 08:15] #47599 closed, assigned to nobody

[2018-10-25 08:29] Akasurde commented on #47563
@nicholasrodriguez Could you please check the above PR and let me know if it works for you ? Thanks,

needs_info

[2018-10-25 08:41] ssbarnea opened #47603 "setup gather_facts documentation is incomplete"
##### SUMMARY
Documentation mentions only 3-4 possible filters to use for gather_facts while ansible reports lots of them.

See https://docs.ansible.com/ansible/latest/modules/setup_module.html versus the error:

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2018-10-25 08:41] flamein commented on #46959
let's close this one.

[2018-10-25 08:41] #46959 closed, assigned to nobody

[2018-10-25 08:51] wutzkachel opened #47604 "efs_facts does not filter targets: - subnet_id"
##### SUMMARY
efs_facts does not show result with targets: - subnet_id

**output without targets: subnet_id:**

[code]
output with
[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
see summary

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-25 09:08] Fred-sun commented on #47268
@yungezz @zikalino Could you help take a look this issue? Thanks!

[2018-10-25 09:13] nicholasrodriguez commented on #47563
Hi @Akasurde,

I've replaced **vmware.py** and **vmware_host.py** with the following files;

https://github.com/ansible/ansible/blob/f3169cdac338670075b2b022944471a700d45773/lib/ansible/module_utils/vmware.py

https://github.com/ansible/ansible/blob/f3169cdac338670075b2b022944471a700d45773/lib/ansible/modules/cloud/vmware/vmware_host.py

I'm now getting the following error msg;

[code]

[2018-10-25 09:23] torched99 opened #47606 "Make role 'parameters' formally have pure function parameter scope"
##### SUMMARY
Currently 'parameters' for roles are mentioned in the documentation, but are not effectively anything more than normal ansible variables, subject to the now very complex and confusing ansible scoping rules.  For the use case where we create a re-usable role that is designed to behave in a similar manner as an ansible task module, there will be a bunch of variables that form the param

[2018-10-25 09:35] torched99 commented on #46971
Have I provided enough information?  If not please be more specific as to what is required.

[2018-10-25 09:43] erwstx opened #47607 "ovirt_nics : create vNIC but does not configure network"
Hello, I have this issue with ovirt_nics module.

##### SUMMARY
When I create VM using role ovirt-ansible-vm-infra, the Playbook execution has succeed. But does not correctly configure vNIC. I defined only one vNIC in my Playbook, it was created but the desired network is not set. After seeing this Issue https://github.com/ansible/ansible/issues/22653, I've tried with ovirtmngt network, it's the s

[2018-10-25 09:44] Fred-sun commented on #47226
I try run main.yml five times all get successful result, I will retry more than 100 times and will update test result at here. thanks!

[2018-10-25 10:02] BartJoris commented on #44564
Hi, are there any updates on this?
Thanks!

[2018-10-25 10:40] cahlchang opened #47609 "Fastly Ansible Module"
##### SUMMARY
Fastly Ansible Module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

fastly

##### ADDITIONAL INFORMATION

I would like to do CDN operations on Ansible.
Fastly has code of VCL among CDN vendors so I think that there is a special benefit of coding.
Since there is an API, it can be implemented.

[code]

see API
https://docs.fastly.com/api/

[2018-10-25 10:47] walterdolce commented on #47573
Never mind. Moving the vars in the relevant `group_vars/mygroup/vars.yml` got Ansible to pick those up. It would be good to clarify why having vars defined within `compose` didn't work though.

I consider my issue as solved for now, but I will leave this open until I manage to send the PR for the documentation update if you don't mind.

[2018-10-25 10:53] tifennlegoff opened #47611 "Failed to verify certificate with zabbix_hostmacro module"
##### SUMMARY

Hi, I had resolved this issue with a modification of zabbix_hostmacro module.
When I add macro on a host, I had this message :
[code]
I got this issue only with zabbix_hostmacro module, other module (like zabbix_host) works.

I checked on Google if there were any solution but not. So, I try by myself to resolve this issue.
I compare zabbix_host module (who that works) with zabbix_ho

[2018-10-25 10:53] fabianvf commented on #47556
@FilipB

When running the modules from inside kubernetes, the default authentication method is `incluster`, which means it will authenticate as the service account running the pod using credentials provided by kubernetes. You can override this behavior by providing the kubeconfig argument with the correct path.

[2018-10-25 11:17] kanwar-saad commented on #19820
@nikaro
I also wanted to just mount temporarily with changing fstab. What I did was just gave a dummy fstab file. For now it works. But is there any scenario when it can blow up?

mount:
    path: /mnt/audit
    src: /dev/sdb6
    fstype: ext4
    fstab: /tmp/fstab.dummy
    state: mounted

[2018-10-25 11:18] FlorentCoppint commented on #29825
No news about this issue ? We can't modify /sys values with Ansible !

[2018-10-25 11:46] kendaop commented on #44647
I'm having the exact same issue as well, except I'm on Ansible version 2.5.0.

[2018-10-25 12:00] willthames commented on #47556
@fabianvf until 2.7.1 is released with https://github.com/ansible/ansible/pull/47496, you need both kubeconfig and context to avoid incluster.

[2018-10-25 12:11] FilipB commented on #47556
@fabianvf @willthames thank you both for quick answer, I added following:
[code]
and it's working as expected now.

[2018-10-25 12:28] fabianvf commented on #47556
Awesome, glad to hear it. Can you change the title of this issue to reflect that it's a docs issue? There's enough complexity in the authentication logic that it more than merits an explanation in the docs

[2018-10-25 12:29] willthames commented on #31602
@fabianvf having tried to fix this up, I completely agree - `apply` is the way ahead, might try and implement that in the k8s module next...

[2018-10-25 12:56] pkorthal commented on #42409
I did some analyzes and long story short:

https://github.com/ansible/ansible/blob/8592bacb231919afcf47ec754a85b25aa0f7c344/lib/ansible/modules/cloud/openstack/os_server_action.py#L237

should be, changed to:
[code]

[2018-10-25 13:00] mkrizek commented on #46169
Created issue upstream https://github.com/pallets/jinja/issues/917.

[2018-10-25 13:04] torched99 commented on #31891
I don't understand why this issue is closed.

[2018-10-25 13:05] torched99 commented on #31354
Do we have an expected timeframe for this to be fixed in a release?

[2018-10-25 13:15] davidism commented on #46169
Serialized JSON data is a string. You need to write a Python string literal to end up with a string containing JSON data. You've written a Python dict literal.

The op is asking for a way to load a template as a string, rather than a native type. That's something Ansible would need to address.

[2018-10-25 13:19] mraineri commented on #47571
Instead of starting with going after BIOS attributes, we should probably look for the BootOptionCollection and parse the ordering.

If that resource is not present, then we could add something to allow for vendors to insert OEM code as a fallback. @jose-delarosa how is vendor specific code normally handled? Is it upstreamed? Is it left up to the user to provide?

[2018-10-25 13:22] mraineri commented on #47590
We should probably reconsider what this command actually does since "Attributes" within "Manager" is not part of the standard. Depending on the data being collected, we could likely just rely on standard properties within the Manager resource. If that's not the case, then we should evaluate the use cases for this command, and possibly remove it (or replace it).

[2018-10-25 13:34] D3DeFi commented on #47611
@tifennlegoff nice catch! :) This one somehow slipped our review back in #31739.

Your proposed changes will work. Would you consider contributing them? If you don't have time or simply don't want to just say so and I will submit the fix.

[2018-10-25 14:08] calebsmith commented on #44149
Hi folks,

Thanks for reporting this issue. I wanted to chime in with some of my findings as I encountered this same problem.

As I encountered it, not only does the module not always wait for the given state as intended, but it can also fail to register a target in a target group as well. I think that both of these issues have the same root cause. Looking at the register_target function in the im

[2018-10-25 14:16] nashpaz123 commented on #42385
If
python -c "import OpenSSL; print(OpenSSL.__version__)"
gives an old version (e.g. 0.13.1) , and you're willing to use TLSV1_2, see:
https://stackoverflow.com/questions/43500643/object-has-no-attribute-tlsv1-2-method/43791118#43791118

[2018-10-25 14:33] #47514 closed, assigned to nobody

[2018-10-25 15:02] #46338 closed, assigned to nobody

[2018-10-25 15:15] Lunik commented on #17194
Hi, is there some progress here ?

[2018-10-25 15:47] funkyfuture commented on #47361
afaict, there is a design bug that causes this. the [pip module code](https://github.com/ansible/ansible/blob/b697da39c832e5b61f947121e9fcafecb69dab7d/lib/ansible/modules/packaging/language/pip.py#L239-L244) checks whether setuptools is available in the site packages that itself is using. that may be false, even though the interpreter selected with `virtualenv_python` does have it in its site-pack

[2018-10-25 15:53] cyrilthank commented on #32268
In 2.3.1 i only see the below under the directory hacking

 hacking]$ du -a
20      ./module_formatter.py
4       ./dump_playbook_attributes.py
8       ./templates/rst.j2
4       ./templates/playbooks_directives.rst.j2
16      ./templates

can you please advise

[2018-10-25 16:18] dagwieers commented on #23320
Similar to what was reported before, I see the following problem when new VMware VMs were loaded and WinRM (delayed started) gets online. So it seems in this case the VM or Windows was not ready yet to accept connections in a reliable way.
[code]

The solution seems to be to add a 30 second pause before targeting that system, after **vmware_guest** returns from creating the VM.

[2018-10-25 16:28] odyssey4me commented on #47301
I've pushed up https://github.com/ansible/ansible/pull/47620 to resolve this issue.

[2018-10-25 16:40] DylanYoung commented on #19083
I don't think this is a misunderstanding at all, just a specific case of a more general bug report:

async doesn't work with "play modifying directives"

Depending on the decision of the core devs, fixing this could be as simple as a documentation fix (though as noted, this is *very* useful functionality, that would fix a lot of currently reported issues with async tasks: templates, blocks, includ

[2018-10-25 16:40] FlorentCoppint commented on #42417
Always a problem on 2.7 with backport fix :
[code]

No error but no binding created on RabbitMQ...

[2018-10-25 16:43] nikkytub commented on #46425
Issue is resolved after providing token.

[2018-10-25 16:43] #46425 closed, assigned to nobody

[2018-10-25 16:43] nicholasrodriguez commented on #44772
@ckotte and @Akasurde I've been retesting and the above PR isn't working for an ESXi host that is in DC as originally described.

Looking at the discussion in #46225 there looks to be an ongoing discussion around this.

[2018-10-25 16:50] UntoSten commented on #43870
Hi maxamilion!

First of all, thanks for working on this important issue. I wish I could provide you with an answer about the usefulness of that data. I guess having access to more detailed information is good, but I am not sure whether it is always good to display it.

Obviously, sometimes you could want just to know everything went well, sometimes more detailed information. Maybe you could contr

[2018-10-25 18:13] #47582 closed, assigned to mattclay

[2018-10-25 18:50] akshay196 commented on #37059
I suppose, there was mistake in documentation.

`docker_service` module documentation has corrected now in the commit https://github.com/ansible/ansible/commit/ff0f6286d73

[2018-10-25 19:05] benjdudas opened #47632 "nxos_config fails if prefix list already exists"
##### SUMMARY

If the prefix list was not already configured on the device the job will run successfully and show task result as `changed`, but If the prefix list has been configured previously the task will fail instead of listing a task result of `ok` as it does with IOS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-10-25 19:13] jose-delarosa commented on #47571
@mraineri How to handle OEM extensions is something we all need to decide. We could add different functions in module_utils for each OEM (i.e. get_bios_boot_order_dell, get_bios_boot_order_lenovo, etc) and call it based on the type of hardware, or it could be handled as a separate module, or some other way.

Happy to help in the process, but I'll say it's up to the DMTF and its members to decide.

[2018-10-25 19:49] samccann commented on #47499
I posted this on the PR as well but will repeat here so someone else can either verify or correct my assumptions:

I'm not sure if this is the correct fix overall. scopes is a common parameter across most if not all of the gcp_* modules. Further in this file at line 157 is the following code:
if 'scopes' not in module.params:
module.params['scopes'] = ['https://www.googleapis.com/auth/compute']

T

[2018-10-25 20:11] abadger opened #47636 "sanity test for make changelog"
##### SUMMARY
make changelog uses ansible-doc --json.  This isn't being tested so it can unexpectedly block release.

Since we need make changelog itself to work, we probably should base our sanity test around that rather than around ansible-doc --json.

##### ISSUE TYPE
- Bug Report
- Feature Request

##### COMPONENT NAME

Sanity tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-10-25 20:11] abadger commented on #47636
/cc @mattclay

[2018-10-25 20:34] BradFelmey commented on #22417
I have a different scenario that could use the variable equivalent of (omit).

When running code through Ansible check mode (ansible-playbook --check), sometimes it's necessary to skip certain actions (usually API calls banging up against non-idempotent systems). This means that for subsequent actions to be evaluated in check mode variable values need to be provided as if the skipped action had ac

[2018-10-25 20:43] ndswartz commented on #28166
@gundalow Yes but its being worked on and will be resolved in some upcoming changes.

[2018-10-25 20:54] ckotte commented on #44772
Could you please share more information? Two weeks ago it was working and now it doesn't work anymore. What's the difference? 

[2018-10-25 20:57] andygeorge commented on #45940
@maxamillion we're using dnf v2.7.5 on Fedora 28.

[2018-10-25 21:22] precurse commented on #40903
@mnaser

If I'm trying the new built-in openstack plugin, why would I need a `/etc/ansible/hosts` file?  This isn't listed in the documentation anywhere: https://docs.ansible.com/ansible/2.7/plugins/inventory/openstack.html

[2018-10-25 21:34] chris-bosman commented on #46440
I've also seen this while using azure_rm_virtualmachine_facts. This suggests to me that the issue may be in the underlying Azure Python SDK.

[2018-10-25 21:35] #46321 closed, assigned to nobody

[2018-10-25 21:41] carchi8py commented on #42932
internally we have a fix for this that currently under code review and will be push out in to this issue later this month or early next month.

[2018-10-25 22:37] TwoTwenty commented on #46485
I am having a similar issue with the upgraded awx docker image
 _____________
<  AWX 2.0.1  >
 -------------
        \   ^__^
         \  (oo)\_______
            (__)      A )\/\
                ||----w |
                ||     ||

Ansible 2.7.0

[2018-10-25 23:25] dprts opened #47641 "na_ontap_gather_facts fails on systems with external key manager"
##### SUMMARY
na_ontap_gather_facts fails on systems with external key manager:
`"msg": "Error calling API security-key-manager-key-get-iter: NetApp API failed. Reason - 13001:This command is not supported in a KMIP-server configuration. Run \"security key-manager query\" command to view the keys configured on an external KMIP server."`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_

[2018-10-26 01:11] akira6592 commented on #46321
Thank you!

[2018-10-26 01:17] jborean93 commented on #47555
Unfortunately no, modules can only output the final results back to the controller right at the end. This is just a fundamental part of Ansible's design but there are potentially plans to add intermediate output in a future version of Ansible. The proposal that closely aligns to this is https://github.com/ansible/proposals/issues/92 and until this is done there is nothing that we can do for this f

[2018-10-26 01:17] #47555 closed, assigned to nobody

[2018-10-26 01:33] jborean93 commented on #47606
cc @alikins

[2018-10-26 02:29] sitaramlinux9 opened #47644 "How do I stop plays from executing when one play fails"
I have playbook that imports multiple sub play books. Basically, i want the main playbook to shut down the servers sequentially..

main play book:
[code]

below are the sub playbooks:

   first.yml
[code]
( The playbook logins to the first server, executes a script)

   second.yml

[code]
(logins to the second server if the script has a execute code of 1, it will not shutdown the server.)

 third.

[2018-10-26 03:14] Fred-sun commented on #47358
@zikalino  Could you help to give the document links? I will test and share the test result. Thanks!

[2018-10-26 03:41] #47505 closed, assigned to nobody

[2018-10-26 03:49] Fred-sun commented on #47226
@zikalino I try to reproduce this issue more than 100 times, but in test, I don't meet this error. I get another error as below, Could you help take a look this issue? Thanks!
[code]

[2018-10-26 05:16] skarapanahalli opened #47646 "VMware: vmware_guest module errors out while creating a VM (windows 2008R2)"
##### SUMMARY
While trying to create a windows 2008 R2 image from a template, it fails with the error incorrect parameter error - LicenseFilePrintData
 "msg": "Failed to create a virtual machine : A specified parameter was not correct: LicenseFilePrintData"

##### ISSUE TYPE
-Bug

##### COMPONENT NAME
vmware_guest module

##### ANSIBLE VERSION

ansible 2.7.0
  config file = /etc/ansible/ansible.cf

[2018-10-26 05:29] Akasurde commented on #46727
@3kami3 Thanks for reporting this issue. Could you please check if #47538 works for you and let us know? Thanks.

needs_info

[2018-10-26 05:29] Akasurde commented on #46727
resolved_by_pr #47538

[2018-10-26 06:02] AGSPhoenix opened #47647 "reboot module defaults result in hosts being marked unreachable"
##### SUMMARY

When using the reboot module with the default settings, the host machine sometimes reboots before the SSH connection closes, and the host gets marked as unreachable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host is Ubuntu Server 16.04.5 in a VM on reasonably fast hardware and net

[2018-10-26 06:13] AGSPhoenix commented on #47647
Not sure why ansibot isn't pinging the module authors, so @nitzmahone @samdoran

[2018-10-26 06:18] zhelanov opened #47648 "make: add output module option to specify output target"
##### SUMMARY
For now when I try to do 'make' with loop my target's result will be overridden by the last iteration

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
make module

##### ADDITIONAL INFORMATION
It would be good to have an additional parameter such as 'dest' to specify where to move builded target.
Example:
[code]
As a result I want to have 3 build, but I have only last one so it

[2018-10-26 06:31] toni-moreno commented on #47119
I have the same error. @ilychkov  did you find any alternate way to add grafana dashboards?

[2018-10-26 06:57] ghost opened #47649 "VMware: Add private vlan to distributed switch"
##### SUMMARY
Currently it's not possible to create private vlans (PVLAN) to the distributed switch or distributed port groups tagged as private.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvswitch.py
vmware_dvs_portgroup.py

##### ADDITIONAL INFORMATION

PVLAN needs to be created first in the distributed switch as promiscus/isolated/community and after that private distributed

[2018-10-26 06:58] gservat commented on #40030
In my case, I wish Ansible wouldn't exit with error code `1` when the group is missing or empty. Why? Because I run a job from a CI system and exit of `1` is bad, and in my case the fact that Ansible couldn't find the group (or if it's empty) is not a bad thing. It just means no hosts matched, which in my particular case it's an OK thing to happen. I understand this may not be desirable for all An

[2018-10-26 07:55] m-kratochvil commented on #41730
Same issue encountered in Ansible version 2.6.2 when deploying VS in "disabled" state.
[code]

EXPECTED RESULT:
If disabled, create the virtual server if needed, and set state to disabled.

ACTUAL RESULT:
[code]

[2018-10-26 08:11] D3DeFi commented on #47647
+1, for me it is happening randomly. Like 2 out of 10 tries will prolly fail:
[code]

using default module options:
[code]

[2018-10-26 08:36] Aatsi79 commented on #47649
Seems that when adding these lines to the vmware_dvs_portgroup.py you can create a private tagged distributed port group

286+  elif self.module.params['private_vlan']:
287+      config.defaultPortConfig.vlan = vim.dvs.VmwareDistributedVirtualSwitch.PvlanSpec()
288+      config.defaultPortConfig.vlan.pvlanId = int(self.module.params['vlan_id'])
289   else:
290       config.defaultPortConfig.vlan =

[2018-10-26 09:07] mkotsbak commented on #17194
In Tower/AWX this seems to work automatically if the required authentication is added as machine credential there.

[2018-10-26 09:16] nicholasrodriguez commented on #44758
@ckotte and @Akasurde I've tested and the above PR works, thanks.

[2018-10-26 09:18] shakalandy opened #47653 "Add management of AD field "altsecurityidentities" to win_domain_user module"
##### SUMMARY
As an automation guy i want to make sure that the complete user-management stuff is done by ansible.
Currently we and a lot of other companies use Microsoft Active Directory as single source of truth regarding user accounts. That's why we are using it for ssh authentication via SSSD.
Due to security reasons we don't want to rely on the AD password, but stick to SSH Key Authentication

[2018-10-26 09:34] ckotte commented on #44772
Ok. I know this behavior. I already thought about implementing this feature. At least throw a warning and not an error. Thanks for the reminder.

[2018-10-26 09:40] tbouvet commented on #28382
If you create a docker network in **overlay** mode, it will be available on each worker too.
Maybe your problem is with your _weaveworks_ plugin.

For me, if you want to use a swarm network, you need to use **docker_service** and not **docker_container**.
**docker_service** should be use on a manager and swarm will create the container on a worker or a  manager. And in this case, no problem with n

[2018-10-26 09:49] stephan2012 commented on #28382
@tbouvet: You do not want to necessarily use Docker services just because you need an overlay network. Exactly this is the use-case: Run an overlay network, but still go for unmanaged containers. So, `docker_container` should try to connect the container even if the network seems to be unavailable locally because Docker Swarm makes the overlay network available on a non-master on-demand only.

[2018-10-26 10:02] alec9 commented on #13837
Same happens to me:

      - name: Create demo database user
        mysql_user:
          name=demo
          password=demo
          priv="demo.*ALL"
          host='%' state
          state=present

The error message is the same

[2018-10-26 10:06] shakalandy commented on #47653
added ansible version, component name was already there. Thanks @ansibot

[2018-10-26 10:13] frague59 opened #47654 "pip: Add "constraints" value"
##### SUMMARY
Adds support for the --constraint <file> argument to `pip` command

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
pip module

##### ADDITIONAL INFORMATION
Adds the parameter "--constraint <file>", which permit to use an additional file to set some contraints, and also make requirement file more readable.
[code]

[2018-10-26 10:18] Akasurde commented on #47563
@nicholasrodriguez Sorry for the trouble, could you please try the latest updated patch ? Thanks.

[2018-10-26 10:19] Akasurde commented on #47649
@Aatsi79 Thanks for reporting this and debugging. Would you be interested in opening a PR with above changes? Thanks,

[2018-10-26 10:30] nicholasrodriguez commented on #47563
@Akasurde no worries, I'm rebuilding some servers for this at the moment. I'll update once tested.

[2018-10-26 10:51] thorus90 commented on #14422
[code]
Don't know if this is related but I changed my dynamic inventory so that the variable "ansible_host" does not get set in the group "all" with an variable but for every host static. That fixed it for me.

[2018-10-26 10:56] laixintao commented on #27078
@bits `[default]` not work for me but `[defaults]` works. Thanks anyway.

[2018-10-26 11:14] Aatsi79 commented on #47649
I can try, but that portgroup doesn't solve how to add pvlan to the distributed switch. I have been trying to do it on the dVs, but no luck yet

[2018-10-26 11:17] pmarques commented on #47268
Changing the batch size from **500** to **20** fixes the problem but now I'm getting loads of errors `a batched request failed with status code 503` but not sure if this is related or just the API overloaded.

[2018-10-26 12:06] lukasmrtvy opened #47660 "URI module does not support async mode"
##### SUMMARY
Its not possible to use async mode with uri module.
Command module and get_url module can handle async mode, but does not provide same functionality as uri module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.1 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2018-10-26 12:09] jesusch commented on #44404
still an issue with 2.7.0

[2018-10-26 12:31] mihai-satmarean opened #47661 "add_host does not read host_vars when provided inventory_dir in 2.7"
##### SUMMARY
add_host does not read host_vars when provided inventory_dir in 2.7
previously in 2.6, passing the inventory folder as an variable would load the corresponding host_vars so hostvars[machine] was filled with the needed data

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux rel

[2018-10-26 12:31] gdpak commented on #47527
HI @mirochon
I could also got retry work with your current playbook with local connection and when router was rebooted and not responding to SSH. Issue was delay between task retry is 60 seconds which is more than default connect timeout=30 sec. You can increase connect timeout value by following command (much more than delay between retries)
export ANSIBLE_PERSISTENT_CONNECT_TIMEOUT=100

To make

[2018-10-26 12:32] nicholasrodriguez commented on #47563
@Akasurde I'm getting the same error as before;

[code]
If I revert vmware.py back to non-patched but keep vmware_host.py patched then I get the SSL error again.

[2018-10-26 12:41] Akasurde commented on #47563
That's strange. Can you clean up and try again ? btw, what is Python version you are using ?

[2018-10-26 12:47] s-hertel commented on #47437
@xiaozhu36 Glad you got it working. Feel free to reopen this if you experience the problem again.

[2018-10-26 12:47] #47437 closed, assigned to nobody

[2018-10-26 13:09] funkyfuture commented on #47361
sorry, i should have properly read the post [above](https://github.com/ansible/ansible/issues/47361#issuecomment-431705748) that explains why setuptools is needed.

[2018-10-26 13:25] smnmtzgr opened #47668 "aci_switch_leaf_selector -> empty parameter "policy_group" results in "None" on ACI-fabric"
##### SUMMARY
The parameter "policy_group" is optional for the module aci_switch_leaf_selector what is in principal ok. But when leaving the parameter empty the module will set the value "None" for the parameter. On the ACI fabric then there needs to be a policy named "None" or a target missing failure will happen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aci_switch_leaf_selector

####

[2018-10-26 13:26] benschweizer opened #47669 "win_chocolatey hangs during first run when using a proxy"
##### SUMMARY
powershell execution of win_chocolatey hangs during first install using a proxy server
when a choco.exe is missing, it gets bootstraped by win_chocolatey but this step hangs; if the initial install of choco.exe is performed without a proxy, later package installs using win_chocolatey work as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE

[2018-10-26 13:30] ilychkov commented on #47119
@toni-moreno Probably this can be fixed by passing the _uid_ parameter to the module. We didn't have time to check it yet, though, we only looked at the source code, but you can try it, I hope it helps!

[2018-10-26 13:38] geertn444 opened #47670 "ios: Add support for 25G and 100G interfaces"
##### SUMMARY
Latest Cisco switches also support 25G and 100G interfaces
These are not included in the fix yet

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
see #43819

##### ANSIBLE VERSION
from 2.6

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
show vlan shows:

999  VLN999                           active    Twe1/0/10, Twe1/0/12
100  VLN100

[2018-10-26 13:44] trishnaguha commented on #47632
You can try something like this:
[code]

[2018-10-26 13:51] nicholasrodriguez commented on #47563
Python version is 2.7.5. I've reset and tried again with the same result, traceback is below;
[code]

[2018-10-26 14:14] JonasPf opened #47673 "docker_container: combination of auto_remove:true and detach:false causes exception"
##### SUMMARY

The combination of auto_remove:true and detach:false in docker_container causes a Python exception

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubunut 18.04

##### STEPS TO REPRODUCE

Just run the playbook below. Commenting out either `auto_remove` or `detach` seems to "fix

[2018-10-26 14:28] obourdon commented on #44233
@jocelynj is this fixed by [https://github.com/ansible/ansible/pull/44281](https://github.com/ansible/ansible/pull/44281) ??? If yes may be this could be closed/marked as solved

[2018-10-26 14:29] akshay196 commented on #36831
I would like to work on this. I will propose PR when done.

[2018-10-26 14:30] obourdon commented on #45761
@hryamzik will have a look soon, sorry for not answering earlier

[2018-10-26 14:36] jikamens opened #47676 "debconf with vtype password reports changed even though it wasn't"
##### SUMMARY
Every time my playbook executes it claims `changed` for a debconf rule which is setting a question of type `password`, even though it's setting the password to what it was already set to.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.1 64-bit

##### STEPS TO REPRODUCE
For e

[2018-10-26 14:49] mirochon commented on #47527
Hi @gdpak
I did the same test with network_cli and local. with ansible 2.7 and it still failed.

with persistent_connection I guess it could work but task need to be able to connect at least on the first try to work.   In ansible 2.4.5 ssh doesn't need to work on the first try for the retries to work.

###local(seem to be using network_cli anyway) with connect_timeout = 100
mirochon@ubuntu-MR:~/SM

[2018-10-26 14:57] Routhinator commented on #28708
Is any work being done on this? 18.04 is out and netplan support is now required for 18.04 LTS provisioning?

[2018-10-26 15:28] bhundven commented on #45105
Still an issue with 2.7.1

[code]

[2018-10-26 15:31] bhundven commented on #44404
Issue 45105 is a duplicate of this issue.

I have also tested with 2.7.1, and the issue persists.

[2018-10-26 15:56] RabidCicada commented on #33410
To make it work for my I use nohup <cmd> & disown.  Hopefully this helps someone else.

[2018-10-26 16:04] tuxillo opened #47679 "Output too verbose when using debug"
##### SUMMARY

Output is too verbose when working with certain types of variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

In this case I'm using 'debug' module but I think it happens with any other.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 L

[2018-10-26 16:05] tuxillo commented on #47679
I believe this is what's reported in #35493

[2018-10-26 16:12] kyledecot opened #47681 "install_options not respected in homebrew"
##### SUMMARY

When supplying `install_options` to `homebrew` it seems to ignore the options. For example if I supply `install_options: ---token="FOOBAR"` I would expect the resulting command to be:

[code]

however it seems like the command ends up omitting the options:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`homebrew`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[co

[2018-10-26 16:25] #47679 closed, assigned to nobody

[2018-10-26 16:31] 3kami3 commented on #46727
I'll do it.
I will check and report on next Monday.

[2018-10-26 16:46] RabidCicada commented on #33410
@jborean93 I think this was closed in error.  Can you explain why the services module fails as in the original post?  I understand your justification for other people's add on complaints...but the services module itself should not fail.  This matches your desired and suggested use case of make it a proper service.

[2018-10-26 17:03] Akasurde commented on #47563
@nicholasrodriguez I guess you are using old copy of `vmware.py` as you can see https://github.com/ansible/ansible/pull/47600/files#diff-d5ca044435f1fc628995b038d2e238f7R36 this is latest line where your run is failing.

[2018-10-26 17:16] #47660 closed, assigned to sivel

[2018-10-26 17:19] jocelynj commented on #44233
Yes, this is fixed by #44281.

[2018-10-26 17:19] #44233 closed, assigned to nobody

[2018-10-26 17:35] twekberg commented on #47361
I'm running ansible 2.7.0, using python3, Ubuntu 16.04, and am having the same problem. I have python3-setuptools installed . Tried to update pip with this:
[code]
(where VENV points to where my virtual env is stored) and got the error complaining about setuptools not being found:
[code]
The pip module should pick pip3 since in my venv `python -V` is 3.5.2.  You would think it should be looking fo

[2018-10-26 17:41] #42597 closed, assigned to Akasurde

[2018-10-26 17:51] #18568 closed, assigned to nobody

[2018-10-26 18:35] zharalim commented on #47644
Are you looking for any_errors_fatal? See https://docs.ansible.com/ansible/2.7/user_guide/playbooks_error_handling.html#aborting-the-play

[2018-10-26 18:56] #47585 closed, assigned to nobody

[2018-10-26 19:08] bcoca commented on #47644
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-26 19:08] #47644 closed, assigned to nobody

[2018-10-26 19:28] DylanYoung commented on #33581
@bcoca Why would this get complicated? The ansible output is flat regardless of nested blocks, so all you need to do is print ```BLOCK TASKS [ ROLE : NAME_OF_BLOCK ]```.

Could even print it again when the block ends: ```BLOCK END ...```

But maybe I'm misunderstanding the complexity...

[2018-10-26 19:37] wenottingham opened #47689 "https://github.com/ansible/ansible/pull/47109 breaks yum installs with version specifiers"
##### SUMMARY
https://github.com/ansible/ansible/pull/47109 is broken and should be reverted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum (dnf)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 28, EL7

##### STEPS TO REPRODUCE

yum module allows version specifiers in `name`.
[code]

##### EXPECTED RESULTS

playbook installs the latest build of f

[2018-10-26 19:39] wenottingham commented on #47689
The above playbook works fine with 2.7.0 and earlier releases. If it's intended to move to a new syntax for specifiers, it sholdn't be done in a 2.7.1 release.

[2018-10-26 19:40] wenottingham commented on #47689
cc @mkrizek

[2018-10-26 19:51] sivel commented on #33581
The complicated thing is that Ansible used blocks implicitly for the internal structure of tasks to run.

Every task _**always**_ has a block for a parent.  Whether explicit or implicit.  Additionally blocks can be deeply nested.  To what end do we include parent blocks in the naming?

[2018-10-26 20:41] Numblesix commented on #46523
For me this isnt working at all

[code]
[code]
[code]
and what really wonders me is the default search path for modules is /usr/share/ansible/... but on my fresh centos 7.5 install this directory is empty therefore i pointed `inventory_plugins  = /usr/lib/python2.7/site-packages/ansible/plugins/inventory/` am im overseeing something ?

[2018-10-26 20:44] DFazeli opened #47691 "how to use multi dictionary"
##### SUMMARY
I have two dict in `/default/mian.yml` and I want to use together dict. please look my code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`/default/main.yml`
[code]
and my playbook is: `/tasks/main.yml`
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
I want set all ip nodes from first di

[2018-10-26 21:05] jobevers commented on #47361
I got the same error, so replaced the pip module with the command module and it works just fine:

before:
[code]

after:
[code]

It seems to me that the setuptool check is either flawed or unnecessary.

[2018-10-26 21:31] jsf9k commented on #47097
I am seeing this issue as well, but it happens every time for me using Ansible 2.7.0 and 2.7.1.  It *does not* happen if I revert to Ansible 2.6.5.

With the following code:
[code]
I get (with `-vvv`):
[code]

As I stated above, the exact same setup works fine (every time) with Ansible 2.6.5.

[2018-10-26 21:46] felixfontein commented on #47673
Fixed in #47396, backported to stable-2.7 in #47485, which should be contained in Ansible 2.7.1, which in turn was released today.

duplicate_of #45272
resolved_by_pr #47396

[2018-10-26 21:52] felixfontein commented on #36831
@akshay196 sounds good! We should probably at some point find a better method of handling features which aren't available in all docker-py versions (or not with all docker/docker API versions). But that doesn't need to be done right now, it's just something we should keep in the back of our heads.

[2018-10-26 21:54] #47673 closed, assigned to nobody

[2018-10-26 22:48] gbaufake commented on #47556
@fabianvf
I still see this issue on 2.7.1

[2018-10-26 23:04] madonius commented on #42309
@frock81 I tried reproducing your issue and unfortunately have not been successful.
[code]
@k-c-p can you try replicating it?
**Note**: `become: true` is missing from the play

[2018-10-26 23:56] vpopescu opened #47696 "azure deployment - integers being passed as string"
##### SUMMARY
I am trying to deploy an cluster via azure_rm_deployment and an inline template. I am getting an error when trying to send an integer property, it appears it's being serialized as a string.

The value in question is count, below. I have a string value of "1" and I'm trying to send it as an integer:
[code]
I found this filter in another bug report, and it appered that it would fix my

[2018-10-27 00:06] vpopescu opened #47697 "Azure AKS - no support for enableRBAC?"
##### SUMMARY
I am trying to set up an RBAC-enabled cluster with azure_rm_aks and it doesn't seem to be a way?

The rest API has an "enableRBAC" field, but I do not see a way to control it from the module. Ref: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate

I believe the module doesn't set the rbac field to anything, which means it will be false, which in turn means

[2018-10-27 00:13] zikalino commented on #47696
@vpopescu this is actually generic Ansible issue, not relayed to azure.
when you do templating "{{ … }}" everything is treated as a string.

so when you do this: "{{ agent_count | int}}"
it's first converted into int internally, and then it gets converted back intro string because of everything in quotes is treated as a string.

there is already a discussion on this.....

https://github.com/ansibl

[2018-10-27 00:55] vpopescu commented on #47696
@zikalino  Thanks, I thought my googling returned some solutions for other modules where the "int" filter actually worked, I guess i was wrong. But this is a fundamental issue then, if you can't use integer values in ansible, since many systems validate results against a schema of some sort. What should I do with the bug, how do I make it a generic one?

[2018-10-27 00:58] zikalino commented on #47696
I think there was another, more generic discussion about this, but couldn't find it yet.
actually I have noticed that you want to use deployment because aks module doesn't provide enough functionality. you could also try to use rest api directly, I can create a sample (under another issue)

[2018-10-27 01:03] zikalino commented on #47697
This option could be easily added, here's a sample how to use REST API in a meanwhile:

[code]

[2018-10-27 05:00] zikalino commented on #47696
actually, probably yes, I think REST API should be more forgiving when passing integer as string.... but needs to be checked.

[2018-10-27 05:03] zikalino commented on #47696
also it should be possible to pass JSON.
having said that it could perhaps be a workaround for deployment templates...

[2018-10-27 06:58] #37066 closed, assigned to Akasurde

[2018-10-27 07:38] willthames commented on #47556
@gbaufake you see which issue?

You have to pass one or both of kubeconfig/context, otherwise it defaults to incluster mode.

The difference between 2.7.0 and 2.7.1 is that you had to pass both kubeconfig and context in 2.7.0

[2018-10-27 08:40] ericzolf opened #47703 "sequence lookup plug-in documentation shows only outdated with_ examples"
##### SUMMARY

https://docs.ansible.com/ansible/latest/plugins/lookup/sequence.html has only examples regarding `with_sequence` which is obsolete.

I know I could edit myself but I can't get all the right lookup/query call syntax (see below).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

sequence

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-10-27 08:43] ericzolf commented on #47703
Looking more into it, I see that this issue affects most lookup plugins listed at https://docs.ansible.com/ansible/latest/plugins/lookup.html

[2018-10-27 09:44] endejoli commented on #47079
@Akasurde I am getting below error while using k8s module

Saturday 27 October 2018  09:26:55 +0000 (0:00:00.027)       0:00:01.396 ******
fatal: [localhost]: FAILED! => {
    "failed": true,
    "msg": "Could not find imported module support code for k8s.  Looked for either KubernetesRawModule.py or raw.py"
}

Checked the module availability using

~/ansible/openshift$ ansible-doc -t module k8s

[2018-10-27 11:07] trondhindenes opened #47706 "Support for Powershell Remoting over SSH to Windows targets"
##### SUMMARY
Add support to allow using ssh (as opposed to http/winrm) as a communication protocol when targeting Windows targets

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
winrm

##### ADDITIONAL INFORMATION
Given that the target node has Powershell 6 installed, ssh is now an alternative communication channel to the existing http/winrm. This is documented here: https://docs.microsoft

[2018-10-27 11:11] trondhindenes opened #47707 "Support a long-running listener process on Windows to speed up Ansible"
##### SUMMARY
Ansible currently uses "native" winrm. This means that each task Ansible sends to a windows node results in the target node spinning up a new process/runspace to host the command(s) invoked by Ansible. This is very slow.

Although it might be considered breaking the agentless nature of Ansible, it would be good to have an option where Ansible would self-install an ephemeral process t

[2018-10-27 12:30] resmo commented on #47444
resolved_by_pr #47704

[2018-10-27 14:35] felixfontein commented on #45272
Please note that 2.7.1 has a race condition if both `auto_remove: yes` and `detach: no` are used; see #47712. Use `cleanup: yes` instead of `auto_remove: yes` if `detach: no` to avoid this.

[2018-10-27 14:35] felixfontein commented on #47673
Please note that 2.7.1 has a race condition if both `auto_remove: yes` and `detach: no` are used; see #47712. Use `cleanup: yes` instead of `auto_remove: yes` if `detach: no` to avoid this.

[2018-10-27 15:37] vchokshi commented on #22171
+1 for cassandra service on RHEL.

[2018-10-27 16:42] umrikar opened #47713 "VMware: should have choice to specify vsan datastore name when configuring vsan cluster"
##### SUMMARY

 While configuring vsan cluster we cant specify vsan datastore name that will get created.
 By default playbook gives name to datastore as vsanDatastore.If we have multiple vsan clusters on same vcenter it becomes confusing because new name will appeare as vsanDatastore(1).
 User should have facility to give datastore name in playbook

##### ISSUE TYPE
- Feature Idea

##### COMPONEN

[2018-10-27 18:13] Nklya commented on #30226
FYI:
In Ansible 2.7 was added `access_time` and `modification_time`, so you can use that to avoid change every run:
[code]

[2018-10-27 20:14] jborean93 commented on #47707
Hey @trondhindenes this is something we've been wanting to implement with persisted connections. Unfortunately the current persistent code that is used for Network modules (`ansible-connection`) turned out to be slower than starting a new shell for each task. We were unable to verify at the time why this was the case so we hit a bit of a roadblock for now. I believe @bcoca had some thoughts as to

[2018-10-27 20:24] #47706 closed, assigned to nobody

[2018-10-27 23:08] kaelscion commented on #47696
If you don't mind, I'd like to take a look at this but am new to open source. Is there any way I can assign myself to it per chance?

[2018-10-28 01:59] lets00 commented on #28708
I started to work on a module to netplan. This is the WIP Pull request link https://github.com/ansible/ansible/pull/47718.

Feel free to suggest tips and improvements.

[2018-10-28 06:17] #47259 closed, assigned to nobody

[2018-10-28 07:50] ybizeul opened #47722 "VMware: vmware_guest_powerstate "state_change_timeout" not working"
##### SUMMARY
Using `state_change_timeout` within `vmware_guest_powerstate` doesn't have the described behaviour. The doc says in case you're doing `shutdown-guest` it lets you define a wait time before returning that the VM is actually shut down. Instead, the task returns immediately.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_powerstate

##### ANSIBLE VERSION

[code]

####

[2018-10-28 08:27] #41794 closed, assigned to nobody

[2018-10-28 08:49] trondhindenes commented on #47707
nice, good to hear that there's movement here. I did some research a while ago trying to figure out if it's possible to configure the winrm service in such a way that invocations against reuse the same process instead of spinning up a new, but I didn't get anywhere. That said, Powershell has the notion of "sessions", so I guess it is supported (I didn't dig into the protocol spec for how sessions

[2018-10-28 08:57] trondhindenes commented on #25344
I find it really interesting that under testing the ssh option didn't provide any speed benefits over winrm (except for file copies, which makes total sense).
From that result I would assume that they way testing was done also led to spinning up a new process/runspace on each task  -> This may suggest that what needs to be fixed _first_ for Ansible to get acceptable speends when configuring window

[2018-10-28 09:04] trondhindenes commented on #47707
This seems to document the "session" apis in WinRM:
https://docs.microsoft.com/en-us/windows/desktop/api/Wsman/nf-wsman-wsmancreatesession

[2018-10-28 09:16] morph027 commented on #42501
Hm, ran into the same today ....

[2018-10-28 11:32] Akasurde commented on #47722
@ybizeul Thanks for reporting this issue. This is regression introduce via 5d0ed38e3ad3c4b83bb0c083a8832f8a926da31c.

[2018-10-28 11:41] Akasurde commented on #47722
resolved_by_pr #47723

[2018-10-28 11:42] Akasurde commented on #47722
@ybizeul Could you please try above PR and let me know if it works for you ? Thanks.

needs_info

[2018-10-28 13:18] Akasurde commented on #47641
resolved_by_pr #47642

[2018-10-28 13:29] Akasurde commented on #42597
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-10-28 13:36] Akasurde commented on #27893
resolved_by_pr #47303

[2018-10-28 13:41] Akasurde commented on #28649
@1NoOne1 Could you please re-try again with latest Ansible version and let us know if it works or not ? Since PR https://github.com/ansible/ansible/pull/35812 is merged, I think this will be resolved. Thanks

needs_info

[2018-10-28 13:42] Akasurde commented on #31804
@bhairav13 Could you please try https://github.com/ansible/ansible/pull/35812 and let me know if it works for you ? This PR allows user to specify parent datastore for template to clone. Thanks,

needs_info

[2018-10-28 13:44] Barathwaja opened #47724 "STS AssumeRole Access Denied"
My S3 and EC2 are in different accounts and was able to access that Accounts S3 Bucket via the cmd "_aws s3 ls --profile profileName_". Also I get the _Temporary AWS Access and Secret Key_ when I used this cmd "aws sts assume-role --role-arn  _role_arn_ --role-session-name _role_session_name_".
But when I tried to use the below snippet I get AssumeRole Access Denied.
![image](https://user-images.g

[2018-10-28 13:51] Akasurde commented on #39293
@karniemi Could you please try this PR https://github.com/ansible/ansible/pull/35812 and let us know if it works for you ? Thanks

needs_info

[2018-10-28 13:52] Akasurde commented on #39982
@z3t0 Any news on this ? needs_info

[2018-10-28 14:04] chenl87 commented on #43244
@dseeley-sky
It seems like the health_check_path is being set only when there's a health_check_protocol provided:
if module.params.get("health_check_protocol") is not None and module.params.get("health_check_protocol").upper() != 'TCP':
             if module.params.get("health_check_path") is not None:
                params['HealthCheckPath'] = module.params.get("health_check_path")

Now when se

[2018-10-28 14:56] ssbarnea opened #47725 "syncronize module fails to detect correct rsync path"
##### SUMMARY
On Synology DSM (BSM based OS), syncronize module attempts to call rsync from /usr/local/bin/rsync instead of /bin/rsync and fails to run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
syncronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Synology DSM

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Syncronize module should fig

[2018-10-28 15:05] ssbarnea commented on #47725
Closing, proving to be PBCAK.

[2018-10-28 15:05] #47725 closed, assigned to nobody

[2018-10-28 15:32] ybizeul commented on #47722
All good now, thanks

[2018-10-28 16:16] blastik commented on #47604
hi @wutzkachel
have you tried like this?
[code]

[2018-10-28 18:14] trondhindenes commented on #47707
did a bit more digging - I have never really looked at the winrm stuff in Ansible before. I see it persists the shell_id in the winrm `Connection` in Ansible. Does that mean that the Connection object itself is instantiated again and again for each task? If so it's tempting to just hack a "persister" using local files or redis or something (custom connection plugin)

[2018-10-28 20:06] jborean93 commented on #47707
a new connection plugin is created on every task so for WinRM it will send at minimum these messages

* Create Shell
* Create Process
* Send Process input
* Receive process output (there could be multiple of these depending on the time and sizze)
* Cleanup Process
* Close Shell

If we were to share the connection plugin we could potentially eliminate the first and last message but the remaining wi

[2018-10-28 21:02] omerh opened #47728 "pamd module doesn't update common-session file"
##### SUMMARY
I am trying to add a pam.d module to common-session using pamd module
Task pass ok, nothing is happening.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pamd
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS: Ubuntu 18.04 LTS running on AWS

##### STEPS TO REPRODUCE
Run playbook with a role that runs this task

[code]
##### EXPECTED RESU

[2018-10-28 21:28] oupala commented on #20199
Same as @simevo, I can't the fix in the stable 2.2 branch.

Please backport!

[2018-10-28 23:06] trondhindenes commented on #47707
Nice, thanks for the input. For us the cpu usage on targets are a bigger problem than speed actually. We try and run t3.micro for nonprod if there isn't any reason for using bigger instances, and they spike hard when we run Ansible against them. So even without the performance (as in speed) gains, a persistent runspace would be enough for us to switch connections - at least it's something we'd be

[2018-10-28 23:08] trondhindenes commented on #47707
oh and btw: My sincerest respect to you for diving into this. I spent 30 mins investigating winrm soap messages and had to stop because I was feeling dizzy ;-)

[2018-10-28 23:58] jborean93 commented on #47707
@trondhindenes have you tried `ansible_connection: psrp` with the t3.micro instances, docs for this are at [psrp](https://docs.ansible.com/ansible/devel/plugins/connection/psrp.html)? I never really tested it against a cut down host so unsure whether that will help the CPU usage.

Start looking into PSRP and you come across XML embedded in XML, does your head in :P. I'm just happy that it isn't AS

[2018-10-29 01:03] zikalino commented on #47696
@kaelscion unfortunately it's possible to assign only members.... I can assign myself, and then help you merge if you create pr :-)

[2018-10-29 01:07] 3kami3 commented on #46727
@Akasurde  I checked the operation.
With PR #47538 , reported errors were fixed.
Thank you for your response.
[code]

[2018-10-29 01:57] zikalino commented on #47696
seems like, when just using single numeric variable, say "a", "{{ a }}" will be actually a number.
but any more complex expression will result in a string......

[2018-10-29 02:00] yungezz commented on #47227
@mattclay HI Matt, after above PR, have you see any webapp test failure?

[2018-10-29 05:57] Fred-sun commented on #47268
@pmarques Thanks for the contribution, Could you help give you test YML or reproduced step? I will try to reproduced and push to be solved, Thanks!

[2018-10-29 06:36] #47697 closed, assigned to nobody

[2018-10-29 06:38] zikalino commented on #47697
@vpopescu i have provided a fix to the azure_rm_aks module.
btw, i would like to learn more about the entire scenario. is there anything more you will need in ansible to enable this?

[2018-10-29 06:38] #47722 closed, assigned to Akasurde

[2018-10-29 08:00] Fred-sun commented on #47111
@zikalino Could you help take a look this issue? I try to reproduced this error, but I can't. Thanks!

[2018-10-29 08:01] Barathwaja commented on #47724
This is the Scenario that helped me to solve this cross account S3 Issue.

In `~/.aws/config`  has the role_arn of the **AWS ACCOUNT 1** with source pointing to default, and `~/.aws/credentials` has the role_arn of the **AWS ACCOUNT 2**.
 And the below snippet helped to solve cross account Stuff.
[code]

**Ansible Version: 2.6**

[2018-10-29 08:01] Barathwaja commented on #47724
Closing Issue.

[2018-10-29 08:01] #47724 closed, assigned to nobody

[2018-10-29 08:05] ckotte commented on #44772
@nicholasrodriguez Could you test the new version of the PR? It's now possible to move a host from a folder to a cluster and vice versa

[2018-10-29 08:10] Fred-sun commented on #46790
@zikalino

[2018-10-29 08:27] esamattis opened #47736 "mysql_user broken in 2.7.1 when using /root/.my.cnf"
##### SUMMARY

When upgrading from 2.7.0 to 2.7.1 we started seeing this error from `mysql_user` module

[code]

The task is following:

[code]

The latter one fails.

Ansible 2.7.0 works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave version 10.14 (18A391)

And Ubuntu 18.04 se

[2018-10-29 08:38] Fred-sun commented on #30392
@yuwzho Could you help confirm that how about the issue going? need to be fixed or closed ,Thanks!

[2018-10-29 08:47] jfillatre opened #47737 "docker_swarm_service: Unable to publish a port in host mode"
##### SUMMARY
Despite of port publish mode set as host, service is deployed using ingress mesh routing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)
Linux RD-CAEN-TPE-HA-04 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_6

[2018-10-29 09:10] gthieleb commented on #27905
@sophie-h @thoto Is it planned that the new virt module family also will support fact gathering.
Currently it is pain in the ass to get specific properties from the `virt` module. I found a workaround in using an additional [filter](https://github.com/nasgoncalves/ansible-xml-to-json-filter/) to retrieve information from a previously defined VM.

Both implementations of you are introspecting the X

[2018-10-29 09:32] mkjpryor-stfc commented on #47361
I am having this same problem when using `virtualenv` and `virtualenv_command`.

It seems that the `pip` module is making the check _before_ creating the virtualenv, because if it did the check on the virtualenv after creating it, it would see that setuptools and pip are both present _in the virtualenv_. I don't really want to install them into my system Python unnecessarily.

[2018-10-29 09:35] mkjpryor-stfc commented on #47361
The problem is that `HAS_SETUPTOOLS` in the check is based on the Python that Ansible is running in (the system Python), whereas I want to use `pip` in a Python 3 virtual environment.

[2018-10-29 09:37] Normo commented on #28952
[code]
Same for ansible 2.7.1

[2018-10-29 09:39] mkjpryor-stfc commented on #47361
One way to solve this would be to check the exit code of `python -c "import setuptools"` on the Python that the `pip` command is actually going to be using, after any virtualenv creation has been done.

[2018-10-29 10:06] rambobba45 opened #47738 "stop ansible from writing passwords to the console"
For all security related bugs, email security@ansible.com instead of using this issue tracker and you will receive a prompt response.

For more information, see Can you please assist in fixing this issue?
Issue: I'm supplying the password as a stdin variable in my yml file and that prints the password to console. Can you please suggest a workaround other than 'no_log' option, to prevent ansible fr

[2018-10-29 10:06] Swim3r opened #47739 "ansible 2.4 service not started"
##### SUMMARY

After the role fulfills, all tasks come to the end successfully. But the application itself does not start.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Sevice

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]
 His work
[code]
But if i go to host.

[code]

If you do a task with "command"

[co

[2018-10-29 10:18] nicholasrodriguez commented on #47563
@Akasurde adding a host is working now with the link above. Thanks for clarifying which file to use.

[2018-10-29 10:31] rambobba45 commented on #47738
##### SUMMARY
I'm supplying the password as a stdin variable in my yml file and that prints the password to console. Can you please suggest a workaround other than 'no_log' option, to prevent ansible from printing the sensitive information. I even tried the password vault option, it still decrypts the password and prints it in logs.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible log

[2018-10-29 10:40] ant31 commented on #46600
have you checked with 2.7.1 ?
It seems to work now,
cc @jimmymccrory

[2018-10-29 11:01] tumluliu commented on #47298
Hi ansible, any idea about this? Is it a feature or a bug?

[2018-10-29 11:16] sebastianw opened #47740 "Support commit check to confirm commits with JunOS"
##### SUMMARY

We're using confirm_commit with junos_config:

[code]

Currently this issues another commit which takes a long time on some devices and also enters another commit in the commit log. JunOS also supports just doing a `commit check` to confirm a commit which is much faster and does not enter a second commit in the commit log.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
junos

[2018-10-29 11:49] gundalow commented on #30599
Hi,
Fix in https://github.com/ansible/ansible/pull/44324 has been merged into `devel` for release in Ansible 2.8
Backport for `stable-2.7` created https://github.com/ansible/ansible/pull/47741

[2018-10-29 11:58] chopraaa commented on #47361
@mkjpryor-stfc This was ~botched~ modified in https://github.com/ansible/ansible/commit/501503f4cb424d01c030e14cb5e5f8445fcdada3#diff-62bf642191d16cdc80c0db31388c8cdf where Ansible requires setuptools to be present for the interpreter.

I think this is done to check which packages are installed now. Hopefully they can update the documentation the next time they introduce a breaking change.

[2018-10-29 12:21] Tux12Fun commented on #28736
+label affects_2.5

[2018-10-29 12:32] jborean93 commented on #47361
I've locked the conversation as the damage has been done and `setuptools` is now a requirement for the `pip` module. I'm sure there can be a future feature that only uses `setuptools` if a version specifier is set but for now I'll settle with having a more descriptive error of what's happening. The PR https://github.com/ansible/ansible/pull/47743 will improve the error message when `setuptools` is

[2018-10-29 12:35] Akasurde commented on #47329
@Tomorrow9 I think configuring controller per disk makes sense to me that gives more control to user. also, having parent key in hardware will help.

[code]

Let me know if it make sense.

[2018-10-29 12:39] Shinerrs commented on #14426
My issue was firewall related. For me this is resolved.

[2018-10-29 12:54] kaelscion commented on #47696
Hmm. Once I dig in a bit more I'll be able to answer this for myself I'm sure  (cloning the version in the bug report right now) but just to save some time, is there templating support built in? Like Jinja or Django's template system or the like? I'm guessing an Azure deployment has web template support at some area of the stack. Thank you so much btw for answering my questions. If it gets convert

[2018-10-29 13:17] #46705 closed, assigned to nobody

[2018-10-29 13:20] gundalow commented on #20199
@oupala Ansible 2.2 is receiving updates anymore. https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html

May I suggest upgrade to Ansible 2.7? https://docs.ansible.com/ansible/latest/porting_guides/porting_guides.html

[2018-10-29 14:01] megakoresh commented on #44504
Updated bug description to mention that configuration in `~/.kube` also overrides the url and project parameters, just in case this is due to a different issue (shouldn't be). Far as I understand the intended behaviour is that parameters specified in playbook should always take precedence over anything in `~/.kube`

[2018-10-29 14:03] jrvilda opened #47745 "VMware: vmware_vm_shell does not return output command with wait for command."
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_shell

##### ANSIBLE VERSION
ansible 2.7.0
  config file = /var/lib/jenkins-client/workspace/3011.Estado del servicio/ansible.cfg
  configured module search path = [u'/']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00

[2018-10-29 14:15] nikaro commented on #19820
@kanwar-saad nice workaround i didn't think to try this. I can't think of a scenario in which it can blow up, but it's been a long time i didn't dig into this module code.

Did you tried to reboot the host (to let `/tmp/` be emptied) and relaunch the playbook?

[2018-10-29 14:16] nicholasrodriguez commented on #44772
@ckotte I was able to test successfully to a certain degree. The following cases work;

- Server is in a folder or root of a Datacenter and can be moved into a cluster
- Server in in a cluster and can be moved to Datacenter/folder
- The module either returns a **changed** or **ok** for the above depending on the current state of the target ESXi host

I can't test adding a server into the inventory

[2018-10-29 14:49] Akasurde commented on #47745
@jrvilda Thanks for reporting this issue. [VMware API](https://github.com/vmware/pyvmomi/blob/master/docs/vim/vm/guest/ProcessManager.rst) does not return any stdout for process started in VM, so I am not sure how this can be achieved.

[2018-10-29 14:59] kanwar-saad commented on #19820
@nikaro Yes, the nodes are working fine after reboot. I was asking only because if there is corner case I should be aware of, since I am using this trick on production machines. But if there is nothing then well and good.

[2018-10-29 15:01] vpopescu commented on #47697
Thank You!
I think it should be sufficient. I can change my playbook to use this, and see if anything else is missing. If it is, I will report.

By the way, what is the process of patching my 2.7 with just this one module fix, or do I need to pull down a full ansible devel build?

[2018-10-29 15:04] tomservo3428 opened #47750 "F5 bigip_device_facts "unknown profile context error""
##### SUMMARY
The F5 bigip_device_facts call throws an error when pulling the profile context "serverside"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_device_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Mojave 10.14

##### STEPS TO REPRODUCE

run a playbook where the only task is bigip_device_facts and the subset is "virtual-serv

[2018-10-29 15:08] sivel commented on #47703
`with_` syntax is not obsolete, and is not deprecated.

We do plan to eventually deprecate `with_` syntax after we have had more time to make the UX of `loop` better, to limit the amount of jinja2 needed to achieve similar results.  However due to the proliferation of `with_`, when that time comes, it will be an extended deprecation cycle.

If you have further questions please stop by IRC or the m

[2018-10-29 15:08] #47703 closed, assigned to nobody

[2018-10-29 15:09] sivel commented on #47691
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-29 15:09] #47691 closed, assigned to nobody

[2018-10-29 15:11] kanwar-saad commented on #19820
@J0WI No, it didn't work with `/dev/null` since, this module uses some file parsing trick to add an entry in file and It cannot parse `/dev/null`.

[2018-10-29 15:25] achadwick opened #47752 "Syntax improvements for complex "when" conditionals"
##### SUMMARY

Please could the `when:` directive be extended with additional syntactic sugar for both AND and OR?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Not sure what is meant here. However, I would like the sugar to ideally use directives named `any` and `all`. This would provide a degree of similarity to Python's [`all()`](https://docs.python.org/3/library/functions.html#all) a

[2018-10-29 15:29] #47563 closed, assigned to Akasurde

[2018-10-29 15:30] jorijinnall commented on #46152
@marcind Thanks. Can you review the PR ?

[2018-10-29 15:30] jorijinnall commented on #46152
@marcinpraczko  Thanks. Can you review the PR ?

[2018-10-29 15:32] achadwick commented on #47752
For those searching, as of Ansible 2.6.5, one can use the following to get this kind of logic. It's still a lot of bracket noise, but it's manageable enough?

[code]

[2018-10-29 15:41] sivel commented on #47670
!component =lib/ansible/modules/network/ios

[2018-10-29 15:41] sivel commented on #47738
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-29 15:41] #47738 closed, assigned to nobody

[2018-10-29 16:03] sivel commented on #47752
FWIW, we do already have `any` and `all` jinja2 tests in Ansible.  So something like the following is also possible:

[code]

You can't write it in YAML, as it needs to be a string that is passed to jinja2, so it has to look more like python.

[2018-10-29 16:05] ckotte commented on #44772
Yes, I needed to rewrite the modules to include the host move and today I found out while testing with a fresh vCenter and ESXi host that the SSL thumbprint behavior is different. Before I tested it with 6.5 vCenter with custom certificates. I will fix this and let you know. Thanks.

[2018-10-29 16:12] sivel commented on #47752
!component =lib/ansible/playbook/conditional.py

[2018-10-29 16:58] drawks commented on #47156
Sorry for the slow response, was out of town for a while. Ultimately I'm fine with whatever solution works with the objectives being:
1. correct reporting of `changed` to support the notion of idempotency and declarative playbooks
2. simple "does what the user expects" semantics/syntax for the module
2.b. clear documentation and examples
3. [bonus goal] integration into the `file` module in the sa

[2018-10-29 17:02] CaptainBlasteroid commented on #47750
Just to test, I created a new VIP and a pool w/ two pool members on my lab BIG-IP and received the same error for a clientside context... "msg": "Unknown profile context found: 'clientside'"

[2018-10-29 17:36] blocklanders opened #47764 "aruba_command & aruba_config authenticates but times out on ArubaOS 8.3"
##### SUMMARY
The aruba_command and aruba_config modules function properly when running on a Aruba wireless Mobility Controller with ArubaOS version 6.5.4.7. However, when running the modules against an upgraded controller on ArubaOS 8.3, the authentication is successful however the connection times out from running the Task.,

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aruba_command and

[2018-10-29 17:38] caphrim007 commented on #47750
@CaptainBlasteroid can you try using the module in the F5Networks repo? I think we've had a similar report which we've already fixed.

https://github.com/F5Networks/f5-ansible

[2018-10-29 17:47] ganeshrn commented on #47764
@blocklanders Can you please try with ansible 2.7.1 version

[2018-10-29 18:01] jimmymccrory commented on #46600
Thanks @ant31, looks like 2.7.1 is working for me too.

This appears to be fix.
https://github.com/ansible/ansible/commit/f1db8985e3f63b7f954279bb1ad23ba673d94fe1
https://github.com/ansible/ansible/issues/47207

[2018-10-29 18:01] #46600 closed, assigned to nobody

[2018-10-29 18:06] CaptainBlasteroid commented on #47750
@caphrim007 which one, and how do I use the one in that repo instead of one I'm currently using?

[2018-10-29 18:40] randlet commented on #43506
Quick workaround using command/awscli in case anyone else lands on this page wondering how to redirect http to https traffic with an application load balancer:

[code]

[2018-10-29 18:41] CaptainBlasteroid commented on #47750
@caphrim007 that is to say, I followed the instructions found here...

https://clouddocs.f5.com/products/orchestration/ansible/devel/

...to install Ansible and the F5-SDK as well as followed the examples to get things going. Should I have submitted this issue in the other repo? I think your comment above has me a bit confused now.

[2018-10-29 18:49] caphrim007 commented on #47750
@CaptainBlasteroid the F5 module work is done in that downstream repo and during ansible releases we upstream it into core.

The easiest way to use that repo is to install one of the bi-weekly releases of it that we put in Ansible Galaxy.

Instructions and usage can be found here

https://galaxy.ansible.com/f5devcentral/f5ansible

Otherwise, you can download the files in the F5Networks/f5-ansible

[2018-10-29 18:56] CaptainBlasteroid commented on #47750
Hmm... I ran this from the command line:

$ ansible-galaxy install -f f5devcentral.f5ansible

...and got the following error:

 [WARNING]: - f5devcentral.f5ansible was NOT installed successfully: Failed to get data from the API server (https://galaxy.ansible.com/api/): Failed to validate the SSL certificate for galaxy.ansible.com:443. Make sure your managed systems have a valid CA
certificate inst

[2018-10-29 18:56] #47444 closed, assigned to nobody

[2018-10-29 19:16] vigneshconfianza opened #47769 "VMware: Unable to get ESXi ssl thumbprint through module "vmware_host_ssl_facts""
##### SUMMARY
Trying to retrieve ESXi ssl thumbprint, but the ansible out put returns empty dictionary value though available in system

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_ssl_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

#

[2018-10-29 19:20] CaptainBlasteroid commented on #47750
@caphrim007 I installed the role, added it to my playbook the same way as the examples show, and got the following error:

ok: [bigip1] => {
    "msg": "Please install f5-sdk via pip. 'pip install f5-sdk --upgrade'"
}

However, pip shows that I'm running f5-sdk 3.0.20.

[2018-10-29 19:27] endorama opened #47770 "Integration with Mozilla SOPS for encrypted files"
##### SUMMARY

Integrate Mozilla `sops` to allow file content lookup.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Lookup plugin

##### ADDITIONAL INFORMATION

Issue #36982 requests `sops` integration for encrypted vars file.

As `sops` is capable of encrypting/decrypting [entire files][entire-files], a `lookup` plugin to load them can come useful to use encrypted file content.

[entire

[2018-10-29 19:39] ericsysmin commented on #34049
Has anyone figured out how to use gcp_storage_bucket to upload files to a bucket?

[2018-10-29 19:47] DBendit commented on #19271
This doesn't appear to be an issue anymore, at least in the 2.8 devel branch. See the associated PR for an integ test proving this.

[2018-10-29 20:01] fhackenb commented on #19584
What worked for me was to update my hosts file to have the path to the ssh key:

[code]

[2018-10-29 20:08] enablex3 commented on #19584
Nice solution. This would take care of multiple targets!

On Mon, Oct 29, 2018 at 4:02 PM fhackenb <notifications@github.com> wrote:

[2018-10-29 20:11] DBendit commented on #41714
This is already supported with the `ipam_options` parameter, being expanded upon and renamed in https://github.com/ansible/ansible/pull/47492.

You should be able to have something like the following:
[code]

notabug

[2018-10-29 20:12] DBendit commented on #19271
notabug

See above.

[2018-10-29 20:17] DBendit commented on #32927
resolved_by_pr 43997

[2018-10-29 20:21] DBendit commented on #29584
duplicate_of 19271

[2018-10-29 20:27] #41714 closed, assigned to nobody

[2018-10-29 20:27] #32927 closed, assigned to nobody

[2018-10-29 20:27] #29584 closed, assigned to nobody

[2018-10-29 20:27] #19271 closed, assigned to nobody

[2018-10-29 20:32] DBendit commented on #29460
resolved_by_pr 43997

[2018-10-29 20:33] larsks commented on #36000
I've resubmitted an nspawn connection driver as #47776.  This is really just a clone of the `chroot` connection driver, but you get your own pid namespace, automagic management of `/proc`, `/sys`, etc, as as the ability to control network and user namespaces by passing additional options to `systemd-nspawn`.

[2018-10-29 20:38] #29460 closed, assigned to nobody

[2018-10-29 20:42] ckotte commented on #44772
@nicholasrodriguez Ok. I've added SSL thumbprint handling to my PR. The behavior is a little bit different; It fetches the SSL thumbprint by default if not specified instead of generating an error and trying it again.

[2018-10-29 20:45] GitHubSachin commented on #39352
this is not fixed yet, still get same error with latest code.

[2018-10-29 20:50] clintmod commented on #27078
Found this in the docs for adhoc: https://docs.ansible.com/ansible/2.5/plugins/callback.html#managing-adhoc

[code]

[2018-10-29 21:05] caphrim007 commented on #47750
@CaptainBlasteroid are you running ansible in a virtualenv?

[2018-10-29 21:16] Kloperations commented on #47230
Do I need to clone the DEVEL repo to test?

From: Mike Wiebe <notifications@github.com>
Sent: Friday, October 26, 2018 4:09 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Kloepper,Chris <Chris.Kloepper@Cerner.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] nxos_install_os performs ISSU when set to "no" (#47230)

@Kloperations<https://na01.safelinks.protection.out

[2018-10-29 21:18] cigamit commented on #47646
For the vmware_guest module, 'LicenseFilePrintData' isn't a proper attribute to 'customization'.  It appears to be supported in pyvmomi, but I don't believe we support it yet.  For the options we support, see the module documentation.

So in essence I would say that this isn't a bug, but its a feature request.

https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html#vmware-guest-m

[2018-10-29 21:43] #32580 closed, assigned to nobody

[2018-10-29 21:53] dbolotin commented on #41714
Thanks for letting me know!

[2018-10-30 01:45] yuwzho commented on #39352
Hi @GitHubSachin , the `enable_floating_ip` is a new option under the `load_balancing_rules`, you can try it with v2.7

https://github.com/ansible/ansible/blob/6cfdd9f4665b955d84e276df4f9d39e2711abf3e/lib/ansible/modules/cloud/azure/azure_rm_loadbalancer.py#L203-L205

[2018-10-30 01:58] vpopescu commented on #47697
Ok, I give up, how do you install devel and all its dependencis to get this working?

I did this:

[code]

And I ended up with:

[code]

Did you also modify the azure-mgmt-* modules? If so, how do I add the right versions of those?

right now I get this, which is the same thing I get when I replace the aks *.py file directly in 2.7:

[code]

[2018-10-30 02:01] zikalino commented on #47697
I think you can do it in easier way. pls check an example here:

https://github.com/zikalino/ansible-examples/blob/master/hdinsight-module.yml

I am just referring a folder with additional modules (roles: - modules) and my modules are just in a subdirectory.

[2018-10-30 02:03] jborean93 commented on #47669
Do you see that Chocolatey itself is installed and it's hanging on the `sysinternals` install or is it failing during the Chocolatey install itself? Part of the proxy work is to set `chocolateyProxyLocation` as an environment variable during the call to `install.ps1`. I've had a look at both implementations and the name matches up so not sure what else could be happening.

[2018-10-30 03:16] Kloperations commented on #47230
Forgive me as this is the first time I’m going through this process.

I ran:
pip install git+https://github.com/ansible/ansible.git@devel

Ansible --version
ansible 2.8.0.dev0
  config file = /root/CTS-NetOps-Ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-pac

[2018-10-30 03:38] Fred-sun commented on #47358
@vpopescu Thanks for the contribution, You can get the documentation from [here link ](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_keyvault.py)(line 153~155). Thanks!

[2018-10-30 03:45] Fred-sun commented on #47358
@zikalino I have double checked the azure_rm_keyvault module. it has no tags feature. Thanks!
[code]

[code]

[2018-10-30 04:44] hoyeunglee opened #47793 "how to telnet with enable password"
[code]

can not enable password now

[2018-10-30 05:03] Kloperations commented on #47230
My persistence paid off!
I figured it out, and it is working as expected!!
This is excellent turnaround time & execution! Thank you

I tested on Nexus 5672 & Nexus 5596.  Unfortunately I don’t have a 5596 in my lab to test against, but I see no reason why it should not work given my testing

From: Kloepper,Chris
Sent: Monday, October 29, 2018 10:16 PM
To: 'ansible/ansible' <reply@reply.github.com>

[2018-10-30 06:06] danielpanteleit opened #47795 "dict with date implicitly converted to string via debug or jinja"
##### SUMMARY

When using dates in a dict variable, the variable will be converted to a string when used with debug or jinja

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Ubuntu 18.04
- Python 3.6.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The first debug should output a dict. The third

[2018-10-30 06:31] mowgli opened #47796 "Setting a user password to "*" doesn't work anymore"
##### SUMMARY
With version 2.7.1, ansible starts to complain about setting password to "*", what is completelly fine for system accounts.

Not being able to set the password this way, is a security risk!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not that it matters, but anyway...
[code]

##### OS / ENVIRONMENT
Linux

#####

[2018-10-30 06:51] #44758 closed, assigned to nobody

[2018-10-30 06:55] hoyeunglee commented on #47793
##### SUMMARY

can not enable password,
and how to use with ansible vault

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

2.7.1

##### CONFIGURATION

---
- hosts: Telnetdevices
  gather_facts: false
  connection: local
  vars:
     date: "{{ lookup('pipe', 'date +%Y%m%d') }}"
  tasks:
   - name: send configuration commands to IOS
     telnet:
       password: password

[2018-10-30 07:48] trondhindenes commented on #47707
will try!

[2018-10-30 07:54] jfillatre commented on #47737
Hi,

- To work on same base, I'v copy/past your simplified task and play again. I obtain the same issue :

[code]

- More details about my docker environment:

[code]

[code]

- Additionaly, I'm able to configure correctly my service using this shell task:

[code]
Regards

[2018-10-30 08:09] florian-burger commented on #17273
Hi,

I am experiencing the same issue,

Ansible 2.4.3
Debian 8.10
Python 2.7.9

SSH with options reported from ansible-playbook -vvv is ok.

[2018-10-30 08:17] Fred-sun commented on #46440
@yuwzho Do you have any update for this? Thanks!

[2018-10-30 08:50] Fred-sun commented on #46313
@zikalino Do you have any update for this? Thanks!

[2018-10-30 08:56] Fred-sun commented on #46207
@yuwzho Could you help update the issue status? Which one will track on this issue? Thanks!

[2018-10-30 09:31] nicholasrodriguez commented on #44772
@ckotte thanks for the efforts around this. @Akasurde has the following #47759 in progress which fixes the SSL thumbprint issue on a seperate PR which I've tested. It might be worth consulting with @Akasurde as to how to proceed with this.

[2018-10-30 09:33] csirac2 opened #47797 "YumModule.set_env_proxy(): "invalid group reference" error when target proxy_username begins with a number"
##### SUMMARY
When the target has a proxy_username set (Eg. in /etc/yum.conf), and that username begins with a number, it is interpolated adjacent to a `\1` backref in a regex used in lib/ansible/modules/packaging/os/yum.py in set_env_proxy() and the task fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/packaging/os/yum.py

##### ANSIBLE VERSION
[code]

##### CONFIGU

[2018-10-30 09:48] kycent opened #47798 "redundant xml end tag"
##### SUMMARY
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/network/cloudengine/ce_vxlan_tunnel.py#L145

There are two </filter> tag int the xml template, only one is needed, this cause xml string failed to parse by xml lib.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/network/cloudengine/ce_vxl

[2018-10-30 10:32] ckotte commented on #44772
#47759 is a backport to 2.7 with the 'old' vmware_host module. #47759 and #47600 are not compatible with the new implementation and also not needed. Anyway. This can be discussed in the PR. Does it work on your side?

[2018-10-30 11:30] pmarques commented on #47268
@Fred-sun you can follow the **STEPS TO REPRODUCE**, but basically an _"empty"_ yaml file will return the error

[2018-10-30 12:33] Akasurde commented on #40054
@smachlin Thanks for reporting this issue. Could you please check if PR https://github.com/ansible/ansible/pull/35880 works for you and let me know ? Thanks,

needs_info

[2018-10-30 12:45] mydor commented on #46277
A simple inline change would be something like
[code]
Or, if that isn't readable enough (or considered too much of an unnecessary array slice), I recommend not using `.find`, but `.startswith`
[code]
Both accomplish the same thing, but I personally like the PEP308 if-else expression (my first example) for it's compactness.

[2018-10-30 12:55] #46658 closed, assigned to nobody

[2018-10-30 13:08] Tux12Fun opened #47805 "gcp_compute_address ignores subnet (selfLink not found by replace_resource_dict)"
##### SUMMARY

The Module ignores the Subnetwork parameter if you try to register a internal static ip in an shared-vpc

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_address

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Unbuntu 18.04.1 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A static IP shoud be reserved in the Range

[2018-10-30 13:15] mikewiebe commented on #47230
@Kloperations Excellent news.  Thanks for testing the patch!

@trishnaguha Can you please review and merge if the changes look ok to you?  Thanks!

[2018-10-30 13:29] aksharbarot opened #47808 "VMware: vmware_host_facts collecting serial number of Enclosure instead actual host serial number"
##### SUMMARY

I am trying to run vmware_host_facts on esxi and as expected result in serial number, facts should provide esxi host serial number but, actually it is showing enclosure Serial number.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)
##### STEPS TO REPRODUCE

[2018-10-30 13:36] didiw23 commented on #35426
I have read somewhere, that setting owner and group is done after extracting the files from the archive. I don't understand this decision, if I remember this correctly. Why is the unpacker-tool not started as the user and/or group given if specified? This would avoid the problems of setting the owner and/or group of implicitly created directory and it is the normal behavior of tar/unzip when run o

[2018-10-30 13:50] ralex commented on #43249
t seems that it can't be handled by this Ansible module as keytool doesn't overwrite entries for existing aliases while importing a certificate.

Both [Oracle](https://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html) and [OpenJDK](https://manpages.debian.org/unstable/openjdk-8-jre-headless/keytool.1.en.html) documentations state this about option ```-importcert```:

I'm afraid we h

[2018-10-30 13:54] dagwieers opened #47810 "win_domain_membership: Error changing hostname"
##### SUMMARY
When running our configuration script with Ansible v2..8 (devel branch) on 4 new Windows 10 laptops resulted in the below error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
[code]

[2018-10-30 13:58] skarapanahalli commented on #47646
I tried without customization also, I get the same error, and it is the same issue with with Windows 2012 image also

[2018-10-30 14:10] CaptainBlasteroid commented on #47750
@caphrim007 No, but why would that be necessary? The root of the issue is the bigip_device_facts module is throwing an error for valid profile contexts. All other modules I've used work without issue. I shouldn't have to go through so many hoops just to use one F5 Ansible module that pulls BIG-IP configuration.

Also, you said that you "think we've had a similar report which we've already fixed."

[2018-10-30 14:12] Tux12Fun opened #47812 "gcp_compute_instance ignores subnet (selfLink not found by replace_resource_dict)"
##### SUMMARY

The Module ignores the Subnetwork parameter from a internal static ip in an shared-vpc

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Same issue as : https://github.com/ansible/ansible/issues/47805 only for this module

[code]

##### EXPECTED

[2018-10-30 14:13] dagwieers opened #47813 "setup.ps1: Fails on new Windows 10 systems"
##### SUMMARY
On 2 Windows 10 systems I got this error when running `setup.ps1` (standard facts gathering).
The other 2 (identical) systems did not have this.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup.ps1

##### ANSIBLE VERSION

[code]

[2018-10-30 14:16] maelorn opened #47815 "No way to add labels in gcp_compute_instance_template"
##### SUMMARY
We should be able to add labels in the properties as described in the google API documentation:   https://cloud.google.com/compute/docs/reference/rest/v1/instanceTemplates

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_instance_template

##### ADDITIONAL INFORMATION

Example

[code]

[2018-10-30 14:19] shepdelacreme commented on #47728
@omerh In order to add an entirely new line to an existing pamd file you need to use `state: before` or `state: after` and then give the appropriate module arguments to tell it which rule to insert before or after.

i.e.
[code]

The above task would take an `/etc/pam.d/common-session` file that looks like:
[code]

and alter it to look like:
[code]

[2018-10-30 14:19] sivel commented on #47795
The cause to this behavior is a little complicated.  Let me explain:

1. YAML has special types defined that indicate that the data type should have special meaning if it matches a pattern. In this case, your unquoted value matches the pattern for a "timestamp" in YAML: http://yaml.org/type/timestamp.html
1. Quoting the value, instructs YAML/PyYAML that you intend for the value to be a string. Thi

[2018-10-30 14:19] #47795 closed, assigned to nobody

[2018-10-30 14:21] #47083 closed, assigned to nobody

[2018-10-30 14:21] #47197 closed, assigned to nobody

[2018-10-30 14:21] #47418 closed, assigned to nobody

[2018-10-30 14:37] maxamillion commented on #46485
@TwoTwenty this bug has been fixed and released in Ansible 2.7.1, please let me know if you run into any further issues. Thank you!

[2018-10-30 14:40] defionscode commented on #37073
@W73 if/when you can, could you test the latest `devel` version of `pamd`? There are many bug fixes as of less than one hour ago.

[2018-10-30 14:41] caphrim007 commented on #47750
@CaptainBlasteroid, I asked because I am trying to understand your environment to assist in debugging the problem.

[2018-10-30 14:41] defionscode commented on #37073
Sounds like it is working now, so I'm closing but feel free to re-open if still an issue.

[2018-10-30 14:41] #37073 closed, assigned to nobody

[2018-10-30 15:08] TwoTwenty commented on #46485
confirmed

[2018-10-30 15:09] dagwieers opened #47821 "win_chocolatey: Module fails when chocolatey is not installed"
##### SUMMARY
When running **win_chocolatey** on a system that doesn't have Chocolatey installed, the module fails to work with the below error:

[code]

Running it subsequently results in the same error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

[2018-10-30 15:28] #47689 closed, assigned to nobody

[2018-10-30 15:28] CaptainBlasteroid commented on #47750
I apologize @caphrim007. I'm running macOS Mojave. My working directory is /etc/ansible (per Ansible documentation), and I have the latest versions of both the F5-SDK and Ansible. Also, per the CloudDocs documentation, I have bigsuds and netaddr installed too.

I am successfully using the bigip_virtual_server, bigip_pool, and bigip_pool_member modules without issue. From a quick check it looks lik

[2018-10-30 15:35] #47797 closed, assigned to nobody

[2018-10-30 15:42] fabianvf commented on #44504
I think we fixed that in 2.7 with #44142, but it's not been backported to 2.6.

[2018-10-30 16:13] fl0gu commented on #46811
Huawei TAC has found the issue:
This line must be removed: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/cloudengine/ce_vxlan_tunnel.py#L146

There is no reason to have two `</filter>` tag. Removing it solve the bug.

[2018-10-30 16:46] mkrizek commented on #46811
@fl0gu please see https://github.com/ansible/ansible/issues/47798 and attached pull request. Thanks!

[2018-10-30 16:46] #46811 closed, assigned to nobody

[2018-10-30 16:51] #47576 closed, assigned to sivel

[2018-10-30 17:10] caphrim007 commented on #47750
@CaptainBlasteroid when you ran that role, did the role fail? or did it only pop up that message?

It appears that the message is an errant debug statement left in the code, it shouldn't be stopping the execution of the remainder of the playbook.

Can you post the full -vvvv output you see when you use the role and try to call your module?

[2018-10-30 17:11] megakoresh commented on #44504
No, I have run the playbooks with 2.7 and the behaviour is still the same - if I do `oc login my-amazing-openshift1.peruna.porkkana`  then run the playbook without setting the `--limit` to openshift1 then it will run against openshift1 twice, using group_vars for openshift2 on the second run, regardless of what the `host` argument receives.

This can be demonstrated by brining up two instances of

[2018-10-30 17:49] fabianvf commented on #31602
@willthames yeah, it's the top of my TODO list as soon as I can carve out a good chunk of time. I'm hoping to have a proposal later this week, I'll ping you for feedback if you don't mind

[2018-10-30 18:18] victorbiga commented on #30148
create crontab job for every 3600 and dump cache_valid_time task :)

[2018-10-30 18:38] canterberry commented on #35645
:+1: Ran into this issue today with Ansible 2.7.1, with roles that worked previously in 2.5.x and whose configuration has not since changed.

[2018-10-30 18:51] jean-christophe-manciot opened #47827 "–container-enabled option in "ansible-galaxy init" always triggers an exception"
##### SUMMARY
The "-–container-enabled" option in "ansible-galaxy init" always triggers that error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
host: Ubuntu 18.10

##### STEPS TO REPRODUCE
Creating a test role:
[code]

##### EXPECTED RESULTS
A created role

##### ACTUAL RESULTS
[code]

[2018-10-30 18:52] bcoca commented on #46523
weird, just checked, want_facts code is the same for inventory plugin and script, does it work at all for the script?

[2018-10-30 18:59] arbhoj commented on #15892
Simply adding it as a literal wrapped in single quotes within a jinja expression {{ }} works. See example below:
---
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:
  - name: Check container status
    shell: docker ps --format "table {{'{{ .Names }}\t{{ .ID }}\t{{ .Status }}'}}"
    register: container_status
  - debug: msg="{{container_status.stdout_lines}}"

[2018-10-30 19:00] dariko commented on #47737
@jfillatre Your environment seem just to be like mine (for reference I put [here](https://gist.github.com/dariko/94d8a6b337ca31cc1c7685ceac14eee4) a diff of the `docker info` outputs).
I matched your python version (previously I run ansible on `2.7.15rc1`, now I used the latest on the same centos7 were my test swarm is running `python-2.7.5-69.el7_5.x86_64`) and i reconfigured the overlay kernel m

[2018-10-30 19:02] jean-christophe-manciot commented on #47827
The [official documentation](https://docs.ansible.com/ansible/latest/reference_appendices/galaxy.html#container-enabled) states that the option is possible, but the command line --help ignores it:
[code]

[2018-10-30 19:11] CaptainBlasteroid commented on #47750
@caphrim007 It only popped up that message, however running it with -vvvv shows the expected & formatted output. Given the debug message, I was expecting to see output without any verbose flags. -v/-vv/-vvv all yield the same output in a flattened format. -vvvv shows the results with formatting.

[2018-10-30 19:28] dagwieers commented on #47813
A simple reboot seems to have fixed this problem.

[2018-10-30 19:33] caphrim007 commented on #47750
ok. then my advice is to ignore the debug output about the f5-sdk not being installed. it was a remnant of something that was being worked on, but was not yet finished.

My understanding of your current situation though is that you are no longer receiving the "unknown profile..." error message, correct?

[2018-10-30 19:33] cyrilthank commented on #44546
@mallmen can you please share the steps for the fix here?

[2018-10-30 19:39] #23095 closed, assigned to nobody

[2018-10-30 19:43] rishabh-d-dave opened #47829 "provide a method for plugins to expand all jinja2 templates"
##### SUMMARY
Currently there is no way, at least in my awareness, that allows a plugin to expand all variables defined using Jinja2 templates by a single method call.

It can be done one by one using the method [`template`](https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L371) in the [class `Templar`](https://github.com/ansible/ansible/blob/devel/lib/ansible/templat

[2018-10-30 19:46] IPvSean opened #47832 "ssh_key_data parameter can only accept files for tower_credential module"
##### SUMMARY
when setting the `ssh_key_data` to anything other than a file the module will error immediately with `    "msg": "file not found: ********"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_credential

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
the original use case was using the ec2 module, then using t

[2018-10-30 19:48] jborean93 commented on #47813
We should still optionally skip this step if it fails and add a warning, the recent EAP change would be the cause of this and the other issues you've recently created.

[2018-10-30 19:48] bcoca commented on #44546
https://github.com/ansible/ansible/pull/38861/commits/8999830bca3e4442a5f3369571e301be3d92f4b4

[2018-10-30 20:00] omerh commented on #47728
I can confirm its working,
Thanks!

[2018-10-30 20:00] #47728 closed, assigned to nobody

[2018-10-30 20:15] jdavis-douglas-co-us commented on #29904
+1. Stil this way in 2.7.1
Larger INI files are hard to read when everything is run up tight

[2018-10-30 20:19] CaptainBlasteroid commented on #47750
As long as I am using the F5 DevCentral role, I am not seeing the error

[2018-10-30 20:21] dagwieers commented on #47810
So the issue seems to be that the system was not yet rebooted. So maybe **win_domain_membership** should be returning OK/changed with a warning instead of failing to guarantee idempotency.

[2018-10-30 20:34] cloudinnovating commented on #45452
I believe this is due to how the azure_rm.py script uses name instead of VMid, id, or some other unique value when matching.  I encountered a similar issue with --list + duplicate VM names.  My ugly workaround was to change host_vars['name'] to ip_config.private_ip_address.  A unique value that I can handle seeing displayed.

[2018-10-30 20:46] caphrim007 commented on #47750
ok, good. I think this is evidence that we have fixed the problem in the side-band repo that I mentioned earlier.

So you have 2 options at this time.

1. Continue to make use of the f5ansible role
2. Wait for the ansible 2.8 release

Both options include the fix you are interested in. I would not suggest that you just take the working module from the role and drop it in a location locally because

[2018-10-30 21:13] bcoca commented on #47829
consider that 'all variables' includes every variable defined for all hosts in inventory, this ends up being huge.

[2018-10-30 21:33] gbaufake commented on #47556
@willthames
Thanks for the explanation.
It was solved when I passed both kubeconfig and context

[2018-10-30 22:11] maxamillion commented on #30148
@victorbiga I think manipulating cron jobs on people's systems would be somewhat frowned upon without explicit intent. If there's a way to do this via yum itself I'm happy to implement it, but I'm not currently aware of a way. I do however reserve the right to be incorrect and would definitely like to be. :)

[2018-10-30 22:17] willthames commented on #42476
@towolf the diff output is improved with 2.7 (probably still room for improvement - let me know)

[2018-10-30 22:19] willthames commented on #31932
k8s module copes with CRDs since 2.7

[2018-10-30 22:19] #31932 closed, assigned to nobody

[2018-10-30 22:19] #33340 closed, assigned to nobody

[2018-10-30 22:22] willthames commented on #44504
see also https://github.com/ansible/ansible/issues/46163

[2018-10-30 22:23] willthames commented on #31602
That'll be great - I have similar plans, and similar lack of time right now - I'll definitely be keen to provide feedback.

[2018-10-30 22:36] vpopescu commented on #47696
#9362
#32738

Last one talks about jinja2_native config setting. Have not yet been able to get it to work.

[2018-10-30 22:53] iskevmc commented on #25941
I had the same issue but resolved it by making sure python 2.7+ was installed on hosts.

[2018-10-30 23:10] promethe42 commented on #14342
@sivel When I try to install ansible 2.4.2:

[code]

So it does look like python-httplib2 *is* required.

[2018-10-31 00:39] hoyeunglee opened #47836 "inventory report error with template module"
ISSUE TYPE
Bug Report

COMPONENT NAME

ANSIBLE VERSION
Ansible 2.7.1

CONFIGURATION
[code]
then install with sudo pip install Jinja2 again when this time with sudo
[code]
use code from
https://github.com/network-automation/ansible_inventory_report
[code]
OS / ENVIRONMENT
Linux version 4.15.0-29-generic (buildd@lcy01-amd64-024) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10)) #31~16.04

[2018-10-31 01:05] gpulido-redhat opened #47837 "iptables module attempts to use incompatible policy and action commands"
##### SUMMARY

If I try to open a port on a RHEL6 machine with the following task:

    - name: Habilitar el firewall para SNMP (RHEL6)
      iptables:
        action: append
        chain: INPUT
        protocol: udp
        destination_port: 161
        policy: ACCEPT
        state: present
        table: filter

Then when running, I get the following error:

[code]
##### ISSUE TYPE
- Bug Report

[2018-10-31 01:43] hryamzik opened #47838 "regex_replace does double-replacement"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

regex_replace

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[code]

[2018-10-31 01:59] dmrzzz opened #47839 "nios_a_record can't create two A records with same name"
##### SUMMARY

It is valid in DNS (and in Infoblox DDI) to create several A records with the same name and different ipv4addr, but attempting to accomplish this using Ansible nios_a_record fails.

Based on the error message ("Field is not allowed for update: view"), it seems that Ansible is trying to update the existing A record when it should be creating a new one.  It furthermore fails to accomp

[2018-10-31 02:02] PikachuEXE commented on #38148
Since 2.7.0 `>` operator cannot be used between a string an a integer
error message:
[code]

[2018-10-31 02:14] dmrzzz commented on #47839
On a related note (which I assume is due to the same root cause), Ansible nios_a_record apparently pays no attention whatsoever to the specified ipv4addr when asked to delete an A record (using `state: absent`).

1. Manually create two A records in NIOS with the same name, for 192.168.0.17 and 192.168.0.18
2. Run the following task (in a similar playbook as above) which *shouldn't match either of

[2018-10-31 02:32] vpopescu opened #47840 "azure_rm_deployment deploying to wrong location"
##### SUMMARY
I have a region group in location centralus. It's an empty RG currently.
I am trying to deploy an AKS cluster to it via deployments.

It apparently is ignoring my settings and trying to deploy it into westus (which is the default location for a deployment). So it ends up dying with "invalid resource group location" error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm

[2018-10-31 03:06] vpopescu commented on #47840
I think I made a boo-boo and I blame whoever invented YAML. Please ignore.

[2018-10-31 03:06] #47840 closed, assigned to nobody

[2018-10-31 03:06] hoyeunglee opened #47841 "can not configure to add user or change password"
ISSUE TYPE
Bug Report

COMPONENT NAME
ios_config

ANSIBLE VERSION
Ansible 2.7.1

CONFIGURATION
[code]

OS / ENVIRONMENT
Linux version 4.15.0-29-generic (buildd@lcy01-amd64-024) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu116.04.10)) #3116.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018

SUMMARY
error and can not saved debug into a file

STEPS TO REPRODUCE
sudo ansible-playbook -s configure.yml -

[2018-10-31 03:17] Fred-sun commented on #47268
@pmarques I can't reproduce on ansible2.7.0( test successful), when the YAML is a null, it will return a null list, test result as below, please review. Could you help share your test YAML ? let me try again. Thanks!
ansible version:
[code]
normal yaml return result:
[code]
null test yaml return result:
[code]

[2018-10-31 04:05] madhu222 commented on #46556
sure @jborean93

[2018-10-31 04:16] z3t0 commented on #39982
The project was abandoned.

I'll close the issue since I won't be able to add new information.

[2018-10-31 04:16] #39982 closed, assigned to nobody

[2018-10-31 06:37] hoyeunglee opened #47842 "can not encrypt some password"
ISSUE TYPE
Bug Report

COMPONENT NAME

ANSIBLE VERSION
Ansible 2.7.1

CONFIGURATION
ansible-vault encrypt_string "!wrIw" --ask-vault-pass

OS / ENVIRONMENT
Linux version 4.15.0-29-generic (buildd@lcy01-amd64-024) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu116.04.10)) #3116.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018

SUMMARY
can not encrypt some password

STEPS TO REPRODUCE
ansible-vault en

[2018-10-31 06:43] Tomorrow9 commented on #47329
@Akasurde I think we can add "hardware.sata" firstly, like "hardware.scsi" doing now, then in #47028, I can add more parameters of "disk" to specify controller.

[2018-10-31 08:02] towolf commented on #42476
@willthames thanks for the poke here, I'm happy about the changes, but already commented with some input under your last PR for 2.7 at https://github.com/ansible/ansible/pull/45645#issuecomment-431659159

[2018-10-31 08:06] nitram2k commented on #46523
For me, both version don't work and I was surprised to see both are exactly the same as well :)

[2018-10-31 08:23] tux-84 opened #47844 "Suggestion: Mark deprecated parameters within documentation"
##### SUMMARY
Deprecated commands should be marked within the docs

##### ISSUE TYPE
- Documentation Report

For example on [this](https://docs.ansible.com/ansible/2.5/modules/get_url_module.html) site, the command *sha256sum* is deprecated, however it's just written at the end of a long description of the command, which many user might not read.

Maybe it's a good idea to mark deprecated commands

[2018-10-31 08:43] arch4ng3 opened #47845 "Tasks both "changed" and "ok" in recap"
##### SUMMARY
I am currentely developping an ansible module.
Using the function exit_json(changed = xxxxx), some tasks are "ok" and "changed" at the same time in recap

Here is part of the code :

[code]

##### OS / ENVIRONMENT
CentOS 7

##### COMPONENT NAME
Developping my own module (which is probably the source of my issue)

##### ANSIBLE VERSION
ansible 2.4.2.0

##### EXPECTED RESULTS
changed =

[2018-10-31 08:54] jfillatre commented on #47737
Hi,
Additionaly, I've tried to deploy service to an older swarm cluster that use same configuration of first one. I reach the same behavior and I'm unable to use host mode:

[code]

[2018-10-31 09:23] #47230 closed, assigned to nobody

[2018-10-31 09:48] Telling commented on #46700
I'm pretty sure that I can now confirm what @cigamit said earlier, this is a documentation error.

The documentation was introduced quite recently in [this PR](https://github.com/ansible/ansible/pull/40075), but all the documentation I can find from VMWare mentions VCenter as a requirement for all clone/template-like operations [0, 1, 2].

I strongly believe this is an issue that needs fixing, it

[2018-10-31 10:02] Akasurde commented on #46700
Yes, I agree this is documentation error and needs to be fixed. I will open a PR and will update here.

[2018-10-31 10:08] jzielke-nli commented on #47844
ansible version: 2.7.0

[2018-10-31 10:08] nikaro commented on #12610
@sivel is there a place were this is tracked? Currently Ansible cannot be installed through [poetry](https://poetry.eustace.io).

[2018-10-31 10:18] lion24 commented on #34164
Hi all,

I have the same issue with Ansible 2.7.1, even though the above fix seems to be present :/

Should I open a new Bug?

Cheers.

[2018-10-31 10:41] lion24 opened #47849 "script plugin error message wrongly quotes file for output parse errors"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
script plugin

ansible-inventory CLI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
See #34164 for step to reproduce.

##### EXPECTED RESULTS
See #34164

I have the exact same issue with the latest stable release. It might be my environment that screw things up, I don't know to b

[2018-10-31 11:15] mkrizek commented on #47796
Duplicate of https://github.com/ansible/ansible/issues/46334

[2018-10-31 11:15] #47796 closed, assigned to nobody

[2018-10-31 11:21] #47575 closed, assigned to NilashishC

[2018-10-31 11:33] mkrizek commented on #47827
Use `--type container` instead. The information in docs is outdated, I'll fix that.  Thanks for pointing this out!

[2018-10-31 11:33] bverschueren commented on #45900
This issue seems not to be solved with  #47348; use_cloud_init is still sent as False if cloud_init_persist is set to True.

The negation seems to be the culprit here.
Unless I'm missing something else, following fixes it:

<pre>use_cloud_init=True if <b>not</b> module.params.get('cloud_init_persist') and module.params.get('cloud_init') is not None else None,</pre>
 to
<pre>use_cloud_init=True if

[2018-10-31 11:35] mkrizek commented on #47827
Also, `ansible-galaxy init --container-enabled test` gives me
[code]
which is correct.

[2018-10-31 11:41] xacaxulu commented on #35645
+1

[2018-10-31 11:42] Tomorrow9 commented on #42047
I can try to reproduce and fix this issue if no one else is looking into it. Thanks.

[2018-10-31 11:58] k-s-dean commented on #15297
I am, also experiencing this issue after upgrade to ansible 2.7.0

[2018-10-31 12:01] DylanYoung commented on #33581
@sivel
Ah I see.  That complicates things slightly.

The end is User Experience and POLA (it's downright surprising that the block names *don't* show up).  Just think of the number of poor playbook writers who have refactored their playbooks to make them easier to follow and then had to revert all those changes upon realizing that "this name" isn't the same as the other "name".

In any case, the s

[2018-10-31 12:14] toreatessier commented on #47845
![issue](https://user-images.githubusercontent.com/44059102/47787308-d0f81500-dd0e-11e8-9818-5238bc9655ce.png)

Here is what happens every time

[2018-10-31 12:34] hoyeunglee opened #47855 "How to ssh second time after login Cisco device"
How to ssh second time after login Cisco device or login Linux devices?

Would like to ssh to ansible_hosts to do mesh ssh
Generated a table report

[2018-10-31 12:38] hoyeunglee opened #47856 "Can not show cdp neighbors or even detail in ios_command"
I use apt-get install ansible but not use the ansible Tower link
I do not know the difference

I find many bugs and function missing,
Do ansible tower have these bugs or missing functions too?

[2018-10-31 13:01] willthames commented on #42476
@towolf - so you did, I even remembered the comments (although clearly not that you had made them). I've been giving it some thought, I suspect it's bigger than just k8s though (that doesn't mean it's not worth making diff mode return yaml when run with the yaml callback plugin)

[2018-10-31 13:03] x-yuri opened #47858 "ansible breaks escaping characters in literals inside jinja templates"
##### SUMMARY

I was trying to append `"` to a string in jinja template (`a: '{{ a + "\"" }}'`). But that produced an error. Which made me realize that this fails as well: `'{{ "\"" }}'`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### AC

[2018-10-31 13:23] #47798 closed, assigned to nobody

[2018-10-31 13:39] Akasurde commented on #42417
@JacksonHill Fix is backported to 2.7.1. Could you please try 2.7.1 and let me know if it works for you ? Thanks.

[2018-10-31 13:39] Akasurde commented on #42047
@Tomorrow9 Thanks for taking this initiative.

[2018-10-31 13:39] #47670 closed, assigned to NilashishC

[2018-10-31 13:43] marcinpraczko commented on #46152
Hi,

I've re-run this and this is result: `grafana_dashboard_fix.py` is file from suggested branch here.

- Test01: Dashboard - not exists:
[code]

Ansible: Result
[code]

- Test02: Dashboard - exists (re-run the same play): Expeted Changed YES - Got error instead.
The same ansible snippet

Ansible: Result
[code]
Please note that in ansible snippet - there is settings to *overwrite* dashbord if ex

[2018-10-31 13:46] mrheroux commented on #32454
Wouldn't it be
 `
  with_items: "{{groups['server_group']}}"
`
Instead of:
[code]
The first example is passing an array, while the second example is passing an array containing an array. I'm using the following on Ansible 2.5.1 and it works:
[code]

[2018-10-31 13:52] marcinpraczko commented on #46152
Hi @jorijinnall,

Also I think this more complicated and requires some intensive testing.
I adjusted my playbook for this:
[code]

In short:
- During DELETE `state: absent` - UID is required. Which means that I need obtain UID before deleteing dashboard
- During CREATE `state: present` - UID exists but after creation - dashboard is getting new UID. Which means that ansible-playbook will not work t

[2018-10-31 13:58] walterdolce commented on #47499
I tried that and it complained about `Empty or missing scope not allowed`. Please see full error log above.

[2018-10-31 14:06] willcarp opened #47862 "pymssql - unable to authenticate to remote windows database"
##### SUMMARY
i am trying to create a job to build mssql dbs on remote servers.  I have freetds and pymssqldb installed but now i am getting an authentication error form ansible tower

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pymssql

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS  Redhat 7.5
Ansible Tower 3.2.5

##### STEPS TO REPRODUCE
[c

[2018-10-31 14:09] arbhoj commented on #16621
+1

[2018-10-31 14:27] walterdolce commented on #44404
I am also having this problem. Adding the `[inventory]` config section didn't work.

[2018-10-31 14:27] gaelL opened #47864 "aws_s3: get object ignore version parameter"
##### SUMMARY

Following the doc we can specify a `version`  :  Version ID of the object inside the bucket. Can be used to get a specific version of a file if versioning is enabled in the target bucket.

Trying out, it seems the version is not use to download the s3 object. We always end up with the latest object

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_s3 module (action get)

###

[2018-10-31 14:29] mkrizek commented on #46203
Linking this here https://github.com/ansible/ansible/issues/16621

[2018-10-31 14:36] #47202 closed, assigned to nobody

[2018-10-31 14:39] CaptainBlasteroid commented on #47750
Sounds good @caphrim007. I'll continue to use the f5ansible role in my playbooks for now. I really appreciate your help on this.

Thanks again!

[2018-10-31 14:47] acozine opened #47869 "Change remaining examples of "state: installed" to "state: present""
##### SUMMARY
Using `state: installed` is deprecated:

`[DEPRECATION WARNING]: State 'installed' is deprecated. Using state 'present' instead.. This feature will be removed in version 2.9. `

PR #47267 fixed many instances of this, but there are a few left - one on a Windows page:
[code]

and four in the module examples:
[code]

Update these references to use `state: present` and re-test examples.

[2018-10-31 14:57] mcg commented on #37512
I find myself having to work around this again today. Any movement at all on this?

[2018-10-31 15:11] webknjaz commented on #47361
@jborean93 actually, there are also complications in how ansible parses module arguments, so we needed to reconstruct actual package specs and to checks on the module side. I believe it's not possible to have such a feature (unless we vendor things).

[2018-10-31 15:27] alexntt opened #47874 "win_updates fails on Windows 2008 R2 fails on Ansible 2.7.1, works on 2.6.4"
##### SUMMARY

Running win_updates on a Windows 2008 R2 system yields:

[code]

, via a simple play:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Other Windows OS versions (later ones) work fine

##### STEPS TO REPRODUCE

See play above and error

##### EXPECTED RESULTS

Windows update

[2018-10-31 15:30] nitzmahone commented on #33331
Thanks for the feature request, however, at this time, we're not going to accept it.

We evaluate the addition of file mode/owner args to modules on a case-by-case basis (eg, is the added complexity to the module "worth it" for the functionality being added?; is it necessary for a lot of users?). You haven't stated why your sysctl.conf permissions aren't correct in the first place, but we don't th

[2018-10-31 15:30] #33331 closed, assigned to nobody

[2018-10-31 15:31] caphrim007 commented on #47750
@CaptainBlasteroid ok. thanks!

[2018-10-31 15:31] #47750 closed, assigned to nobody

[2018-10-31 15:40] towolf commented on #42476
@willthames

Not sure what others rthink, but the canonical representation of Kubernetes objects seems to be YAML, just like Ansible playbooks.

Nobody would expect to view playbooks in JSON, just like K8s manifests.

And I think it would make the diff look cleaner, less braces, etc.

So, I would expect one should always do the equivalent of `to_nice_yaml` before the `result['diff'] = diffs` assig

[2018-10-31 15:49] pmarques commented on #47268
Just tested in an **empty** subscription and I don't get any error, but If I run the same command / configuration agains a subscription with more than 70 instances it fails...

[2018-10-31 16:03] bcoca commented on #16621
closing this in favor of the more general Feature request above, even though this predates it.

[2018-10-31 16:03] #16621 closed, assigned to nobody

[2018-10-31 16:06] fabianvf commented on #44504
ah, good call @willthames. @megakoresh, if you set `host` + `api_key` rather than `host` + `username` + `password` do you see the same behavior? Wondering if the issue with password auth is confounding this. Though I'm still not sure how it's loading the kubeconfig at all when username, password and host are all set, it should be skipping the kubeconfig entirely in that case...

[2018-10-31 16:17] bcoca commented on #46523
I mostly copied the 'requesting side' of the script to create the plugin, so it seems the problem was caused by the upgrade. I don't currently have access to a foreman instance so any help on what changed would be appreciated.

[2018-10-31 16:18] dariko commented on #47737
@jfillatre I wrote a small patch which adds some debug informations _when creating a new service_, would you mind trying it out and pasting the output of a run for the service definition we both already tried in verbose (-vvv) mode?
The debug informations will be at the end of the output, in the "msg" field:
[code]
the patched version is in [this](https://github.com/dariko/ansible/tree/ansible_iss

[2018-10-31 16:21] DylanYoung commented on #37501
@getjack Expected behaviour. Usually it indicates poor playbook/role design.  It's basically the equivalent of:

[code]

Obviously unless the first task fails, the second task will always be changed (likely the first task too!).

[2018-10-31 16:25] walterdolce commented on #44404
Quick update. For me the issue turned out to be I was trying to use a variable inside the dynamic inventory file.

This did not work because it was causing an "internal" Ansible error, not exposed even if `ANSIBLE_DEBUG` was set:
[code]

And this wasn't working either, for the same reason:
[code]

@bcoca @bhcopeland Is it expected that Ansible does not compile/expand/parse variables defined in the

[2018-10-31 16:49] bcoca commented on #46523
After some research, this seems to be the change https://projects.theforeman.org/issues/20891, we make some assumptions on the return data structure, now we need to account for 2 diff ways we may get the data.

[2018-10-31 16:53] ckyriakidou opened #47881 "UDP connection for nsupdate module"
##### SUMMARY
Currently Nsupdate module only runs with TCP connection, UDP connection is also a standard and some organisations only have UDP instead of TCP for DNS for speed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nsupdate

##### ADDITIONAL INFORMATION

For organisations/users that dont' have TCP enabled to interract with their DNS providers, they should allow UDP as well/instead

[2018-10-31 16:57] bcoca commented on #46523
So i can get  a better idea of what is returned, can someone try executing with the following patch applied?

[code]

[2018-10-31 16:59] sivel commented on #47849
I cannot reproduce this.  The error message I get now, no longer indicates that the issue is with a specific line within the script itself, but an issue with the output of the script:

[code]

The issue described in #34164 that was resolved used to display:

[code]

As you can see, we are no longer quoting the issue as a line of code in the script, which was misleading.

needs_info

[2018-10-31 17:06] walterdolce opened #47883 "gcp_compute_instance does not update tags"
##### SUMMARY
Given a GCE instance is previously created without tags
When I update my playbook to add the `foo` tag to the GCE instance
And I run the playbook again
Then the GCE instance has the `foo` tag

But this does not happen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`gcp_compute_instance`

##### ANSIBLE VERSION
`2.7.0`

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
No

[2018-10-31 17:14] walterdolce commented on #47883
This currently incidentally forces me (us) to destroy and re-create the instance.

[2018-10-31 17:19] vpopescu commented on #47358
One more: seems vault_tenant is required but it's not marked as required in the documentation.

[2018-10-31 17:36] bhairav13 commented on #31804
Sure.  A couple of questions though:
1) Just so I understood correctly, 'datastore' is now at a higher level.  Something like this ... ?

[code]

2) Pardon my ignorance as this is my first time doing this, but how do I pick up a non-production build with those changes?  A pointer to the steps would be appreciated.

Thanks.

[2018-10-31 17:38] bhairav13 commented on #42397
+1.  It's uncanny, but I happen to have the exact same need as @tonyreveal :).  It would be great to have this support.

[2018-10-31 17:39] walterdolce opened #47886 "gcp_compute_firewall can allow but not deny"
##### SUMMARY
Nothing to add. The issue title says it all: you can currently only add firewall rule which **allows** but you can't add a rule that **denies**.

This makes the module itself fairly useless (IMO) as unfortunately you can only open things up but not do the opposite.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`gcp_compute_firewall`

##### ANSIBLE VERSION
`2.7.0`

##### CONFIG

[2018-10-31 18:07] Kloperations commented on #47230
What is the expected ETA on when this update be available on a production release and not DEVEL? Just curious

From: Trishna Guha <notifications@github.com>
Sent: Wednesday, October 31, 2018 4:25 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Kloepper,Chris <Chris.Kloepper@Cerner.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] nxos_install_os performs ISSU when s

[2018-10-31 18:17] DerrickTJ commented on #45191
I would also like the ability to add and remove contracts to the L3 out.

[2018-10-31 18:20] canterberry commented on #35645
This is pretty easy to work around, thankfully, by transitioning this to a two step process.

Before:

[code]

After:

[code]

[2018-10-31 18:24] #47098 closed, assigned to nobody

[2018-10-31 18:29] IPvSean commented on #47836
jinja2 is not needed, its installed with ansible... this is not an ansible bug

[2018-10-31 18:34] mikewiebe commented on #47230
@Kloperations I checked with the Ansible networking team today and they told me that release `2.7.2` will out in approximately 3 weeks or so.

[2018-10-31 18:56] Kloperations commented on #47230
Sounds good, appreciate the info! And all your help towards this!

From: Mike Wiebe <notifications@github.com>
Sent: Wednesday, October 31, 2018 1:54 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Kloepper,Chris <Chris.Kloepper@Cerner.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] nxos_install_os performs ISSU when set to "no" (#47230)

@Kloperations<https://na0

[2018-10-31 19:38] #47827 closed, assigned to nobody

[2018-10-31 19:45] s-hamann opened #47891 "timezone module does not work on Gentoo"
##### SUMMARY
The timezone module fails on a non-systemd Gentoo target.
The module checks for Debian and SuSE and then treats everything else as RedHat, i.e. do something to `/etc/sysconfig/clock`. This does not work on, at least, Gentoo, since `/etc/sysconfig` does not exist. The Gentoo way is described in [the Handbook](https://wiki.gentoo.org/wiki/Handbook:AMD64/Installation/Base#Timezone).

Th

[2018-10-31 19:50] #47297 closed, assigned to nobody

[2018-10-31 19:58] felixfontein commented on #28382
Please also note that on creation time, a container can only be connected to **one** network (see documentation of `networking_config` [here](https://docker-py.readthedocs.io/en/stable/api.html#docker.api.container.ContainerApiMixin.create_container)). Since by default (if `purge_networks` is not set to `true`) the container is also connected to the default network by `docker_container`, it is not

[2018-10-31 20:00] felixfontein commented on #29558
Interesting fact: the *one network on container creation* is kind of weird; I could find no traces about it anywhere but in the docker-py documentation (see [here](https://github.com/ansible/ansible/issues/28382#issuecomment-434826969)). So maybe it *is* possible to improve on this.

[2018-10-31 20:04] felixfontein commented on #28382
Now I checked moby's daemon sources, and there it is: [more than one container is not allowed on creation time](https://github.com/moby/moby/blob/master/daemon/create.go#L279). Interesting that the API specs don't mention that.

[2018-10-31 20:06] bcoca commented on #47891
module should really check for 'systemd' or not first, then by distro type for those that have specific ways of dealing with it.

[2018-10-31 20:22] jfillatre commented on #47737
Hi
Result of patched modules lauched in verbose mode:

[code]
But service stay in mesh routing mode:

[code]

[2018-10-31 20:32] lbond commented on #25941
Me work too, after installing Python on the server

[2018-10-31 20:36] rafaelorafaelo commented on #46523
Hi, patch applied, want_facts = True. Output of `ansible wzvx01* -m setup > facts.log 2>&1`
[facts.log](https://github.com/ansible/ansible/files/2536292/facts.log)

[2018-10-31 20:48] bcoca commented on #46523
so the 'error condition' happens to coincide with the new format ....

[2018-10-31 20:50] bazmera commented on #31907
Have you found the solution for this solution? I am having same problem.

[2018-10-31 20:59] bhundven commented on #44404
So in your `ansible.cfg` you need to enable the gcp_compute plugin:

[code]

This fixed this plugin for me.

[2018-10-31 20:59] bhundven commented on #45105
from #44404:

So in your `ansible.cfg` you need to enable the gcp_compute plugin:

[code]

This fixed this plugin for me.

[2018-10-31 20:59] uncle-fed commented on #20150
@bcoca :  the explanation sort of makes sense (if you accept the fact that using 'content' equals using the templating system). However, if using "content" is not the right way to put some binary data from a variable into a file, then how else should it be done "properly" in ansible world (forgive my ignorance if this is possible but I did not find any other way)?

very simple use case: I have a t

[2018-10-31 21:03] felixfontein opened #47896 "docker_container: unstable integration tests (detach=no)"
##### SUMMARY
The integration tests of `docker_container` sometimes fail unexpectedly; see [here](https://app.shippable.com/github/ansible/ansible/runs/90797/49/tests) and [here](https://app.shippable.com/github/ansible/ansible/runs/91137/52/tests) for two instances where it happened.

Short version:
[code]

Unfortunately, I was never able to get this to fail locally. I have no idea why this fails

[2018-10-31 21:30] tonyswu opened #47898 "Add Endpoint Type Support for ec2_vpc_endpoint Module"
##### SUMMARY

Add support for VPC endpoint type for module "ec2_vpc_endpoint". AWS supports two types of endpoints, Service or Gateway. Current default is Gateway, which causes a failure if the endpoint being created is of type "Service".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2_vpc_endpoint

##### ADDITIONAL INFORMATION

The module fails as of now if the endpoint created is "S

[2018-10-31 23:11] mil1i commented on #47839
Not the exact same, but I updated to ansible version 2.7.1  today and started receiving the same error when running any playbook/command.
[code]
I have never had any issues with my hosts file in the past. I'm not running anything on nios_*, etc. Now.. this seemed to only show as an informational error, as my playbooks still ran without issue. Using from a mac.

[2018-10-31 23:18] dmrzzz commented on #47839
@mil1i /etc/ansible/hosts has nothing to do with this issue.  Please open your own issue if you're having trouble.

[2018-10-31 23:42] Daemoen opened #47904 "ec2_group ruleset applies rules improperly"
##### SUMMARY
ec2_group changes has some condition where it encounters an issue comparing rule sets, recreating the rules (successfully), and says ok, but *fails* to properly recreate the ruleset as expected.

In our case, we have the plays in the attached gists -- if you run group1, followed by group2 (in our case), after group2, it will say it changed, and it does... but it does *not* apply *all

[2018-11-01 00:04] Daemoen commented on #47904
Have pinged a few folks in channel, as this is a very rough bug to trigger, since it leaves you with a 'changed' but does not necessarily leave you with the state you actually expect.

[2018-11-01 00:09] willthames commented on #47904
Can someone run the test case in in an unimportant environment and post the logs here, along with highlighting the difference in expectation vs reality - might help with troubleshooting what's going on.

[2018-11-01 01:57] noname1314 opened #47905 "Playbook workable on Ansible 2.5 but failed on Ansible 2.7"
##### SUMMARY
Playbook workable on Ansible 2.5 but failed on Ansible 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_command, ios_config

##### ANSIBLE VERSION
Ansible Version: v2.5 (current version), v2.7.6 (planned to upgrade version)

##### CONFIGURATION

##### OS / ENVIRONMENT
OS: CentOS 7
Ansible Tower: v3.3.1
Remote Environment: Cisco Switch

##### STEPS TO REPRODUCE
1. Run play

[2018-11-01 02:40] larsks opened #47906 "loop + zip filter cannot replace legacy with_together construct"
##### SUMMARY

The [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#with-together) suggests that a `with_together` loop can be replaced by the use of the `loop` construct and the `zip` filter, like this:

[code]

While this works for the case presented in the docs, it fails for others.

##### ISSUE TYPE
- ~Bug Report~
- Documentation Report

##### COMPONENT N

[2018-11-01 03:31] Hefeweizen opened #47909 "dconf present not working - failing with "error: The connection is closed""
##### SUMMARY
dconf failing to write updates

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dconf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
I expect the dconf value to be udpated.

##### ACTUAL RESULTS
[code]

[2018-11-01 03:36] trishnaguha commented on #47230
resolved_by_pr https://github.com/ansible/ansible/pull/47694

[2018-11-01 04:30] hoyeunglee opened #47911 "mesh ping error"
[code]

[code]

[2018-11-01 04:38] jborean93 commented on #46993
I can't seem to replicate this problem. I tried on 2.6.5, 2.7.0, and devel and none of them give me the warning. This is definitely a use case I've used before and the code shows that `ansible_.*_interpreter` is treated as a special var (and other common connection vars) and will not show a warning https://github.com/ansible/ansible/blob/devel/lib/ansible/vars/clean.py#L136.

Are you able to try o

[2018-11-01 04:50] jborean93 commented on #47739
Were you able to test this with Ansible 2.7? The 2.4 version is out of support and we would need to be able to replicate this on a supported version as the bug may already be fixed. Other things you can check is to see if it attempted to start the service but it failed in between starting and running the manual check.

needs_info

[2018-11-01 05:05] #46700 closed, assigned to nobody

[2018-11-01 05:12] jborean93 commented on #47858
This is mostly a problem when dealing with both single and double quote. In your case you can achieve this with either of the following

[code]

The first example works as the enclosing string in the jinja2 block is enclosed by `'`, it just needs to be doubled to escape the outer quotes. The second example works as the whole line is quoted with `"` and the inner block with `'`. In this case it's b

[2018-11-01 05:12] #47858 closed, assigned to nobody

[2018-11-01 05:31] jborean93 commented on #47874
Are you able to test this against Ansible in devel, there has been a few changes to handle errors in the become output and I'm hoping that could let us know what is actually happening here? Also as an FYI there's a `reboot` option on `win_updates` that will now do the reboot task for you if necessary.

needs_info

[2018-11-01 05:37] jborean93 commented on #47842
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * When you have `!` in double quotes it uses history substitution to calculate a value
   * If you wish to have `!` in your value, either use single quote `'` or

[2018-11-01 05:37] #47842 closed, assigned to nobody

[2018-11-01 05:39] jborean93 commented on #47836
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * This isn't a bug with Ansible but rather a problem when using `pip` to install `Jinja2`

As such, we're going to close this ticket.  However, we're open to bei

[2018-11-01 05:39] #47836 closed, assigned to nobody

[2018-11-01 05:41] jborean93 commented on #47841
!component =lib/ansible/plugins/action/ios_config.py

[2018-11-01 06:41] jorijinnall commented on #46152
@marcinpraczko Thank you for your review.
I misunderstood how uid is used and works. I fixed the behaviour in the PR.

You can comment directly in https://github.com/ansible/ansible/pull/46525 and approve the change

[2018-11-01 06:43] Akasurde commented on #31804
Yes, `datastore` is now a higher level key. You can use this option when you want to clone your VM to a datastore which is different than datastore where template is stored.

You can follow these steps to [test a patch](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) or you can manually copy-paste `module_utils/vmware.py` and `cloud/vmware/vmware_guest.py` to their

[2018-11-01 06:54] dariko commented on #47737
@jfillatre Thank you, we're closing in on the problem.

To explain, when creating a new service this module goes through 3 macro-steps:
- an internal representation of a docker service is created
- the internal representation is converted into the docker(-py) required format
- the request is sent using docker(-py)
The debug instructions we tested told us that the module is correctly constructing i

[2018-11-01 07:08] Fred-sun commented on #31967
@zikalino

[2018-11-01 07:17] Fred-sun commented on #43416
@zikalino @yuwzho Could you help take a look this issue? Create VM behavior not match with ansible document describe, same with azure cli(not auto create storage account). This may ansible document describe error, not ansible issue? it can be closed.  Thanks!

[2018-11-01 07:36] Fred-sun commented on #43802
@yungezz

[2018-11-01 07:49] Tomorrow9 commented on #42047
Do you mean if you create a new VM directly the iso can be mounted as configured in 'cdrom', but when you create a VM from template(no iso mounted), and want to mount the iso specified, it's not work?

I tried on create a VM from the template(iso mounted), the VM mounts the iso as template does. But if there is no iso mounted in template, the new VM will not mount the iso specified.

I checked the

[2018-11-01 07:49] Swim3r commented on #47739
I did checks on all versions older than 2.4 (2.5, 2.6, 2.7). The error repeats everywhere.
I do not know how to check the launch of the service. Log in "/var/ log/sphinxsearch" is empty, and the first entries appear after the start manually

[2018-11-01 07:49] Tomorrow9 commented on #42047
@michaelhajjar

[2018-11-01 07:55] jborean93 commented on #47739
Ok then it sounds like Ansible isn't even attempting to start it for whatever reason.

[2018-11-01 08:00] Swim3r commented on #47739
I fix this problem using the command module:
`    - name: Start sphinxsearch
      command: service sphinxsearch start
      changed_when: False
      tags:
        - skip_ansible_lint`

It's work, but I would like to use standard modules

[2018-11-01 08:10] #46326 closed, assigned to nobody

[2018-11-01 08:17] Akasurde commented on #41484
@tgoetheyn @mangellopez Could you please try #46078 and let us know if it works for you ? Also, provide your feedback so that we can include this feature in 2.8 branch.

Thanks,

needs_info

[2018-11-01 08:17] Akasurde commented on #41484
resolved_by_pr #46078

[2018-11-01 08:53] jfillatre commented on #47737
Oh, I've mixed with endpoint mode.

May be the issue is more probably in `if port['mode'] ` test

[2018-11-01 09:19] keilr opened #47915 "some tower modules fail while trying to delete non-existing objects -> not idempotent"
##### SUMMARY
tower_inventory and tower_credential modules fail with error "The requested object could not be found" while deleting non existing inventories/credentials. Therefore those modules aren't idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_inventory and tower_credential

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- OS: RHEL 7

[2018-11-01 09:28] tallandtree commented on #22993
I ran into this same issue as well and tried to remove the docker python modules (with `pip uninstal`l), but it still failed. Eventually I found out that ansible was using the pip2 environment, where both docker and docker-py was installed and I had to do `pip2 uninstall` and then re-install again.

So, make sure to check both pip and pip2 if you run into this issue.

[2018-11-01 10:07] ckyriakidou commented on #47881
@nerzhul @andreaso @mskarbek are you the maintainers for this nsupdate module?

[2018-11-01 11:02] mkrizek commented on #47838
I cannot reproduce the issue. `ansible 2.7.1`, tried on python `2.7.15` and `3.6.6`, result is below in both cases:
[code]

[2018-11-01 11:03] mkrizek commented on #47838
needs_info

[2018-11-01 11:06] hryamzik commented on #47838
That's wired, let me update issue with verbose output, I've missed it for some reason.

[2018-11-01 11:10] hryamzik commented on #47838
@mkrizek issue updated, please let me know if I can provide any more information on this.

[2018-11-01 11:31] mkrizek commented on #47838
OK, confirmed. According to my testing, this happens on `python 3.7` only.

[2018-11-01 11:35] torched99 opened #47917 "Replace module before/after still broken"
##### SUMMARY
replace module remains unusable for anyone who is worried about functionality change, and hit edge cases.

Case logged for broken matching when using before/after in replace module, that was closed but after 1 year has still not even made it to devel.

https://github.com/ansible/ansible/issues/31891
https://github.com/ansible/ansible/pull/31452

Case before/after meaning issue, logge

[2018-11-01 12:22] ollybee opened #47918 "services-addition in hostvars in netbox dynamic inventory"
##### SUMMARY
This is an extension to https://github.com/ansible/ansible/issues/47391
Adding services defined in Netbox to host vars would assist those intending to use Netbox to configure monitoring systems.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
netbox-services in hostvars in netbox dynamic inventory

##### ADDITIONAL INFORMATION
Feature could be used to configure monitoring syst

[2018-11-01 12:37] AlanCoding commented on #47915
The keywords for the tower-cli command seem to be limited to `create_on_missing`

https://github.com/ansible/ansible/blob/dc8b3e94ad0c5c2fb04ec63c159df3e4b9dfff43/lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py#L307

Specific to the delete command, it seems that `fail_on_missing` needs to be provided.

https://github.com/ansible/tower-cli/blob/a3f9ce54cdc39153c2a8923d0345a

[2018-11-01 12:41] mvrgotiks opened #47920 "VMware: vmware_guest AttributeError: 'NoneType' object has no attribute 'rootSnapshotList'"
##### SUMMARY

Failed to create new VM using snapshort_src with/without template.
Also tested with 2.7.0 Ansible and with 2.6.4 Ansible
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest with snapshot_src

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ESXI 6.5

##### STEPS TO REPRODUCE

My steps were all using Ansible:
1. Create a VM from Templa

[2018-11-01 12:43] Nitradamus commented on #46523
I found this bugreport on the foreman side: https://projects.theforeman.org/issues/25008

It seems it does display the facts two times instead of the usual one..

[2018-11-01 13:08] walterdolce opened #47921 "gcp_compute_firewall can't assign rule priority"
##### SUMMARY
Same as #47886, but this time for the rule priority.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`gcp_compute_firewall`

##### ANSIBLE VERSION
`2.7.0`

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
not relevant

##### STEPS TO REPRODUCE
not relevant

##### EXPECTED RESULTS
To have the module expose all of the GCP firewall rules capabilities instead of just some of

[2018-11-01 13:33] jgeorgeson commented on #45431
Fix not included in 2.7.1 patch either ...

[2018-11-01 13:39] jfillatre commented on #47737
ok, I've found what goes wrong. Docker lib introduce publish mode support in 3.0.0 for EndpointSpec:

https://github.com/docker/docker-py/blob/91bc75cc92f578ae9d659ad7e8ed11a0877b70aa/docker/types/services.py#L484

An unfortunate copy paste of a pip install command with a version requirement
Sorry...

[2018-11-01 13:49] uncle-fed commented on #20150
@bcoca :  Alternative suggestion: if "content" intention is different from just dumping variable contents into a file "as is",  can we have new option for the "copy" module? For instance, call it "data" instead of "content". That should be binary safe and not touch templating.

[2018-11-01 13:57] mvrgotiks commented on #47920
!component vmware_guest

[2018-11-01 14:16] Akasurde commented on #47920
@mvrgotiks Thanks for reporting this issue. Could you please use above PR and let me know if it works for you ? Thanks.

[2018-11-01 14:16] Akasurde commented on #47920
resolved_by_pr #47924

[2018-11-01 14:21] ofirshtrull commented on #42661
since 2.7 I get this error on small-medium groups I create , but from what I see it still fully creates the populates my groups, so I am not sure if this is the current behavior

[2018-11-01 14:23] acozine commented on #47844
@jzielke-nli thanks for the suggestion - would you like to add it to the [agenda](https://github.com/ansible/community/issues/389) for next week's Documentation Working Group meeting?

[2018-11-01 14:36] rishabh-d-dave commented on #47829
Agreed. Can you please suggest a solution for this?

One could be that we can split them into smaller dictionaries, expand templates in them piece by piece, and join them before to returning it to the plugin.

[2018-11-01 14:45] JSchlarb commented on #45547
Simple solution, you need to enable your [Cloud SQL Admin API
](https://console.developers.google.com/apis/library/sqladmin.googleapis.com?project=callidus-test).

Due the fact that a 403 response is suppressed it results in a false positive.
https://github.com/ansible/ansible/blob/23becece53127f22d3b1e98531a7dd58eb17ab62/lib/ansible/modules/cloud/google/gcp_sql_instance.py#L693

Reponse:
`{
  "st

[2018-11-01 14:48] JSchlarb commented on #45547
Simple solution, you need to enable your [Cloud SQL Admin API
](https://console.developers.google.com/apis/library/sqladmin.googleapis.com).

Due the fact that a 403 response is suppressed it results in a false positive.
https://github.com/ansible/ansible/blob/23becece53127f22d3b1e98531a7dd58eb17ab62/lib/ansible/modules/cloud/google/gcp_sql_instance.py#L693

Reponse:
[code]

[2018-11-01 14:53] bcoca commented on #38148
fixed via #32738

[2018-11-01 14:53] #38148 closed, assigned to nobody

[2018-11-01 14:57] bcoca commented on #47829
I don't know why a plugin would need to expand all variables, currently all plugins just expand those that they need to use, doing otherwise seems like a waste of resources.

[2018-11-01 15:10] jgeorgeson opened #47925 "OpenStack plugin with memcached: 'CacheModule' object has no attribute '_dump'"
##### SUMMARY
I'm trying to configure caching with memcached due to the fixed-but-unreleased #45431. Inventory is failing with `[WARNING]:  * Failed to parse /home/jgeorgeson/Code/Dev-Engineering/terraform/openstack-instance-deploy-
pipeline/ansible/openstack.yml with openstack plugin: 'CacheModule' object has no attribute '_dump'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

memcached ca

[2018-11-01 15:13] oh4 commented on #41320
Hi All,

Wondering if there is any progress on this? I'm looking to implement some automation around this module but definitely need to support the "host" parameter. Out of curiosity, if there is a host such as https://titotest.service-now.com, should adding just titotest as the instance work?

[2018-11-01 15:15] mvrgotiks commented on #47920
@Akasurde Sure - I will try it

[2018-11-01 15:29] sivel commented on #47906
The solution would be to use the following in that scenario:

[code]

I suppose we might be able to add a shorthand for this somehow, maybe as a toggle to `zip`/`zip_longest`.  But I'm not sure I would like to add another filter.

[2018-11-01 15:34] mvrgotiks commented on #47920
I am bit confused by the message:
msg": "No snapshots present for virtual machine or template [netapp_centos_75_100]"
Is the module expecting existing vm name in the template to be able to locate given snapshot_src?

[2018-11-01 15:41] rishabh-d-dave commented on #47829
Any large scale manipulation would require that templates are  expanded. For example, validating variables using python-notario.

[2018-11-01 15:46] nitinkansal1984 opened #47927 "mysql module failed with an error zlib.error: Error -2 while preparing to decompress data: inconsistent stream state"
##### SUMMARY

mysql module failed zlib.error: Error -2 while preparing to decompress data: inconsistent stream state

failed: [server] (item=server) => {"chang
ed": false, "item": "server", "module_stderr": "Shared connection to server closed.\r\n", "module_stdout": "Traceback (most recent
 call last):\r\n  File \"/tmp/ansible_Aq1IFy/ansible_module_mysql_user.py\", line 206, in <module>\r\n    fr

[2018-11-01 15:53] DerrickTJ commented on #45191
I wrote the following with aci_rest module for those that need something until an actual module is written. I looked into writing the module myself but that looked kinda complicated for my skill level at this time. Using aci_rest was much easier. It may need some tweaking to work for your environment.

[code]