[2017-02-07 09:41] avielb commented on #20801
Up!

[2017-02-07 09:52] #21086 closed, assigned to nobody

[2017-02-07 09:59] photoninger commented on #21065
I think I figured it out: The line gets only converted to a python data type if templating is used AND the resulting string has correct python syntax.
I managed to change my playbook to "mess up" all three lines, even with quoting my integer variable:
[code]
So this behavior is meant by the sentence "templating (variables in playbooks and template lookups) has improved with regard to keeping the o

[2017-02-07 10:08] fredrik-rambris commented on #11152
I've solved this by an intermediate step. Like so

    # Read each file and split by newline, allowing for multiple keys per file
    - name: Assemble keys
      set_fact:
        key_item: "{{ lookup('file', role_path + '/files/' + item).split('\n') }}"
      with_items:
        - bob.pub
        - fred.pub
        - barney.pub
      register: keys

    # Select each key, joining it again and joi

[2017-02-07 10:30] dagwieers commented on #21052
@rgarrigue Again, it is not possible for file context mappings. Here is a small exercise for you. Try this on your system: `grep -rv object_r /etc/selinux/targeted/contexts/files/`
You will see that there are no entries that use another role than object_r.

There must be a good reason why the tooling and the API do not support it and I do not plan to divert from using the API (instead of going to

[2017-02-07 10:36] dagwieers commented on #21052
notabug

[2017-02-07 10:36] #21052 closed, assigned to nobody

[2017-02-07 10:54] berlic opened #21088 "Ansible 2.2 inconsistent include_vars behaviour (with/without register)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`include_var` (may be some other facts-generating modules/plugins)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the following vars file `my_list` and `my_list2` dict keys gives different results depending on whether we `register` results or not.

##### STEPS TO REPRODUCE
Vars file `w61_

[2017-02-07 10:57] #20131 closed, assigned to Qalthos

[2017-02-07 11:15] 6mile commented on #20106
@dav1x I was still running ansible 2.3.0 (devel 8495b6323a) last updated 2017/01/23 07:50:32 (GMT +000) and that version gives me a green unchanged status pretty much no matter what "state:" I use.  So, I git cloned the latest version (ansible 2.3.0 (devel c86a17b7a0) last updated 2017/02/07 10:55:22 (GMT +000)) and its giving me an error.  Like you if I leave the datacenter out I get a missing da

[2017-02-07 11:18] eastside-hustle commented on #20106
The only difference I can tell between my environment and your test one is that my ESX box is running version 6.0.0 3620759 while yours is running 6.5.  If we think it's worth it I can upgrade my test server to 6.5 and try it then.

[2017-02-07 12:30] krishnachaitanya511 opened #21090 "invalid literal for int() with base 8: 'u+rw,g+r,o-rwx"
##### ISSUE TYPE
 - Documentation Issue

##### COMPONENT NAME
lib/ansible/modules/files/unarchive.py

##### ANSIBLE VERSION
2.2.0.X
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
OS: CentOS 7.X
Target OS: OS:Cent OS7.X

##### SUMMARY
I tried running the script written by someone else. I am facing issue in the below lines.

[code]

##### STEPS TO REPRODUCE
Run any script to unzipping a f

[2017-02-07 12:33] gundalow commented on #16255
I did a production docs run yesterday so everything *should* be live now.

[2017-02-07 13:00] absolutejam commented on #16025
Not sure if it's the same issue, but when I try and use `delegate_to:` from Windows host to Windows host, I get the following:
[code]

So, it looks like it's not respecting the `group_vars:` in my inventory. I've even tried using `add_host:` to load the host and it's vars in memory, but it's still the same.

[2017-02-07 13:06] frenzymadness commented on #18367
I'm gonna take a look on this issue.

[2017-02-07 13:09] albdv opened #21091 "docker_container published_ports is not accepting 'all'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
port_published: 'all' is not working in docker_container module and return the following error
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Container successfully up and running with all the exposed port - published

##### ACTUAL R

[2017-02-07 13:15] gundalow commented on #18367
@frenzymadness That's great thanks for taking a look at this

@mattclay FYI

[2017-02-07 13:18] yaniveliash opened #21092 "URI Module : Passing file as body"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
URI

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'm trying to pass a json file as my body in a URI POST task
for that I'm combining a lookup module to a local file (on my host - not remote machine) however it doesn't seems to work and there is no documentation for that (at least no

[2017-02-07 13:30] #21092 closed, assigned to nobody

[2017-02-07 13:47] jhawkesworth commented on #20700
I am surprised this is in the list for windows modules.

As a workaround you could run the assemble step delegated to localhost and then use win_copy to push the assembled file out to the managed windows nodes.

needs_contributor

[2017-02-07 13:47] albdv opened #21093 "published_ports in docker container is not accepting single port"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When you have a list of exposed ports and would like to publish only one of them

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
TASK [pool : Starting container] *********************************************************
ok: [pool]
##### ACTUAL RES

[2017-02-07 13:50] jhawkesworth commented on #16255
It looks like the list is live to me so I'm going to close this, hope noone minds.  Assemble doesn't seem to work but I suggested on issue raised above delegating to localhost as a workaround.

[2017-02-07 13:50] jhawkesworth commented on #16255
closing

[2017-02-07 13:50] #16255 closed, assigned to nobody

[2017-02-07 13:52] gundalow commented on #19339
Any fix in flight for this?

[2017-02-07 13:55] gundalow commented on #20638
needs_contributor Need someone to have a look at fixing this

[2017-02-07 14:04] mnarusze commented on #16706
As @bjggzxb mentioned, the last writer will **not** win so assuming that @nitzmahone's explanation is valid, the issue is still present.

I tried to use a similar approach for including tasks from within a loop where some variables would be reused. Because of this problem, i.e. host facts set with _set_fact_ not being updated by variables set with _include_vars_, I need to look for workarounds.

[2017-02-07 14:15] albdv opened #21094 "port_published is not getting a port range as an argument"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
port_published fails when uses a port range as an argument

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expecting that container will be up and running with a published port range accordingly to official documentation from docker:
https://docs

[2017-02-07 14:17] bcoca commented on #21026
probably a 'less friendly' approach is required here. I'll remove the 'auto add of .service' and make note `in description: for some environments (i.e. chroot) you'll need to specify the full name of the unit file.`

[2017-02-07 14:27] doverride commented on #21052
@dagwieers You are referring to a specific policy model that just does not leverage roles on files. If you want to tie you technology to one specific model then that is fine but hard-coding customizable identifiers is bad practice,

Not sure what you are referring to specificly when you talk about tooling and API but:

[code]
system_u, object_r, s0 etc etc are customizable identifiers. You cannot

[2017-02-07 14:31] AquaL1te commented on #15805
So in other words, this still hasn't been implemented? The feature request is pretty detailed and this functionality is missing: https://docs.ansible.com/ansible/systemd_module.html

[2017-02-07 14:39] ryansb commented on #21091
Can you please include your docker version so I can reproduce this?

needs_info

[2017-02-07 14:40] beastea commented on #21091
@ryansb
ansible 2.2.1.0
  config file = /Users/alebedev/projects/ansible/ansible.cfg
  configured module search path = Default w/o overrides

[2017-02-07 14:57] andrewhowdencom commented on #20638
Yeah sorry dude, not even close to looking at it!

[2017-02-07 15:03] gundalow commented on #20233
So this is due to implementation, so it's actually a documentation issue

[2017-02-07 15:13] dav1x commented on #20106
@stanrate I've indeed patched this issue and the fix should be merged soon.

@eastside-hustle
I'll deploy a nested 6.0 and 5.5 vSphere deployment just for testing purposes. It will probably be handy to have them around. Are you running python 3.0? Itemitems() was removed from it. That's the only thing I can think of to address that issue.

[2017-02-07 15:18] gundalow commented on #20638
@andrewhowdencom That's totally understandable. It's got the `waiting_on_contributor` label now, so if anyone looks at this issue it's clear that help is welcome.

[2017-02-07 15:20] jimi-c commented on #18559
Generally, we should not be removing deprecations but should turn the messages into errors. For something like the above though, that can be tricky to discern.

[2017-02-07 15:21] 2solt opened #21096 "docker_container always report changed if you use image digest instead of tag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

docker 1.13.0
##### OS / ENVIRONMENT

Linux
##### SUMMARY

When using state: started and image defined with digest instead of tag, the action always reports changed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the second run to report ok for the

[2017-02-07 15:28] sean-abbott commented on #15892
This was working for me, and I had a very nice playbook, and then I upgraded to 2.2.1 and it stopped working.

I wasn't needing to do anything.  Now I do.  I had had some issues getting docker-py to work.

[2017-02-07 15:31] bcoca commented on #19803
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not a bug, this is just not a supported feature, registered var names are not templatable.

In the future, this might be a topi

[2017-02-07 15:31] #19803 closed, assigned to nobody

[2017-02-07 15:40] ryansb commented on #21027
No, it won't be deployed to the released version of Ansible until v2.2.2 is released. You can put the fixed version in the `lib` folder in your Ansible playbook workdir, and it will use the fixed version instead

[2017-02-07 15:45] robinro commented on #15047
Works for me in devel/ansible 2.3.

For `backup_file` one needs `backup: True` and an actual change of the content, such that the backup file is created.

@Javex Is this still an issue? Otherwise: close_me

[2017-02-07 16:01] nblock commented on #20398
@urajio You need to downgrade to a version < 2.2.1.0, perform the vault re-keying and upgrade afterwards.

[2017-02-07 16:25] ryansb commented on #21078
There aren't any plans to deprecate the old syntax, since there are valid uses for it (CLI usage, simple tasks, etc etc). But we favor the new syntax in most tutorials/examples.

[2017-02-07 16:27] ryansb commented on #21096
Can you please include the docker version you're running on?

needs_info

[2017-02-07 16:41] 2solt commented on #21096
Updated the ticket, but also happening with docker 1.12.5

[2017-02-07 16:41] dav1x commented on #21013
Let's try this.

Let's first make sure that the VM isn't being matched by another name and kick off a

[code]

Then run the playbook again and see if its returns the proper value (changed) afterwards.

[2017-02-07 16:43] dav1x commented on #20291
http://docs.ansible.com/ansible/vmware_host_module.html

I'm going to see about extending the functionality using this module.

[2017-02-07 16:47] bcoca commented on #16134
closing as dupe of #13259

[2017-02-07 16:47] #16134 closed, assigned to nobody

[2017-02-07 16:48] nerzhul commented on #20291
@dav1x warning folder creation or resource pool should be separated modules as they are differents objets than an host module

[2017-02-07 16:48] bcoca commented on #13259
So this was a feature we attemtped to add in devel, but never released, I had to remove it as it seemed to break several existing plays and I never had time to look at the corner cases.

In any case there is easy existing workaround using `failed_when:`

[2017-02-07 16:49] phemmer commented on #16134
I wouldn't classify this as a dup. Related sure. But I commented this in the description:

[2017-02-07 16:50] dav1x commented on #20291
@nerzhul so you are thinking vmware_folder.py and vmware_resource_pool.py ?

I could start with that if you prefer.

[2017-02-07 16:52] nerzhul commented on #20291
@dav1x yeah could be good

[2017-02-07 16:58] alikins commented on #20652
https://github.com/alikins/ansible/commit/9fb7d48ce224417aef83f56edc8a317ba3c958cc fixes this.

[2017-02-07 16:58] #20652 closed, assigned to alikins

[2017-02-07 17:11] dagwieers commented on #16255
Wondering why we have win_template when template works as well ?

[2017-02-07 17:11] whitfiea commented on #19803
@bcoca can you let me know what the misunderstanding was? This way of using a dynamic name for the register previously worked but no longer works in Ansible 2.2

[2017-02-07 17:17] jctanner commented on #19064
@aperigault @dagwieers @nerzhul @dav1x Can we consider this resolved by the foldermapping PRs?

[2017-02-07 17:19] nerzhul commented on #19064
Of course ! It goes fast ar work -------- Message original --------Objet : Re: [ansible/ansible] vmware_guest is very slow (#19064)De : jctanner À : ansible/ansible Cc : Loïc Blot ,Mention @aperigault @dagwieers @nerzhul @dav1x Can we consider this resolved by the foldermapping PRs?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thr

[2017-02-07 17:21] jctanner commented on #19064
resolved_by_pr https://github.com/ansible/ansible/pull/19937

[2017-02-07 17:26] jhawkesworth commented on #16255
win_template is largely historic.  Long ago it was actually a separate (action plugin) but it was about 90% copy and paste from template so it got abstracted as part of the ansible 2.0 re-write if I recall.  There's still some windows-specific documentation though  (jinja2 header trick for generating windows line endings).

[2017-02-07 18:01] bcoca commented on #14145
Yes, environment saw many changes, mostly because we need to have a predictable one for matching output.

There are settings in ansible.cfg (module_lang, module_set_locale) that let you control the defaults, but you can also do this at play level as your workaround above shows.

Since I don't see many hitting this issue and it can be controlled via configuration or plays, I'm going to close this i

[2017-02-07 18:01] #14145 closed, assigned to bcoca

[2017-02-07 18:03] bcoca commented on #10499
needs contributor

[2017-02-07 18:38] dagwieers commented on #21052
@doverride If you want to manage files, you can do that with **lineinfile** or **template** already.

I am not referring to a specific policy model. The **sefcontext** module implements the `semanage fcontext` command and is using the *libselinux-python* interface. (This is al clear from the module's documentation) As I stated, I am not interested to implement anything other than using what the li

[2017-02-07 18:48] doverride commented on #21052
Okay, I understand. It is not your fault. seobject.py is just a miscarriage and it should die ASAP. It should never have been adopted upstream.

[2017-02-07 19:37] dagwieers commented on #21052
If the API is incomplete, we need to fix the API.

[2017-02-07 19:38] doverride commented on #21052
It is not just incomplete. It is flawed. It needs to go.

[2017-02-07 20:13] #21055 closed, assigned to rcarrillocruz

[2017-02-07 20:26] dagwieers commented on #16255
@jhawkesworth So I don't understand, should users be using **template** or **win_template** ?
The documentation is not clear about it, the notes in **win_template** are missing from **template**, so is it not affected by those ? I think we should definitely add notes.

Also for all the non-windows modules that have a Windows variant. I will make a PR for those.

[2017-02-07 21:01] sonjz commented on #16884
based on: https://github.com/ansible/ansible-modules-core/issues/3523#issuecomment-222368182

Added this early in the bootstrap to reenable apt (you can remove the becomes if you do that elsewhere)
- name: "FIX: Ubuntu 16.04 LTS doesn't come with certain modules, required by ansible"
  raw: apt-get install python-minimal aptitude -y
  become: true
  become_user: root
  become_method: sudo

[2017-02-07 21:10] #19064 closed, assigned to jctanner

[2017-02-07 22:23] Trezamere opened #21112 "vmware_guest: vm_cdrom"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
2.3.0

##### SUMMARY
 The newer vmware_guest module does not currently support loading / managing cd_roms.  The older vsphere_guest has this functionality; it would be nice to have it ported forward so we can do something like the following.

[code]

[2017-02-07 22:26] stanrate commented on #20106
We maintain our RHEL systems using the latest RPMs from RHEL and EPEL repositories. The last "yum update" was done last week so our systems, including Python are "up to date" (we don't update Python from Python repositories). Ansible is running on one of our RHEL6 hosts - see below:

# rpm -q python
python-2.6.6-66.el6_8.x86_64
# python --version
Python 2.6.6
# rpm -q kernel
kernel-2.6.32-642.1.1.

[2017-02-07 22:28] nerzhul commented on #20106
vmware_guest works well to change state i'm using it at work to spawn a VM, configure TFTP+DHCP and after boot the machine

[2017-02-07 22:37] stanrate commented on #20106
Nerzhul, vmware_guest does not work properly and I cannot use it to spawn a VM, configure DHCP and afterwards boot the machine. Perhaps your environment is different to mine and you are not running the latest RPMs from RHEL6 and EPEL repos like many commercial and government organizations.

[2017-02-07 22:38] flowerysong commented on #20638
This is not a bug.in the module, though probably the documentation could be clearer if multiple people have tried to use it incorrectly. The account_key is used to sign the ACME requests and it must not be the same as the private key for the requested cert; this is enforced by the ACME server.  Here's a working example:

[code]

[2017-02-07 22:40] bcoca commented on #19682
@jimi-c i traced and it had never been implemented , so i removed the callback handler.

[2017-02-07 22:41] jctanner commented on #19682
!python3

[2017-02-07 22:43] bcoca commented on #19514
FYI, python 3.4 is not a supported target, only 3.5 and above

[2017-02-07 22:45] nerzhul commented on #20106
@stanrate i'm a commercial organization and we are using Debian 8 with pyvmomi from pip

[2017-02-07 22:47] dagwieers commented on #20106
BTW I fixed the iteritems() problem here #21106

[2017-02-07 22:49] stanrate commented on #20106
Nerzhul, vmware_guest does not work properly and I cannot use it to spawn a VM, configure DHCP and afterwards boot the machine. Perhaps your environment is different to mine and you are not running the latest RPMs from RHEL and EPEL repos like most commercial and government organizations.

[2017-02-07 22:51] bcoca commented on #19514
Also note, that Ansible cannot change some basic things here, you are using Jinja2 to run a Python expression, `dict.keys()` drastically changed in 3.x, you might need to add `|list` to have such a construct work across the versions.

Or as you've shown, just removing it would also work, I'll make note to add a pytyon3 compatibility section.

[2017-02-07 22:55] jctanner commented on #20128
!python3

[2017-02-07 22:56] dav1x commented on #20291
@aperigault @nerzhul @jctanner @dagwieers

ok. I'm mostly done with vmware_resource_pool.py. I'm running into an issue trying to delete a resource pool via pyvmomi. I can't find a method to delete a target resource pool, I can only find one to delete ALL child resource pools. Anyone encounter anything similar to this?

[2017-02-07 22:59] jctanner commented on #19618
!python3

[2017-02-07 23:01] #20588 closed, assigned to nobody

[2017-02-07 23:07] eastside-hustle commented on #20106
@dav1x I'm using python 2.7.5.  I git cloned the latest Ansible today (ansible 2.3.0 (devel c00604210c) last updated 2017/02/07 22:55:37 (GMT +000)) and still the same error:
TASK [vmware_guest] *********************************************************************************************************************************************************************
task path: /opt/playbooks/vmware_powero

[2017-02-07 23:40] jctanner commented on #20106
@eastside-hustle it is merged

[2017-02-07 23:42] denisemauldin commented on #20954
@robinro Will do.  :)

[2017-02-08 00:32] eastside-hustle commented on #20106
The latest commit fixes the "iteritems" error.  However, I'm back to my original problem which is regardless of what "state:" I use my playbook exits successfully with no changes.  Ie., if I try to power on a guest that is currently off nothing happens.   So, short story long, I'm back where I was when I put this ticket in.

[2017-02-08 00:36] andynygard commented on #20837
We're hitting this issue too, which appears to impact both `2.2.0` and `2.2.1`.

Very interested in a fix, since the workaround using registers is terribly brittle.

[2017-02-08 01:34] 6mile opened #21121 "vmware_guest_snapshot fails with no vcenter server and esx version error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Ansible built from git clone: git clone git://github.com/ansible/ansible.git --recursive
python 2.7.5
pyshere 0.1.7
pyvmomi 6.5
ESX 6.0.0

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core) patched and up to date

##### SUMMARY
Trying to create a snapshot on a sta

[2017-02-08 02:06] supertom commented on #21073
Hey @vladpanainte, thanks for reporting.  I'm digging into this on my end.  Just so I have some context:

* You're now seeing the organization dropdown in the console now?
* You're unable to add the project to an organization?

[2017-02-08 02:34] dagwieers commented on #19417
All reported issues have been fixed now. So this ticket can be closed.
Thanks to everyone involved !

[2017-02-08 02:34] #19417 closed, assigned to jctanner

[2017-02-08 02:42] #20754 closed, assigned to nobody

[2017-02-08 02:48] ghost opened #21122 "gce module ignores specified service account, always uses project default"
(resubmit of https://github.com/ansible/ansible-modules-core/issues/5376 after verifying the issue still exists in 2.2.1.0)

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

gce
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

~/.ansible.cfg:

[code]

~/.ansible.hosts:

[code]
##### OS / ENVIRONMENT

`ubuntu-14.04` image running on existing GCE node, with `libcloud-1.4.0` installed via pip
(

[2017-02-08 02:51] abadger commented on #20186
Not sure if you'll need this here, but just in case: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L340  there's a pair of functions to recursively walk through a dictionary/list and turn everything into unicode or bytes.  Note that it can be expensive to recurse over a large amount of data so if you know that it's just a few values which are giving you problems,

[2017-02-08 03:00] scottingly commented on #21122
I tried this just now to verify the issue still exists with current stable branch: same thing. My libcloud is 1.4.0.

We're iterating on our GCE stuff now, so I'm revisiting this issue and looking to break out permissions, so far every node will have to be created with the default service account, and we have to use these "scopes" instead (i.e. `service_account_permissions`) which are (1) limited;

[2017-02-08 03:06] scottingly commented on #21122
updated version numbers in the bug text (ansible-2.2.1.0 and apache-libcloud-1.4.0)

[2017-02-08 03:23] ahmadkhudeish opened #21124 "File module not idempotent - state always outputs changed when changing permissions recursively"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- File Module
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Debian v8 Jessie

##### SUMMARY

When setting file permissions on a directory recursively the output of running the Playbook always goes to changed even after running the playbook multiple times and the directory permissions have already been set. To test idempotency, I usual

[2017-02-08 03:42] yfshare commented on #14686
[code]
This error, we need to install openssh-clients. I have solved it.
[code]
[code]
@larsks

[2017-02-08 03:47] krishnachaitanya511 commented on #21090
Hi Team,

Could someone please provide me inputs regarding this?

[2017-02-08 05:16] szponek opened #21125 "os_security_group_rule should support all IP protocols specified as integers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_security_group_rule

##### ANSIBLE VERSION
Checked on both:
- ansible 2.3.0
[code]
- ansible 2.1.2.0
[code]

##### CONFIGURATION
None
##### OS / ENVIRONMENT
N/A
##### SUMMARY
Just as it was described in an already closed #4412, ansible doesn't support creating OpenStack security rules for other protocols than tcp, udp, icmp and vrrp, while th

[2017-02-08 06:54] nerzhul commented on #21121
in fact i developed the module (mainly moving code). It seems the API doesn't support snapshoting, error was not from us, but from VMWare API itself look it's "pyVmomi.VmomiSupport.RestrictedVersion" exception.

@dav1x @jctanner do you know this ?

[2017-02-08 07:19] ahawkins opened #21126 "Incorrect docker-py version check failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_login` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing specific

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

`docker_login` module incorrectly fails `docker-py` version check. We have the newest `docker-py` version installed, but it fails a version check against a minimum older version.

##### STEPS TO REPR

[2017-02-08 07:25] thelmstedt commented on #20493
I was also confused by this. My use case is deployment vs application restarts: both need to take the server out of the load balancer, perform the action and put it back in. Ideally my 'restart appserver' handler could use the same LB logic as my deployment playbook. `include_role` seemed to be the only way to achieve this

[2017-02-08 07:31] vladpanainte commented on #21073
Hi Tom,

Yes I see the dropdown and if I move the project onto an org or run it in a
proj which is already under an org it works flawless .

Thanks

---
Vlad Panainte

On Feb 8, 2017 2:06 AM, "Tom Melendez" <notifications@github.com> wrote:

[2017-02-08 08:23] gundalow commented on #20638
@flowerysong would you need interested in raising a PR (Pull Request) to update the documention?

[2017-02-08 08:32] antoinetran commented on #20492
We had to remove docker-compose 1.10 (pip-version), and all its dependencies (mostly module docker). We did a diff from a clean state and a "polluted" state (with docker-compose 1.10 in pip installed): to revert, we did:
`for pipPackage in cached-property colorama docker docker-compose dockerpty docopt functools32 jsonschema texttable docker-py ; do sudo pip uninstall -y ${pipPackage} 2>&1 | logge

[2017-02-08 10:04] nerzhul opened #21127 "Wrong Shippable test on type(x).__name__ print"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

shippable

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Shippable failed to detect type(x) usage correctly. When using type(x).__name__ to retrieve a type, it thinks we are trying to test which type is this.

here is the incorrect build

https://app.shippable.com/runs/589add9b6ee43c0f00b55fe3/1/cons

[2017-02-08 10:04] mwperina commented on #20549
resolved_by_pr 20607

[2017-02-08 10:04] nerzhul commented on #21127
ping @gundalow @mattclay

[2017-02-08 10:08] mwperina commented on #19801
@atgreen Any news?

[2017-02-08 10:25] jhawkesworth commented on #16255
@dagwieers Right now it probably doesn't matter which is used.  Before 2.0 I think you had to use win_template because template couldn't handle windows-style paths.
That said, I would support a change where **win_template** gives you windows style line endings by default, and **template** doesn't.  Would still need to respect the jinja2 directive in the template though in order to avoid breaking e

[2017-02-08 10:27] iHile commented on #20685
https://github.com/ansible/ansible/issues/19465

[2017-02-08 10:32] dagwieers commented on #16255
No, removing was not an option for me either. But it's important that people understand what's used for what. Especially if we (actively) promote both for Windows. Thanks for clearing this up. I will look into clearing things up.

[2017-02-08 10:36] dagwieers opened #21128 "Docs: template vs win_template (on Windows)"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

v2.3

##### SUMMARY

So a dozen of non-Windows-specific modules exist that work fine on Windows. However for **template** we also have **win_template** and both basically are doing the same.

So this ticket is to ensure we clear up any confusion. For details see: https://github.com/ansible/ansible

[2017-02-08 10:36] GwenaelPellenArkeup opened #21129 "Add parameter php_path in module composer.py to choose php binary's path."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
composer.py

file: lib/ansible/modules/packaging/language/composer.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no change

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add parameter php_path in module composer.py to choose php binary's path.

##### EXPECTED RESULTS
[code]

[2017-02-08 10:43] njchandu commented on #9065
Spent hours banging my head on the table trying to get around this issue. Please fix this issue.

[2017-02-08 10:57] GwenaelPellenArkeup commented on #21129
Hello @dmtrs, @resmo.

What do you think of this idea?

Best regars.

[2017-02-08 11:12] dminca commented on #20685
thanks @iHile

[2017-02-08 11:46] ppanczyk opened #21131 "Play include: gather_facts inheritance"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be nice to be able to pass "gather_facts" parameter to a play include statement. The included plays should inherit the given value, unless explicitly told to behave in another way (in the included file). This would be very us

[2017-02-08 11:51] pierreant-p commented on #18987
Same issue on ansible 2.2.1.0

[2017-02-08 12:52] albdv opened #21133 "docker_container not applying a list of links"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
docker_container module is not accepting a list of the links

##### STEPS TO REPRODUCE
run a docker_container module with a list of the links and the only the last one will be in the list

[code]
[code]

##### EXPECTED RESULTS
[code]
##

[2017-02-08 12:52] joum opened #21134 "Confusing docs for Route53 module with error from AWS"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Route53.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.12.3
python 3.6.0
boto 2.45.0

##### SUMMARY
The documentation regarding the syntax for the `value` field regarding SRV record creation is misleading and should be fixed.

##### STEPS TO REPRODUCE
While trying to automate the creation of the records (having a `do

[2017-02-08 13:25] pilou- opened #21137 "default and minimal callback display warnings in an inconsistent manner, depending on task results"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
default and minimal stdout callback

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
In `ansible.cfg`:
`stdout_callback = minimal`
or
`stdout_callback = default`

Environment variable `ANSIBLE_STDOUT_CALLBACK` can be set too.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The way warnings are presented to the user aren't consistent:
* when a play

[2017-02-08 13:26] alvaroaleman opened #21138 "Rescue part of block loses hostvars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible block/rescue feature

##### ANSIBLE VERSION

[code]

##### SUMMARY

* The task in the rescue block doesn't contain the ssh user anymore

Relevant role part:

[code]

##### ACTUAL RESULTS

[code]

[2017-02-08 13:35] rdonkin opened #21139 "Regression: handlers not inheriting role parameters (become)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook, become clause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ echo $ANSIBLE_STDOUT_CALLBACK
debug

##### OS / ENVIRONMENT

OS X 10.11.6 - control machine and target server

##### SUMMARY

Regression in 2.2.1 of #17490 - the `become: yes` attribute is once more not inherited from the role invocation to a handler.  Maybe

[2017-02-08 13:42] alvaroaleman commented on #21138
Basically it looks like all hostvars get cleared, because if I put a `- debug: var=hostvars` as first task in the `rescue` part, ansible emits a

[code]

[2017-02-08 13:49] ghost opened #21140 "LVOL module failed on with_dict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
LVOL module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
3.10.0-327.36.3.el7.x86_64

##### SUMMARY
LVOL module does not see variables passed via **with_dict**

##### STEPS TO REPRODUCE
The test yaml

[code]

##### EXPECTED RESULTS
The lvol task should be accomplished as

[2017-02-08 13:50] ryansb commented on #20481
The fix for this issue has been merged as https://github.com/ansible/ansible/commit/b7e78656ac1288d36b3032543f49faa05d9c9a01 and they'll be released in Ansible 2.3

[2017-02-08 13:50] #20481 closed, assigned to nobody

[2017-02-08 13:55] germainlefebvre4 opened #21141 "Unarchive with foreign languages typography (chinese)"
##### ISSUE TYPE
 - Bug report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Ansible : Red Hat Enterprise Linux Server release 6.7 (Santiago)
2.6.32-573.8.1.el6.x86_64
Host : Red Hat Enterprise Linux Server release 6.7 (Santiago)
2.6.32-573.12.1.el6.x86_64

##### SUMMARY
The module unarchive does not provide transc

[2017-02-08 14:05] arunjohn opened #21143 "azure_rm_deployment: InvalidClientIdError: (invalid_request) AADSTS90002: Requested tenant identifier 'xxxxxx.com'' is not valid."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

##### STEPS TO REPRODUCE
I am getting this error while using the azure module:

[code]

I am use the following python modules:

[code]

I had passed the following values in the file
~/.azure/creden

[2017-02-08 14:37] gautamwadhwa-sig opened #21145 "Module copy doesn't take become_user into account"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

zypper module, issues with become

##### ANSIBLE VERSION

ansible 1.9.6
  configured module search path = None

##### CONFIGURATION

No change.

##### OS / ENVIRONMENT

Running ansible on CentOS Linux release 7.2.1511 (Core),
managing a Suse box.
SUSE Linux Enterprise Server 11 (x86_64)
VERSION = 11
PATCHLEVEL = 3

##### SUMMARY

When using be

[2017-02-08 14:38] resmo commented on #21129
@GwenaelPellenArkeup would be ok for me

needs_contributor

[2017-02-08 14:44] andreinadesousa opened #21147 "cannot import name AnsibleVaultEncryptedUnicode"
I'm installing Ansible Tower 2.4.5 on CentOS 7. When running the ./setup.sh, I get this error:

TASK [packages_ubuntu : include_vars] ******************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: cannot import name AnsibleVaultEncryptedUnicode
fatal: [localhost]: FAILED! => {"failed": true, "stdout": ""}

PL

[2017-02-08 14:50] bigon commented on #21052
Any reasons why seobject.py is used in ansible?

IMVHO it would be better to use semanage directly everywhere.

I think that almost everything is feasible with that module only except the permissive domains thing

[2017-02-08 15:00] jimi-c commented on #20568
Bisected to bcceada5d9b78ad77069c78226f8e9b336ff8949, trying to figure out why...

[2017-02-08 15:16] LTheobald commented on #20400
Also hitting this problem. I worked around it by using `command` instead of `shell` for the affected lines.

[2017-02-08 15:20] zxzharmlesszxz commented on #18768
Debian 8 jessie
ansible 1.9.6
cron module doesn't set special_time

[2017-02-08 15:28] bcoca commented on #18416
closing as dupe of #16073

[2017-02-08 15:28] #18416 closed, assigned to nobody

[2017-02-08 15:58] #21137 closed, assigned to nobody

[2017-02-08 16:04] anayrat opened #21151 "UnicodeDecodeError with module copy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Ansible server under python 2.7.9

Remote host under python 2.6.6

##### SUMMARY

I get this error with module copy for specifics files :
[code]

It seems it is the same bug : https://github.com/ansible/ansible-modules-core/issues/2213

##### ACTUAL RESULTS

[code]

Thanks for yo

[2017-02-08 16:14] Nosmoht opened #21152 "ipa_sudorule: get_sudorule_diff() takes exactly 2 arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipa_sudorule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The actual ipa_sudorule module has an error that prevents any sucessful execution if the rule to handle does already exist. If a new rule will be create the error does not occur.
Following error is raised while using the module
[code]

####

[2017-02-08 16:15] imjoshholloway commented on #20978
This also happens on version 2.2.x (I've tested 2.2.1 and 2.2.0).

What's interesting is that this issue also occurs if you have a role as a dependency of multiple roles and then use `when:` to optionally include those roles.

Below, both role b & c include role a as a dependency:

`ansible-playbook test.yml -e run_first=true run_second=false`

Playbook:
[code]

[code]

Works as expected. However,

[2017-02-08 16:27] phemmer commented on #13259
I had a related ticket (#16134) that was closed (objectionably) as a duplicate of this one. So I'm copying the core for that ticket here:

The issue is that ansible throws an error when stopping/disabling an unknown service. The `must_exist` option would be able to fix this use case, but the behavior should be that it is automatically enabled, though only when stopping or disabling the service. Th

[2017-02-08 16:46] lmazuel commented on #21143
Hi @arunjohn
As the RestAPI answered, I think your tenant is not correct. Please read this documentation from the SDK on how to setup client_id/secret/tenant and tell us if it helps:
http://azure-sdk-for-python.readthedocs.io/en/latest/quickstart_authentication.html#using-service-principal

Thank you,

[2017-02-08 16:47] anayrat commented on #21151
It occurs with only one file :(

[2017-02-08 17:00] anayrat commented on #21151
I found the problem, an accent "é" on both local file and destination. The diff failed.

[2017-02-08 17:14] bedcruncher opened #21155 "CN and Hostname don't match for machines on Active Directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ConfigureRemotingforAnsible.ps1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Does not apply

##### OS / ENVIRONMENT
Ansible Server = CentOS Linux release 7.3.1611 (Core)
Ansible Endpoint = Windows 7 Ultimate x64 SP1

##### SUMMARY
Fresh Win7 image with current updates and WMF4 installed. Symantec Endpoint Protection with all ports open for

[2017-02-08 17:15] bedcruncher commented on #21155
The fix as I have done it to get this to work is to change the `Line 115` from `-First` to `-Last` so that it reads
``` Get-ChildItem "Cert:\LocalMachine\my"| Sort-Object NotBefore -Descending | Select -Last 1 | Select -Expand Thumbprint ```

[2017-02-08 17:24] gzm55 opened #21156 "detect if ssh pipeline can be used through a setup module fact"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ssh pipeline is off by default (p.s., PR #13200 has some problems). Can we make  ssh pipeline more smart way, that is, enable it as much as possible for each host after the setup module is done?

So a few things are needed:
1. in `ansible.cf

[2017-02-08 17:54] Trezamere commented on #20106
I am also seeing this issue with the following task

[code]

Oddly enough it _does_ set the state correctly in my above task; however I am trying to configure the machine before booting it; so they are mutually exclusive.  Seems like there might be some state in the underlying module that depends on something else getting flipped for the _state_ poweredon/off to work properly.

I'm targeting VCent

[2017-02-08 18:35] dron23 opened #21158 "ovirt_vms module should not fail on starting vms when there is a running operation with disk snapshot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
without custom modifications, just nocow = 1

##### OS / ENVIRONMENT
Fedora23 (running ansible on it) and CentOS7.3 (managed OS)

##### SUMMARY
ovirt_vms module should not fail on starting vms when there is a running operation with disk snapshot.

##### STEPS TO REPRODUCE
let ha

[2017-02-08 19:55] conleym opened #21160 "route53_zone does not support split horizon setup"
https://github.com/ansible/ansible-modules-extras/issues/1756 was never imported into this repo, and is still not fixed as of 2.2.1.0.

[2017-02-08 20:02] Trezamere opened #21161 "vmware_guest: mac address not setting addressType as static"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
VCenter 6, ESXi 6 host, targeting ubuntu server 16.04 amd64.

##### SUMMARY
When setting the 'mac' address field; I expected the `ethernet0.addressType` field to be set to 'static' (manual in the UI); it remains as 'vpx' (automatic in the UI).

This has the implication of not all

[2017-02-08 20:06] bcoca commented on #21026
updated, less friendly now but there is note in docs hinting at using .service/etc names.

[2017-02-08 20:19] mattclay commented on #21127
Resolved by #21162.

[2017-02-08 20:19] #21127 closed, assigned to mattclay

[2017-02-08 20:38] dagwieers commented on #21052
**sefcontext** was based on **seport** which was using seobject.

I don't mind replacing it with another API (semanage ?). PR's are welcome.

[2017-02-08 20:42] bcoca commented on #20700
you might want to try `remote_src: no`

[2017-02-08 21:03] #17706 closed, assigned to nobody

[2017-02-08 21:07] #20608 closed, assigned to alikins

[2017-02-08 21:41] hryamzik opened #21164 "Dynamic inventory encrypted configs (vault support)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[inventory](/ansible/ansible/tree/devel/contrib/inventory)

##### SUMMARY

Some dynamic inventory scripts are used with config files that are supposed to include credentials. Encrypting these files with vault looks like strait forward approach but not currently supported.

[2017-02-08 22:16] abadger commented on #21090
@krishnachaitanya511 for now, the workaround would be to do as the msg says and specify mode as an octal number instead of using a symbolic mode string.  I'll let @dagwieers decide if symbolic modes are a bugfix or a feature request. (the documentation doesn't say that octal modes are necessary but the error code seems to imply that that is the case.)

[2017-02-08 22:26] alikins commented on #18236
git bisect points to:

[code]

[2017-02-08 22:44] bcoca commented on #21164
this would require that inventory scripts implement the feature as Ansible just executes them and they read their own config. For that we would also have to pass the vault secret to them.

An alternative, in  https://github.com/ansible/proposals/issues/41 we move to have them be actual real plugins, and in conjunction with https://github.com/ansible/proposals/issues/35 it allows them to share the

[2017-02-08 22:49] thoraxe opened #21167 "ec2.py looks like it now always returns safe/lower version of hostnames"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ec2 dynamic inventory script

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.py#L803

It appears that there is no way to get an "unsafe" hostname that can be copy/pasted into SSH.

It seems like even if you specify "public_dns_name" you will

[2017-02-08 22:53] thoraxe commented on #21167
I would think a quick and dirty "fix" for this might be:

* add a config option `safe_hostnames`
* if `safe_hostnames` is `false`, then simply skip line 800-803

Am I misinterpreting how this is supposed to work?

[2017-02-08 22:56] thoraxe commented on #21167
It appears that this pull request/commit is what "broke" hostnames:

https://github.com/ansible/ansible/commit/3a3e69f8302f4536ffaf8a0825b75af188ee1dc5

As now it appears while ip addresses work, hostnames are always "broken" via underscores.

[2017-02-08 22:59] thoraxe commented on #21167
@jnerin that was your PR/commit -- was the intention to make hostnames always use underscores?

[2017-02-08 23:00] bcoca commented on #18965
Can anyone confirm that the above fixed it for them?

[2017-02-08 23:01] thoraxe commented on #21167
By the way, I can break that PR by doing the following in `ec2.ini`:

hostname_variable = ip_address

Now, because hostname_variable is defined, `not hostname` will never evaluate to true, therefore we will always safe/lower the hostname value, thus an IP address is converted to use underscores, too.

[2017-02-08 23:30] jborean93 commented on #21048
Hey @JimFicarra I believe when i wrote these changes I didn't have an easy way to detect hard links and didn't add support for it. Happy for someone to look into it again but I believe islink will only return true if it is a directory symbolic link `mklink /d` or a directory junction `mkink /j`. I don't believe shortcuts should be included in islink but should be another return value like isshortc

[2017-02-08 23:31] CorbanR commented on #20956
I guess ill close the issue. Just seemed odd that the behavior changed.

[2017-02-08 23:31] #20956 closed, assigned to nobody

[2017-02-08 23:42] joejulian commented on #16949
The problem, as I see it, is that the registered variable for `with_items` cases returns a list of results, each of which has their own `skipped` field, presumably because you could skip individual items using `with`.

The workaround is to create a list of `skipped` using a json_filter and test against that:

[code]

imho, the skipped filter should test if all were skipped if the registered var is

[2017-02-08 23:49] xenithorb commented on #20120
I just wasted hours trying to debug this because you don't really ever think about security group egress being blank, do you? There isn't even a quick table to check in the EC2 Description like there is for aggregating ingress rules, probably because they're so infrequently modified.

Well the docs completely contradict the actual current behavior, and if you simply define ingress rules (i.e. `rul

[2017-02-08 23:56] xenithorb commented on #7309
Indeed, @jimi-c  this seems to be happening again with: https://github.com/ansible/ansible/issues/20120

[2017-02-09 00:10] abadger commented on #21126
This has been fixed in newer versions of Ansible.  Please upgrade to get a fixed version.  (I've checked 2.1.4 which is the most recent 2.1.x release and it has the fix for this issue.  Note that 2.1.x is only receiving **critical** security fixes at this point so may be beneficial for you to consider upgrading to a later release.)

[2017-02-09 00:10] #21126 closed, assigned to nobody

[2017-02-09 00:10] xenithorb commented on #20120
Related tickets:
 - #19226
 - #11249

[2017-02-09 00:12] abadger commented on #21122
Thanks @scottingly!  Will wait on @supertom, the maintainer of this module, to take a look.

[2017-02-09 00:17] abadger commented on #21124
All ansible-1.x versions are no longer being maitnained or seeing updates.  I've just tested this with ansible-2.2.1.0 and it is working correctly:
[code]

Please try upgrading and see if it is working.

[2017-02-09 00:17] abadger commented on #21124
needs_info

[2017-02-09 00:25] cdosborn opened #21176 "Blockinfile with insertbefore does not insert before in some cases"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile
https://docs.ansible.com/ansible/blockinfile_module.html

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ubuntu14

##### SUMMARY
When I use `insertbefore` in `blockinfile` it is ignored if the the block is already present in another place in the file. The block is appended to the end of the file.

##### STEPS TO REPRODUCE

[co

[2017-02-09 00:26] nitzmahone commented on #21128
They're currently doing *exactly* the same (the `win_template` action literally subclasses `template` with no additional functionality), but I'd be fine standardizing on `win_` versions for those few things that don't do that so we can make them deviate with Windows-specific behavior and docs where appropriate.

[2017-02-09 00:49] abadger commented on #21141
@germs62 could you test again with a current version of ansible (ansible 2.2.1 is the most recent release)?  There havee been multiple fixes and large changes to the code of the unarchive module since 2.0.1 was released.

needs_info

[2017-02-09 00:54] abadger commented on #21145
Could you test again with a current version of ansible?  There have been multiple changes to the section of code that copies the module to the remote machine.

needs_info

[2017-02-09 00:55] JimFicarra commented on #21048
@jborean93 having looked into it myself I definitely agree it's not a trivial exercise for detecting link types/shortctus in Windows.  My rationale for this issue was that mklink creates a shortcut when specifying a symbolic link during execution unless a hard link is specified.  I believe the early Windows 95 incarnations of shortcuts were shell extensions and FAT32 had no capabilities for this,

[2017-02-09 01:05] abadger commented on #21151
Can you give us a reproducer?  Is the é encoded in utf8 or in another encoding?  Is the é in the filename or as contents of the file?

[2017-02-09 06:02] manjitkumar commented on #18965
@bcoca I tried to run the same playbook with http://releases.ansible.com/ansible/ansible-latest.tar.gz but I got the same error. Please let me know if I have to use some other release to test.

[code]

[2017-02-09 06:17] yaegashi commented on #21176
notabug

insertafter/insertbefore would be considered only when inserting a new block, i.e. there's no existing block matched in the file, as lineinfile does:

    - copy:
        dest: /tmp/test.txt
        content: |
          INSERT BEFORE ME
          REPLACE THIS LINE
    - lineinfile:
        dest: /tmp/test.txt
        insertbefore: "^INSERT BEFORE ME"
        regexp: "^REPLACE"
        lin

[2017-02-09 07:17] aioue commented on #19888
@anryko matching your existing method and detecting a list seems appropriate and straightforward.

[2017-02-09 08:19] anayrat commented on #21151
The "é" was in content. How can I check if it is encoded in utf8?

[2017-02-09 09:13] p53 opened #21182 "iptables flush always reports ok"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
not any special configuration

##### OS / ENVIRONMENT
control machine ubuntu 16.04

##### SUMMARY
running:
ansible somehost -i inventory -m iptables 'flush=yes'
answers that's status is ok and changed false, even when rules were there before...

test-ubuntu-16.04 | SUCCESS => {
    "cha

[2017-02-09 09:14] hryamzik commented on #21164
I can see that it's possible to import ansible python modules in these plugins so it should be possible to use vault setting from ansible.conf and vault function to read files. It's clear that inventory scripts modification is required and if there was a clear way to add vault support I'd make PRs for some of them.

[2017-02-09 09:24] koallen commented on #18917
I really hope this feature could be implemented, it will be very useful!

[2017-02-09 09:27] peerster commented on #18917
Based on the history in this ticket, I guess is should be assigned to @bcoca :wink:

[2017-02-09 09:35] jan-xyz commented on #20683
You're double negation confuses me. So what you are saying is that it is expected that it fails when run in check mode?

Why is that? I thought that --check is to verify that the logic works. We only approve pull requests to our ansible repositories when a job that runs --check was successful. Are we using that wrong?

[2017-02-09 09:39] lexxcbrm opened #21183 "winrm: can't login with russian symbols"
ISSUE TYPE

Bug Report

COMPONENT NAME

Ansible

ANSIBLE VERSION

ansible 2.2.0.1

CONFIGURATION

not any special configuration

OS / ENVIRONMENT

control machine: debian jessy minimal
remote machine: Windows 2012 R2

SUMMARY

running:
ansible 192.168.40.105 -u Админ -m win_ping

result:

192.168.40.105 | UNREACHABLE! => {
    "changed": false,
    "msg": "ssl: 'latin-1' codec can't encode charact

[2017-02-09 09:45] #19487 closed, assigned to nobody

[2017-02-09 10:10] dagwieers opened #21184 "Windows: Moving everything over to WMF 5.1"
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

upgrade_to_ps5.ps1

##### ANSIBLE VERSION

v2.3

##### SUMMARY

During cfgmgmtcamp 2017 in Ghent, the idea resurfaced to make it easy for Ansible users to move to Powershell 5.1 (WMF 5.1) and allow modules to make advantage of Powershell 5 capabilities (without requiring backward compatibility code).

Since all suppor

[2017-02-09 10:25] trishnaguha opened #21185 "rpm-ostree/ostree module for Atomic-host"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
new module

##### ANSIBLE VERSION
N/A

##### SUMMARY
It would be nice to have `rpm-ostree/ostree` module for Atomic host.

[2017-02-09 10:37] kwerey commented on #15722
This bug just bit me - we run an environment where we merge hashes and inherit a lot of settings from nested groups, so reporting the whole variable as undefined makes it a challenge to pinpoint the actual issue.

@alikins , I'm guessing this fix didn't get into 2.0, because I can reproduce the bug in 2.1 and 2.2.1. Is this something you're likely to pick up again, or should someone else take it o

[2017-02-09 10:38] kwerey commented on #15722
(I'm happy to have a go at fixing it - I don't know much about the action plugins, but it'd be worth my time to figure them out :) )

[2017-02-09 11:17] jhawkesworth commented on #21184
Nice idea.  It does leave behind those still using S2008 (not R2) though, I think:
https://msdn.microsoft.com/en-us/powershell/scripting/setup/windows-powershell-system-requirements

For reference adding the downloads link here https://www.microsoft.com/en-us/download/details.aspx?id=54616

I am wondering idly if the way to go with this is to create an example role for it?  Using a role would let

[2017-02-09 11:27] gworksmobi opened #21186 "docker daemon start using ansible"
I am working on ansible script for **start docker damon , docker container, docker exec**  After start docker container with in the docker container i need to start some services.

I have installed docker engine , configured and working with some docker container in remote machines. i have used to start docker daemon with specific path, because i need to store my volumes and containers with in pat

[2017-02-09 12:32] jhawkesworth commented on #21184
Just noticed that WMF 5.1 sort-of-requires .net 4.5.2
https://msdn.microsoft.com/en-us/powershell/wmf/5.1/release-notes?f=255&MSPPError=-2147217396

Probably not an issue in practice, but could be for those who aren't yet able to move up to .net 4.5.2

[2017-02-09 12:43] bbayani opened #21188 "Restarting container with non-default log driver fails with "No command specified""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configurations done in ansible.cfg

##### OS / ENVIRONMENT
OS: CentOS7

##### SUMMARY
Restarting a container created with log driver syslog failed to restart. The error shown is : "No command specified"

##### STEPS TO REPRODUCE
1. Install ansible version 2.1.3.0
2. I

[2017-02-09 12:55] #19480 closed, assigned to nobody

[2017-02-09 12:55] sm4rk0 commented on #16675
"Default value" part of the prompt is not templated, too, but its value is used correctly:
https://groups.google.com/d/topic/ansible-project/2nDnsyNvRSQ/discussion

[code]

[2017-02-09 12:56] boxrick opened #21189 "Ansible 2.2.1 - nxos_config - checkpoint issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible nxos_config_module and NXOS in general

##### ANSIBLE VERSION
ansible 2.2.1.0

##### OS / ENVIRONMENT
MacOSX
Ubuntu 16.04

##### SUMMARY
When running nxos_config against a Cisco Nexus 9000, it appears to make an "commit" of the local config on each "changed" run. These build up until the device eventually cannot have any more checkpoints

[2017-02-09 13:10] sm4rk0 commented on #16675
I've just now found these related old issues: #11239, #13263

[2017-02-09 13:14] dagwieers commented on #21184
@jhawkesworth I am not intimately familiar with Windows Server so cannot estimate the impact of .net 4.5.2, but how about WMF 5.0 instead ? Maybe there is some middleground. Raising the bar to PS4 would already be a win ? I'll let others decide ;-) My audience was more knowledgeable than me in that area too...

[2017-02-09 13:22] gundalow opened #21190 "ios_facts broken when persistent_connections is disabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
ios_facts fails withnetwork_cli when persistent_connections is disabled.
If I enable persistent_connections it passes

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
time ANSIBLE_DEBUG=True ANSIBLE_USE_PERSISTENT_CON

[2017-02-09 13:22] JonTheNiceGuy opened #21191 "When injecting a keypair into the OpenStack environment, it is not honouring the Availability_Zone setting."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_keypair

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
host_key_checking = False

##### OS / ENVIRONMENT
Source Machine:
[code]

Target: Hosted Openstack Environment, running Icehouse
 - identity API: /v2.0
 - compute API: /v2
 - keymanagement API: /v1

(Other details available on request)

##### SUMMARY
When injecting a keypai

[2017-02-09 13:40] anryko commented on #19888
Good. Then we are on the same page here. I'll implement this over the next weekend.

[2017-02-09 13:55] #21176 closed, assigned to nobody

[2017-02-09 13:59] wojtek-oledzki commented on #15019
@rolette Ansible uses default `/usr/bin/python` (not the same as `/usr/local/bin/python`). My advice - use virtualenv (`virtualenv .venv`)

and your localhost inventory: `inventory/localhost`:
[code]

[2017-02-09 14:14] rolette commented on #15019
@wojtek-oledzki Thanks for another work-around, but what I'm looking for is a fix for ansible so it works properly on OS X instead of requiring everyone that runs into the problem to spend time tracking down a work-around.

[2017-02-09 14:20] wojtek-oledzki commented on #15019
it's not a workaround - it's how python works. You have to simply tell Ansible where your python executable is if you do not want to use the default location `/usr/bin/python`.

[2017-02-09 14:30] rolette commented on #15019
negative ghostrider... Oddly enough, every other python program manages to work just fine without requiring a virtualenv.

Hard-coding paths to executables breaks in lots of environments. Usually it's not entire platforms like this particular bug though.

[2017-02-09 14:40] Qalthos commented on #21147
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, this is not the right place to discuss issues with Ansible Tower. Please direct Tower issues to http://support.ansible.com/ and they will be able to  help you with your problem.

Thank you once again for this and your interest in Ansible!

[2017-02-09 14:40] #21147 closed, assigned to nobody

[2017-02-09 15:03] nafpliot-ibm commented on #20877
Hmm I believe you can close the issue. I think that this strange behavior would be fixed with https://github.com/ansible/ansible/pull/20423

[2017-02-09 15:03] ssbarnea commented on #15019
Let's be correct, the right way to call python is via `#!/usr/bin/env python` and **not** via a hardcoded path. There is one exception to this rule, the shell scripts from virtualenvs where it is prefered to have a full path instead of using `env`.

On MacOS using the default system Python the env **happens** to resolve to `/usr/bin/python` but this does not mean that we should see `/usr/bin/pytho

[2017-02-09 15:04] #20877 closed, assigned to nobody

[2017-02-09 15:05] Harosgr commented on #20877
I closed the issue because I think this strange behavior will be fixsed with https://github.com/ansible/ansible/pull/20423

[2017-02-09 15:12] lhoss commented on #17761
UNSOLVED issue (I just experienced it myself it in v2.2)
the referenced issue in modules-core was closed also :|
would be nice to get this fixed soon, thx 👍

[2017-02-09 15:13] companycy opened #21198 "Cpu/memory configuration for ansible host?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

performance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

forks=50
pipelining=True

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Cpu/memory/io config required when ansible playbook is working with hundreds of hosts

##### STEPS TO REPRODUCE

I want to setup a cluster on cloud and manage it with ansible which is also on

[2017-02-09 15:17] rolette commented on #15019
@ssbarnea Agreed, except that `#!/usr/bin/env python` does the right thing within virtualenvs, so still no reason to hardcode the path.

[2017-02-09 15:38] emonty commented on #21191
Hi! keypairs in nova are not a per-az resource, they are a per-region resource. I'm confused as to why you are getting availability_zone back in your return dict - that's not actually part of the key resource that openstack returns. Is it possible your cloud provider is running with some sort of patch that is not upstream? (who are you getting your hosted cloud from?)

[2017-02-09 15:46] JonTheNiceGuy commented on #21191
Hi @emonty thanks for the prompt response.

This is the K5 implementation of OpenStack from Fujitsu. K5 are definitely using it as a Per-AZ resource, and it looks like that corresponds with what someone who coded up the os_keypair module in Ansible was expecting as the availability_zone reference is in the docs: http://docs.ansible.com/ansible/os_keypair_module.html

I also raised a [similar ticke

[2017-02-09 15:56] emonty commented on #21191
Good to know - thanks for the response. So - it turns out that Fujitsu has made an incompatible fork of OpenStack with k5 which is a bit sad. I do apologize for the confusion with the availability_zone parameter - that's my fault. It's defined globally in a shared file erroneously and is ignored in modules where it doesn't make any sense. I'll push up a patch to clarify that.

As for this issue, w

[2017-02-09 16:00] zentavr opened #21200 "Unable to use AWS KMS service when uploading the file to S3 bucket"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
modules/cloud/amazon/s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
When you try to upload the file using AWS KMS encryption - it fails

##### STEPS TO REPRODUCE
Try to upload the file using the play below and get an error

[code]

##### EXPECTED RESULTS
File to be uploaded and encrypt

[2017-02-09 16:01] mfeliciano opened #21201 "s3_bucket error: Your previous request to create the named bucket succeeded and you already own it"
See https://github.com/ansible/ansible-modules-extras/issues/3354#issue-187051860

[2017-02-09 16:23] L-B commented on #21090
Hello,

I'm hitting what looks like the same issue, and it seems a bit more complicated than that.
OS is RHEL6, Ansible 2.2.1.0 from EPEL.

The first run works (empty target directory), the second fails (previously extracted files are already present in the target directory).
The documentation explicitly states that symbolic modes can be used since 1,8:
"As of version 1.8, the mode may be specifie

[2017-02-09 16:48] cdosborn commented on #21176
Hrm, you're right about `lineinfile`

This seems wrong to me. If I say a block must be inserted before, and the task succeeds, then I can only assume that the state is that way.

If the insertbefore/after params only work when inserting *new* lines, I think that should be added to the docs. But it's really not nice, it's supposed to be idempotent, so the user doesn't know (nor should they need to)

[2017-02-09 17:47] dagwieers commented on #20123
So the solution I hope would be _the_ solution is to have proper Become support with WinRM.
But thinking about how to use this, it may be better to support a separate 'user' parameter that only affects the HKCU hive and can be used to loop over **win_regedit**.

@nitzmahone What do you think ?

[2017-02-09 17:55] nitzmahone commented on #20123
Adding the ability for win_regedit to load an arbitrary hive is no big deal. I think the trick will be getting the PS registry provider to work with paths for an arbitrarily-loaded user hive (that's not loaded at HKCU). We could probably paper over that in the module (eg, if `user` is specified, load the hive at another location and rewrite any paths that target HKCU), but that doesn't feel great.

[2017-02-09 17:57] nitzmahone commented on #20123
`become` might be a good way to deal with this too, but that also implies that you know all the target users' passwords- if you're just trying to hack up settings for all local users or something, that's probably a non-starter.

[2017-02-09 18:01] nitzmahone commented on #20123
@jhawkesworth 's fears are definitely founded in reality...  I think this could be a very minimally invasive change if done right- would just be an additional step during the module setup. Should have zero effect on any downstream logic (which is where things can get hairy with complex modules).

[2017-02-09 18:01] dagwieers commented on #20123
Right, well I was assuming that as an Administrator you could become any user without credentials... No ? :-)

Hmm, I'd prefer to use HKCU where the CURRENT_USER obviously is the provided user. Somehow I think that makes more sense and you are reusing the path that everybody understands already. We could also do both, but that'd be even more confusing.

[2017-02-09 18:01] dmsimard commented on #20346
I also feel that "failed+ignored" tasks should be folded into a separate number, rather than into "ok" or "failed"

[2017-02-09 18:04] dagwieers commented on #20123
@nitzmahone I think I've lost you there. (additional step in module setup, zero effect on any downstream logic, hairy). I am missing context.

[2017-02-09 18:08] nitzmahone commented on #20123
@dagwieers Sadly, no WRT passwordless become- I might mess with that at some point, but initial become stuff will still require username/password. The restrictions and caveats around that kind of token manipulation are myriad. :)

On "minimally invasive" version:
If `user` arg is specified, lookup and load the user's hive manually (this part could be ugly for domain/roaming/never-logged-in profile

[2017-02-09 18:18] gautamwadhwa-sig commented on #21145
I installed ansible 2.2.1.0 into a virtualenv and tested the same playbook on the same host. The same error seems to happen.

[code]

[2017-02-09 18:38] craigfrancis opened #21205 "Variable precedence with play vars/vars_prompt/vars_files"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As someone who is very new to Ansible...

With variable precedence, I was setting variables in the playbook (aka "play vars"), and assuming they would be seen as defaults, where the inventory `group_vars` and `host_vars` would be able to override these as necessary.

ht

[2017-02-09 18:46] swizzley opened #21207 "Script Module Documented as Module but only contains description"
Fix your documentation, do not put documentation up for modules that are not tested.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
module/commands/script/*

##### ANSIBLE VERSION
tower 3.x

##### SUMMARY
This module is in official documentation, but the module only contains a description and no actual code

[code]

##### ACTUAL RESULTS
[code]

[2017-02-09 18:46] JMLX42 opened #21208 "start service doesn't work in docker + ubuntu 14.04"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
2.2

##### OS / ENVIRONMENT
host: Ubuntu 16.04
guest: Ubuntu 14.04 Docker image

This error does **not** happen when using Ubuntu 14.04 in VirtualBox, only when using Ubuntu 14.04 in Docker.

##### SUMMARY
similar to:

* https://github.com/ansible/ansible/issues/4320
* https://github.com/hashbangcode/vlad/issues/18

[2017-02-09 19:26] #20951 closed, assigned to nobody

[2017-02-09 19:33] promethe42 commented on #21208
It looks like the problem is actually here:

[code]

It doesn't work in a docker container.
If I replace it with:

[code]

it works.

[2017-02-09 20:15] bedcruncher commented on #21155
I've recently run into a different issue on the same line... current solution is to change that line to the following and add the relevant below.

[code]

[2017-02-09 20:15] ryansb commented on #21022
Closed via #21042

[2017-02-09 20:15] #21022 closed, assigned to nobody

[2017-02-09 21:06] aaronk1 commented on #17285
@jhawkesworth is the win_domain_callback plugin something you're sharing?  We're having the same issue where we do multiple playbook runs and the n+1 (second or more) kinit destroys the cache the first playbook run created.  We realize that's why it's happening, just don't have a fix yet.  Assumed this was a common issue and it may be in the documentation, but haven't found anything on it.  I was

[2017-02-09 21:12] aaronk1 commented on #17285
@jhawkesworth Nevermind, I found it mentioned on #15310
Pointing to #14972

[2017-02-09 21:18] nitzmahone commented on #17285
@aaronk1 Have a look at 2.3 (current devel); we now do automatic ticket management with ephemeral ccaches if you specify `ansible_password` (via inventory, `-k`, whatever). Might make your life easier.

[2017-02-09 21:26] aaronk1 commented on #17285
Resolved by #20416

[2017-02-09 21:27] aaronk1 commented on #17285
Thanks, @nitzmahone !  Probably so.

[2017-02-09 21:44] GriffithLea opened #21216 "Inconsistent behavior dependent on name of variable/key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

--extra-vars and/or set_fact and/or vars_prompt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.5 (Santiago)
##### SUMMARY

I get different behavior depending on whether I use --extra-vars or not to bypass vars_prompt in my playbook, unless I make

[2017-02-09 22:36] dmcd opened #21217 "Can't restart service on RHEL"
I'm trying to use https://github.com/elastic/ansible-elasticsearch playbook with Ansible 2.2.1.0 on RHEL 7.3

[code]
Leads to:

[code]
Then I ran this command on the server
[code]

Looks like its an issue with this status response.

[2017-02-09 22:45] sirkubax opened #21219 "ansible nagios module use wrong rw/nagios.cmd path"
##### ISSUE TYPE
 - Bug Report

I call it a bug, but it is a concept limitation...

##### COMPONENT NAME
`extras/monitoring/nagios.py`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
The ansible nagios module `modules/extras/monitoring/nagios.py` uses predefined configuration paths. If your nagios setup is not the one by the system package, you can not run the module.

[2017-02-09 22:49] bcoca commented on #21219
You already have that option `cmdfile` as per http://docs.ansible.com/ansible/nagios_module.html (3rd one down). If you do not supply it, it defaults to using the function you show.

[2017-02-09 22:50] sirkubax commented on #21219
#notabug

By looking at the code I've found the option that I somehow did not see in the spec :)

cmdfile

[2017-02-09 22:50] #21219 closed, assigned to nobody

[2017-02-09 22:51] sirkubax commented on #21219
:) 'command' somehow override 'cmdfile' description when I was reading the docs :/

[2017-02-09 22:51] sirkubax commented on #21219
btw ^ how could we together close the same bug :) @bcoca

[2017-02-09 22:53] bcoca commented on #21219
github cluster race condition

[2017-02-09 22:54] bcoca commented on #20683
check mode will attempt to tell you the probable outcome of a task (ok, changed or failed). I think what you want is `--syntax-check` instead.

[2017-02-09 22:56] bcoca commented on #18917
i have a looooooooooong list of TODO, labeling it open to any contributor that wants to add this. I might eventually get to it ...

[2017-02-09 22:57] bcoca commented on #18965
my update is in devel, it has not been released yet, a git checkout or using pip against the repo should get you a version to test.

[2017-02-09 22:58] dmcd commented on #21217
Sorry, I guess this is probably an issue in the systemd template in https://github.com/elastic/ansible-elasticsearch.

[2017-02-09 22:58] #21217 closed, assigned to nobody

[2017-02-09 23:06] nitzmahone commented on #21184
We still get people begging us to go back and support Powershell 2.0 (mostly for Server 2003 support, but not always)... I have yet to hear any compelling reason to bump the *minimum* up. Guaranteed, there would be a lot of hollering from existing users if we did so. Since Server 2012 shipped with 3.0, it's going to be supported through 2023, so I don't think it's reasonable to just pull the rug o

[2017-02-09 23:11] dagwieers commented on #21184
What is the impact of upgrading Powershell ? Why would someone not upgrade to PS5 ?
Isn't it supposed to be backward compatible but also supports the newer stuff ?

[2017-02-09 23:12] nitzmahone commented on #21184
Sure, but we try to maximize what we can do with the stuff that's "in the box" for the OSs we support- this flies directly counter to that.

[2017-02-09 23:15] nitzmahone commented on #21184
What specifically is it that you want to do that having support for PS3 is holding you back from (especially given the stipulations above)? There are a few minor syntactical things, but IME the underlying OS imposes many more restrictions than Powershell < 5.

[2017-02-09 23:17] bcoca commented on #21184
@dagwieers i know many people that want to upgrade, but cannot. Not all Ansible users are in full control of their environment (I keep recommending new job ...).

[2017-02-09 23:17] dagwieers commented on #21184
Well some modules implement the same functionality 2 times, even ConfigureRemotingForAnsible.ps1 did that for the self-signed certificate (until we removed the newer cmdlet and only kept the backward compatible implementation).

[2017-02-09 23:19] dagwieers commented on #21184
Someone in the audience asked me, and to me that sounded reasonable since PS5 was supported for all supported platforms. I guess maybe if you don't have Admin rights you're stuck with what you have, but then you'll probably won't be able to use WinRM either.

[2017-02-09 23:19] #21184 closed, assigned to nobody

[2017-02-09 23:55] nitzmahone commented on #20768
The new exec wrapper uses `#Requires -Modules X` for module_utils discovery/packaging (replaces `# POWERSHELL_COMMON`, which is hardcoded to powershell.ps1 for backcompat). Unfortunately, the when stuff gets exec'd in runspaces (which is the way the new stuff currently works), most of the `#Requires` stuff gets ignored. So we'll probably have to write our own check anyway, though I don't see any r

[2017-02-10 00:01] nitzmahone commented on #21160
Feel free to move the issue over if it's something you want tracked: https://github-issue-mover.appspot.com/. Closing this one, since it doesn't contain any direct detail...

[2017-02-10 00:01] #21160 closed, assigned to nobody

[2017-02-10 00:05] nitzmahone commented on #21183
Is your control machine's configured to use a UTF8 locale?

[2017-02-10 00:06] nitzmahone commented on #21186
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-10 00:06] #21186 closed, assigned to nobody

[2017-02-10 00:07] nitzmahone commented on #21198
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-10 00:07] #21198 closed, assigned to nobody

[2017-02-10 00:08] conleym commented on #21160
I'm certainly not trolling through the old repos to move issues over one by one.

[2017-02-10 00:09] nitzmahone commented on #21201
Feel free to move the issue over if you want it to be actively tracked: https://github-issue-mover.appspot.com/. We didn't move them in an automated fashion, as whoever moved the issues would become the owner of all of them.

[2017-02-10 00:09] #21201 closed, assigned to nobody

[2017-02-10 00:14] nitzmahone commented on #21205
We're unlikely to shred the variable precedence scheme- it's evolved over time and works well for the majority of users. There's some related ongoing discussion around unifying config and inventory stuff [here](https://github.com/ansible/proposals/issues/35)- you might want to follow/engage on that proposal. I'm going to close this issue, though.

[2017-02-10 00:14] #21205 closed, assigned to nobody

[2017-02-10 00:20] nitzmahone commented on #21207
Script is technically an action. We use the module docs system to generate docs for both actions and modules, since the usage is exactly the same. Only the doc stub lives in the module tree- see [action implementation here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/script.py)) - the action/module distinction is not usually germane to Ansible users/doc consumers, only

[2017-02-10 00:20] #21207 closed, assigned to nobody

[2017-02-10 00:30] nitzmahone commented on #21160
We couldn't wholesale move issues over, as that makes us the owners of all of them. We figured interested parties (original filers or people interested in tracking them) would move them over if they still cared about them.

[2017-02-10 01:03] conleym commented on #21160
Has anybody considered setting some kind of group up to go through issues in the other repos and either move them over or close them as appropriate?

I could see myself contributing to such an effort.

[2017-02-10 02:26] promethe42 commented on #21208
So the `service` module is expected to work with upstart on Ubuntu.
But in a Docker container, upstart doesn't work.
Shouldn't we have a way to tell the `service` module to use `init.d` instead of upstart?

[2017-02-10 05:09] maximede commented on #20473
fixed with #20475

[2017-02-10 05:09] #20473 closed, assigned to nobody

[2017-02-10 05:24] prasanjit- opened #21233 "'dict object' has no attribute 'stdout'"
Below is the snippet:

  - name: Get master log file from master host one
    shell: mysql -u root -e "show master status;" | grep -v 'File' | awk '{print $1}'
    when: inventory_hostname == 'master_one'
    register: mysql_log_one

  - name: Write to file
    shell:  echo "{{ master_two }} {{ slave_user }} {{ mysql_log_one.stdout }} {{ mysql_logpos_one.stdout }}"  > /tmp/test
    when: inventory

[2017-02-10 06:10] jhawkesworth commented on #17285
@aaronk1 - please use 2.3 current devel - my win_domain callback is the past and shouldn't be used any more.

@AseemKumar Looking back at this thread, I'm almost certain the problem is clock synchronisation, having just hit this myself.  For kerberos tickets to work the ansible controller clock must be synchronised with your domain controllers.  I believe you can use ntpdate to sync against AD con

[2017-02-10 06:12] lexxcbrm commented on #21183
Yes. My control machine configure to use UTF8.
When I use ssh separately it work perfect. I mean I type "ssh Админ@my_ip" in same case.

[2017-02-10 06:23] jhawkesworth commented on #21184
I would love to push things forward and allowing modules to be PS4 / PS5 only would be a big help for that. If you don't use all the extra functionality win_unzip could be very simple if you are only hitting PS4 boxes for example.

[2017-02-10 06:30] jhawkesworth commented on #21183
I doesn't look like you are getting a winrm connection (still trying ssh I think).
do you have windows group_vars set up as described here: http://docs.ansible.com/ansible/intro_windows.html#inventory

Also please try running

ansible 192.168.40.105 -u Админ -m win_ping -vvv

(this should show connection type and give information on how far it is getting)

needs_info

[2017-02-10 06:34] jhawkesworth commented on #19996
Finally got round to grabbing this.
a couple of tiny things about the docs.

might be worth saying 'since 2.3' about the 'auto' product_id functionality
some of the options descriptions end with a . and others don't (really tiny that one).

I will comment again when I have had a chance to run the module.

[2017-02-10 06:39] manjitkumar commented on #18965
I have checked it with my previously failing task. It works fine with `devel` branch. Thanks @bcoca

[2017-02-10 07:27] Ycallaer commented on #17969
+1

[2017-02-10 07:29] lexxcbrm commented on #21183
I got this stage already. If I try to do something with account created with english letters, then I works fine (e.g.  "ansible 192.168.40.105 -u admin -m win_ping -vvv"). But it fails if account name contains russian symbols.

[2017-02-10 08:05] aerickson commented on #10834
I'm experiencing this also. I'd love to see a fix.

Here's a test-kitchen image running devel that reproduces the problem. The kitchen.yml can be modified to pull Ansible from any git URL.

https://github.com/aerickson/ansible_copy_bug

[2017-02-10 08:19] jhawkesworth commented on #21183
Please can you run with -vvvvv and copy the output here as this will help work out where the problem is.

Many thanks,

needs_info

[2017-02-10 08:36] lexxcbrm commented on #21183
root@ansible:~# ansible 192.168.40.105 -u test_admin -m win_ping
192.168.40.105 | SUCCESS => {
    "changed": false,
    "ping": "pong"
}
![users](https://cloud.githubusercontent.com/assets/19706817/22819832/00d065b2-ef85-11e6-8ae2-6a03460f3a5e.JPG)
![users](https://cloud.githubusercontent.com/assets/19706817/22819848/15a478e8-ef85-11e6-8354-148cebed1c47.JPG)
root@ansible:~# ansible 192.168.40.105

[2017-02-10 08:39] lexxcbrm commented on #21183
Sorry. I have posted same image double time.

[2017-02-10 09:00] mikaoelitiana opened #21235 "Support mattermost notification"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module: mattermost (like slack)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I would love to have a module to notify our mattermost installation (like http://docs.ansible.com/ansible/slack_module.html)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-10 09:13] rcarrillocruz commented on #21235
Can you please let us know if you have used any python library to interface with Mattermost?

By googling, I found https://github.com/grilo/python-mattermost but last commit was a year ago, would be good to know if that still works.

[2017-02-10 09:16] mikaoelitiana commented on #21235
I have not tried yet. I was thinking of copying the slack module and change
it a bit to make it work with mattermost as they are really close. Just
minor changes are needed I think

Le ven. 10 févr. 2017 12:14, Ricardo Carrillo Cruz <notifications@github.com>
a écrit :

--

Mika Andrianarijaona
+261340722394
http://mikaoelitiana.name

[2017-02-10 09:25] rcarrillocruz commented on #21233
I need more context to see the issue.
Please put this in your play, before the 'Configure master one' task:

- debug: var=mysql_log_two
- debug: var=inventory_hostname

Re-run the play and paste the output, showing the two debugs and the 'Configure master one' outputs.

Thanks

[2017-02-10 09:36] jhart1685 commented on #18965
Hi @bcoca , I've retested (against `devel`) using the original recreate playbook (and service), and can confirm it works fine. Thanks!

[2017-02-10 10:03] dagwieers commented on #19996
When I used this playbook:
[code]

I get this error:
[code]

[2017-02-10 10:09] jmnavarrol commented on #18223
+1
I'm also bitten by the vault problem.

In fact, I question the very decision of limiting what file extension can a yaml file have.  What's this? Microsoft Windows!?  If really needed, a YAML file gets defined by its contents, not whatever "extension" (which, by the way, it's also just a Microsoft-ish concept) the file name happens to have.  The question, while maybe harsh I think is perfectly r

[2017-02-10 10:24] prasanjit- commented on #21233
Thanks for your response.
The issue is understood now. When 'register' is used, the scope of the variable is respective of the inventory host, on which the task was run.

name: Get master log file from master host one
shell: mysql -u root -e "show master status;" | grep -v 'File' | awk '{print $1}'
when: inventory_hostname == 'master_one'
register: mysql_log_one

That is, the scope of mysql_log_on

[2017-02-10 10:25] pipern commented on #20980
I haven't put together a minimal example yet, but we experience this same problem. I've bisected to the tag which broke it, and now I'm going to continue to try find the commit.

v2.1.1.0-1 works
v2.1.4.0-1 works
v2.2.0.0-1 works
v2.2.1.0-0.1.rc1 works
v2.2.1.0-0.2.rc2 works
v2.2.1.0-0.3.rc3 fails
v2.2.1.0-1 fails

[2017-02-10 10:34] dagwieers commented on #19996
I needed win_package for the Red Hat OpenJDK MSI file and I tried win_package (after fixing a few issues, see up). However the playbook tells me:
[code]

So I went back to the implementation from http://www.scconfigmgr.com/2014/08/22/how-to-get-msi-file-information-with-powershell/

And that one worked fine:
[code]

[2017-02-10 10:49] dagwieers commented on #19996
Alright, after adding the productid, the error was:
[code]
So it seems the code doesn't properly fail when the file is not found and productid = auto ?

[2017-02-10 10:51] dagwieers commented on #19996
Not sure why win_package cannot work with network paths, but I think that should work for all modules (if it doesn't out-of-the-box). Most people will expect this to work.

[2017-02-10 10:58] pipern commented on #20980
It's not an executable example yet, but here's roughly what we're doing:

Using `--limit server-001`
with playbook

[code]

and role `tasks/main.yml`

[code]

Working case
[code]

In the failing case:
[code]

[2017-02-10 11:02] dagwieers commented on #20123
Hmm, ok. I meant using "HKCU" as the location to use by the user, what we use underneath is up to us, and indeed I wouldn't be swapping HKCU for someone else's registry. I'd rewrite the location if `user:` is specified.

[2017-02-10 11:36] diego-treitos commented on #15915
Also having this problem on `ansible 2.2.1.0`.

[code]

`roles/mysl/handlers/main.yml`:
[code]

`roles/mysql/tasks/main.yml`:
[code]

[2017-02-10 11:53] craigfrancis opened #21239 "More details on Variable Precedence documentation"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
variable precedence

##### ANSIBLE VERSION
N/A

##### SUMMARY
The Variable Precedence list could do with some comments, to explain what the different variables are.

The comments could include links to find out more information.

http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

##

[2017-02-10 12:31] jrakotomalala commented on #15367
Perhaps it's not the same bug, but the warning  [WARNING]: Failure using method (v2_runner_item_on_failed) in callback plugin (<ansible.plugins.callback.default.CallbackModule object at 0x1fb4c90>): 'ascii' codec can't decode byte 0xc5 in position 227: ordinal not in range(128) is reported when used the template module inside a with_items loop.
And the effective error is masked

My playbook :

---

[2017-02-10 13:19] aabdnn opened #21244 "Ansible uses "command" module instead of "shell""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS X 10.12.3

##### SUMMARY
A task in a playbook is defined to use the "shell" module, but ansible runs this task with the "command" module instead.

##### STEPS TO REPRODUCE
Run this task using ansible-playbook on some host:

[code]

##### EXPE

[2017-02-10 13:20] Mr-Pi opened #21245 "openvswitch_bridge (vlan) - ansible >=2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - openvswitch_bridge

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Occurs on any tested linux distribution (ubuntu server 12.04, 14.04, 16.10 and debian 6, 8).

##### SUMMARY
openvswitch_bridge failed to create vlan bridge on top of normal bridge.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

a norma

[2017-02-10 13:56] bcoca commented on #18965
closing as per above, it will be released with 2.3 ... I'm going to try to look into backporting to 2.2 but it is a very big change.

[2017-02-10 13:56] #18965 closed, assigned to nobody

[2017-02-10 14:01] jctanner commented on #21244
The shell and command modules are the same module. The only difference is that final call to subprocess.Popen includes "shell=True" as an argument.

https://docs.python.org/2/library/subprocess.html#popen-constructor

So the issue is not with the module, but with the commands. Try removing the double pipe + true to validate the initial command works under subproce.Popen and then go from there.

ne

[2017-02-10 14:03] jctanner commented on #21239
needs_contributor

[2017-02-10 14:13] jctanner commented on #21233
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-02-10 14:13] #21233 closed, assigned to nobody

[2017-02-10 14:21] aabdnn commented on #21244
Hi @jctanner. On the target server, the command works as I expect:

[code]

So the pkill is failing with exit code 1. You can see that in the first output. So then I add "|| true", and as expected, the exit code is 0.

If I do this with ansible, then this is what I see:

[code]

Notice that the return code is 1 (and that's why the task fails). Finally, if I add "|| true" to the task, then I get a

[2017-02-10 14:24] bcoca commented on #21244
@aabdnn the task should succeed, but it is not due to using the wrong module.

As a workaround I suggest using `failed_when: False`

[2017-02-10 14:27] aabdnn commented on #21244
@bcoca thanks. I actually applied a work-around by adding "ignore_errors: true" to the task, but there does seem to be a bug in the command module.

[2017-02-10 14:27] waltherg commented on #19271
Any updates on this? We're getting the same error on the current devel branch of Ansible.

[2017-02-10 14:42] soulcreate commented on #18132
any news?

[2017-02-10 15:28] trondhindenes opened #21248 "The ConfigureRemotingForAnsible.ps1 script is currently broken"
I just noticed this:
[code]
Some of the recent changes to this script must have done something to how the script generates certs.

The error happens (at least) on a vanilla 2012R2 box with PSv4.0.

If I rewind the repo to e64ef8b0ab2f062332e5b8b2f29cce27628ff851 everything works, so the bug must be in a commit later than that.

The pic shows 3 certs. The upper one is generated by the previous vers

[2017-02-10 16:15] jctanner commented on #11535
I don't know the exact output of the onevm commands, but this pattern is covered in the current docs:

http://docs.ansible.com/ansible/playbooks_loops.html#iterating-over-the-results-of-a-program-execution

I ran a quick testcase to validate:

[code]

Results ...

[code]

[2017-02-10 16:15] #11535 closed, assigned to nobody

[2017-02-10 16:16] #20568 closed, assigned to jimi-c

[2017-02-10 16:17] jimi-c commented on #20568
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-02-10 16:33] RahulMahale opened #21252 "ec2_elb_facts not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

```ubuntu 15.10```

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
DNS of ELB and complete information

##### ACTUAL RESULTS

[code]

[2017-02-10 16:50] jctanner commented on #21248
ping @dagwieers @jborean93

[2017-02-10 17:06] ryansb commented on #21252
It seems you are passing a DNS name for the load balancer, not the name of the load balancer. From the docs:

http://docs.ansible.com/ansible/ec2_elb_facts_module.html

[2017-02-10 17:06] #21252 closed, assigned to nobody

[2017-02-10 17:08] mjschultz commented on #21252
The error message looks like it's saying you need to indent the `register` line to the same level as the `region` line, otherwise ansible will parse it incorrectly as a task.

[2017-02-10 17:29] #20246 closed, assigned to nobody

[2017-02-10 17:34] jhawkesworth commented on #21248
I wonder if this is possibly related (picking up the wrong cert when there is already another cert in My)
https://github.com/ansible/ansible/issues/21155 ?

[2017-02-10 17:35] jhawkesworth commented on #21155
possibly other problems too https://github.com/ansible/ansible/issues/21248

[2017-02-10 17:36] jctanner commented on #11569
cc @willthames

[2017-02-10 17:43] geoffreywiseman opened #21259 "Improve command warnings for commands that aren't truly supported by other modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Command Module

##### ANSIBLE VERSION
ansible 2.2.1.0
  config file =
  configured module search path = Default w/o overrides

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The command module warns you to use the service module for commands that the service module can't handle.

For instance, if you want to run a `service ipta

[2017-02-10 17:46] jimi-c commented on #20560
This should be a dupe of #20568, which was fixed. If not, please let us know.

Thanks!

[2017-02-10 17:49] jctanner commented on #11059
The module lives here now https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/utilities/logic/set_fact.py

[2017-02-10 17:49] #11059 closed, assigned to nobody

[2017-02-10 17:54] jctanner commented on #11632
@athoune feedback was requested by @erjohnso, please provide a response.

needs_info

[2017-02-10 18:09] gen2saurus opened #21261 "'gather_timeout' in configuration file is ignored in playbook/ansible"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

gathering/setup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[default]
...
gathering = smart
gather_subset = !hardware
gather_timeout = 133
timeout = 111
...
##### OS / ENVIRONMENT

Ansible:
Linux 4.8.17-gentoo #1 SMP Wed Jan 11 15:29:00 GMT 2017 x86_64 Pentium(R) Dual-Core CPU E5300 @ 2.60GHz GenuineIntel GNU/Linux

Targets:
Linux 4.4.3

[2017-02-10 19:44] k-y opened #21266 "Support for message threading"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

slack
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When spamming notifications to Slack channels, it would be nice if we could take advantage of message threading (thread_ts).
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-10 19:45] impala454 opened #21267 "win_user: Changing ansible management account's password works but errors out"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

hosts
[code]

##### OS / ENVIRONMENT
Ansible:  Ubuntu 16.04
Managed:  Windows 8.1 x64

##### SUMMARY
When changing the account password used to administer the remote machine, the ansible command errors out but still works.

##### STEPS TO REPRODUCE
1. Set up ansible to adminis

[2017-02-10 19:58] mattclay commented on #19798
This issue appears to have resolved itself some time ago.

[2017-02-10 19:58] #19798 closed, assigned to mattclay

[2017-02-10 20:22] #10631 closed, assigned to nobody

[2017-02-10 20:30] dgoodwin opened #21269 "Undefined 'ansible_host' in local_action hostvars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Seen on Fedora 25 and RHEL 7.

##### SUMMARY

There appears to be a problem where the ansible_host inventory variable appears unset if used within a local_action.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

We expected Task 4 to output the a

[2017-02-10 20:45] jhawkesworth commented on #21267
hmm, so you are changing the password of the same user you are connecting as.

As soon as your password has changed, your existing authorisation will be invalidated,

Until windows gets support for 'become' not sure what you could do about this one other than add a second user, set new password and switch connecting to the second user before changing original user's password.

[2017-02-10 20:51] jannooo opened #21271 "commit 4cbe6102637eba5b70b70be582ef4bdaaaa910d5 breaks Ansible"
[code]

[2017-02-10 20:53] vmichnowicz commented on #20653
I had the same issue with Ansible 2.2.1.0. Uninstalling Ansible and reinstalling a previous versions seems to have fixed this issue.

[code]

My Ansible git deploy looks something like this:

[code]

[2017-02-10 21:17] nitzmahone commented on #21267
Yeah, unless you're using Kerberos, you can't safely change your own password via WinRM. I've had this discussion several times over the years, but can't seem to find the relevant issues/mailing list posts to link to.

Because WinRM re-auths on every request (and each Ansible task is many WinRM requests), the WinRM request to get the result data after the module has exec'd will fail, because the p

[2017-02-10 21:17] #21267 closed, assigned to nitzmahone

[2017-02-10 22:39] impala454 commented on #21267
I searched around and couldn't find anything either, hence the ticket.

The win_user mod is getting the new password in the arguments would it not be fairly simple to have the response check use that new password?  Seems like using tower to change the ansibleadmin's password would be a relatively common thing.

[2017-02-10 22:40] thaumos commented on #21271
@elsobrino,

I have that commit and Ansible works fine for me.

[code]

[2017-02-10 22:44] nitzmahone commented on #21267
No, the problem lies several layers lower at the WinRM/HTTP transport level- changing your own password this way effectively makes the server "rip the rug out" from under the client WinRM connection. They're two very distinct layers that purposely have a couple levels of isolation between them, so there's no sane way to have the connection change its password "mid-task" to support this.

[2017-02-10 22:48] nitzmahone commented on #21267
It can absolutely be done, but the most robust method would require a custom action plugin (code running on the control-side) to manage the underlying connection failure that's almost guaranteed to occur. I'm not opposed to building such a thing, but it'd still be somewhat janky to use (you'd have to diddle the password as a fact in the playbook either before or after to mask the one set by invent

[2017-02-10 23:12] #21026 closed, assigned to nobody

[2017-02-11 02:37] albertor24 opened #21279 "include_role on a loop running unexpected number of times"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

/etc/ansible/hosts
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04
##### SUMMARY
Using include_role in a loop seems to be executed twice: once with hosts, and another with  the specified items.

##### STEPS TO REPRODUCE

`ansible-playbook testPlaybook.yml`
[code]

/usr/share/an

[2017-02-11 03:20] vmindru commented on #19587
i want to take care of this one

[2017-02-11 06:31] ksrajith opened #21280 "unarchive does not work for .zip file on ansible 2.2.1 on windows Environment"
**Issue Type:**

Bug Report

**Ansible Version:**
$ ansible --version
ansible 2.2.1.0 (stable-2.2 39acdde5aa) last updated 2017/02/08 16:41:08 (GMT +650)
  lib/ansible/modules/core: (detached HEAD 59c9a6d3c2) last updated 2017/02/08 16:42:29 (GMT +650)
  lib/ansible/modules/extras:  not found - use git submodule update --init lib/ansible/modules/extras
  config file =
  configured module search pa

[2017-02-11 06:55] rdonkin commented on #21139
Any comment on release when this will be fixed?  It's a very clear regression with a simple test case.

[2017-02-11 11:29] jhawkesworth commented on #21155
@bedcruncher - just in case you aren't seeing notifications on other github issues - there is a fix for this on https://github.com/ansible/ansible/issues/21263 - please can you have a look and try it out so we can confirm this fixes things for you?

[2017-02-11 11:36] mightydok opened #21283 "Docs: Add version selector for ansible core and module documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Ansible core and all modules

##### ANSIBLE VERSION
all

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Documentation at http://docs.ansible.com/ dont allow to choose version, but sphinx and RTD have that options: http://joxi.ru/RmzQPL3teMvKrO

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-02-11 11:36] jhawkesworth commented on #21280
Sorry, cygwin is not supported - as stated here: http://docs.ansible.com/ansible/intro_windows.html#reminder-you-must-have-a-linux-control-machine

If you are targetting windows, set up the windows support as per http://docs.ansible.com/ansible/intro_windows.html and use win_unzip module for zip files.

[2017-02-11 11:36] #21280 closed, assigned to nobody

[2017-02-11 12:55] gtirloni opened #21285 "include_role error with with_items (2.3.0 devel)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
ansible 2.3.0 (devel 59306e2aef) last updated 2017/02/11 12:44:45 (GMT +000)

##### OS / ENVIRONMENT
N/A

##### SUMMARY
include_role fails to execute when used with_items (similar to issue #17966)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
include_role loops over list and updates item variable

[2017-02-11 15:14] Koaxiel commented on #21026
Sorry, I just have time to test and it doesn't work because the rc of `systemctl show 'unit'` is 0 in chroot env with this output `Running in chroot, ignoring request.`

[2017-02-11 17:12] trondhindenes opened #21289 "win_nssm is not idempodent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Target node: Windows Server 2016, control node Bash on Windows 10

##### SUMMARY
The win_nssm module takes a list of parameters in its `app_parameters` option. It seems that these are expected to be key-value options, tho in real life cmds often accept an arbitr

[2017-02-11 19:39] ITPro360 commented on #16063
Same issue, this resolved it on my end too.

Thanks!

[2017-02-11 20:08] krishnachaitanya511 opened #21295 "Failing to execute the Basic Ansible Playbook"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Ansible Playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I tried writing a new playbook which never gets executed by the Ansible. I am new to this ansible. Here is the below lines I tried to write in Ansible-Playbook. In fact, I copied some lines from Ansible Documentation and tried

[2017-02-11 20:39] gaddman opened #21296 "UFW changed check uses incorrect path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION
[code]

##### SUMMARY
UFW uses the incorrect path to detect changes to the rules.

ufw.py looks in /lib/ufw/user*.rules to detect changes, but this path has changed to /etc/ufw/user*.rules since ufw version 0.35. Fortunately the 'status verbose' command shows the rules so change detection still functions OK (AFAICT)

[2017-02-11 20:43] elsobrino commented on #21271
@thaumos,

yeah, issue seems to be fixed now.

[code]

[2017-02-11 20:48] gaddman opened #21297 "Add support for comments in UFW"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION
[code]

##### SUMMARY
UFW supports comments since version 0.35. Would be great to support this in the ufw module.

Note: This is a resubmission of ansible/ansible-modules-extras#2065 since issues have been moved to the new repo.

[2017-02-11 21:54] mpatenaude opened #21298 "Module with async not properly handling changed_when conditional?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

async module

##### ANSIBLE VERSION

[code]

##### SUMMARY

Trying to set the "changed" state of the "async" task is unsuccessful using the `changed_when` conditional described below.

##### STEPS TO REPRODUCE

The first tasks runs a command in async mode and register the results to `reposync_task`.  Using the `changed_when` conditional, we sho

[2017-02-11 22:19] sbwoodside commented on #15735
Why is this closed? Bug still exists in 2.2.1.0.

[2017-02-11 22:56] lorin opened #21299 "Add "idempotence check" section to module docs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Documentation generated by modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add a section to module documentation that describes how the idempotence check is implemented.

##### STEPS TO REPRODUCE

For many modules, the logic used to implement the idempotence check isn't obvious. For exa

[2017-02-12 00:48] chrowe commented on #14237
Looks like https://github.com/ansible/ansible/issues/21269 was filed for the above issue.

[2017-02-12 02:51] privateip commented on #20391
closing this issue as it is no longer relative (ie the warning no longer exists)

[2017-02-12 02:51] #20391 closed, assigned to privateip, Qalthos, gundalow

[2017-02-12 03:27] vhosakot opened #21304 "Docker CLI's --format template does not work with shell, raw and command modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- shell
- raw
- jinja2 templates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No custom configuration.  Using all the defaults in `/etc/ansible/ansible.cfg`.

##### OS / ENVIRONMENT

CentOS 7.3

##### SUMMARY

Docker CLIs have the `--format` template to filter specific columns in the CLI output.  It is similar to `awk` used to filter col

[2017-02-12 03:52] jctanner commented on #21074
@dav1x is this fixed by https://github.com/ansible/ansible/pull/21076 ?

[2017-02-12 03:55] jctanner commented on #21112
needs_contributor

[2017-02-12 03:57] jctanner commented on #21013
needs_info ^

[2017-02-12 06:18] SydOps commented on #15019
Got the same error when use `ec2_tag` module in ansible.

[code]
playbook:

[code]
But work with local_action

[code]

[2017-02-12 09:52] caveman-dick commented on #21289
I've currently got some changes in progress fixing some of the issues with this module. This isn't one of them but I've so far added Pester unit-tests so will be able to add support for this fairly easily.

Currently there is a workaround for this kind of problem though, which is to use just one key-pair which is what I'm having to use for a java based service, so this should work for you:

[code]

[2017-02-12 09:55] caveman-dick commented on #21289
Ok just noticed your PR, that will work too! :)

[2017-02-12 11:26] jhawkesworth commented on #19996
@dagwieers Network paths can be problematic because they qualify as a 'second hop' for authentication, which is usually not allowed. You can get round it using kerberos auth with auth delegation turned on of course.

[2017-02-12 13:41] gzm55 opened #21311 "Incorrect python interpreter on local connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When a normal python-module task (e.g., `command`, `setup`, `shell`, `expect` and etc.) is called and delegated to another host, the module should be interpreted by the `{{ansible_python_interpreter}}` of the host which is delegated to, not by

[2017-02-12 13:53] apprme opened #21312 "filesystem@devel: The file [/dev/xvdf] does not exist and no size was specified."
That is most likely related to #20551

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
filesystem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT

##### SUMMARY
filesystem module fails on CoreOS with:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Filesystem is created on a given block device.

##### ACTUAL RESULTS
Error is thrown.

[code

[2017-02-12 14:47] raushan-0822 commented on #6851
Run this command. It will start working
sudo ln -sf /usr/local/bin/ansible /usr/bin/ansible

[2017-02-12 15:03] sivel commented on #21311
`connection: local` does not perform delegation, you are strictly overriding the connection for the remote host.

To delegate to localhost and use the interpreter for localhost you should use `delegate_to: localhost`

[2017-02-12 15:03] jan-xyz commented on #20683
Thank you for clarifying this :) I misunderstood the usage of `--check`.

[2017-02-12 15:03] #20683 closed, assigned to nobody

[2017-02-12 15:46] gzm55 commented on #21311
@sivel
Hi,  after testing with 'delegate_to: localhost', almost everything works, except that:

if `localhost` is not present in the inventory file, the shell will be run by the same python executable as ansible, but if present, the default '/usr/bin/python' will be used because hostvars['localhost']['ansible_python_interpreter'] is not defined.

Here, I think we should always try the same python

[2017-02-12 16:15] dagwieers commented on #19996
@jhawkesworth A lot of things can fail because the user is not entitled (file access, running things, ...) so making this work for people that *do* have the right credentials ought to work IMO.

[2017-02-12 17:24] sivel commented on #21311
When supplying `localhost` explicitly in your inventory, it is assumed that you are doing so with the understanding that you are overriding the implicit localhost.  By default all hosts listed in inventory, that do not supply `ansible_python_interpreter` use a default value of `/usr/bin/python`.

In some regards this information is being documented in https://github.com/ansible/ansible/pull/20534

[2017-02-12 17:24] #21311 closed, assigned to nobody

[2017-02-12 20:26] mpatenaude commented on #21298
I wrote a quicker / easier to reproduce example:

[code]

Executing with `-vvv` produce the results described earlier: the first task does not get its `changed` flag set to `true`, even if `Downloading` exists in the `stdout`:

[code]

If I run the same first task, without checking if `async_status.stdout` is defined in the `changed_when` conditional, ex:

[code]

It results in an undefined var er

[2017-02-12 20:52] nedbat opened #21316 "Git: depth=1 prevents checking out a tag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Observed on Mac OS/X and Ubuntu 16.04

##### SUMMARY

If you use `depth: 1` on a git clone, then you will not be able to use `version: any_tag` successfully.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get two clones of my git repo, `s

[2017-02-12 21:15] jhawkesworth commented on #19996
Sorry, I misunderstood before. Yes, it should work assuming all the conditions that Microsoft have imposed have been met.

[2017-02-12 21:35] agamdua commented on #11601
Would love to reopen this since https://github.com/ansible/ansible-modules-core/issues/1741 has been closed after the "repomerge"

[2017-02-12 22:14] Mr-Pi commented on #21245
Hey, what's the status guys?

[2017-02-12 23:07] sunshine69 commented on #20491
+1 affected by this bug

[2017-02-13 00:50] dagwieers commented on #19996
If the share is open to anyone (as read-only), should it work ? Because that is the case here.

[2017-02-13 02:17] willthames commented on #19895
needs_implementer

[2017-02-13 02:19] willthames commented on #19895
With `ec2_vpc` being deprecated with Ansible 2.3, and `ec2_vpc_net` and `ec2_vpc_subnet` already implementing this functionality, hopefully in a bug-free way, there is a suitable workaround

If someone does wish to spend time tracking down and fixing this bug, I'll take a look at the fix.

[2017-02-13 03:52] stacker2017 opened #21322 "Ansible syslog_json callback plugin not working in ansible 2.2.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
syslog_json callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Mention any settings you have changed/added/removed in ansible.cfg
(or using the ANSIBLE_* environment variables).
[defaults]
inventory = ./hosts
log_path = /dev/null
remote_user = ansible
host_key_checking = False
retry_files_enabled = False
callback_whitelist = s

[2017-02-13 04:13] ksrajith commented on #21280
Hi,
I have run below commands on cygwin and now the same script works for my windows setup.
Please let me is this ok to continue.

cd C:\cygwin64
wget rawgit.com/transcode-open/apt-cyg/master/apt-cyg
install apt-cyg /bin
apt-cyg install unzip

[2017-02-13 06:00] jhawkesworth commented on #19996
I think it depends on what is implementing the share on the other end.  I have definitely had this working with auth delegation when the remote share was running on a S2008R2 server.

S2012 implements a more recent version of CIFS/SMB protocol and I've had trouble in the past with shares running on non-microsoft servers which we had to tweak a registry setting to get round:
http://www.thomasmaurer

[2017-02-13 06:57] vladpanainte commented on #21073
Hello @supertom ,
After further investigation it looks like we need to prefix the project id with organization. Can you please advise which are the syntax for gce project id with and without org prefix?

Thank you!

[2017-02-13 08:15] jhawkesworth commented on #14387
Since this is more of a 'how to' question than an actual bug in Ansible, and @deepalikinikar has not responded for over 1 month I am going to close this issue.

[2017-02-13 08:15] #14387 closed, assigned to nitzmahone, jhawkesworth

[2017-02-13 09:07] bjolivot commented on #21235
https://github.com/ansible/ansible/pull/21247

[2017-02-13 09:09] mikaoelitiana commented on #21235
@bjolivot that's great, thanks!!

[2017-02-13 09:15] gideon-maina opened #21325 "The `with_file` iterator explanation should be clear in the documentation."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Docs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I think the `with_file` explanation in the loops documentation page should add that, `with_files` only reads files from  the host ansible script is being initiated from not the remote host. This will make it clearer. What is there now

[2017-02-13 09:16] #21155 closed, assigned to nitzmahone

[2017-02-13 09:38] bjolivot commented on #21235
Could you comment on pull request to speed up ansible integration ?

Thank you !

2017-02-13 10:10 GMT+01:00 Mika Andrianarijaona <notifications@github.com>:

[2017-02-13 09:48] dagwieers commented on #19996
I am using this only on Windows 10. The public share is a Synology NAS with DSM 6.0 (so Samba 4.1).
Anyone on the network has read-access to these shares from Explorer.

[2017-02-13 11:14] dagwieers commented on #21299
Ideally the idempotency check must only be enabled if integration tests exist to check idempotency.

[2017-02-13 11:18] dagwieers commented on #21295
It seems the task was wrongly-indented.
Are you sure this task is part of the `tasks:` list ?
http://docs.ansible.com/ansible/playbooks_intro.html#tasks-list

[2017-02-13 11:36] dagwieers commented on #21244
aabdnn: Does the default shell actually work ? Through sudo. Otherwise you have to tell the shell-action to use a different executable using `executable: /bin/bash`. Or try using the `raw` module (hoping it may trigger something useful).

The return code -1 is very peculiar as this is not a shell return code. So somehow I assume that Ansible/SSH is unable to do something basic to your server someh

[2017-02-13 11:46] willthames commented on #11569
@jctanner thanks for cc'ing me on this.

My view is that this is easy to do in boto3 (because the result of `describe_db_instances` contains the ARN that is needed to use with `list_tags_for_resource` - while there are workarounds, I can't be bothered with them), and hard to do with `boto.rds` or `boto.rds2`.

So, there are a few options:
* Do nothing, don't let people group rds instances by tag (

[2017-02-13 12:10] helldorado commented on #21056
resolved_by_pr #21225

[2017-02-13 12:50] boxrick opened #21328 "include_role module - Dynamic includes inside roles"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role module - Dynamic includes inside roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
MacOSX 10.xx

##### SUMMARY
When using include_role module and dynamic includes inside the role, rather than using the correct path within the role, it uses the path where the playbook lives. As a result

[2017-02-13 14:04] andelf commented on #13904
@smcracraft
no, run celeryd as root solves, but it's better to add missing environment variables for running under normal user(awx)。

[2017-02-13 14:17] sujan46 opened #21334 "ec2.ini file causes ec2.py to fail because it doesn't recognize ap-south-1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
contrib/inventory/ec2.py

##### ANSIBLE VERSION
ansible 2.0.0.2

##### CONFIGURATION
$ export AWS_ACCESS_KEY_ID='YOUR_AWS_API_KEY'
$ export AWS_SECRET_ACCESS_KEY='YOUR_AWS_API_SECRET_KEY'
$ export ANSIBLE_HOSTS=/etc/ansible/ec2.py
$ export EC2_INI_PATH=/etc/ansible/ec2.ini

##### OS / ENVIRONMENT

xubuntu 16.04 LTS

##### SUMMARY
 When running

[2017-02-13 14:20] dagwieers opened #21335 "Current expect module is limited in use"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

expect

##### ANSIBLE VERSION

v2.3

##### SUMMARY

I need something similar to the expect module, but the use-case doesn't seem to be supported.

I need to log on to an out-of-band management controller to follow up on the hardware provisioning progress. And put Ansible back in control as soon as we have determined that the system PXE boote

[2017-02-13 14:32] dizlv commented on #6989
Any updates on what @LennyLip wrote above?

[2017-02-13 15:13] dagwieers commented on #21335
My solution to this was doing something like:
[code]

[2017-02-13 15:47] jctanner commented on #18453
@BondAnthony i'm not sure. It might be something to discuss at the next core team meeting.

[2017-02-13 15:56] mavit opened #21339 ""~" doesn't get expanded in file modules on Solaris"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- `copy`
- `template`
- Probably others too.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Setting `executable = /bin/bash` or `executable = /bin/ksh` causes this error to go away.

##### OS / ENVIRONMENT
Affected remote systems run Solaris 10 and earlier.  Solaris 11 is not affected.

##### SUMMARY
The copy and template modules don't work

[2017-02-13 16:03] alikins commented on #13862
This seems to be fixed in current versions since devel commit:
[code]

The fix first appears in v2.0.2.0-1:

[code]

The other stable branches have the fix as well (stable-2.0, stable-2.1, stable-2.2) and devel.

[code]

[2017-02-13 16:03] #13862 closed, assigned to nobody

[2017-02-13 16:06] #18915 closed, assigned to emonty, rcarrillocruz

[2017-02-13 16:09] erjohnso commented on #11632
/cc @supertom for adding this FR in a future update

[2017-02-13 16:19] jimi-c commented on #20400
This is a dupe of #20568, and was fixed when that issue was resolved.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about w

[2017-02-13 16:19] #20400 closed, assigned to jimi-c

[2017-02-13 16:19] bcoca commented on #21269
`ansible_host` is set after an attempted connection, which you don't.

Also debug in any case ignores connections as it runs 'in memory' on the controller at all times, using local_action is irrelevant for this type of module.

Can you show any other case in which this is an issue that does not match the above?

[2017-02-13 16:24] alikins commented on #20128
does https://github.com/ansible/ansible-modules-core/pull/5719  fix part of this?

[2017-02-13 16:25] mattymo opened #21340 "delegate_to has poor performance in 2.2.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

stat

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Deployment OS: Fedora 24
Target OS: CentOS Stable 1235

##### SUMMARY

Running stat module with `with_items` takes ~3 times as long on Ansible 2.2.1 as it did on 2.2.0.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

On Ansible 2.2.0, thi

[2017-02-13 16:27] vhosakot commented on #21304
Even the `command` module does not work.

[2017-02-13 16:37] wawrzek opened #21342 "File module: state=touch on a file returns changed even if nothing is change"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

standard module: file
##### ANSIBLE VERSION

[code]

##### SUMMARY

For  file 'state=touch' in module file Ansible returns state changed if file exist, even if nothing has been changed.

##### STEPS TO REPRODUCE

Apply following on any {{ sudo_path }}

[code]
If the file doesn't exists it's going to be created. During following runs nothing is

[2017-02-13 16:40] abadger commented on #21151
For file contents I usually uise the UNIX file utility:
[code]

Depending on the implementation of file, it might cheat and only read an initial chunk of data and then report a guess about the output based on that.

[2017-02-13 16:46] tedder commented on #18453
Please note pycrypto is waaay out of date, nearing 3 years since last release at this point. pycryptodome would be a better requirement; it's a drop-in, and its latest release was 6 days ago- it is actively developed.

[2017-02-13 17:00] dgoodwin commented on #21269
The bug surfaced when trying to wait for a host to reboot with a task like this:

[code]

This appeared to be best option in environments where inventory_hostname is not necessarily reachable (which ours is), as described in workaround for #16139. debug was just our attempt to replicate as simply as possible.

[2017-02-13 17:16] jeremyollis commented on #21090
Testing with a simplified, local invocation of the 'unarchive' module (Ansible 2.2.1.0) with a ZIP archive containing only an empty directory, as follows:

[code]

The first run succeeds in unarchiving the ZIP archive.  On a subsequent run of the playbook, the following error occurs:

[code]

Testing the same playbook with a '.tar.gz' arrchive succeeds (unchanged and no error) on a subsequent run

[2017-02-13 17:18] alanjds commented on #20653
Same issue here, even on standard 22 port. Standard bitbucket private project, like this: `git: repo=git@bitbucket.org:myprivateteam/myprivaterepo.git dest=/opt/projects/private accept_hostkey=yes`

[2017-02-13 17:23] #21271 closed, assigned to nobody

[2017-02-13 17:29] bcoca commented on #15792
closing as dupe of #13858

[2017-02-13 17:29] #15792 closed, assigned to nobody

[2017-02-13 17:29] bcoca commented on #21283
closing as dupe of #13858

[2017-02-13 17:29] #21283 closed, assigned to nobody

[2017-02-13 17:34] bcoca commented on #21295
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-13 17:34] #21295 closed, assigned to nobody

[2017-02-13 17:41] TheSameCH commented on #20653
@alanjds You are using git protocol and not SSH, so this can not be the same issue. Just try to replace the `:` with a `/`: `git@bitbucket.org/myprivateteam/myprivaterepo.git`

[2017-02-13 17:47] bcoca commented on #21325
It is not only with_file, all lookups run on the host, this is documented already.

Here is the fact that `with_` X is actually a lookup:
http://docs.ansible.com/ansible/playbooks_loops.html#standard-loops

And here you have the docs on lookups always executing on the controller:
http://docs.ansible.com/ansible/playbooks_lookups.html

[2017-02-13 17:47] #21325 closed, assigned to nobody

[2017-02-13 17:48] cavassin commented on #19218
Same problem with win_acl. Solved with:
_ansible_winrm_kerberos_delegation: yes_

Thanks to @jswetzen   previous comments.

[2017-02-13 17:50] #17311 closed, assigned to nobody

[2017-02-13 18:00] watsonb commented on #21013
I work with @Dinohead and have confirmed this behavior.  We do run a playbook with state: absent prior to running the playbook that clones the template via the vmware_guest module.  At the end of the module invocation, we do a "register: newBaseVM_cloned" and then immediately do a

- debug:
  msg: "cloned = {{ newBaseVM_cloned.changed }}"

The output of the above (for all hosts) is:

TASK [debug]

[2017-02-13 18:20] mightydok commented on #13858
@bcoca do you need some help with this issuse?

[2017-02-13 18:21] gen2saurus commented on #17316
@bcoca `- setup` is called in playbook implicitly:

[code]
but neither `gather_subset` nor `gather_timeout` is read from the configuration file! (see #21261 for details).
What we do wrong?

[2017-02-13 18:26] bcoca commented on #21269
well, this wouldn't work for the same reason, `ansible_host` would correspond to localhost as you 'delegate to' it, use `connection: local` instead,  but that will only preserve the connection info from the original host, if the variable was not set for it, it still won't appear.

[2017-02-13 18:36] Hubbitus opened #21348 "Modules docker_login and docker_service has conflict python dependencies"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_login, docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I think irrelevant

##### OS / ENVIRONMENT
On host - Fedora 25, on managed host CentOS 7

##### SUMMARY
In playbook I have used both modules.

- If I did not install `docker-py` module `docker-login` claim: `Failed to import docker-py - cannot import name Client`
- B

[2017-02-13 18:39] dharmabumstead commented on #13295
Unable to reproduce. I think this one is obsolete. Closing.

[2017-02-13 18:39] #13295 closed, assigned to nobody

[2017-02-13 18:40] minac opened #21349 "syntax-check not checking everything"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

syntax-check

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
Trying to use syntax-check to cover all the plays in my playbook. If a task has an incorrect name it's picked up, but if there is a comma in between the arguments of a task, there is no warning.

##### STEPS TO REPRODUCE
an

[2017-02-13 18:42] dathelen opened #21350 "Support for Revision number for eos_command module"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY
The eAPI model has a revision field that for commands that might have been updated in more recent releases of eos.  It would be good for Ansible to support this field in eos_command module.  Today the eAPI interface returns the output of revision 1 if the revision fiel

[2017-02-13 18:46] jctanner commented on #21348
@Hubbitus what machine(s) did you install docker-py on?

needs_info

[2017-02-13 18:48] bcoca commented on #21339
As a workaround change these config defaults:

remote_tmp     = $HOME/.ansible/tmp
local_tmp      = $HOME/.ansible/tmp

[2017-02-13 18:49] Hubbitus commented on #21348
In several experiments I found work next combination: `pip: name=docker-compose==1.9.0,docker-py==1.10.6`

[2017-02-13 18:49] Hubbitus commented on #21348
@jctanner, sorry what machine what? On managed machine I have CentOS7. Or question was about something different?

[2017-02-13 18:50] jctanner commented on #21348
Oops, sorry about that last question. I glossed over the pre-task in your example playbook.

[2017-02-13 18:51] bcoca commented on #21349
Sadly this is a known limitation, task options are checked by the modules themselves, the syntax checker cannot run the modules as they might not have the requirements available on the 'controller'.

If you want stricter syntax checking I recommend you use the YAML format instead of k=v, specially if you are doing multiline.

[2017-02-13 18:51] #21349 closed, assigned to nobody

[2017-02-13 18:54] bcoca commented on #21342
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-02-13 18:54] #21342 closed, assigned to nobody

[2017-02-13 18:55] minac commented on #21349
Thanks for the clarification @bcoca

[2017-02-13 18:56] jctanner commented on #21348
Looks like this issue has been seen in salt also https://github.com/saltstack/salt/issues/39216

[2017-02-13 19:06] stacker2017 commented on #21322
Resolved the issue by changing the localhost to ip address

[2017-02-13 19:06] #21322 closed, assigned to nobody

[2017-02-13 19:08] ssenaria commented on #9984
I'm running into this issue with `ec2_remote_facts` with Ansible 2.2.1.

[2017-02-13 19:14] dgoodwin commented on #21269
Sorry @bcoca I am confused.

We picked up this example from #16139, it appeared that going to hostvars[inventory_hostname]['ansible_host'] might work, given that inventory_hostname would still point to the remote system we're waiting for. Are you saying it's expected for ansible_host to *not* be defined in that context?

I do notice that:

[code]

Task 2 will show the host, task 5 will not, which

[2017-02-13 19:37] alanjds commented on #20653
@TheSameCH You can be right, but worked after installed Anisible 2.2.0.0 and was broken with 2.2.1.0

[2017-02-13 19:40] bcoca commented on #21261
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The config settings are for the 'implicit' setup executed by playbooks, not explicit ones that you can execute as a task or using the a

[2017-02-13 19:40] #21261 closed, assigned to nobody

[2017-02-13 19:42] bcoca commented on #21269
it would be a bug if you defined ansible_host in inventory and it is not appearing when you reference it, it is not a bug if you are expecting the return of the connection to define it.

[2017-02-13 19:43] dgoodwin commented on #21269
I understand, thanks @bcoca .

CC @mwoodson @detiber

[2017-02-13 19:43] #21269 closed, assigned to nobody

[2017-02-13 20:10] bcoca commented on #21304
the problem is not related to the modules, it is that `{{ }}` looks like a template and Ansible  will run it through Jinja2 BEFORE passing it to the module itself.

[2017-02-13 20:12] rasputnik commented on #21078
ok, i'm happy to shut this down.
New syntax is definitely more helpful for identifying YAML structure typos.

[2017-02-13 20:12] #21078 closed, assigned to nobody

[2017-02-13 20:16] GageGaskins opened #21361 "ec2_elb_facts fails to find elb's if >400 elb's exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Mac OSX 10.11.6

##### SUMMARY

Internal boto of ec2_elb_facts.py seems to be truncating result list to 400 entries like boto3 does. Current implementation of facts retrieves all elb's and then loops through resulting list looking for specific elb names if `names` is pro

[2017-02-13 20:17] leerich opened #21362 "win_regedit doesn't create new entries"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

win_regedit module can create paths but not any entries underneath the path

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect the results to be reflected in regedit on the windows machine

##### ACTUAL RESULTS

When run from T

[2017-02-13 20:20] bcoca commented on #21216
no, they are not different namespaces

[2017-02-13 20:21] #21216 closed, assigned to nobody

[2017-02-13 20:24] bcoca commented on #21279
confirmed the behaviour, it should run include_role per host but not for all hosts per host.

[2017-02-13 20:37] alikins commented on #18602
I can reproduce the behavior seen in https://github.com/ansible/ansible/issues/18602#issuecomment-263273831

test.yml

[code]

[code]

[2017-02-13 20:40] vhosakot commented on #21304
Thanks for triaging @bcoca!  Yep, docker and kubernetes CLIs (`kubectl`) accept `{{ }}` as the template for filtering/formatting the output.

Below is we can use the golang templates (https://golang.org/pkg/text/template/#pkg-overview) as arguments for the `kubectl` CLIs:

[code]

https://kubernetes.io/docs/user-guide/kubectl/kubectl_get/

[code]

https://kubernetes.io/docs/user-guide/kubectl-chea

[2017-02-13 21:23] jctanner commented on #21051
cc @dav1x @nerzhul

[2017-02-13 21:24] jctanner commented on #21051
@hryamzik seems like a logical patch. Would you be able to submit a pullrequest?

[2017-02-13 21:32] hryamzik commented on #21051
@jctanner sure, going to fire it tomorrow, I just wasn't sure it's fine. This script doesn't provide me with datacenters and VM folders so I've already moved from it.

[2017-02-13 22:01] smalenfant commented on #20573
Few more things. Can open other Issues.

- `duration: INF` always results in `changed`
- Can't delete an existing RP, workaround is `command: '/usr/bin/influx -host {{ inventory_hostname }} -port {{ influxdb_http_port | default("8086") }} -database db -execute "DROP RETENTION POLICY autogen ON db"'`

[2017-02-13 22:12] smalenfant commented on #20573
Closing this bug, was not setting the default field in the task!

[2017-02-13 22:12] #20573 closed, assigned to nobody

[2017-02-13 22:13] ryanwalls opened #21367 "71a"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-13 22:18] alager opened #21368 "Feature: Make Subversion module better behaved with local modified files"
ISSUE TYPE

Feature Idea
COMPONENT NAME

- subversion

ANSIBLE VERSION

ansible 2.0.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
CONFIGURATION

Stock

OS / ENVIRONMENT

Ansible server: ubuntu server 16.04LTS
target(s): ubuntu server 16.04LTS, 14.04LTS

SUMMARY

This is a feature request. Currently when doing an SVN update using the subversion

[2017-02-13 22:25] bcoca commented on #21367
please fill in template

[2017-02-13 23:26] userlerueda commented on #17273
@alex94040 what if you execute the following command directly from your box:
`ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="/Users/alexweinstein/.ansible/cp/ansible-ssh-%h-%p-%r" -o IdentityFile="alex.pem" -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ubuntu -o ConnectTi

[2017-02-14 00:06] Kiarashz opened #21374 "ansible command does not pick Windows host variables while ansible-playbook does."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible command.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
callback_plugins = ./callback_plugins:/usr/share/ansible_plugins/callback_plugins
hostfile = inventory
vault_password_file = /etc/ansible/key
display_skipped_hosts = False
[ssh_connection]
ssh_args = -F config/ansible.ssh.config
pipelining = False

##### OS / ENVIRON

[2017-02-14 01:20] #21190 closed, assigned to Qalthos

[2017-02-14 01:20] bcoca commented on #21328
where is do_stuff.yml?

[2017-02-14 01:24] bcoca commented on #21374
Since you are not being explicit with the directory structure i'm going to assume host/group_vars are adjacent to the play files.  This will allow `ansible-playbook` to pick them up, but since `ansible` has no play it can only pick them up when they are adjacent to the inventory.

For them to 'always work' make the directories adjacent to inventory and both commands will pick them up.

[2017-02-14 03:01] ksrajith opened #21389 "unarchive work for .zip file on ansible 2.2.1 on windows Environment after install apt-cyg /bin"
**Issue Type:**

Bug Report
Feature Idea

**Component Name:**
unarchive module

**Ansible Version:**
$ ansible --version
ansible 2.2.1.0 (stable-2.2 39acdde5aa) last updated 2017/02/08 16:41:08 (GMT +650)
  lib/ansible/modules/core: (detached HEAD 59c9a6d3c2) last updated 2017/02/08 16:42:29 (GMT +650)
  lib/ansible/modules/extras:  not found - use git submodule update --init lib/ansible/modules/e

[2017-02-14 07:32] #21334 closed, assigned to nobody

[2017-02-14 09:30] jhawkesworth commented on #21362
Hi

I think the double backslash in

HKLM:\Software\\Microsoft\inetstp

might be confusing things here - please could you try again without the second \ between 'Software' and 'Microsoft'

By the way this module has had some bug fixing in the latest version of ansible (2.3 in development) so it would be very useful if you could test with latest development version of ansible.

[2017-02-14 09:31] jhawkesworth commented on #21362
needs_info

[2017-02-14 10:46] phar1no commented on #12558
Fixed:
<     #RPMRELEASE = 100.git$(DATE)**$(GITINFO)**
<     RPMRELEASE = 100.git$(DATE)

[2017-02-14 10:47] phar1no commented on #13844
Fixed:

[root@k7-mgmt ansible-2.2.1.0]# diff Makefile*
92,93c92
<     #RPMRELEASE = 100.git$(DATE)$(GITINFO)
<     RPMRELEASE = 100.git$(DATE)

[2017-02-14 10:47] michal-jewel opened #21397 "Unarchive module catastrophically changes root directory access rights"
##### ISSUE TYPE
 - Bug Report

NOTE: This is rather catastrophic failure.

##### COMPONENT NAME
 - Unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Managed OS: Ubuntu Linux 16.04 LTS

##### SUMMARY
Unarchive with `--strip-components=1` on an archive without any root paths works, but changes access rights to root directory to "root only read write"

[2017-02-14 10:51] phar1no commented on #14045
make rpm OFFICIAL=yes

[2017-02-14 10:52] #21235 closed, assigned to nobody

[2017-02-14 10:56] gundalow commented on #21235
Hi https://github.com/ansible/ansible/pull/21247 has been merged into devel, so this will be part of the Ansible 2.3 release.

[2017-02-14 11:01] dagwieers commented on #21397
There are quite some fixes hiding in an older PR #19015, I would appreciate it if you could use that module and run it with a sufficient number of -vvvvv statements. This should give us the exact command-line and output from gtar.

[2017-02-14 11:02] Toub commented on #20653
Same issue (with non standard port URL), back to 2.1.2.0 as suggested by @vmichnowicz as a workaround until this issue is solved.

[2017-02-14 11:08] mattymo commented on #21340
git bisect shows me that commit 2d8ebbfe8cc9332b34ce807b1c30e69507ba36a0 is to blame. with_items iterates skips 1-3 items per iteration starting from this commit and each iteration is much slower.

[2017-02-14 11:30] gundalow opened #21399 "ios_config: ValueError: Circular reference detected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Backtrace when running the 2.2 test cases.

##### STEPS TO REPRODUCE
Running the existing test cases from `test-network-modules`
`time ANSIBLE_DEBUG=True  ansible-playbook -vvvvv  -i  ../ansible/test/integration/inventory.network-jobarker ios.ya

[2017-02-14 11:33] gundalow opened #21400 "ansible-connection: backtrace on Bad file descriptor"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We shouldn't report backtraces into **syslog**

[code]

##### STEPS TO REPRODUCE
Running the existing test cases from `test-network-modules`
`time ANSIBLE_DEBUG=True  ansible-playbook -vvvvv  -i  ../ansible/test/integration/inventory.netw

[2017-02-14 11:34] gundalow commented on #21399
This bug is about the function issues

https://github.com/ansible/ansible/issues/21400 is about backtraces ending up syslog

[2017-02-14 11:35] gundalow commented on #21400
This bug is about backtraces ended up in syslog

https://github.com/ansible/ansible/issues/21399 is about the functional error

[2017-02-14 11:51] simonmikkelsen opened #21401 "file module always fails to create relative symlinks if force is not yes."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/file
devel/lib/ansible/modules/files/file.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes made.

##### OS / ENVIRONMENT
cat /etc/centos-release
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
The file module cannot create symlinks: src and destination paths are concatinated and the result is used to check if the src e

[2017-02-14 12:12] gundalow opened #21402 "Networking Modules: AttributeError: 'NoneType' object has no attribute 'expand_user'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-14 13:38] mattymo commented on #21340
Another observation is if I remove delegate_to, it speeds up to the same speed from Ansible 2.2.0.

[2017-02-14 13:46] emielmolenaar commented on #20653
Same issue here on Debian Jessie with Ansible 2.2.1.0, trying to checkout a git repo via standard SSH port 22.

[2017-02-14 14:06] kladiv commented on #18338
+1 any news on this issue?

[2017-02-14 14:46] automaticgiant commented on #2155
then kill your ssh-agent process after and/or use `ssh-add -D` to remove identities

[2017-02-14 14:56] #21399 closed, assigned to privateip, Qalthos, rcarrillocruz

[2017-02-14 14:59] gen2saurus commented on #21261
The main problem is with a playbook execution but I would suggest to use configuration file settings for adhoc mode too.

FYI: I provided the adhoc examples above for simplicity only.

This is the playbook `./update.yml` to reproduce the error:
[code]
This playbook is started as`./update.yml --ask-sudo-pass -l ServerName --check --diff -vvvv`
and the error message is:
[code]
FYI: The `lsblk` comma

[2017-02-14 15:13] bcoca commented on #18338
so the problem here is that the block gets evaluated at runtime, but the include is being evaluated at compile time. 2 solutions:

Add the directives directly on the include
[code]

Change the include to be dynamic and evaluate at runtime:
[code]

[2017-02-14 15:40] #21158 closed, assigned to nobody

[2017-02-14 15:47] ldomb opened #21410 "ovirt_auth needs python-enum32 and python-ovirt-engine-sdk4 which are not installed by default"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ovirt_auth
##### ANSIBLE VERSION
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
none

##### OS / ENVIRONMENT
fedora24

##### SUMMARY
ovirt_auth requires pyton-enum32 and python-ovirt-engine-sdk4 which is not installed by default on any system. It wou

[2017-02-14 16:28] jimi-c commented on #20494
Just noting that with Jinja2 > 2.8.1, this breaks all the way back to the 1.x versions, so it's not necessarily because of anything new we've done.

[2017-02-14 17:20] kharkevich opened #21414 "Cannot use gitlab_user and gitlab_group with authorization by password and self-signed certificate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/source_control/gitlab_user
modules/source_control/gitlab_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Cannot use gitlab_user and gitlab_group with authorization by password and self-signed certificate
(validate_certs: False options is not used)
##### STEPS TO REPRODUCE

Setup Gi

[2017-02-14 17:34] alirezamansoori opened #21416 "The pexpect python module is required error even-though it is installed on host machine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
expect module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Mention any settings you have changed/added/removed in ansible.cfg
(or using the ANSIBLE_* environment variables).
default

##### OS / ENVIRONMENT
Mention the OS you are running Ansible from, and the OS you are
managing, or say “N/A” for anything that is not platform-specific.
Ho

[2017-02-14 17:42] sivel commented on #21416
`pexpect` must be installed on the remote host that you are managing.  In your output, that host is identified by `135.69.202.198`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-02-14 17:42] #21416 closed, assigned to sivel

[2017-02-14 18:00] yabhinav commented on #20736
So even after separating the plays into various  small tasks files and include in the role, After a task is failed the play continues but at the end of the playbook the failed count will not be zero.

	The command "testrun=$(mktemp)" exited with 0.
	457.84s$ docker exec "$(cat ${container_id})" env TERM=xterm ansible-playbook /etc/ansible/roles/role_under_test/tests/${playbook} | tee -a ${testrun}

[2017-02-14 18:01] philfry commented on #12862
Unfortunately, that's not sufficient.
You'll also need to specify `library = library` in `[defaults]` when using own modules.

But still ansible won't find `host_vars` and `group_vars` when having the playbooks in a subdir and using the best-practice-structure:

- playbook is in toplevel dir
[code]
- playbook is in subdir
[code]

[2017-02-14 18:11] bitonio commented on #14270
To me @bcoca solution doesn't work if you have more than one task notifying the handler.
I managed to reproduce it in something very simple. Using ansible 2.2.1.0

[code]

And the restart_test.yml:

[code]

Output
[code]

[2017-02-14 18:28] Windesson commented on #13278
If you change the target machine host name at;
/etc/hostname
you must also add the new name to;
/etc/hosts f 127.0.0.1 <hostname>

Else, every time you issue a # sudo su, the server will delay the escalation prompt because it is trying to resolve the new name.

You can also change the ansible.cfg to;
 # SSH timeout
timeout = 60
gather_timeout = 60

[2017-02-14 18:47] #21402 closed, assigned to privateip

[2017-02-14 19:00] gundalow opened #21422 "eos: data['stdout'].strip().splitlines()[-1] IndexError: list index out of range"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
After https://github.com/ansible/ansible/pull/21406 is applied we get a little further though further issues occur:

##### STEPS TO REPRODUCE
Running the existing test cases from `test-network-modules`
`
time  ANSIBLE_USE_PERSISTENT_CONNECTIONS=

[2017-02-14 19:10] leerich commented on #21362
Yes, I've tried it both ways and it gives me the same result.  In my first example I am only using single back slashes.

[2017-02-14 19:25] jean-christophe-manciot opened #21425 "when statement issue when used over a with_dict loop variable"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- **Local host**: Ubuntu 16.10 4.8
- **Target nodes**:
  - NX-OSv-9k 7.0(3)I5(1) (last release available in Cisc

[2017-02-14 19:31] gundalow commented on #21402
Confirmed fixed, though we now fail with https://github.com/ansible/ansible/issues/21422

[2017-02-14 19:43] irus99 opened #21426 "Source variable for firewalld module not working"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
Firewalld

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Using source parameter of the firewalld module does not seem to work and it ends up in the firewall as anywhere

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[2017-02-14 20:41] ryansb commented on #21167
So the names are supposed to be for use in groups/inventories, which is why the `to_safe` function exists. I just merged a PR to bypass that for Route53 domains so that the FQDN was used as the name as well.

[2017-02-14 20:47] thoraxe commented on #21167
If the name is an inventory name, why would you want a name that doesn't resolve and isn't usable in an SSH command?

For example, in the current state, if you run a bunch of plays/tasks against your dynamic inventory and get a failure, the "hostname" of the failure is foo-bar-baz

I either have to manually retype that as foo.bar.baz or, in the unfortunate Amazon case, I have to know what Amazon's

[2017-02-14 21:28] dmuth opened #21431 "Misleading error: "UNREACHABLE!" when host actually is reachable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
This happens in both ansible-playbook from the OS/X *and* Ansible Tower run from the Vagrant VM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
fatal: [96.119.XXX.XXX]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}
[code]
$ ansible-playbook -i ./inventory ./playbooks/ping.yaml

[2017-02-14 21:58] jimi-c commented on #20885
@berlic yes this is a dupe, so closing it now.

[2017-02-14 21:58] #20885 closed, assigned to jimi-c

[2017-02-14 22:01] ryansb commented on #21425
This seems to have more to do with the use of `defined`. This should work if you use a test like `item.value.ipv6_address | bool`. The `== ""` check won't pass either, because the value is `null`, not empty string.

If using `|bool` or `not item.value.ipv6 is None` doesn't fix your issue, feel free to reopen.

[2017-02-14 22:01] #21425 closed, assigned to nobody

[2017-02-14 22:06] BadStreff commented on #19819
@gundalow Is this something that you would expect implemented for OS's other than macOS? I'm still pretty new to using ansible but feel like this is something I could tackle.

[2017-02-14 22:09] Qalthos commented on #19088
Closed per 5fbe64a

[2017-02-14 22:09] #19088 closed, assigned to privateip, Qalthos, gundalow

[2017-02-14 22:10] Qalthos commented on #20684
Closed per db786fc

[2017-02-14 22:10] #20684 closed, assigned to nobody

[2017-02-14 22:21] miskolc commented on #8965
I've searched the docks and apparently there is still no equivalent of the `docker run -w` flag for the `docker_container` ansible command. I would also appreciate if it will be added.

[2017-02-14 22:33] miskolc commented on #20044
@Adrien-Luxey  This seems to be an old feature request #8965 . I would also like it to be added to ansible. There are certain cases when using the `-w`. For example there are many popular images that don't set the `WORKDIR` in their docker file and expect it to be passed to them when executing `docker run -w`.

[2017-02-14 22:40] diego-treitos opened #21433 "docker_image network mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I need to set the network mode to `host` when building an image. From command line I can do this with `docker build --network host .` but I dont see any option in ansible to do this. My images fail to build due to this.

##### EXPECTED RESULTS
it would be nic

[2017-02-14 23:20] gundalow commented on #19819
Do other Operating Systems have a concept of hidden users? If it's macos only, then that would still be a useful feature.

Would be good to have some integration tests along side this new functionality.

[2017-02-15 00:31] BadStreff commented on #19819
I'm sure most provide some mechanism for hiding users from the login window/sysprefs. I think the appeal here is that macOS provides it so conveniently with an attribute. Is it frowned upon to create a new param for a module and only have it implemented for a particular OS?

[2017-02-15 00:36] jeremyn commented on #21012
A '|' causes a similar problem. Playbook:

[code]

Output:

[code]

My use case is writing an SSH `known_hosts` file only `when` it has non-empty content, and the content started with a `|`.

That said, @moritz: I don't think non-empty strings normally evaluate as True. For example with:

[code]

I get:

[code]

You need to be more explicit like with `when: smartd_conf != ""`, or "trick" it with
`

[2017-02-15 00:51] leerich commented on #21362
I just tested with Tower 3.1 and the latest modules on github and got the same result.  This time the module is more particular about the slashes and will only take a single slash.

[2017-02-15 02:04] juju4 commented on #19819
hidden attribute is macos only.
the "equivalent" for other unix is more or less system user which is already implemented (https://docs.ansible.com/ansible/user_module.html). system seems also implemented in macos but without the attribute. might be where to add it.

had a quick look at code here
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/user.py#L1475

the module regr

[2017-02-15 03:20] BadStreff commented on #19819
@juju4 I'm not sure system would be the correct place to set this since an account with a UID under 500 is considered a system account on macOS. And this attribute can be set on users with UID's above 500

[2017-02-15 03:57] aimanparvaiz commented on #15297
pipelining disabled but facing the same issue with 2.3.0

[2017-02-15 04:49] lf- opened #21439 "Firewalld: direct rules support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

firewalld module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25 Server

##### SUMMARY

It is not currently possible to reproduce configurations such as that created by running `firewall-cmd --permanent --direct --add-rule ipv4 filter OUTPUT 0 -m owner --uid-owner $UID -j ACCEPT` because the firewalld m

[2017-02-15 04:57] aabbss757 opened #21440 "win_regedit: An error occurs when creating an entries with braces in the entries name."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server：Amazon Linux AMI release 2016.09
Client：Windows Server 2012 R2

##### SUMMARY

Please excuse my poor English...

I am trying to add a hidden icon on the desktop.
  icon：Network, My Computer(This PC?)
But, an "ACTUAL RESULTS" error will occur

[2017-02-15 06:40] jhawkesworth commented on #21362
Well that's odd.

I just tried your playbook and the first example works fine.
The second fails as is, because the value you want to set 'E:\\Inetpub\\wwwroot' can't be converted to a dword, so I just commented out the following line (default type is 'string') and it ran fine, and I can see the changes in regedit.
         type: dword

what version of windows are you targetting?  Please ensure you

[2017-02-15 09:20] jhawkesworth commented on #21440
Please can you re-run the playbook with -vvvvvv and paste the output here as the debug information might show why this is failing?

needs_info

[2017-02-15 10:04] #13392 closed, assigned to nobody

[2017-02-15 10:29] ghost opened #21449 "Apt module to support minimum version specification"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt (/package)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A (Debian Jessie / Python 2.7.9)

##### SUMMARY
I would like to be able to specify the minimal version of a package to be installed instead of a (partial) exact match.

For example, today I found out that Monit doesn't support IPv6 testing until ve

[2017-02-15 10:40] bjolivot commented on #21431
+1

[2017-02-15 10:55] zdong08 opened #21451 "Ansible windows connection in the domain"
**ansible version**
ansible 2.2.0.0
**hosts file**
[windows]
gm03v-xxx.cn
[windows:vars]
ansible_ssh_user='xxxxx@xx-SVC.CN'
ansible_ssh_port=5986
ansible_connection='winrm'
ansible_winrm_server_cert_validation=ignore

 **executing orders**

ansible windows   -i hosts   -m win_ping -k
gm03v-xxx.cn| UNREACHABLE! => {
    "changed": false,
    "msg": "kerberos: authGSSClientInit() failed: (('Unspecif

[2017-02-15 10:56] naveens opened #21452 "hash filter is broken with non-ascii and on python3 due to lack of encoding"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Hashing filters

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
CentOS 7, Python 3.5

##### SUMMARY
An ASCII file that was slurped could not be hashed. It fails with `Unicode-objects must be encoded before hashing`

##### STEPS TO REPRODUCE

- touch a file `openssl.cnf` with some plaintext data
- run the below playb

[2017-02-15 11:03] billietl opened #21453 "postgresql_user fails against an existing user when using 'expires'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian 8-based docker container, installed via pip.
Playbook is run via user `ansible`, which has sudo rights `ALL = NOPASSWD : ALL` and `ALL =(postgres) NOPASSWD : ALL`.

##### SUMMARY
When running the following task, creating the user works, but fails when the user already e

[2017-02-15 11:24] kmcnallymetapack opened #21455 "Lambda: unsupported parameter for module: environment_variable"
##### ISSUE TYPE

 - Documentation Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-02-15 11:26] rodvic commented on #19750
Good afternoon.
Do you know when this functionality will be available in Ansible? It is a very important case to complete the automation of all the creation of instances and that can share a VIP among them.

[2017-02-15 11:38] sigio opened #21456 "ini_file crashes when run with: "path: {{somevariable}}", works with: "path: /etc/file.ini""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.8 (Santiago)

##### SUMMARY
Using ini_file with a dest/path with a variable to specify the name causes python errors

##### STEPS TO REPRODUCE
[code]

The commented version gives errors, the version with a specified path

[2017-02-15 12:31] ghost opened #21459 "nxos_acl works too slow by design. please consider any sort of a bulk loads"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

nxos_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

nxos_acl works on every ACE in ACL sequentially by performing steps:
it connects to a device,
read all existed ACLs to find the one
iterates over all ACEs in the ACL
and then insert only one ACE and exits

If you have ACL with a couple hundre

[2017-02-15 12:36] jpmens commented on #21456
needs_contributor

[2017-02-15 13:03] jhawkesworth commented on #21451
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-15 13:03] #21451 closed, assigned to nobody

[2017-02-15 13:17] robinro commented on #21316
We should not have `--no-single-branch` in general. This effectively download the majority of the repo for typical repos, that have tags for releases going back the full history.
See e.g. https://github.com/ansible/ansible/issues/14954 for a potential regression then.

There is a (simple) workaround: Add a `reference`.

The solution is probably to add `--branch` to the clone. One should extend the

[2017-02-15 13:40] hogarth-sv opened #21461 "junit callback plugins output results in confusing xml output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junit

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Enable the junit callback plugin:
[code]

##### SUMMARY
The resulting xml from the callback plugin has a confusing class in each package which makes reading the output much harder than it should be.

##### STEPS TO REPRODUCE
Enable the junit plugin and run any playb

[2017-02-15 13:58] privateip commented on #21459
@IDQDD This will be addressed in 2.3 with the implementation of connection persistence

[2017-02-15 13:59] #21410 closed, assigned to nobody

[2017-02-15 14:14] juju4 commented on #19819
fine for me to have a macoshidden attribute.

[2017-02-15 14:29] AndreaGiardini commented on #19549
Am I wrong or here https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_container.py#L1743 we should have an `and` instead of `or`?

[2017-02-15 14:36] nightvisi0n opened #21464 "docker_network: TypeError with existing network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
local + remote: `Fedora release 25 (Twenty Five)`

##### SUMMARY
[code]

Relevant output from `docker network inspect`:
[code]

##### STEPS TO REPRODUCE
Create the the network above and run the following playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[co

[2017-02-15 14:42] kazh000 opened #21465 "with_items + when + __getitem__ = "when" ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

"when:" doesn't work with conjunction "with_items:" and `__getitem__`

##### STEPS TO REPRODUCE

run playbook

[code]

##### EXPECTED RESULTS

I expect "skipping" instead of "fatal"
##### ACTUAL RESULTS

[code]

[2017-02-15 14:47] t2d commented on #16956
Why has this issue been closed?

I just updated from ansible 2.0 to 2.2.1.0 and it broke my vagrant test setup. This setup has been working since 1.something.

[code]
To make ansible 2.2 work again, I had to create a symbolic link for group_vars as suggested in  https://github.com/ansible/ansible/issues/16956#issuecomment-259184869 by @tmartinx.

Why does ansible now use the path of the yaml file

[2017-02-15 14:50] eljuanchosf opened #21467 "iptables module: match=conntrack with ctstate not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iptables module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Host OS: Linux Mint 17 (Ubuntu 14.04)
- Guest OS: Debian 8 (Jessie)

##### SUMMARY

When running the following task:

[code]

I get the following error:

[code]

The right `iptables` command should be:

[code]

##### STEPS TO REPRODUCE

[code]

#####

[2017-02-15 14:58] #18453 closed, assigned to nobody

[2017-02-15 14:58] IDQDD commented on #21459
that's great. will wait
can I ask another brief question here?
what about object-groups as an ACE objects in ACLs?
it would be nice to have them as well
Thx
Nikolay

[2017-02-15 15:07] yaniveliash opened #21468 "Ansible-playbook ignore hosts custom python interpreter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
any component - not a specific one

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
From : OSX
To : Ubuntu 16.04

##### SUMMARY
Creating a dynamic hosts file while provisioning ec2 instances but ansible
ignore my request to use python3 interpreter and fails due to that.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED R

[2017-02-15 15:42] nedbat commented on #21316
@robinro i'm sorry, i don't understand how `reference` helps? That refers to another repo?

[2017-02-15 15:50] jimi-c commented on #21138
@alvaroaleman I'm not seeing the issue with `- debug: var=hostvars` but I do see it losing the use name (or the delegated to info) in the rescue for some reason. Looking into it.

[2017-02-15 15:51] tuwid commented on #19587
@vmindru i can do some tests for you if you want as i have mixed environments

[2017-02-15 15:52] jimi-c commented on #21138
And this also happens in the `always` portion of the block, FWIW.

[2017-02-15 16:19] scjody opened #21472 "TypeError: 'NoneType' object is not iterable with module apt autoremove"
_From @galindro on June 23, 2016 23:4_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt autoremove
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

I'm NOT using any ANSIBLE_\* environment variable
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I'm used the apt module with autoremove option and this error was showed when I run the task:

[code]
##### STEPS TO REPRODUCE

Create thi

[2017-02-15 16:19] scjody commented on #21472
_From @mrgnr on June 26, 2016 0:33_

I'm seeing the same error as @galindro when running this task:

[code]

However, if I specify a value for the `name` parameter, the task succeeds:

[code]

The [apt module documentation](https://docs.ansible.com/ansible/apt_module.html) says that `name` is _not_ a required parameter, and it makes sense that we might want to autoremove packages without installin

[2017-02-15 16:19] scjody commented on #21472
_From @domdom82 on July 5, 2016 14:21_

Ran into the same issue today. +1 to fix this.

Using this as a workaround:

[code]

[2017-02-15 16:19] scjody commented on #21472
_From @peterkuiper on July 14, 2016 14:59_

I'm having the exact same problem. My ansible version:

ansible 2.1.0.0

This task also doesn't work:

[code]

The solution proposed by @mrgnr works.

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on July 30, 2016 14:18_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @basictheprogram on August 29, 2016 20:4_

Issue is in devel too.

$ ansible --version
ansible 2.2.0 (devel 8210260d94)

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on August 29, 2016 20:7_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @Blake- on September 16, 2016 17:44_

output of -vvvv
ansible 2.1.1.0

[code]

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on September 16, 2016 21:32_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @chrpinedo on September 26, 2016 9:9_

I also confirm the bug with ansible 2.1.1.0

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on October 6, 2016 13:59_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @shay-li on October 9, 2016 11:59_

+1 to fix this issue

[2017-02-15 16:19] scjody commented on #21472
_From @hlpinform on October 21, 2016 8:7_

+1 to fix this issue, we ran into this issue today with this version:

ansible 2.3.0 (devel d9b570aaae) last updated 2016/10/17 09:47:20 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 15f8c6835b) last updated 2016/10/17 09:47:24 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 4ca8e5347a) last updated 2016/10/17 09:47:28 (GMT +000)

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on October 22, 2016 8:50_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @etienne-me on October 25, 2016 14:28_

+1

[2017-02-15 16:19] scjody commented on #21472
_From @gdelpierre on November 3, 2016 8:52_

Same as @mrgnr , name is not a required parameter.

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on November 6, 2016 9:46_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
Note that https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-230492142 is not a good workaround. If you end up with a package that defaults to interactive configuration on removal (I've seen this with kernel images), the task will hang.

https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-228577588 works for me, except I use `bash` because we don't instal

[2017-02-15 16:19] scjody commented on #21472
_From @tdely on November 16, 2016 13:19_

https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-228577588 works for me as well, but only when the package specified is installed or removed; if there is no change to the package no autoremove action is taken.

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on November 22, 2016 9:54_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-15 16:19] scjody commented on #21472
_From @ansibot on December 9, 2016 19:54_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-02-15 16:19] scjody commented on #21472
_From @zahaim on February 14, 2017 6:14_

+1

[2017-02-15 16:32] robinro commented on #21316
I meant `refspec`, but when trying to build an example I just found in the current state this only works with hashes, not tags:
[code]

In the integration tests we already have a test for switching to a tag on a shallow clone, but not for the initial clone...

[2017-02-15 16:44] vmindru commented on #19587
@tuwid - https://github.com/ansible/ansible/pull/21475 some testing will help once that thread will be commented as ready to review

[2017-02-15 16:47] hehe2 commented on #16243
Hi, can you please tell me how you generated your pem/key files ?

I tried to follow the tutorial on Matt Wrock's blog (link above) but I don't see the generation of any key file in there (only pem and pfx are genrated).

Where does this file come from ?

[2017-02-15 16:58] abadger commented on #21452
I believe https://github.com/ansible/ansible/pull/21477 will fix this issue.  Please test it out.  It fixes another problem on Python2 as well so I'll be merging it as long as it passes tests on all platforms.

[2017-02-15 17:01] mscherer commented on #21312
yep,  see that as well.

Since now dev is a list, the command used fail, since that's not list aware.
[code]

[2017-02-15 17:07] travisdetert commented on #13598
I think most would agree this behaves like a bug, as the assumption is that when should see this doesn't exist, and thus never reach evaluating with_items

[2017-02-15 17:22] privateip commented on #21459
@IDQDD please open a feature request issue for that so it can be tracked

[2017-02-15 17:35] gundalow opened #21481 "ios_template: running `show running-config all` in `configure` shell"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-15 17:41] diego-treitos commented on #21433
This seems to be a limitation of `docker-py`. I've already created a ticket to add this option in `docker-py`: https://github.com/docker/docker-py/issues/1457

[2017-02-15 17:50] GeVa2072 commented on #18411
If you replace your handlers with listen: instead of using name, error disappeared.

[code]

[2017-02-15 17:56] kodstark commented on #16435
Confirmed it is working.

[2017-02-15 18:37] #20569 closed, assigned to nobody

[2017-02-15 18:43] ghost opened #21486 "local_action task ignores when: var is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X 10.11.6

##### SUMMARY

I have a local action that should only be executed if a variable is defined but the task complains that the variable is undefined
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

when excludes is not de

[2017-02-15 18:45] naveens commented on #21452
@abadger I tested with your diff and it works as expected. Thanks for the fix.

[2017-02-15 18:47] #19835 closed, assigned to nobody

[2017-02-15 18:50] #21452 closed, assigned to nobody

[2017-02-15 18:50] amit3bcrec commented on #18414
I have the same issue.. any advice please

[2017-02-15 19:07] kostaatsk opened #21489 "abnormal behaviour of defined function"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Conditionals

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Tested on:
Debian 8.7
MacOSX

##### SUMMARY

Abnormal behaviour of conditionals

##### STEPS TO REPRODUCE

Run example playbooks

conditional1.yml
[code]

conditional2.yml
[code]

conditional3.yml
[code]

##### EXPECTED RESULTS

conditional1.yml:
check

[2017-02-15 19:12] GriffithLea commented on #21216
@bcoca, just to be sure I'm making myself clear - both to you and myself, haha - let me walk through this a little more thoroughly:

My playbook (the real one is, of course, more complicated than the example I uploaded) might be run interactively, where the user answers the questions posed by the vars_prompts, or the user may run the playbook and supply those answers via --extra-vars, thereby pree

[2017-02-15 19:14] jimi-c commented on #21138
@alvaroaleman this appears to be caused by this patch: 5dd195b52f15dc25df364dfc70971f082ecceb6c. As a result, play_hosts no longer contains hosts which have failed which naturally removes them from the list of hosts available in the rescue/always portions of the block. Instead, you should use the internal variable `ansible_play_hosts_all` to get an unfiltered list of all hosts originally targeted

[2017-02-15 19:14] #21138 closed, assigned to jimi-c

[2017-02-15 19:27] kostaatsk commented on #21489
It looks like this is related to "{{ }}", it should not be used in when clause

[2017-02-15 19:27] #21489 closed, assigned to nobody

[2017-02-15 19:46] abadger commented on #19779
needs_info

[2017-02-15 19:46] alikins commented on #18602
A git bisect points to:

[code]

[2017-02-15 19:57] alikins commented on #18602
[code]

[2017-02-15 20:04] nightvisi0n commented on #21464
I just noticed that the module only fails when the according playbook is run with the `--check` parameter.
Without this parameter the task passes. But also with a strange behavior, because the result is everytime `changed`.

[2017-02-15 20:32] alikins commented on #18602
One thing I noticed when trying to debug this. play_iterator does start to run the ITERATING_ALWAYS case of play_iterator.pt _get_next_task_from_state, but the code at https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/play_iterator.py#L441 is false and the run state is never set back to ITERATING_TASKS

[2017-02-15 20:58] mattclay commented on #21461
@hogarthj Can you elaborate more on why having the line number from the playbook in the class name is causing problems for you?

We use the callback for our CI system (Shippable), and having the full file path and line number is useful for tracking down where in a playbook the failure has occurred.

[2017-02-15 21:06] krzysztof-magosa commented on #21486
`when` is applied for every iteration of loop and not to entire task at once.
Set `excludes` to empty list (`[]`) in role defaults or directly in code like that `with_items: "{{ excludes | default([]) }}"`. Then you can remove `when` line.

[2017-02-15 21:09] samdoran commented on #18414
@amit3bcrec See suggestions above.

[2017-02-15 21:18] billcarlson commented on #19274
This may be a similar problem, hostvars is changing based on number of hosts.

version 2.2.1.0 , Centos package

 ---
[code]
Role debug has the same tasks, this is to test if role makes any difference.

With boolean false for two and true for three and four, with a single host in hosts, output is correct, false is shown for two. With change `- hosts: all` and run for single host (`-l one`), where

[2017-02-15 21:22] hogarthj commented on #21461
Sure ... I've taken some screenshots to show the current UX journey and the proposed one from the patch to make it clearer what I mean.

Current:

1) Initial screen of the report, the setup and each yaml file in tasks is a package:

https://fedorapeople.org/~jhogarth/junit_ansible_jenkins/ux-journey-current/Screenshot%20from%202017-02-15%2021-05-02.png

2) Enter one of these and just get a class o

[2017-02-15 21:28] krzysztof-magosa commented on #20925
@alcamie101, please let me know whether you are working on that.
This is critical for me, so if you aren't going to fix that please let me know - then I will contribute the fix.

[2017-02-15 21:34] krzysztof-magosa commented on #20773
Why would you like to refer to the variable itself?

[2017-02-15 21:46] jean-christophe-manciot commented on #21425
- ```not item.value.ipv6 is None``` is not recognized by ansible:
  ```The conditional check 'not (item.value.ip_address is None)' failed. The error was: no test named 'None'```
- ```tem.value.ipv6_address | bool``` checks if the variable is a boolean or not, which is not the use case
- there is **no reason why ```item.value.ipv6_address is defined``` should not work**.

Using a workaround & closi

[2017-02-15 21:53] privateip commented on #21245
@Mr-Pi will take a look into this tomorrow

[2017-02-15 21:53] krzysztof-magosa commented on #20119
Are dependent tasks tagged the same way or not?
If not then it looks absolutely correct for me.

[2017-02-15 21:54] mattclay commented on #21461
It appears the main issue is due to the `.` for the file extension in the class name. That makes sense, since Jenkins probably expects the class name to have `.` separated namespaces.

I'd be curious to see what it looks like if the class name was modified as follows:

- Either drop the file extension, or replace the `.` with `_`
- Drop the leading `/`
- Replace the remaining `/` with `.`

I'd exp

[2017-02-15 21:56] privateip commented on #21189
config checkpoints are being removed from shared module code in 2.3 and replaced with a specific module to manage them.

[2017-02-15 21:58] jean-christophe-manciot opened #21496 "'when is defined' statement issue when used over a with_dict loop variable"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- **Local host**: Ubuntu 16.10 4.8
- **Target nodes**:
  - NX-OSv-9k 7.0(3)I5(1) (last release available in Cisc

[2017-02-15 21:58] hogarthj commented on #21461
RIght - from the perspective of junit visualization tools with classname anything prior to the final '.' would be the package the class is in with that final bit being the class itself, since that's how java formats the fully qualified class names for imports etc

The / doesn't matter from the perspective of this as it's not used a separator in java.

[2017-02-15 22:02] privateip commented on #20294
net_command has been removed for 2.3 final

[2017-02-15 22:02] #20294 closed, assigned to rcarrillocruz

[2017-02-15 22:18] abadger commented on #21449
Does apt itself support these?  If not, I'm not certain we want to add it as that would require us to parse and compare dpkg version strings.  If it does, then I could see us taking a PR to use the apt python bindings to do this... Someone would have to reconcile this with the current usage of the "=" to mean fnmatching, though.

[2017-02-15 22:18] sivel commented on #21496
As I can see `ipv6_address` is actually defined.  `defined` means that you have defined it, it does not care of the value. By simply listing `ipv6_address`, although without a value, you have defined it.

In your case you have defined it as null/None.

To properly check that you would likely need something like:

[code]

[2017-02-15 22:24] abadger commented on #21455
It looks like the environment_variables parameter was added in 2.3 (we're about to enter feature freeze for 2.3).  I'll change this to a documentation bug to make sure that's noted in the module docs.

[2017-02-15 22:25] #21084 closed, assigned to jimi-c

[2017-02-15 22:25] jimi-c commented on #21084
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release of 2.2 (2.2.2).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/an

[2017-02-15 22:26] krzysztof-magosa commented on #19659
I would say that permissions should be controlled by separate module.
Then it could have state=absent or state=present to remove/add specific permission.

[2017-02-15 22:30] #20770 closed, assigned to nobody

[2017-02-15 22:51] #21056 closed, assigned to nobody

[2017-02-15 22:56] jean-christophe-manciot commented on #21425
Cf. [official documentation](http://docs.ansible.com/ansible/playbooks_conditionals.html#the-when-statement) about ```defined``` used with when:
[code]

[2017-02-15 22:57] bcoca commented on #21425
@jean-christophe-manciot `defined` does work, the problem is that the variable IS defined, just empty/null which is not the same as undefined.

[2017-02-15 22:57] prasadkompalli commented on #12233
Public_IP is not found error while integrating Ansible with AWS. Any solutions for that???

[2017-02-15 23:01] opennomad commented on #9362
Just to embarrass myself I found that for my use case i can just brute force it with a `regex_replace`:

[code]

This appears to be working sufficiently for me when passing the output to other JSON aware tools that check on the type of things (awscli).

[2017-02-15 23:11] elgow commented on #11035
Since I'm on github but not the ansible mailing list I'll comment here in spite of the advice above.

I think it is a mistake to close this issue as a valid design choice on the part of the module authors. The authors of the postgresql database clearly made the opposite choice. They provide the feature of group roles with inheritance for a purpose, and it is widely used for that purpose. It is an

[2017-02-15 23:12] leerich commented on #21362
The first example only works for me in that it creates the registry path HKLM:\Software\Ansible but then it doesn't seem to create the entries underneath.  In your example did you see the entries underneath?  I'm targeting Windows 2012 R2.  I tried looking at the registry with both regedit and regedt32.  Is there something else I should be using to check the entries?

Thanks!

[2017-02-15 23:18] kamikaze commented on #11035
this is stupid

[2017-02-15 23:19] jean-christophe-manciot commented on #21496
There are some use cases for testing if a variable is undefined, but...
what is the use case of checking whether a variable is defined if it's not set?
**I would replace the whole defined/undefined by set/unset** for clarity sake.

Testing ```!= None``` seems to work fine, thanks.
How about making this conditional statement appear in the official documentation about [conditionals](http://docs.ansi

[2017-02-15 23:21] jean-christophe-manciot commented on #21425
@bcoca Cf. my answer to a similar post [here](https://github.com/ansible/ansible/issues/21496#issuecomment-280173764).

[2017-02-15 23:21] #21496 closed, assigned to nobody

[2017-02-15 23:37] thoraxe opened #21501 "ssh_args documentation does not accurately describe behavior"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible.cfg and ssh connection plugin

##### ANSIBLE VERSION
N/A

##### SUMMARY

Took a quick spin through the open issues and while https://github.com/ansible/ansible/issues/20714 is similar it's not the same.

The docs state:
[code]

However, this does not appear to be the case. For example, if I set:

[code]

I get:

[code]

So it is not complet

[2017-02-15 23:48] elgow commented on #11035
The third example in the comment by MannerMan was just pointed out to me. This does support the use of the postgresql feature, so that solves the main problem. The remaining problem, which should be regarded as a documentation bug, is that the ansible documents do not describe the usage shown in the example. The use of the objs parameter to hold a group role name is not mentioned in the documents.

[2017-02-15 23:49] abadger commented on #21464
@chouseknecht I don't know this module but perhaps this just needs a test that there are existing networks:

[code]

[2017-02-15 23:52] #21455 closed, assigned to nobody

[2017-02-15 23:57] abadger commented on #21465
Using when and with together is equivalent to this sort of pseudo code:

[code]

So this is actually working as intended: http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

[2017-02-15 23:57] #21465 closed, assigned to nobody

[2017-02-16 00:12] bcoca commented on #21467
not sure what is going on with how this module creates options, but this might be a fix
[code]

[2017-02-16 00:21] aabbss757 commented on #21440
@jhawkesworth

Hi, @jhawkesworth
I tried it with the -vvvvvvv option.

TASK [Add Desktop Icon - My Computer] ******************************************
task path: /etc/ansible/main.yml:6
Using module file /usr/local/lib/python2.7/site-packages/ansible/modules/extras/windows/win_regedit.ps1
<172.16.0.115> ESTABLISH WINRM CONNECTION FOR USER: ansible on PORT 5986 TO 172.16.0.115
<172.16.0.115> WINRM

[2017-02-16 00:22] abadger commented on #21468
I'm unable to reproduce this using a simplified setup:

hosts before the play:
[code]

playbook test.yml:
[code]

Playbook run:
[code]
(pingo is just a test module I whipped up to return the value of sys.version so I could easily see which python version this was being run under)

hosts after the run:
[code]

ansible version:
[code]

Can you post hosts before the play, hosts after the play, how yo

[2017-02-16 00:36] bcoca commented on #21486
closing as per above

[2017-02-16 00:36] #21486 closed, assigned to nobody

[2017-02-16 01:35] #21461 closed, assigned to nobody

[2017-02-16 02:28] xuqingfeng opened #21504 "restart_policy for docker_service"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Want to have `restart_policy` in `docker_service` just like `docker_container`

Ref: restart_policy in docker-compose https://docs.docker.com/compose/compose-file/

[2017-02-16 02:56] rektide commented on #11005
I'll check this this week. Thanks for the ping.

[2017-02-16 04:36] msanabria commented on #20119
@krzysztof-magosa Nothing else is tagged in this situation. From my understanding, a dependency is something that should be run prior to anything else. Even if I only called one task from a role any dependencies that role has should have already been run beforehand. Same concept with pre_tasks, tasks, and post_tasks.

[2017-02-16 06:20] jhawkesworth commented on #21440
I am not sure what is going on here but it seems likely the { and } are tripping things up.
You might be able to work around this by using the win_regmerge module (which just merges the contents of a .reg file)

Something else you could try is escaping the { and } characters with a \ in your vars
If that doesn't work also please try using the !unsafe notation to ensure jinja2 templating is not att

[2017-02-16 06:25] eureki opened #21506 "On Windows, how can we configure Ansible's modules to go through an HTTP Proxy?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Windows Modules (i.e win_chocolatey)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
macOS Sierra version 10.12.3

##### SUMMARY
Ansible modules executed on a Windows host are unable to access the internet via an HTTP Proxy. Ideally modules would function similarly to setting the environment on Linux host

[2017-02-16 06:33] jhawkesworth commented on #21362
Yes the stuff is there under the key for me in both cases.  To be fair, I have probably run the playbook a few times. So I just pruned both keys and re-ran once... and both keys and the values they contain are present.
I was using a s2012r2 vm as well.

Here is the exact playbook I used:
[code]

Only differences I can think of are I am using latest development version of ansible.

[2017-02-16 06:33] jhawkesworth commented on #21362
please can you try the playbook that worked for me above?

needs_info

[2017-02-16 08:55] ghost opened #21507 "NXOS Object Groups support to be implemented"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

nxos_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Some of Nexus gears (at least 7K and 9K) support policy-based ACLs (PBACLs), which allow you to apply access control policies across object groups (OG). An OG is a group of IP addresses or a group of TCP or UDP ports. When you create a rule,

[2017-02-16 08:56] IDQDD commented on #21459
Ok done
https://github.com/ansible/ansible/issues/21507

[2017-02-16 08:59] aabbss757 commented on #21440
I tried your suggestion.

Result:
■1. Using a win_regmerge -> Success!
Changed, and entry registration succeeded without error.

Contents of the ".reg" file.
'------------------------------
Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\HideDesktopIcons\NewStartPanel]
"{20D04FE0-3AEA-1069-A2D8-08002B30309D}"=dword:00000000

[HKEY_CURRENT

[2017-02-16 09:10] krzysztof-magosa commented on #20119
In my opinion tagging is simple mechanism to run tagged tasks and nothing more.
If it worked like you say, how I could prevent dependent role from being run by tags?

[2017-02-16 09:25] kmcnallymetapack commented on #21455
I can see now in ansible-doc lambda that this param does not exist.

[2017-02-16 09:29] andmos opened #21509 "win_chocolatey: Changed isn't returned if Upgrade=True is set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Controller machine is Ubuntu 14.04.3 LTS, Clients are Windows Server 2012R2

##### SUMMARY
When setting up `win_chocolatey` to install a package with `Upgrade=True` as argument, the module don't return `CHANGED` if a package is actually upgraded. This ca

[2017-02-16 09:37] jhawkesworth commented on #21506
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-16 09:37] #21506 closed, assigned to nobody

[2017-02-16 10:25] chdorb commented on #15022
I've have the issue too when importing DataLoader from ansible.parsing.dataloader in [this example](http://docs.ansible.com/ansible/dev_guide/developing_api.html#id3), and I don't understand why whereas Ansible itself works fine, I need to upgrade jinja2 package for python scripts.

Notes:
CentOS 6
Ansible 2.2.0.0
Jinja2 2.6

[2017-02-16 10:25] zigarn commented on #13222
With Ansible 2.2.1.0, using `state: latest` doesn't work:

[code]

Results in:

[code]

But, using `state: present` works:

[code]

Results in:

[code]

[2017-02-16 10:38] boscowitch commented on #17097
Just run into this basically the eample from the documentation is wrong and not working and not working...
for now the only way is to use command or  shell mdule and manualy call rsync  :(

[2017-02-16 10:42] PriceChild opened #21513 "copy module slower than expected when recursive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian Sid -> Centos 6

##### SUMMARY
The copy module documentation states:

and I'm finding incredible slowdowns at barely 50 files.

If I list each file individually using with_items in my task however, ansible completes an order of magnitude faster.

I'm co

[2017-02-16 10:52] kazh000 commented on #21465
Dear abadger according documentation and your example must not be difference between two tasks:
[code]
 and
[code]
because  "{{ test_list }}" and "{{ test_array[test_name] }}" are the same. But result is different.

[2017-02-16 11:56] msghaleb opened #21515 "azure_rm_deployment - ConnectionError: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

installed msrest 0.4.2 and msrestazure 0.4.2
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
Ansible 2.1.1.0
ansible tower 3.0.1
Azure 2.0.0rc5
##### SUMMARY

It used to work correctly up till few weeks ago, now we are getting the below error, which pointed us to may be an inval

[2017-02-16 12:20] PriceChild commented on #21513
I've tried profiling this but all the time is spent on ansible/plugins/strategy._wait_on_pending_results()

I've tried ANSIBLE_KEEP_REMOTE_FILES=1, hoping I could profile the resultant script. That leaves copy.py but no source directory? Maybe that's a separate bug...

[2017-02-16 12:27] gtirloni commented on #17911
It would be nice to have a mechanism by which we can select what information is outputted. I also have the same issue with sensitive environment variables.

An additional use case is when looping over dictionaries that have a lot of information. Using "no_log" renders the output useless. If we could select at least one field that should be used, that would be more useful. For example, a dictionary

[2017-02-16 12:54] #21481 closed, assigned to privateip, Qalthos

[2017-02-16 14:06] jhawkesworth commented on #21440
Glad you have a workaround.  I wonder if you could simplify it and get rid of the vars completely?

[code]

Could you try the above?

needs_info