[2016-03-17 06:15] robinro commented on #13688
I'm not sure specifying an inventory within the checkout out repo works, because it might try to read it before the pull (check the code for that).

What we do is put an `ansible.cfg` config inside the repo that sets the inventory, which is then used.

[2016-03-17 08:53] davidfischer-ch opened #15015 "Synchronize module do not expand ansible_ssh_private_key_file variable"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

(nothing)
##### Environment:

Ubuntu 15.10
##### Summary:

I am using variable in ansible_ssh_private_key_file variable and the module do not "render" it in order to have a constant string. E.g. "{{ playbook_dir }}/some/path" is not rendered to "/playbook/path/some/path"
##### Steps To Reproduce:

Set ansib

[2016-03-17 09:19] #13204 closed, assigned to nobody

[2016-03-17 09:23] danvaida commented on #14991
Thanks Toshio. Was wondering how did such an easy thing pass your tests :) I thought I did that... seems I was doing it in another ansible git repo. it's all good now. too much ansible after a long day at work :) please close.

[2016-03-17 09:29] TheHett opened #15016 "pear/pecl: is not interactive"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:
##### Environment:

Ubuntu
##### Summary:

Ansible can not perform the task, infinity work
##### Steps To Reproduce:

run playbook

[code]
##### Expected Results:

pecl driver can be installed
##### Actual Results:

Ansible freezes
I think problem in pecl ask:

[code]

[2016-03-17 09:49] Constantin07 commented on #15007
@davidmc24 I faced the same problem and agree it would be better to not error in case of stack absence.
Here is the simple workaround that worked for me.

[code]

[2016-03-17 11:17] mgamboa opened #15017 "Can install ansible MacOS X El Capitan"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

None
##### Environment:

MacOS X el Capitan
##### Summary:

 Try to install ansibelk and is failed
CFLAGS=-Qunused-arguments CPPFLAGS=-Qunused-arguments pip install ansible
Collecting ansible
  Using cached ansible-2.0.1.0.tar.gz
Collecting paramiko (from ansible)
  Using cached paramiko-1.16.0-py2.py3-none

[2016-03-17 12:06] rfleschenberg commented on #14741
I am seeing a similar problem, without the haproxy module. It seems that currently, `delegate_to` in conjunction with `with_items` is broken.

Here is a minimal example https://github.com/rfleschenberg/ansible-delegation-bug

[2016-03-17 12:17] rfleschenberg commented on #14741
Note: I am not using ansible_ssh_hostname there.

[2016-03-17 12:48] ssbarnea opened #15019 "ansible unable to find boto: boto required for this module"
The `"msg": "boto required for this module"` seems to make all aws support in ansible useless as the logic seems to be broken in too many places.

This is broken in both cases, even if you try to run via `local_action` or directly and I checked

[code]

This is happening on an OS X machine, and I verified that I have boto installed.

[code]

As you can observe from the playbook itself, it does als

[2016-03-17 12:50] puzan opened #15020 "Incorrect roles variables environment"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.1.0
  config file =
  configured module search path = Default w/o overrides
##### Ansible Configuration:

default
##### Environment:

N/A
##### Summary:

Default role variable is overwritten by other role declaration in `meta/main.yml` file. See `ert` variable in example. This bug was introduced in 2 version. Version 1.9.4 hasn't t

[2016-03-17 13:46] davidmc24 commented on #15007
@Constantin07 Thanks for the suggestion.  While this is useful in some cases (in that it allows the remainder of the playbook to continue processing), it should be noted that it doesn't match the original intent, which is that the module fail if-and-only-if it was unable to get the stack to the desired state.  My belief is that when `ignore_errors` is used, if there were a failure deleting the sta

[2016-03-17 14:01] AShabana commented on #13262
+1

[2016-03-17 14:03] saumets commented on #14965
Thanks for the quick fix!

[2016-03-17 14:07] Sodki commented on #14861
I wonder it boto3 has this issue. According to #13010 the support is coming with Ansible 2.1.

[2016-03-17 14:24] rfleschenberg commented on #14741
I am not familiar with Ansible's codebase, but I poked around with a debugger a little. I think the problem is here, or in some code more or less closely related to this:

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play_context.py#L365-L367

The `variables` mapping passed to the `set_task_and_variable_override()` method contains the keys `ansible_host` and `ansible_ssh_host

[2016-03-17 14:38] rfleschenberg commented on #14741
I think the problem is related to the `ansible_host` / `ansible_ssh_host` ambiguity. Only the new name `ansible_host` is present in `delegated_vars`, so the check on line 362 fails for `ansible_ssh_host` and the code falls through to line 365. Reversing the order of the tuple on line 53 so that `ansible_host` is checked first works around the problem, but I guess this applies to other deprecated v

[2016-03-17 14:45] ssbarnea commented on #10638
I even specified valid values of the the two variables and I still get the same error, using latest release of ansible (2.0.1.0)

So clearly the problem is in another place.

[2016-03-17 14:48] gbevan commented on #13894
+1
I have the same issue.  In my case I am providing a custom module pair, e.g.: mymodule.ps1 and mymodule.py in a lib folder pointed to by --module-path, and getting:

Results:
127.0.0.1 | FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "",
    "module_stdout": "/bin/sh: 1: powershell: not found\r\n",
    "msg": "MODULE FAILURE",
    "parsed": false
}

It is clearly ex

[2016-03-17 15:05] bpsuntrup opened #15022 "Documentation for creating modules needs clarification"
##### Issue Type:
- Documentation Report
##### Ansible Version:

[code]
##### Summary:

##### Steps To Reproduce:

Follow documentation to create a new module: http://docs.ansible.com/ansible/developing_modules.html.
##### Expected Results:

Expected everything to work smoothly
##### Actual Results:

When getting to the test-module command, a dependency error crops up:

[code]
##### Comment:

I wa

[2016-03-17 15:08] bcoca commented on #15022
jinja2 is an Ansible requirement , not sure why this needs to be part of module development when Ansible itself won't work.

[2016-03-17 15:08] marcpo commented on #14438
Also having the same issue. Seems this code is causing this behavior. In `lib/ansible/playbook/role/__init__.py`:

[code]

I also have different repro step related to conditionals in roles

[code]

---------- Run it as:---------------------
ansible-playbook -i localhost, playbook1.yml -v

The results: r1 is always skipped

Will get the proper result if the roles are inverted in playbook1.yml

[cod

[2016-03-17 15:57] bcoca commented on #14741
please confirm that #15024 resolves this issue for you

[2016-03-17 16:03] ccesario commented on #9784
@spunkzwy did you find any solution for this problem!?

[2016-03-17 16:09] Sodki commented on #14861
@bcoca I've commented on your PR with a fix for @butterbacho's issue.

[2016-03-17 16:38] jvervlied commented on #13485
I've noticed that this works in the 2.0.0.1 branch.

[2016-03-17 16:48] #14881 closed, assigned to nobody

[2016-03-17 16:54] rfleschenberg commented on #14741
Yep, #15024 works for me. Thanks!

[2016-03-17 16:59] bcoca commented on #14933
please confirm that  #15024  fixes this, i believe the issue was the bleeding out of ansible_ssh_host

[2016-03-17 16:59] jimi-c commented on #14766
@jaddison I agree, this seems to be a dupe of #14435, so we'll go ahead and close this.

Thanks!

[2016-03-17 17:00] #14766 closed, assigned to nobody

[2016-03-17 17:01] bcoca commented on #14720
so #15024 should fix this as it seems the ansible_ssh_user from the delegatedFOR host was bleeding into the vars for the delegated_to host

[2016-03-17 17:02] bcoca commented on #14677
see if #15024  fixes this for your, it should prevent ansible_connection from being incorrectly assigned

[2016-03-17 17:06] simonpie commented on #14933
Now the really stupid question.  How do I tests this ?  I need to use git ansible somewhere and change my path ?  I normally use brew.

[2016-03-17 17:19] bcoca commented on #14454
related to #14857, its an issue with first_found new pathing

[2016-03-17 17:24] bcoca commented on #14684
So i believe #15024 should fix this and apply the correct vars

[2016-03-17 17:24] bcoca commented on #14422
So i believe #15024 should fix this and apply the correct vars

[2016-03-17 17:25] bcoca commented on #14166
not sure if #15024 should fix this, but it probably is related to the same part of the code (delegated vars not being recalculated per item?)

[2016-03-17 17:26] ahawkins opened #15025 "Defined ansible_version variable overshadowed by main ansible_version"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

N/A
##### Summary:

I defined an `ansible_version` to indicate which version should be running on my machines. I planned to use this variable to install a specific version from PPA or PIP. I randomly considered that `ansible_version` may be a special variable. Turns out that it is

[2016-03-17 17:26] bcoca commented on #13421
So i believe #15024 should fix this and apply the correct vars

[2016-03-17 17:26] bcoca commented on #13134
So i believe #15024 should fix this and apply the correct transport

[2016-03-17 17:27] bcoca commented on #13017
So i believe #15024 should fix this and apply the correct user

[2016-03-17 17:27] milad-soufastai commented on #14511
+1

[2016-03-17 17:27] bcoca commented on #12577
So i believe #15024 should fix this and apply the correct become settings (either task ones or delegated host ones) and ignore the 'inventory_hostname' ones

[2016-03-17 17:42] udesilva commented on #8266
Perfect! I just changed the /usr/bin/python link to point to python2.6_64 in the same directory, though, and it was sufficient to get Ansible working correctly.

[2016-03-17 17:47] bcoca commented on #14933
or you can just apply the patch to your installation

[2016-03-17 17:49] saumets opened #15026 "Rare MySQLdb exception raised when remote host mysql client lacks SSL support!"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Environment:

OS X El Capitan 10.11.3
Ubuntu 14.04 LTS

But this could affect any random remote host.
##### Summary:

In the case where SSL support is requested with the mysql_db module, then all is fine and we should receive an exception.

The problem occurs in the rare case where a remote host machine's client library may not ha

[2016-03-17 17:54] Rthur opened #15027 "playbook output shows yum skips task used with_items"
**Issue Type:**
- Bug Report

**Ansible Version:**

[code]

**Ansible Configuration:**
Default

**Environment:**
N/A

**Summary:**

If yum is invoked using with_items, yum successfully evaluates the package but the output of the play shows it has been skipped.

**Steps To Reproduce:**

[code]

**Expected Results:**

Output should return ok or changed. In my test environment, I have used '*' or lis

[2016-03-17 18:05] simonpie commented on #14933
How do I apply a patch ?  Where do I get it ?  It does not show in brew for sure.

[2016-03-17 18:08] bcoca commented on #14861
so currently this seems like a bug in boto boto/boto#3109

[2016-03-17 18:09] jimi-c commented on #14784
I believe @dagwieers is correct, and the package name is incorect. The error message is clearly `"No Package matching 'ntpd' found available, installed or updated"`. My guess is that when some other packages are installed, the return code from yum is 0, however when no others are installed the rc is non-zero due to the incorrect package name.

[2016-03-17 18:16] jgrigonis commented on #14784
I realize now, that while ntpd is the right package name, you have to first
install rpmforge. I had commented out the rpmforge install task because of
another bug in ansible. Luckily that one was fixed, and this one should've
went away, but I destroyed the VM I was attempting this on anyway, and most
every other VM already had rpmforge.

Anyway, I think this is safe to close.

On Thu, Mar 17, 2016

[2016-03-17 18:17] jgrigonis commented on #14784
Although, if a single package among many is missing, 'skipping' is probably not the correct output, it should be failed.

[2016-03-17 18:20] #14800 closed, assigned to nobody

[2016-03-17 18:22] jimi-c commented on #14800
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-03-17 18:28] tima commented on #14881
Nice work. Thanks for your persistence @Linuturk.

[2016-03-17 19:12] arthurtsang commented on #14146
same here.

[2016-03-17 19:18] dejayc commented on #2769
I'm glad this "bug" was closed.  After all, you wouldn't want something that's encountered so often, and under such reasonable circumstances, to be handled sensibly by Ansible's YAML parser.

Please keep this feature deliberately confusing and broken, as it will help ensure my job security.  TIA!

[2016-03-17 19:20] jimi-c commented on #14829
This appears to be an issue with the ipv6 filter, which is returning a boolean rather than filtering addresses. As such, it's causing an error in the template code.

[2016-03-17 19:38] jimi-c commented on #14850
Looking over this, it may be something that is only fixable by allowing the loop variable to be set. I'll test this with that idea branch I had a while back to see if that resolves the issue.

[2016-03-17 19:51] jimi-c commented on #14854
Hi @anand-desai, could you test this in the stable-1.9 and stable-2.0 branches if possible? Unfortunately, I doubt a fix for this will be back-ported to the 1.9.x branch. However a lot of no_log-related changes were made recently in stable-1.9 so perhaps the issue was resolved there. Otherwise, I'd like to know if this is still broken in 2.0, in which case we would address it there.

[2016-03-17 20:00] jimi-c commented on #14877
As the task is marked as failed (but ignored), we don't fire the notify. I'd almost say this was a bug in 1.x instead.

[2016-03-17 20:05] jimi-c commented on #14877
After a quick internal discussion, we agree that the behavior in 1.x was a bad side-effect, as the task is marked as failed (even if it was also marked as changed), so no notification should have been triggered. Per your own discovery, the correct syntax for this is to use the combination of changed_when/failed_when you have.

If you continue seeing any problems related to this issue, or if you ha

[2016-03-17 20:06] #14877 closed, assigned to nobody

[2016-03-17 20:08] jimi-c commented on #14883
Hi @pzr, I believe you're running into this caveat: http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes

[2016-03-17 20:17] jimi-c commented on #14885
Hi @Theaxiom, I believe I may have fixed this last week or so when fixing other bugs. Running your example in devel today gives the following output:

<pre>
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
1 plays in test.yml
PLAY [Ansible test Run] ********************************************************
TASK [setup] **

[2016-03-17 20:25] adeck commented on #14422
Thanks, @bcoca . :)

I'll run the above M.W.E. with your patch later today or tomorrow and close this issue iff it works as expected (assuming the issue hasn't already been closed by someone else by then).

[2016-03-17 20:30] jimi-c commented on #14900
In future versions we will remove this, but for now it has simply been deprecated to preserve backwards compatibility with 1.x playbooks. In 2.1 (currently in devel), we have introduced the `!unsafe` data type for YAML, so you could do this: `- !unsafe groups`, which should prevent it from being templated. Unfortunately this is the only current workaround to this problem, as with_flattened recursi

[2016-03-17 20:39] jimi-c commented on #14919
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-17 20:39] #14919 closed, assigned to nobody

[2016-03-17 20:40] jimi-c commented on #14922
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-17 20:40] #14922 closed, assigned to nobody

[2016-03-17 20:40] jimi-c commented on #14927
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-17 20:40] #14927 closed, assigned to nobody

[2016-03-17 20:47] jimi-c commented on #14938
@progfou I agree with @bcoca on this. The host is a KVM by virtue of having its module loaded. Disabling this fact in this manner may break the use-case where people are provisioning new KVM hosts but which have no vms running yet. As such, we're going to go ahead and close this PR.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

[2016-03-17 20:47] #14938 closed, assigned to nobody

[2016-03-17 20:50] jimi-c commented on #14940
@dagwieers it sounds like this would be a use-case for local facts on the target machine, though there is the added overhead of having to put those in place first. As templating only occurs on the controller side, lookups are also only controller side. Anything that occurs remotely has always been done via facts modules (or additions to setup), or via local facts.

[2016-03-17 21:46] ThomasSteinbach commented on #13388
This issue could be closed as fixed as the corresponding PR was merged.

[2016-03-17 21:50] slimandslam opened #15029 "win_file cannot find Windows directories that start with a period"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:
##### Environment:

From: Macosx Yosemite
Managing: Windows Server 2012R2
##### Summary:

When trying to delete directory on Windows Server that starts with a period, it cannot find it.
##### Steps To Reproduce:

[code]

##### Expected Results:

.git directory is deleted
##### Actual Results:

[code]

[2016-03-17 21:56] progfou commented on #14938
Well, I can understand your point. But, speaking of virtualisation in such a generic way, all modern Linux servers should also be considered as LXC hosts! This certainly is a mater of view point, so I won't argue more and leave this bug closed. On my side, I'll simply continue to apply my mini-patch on my personal Ansible instance. Best regards.

[2016-03-17 21:58] holms opened #15030 "ansible-galaxy generates invalid .travis.yml"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### COMPONENT NAME
ansible-galaxy

##### Environment:

OSX El Capitan, macports, ansible installed from PIP
##### Summary:
- When launching `ansibley-galaxy init` it generates wrong .travis.yml file.
- Validating .travis.yml file produces this output:

[code]
##### Steps To Reproduce:

[code]
##### Expected Results:

Working `.travis.

[2016-03-17 22:00] bcoca commented on #15030
@chouseknecht

[2016-03-17 22:01] bcoca commented on #13388
@ThomasSteinbach you as opener can close it also, but doing so anyways

[2016-03-17 22:01] #13388 closed, assigned to nobody

[2016-03-17 22:18] dejayc commented on #13485
I'm gonna have to stick with Salt until this mess is sorted out.

Trying to achieve any sense of composability with Ansible remains a nightmare.

[2016-03-17 22:33] ThomasSteinbach commented on #13388
Oh sorry. That sounds reasonable but I haven't mentioned this. Thank you.

[2016-03-17 22:44] dejayc commented on #3245
You're better off not using prompt, because that would make it too easy for beginners to write sensible scripts.  And besides, why should Ansible be consistent with regards to where and when you're allowed to use certain keywords?

I think your main problem it that you're trying to write composable playbooks.  That's not a good idea if you want to ensure your job security.  It's better to copy and

[2016-03-17 23:00] wyaeld commented on #10594
@viper233 boto3 merged support for this a long time ago, in 0.0.11

Doesn't look to be anything blocking changes here

[2016-03-18 00:50] david-w-millar commented on #14913
Yep. Sorry about that!

[2016-03-18 01:03] goozbach opened #15032 "--start-at-step is broken in ansible 2.0.1"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

No changes
##### Environment:

CentOS 7 managing CentOS7
##### Summary:

--start-at-step switch doesn't work
##### Steps To Reproduce:

https://github.com/goozbach/ansible-steps

Use this playbook to execute the following command:

[code]
##### Expected Results:

The playbook would start at the 'bar' task a

[2016-03-18 01:12] pzr commented on #14883
I think something slightly weirder than
http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes
is going on.

Consider playbook_2.yml:

[code]

and tasks_2.yml:

[code]

These produce the expected output:

[code]

The reference to {{ item }} in playbook_2.yml is evaluated _before_ the with_items in tasks_2.yml, so the latter sees the correct value.

But in playbook.yml / tasks.yml

[2016-03-18 08:02] sloonz commented on #15020
Duplicate of  #14017 ?

[2016-03-18 08:02] sloonz commented on #14296
Duplicate of  #14017 ?

[2016-03-18 08:17] puzan commented on #15020
@sloonz Hi. Yes, I think it is the same issue.

I use following workaround for this case: set whole environment for repeated roles.

[code]

[2016-03-18 08:25] acsrujan commented on #11889
I had this issue. I had debian package installed as well as pypi. I removed debian package `sudo apt-get purge ansible` and it worked well.

[2016-03-18 09:11] StephaneBunel commented on #12170
+1

[2016-03-18 09:47] sloonz commented on #14017
`private_role_vars = yes` seems to be a possible workaround for this issue. Obviously not an option if `my_role` tasks need variables defined in the `user` role.

[2016-03-18 10:35] chouseknecht commented on #15030
@bcoca. Can you assign this to me, please. I'll submit a PR next week to clean it up.

[2016-03-18 10:52] dagwieers commented on #14865
No longer interested to pursue this...

[2016-03-18 10:52] #14865 closed, assigned to nobody

[2016-03-18 11:11] binarytemple commented on #14895
Also experiencing the same with Ansible 2.1 - output follows:

[code]

[code]

[2016-03-18 11:15] binarytemple commented on #14895
Upgraded to latest Ansible master using:

[code]

Still broken.

[2016-03-18 11:40] binarytemple commented on #14895
I replaced lines 212-216 of /usr/local/lib/python2.7/site-packages/ansible/parsing/vault/**init**.py
with the following, and the problem went away..

[code]

I'm using disk encryption anyway (like most developers who use OSX) so don't really care much whether the files have been shredded or not. In any event, skipping that block just means that the python '_shred_file_custom' function is called in

[2016-03-18 11:43] acsrujan commented on #15017
I hope you've installed 'xcode' before doing 'pip install ansible'. And also, setuptools installed.

I had same issue and resolved by installing xcode and setuptools.

[code]

[2016-03-18 12:46] abadger commented on #14895
Some googling has revealed this to be a bug in python 2 subprocess code,
recently fixed (no release yet). Since we have fallback code we should be
able to workaround this by catching valueerror as well as oserror.

[2016-03-18 12:54] #14895 closed, assigned to nobody

[2016-03-18 12:55] adegtyarev commented on #12233
+1 with that problem

No applicable workarround seems available, except starting instances using awscli or web console.

`all_instances = True` not working as expected.

[2016-03-18 13:04] abadger commented on #14895
Fixed and pushed to both the devel and stable-2.0 branches.

[2016-03-18 13:18] bjne opened #15034 "Variables expands as __omit_place_holder_CHECKSUM"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.1.0
##### Ansible Configuration:
##### Environment:
##### Summary:

When using default(omit) from a role dependency, the variables are later
expanded as __omit_place_holder_CHECKSUM
##### Steps To Reproduce:

meta/main.yml:

[code]

roles/foobar/defaults/main.yml

[code]

roles/foobar/tasks/main.yml

[code]

When foobar role is run

[2016-03-18 13:34] bcoca commented on #15017
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, it seems like you are trying to use python3

[2016-03-18 13:34] #15017 closed, assigned to nobody

[2016-03-18 13:35] bcoca commented on #15030
for some reason, I cannot

[2016-03-18 13:44] bcoca commented on #15020
closing as dupe then

[2016-03-18 13:44] #15020 closed, assigned to nobody

[2016-03-18 13:50] bcoca commented on #11889
So i'm going to close this as it does not seem like an Ansible bug but the result of installing conflicting versions.

[2016-03-18 13:50] #11889 closed, assigned to nobody

[2016-03-18 13:54] bcoca commented on #14741
closing via merged #15024

[2016-03-18 13:54] #14741 closed, assigned to nobody

[2016-03-18 13:56] leonty opened #15035 "ansible-playbook doesn't report error if the inventory file doesn't exist"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

No changes
##### Environment:

Ubuntu Server 15.10
##### Summary:

ansible-playbook doesn't report error if the provided inventory file doesn't exist.
##### Steps To Reproduce:

1) Create minimal play for an imaginary host:
test.yml

[code]

2) Run ansible-playbook for this play providing not existing file

[2016-03-18 14:07] selfsx commented on #14408
@JacquesDufour same for me on babun for windows

[2016-03-18 14:15] passw0rd123 commented on #13278
Same priviledge escalation issue with Ansible 2.0.1.0 on **Solaris 11.3 x86** servers.
While 2.0.0.2 works fine, `become: yes` at playbook level fails on 2.0.1.0...

[code]

[code]

[2016-03-18 14:17] amenonsen commented on #13278
@passw0rd123 Could you please post verbose debug output from a failing run? `ANSIBLE_DEBUG=y ansible-playbook -vvvvv ….`?

[2016-03-18 14:17] bcoca commented on #15035
`[WARNING]: provided hosts list is empty, only localhost is available` <= that is your indicator

[2016-03-18 14:34] leonty commented on #15035
I do not agree. These are different cases when no hosts matched for the play and if the file doesn't exist.
First is a configuration issue and not always a problem, for instance the play is for another inventory, say testing environment.
The second is just hiding the problem of an irrelevant environment (no access rights) or command line (mistype in the filesname), as if it just said "0 plays in t

[2016-03-18 15:14] passw0rd123 commented on #13278
@amenonsen I put it up on gist:
https://gist.github.com/passw0rd123/aa63b554bd136cbbe95d

[2016-03-18 15:28] tom-clx opened #15036 "Typos in ansible-playbook(1) man page"
##### Issue Type:
- Documentation Report
##### Ansible Version:

[code]
##### Ansible Configuration:

##### Environment:

FreeBSD 10.2, ports revision r411210
##### Summary:

I noticed a couple of typos in the ansible-playbook man page. Listed below:

[code]

Fix: s/deafult/default/

[code]

Fix: s/in a/is a/
##### Steps To Reproduce:

[code]

[2016-03-18 15:29] amenonsen commented on #13278
@passw0rd123 Thank you! I'll go through it and see if I can figure out what's wrong. Meanwhile, if anyone else can reproduce the problem, please feel free to post another gist.

[2016-03-18 15:35] #15036 closed, assigned to nobody

[2016-03-18 15:46] otisg commented on #14342
@sivel any chance you might consider reopening this?  We are hitting this issue as well.

[2016-03-18 15:48] sivel commented on #14342
`httplib2` must be installed on the target machine.  Additionally, as of ansible 2.1, httplib2 will no longer be a dependency of the `uri` module.

[2016-03-18 16:15] otisg commented on #14342
OK, thanks.  Since you mentioned 2.1 - is there a rough ETA?

[2016-03-18 16:36] jhawkesworth commented on #15029
Yaml and windows paths are tricky to mix.

I suspect you will find the following will work

[code]

or

[code]

If you are double quoting windows paths, I would recommend using double backslash for the path separator, because things like c:\temp can be interpreted as c:TAB_CHARACTERemp without the second \

Hope this means you can at least work around this problem.

Jon

[2016-03-18 16:37] amenonsen commented on #15026
Closed via #14924.

[2016-03-18 16:37] #15026 closed, assigned to nobody

[2016-03-18 16:56] mscherer commented on #15032
Maybe related to #15010 (as I expect they use the same code)

[2016-03-18 17:09] mengelmann commented on #13485
Any updates on this?

[2016-03-18 17:10] simonpie commented on #14933
Well I have tried a git clone of the ansible repo around 12h40 EDT on march 18.  And here is what I get :

[code]

I am not sure how to test this otherwise.

[2016-03-18 17:14] hryamzik commented on #14801
Your json is invalid, it should contain "hosts" key:

[code]

[2016-03-18 17:18] cloudscriptguy opened #15038 "--skip-tags option demands tags to be present in playbook"
##### Issue Type:

- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:
##### Environment:

CentOS 7
##### Summary:

--skip-tags option to exclude tasks with specified tags, cannot be run against playbook that do not have those tags
##### Steps To Reproduce:
- Create a simple playbook with a debug task without any tags
- Run this playbook with --skip-tags 'foo_bar'

[code]
####

[2016-03-18 17:26] bcoca commented on #15038
not a bug, it is done on purpose, either the wrong plays or tags were specified.

[2016-03-18 18:27] zozo6015 commented on #13895
I was having the same issues and it got fixed when I installed python on the remote machines.

[2016-03-18 18:35] jimi-c commented on #14955
High @DevOPS-Delivion, can you also included some details about your inventory?

[2016-03-18 18:42] jimi-c commented on #14957
Hi @watsonb, the documentation here (http://docs.ansible.com/ansible/intro_inventory.html) mentions where group_vars files should live:

<pre>
Tip: In Ansible 1.2 or later the group_vars/ and host_vars/ directories can exist in the playbook directory OR the inventory directory. If both paths exist, variables in the playbook directory will override variables set in the inventory directory.
</pre>

[2016-03-18 18:42] #14957 closed, assigned to nobody

[2016-03-18 18:51] cloudscriptguy commented on #15038
Thanks!
Does it make sense to add another option like `--skip-tags-no-check` that will not perform this check?

This will greatly help with automation where we need to run bunch of playbooks and specifically exclude only tasks that have the specified tags and run everything else.

[2016-03-18 19:02] pgporada opened #15039 "Docker module not pulling containers in Swarm"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

Ubuntu 15.10 trying to run commands against Centos7 vagrants
##### Summary:

I am trying to start, initially one, microservice in a Docker Swarm environment. To do this, I am using the docker module. The docker module does not pull containers for me. It tells me that the container

[2016-03-18 19:05] pgporada commented on #15039
I CAN get to work by having a shell task that pulls the containers for me first.

[code]

[code]

I think this is related to https://github.com/ansible/ansible-modules-core/pull/3035

[2016-03-18 19:19] bcoca commented on #15038
Well, this check is currently broken in 2.x (due to dynamic includes) but you can submit a `feature idea` ticket (if one does not already exist).

closing this ticket in any case as per above

[2016-03-18 19:19] #15038 closed, assigned to nobody

[2016-03-18 19:21] bcoca commented on #14955
this might already have been fixed by #15024, please test and confirm

[2016-03-18 19:44] d3matt commented on #13485
haven't seen any comments on my pull request that should fix this: https://github.com/ansible/ansible/pull/14650

[2016-03-18 20:18] johnarnold commented on #14318
Ping...

[2016-03-18 20:24] jkugler commented on #14316
Commenting, even though it's closed. 'yumrepo' shows up on this page: http://docs.ansible.com/ansible/yumrepo_module.html Granted, it says "New in 2.1," but it should not be listed in the official docs until 2.1 is actually released.

[2016-03-18 20:32] jimi-c commented on #14963
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-18 20:32] #14963 closed, assigned to nobody

[2016-03-18 20:34] marcosdiez opened #15040 "Task Errors json messages should be indented"
##### Issue Type:
- Feature Idea
##### Ansible Version:

[code]
##### Ansible Configuration:

nothing special
##### Environment:

not relevant
##### Summary:

Task Results are a hard to read. Even worse when modules contains a bug and fail/segfaults and we get a stacktrace. The latter is merged to one single line with a lot of \n in it.

Therefore I suggest ansible to pretty print and indent the o

[2016-03-18 20:41] dejayc commented on #13401
Getting this same behavior (with the same fix) for Ansible 2.0.1.0 on Yosemite, via sshpass.

It would be nice if ANSIBLE_SCP_IF_SSH could be made into an Ansible variable, similar to other Ansible SSH settings, per the following outdated conversation:

https://groups.google.com/forum/#!msg/ansible-project/tpk5aVkbO4g/FT4KnQ9z_c8J

[2016-03-18 20:44] pawel-yesware opened #15041 "ansible and route53 module health_check failed"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Environment:

running on osx
##### Summary:

I'm following this example below:
http://docs.ansible.com/ansible/route53_health_check_module.html#examples

but it fails with error

[code]
##### Steps To Reproduce:

[code]
##### Expected Results:

It should run just fine
##### Actual Results:

[code]

[2016-03-18 20:45] jimi-c commented on #14966
@ilyapoz we've actually talked about adding this functionality to the role definition itself, so that roles could be optionally downloaded if they weren't available locally. This would use the src value (as its used in requirements.yml) or Galaxy if src is not set.

[2016-03-18 20:50] jimi-c commented on #14970
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-18 20:50] #14970 closed, assigned to nobody

[2016-03-18 21:33] slimandslam commented on #15029
The tricky part is that hardly anyone documents these things.  :-)
Thanks for the tip.

J

[2016-03-18 22:51] DavidWittman opened #15044 "add ansible_managed to template lookup plugin"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

The variable `ansible_managed` is undefined when templating via the `template` lookup plugin.
##### Steps To Reproduce:

Create a template with `{{ ansible_managed }}` in it, then try compiling the template with `lookup('template', 'path/to/template.j2')`.

[code]

[2016-03-18 22:53] nitzmahone commented on #15032
Yep, duplicate of #15010

[2016-03-18 22:53] #15032 closed, assigned to nobody

[2016-03-18 23:09] mgamboa commented on #15017
Well apparently is solved installing xcode because is needed the gcc , but in the instructions are no mention at all of it so ansible guys please include on the instructions that is needed Xcode to install ansible

[2016-03-18 23:18] tersmitten opened #15045 "Unable to import role under personal user account instead of organization"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

I'm unable to import (new) roles under my user account (tersmitten). In Github the role path is Oefenweb/ansible-fonts, but I want to import to tersmitten/fonts in galaxy. This is because all my other roles (+/- 100) are under tersmitten too. Is there any way to d

[2016-03-19 02:29] bcoca commented on #15044
the variable is ONLY available through the template task plugin and not for any lookup or other uses of templating.

[2016-03-19 02:57] DavidWittman commented on #15044
Yes, and I believe that is a bug. At the very least, I'd be open to documenting this behavior if you aren't willing to consider it one.

[2016-03-19 03:00] bcoca commented on #15040
if there is an exception, it is already printed in multiple lines (before failed task output) when using the proper verbosity. using a test module that just throws an exception:

[code]

[2016-03-19 03:02] bcoca commented on #15044
No, it was intentional.

[2016-03-19 03:21] bcoca commented on #14933
@simonpie you are mixing ansible versions there. In  my testing this now works, so unless I get contradicting information I'll be closing this ticket soon.

[2016-03-19 03:24] bcoca commented on #14720
closing this as my testing shows this as fixed by the PR above

[2016-03-19 03:24] #14720 closed, assigned to nobody

[2016-03-19 03:36] #14861 closed, assigned to bcoca

[2016-03-19 03:37] bcoca commented on #14677
closing via merged #15024

[2016-03-19 03:37] #14677 closed, assigned to nobody

[2016-03-19 03:37] bcoca commented on #14684
closing via #15024

[2016-03-19 03:37] #14684 closed, assigned to nobody

[2016-03-19 03:39] bcoca commented on #13421
closing via merged #15024

[2016-03-19 03:39] #13421 closed, assigned to nobody

[2016-03-19 03:39] bcoca commented on #13134
closing via merged #15024

[2016-03-19 03:39] #13134 closed, assigned to nobody

[2016-03-19 03:40] bcoca commented on #12577
closing via merged #15024

[2016-03-19 03:40] #12577 closed, assigned to bcoca

[2016-03-19 03:41] bcoca commented on #14955
closing via merged #15024

[2016-03-19 03:41] #14955 closed, assigned to nobody

[2016-03-19 03:48] bcoca commented on #14980
for the python modules we use a default 'no_log' flag on password options

[2016-03-19 03:55] bcoca commented on #14961
Ansible replaces the file (atomically) to avoid data corruption and race conditions. With this permission setup it would need to write to the file directly as a stream (updating in place), which is prone to cause issues and is the reason we avoid it.

[2016-03-19 03:57] bcoca commented on #11711
closing via mergted https://github.com/ansible/ansible-modules-core/issues/3245

[2016-03-19 03:57] #11711 closed, assigned to nobody

[2016-03-19 04:02] bcoca commented on #14960
This is caused by the script module being a 'raw' command, we just run it via ssh directly and do not use python on the target machine to capture the results.

Since this is 'pure' ssh on execution, ssh returns all of it into stdout on the 'local' machine even if on the remote the output is to stderr. I don't believe we can do much here unless we want to remove the capability of running the script

[2016-03-19 04:41] bcoca commented on #14959
try with this patch:

[code]

[2016-03-19 04:44] bcoca commented on #14953
can you test with 'localhost' in inventory with -vvvv and show the output?

[2016-03-19 04:50] bcoca commented on #14916
should be fixed with #15024

[2016-03-19 04:50] bcoca commented on #14958
should be fixed with #15024

[2016-03-19 04:58] Javex opened #15047 "Add backup field to template return values"
##### Issue Type:
- Feature Idea
##### Ansible Version:

[code]
##### Environment:

N/A
##### Summary:

Return `backup` key for template module.
##### Steps To Reproduce:

Run a task like this:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2016-03-19 05:00] bcoca commented on #14981
this is really a side effect of #14166, closing as dupe

[2016-03-19 05:00] #14981 closed, assigned to nobody

[2016-03-19 05:00] bcoca commented on #14897
this is really a side effect of #14166, closing as dupe

[2016-03-19 05:00] #14897 closed, assigned to nobody

[2016-03-19 05:03] bcoca commented on #11705
this might be solved by #15024

[2016-03-19 05:06] bcoca commented on #11860
closing as this now works in devel and 2.0.1 as expected

[2016-03-19 05:06] #11860 closed, assigned to nobody

[2016-03-19 05:08] bcoca commented on #8464
fixed in current devel via #15024

[2016-03-19 05:08] #8464 closed, assigned to nobody

[2016-03-19 05:10] bcoca commented on #15047
`backup_file` is the key we return  in copy and other modules, not sure why template does not return it as it uses copy under the hood.

[2016-03-19 05:11] bcoca commented on #15047
also, backup_file should only return on change

[2016-03-19 05:44] haridas commented on #14953
@bcoca Updated the issue with playbook output for inventory with `localhost` in it. Please check it.

[2016-03-19 08:08] amenonsen commented on #13278
So I can see what the problem is (at least in your case):

[code]

I can't imagine why doing "ssh host cmd" would result in a prompt. @bcoca has some explanation, but I didn't understand it, and I haven't been able to reproduce it by, e.g., opening a persistent interactive ssh connection and then executing commands separately and so on. (I don't even know if command restrictions in .ssh/authorized

[2016-03-19 08:13] amenonsen commented on #13278
Oh, the quoting is wrong:

[code]

So we've seen that some su's will ignore the `-c /bin/sh` and try to execute whatever's specified to the second `-c`. I had never seen it dropping you into a shell, but the above command is clearly not right anyway, and we should fix that. But I thought we had applied a patch for this already? @bcoca, any thoughts?

[2016-03-19 09:19] ilyapoz commented on #14966
Yeah that sounds simpler now that I think of it :)

[2016-03-19 12:06] simonpie commented on #14933
Hello,

I can confirm it works.  It's just that we have to reinstall many things to use the a version downloaded with git as it cannot find the binaries installed by brew.  Hopefully the update, it will show up in brew soon.

Thank you.

[2016-03-19 12:50] amenonsen commented on #13278
Oh, maybe it's ignoring the _second_ `-c` and just executing `/bin/sh`. That would indeed explain a prompt.

[2016-03-19 12:51] amenonsen commented on #13278
I would love to hear from any of the other people who have been having the same problem, so far I have only one complete debug log for this (thanks again to @passw0rd123).

[2016-03-19 13:59] jimi-c commented on #14655
The other option is to instead set the environment on the tasks where you need it. Most likely there are just a few places where it is actually required to set the path.

[2016-03-19 14:10] ssbarnea commented on #13600
The so called "fixing" of the wrongly assumed hardcoded location of python interpreter doesn't really work and here is why: Imagine that we do have an ansible playbook that has its purpose to configure the current machine (localhost). You cannot really know if the current machine is going to be an OS X one, or another one which means that you cannot really define a custom `ansible_python_interpret

[2016-03-19 14:42] hryamzik opened #15048 "local_action equivalent as a task and block parameter"
##### Issue Type:
- Feature Idea
##### Summary:

Local_action equivalent as a task and block parameter.

Let's say you have multiple tasks that should be run locally. Specifying local_action for each task takes time. You may also have different scenarios and require local task execution only in part of them. So having a bool type option would be nice.

[2016-03-19 14:46] sivel commented on #14953
From what I can see it looks like you are running Ansible out of a virtualenv called `ENV`, is this correct?

When Ansible uses the implicit localhost (not listed in inventory) it will use the Python binary in the venv (by using `sys.executable`) requiring that httplib2 be installed in the venv.

When you specify localhost in the inventory without `ansible_python_interpreter` it will utilize `/usr

[2016-03-19 16:58] #14678 closed, assigned to jimi-c

[2016-03-19 17:02] jimi-c commented on #14678
Closed per the above commit Thanks!

[2016-03-19 17:15] jimi-c commented on #12692
@bratzelk if I understand the issue correctly, I believe there is no workaround - the remote temp directory is set for the entire run and isn't changed per-task.

[2016-03-19 17:19] jimi-c commented on #11692
We're looking at addressing the --start-at-task issue via static includes. See here for more details: https://groups.google.com/forum/#!topic/ansible-devel/9aJaoVeRdOg

[2016-03-19 17:19] jimi-c commented on #13323
@pujan14 could you please create a new issue for this? It most likely has a different root cause.

[2016-03-19 17:20] passw0rd123 commented on #14519
This `RESET_VARS` behavior broke some of my playbooks too. I especially used `ansible_ssh_user` or now `ansible_user` as default values in the role defaults or group_vars when you e.g. want to configure login-users shell environment. So you don't need to change this on most servers with different logins...

A possibillity to get the login username was quiet useful. Is there a reason for resetting

[2016-03-19 17:24] jimi-c commented on #14461
@sadams this will be included in 2.0.2, it didn't make the cutoff for 2.0.1.

[2016-03-19 17:28] jimi-c commented on #14321
We have added the ability to set the terminal colors for messages in devel (2.1), and as such we will go ahead and close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-

[2016-03-19 17:28] #14321 closed, assigned to nobody

[2016-03-19 18:03] jimi-c commented on #14324
Hi @dcodix, it looks like my improvements recently to the PlayIterator have fixed this bug in devel. With the most recent commit:

<pre>
# ansible-playbook -vv main2.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: main2.yml ************************************************************
1 plays in main2.yml
PLAY [myname] ******************************************************************
T

[2016-03-19 18:40] passw0rd123 commented on #13278
@amenonsen You're welcome! If you need further information I can look into it on monday.
I can reproduce this su issue with 2.0.1.0 on an Solaris 11.2 (instead of 11.3) Vagrant Box (on VirtualBox) after setting a password for root, perhaps this helps?

https://atlas.hashicorp.com/dariusjs/boxes/solaris_11_2

[2016-03-19 18:50] mengelmann commented on #13485
Just for reference: as @jimi-c wrote in #14650, the PR won't be included because there is an idea how to fix the issue with handlers in a different way, as discussed in the thread https://groups.google.com/forum/#!topic/ansible-devel/9aJaoVeRdOg

[2016-03-19 20:49] bcoca commented on #13600
@ssbarnea in the case of 'localhost' we use sys.executable which should have been set on install of Ansible on that platform in the bin/ansible script (by setuptools or the package manager).

[2016-03-19 20:53] bcoca commented on #15048
you already have this: `connection: local`

[2016-03-19 20:53] #15048 closed, assigned to nobody

[2016-03-19 22:37] oliver commented on #14426
Here's a debug log of `ANSIBLE_DEBUG=y ansible all -m ping -vvvvv` where the problem occurs: https://gist.github.com/oliver/e5a24a5b37c0006bb220

This is with Ansible 2.0.1.0-1ppa~precise on Ubuntu 12.04, connecting to a Debian 8.2 VM running on the local host (so network problems are unlikely). I'm using `become=True` and `become_method=su`, and have added the root password in the `hosts`file wit

[2016-03-20 01:12] thiagotalma commented on #9526
@bcoca Please, reopen this issue and solve this...... :disappointed:

[2016-03-20 02:07] bcoca commented on #14426
@oliver in your case it seems a mismatch on expected output, `Passwort:` is not getting matched with the su i18n prompt handler.

[2016-03-20 05:13] sergeytsivin commented on #9526
While @bcoca's PR doesn't mitigate the problem, there's a workaround that my team successfully uses: just set the `remote_tmp` to be somewhere on the `/vagrant` folder.

[2016-03-20 06:30] haridas commented on #14953
Yes, I'm running in a virtualenv.

I checked the `/usr/bin/python`, it has `httplib2` installed. As till `ansible 2.1

[2016-03-20 06:43] haridas commented on #14953
Yes, I'm running in a virtualenv, and the ENV doesn't have `httplib2` installed. I installed it and tried to run the playbook without including `localhost` in the inventory, it works for me. From `-vvvv` I can see the uri command picked up correct `python` path from ENV.

[code]

I checked the `/usr/bin/python`, it has `httplib2` installed. As I can see, till `ansible 2.1` the `uri` module have re

[2016-03-20 09:13] mikeys commented on #14752
Probably related:

`meta.yml`:

[code]

Produces the following error

[code]

[2016-03-20 09:49] oliver commented on #14426
@bcoca Good catch (and a good argument against using i18n on a server)!
Unfortunately it still doesn't work if I set $LANG to an empty string and set the default locale on target system to None. I have updated the Gist and it now shows the "Password:" prompt which should be recognized but still leads to a timeout.

[2016-03-20 15:03] abadger commented on #11821
Fixed and changes pushed to devel, stable-2.0 and stable-1.9 branches

[2016-03-20 15:06] abadger commented on #11821
Here's the commit on devel (of the ansible-modules-core repo: https://github.com/ansible/ansible-modules-core/commit/d71b9bae893e5cb860eb7717af93d00363b3890c )

[2016-03-20 15:06] #11821 closed, assigned to nobody

[2016-03-20 15:10] #14472 closed, assigned to nobody

[2016-03-20 15:10] #14475 closed, assigned to jimi-c

[2016-03-20 15:10] jimi-c commented on #14475
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-03-20 15:11] jimi-c commented on #14472
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-03-20 15:42] abadger commented on #14283
Working on old tickets... I was still unable to reproduce this:

[code]

I tried both from Fedora 23 to ubuntu14 and from ubuntu14 to localhost.

I note that the locale setting you're showing me (en_IN) does not have an encoding specifier.  I'm not sure how ubuntu generates locale settings... perhaps without an encoding specifier, the locale is in a single byte encoding that cannot handle all unic

[2016-03-20 16:17] ssbarnea commented on #6466
Why is this issue closed? It is clearly not fixed and very important.

[2016-03-20 16:43] jimi-c commented on #14017
Hi @Rylon, I corrected some issues with roles this morning and it appears that this issue has been resolved as well. After running your example, I have the following users created (output from `getent passwd`):

<pre>
mrbashshell:x:1003:1003:Mr Bash Shell:/home/mrbashshell:/bin/bash
someone:x:1004:1004:Mr Someone:/home/someone:/bin/bash
mrfalseshell:x:1005:1005:Mr False Shell:/home/mrfalseshell:/b

[2016-03-20 16:43] #14017 closed, assigned to nobody

[2016-03-20 16:44] jimi-c commented on #14296
@fabianfreyer after fixing #14472/#14475 this morning, your example works as expected:

<pre>
# ansible-playbook -vv playbook.yml -i inventory
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: playbook.yml *********************************************************
2 plays in playbook.yml
PLAY [all] *********************************************************************
TASK [setup] ************

[2016-03-20 17:07] Rylon commented on #14017
@jimi-c thanks very much! In which version of Ansible will the changes including this fix be released?

[2016-03-20 17:32] abadger commented on #9823
This seems to be fixed in devel (In my extremely limited testing, in 2.0.1.0 as well) but there's a new bug.  The command line flag always overrides the setting of ansible_sudo_pass in the inventory (it does not override the setting of ansible_become_pass in inventory so that's a valid workaround).

I've got a potential fix for that behaviour.  I'll push it as a PR momentarily.

[2016-03-20 17:45] abadger commented on #9823
Closing this bug as the behaviour here has been fixed in current 2.x.  Please watch PR #15055 if the new buggy behaviour I discovered is also an issue for you.

[2016-03-20 17:45] #9823 closed, assigned to nobody

[2016-03-20 17:52] shammellee opened #15056 "allow omitted spaces for nested loop dictionaries"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Environment:

Ubuntu 14.04
##### Summary:

**Works:**

[code]

---

**Doesn't Work:**

[code]

[2016-03-20 18:37] sivel commented on #14953
Closing per the above info

[2016-03-20 18:37] #14953 closed, assigned to nobody

[2016-03-20 18:58] bcoca commented on #14426
I believe the issues is on the 'su' prompt handling side (though it works for me in my tests).

[2016-03-20 20:14] bcoca commented on #8383
so not implementing this feature directly, now modules that do backups return the 'backup_file' key so this allows a user to use fetch/slurp to retrieve the backup and keep it in a centralized location.

since ansible itself is 'decentralized' it does not make much sense to build this in, providing the info should be enough for this to be implemented as needed, so I'm going to close this ticket.

[2016-03-20 20:14] #8383 closed, assigned to nobody

[2016-03-20 23:50] ktosiek commented on #13753
@mcameron no, they have to change to the new style :-)

[2016-03-21 03:30] weiyu10 commented on #9784
@ccesario I didn't any solution for this problem.

[2016-03-21 04:14] jimi-c commented on #14296
So I have the C/D example from @jjshoe's example working, however I'm not sure if it's a "correct" fix. The reason this is happening because only the current role's defaults override all other roles, but role `z` has no defaults, so `d` (being the last role read) wins. The solution is to have the role defaults look up the dependency chain, which means `z` would also grab `c`'s defaults when compil

[2016-03-21 05:34] jimi-c commented on #14017
These should be included in 2.0.2.

[2016-03-21 07:52] cyxxx commented on #14664
failed: [ansible-test1] => {"failed": true}
msg: unsupported parameter for module: deb

didnt worked for me, I guess package or pkg or name should be the right, but I got also (still) the same errors..

fatal: [testsystem] => failed to parse: SUDO-SUCCESS-uutlfvrdibcjzzxpopccemsazyjehsye
Traceback (most recent call last):
  File "/home/XXX/.ansible/tmp/ansible-tmp-1458546406.72-55121988074891/apt"

[2016-03-21 09:29] cenadmin commented on #14363
Put an empty marker like following

marker: ""

It won't overwrite

[2016-03-21 09:57] ssbarnea commented on #14781
Can we please reopen this? I really don't think that the current behavior can be considered acceptable. The "Skipping task due to undefined Error, in the future this will be a fatal error" is clearly a good candidate for a UX hall-of-shame.

[2016-03-21 10:15] mathieumd opened #15061 "Regression: roles dir is no more found when plays are in a subfolder"
##### Issue Type:
- Bug Report
##### Ansible Version:

Issues started with commit db1d153, but is still present with the most recent devel.

[code]
##### Environment:

N/A
##### Summary:

When playbooks are stored in a subfolder, roles are no more found. Up until commit d89d795 is was working, but since db1d153 it is no more.

[code]
##### Steps To Reproduce:

Move your playbooks into a subfolder,

[2016-03-21 11:59] fdemmer commented on #14161
@bcoca

can you please clarify, whether templates in subdirectories are supported?

with 1.9 i had this role:

[code]

the template is in `rolename/templates/settings/secret.py.j2` so it matches the pattern `rolename/templates/<file>`, but only if `<file>` may contain a relative path.

can i still organize my templates in subdirectories?

[2016-03-21 12:09] Labutin opened #15063 "] in the end of hostname"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible --version
ansible 2.0.1.0
  config file =
  configured module search path = Default w/o overrides
##### Ansible Configuration:

Default
##### Environment:

Mac OS
brew install ansible
##### Summary:

Look at this output

root@109.234.x.x SSH: ANSIBLE_TIMEOUT/timeout set: (-o)(ConnectTimeout=10)
root@109.234.x.x SSH: PlayContext set ssh

[2016-03-21 12:31] gbevan opened #15064 "Powershell version of custom module being executed on Linux instead of the python version in Ansible 2.0.1.0."
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.1.0
##### Ansible Configuration:

--module-path to a custom library folder
##### Environment:

From Ubuntu 14.04 LTS, in this case targetting Ubuntu (specifically not Windows for this issue)
##### Summary:

I am providing a custom module pair, e.g.: mymodule.ps1 and mymodule.py in a lib folder pointed to by --module-path, with Ansi

[2016-03-21 12:42] lobsterdore commented on #5463
This is still an issue for me, I have come up against this multiple times recently and have had to resort to nasty workarounds to get things working nicely.

[2016-03-21 12:45] dagwieers commented on #6227
@apollo13 Indeed, this doesn't seem correct. It's only masking the problem.
I am debugging a problem where a UTF-8 document has CP1252 characters mixed into it.
Obviously the input is incorrect, but it shouldn't be interpreted as UTF-8, or being masked like this.

Using:

[code]

is probably better if the error is going to be silenced.

[2016-03-21 12:59] wcharpentier commented on #13262
+1

[2016-03-21 13:43] bcoca commented on #14701
closing via merged #15065

[2016-03-21 13:43] #14701 closed, assigned to nobody

[2016-03-21 13:50] mcameron commented on #13753
Which style is 'new'?

[2016-03-21 14:00] jcranky commented on #10182
Which ansible version includes this fix? I'm using `ansible 2.0.1.0` and this is still happening. Took me a while to understand the problem.

[2016-03-21 14:10] OwenTuz opened #15067 "EC2 dynamic inventory script should vary cache file when using different AWS profiles"
PR below, just creating an issue to tie it to. This is based on the latest version in the 'devel' branch.

The EC2 inventory script currently caches AWS API lookups in "<configurable cache_path>/ansible-ec2.cache".

For those of us who manage multiple AWS accounts, this is a problem as if I run the inventory script in account A, then in account B within the cache expiry time (5 minutes by default)

[2016-03-21 14:18] stevejarvis commented on #13361
@bcoca Why is this not a bug? Following the directions [here](http://docs.ansible.com/ansible/intro_installation.html#running-from-source) end in error for us. I see the same going from 1.9.2 -> 2.0.1 on Centos6.

[2016-03-21 14:27] Labutin commented on #13401
I have same issue.
After
export  ANSIBLE_SCP_IF_SSH=y
I have another issue :( https://github.com/ansible/ansible/issues/15063

[2016-03-21 14:32] xmj commented on #13278
Reproduced with ansible 2.0.1.0 on FreeBSD 11.0-CURRENT against hosts running FreeBSD.

[2016-03-21 14:46] amenonsen commented on #13278
@xmj debug output, please? `ANSIBLE_DEBUG=y ansible-playbook -vvvvv …`

[2016-03-21 14:50] pbuckley commented on #12013
+1 it seems like this bug also shows up when trying to have uri module connect to an https AWS API gateway endpoint that was setup according to these docs: https://boto3.readthedocs.org/en/latest/reference/services/apigateway.html#APIGateway.Client.create_domain_name

[2016-03-21 14:54] Yannik opened #15070 "synchronize module hangs indefinitely when synchronizing between 2 remote hosts"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

default
##### Environment:

fedora
##### Summary:

The synchronize module hangs indefinitely if used to synchronize a file between two remote hosts with the delegate_to option.
##### Steps To Reproduce:

This is the task I am using:

[code]

Doing this, I want to copy from `HOST:/test` to `/test` of the inv

[2016-03-21 15:10] jhawkesworth commented on #15064
Hi @gbevan any chance you could share your playbook?  If it involves delegating I believe there may have been a relevant fix recently in latest development version.

[2016-03-21 15:20] selble commented on #14961
That makes sense, but wouldn't it be possible to simply move the new file (presumably in a temporary location) to the original location instead? Provided that the temporary and destination locations are on the same file system, that should also be an atomic operation, yes? If if they are not the same file system, perhaps Ansible could revert to the current behavior.

The quick-and-dirty alternativ

[2016-03-21 15:26] gbevan commented on #15064
Hi @jhawkesworth , in this case there is no actual playbook - just running the module directly from ansible command, e.g.:

[code]

[2016-03-21 15:31] bcoca commented on #14986
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 15:31] #14986 closed, assigned to nobody

[2016-03-21 15:31] bcoca commented on #14990
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 15:31] #14990 closed, assigned to nobody

[2016-03-21 15:32] bcoca commented on #14987
closing as this is just 2.0 not ignoring invalid syntax

[2016-03-21 15:32] #14987 closed, assigned to nobody

[2016-03-21 15:40] bjne opened #15071 "Unpredictable variable expansion when using role dependencies"
##### Issue Type:
- Bug Report
  ##### Ansible Version:
  2.0.1.0
  ##### Ansible Configuration:
  ##### Environment:
  N/A
  ##### Summary:
  Variables passed with role dependencies are resolved in a "random" order, and
  the wrong/cached variables expanded
  ##### Steps To Reproduce:
  clone:
  https://github.com/bjne/ansible_role_dependency_bug

ansible-playbok play.yml
##### Expected Results:

[2016-03-21 15:45] towolf commented on #13956
@jimi-c, is it a good time to revisit this issue? We have a PR prepared that largely ameliorates this issue.

PR #13957 reverses the group_vars file lookup by making a directory listing first and checking against that instead of hitting the file system for thousands of file stats.

This shortens the parsing of our group-heavy inventory from over 20 seconds to 8 seconds.

[2016-03-21 15:48] #15071 closed, assigned to nobody

[2016-03-21 16:03] bcoca commented on #14997
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:03] #14997 closed, assigned to nobody

[2016-03-21 16:06] bcoca commented on #15007
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:06] #15007 closed, assigned to nobody

[2016-03-21 16:06] bcoca commented on #15013
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:06] #15013 closed, assigned to nobody

[2016-03-21 16:06] bcoca commented on #15015
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:06] #15015 closed, assigned to nobody

[2016-03-21 16:07] bcoca commented on #15016
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:07] #15016 closed, assigned to nobody

[2016-03-21 16:07] bcoca commented on #15039
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:07] #15039 closed, assigned to nobody

[2016-03-21 16:07] bcoca commented on #15041
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:07] #15041 closed, assigned to nobody

[2016-03-21 16:19] sparkvilla opened #15073 "win_chocolatey error: "The package was not found with the source listed""
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

My `ansible.cfg` file:
    [defaults]
    hostfile = ./hosts

My `hosts` file:
    [win_clones]
    windows ansible_host=172.18.4.16 ansible_password="pass"

My `group_vars/win_clones` file:
    ansible_user: diego
    ansible_port: 5986
    ansible_connection: winrm
    ansible_winrm_server_cert_validation

[2016-03-21 16:20] bcoca commented on #15064
cc @nitzmahone @abadger

[2016-03-21 16:25] bcoca commented on #15073
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 16:25] #15073 closed, assigned to nobody

[2016-03-21 17:21] chriscollinsboxuk commented on #9526
I'm also experiencing this issue - the workaround of setting `remote_tmp` does not work for me. In some cases I've been able to replace one copy with two, but other issues are more difficult to fix without making the playbook less readable (e.g. I'm experiencing the issue when using `lineinfile`).

[2016-03-21 17:30] vmorris commented on #5564
I'm hitting this issue today as well.

2 years later, and if this is a feature as @jsengla suggests, let's point people to the documentation:
http://docs.ansible.com/ansible/playbooks_filters.html
http://jinja.pocoo.org/docs/dev/templates/#builtin-filters

I managed to work this out, but it wasn't obvious... perhaps add something to the with_items documentation?

[2016-03-21 17:41] ktosiek commented on #13753
The more structured one, tags: [a, b, c]

Dnia 21 marca 2016 14:51:56 CET, Max Cameron notifications@github.com napisał(a):

##

Wysłane za pomocą K-9 Mail.

[2016-03-21 17:58] bcoca commented on #14999
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 17:58] #14999 closed, assigned to nobody

[2016-03-21 18:00] bcoca commented on #15019
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-03-21 18:00] #15019 closed, assigned to nobody

[2016-03-21 18:04] bcoca commented on #15027
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-21 18:04] #15027 closed, assigned to nobody

[2016-03-21 18:07] bcoca commented on #15045
You want to open a ticket here: https://github.com/ansible/galaxy-issues

[2016-03-21 18:07] #15045 closed, assigned to nobody

[2016-03-21 18:30] gvenka008c commented on #13681
@here @robinro @bcoca I am getting the error as shown below while running ansible-pull

MacBook-Pro:tmp gvenka008c$ ansible-pull -U git@github.com:XPlat/caps-sps.git -d /var/tmp/caps-sps --inventory=/var/tmp/caps-sps/jenkins_mesos/ansible/inventory --key-file=/Users/gvenka008c/.ssh/gvenkatesan -m git /var/tmp/caps-sps/jenkins_mesos/ansible/jenkins_mesos_slave.yml --limit hostname.sys.net

Starting

[2016-03-21 18:30] artburkart opened #15075 "ansible-pull depth=1 and `--no-single-branch`"
##### Issue Type:
- Feature Idea
##### Ansible Version:

[code]
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

According to the [git clone](https://git-scm.com/docs/git-clone) documentation for the `--depth` option:

This means that with the current implementation of `ansible-pull`, I cannot take advantage of the default [`depth=1`](https://github.com/ansible/ansible/blo

[2016-03-21 18:32] gvenka008c commented on #15014
@here... any updates?

[2016-03-21 18:36] gvenka008c commented on #15075
@artburkart I am getting the below error while running ansible-pull with a mix of static and dynamic inventory. Any thoughts?

TASK [setup] *******************************************************************
fatal: []: FAILED! => {"changed": false, "failed": true, "module_stderr": "sudo: a password is required\n", "module_stdout": "", "msg": "MODULE FAILURE", "parsed": false}

Here is how I call t

[2016-03-21 19:04] tersmitten commented on #15045
I will do that. Thanks

[2016-03-21 19:41] sergeytsivin commented on #9526
Just to clarify the case where `remote_tmp` workaround helped:

I am running vagrant with virtualbox 4.3 on Windows 7 host with Ubuntu 14.04 as guest. Ansible 2.0.1.0 is installed on the guest and I am running the `ansible-playbook` command from within the guest. The target host is described in inventory as having ansible_connection=local

Any `template` command with destination file on `/vagrant`

[2016-03-21 19:43] ajaybhatnagar opened #15076 "Grou_vars not checked for defined or undefined in When conditions in tasks:"
##### Issue Type:

##### Ansible Version:

[code]
##### Ansible Configuration:

##### Environment:

##### Summary:

[code]

##### Expected Results:

##### Actual Results:

[code]

[2016-03-21 21:22] zfletcher opened #15077 "Ad hoc usage of ec2_tag module results in AttributeError: 'str' object has no attribute 'items'"
Sorry, dupe opened under wrong account.

[2016-03-21 21:45] srkiNZ84 opened #15079 "sns_topic module "fails" new topic creation on empty "subscriptions" argument"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

hash_behaviour = merge
##### Environment:

Running from: OS X
Managing: Ubuntu 14.04 LTS
##### Summary:

Despite the documentation specifying that the "subscriptions" argument is not required by the module, leaving it out results in the following error (after the AWS SNS object has been created for the firs

[2016-03-21 22:05] srkiNZ84 commented on #15079
Crap, just realised I should have created this in the "ansible-modules-extras" repo...

[2016-03-21 22:06] srkiNZ84 commented on #15079
Moved to: https://github.com/ansible/ansible-modules-extras/issues/1889

[2016-03-21 22:06] #15079 closed, assigned to nobody

[2016-03-21 22:07] zfletcher commented on #15077
FWIW, this works fine:

[code]

[2016-03-21 22:15] yoshiwaan commented on #14959
Doesn't seem to make a difference for me. I'm on Centos and installed via epel yum package (/usr/lib/python2.6/site-packages/ansible/module_utils/basic.py) and pip (/usr/lib/python2.7/site-packages/ansible/module_utils/basic.py) on different systems. I made the patch to both and neither behaved differently using the test play I posted above.

I can't find anywhere else I could patch this so I'm gu

[2016-03-21 22:21] #15077 closed, assigned to nobody

[2016-03-21 22:21] IPvFletch opened #15080 "Ad hoc usage of ec2_tag module results in AttributeError: 'str' object has no attribute 'items'"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
:
When trying to set a tag using module 'ec2_tag', set fails with an error. I have tried several different variants to escape ' or " and to use ' or " to surround the tags field and for the entire -a attributes value field. I stepped through the c

[2016-03-21 22:22] zfletcher commented on #15077
Sorry, dupe opened under wrong account.

[2016-03-21 22:29] yoshiwaan commented on #14959
If it's not just me patching incorrectly then I've found out some more info.

I changed the test play to the following (with or without the patch it's the same):

[code]

and get this result from the debug output

[code]

The path is set to what I set in the play and nothing else. It's never going to find the yum binary if that's the case, so somehow this error is also masking some sort of file no

[2016-03-22 00:08] rharrison10 commented on #11038
I haven't found the feature for 2.x in the docs. Could you help me with a link. Wonderful improvement I'd love to use it, especially in testing!

[2016-03-22 00:26] amenonsen commented on #15067
Closed via #15068.

[2016-03-22 00:26] #15067 closed, assigned to nobody

[2016-03-22 01:12] apolloclark opened #15082 "BUG: Amazon ec2 instance is always created, unless instance_id is set"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:
##### Environment:

Ubuntu 15.10 Wily Werewolf
##### Summary:

Using the AWS ec2 config "state: present", will always create a new instance, unless "instance_id" is set. Instances should ONLY be created when an instance cannot be found with identical settings.
##### Steps To Reproduce:

[code]
##### Expected

[2016-03-22 01:13] #15082 closed, assigned to nobody

[2016-03-22 02:33] bcoca commented on #15080
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-22 02:42] IPvFletch commented on #15080
Thanks @bcoca !

[2016-03-22 03:09] senorsmile commented on #11038
@rharrison10 see the most recent ansible.cfg at:
https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

and the list of available callbacks built in here:
https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/callback

In short, make sure you uncomment the following
#callback_whitelist = timer, mail

and then add 'profile_tasks' to the list

For example, this my

[2016-03-22 04:53] kevinburkerengin opened #15083 "Ansible not enabling pipelining despite attempting to enable it three different ways"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Here's my ansible.cfg

[code]
##### Environment:

Running on a Mac, attempting to deploy to a Ubuntu 15.10 instance.
##### Summary:

I'm trying to get Ansible's pipelining feature to work, since currently a playbook with 130 plays takes about 5 minutes and 30 seconds for me. Unfortunately it doesn't appear

[2016-03-22 04:53] #15083 closed, assigned to nobody

[2016-03-22 05:14] mickael-ange opened #15084 "Problem with handlers when reusing role in playbook"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

n/a
##### Environment:

Running Ansible from Ubuntu 14.04
Managing OS: CentOS 7
##### Summary:

When reusing a role in playbook, a handler is not using expected role's variable value within the handler task.

(I'm not sure if it is the expected behavior or not. I'm suspecting that variables used in handlers

[2016-03-22 06:10] precurse opened #15085 "Provisioning SmartOS with "packages" module fails when specifying "with_items""
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Nothing changed in ansible.cfg
##### Environment:

##### Summary:

I've found that using the "package" module along with "with_items" when provisioning a SmartOS machine fails. Either pkgin needs to be explicitly used, or packages have to be called one-by-one without (with_items:)
##### Steps To Reproduce:

[2016-03-22 06:30] robinro commented on #13681
Dear @gvenka008c

your problem is unrelated to this issue, so it shouldn't be discussed here but in a separate thread.
Nevertheless some comments:
- the problem in this issue (double 127.0.0.1 and localhost) is fixed in ansible 2.0.1.0, please update your ansible version
- while your output shows the 127*, localhost doubling, this is unrelated to your problem
- the error message you get is fairly

[2016-03-22 06:58] robinro opened #15087 "Refactor facts.py os version detection"
##### Issue Type:
- Bug Report
##### Ansible Version:

devel
##### Summary:

facts.py at the moment has up to 12 levels of indentation in the code that determines the os release. This is barly readble and should be cleaned up. see
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L486

Also one could rewrite it a little to separate readline files in /etc/*release from

[2016-03-22 07:21] xmj commented on #13278
@amenonsen I saw this error yesterday with Ansible `2.0.0.2` and `2.0.1.0`,  both with `become_method = su` AND `become_method = sudo` on hosts running FreeBSD `10.2-RELEASE` and `10.3-BETA3` ---- but managed to overwrite the logfiles (no, I didn't try all possible combinations).

Today I haven't been able to reproduce it again -- seems like something that occurs with sudo and a sudoers file witho

[2016-03-22 07:24] sam95 commented on #6919
Faced the same issue. Get's resolved just by doing this
I used a vagrant machine with ip `192.16.33.20`

[code]

When asked for the password type in `vagrant`
After that ansible works great

[2016-03-22 07:47] robinro commented on #14837
I don't know what's going wrong there. I ran the code with your `/etc/SuSE-release` as input and got the correct answer (with distribution_release==4).
I found one bug in the process (see #15088). The parse doesn't stop once a version is found but continues to look for other files. Please check whether #15088 fixes your problem.

If not, could you step through the code to see which statement actua

[2016-03-22 08:44] hryamzik commented on #6189
@nfubh do you mean `{{ defaults }}`? Mine is empty even inside a role.

@bcoca what if you have to iterate over variables matching pattern?

[code]

Or you have to deal with defaults for other host.

[2016-03-22 08:48] TimoKramer opened #15089 "custom facts file not returning properly the valid json from a bash script when unicode characters present"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

nocows=0
##### Environment:

managing from Ubuntu 15.10
managing debian 7 wheezy machines
##### Summary:

I built a custom facts module in bash and it returns valid json. When I redirect the stdout of this bash script to a new facts-file then I can gather the facts perfectly fine. But the scripted-facts-fil

[2016-03-22 08:51] TimoKramer commented on #15089
the problem on serverfault: http://serverfault.com/questions/765119/ansible-custom-facts-returning-string-not-array

[2016-03-22 08:56] lipanski opened #15090 "Using Display() to print custom messages to a local connection"
##### Issue Type:
- Bug Report
- Question
##### Ansible Version:

[code]
##### Environment:

Ubuntu 14.04
##### Summary:

I run a set of custom modules which are ment for local connections.

I was trying to use [Display()](https://github.com/ansible/ansible/blob/00b8b4911203724f5fdc6631240a62c0ac924a6f/lib/ansible/utils/display.py) to print out some custom output - ideally in **real-time**.
#####

[2016-03-22 08:56] paavoap commented on #14837
Using your branch, I get the correct values for SP3 and SP4. Don't have others available right now.

[code]

Good work. Thanks!

[2016-03-22 10:52] anismaj commented on #13588
you need to disable SELinux

setenforce 0

[2016-03-22 10:58] preethi29 opened #15091 "Ansible 2 not availabe in epel 6-8 repo."
##### Issue Type:

- Bug Report
##### Ansible Version:

[code]
##### Summary:

Ansible 2.0 rpm is not available in epel 6-8 repo yet. It is available only from epel 7 repo. Is it expected?
We want to install ansible in one of our prod envs. We tried using pip but it requires gcc to be installed. We dont want install any compiler in our prod env.

[2016-03-22 11:59] mcameron commented on #13753
Hey @galaxydevelopers, you heard it hear first: there's a new specification in town, it's been finalised in a github comment on a closed issue, now go and change your modules. _sigh_  Hope you can see how this negatively affects the experience for ansible end users.

[2016-03-22 12:18] TimoKramer commented on #15089
Now I know it is a problem with encoding. As soon as there is a umlaut somewhere ansible interprets the stdout of my bash script as long string and not as array.

[2016-03-22 14:36] tspycher opened #15092 "In Ansible Tower "AttributeError: 'str' object has no attribute 'get'" on Job run"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Default
##### Environment:

CentOS 7
##### Summary:

Gettin the following error when run an Job Template in Ansible Tower. Jobs of type check do work without any error:

[code]

[2016-03-22 15:25] vallettea commented on #14125
Can anyone at ansible consider giving an explanation about how to deal with tags in the 2.0 ? I provided some code samples.

[2016-03-22 15:41] nikut opened #15093 "Regression: Ansible 1.9.5-1 does not load group or host variables"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Default
##### Environment:

Control host CentOS 5.11 or OS X 10.11.3, managed host is not relevant
##### Summary:

Ansible 1.9.5-1 does not load group or host variables from the inventory at all. This is a regression from 1.9.4-1.
##### Steps To Reproduce:

This is a synthetic test case but the same occurs

[2016-03-22 16:00] bcoca commented on #15090
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- IRC: #ansible-devel on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project
- mailing list:

[2016-03-22 16:00] #15090 closed, assigned to nobody

[2016-03-22 16:10] vnaum commented on #15010
For me adding --start-at-task="task2" causes whole playbook being skipped:

[code]

[code]

[2016-03-22 16:11] abadger commented on #15091
We don't directly package ansible for the EPEL repositories.  However, we do have a close relationship with the maintainers there.  The plan is to have Ansible-1.9.x available in the epel stable updates repository and ansible-2.x available in the updates-testing repository for a while (The current thinking is until ansible-2.1.0 is released (end of April) but it may happen a bit sooner if it seems

[2016-03-22 16:11] #15091 closed, assigned to nobody

[2016-03-22 16:31] nitzmahone commented on #15010
@vnaum your sample only has one play though- if you add another play to the end of the playbook (like mine) you should see the same behavior (only the first play is skipped)

[2016-03-22 18:07] danehans opened #15096 "ansible_distribution fact does not work for CoreOS"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

No changes to default settings.
##### Environment:

OS Running Ansible:

[code]

OS Being Managed:

[code]
##### Summary:

The ansible_distribution fact does not work for CoreOS:

https://gist.github.com/danehans/dc7081b4ac5dfe857cfe#file-coreos_ansible_facts-L99-L102

Even with the development branch, the

[2016-03-22 19:12] #14837 closed, assigned to nobody

[2016-03-22 19:47] chasrmartin opened #15098 "parsing yaml for arguments incomplete"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

##### Environment:

Mac OS/X targeting a Vagrant ubuntu/trusty64 box.
##### Summary:

Building a custom module in ruby. The varaibles file created for a slightly complicated YAML isn't as expected.
##### Steps To Reproduce:

[code]

##### Expected Results:

Resulting variables file:

[code]

##### Actual Re

[2016-03-22 20:02] roller commented on #14481
First, I think it may be confusing issues a bit to be using "roles" as directory names in this example.  Ansible roles are a feature, but this example only uses the Include feature.

I wonder if this is a documentation bug: the documentation doesn't seem to be consistent with itself on the topic of includes and handlers:

While the [playbook_roles.html doc](http://docs.ansible.com/ansible/playbook

[2016-03-22 20:13] sivel commented on #15098
I think what you want is to put the following into your module code:

[code]

Then instead of getting the `key=value` type of arguments, you will get an actual JSON string in the file provided on argv1

[2016-03-22 20:16] roller commented on #14481
There's more [discussion in the google groups](https://groups.google.com/forum/#!topic/ansible-devel/9aJaoVeRdOg) about issues with dynamic includes.

Setting the handler_include_static config in `ansible.cfg` seemed to have no affect with 2.0 (it's proposed for 2.1):

[code]

Edit: s/helped/had no affect/
Edit: version

[2016-03-22 20:29] chasrmartin commented on #15098
Sounds great, but how can it be invoked from Ruby?

[2016-03-22 20:35] sivel commented on #15098
That is all you need to do.  Place the following comment in your custom ruby module:

[code]

Ansible looks into all modules for certain strings.  When ansible sees `WANT_JSON` it will trigger the path to give your custom module a file on argv1 containing JSON instead of `key=value`.

See the following example for how to write a module in ruby:

https://github.com/ansible/ansible-for-rubyists/blob

[2016-03-22 20:36] bcoca commented on #15092
for Ansible Tower please go to http://support.ansible.com or email support@ansible.com

[2016-03-22 20:36] #15092 closed, assigned to nobody

[2016-03-22 20:46] nhooey opened #15099 "Ansible 2: Trailing newline added when referencing stdout_lines[x]"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]

(Sensible version found in Ansible 1.9.4, as the highest released version)
##### Ansible Configuration:

(none)
##### Environment:

N/A
##### Summary:

When you set a fact to the value: `command_output.stdout_lines[0]`, a newline is appended to the end of its value. When you set a fact to the value `command_output.stdout_lines[0][-1]`

[2016-03-22 21:06] chasrmartin commented on #15098
On Tue, Mar 22, 2016 at 2:37 PM, Matt Martz notifications@github.com
wrote:

I'll be damned.

Is that documented anywhere in the Ansible documentation?

[2016-03-22 21:11] sivel commented on #15098
Not really.  It is documented under developing modules for Windows as powershell modules are included in ansible.

I'll leave this open as a docs report to see about getting additional documentation created around this.

[2016-03-22 21:15] chasrmartin commented on #15098
Well, I think the bug is still a real biug, although this is a nice
workaround.

On Tue, Mar 22, 2016 at 3:12 PM, Matt Martz notifications@github.com
wrote:

[2016-03-22 21:18] sivel commented on #15098
I'm not sure I consider it a bug.  The `key=value` format of an args file is really there for languages that don't support JSON.  `WANT_JSON` is not a workaround.  If the language supports JSON, then `WANT_JSON` is the correct way to get arguments.

[2016-03-22 21:33] chasrmartin commented on #15098
Well, the key-value returns a string that doesn't correspond to the
yaml input.

On Tue, Mar 22, 2016 at 3:20 PM, Matt Martz notifications@github.com
wrote:

[2016-03-22 21:33] rgroten opened #15100 "yum_repo module link broken"
##### Issue Type:
- Documentation Report
##### Ansible Version:

n/a
##### Ansible Configuration:

n/a
##### Environment:

n/a
##### Summary:

yum_repo module link is broken on http://docs.ansible.com/ansible/list_of_all_modules.html likely because yum_repo module was renamed to yum_repository.  This link works: http://docs.ansible.com/ansible/yum_repository_module.html
##### Steps To Reproduce:

[2016-03-22 21:53] bcoca commented on #15100
it works for me, are you sure you don't have a cached page?

[2016-03-22 22:22] COLABORATI opened #15101 "Documentation: please put documentation for all versions online."
I can not find the documentation for old versions of ansible - this is horrible. Please fork the Django documentation and use it as a base for the ansible docs before releasing new versions.

Thank you very much for your attention!

[2016-03-22 22:26] COLABORATI opened #15102 "Documentation: please add a search to the docs"
The docs have no search function, at least I can not find one. It is annoying to use a search engine for this, too much noise, also it would be a very good feature to limit the search to certain versions of ansible.

Please fork the Django documentation before releasing new versions.

Until you have that done, you could setup a google custom search or similar feature to enable some minimal search

[2016-03-22 22:27] bcoca commented on #15085
package is passing a list to the underlying modules, pkgin expects a string it splits into a list, though it does not specify a string or list in the spec.

I'm pushing a fix that makes pkgin declare the type as list and it will handle strings or lists correctly by default.

[2016-03-22 22:29] bcoca commented on #15085
test PR above to confirm the fix

[2016-03-22 22:29] akatch opened #15103 "Handlers delegated to a list of items fails when "with_items" is provided with a fact"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

A common workflow is to delegate a task to a list of hosts, like so:

[code]

In 1.x, this works in both regular tasks and in handlers. In 2.x, tasks work fine but handlers fail with (in this example) "ERROR! groups is undefined". This seems to be the case if any

[2016-03-22 22:51] dagwieers commented on #15063
Would you happen to have something in your _/etc/ssh/ssh_config_ or _~/.ssh/config_ that could explain this ?

[2016-03-22 22:53] sivel commented on #15102
The documentation site at https://docs.ansible.com/ansible does already have search enabled.  In the bottom right corner of every page there is a "Search this site" button:

<img width="383" alt="screenshot 2016-03-22 17 51 24" src="https://cloud.githubusercontent.com/assets/39340/13970479/f30636d8-f056-11e5-8b39-b5e0905cb506.png">

[2016-03-22 22:53] #15102 closed, assigned to nobody

[2016-03-22 22:54] lqueryvg commented on #5564
+1 for me too

It's counter-intuitive to see a data structure dump with a `debug: msg=` task.

Why not have an extra option on the task (e.g. "`terse: yes`") so that this can be suppressed when using a `with_` loop?

[2016-03-22 22:55] sivel commented on #15101
Hosting documentations for older versions of ansible is on the todo list.  In the mean time, the contents of the documentation site is located in github at https://github.com/ansible/ansible/tree/devel/docsite/rst and can be browsed there.  By selecting a different branch or tag from the "Branch" dropdown, you can browse the documentation for old versions.

[2016-03-22 22:55] #15101 closed, assigned to nobody

[2016-03-22 23:19] bcoca commented on #14961
@selble ansible already does that, it tries to move into place from tmpdir, if that does not work it copies file to same directory, which is where it is failing in this case.

[2016-03-23 00:06] cthiemann opened #15104 "1.9.5: cannot use "name" as a role parameter anymore"
1.9.5 introduced a regression where "name" is now overriding the value of "role" when including roles with parameters:

[code]

[code]

`git bisect` tells me that it was introduced by commit a05df83 "Merge pull request #14565 from dagwieers/fix-role_params-merge_hash"

[2016-03-23 02:20] rgroten commented on #15100
Hmm you're right, must have been cached on my side like you said.  Thanks @bcoca

[2016-03-23 02:20] #15100 closed, assigned to nobody

[2016-03-23 02:34] ryanwalls commented on #5463
+1, I have this problem as well.

[2016-03-23 02:37] ryanwalls commented on #12071
This is still a problem for me in v2.0.1.0-1

[2016-03-23 02:53] pleexy-dev opened #15107 "when host name is the same for two nodes, Ansible runs the task on the first node several times and don't run it on other nodes"
##### Issue Type:

- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

##### Environment:

##### Summary:

When hosts file contains two nodes with the same ansible_ssh_host but different ansible_ssh_port, ansible-playbook that is started from jenkins job run tasks on first node several times and doesn't run it on other nodes
##### Steps To Reproduce:

Here is a definition of

[2016-03-23 03:06] sivel opened #15108 "Investigate the test_module_utils_basic__log_invocation failures"
We had an issue with run_tests.sh that was masking some unit test errors.  This was fixed in https://github.com/ansible/ansible/pull/15105

However, I was unable to determine the cause to why `test_module_utils_basic__log_invocation` was failing, and at the recommendation of @abadger I have temporarily skipped this test.

It seems that the order in which the `Invoked with` message is built changes

[2016-03-23 04:16] jxn commented on #10594
@MasseGuillaume & @wyaeld iam_policy and iam roles are both in ansible as of 2.0, and can manage users, groups, and policies.

[2016-03-23 04:24] Labutin commented on #15063
cat  /etc/ssh/ssh_config | grep -v "^#"

[code]

ls -l ~/.ssh/config

ls: /Users/dmtrylabutin/.ssh/config: No such file or directory

[2016-03-23 04:25] Labutin commented on #15063
ssh -V

OpenSSH_6.9p1, LibreSSL 2.1.8

[2016-03-23 04:32] jxn opened #15109 "allow iam group assignment without wiping out all other groups"
##### Issue Type:
- Feature Idea
##### Ansible Version:

[code]
##### Ansible Configuration:

NA
##### Environment:

NA
##### Summary:

It's currently impossible to assign an IAM group to a user without wiping out all other groups.  The only way to assign groups is in an iam module task:

[code]

However, this always wipes existing groups, losing data for existing users if you don't already know a

[2016-03-23 05:59] eoli3n opened #15110 "ansible-pull IP address matching in hosts file"
##### Issue Type:
- Feature Idea
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

N/A
##### Summary:

I want to use ansible-pull mode. I have ~800 nodes, and dns is not managed properly.
I want to use local.yml, and run tasks on hosts group.
My hosts file is defined by IP addresses.
But ansible-pull just test if node's HOSTNAME is matching.
##### Steps To Rep

[2016-03-23 06:03] akatch commented on #15103
Made some edits for clarity.

[2016-03-23 07:44] #14794 closed, assigned to nobody

[2016-03-23 08:35] jpalomaki commented on #15093
We also ran into this (ansible not loading variables in `/path/to/inventory/group_vars/foo/main.yml`) and had to revert to 1.9.4. This sort of thing should really be part of ansible's release testing.

[2016-03-23 09:08] nikut commented on #15093
Agreed, this is an absolute showstopper. Frankly I'm a little shocked that this kind of thing can get through unnoticed, it does not say good things about the release testing process. Also disappointing to see no activity on an issue like this for 17 hours.

[2016-03-23 09:13] djmattyg007 opened #15113 "Arch Linux packaging files are woefully out of date"
The Arch Linux PKGBUILD (found [here](https://github.com/ansible/ansible/tree/devel/packaging/arch)) is woefully out of date, and isn't really necessary. The link in the README.md file in that folder points to a package that no longer exists, as Ansible has been in the official repositories for over two years. Also, the PKGBUILD is for v1.6, which is itself almost two years old.

Is there any reas

[2016-03-23 09:26] vallettea commented on #14125
For my side of the problem, I finally understood what was going on. If your top task (immoviz and common) in the example I provided have a tag and you use `ansible-playbook all.yml -t immoviz`, ansible still plays the `setup` of the common but none of the inner tasks are executed.

[2016-03-23 09:43] fgimian commented on #13262
Huge +1 right here, this would take Ansible to a whole new level :smile:

[2016-03-23 10:09] gitolathe opened #15115 "meta:refresh_inventory does not resolve EC2 dynamic inventory properly."
##### Issue Type:

- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

N/A
##### Summary:

The included playbook create two instances on AWS EC2 and then wait for them to spin up, performs the shell task `shell: ./ec2.py --refresh-cache` to update the cached dynamic inventory followed by a `meta: refresh_inventory` task to update the in-memory inven

[2016-03-23 10:48] write2kishore opened #15116 "Avoiding module_name, module_complex in json output"
When running a playbook that eventually generates a json file, I am seeing the module_name, module_complex_args, etc. like this:-

"{'invocation': {'module_name': u'sl', 'module_complex_args': .....

where as when run the same book in a different environment of my colleague's, it doesn't show these. How can I also avoid these things? Why am I only getting these strings? What does it depend on?

Th

[2016-03-23 11:14] dainiax commented on #13818
Same problem Ansible 2.0.1.0

[2016-03-23 11:17] tyouxa commented on #15010
In my case (ansible 2.0.1.0 OS X 10.11.3)

[code]

**ansible-playbook -i hosts front.yml --start-at-task='two' -kK**

[code]

**ansible-playbook -i hosts front.yml --start-at-task='six' -kK**

[code]

But, when start play from first task all ok

**ansible-playbook -i hosts front.yml --start-at-task='one' -kK**

[code]

[2016-03-23 11:23] milouse opened #15117 "Handlers are silently ignored when included in a playbook"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

Running from an up-to-date Archlinux

Managing a grape of LXC containers running Debian Wheezy inside Debian Wheezy hosts.
##### Summary:

Until ansible 2.0, I used to maintain a "global" handlers file, which contains very generic handlers like apache restart, monit restart etc. u

[2016-03-23 12:01] ghost commented on #6189
@hryamzik Sorry, I don't remember exactly.. Anyway, I restrained myself later on from playing around too much with all these internals.

[2016-03-23 12:09] fpoli commented on #11620
+1

[2016-03-23 12:35] Nosmoht commented on #14405
Can confirm the behavior with Ansible 2.0.1.0 and Archlinux.

My setup is a little bit different as i don't run a role more than once as a dependency of another role. Instead i have two roles service1 and service2 which both have a dependency to role db.

Code together with current and expected result can be found here: https://github.com/Nosmoht/ansible-dependencies-test

[2016-03-23 12:41] jimi-c commented on #15108
I have been trying to avoid making new tests skip for py3, unless we have a really good reason. Is this failing on devel or stable-2.0? I had disabled it on 2.0 but it was working fine on devel.

[2016-03-23 13:09] sivel commented on #15108
This was on devel.  On py2.x the failure was due to the order of args changing in each `Invoked with` message, so the `assert_called_with` never matched.

On py3 this was failing for a completely different reason in that it was saying `baz` was an invalid argument for the module.

You can see both sets of failures on the following build:

https://travis-ci.org/ansible/ansible/builds/117867179

Thi

[2016-03-23 13:16] osielczakd opened #15119 ""ERROR! no action detected in task" when running main.yml with includes"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

module search path = /etc/ansible/custom_modules/
##### Environment:

CentOS Linux release 7.2.1511 (Core)
##### Summary:

when I run main.yml (either as a separate playbook or using the main site.yml) I get an error `"ERROR! no action detected in task":`
All the playbooks included run fine on their own
###

[2016-03-23 13:32] fbarriere commented on #14259
Hi,

   found the minimum testcase to trigger the problem. See the attached zip file. It contains three inventory files (to put in the same folder to be used as inventory). It contains a dynamic inventory file and two static files. I don't understand if there is something forbidden, and the error is not very explicit...

François.

[testcase.zip](https://github.com/ansible/ansible/files/186063/tes

[2016-03-23 14:09] bcoca commented on #15119
This is not a bug,  you have a couple of issues.

First you are putting a play in a role's tasks/main.yml, this is also not supported, roles are inside plays and plays cannot be included inside other plays.

The second issue is similar to the first, you are including 2 plays directly inside the play you defined in the role.

[2016-03-23 14:09] #15119 closed, assigned to nobody

[2016-03-23 14:16] mariuszdev commented on #1238
Is it possible to set /bin/bash as a default shell for all tasks using shell module or modules which are invoked ? `executable = /bin/bash` in ansible.cfg doesn't work. My problem is that I am installing npm using module in first task. The next task (which uses npm module) can't find npm command.

[2016-03-23 14:16] bcoca commented on #15113
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-03-23 14:16] #15113 closed, assigned to nobody

[2016-03-23 14:21] abadger commented on #15108
I'm not sure how this ever worked on python3.3+ because dictionaries and other hashables get a random seed added with every new interpreter run.  But it is passing locally (python-3.4.4).  On python-2.7 (and rhel's 2.6 as a security backport), this is controlled by an environment variable PYTHONHASHSEED.

We could explicitly sort the params before constructing the message to make this more testabl

[2016-03-23 14:41] sivel commented on #15108
It was the "not sure how this ever worked" that made me pause and not include my fix.

The fix was using `sorted(log_args)` in basic.py and updating the expected string in the tests to match.

[2016-03-23 15:39] abadger commented on #15108
Fixed for python2 here: d3583108eca98f72b9b4898a5cc5e9cf1cacf251  Updated the test to check the message in pieces rather than all at once.

Python3 actually has deeper issues because we're transforming all the parameters to bytes as that's what we've always sent on python2 (so it's backwards compatibility).  For Python3, we may want to revamp this so that the parameters are interpreted as text typ

[2016-03-23 15:39] #15108 closed, assigned to nobody

[2016-03-23 16:15] xmfe opened #15123 "Mention become flags in man page, ansible(1)"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

"ansible 2.0.1.0(-1~bpo8+1)"
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The man page, ansible(1), refer to "become" for things being deprecated, but doesn't mention the -b flag.
##### STEPS TO REPRODUCE

$ man ansible | grep become
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[ansible.1.asciidoc

[2016-03-23 16:31] #15123 closed, assigned to nobody

[2016-03-23 16:33] ssbarnea commented on #13278
I got the same with ansible 2.0.1.0 while trying to provision a clean Debian 8.3 on EC2. Obviously that I configured the `ansible_user=admin` but I was not expecting to have something else to to in order pawn the machine.

[2016-03-23 16:46] selble commented on #14961
@bcoca, thanks. Perhaps I'm being dense, but why is Ansible failing when I can succeed in copying the file from the command line?

[code]

Is it also trying to preserve the permissions on the file (which would indeed fail)?

[2016-03-23 16:53] MrMMorris commented on #13262
running `2.0.0.2`, this seems to be working @aturetta

[2016-03-23 17:04] jbouzekri commented on #15093
Same on 2.0.1.0 : #14945.

@nikut : you say 17h. Try more than 10 days ...

Sad. It has blocked the development of my team deployment tasks.

[2016-03-23 17:06] abadger commented on #14961
At this point you're copying but top make it atomic you have to try moving
the temporary file instead.  That's where the permission setup falls down.

[2016-03-23 17:41] preethi29 opened #15126 "Fetch hangs indefinitely for large file when sudo is yes"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 6.5
##### SUMMARY

Ansible fetch command hangs indefinitely only for large file when sudo is yes. It works for small files with sudo: yes. I had to make sudo:no to make it work. The file that it tries to fetch was around 345 MB.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The file should have

[2016-03-23 17:45] selble commented on #14961
@abadger, right, and it fails on the move, as it should, but I was questioning this part of Brian's reply:

Basically, I was questioning if it couldn't be done atomically, would it revert to doing it in a non-atomic way, which it should be capable of, but doesn't seem to do.

[2016-03-23 17:48] abadger commented on #15093
As a temporary workaround, if you are able to reference the hosts file directly instead of referencing the directory that it is inside of, then it will work.  Figuring out what the difference between those two cases is now.

[code]

[2016-03-23 17:50] ssbarnea opened #15127 "Unable to remove requiretty from /etc/sudoers on clean Debian machines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
2.4.2

##### SUMMARY

I was trying to take control of a brand new Debian 8.3 machine (AWS, Debian official AMI) via ansible. The default user is `admin`, the ssh key is present but it seems that is impossible to get root access on this machine without manual intervention which really sucks as is against automati

[2016-03-23 17:52] abadger commented on #15093
git bisected to this commit:  ab18fd2171482859bebc84072471fa086ea3489c

_EDIT_: pasted the wrong hash.  This is the problem commit: e856ac2320d4bd2e8559d7e214241ec55f29325f

[2016-03-23 18:15] ssbarnea commented on #15019
@bcoca closing bugs with copy and past is going to help with building a community goals. That's  valid bug report, not a but.

The fact that ansible assumes that python 2 is installed on `/usr/bin/python` is a bug, quite a critical one.

[2016-03-23 18:24] jbouzekri commented on #14945
As in #15093, it should be a bug with a high priority as it breaks fully the inventory and group_vars feature. Any update please ?

[2016-03-23 18:24] abadger commented on #15093
@jbouzekri I just checked and this bug is not present on 2.0.1.0 or devel.  So looks like these are separate bugs.

[2016-03-23 18:25] jbouzekri commented on #15093
@abadger : but look at the referenced bug report #14945. It seems it is almost the same issue no ?

[2016-03-23 18:27] abadger commented on #14945
Inventory is not fully broken.  If you could narrow this down into a simple reproducer that uses debug to show what variables aren't being defined because some portion of inventory vars aren't getting read in like was done in #15093, it would help to get eyes on this sooner.

[2016-03-23 18:28] jbouzekri commented on #14945
What do you mean ? Launch the command with `-m debug` ?

[2016-03-23 18:32] jbouzekri commented on #14945
Do you want the full ansible playbook in a dedicated repository to test it ?

[2016-03-23 18:36] abadger commented on #14945
@jbouzekri Ah -- maybe your test case is simple enough.... Does it still occur if your inventory file has:

[code]

That'll be much easier to test than trying to puzzle through setting up vagrant to reproduce this.

[2016-03-23 18:37] jbouzekri commented on #14945
@abadger : I think I understand what you mean :

ansible -i inventory/dev/hosts shop -m debug -a var="hostvars['weenect.dev']"

[code]

ansible -i inventory/dev/hosts backend -m debug -a var="hostvars['weenect.dev']"

[code]

ansible -i inventory/dev/hosts backoffice -m debug -a var="hostvars['weenect.dev']"

[code]

[2016-03-23 18:41] jbouzekri commented on #14945
Just tested it with localhost and still the same issue :

ansible -i inventory/dev/hosts backoffice -m debug -a var="hostvars['localhost']"

[code]

You can see that `deploy_source_folder` has the value `backend`

[2016-03-23 18:56] wevanscfi commented on #9337
Would just like to add to this, it would be nice if ansible is capturing SIGINT within a block to exit to the rescue and always sections. This will allow manually interrupting a play, and still having error handling run.

[2016-03-23 19:16] bcoca commented on #14961
because that can lead to data corruption of the file itself and/or processes that read it.

[2016-03-23 19:36] abadger commented on #15093
After comparing current code in stable-1.9 to code in devel I think that commit e856ac2 is wrong.  The limit bug that was intended to fix is because something is not looking at runner.basedir (the equivalent of 2.x's vars['playbook_dir']).   e856ac2 is modifying the basedir found for inventory rather than the one found for playbooks so it is doing the wrong thing.  I'm going to revert that now in

[2016-03-23 19:57] bcoca commented on #15116
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-03-23 19:57] #15116 closed, assigned to nobody

[2016-03-23 20:02] guhcampos opened #15128 "Setup module never runs when using variables external roles paths in a playbook"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Happens on Mac (10.11) and Linux (RHEL7.1)
##### SUMMARY

If any variable is used while referencing a role, both in a playbook or in a `roles/someroles/meta/main.yml`, an error: `ERROR! 'ansible_env' is undefined` is shown before anything else.
##### STEPS TO REPRODUCE
1. Create a new playbook
2. Create a variable

[2016-03-23 20:23] selble commented on #14961
I get that. I took your prior comment to mean that if the move failed, it'd revert to a copy (non-atomic) operation. I get the concern about data loss, but why not at least offer it as an option, with the appropriate warnings? As it stands now, to give a non-root user the ability to write anything into /etc, we must loosen the permission on /etc as a whole, even if that user would otherwise have p

[2016-03-23 20:25] bcoca commented on #14961
it might be an option soon https://github.com/ansible/ansible-modules-core/pull/3015

[2016-03-23 20:43] danehans commented on #15096
It looks like someone successfully tested the ansible_ditribution fact for coreos [1]. I tried to do the same for my use case [2] and ansible dies [3].

[1] https://github.com/kubernetes/contrib/pull/604
[2] https://github.com/kubernetes/contrib/tree/master/ansible
[3] https://gist.github.com/danehans/b8566fc0ba455089a7bc

[2016-03-23 20:53] djmattyg007 commented on #15113
This isn't a user question. It's a developer question about the state of the ansible codebase.

[2016-03-23 21:04] dejayc commented on #13552
"when" getting applied to included tasks, instead of the "include" itself, is probably the dumbest design decision I've ever seen in any piece of software.

If "when" evaluates to false, it will also evaluate to false for every included task.  In that case, it doesn't make any sense whatsoever to include the file in the first place.

[2016-03-23 21:32] joelouthan opened #15131 "One web server gives an error when checking to see if httpd is installed"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

forks          = 10
##### OS / ENVIRONMENT

From: Red Hat Enterprise Linux Server release 6.7 (Santiago)
To: Red Hat Enterprise Linux Server release 6.7 (Santiago)
##### SUMMARY

Walking through Ansible's documentation, trying to learn.

I run to see if httpd is installed on all of my web servers. Everything checked o

[2016-03-23 21:37] sivel commented on #15131
Per that error it appears as though there is an issue with `/etc/yum.conf`:

[code]

[2016-03-23 21:45] joelouthan commented on #15131
Okay, thank you for pointing that out. Now I can read the errors and know how to fix them.

[2016-03-23 21:45] joelouthan commented on #15131
Lovely:

`$ ansible qsdevweb -m yum -a "name=httpd state=present" -vvvv
<qsdevweb> ESTABLISH CONNECTION FOR USER: gops
<qsdevweb> REMOTE_MODULE yum name=httpd state=present
<qsdevweb> EXEC ssh -C -tt -vvv -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="/home/gops/.ansible/cp/ansible-ssh-%h-%p-%r" -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keye

[2016-03-23 21:46] #15131 closed, assigned to nobody

[2016-03-23 22:57] abadger commented on #13557
This shoukd be fixed by #15130 so going ahead and closing this.

[2016-03-23 22:57] #13557 closed, assigned to abadger

[2016-03-23 22:58] abadger commented on #15093
Okay, this should be fixed by the revert    in 81c4817  and that problem with the --limit should be fixed by #13556.   So I'm closing this bug as fixed.

[2016-03-23 22:58] #15093 closed, assigned to nobody

[2016-03-23 22:59] abadger commented on #12174
This should be fixed by #15130.  So this should now be fixed in both devel and stable-1.9 branches.

[2016-03-23 22:59] #12174 closed, assigned to abadger

[2016-03-24 01:01] abadger commented on #14945
Okay -- reproduced and figured out that this isn't a bug.  Ansible is looking at the variable information differently than you're expecting  The documentation is here: http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable  and the spot you're specifically worried about is in a Note box near the bottom of the seciton:

Ansible Hosts only have one

[2016-03-24 01:01] #14945 closed, assigned to nobody

[2016-03-24 02:56] abadger commented on #13876
There's a lot of conflicting information in this issue.  There could be multiple issues being exposed but because it's intermittent it's hard to tell for sure.  According to @drewcrawford 's research, this would seem to be in some way related to pseudo terminal (tty) allocation with ssh.  That may make sense with the information earlier in the bug about some bad interaction between ssh and the lin

[2016-03-24 03:35] drewcrawford commented on #13876
I have had the following in my ansible.cfg since install:

[code]

It did **not** solve the issue.  The only reliable solution for my case was to disable `-tt` via patch.  There is some other way to still end up in the `-tt` case with the above config file.

The bash script [in this comment](https://github.com/ansible/ansible/issues/13876#issuecomment-186706641), is not intermittent.  The intermit

[2016-03-24 04:26] abadger commented on #13876
Does pipelining = True yield a lower failure rate?

If you run with pipelining = True and -vvvv do you see that the last connection before the error uses -tt or not?  Uses pipelining or not?

[2016-03-24 04:35] mattpolicastro commented on #14808
Ditto: just upgraded to 2.0.1 and am seeing the same error when "succeeded" is used; "success" still works without error.

[2016-03-24 04:47] abadger commented on #13876
And you are correct that only modules go through pipelining so it's possible that we're failing when executing a remote shell command rather than a module... but I'd expect that we'd see some indication of that from the answers to my previous questions.

[2016-03-24 04:49] abadger commented on #13876
Ah -- and probably one more question -- do you have requiretty=True in your remote sudoers?  I think I tested a few months ago and it was still unsafe to remove -tt if requiretty is on but a counter example would be wonderful.

[2016-03-24 06:07] keithnoguchi opened #15133 "net_template.py: j2 include search path issue"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

and here is the sample main.j2

[code]

You can also take a look at the actual [OpenSwitch switch role](https://github.com/keinohguchi/ops-switch-role).
##### OS / ENVIRONMENT

Tested on ArchLinux
##### SUMMARY

net_template.py doesn't prepare the J2 search path, which prevents `include` statement inside j2 fi

[2016-03-24 06:10] jbouzekri commented on #14945
@abadger : thank you for explaining this. But what is the point of group_vars if I cannot use the same role in multiple groups with different configuration ?

Is there a way to make it work that way using another feature ?

And for me, when reading this : `If you define a variable twice in a play’s vars: section, the 2nd one wins.`, I understand that if I put :

[code]

Then `my_variable` will hav

[2016-03-24 07:07] jmenga commented on #10047
One way to overcome this would be to wrap such tasks in a block with the "outer" block when conditional providing the ability to skip the task that includes the "inner" with_ loop.

This however is not the current behaviour.

[2016-03-24 07:39] resmo commented on #11620
feature has been implemented https://github.com/ansible/ansible-modules-core/pull/2023

[2016-03-24 07:39] #11620 closed, assigned to nobody

[2016-03-24 09:10] ssbarnea commented on #7837
This the clearly not a "feature idea", is just an plain old bug. Let me explain it this way: a perfect valid playbook will trigger syntax error if checked but will run fine. If that's not a bug I am in the wrong industry ;)

Reproduce it with:

[code]

[2016-03-24 09:12] nikut commented on #15093
@abadger Confirmed that it works now in stable-1.9, both with my test case and with our production inventory. Thank you!

Hope there will be a test case for the "inventory is directory" case from now on. Will you be making a bugfix release considering the showstopper nature of this bug?

[2016-03-24 09:22] ssbarnea opened #15135 "--syntax-check output is not standard and unpredictable"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook --syntax-check

##### ANSIBLE VERSION

[code]
##### SUMMARY

It seems that the `--syntax-check` command does not behave in a very friendly way, giving some hard to process results.

I would recommend using a standard output format, maybe the same as [pep8 of pylint output format](http://pep8.readthedocs.org/en/latest/intro.html#e

[2016-03-24 09:23] ssbarnea commented on #15135
If these are recognised as valid, I would not mind trying to implement some of them, but I would like to avoid implementing something that is not desired.

[2016-03-24 09:28] nhooey commented on #13484
@Yannig Do you have a fix for the unexpanded Jinja template?

[2016-03-24 10:18] ssbarnea commented on #14848
I would recommend starting to collaborate with @willthames in order to assure that the linting goes in the right direction instead of two divergent ones. I would not surprised not to hear that he will like to see his linter part of ansible.

[2016-03-24 10:36] thunder-spb commented on #5952
+1, And I'm another person who thought that this is for filtering out tags. It will be great to have like default tags to apply.

[2016-03-24 11:02] vroetman commented on #14808
Actually, after thinking about it, I recommend accepting all four of success, succeeded, fail, and failed as valid filters. Then there won't be confusion from differing documentation nor confusion about inconsistent parts of speech.

[2016-03-24 11:53] askolsam opened #15136 "Link to ISSUE_TEMPLATE.md is broken in the page "Community Information & Contributing""
##### ISSUE TYPE
- Documentation Report
##### SUMMARY

[Community Information & Contributing](http://docs.ansible.com/ansible/community.html) -page says the following:

The link is broken.

[2016-03-24 12:06] edysli opened #15137 "Regression: inventory directory fails depending on file order"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

roles_path = /etc/ansible/roles:/home/edysli/ansible_roles
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes

##### OS / ENVIRONMENT

Control OS is Ubuntu 14.04.4, managed OS is irrelevant.
Ansible version 2.0.1.0 installed from deb packages
Ansible version 1.

[2016-03-24 12:36] bortek opened #15138 "LC_ALL sets when running ansible with become user (sudo) on remote host"
I am using Ansible to execute remote java commands on multiple servers using sudo like this

ansible -o -i /my/hosts/file myhostname -m shell -a "java -jar myfile.jar" -b --become-user=remote_user --ask-become-pass -k

Since ver 2.0.0 of Ansible for some reason it adds "LC_ALL=en_US.UTF-8" to the process it starts. This causes a major issue since Java application reads locale from env variable and

[2016-03-24 12:49] edysli commented on #15137
For the record, the current development version also fails:

[code]

[2016-03-24 13:19] allomov opened #15139 "Can't set username to establish ssh connection"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I have no `ansible.cfg` file and ANSIBLE_\* env variables set :

[code]
##### OS / ENVIRONMENT

I run Ansible on Ubuntu

[code]

I've installed Ansible in the following way

[code]
##### SUMMARY

I create and run playbook in the following way:

[code]

This gives me an output with an error:

[code]

I can't get why it

[2016-03-24 13:26] bcoca commented on #15139
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, remote_user is NOT a variable, it is a dire

[2016-03-24 13:26] #15139 closed, assigned to nobody

[2016-03-24 13:53] jimi-c commented on #14296
I've gone ahead and merged in the above commit, so all problems reported on this ticket should now be addressed in the devel branch. The last fix will be in the next release, but the others should be included in 2.0.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- h

[2016-03-24 13:53] #14296 closed, assigned to nobody

[2016-03-24 13:59] #14654 closed, assigned to abadger

[2016-03-24 14:01] aabouzaid commented on #14344
This bug still affect Ansible 2.0.1.0
My temporary workaround to get %50 of nodes is:

But it totally depends on how your inventory looks like.

[2016-03-24 14:07] aabouzaid commented on #9260
This issue still affect Ansible 2.0.1.0!
@kosmodromov 's workaround worked for me, but I think we need to more standard way to do this.

[2016-03-24 14:09] abadger commented on #14654
Thanks for reporting this.  Fixed on devel and pushed to stable-2.0 branch (might miss 2.0.2 but will be there if we make 2.0.3).

[2016-03-24 14:27] TimoKramer commented on #15089
I guess bash is not returning well formatted. I wrote a python script that has same functionality and returns e.g. \u00f6 as ö. Is this an ansible bug or my lack of bash-skills?

[2016-03-24 14:39] abadger commented on #14979
This looks like it has been fixed on the devel branch (will be 2.1.0) with the change to uri to use our own fetch_url() functions instead of httplib2.  This change was backported to stable-2.0 in time to make 2.0.2 as well.  Please try out 2.0.2.0-rc1 from http://releases.ansible.com/ansible/ to make sure that the bug has been addressed (and report any new bugs you encounter).

[2016-03-24 15:07] voidzero commented on #13434
Ok as a reference to anyone who stumbles upon this same issue at some point... I _finally_ found the proper way to handle this. Apparently, aside from the kernel option `PAX_EMUTRAMP=y` (which I already had), one also needs to set `CONFIG_PAX_MPROTECT_COMPAT=y`. That option was lacking from my kernel, and caused problems with ansible as well as other stuff (e.g. fail2ban). :+1:

[2016-03-24 15:28] jan-warchol commented on #14501
@sivel I am seeing similarly bad performance.  Here's a test playbook:

[code]

And here's the output, timed using ansible-profile plugin:

[code]

As you can see, "recloning" (i.e. pulling) an existing repo using git module takes **over 6 times longer** than it should.

And in my real-life use-case I'm cloning not 1, not 2, but _13_ repositories to deploy a big system.  When I re-run the playbook

[2016-03-24 15:47] rpijlman opened #15141 "Tasks in included file in dependent role are not executed"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Debian Linux 8.3
##### SUMMARY

The tasks in a file that is included by the main.yml of a dependent role. are silently ignored, instead of executed.
##### STEPS TO REPRODUCE

I apply a role 'hoedoe' to a server. That role has a dependent role 'app'.
roles/hoedoe/meta/main.yml

[code]

app/tasks/

[2016-03-24 15:57] rpijlman commented on #15141
These are the files to reproduce the problem:
[repro ansible issue 15141.zip](https://github.com/ansible/ansible/files/188158/repro.ansible.issue.15141.zip)

[2016-03-24 16:04] cheddarwhizzy commented on #13486
I also cannot get this to work on Ansible 2.0.1.0. I can figure out a workaround for my end goal, but that's beside the point. Here is my playbook:

[code]

[2016-03-24 16:29] cheddarwhizzy commented on #13486
After looking thru the codebase a bit, I noticed that force_handler isn't tested properly. If a task fails and also has a 'notify: handler name', that handler will not get run. Only tasks in the playbook that were successful will have their handlers executed. I personally feel that handlers should be executed regardless if the task is pass or fail - assuming force_handlers is set to True. Here is

[2016-03-24 16:29] mattwillsher commented on #14506
src is a URL. If it takes a path on the remote machine it's not clear from the documentation.  This causes failures when called with become_user because the target user can't write to the home directory to download the file.

E.g.

[code]

In this case example.zip gets downloaded to the $HOME of the user SSHing in.

Further, when using a URL the extract fails. Using an absolute local path works fi

[2016-03-24 16:56] mansinga1 opened #15142 "Hosts can't be reached once defined"
##### ISSUE TYPE

- Bug Report/Error
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have tried pinging the servers descriibed in the hosts file but it errors. when i remove 127.0.0.1 from the hosts file, I am able to ping the localhost
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-03-24 17:00] agaffney opened #15143 "Allow Ansible to read inventory created via bash process substitution"
##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using bash process substitution to create an inventory dynamically, ansible throws an error claiming that it cannot read the file.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I used a modified command below to

[2016-03-24 17:19] gvenka008c commented on #8324
I am passing my inventory (static + dynamic info) using the -i option as shown below.

ansible-pull -U git@github.com:XPlat/caps-sps.git -d /home/gvenka008c/caps-sps --key-file=/home/gvenka008c/.ssh/gvenka008c /home/gvenka008c/caps-sps/jenkins_mesos/ansible/jenkins_mesos_icinga.yml -i /home/gvenka008c/caps-sps/jenkins_mesos/ansible/inventory -vvvv

But I am seeing the below output. Any thoughts?

[2016-03-24 17:45] mschuchard commented on #15135
Standardized output, especially pep8, would be great for my linter.
As it is I am currently working around it, but this would make life easier for sure.

[2016-03-24 20:06] arkag opened #15147 "Basic PostgreSQL Playbook Failing"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing, to my knowledge. I will update this if I learn otherwise.
##### OS / ENVIRONMENT

##### SUMMARY

I've been on IRC for around an hour now trying to solve why I'm getting an error.

There is nothing else in my playbook aside from variable names. This is on a clean, fresh container. I can psql -U postgres fine,

[2016-03-24 20:10] arkag commented on #15147
I'm sorry I wasted your time having to read this. I was missing `become: yes`

[2016-03-24 20:10] #15147 closed, assigned to nobody

[2016-03-24 20:19] indispeq opened #15148 "Openstack inventory script returns nothing for RDO Kilo"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
openstack dynamic inventory script

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No settings changed
##### OS / ENVIRONMENT

Ubuntu Desktop 14.04, ansible in virtualenv, installed via pip.
##### SUMMARY

The latest `openstack.py` inventory script (as per the link in the dynamic inventory section of the docs) returns no inventory data when ru

[2016-03-24 20:50] moozer commented on #15117
I have the exact same issue.

I create a gist to illustrate it.
https://gist.github.com/moozer/c4060803e1f0677c0212
"handler B" is never called.

[2016-03-24 20:53] moozer commented on #15117
Paraphrasing from #ansible on IRC:

my conclusion: work around it for now, or go back to 1.9

[2016-03-24 21:43] guhcampos opened #15149 "Pip module is broken when using extra_args"
- Bug Report
##### ANSIBLE VERSION

[code]
##### SUMMARY

Running the `pip` module with `extra_args` produces apparently correct output, but fails to work. Running ansible-playbook in normal mode will show the task results as ok: [changed] while in reality no work has been done. Running in verbose mode shows the underlying `pip` call is malformed, with the contents of `extra_args` appearing before

[2016-03-24 21:47] guhcampos commented on #15149
Just to narrow down the problem: upgraded pip and changed the extra arg, problem persists;

[code]

[2016-03-24 21:51] sivel commented on #15149
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-03-24 21:51] #15149 closed, assigned to nobody

[2016-03-24 21:52] jbouzekri commented on #14945
@abadger : please could you advise me on how to structure my playbook to get it working like I expected.

If I understand what was written in the documentation you appended, all variables are defined per hosts.

But in my case, I am in a playbook with this :

[code]

When the first playbook runs, I would expect it to only load the configuration in default and in the group backoffice. Why does it l

[2016-03-24 22:21] abadger commented on #14945
@jbouzekri yes, Ansible is loading all information.  A Host is a first class citizen in Ansible and a group is just an attribute of Hosts.   So we don't selectively load groups depending on which is referenced in the play.  We use the group to find out the hosts that are in it and then we load the Host.

Probably best to ask questions of how best to achieve what you want to do on irc or the mailin

[2016-03-24 22:54] ThomasSteinbach commented on #13294
The issue is solved as with the merge of the related pull request. But before closing this issue I would like to know if there is a documentation of the docker connector I can update? I haven't found one yet.

Btw, remote connection parameters and others for could be passed via `ansible_docker_extra_args`

[2016-03-24 22:57] abadger commented on #13294
we should probably add the documentation to: https://github.com/ansible/ansible/blob/devel/docsite/rst/intro_inventory.rst   We don't currently have a page dedicated to connection plugins.  Might be a good things to have but someone would have to start writing it.

[2016-03-24 23:06] abadger commented on #14104
Sorry about hte false close -- we started using waffle.io and it's apparently easy to get things into the wrong buckets.

[2016-03-24 23:20] #12721 closed, assigned to nobody

[2016-03-24 23:46] #14259 closed, assigned to nobody

[2016-03-24 23:59] abadger commented on #14259
Thanks!  I was able to reproduce with that test case and fixed it.  It looks like the problem was that the same inventory host was listed in two places in inventory.  So when we went to take them out of the ungrouped list we got this error.  The commit listed above fixes the issue with the test case so I think we're good to go now.

[2016-03-25 00:12] shaunbrady opened #15153 "Unable to run WinRM tasks since 1.9.5, KeyError on self.delegate"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Tested on Ubuntu 14.04.2 LTS, managing Windows 2012
##### SUMMARY

I am unable to run WinRM tasks since upgrade Ansible to 1.9.5 (PyPI)
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the playbook to complete.
##### ACTUAL RESULTS

[code]

[2016-03-25 01:03] jimi-c commented on #15141
Looks like I missed cherry-picking 06b072c1. After adding that, your test playbook/roles work as expected:

<pre>
[jimi 15141]# ansible-playbook --version
ansible-playbook 2.0.2.0 (stable-2.0 b7ccc8cfa1) last updated 2016/03/24 21:00:25 (GMT -400)
  lib/ansible/modules/core: (detached HEAD a89266c5cb) last updated 2016/03/24 20:55:54 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD ae8eab11

[2016-03-25 01:20] ThomasSteinbach commented on #13294
I started a subsection describing the non ssh based connection types, the new Docker connection parameter from this issue included:

https://github.com/ansible/ansible/pull/15155

[2016-03-25 01:20] #13294 closed, assigned to nobody

[2016-03-25 02:16] precurse commented on #15085
The fix does work with using 'list'..

Thanks!

[2016-03-25 02:16] #15085 closed, assigned to bcoca

[2016-03-25 03:00] jimi-c commented on #15141
It looks like things passed (albeit with an odd error on the ubuntu nodes), so I'll go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://gr

[2016-03-25 03:00] #15141 closed, assigned to nobody

[2016-03-25 07:51] mattclay commented on #15143
There are multiple issues preventing this from working at the moment:
1. The error 'does not exist, or is not readable' occurs because /dev/fd/63 is not a regular file. There is an os.path.isfile test in dataloader.py that is responsible for this error.
2. Removing the isfile test results in another error, this time in PluginLoader.add_directory, which can be worked around by adding a test for `if

[2016-03-25 08:13] jbouzekri commented on #14945
@abadger : thank you. Totaly forgot these kind of help channels like IRC.

I would say that the documentation is not too clear on this host as first class citizen. I had a hard time understanding that. I reviewed all the documentation on the variable and the closest thing about what we discussed I have found is this chapter : http://docs.ansible.com/ansible/playbooks_variables.html#variable-scopes

[2016-03-25 08:45] jheehu commented on #14664
@cyxxx  by now, this problem can be solved by command

[2016-03-25 09:15] milouse commented on #15117
Yeah, I remove my "global" handlers file and duplicate it back in my various roles. In fact, I understand such a file is a bit against the ansible philosophy of having totally independant roles. But for anyone who hates code duplication, it is frustrating.

[2016-03-25 10:20] moozer commented on #15117
Agreed.
And I am pretty sure it is a bug, even though I have not tried to it track down further.

[2016-03-25 10:27] zerodogg commented on #13876
I've worked around it by having a ssh wrapper in PATH on my host. I use a makefile to start ansible-playbook, and I prepend $PWD/.ssh-hack/ to the PATH before executing ansible-playbook.

.ssh-hack/ssh is the following script:

[code]

After adding this hack this issue has gone away.

[2016-03-25 10:48] runsisi commented on #10515
+1

[2016-03-25 13:19] synweap15 commented on #9526
@sergeytsivin I've used similar bootstrap script, but without the .ansible.cfg part  - now it works correctly with the defaults set and `remote_tmp` present. Thanks for sharing!

[2016-03-25 13:35] hryamzik opened #15157 "fetchlistfromdict filter"
#### ISSUE TYPE
- Feature Idea
##### SUMMARY

Let's say you have  an array of dictionaries and you would like to build an array with some dictionary attributes. There're several methods to do this: [selectattr, map](http://stackoverflow.com/questions/31895602/ansible-filter-a-list-by-its-attributes) and the new [extract](http://docs.ansible.com/ansible/playbooks_filters.html#extracting-values-from

[2016-03-25 13:42] igormukhingmailcom opened #15158 "Feature request: mysql --init-command for mysql_db"
Hi.

It would be great if `mysql_db` will have something like `init_command` and pass this command to `mysql --init-command=...` option.

[code]

See https://docs.oracle.com/cd/E17952_01/refman-5.5-en/mysql-command-options.html#option_mysql_init-command

This will help to import dumps with constraints by passing `SET SESSION FOREIGN_KEY_CHECKS=0;`.

Right now it failing if something not OK with da

[2016-03-25 14:46] ianheggie commented on #7235
I did NOT have to set ForwardAgent in ~/.ssh/.config (which surprised me), but neither did it cause a problem if it was set (And I double checked the socket was not created in a normal ssh connection unless ForwardAgent was set in ~/.ssh/.config). I have pipelining enabled.

[2016-03-25 14:47] abadger commented on #13876
@zerodogg <nod>  Do you have requiretty in sudoers anywhere?  If it is set and you're safely using code that removes -tt we can revisit whether that's a possibility.

[2016-03-25 14:48] abadger commented on #13876
Reopening on the chance that we can find a code workaround to this  problem.  Can't make promises about the viability of that possibility until we gather more information, though.

[2016-03-25 15:33] #15010 closed, assigned to jimi-c

[2016-03-25 15:53] jxn opened #15161 "ec2 module does not warn about invalid dictionary entries for volumes"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NA
##### OS / ENVIRONMENT

Ubuntu / Ubuntu
##### SUMMARY

When passing invalid or unused values to the ec2 module's volumes node, they are just ignored and no warning is produced.
##### STEPS TO REPRODUCE

Run the example task.  The volumes[0][tags] attribute is not used (that feature doesn't seem to exist) but no war

[2016-03-25 16:02] binbashroot opened #15162 "The async task did not return valid JSON RHEL5 only"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL5/6
##### SUMMARY

Tasks using async/poll with RH5 servers fails
##### STEPS TO REPRODUCE

[code]
## "
- hosts: alpha
  gather_facts: True
  become: True
  tasks:
  - debug: msg="{{ansible_distribution_version}}"
    when: ansible_os_family == "RedHat"
  - name: Test Async with rhel5 and r

[2016-03-25 16:25] abadger commented on #14664
Could people reporting the problem with deb open a new bug? We often don't
see new comments on closed tickets.

[2016-03-25 16:51] jimi-c commented on #15010
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-03-25 17:27] abadger commented on #15070
This works for me using ssh-agent forwarding:

[code]

How are you managing the ssh authentication between your two remote hosts? Because we're running rsync and _rsync_ is then running its own ssh, the authentication there can be a problem.

If it is authentication that's the problem then this is a duplicate of:
https://github.com/ansible/ansible/issues/13099

[2016-03-25 17:32] abadger commented on #14944
I believe this was an intentional change that happened globally because current working directory is insecure.  If you are in /var/tmp when you run the playbook, another user could have put a different config file into place.

@bcoca could you let me know if my supposition above is correct?  Or should synchronize be looking for those files in the current working directory?

[2016-03-25 17:41] gl0bus opened #15165 "detecting virtualization facts fails on OpenStack based Instances"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 1.9.2
ansible 2.0.1.0
##### OS / ENVIRONMENT

[code]
##### SUMMARY

ansible is not capable of properly detecting ansible_virtualization_role,
when geathering facts of an OpenStack based instances
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

see above
##### NOTE/FYI

[code]

[2016-03-25 17:55] abadger commented on #14104
@mrkyle7 I switched to a local user named testuser and tried again.  Still not able to reproduce the error you're seeing.   Maybe you could paste the output of the task with -vvvv.  Also, there have been some changes to templating since the first 2.0 release so I'm not sure if I'm testing precisely the same version that you are.  If you could also paste ansible --version output along with the task

[2016-03-25 18:40] jbouzekri commented on #14945
@abadger : It works by using alias in inventory. Thanks for your help.

[2016-03-25 18:53] abadger commented on #14944
bcoca pointed out that I misread the report.  It's now looking in the cwd instead of in the playbook basedir and so it's now wrong.  Taking a look.

[2016-03-25 19:16] abadger commented on #14944
Okay, try out pull request #15167 I just tested locally and it seems to do the right thing now.

[2016-03-25 19:49] #14944 closed, assigned to abadger

[2016-03-25 19:52] abadger commented on #14944
Pull request merged to devel and cherry-picked to stable-2.0 branch.  This should be in 2.1.0 and either 2.0.2 (we've already started the release process for 2.0.2 so not sure if it will make it in there) or 2.0.3 if we make a release for that.

[2016-03-25 20:01] DerekL commented on #13262
Using 2.1.0 devel and getting:

[code]

[2016-03-25 20:05] MrMMorris commented on #13262
@DerekL is the formatting weird, or do you have
[code]

[2016-03-25 20:47] fgimian commented on #13262
I gave it a try too and got the same error, here's my code:

[code]

[2016-03-25 21:01] bcoca commented on #15117
@milouse put global handlers in a role and make other roles depend on it.

[2016-03-25 21:02] bcoca commented on #15117
cc @jimi-c, in case 'partial static includes' patch fixed this

[2016-03-26 02:21] mattclay commented on #6072
Unfortunately the jexec -U option uses the current host environment as the environment within the jail.

So while some things work as expected:

[code]

[code]

Others do not:

[code]

At a minimum, we'll need $HOME to be correct in the jail. This may be a starting point:

[code]

[2016-03-26 03:43] #15136 closed, assigned to nobody

[2016-03-26 04:35] jimi-c commented on #15056
Hi @shammellee, this is actually part of the YAML spec (http://yaml.org/spec/1.2/spec.html#id2790832):

<pre>
Normally, YAML insists the “:” mapping value indicator be separated from the value by white space. A benefit of this restriction is that the “:” character can be used inside plain scalars, as long as it is not followed by white space. This allows for unquoted URLs and timestamps. It is als

[2016-03-26 04:35] #15056 closed, assigned to nobody

[2016-03-26 04:38] jimi-c commented on #15063
A while back, the ssh connection was modified to use a host syntax that was neutral to IPv6 and inserted `[]` around the hostname, however I don't understand why in this case it's showing up only with the closing bracket.

[2016-03-26 04:40] jimi-c commented on #15076
@ajaybhatnagar could you please include the source of the playbook above, and any other relevant files we would need to reproduce this? Thanks!

[2016-03-26 04:41] jimi-c commented on #15084
I may have fixed this recently, but I'll look into it as soon as I can.

[2016-03-26 04:42] jimi-c commented on #15087
We'd definitely be interested. Thanks!

[2016-03-26 04:44] jimi-c commented on #15089
Can you share the python script you wrote? If you're using `json.dumps()`, you typically need to set the ensure_ascii value to False to ensure it doesn't encode any unicode strings it finds.

[2016-03-26 04:46] jimi-c commented on #15096
If CoreOS is using Py3, we're not quite there in support yet.

[2016-03-26 04:49] jimi-c commented on #15109
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-26 04:50] #15109 closed, assigned to nobody

[2016-03-26 04:51] jimi-c commented on #15107
I'm not sure this is a bug, but we'll look into it.

[2016-03-26 04:58] danehans commented on #15096
@jimi-c CoreOS does not include a python interpreter. [1] is the script being used to install python to CoreOS. Please let me know if you have any recommendations.

[1] https://github.com/kubernetes/contrib/blob/master/ansible/roles/pre-ansible/files/bootstrap.sh

[2016-03-26 04:59] jimi-c commented on #15128
Roles are read in and expanded before `setup` run, therefore there are no facts available. If you're just wanting $HOME for your current system, you should instead just used `{{lookup('env', 'HOME')}}` to get that from the current environment.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing l

[2016-03-26 04:59] #15128 closed, assigned to nobody

[2016-03-26 05:06] jimi-c commented on #15148
@emonty / @Shrews any ideas here?

[2016-03-26 05:08] jimi-c commented on #15142
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-26 05:08] #15142 closed, assigned to nobody

[2016-03-26 05:10] jimi-c commented on #15158
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-26 05:10] #15158 closed, assigned to nobody

[2016-03-26 05:13] jimi-c commented on #15161
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-26 05:13] #15161 closed, assigned to nobody

[2016-03-26 09:36] zerodogg commented on #13876
@abadger None of my hosts have requiretty set (default Debian and Arch sudoers). Perhaps if removing `-tt` by default isn't feasable, it could be made into an host option along the lines of `ansible_python_interpreter`? `ansible_no_force_tty=BOOL` or something, it would at least allow it to be worked around without a hack.

[2016-03-26 10:44] shammellee commented on #15056
@jimi-c Makes sense. Thank you.

[2016-03-26 10:45] amenonsen commented on #15157
What does this do differently from

{{ groups['webservers']|map('extract', hostvars, ['custom_facts','aliases','0','ip'])|list }}

?

[2016-03-26 14:15] emonty commented on #15148
It's almost certainly an inability to figure out the interface_ip .Could you run:

shade-inventory --yaml --debug --list

and paste the results?

[2016-03-26 18:56] alikins opened #15177 "ansible-galaxy info display 'galaxy_info' label 1 char per line"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

env:
ANSIBLE_CONFIG=/Users/adrian/ansible/ansible.cfg
ANSIBLE_HOME=/Users/adrian/src/alikins-ansible

ansible.cfg:

[code]
##### OS / ENVIRONMENT

RHEL 7.2-(ish), Centos 7.2, OSX 10.10.5 (Yosemite)
##### SUMMARY

Running 'ansible-galaxy info' on a install galaxy roles causes the label for 'galaxy_info' section to be d

[2016-03-26 20:18] c0state opened #15179 "Default variables in dependent roles are not being overridden by default variables in parent role"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

See https://github.com.c0state/ansible_default_vars_in_dependent_roles.git for a full example to reproduce the issue that I am observing.
##### OS / ENVIRONMENT

Testing done via Vagrant using VirtualBox provider on:
box name ==> ubuntu/trusty64
box version ==> 20160323.0.0
(see repo and steps below for full reproduci

[2016-03-26 20:23] alikins commented on #15165
Is this a variation of  #14938 ?

(ie, facts considering a system with kvm kernel module loaded a kvm host regardless if it is actually being used that way and potentially overriding detection of other virt types).

Are the systems referenced here running under nested virt? (The NOTE in https://github.com/ansible/ansible/pull/15166#issue-143553506  made me curious).

[2016-03-26 23:40] gl0bus commented on #15165
@alikins
you can see it as as a variation of #14938, but the related pull request tries to introduce a new ansible_virtualisation_type='openstack', which is not really a type of virtualization, but it would properly detect the ansible_virtualisation_role.

the host mentioned in #15166, is a plain openstack virtualized VM not using any kind of nested virtualization, with official ubuntu 14.04 cloud

[2016-03-27 01:46] indispeq commented on #15148
Thank you, here is the stderr output:

[code]

and what is more important (redacted in parts):

[code]

This is for my one test VM that I added some meta-data to (based on another on-line article by Lukas Pustina, that uses another inventory script. Let me know what else you'd need.

[2016-03-27 12:21] iquito commented on #14944
Just tested it - this is definitely fixed in devel. Thanks!

[2016-03-27 13:15] keltia commented on #14744
I have tried removing all traces of Ansible and then reinstall it from Homebrew. Same error.  Removed it again and installed the macports version and it works.  Something might be broken in Homebrew python and/or ansible.

[2016-03-27 15:06] emonty commented on #15148
Awesome. Thanks! Yes, it's as I thought, openstack inventory cannot figure out which IP to use. (just picking the value from the one network that's there has other issues) HOWEVER - try adding external_network: xxxxxxxxxx_NETWORK to your clouds.yaml / openstack.yml like this:

[code]

(which is a redacted snipped from my clouds.yaml - turns out internap public cloud also is configured in such a wa

[2016-03-27 17:04] hryamzik commented on #15157
@amenonsen good point, I've only tried to get this with `map(attribute=`, looks like the new extract filter does the job, looking forward to play with it in a new release!

[2016-03-27 17:04] #15157 closed, assigned to nobody

[2016-03-27 17:16] indispeq commented on #15148
Hi @emonty , adding `external_network` to my `openstack.yml` did not help. Here are the contents (i also tried adding password, username, project_name, besides the fact that they are in the sourced env vars, but no dice, same output.

[code]

If this helps, my neutron net-list output is this (XXXX_NETWORK is the internal network, and INTERNET is the one that has the floating IPs and is in fact the

[2016-03-27 17:26] emonty commented on #15148
Ah - ok. there are two issues here where I can make the inventory better. However, until I fix those - try one more time with the user/pass/auth_url/project_name in the auth dict. (no need for profile internap - that just tells it to use default values from the internap vendor) ... BUT ... then unset the OS_ env vars from your environment.

Before you do that, try running

/etc/ansible/hosts --lis

[2016-03-27 17:46] indispeq commented on #15148
The output of `--list --private` gives me all the info, awesome:

[code]

How would I make sure that when ansible looks for all my servers it finds all of these machines?
Or is the idea that since ansible goes in via SSH, I cannot access them anyway without a floating IP from the machine where I am doing the querying of the keystone endpoint?

I do not seem to be able to authenticate against my en

[2016-03-27 18:01] indispeq commented on #15148
UPDATE:
When I copied the `openstack.yml` file into `/etc/openstack/clouds.yml`, I could do a shade-inventory and I got good data back. However the /etc/ansible/hosts output was still:

[code]

It seems like if I have no `OS_` env vars the creds are not picked up from /etc/ansible/openstack.yml, only if the /etc/openstack/clouds.yml is there. Or is that an incorrect observation?

[2016-03-27 20:07] jimi-c commented on #15179
Hi @c0state, as noted here http://docs.ansible.com/ansible/playbooks_variables.html#id7, each task within a role will see their own roles defaults regardless of what may be set in other roles. This also applies to dependencies, so the output above is what is expected. If you wish to override defaults used within a role, you should do so with parameters or other higher precedence variables.

If you

[2016-03-27 20:07] #15179 closed, assigned to nobody

[2016-03-27 20:44] bcoca commented on #14744
closing then, but keeping as "yet another reason we don't recommend installing Ansible via homebrew"

[2016-03-27 20:44] #14744 closed, assigned to nobody

[2016-03-27 21:01] bcoca commented on #15061
This is not a bug, `cwd` is not predictable, roles are and should be searched only relative to play.
If you are at /var/tmp and then run  `ansible-playbook ~/playbooks/play.yml` would you want a 'unexpected roles dir' to be used?.

I'm going to close this as it works as designed.

[2016-03-27 21:01] #15061 closed, assigned to bcoca

[2016-03-28 00:40] hrstoyanov opened #15181 "[2.0.1.0] Potential issue?"
Upgrading from 1.9.x to 2.0.1.0 and bumped into this, which used to work:

[code]

greets me with:

[code]

Removing the cron task helps for now, but I do need it eventually. Any workaround would be appreciated...

[2016-03-28 01:58] Theaxiom commented on #14885
Sorry I have been extremely busy and just saw this, I will try this out when I get home this evening.

[2016-03-28 02:18] jimi-c commented on #14727
@arthur-c there have been a lot of fixes in this area, howeveryou don't include a full reproducer here. Can you please let us know if you're still seeing this problem on the latest devel and/or stable-2.0 branch? Beyond that, if you could include a full reproducer that would be helpful.

[2016-03-28 02:39] jimi-c commented on #15117
This should be addressed by the static includes merge (which went in last week).

[2016-03-28 07:11] liuzhenan opened #15182 "ansible-playbook api leak file descriptor"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### ANSIBLE VERSION

[code]
##### env

CentOS release 6.4 (Final)
##### SUMMARY

 I use the API to perform some of the playbook I want to carry out the playbook, but after when I perform, I found that the release of program that can not correctly file descriptors.This will lead to abnormal "too many files open", I think is caus

[2016-03-28 07:54] liuzhenan commented on #15182
`#coding=utf8
__version__= 1.0
__author__="lucky_kris"
import os
import sys

def Start():
	pid=os.fork()
	if pid != 0:
		sys.exit(0)
	os.setsid()
	os.umask(0)
	pid=os.fork()
	if pid != 0:
		sys.exit(0)
	pid=os.getpid()
	os.umask(18)
	null=open("/dev/null",'a')
	#os.dup2(null.fileno(),0)
	# os.dup2(null.fileno(),sys.stdout.fileno())
	# os.dup2(null.fileno(),sys.stderr.fileno())
	# console_log="/dat

[2016-03-28 09:09] stephanarts commented on #14668
I had the same problem on OS-X.

There you need to specify  ansible_connection=ssh in your inventory for it to force it to use openssh. If it is set to smart, it appears to default to paramiko.

Next, it complains that you need the sshpass package, I've followed the procedures on this page:

http://www.hashbangcode.com/blog/installing-sshpass-osx-mavericks

After sshpass was installed, everything

[2016-03-28 10:45] puneetjindal commented on #13361
@ksingh7 I am having a similar issue. Please help me out if anybody has a solution to this
I get the following error while running the playbook

[2016-03-28 13:37] jimi-c commented on #15181
Hi @hrstoyanov the problem is here: `job=" "{{ letsencrypt_cmd }}" > /dev/null"`. You're using the same quote marks there, so the parser is spliting that as it expects common quotes to group things. You should change it to be `job=' "{{ letsencrypt_cmd }}" > /dev/null'` instead, or use the full YAML dictionary syntax:

<pre>
    - name: Schedule letsencrypt certs update via cron
      cron:

[2016-03-28 13:37] #15181 closed, assigned to nobody

[2016-03-28 13:40] jimi-c commented on #15182
@liuzhenan, the 1.9.x branch is only receiving fixes for critical/security bugs, so unless this bug also affects devel/stable-2.0 we will most likely not fix this going forward.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https:/

[2016-03-28 13:40] #15182 closed, assigned to nobody

[2016-03-28 13:43] DerekL commented on #13262
It's wierd, but the YAML validator I use formats it that way, works like a charm.

Here's the entire playbook:

[code]

[2016-03-28 14:33] sivel commented on #13361
The problem occurs when ansible 1.9 is installed alongside 2.0, and something is inserting additional paths into PYTHONPATH (such as easy_install) ahead of the paths needed by 2.0 which causes 2.0 to import 1.9 files.

[2016-03-28 14:59] tigrus commented on #7372
Finally.. Are there any way to avoid `chown` command in template?

[2016-03-28 15:16] bcoca commented on #14668
So the issue is not the parameter being ignored but that you are using OS X with the default `smart` transport, which defaults to paramiko, as sshpass can cause a kernel panic.

The setting is not being ignored, the wrong protocol is being assumed, I'm closing this as it is not a bug but confusion on the protocol actually used.

[2016-03-28 15:16] #14668 closed, assigned to nobody

[2016-03-28 16:06] MrMMorris commented on #13262
yea I haven't tried using `with_items`, only `when`.

I don't see it as an example in the docs, but I would imaging that would be a very popular use case, so I would open a new feature request ticket.

@bcoca has confirmed that `with_items` is not currently able to work with `block`

[2016-03-28 16:22] #6072 closed, assigned to nobody

[2016-03-28 17:08] jladdjr opened #15184 "include_vars fails to import file containing variable that has already been defined: "ERROR! failed to combine variables, expected dicts but got a 'AnsibleUnicode' and a 'AnsibleUnicode'""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

_ansible.cfg_

[code]
##### OS / ENVIRONMENT

Running playbook on Ubuntu 12.04.5 system (against itself).
##### SUMMARY

`include_vars` task is failing when trying to import variables from *.yml file, when one of the variables was included earlier. Results in following failure:

[code]
##### STEPS TO REPRODUCE

_Setup

[2016-03-28 17:17] smiller171 commented on #13262
@MrMMorris That comment from @bcoca is only about current functionality. This is a feature request to allow looping over blocks (meaning with_items and other types of supported loops)

[2016-03-28 17:20] jladdjr commented on #15184
Sorry about posting the default template - accidentally clicked to submit issue. Filling out template now..

[2016-03-28 17:28] MrMMorris commented on #13262
@smiller171 yep! for some reason I thought this was a ticket for the block feature in general...

Feel free to ignore me!

[2016-03-28 17:30] simfarm opened #15185 "Duplicate task statuses possible when running"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
shell module and check mode

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Tested with default ansible.cfg.
##### OS / ENVIRONMENT

CentOS release 6.7 (Final) up-to-date.
##### SUMMARY

Looks like we get two task statuses when running the `shell` module with `--check`.
##### STEPS TO REPRODUCE
- Use the following inventory file:

[code]
- On

[2016-03-28 17:34] mtnbikenc commented on #12718
I tested after commit f4eb9aa by @jimi-c and `--start-at-task` is fixed.
Also referenced in #15010.

[2016-03-28 17:49] jladdjr commented on #15184
Note: If you edit `vars2.yml` and change `var1` to `var2` (so that the two files specify different variables), the playbook is successful.

It seems like you should be able to include a file containing a variable that has already been defined. Seems like the variable's value should just be updated in this case.

[2016-03-28 18:10] jladdjr commented on #15184
Impact on Tower:
- Tower 2.4.5 install playbook fails when running Ansible 2.0.2.0. Sample failure [here](http://jenkins.testing.ansible.com/view/Tower/job/Test_Tower_Install/4149/PLATFORM=rhel-6.7-x86_64,label=rhel-7/console). This affects all platforms (CentOS 6/7, RHEL 6/7, Ubuntu 12/14)
- Tower 2.4.4 install playbook fails when running Ansible 2.1.0 (See https://github.com/ansible/ansible-towe

[2016-03-28 18:37] jimi-c commented on #12259
Hi all, as there are workarounds mentioned above, and this is not an issue with Ansible per-se, I'm going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips

[2016-03-28 18:37] #12259 closed, assigned to nobody

[2016-03-28 18:47] jimi-c commented on #14840
@iwai can you please include a full example to reproduce this?

[2016-03-28 19:16] yvbeek commented on #2769
This, fairly normal use case, results in a syntax error as well:

[code]

My workaround for now is that I extract just the version number by adding `awk '{print $NF}'` to the db_version shell command. But it is a bit nasty.

[2016-03-28 19:46] bcoca commented on #2769
@Zyphrax or you could do this:

`when: "db_server == 'localhost' and db_version.stdout == 'Current version: 0'"`

[2016-03-28 19:55] jimi-c commented on #13630
@feliksik it looks like we fixed your issue here already, at least what I'm seeing in devel and stable-2.0.

@edrozenberg the patch above appears to resolve your issue, just waiting for tests to pass to confirm it doesn't introduce any other bugs.

[2016-03-28 20:40] wenottingham opened #15186 "ansible 2.0.2 does not run included tasks in role"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

Specifically, rc1.
##### CONFIGURATION

Nothing of note.
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

ansible is not running tasks from an included file in a role.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

(with 2.0.1. 1.9.4 is functionally equivalent)

[code]
##### ACTUAL RESULTS

(with 2.0.2)

[code]

[2016-03-28 20:46] cjbottaro opened #15187 "ansible_facts in custom module output not merged properly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

Notice `hash_behaviour = merge`.
##### OS / ENVIRONMENT

OS X
##### SUMMARY

Facts returned in the `ansible_facts` key in custom module output are not being set if the fact already exists.

First we set a fact `foo.bar = baz` by calling `set_fact`.

Next we call the custom module `se

[2016-03-28 20:51] wenottingham commented on #15186
... fixed by b7ccc8cfa1e25685bfacf3920fbd6771f10b32d3 in stable-2.0

[2016-03-28 20:51] #15186 closed, assigned to nobody

[2016-03-28 20:52] #13630 closed, assigned to nobody

[2016-03-28 20:52] jimi-c commented on #13630
Merged the above into both devel and stable-2.0, so this will be included with 2.0.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!for

[2016-03-28 22:29] sammerry opened #15188 "ec2_group module throws duplicate error"
same problem as this closed ticket
https://github.com/ansible/ansible/issues/10753
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

1.9.4 and 2.0.1.0
##### OS / ENVIRONMENT

Mac OS X El Capitan
##### SUMMARY

When adding a security group using the ec2_group module. A duplicate entry error is thrown.  This does not happen when using IP address with `cidr_ip`.
##### STEPS TO REPRODUCE

[code]
##

[2016-03-28 22:58] fgimian commented on #13262
Forgive me folks, I'm a little confused.  Is this feature already implemented in the upcoming Ansible 2.1.0?

Cheers
Fotis

[2016-03-28 23:00] lalanza808 commented on #14511
As a temporary solution, set forks to 1....I just hope your inventory file is small

[2016-03-28 23:24] bbyhuy commented on #14143
Hey @kai11 , i just got around to being able to test this. around 350 VMs was about the most I could get out of it before I started getting the error again. At some point we'd want to scale up to 1000 in parallel if possible.

edit:
To clarify, it seems running one-liner ansible commands works ok up to even 1000 in parallel. But, it is failing when running ansible-playbook. It gets through setup,

[2016-03-29 04:43] henderbj commented on #6109
Thanks to elasticdog. Your construction under tittle "This produces the expected results" saved my day. I was getting crazy to run again an old playbook that used first_available_file into a template module from a role.

[2016-03-29 07:59] larsch opened #15190 "Fileglob lookup does not match symlinks"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
root@box ~  uname -a
Linux box 4.5.0-1-ARCH 1 SMP PREEMPT Tue Mar 15 094103 CET 2016 x86_64 GNU/Linux

##### SUMMARY
Symlink to non-existing file not matched by `with_fileglob`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
/tmp/a-symlink-to-nowhere should hav

[2016-03-29 08:20] thapakazi commented on #15184
Same issue here...
![doc_2016-03-29_13-58-06 mp4](https://cloud.githubusercontent.com/assets/1695906/14101793/84d92cd2-f5b6-11e5-9e52-7041f05a7dcd.gif)

[code]

[2016-03-29 08:36] ojkastl opened #15191 "Bootstrapping FreeBSD: pkg waiting for confirmation even though 'env ASSUME_ALWAYS_YES=YES' is used"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[ssh_connection]
control_path = %(directory)s/%%C
##### OS / ENVIRONMENT

I checked this from OSX 10.10 and openSUSE Tumbleweed.
##### SUMMARY

I try to bootstrap a freebsd machine using e.g. [this tutorial](https://blog.codeways.org/ansible-freebsd/)

But the pkg process waits for confirmation, which should be avoide

[2016-03-29 08:38] ojkastl commented on #15191
Forgot something:

Might be that one has to run the following before, to bootstrap a new pgk. But this also waits for the prompt:

[code]

[2016-03-29 08:59] ssbarnea commented on #13031
My vote is for keeping this behaviour as is and eventually making more obvious the difference. Here is an important reason for this: we do keep our community roles in a different role directory than internal ones and when we create a new role we do not want to create it inside the first role search PATH, we do want to create it in current directory, like now.

[2016-03-29 09:09] mathieumd commented on #15061
Fair point. Still, it would have been nice to set a "deprecated notice" before purely dropping support for such relative roles path.
In the meantime, you can use "[roles_path](http://docs.ansible.com/ansible/intro_configuration.html#roles-path) = ./roles/" in `ansible.cfg`.

[2016-03-29 09:12] ojkastl commented on #15191
OK, I found the issue:

The quoted string containing the command for the raw module has to be quoted again, otherwise the variables wont get transmitted to the target, but rather being eaten by the controller's shell...

[2016-03-29 09:37] ninjatux commented on #12233
+1 also for me and I did not found any workaround yet to get back all instances

[2016-03-29 09:46] mrkyle7 opened #15192 "ansible-playbook exits 0 on syntax failure"
##### ISSUE TYPE
- Bug Report or
- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

 cat /appvol/eFX/data/devtoolsuat/kyle/ansible-inventory/tests/ansible.cfg
[defaults]
roles_path = ../..
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running a playbook which fails due syntax errors in an included task, it exists with status 0 and failed=0

[code]
##### STEPS TO REPRODUCE

Playboo

[2016-03-29 10:19] olfway opened #15193 "Exception on non-static include after a static one"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Exception on non-static include after a static one
##### STEPS TO REPRODUCE

include-test-static-dynamic.yml:

[code]

include-test_include-localhost-dynamic.yml

[code]

include-test_print-localhost.yml

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

ansible

[2016-03-29 10:22] olfway opened #15194 "Exception on include after a non-static include"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Exception on include after a non-static one
##### STEPS TO REPRODUCE

include-test-dynamic-static.yml

[code]

include-test_include-localhost-static.yml

[code]

include-test_print-localhost.yml

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

ansible-playbook

[2016-03-29 11:31] umesh936 commented on #14426
**Still** having the same issue (2.0.1.0), msg is

#### FAILED! => {"failed": true, "msg": "Timeout (12s) waiting for privilege escalation prompt: "}

---

##  My play book Configuration
- hosts: dev-server<br>
  become: yes<br>
  become_user: root<br>
  become_method: su<br>
  *****************************************************************<br>
  ouput of -vvvvv

<machine1> ESTABLISH SSH CONNECT

[2016-03-29 12:20] killaherz opened #15195 "Skipped tasks register variables."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible unsetting variable when used multiple 'when' cases
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-03-29 13:30] jimi-c commented on #13876
@drewcrawford I'm wondering if this is related to some garbage input coming across the line and being echoed back. If you prepend `echo -n '' |` to your ssh command, does it still reliably fail for you?

[2016-03-29 13:33] jimi-c commented on #13876
Also, I'd really like someone who's able to reproduce this to run it with `ANSIBLE_DEBUG=1` and post the full output (gist would be preferable to pasting it here).

[2016-03-29 13:55] ghost commented on #13594
Damn, I just stumbled upon this. I have tried libcloud 0.20.1 and 1.0.0-pre1 but no luck with neither of them :(

[2016-03-29 14:04] lpreid commented on #13278
+1 for ansible 2.1.0 (devel 60c943997b) last updated 2016/03/18
setting ssh_args=(...)ControlMaster=no(...) in [ssh_connection] solved the issue for me as proposed by @vutoff

[2016-03-29 14:19] abadger commented on #13876
@drewcrawford btw, we keep asking you to test as we're still unable to reproduce even with your handy script :-(

[2016-03-29 14:39] jean-christophe-manciot commented on #14880
Yes, but it does not change the issue if I remove all the "vars_files" declarations.
I don't think there's anything invalid in group_vars/spines/features.yml
[features.txt](https://github.com/ansible/ansible/files/193727/features.txt)
(I had to rename it just for the upload).

Am I missing something?

[2016-03-29 14:53] bcoca commented on #14880
So i made small play and using your file:

[code]

I don't have any issues:

[code]

[2016-03-29 15:13] kai11 commented on #14143
@bbyhuy no idea why one-liner work but playbook is not. I'm not that familiar with Ansible.
My playbook to setup limits https://gist.github.com/kai11/bbbe7f86c05d278c17c1 also sets fs.file-max. Try that one?
@bcoca Can you comment?

[2016-03-29 15:13] #15076 closed, assigned to nobody

[2016-03-29 15:13] ajaybhatnagar commented on #15076
ignore it found the typo error.

[2016-03-29 15:16] pallinger commented on #3245
I second this. It would be a nice feature for reusability. Or at least we sould be able to `include` prompts.
@dejayc put it not so nicely, but he got the main issue right.

Ansible should pre-parse all roles (this is not necessary if there is an include mechanism) and then prompt all variables beforehand, so the resulting run would be non-interactive.

[2016-03-29 15:22] jimi-c commented on #13876
Here's an equivalent script to @drewcrawford's, using the internal API:

<pre>
from ansible.utils.display import Display
display = Display(verbosity=3)
from ansible.playbook.play_context import PlayContext
from ansible.plugins import connection_loader
p = PlayContext()
p.remote_addr = '&lt;YOUR HOST HERE&gt;'
p.ssh_args = '-o ControlMaster=no'
#p.verbosity = 4
ssh = connection_loader.get('ssh', p,

[2016-03-29 15:54] tlipatov commented on #15188
Same error here when using a group name for the group_id
<Response><Errors><Error><Code>InvalidPermission.Duplicate</Code><Message>

It works how ever if I use the actual ID

[2016-03-29 15:55] klauern commented on #12682
I'm seeing this too:

[code]

[2016-03-29 16:20] bcoca commented on #14143
adhoc does not do a lot of work playbook does, it then requires less resources, persistence, etc so it is normal for it to work 'faster' and not have these kind of issues.

As for the fix, it would be nice to use kqueue/epoll when present and fallback to select otherwise (kqueue is also on the BSDs).

[2016-03-29 16:54] jimi-c commented on #13876
So, first off let me say that I completely believe the reporters of this bug, in that there is something going on here. There are just too many people reporting this to dismiss it. However, several of us have been trying to reproduce this for an hour on a variety of setups and have yet to see the reported failure.

So at this point, we really need a definitive way to reproduce this. If someone cou

[2016-03-29 16:57] smiller171 commented on #13262
@fgimian I don't believe so, but as a workaround you can loop over includes as suggested by @bcoca

[2016-03-29 17:42] arthur-c commented on #14727
@jimi-c It's ok with stable-2.0 right now, thanks !

my git version:

[code]

[2016-03-29 17:47] grenas commented on #13278
@amenonsen The following is what I got:
ansible all -m ping -u eanavarr -b --become-user itcatlap -vvvv
No config file found; using defaults
Loaded callback minimal of type stdout, v2.0
<10.64.10.177> ESTABLISH SSH CONNECTION FOR USER: eanavarr
<10.64.10.177> SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with

[2016-03-29 17:53] dmrickert opened #15197 "AWS EC2 VPC Module Incorrectly Tagging Subnets"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Rerunning ec2_vpc is flipping the names of the subnets.  So, my private subnet (10.0.1.0/24) ends up being named "Public" and my public subnet (10.0.0.0/24) ends up being named "Private".  Running it again flips it back to that.
##### STEPS TO REPRODUCE

Run the following

[2016-03-29 17:54] grenas commented on #13278
@amenonsen The following is what I got:
ansible all -m ping -u eanavarr -b --become-user itcatlap --ask-become-pass -vvvvv
No config file found; using defaults
SUDO password:
Loaded callback minimal of type stdout, v2.0
<10.64.10.177> ESTABLISH SSH CONNECTION FOR USER: eanavarr
<10.64.10.177> SSH: ansible.cfg set ssh_args: (-o)(ControlMaster=auto)(-o)(ControlPersist=60s)
<10.64.10.177> SSH: ansibl

[2016-03-29 17:59] karlkatzke opened #15198 "IAM User Access Key operations cannot be conducted"
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OS X 10.11.3
##### SUMMARY

It seems to be impossible to deactivate or revoke AWS access keys via Ansible.
##### STEPS TO REPRODUCE
- Attempt to revoke or make inactive an IAM Access Key via the following playbook:

[code]

Run with:
`ansible-playbook -i "localhost," -c local ./tsecreds.yaml -vvvv`

[code]

This happens for key sta

[2016-03-29 18:06] grenas commented on #13278
@amenonsen This is what I got, is 100% reproducible.
https://gist.github.com/grenas/bc758aa38a11df8c6302e3c113406e2f

[2016-03-29 18:49] dmrickert commented on #15197
Should've been in ansible-core where I realized the bug is already documented https://github.com/ansible/ansible-modules-core/issues/3123

[2016-03-29 18:49] #15197 closed, assigned to nobody

[2016-03-29 18:52] ojkastl commented on #15191
I was too fast. The commands with the arguments quoted twice runs and returns a success message, but apparently does nothing. I.e. pkg is not bootstrapped and python is not installed.

Using a playbook with the raw module works, as there is no quoting necessary.

I asked again on the mailinglist and will update the bug report...

[2016-03-29 18:59] jimi-c commented on #13876
Ok, I'm actually able to reproduce this consistently against this docker image: `chrismeyers/centos6`, using the following script (which uses the action plugin methods more directly to create the remote temp):

<pre>
#!/usr/bin/python
from ansible.utils.display import Display
display = Display(verbosity=3)
from ansible.playbook.play_context import PlayContext
from ansible.plugins import action_loa

[2016-03-29 19:29] nitzmahone commented on #13876
woot!

[2016-03-29 20:41] fgimian commented on #13262
@smiller171 ah cool, thanks for the reply mate :smile:

[2016-03-29 21:34] Rapportus commented on #14344
We are also seeing this running with the following:

ansible 2.1.0 (devel 0ab29f573a) last updated 2016/03/02 22:45:54 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 0bbb7ba38d) last updated 2016/03/02 22:50:34 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 39e4040685) last updated 2016/03/02 22:50:34 (GMT +000)

[2016-03-30 02:47] hrstoyanov commented on #15181
Jimi-c,
Unfortunately, your proposed fix: `job=' "{{ letsencrypt_cmd }}" > /dev/null'` still gives the same error. Did you try the code yourself?

Not only that, but It appears that the quotes are not the issue at all, as the next  examples fails with the same error:

[code]

Can you please re-open the issue until it is actually fixed? I think it might be related to #13630 and #12331

[2016-03-30 04:19] SoumenDass commented on #10725
I'm facing the same issue. Mentioning "#jinja2: trim_blocks: True, lstrip_blocks: True" has no effect whatsoever. Loops always result in an extra newline at the end. Various combinations of "%-" only end-up removing newline between loop elements which is not what I want.

[2016-03-30 05:23] #13646 closed, assigned to nobody

[2016-03-30 08:16] TimoKramer commented on #15089
Hi.
as soon as I set the ensure_ascii to false the script is returning nothing via ansible. Attached my python-script renamed to pdf.
...it is not beautiful
[eledia_mdl_info.pdf](https://github.com/ansible/ansible/files/195078/eledia_mdl_info.pdf)

.

[2016-03-30 09:51] orotemo commented on #14836
don't know if related, though, using private keys only, this fails, when running against machine_b:

[code]

but it should succeed, because this does work:

[code]

and returns

[code]

ansible 2.1.0

[2016-03-30 11:08] mondherGL opened #15203 "use environment variables of the remote host"
##### environment variables
- Hello , i use ansible to run tasks in remote machine , i want to work with variables from this remote machine . i tried to use lookup module but it return the variables of my machine to the remote one . i have no idea haw to do it .
  thanks in advance.
##### ANSIBLE VERSION
- 2.0.1
##### CONFIGURATION
- /etc/ansible/ansible.cfg (configuration)
  -/etc/ansible/hosts (

[2016-03-30 11:32] sivel commented on #15203
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-03-30 11:32] #15203 closed, assigned to nobody

[2016-03-30 11:54] pshchelo commented on #14568
I was experiencing the same issue and found following reason in my particular case (may be someone find it useful):

For my use-case I'm using a very minimalistic bootstrap image based on Ubuntu 14.04 built with diskimage-builder (and devuser element, passwd-less sudo user "ansible").

I was still getting "The async task did not return valid JSON" error although I checked and in my ansible version

[2016-03-30 12:06] jimi-c commented on #13876
So some more fun with this bug - running sshd in the above container with -ddd to try and get some debugging info about the remote side does not fail. I've been running the above script against it for over 11 hours without triggering the bug.

[2016-03-30 12:47] PumpkinSeed opened #15205 "Run ansible host in playbook when conditional true"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

My porpuse to skipping the whole host when "db" not in env. Now I got this error, but I want to skip it:

[code]

[2016-03-30 12:53] dagwieers commented on #15181
@hrstoyanov To me it seems there are 2 problems in your example, one was related to quoting, the other to syntax. Can you try to use the full YAML syntax (instead of the old parameter-syntax) ?

I noticed you are using the old parameter-syntax on multiple lines, and you have blanks between key and "="-sign.

Did you try:

[code]

That's what @jimi-c actually did in his example.

[2016-03-30 13:05] dagwieers commented on #15195
I can reproduce this on Ansible v1.9.5 and Ansible v2.0.1 with the following minimal reproducer:

[code]

**Output on Ansible v1.9.5**

[code]

**Output on Ansible v2.0.1.0**

[code]

I would rewrite the issue title as **Skipped tasks register variables**.

Although it seems strange to me that a task that is skipped still performs an action. However this might be intended in order to know if a sub

[2016-03-30 13:39] sivel commented on #15195
This is expected.  Skipped tasks still register to the variable so that you can do things like `var|skipped` in future conditionals.

You should use different variable names in you register statements for each task.

[2016-03-30 13:47] kai11 commented on #14143
@bcoca https://github.com/kai11/ansible/blob/fix/select_fd_out_of_range_wip/lib/ansible/plugins/connection/ssh.py includes all 3 - KQueue, Poll (not epoll though) and Select.
Only Poll and Select were tested, KQueue is a guesswork - I did not tested it on FreeBSD.

[2016-03-30 13:55] dagwieers commented on #10218
We cannot use an alias if we revert the meaning and swap "yes" and "no". We could rename **copy: no** to **transfer: no**, but replace **copy: no** with **remote_src: yes** is not doable using aliases, but requires mutual exclusive options, glue-logic and documentation updates.

I don't mind implementing this as part of ansible/ansible-modules-core#3307 if we have consensus.

[2016-03-30 13:59] dagwieers commented on #14078
This is a duplicate of #14917.

[2016-03-30 14:01] adriensaladin opened #15206 "shell module in check mode, when creates parameter is set, could indicate that it won't run"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
shell module and check mode

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
shell (and probably command) modules have a `creates` parameter. The command is not run when the target file exists. When a playbook is executed with `--check` option, the task is skipped even when the target file exists. It is th

[2016-03-30 14:48] bcoca commented on #14143
I would move the poller classes out of the ssh plugin, they might be useful for more than just that one.

[2016-03-30 14:49] bcoca commented on #14143
also i would only use epoll once the number of connections is very high (~ +1000)

[2016-03-30 15:12] #15184 closed, assigned to nobody

[2016-03-30 15:28] bcoca commented on #14078
closing as dupe

[2016-03-30 15:28] #14078 closed, assigned to nobody

[2016-03-30 15:35] bcoca commented on #15195
closing as this is not a bug but a misunderstanding as stated above

[2016-03-30 15:35] #15195 closed, assigned to nobody

[2016-03-30 15:44] lieutdan13 commented on #12176
I'm seeing the same behavior in 1.9.5.

[2016-03-30 15:47] jimi-c commented on #15184
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-03-30 15:57] Constantin07 opened #15210 "Unexpected Exception: 'NoneType' object has no attribute 'get_vars'"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

[code]
##### SUMMARY

The task with include statement fails with an error after upgrade to latest devel version (c09e085480d51d5a5fc32ee5321c70cddb69656b).
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Playbook should run fine.
##### ACTUAL RESULTS

[code]

[2016-03-30 16:08] kustodian opened #15211 "yum + with_items always reports as skipped"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

`yum` module when used `with_items` always reports as skipped, but it actually runs the operation correctly.
##### STEPS TO REPRODUCE

This task:

[code]

always returns as skipped.
##### EXPECTED RESULTS

Return OK or Changed.
##### ACTUAL RESULTS

It returns skipp

[2016-03-30 16:16] bcoca commented on #15211
can you run with -vvvv and post the output?

[2016-03-30 16:27] serdardalgic commented on #12682
@bcoca you're the one who closed the ticket here, can you check and confirm the situation? Can you reopen this ticket again? Thanks a lot!

[2016-03-30 16:54] klauern opened #15212 "'include' tasks statement with 'when' condition doesn't work with `vars_prompt` variable"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`ansible.cfg`

[code]
##### OS / ENVIRONMENT

RHEL6
##### SUMMARY

`include` statement with `when` condition doesn't work with `vars_prompt` variable.
##### STEPS TO REPRODUCE

Given a task file like the following:

[code]

And a playbook that uses it:

[code]

The output is the following, even if you leave the defaul

[2016-03-30 18:35] benjifisher commented on #14840
This looks to me like the same problem as Issue #14411.  I ran into the same thing:  when the role `foo` is declared as a dependency of the role `bar`, then variables passed to `foo` in `bar/meta/main.yml` override those defined in `foo/defaults/main.yml` even if `foo` is included before `bar`.  Here is my example:

**playbook.yml**

[code]

**hosts**

[code]

**roles/foo/defaults/main.yml**

[cod

[2016-03-30 19:12] edrzmr commented on #13876
My software stack:
- CentOS Linux release 7.2.1511 (Core)
- kernel: 4.5.0-1.el7.elrepo.x86_64
- sshd: openssh-6.6.1p1-23.el7_2.x86_64

This bug always come up when starting heavy processes (docker containers or java) at aws t2.micro, and go away  with t2.large.

It seems that the system is unstable with increasing load.

[2016-03-30 19:17] nitzmahone commented on #13876
Hmm, buffer-flush race with the muxed-connection channel close? What if we hung a tiny sleep off the end of the commands?

[2016-03-30 19:20] nitzmahone commented on #13876
@ederrm - that's really helpful info- I think we're mostly doing no-op-ish things in our tests. I wonder if we can trigger this more often by kicking off a background spinwait or something...

[2016-03-30 20:03] jimi-c commented on #14727
Excellent, I'll go ahead and close this out.

Thanks!

[2016-03-30 20:03] #14727 closed, assigned to nobody

[2016-03-30 20:20] jimi-c commented on #15193
Hi @olfway, I fixed this yesterday, so if you update to the latest devel you should be good to go.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.co

[2016-03-30 20:20] #15193 closed, assigned to nobody

[2016-03-30 20:22] jimi-c commented on #15194
This is a different issue I see, but may have been fixed by the same fix as your previous issue. Could you please confirm if you're still seeing this?

[2016-03-30 20:24] jimi-c commented on #15198
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-30 20:24] #15198 closed, assigned to nobody

[2016-03-30 20:26] jimi-c commented on #15205
Hi @PumpkinSeed, unreachable host errors are not regular errors, and cannot be skipped or ignored.  As this is more of a general use question than a bug, we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips,

[2016-03-30 20:26] #15205 closed, assigned to nobody

[2016-03-30 20:27] jimi-c commented on #15210
Closing, dupe of https://github.com/ansible/ansible/issues/15194

[2016-03-30 20:28] #15210 closed, assigned to nobody

[2016-03-30 20:44] jimi-c commented on #15188
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-03-30 20:44] #15188 closed, assigned to nobody

[2016-03-30 20:50] abadger commented on #15138
@jimi-c made this change in 2.0 to avoid tracebacks when non-ascii values are processed.  What is the actual problem that you are encountering?  There are a few potential workarounds depending on your needs.

If this is something you wish to set for all modules, setting module_lang in ansible.cfg or setting the  ANSIBLE_MODULE_LANG environment variable will probably work for you.  Be sure to set t

[2016-03-30 21:07] jimi-c commented on #15190
Hi @larsch, thanks for reporting this. For now you can work around this by doing `with_pipe: 'find /path --follow --type f '` instead.

[2016-03-30 21:22] ssawtell commented on #14665
I just upgraded from 1.9.4 to 2.0.1.0 and I am seeing the same problem with one of my playbooks. The same playbook worked under 1.9.4, so the issue seems to be related to whatever changes were made in 2.x.

I have three plays in the playbook, each with multiple tasks. For me, the most likely failure will be in the first or second task in the second play. The second play will continue as expected,