[2016-06-16 12:56] jsnshrmn opened #16325 "lineinfile with regexp writes line when there isn't a match"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Bone stock
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When lineinfile  with regexp finds a match, it substitutes properly.  When it doesn't find a match (say, on subsequent runs), it just dumps the specified line at the bottom of the file as if you hadn't specified a regexp.  Needless to say, this breaks idempote

[2016-06-16 13:15] mverwijs commented on #16241
I run into this problem without using the 'serial' keyword.

Inventory file:

[code]

Playbook

[code]

Ansible (2.1) command:

[code]

Expected result : all Plays are executed.

Actual result: Only the first play is executed.

[code]
- when using ansible 1.9.x or 2.0.x, the bug is not triggered and all Plays get executed.
- when running `ansible-playbook -i testinventory test.yml --list-tasks`, a

[2016-06-16 13:34] Arano-kai opened #16326 "Service module failure with sshd svc and state defined"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Ansible has default config
Remote admins has separate home dirs in /etc/ssh/ssh_home/<user>
##### OS / ENVIRONMENT

Master: CentOS Linux release 7.2.1511 (Core)
Slave1: Debian GNU/Linux testing (stretch)
Slave2: localhost =)
##### SUMMARY

Service module fails if name=ssh (or sshd) and state=(whatever possible).
With

[2016-06-16 13:38] dinesh2303 commented on #14605
https://github.com/yaegashi/ansible-role-blockinfile/issues/15

[2016-06-16 13:58] bcoca commented on #16326
this is dupe and should already be fixed by https://github.com/ansible/ansible-modules-core/commit/a412451a89b0d2f98014a94e1fd70ba797388364

[2016-06-16 13:58] #16326 closed, assigned to nobody

[2016-06-16 13:58] bcoca commented on #16326
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-16 14:03] #15740 closed, assigned to nobody

[2016-06-16 14:07] bcoca commented on #16323
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-16 14:07] #16323 closed, assigned to nobody

[2016-06-16 14:11] mattmonkey83 commented on #15523
Thanks @jimi-c - Re-tested using latest from source and the problem now appears to be resolved 😄

[2016-06-16 15:36] abadger commented on #13825
@nocive what tima means is that once an issue has been "closed, fixed", people who can do something about any problems that exist after the fix has been applied are probably not going to see the comments on the closed ticket.  Opening the new ticket is the way to get attention on the issue.

For people suffering issues with synchronize and vagrant pushing files to the wrong machine, we merged this

[2016-06-16 16:24] arkag opened #16327 "-vvvv Ouput for Ansible-Vault"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I don't think that this is related to the issue, nor am I the maintainer of our companies ansible config. If necessary I can get what has been changed, but I don't forsee this being an issue.
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

-vvvv doesn't produce helpful output for decrypting ansible-vault files.
#

[2016-06-16 16:50] nitzmahone commented on #16260
There are some changes being discussed that might make this easier to do using the existing block infrastructure (roles-as-tasks, role libraries, etc). That said, this is a big enough feature that if you really want community feedback on it, I'd suggest you might want to close this issue and write a [proposal](https://github.com/ansible/proposals/) instead, then come discuss at an IRC meeting.

[2016-06-16 16:56] nitzmahone commented on #16276
This should probably be closed and reopened in https://github.com/ansible/ansible-modules-core/ as the bits in question live there.

[2016-06-16 17:09] nitzmahone commented on #16280
Yeah, looks like you're hitting an unholy combo of Jinja2 backslash escaping plus shell escaping plus (lack of) quoting on the setfacl user arg.

I've tagged this as a higher priority, so hopefully we'll get to it reasonably soon. Meantime, I'm curious if you're able to work around this with the username in UPN format (eg, user@domain.com)? (I don't have PB laying around to mess with)

[2016-06-16 17:53] #16295 closed, assigned to nobody

[2016-06-16 17:56] nitzmahone commented on #16276
Also duplicate of https://github.com/ansible/ansible-modules-core/issues/3952 - closing this one (since 3952 is already in the correct repo)

[2016-06-16 17:56] #16276 closed, assigned to nobody

[2016-06-16 18:05] md5 commented on #16280
@nitzmahone Yes, using the UPN format as a workaround is successful. That's a great suggestion! 👍

[2016-06-16 18:08] cwre commented on #16327
Thank you!

[2016-06-16 18:17] kustodian commented on #12086
Both `squash` and `forks` would be awesome features which would speed up Ansible execution immensely.

I would also replace `how` with something like `loop_details`, `loop_settings`, `loop_options`, or anything similar.

[2016-06-16 18:22] nitzmahone commented on #16303
I'm unable to reproduce this on Ansible 2.1.0.0 - you didn't specify how Ansible got installed, but perhaps you've got a mixed-version installation or cruft left over between an OS package-managed version and a pip version?

[2016-06-16 18:29] abadger commented on #16322
I'm wondering why this isn't falling back to chown... On your version of Solaris, are you able to give away files?  ie: chown as an unprivileged user will successfully assign ownership of the file to the other user?

[2016-06-16 18:33] Jacob-SAE commented on #16303
I installed ansible through pip. I did an pip install ansible --upgrade , would this cause a problem?

I'll attempt to uninstall and reinstall through pip to see if that helps. I will inform you here afterwards if it persists.

Thank you @nitzmahone

[2016-06-16 18:40] nitzmahone commented on #16309
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-16 18:40] #16309 closed, assigned to nobody

[2016-06-16 18:43] nitzmahone commented on #16303
Yeah, that should work fine, but we've seen weird issues when people have installed via OS package manager then pip over the top. If you've got a clean VM to try the install in, might be a good thing too, because the test case works fine for me!

[2016-06-16 18:46] Jacob-SAE commented on #16303
Its still happening on a newly created KVM.

Could it be that I'm misusing the CLI? I'll include the code I call playbooks with below.

[code]

The inventory seems to persist for the first role and then vanish on the next one.

I realize this may not be the place for this; however, I appreciate suggestions on what I could try.

[2016-06-16 18:46] nitzmahone commented on #16318
I'd suggest bringing this to an [IRC meeting](https://github.com/ansible/community/blob/master/MEETINGS.md) - sounds like a workable thing to me, though...

cc @chouseknecht

[2016-06-16 18:51] nitzmahone commented on #16325
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-16 18:51] #16325 closed, assigned to nobody

[2016-06-16 18:59] frank-carnovale commented on #11066
Thanks so much for comment about times: yes.    Was really struggling with that.  Deserves a mention in the reference documentation.

[2016-06-16 19:04] thebroz commented on #16013
Python 3 was released December 3, 2008. that's a long time ago. I've not written any Python in version 2 for more than 6 years, and neither has my team.
I just started looking at Ansible, and getting started isn't going well. Is there a Python 3 development branch I can check out and work with?

[2016-06-16 19:10] nitzmahone commented on #16303
Sorry, the simple blanket answer for this one: we don't support calling the Python API externally. You are, of course, welcome to do so, but you may run into any number of issues that we're unable to directly help with. Our CLI tools (the only use case we test the Python API against) live long enough to do a single run, and we're not particularly careful about preserving state beyond that.

Others

[2016-06-16 19:10] #16303 closed, assigned to nobody

[2016-06-16 19:19] sivel commented on #16013
Python3 support is outlined in the roadmap at https://github.com/ansible/ansible/blob/devel/docsite/rst/roadmap/ROADMAP_2_2.rst

[2016-06-16 19:51] thebroz commented on #16013
Thanks for the link, Sivel! It looks like Python 3 support is coming soon!!

[2016-06-16 20:06] bcoca commented on #12086
`loop_control` , already in 2.1 with the `label` part implemented.

squash might just go away as it is easy to just pass a list to the modules that support it:

`apt: name={{listofpackages}}`

and avoid the loop completely

[2016-06-16 20:43] dekimsey commented on #15117
@bcoca What was the commit/pr/issue that addressed this? I cannot find any references to "partial static includes". I'm seeing it 2.1 and was trying to verify its fixed or what I can do to work-around it at the moment.

[2016-06-16 21:00] ifelsefi commented on #16315
Thank you for keeping me employed!

[2016-06-16 21:01] trondhindenes commented on #14542
+1 - can reproduce. Seems that both "to_nice_" filters have this problem.

[2016-06-16 21:18] jgrowl commented on #16318
@nitzmahone Thanks, I'll try to remember hop in on Wednesday during the 'New Modules Review' time period.

[2016-06-16 21:20] thenewwazoo commented on #10779
This has also bitten me. A 10s timeout is generous on dedicated hardware, but when we provision hundreds of VMs in shared infrastructure that are busy doing disk-intensive operations, 10s is not nearly long enough. This very much should be configurable.

[2016-06-16 21:28] mscherer opened #16332 "Need to backport fix for #15996"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

So I stumbled on a copy of the problem seen in https://github.com/ansible/ansible/issues/15996

It was introduced in 3a052654f31fd15cf583e8188a825dbc55563a3e and fixed on 3e03004b6f3344ca2352819a0bfb3a733bdd4b09

However, as discussed on irc, there seems to be another fix needed, but I can't find

[2016-06-16 21:34] stxyzth commented on #16248
I can confirm this only occurs when "persistent=yes" is in the play. It runs fine without this and other sebooleans fail when it is included.

[2016-06-16 21:44] prakashgula opened #16334 "Unable to login using sudo account"
##### Issue Type:
- Bug Report

I am trying to SSH to server then sudo to particular account where i need to run few simple shell commands.
##### Ansible Version:

$ ansible --version
ansible 2.0.1.0
##### Ansible Configuration:

[code]

[code]
##### Environment:

Running from OSX 10.11.2, ansible installed via home-brew
Target OS : RHEL
##### STEPS TO REPRODUCE

I am trying to SSH to particular h

[2016-06-16 22:42] shaunbrady commented on #10594
+1 Added this to boto2, and now I'm interested in using it with Ansible.  I'm not sure if this issue is more interested in policies or the ability to list users/groups/policies, but I'm personally interested in both.

[2016-06-16 23:10] sivel commented on #16334
Your example does not align with your description.  You state you are trying to ssh as one user and then sudo to another, however your example shows logging in as `sudoaccount` and trying to sudo to `sudoaccount`:

[code]

Logging into and sudoing to the same account will do nothing, other than run the command as the user you log in with.  Do you mean to sudo to the root user?  If so use `become_u

[2016-06-16 23:10] #16334 closed, assigned to nobody

[2016-06-16 23:43] ToBeReplaced commented on #16320
I have the same issue `ansible-2.1.0.0-1.el7.noarch`.

This looks like the same issue as both #16080 and #16209, but I think these steps to reproduce are the simplest.

[2016-06-17 00:19] prakashgula commented on #16334
My bad, its typo. Sorry for the confusion. I am trying to do SSH to one account then SUDO to another account.
  remote_user: sshaccount
  become: yes
  become_user: sudoaccount
  become_method: 'sudo'

I tried using the following also for sudo account details in ansible.cfg but that didn't help.
[default]
hostfile = ansible_hosts
remote_user = sshaccount
host_key_checking = True
become_user: sudoa

[2016-06-17 00:33] dazwin commented on #15432
+1 Whether this was in documentation or not, it was very useful behavior in 1.9. Per @mrgnr, I have also being using git submodules and it worked well - several modules can be installed to the local ansible directory structure and they 'just worked'.

With the current behavior, getting custom modules integrated into an ansible structure becomes a PITA as all custom modules would now have to exist

[2016-06-17 00:33] my2ter commented on #7367
@chouseknecht

Sorry I should have specified that I am using Docker beta with xhyve. Not sure how everything is tied together so let me know what you need from me. On top of my head to help you.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-06-17 00:41] scottbrady commented on #13401
I ran into this error with ansible version 2 when I had the wrong permissions on my private key. I only discovered the issue when I downgraded to ansible 1.9 and got a helpful error:

`fatal: [1.2.3.4] => private_key_file (key.pem) is group-readable or world-readable and thus insecure - you will probably get an SSH failure`

Can we get this error message added back into ansible version 2?

[2016-06-17 03:01] neo515 commented on #16298
end it

[2016-06-17 03:01] #16298 closed, assigned to nobody

[2016-06-17 04:00] mlogic opened #16337 "unarchive inexplicit error message when unarchive fails"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change.
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

I have a host that doesn't have bzip2 installed, so when unarchive tries to unarchive a tar.bz2 package it fails. But the problem is ansible's output doesn't point to the real problem, but instead it is:

[code]

The msg above was produced by:

[code]
##### S

[2016-06-17 04:29] surabujin commented on #4638
Where exactly we need recursive template evaluation?

[2016-06-17 06:15] rawbertp commented on #16322
No, I cannot (as ansible_user is an unprivileged account).

But we do the same type of things on Linux hosts without any issues... (cannot change group/ownership from ansible_user to ansible_become_user account there either)

[2016-06-17 07:28] abadger commented on #16322
@rawbertp What I mean is -- I recently received a bug report from a  HP-UX user who claimed that he had tested chown on Solaris and it had the same behaviour as HP-UX: chown as an unprivileged user can give a file to another user.  Want to figure out whether that was entirely false or a different version of Solaris or perhaps a config option (My reading indicates that it's configurable on HP-UX).

[2016-06-17 07:40] abadger commented on #16322
@rawbertp Also -- see if that Pull Request fixes things for you.  I did some minimal testing on freebsd which also appears to lack -R as a commandline option to setfacl but would be great to confirm that it fixes your problem on Solaris and doesn't cause any new issues.

[2016-06-17 09:23] rawbertp commented on #16322
That commit gives me a new error:

[code]

[code]

[2016-06-17 09:41] you-n-g opened #16341 "How to get the result from ansible python api"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

I don't know how to get the  result from ansible python api.
##### STEPS TO REPRODUCE

I'm following this page http://docs.ansible.com/ansible/developing_api.html
I replace the tasks with this.

[code]

I can get the result in stdout.

[code]

But I don't know how to get the da

[2016-06-17 10:42] boscowitch commented on #16305
Second that a lot of Programms have problem with the backup files in the same location,
another example nginx's sites-enabled (yes i could work in sites-available but still messy and not feasable if I only wanna change the activated ones...) at the moment i do 2 steps before and after i search for old forgotten backup files with a "~" move them away do my modifications search again and move them .

[2016-06-17 12:22] jctanner commented on #16337
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-17 12:22] #16337 closed, assigned to nobody

[2016-06-17 12:49] jimi-c commented on #16332
Closing, as this required fixes were all in `stable-2.1` already.

[2016-06-17 12:49] #16332 closed, assigned to jimi-c

[2016-06-17 13:27] abadger commented on #16322
@rawbertp could you run the patched version with ANSIBLE_KEEP_REMOTE_FILES=1, post the complete output, and then check the unix permissions and acls of the remote temporary files and post the output?  Here's what it looks like when I do it for my freebsd box:

[code]

[code]

[code]

[2016-06-17 13:30] huiser opened #16343 "Add 'force' parameter to redhat_subscription module"
'subscription-manager' has a --force parameter, it would be nice if this could be implemented in the redhat_subscription module.

Example:
`
- name: Make sure machine is subscribed
  redhat_subscription:
    state=present
    activationkey=activationkey_1
    org_id=example
    force=yes
  `

[2016-06-17 14:01] bcoca commented on #16343
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-17 14:01] #16343 closed, assigned to alikins

[2016-06-17 14:15] codenamesubho commented on #14408
@steve-gregory  the above solution didn't help. any other solution for this yet?

[2016-06-17 14:16] abadger commented on #16322
Reopening issue until we figure out what the second error is arising from.

[2016-06-17 14:51] jpic opened #16344 "Deleted newlines after {% endif %}"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Newlines after endif are deleted.
##### STEPS TO REPRODUCE

test.yml

[code]

test.template

[code]

Command

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

Bug or feature ? PEBKAC perhaps ? ;)

Thanks for your time !

[2016-06-17 15:00] sivel commented on #16341
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2016-06-17 15:00] #16341 closed, assigned to sivel

[2016-06-17 15:20] jhawkesworth commented on #16266
Sorry, just seen this.  I don't really know what help I could be on con call, other than the suggestions I've made above.

Since it is working ok on 2012 machine, I still think it is likely to be an issue on the S2008R2 machine, rather than in ansible.

I suggest you asking on the ansible-project google group, or on the #ansible irc channel in case anyone else has hit this and found a solution - m

[2016-06-17 15:23] bcoca commented on #16344
so this is a jinja2 issue, ansible inovkes it with most defaults except `trim_blocks=True`. You can override settings with a special `#jinja2: trim_blocks: False` header, there is also a 'trailing new lines setting' as well as + -  modifiers to blocks:

`{% endif +%}`

[2016-06-17 15:24] bcoca commented on #16344
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-17 15:24] #16344 closed, assigned to nobody

[2016-06-17 15:46] abadger commented on #16322
This is the playbook I'm testing with:

[code]

[2016-06-17 15:51] you-n-g commented on #16341
Thanks !
I'll follow https://github.com/sivel/ansible/commit/eab10b2402da4adb038cf88ebac089e6e2183839 and try it  :)

[2016-06-17 17:20] ovcharenko opened #16347 "synchronize doesn't substitute variables properly"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

##### STEPS TO REPRODUCE

`$cat hostfile`

[code]

`$ cat test.yaml`

[code]

`$ cat group_vars/all`

[code]

`$ cat group_vars/test`

[code]

`$ ansible-playbook test.yaml`

##### EXPECTED RESULTS

All tasks will be completed.
##### ACTUAL RESULTS

`synchronize` task

[2016-06-17 17:34] zacho19 opened #16348 "FAILED! => {"changed": false, "failed": true, "msg": "__init__() got an unexpected keyword argument 'validate_certs'"}"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Running el captain 10.11.5. Managing ubuntu/trusty64 vagrant box
##### SUMMARY

I want to run vault in a vagrant box using ansible. Trying to start the vault server as a service with conusl, however it throws {"changed": false, "failed": true, "msg": "**init**() got an unexpected keyword argumen

[2016-06-17 17:37] sivel commented on #16348
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about the consul module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or

[2016-06-17 17:37] #16348 closed, assigned to nobody

[2016-06-17 17:46] ovcharenko commented on #16347
Ok... fix was really easy:

[code]

Please review and commit if appropriate.

[2016-06-17 18:12] jpswade commented on #14426
`<vagrant.dev> PUT /var/folders/br/p6m9m2ks0v9868lpyphsxdfr0000gp/T/tmpqcF4PG TO /home/vagrant/.ansible/tmp/ansible-tmp-1466186263.1-239875858441470/setup
<vagrant.dev> SSH: EXEC sshpass -d25 sftp -b - -C -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o Port=22 -o User=vagrant -o ConnectTimeout=15 -o ControlPath=/Users/vagrant/.ansible/cp/ansible-ssh-%h-%p-%r '[vagrant.dev]'
fatal: [vagrant.

[2016-06-17 18:22] hesamg opened #16350 "Relative paths don't work for roles within roles in Ansible 2.x"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
We have a **Debian8 role** that is defined within another role called **base**.   Any relative path to template files within the **Debian8 role** is relative to the **base role** working directory instead of the **Debian8** directory.

##### STEPS TO REPRODUCE
We h

[2016-06-17 18:47] jan-warchol opened #16351 "Hostvars of hostvars aren't evaluated"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nocows = yes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When a variable is defined using hostvars construct (e.g. `var_ip: {{ hostvars... }}`) and I try to get it's value on another host (using `{{ hostvars[...].var_ip }}`), it's not evaluated.

##### STEPS TO REPRODUCE
Vagrantfile
[code]

[2016-06-17 18:55] bcoca commented on #16351
i think you want `debug: msg="{{ var_ip }}"`

[2016-06-17 19:04] jan-warchol commented on #16351
But I want to get the value of this variable **from another host** (vm2), that's why I need to use hostvars.

[2016-06-17 20:59] php-coder opened #16352 "[mac os x] ansible-galaxy: "unexpected Exception: name must be a byte string" when installing from requirements file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac OS X 10.9.5
Python 2.7.5
Ansible 2.1.0.0 (from brew)
##### SUMMARY

##### STEPS TO REPRODUCE

When I'm trying to install role from ansible galaxy by using `requirements.yml` file, ansible fails.

[code]

##### ACTUAL RESULTS

[code]

I've googled for this error message and f

[2016-06-17 21:09] alyazmo opened #16353 "Playbook will only run if "connection=local""
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
host_key_checking=False
inventory      = /etc/ansible/hosts
# library        = /usr/share/my_modules/
# remote_tmp     = $HOME/.ansible/tmp
# local_tmp      = $HOME/.ansible/tmp
# forks          = 5
# poll_interval  = 15
# sudo_user      = root
# ask_sudo_pass = True
# ask_pass      = True
# transport

[2016-06-17 21:10] #15448 closed, assigned to nobody

[2016-06-17 21:17] xenithorb commented on #15915
still seeing this is an unpatched `pip` install of 2.1.0.0. When will this be updated?

[2016-06-17 21:43] jctanner commented on #16353
@alyazmo
- Are you able to scp files to '$HOME/.ansible/tmp' on the router?
- Have you tried changing the remote temp dir?
- Have you tried using the default mode of sftp instead of scp?

[2016-06-17 22:03] jctanner commented on #16352
Testcase ...

[code]

Result ...

[code]

[2016-06-17 22:06] jctanner commented on #16352
@php-coder please provide the -vvvv output from galaxy.

[2016-06-17 22:12] php-coder commented on #16352
[code]

[2016-06-17 22:14] php-coder commented on #16352
@jctanner Thank you for the fast feedback. I've added debug output. Looks like something OpenSSL related.

[2016-06-18 04:39] jctanner commented on #16352
@php-coder can you test this script? ...

[code]

[2016-06-18 07:01] udemethegrtman opened #16354 "Failed to connect to the host via ssh."
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report

This is the isssue

[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-18 09:47] jean-christophe-manciot opened #16356 "Cannot build debian package from git sources: Cannot find (any matches for) "docs/man/man1/*.1""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu 16.04 4.4.0-24
##### SUMMARY

An error prevents from building the debian package from git sources.
##### STEPS TO REPRODUCE

release_number=$(your call)

[code]
##### ACTUAL RESULTS

[code]

Full log with **2.1.1.0-0.1.rc1**:
[Cannot find any matches for docs-man-man1-*.1.txt](https:

[2016-06-18 09:58] azaghal opened #16357 "Nested variables from group_vars are not fully expanded when used in handler names"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Variable expansion/core.

##### ANSIBLE VERSION

Tried with both 1.9.x and 2.1.x, but different failures occur (see below for details).

[code]

[code]
##### CONFIGURATION

Only the **ANSIBLE_HOSTS** to point to correct inventory.
##### OS / ENVIRONMENT

Gentoo 64-bit, Ansible installed via virtualenv, local actions only.
##### SUMMARY

Nested v

[2016-06-18 10:06] jean-christophe-manciot commented on #16356
If I use the following bad trick before "dpkg-buildpackage", the build is successful:

[code]

[2016-06-18 10:08] azaghal commented on #16357
As a side-note, the Ansible 2.1.0 issue is somewhat of a different kind, but could be related.

[2016-06-18 10:27] jimi-c commented on #15915
@xenithorb this will be included in 2.1.1 (rc1 went out yesterday).

[2016-06-18 10:29] jimi-c commented on #12160
@chymian that is a completely unrelated error, could you please open a new issue for this? Thanks! It does seem like you've gotten a bad installation somehow, as the `linear.py` file should be installed with Ansible. Most likely you have an old installation of Ansible?

[2016-06-18 10:37] jimi-c commented on #15117
@dekimsey it was several patches, overall the feature in 2.1 was to make includes static when one of the following is true:
- task_includes_static or handler_includes_static is enabled in the ansible.cfg (also configurable via environment variables ANSIBLE_TASK_INCLUDES_STATIC/ANSIBLE_HANDLER_INCLUDES_STATIC)
- `static: yes` is defined on the include task
- (as of 2.1.1) when no `with_` loop is us

[2016-06-18 11:22] jimi-c commented on #6726
This feature was added in 2.0, as shown in the following output:

<pre>
# ansible-playbook --version
ansible-playbook 2.0.2.0 (stable-2.0 0df4bfe063) last updated 2016/04/18 12:04:17 (GMT -500)
  lib/ansible/modules/core: (detached HEAD 38a38bbd03) last updated 2016/06/18 06:21:26 (GMT -500)
  lib/ansible/modules/extras: (detached HEAD 40acb516fd) last updated 2016/06/18 06:21:27 (GMT -500)
  conf

[2016-06-18 11:22] #6726 closed, assigned to nobody

[2016-06-18 11:47] jimi-c commented on #10098
Hi @hkariti, looking back at old issues, and this appears to have been resolved in 2.0:

<pre>
# ansible-playbook --version
ansible-playbook 2.0.2.0 (stable-2.0 0df4bfe063) last updated 2016/04/18 12:04:17 (GMT -500)
  lib/ansible/modules/core: (detached HEAD 38a38bbd03) last updated 2016/06/18 06:21:26 (GMT -500)
  lib/ansible/modules/extras: (detached HEAD 40acb516fd) last updated 2016/06/18 06:

[2016-06-18 11:47] #10098 closed, assigned to nobody

[2016-06-18 12:00] jimi-c commented on #10464
@seeker89 yes the dictionary syntax is still the suggested workaround for this. I have confirmed that works on devel/stable-2.1.

[2016-06-18 12:03] mahemoff commented on #12086
http://docs.ansible.com/ansible/playbooks_loops.html#loop-control

[2016-06-18 12:09] jimi-c commented on #11151
Revisiting again, and it appears that this has been resolved as of Ansible 2.1:

<pre>
# cat 11151_source
hi, replace this text
# cat 11151.yml
- hosts: localhost
  vars:
  - zookeeper_myid: 1
  tasks:
  - copy: src=11151_source dest=/tmp/11151.txt
  - name: Set zookeeper myid
    lineinfile: dest=/tmp/11151.txt regexp='^(.*)replace this text' line="{{ zookeeper_myid }}"
# ansible-playbook -vv 111

[2016-06-18 12:09] #11151 closed, assigned to nobody

[2016-06-18 12:47] #12622 closed, assigned to nobody

[2016-06-18 12:48] jimi-c commented on #12622
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release (Ansible 2.2.0).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project -

[2016-06-18 13:02] jimi-c commented on #13031
As there has been no movement or any work done on this in over 6 months, we're going to go ahead and close this now. I do feel that changing the behavior from how it currently is could cause problems, so we do not have any plans to change this.

If you would like to continue the discussion or revisit this idea, please move the conversation to the devel mailing list or IRC channel, or bring it up a

[2016-06-18 13:02] #13031 closed, assigned to nobody

[2016-06-18 13:03] jimi-c commented on #13215
This will most likely be part of the roles revamp planned for future releases. cc @bcoca

[2016-06-18 13:05] jimi-c commented on #13409
Per the above (duplicate/buggy commit reverted), we're going to close this now.

[2016-06-18 13:05] #13409 closed, assigned to nobody

[2016-06-18 13:06] jimi-c commented on #13411
Closing, per the above.

[2016-06-18 13:06] #13411 closed, assigned to nobody

[2016-06-18 13:14] jimi-c commented on #13456
@skorokithakis this falls under the general Python 3 work, as noted here: https://github.com/ansible/ansible/blob/devel/docsite/rst/roadmap/ROADMAP_2_2.rst (see the `Python 3 (Toshio)` section for details). As ansible-pull operates from the target side, it will most likely only have full support in Ansible 2.4, however a large number of modules should work with it as of Ansible 2.3.

If you have a

[2016-06-18 13:14] #13456 closed, assigned to nobody

[2016-06-18 13:30] #16327 closed, assigned to jctanner

[2016-06-18 13:55] jctanner commented on #16354
@udemethegrtman  we need more context to troubleshoot this. Please provide the following:
- operating systems involved
- inventory example
- -vvvv output from ansible or ansible-playbook

needs_info

[2016-06-18 18:07] 9er commented on #16146
This is not fixed.

If I run the command in ansible:

[code]

But when I copy the command and execute it directly, it works just fine:

[code]

Tested with Ansible 2.1 and ansible-git-2.2.0.19751.1db02df-1 with no difference (not counting the "executable=''" bug)

[2016-06-18 23:20] ryanmaclean commented on #15524
Came here with a similar problem to what @Jalle19 reported, and can also report that this should remain closed as he didn't report back :)

[2016-06-19 11:17] frimdo opened #16359 "Dependencies ran after role"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
role dependencies

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Since there is an dependency that is executed before your role, It would be awesome to have a dependency that you could execute after your role.

##### STEPS TO REPRODUCE
For example:
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2016-06-19 11:30] php-coder commented on #16352
Yes, sure:

[code]

[2016-06-19 23:03] pilou- commented on #16189
@stravid in order to workaround the problem, you can use:
`- ansible_sudo_pass: "{{ lookup('password', 'passwords/users/deployer encrypt=') }}"`

[2016-06-20 06:47] ssreyah commented on #16354
I have the same problem.
- Operating system: Ubuntu 14.04
- Inventory: 192.168.1.174
- -vvvv output from  ansible 192.168.1.174 -m ping -vvvv

[code]

[2016-06-20 06:47] rawbertp commented on #16322
I've now tested this with https://github.com/ansible/ansible/commit/6cb8fdeaf2e9c7c787fa42dcf92a4bc36913b365

Getting the following error:

[code]

whereas...
... localuser = local account on my laptop (Ansible control host)
... remoteuser = ansible_user

[2016-06-20 06:57] Ehekatl opened #16363 "Provide a better way to maintain dynamic inventory group"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
My hosts file have more than 500 lines, that become a huge pain for maintenance, and most importantly there is no way to validate if the tag is properly grouped or not, now I need manually check ip with corresponding tag on aws, how about add a validate

[2016-06-20 07:14] anshbikram commented on #16049
@bcoca thanks

[2016-06-20 07:14] #16049 closed, assigned to nobody

[2016-06-20 07:22] kustodian opened #16364 "2.1 Execution fails in a play with one host when some hosts before failed"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

If there is a play with only one host and before that play if one or more hosts failed, execution will stop after that one host play.
##### STEPS TO REPRODUCE

Use this playbook:

[code]

with this inventory:

[code]
##### EXPECTED RESULTS

Execution should continue to

[2016-06-20 07:33] kustodian opened #16365 "Could not create retry file '*.retry'. [Errno 2] No such file or directory: ''"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

If `retry_files_save_path` isn't set in ansible.cfg, when a playbook fails, a retry files tries to be created in an empty directory.
##### STEPS TO REPRODUCE

Make any playbook fail.
##### EXPECTED RESULTS

A try file should be created in the user home directory.
#####

[2016-06-20 08:35] abhivijay89 commented on #14665
The issue still persists in 2.1.1 rc1. If one of the hosts is unreachable in a particular task, Ansible moves on the next 2-3 plays and then randomly quits. Can you please help to take a look?

Alternatively, is there a way to ignore fatal errors?
Using a combination of "any_errors_fatal' & "max_fail_percentage" options doesn't seem to work either.

Tried: https://github.com/ansible/ansible/compar

[2016-06-20 09:06] abhivijay89 commented on #16364
Thanks for the pointer @kustodian. I was thinking this was related to this bug only:  https://github.com/ansible/ansible/issues/14665.
Even, I'm able to reproduce this issue. Any workarounds you think we can use to override this issue?

[2016-06-20 09:21] ejournet opened #16366 "Missing a with_items/when combination"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

CentOS 6
##### SUMMARY

I'm looking for a mean to combine conditions (with when) and list (with with_items).
Example : I need to copy several files, I'll use the with_items tool. But if now I want to copy one of these files under

[2016-06-20 10:10] kustodian commented on #16364
I didn't find any meaningful workaround. I think it needs to be fixed in core. Hopefully this repro will help the core devs to find the cause of this bug easier.

[2016-06-20 11:12] kustodian commented on #16366
Why not use something like this:

[code]

You better give a concrete example what you want to do, there is probably a way to do it already.

[2016-06-20 11:53] ejournet commented on #16366
Nice solution, Thanks

Though, the syntax becomes unclear in case of multi iteming

[code]

In this case if I pass a variable "number" to my playbook, which can be 1, 2 or 3, and which gives the file who will be actually copied, is there a readable way to do the following ?

[code]

(I think we can agree that above solution is not clear for such case, even more when the variable becomes more compl

[2016-06-20 12:36] codenamesubho commented on #14408
Changing concurrency pool to eventlet fixed my issue. Thanks.

[2016-06-20 12:52] kustodian commented on #16366
That's very easy to do, but it should be done totally differently.

You should define a variable e.g. `copy_files_specific`, which will be set differently for each server (or server group) in group_vars/host_vars, e.g. if the hosts are called `host1`, `host2` and `host3`, host vars should look like this:

[code]

[code]

[code]

and you can have a variable with common configuration files which wil

[2016-06-20 12:55] bcoca commented on #16366
many ways to do this, here is another:

[code]

[2016-06-20 12:55] bcoca commented on #16366
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-20 12:55] #16366 closed, assigned to nobody

[2016-06-20 13:11] bcoca commented on #16363
can you be more specific on what you mean? give actual examples?

Currently you have `--list-hosts`:
`ansible <groupname> -m ping --list-hosts`
This will show all the hosts in a group w/o actually doing the ping action.

And also should be able to do something like:
`ansible -m debug -a 'msg={{group_names}}' all`

to show hosts and membership

[2016-06-20 13:23] jctanner commented on #16352
@php-coder what is the output of this command?

[code]

How did you get 2.1 installed? Upgrade from 2.x or by clean brew install?

[2016-06-20 13:29] jimi-c commented on #16365
The default value was changed in 2.0 (when we re-implemented retry files) to be the playbook dir when the value in the config was None (the new default).

[2016-06-20 13:38] kustodian commented on #16365
Shouldn't the default then be set to `./`, since if it's None, it throws an error like this. This should be easy to fix in the `constants.py`, or if you want to leave it as None, than it would probably best that Ansible does nothing, so it doesn't throw an error with default values like it currently does.

Since this was removed in 2.0, I think it would be best to remove `retry_files_enabled` opti

[2016-06-20 13:49] towolf commented on #14469
:+1:  I really needed this today, because the debian mysql server packaging installs an update-alternatives symlink at the location of `/etc/mysql/my.cnf`, which I didn't notice was never overwritten.

[2016-06-20 13:58] mdaize commented on #7592
Sorry to re-address this, but we have run into this same issue presently. The current solution is to run a second time as the first time it creates a blank security group after presenting an error.

Because you need to create the security group before you can reconcile its' rules, would it not be better to refactor it so that it creates all the groups before applying the rules to each?

[2016-06-20 14:12] Ehekatl commented on #16363
@bcoca The first one only give the ip, I didn't know the second one, I tried but the output are wired...

[code]

I just have some roughly idea, we have huge pain on validating and maintaining a big hosts file, a way to validate hosts group would be great, and maybe it's possible to do like improve the structure for hosts file, support more abstraction (e.g. same thing in different environment rep

[2016-06-20 14:16] jl-montes commented on #16063
Had the same issue, glad this was reported and written up nicely, works for me as well.
I have an ubuntu ansible workstation that runs scripts against a cluster of CoreOS machines.

[2016-06-20 14:21] HariSekhon opened #16368 "Feature Request: Docker container of Ansible Tower for dev / CI testing"
- Feature Idea
##### SUMMARY

Request for Ansible Tower docker container to be able to pull down for CI systems to test code written against the Ansible Tower rest API.

[2016-06-20 14:22] oussemos opened #16369 "'list' object has no attribute 'startswith'\r\n", "msg": "MODULE FAILURE""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

Using https://github.com/openstack-ansible-galaxy/vagrant-ansible-openstack
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY & STEPS TO REPRODUCE

I'm testing with this repo https://github.com/openstack-ansible-galaxy/vagrant-ansible-openstack
##### EXPECTED RESULTS

Deployment of Openstack
##### ACTUAL RESULTS

[2016-06-20 14:31] #15084 closed, assigned to jimi-c

[2016-06-20 14:37] sivel commented on #16368
For tower related support questions please use https://support.ansible.com/

This repository is for the open source ansible project.

[2016-06-20 14:37] #16368 closed, assigned to nobody

[2016-06-20 14:39] sivel commented on #16369
This is a duplicate of the already resolved https://github.com/ansible/ansible-modules-extras/pull/2310 and will be included in the 2.1.1 release which is currently in RC1.

[2016-06-20 14:39] #16369 closed, assigned to nobody

[2016-06-20 14:45] alyazmo commented on #16353
@jctanner

thank you for your prompt response.
- when I use sftp I get an ssh:error that the data could not be sent over ssh
- I was able to scp on the router

[2016-06-20 14:51] bcoca commented on #16353
you NEED `gather_facts=False`, otherwise ansible will try to login to the router and run python

[2016-06-20 14:54] bcoca commented on #10098
@hkariti  you are using filters for lists on strings, which 'kindofworks' because of python but this is not intended to handles strings, you have 2 options (depending on what you actually want).

To use it on the strings as elements, define them in a list:

[code]

The other option if you want to operate on the strings as lists:

[code]

[2016-06-20 14:54] alyazmo commented on #16353
@bcoca

Thank you very much that did the trick

[2016-06-20 14:56] bcoca commented on #16353
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-20 14:56] #16353 closed, assigned to nobody

[2016-06-20 14:59] jimi-c commented on #7592
@matthewdaize could you please open a new issue on ansible/ansible-modules-core for this? Thanks!

[2016-06-20 15:05] jangsutsr opened #16370 "`apt_repository` module creates file with improper permission"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No extra configurations.
##### OS / ENVIRONMENT

Running on Ubuntu14.04, operating on localhost
##### SUMMARY

After installing a package using `apt_repository`, the corresponding file created under `/etc/apt/sources.list.d` has an improper permission type 420 (the expected permission type is 644).
##### STEPS TO REPR

[2016-06-20 15:38] dekimsey commented on #14665
2.1.1.0-RC1 does not appear to have addressed this issue. Is there any kind of debugging information that might be helpful?

[2016-06-20 15:43] bcoca commented on #16363
the first one lists inventory_hostname, if that is the IP, that is the info you setup. The 2nd might need better formatting:

`ansible -m debug -a 'msg={{group_names|join(",")}}' all`

[2016-06-20 15:44] bcoca commented on #16363
I'm still not clear in what you are asking, can you give concrete examples?

[2016-06-20 15:48] hkariti commented on #10098
@bcoca I used strings in this example because it was a simple way to reproduce the bug. I actually don't remember my original use case (I worked around it 1.5 years ago...), but it was either `difference` returning a string and surprising me, or me creating a filter plugin and using a set because it made more sense than a list. Either way, Ansible treating sets as a string is very unexpected.

Als

[2016-06-20 16:02] KamilLelonek commented on #16002
Same bug here..

[2016-06-20 16:11] Heliosmaster commented on #16002
@KamilLelonek look here: ansible/ansible-modules-core#3838

[2016-06-20 16:17] bcoca commented on #16359
you make the 'after' role depend on your current role?

[2016-06-20 16:31] Qalthos commented on #16282
So you have it mostly correct, IOS' NetworkModule does not call disconnect, but it is not intended to directly. The code in module_utils is not the modules themselves, but common code for modules in ansible/ansible-modules-core or ansible/ansible-modules-extra (or your own modules) to use. If you have a need for a connection to disconnect at some point, it would be put in there

(ex https://github

[2016-06-20 16:31] #16282 closed, assigned to Qalthos

[2016-06-20 16:32] jan-warchol commented on #16351
Interestingly, using custom facts works. Here's a test playbook (assuming the same inventory and group_vars as above):

[code]

In the second task I get correct output:

[code]

[2016-06-20 16:37] KamilLelonek commented on #16002
Thanks!

[2016-06-20 17:14] pabl0rg commented on #2097
+1

[2016-06-20 17:16] alikins commented on #16370
The docs http://docs.ansible.com/ansible/apt_repository_module.html claim 420 is the default mode.
Where does the expected 644 come from?

[2016-06-20 17:32] jangsutsr commented on #16370
That is wield since the doc has claimed. I got 644 when I repeated the above procedures using ansible 1.9.6.

[code]

And when I checked the file I had

[code]

[2016-06-20 18:11] bcoca commented on #16351
that is because  fact_ip is assigned the resolved value, not the template itself.

[2016-06-20 18:16] jsumners commented on #15399
Still seems to be the case with `2.1.0.0`.

[2016-06-20 18:20] php-coder commented on #16352
[code]

Yes, I also have an old version installed somewhere. So it's not a clean install, but also not upgrade because brew puts them separately.

[2016-06-20 18:24] jan-warchol commented on #16351
I see. Do you think the behavior of the variables could be changed so that they would also work? It would be much better for me to have this in a variable than in a fact.

[2016-06-20 18:32] bcoca commented on #16351
variables are lazyly evaluated, otherwise you would have issues with it trying to template 'on definition' and not have the hostvars available and fail. set_fact works as the vars are all defined and the evaluation happens when building the task, so the var gets the 'templated value' assigned, vs the template itself.

[2016-06-20 18:41] simfarm opened #16372 "UnicodeEncodeError"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-20 18:46] frimdo commented on #16359
If you are asking me to write this feature, than no. Im sorry, Im not a
python programmer...

[2016-06-20 18:54] simfarm opened #16373 "Unicode errors when running playbook with unicode under ansible 1.9.6"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

All defaults.
##### OS / ENVIRONMENT

NA
##### SUMMARY

"UnicodeEncodeError" when running playbook with unicode.
##### STEPS TO REPRODUCE
- Create this [playbook](https://github.com/jlaska/ansible-playbooks/blob/master/utf-8-%E4%89%AA%E1%89%92%EC%B9%B8%E2%B1%B7%EA%AF%94%E5%99%82%ED%8F%84%E8%94%86%E3%AA%97%E8%BC%A5.yml

[2016-06-20 18:56] alikins commented on #16370
Proposed fix at https://github.com/ansible/ansible-modules-core/pull/3990

[2016-06-20 18:56] alikins commented on #16370
Before:

[code]

After:

[code]

[2016-06-20 18:57] alikins commented on #16370
And as a workaround for 2.1.1, specifying the mode in the repo def does the right thing.

[code]

[2016-06-20 19:00] alikins commented on #16370
Note however, the workaround above only works for newly created repos.
If the specified mode is different from the actual mode, the permissions are not updated wtith 2.1.1

[code]

[2016-06-20 19:07] bcoca commented on #16372
soo, unicode related, but can you fill in the template?

[2016-06-20 19:09] bcoca commented on #16359
no, i'm saying that you 'have it', just make the role you wan to run 'after' depend on the role you want to rune 'before'

[2016-06-20 19:12] jangsutsr commented on #16370
Thx for the workaround!

[2016-06-20 19:12] frimdo commented on #16359
But that means that for example if I have a finalization role, all my roles would be finalization role depending on different things.

[2016-06-20 19:24] simfarm commented on #16372
A total goof on my part, apologies bcoca.

Real issue here: https://github.com/ansible/ansible/issues/16373.

[2016-06-20 19:24] #16372 closed, assigned to nobody

[2016-06-20 19:29] jan-warchol commented on #16351
Ok, I understand that variables are not evaluated "on definition", but they are evaluated at some point. Why this evaluation doesn't work for a variable defined using hostvars?

Consider the following: in group_vars, define `foo_if: "{{ if_control }}"` and run this playbook:

[code]

When Ansible reaches this task, it looks up the variable `foo_if` on host `vm2`. This variable is defined using a t

[2016-06-20 19:53] bcoca commented on #16351
its not recursively evaluating

[2016-06-20 20:41] rmauc opened #16374 "Help sudoing to a non-privilege User"
##### ISSUE TYPE

- Bug Report/Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-20 20:42] hesamg commented on #16350
Is there a timeline on which version this will be fixed?  This issue is blocking us from upgrading to Ansible 2.x

[2016-06-20 22:06] dekimsey commented on #14665
[Attached gist](https://gist.github.com/dekimsey/d1f6630df899797256cb989610b4c0a3) is a small test case of two error cases I've identified related to play execution.

In short, a group consisting of only failed hosts causes the run to abort at the given play. Interestingly, when any failures occur, all subsequent plays (successful or not) begin to emit the "NO MORE HOSTS LEFT" message at the end o

[2016-06-20 22:24] alexoj commented on #14077
I'm having this problem as well, the BOM comes from the temp environment variable fetch request (this line in the log: (New-Item -Type Directory -Path $env:temp -Name "ansible-tmp-1453467080.37-30169280583037").FullName | Write-Host -Separator '';)

You can see that it's sent by the winrm server itself:
http://i.imgur.com/LZTwdfK.png

Ansible runs .strip() on that string somewhere along the way bu

[2016-06-20 22:45] nitzmahone commented on #14077
I'm playing with adding a sub-PS3 check directly to our module exec wrapper so we can fail more gracefully on ancient Powershell versions... We can do it very cheaply- the biggest issue is just keeping the wrapper size well under the EncodedCommand limit (unless we switch to PSRP, which presents its own issues), as well as ensuring that the module wrapper will execute far enough to return the chec

[2016-06-20 23:30] WolverineFan commented on #15954
We have seen the same issue in Ansible 2.1.0.0 with batch size of 15. If one host in a batch fails, the playbook will exit after that batch rather than the old behavior of continuing until all batches are complete.

[2016-06-21 00:28] aboyett commented on #15817
I've hit the same situation in the past. While I expected `ansible_distribution_major_version` to allow numeric comparison, I checked all the ansible test-cases and saw that in every instance it is defined as a string. My playbooks use the solution suggested by @dagwieers.

FWIW, the LSB defined the VERSION_ID field of /etc/os-release to be "mostly numeric" so it seems converting the major version

[2016-06-21 00:43] einarc commented on #7984
@curaloucura  Well, that would be an IDEAL approach. Let's see if it gets implemented.

[2016-06-21 01:24] tanyewei commented on #14408
@Ghost-script for example?

[2016-06-21 02:04] h-hirokawa commented on #15280
This doesn't happened anymore. So I close this issue.

[2016-06-21 02:04] #15280 closed, assigned to nobody

[2016-06-21 02:52] alxempirical commented on #10057
Running into this on OS-X.  Installed with `brew install ansible`.

[code]

It happened with the example on pp 15-18 of _Ansible for Devops_.  No special `ssh` configuration.  I did have to put the `hosts` file in `/usr/local/etc/ansible`, rather than the `/etc/local/ansible` location recommended by the book.

[2016-06-21 06:02] ashemedai commented on #13243
This would be extremely useful for where I work since we are frequently running into this problem as security audits and frameworks require us to separate dev/qa/stg/prd and limit access to those environments. Right now we have to work around this with a lot of inventory duplication and group_vars repeating.

One of the things we now use is variable files where we refer to vault variables with a v

[2016-06-21 08:49] kustodian opened #16378 "Allow listen on list of keywords"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

With https://github.com/ansible/proposals/issues/11 added to the core, handlers can now listen on a keyword, which is a great. The problem is that they can only listen on one keyword, and often different events need to call the same handler. If we use an example from the mentioned proposal, handler `restart httpd` listens

[2016-06-21 08:50] Ehekatl commented on #16363
@bcoca that one was a little bit closer to my thought, but the output still not clear enough, it gives me all the tags but I only want tags inside my hosts file.

Let's say, now I have three environments, uat, staging, production, each of them contains dozens of service group and each service contains multiple groups as well, and they are all store in a plain text file, every time I change somethi

[2016-06-21 10:55] 4m3ndy commented on #15901
I met such a case, where i wanted to make an ansible playbook to list all the users on the remote server, and their authorized keys.
I made it using some shell commands, and I extracted all **user_names:home_dirs** from **/etc/passwd.**
I thinks this would be great for ansible to easy way up for root/sudo users.

[2016-06-21 11:14] k0ste opened #16379 "Error if private_key_file is group/world readable (2)"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

`
modules/core/system/setup.py
`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

GNU/Linux

##### SUMMARY

If private ssh key chmod is 644, we have error "SSH Error: data could not be sent to the remote host.", if such error was received by non expert, he will not be able to correct it.

##### STEPS

[2016-06-21 13:05] dagwieers commented on #16321
Already fixed.
Please test against the master branch and report back.

[2016-06-21 13:16] mss commented on #13416
As @jhawkesworth noted does the `winrm` module work if you get a kerberos token via `kinit` before executing ansible, even if the host isn't joined to the domain. It fails though if you try to rely on the `ansible_user`/`ansible_password` combination.

I'm not sure if this is an issue with ansible not passing the credentials properly or if this is an issue in pywinrm itself and is filed as diyan/p

[2016-06-21 13:24] bcoca commented on #16363
look at https://github.com/willthames/ansible-inventory-grapher

[2016-06-21 14:07] hyojinbae commented on #9065
My solution is.

[service1]
host1 ansible_ssh_user=host1.com

[service2]
host2 ansible_ssh_user=host1.com

[2016-06-21 14:08] #16315 closed, assigned to nobody

[2016-06-21 15:02] #16378 closed, assigned to resmo, jimi-c

[2016-06-21 15:02] jimi-c commented on #16378
This should be fixed now. I had originally designed it to work that way, however that functionality was broken when we revamped the way handlers were tracked internally.

[2016-06-21 15:15] mss opened #16380 "Misleading warning "ansible_winrm_path unsupported by pywinrm""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
- None
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I think this is the same issue as #15772.

When you specify ansible_winrm_path, you will be greeted by a warning:

[code]

The warning is misleading since the option actually works.

It is caused by this code:

[code]

Which introspects this code in pywinrm:

[code]

[2016-06-21 16:34] plat00n opened #16382 "BUG file module with items"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
##### OS / ENVIRONMENT

Centos6
##### SUMMARY

Bug when try to include
##### STEPS TO REPRODUCE
1. configure a variable
   common_project_user=myuser
2. create a main.yml file like this

[code]
1. create the test.tasks.yml

[code]
1. play
##### EXPECTED RESULTS

This must read the common_project_user variable and create the /proj

[2016-06-21 17:14] westsouthnight commented on #16032
If you can, see link, i think i have similar issue with other module where uses os.environ

http://stackoverflow.com/questions/36043393/set-environment-in-ansible-doesnt-seem-to-work/37950548#37950548

[2016-06-21 17:34] gohanman opened #16383 "pyasn1 version issue"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Raspbian Jessie / Raspberry Pi 3

##### SUMMARY
As near as I can tell pyasn1 version 0.1.7 is installed when really version 0.1.8 should be installed.

##### STEPS TO REPRODUCE
(Again, substituting version 2.0.2.0 produces identical results)
[code]

##### EXPECTED R

[2016-06-21 17:42] Julian opened #16384 "Importing e.g. ansible.inventory has strange terminal side effects"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`ansible.utils.color` has side effects on import.

This can make things as simple as wanting to `import ansible.inventory` throw a traceback:

[code]

if `sys.stdout` (which is the default for `setupterm`) is not backed by a real file.
##### EXPECTED RESULTS

No side effe

[2016-06-21 17:47] bcoca commented on #16384
can you show a simple playbook that reproduces this issue?

[2016-06-21 17:51] Julian commented on #16384
@bcoca

[code]

[2016-06-21 17:55] rmfitzpatrick opened #16385 "Permission error when loading postgresql_user module in Ubuntu and OL"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

git bisect run shows this was likely introduced by 6cb8fdeaf2e9c7c787fa42dcf92a4bc36913b365
##### CONFIGURATION

No changes in ansible configuration to speak of.
##### OS / ENVIRONMENT

This has been observed in Ubuntu 12.04 & 14.04 and OL 6.7 and 7.2.
postgresql and active server need to be running on instance.
##### SUMMARY

postgresql_user mo

[2016-06-21 18:07] alikins commented on #16385
can you run this with
`ANSIBLE_KEEP_REMOTE_FILES=1` and post the generated module (like /tmp/ansible-tmp-1466530323.97-248431454773543/postgresql_user.py, but the one from the new run)

[2016-06-21 18:09] bcoca commented on #16384
we do not support arbitrary python imports of the API, since this is not a bug in the existing ansible CLI tools I"m going to close this ticket.

[2016-06-21 18:09] #16384 closed, assigned to nobody

[2016-06-21 18:14] alikins commented on #16385
And output of `getfacl /tmp/path_to_the_generated_module.py`

[2016-06-21 18:14] Julian commented on #16384
Oh. That's interesting. Got it. Ansible's code isn't public API? Are any
parts of it public?
On Jun 21, 2016 2:10 PM, "Brian Coca" notifications@github.com wrote:

[2016-06-21 18:15] sivel commented on #16383
I would be interested in seeing the full output of `pip install ansible==2.1.0.0` where ansible and none of the dependencies have been installed, so we can see the full installation output.

Seeing that output might help pinpoint why `pyasn1==0.1.7` is being installed with `cryptography` has a dependency on `0.1.8`.

`pyasn1` is not a direct ansible dependency, it is like a 3rd level dependency:

[2016-06-21 18:20] alikins commented on #16385
connecting as root to host?
then sudo to postgres

could the

[code]

be missing the /tmp/ansible-tmp-1466530323.97-248431454773543/ directory itself? That would
potentially prevent the sudoed-as-postgres-user command below from reading the contents of the dir.

[code]

/dev/null 2>&1 && sleep 0'```

[2016-06-21 18:33] kozyr commented on #14655
Why is this closed? Official doc says:
environment:
  PATH: "{{ ansible_env.PATH }}:/thingy/bin"
  SOME: value

Please either put a working example into the doc, or reopen this and fix it.

[2016-06-21 18:34] rmfitzpatrick commented on #16385
from HEAD :

[code]

from 82b978e186b99aed0952bd3d72a07f02b968601f :

[code]

[2016-06-21 18:42] abhivijay89 commented on #16364
@jimi-c Can you help to take a look ? We're on production & this issue is kind of leaving us on loose foot.

[2016-06-21 18:46] abhivijay89 commented on #16364
@vroy Do you have any idea on what maybe causing this? Any quick fix we can push?

[2016-06-21 18:57] alikins commented on #16385
Looks like the 'acl' package must be installed before this works.

See https://gist.github.com/alikins/a95e22c75415ebc037deac823becf0e0

[2016-06-21 19:10] alikins commented on #16385
Note that if I go back to the commit before 6cb8fdeaf2e9c7c787fa42dcf92a4bc36913b365 , that playbook still fails for me with different errors.

See https://gist.github.com/alikins/28f70f0b299ef76ef76a069110f6f237

But that's if running ansible-playbook as user (vagrant) and not root.

Running ansible-playbook as root works:

https://gist.github.com/alikins/5815e8a16a7ee617cd143b8604940cb9

[2016-06-21 19:14] rmfitzpatrick commented on #16385
Right, the playbook was being run as root to begin with and sorry for not stating that earlier.  The `acl` requirement should have been obvious since the change involved `setfacl`, but I'm a little confused why this worked before the change when it wasn't installed to begin with.

[2016-06-21 19:26] Julian commented on #16384
Or more specifically, what public API exists currently for just parsing an inventory file? `ansible --list-hosts` produces not very machine readable output.

[2016-06-21 19:32] sivel commented on #16384
@Julian technically speaking, there are no public programatic APIs.  The only public "APIs" are the command line utilities (ansible/ansible-playbook/etc...)

If you are interested in sample code for parsing an inventory file, and processing it have a look at the following unsupported example at https://gist.github.com/sivel/3c0745243787b9899486

If you have further questions, please move your disc

[2016-06-21 19:40] alikins commented on #16385
Not sure yet, I suspect https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L343-L366
is involved, and maybe https://github.com/ansible/ansible/commit/8c7ceaab816652cef68a25342d4ba51821d6500c

(The latter would be after 'from 82b978e :')

Not sure what the interaction is, but it seems like sometime before https://github.com/ansible/ansible/commit/6cb8fdeaf2e9c7c787

[2016-06-21 19:43] Julian commented on #16384
Right I'm including the CLIs I guess -- there doesn't seem to be one to just print a list of hosts, and the example code you linked won't work because of the issue in this ticket, but I'll move to the ML. Thanks.

[2016-06-21 20:29] jimi-c commented on #16016
Per discussion in our core meeting today (kind of), this appears to be fixed in `stable-2.1` and is included in RC1 for 2.1.1.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and trick

[2016-06-21 20:29] #16016 closed, assigned to nobody

[2016-06-21 20:59] rmauc opened #16386 "Pipelining and remote_tmp"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I have a .ansible.cfg in the working directory with these values set:
pipelining = True
remote_tmp     = /home/ansible/.ansible/tmp
##### OS / ENVIRONMENT

ACS = RHEL7
Target = AIX7.1
##### SUMMARY

Playbook still tries to write modules to /tmp
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Iwould not expe

[2016-06-21 21:07] alikins commented on #16385
after more bisecting, a tl;dr

it seems like 'acl' was not a requirement before https://github.com/ansible/ansible/commit/6cb8fdeaf2e9c7c787fa42dcf92a4bc36913b365

And with 'acl', 6cb8fdeaf2e9c7c787fa42dcf92a4bc36913b3 works, but fails without.

'acl' is not really meant to be a requirement, so while there is a workaround, this bug still needs to be resolved so it works without 'acl'

[2016-06-21 21:13] gohanman commented on #16383
I'm unable to reproduce it in virtualenv (its install pyasn1 0.1.9) but in attempting to uninstall pip itself globally it appears pip depends on pyasn1. If it's _already installed_ this is what happens when installing ansible:

[code]

I can't figure out how to cleanly get rid of the global pip installation. If I do uninstall pyasn1, all pip commands start throwing exceptions related to pyasn1 so

[2016-06-21 21:38] jimi-c commented on #16364
I believe I have this fixed, if others would like to test it, I'll push it to devel in a moment.

[2016-06-21 21:46] nitzmahone commented on #13706
@nicovs I've still never been able to reproduce this, even after hundreds of iterations. Looks like you're using Windows Server 2012R2 - which Powershell version are you using?

[2016-06-21 21:48] ysolis opened #16388 "Python 2.7 don't come by default in Ubuntu 16.04 LTS Server and Cloud Edition"
- With remote clients running with Ubuntu 16.04 LTS server and cloud editions, Python 2.7 don't come installed by default if i try to run Ansible, when try to connect to new servers installed, Ansible fails.

[2016-06-21 21:48] #16364 closed, assigned to jimi-c

[2016-06-21 21:49] jimi-c commented on #16364
Ok, fix pushed to devel, if this has any problems let us know and I'll check again. If there are no problems, I'll cherry-pick this to stable-2.1 for 2.1.1 rc2.

[2016-06-21 21:57] sivel commented on #16388
This is something we are working towards, however for the near future, python 2 will still be a requirement for remote target servers.

For the Ansible 2.2 release we are working towards getting ansible to run (controller side) using python3.  Some modules will likely support python3 for Ansible 2.3, with the potential for full support for python 3 on the target side in Ansible 2.4.

The Ansible 2

[2016-06-21 21:57] #16388 closed, assigned to nobody

[2016-06-22 01:01] abadger commented on #16385
Tracked this down to find -exec \; not returning non-zero if the command being exec'd fails.  Changing ; to + will fix that but I don't know if it's portable enough.
- -exec with + is not in SUSv2: http://pubs.opengroup.org/onlinepubs/7990989775/xcu/find.html
- It is in SUSv3: http://pubs.opengroup.org/onlinepubs/009695399/utilities/find.html
- A web search turns up this page: http://www.in-ulm.de

[2016-06-22 02:42] Ehekatl commented on #16363
@bcoca thx ! this would be help, and hoping you guys could consider to put the idea that improve hosts management in future roadmap :relaxed:

[2016-06-22 03:35] willthames commented on #16222
For anyone who finds this in future, the way to have this work without the warning is to use `with_items: "{{ hello.stdout_lines|default([]) }}"`

[2016-06-22 03:46] h-hirokawa opened #16390 "Merge azurerm integration tests."
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
How about merging integration test playbooks of [azurerm](https://github.com/ansible/azurerm) project?
Since there are some problems still in azure_rm modules and `azure_rm_common.py`, it would be desirable.

##### STEPS TO REPRODUCE

##### EXPECTED RES

[2016-06-22 04:00] nyasukun opened #16391 "Got MemoryError when copy huge local file to remote"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.4 LTS
##### SUMMARY

Got MemoryError when copy huge local file to remote.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Copied successfully.
##### ACTUAL RESULTS

[code]

[2016-06-22 04:31] abhivijay89 commented on #16364
Great..Thanks a lot @jimi-c It's working, I tested it out.

[2016-06-22 04:56] serine commented on #16321
Yes, Indeed this version works

[code]

This is from master branch

[code]

I think `pip` package needs updating though

[2016-06-22 05:38] resmo commented on #16378
didn't test this case, makes totally sense.

[2016-06-22 05:46] jhawkesworth commented on #13416
Its not really a bug in ansible that you need a valid kerberos ticket to use kerberos to communicate with windows hosts.  People have different needs and different infrastructures and if you set up your ansible controller to use active directory to authorize your users, then once you have logged in you will have a kerberos ticket.  If you don't want your linux ansible controller to use active dire

[2016-06-22 05:53] addhewarman commented on #16030
hi @bencromwell @agassner @jctanner

OpenSSH_6.6.1p1 Ubuntu-2ubuntu2.3, OpenSSL 1.0.1f 6 Jan 2014

$ ansible --version
ansible 2.0.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

$ cat /etc/ansible/ansible.cfg
[ssh_connection]
ssh_args = -o ForwardAgent=yes
scp_if_ssh = true
[defaults]
callback_plugins = /etc/ansible/plugin/

$ cat local
awan a

[2016-06-22 06:10] mss commented on #13416
I am fine with requiring a ticket via `kinit` even though a working `ansible_password` variable with a password in vault would be nice. I looked into the pykerberors code and it seems that there's no way to acquire a new ticket via that codebase so `kinit` (or domain membership) is probably the only sensible way to go.

I think there are two bugs here though:
- The documentation is misleading and

[2016-06-22 06:52] ghost commented on #7049
+1

[2016-06-22 07:55] plat00n commented on #16382
I tried with a full value and not a variable

[code]

Can someone confirm that there is a bug on the file module with the "with items" function ?

[2016-06-22 08:09] arthur-c commented on #9650
Same problem with ansible 2.1, CoreOS and pypy from defunctzombie. I reverted to stable-2.0 and it's ok. I run Ansible from Fedora.

[2016-06-22 08:20] plat00n commented on #16382
Hello,

Finally This is not a bug... I found my error =>
I wrote **mode:'0755'** instead of **mode: '0755'** , A space was forgotten !

Ticket can be closed or destroyed.

BR

[2016-06-22 08:47] kustodian commented on #16364
Works for me as well.

[2016-06-22 08:53] kustodian commented on #16378
Works for me. Thanks for the fix.

[2016-06-22 09:00] SunMar opened #16393 "cd .."
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-22 09:14] w-miller opened #16394 "'command' module expands environment variables, whereas 'shell' does not"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]

Also tested with current Ansible dev branch.
##### CONFIGURATION

No changes to stock Ansible configuration.
##### OS / ENVIRONMENT

Centos 7.2, running on localhost.
##### SUMMARY

The [documentation for the 'command' module](https://github.com/ansible/ansible-modules-core/blob/stable-1.9/commands/command.py#L37) states that variables

[2016-06-22 09:57] jhawkesworth commented on #13416
I know @nitzmahone has been working on the windows documentation recently so I'll mention so he can take your feedback about the documentation into consideration.

[2016-06-22 09:58] westsouthnight commented on #16394
I Thinks its not only in one space where we get the issue with remove environment variables, - what i know, imho, something we get in consul_kv module if try to set ANSIBLE_CONSUL_URL. That Environment variable not readed from Environment variables, and module everytime try connect to localhost.

http://stackoverflow.com/questions/36043393/set-environment-in-ansible-doesnt-seem-to-work/37950548#37

[2016-06-22 10:08] halberom opened #16395 "document the 'vars' magic dict"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

Any, but currently

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Unlike the magic `hostvars` dict/function, there's no mention anywhere in the documentation of the `vars` one.
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESULTS

Browsing to the playbook variables document page (or using ansible docs) and

[2016-06-22 10:21] memelet commented on #13278
I too am encountering these with ec2 instances on 2.1.0.0. So far seems to be only new instances. If that is not the case I will post back.

[2016-06-22 10:30] memelet commented on #13278
Nope, it's not just newly created instances. Its for any instance. Typically if fails on the setup task.

[2016-06-22 10:31] rawbertp opened #16396 "Issues with ControlPath/ControlPersist"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
SSH timeout
timeout = 300
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=1800s
control_path = ./tmp/ansible-ssh-%%h-%%p-%%r
pipelining = False
scp_if_ssh = False

##### OS / ENVIRONMENT
CentOS release 6.8 (Final)

##### SUMMARY
When using the above config (ie. o

[2016-06-22 10:33] memelet commented on #13278
Something I just noticed. The error only seems to occur if I use --tags.

[2016-06-22 10:59] tarvip commented on #13278
+1 happens randomly using 2.1.0.0 on EC2 instances and I am not using `--tags`

[2016-06-22 12:33] brackendawson opened #16397 "Timeout over all modules specified in tasks."
Possibly related to #11551
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No cfg file.
##### OS / ENVIRONMENT

Linux
##### SUMMARY

When a module fails, 'until' give us a nice re-try machanism. But if a module hangs for a really long time, or forever. We're stuck. It would be nice if there was a timeout around the module in a task. eg:

[code]
##### STEPS TO RE

[2016-06-22 12:41] #16382 closed, assigned to nobody

[2016-06-22 12:42] #16393 closed, assigned to nobody

[2016-06-22 12:42] #16385 closed, assigned to abadger

[2016-06-22 12:49] bmalynovytch commented on #14665
Hi,
I can confirm what @stacywsmith reported, adding one more information: in my case, the second play was related to different hosts, but I obtain the same `ERROR: invalid host (xxxxxxx) specified for playbook iteration`, even though the failed host IS NOT in the group concerned by the second play.

[2016-06-22 13:32] jimi-c commented on #16364
Ok great, I'll merge this into stable-2.1 as well. Thanks!

[2016-06-22 13:49] #16374 closed, assigned to nobody

[2016-06-22 14:09] westsouthnight opened #16398 "Consul not on Localhost"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.2.0
##### OS / ENVIRONMENT

MAC OS X
##### SUMMARY

[code]
##### STEPS TO REPRODUCE
1. Try to set ANSIBLE_CONSUL_URL Envoronment variable to target host any availible way (ansible, hands, export, etc)
2. Run playbook on hosts where you use not binded to localhost consul

example:

[code]
##### EXPECTED RESULTS

ansible consul_kv.py execute

[c

[2016-06-22 14:20] rmauc commented on #16386
The reason I have opened this ticket is - I have ansible connecting as a non-privileged user ("ansible") and It becoming another non-privileged user ("bXX")

In the sudo configuration I need to configure as follows:

Cmnd_Alias      ANSIBLE_COMMANDS =      /bin/sh, \
                                                                         /usr/bin/su - bXX

## Begin ANSIBLE

ANSIBLE  ALL = (ALL) N

[2016-06-22 14:24] sivel commented on #16398
`ANSIBLE_CONSUL_URL` needs to be set outside of Ansible itself, in the shell where you spawn Ansible from.  Such as:

[code]

The consul connection will be made from the controller machine and cannot currently target multiple consul servers.

[2016-06-22 14:27] sivel commented on #16386
Why restrict sudo at all? If you are giving access to execute /bin/sh you are effectively giving access to execute any command anyway.  That error is saying that the Ansible user is not permitted to execute the necessary command.

[2016-06-22 14:29] leifmadsen commented on #16052
Same issue, Ansible 2.1.0.0:

[code]

[code]

[2016-06-22 14:36] dekimsey commented on #14665
@bmalynovytch Have you tested with v2.1.1.0-RC1? That version fixes the error you are describing on my box.

[2016-06-22 14:36] jimi-c commented on #14665
I believe this is the same issue as reported in #16364, for which a fix was merged in to devel/stable-2.1.

Testing @dekimsey's examples above, I see play 3 work properly now:

[code]

I see the "NO HOSTS LEFT" message is still printed, which is a minor annoyance and for which we're holding https://github.com/ansible/ansible/pull/13750 open.

Based on the above however, we're going to go ahead and

[2016-06-22 14:36] #14665 closed, assigned to jimi-c

[2016-06-22 14:37] rmauc commented on #16386
Our security team will not allow that sudo config. If the "ansible" user can open the shell - as you say it can execute any command it likes. And there is no auditi trail on the server to prove what it did

The sudo file contains:

Jun 22 10:14:58 : ansible : command not allowed ; TTY=unknown ;
    PWD=/home/ansible ; USER=bXX ; COMMAND=/bin/sh -c echo
    BECOME-SUCCESS-mpglixqbdrjsuhinzgnplaleal

[2016-06-22 14:39] jimi-c commented on #13956
@towolf since your PR above was merged, I believe this is ok to close?

[2016-06-22 14:48] bmalynovytch commented on #14665
Currently testing `stable-2.1` branch freshly pulled.
I'll update the issue if I can confirm the bug is gone (I shouldn't have hosts unreachable, so the bug shouldn't trigger)

[2016-06-22 14:49] towolf commented on #13956
@jimi-c, yes inventory parsing is much improved after the recent changes that went in. For the record, the current `devel` with my towolf/ansible-large-inventory-testcase repository completes in 3.7 second, not over 20. I still want to submit a PR for refactoring some of the inventory data structures from `list` to `set`, i.e., the last item in my issue above.

There are now other places during pl

[2016-06-22 14:49] #13956 closed, assigned to nobody

[2016-06-22 14:53] sivel commented on #16386
It isnt trying to run as root.  The message states:

[code]

As you can see, it tried to sudo as user `bea`.

There is a problem with your sudoers configuration.

[2016-06-22 14:59] rmauc commented on #16386
Yes I believe it is trying to write to /tmp to copy out the module?

Here is my sudo configuration:
Cmnd_Alias ANSIBLE_COMMANDS = /bin/sh, \
 /usr/bin/su - bXX

ANSIBLE ALL = (ALL) NOPASSWD: ANSIBLE_COMMANDS

But we would like it to be:

Cmnd_Alias ANSIBLE_COMMANDS =  /usr/bin/su - bXX

ANSIBLE ALL = (ALL) NOPASSWD: ANSIBLE_COMMANDS

But this generates the error. That is why I attempted to update

[2016-06-22 15:08] bcoca commented on #16386
you seem to want this in your sudoers:

`ANISBLE    ALL=(bea) NOPASSWD: ALL`

[2016-06-22 15:08] bcoca commented on #16386
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-22 15:08] #16386 closed, assigned to nobody

[2016-06-22 15:09] ReSearchITEng opened #16399 "lineinfile with wildcards (asterisk/star) within a hash -> failing when there is an regexp like below."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have the below ansible playbook, which fails to insert an asterisk ('*') in a file when the below regexp is defined. The moment I comment out the regexp, it starts working and is able to insert the line as expected (as shown in ACTUAL RESULTS)
##### STEPS TO REPRODUCE

[code]

[2016-06-22 15:14] sivel commented on #16399
You are likely going to need to escape those inputs to avoid this issue using the `regex_escape` jinja2 filter.

Such as:

[code]

[2016-06-22 15:15] bcoca commented on #16398
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-22 15:15] #16398 closed, assigned to nobody

[2016-06-22 15:57] SteveEdson commented on #13278
Happens for me with ansible local on OS X, with the npm module and a list of items.

[2016-06-22 16:15] jimi-c commented on #13278
All of these "me too" responses are not very helpful. From this point on, please include:
- the Ansible version
- the number of forks being used
- -vvvvv output
- the load on your system at the time (which will be impacted by the # of forks)
- any modified SSH settings which might involve the timeout setting

[2016-06-22 16:53] adamchainz commented on #13278
For me:
- Both Ansible 2.0.1.0 and 2.1.0.0
- 50, but single host
- sorry not currently available, will try to capture
- minimal
- Only have in `ansible.cfg`:

[code]

[2016-06-22 17:09] dekimsey commented on #14665
Confirmed, the change fixes the issues we were having.

[2016-06-22 17:42] jctanner commented on #16370
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-22 17:42] #16370 closed, assigned to nobody

[2016-06-22 17:57] jctanner commented on #16394
@w-miller have you tested with a more recent version of ansible?

[2016-06-22 18:19] jctanner commented on #16397
@brackendawson we have this feature in the form of async. The integer value after the async: keyword sets the max runtime and will kill the module if exceeded.

http://docs.ansible.com/ansible/playbooks_async.html

[2016-06-22 18:19] #16397 closed, assigned to nobody

[2016-06-22 18:34] jimi-c commented on #13956
Great, thanks! And we're working on the other places... devel/stable-2.1 includes a fix for bad host/group var loading which cut cpu/memory usage in half in my testing, though it is still slower and more memory-hungry than 1.9.x.

[2016-06-22 18:39] oleyka commented on #13278
Hi all,
Before you declare your case to be an ansible problem, make sure that you can actually ssh into an instance at the same time ansible's task is failing. AWS instances can get temporarily unresponsive due to high volume of EBS disk operations, among other things, and that can affect ansible's ability to reach the instance.

There are several things you can do prevent the playbook from failin

[2016-06-22 19:05] larsks opened #16402 "Variable expansion failure inside nested blocks"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Variable references in a nested block are not expanded correctly.

##### STEPS TO REPRODUCE
Place the following in `varfailure.yml`:
[code]
Place the following in `varfailure-sub.yml`:
[code]
Run the playbook:
[code]

##### EXPECTED RESULTS
[code]

#####

[2016-06-22 19:06] larsks commented on #16402
Note that this bug appears to already be fixed in `ansible 2.2.0 (devel 6cae14e4d6)`.  This issue is primarily for documentation (so that I can point at it and explain why we can't do the thing we're trying to do with 2.1).

[2016-06-22 19:27] danschmidt5189 commented on #13235
Bug is still present as of `ansible 2.2.0 (devel 62e6f6b885)`.

[2016-06-22 19:53] memotype commented on #1619
Just FYI, I'm no longer at the company that was using Ansible, so I'm unsubscribing from this thread and won't be able to help or answer any questions. Good luck figuring it out though.

[2016-06-22 20:00] tedder commented on #8547
In 2.x you must use `no_password_changes=true`.

[2016-06-22 20:01] reidblomquist commented on #14655
this is a non-starter for me in terms of upgrading.

[2016-06-22 20:09] blocke commented on #16222
So @bcoca,

Are we all going to ignore the fact from and end user point of view this is an undocumented change in behavior?

The end user perception up to this point is that with_items doesn't matter because when: failing stopped the evaluation of the particular action. A very common use pattern is to have when: check if a variable is defined and if not skip the action and thus don't worry about e

[2016-06-22 20:17] ovcharenko opened #16403 "delegate_to doesn't substitute `ansible_ssh_private_key_file` variable properly"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
hostfile = ./hostfile
remote_tmp = /tmp
forks=10
timeout = 60
[paramiko_connection]
pty=False
[ssh_connection]
scp_if_ssh = True
control_path = %(directory)s/%%h-%%r

##### OS / ENVIRONMENT
N/A

##### SUMMARY
delegate_to doesn't substitute `ansible_ssh_private_key_file` variable pro

[2016-06-22 20:35] camhart commented on #14438
Can anyone confirm if this is fixed in ansible v2.1?

[2016-06-22 21:30] fxfitz commented on #16032
FWIW, I'm +1'ing that this is a bug.

[2016-06-22 21:33] aboyett commented on #12623
@skinlayers that example using with_items was modified the day after @PumpkinSeed's comment in commit https://github.com/ansible/ansible-examples/commit/f72887ab1b762363c89392fb56c4d6569c5893c9
though the comment, https://github.com/ansible/ansible-examples/blob/f72887ab1b762363c89392fb56c4d6569c5893c9/language_features/roletest2.yml#L35-L36 no longer makes sense after the modification

[2016-06-22 21:49] bcoca commented on #16222
@blocke , first, this was always the case, the only reason it worked was because previous version of ansible were ignoring the undefined erorr.

Also it is documented http://docs.ansible.com/ansible/porting_guide_2.0.html#other-caveats

[2016-06-22 22:04] blocke commented on #16222
Sorry, It was not obviously to me from that caveats as I was more focused on why with_items is evaluated when the action would never be allowed to run.

So the fact it was generating the undefined error was that it was being hidden which is all fine but this appears to the user as a change in behavior because for years the error was being silently handled and squashed.

This has worked fine for ye

[2016-06-22 22:07] bcoca commented on #16222
The issue is that `when:` evaluates inside the loop, so it can handle per `item` execution of the task, it never executed before the `with_`. To fix this we would have to reverse this and then remove the per `item` conditionals.

[2016-06-22 22:15] blocke commented on #16222
And I suppose having the undefined error from the with_ loop eaten if the when: would fail anyway would be too long term hackish.

While a pure style problem this change on top of the bare variables fix is requiring quite alot of fixing up in my playbooks and the Jinja filter vomit would look rather scary and confusing to a new user. Oh well.

This makes the case where I only want to run an action

[2016-06-22 22:37] nitzmahone commented on #15770
We've had other reports of this problem as well- I narrowed it down to a change that occurred with 2.0 where we're setting the WinRM codepage to UTF-8 (65001) in 2.x so we can properly handle any non-ASCII input, where in 1.x it was hardcoded to Western European (437). It appears that Powershell's background job API is busted under the UTF-8 codepage. You can reproduce this outside of Ansible by o

[2016-06-22 23:15] leonardinius commented on #15786
@bcoca commented on 9 May

Would you be so kind to point out which github issue it is, so I could watch it for progress?
Thanx in advance.

_Edit_: spelling

[2016-06-22 23:17] einarc commented on #14195
@sivel Why do these kind of tickets that are misinterpretations do not end up in the docs? It would save you having to answer the same questions down the line; and most importantly make working with Ansible easier. The documentation could seriously use some more clarifications that are already found in threads like this. Because in many cases it is not clear enough and this is about the 3rd or 4th

[2016-06-22 23:53] jimi-c commented on #14386
Based on the above, this appears to not be a bug?

[2016-06-23 00:01] jimi-c commented on #16320
@davidebelloni this should be fixed in devel/stable-2.1 (included 2.1.1 rc1). Using your example above with `stable-2.1`:

<pre>
# ansible-playbook --version
ansible-playbook 2.1.1.0 (stable-2.1 a7199abb74) last updated 2016/06/22 08:33:08 (GMT -500)
  lib/ansible/modules/core: (detached HEAD b746f047ed) last updated 2016/06/22 19:00:05 (GMT -500)
  lib/ansible/modules/extras: (detached HEAD eae41

[2016-06-23 00:01] #16320 closed, assigned to nobody

[2016-06-23 00:10] nitzmahone commented on #15770
I've created a Uservoice issue for this, feel free to upvote at: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/14915283-job-cmdlets-fail-with-utf-8-codepage

[2016-06-23 00:30] rsyring opened #16405 "Service module does not work for docker containers"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

I've seen the problem with both:

[code]
##### CONFIGURATION

Only using default values.
##### OS / ENVIRONMENT

Control host: Ubuntu 14.04
Connecting to: Ubuntu 14.04 on Docker version 1.9.1, build a34a1d5
##### SUMMARY

When using Ansible to connect to a docker container, restarting services using the service module does not work.  The task re

[2016-06-23 03:13] jimi-c commented on #16080
Per my comment here: https://github.com/ansible/ansible/issues/16320#issuecomment-227912789, this issue appears to be resolved and will be included in 2.1.1.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-23 03:13] #16080 closed, assigned to nobody

[2016-06-23 03:14] jimi-c commented on #16209
Per my comment here: https://github.com/ansible/ansible/issues/16320#issuecomment-227912789, this should be resolved and will be included in 2.1.1.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user quest

[2016-06-23 03:14] #16209 closed, assigned to nobody

[2016-06-23 03:15] jctanner commented on #10482
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-23 03:15] #10482 closed, assigned to nobody

[2016-06-23 03:24] trondhindenes opened #16406 "Module azure_rm_storageaccount throws error"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.2.0
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

The azure_rm_storageaccount module throws an error. As far as I can see, it's related to azure_rm_common which is why I'm opening the issue here.
##### STEPS TO REPRODUCE

Use the example to create a storage account
##### EXPECTED RESULTS

Success
##### ACTUAL RESULTS

Ansible choke

[2016-06-23 03:27] jimi-c commented on #14343
Revisiting old issues, and I think we're going to stand by my comment above @larsks. Nowhere else in Ansible does a variable of a different name trump another, and we changed it behave this way for a reason. As such, we'll close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ans

[2016-06-23 03:27] #14343 closed, assigned to nobody

[2016-06-23 05:11] thapakazi commented on #10840
Thanks it works :neckbeard:

while using the default configs for [ec2.ini](https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.ini#L62-L66)

![screenshot-20160623-10 34 50](https://cloud.githubusercontent.com/assets/1695906/16292234/41898b40-392f-11e6-98b6-83575bf7ddd6.png)

So i made a [change ](https://github.com/zerOnepal/ansible/commit/348811ab5252a28d1d7f77286db13c8ac5f40f26).

[2016-06-23 06:39] ReSearchITEng commented on #16399
@sivel :+1: Thanks, indeed this was the catch!
Could not figure it out based on the error.

[2016-06-23 06:39] #16399 closed, assigned to nobody

[2016-06-23 08:00] bmalynovytch commented on #14665
I can't confirm as the `stable-2.1` seems to have introduced another bug which make my playbook completely unusable (module get_url).
Trying to investigate.

[2016-06-23 08:37] ohallors commented on #15321
`ansible_password` worked for me too

[code]

[2016-06-23 08:41] ansafonov opened #16408 "until loop never fails when retries set to 1"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

##### SUMMARY

until loop never fails when retries set to 1
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

ansible runs command once and fails with an error
##### ACTUAL RESULTS

ansible succeeds silently

[code]

[2016-06-23 08:46] tonk opened #16409 "Memory `fact_caching` is not documented"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
Ansible core
Fact caching

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In the fact caching documentation the `memory` caching method is not mentioned.
But this is the default in the config file.
The docs are at: `http://docs.ansible.com/ansible/playbooks_variables.html#fact-caching`

##### STEP

[2016-06-23 09:12] muhammad-ammar commented on #11808
I am getting this same issue. Anyway to fix?

ansible --version
ansible 2.0.0.2

[2016-06-23 09:15] sighalt commented on #2097
+1

[2016-06-23 09:17] KamilLelonek commented on #2097
Shouldn't this issue be closed as it is solved already?

[2016-06-23 09:53] ssbarnea opened #16410 "Undocumented ansible deprecation: Accelerated mode is deprecated"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
accelerated mode

##### ANSIBLE VERSION
2.1.0.0

##### SUMMARY

It seems that latest release of Ansible (2.1.0.0) gives deprecation warnings regarding Accelerated mode but the released documentation does not specify anything about its deprecation.

[code]

Check
- http://docs.ansible.com/ansible/playbooks_acceleration.html
- http://docs.a

[2016-06-23 10:03] sighalt commented on #2097
The OP mentioned a possibility to create a compressed tar ball from a remote directory but I could not find a solution for that problem in the follow-ups.

[2016-06-23 10:49] Trozz commented on #16354
@ssalevan can you connect to SSH using the command that Ansible is using?

[code]

[2016-06-23 12:00] alform opened #16412 "Fact caching also caches ansible_date_time"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

# activate fact caching

gathering = smart
fact_caching = jsonfile
fact_caching_connection = /etc/ansible/fact_cache
fact_caching_timeout = 86400
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When fact caching is active,   ansible_date_time is also cached. This leads to issues for modules and playbooks using this timest

[2016-06-23 12:37] jhawkesworth commented on #14387
For info I had to use win_acl to ensure the user that an app was running as had access to the store (as below).

However as mentioned I was using certutil.exe to install, rather than powershell.

I imagine it might be possible to find out what exactly is causing access denied to be returned using sysinternals' Process Monitor - there's an introduction to Process Monitor here: http://www.howtogeek.

[2016-06-23 12:40] brackendawson commented on #16397
I did explore that sadly 'async' can't be combined with 'until'. If 'until' could be used in 'block', that would also solve my original problem.

[2016-06-23 12:42] jimi-c commented on #14665
@bmalynovytch if so, please open a separate issue for that.

[2016-06-23 12:52] jhawkesworth commented on #14386
I don't have any experience of using win_webpicmd module but it has recently been modified to ensure  it works with Strict-Mode enabled.  The original question doesn't mention the version of ansible used so not possible to know from the available information if it was a version of the module which was affected by the change to enforcing Strict-Mode.

@taraslayshchuk  Please can you retry win_webpi

[2016-06-23 13:58] larsks commented on #14343
Well, you're going to get comments on closed tickets anyway, because this is where we're discussing the issue and it seems ludicrous to fork the conversation somewhere else.

@jimi-c I thought that `ansible_ssh_user` had been deprecated by `ansible_user`, which to me says that are in fact two different names for the same thing.  If that is true (the latter deprecates the former) then I think this

[2016-06-23 13:59] towolf commented on #13956
@jimi-c as promised I submitted another PR https://github.com/ansible/ansible/pull/16413 to shave off a further 25% of inventory parsing time inside `Group.add_child_group()`. Please check it out.

[2016-06-23 14:15] kenny-evitt opened #16414 "Split script module `free_form` parameter into `path` and `args` parameters"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

*script* module

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently, I cannot use a script whose path contains spaces as the script module currently splits the `free_form` parameter string on spaces and thus the portions of the script file path following the first space are being interp

[2016-06-23 14:20] #15610 closed, assigned to bcoca

[2016-06-23 14:21] jimi-c commented on #15610
For the record, the output now appears as:

<pre>
# ansible -vvv localhost -m debug -a 'msg={{ foo | to_json }}'
Using /etc/ansible/ansible.cfg as config file
localhost | FAILED! => {
    "failed": true,
    "msg": "the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: Unable to look up a name or access an attribute in template string ({{ foo

[2016-06-23 15:10] jimi-c commented on #14671
Based on the above, and the fact that I just pushed a fix for #15610, I'm going to go ahead and close this now. This fix will also be included in the next release, 2.1.1.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-p

[2016-06-23 15:10] #14671 closed, assigned to nobody

[2016-06-23 15:15] jimi-c commented on #14914
As there has been no follow-up on this for over a month and we were not able to reproduce the stated issue, we're going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user q

[2016-06-23 15:15] #14914 closed, assigned to nobody

[2016-06-23 15:28] kazh000 opened #16417 "ini_file module don't understand tab character as delimiter"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Debian GNU/Linux 8 (jessie)
##### SUMMARY

If INI file contains TAB chars than the ini_file module decides that TAB chars is part of option name.
##### STEPS TO REPRODUCE

MariaDB config file /etc/mysql/my.cnf contains TAB chars:
$> grep bind-address /etc/mysql/my.cnf
`bind-address           =

[2016-06-23 15:42] peterkuiper commented on #16354
I had the same thing. I am using the gce module and have been creating and recreating instances. It seems, in my case, things go awry when you connect to the same host but its key changed. Running the SSH command manually returns something like:

<<stuff>>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@    WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!     @
@@@@@@@@@@@@@@@@@@@@@@@

[2016-06-23 15:49] kodstark opened #16420 "Access to stdout/stderr doesn't work in callback plugins in tasks loop in Ansible 2.1.0.0"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.1

##### SUMMARY
Logging plugin prints only `{"msg": "All items completed", "changed": true}` for task in a loop without having a possibility to display stdout/stderr output like in Ansible 1.9.x
I've used Ansible 1.9.x with callback plugin following  [this ins

[2016-06-23 15:58] timothysc opened #16421 "Multi-step installation wizard"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

##### SUMMARY
As a operator and developer, I would like to create a guided installation wizard for large cluster managers such as kubernetes & openshift.  There are quite literally 10's to 100's of options that we could apply to an installation, but some only mak

[2016-06-23 16:21] bcoca commented on #16421
sounds like you want a play's `vars_prompt` and/or the `pause` module.

[2016-06-23 16:28] alexlo03 commented on #10840
@zerOnepal the ini file defaults to "all the features" mode which for many admins is probably appropriate.  I think your changes are specific to your needs.  We make a similar change on the INI file we use (our default users don't have RDS/elasticache rights)

[2016-06-23 16:45] timothysc commented on #16421
Ideally I would like a 1st class construct vs. cobbling my "choose your own adventure".  Albeit windowz-y, https://www.firegiant.com/wix/tutorial/ , provides a declarative mechanism for defining installation process in their environment.

If I were to distill down that actual use case to: "a declarative way to define a DAG like installation, I think that would be awesome!"

[2016-06-23 17:15] sadsfae commented on #9260
I still see this behavior on 2.1.0.
The proposed workaround works for me if add the following to my playbook.

[code]

[2016-06-23 17:16] bcoca commented on #16405
~~dupe of https://github.com/ansible/ansible-modules-core/issues/593~~ sorry, seems diff issue

[2016-06-23 17:19] bcoca commented on #16405
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-23 17:19] #16405 closed, assigned to nobody

[2016-06-23 17:27] rsyring commented on #16405
I have resubmitted: https://github.com/ansible/ansible-modules-core/issues/4024

[2016-06-23 17:42] sadsfae commented on #15525
I hit this on 2.1.0, @GerDner what does the `ssh_args` look like in your ansible.cfg?  I'm toying with using a local one to get around this until it's fixed.

I am still getting the following

[code]

When using this in the playbook to gather facts so I can reference `{{ hostvars[host].ansible_default_ipv4.address }}`

[code]

[2016-06-23 20:03] basictheprogram opened #16425 "_low_level_execute_command() done: rc=1, stdout=, stderr='PowerShell' is not recognized as an internal or external command, operable program or batch file."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible host OSX 10.11.5
Managed host Windows 7 64bit
##### SUMMARY

##### STEPS TO REPRODUCE

Tasks

[code]

Execution

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-06-23 20:06] basictheprogram commented on #16425
Could be a path problem? http://bit.ly/28QBFGf

[2016-06-23 21:09] abadger commented on #16403
@jimi-c Is this a bug?  I know that some variables should work off of the inventory host even when delegating but I don't know if `ansible_ssh_private_key_file` is one of those or not.

[2016-06-23 21:29] dejayc opened #16427 "Copy module fails to copy directory unless destination directory exists with same permissions"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

Issuing a `copy` command to recursively copy a directory doesn't work when the destination directory is missing or exists with different permissions:

[code]

No matter what value I specify for `directory_mode`, the value is being set to `true

[2016-06-23 21:31] abadger commented on #16406
Tentatively tagging this an easyfix.  It looks like the variable that holds the StorageManagementClientConfiguration() instance is never used so it might be fine to simply remove that line.

[2016-06-23 21:33] nitzmahone commented on #16406
Yep, this is another place where the intra-RC changes to the azure python SDK hosed us... (remind me not to ship modules that rely on unreleased API again, no matter how much people whine)

[2016-06-23 21:40] artob commented on #15597
Does anyone know of a workaround? Just encountered this problem myself.

[2016-06-23 21:41] abadger commented on #16410
Sinilar to how we've only recently (in the past release) begun creating a roadmap for the next release, we do not have a sngle comprehensive list of all pending deprecations.  Instead, relying on people using the code to see the deprecation warnings that the program emits and then seeing that the features are removed in the changelog where the removal happens.  This is definitely a flaw and we're

[2016-06-23 21:54] Frodox commented on #15761
Have same issue on CentOS 6.6, ansible `ansible-1.9.4-1.el6.noarch`. Ok, I'll try new version

[2016-06-23 22:00] #14438 closed, assigned to jimi-c

[2016-06-23 22:02] jimi-c commented on #14438
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release (2.1.1).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user ques

[2016-06-23 22:10] abadger commented on #16321
This is also in stable-2.1 and destined for the 2.1.1 release: e50653bde479c7d3fc99946d801926c3ceedb59b

[2016-06-23 22:10] #16321 closed, assigned to nobody

[2016-06-23 22:15] abadger commented on #16408
Verified that this is working in stable-2.1 so it's a change introduced during devel.

[2016-06-23 22:28] dejayc commented on #16427
Closing issue.  A confluence of technical problems actually caused me to witness the behavior I encountered above, but I've resolved the issue now.

[2016-06-23 22:32] meskarune commented on #5223
It would be great to be able to set a list of binary paths for ansible to use.

[2016-06-23 23:08] #16408 closed, assigned to nobody

[2016-06-23 23:08] jimi-c commented on #16408
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release (2.1.1).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user ques

[2016-06-24 00:11] nitzmahone commented on #16406
Microsoft just released Azure SDK 2.0.0 RC5, so we should probably see what (if anything else) got broken...

[2016-06-24 00:33] nitzmahone commented on #15770
Someone's already posted a workaround on the Uservoice page that switches the InputEncoding to not expect a BOM; that fixes the standalone case, I just need to try plugging that into our shell setup, but hopefully should work great!

[2016-06-24 00:50] ssreyah commented on #16354
@Trozz Thank you.

I tried the code you gave but it said Permission denied in the end.

I have just found out the reason, I cannot connected.
1. There was an error in my config file in .ssh folder which make the ssh go to a different router rather then the on-site one.
2. I need to add `ansible_ssh_pass=<mypassword>  ansible_ssh_user=<myusername>` next to the host IP in the /etc/ansible/hosts.

[2016-06-24 02:22] matts-mpg commented on #12710
I would love to see this feature as well. Trying to set a mysql_user play which will register ok instead of failed when the default blank password has already been changed by prior runs.

[2016-06-24 02:36] abadger commented on #16412
ansible_date_time is a fact gathered from the remote host so fact caching means that it won't be updated.  Having ansible_date_time refresh would require the date and time to be gathered separately from other facts and then additionally marking ansible_date_time as a fact that must always be gathered.

Note that ansible_date_time will never be the current time on the remote system.  Even without f

[2016-06-24 02:36] #16412 closed, assigned to nobody

[2016-06-24 02:40] jctanner commented on #16417
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-24 02:40] #16417 closed, assigned to nobody

[2016-06-24 03:59] memelet commented on #13278
I'll add more details, but I can run the same plays on 1.9 and never see this problem.

[2016-06-24 05:04] oleyka commented on #10779
@thenewwazoo it is configurable. "timeout = <seconds>" in ansible.cfg

[2016-06-24 06:39] wtanaka opened #16431 "json data is sometimes truncated, causing a "failed to parse" error"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
- 1.9.4 -- https://travis-ci.org/wtanaka/role-tester-ansible/jobs/140438670
- Ubuntu's stock ansible (1.5.4+dfsg-1)
##### OS / ENVIRONMENT

N/A
##### SUMMARY

JSON data is sometimes truncated causing ansible to mark the host as unreachable

https://travis-ci.org/wtanaka/ansible-role-teamviewer/jobs/139550522
https://tr

[2016-06-24 06:41] jimi-c commented on #14343
@larsks standard message, mainly for people rolling by 6 months in the future...

Yes, `ansible_user` is favored over `ansible_ssh_user`, however it's not an alias which is why I do not consider this a bug. As I said originally, the two should not be mixed,

[2016-06-24 07:36] GerDner commented on #15525
@sadsfae

[code]

i changed it to

`ssh_args = -o ControlPersist=60s -q`

and everything worked again

[2016-06-24 09:02] lihan opened #16432 "Compute Engine: Provide a way to specify initial boot disk type and size"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Mention any settings you have changed/added/removed in ansible.cfg
(or using the ANSIBLE_\* environment variables).
##### OS / ENVIRONMENT

OS X El Capitan
##### SUMMARY

`gce` module cannot specify boot disk size and type.

See http://docs.ansible.com/ansible/gce_module.html
The **disks** parameter
a list of persi

[2016-06-24 09:20] bjolivot commented on #16024
Hi
is there some workaround ?

[2016-06-24 10:18] jhawkesworth commented on #16425
Yes I think I have had this where the default PATH has been modified and thus the powershell.exe can no longer be found.

what is PATH set to on your windows 7 host? @basictheprogram

Also, if I recall, Windows 7 came with powershell version 2, so you will need to upgrade it to at least 3 (although personally I prefer 4 at the moment), before ansible will work with it.

Please check PATH and power

[2016-06-24 11:11] #16432 closed, assigned to nobody

[2016-06-24 11:11] lihan commented on #16432
Moved to https://github.com/ansible/ansible-modules-core/issues/4030

[2016-06-24 11:45] w-miller commented on #16394
Yes, the issue is present in the current dev branch.

[2016-06-24 12:35] sadsfae commented on #15525
@GerDner thanks for sharing.  It didn't make much difference for me, however the workaround also needed to explicitly state `remote_user` via:

[code]

That's why it was failing for me.

[2016-06-24 12:43] stianvi opened #16433 "Enable other configuration modes on junos"
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/junos.py

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
junos module utils

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

--- JUNOS 15.1R3.6 built 2016-03-24 18:40:35 UTC
##### SUMMARY

Modify /lib/ansible/module_utils/junos.py to make it possible to configure Juniper JunOS in other can

[2016-06-24 13:29] jctanner commented on #16431
@wtanaka have you tried this with a more recent version of ansible? 1.5 is quite old.

[2016-06-24 14:27] kodstark opened #16435 "ImportError: No module named ansible.module_utils.basic in Ansible 2.1.0.0 using ansible_python_interpreter"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
executable = /bin/bash
module_lang = C
callback_plugins = ./src/callback_plugins
##### OS / ENVIRONMENT

CentOS 7.1
##### SUMMARY

I'm connecting with ansible to CentOS having Python 2.6 and Solaris having Python 2.4. I'm getting import error from only Solaris target machine: "No module named ansible.modul

[2016-06-24 14:35] stianvi commented on #16433
@jctanner Should be labelled network and not cloud.

[2016-06-24 14:57] bcoca commented on #16435
you should NOT be using ansible_shell_type w/o ansible_executable being set, unless you are restricted to csh as the only shell, the setting should not be used.

The ansible_python_interpreter should not be an issue, it is designed to allow setups as the one you have.

can you try the following and past the output?:

[code]

[2016-06-24 15:11] basictheprogram opened #16436 "Feature Request: upgrade_to_ps4.ps1"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
windows helper script

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT
windows hosts

##### SUMMARY
Powershell4 is available, could an upgrade_to_ps4.ps1 script be created?

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2016-06-24 15:21] kodstark commented on #16435
[Documentation](http://docs.ansible.com/ansible/intro_configuration.html#executable) mentions executable - not ansible_executable and I do have it in above example - I have included it in report in configuration section having /bin/bash. It was only solution which I found while ago to make our servers working with Ansible 1.9.x when server have csh as default shell - otherwise it was error with se

[2016-06-24 15:36] kodstark commented on #16435
I don't know why ping is failing with auth error as playbook is passing auth step.

I'm adding output with  `vvvv` from playbook run - is it OK?

[code]

[2016-06-24 15:54] kodstark commented on #16435
ansible_python_interpreter  looks like culprit because when I add it centos host then it fails with same error and without ansible_python_interpreter centos testcase is passing (both hosts uses csh).

[2016-06-24 16:03] jimi-c commented on #16403
@ovcharenko I believe this is a bug, however could you come up with an example that's a little more clear as to what should be displayed for each host/task?

[2016-06-24 16:51] jimi-c commented on #15765
@vuliad so this issue is resolved with the most recent version of Ansible on the second host? If so, are you ok with closing this issue as it appears the problem has been resolved?

[2016-06-24 16:57] rfleschenberg opened #16437 "Provide a way to run some tasks after failure, at the playbook level"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Playbooks

##### ANSIBLE VERSION

[code]
##### SUMMARY

I use Ansible for application deployments. I want to make sure that only one deployment, or only one deployment per project, runs against a given server at a time, to avoid race conditions, problems with apt locking, and so on. So at a certain point in my playbook, I would like to create a

[2016-06-24 17:06] vuliad commented on #15765
@jimi-c i will be able to test this in next few days.

[2016-06-24 17:19] ovcharenko commented on #16403
@jimi-c Sure. See second playbook task output:

[code]

`ansible_ssh_private_key_file` is substituted correctly based on host's variables.

[2016-06-24 17:34] jimi-c commented on #16006
@kellenanker there hasn't been any follow-up recently, is this still an issue per the previous comment I left above?

[2016-06-24 18:29] jhawkesworth commented on #16436
Good idea. And an upgrade to PowerShell 5.0 too.

[2016-06-24 18:57] ovcharenko commented on #16403
@jimi-c Take a look on this. When I modify second task to something like that:

[code]

Output contains correct var values, but without substitution:

[code]

But `delegate_to` lost even that data using `ansible_ssh_private_key_file` from `delegate-test` host for all the rest.

[2016-06-24 18:57] anwright commented on #16030
I encountered this with just a single machine (out of about two dozen) with Ansible 2.1.0.0.  The problem turned out to be the extremely long hostname of that particular machine.  The hostname was (redacted, obviously):

xxxxx-xxxx-xxxxx-xxxxxxx.xx.xxx.xxxxx.xx.xx

Changing it to xxxxx-xxxxx-xxxxxxx.xx.xxx.xxxxx.xx.xx resolved the problem for me.

Edit to add: In my case, all machines are fully-pa

[2016-06-24 20:23] nordjc commented on #16057
I also ran into this with a custom module.  The undocumented workaround specified by @yourcelf does not help if you actually want a complex arg that might be any of several types.  As a module author, if you were relying on the yaml parser to produce nested dictionaries, you now have to figure out a safe way to eval the stringified representation of what once was a python object.
I will be handlin

[2016-06-24 22:24] ansafonov commented on #16408
Thanks

[2016-06-25 00:43] abadger commented on #16435
@kodstark regarding: ansible_shell_type, we fixed some problems with ansible_shell_type between 1.x and 2.1.x.  So you should check and see if you can remove that now.  I don't believe that's the problem here, though.  Looking into this now.

[2016-06-25 01:27] abadger commented on #16435
Ooooohhhhh.... The answer was staring me right in the face all along.  The Ansiballz wrapper sets PYTHONPATH so that the module knows where to find the boilerplate that it needs.  Then it invokes your shell script which sets PYTHONPATH, overriding any previous PYTHONPATH.  This is why the module then can't find the ansible library code.

The right answer is probably to modify your shell script lik

[2016-06-25 12:08] ghost opened #16443 ""template error while templating string: Missing end of comment tag" error"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.1.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I'm getting the above error in v2.1.0.0 calling `debug` module below.

[code]

The shell command is using cloudformation-ruby-dsl gem to generate a cloudformation template. The error was picked up when using the `template` module but can be reproduced by

[2016-06-25 15:28] #15884 closed, assigned to jimi-c

[2016-06-25 19:37] lottspot opened #16444 "Can't start glusterd on Arch Linux?"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
Arch Linux -> Arch Linux

##### SUMMARY
Attempting to start the glusterd service using the service module results in an exception.

##### STEPS TO REPRODUCE
Run the following playbook:
[code]

##### EXPECTED RESULTS
A happy little green `ok: [stor

[2016-06-26 00:15] ghost commented on #16443
I've attached a reproducible test case. Will need to install `cloudformation-ruby-dsl` and run bundle in the /cloudformation directory. The issue is with this statement in the `fails.rb` that triggers the failure that worked perfectly in v2.0.1.0.

[code]

[ansible-issue16443.zip](https://github.com/ansible/ansible/files/333346/ansible-issue16443.zip)

[2016-06-26 00:30] dagwieers commented on #16409
I would say that `fact_caching = memory` simply means there is no fact caching. And I would personally change the default to `False`, meaning exactly that. (`memory` is very ambiguous and implies it is enabled)

[2016-06-26 01:55] ghost commented on #16443
Found the line that causes the issue (in _system3.sh_):
`APPLICATION=${app:13:`expr ${#app} - 1 - 13`}`

This is valid bash thus not sure why Ansible with v2.1.0 has an issue with it?

[2016-06-26 03:15] stevenringo commented on #16443
Looks like `{#` needs to be escaped in your file.

[2016-06-26 04:01] memelet commented on #14426
I too wonder if setup is just slower in 2.x. We see setup timeouts very often when running against 2.1, but never with 1.9. We have increased the timeout to 30, but still it happens quite often on 2.1. (Will increase more to try to see if this is really a timeout or something that will never completed.)

[2016-06-26 04:08] larsf opened #16445 "Holders for partitions are not being captured"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Ansible facts does not collect Holders for partitions on linux

##### STEPS TO REPRODUCE
ansible -m setup

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]
I have a patch ready to go - developed for 1.9.4 but it applies to c

[2016-06-26 08:45] cameronkerrnz commented on #10616
I think the most graceful way to wait for a reboot to complete would be to take a note of the boot time prior to issuing a reboot, and wait for the boot-time to change. Some systems take a long time to complete shutdown, and assuming that shutdown takes less than a couple of minutes before SSH becomes unreachable is asking for problems,

Not sure how to code that in Ansible yet. I wonder how porta

[2016-06-26 12:49] ludovic-gasc commented on #15103
I confirm the bug, I've the same issue in my playbook with Ansible 2.1.0.

@ktosiek I vote to make a pull request for that.

[2016-06-26 13:59] thapakazi commented on #10840
hmm, similar case for us. (our user's are also without RDS and elasticcache rights). But better if we could document these somewhere, such that newbies of ansible-aws (ec2.py & ec2.ini)  would get it from [docs](http://docs.ansible.com/ansible/intro_dynamic_inventory.html#example-aws-ec2-external-inventory-script).  (rather than suffering the error and redirecting to this [page](https://github.com

[2016-06-26 14:17] memelet commented on #11317
How can this be closed? This is major break. And still in 2.1.

[2016-06-26 14:20] tonk commented on #16409
Agree. I do prefer your option, as long as it's clear what does what and that it matches the documentation.

'False', 'No' or 'Off' would be better as 'memory', I think.

[2016-06-26 16:28] killua-eu opened #16448 "LXD/DOCKER over SSH connector"
Hi,

I wonder if/how is it possible to chain ssh and lxd connections in order to manipulate lxd/docker containers on remote physical servers

thanks, Pavel

[2016-06-26 18:15] dagwieers commented on #16443
@vrodrigues You can avoid escaping by doing something like this:

[code]

[2016-06-26 18:46] joaocc opened #16449 "change pip's 'name' to be a list, to minimize conflicts"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

export ANSIBLE_LOG_PATH=/var/log/ansible.log
export ANSIBLE_CACHE_PLUGIN=jsonfile
export ANSIBLE_CACHE_PLUGIN_CONNECTION=/var/cache/ansible
export ANSIBLE_PRIVATE_KEY_FILE="/opt/src/_pk/key.pub"

export ANSIBLE_HOST_KEY_CHECKING=false
export ANSIBLE_GATHERING=smart
export ANSIBLE_ROLES_PATH=/opt/src/ansible/roles"
exp

[2016-06-26 19:54] dflock commented on #10616
It seems like there's enough complexity here for a `reboot` module, that would encapsulate all the platform specific differences in rebooting a node.

There's a windows one, contributed by @nitzmahone here: https://github.com/ansible/ansible/pull/15314, shipping with 2.1, docs here: https://github.com/ansible/ansible-modules-core/pull/3376/files - and an issue request for a cross platform module h

[2016-06-26 19:55] dflock commented on #16186
There's some discussion about current & possible approaches to rebooting linux nodes here, along with working examples: #10616

[2016-06-26 22:27] ghost commented on #16443
Thanks @dagwieers that works well. The issue that I have is that I don't want to change the original bash script that is passed to the CloudFormation template as it will force the re-instantiation of the instance(s). Thus I'm hoping for a fix otherwise I will either have to stay with v2.0.1 or use --skip-tags until I can handle the re-provisioning of the instances in that CF stack.

[2016-06-26 22:40] dagwieers commented on #16443
@vrodrigues TBH I don't understand why this is an issue. Unless you template that file to copy it to your targets, there shouldn't be an issue at all. But your example doesn't show that part of your setup...

[2016-06-26 23:06] ghost commented on #16443
In the real environment `system3.sh`, wherein the problem lies, is used in a template to validate the CF template as follows:

[code]

And this is where it fails in v2.1.0.

[2016-06-27 04:55] wtanaka commented on #16431
@jctanner Reproduced with 1.9.4, and updated title and body of issue to reflect actual problem.

[2016-06-27 05:02] kinhvan017 opened #16450 "Error when creates port on bridge use `openvswitch_port` module"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Error when creates port on bridge
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-06-27 06:28] anukulverma opened #16451 "module.exit_json doen't display any msg"
[code]

[2016-06-27 07:59] psk11 commented on #13278
I am using ansible 2.0.2.0 and its giving me the same error in case of restarting a service as well. Its happening when I am trying to restart nginx on my remote machine with service module.

[2016-06-27 09:31] mikef-nl opened #16452 "WinRM NTLM Error 104"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /home/ansible/.ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

Ansible configured to use NTLM authentication to domain servers.
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
Managing Windows Server 2012 R2 with Windows Domain
PyWinRM 0.2.0
##### SUMMARY

When

[2016-06-27 10:04] ssbarnea commented on #14568
I have the impression that I am facing the same bug or one that is closely related to this one. Ansible 2.1.0.0, error `The async task did not return valid JSON: No JSON object could be decoded`

[code]

[2016-06-27 10:52] jhawkesworth commented on #16452
It might help if you could look through the event log on the affected servers to see if there is any information on the reason why the windows box reset the connection.  Is there a successful login attempt at the time you are making the connection from ansible, for example?

Also, please can you check the firewall configuration on the affected servers and make sure that the profile that applies is

[2016-06-27 11:13] weldpua2008 opened #16454 "PIP Installation is failing"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04 / 16.04, Debian 8
##### SUMMARY

I tried to install latest ansible version and it fails
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Installed ansible
##### ACTUAL RESULTS

[code]

[2016-06-27 11:14] wizonesolutions opened #16455 "osx_defaults does not allow reading values"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X, locally
##### SUMMARY

http://docs.ansible.com/ansible/osx_defaults_module.html says that the module can be used to read from defaults, but it can't. It can only write and update. There are no read examples, and `value` is required when `state=present`.
##### STEPS TO REP

[2016-06-27 12:00] alzeih opened #16456 "In some cases, error message "specified line no longer in file, maybe it changed?" is not because the file changed"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The error message `(specified line no longer in file, maybe it changed?)` is caused when there is a syntax error on the last line, and that line also contains variable interpolation. The error message points to the line after the end of

[2016-06-27 12:53] bcoca commented on #16451
I cannot make sense of this ticket, can you show a play that reproduces this issue?

[2016-06-27 12:54] bcoca commented on #16444
can you test with devel, I believe this has already been fixed

[2016-06-27 13:03] anukulverma commented on #16451
I will have some output on stdout both in success and failure scenarios from my application.

And my module looks like:

[code]

For rc != 0 scenarios i am getting error messages. But for rc == 0 no message is getting displayed.

[code]

[2016-06-27 13:06] bcoca commented on #16445
~~can you show the content of `/sys/block/sda2/holders` on the system?~~ nvmd, we never look for holders for partitions

[2016-06-27 13:07] mmaslowskicc opened #16457 "pause: seconds=0 waits for input instead of finishing immediately"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default.
##### OS / ENVIRONMENT

Debian Jessie amd64
##### SUMMARY

When running the task `pause: seconds=0`, `ansible-playbook` hangs instead of immediately finishing the pause.

This results from using `signal.alarm` with an argument of `0` which cancels an alarm instead of setting it.
##### STEPS TO REPRODUCE

Pla

[2016-06-27 13:14] bcoca commented on #16451
can you please fill in the template for issues? you give me nothing to reproduce and I'm not even clear what the actual problem is

[2016-06-27 13:17] bcoca commented on #16457
Module Repo Information
=======================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull

[2016-06-27 13:21] mmaslowskicc commented on #16457
`pause` is an action plugin, so I assumed it should be reported here.

[2016-06-27 13:31] jctanner commented on #16455
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-27 13:31] #16455 closed, assigned to nobody

[2016-06-27 13:34] jctanner commented on #16448
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the is

[2016-06-27 13:34] #16448 closed, assigned to nobody

[2016-06-27 13:38] jctanner commented on #16450
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-27 13:38] #16450 closed, assigned to nobody

[2016-06-27 13:41] bcoca commented on #16457
fixed via 1b7b1ca15e4a578c5ef788ae2e1d1d13b2d61a32, also updated the modules-core repo with docs explaining the behavior.

[2016-06-27 13:41] #16457 closed, assigned to nobody

[2016-06-27 13:42] chrisweaver commented on #14426
FYI we haven't seen that error in a couple of months.  We implemented the workaround from @szhem for our RHEL 6.7 hosts and that apparently fixed it.  For our RHEL 7.2 hosts, they use a newer version of authconfig (version 6.2.8-10) which apparently fixes that problem, because for them we don't need the workaround.

We are using RHEL 7.2 on our Jenkins slaves and Tower servers as well.

[2016-06-27 14:07] anukulverma commented on #16451
[code]

[2016-06-27 14:07] anukulverma commented on #16451
Let me know if you are looking for any specific info.

[2016-06-27 14:24] anukulverma commented on #16451
[code]

[2016-06-27 14:24] anukulverma commented on #16451
[code]

[2016-06-27 14:25] anukulverma commented on #16451
---
- hosts: TEST
  ignore_errors: yes
  tasks:
  - anukul:
    cmd='show'
  - anukul:
    cmd='config'
  - anukul:
    cmd='write'

[2016-06-27 14:56] bcoca commented on #16451
I still have no idea what the problem is, you seem to be having issues with a custom module?

[2016-06-27 14:58] anukulverma commented on #16451
yes

[2016-06-27 14:59] taylorreece commented on #16370
More curious than anything: why exactly is the default mode '420'?  That gives the owner 'read', the group 'write', and other nothing.  Seems like 644 would be a more appropriate default.  I can add "mode=644" to apt_repository calls myself, no problem... 420 just seems like a weird default.

[2016-06-27 15:28] ruzickap opened #16460 "Can not force ansible to use http with winrm: ansible_winrm_scheme=http"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Fedora 23
##### SUMMARY

Ansible ignores "ansible_winrm_scheme" when using non-standard ansible_ssh_port.
##### STEPS TO REPRODUCE

This usually happen when I use "-e ansible_connection=winrm -e ansible_winrm_scheme=http":

[code]

then I got:

[code]

##### EXPECTED RESULTS

Ansible should be able to use "http" wi

[2016-06-27 16:19] alikins commented on #16454
This looks like an issue related to the setup in the docker image.
The docker image appears to be missing some build requirements.

Try

[code]

[2016-06-27 16:19] #16454 closed, assigned to nobody

[2016-06-27 16:32] Jacob-SAE commented on #16303
My namedtuple used for PlaybookExecutor(options=self.options) did not keep persistent inventory.

I resolved it with:

[code]

Is it intended for inventory within the namedtuple to not stay persistent for all roles in a playbook?

[2016-06-27 16:39] ergo opened #16461 "Expect module silently kills tasks after timeout is exceeded even if all questions were answered"
- Bug Report

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It turns out that tasks fail after default (30s) timeout is reached even if all the questions
were already handled by "expect" module.
##### STEPS TO REPRODUCE
1. run a task that requires "answers"
2. the task should run longer than default timeout
3. task if marked as failed without any apparent reason

this fails for me after a whil

[2016-06-27 16:40] sivel commented on #16461
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-27 16:40] #16461 closed, assigned to nobody

[2016-06-27 17:45] #16189 closed, assigned to nobody

[2016-06-27 19:53] abadger commented on #16322
@rawbertp Could you update and try again (posting the same output if it still fails)?  The usage of find had a problem where it wouldn't throw an error if setfacl failed.  We've since changed that to use a syntax where find will throw an error.  We can then use the error to tell us to try another method to set permissions for the file.

[2016-06-27 21:31] jimi-c commented on #11317
This variable is (and had been in 1.9) defined when using the template module. It was not generally available as a variable.

[2016-06-27 21:34] zentavr opened #16462 "Volumes do not get dropped when removing the docker container"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS From: OS X, Ubuntu 14.04
OS To: Ubuntu 14.04
##### SUMMARY

##### STEPS TO REPRODUCE
1. Create the docker container with attached volumes
2. fill the volume
3. drop the container
4. repeat several times
5. `docker volume ls -f dangling=true` will show you the not-used containers
   Se

[2016-06-27 21:38] jimi-c commented on #11748
# Closing This Ticket

Hi!

As this issue appears to be resolved in the most recent release branch, we are going to close this at this time.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-27 21:38] #11748 closed, assigned to nobody

[2016-06-27 21:52] jimi-c commented on #11685
Since there have been no major updates on this in over 6 months, and the window for those writing lookups for the 1.x series is mostly closed, we're going to go ahead and close this now.

If there are any further issues regarding this, please let us know. Thanks!

[2016-06-27 21:52] #11685 closed, assigned to nobody

[2016-06-27 21:54] jimi-c commented on #12551
Hi, this issue appears to be resolved, as the commit mentioned above was merged in and has been available in 2.0 since its release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2016-06-27 21:54] #12551 closed, assigned to nobody

[2016-06-27 21:55] #12920 closed, assigned to nobody

[2016-06-27 21:56] jimi-c commented on #12976
Closing, as this was resolved a while back and just cleaning up old issues.

[2016-06-27 21:56] #12976 closed, assigned to nobody

[2016-06-27 22:09] jimi-c commented on #12982
# Closing This Ticket

Hi!

We believe this has been resolved for a while, and as there have been no updates in over 6 months we're going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-pr

[2016-06-27 22:09] #12982 closed, assigned to nobody

[2016-06-27 22:11] nitzmahone commented on #10616
@cameronkerrnz I went for a combination in win_reboot- I actually added the ansible_lastboot fact to Windows for that exact purpose, but ended up not shipping the version of win_reboot that used it for various reasons (instead waiting for the port to go down, then back up, then for a "canary" command to succeed over WinRM). I might still revisit that at some point. At least on WinRM, it's expensiv

[2016-06-27 22:32] zentavr commented on #16462
maybe we can specify somehow that we want to use `-v` flag here in `docker.py` module:

[code]

`remove_container()` looks like this:

[code]

[2016-06-27 22:34] jimi-c commented on #13046
Hi @solomongifford, just following up on older issues. This appears to have been fixed at some point in the past as running `watch -d "ls -1 /proc/<pid>/fd/ | wc -l"` (where <pid> is that of the main ansible-playbook process) shows a steady count of fd's.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the t

[2016-06-27 22:34] #13046 closed, assigned to nobody

[2016-06-27 22:59] jimi-c commented on #13268
Hi @messiahUA, just looking back at old issues. Copying the output of our ec2.py script (which contains 101 hosts) to a script that simply echos out the JSON, there is no discernable difference between that and a static INI format:

<pre>
# time ansible-playbook -vv test.yml --list-hosts -i inv_static
Using /etc/ansible/ansible.cfg as config file
1 plays in test.yml
playbook: test.yml
  play #1 (a

[2016-06-27 23:02] jmehnle commented on #12743
So, can the Ansible maintainers please move this issue to the `ansible-modules-extra` tracker? Otherwise I'm going to file a 100% identical issue there in a few days.

[2016-06-27 23:12] bmsupport commented on #13046
The code producing the error seems to have been removed/replaced.

[2016-06-27 23:15] jimi-c commented on #12743
@jmehnle go for it, we can't relocate issues ourselves and preserve ownership, so we generally ask the original reporter to do so. As this one has not, feel free to open a new issue for it yourself.

[2016-06-27 23:18] #13507 closed, assigned to nobody

[2016-06-27 23:19] jimi-c commented on #13507
Fixed as of 2.1 with `static: yes` includes.

[2016-06-27 23:39] nitzmahone commented on #13270
Updated docs with https://github.com/ansible/ansible/pull/16465 to clarify that double-curlies are not necessary in conditionals. We might want to consider making this a parser error with specific guidance on how to fix at some point, but at least documenting is a step in the right direction.

[2016-06-27 23:39] #13270 closed, assigned to nobody

[2016-06-28 04:52] jmehnle commented on #12743
Filed as https://github.com/ansible/ansible-modules-extras/issues/2489.

[2016-06-28 06:42] ralavay commented on #8546
I still got this error in version `2.0.1.0`

[code]

I have to use `ignore_errors` to bypass it.

[2016-06-28 08:08] #13575 closed, assigned to nobody

[2016-06-28 08:08] jimi-c commented on #13575
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-28 08:32] jimi-c commented on #13578
Hi @LukeHoersten, going through old issues, and it appears this one has been resolved for some time. Creating a similar setup to the one you describe above, where roles `sub{1,2}/test` exist and are run, I see the following output:

<pre>
# cat test.yml
- hosts: localhost
  gather_facts: no
  roles:
  - "sub1/test"
  - "sub2/test"
# cat sub{1,2}/test/tasks/main.yml
---
# tasks file for sub1/test
-

[2016-06-28 08:32] #13578 closed, assigned to nobody

[2016-06-28 08:36] jimi-c commented on #13585
Hi @knorchbold, just going through some old issues and it appears (based on your last comment) that this is somewhat expected behavior with python? Are you still seeing this problem occur with the latest devel branch or stable-2.1?

[2016-06-28 08:36] jcassee commented on #13575
Thanks, James!

[2016-06-28 08:41] wenzizone opened #16467 "running ansible on ubuntu 16.04"
my remote ssh server is ubuntu 16.04
as my know, the default python version on 16.04 is 3.5.x
so how can i running ansible on ubuntu 16.04 without any pre-installation on server
##### ISSUE TYPE

- Bug Report

PLAY [install odoo] ************************************************************

TASK [setup] *******************************************************************
fatal: [xxx.xxx.xxx.xxx]: F

[2016-06-28 08:42] #16467 closed, assigned to nobody

[2016-06-28 08:48] lehoanganh opened #16468 "ansible playbook failures if paths include spaces"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ansible playbook failures if paths include spaces
##### STEPS TO REPRODUCE

[code]

The problem arises from statements like these:

[code]

where file cannot handle a space in the path.

##### EXPECTED RESULTS

It should handle spaces in the path
##### ACTUAL RESULTS

[2016-06-28 09:26] rawbertp commented on #16322
Please see below for the error(s) I'm getting now with

[code]

[code]

[2016-06-28 09:33] drybjed opened #16469 "Inconsistent handler execution in multiple Ansible versions"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No modification in configuration
##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

Handler behaviour has changed between Ansible stable-2.0 and current devel to the point where their behaviour differs depending on if the role is called directly from a playbook or through role dependency. On the current devel, hand

[2016-06-28 10:16] scibi opened #16470 "uri module is broken in v2.1.1.0-0.1.rc1"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Clean virtualenv on Debian Jessie:

[code]
##### SUMMARY

`uri` module throws exception when running. With ansible 2.1.0 it works fine.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

Actual value of `py_module_name` is `('six',)`.

[2016-06-28 10:31] sgsabbage commented on #16048
I managed to get this temporarily working with pipelining per task and becoming postgres user:

[code]

Hopefully this helps anyone in the same boat.

[2016-06-28 11:12] halacs opened #16471 "docker_container does not works unexpectedly"
Related request: [3762](https://github.com/ansible/ansible-modules-core/issues/3762)
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

Fedora release 22 (Twenty Two)
Python 2.7.10
docker-py 1.8.1
##### SUMMARY

I am trying to manage Docker containers with _docker_container_ but I got this error message:

Although my Ansible scri

[2016-06-28 12:32] tim-seoss commented on #16202
Any details on what's been prototyped for this?  It would be good to know which approaches are thought not to be worth pursuing, and why (having been banging my head against this for a couple of days before seeing this bug).

[2016-06-28 12:39] revengel opened #16472 "docker_container no works correctly"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Arch linux
##### SUMMARY

I'm trying to run docker swarm container

Using _docker_ module:

[code]

Swarm works well. But this module is deprecated

Trying to use new module docker_container:

[code]

The container exit with error.

[code]

[code]

The errors in log looks like I start fo

[2016-06-28 12:52] towolf commented on #12065
Please fix this. If my colleague hadn't told me "yeah, that's a known ansible bug" I would've spent my afternoon chasing after unicorns.

[2016-06-28 12:58] jmcollin78 opened #16473 "htpasswd logs users password in log"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

$ uname -a
Linux xxxxx 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux
##### SUMMARY

When using the htpasswd feature, the password are displayed in output logs.
##### STEPS TO REPRODUCE

My configuration is the following:

[code]

I try to add `no_log: true` but w

[2016-06-28 13:01] milaw commented on #15721
Have a same issue
Trying to access to coresos from centos 7

[2016-06-28 13:04] milaw commented on #15721
fatal: [127.0.0.1]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (most recent call last):\r\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1467118668.72-129864102443735/setup\", line 114, in <module>\r\n    exitcode = invoke_module(module, zipped_mod, ZIPLOADER_PARAMS)\r\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1467118668.72-1298641024437

[2016-06-28 13:27] jctanner commented on #16462
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-28 13:27] #16462 closed, assigned to nobody

[2016-06-28 13:44] jctanner commented on #16468
Reproduced ...

[code]

[2016-06-28 13:51] bcoca commented on #16449
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-28 13:51] #16449 closed, assigned to nobody

[2016-06-28 13:52] bcoca commented on #16451
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-28 13:52] #16451 closed, assigned to nobody

[2016-06-28 13:53] halacs commented on #16471
Well, seems my problem was just the usual: incompatible versions. The correct ones are:
- Docker: 1.11.2 _(from Docker's repo, not Fedora's one)_
- Docker API: 1.23 _(from Docker's repo, not Fedora's one)_
- docker-py: 1.7.0

  Just a side note: it seems the [documentation ](http://docs.ansible.com/ansible/docker_container_module.html)might be not precise enough because it doesn't say about '_port

[2016-06-28 13:57] bcoca commented on #16471
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the issue seems to be that you are missing

[2016-06-28 13:57] #16471 closed, assigned to nobody

[2016-06-28 14:12] jctanner commented on #16468
This is the code in ini.py where the issue occurs ...

[code]

The split of the parameters does not safely handle string values with spaces.

[code]

[2016-06-28 14:15] tolimar commented on #8266
I'm new to ansible, but setting the host configuration to `ansible_python_interpreter=/opt/freeware/bin/python_64` works for my first tests.

[2016-06-28 14:21] joaocc commented on #16449
Thx. Submitted to https://github.com/ansible/ansible-modules-core/issues/4055

[2016-06-28 14:21] bcoca commented on #16473
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-28 14:21] #16473 closed, assigned to nobody

[2016-06-28 14:21] jctanner commented on #16468
Prototype patch ...

[code]

[2016-06-28 14:31] bcoca commented on #16472
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-28 14:31] #16472 closed, assigned to nobody

[2016-06-28 14:50] zentavr commented on #16462
Moved to [ansible-modules-core/4057](https://github.com/ansible/ansible-modules-core/issues/4057)

[2016-06-28 14:53] lukehoersten commented on #13578
We were able to confirm this is **fixed** in latest Ansible. Thanks @jimi-c

[2016-06-28 15:10] jmcollin78 commented on #16473
OK -> https://github.com/ansible/ansible-modules-core/issues/4058

[2016-06-28 15:24] vbichov opened #16475 "any_errors_fatal: True ignored when some hosts are unreachable"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

ansible 2.0.2.0
  config file = /**/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

[defaults]
host_key_checking=false
remote_tmp = /tmp
log_path=./ansible.log
forks=20
timeout = 30
hash_behaviour=merge

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=180s -o ServerAliveInterval=30
##

[2016-06-28 15:30] r3nat opened #16476 "lookup() omits "../" from file path in 2.x"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X 10.11.5

##### SUMMARY
`lookup()` omits "../" from file path in 2.x

##### STEPS TO REPRODUCE
https://github.com/r3nat/ansible-lookups-bug
Just run `ansible-playbook -i hosts plays/play.yml`

##### EXPECTED RESULTS
Expected to see actual contents of "../a.txt"
[cod

[2016-06-28 15:35] michaelgrosser commented on #16052
I'm also having this issue in Ansible 2.1.0.

[code]

Results in:

[code]

This is in an attempt to build a base Vagrant box for users via Packer, but it's reproduceable using Ansible 2.1.0 directly over SSH against the box as well.

[2016-06-28 15:59] knorchbold commented on #13585
Yes, it's still there:

[code]

This is on Debian 8 with ansible installed via a deb-package generated with `make deb` from `stable-2.1`.

I think you could say it is expected behaviour and rarely appears in reality. However, I think printing a warning if `sys.executable` is empty for some reason would be nice to save some time for the next person, that wants to call ansible with some script or li

[2016-06-28 17:24] #16468 closed, assigned to jctanner

[2016-06-28 17:25] jctanner commented on #16468
Hi!

A change has been applied for this ticket, which should resolve this item for you.

If you believe this ticket is not resolved, or have further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for s

[2016-06-28 17:43] jctanner commented on #16470
Unable to reproduce ...

[code]

[2016-06-28 17:57] vikas027 opened #16478 "Winrm: Unable to make ansible work other than local Administrator User"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
- CentOS 7.2 and CentOS 6.8
- Python 2.7.5
- Windows 2012 R2 Standard or Windows 10 (Joined to AD Domain)
##### SUMMARY

Unable to ping the Windows server other than Administrator User
##### STEPS TO REPRODUCE
- Install Ansible
- Execute the powershell scripts and configure kerberos as sh

[2016-06-28 17:59] jctanner commented on #16470
I also could not reproduce by copying your installation method ...

[code]

[2016-06-28 18:05] pmoosh commented on #7367
I see the same issue. It fails - although the container images get built. Running it a second time - when the container already exists -  it works.

[2016-06-28 18:28] adamchainz commented on #13278
@oleyka I added `timeout = 60` but I still got "Timeout (12s) waiting for privilege escalation prompt: " - this implies this isn't the right timeout you're talking about. As for things being disk-intensive - well for me it's always the first task running on a freshly booted EC2 instance that fails with this message.

[2016-06-28 18:34] nateprewitt commented on #16476
The first path created in [`path_dwim_relative()`](https://github.com/ansible/ansible/blob/1db02dfb71a4f9ecf7f73343faa36e84a56232c6/lib/ansible/parsing/dataloader.py#L223) in this case is appending 3 variables (path, dirname, source). [This](https://github.com/ansible/ansible/blob/1db02dfb71a4f9ecf7f73343faa36e84a56232c6/lib/ansible/parsing/dataloader.py#L240) creates the path ansible-playbook-bug

[2016-06-28 18:36] raags commented on #16406
The `__version__` attribute is back but uses semver now. The azure_rm.py inventory script has a check for the release date instead :

[code]

Also, inventory fails on :

[code]

[2016-06-28 18:38] bcoca commented on #13946
This is already supported, you just need to set an env variable to change the default 'v1'

`ANSIBLE_ETCD_VERSION="v2" ansible-playbook ....`

[2016-06-28 18:38] #13946 closed, assigned to nobody

[2016-06-28 18:39] bcoca commented on #16071
closing as duplicate of #13946

[2016-06-28 18:39] #16071 closed, assigned to nobody

[2016-06-28 18:39] nitzmahone commented on #16406
Sounds like @chouseknecht is working on this (since he's demoing this stuff at Red Hat summit this week) :) .

[2016-06-28 18:42] raags opened #16480 "Azure RM inventory script fails with azure-python-sdk 0.30.0rc5"
ISSUE TYPE

Bug Report
ANSIBLE VERSION

2.2.0

CONFIGURATION

OS / ENVIRONMENT

SUMMARY

The azure_rm inventory throws an error for Azure python sdk version miss match. But script has a check for the release date instead `AZURE_MIN_VERSION = "2016-03-30"`.

That being fixed, I get a new error :

[code]

STEPS TO REPRODUCE

Follow this guide : https://docs.ansible.com/ansible/guide_azure.html

EXPE

[2016-06-28 18:43] raags commented on #16406
Oh, good; I opened a bug report anyway : https://github.com/ansible/ansible/issues/16480

[2016-06-28 19:00] bcoca commented on #16476
I'm currently making a a fix for these paths for action plugins in #16387 (once this is done I'll update lookups also).

The problem is that
`ansible-playbook-bug/plays/files/../a.txt`  == `ansible-playbook-bug/plays/a.txt`

but you intended:
`ansible-playbook-bug/a.txt`

but  `ansible-playbook-bug/plays/a.txt` exists and is found first. This is caused by ansible attempting to resolve the full pat

[2016-06-28 19:24] jctanner commented on #16470
My previous tests were on fedora 23, so i'll have to retry on debian jessie.

[2016-06-28 19:54] taraslayshchuk commented on #14386
@jhawkesworth, sure, give me some time to reproduce environment.

[2016-06-28 20:06] oleyka commented on #13278
@adamchainz You might want to insert a wait_for ssh task prior to your first task on the newly launched instance, if you do not have it already. Something along the lines of:

[code]

where `new_instances` is an output of your ec2 launch task.

[2016-06-28 20:08] scibi commented on #16470
Hi!

I've run the test once again - from fresh virtualenv. Result is the same...

[code]

[2016-06-28 20:23] MikeSpreitzer commented on #12877
@bcoca what info is being requested now?  @fninja has provided a concrete example.

[2016-06-28 20:28] ipsi commented on #5356
Another +1, but this time with an exciting difference:

[code]

Gave the following error:

[code]

Which is damned peculiar, since it clearly made it past the first conditional (Linux), and that conditional also worked on my Linux box.

The following then worked:

[code]

Why do I need to quote `{{ ansible_system }}` when comparing `Darwin` to `Darwin`, but _not_ when comparing `Darwin` to `Linux`

[2016-06-28 21:00] MikeSpreitzer opened #16482 "include from a subdirectory ruins subsequent role lookups"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No special configuration is involved.
##### OS / ENVIRONMENT

I have been testing in MacOS 10.10.5.
##### SUMMARY

If a playbook includes another playbook and then invokes a role, and the included playbook is from a different directory, then the role will not be sought in the right directories.
##### STEPS TO REPRODUC

[2016-06-28 21:00] MikeSpreitzer commented on #16482
This was fixed by https://github.com/ansible/ansible/commit/733d017ad0246aaaa6fa57fde6e6e502f69b2d49
In other words, this issue is a duplicate of #15930

[2016-06-28 21:01] jhawkesworth commented on #16478
Please can you try without setting

ansible_winrn_transport: ssl

Also please ensure you have installed the python Kerberos library.

[2016-06-28 21:01] MikeSpreitzer commented on #16482
It would be nice to include the fix in the next 2.1 release.

[2016-06-28 21:03] jctanner commented on #16482
I confirmed via git bisect and and then a second out of band revert that this was fixed by https://github.com/ansible/ansible/commit/733d017ad0246aaaa6fa57fde6e6e502f69b2d49

[2016-06-28 21:03] jctanner commented on #16482
@jimi-c assigning this to you for decision on cherry pick to 2.1

[2016-06-28 21:09] tuler commented on #16471
I got the same error. Did you find an answer?

[2016-06-28 21:19] adamchainz commented on #13278
I do have such a task 😢

[2016-06-28 21:26] jctanner commented on #16470
I was able to reproduce on jessie ...

[code]

[2016-06-28 21:29] isegal commented on #13278
Does anybody have any hypotheses of why this is happening? Any specific lines in the source that we could instrument to dig deeper?

[2016-06-28 21:41] jctanner commented on #16470
@scibi can you update pip and setuptools in the venv prior to installing ansible?

[code]

[2016-06-28 21:44] adamchainz commented on #13278
https://github.com/ansible/ansible/blob/de185668829a95fb531d81761d1e36d4427b216b/lib/ansible/plugins/connection/ssh.py#L420

[2016-06-28 22:13] scibi commented on #16470
Now it works :) Maybe there should be added some dependencies?

I've just checked and it's not related to this particular tag. It's related to the build process: it works if you install ansible from PyPI. It doesn't work If you install it from sources on GitHub.

[2016-06-28 22:17] jctanner commented on #16470
@scibi that confirms we hit the same issue then. I'm still debugging to see what is going on exactly.

[2016-06-28 22:19] isegal commented on #13278
Can anyone reproduce this while collecting strace? I.e. strace -ttf <ansible playbook command>
would be interesting to see if any signals occur right before the error.

Going to try to reproduce, but it's not very frequently occurring on our systems.

[2016-06-28 22:20] abadger commented on #16322
Okay.  Cool.  So now all the fallbacks are falling back... the question is whether one of them should succeed.  I think Solaris uses ZFS.  ZFS doesn't have POSIX acl support so that won't take effect.  Your unprivileged user so unlike HP-UX, chown will fail.  So that only leaves setting the temporary files to be world readable.

The docs at https://docs.ansible.com/ansible/become.html#becoming-an-

[2016-06-28 22:21] jctanner commented on #16470
Added some extra debug lines to compare the erroring lines between venv with new pip+setuptools versus old pip+setuptools ...

[code]

[2016-06-29 00:11] michaelgugino commented on #5871
This bug is affecting me as well:

Here is my usecase:

[code]

Definitely not intuitive based on behavior of most other modules.

[2016-06-29 00:33] viviliv commented on #13965
It looks like this is still a problem.

ansible --version
ansible 2.1.0.0

 FAILED! => {"changed": false, "failed": true, "msg": "The async task did not return valid JSON: No JSON object could be decoded"

[2016-06-29 00:37] abadger commented on #13585
@knorchbold Could you check if https://github.com/ansible/ansible/pull/16487 solves this for you?  At the least, it should now warn with a message of what the user can change to try to fix it in configuration.  If your python is /usr/bin/python, I think it will also make things work.

[2016-06-29 03:15] jctanner commented on #16470
@scibi We narrowed down the issue to an older checkout behavior in pip's git wrapper.  For a versioned git url such as git+https://github.com/ansible/ansible.git@v2.1.1.0-0.1.rc1, here is how the old and new pip operates:

[code]

When 8.1.2 updates submodules after checking out the version, it properly sets the version for the module repos as well. 1.5.6 doesn't update submodules after checking o

[2016-06-29 03:15] #16470 closed, assigned to jctanner

[2016-06-29 03:44] jctanner commented on #16469
git bisect blames this commit: https://github.com/ansible/ansible/commit/ca6ee4c78980707a6ff83176d0e019a9b0ef052f

[2016-06-29 03:45] jctanner commented on #16469
@jimi-c can you take a look at this?

[2016-06-29 03:54] jctanner commented on #16370
@taylorreece  it's not supposed to be 420, so we're trying to fix it in https://github.com/ansible/ansible-modules-core/pull/3991

[2016-06-29 04:07] jctanner commented on #16475
Hi!

We believe recent commits (v2.1.1.0-0.1.rc1) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user

[2016-06-29 04:07] #16475 closed, assigned to nobody

[2016-06-29 05:32] sbasapure commented on #16266
jhawkesworth,

I have tried on multiple systems of 2008 R2 but the problem is persisting. Would you please test/recreate  it in your environment on Windows 2008 R2 system ?

Also searched on the  groups you suggested but no one has encountered such problem.

[2016-06-29 06:24] sbasapure commented on #16266
another point - it copies only roughly 100 MB files size on windows 2008 R2  and it fails to copy remaining files. If I re-run the win_copy it copies the remaining files again till 100 mb size of files.

[2016-06-29 06:26] rawbertp commented on #16322
Unfortunately pipelining is not an option here but it works with "allow_world_readable_tmpfiles=True". Thanks for that!

[code]

[2016-06-29 06:51] halacs commented on #16471
Well, I have to apologize because I missed to mention a key aspect of my solution.
I think this is a bug (but whose?), because '_pip install docker-py==1.7.0_' is not enough. I must also have installed '_python-docker-py_' dnf package. I don't know why, but this solved everything.

If _docker-py==1.7.0_ was earlier installed than _python-docker-py_, I had to reinstall _docker-py_ with pip.

[2016-06-29 07:14] debugloop commented on #16146
@bcoca Please reopen this, the issue still persists in the latest git checkout.

[2016-06-29 07:39] jhawkesworth commented on #16266
I ran the integration tests for win_copy module yesterday against S2008R2 without a problem, but they won't test a large (100Mb) file.
Since it is working for smaller files, and other modules are working ok, I think some kind of limit is most likely cause.

Searching around I can see others have hit limits with the winrm quotas:
https://sites.google.com/site/softwaretechforge/Downhome/Programmingl

[2016-06-29 08:07] sbasapure commented on #16266
Thanks Jhawkesworth for replying to the issue.

Right, I am having the same of more than 100 Mb size of files does not work with Windows 2008 R2 but it works on Windows 2012 R2. This is someohow not getting into me that why it is not supporting on Windows 2008 R2.

I will try the setting you provided on Windows system and let you know shortly.

Regarding win_get_url works only for single file to c

[2016-06-29 08:47] sbasapure commented on #16266
I tried with the settings as you suggested but failed with the same error.

Set-Item WSMan:\localhost\Shell\MaxMemoryPerShellMB 5000
Set-Item WSMan:\localhost\Plugin\Microsoft.PowerShell\Quotas\MaxMemoryPerShellMB 5000
Restart-Service winrm

[2016-06-29 09:04] scibi commented on #16470
@jctanner Thank you very much for your effort and time you have spent on this issue :)

Maybe it would be a good idea to mention the need of correct pip version here: http://docs.ansible.com/ansible/intro_installation.html#latest-releases-via-pip?

[2016-06-29 09:30] jhawkesworth commented on #16266
Perhaps it is a limitation in the network stack which which has been increased or removed in S2012 R2.  Are you sure there is nothing in the event logs from the time of the failure?

You can use 'with_items' to collect multiple files, something like this (not tested):

[code]

[2016-06-29 09:42] vikas027 commented on #16478
Hello @jhawkesworth ,

I have done the same in vain

[code]

Interestingly, Kerberos says that the credentials were rejected,but I can see few successes and one failure in event log. I had cleared up all logs before executing the `win_ping` module.
![2016-06-29_19-38-19](https://cloud.githubusercontent.com/assets/6998650/16447690/0deb580c-3e31-11e6-8cbc-86804de88fd9.png)

[2016-06-29 09:50] sbasapure commented on #16266
There is nothing in the System event logs. Do you want me to look into any others logs ?

CSC - This is a PRIVATE message - If you are not the intended recipient, please delete without copying and kindly advise us by e-mail of the mistake in delivery. NOTE: Regardless of content, this e-mail shall not operate to bind the Company to any order or other contract unless pursuant to explicit written ag

[2016-06-29 10:32] ghost opened #16489 "OSError: [Errno 2] No such file or directory: xxx/ziploader_cache"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When using any module we sometimes - about half the time in fact, get the error shown below. Sometimes this will happen many times in a row until finally the run works.
##### STEPS TO REPRODUCE

Just a simple copy of a local file to remote will trigger this on my sy

[2016-06-29 11:15] knorchbold commented on #13585
Yes, that fixes it. Warning is shown and /usr/bin/python is used. Thank you!

[code]

[2016-06-29 11:25] messiahUA commented on #13268
It's great this issue is still looked at!

Unfortunately, I can't figure out how to correctly output json, for some reason it says:

[code]

But manually executing test.sh gives same output as zabbix.py script...
Anyways, problem still persists with latest commit 216a845244a29c09066fcd4032eb1bb6e487b97a.

I execute:

[code]

Result:

[code]

I execute:

[code]

Result:

[code]

[2016-06-29 12:38] jhawkesworth commented on #16266
I tend to clear out all the event logs for all types, reproduce the problem then check all the event logs for all types again when dealing with unknowns like this.

[2016-06-29 12:46] Rucknar commented on #15903
@nitzmahone Any chance this could be merged? Would help me simplify one of my current roles massively by taking out the dirty hack i've had to put in.

[2016-06-29 12:50] jhawkesworth commented on #16478
just to be sure, please check you have a kerberos ticket which has not expired before running the playbook, and that it is for
vkumar@TEST.COM
Also, please check that
box62.test.com is on the domain called TEST.COM and not on a different domain with a trust relationship.

if you run

kinit -C vkumar@TEST.COM

then run a

klist

ensure that the cannonical domain name (what the -C gives you) matches

[2016-06-29 13:01] taraslayshchuk commented on #14386
Ansible: 2.2 installed over pip from git@github.com:ansible/ansible.git
Ansible machine: Ubuntu 14.04.4 LTS
Host machine: Windows 2012 r2
Role playbook:

[code]

output:

[code]

[2016-06-29 13:06] vikas027 commented on #16478
Thanks @jhawkesworth ,

My Win Server is indeed joined to the domain.
![2016-06-29_22-58-59](https://cloud.githubusercontent.com/assets/6998650/16452681/1379a852-3e4d-11e6-9062-6d68205e35dc.png)

I had tried using the `-C` switch earlier too; same result.

[code]

Here is the output of winrm config, not sure if this helps. I have double checked it from the steps listed for [WinRM](https://github.c

[2016-06-29 13:30] freeseacher opened #16495 "ansible-galaxy install unexpected behaviour"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansibe-galaxy cli

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Hi!

Maybe i'am not first whom ask it, but quick search did't return relevant result.

Why `ansible-galaxy install` just downloading role. Not installing.
in my opinion expected behavior looks like `ansible-galaxy download` is downloading role j

[2016-06-29 13:42] jctanner commented on #16470
@scibi sure, I think that would be a good addition to the doc. Would you have interest in creating the docs PR yourself?

[2016-06-29 13:47] jctanner commented on #16495
@freeseacher we need more context please.
1. What version of ansible
2. Content of ansible.cfg
3. Operating System and version.
4. output from ansible-galaxy -vvvv install <args>

[2016-06-29 13:51] jctanner commented on #16489
@khushil
1. how are you invoking ansible-playbook / ansible?
2. Is it running in a for loop or a cronjob?
3. On average, how many runs before the error occurs?

[2016-06-29 14:20] ifelsefi commented on #15103
I am having the same issue

[code]

[code]

[code]

This does not help either in accounts.yml:

[code]

[code]

[code]

If I run a debug by adding tasks into accounts.yml it does print the group:

[code]

[code]

[2016-06-29 14:22] freeseacher commented on #16495
ok. let me bring some more context

[code]

it `feels` like after that commands i will have rolename installed on the host. but instead of it i only got role in /etc/ansible/roles.
and i have to make playbook.yml by myself and run it.
that is ambiguous

[2016-06-29 14:35] stewartm commented on #14360
+1 for this issue, same as above, encountered with a 'jsonfile' cache.

[2016-06-29 14:36] samdoran commented on #13844
The problem is `GIT_HASH` and `GIT_BRANCH` do net get set if you try to make an rpm from a `tar` or `zip` file. Those variales run `git` commands and return nothing since it is not a git repo.

[code]

This means GITINFO is now equal to '`..`' which gets inserted in line 86:

[code]

Line 85 shows why setting `OFFICIAL=yes` fixes the build.

[2016-06-29 14:36] rmfitzpatrick opened #16497 "Unexpected failure during copy module execution"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

`ansible 2.2.0 (devel 52d4079184) last updated 2016/06/29 10:22:47 (GMT -400)
  lib/ansible/modules/core: (detached HEAD 2f0f04437b) last updated 2016/06/29 10:22:49 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD d25c487ac8) last updated 2016/06/29 10:22:50 (GMT -400)`
##### CONFIGURATION

no special settings
##### OS / ENVIRONMENT

rhe

[2016-06-29 14:39] jctanner commented on #16497
Confirmed via bisect and local revert that this was caused by 2bb7feec6d223cae5a3dc20900e4e87f0074735b

[2016-06-29 14:45] jctanner commented on #16497
A cleaner traceback ...

[code]

[2016-06-29 14:56] jctanner commented on #16497
Addressed by 7c690f04e25e5db28462391df64745ff642e654d

[2016-06-29 15:13] tallandtree commented on #9944
I still have this issue with ansible 2.1.0.0 with group_vars. Will this ever be solved?

[2016-06-29 15:23] rmfitzpatrick commented on #16497
Verified.  Thanks!

[2016-06-29 15:23] #16497 closed, assigned to bcoca

[2016-06-29 15:24] ebmarquez opened #16499 "Nxos_config fatal error when deploying swtich banner statement"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible server: 4.4.0-24-generic #43-Ubuntu SMP Wed Jun 8 19:27:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Cisco Nexus  system:    version 6.0(2)U6(4)
##### SUMMARY
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Apply a valid config.
##### ACTUAL RESULTS

fatal error

[code]

[2016-06-29 15:28] abadger commented on #16489
- And how are you installing Ansible?  Is it from the Ansible Ubuntu PPA?  (I fixed a bug like this in 2.1.0rc2 so just want to make sure you aren't getting code from prior to that fix).
- In the play where this is happening, is localhost one of the hosts that is being run against?
- Can you give us more information about your playbook/config/etc?  From what you've said so far this seems to be a r

[2016-06-29 15:41] zoltan opened #16501 "nxos_switchport not configuring trunk ports properly"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using defaults:

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04, ansible installed from ppa, but the issue is not platform specific.
##### SUMMARY

Trying to get a switchport to be configured for trunk however
- the "switchport access" configuration is not removed even with the state=absent action
- the actual trunk vla

[2016-06-29 15:50] #13585 closed, assigned to abadger

[2016-06-29 15:53] abadger commented on #13585
Excellent.  Fix is merged to devel and stable-2.1 branches.  It looks like we're going to do a 2.1.1rc2 so the fix will probably make it into 2.1.1.  If for some reason it doesn't, it will be in 2.1.2.

[2016-06-29 16:49] jimi-c commented on #16482
@jctanner yes please cherry-pick this.

[2016-06-29 16:51] jimi-c commented on #13268
@messiahUA interesting, that's a completely different error there as well.

[2016-06-29 16:55] jctanner commented on #16482
@MikeSpreitzer I cherry picked to stable-2.1 so this should end up in the next 2.1.x release. Thanks!

[2016-06-29 16:55] #16482 closed, assigned to jimi-c

[2016-06-29 17:02] MikeSpreitzer commented on #16482
Thank you, @jctanner and @jimi-c !

[2016-06-29 17:25] pythononwheels commented on #4265
I know that this is old but I looked for myself for a way to carry the docs around and found no pdf.
But I think this one is a really simple workaround: (You need python 3.x)

**Prereqs:**
1. get the ansible repo: `git clone https://github.com/ansible/ansible.git`
2. install sphinx:  `pip install sphinx`

**Build the HTML doc**
1. got to the ansible repo (locallay) and switch to the docsite dir.

[2016-06-29 17:41] gustavofc opened #16502 "Files missing when connect by HTTP"
##### ISSUE TYPE
- Documentation Report
##### OS / ENVIRONMENT

Chrome
Firefox
##### SUMMARY

Problem with theme.min.css and others ASB-docs*.png when acessing http://docs.ansible.com/ansible/list_of_network_modules.html. These problems don't occur when https is used.

![image](https://cloud.githubusercontent.com/assets/366537/16462269/df6dd434-3e06-11e6-9fcf-eb70e0997c0d.png)
##### STEPS TO REPRO

[2016-06-29 17:45] xenithorb commented on #4265
[ansible-doc-v2.0.1 - Unknown.pdf](https://github.com/ansible/ansible/files/339852/ansible-doc-v2.0.1.-.Unknown.pdf)

Last time I looked at the project I pasted, I actually got it working (date of that is in the doc I think). It probably still works with some futzing. The attached is the last one I generated for myself (for my kindle)

---

Odd tangent: I actually [printed the pages out and bound

[2016-06-29 18:33] kenny-evitt opened #16503 ""module (_) is missing interpreter line" for module scripts starting with a UTF-8 BOM"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

My Ansible control machine is running Ubuntu 14.04 and my target host is running Windows Server 2012 R2, tho I don't believe this is specific to either.
##### SUMMARY

I installed a role in a project repo using `ansible-galaxy ...` and the role includes a module written in PowerShell. Th

[2016-06-29 19:12] abadger commented on #16322
Excellent!  I think we've fixed everything we can now.  Going to close this issue.

[2016-06-29 19:12] #16322 closed, assigned to abadger, bcoca

[2016-06-29 20:05] eroldan opened #16505 "Regression in shell module for 2.1 (working on 2.0.2.0)"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Tested on centos/7 and ubuntu/trusty64 vagrant images. Same results.
##### SUMMARY

A shell command using the standard 'script' (util-linux utility) changed the behaviour on ansible==2.1
The 'script' utility captures output of commands (makes programs think they are on a tty, and they outp

[2016-06-29 20:07] messiahUA commented on #13268
@jimi-c this error is not critical it seems, it appeared after I pulled latest commit via git

[2016-06-29 20:14] RokkuCode opened #16506 "Timeout(12s) with HostKey /etc/ssh/ssh_host_ed25519_key in sshd_conf enabled"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
host_key_checking = False
timeout = 30
[paramiko_connection]
record_host_keys = False
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

##### OS / ENVIRONMENT
Ansible
- Debian Stretch/Sid (freshly updated with apt)
Target Host
-

[2016-06-29 20:18] abadger commented on #16373
Made a PR which should fix this on 1.9.x.  Also tested devel and the problem is not present there.

[2016-06-29 20:33] jszwedko opened #16508 "Unexpected debug output for undefined variables before `setup`"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
$ uname -a
Linux ip-10-254-32-77 3.16.0-4-amd64 1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux
$ cat /etc/debian_version
8.5

##### SUMMARY
When running `ansible-playbook` with additional verbosity (`-vvvv`) , we see `skipping vars_file 'vars/{{ an

[2016-06-29 20:43] jszwedko commented on #16006
We saw this same issue with ansible 2.1.0.0 when trying to install a package that doesn't exist using `with_items`:

[code]

Which is confusing since the task reports `ok`, but still aborts the ansible run.

[2016-06-29 20:46] isbear commented on #13268
Hi. We're co-workers with @messiahUA. I was able to considerably speed things up by modifying `zabbix.py` to add `{_meta:{hostvars:{}}}` to `--list` output. This skips hundreds of runs of `zabbix.py --host hostname`. Also adds extra flexibility, since you can provide additional parameters for hosts in script ini. Added diff if you're interested.

[zabbix.txt](https://github.com/ansible/ansible/fil

[2016-06-29 20:47] kellenanker commented on #16006
@jimi-c influxdb was installed via a repo. Running `yum search influxdb-0.13.0.x86_64 --showduplicates` shows that this package does indeed exist in the repository from which I am pulling

[2016-06-29 21:21] grybak-arista opened #16509 "Core module network/eos/eos_command broken by changes in module_utils/network"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running from OS X 10.10.5 against Arista EOS 4.15.6M
##### SUMMARY

Using core module ansible/lib/ansible/modules/core/network/eos/eos_command.py results in an error from ansible/lib/ansible/module_utils/network.py that NetworkModule has no attribute 'execute'.
##### STEPS TO REPRODUCE

Execut

[2016-06-29 21:58] noqcks commented on #14578
still experiencing this issue.

ansible 2.1.0.0

It seems like a problem with the template module fetching information from the remote machine and not respecting the variable `ansible_python_interpreter` or something similar. That's just my gut feeling.

[2016-06-29 23:50] jtaleric opened #16512 "Add ethtool data to facts"
##### ISSUE TYPE
- Feature Idea
  ##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Fedora 23 and RHEL72
##### SUMMARY

Capture ehttool data in interface facts.
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-06-30 07:25] DivyaMangotra opened #16518 "Support for AWS Mumbai region"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

AWS has recently launched Mumbai region and CloudFormation module does not support the same. Please add Mumbai region- "ap-south-1" in the list of supported regions for all the AWS modules.

[2016-06-30 07:47] koenpunt commented on #14600
Simply stat'ing the file isn't enough?

[code]

[2016-06-30 08:32] jayenashar opened #16519 "easy_install fails to install pip with `ok`"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]

I also tried this on 1.9.4 before upgrading.
##### CONFIGURATION

pipelining = True
##### OS / ENVIRONMENT

CentOS release 6.7 amd64 managing CentOS release 6.7 amd64
##### SUMMARY

tried to easy_install pip.  kept saying "ok" even though it didn't seem to install it (and it wasn't installed).  added `sudo: yes` to make it say "changed"

[2016-06-30 10:32] bence-takacs opened #16520 "Ansible winrm 'SSL23_GET_SERVER_HELLO:unknown protocol' on non-ssl port"
- Bug Report
##### ANSIBLE VERSION

ansible 1.9.1
##### CONFIGURATION

inventory:
      "ansible_connection": "winrm",
      "ansible_winrm_transport": "http",
      "ansible_ssh_host": "mywinhost",
      "ansible_ssh_user": "myuser",
      "ansible_ssh_pass": "mypass",
      "ansible_ssh_port": 11111
##### OS / ENVIRONMENT

Controller: Centos 6.x
##### SUMMARY

If I don't use the default HTTP (no

[2016-06-30 10:42] bence-takacs commented on #16520
UPDATE:
tried with "ansible_winrm_scheme: http" with basically the same result:

[code]

The endpoint is still **https**://mywinhost:11111/wsman

[2016-06-30 11:00] ghost commented on #16489
We run via ansible-playbook

Not running in a loop or CRON but I notice this happen most during busy parts of the day when mutiple playbooks will be running at the same time as Ansible is part of our CI/CD process.

Busy times it can fail consecutive times before it works. Sometimes just runs.

We're using Ansible from the Ubuntu PPA.

Localhost isn't one of the hosts the play is being run against

[2016-06-30 11:09] bence-takacs commented on #16520
The issue is with the following file: /usr/lib/python2.6/site-packages/ansible/runner/connection_plugins/winrm.py

[code]

This does the magic :-(

Is this intentional, or a bug?
I see nothing about that behavior here: https://github.com/ansible/ansible/blob/stable-1.9/docsite/rst/intro_windows.rst

[2016-06-30 11:40] dariusjs commented on #13416
@mss  Since the update to 2.1 on an OS X system of and on a CentOS7 machine the ansible_user does not seem to trigger a kerberos look up anymore. I have another system on the older 2.0.2 code which works fine still.

With the 2.0.0.2 version I would do a kinit with my own username and could winrm to the windows hosts. With 2.1 I can only winrm when doing a kinit with the username specified in the

[2016-06-30 11:57] pankajackson commented on #14408
I am also getting same error when I run PlaybookExecutor from Celery, but it is working fine if I run it as a normal function(without using celery), I have installed
Ansible: 2.1.0.0
Celery: 3.1.23
Python: 2.7.11
Django: 1.9.7

and here's my log

[code]

please help Thanks

[2016-06-30 12:31] talonx commented on #16518
This should be in ansible-modules-core

[2016-06-30 12:36] kravietz commented on #10725
@aptituz That was it, thanks!

[2016-06-30 12:49] tim-seoss commented on #16202
FWIW, I wanted to create a network drive mapping as an unprivileged user, the user does have a password.  The machines are standalone.

I tried using a powershell script like this:

$username = "xyz"
$password = "abc"
$credentials = New-Object System.Management.Automation.PSCredential -ArgumentList @($username,(ConvertTo-SecureString -String $password -AsPlainText -Force))
Start-Process powershell

[2016-06-30 13:24] mspanc commented on #13876
I encounter the same on ubuntu 16.04, but adding  --ssh-extra-args="-o ControlMaster=no -o ControlPath=none -o ControlPersist=no" seem to help.

[2016-06-30 13:25] abadger commented on #16489
@khushil Actually, it's just an environment variable that turns on _very_ verbose output from ansible.  If you're running as part of a shell script, it would be something like:
  ANSIBLE_DEBUG=1 ansible-playbook my_playbook.yml &> logfile.$$

(Or if your CI is already capturing all the output from running ansible-playbook, you don't need the shell redirection at the end).

Note that this output is

[2016-06-30 13:41] abadger commented on #16489
@khushil Since you're running it from CI/CD I have a question -- what kind of environment and cleanup is your CI/CD system doing?  Is each ansible run in an isolated environment or do they share localhost?  Is there a part of your CI/CD that tries to cleanup the ansible directories?  Maybe something that rm -rf's /home/ansible/ or one of it's subdirectories?

[2016-06-30 13:44] abadger commented on #16489
@khushil If you're unsure about whether anything is cleaning up the /home/ansible directories, one thing to try might be setting `local_tmp      = /tmp/foo_directory` in the ansible.cfg file.  Since that's an unexpected directory it probably won't get cleaned up by any potential current scripts.

[2016-06-30 13:50] jctanner commented on #16499
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-30 13:50] #16499 closed, assigned to nobody

[2016-06-30 13:50] jctanner commented on #16501
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-30 13:50] #16501 closed, assigned to nobody

[2016-06-30 14:02] docschick commented on #16502
I'm not seeing any differences when I look at http versus https in Chrome for this URL.  I'm wondering if it is a CDN issue. One of the other developers confirmed that the files shouldn't change due to http/https.

[2016-06-30 14:07] Shookit commented on #13485
Should this be documented if `static: yes` is actually required? I got burnt by this as well, currently sitting at 2.1 release.

[2016-06-30 14:22] jctanner commented on #16503
I was able to reproduce the error as described with the instructions given.

[code]

[2016-06-30 14:41] zigarn opened #16521 "Encoding problem in `profile_tasks` callback"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`/home/alex/.ansible.cfg`:

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using non-ascii names for tasks, `profile_tasks` callback fail on recap with encoding error.
##### STEPS TO REPRODUCE

`playbook.yml`:

[code]

`hosts`:

[code]

Execute the playbook:

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL

[2016-06-30 14:45] zigarn commented on #16521
A ugly hack that solve the problem:

[code]

[2016-06-30 15:08] jctanner commented on #16505
I can reproduce this with an ssh connection to an el7 machine but not to an el6 machine. A local connection on F23 does not exhibit the issue.

[2016-06-30 15:26] abadger commented on #16435
@kodstark Did that change to your script work for you?

[2016-06-30 15:42] zigarn opened #16523 "Ansible 2.1.0.0 fails on nodes with python 2.4.3 when using local connection"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible fails to run on nodes with python 2.4.3 when using local connection.
##### STEPS TO REPRODUCE

`hosts`:

[code]

Launch a ping:

[code]
##### EXPECTED RESULTS

Everything works.
##### ACTUAL RESULTS

[code]

Looks like it's a problem with python 2.4.3:

[code]

Ma

[2016-06-30 16:05] Azenet commented on #14360
+1 using Redis with Ansible 2.1.

[2016-06-30 16:10] RRAlex opened #16525 "docker_image: tagging without pushing to repository?"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### COMPONENT NAME

ansible / docker_image / repository
(edited after ansible bot's request)

##### SUMMARY

As per the documentation:

`repository (added in 2.1)  no           Full path to a repository. Use with state 'present' to tag the image into the repository.`
`tag    no  latest  Used to select an image

[2016-06-30 16:13] RRAlex opened #16526 "documentation for docker_container: b, k, m, or g units should probably read b, kb, mb, gb"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible / docker_container / memory

##### ANSIBLE VERSION
```2.x (edited after bot request 9 months later)```

Using memory: "1024m" as a docker_container: option will make Ansible complain that you should the KB, MB, GB units instead.

Documentation needs to be updated?

http://docs.ansible.com/ansible/docker_container_module.html

[2016-06-30 16:35] abadger commented on #16373
Merged to stable-1.9.  There are no plans for a 1.9.7 release but if one becomes necessary this fix will be in it.

[2016-06-30 16:35] #16373 closed, assigned to abadger

[2016-06-30 16:40] bubba-h57 opened #16527 "Host Filters Not Working with --extra-vars"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When passing in `--extra-vars` on the command line, my host pattern, which uses them gets extra commas inserted into the string, seemingly randomly. However, if I simply use the default vars with no --extra-vars overriding, it works as expected.
##### STEPS TO REPR

[2016-06-30 16:55] bubba-h57 commented on #16527
Sometimes I get:

[code]

or

[code]

I can't make sense of it. However,

[code]

Appears to be a workaround?

[2016-06-30 16:58] soar opened #16528 "Allow playbook execution with default values, if decryption fails"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

When I build new project with Ansible, I place all sensitive information to vault-encrypted files. I follow KISS principles and this files are included as `group_vars` (or `host_vars`). All works perfectly. So I have files like:

[code]

But recently I started to use automated tests for my Ansible projects. So after commi

[2016-06-30 17:10] supertom commented on #13594
This works for me with current ansible and apache_libcloud==0.20.1 as well.  I recommend we close.  OK with you, @ryansb ?