[2021-01-07 17:09] sivel commented on #73121
Our modules are written in python, and they often uses the Python APIs for interacting with things like `apt`.

Since you are executing `/usr/bin/python` (python2) on the target, it requires those python API bindings, and thus auto installs `python-apt` for you so that it can perform it's job.  Effectively you are telling python2, to install `python3-apt`, but to do so, python2 needs `python-apt`

[2021-01-07 17:20] felixfontein commented on #73089
The topic was again skipped today. The next meeting is next Tuesday at 19:00 UTC.

[2021-01-07 17:25] jerrac commented on #73089
Sorry about missing again.

Is there anything we can talk about here that would help?

[2021-01-07 17:32] #72809 closed, assigned to relrod

[2021-01-07 17:33] sivel commented on #73089
If you just want documentation, you can start by reading https://www.reddit.com/r/ansible/comments/a7x92q/in_which_case_hash_behaviourmerge_can_become/ec8mf7f/

If you wish the decision to be reversed, you will need to attend the IRC meeting with the intention of convincing the core team to reverse the decision.

[2021-01-07 17:39] b-abadie commented on #73089
I fail to see what this reddit comment is supposed to document. Is it "why was the hash_behaviour=merge deprecated?" or "what are hash_behaviour=merge's alternatives?" ?

[2021-01-07 17:50] sivel commented on #73089
Why hash_behavior=merge is bad.

As far as alternatives, there is no drop in replacement. The deprecation warning lists that it will require explicit playbook author decisions when to merge variables with different variable names via the jinja2 `combine` filter, which will require rewriting playbooks.

To quote from another [issue](https://github.com/ansible/ansible/issues/72669) that was raised:

[2021-01-07 17:53] absynth76 commented on #73145
Thanks for pointing me out the solution , sorry for inconvenience!

[2021-01-07 17:53] #73145 closed, assigned to nobody

[2021-01-07 18:05] b-abadie commented on #73089
Here are quotes from the reddit post that, in my opinion, relate to "why hash_behavior=merge is bad" but fail to provide objective information as to "why" :

Here are quotes that provide an embryo of information as to why it is so bad :

Which bad practice ? Which catastrophic failures ? What is "really wrong" with the inventories ?

If you want a more constructive response from someone that was u

[2021-01-07 18:12] jerrac commented on #73089
That reddit comment only says that the person who originally got `hash_behavior=merge` into Ansible now regrets it. One person changing their mind on something is not enough justification for causing hours of unexpected extra work. Much of it paid.

If `hash_behavior=merge` is actually bad, then there should be people who have seen it cause problems, and can explain how copying and pasting code hu

[2021-01-07 18:28] sivel commented on #73141
Since it wasn't included in this I tested what happens to a `git clone` from the CLI where a repo needs `git-lfs` but `git-lfs` is not installed

[code]

Additionally it results in an exit code of 128 from git.

Looking at least in the devel code, it seems this should cause an error, but I didn't test, because I don't have a role using `git-lfs`, so it will require someone to make one, and jump th

[2021-01-07 19:17] samdoran commented on #73075
The `python3-apt` library is only available to the system Python and not available in virtual environments. When you are using the [implicit localhost](https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html#implicit-localhost) it is necessary to specify the system Python interpreter. On a task, you would have to define `ansible_python_interpreter`.

To discuss this further, plea

[2021-01-07 19:17] #73075 closed, assigned to nobody

[2021-01-07 19:22] samdoran commented on #73076
Ansible 2.8 is near end of life and is currently only receives security fixes. This works in Ansible >= 2.9. Please upgrade to a newer Ansible version.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-07 19:22] #73076 closed, assigned to nobody

[2021-01-07 19:25] samdoran commented on #73077
Closing as a duplicate of https://github.com/ansible/ansible/issues/71058. We are discussing other collection level directories that would be helpful to have.

[2021-01-07 19:25] #73077 closed, assigned to nobody

[2021-01-07 19:28] samdoran commented on #25414
When this feature is implemented, the documentation change in https://github.com/ansible/ansible/pull/73079 needs to be removed.

[2021-01-07 19:36] samdoran commented on #73086
You will need to add those ciphers to your `ssh_config` in order to connect to the device. Newer versions of `openssh` disable older ciphers by default.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-07 19:36] #73086 closed, assigned to nobody

[2021-01-07 19:43] samdoran commented on #73091
This seems like a misunderstanding when or how to use `become` on a task. This is best solved by discussing on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-07 19:43] #73091 closed, assigned to nobody

[2021-01-07 19:47] samdoran commented on #73097
We have been looking at and experimenting with different process models in Ansible (https://github.com/ansible/ansible/pull/44280). I'm going to close this since we don't have plans to work on it currently and don't like to keep feature requests open indefinitely. But we are aware of this and plan to make changes in the future.

To discuss this further, please reach out on IRC or the mailing list:

[2021-01-07 19:47] #73097 closed, assigned to nobody

[2021-01-07 19:50] samdoran commented on #73098
Could you provide more output from the task with `-vvvvvv`? Also, IRC may be a good place to ask for help if this a connection issue and not a bug.

   * IRC: #ansible-windows or #ansible on irc.freenode.net  

needs_info

[2021-01-07 19:58] egvidal opened #73148 "lineinfile module fails"
##### SUMMARY
When trying to write in a file a specific text extracted from a variable causes an error and nothing is saved into the file. I guess maybe the NULL character at the end of the string may be responsible of this, but not sure if should be 'lineinfile' responsibility to deal with it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
Ansible 2.9.13

#

[2021-01-07 20:00] #73104 closed, assigned to nobody

[2021-01-07 20:00] fourstepper commented on #73121
[code]

I discovered I have this in my inventory file, which makes things even more interesting

[2021-01-07 20:03] sivel commented on #73121
According to your task output, you are not targeting `127.0.0.1` as defined in inventory, but targeting `instance` which is created for you by molecule as a docker container.

[2021-01-07 20:24] sivel commented on #73148
I believe this is a duplicate of the already resolved https://github.com/ansible/ansible/issues/70269

[2021-01-07 20:25] sivel commented on #73143
I believe the problem is that you did not supply `follow: false`, and the permissions were set on the target, and not the symlink itself.

[2021-01-07 20:57] fourstepper commented on #73121
Hm.. that's true, didnt realize that molecule actually isn't using the inventory file. I will close this, thank you for the help

[2021-01-07 20:57] #73121 closed, assigned to nobody

[2021-01-07 21:11] getjack commented on #73143
@sivel Wiill try that tomorrow. I am currently testing a migration from Ansible 2.8 to Ansible 2.10 and that would be an unexpected behavior change of the module. Will crawl through the changelog again...

[2021-01-07 21:21] sivel commented on #73143
This fix appears to have been done for the 2.9 release and would seem related: https://github.com/ansible/ansible/pull/57217

It fixed a bug where the creation of a link (attributes applied to the link) differed from ensuring the link (attributes applied to the target) on subsequent runs.

That change ensured that with `follow: yes` (which is the default) that it always applied to the target and n

[2021-01-07 23:03] user340 commented on #73055
Fixed by https://github.com/ansible/ansible/commit/e0c75a6756f2c9d54239f882fed89cbeb31d2106

[2021-01-07 23:03] #73055 closed, assigned to nobody

[2021-01-07 23:55] tmasterson opened #73153 "dnsimple not working with ansible playbook"
##### SUMMARY

When attempting to create dnsimple records with ansible and dnsimple it fails.  THe failure depends on the version of dnsimple installed.  I will give the one for dnsimple version 2.1.0 python 3.8.5.
##### ISSUE TYPE
- Bug Report
Bug
##### COMPONENT NAME

dnsimple
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

host is ubuntu 20.04 target is debia

[2021-01-07 23:57] #73153 closed, assigned to nobody

[2021-01-08 06:23] getjack commented on #73143
Thank you @sivel. This does indeed work. Seems like i was not that concentrated enough yesterday. Sorry for this issue.

[2021-01-08 06:23] #73143 closed, assigned to nobody

[2021-01-08 08:58] jantari commented on #73141
Ok we've already hit our first discrepancy there. I originally encountered this in my Debian 10 WSL environment (git version 2.20.1)

Trying to repro In Ubuntu 18.04.5:

[code]

So that's where my problem came from then - Debian 10s and Ubuntu 18s *wildly* outdated git!
Testing under Ubuntu 20.04:

[code]

Perhaps just a warning then when `ansible-galaxy` detects old git versions?

[2021-01-08 10:53] shubhamsetia05 opened #73155 "Issue with import_playbook variable substitution while using lookup('file')"
##### SUMMARY

As import_playbook doesn't support vars_files so I am using something like below to read from var file
cluster_vars: "{{ lookup('file','vars_files/es_vars.yml' ) | from_yaml }}"
but variable substitution is not happening if I am referring declaring one variable in vars_files and calling that variable value while declaring 2nd variable in same vars_file itself.

Please check steps to

[2021-01-08 12:39] mkrizek commented on #73155
!needs_collection_redirect

[2021-01-08 13:06] egvghost commented on #73148
@sivel I can't see how the solution you mention could help on this one.. can you please explain?

[2021-01-08 14:57] thamaraiselvam opened #73156 "No package matching 'nginx' is available"
##### SUMMARY
Randomly getting `No package matching 'nginx' is available` error when installing package on newly created machine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

<strong> My playbook</strong>

[code]

##### EXPECTED RESULTS
Should install all packages given playbook

##### ACTUAL RESULTS
Getting no p

[2021-01-08 15:06] tscully49 opened #73157 "Copy module triggers selinux to block systemd processes with python3 bindings"
##### SUMMARY
After installing libselinux-python3 and setting the python interpreter for ansible at 3.6, we are running into issues with selinux when changing files through ansible.  We expect the files being dropped should not be blocked by selinux when using ansible since we have the python 3 bindings installed.  We are curious if anyone else has experienced this issue since we are trying to mov

[2021-01-08 15:08] bcoca commented on #65898
closing as per above.

[2021-01-08 15:08] #65898 closed, assigned to nobody

[2021-01-08 15:13] bcoca commented on #66023
also need 'global' fix for dwim by passing in error/warning required by caller from the global `errors` that lookups now have.

[2021-01-08 15:17] bcoca commented on #31691
closing as per
https://github.com/ansible/ansible/issues/31691#issuecomment-336619221

[2021-01-08 15:17] #31691 closed, assigned to nobody

[2021-01-08 15:22] bcoca commented on #67032
reclassified as this is still correct for ansible-test's main usage but we can add a feature to disable this check for those using it outside the ansible repo.

[2021-01-08 15:24] hangsu-ma commented on #31691
@bcoca why this is closed? the comment in your link wasn't correct, proxy env variable does not work which ever way you pass it in without this fix.
The next 5 comments after that incorrect comment all confirmed this bug, did you test it yourself?

[2021-01-08 15:24] bcoca commented on #46780
closing as subset #34594

[2021-01-08 15:24] #46780 closed, assigned to nobody

[2021-01-08 15:25] bcoca commented on #72517
Dupe of #46780

[2021-01-08 15:25] #72517 closed, assigned to nobody

[2021-01-08 15:28] bcoca commented on #43750
we still have no reproducer of this nor any other reports of this issue happening with other editors.

@brandonkal is this still and issue? have you been able to reproduce in any other way?

needs_info

[2021-01-08 15:29] bcoca commented on #65741
anything still missing on this?

needs_info

[2021-01-08 15:30] bcoca commented on #65805
it is already mentioned in third party utilities, we believe this is sufficient for now.

[2021-01-08 15:30] #65805 closed, assigned to cbudz

[2021-01-08 15:31] bcoca commented on #66935
is this still being worked on?

needs_info

[2021-01-08 15:32] bcoca commented on #66934
is this still being worked on?

needs_info

[2021-01-08 15:32] bcoca commented on #66937
is this still being worked on?

needs_info

[2021-01-08 15:32] bcoca commented on #66938
is this still being worked on?

needs_info

[2021-01-08 15:34] someplace53 opened #73158 "absent packages with wildcards will exit with error"
##### SUMMARY

if you try to remove packages with a wildcard and the packages are already absent, package and yum exits with an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

package
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Use the following command to remove a package and if that package is already abse

[2021-01-08 15:35] bcoca commented on #67130
closing as per above

[2021-01-08 15:35] #67130 closed, assigned to nobody

[2021-01-08 15:37] bcoca commented on #51881
mostly implemented in  #62151

[2021-01-08 15:37] bcoca commented on #67264
closing as per above

[2021-01-08 15:37] #67264 closed, assigned to nobody

[2021-01-08 15:40] thamaraiselvam commented on #73156
Enabled `debugger: on_failure` and got this message.

[code]

but there was no manual interruption from me.

[2021-01-08 15:41] samdoran commented on #43750
I was unable to duplicate this using Atom or Nova. This seems to be working properly.

[code]

[2021-01-08 15:41] bcoca commented on #66775
closing as per above

[2021-01-08 15:41] #66775 closed, assigned to nobody

[2021-01-08 15:45] bcoca commented on #63810
closing as per above

[2021-01-08 15:45] #63810 closed, assigned to nobody

[2021-01-08 15:47] bcoca commented on #61534
closing as the original issue is mostly a misunderstanding and now the issue is trending into different discussions more appropriate for core IRC meetings.

[2021-01-08 15:47] #61534 closed, assigned to nobody

[2021-01-08 15:54] bcoca commented on #43334
Closing since we cannot reproduce and also do not believe this is an issue as we do handle templating post queue.

[2021-01-08 15:54] #43334 closed, assigned to nobody

[2021-01-08 15:58] bcoca commented on #14674
waiting_on_contributor

[2021-01-08 16:02] joren485 commented on #43334
@bcoca Thanks for keeping tabs on these older issues!

I just tested it and also cannot reproduce this anymore. So, this has been fixed somewhere in the last 2 years.

[2021-01-08 16:03] bcoca commented on #62847
Closing as we have no plans to implement this feature nor do we forsee accepting it if someone else would develop it.

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourageope

[2021-01-08 16:03] #62847 closed, assigned to nobody

[2021-01-08 16:07] #65741 closed, assigned to gundalow, anshulbehl, thedoubl3j

[2021-01-08 16:09] bcoca commented on #67757
note: we can add a 'vault file extension' config (default to .vault) but would 'multiply it' with existing yaml/vars file extensions to avoid collisions with other vaulted content. i.e ( .json.vault, .yaml.vault, etc)

[2021-01-08 16:46] sivel commented on #73157
When using python2 did you have libselinux-python installed?  If you didn't then ansible would not have set selinux context on the files.

Curious if this is something different between py2 vs py3, or whether you've introduced selinux python APIs into the equation when they weren't with py2.

[2021-01-08 19:00] williamsbdev commented on #73157
@sivel - Yes we had `libselinux-python` installed. We've had selinux enabled when running with py2 and py3. But it seemed like when running Ansible with py3 that the selinux permissions were not correct.

[2021-01-08 19:23] thedoubl3j commented on #65741
apologies for leaving open @bcoca its all clear

[2021-01-08 21:12] dvaerum commented on #73042
@samdoran thanks, that would be awesome :D

[2021-01-09 08:49] aybcoo opened #73166 "[Bug] vars_files more than one file"
##### SUMMARY

When vars_files is only one ,ansible can execute, but more than one file ,bug is show.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vars_files
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

fatal: [localhost]: FAILED! => {"msg": "The task includes an option wi

[2021-01-09 11:13] xylle opened #73167 "Virtualization detection fails for Bhyve guests"
##### SUMMARY
When i collect facts from FreeBSD bhyve target, with the command : ansible xxx -m setup | grep "ansible_virtualization_type"
the variable "ansible_virtualization_type" and "ansible_virtualization_role" is "NA".
Result of dmidecode -s system-product-name
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_utils/facts/virtual/linux.py

##### ANSIBLE VERSION
[code]

#####

[2021-01-09 16:58] digglife commented on #73158
It's caused by `dnf` upgrade and already solved via commit 0708421, which is released since v2.9.8. So you need to upgrade your Ansible or manually patch the file.

Just a note for how I found this.

1. I don't have this issue with the latest version of Ansible which is 2.9.16
2. So I diff the dnf module between 2.9.6 and 2.9.16.

[code]

    And found these additions

[code]
3. I blamed the line

[2021-01-09 17:21] AdamKorcz opened #73168 "Add Ansible to OSS-fuzz"
##### SUMMARY

OSS-fuzz recently added support for python fuzzing through their own fuzzer Atheris.

I have worked on integrating Ansible into OSS-fuzz. The draft PR can be found here: https://github.com/google/oss-fuzz/pull/4923. In that integration are both the build files to build Ansible in OSS-fuzz's environment as well as 2 fuzzers implemented by way of Atheris.

With this setup it is easy f

[2021-01-10 11:08] kuznero commented on #46744
Can confirm the same issue in ansible 2.10.4

[2021-01-10 11:51] digglife commented on #73166
By default, Ansible [replaces the hash in the variables](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour).

In your case, the value of `nginx` is replaced by the one configured in `nx2.yml`, which is `{'servername5': 'nx.server5.com', 'servername6': 'nx.server6.com'}`, so `nginx.servername1` is not actually available.

If you want Ansible to merge(up

[2021-01-10 13:46] soriyath commented on #15297
you shouldn't trade security for convenience, IMHO.

[2021-01-10 17:24] #72513 closed, assigned to nobody

[2021-01-11 03:13] MiguelNdeCarvalho opened #73173 "[BUG] File chown in Ubuntu 20.04"
##### SUMMARY
I want to chown the entire home directory, doing this `chown -R fivem:fivem /home/fivem`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible.builtin.file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Remote OS: Arch Linux
Target OS: Ubuntu 20.04 Server

##### STEPS TO REPRODUCE

Just by running this

[code]

##### EXPECTED RESULTS

It

[2021-01-11 05:46] shubhamsetia05 commented on #73155
Hi, any updates on this?

[2021-01-11 10:17] MiguelNdeCarvalho commented on #73173
I just need to add: `follow: no`

[2021-01-11 10:17] #73173 closed, assigned to nobody

[2021-01-11 10:29] patrickbucher opened #73174 "Clone Empty Repository Using Git Module Fails"
##### SUMMARY

`git` module fails to clone empty repository

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`git`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

(empty)

##### OS / ENVIRONMENT
Arch Linux, Kernel 5.10.6

##### STEPS TO REPRODUCE

My playbook `clone.yaml`:

[code]

Running it:

[code]

##### EXPECTED RESULTS

Empty repository should be created under `/tmp/void`

#

[2021-01-11 12:55] someplace53 commented on #73158
I do not have the time this week to test this, but this will probably solve the issue.
I had forgotten that I had to revert to the default ansible of ubuntu since the upgrade to 20.04 and was no longer up to date, I apologise for the trouble. Thanks for the reply.

[2021-01-11 12:55] #73158 closed, assigned to nobody

[2021-01-11 14:39] eavdmeer commented on #72264
What if the ansible.builtin.command, ansible.builtin.script or ansible.builtin.shell plugins are used? None of those provide a parameter to create world-writeable files. I know for a fact we need this to work to make sure the task does not fail.

[2021-01-11 15:12] bcoca commented on #72264
@eavdmeer the shell plugin is used to execute the commands around modules and the modules themselves (except script/raw) so it doesn't matter the action used.

[2021-01-11 16:42] #72992 closed, assigned to nobody

[2021-01-11 16:54] lanceofwhichwedream opened #73179 "[Not sure if bug] Host is disk full results in Unreachable status"
##### SUMMARY
I have a host that I attempted to run a playbook on only to find out that the host is disk full. What surprised me is that the playbook terminated with a host unreachable error, even though there had been a number of "read-only" tasks performed against the device and ansible was able to connect to the device, just not push it's payload to it.

I'm not sure if this is a bug, so I'm op

[2021-01-11 16:55] lanceofwhichwedream commented on #73179
I've changed the IP addresses, names, and playbook name in the ansible-playbook run to obscure sensitive data.

[2021-01-11 17:49] sivel commented on #73139
Related: https://github.com/ansible/ansible/issues/34281

[2021-01-11 18:48] eavdmeer commented on #72264
@bcoca that still does not tell me where to put the replacement for this:
[code]
The deprecation warning says support for this will go away, and I noticed that having this here without `deprecation_warnings=false` even reports the job as failed.

[2021-01-11 19:03] sivel commented on #72264
@bcoca it looks like both the https://docs.ansible.com/ansible/latest/reference_appendices/config.html#allow-world-readable-tmpfiles and https://docs.ansible.com/ansible/latest/collections/ansible/builtin/sh_shell.html#parameter-world_readable_temp specify `allow_world_readable_tmpfiles` as the INI key under `defaults`.

If we intended on not renaming `allow_world_readable_tmpfiles` to `shell_allo

[2021-01-11 19:19] acozine commented on #72032
Related to #72287 and to #72717.

[2021-01-11 20:10] #72429 closed, assigned to nobody

[2021-01-11 21:46] ryannix123 commented on #73140
I'm seeing something similar:

Playbook
[code]

Error:

[fatal: [zagato3.sesp.northwestern.edu]: FAILED! => {"ansible_facts": {}, "changed": false, "failed_modules": {"ansible.legacy.setup": {"failed": true, "module_stderr": "At line:1 char:26\r\n+ chcp.com 65001 >nul 2>&1 && PowerShell -NoProfile -NonInteractive -Ex ...\r\n+                          ~~\r\nThe token '&&' is not a valid statement s

[2021-01-11 22:25] samdoran commented on #73042
@dvaerum Can you test with #73182? I only display the warning when `pause` is run in the background and no timeout parameter is supplied. I believe that is how it should work since otherwise it would cause an indefinite hang. If a timeout parameter is provided (`seconds` or `minutes`), the warning should not be necessary.

In your case, are you always providing a timeout parameter?

I would like t

[2021-01-11 23:48] nasedora opened #73184 "Unable to communicate with Cisco WLC"
##### SUMMARY
The issue is detailed here, but hasn't had any update since NOV, and we're not able to talk to any Cisco WLC:
https://github.com/ansible-collections/community.network/issues/146

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aireos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Any Cisco WLC

##### STEPS TO REPRODUCE

Try to run any

[2021-01-11 23:53] #73184 closed, assigned to nobody

[2021-01-11 23:54] fredericrous commented on #73140
for what it's worth, I "resolved" this issue by installing python3 and set ansible to find the binary

[2021-01-12 00:15] ryannix123 commented on #73140
Thanks, @fredericrous

I think I am already using python3.9

ansible --version | grep "python version"
`  python version = 3.9.1 (default, Jan  8 2021, 17:17:43) [Clang 12.0.0 (clang-1200.0.32.28)]`

[2021-01-12 04:33] jorhett commented on #72264
I'm sorry, I wasn't clear. The table row makes sense. Linking to the table row as a "solution" is baffling because as others have said:

If you're going to link to this as an answer, then

In short, something somewhere needs to say "replace this with this" and as all the comments in this thread indicate-- it's just not clear.

[2021-01-12 08:30] liyin37 opened #73187 "python3.8 with ansible2.10.4 “with items” error"
# versions
ansible version： 2.10.4
system version： CentOS7.9
kernel version: 3.10.0-1160.11.1.el7.x86_64

# bug errors
when I use the ansible-playbook ,the yml file is below:
---
- name: List images
  shell: ls /tmp/images
  register: lists

- name: show lists
  debug:
    var: lists.stdout_lines

- name: Load docker images
  shell:
    chdir: /tmp/images
    cmd: docker load -i {{ item }}
    wit

[2021-01-12 08:38] mkrizek commented on #73187
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-01-12 08:38] #73187 closed, assigned to nobody

[2021-01-12 08:45] #73166 closed, assigned to nobody

[2021-01-12 09:14] liyin37 commented on #73187
what‘s mean it？ I just add the group，then how to ask question?
![image](https://user-images.githubusercontent.com/42507175/104292692-1c65fa80-54f8-11eb-8b89-df42725afa07.png)
’

[2021-01-12 13:46] som-shekhar opened #73191 "FileNotFoundError /tmp/ansible-local-30-xxx while executing the task using Playbook executor"
##### SUMMARY
I have a Django application running in docker, which is using PlayBookExecutor class to run the playbook. The playbook runs fine when running on single machine, there are no problems at all. But the moment I start executing the playbook on more than one machines, it gets failed randomly on any task with the exception "FileNotFoundErrror : [Errno 2] No such file or directory": /tmp/an

[2021-01-12 14:04] mkrizek commented on #73191
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2021-01-12 14:04] #73191 closed, assigned to nobody

[2021-01-12 14:10] AdamKorcz commented on #73168
!component

[2021-01-12 15:24] bcoca commented on #73127
note: we have duplicate options for collection paths, with different spellings.

[2021-01-12 15:26] sivel commented on #73128
I think we would need to verify whether this is handled on *nix via SSH as well.  If it doesn't, we probably shouldn't do this for Windows.

[2021-01-12 15:26] samdoran commented on #73127
There are several things going on here:

1. We have incorrect/inconsistent options that need to be corrected: `--collections-path` vs `--collection-path`
2. #72940 was just merged yesterday and will be in the next release.
3. What is the value of `.` in your command line? The value of `--collections-path` replaces the list of default paths.

[2021-01-12 15:28] felixfontein commented on #73127
@samdoran the intention of `.` was to give it a path so it stops complaining that none of the provided paths are usable.

[2021-01-12 15:29] sivel commented on #73134
This is very possibly related to the timeout, which can be adjusted using the following configuration https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-gather-timeout

Can you test applying that configuration to a longer timeout, and verify whether all mount information is retrieved?

needs_info

[2021-01-12 15:31] sivel commented on #73139
Closing as a duplicate (subset) of #34281.  If we implement `include_playbook` this is likely to be a possible with that feature.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-12 15:31] #73139 closed, assigned to nobody

[2021-01-12 15:34] sivel commented on #73141
We have discussed this in our triage, and have decided not to pursue this further.

Closing per above, as this is a git problem, and we don't want to add arbitrary git version inspection.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-12 15:34] #73141 closed, assigned to nobody

[2021-01-12 15:37] sivel commented on #73148
This issue was resolved by https://github.com/ansible/ansible/pull/70312

This will require that you upgrade to the most recent 2.9.16 and disable remote syslog logging to get around the issue.  Or ensure that the NULL character is not included.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2021-01-12 15:37] #73148 closed, assigned to nobody

[2021-01-12 15:40] sivel commented on #73155
All data loaded from `lookup` is marked as "unsafe" which means we explicitly will not template it.

I'd recommend using `vars_files` within the play from `provision.yml`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-12 15:40] #73155 closed, assigned to nobody

[2021-01-12 15:42] sivel commented on #73156
This issue is either related to a misconfigured machine, or a problematic network connection.

You may wish to add an `until` on the task to loop until successful install, which we have to use in CI sometimes due to network interruptions or mirrors that are misbehaving.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list:

[2021-01-12 15:42] #73156 closed, assigned to nobody

[2021-01-12 15:51] sivel commented on #73168
@mattclay thoughts on this?

[2021-01-12 15:59] sivel commented on #73174
Part of the functionality of the `git` module is to explicitly checkout a version.  And in your case the default of `HEAD` is identified as `master` by the git clone.

However, with an empty repo, there are no branches, and this operation correctly fails.

We discussed adding the ability to use `version: null` but ultimately this isn't useful as it would only work until the repo is populated.

As

[2021-01-12 15:59] #73174 closed, assigned to nobody

[2021-01-12 16:17] samdoran commented on #73127
One other thing that was brought up: should this be a warning not an error?

[2021-01-12 16:17] amhn commented on #73128
[code]

Works as expected:
[code]

[2021-01-12 16:25] JuddTracy-DAS commented on #73134
So I modified the ansible.cfg and added `gather_timeout=60` to the `defaults` section and it is still having the issue.   I created a little test playbook that clears the cached facts and prints the output.
[code]
And here are the results:
[code]

[2021-01-12 16:27] felixfontein commented on #73127
@samdoran I would expect it to be a warning. "The list is empty" is a valid answer, not an error.

[2021-01-12 16:30] sivel commented on #73134
Since it is completing in far under the timeout, I'd have to guess that one of the operations may be producing an `OSError`.

To troubleshoot, you could try testing all the code from `lib/ansible/module_utils/facts/utils.py:get_mount_size`

You could hack that function to `raise` instead of `pass` to see if you can get more info.

In short, I don't think we are going to be much help, since we cann

[2021-01-12 16:49] JuddTracy-DAS commented on #73134
If I modify it to print out the exception it is a permissions issue.  Seems when the system is locked down you have to either run the entire playbook with `become:True` or re-run the gather facts with it.  Makes sense now that I see it, but it is a little frustrating that you can get the info from /bin/df without needing root access.  The error is raised from
[code]

[2021-01-12 16:50] braindevices opened #73192 "ansible_distribution cannot distinguish centos or centos-stream"
##### SUMMARY

[code]
ansible_distribution should be CentOSStream.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOSStream 8
4.18.0-259.el8.x86_64 #1 SMP Mon Dec 21 21:05:36 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible_distribution should be Ce

[2021-01-12 16:55] #73192 closed, assigned to nobody

[2021-01-12 16:57] webknjaz commented on #73127
Well, if there are zero valid paths, then it's an error, I guess. If there are any legitimate paths, then empty list would make sense to say "the list is empty" w/o erroring out, I guess.

[2021-01-12 17:00] felixfontein commented on #73127
If the list is supposed to be empty, why should there be legitimate paths? It should only be an error if you actually need at least one path to exist (f.ex. while installing).

[2021-01-12 17:51] egvghost commented on #73148
Thank you very much @sivel

[2021-01-12 19:03] chuckersjp opened #73194 "Ansible doesn't seem to template multiple `item` calls in a `loop` using `k8s` module"
##### SUMMARY

When using the `k8s` module and a `loop` that has several `item` calls in it, it appears that
ansible will only template out the first `item` and treat the rest as verbatum code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`k8s` and/or ansible core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7

[2021-01-12 19:20] samccann commented on #72032
General proposal - https://hackmd.io/TQmzyhCUSSKa22iFR_079A
First plan (for 3.0.0 beta timeframe) - https://hackmd.io/x0VwaKSYQCaHGJR4LelSEw

[2021-01-12 19:30] samccann commented on #72032
Tasks we need to accomplish this goal by Feb -

- [ ] Makefile changes - create `make core-docs`, to create a separate documentation set for core, with versions specific to core.
- [ ] version changer - must list and work with only the versions for that docsite - Ansible 2.9, 2.10, 3.  ansible-core - devel only until 2.11 releases.
- [ ] Create banners for both to clarify that one is Ansible the p

[2021-01-12 19:31] sivel commented on #73194
Keys are not templated in dictionaries, only values.  You can create a template file and use the `template` lookup to render your data the way you want.

There are several examples around for using `lookup` with `definition`.  See:

* https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_module.html#parameter-src
* https://docs.ansible.com/ansible/latest/collections/communit

[2021-01-12 19:31] #73194 closed, assigned to nobody

[2021-01-12 19:36] samccann opened #73195 "Create ability to do 'make core-docs'"
##### SUMMARY

As part of #72032, we need to have the ability to make core documentation, separate from the current make webdocs we have today.

This involves:

- [x] Changing the makefile so it can build 'make core-docs' - See https://hackmd.io/TQmzyhCUSSKa22iFR_079A?view#Ansible-Core-Documentation for details on what should be included in core docs.

This will also depend on:
- [x]  Modify the v

[2021-01-12 19:37] samccann opened #73196 "[10/6] Create ability to make core-docs locally"
##### SUMMARY

As part of #72032, we need to have the ability to make core documentation, separate from the current make webdocs we have today.

This involves:

- [x] Changing the makefile so it can build 'make core-docs' - See https://hackmd.io/TQmzyhCUSSKa22iFR_079A?view#Ansible-Core-Documentation for details on what should be included in core docs.

This will also depend on:
- [x]  Modify the v

[2021-01-12 19:39] samccann opened #73197 "[2]Create banners to differentiate core from Ansible docs"
##### SUMMARY

As part of #72032, we need a banner that shows up on Ansible docs to say it's ansible not ansible-core, and a similar banner on ansible-core docs to say it's core, not ansible.  This may get crowded with the existing banners so might require trimming them. Should also have a link to the other docsite.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
#

[2021-01-12 19:42] samccann opened #73198 "[4/2]Modify version switcher to detect ansible vs ansible-core and use appropriate version"
##### SUMMARY

As part of #72032, we need the version switcher to be able to:
 - detect whether it is core or Ansible docs
 - use the versions appropriate to that docset.
For example, Ansible would have 2.9, 2.10, 3.  And ansible-core would have devel, and 2.11 when that releases.

Depends on creating a makefile ability to 'make core-docs' (issue #73196) and the jenkins build to make core-docs and

[2021-01-12 19:48] samccann opened #73199 "Remove porting guide/roadmap/release-maint pages from Ansible docs"
##### SUMMARY

As part of #72032, we would ideally remove the ansible-core roadmap, porting guide, and release-maintenance pages from the Ansible 3 docsite.  This may be complicated by older EOL versions of the docs pointing to these pages on /devel/, so part of this issue is to see if those stub pages still work, especially as Ansible/devel/ (post 3.0) may not be a top priority publishing event.

[2021-01-12 19:49] samccann opened #73200 "[8/8]Remove ansible-core roadmap, porting guide, release-maint pages from Ansible 3.x"
##### SUMMARY

As part of #72032, we would ideally remove the ansible-core roadmap, porting guide, and release-maintenance pages from the Ansible 3 docsite.  This may be complicated by older EOL versions of the docs pointing to these pages on /devel/, so part of this issue is to see if those stub pages still work, especially as Ansible/devel/ (post 3.0) may not be a top priority publishing event.

[2021-01-12 19:50] chuckersjp commented on #73194
That was my work around.  Wasn't ideal but did work.

[2021-01-12 19:58] samccann opened #73201 "Differentiate Ansible vs ansible-core docsites via theme/css color changes etc"
##### SUMMARY

It would be very helpful if we could modify the look/feel of the ansible-core docsite once it's ready so that it's obvious to readers which docsite they are looking at.

This is a stretch goal for #72032

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL

[2021-01-12 19:58] samccann opened #73202 "Differentiate Ansible vs ansible-core docsites via theme/color changes"
##### SUMMARY

It would be very helpful if we could modify the look/feel of the ansible-core docsite once it's ready so that it's obvious to readers which docsite they are looking at.

This is a stretch goal for #72032

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL

[2021-01-12 20:18] samccann commented on #71883
fwiw - the Ansible maintained collections talk about versioning and deprecation and their own flare of 'maintained' collections that can last 2 years - https://access.redhat.com/articles/4993781

[2021-01-12 20:19] acozine commented on #71883
For the result of conversations about this, see https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#versioning-and-deprecation.

[2021-01-12 20:34] Dmitry1987 commented on #62647
it is still an issue, I am getting these exact errors with just around 120-150 existing VMs in VMSSs in our region. Does it have a permanent fix in new Ansible versions or I should turn off batch mode?  I use ansible 2.9.1

[2021-01-12 20:39] sivel commented on #62647
!component =lib/ansible/plugins/inventory/azure_rm.py

[2021-01-12 20:40] samccann commented on #73200
Instead of redirects, we should put stub pages, or a special 404 to say 'hey Ansible is different from ansible-core, go here for ansible-core xxx files'.

[2021-01-12 20:45] #62647 closed, assigned to nobody

[2021-01-12 20:51] syed-shah100 opened #73203 "nxos_config: idempotency not working with src module for config under interfaces"
Can someone please test the following scenario?

ansible task:
[code]

j2 to build the config:
[code]

.cfg:
[code]

the config always gets pushed even if it exists on the switch, tried with spacing too.

It doesn't get pushed when added directly on the switch:
[code]

Note: The above config was tested with Ansible Version 2.9.11

[2021-01-12 20:56] samdoran commented on #73127
The list of paths to search won't be empty by adding `-p .`. I doubled checked the behavior. Paths passed to `-p` are combined with the default `COLLECTIONS_PATHS`.

Each path is examined for a `collections` subdir. If none of the paths provided contain a `collections` sub dir, then an error is produced. Whether this should be an error or a warning is debatable. I'm not convinced this should silen

[2021-01-12 21:34] samdoran commented on #73127
I've been going round and round trying to work out the desired behavior. I'm going to have to look again tomorrow.

I want to say something like `env ANSIBLE_COLLECTIONS_PATHS='' ansible-galaxy collection list` should silently list nothing, but I think that may depend on the presence of external dirs and whether or not they contain an `ansible_collections` subdir.

[2021-01-12 21:58] relrod commented on #73203
!component =lib/ansible/modules/network/nxos/nxos_config.py

[2021-01-12 22:00] #73203 closed, assigned to nobody

[2021-01-12 22:38] QCU87Z opened #73205 "Please support tags on S3 objects"
##### SUMMARY

Currently I can not see away to add tags to S3 objects. The project I am on requires this feature

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

amazon.aws.aws_s3

##### ADDITIONAL INFORMATION

There should be another paramater for the amazon.aws.aws_s3 task that allows to you pass a dict of tags and their values

[code]
Or something like that

[2021-01-12 23:03] frenchtoasters opened #73206 "Plays with Async leave files"
##### SUMMARY
We a playbook that is using `ansible_ssh_common_args` which proxy the command through a jumphost using ssh keys. The play we are running uses `command` to copy files between hosts, the play also has `async: 600` on it.

The issue is that under the `/home/ansible/.ansible_async` folder leaves files behind that have the output of the single async file copy and _never_ cleans up the fil

[2021-01-13 00:22] tinkerjs opened #73208 "Special variable group_names list items out of order"
##### SUMMARY
When using the group_names variable i noticed that the order in which the list items are returned is dictated by depending the upper/lower case of nested child group names.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Special Variables: group_names

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RHEL7 Source and RHEL 6/7 targets.

##### STEP

[2021-01-13 01:36] relrod commented on #73205
!component =lib/ansible/modules/cloud/amazon/aws_s3.py

[2021-01-13 01:39] #73205 closed, assigned to nobody

[2021-01-13 04:22] srible opened #73209 "Ansible unable to load user defined variables in remote servers"
We are trying to automate some of the manual deployment steps using Ansible.
We are able to connect to remote servers where deployment should happen and also switch to install user (using become option).
Though we can execute commands successfully using install user, we are unable to use some of the user defined variables that are set by profile.
It appears the issue is due to Ansible is not runni

[2021-01-13 04:38] Akasurde commented on #73209
@srible Please fill the issue template which helps us to identify the issue. Also, provide playbooks used, console log, and Ansible version?

[2021-01-13 09:03] AshDevilRed opened #73210 "mysql_replication (Warning with "mode: getslave" that ansible translates as an error)"
##### SUMMARY
I want to get the slave status with mysql_replication module. (mode: getslave)
I'm on CentOS8, and it sends me back an error. (Warning > Error)
Because the "show slave status" command is deprecated. (Warning)
And Ansible seeing the warning gives me an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module : mysql_replication

##### ANSIBLE VERSION
[code]

##### CONFIGURAT

[2021-01-13 09:12] #73210 closed, assigned to nobody

[2021-01-13 10:20] tmoschou opened #73212 "Ansible uses incorrect value for parent role's params when called in child roles"
##### SUMMARY

When running a single play that uses a `parent` role via the plays `roles:` option twice, with different `vars:`, a child role that is either called from the parent role via `meta.yaml`'s `dependencies:`, `include_role:` or `import_role` uses the last value. However the parent roles _does_ use the correct var.

E.g.

`play.yaml`:
[code]

`roles/parent/meta/main.yaml`:
[code]
(could

[2021-01-13 11:07] alterEgo123 opened #73214 "Ansible using wrong service"
##### SUMMARY

Ansible's service module is not using the specified service in the **use parameter**, it's using the value from **ansible_service_mgr**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: CentOS 7

##### STEPS TO REPRODUCE

Write a playbook that uses the **service** module and sp

[2021-01-13 14:03] Perfect10NickTailor opened #73215 "ansible_facts.service retuns incorrect state"
it was awhile ago but there has been no progress on it....

I am using the latest version

##### SUMMARY

When systemd stop and starts a service and then you try to get check the state with ansible_facts.service it will say its stopped when it on the server its running.

If i run the playbook a couple times eventually it gives me the correct state and shows theyre running....

The state return is

[2021-01-13 16:17] sivel commented on #73212
This is a function of how `vars:` on a role are scoped.  `vars:` on a role are scoped at the play level, so the last one defined wins.

You may instead want to use role "params" which are scoped to the role:

[code]

See also: https://github.com/ansible/ansible/pull/69040

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing lis

[2021-01-13 16:17] #73212 closed, assigned to nobody

[2021-01-13 16:18] sivel commented on #73209
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-01-13 16:18] #73209 closed, assigned to nobody

[2021-01-13 16:37] sivel commented on #73208
The `group_names` variable is purposefully alphanumerically sorted by name, and not sorted by definition order.

Capital letters, sort before lowercase which is the reason you see them sorted differently between using `chg0240322` and `CHG0240322`

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups

[2021-01-13 16:37] #73208 closed, assigned to nobody

[2021-01-13 17:05] samdoran commented on #73167
@xylle Can you test with #73204 and see if that works as expected?

[2021-01-13 17:16] sivel commented on #73214
Can you try this with a more recent version of Ansible?  Perhaps Ansible 2.9.x?  2.7 has reached its end of life as of August 2020, and is no longer supported.

[2021-01-13 17:36] wtout opened #73218 "Wrong Ansible version returned"
##### SUMMARY

The command ansible --version returns the wrong version that is installed. The problem has been observed with versions 2.10.3 and 2.10.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

##### STEPS TO REPRODUCE

- Install latest version (2.10.5) of Ansible u

[2021-01-13 17:39] sivel commented on #73218
The `ansible` command is provided by the `ansible-base` package, and returns the version of the `ansible-base` package.

See https://github.com/ansible/ansible/pull/72287 for work being done to clarify that the version is not of the "ansible" package.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goo

[2021-01-13 17:39] #73218 closed, assigned to nobody

[2021-01-13 18:04] dvaerum commented on #73042
@samdoran  Yes I am always proving `seconds` so from my perspective your solution would work 👍
I have also tested your patch/merge request #73182, and it seems to work perfectly 😄

[2021-01-13 18:04] #73042 closed, assigned to samdoran

[2021-01-13 21:04] sivel commented on #73215
Can you provide the output of the following command:

[code]

!component =lib/ansible/modules/service_facts.py

[2021-01-13 21:12] samccann opened #73223 "[docs][survey] Update ansible test documentation based on reddit feedback"
##### SUMMARY

This is a placeholder issue so we don't forget - as part of the recent Ansible Docs survey, we got some great feedback on Ansible documentation from within this reddit thread:
https://www.reddit.com/r/ansible/comments/k6pb45/feedback_wanted_on_ansible_docs/

We have some work to do and that's a good place to get ideas, especially on test docs

##### ISSUE TYPE
- Documentation Report

[2021-01-13 21:14] relrod commented on #73214
needs_info

[2021-01-13 22:54] #73027 closed, assigned to relrod

[2021-01-13 23:43] tmoschou commented on #73212
Thank you for letting me know about the 'flatten' role param syntax, though I do not see this document anywhere in the current version of Ansible (and at least 2.8) - I suspect it is old/discouraged as I can see that variable names would already clash with variable keys (`role`, `tags`, etc) - But it is not deprecated?

If as you say, `vars:` on `role:` apples them at play scope then this contradi

[2021-01-14 02:56] kkeane opened #73225 "mysql_user idempotency issue with REQUIRESSL and ALL privileges"
##### SUMMARY
The names of certain privileges do not exactly match the names used by the database. This causes an idempotency mismatch. See #29625 (which is not actually resolved for these cases).

Specific examples I found (for MariaDB 10.5)

- Specify privileges as "db.*:ALL,REQUIRESSL"
- Specify privileges as "db.*:ALL"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module mysql_user

###

[2021-01-14 02:57] #73225 closed, assigned to nobody

[2021-01-14 09:28] balibebas commented on #50543
If you need a way to reproduce this, inspect the logs of the Ansible init container of OAS's wordpress-helm chart prior to the following comment:  https://open.greenhost.net/openappstack/wordpress-helm/-/commit/d101b9b1bea483117a9f76f79752a8ab422a2df0

[2021-01-14 09:28] balibebas commented on #50543
If you need a way to reproduce this, inspect the logs of the Ansible init container of OAS's wordpress-helm chart prior to commit:  https://open.greenhost.net/openappstack/wordpress-helm/-/commit/d101b9b1bea483117a9f76f79752a8ab422a2df0

[2021-01-14 11:42] ottobits opened #73227 "Ansible prefix "|-" on an encrypted variable on uri module"
##### SUMMARY
Calling a webservice api  - described here [Cyberark API](https://docs.cyberark.com/Product-Doc/OnlineHelp/PAS/Latest/en/Content/SDK/CyberArk%20Authentication%20-%20Logon_v10.htm?tocpath=Developer%7CREST%20APIs%7CAuthentication%7CLogon%7C_____1)  - with POST method  to authenticate and ansible uri module, encrypting the login password by vault, the password variable seems to be send

[2021-01-14 12:23] ottobits commented on #73227
I just figured out what was wrong :
it was the generation of encrypted password, the proper way is:
[code]
while I used in the wrong scenario:
[code]

[2021-01-14 12:23] #73227 closed, assigned to nobody

[2021-01-14 13:09] johnbui423 opened #73228 "ansible_user no longer populated for local connections"
##### SUMMARY

The special variable `ansible_user` is no longer populated for local connections in v2.10.4/v2.9.16.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/local.py

##### ANSIBLE VERSION

[code]

Also tested with ansible 2.10.4 - same problem.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running this on a CentOS 7.9 machine

##### STEPS TO REP

[2021-01-14 13:20] johnbui423 commented on #73228
!component =lib/ansible/plugins/connection/local.py

[2021-01-14 13:22] Tupteq commented on #34736
In 2.10.4 error still exists. As @loop-evgeny said, it seems to be serious error that can be unnoticed in long playbooks. This makes whole `dependencies` mechanism unreliable, and requires from user manual dependency handling. `include_role` or `import_role` aren't real solutions because they don't provide a mechanism allowing to run role only once for each set of parameters.

[2021-01-14 13:23] johnbui423 commented on #73228
bot_broken

[2021-01-14 13:44] mrussell-axway commented on #73039
As a workaround for the issue above - if you run an update of minimum_tls_version immediately after creating the storage account the minimum_tls_version attribute gets correctly updated

Eg
Where storage_tls_version is set to TLS1_2 below

- name: Create Blob Container for state storage
  azure.azcollection.azure_rm_storageaccount:
    name: "{{ project }}{{ env }}tfst"
    resource_group: "{{ pro

[2021-01-14 13:51] Altaf-Axway commented on #73039
@mrussell-axway  Thanks for the help..!! Your workaround resolves the issue we were facing.

[2021-01-14 13:51] mkrizek commented on #73228
!needs_collection_redirect

[2021-01-14 13:51] mkrizek commented on #73228
!bot_broken

[2021-01-14 14:46] xylle commented on #73167
I don't know if I have correctly installed the dev version:

- I create new venv
- install requirements.txt
- git clone https://github.com/ansible/ansible.git
- source ./hacking/env-setup
- manually add pr modification on file lib/ansible/module_utils/facts/virtual/linux.py

Work fine.

PS : how to add your PR in code whitout manually editing ?

[2021-01-14 14:49] sivel commented on #73212
That documentation was recently updated about 4 weeks ago, and hasn't been published yet:

https://github.com/ansible/ansible/pull/72666

[2021-01-14 14:57] sivel commented on #73228
Caused by ce52e6738cdb3e3e729e1355866bee4f65a214d7

[2021-01-14 15:29] samdoran commented on #73167
GitHub allows you to [checkout PR branches locally](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/checking-out-pull-requests-locally).
[code]

Since you're already setup to run from source, you'll now be running with the changes in that PR branch.

[2021-01-14 15:53] #73167 closed, assigned to samdoran

[2021-01-14 16:07] Perfect10NickTailor commented on #73215
Currently the tomcat is now returning correctly.....after running it a few times.

However, I have another service "salt-minion", doing the same the thing.

[root@ansible]# systemctl list-units --no-pager --type service --all | grep -i salt
● salt-master.service                                                                       not-found inactive dead    salt-master.service
  salt-minion.servic

[2021-01-14 16:16] sivel commented on #73215
Based on that output, the code generates:

[code]

(`status` is updated later from output of a different command)

I do see:

[code]

Maybe ansible was run before it was started? Or maybe the service is restarting repeatedly, and you just happen to have queried it via Ansible while it was stopped?

[2021-01-14 16:28] Perfect10NickTailor commented on #73215
I thought that too, but the service stops and starts fine. I tailed the log to confirm that. The state query is right after the start.

Could i possibly add a delay or something to the query?

I also reviewed if anyone else had this problem. Someone else had also reported this but in a older version. The issue never had a resolution as far as i could see and was closed for comments.

[2021-01-14 16:53] itdependsnetworks opened #73235 "Ansible Collection Playbooks"
##### SUMMARY
Document ansible collection playbooks better.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
`developing_collections.rst`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### ADDITIONAL INFORMATION
Within https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html it states that the playbook file structure sh

[2021-01-14 16:56] sivel commented on #73235
All of those directories within the `playbooks` dir are arbitrary, but named via convention.  None of them have any more meaning in a collection than they would in your own ansible project directory where you store playbooks.

[2021-01-14 17:00] sreese4u opened #73236 "urllib3.exceptions.ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')) with k8s module"
##### SUMMARY
Getting the following exception when using k8s module in Ansible Versions 2.9.13 and 2.10.4.

[code]

The task looks like this.

[code]
If I remove the `tls` part of this task it works again. If I add `|-` behind `certificate:`, `key:` and `caCertificate:` then it works as well but OpenShift does not accept the configuration.

Just noticed that adding `| to_nice_yaml(indent=16)` afte

[2021-01-14 17:03] sivel commented on #73236
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2021-01-14 17:06] #73236 closed, assigned to nobody

[2021-01-14 18:55] itdependsnetworks commented on #73235
@sivel including templates? In my playbook directory it has meaning. Is there any way to have variables relative to the playbooks? e.g. `git_url` is default to `github.com`, but can be overwritten via group/host vars in inventory.

[2021-01-14 19:10] bcoca commented on #73179
I concur, this is not a bug, the machine is unreachable, ansible returns the correct message.

[2021-01-14 19:10] #73179 closed, assigned to nobody

[2021-01-14 19:12] lanceofwhichwedream commented on #73179
@bcoca I don't understand, the machine is online, but ansible can not execute modules on it which is clearly error behavior, not unreachable behavior.

[2021-01-14 19:23] bcoca commented on #73228
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is correct as local connections don't use `ansible_user`, the previous value was incorrect most of the time, only being correct wh

[2021-01-14 19:23] #73228 closed, assigned to nobody

[2021-01-14 19:27] bcoca commented on #73235
vars/files/templates are 'normal' relative directories for playbooks and roles, they don't have a 'more special' meaning in collections, just the same as they would for any playbook file within the parent directory.

tasks was added as a suggestion, but won't work with relative paths automatically as the other 3.

In any case we should document this better in general, not just for collections, clo

[2021-01-14 19:27] #73235 closed, assigned to nobody

[2021-01-14 19:46] bcoca commented on #73179
can you reach it via ssh? 'being online' and 'being reachable' are 2 diff things.

[2021-01-14 20:05] lanceofwhichwedream commented on #73179
Yes. I was also able to execute rm commands, but no creation type commands given the disk full status of the device.

[2021-01-14 20:05] sivel commented on #73179
`Data could not be sent to remote host` goes along with the tmp dir being full as you mentioned.  And it doesn't fail on earlier tasks because of pipelining, but `copy` requires a remote tmp dir.

If the data cannot be copied to the remote host because the tmp dir is full, it would appear that causes the device to be marked as unreachable.

[2021-01-14 20:23] aadnehovda commented on #64852
Untested, but think should work too (for MariaDB in this case).

[code]

[2021-01-14 21:42] samdoran commented on #16456
Can anyone test with #73241 to see if that fixes the issue?

[2021-01-14 21:52] lanceofwhichwedream commented on #73179
To me, that would constitute an error condition as the actual ssh process did not fail to connect to the device.

I would imagine the logic for unreachable would check to see if the ssh connection timed out and if true "unreachable" else ...

[2021-01-14 21:56] sivel commented on #73179
Unfortunately, we just see that SSH cut the connect off during transfer and ssh exited with a 255 which indicates an unknown connection failure.  Your debug from SSH actually says it was a timeout.

[2021-01-14 21:57] lanceofwhichwedream commented on #73179
Ahhh interesting. Limitation of the technology then, I appreciate the info.

[2021-01-15 08:00] PierreLesouhaitier opened #73244 "Add a header_secret input for uri module"
##### SUMMARY
We use a lot uri module, and we send API token in the header. These secrets need to be hidden on the log, so we are forced to mark the entire task as no_log: true missing many logs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
uri module

##### ADDITIONAL INFORMATION
Just add a header_secret input in uri with no_log=True optional argument.
It would be merged with the header

[2021-01-15 12:24] johnbui423 commented on #73228
What is then the recommended way to get the user name of the user used for the local connection? I.e. the user that launched the playbook?

[2021-01-15 13:05] bzakdd opened #73246 "In some cases of nesting `block`s/`import_tasks`' the `fail` module interrupts the Ansible execution and disregards `always` blocks"
##### SUMMARY
In some cases of nesting `block`s/`import_tasks`' the `fail` module interrupts the Ansible execution and disregards `always` blocks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
block import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

Create a following file structure:

File: play.yml
[code]
File: tasks.yml
[code]

##### EXPECT

[2021-01-15 14:09] mkrizek commented on #73246
This is likely caused by the following code:
https://github.com/ansible/ansible/blob/aa21804165aa51db552d687c8d7c970fce454fbf/lib/ansible/plugins/strategy/linear.py#L419-L430

Specifically by `s = iterator.get_active_state(s)` where, in case of the `always` sections starts with a new `block`, we get `ITERATING_TASKS` for which we fail the host instead of executing `rescue`/`always` section.

We mi

[2021-01-15 14:09] howardjones opened #73247 "Galaxy docs show incorrect format for requirements.yml"
##### SUMMARY

https://galaxy.ansible.com/docs/using/installing.html#installing-multiple-roles-from-a-file

shows that you can refer to a git repo for a collection like this:

    # from GitLab or other git-based scm
    - src: git@gitlab.company.com:mygroup/ansible-base.git
      scm: git
      version: "0.1"  # quoted, so YAML doesn't parse this as a floating-point value

In fact, if you do that

[2021-01-15 14:45] anthoc opened #73248 "ec2_ami option delete_snapshot is not working"
##### SUMMARY
When I want to delete an AMI on AWS using ec2_ami, the delete_snapshot option doesn't seems to delete the snapshot.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_ami delete_snapshot option

##### ANSIBLE VERSION
Tried with the following ansible versions :
- 2.9.13
- 2.9.17rc1
- 2.10.5

And the bevaviour is the same

##### STEPS TO REPRODUCE
Here is the playbook i am trying

[2021-01-15 14:48] mkrizek commented on #73248
!component =lib/ansible/modules/cloud/amazon/ec2_ami.py

[2021-01-15 14:57] #73248 closed, assigned to nobody

[2021-01-15 14:58] sivel commented on #73247
The documentation you reference is for installing a ***role*** from a git repo.

The documentation for installing a collection from a git repo can be found at https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-a-collection-from-a-git-repository

If you select the `collections` segment of the docs on the page you reference, it will direct you to the page I linked.

[2021-01-15 14:58] #73247 closed, assigned to nobody

[2021-01-15 15:09] bcoca commented on #55188
!component =lib/ansible/plugins/lookup/filetree.py

[2021-01-15 15:14] bcoca commented on #46554
We have added many specific error messages for the ssh issues that are capturable, some sadly will remain as generic as ssh itself does not give enough information. As such I'm going to close this issue and deal with specific messages as they appear.

[2021-01-15 15:14] #46554 closed, assigned to nobody

[2021-01-15 15:16] bcoca commented on #45085
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request because we don't want to add unneeded complexity to vars_prompt as you can already use assert/fail tasks to ensure a value is passed in.

However, we're absolutely always up for discussion.
Since this is a really bu

[2021-01-15 15:16] #45085 closed, assigned to nobody

[2021-01-15 15:19] bcoca commented on #31712
As discussed above, this is a result of running parallel tasks against the same file, ansible does not lock by default so there is a concurrency issue as different processes update the file. Adding `serial: 1` at the play level or `throttle: 1` at the task level should solve this issue (also mentioned above).

[2021-01-15 15:19] #31712 closed, assigned to nobody

[2021-01-15 15:20] bcoca commented on #42567
!component =lib/ansible/plugins/callbacks/log_plays.py

[2021-01-15 15:21] #55188 closed, assigned to sivel

[2021-01-15 15:22] bcoca commented on #40823
!compoonent= lib/ansible/plugins/inventory/virtualbox.py

[2021-01-15 15:24] bcoca commented on #39617
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature because this is not very friendly to most users and any programmer (the main consumer of a stacktrace) can already enable -vvv by default (config, env var, etc).

However, we're absolutely always up for discussion.
Since th

[2021-01-15 15:24] #39617 closed, assigned to nobody

[2021-01-15 15:26] bcoca commented on #38834
!component =lib/ansible/plugins/callbacks/selective

[2021-01-15 15:27] bcoca commented on #38485
!component =lib/ansible/plugins/callback/full_skip

[2021-01-15 15:27] sivel commented on #38834
It appears this issue was actually fixed in the community.general collection:

https://github.com/ansible-collections/community.general/commit/151551b04f4afde96ca047d406c0da654a424e82

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-15 15:27] #38834 closed, assigned to nobody

[2021-01-15 15:30] bcoca commented on #32728
sorry for the delay in responding, but we cannot reproduce this issue.

Can you give a simple reproducer example?

needs_info

[2021-01-15 15:32] #40823 closed, assigned to bcoca

[2021-01-15 15:32] #38485 closed, assigned to nobody

[2021-01-15 15:34] bcoca commented on #32160
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This does not seem to be a vault issue (the value is not decrypted when reading the file) but a YAML syntax issue, this is probably a bad whitespace (tab?) in that line. In any case this is not a bug.

We'd like to direct these kinds of things to either the mailing list or the I

[2021-01-15 15:34] #32160 closed, assigned to nobody

[2021-01-15 15:35] sivel commented on #42567
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2021-01-15 15:35] #42567 closed, assigned to nobody

[2021-01-15 15:36] sivel commented on #29415
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2021-01-15 15:36] #29415 closed, assigned to nobody

[2021-01-15 15:37] bcoca commented on #30703
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

I would expect this since the user cannot read/see the file so any test will show it as 'non existing' though it is really 'non accessible'. I would adjust permissions on the tempfile directory to allow the other user to access it so it is not seen as missing.

Since this is not

[2021-01-15 15:37] #30703 closed, assigned to nobody

[2021-01-15 15:40] bcoca commented on #29230
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request becasue we already include a 'path' option that will allow you to set this for any specific user.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on clo

[2021-01-15 15:40] #29230 closed, assigned to nobody

[2021-01-15 15:43] bcoca commented on #27779
closing as per above

[2021-01-15 15:43] #27779 closed, assigned to nobody

[2021-01-15 15:44] bcoca commented on #27601
have you tried quoting `'^Password for \w+':`

needs_info

[2021-01-15 15:46] #27296 closed, assigned to nobody

[2021-01-15 15:49] bcoca commented on #27277
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This is not a bug, it is by design, to achieve what you want do the following:

[code]
This will generate the password once and with the same value for all hosts in the play batch.

We'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IR

[2021-01-15 15:49] #27277 closed, assigned to nobody

[2021-01-15 15:50] jamieburchell commented on #32728
I can't reproduce this on 2.9.6 from my test case above, so I guess it's no longer an issue.

[2021-01-15 15:52] bcoca commented on #24493
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature, aside from being unclear what you expect to happen when things match/don't match the expected result, `changed_when` and `failed_when` allow for a very flexible processing of result data already and provide a superset of w

[2021-01-15 15:52] #24493 closed, assigned to nobody

[2021-01-15 15:54] bcoca commented on #22699
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature because it adds too much complexity to the cron module and it can easily be provided by a template.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on c

[2021-01-15 15:54] #22699 closed, assigned to nobody

[2021-01-15 15:58] sivel commented on #27601
It looks the real problem is not the `\w`, as the output you are reading is JSON, which requires backslashes to be escaped.

The actual problem is the `^`, as pexpect does not use `MULTILINE`.  And additionally it does not match on a per line basis, it has the concept of a "window" and it does matches within the window, which has a default size of 2000 bytes.  So it would require that the window s

[2021-01-15 15:58] #27601 closed, assigned to nobody

[2021-01-15 15:58] bcoca commented on #22352
We continually add platforms, but the fix hould also add a fallback looking for tools (systemd/hostname/etc) if no platform is matched.

[2021-01-15 16:03] bcoca commented on #21131
closing this for 2 reasons:

 - Though there it is for a specific keyword, we have had the general ask is for adding play keywords for inheritance to `import_playbook` which is not something we are looking to do at the moment but might reconsider in a future refactoring.
 -
 -  The 'gathering' https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-gathering  setting alrea

[2021-01-15 16:03] #21131 closed, assigned to nobody

[2021-01-15 16:12] #32728 closed, assigned to nobody

[2021-01-15 16:13] bcoca commented on #73228
`(ansible_connection in ("local", "chroot", "jail" ....` there are several connections that drop the remote user.

[2021-01-15 16:17] bcoca commented on #19855
closing via #60702

[2021-01-15 16:17] #19855 closed, assigned to nobody

[2021-01-15 16:19] bcoca commented on #24223
added in 2.10
https://docs.ansible.com/ansible/2.10/collections/ansible/builtin/sh_shell.html#parameter-world_readable_temp

[2021-01-15 16:19] #24223 closed, assigned to bcoca

[2021-01-15 16:22] bcoca commented on #65087
note: paths we might want to keep as bytes.

[2021-01-15 16:24] bcoca commented on #59162
!component =lib/ansible/plugins/inventory/gcp_compute.py

[2021-01-15 16:27] #59162 closed, assigned to nobody

[2021-01-15 16:55] redridinghood314 opened #73250 "win_dsc strange behaviour"
##### SUMMARY

First, i don't know if it can be tagged as a real bug, i will explain why :
- we are working mainly on DSC and windows plateforms, and we are looking to move toward ansible with the help of win_dsc module. To check if there are no big limitations over native dsc, i have begun to try to implement an already integrated ansible function : build AD domain controller, with the help of Ac

[2021-01-15 17:05] #73250 closed, assigned to nobody

[2021-01-15 17:35] RSabet opened #73253 "win_package with `creates_path` and `creates_version` exception upon initial install"
##### SUMMARY
ansible win_package with `creates_path` and `creates_version` returns exception when software is not installed yet (`creates_path: c:\Program Files\7-Zip\7z.exe` does not exist on the target machine):
`"Unhandled exception while executing module: creates_path must be a file not a directory when creates_version is set"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

[2021-01-15 17:38] #73253 closed, assigned to nobody

[2021-01-15 19:35] aytemuryakup opened #73256 "Ansible - Access Violation Attempted to read or write protected memory Error on Windows Server 2019 Servers"
##### SUMMARY

I work with Ansible on Windows Servers.
I am getting errors while working on Windows Server 2019 servers. When I examine the error in detail, I see that the user I defined for ansible is trying to access somewhere. (Regedit, svc.host etc.) but the user I assigned for ansible is attached to the Admin group.

##### ISSUE TYPE
- Bug Report
- Error Report

##### COMPONENT NAME

- I use

[2021-01-15 23:35] redgryphon opened #73262 "Add parameter to builtin module uri to use a different than system-wide CAs"
##### SUMMARY
Feature request is pretty simple and explicative by itself: adding a parameter to the builtin module `uri` to allow the user to validate the remote certificate against a custom CA instead of or along the system CAs.

Use case scenario:
I spun up a web server with some sort of REST API protected by a certificate signed by a custom CA, maybe internal of my organization. I then try to c

[2021-01-16 21:20] jikamens opened #73264 ""pause" task with prompt does not work in Emacs shell buffer"
##### SUMMARY
When this playbook is run in an Emacs shell buffer:

[code]

It yields this error after the user is prompted and hits Enter:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.10 (Groovy) x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the playbook

[2021-01-17 02:59] Wobak opened #73266 "Domain users manager in vCenter"
##### SUMMARY
Have a module in community.vmware to interact with users on a vCenter (not local to ESXi)

##### ISSUE TYPE
Start a module that will interact with a vCenter instead of an ESXi server

##### COMPONENT NAME
community.vmware.vcenter_domain_user_manager

##### ADDITIONAL INFORMATION
Whenever an ESXi is added to a vCenter, the users / groups are delegated to a SSO server in the PSC.
So th

[2021-01-17 09:07] Wobak commented on #73266
+vmware
+label affects_2.11

[2021-01-17 11:36] aybcoo opened #73267 "ERROR! variable files must contain either a dictionary of variables, or a list of dictionaries."
vars_files  file has question. please check. It's usually a space problem . You can try it by replacing  all Spaces.

[2021-01-17 11:36] #73267 closed, assigned to nobody

[2021-01-17 13:35] jfoliveira commented on #72453
[This answer](https://stackoverflow.com/a/36916316/1369191) on a 2016 StackOverflow question has a good explanation on possible root cause of the issue, that might be helpful to anyone working a permanent fix.

**Some workarounds, depending on the use case:**

- `ignore_errors: true`
- `register: file_deleted retries: X until: file_deleted is success`
- If the file is blocked by a running process,

[2021-01-17 16:04] imjoseangel commented on #73244
Hi @PierreLesouhaitier what about using the `no_log` option in the playbook header? Regards

[2021-01-17 18:23] imjoseangel commented on #72520
Hi @Bilge

I cannot see how this could be implemented. The handlers are called when there is a change in a single task:

For instance, if you do:

[code]

This task will call a handler like this, even though it comes from a `import_task` and the handler is located in the main file:

[code]

If your imported task is like this:

[code]

The handler will never be called

Or if you have something like

[2021-01-17 21:09] felixfontein opened #73268 "Task variables not evaluated when used as vars arguments for a lookup plugin"
##### SUMMARY
Consider the test playbook:
[code]
The `url` lookup's `timeout` parameter (https://docs.ansible.com/ansible/devel/collections/ansible/builtin/url_lookup.html#parameter-timeout) can be set with the variable `ansible_lookup_url_timeout`. I would expect that in the above example, the `url` lookup would run with a timeout of 2 seconds.

Instead, the playbook fails:
[code]
(I've noticed t

[2021-01-17 22:09] briantist commented on #73268
The example playbook was successful for me in 2.9, but failed in devel.

Note: when successful output is large from ansible.com, I used this for easier reading:

[code]

Also I thought it might've been a difference between Jinja2 native setting or not. Running in devel with `ANSIBLE_JINJA2_NATIVE=true` did not work in devel either though.

[2021-01-17 23:50] tadeboro commented on #73268
The `uri` lookup did not consult variables when loading configuration in 2.9. So things in 2.9 may still be broken, but `uri` lookup plugin will not reveal it.

[2021-01-17 23:50] briantist commented on #73268
Ok, so I wrote a little script to go back and try the test playbook on every commit in devel, going back in time, to try to see where it changed, and the results are disappointing. In short, it "works" in 2.9 because there is no vars entry in 2.9; it was added in this commit: https://github.com/ansible/ansible/commit/37e7191304bcefb9c2863ccc87162df798daa6e2

[2021-01-18 04:05] PC-Admin opened #73269 "'chown: invalid group' and 'chgrp failed: failed to look up group'"
##### SUMMARY

Can't seem to change the group any way I try. file, command and shell module all fail to adjust it. I'm desperate to find a fix.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file, lineinfile, shell and command modules (probably more too)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 11 controller, Debian 10 target.

##### STEPS

[2021-01-18 05:07] PC-Admin commented on #73269
This error is probable due to the playbook being run in an AWX container, and groups available on the host OS are not available in the container. :O

Will do some more testing and report back.

[2021-01-18 07:32] mkrizek commented on #73266
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2021-01-18 07:32] #73266 closed, assigned to nobody

[2021-01-18 09:00] CoderFei opened #73272 "The requirements/notes of win_copy module are not clear. PowerShell version must larger than 5.1.0.0 for remote Windows Server."
##### SUMMARY

The requirements of win_copy module are not clear.
PowerShell Version must larger than 5.1.0.0 for remote Windows Server.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

win_copy module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible host: CentOS 7.8.2003
remote windows  host: Windows Server 2012
##### ADDITIONAL INFORMATIO

[2021-01-18 09:08] #73272 closed, assigned to nobody

[2021-01-18 11:44] PC-Admin commented on #73269
By defining that group in the AWX container as well it works fine. This is not a bug.
[code]

[2021-01-18 11:44] #73269 closed, assigned to nobody

[2021-01-18 12:45] staticdev opened #73274 "Can't notify handler from import_tasks or include_tasks"
##### SUMMARY
I have a playbook that imports some tasks on /tasks, and when a task from there notifies a handler in /

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- include_tasks
- import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.10 (target), using local connection.

##### STEPS TO REPRODUCE

main.yml
[code]

tasks/gnome-setup.yml

[2021-01-18 12:50] staticdev commented on #73274
!component include_tasks

[2021-01-18 13:51] dwt commented on #73089
I would like to say that as an avid user of hash merging I would really like to see a more precise deprecation message that tells men where I am actually using merging, (still). I have already begun the process to get rid of merging as a requirement, but it's quite deeply rooted in my workflow.

It seems the easiest way to get merging back after it is deprecated is to use the inherent merging of t

[2021-01-18 13:52] duck-rh opened #73275 "pairs->dict broken"
<##### SUMMARY
Using the method described in the documentation to transform pairs into a dict is broken.

See https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html#create-dictionary-from-list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
I'm on Debian unstable and running the

[2021-01-18 14:33] #51025 closed, assigned to bcoca

[2021-01-18 15:08] sivel commented on #73275
I cannot reproduce your issue, I get the expected output:

[code]

I can only reproduce this issue, if I create a variable named `dict` that is a `dict` such as:

[code]

[2021-01-18 15:10] sivel commented on #73274
You are using naming conventions of a role, but are not actually using a role.  As such, ansible has no idea to look in the `handlers` directory.

You will need to restructure your files to accommodate this functionality.

Please stop by IRC or the mailing list for help in how to achieve your goal:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2021-01-18 15:10] #73274 closed, assigned to nobody

[2021-01-18 15:19] sivel commented on #73268
Partially related to https://github.com/ansible/ansible/commit/1da47bfa8c6711e19902e4a1460d3276d33664e1

[2021-01-18 15:22] julian-alarcon commented on #69203
Bug in Launchpad is still waiting to be solved in Ubuntu 20.04
![image](https://user-images.githubusercontent.com/30119472/104933474-f2d52500-5976-11eb-822c-d7a806bb41a3.png)

[2021-01-18 15:24] duck-rh commented on #73275
@sivel well spotted, I made that mistake a long time ago in group_vars/all/ and I would not have thought about this honestly. Thanks.

[2021-01-18 15:24] #73275 closed, assigned to nobody

[2021-01-18 15:33] mhalano commented on #69203
I agree. IMHO there is no reason to not support Ubuntu 20.10 if the bug is fixed on it.

[2021-01-18 17:42] sivel commented on #62740
!component =lib/ansible/plugins/filter/ipaddr.py

[2021-01-18 17:45] sivel commented on #31612
!component =lib/ansible/plugins/lookup/filetree.py

[2021-01-18 18:00] chisaato opened #73278 "the parameter of msg in ansible.builtin.debug should be array or str"
Here is the type of parameter

https://github.com/ansible/ansible/blob/cec5267cee894baeb51c6d7721623bb7e7a4f2d6/lib/ansible/modules/debug.py#L22-L26

it should be `str` ot `array`, because we can pass an array for multiple line text like this.

https://github.com/ansible/ansible/blob/cec5267cee894baeb51c6d7721623bb7e7a4f2d6/lib/ansible/modules/debug.py#L73-L75

this bug also exist in the yaml-sche

[2021-01-18 18:01] #62740 closed, assigned to nobody

[2021-01-18 18:03] sivel commented on #68901
I'm guessing this is something that may be specific to the Ubuntu FIPS 140-2 implementation.  Unfortunately, to get access to FIPS support on Ubuntu, you have to purchase Ubuntu Advantage.

I've not found a way to download the NSX Edge appliance either.

[2021-01-18 18:04] gzzchh commented on #73278
the format of the doc also has a mistake.

[code]
should be
[code]

[2021-01-18 18:06] #31612 closed, assigned to nobody

[2021-01-18 18:06] sivel commented on #42972
Closing in favor of https://github.com/ansible/ansible/issues/72668

[2021-01-18 18:06] #42972 closed, assigned to mattclay

[2021-01-18 18:12] sivel commented on #73278
That is not a mistake, that is valid YAML.  List indicators do not need to be indented past their parent.

[2021-01-18 18:16] sivel commented on #73084
See also https://github.com/ansible/ansible/issues/39686

I think #39686 likely just needs to be closed.

[2021-01-18 18:36] gzzchh commented on #73278
ok, but how about the parameter type issue above?

[2021-01-18 20:00] rabin-io commented on #68901
Seems you can get 3 lic for free [source](https://ubuntu.com/advantage)

[2021-01-18 20:27] Shrews commented on #73278
Actually, whatever type you use for `msg` is just parroted back in the return, so it may be more than just `list`. Example as also valid:

[code]

If anything, `type` should be `complex` maybe?

[2021-01-18 20:33] sivel commented on #73278
Probably `raw`

[2021-01-18 20:34] bcoca commented on #73278
no, its still a string, the issue is that 'anything passed' gets converted into a string representation of itself, so lists and dictionaries become the 'string version' of themselves.

[2021-01-18 20:37] sivel commented on #73262
This should be easy to add.  Just need to add a `ca_path` argument, and pass it on to `fetch_url`.

[2021-01-18 21:02] #38696 closed, assigned to nobody

[2021-01-18 21:08] sivel commented on #46310
Duplicate of https://github.com/ansible/ansible/issues/33831

[2021-01-18 21:08] #46310 closed, assigned to alikins

[2021-01-18 21:28] sivel commented on #69179
As of now, when using `vars:` on a role definition, this is the expected behavior.

`vars:` are scoped at the play level, and the last one defined wins.  When roles are encountered during playbook parsing time, they are automatically merged into the play.

Switching to role params instead, produces: `bar`, `bar`, `cat`, `cat`

a/meta/main.yml:
[code]

b/meta/main.yml
[code]

If you have further qu

[2021-01-18 21:28] #69179 closed, assigned to nobody

[2021-01-18 21:37] sivel commented on #69388
Currently the actual precedence is:

[code]

I think honestly, `vars:` should probably override `role/vars/main.yml`.  I cannot imagine anyone would be relying on the current behavior, unless they don't realize thier `vars:` aren't doing what they anticipated.

This would require a change in `Role.get_vars` to swap those 2 lines.

[2021-01-18 22:38] sivel commented on #73215
Looking at your play again, I see those tasks are 1 after another.

You might be able to add a `pause` task in between. The big thing with many service managers, is that they don't wait to ensure that service fully started.  So after telling a service to start, it may take some amount of time afterwards before it fully starts.

Maybe you can put an `until` on the `service_facts` to wait until the

[2021-01-18 22:46] MarkusTeufelberger commented on #69203
Is this even still an issue since https://github.com/ansible/ansible/pull/73000 was merged?

[2021-01-18 22:54] mattclay commented on #73168
@sivel Thanks for the ping. I've commented on the PR.

[2021-01-18 23:31] briantist commented on #73268
Good find @sivel

[2021-01-19 08:22] amg1127 opened #73284 "Yum module only reports upgraded x86_64 packages when i686 packages have also been upgraded"
##### SUMMARY
I have created an Ansible playbook that invokes the `yum` module with the arguments `name="*" state=latest update_cache=yes update_only=yes`. The managed node is a 64-bit CentOS 7 system containing some i686 packages installed for compatibility with third-party 32-bit applications.

If 32-bit packages are available for upgrade, `yum` modules upgrades them alongside available 64-bit p

[2021-01-19 11:57] sbienkow opened #73289 "Contents of {%if false%} body is evaluated, causing non-catchable errors"
##### SUMMARY
When using conditionals in template, content of branch which won't be used is still evaluated.
There's possible second bug in here - that such template evaluations are not catchable (can't use `default()` filter on value).

It is possible that https://github.com/ansible/ansible/pull/72419 will hide this issue, but not sure if it'll be fixed.

##### ISSUE TYPE
- Bug Report

##### COMP

[2021-01-19 12:24] mkrizek commented on #73289
Duplicate of #56017 #56116

[2021-01-19 12:24] #73289 closed, assigned to nobody

[2021-01-19 13:01] janvht commented on #65466
This behavior changed compared from v2.9.x or earlier. I used the functionality as it previously worked but ran into unexpected issues after updating to v2.10.x, I changed my playbooks and roles according to the comments in this issue but it would be good to mention this in the documentation as well; https://docs.ansible.com/ansible/latest/collections/ansible/builtin/cron_module.html

[2021-01-19 13:08] janvht commented on #65466
I used the cron module functionality as it previously worked in v2.9.x. After updating to v2.10.5, my crontab file was removed when just one line should have been removed. I found this issue and adjusted my playbook and roles but this should be mentioned in the documentation as well: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/cron_module.html.

[2021-01-19 13:36] nickminutello commented on #63067
mode=preserve would be a great help.

It's far easier to set the correct permissions when creating the archive (zero effort if it is created on a unix filesystem) - and also much more fine-grained control of which files get which permission.

e.g Quite often, only some of the files in the archive require execute permission - and not possible afaik to apply permissions selectively when unarchiving.

[2021-01-19 13:36] robertdebock commented on #71977
Hey, I noticed this issue still occurs on Ansible 2.10.5. What's required to get PR #72035 merged?

Workaround:

[code]

[2021-01-19 14:15] Perfect10NickTailor commented on #73215
Hi Matt,

Ahhh yeah that makes sense.

I had a feeling it was probably that. I didnt realise i could put "unti".

That would definitely solve my problem. I will give that a try.

Thanks so much.

Cheers

Nick Tailor

nicktailor.com

On Mon, Jan 18, 2021 at 10:38 PM Matt Martz <notifications@github.com>
wrote:

[2021-01-19 14:31] p-avery opened #73291 "Restrict E-mail notifications based on domain names"
##### SUMMARY
Ability to limit Email Notifications based on Domain name

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Notifications

##### ADDITIONAL INFORMATION
Would like the ability to limit E-Mail notifications on Domain name, this would allow a stricter security to deny users from adding in notifications to emails outside of the trusted domain

[code]

[2021-01-19 14:32] #73291 closed, assigned to nobody

[2021-01-19 14:32] p-avery commented on #73291
created by mistake

[2021-01-19 14:34] s-hertel commented on #71977
It's a pattern that would be easy to mistakenly change again, so it's waiting on a test. Anyone who has time should feel free to cherry-pick the initial work to keep attribution and open a new PR with a test, since it appears the original author may not be interested in working on it anymore.

[2021-01-19 15:07] #16456 closed, assigned to nobody

[2021-01-19 15:25] samdoran commented on #73264
This is happening because `ncurses` is available in the Emacs shell buffer but `ncurses.tigetstr()` is returning `None` which is quite odd. The fix is pretty simple.

[code]

Testing this will most likely required creating a unit test to mock the `curses.tigetstr()` calls.

[2021-01-19 15:33] Shrews commented on #73278
Discussed this in triage. The `type: str` here actually means that what is passed in will be converted to `str`, if possible, otherwise then you'll get an error. Given that, closing per above.

[2021-01-19 15:33] #73278 closed, assigned to nobody

[2021-01-19 16:27] gituser-ensco opened #73292 "ansible_selinux_python_present status inconsistently incorrect for CentOS 7.9 nodes"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I need to be able to use ansible to set the correct SELinux file context on CentOS 7 & 8 systems. I am seeing inconsistent results when ansible gathers facts from the nodes, specifically for CentOS 7.9 nodes.

Below is a sample of the inconsistency I am seeing...
NOTE: Both nodes are VMs with SELinux

[2021-01-19 16:49] gituser-ensco commented on #73292
Ansible version: 2.9.14
Problematic Component:  Ansible facts

[2021-01-19 17:57] jikamens commented on #73264
Would this be preferable to avoid the repeated constants?

[code]

[2021-01-19 19:06] briantist commented on #73268
Just saw this mentioned in core meeting, could be a possible solution?
https://github.com/ansible/ansible/pull/72419

[2021-01-19 19:46] sivel commented on #73292
`Missing selinux Python library` indicates that `libselinux-python` is not installed for the python interpreter that is being invoked on that remote host.

On node2, if you ssh in, and run the following, it is effectively what ansible does:

[code]

[2021-01-19 20:06] bcoca commented on #73268
no, this would #58288

[2021-01-19 20:17] drewtoto opened #73298 "Version 2.9.16 and 2.9.17 ansible_user variable has different behavior, is undefined"
##### SUMMARY

Ansible 2.9.16 and 2.9.17 fail with error 'ansible_user' is undefined.  Prior versions succeed with expected variable assignment of user executing ansible command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible built-in

##### ANSIBLE VERSION

2.9.16
[code]

2.9.17
[code]

##### CONFIGURATION

2.9.16
[code]

2.9.17
[code]

##### OS / ENVIRONMENT

[code]

##### STEPS T

[2021-01-19 20:30] sivel commented on #73298
Duplicate of https://github.com/ansible/ansible/issues/73228

[2021-01-19 20:30] #73298 closed, assigned to nobody

[2021-01-19 21:27] sivel commented on #24481
I can not reproduce this with currently supported versions of Ansible.
[code]

If you are still having problems, feel free to open a new issue with a complete reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-19 21:27] #24481 closed, assigned to nobody

[2021-01-19 21:35] Jarshvor opened #73300 "[Docs] Selecting JSON data: json_query and jmespath dependancy."
##### SUMMARY

There is a note where it says that json_query is **built upon** jmespath. To me this does not imply that jmespath is a direct dependency of json_query, and must therefore be installed on the controlling host.

Furthermore, the bit that follows about its syntax being compatible with that of jmespath is somewhat ambiguous, and further diverts from the fact that jmespath is a dependenc

[2021-01-19 21:46] gituser-ensco commented on #73292
I do not get any output from /usr/bin/python -c 'import selinux'

This problem seemed to clear itself up on CentOS7.9 after rerunning the same playbook (to install the libselinux-python pkg) about half a dozen times.
I have the same problem on a set of RedHat6.7 nodes. Rerunning the playbook for them does not seem to make any difference. Below is the kernel/distribution/selinux facts for the RHEL6

[2021-01-19 21:49] sivel commented on #73292
That last output shows that libselinux-python is present, and selinux is enforcing.  What is the problem with the EL6 nodes?

[2021-01-19 21:56] gituser-ensco commented on #73292
I have a playbook that does the following tasks...

# task1: creates a file in /etc/sudoers.d from a template and sets the permissions
 - name: create file in /etc/sudoers.d
    ansible.builtin.template:
      src: /etc/ansible/templates/etc/sudoers.d.ist-sudo-limited
      dest: /etc/sudoers.d/ist-sudo-limited
      owner: root
      group: root
      mode: 0440
    register: file_create_results

[2021-01-19 22:02] nickminutello commented on #63067
Actually, it appears that "preserve" is the default behaviour if mode isn't specified.
I ended up finding this issue because execute permissions were not being maintained - but it turns out I had a faulty tar file (duplicate entries).

Once the tar file was fixed, unarchive seems to preserve the permissions unless directed otherwise.

[2021-01-19 22:04] sivel commented on #73292
The error `Failed to get information on remote file` happens when ansible cannot stat a file.

That appears to be happening on the `template` task, before the task does anything else.  The `stat` is one of the very first things that happens.

[2021-01-19 22:06] gituser-ensco commented on #73292
that makes sense...when using template files, does the ansible host first copy the file to a tmp location on the node...then copy from the tmp location to the target destination? I am trying to understand how to troubleshoot this on the specific hosts that are failing. This same playbook works properly on over 30 50 hosts and fails only on about a dozen.

[2021-01-19 22:26] sivel commented on #73292
Ansible will copy the file to a temp location on the node, and then move the file to the indicated dest.  But it seems like the file exists, but cannot be stat by the remote user.

[2021-01-19 22:36] gituser-ensco commented on #73292
Thanks....sometimes just need someone else prodding me. The issue is the ansible user running the playbooks does not have sudo on the set of RHEL6 hosts it is failing on. Simple issues like that are the easiest thing to overlook.

Please go ahead and close this issue as keyboard driver is failing. :)

[2021-01-19 22:39] sivel commented on #73292
Closing per above.

[2021-01-19 22:39] #73292 closed, assigned to nobody

[2021-01-20 02:14] Lin-Buo-Ren commented on #63067
Do user/group ownerships are left intact, also?

[2021-01-20 03:48] bnevis-i commented on #46963
Perhaps an easier workaround?

[code]

[2021-01-20 05:54] Akasurde commented on #73300
!component =docs/docsite/rst/user_guide/playbooks_filters.rst

[2021-01-20 05:55] Akasurde commented on #73300
resolved_by_pr #73302

[2021-01-20 05:56] Akasurde commented on #73300
@Jarshvor Could you please check if PR #73302 and let me know if it works for you? Thanks.

[2021-01-20 07:51] PierreLesouhaitier commented on #73244
I think the no_log option in the playbook header results in the whole task to be not logged. It is a problem for us as we miss many logs. My request is to have only the token in the request header to be obliterated.

[2021-01-20 07:59] FrelDX opened #73304 "About yum module, cache"
Everyone, recently I met a requirement, a very special requirement. I can only use Yum cache to install some RPM packages. After reading the documents of ansible Yum module, I found that ansible seems to have no parameters at present. Setting ansible only installs from cache, (similar to Yum - C)

[2021-01-20 10:38] darksoul42 opened #73305 "Service processor configuration consistency issue"
##### SUMMARY
After upgrading ONTAP from version 9.5 (BMC firmware 11.3) and when upgrading NetApp from ONTAP 9.7 to 9.8 (BMC firmware 11.5), there is a problem with the BMC/SP network configuration becoming inconsistent.

This results in sensors not working anymore (command "sensors show" fails with a timeout), and the error message suggests the network configuration is not done. This causes a va

[2021-01-20 10:41] #73305 closed, assigned to nobody

[2021-01-20 11:39] Jarshvor commented on #73300
Thanks for adding the relevant component @Akasurde. I missed that part.

I guess, for me, the note is better than before. However, if you're going to keep that wording, I would include the sentence about jmespath installation in the beginning. Otherwise we split talking about the syntax in the first and last sentences (chucking that reminder about the dependency in the middle).

A better alternati

[2021-01-20 12:29] giner commented on #58835
I don't know if the cause is the same but I'm seeing a similar issue with loops wrapped into false conditionals (which should be just ignored), here is an example which fails on Ansible 2.7, 2.8 and 2.10:
[code]
[code]
[code]

[2021-01-20 14:10] craph opened #73306 "Leading zero are truncated in variable from inventory"
##### SUMMARY

In my inventory file I have define a custom variable for a server like this
`myserver Time=05.30`

When I want to display the variable Time I see 5.3 instead of 05.30

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.8

##### STEPS TO REPRODUCE

Create a line with a custom variable in in

[2021-01-20 14:16] VladAdGad opened #73307 "apt update on Ubuntu is not idempotent (update_cache)"
##### SUMMARY
apt update on Ubuntu is not idempotent (update_cache)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04 vagrant box
[code]

##### STEPS TO REPRODUCE
Just run the task below on Ubuntu.

[code]

##### EXPECTED RESULTS
Idempotent on Ubuntu as on other OSes for example Debian. On Debian I don't have this pr

[2021-01-20 14:35] FragmentedPacket commented on #72006
@sivel I was wondering if this feature was going to make it into the 2.11 release?

[2021-01-20 15:05] sivel commented on #73306
This is a result of a note that is described in the synopsis of the `ini` inventory format as described at https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ini_inventory.html

To achieve your goal, you can either move that `Time` variable to `host_vars/myserver.yml` and define it in YAML, or define it in the `ini` format in a way that `ast.literal_eval` will maintain the string

[2021-01-20 15:05] #73306 closed, assigned to nobody

[2021-01-20 15:24] bcoca commented on #34760
fixed via #45499 and #48883

[2021-01-20 15:24] #34760 closed, assigned to bcoca

[2021-01-20 16:32] uvu9Ba opened #73308 "--ask-become-pass not working when fingerprint is enabled"
##### SUMMARY
If a fingerprint login is enabled for authentication, `sudo` changes its behavior. It asks first to put your finger on the fingerprint sensor if this failed tree times you get asked for your actual password. `--ask-become-pass` is not working when a fingerprint login is enabled.

![Fingerprint Login in GNOME](https://i.imgur.com/04xHlxr.png)
![sudo with fingerprint login](https://i.i

[2021-01-20 18:21] mstrent commented on #73042
I hit this issue running Ansible from Microsoft Azure DevOps' Ansible module. Thanks so much for the patch!

(AzDevOps' Ansible module interprets any output to stderr as a failure by default.)

[2021-01-20 19:05] kdelee opened #73310 "Difficult to use file-type modules inside of containers because of how module utils is implemented"
##### SUMMARY
A task running locally that uses a file-type module can encounter a traceback due to a “invalid cross-device link” when ansible is running inside of a container with mounted volumes. This is due to a common practice where a module writes to `ansible_remote_tmp` as a staging area, and then uses [module_utils](https://github.com/ansible/ansible/blob/42bc03f0f5740f2340fcdbe7555792055262

[2021-01-20 19:05] kdelee commented on #73310
@mattclay can we get the `tower_blocker` label put on this issue?

[2021-01-20 20:11] sivel commented on #73310
This is largely already resolved.

In https://github.com/ansible/ansible/pull/70722 we fixed the `unsafe_writes` fallback, so that the exception you mention no longer happens.

This would however require you to add `unsafe_writes: true` to all tasks where this could happen.

In https://github.com/ansible/ansible/pull/73282 we are adding support for the `ANSIBLE_UNSAFE_WRITES` env var to be set on

[2021-01-20 20:50] #71618 closed, assigned to nobody

[2021-01-20 20:58] kdelee commented on #73310
I think that it is considered an unacceptable workaround for tower/awx users to have to do this on all their content that used to work

we're concerned that setting this globally is too broad

and that we need a way that does not affect EVERY host, just actions locally in the container

[2021-01-20 21:00] sivel commented on #73310
You would likely want this to either be dictated by the host.  In the example of localhost, and targeting localhost, you would do something like:

[code]

This would only impact localhost, and not affect all hosts.  It's not a config entry, it's a fallback that modules will use for the `unsafe_writes` module argument.

[2021-01-20 21:09] sivel commented on #73310
So in an execution environment, an `ENV ANSIBLE_UNSAFE_WRITES=1` could be set in the `Containerfile`/`Dockerfile` which would be used for all file modules supporting `unsafe_writes` that target `localhost` only.

[2021-01-20 21:19] bcoca commented on #73310
| Hypothetically, the module could detect what volume the destination is in, and use a tmp stage file in that volume.

This is already the case, the file is copied to tmp location in same volume if the initial `rename` didn't work, `unsafe_writes` ONLY comes into play if all other attempts to atomically update the file failed.

[2021-01-21 02:47] darksoul42 commented on #73305
Sorry for the trouble. Re-posted the issue on the collection repository -> https://github.com/ansible-collections/netapp/issues/80

[2021-01-21 04:08] homerl commented on #30411
If the apt or yum repo could not work. the client will hang too.

[2021-01-21 05:31] rtgibbons commented on #38791
I just ran across this and decided I'd try to document what I found to hopefully help out the next and provide direction for this and the other issues that have been created around the execution order of this module.

It appears this is a failure due to some operations performing a `module.json_exit` without checking if there is more work to be completed. I've believe these are the follow states.

[2021-01-21 05:47] poptar7 opened #73313 "delegate_to does not determine ansible_host if ansible_host is built with variables"
##### SUMMARY

If ansible_host is set using variables and delegate_to is used, ansible will use the current host's variables not the host being delegated to.

Tested against 2.10.5 as well as 2.11.0.dev0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Example ansible is ran on ubuntu 18.04 host.

[2021-01-21 06:38] ckupe commented on #64612
This is still an issue. Running into this testing against CentOS 8 on docker through molecule.
Would love to use this, but I have to add non-idempotent tasks that formats an absolute path just for this module to work.

If I use the path provided by stat/file/copy/get_url returns, this module just keeps throwing this error if the tarball isn't at root. It really doesn't like extracting a .tar.gz if

[2021-01-21 08:57] SHMarcoG opened #73314 "Doesn't remove port from VLAN in ICX module"
##### SUMMARY
Hi,

I'm using the ICX_VLAN module.
Everyting is working fine, but when i try to remove a port form a VLAN nothing happens.
Ansible returns OK.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ICX_VLAN

##### ANSIBLE VERSION
ansible 2.10.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/etc/ansible/moduless']
  ansible python module location = /home/

[2021-01-21 09:02] mkrizek commented on #73314
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2021-01-21 09:02] #73314 closed, assigned to nobody

[2021-01-21 09:08] SHMarcoG commented on #73314
Thanks for your fast response!

[2021-01-21 09:45] unicode-it opened #73316 "On Ansible Version 2.9.16 replace module is not working as documented"
##### SUMMARY
Regex capture groups capture wrong strings.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
replace module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
File /somefile:
[code]
Vars:
[code]

Task:
[code]

##### EXPECTED RESULTS

String gets replaced with:

[code]

##### ACTUAL RESULTS

This string is created:
[

[2021-01-21 10:09] Akasurde commented on #46052
@relrod @sivel I think this is already mentioned [Defining variables at runtime](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#defining-variables-at-runtime).

So can we close this issue?

[2021-01-21 10:17] mkrizek commented on #73316
This is not a bug. What happens is that
[code]

is templated to
[code]

which means that it is effectively using back reference of `\1100`. You need to somehow separate the back reference and the subsequent number, for example like so:

[code]

User questions are better suited for either the mailing list or the IRC channel:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.

[2021-01-21 10:17] #73316 closed, assigned to nobody

[2021-01-21 11:28] kshpak opened #73317 "Ansible all -m ping fails on second managed node"
##### SUMMARY
While doing `ansible all -m ping` Ansible successfully pings only one managed node

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Ansible master with a private and public key generated under custom location (non-default ~/.ssh/), custom key names for keys
- Maste

[2021-01-21 12:58] unicode-it commented on #73316
@mkrizek Thank you very much for your quick support. Since, at least as I see it, this behavior is far from obvious I would find it appropriate to mention it in the docs.

[2021-01-21 13:55] Subtalime commented on #49254
If using a Bastion-Host, have you tried this
https://github.com/ansible/ansible/issues/49254#issuecomment-613121141

[2021-01-21 15:08] samdoran commented on #64612
This is on my list. I haven't forgotten about it but am just working on other things at the moment.

[2021-01-21 15:12] kshpak commented on #73317
[Update]
After I remove the password from my private key, everything starts to work fine
I recheck and with password on my private key Ansible prompt few times to enter the password and then fails

[2021-01-21 15:41] NotAFile commented on #46052
looks like it, thanks!

[2021-01-21 15:41] #46052 closed, assigned to Akasurde

[2021-01-21 16:22] alper opened #73318 "A native way to read in .env files"
It would be nice to have a native way to read in `.env` files which are by now fairly common when configuring projects.

I can imagine having ansible variables be seeded from them and the contents of a `.env` file being set in the environment where things are being deployed.

[2021-01-21 16:49] bcoca commented on #73313
dupe of #72776

[2021-01-21 16:49] #73313 closed, assigned to nobody

[2021-01-21 17:24] samdoran commented on #69946
This looks like a failure to update the apt cache. Cache update retrying was added in #57266. Please try with Ansible 2.10 and see if that resolves the issue.

needs_info

[2021-01-21 17:31] samdoran commented on #69946
The distribution information looks correct in my testing.

[code]

Test playbook:

[code]

Partial output:

[code]

On the container:

[code]

[2021-01-21 18:47] holser opened #73320 "private_key parameter in synchronize module doesn't work when private_key_file is specified in ansible.cfg"
##### SUMMARY
 private_key parameter in synchronize module doesn't work when private_key_file is specified in ansible.cfg

##### ISSUE TYPE
- Bug Report
When private key is specified in ansible.cfg private_key is ignored in synchronize module

##### COMPONENT NAME
module: synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux release

[2021-01-21 18:53] #73320 closed, assigned to nobody

[2021-01-21 18:56] bwoebi opened #73321 "run_tags for playbook imports"
##### SUMMARY
Add `run_tags` attribute to `import_playbook`.

Then ansible will execute all tasks matching explicitly provided tags on the command line, as well as all tags specified by all `run_tags` of any `import_playbook` on the import stack. Encountering `run_tags` will overwrite any previously specified `all` tag on the current import stack.

I'm not yet sure on what the best semantics are f

[2021-01-21 19:13] s-hertel commented on #73304
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

The `yum` module has an `update_cache` option that might resolve this for you. If you have further questions, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.go

[2021-01-21 19:13] #73304 closed, assigned to nobody

[2021-01-21 19:19] s-hertel commented on #73307
This is working as expected. Not all operations are idempotent. You could use the cache_valid_time option to control when it's updated.

If you want to contribute this as a feature though, it isn't something we'd oppose.

[2021-01-21 19:19] #73307 closed, assigned to nobody

[2021-01-21 19:22] s-hertel commented on #73308
This is working as expected. Ansible does not support MFA.

List Information
================

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows u

[2021-01-21 19:22] #73308 closed, assigned to nobody

[2021-01-21 19:27] VladAdGad commented on #73307
In my opinion it is not working as expected because documentation don't mention it is not idempotent as in other modules. So you it is actually a bug or not well documented

[2021-01-21 19:30] s-hertel commented on #73317
You should add they password-protected key to the ssh-agent (or use tower).

List Information
================

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate i

[2021-01-21 19:30] #73317 closed, assigned to nobody

[2021-01-21 19:35] s-hertel commented on #73318
We don't have plans to add this, but there are a few ways you could do this already (such as via a custom connection plugin or loading the file and using it to populate the `environment` keyword).

[2021-01-21 19:35] #73318 closed, assigned to nobody

[2021-01-21 19:43] s-hertel commented on #73321
We think a simpler approach is to partition the playbook instead of handling this logically. We've had similar discussions for roles and rejected the feature. You could also handle this via your execution environment (such as via tower jobs or a shell script).

[2021-01-21 19:43] #73321 closed, assigned to nobody

[2021-01-21 19:51] bwoebi commented on #73321
@s-hertel Partitioning the playbook does not really work due to the  amount of sub-playbooks and roles within.

And yeah, we currently have a couple shell scripts calling ansible with different playbooks with tags sometimes.
I wished I could integrate this properly in a single playbook for a nice integrated ansible experience. And this is the only roadblock I'm hitting.
For roles I can agree with

[2021-01-21 20:16] sangdrax8 commented on #68361
A fix has been mentioned for 2.9.11, but it appears this is still open.  Is there a fix still expected for this?

[2021-01-21 20:29] techtonik commented on #64612
Nobody would mind against a [`draft PR`](https://github.com/ansible/ansible/pulls?q=is%3Apr+is%3Aopen+is%3Adraft). Everybody could be hit be a bus with COVID patients.

[2021-01-21 20:33] alper commented on #73318
OK. I can sympathize with this and I've googled around to see how people have gone about this and I can't say I was particularly pleased with how that looks but I'll try.

[2021-01-21 20:35] sivel commented on #68361
Yes, however a lot of testing needs to be done on any solution we come up with, to ensure whatever change we make, does not cause other issues.  The fix mentioned in this issue has been rules out as it doesn't fully address the issues.

Although this issue does affect some collections, there are workarounds collection authors can make to not run into this issue (See all of the commits for other re

[2021-01-21 20:58] rwagnergit commented on #72776
@bcoca and @sivel (and anyone running into this) - following #ansible-meeting this morning, you suggested using set_fact to create the variable I need in ansible_connection.  I tried that, but I cannot set a fact **for localhost** using set_fact:

I tried:
[code]

To examine hostvars['localhost'], I used:
[code]
but that yields "VARIABLE IS NOT DEFINED!" in both cases.

However, setting the variab

[2021-01-21 22:00] bcoca commented on #72776
see `delegate_facts`: https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegating-facts

[2021-01-21 23:12] #48782 closed, assigned to relrod

[2021-01-22 02:34] schnipdip opened #73326 "A Catalog.yml file to encompass a grouping(s) of Collections of Namespaces"
##### SUMMARY
A 'Catalog.yml' file that includes a logical grouping(s) of Collections that span the Ansible domain. Collating  the namespaces into a single file will keep playbooks clean as well as increase the manageability of namespaces.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
catalog.yml

##### ADDITIONAL INFORMATION

Much like hosts.yml to create your inventory, catalog.yml can

[2021-01-22 04:59] #69203 closed, assigned to relrod

[2021-01-22 06:22] abadger opened #73327 "Problems with the list of plugins in plugins/plugins.rst"
##### SUMMARY

When you run the `ansible-galaxy collection init NAMESPACE.COLLECTION` command, it creates a sample collection directory layout.  In the plugins folder there is a README.md file which lists the directories for plugins which ansible recognizes.  It reads as follows:

The list of plugin types on https://docs.ansible.com/ansible/devel/plugins/plugins.html has some problems, however:
*

[2021-01-22 07:40] #73004 closed, assigned to eqrx

[2021-01-22 08:31] valentin-krasontovitsch commented on #73004
Thanks to the one with the glasses!

[2021-01-22 09:15] Altiire commented on #69946
I don't have the problem anymore. I have upgraded ansible to 2.10 using pip3 to use python3 instead of python2

[2021-01-22 11:26] axel3rd commented on #69203
Just to be sure about the future; linked to:
- this commit
- the issue #63067
- this exchange (Ubuntu 20.04 vs 20.10)
- the fact that only new ansible release published on PPA include new OS distribution if not existing previously

What is the synthesis matrix of what will be published on http://ppa.launchpad.net/ansible/ansible/ubuntu/dists/ ?
- Ansible version (2.10 / 2.11)
- Ubuntu version (20.

[2021-01-22 14:13] rwagnergit commented on #72776
I'll be damned.  Thanks @bcoca.  Just needed:

[code]

And then use it as above:

[code]

I tested this workaround successfully in 2.9.17 and 2.10.5.

[2021-01-22 15:06] s-hertel commented on #19681
Sorry for the delayed response. As noted above, this is a configuration issue. We don't plan to make the module silently succeed or try to detect if we're running in a container, but you can handle this in the playbook with `failed_when`. You could also use a conditional on your `hostname` tasks like `when: ansible_facts.virtualization_type not in ('docker', 'container', 'containerd')`.

[2021-01-22 15:06] #19681 closed, assigned to alikins

[2021-01-22 15:08] s-hertel commented on #23727
I think this has been resolved by https://github.com/ansible/ansible/commit/13aff08748167b761c1a61fbd517032e7ac1511c and there should be a more informative error message.

[2021-01-22 15:08] #23727 closed, assigned to nobody

[2021-01-22 15:16] s-hertel commented on #31022
Since there are only a couple issues open, we'll handle the rest as individual tickets.

[2021-01-22 15:16] #31022 closed, assigned to nobody

[2021-01-22 15:20] s-hertel commented on #65920
We discussed this in backlog today and don't plan on adding this because existing build systems already handle more than we want to include in `ansible-galaxy`.

[2021-01-22 15:20] #65920 closed, assigned to nobody

[2021-01-22 15:23] s-hertel commented on #19814
Closing as a duplicate of #19681.

[2021-01-22 15:23] #19814 closed, assigned to alikins

[2021-01-22 15:24] s-hertel commented on #63877
cc @mattclay

[2021-01-22 15:25] eranha opened #73329 "loop over dict fails when only one element detected"
##### SUMMARY
when dict contains only one element loop fails. Used the eample in the documentation:
`fatal: [localhost]: FAILED! => {"msg": "Invalid data passed to 'loop', it requires a list, got this instead: {'key': 'alice', 'value': {'name': 'Alice Appleworth', 'telephone': '123-456-7890'}}. Hint: If you passed a list/dict of just one element, try adding wantlist=True to your lookup invocation

[2021-01-22 15:26] s-hertel commented on #68365
cc @mattclay

[2021-01-22 15:27] sivel commented on #73329
The error message indicates the solution:

So either use:

[code]

or

[code]

Or more preferably, don't use lookup at all, and use the `dict2items` filter:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-22 15:27] #73329 closed, assigned to nobody

[2021-01-22 15:36] s-hertel commented on #31979
This looks like it may be a duplicate of #29778

[2021-01-22 15:42] s-hertel commented on #47097
@pankajcheema Sorry for the delayed response. There isn't enough information to reproduce this with the task provided. Can you provide a complete reproducer as well as the complete output of your task (with -vvvv) when it fails?

[2021-01-22 15:46] s-hertel commented on #42933
It looks like metadata is necessary to remove an existing role with --force, but since a role isn't required to have metadata we should probably fix this.

@Seb0042 there's a `--force-with-deps` flag for installing dependencies

[2021-01-22 16:01] s-hertel commented on #69227
@ikhan2010 @acozine - Do we want to add some documentation or content to address this?

[2021-01-22 17:02] ikhan2010 commented on #69227
@jillr ^^

[2021-01-22 17:15] azrdev opened #73331 "builtin.constructed list in keyed_groups.key evaluated literally instead of hostvars[key]"
##### SUMMARY

Putting a string into `keyed_groups[i].key` adds host to a group `group = hostvars[host][key]`.
Putting a list of strings there uses these as literal group names instead of keys into the hostvars, and applies these to *all* hosts

There is code for handling key being a list/dict here, but it differs from string handling:
https://github.com/ansible/ansible/blob/e6da5443101cc815cb4799

[2021-01-22 17:26] azrdev opened #73332 "builtin.constructed: allow keyed_groups to assign multiple groups based on list in hostvars[key]=[list,of,groups]"
##### SUMMARY

Putting a string into `keyed_groups[i].key` in constructed.yml inventory adds any host to a `group = hostvars[host][key]`.
If `hostvars[host][key]` is a list (or dict?) though, the contained strings are concatenated with `_` to form the group name.

Instead I'd expect each of the list values to be taken as a different group to put the host into.

Related to #73331

##### ISSUE TYPE

[2021-01-22 18:30] tchernomax opened #73333 "import_role: unexpected behavior when using variable for the name option"
##### SUMMARY

[code]
does not behave as I would expect it to. see section STEPS TO REPRODUCE

I think I understand why it behave like that but I don't know if it's a bug or if it's expected.

I think that ansible parse the playbook before the inventory, so it import the role before it having the right value for "role_to_import".
Also this play works:
[code]

##### ISSUE TYPE
- Bug Report

##### C

[2021-01-22 18:47] sivel commented on #73333
`import_tasks` cannot rely on host vars to control its behavior as it is a pre-processor macro that applies to playbook generically without any host context.

To utilize host context, you must instead use `include_tasks` which is a runtime trigger that can be influenced on a per host basis.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2021-01-22 18:47] #73333 closed, assigned to nobody

[2021-01-22 18:49] tchernomax commented on #73333
Ok, that's what I thought but I wanted to be sure it was an expected behavior.
Thanks

[2021-01-22 19:19] NonLogicalDev commented on #36806
I would also second this, I feel like `import_roles/playbooks/tasks` allowing `vars_files` would make a huge quality of life improvement, as they will allow users to treat `import_*` as sort of function like blocks.

For example, you could then easily do: (somewhat contrived example)
[code]

At the moment the closest you can come to that simplicity is (if you want the tags to work correctly)
[code

[2021-01-22 19:28] bcoca commented on #46053
apt_key only checks that the key signature already exists, it does try ignore signatures for expired keys but there is no code that looks to see if the key itself has extra information now.

[2021-01-22 19:31] bcoca commented on #55590
Should we just note that the apt-key module should not be used with newer releases and instead use get_url to put the keys in the proper place, but keep for backwards compat.

[2021-01-22 19:33] bcoca commented on #70998
Considering  that apt-key should not be used anymore (see #55590) and get_url already handles this in better ways, should we just close this issue?

needs_info

[2021-01-22 19:35] bcoca commented on #72741
tried fixing in #73334, but it seems that 'apt-key' command can return 'all fine' .. but then when we try to verify the key was added, it did not happen. I've updated info in the error message, but I'm still not sure how this happens.

[2021-01-22 19:39] bcoca commented on #46053
considering #55590 hints we should not be using apt-key anymore, is this still a concern?

was thinking real fix was adding --force as dumping the full keys and comparing them seems overkill.

needs_info

[2021-01-22 19:42] samdoran commented on #69946
@Altiire Thank you for following up.

[2021-01-22 19:42] #69946 closed, assigned to nobody

[2021-01-22 19:50] bcoca commented on #40827
get_url has proxy handling built in, for apt_key (in #73334) we add proxy support for the builtin ansible download methods.

proxying for apt-key/repository will still not work when using the apt toolkit as it does not seem to acknowledge the standard environment variables.  Since these tools are also deprecated upstream I'm going to close this ticket since ti won't be relevant much longer and a s

[2021-01-22 19:50] #40827 closed, assigned to nobody

[2021-01-22 20:00] #73089 closed, assigned to nobody

[2021-01-22 20:11] sivel commented on #36806
It's not strictly required, but the work I am doing in https://github.com/ansible/ansible/pull/73309 would make this much easier to deal with.  I wouldn't work on adding `vars_files` until that PR merges, or we determine that #73309 is not feasible.

[2021-01-22 20:23] #72649 closed, assigned to nobody

[2021-01-22 20:41] #73300 closed, assigned to Akasurde

[2021-01-22 22:02] jillr commented on #69227
@s-hertel Apologies I'm not sure what the request is here.  Would the proposed `import_inventory` be something cloud specific, or in lieu of that module are we talking about instead creating a guide for how to work with complex inventories scenarios like folks might be likely to encounter with cloud?

[2021-01-22 22:24] bobsaintcool commented on #66023
Ensure what to do now, with this feedback sorry.

[2021-01-22 23:17] #67115 closed, assigned to nobody

[2021-01-23 09:24] ssbarnea opened #73337 "RFE: ansible-playbook --syntax-check should accept multiple playbooks"
##### SUMMARY
At this moment `--syntax-check` works only with a single playbook and this has serious repercussions because Ansible own instantiation time is resource intensive ( >~1.5-2s).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION

If a repository has 300 playbooks it means that ~600 seconds would likely be wasted only to instantiate Ansible for each

[2021-01-23 12:31] ssbarnea opened #73338 "RFE: Ansible syntax check fails to identify requires module arguments"
##### SUMMARY
While ansible syntax check is able to detect missing modules it is not able to detect missing required arguments, and it should.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
syntax-check

##### ADDITIONAL INFORMATION
Take a look at example below:

[code]
`dest` is required based on https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html and this

[2021-01-24 00:29] dpantel opened #73344 "File touch inside LXD container fails with "Permission denied" error despite correct permissions"
##### SUMMARY

Using "touch" state of the File module fails with "Error, could not touch target: [Errno 13] Permission denied" message.

Performing the touch command manually, or using the ansible script directly succeed without issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

File

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 20.04 LXD con

[2021-01-24 13:42] anthr76 opened #73345 "urlsplit not working as expected"
##### SUMMARY
urlsplit as explained in the [docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#splitting-urls) is not working as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

urlsplit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS - Ubuntu 20.04
Host OS - Fedora 33

[code]

##### STEPS TO REPRODUCE

1. C

[2021-01-24 14:51] tadeboro commented on #70998
@bcoca If something along the lines of "Use M(ansible.builtin.get_url) if your distro supports dropping the key to /etc/apt/trusted.gpg.d/" is added to the apt_key module, I am perfectly fine with closing this as irrelevant.

[2021-01-24 23:25] chris-mccoy commented on #30411
Good day all.  I hate to just pile onto this issue, since it seems that a great variety of things can cause it.  I would just like to report I'm experiencing tasks hanging as well.  It's really started happening much more often since I upgraded to Fedora Core 33 (kernel version 5.9.16-200.fc33.x86_64).  It appears to be a purely client-side issue.  The symptoms are the python3 module has finished

[2021-01-24 23:27] dezza commented on #30411
try killing the process that hangs on the server and receive the output back to ansible

[2021-01-25 01:48] chris-mccoy commented on #30411
Hi @dezza

There doesn't appear to be one on the server sometimes, so there's nothing to kill.  If I kill SSH on the client, it just retries and mostly succeeds...mostly.  This is what it looks like after the SSH connection has timed out completely on the server side, but the client stays hanging.

Here's the client-side running Ansible:

[code]
[code]

Server side searching by TCP socket:

[code]

[2021-01-25 04:48] jborean93 commented on #73256
I'm not sure what is happening here but my first thoughts would be some antimalware program is stopping Ansible in it's tracks causing the memory violation error. Based on the stacktrace the error is happening in PowerShell trying to run and it's not very clear whether the issue is due to some statement we are trying to run or just PowerShell itself failing to run the code itself. I would check an

[2021-01-25 10:05] ssbarnea opened #73347 "Documentation on requirements.yml is confusing or misleading"
##### SUMMARY
* Galaxy docs from https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#installing-roles-and-collections-from-the-same-requirements-yml-file mention the newer dictionary format with roles and collections but does not mention if the same format can be used for inside-role `meta/requirements.yml`. We could assume they should, but that is not specified anywhere.
* Same documen

[2021-01-25 10:06] wouterhummelink opened #73348 "DNF module fails if called twice in a playbook with "load_plugins() called twice" on RHEL8 with mitogen"
##### SUMMARY
We use ansible in conjuntion with podman, molecule and mitogen to test our ansible playbooks. Testing our playbooks with mitogen enabled is currently impossible due to dnf leaving global state in mitogen's remote process.
See https://github.com/mitogen-hq/mitogen/issues/776)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2021-01-25 11:00] melbalewis opened #73349 "Memory issue with include_tasks in ansible version 2.10.3"
##### SUMMARY
Huge Memory issue with include_tasks in 2.10.3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
ansible-playbook 2.10.3

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Tried on 2 OS.Faced the same issue RHEL 7.7 and RHEL 7.8

##### STEPS TO REPRODUCE
1. Add around 170 ansible yaml files to include
2. Use include_tasks
3. Then try with inc

[2021-01-25 11:33] mkrizek commented on #73345
I suspect you want something like the following:

[code]

Please see documentation for the debug module at https://docs.ansible.com/ansible/latest/collections/ansible/builtin/debug_module.html.

User questions like this are better suited for the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-25 11:33] #73345 closed, assigned to nobody

[2021-01-25 12:13] egarbi commented on #72061
Confirmed what @ursetto pointed out. Disabling subscription-manager cause will prevent this issue to happen.

[2021-01-25 13:01] reporter4u commented on #72615
It seems this issue is propagating to newer minor release since I've upgraded from 2.9.15 to ansible-base 2.10.x  but is still present.

These are my tests:

- ansible-base from 2.10.0 to 2.10.5 and jinja2 2.10 bug is present
- ansible-base 2.10.5 and jinja2 2.11.2 not working bug is present

The behaviour is the same as shown in _actaul results_.

Is it possible to change the priority of this iss

[2021-01-25 13:05] mkrizek commented on #72615
@reporter4u Would you mind testing https://github.com/ansible/ansible/pull/72830 and let us know if it fixes the issue with your playbooks? Thanks!

[2021-01-25 14:19] jmacorotan opened #73351 "default value for undefined ansible facts not working in ansible 2.7 but working in ansible 2.8"
![2 7](https://user-images.githubusercontent.com/77975987/105717615-505f0800-5f5b-11eb-822f-9c93770faa69.PNG)
![2 8](https://user-images.githubusercontent.com/77975987/105717630-5523bc00-5f5b-11eb-9675-470f9ba12793.PNG)

##### SUMMARY
* Default value for undefined ansible facts not working in ansible 2.7 but working in ansible 2.8.
* See attached screen captures

##### ISSUE TYPE
- Bug Report

###

[2021-01-25 14:27] mkrizek commented on #73351
Ansible `2.7` reached EOL and is not maintained anymore, see https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html for supported releases.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-25 14:27] #73351 closed, assigned to nobody

[2021-01-25 14:39] jmacorotan commented on #73351
how do I assign a default value for 2.7 if the ansible fact is not existing?

[2021-01-25 15:04] reporter4u commented on #72615
@mkrizek I've test your patch and seems working fine.

Since I'm not a developer I want to show you the steps which I used to perform my test:

- i pulled the Ansible project from here
- I checked out devel branch
- I copied your file from https://raw.githubusercontent.com/mkrizek/ansible/72615-jinja-context/lib/ansible/template/vars.py to my devel branch into `lib/ansible/template/vars.py`
- From

[2021-01-25 15:22] mkrizek commented on #72615
@reporter4u Instead of copying file(s) from the pull request branch, you can actually pull that branch, see: https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr.

No, the PR is waiting to be reviewed. But good to know it works for you, thanks!

[2021-01-25 15:25] sivel commented on #73347
`meta/requirements.yml` only supports the v1 requirements format.

[2021-01-25 15:28] jmacorotan commented on #73351
thank you @bcoca

can you perhaps point me how the current syntax should be as I am getting this errors
![image](https://user-images.githubusercontent.com/77975987/105726407-01b66b80-5f65-11eb-935b-86bbd940d10c.png)

[2021-01-25 15:43] tms0 opened #73352 "ansible_distribution_version return 3.2 on my debian buster"
##### SUMMARY
The ansible_distribution_version is totally wrong on my debian buster, it says 3.2 instead of 10.
It worked until a few days ago, I don't know what happen !

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian buster

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible_distri

[2021-01-25 15:53] bcoca commented on #30411
@chris-mccoy It may not be a networking issue, the kernel change suggests it could be how the process is ending and not killing the ssh session with it, as long as the client side does not detect an EOF it won't close the connection, if keepalive still works ... then it will wait indefinitely.

[2021-01-25 15:56] bcoca commented on #73337
moving the syntax check to a strategy (like i'm trying to do here for --list*) would fix the issue as it would go through normal 'playbook_iterator'.

https://github.com/bcoca/ansible/tree/list_strategy

[2021-01-25 15:58] bcoca commented on #73338
this requires 'controller side module argument loading' .. which has been on many people's list for some time, it would move initial verification to the action plugin. Then switch from  normal.py/matching to syntax_check.py for all actions.

[2021-01-25 16:14] ssbarnea commented on #73347
To double check, please correct me if needed:
- root reqs supports both formats
- role-reqs supports only v1
- side-effect: a standalone-role cannot depend on collections
- side-effect: a collection can depend on a standalone-role, if you add it to your v2 file inside roles:.... still, it is up to the user to install them using current command as they are not automatically installed.

AFAIK galaxy

[2021-01-25 16:29] ssbarnea commented on #73337
That list looks brilliant as it could be used to produce some kind of "AST" of what it would run. If that is returned as JSON it could enable lots of other use cases in addition to linting, for example enable us to produce code **coverage reports**.

Over the last years I was asked by many users around how code coverage reports for ansible. I can see why they wanted it, especially as it would allo

[2021-01-25 16:36] bcoca commented on #73337
if you pair the strategy with the json callback ....

[2021-01-25 17:30] relrod commented on #73352
@tms0 I'm not able to reproduce this, I just tried in a `debian:buster` container.

[code]

It's the same both with and without `lsb-release` installed.

Can you run [this script](https://github.com/ansible/ansible/blob/devel/hacking/tests/gen_distribution_version_testcase.py) and provide the full output? It might help us narrow in on the issue.

[2021-01-25 17:50] webknjaz commented on #73347
Sounds like you confuse environment and package (role or collection) dependencies. Collection dependencies are **only** specified in `galaxy.yml` for development and are then moved to `MANIFEST.json` inside the built artifact, they only have a mapping of FQCN to version, that's it.

Another thing is `requirements.yml` (could be called anything, actually) that one must use via `ansible-galaxy colle

[2021-01-25 17:50] tms0 commented on #73352
Hi @relrod,

[code]

I hope this helps !

[2021-01-25 17:52] s-hertel commented on #73347
Well, couldn't you also use a FQCN in a standalone role's deps and have the side-effect of a standalone role depending upon a collection and needing to manually install that too?

A collection's roles should only depend on other roles in the collection or roles of its dependencies. A collection's dependencies are in the format {collection_identifier: version} in the MANIFEST.json/galaxy.yml and st

[2021-01-25 17:54] sivel commented on #73348
https://github.com/rpm-software-management/dnf/blob/30b53985739106e010e5ca488a993b3402dcbede/dnf/plugin.py#L127-L132

[code]

[2021-01-25 18:19] seblu commented on #65687
Just hit by this issue. Why the proposed fix is not merged yet?

[2021-01-25 18:44] kepstin opened #73357 "Variables interpolated using Jinja2 expressions in playbooks sometimes lose type information"
##### SUMMARY
Often in things like `vars:` when running a task, `set_fact:`, or directly on parameters to a module, I'd like to use Jinja2 template interpolation in the playbook to either extract a value from a complex data structure, or calculate a value. However, instead of returning the correct data type, the result is often - but not always - converted to a `str`. This can result in errors in

[2021-01-25 18:46] sivel commented on #73357
Duplicate of https://github.com/ansible/ansible/issues/72722

[2021-01-25 18:46] #73357 closed, assigned to nobody

[2021-01-25 18:57] kepstin commented on #73357
Ah. I can confirm that setting `jinja2_native = True` in my ansible.cfg fixes the issue I was seeing.

This should maybe be considered a documentation issue then? There's no mention of this problem and why you might want to enabled the jinja2 native mode in [the User Guide "Using Variables"](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html) section, for example.

[2021-01-25 19:19] Shrews commented on #73349
Is this a new behavior, or have you seen this on older versions as well? Is there a version where this doesn't occur?

Can you post an example playbook?

needs_info

[2021-01-25 19:31] relrod commented on #73352
@tms0 thanks. This seems odd.

Can you run the following script (based on how `distro` determines the version with `best=True`):

[code]

One of those is tripping it up. It's taking it as "best" because it has a `.` in it when none of the others do.

[2021-01-25 19:57] tms0 commented on #73352
Thank you ! You put me on the right track :
[code]

I installed iRedMail a long time ago and it created a  `/etc/iredmail-release` file with the iRedmail version in it !
I upgraded it recently from 1.2 to 1.3.2 and it seems the 3 digit format break everything ! I renamed the file and now everything is working as expected :-)

Thank you very much for your help !

[2021-01-25 19:57] #73352 closed, assigned to nobody

[2021-01-25 21:48] webmozart commented on #30411
Not sure whether this helps anyone: I could get rid of this issue by adding more RAM to the machine executing Ansible.

[2021-01-25 21:52] jhawk28 opened #73363 ""socket_path must be a value" with get_facts"
##### SUMMARY
I get an assertion error when trying to run "get_facts" against a vyos vm.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_facts

##### ANSIBLE VERSION
ansible 2.10.5
python 3.8.2

##### OS / ENVIRONMENT
target os: vyos 1.1.8

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2021-01-25 22:14] Dos2009 opened #73364 "Strategy host_pinned output is mixed up in 2.9.15"
##### SUMMARY
Playbook output callback generates a different mixed "not accurate " output

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Strategy host_pinned output
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux release 8.2 (Ootpa)

##### STEPS TO REPRODUCE

any playbook with host_pinned strategy runs on more that one host

[code]

[2021-01-25 22:44] jhawk28 commented on #73363
I needed to add ansible_connection=ansible.netcommon.network_cli

[2021-01-25 22:44] #73363 closed, assigned to nobody

[2021-01-26 03:52] aescolastico opened #73366 "ansible-inventory not recognizing script output in Cygwin"
##### SUMMARY
ansible-inventory throwing vague error for scripted inventory source

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows + Cygwin

##### STEPS TO REPRODUCE
Ran script by executing using the "script.py --list". Script returns valid JSON. No non-alphanumeric or null group names. Example JSON output below:

[2021-01-26 07:39] kubealex commented on #30754
same with apt_repository, randomly appearing and being resolved with N iterations.

Very buggy and not reliable.

[2021-01-26 10:37] #72262 closed, assigned to mkrizek

[2021-01-26 10:37] #72615 closed, assigned to mkrizek

[2021-01-26 14:09] ssbarnea commented on #73337
I am aware about this issue but I do have an idea about how these could be covered without having to evaluate anything: i would assume all files from vars/ task/ handlers/ should be loaded by someone and add them to the coverage report discovery, even if nobody is loading them. Obviously this means that if someone does runtime includes from other locations, they are on their own.

Shortly, develop

[2021-01-26 15:09] Shrews commented on #73326
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * We think this would convolute the collection resolution process.

However, we're absolutely always up for discussion.  Since

[2021-01-26 15:09] #73326 closed, assigned to nobody

[2021-01-26 15:17] SJay3 opened #73367 "Custom binary modules not working from collection"
##### SUMMARY
We use custom binary modules for ansible, It works perfect with roles, but not with roles from collection. When we moved our role to the collection, the ansible stopped seeing the module located in /usr/share/ansible/plugins/modules.
We trying to put our module to plugins/modules folder in folder of collection and write fqcn to this module, but it didn't work

##### ISSUE TYPE
- Bug

[2021-01-26 15:22] sivel commented on #73367
FQCNs must adhere to python identifier rules, and files used as plugins/modules cannot contain hyphens.  You would likely need to convert to an underscore.

[2021-01-26 15:27] SJay3 commented on #73367
Thank! It works when i change "-" to "_"

[2021-01-26 15:27] Shrews commented on #73348
Given the above, this seems to be an interaction between mitogen and dnf API and not directly related to Ansible itself.

[2021-01-26 15:27] #73348 closed, assigned to nobody

[2021-01-26 15:28] sivel commented on #73367
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-26 15:28] #73367 closed, assigned to nobody

[2021-01-26 15:44] Shrews commented on #73366
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2021-01-26 15:44] #73366 closed, assigned to nobody

[2021-01-26 15:46] sivel commented on #73364
The problem here is related to the fact that we need to know whether a strategy operates in "lockstep" or not.  And we do this right now by comparing strategy names which isn't flexible.

To properly fix this, we need a way for a strategy to advertise information about itself, and a way to smuggle that information back into the callback plugins.

Notes to self:
1. Look into smuggling this in `Task

[2021-01-26 15:53] bcoca commented on #73331
This is expected, as the group represents the 'list of values' present.

Closing in favor of #73331 which is a feature request to make this behave differently than designed.

[2021-01-26 15:53] #73331 closed, assigned to bcoca

[2021-01-26 15:53] bcoca commented on #73332
This would require a toggle as the current behaviour is expected.

[2021-01-26 16:44] samdoran commented on #62315
resolved_by_pr #66389

[2021-01-26 16:50] #62315 closed, assigned to nobody

[2021-01-26 18:31] jeremytourville opened #73375 "K8s name is required to patch v1.Namespace"
SUMMARY
I am running the following playbook https://galaxy.ansible.com/geerlingguy/k8s

K8s module fails stating name is required to patch v1.Namespace

ANSIBLE VERSION
[code]

OS / ENVIRONMENT
ansible control node
`CentOS Linux release 8.2.2004 (Core) `

target host being configured
`CentOS Linux release 8.3.2011
`

kubectl verison
[code]

STEPS TO REPRODUCE
run playbook connecting to target
(uns

[2021-01-26 18:41] sivel commented on #73375
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2021-01-26 18:47] #73375 closed, assigned to nobody

[2021-01-26 18:57] fwiethof opened #73376 "Ansible YUM hangs when installing package"
##### SUMMARY
When installing GitLab or GitLab Runner with the Ansible YUM module, and GPG checking is enabled, the task hangs and is terminated after ~ 45 minutes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
YUM Module

##### ANSIBLE VERSION
2.9.13

##### CONFIGURATION
[ssh_connection]
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=50 -o User

[2021-01-26 19:15] zimmertr commented on #49254
Still happening to me.

[2021-01-26 20:01] esend7881 commented on #67187
Will this feature be added to ansible's next version?

Also, could an example of how to include optionals be supplied?

[2021-01-26 20:05] kmcm0 opened #73377 "fix creating IP specific vmware firewall rules when using networks/subnets"
##### SUMMARY
Specifying ip_network to add to a vmware firewall rule results in a python2 unicode error.
this was fixed for individual ip adresses but not ip networks. (https://github.com/ansible/ansible/pull/67394)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_firewall_manager.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL Server 7.8

[2021-01-26 20:10] kmcm0 commented on #73377
2.10+ avoids this issue using https://github.com/ansible/ansible/pull/67386 from what i can tell.

[2021-01-26 20:12] kmcm0 commented on #73377
i would like to request a backport, since this is broken in 2.9.X

[2021-01-26 20:13] #73377 closed, assigned to nobody

[2021-01-26 20:54] jmacorotan commented on #73351
Hi Brian appreciate if you can share insights please.

[2021-01-26 20:56] sivel commented on #73351
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-26 21:04] jmacorotan commented on #73351
thank you mate. I was hoping to really just get the correct syntax if you are aware?

[2021-01-26 21:06] smemsh opened #73378 "include_role task vars always public if brought in from static role"
##### SUMMARY
if a static role (included by play `roles` keyword) has its own `include_role` task, it appears to behave as `import_role` insofar as task vars are public (set in subsequent tasks), disregarding the `public: false` task arg

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

tested with stock default config

##### OS

[2021-01-26 21:10] smemsh commented on #73378
from #ansible 2021-01-26 19:12 UTC:

[2021-01-26 21:19] sivel commented on #73378
Directly copy/pasted your reproducer, and I cannot reproduce the behavior you describe:

[code]

I can only reproduce it if I set `public: true` on the `include_role`.

[2021-01-26 21:30] smemsh commented on #73378
uhh, you are right, I tried it in a new directory, it's not doing it.  don't understand the difference.  there are other roles and plays in the dir where i can reproduce it, but there's no config file and `ansible-config dump --only-changed` is showing empty.

sorry to waste your time, will close this for now and try to figure out how it's different and update ticket once I figure out.  thanks.

[2021-01-26 21:30] #73378 closed, assigned to nobody

[2021-01-26 21:48] smemsh commented on #73378
ok, so there was a defaults file that I missed:
[code]
removing this changes the behavior, sorry about that, I think this is correct behavior, because the parent role is setting the default in the namespace of child roles that it's calling.

If there's a way to delete github tickets so this doesn't index, please do...

[2021-01-26 22:20] beingnishas opened #73381 "ansible-galaxy collection list doesn't work"
##### SUMMARY

I am using requirements.yml file to install collections. When I try to list installed collections, the command doesn't return any packages even when collection is installed. The problem here is with ansible-galaxy package, because it only supports init, build,publish and install. Whereas docs mention list:
[code]
Whereas when I manually try to install again, I get collection already

[2021-01-26 22:29] beingnishas commented on #73381
Works only with ansible 2.10

[2021-01-26 22:29] #73381 closed, assigned to nobody

[2021-01-26 23:58] flowerysong commented on #73332
@azrdev Did you actually check the result of the example you gave?

[code]

See https://github.com/ansible/ansible/blob/13d08d232c8b692ec79dba81c9eb83887ee554a2/lib/ansible/plugins/inventory/__init__.py#L435-L437

[2021-01-27 00:25] relrod commented on #73376
Hello,

So there are a few different things here:

First, the `yum makecache` process is expected in this case:

https://github.com/ansible/ansible/blob/13d08d232c8b692ec79dba81c9eb83887ee554a2/lib/ansible/modules/yum.py#L707-L718

You're asking it to gpg-verify the repo metadata, so it needs a GPG key installed to verify it against. It uses `yum -y makecache` to try to fetch the public key.

If y

[2021-01-27 00:31] relrod commented on #72289
!component =lib/ansible/playbook/role/__init__.py

[2021-01-27 00:38] kmcm0 commented on #73377
bakport request

[2021-01-27 06:17] fwiethof commented on #73376
@relrod thanks a lot for the quick and detailed response.

The behavior is consistent. It happens every time we spin up the servers and run the playbook.

It does not happen, when I have the playbook run up to the add repo / yum install tasks, and then do the add repo / install yum manually. Interesting enough, YUM does not seem to makecache in case I manually add the repo and install the package,

[2021-01-27 06:24] melbalewis commented on #73349
We tried it over ansible-playbook 2.10.3 and also ansible 2.4 .Faced the same issue in both of them

[2021-01-27 06:27] melbalewis commented on #73349
- include_vars:
   file: varfile_1.json
   name: varfile_1

- name: Including tasks for role deployment
  include: abc/main.yml
  vars:
    var_tag: varfile_1.json

There are around 170+ include in similar way

[2021-01-27 10:04] dhanmc opened #73384 "Ansible 2.9.17 - DellOS6_"
##### SUMMARY

Running a basic playbook to backup our network of dell os6 and os9 switches. Everything was running fine with ansible 1 server, we lost server 1 and failed over to server 2 which had exactly the same build and configs.  The playbook is working as expected on all switches except for one. There has been no config changes on the switch or ansible.  I am new to Ansible and have been fol

[2021-01-27 10:08] mkrizek commented on #64611
Note: related to #64999 and #72725. POC fix at #72856.

[2021-01-27 10:19] valentin-krasontovitsch opened #73385 "user module: how-to create password hash link is broken"
##### SUMMARY

In the user module, in the docs for the password field, there is a link to instructions on how to create a password hash for the module to consume. Said link is broken, and gives a 404.

Cf. [the corresponding line in the user module](https://github.com/ansible/ansible/blob/2b0cd2c13f2021f839600d601f75dea2c0343ed1/lib/ansible/modules/user.py#L92)

this one doesn't, or i just could n

[2021-01-27 10:40] mkrizek commented on #73384
!component =lib/ansible/modules/network/dellos6/dellos6_command.py

[2021-01-27 10:45] mkrizek commented on #52561
Note: my POC PR that changes the way handlers are executed (https://github.com/ansible/ansible/pull/73159) fixes this issue.

[2021-01-27 10:51] dhanmc commented on #73384
Thank you Martin but i have no idea what that means or what you would like me to do. sorry  i am totally new to ansible and i cant seem to find that file path on the box :)

[2021-01-27 10:56] mkrizek commented on #73384
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc.os6.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/

[2021-01-27 10:56] #73384 closed, assigned to nobody

[2021-01-27 11:16] dawidkom opened #73386 "net_get can't pull file by scp from Cisco ASA"
##### SUMMARY

net_get can't pull file by scp from Cisco ASA
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

net_get
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

localhost: Red Hat Enterprise Linux Server release 7.6 (Maipo)
ASA: Cisco Adaptive Security Appliance Software Version 9.12(3)12

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Get fi

[2021-01-27 11:22] #73386 closed, assigned to nobody

[2021-01-27 14:31] kristijorgji opened #73387 "Parameter domain invalid"
##### ISSUE TYPE
- Bug Report

##### SUMMARY
Error while trying to create eip

My files and details are below

role defaults
[code]

the task that fails
[code]

All aws envs are set properly, have other modules work fine. Also error is not related to auth issue

Gives following error message:
[code]

##### COMPONENT NAME
community.aws.ec2_eip

##### ANSIBLE VERSION
ansible 2.9.9

##### CONFIGURATI

[2021-01-27 14:53] mkrizek commented on #73387
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2021-01-27 14:53] #73387 closed, assigned to nobody

[2021-01-27 15:00] Shrews commented on #73349
I discussed this with the rest of the team and this seems to be expected behavior when loading so many files. `include` used in this manner will load the files statically (before execution) and uses a much smaller memory footprint. The same is true for `import_tasks`. Dynamic loading during execution, which is what `include_tasks` does, necessitates using much more memory for various reason. The g

[2021-01-27 15:00] #73349 closed, assigned to nobody

[2021-01-27 16:54] hinchliff opened #73390 "New install of 2.10.5 via Pip (3) results in no binaries"
##### SUMMARY
Started a new system, running RHEL 7.9, using Python 3.6.8 and pip 21.0.  Used pip to install ansible 2.10.5, and while no errors were given, the resulting installation is missing the expected ansible "binaries" -- e.g. in `/usr/bin/ansible`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip packaging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2021-01-27 17:29] sivel commented on #73390
That output doesn't seem to indicate it found another Ansible install, but I cannot reproduce this on a clean EL7 (In my case I used a docker container).

Without the ability to reproduce this, you will likely need to repeat the steps and run the `pip install` with `-v` to provide verbose info.

[2021-01-27 17:45] webknjaz commented on #73390
@hinchliff I'd like to add that installing packages with pip into system-wide locations is a bad idea because conflicting with files that yum/dnf claims may damage the system.
Have you considered using a virtualenv?
What is the version of setuptools under the same interpreter/env as pip?
Also, try adding `-vv --no-cache-dir` to get more logs.

[2021-01-27 18:42] hinchliff commented on #73390
Ok, I uninstalled ansible, and reinstalled with `-vv --no-cache-dir`

[code]

Resulting in huge output file, captured in this gist: https://gist.github.com/hinchliff/cd6e288291ef35e2f0fd4144525bf4dd

And still no luck running ansible / no binaries available:
[code]

Setuptools info
[code]

[2021-01-27 18:57] hinchliff commented on #73390
I see this in the verbose logs
[code]

And that binary does exist.  Just not on my path, i guess?

[code]

hmmm...

[2021-01-27 18:58] jadestorm commented on #38050
I don't know if it's helpful to you @JacksonBellinger (still), but I just discovered that rpm_key appears to ignore the proxy_env stuff from group_vars -- BUT it abides by environment variables.  So @gthieleb 's example above should work assuming it has the proper stuff.  I don't know if you are trying it via proxy_env.

Another thing I ran into, when using this through AWX, is that I'm passing en

[2021-01-27 18:59] webknjaz commented on #73390
Yes, depending on how the software is built (like CPython), the paths may be different in different OSs, or even if there are several different interpreters on the same system.

[2021-01-27 19:04] hinchliff commented on #73390
Yeah, searching around it looks like the behavior of `/usr/local/bin` being on the PATH or not is a little odd with RHEL, maybe others too.  Part of the issue seems to be with using `sudo` / `sudo -i`, which will lose / remove that path from PATH.

This all used to work with ansible 2.9.x (2.9.6 specifically) that we have been using, where the ansible "binaries" were installed to `/usr/bin`, so it

[2021-01-27 19:16] #73310 closed, assigned to nobody

[2021-01-27 19:21] hinchliff commented on #73390
I suspect the easiest thing in my case might be to pass in extra options to the pip command, like ` --install-option="--install-scripts=/usr/bin"`

[2021-01-27 19:24] webknjaz commented on #73390
I don't think our distribution package specifies where to install scripts. It should be up to pip/CPython.

[2021-01-27 19:36] relrod commented on #73376
So, there are two distinct sets of GPG keys at play here (well, the same keys in this case, but stored in two separate places). The GPG key for **packages** gets stored in the RPM database. The GPG keys for **repo metadata** gets handled separately by Yum and stored in its own cache. The `rpm_key` handles the former -- package keys -- not metadata keys.

Basically what's happening here is:
* Ansib

[2021-01-27 19:36] #73376 closed, assigned to nobody

[2021-01-27 19:49] Shrews commented on #73385
Fixed by PR #73353

[2021-01-27 19:51] fwiethof commented on #73376
hi @relrod
thanks a lot for your really detailed explanation! this is very helpful.
actually, i did have exactly the yum_repository task that you mentioned above.
the problem is, that due to azure's bad performance at the moment, it just takes so long that it eventually times out.
so i guess we just have to increase pressure on microsoft a bit more.
for the time being, we'll try moving the yum cac

[2021-01-27 19:58] #73385 closed, assigned to nobody

[2021-01-27 20:24] #68612 closed, assigned to Akasurde

[2021-01-27 21:15] relrod commented on #43740
I played around with this back to 2.9 with the latest Haiku beta and it looks like `distro` picks it up correctly, I don't think there's anything to do here anymore.

[code]

[2021-01-27 21:15] #43740 closed, assigned to relrod

[2021-01-27 23:40] #29778 closed, assigned to nobody

[2021-01-27 23:40] #31979 closed, assigned to nobody

[2021-01-27 23:41] #55590 closed, assigned to nobody

[2021-01-27 23:41] #70998 closed, assigned to nobody

[2021-01-28 02:18] Apreche commented on #56046
Just somewhat recently started using ansible and was having a great time with it. Then I, as many others have, encountered this situation. Extremely disappointing and greatly reduces my confidence in the project. This is an enormous issue that seems to have been broken for many years and there is no real fix.

[2021-01-28 07:02] Franklin-lab opened #73397 "Enhancement_Request: Last Logged In Not Showing IP Address Information"
SUMMARY :

- I have observed that "Last Logged In" details under user management page missing the ip address of the system which user accessed the Ansible Tower he/she from their system. I would recommend along with date and time good to show the ip address of the system where user logged in. This will provide more visibility for an administrator to monitor.

ISSUE TYPE

-  Feature Idea

COMPONENT

[2021-01-28 07:40] mkrizek commented on #73397
Thank you very much for reaching out. Unfortunately, this repository does not service tower issues. Please reach out to your Red Hat support team for further assistance.

[2021-01-28 07:40] #73397 closed, assigned to nobody

[2021-01-28 10:25] oshoval opened #73400 "Unable to patch node status in order to create extended resources."
##### SUMMARY

Trying to use ansible to patch node status, fails.

##### ISSUE TYPE
- Bug Report
(unless it is known, and should be a feature request)

##### COMPONENT NAME

k8s (k8s_raw)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Using k8s v1.17.0

##### STEPS TO REPRODUCE

Trying to create extended resources with ansible.
Ansible playbook finishes succes

[2021-01-28 10:27] #73400 closed, assigned to nobody

[2021-01-28 10:57] oz123 commented on #29451
This can't be closed because apt says this:
[code]

[2021-01-28 13:47] tofi86 commented on #44382
I ran into this issue as well while proposing and implementing a feature request for the `hcloud`/`hetzner.cloud` inventory plugin: https://github.com/ansible-collections/hetzner.hcloud/issues/48

I wanted to read the cloud token from a password store. While my generic fix for the `hcloud` plugin works well, the (unofficial) Keepass lookup plugin stores it's credentials in `group_vars/all.yml` whi

[2021-01-28 14:20] vitkuz573 opened #73402 "Using the ansible_skip_tags variable individually for each host"
##### SUMMARY
I suggest that the variable ansible_skip_tags can have different values for different hosts within the same playbook

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Variable ansible_skip_tags

##### ADDITIONAL INFORMATION
It is often required that customized hosts have different ansible_skip_tags values. And now we have to make all hosts have the same value of this variable.

[2021-01-28 17:28] bcoca commented on #63786
note: a simple workaround is using a copy task to send the file prior to using git and a file task to remove afterwards.

This is basically what we would need to do in the code to provide this feature.

[2021-01-28 18:11] HarshalGupta1098 commented on #35520
can I help with this?

[2021-01-28 19:11] jborean93 commented on #73390
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * This does not seem to be related to our packaging at all but to a custom setup

As such, we're going to close this ticket.  However, we're open to being correc

[2021-01-28 19:11] #73390 closed, assigned to nobody

[2021-01-28 19:14] jborean93 commented on #73402
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * This is a read only variable and is designed to convey information and not d

[2021-01-28 19:14] #73402 closed, assigned to nobody

[2021-01-28 20:32] Jorayala opened #73407 "SyntaxError when try to install ansible"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Hi, could you please help me with this:

XXXX@XXXX-M-JFTV ~ % sudo easy_install pip
Password:
Searching for pip
Best match: pip 21.0
Processing pip-21.0-py2.7.egg
pip 21.0 is already the active version in easy-install.pth
Installing pip script to /usr/local/bin
Installing pip2.7 script to /usr/local/

[2021-01-28 20:33] sivel commented on #73407
The `pip` you are using is installed with python2.7, and `pip` recently dropped Python 2 support.

The traceback you are getting is a result of that.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-01-28 20:33] #73407 closed, assigned to nobody

[2021-01-28 20:54] TinLe commented on #20493
I have this `include_role` working.  I am using Ansible v2.10.5.

[2021-01-28 21:34] pabelanger opened #73408 "add support for authors_email in collection meta_data"
##### SUMMARY

Today, authors field in galaxy.yaml for collections is just a text field. I am suggesting we expose a new authors_email field, which could be a list, but only supports RFC822 regex.

The main reason for this, is today ansible community is generating a 2nd set of data to track colleciton owners for notification. Given, that collections have authors today, and we cannot use it, highli

[2021-01-28 21:37] sivel commented on #73408
`galaxy.yml` is just a source effectively for generating a `MANIFEST.json` and is not included in a collection, nor consulted by galaxy.

I'm guessing for us to add this, galaxy would need to support this field in `MANIFEST.json`, store it, and deliver it in API responses.

I don't think this is something that could be done only from the core side.

[2021-01-28 21:49] pabelanger commented on #73408
Right, I don't really know the moving parts. But from inside the collection, I feel there needs to be a better way to notify a collection owner. As an example setuptools has author / author-email, which is something we could do here too.  What consumes it, could be galaxy api, UI or some other machine automation, reading MANIFEST.json

[2021-01-29 00:34] mdavis-xyz opened #73410 "Specify type (e.g. bool) with vars_prompt"
##### SUMMARY

I want to use `vars_prompt` to ask a yes/no question.
I would like to add an argument to `vars_prompt`, so that Ansible will convert the input to a bool for me, so I don't have to do it.

I can also see potential for similar use cases, e.g. specifying that the input is an int or a float

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vars_prompt

##### ADDITIONAL INFORMATION

[2021-01-29 02:48] Aethylred opened #73412 "ipa_dnsrecord `no modifications to be performed` when A record already exists"
##### SUMMARY
When using ipa_dnsrecord to create & check a DNS A record it reports an error if the record exists and is not changed the IPA server responds with `msg: 'response dnsrecord_add: no modifications to be performed'`  and Ansible reports this as an error and halts.

Seems related to: https://github.com/ansible/ansible/issues/56872

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipa_

[2021-01-29 02:50] Aethylred commented on #73412
Current workaround is:
[code]

🤣

[2021-01-29 02:52] #73412 closed, assigned to nobody

[2021-01-29 05:20] melbalewis commented on #73349
Does include and import_tasks have the same behavior?

[2021-01-29 09:38] astaruch commented on #24215
This feature would be beneficial for the `win_chocolatey` tasks, where the `stdout` from the Chocolatey [depends](https://docs.ansible.com/ansible/latest/collections/chocolatey/chocolatey/win_chocolatey_module.html#return-stdout) on the [verbosity](https://docs.ansible.com/ansible/latest/collections/chocolatey/chocolatey/win_chocolatey_module.html#notes).

For example, I don't want to run in the C

[2021-01-29 09:59] azrdev commented on #31406
related: #44382

[2021-01-29 10:00] azrdev commented on #73332
@flowerysong indeed I did only test with `extra_groups` being set in `host_vars/host1.yml` -- which doesn't work due to loading order (#44382). I can confirm that specifying `extra_groups` in the ini file works fine.

[2021-01-29 10:00] #73332 closed, assigned to bcoca

[2021-01-29 10:07] FrancoisGuegnaudMB commented on #26322
Hi!
For traefik, you can generate the passwords in a file using ansible module "htpasswd":

[code]

And if you want to have all the configuration in one file, you can use ansible template for traefik config file:
[code]

[2021-01-29 10:38] azrdev commented on #73331
Apparently #73332 was an oversight on my part and already present.

Still, I do think the behaviour here is unintuitive. If I wanted to assign a fixed list of groups to all hosts (which this does), I could already use `groups:`, whereas `keyed_groups` as all about evaluating a hostvar, according to the documentation.

[code]

[2021-01-29 11:34] valentin-krasontovitsch opened #73415 "Hashes of ansible release tar balls on pypi"
##### SUMMARY

Back in the glorious(?) days, we were downloading ansible releases to build custom docker image containing ansible using https://releases.ansible.com/ansible/

There, you had the ansible binary packaged in a tar ball, and hashes for the tar balls to check intergrity.

We like to download the hashes together with the tarball, and check the hash file.

Maybe this is a bit overkill and

[2021-01-29 12:49] valentin-krasontovitsch commented on #73415
Ah i see now that the pypi tarball does not include any executables, like the old releases did - i guess i'm gonna close this, as it was based on wrong assumptions 😅

[2021-01-29 12:49] #73415 closed, assigned to nobody

[2021-01-29 14:08] webknjaz commented on #73415
Define "executables". `ansible-base` distribution package has `ansible` / `ansible-playbook` commands. And the tarball hash is available on PyPI: https://pypi.org/project/ansible-base/#copy-hash-modal-92e309e4-b48d-417a-91d6-7311616d0418. You can even use it via `pip install ansible-base==2.10.5 --hash=sha256:33ae323923b841f3d822f355380ce7c92610440362efeed67b4b39db41e555af`

[2021-01-29 14:48] bcoca commented on #73349
yes and no, include behaves both as import and include 'depending on context', why we are planning to deprecate it as it is unclear what the user gets and why we created import_X and include_X actions.

[2021-01-29 15:07] Shrews commented on #61689
We have an upcoming feature scheduled for ansible-core 2.11 release that will validate role arguments at execution time. This might meet your needs rather than this feature.

[2021-01-29 15:11] s-hertel commented on #59418
It looks like some more have been added since in 570aed09134, 23ab8f37df4, 8eab113cb1c, etc.

[2021-01-29 15:11] #59418 closed, assigned to nobody

[2021-01-29 15:11] otteydw opened #73417 "ansible-galaxy outputs stderr onto multiple lines when redirecting or using pipe"
##### SUMMARY

When running the ansible-galaxy command through a pipe, some output is split onto multiple lines.  But when not run through a pipe, it stays on a single line.  Splitting the output onto multiple lines when run through a pipe makes parsing the output difficult / unreliable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONF

[2021-01-29 15:13] s-hertel commented on #53658
Fixed by #46557

[2021-01-29 15:13] #53658 closed, assigned to webknjaz

[2021-01-29 15:14] sivel commented on #73417
Duplicate of https://github.com/ansible/ansible/issues/71461

[2021-01-29 15:14] #73417 closed, assigned to nobody

[2021-01-29 15:16] s-hertel commented on #51280
@samccann Is there something we should do for this one now that the modules have been moved to a collection, or should it be closed?

[2021-01-29 15:19] s-hertel commented on #47752
We discussed this in backlog today and don't plan on implementing this. Closing as per https://github.com/ansible/ansible/issues/47752#issuecomment-433969098.

[2021-01-29 15:19] #47752 closed, assigned to nobody

[2021-01-29 15:23] s-hertel commented on #47374
This as working as expected. You can notify multiple handlers via `listen`. You can avoid this by using the handler's `name` instead.

[2021-01-29 15:23] #47374 closed, assigned to nobody

[2021-01-29 15:29] s-hertel commented on #45315
This can be implemented in a custom cache plugin that filters out unwanted facts.

[2021-01-29 15:29] #45315 closed, assigned to nobody

[2021-01-29 15:34] s-hertel commented on #43708
FYI, It looks like our `findmnt` logic tries to find a `[/dir]` in the source column.

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: http

[2021-01-29 15:34] #43708 closed, assigned to nobody

[2021-01-29 15:41] s-hertel commented on #42035
Collections should handle this now by testing again devel.

[2021-01-29 15:41] #42035 closed, assigned to mattclay

[2021-01-29 15:41] bcoca commented on #43083
i'll update the documentation, it is not really wrong but i can see how it was misleading to let you think you could modify the variable to influence the result, that is what the `use` option is for.

closing as this works as it was meant to.

[2021-01-29 15:41] #43083 closed, assigned to bcoca

[2021-01-29 15:48] s-hertel commented on #16052
@tim-seoss That's a separate issue and working as expected (though perhaps we could add some magic to make the error clearer).

It looks like this has been fixed by #41164

[2021-01-29 15:48] #16052 closed, assigned to nobody

[2021-01-29 15:54] s-hertel commented on #39686
Changing this would be backwards incompatible at this point. You could create your own custom fact that overrides it.

[2021-01-29 15:54] #39686 closed, assigned to nobody

[2021-01-29 15:55] JakeStubbs4 commented on #73244
Hey @PierreLesouhaitier if you include your API token as the password of a network credential and reference it as such in your playbook like this:
`API_TOKEN: {{ lookup('env', 'ANSIBLE_NET_PASSWORD }}`
it will hide only the password anywhere it is printed in the logs.

[2021-01-29 15:58] samdoran commented on #39334
I verified this is still the case in `devel`.

[2021-01-29 15:59] s-hertel commented on #37848
We'd like to fix this by returning a list of the applicable virtualization types.

[2021-01-29 16:03] abenokraitis commented on #73408
+1 to this, it would be good to have this so that we can send proactive or reactive emails to dynamic groups of collection maintainers

[2021-01-29 16:27] bcoca commented on #73408
The authors field already allows for email to be included, another option is a `mailto:` url in issues field.

[2021-01-29 16:40] samdoran commented on #39334
The issue for directories is this line:

https://github.com/ansible/ansible/blob/c7cb944315a67fe575d5e83bdb897cdacaea8a44/lib/ansible/cli/galaxy.py#L976

For files, it is this line:

https://github.com/ansible/ansible/blob/c7cb944315a67fe575d5e83bdb897cdacaea8a44/lib/ansible/cli/galaxy.py#L1006

`shutil.copyfiles()` by default follows symlinks and creates new files rather than creating links. We n

[2021-01-29 17:09] webknjaz opened #73419 "Updating `ansible.module_utils.six` and Python 2.6"
##### SUMMARY

As new CPython versions appear, they deprecate old features, causing `DeprecationWarning`s like https://github.com/ansible/ansible/issues/72952.

We have an old version of `six` vendored and a new one fixes that warning: https://github.com/benjaminp/six/pull/343.

The problem is that the new `six` also drops support for Python 2.6 which we still want to support on target nodes and j

[2021-01-29 17:16] sivel commented on #73419
bot_skip

[2021-01-29 17:17] sivel commented on #73419
We actually already do vendor libraries that include backports.  See:

* `lib/ansible/module_utils/compat/selectors.py`
* `lib/ansible/module_utils/distro/__init__.py`
* `lib/ansible/module_utils/urls.py` (`backports.ssl_match_hostname`)

So this is fairly common for us to do.

I hesitate to vendor 2 copies, but I guess `six` isn't really that big.  But note that we'll have to ensure that both cop

[2021-01-29 17:19] webknjaz commented on #73419
Yeah, that's why I raised this: things in `module_utils` can't just become deps.

[2021-01-29 20:49] samccann commented on #51280
I'm fine with closing this.

[2021-01-29 20:53] MastanaGuru opened #73422 "K8s scale fails with diff error in python 3.8 and 3.9"
K8s_scale fails with errors in python 3.8 and 3.9
[code]

in python 3.8.5  and ansible 2.9.13
[code]

in python 3.9.1 and ansible 2.10.3
[code]

[2021-01-29 20:56] sivel commented on #73422
!component =lib/ansible/modules/clustering/k8s/k8s_scale.py

[2021-01-29 20:59] #73422 closed, assigned to nobody

[2021-01-29 21:07] #51280 closed, assigned to nobody

[2021-01-29 21:25] opoplawski commented on #57342
It seems like dependent issues are fixed, so any change we will see focal in the ansible PPA soon?  Thanks.

[2021-01-29 21:42] dericcrago commented on #57342
Yep, we're working on this now. I'll provide a better update some time next week.

[2021-01-29 22:07] ChristianCiach commented on #49992
I've just encountered the same issue. I want to read vars-files from inside my action plugin and I want these variables interpolated. I don't see a compelling reason why the builtin plugins `include_vars` and `set_facts` should be be able to do something that custom plugins cannot.

Security concerns have been stated as an explanation above, but I cannot imagine any kind of attack that can be prev

[2021-01-29 22:21] bcoca commented on #49992
Updating `task.action` works if results are handled in the same process (same task object), that has not always been the case and probably won't be so in the future, so while that hack might work for now, don't expect it always do so.

For some described above uses you might want to look into vars plugins, which avoids the 'remote security issue' by always executing at the controller.  https://doc

[2021-01-29 22:33] ChristianCiach commented on #49992
@bcoca Thank you for your quick reply.

Unfortunately, vars plugin are no solution for my use case, because the execution of the playbook determines which vars-files I need to load. I would usually use `include_vars` for this, but my situation is very complicated, as the number and location of the vars-files are determined by a recursive function that uses given "extra vars" as its input.

Aren't

[2021-01-30 01:23] relrod commented on #57342
To elaborate a bit: My current plan is to push `ansible-base` to Focal as 2.10.6 comes out. `ansible` (which depends on `ansible-base`) will follow sometime after.

[2021-01-30 09:37] mowgli opened #73425 "No alternative to deprecated module"
##### SUMMARY
I get a deprecation warning for module openssl_certificate. From #59972, I read that only the assertonly should be deprecated, not the selfsign provider that I use.

I searched for an alternative to this module but there is none. The only alternative would be to implement the functionality with a bunch of command tasks with register and a more or less complex logic.

##### ISSUE TYPE

[2021-01-30 09:42] #73425 closed, assigned to nobody

[2021-01-30 09:46] mowgli commented on #73425
The link https://galaxy.ansible.com/community/crypto only gives a white page without any content.

Could you please tell me where to post that bug to?

[2021-01-30 09:51] mowgli opened #73426 "Not helpfull help to where to post a ansible bug"
##### SUMMARY
I posted ansible bug #73425 but it was closed with a link to https://galaxy.ansible.com/community/crypto which is a fully white page without any content.

I do even not believe that it is a bug somewhere else as ansible is giving that mentioned warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansibot

##### ANSIBLE VERSION
I don't know which version that bot is

##### CO

[2021-01-30 18:16] ddevopsrepos opened #73427 "No package matching 'python-pip' is available ubuntu 20.04 LTS"
##### SUMMARY
We have full functional ansible on Ubuntu 18.04 LTS and all our playbooks are running successfully without any issue on ubuntu 18.04 LTS.
We are not try to run the playbook on ubuntu 20.04 LTS and ran the playbook which install some apt packages on the remove server but we getting Fatal error msg: No package matching 'python-pip' is available, however the package and dependencies are

[2021-01-30 18:24] ddevopsrepos commented on #73427
Shared thanks

[2021-01-30 20:21] felixfontein commented on #73427
Do you have `python-apt` / `python3-apt` installed for the same Python version you let Ansible use on the remote?

[2021-01-30 20:24] ddevopsrepos commented on #73427
Yes we have installed python-apt / python3-apt yes using it on remote
It is working fine on ubuntu 18.04

[2021-01-31 08:22] ddevopsrepos commented on #73427
Do we need to setup the ansible on ubuntu 20.04 or we can achieve running play book using the ubuntu 18.04,

kindly guide how we can fix the issue install apt packages on remote server using apt module

[2021-01-31 08:37] felixfontein commented on #73427
For support questions, please use the appropriate places:
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

When you ask there, please also provide the necessary information (that is missing/not clear in this issue), namely:
- What's the operating system on the remote
- Whether you installed `python-apt` or `python3-apt` on the remote
- Wh

[2021-01-31 09:11] ddevopsrepos commented on #73427
What's the operating system on the remote ?
Ans: Ubuntu 20.04 LTS

Whether you installed python-apt or python3-apt on the remote ?

Ans: I have tried both one by one, installed python-apt same error appears and python3-apt same error appears

Which Python interpreter you let Ansible use on the remote ?

Ans: I used both one by one /usr/bin/python2 and and /usr/bin/python3 but still same behavior

[2021-01-31 09:42] ddevopsrepos commented on #73427
please guide @felixfontein

[2021-01-31 16:48] ddevopsrepos commented on #73427
issue fixed

[2021-01-31 16:48] #73427 closed, assigned to nobody

[2021-01-31 16:54] spotlesscoder opened #73431 "Dependency missing for example of nmcli in Ubuntu 20.04"
##### SUMMARY
On this documentation page:
https://docs.ansible.com/ansible/latest/collections/community/general/nmcli_module.html

There is an example which has a task:

[code]

This does not work on Ubuntu Server 20.04

`FAILED! => {"changed": false, "msg": "No package matching 'NetworkManager-glib' is available"}`
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

nmcli
##### ANSIBLE

[2021-01-31 17:05] #73431 closed, assigned to nobody

[2021-01-31 18:50] Mies-bvd89 commented on #51601
The feature would be helpful! Running into the same issues as described above.

[2021-02-01 04:23] jborean93 commented on #73426
The page is definitely correct as you can see in the screenshot

![image](https://user-images.githubusercontent.com/8462645/106414602-b803de80-6498-11eb-8952-683f9aa18dbd.png)

There's even a link in the top right hand corer to the repository and their issue tracker. Just in case the page still doesn't load for you it's https://github.com/ansible-collections/community.crypto.

The reason why we ar

[2021-02-01 04:23] #73426 closed, assigned to nobody

[2021-02-01 14:06] xding2020 opened #73436 "tower_job_template module will update the limit to none if the parameter is not set instead of skipping"
##### SUMMARY

tower_job_template module will update the limit of job template to none if the parameter is not set instead of keeping it unchanged

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

awx.awx.tower_job_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

1. Assuming ansible tower is ready and there is a job

[2021-02-01 14:12] #73436 closed, assigned to nobody

[2021-02-01 14:46] xding2020 opened #73437 "tower_job_template module will update the limit to none if the parameter is not set instead of skipping"
##### SUMMARY

tower_job_template module will update the limit of job template to none if the parameter is not set instead of keeping it unchanged

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

awx.awx.tower_job_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

1. Assuming ansible tower is ready and there is a job

[2021-02-01 14:47] bcoca commented on #49992
This is not a limitation with vars plugins, since they can run at 'task time' and can be 'relative to inventory AND/OR playbook' and use extra vars.

Yes, but we have no way of knowing if the data came from a specific action plugin or via a module due to 'normal' execution, hence the restriction by 'known actions'.

[2021-02-01 14:50] bcoca commented on #73425
Not blank for me, ensure you have javascript enabled for that domain.

That page shows the new collection with all the information you would need, including issue tracker

https://github.com/ansible-collections/community.crypto/issues

[2021-02-01 14:53] mkrizek commented on #73437
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible/awx/.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-01 14:53] #73437 closed, assigned to nobody

[2021-02-01 15:25] ChristianCiach commented on #49992
Thanks for your suggestions!

Anyway, I've found another workaround: I've split my action-into into two plugins: The first plugin determines which files should be included using `includes_vars` and returns the list of files as `ansible_facts`. The playbook then uses this list of files to call `include_tasks` in a `loop` and then calls my second plugin.

This leads to a bit of duplicated code betwe

[2021-02-01 16:11] syedahaider97 commented on #72960
Hey, I'm new to contributing to the Ansible Community and wanted to know if I would be able to assign myself to this issue!

[2021-02-01 17:23] bcoca commented on #72960
@syedahaider97 you just did .. also note that the char sets are shown in examples. The issue with the link into Python docs, it depends on which version of Python Ansible is installed under.

[2021-02-01 18:24] syedahaider97 commented on #72960
I see, the char sets do differ between different versions of Python. A reference is also already made to refer to the generic Python string module.
Is there anything else that can safely be added without leading to a potential conflict? Perhaps what is common between the major versions of Python with a caveat to check the specific version for more values that may be supported?

[2021-02-01 22:24] jhampson-dbre commented on #73347
I stumbled here while following the instructions [Migrating a role to a collection](https://docs.ansible.com/ansible/devel/dev_guide/migrating_roles.html).
Step 4 is "Update galaxy.yml to include any role dependencies."

Based on the thread above, it sounds like role dependencies should **not** be in the galaxy.yml unless they are a collection? Error message when importing collection to galaxy is:

[2021-02-01 22:37] jborean93 commented on #73347
Dependencies in a `galaxy.yml` is just for Collection dependencies. There is no cross dependency support to have a collection dependent on a role and vice versa. They are completely separate artifacts and should be treated as such.

[2021-02-01 23:14] jhampson-dbre commented on #73347
I realize that now, but I thought it was a good example of how the documentation around requirements.yml, meta/requirements.yml, meta/main.yml, galaxy.yml and dependency management in general between roles and collections is confusing.

[2021-02-01 23:33] jhampson-dbre commented on #73347
What is the appropriate dependency management solution for moving a standalone role to a collection if it has a dependency on another standalone role? It sounds like there isn't one?

[2021-02-02 05:50] mowgli commented on #73426
The page is still fully empty for me.

And yes, I have Javascript disabled. I always have it that way and decide from the page if I see a reason that is valid and is worth the risk of enabling Javascript. In case of a fully empty page, I never enable Javascript. Never!

About that split of some internal ansible logic to some different page, from the user perspective, that is not clear. It is inter

[2021-02-02 06:02] jborean93 commented on #73426
Then raise the issue with [Galaxy repo](https://github.com/ansible/galaxy) to see if they will disable the javascript requirements https://github.com/ansible/galaxy. Nothing this repo can do about that and honestly it's probably nothing that will change on the Galaxy end. You can always query the API yourself through `https://galaxy.ansible.com/api/v2/collections/` but that's not very user friendl

[2021-02-02 09:08] mkrizek commented on #73426
Unfortunately at the time we explored options on how to handle closing issues like this it was not possible to transfer issues automatically between different Github organizations (which ansible repository and collections repositories are) and I believe it is still not possible.

However I have opened a pull request for the bot to include a collection repository link directly in the redirecting co

[2021-02-02 10:00] thomasgl-orange commented on #72451
I just got bitten by this one. Using Ubuntu 20.04 as my target host, I have a playbook which installs `postgresql` (which happens to start a `postgresql@12-main` service), and then:

[code]

Everything looks good, except on reboot the `postgresql@12-main` service is not started, so it is not really `enabled` in the sense I would have expected.

The issue is exactly the one described by @agowa338:

[2021-02-02 10:37] thomasgl-orange commented on #72451
In case it helps someone, my workaround:

[code]