[2019-12-17 10:52] gundalow commented on #65898
Need to add very clear tests for this and ensure they are backported to (at least) stable-2.9

[2019-12-17 10:57] gundalow commented on #65816
@rrey Thank you for this but report, could you please paste in the first 10 lines of:
* `harbor_user`
* `harbor_project`

As the error message is confusing as it's talking about
 ERROR: plugins/modules/**harbor_user.py:1:0**: duplicate-code: Similar lines in 2 files ==**harbor_project:6** ==**harbor_user:6** from __future__ import (absolute_import, division, print_function)  ANSIBLE_METADATA = {

[2019-12-17 11:08] whysthatso opened #65906 "mysql_db dump without CREATE + USE directive"
##### SUMMARY
PR https://github.com/ansible/ansible/pull/56721 introduced the use of `--databases` parameter when using mysqldump in order to fix #56059 . Using this parameter adds the `CREATE database` and `USE database` to the dumpfile. This makes it impossible dump the data and use mysql_db import to import it in any other database without editing the dumpfile.

I am proposing a feature which a

[2019-12-17 11:09] whysthatso commented on #65906
@pratikgadiya12 you came up with the PR, did you encounter this?
i do not have a good solution on how to add this feature, other then establishing yet another conditional based on a parameter in the module declaration which calls the previous syntax?

[2019-12-17 11:25] gundalow opened #65907 "ansible-test codecoverage vs Collections: ERROR: 'CoverageData' object has no attribute 'read_file'"
##### SUMMARY
[code]

fails with
[code]

I can see that `ansible-test coverage` is finding the files, such as: `ansible_collections/gundalow_collection/grafana/tests/output/coverage/integration=grafana_datasource=local-3.7=python-3.7=coverage.jobarker.remote.csb.18264.626864`

This maybe an issue in my setup, or ansible-test.

Steps to reproduce https://github.com/ansible-collections/grafana/pull/

[2019-12-17 11:27] bmillemathias-1a opened #65908 "from_yaml filter does not support having several documents in one file"
##### SUMMARY
I use module k8s to push manifest to openshift clusters this way
[code]

which fails if the manifest files containers several yaml documents inside, like some CRDs files we got from rook project. If we ditch `from_yaml` it works but the documentation of the module suggest to use this filter.
`yamllint` has no problem having multi-documents in a file.

##### ISSUE TYPE
- Bug Report

#

[2019-12-17 11:37] PhilippSelenium commented on #18911
ping

[2019-12-17 12:18] bmillemathias-1a commented on #65908
ok my bad `from_yaml` supports one document in a file.

[2019-12-17 12:18] #65908 closed, assigned to nobody

[2019-12-17 13:48] wisotzky commented on #65655
@ganeshrn, checking the PR is on my todo list for this week.

Okay, will remove the code in my collection avoiding confusion. Indeed, you are right that most people will have the correct `network_os` in their inventory. I would just curious about the correct implementation, as we've decided to make Nokia SR OS two different devices: `nokia.sros.classic` and `nokia.sros.md`. Since 2 years operators

[2019-12-17 13:53] #65761 closed, assigned to nobody

[2019-12-17 13:55] mr-blanket opened #65910 "VMware: vmware_guest always performs OS customization"
##### SUMMARY

vmware_guest always performs Windows OS customization even if parameters **customization** and **customization_spec** are not provided.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

O

[2019-12-17 13:55] falcon78921 opened #65911 "ansible-playbook Exits With 0 Even if No Inventory/Hosts Are Specified"
##### SUMMARY

`ansible-playbook` succeeds even when no inventory/hosts are specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

If you run `ansible-playbook test.yml -i <INVENTORY>`, `ansible-playbook` works as expected because an inventory is specifi

[2019-12-17 14:00] wisotzky commented on #65655
@ganeshrn, @trishnaguha

Might be good if you could have another look into my terminal plugins for `nokia.sros.md` and `nokia.sros.classic`. I've added a check if the correct configuration mode is active. If not, I was about to issue a warning.

For this, I've added the following code snippets:
[code]

[code]

[code]

In my system, those warnings do not get logged to Ansible console. So it seems t

[2019-12-17 14:10] laurent95380 opened #65912 "Can't install AWX on Openshift/KDO"
##### SUMMARY
Error when trying to run playbook to install AWX.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook -i inventory install.yml

##### ANSIBLE VERSION

ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.

[2019-12-17 14:14] wisotzky commented on #65655
@ganeshrn, @trishnaguha

One more question:
I've added a new module `device_info` into our `nokia.sros` collection. This is basically calling the `get_device_info()` method from the Cliconf module to extract some information. This was done to avoid implementing a full blown facts or resource module for Nokia SR OS - as we would claim that NETCONF by providing structured data is the much better app

[2019-12-17 14:44] freakynl opened #65913 "win_find fails to find locked files and breaks continuing to other folders"
##### SUMMARY
win_find fails to find locked files and stops upon encountering a locked file

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_find

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
docker container based on debian 9

##### STEPS TO REPRODUCE

We ran into issues where files aren't listed and/or the process doesn't continue to the next folder.

[2019-12-17 14:49] freakynl commented on #65913
Hmm the order in which it finds the files seems to matter as well. If I keep the lock in C:\1 and it finds that before the other 2 files, nothing is found at all.

[2019-12-17 14:51] zaskan opened #65914 "use_private_ip option for azure_rm module is not in documentation"
##### SUMMARY

use_private_ip option is not in documentation. This option is defined and is working fine

https://github.com/ansible/ansible/blob/9b85a51c64a687f8db4a9bfe3fea0f62f5f65af2/contrib/inventory/azure_rm.py#L265

There is a KCS created with the explanation, but it will be better if its reflected in the ansible documentation. Check the KCS below.

https://access.redhat.com/solutions/44440

[2019-12-17 14:51] freakynl commented on #65913
Play File
---------

---
- name: "Find all files specified in hostvar view_log_paths: {{ ansible_host }}"
  win_find:
    paths: "{{ view_log_paths }}"
    recurse: yes
    file_type: file
    follow: yes
  when: view_log_paths is defined
  register: result

HOST VARS
-------------

---

ansible_host: "some-host.domain.local"
view_log_paths: [ 'C:\1\', 'C:\2\' ]

[2019-12-17 14:57] sivel commented on #65856
I cannot duplicate the behavior you describe. Running with `-vvv`, using the task you provided results int he following output:

[code]

[2019-12-17 15:05] sivel commented on #65856
Ok, based on the fact that your output was so different, it seems the task you listed in this issue, is not the one you are actually testing with.

I've been able to deduce that the task you are actually using in testing is:

[code]

The difference is using `var` instead of `msg`.  And it seems in this case that the full `item` is also printed as part of the result.

This is a result of `ansible.p

[2019-12-17 15:08] cbontrager opened #65915 "fmgr_fwobj_address module - no write permission when adom workspace mode is enabled with multiple adoms"
Tested on Ansible 2.9.2, and with the pending hotfix in https://github.com/ansible/ansible/pull/62534.

##### SUMMARY
Issue is that when making update operations with with the fmgr_fwobj_address module, receive the error message:

 "msg": "no write permission",
    "rc": -10147,
    "unreachable": false

If I disable the adom workspace mode (disabled), the playbook succeeds and creates the address

[2019-12-17 15:09] samccann commented on #60282
@cbudz is working on this issue.

[2019-12-17 15:20] sivel commented on #65898
The current behavior of the 2.9.1 release (and newer) is actually correct.

In 2.9 we cleaned up some invalid assumptions about how unsafe was handled.  Unfortunately, we missed a place, and `loop` was incorrectly being treated as unsafe.  This was subsequently resolved in the 2.9.1 release.  `loop` doesn't do any data manipulation, so we rely on the data passed to `loop` to be marked as unsafe.

[2019-12-17 16:06] sivel commented on #65911
This is expected behavior.  You are not required to specify an inventory file, and in such a case only implicit localhost is available.

It is not an error, when the inventory does not match the specified `hosts:` in a play, as you can see, it prints a "skipping" message.

As such, this is a successful run, there were no failures, only skipped plays.

If you have further questions please stop by I

[2019-12-17 16:06] #65911 closed, assigned to nobody

[2019-12-17 16:08] sivel commented on #65912
I cannot comment on the failure of the first task, however in the 2nd task, you are using too old of a jinja2 version.  The `equalto` filter was added in jinja2 version 2.8.

In either case, you should probably file this in the AWX repo, as this repo is for the open source ansible project, not AWX.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.fr

[2019-12-17 16:08] #65912 closed, assigned to nobody

[2019-12-17 16:12] sivel commented on #65900
The problem here is that you seem to have specified `platforms` as a list, but are treating it as a singular string in your `when` statement:

[code]

[code]

You would need to either make `platforms` a string, or adjust your `when` statement to support a list.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://

[2019-12-17 16:12] #65900 closed, assigned to nobody

[2019-12-17 16:20] sivel commented on #65904
I believe the following is all that is required to get this working:

[code]

Feel free to put together a PR, including a changelog fragment as well.

[2019-12-17 16:23] arpadhajdu opened #65919 "vmware_guest_network unable to add a new dvPortgroup backed NIC"
##### SUMMARY
I'm attempting to use the vmware_guest_network module to add a new NIC in a specific DVS Portgroup to VMs, but the created new NIC is not using the backnig DVS but configured as "standard portgroup"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- CentOS Linux release 7.6.1

[2019-12-17 16:31] cbudz commented on #60282
I'll take it on.

[2019-12-17 16:39] Akasurde commented on #56786
@gparent or anyone - Would you be interested in testing which might solve this problem? Let me know. I don't have big setup so can't test it.

[2019-12-17 16:48] geerlingguy opened #65920 "ansible-galaxy collection build needs way to override version"
##### SUMMARY

(This issue was copied over from https://github.com/ansible/galaxy/issues/2143 by @ssbarnea )

Collections are sometimes by-product of bigger projects which may control versioning in a different way, like git tags.

For example in use cases I encountered so far with OpenStack teams we almost always had a python based repository model where running `python setup.py --version` in its

[2019-12-17 17:06] sivel commented on #65778
Thank you for your interest in Ansible. At this time we have no plans of implementing such a feature.  As such, I'm going to proceed with closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-17 17:06] #65778 closed, assigned to nobody

[2019-12-17 17:07] taspotts commented on #61205
Looks like [rds parameter groups](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-parameter-group.html) and [rds cluster parameter groups](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-cluster-parameter-group.html) go thru different endpoints in the AWS API.  (Most likely because the cluster parameters are for Aurora DB clusters only.)

I wonder if we need to extend

[2019-12-17 17:07] angystardust commented on #65919
maybe fixed_by 65835

[2019-12-17 17:28] abadger commented on #65920
/cc @pabelanger

Also note, that if the version is  being generated, it becomes even more likely that content hosted on galaxy is out of compliance with the GPL since the GPL says that any scripts used to generate the content are part of the "corresponding source" and those aren't available from galaxy.

[2019-12-17 17:33] bcoca commented on #65920
As part of my 'build' I'm currently just using a `make` to template galaxy.yml from a galaxy.yml.j2 before calling ansilbe-galaxy.

[2019-12-17 17:33] pabelanger commented on #65920
In the case of network, our release scripts now are public, but yes not linked in any way to galaxy

[2019-12-17 17:40] Tomasthanes commented on #65887
Thank you, @bmalynovytch.

I implemented your suggestion in the following task by commenting out the login_host and adding the login_unix_socket:

[code]
What I got from running the playbook is:
[code]
What's interesting is that the mysql_query.py library module in our Ansible directory tree is authored by Ben Fellows (2016) and is dated March of this year but it *doesn't* have a reference to logi

[2019-12-17 17:44] Tomasthanes commented on #65887
The code is quite different and handles queries very differently.

[2019-12-17 18:42] Tomasthanes opened #65925 "Best practice for performing SQL query inside of Ansible playbook task?"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
- issue type: request for information
- ansible version: v2.9.2
- component name: mysql_query.py

What is the best practice for performing a SQL query inside of an Ansible playbook task?
I know that Ansible provides some builtin MySQL modules but they only allow you to create databases, tables inside

[2019-12-17 18:59] jborean93 commented on #65913
This module has been rewritten in devel and will be part of the release for 2.10 https://github.com/ansible/ansible/pull/65536. It was a major rewrite that fundamentally changed the way it scanned for files to be a lot more efficient when it comes to scanning for files in a large directory. It also aligned the behaviour around failures to ignore and continue on to the next file.

Unfortunately the

[2019-12-17 18:59] #65913 closed, assigned to nobody

[2019-12-17 19:19] Chaserjim opened #65926 "Unable to use multiprocessing, this is normally caused by lack of access to /dev/shm Edit"
##### SUMMARY
Deployment of openstack stein overcloud fails with Stderr: u'ERROR! Unable to use multiprocessing, this is normally caused by lack of access to /dev/shm: [Errno 13] Permission denied\n'

##### ISSUE TYPE
- Bug Report
##### COMPONENT
ansible-playbook-2 -vvvvv /tmp/ansible-mistral-actionoKf_6L/playbook.yaml --become --become-user root --inventory-file /tmp/ansible-mistral-actionoKf_6L/

[2019-12-17 19:55] RadhikaMahankali commented on #65888
In 3.7.11, lldpd version 1.0.4-0-cl3u14 vlan advertisements (dot1 TLV) are controlled runtime by a new configuration knob “lldpcli configure/unconfigure lldp dot1-tlv”. By default, the dot1 TLV advertisements are disabled. Additional VLAN entries will be there if dot1 TLV has been enabled. Has it been enabled in the setup? Configuration can be checked using command “lldpcli show config”

[2019-12-17 19:55] Tyler-2 opened #65928 "Kinesis_stream marks all encryption operations as changes, even if encryption is already enabled"
##### SUMMARY
When using kinesis_stream to manage enabled encryption on AWS Kinesis Streams, the module always reports _changed=true_.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kinesis_stream.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run the below, twice. Or a few times. Note there may be a need to wait 15 minutes b

[2019-12-17 19:57] Tyler-2 commented on #65928
I believe this is due to [start_stream_encryption](https://github.com/ansible/ansible/blob/6c051b0241b27ea884722d1e822cd2eec3a919a0/lib/ansible/modules/cloud/amazon/kinesis_stream.py#L1184) not checking whether the stream is already encrypted with the same settings, before it calls start_stream_encryption. And then it marks it as "changed".

[2019-12-17 19:57] ddutt commented on #65888
This is on 3.7.11 version of Cumulus Linux. Nothing has been added or additionally configured for LLDP that what is shipped. I do have L3 VLAN subinterfaces on a link that has an LLDP peer.

[2019-12-17 20:12] sivel commented on #65925
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-17 20:12] #65925 closed, assigned to nobody

[2019-12-17 20:14] sivel commented on #65926
Per the error, you are running in an environment lacking `/dev/shm` (shared memory device) which prevents you from using the underlying python multiprocessing library which is a dependency of Ansible.

This can often happen in chroot environments.

For more assistance or if you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list:

[2019-12-17 20:14] #65926 closed, assigned to nobody

[2019-12-17 20:55] Tomasthanes commented on #65925
I'll close this issue and follow up there.  Thanks, @sivel.

[2019-12-17 21:02] magick93 commented on #65856
This is the task in the original post:

[code]

This is the task in my second post:

[code]

I've tested with this, and every possible variation I can think of to make it work as expected.

[2019-12-17 21:04] sivel commented on #65856
That is most certainly not the task producing the output you are providing.

No where in your output is the words "path is".  The task causing your output uses `var` instead of `msg`.

[2019-12-17 21:13] oukooveu commented on #47883
The same behavior exists in 2.8, is there any chance this will be fixed?

[2019-12-17 21:16] magick93 commented on #65856
You're right. My apologies.

I'm constantly tweaking the task in attempt to get it to do what is expected.

Nonetheless, I've not managed to get it to perform as expected using either `var` or `msg`.

[2019-12-17 21:36] wisotzky commented on #65655
I've validated your change with collection `nokia.sros` using network OS `nokia.sros.md`. Works like charm. I would propose to merge the change and back port to Ansible 2.9.

[2019-12-17 21:56] kladiv commented on #65836
Hi @Akasurde,
changed code (line in .../callback/default.py) seems correctly works.

[2019-12-17 22:16] Tomasthanes commented on #65925
@sivel, are both of those options (IRC and Google Groups) still viable?
I tried to register in the IRC channel and I'm still waiting for the email (2 hours).
I went to the Google Group and while I can see the group, I don't have a button to ask a question.
Both of these seem like dead ends...

[2019-12-17 22:21] ggedde opened #65931 "STDOUT Json with Strategy Free not formatted correctly"
##### SUMMARY

When using stdout_callback = json in my ansible.cfg file and setting my playbook to be strategy: free the response tasks get mixed up. I am getting responses from one task in another task.  However, removing strategy: free then everything is fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

stdout_callback json
strategy: free

##### ANSIBLE VERSION

[code]
I originally tes

[2019-12-17 22:44] wisotzky commented on #65655
@ganeshrn, @trishnaguha

Looking into the new NETCONF connection/plugin code, there seems to be a way to define options per plugin:
[code]
Just wondering, if such options are accessible from inside the plugin (answer seems to be yes) and if those options can be overwritten (global, playbook, task level). More specifically I was wondering about the generic `cli_config` Ansible module. For Nokia SR

[2019-12-17 23:09] gparent commented on #56786
I'm interested, so I've passed the message along to see if my employer is okay with the testing. Will let you know ASAP.

[2019-12-17 23:29] phanirajl commented on #64836
@JohnVonNeumann i'm facing the similar issue .. Could you please let me know what is the fix you have done for this

[2019-12-17 23:34] mattarchie opened #65932 "replace: invalid expression sre_constants.error: multiple repeat"
##### SUMMARY
The replace module does not support values for `after`, `before`, and `regexp` that need to be escaped and passed to re.compile as raw strings. I am attempting to automatically maintain my known_hosts file by making sure only the newest ssh host key is present, but since the key hashes can contain sequences like "++", I am unable to properly do so using replace.

It appears the fix w

[2019-12-17 23:35] prasadkatti commented on #64836
I tried to reproduce this with ansible 2.9.1 and python 3.7.5, but the module worked just fine for me. Could there be something account-specific that could be causing this issue?

[2019-12-17 23:38] phanirajl commented on #64836
ansible 2.8.4
  config file = None
  configured module search path = ['/Users/Akkara/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.8.4_1/libexec/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.5 (default, Nov  1 2019, 02:16:23) [Clang 11.0.0 (clang-1100.0.33.8

[2019-12-17 23:39] phanirajl commented on #64836
@prasadkatti I'm using above versions..Do you think this version has issues..?

[2019-12-17 23:44] phanirajl commented on #64836
I have upgrade ansible to 2.9.2

still getting this errors

The full traceback is:
Traceback (most recent call last):
  File "/Users/Ankara/.ansible/tmp/ansible-tmp-1576626073.7795289-85230333483743/AnsiballZ_ec2_vpc_subnet.py", line 102, in <module>
    _ansiballz_main()
  File "/Users/Ankara/.ansible/tmp/ansible-tmp-1576626073.7795289-85230333483743/AnsiballZ_ec2_vpc_subnet.py", line 94, in _ans

[2019-12-17 23:44] phanirajl commented on #64836
@prasadkatti @JohnVonNeumann ..

[2019-12-17 23:50] JohnVonNeumann commented on #64836
I just gave up to be honest mate, it wouldn't work.

On Wed, Dec 18, 2019 at 10:39 AM phanirajl <notifications@github.com> wrote:

--
Louis Willcock
Software Developer
Phone: 0422984471

[2019-12-17 23:53] geerlingguy opened #65933 "Unclear how to avoid entering --api-key on CLI when publishing Ansible Galaxy Collections"
##### SUMMARY

As I begin publishing multiple collections, I'm finding it annoying to have to specify `--api-key` on the command line every time I run:

    ansible-galaxy collection publish ./geerlingguy-collection-1.2.3.tar.gz --api-key=[key goes here]

This not only requires me looking up the key in my password manager or on Galaxy, it also requires the key to be entered in plain text in a comm

[2019-12-17 23:58] geerlingguy commented on #65933
From some investigation, it seems like I may be able to create a file at `~/.ansible/galaxy_token` with the format:

[code]

[2019-12-18 01:00] pabelanger commented on #65933
From what I figured out a while back, --api-key === token. As a result, we create the following cfg file in our CI jobs:

  https://github.com/ansible/ansible-zuul-jobs/blob/master/roles/upload-ansible-collection-fork/templates/ansible.cfg.j2

Depending on the location of publish, we pass in new url and token

We then do:
[code]

Hope that helps

[2019-12-18 02:30] willhughes-au opened #65936 "AWS ec2_asg with replace_all_instances:yes will wait for instances to start/terminate even when wait_for_instances:no"
##### SUMMARY

When using the `ec2_asg` module with `replace_all_instances: yes`, then `wait_for_instances` is effectively ignored.

I would expect that if `wait_for_instances: no` then it would not wait for instances to complete starting/termination.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS:

[2019-12-18 03:29] Akasurde commented on #65919
resolved_by_pr #65835

[2019-12-18 03:29] Akasurde commented on #65919
@arpadhajdu, Could you please check PR #65835 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-18 03:39] mulatinho commented on #52409
@felixfontein I made a pull request #65937 to solve this issue, but shippable gives me an error in integration tests about a block of passphrase.

[code]

Is this OK? How can I solve that? Can you review please? thanks!

[2019-12-18 03:41] Fred-sun commented on #65563
@renskewierda StandardSSD_LRS is not a valid accout type. I will open PR to remove this option. Then ask maintainer to review and merge. Thank you very much!

[2019-12-18 04:23] Yadnyawalkya commented on #65904
I can put this together, expect PR soon, thanks  @Akasurde @sivel  o/

[2019-12-18 04:55] #65268 closed, assigned to nobody

[2019-12-18 07:20] Fred-sun commented on #57782
@MyronFanQiu Since it is a private IP, why should it be obtained by ansible? Thank you very much!

[2019-12-18 07:50] nazarko-es commented on #65900
Thank you

[2019-12-18 07:51] Fred-sun commented on #65901
@renskewierda Thank you for taking the time to report this problem. We will investigate and give you a reply. Thank you very much!

[2019-12-18 08:31] mpechner commented on #51122
https://github.com/ansible/ansible/pull/65924
All checks have finally passed.
Now I need to work on tests and check them in.

[2019-12-18 08:43] jruariveiro commented on #62711
@Akasurde Do you know if this has been fixed in order to allow creation of VMS within RG/SIGs from different subscriptions?

[2019-12-18 09:05] freakynl commented on #65913
Hi,

thanks for the response. I've replaced the win_find files in our 2.9.2 installation and tested. This seems to be working much better.

root@aa2be3bb43f2:/tmp/175# grep '"path": "C:' ansible.log
                "path": "C:\\1\\lock.2",
                "path": "C:\\1\\test1.txt",
                "path": "C:\\1\\test2.txt",
                "path": "C:\\2\\1test.txt",
                "path": "C:\

[2019-12-18 09:07] oej commented on #65711
For me, a software bug that removes all credentials by accident seems pretty critical.

[2019-12-18 09:32] arpadhajdu commented on #65919
@Akasurde , I did try the PR65835 and the result almost the same as earlier.

Used version for testinging:
[code]

Earlier I tried to use "dvswitch_name" but this parameter is not working in the dev version.
[code]

The result which was generaetd (after removing the dvswitch_name parameter) is almost identical to the original case.

[code]

[2019-12-18 10:04] CassieDan7Song opened #65943 "Redfish_command "IndicatorLed*" command execute failed on Lenovo blade server."
##### SUMMARY

-When execute "IndicatorLed*" command on blade servers, it will show error message  "Key IndicatorLED not found". That is because blade servers have two chassis. /redfish/v1/chassis/1 is for the node itself , and it has the key IndicatorLED. /redfish/v1/chassis/2 is for the chassis the node located in and it doesn't have key IndicatorLED. Ansible will execute set IndicatorLed comman

[2019-12-18 10:28] #58147 closed, assigned to nobody

[2019-12-18 10:42] assarbad opened #65944 "Inconsistencies of ansible_python in connection with interpreter_python=auto ..."
##### SUMMARY
There was a question [here](https://devops.stackexchange.com/q/10142/) which showed a peculiar behavior of Ansible.

I investigated this a little further and noticed that there are potentially two inconsistencies here:

1. when setting `interpreter_python=auto` in `ansible.cfg` the fact `ansible_python` is lying (it claims to use Python 3.x - in line with Ansible's default for Ubuntu

[2019-12-18 10:58] gabops opened #65946 "htpasswd module non idempotent"
##### SUMMARY
- htpasswd module is not idempotent if you pass an already hashed password and using  "crypt_scheme: plaintext". Doing this can be useful in scenarios where you do not wanna expose the passwords even if they are encrypted using ansible-vault.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
htpasswd module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENV

[2019-12-18 11:09] Akasurde commented on #64365
@Bkbrawler04 I think you are confusing `vmware_inventory` (inventory script) with `vmware_vm_inventory` (inventory plugin). Like, @ansiblejunky suggested, `vmware_vm_inventory` supports tags when used with the correct plugin configuration file. `vmware_inventory.py` does not support tags.

For example -
[code]

Console log -

[code]

needs_info

[2019-12-18 12:08] jirib opened #65947 "terraform module '-no-color' conflicts with TF_CLI_ARGS_plan env variable"
##### SUMMARY
terraform module sets `-no-color` but if `-no-color` is set in `TF_CLI_ARGS_plan` this would fail, it's `terraform` itself which fails like this, but here ansible module sets itself explicitly `-no-color` in code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform module

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS

should not fai

[2019-12-18 12:33] tchernomax commented on #65904
I confirm the solution proposed by @sivel works.
I will let @Yadnyawalkya do the PR.
Thanks

[2019-12-18 13:45] Rukas commented on #50407
@Roxyrob I haven't had any luck using the `win_iis_website` module but we currently use `win_dsc` with the `XIisLogging` resource from the `xWebAdministration` PowerShell DSC module.  Here's an example of how we do it:

[2019-12-18 13:58] ganeshrn commented on #65655
@wisotzky Yes, you can control the plugin options as global, playbook and task level. For example, refer https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L148

It can be a quick fix on controlling how to configure device but the main function of cliconf plugin options to control connection related parameters which is not the case here. `rollback-on-error`

[2019-12-18 13:59] ganeshrn commented on #65655
Thanks for testing it out.

[2019-12-18 14:02] willtome commented on #64365
@Akasurde I believe the issue is the inventory can not be filtered using the tags. If I only wanted hosts tagged with Tag_001 this is not possible. There was a host_filter capability in the legacy script but not in the new plugin.

[2019-12-18 14:26] ganeshrn commented on #65655
One option is you can implement that functionality in the sros_facts module which can be integrated with gather_facts functionality by changing the global config chttps://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml#L1308

[2019-12-18 14:30] ganeshrn commented on #65655
Adding clear documentation in collection around that use would help in this case IMO. The auto magic under the hood is not recommended as it will take time for discovery every time a play runs and from user perspective, it is probably not recommended as it is not evident which os is chosen under the hood.

[2019-12-18 14:35] ganeshrn commented on #65655
Any ideas?

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L471 this is how you can log messages on the controller side.
In the terminal plugin, you need to call the function on the connection object.
For eg:
` self._connection.queue_message('warning', 'Nokia SROS node is running in classic mode. Use:\n  ansible_network_os: nokia.sros.classic')`

[2019-12-18 14:56] sivel commented on #65944
Lookups always run on the controller, and are not impacted by `interpreter_python`. Lookups will use the python that is used to invoke ansible itself, which you can see in the output of `ansible --version`.

`interpreter_python` only impacts execution of modules on a target host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mai

[2019-12-18 14:56] #65944 closed, assigned to nobody

[2019-12-18 14:56] kbreit commented on #65738
Following up on this. Were you able to test this branch?

As a note, I will be moving the Meraki modules into collections. The new repository is at https://github.com/CiscoDevNet/ansible-meraki.

[2019-12-18 14:57] sivel commented on #65932
The `+` character has specific meaning in regular expressions, meaning to match 1 or more of the previous character.

As such, if you want to use the literal `+` in a regular expression it must be escaped.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-18 14:57] #65932 closed, assigned to nobody

[2019-12-18 14:57] sivel commented on #65931
!component =lib/ansible/plugins/callback/json.py

[2019-12-18 15:32] sivel commented on #65931
I have 2 potential fixes for this.  I'm just debating the best way to represent the `free` strategy.

Having it map directly to the behavior of `linear` isn't correct.  Largely due to the `duration` key in the task.  I can do this, where all hosts for an individual task, will be represented by one task result in `.plays[].tasks`.  But it feels wrong to me.

The other option is that each host resul

[2019-12-18 15:33] sivel commented on #65931
@ggedde do you have an opinion about which option best suits the use case?

[2019-12-18 15:51] mattarchie commented on #65932
@sivel I hadn't found a way to do the escape automatically, which is why I created the issue. I searched more carefully this time and have found the regex_escape filter. It would be useful to include a reference to this filter in the documentation of the replace module (and others that accept regex arguments) because it is required in some cases (like passing some ssh keys as part of a regex).

Th

[2019-12-18 16:35] geekq opened #65951 "postgresql_privs ALL_IN_SCHEMA does not behave like GRANT ON ALL TABLES IN SCHEMA"
##### SUMMARY

The `objs: ALL_IN_SCHEMA` implies with its name, that it would behave like GRANT ON ALL TABLES IN SCHEMA.
Instead it iterates with
[code]
over currently existing tables (typically none after the database is created).

Once application specific DB migrations (e.g. Java's Flyway or ruby on rails' db:migrate) create tables, the desired permissions on tables are missing.

I think it wou

[2019-12-18 17:11] geerlingguy opened #65952 "k8s module documentation confusing in examples of reading from files"
##### SUMMARY

When reading the `k8s` module documentation (https://docs.ansible.com/ansible/latest/modules/k8s_module.html#examples), the given examples were a little confusing when it came to creating objects from files.

There is one example near the top "Create a Service object by reading the definition from a file", which one might assume would mean "read the definition from a file on the con

[2019-12-18 17:14] geerlingguy commented on #65952
PR: https://github.com/ansible/ansible/pull/65953

[2019-12-18 18:08] AlanCoding commented on #51025
^ testing confirms that this works, and I make frequent use of the environment variable version of the setting `ANSIBLE_INVENTORY_UNPARSED_FAILED=true`. I would even recommend that people do this is most cases, pretty much any playbook ran via automation.

[2019-12-18 18:28] mpechner commented on #51122
!component=lib/ansible/modules/cloud/amazon/ecs_tag.py

[2019-12-18 18:32] Woclandiner opened #65954 "[NXOS_USER] - Issue to create user and set role"
##### SUMMARY
When creating users on NXOS nxos_user module create two lines with different roles.
On the second execution this config is fixed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Software
  BIOS: version 07.59
  NXOS: version 7.0(3)I5(1)
  BIOS compile time:  08/26/2016
  NXOS image file

[2019-12-18 19:11] geerlingguy opened #65955 "Change --api-key to --token in ansible-galaxy collection commands"
##### SUMMARY

In #65933, I had some confusion over how to set my Galaxy token for CLI usage when running `ansible-galaxy collection publish`, so I could avoid setting `--api-key` on the command line.

Some of that confusion could be avoided by using the same terminology when referring to the Galaxy 'token' everywhere. Currently the docs pages for Galaxy and Collections both mention 'token' multip

[2019-12-18 19:11] geerlingguy commented on #65933
Opened follow-up issue https://github.com/ansible/ansible/issues/65955 for the CLI change, specifically (since this ticket is more docs-focused).

[2019-12-18 19:14] ggedde commented on #65931
I am completely fine with the structure being different as long as the task information lineup and the structure is the same regardless if it’s one host or many. I like option one as I think it lines up with the current result and I think it might be less code but if it ends up breaking the duration then it’s probably not the best option. So I think I would probably go for the second one if it pro

[2019-12-18 19:24] wenottingham opened #65956 "git module cannot properly check out certain branches"
##### SUMMARY
Various valid git branches cannot be checked out by the git module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 31, git-2.24.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
All successful.

##### ACTUAL RESULTS
None successful.
[code]

[2019-12-18 19:49] samccann commented on #65933
Looking through the docs, I see:
https://docs.ansible.com/ansible/devel/reference_appendices/config.html?highlight=token#galaxy-token
 Which talks about both an ansible.cfg setting (GALAXY_TOKEN) and an environment variable setting (ANSIBLE_GALAXY_TOKEN).  Right below that there are similar settings for the token path to a file that stores the token.

[2019-12-18 19:53] geerlingguy commented on #65933
@samccann - Unfortunately, it looks like that token is not used by the `collection publish` command (at least that's my understanding). That is only used for role-based work.

[2019-12-18 20:13] hxtree opened #65957 "Ansible Galaxy Collection > Content > Playbooks Empty"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible Galaxy Collection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I have a collection of playbooks I'm looking to publish to enable others to easily manage their stack as we do; https://galaxy.ansible.com/hxtree

[2019-12-18 20:17] samccann commented on #65933
@geerlingguy  too good to be true I suppose. Thanks for checking. My next question (for you and @jborean93 )  Is the following an accurate example?

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
token=my_token

(As in the token works only under the server list as you mentioned in one of your earlier comments?)

[2019-12-18 20:18] #58650 closed, assigned to nobody

[2019-12-18 20:20] samccann commented on #65933
...and trying for an accurate example for using the path to a token file, would that be:

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
token_path=~/my_token_file

(But if you use the default location of ~/.ansible/galaxy_token , then you wouldn't need any of that in your ansible.cfg and you could just use the following command:

 ansible-gal

[2019-12-18 20:44] jborean93 commented on #65933
Let's try to clear up some confusion, there are 3 ways to specify the token/api_key for authenticating when publishing a collection (or importing a role).

1. Using the `--api-key` argument with `ansible-galaxy`. This is named `--api-key` in collections because that is what it was named for the role commands and I just brought it across. We could add an alias for `--token` to align it all in a sep

[2019-12-18 20:53] #61084 closed, assigned to nobody

[2019-12-18 22:03] samccann commented on #65933
@geerlingguy @jborean93  - please take a look at the WIP PR. I think the info needs to be in more than one location, but want to be sure I captured the options correctly first....thanks.

[2019-12-18 22:07] crossan007 commented on #34226
I *think* I'm still seeing this in Ansible 2.8.5

[2019-12-18 22:22] mikewiebe commented on #65954
@Woclandiner Thanks for raising the issue.  I have a potential fix (https://github.com/ansible/ansible/pull/65962).  Can you verify the fix in your setup?

Thanks!

[2019-12-18 22:36] cwiech commented on #65763
I am seeing the same thing with 2.9. and junos_scp.

[code]

In 2.7 I had been using connection: local with provider variables, but that is having issues in 2.9 as well.

[code]

[2019-12-18 23:17] jborean93 commented on #65933
@samccann thanks for working on that, the changes seem fine but I'm potentially hesitant on actually documeting the `~/.ansible/galaxy_token` option. My personal thoughts is it adds further complication and it may go away at some future point in time.

[2019-12-19 02:20] ganeshrn commented on #65763
junos_scp and junos_package works with connection=local and provider option in take. In your task you have not mentioned provider option dict that has information about host username password etc

[2019-12-19 02:33] #58038 closed, assigned to nobody

[2019-12-19 02:33] burnitup commented on #58038
no progress

[2019-12-19 03:24] Fred-sun commented on #60100
@haiyuazhang

[2019-12-19 04:44] manhnt9 opened #65963 "[Future Bug Prediction] mongodb_replicaset will fail in 2.11"
##### SUMMARY
Python2 support will be removed in 2.11, module mongodb_replicaset requires pymongo pip package that is only available in Python2 & pip2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mongodb_replicaset

##### ANSIBLE VERSION
2.11

[2019-12-19 04:52] Akasurde commented on #65910
@mr-blanket Thanks for reporting this issue. `state: present` assumes that the user wants to reconfigure the given VM with the given parameters. If you just want to clone the VM then you can specify power state in `state` parameter.

I am able to clone simple Debian machine using the following playbook -

[code]

Let me know if I am missing anything here or your requirements are different from my

[2019-12-19 06:09] #65746 closed, assigned to nobody

[2019-12-19 07:31] wisotzky commented on #65655
@ganeshrn , I've changed the code accordingly. It's doing roughly what's needed. Just two smaller issues with this:

1. The message is queued and displayed later - so it feels unrelated to the actual creation of the terminal session.
2. The message is displayed as is. So one would not know which network device has triggered this. For me it is not obvious from the terminal plugin to figure out the

[2019-12-19 07:48] #63844 closed, assigned to nobody

[2019-12-19 07:49] jean-christophe-manciot opened #65966 "Impossible to renew a valid wildcard certificate before the end of the authorizations cache period"
##### SUMMARY
I inadvertently lost the private key which has been used for the creation of a wildcard certificate through let's encrypt the day it was renewed.
But now, it cannot be renewed again despite ```force``` set to yes and ```remaining_days``` set to 90 or 91.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
acme_certificate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##

[2019-12-19 07:52] #65721 closed, assigned to Akasurde

[2019-12-19 07:52] #65550 closed, assigned to nobody

[2019-12-19 08:08] Akasurde commented on #43161
resolved_by_pr #65922

[2019-12-19 08:08] Akasurde commented on #43161
@japplewhite, Could you please check PR #65922 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-19 08:36] Akasurde commented on #62772
@markatdxb Thanks.

[2019-12-19 09:30] felixfontein commented on #65966
The module returned `changed: true`, which means that the order process was started. Since all  authorizations are apparently still valid, `challenge_data` doesn't contain anything. You can simply start the second stage right away without fulfilling any challenges, that should give you a new wildcard cert.

In general: for whether to start the second stage, check the `changed` field of the first s

[2019-12-19 09:39] #63273 closed, assigned to nobody

[2019-12-19 09:54] #65966 closed, assigned to nobody

[2019-12-19 10:07] jean-christophe-manciot commented on #65966
I'm surprised that it's possible to get another new certificate without be challenged.

[2019-12-19 10:36] felixfontein commented on #65966
Let's Encrypt is caching successful authorizations for a certain amount of time. So if you use the same account key, and successfully authenticated a domain name recently, there's no need to authenticate it another time.

I'm not sure for how long authentications are currently cached; from [this thread](https://community.letsencrypt.org/t/the-lifecycle-of-a-valid-authorization/101387) and the link

[2019-12-19 10:40] jean-christophe-manciot commented on #65966
According to the date ```2020-01-24``` that has been returned by phase I, and the fact that the first renewal date was ```2020-12-18```, that seems to show that the authorizations are valid for **37** days.

[2019-12-19 11:07] theraser commented on #61718
Same here. After updating from 2.6.3 to 2.9.2 I get the same error.

[2019-12-19 11:15] geekq commented on #65951
I am sorry - it looks like `GRANT DELETE,INSERT,TRUNCATE,SELECT,UPDATE ON ALL TABLES IN SCHEMA public TO username;` also only takes effect on the existing tables in the schema, not on the future ones. So the ansible module **does resemble** the behavior of the `ON ALL TABLES` clause.

The solution/workaround for my problem (set access to the tables, which will be created by a DB migration) was to

[2019-12-19 11:15] #65951 closed, assigned to nobody

[2019-12-19 11:22] Andersson007 commented on #65951
Anyway, thank you! BTW we have the postgresql_query module since 2.9 release, it's more convenient to use than shell in most of cases

[2019-12-19 11:23] Andersson007 commented on #65951
And ``session_role`` parameter of the module helps you to switch the role

[2019-12-19 12:12] Woclandiner commented on #65954
@mikewiebe
Thank you for your help.
This fix worked perfectly.

[2019-12-19 12:26] wisotzky commented on #65655
@ganeshrn, I would claim it's a restriction that `queue_message('warning', ...)` does not include the node reference. In contrast, using `queue_message('vvvv', ...)` includes such info. Any chance, to get the corresponding code changed, so that always the node reference is included?

[2019-12-19 12:27] mnordhoff commented on #65966
FYI, it's something like that a **pending** authorization is valid for 7 days, and when it's switched to valid, Boulder **adds** 30 days to the original expiration date. So you ultimately get 37 days (or something close, if I have the details wrong).

When we used to say "30 days", I'm not sure if we were inaccurate, or if the implementation changed.

[2019-12-19 12:31] #51857 closed, assigned to Akasurde

[2019-12-19 12:32] Udayendu opened #65968 "vmware_guest_network: Unable to Connect the newly added interface"
##### SUMMARY
Using **vmware_guest_network** I am able to add multiple network interface to the VM but unable to connect them when starting the vm. Even manually its not allowing to connect them. But when the VM is shutdown and I am selecting the 'Edit' option, its showing the interfaces are as connected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERS

[2019-12-19 12:48] felixfontein commented on #65966
@mnordhoff thanks for chiming in! That's good to know; I never checked out the details in Boulder...

[2019-12-19 13:46] c5253458 commented on #18305
man -e 1 timeout

[2019-12-19 14:01] c5253458 commented on #30411
``ssh -o "ConnectTimeout 60" user@host``
or
``echo "ConnectTimeout 60"  >> /etc/ssh/ssh_config``

[2019-12-19 14:02] cpu commented on #65966
I think it was just inaccurate and nobody noticed this detail until recently when it was brought up on the forum. It looks like we missed filing an issue for it so I went ahead and did that: https://github.com/letsencrypt/boulder/issues/4617 I think it's something we should fix in Boulder.

[2019-12-19 14:08] Udayendu commented on #65968
One more observation:
  - the dvswitched based port groups are already available but **vmware_guest_network** is creating the standard vswitch and attaching them.
  - And while removing the vm, its removing the standard vswitch created by this module.

Also FYI, both the dvSwitch based portgroups are part of the same dvSwitch:
[code]

Above are the dvSwitch based portgroup name.

[2019-12-19 14:39] mikewiebe commented on #65954
Glad the fix worked.  Have you tried using ansible vault to encrypt your playbook file or specific variables?

Here is the documentation: https://docs.ansible.com/ansible/latest/user_guide/playbooks_vault.html

[2019-12-19 14:40] denyskril opened #65970 "helm: Received message larger than max"
##### SUMMARY
module not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-12-19 14:51] Woclandiner commented on #65954
@mikewiebe
I am using vault, however, as ansible admin I can decrypt every password because I have the encryption pass.
On ios_user module, I can get hash from a switch and use this hash on playbook.
So, I dont have a way to know user's password.

There is a way to do the same on nxos_user module ?

[2019-12-19 14:51] cwiech commented on #65763
I just didn't put them in the post, they are there. These plays work fine in 2.7, its when I move to 2.9 there is an issue. Here is top of the play with the provider. When the play is run, note the warning message, because this node has a group var defined for network_cli (that is used in this play an others) of "ansible_connetion: netconf" ansible appears to remove the provider variable as unnece

[2019-12-19 15:11] sivel commented on #65957
Thank you very much for your interest in Ansible.  Issues impacting https://galaxy.ansible.com should be filed at https://github.com/ansible/galaxy

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-19 15:11] #65957 closed, assigned to nobody

[2019-12-19 15:26] mikewiebe commented on #65954
@Woclandiner Just to make sure I understand.  You would like to configure a username/password and then take the encrypted result and use it in your playbook like this?

[code]

[2019-12-19 15:32] sgr9412 commented on #65506
Still having the same error even after adding the condition "_line is not None_"

_line 211, in is_activated AttributeError: 'list' object has no attribute 'split'_

This happen in all the functions:
- in "_**is_activated**_" when I use beadm module with **_state=activated_**
- in "**_is_mounted_**" when I use beadm module with _**state=mounted**_
Which leads me to thnik that the problem comes fro

[2019-12-19 15:38] samccann commented on #65933
ok I'll remove it for now @jborean93 unless someone else screams.  Meanwhile, do the same two other token/api-key descriptions also work for ansible-galaxy collection install?

[2019-12-19 15:56] sivel commented on #65931
I've opened a PR to fix this at https://github.com/ansible/ansible/pull/65973

Would you mind testing?

[2019-12-19 16:03] carlbuchmann opened #65974 "duplicate_dict_key = error, returns error that is hard to diagnose"
##### SUMMARY
duplicate_dict_key = error is configured and a duplicate key is present in yaml, the error returned is hard to diagnose/comprehend

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
duplicate_dict_key
include_var module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
executed on localhost

##### STEPS TO REPRODUCE
Yaml file with duplicate key, an

[2019-12-19 16:05] sky-joker commented on #65919
Hi @arpadhajdu

When run playbook following, succeed in my lab environment.

| component | version |
|-----------|---------|
| vCenter   | 6.7.0   |
| ESXi      | 6.7.0   |

[code]

**result**

[code]

Could you try the below step?

[code]

Can you let us know the result of Playbook?

[2019-12-19 16:09] billdodd commented on #65943
Thanks for the bug report. The code in manage_indicator_led() should not be looping through all the chassis. For commands that are doing data modification requests (POST/PATCH/DELETE), they should act only on a single System, Manager or Chassis. If there are more than one System, Manager or Chassis resources, the command needs to specify the Id of the target resource (using the new `resource_id` p

[2019-12-19 16:09] sivel commented on #65974
Duplicate of https://github.com/ansible/ansible/issues/65366

[2019-12-19 16:09] #65974 closed, assigned to nobody

[2019-12-19 16:13] samdoran commented on #65711
Oof. Sorry about that. I'll work an a fix ASAP.

[2019-12-19 16:17] assarbad commented on #65944
@sivel please don't take this the wrong way, but I find it a bit discouraging that a ticket on which I spent literally over two hours to carefully research the behavior and write it up gets closed "just like that". Given your remarks I am not even sure you tried it out. Or perhaps you tried it out with `ansible` instead of `ansible-playbook` (yep, that appears to make a difference as well in regar

[2019-12-19 16:24] sivel commented on #65944
I did read this, I did test this, and we have extensive experience that should we have been consulted on IRC or the email lists could have drastically reduced your research time.  I apologize that your research efforts were in vain.

`connection: local` is generally not recommended. It doesn't do what you or most others assume it will do.  It *only* changes the connection plugin to `local`; it doe

[2019-12-19 16:24] Woclandiner commented on #65954
Yes, in the same way I do on ios_user module.
Is it possible ?

Because on module DOC the information is that we can't because on Nexus the password will be encrypted.

I want to do exactly what we do on ios_user module with hashed_password option.
For security reasons I am looking for a way to create users without access to user's password.

[2019-12-19 16:45] sivel commented on #65963
You appear to be indicating that `pymongo` is not available for Python3, however that is not true.  Additionally, python2 support is not being removed in Ansible 2.11.  We will likely continue supporting python2 until June 2024.

pymongo has supported Python3 for some time now. Per https://pypi.org/project/pymongo/  :

If you have further questions please stop by IRC or the mailing list:

   * IRC

[2019-12-19 16:45] #65963 closed, assigned to nobody

[2019-12-19 16:50] mikewiebe commented on #65954
@Woclandiner Unfortunately this capability does not exist currently for this module.  We will investigate the possibility of adding this functionality.

[2019-12-19 16:51] justjais commented on #64515
needs_info

[2019-12-19 16:56] samdoran commented on #65711
@HRio @oej Please test with PR #65977 and see if that resolves the issue.

We do not test with Alpine in our CI, so even though I've added tests for this scenario we may miss future regressions. Maybe we should look at adding Apline to our test matrix.

@oej I will look at using the commands from `shadow` if the package is present. I'm a bit worried that if we did switch to using the `shadow` comm

[2019-12-19 17:06] Woclandiner commented on #65954
Thank you for your help.

For now, I have edited the command on module adding parameter "5" to the command.
It worked to me for now and I can add users with hash.

I will wait for next release to update playbooks with the new option.
Thanks a lot. Nice job !!!

[2019-12-19 17:12] #65871 closed, assigned to nobody

[2019-12-19 17:14] sivel commented on #65867
!component =lib/ansible/modules/cloud/google/

[2019-12-19 17:30] rdonkin opened #65981 "Jinja2 template output is incorrect when jinja2_native is true"
##### SUMMARY
Jinja2 creates incorrect template output with jinja2_native set to true

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes:
[code]

##### OS / ENVIRONMENT

Control machine: Ubuntu 18.04, Python 3.7.3
Target machine: Ubuntu 18.04, Python 2.7.15+ (via connection: local)

Also replicates on macOS 10.11.3 with Py

[2019-12-19 17:32] mikewiebe commented on #53931
@MyTestCode1 Is this still a problem for you?  Did you pip install scp on your Ansible controller?

[2019-12-19 17:48] zoechi opened #65982 "wakeonlan and win_wakeonlan should use read MAC from /etc/ethers"
##### SUMMARY

`wakeonlan` and `win_wakeonlan` require a MAC address, but should accept a hostname or IP instead
and read the associated MAC address from `/etc/ethers` file, where it often needs to be maintained for other services (like dnsmasq) anyway.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`wakeonlan`
`win_wakeonlan`

##### ADDITIONAL INFORMATION

- https://serverfault.com/quest

[2019-12-19 17:53] mkrizek commented on #65981
This has been fixed in upstream Jinja2 and the fix will be included in Jinja2 2.11. Until then you can use the `master` branch of Jinja - https://github.com/pallets/jinja.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-19 17:53] #65981 closed, assigned to nobody

[2019-12-19 18:41] soulofmischief commented on #65674
Any workarounds for the time being?

[2019-12-19 18:41] #32003 closed, assigned to nobody

[2019-12-19 18:46] jborean93 commented on #65933
For Galaxy it doesn’t matter as the install steps can work unauthenticated but it would be needed for Automation Hub.

[2019-12-19 19:05] #65814 closed, assigned to nobody

[2019-12-19 19:10] #65254 closed, assigned to s-hertel

[2019-12-19 19:19] #61421 closed, assigned to nobody

[2019-12-19 19:23] samdoran commented on #65645
This is working as designed. If no matches are found, the line will be inserted at the end of the file.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-19 19:23] #65645 closed, assigned to nobody

[2019-12-19 19:24] samdoran commented on #65652
!component =lib/ansible/plugins/action/aws_s3.py

[2019-12-19 19:28] rdonkin commented on #65981
Thanks for that, will use the fixed Jinja2 version.

[2019-12-19 19:47] #65636 closed, assigned to nobody

[2019-12-19 19:50] #65263 closed, assigned to nobody

[2019-12-19 20:01] samdoran commented on #65762
This is currently possible by using a script for `ANSIBLE_VAULT_PASSWORD`. Look at https://github.com/ansible/ansible/tree/devel/contrib/vault for examples of vault password scripts.

This can also be done using a script and file globing.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/for

[2019-12-19 20:01] #65762 closed, assigned to nobody

[2019-12-19 20:01] billdodd opened #65983 "Fixes for Redfish resource_id option"
##### SUMMARY

PR #62921 added a new `resource_id` option for the redfish_command and redfish_config modules. In that PR, the old, limited behavior of selecting the first System, Manager or Chassis in a collection is deprecated in favor of using the new option to explicitly specify the target resource. The version specified in the call to AnsibleModule.deprecate() was '2.13'. But since #62921 did

[2019-12-19 20:08] worsco commented on #33193
Instead of having multiple items in "record_value:", what about having another state in addition to "present" and "absent".  Call the state "append".  This will allow you to "append" additional entries to the "record_value".  If the record does not exist, then "append" it and do not remove any of the other records. If the "record_value" already exists, do not add it again.  The following example c

[2019-12-19 20:10] luckeyca opened #65984 "ansible-galaxy install requirements.yml doesn't work when version attribute is non master branch name"
##### SUMMARY

ansible-galaxy install fails when version in the requirements.yml is a non-master branch name. It used to work. now only works when version is a master branch name, a tag or a commit hash.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy install, version attribute in the requirements.yml.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2019-12-19 20:24] Woclandiner opened #65985 "[IOS_CONFIG] - Issue using loop"
##### SUMMARY
When I execute the playbook with loop option I see the error below.
However, when I change the playbook to use commands without loop, I don't have the same error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco IOS Software, C3560 Software (C3560-IPSERVICESK9-M), Version 12.2(50)SE

[2019-12-19 20:33] worsco commented on #33193
Another example, instead of a `state` of `append`, an attribute set to true:

[code]

[2019-12-19 21:00] #63466 closed, assigned to nobody

[2019-12-19 21:02] samdoran commented on #43514
This was fixed by #63194 as @winem pointed out, which is available in Ansible 2.9.1 and 2.8.6.

[2019-12-19 21:02] #43514 closed, assigned to nobody

[2019-12-19 21:33] cenwangumass opened #65988 "ec2_instance is slower than ec2 when creating new EC2 instance"
##### SUMMARY
When I use `ec2_instance` to create a new instance, the task is slower than `ec2`. But from AWS console, it can be seen that the instance is started. Also, using `ec2` module doesn't have the same problem; it returns the result normally.

The waiter should be made configurable, so either the instance status 'OK' or the instance state name 'running' is achieved.

##### ISSUE TYPE
- Fe

[2019-12-19 21:35] lingfish commented on #47023
Hi, so what's the workaround for this, if any?

[2019-12-19 21:54] HRio commented on #65711
@samdoran thanks I cherry-picked your commit (f8224682230019619715e857b57ba80755d947a3) ontop of v2.8.7 and it solves overwrite of the passwd hash on Alpine v3.10

[2019-12-19 22:00] IPvSean opened #65989 "eos_vlans is using ios_vlans examples"
##### SUMMARY
https://docs.ansible.com/ansible/latest/modules/eos_vlans_module.html#eos-vlans-module

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
eos_vlans

##### ANSIBLE VERSION
N/A on latest/devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A, DOC BUG

##### ADDITIONAL INFORMATION
change ios->eos

[code]

should be

[code]

[2019-12-19 22:06] #65265 closed, assigned to nobody

[2019-12-19 22:50] assarbad commented on #65944
Thank your for the insights.

The inconsistency between setting `interpreter_python=auto` from `ansible.cfg` and environment is defined proper behavior?

That was the workaround I had put in place. I'll investigate `delegate_to`. I think I may have underestimated its scope ...

[2019-12-19 23:12] agaffney commented on #65783
I can reproduce this with the following playbook:

[code]

and the following command:

[code]

The host `foo` doesn't exist in my infra, but the playbook runs successfully, because it runs everything on `localhost` (`nuc2` in the output).

[code]

[2019-12-19 23:24] agaffney commented on #65783
It looks like `_get_connection()` in `executor/task_executor.py` only gets called once for the task when `localhost` is first in the list but gets called for each loop iteration if `localhost` is later in the list.

[2019-12-19 23:55] agaffney commented on #65783
It looks like `ansible_connection` is not set in `variables` on the first trip through `_execute()`, but it gets populated by the call to `self._play_context.update_vars()`. On the second trip through `_execute()`, the `ansible_connection` key is already set in `variables` to the value (`local`) set on the first trip through `_execute()`.

[2019-12-20 00:10] agaffney commented on #65783
I managed to find/fix one instance of vars being carried over between loop iterations by adding `task_vars = self._job_vars.copy()` to the top of the loop in `_run_loop()`, but that doesn't actually fix this bug!

[2019-12-20 01:35] mulatinho commented on #65988
Hi! I am using the same version (ansible 2.10.0.dev0 and on MacOS) and it runs fine on my machine.

It is a little slower but it works pretty fine.

[2019-12-20 02:07] walterrowe commented on #65506
Good observation and testing. A review of _find_be_by_name() shows that FreeBSD lines are not split in the same manner as non-FreeBSD lines. Elsewhere FreeBSD lines have tab separate and non-FreeBSD lines have a semi-colon separator, but both types of lines are split with “split()”. This is not the case in _find_be_by_name(). Note the use of re.match() for FreeBSD and split() for all others when t

[2019-12-20 02:41] agaffney commented on #65783
As a side note, it seems that the variable bleed-over still happens when `localhost` comes later in the list, but it doesn't seem to actually affect the implicit localhost for some reason. It's just that when `localhost` comes first and affects the later hosts that should use SSH that it's noticeable.

[2019-12-20 03:25] Akasurde commented on #43161
Closing this issue since PR #65922 is merged. Please feel free to open a new issue if problem persists.

[2019-12-20 03:25] #43161 closed, assigned to nobody

[2019-12-20 04:36] zarr12steven opened #65990 "I can't get loop values via loop, loop_control, loop_var"
##### SUMMARY

I hope can use loop get different "TEAM_GROUP", and get the correct item.NAME, item.GROUP....etc, but I always get error below information.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

user,  group and authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

* directory structure

[code]

*  ansible.cfg

[code]

* cat inventories/lab/group_vars/all/user

[code]

[2019-12-20 04:38] Udayendu commented on #65968
I did some more testing and found that **vmware_guest_network** module is unable to handle dvswitch based port groups and creating them as the standard switch. And as those newly created standard vSwitch are not mapped to any host, its not allowing to connect that.

So if this module supporting only standard vSwitch ?

[2019-12-20 07:03] ganeshrn commented on #65655
@wisotzky Yes by design the logs are queued and displayed at the end of the task run. If the user is expected to use `ansible_network_os: nokia.sros.classic` why not raise an `AnsibleError` exception in the terminal plugin itself instead of providing a warning? You can provide the node reference in the message itself by referring to  `self._connection.get_option('host')`

[2019-12-20 07:03] ganeshrn commented on #65655
Reopening the issue to use it to track the netconf auto depreciation changes.

[2019-12-20 07:08] ganeshrn commented on #65763
The behaviour is expected for 2.9. If the value of connection for given task is netconf the provider option will be deleted. You can try to provide the connection option at the task level for junos_scp to override the connection value in group_vars for that particular task.

For eg:
[code]

needs_info

[2019-12-20 07:22] ganeshrn commented on #65655
Raised 2.9 backport PR https://github.com/ansible/ansible/pull/65991

[2019-12-20 08:08] wisotzky commented on #65655
Main reason we wanted to avoid `AnsibleError` is to achieve idempotency for playbooks that do initial node commissioning (day0 operation): If a Nokia SROS node becomes online the first time, it runs in classic mode. A configuration change is required to enable MD mode, while after the change the CLI user must re-login. The way those SROS plugins are written, one can run `show` commands and determi

[2019-12-20 10:11] idelsink opened #65993 "docker_container: Always recreates the container when restart_policy is changed"
##### SUMMARY

The [docker_container](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html) module recreates a container when the `restart_policy` is changed. This can be changed using the `docker update` command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[docker_container](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html)

##### ANSIB

[2019-12-20 10:14] idelsink commented on #65993
!component docker_container

[2019-12-20 10:15] idelsink commented on #65993
Hmm I think that's not how it's supposed to work

[2019-12-20 10:17] Akasurde commented on #59210
USB controllers can be added using `vmware_guest_controller`. Closing this issue. Thanks.

[2019-12-20 10:17] #59210 closed, assigned to nobody

[2019-12-20 10:25] tsluyter commented on #65770
Correct and I just confirmed yesterday that the manual adjustment to nmcli.py mentioned there does work on Kali Linux 2019.4.

[2019-12-20 10:37] Akasurde commented on #65770
@tsluyter Can you please check if PR #65726 works for you? And let me know. Thanks.

[2019-12-20 11:44] Akasurde commented on #65968
resolved_by_pr #65994

[2019-12-20 11:44] Akasurde commented on #65968
@Udayendu, Could you please check PR #65994 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-20 11:59] AL71B commented on #54784
Also seeing this during the Task Gathering Facts of an Ansible Playbook, connecting to an Azure VM on port 5986.

At the beginning of the play `Play [all]`, the winrm connection is made, but is then closed.
`WINRM CLOSE SHELL: `

It then starts `TASK [Gathering facts]` but then quickly fails.

`11:23:01  The full traceback is:
11:23:01  Traceback (most recent call last):
11:23:01    File "/usr/lib

[2019-12-20 12:31] AdamBrassard commented on #64667
@OxHobbs having worked with Sam on this issue, I can say we were looking for a match or alignment with the Network Security Group rule purge options: [NSG](https://docs.ansible.com/ansible/latest/modules/azure_rm_securitygroup_module.html#azure-rm-securitygroup-module)
I believe they would function the same from your description however it would be nice to align the terms used in both Azure specif

[2019-12-20 13:11] mulatinho commented on #65988
Hi! I am using the same version (ansible 2.10.0.dev0 and on MacOS) and it runs fine on my machine. It is a little slower but it works pretty fine.

@cenwangumass can you confirm this issue again!? please wait at least 3-6 minutes after the ansible-playbook run, here it works fine.

[2019-12-20 13:47] Vladimir-csp commented on #42194
Related https://github.com/ansible/ansible/issues/22559#issuecomment-474382942

[2019-12-20 14:21] chrisvanheuveln commented on #61874
Fixed by #63960

[2019-12-20 14:21] #61874 closed, assigned to trishnaguha

[2019-12-20 14:26] sivel commented on #65990
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-20 14:26] #65990 closed, assigned to nobody

[2019-12-20 14:29] sandrich opened #65996 "jabber module 'xmpp' has no attribute 'JID'"
##### SUMMARY
When I try to use Jabber it complains about the module xmpp

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jabber module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7
Python 3.6.3
xmpppy 0.5.0rc1

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

It should send a message

##### ACTUAL RESULTS

[code]

[2019-12-20 16:06] bcoca commented on #65783
probably cause the implicit localhost defines it's own connection variables and those will override the task ones. So maybe not the exact same problem we have with delegation, but very similar.

[2019-12-20 16:27] axel3rd commented on #65109
Confirm fixed on **v2.9.2** 👍

😘

[2019-12-20 16:32] Udayendu commented on #65968
@Akasurde, I did some test and found that e318cd0 is working well. Its able to add/remove/modify dvSwitch based portgroups. Thanks for fixing it. Please do the back port of this patch to ansible 2.9

[2019-12-20 16:44] #64141 closed, assigned to nobody

[2019-12-20 17:03] mattclay commented on #65907
This is mostly likely due to the release of coverage 5.0 on December 14th:

https://pypi.org/project/coverage/5.0/#history

[2019-12-20 17:08] mattclay commented on #65907
I've just looked over the changes to coverage 5.x and it is definitely incompatible with ansible-test.

I'll update the constraints file and see if I can also add a version check in the code.

[2019-12-20 17:20] cwiech commented on #65763
That does not work either, it still removed the provider variables. I don't think this should be expected behavior, as it stands ansible 2.9 is creating an inconsistent either/or setup, we can either copy files to the router OR configure it, but it is unable to do junos_scp and use any module built with network_cli.

[code]

[code]

[2019-12-20 17:32] cenwangumass commented on #65988
@mulatinho Hello, I tested again, using a different machine, at a different location, and also Ansible 2.9.2 with Python 3.7.5. It still doesn't work. In particular, I ran `ec2` module twice, and it returned in only 30 and 35 seconds. But `ec2_instance` doesn't return even after 3 minutes.

[2019-12-20 17:43] cenwangumass commented on #65988
I did another test. I added a `wait_timeout: 60` option to `ec2_instance` module so the module is forced to return after 60 seconds, and then print the `ec2` variable. It shows the instance is already started.

[code]

[2019-12-20 18:08] jhawkesworth commented on #54784
@AL71B I doubt there is an official recommended timeout - too many variables.  For Azure, I wound up setting the following to give plenty of time winrm to come up before I started hitting my azure vms via winrm.
  - name: wait for winrm
    wait_for_connection:
       sleep: 3
       timeout: 900

That said, before this point, I wound up using 3 virtualmachine extensions (1 to encrypt vm, 1 to joi

[2019-12-20 18:09] #65711 closed, assigned to samdoran

[2019-12-20 18:13] samdoran commented on #65711
@HRio Thank you very much for the confirmation. I have merged this and opened backports, so it will be fixed in the next 2.8 and 2.9 releases.

[2019-12-20 19:07] Jon-Rausch commented on #63045
Found that the node WWN information for SAS onboard controllers is in hex format already and fails on an attempted conversion with a typeerror.  Edited the code below to attempt a conversion and to run the formatting (adding ":") if the conversion to hex fails due to a typeerror.  The portWWN was never in hex from the FiberChannel controllers, so it didn't require this check.  Still waiting on som

[2019-12-20 19:10] wenottingham opened #66002 "module_utils: does not properly encode URLs"
##### SUMMARY
module_utils:urls.py causes traceback when passed certain URLs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_utils

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 31.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Succeeds. For example curl and wget take the exact same URL on the commandline fine.

##### ACTUAL RESULT

[2019-12-20 19:13] sivel commented on #66002
We shouldn't traceback, but it is purposeful that we don't auto urlencode the URL. This is the callers responsibility. However, we may be open to accepting a new feature that allows for this to be optionally enabled.

[2019-12-20 19:17] wenottingham commented on #66002
What is the use case where you would not auto-urlencode the URL? What you describe implies that every single caller of every module that uses module_utils (get_url, unarchive, others) needs to encode every time, just in case they may be passed a URL/URI that needs it.

[2019-12-20 19:17] sivel commented on #66002
I will however note that `open_url` typically contains no error handling, that is also the responsibility of the caller. However `fetch_url` does contain such error handling

[2019-12-20 19:55] #65907 closed, assigned to mattclay

[2019-12-20 20:21] cigamit commented on #65910
I believe he is stating that it does clone it, but even though he is not giving any customization options, it does a sysprep on the Windows VM.  Most likely its caused by setting the network port name, and is probably fixed by this #65997

I will test myself tonight.

[2019-12-20 21:58] Goeldeepesh opened #66005 "Multiple Tasks in a single role is not working on specified hosts."
##### SUMMARY

I have a main.YAML file inside a single role/test/tasks. i.e /roles/test/tasks/main.yaml. In my main.yaml I have defined multiple tasks and want to run those multiple tasks on multiple hosts. say - first two tasks should run on hostA, next two should run on hostB and so on.
I have tried giving tags to multiple tasks inside the role and then calling those in the main playbook but ins

[2019-12-20 22:19] s-hertel commented on #65984
It seems like this may be something particular to your setup because I can't reproduce this with a generic requirements.yml such as:
[code]
It's not clear why it's failing though because the stderr isn't included in the error message. I opened a PR to append that #66006.

[2019-12-20 22:33] superAX commented on #65330
Face same issue when coding playbook with `fortios` modules. Actually all the modules have this issue. The following is a quick solution,
[code]

[2019-12-20 22:48] Lekensteyn commented on #65645
It is working as *currently* documented, but certainly not as expected. Hence the feature request, the original description contains a motivation.

[2019-12-20 23:16] sivel commented on #66005
Tags can only be filtered from the command line using `--tags`.  Supplying `tags:` on a play, adds that tag to all tasks within the play.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-20 23:16] #66005 closed, assigned to nobody

[2019-12-21 00:17] mattclay opened #66012 "Disabled integration test azure_rm_storageaccount"
##### SUMMARY

The `azure_rm_storageaccount` integration tests have been disabled in devel and the supported stable branches because the tests are failing.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_storageaccount integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm_sto

[2019-12-21 00:17] mattclay commented on #66012
PRs to disable the tests:

devel - https://github.com/ansible/ansible/pull/66008
stable-2.9 - https://github.com/ansible/ansible/pull/66009
stable-2.8 - https://github.com/ansible/ansible/pull/66010
stable-2.7 - https://github.com/ansible/ansible/pull/66011

[2019-12-21 05:58] #48055 closed, assigned to nobody

[2019-12-21 05:59] Akasurde commented on #65770
Closing this issue as PR #65726 is merged. Please feel to open a new issue if problem persists.

[2019-12-21 05:59] #65770 closed, assigned to nobody

[2019-12-21 06:00] Akasurde commented on #63291
PR #65726 is merged. Closing this issue.

[2019-12-21 06:00] #63291 closed, assigned to nobody

[2019-12-21 06:20] Akasurde commented on #64034
Closing this issue as #65369 is merged. Please feel free to open a new issue if problem persists.

Backport for Stable 2.9 - #66013

[2019-12-21 06:20] #64034 closed, assigned to nobody

[2019-12-21 09:27] maximdorko commented on #65501
https://azure.microsoft.com/en-us/updates/network-security-group-improvements-now-available/
I can't find SDK infomration, but ICMP should br available. It's on Azure portal and would be great if we ICMP only can be added.

[2019-12-21 11:05] fraff opened #66015 "Add optional arguments to "stopslave" and "startslave" command"
##### SUMMARY
Add optional arguments to "stopslave" and "startslave" command.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_replication

##### ADDITIONAL INFORMATION
I had to move a slave from a master to an other master, I've followed this procedure, https://dba.stackexchange.com/questions/58630/mysql-how-to-change-a-slave-to-a-new-master so I had to execute:
STOP SLAVE SQL_THREAD;

[2019-12-21 11:24] Goeldeepesh commented on #66005
I have tried running the below command:
ansible-playbook -i hosts main.yaml --tags cplane

but still tasks executed on all the hosts.

![image](https://user-images.githubusercontent.com/54981007/71307310-82c23b80-2412-11ea-82d1-0add1965dd92.png)

[2019-12-21 11:49] #58578 closed, assigned to nobody

[2019-12-21 11:50] #64788 closed, assigned to nobody

[2019-12-21 12:08] Shaps commented on #65988
Hi @cenwangumass, I don't seem to be able to reproduce this issue, I tested with both `2.7` and `3.8`.
Which version of boto3/botocore do you have?

[2019-12-21 13:48] Yadnyawalkya commented on #65904
Aaand we have this ^^ PR. Sorry folks I almost forget it, Thanks for waiting! :-)

[2019-12-21 13:48] expeditioneer opened #66019 "openssh_keypair: add option to specify the number of KDF (key derivation function) rounds used"
##### SUMMARY
Currently it is not possible to specify the number of KDF (key derivation function) rounds used.
It would be nice to have this as a parameter for the module.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssh_keypair

##### ADDITIONAL INFORMATION

When ssh-keygen is executed via the command line, this parameter can be specified with '-a'.

[code]

[2019-12-21 15:03] keks24 opened #66020 "Not set variables can be used first and then be manipulated in "vars_prompt" using "prompt""
##### SUMMARY
I am using `prompt` in `vars_prompt` to manipulate the variable `serial` in a playbook to define how many of my hosts should be updated at once. I am not sure, if this should be possible, because I am using a variable before it was actually defined. I always guessed, that a playbook is read top-down.
Is this intended or did I find a bug?

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2019-12-21 15:10] #41173 closed, assigned to nobody

[2019-12-21 15:19] keks24 commented on #66020
!component =lib/ansible/executor/playbook_executor.py#L115

[2019-12-21 16:09] gundalow commented on #65907
Thank you for the quick fix. I've confirmed this works.

[2019-12-21 16:18] gefela opened #66021 "Ansible AWX"
##### SUMMARY
Warning message displayed when when running playbook within Ansible AWX

##### ISSUE TYPE
 [WARNING]: provided hosts list is empty, only localhost is available. Note
that the implicit localhost does not match 'all

##### COMPONENT NAME
Ansible AWX

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2019-12-21 17:27] #51132 closed, assigned to GomathiselviS

[2019-12-21 17:27] #40149 closed, assigned to nobody

[2019-12-21 18:55] #26364 closed, assigned to nobody

[2019-12-21 21:58] cenwangumass commented on #65988
@Shaps
[code]

[2019-12-21 23:35] winem commented on #65993
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2019-12-21 23:36] winem commented on #65993
I am already working on a PR. Actually not a big deal but I have to put bit more time to do it right and not violate the currently very clear structure of the module.

[2019-12-21 23:45] winem commented on #65993
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2019-12-22 00:09] felixfontein commented on #65993
Just put `docker_container` in the `COMPONENT` field the next time.

[2019-12-22 00:52] s-hertel commented on #66020
This is working as expected. The `serial` value is post validated after the variable is available. In general, Ansible evaluates variables lazily (i.e. as they are used by the engine rather than when the playbook is loaded). YAML lists (such as the `task` list) are ordered top to bottom and used in that order. YAML mappings (for example your play level dictionary that contains the keys `hosts`, `s

[2019-12-22 00:52] #66020 closed, assigned to nobody

[2019-12-22 00:54] bobsaintcool opened #66023 "Allow ignore missing file errors on fileglob plugin"
##### SUMMARY

I would found it nice to have the possibility to remove the warning printed by lookup plugins when a file is missing from the controller search path.
While using the lookup plugin "alone" I found this can by done using a couple of test like  `query('fileglob', 'X')` protected by `when: "'x' is is_file"`. But using fileglob in a `loop` it seems that the lookup is performed before the

[2019-12-22 00:59] felixfontein commented on #66019
I don't think this makes any sense as long as the module won't handle passphrases for private keys. Or do I understand something incorrectly?

[2019-12-22 03:11] Akasurde commented on #66021
Hi @gefela !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows u

[2019-12-22 03:11] #66021 closed, assigned to nobody

[2019-12-22 11:28] arikbidny opened #66025 "Provisioning EC2 instance threw ansible"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hey,
I'm trying to provision ec2 instance with this tutorial:
https://medium.com/datadriveninvestor/devops-using-ansible-to-provision-aws-ec2-instances-3d70a1cb155f
I changed all the values to match my aws account,
I'm getting an timeout error after 5 min of playbook running as below:
[code]

[2019-12-22 12:12] expeditioneer commented on #66019
I think this is Independent from the key passphrase. A possible use case is generating host keys.

[2019-12-22 12:22] expeditioneer commented on #66019
Okay, then please add it as a request for the future, when passphrases are correctly handled.

[2019-12-22 16:15] #59391 closed, assigned to nobody

[2019-12-22 16:26] s-hertel commented on #66025
I just tried the playbook in the article you linked after updating the variables to values for my account with the same region you used (eu-central-1) and was unable to reproduce the failure. It looks like it's timing out during pagination of the instances in the ec2_instance_facts module. It seems most likely that this was an AWS service issue. If it was an issue with your credentials I'd expect

[2019-12-22 16:26] #66025 closed, assigned to nobody

[2019-12-22 17:28] vbotka commented on #56779
FWIW.

[code]

is caused by missing line

[code]

in `/etc/ssh/sshd_config`.

[2019-12-22 18:39] gundalow commented on #65560
@ccbenny Good idea, thank you for the suggestion. We are tracking this as https://github.com/ansible-collections/grafana/issues/21

@Benjamin-Riefenstahl-mecom @ccbenny Given that, are we OK to close this issue?

[2019-12-22 19:16] #22300 closed, assigned to alikins

[2019-12-22 19:38] mpechner commented on #51122
https://github.com/ansible/ansible/pull/65924
Rans tests for states: presents, absent and list for the resource types:  cluster, service and task_definition.  Even though tag_resource handles tasks and cluster instances, did not see a way to just grabbing the facts for existing tasks and cluster instances.

  How do I get someone to start interacting with me on the PR?

[2019-12-22 22:00] idelsink commented on #65993
Ah sounds great! I'm looking forward for the PR!

Sure, will do! A markdown link is not working then, noted.

[2019-12-23 00:08] cenwangumass commented on #65988
@Shaps Hello, I looked at `ec2_instance`'s source code. At [this line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_instance.py#L1647), it is awaiting the newly created instance, but it seems that it doesn't pass `state` specified in playbook to function [await_instances](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_instan

[2019-12-23 02:51] Fred-sun commented on #65501
@maximdorko Thanks for your I update, I'm going to create PR and add it -- #66028 .

[2019-12-23 03:27] Fred-sun commented on #59770
kindly ping

[2019-12-23 03:41] #64682 closed, assigned to nobody

[2019-12-23 03:41] #65237 closed, assigned to nobody

[2019-12-23 05:03] Akasurde opened #66030 "VMware: vmware_content_deploy_template only supports vm_template"
##### SUMMARY
`vmware_content_deploy_template` only support `vm_template` and not `ovf`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try deploying OVF library item from content library. Module fails with

[code]

#####

[2019-12-23 05:03] Akasurde commented on #66030
cc @pgbidkar

[2019-12-23 05:38] rohitthakur2590 commented on #61302
already taken care in 2.9

[2019-12-23 05:38] #61302 closed, assigned to ganeshrn

[2019-12-23 05:40] rohitthakur2590 commented on #61298
It was due to authentication timeout, and is intermittent.

[2019-12-23 05:40] #61298 closed, assigned to rohitthakur2590

[2019-12-23 05:58] markuman commented on #65008
@pritul95 yes, please create a pr if you have a fix.

[2019-12-23 06:37] Gover-WM opened #66031 "Azure VNet Peering disconnected state"
##### SUMMARY
The playbook will create virtual network peering between local and remote virtual network utilizing two Azure profiles for authentication passed into each module during playbook execution. This works as intended however an unintended behavior when 1 of the peerings is deleted leaving the other peering in a disconnected state.

Either the playbook will execute and state ok even when t

[2019-12-23 07:01] Fred-sun commented on #59916
@bpados I think it's reasonable that ansible's design can't update OS disk.  because we can't update OS disk types because of constraints . The Azure portal prompt as follow picture. Thank you very much!
[code]

[2019-12-23 07:55] s-hertel commented on #65988
@cenwangumass  The instance status check can be (and should be) `OK` while the instance state name is `running`. When a status check is not `OK` it means there is a non trivial problem with the instance (such as memory issues or kernel panic). I would take a look at the output of `aws ec2 describe-instance-status` for the particular instance and then follow this troubleshooting guide https://docs.

[2019-12-23 08:42] maximdorko commented on #65501
Thank you, appreciate it. It will help a lot in my work.

[2019-12-23 08:49] PeterEB commented on #63234
I have the same problem in ansible 2.9.2.

@okanozdemir, Do you know if has this been resolved or of any workarounds?

[2019-12-23 10:03] asarubbo opened #66034 "aws_s3 is not idempotent"
##### SUMMARY

The module aws_s3 looks to not be idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_s3
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The task should not result as changed

##### ACTUAL RESULTS

The tasks results as "changed" and the object is downloaded o

[2019-12-23 11:28] kretuqz commented on #56049
Issue still active 2.8.2, Ontap 9.6P4

[2019-12-23 12:45] tofi86 commented on #45850
@Rylon sorry for the late reply, I've been pretty busy lately.

To reproduce you need a 1Password item of type `login` with the following information:

<img width="268" alt="Bildschirmfoto 2019-12-23 um 13 10 35" src="https://user-images.githubusercontent.com/365118/71357339-a2c63c00-2585-11ea-9754-170c73f085fa.png">

I use 1Password 7.4.1 and 1Password cli `op` 0.8.0 and created the *first* item

[2019-12-23 12:58] smitsialis opened #66035 "Improve IOS_NTP to manage multiple NTP Peers"
##### SUMMARY
Should be able to add multiple peers ("server") to IOS configuration and remove any peers that are not in the list.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ios_ntp

##### ADDITIONAL INFORMATION
The module should work in the same way name-servers are managed in ios_system.  You give the module a list of servers and only those servers remain in the IOS running-config of

[2019-12-23 13:02] tofi86 commented on #45850
The second issue (original post topic) is with the 1Password item type `password`:

<img width="268" alt="Bildschirmfoto 2019-12-23 um 13 10 35" src="https://user-images.githubusercontent.com/365118/71357339-a2c63c00-2585-11ea-9754-170c73f085fa.png">

The output after logging in and querying the above mentioned item is the following (formatted for better readability):

[code]

Example `playbook-3.

[2019-12-23 13:16] tofi86 commented on #45850
So the last part of my details is about the 1Password item type `Secure Note`:

<img width="266" alt="Bildschirmfoto 2019-12-23 um 14 07 32" src="https://user-images.githubusercontent.com/365118/71360020-b0cc8a80-258e-11ea-83fb-ed355f8dc62a.png">

The output after logging in and querying the above mentioned item is the following (formatted for better readability):

[code]

As @jxn noted, this item

[2019-12-23 13:26] ganeshrn commented on #65763
@cwiech https://github.com/ansible/ansible/pull/64086 <-- This PR adds `junos_scp` in the action plugin to ignore provider option for devel branch. You can update the line in this file https://github.com/ansible/ansible/pull/64086/files#diff-abcd243b1d810a94679c5c5253de57f2R87 in your env and check if it works for you.
If it fixes the issue I will backport that change to 2.9 and the fix will be av

[2019-12-23 14:17] vvanouytsel opened #66036 "Unsupported parameters for bigip_ssl_key module: validate_certs"
##### SUMMARY
When specifying the 'validate_certs' parameter an error messages is thrown saying that 'validate_certs' is not a supported parameter. However in the Ansible documentation 'validate_certs' is listed as a parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_ssl_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS T

[2019-12-23 14:28] vvanouytsel commented on #66036
As a temporary workaround I was able to downgrade to Ansible v2.7, which is not impacted by this bug.

[2019-12-23 15:18] #65952 closed, assigned to nobody

[2019-12-23 15:25] rtouillet commented on #56049
Hello, on my side it's solved on Ansible version 2.9.1

[2019-12-23 16:07] cenwangumass commented on #65988
@s-hertel Hi, these are newly created machines. The behavior I want is as long as the instance becomes running, I want `ec2_instance` to return and then I will use `wait_for` module to wait for the SSH connection to become available. This works perfectly for the old `ec2` module.

`ec2_instance`'s behavior is different from `ec2`: it always wait for `instance_status_ok`. Since these are newly crea

[2019-12-23 16:12] bogd commented on #65853
Possibly related to https://github.com/ansible/ansible/issues/65291 ?

[2019-12-23 16:19] caphrim007 commented on #66036
@vvanouytsel the `validate_certs` parameter is a sub-key of `provider`. You have it defined outside of that key. Try moving it under that key.

[code]

[2019-12-23 16:23] s-hertel commented on #65988
@cenwangumass Ah, okay. So the issue is not that ec2_instance is hung forever, but that it simply takes longer? If it's hung forever on the failed status checks it indicates something is wrong with your instance. If that was the case, it could possibly be the result of the ec2_instance module provisioning the instance differently than ec2, but without diagnosing the underlying issue (such as follo

[2019-12-23 16:28] #50573 closed, assigned to nobody

[2019-12-23 16:31] ccbenny commented on #65560
John R Barker writes:

Sure, go ahead.

[2019-12-23 16:38] jctanner opened #66038 "ignore_unreachable needs better docs and cross references"
##### SUMMARY
https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html needs to mention or at least link to a page about ignore_unreachable

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2019-12-23 16:41] jctanner commented on #66038
Example threads where ignore_unreachable documentation could help:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ansible-project/kaBgYCZnYZ0/ZABz7-0qAwAJ

[2019-12-23 17:58] pgbidkar commented on #66030
Hi @Akasurde ,
Thanks for reporting this. Yes! OVF is not supported. OVF deploy would be separate module. I will work on creating new module for the same.
Thanks

[2019-12-23 18:01] bhundven commented on #65678
Is it possible to use vmware_vm_inventory and constructed together in AWX/Tower?

[2019-12-23 18:01] markeriv opened #66039 "ios_facts returns bad data in net_interfaces for duplex field"
##### SUMMARY
ios_facts module returns null for an interface's duplex setting when duplex is hardset.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running ansible on Red Hat Enterprise Linux Server release 7.7 (Maipo) against a cisco WS-C2950-24, running flash:c2950-i6k2l2q4-mz.121-22.EA10a.bin

[2019-12-23 18:05] bhundven commented on #65678
Also, I notice that `vmware_vm_inventory` returns the `inventory_hostname` as `name + config.instanceUuid`.
Is it possible to use constructed to change the `inventory_hostname` to `guest.hostName`?

[2019-12-23 18:07] matoro commented on #29253
Just ran into this trying to install pecl/redis.  Is this module dead or are there any plans to handle packages that require interactive answers?

[2019-12-23 20:55] ddecker-realpage opened #66042 "vmware_vm_inventory - Not working for a single vCenter"
##### SUMMARY
When trying to use vmware_vm_inventory to pull in a dynamic inventory, it works on 3 out of 4 vCenters that are configured the same way.  There is room for human error, but all vcenters are configured by way of powershell scripts.  I have verified the same user account and vcenter permissions for all 4 vcenters.  I just want to see if anyone else has seen this or could give some insi

[2019-12-23 21:42] radioactive73 commented on #56930
My understanding is you can't use the dot notation for variables with spaces anyways, and while I never create variables with spaces there are unfortunately lots of vendors that return dictionary keys with spaces through json API responses. The sensible option to me seems to switch to the square bracket notation. Hopefully setting force_valid_group_names to ignore doesn't cause ill effects further

[2019-12-24 01:54] Akasurde commented on #66036
needs_info

[2019-12-24 01:55] Akasurde commented on #66030
@pgbidkar Thanks for info.

[2019-12-24 02:59] lkthomas opened #66046 "mux_client_request_session: read from master failed: Broken pipe"
##### SUMMARY

mux_client_request_session: read from master failed: Broken pipe

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE

Ansible playbook works fine without problem only if I use transport=paramiko; Uncommented "transport=paramiko" on ansible.cfg, I got th

[2019-12-24 04:08] #62772 closed, assigned to Akasurde

[2019-12-24 04:14] Akasurde commented on #64456
resolved_by_pr #65994

[2019-12-24 04:14] Akasurde commented on #64456
@necouchman, Could you please check PR #65994 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-24 04:21] Akasurde commented on #66042
I need to do RCA for this issue. Please feel free to comment in this community thread as well - https://communities.vmware.com/thread/621304

[2019-12-24 04:22] Akasurde commented on #66042
@pgbidkar Could you please help use since you know the internals of this API? Thanks.

[2019-12-24 04:56] #54095 closed, assigned to nobody

[2019-12-24 06:43] #65660 closed, assigned to trishnaguha

[2019-12-24 08:10] #64404 closed, assigned to nobody

[2019-12-24 08:18] Fred-sun commented on #66031
@Gover-WM Thank you for taking the time to report this problem. Can you provide fail log? Are 'sub1' and 'sub2' your two credentials?

[2019-12-24 08:45] vvanouytsel commented on #66036
My bad! This works like a charm!

Thanks!

[2019-12-24 08:51] Akasurde commented on #66036
@vvanouytsel Thanks for the information. I will mark this issue as closed.

[2019-12-24 08:51] #66036 closed, assigned to nobody

[2019-12-24 09:01] AL71B commented on #54784
Thanks for the suggestions there @jhawkesworth. Its just good to know I'm not the only one who's hit this issue.

[2019-12-24 09:20] Akasurde commented on #63322
@yvespp Any news? Thanks.

needs_info

[2019-12-24 09:43] Akasurde commented on #63276
@benjdudas @nschende-mort Could you please run [this script](https://github.com/Akasurde/ansible-reproducers/blob/master/63276/63276.py) and let me know the result? I am suspecting this code of Ansible is causing the issue. We can debug once I have the output of this script. It should return information about all VMs and templates.

Please replace the values with yours. Thanks.

needs_info

[2019-12-24 10:27] netexpertccie opened #66052 "ios_command with prompt"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-12-24 10:56] netexpertccie opened #66054 "ios_command with prompt is not working to run "no aaa new-model" command"
ios_command with prompt is not working to run "no aaa new-model" command in the cisco switch

ansible version : 2.8.5

my playbook:

- hosts: labswitch
  gather_facts: false
  connection: local

  tasks:
  - name: show run on devices
    ios_command:
      commands:
        - show run
    register: config

  - name: Save output to /home/IaC/outputs
    copy:
       content: "{{config.stdout[0]}}"

[2019-12-24 11:00] netexpertccie commented on #66054
Here is my playbook output
----------------------------------------------------

PLAY [labswitch] ******************************************************************************************************************************************************

TASK [show run on devices] ***************************************************************************************************************************

[2019-12-24 11:00] dexpl commented on #45205
Same here on Debian 10 into an LXC container: both hostname module and `sudo hostnamectl set-hostname` give "Could not set property: Access denied".

[2019-12-24 11:13] dexpl commented on #45205
Forgot to mention:
ansible 2.9.2
  config file = /home/dexpl/projects/shiptor-infra/ansible.cfg
  configured module search path = ['/home/dexpl/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.7.5 (default, Dec 15 2019, 17:54:26) [GCC 9.2.1 20190

[2019-12-24 11:15] netexpertccie opened #66055 "ios_command with prompt is not working to run "no aaa new-model" command"
##### SUMMARY
ios_command with prompt is not working to run "no aaa new-model" command in the cisco switch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: ios_command
task: network automation

##### ANSIBLE VERSION

"ansible 2.8.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/netexpertccie/.ansible/plugins/modules', '/usr/share/ansible/plugins/mo

[2019-12-24 11:51] robertoalves10 opened #66056 "Error when disabling Windows schedule tasks in subfolders"
##### SUMMARY
Error when disabling already existent Windows schedule tasks in subfolders

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION
2.8.6

##### CONFIGURATION
default ansible.cfg

##### OS / ENVIRONMENT
Windows 2016

##### STEPS TO REPRODUCE
Trying in using various combinations with/without quotes:
[code]

##### EXPECTED RESULTS
Disable the targe

[2019-12-24 11:55] Akasurde commented on #66052
Duplicate of #66054

[2019-12-24 11:55] #66052 closed, assigned to nobody

[2019-12-24 11:56] Akasurde commented on #66054
Duplicate of #66055

[2019-12-24 11:56] #66054 closed, assigned to nobody

[2019-12-24 12:45] ganeshrn commented on #66055
[code]

`no aaa new-model` seems to be a config command. If that's the case try above task that executes configure command to change the prompt. Also, the value of `prompt` option is a python regex so special characters should be handled accordingly or the prompt value can also be a substring of the actual prompt.

[2019-12-24 12:45] ganeshrn commented on #66055
needs_info

[2019-12-24 13:22] Akasurde commented on #43891
!component =contrib/inventory/vmware_inventory.py

[2019-12-24 13:32] Akasurde commented on #44957
resolved_by_pr #49534

[2019-12-24 13:32] Akasurde commented on #44957
@nicholasrodriguez, Could you please check PR #49534 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-24 13:34] Akasurde commented on #44288
resolved_by_pr #49534

[2019-12-24 13:34] Akasurde commented on #44288
@Joeskyyy, Could you please check PR #49534 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-24 13:51] netexpertccie commented on #66055
@ganeshrn - I used regex option to get the aaa config.

I used ios_config, there is no command to confirm user action. i.e) while ansible execute the playbook,  it expects "confirmation". but there is no option

Here is my yaml config
---
- hosts: labswitch
  gather_facts: false
  connection: network_cli

  tasks:
  - name: show run on devices
    ios_command:
      commands:
        - show run

[2019-12-24 13:52] netexpertccie commented on #66055
If i manually remove aaa from cisco switch, here is the output and the output excepts "confirm action" from user

-----

labswitch(config)#no aaa new-model
Changing configuration back to no aaa new-model is not supported.
Continue?[confirm]

[2019-12-24 13:56] ronnicek commented on #16894
@jctanner I compiled your version from https://github.com/jctanner/sshpass .. and tried to replace sshpass binary in system, so it will use your fixed version. But now I am hitting problem with

[code]

even I have access to there.. because even I copy paste command, it works as should (eg. create folder and list it with full path).

I had before tmp path in default path (~/.ansible/tmp/). Any ide

[2019-12-24 13:58] vdloo commented on #30630
This appears to be still an issue in 2.9.2. We encountered this upgrading from 1.9.4 to 2.x, on Python 3.7 the earliest version we could run was 2.5 and it was broken there already as well. the ansible output is pretty confusing, it still does the `->` thing making you think some delegation is still going on:

[code]

we used delegate_to to perform an rsync from a second host to the host on which

[2019-12-24 14:01] ganeshrn commented on #66055
What is the error you are seeing and what is the value of `_servers`

[2019-12-24 14:06] netexpertccie commented on #66055
Thanks for the response. here is the requested output

-------

TASK [get the current configuration] ************************************************************************************
task path: /home/foreverkaruppu/IaC/AAA-config-remove.yaml:19
ok: [labswitch] => {
    "ansible_facts": {
        "_servers": [
            "aaa new-model"
        ]
    },
    "changed": false
}

-----------------

[2019-12-24 14:09] ganeshrn commented on #66055
`ios_config` does not support prompt handling. You can use either ios_command as described in my previous comment or can use cli_command module https://docs.ansible.com/ansible/latest/modules/cli_command_module.html

[2019-12-24 14:26] netexpertccie commented on #66055
I tried both cli_command and ios_command.. but didn't fix the issue.

Play:

  - name: run command that requires answering a prompt
    ios_command:
      commands:
        - command: 'no aaa new-model'
          prompt: '[confirm]'
          answer: "\r"

Error:
-----
The full traceback is:
  File "/tmp/ansible_ios_command_payload_huf93_pn/ansible_ios_command_payload.zip/ansible/module_utils/netw

[2019-12-24 14:29] ganeshrn commented on #66055
Please read my comment here again https://github.com/ansible/ansible/issues/66055#issuecomment-568741663
You need to send `configure terminal` before sending any config command. Also, recheck the value of `prompt` option in task I shared

[2019-12-24 14:42] #63446 closed, assigned to nobody

[2019-12-24 14:54] netexpertccie commented on #66055
@ganeshrn  - thanks a lot. with the below play, it works as expected

  - name: run command that requires answering a prompt
    ios_command:
      commands:
        - command: 'configure terminal'
        - command: 'no aaa new-model'
          prompt: '[confirm]'
          answer: "\r"

[2019-12-24 14:54] #66055 closed, assigned to nobody

[2019-12-24 15:39] PikaYellow35 opened #66059 "Broken net_put text file"
##### SUMMARY
On sending text file by `net_put` action plugin it crashing. This is because in commit cb67235eabdce502a84f5ce7e4b0aa6c8f45c226 function `_handle_template` has been renamed. Probably plugin work broken at this moment. Later in commit 9271b4e368d663b5c6db9a99bd4d89395c7799a2 parent of `net_put.py` has been changed which further worsened the situation. I'm temporary patched a `net_put`

[2019-12-24 17:10] #39743 closed, assigned to nobody

[2019-12-24 17:34] Akasurde commented on #56729
Fixed via https://github.com/ansible/ansible/pull/46312

[2019-12-24 17:34] #56729 closed, assigned to nobody

[2019-12-24 17:36] Akasurde commented on #48366
@NathanUrwin Could you please check if #46471 resolves the issue for you and let us know? Thanks.

needs_info

[2019-12-24 17:38] Akasurde commented on #63077
@robertdebock Could you please check if #65750 works for you and let us know? Thanks.

needs_info

[2019-12-24 18:26] Shaps commented on #65988
@cenwangumass ah ok, so reading through, the issue is not really that it doesn't do anything, it just takes longer.
I agree that a configurable waiter is probably better, but it won't 'solve' your issue right now. The way I usually work around this is to use `wait: no` in `ec2_instance` and `ec2_instance_info` to gather the required info about the instance, then just as you said use `wait_for`/`wa

[2019-12-25 02:33] #63677 closed, assigned to nobody

[2019-12-25 05:03] Akasurde commented on #29247
This is feature available via `install_options: force`. Closing this request as resolved.

[2019-12-25 05:03] #29247 closed, assigned to nobody

[2019-12-25 05:31] Fred-sun commented on #59880
#66063 fixes

[2019-12-25 05:33] Akasurde commented on #47681
@kyledecot I don't see any command-line argument called `--token` in `brew install` help. Am I missing something over here? If I specify other options like `install_options: verbose` it works as expected.

needs_info

[2019-12-25 05:38] Akasurde commented on #50258
@r0bj Can you please check if #50666 works for you and let us know?

Thanks.

needs_info

[2019-12-25 05:53] Akasurde commented on #52085
resolved_by_pr #66064

[2019-12-25 05:53] Akasurde commented on #52085
@mauricerashad, Could you please check PR #66064 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-25 06:26] Fred-sun commented on #59496
@haiyuazhang Would you please help take a look this issue? Thank you very much!

[2019-12-25 06:55] ganeshrn commented on #66059
@PikaYellow35 Please check if PR https://github.com/ansible/ansible/pull/66065 fixes the issue you are seeing.

[2019-12-25 07:06] Fred-sun commented on #64667
@gavinfish @haiyuazhang  Would you please help take a look this issue?  Thank you very much!

[2019-12-25 07:39] vinuaven opened #66066 "Provide option to add description for computer object in win_domain_membership module"
It would be nice to have an option to add description for computer objects in win_domain_membership module. Currently this module doesn't support description.

##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`win_domain_membership`

##### ADDITIONAL INFORMATION

[code]

[2019-12-25 11:54] #65297 closed, assigned to nobody

[2019-12-25 12:12] Akasurde commented on #54541
resolved_by_pr #66068

[2019-12-25 12:12] Akasurde commented on #54541
@jeff-cook, Could you please check PR #66068 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-25 12:42] Akasurde commented on #56650
resolved_by_pr #66069

[2019-12-25 12:42] Akasurde commented on #56650
@max-wittig, Could you please check PR #66069 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-25 13:16] iredmail commented on #32265
I have same use case, need to generate 20+ templates and no relation between them. Generating them with async support will save much time for this case.

[2019-12-25 15:28] Akasurde commented on #59376
resolved_by_pr #66070

[2019-12-25 15:28] Akasurde commented on #59376
@glenjamin, Could you please check PR #66070 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-25 15:30] #58981 closed, assigned to nobody

[2019-12-25 15:44] Akasurde commented on #65262
resolved_by_pr #65344

[2019-12-25 15:54] Akasurde commented on #52308
needs_info

[2019-12-25 17:44] mariolenz commented on #66030
Why a separate module? It might be a bit more complex to implement, but for a user deploying a VM from a content library it shouldn't matter if it's a template or an OVF. If possible, I'd prefer a unified approach- a module that can do both.

On the other hand: Having two modules is still better than not being able to deploy OVFs from a content library at all.

[2019-12-25 19:31] r0bj commented on #50258
@Akasurde yes, it's working fine now, thanks!

[2019-12-26 00:20] #51679 closed, assigned to nobody

[2019-12-26 02:44] Fred-sun commented on #52068
@haiyuazhang @gavinfish Would you please help take a look this issue? Thank you very much!

[2019-12-26 04:59] plcarman commented on #18911
can confirm this is still happening in `ansible 2.9.2`

[2019-12-26 05:06] Akasurde commented on #50258
@r0bj Thanks for the feedback. I will mark this as resolved. Please feel open a new issue if problem persists. Thanks.

[2019-12-26 05:06] #50258 closed, assigned to nobody

[2019-12-26 05:22] jamescassell opened #66072 "`user` deprecated in `systemd` with `stableinterface`"
##### SUMMARY

The systemd module has been marked `stableinterface` since at least ansible 2.3: https://docs.ansible.com/ansible/2.3/systemd_module.html

But the `user` option has been marked deprecated, breaking the guarantee:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

systemd
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7, but it shouldn't m

[2019-12-26 05:32] gparent commented on #56786
Had a chance to try this PR a little more. The filtering works as expected:

Before (Interrupting because I was tired of waiting):
[code]

[2019-12-26 05:38] Akasurde commented on #34696
@itsmed There is no `upgrade` argument but `state: upgraded`. I updated documentation using PR #66073.

[2019-12-26 06:45] spkishoree opened #66074 ""msg": "Status code was not [201]: HTTP Error 406: Not Acceptable" while accessing sonic-wall API"
##### SUMMARY
while accessing sonicwall api from uri module getting HTTP Error 406: Not Acceptable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri  module

##### ANSIBLE VERSION

##### CONFIGURATION
ansible 2.9.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module loc

[2019-12-26 06:47] rohitthakur2590 commented on #61601
I think we haven't seen this issue for a long time now, so closing this one.

[2019-12-26 06:47] #61601 closed, assigned to rohitthakur2590

[2019-12-26 06:54] #56057 closed, assigned to rohitthakur2590

[2019-12-26 07:10] Akasurde commented on #56786
@gparent Do you think warning message like this suffices -

[code]

[2019-12-26 07:29] gparent commented on #56786
For my use case, if the filter doesn't apply, it's a typo and should be fixed. In that case the warning is great and would work as proposed.

However, with the nature of a dynamic inventory, for the folder filtering specifically, one could possibly want filters that are only meant to be used if the elements they filter on exist, and ignored otherwise. Maybe that's a scenario you want to handle too

[2019-12-26 07:55] Akasurde commented on #56786
I can add an additional parameter `no_object_failure` with three states =

`silent` - No warning message, no failure on typos or object not found
`warn` - Warning message, no failure on typos or object not found
`strict` - Failure on typos or object not found

This way user can tweak warnings and errors according to scenarios.

[2019-12-26 07:59] gparent commented on #56786
Yep, that makes a lot of sense. Thank you!

[2019-12-26 08:03] rohitthakur2590 commented on #63116
I think it occurred once, haven't seen after that

[2019-12-26 08:03] #63116 closed, assigned to ganeshrn

[2019-12-26 08:56] hasegawa-csi opened #66077 "fortios_firewall_ssl_ssh_profile SSL inspection exempt not working as intended"
##### SUMMARY

Unable to add address to SSL inspection exemption

Updating an existing ID does not change its content

If there is an undeclared ID, it will be removed
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fortios_firewall_ssl_ssh_profile
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

FROM: CentOS Linux release 7.6.1810 (Core)
TO: Fortigate90E v6.0.5 build0268 (GA)

##### ST

[2019-12-26 11:09] walkman-dev commented on #60044
Same problem if option value equal []

[2019-12-26 11:19] bobsaintcool commented on #63077
Backporting #65750 to Arch packaged version (2.9.2) at least fixed the same problem I was faced, thanks.

[2019-12-26 12:04] kyledecot commented on #47681
@Akasurde this option is specific to buildkite–see the installation section at https://buildkite.com/docs/agent/v3/osx

[2019-12-26 14:51] maloy-ghosh opened #66080 "ascii codec can't encode characters in tempfile generation"
##### SUMMARY

While writing testcase for a new ansible network module, ansible-test fails with following backtrace

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Ubuntu 16.04.6 LTS
uname:  4.15.0-70-generic
python: venv environment setup with these steps

[code]

##### STEPS TO REP

[2019-12-26 17:10] felixfontein commented on #60536
@ethanculler @woz5999 Do you have any way to contact @fdevans?

[2019-12-26 17:17] woz5999 commented on #60536
@felixfontein
@ethanculler & @fdevans are no longer at LogicMonitor.

[2019-12-26 17:30] felixfontein commented on #60536
@woz5999 so how should we proceed? Has anyone used this module recently and checked whether it (still) works?

[2019-12-27 00:10] chrisnovak commented on #34764
Is this still a problem in 2.9?

[2019-12-27 01:14] ghost opened #66083 "[cloud][amazon] CloudFront's cache_behaviors validation fails when purge_cache_behaviors is set"
##### SUMMARY
Creating a cloudfront_distribution resource fails when setting `purge_cache_behaviors: True`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudfront_distribution.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

[code]

Commenting out the `purge_cache_behaviors` line yields the correct verbose outpu

[2019-12-27 04:32] prasadkatti commented on #66083
Can you test your playbook with python 3.7? I feel like this could be another bug in the module uncovered by the use of py3.8. (similar issues - https://github.com/ansible/ansible/issues/65024, https://github.com/ansible/ansible/issues/64836)

[2019-12-27 04:38] #34696 closed, assigned to Akasurde

[2019-12-27 04:38] prasadkatti commented on #66083
Also, can you add the full stacktrace to the issue description?

[2019-12-27 05:15] #65352 closed, assigned to nobody

[2019-12-27 05:42] Fred-sun commented on #57965
@haiyuazhang @gavinfish Would you please help take a look this issue? Thank you very much!

[2019-12-27 05:52] Fred-sun commented on #57254
@saito-hideki Can you elaborate on your requirements? This will help solve any problems you encounter! Once I know, I will push for the solution of the problem! Thank you very much!

[2019-12-27 05:55] Fred-sun commented on #56776
@gavinfish @haiyuazhang

[2019-12-27 06:43] mpechner commented on #51122
affects_2.10  not 2.8

[2019-12-27 06:44] hasegawa-csi commented on #66077
The cause was found

Document proofreading error

Request a fix for a document

![ssl_inspection](https://user-images.githubusercontent.com/59244414/71505165-9d3b5f80-28bf-11ea-95fb-a5e4900e56cd.png)

[2019-12-27 07:13] #61955 closed, assigned to rohitthakur2590

[2019-12-27 07:15] Fred-sun commented on #56356
@gavinfish @haiyuazhang Would you please help take a loop this issue? Thank you very much!

[2019-12-27 09:15] vladimir74nikolic opened #66089 "bigip_device_info virtual-servers subset doesn't return snat_type/snat_pool info (when snat_type is set to snat)"
##### SUMMARY
virtual-servers subset doesn't return snat_type/snat_pool when snat_type is defined (different than none)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module name - bigip_device_info
gather_subset - virtual-servers

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE
  - name: get F5

[2019-12-27 09:59] Vladimir-csp opened #66090 "Yum module does not list dependency installations in results"
##### SUMMARY

Yum module lists only explicitly installed packages in results
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 on target machine

##### STEPS TO REPRODUCE

Install a package that needs some other dependencies to be installed.

[code]

##### EXPECTED RESULTS

Returned `installed` lis

[2019-12-27 10:21] #65954 closed, assigned to nobody

[2019-12-27 10:26] misch42 commented on #64515
works for me now.

[2019-12-27 10:26] #64515 closed, assigned to justjais

[2019-12-27 10:40] vgprash24 opened #66093 "I need to create multiple VM's using ansible via template"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

I have got an example to create one vm using template in ansible, but my need to is to create multiple VM's could anyone help me with the code

My referred example is below

- name: Create a VM from a template
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
  - name: Clone the temp

[2019-12-27 12:53] mikekrasn commented on #27706
Looks like boto returns list of strings and [get_sec_group_list](https://github.com/ansible/ansible/blob/52f3ce8a808f943561803bd664e695fed1841fe8/lib/ansible/modules/cloud/amazon/ec2_eni.py#L547) function in ec2_eni module returns list of  bytes literal which always fails on [comperation](https://github.com/ansible/ansible/blob/52f3ce8a808f943561803bd664e695fed1841fe8/lib/ansible/modules/cloud/ama

[2019-12-27 14:07] fraff commented on #59498
I would use it too

def _log_to_syslog(self, msg):
https://github.com/ansible/ansible/blob/e9d29b1fe4285d90d7a4506b80260a9e24c3bcea/lib/ansible/module_utils/basic.py#L1871

[2019-12-27 14:29] #61939 closed, assigned to nobody

[2019-12-27 14:54] krichter722 opened #66096 "Behaviour of kubectl_path of gcp_container_cluster is unintutive, deprecated and undocumented"
##### SUMMARY
Specifying the parameter `kubectl_path` of `gcp_container_cluster` seems to cause the master auth credentials to be written to the kubeconfig file created at the specified path (judging from the exception below). This is

  * undocumented
  * unintuitive as `gcloud container clusters create` creates a kubeconfig without a state-of-the-art token-based authentication
  * not only favou

[2019-12-27 16:31] lonico commented on #56049
fixed by 58531

[2019-12-27 17:25] zingyb commented on #66083
Thanks, @prasadkatti. I've updated the OP with the full trace.

This does occur with 3.7 as well:

[code]

[2019-12-27 17:32] czacharym opened #66099 "Add the "system" option to the docker_prune module"
##### SUMMARY

Is it possible to and the "system" option to the docker_prune module?  Seems the "containers", "networks" and "volume" options are there, but not the "system" option.

Sometimes we use the "docker system prune -a" and was wondering if the "system" option could be added to the docker_prune module?

Thank you.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docker_prune

#####

[2019-12-27 18:02] RaghavendraP opened #66100 "idempotency in gcp_compute_firewall breaks with latest ansible"
##### SUMMARY
In google cloud, we can create a firewall rule just by selecting the protocol without providing any port (like ICMP, tcp). While creation of the rule through works for first time but if tried to run the same task again with same parameters it fails as its unable to read such a response.
The scenario works with 2.8.5 but fails with 2.9.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-12-27 19:53] felixfontein commented on #66099
`docker system prune` is a shortcut for running `docker container prune`, `docker volume prune`, `docker volume prune` (if `--volumes` is specified), `docker image prune`, and pruning the build cache. See https://github.com/docker/cli/blob/master/cli/command/system/prune.go#L69-L104

[2019-12-27 20:58] mafalb commented on #57436
as a workaround you could specify TMPDIR environment variable to another directory (if you can)

[code]

[2019-12-27 21:09] klesher commented on #51629
I'm also experiencing this issue.  I'd say it completes about 50% of the time in my case as well, and is pretty consistently the last filesystem to be created.

This is occurring when working with Vagrant to create and start test VMs via Oracle Virtualbox, and Ansible to provision it.

- Ansible 2.9.0
- Python 3.7.5
- Virtualbox 6.0.14
- Vagrant 2.2.6

Vagrant configuration to create and attach ID

[2019-12-28 02:10] cedwardsmedia commented on #16259
Saved me with this one. I have DUO set up on my public-facing servers and this was killing me. Thanks for sharing this.

[2019-12-28 03:59] vgprash24 opened #66103 "VMware: Required to deploy multiple VM's using template in ansible"
##### SUMMARY
I am trying to develop the code for creating multiple VM's using template in Ansible, please help me to get the right code for it

##### ISSUE TYPE
- need to know how to create a code for deploying multiple vm's using template in ansible

##### COMPONENT NAME
I have got an example to create one vm using template in ansible, but my need to is to create multiple VM's could anyone help

[2019-12-28 04:51] agaffney commented on #62275
I just ran into this.

https://app.shippable.com/github/ansible/ansible/runs/154513/94/console

[2019-12-28 07:10] patlachance commented on #63212
@mdutton3 are you still working on it? I'm struggling with route53 module with AWS China...

[2019-12-28 09:54] queglay opened #66106 "Add ability to set and remove static routes in multiple distros of linux."
##### SUMMARY
It would be helpful to be able to set and remove static routes in multiple distros of linux.
If we are using something like open vpn in a VM (I'm using it in a vagrant ubuntu 16 vm), then the only way to add and remove routes is with the commands like the one below.  This is problematic as we usually have to delete routes before adding them if there is some change or we might get con

[2019-12-28 10:40] felixfontein commented on #62275
The line where that exception happens is
[code]
and `debug` is imported via `from multiprocessing.util import debug, info, Finalize, register_after_fork` (line 23). In `util.py`, it is defined as
[code]
This looks like a bug in multiprocessing and/or Python to me, and not like something we can fix. I guess it has already been fixed for Python 2.7, whence we only see it for Python 2.6 (which centos

[2019-12-28 15:48] leitian123 commented on #56181
@mikewiebe tested 2.9.1, file copy works fine with file_pull: True

[2019-12-29 07:10] akira6592 commented on #65330
The `ssl_exempt` option in the `fortios_firewall_ssl_ssh_profile` module seems to have the same problem.

[code]

The `wildcard fqdn` option should be replaced to `wildcard-fqdn` by `underscore_to_hyphen`. But because it is not replaced, an error occurs.

[2019-12-29 09:44] bogd commented on #65853
Seems a duplicate of  https://github.com/ansible/ansible/issues/65291 . That requires the fix [here](https://github.com/GoogleCloudPlatform/magic-modules/pull/2762), which for some reason seems to be stuck.

In the meantime, I have fixed it locally by changing `/usr/lib/python2.7/dist-packages/ansible/modules/cloud/google/gcp_compute_instance.py` . Hopefully the fix will make its way into the Ubun

[2019-12-29 09:44] #65853 closed, assigned to nobody

[2019-12-29 12:17] ricardobendita opened #66109 "Failed to connect to the host via ssh: Shared connection to 10.251.4.10 closed."
##### SUMMARY

I trying connect to Routers Huawei by ansible adhoc commands:

[code]

I see the result is OK with verbose mode, but command show me:

[code]
My inventory file is:
[code]

##### COMPONENT NAME

raw

##### ANSIBLE VERSION

N/A

[2019-12-29 12:24] ricardobendita commented on #66109
issue type: I dont show me the

[2019-12-29 12:31] ricardobendita commented on #66109
ISSUE TYPE
Feature Idea

COMPONENT NAME
raw module

ADDITIONAL INFORMATION
the adhoc command dont show me the correct result:

10.251.4.10 | UNREACHABLE! => {
"changed": false,
"msg": "Failed to connect to the host via ssh: Shared connection to 10.251.4.10 closed.",
"unreachable": true
}

But , I when enable verbose mode "-vvv" I see the reply, why does this happen?

Regards,
Ricardo

[2019-12-29 16:07] iTeV opened #66110 "vyos_config: set paramter hardcoded"
##### SUMMARY
It looks like the `vyos_config` hardcodes the `set` parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

Target VyOS instance runs VyOS 1.2 (codename "Crux")

##### STEPS TO REPRODUCE

task file:
[code]

interface.j2:
[code]

##### EXPECTED RESULTS
Ansible executes the commands i

[2019-12-29 16:15] NilashishC commented on #66110
cc @rohitthakur2590

[2019-12-29 17:05] iTeV commented on #66110
fwiw: It seems like the indent space in the template is the culprit. This [check](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/cliconf/vyos.py#L167) will fail because of the indent space.

[2019-12-29 18:22] itcultus opened #66111 "archive module returns OK if an archive already exists, but the archive's md5sum is different"
##### SUMMARY
The archive module returns `OK` if an archive already exists, but the archive itseld is *different*. I have the feeling that the file specified in the `dest` is recreated or something is *touched* on the file itself and the md5sum of the file is modified.
This behavior affects other modules (like for example fetch).

Related bug report: #48780

##### ISSUE TYPE
- Bug Report

##### CO

[2019-12-29 21:59] felixfontein commented on #65378
I've started with #66114, which would also solve this problem. Besides that, removing that shim is the best solution for this issue, as long as the shim isn't a good enough emulation for the real `docker` CLI program.

[2019-12-29 22:15] felixfontein commented on #52409
For `--dump-master-key`, probably the best solution is `cryptsetup luksDump --dump-master-key --master-key-file /dev/zero`. But I think there's a better solution: `cryptsetup luksOpen` allows to specify `--test-passphrase`, in which case also no destination is needed: `cryptsetup luksOpen --test-passphrase /dev/sda1` returns exit code 0 if the passphrase is correct, and other exit codes on errors.

[2019-12-29 22:16] #65815 closed, assigned to nobody

[2019-12-29 22:16] #65811 closed, assigned to nobody

[2019-12-30 03:50] Akasurde commented on #66103
Hi @vgprash24 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

You can use `loop` or `with_items` to achieve this functionality -

[code]

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!foru

[2019-12-30 03:50] #66103 closed, assigned to Akasurde

[2019-12-30 04:02] Akasurde commented on #66093
Duplicate of https://github.com/ansible/ansible/issues/66103

[2019-12-30 04:02] #66093 closed, assigned to Akasurde

[2019-12-30 04:08] Fred-sun commented on #65914
@haiyuazhang Would you please help take look this issue? Thank you very much!

[2019-12-30 04:49] sparampalli commented on #57989
Hi,

I am on vacation and will be back on Thursday. As soon as back will rebase the code change and commit it.

Sorry for the delayed response.

Thanks,
P Srikantha
From: ansibot <notifications@github.com>
Reply to: ansible/ansible <reply@reply.github.com>
Date: Friday, 20 December 2019 at 10:25 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: P Srikantha <srikantha.parampalli@avinetworks.c

[2019-12-30 04:58] Akasurde commented on #65561
resolved_by_pr #66098

[2019-12-30 04:58] Akasurde commented on #65561
@dkossako, Could you please check PR #66098 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-30 05:01] Akasurde commented on #65330
resolved_by_pr #66119

[2019-12-30 05:01] Akasurde commented on #65330
@Akasurde, Could you please check PR #66119 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-30 05:21] vgprash24 commented on #66103
Can i mention more than 500 + VM's also in this ?

[2019-12-30 05:36] Akasurde commented on #66103
Yes, you can use -

[code]

Please check [playbook loop's](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html) documentation for more information.

[2019-12-30 05:38] Fred-sun commented on #59134
@haiyuazhang @gavinfish Would you please confirm the "zones" design? I think this shouldn't list. if yes, I will send a PR to update this? Thank you very much!

[2019-12-30 05:42] Akasurde commented on #62899
!component =lib/ansible/modules/windows/setup.ps1

[2019-12-30 06:17] Fred-sun commented on #59392
@rafiddewan You can try PR #66123 , it will solve your problem. Thank you very much!

[2019-12-30 06:28] mpechner commented on #51122
I apologize, but I closed the PR.  I was trying to resync my fork.  Could not get the rebase to work.  Once I get the integration tests written and working in the next week or 2 I'll do another PR.  It kept claiming conflicts on the one file.

[2019-12-30 07:25] ngp-star commented on #46202
hi @elvinasp
i have some doubts on this issue,
like when netplan network type is mentioned in the playbook dns resolution information inserted into /etc/hosts file or is it going to create new configuration file inside the guest.? can you please explain this.?
one more thing like while mentioning network configurations form playbook using vmware_guest module there is no section like ethernets. but

[2019-12-30 08:01] justjais commented on #50238
@Falco33  @fcam-naveen the issue was fixed with PR #50975 and it's queued for `2.10` release, please verify the fix with Ansible `devel` branch.

Closing the issue

[2019-12-30 08:01] #50238 closed, assigned to justjais

[2019-12-30 08:04] justjais commented on #43313
@sheffner1226 can you please verify the issue raised with the new `ios_l2_interfaces` resource module in Ansible `2.9` and let me know if it fixes the issue you raised.

needs_info

[2019-12-30 08:04] mszumilak commented on #57436
As a workaround I can use `chmod`. What I'd like to have is the fix, not a workaround. Therefore I opened this bug.

[2019-12-30 08:06] Akasurde commented on #35015
@abhigrover Could you please check if this works for you as I am not able to reproduce this?

needs_info

[2019-12-30 08:07] justjais commented on #40920
@hemskgren thanks for raising the issue, and apologies for the late response. We have introduced the new set of resource module in Ansible 2.9, can you please verify if it fixes the issue you have raised.

needs_info

[2019-12-30 08:13] jti989 commented on #31117
Since this is still open, here is what we do to read the values from a file:

values: "{{ lookup('file', '/path/to/file/values.yaml') | from_yaml }}"

Hope this helps.

[2019-12-30 08:54] kiddingl opened #66125 "Can't get inventory_hostname"
##### SUMMARY

I want to deploy different apps according to different hosts
##### ISSUE TYPE
- Bug Report
The “when” can‘t use inventory_hostname
##### COMPONENT NAME

the task:
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos7

##### STEPS TO REPRODUCE

my ansible hosts:
[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

fatal: [vm11]: F

[2019-12-30 08:55] #66125 closed, assigned to nobody

[2019-12-30 08:57] pgbidkar commented on #66042
Hi @Akasurde , Sorry for the delay. I was on vacation.
I will check this and update

Thanks

[2019-12-30 10:19] justjais commented on #60060
@richardschuetz Thanks for raising the issue, from Ansible `2.9` onwards we have introduced a new `ios_vlans` resource module which will resolve the issue you're facing with `ios_vlan` module.

Closing the issue as with newer `ios_vlans` resource module respective issue won't be observed.

[2019-12-30 10:19] #60060 closed, assigned to justjais

[2019-12-30 11:25] rrey opened #66127 "set_options method not called for collections callback"
##### SUMMARY

It seems that the `set_options` method is not called when a callback is from a collection.
In `task_queue_manager.py` in `load_callbacks`, the loop handling collection callback is not calling `callback_obj.set_options()` while it is performed for the other callback source.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task_queue_manager.py

##### ANSIBLE VERSION

[code]

###

[2019-12-30 13:19] pgbidkar commented on #66042
Tried reproducing the issue by creating large number of tags. But couldnt reproduce the issue. I will try to do the same different inventory objects, and update the status.

in one of the StackOverFlow thread found this
[code]

[2019-12-30 13:47] Vladimir-csp opened #66132 "dnf module reports results inconsistently"
##### SUMMARY

Installations are always reported regardless of whether anything was actually installed.
Installed packages reported with versions in actual install and without versions in dry run.
Removed packages are not reported in check mode.
Some consistency would be preferable: show or not show versions, do not list already installed packages with newly installed, show supposed actions in che

[2019-12-30 14:07] fmbiete opened #66134 "[WARNING]: Failure using method (v2_runner_on_failed) in callback plugin (<ansible.plugins.callback.selective.CallbackModule object at 0x7efdb626af50>): 'AnsibleUnsafeText' object has no attribute 'get'"
##### SUMMARY
[WARNING]: Failure using method (v2_runner_on_failed) in callback plugin (<ansible.plugins.callback.selective.CallbackModule object at 0x7efdb626af50>): 'AnsibleUnsafeText' object has no attribute 'get'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Selective callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.6 x86_64

##### STE

[2019-12-30 14:37] SuperSandro2000 commented on #57342
Until this is done install the package from the Debian repos as it is based on python3 there.

[2019-12-30 14:41] SuperSandro2000 commented on #23143
This is totally possible if you release newer untested version to a testing area. In a relase like eoan only one version is available like debian or ubuntu does it.

[2019-12-30 15:46] queglay commented on #55631
I also replicate similar unicode problems if I rely on default vars.  passing the variable through as extra-vars on the commandline avoids the problem, but creates security issues for things like passwords.

[2019-12-30 15:57] drzraf opened #66135 "gitlab_project_variable: support hidden/protected variables"
##### SUMMARY
gitlab_project_variable: support hidden/protected variables

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gitlab_project_variable

[2019-12-30 16:30] tremble commented on #51122
@mpechner This things happen, when you're ready feel free to add `` CC: @tremble `` to the Additional Details section and I'll take a look again.

[2019-12-30 16:32] mpechner commented on #51122
thanks

--------------------------------------------
Michael Pechner  NE6RD

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, December 30, 2019 8:30 AM, Mark Chappell <notifications@github.com> wrote:

[2019-12-30 16:46] patrick-fls commented on #34144
Same problem... and adding  `+ ''` doesn't work in my case:
[code]
yeilds:

[code]

[2019-12-30 17:23] alanbchristie commented on #34144
Hi @patrick-fls, if you do `+ ''` for just one of them I think it should work. e.g.: -

[code]

It's about _fooling_ the template cache algorithm. If the two lines look the same a re-evaluation won't be done.

But (for me) this is just a work-around that woks in only a simple case - i.e. with two passwords because, for the same `chars` and `length` combination it can only be done once. I eventuall

[2019-12-30 17:31] patrick-fls commented on #34144
You're right, it only works for **TWO** passwords. I naively thoughts that doing a concatenation would defeat the cache. I even tried to use `pipe` instead of `password` but same problem. The caching is so overly aggressive....

I'm in a situation where I need several randomly generated 64 byte keys, i can't play with the length. I will have to do it manually on the host instead. Boggles my mind t

[2019-12-30 18:17] alanbchristie commented on #34144
Agreed - it's one heck of a flaw! ... and no-one is assigned to this so don't expect a resolution anytime soon!

[2019-12-30 18:42] in-in opened #66137 "When using YAML anchors, Ansible shows the duplicate dict key warning"
##### SUMMARY

When using YAML anchors, Ansible shows the duplicate dict key warning

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

YAML parser

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 19.3 Tricia x86_64

##### STEPS TO REPRODUCE

minimal test-case
https://github.com/in-in/ansible_yaml_anchors

##### EXPECTED RESULTS

Run playbook witho

[2019-12-30 18:50] geerlingguy commented on #65285
I think, for now, having the K8s WG on the Ansible side is most productive (since it's quite wide-ranging, from people using Ansible to manage cluster setup, to people managing apps _inside_ clusters with Ansible, to people running operators with Ansible (and other use cases too).

I've populated the Working Group wiki page (https://github.com/ansible/community/wiki/Kubernetes), and also set up a

[2019-12-30 18:50] #65285 closed, assigned to nobody

[2019-12-30 19:59] nschende-mort commented on #63276
Sure, I just go back from PTO and will take a look and try to get this shortly.

[2019-12-30 20:15] darth-monkey opened #66138 "combine() function overwrites dictionaries when used with with_items"
##### SUMMARY
When attempting to combine two dictionaries that are host variables delegated to localhost, only the last dictionary variable is stored in the merged variable rather than the dictionaries from all hosts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

combine()

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Catalina 10.15.2

##### STEP

[2019-12-30 21:53] Woclandiner commented on #65985
!component ios_config

[2019-12-30 22:42] ShachafGoldstein commented on #66056
To use folders you need to use the `path` parameter

[2019-12-31 02:14] Fred-sun commented on #58069
@haiyuazhang @gavinfish Please look at this feature request when you're available. Thank you very much!

[2019-12-31 02:25] Fred-sun commented on #58043
@haiyuazhang @gavinfish Please look at this feature request when you're available. Thank you very much!

[2019-12-31 03:18] kiddingl opened #66141 "Can't get group_names value"
##### SUMMARY

I want to get group_names, but I can't get it when I use 'when'

##### ISSUE TYPE
- Bug Report
The group_names can't be used

##### COMPONENT NAME

moudelue: when
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

os: centos7

##### STEPS TO REPRODUCE

I create a role

[code]
default/main.yml:
[code]
my hosts:
[code]
my command:
[code]
the command re

[2019-12-31 04:17] Akasurde commented on #66141
Hi @kiddingl !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

I think you are checking "a list in a list" condition in `when` since `group_names` and `node_exporter_proxy_https` both are lists. when I change like this

[code]
I get -

[code]

Thanks,

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or t

[2019-12-31 04:17] #66141 closed, assigned to nobody

[2019-12-31 04:43] Akasurde commented on #63276
No problem. Thanks for the info.

[2019-12-31 05:44] Fred-sun commented on #58285
@haiyuazhang @gavinfish Could you help check why there is no update logic for 'service_principal '? Thank you very much!

[2019-12-31 06:33] Fred-sun commented on #58601
@elaurijssens This feature have been added to the latest version of Ansible. It can get 'vault_uri' info by azure_rm_keyvault_info.  This issue can be closed! Thank you very much!
As follows:
[code]

[2019-12-31 07:33] elaurijssens commented on #58601
Thank you! I'll use this at the earliest opportunity, probably Friday

[2019-12-31 07:38] Fred-sun commented on #58729
@andyeff Are you still here? You can try PR #66032 , which has been fixed and can be closed. Thank you very much!

[2019-12-31 11:15] renxulei opened #66142 "redfish_info / redfish_config - Manager - GetSerialInterfaces / SetSerialInterface"
##### SUMMARY

This feature would implement a GetSerialInterfaces command for the Manager category of redfish_info, to retrieve all serial interfaces and their properties, like BitRate. And also implement a SetSerialInterface command for the Manager category of redfish_config, to set SerialInterface's properties, like enable/disable the interface, change BitRate.

##### ISSUE TYPE
- Feature Idea

[2019-12-31 13:37] SF-DK commented on #65910
I am having this same issue. I want to clone from a template and power on the new VM with no customization but no matter what I do it runs the vmware customization. The VM clones fine, it turns on fine but then it runs the image customization even though I don't want it to. Does anyone have a workaround to this?

[2019-12-31 15:01] AL71B commented on #25532
@ullibo You mentioned you patched transport.py. What was the patch?

Many Thanks
Alan

[2019-12-31 15:10] cwiech commented on #65763
That change worked for me, looks like that should resolve the issue.

[2019-12-31 16:01] bozho opened #66146 "docker_swarm_service healthcheck always changed"
##### SUMMARY
When using `healthcheck` in `docker_swarm_service`, it is always reported as having changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Bullseye on WSL:
[code]

##### STEPS TO REPRODUCE

I've added `healthcheck` option to an existing `docker_swarm_service` entry

[2019-12-31 17:15] #63563 closed, assigned to nobody

[2019-12-31 17:27] Gover-WM commented on #66031
@Fred-sun

Credential File:

[sub1]
subscription_id=<sub id> 
client_id=<client id>
secret=<client secret>
tenant=<tenant>

[sub2]
subscription_id=<sub id> 
client_id=<client id>
secret=<client secret>
tenant=<tenant>

Example Successful:
PLAY [all] ******************************************************************************************************************************************************

[2019-12-31 17:41] wfaulk-bw opened #66147 "setup fails to detect RHEV"
##### SUMMARY

The setup module tries to detect is RHEV is running and set `virtualization_type` to "RHEV" if so, but it checks for a process running named "vdsm". The process is actually named "vdsmd", at least in newer versions of RHEV. (I don't recall if it used to be named differently.)

This is a clear failing of `lib/ansible/module_utils/facts/virtual/linux.py` where it only checks for proce

[2019-12-31 20:17] geerlingguy commented on #29858
@petrosad's comment is correct, and helped me resolve my idempotence issue with this module, but one point of clarification: the dot at the end needs to be in the `value` parameter for an alias (it doesn't seem to matter if it's in the `record` parameter or not).

[2019-12-31 22:36] dvntstph commented on #56930
This is a pretty dreadful decision particularly when it comes to working with dynamic inventories as with Openstack (and AWS).
Instance names and metadata keys containing "forbidden characters" are often returned as inventory items and/or group variables from the underlying cloud. This is going to make life hell for a lot of Openstack (and AWS) admins trying to manage their fleets using meta tags

[2019-12-31 23:25] mmasko opened #66148 "iam_role_info: format update"
I could not find this feature request in general GitHub discussions.

Ansible version: 2.9.1

##### SUMMARY
Requesting that iam_role_info return the assume_role_policy_document return value formatted in such a way that AWS expects when using assume_role_policy_document in the iam_role module.

The problem is the return value for assume_role_policy_document returns all field values as lower case. T

[2020-01-01 00:08] mmasko commented on #66148
Ansible version is 2.9.1
I also added this to the feature request.

[2020-01-01 01:15] aparedero commented on #61176
Not sure why, but I'm receiving this error with Ansible 2.9.2 and Ubuntu Trusty 14.04.6 LTS with this small piece of Ansible

[code]

It seems updating cache shows randomly this error

[2020-01-01 02:37] mit0223 opened #66149 "How to distribute Azure VMs in Availability Zones"
##### SUMMARY
The current 'Microsoft Azure Guide' content is not enough for us to place Azure VMs in the **availability zones**. So I suggest adding some notes to this guide.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Microsoft Azure Guide(docs/docsite/rst/scenario_guides/guide_azure.rst)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Mac OS

[2020-01-01 04:14] Akasurde commented on #66149
cc @Fred-sun

[2020-01-01 05:30] Akasurde commented on #65765
resolved_by_pr #66150

[2020-01-01 05:30] Akasurde commented on #65765
@limitedreality, Could you please check PR #66150 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-01 15:55] #63956 closed, assigned to nobody

[2020-01-01 19:44] #27331 closed, assigned to nobody

[2020-01-01 20:40] jkupferer commented on #65897
I have created a `k8s_json_patch` module in this role repository...
https://github.com/redhat-gpte-devopsautomation/k8s_config/blob/master/library/k8s_json_patch.py

Any chance we could bring this into ansible core and simply pull the reference to JSON patch support from the `k8s` module?

[2020-01-02 02:43] Fred-sun commented on #66149
@mit0223 Thank you for taking the time to report this issue! You mean we need to add how to differentiate Azure VM in Availability zones in the guide_azure.rst documentation. right?

[2020-01-02 02:54] willthames commented on #65897
I'd rather fix it in the k8s module rather than add an incredibly specific new module. I haven't looked into what that would take but I'm confident enough in our test suite that refactoring to make it work is realistic.

[2020-01-02 07:51] Fred-sun commented on #65072
@Sneedes I will add the lun parameter to azure_rm_managedisk, which specifies which luns to use, and if not, a new lun value！ Please try #66153 ! Thank you very much!

[2020-01-02 07:53] Fred-sun commented on #61984
@neleshgoel I will add the lun parameter to azure_rm_managedisk, which specifies which luns to use, and if not, a new lun value！ Please try #66153 ! Thank you very much!

[2020-01-02 08:35] ggedde commented on #65931
@sivel I am not sure how to use the Pull Request as I am using Mac OS and Pip to install and upgrade it.  I think I could just swap out the json.py file, but I am having a little difficulty finding the plugins folder on my system.  If I track it down I will give it a try.
Thanks

[2020-01-02 08:55] hamzabekhtaoui opened #66154 "Ansible-vault & json output in AWS secrets-manager"
Hello I have a .json file which I have successfully encrypted with ansible vault
this json contain secrets (Key, value) that i want to add it in my secrets manager service AWS
but when i launch my role with the commande ansible-playbook playbook.yml --ask-vault-pass
i don't get the correct format so secret manager can't add this secrets in the correct format
I try to use lookup function with pip o

[2020-01-02 10:22] jpiron commented on #55753
Being able to do both using the GCP hostname and composing the hostname would be great !

[2020-01-02 13:08] felixfontein commented on #66146
resolved_by_pr #66151

[2020-01-02 13:27] felixfontein commented on #52409
Note: `--check-passphrase` was added for cryptsetup 1.5.0 (https://gitlab.com/cryptsetup/cryptsetup/blob/master/docs/v1.5.0-ReleaseNotes), released ~7 years ago. So it should be widely supported.

[2020-01-02 14:23] #66146 closed, assigned to nobody

[2020-01-02 14:44] mikewiebe commented on #56181
@leitian123 Thanks for the confirmation!

[2020-01-02 14:45] mulatinho commented on #52409
Cool! I will take a look later and try make the changes!

[2020-01-02 15:03] markuman commented on #66135
Ok, create a project variable with `masked`  or `protected`  value is easy.
But I've got not idea how to update an existing variable with its `masked` or `protected` value.

https://python-gitlab.readthedocs.io/en/stable/gl_objects/pipelines_and_jobs.html#id6

[code]

any ideas?

[2020-01-02 15:42] sivel commented on #65931
You have a few options:

1. locate the install via something like:  `python -c 'import ansible; print(ansible.__file__)'` to find the root install of ansible, then the file is at `plugins/callback/json.py`
2. pip install directly from my branch: `pip install git+https://github.com/sivel/ansible.git@issue/65931`

[2020-01-02 15:46] sivel commented on #66154
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-02 15:46] #66154 closed, assigned to nobody

[2020-01-02 15:48] sivel commented on #66072
The intention is that modules marked stableinterface can never have things deprecated.  `stableinterface` means that it cannot be changed without warning, in this case, a warning is being provided.

[2020-01-02 15:58] AlanCoding commented on #64628
The current favored PR is https://github.com/ansible/ansible/pull/65377, which I tested. That's ready to be merged as far as I'm concerned. If that's merged, this issue should be closed.

[2020-01-02 16:06] sivel opened #66163 "Jinja2 renaming to Jinja"
##### SUMMARY
Jinja2 is being renamed to Jinja for consistency. See https://github.com/pallets/jinja/pull/1121

Things to be done:

1. Update docs to reflect this change
1. Create and use an import shim to provide seamless upgrades for users
    1. may not be necessary, as the `jinja2` package will provide a shim for `jinja`, but if we want a more performant solution, we can create a "shim" that p

[2020-01-02 16:08] bcoca commented on #66163
https://github.com/pallets/jinja/pull/1121#issue-358427833

[2020-01-02 16:26] sivel commented on #66072
+label needs_triage

Delete this comment when triaging

[2020-01-02 16:30] s-hertel commented on #66137
That warning seems accurate to me. Isn't this https://github.com/in-in/ansible_yaml_anchors/blob/master/helpers/copy.yml#L24-L25 the equivalent of:

[code]
The `when:` key is provided twice, so only the last one is used.

[2020-01-02 16:44] tervor commented on #56243
@tmiller02 Thanks for the workaround. This also helped me to work around the issue. Can you possibly create a pull request with the changed mentioned above in the code?

[2020-01-02 16:47] sivel commented on #66074
It's hard to say what is causing you to get a 406, without having access to the API, you are going to have to experiment.

However, you are setting `method: GET` while at the same time setting `body_format: json`, which is still setting a `Content-Type` header.  That may be the cause of the issue.  Try removing `body_format`.

Also, in your expected results, you believe you should get a 401, howev

[2020-01-02 16:47] #66074 closed, assigned to nobody

[2020-01-02 17:22] davidism commented on #66163
The plan is that "jinja2" will install a shim and depend on "jinja", so if you (or any plugin/dependency) depends on jinja2, everything should continue to work. New code and docs should refer to "jinja", while old code can gradually replace "jinja2" with "jinja".

Would be great to hear if your tests pass with the linked PR.

[2020-01-02 17:23] sivel commented on #66163
Thanks @davidism!  I'll see about testing with the linked PR through our CI.

[2020-01-02 17:41] in-in commented on #66137
YAML anchors are completely valid syntax. So why show a warning for correct syntax?

On the other hand, in this fragment of code I expect to see the warning:
[code]

I do not consider YAML anchors(and aliases) as adding another key, but as overwriting an existing one.

[2020-01-02 17:49] sivel commented on #66137
The warning is completely valid and doing the right thing here.  YAML anchors and aliases in the end do the same thing as your other example. The pyyaml parser doesn't know the difference, it just sees 2 keys of the same name defined for the structure.

If you don't want to see the warning, you can disable it.  See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#duplicate-

[2020-01-02 17:49] #66137 closed, assigned to nobody

[2020-01-02 17:52] vkkothawale opened #66165 "Ansible fetch only fetch specific file from directory not entire directory contents"
Hi Team

While working with ansible fetch feature which is one of the best feature I found in ansible, I found that ansible fetch will only pull in the single file form remote machine it can not fetch (pull) entire directory contents form remote machine which I found while running playbook I got below message

fetch cannot work on directories, not transferring, ignored"

Is this some kind of ansib

[2020-01-02 17:53] sivel commented on #66165
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-02 17:53] #66165 closed, assigned to nobody

[2020-01-02 18:09] sivel commented on #66138
The problem here is that `hostvars['localhost']['combine_dict']` is not "synchronized" until after the loop is completed.  So in your loop, you are only ever using the original value.  You would need to just use `combine_dict` without the `hostvars['localhost']` explicit reference.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2020-01-02 18:09] #66138 closed, assigned to nobody

[2020-01-02 18:45] sivel commented on #66163
@davidism one problem our CI is experiencing, is as follows:

[code]

We do version comparisons a few places in the code using `jinja2.__version__`.

The `DeprecationWarning` is also something we'll have to hide, assuming we use the `jinja2` shim, instead of our own.

[2020-01-02 19:33] bcoca commented on #52308
i was thinking of creating a generic 'eselect' module for gentoo or updating the current 'alternatives' module. leaving open in case anyone has time implement.

[2020-01-02 19:38] jillr commented on #65774
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us.

This does not appear to be a bug as per the above information.

As such, we're going to close this ticket.  Should you wish to discuss you can stop by one of our two mailing lists to talk about this.

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.g

[2020-01-02 19:38] #65774 closed, assigned to nobody

[2020-01-02 19:41] jillr commented on #65781
!component =lib/ansible/modules/network/ios/ios_config.py

[2020-01-02 19:42] hannseman commented on #66146
@bozho thanks for your report. A fix for this will be available in the next patch version of Ansible 2.8 and 2.9.

[2020-01-02 19:55] jillr commented on #65790
Hi @jgspratt. The synchronize module is only intended to cover the most common use cases for rsync.  It sounds like your use case for additional `rsync_opts` would be better met by calling rsync directly via the command module.

[2020-01-02 19:55] #65790 closed, assigned to nobody

[2020-01-02 19:57] robertoalves10 commented on #66056
Thanks ShachafGoldstein! You are correct. Somehow I missed this when looking at the docs. It works well now, with path being declared.

[2020-01-02 19:57] #66056 closed, assigned to nobody

[2020-01-02 20:00] jgspratt commented on #65790
Asking for verbose output doesn't seem like that extreme of an edge case to me.
Can you explain why you think it shouldn't be covered?

[2020-01-02 20:02] bcoca commented on #65794
For Ansible AWX support or questions, please utilize https://github.com/ansible/awx

In any case, I suspect the awx user does not have access to /opt by default and that might be causing your issues.

[2020-01-02 20:02] #65794 closed, assigned to nobody

[2020-01-02 20:05] kainzjoh commented on #33392
Hi @mamunozgonzalez
thanks for your work - i managed to backup a FortiGate-60E running 6.2 Code just fine with fortiosconfig.py like you described in https://github.com/fortinet-solutions-cse/40ansible/blob/master/examples/fortigate_backup_config.yml which was not possible with  fortios_config!
Is there a way to get this functionality into official ansible repos again?

[2020-01-02 20:49] jwbernin commented on #17908
I'm encountering this same issue on RHEL 8 when running Ansible as a user whose home directory is shared via NFS.

Ansible version:
[code]

[2020-01-02 21:06] jillr commented on #65790
Any possible combination of options can be passed to the module via `rsync_opts`, but that does not ensure that the module can reliably parse any possible result, only the most common.  This will always be a challenge for modules that need to parse raw stdout of wrapped cli commands that have not been written for programmatic parsing.  Multiple verbosity flags passed to rsync changes the unstructu

[2020-01-02 21:37] davidism commented on #66163
`__version__` should be available now.

The warnings are meant for developers, so it would make sense to hide it from end users running the app, as long as plugin devs still see it or are made aware of the rename.

[2020-01-02 21:39] sivel commented on #66163
Thanks!  I've got CI running over at https://github.com/ansible/ansible/pull/66164

[2020-01-03 02:03] vlad-nab commented on #50466
Thanks for the workaround @Edward-Ireson. It's a bit dodgy, but does the trick.

I think it would be reasonable to provide an option to fail with an explicit error when a parameter doesn't exist.

[2020-01-03 02:22] lucasbasquerotto commented on #41188
Is there any way to disable jinja2 while loading environment variables? (or is there work done to do that?)

In my case I use [include_vars](https://docs.ansible.com/ansible/latest/modules/include_vars_module.html) to load environment variables from a file and saw that when a variable have a value with `{{` it tries to parse it like a jinja variable.

The file is not from the project itself (is lo

[2020-01-03 02:46] nodanero commented on #33193
"append" state would be nice to have.
"present" state with idempotency would be very interesting.

This is what is currently doing terraform: https://www.terraform.io/docs/providers/dns/r/dns_a_record_set.html

[2020-01-03 03:22] ganeshrn commented on #65781
Yes [ios_command](https://docs.ansible.com/ansible/latest/modules/ios_command_module.html) or [cli_command](https://docs.ansible.com/ansible/latest/modules/cli_command_module.html) module to handle prompts.

[2020-01-03 03:22] #65781 closed, assigned to nobody

[2020-01-03 05:42] Akasurde commented on #33193
resolved_by_pr #66170

[2020-01-03 05:42] Akasurde commented on #33193
@xtoznaxto, Could you please check PR #66170 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-03 06:52] Akasurde commented on #53693
resolved_by_pr #66156

[2020-01-03 06:52] Akasurde commented on #53693
@balonik, Could you please check PR #66156 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-03 07:07] jamescassell opened #66171 "file module no longer returning state=absent for missing files"
##### SUMMARY

`file` is "stableinterface" and stopped setting state=absent in its return value.  This broke real-world ansible roles.  It works with ansible-2.7, broken in 2.8.  There was no deprecation warning in 2.7 about the impending breakage.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

[2020-01-03 07:37] jlegido commented on #17324
First of all many thanks to all the people investing a lot of effort in this project.

I also want to use variables in my vars.yml file, so I would like this feature being added.

Thanks.

[2020-01-03 08:50] juanvalino commented on #64121
Same problem here. Also `include_role` has the same problem.

[2020-01-03 09:49] #55080 closed, assigned to nobody

[2020-01-03 10:35] vgprash24 opened #66172 "Servicenow cmdb update via Ansible"
##### SUMMARY
I need to update service now cmdb via Ansible

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
I have this below code, but how to update the servicenow cmdb using ansible

[code]
I need to update the CMDB, please suggest me

[2020-01-03 10:52] Akasurde commented on #65465
@Emusp Thanks for reporting this feature request. Currently, `Pyvmomi` does not support any option to add `MachineObjectOU` in customization spec, so `vmware_guest` will not able to add this customization.

However, `vmware_guest` can use existing customization spec from vCenter and deploy vm with that customization. So as a workaround, you can create a sysprep file with `MachineObjectOU` mentione

[2020-01-03 10:54] dawud commented on #57182
As per the [comment](https://github.com/ansible/ansible/issues/57182#issuecomment-497460914)  above by @sivel, using modules requires using `rsync://$server/$module` syntax.
The following example works as expected:

[code]

[2020-01-03 10:55] Akasurde commented on #66172
!component =lib/ansible/modules/notification/snow_record.py

[2020-01-03 11:00] Akasurde commented on #66172
@vgprash24 Thanks for reporting this issue. Are you getting an error while updating the record? Have you used `number` parameter which specifies the record number of existing record to update?

Thanks.

needs_info

[2020-01-03 11:23] Emusp commented on #65465
That was a shame.
I can't use the template on the project I'm currently working on because we need to specify some static IP addresses.

As a workaround I used the win_domain_computer module to add the computer object to the desired OU before deploying the VM.

[2020-01-03 11:23] #65465 closed, assigned to nobody

[2020-01-03 11:29] ilayaraja-p opened #66173 "Ansible Tower : Invalid/incorrect username/password. Authentication timeout.""
##### SUMMARY

In ansible tower while launching template to run the playbook for network device login. I'm getting below error. From Ansible core scripts are working fine. only issue with Ansible tower.
    **"msg": "Invalid/incorrect username/password. Authentication timeout.",
    "_ansible_no_log": false**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

####

[2020-01-03 11:50] #63873 closed, assigned to nobody

[2020-01-03 12:05] #66110 closed, assigned to rohitthakur2590

[2020-01-03 12:07] Akasurde commented on #65537
@vgprash24 Any news? Can we close this issue? Thanks.

[2020-01-03 12:49] richlv opened #66174 "zabbix_host: support usermacros"
##### SUMMARY
[`zabbix_host`](https://docs.ansible.com/ansible/latest/modules/zabbix_host_module.html) module currently does not support specifying usermacros.

While usermacros can be added separately with [`zabbix_hostmacro`](https://docs.ansible.com/ansible/latest/modules/zabbix_hostmacro_module.html) module, that splits up the configuration and makes it very hard to maintain.

It would be grea

[2020-01-03 13:10] bodsch commented on #15297
I can confirm the workaround.
it works for me, too.

thanks @jaschaio !

[2020-01-03 13:15] vijayscsa opened #66175 ""msg": "Status code was 401 and not [202]: HTTP Error 401: Unauthorized","
##### SUMMARY
even though parameters passed correctly, eveytime http error 401 comes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.8

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-01-03 13:32] EpiqSty commented on #17763
What is the current state of this feature?
Seems #36644 was never merged into master, because currently there is no any ordered options available in stable-2.9, right?

[2020-01-03 13:57] csoborowicz commented on #65416
I just came here to upvote this bug report.  I am having the exact same symptoms, except with the aruba_config module.

I use aruba_config to back up the running configuration from about 80-100 switches on a nightly basis.  When I upgraded to ansible 2.9, the playbook would gather blank config files for about 10-15 of those switches.  The weird thing it that it isn't the same 10-15 switches each d

[2020-01-03 14:30] sw-dbrown opened #66177 "Inconsistent variable expansion when mixing dicts, vault variables and loops"
##### SUMMARY

Consider the following variable (type dict):

[code]

where the variables `mybar` and `myfoo` are regular string variables and `test` is a string variable from an inline vault. When looping over these dicts with `loop` and `dict2items`, only the key of `mydict1` is expanded correctly, while the key in `mydict2` remains `50-{{ myfoo }}-dhcp`.

##### ISSUE TYPE
- Bug Report

##### COM

[2020-01-03 15:32] bcoca commented on #17763
mostly waiting till we can write 'non python 2.6 compatible code' on the controller side, officially it is not supported anymore but our testing still does both targets (which still support 2.6) and controller in same environment.

[2020-01-03 15:38] racke commented on #30829
This *breaks* SSL private keys. Also files have final newlines (e.g. looks odd in Git commits and with cat in a shell).

I can't see a point in tampering with existing files. Please fix that.

Cheat tip:

[code]

[2020-01-03 15:39] racke commented on #30829
I would like to hear the justification for that.

[2020-01-03 15:45] bcoca commented on #30829
closing via #31738 which added a toggle to turn off rstrip (and another to turn on lstrip).

[2020-01-03 15:45] #30829 closed, assigned to nobody

[2020-01-03 15:49] bcoca commented on #64121
allow_duplicates only affects the roles used in 'dependencies' and 'roles:' keywords, include_role and import_role are not affected by it.

[2020-01-03 15:51] bcoca commented on #41188
it is not a problem when loading, Jinja2 templating does not happen at that time. It is a problem whenever the variable is consumed, then it is always templated and you would have to reapply unsafe marking to avoid that.

[2020-01-03 15:58] bcoca commented on #17908
@jwbernin  read https://github.com/ansible/ansible/issues/17908#issuecomment-338923412 for a solution, the NFS issue is different cause, this ticket is for a particular issue with solaris (which I still am unable to reproduce in Openindiana).

[2020-01-03 16:08] sivel commented on #66163
CI is green! https://app.shippable.com/github/ansible/ansible/runs/154807/summary/console

So at a minimum, we could do nothing, and everything should keep working.  However, we are likely to do something, potentially to prefer `jinja` over `jinja2`, and perhaps not use the `jinja2-compat` shim.  Our "shim" would just be a file that does a `try/except` over importing, and we would import from ther

[2020-01-03 16:11] sivel commented on #66177
This is expected.  In the Ansible 2.9 release we improved the system of preventing variables from being templated that should be marked as unsafe.

Single value vaulted variables have always been unsafe, but there was an errant check before 2.9 that would allow them to be used in templating.

When an unsafe variable is involved in templating, the templating engine is marked as unsafe as a whole, p

[2020-01-03 16:11] #66177 closed, assigned to nobody

[2020-01-03 16:11] sivel commented on #66175
Thank you for your issue report. Unfortunately, you have not provided us with any actionable information.  As such I am going to close this issue.

Should you wish to open a new issue, please be sure to fill out the full template, providing a reproducer, expected results, and actual results.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.

[2020-01-03 16:11] #66175 closed, assigned to nobody

[2020-01-03 16:11] sivel commented on #66173
Thank you very much for reaching out. Unfortunately, this repository does not service tower issues.  Please reach out to your Red Hat support team for further assistance.

[2020-01-03 16:11] #66173 closed, assigned to nobody

[2020-01-03 16:29] Akasurde commented on #56086
@vijayscsa Could you please share the playbooks used and the log file so that we can understand this issue more? From the current description, it is very difficult to understand the problem statement.

Thanks.

needs_infp

[2020-01-03 16:30] Akasurde commented on #56086
Duplicate of https://github.com/ansible/ansible/issues/59077

[2020-01-03 16:30] #56086 closed, assigned to nobody

[2020-01-03 16:32] Akasurde commented on #59077
@vijayscsa Could you please elaborate on the problem statement more with playbooks used, the environment used, console log generated, etc.? This will help us to understand the problem and provide the solution.

Thanks.

needs_info

[2020-01-03 16:36] Akasurde commented on #62759
@craph Any news?

needs_info

[2020-01-03 16:38] Akasurde commented on #62377
@justjais Can you please confirm if this issue is fixed via #65639? Thanks,

needs_info

[2020-01-03 16:46] david-griffiths-eigen opened #66178 "poetry does not install all of ansible dependencies"
#66122 ### SUMMARY
When installing ansible using poetry the dependency cryptography is not automatically installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
PyPI JSON API for Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

From the poetry documentation https://python-poetry.org/blog/poetry-0-8-0-is-out.html
[code]

[2020-01-03 16:48] Akasurde commented on #60677
@daemenseth Could you please confirm if you still facing the same issue? Thanks.

needs_info

[2020-01-03 16:48] sivel commented on #66178
Duplicate of https://github.com/ansible/ansible/issues/64299

[2020-01-03 16:48] #66178 closed, assigned to nobody

[2020-01-03 16:50] karthikeyan-dhandapani commented on #65416
@imuab and @csoborowicz Could you try the SSH based Ansible modules written specifically for the switch "arubaos_switch_ssh_cli" [found here](https://community.arubanetworks.com/t5/Developer-Community/How-to-install-use-CLI-modules-and-tasks-for-Switch-and-CX-in/m-p/534333).

[2020-01-03 17:36] Akasurde commented on #51137
@sameermohanty02 I am not able to reproduce this issue.

I am able to create the record and retrieve it successfully -

[code]

I am using the following playbook

[code]

Could you please check your environment and let us know?

Thanks,

needs_info

[2020-01-03 17:42] Akasurde commented on #66172
@vgprash24 I am unable to reproduce your issue -

[code]

And I am using following playbook -

[code]

needs_info

[2020-01-03 18:00] clammers opened #66179 "ansible_command|connect_timeout vs httpapi timeout"
##### SUMMARY

httpapi timeout is hardcoded with 120 seconds in the DOCUMENTATION area of plugins/connection/httpapi.py and cannot be set dynamically to higher values. Setting ansible_command_timeout and ansible_connect_timeout to values higher than 120 still raise a ansible.module_utils.connection.ConnectionError: timed out error after 120 seconds

##### ISSUE TYPE
- Bug Report

##### COMPONENT N

[2020-01-03 20:04] joefodor commented on #64599
I am having this same issue as well

[2020-01-03 20:23] techsemicolon opened #66180 "Ability to delete a specific AWS ELB listener rule without purging/effecting entire listener rules section"
##### SUMMARY
Ability to delete a specific AWS ELB listener rule without purging/effecting entire listener rules section

##### ISSUE TYPE
Feature Request

##### ADDITIIONAL INFORMATION
- Currently when we want to add a new ELB listener rule, we can do that by adding it in listeners section and making sure that we set `purge_rules : False` Something like this :

[code]
However, if now we want to j

[2020-01-03 20:33] rambleraptor commented on #65867
Hello! Thanks a lot for this issue. Could you give more information about what you mean by "impersonification"? I don't entirely follow.

[2020-01-03 20:34] rambleraptor commented on #47812
close_me

[2020-01-03 20:34] rambleraptor commented on #54373
This issue should be fixed.

close_me

[2020-01-03 20:35] rambleraptor commented on #57194
This should be fixed!

close_me

[2020-01-03 20:35] rambleraptor commented on #61250
We've rewritten the gcp_storage_object module to use the native google-cloud-storage Python libraries. This should give significantly faster downloads/uploads in the future.

close_me

[2020-01-03 20:36] #57194 closed, assigned to nobody

[2020-01-03 20:36] #54373 closed, assigned to nobody

[2020-01-03 20:36] #47812 closed, assigned to nobody

[2020-01-03 20:36] rambleraptor commented on #34052
The gc_storage module has been replaced by the gcp_storage_object module. It better matches the native Cloud Storage Python library.

close_me

[2020-01-03 20:37] rambleraptor commented on #58830
This should be fixed in the newest version of the module.

close_me

[2020-01-03 20:37] rambleraptor commented on #58912
This should be fixed in the newest version of the module.

close_me

[2020-01-03 20:38] rambleraptor commented on #56173
This should be fixed on the newest version of the module.

close_me

[2020-01-03 20:39] rambleraptor commented on #34927
close_me

[2020-01-03 20:40] rambleraptor commented on #64471
These should exist in the newest version of the module!

close_me

[2020-01-03 20:46] #64471 closed, assigned to nobody

[2020-01-03 20:46] #61250 closed, assigned to nobody

[2020-01-03 20:46] #58912 closed, assigned to nobody

[2020-01-03 20:46] #58830 closed, assigned to nobody

[2020-01-03 20:46] #56173 closed, assigned to nobody

[2020-01-03 20:46] #34052 closed, assigned to nobody

[2020-01-03 21:09] netson opened #66181 "cannot remove security_groups from instance using os_server"
##### SUMMARY

When running os_server in a play and adding security_groups, this works well, However, it does not seem possible to remove any security groups upon an additional playbook run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible host system:
[code]
target os: not relevant
OpenStac

[2020-01-04 00:53] lucasbasquerotto commented on #41188
Unfortunately the code that loads the variable and applies it to the template doesn't know beforehand what it will receive (it doesn't receive only strings, but also complex objects and lists).

In my case, the environment variables will end up generating files that specify other files and templates (with their parameters) to be copied, directories to be created, and so on (and if in the next run

[2020-01-04 05:45] justjais commented on #62377
@sugitk can you please verify the fix from `devel` and update the issue. Thanks

[2020-01-04 06:13] Akasurde commented on #62018
resolved_by_pr #66184

[2020-01-04 06:13] Akasurde commented on #62018
@theemptyone, Could you please check PR #66184 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-04 06:13] Akasurde commented on #41320
resolved_by_pr #66184

[2020-01-04 06:13] Akasurde commented on #41320
@jmcleroy, Could you please check PR #66184 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-04 06:28] #43275 closed, assigned to nobody

[2020-01-04 07:00] Akasurde opened #66185 "vyos_config: Testcase is failing"
##### SUMMARY
vyos_config testcase is failing - https://app.shippable.com/github/ansible/ansible/runs/154844/60/console.

This change is recently added via - https://github.com/ansible/ansible/pull/66122

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test/integration/targets/vyos_config/tests/cli/simple.yaml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT

####

[2020-01-04 07:02] #59002 closed, assigned to nobody

[2020-01-04 10:37] markuman commented on #66180
hmm yeah, that takes a lot of time to implement and also for testing.

I suggest to take the time and implement all rules and don't use the console for that elb anymore. That's how we handle this.

Alternativley, put the rules in a separate yml file, use `elb_application_lb_info`  to fetch current rules and write a simple custom filter which does the diff for your.

[2020-01-04 12:25] mit0223 commented on #66149
@Fred-sun  Yes, I post this, thinking that I should add a description of the various difficulties that only arise when trying to place a VM in an availability zone.

[2020-01-04 13:35] sshnaidm commented on #61778
I had to create a separate tool for that https://github.com/sshnaidm/ansible-config-merge Would be great to have this functionality, both for env vars and config files.

[2020-01-04 15:29] Akasurde commented on #61963
@mycloudrevolution How about using `vmware_category_info` instead -

[code]

`tag_category_results` also contains information about tags which are using this particular category.

Let me know if it works for you. Thanks.

needs_info

[2020-01-04 15:40] Akasurde commented on #66109
!component =lib/ansible/modules/commands/raw.py

[2020-01-04 17:02] thucke opened #66189 "Error using hostname module on OSCM-distribution"
##### SUMMARY
Applying the module HOSTNAME against a box running OSMC (https://osmc.tv/) the following error appears:
`fatal: [raspitest.thucke.de]: FAILED! => {"changed": false, "msg": "hostname module cannot be used on platform Linux (Osmc)"}
`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: hostname

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

T

[2020-01-04 17:28] techsemicolon commented on #66180
@markuman Yeah, I am currently doing the same way. Thought it would be cool to have that feature someday though! Thanks for your response 👍

[2020-01-04 20:01] jillr commented on #42292
resolved_by_pr #59925

[2020-01-04 20:07] #42292 closed, assigned to nobody

[2020-01-04 20:56] dgabrysch commented on #58868
I am running a normal VM which I connect to over a normal Internet connection, reboot always gets stuck. It is an  Ubuntu box: 18.04.3 LTS (GNU/Linux 4.15.0-72-generic x86_64)

It hangs forever after the reboot :/

This is what I have inside my playbook:

- name: Reboot after upgrade
  reboot:

become is set to "true", this is what I get when running verbose:

machine.host.name> SSH: EXEC ssh -vvv

[2020-01-04 21:08] dgabrysch commented on #58868
Ok, nevermind, I have been using Visual Studio Code when testing, seems like the integrated terminal there does not work properly with this module in combination which macOS... :D

[2020-01-04 22:52] winem commented on #65993
@idelsink the Docker documentation does not mention anything like a minimum required API version for example. Do you know any restrictions or dependencies like that?

I am just wondering why the restart policy was not handled like the other supported Docker update versions.

I'm quite busy at the moment but will create the PR end of next week, latest. :)

[2020-01-04 23:27] felixfontein commented on #65993
@winem does that mean you didn't start with the PR so far? In that case, do you mind if I don't wait and create a PR now?

[2020-01-05 00:30] bhundven opened #66191 "gcp_dns_resource_record_set_info "managed_zone" doesn't work as documented"
##### SUMMARY
gcp_dns_resource_record_set_info "managed_zone" doesn't work as documented.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_resource_record_set_info

##### ANSIBLE VERSION

I originally tested with ansible 2.9.2, but also tested with devel:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ran from: CentOS 8
Target OS: N/A (this module delegates locally, and t

[2020-01-05 00:49] bhundven commented on #66191
Could we also add the `affects_2.9` tag as well?

[2020-01-05 02:09] winem commented on #65993
@felixfontein, sorry, was not sure if I get to it today but I actually just did and created the PR. Any review and feedback is highly appreciated.

[2020-01-05 05:53] Akasurde commented on #63974
Closing this issue as per https://github.com/ansible/ansible/issues/63974#issuecomment-547800906. Please feel free to open a new issue if the problem persists. Thanks, @wltjr.

[2020-01-05 05:53] #63974 closed, assigned to nobody

[2020-01-05 06:22] radzhome commented on #35224
task_count breaks for me, when trying to use an int from a group var, get this:

[code]
- name: "schedule the task definition as ecs task {{ aws_ecs_task.name }}"
  cloudwatchevent_rule:
    name: dcs-wp-sync-publisher
    schedule_expression: "{{ aws_ecs_task.scheduled_expression }}"
    description: Scheduled task to publish all wp sync updates
    targets:
      - id: "{{ aws_ecs_task.name }}"

[2020-01-05 07:07] #66189 closed, assigned to nobody

[2020-01-05 09:24] mowgli opened #66195 "vaults with multiple vault-ids cannot be created"
##### SUMMARY
From documentation https://docs.ansible.com/ansible/latest/user_guide/vault.html it should be possible to have multiple vault-ids. In fact, that ist the only improvement I see compared to the way it worked prior to 2.4.

Unfortunatelly it does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Doesn't make a

[2020-01-05 10:10] daemenseth commented on #60677
you can close the issue. with the ignore_errors is is working for me. On the moment I have no time to further invest the issue

[2020-01-05 10:10] #60677 closed, assigned to nobody

[2020-01-05 14:03] grcancelliere opened #66196 "systemd module doesn't handle units starting with '-'"
##### SUMMARY

When working with a unit file starting with a dash (e.g a custom -.mount unit) the systemd module fails with the message `Could not find the requested service`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

systemd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Arch Linux
systemd `244.1-1`

##### STEPS TO REPRODUCE

- create the fi

[2020-01-05 16:07] krisvasudevan commented on #62377
The fix has been added to a new pull request #66014

[2020-01-05 23:43] lucastheisen opened #66199 "Escaping double curly in template results in output duplication"
##### SUMMARY
Attempting to escape `{{` in a template results in partial duplication of output at the escape boundary.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from ubuntu 18 (wsl) targeting a centos 7 server.

##### STEPS TO REPRODUCE

[code]

With this template file:
[code]

##### E

[2020-01-06 02:08] Fred-sun commented on #66149
@mit0223 Thank you for sharing this question. You are welcome to submit a PR repair question. Thank you very much!

[2020-01-06 02:39] mit0223 commented on #66149
@Fred-sun Now, it will be the same as ADDITIONAL INFORMATION in this issue, I will create a PR.

[2020-01-06 02:40] Fred-sun commented on #66149
@mit0223 Thank you very much!

[2020-01-06 04:34] Akasurde commented on #64004
@damozhiying Could you please check if @dove-young's suggestion works for you? Thanks.

needs_info

[2020-01-06 04:36] vgprash24 commented on #66172
Hello,

Thanks for your inputs, actually i am looking for updating the Service now CMDB? could you please help me to get that playbook, i have checked the snow_record module i am not finding the correct thing for updating the snow cmdb.. Please help me to get this

thanks in an adv

[2020-01-06 04:53] Akasurde commented on #66172
Hi @vgprash24, I think you should forward this query to

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

Thank you once again and we look forward to seeing you on the list or IRC.  Thanks!

[2020-01-06 08:17] Fred-sun commented on #66031
@Gover-WM I'm ansible 2.9.2 deleting peering at one end, on the other end tip off, is successful, you can provide the complete playbook and ansible version? Thank you very much!
[code]

[2020-01-06 08:26] mkrizek commented on #66199
Duplicate of https://github.com/ansible/ansible/issues/65981

[2020-01-06 08:26] #66199 closed, assigned to nobody

[2020-01-06 08:40] vgprash24 commented on #66172
it says i do not have permission to post the queries in that group

[2020-01-06 10:00] dkossako commented on #65561
Thanks, works fine to me.

[2020-01-06 10:26] yvespp commented on #63322
I suspect this is a timing issue. Between the time `vmware_guest` gets the current vm state and the time it tries to shut down the vm (because of force: true), the vm state changed in the background from power on to power off.
I have not tried it again but maybe it can be reproduced if `state_change_timeout` is not set or very short.

[2020-01-06 10:50] #66185 closed, assigned to rohitthakur2590

[2020-01-06 11:53] JulieDaligaud opened #66204 "netbox_prefix doesn’t add new prefix to netbox and return changed=False everytime"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox prefix

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Netbox version: v2.2.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
changed=True
and the prefix is added to netbox

##### ACTUAL RESULTS

[code]
And the prefix is not present in netbox

[2020-01-06 12:29] marbarmar opened #66206 "nxos_interfaces fabric_forwarding_anycast_gateway is not idempotent"
##### SUMMARY
nxos_interfaces parameter fabric_forwarding_anycast_gateway is not idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
modules/network/nxos/nxos_interfaces.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu18.04.3 LTS
Device: N9K running 9.3(1)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
ok: [SWITCH-1]

[2020-01-06 13:48] apollo13 commented on #64963
@dthielking I have added a PR that fixes this in #66209 -- lets see how the tests perform :)

[2020-01-06 14:27] mator commented on #17908
git version of ansible
[code]

solaris 10 x86 (VM):
[code]

solaris 11 sparc:
[code]

[2020-01-06 14:44] s-hertel commented on #22258
The ec2_instance module is capable of replacing instance profiles in 2.6 and later.

[2020-01-06 14:44] #22258 closed, assigned to nobody

[2020-01-06 14:46] Alexrubiolv opened #66210 "Failed to connect to the host via ssh"
##### SUMMARY
I can connect via ssh normally but when I try to connect via playbook I get that error:

fatal: [13.117.152.31]: UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ssh: connect to host 13.117.152.31 port 22: Connection timed out",
    "unreachable": true
}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

2.9.2

[code

[2020-01-06 15:00] mkrizek commented on #66210
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-06 15:00] #66210 closed, assigned to nobody

[2020-01-06 15:15] s-hertel commented on #66180
I agree with @markuman's suggestions.

I don't think this is something that should be included in the elb_application_lb module because it adds complexity and strays from the normal pattern we use for AWS modules. A similar feature was discussed some time ago for the ec2_group module and it was vetoed. This could be achieved with a new elb_application_lb_rule module though.

[2020-01-06 15:38] raizyr opened #66211 "Using policy_rc_d parameter of apt module when a policy-rc.d file exists results in an error"
##### SUMMARY

Using the **policy_rc_d** parameter of the **apt** module when the _/usr/sbin/policy-rc.d_ file already exists results in the error

[code]

This appears to be because the module attemps to remove a directory using a variable that has not been defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2020-01-06 15:41] Akasurde commented on #42131
@opoplawski With `extended` option in loop control (introduced in 2.8) this is possible to address various items in a loop.

[code]

You can find more details [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#extended-loop-variables).

Let me know if I am missing something here. Thanks.

needs_info

[2020-01-06 15:46] dick-twocows opened #66213 "docker_container does not override image defined healthcheck when test: ["NONE"]"
As per the docs the following should override the image defined health check. But it fails to override the image defined health check. This is important where the image defined health check is not applicable. One such example is using the creating a MySQL cluster in that the default health check is against mysqld which is not appropriate because either ndbd or ndb_mgmd is appropriate.

This leaves