[2019-02-26 17:10] vmindru commented on #52995
this is still a weird behavior and I think it would be more than useful to tweak the merge strategy just for a single var and not globally, doing this globally is as stated in the docs INSANE ... pitty this got closed.

anyway for those who are going to land here is the best way I have come up with, without the need to defined extra lines of vars ...

basically, have something like this ... `defau

[2019-02-26 17:22] msilmser opened #53002 "oVirt Inventory: Add Group Filtering Based on Hostname Segments"
##### SUMMARY
oVirt Inventory: Add Group Filtering Based on Hostname Segments

For example, upon import a list of hosts like the following:

apache01.prod.example.com
apache02.prod.example.com
mysql01.prod.example.com
mysql02.prod.example.com
apache01.qa.example.com
mysql01.qa.example.com

Would be grouped into something like:

[apache]
apache01.prod.example.com
apache02.prod.example.com
apache01.

[2019-02-26 17:40] fatpat commented on #44824
Is there an ETA on this please ?

[2019-02-26 17:44] abshaheen commented on #37262
Can anyone confirm if this is working? i tried settings in ~/.ssh/config file along with the variable but it is not working as well.

[2019-02-26 17:57] ganeshrn commented on #50726
@dselders Can you please test if the patch in PR https://github.com/ansible/ansible/pull/53006 fixes the issue.

needs_info

[2019-02-26 18:21] dagwieers commented on #52717
I hope at some point we can also benefit from having the result on disk for multiple threads/forks so it becomes a single read-request per module invocation (and only occasionally a single update of the database). I suspect this should improve CI performance quite a bit.

[2019-02-26 18:36] sivel commented on #52717
That is a future possibility, but one that is a bit more complex to solve at the moment.

To achieve this now, we would have to pass around too much state, that will eventually cause us maintainability problems.  In addition to needing a facility to provide warnings, outside the scope of having AnsibleModule context.

We are working on adding explicit `ca_path` options, as well as a global warning

[2019-02-26 18:47] userlerueda commented on #42365
I can help submit a PR but not sure I follow what is wrong with the wording ?

[2019-02-26 19:02] userlerueda commented on #31690
With filtering being handled by sdk, I think we would need to deprecate the option to have a search pattern in the `server` parameter. Or do we want to continue doing it and make that argument a RegExp?

I see this comment in the code:
https://github.com/ansible/ansible/blob/c9f549e9c1dbec7584cd7587010f2d84f3d32012/lib/ansible/modules/cloud/openstack/os_server_facts.py#L95

[2019-02-26 19:12] bcoca commented on #52506
core discussion +1 to standarizing and making aliases of any 'divergent' names in modules.

[2019-02-26 19:22] AlanCoding commented on #51864
I tried @uritau's patch, and it didn't produce any additional hostvars. It didn't produce any additional errors either, but I'm not really sure how to go about debugging this.

Looking at the requests made, the inventory plugin does batch requests, so it's not a simple one-to-one comparison. That makes it tough to infer how the code is structured from this information.

[2019-02-26 19:48] sivel commented on #19084
We have decided in the most recent core irc meeting to not pursue this.  On top of not being completely necessary, this would cause further confusion about variable precedence.

When trying to use this for roles, it is recommended that the role be re-designed to work with looping in mind, exposing the ability for the role to use a top level variable such as `item`.

If you have further questions p

[2019-02-26 19:48] #19084 closed, assigned to jimi-c

[2019-02-26 19:54] cr33phav commented on #51436
I added the persistent log option in the ansible.cfg file.  Login and Become parameters are stored in group vars.  Unless I'm doing something wrong I don't see any of the command details being sent to the device.   Here's the playbook I was testing with:

`---
- name: Move interfaces to VLAN
  hosts: 192.168.200.4
  connection: network_cli
  gather_facts: false
  become: yes
  become_method: enabl

[2019-02-26 19:58] mikewiebe opened #53011 "NXOS playbooks broken by recent commit"
##### SUMMARY
The following commit https://github.com/ansible/ansible/commit/cf6a92d268093ae390d31e893712b0e3263c8a37 a few hours back is causing the following error when we try and run our Cisco NX-OS playbooks using `network_cli` connection.

Original PR: https://github.com/ansible/ansible/pull/52604

[code]

If I back out this commit the connection to the nxos device succeeds.

[code]

Run task

[2019-02-26 19:59] mikewiebe commented on #53011
@trishnaguha @Qalthos FYI.. This issue is causing all of our integration tests to fail.

[2019-02-26 19:59] mikewiebe commented on #53011
@chrisvanheuveln FYI

[2019-02-26 20:07] sivel commented on #52752
Resolved in https://github.com/ansible/ansible/pull/52754

[2019-02-26 20:07] #52752 closed, assigned to nobody

[2019-02-26 20:11] bcoca commented on #52641
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-26 20:11] #52641 closed, assigned to nobody

[2019-02-26 20:12] samccann opened #53013 "Document an example of the network agnostic modules"
##### SUMMARY

Add an example that shows how to use the network agnostic modules.

See https://github.com/network-automation/agnostic_example  and https://www.ansible.com/blog/deep-dive-on-cli-command-for-network-automation for related information.
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2019-02-26 20:27] mattclay commented on #52725
@Xaroth Documentation for integration test dependencies can be found here:

https://docs.ansible.com/ansible/devel/dev_guide/testing/sanity/integration-aliases.html#dependencies

There is a known issue with the meta dependency detection that causes it to only detect hidden dependencies. Once fixed the behavior will align with the docs.

[2019-02-26 20:27] sivel commented on #52824
!component =lib/ansible/modules/cloud/ovirt/ovirt_vnic_profile.py

[2019-02-26 20:30] balonik commented on #44978
@Andersson007
That pg_hba.conf config was intentional. My problem was that the module always connects to `maintenance_db` and in my environment application accounts do not have access to it (hence the pg_hba.conf), because the accounts don't have rights to create new database anyway.
But let's say a developer wants to dump his DB (developer gets only application account) and he/she can't. And I th

[2019-02-26 20:37] sivel commented on #52898
We have discussed this further internally, and have agreed that treating a blanked value as resetting to the default is not the way we would proceed.

Instead we would need some sentinel value like `__OMIT__` or `__DEFAULT__`.  That would explicitly indicate this behavior.

This is not something we are going to actively work on, but have labeled this as `waiting_for_contributor`.

[2019-02-26 20:41] samdoran commented on #52918
This does not appear to be an issue with the `scp` connection plugin in Ansible and is more likely a problem with the `scp` command.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-26 20:41] #52918 closed, assigned to nobody

[2019-02-26 20:45] samdoran commented on #52935
Settings `ansible_ssh_pass` from a callback plugin is not the correct place for this to happen and not something we plan to implement.

To further discuss this issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-26 20:45] #52935 closed, assigned to nobody

[2019-02-26 20:46] sivel commented on #52942
!component =lib/ansible/modules/cloud/amazon/iam_role.py

[2019-02-26 21:03] hadfiiw commented on #51826
@Akasurde Yeah, the Mac was the problem.  Now that I have a Ubuntu machine running my playbooks, the link you provided worked as expected.

This part of "source ./hacking/env-setup" fails when run from a Mac....

running egg_info
creating lib/ansible.egg-info
writing requirements to lib/ansible.egg-info/requires.txt
writing lib/ansible.egg-info/PKG-INFO
writing top-level names to lib/ansible.egg-i

[2019-02-26 21:21] it-praktyk commented on #50569
I can take look at that.

The related PR: #43269.

[2019-02-26 21:32] bcoca commented on #21208
use sysvinit module instead

[2019-02-26 21:36] cdschneider opened #53019 "nssm"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-02-26 21:36] #53019 closed, assigned to nobody

[2019-02-26 21:37] it-praktyk commented on #42696
The behavior of the `win_find` module for the non-existing path is based [on the code](https://github.com/ansible/ansible/blob/ea30fd15b55f80ff6b20ed89a6dad9c12389ba7d/lib/ansible/modules/windows/win_find.ps1#L313-L322).

So ... it's not a bug it's a feature (request) :-P

The `find` module - as the reference - doesn't break for the non-existing path but [display warning](https://github.com/ansibl

[2019-02-26 21:40] mattclay commented on #53011
@mikewiebe Our integration tests are failing as well. We're working on it.

[2019-02-26 21:47] bcoca commented on #53011
how are you setting the user to 'root'?

[2019-02-26 21:49] it-praktyk commented on #41493
I propose creating a pull request to the `devel`branch.

After merging to `devel` separate pull requests will be needed to backport that to 2.7, 2.6 (for 2.5 are accepted security-related bug fixes only).

[2019-02-26 21:55] felixfontein commented on #49547
I've been thinking a bit on how/whether we should fix this in docker_swarm. The docker API (see [here for the API docs of swarm update](https://docs.docker.com/engine/api/v1.32/#operation/SwarmUpdate)) is a bit strange, in the sense that it allows to specify labels when updating the swarm, but it apparently ignores them. So this could also be seen as a bug in docker. (The API docs are also not hel

[2019-02-26 22:01] it-praktyk commented on #41493
+label affects_2.8

[2019-02-26 22:05] Xaroth commented on #52725
Then I'll close this issue.

[2019-02-26 22:05] #52725 closed, assigned to nobody

[2019-02-26 22:08] #50332 closed, assigned to nobody

[2019-02-26 22:20] branic commented on #52860
@sivel I can test, if you can give me some instructions on how as the change hasn't been backported to 2.7 (at least as far as I can tell)

[2019-02-26 22:32] jdh239 commented on #38655
ansible 2.7.8, and seems to be an issue still.  The following makes the change to the file, but then keeps appending to it when run again:
`- name: Change sshd_config settings
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - {regexp: "^#.*ClientAliveInterval.*$", line: "ClientAliveInterval 1800"}
    - {regexp: "^#.*Client

[2019-02-26 22:38] s-hertel commented on #52979
Hi, @LozanoMatheus, I'm unable to reproduce this on Ansible 2.7.6 or latest devel. Two volumes are created and both are automatically deleted when I terminate the instance.

When you create the instances, does the block_device_mapping show that some of your volumes don't have delete_on_termination enabled? For example, here's mine:
[code]

Some bits of your reproducer are missing, so here's the pl

[2019-02-26 22:49] badnetmask commented on #51402
@justjais Thanks for the update. The patch I submitted against infoblox-client doesn't entirely fix the problem, so I am very interested in seeing what is coming forward.

Let me know when the change is pushed to the development branches, and I will test to confirm if they achieve the desired behavior.

[2019-02-26 23:01] bcoca commented on #52103
had to revert, some unforseen consequences in related code

[2019-02-26 23:15] connifer commented on #50635
I'd like to second this issue as I'm seeing the same thing.  I ran a simple playbook which reconfigures a port on a switch.  It templates the new config to a file and then the file is applied to the switch via nxos_config.  I'm using network_cli as my connection method.

I've attached the playbook and the -vvv run result ([chg0000000.yml.txt](https://github.com/ansible/ansible/files/2907904/chg000

[2019-02-26 23:21] felixfontein commented on #49547
I did some experiments while working on docker_swarm tests. It seems that there is a difference between swarm labels and node labels. The labels docker_swarm works with are labels for the swarm. These are *not* labels for a node. I'm not sure what the swarm labels can be used for, though... (I guess they're pretty much useless)

So I guess we should improve the documentation (and mention that the

[2019-02-26 23:28] WojciechowskiPiotr commented on #49547
I think I mentioned this difference before, and also wondered what those might be used for as you cannot manipulate them over the CLI. The only way I see them useful is the environment with multiple swarm clusters where you need to automate tasks for an application spread across them.

Node labels are implemented in `docker_node`. I agree on making the documentation more clear on that

[2019-02-26 23:47] victorock commented on #41443
@webknjaz please review.

[2019-02-26 23:49] felixfontein commented on #49547
@WojciechowskiPiotr yeah, I remember something like that, I guess it was in one of the PRs for docker_node, docker_swarm_facts or docker_node_facts. I don't remember which one. Anyway, do you want to create a PR for this?

[2019-02-27 00:23] guoqiao opened #53041 "Allow loop on dict keys like python"
##### SUMMARY

Allow loop on dict keys like python.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- task_executor
- loop

##### ADDITIONAL INFORMATION

Currently ansible support dict loop with `dict2items` filter:
[code]
To loop dict, users need to remember a few things in mind:
-  filter `dict2items`
-  use `item` to refer to item
-  use `item.key` to refer to key
-  use `item.value` to

[2019-02-27 00:36] guoqiao commented on #53041
I've created a PR #53042 for this.

[2019-02-27 00:44] mgamboa opened #53043 "VMware: VMware Dynamic Inventory fail"
##### SUMMARY
Try to use vmware dynamic Inventory and fail with the following traceback

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Vmware dynamic inventory plug-in

##### ANSIBLE VERSION
Ansible 2.7.7

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS RedHat 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

That the inventory is get it

##### ACTUAL RESULTS

[c

[2019-02-27 00:45] mlda065 commented on #52971
Hmm. Yeah I just tried on a clean docker container and it works.

Hmm.
Any ideas how else I can debug this?

This ticket should probably be moved from docs to bugs then.

`Dockerfile`:

[code]

`playbook.yml`:

[code]

[2019-02-27 01:23] mlda065 commented on #52971
Hmm. i tried again on the original machine and it works. No idea what changed.

[2019-02-27 01:23] #52971 closed, assigned to nobody

[2019-02-27 01:39] yungezz commented on #51864
Thanks for sharing the patch. I'm working on PR to add missing properties. will link here once ready.

[2019-02-27 03:33] Akasurde commented on #42437
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-27 03:33] #42437 closed, assigned to nobody

[2019-02-27 03:39] nameless1987 commented on #22633
thanks a lot!

[2019-02-27 03:43] Akasurde commented on #53043
@mgamboa Thanks for reporting this issue. This is fixed in 2.8 via https://github.com/ansible/ansible/pull/52642 and I have created a backport for 2.7 - https://github.com/ansible/ansible/pull/53047

Could you please check and let me know if it works for you  ? Thanks.

needs_info

[2019-02-27 03:45] Akasurde commented on #53043
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-02-27 04:15] justjais commented on #51402
@badnetmask changes are planned for Ansible `2.9` time-frame, I shall update you once its done from code side.

[2019-02-27 04:16] theforager commented on #42594
I agree these messages are quite confusing. It seems to spilling out quirks around the internal parsing approach out into user-land with potentially concerning warnings. I don't have enough internal knowledge of Ansible to recommend the right solution, but I would definitely recommend revising the user experience of this!

[2019-02-27 04:22] 11matt556 commented on #52875
My apologies. I was looking at the documentation for a docker plugin I use that uses netrc. It seems their documentation is incorrect.

Thanks!

[2019-02-27 04:25] Akasurde commented on #50158
@jzielke84 Any news ?

[2019-02-27 04:28] Akasurde commented on #52885
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-27 04:28] #52885 closed, assigned to Akasurde

[2019-02-27 05:15] geerlingguy commented on #21433
Amazingly, after not having run into this issue before, I ran into it _twice_ today, for two completely separate projects.

One of them is an Amazon EKS cluster; they recently switched their official AMI to not provide host network for Docker containers by default, and it would've been nice to be able to have this parameter in that environment to resolve that issue, but we'll wait for 2.8.

[2019-02-27 05:42] trishnaguha commented on #53011
Reverted in https://github.com/ansible/ansible/pull/53034

[2019-02-27 06:04] yungezz commented on #51908
from the error
[code]

It seems azure sdk not installed correctly.

[2019-02-27 06:18] ghost opened #53051 "AWS: Unable to parse config file while using ec2_group"
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: botocore.exceptions.ConfigParseError: Unable to parse config file: /home/ansible/.aws/credentials
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1551248187.81-100768854072976/AnsiballZ_

[2019-02-27 06:19] andnze commented on #53051
The full traceback is:
Traceback (most recent call last):
  File "/home/ansible/.ansible/tmp/ansible-tmp-1551248330.79-32111648479395/AnsiballZ_ec2_group.py", line 113, in <module>
    _ansiballz_main()
  File "/home/ansible/.ansible/tmp/ansible-tmp-1551248330.79-32111648479395/AnsiballZ_ec2_group.py", line 105, in _ansiballz_main
    invoke_module(zipped_mod, temp_path, ANSIBALLZ_PARAMS)
  File "

[2019-02-27 06:19] #52305 closed, assigned to nobody

[2019-02-27 06:19] #52333 closed, assigned to nobody

[2019-02-27 07:54] r3dback commented on #23421
Just validated this behaviour and it works ok in Ansible 2.7.7
I was having trouble to call the variable from the inside the regex_replace, but the original post helped with my issue.
Important to validate the regex is correct

`
- name: Set- Prefix
  set_fact:
    new: "{{ new | regex_replace(value,value_new) }}"
  vars:
    value_new: "MyPrefix{{ item.id }}"
    value: "{{ item.id }}"
  with_ite

[2019-02-27 08:12] LKaemmerling commented on #52813
There are already some progress on this :)

[2019-02-27 08:17] yungezz commented on #51751
Hi @JohnnyRacket do you have dependency package `azure-mgmt-cdn==3.0.0` in `requirements-azure` installed? could you pls give it a try?

[2019-02-27 08:28] gundalow commented on #52824
bot_status
Not sure why this is `support:core`

[2019-02-27 08:32] Andersson007 commented on #44978
@balonik hello, thank you for your answer!

I'm afraid, you need the db to connect to in all of these cases. For example, look at pg_restore or pg_dump. If you don't pass -d <dbname> to it, it will use default database called the same as system username who try to do it.
Similarly, if you want to drop a database, first of all, you must connect to another db.
So, using maintenance_db is necessary i

[2019-02-27 08:35] nomad-cyanide commented on #52817
Hi

It totally works with 2.8.0.dev0. Tried both adding and deleting with
nxos_vlan. Just went smooth all the way through with no errors.

I will continue testing with nxos_l2_interface, to see if that works
with 2.8.0.dev0 as well.

Best regards

Ian

On 26/02/2019 11.29, Trishna Guha wrote:

[2019-02-27 08:36] decentral1se commented on #52813
Oh nice @LKaemmerling, any links? Will happily review stuff!

[2019-02-27 08:48] bmalynovytch commented on #21208
@bcoca: as `service` command works and module doesn't, isn't it a bug ? Your suggestion is a good workaround, but I suppose we should investigate that part.

[2019-02-27 08:58] avence12 commented on #36997
@yetangye
By the source code, you must assign `log_driver` to make `log_options` work.
https://github.com/ansible/ansible/blob/7360db5956d9b64af5e6f81c8f9c6ca89934f106/lib/ansible/modules/cloud/docker/docker_container.py#L1815-L1817

[2019-02-27 09:18] nomad-cyanide commented on #52817
Just did a quick test with nxos_l2_interface with this playbook and command:
ansible-playbook addvlan-esxcl1.yaml --limit nxos-switch -e "vlan_name=flannenTest vlan_id=33" -u username -k -vvvv

[code]
With Ansible 2.7.7 I get same error as with nxos_vlan module, which is the ValueError: u'2' is not in list.

With Ansible 2.8.0.dev0 I get this error:
"msg": "show interface ethernet1/43 | json\r\r\n

[2019-02-27 09:22] felixfontein commented on #34054
Now I've also been bitten by this: for parts of the `docker_swarm` tests (on CA settings) I need this to run under RHEL7 (in particular because this is the only CI node where the tests are actually run). Reference: #53035

[2019-02-27 10:30] zyv commented on #42292
@jpza did you get to opening a PR in the end? If not, could you please share the code you've got so far?

We are thinking of sponsoring the development and open sourcing of such a module, and want to avoid duplicate work if possible. Thank you!

[2019-02-27 11:38] funkyfuture commented on #45446
alternatively one might use the `sysctl` module:

[code]

[2019-02-27 11:52] Yajo commented on #43286
Could it be related to config?

[code]

[2019-02-27 12:35] it-praktyk opened #53059 "The find module - the contains parameters behavior - a bug or a feature?"
##### SUMMARY
The find module allows finding files based at them content - it's achieved using the parameter `contains`.

[Due to implementation](https://github.com/ansible/ansible/blob/79eeea8ea6289b29ed55361813f2179f005b7332/lib/ansible/modules/files/find.py#L445-L448) it works only when other parameters are used too.

Required parameters are the file age, size, etc.

It's a bug for
- the code -

[2019-02-27 13:13] LeDOC666 opened #53060 "VMware: vmware_tag fails to update tag and reports changed"
##### SUMMARY
Hi, Im working about creating/updating tags on vmware.
Tag creation work, but update statut in changed, but no change on VmWare.
If I repeat execution, still statut change...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere 6.5

##### STEPS TO REPRODUCE

ansible-playbook -i

[2019-02-27 13:20] peter-murray opened #53061 "aws_kms is not using correct names for the tags in boto3 client call"
##### SUMMARY
The `aws_kms` module in the devel branch does not work when using tags with the boto3 client. The Boto3 client expects `TagName` and `TagValue` not the default `Name` and `Value` that the call at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/aws_kms.py#L669 produces.

The Boto3 documentation states this clearly at https://boto3.amazonaws.com/v1/docume

[2019-02-27 13:22] raffienficiaud commented on #51687
I am completely unable to pass complex variables through the command line. I did this for instance, according to the way variables on the CLI are handled (see [here](https://learn.hashicorp.com/terraform/getting-started/variables.html#assigning-maps))

[code]
with various combinations of quotes etc, but terraform always complains about the parsing of those variables. The workaround I found was to

[2019-02-27 13:43] Leletir commented on #51687
@rafaeldriutti which Ansible version are you using ?

[2019-02-27 13:56] Andersson007 commented on #39983
Hello, @johnjelinek and thank you for feedback!

Seems this bug has already fixed.

I compared the dev branch with 2.5 and found the differences between relevant parts of the code:
2.5:
[code]
Now:
[code]
I run the following playbook using dev version and it worked correctly:
[code]
Can you try to reproduce this error on the latest version?
If it's OK, I suppose this issue should be closed.
I'll b

[2019-02-27 13:56] victorock commented on #41443
@ericwb refactored the last implementation using `onesixtyone`.

[2019-02-27 14:05] hadfiiw commented on #51826
@Tomorrow9 I was able to test the fix against vCenter and I am now seeing the following behavior.  The only vars I messed with from test to test was "cluster" and "resource_pool"

- Cluster and Resource Pool defined - **WORKS** - VM spun into RP of Cluster
- Only Cluster defined - **WORKS** - VM spun into root of Cluster
- Only Resource Pool defined AND the RP is unique in the vCenter - **WORKS**

[2019-02-27 14:21] andrewvaughan commented on #52898
Let me read the contributing documentation and I'll give it a shot.

[2019-02-27 14:31] victorbiga commented on #25941
/usr/bin/python might be a symlink and might be pointing to /usr/bin/python2.6 or other older version.
Changing the symlink (/usr/bin/python) to point to your latest python in /usr/bin or version you have installed will fix the issue:
[code]

[2019-02-27 14:44] bcoca commented on #25941
So this seems like a bunch of different problems that just have the error message in common.
The 'shared connection closed' message can mean many things, mostly that something happened on the target side that killed the session or connection in an unexpected way and produced no output from the module, since the `script` action does not execute a module (like `raw`) it is probably due to the script

[2019-02-27 14:47] tamusjroyce commented on #42388
export ANSIBLE_CONFIG=./ansible.cfg

If it is an ansible.cfg in your current directory, not sure why you wouldn't allow it, since you navigate there. But having ANSIBLE_CONFIG is great! Thank you!!!

[2019-02-27 14:52] bcoca commented on #50158
needs_info

[2019-02-27 15:12] RaceFPV commented on #47764
For anyone else hitting this error, it appears resolved as of version 2.7.8

[2019-02-27 15:35] Sneedes commented on #48752
The hostname module appears to utilize the RedHatStrategy strategy class. The RedHatStrategy class attempts to set the hostname via editing /etc/sysconfig/network.
The RedHatStrategy class specifically appears to edit /etc/sysconfig/network.

Oracle Linux clearly states that editing /etc/sysconfig/network will not work on Oracle Linux 7.  See the following MOS Note:

[](https://support.oracle.com/

[2019-02-27 15:52] Akasurde commented on #53060
@LeDOC666 Thanks for reporting this issue. I will try to reproduce this at my end and get back to you. Thanks.

[2019-02-27 15:57] mikewiebe commented on #53011
@bcoca Not sure what you mean.  I set the user to `admin` in group_vars which I included in the issue above.  Is that what you are asking?

[2019-02-27 16:08] macaty commented on #30754
apt-get install apt-transport-https
and should be ok

[2019-02-27 17:19] bcoca commented on #53059
MODULE_FAILURE is normally a bug

[2019-02-27 17:21] jdoss commented on #50237
Is there a way to skip disabling versionlock with this new PR @maxamillion ? We worked around this bug with:

[code]

Which is pretty gross, but we need to be able to version lock MySQL on our development environments on Fedora 29.

[2019-02-27 17:36] acozine opened #53071 "Remove duplicate Sphinx theme, ensure desired style updates are included"
##### SUMMARY
The Ansible docsite currently has two themes, of which we are only using one. However, changes have been made to both over time.

Concentrate all useful updates in one theme, and delete the other to avoid future confusion.

Current PR: #49289 removes the srtd theme.

Related to #47450 and #45089.

The two themes are called “srtd” and “sphinx_rtd_theme”: https://github.com/ansible/ans

[2019-02-27 17:41] bcoca commented on #52186
@budric can you please confirm that the PR above fixes your issues?

[2019-02-27 17:45] FixItDad commented on #40084
Seems to be a problem in 2.7.4 also:
[code]

Output:
[code]

[2019-02-27 18:49] frittentheke commented on #40060
@Andersson007  I rebased and force-pushed. PTAL

[2019-02-27 19:07] AlanCoding commented on #40581
To help me keep these all straight, I am going to put some links and notes here.

The issue seems to have some syntax errors. I think it should have used the `keyed_groups` parmeter

[code]

The feature this issue is asking to have restored is this configuration option:

https://github.com/ansible/ansible/blob/1c3fa2b07f92ef81c6831762bf9d79ffc121acc0/contrib/inventory/ec2.py#L475

I have tested th

[2019-02-27 19:15] sparampalli commented on #52197
@rambleraptor, we tried the new module it works. But based on the region/zone input module should take care of the creation/deletion. If you see the json response it is pretty much same.

[2019-02-27 19:18] sparampalli commented on #52197
Just add to it, if you see gcloud SDK command gives info of regional/zone disks which is handy. It will be useful if it is achievable in Ansible too. At present it is not.

`gcloud compute disks list --format=json`

 does

[2019-02-27 19:53] johnjelinek commented on #39983
Looks like we need to add `no_password_changes: yes` as well.

[2019-02-27 19:56] sedrubal commented on #22338
To be honest, I dont't know the reason for this issue. I'll close it...

[2019-02-27 19:57] #22338 closed, assigned to nobody

[2019-02-27 19:57] Illydth commented on #20493
The workaround above requires your code base to "call out" to a different bit of ansible code outside the module which is, generally speaking, bad practice.  What you have above is a hard coded reference to including a specific yaml file, not using Ansible's role structure to allow ansible to call out to a role.  If that yaml file moves locations or gets checked out into a different location the u

[2019-02-27 20:22] bcoca commented on #40084
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Setting `async: 0` actually disables async, it has to have a 'greater than 0' value.

In the future, this might be a topic more well su

[2019-02-27 20:22] #40084 closed, assigned to nobody

[2019-02-27 20:32] bcoca commented on #53041
We prefer to keep the types accepted strict, you can already do what you want this way:
[code]

[2019-02-27 20:33] acozine commented on #26034
We've also sped up rebuilds of the documentation, thanks to https://github.com/ansible/ansible/pull/45062.

[2019-02-27 20:37] acozine commented on #32898
This is fixed. When I hit http://releases.ansible.com I get bumped automatically to https:.

[2019-02-27 20:37] #32898 closed, assigned to acozine

[2019-02-27 20:42] acozine commented on #36687
Hi @caratzky, and thanks for your offer of services. Translation of the Ansible documentation is handled by Red Hat's localization team, based in the Brisbane office. I will send them a link to this issue, and if they are interested, they will contact you.

[2019-02-27 20:42] #36687 closed, assigned to acozine

[2019-02-27 21:07] deathscythe272 opened #53080 "Hostvars calling groups"
Hello,

I am trying to use hostvars to get  an inventory hostname and a specific variable. The goal of this is to get from the app group, get each unique servers client_name. The below command works for just the first line as I am fairly confident the 0 means first item in the inventory file.

 I need to get it to be a per line item of the inventory file so that each servers client name is read ou

[2019-02-27 21:12] acozine commented on #41488
Thanks @torvitas for reporting this and sorry I didn't get to the issue sooner. As of today, the first results in a google search for "ansible libvirt" do not have a double slash in them. However, it is still possible to add a double-slash, and our webserver still does not handle them well. I will investigate further.

[2019-02-27 21:28] acozine commented on #30347
Thanks @africanzoe for reporting this and @apple4ever for updating the issue. The configuration options for persistent_connection are documented:

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#persistent-command-timeout
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#persistent-connect-retry-timeout
https://docs.ansible.com/ansible/latest/referen

[2019-02-27 21:28] #30347 closed, assigned to acozine

[2019-02-27 21:36] acozine commented on #52759
@ElanHD thanks for your interest in Ansible! GitHub issues are for reporting bugs and other actionable suggestions for the Ansible project. For your question about platform-agnostic roles, I'd recommend a few options. Take a look at https://docs.ansible.com/ansible/devel/community/index.html, especially the meetups list and the links about learning more about Ansible. You can also send a note to t

[2019-02-27 21:36] #52759 closed, assigned to acozine

[2019-02-27 21:49] guoqiao commented on #53041
@bcoca  nice, this is already much better than dict2items.
However,  I am still not comfortable with the fact that loop only works on list, it should work on any iterable/loopable like python.
To be strict on types is good,  but for the loop case, it should mean `items must be iterable` other than `items must be list`.

[2019-02-27 21:50] bcoca commented on #53080
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-27 21:50] #53080 closed, assigned to nobody

[2019-02-27 22:04] dthvt commented on #17078
Has there been any progress on this?  I have also hit this.

[2019-02-27 22:17] asciifaceman commented on #29240
Issue is still present in ansible 2.7.0

[2019-02-27 23:08] bcoca commented on #53041
Most non programmers understand 'a list' but not 'iterable', a string is also 'iterable' but we don't want to:
[code]
to output
[code]

[2019-02-27 23:20] #49846 closed, assigned to bcoca

[2019-02-28 01:36] jborean93 commented on #51543
Further PR to help with parameter validation and verbose logging https://github.com/ansible/ansible/pull/53093.

[2019-02-28 01:54] dagwieers commented on #52977
@felixfontein Currently `requirements:` are used for 3 distinct things:

- Requirements needed for a module (target, could be controller)
  - Python library, e.g. pyvmomi
- Requirements needed for a plugin (controller)
  - Python library, e.g. xmltodict
- Requirements for the destination of what the module does (i.e. REST API)
  - Infrastructure, e.g. requires Satellite 6.3, ACI Multi Site 2.1

So

[2019-02-28 02:20] wouteroostervld commented on #36046
Closed?

[2019-02-28 02:26] asciifaceman commented on #19232
Still an issue in 2019, ansible 2.7

[2019-02-28 02:34] ptux commented on #49603
@tappoz

why don't you use register?

[code]

[code]

[2019-02-28 02:36] ptux commented on #49603
notabug

[2019-02-28 02:37] #49603 closed, assigned to nobody

[2019-02-28 03:40] cod3fr3ak commented on #8297
Great points Issac

[2019-02-28 03:51] bertramn commented on #29240
Maybe npm itself needs a terminal and ansible module is not creating one? Just guessing ...

[2019-02-28 04:12] JohnHaan commented on #42189
I had the same problem and figured out the reason of this issue.

It is releated to openstacksdk, which old version(<0.10.0) of openstacksdk doesn't have 'version' attribute.

Here is test result of python console.

[ openstacksdk == 0.9.17]

True

[ openstacksdk == 0.10.0]

False

Can I modify the code in order to include this exception?

[2019-02-28 04:15] Akasurde commented on #53043
@mgamboa PR #53047 is merged for release 2.7.9 could you please check and let me know if it works for you ? Thanks.

needs_info

[2019-02-28 04:38] jborean93 commented on #47821
@dagwieers were you able to replicate this issue? We run this setup in CI and it doesn't fail there so I'm unsure as to whether it is still an issue.

needs_info

[2019-02-28 05:05] maxamillion commented on #35606
*sigh* ... I'm losing it, I wrote that but 100% forgot I did. Apologies.

resolved_by_pr 43621

[2019-02-28 05:10] maxamillion commented on #50237
@jdoss no - the new PR simply auto-disables the plugin when the failure scenario is encountered and displays a warning that it's being disabled, this is effectively the same as the old functionality before I broke(?) things because I fixed DNF plugin initialization in Ansible. Unfortunately all I can do is provide a work around from Ansible's side to "fix" the common scenario where users expect An

[2019-02-28 05:45] LKaemmerling commented on #52813
https://github.com/ansible/ansible/pull/53062

[2019-02-28 05:57] Fred-sun commented on #46440
close_me, It has been fixed by latest ansible! Thanks!

[2019-02-28 06:00] Fred-sun commented on #46790
close_me, It has been fixed on latest ansible! Thanks!

[2019-02-28 06:19] Andersson007 commented on #39983
Thank you for answering me!
So, regarding that you wrote, I explored the code a little
[code]
and
[code]
I see that this function returns True if current_role_attrs is None.
Seems it works for nonexistent users too, because, respectively, they don't have any current_role_attrs.
In any case, I didn't pass no_password_changes: yes and it worked correctly.

[2019-02-28 06:47] zhelanov commented on #24004
+1 for this request.
It might be useful to be able to prepare environment on a machine where ansible installed: just download latest (!) versions of software from rpm repos to copy and install them on managed hosts which don't have (and must not have) access to that repos

[2019-02-28 07:33] Akasurde commented on #53051
@andnze I am able to reproduce error like you only when I have incorrect `~/.aws/credential` file.
Could you please check you AWS credential file for syntax error ? I have PR #53098 which handles traceback.

Thanks,

needs_info

[2019-02-28 07:35] Andersson007 commented on #40060
@frittentheke I've answered to the PR

[2019-02-28 07:35] D3DeFi commented on #52740
@rubentsirunyan will you have time to look at this? If you need any help just let me know :)

[2019-02-28 08:19] Fred-sun commented on #43416
@zikalino

[2019-02-28 08:31] jborean93 commented on #52927
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-28 08:31] #52927 closed, assigned to nobody

[2019-02-28 08:35] jborean93 commented on #52304
@Givo29 that error with psrp may have been solved recently in the `0.3.1` release of pypsrp but I'm not 100% sure. Are you able to share the output of `pip list` and `/usr/bin/python -c "import requests; print(requests.__version__)"`. It looks like you are using Centos 7 or RHEL 7 and your requests version may just be a bit too old.

[2019-02-28 09:13] Akasurde commented on #53060
@LeDOC666 I am able to reproduce this. I have filed an issue https://github.com/vmware/vsphere-automation-sdk-python/issues/136 against `vsphere-automation-sdk-python`.

[2019-02-28 09:23] Tomorrow9 commented on #51826
Hi, @hadfiiw, thanks for your testing. Yeah, the last failed one is as expected, since the logic is if there is "cluster" parameter, will find the first matched "resource_pool", but it may be not the one expected if there are more than one resource pools with the same name.

[2019-02-28 09:25] Shaps commented on #20714
resolved_by_pr #20968

[2019-02-28 09:27] Tomorrow9 commented on #51826
I can fix the "resource_pool" issue when there is no datacenters, clusters, resource pools with the same name firstly. Then we can consider how to find the unique object in the inventory if there are objects with the same name in different paths. Thanks.

[2019-02-28 09:33] #20714 closed, assigned to gundalow

[2019-02-28 09:49] rubentsirunyan commented on #52740
@D3DeFi  I started to work on this and it slowly turned into refactoring the argument spec :)
Will finalize and push at the weekend.

[2019-02-28 10:53] quulah opened #53104 "Octal mode incorrect when used with default filter"
##### SUMMARY

When used with the `default()` filter, the mode of a file is set to the wrong value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Probably somewhere deep down, and not related to the file module itself, but:
- lib/ansible/modules/files/file.py

##### ANSIBLE VERSION

[code]
&

[code]
##### OS / ENVIRONMENT

Broken both locally on macOS 10.14.3 and a Centos 7 Linux target ho

[2019-02-28 10:57] quulah commented on #53104
If I understood the PR correctly this might change in: #50035.

[2019-02-28 11:41] eightbitdino commented on #52186
I can confirm this also fixed this specific issue for me.

This did mask a problem where I cannot properly use this module to target hosts that do not have an entry in the /etc/hosts file (i.e. localhost) or a PTR record in DNS (i.e. 1.1.1.1).  The nmap output differs when this reverse lookup cannot be performed (i.e 'Nmap scan report for localhost (127.0.0.1)' vs 'Nmap scan report for 172.28.25.1

[2019-02-28 11:46] megakoresh opened #53108 "Openstack modules don't correctly set auth API version"
##### SUMMARY
Without an explicitly set environment variable `OS_IDENTITY_API_VERSION`, openstack modules don't properly determine it from given URL (or select latest by default), which leads to 404 errors. This concerns all openstack modules, but I list ones I've been testing with.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_project
os_user_role

##### ANSIBLE VERSION

[code]

#####

[2019-02-28 12:02] unevenpancake opened #53110 "nmap inventory plugin cannot target hosts that don't have a reverse DNS lookup (PTR or hosts file)"
##### SUMMARY
I cannot properly use this module to target hosts that do not have an entry in the /etc/hosts file (i.e. localhost) or a PTR record in DNS (i.e. 1.1.1.1). The nmap output differs when this reverse lookup cannot be performed (i.e 'Nmap scan report for localhost (127.0.0.1)' vs 'Nmap scan report for 172.28.25.17'), causing the regex identifying hosts to fail.

I was successfully able t

[2019-02-28 12:19] slayer01 commented on #19765
+1

[2019-02-28 12:21] dagwieers commented on #47821
@jborean93 We don't install new systems that often, so the chances I run into this again is slim. I would keep it open to see if more people are affected by this. (People respond to an open issue more easily than opening their own issue)

[2019-02-28 12:22] dagwieers commented on #47821
The real question in the code is, what can cause `$choco_app.Path` to be $null at the line ?

[2019-02-28 14:01] linnil1 commented on #45602
The phenomenon that aggregation still run slowly on junos models  is that it still upload your configurations many times.
Aggregation that this model implemented only commit one time. That me assume that juniper devices use 3 seconds to commit. 3 * 45 = 135(s) which is the result that @AngelFreak shows.

Thus, to resolve this problem, change the code that upload configuration at once.
* original c

[2019-02-28 14:09] Hippolyteb commented on #26537
+1

[2019-02-28 14:16] LeDOC666 opened #53119 "Vmware_tag_manager: catch error (VM or tag doesn't exist)"
##### SUMMARY

Is it possible to catch error when server does't exist, or tag, or category doesn' exist ?
Right now, these is a big error

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Vmware_tag_manager

##### ADDITIONAL INFORMATION

Error I get when VM doesn't exist on hypervisor

[code]

Could be more fun to have :

[code]

[2019-02-28 14:21] kentr commented on #46650
I'm getting this also.

* Ansible 2.7
* MacOS High Sierra

However, when I increase the `page_size` query parameter in `GalaxyAPI.fetch_role_related()`, I get a different error:

[code]

Which makes me wonder if something *else* is throttling all connections, exactly at that point.  The GitHub fetch for `nodejs` is successful, but the GitHub fetch for `php` fails.

[2019-02-28 14:28] linnil1 commented on #48876
Do you try `enhanced_layer: false` for ex3300?

[2019-02-28 14:37] bmalynovytch commented on #36046
A working group has been setup https://github.com/ansible/community/wiki/MySQL
Feel free to join :)

[2019-02-28 14:39] kentr commented on #46650
Hmm.

I put the `page_size` back to `50`, and added an exception handler to `fetch_role_related()`.

It looks like the GalaxyAPI query for the second page of results is getting blocked in the same way as the GitHub fetches:

[code]

[2019-02-28 14:41] #53051 closed, assigned to Akasurde

[2019-02-28 14:45] mjimeneznet commented on #43466
+1

[2019-02-28 14:47] ManuelPerrot commented on #50299
Solution alternative until ansible 2.8 is released:
Don't powerOn the VM after the OVF has been deployed with this module by setting:  `    power_on: no`

Then reconfigure the deployed VM using `vmware_guest` like this to add the extra props:
[code]

`userConfigurable: true` is required for some (all?) of them

[2019-02-28 15:04] lgg42 commented on #23561
I think this should be reopened since the documentation is not clear enough (I ended up here) and there's still a variable **private_zone** that seems to don't exist anymore as of ansible 2.7.8

[2019-02-28 15:04] sivel commented on #53104
Yes, #50035 aims to help with issues like this by giving a warning when an integer is received as a mode.

The problem happens due to the historical interaction between ansible and jinja2 (used for templating).

When PyYAML sees an octal, it gets converted to an integer, due to the way python handles these values.  So `0640` then becomes `416`.  When jinja2 templating happens, the integer then bec

[2019-02-28 15:04] #53104 closed, assigned to nobody

[2019-02-28 15:11] aniketkhisti opened #53120 "Deprecation Warning message pointing to future version doc URL that doesn't exists."
##### SUMMARY

Incorrect URL in Deprecation Warning.
The interpreter discovery doc is suggested in the comment but with reference to the version which does not exists yet. It should be either devel or latest.

I understand that current devel version is going to be 2.8 in future and maybe because of that the documentation URL is pointing to 2.8 version instead of devel. But for now, 2.8 doesn't exi

[2019-02-28 15:18] kentr commented on #46650
I think this is related to #12259

I'm getting the `too many open files` error after upping `page_size`:

[code]

It appears that whatever the very next request is, it's failing because of the open file limits.

This resolves the problem for me:

[code]

[2019-02-28 15:21] aniketkhisti commented on #53120
I just read something in
lib/ansible/utils/plugin_docs.py
[code]
which confirms, it would not be reproducible on production.
Rather its a corner case of first or last entity in the chicken-egg problem.
But please feel free let me know if this experience can be improved.

[2019-02-28 15:25] #27124 closed, assigned to nobody

[2019-02-28 15:43] felixfontein commented on #27124
Ansible 2.8 will feature a `quiet` option which allows to disable the default verbosity, thanks to @rwagnergit!

[2019-02-28 15:59] markbgrdt opened #53122 "Saltstack Plugin: File transfer fails"
##### SUMMARY
I have a couple of minions and using the saltstack connection plugin to connect to the minions. When copying a file, the transfer fails because of a missmatch between the checksum (target)  and the expected_checksum  (source). The actual files get transfered but during the transfer, a \n gets attached somehow which causes the checksum missmatch.

##### ISSUE TYPE
- Bug Report

#####

[2019-02-28 16:38] s-hertel commented on #53051
@andnze You can interactively configure your credentials file using the AWS CLI with `aws configure`. Otherwise you might want to check out the format in the boto3 documentation for clues: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#shared-credentials-file

[2019-02-28 16:43] kbreit commented on #49505
Merged on a different PR.

[2019-02-28 16:43] #49505 closed, assigned to nobody

[2019-02-28 16:44] kbreit commented on #41573
@mathewfer Do the current modules which are in Ansible 2.7 support the functions you need?

[2019-02-28 16:46] kbreit commented on #42687
Because this is a dictionary, this is already supported. Closing.

[2019-02-28 16:47] #42687 closed, assigned to nobody

[2019-02-28 16:51] #52186 closed, assigned to nobody

[2019-02-28 17:13] bpham1012 opened #53127 "Failed to download update error with win_updates"
##### SUMMARY
Windows server failed to download update through win_updates on AWX

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
ansible 2.7.5

##### OS / ENVIRONMENT
Update for Windows Server 2016 for x64-based System

##### STEPS TO REPRODUCE
Run win_updates playbook

`-hosts: win
  vars_files:
     - xxxxxxxxxxxxx
  tasks:
  - name: Reboot Windows
    wi

[2019-02-28 17:46] lndevnull opened #53128 "Subsequent calls to purefa_facts in a playbook overrides the results of the previous run"
##### SUMMARY
Subsequent calls to purefa_facts in a playbook overrides the ansible_purefa_facts dict rather than merging

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/storage/purestorage/purefa_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run purefa_facts in a loop and rather than merging or appen

[2019-02-28 17:48] jamesdmorgan commented on #52063
That is how I hoped it would work too

[2019-02-28 18:43] #52877 closed, assigned to NilashishC

[2019-02-28 18:54] #53061 closed, assigned to nobody

[2019-02-28 19:08] ghost opened #53134 "Yum module does not properly disable excludes"
##### SUMMARY
When using the yum module with the `disable_excludes=all` option it does not appear to properly disable the excludes and will still fail to find packages specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible.cfg file

Tested on ansible 2.7.7 and 2.7.8

##### OS / ENVIRONMENT

Source and target OS are

[2019-02-28 19:20] #43855 closed, assigned to nobody

[2019-02-28 19:53] s-hertel commented on #23561
@lgg42 That appears to be a different problem than the issue of `vpc_region` not being documented. `private_zone` is a return value, not a parameter of the `route53_zone` module. Are you trying to use the `route53` module instead? Please open a new issue with a reproducer if you continue to have trouble.

[2019-02-28 19:56] MyNameIsCosmo commented on #37365
On the latest *pip3* install of Ansible:
[code]

I have an issue similar to this running a playbook like:
[code]

output of above:
[code]

If we remove the `import_role` task, we get the following debug print:
[code]
---
On the same topic, shouldn't `ignore_errors` also ignore failed `import_roles` tasks?

[2019-02-28 19:58] lgg42 commented on #23561
Exactly! I brainfarted with the return values :-P sorryyyyy
But I quickly deleted the message here. I can't actually see it anymore. Thank you a lot for your quick response!

[2019-02-28 20:08] felixfontein commented on #49547
resolved_by_pr #53083

[2019-02-28 20:13] #49547 closed, assigned to nobody

[2019-02-28 20:23] bcoca commented on #53110
It seems to work fine for me, w/o /etc/hosts nor PTR entries, both for internal and external IPs:
[code]

[2019-02-28 20:33] markeriv opened #53139 "junos_config - edit mode"
##### SUMMARY
Enable additional edit modes - particularly "edit private/exclusive" so that interrupted changes will be discarded and reduce chances of lock. Per the output I am seeing it looks like it is hard set to 'exclusive'.

hostname> edit ?
Possible completions:
  <[Enter]>            Execute this command
  batch                Work in batch mode (commit happens in batch)
  dynamic

[2019-02-28 20:33] felixfontein commented on #50424
resolved_by_pr #50335

[2019-02-28 20:41] RobW3LGA commented on #45578
Good afternoon.

First off, I apologize as I am very new to contributing to GitHub so thanks for your patience. I started working with Ansible several weeks ago and have run up against the limitation presented here.

I am testing a solution for this as a function addition to the aci.py core module. So far it appears to be working well, but I've still a lot of testing left to do before presenting.

[2019-02-28 20:43] bcoca commented on #52977
For infrastructure requirements, just need to phrase them as  'Access to ...'

[2019-02-28 20:52] acdha opened #53140 "Incorrect error message from openssl_publickey"
##### SUMMARY

I was attempting to make a playbook which would ensures that a target server (all RHEL 7 in this situation) has a key & CSR. openssl_privatekey runs but openssl_publickey fails with the message “the python pyOpenSSL module is required” despite it being installed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS

[2019-02-28 20:52] #50424 closed, assigned to nobody

[2019-02-28 20:55] #49716 closed, assigned to nobody

[2019-02-28 20:57] acdha commented on #53140
Ah, a check of the source reveals that the problem is that Red Hat characteristically ships a very old OpenSSL and the version check yields the generic not installed message rather than telling you that it's too old.

[2019-02-28 20:58] mbassett commented on #48109
The fix in your PR worked for me.  This also seems to effect ansible 2.7.8.

[2019-02-28 21:04] acdha opened #53141 "Vague error message for openssl_csr"
##### SUMMARY

#35550 was closed without making the error message useful

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssl_csr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The actual error output from OpenSSL

##### ACTUAL RESULTS

By default, you get a generic error:

[code]

Since st

[2019-02-28 21:09] DanyC97 opened #53142 "Cloudformation reconcile stacks using drift detection"
##### SUMMARY

AWS announced at the end of 2018 the new [drift detection](https://aws.amazon.com/blogs/aws/new-cloudformation-drift-detection/) feature
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

cloudformation
##### ADDITIONAL INFORMATION

In an ideal world we would have a true IaaC but the reality is that even with ansible/ cloudformation automation users are still going sometimes dir

[2019-02-28 21:09] corbinstuard opened #53143 "jinja2_native = True converting the result of the 'template' module to a native data structure"
##### SUMMARY

If jinja2_native = True is set in ansible.cfg, the template module will always export the data structure per it's native syntax.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7,6

##### STEPS TO REPRODUCE

Set jinja2_native = True in ansible.cfg

Using the following template:

[code]

[2019-02-28 21:25] mgamboa commented on #53043
Hi Team

Today i apply the patch and now i got different error
[root@qacvtitm052 ansible]# ansible-inventory -i vmware_vm_inventory.vmware.yml --list -vvvv
ansible-inventory 2.7.8
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/an

[2019-02-28 21:28] sivel commented on #53143
Duplicate of https://github.com/ansible/ansible/issues/46169

[2019-02-28 21:28] #53143 closed, assigned to nobody

[2019-02-28 21:31] corbinstuard commented on #53143
@sivel That issue is closed, and so is the upstream one with Jinja2. Where is the open bug in either project to fix this issue?

[2019-02-28 21:32] sivel commented on #53143
#46169 is still open.

[2019-02-28 21:36] #51190 closed, assigned to samdoran

[2019-02-28 21:40] agaffney opened #53145 "Create a "tips and tricks" page in the docs"
##### SUMMARY
It would be nice to have an official "tips and tricks" page/section in the docs. This could include things like jinja tricks, design patterns for specific problems, etc.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

Unknown

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### ADDITIONAL INFORMATION
Once a page is created, content

[2019-02-28 21:45] auriusbendikas opened #53146 "chroot plugin: Add support for changing chroot executable. i.e.: arch-chroot"
##### SUMMARY
Arch Linux uses "arch-chroot" for chroot installations. It takes same parameters as chroot, but adds extra features like extra directory bindings, so more things work under arch-chroot.

Add support for configuring different executable in chroot connection plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Chroot connection plugin

[2019-02-28 21:48] rambleraptor commented on #50247
Hello! I'm looking at this right now, which should also unblock #43466

[2019-02-28 21:55] agaffney commented on #53145
Ideas for topics:

* filtering lists in jinja
* looping over a group of tasks
* pattern for providing OS-specific defaults for roles

[2019-02-28 22:09] #43029 closed, assigned to nobody

[2019-02-28 22:18] sivel commented on #53145
See also: https://github.com/ansible/ansible/pull/46979

[2019-02-28 22:38] silverwizard opened #53150 "nagios module: Can't apply downtime due to failed type check"
##### SUMMARY
The Python cast to int returns class(int) when checking if nagios module is receiving a valid number. Unfortunately there is a check to confirm that the cast worked correctly checks for type(int). This means, that, since the code is running in a try/catch, and there is a cast, the only function of the type check is to fail due to forward upgrades in python.

##### ISSUE TYPE
- Bug Re

[2019-02-28 22:38] silverwizard commented on #53150
https://github.com/ansible/ansible/pull/49568

Trying to get this PR looked at

[2019-02-28 22:54] auriusbendikas commented on #53146
Wow! That must be world record time for implementing a feature in opensource project. Great work @bcoca  !!!

[2019-02-28 22:59] bcoca commented on #40561
with -vvv you should see message `Using module file ...` that tells you exact file it is loading

[2019-03-01 00:38] queglay opened #53154 "improve ability to display nested json dictionaries: if a value is a dictionary it wont display correctly in msg"
##### SUMMARY

current Ansible version: 2.7.12
It would be helpful to provide more abilities to correctly format json output in debug messages.  methods like -v and from_json do not work in this situation I will explain.

When I read in json from a file, none of the methods to format json apear to work to help display output when reading a value in the dict that is also a dict.  it would be helpfu

[2019-03-01 00:54] nitzmahone commented on #53120
@aniketkhisti thanks for reporting that; already had a plan for a fix but hadn't gotten to it yet. Heuristic fix to the doclink generator to detect devel is incoming...

[2019-03-01 01:07] angystardust commented on #52868
Same weird issue here on a Fedora29

[2019-03-01 01:22] ahuffman commented on #52868
I was testing from RHEL7.6 and Fedora 29, both Enterprise Linux based.

[2019-03-01 01:53] #53120 closed, assigned to nobody

[2019-03-01 02:49] leonjq commented on #20634
pip uninstall docker-compose
curl -L "https://github.com/docker/compose/releases/download/1.23.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose && \
chmod +x /usr/local/bin/docker-compose && \
ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose && \
docker-compose --version

The advantage of this is that only docker-compose has been upgraded, and no changes have b

[2019-03-01 03:08] nickallevato commented on #29858
thank you @shadowlord017 for this workaround. I had the same issue.

[2019-03-01 03:40] Akasurde commented on #53043
@mgamboa As error suggest `192.168.152.25:443 is not a VIM server` Could you please confirm if 192.168.152.25 is ESXi or vCenter server working on port 443 ?

Thanks

needs_info

[2019-03-01 04:55] Akasurde commented on #53119
resolved_by_pr #53158

[2019-03-01 04:57] Akasurde commented on #53119
@LeDOC666 Thanks for reporting this issue. Check for failing when unable to find provided object was already available but just was misplaced.

[2019-03-01 05:16] maxamillion commented on #24004
FWIW I'm on board with the change but I don't see myself being able to prioritize it anytime soon. If anyone would like to contribute a pull request, I would be happy to review.

[2019-03-01 05:27] gtema commented on #42189
Well, the current version of SDK is 0.25.0 Do we really want to include a fix for such an old release?

[2019-03-01 05:30] Akasurde commented on #53140
!component =lib/ansible/modules/crypto/openssl_publickey.py

[2019-03-01 06:17] #38641 closed, assigned to nobody

[2019-03-01 06:22] Andersson007 commented on #15794
@Habbie hello and thank you for the feedback!
Is this problem actual for 2.7 version? I don't really understand what you suggest to change in the documentation. Could you explain it to me in detail?
It would be better if you show us certain doc strings that, as you suppose, are not correct and what you specifically suggest to change.
I'll be waiting feedback from you, thank you!

[2019-03-01 07:14] jojo221119 commented on #31759
Encountered the same issue. Privilege escalation does not seem to work.

[2019-03-01 07:52] Fred-sun commented on #39977
ping

[2019-03-01 08:07] L1ghtman2k opened #53164 "VMware: vmware_object_role_permission fails when principal is used"
##### SUMMARY
When using option principal instead of group, this code fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_object_role_permission

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CENTOS 7.

##### STEPS TO REPRODUCE
1) Install AWX, import a playbook with inventory/vmware_object_role_permission.py in it
2) Run vmware_object_role_permis

[2019-03-01 08:11] zikalino commented on #46790
closing as fixed

[2019-03-01 08:11] #46790 closed, assigned to zikalino

[2019-03-01 08:26] Andersson007 commented on #30102
Well... I don't know that ansibot is a real person, incredibly ! ;)

Be serious, this feature was added in release 2.4.
[code]
So, @gundalow , please, **this issue should be closed**.

[2019-03-01 09:51] #52713 closed, assigned to nobody

[2019-03-01 10:00] ztoth77 commented on #38982
Hi Akasurde!
I can't see the fix on the link, can you share it with me?
Thanks:zoltan

[2019-03-01 10:28] mgamboa commented on #53043
It's the vcenter working on port 443

[2019-03-01 10:49] angystardust commented on #52868
This is my play:

[code]

Launching the play or running _ansible-lint_ gives the following error:
[code]

So, it seems like the "found unknown escape character" issue is triggered when using the YAML syntax instead of the old "key=value" one-line syntax.

@ahuffman can you try to use the one-line syntax in your task while using the `regex_replace` filter?

[2019-03-01 10:54] ag0n1k opened #53167 "Idempotency test failed for openssl_csr (Country Name)"
##### SUMMARY

While continuing to use ssl modules, idempotency test still has failures. I have heard about `force` mode, there is no such problem and I have some investigations, see the result below

Once again in function `check`, that returns condition (added some debug):
[code]
The debug is:
[code]
So the problem is in the function `_check_subject(csr)`. There is condition of old and new subje

[2019-03-01 10:57] ag0n1k commented on #51429
Thanks everyone, I've tested on 2.7.8 - all works correctly. In continue I met [another issue about idempotency](https://github.com/ansible/ansible/issues/53167).

[2019-03-01 11:08] jayooin commented on #49547
It's all good. I've tested it, Works like a charm.

[2019-03-01 11:10] Shaps commented on #51267
resolved_by_pr #53168

[2019-03-01 12:19] Andersson007 commented on #30060
I've checked the module's code - it's very different from 2.1 in an associated part.
There are conditions that check: if any attributes of a role aren't changed, just exit. No any alters in this case.

And I tested it manually.
On the master I did:
[code]
Then I made a replica and ran on it (a copy of the playbook in the topic):
[code]
It works as expected - the playbook don't try to change anythi

[2019-03-01 12:25] #52740 closed, assigned to nobody

[2019-03-01 12:41] ghost opened #53170 "iptables missing --gateway flag for -j TEE"
##### SUMMARY

The ip_tables module is missing a flag called gateway that is invoked with the -jump TEE extension.

[code]
Does anyone know how this cold be accomplished?
##### ISSUE TYPE
- Feature Idea
- Documentation needed
##### COMPONENT NAME

iptables
##### ADDITIONAL INFORMATION

This is needed to forward data to the local machine.
The use case is there are two rules, one for routing to loca

[2019-03-01 13:23] LozanoMatheus commented on #52979
Hi @s-hertel.

I believe that I getting this "error" because I'm creating just the "secondary" device.

For example how I'm defining the volumes for this EC2:

[code]
The output:
[code]

If I change the `device_name` to `/dev/sda1`, it will create a single device (as root device) and will set `delete_on_termination` to `true`. So, if I define a single device and it has the `device_name` different

[2019-03-01 13:30] mkrizek commented on #52063
@wimnat @jamesdmorgan Is the documentation not clear enough? Any suggestions for an improvement? Would the following help maybe?
[code]

[2019-03-01 13:58] ragingpastry commented on #19084
I'm not sure I agree with this causing confusion with variable precedence. Can you expand on what you mean by that?

Also I would argue that within the context of this issue it is necessary and logical to define variables like this.

[2019-03-01 14:02] dagwieers commented on #30060
Closing this issue as requested. Feel free to add comments with feedback or clarifications.

[2019-03-01 14:02] #30060 closed, assigned to nobody

[2019-03-01 14:02] dagwieers commented on #30102
Closing this issue as requested. Feel free to add comments with feedback or clarifications.

[2019-03-01 14:02] #30102 closed, assigned to nobody

[2019-03-01 14:06] dagwieers commented on #46168
Closing this issue as requested. Feel free to add comments with feedback or clarifications.

@Andersson007 If your #52574 PR included `Fixes #46168` GitHub will automatically close this issue when the PR gets merged.

[2019-03-01 14:06] #46168 closed, assigned to nobody

[2019-03-01 14:07] dagwieers commented on #39983
Closing this issue as requested. Feel free to add comments with feedback or clarifications.

[2019-03-01 14:07] #39983 closed, assigned to nobody

[2019-03-01 14:16] jamescassell commented on #19084
The only workaround I've been able to come up with is to dynamically write a tasks file then include_tasks that file. It's simply too invasive to rewrite every role to natively support looping.

[2019-03-01 14:21] ragingpastry commented on #19084
I've been using an include_task which calls a task with this:

`- name: Set role variable facts
  set_fact:
    "{{ role_item.key }}": "{{ role_item.value }}"
  with_dict: "{{ item.vars }}"
  loop_control:
    loop_var: role_item`

It works but its messy...

[2019-03-01 14:22] ikke-t commented on #22265
this is still broken. I have rhel 7.6 and ansible-2.7.7-1.el7.noarch.

I hadn't noticed Red Hat Employee SKU had changed pool id again, and I run into this bug. I create new VMs and run:

[code]
It comes out with subscription as ok, but in reality it's not:

[code]

Module should not come back as OK, if something went wrong. This is unreliable, and gives really bad experience on RHEL.

[2019-03-01 14:25] mkrizek commented on #53134
FWIW I cannot reproduce the issue. The command that the `yum` module executes is:
[code]

I am not sure how your workaround could help then?

Are you able to reproduce the issue multiple times or was it just intermittent maybe?

needs_info

[2019-03-01 14:32] jamescassell commented on #19084
set_fact works until you do a later group_by that you'd expect to pull in more specific group_vars...

[2019-03-01 14:40] ragingpastry commented on #19084
Oh indeed. It fit my use-case for the moment but doesn't solve the problem which is why I was a little concerned that this was closed as "not necessary"

[2019-03-01 14:50] manumeter commented on #11024
If someone is looking for a solution until it gets added to e.g. the group module in upstream: I've written a small custom module which should cover most of the cases:
https://github.com/isginf/ansible/blob/master/modules/system/member.py

[2019-03-01 14:55] manumeter commented on #44382
I've written a quick workaround inventory-script for this issue/feature request.
Maybe it helps someone else as well:
https://github.com/isginf/ansible/blob/master/inventory/host_vars.py

[2019-03-01 14:58] Habbie commented on #15794
Hi, thank you for responding. I do not currently use Ansible to manage postgres, so I'd have to do some digging to figure out if 2.7 is still affected.

I'd like to review your #49683 but it currently touches 2230 files..

[2019-03-01 15:28] manumeter commented on #38227
Thanks @bcoca / @ssbarnea for the solution to this. Since I wanted to make it a bit "better readable", I've written a small lookup-plugin for this (hope it helps someone).

With your example:

[code]

with: https://github.com/isginf/ansible/blob/master/plugins/lookup/file_exists.py

[2019-03-01 15:29] #52760 closed, assigned to nobody

[2019-03-01 15:36] #49664 closed, assigned to nobody

[2019-03-01 15:59] JohnHaan commented on #42189
We could install the openstacksdk v.0.9.17 if we use openstack pike repository of CentOS7.
I do not think a small number of people are using the OpenStack Pike version on CentOS and need to raise an appropriate exception for this situation, not an error in the code.

[2019-03-01 16:06] sivel commented on #53154
I am unable to duplicate what you appear to be conveying.

When I run your playbook, the debug outputs look like:

[code]

Now, it is true, that your `shell` task is much different from `include_vars`.

To properly utilize the values from the `shell` task you would need to use:

[code]

Using `.stdout|from_json` is necessary, as the output from `cat` is stored in the `stdout` key, and the `shell`

[2019-03-01 16:06] #53154 closed, assigned to nobody

[2019-03-01 16:18] sivel commented on #17807
In these types of conditionals, you always not to guard against the fact that the result may not be populated yet.

Something such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-01 16:18] #17807 closed, assigned to nobody

[2019-03-01 16:18] bcoca commented on #17927
closing as per above

[2019-03-01 16:18] #17927 closed, assigned to nobody

[2019-03-01 16:21] mwellnitz commented on #21342
there is a workaround that fits my needs:
- name: create my_file
  file:
    path: my_file
    state: touched
  register: my_file_is_touched
  changed_when: "my_file_is_touched.diff.before.atime == my_file_is_touched.diff.before.mtime"

at least in linux: access time is changed when file was touched modification time _not_
In case of file is created during touch both timestamps will be the same

[2019-03-01 16:24] samdoran commented on #18090
This is expected behavior as @beevee points out. Prior to Ansible 2.2, there was no set behavior on how relative paths were resolved. Now relative resolutions are determined more consistently. This is the new standard.

[2019-03-01 16:24] #18090 closed, assigned to nobody

[2019-03-01 16:26] sivel commented on #18188
This problem comes down to local considerations.  Many solutions have been proposed here, that can help in reducing failures.

1. reduce fork count
1. configure ssh retries
1. Use a controller that is closer to the hosts being managed
1. Adjust ssh settings such as `ServerAliveInterval`, `TCPKeepAlive`
1. Adjust timeout settings

If you have further questions please stop by IRC or the mailing list

[2019-03-01 16:26] #18188 closed, assigned to nobody

[2019-03-01 16:29] sivel commented on #18201
Ultimately this will become a duplicate of https://github.com/ansible/ansible/issues/48678 which aims to expose passing arbitrary arguments to the underlying version control module used by ansible-pull

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-01 16:29] #18201 closed, assigned to nobody

[2019-03-01 16:29] samdoran commented on #18356
If you still have this problem, please open a new issue.

[2019-03-01 16:29] #18356 closed, assigned to nobody

[2019-03-01 16:30] bcoca commented on #18090
https://docs.ansible.com/ansible/2.4/porting_guide_2.4.html#configuration

[2019-03-01 16:31] samdoran commented on #18360
We believe this is resolved by the commits mentioned above. If this is still an problem, please open a new issue.

[2019-03-01 16:31] #18360 closed, assigned to nobody

[2019-03-01 16:32] bcoca commented on #17704
We don't really support inline jinja2 writing tasks/plays, you can do same with the following:

[code]

[2019-03-01 16:32] #17704 closed, assigned to nobody

[2019-03-01 16:35] sivel commented on #18489
This issue has been resolved in recent versions of ansible.  If you are still having problems, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-01 16:35] #18489 closed, assigned to nobody

[2019-03-01 16:42] bcoca commented on #26274
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Sorry to say `set_fact` is not a fact, so `delegate_facts` does not apply to it.

In the future, this might be a topic more well suited

[2019-03-01 16:42] #26274 closed, assigned to nobody

[2019-03-01 16:44] sivel commented on #18549
This issue was resolved in 9339b0f4a7b9c2cd718e1f4e3476bbe04181f1b2 and subsequently included in the 2.4.0.0-1 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-01 16:44] #18549 closed, assigned to sivel

[2019-03-01 16:46] samdoran commented on #26347
When you have a play that is stuck on a non-responsive host, the only way to see what host the play is stuck on is to enable debug mode. You can also use the [counter_enabled](https://docs.ansible.com/ansible/latest/plugins/callback/counter_enabled.html) callback plugin available in Ansible >= 2.7 which will show you some helpful information.

[2019-03-01 16:46] #26347 closed, assigned to nobody

[2019-03-01 16:55] gtema commented on #42189
hmmm. I do not like those repos and bindings to particular versions. Fedora is also lagging dramatically, but at least it is 0.12.0. And so we set default min_version to 0.12.0. For SDK and OpenStackClient there are no hard ties with the release. If it was latest during pike release doesn't mean it is the only working version. So if you would simply skip this exception you would also need to lower

[2019-03-01 16:56] sivel commented on #26639
This will be ultimately be resolved by https://github.com/ansible/ansible/pull/46358

This will enable users to select specific source filters based on a namespace.

In the meantime, we cannot roll back our fix.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-01 16:56] #26639 closed, assigned to nobody

[2019-03-01 17:00] bcoca commented on #26681
Closing this as @phynias works around it above, the real issue is that cloud-init does not do `~` translation, which is breaking POSIX assumptions, by changing the `remote_tmp` to not deal with `~` translation you bypass the issue.

This is not really an Ansible bug, but a cloud-init one as it departs from POSIX in this respect.

[2019-03-01 17:00] #26681 closed, assigned to bcoca

[2019-03-01 17:46] barloff-st opened #53181 "ovirt_network fails to edit/create networks attached to Default cluster"
##### SUMMARY
If specifying the Default cluster using ovirt_network's "clusters" dict parameter the exception is always hit "Exception("Cluster '%s' was not found." % param_cluster.get('name'))" and "Cluster 'None' was not found."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHVH, hosted-engi

[2019-03-01 18:12] #34737 closed, assigned to nobody

[2019-03-01 18:14] mgaruccio opened #53182 "win_domain fails if the domain is already present"
##### SUMMARY

the win_domain module fails when run on a member server within an existing domain, giving an error stating that the name already exists on the network

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_domain module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no config changes made to ansible
[code]

##### OS / ENVIRONMENT

target OS - Windows server 2016

##### STEPS

[2019-03-01 18:53] mtorelli commented on #45578
@RobW3LGA Your changes can only be integrated through a pull request.  I'm not the expert here, but I think you have to make a fork of the ansible repository, make your changes locally, then commit & push them to Github and then open the pull request to get the changes merged.  Pull requests can also be done via branching, but I'm sure if that's an allowed option.  @dagwieers can confirm.  For add

[2019-03-01 20:34] AlanCoding commented on #52672
bot_status

[2019-03-01 20:38] s-hertel opened #53185 "unstable ec2_vpc_vgw tests"
##### SUMMARY
https://app.shippable.com/github/ansible/ansible/runs/111229/84/tests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_vgw tests

##### ANSIBLE VERSION

[code]

[2019-03-01 20:48] s-hertel commented on #53185
!component =test/integration/targets/ec2_vpc_vgw/

[2019-03-01 21:17] acozine commented on #26034
Thanks @dradetsky for reporting this. We've made a lot of progress on local docs builds - I consider this issue addressed. Feel free to open a new issue if you would like to see more changes.

[2019-03-01 21:17] #26034 closed, assigned to acozine

[2019-03-01 21:49] AhmedSamyMerah opened #53186 "osquery module?"
Hi,
I was wondering if there are any osquery modules for ansible as I am trying to use osquery to get different information on other machines such as chrome extensions and uptime. If such feature does not exist, what is the best work around?

[2019-03-01 21:51] s-hamann commented on #38931
Not having all available locales in `/etc/locale.gen` is normal on Gentoo. On a fresh install, it contains 14 commented samples and the administrator is expected to add or uncomment their desired locales.
Gentoo has `/usr/share/i18n/SUPPORTED`.

[2019-03-01 21:57] veksh commented on #48876
No; `junos_config` is [all I need](https://github.com/veksh/conf_juniper) for now.

[2019-03-01 23:01] dpengftw opened #53188 "Add capabilities_auto_expand to cloudformation.py"
##### SUMMARY

Add CAPABILITY_AUTO_EXPAND to cloudformation.py

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

cloudformation.py

##### ADDITIONAL INFORMATION

On certain cloudformation templates that require include or serverless, extra permissions need to be added.

Here is the link to the capability description:
https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Creat

[2019-03-01 23:01] jonmod opened #53189 "Slow behavior connecting to VyOS/NXOS from Alpine3.9"
##### SUMMARY
When running adhoc or playbooks for various nxos or vyos modules (nxos_facts, nxos_command, vyos_facts) the connection seems to stall for 40-120 seconds before data are returned.

This does not occur in version 2.7.0 and seems to only occur in later version 2.7.1+ (2.7.8 test details below).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vyos_facts

##### ANSIBLE VERSION

[code

[2019-03-01 23:11] jonmod commented on #53189
Also, I just did a repro trying Python 2.7.15 and the issue did not occur.

[code]

[2019-03-01 23:23] zlbabe opened #53191 "openssl_privatekey - encrypt automatically private keys using vault password"
##### SUMMARY
Encrypt automatically the private keys when generated by `openssl_privatekey` using vault password.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssl_privatekey

##### ADDITIONAL INFORMATION

To encrypt the private keys, ansible-vault can be invoked but only once the generation is finished. It would be useful if there is an option within `openssl_privatekey` to encrypt a

[2019-03-01 23:37] #51267 closed, assigned to nobody

[2019-03-02 00:31] ahuffman commented on #52868
Ran the following playbook:
[code]

With the result:
[code]
It doesn't seem to like the escaping on the replacement character `\\x20`.

When I run this playbook, just simply changing to expanded yaml, I get different results.
[code]

I get the following error:
[code]

[2019-03-02 06:44] AravindBalajiS commented on #46484
Hi everyone
I am unable to assign a tag to VM

fatal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "module_stderr": "/usr/lib/python2.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings\n

[2019-03-02 08:47] felixfontein opened #53193 "docker_swarm_service: does not work with docker 2.0.0"
##### SUMMARY
The documentation claims that `docker_swarm_service` works with docker 2.0.0. Apparently, it doesn't, see #53129.

Once #53129 is merged, we should try to fix this, either by making it work with earlier docker versions, or by bumping the minimal required docker version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_service

##### ANSIBLE VERSION
2.7.x, 2.8.0

[2019-03-02 08:51] felixfontein commented on #41396
@mscherer I've never used the acme provider; are you still using it? Is this still a problem? Do you want to work on this?

[2019-03-02 09:21] queglay commented on #53154
I cannot replicate what you mention.  I placed the example json into a file named test.json
and I ran your suggestions in a playbook named test.yaml.

[code]

it produced this output-

[code]

[2019-03-02 09:37] felixfontein commented on #53167
I've just tried this out, the problem seems to be that it only accept *valid* country short names. When I use `de`, it works fine, but when I use `xyz`, it doesn't. Your test uses `test_cn`, which also isn't valid.

[2019-03-02 09:49] MarkusTeufelberger commented on #53191
This sounds like an antipattern to me and I'm not sure if it is something that would be even desired. Imagine changing your vault password (or not entering one) - suddenly all your keys get overwritten with a new one.

I get the basic idea, I'm just not very sure if it would be working as expected in practice.

[2019-03-02 09:52] felixfontein commented on #53167
I think I found a way to validate this. I'll create a PR for this later.

[2019-03-02 10:00] felixfontein commented on #53167
resolved_by_pr #53198

[2019-03-02 10:09] felixfontein commented on #53191
This also isn't easy to implement. Modules do not have access to the vault password - which is in general a Very Good Idea since they are executed on possibly untrusted remote hosts. To implement this, one probably has to add an action plugin (which is executed on Ansible host), like for the `template` module (the templating is done on the controller, since Ansible doesn't want to send all the var

[2019-03-02 10:23] #32081 closed, assigned to nobody

[2019-03-02 11:06] ag0n1k commented on #53167
@felixfontein Thanks, I was wrong, but you expanded the tests!

[2019-03-02 11:23] zlbabe commented on #53191
If it's too complicated we can ignore it.

[2019-03-02 11:23] dinkonin opened #53199 "Mikrotik routeros_command fails with timeout on devices when their identity contains spaces"
##### SUMMARY

When trying to run a simple task for example:
[code]
some hosts fail with error `ConnectionError: command timeout triggered, timeout value is 10 secs.` After a lot of tests I've discover that if I change the Identity of the device in /system/identity to a string without blankspace i.e. `Mikrotik AP2 -> Mikrotik_AP2" everything works and there is no timeout.
##### ISSUE TYPE
- Bug Re

[2019-03-02 11:56] mgamboa commented on #53043
yes, of course, working perfectly I also have connected foreman I would love to have the dynamic repo from ansible but at the moment is not working on 2.7

[2019-03-02 12:56] felixfontein commented on #53167
@ag0n1k you pointed out a big problem the module currently had: it simply ignores wrong input (by ignoring the PyOpenSSL return codes). The PR also improves that, so instead of just throwing something away, it will complain :) (Well, at least for subject-related stuff, there might be more places...)

[2019-03-02 13:11] felixfontein commented on #53141
resolved_by_pr #53201

[2019-03-02 14:16] felixfontein commented on #46196
`selfsigned_not_after` also has a problem with byte strings, it seems, at least in `stable-2.7`. That's why the tests for the backport #53203 fail.

[2019-03-02 14:27] felixfontein commented on #46196
Also, it looks like this is fixed in `devel`, probably due to the relative times PR (#50570) by @MarkusTeufelberger earlier this year. This is a New Feature PR, so no backporting. The byte strings problem (Python 3) has also been fixed in #47508, but never backported. I think I'll start with backporting it...

[2019-03-02 15:14] felixfontein commented on #46196
I've tried to reproduce this with the stable-2.7 branch from #53203, but couldn't reproduce this. Both with Python 2.7.15 and Python 3.7.2 (both with PyOpenSSL 18.0.0) this error does not appear.

Also, your stacktrace indicates that the error happens *inside* PyOpenSSL. The function it tries to call, `ASN1_TIME_set_string`, comes from the internals of the `cryptography` library. You have version

[2019-03-02 15:16] kiawin commented on #52869
From a quick look, seems like the reason behind `login_host` will work because `mysql_connect()` in  `lib/ansible/module_utils/mysql.py` uses `login_host`,

[code]

I did not look deep into why we document `host` instead of `login_host`, as this perhaps require some background on the history of these two variables. However, I guess we can safely assume these two variables should represent the data

[2019-03-02 15:25] #46196 closed, assigned to nobody

[2019-03-02 16:38] felixfontein commented on #38733
I'll take a look at this one.

[2019-03-02 16:42] victorock commented on #20347
You need to know what is the RootDeviceName of your AMI and replace it, as described by @mglantz

[2019-03-02 16:51] felixfontein commented on #38733
resolved_by_pr #53207

[2019-03-02 18:28] mcandre commented on #43739
@anis016 Thank you for contributing! I see Jibbed in multiple families, does that inherit from both OpenBSD and NetBSD?

OpenBSD itself inherits from NetBSD as well, no?

[2019-03-02 19:11] BarbzYHOOL commented on #52869
not sure you 're talking about the same thing as me

[2019-03-02 21:23] goll commented on #14829
Using the reproducer from above I modified the filters using [ipwrap](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html#wrapping-ipv6-addresses-in-brackets):

[code]
results in this output:
[code]

[2019-03-02 23:04] goll commented on #14829
The filters are not returning lists but booleans, here are my tests with `ansible-2.7.8` and `python-netaddr-0.7.19` on a VM without IPv6:
[code]
Test 1 uses `ipaddr` as TEST_FUNCTION:
[code]
Test 2 uses `ipv6` as TEST_FUNCTION:
[code]
Test 3 uses `ipv6('address')` as TEST_FUNCTION:
[code]
Test 4 uses `ipwrap` as TEST_FUNCTION and is the only one that works:
[code]

[2019-03-02 23:29] #36835 closed, assigned to nobody

[2019-03-02 23:48] lparkes opened #53215 "Endianless Linux BIOS UUID for use by VMware modules"
##### SUMMARY

Add a new Ansible fact that reports Linux PC BIOS UUIDs without byte swapping.

This could be a VMware guest specific fact called `ansible_product_uuid_vmware` derived from the DMI serial number or it could be a general purpose fact called `ansible_product_uuid_endianless` derived from `/sys/firmware/dmi/entries/1-0/raw`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

setup

[2019-03-03 00:34] mnemonick commented on #42460
The same problem on 2.7.8

[2019-03-03 00:40] RodneyMarable opened #53217 "Feature Request: Provide Support for AWS ParallelCluster"
Please provide native Ansible support for AWS ParallelCluster:

https://aws-parallelcluster.readthedocs.io/en/latest/index.html

[2019-03-03 00:55] jctanner commented on #36046
As we have multiple modules without maintainers, and there is a working group for this class of modules, I do not see a need for this issue to exist.

[2019-03-03 00:55] #36046 closed, assigned to nobody

[2019-03-03 05:51] felixfontein commented on #52663
resolved_by_pr #53214

[2019-03-03 05:56] felixfontein commented on #36738
I'm currently thinking on how to fix this. For empty files, both failing (properly, without crashing) or treating it as not existing is fine. But for non-empty files which are no valid PEM files, I don't think treating it as not existing is a good idea.

I think the best solution is to treat all parsing errors as fatal (including then the file is empty). Has anyone objections to this? If not, I th

[2019-03-03 06:02] felixfontein commented on #33457
Well, it has to be defined properly what should be returned when. This is one of the cases where a "hard failure" is fine.

Yes, it definitely should not succeed. But I don't mind an extra return value which is set to `True` in case it fails because the assertions fail. Other failure will not include this return value, so if you do something like `output is failed and output.assertions_failed`, th

[2019-03-03 10:58] felixfontein opened #53221 "openssl_pkcs12: idempotency check is not working"
##### SUMMARY
The idempotency check of `openssl_pkcs12` is totally broken. It currently only checks whether the output file is there and has the correct permissions, and nothing else. There is code for a test which checks whether the private key is readable (with the provided passphrase), but that code is never executed (since `()` is missing in the `return` line).

##### ISSUE TYPE
- Bug Report

[2019-03-03 11:25] MarkusTeufelberger commented on #36738
On `assertonly` parsing errors should be fatal (there's nothing you can do about it), other providers should just carry on and overwrite the defective file.

[2019-03-03 11:38] felixfontein commented on #36738
I checked all (relevant) crypto modules in #53222, the result is as follows:
 - openssh_cert returns an error
 - openssh_keypair returns a not very helpful error ("list index out of range")
 - openssl_certificate crashes
 - openssl_csr crashes
 - openssl_dhparam simply recreates the DH params
 - openssl_pkcs12 simply recreates the PKCS#12 file (there's no idempotency check, see #53221)
 - openssl_

[2019-03-03 12:21] queglay commented on #30411
when I run a command with wait_for and timeout, the timeout doesn't work if connection with the host is broken.  in this example, its been running for two hours, and it should die after 60 minutes.  the connection with the host breaks due to a reboot.  it would be good for timeout to handle a broken connection unless theres another option.

[code]

[2019-03-03 13:03] jvalrog opened #53223 "docker_swarm_service: bad default values?"
Hi, I'm not a developer so sorry if this bug report is not good enough.

##### SUMMARY

I'm getting an error about bad values on a configuration option I've never used.

I think it may be related to this other bug?: https://github.com/ansible/ansible/pull/51216

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-03-03 13:25] evitalis commented on #53134
I have been able to reproduce this and even had others run into the same so I don't think its intermittent. I will test again though and follow up.

[2019-03-03 13:32] felixfontein commented on #53223
Thanks for reporting this! It should not be related to that PR you mentioned (#51216), since it has not been backported to stable-2.7, so you won't see it in effect until Ansible 2.8 (or when you work with the `devel` branch somehow). It's good that you mention your raspberry pi: is it the case that you execute ansible-playbook on the Ubuntu 18.04 machine, but the module is executed on the raspber

[2019-03-03 13:50] felixfontein opened #53225 "Python 2: when a large enough integer is passed for a `type=int` module option, arg_spec parsing fails"
##### SUMMARY
When you pass a large enough integer value to a module option of type `int`, where the module is executed with Python 2.x, you get an error `argument xxx is of type <type 'long'> and we were unable to convert to int: <type 'long'> cannot be converted to an int`.

An example where this happened is #53223, where the default value for an option is 5000000000 (unit is nanoseconds, i.e. t

[2019-03-03 13:50] felixfontein commented on #53223
The PR for the second problem is #53224, and I've created a new issue for the first problem: #53225

[2019-03-03 14:01] sudoforge commented on #38931
I think that I will have time in the next week or so to take a stab at this.

[2019-03-03 14:37] lgg42 commented on #25182
+1 Stills also in 2.7

ansible 2.7.8
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Nov 12 2018, 14:31:15) [GCC 7.3.0]

[2019-03-03 14:39] gun1x commented on #20580
I ran into the same issue, when using the following syntax:
[code]
If the image from the registry got updated, docker will not force the pull of latest, though just running `docker pull image` from shell would have the desired result.

[2019-03-03 14:43] hexdump0x0200 opened #53226 "ios_logging: the module performs the configuration, even if not required (destination 'host')"
##### SUMMARY
The module performs the configuration 'host' destination, even if not required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_logging

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
debian 9.8
cisco ios 12

##### STEPS TO REPRODUCE
cisco config:
[code]

[code]
##### EXPECTED RESULTS
The task "configure syslog servers" should have the statu

[2019-03-03 14:56] felixfontein commented on #20580
@gun1x you can add `force: yes` to force pulling.

[2019-03-03 15:00] felixfontein commented on #20580
BTW, everyone in this thread might be interested in #52596 (issue) and #52894 (PR). I've tried to improve the interface for 2.8, and I'm really hoping for any kind of feedback on that.

[2019-03-03 15:01] gun1x commented on #20580
This works great. It also returns "changed" only when there was a newer image.

[2019-03-03 15:02] hexdump0x0200 opened #53227 "ios_logging: The module does not perform configuration"
##### SUMMARY
The module does not perform configuration if the logging destination is disabled in the configuration and the required logging level is 'debugging'. Relevant for 'dest types: console, monitor, buffered (if the playbook parameter 'size' is set to 4096).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2019-03-03 15:09] jvalrog commented on #53223
The Python version on the Pi is: **2.7.13**

The python docker module (installed with pip) in the Pi is: **docker (3.7.0)**

On my PC, the python version is: **2.7.15rc1**

[2019-03-03 15:21] hickscorp commented on #42726
Same issue here with a Debian 9 target.

[2019-03-03 15:26] felixfontein commented on #53223
Thanks for checking this out! I think the problem with the default value is #53225 combined with Python 2.x on a 32bit CPU. Can you check whether your Raspberry Pi is indeed a 32bit version, or at least the OS running on it is 32bit?

[2019-03-03 16:14] hannseman commented on #53223
Yes that KeyError is weird indeed as you’re running a very recent docker version.

@jvalrog What version of the docker python library are you running? Can be checked with `pip freeze | grep docker`.

[2019-03-03 16:20] hannseman commented on #53223
Sorry I missed your previous comment about the docker python version.

[2019-03-03 16:25] felixfontein commented on #53223
It's really strange that it is missing. Maybe it is caused by docker for Raspberry Pi being some down-scaled version which removed some stuff? After all, it's 32bit and ARM, so maybe some stuff is simply disabled. I have no idea though, I'm just guessing :)

[2019-03-03 17:38] mwaqqas commented on #53188
+1

[2019-03-03 17:58] theSage21 opened #53231 "Gitlab deploy key module fails if key exists and no change"
##### SUMMARY
[gitlab deploy key](https://docs.ansible.com/ansible/latest/modules/gitlab_deploy_key_module.html#gitlab-deploy-key-module) module fails if the deploy key already exists and no updates are required by the job. It should pass since nothing has to be done since the key exists in the exact state as specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_deploy_key_module

[2019-03-03 19:00] ilyaevseev commented on #36156
The same bug in ansible 2.7.7

[2019-03-03 19:03] s-hamann commented on #38931
See also PR #34146 for an attempt at using `/usr/share/i18n/SUPPORTED` instead of `/etc/locale.gen`. It looks promising to me, but I did not try it.

[2019-03-03 19:15] jvalrog commented on #53223
Yes @felixfontein, it's 32 bit (armv7l).

[2019-03-03 20:05] jvalrog commented on #53223
I've tried starting a service and I get more errors.

[code]

And the full error:

[code]

I hope this helps.

[2019-03-03 20:05] muffl0n commented on #36156
@samdoran, could you please reopen this bug? Or should we open a new one?

[2019-03-03 20:13] sumkincpp commented on #43092
`Ansible 2.7.8`
Also hit this error after migrating to `network_cli` plugin.
This really looks like a serious limitation and needs to be prioritized.

[2019-03-03 20:38] salman1485 commented on #36829
This works very well but when if I want to list AMIs older than X days?

I tried below but it does not work:
filter_date: "{{ lookup('pipe','date \"+%F\" -d \"7 days ago\"') }}"
filtered_ami: "{{ ami_ids | json_query(\"images[?creation_date<=`\" + filter_date + \"`]\") }}"

where ami_ids has all AMIs of a tag.

I think the reason is that creation_date format (given below) is different to yyyy-mm-d

[2019-03-03 21:01] felixfontein commented on #53223
You can "fix" this (temporarily) by adding `publish: []` to the module options.

[2019-03-03 21:32] jvalrog commented on #53223
I still get errors:

[code]

Output:

[code]

[2019-03-03 21:56] hannseman commented on #53223
The problem here is that you define `env` as list of dictionaries. In 2.7 it can only be a list of strings, this is resolved in 2.8 but until then you'll have to define `env` as this:
[code]

[2019-03-03 22:11] mrmeszaros opened #53235 "Whitespace control for the ini_file module"
##### SUMMARY

The `ini_file` module could be configured how to handle whitespaces.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`ini_file`

##### ADDITIONAL INFORMATION
Currently the ini_file always puts a whitespace around the `=`, like this:
[code]
However some ini like files might follow other style. For example when systemd unit files (although strictly speaking not ini file) use a

[2019-03-03 22:52] nickrusso42518 opened #53236 "The `netconf_rpc` module cannot properly save Cisco IOS-XE configs"
##### SUMMARY
Using `netconf_rpc` to save Cisco IOS-XE configuration (running to startup) technically works, but the task *always* fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`netconf_rpc` module

##### ANSIBLE VERSION
Tested on 2.7.7 and newest `devel`.
[code]

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target router:
[code]
Control machine:
[code]

##### STEPS TO

[2019-03-04 00:27] theSage21 commented on #53231
Does not seem to affect devel branch. I need an extra job to install python-gitlab on the machine though.

[2019-03-04 00:27] #53231 closed, assigned to nobody

[2019-03-04 04:35] Givo29 commented on #52304
@jborean93 Here is the output for `pip list`:
[code]
and `/usr/bin/python -c "import requests; print(requests.__version__)"`:
[code]
I have also tested this with the same version of ansible (`2.7.7`) on an ubuntu machine and was still hitting the same error as on this one.

[2019-03-04 04:54] cptcrush2 opened #53259 "Sript plugin error when parsing inventory file script after upgrading Ansible from version 2.3.2.0 to version 2.7.8"
##### SUMMARY

Ansible is not able to parse dynamic inventory file
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

script plugin

ansible-inventory CLI

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04 LTS
Release:        16.04
Codename:       xenial

##### STEPS TO REPRODUCE

[2019-03-04 05:16] jborean93 commented on #52304
Ok your requests version are new so that isn't the issue. Were you able to try the latest `pypsrp` version (0.3.1)?

[2019-03-04 05:28] Givo29 commented on #52304
I installed the new version of pypsrp and ran `ansible windows -i hosts -m win_ping -vvvvvv`. This is the full output:
[code]

[2019-03-04 05:54] felixfontein commented on #53223
I've created a PR for the `publish` problem: #53262

[2019-03-04 06:05] Andersson007 commented on #15794
@Habbie , yes, I know, it was confused a bit ;) So I decided to add these options by new PR soon. I inform you about it. Thank you!

[2019-03-04 06:13] Fred-sun commented on #47696
kindly ping

[2019-03-04 06:18] jborean93 commented on #52304
A brief search for that error indicates there's some sort of incompatibility between the distro install of requests and urllib3 as stated

* https://github.com/kennethreitz/requests/issues/3560
* https://stackoverflow.com/questions/37495375/python-pip-install-throws-typeerror-unsupported-operand-types-for-retry
* https://stackoverflow.com/questions/42610545/typeerror-unsupported-operand-types-for-

[2019-03-04 06:33] hannseman commented on #53223
Regarding the `publish` problem you see that error because you defined it as a list of strings. It expects a list of dictionaries.

[code]

[2019-03-04 06:42] mnecas commented on #53181
@barloff you have made mistake in your task.
You should use syntax of clusters like this

    clusters:
      - name: Default
        assigned: true
        required: false
        display: false
        migration: true
        gluster: true

[2019-03-04 07:15] mnecas commented on #49164
@UXabre Hi how large is your
  async: "{{ ovirt_hosts_max_timeout }}"
I think it fails because you don't gave enough of time to setup.

[2019-03-04 08:22] jamesdmorgan commented on #52063
As mentioned by wimmat, I think I had just misunderstood the functionality. Just using `--tags` should do what I was wanting. My use case was a playbook to selectively call certain bits of a role - reconfigure an application. I wanted one of the tasks to run but didn't really to have to add tags to the calling playbook and have them passed in. `tasks_from` almost did what I was wanting - just need

[2019-03-04 08:28] NilashishC commented on #48093
cc @Qalthos. Look like related to #43092.

[2019-03-04 08:51] raidokaldma opened #53263 "docker_swarm_service module should allow adding and removing custom host-to-IP mappings"
##### SUMMARY
Docker Swarm supports adding creating, adding and removing custom host-to-IP mappings, but **docker_swarm_service** does not.

Docker examples:
[code]
See `--host` in https://docs.docker.com/engine/reference/commandline/service_create/

[code]
See `--host-rm` and `--host-add` in https://docs.docker.com/engine/reference/commandline/service_update/

I would like to be able to use **doc

[2019-03-04 08:58] jvalrog commented on #53223
That was my fault, I couldn't find any examples about the **publish** option.

Now it works, I just have to keep the **update_monitor** option in a reasonable value.

Thanks!

[2019-03-04 09:00] hannseman commented on #53223
@jvalrog good! Yes the documentation for `docker_swarm_service` in Ansible 2.7 is not really rock-solid but it'll be improved in Ansible 2.8.

[2019-03-04 09:12] UXabre commented on #49164
Hey @mnecas, thanks for reaching out!
I left the default value of 1500 (again, I'm using this role: https://github.com/oVirt/ovirt-ansible-infra), and I don't alter much.

Should I increase beyond 25 minutes (1500 seconds)? Although that feels strange, as this occurs after only 5 retry cycles?

Also, so far it has been a while that I had this issue; however, I'm planning on doing some more extensi

[2019-03-04 09:20] Akasurde commented on #53164
@L1ghtman2k Thanks for reporting this issue. Could you please check if PR https://github.com/ansible/ansible/pull/50465 solves the issue ? Thanks.

needs_info

[2019-03-04 09:28] dagwieers commented on #52304
The error *"TypeError: unsupported operand type(s) for -=: 'Retry' and 'int'"* does seem to be an issue in urllib3. We have seen it a few times now.

https://github.com/urllib3/urllib3/issues/567#issuecomment-78409849
https://github.com/kennethreitz/requests/pull/2485

[2019-03-04 09:35] Akasurde commented on #53043
@mgamboa This is very strange error. Could you please ping me (Akasurde) on irc channel `#ansible-vmware` hosted on `irc.freenode.net` ? Thanks

[2019-03-04 09:43] L1ghtman2k commented on #53164
Thanks! looks like the issue was resolved, when rerunning the new script everything worked as expected

[2019-03-04 09:44] L1ghtman2k commented on #53164
close

[2019-03-04 09:45] #53164 closed, assigned to Akasurde

[2019-03-04 09:50] onitake opened #53264 "CloudStack modules are missing functionality to create volume snapshots"
##### SUMMARY

There is currently no CloudStack module that can create volume snapshots.

The cs_volume module has a `snapshot` parameter, but apparently, it's only used to create a new volume from a snapshot.

I request a full-featured `cs_volumesnapshot` module that wraps the API calls:
- createSnapshot
- createSnapshotFromVMSnapshot
- deleteSnapshot
- listSnapshots
- revertSnapshot

A separate

[2019-03-04 09:52] mgamboa commented on #53043
@Akasurde  just to let you know i'm in australia mate so i don't know what time is better for you

[2019-03-04 09:53] NilashishC commented on #51436
@cr33phav I believe you are using Ansible 2.7.6 (as per the logs you shared). The `ansible_persistent log_messages` feature is added in the `devel` branch and should be rolled out with Ansible 2.8 release. Please use Ansible from the `devel` branch to get the utilise this.

[2019-03-04 09:57] NilashishC commented on #48093
@AMHAnsible9 Could you please try to enable the `ansible_persistent_log_messages` variable, run the playbook and share the logs? It logs the initial device interaction into a log file. You can refer to [this](https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging).

Please note that this feature is currently prese

[2019-03-04 10:14] onitake commented on #53264
-label c:inventory/contrib_script
-label inventory

[2019-03-04 10:22] hidekuro commented on #45214
LGTM.
For better security, the secrets should not be written out to the file system.

[2019-03-04 10:31] jadbaz commented on #45207
It is working for me
Thanks

[2019-03-04 10:58] rdelcampog commented on #49465
@gundalow I think the problem is a bad implementation of no_log introduced in 6e5055e:
[code]
If one of my no_log attribute value is "test", whenever the result of a module includes "test" like in "test123" the value is replaced as: "********123".

This part of the '_remove_values_conditions' function always replaces by ******** if the value is found. I think the value should be replaced by ******

[2019-03-04 11:13] queglay commented on #53154
Hello, I provided an example above how the issue still exists.  I'd like to request we reopen the ticket until its resolved if possible.

[2019-03-04 11:27] bmalynovytch commented on #45207
Great !
@jadbaz Would you mind adding a comment + review on #45355 ? It needs more reviews or +1 to be merged.

[2019-03-04 11:40] nickrusso42518 opened #53270 "The `cli_config` module cannot not save Cisco IOS config"
##### SUMMARY
When running this module, only the running-config is updated, and there is no option (either in the documentations or obviously apparent in the source code) to save the configuration. I tried `commit: true` but that didn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`cli_config`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Router:
[

[2019-03-04 11:49] nickrusso42518 opened #53271 "The `cli_config` module does not return `commands` key"
##### SUMMARY
The documentation suggests that a list of `commands` should be returned when `cli_config` makes changes, which is consistent with many other `*_config` modules. However, this field doesn't get returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`cli_config`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Router:
[code]
Control machine:
[

[2019-03-04 11:58] barloff commented on #53181
@mnecas thank you.  I always misremember the syntax for for dict variables.  I'll give it a try again

[2019-03-04 12:04] wedi commented on #52663
Cool! Thanks a lot! 🙃
Thumbs up for returning it when it's already there.

[2019-03-04 12:04] #52663 closed, assigned to nobody

[2019-03-04 12:08] nickrusso42518 commented on #53271
I just tested this one IOS-XR as well to rule out any IOS-XE specific issues. I get the example same result. `Cisco IOS XR Software, Version 6.3.1`

[2019-03-04 12:57] mkrizek commented on #17665
@damaca It is. Please see https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-04 12:57] #17665 closed, assigned to nobody

[2019-03-04 13:13] felixfontein commented on #53193
#53129 has been merged, so work on this can begin.

@hannseman are you interested in working on this?

[2019-03-04 13:27] #50089 closed, assigned to Qalthos

[2019-03-04 13:34] acozine opened #53274 "Move AWS module dev docs to docsite"
##### SUMMARY
Move the AWS module development content from its [current markdown file](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/GUIDELINES.md) into an rST file so it will be indexed and become more findable.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/GUIDELINES.md
docs.ansible.com

##### ANSIBLE VERSION
2.8

[2019-03-04 13:42] mnecas commented on #49164
hmm strange i thought that it just timed out, because you don't have enough strong HW but if it failed in 5th cycle its strange
Thank you for info

[2019-03-04 14:10] mnecas commented on #53181
close for syntax error

[2019-03-04 14:13] machacekondra commented on #53181
close_me

[2019-03-04 14:14] #53181 closed, assigned to nobody

[2019-03-04 14:47] mjrider commented on #43085
i'm guessing that the following commit is needed to get the bindings working
https://github.com/ansible/ansible/commit/12c37802e84bfa6602ed0dc39bb63f2a203aaac7#diff-76ebfd9e39e3718ea72ad58b035c109b/patch

[2019-03-04 14:47] mjrider commented on #42417
i'm guessing that the following commit is needed to get the bindings working
https://github.com/ansible/ansible/commit/12c37802e84bfa6602ed0dc39bb63f2a203aaac7#diff-76ebfd9e39e3718ea72ad58b035c109b/patch

[2019-03-04 15:10] sivel commented on #52868
I'll note that the key to using escape sequences within YAML, is for you to use `'` to quote the line, and `"` inside for the args.

So instead of:

[code]

You would want to use:

[code]

[2019-03-04 15:12] Akasurde commented on #46484
@AravindBalajiS Could you please open a new issue instead of reporting here ? This will allow to track progress of bug easily. Thanks.

[2019-03-04 15:15] Akasurde commented on #51378
@Ashishkasaudhan Any news on this ? Thanks.

[2019-03-04 15:17] sivel commented on #53259
The actual error that is causing the script plugin to not work is:

[code]

This indicates that your dynamic inventory script is returning an empty string (`''`) as one of the group names, which is invalid.

You will need to run your inventory script manually, to see where this is being used, but it will require a change to your inventory script to not create this key.

If you have further questio

[2019-03-04 15:17] #53259 closed, assigned to nobody

[2019-03-04 15:18] sivel commented on #53186
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-04 15:18] #53186 closed, assigned to nobody

[2019-03-04 15:18] sivel commented on #53264
!component =lib/ansible/modules/cloud/cloudstack

[2019-03-04 15:22] onitake commented on #53264
Sorry, this is the first time I'm using the ansibot...
Commands are a bit confusing.

[2019-03-04 15:31] atc0005 commented on #43347
Thanks so much for posting this. I noticed that Ansible was logging the call in syslog with the arguments provided (which included the cert and key), but I wasn't sure if that was a red herring. Landing here via a Google search helped confirm that the missing key and cert was the issue.

It's probably just because I'm new to LXD in general, but I wasn't expecting that a key/cert was still required

[2019-03-04 15:44] hannseman commented on #53193
@felixfontein I had a quick look at this and it appears like `types.ServiceMode` was added in `2.0.2` as a bugfix. https://github.com/docker/docker-py/blob/master/docs/change-log.md#202

I've been looking around the docker-py code to see how one would specify the number of replicas without this argument but I can't really figure it out. Maybe it makes sense to set the minimum version as `2.0.2`?

[2019-03-04 16:07] samdoran commented on #36156
It seems that in fixing this bug I changed behavior which was then fixed by https://github.com/ansible/ansible/pull/49409, which was backported and released in v2.6.12 and v2.7.6.

@muffl0n Please test with newer versions of Ansible and open a new issue with a simple reproducer if it is still present.

@ilyaevseev I am unable to duplicate this issue in Ansible 2.7.7 with the following playbook:
[c

[2019-03-04 16:11] Shaps commented on #53231
Hi @theSage21,
Yes, we went through a big refactor of all the gitlab modules to fix all those kind of issues.
As part of this we also updated the modules to use the new `python-gitlab` library ( You can see the changes in the [devel docs page](https://docs.ansible.com/ansible/devel/modules/gitlab_deploy_key_module.html) ), you'll also notice the modules now depend on Python 2.7+ as the python-gitl

[2019-03-04 16:18] ajsiersema opened #53277 "IOS devices: information missing from show commands when using e.g. parse_cli()"
##### SUMMARY
The 'show vlan' output for VLAN's with lots of active ports will be spread over multiple lines with terminal length 512. This makes parse_cli() miss ports as there is no way to match lines starting with whitespace instead of the VLAN ID.
This issue is circumvented by sending 'terminal width 0' to an IOS device. If the device in question doesn't support width 0, we can first send 512

[2019-03-04 16:48] #53119 closed, assigned to Akasurde

[2019-03-04 16:49] lhoss commented on #14248
In line with @abedwardsw (comment before):
The >2y old proposal from @cornfeedhobo (15 :+1: !) (or a bit more recent from @doubletwist13 ) would *really* be useful for many roles I know, in particular the complex enough:
https://github.com/hortonworks/ansible-hortonworks

Direct refs to their comments:
* https://github.com/ansible/ansible/issues/14248#issuecomment-254059046
* https://github.com/an

[2019-03-04 17:10] maxamillion commented on #53134
+1 @mkrizek I'm also unable to reproduce locally, I was curious if it was possibly the code path in `what_provides` in the `yum` module that calls out to `repoquery` instead of yum directly, but I don't seem to be hitting that branch of the conditional in my tests.

[2019-03-04 17:10] Akasurde commented on #45280
@unkaputtbar112 Could you please check if this works for you ? Thanks.

[2019-03-04 17:10] Akasurde commented on #45280
needs_info

[2019-03-04 17:19] IPvSean commented on #53270
@nickrusso42518 for this particular module it was intentionally left out so that it could support any vendor, and the commands might be different for many different vendors.  This does not currently replace the _config modules (e.g. ios_config, nxos_config, etc) but provided a mechanism to agnostic multivendor, multiplatform module talk to network equipment.  This would simplify Ansible roles subs

[2019-03-04 17:20] atc0005 commented on #34924
Just in case others land here from Google or elsewhere on a CentOS 7 system: See this thread for CentOS specific changes that are needed to enable the required namespace settings:

https://discuss.linuxcontainers.org/t/lxd-on-centos-7/1250

[2019-03-04 17:25] atc0005 commented on #43347
On a different note, this is what I did on a CentOS 7 system in order to get the desired key/client files to be generated and *retained* so that I ended up both with the files and a current stable version of LXD:

For CentOS, further kernel/namespace related changes were still needed as detailed on this thread:

https://discuss.linuxcontainers.org/t/lxd-on-centos-7/1250

[2019-03-04 17:36] nickrusso42518 commented on #53270
I see. But it does work for Cisco IOS XR though. That seems rather inconsistent. Do you think it would make sense to build in the simple logic of `if ansible_network_os == 'ios' then save='copy run start'`?

[2019-03-04 17:43] ganeshrn commented on #53236
@nickrusso42518 Based on the error message the reason for failure is not quite evident.

On devel branch  please enable `ansible_persistent_log_messages` config variable and rerun the playbook. This will log the device interaction in the file pointed by `log_path`. For more details (refer)[https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-network

[2019-03-04 17:54] pillarsdotnet commented on #43256
Closing since all PR's directly related to this issue have been merged.

[2019-03-04 17:54] #43256 closed, assigned to nobody

[2019-03-04 18:08] #24004 closed, assigned to nobody

[2019-03-04 18:12] cptcrush2 commented on #53259
My dynamic script has not changed and it works fine with Ansible v2.3.2.0. Is there a possibility to identify what changed in later version? I presume change happen in v 2.4.

[2019-03-04 18:15] felixfontein commented on #53193
We could of course also kind of work around this by disallowing to specify replicas with too old docker-py versions, but this would require quite some extra code, and considering that the module never worked with docker-py < 2.0.2, I guess we can easily bump the requirement. We might have to bump it some more, depending on what we find next, though :)

[2019-03-04 18:16] felixfontein commented on #53223
I'll start working on that `int`/`long` bug later today, maybe we can get a fix for that as well into the next 2.7.x release (should be released by end of next week), let's see...

[2019-03-04 18:25] bcoca commented on #53259
@cptcrush2 a bug in 2.3 allowed you to pass invalid/bad group names, that was fixed and now it shows that your script was producing incorrect output (which was previously passed silently)

[2019-03-04 18:55] #48109 closed, assigned to nobody

[2019-03-04 19:00] s-hertel commented on #48109
Thanks for double-checking me @mbassett. This has been backported to 2.7 in bded9a1d65741782c2c8bf20dcaf63a4f731d07a.

[2019-03-04 19:09] #17852 closed, assigned to mkrizek

[2019-03-04 19:32] cptcrush2 commented on #53259
Thank you. That helped.

[2019-03-04 19:51] felixfontein commented on #53223
BTW, you can also pass `5000000000` as a string to `update_monitor`, that should work:
[code]
Then your service doesn't get hammered to death by monitoring :)

[2019-03-04 20:01] nickrusso42518 commented on #53236
I am unable to collect logs using the `q` method despite making the changes you suggested. I made the appropriate changes in the `dispatch` function.

[code]

However, the Ansible logging method yielded the following.

[code]

Here is some more relevant information surrounding the request causing the failure.

[code]

[2019-03-04 20:24] cjyar commented on #52598
Is there any workaround for this problem? Maybe ansible didn't directly cause the warnings, but isn't ansible responsible for choosing a version of paramiko that causes this trouble?

[2019-03-04 20:37] hadfiiw commented on #51826
Hi @Tomorrow9, my pleasure.  I was able to finally test this on a standalone ESXi server.  This server is not associated to any vCenter.

As this is direct to ESXi, some of the parameters should not be used.  The play in my role:
`- name: CREATING SERVER
  connection: local
  vmware_deploy_ovf:
   hostname: "{{ deploy_esxi_server }}"
   username: "{{ esxi_server_username }}"
   password: "{{ esxi_

[2019-03-04 20:44] felixfontein commented on #48842
https://linuxconfig.org/how-to-install-docker-in-rhel-8
https://linuxforgeek.com/how-to-install-docker-on-rhel-8-beta/

[2019-03-04 21:02] AaronPJaeger opened #53294 "openssl_csr Need Challenge Password Parameter"
##### SUMMARY

The openssl_csr module would benefit from a Challenge Password Parameter for those times when you need to generate CSRs compatible with SCEP services.

The Linux mkrequest command can create such CSRs. Also, the openssl command can be used with a configuration file defining the challengePassword attribute.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cr

[2019-03-04 21:26] bcoca commented on #51881
you already can 'kindof' do this via existing `when:`, using the registered var and previous item state

[2019-03-04 21:36] mgamboa commented on #53043
@Akasurde testing the connection python  same result
[root@qacvtitm052 ansible]# python server_connect.py
Traceback (most recent call last):
  File "server_connect.py", line 40, in <module>
    content = connect(hostname, username, password)
  File "server_connect.py", line 12, in connect
    si = SmartConnect(host=hostname, user=username, pwd=password, port=443, sslContext=context)
  File "/usr/l

[2019-03-04 21:36] timotab opened #53297 "ec2_group doesn't work with IPv6 cidr addresses"
##### SUMMARY

change of behaviour in ec2_group: after upgrade from ansible 2.4 to 2.7, ec2_group reports that host bits are set for cidr_ipv6 addresses, and truncates the address.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

security gro

[2019-03-04 22:08] felixfontein commented on #53297
The truncation is caused by a function `validate_ip` introduced in #38678. (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_group.py#L721-L734)

[2019-03-04 22:41] wawrzek opened #53299 "azure_rm_networkinterface ignores "primary" parameter"
##### SUMMARY
During the creation of a VM with two NICs, Ansible ignores the value of the "primary" parameter. I think that it makes the first item of the NICs list a primary interface.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Azure (standard cloud)

##### STEPS TO REPRODUCE

C

[2019-03-04 23:09] #38733 closed, assigned to nobody

[2019-03-05 00:15] wawrzek commented on #53299
I might I'm wrong with this ticket. I think the problem is that it's not obvious how to control the order of NICs in VM.

[2019-03-05 01:32] mmellin commented on #23517
Doesn't the following assume that the GW is the first IP?

`some_address_prefix | ipaddr('address/prefix') | ipaddr('1') | ipaddr('address')`

Technically speaking, a gateway can be any host within the host range, although is typically either the first or last.  How does one obtain a list of usable host IP addresses with the current code and guarantee that each are not the GW IP given an arbitrary

[2019-03-05 01:56] ericsysmin opened #53304 "allow kubernetes node-version as a parameter for gcp_container_node_pool"
##### SUMMARY
When using gcloud I am able to specify which Kubernetes version I'd like the nodepool to have, Unfortunately this isn't possible with the Ansible module at this time.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_container_node_pool

##### ADDITIONAL INFORMATION
[code]

[2019-03-05 03:11] abenokraitis commented on #51204
I have relayed to Infoblox this is of high priority for a mutual customer for triage/review.

[2019-03-05 03:41] jborean93 commented on #41791
I finally got round to actually working on this and have opened a PR https://github.com/ansible/ansible/pull/53305 that fixes this issue. The tests have been updated to include `/` as a test path but I've also manually tested it using example in the issue.

[2019-03-05 04:08] rawat-he opened #53308 "Ansible Role (with network command module) issue"
##### SUMMARY
I am trying to implement a custom network command module as an Ansible role using network_cli connection plugin. This module will run commands on remote devices.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Created the role by using below command
[cod

[2019-03-05 04:18] #50133 closed, assigned to nobody

[2019-03-05 04:18] #38526 closed, assigned to nobody

[2019-03-05 04:36] mgamboa commented on #53043
@Akasurde
just to make sure if i can see something in port 443 but curl is ok means we can reach the server without issues. is just the inventory i don't know what is a trigger that thing

[root@qacvtitm052 ansible]# curl https://192.168.152.25 -k
<html>
<head>
<meta http-equiv="refresh" content="0;URL=http://myserver.local/websso/">
</head>
<body> </body>
</html>
[root@qacvtitm052 ansible]#

[2019-03-05 04:54] ghost opened #53310 "fortios_config restore. Error "Unable to commit, check your args, the error was [(u'-14', u'set password""
##### SUMMARY
I'm running a restore playbook as shown below, but I'm getting the error as show below as well. I'm not sure if I'm missing some settings.
Also, I've another playbook to backup all fortigate's settings and if I restore these settings via console, it works, but not via restore option using fortios_config module.

##### ISSUE TYPE
- Bug Report
- Error

##### COMPONENT NAME
fortios_conf

[2019-03-05 05:31] Tomorrow9 commented on #35657
@machard84, as far as I know, vSphere guest customization feature not support configure network interface into the promisc mode, thanks.

[2019-03-05 05:32] Akasurde commented on #53043
@mgamboa Are you around on IRC ?

[2019-03-05 05:42] #48547 closed, assigned to Akasurde

[2019-03-05 05:58] Akasurde commented on #48547
Backport 2.7 - #53311

[2019-03-05 06:38] justjais commented on #52589
Duplicate of bug #29716, so closing this bug.

[2019-03-05 06:40] Akasurde commented on #53043
@mgamboa Could you please provide following information -

1. vCenter version
2. Pyvmomi version
3. Are you using any http_proxy/https_proxy variable ?
4. Could you please try this update script https://github.com/Akasurde/ansible-reproducers/blob/master/53043/server_connect.py to connect to ESXi ?

[2019-03-05 06:41] Akasurde commented on #53043
needs_info

[2019-03-05 06:50] justjais commented on #52589
Not an exact duplicate, reopening the issue.

[2019-03-05 07:12] #53191 closed, assigned to nobody

[2019-03-05 07:31] fransflippo commented on #41984
It could be me, but I'm not clear on what the correct way of writing the reporter's now would be? I have a similar issue and the documentation is not helping me solve it.

I'm happy to ask on IRC, but it would probably be useful for many people for this to be documented permanently somewhere.

@sivel can you show what OP's `foo.yml` should look like on >2.7 ? Thanks.

[2019-03-05 07:35] mgamboa commented on #53043
@Akasurde
1.VCenter Version 6.0 build 3634793
2.
drwxr-xr-x.  2 root root   113 Mar  5 11:33 pyVim
drwxr-xr-x.  2 root root  4096 Mar  5 11:33 pyVmomi
drwxr-xr-x.  2 root root   153 Mar  5 11:33 pyvmomi-6.7.1.2018.12-py2.7.egg-info

3.No Proxy variable

XDG_SESSION_ID=8
HOSTNAME=example.local
SELINUX_ROLE_REQUESTED=
TERM=xterm
SHELL=/bin/bash
HISTSIZE=1000
SSH_CLIENT=192.168.27.53 63096 22
GRADLE_

[2019-03-05 07:39] Fred-sun commented on #53299
@wawrzek Thanks for your reporting, I meet same issue with your, It seem a feature bug! Thanks!

[2019-03-05 07:40] Fred-sun commented on #53299
@yuwzho Could you help take a look this issue when you're available? Thanks!

[2019-03-05 08:04] yuwzho commented on #53299
@wawrzek You are right, Ansible always set the first one in nic list to primary and ignores this parameter.

Before the fix applied, you can put the primary one to the first as a workaround.

https://github.com/ansible/ansible/blob/8ef75a1901ecd2377f8abc9f92ba75b977cfc375/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py#L926-L927

https://github.com/ansible/ansible/blob/8ef75a1901ecd2377

[2019-03-05 08:18] Fred-sun commented on #51062
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-05 08:52] ykslol commented on #36585
- name: centos | Chrony install
  package: name=chrony state=present

- name: centos | Enable Chrony
  systemd: name=chronyd state=started enabled=yes

For installing i used "chrony" and for restarting i used "chronyd"
Helped for me/

[2019-03-05 08:54] Fred-sun commented on #51324
@yuwzho

[2019-03-05 09:40] fransflippo commented on #41984
OK apparently this should be correct:
[code]

[2019-03-05 09:41] fransflippo commented on #41984
Porting guide: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html

[2019-03-05 09:42] Fred-sun commented on #51321
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-05 09:43] Fred-sun commented on #51387
@zikalino

[2019-03-05 09:57] wawrzek commented on #53299
@Fred-sun by the same problem - do you mean "I cannot control the order of on NIC cards connected to VM"?

@yuwzho The current behavior of rm_networkinterface might be according to docs "Whether the IP configuration is the primary one in the list." The description is a bit misleading/unclear, because I read it as "This NIC is going to be primary." However, it can only mean that in case of multiply

[2019-03-05 10:03] muffl0n commented on #36156
You are right! Works for me with 2.7.6 and 2.7.8.

Thanks for the quick reply!

[2019-03-05 10:05] fholzer commented on #23517
Correct. The example also shows that. Nevertheless I though it's worth posting this because it's the most common setup anyway, and likely to help folks looking for this.

[2019-03-05 10:08] aneagoe commented on #10282
It looks like this functionality was added at some point however in version 2.7.8 this still doesn't work. running ansible-playbook with an dynamic inventory and -e (EXTRA_VARS) basically ignores the passed EXTRA_VARS.

[2019-03-05 10:18] Akasurde commented on #53043
@mgamboa I am still trying to reproduce this issue. As a workaround you can downgrade your Pyvmomi to 6.5 or something similar and let me know if it works for you ? Thanks.

needs_info

[2019-03-05 10:42] LKaemmerling commented on #52813
`hcloud_server` was merged 🎉 and will be released with 2.8.

We have more modules in the pipeline and hopefully we can contribute them to Ansible 2.8 too.

[2019-03-05 10:44] jborean93 commented on #39587
Now that https://github.com/ansible/ansible/pull/51986 has been implemented the 2 key differences is the `backup` option and that `force: no` is the default on `get_url`. The former should be easy to implement but the latter will be a lot tricker.

[2019-03-05 10:44] fd0 commented on #25481
I also ran into this several times already, thanks for the workaround!

I'm running `ansible 2.7.5`.

[2019-03-05 10:46] decentral1se commented on #52813
Solid work! I'll close this off :rocket: :rocket: :rocket:

[2019-03-05 10:46] #52813 closed, assigned to nobody

[2019-03-05 11:02] dkarapanos commented on #46980
The point is that ansible installs python it as a pre-task.

[2019-03-05 11:15] aquaplanet opened #53319 "jenkins_script: Template file"
##### SUMMARY

Add parameter src to jenkins_script.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module: jenkins_script

##### ADDITIONAL INFORMATION

Add "src" parameter to the module which should be mutually exclusive to "script". If src is specified it looks for a file under templates directories (if args is specified) or files directories (otherwise). The rest is the same as if scri

[2019-03-05 11:24] dagwieers commented on #39587
Also `http_agent` is missing, should be easy to implement ?

[2019-03-05 11:43] jborean93 commented on #39587
Hmm that seems to be something that can be set in the `headers` dict, not sure we need a specific option for that.

[2019-03-05 11:55] dagwieers commented on #39587
Right, but the behavior of `get_url` is that it defaults to `ansible-httpget` and that's easier to do through a separate parameter than stuffing it in the headers dictionary.

[2019-03-05 13:01] achrjulien commented on #44236
After hours of headache I could pinpoint that this also happens if the DNS settings on the target are wrong and the server cannot resolve the domain name of the default Windows updates' servers. In that case `sconfig` would also give you an empty result when looking for updates. Lovely Microsoft error handling

[2019-03-05 13:10] kalero opened #53322 "Connection error on ios_command?"
##### SUMMARY
Using ios_command against Cisco switch returns connection error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Linux sshbox 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux
- Cisco 29xxStack

##### STEPS TO REPRODUCE

Trying to run a playbook to save a configur

[2019-03-05 13:56] Akasurde commented on #53122
@markbgrdt Thanks for reporting this issue. Does this connection plugin used to work before? Let me know. Thanks.

needs_info

[2019-03-05 14:39] #53225 closed, assigned to nobody

[2019-03-05 14:45] markbgrdt commented on #53122
I am not sure. I am using Saltstack in combination with Ansible for 10 days now and the file transfer never worked properly in the last 10 days.

[2019-03-05 14:48] bcoca commented on #10282
@aneagoe, extra vars are available, the inventory plugin MUST specifically access them though

[2019-03-05 14:56] cvernooy23 commented on #18889
+1

[2019-03-05 15:04] rockandska commented on #17078
Just hit exactly the same behaviour
Another reproducible case [here](https://gist.github.com/rockandska/a5a9bf4d5b07481cb66af2058bf4ae86)

Test with ansible 2.6.14 / 2.7.8

[2019-03-05 15:05] Akasurde commented on #53122
OK. Thanks for the update. Even I never tried this connection plugin before. Let me reproduce this and get back to you. Thanks.

[2019-03-05 15:08] andyeff opened #53330 "azure_rm_subnet disables service endpoints if a network security group is applied to a subnet"
##### SUMMARY

If a subnet in Azure has been configured with service endpoints (e.g. Microsoft.SQL to allow private network communication with an Azure PostgreSQL instance), then if the azure_rm_subnet module is run against the subnet and a security group is added as part of the task, the service endpoints are disabled.

This can potentially cause immediate loss of service to any virtual machines

[2019-03-05 15:14] bcoca commented on #25481
please check if the PR linked above fixes the issue for you

[2019-03-05 15:15] andyeff commented on #53330
Forgot to check if devel branch had any improvements - it does, devel module includes service endpoint handling. Closing this issue, sorry!

[2019-03-05 15:15] #53330 closed, assigned to nobody

[2019-03-05 15:18] mmellin commented on #23517
While I always appreciate examples, I'm simply pointing out that this just shows how to get the first address of a range, not the gateway.  My point is there is currently no way to get or set the "gateway".  That functionality is missing.  IMHO, a user should be able to set their gateway and the array of hosts IPs should not contain this IP (or it should be flagged).

[2019-03-05 15:23] MarianoRubio commented on #52935
@samdoran Thanks for your response ansible_ssh_pass is only one example, what I want is to be able to whitelist any variable so that https://github.com/ansible/ansible/blame/9773a1f2896a914d237cb9926e3b5cdc0f004d1a/lib/ansible/vars/clean.py does not get rid of it.

currently i'm just removing

del data[r_key] in line 147... but means patching every version of Ansible....

[2019-03-05 15:24] itdependsnetworks commented on #23517
Most of what you are looking for should be covered in https://github.com/ansible/ansible/pull/26566

[2019-03-05 15:25] bcoca commented on #41146
no, it is not useful since jinja2 does not deal with binary data, you can base64encode files (slurp module does this) for use in templating. In general Ansible cannot internalize binary data, you can use modules like `copy` that can deal with it w/o reading it in.

[2019-03-05 15:26] Akasurde commented on #53122
@markbgrdt Could you please check this https://github.com/ansible/ansible/compare/devel...Akasurde:i53122 and let me know if it works for you ? Thanks.

[2019-03-05 15:33] niklaas opened #53333 "opkg not detected as ansible_pkg_mgr on Synology NAS using Entware"
##### SUMMARY
ansible_pkg_mgr = "unknown" when [Entware](https://github.com/Entware/Entware/wiki/Install-on-Synology-NAS) is used on a Synology NAS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup / package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Synology DSM 6.2.1-23824 Update 6
opkg version 0.1.8

##### STEPS TO REPRODUCE

1. Install Entwar

[2019-03-05 15:39] monprin commented on #39684
My use case is affected by this. I have a master role that includes reused roles for some of the functionality from ansible galaxy that require configuration and would like to transparently run them while passing through variables.

I ended up using the `vars/main.yml` file for all of my variables so they will override properly, but this isn't entirely ideal because of where that file falls on the

[2019-03-05 15:40] MarianoRubio opened #53335 "Cant white list any variables from clean.py"
##### SUMMARY
I want is to be able to whitelist any variable so that https://github.com/ansible/ansible/blame/9773a1f2896a914d237cb9926e3b5cdc0f004d1a/lib/ansible/vars/clean.py does not get rid of it.

currently i'm just removing

del data[r_key] in line 147... but means patching every version of Ansible....

related to #52935 wrongly closed...
##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

####

[2019-03-05 15:42] bcoca commented on #53335
The reason we remove those variables is to avoid security issues by disclosing data to callback plugins (which are used for logging/exporting data to other systems), this is by design.

I would ask what exactly do you want to accomplish? Not the implementation details, but the complete picture of what you are trying to achieve.

[2019-03-05 16:07] #53141 closed, assigned to nobody

[2019-03-05 16:24] mmellin commented on #23517
While not ideal, it looks like I found my answer, so I'll post it here in case it may help others. (used with ansible 2.7)

### Goal
To create a list of IPs which do not overlap with an arbitrary gateway.

### Starting variables
I have two vars: `cidr_block: 192.168.0.0/24` and `gw: 192.168.1.2`

### Working Code

(not as pretty as Paltrow and works well for a small use case)
[code]

### Result

[

[2019-03-05 16:55] onitake commented on #53264
@sivel Can you remove the `c:inventory/contrib_script` and `inventory` tags as well?
The requested feature has nothing to do with inventory modules.

[2019-03-05 16:57] MarianoRubio commented on #53335
What i'm trying to do is enhance some of the variables fetched from our dynamic inventories.

I do this to make transparent for the user the personalisation of a common inventory.

I could probably fall to lookup modules to compensate, but this lack a proper cache mechanism and would be reevaluated on every task...

suggestions are welcome..

[2019-03-05 17:02] spring10 opened #53344 "launch "tower-job" by using ansible inventory"
##### SUMMARY

I could not find any explanation how do I launch tower job (3.0.3) but using the inventory in the project ? (instead of tower inventory) therefor to allow me to use "group var" on playbook

##### ANSIBLE VERSION
tower 3.0.3
[code]

[2019-03-05 17:05] bcoca commented on #53335
callbacks are not the correct spot to do this, see 'constructed' inventory plugin instead https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

[2019-03-05 17:09] AlanCoding commented on #51883
To update status - this is not in progress anywhere I know of.

There's also no urgency for this, I actually don't intend to use it. Perhaps it could just be documented.

[2019-03-05 17:16] AlanCoding commented on #52244
Two workable solutions currently exist as open PRs:

 - https://github.com/ansible/ansible/pull/52948
 - https://github.com/ansible/ansible/pull/53183

So status is that this needs review / decision, etc. I'm happy with either.

[2019-03-05 17:21] schms opened #53346 "Check Mode ("Dry Run") : Task option "diff: yes" is not documented"
##### SUMMARY
Check Mode ("Dry Run")
Section "Showing Differences with --diff" . Tasks option "diff: yes" is not documented.
(..)
New in version 2.4

The --diff option can reveal sensitive information. This option can be disabled for tasks by
specifying diff: no .
To force a task to run in diff mode, even when the playbook is called **without** --diff. This is
called diff: yes .
(..)

##### ISSUE

[2019-03-05 17:23] tuffd commented on #28567
Hi, for already made change with git_config, how could we just make the roolback in a running tower instance.

  connection: local
  tasks:
    - name: Configure Git proxy
      git_config:
        name: http.proxy
        scope: global
        value: "****"

[2019-03-05 17:23] MarianoRubio commented on #53335
Yeah contructed plugging will hardcode the lookup for example to pick the value lets say (ansible_user) but the lookup will still execute every time I try to pick the variable right?

Also just spotted a nice feature, the value of any magic variable is exposed in the warning message !!

  display.warning("Removed unexpected internal key in module return: %s = %s" % (key, data[key]))
            de

[2019-03-05 17:30] bcoca commented on #51883
well .. composed variables are created via the groups ... so this might create chicken/egg problems depending on the workflow wished by the user

[2019-03-05 17:32] arshantz commented on #46485
I can confirm this has been fixed in 2.7.1

[2019-03-05 17:32] gundalow commented on #52717
We don't use GitHub Milestones, we use Project Boards.
This isn't a priority for 2.8 as it's been broken for years
Added to possibility for 2.9

[2019-03-05 17:34] AlanCoding commented on #51883
that's fine, you can close.

[2019-03-05 17:34] #51883 closed, assigned to nobody

[2019-03-05 17:37] Andryv opened #53348 "infini_host module doesn't support volume mapping to host cluster"
##### SUMMARY
It seems that infini_host module currently doesn't support volume mapping to host clusters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
infini_host

##### ADDITIONAL INFORMATION
Based on InfiniSDK docs:
Current steps how to map a volume to a host cluster are explained in InfiniSDK docs (https://infinisdk.readthedocs.io/en/latest/mappings.html#clusters-and-hosts).
I'm modif

[2019-03-05 18:12] doanerock opened #53349 "copy module feature request only copy if checksum has changed"
##### SUMMARY
I am submitting a feature request for the copy module.  A option that only copies the file over when the checksum to the destination file has changed.  This has multiple benefits.  The first one is that files will not be copied unnecessary.  Also when you have a "when:" statement looking to see if the file was copied, you can only restart the server when a new configuration file  is

[2019-03-05 18:26] wknapik commented on #41146
@bcoca this limitation could be hidden from the end user entirely. I don't get why this hasn't been done.

[2019-03-05 18:42] BarbzYHOOL commented on #23073
Still need to run the commands manually

[2019-03-05 18:49] ju2wheels commented on #48678
@bcoca @maxamillion @sivel Hey guys, I just wanted to follow up again to get feedback and direction. I attempted to reach out a few weeks ago on IRC to try to understand the release process and steps and I didnt get much of an answer. I believe I have both of these PRs in a place where they have the unit/integration tests and change log fragments but feel like im basically rebasing ad infinitum at

[2019-03-05 18:50] #48842 closed, assigned to nobody

[2019-03-05 18:51] sivel commented on #41146
Hidden by what means?  The file lookup is implemented via jinja2, and jinja2 cannot handle binary data.

lookups are completely unable to deal with binary data.

[2019-03-05 18:59] #53263 closed, assigned to nobody

[2019-03-05 19:01] SJrX opened #53352 "ecs_task does not support launch_type parameter"
##### SUMMARY
No launch_type argument for ecs_task module.

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ecs_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux / Arch.

##### STEPS TO REPRODUCE

Create an ecs_taskdefinition with a launch_type of fargate.

[code]

##### EXPECTED RESULTS

ECS task is launched on fargate

##### ACTUAL RESULTS

[code]

[2019-03-05 19:06] SJrX commented on #53352
I'm not 100% sure on this bug report, but I don't understand why [ecs_taskdefinition](https://docs.ansible.com/ansible/latest/modules/ecs_taskdefinition_module.html#ecs-taskdefinition-module) has a launch_type parameter and yet ecs_task does not. The [AWS CLI manual](https://docs.aws.amazon.com/cli/latest/reference/ecs/run-task.html) puts the launch type on the run-task command not the task_defini

[2019-03-05 20:01] ilyaevseev commented on #36156
Yes, my mistake. Duplicated inserts are caused by "firstmatch: yes", not by regexp.

[2019-03-05 20:21] sivel commented on #53041
We have discussed this and decided that `loop` should not be expanded this way. We have plans to address loop UX, and are exploring several proposals.  Please see the following links for more information.

https://github.com/ansible/proposals/issues/99
https://github.com/ansible/proposals/issues/140

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.f

[2019-03-05 20:21] #53041 closed, assigned to nobody

[2019-03-05 20:24] sivel commented on #53140
bot_status

[2019-03-05 20:30] sivel commented on #53221
!component =lib/ansible/modules/crypto/openssl_csr12.py

[2019-03-05 20:36] dselders commented on #44864
@ganeshrn as requested the ouput from the python script.  I have sanitized username/device names in the output pasted below.

[code]

[2019-03-05 20:39] bcoca commented on #53335
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-05 20:39] #53335 closed, assigned to nobody

[2019-03-05 20:42] bcoca commented on #53344
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-03-05 20:42] #53344 closed, assigned to nobody

[2019-03-05 20:48] #53146 closed, assigned to nobody

[2019-03-05 20:53] samdoran commented on #53349
This has been the case for quite some time. A local checksum is compared to a remote checksum. If they do not match, only then is the file transferred. This is done in the [copy action plugin](https://github.com/ansible/ansible/blob/240d1a6afb43982f16acebef16778d17aab58160/lib/ansible/plugins/action/copy.py#L283).

For further help with the issue, please reach out on IRC or the mailing list:

   *

[2019-03-05 20:53] #53349 closed, assigned to nobody

[2019-03-05 20:57] jborean93 commented on #39583
Implemented by https://github.com/ansible/ansible/pull/50621

[2019-03-05 20:57] #39583 closed, assigned to nobody

[2019-03-05 21:03] #25481 closed, assigned to bcoca

[2019-03-05 21:08] #52244 closed, assigned to nobody

[2019-03-05 21:08] doanerock commented on #53349
I did not realize it was already completed in a plugin.  Any hope to get this added to mainline ansible copy module?

[2019-03-05 21:11] nickrusso42518 commented on #53236
Also, this is the official Cisco answer on the RPC needed to save configuration.
[code]
Considering the `rpc-reply` indicates success but does so using a text string in a `<result>` field, but perhaps Ansible is expecting more basic like an `<ok>` reply.

[2019-03-05 21:13] gundalow commented on #53333
What are the details of the OS variables returned by `setup`?

[2019-03-05 21:13] wknapik commented on #41146
Wait... Now I see a newer version of ansible doesn't error out like in the original report for 2.5.3. With
[code]
I can read a binary file with lookup('file', ...), no problem.
[code]
[code]
I guess things have changed... I'm on jinja 2.10.

[2019-03-05 21:19] jborean93 commented on #43680
Implemented with https://github.com/ansible/ansible/pull/50621

[2019-03-05 21:19] #43680 closed, assigned to nobody

[2019-03-05 21:30] jborean93 commented on #53349
It's been in Ansible since the early days. There is a `force` parameter you can use to control the behaviour but by default it will check using a checksum.

[2019-03-05 21:38] mariolenz opened #53361 "Implement a generic session caching mechanism"
##### SUMMARY
Implement a generic session caching mechanism.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION
We've implemented a lot of VMware (SOAP) and RedFish (REST) tasks. Unfortunately, every module opens a new connection for every host... for example: 15 tasks for 100 hosts will result in 1500 connections. This is a lot of overhead. As @ckotte pointe

[2019-03-05 21:50] jsumners commented on #53346
Sorry. I don’t know what I’m being asked to do here.

[2019-03-05 22:19] aaronk1 commented on #52819
+1 would also like this.  Have far too many playbooks that are legacy modules or just a win_command or something where we pass in a password that is not individually a no_log var so we have to no_log the whole task.  Loses visibility to that whole task. @bcoca any recommendations?

[2019-03-05 22:27] dpbianc opened #53366 "aix_devices doesn't handle multiple attribute instances"
##### SUMMARY

The 1.1 version of the aix_devices module does not handle devices that may have multiple
instances of an attribute.  For example, network interfaces can have multiple instances of
the alias4 attribute.  I can add multiple alias4 attributes, but the module doesn't recognize
that there may be multiple alias4 values.

It appears that the module expects the attribute to have a single in

[2019-03-05 22:40] guoqiao commented on #53041
@sivel  thanks.

[2019-03-05 23:46] sudoforge commented on #38931
@s-hamann That may be fine on some of the mainstream distributions, but it is not a standard or even a widely adopted convention and thus should not be relied upon.

Thank you for finding it, though! I'll comment on the PR.

[2019-03-05 23:48] sudoforge commented on #38931
@s-hamann After looking at the PR in depth, it _optionally_ uses `/usr/share/i18n/SUPPORTED`. It still falls back to `/etc/locale.gen`.

[2019-03-06 00:19] hemberger commented on #51988
I would happily volunteer to work on implementing this feature, if there is any interest, but it would be helpful to get some feedback from the maintainers beforehand.

[2019-03-06 00:23] gcontrer87 opened #53368 "Unexpected behavior when using command module"
##### SUMMARY
Unexpected behavior when using command module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.5 (Maipo)
AWS

##### STEPS TO REPRODUCE

I'm trying to execute two customized scripts using the module command

[code]

##### EXPECTED RESULTS

Script is

[2019-03-06 01:36] yuwzho commented on #51387
+label easyfix

[2019-03-06 01:50] sw-elling opened #53370 "first_found Lookup w/ Skip Fails When Used Multiple Times"
##### SUMMARY
When using the first_found lookup with skip set to true, the first_found lookup works as expected but follow-up first_found lookups fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
first_found plugin

##### ANSIBLE VERSION

Ansible version 2.6 was not tested.

[code]
[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

The "w

[2019-03-06 01:51] sw-elling commented on #53370
The only way I've found to work around this issue is to use the "list" filter in the when condition.

[2019-03-06 02:07] yuwzho commented on #53299
@wawrzek I am a little confused, let me summarize the thread.

1. One networkinterface contains no less than one IP configuration. In our Ansible `azure_rm_networkinterface` module, primary is default set to `False`. You should explicitly set one of them as primary when using this module.

2. One virutal machine contains no less than one networkinterface. In our Ansible `azure_rm_virtualmachine` m

[2019-03-06 02:09] Akasurde commented on #53346
!component =docs/docsite/rst/user_guide/playbooks_checkmode.rst

[2019-03-06 02:11] Akasurde commented on #53346
@jsumners Bot identified `runit` as a file related to this issue. But this issue is actually related to documentation.

[2019-03-06 02:16] Akasurde commented on #52084
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-03-06 02:16] #52084 closed, assigned to nobody

[2019-03-06 02:41] Fred-sun commented on #53299
@wawrzek No, I just mean that creating a network card is set as the primary parameter and there is no function for it. No matter whether the primary is set True or False, it will default to True. Thanks!

[2019-03-06 02:47] Akasurde commented on #36953
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-03-06 02:47] #36953 closed, assigned to nobody

[2019-03-06 02:59] kbreit opened #53371 "digital_ocean_droplet should have a facts module"
##### SUMMARY
Because the `digital_ocean` module is being deprecated, there is no way to query existing droplets. There should be a `digital_ocean_droplets_facts` module to glean information

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean

[2019-03-06 02:59] blambo10 opened #53372 "VMware: Return vim.virtualmachine._moId as value in response facts JSON"
##### SUMMARY

Return the Mo_id in the response facts (not only when tags exist)

##### ISSUE TYPE
- Feature Idea
Return mo_id for use cases where users may want to later interact with the vc/vm via REST.

##### COMPONENT NAME

vmware_guest_facts

##### ADDITIONAL INFORMATION

The data set of facts currently returned doesnt contain the morefid (vim.VirtualMachine._moId)

If we cant get it added as

[2019-03-06 03:31] smemsh opened #53373 "get_url fails basic-auth with username unless empty password is provided, despite docs"
##### SUMMARY

the `get_url` module fails when fetching with a username but no password provided, even though an empty password is allowed on the server.  instead, `url_password` of empty string must be provided to the module, which works.  this is despite the module's own docs which say:
[code]
in truth it only works if it's supplied as an empty string.

##### ISSUE TYPE
- Bug Report

##### COMPO

[2019-03-06 03:32] Fred-sun commented on #50443
@yuwzho Please help take a look this issue when you're available! Thanks!

[2019-03-06 03:37] yuwzho commented on #51324
@nomadcz Thanks for your reporting, as you say, the root cause is the `domain_name` since you always pass an empty string and make ansible thinks this is different with the None value from service side. I will apply a fix soon

[2019-03-06 04:03] willthames commented on #53352
This will be fixed by #49081

Thanks for raising this, it nudged me to at least find a PR that needs a review and hopefully merge.

[2019-03-06 04:45] #45280 closed, assigned to Akasurde

[2019-03-06 05:26] Expresso31 commented on #19584
Hey guys,
I was facing the same issue for localhost and realised that '$ ssh localhost' was asking for a password. I solved it by moving the public key of 'user' on localhost to the authorized_key.

ssh-copy-id -i ~/.ssh/id_rsa.pub test@localhost

Just check if the authorized_key files have the necessary keys

test is the username

[2019-03-06 06:14] justjais commented on #52589
Not exactly the same issue, reopening the issue

[2019-03-06 06:16] felixfontein opened #53376 "openssl_* modules: PyOpenSSL asks user for password if trying to open password-protected key"
##### SUMMARY
As reported in #53360, the `openssl_certificate` module will hang (on remote nodes) if a password-protected private key is used, while the `passphrase` option is not provided to the module. If the module is run on `localhost` (with `local` connection), one can see that PyOpenSSL asks for a password: it shows a `Enter PEM pass phrase:` prompt and waits for the user to enter something

[2019-03-06 06:17] justjais commented on #29716
I have tested the issue in latest ansible version: `2.7.5` and I am unable to reproduce the issue. I have tried with the following play:

[code]

Expected result:
[code]
Actual result:
[code]

[2019-03-06 06:33] felixfontein commented on #53376
Playing around with this a bit, I think the only solution (without tampering with `PyOpenSSL`) is to always provide a passphrase (for example, the empty string).

There's also another problem with the idempotency check of `openssl_privatekey`: if you provide a passphrase, but the key is not password protected, it will manage to load the key and thus think **that the passphrase is correct**, and no

[2019-03-06 06:33] felixfontein commented on #53376
This again shows that getting rid of PyOpenSSL is a Good Thing(tm) :-)

[2019-03-06 07:05] Fred-sun commented on #41003
to_be_closed, The feature StandardSSD_LRS has been added into devel ansible.  Crash has also been fixed in the devel version. (Install devel ansible: "pip install git+https://github.com/ansible/ansible.git@devel ). Thanks!

[2019-03-06 07:05] Fred-sun commented on #39958
to_be_closed, The feature StandardSSD_LRS has been added into devel ansible.  Crash has also been fixed in the devel version. (Install devel ansible: "pip install git+https://github.com/ansible/ansible.git@devel ). Thanks!

[2019-03-06 07:07] Fred-sun commented on #40857
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-06 07:17] Fred-sun commented on #49180
@zikalino

[2019-03-06 07:22] mgamboa commented on #53043
sure i will try

[2019-03-06 07:22] mgamboa commented on #53043
just to let you know also the OS is Centos 7

[2019-03-06 07:23] hannseman commented on #53263
This feature will be available in Ansible 2.8.

[2019-03-06 07:38] jpmens commented on #53373
@smemsh Thanks for the report. You say the module "fails". How does it fail? Is there an error report, a stack trace, or is the file simply not downloaded?

[2019-03-06 07:40] niklaas commented on #53333
Ah, could have posted these in the first place:

[code]

I don't know the internals but to me it seems only `ansible_product_name` holds some valuable information.

[2019-03-06 07:51] ffdybuster commented on #53376
One idea about how to make idempotency work: if key loading with passphrase works, also try to load it with an empty passphrase. If that *also* works, the key is not protected by a passphrase.

This also helps for the (potential, no idea if that's possible at all) problem of keys protected with an empty passphrase (as opposed to no passphrase). If loading with the empty passphrase works, but loadi

[2019-03-06 07:51] FloThinksPi opened #53379 "ovirt_auth requires url or hostname, breaks examples and comaptibillity"
##### SUMMARY

The behaviour of ovirt_auth changed in an incompatible way, wich also does not reflect documentation.

This change 7154790 introduced the hostname variable in ovirt_auth.

Now either hostname or url is mandatory

https://github.com/machacekondra/ansible/blob/71547905fab67a876450f95c9ca714522ca1031c/lib/ansible/modules/cloud/ovirt/ovirt_auth.py#L262-L268

This now breaks existing set

[2019-03-06 08:09] swagner-de opened #53380 "Netbox Inventory group by returns space separated groups"
##### SUMMARY
When instructing the NetBox inventory to group by device roles, the inventory uses the role's name, which contains spaces.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox inventory
ansible/lib/ansible/plugins/inventory/netbox.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Currently on macos mojave, but I have seen it on RHEL too.

##

[2019-03-06 08:27] resmo commented on #53264
needs_contributor

[2019-03-06 08:37] Akasurde commented on #50535
@iamroddo Could you please check PR #53377 and let me know if it works for you ? Thanks.

needs_info

[2019-03-06 08:37] Akasurde commented on #50535
resolved_by_pr #53377

[2019-03-06 09:08] madrover commented on #39348
I have hit the same issue while using https://hub.docker.com/r/microsoft/mssql-server-linux/, which is Debian based apparently.

If you install the OS python-pymssql package it installs pymssql 1.0.2(which is almost 10 years old!) and I can reproduce the described behavior. On the other hand, if pymssql is installed via pip, then pymssql 2.1.4 is installed and the module works as expected.

I woul

[2019-03-06 09:18] fumantsu commented on #29698
I can confirm it also in the latest 2.7.8. The workaround works perfect.

[2019-03-06 09:21] mildred opened #53382 "Ansible should be able to remember state and clean up tasks that no longer appear in the playbook"
##### SUMMARY

Tools like Terraform are introducing a new way to think about provisioning. Terraform itself is designed to manage infrastructure as code, and much less to handle configuration management (it handles resources on cloud providers, mostly, and is not able to handle a machine, configuration files, systemd services, ...). However Terraform introduced a novel way to think about provision

[2019-03-06 09:23] Shaps commented on #23039
close_me

[2019-03-06 09:37] onitake commented on #53264
I'll take a shot at this myself, but I wanted to check first if somebody has worked on it before.

[2019-03-06 09:46] Shaps commented on #23039
bot_status

[2019-03-06 10:23] gundalow commented on #23039
resolved_by_pr 51141

[2019-03-06 10:23] #23039 closed, assigned to nobody

[2019-03-06 10:34] jojo221119 opened #53385 "Privilege escallation not working when connection docker"
##### SUMMARY

Ansible become is not working with a user different then root.
Checked with different become methods like [here](https://github.com/ansible/ansible/issues/31759#issuecomment-393445747)

For become method sudo the error message is:

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME

connection docker

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2019-03-06 10:41] canhanhan opened #53386 "win_timezone Insufficient Privileges with Become as System"
##### SUMMARY
win_timezone module works fine when running without become. But it fails when running as SYSTEM.
Below is the output of whoami /all with become. It is missing SeTimeZonePrivilege. I believe this is similar to #52056.

I manually modified powershell shell plugin (https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/plugins/shell/powershell.py#L794) as following and that fixe

[2019-03-06 10:52] Bessonov commented on #34259
Same thing in ansible 2.7.5. My workaround:

[code]

[2019-03-06 11:04] benjaatspencer opened #53387 "azure_rm_deployment fails on 2.7.8 and devel"
##### SUMMARY

The azure_rm_deployment fails with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloud/azure/azure_rm_deployment.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Debian/sid
pip3 package for azure:

 pip3 list |grep -e azure -e msrest
azure                                 4.0.0
azure-applicationinsights             0.1.0
azure-batch

[2019-03-06 11:08] benjaatspencer commented on #53387
[devel-0001-Azure_rm_deployment-Fixing-DeploymentProperties-cons.patch.txt](https://github.com/ansible/ansible/files/2935887/devel-0001-Azure_rm_deployment-Fixing-DeploymentProperties-cons.patch.txt)
[stable-2.7-0001-Azure_rm_deployment-Fixing-DeploymentProperties-cons.patch.txt](https://github.com/ansible/ansible/files/2935888/stable-2.7-0001-Azure_rm_deployment-Fixing-DeploymentProperties-cons.p

[2019-03-06 11:10] dosera opened #53388 "Variable check tries to decrypt password for unaccessed variables"
##### SUMMARY
Ansible variables are evaluated even though they are not accessed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL @ Win 10

##### STEPS TO REPRODUCE
execute the task described below

Host
[code]

Task
[code]

##### EXPECTED RESULTS
Expected to evaluate OK and to not throw an error.

##

[2019-03-06 11:18] #50535 closed, assigned to Akasurde

[2019-03-06 12:09] WojciechowskiPiotr commented on #53385
Hi,

Looking at the plugin code I would say that privilege escalation is not supported by the plugin. It inspects the container and the default exec user is `root`, unless it was changed in the Dockerfile with `USER`. The `sudoable` flag for the plugin has been set to `False` by the plugin developers. I don't know the reason but I may guess it affected the way pluging returns the data.

The only q

[2019-03-06 12:29] jojo221119 commented on #53385
Hi,

as I detected it while looking for possibilities to run the playbooks on a test environment the option with password-less sudo should be sufficient.

Besides from that how can this be filed as a feature request?

[2019-03-06 12:38] rockandska commented on #17078
you will find [here](https://github.com/rockandska/repro-issues/tree/master/molecule/molecule/issue_1803) a reproducible test case who show no errors with molecule but throw one in a similar case without molecule.

test-ko.yml playbook:

- first play (localhost)
  - create a docker container (molecule does it too in similar way)
  - add it to the inventory
- second play (localhost)
  - use the rol

[2019-03-06 12:41] willthames commented on #53352
Fixed by #49081

[2019-03-06 12:41] #53352 closed, assigned to nobody

[2019-03-06 12:43] #50937 closed, assigned to nobody

[2019-03-06 12:46] #51662 closed, assigned to nobody

[2019-03-06 13:19] markbgrdt commented on #53122
Thanks for your support! I tested it, it still fails but with another error message

`
ansible-playbook -vvv unzip.yaml
ansible-playbook 2.8.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible-2.8.0.dev0-py2.7.egg

[2019-03-06 13:20] nikkytub opened #53393 "netbox_inventory: Config context missing Virtual machines"
##### SUMMARY
Config context is missing Virtual machines because it is querying only devices not VM's.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Virtual machines config context is rendering device's context instead of VM's.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
System Version: macOS 10.14.2 (18C54)
Kernel Version: Darwin 18.2.0

##### STEPS T

[2019-03-06 13:22] fofloinn commented on #53134
I'm also seeing this issue.

ansible version = 2.7.5

example:
`ansible all -i <inventory_file> -m yum -a "name=sensu state=present disable_excludes=all" --become`

output:
`    "ansible_facts": {
        "pkg_mgr": "yum"
    },
    "changed": false,
    "msg": "No package matching 'sensu' found available, installed or updated",
    "rc": 126,
    "results": [
        "No package matching 'sensu'

[2019-03-06 13:24] machacekondra commented on #53379
@FloThinksPi Well we still need the `hostname`/`url` in order to do the revocation. But in case of `state` `absent` we take the `url` or `hostname` from `ovirt_auth` dictionary. Can you please share how you procceed with login?

[2019-03-06 13:27] mkrizek commented on #53134
@fofloinn You specified `all` hosts. What OS are they running? Do all hosts fail with the same error?

[2019-03-06 13:28] amarao opened #53396 "ansible ignores group_vars if inventory is outside of playbook directory"
##### SUMMARY
If inventory is located outside of playbook directory, all group_vars/host_vars directories in playbook directory are ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/vars/host_group_vars.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL R

[2019-03-06 13:40] fofloinn commented on #53134
hey @mkrizek
There are two hosts in the inventory. The OS for both are: `Red Hat Enterprise Linux Server release 7.5 (Maipo)`

Example run from ansible:

`host2 | FAILED! => {
    "ansible_facts": {
        "pkg_mgr": "yum"
    },
    "changed": false,
    "msg": "No package matching 'sensu' found available, installed or updated",
    "rc": 126,
    "results": [
        "No package matching 'sensu

[2019-03-06 13:42] WojciechowskiPiotr commented on #53385
+label feature
-label bug

[2019-03-06 13:44] WojciechowskiPiotr commented on #53385
@objectified @lorin can you share more details on supporting privilege escalation in `docker` connection plugin?

[2019-03-06 13:50] sumkincpp commented on #53396
Isn't this working as expected since you are running ad-hoc module command without playbook?

So, the only path to search is upper directory with inventory, which of course doesn't have group_vars/ and host_vars/.

[2019-03-06 14:13] Sigri44 commented on #27098
WTF is this bot ? Do you have an response from 2 year.. ?

[2019-03-06 14:44] ReinerNippes opened #53397 "Use aws_ec2.py to get an invetory of all linux server"
##### SUMMARY
I would like to get an inventory of all linux server with aws_ec2.py
But
[code]
doesn't work.

##### ISSUE TYPE
- Documentation Report
Please include an example to filter all instances where platform is '' (aka blank).

##### COMPONENT NAME
plugin: lib/ansible/plugins/inventory/aws_ec2.py

##### OS / ENVIRONMENT
AWS

##### ANSIBLE VERSION
2.7, 2.8

[2019-03-06 14:54] amarao commented on #53396
You are absolutely right. It works with playbook as expected. This bug is invalid.

We had had our own issue, which was around location of inventory and playbooks. When I've tried to debug it I got to this testcase with ad-hoc Ansible. But Ansible have a reasonable behavior here, and ansible-playbook does respect group_vars in playbook directory.

[2019-03-06 14:54] #53396 closed, assigned to nobody

[2019-03-06 15:16] sivel commented on #53333
I question the viability of detecting `opkg`.  `entware` doesn't require to be installed in a specific location, it's just by convention that it often lives in `/opt`.  We rely on explicitly defined paths, and as such, checking for it in `/opt/bin/opkg` wouldn't necessarily be reliable.

Just to mention, at the moment we do only look at `/bin/opkg`.

[2019-03-06 15:20] BarbzYHOOL opened #53399 "Lineafter/linebefore parameters can't match multiple lines"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

blockinfile
lineinfile
replace

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 14.04

##### STEPS TO REPRODUCE

With regex, I can select a particular block of lines and insert exactly at the right position. But in blockinfile (and possibly other modules), I CANNOT. Only 1 line is allowed

[2019-03-06 15:21] FloThinksPi commented on #53379
Hey @machacekondra thanks for the follow up. You are right, the url/hostname is not needed at all at state absent. I found out it is related to a race condition using "strategy: free + run_once + ovirt_auth".
which strangely produced following error:
[code]

Here is a reproduceable example:
<details open>
<summary>Code to produce the Racecondition</summary>

[code]
</details>

<details open>
<summ

[2019-03-06 15:30] lorin commented on #53385
@WojciechowskiPiotr Alas, I have not worked on this code base in years, I'm not sure who the current maintainer is at this point for the docker connection plugin.

[2019-03-06 15:41] bcoca commented on #53396
Also see `--playbook-dir` option

[2019-03-06 15:42] ericoc commented on #34144
I had two password lookups in a row that I was leaving with a default `length` of 20 and they were returning identical passwords. Specifying different lengths for each of them cleared it up though and I am now getting unique values: https://github.com/ericoc/zeromon/commit/56f8662702ea7d1a42b5971e5e167d49bd5c8467

[2019-03-06 15:54] gundalow opened #53401 "IGNORE ME: Testing Bot"
Testing https://github.com/ansible/ansibullbot/issues/1156

##### SUMMARY

The new `tag` property can be used to specify a Docker image tag which should be imported or deleted. Updating is not supported through imgadm, as detailed on its man docs.

##### ISSUE TYPE
- Feature Pull Request

##### COMPONENT NAME
imgadm

##### ADDITIONAL INFORMATION
See [this Gist](https://gist.github.com/m1cr0man/75b

[2019-03-06 16:02] gundalow commented on #53401
bot_status

[2019-03-06 16:11] mavit opened #53402 "Inconsitent use of regexp and regex"
##### SUMMARY
In some places, such as the `lineinfile` or `assemble` module, there is a `regexp` option .  Elsewhere, we have filters named, e.g., `regex_search` (without the "p").  Ansible would be slightly easier to use if all of these things were named consistently.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- assemble
- ec2_lc_find
- find
- lineinfile
- nios_naptr_record
- replace

[2019-03-06 16:15] gundalow commented on #53401
Correctly set as `support:community`

[2019-03-06 16:15] #53401 closed, assigned to nobody

[2019-03-06 16:16] bcoca commented on #53122
A thing i would try, add a `sleep(1)` at the end of the `put_file` function in the plugin: i suspect a race condition in the API, returning 'OK' to the client but the minion didn't do the work yet.

If this 'solves it'  a permanent solution might be check the 'file exists' before returning from `put_file`

[2019-03-06 16:16] gundalow opened #53403 "IGNORE ME testing bot2"
##### SUMMARY
When using zabbix_template in combination with Zabbix 4.0.1 server, the module runs into this error: "APITimeout: HTTP read timeout". I use version 0.5.3 of zabbix-api but it does not seem to be compatible with the Zabbix 4.0 API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module zabbix_template, possibly other zabbix modules are affected as well

##### ANSIBLE VERSION

[co

[2019-03-06 16:16] gundalow commented on #53403
testing https://github.com/ansible/ansibullbot/issues/1104

[2019-03-06 16:19] ruimoreira opened #53404 "Amazon AWS rds_intance - cannot create instance with aurora-mysql engine"
##### SUMMARY
When creating a rds_instance with aurora-mysql engine the module expects a cluster_id, the documentation states that we should use rds_cluster module to manage however said module does not  exist. For reference see https://docs.ansible.com/ansible/latest/modules/rds_instance_module.html#id5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rds_instance module

##### ANSIBLE VERSIO

[2019-03-06 16:20] bcoca commented on #53122
[code]

[2019-03-06 16:24] mavit opened #53405 "quote vs escape vs encode"
##### SUMMARY
Ansible has the following filters for quoting strings for use in different situations:
- `escape` (inherited from Jinja)
- `quote`
- `regex_escape`
- `urlencode` (inherited from Jinja)

Two of these have no nouns in their name.  One has an underscore between the noun and the verb and one does not.  There are three different verbs for four different filters.  I find that this makes th

[2019-03-06 16:29] gundalow commented on #53403
bot_status

[2019-03-06 16:30] sivel commented on #50758
I've verified this issue, and bisected the issue to 52449cc01a71778ef94ea0237eed0284f5d75582

Here is the python code I used to validate:

[code]

[code]

Also, note that this only impacts a script using python2, and does not seem to affect python3.

[2019-03-06 16:31] mavit commented on #53405
I forgot to mention `escape`, also inherited from Jinja.

[2019-03-06 16:33] #53403 closed, assigned to nobody

[2019-03-06 16:52] bcoca commented on #53349
its both in the action plugin and in the module:

` if checksum_src != checksum_dest or os.path.islink(b_dest):`

[2019-03-06 16:59] bcoca commented on #53346
diff IS documented https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html

[2019-03-06 17:02] amarao commented on #53396
My Ansible (2.7.5) does not have such option (--playbook-dir), but I would be happy if ansible would report it in -vvvvvvvvvv mode.

[2019-03-06 17:06] bcoca commented on #53122
I've also noticed a mismatch in the temp dirs .. not sure how that is happening

[2019-03-06 17:12] Akasurde commented on #53397
!component =lib/ansible/plugins/inventory/aws_ec2.py

[2019-03-06 17:13] Akasurde commented on #53397
cc @s-hertel

[2019-03-06 17:23] felixfontein commented on #27098
@Sigri44 if someone ends up on the list of maintainers / people to be informed for docker modules, ansibot CCs that person on every issue and PR of interest to that person.

[2019-03-06 17:32] bcoca commented on #53396
added in 2.8 for those using 'ahdoc' but wanting 'playbook group_vars/host_vars'

[2019-03-06 17:33] felixfontein commented on #53385
@jojo221119 Why don't you use `ansible_docker_user`/`ansible_user` to execute something as another user in the container? That's an option of the `docker` connection plugin. You might be able to define it per-task (using `vars:`). Also, you can change the type of this issue by editing the first post and changing "Bug Report" to "Feature Request". I think that does the trick.

@lorin maintainership

[2019-03-06 17:33] ghost opened #53407 "Handle specified license_model parameter for (at least) Postgresql"
##### SUMMARY
When `license_model: postgresql-license` param is specified for `engine: postgres`, which, at least via the aws console build process is the only allowable value, stderr throws:

[code]

However, when 'general-public-license' license is then used, stderr throws:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
modules --> cloud --> amazon --> rds_instance

##### ANSIBLE V

[2019-03-06 17:34] AlanCoding commented on #52035
This was resolved by the related PR (implemented according to the spec here). I will directly close it, @samdoran let me know if there's anything else I should do for your process.

[2019-03-06 17:34] #52035 closed, assigned to nobody

[2019-03-06 17:42] felixfontein commented on #53193
resolved_by_pr #53295

[2019-03-06 17:44] #45644 closed, assigned to Akasurde

[2019-03-06 17:47] sdhughes1 commented on #29716
@justjais can you confirm what your IOS config was before the play was run? The original issue was that If the device config already contained "access-list 1 remark ### This line wont be sent ###" it wouldn't after the play is run

[2019-03-06 17:51] samdoran commented on #53399
This behavior for `lineinfile` and `blockinfile` is by design. The value of `regexp`, `insertafter`, or `insertbefore` are compared to individual lines in a file. Since the value `line1\n    line2 ` won't ever match an individual line, the value is inserted at the end of the file.

The `replace` module uses mulitline mode for the regular expression as outlined in the documentation:

        Does n

[2019-03-06 17:51] #53399 closed, assigned to nobody

[2019-03-06 17:59] sivel commented on #50758
I've opened the above mentioned PR to address this issue.

[2019-03-06 17:59] BarbzYHOOL commented on #53399
@samdoran So blockinfile adds a block, but can't match a block? doesn't make much sense since lineinfile can add a line AND match a line

Now for replace, I've seen that too, that the regex uses multiline mode, but how do I proceed if I want to insert a block of lines and replace literally NOTHING?

[2019-03-06 18:04] BarbzYHOOL commented on #53399
Yeah, I'm rereading the doc to try it out, and I think it's not possible with replace either. It will replace something and I don't want to replace, just append

[2019-03-06 19:14] goneri commented on #53370
In can simplify the problem to that:

[code]

Everything is fine if I replace the when condition with `when: "lookup('first_found', path_lookup)"`.

[2019-03-06 19:53] smemsh commented on #53373
@jpmens it fails with a 404 from github when the empty string is not supplied.  I have managed to set a breakpoint in open_url() and after it executes this line:
[code]
I can see that the Authorization header looks like this in the failure case:
[code]
and when I decode the string it looks like:
[code]
so obviously the None is being made into a string.

`basic_auth_header()` is doing:
[code]
so I'

[2019-03-06 20:13] jpmens commented on #53373
@smemsh thanks for digging in so far; much appreciated. Care to provide a pull request for this? There might be a more elegant way, but I think that last line could read

[code]

and should do it.

[2019-03-06 20:17] goneri commented on #53370
`src_path` is not evaluate when you reach the `when` the first time. You can use a `set_fact` before to fix its value.
The `when` is also problematic, Ansible evaluate the value of the variable before the test and it fails. I believe the error is something like:

[code]

`lookup` a string in case of success, or an empty list in case of error. So you can change your condition to something like belo

[2019-03-06 20:23] bcoca commented on #17078
@rockandska the PR above fixes your reproducer for me, @srgvg  see if it helps your case also

[2019-03-06 20:26] ericsysmin opened #53414 "k8s module fails when setting namespace to absent"
##### SUMMARY
Getting the following error on k8s module
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I'd expect the namespace to be removed.

##### ACTUAL RESULTS

[code]

[2019-03-06 20:29] AlanCoding commented on #51864
Resolved by merge of https://github.com/ansible/ansible/pull/53046

staged for 2.8 release

[2019-03-06 20:29] #51864 closed, assigned to yungezz

[2019-03-06 20:47] rockandska commented on #17078
Thanks @bcoca for your time and your investigation and also this PR.
Addition to this PR, do you have any ideas why it did not affect the tests with molecule please ?
From your changes, i don't see any particular modifications who could be override by some molecule "configuration" and your expertise would be handy to understand why it was not reproducible with molecule.

Best regards,

[2019-03-06 21:31] GitzDoUrden commented on #42084
Documentation still needs to be updated.
here as well: https://docs.ansible.com/ansible/latest/vmware/scenario_rename_vm.html

[2019-03-06 22:07] Kloperations commented on #52206
i am using ```connection: local```
I will try and test with network_cli here in the next day or 2, i apologize for the late response!

[2019-03-06 22:08] vbotka commented on #42933
FWIW. Simple playbook is a flexible workaround.

[code]

[2019-03-06 22:40] fabianvf commented on #53414
what version of the openshift and kubernetes python clients do you have installed?

[2019-03-06 23:02] bcrisp4 opened #53422 ""ansible-inventory --graph --vars" does not show host vars declared in host_vars/*"
##### SUMMARY

Executing ```ansible-inventory --graph --vars``` yields a graph that displays all groups/hosts and their associated variables, however host variables from host_vars/* are missing.

I've recreated this with v2.7.8, v2.5.1 and the latest devel branch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2019-03-06 23:06] thomasliddledba opened #53424 "win_psrepository.py python not recognized"
##### SUMMARY
Getting an error that `/usr/bin/python` not reognized as the name of a cmdlet.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- win_psrepository.py

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Target OS - Windows 2016 Server or Core (same result)

##### EXPECTED RESULTS

Module will add a repository to target machine

##

[2019-03-06 23:13] jborean93 commented on #53424
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The win_psrepository module has been added in Ansible 2.8
   * The output indicates it is trying to run the Python docs file for that module
   * You need to e

[2019-03-06 23:13] #53424 closed, assigned to nobody

[2019-03-07 00:14] ghost opened #53426 "lxd_container: Contrainer creation task failure on remote LXD cluster node"
##### SUMMARY

On a LXD cluster configuration, an ansible task using the Ansible module lxd_container for container creation will end up in failure if the container is created on a remote LXD cluster node. The container is however created, but stopped.

As a result, in the case of a 2 nodes cluster configuration, and knowing that the LXD cluster create the new containers on the node with the least

[2019-03-07 00:44] jamescassell opened #53428 "spurious CONDITIONAL_BARE_VARS warnings"
##### SUMMARY

Suprrious Deprecation warning and regular (non-deprecation) warnings when using boolean vars.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS/RHEL 7, Fedora 29

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Results on ansible 2.7:
[code]

##### ACTUAL RESULTS

Results o

[2019-03-07 01:24] smemsh commented on #53373
@jpmens hm maybe not, this `to_bytes()` seems to be internal with other users which might rely on those semantics.  for more context:
[code]
and from the function notes:
[code]
so, I think the function is behaving correctly, but is being given an object it should never see in our case (in fact we might use this interface with the 'strict' option for that matter).  perhaps we should catch this in t

[2019-03-07 02:07] yungezz commented on #51944
HI @uritau could you pls try latest lib/ansible/plugin/inventory/azure_rm.py after  fix of # 51864?

[2019-03-07 02:09] yungezz commented on #46659
close this for now since there's no plan to support Azure stack so far.

[2019-03-07 02:09] #46659 closed, assigned to nobody

[2019-03-07 02:18] yungezz commented on #31867
hi @nofunatall , /contrib/inventory/azure_rm.py provides public ip and private ip and fqdn as host vars. could you pls try latest version to see if still met the issue? thanks.

[2019-03-07 02:27] zikalino commented on #31967
i am just adding facts module:
https://github.com/ansible/ansible/pull/53204
once this is merged, all the deployment details will be available via facts.

[2019-03-07 02:29] sk1988 commented on #41523
@abenokraitis could you please provide details to setup Ansible 2.8?

[2019-03-07 02:45] dthvt opened #53433 "ec2_customer_gateway - bgp_asn required when state=absent"
##### SUMMARY

ec2_customer_gateway routing option defaults to dynamic.  When routing option is dynamic, bgp_asn becomes a required parameter, even when state is set to absent.

Documentation example does not work:

[code]

In practice, this results in the error "routing is dynamic but all of the following are missing: bgp_asn"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_customer_gat

[2019-03-07 02:47] dthvt commented on #53433
Bug introduced in https://github.com/ansible/ansible/pull/27276/files from https://github.com/ansible/ansible/issues/27157

[2019-03-07 02:48] Fred-sun commented on #49659
@zikalino

[2019-03-07 02:49] dthvt commented on #53433
Workaround:

Pass a bogus (or valid) bgp_asn parameter to the call.  It will then pass argument validation, and the bgp_asn is not actually used when state=absent.

[2019-03-07 02:56] dthvt commented on #53433
Also, as a side note, from reading the code, it appears only IP is used to identify the gateway, so name should be optional when state=absent.  I noticed I was accidentally passing in gateway id instead of name, but the deletion still occurs.

[2019-03-07 03:21] zikalino commented on #31967
I have tried 2 playbooks:
First one I have just taken it from integration tests:

[code]

so the output appears to be correct:

[code]

So I am changing the template do deploy Windows server:

[code]
and also the output looks rather correct:
[code]

[2019-03-07 03:27] zikalino commented on #31967
I have rechecked the code and did appropriate tests, so deployment state must be "Succeeded", otherwise failure would be reported.
Also it's important to note that **outputs** are **null**.
This means the problem is probably in deployment template, not in deployment module.

[2019-03-07 03:29] zikalino commented on #31967
@fluffy-cakes
Considering that the issue if most likely not caused by the module, I am going to close it.
Please reopen and provide more info about template itself or try the new azure_rm_deployment_facts module to get more details about state of deployment.

[2019-03-07 03:29] #31967 closed, assigned to zikalino

[2019-03-07 03:34] zikalino commented on #53387
@benjaatspencer
i think i know what is causing the problem. The package you have is:

azure-mgmt-resource 2.1.0

While in Ansible requirements we still have:

azure-mgmt-resource==1.2.2

Apparently there's a breaking change in the API.

I will update the package version in devel to 2.1.0 today.

[2019-03-07 04:12] Akasurde commented on #49161
@jborean93 Could you please check if this PR https://github.com/ansible/ansible/pull/53314 works for you ? Thanks.

needs_info

[2019-03-07 05:05] justjais commented on #29716
@sdhughes1 I had checked my IOS config before firing the play and no `access-list` was configured. Also, if you check the play mentioned in my comment which's similar to issues play has `before`("no access-list 1") param set which will delete any `access-list 1` that's already configured.

Let me know if you are still facing the respective issue in ansible `2.7.5` version.

[2019-03-07 05:07] NilashishC commented on #53402
cc @justjais for the NIOS module.

[2019-03-07 05:29] #51324 closed, assigned to nobody

[2019-03-07 05:47] igoratencompass commented on #43787
Seeing the same issue for a while, any news?

[2019-03-07 06:08] srgvg commented on #17078
@bcoca can confirm, this solves this issue, as per my initial reproducer, thanks!

[2019-03-07 06:31] jojo221119 commented on #53385
@felixfontein The playbooks I develop are aimed to run against real servers using the SSH connection type.
I'm currently looking for an option to test the playbooks and stumbled upon molecule which uses the docker connection to test roles so I thought I could use a similar approach to test playbooks.

[2019-03-07 07:20] felixfontein commented on #53385
@jojo221119 yep, in that case, `become` support would definitely be more useful :)

[2019-03-07 07:39] okleber opened #53441 "Iterating through a list to append keys into a dict not add all key values."
##### SUMMARY
Iterating through a list to append keys into a dict is not adding all key values pairs. Only the last key value pair looks to be added
Looks like the bug report  #39452

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MAC OS Mojave version 10.14.3

##### STEPS TO REPRODUCE

Create a file

[2019-03-07 07:41] k0ste commented on #44809
@eglipeter actually this module is already exists and used in production for a few years.
Originally we push it to upstream in https://github.com/ansible/ansible-modules-extras/pull/1044 but this repo was closed.

I pushd last version of this module to [cups_lpadmin](https://github.com/k0ste/ansible/blob/cups_lpadmin/lib/ansible/modules/system/cups_lpadmin.py) branch.
Also may be useful for you [a

[2019-03-07 08:11] uritau commented on #51944
Hello @yungezz,
thanks a lot for your help, but this gives us the same issue as the previous version, let me add some information:
- We are deploying the VMSS using Terraform, without any "special" configuration.
- The error we are facing is that we are receiving neither public_ipv4_addresses nor private_ipv4_addresses for the instances in a VMSS (we don't have any problem with the Virtual Machine

[2019-03-07 08:16] yungezz commented on #51944
got it, thanks for the detail info @uritau  I'm looking at it.

[2019-03-07 08:22] #50726 closed, assigned to ganeshrn

[2019-03-07 08:38] HouriaH opened #53443 "ERROR! Unexpected Exception, this is probably a bug: pynacl>=1.0.1"
##### SUMMARY
I have tried to install pip and ntc-ansible and now I can't run my playbooks.

##### ISSUE TYPE
pynacl>=1.0.1

##### ANSIBLE VERSION
I can't do the command "ansible -- version" because of the bug.
I've installed Ansible less than 2 months ago.

##### CONFIGURATION
Same

##### OS / ENVIRONMENT
CentOs 7
Linux  3.10.0-862.11.6.el7.x86_64

##### EXPECTED RESULTS
 Normaly my playbooks run

[2019-03-07 08:48] mkrizek commented on #16258
I can't reproduce the issue with the `devel` branch. By doing `ansible host -b -K -m shell -a 'apt-get install mc'`  I can see `apt-get` running on the remote host. After pressing `CTRL+C`, `apt-get` no longer runs.

@nhooey Can you verify with the recent version of Ansible? Thanks!

needs_info

[2019-03-07 09:14] HouriaH commented on #53443
The last two commands I did before getting this message was : sudo python setup.py install and yum install pip

[2019-03-07 09:17] mkrizek commented on #53443
The error message is clear: you need to have `pynacl>=1.0.1` installed.

[2019-03-07 09:23] HouriaH commented on #53443
I was able to solve the problem
Thank you

[2019-03-07 09:23] #53443 closed, assigned to nobody

[2019-03-07 09:24] #53441 closed, assigned to nobody

[2019-03-07 09:25] okleber commented on #53441
instead of dicionario variable, should use mydict. No bugs at all

[2019-03-07 09:49] damaca commented on #52337
Same problem here with a secret including `+`

[2019-03-07 10:51] ralphie02 opened #53448 "vmware_guest to create/power on an Alpine Linux VM does not return the IP"
##### SUMMARY

Using vmware_guest to create/power on an Alpine Linux VM does not return the IP

EDIT:
This seems to only affect Alpine Linux. I don't have an issue with Centos 6/7, Debian 7/8/9 and Ubuntu 12/14/16/18.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control Machine:
Debian 9

Tar

[2019-03-07 11:19] PatrickGiblett commented on #51888
Note for information - package names and group names aren't the only thing possible to input into yum in its lists. Yum accepts package file names with or without paths. These can have spaces too as can URLs

This worked on 2.6.3 but got rejected on 2.7.1