[2022-07-26 15:27] mkrizek commented on #78354
Duplicate of https://github.com/ansible/ansible/issues/76855#issuecomment-1022272996.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-07-26 15:27] #78354 closed, assigned to nobody

[2022-07-26 15:28] mgariepy commented on #78344
From https://linux.die.net/man/1/ssh
`ssh exits with the exit status of the remote command or with 255 if an error occurred.`

the ansible code for ssh does only grab the 255 exception but it can exit with another status if the command that is executed returns something else.

[2022-07-26 15:29] youssefbenfarhat commented on #78353
Ok, I just joined the mailing list. I hope I can get an answer for my problem

[2022-07-26 15:58] sivel commented on #78355
The problem here is a bit complicated, and while I'll detail it further down, here is a TL;DR workaround:

1. Upgrade to at least Ansible 2.9.20
2. Wrap all imports from standalone.py in `try/except ImportError`, or don't use `import` statements, and instead use `importlib.import_module` in the methods where the modules are needed

Here is what is going on:

1. Ansible builds a zip file, referred

[2022-07-26 15:58] #78355 closed, assigned to sivel

[2022-07-26 16:27] sivel commented on #78344
We do not want to extend that RC matching any further, as the 255 inspection already causes us numerous problems as is.  If we can find a way around it, we'll eventually remove the 255 inspection.

[2022-07-26 16:29] jrosser commented on #78344
I am not suggesting that simply checking also for -13 is the correct thing to do here - just using it as a demonstration that only checking for 255 as the return code is a **_possible_** reason for the playbook failing when pipelining is enabled. For this specific case, checking for -13 and allowing that to throw AnsibleControlPersistBrokenPipeError allows the playbook to recover correctly when th

[2022-07-26 17:51] mattclay commented on #78345
@LvffY One minor correction to your example output -- there should be a space before the message:

[code]

I agree that more could be done to ease parsing of the `--lint` output. The first thing that comes to mind is that not all sanity tests include a rule code. For those that do, it's prepended to the message as `{code}: {message}`.

The SonarQube Flake8 importer appears to be able to handle the

[2022-07-26 17:53] jrosser commented on #78344
To eliminate this being a quirk of the setup module I have also reproduced MODULE FAILURE with the package module.

https://paste.opendev.org/show/bGFkEBoURUovv3ktl9JJ/

[2022-07-27 07:14] LvffY commented on #78345
@mattclay If this format is almost parseable, that's great :)

I'll try to import it through the `flake8` sonarqube plugin.

But I find this workaround a bit weird because I think that there is more tools involved than `flake8` in the sanity tests. I already saw `shellcheck` for example.

I think that the sanity tests command could benefit a `--output-dir` parameter, to specify a directory to outp

[2022-07-27 11:38] sherry442 opened #78358 "ignore_unreachable true with retries configuration not working"
### Summary

In ansible playbook to retry task for unreachable error

### Issue Type

Feature Idea

### Component Name
!component

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS

### Steps to Reproduce

[code]

### Expected Results

If IP is not reachable then task "Check for the file" should be repeated for 2times with 5secs delay. But it is executing only on

[2022-07-27 16:33] #78198 closed, assigned to nobody

[2022-07-27 16:39] mattclay commented on #78345
@LvffY The results from each sanity test are already parsed and normalized by ansible-test, so there's no need to write separate files for each of them. The reason I suggested the Flake8 parser is because it expects the same format that ansible-test generates.

[2022-07-27 16:40] sdarwin opened #78360 "Error message: Unsupported parameters for (ansible.legacy.command) module: args"
### Summary

Hi,

This is a feature idea, to enhance the error message output of a certain failure scenario.

Consider the task:
[code]

Of course, you get this result:
[code]

To an expert, it all makes sense.  But to an average user, does the above error message clearly outline the problem and solution?

A proposal is to include additional text in the error message:

[code]

The solution can be

[2022-07-27 18:58] jborean93 commented on #78360
You only need to use `args` if you are using specifying the cmd as the raw value like so

[code]

When using the newer format with `cmd` as a module option just specify executable like any other module option

[code]

Have a look at the examples https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html#examples

[code]

This appears to be a user question, and we'd like

[2022-07-27 18:58] #78360 closed, assigned to nobody

[2022-07-27 19:07] mattclay commented on #78346
@briantist Could you provide some examples of the kinds of sanity test errors you're having issues with? A link to existing ignore entries in a collection would be helpful.

[2022-07-27 19:08] jborean93 commented on #76828
@samccann is this still something that still needs to be addressed or can the issue be closed?

[2022-07-27 19:10] jborean93 commented on #30423
@gundalow is there still more work that needs to be done here or has the recent changes in the docsite fixed some of the problems you see?

[2022-07-27 19:16] jborean93 commented on #28997
This is somewhat achievable today by using `async_status` to wait the result of the blocked tasks

[code]

This at least gets something working today rather than waiting for this to be implemented.

[2022-07-27 19:20] jborean93 commented on #30116
Using `failed_when` on the task will be an easy workaround to this problem. You can define whatever conditional such as `failed_when: '{{ task_res.msg != "user requested abort!" }}'`

[2022-07-27 19:25] mattclay commented on #68365
@AlanCoding Do you still have a use case for using the `JUNIT_HIDE_TASK_ARGUMENTS` setting?

[2022-07-27 19:31] jborean93 commented on #48352
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * As per https://github.com/ansible/ansible/issues/48352#issuecomment-903154874 we cannot fix this **properly** until the underlying libra

[2022-07-27 19:31] #48352 closed, assigned to nobody

[2022-07-27 19:34] jborean93 commented on #75408
At least with the `crypt` example this will be going away as it's usage was deprecated in Python 3.11 and we are removing it's use in Ansible in newer releases. It won't fix the underlying problem but removes a usage of a problematic plugin in Ansible.

[2022-07-27 19:46] jborean93 commented on #73051
@briantist are you able to test this out against devel today and see if this is still a problem. There have been changes to the display queue that might have fixed this as well.

[2022-07-27 19:49] jborean93 commented on #66942
A workaround is to just replace the `/` with a value that can be included as a filename in your filter.

[2022-07-27 20:08] briantist commented on #78346
@mattclay  `shebang` was the most recent, the collection is internal so I don't have any public links. It had shell script templates like `roles/thing/templates/script.sh.j2`, with the script content mostly unimportant it just started with a pretty standard shebang:

[code]

Sample ignore file (repeated for every core version tested against of course) is like this:

[code]

---

In another interna

[2022-07-27 20:10] AlanCoding commented on #68365
It does look like that would help, yes.

[2022-07-27 20:20] briantist commented on #73051
Probably not today, but will see if I can try it out this week, or on the weekend, thanks!

[2022-07-27 20:20] LvffY commented on #78345
@mattclay Actually I succeeded to import my ansible-lint report into my sonarqube through the `sonar.python.flake8.reportPaths` configuration. Thanks !

But I think that the option `--output-dir` (or with you comment maybe a `--output-file` could be useful though.

To close this ticket, I think that a mention like you made about the flake8 reports could be useful too for many users.

[2022-07-27 20:22] samccann commented on #76828
@jborean93 yes we do still need this level of detail in the docs.

In general, we need to port over the docs still on ansible-collections/overview, but the naming stuff is covered - https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#naming and needs to be in our docs.

[2022-07-27 21:44] o0-o opened #78366 "Template validation appears to check destination file before template is applied"
### Summary

Running the template module with validation against an OpenBSD host to configure /etc/dhcpd.conf. Validation appears to be checking the existing file and not the result of the template.

[code]

If the file doesn't exist, the validation appears to run against the non-existent file:

[code]

Running without validation works fine:

[code]

[code]

If the file does exist, but has an erro

[2022-07-27 22:12] sivel commented on #78366
To specify an alternate configuration file for `dhcpd` you need to use `-c`, otherwise it uses `/etc/dhcpd.conf`

So I believe you want:

[code]

[2022-07-27 22:17] o0-o commented on #78366
Ah I think you're right. Sorry, other things in OpenBSD use `-nf` for this purpose. I am rerunning now and will close assuming behavior is corrected.

Strange that `dhcpd` doesn't fail with the arbitrary file path at the end of the command...

[2022-07-27 22:25] #78366 closed, assigned to nobody

[2022-07-28 09:26] georgettica opened #78370 "local_fact does not show gpu on some host"
### Summary

I am using the local_fact to check gpus across my fleet.

one device is not showing the correct data.

info is redacted but I gave a working json aswell.

this has to be something missing in that installation but I am not sure what

### Issue Type

Bug Report

### Component Name

setup (local)

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

[code]

### S

[2022-07-28 13:50] bendem opened #78371 "ansible.builtin.pause always reports echo: true as a result"
### Summary

I was looking into avoiding recoding values prompted by the pause module in ara and I realised that the echo's return value is hardcoded to true, always has been according to git. The value is set to true in the result before actually checking the task arguments:
https://github.com/ansible/ansible/blob/b86a18bd273499f5d10e581821a47571690660e1/lib/ansible/plugins/action/pause.py#L136-L

[2022-07-28 13:52] alexanderATplato opened #78372 "`ansible-galaxy collection install amazon.aws` fails with OrderedDictTypedDict AttributeError"
### Summary

Hello folks,

we use to run (latest stable) Ansible inside AWS CodeBuild environment, it's been working all right for a while but suddenly it started to fail with the following:

[code]

It's repeatable with the various build (Docker) images offered by CodeBuild. It appears to be somehow related to an old bug that should have been fixed with https://github.com/python/typing/commit/c41

[2022-07-28 14:03] mkrizek commented on #78372
Duplicate of https://github.com/ansible/ansible/issues/77857? Does this happen on the `devel` branch?

[2022-07-28 14:23] #72289 closed, assigned to nobody

[2022-07-28 14:58] maurerle commented on #54828
I ran into this issue trying to create a docker install script which installs depending on the os release.
Example:

[code]

For Debian and Ubuntu you can use the lower or upper filter here but for rhel you would need something else.

[2022-07-28 15:57] georgettica commented on #78370
Correct file :)

[2022-07-28 18:45] #25389 closed, assigned to nobody

[2022-07-28 19:17] mattclay commented on #78358
Retries do not work with unreachable errors. You can use `wait_for` or `wait_for_connection` to wait until a host is ready.

As this is expected behavior, I'll convert this bug report to a feature request.

[2022-07-28 19:21] mattclay commented on #78370
@georgettica Have you tried running the local facts script manually to verify it is reporting the expected GPU info?

[2022-07-28 19:26] mattclay commented on #78372
Closing as a duplicate. A backport for 2.13 has been opened that includes a fix for this.

[2022-07-28 19:26] #78372 closed, assigned to nobody

[2022-07-28 19:28] georgettica commented on #78370
Not sure how to do that, give me a command and I will return you the output.
If this is the wrong place to post, please let me know

[2022-07-28 19:35] mattclay commented on #78370
@georgettica Your hosts should have local facts files and/or scripts defined as documented here: https://docs.ansible.com/ansible/latest/user_guide/playbooks_vars_facts.html#facts-d-or-local-facts

You'll want to make sure the correct files are on each host, that they're executable (if they're scripts) and that they contain what you expect. If they're executable, check that the output is as expect

[2022-07-28 19:45] georgettica commented on #78370
Hmm, but why would such thing happen and how can I verify this fact is the same as the others? Should I delete it and hope for it to show up?

[2022-07-28 19:46] georgettica commented on #78370
Also, as seen from what I sent it's not that it's not executable but seems to output incorrect things.
Will check

[2022-07-28 20:01] mattclay commented on #78370
@georgettica Since this appears to be a question related to the configuration of your hosts, rather than an issue with Ansible itself, I'd like to direct you to the mailing list or the IRC channel for further questions:

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to d

[2022-07-28 20:01] #78370 closed, assigned to nobody

[2022-07-28 20:06] georgettica commented on #78370
Also, I will reply and note that this host had missing /etc/Ansible/facts.d which existed on the other machine.

Thanks a lot and I hope this issue will help someone stuck on an issue similar to this one

[2022-07-28 20:44] felixfontein commented on #73051
Just tested it, still doesn't seem to work.

[2022-07-28 20:46] felixfontein commented on #73051
(https://github.com/ansible/ansible/pull/73240 contains a test for this BTW)

[2022-07-28 20:53] sivel commented on #73051
The PR to proxy `Display.display` over the queue doesn't address the concern that warnings/deprecations would be duplicated from forks, and not de-duped.  The de-duping happens in the `warning` and `deprecated` methods, and those will still run in a fork, but the ultimate call to `Display.display` will proxy the display over the queue.

So we'd need to figure out a way to preserve the deduplicatio

[2022-07-28 21:55] sivel commented on #20077
I can confirm this works as expected now.

roles/baz/tasks/foo/bar.yml
[code]

20077.yml
[code]

[code]

[2022-07-28 21:55] #20077 closed, assigned to nobody

[2022-07-28 22:00] sivel commented on #23017
I have not been able to reproduce this in recent versions of ansible. If you are still having problems, please feel free to open a new issue with a simple reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-07-28 22:00] #23017 closed, assigned to nobody

[2022-07-28 22:11] sivel commented on #25667
The problem here seems to be because you are becoming a non-privileged user.

When `validate` is set, we try to change the mode on the temporary file before running validation, to make sure it matches the final outcome.

The permissions on the temp file do not permit the other non-privileged user from making modifications to it, they only allow reading the file.

Ultimately, the only work around m

[2022-07-29 05:53] alexanderATplato commented on #78372
@mattclay sorry but I don't understand what we're supposed to to do fix it/workaround it, can you please help?

[2022-07-29 05:56] mattclay commented on #78372
@alexanderATplato Upgrade your `typing_extensions` package, or install the `devel` version of ansible-core which has been updated to work around the issue. You could also wait for the next 2.13 release which will contain the work-around as well.

[2022-07-29 13:04] PascalReintjens opened #78384 "Ansible unexpectedly sets new variable values in sub-sub-roles"
### Summary

When you define a role twice in a playbook which includes a subrole which includes another subrole and you provide a parameter in the first playbook definition but omit it in the second definition, the old value of the first definition will suddenly appear in the sub-sub-role of the second definition.

This (test includes test2, test2 includes test3 - all three roles have a debug mess

[2022-07-29 13:11] #78371 closed, assigned to nobody

[2022-07-29 13:24] s-hertel commented on #78371
@bendem I just noticed your actual results didn't show `(output is hidden)`. The module did have a bug where it always returned echo as `True`, but the correct value was actually used in the module. Multiple arguments for an adhoc task should use space separated k=v format, -a is not additive.

`ansible -i localhost, -m pause -a "echo=false prompt=plz" all`

[2022-07-29 15:14] even-allmighty opened #78385 "lineinfile with regex and back references corrupts file"
### Summary

I am trying to replace the beginning of a line in a file.
[code]
After the replacement the file contains a weird unknown char and is missing a space and two numbers.
[code]

### Issue Type

Bug Report

### Component Name

lineinfile

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 36

### Steps to Reproduce

[code]

### Expected Results

The file s

[2022-07-29 15:36] samccann commented on #78116
Fixed by #78192

[2022-07-29 15:36] #78116 closed, assigned to nobody

[2022-07-29 20:58] sudo-jtcsec opened #78388 "SSH command executes on remote system but ansible reports host as "UNREACHABLE""
### Summary

Using ansible.builtin.raw in a playbook, I can execute a command and see the output in the debug messages from ansible; however, the status is returned as "UNREACHABLE" and that ansible was unable to connect. If I run a command that modifies the host, I can verify afterwards that the command was executed on the remote host by SSHing into it directly.

The host in question is a network

[2022-07-30 08:56] dhoogfr opened #78390 "ansible.builtin.script gives permission denied when using become"
### Summary

When using ansible.builtin.script with become, the script fails to execute with a "permission denied" error.

Using verbose mode, I see that the setfacl is successfully applied on both temporary directory and script, but running the script directly fails.
The script can be executed, as that user, successfully when using "/bin/sh <script>"

This behavior is different between OL 7 and O

[2022-07-30 09:16] dhoogfr commented on #78390
Just found that the issue is not related to the filesystem version.
As it turns out, the 2 systems have their filesystems differently setup, with the Oracle Linux 7 having a separate filesystem for /var/tmp on which the noexec flag has been set.
So the issue has nothing to do with the acl flags, but with the security hardening which does not allow to run scripts in /var/tmp

Given that this might

[2022-07-31 17:23] afunix opened #78393 "with_first_found still executes even when role condition fails"
### Summary

Ansible still tries to execute "with_first_found" even though "when" condition of role fails.

### Issue Type

Bug Report

### Component Name

first_found

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 12.5

### Steps to Reproduce

hosts:
[code]

playbook.yaml
[code]

roles/test/tasks/main.yml:
[code]

Execute: ```$ ansible-playbook -i hosts playb

[2022-07-31 18:34] kTipSSIoYv opened #78394 "No module named 'azure.cli.core.auth'"
### Summary

'Why am I getting this error `No module named 'azure.cli.core.auth'`. I've installed ansible[azure] and also all the requirements from github requirements-azure.txt.

[code]

Here is the complete log.  Any idea what the issue is or on how to fix it?

[code]

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

### OS / Environmen

[2022-07-31 19:09] flowerysong commented on #78393
This is not a bug, your expectation is incorrect: https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#using-conditionals-in-loops

[2022-07-31 19:17] afunix commented on #78393
But "with_first_found" is lookup filter, not a loop. It returns a single file name, not a list.

[2022-07-31 19:21] flowerysong commented on #78393
`with_` anything is a loop using a lookup filter; Ansible doesn't care that this particular lookup filter will only return one item, it's still a loop. If you want to avoid the loop, use the lookup directly in a variable or parameter.

[2022-07-31 20:57] Spredzy opened #78395 "Version picker always redirecting to latest for japanese core documentation- 2.13"
### Summary

When going to https://docs.ansible.com/ansible-core/2.13_ja/index.html, if one tries to select a different version than 2.13 in the version picket one still gets redirected to 2.13 pages.

### Issue Type

Documentation Report

### Component Name

N/A

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

N/A

### Additional Information

N/A

### Code of Conduct

[2022-08-01 06:48] Spredzy commented on #78395
cc @samccann

[2022-08-01 08:15] bendem commented on #78371
Heh, good point, I don't use adhoc commands that often. Didn't realise it didn't work. 👼🏻

Thanks for the fix anywway!

[2022-08-01 08:57] #78394 closed, assigned to nobody

[2022-08-01 12:03] Dule-mart commented on #76402
To be sure I understand what is expected to fix this issue, should the snippet you shared be replaced with

Is that the new behavior expected to be documented for clarity?

[2022-08-01 13:35] sivel commented on #78393
Closing per [above](https://github.com/ansible/ansible/issues/78393#issuecomment-1200481967)

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-01 13:35] #78393 closed, assigned to nobody

[2022-08-01 14:27] Alex-Izquierdo opened #78400 ""collection init" command generates wrong file structure"
### Summary

As is indicated [in the documentation](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections_creating.html#creating-collections-skeleton):
[code]
So, that suggests the collection skeleton will be created in the current folder. Instead, creates the structure:
`namespace/collection-name/[collection-skeleton]`

This is confuse, because the current dir is not the expect

[2022-08-01 14:52] sivel commented on #78385
[code]

The problem here is not `lineinfile`, but the fact that the escape sequence of `\347` is the same as `\xe7`

As such, instead of using simple numeric backreferences like `\3`, to avoid ambiguity you will need to use named backreferences like `\g<3>`.  This is covered at https://docs.python.org/3/library/re.html#re.sub

[2022-08-01 15:07] hvhaugwitz commented on #15297
Yes, but this could be used to read/write any arbitrary file as root (including eg `/etc/shadow` or `sudoers.d` files ), allowing the user to ultimately gain root access.

[2022-08-01 16:14] s-hertel commented on #78400
This isn't really a bug, but the documentation is a bit misleading.

So if this example
[code]
created the skeleton inside `collection_dir`, there wouldn't be a collection called `my_namespace.my_collection`, because the path == the name. The collection created would be something ending in `.collection_dir`.

Since a collection needs to be in a directory called `ansible_collections` to be usable,

[2022-08-01 17:50] sivel commented on #29843
This no longer appears to be a problem with recent versions of ansible.  If you are still having problems, feel free to open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-01 17:50] #29843 closed, assigned to nobody

[2022-08-01 17:55] sivel commented on #30803
I cannot reproduce this issue any longer.  If you are still experiencing issues with devel, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-01 17:55] #30803 closed, assigned to nobody

[2022-08-01 18:33] sivel commented on #35085
I've verified this behavior.

[code]

At first, systemd is neither installed nor running, so `upstart` is chosen as the service manager.  At which point `snapd` is installed, bringing along `systemd` as a dependency.  `systemd` is then started, and is managing services.

For example:

[code]

I suppose the only thing further we could do is compare the file from `/proc/1/exe` to `/lib/systemd/syste

[2022-08-01 18:48] sivel commented on #40039
I'm not able to reproduce this in recent versions of ansible.  On devel I am seeing ~0.01s for a `set_fact` task. If you are still experiencing issues, please feel free to open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-01 18:48] #40039 closed, assigned to nobody

[2022-08-01 19:22] webknjaz commented on #78278
Oh, symlinks in Git are... weird.

[2022-08-01 21:21] sivel commented on #54828
We do not make any changes to `ansible_lsb`, the LSB values are obtained directly from `lsb_release`.  FWIW, Red Hat has decided to remove LSB in favor of just using `/etc/os-release` as of RHEL9.

RHEL8
[code]

RHEL7
[code]

Now, as far as `ansible_distribution`, that value is not meant to be an exact reference to `ID` from `/etc/os-release`. For some distributions it may match, but on RHEL, it d

[2022-08-01 21:21] #54828 closed, assigned to nobody

[2022-08-02 08:11] even-allmighty commented on #78385
Thank you for the detailed explanation and the solution!  It works now.
I had a slight suspicion, that it had to do with escape sequences but did not know how to search for it.

[2022-08-02 08:11] #78385 closed, assigned to nobody

[2022-08-02 08:48] adshukla1902 commented on #59449
Hi, I can work on this! , It would be my first opensource contribution.

[2022-08-02 10:32] krauthosting commented on #77144
@sivel Thanks for the trick. Any workaround with apt module if packages depend on each other?
With plain dpkg wrapped in command/shell module this works, but ain't pretty and idempotent:
`- command: "dpkg {{ package_files|join(' ') if ansible_facts.pkg_mgr == "apt" else omit }}"`

[2022-08-02 11:55] Alex-Izquierdo commented on #78400
In this case I propose the following update of the documentation: https://github.com/ansible/ansible/pull/78404

[2022-08-02 14:25] sivel commented on #67516
This has been resolved in 74eb8b779d93977a3f231abe321150711d311519 and will be included in ansible-core 2.14

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-02 14:25] #67516 closed, assigned to nobody

[2022-08-02 14:34] sivel commented on #74397
This is the solution we'll need to go with.  Probably `use_netrc` with a default of `True`

waiting_on_contributor

[2022-08-02 15:03] #29680 closed, assigned to nobody

[2022-08-02 15:04] bcoca commented on #78384
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-08-02 15:04] #78384 closed, assigned to nobody

[2022-08-02 15:08] bcoca commented on #78388
#
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of c

[2022-08-02 15:08] #78388 closed, assigned to nobody

[2022-08-02 15:11] bcoca commented on #78390
We cannot use sh/bash since that would require shell detection and we cannot use the 'script' shebang as we also support binaries in there and that might not match the system resolution. But the links above give you several options to either avoid the 'no exec' directories or use a specific 'executable' for the script.

[2022-08-02 15:11] #78390 closed, assigned to nobody

[2022-08-02 15:34] dhoogfr commented on #78390
Hi @bcoca

I was unaware of the sh plugin, so thanks for the links.
These seem to indeed give the possibility to put the files into a different location, resolving the issue.

[2022-08-02 15:46] #70180 closed, assigned to nobody

[2022-08-02 16:11] choonchernlim opened #78413 "ansible.posix.synchronize not wrapping source/destination paths with quotes in MacOS Monterey"
### Summary

I'm using `ansible.posix.synchronize` with `--protect-args` options because my source and destination paths have spaces in them.

My codebase looks something like this:
[code]

When I run this with `-vvv` in MacOS Monterey, it failed because it doesn't wrap the source/destination paths with quotes (output using `-vvv`):
[code]

However, if I run it in MacOS Big Sur, it worked successf

[2022-08-02 16:17] #78413 closed, assigned to nobody

[2022-08-02 16:42] PascalReintjens commented on #78384
Hello @bcoca - I'm not trying to ask a question and think I observed a bug. Randomly assigned values which are not there in the sub-parent role and suddenly out of nowhere appear in the sub-sub-role don't seem to be a feature to me. Can you please take another / closer look at the example? Thank you very much.

[2022-08-02 16:45] bcoca commented on #78384
There are 2 imports, but only one version of the role is run, to get the behavior you want you would have to use `include_role` instead as that creates dynamic versions of the role and happens during execution, unlike imports that happen before execution begins.

[2022-08-02 16:55] PascalReintjens commented on #78384
If that would be the case, shouldn't then the two first role-outputs (circled in blue) be equal? They differ for the exectuted role and and included subrole, and only the second include (sub-sub-role) suddenly then copys the value of the first import (circled in red).
![grafik](https://user-images.githubusercontent.com/8560378/182430353-88a7b4a7-69db-423a-af72-d5b5a6d0207e.png)

[2022-08-02 17:12] bcoca commented on #78384
sadly no, the top level roles are deduped by vars signature (so you do actually get 2 diff instances of the role), but that does not translate to dependent roles

[2022-08-02 17:23] proxyconcept commented on #46963
The repo configuration files are in "INI" format, so I think it's better to use the `ini_file` module.

What about this example ?
[code]

It's clean, simple and really useful to specify the section name because some configuration file can define a lot of repos and you don't want to enable all.

[2022-08-02 17:42] rclar802 opened #78415 "Files identified in the description:"
I'm seeing this issue as well, how were you able to resolve?

Files identified in the description:
None

If these files are incorrect, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

_Originally posted by @ansibot in https://github.com/ansible/ansible/iss

[2022-08-02 17:42] rclar802 commented on #78415
SUMMARY
ansible windows -m setup -a 'filter=env*'

[WARNING]: Error when collecting facter facts: Join-Path : Cannot bind argument to parameter 'Path' because it is an
empty string. At line:4 char:47 + $facterPath = Join-Path -Path $_ -ChildPath facter.ex ... +
~~ + CategoryInfo : InvalidData: (:) [Join-Path], ParameterBindingValidationException +
FullyQualifiedErrorId :
ParameterArgumentValidatio

[2022-08-02 17:45] sivel commented on #78415
!component =lib/ansible/modules/windows/setup.ps1

[2022-08-02 17:48] #78415 closed, assigned to nobody

[2022-08-02 19:37] rclar802 commented on #78415
@sivel Where is this component var located, which file?

[2022-08-02 20:23] rclar802 opened #78417 "Setup Module Empty File Path Warning"
### Summary

SUMMARY
Ansible Setup module providing the below warnings

### Issue Type

Bug Report

### Component Name

setup.ps1

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

This is the code which causes the warning:

- name: Gather facts
  setup:
    gather_timeout: 10
  until: <Company Sensitive>
  retries: <Company Sensitive>

[2022-08-02 20:32] sivel commented on #78417
!component =lib/ansible/modules/windows/setup.ps1

[2022-08-02 20:52] #78417 closed, assigned to nobody

[2022-08-02 21:59] ttbigc opened #78420 "local_action does not inherit set_fact: ansible_become_password"
### Summary

I have the following example playbook:
[code]

Playbook run:
$ ansible-playbook -i 1.2.3.4, test.yml
PLAY [all] ********************************************************************************************************************************************************

TASK [Use AWS Secrets Manager to fetch password] ************************************************************************

[2022-08-02 22:24] flowerysong commented on #78420
This is not a bug, this is the normal operation of delegation.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegating-facts

`local_action` is just a special syntax for delegation that always delegates to `localhost`; it's generally better to use the more flexible `delegate_to` syntax, since it's more in line with other keywords that affect task execution.

Delega

[2022-08-02 23:03] ttbigc commented on #78420
Thanks @flowerysong for the quick response and agree this is not a bug. I did not realize there was a delegate_facts option.
I have tested your recommended code change and validated this does indeed correct my issue.

[2022-08-02 23:03] #78420 closed, assigned to nobody

[2022-08-02 23:14] ianw opened #78423 "Document Python version requirements for managed nodes"
### Summary

Change 2fc73a9dc357e776dbbbfd035c86fe880415e60a suggests a documentation section "managed node requirements" but AFAICS, this does not exist.

I would be happy to construct such a section, if there is clarity on what the requirements are.  I am presuming from context (_"and while Python 2 is not a concern anymore"_ from that change) that Python 2 was dropped as a supported platform on

[2022-08-02 23:20] jborean93 opened #78425 "task executor not checking become changes on active connections"
### Summary

The code that checks the connection + become details in a loop is not applying the become state on connections that have the `connected` attribute set to `True`. If connected is `True` the else block will just re-use the existing connection plugin which won't have the `become` details from the first task on it.

https://github.com/ansible/ansible/blob/27ce607a144917e6b9a453813a7df6bbc

[2022-08-02 23:59] #78283 closed, assigned to nobody

[2022-08-03 00:22] bcoca commented on #78425
need to check, but at one point i was adding a 'hashing' to plugin options to identify their changes, that could be used on connection (not just become, but shell options can also change)

[2022-08-03 01:24] #78112 closed, assigned to nobody

[2022-08-03 03:12] Artur-at-work commented on #76666
I'm unable to reproduce the exact ssl overflow error.
But 2.5GB file caused below problem while my server has 16GB RAM. It doesn't happen with small files.
[code]

It can be fixed by using BytesIO when reading the file in `prepare_multipart(fields)`:
[code]
(I can open a separate issue if it worth looking into)

P.S Adding suggested fix does not affect the results, but need to add `getbuffer()`
[c

[2022-08-03 05:20] #78334 closed, assigned to nobody

[2022-08-03 08:16] sjpb commented on #46963
Good catch, thanks.

[2022-08-03 10:40] killshotrevival commented on #78190
Hi @ares-b, the way code this feature is implemented is such that, if the archive path already contains a file, so we will create a temp archive file and compare it with the existing one, if they are the same, so nothing is done, else old one is replaced with the new one.

You can also [check](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/git.py#:~:text=%23%20If%20git%20archive

[2022-08-03 15:11] s-hertel commented on #77036
We discussed the 2nd example you gave in backlog today and think this is working as expected. https://github.com/ansible/ansible/issues/77036#issuecomment-1041850743 seems to do what you want. Please reach out on IRC or the mailing list if you have further questions.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2022-08-03 15:11] #77036 closed, assigned to nobody

[2022-08-03 17:36] bcoca commented on #78425
#69947 still WIP, but that would make this much simpler

[2022-08-03 18:32] rclar802 commented on #78417
@sivel What file should I be updating?

[2022-08-03 18:34] sivel commented on #78417
@rclar802 I'm not sure what you are asking.  The bot has instructed you that the file you are reporting an issue with no longer resides in this repository.  The `setup.ps1` file in question now lives in https://github.com/ansible-collections/ansible.windows

[2022-08-03 18:38] jborean93 commented on #78425
The trouble with that approach is you need to instantiate the new connection anyway and set the options where this code currently runs before the connection plugin with the current loop iteration's vars has been set.

[2022-08-03 18:39] rclar802 opened #78431 "Setup Module Empty File Path Warning"
### Summary

Ansible Setup module providing the below warnings:

[WARNING]: Error when collecting facter facts: Join-Path : Cannot find drive. A drive with the name 'z' does not exist.  At line:9 char:31  + ...
$facterPath = Join-Path -Path $_ -ChildPath facter.exe  +                                  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      + CategoryInfo          :
ObjectNotFound: (z:String)

[2022-08-03 18:48] sivel commented on #78431
@rclar802 Please stop just re-opening this issue, and follow the instructions you have been provided.  This issue needs to be opened at https://github.com/ansible-collections/ansible.windows

The file in question is no longer maintained in this repository.

!component =lib/ansible/modules/windows/setup.ps1

[2022-08-03 18:48] #78431 closed, assigned to nobody

[2022-08-03 18:57] rclar802 commented on #78431
Opened the following https://github.com/ansible-collections/ansible.windows/issues/397 instead

[2022-08-03 19:12] zendritic opened #78433 "facts/ospf_interfaces/ospf_interfaces.py can't sort"
### Summary

Trying to use nxos_ospf_interfaces on an N9k, facts gathering fails at line 78 in populate_facts, in facts/ospf_interfaces/ospf_interfaces.py with exception `'<' not supported between instances of 'str' and 'int'`. The function is using `sorted` with a lambda function that attempts to split the interface name by '/' and convert digits to integers, however, I suspect this is failing wh

[2022-08-03 19:17] sivel commented on #78433
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2022-08-03 19:17] #78433 closed, assigned to nobody

[2022-08-03 19:51] samccann commented on #59449
Great thanks for the help @adshukla1902 !!

[2022-08-03 20:03] bcoca commented on #78425
true, but it is really only way to resolve the options to know if they changed

[2022-08-03 20:12] jborean93 commented on #78425
The problem here isn't if the options has changed on the connection or become plugins itself (which is does handle with `set_options`) but rather 2 other things.

* the very rudimentary `_load_name` check may not match `ansible_connection` or the task's `connection: ...`
* whether become is enabled or not when re-using the connection

The first is a problem because the value of `ansible_connection

[2022-08-03 20:17] bcoca commented on #78425
you also cannot reuse if the connection or become info change, specially for 'persistent' ones.

[2022-08-03 20:20] jborean93 commented on #78425
And why is that, it's not like become is dependent on the connection itself today, it's a brand new process on the connection.

[2022-08-04 01:38] Artur-at-work commented on #74397
Hi all,
I'd like to take this one.
I was able to reproduce the problem. Thanks for the detailed steps.

[2022-08-04 01:42] roelj4ns3n opened #78436 "More features within templates instead of less."
### Summary

I'm maintaining over 223 roles since Ansible 1.3. Something like debops, but then not yet published. Now it seems that you're removing basic features from Ansible.

I'm quite used to using the template module to create and maintain files for each distro and version. Within all Jinja2 files I'm experiencing a limited set of options, but it worked somehow to maintain all files until Ans

[2022-08-04 06:20] yajo opened #78437 "Gathering facts for skipped plays"
### Summary

When running a playbook where two plays have different tags, all plays gather facts. Even if the tag selector didn't match.

This is particularly harmful when one play creates hosts and the next plays deploy to them. In my real scenario, the plays follow this order:

1. Terraform plan
2. Terraform apply
3. Update dynamic inventory
4. Provision created hosts

When I run only play 1 sel

[2022-08-04 06:59] mkrizek commented on #78437
From https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#special-tags-always-and-never:

[2022-08-04 07:10] nnstt1 opened #78438 ""ansible-config init" command generates ansible.cfg with missing commentouts"
### Summary

I generated ansible.cfg using the `ansible-config init` command.
The `-f vars` argument was used to specify the output format, and commented out the output with the `--disabled` argument.

The result is a yaml format configuration with the array elements uncommented out.
It's probably not that important but I think this array element needs to be commented out.

[code]

### Issue Type

[2022-08-04 07:12] yajo commented on #78437
Hmm indeed, adding `tags: two` to the 2nd play fixes the bug.

Sorry, I didn't notice that part of the docs.

[2022-08-04 07:12] #78437 closed, assigned to nobody

[2022-08-04 09:35] piotrkochan opened #78440 "Installing collection specific version from the requirements file not working as expected"
### Summary

"Requirements" file allows to specify role/collection version. It works ok for the roles but for collections version is ignored and simply latest version is being installed.

### Issue Type

Bug Report

### Component Name

galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

The `requirements.yml` file contents:

[

[2022-08-04 11:45] jborean93 commented on #78440
There’s a few misconceptions here:

* `src` is not a key in the requirements entry it’s `source`
* Even then `source` is the Galaxy API server to download from
* To specify a git based collection the `name` needs to be the git url
* When you specify `name` as `namespace.name` it detects the entry as a collection to install from a Galaxy endpoint. This value is what constitutes where the collection

[2022-08-04 12:56] twouters opened #78442 "ansible galaxy install collection from git replaces directory symlinks with empty dir"
### Summary

When a path in a collection is a symlink to a directory, the symlink is replaced with an empty dir instead of either a copy of the symlink target or the original symlink.

collection source:
[code]

collection after installation (from git source):
[code]

role `meta/requirements.yml` contains the following:
[code]

contents of collection tar.gz after `ansible-galaxy collection build`

[2022-08-04 13:35] bcoca commented on #78425
not in all cases, specially for persistent, but that also requires a new type of become plugin that does elevation as a toggle vs a wrapper

[2022-08-04 13:57] bcoca commented on #78436
[code]

[2022-08-04 14:02] rclar802 commented on #78415
Moved issue to https://github.com/ansible-collections/ansible.windows/issues/397

[2022-08-04 16:29] #76402 closed, assigned to nobody

[2022-08-04 16:45] sivanagireddyb opened #78444 "postgresql_query is not able use variable list as postgreSQL Json"
### Summary

I am not able to use the variable list as postgreSQL Json argument in the psql query

PostgreSQL accept Json in format ["test@gmail.com","test1@gmail.com"]
On manipulating variable list ["test@gmail.com",  "test1@gmail.com"]

Error:
`
Invalid input syntax for type json\n LINE 1:... Token \"'\" is invalid
`

### Issue Type

Bug Report

### Component Name
postgresql_query

### Ansible V

[2022-08-04 16:50] #78444 closed, assigned to nobody

[2022-08-04 18:22] ben-hart-jamf commented on #76493
Old issue but I'm experiencing the same problem. Only difference is I ran `ansible-config init > /etc/ansible/ansible.cfg` But.. exact same resulting error.
This is a latest 6.1.0 installation on a dev machine so not 'critical' however it's importance is not much less due to testing some dynamic inventory plugins that I have outstanding projects for at work. So.. important.
I'm open to any suggest

[2022-08-04 18:58] bcoca commented on #76493
the fix is making it 'raw':
[code]

[2022-08-04 19:08] nitzmahone commented on #78423
Addressed by #78424 - thanks!

[2022-08-04 19:24] nitzmahone commented on #78436
There were a number of reasons the change was made, and it's been the standard for quite a long time- see the discussion linked above if you'd like more context, but we're unlikely to reimplement the old behavior. Closing...

[2022-08-04 19:24] #78436 closed, assigned to nobody

[2022-08-04 19:28] nitzmahone commented on #78440
Looks like a misunderstanding- closing as above.

[2022-08-04 19:28] #78440 closed, assigned to nobody

[2022-08-04 20:08] ulvida opened #78454 "-g argument with ansible-galaxy for collections similar to roles"
### Summary

I'm starting with collections and realize that the `-g` option for `ansible-galaxy` that allows to download roles as git repos doesn't work for collections:
[code]
Is it planned to implement this option for any git reference for `ansible-galaxy`? It is very usefull when you use `ansible-galaxy install ... -g` to work on your roles and collections.

More widely, I was surprised that th

[2022-08-04 20:33] sivel commented on #78454
Duplicate of https://github.com/ansible/ansible/issues/73904

[2022-08-04 20:33] #78454 closed, assigned to nobody

[2022-08-04 20:42] sivel commented on #78442
Guessing this is a result of this section of code:

https://github.com/ansible/ansible/blob/db335498d0af11f01b1384487896729a154bc977/lib/ansible/galaxy/collection/__init__.py#L1230-L1235

Something like this may solve it:

[code]

[2022-08-04 20:53] ianw commented on #78423
@nitzmahone @jborean93 Unfortunately #78424 doesn't address this issue.  That fixes the link to the _control_ node (what runs Ansible) but not the _managed_ node.  I think we need some input on what the actual policy for this is.

This has come up because zuul-jobs https://zuul-ci.org/docs/zuul-jobs/ is a large repository of playbooks and roles that run under Zuul; including some with library func

[2022-08-04 21:02] sivel commented on #78423
| Version | Controller Python | Target Python |
|---|---|---|
| 2.11 | Python 2.7, Python 3.5 - 3.9[^1] | Python 2.6 - 2.7, Python 3.5 - 3.9 |
| 2.12 | Python 3.8 - 3.10 | Python 2.6 - 2.7, Python 3.5 - 3.10 |
| 2.13 | Python 3.8 - 3.10 | Python 2.7, Python 3.5 - 3.10 |
| 2.14 | Python 3.9 - 3.11 | Python 2.7, Python 3.5 - 3.11 |

I'm working on a larger version of that table to include in docs, b

[2022-08-05 02:41] A-BenMao opened #78457 "changed_when and async is conflict in a task"
### Summary

when i use async in a task, the task  report a error like this:

`"msg": "The conditional check '\"<<CHANGED>>\" in rsync.stdout\n' failed. The error was: error while evaluating conditional (\"<<CHANGED>>\" in rsync.stdout\n): Unable to look up a name or access an attribute in template string ({% if \"<<CHANGED>>\" in rsync.stdout\n %} True {% else %} False {% endif %}).\nMake sure yo

[2022-08-05 06:34] vineet5583 opened #78458 "task is failing with UNREACHABLE! - Failed to connect to the host via ssh while docker restart"
### Summary

 What problem/issue/behavior are you having trouble with?  What do you expect to see?
1) For the first time installation using ansible , while restart docker daemon , docker service task is failing with UNREACHABLE! - Failed to connect to the host via ssh:
2) Working fine , if we re-trigger again the same.

### Issue Type

Bug Report

### Component Name

ssh

### Ansible Version

[cod

[2022-08-05 09:03] oraNod opened #78459 "Add "Introduction to Ansible" content to getting started"
### Summary

Some comments on the new getting started section here: https://www.reddit.com/r/sysadmin/comments/w1uwm5/my_org_will_soon_be_using_ansible_because_of_me/ign34mu/?utm_source=share&utm_medium=ios_app&utm_name=iossmf&context=3

"The first link provided https://docs.ansible.com/ansible/latest/getting_started/index.html already assumes I know about ansible and what it's capable of. This is

[2022-08-05 11:50] casoars opened #78460 "buitin.getent module don't register result for every host with delegate_to"
### Summary

Getent module did a "naturally" register of his result.
I used getent module in a loop to populate delegate_to param.

getent_passwd var is populate with only the last host on the loop. There is no getent_passwd var for every host.

To bypass this behavior, I put a register param and its solve the pb.

### Issue Type

Bug Report

### Component Name

getent

### Ansible Version

[code]

[2022-08-05 11:57] tremble opened #78461 "RFE: Mechanism for deprecations where a default will change."
### Summary

We're trying to make the AWS modules more internally consistent.  In some cases this means we need to change the default values for parameters.

What we're been doing is removing the default, adding a `module.deprecated(...)` note and then setting the 'real' default

[code]

However, it's been pointed out that deprecate adds an additional message to the end of the deprecation note:
`T

[2022-08-05 11:58] Joe-Heffer-Shef commented on #30411
Could this be caused by an input prompt (e.g. a password request)?

[2022-08-05 13:25] ulvida commented on #78454
Ok, thanks.  Sorry I haven't search enough before putting the issue.

[2022-08-05 15:05] #77969 closed, assigned to nobody

[2022-08-05 16:03] salderma commented on #78204
I started having this issue as well -

[code]

[2022-08-05 17:50] samccann commented on #75398
closing in favor of #78395

[2022-08-05 17:50] #75398 closed, assigned to samccann

[2022-08-05 20:37] alok15ee opened #78463 "jenkins_plugin does not install plugins but says changed in output"
### Summary

This issue has started to appear again with
ansible --version
ansible 2.9.27

Based on the previous tickets https://github.com/ansible/ansible/issues/26199
 now it fails on both "latest" and "present"

### Issue Type

Bug Report

### Component Name

lib/ansible/modules/web_infrastructure/jenkins_plugin.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

R

[2022-08-05 20:40] #78463 closed, assigned to nobody

[2022-08-05 21:40] briantist commented on #78457
By using `poll: 0` you are doing the "fire and forget" version of the task. The return from the task contains information about the task started, but not its final status from finishing, so there's no `stdout` to check.

You can use [`async_status`](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/async_status_module.html) to check on whether or not the task is done, and if it's

[2022-08-05 22:04] clayg opened #78464 "Plugin abstract TypeError outputs: the connection plugin 'foo' was not found"
### Summary

When trying to write a new connection plugin I failed to fully implement the abstract base class interface, but instead of an error telling me to code harder like:
[code]
I just got:
[code]
I had some clue something more than "not found" was going on because my plugin did show up in `ansible-doc -t connection foo` and also if reanmed the Connection class I got a AttributeError.
I thin

[2022-08-06 03:16] A-BenMao commented on #78457
@briantist thank you very much，i will close this issue.

[2022-08-06 03:16] #78457 closed, assigned to nobody

[2022-08-06 09:58] twouters commented on #78442
Suggested patch works for me, but needs an additional check to skip `os.chmod()` when `dest_file` is a symlink because it throws an exception when the symlink target doesn't exist yet.

I've tried the `follow_symlinks=False` argument for `os.chmod()` but Python claims to not support it on Linux: `chmod: follow_symlinks unavailable on this platform` so I think it has to be an explicit `if not os.pa

[2022-08-06 11:09] MoonSweep commented on #55125
Any news on fixing this bug ? It's still present in ansible-core 2.12.4.

[2022-08-07 12:16] mdivyamohan commented on #78118
@mkrizek Thanks for sharing your output.

I tried to check whether the [commit](https://github.com/ansible/ansible/pull/75444/commits/394f1c4ff1731507b76677c340e36033ea0e45f4
) done is getting hit in my system.

I added some logs:

[code]

The logs indicate that transaction return code is 0 in my case.
That explains why the [fix](https://github.com/ansible/ansible/pull/75444) is not working for me

[2022-08-07 17:59] darkdragon-001 opened #78467 "Add `from_toml` and `to_toml` filter plugins"
### Summary

Since Python 3.11 will [add official TOML support](https://docs.python.org/3.11/library/tomllib.html), no more external Python packages are required to add `to_toml` and `from_toml` filters to ansible core which had been a blocker before.

### Issue Type

Feature Idea

### Component Name

filter plugins

### Additional Information

_none_

### Code of Conduct

- [X] I agree to follow

[2022-08-08 06:33] mkrizek commented on #78467
Duplicate of https://github.com/ansible/ansible/issues/69120

[2022-08-08 07:07] mkrizek commented on #78118
Yes:
[code]

Then this appears to be an issue in `dnf` that has been fixed in a newer version.

I am going to go ahead and close this as "fixed upstream". If the issue persists after upgrading your `dnf` version, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!

[2022-08-08 07:07] #78118 closed, assigned to nobody

[2022-08-08 07:37] hobson42 opened #78469 "community.general.archive does not fail when it fails to produce an empty archive"
### Summary

I tried to create a new archive, using both **path: aDirectory** and **dest: aFileName.gz.**

I had miss-typed aDirectory and it did not exist, therefore there was nothing to put into that archive. Instead of failing I got the following reply:

        "archived": [],
        "arcroot": "/home/ian/BackupFiles/hobson42/home/ian/websites/ianhobson.co.uk/",
        "changed": false,

[2022-08-08 07:39] #78469 closed, assigned to nobody

[2022-08-08 13:06] Lycowolf commented on #74904
Hi, I think hit this issue last week!

The original example doesn't reproduce the issue (it works as expected), I am now trying to create a new self-contained example.

This is what I have now:

I am trying to set specific package versions for Java. To do it, I create a list of them in roles/java/vars/redhat8.yml:

[code]

Then I select the correct version in roles/java/tasks/main.yml:
[code]

and

[2022-08-08 13:34] sivel commented on #78467
It would still be a blocker for `to_toml` since the `tomllib` module in Python 3.11 only supports parsing/reading.

Closing as per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-08 13:34] #78467 closed, assigned to nobody

[2022-08-08 13:47] docapotamus commented on #78063
@bcoca I can't run an update if the key isn't ran through `dearmor`. Is there something missing from the documentation?

With a straight download I get the following error:

[code]

If I manually follow the steps and `dearmor` the GPG key the update is successful.

[2022-08-08 13:55] ulvida commented on #78454
I let here the comment I let in IRC (through element bridge):

I understand the reasons and respects community decisions. So I developed a little script to download as git repos collections and repos that I can, and then added an `ansible-galaxy install -r requirements.yml --ignore-error` to finalize with the "static" collections and roles.

There I was really surprised that this command silently

[2022-08-08 14:40] sivel commented on #78204
I've looked back into this in a little more depth, and this is the cause:

https://github.com/ansible/ansible/blob/05608b20e8f875d51866a184f8c579fe60498e05/lib/ansible/cli/galaxy.py#L504

Effectively when you use `=`, `sys.argv` looks like:

[code]

as opposed to:

[code]

As such, that logic linked above does not detect `--role-file` in args.

To address this, would require something like this:

[2022-08-08 14:55] NoToComments opened #78473 "Suggest to Add ssh-keygen -a (Trials) Option"
### Summary

I am trying to achieve a best practise solution with ansible. I have found out that the -a Option from the underlying ssh-keygen is missing.

The -a Option would it allow to improve the security of the generated keys when creating users and their ssh-keys
[SSH-Keygen](https://linux.die.net/man/1/ssh-keygen)

As the -a Option can help to protect against brute forcing.

The default is 1

[2022-08-08 15:30] salderma commented on #78204
@sivel  Thanks for looking into this. I am a little confused as to how this just seemed to come up all of a sudden.  It as effectively broken most of my Vagrant/Ansible based IaC projects where I use a `requirements.yml` file to pull collections and roles (which avoids having to store them in my repos).

I admit, my local/user python3 libraries is probably a mess and in need to be seriously cleane

[2022-08-08 15:41] SerdarYalcin opened #78474 "Unable to manage snapshots for non-existing VM"
### Summary

When I try to take a snapshot of a VMware VM, I get the below error:

### Issue Type

Bug Report

### Component Name

lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"

[2022-08-08 15:45] sivel commented on #78204
It was a result of adding collection signature verification in 2.13.0.

[2022-08-08 15:47] #78474 closed, assigned to nobody

[2022-08-08 18:39] samccann opened #78478 "Update docs build requirements"
### Summary

Update the requirements for docs builds to keep to more modern release versions of the dependent packages.

Requires:

- [x] collaborating with `antsibull-docs` roadmap
- [x] update and test
- [x] coordinate with core to update the test container packages.
- [x] coordinate with productization team to ensure no gotchas with the new packages.

Community Ansible docs currently use https:

[2022-08-08 20:02] bcoca commented on #78063
@docapotamus nothing that i know of, i tested it and 'it works for me'TM but I really don't know the inner workings nor conditions for success, I was just given the hint by a user, tested it and documented it. So if you find this to be unreliable I'll have to remove/update the docs to reflect this.

[2022-08-09 01:06] ulvida opened #78481 "For git sourced collections, ansible-galxy always --force collections install"
### Summary

If the directories where `ansible-galaxy` installs collections are not empty, for the git repos, it overwrites the content of these directories, even without `--force` options. That's not [what is documented](https://docs.ansible.com/ansible/latest/cli/ansible-galaxy.html#cmdoption-ansible-galaxy-collection-install-f).

I have in my requirements file:
[code]
With ansible I manage to h

[2022-08-09 05:35] vineet5583 commented on #78458
<xx.xx.xx.118> (0, b'', b'')
changed: [xx.xx.xx.118] => {
    "attempts": 1,
    "changed": true,
    "cmd": "sudo systemctl restart docker",
    "delta": "0:00:01.251256",
    "end": "2022-07-28 10:39:40.549962",
    "invocation": {
        "module_args": {
            "_raw_params": "sudo systemctl restart docker",
            "_uses_shell": true,
            "argv": null,
            "chdir": n

[2022-08-09 07:53] docapotamus commented on #78063
@bcoca sure thing, I'm simply trying to automate the install of the fluent:bit on all hosts. The docs reference `buster` but `bullseye` is also available through the depo. The install is on Debian Bullseye.

The block in question is:
[code]

The error during the run is:
[code]

This can be recreated as per the documentation by removing the `gpg --dearmor`

[code]

By using the documented `--dearmo

[2022-08-09 14:16] phemmer opened #78482 "Jinja2 Scoped Blocks doesn't work with roles with default variables"
### Summary

Using the `scoped` keyword on a block causes ansible to try to evaluate variables from `defaults` that are not used.

This is the exact same as issue #41675. However the response on that issue claims upgrading to jinja2 >= 2.9 resolves the issue. I am running JInja 3.1.2 and issue is not resolved.

### Issue Type

Bug Report

### Component Name

template

### Ansible Version

[code]

[2022-08-09 14:32] samccann commented on #78069
@nitzmahone Should we just point to package facts instead in the description? If so... where are they? :-)

[2022-08-09 14:41] sivel commented on #78069
@samccann specifically, the `package_facts` module.  Although technically speaking, the `list` arg here provides more functionality, but goes against our design goals, which is why we've not really documented it.  But in lieu of actually deprecating it or writing replacement functionality, the values are:

* updates
* upgrades
* installed
* available
* repos
* repositories
* [any name of an OS pac

[2022-08-09 15:06] s-hertel commented on #78481
This is working as intended. Here's the changelog for the commit implementing this behavior https://github.com/ansible/ansible/commit/595413d11346b6f26bb3d9df2d8e05f2747508a3#diff-18699ba61b34cb094dff4786fc29ff26506d8430b9a79776b99d47da7f88fb3eR8-R9. Installing a collection from a git repo is a developer shortcut (instead of  `git clone`, `git checkout`, `ansible-galaxy collection build`, `ansible

[2022-08-09 15:06] mkrizek commented on #78458
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-08-09 15:06] #78458 closed, assigned to nobody

[2022-08-09 15:08] mkrizek commented on #78460
See https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegating-facts.

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailin

[2022-08-09 15:08] #78460 closed, assigned to nobody

[2022-08-09 16:33] sivel commented on #78275
Yes.  The `packaging` library is a dependency.  We have it listed at:

https://github.com/ansible/ansible/blob/e89176caacbe068b2094bb4cc31e9a104aa3b295/requirements.txt#L9

Technically it looks like `cryptography` is also missing from the list of dependencies in the arch package, but is likely being brought in as a dependency of paramiko.

https://archlinux.org/packages/community/any/ansible-core/

[2022-08-09 16:33] #78275 closed, assigned to nobody

[2022-08-09 17:40] samccann commented on #59873
This has been fixed - https://docs.ansible.com/ansible/latest/collections/ansible/builtin/setup_module.html#examples

[2022-08-09 17:40] #59873 closed, assigned to bcoca

[2022-08-09 18:54] samccann commented on #78478
After troubleshooting a related issue with the docs-build.requirements.txt file, we decided to pin `antsibull-docs` to 1.0.0 for now. The later versions (1.1 and 1.2.1) both have code to support side-car docs feature (a 2.14 core feature). That feature is not complete so we don't want updated version until it is and we can verify the docs build.

Another item - CI infrastructure on ansible/ansible

[2022-08-09 19:13] #78400 closed, assigned to nobody

[2022-08-09 19:49] samccann commented on #68093
Duplicated by https://github.com/ansible/ansible/issues/78028

[2022-08-09 19:49] #68093 closed, assigned to acozine

[2022-08-09 19:52] samccann commented on #76828
Duplicate of https://github.com/ansible/ansible/issues/60282

[2022-08-09 19:52] #76828 closed, assigned to nobody

[2022-08-09 19:59] samccann commented on #58643
Docs were updated in the past that simplified the statement  - https://docs.ansible.com/ansible/devel/playbook_guide/playbooks_variables.html#understanding-variable-precedence

[2022-08-09 19:59] #58643 closed, assigned to nobody

[2022-08-09 20:33] samccann opened #78485 "Remove FAQ about not having Ansible as wheels"
### Summary

Ansible as wheels has been supported since 2.13 so remove the FAQ entry at https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#why-don-t-you-ship-ansible-in-wheel-format-or-other-packaging-format

### Issue Type

Documentation Report

### Component Name

docs/docsite/rst/reference_appendices/faq.rst

### Ansible Version

[code]

### Configuration

[code]

### OS / En

[2022-08-09 20:34] samccann commented on #78485
Docs fix:
Remove https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/reference_appendices/faq.rst#L712 through L719 (aka the whole section including anchor).

[2022-08-09 22:45] opoplawski opened #78486 "Allow creation of mobile accounts on macOS"
### Summary

macOS has the concept of "mobile" accounts.  These are accounts that are originally from a directory service like Active Directory but are copied into the local dscl /Users database so that they can be accessed off-line.  When we setup users on a machine, we need them to be "mobile" users.  If a mobile account does not already exist for a user, the `user` task will create a new local-

[2022-08-10 05:57] mkrizek commented on #78482
This has been fixed in `devel` in #56116 which is unlikely to be backported as it introduces a breaking change.

[2022-08-10 09:13] gouthamkamre68 opened #78488 "Error while running parted script: /usr/sbin/parted -s -m -a optimal /dev/sda -- unit KiB mklabel msdos mkpart primary 0% 100%","
### Summary

Unable to create partitions in ubuntu.

Disk /dev/sda: 30 GiB, 32213303296 bytes, 62916608 sectors
Disk model: Virtual Disk
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes
Disklabel type: gpt
Disk identifier: 121EAE5F-D30A-4CC2-B0CC-797EE689E31C

Device      Start      End  Sectors  Size T

[2022-08-10 09:20] #78488 closed, assigned to nobody

[2022-08-10 11:19] adshukla1902 commented on #59449
Great, Started working on it!

[2022-08-10 12:14] PrieJos opened #78490 "Wrong module FQCN computed by sanity test `ansible-doc` when having a deep module struct"
### Summary

Hello,

We are developing a new custom collection that has the following deep module structure:

[code]

So now if we run the command `ansible-test sanity --test ansible-doc`, it is failing with this error:

[code]

The issue seems to be related to a bug in the way the class `ansible_test._internal.commands.sanity.ansible_doc.AnsibleDocTest` computes the module FQCN inside the method

[2022-08-10 14:41] GannonTdW opened #78491 "ansible-galaxy install bug with disable_gpg_verify"
### Summary

I'm not sure but it may be the same problem as described here: https://github.com/ansible/ansible/issues/78204
The https://github.com/ansible/ansible/pull/78475 fix may be the problem.

As described below, I have the problem with
[code]

But no problem with
[code]

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

#

[2022-08-10 14:54] sivel commented on #78491
Yes, this is a duplicate of https://github.com/ansible/ansible/issues/78204

[2022-08-10 14:55] sivel commented on #78491
Although #78475 will not fix this, as it specifically calls out that edge cases with handling of `-r` are not addressed in that PR.

[2022-08-10 14:59] samccann commented on #59449
Cool thanks. If you are doing multiple files, please use multiple PRs so each PR is less than say 15 files? Easier to review etc.

[2022-08-10 15:16] bcoca commented on #78063
have you tried to follow my example and acutally use the `.asc` extension?

[2022-08-10 15:23] ErikJiang opened #78492 "Passing the value 'false' to run_once is invalid in loop task"
### Summary

😄 Here is some description of my issue: https://github.com/kubernetes-sigs/kubespray/issues/9126#issuecomment-1210807498

when `run_once` and `loop` appear in the task at the same time, the value of `run_once` is a variable and the variable is `false`, and the expected result of the task does not take effect at this time.

### Issue Type

Bug Report

### Component Name

ansible-playbo

[2022-08-10 15:49] sivel commented on #78492
The problem is located at:

https://github.com/ansible/ansible/blob/ce6c9befb88dba43420e5c2867af8c4f9aee3ff9/lib/ansible/plugins/strategy/__init__.py#L446-L448

Templating of `task.run_once` doesn't happen in the strategy, and has to be done as needed.

We do it in the linear and free strategies:

https://github.com/ansible/ansible/blob/ce6c9befb88dba43420e5c2867af8c4f9aee3ff9/lib/ansible/plugins/

[2022-08-10 16:00] samccann opened #78493 "Python 3 page in appendix is outdated"
### Summary

This page still has older python versions listed:
https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html

Specifically this note is incorrect:
"On the controller we support Python 3.5 or greater and Python 2.7 or greater. Module-side, we support Python 3.5 or greater and Python 2.6 or greater."

### Issue Type

Documentation Report

### Component Name

docs

[2022-08-10 16:01] samccann commented on #78493
Once https://github.com/ansible/ansible/pull/78468 is merged, we can reuse the python tables there to clarify requirements.

[2022-08-10 16:12] tremble opened #78494 "Unit testing documentation is out of date"
### Summary

Speaking to @mattclay, using the `pytest` framework for unit tests is preferred over `unittest` framework.

Both https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/testing_units.rst and https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/testing_units_modules.rst have a mix of both frameworks in the examples, the `unittest` examples should pr

[2022-08-10 18:10] akamanzi commented on #78485
@samccann, Can I take on this issue? looks like an easy fix and would be my first contribution.

[2022-08-10 18:26] samccann commented on #78485
@akamanzi yes please do! Thanks!

[2022-08-10 19:06] jborean93 commented on #64638
This file no longer exists in Ansible, closing.

[2022-08-10 19:06] #64638 closed, assigned to nobody

[2022-08-10 19:27] jborean93 commented on #77204
Closing as there are redirects already in place. If there are specific problems please open an issue for the specific redirect problem and the docs team will work on implementing it. The collection docs restructure was a pretty big split and while the docs team tried to cover everything things did slip through the cracks.

[2022-08-10 19:27] #77204 closed, assigned to samccann

[2022-08-10 19:35] jborean93 commented on #77249
Going forward the `crypt` fallback will no longer work as it is now [deprecated](https://peps.python.org/pep-0594/#crypt) and will be removed in a newer Python version. The proper workaround is to ensure you have `passlib` supported.

[2022-08-10 19:56] #78482 closed, assigned to mkrizek

[2022-08-10 20:01] #76142 closed, assigned to nobody

[2022-08-11 07:21] zkrakko opened #78509 "Jinja expressions are not evaluated in credential variables if paramiko plugin is used"
### Summary

I use paramiko ssh plugin. I try to set `ansible_ssh_user`, `ansible_ssh_pass`, etc. from jinja expression. This has worked correctly in version 2.10, jinja expressions were evaluated. But in ansible-core 2.13 jinja expressions are not evaluated:

`ESTABLISH PARAMIKO SSH CONNECTION FOR USER: {{ some_variable | default('cirros') }} on PORT 22 TO 10.xx.xx.xx`

### Issue Type

Bug Report

[2022-08-11 10:49] imesias opened #78511 "rds_param_group missing support for RDS cluster parameter group (Duplicate of closed #61205)"
Looks like [rds parameter groups](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-parameter-group.html) and [rds cluster parameter groups](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-cluster-parameter-group.html) go thru different endpoints in the AWS API.  (Most likely because the cluster parameters are for Aurora DB clusters only.)

I wonder if we need to extend

[2022-08-11 10:57] imesias commented on #78511
As a workaround, in the past I have either used shell and cli or I have simply made copy of the original `rds_param_group` (https://github.com/ansible-collections/community.aws/blob/main/plugins/modules/rds_param_group.py) dropped it in `~/.ansible/plugins/modules` and updated the boto calls to call the cluster alternative methods ie. instead of describe_db_parameter_groups` to `describe_db_cluste

[2022-08-11 10:58] mkrizek commented on #78511
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum

[2022-08-11 10:58] #78511 closed, assigned to nobody

[2022-08-11 14:17] bcoca commented on #78492
@sivel iirc this has to do with other conditions that can trigger 'run once' mechanics, like an action with the property 'bypass_host_loop'

[2022-08-11 15:10] samccann commented on #76133
@bcoca the docs fix here seems quite simple - add gpg to the requirements on the `apt_repository` module. But I'm unsure if you want to keep this ticket open for a bugfix to change apt_key to something else because it's deprecated?

[2022-08-11 15:13] bcoca commented on #76133
since then i've updated apt_repository to use gpg in case apt-key is not present so 'requirements: apt-key or gpg

[2022-08-11 15:19] jctanner opened #78516 "some galaxy cli functions return non-zero on success"
### Summary

Some functions (role search specifically) have an exit code of 1, even if the command was successful. Poking through the code, it looks as though in some of the cli functions they return "True" instead of an integer.

https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/galaxy.py#L1713

### Issue Type

Bug Report

### Component Name

galaxy

### Ansible Version

[code]

### C

[2022-08-11 16:14] samccann commented on #75433
Scenario guides need to move to their related collection. Opened an issue for this at https://github.com/ansible-collections/azure/issues/942

Closing this issue in favor of that. Thanks for reporting this!

[2022-08-11 16:14] #75433 closed, assigned to nobody

[2022-08-11 16:28] samccann commented on #76133
Documentation fix:

Add a line above https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/apt_repository.py#L102
That says:
- apt-key or gpg

[2022-08-11 17:41] mattclay commented on #78490
@PrieJos Thanks for the excellent bug report! I've opened https://github.com/ansible/ansible/pull/78518 to fix this.

[2022-08-11 17:51] mattclay commented on #78478
The docs build memory usage is directly related to the available CPU cores. Since the build is done in parallel, each additional CPU core increases the memory required. For the core docs build, I found the following:

With 2 CPUs each required ~500 MB of memory. At 4 CPUs each required ~750 MB and at 6 CPUs each required ~850 MB. The numbers will of course change as sphinx and other tools are upda

[2022-08-11 17:53] #78490 closed, assigned to nobody

[2022-08-11 17:54] tigerblue77 commented on #76133
@bcoca As apt-key is deprecated, you should probably only use gpg and install it automatically if needed

[2022-08-11 18:04] ulvida commented on #78481
Thanks for your documented answer @s-hertel ! It's really puzzling the API changes between roles and collections.
I will coinsider ansible-galaxy as a deployment tool only. To set my git roles environment, I developed [a little absible role with git module](https://framagit.org/gurisitx/devops).
Yes the command reference doc should clarify that `--force` dosn't apply to git sourced roles, and the

[2022-08-11 19:08] #66413 closed, assigned to nobody

[2022-08-11 19:21] #78438 closed, assigned to bcoca

[2022-08-11 19:30] #78204 closed, assigned to nobody

[2022-08-11 19:30] #78491 closed, assigned to nobody

[2022-08-11 20:07] #76493 closed, assigned to nobody

[2022-08-11 20:30] samccann commented on #74195
Hey @paultaiton! Thanks for digging into this.  That note is autogenerated by `antsibull-docs` so we can't 'fix' it here in the ansible/ansible repository. I opened an issue there at https://github.com/ansible-community/antsibull-docs/issues/23 with your request.

Closing this in favor of that issue.

[2022-08-11 20:30] #74195 closed, assigned to nobody

[2022-08-11 20:30] akamanzi commented on #78485
@samccann, can you check/review (if you get the chance) PR #78524 made for this issue and advise if it has the correct/desired changes.

Thank you

[2022-08-11 20:31] samccann commented on #73995
Issue has been fixed: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html#parameter-password

[2022-08-11 20:31] #73995 closed, assigned to bcoca

[2022-08-11 20:36] samccann commented on #73921
Since what remains is not docs-related, going to remove the docs label and return this to a bugfix issue.

[2022-08-11 20:39] samccann commented on #73510
Related to https://github.com/ansible-community/community-team/issues/6

[2022-08-11 20:45] samccann commented on #72740
closed via https://github.com/ansible/ansible/pull/72870

[2022-08-11 20:45] #72740 closed, assigned to nobody

[2022-08-11 22:16] greyhare commented on #77932
I just ran into this problem today after I upgraded my Ansible to 2.13.1 with MacPorts. This is my local configuration, but the target host is using Python 3.6. (It's Ubuntu 18.04 LTS.)

[code]

The offending task:
[code]

Has this been fixed in a released version?

[2022-08-12 00:06] akamanzi commented on #76133
@samccann @bcoca I can update the requirements section if that's the fix and if no one has taken on this issue

[2022-08-12 06:38] PrieJos commented on #78490
@mattclay Thanks so much for the quick action.

Cheers
Jose M. Prieto

[2022-08-12 09:32] mmekut opened #78533 "Ansible selects and uses the version of python not linked with python3"
### Summary

When ansible-core selects python interpreter automatically (not configured by the user), it doesn't check to confirm which version of the interpreter python3 is linked to especially in an environment with multiple versions. This leads to "missing modules" errors when the version ansible chooses is different from the version python3 is linked to, whereby modules installed by python3/pi

[2022-08-12 16:08] tdsgit commented on #46742
Also the copy module does not recurse the setype ( not sure if setype can be recursed though but if chcon is taken as equivalent then it does have -R option ) when non standard directories are created through ansible and accessed via links in allowed directory root.
[code]
even with this set on a non root directory,
we will need to add setype to any subsequent copies to links created on directory

[2022-08-13 20:54] flowerysong commented on #78533
This does not appear to be a bug.

Ansible's interpreter detection is just a default; it attempts to select the best version of python available, but there is no universal definition of "best" so it will not be suitable for everyone.

If you are unhappy with the interpreter that it selects, you can [explicitly set an interpreter](https://docs.ansible.com/ansible/latest/reference_appendices/config.

[2022-08-14 00:21] frogstarr78 opened #78538 "Custom Vars Plugin doesn't work"
### Summary

My custom vars plugin is not loaded unless REQUIRES_WHITELIST = False AND the plugin is added to the ANSIBLE_VARS_ENABLED list

### Issue Type

Bug Report

### Component Name

ansible/plugins/loader.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

WSL 2.0 Debian 11 and Ubuntu 20.04

### Steps to Reproduce

Here's the custom vars_plugin code.
[code]

Ru

[2022-08-14 13:52] Dule-mart commented on #76742
To be sure I understand what is expected of me to do here, do I have to move the mentioned docs into another repo so we can have the repo check out into a proper path? or what exactly is expected?

[2022-08-14 22:16] mmekut commented on #78533
I didn't want to file it as a bug.......but there was no better heading as I suspected that it may likely be the way ansible is designed.

What I find buggy is ansible still using python3 linked interpreter to install python libraries and modules despite selecting the "best" interpreter available on the system.

I think ansible should stick to the "best" version of python it chooses especially whe

[2022-08-15 09:41] evgeni opened #78539 "ansible-galaxy installs collections that are not compatible with the running Ansible version"
### Summary

Today, if you execute `ansible-galaxy collection install community.docker`, you get version 3.0.1 which is only declaring compatibility with Ansible 2.11+ (see https://github.com/ansible-collections/community.docker/blob/3.0.1/meta/runtime.yml#L6)

However, you get that version also when you're using `ansible-galaxy` from 2.10.

### Issue Type

Bug Report

### Component Name

ansible-

[2022-08-15 09:44] evgeni commented on #78539
Oh, and this is tagged 2.10, but obviously will apply to any newer version of Ansible, once collections start dropping support for them.

[2022-08-15 13:17] myllynen opened #78541 "service_facts prints unnecessary warning"
### Summary

On recent Linux distributions `/usr/sbin/service --status-all` returns nothing so the following `grep` in the command fails and causes a warning being displayed for the user:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/service_facts.py#L108

### Issue Type

Bug Report

### Component Name

service_facts

### Ansible Version

[code]

### Configuration

[code]

###

[2022-08-15 14:02] bcoca commented on #78538
this is probably the issue:
```lib/ansible/vars/plugins.py:        if plugin._load_name not in C.VARIABLE_PLUGINS_ENABLED and getattr(plugin, 'REQUIRES_WHITELIST', False):```

[2022-08-15 14:12] bcoca commented on #78539
There is only a runtime check if a collection `requires_ansible` as you could install collections for execution with a different version of Ansible than the one doing the install. This is specially common in the context of EEs, so if we wanted to add this restriction it would require an extra toggle (something like `--check-required-ansible-version`)

[2022-08-15 14:14] bcoca commented on #78541
I would say the warning is correct .. unsure why they decided to keep the tool but have it be non functional.

[2022-08-15 14:29] evgeni commented on #78539
While I personally would do the toggle the other way round (`--allow-unsupported-ansible-version` or whatever), this particular decision is up to you.
And yes, this needs to be overridaable for sure :)

[2022-08-15 14:33] bcoca commented on #78539
that would break backwards compatibility, so it would have to default to current behaviour

[2022-08-15 15:37] samccann commented on #76133
Sounds good, thanks @akamanzi !!

[2022-08-15 19:05] samccann commented on #76742
Hi @Dule-mart - We do need to compare some information that was previously moved to this repo.  But there is also yet another repo that has collection-level guideline docs that we also need to move over here. That's a bigger project and not directly part of this issue. Let me know if you are interested in moving over those files. It would require being familiar with git and local branches etc sinc

[2022-08-15 19:44] #78252 closed, assigned to nobody

[2022-08-15 20:05] s-hertel commented on #78481
Just to add some more context here after refreshing my memory, we tried to fix this in #72591 before it was merged but couldn't find a good way to that without breaking other things and we ended up just documenting the breaking change. So this is a known limitation but not really an intended one. I don't think there would be objections to reinstating the opt-in reinstall behavior for git sourced c

[2022-08-15 20:58] Nouhailakermouss opened #78549 "ansible_ssh_common_args"
### Summary

we are trying to use the ansible ssh args so that AWX could reach the hosts that are using the jump host
this is what i am using in the inventory level

` "ANSIBLE_SSH_COMMON_ARGS": "-o ProxyCommand='ssh -o StrictHostKeyChecking=no -W %h:%p -q ansible_user@ip_adr'"`

and that's the error i get when running the awx job

{
  "unreachable": true,
  "msg": "Failed to connect to the host v

[2022-08-16 03:49] flowerysong commented on #78549
Setting `ANSIBLE_SSH_COMMON_ARGS` at the inventory level is not expected to work, as it's the wrong capitalization (it would only be correct as an environment variable.) Did you mean to set `ansible_ssh_common_args` instead?

[2022-08-16 13:13] sivel commented on #78539
Do the galaxy APIs present this data now, when we added this feature they did not. Since it was a core only feature it only was checked at runtime, otherwise we'd have to download every collection version to determine the value of `requires_ansible`.

I can confirm that community galaxy does not expose this.

[2022-08-16 13:21] Nouhailakermouss commented on #78549
i set `ansible_ssh_common_args` in the job template variables and remove it from the inventory, it actually did the trick and works as expected, Thank you @flowerysong

[2022-08-16 13:48] evgeni commented on #78539
looking at https://github.com/ansible/galaxy_ng/commit/1215271a15d1945065844839b17ac105c35df50b I'd say galaxy-ng has this data.

[2022-08-16 13:50] bcoca commented on #78539
we know they have the data, the problem is being able to query it over the web API

[2022-08-16 14:01] Dule-mart commented on #76742
I will be interested in doing that since I know git and branches.

But, kindly add it to the Open Source project board and tag it as a priority.

This should be fun to work on😊

[2022-08-16 14:37] samccann opened #78556 "Banner about 2.9 on latest docs is misleading"
### Summary

Feeback: - the line "Red Hat subscribers, select 2.9 in the version selection to the left for the most recent Red Hat release." is confusing, because 2.9 is not the latest release but rather the most recent release prior to the core/collections split.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/ansible_conf.py

### Ansible Version

[code]

### C

[2022-08-16 14:38] samccann commented on #78556
Fix should be to use the same wording and link that is on the 2.9 EOL docs, something like:
For Red Hat customers, see [the Red Hat AAP platform lifecycle](https://access.redhat.com/support/policy/updates/ansible-automation-platform).

[2022-08-16 14:41] oraNod commented on #78082
@samccann Hey, I've just sent a PR for the inventory guide. I wanted to follow up on the remaining work. I went back and looked at the suggested TOC in your earlier [comment](https://github.com/ansible/ansible/issues/78082#issuecomment-1159185553).

After doing some more work on it - and after having used the Ansible core docs in anger - I'd like to separate the remaining content in the User Guide

[2022-08-16 15:12] sivel commented on #78533
We explicitly pick the most recent versioned python binary, such as `python3.11`, falling back to `/usr/bin/python3` as the last python 3 version.  Every time a new python version is released, that new python version becomes the preferred.

Interpreter discovery is best effort, and if you know explicitly which python version you want, you should set that to `ansible_python_interpreter` for consist

[2022-08-16 15:12] #78533 closed, assigned to nobody

[2022-08-16 15:18] mkrizek commented on #78541
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-16 15:20] mkrizek commented on #78549
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-16 15:20] #78549 closed, assigned to nobody

[2022-08-16 15:20] lucasbasquerotto opened #78558 "selectattr gives an error when there's no property in the list"
### Summary

The `selectattr` gives an error when there's no dictionary in the list with the specified property, but the list is not empty.

When the list is empty, it works as expected, returning an empty list.

The same happens with other filters, like `sum(attribute=...)`.

This is making difficult to stop some services in AWS that have subnets when the state is present (results is a list with

[2022-08-16 15:27] acozine opened #78559 "Add a section about boolean variables"
### Summary

Ansible accepts a broad range of values for boolean variables: `true/false`, `1/0`, `yes/no`, `True/False`, and so on. We recently reached consensus about representing all Boolean values as `true/false` in the module documentation generated from python docstrings - see [this vote](https://github.com/ansible-community/community-topics/discussions/120) and [this issue](https://github.co

[2022-08-16 15:29] sivel commented on #78558
This is related to the fact that in ansible we use the jinja2 `StrictUndefined` whereas the tool you mention is not, and doesn't fail on undefined values.

What you want is to first, use a `selectattr` to get elements with the property defined:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.goo

[2022-08-16 15:29] #78558 closed, assigned to nobody

[2022-08-16 15:47] s-hertel commented on #78538
@frogstarr78 You're not developing a plugin in a collection, right? If you set REQUIRES_WHITELIST to True, so you also need to add the plugin in the enabled plugin list VARIABLE_PLUGINS_ENABLED. Since you're running the debug task adhoc instead of in a playbook, if your plugin isn't in one of the default vars plugin paths, you must set DEFAULT_VARS_PLUGIN_PATH (such as with the env var `ANSIBLE_VA

[2022-08-16 16:03] bcoca commented on #78559
[code]
values get put through ```.lower().strip()``` before comparing so any  string variation on capitalization will also work , for example: `Y` and  `fAlse`

[2022-08-16 16:06] phibid opened #78560 "YUM module ignore metapackage security updates"
### Summary

Discrepancies while using `security` flag in `yum` Ansible module and CLI. Seems that this is because of the fact that the security updates is a metapackage.

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Target OS version:

[code]

### Steps to Reproduce

Executing by hand the command `yum --security

[2022-08-16 16:37] #46447 closed, assigned to nobody

[2022-08-16 16:37] #52561 closed, assigned to nobody

[2022-08-16 16:37] #54991 closed, assigned to mkrizek

[2022-08-16 16:37] #64611 closed, assigned to nobody

[2022-08-16 16:37] #64999 closed, assigned to mkrizek

[2022-08-16 16:37] #65067 closed, assigned to nobody

[2022-08-16 16:37] #72725 closed, assigned to mkrizek

[2022-08-16 16:37] #72781 closed, assigned to mkrizek

[2022-08-16 16:37] #77616 closed, assigned to nobody

[2022-08-16 16:42] samccann commented on #78082
Let's review this based on # of hits.  For example, BSD is negligible so shouldn't have a left-hand navigation link IMO. Similarly, vault only gets 1.5% of the traffic, so doesn't seem it should be prominent on the left hand nav.

My point being - with all those above, that leads to a lot of guides on the left-hand nav that may make some things harder to notice.  So let's leave BSD and vault "some

[2022-08-16 16:45] samccann commented on #78082
oh... ignore my vault comment...it's in the top 20 pages so probably does deserve its own left-hand nav link.

[2022-08-16 16:46] oraNod commented on #78082
@samccann That all sounds great and is the sort of direction I was hoping for. I could def put BSD under the Windows guide and see how it looks.

"Organizing Ansible content" is the current "Sample Ansible content" but with a more focused name for what is in the docs.

When I said using Ansible docs in anger, I meant trying to actually figure something out as a newbie Ansible user.

[2022-08-16 16:47] oraNod commented on #78082
BTW I got stuff working based on the docs!

[2022-08-16 19:20] sivel commented on #78539
Assuming that we eventually add this functionality, there are a few things to note:

1. It will only work for galaxy servers that return `requires_ansible` in API responses, so for at least the time being, the change would not benefit users of community galaxy
2. The change would not be backported, and would only appear in a new version of ansible-core
3. We're pretty late in the dev cycle for 2.1

[2022-08-16 19:30] felixfontein commented on #78539
I guess 1 would be yet another motivation for community galaxy to be upgraded to galaxy_ng :-)

2 is unfortunate, but has already been a problem now because Ansible 2.9 does ignore meta/runtime.yml completely, so you don't get a runtime warning there. (That might have avoided some unnecessary 'bug reports' for community.general when it dropped 2.9 support ;-) ). With such a feature in, at least at

[2022-08-16 20:05] #78347 closed, assigned to samccann

[2022-08-16 20:06] #72030 closed, assigned to samccann

[2022-08-16 20:34] pc-explore opened #78564 "check_mode for unarchive module is not supported for gzipped tar files"
### Summary

The documentation on https://docs.ansible.com/ansible/latest/collections/ansible/builtin/unarchive_module.html states that the module fully supports check-mode.
But the fact is that check-mode is not supported when it concerns a gzipped tar file cfr. https://github.com/ansible/ansible-modules-core/blob/00911a75ad6635834b6d28eef41f197b2f73c381/files/unarchive.py#L591
I was mislead by t

[2022-08-17 07:29] ableischwitz commented on #77308
Sorry for the long delay, but there had been topics with higher priority meanwhile.

I re-installed the host and even without any IPv4 setup ran into the issue.
[code]
Checking the output of `wget` I still see that the IPv4 address is used to pull the archive - while my system doesn't have that (and any nat64 setup can not be assumed!!). By definition, my system has a IPv6 network only and is not

[2022-08-17 08:16] jkrgr0 opened #78566 "Extra variables are ignored if using the FQCN of a builtin connection plugin"
### Summary

When setting an builtin connection plugin using the variable `ansible_connection` with the FQCN (e.g. `ansible.builtin.winrm`) the extra variables are ignored.

In my example I use the `winrm` connection plugin to connect to a Windows host with a self-signed certificate. So I need to set the variable `ansible_winrm_server_cert_validation` to `ignore`.

It seems, that the name of the p

[2022-08-17 10:25] myllynen commented on #78541
No, the tool is functional, it's just there are no Sys V init services present on many/most RHEL 9 installations any more so the warning from `service_facts` is at least misleading.

From the `service`(8) manual page:

[code]

Since there are no init scripts present on the system it is expected there is no output from the command. Thus providing a warning due to failing `grep` in `service_facts` s

[2022-08-17 13:39] lucasbasquerotto commented on #78558
That worked.

I had seem an example with `defined`, but it was not clear the actual difference between using with it and without.

With no test specified, the docs say that [the attribute’s value will be evaluated as a boolean](https://jinja.palletsprojects.com/en/3.1.x/templates/#jinja-filters.selectattr), so I assumed both would work the same way with undefined properties (in python, I assumed i

[2022-08-17 13:44] mkrizek commented on #62665
This has been fixed in Ansible 2.12.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-17 13:44] #62665 closed, assigned to nobody

[2022-08-17 13:45] bcoca commented on #77308
Basically you are confirming what i posted above, you need a gateway/proxy to do the translation, the other solution is to add AAAA entries for the buckets, but that is not something related to Ansible itself, but to the galaxy hosting app.

As such I'm going to close this ticket as there is nothing for my team to do here. This should be filed against  that project/tracker:

https://github.com/ans

[2022-08-17 13:45] #77308 closed, assigned to nobody

[2022-08-17 13:53] bcoca commented on #78566
The name of the plugins matching the vars was the method pre Ansible 2.9, once we split into collections the 'names in documentation' are the ones used, so load_name there is for display, not variable matching.

Now we use the  Config manager's `get_plugin_vars` method, which goes through each configuration entry (created when the plugin is loaded from reading the `DOCUMENTATION.options`.

The mis

[2022-08-17 13:57] bcoca commented on #78541
`serivce` is not a sysvinit tool, it was a non standard utility that reflected different service managers in use that became common across distros and even OSs (BSDs for example).

[2022-08-17 14:26] rlmanrique opened #78570 "K8s module ignores label when creating secret"
### Summary

Creating a secret to declare a private repository for ArgoCD (https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/) does not apply the proper label.

Creating it towards OCP 4.9.33

[code]
Results in a secret with no label added

[code]

### Issue Type

Bug Report

### Component Name

k8s

### Ansible Version

[code]

### Configuration

[code]

### OS / Environm

[2022-08-17 14:30] #78570 closed, assigned to nobody

[2022-08-17 14:32] bcoca commented on #56930
i keep trying to get back to this, but in any case this is the 'cannonical source', just need to rephrase it so it is more accessible to laypeople.
https://docs.python.org/3/reference/lexical_analysis.html#identifiers

[2022-08-17 15:31] s-hertel commented on #69033
Closing as per above

[2022-08-17 15:31] #69033 closed, assigned to bcoca, gundalow

[2022-08-17 15:44] s-hertel commented on #77213
@Migsi We still haven't been able to reproduce this. Would you be able to show the logs?

[2022-08-17 15:56] #78556 closed, assigned to samccann

[2022-08-17 17:56] #75364 closed, assigned to nobody

[2022-08-17 17:59] #78069 closed, assigned to samccann

[2022-08-18 06:49] myllynen commented on #78541
Perhaps an alternative approach and a more user-friendly solution would be to execute `service` only, check its exit status and if ok then parse the output in Python?

[2022-08-18 07:03] Rakesh2904 commented on #30411
Hello All,

I have an issue any help/suggestions would be really helpful, I will just try to summarize the issue that I have in hand and please let me know if anything is not clear or more details are needed.

I have a playbook, which is to scan the entire server(using UAC binary), so the tasks involved in this are as follows.

1. Create a workspace - Based on the max available space on drive(win)

[2022-08-18 09:52] PB1899 opened #78576 "Looping over an empty list throws an 'undefined variable' error (set_fact + loop)"
### Summary

When using set_fact to declare a list, even if using a default empty list, and then adding elements of a list, if the list in the loop is empty, the playbook fails with an 'undefined variable' error.
Tested on Ansible 2.9 and 2.13 (RHEL 8 both)

[code]
[code]
whilst these work:
[code]

### Issue Type

Bug Report

### Component Name

set_fact

### Ansible Version

[code]

### Configura

[2022-08-18 10:30] mkrizek commented on #78576
This is not a bug. The `set_fact` task is executed once per each loop iteration but since there is nothing to iterate (an empty list) the `set_fact` task is not executed at all and `newlist` is not defined.

[2022-08-18 11:10] #78576 closed, assigned to nobody

[2022-08-18 11:10] PB1899 commented on #78576
thanks Martin.

[2022-08-18 14:37] samccann commented on #78559
Documentation fix:

Add a section at https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/playbook_guide/playbooks_variables.rst#L98
for

[code]

And then add a small table to show the values bcoca put in the prior comment :-)

[2022-08-18 14:42] sivel commented on #78509
Caused by 6d2d476113b3a26e46c9917e213f09494fbc0a13

I think ultimately the fix is that we need to rely on `get_option` in the paramiko connection instead of `play_context`.

[2022-08-18 14:51] antwacky opened #78577 "Failed to set controlling terminal in child (TIOCSCTTY): Bad file descriptor"
### Summary

All of a sudden, I've started getting this error on all hosts:

[code]

The task is simply using the built in 'file' module to remove a temporary directory (created within the playbook, to store downloads) after successfully completing tasks to install a service.

I have, as can be seen in the log, already tried setting the ansible_remote_tmp to /tmp/.ansible - the same issue occurred

[2022-08-18 15:00] samccann commented on #72638
Documentation fix:

Add a section at https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/playbook_guide/playbooks_blocks.rst#L179

[code]

[2022-08-18 15:51] bcoca commented on #78559
do we have a page that describes all the 'types' and what they mean?
also would be useful to have it as mouseover when people look at the 'type' entries

[2022-08-18 16:55] sivel commented on #78577
The error is coming directly from `sshpass`.

The commit that added the failing code path in `sshpass`:

https://sourceforge.net/p/sshpass/code-git/ci/0daa6144751ddde755f7acc8f707a4fb02b1f6d8/

That commit is new as of `sshpass` `1.0.9`

There appears to be some bug report for this at https://sourceforge.net/p/sshpass/bugs/24/

[2022-08-18 18:00] alexcernat opened #78579 "No ansible 6 / ansible-core 2.13 package for debian 11 (ubuntu focal)"
### Summary

As stated in the docs, for debian 11 we must use ubuntu focal debs. With version 5 (core 2.12) everything went ok.
Unfortunately there is no focal debs for ansible 6 (core 2.13), only debs for jammy, which are unusable on debian 11, because of package compression.
Could anyone provide ansible 6 (& core 2.13) official packages for ubuntu focal ?

### Issue Type

Bug Report

### Compone

[2022-08-18 18:27] sivel commented on #76641
Ok, I'll try to lay this out as concisely as I can.

Here is the execution order, and how the roles are invoked:

[code]

The `nextcloud` role specifies:

[code]

This effectively means that every role included/imported or via dependencies inherits that `when` statement.

Now the problem comes about due to the use of `include_role` of `nextcloud`, and ultimately the `import_role` of `move_storage`

[2022-08-18 18:27] #76641 closed, assigned to nobody

[2022-08-18 18:48] #78423 closed, assigned to nobody

[2022-08-18 19:03] bcoca commented on #78560
Can you test with the latest version of ansible-core? 2.13
needs_info

[2022-08-18 19:07] antonysigma opened #78582 "Git clone failed with error code 128 on Ubuntu 18.04"
### Summary

When I git clone a public repository with `become: yes` and `become_user: myuser`, I got git error code 128. This error occurs in Ubuntu 18.04, but not in Ubuntu 20.04.

Upon further testing with manual commands, it appears to be an upstream issue with either `sudo` or `git` in Ubuntu 18.04. Here's my tests:

[code]

Question: Given that Ubuntu 18.04 has a fixed `sudo` and `git` relea

[2022-08-18 19:14] bcoca commented on #78577
closing as per above

[2022-08-18 19:14] #78577 closed, assigned to nobody

[2022-08-18 19:15] #78516 closed, assigned to nobody

[2022-08-18 19:16] #78579 closed, assigned to nobody

[2022-08-18 19:19] pagey101 commented on #78577
Hold on a minute! Appreciate the bug has been identified, probably, but what can I do to workaround?

I assume this is sshpass on the controller, can I disable sshpass (I am using public key auth only)?

[2022-08-18 19:21] sivel commented on #78577
If sshpass is involved, that means you have instructed ansible to use password based auth.  You could also switch to using the `paramiko` connection plugin instead of ssh, or ensure you are using key based auth.

Should you wish to discuss work arounds, the best place is the mailing list, as we've identified this is not a bug in ansible-core, but a 3rd party application that we do not maintain.

I

[2022-08-18 20:36] antonysigma commented on #78582
I don't know how to modify the Ansible backend, so I was hoping Ansible developers can offer an elegant solution.

Perhaps, expose an option `chdir: path/to/user/dir` in the gut module that translates to `git -C path/to/user/dir`?

Or, some magic in the backend that detects Ubuntu 18.04 limitations? Internally change directories before calling sudo git-clone?

[2022-08-18 21:44] sivel commented on #71996
I cannot replicate this.  I do get an error trying to load the file.  The only way it does not fail is if the `vars` directory does not allow the executing user to read its contents.

[code]

The reason there is no error when the var doesn't allow the executing user to read its contents, is due to the fact that we have no idea what is there.  We look for explicit filenames, and `os.path.exists` si

[2022-08-18 21:44] #71996 closed, assigned to nobody

[2022-08-18 21:49] akamanzi commented on #76133
@samccann, check PR #78586

[2022-08-18 22:01] sivel commented on #63558
The problem here is that using `include_role` or `import_role` does not create any parent relationships between itself and the parent roles.  `include_role` and `import_role` are effectively mechanisms for inserting tasks and vars into the play.

The key difference between `include_role` and `import_role` here, is that `include_role` by default specifies `public: no` which means that the vars are

[2022-08-18 22:01] #63558 closed, assigned to nobody

[2022-08-18 23:01] smacz42 commented on #76641
Thank you for the in-depth explanation. I really appreciate the effort to not just provide one solution, but to go into the alternatives as well (using `import_roles` vs `public: yes`).

I believe that answers my question above and I'll work on how to integrate that into my scripting. Thanks!

[2022-08-18 23:39] ghost opened #78588 ""The module xxxx/library/my_test.py was not found in configured module paths""
### Summary

Hi there,

Not too sure what's going on as it seems like everything on my end looks well. I tried following this Tutorial: [https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html](url) and it has lead me in receiving back the following error message:

[code]

 Okay? Maybe I have to set something up differently in my config file.

 I then went ahead and set m

[2022-08-18 23:41] bcoca commented on #78582
It was not a question of  how to modify Ansible,  but modifying it to do 'what?', there is no clear cause of fix in your initial report.

I'm not sure how viable the chdir suggestion is as  you already have `dest` to get the repo into the correct destination and this would ignore that. Specially w/o having any details on what is actually causing this error.

I'm not going to enumerate the issues w

[2022-08-18 23:41] #78582 closed, assigned to nobody

[2022-08-19 00:12] antonysigma commented on #78582
I respect the decision. I am documenting the root cause here for the general public, so that other users will not blame Ansible for the error code `128`.

In Ubuntu 18.04 with the system release of `sudo` and `git`, when one execute the following command:
[code]

the command returns error code 128 because `git` found the config file at `/home/admin/my-ansible-project/.git/config` owned by `admin`,

[2022-08-19 10:54] alexcernat commented on #78579
Thank you for your quick response, the link you provided was great.
For those interested (not yet an official response, just following the "breadcrumbs" reading the project issues) it seems that is a deeper problem, ansible 6 added python-jinja3 as dependency, and neither debian 11 nor ubuntu focal include that package.
Will wait (hopefully) for an official response, until then we are stuck with a

[2022-08-19 11:28] Dule-mart commented on #76742
@samccann Still waiting for your feedback

[2022-08-19 12:19] #23161 closed, assigned to nobody

[2022-08-19 15:03] samccann commented on #76742
Hey @Dule-mart - it will take a bit of time as it's a sizeable project to scope out (moving those files in a separate repo over to ansible/ansible.) I'll start a hackmd to design it out.

[2022-08-19 15:17] Dule-mart commented on #76742
Okay, thanks

[2022-08-19 18:28] s-hertel commented on #78588
You were on the right track. Setting the library config is is necessary for adhoc (if you test the module in a playbook adjacent to ./library it is automatically picked). You need to call the module with the name `my_test`, not a path to my_test.py. Opened a PR to fix that: #78593

[2022-08-19 18:37] nimble commented on #78588
Thank you! It worked.

[2022-08-19 18:37] #78588 closed, assigned to nobody

[2022-08-19 19:10] samccann commented on #78485
Closed by https://github.com/ansible/ansible/pull/78524

[2022-08-19 19:10] #78485 closed, assigned to nobody

[2022-08-19 19:29] samccann commented on #71882
@Dule-mart - this would be a good first issue to start with to help is migrate files from a separate repo into ansible/ansible github repo so we can publish it.

Steps to do this:

- [ ] Copy the file in the issue description to ansible/ansible repo at docs/docsite/rst/dev_guide/collection_requirements.rst
- [ ] Change any URLs to docs.ansible.com to :ref: format.
- [ ] Review/edit (we can do this

[2022-08-19 19:52] sxkxdxv opened #78598 "known_hosts - Always reports changed when trying to remove a non-existent host key"
### Summary

When trying to remove a non-existent host key with the `known_hosts` module while also having another host key set for the host in question the module will always report changed, even though nothing got changed.

Prior to opening this issue I had created a post over on [devops.stackexchange.com](https://devops.stackexchange.com/questions/16448/ansible-known-hosts-module-reports-change

[2022-08-19 20:14] jw-maynard opened #78599 "Become has different requirements on Windows"
### Summary

This could be a documentation issue.

When trying to use `become: yes` on a windows host you receive an error about the if you don't also include `become_user`. This is counter to how Ansible `become` works on other platforms where `become_user` is an optional parameter that uses the default `root` user if not specified.

I'd suggest configuring a sane default for `become_user` so it

[2022-08-19 20:16] bcoca commented on #78599
The default for become_user is per plugin, not per platform, sudo and su plugins happen to default to root.

[2022-08-19 20:18] schurzi opened #78600 "scp_if_ssh not working as intended with OpenSSH since version 9.0"
### Summary

The option `scp_if_ssh = true` is used to force Ansible to use scp instead of sftp on targets, that don't support sftp. However since OpenSSH 9.0 (8.8 on Arch Linux it seems) even the scp utility defaults to using sftp. The old behavior can be enabled by additionally setting `scp_extra_args = "-O"` to force scp to use the old protocol.

I recognize that this is not an Ansible bug, but

[2022-08-19 20:21] felipempda commented on #77304
I am facing the same issue and @mattclay workaround worked for me.
But the point here seems to be whether or not we could have a way of bootstraping pip without the get-pip script.
It looks like all virtualenvs created by sanity are using option "--without-pip"  as of  #77028

In core-2.11.0 that was not the case and if you managed to install pip by a proxy future virtualenvs created would already

[2022-08-19 20:29] samccann commented on #78395
Fixed by above PRS.

[2022-08-19 20:29] #78395 closed, assigned to samccann

[2022-08-19 20:35] Dule-mart commented on #71882
Alright, on my way to moving files. 😊😊

[2022-08-19 20:37] jw-maynard commented on #78599
True, but `runas` seems to be the defacto become plugin for Windows (maybe there are other options I'm unaware of). Perhaps just updating the line:

`Since Ansible 2.3, become can be used on Windows hosts through the runas method. Become on Windows uses the same inventory setup and invocation arguments as become on a non-Windows host, so the setup and variable names are the same as what is defined

[2022-08-19 20:59] josev814 opened #78601 "Implement Config File Precedence"
### Summary

I would like it that ansible config files use precedence.  This way when making adjustments in home or a subdirectory, the cfg files would have less content in them.  Similar to how mysql handles configs with /etc/mysql/mysql.conf <  /etc/mysql/mysql.conf.d/custom_setting.conf

### Issue Type

Feature Idea

### Component Name

ansible.cfg

### Additional Information

I would like it t

[2022-08-19 21:18] jborean93 commented on #78599
There isn’t a real default for runas as the use of become on Windows is not for privilege escalation but for things like bypassing the double hop problem or pretending to not be a network logon. Another problem is that user accounts on Windows are localised so we can’t do Administrator (also disabled by default) or SYSTEM as they are called something else on another language causing an error.

Thi

[2022-08-19 21:22] bcoca commented on #78599
or just read the runas docs which state that become_user is required https://docs.ansible.com/ansible/latest/collections/ansible/builtin/runas_become.html#parameter-become_user

[2022-08-19 21:49] jw-maynard commented on #78599
There is a whole document page about using `become` that has a section in it specifically about using `runas` on Windows. It doesn't seem unreasonable for there to be a mention of this caveat in that documentation.

Thanks @jborean93 for the explanation. Makes sense that there would be no sane default to use on Windows.

#78603 submitted.

[2022-08-19 23:01] jgspratt opened #78604 "ansible/docs/docsite/rst/galaxy/user_guide.rst lacks documentation for the -p parameter"
### Summary

I was reading https://docs.ansible.com/ansible/latest/galaxy/user_guide.html and was trying to understand how to specify which path to use to install a galaxy collection.  I intuited that the `-p` parameter was the correct one, and it ended up being correct.

It would be helpful to explain (1) all of the available parameters, (2) what they do, and (3) what their defaults are.

### Iss

[2022-08-20 17:39] yurikhan opened #78607 "256-color terminal support broken"
### Summary

Hello there,

a few years back, I [implemented color name parsing for 256-color terminals](https://github.com/ansible/ansible/pull/17752/files). That PR extended the set of recognized color names from the 8 basic ANSI colors and their bright variants, adding `color[0-255]`, `rgb[0-5][0-5][0-5]` and `gray[0-23]`.

A year and a half ago, this improvement was [neutered](https://github.co

[2022-08-21 10:57] Daryes commented on #64016
Bumping this one as this still happens in ansible latest (v2.13.3 tag) and v2.9.27.

Given the current change of apt-key on Debian and related dists, I implemented the use of get_url instead of apt-key to retrieve the repositories keys.
For more information: #78063

To my surprise, there was a http return code in the results, and yes, the request was really sent

Test script:
[code]

Result:
[code

[2022-08-21 11:29] Daryes commented on #78063
@bcoca : sending the key files directly under `/etc/apt/trusted.gpg.d/`  with the .asc extension seems to do the trick, apt does not complain anymore.

There's a slight problem, still : the `get_url` module always download the file, as if `force` was set to true when no checksum is provided.
As detailed in my comment: https://github.com/ansible/ansible/issues/64016#issuecomment-1221522140

[2022-08-21 15:47] PascalReintjens opened #78608 "Ansible unexpectedly sets new variable values in sub-sub-roles"
### Summary

When you define a role twice in a playbook which includes a subrole that includes another subrole and you provide a parameter in the first playbook definition but omit it in the second definition, the old value of the first definition will suddenly appear in the sub-sub-role of the second definition, but will disappear one sub-role deeper

This (test includes test2, test2 includes tes

[2022-08-21 15:48] PascalReintjens commented on #78608
Sorry for reopening this Issue, but #78384 was already locked and after taking some time I’m still at the conclusion there must be a bug.

In #78384 @bcoca said that the problem is that the variables are loaded before execution and therefore both declarations get executed with the same var values, the top level roles are deduped by the vars signature therefore the second role-declaration and sub-r

[2022-08-21 17:56] poige opened #78609 "Ansible modules accepting file names tend to clobber system devices such as /dev/null"
### Summary

Ansible modules accepting file names tend to clobber system devices such as /dev/null

For e. g., one might expect to apply a sysctl with ansible.posix.sysctl specifying `sysctl_file` as `/dev/null` — to apply changes to running kernel only but in fact it'd end up unlinking `/dev/null` device and leaving the system with a file instead.

### Issue Type

Bug Report

### Component Name

[2022-08-22 13:28] nthproprio opened #78611 "ansible check mode - module copy creates dest directory if it ends with a / and remote_src is true"
### Summary

In check mode, when I use ansible builtin module **ansible.builtin.copy** to copy a remote file or directory to a destination which ends with a `/`, it creates destination directory on remote host despite check mode is enabled.

### Issue Type

Bug Report

### Component Name

ansible.builtin.copy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ansible co

[2022-08-22 14:10] bcoca commented on #78600
That setting is already deprecated https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ssh_connection.html#parameter-scp_if_ssh ,  this should be used instead https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ssh_connection.html#parameter-ssh_transfer_method

[2022-08-22 14:13] bcoca commented on #78601
Subset of existing agreed proposal https://github.com/ansible/proposals/issues/35, there are more nuances to that as we want to add 'controlable' merging, making some settings 'non negotiable'.

For example /etc/ansible/ansible.cfg mandates a security setting, ~/.ansible.cfg should not be able to override it.

[2022-08-22 14:16] jmcgill298 opened #78612 "failed task inside an include_tasks inside a rescue block does not remove host from ansible_play_hosts nor from ansible_play_batch"
### Summary

I have created a role that has two tasks files: main and validation. The main task file uses block/rescue to validate the health of a system, with the rescue block trying to recover a failed system and then re-running the validation tasks. If the system still reports failure after an attempted recovery, I expect the failed host to be removed from `ansible_play_hosts` and `ansible_play

[2022-08-22 14:22] bcoca commented on #78607
I totally missed this when I did my update, can you create a PR with a test so we ensure we don't break this functionality going again? I just need to revert adding 'limited choices' to color (i thought that was a safe example ...).

[2022-08-22 14:34] sivel commented on #78600
SCP is effectively deprecated as of OpenSSH 9.0, and replaced by default with a shim that utilizes SFTP.  Unfortunately the semantics are not identical, and effectively require use of `-O` in `ansible_scp_extra_args` to use the scp protocol.  I do not believe there is a way to transparently support the use of SCP prior to 9.0 and after 9.0 simultaneously.

Since OpenSSH 9.0 just uses SFTP, it woul

[2022-08-22 16:11] yurikhan commented on #78607
Well, it’s limited choice, it just isn’t an easily enumerable set of choices. (I can imagine a list of 256 colors, but when/if we get around to supporting 24-bit colors, I’d hate to enumerate the additional 16,777,216 allowed values.)

[2022-08-22 16:40] bcoca commented on #78607
yes, need to revert the 'choices' changes for this to pass, will do EoD today

[2022-08-22 19:35] sivel commented on #78604
I do see it documented, although it's included in that file from another:

[2022-08-22 23:01] Dule-mart commented on #71882
Hello @samccann
About "changing any URLs to docs.ansible.com to :ref: format" I did that when I change this ` https://github.com/ansible-collections` into this  `https://docs.ansible.com/ansible-collections` and it shows a 404 page.

I notice some URLs are using the ` docs.ansible.com` hyperlink and it also includes `devel`
Can you explain how the :ref: format. thing works?
Why the 404 page?

[2022-08-23 14:09] ToBeFree opened #78623 "ansible.builtin.file: mode "-x,+X" is equal to "+X""
### Summary

In ansible.builtin.file, setting mode "u-x,u+X" on a directory (recurse: yes, state: directory, path: '/etc/update-motd.d', mode: 'u-x,u+X') behaves as if the initial "u-x" wasn't present. On a directory full of executable files, this behavior incorrectly retains their executability instead of removing it from all non-directories.

### Issue Type

Bug Report

### Component Name

ansib

[2022-08-23 15:06] #76133 closed, assigned to nobody

[2022-08-23 15:13] s-hertel commented on #78601
We'll track this in the proposal so I'll close this.

[2022-08-23 15:13] #78601 closed, assigned to nobody

[2022-08-23 15:25] s-hertel commented on #78604
All options are documented at https://docs.ansible.com/ansible/latest/cli/ansible-galaxy.html. We could link to the CLI documentation from that page.

[2022-08-23 15:34] s-hertel commented on #78609
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * Any heuristic that would try to exclude /dev/null from arbitrary commands would probably break more things than it solves.

However, we'

[2022-08-23 15:34] #78609 closed, assigned to nobody

[2022-08-23 15:58] poige commented on #78609
Well, in fact Ansible doesn't need to limit that handling to `/dev/null` only. Instead the whole logic of content replacement with temporaries should be omitted for any target which is a "[character special](https://en.wikipedia.org/wiki/Device_file#Character_devices)". In that case it won't break anything as opposed to current state of things where system functioning can be negatively impacted du

[2022-08-23 16:12] bcoca commented on #78609
@poige that is something each module/plugin needs to handle individually, they are the ones that do the actual work.

Also sometimes the user MEANT to replace 'special' files, in the end the modules cannot read the user's mind, just do what they are told to do.

[2022-08-23 16:18] s-hertel commented on #78612
A similar bug was recently fixed on devel https://github.com/ansible/ansible/issues/72781 where tasks after a failure in a `rescue` would continue to execute, but this one is still an issue on devel.

[2022-08-23 16:19] bcoca commented on #78600
note: 'fix' would be to note on both options 'for OpenSSH >=9.0 you'll need an additional option to enable scp ( `-O` in `ansible_scp_extra_args`)

[2022-08-23 16:21] poige commented on #78609
@bcoca Something's telling me it would be easier to find users who suddenly got plain text files in theirs `/dev` other than those who expected to get them there during running sysctl with an expected traditional `/dev/null` semantics which. As where this needs to be fixed — I actually know, having seen the code of the module from this very ticket. This is a huge blunder essentially and the fact t

[2022-08-23 16:41] bcoca commented on #78609
Not an excuse, I just don't see this as a bug, the module did what it was told to do.

[2022-08-23 16:57] webknjaz commented on #73505
https://jupyterhub.readthedocs.io/en/stable/troubleshooting.html#why-am-i-getting-a-spawn-failed-error-message suggests that

[2022-08-23 16:59] webknjaz commented on #73505
Somebody on the internet suggested that this is "fixable" by creating the "missing" user locally: https://github.com/jupyterhub/jupyterhub/issues/2948#issuecomment-606243514.

[2022-08-23 17:01] webknjaz commented on #73505
Another occurance: https://dev.azure.com/ansible/ansible/_build/results?buildId=51932&view=logs&j=e983aca4-d74a-58f5-dfc0-c84aceb46956&t=153cdca1-b5fd-5d24-2f30-f159a4f4ce13&l=2557

[code]

[2022-08-23 18:36] webknjaz commented on #73505
It's interesting that the original post has a similar error that occurs on user creation. But the last linked log happens when the user is deleted.

[2022-08-23 18:40] webknjaz commented on #73505
Saving the log for history
<details>
<summary>Click to view</summary>

[code]

</details>

[2022-08-23 18:43] samccann commented on #71882
Hi @Dule-mart !  Sorry I didn't give full details. I forget which Ansible documentation style items are standard RST and which are features of sphinx, the tool we use to generate the html files for the docsite.

So the :ref: format allows us to create cross-references based on a label within the RST files themselves. This is helpful because it means if we move those files, we don't have to update

[2022-08-23 22:49] webknjaz commented on #73505
For one of the failing tasks — the user creation — yes. For the user deletion, it's more interesting:
1) The `DarwinUser` class (inheriting `User`) overrides the `user_exists()` method to invoke `dscl . -read /Users/{{ username }} UniqueID`.
2) The first thing `DarwinUser.remove_user()` calls is `User.user_info()` which in turn calls the redefined `DarwinUser.user_exists()`. `DarwinUser.user_exist

[2022-08-23 23:15] webknjaz commented on #73505
So it seems like `pwd.getpwnam()` is treating any error except for memory allocation as "name not found" (https://github.com/python/cpython/blob/1f0eafa/Modules/pwdmodule.c#L269) since the very first commit in the CPython repo (https://github.com/python/cpython/blame/3ea7412d38e077a984c18f5e7f0793c285e1e1c3/Modules/pwdmodule.c#L84).

But `getpwnam(3)` has the following on the manpage:

Does this m

[2022-08-24 15:21] sivel commented on #78598
I looked at this for a short period of time, and confirmed the behavior. I think the module is missing something like this:

[code]

This would need more testing, and some tests to verify.

Our current test suite doesn't replicate the problematic behaviors because to do so requires 2 keys for the same host of different values, with one not matching still remaining in the `known_hosts` file before

[2022-08-24 15:53] amberream opened #78633 "ImageMagick download fails with SSLV3 Alert Handshake Failure"
### Summary

I'm trying to install Alfresco Community Edition on CentOS 7.  I am using Python3.10, Ansible 2.12.4, and OpenSSL1.1.1.  I get this error when it tries to download ImageMagick.
[code]

### Issue Type

Bug Report

### Component Name

get_url

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7

### Steps to Reproduce

[code]

I am following the instru

[2022-08-24 19:07] nitzmahone commented on #38267
Given all the extra work `unarchive` does to provide idempotency, the extra time is justifiable if you need it. If you don't, or if that extra time is prohibitive due to the size of archive or number of files, use a raw command instead (as sivel suggests above). This isn't really a bug nor something we can speed up significantly, so we'll be closing this as not fixable...

[2022-08-24 19:07] #38267 closed, assigned to nobody

[2022-08-24 19:14] nitzmahone commented on #70304
It looks like we need to look into the current state of this code and possibly deprioritize lsb-release (as it seems to be going by the wayside).

[2022-08-24 19:23] nitzmahone commented on #23220
Based on the attempted PRs that have tried to implement this, there doesn't appear to be a reliable idempotent way to do this (parsing output messages doesn't qualify), so our suggestion in the meantime is to just run `apt-get --download-only` as a command- the module is just adding a lot of moving parts for no real benefit without idempotency properly implemented.

[2022-08-24 19:23] #23220 closed, assigned to nobody

[2022-08-24 19:26] sivel commented on #77078
Closing per https://github.com/ansible/ansible/pull/75415#issuecomment-896113816

[2022-08-24 19:26] #77078 closed, assigned to nobody

[2022-08-24 19:28] nitzmahone commented on #29187
The concept of "primary IP" means something different to every application- there's no good way for Ansible to apply a heuristic to determine "primary" that won't break for many other cases, so it's up to the playbook author to implement such a heuristic when necessary. Closing, as there's nothing we can do to implement this properly...

[2022-08-24 19:28] #29187 closed, assigned to nobody

[2022-08-24 19:33] nitzmahone commented on #44300
Implementing this at the inventory level isn't really possible, closing as not implementable...

[2022-08-24 19:33] #44300 closed, assigned to nobody

[2022-08-24 19:49] nitzmahone commented on #77580
We can look at enabling `limit` support (either by the positional arg, currently explicitly ignored, or with `--limit`)

[2022-08-24 20:02] samccann commented on #78478
Based on https://github.com/ansible/ansible/pull/77724#issuecomment-1116327061 - there are some changes coming in the next week or so for side-car docs. Once that completes, we can update `antsibull-docs` and the other dependencies.

An initial test of this shows everything works. We are still held to `docutils` 0.17.1 because of sphinx-notfound-page, which pins to this version.

[2022-08-24 20:32] sivel commented on #78633
This is a result of Python 3.10 making a change to increase cipher suite security in https://github.com/python/cpython/commit/e983252b516edb15d4338b0a47631b59ef1e2536

The default ciphers in Python 3.10 are:

[code]

The server configuration hosting the site you are accessing only accepts weak ciphers, which Python 3.10 disables by default:

[code]

On another note, we do not expose the ability to

[2022-08-25 01:22] amberream commented on #78633
I'm using openssl 1.1.1q.
Is there some work around for Python3.10?
I ended up switching to Python3.8 and it gets through this step with no errors.

[2022-08-25 07:45] MarkusTeufelberger commented on #23220
https://apt-team.pages.debian.net/python-apt/library/index.html is the library that should actually be used by the `apt` module to get packages (https://apt-team.pages.debian.net/python-apt/tutorials/apt-get.html), instead the module is a mixture of actually using this package and shelling out to aptitude and apt-get:

https://github.com/ansible/ansible/blob/843405077e0f2af1a1637f0de0be9ecb4a578bc

[2022-08-25 11:24] Dule-mart commented on #71882
Thank you @samccann 🤝

[2022-08-25 13:30] willmerae opened #78639 "tests: `test_get_text_width_no_locale()` fails on Ubuntu 22.04"
### Summary

The unit test ``test_get_text_width_no_locale()`` in test/units/utils/test_display.py fails on Ubuntu 22.04
[code]

the cause appears to be a new behaviour of the C function `wcwidth()`, which no longer returns -1 for the character used ([U+110CD KAITHI NUMBER SIGN ABOVE](https://www.compart.com/en/unicode/U+110CD), unicode 11.0, June 2018).

[code]

[code]

### Issue Type

Bug Report

[2022-08-25 13:42] willmerae commented on #78639
Ubuntu 20.04 has glibc 2.31
Ubuntu 22.04 has glibc 2.35

<details>

[code]
[code]

[2022-08-25 14:43] #75497 closed, assigned to nobody

[2022-08-25 19:19] sivel commented on #78639
I wrote a simple test script to see what characters would cause errors.

[code]

We've decided against using the glibc version to skip the test.  Instead we can take the above code, and create the list of problematic chars, and if the list is empty, skip the test, otherwise use the first character from the list and use that instead of a hard coded character.

[2022-08-25 19:31] sivel commented on #78633
As detailed, for now there is no way to work around this within ansible.  We're leaving this open as a feature request to add the ability for users to specify a custom list of ciphers for a single request.

In the meantime, as you have found, switching to an older Python resolves your specific issue.  Another work around is getting the server to support additional ciphers.

[2022-08-25 20:27] sanzoghenzo opened #78648 "python 3.5 broken by charset_normalizer v 2.1.0"
### Summary

I know I should move to newer Ubuntu/python version, but I'm stuck with a ubuntu 16.06 installation that uses python 3.5.

If i try to run a playbook, it fails at the first `apt` task; analyzing the traceback there's a syntax error provoked by `charset_normalizer`, that [recently (version 2.1.0) dropped support for python 3.5](https://github.com/Ousret/charset_normalizer/releases/tag/

[2022-08-25 20:39] sivel commented on #78648
This error is coming from a dependency of a dependency of an optional dependency.  We do not dictate what versions of `charset_normalizer` are valid, nor those for `requests` or `urllib3`.  This concern will need to be addressed by a constraint that you manage.

We could perhaps add some additional error handling when importing those optional dependencies.

<details>
<summary>Patch...</summary>
<p

[2022-08-26 00:34] jgspratt commented on #78604
Yes, a link would be very helpful.  I found it difficult to find the full usage.

[2022-08-26 15:39] ToBeFree commented on #78623
That was quick, thank you very much! 😊

[2022-08-26 18:21] frogstarr78 commented on #78538
Yes, thank you for finding the typo that I left in the example. I assure you I have tried many variations of this and that is not the issue.

I AM attempting to create a vars plugin in a collection.

Here's the result, when running a test through a playbook (yes as a demonstration I changed the variable name). The ONLY difference between these runs was changing REQUIRES_WHITELIST from True to Fals

[2022-08-26 18:57] s-hertel commented on #78538
@frogstarr78 Okay, I incorrectly assumed you were trying to create a legacy plugin (because that should work). REQUIRES_WHITELIST=False has never been supported for vars plugins in collections. Vars plugins in collections *must* be enabled by the user to be loaded at all. I have a pull request to fix the developer documentation here: #78562.

[2022-08-26 23:27] frogstarr78 commented on #78538
Great! Thanks

[2022-08-26 23:27] #78538 closed, assigned to nobody

[2022-08-27 08:53] sanzoghenzo commented on #78648
Thanks @sivel
this error goes away if I manually install `python3-openssl` on my target machine.

But after this is addressed, more python 3.5 compatibility issues come up...

I think it's time to update ansible documentation and admit that the minimum supported python version is no more python 3.5!

[2022-08-28 06:45] sandboxcom commented on #68915
Why do I even need to specify -p if I have an ./ansible.cfg with a collections_paths defined? Shouldn't that override/come before native search paths and just install there?

[2022-08-29 06:22] zkrakko commented on #78509
Do you have any idea when this bug can be fixed? I'm asking because I need to know if this will be fixed in 2.13 in a few weeks, or we should use 2.12 instead. Thank you.

[2022-08-29 09:30] maikfr commented on #33058
+1

[2022-08-29 09:48] mbethke opened #78656 "wait_for with path fails on invalid UTF-8 text"
### Summary

When I wait for a message to appear in a log file, any invalid UTF-8 sequence makes the playbook fail:
[code]
This happens rather often with MySQL/MariaDB that log bits of binary data verbatim. Which I think is a pretty stupid thing to do, but it happens. Logs encoded in other 8bit charsets are probably still found, too.

### Issue Type

Bug Report

### Component Name

wait_for

### A

[2022-08-29 12:05] mkrizek commented on #78612
A reproducer without using `include_role`/`include_tasks`:
[code]

[2022-08-29 12:23] m-adawi opened #78658 "apt module with lock_timeout option not working as expected"
### Summary

I'm trying to make Ansible install some packages on some hosts in a playbook. The playbook installs packages in different tasks and the hosts have puppet installed which sometimes installs packages to the hosts as well. I'm getting a lock error as you can see in the results section. I expected that using lock_timeout will make the task wait for the lock to be released but I tested it

[2022-08-29 12:49] evgeni opened #78659 "sanity: "unexpected non-module shebang" in role files"
### Summary

When running `ansible-test sanity` against a collection that has roles and those roles have files (in `files/` or `templates/`) that have a shebang, I get the following error:
[code]

### Issue Type

Bug Report

### Component Name

sanity

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 36 (irrelevant)

### Steps to Reproduce

[code]

### Expected

[2022-08-29 13:01] sivel commented on #78659
Duplicate of https://github.com/ansible/ansible/issues/78346

[2022-08-29 13:07] evgeni commented on #78659
indeed, thanks!

[2022-08-29 14:06] #78639 closed, assigned to nobody

[2022-08-29 15:15] sivel commented on #78648
That would not be a correct assertion.  It does work, but it becomes the responsibility of the user to manage and constrain the deps to versions that support the Python version in use.

[2022-08-29 15:36] sivel commented on #78656
Duplicate of https://github.com/ansible/ansible/issues/78214

[2022-08-29 21:37] sanzoghenzo commented on #78648
Forgive me if I'm missing something, but how can I do that? Should I manually install the packages in the target box?
It seems to me that this defeats the purpose of using ansible (my goal is to automate the operation on the target as much as possible to be able to quickly respawn a server in case of failure...)
That being said, this issue gave me the motivation to try upgrading my OS, it's about

[2022-08-29 23:25] jf229 opened #78662 "play recap should group failures together"
### Summary

Our team supports an monitors many playbooks that run against many of our hosts.   Often we have job failures and it takes a significant amount of time to search the job result log for the failed hosts.  It would be nice if the play recap could group the failures together so it can be quickly identified which hosts are failing.

### Issue Type

Feature Idea

### Component Name

play r

[2022-08-30 06:50] mkrizek commented on #78662
Duplicate of https://github.com/ansible/ansible/issues/14367?

[2022-08-30 07:38] hialvaro opened #78663 "Can't install an "apt" package which contains a dash"
### Summary

When I try to install the apt package `s-nail` from a `vars/main.yml` list I get a python error that says:

[code]

The role's task that is failing is:

[code]

### Issue Type

Bug Report

### Component Name

apt

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

EndeavourOS (Arch Linux)

### Steps to Reproduce

tasks/main.yml

[code]

vars/main.yml

[code]

[2022-08-30 08:00] mkrizek commented on #78663
At the very least it should be
[code]
since the variable is already a list.

[2022-08-30 08:53] hialvaro commented on #78663
Well. That solved the issue. Thank you.

[2022-08-30 08:53] #78663 closed, assigned to nobody

[2022-08-30 08:54] nkakouros commented on #77664
@mattclay What are you waiting for from me?

[2022-08-30 08:55] nkakouros commented on #77765
@s-hertel What are you waiting for from me?

[2022-08-30 09:42] mkrizek commented on #77765
The issue is marked as `waiting_on_contributor` which means that the core team has no plans to work on it but we would review any pull requests that would implement it (you can see the explanation of each label by hovering over it).

Also this issue has been put on the core team IRC meeting agenda by you but you have not showed up repeatedly to discuss it.

Note that there is a lot to consider bef

[2022-08-30 11:21] rosso- commented on #33058
Yeah, it's a pity...

[2022-08-30 15:14] mkrizek commented on #78656
If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-30 15:14] #78656 closed, assigned to nobody

[2022-08-30 15:16] #78612 closed, assigned to nobody

[2022-08-30 15:18] mkrizek commented on #78658
There is `Dpkg` option for lock timeout that we should add whenever we shell out to CLI.

[2022-08-30 15:19] #78659 closed, assigned to nobody

[2022-08-30 15:20] bcoca commented on #78662
https://github.com/ansible/ansible/issues/14367#issuecomment-493503362

[2022-08-30 15:21] mkrizek commented on #78662
If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-08-30 15:21] #78662 closed, assigned to nobody

[2022-08-30 15:33] geerlingguy commented on #78063
Came here after https://github.com/geerlingguy/ansible-role-jenkins/pull/362 — will try the `.asc` trick.

[2022-08-30 15:57] jf229 commented on #78662
yeah I think #14367 should get me going with what I'm looking for.  Thanks guys

[2022-08-30 17:26] sivel commented on #78658
As of now, we only handle lock issues when interacting with the cache via the python API.  However, we likely need to pass `-o DPkg::Lock::Timeout=<timeout_in_seconds>` via all CLI operations too.

[2022-08-30 17:45] sivel commented on #78608
As an update here, the issue is due to how role deduplicate is handled.

Long story short, for any set of params/tags/when statements for a single role, we only create 1 instance of that role.  The parent chain is not considered in this deduplication.  So `role3` is only instantiated 1 time, and the means in which we do so, basically makes the 2nd `role3` have a parent of the first `role2` which h

[2022-08-30 19:22] #78648 closed, assigned to sivel

[2022-08-31 12:02] webknjaz commented on #68915
They are used in runtime. But for install, it's much more tricky. Which one would be chosen, if there's many? The first one? The last one? We cannot guess the intent of the user as to where they'd want the collections to be unpacked. I suppose, this might be solved via a separate config setting, but not the one currently implemented. It's the same as installing Python packages — pip does not rely

[2022-08-31 13:27] Vladimir-csp opened #78675 "More os.path filters"
### Summary

Please add more filters based on os.path, specifically: `os.path.commonpath`, `os.path.normpath`. It is cheap, but would be handy in such tasks as validation, archive management, programmatic path generation. Can replace a lot of loops and regex filters.

### Issue Type

Feature Idea

### Component Name

core

### Additional Information

none

### Code of Conduct

- [X] I agree to fol

[2022-08-31 16:52] webknjaz commented on #73505
Another occurrence of the original issue — the first run has `list: DS error: eNotYetImplemented` and the following retry fails with `KeyError: "getpwnam(): name not found: 'ansibletest1'"`:
[code]
[code]

[2022-08-31 17:33] webknjaz commented on #73505
More research: https://github.com/ansible/ansible/pull/76094#issuecomment-947975121 + https://github.com/ansible/ansible/commit/eaa6164c4406ecc302b473f02f1987abac758734 seem to indicate that there's caching happening. And if we're too fast calling `getpwnam()`, then maybe we're getting the pre-update information.

This article seems to indicate that MacOS X used to have problems sending complete d

[2022-08-31 17:44] ahrenstein commented on #78063
I'm looking forward to reading your blog post. FWIW this thread did result in a solve for my issue [short term](https://github.com/route1337/ansible-role-dockerhost/commit/72d8e994317a92d7adaf812e24625c3709552a67) but I would still like to see a simpler method similar to what we're all used to.

[2022-08-31 18:41] bcoca commented on #78063
apt_repository already uses gpg as a fallback if apt-key is not present, we are still unsure if we need to update apt_key to just be a gpg wrapper or deprecate it and eventually remove since the apt-key utility it mirrors is going away.

[2022-08-31 18:49] lmayorga1980 opened #78677 "syslog_json callback plugin : message too long"
### Summary

**playbook**

[code]

**ansible.cfg**
[code]

**error.log**

[code]

### Issue Type

Bug Report

### Component Name

syslog_json

### Ansible Version

[code]
[code]
[code]
---
- name: ansible
  hosts: localhost
  connection: local
  tasks:
    - name: sample command
      shell: ls -lrt
      register: output
    - name: print task
      debug: var=output.stdout_lines
[code]
[defaults

[2022-08-31 19:15] sivel commented on #78677
!component =lib/ansible/plugins/callback/syslog_json.py

[2022-08-31 19:18] #78677 closed, assigned to nobody

[2022-08-31 21:15] lmayorga1980 commented on #78677
Interesting that I did not see the relative issue on the other repository.

[2022-08-31 22:13] sivel commented on #33058
I've attempted to reproduce this over the course of the day, using specifically the reproducers in:

* https://github.com/ansible/ansible/issues/33058#issuecomment-352395300
* https://github.com/ansible/ansible/issues/33058#issuecomment-846581347

Plus some random `.tar`, `.tar.gz`, and `.tgz` files that I have created, and found.

In no case can I get the failures documented in this issue.

I'm g

[2022-09-01 14:00] craph opened #78682 "Why latest version of Ansible aren't available via Yum"
### Summary

When I try to update Ansible on my CentOS 7.9 server I only see the version `2.9.27` available. Why I can't install the latest version from yum ?

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7.9

### Steps to Reproduce

[code]

### Expected Results

I should be able to see the latest version

[2022-09-01 14:46] csmagna opened #78683 "Satellte's new feature Simple Content Access seems to have broken the rhsm_repository module"
### Summary

RedHat depreciated using pools to setup 3rd party repos in Redhat Satellite (I'm using version 6.11.1.1) Now when a new host is registered to Sat via an activation key – All repos are available that are enabled with the content view assigned to it. So now there is no need to subscribe to pool. This seems to have broken rhsm_repository. I set those like AzureCLI repos as “disabled” in

[2022-09-01 14:52] #78683 closed, assigned to nobody

[2022-09-01 15:54] jhg03a opened #78684 "Expose task ignored status to CallbackBase"
### Summary

I'm working on my own custom callback plugin derivative of the stock json_file plugin.  As it stands within the `v2_playbook_on_stats` function, I can know for any given task what the state is via the boolean values aligning with the change verbs (changed, failed, etc) and the AggregateStats object.  However, there are verbs in the AggregateStats block which are missing from the prope

[2022-09-01 15:56] bcoca commented on #78684
you already get this info when the on_failed method gets called, the play does not keep track after that, but you could do so in the callback itself

[2022-09-01 15:58] jhg03a commented on #78684
Can you pass data from on_failed to on_stats?

[2022-09-01 16:00] bcoca commented on #78684
you can keep data in the callback object itself that is set in one and readable in the other, plenty of plugins do this, like those that take time measurements

[2022-09-01 18:16] #77764 closed, assigned to nobody

[2022-09-01 18:20] #78604 closed, assigned to nobody

[2022-09-01 18:28] #78559 closed, assigned to nobody

[2022-09-01 19:22] sysnetstriver opened #78689 "Ansible not executing powershell script or command in elevated shell mode"
### Summary

I have tried 3 different task methods to get Ansible to execute a powershell command or a ps1 script with the command in an elevated Administrator shell. I am a DOMAIN Admin and the computer is domain joined. All other powershell module tasks prior to this one work with my domain admin SA account. The command in the problem task is `Import-Module -Name DellBIOSProvider -Verbose -Force

[2022-09-01 19:50] samccann commented on #78600
Docs fix:  Add -
 For OpenSSH >=9.0 you must add an additional option to enable scp ( -O in ``ansible_scp_extra_args``).

below https://github.com/ansible/ansible/blame/devel/lib/ansible/plugins/connection/ssh.py#L313

and below https://github.com/ansible/ansible/blame/devel/lib/ansible/plugins/connection/ssh.py#L295

[2022-09-01 19:58] wnjuguna opened #78690 "Dev Guide doc: Duplicate paragraph in the section "Why test your Ansible contributions""
### Summary

The introduction paragraph below is duplicated later in the guide. https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/dev_guide/testing.rst#L14

Here's the duplicated section:
https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/dev_guide/testing.rst#L44

### Issue Type

Documentation Report

### Component Name

docs/docsite/rst/dev_guide/testing.rst

### Ansib

[2022-09-01 20:00] samccann commented on #78564
Documentation fix:
1. Change **full** to **partial** at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/unarchive.py#L126
2. Below that, add - details: Not supported for gzipped tar files.

[2022-09-01 20:01] #78689 closed, assigned to nobody

[2022-09-01 20:06] sysnetstriver commented on #78689
The psexec module is not the problem. That was just an additional attempt to get it to work. The primary problem is ansible.windows.win_powershell and ansible.windows.win_shell.

[2022-09-01 20:22] jhg03a commented on #78684
Ah ha, yep, you right.  That solves my issue, thanks!

[2022-09-01 20:22] #78684 closed, assigned to nobody

[2022-09-01 20:32] samccann commented on #72389
Documentation fix:

Add a note at https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/user_guide/sample_setup.rst#L126 as follows:

.. note::
  You can access host variables with the special ``hostvars`` variable. See :ref:`special_variables` for a list of these variables. This ``hostvars`` variable can  access only host-specific variables, not group variables.

[2022-09-01 20:41] samccann commented on #72381
Documentation fix:
At https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/user_guide/collections_using.rst#L249 Add the following note

.. note::
   You may see additional collections here that were added as dependencies of your installed collections. Only use collections in your playbooks that you have directly installed.

[2022-09-01 20:47] sysnetstriver opened #78692 "Ansible play windows powershell module elevated shell not importing drive"
### Summary

I have tried 3 different task methods to get Ansible to execute a powershell command or a ps1 script with the command in an elevated Administrator shell. I am a DOMAIN Admin and the computer is domain joined. All other powershell module tasks prior to this one work with my domain admin SA account. The command in the problem task is `Import-Module -Name DellBIOSProvider -Verbose -Force

[2022-09-01 20:56] #78692 closed, assigned to nobody

[2022-09-02 07:39] mkrizek commented on #77213
needs_info

[2022-09-02 07:56] mkrizek commented on #76143
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-02 07:56] #76143 closed, assigned to nobody

[2022-09-02 09:09] mkrizek commented on #55555
This is expected. The behavior is specific to the `debug` module. Trying to template the dictionary with an undefined value elsewhere triggers an error:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-02 09:09] #55555 closed, assigned to nobody

[2022-09-02 09:16] yajo commented on #38786
FWIW I feel Ansible verbosity levels are very uncomfortable for playbook development. It's like there should be something between `-vv` and `-vvv`.

With `-vv`, all tasks output more than commonly needed. But when a task fails, its output is in a single line. That forces me to copy the output, paste it in an editor, and split commas as newlines to be able to read it.

With `-vvv`, all tasks output

[2022-09-02 09:25] mkrizek commented on #55883
I am not able to reproduce this. I don't see how the handler would be notified for `unknown_host.unixdev.ca` if the host is fake server that is unreachable. If this is still an issue in ansible-core 2.13 please open a new issue with a minimal reproducer.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.c

[2022-09-02 09:25] #55883 closed, assigned to bcoca

[2022-09-02 09:42] docapotamus commented on #78063
@bcoca thanks, that now works. I did follow your instructions but it wasn't obvious that the `.asc` extension had any meaning. I'm guessing it does an automatic dearmor if thats the extension.

[2022-09-02 11:06] mkrizek commented on #78560
Thanks for letting us know, closing per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-02 11:06] #78560 closed, assigned to nobody

[2022-09-02 11:19] netsandbox commented on #78063
Please note that `/etc/apt/trusted.gpg.d/` is the wrong location for the keys. Also `/usr/share/keyrings`, which is mentioned in other places is wrong, because this directory should only be used by keys distributed by apt packages.

The correct location is `/etc/apt/keyrings`, but keep in mind that this directory (will) only exists in Debian >= 12 and Ubuntu >= 22.04, so you have to create this di

[2022-09-02 12:41] jskacel opened #78693 "yum_repository module has keepcache which is not supported in repositories"
### Summary

Module `yum_repository` have option for `keepcache`, which is not supported for repository (it should be only in `yum.conf`).

Ref: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/ch-yum#sec-Setting_main_Options

### Issue Type

Bug Report

### Component Name

yum_repository

### Ansible Version

[code]

### Configuration

[cod

[2022-09-02 13:05] antopj opened #78694 "command module is not returning error. Instead going on indefinite wait"
### Summary

Ansible is not exiting or not throwing any error while the remote command failed, making user to wait indefinitely waiting.

Example:
- `pg_basebackup` command which takes some time to finish, Ansible went to `stuck` mode even though the command finished/failed.

[code]

- Manually checked the command to see below error:
[code]

### Issue Type

Bug Report

### Component Name

command

[2022-09-02 13:15] mkrizek commented on #78694
You can use the `timeout` keyword that was added in ansible-core 2.10.

[2022-09-02 13:18] antopj commented on #78694
@mkrizek
No. We can expect this to finish in 2minutes for new DB and 2 hours for a large DB.

[2022-09-02 13:41] eoli3n opened #78695 "uri module with dest always result in changed task state"
### Summary

uri module is not idempotent when running with ``dest``

See https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/uri.py#L728

### Issue Type

~Bug Report~
Feature Idea

### Component Name

uri

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Void Linux, latest

### Steps to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[2022-09-02 14:23] geerlingguy commented on #78063
@netsandbox - In that case, to respond to @bcoca's earlier comment, I think it would be essential to keep apt_key in the mix, and make it work to download and dearmor the key, otherwise we're going from one to at least two tasks, including a `command` to run the dearmor, and that just goes against all things ansible!

[2022-09-02 14:25] bcoca commented on #78063
@netsandbox we will probably end up with all 3 dirs as possible targets in order of preference. If the prefered does not exist, fallback to the others as they are known to work.

[2022-09-02 14:35] netsandbox commented on #78063
@bcoca I think `/usr/share/keyrings` should not be supported, because as Debian says in the Wiki:

It is better to have `/usr/share/keyrings` for keys added by packages and `/etc/apt/keyrings` for manually (and Ansible) managed keys.

[2022-09-02 14:38] bcoca commented on #78063
@netsandbox yet we still need to work with older versions which actually did use that directory via apt-key, we cannot have it both ways, we either break backwards compatibility or adhere strictly to the latest spec. This project tends to err on the side of compatibility.

[2022-09-02 21:03] jchilcher-godaddy opened #78701 "ansible-pull does not utilize the --become-password-file"
### Summary

When I try to use the --become-password-file flag in the command
[code]
I get the following error:
[code]
when attempting to use the playbook:
[code]
I believe this is a bug because the [pull.py](https://github.com/ansible/ansible/blob/ad79c1e0d032eb5dda216055ffc393043de4b380/lib/ansible/cli/pull.py#L278) does not seem to utilize the [ask_passwords](https://github.com/ansible/ansible/

[2022-09-03 09:05] felixfontein opened #78703 "`'xxx' is undefined` is now doubled"
### Summary

Since 4260b71cc77b7a44e061668d0d408d847f550156, if a template contains an undefined variable, the error message is now output twice in a row: `'foo' is undefined. 'foo' is undefined`.

This came up in some integration tests in community.general, but it can also be reproduced with `ansible localhost -m debug -a 'msg={{ foo }}'`. Note that *before* that commit that already contained tha

[2022-09-03 09:10] felixfontein commented on #78703
[code]
now produces
[code]
instead of
[code]

[2022-09-03 09:16] felixfontein commented on #78703
The change causing this is:
[code]

[2022-09-04 07:40] heini opened #78704 "Warning about python interpreter on armhf only"
### Summary

When I run a playbook on several Debian Bullseye hosts, I get the following warning ONLY from the **armhf** one:
[code]
although it runs the same Debian version and there's not difference to the amd64 hosts w.r.t. Python.

### Issue Type

Bug Report

### Component Name

gather_facts

### Ansible Version

[code]
Note: This is the only host already running Debian Bookworm, hence the Pyt

[2022-09-04 09:40] apollo13 opened #78705 "Make `loader._vault` (or similar) public API to allow plugins to access vault secrets"
### Summary

I am using `community.sops` which allows to access data from a file encrypted with SOPS (note: this just serves as an example, the same might hold true for plenty of other plugins).  The most common way to provide `community.sops` with credentials is to either set an environment variable that directly contains the credentials or an environment variable pointing to a file with the secr

[2022-09-04 11:31] toralf opened #78706 "ansible_distribution_release is not set for Debian bullseye where testing was added"
### Summary

ansible_distribution_release is set to "n/a"

### Issue Type

Bug Report

### Component Name

ansible.builtin.apt_repository

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

hsot is Gentoo, target system is Debian bullseye

### Steps to Reproduce

[code]

The problem is the content of this file (it is bullseye and later `testing` was added as an apt sourc

[2022-09-04 12:08] toralf commented on #78706
well, in addition 'ansible_hostname' is undefined" is the next issue, maybe Ansible is for "Debian bookworm" not ready ?

[2022-09-04 15:59] toralf commented on #78706
well, problem is related to the Debian image itself, not to Ansible.

[2022-09-04 15:59] #78706 closed, assigned to nobody

[2022-09-05 14:43] irondanCrssvl opened #78709 "Can I filter the StatefulSets by string contained in their namespace??? - k8s_info module"
### Summary

Hello, I am having some troubles to get StatefulSets from my Cluster.

The issue is that I want to find all the StatefulSets whose namespace contains a certain string but I don't see a way to get it through the Documentation.

With the parameter "namespace" could be done but only a certain namespace can be passed as a parameter.

From my point of view, this can only be done by saving

[2022-09-05 14:48] #78709 closed, assigned to nobody

[2022-09-05 15:33] silveraignacio opened #78710 "option dns4_ignore_auto not working"
### Summary

I was using nmcli module when I detect that one of the options that is already documented, is not working.
The option is here: https://docs.ansible.com/ansible/latest/collections/community/general/nmcli_module.html#parameter-dns4_ignore_auto

But when I tried to use it on my playbook I got the following error:

[code]
I'm using version 5.3.0 from community.general as you can see
[code

[2022-09-05 15:39] #78710 closed, assigned to nobody

[2022-09-06 09:51] Migsi commented on #77213
Due to other important tasks being prioritized, I was not able to retry this yet. I guess it will take me at least until December until I can reinvestigate, i.e. perform an upgrade to this affected version. I'll probably try the then most recent one as well, maybe the issue was indeed already fixed by the above mentioned PR.

Was there any input from others using non en_XX locale on their hosts an

[2022-09-06 12:30] Yannik opened #78715 "ansible.builtin.file: incorrect permissions being set when looping"
### Summary

Setting file permissions for a list of files like this
[code]

using `ansible.builtin.file` results in incorrect permissions. For details see steps to reproduce below.

### Issue Type

Documentation Report

### Component Name

file

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

fedora 35

### Steps to Reproduce

Create a host_vars file with this:
[code]

[2022-09-06 13:46] sivel commented on #78715
The problem here is somewhat complex, but is effectively the expected behavior.

When you specify `mode: 0770`, pyyaml detects this as an octal, but since Python does not have a persistent means of storing an octal, the value is converted to an integer, effectively `mode: 504`.

Using the standard means of jinja2 templating in ansible, an individual templating operation can only result in one of t

[2022-09-06 14:07] Yannik commented on #78715
Hi @sivel,

thanks for the explanation!

Currently, the docs for the `mode` parameter of the file module state this:

In earlier versions of ansible, the leading zero was the only option. Quoting wasn't even mentioned:

As observed in this issue, the solution of prepending a leading zero leads to results that are (for most users) completely unexpected and seemingly broken in specific circumstances

[2022-09-06 15:12] #43191 closed, assigned to nobody

[2022-09-06 15:12] #72638 closed, assigned to nobody

[2022-09-06 15:12] #78042 closed, assigned to nobody

[2022-09-06 15:24] #78682 closed, assigned to nobody

[2022-09-06 15:29] mkrizek commented on #78694
It appears `mitogen` is being used. Can you reproduce the issue with Ansible without mitogen? Does the command actually stop execution?

[2022-09-06 15:38] mkrizek commented on #78704
Can you provide an output when running your playbook with `ANSIBLE_DEBUG=1`? Can you also limit the playbook to run only on one host?

needs_info

[2022-09-06 15:42] mkrizek commented on #78705
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop by there, we'd

[2022-09-06 15:42] #78705 closed, assigned to nobody

[2022-09-06 15:50] heini commented on #78704
Sure. Here you are: [ansible.log](https://github.com/ansible/ansible/files/9498582/ansible.log)

[2022-09-06 16:00] sivel commented on #78715
Adding a warning is not something we plan to do, as it's a completely normal use case where the author has placed an octal in mode without any templating.

We've adjusted this to a documentation report, so that we can perhaps clarify the documentation more.

[2022-09-06 16:10] sivel commented on #78704
I notice that the debugs indicate this is actually raspbian, and not debian.  Can you upgrade to ansible-core 2.13 and test again to see if you get the same message?

2.13 added support for also comparing distro families, whereas in 2.12 raspbian wouldn't have been considered as debian, in 2.13 it will.

needs_info

[2022-09-06 16:24] sivel commented on #78695
This is correct, because as of now the `uri` module does absolutely no checking to determine if the content is different or not.  As such, it always writes the file out, which produces a change.

Is there any reason you are not using `get_url` which aims to address exactly this use case?

Not that we cannot extend `uri`, but as the current behavior was intentional, this is not a bug, this is a fea

[2022-09-06 16:34] Yannik commented on #78715
Hi @sivel,

would you mind commenting on my question regarding your proposed solution of enabling jinja2 native?

[2022-09-06 17:11] mattclay commented on #77664
@nkakouros The `waiting_on_contributor` label is [documented](https://github.com/ansible/ansibullbot/blob/devel/ISSUE_HELP.md#label-waiting_on_contributor) as follows:

If you'd like to work on this feature, I recommend starting a [discussion](https://docs.ansible.com/ansible/latest/community/communication.html#real-time-chat) on it first.

[2022-09-06 17:30] eoli3n commented on #78695
I was trying to get differences between get_url and uri, I just noticed that difference. If that's not a bug, you can close it.
But IMO, all modules should be idempotent.

[2022-09-06 18:50] bcoca commented on #78695
@eoli3n while we strive for that, it cannot always be the case and we have to allow for automation for when we know it won't (see shell/command/script/etc)

Closing as per above

[2022-09-06 18:50] #78695 closed, assigned to nobody

[2022-09-06 19:42] s-hertel commented on #77443
I'm planning on merging https://github.com/ansible/ansible/pull/77468 and backporting it so a fix will be available for this specific case in 2.13 (likely 2.13.5).

I also have a pull request to handle this better in 2.14 with a new CLI option https://github.com/ansible/ansible/pull/78678.  Instead of falling back to the unreachable Galaxy server and giving a traceback for missing dependencies, ai

[2022-09-06 21:07] #77443 closed, assigned to s-hertel

[2022-09-07 09:21] 6657HJSH opened #78723 "Create Opensearch user filebeat using playbook Ansible"
### Summary

Hi people!

I’m doing project to create user and roles for filebeat directly in the Ansible playbook.

I tried a few ways but to no avail:
- Create URI module for PUT json file

Does anyone have a model?

### Issue Type

Feature Idea

### Component Name

uri

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-09-07 09:48] nicoklausl commented on #38786
Would be really helpful for CI. We run Ansible playbooks in GitLab with normal output, so it is readable, but if the playbook fails it would be really helpful to have a log file with verbose output for debugging.

[2022-09-07 10:10] mkrizek commented on #78723
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-09-07 10:10] #78723 closed, assigned to nobody

[2022-09-07 10:26] phibid commented on #78560
Ah no sorry, not sure if this issue can be re-opened. The test was wrongly done. This still does not work with Ansible 2.11.
The metapackage flagged with the security updates are not listed to be updated in the Ansible task.

[2022-09-07 14:06] bcoca commented on #38786
if you enasble ansible.log, it will always get the traceback for any fatal failures

[2022-09-07 15:05] s-hertel commented on #71832
Fixed by https://github.com/ansible/ansible/commit/1b70260d5aa2f6c9782fd2b848e8d16566e50d85

[2022-09-07 15:05] #71832 closed, assigned to nobody

[2022-09-07 15:39] s-hertel commented on #77345
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * It's difficult to obtain repeatable results with this kind of feature.

However, we're absolutely always up for discussion.
Because this

[2022-09-07 15:39] #77345 closed, assigned to nobody

[2022-09-07 17:04] iuvooneill opened #78724 "facter facts not being included in setup for AlmaLinux 9.0"
### Summary

facter-based facts are not getting reported through the setup module when running ansible (6.3.0, core 2.13.3, although this also is a problem with 4.4.0 and 4.10.0, and even ansible-2.9.27), when run against an AlmaLinux 9.0 target system with facter installed.

When running the "facter" module explicitly, it gives data.

facter is installed and available in /usr/bin/facter.

### Iss

[2022-09-07 17:14] #77537 closed, assigned to nobody

[2022-09-07 17:15] sivel commented on #78724
If you run the command that setup does directly, what do you get?

[code]

Does omitting `--puppet` change the behavior?

[2022-09-07 17:27] iuvooneill commented on #78724
I should add the facter version is 4.2.6.

The resulting json is identical with and without "--puppet".  However, in doing so I can see that with "--puppet", there is a line via stderr not otherwise seen:
[code]

Could this be throwing off the parser? I installed puppet, and the error went away, but now I seem to get the facts.

[2022-09-07 17:41] sivel commented on #78724
When run with `--puppet` I also assume the exit code is not `0`, and as such, we don't attempt to parse the JSON from stdout.  The `community.general.system.facter` module does not default to including the `--puppet` flag.

If that error message is included in stdout and not stderr, that could also be a cause.

[2022-09-07 17:50] iuvooneill commented on #78724
You are correct - the exit code is 1.

[2022-09-07 19:06] sivel commented on #78715
It's largely backwards compatibility concerns.  As described above, the non-native implementation can only produce certain variable types, whereas native isn't restricted.  As such, there may be work arounds that users have accounted for that are incompatible with native.  Historically, it also required upgrading to jinja2 versions that may not be available for your OS, but that is a hard requirem

[2022-09-07 20:18] septatrix opened #78726 "Add `content` parameter to `template` module"
### Summary

Currently I often employ the copy module together with variables inside the content field. The documentation however says that this may result in an unpredictable output.
An alternative would be to use the template module however it does not support the content parameter. Instead one needs to create a separate file for every such use case.

It would be great if either the template mod

[2022-09-07 20:43] sivel commented on #78726
Duplicate of https://github.com/ansible/ansible/issues/75367

[2022-09-07 20:54] septatrix commented on #78726
According to the above quote (https://github.com/ansible/ansible/issues/75367#issuecomment-891927144) there is does not seem to be any unexpected behaviour with the copy module. Instead it is simply to discourage complex inline templates.

Often, however, users simply want a single line as the content. For this a separate file is overly complicated and might even be disadvantageous as it hides sim

[2022-09-07 22:39] sivel commented on #78352
I believe this issue is actually a duplicate of https://github.com/ansible/ansible/issues/47023

[2022-09-07 22:56] bcoca commented on #78726
the unexpected part of output is the control of whitespace, which we cannot guarantee when doing inline templating in the playbook.

[2022-09-07 22:56] bcoca commented on #78726
closing as dupe

[2022-09-07 22:56] #78726 closed, assigned to nobody

[2022-09-08 00:06] #74650 closed, assigned to nobody

[2022-09-08 08:33] fansari opened #78731 "cannot suppress idempotency warning in eos_config"
### Summary

When I remove an ACL from an Arista switch I always get this warning:

[WARNING]: To ensure idempotency and correct diff the input configuration lines should be similar to how they appear if present in the running configuration on device

I tried to get rid of this with "match: none" but this has no effect.

### Issue Type

Bug Report

### Component Name

eos_config

### Ansible Versi

[2022-09-08 08:38] #78731 closed, assigned to nobody

[2022-09-08 10:09] bendem opened #78733 "ansible-vault client scripts cannot rely on being symlinks"
### Summary

We have a password script that relies on being a symlink to work. Basically, it looks something like this:
[code]

We use this so it's easy to run commands either from the host for advanced setup, or from a full docker image for users that don't actually develop playbooks.

Each symlink named after a command will run that command inside the image. Except we can't actually use this wit

[2022-09-08 10:13] bendem commented on #78733
I have written a very crude fix, I'm sure there are some edge cases that can be found.

[code]

I'm sure it's more complex when dealing with windows paths or other edge cases.

[2022-09-08 11:27] Dule-mart commented on #72381
Hye @samccann

I tried locating the file via the above link just to see that the page has been moved to `collections_index`
Now, I have been trying to locate the `collections_index` file.

[2022-09-08 12:33] otteydw commented on #71461
It just feels like this bug keeps getting stuck with no traction? I can't believe so few are having problems with this? We had to implement some janky sed command to fix the output of an ansible-galaxy command in our tooling. And it still doesn't work reliably.

[2022-09-08 13:26] sivel commented on #78733
Duplicate of https://github.com/ansible/ansible/issues/18319

[2022-09-08 13:32] #78733 closed, assigned to nobody

[2022-09-08 13:38] bendem commented on #18319
Found this as well, the following patch is crude (adapted with what @wdoekes wrote), but works fine:

[code]

I'm sure it's more complex when dealing with windows paths or other edge cases.

[2022-09-08 13:44] bcoca commented on #18319
fix is using our custom `unfrackpath(filename, follow=false)`

[2022-09-08 15:08] heini commented on #78704
Yep, updating ansible core removes the warning. Thanks a lot.

[2022-09-08 15:08] #78704 closed, assigned to nobody

[2022-09-08 19:18] mattclay commented on #78724
Since the exit code is 1, this is working as expected. You'll need to figure out why the command is failing and resolve that.

[2022-09-08 19:18] #78724 closed, assigned to nobody

[2022-09-08 19:39] ejohn167 opened #78736 "Error when attempting to remove config from an interface that doesn't have the config"
### Summary

When trying to ensure no interfaces have a certain setting applied, I have a playbook to remove a setting such as 'switchport port-security'.

For interfaces on a switch that have the setting, no error occurs.
If an interface does no have the setting, every interface after that in ansible_net_interfaces failes with
"msg": "show version\r\nshow version\r\n  ^\r\n% Invalid input detecte

[2022-09-08 19:46] #78736 closed, assigned to nobody

[2022-09-08 20:11] #78633 closed, assigned to sivel

[2022-09-08 20:11] #53373 closed, assigned to sivel

[2022-09-09 12:35] yervaraj1991 opened #78740 "Is lookup (AWS_SSM) supported in China region cn-north-1??"
### Summary

I have an existing ansible configuration in place to use lookup along with aws_ssm ansible plugin to retrieve the  ssm values in US-east-1 and eu-central-1 and its working fine. I am trying to use the same for china region cn-north-1 but it is throwing an error/exception. So wanted to make sure if aws_ssm plugin is supported in china region??

We kept using this cofiguration/plugin in

[2022-09-09 13:41] RdeWilde opened #78742 "`lookup("password", ...)` returns different values for same parameter in different format"
### Summary

Results are different although same seed is used
[code]
vs
[code]
Only difference is format.

Check test from this PR: https://github.com/ansible/ansible/pull/78102

### Issue Type

Bug Report

### Component Name

password

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS

### Steps to Reproduce

[code]
vs
[code]

### Expected Results

Output should

[2022-09-09 13:55] mkrizek commented on #78740
!component =lib/ansible/plugins/lookup/aws_ssm.py

[2022-09-09 13:58] #78740 closed, assigned to nobody

[2022-09-09 14:47] yervaraj1991 commented on #78740
hi Krizek. Didnt quiet understand what u mean in the above comment. may i know if aws_ssm is supported in china- cn-north-1??

[2022-09-09 20:18] flowerysong commented on #78742
This does not appear to be a bug. Your first test is valid syntax, but doesn't mean what you think it means.

You have:
[code]

This passes two strings to the lookup, each of which is processed as a filename; this is why you get two comma-separated passwords back (one of which ends up stored in a very strangely named file.)

What you meant to do is set the `seed` parameter:
[code]

This results in

[2022-09-10 15:00] d-tork opened #78744 "Can no longer define changed status for shell or command?"
### Summary

The [documentation for error handling](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#defining-changed) says I can define "changed" for builtin modules `shell` and `command` by using a combination of parameters `register` and `changed_when`. I did so, exactly as the documentation shows, with a script designed to exit with code 1 or 0.

The error is
[c

[2022-09-10 16:10] flowerysong commented on #78744
This does not appear to be a bug.

You didn't show your code, but you probably didn't do it "exactly as the documentation shows", because the code in the documentation cannot produce that error.  To achieve that result you need something like the following:

[code]

This has `register` and `changed_when` at the wrong level; they are generic task parameters that are usable in any task, not module p

[2022-09-10 18:55] DonBower opened #78746 "postgresql_user action fails, but equivalent host action works"
### Summary

While attempting to add a PostgreSQL user, with the task:
[code]
I get the following failure:
[code]
However, the equivelent host command works just fine:
[code]

### Issue Type

Bug Report

### Component Name

postgresql_user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

local: macOS version 12.5.1
remote:
[code]

### Steps to Reproduce

[code]

### E

[2022-09-10 18:59] DonBower commented on #78746
Here's a more complete output which was trimmed due to size:
[code]

[2022-09-10 19:01] #78746 closed, assigned to nobody

[2022-09-11 03:02] d-tork commented on #78744
That's right, it was the indentation. Thanks.

[2022-09-11 03:02] #78744 closed, assigned to nobody

[2022-09-11 11:29] imjoseangel commented on #73244
I was thinking on implementing something like this:

[code]

And concatenate both in `dict_headers` later:

[code]

With this approach, any header that would need to be hidden will be in the headers_secret.

@bcoca What do you think? It fits the requirements and gives extra functionality to the URI module but not sure if you had another solution in mind.

[2022-09-11 13:53] heini commented on #78063
@bcoca, what are the older versions you are talking about? the "signed-by" sources.list option is available since Stretch, so placing the keyrings into either /etc/apt/keyrings or /usr/share/keyrings should work there w/o problems. It won't work in Jessie or older, though...

[2022-09-11 13:56] heini commented on #78063
@netsandbox, yes, /usr/share/keyrings SHOULD be supported, since it may well be that an admin needs to place a key there before being able to install the package that then manages it. There can be an option not to update existing files...

[2022-09-11 14:16] heini commented on #77073
Please note that the example above is a quite simplified one. As you can see, all the keywords denote plurals, which means, one could also have something like:
[code]
which would be equivalent to
[code]
In addition, options in `[]`can also be specified by their name.

[2022-09-11 14:59] heini opened #78747 "Add module for managing /etc/hosts entries"
### Summary

Coming from Puppet and Salt, I found that Ansible has no module to manage entries in the `/etc/hosts` file. (There's a community module for Windows only, though).

Such a module should support managing /etc/hosts entries on Linux (and other Unix variants) as well as Windows (only the path on disk differs from the Linux one, the file format itself is the same) so that one can write a p

[2022-09-12 12:45] evgeni opened #78749 "keyed_groups from an integer key don't work"
### Summary

I have an inventory plugin that reports a certain value as an integer (as that's what it is).
When I try to use that value for a keyed group, Ansible tells me it can't use an integer:
[code]

### Issue Type

Bug Report

### Component Name

inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 36

### Steps to Reproduce

[code]

[code]

### Exp

[2022-09-12 13:47] bcoca commented on #78063
@heini i've updated apt_repository to handle the directories in order of preference (so it will depend on their existence on those versions), the question i have now is should i expand apt_repository to handle keys with all repos (not just ppa) and deprecate apt_key or move the functionality to module_utils and have both modules use it.

[2022-09-12 14:38] #74397 closed, assigned to nobody

[2022-09-12 15:09] heini commented on #78063
@bcoca, I don't understand. What do mean by "order of preference"? Why not simply leave it to the user where to store each keyring?
I don't think that "directory exists" is a sufficient criterium. It doesn't tell whether a specific key needs to go into one dir or the other...

[2022-09-12 15:11] cwiech opened #78750 "ansible_ssh_common_args ignored in 2.14.0.dev0 (and 2.12, 2.13)"
### Summary

Setting the ansible ProxyCommand in the playbook does not work. This issue was reported, and closed but the same issue still seems to persist in  the 2.14.0.dev0 branch on github. It appears the problem still exists in the 2.14 code and hasn't been resolved yet.

https://github.com/ansible-collections/ansible.netcommon/issues/296

### Issue Type

Bug Report

### Component Name

ansibl

[2022-09-12 15:20] mkrizek commented on #78750
!needs_collection_redirect

[2022-09-12 15:21] sivel commented on #78750
cc @Qalthos

[2022-09-12 16:39] bcoca commented on #78063
we can add the option, fall back to the debian standard

[2022-09-12 19:23] evgeni commented on #78749
this seems to work, but feels rather inelegant:

[code]

[2022-09-12 21:18] flowerysong commented on #78749
You don't need an intermediate variable to work around this, you can just make sure that your key expression is a string:
[code]

Also, your reproducer is not runnable, so while I was fixing the errors I cut it down to something more minimal:
[code]

[2022-09-13 07:06] evgeni commented on #78749
Cool, indeed `key: duffy_session | string` works, but I wouldn't be able to come up with this looking at the docs:
https://github.com/ansible/ansible/blob/a26c325bd8f6e2822d9d7e62f77a424c1db4fbf6/lib/ansible/plugins/doc_fragments/constructed.py#L45-L48
So maybe this is just a docs bug? Because it totally makes sense that you can't throw random stuff in there and expect Ansible to properly consume

[2022-09-13 07:50] #77315 closed, assigned to nobody

[2022-09-13 08:12] phibid opened #78757 "YUM module ignore metapackage security updates"
### Summary

Discrepancies while using `security` flag in yum Ansible module and CLI. Seems that this is because of the fact that the security updates is a metapackage.

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.6 (Ootpa)

### Steps to Reproduce

Exe

[2022-09-13 08:12] phibid commented on #78757
Opening this new case following https://github.com/ansible/ansible/issues/78560 which was wrongly closed (my bad ...)

[2022-09-13 09:13] JSGUYOT opened #78758 "ansible-galaxy install make an error when number of version more than 100"
### Summary

Hello,

When number of collection version more than 100 (exemple with ansible.netcommon)
ansible-galaxy install command make an error (Cf. expected result)
I haven't this problem when collection has less than 100 versions

Regards,

### Issue Type

Bug Report

### Component Name

!component

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Step

[2022-09-13 09:53] rforberger opened #78759 ""Invalid data passed to 'loop', it requires a list, got this instead: <built-in method values of dict object at 0x7f63b782bf80>."
### Summary

When trying to pass a variable called i.e. sysctl.values to loop, I will get the above error.

### Issue Type

Bug Report

### Component Name

debug (only used for debugging)

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 36

### Steps to Reproduce

[code]

### Expected Results

Output of debug using sysctl.values

### Actual Results

[code]
[cod

[2022-09-13 10:46] mkrizek commented on #78759
The error message indicates what is happening:
[code]

the built-in method [`values`](https://docs.python.org/3/library/stdtypes.html#dict.values) of `dict` effectively shadowed the key `values` you defined. Renaming the key to say `vals` fixes the problem.

[2022-09-13 11:35] #78759 closed, assigned to nobody

[2022-09-13 12:17] rforberger commented on #78759
Thanks @mkrizek

[2022-09-13 13:08] sivel commented on #78758
Duplicate of https://github.com/ansible/ansible/issues/77911

This was addressed in 2.12.8 and 2.13.3.  2.11 is only receiving security updates at this time.

You will need to upgrade to at least one of the above versions.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-

[2022-09-13 13:08] #78758 closed, assigned to nobody

[2022-09-13 15:04] mkrizek commented on #78742
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-13 15:04] #78742 closed, assigned to nobody

[2022-09-13 15:08] mkrizek commented on #78747
Hi!

Thank you very much for your submission to Ansible. It means a lot to us that you've taken the time to contribute.

Since Ansible 2.10 we are no longer accepting new modules/plugins into Ansible core.  However, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections. You can find more information about collections at:

   * https://docs.ansible.co

[2022-09-13 15:08] #78747 closed, assigned to nobody

[2022-09-13 15:10] mkrizek commented on #78749
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-13 15:10] #78749 closed, assigned to nobody

[2022-09-13 15:12] evgeni commented on #78749
@mkrizek I don't think this should be closed, as the documentation doesn't lead the user to the same conclusion.

[2022-09-13 15:13] sivel opened #78760 "ansible-core docs site missing navigation for common pages"
### Summary

Here are a few examples missing:

1. REFERENCE & APPENDICES -> Collection Index
2. REFERENCE & APPENDICES -> Indexes of all modules and plugins
3. The entire "ANSIBLE GALAXY" section

Links generated by core always link to the `ansible-core/` docs.  With these links and sections missing, the docs site is missing critical information.

Note: I didn't check all versions of ansible-core,

[2022-09-13 15:16] mkrizek commented on #78757
Can you test with the latest version of ansible-core? We believe this is fixed in ansible-core 2.13.

Ansible 2.11 is [security fixes only](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#ansible-core-changelogs) so it is unlikely this would get fixed in 2.11

needs_info

[2022-09-13 15:19] yakhatape opened #78761 "playbook with vault filedescriptor"
### Summary

When I try to pass the vaul file as a fd device to the cli ansible-playbook i got the error :
[code]

### Issue Type

Bug Report

### Component Name

ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7

### Steps to Reproduce

[code]

### Expected Results

Like on my laptop with ansible version where its works but its not the same O

[2022-09-13 15:20] yakhatape commented on #78761
Looks like :
https://github.com/ansible/ansible/issues/28058
https://github.com/ansible/ansible/pull/63729

[2022-09-13 15:27] bcoca commented on #78761
closing as per above

[2022-09-13 15:27] #78761 closed, assigned to nobody

[2022-09-13 15:33] yakhatape commented on #78761
@sivel ok so how can we work with vault-password without having credentials on server ..?

[2022-09-13 15:36] sivel commented on #78761
In your example, you can replace `<(echo XXXX)` with a shell script:

[code]

Make it executable, and point to that with `--vault-password-file`

[2022-09-13 15:40] yakhatape commented on #78761
yeah but its not really a safe behavior to manager secret ....
We have our vault-password already in our rundeck key manager (encrypted) and we wanna try to pass to the ansible CLI this key (stored on rundeck) without to write it on server .. :(

[2022-09-13 15:42] sivel commented on #78761
Export it as an env variable, and then echo it from the script.  Obviously you are able to do something with it, it's not completely inaccessible.  A script can perform anything that you can write via code.

[2022-09-13 15:56] heini commented on #78747
Eeerh, so you're not accepting core functionality of provisioning tools to be added to the core of your provisioning tool. Weird...

[2022-09-13 15:58] d-tork commented on #78063
@geerlingguy In your [Ansible Galaxy role](https://galaxy.ansible.com/geerlingguy/docker) you don't use the `signed-by` to point to the gpg key, which is how the official Docker install instructions do it. Is there a particular reason why this works, and does it avoid the `dearmor` and gpg/asc issue here?

[2022-09-13 16:11] nstng opened #78762 "core 2.13.4 breaking change in apt only_upgrade"
### Summary

Using `apt` with `only_upgrade: yes` fails if a package is currently not installed. It seems this was recently introduced with https://github.com/ansible/ansible/pull/78327. For us this was a breaking change - was this intentionally?

### Issue Type

Bug Report

### Component Name

apt

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu/focal64 202208

[2022-09-13 16:20] samccann commented on #78760
Two problems here:

1. part of the user guide revamp, we moved the collection/module indexes and probably shouldn't have. While the url still works, they aren't prominent in the left-hand nav like they should be so we'll move them back.
2. Galaxy was excluded from the core docsite...erm.. since there was a core docsite :-) That said, it should probably never have been excluded so we'll bring it ba

[2022-09-13 16:26] oraNod commented on #78760
The collections index was moved with this PR: https://github.com/ansible/ansible/pull/78708

The modules and plugins index was moved with this PR: https://github.com/ansible/ansible/pull/78699

I'm currently working on a PR to restore those two indexes to the References and Appendices section.

[2022-09-13 19:53] sivel commented on #78747
For what it is worth, we generally frown upon modules that attempt to manage parts of files instead of the full file.  So we'd generally recommend just using the `template` module, and managing `/etc/hosts` in its entirety.  On another note, this could also be achieved now with `lineinfile`, not that I necessarily recommend using that module either.

But yes, we have reduced the number of modules

[2022-09-13 20:35] cwiech commented on #78750
One more note. Using ansible-core 2.13.4 and ansible 6.3.0 with libssh installed, the workarounds with paramiko no longer work. It would seem the ability to proxy with libssh does not work. Just making sure that in the end  ansible_ssh_common_args will apply to libssh and paramiko connection types.

ansible               6.3.0
ansible-core          2.13.4
ansible-pylibssh      0.4.0

[2022-09-13 20:42] bcoca commented on #78750
that is something each plugin has to reference, not something core ansible does by itself

[2022-09-13 20:54] sivel commented on #78750
fwiw, it looks like for the `ansible.netcommon.libssh` connection plugin to work, would also require `ansible.netcommon` 3.1.1 or newer based on this commit https://github.com/ansible-collections/ansible.netcommon/commit/130c49ea32afea5807e2c733599a3e6a4da8baaa

`ansible==6.3.0` includes `ansible.netcommon==3.1.0`

I'm unsure of the extend of changes in that commit and how they impact the necessar

[2022-09-14 07:20] mkrizek commented on #78749
This was discussed during core triage meeting. There are several mentions that you can indeed use Jinja2 in the constructed inventory plugin in [docs](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/constructed_inventory.html) and I don't see us mentioning every possible use case in the docs. We do cover how to transform data using Jinja2 elsewhere in the docs too.

However if

[2022-09-14 07:35] evgeni commented on #78749
The docs you linked say:
* `compose`: Create vars from jinja2 expressions.
* `groups`: Add hosts to group based on Jinja2 conditionals.
* `keyed_groups.key`: The key from input dictionary used to generate groups

I don't see how a user should deduct that `keyed_groups.key` can *also* be a Jinja2 expression.

Also, looking at the examples, `compose` and `groups` have Jinja2 expressions in the examp

[2022-09-14 09:50] christianbrensing opened #78767 "Startup of Ansible process slowed down in version 2.12.6 and higher"
### Summary

Ansible takes beginning with version 2.12.6 a significant amount of time between parsing the inventory and the actual work to do (playbook, ad-hoc task, etc.).

In version <= 2.12.5 the initial startup was pretty fast:

[code]

Beginning with version 2.12.6 up to the latest versions of 2.12 and 2.13 the startup slowed down significantly:

[code]

The delay happens **after** parsing th

[2022-09-14 13:34] BillKanawyer commented on #30411
I am also chasing a variant of the hanging problem using a with_nested lineinfile edit of /etc/group that includes a complex regexp expression with back references.

The task in question has been in use for about four years now across a wide range of OS but has recently been hanging on every host.  Clearly, something had changed in Ansible, python, or another supporting module.

Being an old Unix