[2018-05-02 15:14] #39505 closed, assigned to nobody

[2018-05-02 15:16] bogski87 opened #39612 "mssql_db fatal error"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

mssql_db
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Main ansible config is unchanged. I copy the /etc/ansible directory for each project and change the config in there.

The only changed part of the config in this is the hosts section. It was updated to look for host instead of /etc/ansible/host
##### OS / ENVIRONMENT

Ansible controll

[2018-05-02 15:18] sdodson commented on #39558
@abadger yeah, only happens when the link already exists, based on the traceback i imagine it's trying to apply selinux contexts

[code]

[2018-05-02 15:20] mykaul opened #39613 "oVirt disk module uses inefficient upload function"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

oVirt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The code (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/ovirt/ovirt_disk.py#L366 for example is inefficient, therefore somewhat slow.
For example, there's no need at all for transfer_service.extend() for each chunk.
See

[2018-05-02 15:28] ryansb commented on #39611
Hm, seems to be an issue with the plan path being passed to the command that builds the plan. Try [this patch](https://github.com/ansible/ansible/compare/devel...ryansb:tf-plan-custom-file.patch) from my fork https://github.com/ansible/ansible/compare/devel...ryansb:tf-plan-custom-file?expand=1

[2018-05-02 15:39] ryansb commented on #39611
I'm not sure what you're asking here. The `state: planned` without this patch *was* creating a plan, but in a temp file not at a well-known path. With this patch, the custom plan parameter is passed through.

[2018-05-02 15:44] dlazz commented on #13095
Are there any news about this issue? Unfortunately I'm having the same problem

[2018-05-02 16:13] carmineesposito73 commented on #37811
with
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]

I have

[2018-05-02 16:27] vedit commented on #39612
Hello @bogski87,
This module was written to be executed on a linux machine. So if you'd add
`delegate_to: 127.0.0.1`
to your 2nd and 3rd tasks, and also fix your SQL file pathing, I believe you will achieve what you want.

[2018-05-02 16:29] vedit commented on #39348
I'll be unavailable until 13th of May, but I'll take a stab at it after then.

[2018-05-02 16:31] smolz opened #39616 "ios_logging module failing with KeyError: 'network_os_version'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Labs/Lab_2/ansible.cfg) = True
DEFAULT_GATHERING(/Labs/Lab_2/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/Labs/Lab_2/ansible.cfg) = [u'/Labs/Lab_2/hosts']
DEFAULT_MODULE_PATH(/Labs/Lab_2/ansible.cfg) = [u'/Labs/ansible/modules']
DEPRECATION_WARNINGS(/Labs/Lab_2/

[2018-05-02 16:31] nicolas-g commented on #28978
it seems this has been fixed with Ansible 2.3.2.0.

[2018-05-02 16:31] michaelgugino opened #39617 "RFE: Always print traceback for "Unexpected failure during module execution""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Custom modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/user/git/openshift-ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/user/git/openshift-ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/user/git/openshift-ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=600s
ANSIBLE_SSH_CONTROL_PATH(

[2018-05-02 16:32] milliams commented on #28167
The same here. I have the following in my playbook:
[code]

and the output I get is:
[code]

I don't have organisations set up and I don't have Katello installed. It's just a basic Foreman install. This makes using this module for anything impossible.

@ehelms Is there any way we can help get this fixed? Or is this a bug in nailgun?

[2018-05-02 16:40] ehelms commented on #28167
I have not been a good maintiner of these modules lately nor updated information about them. We honestly need to deprecate these in favor of our version 2 modules that provide a better experience. They can be found at:

https://github.com/theforeman/foreman-ansible-modules

I know this does not fix the current modules, but I'd prefer to get folks off of those, deprecate these and revive our effort

[2018-05-02 16:44] mohitkumarsharmaflux7 commented on #39611
Patch is running
Thanks

Sent from Mail for Windows 10

From: Ryan Brown
Sent: Wednesday, May 2, 2018 9:09 PM
To: ansible/ansible
Cc: mohitkumarsharmaflux7; Author
Subject: Re: [ansible/ansible] plan file is not creating using ansibleterraform module (#39611)

I'm not sure what you're asking here. The state: planned without this patch was creating a plan, but in a temp file not at a well-known pat

[2018-05-02 16:46] mattclay commented on #36082
Closing this as the tests are not currently marked unstable and I haven't noticed failures recently. I will re-open if I start seeing issues again.

[2018-05-02 16:46] #36082 closed, assigned to nitzmahone

[2018-05-02 16:47] mattclay commented on #36087
Closing this as the tests are not currently marked unstable and I haven't noticed failures recently. I will re-open if I start seeing issues again.

[2018-05-02 16:47] #36087 closed, assigned to nobody

[2018-05-02 17:10] bcoca commented on #39617
FYI, if you have the log enabled, they are always written to the log

[2018-05-02 17:22] #39281 closed, assigned to nobody

[2018-05-02 17:46] ryansb commented on #39611
This is fixed by 9a607283aa, and will be shipped with Ansible 2.6

[2018-05-02 17:46] #39611 closed, assigned to nobody

[2018-05-02 17:47] resmo commented on #38027
@erasche thanks for the update, but the real issue is that the module uses the reserved global return `results` http://docs.ansible.com/ansible/latest/reference_appendices/common_return_values.html#results

[2018-05-02 17:53] findtu commented on #31898
TASK [Collect RPT logs info] ***************************************************
 [WARNING]: win_find failed to check some files, these files were ignored and
will not be part of the result output

[2018-05-02 17:55] mattclay opened #39624 "Failing integration test azure_rm_keyvaultkey"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_keyvaultkey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test azure_rm_keyvaultkey is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm_keyvaultkey --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

####

[2018-05-02 17:57] mattclay opened #39625 "Failing integration test azure_rm_keyvaultsecret"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_keyvaultsecret

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test azure_rm_keyvaultsecret is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm_keyvaultsecret --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pa

[2018-05-02 18:02] resmo commented on #38027
resolved_by_pr #39629

[2018-05-02 18:13] mattclay opened #39627 "Failing integration test github_issue"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

github_issue

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test github_issue is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration github_issue --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESU

[2018-05-02 18:18] mattclay opened #39628 "Failing integration test vmware_datastore_maintenancemode"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

vmware_datastore_maintenancemode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test vmware_datastore_maintenancemode is disabled because it always fails.

NOTE: The entire test is currently commented out. To see the failures, uncomment the tasks.

##### STEPS TO REPRODUCE

Un

[2018-05-02 18:32] LukeShortCloud opened #39630 "Remove Older "version_added" Attributes from the Modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
All Modules

##### ANSIBLE VERSION
Ansible 2.6

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Remove references to very old "version_added" attributes for modules and their arguments that at least reference Ansible version < 1.0.

##### STEPS TO REPRODUCE
There are a handful of modules that showcase being added in

[2018-05-02 18:47] maxnh opened #39633 "Add LGPO support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Possibility to set Local Group Policy objects.

##### OS / ENVIRONMENT

Microsoft Windows

##### SUMMARY

It would be nice if I could add some Group Policy Settings to a machine via an Ansible playbook. E.g. salt has implemented such a feature:
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_lgpo.html
This would allow me

[2018-05-02 19:07] corbinstuard commented on #38300
upon review, this change looks fine

[2018-05-02 19:33] abadger commented on #39558
@sdodson I think that https://github.com/ansible/ansible/pull/39635  will solve this case but I'm going to get some additional input from other committers before deciding whether to merge it.  The code there is deciding that follow=True can never be correct and therefore it's essentially changing to follow=False behaviour.  I need to verify that others agree with doing that.

[2018-05-02 19:35] sivel commented on #39630
I don't really see any benefit in doing this.  Doing so removes context and useful history.

While it may be irrelevant to you, it may be relevant to others.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-02 19:35] #39630 closed, assigned to nobody

[2018-05-02 19:38] pauvos commented on #34559
I can confirm that it happens with `autostart`. Removing it fixed the issue for me.

[2018-05-02 19:53] jctanner commented on #38892
2.5 backport commit https://github.com/ansible/ansible/commit/4d0422d4ede871ad9760f83884ea519736aa6aea

[2018-05-02 19:54] sivel commented on #39610
As we are moving away from dynamic inventory scripts for these sources, and on to inventory plugins, I'd recommend leveraging the `openstack` inventory plugin instead of the contrib inventory script.

http://docs.ansible.com/ansible/latest/plugins/inventory/openstack.html

I imagine eventually, now that we have the inventory plugin, the contrib script should actually be removed from the repo.

[2018-05-02 20:02] mattclay opened #39636 "Unstable integration test include_import"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

include_import integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test include_import:

https://app.shippable.com/github/ansible/ansible/runs/63545/48/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### A

[2018-05-02 20:03] mattclay commented on #39636
This test failure is more concerning than most of our unstable tests, as this isn't something that should fail intermittently. It's also interesting to note that so far I believe it has only failed on macOS.

[2018-05-02 20:07] sivel commented on #39636
I do see this warning:

[code]

[2018-05-02 20:41] hinrikus opened #39637 "templated tag variable is undefined in include_tasks when used in a loop"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- include_tasks
- with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In a loop, e.g. `with_items`, we are using `include_tasks`.
In the included task, we want to use dynamic tags depending on `item`.
Ansible outputs the error:
[code]
That is unexpected behaviour because it works

[2018-05-02 20:50] cgrigor commented on #29627
I'm also having an issue creating a user using host: '%' using yaml long form syntax. I've tried different variations but always seem to get the same error

Operation CREATE USER failed for 'my_random_user'@'localhost'

Using Versions:
[code]
Task:
[code]

[2018-05-02 20:56] kenichi-ogawa-1988 commented on #30500
+ready_for_review

[2018-05-02 20:57] kenichi-ogawa-1988 commented on #30500
ready_for_review

[2018-05-02 21:09] bcoca commented on #34739
fyi, remote_user is not a variable, its a keyword, `ansible_user` and `ansible_ssh_user` are the variables

[2018-05-02 21:25] #28757 closed, assigned to ganeshrn

[2018-05-02 21:34] talhajilal opened #39639 "vmware_guest customvalues and annotations"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-02 21:39] talhajilal commented on #39639
Hello Folks , I upgrade ansible 2.4 to 2.5 but my customvalue option stop working.

My annotation attributes already defined in template, and i have the following syntax.  I downgrade my ansible 2.4 and annotation start working for me.

    customvalues:
    - annotation:
      key: APPLICATION
      value: "{{ application }}"
    - annotation:
      key: BUSINESS_UNIT
      value: "{{ business_un

[2018-05-02 21:44] rgarcia89 commented on #38811
@rcarrillocruz I am currently in Copenhagen @KubeCon.
Monday should be realistic for a test.
I will let you know once I did the test.
Thanks :)

[2018-05-02 21:45] abadger commented on #39456
@zdw I believe that #39640 will fix this issue.  Give it a try to see whether it works for you.

[2018-05-02 21:47] abadger commented on #39474
If this is caused by symlinks which point to nonexistent files, then https://github.com/ansible/ansible/pull/39640 should fix this.  Could you test it and see if that's the problem?

[2018-05-02 21:48] saichint opened #39641 "nxos_snmp_host issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_snmp_host

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are some MAJOR issues with nxos_snmp_host module.

1. udp option does not work at all.
2. We can have multiple hosts with the same ip address but with different udp p

[2018-05-02 21:52] bcoca commented on #17939
I cannot reproduce either, even using a role:

[code]

needs_info

[2018-05-02 22:01] mlissner opened #39644 "Documentation layout issues make it illegible on Firefox Nightly"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
The table of options on every page of the documentation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Linux, Firefox Nightly

##### SUMMARY
On the documentation website, all of the tables are nearly illegible on Firefox Nightly. They all look like this:

![screenshot from 2018-05-02 14-56-04](https://us

[2018-05-02 22:02] sivel commented on #39644
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * This only seems to occur in Firefox nightly an no other browser.

If you can stop by the tracker or for

[2018-05-02 22:02] #39644 closed, assigned to nobody

[2018-05-02 22:23] #24319 closed, assigned to nobody

[2018-05-02 22:38] damobrisbane commented on #38993
Actual change for node-meta is [here](https://github.com/hashicorp/consul/pull/2643);

On usage, how to drive the output from node meta kv pairs; should _kv_ filter be an argument into consul_io.py, because if automatically mapped - in the same way consul_io.py does it now for services - there will be a million mappings for kv pairs in the generated host list. So is best to specify explicitly, yeh

[2018-05-02 22:38] bcoca commented on #17329
so I added a generic error control interface for lookups in #35932, we could update the `env` lookup to have a deprecation warning when the var does not exist and eventually make it a hard error while allowing user to control it using the facility created in my PR above.

[2018-05-03 01:23] abadger opened #39647 "Code review of module_utils/net_tools/nios/api.py"
This is really an after-the-fact review of lib/ansible/module_utils/net_tools/nios/api.py since it appears that we're going to be supporting it.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/net_tools/nios/api.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This is a review of the module_utils code for nios/api.

[2018-05-03 02:09] szponek opened #39648 "azure_rm_virtualnetwork not handling DNS settings properly on existing virtual networks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualnetwork

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
DEFAULT_REMOTE_USER(/home/szponek/Documents/xyz/gitrepo/iaas-playbooks/ansible.cfg) = ansible
DEFAULT_VAULT_PASSWORD_FILE(/home/szponek/Documents/xyz/gitrepo/iaas-playbooks/ansible.cfg) = /home/szponek/Documents/xyz/gitrepo/iaas-

[2018-05-03 03:47] spmp opened #39650 "Feature/Azure cloud module for Route Tables/UDR's"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_routetable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The azure cloud modules need to include a module for managing user defined routes (UDR's)/route tables.
The python binding exist for such operations, see https://docs.microsoft.com/en-us/python/api/azure.mgmt.network.v2017_11_01.operat

[2018-05-03 03:55] Denubis opened #39651 "Python3 support for github_deploy_key"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

github_deploy_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host: Ubuntu 17.10
Managed host: Ubuntu 16.04

In my /etc/ansible/hosts I am invoking python3:
[jekyll:vars]
ansible_python_interpreter=/usr/bin/python3

(because it fails on python2)

##### SUMMARY

When trying to add a deplo

[2018-05-03 04:17] Akasurde commented on #39627
resolved_by_pr #39652

[2018-05-03 04:33] soumikbh commented on #38669
@trishnaguha

It worked !!! Thanks a lot for the help - the following config made the error disappear like a charm :

[defaults]
host_key_checking = False

[persistent_connection]
command_timeout = 120
connect_timeout = 120
connect_retry_timeout = 120

[2018-05-03 04:54] trishnaguha commented on #38669
@soumikbh Thanks for the response.

[2018-05-03 04:55] trishnaguha commented on #38669
Confirmed that this is timeout issue, having timeout set resolves the issue. Hence closing it.

[2018-05-03 04:55] #38669 closed, assigned to trishnaguha

[2018-05-03 05:04] jborean93 commented on #39633
I agree this would be nice to have, unfortunately it would require a lot of work with mapping values to how they need to be applied. Just having a quick glance at Salt's implementation and it is over 6000 lines of code!

[2018-05-03 05:30] yuwzho commented on #31791
resolved_by_pr #36109

[2018-05-03 05:32] #31791 closed, assigned to nobody

[2018-05-03 05:35] yuwzho commented on #37873
@unfii Yes, this is a known issue that already fixed in #39213 . You can follow the instruction in the PR to try the latest bit

[2018-05-03 05:38] CarlosEspejo opened #39655 "digital_ocean_block_storage stopped working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

digital_ocean_block_storage

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/Users/carlos/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/carlos/.ansible.cfg) = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = [u'/Users/carlos/playbooks/roles']
DEFAULT

[2018-05-03 05:46] Fred-sun commented on #39625
Hi @mattclay , I cannot reproduce it, could you help share your YML or detail reproduce method , Thanks ！

[2018-05-03 05:48] Fred-sun commented on #39624
Hi @mattclay , I cannot reproduce it, could you help share your YML or detail reproduce method , Thanks ！

[2018-05-03 06:02] yuwzho commented on #39648
@szponek Thanks for your reporting, for custom DNS, I add it into my backlog, and will fix it later. As for the deleting running virtual network, seems this is not allowed by Azure service

[2018-05-03 06:18] yuwzho commented on #39650
@spmp Thanks for you suggestion, we will add it to our backlog and develop the new module later

[2018-05-03 06:38] #37550 closed, assigned to rcarrillocruz

[2018-05-03 06:58] LostInTheWoods opened #39657 "postgresql_user module object has no attribute '__version__'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

When executing a Ansible Tower upgrade I experienced this exception:
`if psycopg2.__version__ < '2.4.3' and sslrootcert is not None:

[2018-05-03 07:02] trishnaguha commented on #39011
@mrlesmithjr @LukeRussell The PR https://github.com/ansible/ansible/pull/39658 fixes the issue. Can you try the fix and let us know?
Thanks!

[2018-05-03 07:08] ganeshrn commented on #39167
@cnorthwood Please retest with PR https://github.com/ansible/ansible/pull/39659 patch in your environment. The nxos regex change from 2.4 to 2.5 seems to be the breaking change.

[2018-05-03 07:10] trishnaguha commented on #38639
@NT-TM Please retest with PR #39659 patch in your environment. The nxos regex change from 2.4 to 2.5 seems to be the breaking change.

[2018-05-03 08:49] cnorthwood commented on #39167
I'm afraid that's not helped.

[2018-05-03 09:03] Fred-sun commented on #39648
@yuwzho I test it and meet same problem as szponek said. It cannot change DNS setting( it has existing subnet and VM), But it can change DNS setting when the virtualnetwork has not deploy by subnet and VM. Does this is a problem? We can reproduce by following YML file. Thanks!
[code]

[2018-05-03 09:08] Fred-sun commented on #39650
It need to add ansible document too. Thanks!

[2018-05-03 09:33] hillsy commented on #24319
_it will not be added to the pip installation method_

This issue was for the PPA installation method. If this isn't something that's ever going to be in the PPA that's fine, just wanted to be clear :)

Since this issue was first raised, I notice Debian have added python-jmespath as a recommends: https://packages.debian.org/buster/ansible

[2018-05-03 09:42] rrey opened #39663 "grafana_dashboard fails with Grafana v5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
grafana_dashboard

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When executing a dashboard creation to test idempotency, the second execution fails with the following error:

[code]

##### STEPS TO REPRODUCE

[code]

The meta section was added manually in the dashboard json to have the impo

[2018-05-03 09:47] rrey commented on #39663
I dug a bit in the module code, and the module use the slug to retrieve the dashboard:

[code]

In Grafana v5, the "Get dashboard by slug" is deprecated, and I could see that the dashboard json does not contain the slug even if it was present in the imported json used by the ansible module.
It leads to the dashboard retrieval to get a 404, and the dashboard is not found.

It may be related to the

[2018-05-03 10:16] AmShaegar13 opened #39664 "Python 3 is used although ansible is installed for Python 2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 8.10
[code]

##### SUMMARY

When using ansible >= v2.5.0 playbook fails due to Python minimum version mismatch. Apperently, my Python 2.7.9 matches (>=2.6), but my Python 3.4.2 does not (>=3.5).

Ansible was installed using pip (not pip3) as you can see in `ansi

[2018-05-03 10:28] #39664 closed, assigned to nobody

[2018-05-03 10:29] AmShaegar13 commented on #39664
Our fault. Just found out that someone set `ansible_python_interpreter: python3`

[2018-05-03 10:34] BondAnthony commented on #39655
@CarlosEspejo thank you I’ll look into the issue.

[2018-05-03 10:49] kladiv commented on #35612
Hello,
on Ubuntu 16.04 i still get this Error message using Python 3.5.2 and docker 3.3.0.
Using the workaround above (docker<3.0) is works.

Is it correct that this Issue has been closed? No support for latest version of docker module?
Thank you

[2018-05-03 10:50] gundalow opened #39667 "[NETWORK TEST] Multi-node lldp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vyos_interface

##### ANSIBLE VERSION
[code]

##### SUMMARY
Once we have the ability to run multiple network nodes in Zuul we should revisit FIXME LINK TO TEST PR and ensure that we run the lldp interface tests

[2018-05-03 11:02] infigoKriti opened #39669 "Add mysql_user when mysql is running at a path other than /var/lib/mysql"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`mysql_user.py`
##### ANSIBLE VERSION
ansible 2.4.1.0

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.0 (Maipo)

##### SUMMARY

I have mysql running with datadir at /data/mysql.
Now I am trying to add a user to mysql using ansible mysql_user module, however ansible tries to get the mysqld.sock file from /var/lib/mysql and pro

[2018-05-03 11:03] bogski87 commented on #39612
Hi @vedit

Thanks for your reply. I tried as you suggested and added delegate_to: 127.0.0.1 but this didn't work. I tried with 'localhost' as well just to be sure. I've  commented out the other tasks for now until the DB creation part works. you said about sql file pathing so i removed the win_copy and changed the target to files/sql/Database_Create.sql, was this what you meant by that?

This is t

[2018-05-03 11:48] #39541 closed, assigned to nobody

[2018-05-03 12:01] nicoonoclaste opened #39671 "Module hostname fails to ensure the host name is present in /etc/hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian buster/sid

##### SUMMARY

Module hostname fails to ensure the host name is present in /etc/hosts

##### STEPS TO REPRODUCE

The issue can be reproduced on [vagrant-sbuild](https://github.com/nbraud/vagrant-sbuild)

##### EXPECTED RESULTS

The

[2018-05-03 12:16] agaffney opened #39672 "import_role docs shows example with a loop, which doesn't work"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The docs for `import_role` show an example of using it in a loop. This doesn't actually work. With a task like the following:

[code]

you get:

[code]

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RES

[2018-05-03 12:18] agaffney commented on #39672
@bcoca

[2018-05-03 12:27] donpatzone commented on #38669
Thanks also from my side. I can also confirm that changing the persistent connection settings to higher values resolves the issue.
@trishnaguha Is the PR still relevant? I tried it with the original nxos_facts.py and it works just as well.

[2018-05-03 12:29] gyurco commented on #34153
Just opened a ticket for PyMongo, I also think the problem is there:

https://jira.mongodb.org/browse/COMPASS-1930

[2018-05-03 12:32] gundalow commented on #39667
broken_bot

[2018-05-03 12:45] #29381 closed, assigned to nobody

[2018-05-03 12:52] stephan2012 opened #39674 "k8s_raw: TypeError: __init__() got an unexpected keyword argument 'labelSelector'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.5

##### SUMMARY

k8s_raw module does not know `labelSelector` keyword in `podAntiAffinity` definition

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

k8s_raw feeds definition to Kuberntes without errors

##### ACT

[2018-05-03 13:33] stroobl commented on #33156
We have a similar issue. Problem description: we have a VMware setup with multiple clusters in one datacenter. The VM (created from a template) gets assigned to a random cluster/esxi host with ansible 2.5.2. We already noticed that when we use a VMware user with no access permissions on the other clusters, the vm creation works perfectly without any code changes.

[2018-05-03 13:38] benjdudas commented on #38949
@Akasurde Using that fix worked for us.

[2018-05-03 13:45] teamhanded opened #39679 "Check_mode must be explicitely disabled in a task using execute_lambda"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

execute_lambda

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS High Sierra v10.13.4

##### SUMMARY

execute_lambda returns HTTP 204 status code when check_mode is **NOT** explicitely set to false, and disregards execute_lambda's **dry_run** parameter, which should return 204 if set, according to AWS SDK.

##

[2018-05-03 13:57] jrvilda commented on #39605
Where can I check the traces or possible error?

[2018-05-03 14:05] meteorice opened #39680 "copy is Failed to connect to the host via ssh"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory=~/ansible_hosts
remote_port=22
host_key_checking=False
forks=50
timeout = 10
stdout_callback = json
retry_files_enabled = False
callback_plugins = /data/amc/script/callback
[ssh_connection]
pipelining = True
##### OS / ENVIRONMENT

NAME="CentOS Linux"
VERSION="7 (Cor

[2018-05-03 14:27] sivel commented on #39672
The current error is updated a little:

[code]

The error is correct, and the docs are wrong, you cannot loops on `import_X`.

Please feel free to submit an update to the docs.

[2018-05-03 14:30] vedit commented on #39612
Hello @bogski87,
Can you try it like the following:
[code]

[2018-05-03 14:34] simanat commented on #38938
It' s not a user question, I think is a bug in ansible 2.5.0. because in ansible 2.2 work very fine

[2018-05-03 14:38] kvalev opened #39684 "Importing/Including a role does not overwrite the default values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/Users/xxx/yyy/ansible/ansible.cfg) = ~/.ssh/ansible-%%r@%%h:%%p
DEFAULT_REMOTE_USER(/Users/xxx/yyyy/ansible/ansible.cfg) = cloud
DEFAULT_ROLES_PATH(/Users/xxx/yyy/ansible/ansible.cfg) = [u'/Users/xxx/yyy/ansible/roles']
DEFAULT_VAULT_PASSWORD_F

[2018-05-03 14:40] talhajilal commented on #39639
Any suggestion or solution ?

[2018-05-03 14:43] xavisan commented on #38143
Same problem with Windows Server 2012R2, 2016 and 2012.

[2018-05-03 14:49] vtomasr5 commented on #39639
Hi,

The same is happening to me, customvalues are not working with ansible 2.5 and even ansible 2.4.4!
I'm using vSphere 6.0

I've found this diff https://github.com/ansible/ansible/commit/101578b63f0a4d27aa3bae3623155ac0fcfba0f0
to support vSphere 6.5 but might be break vSphere 6.0 compat :(

Thanks

[2018-05-03 14:50] hit0ri commented on #24243
I'm having the same issue.
`ipa-hbacrule` fails to add hosts to the rules that have `hostcategory` attribute set to `all`.
I think `ipa-hbacrule` should first check for this attribute and then unset it (in case it is present) before adding hosts.

Modified playbook

[code]

[code]

[code]

[2018-05-03 15:16] woledzki commented on #14468
If you are using "virtualenv" make sure to set it up with "--system-site-packages".
Alternatively install "python-apt" inside your venv.

[2018-05-03 15:28] seanmceligot commented on #31705
Same behavior with another example.

[code]

[code]

[code]

[2018-05-03 15:29] stroobl commented on #33156
Additional checks showed us that this is probably related to the resource pool configuration. We have the same resource pools configured on all clusters and the vmware_guest module ignores the cluster selection when you select a resource pool. A random resource pool with a matching name is selected and that can be on any cluster...

[2018-05-03 15:38] eclecticitguy commented on #39351
@gdpak  Following up on my previous message, are there any plans to modify this module so that whitespace doesn't cause an exception error with Python when using this module?

Thanks for the help.

[2018-05-03 15:39] gangefors commented on #14468
@woledzki  For me using --system-site-packages is not an option since I can't pollute my venv with other packages. Also, the latest version of python-apt on pypi.org is 0.7.8 and is really old and don't compile on Debian stretch.

[code]

Seems like only the deb packages are maintained for python-apt and not the ones for python.
https://launchpad.net/python-apt/

So for me there is no other soluti

[2018-05-03 15:50] CarlosEspejo commented on #39655
@BondAnthony Let me know if its broken because DO changed something in their API. I can send them a support ticket and ask them to pass it on to their engineering team.

[2018-05-03 16:04] #39443 closed, assigned to nobody

[2018-05-03 16:05] trishnaguha commented on #38669
@donpatzone The associated PR isn't relevant anymore. I closed it. Thanks for the update.

[2018-05-03 16:06] #39641 closed, assigned to nobody

[2018-05-03 16:14] talhajilal commented on #37807
Ansible Version 2.5.

I run some more tests and find the following issue.

VMware_guest module only support one value at one time.

If you set this value in ansible playbook
num_cpu_cores_per_socket

then

num_cpus " This option does not work "

But

num_cpus " This option only work alone"

Any help ?

My code is some thing like this.

    hardware:
      memory_mb: "{{ ram_size_gb }}"
      num_c

[2018-05-03 16:26] Andrei-Stepanov opened #39686 "For Fedora Atomic Host Ansible fact `ansible_pkg_mgr` set to `atomic_container`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core / ansible facts / setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Host: is Centos7
Remote: is Atomic Host
[code]

##### SUMMARY
Ansible sets fact `ansible_pkg_mgr` for Atomic Host to `atomic_container`.
On other OS `ansible_pkg_mgr` it has for example values: `yum`, `dnf`.
[code]

##### STEPS TO REPR

[2018-05-03 16:42] ahammoudi opened #39687 "Ansible: multiple users to run playbook without sudo access to target machines"
Hi All
i'm trying to give a few users access to an an Ansible server to run playbooks to do Application recycle on a few servers, these users should not have access to the target servers for security reason, so there is what i have and what has been done.

ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg

#inventory      = /etc/ansible/hosts

and here is the host file

[j

[2018-05-03 16:45] mattclay commented on #39625
@Fred-sun From a checkout of the source,  once you've run `source hacking/env-setup`:

`ansible-test integration azure_rm_keyvaultsecret --docker -v --allow-disabled`

You'll need to have Azure configured in your test environment as documented here: https://github.com/ansible/ansible/blob/devel/test/integration/cloud-config-azure.yml.template

[2018-05-03 16:46] mattclay commented on #39624
@Fred-sun From a checkout of the source,  once you've run `source hacking/env-setup`:

`ansible-test integration azure_rm_keyvaultkey --docker -v --allow-disabled`

You'll need to have Azure configured in your test environment as documented here: https://github.com/ansible/ansible/blob/devel/test/integration/cloud-config-azure.yml.template

[2018-05-03 17:09] ghost opened #39689 "terraform module not returning plan as output and also not showing correct command as return value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing has changed

##### OS / ENVIRONMENT

N/A
##### SUMMARY

during the terraform module output , the command showing is wrong and also not showing the terraform plan as output.
##### STEPS TO REPRODUCE

1. create a test directory ans paste the below yml and the following .tf fi

[2018-05-03 17:11] forkbomber commented on #27520
Workaround using local SSH invocation:
[code]

Gist: https://gist.github.com/forkbomber/f0177f6371b00cc0776a8892f19487c2

[2018-05-03 17:14] bcoca commented on #39687
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-03 17:14] #39687 closed, assigned to nobody

[2018-05-03 17:31] maulinglawns commented on #22439
I agree that this would be a very useful feature. Instead, I now write two separate tasks based on a conditional. I would _like_ to use one task, and include/exclude the items based on a variable.

[2018-05-03 17:33] bcoca commented on #22439
Closing as `include_role` already provides this.

[2018-05-03 17:33] #22439 closed, assigned to nobody

[2018-05-03 18:42] juliedavila opened #39694 "Using s3_origin_access_identity_enabled in cloudfront_distribution causes a traceback"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
MacOS running aws modules locally

##### SUMMARY
The cloudfront_distribution module provides a param `s3_origin_access_identity_enabled` and it does not work, it causes a traceback. This has been tested with the latest version of the m

[2018-05-03 18:50] #39636 closed, assigned to samdoran

[2018-05-03 19:04] sivel commented on #39686
Setting `ansible_pkg_mgr` to `atomic_container` was explicitly done for the 2.5 release in https://github.com/ansible/ansible/commit/38b8d62e68a as part of https://github.com/ansible/ansible/pull/33721

This was done to support a new module within ansible used for managing packages in atomic: https://docs.ansible.com/ansible/2.5/modules/atomic_container_module.html

Within ansible, the value of `a

[2018-05-03 19:04] dead10ck commented on #32022
@Nothing4You Interesting. Maybe the different OSs are taking different code paths somehow.

[2018-05-03 19:05] #38570 closed, assigned to nobody

[2018-05-03 19:05] sivel commented on #39686
!component =lib/ansible/module_utils/facts/system/pkg_mgr.py
!component +lib/ansible/modules/cloud/atomic/atomic_container.py

[2018-05-03 19:14] sivel commented on #39684
Potentially related to https://github.com/ansible/ansible/issues/33768

[2018-05-03 19:16] sivel commented on #37929
Duplicate of https://github.com/ansible/ansible/issues/29047

[2018-05-03 19:24] #29621 closed, assigned to nobody

[2018-05-03 19:35] jhawkesworth commented on #13095
@dlazz nano seems to have headed off in a different direction (at least if 1709 is anything to go by).

I hit this once when I was returning a lot more information than I needed.  In the end I changed my powershell to pick out just the information I needed.  Perhaps if you outline your specific issue (on ansible google group or in #ansible irc channel (here is not the best place) then maybe we can

[2018-05-03 19:36] cignul9 opened #39697 "Unable to set hostnames using only a tag's value"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
aws_ec2 inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
CentOS 7.4.1708

##### SUMMARY
Greetings, dev_Ansible.  devops_I am very pleased with this latest version of software_Ansible, version 2.5 which features the feature_ability to mix and match inventory data_sources, or perhaps this all sta

[2018-05-03 19:53] dschmidt commented on #35238
I'm trying to install openssh with the `/SSHServerFeature` enabled, but I can't seem to find out how to properly pass the param to the `install_args` of the `win_chocolatey` module:

does not work:
[code]
I also tried several variations of `"` and `\"` around it. Also with `-params`. What works though is:
[code]

Am I using the module incorrectly or does this issue make this impossible right now i

[2018-05-03 19:56] NT-TM commented on #38639
I tried something that was suggested here : https://github.com/ansible/ansible/issues/39167
Here are my logs:-

[ntomy@niddserver01 ~]$ vi troubleshooting_test_ansible.log
2018-05-03 11:40:33,406 paramiko.transport EOF in transport thread
2018-05-03 11:40:33,414 p=12875 u=ntomy |  The full traceback is:
Traceback (most recent call last):
  File "/usr/bin/ansible-connection", line 70, in start

[2018-05-03 19:58] NT-TM commented on #38639
Connected to 10.39.9.160 (10.39.9.160) on 05-03-2018 at 12:28:20
Last login: Thu May  3 09:43:59 2018 from wabelhlp0704668.gsm1900.org
Welcome to EIPD Automation's P1 Lab Server
[ntomy@niddserver01 ~]$ cd ansible
[ntomy@niddserver01 ansible]$ ll
total 404
-rw-rw-r--.  1 ntomy ntomy  78657 May  3 12:25 ansible-core-sitemap.xml
drwxrwxr-x.  2 ntomy ntomy    223 May  3 12:25 bin
-rw-rw-r--.  1 ntomy

[2018-05-03 19:58] jborean93 commented on #35238
@dschmidt you want to use `params` install of `install_args`. I believe the latter is only used when initially installing Chocolatey while `params` is for installing individual packages.

[2018-05-03 19:59] dlazz commented on #13095
@jhawkesworth thank you for your quick replay. I'm developing a module to query mssql using Invoke-Sqlcmd cmdlet (I'm using ansible 2.5.2). My problem was that, trying to covert the query result in json, the task timed out. Then I noticed that not only the result was returned but also a lot of table informations not needed so I worked around selecting only the columns needed and now everything wor

[2018-05-03 20:00] samdoran commented on #39669
Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Thank you once again and we look forward to seeing you on the list or IRC.

[2018-05-03 20:00] #39669 closed, assigned to nobody

[2018-05-03 20:04] Zverik commented on #35778
Uhm, you must check job status with exactly the same user you've started the job, because the status file is written in their home directory.

[2018-05-03 20:04] rseuchter commented on #32750
Well, some people do.

I still believe that dropping the header `Connection: close` altogether would be the simplest solution. I haven't seen anybody argue in favour of it. If it's helpful in some situations I'd love to learn why.

[2018-05-03 20:06] Zverik opened #39699 "Async task loses its status when using non-standard async dir"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on Fedora 27, managing Ubuntu 16.04.

##### SUMMARY

When a non-standard directory for `ansible_async` is used via `ANSIBLE_ASYNC_DIR`, the pid file inside it is lost, because `async_status` module does not receive the variable.

This env variable was int

[2018-05-03 20:14] calvinmorrow commented on #38536
We just hit this bug as well.

@piffey I'd suggest renaming the issue to something like "hashi_vault lookup all auth methods except token are broken" as really only token auth works atm.

Your patch fixed the issue for me

[2018-05-03 20:14] calvinmorrow commented on #38878
Tclemento:  This is essentially a duplicate of https://github.com/ansible/ansible/issues/38536

Right now the hashi_vault code path will error for any auth_type except token due to missing initialization of `self.verify`

[2018-05-03 20:14] sivel commented on #39699
Unsure if more than this is required, but this small change seems to resolve this:

[code]

cc @bcoca

[2018-05-03 20:35] Nothing4You commented on #32022
@dead10ck just tested on ubuntu 18.04, same result:

[code]

[2018-05-03 20:41] samdoran commented on #39671
This module does not modify `/etc/hosts` by design. From the module docs:

Use`lineinfile`, `blockinfile`, or `template` for managing `/etc/hosts`.

For further questions, please reach out on IRC or the mailing list.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to ke

[2018-05-03 20:41] #39671 closed, assigned to nobody

[2018-05-03 20:52] drmrd commented on #30833
@skurylo Agreed that it shouldn't be closed. My PR still needs an additional shipit to be merged, and until then this should remain open.

[2018-05-03 21:02] spmp opened #39701 "Feature/Add route table support to Azure subnet module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_subnet

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
`azure_rm_subnet` should support specifying route table's to be associate with it. The functionality is provided for in the Azure Python API (see https://docs.microsoft.com/en-us/python/api/azure.mgmt.network.v2017_11_01.models.subnet?view

[2018-05-03 21:05] samdoran commented on #39680
The relevant error message is in the SSH connection: `debug3: mux_client_read_packet: read header failed: Broken pipe`. [This article](https://access.redhat.com/solutions/3191222) suggests updating OpenSSH may help.

Duplicate of #32585

Are you able to use the `ping` module against the host just to verify the SSH connection is working? Have you tried with a newer version of Ansible?

This appears

[2018-05-03 22:39] marafa opened #39704 "ugly dnf error when pkg not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

fedora 28

##### SUMMARY
when the dnf module cant find a package it spews ugly output
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

just works as normal. give the usual fatal error about about pkg not found like in the apt module

##### ACT

[2018-05-03 23:10] dschmidt commented on #35238
@jborean93 That makes sense :man_facepalming:
That's what I get for not reading the documentation till the end. But even now the documentation does not seem to be super explicit about it. Anyway thanks a lot for this super quick response!

It indeed works and in hope that it might be useful to anyone, even setting the default shell works like a charm:
[code]

[2018-05-03 23:29] jborean93 commented on #35238
@dschmidt thanks for the confirmation, I've added a point to fix up that on the docs to my list of things to do with win_chocolatey

[2018-05-04 00:50] #39558 closed, assigned to abadger

[2018-05-04 00:54] mmercer-apixio opened #39709 "elb_target_group.py drains healthy targets"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group.py

##### ANSIBLE VERSION
ansible 2.5.2
  config file = /home/mmercer/projects/devops-automation/ansible/ansible.cfg
  configured module search path = [u'/opt/devops-automation/ansible/library', u'/usr/share/ansible', u'/usr/lib/python2.7/site-packages/ara/plugins/modules']
  ansible python module location = /usr/lib/python2.7/s

[2018-05-04 00:54] #39456 closed, assigned to nobody

[2018-05-04 01:10] abadger commented on #39474
#39640 has been merged to devel and I'm backporting it for 2.5.3 here: https://github.com/ansible/ansible/pull/39710

If you could verify that that fixes the problem for you, that would be great.  Thanks!

needs_info

[2018-05-04 01:53] Fred-sun commented on #39701
Hi @yuwzho , The open owner want  to add route_tabel for subnet, Does this is a question? Please help to verify it! Thanks!

[2018-05-04 02:03] ftlio opened #39711 "digital_ocean_block_storage module expects the wrong status code for volume creation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

digital_ocean_block_storage

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

For whatever reason the Digital Ocean API now returns "200 OK" for creation at POST https://api.digitalocean.com/v2/volumes instead of "201 Created", causing the module to
report an error after the volume is successfully crea

[2018-05-04 02:05] meteorice commented on #39680
@samdoran
shell and ping module is working.
i find the sftp is fail in this machine. copy module is depend on sftp?

[2018-05-04 02:16] common-cranberry opened #39713 "Block when overriden by internal register"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-05-04 02:29] BondAnthony commented on #39711
Thank you @ftlio for the commit. I’m waiting on a response from Digital Ocean before shipping this change.

[2018-05-04 02:32] BondAnthony commented on #39711
Please follow #39655

duplicate_of 39655

[2018-05-04 02:33] #39711 closed, assigned to nobody

[2018-05-04 02:54] BondAnthony commented on #39655
@CarlosEspejo you would be correct about the API changing. I've already submitted a ticket to Digital Ocean in regards to the sudden change in the API. Changing line:200 in the `digital_ocean_block_storage` module from 201 to 200 will fix the issue. Waiting on DO before I make any changes within this module.

[2018-05-04 03:26] krsacme commented on #39686
adding @giuseppe

[2018-05-04 03:30] flowerysong commented on #39697
Fixed by #35880

[2018-05-04 03:57] Im0 commented on #37811
Looks like pyvcloud changed their interface some time ago.  The examples now call the module like:

[code]

Instead of `ansible/module_utils/vca.py`'s:
[code]

I'm trying the new imports but currently getting an error: "python module pyvcloud is required for this module: No module named parse".  Will keep looking.

[2018-05-04 04:30] Daemoen commented on #39709
Doing a basic glance at the code, I wonder if it is as simple as this:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/elb_target_group.py#L56-#L60

'default: yes'....  That seems to be a very dangerous default.  I would think that you would *not* want to default to modifying the targets unless explicitly instructed to do so.

[2018-05-04 04:32] willthames commented on #562
@ocervell: ansible-playbook does exit with non-zero status in a normal run.

However, if you use `always` or `rescue` to clean up after failure, it will exit with return code 0.

I'd say that's not necessarily a bug, but it is worth raising as a separate issue distinct from this one - it's actually quite difficult to get the behaviour correct for all use cases (sometimes you want rescue for an exp

[2018-05-04 04:59] jborean93 commented on #17755
I know this is a bit late but I've recently come across this issue where unicode surrogate pair chars like emojis work on a MacOS host but not another Linux host like Fedora. The issue lies with the underlying backend that PyYAML uses. By default it will try and link against `LibYAML` and if that fails it uses its own code which currently doesn't handle surrogate chars. What you need to do to get

[2018-05-04 04:59] #17755 closed, assigned to nobody

[2018-05-04 05:17] #37731 closed, assigned to nobody

[2018-05-04 05:17] #38997 closed, assigned to nobody

[2018-05-04 06:04] zikalino opened #39717 "Crash wnen adding data disk to Azure VMSS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_scaleset

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
Out of the box Ansible 2.5, any version

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
When trying to add data_disk to vmss without data disks, crash occurs.

##### STEPS TO REPRODUCE
(1) Create VMSS without data_disks
(2) Try to update the same VMSS by adding data_d

[2018-05-04 06:06] zikalino commented on #39717
resolved_by_pr #39716

[2018-05-04 06:51] #39103 closed, assigned to trishnaguha

[2018-05-04 07:15] Fred-sun commented on #39625
Hi @mattclay , I setup my environment variable, and ran the test command ,it show all targets skipped,  I don't know what reason cause this？ But I cannot reproduce you error info, Thanks!
[code]

[2018-05-04 07:17] gdpak commented on #39351
@eclecticitguy whitespace is not the problem in the prefix-set command. Problem is "end-set" line which should be at sub-command level of prefix-set like below.
prefix-set abc
    1.1.1.1/24
    end-set

Instead Cisco has made it at same level of "prefix-set". Hence end-set was getting filtered. There is another command with same problem is "route-policy" where "end-policy" is not at sub-command l

[2018-05-04 07:17] Fred-sun commented on #39624
Hi @mattclay , I setup my environment variable, and ran the test command ,it show all targets skipped,  I don't know what reason cause this？ But I cannot reproduce you error info, Thanks!
[code]

[2018-05-04 07:26] huiminzeng commented on #37640
hello everyone, i'v got the same problem. After I installed docker-py, and new error occurs: can not have docker-py and docker python module. I uninstalled them, and run again, the error of lacking docker-py emerged. It is just a loop....... Could you please help me? Thx

[2018-05-04 07:32] mattclay commented on #39625
@Fred-sun Can you provide the output from the command?

[2018-05-04 07:34] mattclay commented on #39624
@Fred-sun Ah, when you filled in the template, did you make the changes to the template itself? You need to make a copy of the template file without the `.template` extension, then fill in the variables.

[2018-05-04 07:34] garethahealy commented on #38172
Also interested in this for a customer i am with.

[2018-05-04 07:35] giuseppe commented on #39686
yes, I think it should be changed to `rpm-ostree`, which is also able to package layer rpm's on top of the OS image.  `atomic_container` should not be used as a replacement for that

[2018-05-04 08:08] frntn commented on #24506
I had the same issue. Now solved.

The following article https://kb.vmware.com/s/article/2073803 says :

Checking my VMWare Tools setup I noticed I was actually in that configuration :
[code]

So I have followed the instructions https://kb.vmware.com/s/article/2075048 which basically sums up in this snippets while building my template using packer :
[code]

Eventually my VM now powers up with `con

[2018-05-04 08:13] frntn commented on #36835
I had the same issue. Now solved.

The following article https://kb.vmware.com/s/article/2073803 says :

Checking my VMWare Tools setup I noticed I was actually in that configuration :
[code]

So I have followed the instructions https://kb.vmware.com/s/article/2075048 which basically sums up in this snippets while building my template using packer :
[code]

Eventually my VM now powers up with `con

[2018-05-04 08:13] sudoforge commented on #38931
@AugustusKling

The problematic decision point is in [locale_gen.py:L211-213][0]. I can certainly refactor this, but given that the module currently explicitly fails if the locale is not present, I'm wondering if there is a reason that adding missing locales when the intended state is `present` was not part of the original design of the module.

[0]: https://github.com/ansible/ansible/blob/devel/l

[2018-05-04 08:17] sudoforge commented on #38931
Also pinging @sterfield and @mattclay as they are the author and committer of a674cb06e769f8297f9801ce653ea9c887f2807a, which introduced this particular logic.

[2018-05-04 08:20] myownhost opened #39724 "Module ios_config ingores parameter defaults in combination with config backup"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
https://github.com/ansible/ansible/blob/9eff1f1d74f20b31b69ecb3d9aa7278626562725/lib/ansible/modules/network/ios/ios_config.py#L144

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04.4 LTS

##### SUMMARY

The parameter `defaults: no` do not work in combination with paramaeter `backup: ye

[2018-05-04 09:03] cawilliamson commented on #24884
Hi folks - hijacking this ticket (rather than creating a duplicate) as I am facing the same issue.

The solution recommended from @wsgazo didn't resolve the issue for me sadly - the "Server" service was already running and restarting it had no effect.

Any progress on this?

[2018-05-04 09:11] rockandska commented on #16359
Looking for the same behavior , the "include_task" is a trick from my point of view and prevent the users to have those dependencies automatically installed like the dependencies are when you install the role with ansible-galaxy.

There is another trick to achieve this [here](https://groups.google.com/forum/#!topic/ansible-project/37bcs9dLH1g) but prevent the automatic installation of dependencies

[2018-05-04 09:34] davidebelloni commented on #38391
Hi @ykyr ,
can you trying that : https://github.com/ansible/ansible/pull/24505 ?

[2018-05-04 09:56] sterfield commented on #38931
Hmm, I started a docker container with archlinux (`base/archlinux`), and the `locale.gen` is full of locales, some commented, some not.

However, I don't know if it's "expected" to have a (almost) empty `locale.gen`. To me, the "source of truth" for locales on the system is `locale.gen`. Having it empty is not normal IMHO.

[2018-05-04 09:59] ssbarnea commented on #16049
I don't understand why this was closed because the need is here and apparently mentioned hacks are not working for all cases.

For example, I need to populate a global variable using a lookup findfirst which means this needs to be a task. I am not aware of any jinja2 trick that would make this work.

[2018-05-04 10:24] kinvaris opened #39728 "ip address section missing in ansible facts when using mellanox cards"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Gatherfacts

##### ANSIBLE VERSION
![image](https://user-images.githubusercontent.com/4190375/39623167-0a1acfd8-4f95-11e8-9c3f-00b3efd6059f.png)

##### CONFIGURATION
![image](https://user-images.githubusercontent.com/4190375/39623211-2c3aa50c-4f95-11e8-96dd-6fbfa1cc699e.png)

##### OS / ENVIRONMENT
![image](https://user-images.githubusercontent.

[2018-05-04 10:35] sudoforge commented on #38931
You're using `base/archlinux`, which does have the standard (full) `local.gen` provided with the default Arch Linux image. The example I provided in the original report uses a different Docker image, that ships with a stripped-down locale.gen (it only contains one line - `en_US.UTF-8 UTF-8`.

Absolutely agree that having a stripped-down `locale.gen` file is not normal. I opened an issue on the off

[2018-05-04 10:46] ErwanAliasr1 commented on #38742
Please find my PR to solve this issue

[2018-05-04 10:49] sudoforge commented on #38931
Actually, looking at [`is_available()`][0], it looks like `/usr/share/i18n/locales/*` is already being used to determine whether or not a specified locale is available -- but only for Ubuntu machines (and using Ubuntu's specific pathing tweak). What I'm proposing would be two-fold:

* Refactor [`is_available()`][0] to look at `/usr/share/i18n/locales/*` to determine availability, not `locale.gen`

[2018-05-04 10:49] ErwanAliasr1 commented on #38742
It would be nice to make it available for the 2.5 series too.

[2018-05-04 10:51] mrkvost commented on #13262
+1 would be nice and useful

[2018-05-04 11:03] akira6592 commented on #39724
It looks like the same cause as #39475 .
and It wiil be fixed in 2.5.3.

I tried too.

in 2.5.2 result (may be `show run all`):

[code]

in devel version result (may be `show run`):
[code]

[2018-05-04 11:40] huiminzeng commented on #22993
Hi！@jcberthon  i got the same problem as yours. But i just have merely one machine (ubuntu 16.04), so i don't know how to solve it. Do you have any idea?
Thank you!
Huimin

[2018-05-04 11:47] mathieucoavoux opened #39733 "Variable assignment with include_vars and register"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[user1@server1 ansible]$ ansible-config dump --only-changed
[user1@server1 ansible]$
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Variable assignment with include_vars and register
##### STEPS TO REPRODUCE

When including a variable file with register, the variables inside this fil

[2018-05-04 11:48] sbarthelemy commented on #37787
This bug is still there in ansible 2.5.1

[2018-05-04 12:19] rwky opened #39734 "ec2 module doesn't auto assign IPv6 even if subnet is configured to."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When creating an instance using the ec2 module in a VPC where all subnets have IPv6 addresses auto assigned no IPv6 address is assigned

##### STEPS TO REPRODUCE

Create a VPC with auto assigning IPv6 subnets then create an instance.

[cod

[2018-05-04 12:45] adambaumeister commented on #37649
+1. If you try to use 'src' to compare an entire configuration file with that on a device it will attempt to push the Banner regardless of whether or not it has changed.

Interestingly you can ignore the banner for the purposes of diff by passing it the regex for the ETX character but because there is not such a "src_ignore_lines" this can't be done when actually changing configuration.

[2018-05-04 12:45] smiller171 commented on #13262
@mrkvost please in the future just click the thumbs up on the first comment. There are a lot of people watching this thread and notifying them all for a +1 comment isn't helpful.

[2018-05-04 13:06] myownhost commented on #39724
I tried the fix https://github.com/ansible/ansible/pull/39475 in my ansible. Works fine for me, but the problem after installing the patch is that the `defaults: yes` parameter also only execute the command `show running-config` and not `show running-config all`.

[2018-05-04 13:31] sterfield commented on #38931
Hmm that's not exactly what's being done.

Currently:
 - if Ubuntu, do a search in file [/usr/share/i18n/SUPPORTED](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/locale_gen.py#L73)
 - if not, do a search in file `/etc/locale.gen`

So now, we can most likely check the content of `/usr/share/i18n/locales/*` but we have to be sure that's working for all *nix environments th

[2018-05-04 14:01] jmcgill298 commented on #37649
@adambaumeister what version of Ansible are you using?
I am not able to reproduce your issue on 2.4.2+
As long as I have:
  1. The banner already configured
  2. I am using `src` to deploy my proposed  config (`lines` will not attempt to parse out banners from what the code calls `want`, but will still extract from `have`)
  3. The `src` banner is identical to the `banner` on the device.
  4. I am

[2018-05-04 14:11] felixfontein opened #39737 "letsencrypt module should be renamed (to avoid violating Let's Encrypt's trademark policy)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
2.6

##### SUMMARY
In letsencrypt/website#303, @cpu pointed out that according to the [Let's Encrypt trademark policy](https://letsencrypt.org/trademarks/), we should better rename the `letsencrypt` module.

[2018-05-04 14:30] itaispiegel opened #39739 "Jinja2 Number Outputting Bug"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Jinja2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using Jinja2 templating to reference number variables, Ansible outputs them as strings. This can cause issues when creating configuration files, for programs that expect numbers.
In the following example, the issue is demonstrated on ou

[2018-05-04 14:39] sivel commented on #39739
This is a known limitation in the interaction between ansible and jinja2, as historically jinja2 only has had the ability to return strings.  We are in the process of improving this in https://github.com/ansible/ansible/pull/32738

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum

[2018-05-04 14:39] #39739 closed, assigned to nobody

[2018-05-04 14:43] itaispiegel commented on #39739
When will this be resolved? This bug affects me and my team :)

[2018-05-04 14:47] akira6592 commented on #39724
By design, I think  backup option is not affected by default option.
Even in 2.4.4, `default: yes` and `default: no` are same results  `show run`.

[2018-05-04 14:53] uberlinuxguy opened #39742 "No maintaner for contrib/inventory/cobbler.py ?"
I have a pull request open #36179 for an update to the file and when I ran a bot_status it told me that there was no maintainer for that file.  Our organization is creating a new provisioning system around cobbler/ansible and I have several changes I would like to make to enhance the functionality of the cobbler.py inventory script.  I would like to volunteer as a maintainer for that file, if poss

[2018-05-04 14:58] itaispiegel opened #39743 "vmware_guest does not allow creating a vm without a disk"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
vmware_guest module does not allow creating a VM without a disk.
The issue appears to be in the select_datastore function. The function checks different edge cases, and for the case of not cloning from a template and not providing a disk,

[2018-05-04 15:02] mprahlkamps opened #39744 "Shell return code not working with kill/pkill"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Managing from:

[code]

And managing:

[code]

##### SUMMARY

When we try to stop a program the return code is wrong.

Especially when we try to stop a python program, the return code is always the id of the signal sent to kill the process.

##### STEPS

[2018-05-04 15:03] piroux opened #39745 "tower_* modules fail to craft proper tower-cli API calls"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

tower_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Given that it is a setup with AWX :
[code]
##### SUMMARY

Many `tower_*` ansible modules are failing to produce an acceptable tower-cli API call to the AWX Server because all the [parameters of the module](http://docs.ansible.com/ansible/latest/modul

[2018-05-04 15:04] #39713 closed, assigned to nobody

[2018-05-04 15:05] #39679 closed, assigned to nobody

[2018-05-04 15:21] Gianlu opened #39746 "Error with no description invoking dynamic inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible dynamic inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = ~/ansible.log
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/modules']

##### OS / ENVIRONMENT

##### SUMMARY
I have a simple script th

[2018-05-04 15:36] sivel commented on #39744
This is a side effect of python subprocess module:

This however does not happen if you use `command` instead of `shell`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-04 15:36] #39744 closed, assigned to nobody

[2018-05-04 15:38] sivel commented on #39746
This issue has been resolved in https://github.com/ansible/ansible/pull/39430 and will be included in the 2.5.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-04 15:38] #39746 closed, assigned to nobody

[2018-05-04 15:39] ryansb commented on #39689
Hm, try this patch and see if it resolves your missing output. https://github.com/ansible/ansible/commit/1780ec4eb86d7e78dcaf8897a0ef550b3be2aa04

[2018-05-04 15:52] #39011 closed, assigned to trishnaguha

[2018-05-04 16:10] #28822 closed, assigned to nobody

[2018-05-04 16:30] PhillSimonds opened #39749 ""connection: local" ignored in ansible 2.5.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/vagrant/playbooks/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/vagrant/playbooks/ansible.cfg) = [u'/vagrant/inventory']
DEFAULT_MODULE_PATH(/vagrant/playbooks/ansible.cfg) = [u'/usr/local/lib/python2.7/dist-packages/napalm_ansible
DEFAULT_VAULT_PASSWORD_FILE(/vagr

[2018-05-04 16:31] SteveRodrigue commented on #29577
I'm having the same issue for crypto related config.
Here is one of the 3 tasks I run which reports "changed" even if the config has not changed.

[code]

Even if the confguration exist in the router, ios_config reports it "changed"

[code]
I've looked at both the running and startup config and I can't figure out what makes the ios_config thinks the configuration changed.

One thing that would be

[2018-05-04 16:35] sivel commented on #39749
Inventory vars have higher priority than playbook or task specified connection keywords.

You would need to overwrite the `ansible_connection` variable instead:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-04 16:35] #39749 closed, assigned to nobody

[2018-05-04 16:38] sudoforge commented on #38931
Right - sorry for the mistype there, I noticed that the `SUPPORTED` file is looked at for Ubuntu machines but didn't write that down correctly.

I think Gentoo also uses the `SUPPORTED` file. Perhaps it would be best to check if that file exists and use it, else fall back to directory searching. That would (presumably) handle all distributions.

[2018-05-04 16:46] PhillSimonds commented on #39749
Ahh, interesting. Sorry to add overhead to your processes. Thanks for the info.

[2018-05-04 16:52] samdoran commented on #39680
Please ask questions like this on IRC or the mailing list as you'll get a must faster response.

From `ansible-config list`:

[code]

[2018-05-04 16:52] #39680 closed, assigned to nobody

[2018-05-04 17:01] sivel commented on #38568
I finished up a module that I had worked on a few years ago, and have submitted it at https://github.com/ansible/ansible/pull/39752

I haven't done extensive testing with any version of go other than 1.9.

If you could test, it would be appreciated.

[2018-05-04 17:08] akira6592 commented on #39724
Oh, I just watched #39741. I will take notice on it.

[2018-05-04 17:36] #39672 closed, assigned to nobody

[2018-05-04 17:41] dgoodwin opened #39754 "Rename kubeconfig parameter in k8s_raw module to kubeconfig_file for clarity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 27

##### SUMMARY

In our kube/ansible working group we discussed that the 'kubeconfig' param to k8s_raw is slightly ambiguous and may limit something we want to do in future (specify inline kubeconfig, or loaded from a file on control host).

We wanted

[2018-05-04 18:11] BondAnthony commented on #39655
@CarlosEspejo Digital Ocean said the issue has been fixed. Could you please test?

[2018-05-04 18:27] ftlio commented on #39655
It appears that 201 is now returned, but now:

409 Conflict returns:
[code]
instead of
[code]

causing an error when the state of the volume is already present :(

[2018-05-04 18:40] neilhwatson opened #39756 "ec2_ami_facts missing query options"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_ami_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When gathering AMI facts there is a filter options, but the CLI equivalent of --query is not documented. Filtering is limited, query is needed to truly narrow down results.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2018-05-04 19:12] vaygr commented on #31377
Same issue for **2.5.2**:

[code]

[2018-05-04 19:17] CarlosEspejo commented on #39655
@BondAnthony I can confirm that creating a new volume worked for me but as @ftlio pointed it out that when you run the playbook again it throws an error.

[2018-05-04 19:18] BondAnthony commented on #39655
Thank you guys, I'll get this updated later this evening.

[2018-05-04 19:33] #39312 closed, assigned to nobody

[2018-05-04 19:37] vaygr commented on #31377
It is probably only relevant for older API clients <=1.10.6 (docker-py), and the fix can be as simple as this (against 2.5.2 stable):

[code]

[2018-05-04 20:50] wblackcenic commented on #39351
@gdpak I'm still getting errors using this module.  I've confirmed 4 times that end-set and end-policy are on the same level as the sub-command configs for prefix-set and route-policy, as you highlighted above.  Now I'm getting an error that looks like the as-path-set configuration element also needs an end-set to be at the same sub-command level.

[code]

When adjusting the configuration to accom

[2018-05-04 20:50] saichint opened #39759 "nxos_snmp_user issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_snmp_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N7K running 7.0(3)D1(1)
##### SUMMARY

##### STEPS TO REPRODUCE

There are few issues with nxos_snmp_user module
1. group is not a required parameter. When group is not specified, the platform does accept the CLI and assigns the default

[2018-05-04 20:53] eclecticitguy commented on #39351
@gdpak I'm still getting errors using this module.  I've confirmed 4 times that end-set and end-policy are on the same level as the sub-command configs for prefix-set and route-policy, as you highlighted above.  Now I'm getting an error that looks like the as-path-set configuration element also needs an end-set to be at the same sub-command level.

[code]

When adjusting the configuration to accom

[2018-05-04 20:53] ScriptMyJob commented on #37756
At the very least it would be great to have an option for this.  I imagine that there might be some end users that would like to have their profile load.  I personally would not like to have my profile load, but an option in win_shell would make everyone happy.

[2018-05-04 21:16] felixfontein commented on #39737
An idea for renaming:
* `acme_certificate` for whats currently `letsencrypt`;
* `acme_account` for the new module in #37275 (currently called `letsencrypt_account`);
* `acme_certificate_revoke` or simply `acme_revoke` for the new module planned in #36345;
* the `module_utils` module would be simply `acme` (or is this too general?), same as the documentation fragment (both will appear in #37275).

[2018-05-04 21:18] felixfontein commented on #39737
@resmo @gundalow Do you know of a precedent where a module has been renamed? Is there a mechanism to guide users to the new name (except by listing it in the changelog, which not everyone reads)?

[2018-05-04 22:01] LukeRussell commented on #39011
Hi, sorry I haven’t checked this, I don’t have any older devices in my lab and I’ve been away from work for the week.

[2018-05-04 22:37] sivel commented on #39637
I've submitted a fix for this issue at #39762

[2018-05-04 22:44] jborean93 commented on #39384
For anyone following along, this is not an issue with Ansible, see https://groups.google.com/forum/#!topic/ansible-project/PQ9cfJUrRMY for the details.

[2018-05-04 22:50] resmo commented on #39737
So the way to rename a module is to deprecated the current module by renaming the module with a prefix of _. e.g. `_letsencrypt` see and update with some infos about deprecation https://github.com/ansible/ansible/commit/5700b0961063085c9c08f7e9df60eedc4c320cea#diff-5f9ddb1cdcdbea7c187daee24f186436

Note that the deprecation doc block format has changed in the meanwhile. See https://github.com/ansi

[2018-05-04 22:51] bcoca commented on #39737
1) rename the module
2) create symlink to old name, but add a leading `_` underscore, this shows the alias is deprecated
3) ...
4) $$$

[2018-05-04 23:08] adambaumeister commented on #37649
@jmcgill298 I'm running 2.5.0 but you're right - by changing the ETX characters to literal ^C that seemed to stop it attempting to push the banner. This is not ideal as it makes sense that the "src" configuration may be an existing configuration for the purposing of comparing and then committing the differences, but with this limitation you have to pre-process the text before handing it to ios_con

[2018-05-04 23:43] #39699 closed, assigned to nobody

[2018-05-05 04:14] jcheroske commented on #27124
Is there an Ansible module that validates the structure of a variable in a simple, non-verbose (both in usage and output) fashon? I'm about to write my own role to validate the structure of objects and arrays, but it seems like this should be part of the core library. Maybe I've missed it, but something like this would be awesome:
[code]
Essentially, where's the built-in validation framework? `ass

[2018-05-05 05:43] pavetok commented on #27124
It seems [jsonschema](https://pypi.org/project/jsonschema) suits you so well.

[2018-05-05 10:43] meteorice commented on #39680
thanks.it's working.
set true.

[2018-05-05 11:47] Zverik commented on #39699
Thank you!

[2018-05-05 11:51] #25970 closed, assigned to nobody

[2018-05-05 12:11] #38027 closed, assigned to nobody

[2018-05-05 12:30] BondAnthony commented on #39655
@ftlio could you please validate again. I'm currently getting this response from the API.

[code]

[2018-05-05 14:17] byumov opened #39768 "Ansible hangs while executing playbooks"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
2.5.2

##### CONFIGURATION
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_PRIVATE_KEY_FILE(/etc/ansible/ansible.cfg) = /etc/ansible/ssh/id_rsa
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.c

[2018-05-05 15:58] strarsis opened #39770 "Permission denied using mount"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL (Bash on Windows), this issue is probably not platform-specific.

##### SUMMARY
Mount fails with `permission denied` though manual mounting works using same user and `sudo`.

Manually mounting as user `admin`:
[code]

##### STEPS TO REPRODUCE
[code]

##

[2018-05-05 16:29] ichekaldin opened #39771 "iam_role module doesn't update 'Description' field of existing roles"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iam_role module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

#32582 added support for Description parameter to iam_role module. However, this parameter is only set when new role is created. The module does not update Description parameter when the IAM role already exists.

##### STEPS TO

[2018-05-05 16:33] ichekaldin commented on #39771
Something like this would address the issue, I think:

[code]

[2018-05-05 17:29] ftlio commented on #39655
@BondAnthony I am still seeing "conflict"

It may be data center specific.  I tested against nyc1.

[2018-05-05 19:47] suzuki-shunsuke commented on #34736
Reproduce this issue at ansible 2.5.2 .

[2018-05-05 20:26] cahlchang commented on #39771
It certainly does not seem to confirm overwriting.
Changes are checked with `assume_role_policy_document` and` managed_policy`, but I think that it is better to check `description` there.
Since I was just working on the integration test of that module, I added that process.

[2018-05-05 20:55] user140547 commented on #34281
As a workaround until this is possible, if the use case is to support different host groups it is possible to use a include_task with a conditional on group names, i.e. a task include for a group `foo` is included when a file `tasks_directory/foo.yml` is provided:

[code]

The playbook including this construct has to run for all hosts.

[2018-05-05 22:01] jtyr commented on #39770
Please try to use `become_user: admin` instead of `remote_user: admin`.

[2018-05-06 06:31] #37607 closed, assigned to nobody

[2018-05-06 07:46] anmolnagpal commented on #39474
@abadger Yes there was symlinks broken in that folder

[2018-05-06 08:28] Poil commented on #37337
It seems we have no more problem with Ansible 2.5

[2018-05-06 08:28] #37337 closed, assigned to nobody

[2018-05-06 08:49] nlevchuk commented on #36585
@keltik85 did you find a solution for the problem?

[2018-05-06 09:27] ikr0m commented on #18973
Any news on this feature? Having regex in paths parameter would be very good!

[2018-05-06 09:33] eligosfx commented on #19203
I changed TLS Protocol to v1, helped me

[2018-05-06 09:34] eligosfx commented on #19203
ansible 2.5.2
python 3.6

[2018-05-06 11:47] ptux commented on #35711
what should I do

[2018-05-06 11:50] ptux commented on #35711
merged on #36571.

[2018-05-06 11:50] #35711 closed, assigned to nobody

[2018-05-06 13:00] r4j4h commented on #29474
Hi there,

I have found a way around this!

Judging by the changes in https://github.com/ansible/ansible/issues/12241#issuecomment-137606517 I noticed it was around escaping so I found replacing `\n` with `\\n` to be effective in getting the expected results.

So try:

[code]

Hope it works for you as well!!

[2018-05-06 13:26] #27062 closed, assigned to nobody

[2018-05-06 14:07] kvalev commented on #39684
I took a look at the code and while the fix is straightforward, I am not quite sure whether the existing behavior is intended or not. According to [this comment](https://github.com/ansible/ansible/blob/42912e1ac88a142b14f7851a5cb9b4fc7e094db6/lib/ansible/vars/manager.py#L204-L208) a task should see its role's defauts first, even if those have been explicitly redeclared (like in my case).

What sho

[2018-05-06 15:16] kamigerami opened #39777 "urls.py - typo in example section"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

urls

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEPRECATION_WARNINGS(/Users/kamjar.gerami/Documents/haxx/ansible/source_code/ansible/lib/ansible/modules/cloud/misc/ansible.cfg) = False

##### OS / ENVIRONMENT

Darwin kamger.lan 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X

[2018-05-06 17:38] abadger commented on #39474
Cool.  We're you able to verify that #39460 fixed it for you?  That PR had
been merged and backported so it will be in the next 2.5 release

On Sun, May 6, 2018, 12:46 AM Anmol Nagpal <notifications@github.com> wrote:

[2018-05-06 18:23] cpatte7372 opened #39779 "[WARNING]: Unable to parse /etc/ansible/hosts as an inventory source"
Hello Community,

I'm very new to ansible.

I'm currently running Ansible from Azure Cloud Shell.

I have added a machine to the Hosts file. However, whenever I attempt to ping or connect to the machine I get the following errors:

[WARNING]: Unable to parse /etc/ansible/hosts as an inventory source

 [WARNING]: No inventory was parsed, only implicit localhost is available

 [WARNING]: provided ho

[2018-05-06 19:04] keltik85 commented on #36585
@nlevchuk I think, I just used the `shell` module to start the service. The bug within the `systemd` module is still not fixed, because I didn't have the time to do it.

[2018-05-06 19:09] Knio commented on #19102
@mkrizek The use case of `htop=1.*.2*` is to show you a minimal example to be able to reproduce the bug, as requested by the issue template.

[2018-05-06 19:13] cpatte7372 commented on #39779
@ansibot , thanks for reaching out.

See below:

carlton@Azure:~$ ansible --version
ansible 2.4.3.0
  config file = /home/carlton/ansible.cfg
  configured module search path = [u'/home/carlton/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/ansible/local/lib/python2.7/site-packages/ansible
  executable location = /opt/ansible/bin/ansible

[2018-05-06 19:57] arbabnazar opened #39780 "Find the list of all the AWS ALB target groups in which instance is registered"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
`elb_target`

##### ANSIBLE VERSION

[code]

##### SUMMARY
@wimnat I think you are the right person to ask for this feature:
For ELB, if we want to remove the instance from all the elbs, we just need to pass the instance id to the elb_instance module and again if we want to add the instance back in the same playbook, it give us a magic variabl

[2018-05-06 21:30] drzraf commented on #29310
python library URL is now https://github.com/python-gitlab/python-gitlab

[2018-05-06 22:15] BondAnthony commented on #39655
Alright now I'm a little confused, when I hit the endpoint directly through postman I'm getting the expected `already_exists` id. However, when I"m executing the `digital_ocean_block_storage` module directly on my workstations the response coming back from `open_url` has an id of `conflict`. I need to continue to look into this further because removing the id check could result false state to the

[2018-05-06 22:46] ftlio commented on #39655
Is the API key you're using the same with both attempts?

[2018-05-06 22:50] spmp commented on #39701
A quick local version.
Works well
https://paste.ubuntu.com/p/RWDHrswmKq/

[2018-05-06 22:51] spmp commented on #39650
Dirty hack for a local version with the same/similar interface to `azure_rm_subnet`
https://paste.ubuntu.com/p/4Fcrp2fq7r/

[2018-05-06 23:51] #38404 closed, assigned to Akasurde

[2018-05-07 01:37] Fred-sun commented on #39625
@mattclay  Sorry, output as below!
[code]

[2018-05-07 01:40] timetxt commented on #38456
Facing similar issue today. I set 'ansible_user/ansible_ssh_private_key_file' in 'inventory/hosts' and was trying to override that by extra-vars. But never got a success until I changed the 'ansible_useransible_ssh_private_key_file' in 'inventory/hosts' to the user I was going to use.

inventory:hosts
[group:vars]
ansible_user = user1
ansible_ssh_private_key_file=<user1_ssh_key>

command:
ansible-

[2018-05-07 02:20] dpgrodriguez opened #39783 "Service ignores 'use' parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The service module documentation says that we can override the service manager to be used to manage services.

From the doc, it was introduced in 2.2:

use (added in 2.2) | Default:auto | The service module actually uses system specific modu

[2018-05-07 03:48] geerlingguy commented on #12259
Ha, a few years later ran into the same issue on a new macOS box with forks set to 25. Glad this info is here, saved me twice now!

[2018-05-07 04:04] phemmer commented on #39321
@Akasurde I would welcome your thoughts on this issue. Since the structure of the new `vmware_guest_disk_facts` is not compatible with `vmware_guest`, and based on [your pushback](https://github.com/ansible/ansible/pull/39339#issuecomment-385166928) against changing `vmware_guest`, I'm open to other suggestions.

[2018-05-07 04:32] felixfontein commented on #39737
@bcoca @resmo Do I understand it correctly that the deprecation info is not necessary if there's a symlink?

@resmo What do you think about the name `acme_certificate`? Do you have other ideas?

[2018-05-07 04:34] felixfontein commented on #39737
(Also, with a symlink, the documentation and examples will mention only the new module name.)

[2018-05-07 04:36] kenji21 commented on #15802
Just commited on our fork for this, but no idea how to write an integration to prove this code is fine:

https://github.com/openium/ansible/commit/b72eceffd915e135b2ca5175449270a94aa3a4ba

[2018-05-07 04:43] felixfontein commented on #39737
I noticed that some symlinked modules use code like this (after `AnsibleModule` is instanciated):
[code]
While looking at some renamed modules, it also seems that the documentation for the old module name vanishes (so there's no hint there that the module is renamed, you simply get a 404).

[2018-05-07 05:44] kcd83 commented on #4297
The block sub tasks also register when skipped so that workaround doesn't seem to work as at ansible 2.5. If https://github.com/ansible/ansible/issues/19803 then this would work as a workaround

[code]
(just sharing, don't bother trying this)

[2018-05-07 05:53] resmo commented on #38103
implemented by 3324765fdd9f5d5cec50410e19edcf40d59491b8

closing

[2018-05-07 05:53] #38103 closed, assigned to nobody

[2018-05-07 06:17] Akasurde commented on #39777
resolved_by_pr #39778

[2018-05-07 06:34] #39265 closed, assigned to Akasurde

[2018-05-07 06:39] kirikae commented on #34801
I have also come across this issue.

Attempting to deploy a number of VMs into different Clusters within a single DataCenter:

Rough heirarchy of vCenter as follows:

[code]
Ansible version 2.4.2.0
RHEL 7.3

I have a playbook as follows:
[code]

This works on any of my environments when deploying directly to an ESXi Host instead of to a Cluster. It also works whenever I deploy to a vCenter Datacen

[2018-05-07 07:09] yokee99 commented on #39779
I have the same problem  and  I install it by brew.

[2018-05-07 07:11] #37906 closed, assigned to Akasurde

[2018-05-07 07:15] cpatte7372 commented on #39779
@yokee99 , thanks for reaching out. I use a PC. Do you know the equivalent  to 'brew' in PC?

Cheers

[2018-05-07 07:42] huiminzeng commented on #14204
hello everyone! I just got the same issue. But the solutions are not working for me. Here is my playbook.
<img width="157" alt="playbook" src="https://user-images.githubusercontent.com/38716719/39690503-a8ae660e-51da-11e8-99b7-73322333a7b4.PNG">
If i add # to all the lines of second task (rocketchat installation), the first task runs just fine. So, basically, it is due to the docker_service part,

[2018-05-07 07:58] myllynen commented on #36970
This looks like a duplicate of #27744?

[2018-05-07 08:05] trishnaguha commented on #39408
DELETED

[2018-05-07 08:21] stephan2012 opened #39786 "kubernetes module broken in Ansible 2.5: one of the following is required: f, i, l, e, _, r, e, f, e, r, e, n, c, e""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

kubernetes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.5

##### SUMMARY

Ansible module `kubernetes` is broken in Ansible 2.5 while the new `k8s_raw` module is not yet fully functional (see #39674 and others).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Although

[2018-05-07 08:28] stephan2012 commented on #39786
Could be related to #31650.

[2018-05-07 08:34] Akasurde commented on #39786
resolved_by_pr #39787

[2018-05-07 08:39] Akasurde commented on #39786
@stephan2012 Could you please check the above fix and let me know if it works for you ?

[2018-05-07 08:40] stephan2012 commented on #39786
Fix works.

[2018-05-07 08:46] Akasurde commented on #33156
@stroobl Thanks for providing debugging information. There is a PR open for this - https://github.com/ansible/ansible/pull/39470.

[2018-05-07 08:48] cpatte7372 opened #39788 "Unable to Ping Ansible Hosts in Inventory from Azure Cloudshell"
Hello Community,

I have created a Centos host in Azure and added the hosts to my Ansible inventory, however whenever I attempt to ping the host with ansible, from Azure Cloud Shell I get the error shown in image.
![ans1](https://user-images.githubusercontent.com/24607961/39693388-c2315e0a-51db-11e8-88bd-12edb9940ec4.png)

However, I can connect to the same host with ssh:

![ans2](https://user-ima

[2018-05-07 08:55] jeyfox opened #39789 "package_facts module does not support check mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

package_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/home/user/Devel/fluentd/ansible.cfg) = [u'/home/user/Devel/']
HOST_KEY_CHECKING(/home/user/Devel/fluentd/ansible.cfg) = False

##### OS / ENVIRONMENT

RHEL7

##### SUMMARY

Unable to use dry run with package_facts module

skipping: [localhost] => {

[2018-05-07 08:57] Fred-sun commented on #39624
@zikalino I cannot reproduce it , Could you help check it! Thanks!

[2018-05-07 08:58] Fred-sun commented on #39625
@zikalino I cannot reproduce it , Could you help check it! Thanks!

[2018-05-07 09:03] cpatte7372 commented on #39788
The component name is ping module

[2018-05-07 09:04] cpatte7372 commented on #39788
The ansible version is 2.4

[2018-05-07 09:12] cpatte7372 commented on #39788
Just so you know that when I attempt an ansible ping to the hosts private IP address I get the following error:

![ans3](https://user-images.githubusercontent.com/24607961/39694431-2de2328e-51df-11e8-9113-27fd6f963f2e.png)

I think the problem is that ansible needs to be configured to communicate with hosts over ssh, but I'm not sure

[2018-05-07 09:14] nkakouros opened #39791 "Conditional does not evaluate correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

when

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Arch Linux latest

##### SUMMARY

I have a conditional for a task that should return `false`. If I print the conditional it says `false`, but a `when:` clause with the same conditional evaluates to true and the task is being run.

##### STEPS TO REPRODUC

[2018-05-07 09:16] Akasurde commented on #39786
@stephan2012 Thanks for reporting.

[2018-05-07 10:04] cavamagie commented on #36835
now i receive
A specified parameter was not correct: spec.deviceChange.device.port.switchUuid
Host pippo.host is not a member of VDS 02_dvs_01

[2018-05-07 10:20] #38398 closed, assigned to nobody

[2018-05-07 10:27] yayefa commented on #37873
@yuwzho , I have try this : pip install git+https://github.com/ansible/ansible.git@devel , but got the same issue
Using Ansible Tower
          Ansible 2.5.0

[2018-05-07 10:31] klml commented on #7742
thx @groggemans would you copy and paste this question and your answer to stackoverflow? I even red over, but this fixed my problem.

[2018-05-07 10:36] gdpak commented on #39351
@eclecticitguy
1.) I am fixing these problems where end-set or end-policy or any other end-* was not at subcommand level. I should be able to release it to devel soon. post that you should be able to put config in source file with same indentation as returned in show running-config by IOSXR.

However, from above logs I feel there might also be configuration issue in your file.
From last error, I c

[2018-05-07 10:47] stroobl commented on #33156
@Akasurde My colleague Pieter Avonts also made a fix that we already started using internally. We believe this might be a better approach, so he added PR #39792 to allow you to compare.

[2018-05-07 11:06] resmo commented on #39737
As @bcoca mentioned, when the functionality is identical (just a simple rename of module) the symlink variant is probably easier. acme_certificate sounds good to me.

Not sure about the docs issue.

[2018-05-07 11:29] huiminzeng opened #39795 "docker_service error was reported as syntax problem"
Hi everyone, i want to use ansible playbook with _docker-service_ to replace _docker-compose up_ . However, after run the playbook, the error turned out to be a syntax problem. But i don't think so and i don't to how to detect the real issue. Thank you for helping!
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook
ansible docker_service module
docker-compose up

##### ANSIBLE

[2018-05-07 11:35] Akasurde commented on #33156
@stroobl Got it. I just wanted to avoid duplicate efforts in solving same issue. I also created scratch fix - https://github.com/ansible/ansible/compare/devel...Akasurde:rp_owner If you want to try.

[2018-05-07 12:00] Akasurde commented on #38949
resolved_by_pr #39796

[2018-05-07 12:35] mbialozor opened #39797 "Ansible not substituting hostvars variables in template when using variables with hostvars inside"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Template/Jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I'm trying to generate load balancer configuration on balancer host (lb) using template and vars configured for two appservers (srv1 and srv2). What I need is to have unique application node naming on each appserver. My i

[2018-05-07 13:09] Akasurde commented on #39628
VCSIM does not support operations related to datastore maintenance mode.

[2018-05-07 13:09] mbialozor commented on #24979
This seems to be still an issue on Ansible 2.5.

[2018-05-07 13:30] #31935 closed, assigned to nobody

[2018-05-07 13:47] yayefa opened #39799 "azure_rm_networkinterface create default NSG and associated it to NIC"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible module: azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
Ansible Tower

##### SUMMARY

Ansible azure_rm_networkinterface module create a default nsg, that is a known issue that's seems to be fix here : https://github.com/ansible/ansible/pull/38643.
But got the same issue

##

[2018-05-07 13:54] myllynen opened #39800 "dnf autoremove parameter default not documented"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/dnf_module.html

##### ANSIBLE VERSION
[code]

##### SUMMARY
The dnf module parameter autoremove has no default value documented at https://docs.ansible.com/ansible/latest/modules/dnf_module.html.

[2018-05-07 14:03] myllynen opened #39802 "Symbolic link needlessly marked as changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults on Fedora 28

##### OS / ENVIRONMENT
Fedora 28 VM

##### SUMMARY
Previously created symbolic link creation sometimes is "changed" even though no changes were needed.

##### STEPS TO REPRODUCE
[code]

I've seen this with both tmpfs and xfs file systems (on / and /tmp on freshly inst

[2018-05-07 14:03] Akasurde commented on #39704
resolved_by_pr #39720

[2018-05-07 14:08] myllynen commented on #39800
Urgh.. Trying to make the bot happy:

##### ANSIBLE VERSION
[code]

[2018-05-07 14:13] PhilippeLC92 opened #39803 "Ansible doesn't remove temporary files /dev/shm/ansible-local-xxxxxxxxxxxxxx"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -F /appli/myuser/.ssh/ssh.cfg -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=no -o ConnectTimeout=35 -o ServerAliveInterval=15 -o ServerAliveCountMax

[2018-05-07 14:28] bcoca commented on #39797
closing as dupe of #24979

[2018-05-07 14:28] #39797 closed, assigned to nobody

[2018-05-07 14:36] webknjaz commented on #39768
@byumov please try running it in debug mode:
[code]

[2018-05-07 14:44] bcoca commented on #39779
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-07 14:44] #39779 closed, assigned to nobody

[2018-05-07 14:54] bcoca commented on #39783
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `use: service` forces the use of the old `service` module, not the `service` command line utility, the module then uses it's own au

[2018-05-07 14:54] #39783 closed, assigned to nobody

[2018-05-07 15:01] #39637 closed, assigned to nobody

[2018-05-07 15:06] groggemans commented on #7742
@klml https://stackoverflow.com/questions/50217255/how-to-prompt-for-sudo-password-with-ansible/50217256

[2018-05-07 15:08] #38742 closed, assigned to nobody

[2018-05-07 15:18] sivel commented on #22356
Closing due to no response. If you are still experiencing this issue, please test against a newer version of ansible, and open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-07 15:18] #22356 closed, assigned to bcoca

[2018-05-07 15:19] #37865 closed, assigned to nobody

[2018-05-07 15:20] #20837 closed, assigned to nobody

[2018-05-07 15:30] sivel commented on #21328
I've gone back and tested the reproducer provided in https://github.com/ansible/ansible/issues/21328#issuecomment-302724596

This issue was fixed in e0b0e61b32904975d954fab35ca7ae02147fb6ea and included in the v2.4.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2018-05-07 15:30] #21328 closed, assigned to bcoca

[2018-05-07 15:54] alex-left opened #39806 "pip module fails with ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pip module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/alex/repos/provision/snippet.ansible.provision/ansible.cfg) = True
DEFAULT_FORKS(/home/alex/repos/provision/snippet.ansible.provision/ansible.cfg) = 10
HOST_KEY_CHECKING(/home/alex/repos/provision/snippet.ansible.provision/ansible.cfg) = False
PERSISTENT_COM

[2018-05-07 16:11] sivel commented on #39806
Duplicate of https://github.com/ansible/ansible/issues/37912

[2018-05-07 16:11] #39806 closed, assigned to nobody

[2018-05-07 16:17] knope opened #39808 "module influxdb_database -- pip installed module not available -- `requests`: PEBKAC"
##### ISSUE TYPE
 - ~~Bug Report~~ **pebkac**
##### COMPONENT NAME
- influxdb_database

##### ANSIBLE VERSION
+ 2.5.2
[code]

##### CONFIGURATION
`ansible-config dump --only-changed`:
[code]

##### OS / ENVIRONMENT
OSX 10.12.6
ansible 2.5.2
requests     2.18.4
Vagrant 2.0.4 with centos/7

##### SUMMARY
On OSX 10.12.6, working with ansible 2.5.2 in a virtualenv, with the `requests` module installed

[2018-05-07 16:25] #31374 closed, assigned to bcoca

[2018-05-07 16:28] sivel commented on #39808
This error indicates that the `requests` module must be installed on the `influxdb-server` server, not locally.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-07 16:28] #39808 closed, assigned to nobody

[2018-05-07 16:29] sivel commented on #39803
Can you please confirm that ansible 2.5.x resolves your issue?  There were a number of improvements to temporary file handling in 2.5.

needs_info

[2018-05-07 16:30] knope commented on #39808
D: doh, thank you!

[2018-05-07 16:31] knope commented on #39808
... ah a fair pebkac indeed, lol.  thank you

[2018-05-07 16:40] #39795 closed, assigned to nobody

[2018-05-07 16:51] sivel commented on #39791
I cannot duplicate this issue with the follow reproducer:

[code]

This produces:

[code]

Without the `when` statement, I see:

[code]

Please provide a full reproducer that showcases this issue, that we can run.  Preferably that does not require executing a command to get `current_machine_type.stdout`

needs_info

[2018-05-07 17:05] sivel commented on #19609
This issue has been resolved since v2.1.2.0

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-07 17:05] #19609 closed, assigned to nobody

[2018-05-07 17:12] sivel commented on #20972
This is the expected behavior with the `roles` header.  All handlers will be added, and the tags applied to the role will be merged down onto the individual tasks.  If no tags are specified for the playbook run, all handlers may execute.  tags allow limiting what tasks will run when specified.

Newer versions of ansible, with `include_role` will likely give you the functionality you desire.

If yo

[2018-05-07 17:12] #20972 closed, assigned to nobody

[2018-05-07 17:13] Akasurde commented on #39628
On real vCenter these testcases works flawlessly. I am not sure about work that is being done to add support for datastore maintenance. I will mark these testcases as `unsupported` for the time being.

[2018-05-07 17:54] sivel commented on #39788
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-07 17:54] #39788 closed, assigned to nobody

[2018-05-07 18:36] cpatte7372 commented on #39788
Hi @sivel , I have submitted my user question to group you suggested. I hope to get some feedback soon.

Thanks

[2018-05-07 18:56] agaffney commented on #38899
@bcoca do you know what changed that is causing this? You indicated on IRC that it probably had something to do with task-level vars caching.

[2018-05-07 19:09] felixfontein commented on #39737
I've created a PR which renames the module (#39816). I've only changed the module name everywhere it appears, and added a small paragraph explaining that the module was simply renamed.

[2018-05-07 19:19] unfii commented on #38883
Any solution for this issue?

[2018-05-07 19:33] sivel commented on #38899
It seems to be the side effect of moving `templar = Templar(...)` out of the for loop. This indicates that some set of vars being used in `Templar` are not being mutated, but instead overwritten.

[2018-05-07 19:35] agaffney commented on #38899
That seems to fit with what bcoca had said on IRC. The previous code re-instantiated the Templar class on each loop iteration, but now it only happens once for the task.

[2018-05-07 19:38] agaffney commented on #38899
This could *probably* be fixed by just bringing back the line to re-instantiate the Templar class for each loop iteration. This would result in `n+1` instantiations of Templar for a task that loops `n` times, vs. the previous `n` instantiations from before this fix, but would satisfy the intentions of bcoca's change.

[2018-05-07 20:27] #36343 closed, assigned to nobody

[2018-05-07 20:37] Rajendra-Jonnalagadda commented on #34321
@ansibot @pari-
I have run into the same issue. Please help me out

[2018-05-07 20:38] simbalion opened #39822 "ansible/docs/templates/plugin.rst.j2 has a CSS bug"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
 ansible/docs/templates/plugin.rst.j2

##### ANSIBLE VERSION
current live web docs

##### CONFIGURATION
unrelated

##### OS / ENVIRONMENT
unrelated

##### SUMMARY
In Firefox 60b (developer browser) the parameters section doesn't display properly.

##### STEPS TO REPRODUCE
View page in Firefox 60b

##### EXPECTED RESULTS
see attachment

[2018-05-07 20:39] simbalion commented on #39822
I narrowed down the issue to table.documentation-table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(2) and similar elements, the .return-value-column class has a height of 1px. If that's removed the problem goes away. In general height should not be explicitly defined, and should be allowed to be dictated by content + padding.

[2018-05-07 20:43] #39499 closed, assigned to samdoran

[2018-05-07 20:45] benjdudas commented on #34321
@pari- That works if the application provides the option in the api for generating a token. In this particular case the application did not offer that endpoint and tokens needed to be generated through the UI. Curl was successful when used with that token, but not the URI module. In the end I had  them use the shell module with curl as a workaround until this could be looked into.

[2018-05-07 20:46] jborean93 commented on #34321
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-07 20:46] #34321 closed, assigned to nobody

[2018-05-07 20:47] jwitko commented on #35645
I had the same issue today,  oddly enough it happened after mutliple files of similar type were already hit by unarchive successfully.

[code]

[2018-05-07 20:51] #38899 closed, assigned to nobody

[2018-05-07 20:54] sivel commented on #39822
Please reach out to the firefox dev team.  As this only impacts the unreleased version of firefox, we are currently inclined to believe it is a bad change in that browser.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-07 20:54] #39822 closed, assigned to nobody

[2018-05-07 21:00] Rajendra-Jonnalagadda commented on #34321
@benjdudas  thanks for the update.

[2018-05-07 21:13] Xyrodileas commented on #34275
This issue seems to be widespread. Instead of blaming the library, maybe some help with a workaround would be more productive...
Same result with 0.3.0.

[2018-05-07 21:27] simbalion commented on #39822
It's not a bug in the browser, it's bad CSS. Firefox is trying to render the height as 1px, it's doing what it's told to do.

There's no reason you would ever define height as 1 pixel, except as a hack to make up for other mistakes in CSS. The height should be 'auto', it's a bug in the CSS.

That the browser doesn't correct for developer errors is not really a 'bug' in the browser.

[2018-05-07 21:37] jborean93 commented on #34275
@Xyrodileas it is a bug with the library, there is nothing inside of Ansible that can be done. On a high level this is what is happening

* Ansible crafts the commands to send to the host
* Ansible sends those commands to pywinrm
* pywinrm then crafts the XML payload to send over http
* pywinrm uses the requests library to send the payload over http
* Before sending the payload it configures the r

[2018-05-07 21:52] labanskoller opened #39828 "Module "git" returns changed every time when url.<base>.insteadOf is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `git` module always returns `"remote_url_changed": true` and therefore `"changed": true` when a Git variable [`url.<base>.insteadOf`](https://git-scm.com/docs/git-config#git-config-urlltbasegtinsteadOf) is used as URL alias.

##### STE

[2018-05-07 22:06] labanskoller commented on #39828
I've done some debugging and the reason for the bug is that `get_remote_url()` (called by `set_remote_url()`) uses e.g.
[code]
to get the current remote origin. That command takes into account any `url.<base>.insteadOf` settings:
[code]

Then the `set_remote_url()` function compares the URL with the `repo` parameter without taking any `url.<base>.insteadOf` settings into account.

My proposal is t

[2018-05-07 22:41] mejo- opened #39830 "Module `icinga2_feature` broken in `check_mode`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
icinga2_feature

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/home/ansible/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/ansible/ansible/ansible.cfg) = True
CACHE_PLUGIN(/home/ansible/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/ansible/ansible/ansible.cfg) = ~/.cache/
CACHE_PLUGIN_TIME

[2018-05-07 22:46] #35457 closed, assigned to nobody

[2018-05-07 22:50] Techcadia commented on #33373
This would be really nice to have. I am using the CLI for now but having it built into Ansible natively is much nicer.

[2018-05-07 22:57] itdependsnetworks commented on #34109
@thaumos Just want to make sure this is still being tracked, it was previously indicated to be re-addressed in April.

[2018-05-07 23:22] miiraheart opened #39831 "How to work with with_items"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

with_items module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

RHEL 7
MariaDB
##### SUMMARY

Hi everyone,
I’m trying to figure out how to separate my input values for Cloudforms to be used in an Ansible Playbook.

[2018-05-07 23:27] bcharboneauiherb opened #39832 "ios Modules SSH/Telnet - Error reading SSH protocol banner'utf8' codec can't decode byte 0xff in position 0: invalid start byte"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/home/<username>/DevOps/ansible/library']
##### OS / ENVIRONMENT

Windows 10 running with cygwin
Cisco Network Devices firmware varries

##### SUMMARY

When running the ios_config module, when it attempts to connect it fails with the fo

[2018-05-07 23:54] mvorisek commented on #35238
Closing based on @jborean93 answer.

[2018-05-07 23:54] #35238 closed, assigned to nobody

[2018-05-08 01:02] orderedchaosdev opened #39835 "Ability to set timezone for strftime filter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

strftime
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

While the strftime filter is useful sometimes I'm running a playbook from a machine in one timezone and setting time fields on a machine in a different timezone. I would like to be able to change the timezone that the strftime filter uses t

[2018-05-08 01:30] #18721 closed, assigned to nobody

[2018-05-08 01:48] bcoca commented on #39831
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-08 01:48] #39831 closed, assigned to nobody

[2018-05-08 02:03] yuwzho commented on #37873
@yayefa You mean the NIC doesn't attach the existing NSG but create a new one, or the `omit` syntax issue?

[2018-05-08 02:32] #37581 closed, assigned to nobody

[2018-05-08 02:53] Fred-sun commented on #38883
@unfii Thank you for your still tracking this, I think we can't increase Create OS disk by using azure_rm_managed_disk. But it can expand disk by mount method, YML as below, I will confirm with development personnel Thanks!
@zikalino  Could you help confirm azure_rm_managed_disk moudule feature and how to fix this issue ? Thanks a lot!

Expand VM disk by mount method
[code]

[2018-05-08 04:32] #39351 closed, assigned to gdpak

[2018-05-08 04:35] sk1988 opened #39842 "ios_config fails intermittently"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
The Ansible control host is

[2018-05-08 04:41] unfii commented on #38883
@Fred-sun Yep, this disk will be attach only to special vm, but how to automate mount disk inside vm?

[2018-05-08 05:07] Daemoen commented on #39780
As preposterous as this is going to sound -- There is no interface exposed from which you can get a list of target groups based on the instance id -- https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html  You actually have to do it in the reverse -- if you have an instance you want to check its membership, you have to loop through the target groups looking for a match based

[2018-05-08 05:37] ganeshrn commented on #39724
@akira6592 PR #39741 is merged in devel branch. Can you please retest on devel and check if it fixes the issue.

[2018-05-08 05:45] #39408 closed, assigned to trishnaguha

[2018-05-08 06:03] tonykay opened #39844 "winrm inventory ansible_user masked by prior ansible_ssh_user setting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible windows -m win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[root@bastion ~]# uname -a
Linux bastion.64f7.example.opentlc.com 3.10.0-693.el7.x86_64 #1 SMP Thu Jul 6 19:56:57 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux
[root@bastion ~]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.4 (

[2018-05-08 06:10] yayefa commented on #37873
The NIC doesn't attach the existing NSG but create a new one (default NSG)

[2018-05-08 06:27] #39759 closed, assigned to nobody

[2018-05-08 06:28] Fred-sun commented on #38883
@unfii I have try if mount disk to the VM ,it will not unmount by reboot or power off the VM. So we can use this method to expand disk. anyway, I cannot modify /etc/fstab  method to auto mount disk like Linux, But I will think other method , Thanks!

@zikalino  Could you help check this , How to automate mount disk inside VM? Thanks!

[2018-05-08 06:54] huiminzeng commented on #39795
@sivel Thanks! I forgot that....

[2018-05-08 07:17] #39737 closed, assigned to nobody

[2018-05-08 07:29] Fred-sun commented on #39799
@yayefa I have try your YML  and ran successfully, But it doesn't have create default NSG, It has been fix as  #38643.
Another, If you not install ansible role via git, It will create default NSG, Could you have try again by following step:
1. update your ansible version to 2.5.2 (sudo pip install ansible[azure]==2.5.2)
2. install ansibile role via git ( ansible-galaxy install git+https://github.c

[2018-05-08 07:32] Fred-sun commented on #39799
Dump the NIC create log as below:
[code]

[2018-05-08 07:36] a9tm opened #39848 ""python-apt must be installed to use check mode""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I created a playbook to install cassandra on a new provisioned Debian 9 server (AWS/EC2).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible check state changed

##### ACTUAL RESULTS

[code]

[2018-05-08 07:50] yuwzho commented on #39799
@yayefa I think the root cause is that you reference the role `Azure.azure_preview_modules`. Since the modified code is only on a separate branch, and it will be install to a repo directory rather than a `<owner>.<repo>` folder as a released role. So change the role to `azure_preview_modules` can make a difference.

Or other solution is, install the latest ansible/ansible devel branch, and run the

[2018-05-08 08:59] tomthetommy commented on #25068
Getting the same trying to ssh to 2 docker workers this morning.

[code]

[2018-05-08 09:16] jagadishrajr opened #39849 "Ansible uri module not accepting + (plus) in POST body"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[root@56c2c20cf6bc tmp]# ansible-config dump --only-changed

##### SUMMARY

Ansible uri module with POST method is not accepting a body that contains a '+' (plus sign) in it.

##### STEPS TO REPRODUCE

I have a web service that accepts a username and password as bo

[2018-05-08 09:30] mscherer commented on #39686
Except that rpm-ostree do requires to reboot to apply anything.

[2018-05-08 09:59] luvs commented on #39196
It works if add param `boto_profile: my_profile` to all.aws_ec2.yml

[2018-05-08 10:01] #37526 closed, assigned to privateip, trishnaguha

[2018-05-08 10:01] #39229 closed, assigned to trishnaguha

[2018-05-08 10:06] ustm opened #39851 "apt_key doesn't add key to specific keyring"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/user/.dotfiles/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/user/.dotfiles/ansible.cfg) = -o ConnectTimeout=120 -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
DEFAULT_HOST_LIST(/home/user/.dotfiles/ansible.cfg) = [u'/home/user/

[2018-05-08 10:14] Akasurde commented on #39830
resolved_by_pr #39853

[2018-05-08 10:15] Akasurde commented on #39830
@mejo- Could you please check the above patch and let me know if it works for you ?

[2018-05-08 10:46] nerzhul commented on #39830
sounds good to me @Akasurde , thanks

[2018-05-08 10:49] ikr0m commented on #32726
Any news on this? It helps to separate all vars to separate file.

[2018-05-08 10:55] Sephtex commented on #12862
I was looking for an easy way to divide the playbooks into categories and bumped against this issue which is exactly what I actually want. I want to make a better overview of the project we have by categorizing all the playbooks into a directory which is meant for the same thing.

Those playbooks might be categorized so you can find a playbook faster by the directory they are located in, eg.:

abs

[2018-05-08 11:15] yayefa commented on #39799
@Fred-sun @yuwzho , thanks , it's works.
I reference the role azure_preview_modules instead of Azure.azure_preview_modules

[2018-05-08 11:15] #39799 closed, assigned to nobody

[2018-05-08 11:54] maduhshan opened #39854 "Convert XML output to JSON format"
##### ISSUE TYPE
 - Convert XML output to JSON format

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
RHEL 6

##### SUMMARY
Trying to convert a xml output to a json. response from api is an xml output (using uri module for rest call). trying to convert this xml in to json.

[2018-05-08 12:56] etam opened #39855 "git module does not support cloning from bundles"
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

openSUSE Tumbleweed

##### SUMMARY

git module does not support cloning from bundles. It prepends `file://` if remote starts with `/`. This does not work if the remote is a bundle file.

https://github.com/ansible/ansible/blob/958ba1469b8d92196c74f5fda

[2018-05-08 13:06] cpu commented on #39737
Thanks everyone! I appreciate you folks putting the time into a solution here :1st_place_medal: :beers:

I think the new name is great and should make it clearer that the module can be used with other ACME based certificate authorities.

[2018-05-08 13:43] bcoca commented on #39854
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-08 13:43] #39854 closed, assigned to nobody

[2018-05-08 13:49] bcoca commented on #32726
I don't see us implementing this in core as vars files are 'pure' YAML and just get loaded as variables, `vars_prompt` is a specific language keyword in Ansible plays.

[2018-05-08 13:49] mejo- commented on #39830
Thanks a lot for the PR, @Akasurde!

It indeed fixes the error, but now it reports status `changed` even for modules that had been active before. I guess the problem is that `icinga2 feature list` never get's executed in `check_mode`. See my comment in the PR.

[2018-05-08 13:51] bcoca commented on #39797
yes, it is not related to the specific variables but the fact that you are doing double interpolation.

[2018-05-08 13:53] sivel commented on #39835
I am unsure how feasible this will be.  Timezones in python are not super straight forward, and generally require a 3rd party library (python-dateutil or pytz), and since the `strftime` filter is core, means we are not likely to accept an additional dependency to support this functionality.

I suppose it is possible, that the timezone parameter could be optional, and when used requiring a dependen

[2018-05-08 13:53] sivel commented on #39848
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-08 13:53] #39848 closed, assigned to nobody

[2018-05-08 13:59] mbialozor commented on #39797
@bcoca, ok, thanks for the clarification. Is this possible to fix/implement the expected behavior?

[2018-05-08 13:59] sivel commented on #39849
The issue is that a `+` has special significance in query strings, to indicate a space.  As such the `+` needs to be URL encoded.

At this point, something like the following will work:

[code]

or

[code]

In the future we may support a `form-urlencoded` `body_type`: https://github.com/ansible/ansible/pull/37188

If you have further questions please stop by IRC or the mailing list:

   * IRC: #an

[2018-05-08 13:59] #39849 closed, assigned to nobody

[2018-05-08 14:00] felixfontein commented on #39737
@resmo thanks for merging!
@cpu I think we should still adjust the documentation a bit more to make it clearer that other ACME based CAs can be used, but that's somewhat less priority (especially because there aren't any yet). Anyway, the rename will show up in Ansible 2.6, which is currently planned to be released in June (see [the roadmap for details](https://docs.ansible.com/ansible/devel/roadm

[2018-05-08 14:13] cpu commented on #39737
Sounds good.

Not quite true! :nerd_face:  [BuyPass](https://www.buypass.com/ssl/acme), [Globalsign](https://www.globalsign.com/en/auto-enrollment-gateway/), and [DigiCert](https://www.ietf.org/mail-archive/web/acme/current/msg02235.html) have mentioned some manner of ACME support. I haven't tried any and can't speak to their release status or general availability.

Excellent. Thanks!

[2018-05-08 14:19] AdamSmith-Mtl opened #39856 "iosxr_command module - Commands that prompt are not sending an answer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

iosxr_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/asmith/SMInetinfra/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/asmith/SMInetinfra/ansible.cfg) = -o UserKnownHostsFile=/dev/null
DEFAULT_CALLBACK_WHITELIST(/home/asmith/SMInetinfra/ansible.cfg) = ['syslog_boss', 'profile_tasks']
DEFAULT_HOST_LIST(/home/as

[2018-05-08 14:32] jsutter55 commented on #39196
@luvs

The server uses an [IAM role](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html), so there is no boto profile to add. I tried using the name of the IAM role but that produces a "config profile could not be found" error.

I was able to continue testing by adding an extra check to _set_credentials in aws_ec2.py that retrieves the temporary credentials:

`
def _set_credentials(sel

[2018-05-08 14:41] eclecticitguy commented on #39351
@gdpak I've pulled the Ansible development version into my environment and have re-attempted to configure the IOS-XR router.  I'm still getting an error in the as-path-set section:

[code]

My configuration file for this section looks like the following:

[code]

When I apply this configuration to the router itself, I get the following output:

[code]

Is it possible that the error message being r

[2018-05-08 14:57] dmsimard commented on #38200
Any update on this ? Curious.

[2018-05-08 15:03] mattycarlson opened #39858 "Unable to authenticate with git repo on Microsoft Team Foundation Server"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
Ansible 2.4.1.0
Tower 3.2.4

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY
After an upgrade from Ansible Tower 3.1.4 to 3.2.4, we're unable to authenticate with our Git repo on our Microsoft Team Foundation Server.

If this issue is not posted

[2018-05-08 15:06] fabianvf commented on #39674
Hmm, based on the exception I bet changing labelSelector to label_selector would work around it. Basically the issue is that, in the 2.5 k8s_raw approach, we take the yaml definitions and attempt to translate them to valid calls to the openshift python client, which involves taking the arguments and snake casing them. It looks like in this case for some reason it didn't reach the labelSelector key

[2018-05-08 15:06] mejo- commented on #39830
For convenience I post my comment here as well:

I'm pretty confident that [the condition `if not self.module.check_mode:` in line 74](https://github.com/ansible/ansible/pull/39853/files#diff-e91213d8bd57a2fedc4ac8729c9d8f0eR74) is the problem. It leads to `icinga2 feature list` never beeing executed `in check_mode`, which results in empty `out`.

The condition should be removed alltogether. `self

[2018-05-08 15:34] sivel commented on #21690
`private` was never actually implemented.  We have recently added a deprecation notice for anyone specifying `private` on an `include_role` as it is a no-op.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-08 15:34] #21690 closed, assigned to bcoca

[2018-05-08 15:46] jopaik opened #39860 "ios_command, ios_config, nxos... wait_for: not_contains conditional request"
##### ISSUE TYPE
 - Feature Idea
wait_for: only has contains.    I'm looking for absence of contains that would return true.
not_contains
##### COMPONENT NAME

ios_command, ios_config,  net .     new definition with NOT contains as a return function
##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-08 16:24] #38941 closed, assigned to nobody

[2018-05-08 17:11] aturetta commented on #39379
ansible 2.5.0
  config file = /home/local/YOOX/admturettaa/proxy/ansible.cfg
  configured module search path = [u'/home/local/YOOX/admturettaa/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.6.6 (r266:84292, Aug 18 2016, 15:13:37) [GCC 4.4.7 20

[2018-05-08 17:40] ssbarnea opened #39863 "ANSIBLE_STRATEGY=debug and ignore_errors: true does start debugger"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
code
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

`ANSIBLE_STRATEGY=debug` is a very useful Ansible feature that starts the interactive debugger when a task fails.

This works well unless you encounter tasks that are expected to return failures and where the playbook writer added ``ignore_

[2018-05-08 18:03] sivel commented on #39863
This is already resolved in v2.5.  The debugger functionality was completely rewritten for the 2.5 release.

[code]

For more information on the debugger in 2.5, see http://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2018-05-08 18:04] sivel commented on #39863
Oops, I just re-read, you are advocating that `ignore_errors: True` should *NOT* invoke the debugger.

[2018-05-08 18:07] shezaan opened #39866 "ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/Users/stopiwal/code/ansible-playbook-mdm-infrastructure-provisioning/ansible.cfg) = True
ANY_ERRORS_FATAL(/Users/stopiwal/code/ansible-playbook-mdm-infrastructure-provisioning/ansible.cfg) = True
DEFAULT_HOST_LIST(/Users/stopiwal/code/ansible-playbook-mdm-infrastru

[2018-05-08 18:09] #39138 closed, assigned to nobody

[2018-05-08 18:28] saichint opened #39870 "purge option in nxos_logging has no functionality"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_logging
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N7K running 7.0(3)D1(1)

##### SUMMARY

There is an option ```purge``` in nxos_logging module. But there is no associated code to support this. So it is not doing anything.

[2018-05-08 18:35] mattycarlson commented on #39858
+label tower_blocker

[2018-05-08 19:09] acozine commented on #38756
@grantcurell it looks the hosts you're targeting are CentOS/RHEL servers. The `net_ping` module tests reachability **from network devices** to a remote destination - see http://docs.ansible.com/ansible/latest/modules/net_ping_module.html. For CentOS/RHEL, use the `ping` module instead - see http://docs.ansible.com/ansible/latest/modules/ping_module.html.

[2018-05-08 19:09] #38756 closed, assigned to nobody

[2018-05-08 19:27] sivel commented on #19084
More basic reproducer:
[code]

[2018-05-08 19:28] sivel commented on #19084
!component =lib/ansible/playbook/base.py

[2018-05-08 19:39] sivel commented on #33768
This is by design, and no functionality has been added to support exposing these vars outside of the role at this time.

I've updated this to a feature idea.

[2018-05-08 19:40] sivel commented on #21890
This is by design, and no functionality has been added to support exposing these vars outside of the role at this time.

I've updated this to a feature idea.

[2018-05-08 19:41] sivel commented on #33768
Duplicate of https://github.com/ansible/ansible/issues/21890

[2018-05-08 19:41] #33768 closed, assigned to nobody

[2018-05-08 19:54] felixfontein commented on #39737
That's definitely interesting! I wonder how well our client will work with them... Something to find out somewhen in the future :)

[2018-05-08 20:10] chrisweaver commented on #21890
I'm confused. Several people in this thread have contributed possible fixes. That suggests this is a bug, not a new feature.

Also, since import_role does not work the same as classic import, many people (including me) can't use it. I don't see a deprecation announcement but I assume it's coming. And the documentation for "Including and Importing" freely mixes the two in its examples. It does not

[2018-05-08 20:14] sivel commented on #21890
As indicated, it is by design that `include_role` and `import_role` work like this. There was never functionality to implement exposing these vars.  An attempt was made, and docs were left behind, but no functionality ever existed.  Ansible 2.6 will contain a warning for those attempting to use the `private` argument, as it was never actually implemented, and was a documentation bug.

Changing the

[2018-05-08 21:51] logbue-dataxu commented on #22617
This still seems to be an issue.
Please can someone let us know the status of Ansible support for
a) AWS RDS Aurora (MySQL; dbengine aurora) and
b) AWS RDS Aurora PostgreSQL (dbengine aurora-postgresql)
Thanks

[2018-05-08 22:20] jorbrown90 opened #39876 "Ansible hostvars['target_machine']['hostname'] variable creating two directories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy module, dest field

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no change
##### OS / ENVIRONMENT

redhat linux 7.x

##### SUMMARY

when using the hostvars['target_machine']['hostname'] variable in the destination field of the copy module, the destination is creating two directories. One with the hostname and the other with the fqdn

[2018-05-08 22:39] Xyrodileas commented on #34275
You can set CURL_CA_BUNDLE to ""  just before launching ansible or vagrant, in order to bypass the certificate check.
I used the following to allow ansible to connect to my windows machine when invoked by vagrant:
`CURL_CA_BUNDLE="" vagrant up`

[2018-05-08 23:04] jborean93 commented on #34275
You can also set `ansible_winrm_server_cert_validation: ignore` to ignore cert validation which is how to do it in Ansible. This issue was how to get Ansible to validate the cert instead of just ignoring it which you can now in never pywinrm versions.

[2018-05-08 23:43] jpowers-j2 commented on #25521
The VPC Endpoint route is a prefix list of targets (ex. all the ips that s3 listens on) that's automatically added to the route tables as you create the Endpoint and assign route tables to it. AWS' docs say you can't manually remove or alter that route in the route table, you can't add a prefix list as a destination in the route table, it will only change if you edit the Endpoint. Unfortunately th

[2018-05-09 01:07] willthames commented on #25521
@jpowers-j2 that's pretty much what happens now with latest versions, as far as I know.

Fixed in #37010 for devel and #39210 for 2.5 - however, looks like the latter missed the cut for 2.5.2 by a couple of days, so this will be in 2.5.3 and 2.6.0

You can use the ec2_vpc_route_table from either of those pull requests with a stable version of Ansible: http://willthames.github.io/2017/12/12/using-u

[2018-05-09 01:07] #25521 closed, assigned to nobody

[2018-05-09 01:15] jopaik commented on #39860
@eakman thanks for updating the not_contains conditional

[2018-05-09 01:18] bryfry opened #39879 "openstack.py dynamic inventory fails with latest openstacksdk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/openstack.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No config changes

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Openstack dynamic inventory fails to run a basic `--list` or `--debug` command because of import errors.

##### STEPS TO REPRODUCE
[code]

[code]

or

[code]

##### EXPECTED RESULTS
Module failur

[2018-05-09 01:31] Fred-sun commented on #36163
@yuwzho I upgrade my ansible version to 2.5.2, ran this YML get successfully result( As below), it has been fixed, prepare add to_be_close label and assigned to you .   Thanks!
[code]

[2018-05-09 01:56] yuwzho commented on #36163
resolved_by_pr #36824

[2018-05-09 02:08] #36163 closed, assigned to nobody

[2018-05-09 02:26] willthames opened #39880 "include_role no longer runs with tags set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`include_role` does not include a role when the `include_role` task definition contains `tags` *and* a tag is passed at the command line

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
These are the results fro

[2018-05-09 02:26] duck-rh opened #39881 "Silent file/follow default change"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
The control node is on Debian unstable and the hosts are on Debian stable.

##### SUMMARY
The default for the `follow` option silently changed in 2.5.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
This worked fine until 2.5, assigning file attribut

[2018-05-09 02:31] willthames commented on #39880
Explained by http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

Closing

[2018-05-09 02:31] #39880 closed, assigned to nobody

[2018-05-09 02:37] willthames commented on #39880
Thanks to @bcoca for also providing an alternative solution to this particular use case:

https://gist.github.com/bcoca/483d57b44b7fbc22e27adf79b86b1b37

[2018-05-09 03:04] yuwzho commented on #32143
duplicate_of #25492

[2018-05-09 03:12] yuwzho commented on #36677
notabug

[2018-05-09 03:33] liaozd commented on #33093
+1
And I have the same issue.

[2018-05-09 03:44] worx101 opened #39883 "parse error in module panos_match_rule.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

panos_match_rule.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/var/lib/awx/projects/sccm_dp_tob_sr_v2/ansible.cfg) = [u'/var/lib/awx/projects/sccm_dp_to
HOST_KEY_CHECKING(/var/lib/awx/projects/sccm_dp_tob_sr_v2/ansible.cfg) = False
##### OS / ENVIRONMENT

PAN-OS 7.1.14
##### SUMMARY

Playbook fails when running play

[2018-05-09 03:54] cloudnull commented on #29308
@xcambar I know this is a closed issue but I just ran into this issue or at least something similar using Ansible 2.5

[code]

Task item looks like so

[code]

[2018-05-09 04:02] liaozd commented on #29020
I have the same issue, please approve the MR.

[2018-05-09 04:21] jborean93 opened #39886 "win_template: src is file dest is directory with and without ending slash"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows

##### SUMMARY
When using win_template to template a file to a destination that is a directory, it will either fail or create a file names `source` in the dest directory.

##### STEPS TO REPRODUCE
See https://github.com/jborean93/github-misc/tree/

[2018-05-09 04:26] dz0ny commented on #33093
https://github.com/niteoweb/ansible-single-context/commit/dd7a8367a7a02f4612fc5b0a3cc4cae350cd0d86

[2018-05-09 04:31] Akasurde commented on #39743
@itaispiegel Thanks for reporting this issue. This check was added as module used to report ambiguous error message. Could you please elaborate more on use case of creating a VM without disk?
needs_info

[2018-05-09 05:15] ganeshrn commented on #39167
@cnorthwood Based on the logs it is failing to accept the socket connection at this line https://github.com/ansible/ansible/blob/devel/bin/ansible-connection#L113

I will set up a bastion host and try to reproduce this issue in my local environment.

[2018-05-09 05:32] Akasurde commented on #39305
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-05-09 05:32] #39305 closed, assigned to Akasurde

[2018-05-09 05:34] joaocc commented on #36677
@yuwzho Calling `azure_rm_managed_disk_facts`, getting the output, and then use it to call `azure_rm_managed_disk` defeats the purpose, which is to simply call `azure_rm_managed_disk` to make sure the disk is created if it doesn't exist.
The way I now understand the module, a good alternative would be to allow some flag / field to allow for this "create if not exist" semantic to remain as simple a

[2018-05-09 06:43] pravindmali opened #39888 "Python API Example update"
Document: http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html says that its out-ot-date and   `ansible.parsing.dataloader` and `ansible.runner` are not available in the current version of Ansible.
But  `Python API Example` shows that its still using  `ansible.parsing.dataloade` in it.
Here, we need updated example in the documentation.

##### ISSUE TYPE
 - Documentation Report

##

[2018-05-09 06:59] 1vish99 opened #39890 "Ansible mail callback plugin is not sending mail when playbook executing fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mail callback plugin

##### ANSIBLE VERSION
2.4.2

##### CONFIGURATION
ansible.cfg file has below values.

callback_whitelist = timer , mail
force_handlers = True

[mail]
to = xxxxxxxxxxx@xxx.com

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
Ansible mail callback plugin is not sending mail when playbook executing fails

##### STEPS TO REPRODUCE

[2018-05-09 06:59] jhawkesworth commented on #39886
Good catch.
I prefer playbooks to be specific so to me its a syntax error not to specify a destination file.  It is probably easier, and more intuitive for users, to infer the file name from the src than enforce that destination is a file though.

[2018-05-09 07:02] #35369 closed, assigned to justjais

[2018-05-09 07:03] jborean93 commented on #39886
@jhawkesworth I'm the same which is why I never came across it before, I was creating a Windows vs linux comparison which used this format and is how I found out that it is broken.

[2018-05-09 07:13] daMupfel commented on #21890
I don't understand.
According to the documentation: http://docs.ansible.com/ansible/latest/modules/include_role_module.html

private:
If True the variables from defaults/ and vars/ in a role will not be made available to the rest of the play.

(Which means for me that when False they will be available)

So this documentation is just wrong?

[2018-05-09 07:30] zhangtiny123 commented on #37131
My case is
Almost all servers could successfully gather facts, but one server is always hanging.

I tried to manually run the `setup.py` script on the server, and by adding some print code I found that the issue seem happened in `invoke_module(module, modlib_path, json_params)` method.

In the `invoke_module` method, this line
[code]
could successfully create a new process,  but the next line
```(

[2018-05-09 07:35] gdpak commented on #39351
@eclecticitguy I could reproduce your problem. There are two ways to reproduce this problem
1) as-path-config on device and as-path-config on ansible have a difference and difference is in only in last but any other line. So difference would have comma at the end of like
e.g

a) On device

[code]

b) On ansible src file

[code]

c) Difference which ansible would try to play

[code]

Here, as diffe

[2018-05-09 07:38] asanami opened #39891 "Support hostvars in openstack.py dynamic inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using the openstack.py inventory file, is it possible to support hostvars in the metadata of an openstack instance.  Currently the openstack.py expands 'group' and 'ansible_user' stored in the instance metadata - is it possible to also store ansible hos

[2018-05-09 07:52] zikalino commented on #36677
notabug

[2018-05-09 07:52] #36677 closed, assigned to nobody

[2018-05-09 08:05] #39704 closed, assigned to nobody

[2018-05-09 08:09] a9tm commented on #39848
Why is it not a bug? See #6910

[2018-05-09 08:10] boyvinall commented on #21890
If the issue here is compatibility with the playbooks already out there then couldn't you simply reverse the default?  i.e. allow the `private` argument to exist but default it to `false`.

It seems bad form to class this as a feature request when the issue has existed for more than a year and the documentation indicated the functionality was there.

[2018-05-09 08:26] gadamiak commented on #21890
The concern of breaking compatibility is actually wrong. If both `include_role` and `import_role` don't expose nested variables by design, then that breaks compatibility with the legacy:

[code]

I can see a point of keeping consistency with what was implemented already regardless it was correct or not. A simple and straightforward solution would be to use the `private` flag defaulting to `false`

[2018-05-09 08:35] yuwzho commented on #38198
working on it

[2018-05-09 09:02] #36729 closed, assigned to nobody

[2018-05-09 09:04] vacri opened #39895 "aws_ssm - enable requesting ssm vars from destination"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

aws_ssm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

debian sid

##### SUMMARY

The aws_ssm module fetches parameters from AWS SSM using the user's own profile. There should be an option to let the target machine call for the SSM variables, which brings a couple of benefits

* the user may have multiple AWS pro

[2018-05-09 09:22] vogon1 opened #39896 "azure_rm_loadbalancer does not set tags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When creating a loadbalancer with tags, the tags do not show up in azure.

##### STEPS TO REPRODUCE
Create a load balancer with tags:
[code]

##### EXPECTED RESULTS
The tag has been added to the load balancer

##### ACTUAL R

[2018-05-09 09:30] hsmj1412 opened #39897 "The libselinux is renamed, ansible could not found the new package"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
selinux
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Fedora 28
##### SUMMARY
The libselinux is renamed, ansible could not found the new package.
* Thu Aug 10 2017 Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl> - 2.7-2
- Python 2 binary package renamed to python2-libselinux
  See https://fedoraproject.org/wiki/F

[2018-05-09 10:17] victorfun1989 commented on #33399
@qq390722 I have the same issue with you. Could you please explain how the modify the source to solve the problem? Thank you!

[2018-05-09 10:25] mkrizek commented on #39476
Closing as per above.

[2018-05-09 10:25] #39476 closed, assigned to nobody

[2018-05-09 10:29] mejo- commented on #39830
The latest version looks great and works as expected, thanks @Akasurde!

[2018-05-09 10:54] ssbarnea commented on #39863
@sivel Thanks for addressing this so fast. I already reviewed you change. Now my only concern is that this will go into Ansible 2.7 and now I am using 2.4, which means that before I will be able to benefit from it I should wait at least 9 months. Any chance to backport it once it goes in, at least to 2.6 if not 2.5?

PS. We will migrate out codebase but this takes a lot of time and almost always w

[2018-05-09 11:17] wknapik commented on #38415
Just ran into this myself ;/ A smaller example to reproduce the problem:
[code]

[2018-05-09 11:31] monchitos82 commented on #38415
Yep, the proposal seems to fix this too, not sure if the syntax is something we would like to see, I need some feedback here, I can wait on my PR:

Without "proposed fix"
[code]

Using "proposed fix"
[code]

[2018-05-09 11:47] wknapik commented on #38415
I don't think that's valid yaml:
[code]

But you can always call:
[code]

[2018-05-09 11:49] monchitos82 commented on #38415
Right, the condition pretty much will look for an indicator, not for parsing your whole statement. Adding the `\n` is not something I'd love to have (more slicing, more splitting) but this one works:
[code]

[2018-05-09 11:56] trishnaguha commented on #37526
cherry-picked to 2.4 and 2.5

[2018-05-09 12:30] scuben commented on #30413
This issue is pretty big for my current use case. I boot several servers at once and write their fingerprints to my local known_hosts file but most of the time only a small number of servers will be added to the known_hosts file.

[2018-05-09 12:43] eakman commented on #39842
Just a thought. From the stderr output, it seems like ansible is logging in "User EXEC" mode. I say this because your prompt ends with the `>` symbol (`nc205wz01>`). Typically, you need to be in "Privileged EXEC" (the `#` prompt) to run `show running-config`, which seems to be part of the `ios_config` module's default behavior. Have you tried setting the `authorize` parameter to yes?

Something li

[2018-05-09 13:06] TMiguelT commented on #31879
I can replicate this as well:

[code]
`env` outputs the following variables
[code]

[2018-05-09 13:09] Akasurde commented on #39639
@talhajilal Thanks for reporting this issue. You can use [`vmware_guest_attribute`](https://github.com/ansible/ansible/pull/38114) module which can achieve this functionality.

[2018-05-09 13:11] joaocc opened #39903 "azure_rm_managed_disk: allow create-if-not-exists pattern"
##### ISSUE TYPE
Add a way for ´azure_rm_managed_disk´ to be called with the following semantic:
* if disk doesn't exist, create it
* if the disk exists and is attached (ie, `managed_by`is defined) then leave it

See https://github.com/ansible/ansible/issues/36677

##### COMPONENT NAME
azure_rm_managed_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

###

[2018-05-09 13:39] trishnaguha commented on #39471
resolved_by_pr https://github.com/ansible/ansible/pull/39484

[2018-05-09 13:41] gundalow commented on #39832
What is your login banner?

[2018-05-09 13:42] gundalow commented on #39832
Did this work in Ansible 2.4?

[2018-05-09 13:43] gundalow commented on #39832
Can you also test this running from a Linux box? We don't support running anisble-playbook from cygwin

If you want to use Ansible 2.5 I'd suggest you do that from a Linux machine and follow http://docs.ansible.com/ansible/latest/network

[2018-05-09 13:44] treblesome opened #39905 "stat.py reports file does not exist but it does"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

stat.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[root]snaxl96/> ansible-config dump --only-changed
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']

##### OS / ENVIRONMENT

AIX 7100-04-04-1717

##### SUMMARY

When copying a file to a remote server using the copy module, one remote server fails and return an err

[2018-05-09 13:45] murican commented on #39116
Same here on Ansible 2.4.3 and Ansible 2.5.2
Disable works.  Enable not.

[2018-05-09 13:47] eclecticitguy commented on #39351
I've tried the ansible version from your private repository and I'm still getting an error.  Just to ensure I've done everything correctly, here are the steps I took.

Create a folder on my desktop for your private repo:

[code]

Clone your private repo into that folder:

[code]

Setup the environment:

[code]

Check the ansible version:

[code]

In the same bash terminal, CD to my ansible directo

[2018-05-09 13:56] andytom opened #39906 "Add support for ssl connections to remaining postgresql modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
~~postgresql_schema~~ (complete  #44482)
~~postgresql_ext~~ (complete #48538)
~~postgresql_lang~~ (complete  #49221)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There are 6 modules for managing PostgreSQL, of these 6 modules 3 of them support SSL connections (`postgresql_db`, `postgresql_pr

[2018-05-09 14:01] cailen commented on #39576
I have the same issue where ansible_connection: local is not being respected and still goes through network_cli.

[code]

[code]

[2018-05-09 14:05] monchitos82 commented on #38415
Changed my mind about two things: (1) only a PR will draw the needed attention and (2) a YAML parser is the safest path here.

[2018-05-09 14:11] gdpak commented on #39351
@eclecticitguy your process seems correct. I am not sure why 'end-set' was tried when prompt was on config)# it should have been at config-pfx)# or at config-as)#

I am not able to reproduce your problem. I tried copying all iosxr-config into template file and tried multiple time to play configs. I have multiple as-path-sets and prefix-sets with empty/multi line/single line prefix sets and as-path

[2018-05-09 14:16] sivel commented on #21890
The documentation is completely wrong.  The addition of docs for `private` was an oversight.  Someone had the idea for such a feature, but that feature was never implemented.  It is unfortunate that the docs for `private` have stuck around for this long.  A recent change in devel for the 2.6 release aims to resolve the documentation error:

http://docs.ansible.com/ansible/devel/modules/include_rol

[2018-05-09 14:29] eclecticitguy commented on #39351
@gdpak Is there an email address I can send this to you?  I would rather not paste the configuration into Github.

Thanks.

[2018-05-09 14:37] bcoca commented on #39897
Ansible does not search by package name, it attempts to import the library and informs you with what it thinks the package name should be. So unless the library itself has changed, the error is correct, though it might be misleading about the package name.

[2018-05-09 14:42] koladiya commented on #37991
any update?

[2018-05-09 14:49] yuwzho commented on #39896
+label easyfix

Add a label to welcome contributor to fix this, before I have bandwidth.

[2018-05-09 14:56] gdpak commented on #39351
Sure. dagrawal@redhat.com

[2018-05-09 15:06] aatueg1 commented on #38141
Is there any update on this? I am experiencing the same thing when running azure_rm_virtualmachine.

packaging (17.1)
[code]

[code]

[2018-05-09 15:35] dagwieers commented on #28051
IMHO you should have created a PR with your fix and discuss the PR. It helps to evaluate your proposal if you have the context of the module right in front of you.

[2018-05-09 15:39] dagwieers commented on #28051
Looking at the module I think you're right. Usually you want a route (with a gateway) to be added to the interface that can reach that gateway. (IIRC in Linux at least the route would fail if added to an interface that can't reach the gateway).

But what if you add a route without a gateway ?

So I think we also need a means to add a route to a specific interface, and then we have to decided on wh

[2018-05-09 16:09] bogski87 commented on #39612
Hi @vedit sorry for the delayed response on this, i'm working a few different things and haven't had the opportunity to look at this.

I made the changes as suggested but unfortunately this didn't work.

latest output:

`The full traceback is:
  File "/tmp/ansible_AeZyCB/ansible_module_mssql_db.py", line 188, in main
    conn = pymssql.connect(user=login_user, password=login_password, host=login_q

[2018-05-09 16:14] acozine opened #39917 "Clarify that network modules only work on network hardware"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.5 and higher

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
To build on the changes made in https://github.com/ansible/ansible/pull/34935, add an FAQ entry and edits to the Network pages reiterating that the `net_*` modules do not manage linux servers. Example issue raised

[2018-05-09 16:45] dirtyonekanobi opened #39920 "Junos Config module causes `type` error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/media/storage/projects/ansible_junos_fix/ansible.cfg) = False

##### OS / ENVIRONMENT

Host OS: Fedora 27 & Ubuntu 16.04. Tested against Juniper QFX & VMX
##### SUMMARY

Using the `junos_config` module with the `confirm` option causes a 'type' error.  Error occu

[2018-05-09 16:53] bcharboneauiherb commented on #39832
I have not tried Ansible 2.4 for this. this is the first time we are trying
to use Ansible to configure Network Equipment and we are already running
Ansible 2.5.2 for Server Deployments.

Banner is Factory Set as this is a Factory Reset Cisco Catalyst 3750 G

I will try Ansible from a Linux VM and get back to you. If I encounter the
error still, what are our options?

On Wed, May 9, 2018 at 6:44 A

[2018-05-09 17:57] #31074 closed, assigned to nobody

[2018-05-09 18:26] kustodian commented on #33461
@ThomasSteinbach if you really think that this is important, create a new issue for this and we can discuss what is the best approach.

[2018-05-09 19:13] #35255 closed, assigned to nobody

[2018-05-09 19:17] ssbarnea commented on #35255
While the proposed patch would address most of the issue there is still one case which is not covered: groups that do not exist. Currently there is no way to convince ansible to run some tasks against a group if this group exists.

Here is the workaround which is a bit inconvenient because `add_host` **is not able to add an empty group**, we are forced to add an empty one directly inside the inven

[2018-05-09 19:29] itaispiegel commented on #39743
Yes, for example a VM that boots from a live CD.

[2018-05-09 19:31] jrko commented on #38656
@ryansb I can confirm #39023 fixes the issue in Ansible `2.5.2` :+1:

[2018-05-09 19:41] strarsis commented on #39770
Any workarounds for this? Currently I have to manually log into the target machine, issue the mount command myself and then proceed with the playbook.

[2018-05-09 20:08] treblesome commented on #39905
Update: resolved

Apparently, the problem was not on the stat module but the copy module. So I copied copy.py from a 2.5 and ran the ad-hoc command again and this time, it worked.

[root]snaxl96/> ansible snaxl94 -m copy -a "src=/tmp/snaxl96.f1 dest=/tmp/"
snaxl94 | SUCCESS => {
    "changed": false,
    "checksum": "5d3b1b2104a778ce68a788672b8cdcd8013d7540",
    "gid": 0,
    "group": "system",

[2018-05-09 20:08] #39905 closed, assigned to nobody

[2018-05-09 20:30] lambda commented on #38087
This is still broken in Firefox Developer Edition with the default settings; you have to manually enable the URL prefix hack to get rendering to work.

This issue occurs because Ansible uses the following hack to apply different styles on Firefox and other browsers:

[code]

The styling of these tables is somewhat strange. Instead of setting border properties on the table cells themselves, they ar

[2018-05-09 20:40] vogon1 commented on #39896
@yuwzho Are you requesting me to send a pull request for this fix?

[2018-05-09 21:06] #39697 closed, assigned to s-hertel

[2018-05-09 21:11] egaillardon commented on #39879
+1

[2018-05-09 21:50] amcpherson commented on #37131
This is likely caused by using a very out of date os on the host (centos5)

[2018-05-09 22:02] f3lang commented on #38087
Hi @lambda,
i build the version with the div indents so the jinja template can handle an arbitrary level of nested documentation.
I also would prefer the solution with the colspan without css hacks, it looks way better :+1:
To archieve this, you need to get the maximum nest level first in the template and based on this you can calculate the colspan of the current element.

[2018-05-09 23:14] phumpal commented on #39435
@scheung38 I had a similar issue.

While this may not be the solution you are looking for I upgraded python (`brew upgrade python@2`) and removed old virtualenv(s).

Also, if it's been a while I would cleanup brew. YMMV

[code]

[2018-05-09 23:57] tchia04 commented on #25122
This bug still exist using ansible 2.5

[2018-05-10 00:04] bcharboneauiherb commented on #39832
From an Ubuntu 18.04 LTS VM running ansible 2.5.2 I ran the same playbook. Got the same error. Below are the full verbose playbook results and the Banner we have on the device.
[code]

[code]

[2018-05-10 01:19] GuilleChao commented on #39435
In my case, I installed aws-cli and terraform, and hose packages messed up my python symlinks.

[2018-05-10 01:26] jtyr commented on #39770
If user `admin` can use `sudo` them you should be able to use `become_user: root`.

[2018-05-10 01:44] Fred-sun commented on #39896
@yuwzho I meet the same error when used azure_rm_loadbalancer to create a loadbalancer with tags, the tag will not create, it need to be fixed. Thanks !

[2018-05-10 01:54] jborean93 commented on #39742
Hey @uberlinuxguy, inventory scripts are in a unique position right now, they don't have any maintainers specified which means they need core approval before merging. A few things to note

* You will need to get others to try and review your changes as this is not covered under CI. You can try and find similar users or post in IRC/mailing list for people to review
* Inventory scripts are on the wa

[2018-05-10 01:54] #39742 closed, assigned to nobody

[2018-05-10 02:02] #39777 closed, assigned to nobody

[2018-05-10 02:14] jborean93 commented on #39866
This issue has been resolved in https://github.com/ansible/ansible/pull/39430 and will be included in the 2.5.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-10 02:14] #39866 closed, assigned to nobody

[2018-05-10 02:18] #39881 closed, assigned to nobody

[2018-05-10 02:43] duck-rh commented on #39881
@jborean93 I guess you mean #39553 instead.

Anyway I'm in 2.5.2 and the behavior is breaking previous playbooks with possibly bad consequences. Moreover, this proposal was never advertised. None of this was solved so please reopen.

[2018-05-10 02:50] jborean93 commented on #39881
They are both duplicates of each other which is regarding the `follow` default change. I just got the first one I could find in the closed list to get the most history around the change. It has been discussed in both of those issues. If you wish to discuss this further I recommend you add it to the Ansible agenda for the next meeting or talk on IRC on the #ansible-devel channel.

[2018-05-10 02:53] yuwzho commented on #39896
@vogon1 If you are interested in it hhhh 😄

[2018-05-10 03:11] jborean93 commented on #39876
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-10 03:11] #39876 closed, assigned to nobody

[2018-05-10 03:33] fearlsgroove opened #39941 "docker_secret currently broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_secret
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Users/matt/Library/Application Support/platform-desktop/provision/provision/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/matt/Library/Application Support/platform-desktop/provision/provision/ansible.cfg) = -F vagrant-ssh-config -C -o ControlMaster
DEFAULT_TRANS

[2018-05-10 03:45] Otsuka-ansible commented on #15690
Is the Issues Fixed , Still i could see issues on AWS instance 7.4

[2018-05-10 05:37] qq390722 commented on #33399
HI 你好

            这个问题的处理思路如下：

从"-vvv"模式可以看出来执行和获取执行输出是没有问题的，问题就出在 ansible 的转码问题。怀疑和 callback 有关，于是定位到文件
ansible/module_utils/_text.py

该脚本第 235 行
return obj.decode(encoding, errors)

"encoding" 是在脚本中预定义的，即 "utf-8"， 为 如果你的返回是 "gbk"编码的，在encoding的过程中就会出现乱码的情况。

我在这里加了一个 try 的语法，如下：

try:
    obj.decode(encoding)
except:
    encoding = "gbk"
return obj.decode(encoding, errors)

这个方法可能不太智能，但确实管用，我这边

[2018-05-10 06:54] Fred-sun commented on #39903
Hi @joaocc It can create disk and mount to VM ( has idempotent feature),  if the VM  has mount a disk ,it cannot mount a new disk to the VM again. Because every VM allow mount maximum number is 1,  does your meet fail similar as  this.  You can ran following yml and get the result, If not, Could you share you error message and test YML , Thanks!
[code]

[2018-05-10 08:07] joaocc commented on #39903
Hi,
I will not have time to create a repro in the next weeks.
In our current use case, we create a set of disks in a resource group. This means we can run the scripts multiple times and, if nothing changed, the scripts run and exit.
So far, so good... Idempotency is great.

The next step is to use these disks to be mounted in pods/containers running on AKS/Kubernetes. This means we do not control

[2018-05-10 08:24] victorfun1989 opened #39949 "Cannot print the gbk output correcttly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
script, debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
The OS I'm running Ansible is Linux version 3.10.0-327.el7.x86_64 (mockbuild@x86-034.build.eng.bos.redhat.

[2018-05-10 08:36] #38811 closed, assigned to rcarrillocruz

[2018-05-10 08:54] tiukhtinvladimir commented on #33461
@TomasTomecek @kustodian Thanks Thomas. I was thinking exactly like you have described

[2018-05-10 09:46] vogon1 commented on #39896
@yuwzho I created a pull request, you will see the name SietseVisser - that is me as well, it is my job account.

[2018-05-10 09:58] #39870 closed, assigned to trishnaguha

[2018-05-10 10:08] pkubica opened #39953 "Synchronize hosts before modifying networks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_host_networks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

module fails when networks on host weren't synchronized. Module should deal with it
    "msg": "Fault reason is \"Operation Failed\". Fault detail is \"[Cannot setup Networks. The following Networks' definitions on the Network Interfa

[2018-05-10 10:37] mkrizek commented on #38161
Closing as per above.

[2018-05-10 10:37] #38161 closed, assigned to nobody

[2018-05-10 10:40] mkrizek commented on #38110
@bcoca @gundalow can we close this since #38122 has been merged?

[2018-05-10 12:06] sfeeser commented on #39879
Running "pip install -r requirements.txt --user" against this requirements.txt fixes the problem for now. Note the comment below on  os-client-config. Hope this helps...

requirements.txt:
--------------------------------------
python-openstackclient==3.12.0
python-ironicclient==1.17.0
python-keystoneclient==3.13.0
python-neutronclient==6.2.0
python-novaclient==9.1.0
simplejson==3.11.1
os-client-c

[2018-05-10 12:08] #38949 closed, assigned to Akasurde

[2018-05-10 12:13] abadger commented on #39881
"This worked fine until 2.5, assigning file attributes to the symlink itself."  This is only partially true.  In previous versions, the file ownership was assigned to the symlink but the mode was silently discarded.  Some combinations could even fail:

[code]

I agree that this is something that could be rediscussed in one of the Ansible Core Team irc meetings.  Are you able to make any of them?

[2018-05-10 12:13] Akasurde commented on #38320
resolved_by_pr #39957

[2018-05-10 12:24] #38110 closed, assigned to gundalow

[2018-05-10 12:27] KevP opened #39958 "Unable to stop or start Azure Virtual Machines, gives KeyError: 'storageAccountType'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/cloud/azure/azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Failure when trying to stop or start existing virtual machines in Azure .

##### STEPS TO REPRODUCE
Simple playbook to stop or start an existing Azure virtual machine fails:

[code]

Or:
[code]

#####

[2018-05-10 12:39] #38963 closed, assigned to nobody

[2018-05-10 13:12] yasinskyi commented on #35645
I had the same issue when using a variable as "src" value.

ANSIBLE VERSION
[code]

ANSIBLE CODE:
[code]

ERROR MESSAGE:
[code]

WORKING SOLUTION:
[code]

[2018-05-10 13:31] huxiaoliang commented on #23675
above workaround solution is ok to me, thanks! @karniemi

[2018-05-10 13:41] sudoforge commented on #35255
Good catch, albiet a little late. In fact, it looks like this was merged before the author submitted another commit that the reviewer and author agreed upon.

Are there plans to address this, @agaffney?

[2018-05-10 13:48] cavamagie opened #39959 "vmware_guest wrong dvs switch choose"
##### OS / ENVIRONMENT
debian 9
vmware 6.5

##### SUMMARY
i use vmware_guest to deploy a machine from template in a vmware infrastructure with a lot of cluster and different dvs. any cluster have a dedicated dvs
when i run the playbook the operation failed because the module try to configure a wrong dvs

![image](https://user-images.githubusercontent.com/9657325/39872633-e289a2ae-5468-11e8-9801-32

[2018-05-10 14:07] matthew-hickok commented on #20557
Any updates on this?

[2018-05-10 14:17] AjG1tHub opened #39962 "Find Module Not Registering Variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Find module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX, No configuration changes
##### SUMMARY

Register not taking any variable from the find module
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Variable java_full should print
##### ACTUAL RESULTS

It doesn't recognize the variable

[code]

[2018-05-10 14:29] #37457 closed, assigned to nobody

[2018-05-10 14:45] bcoca commented on #39962
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-05-10 14:45] #39962 closed, assigned to nobody

[2018-05-10 16:42] mattycarlson commented on #39858
Duplicate issue.

[2018-05-10 16:42] #39858 closed, assigned to nobody

[2018-05-10 16:46] cig0 commented on #26879
Hi, having the same issue with 2.5.2

[2018-05-10 17:09] SietseVisser opened #39974 "azure_rm_loadbalancer_facts fails on getting full list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 120
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Playbook crashes when trying to get facts from all loadbalancers.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[2018-05-10 17:17] mattclay commented on #37805
Re-opening this as I'm seeing unstable test results again:

https://app.shippable.com/github/ansible/ansible/runs/64664/62/tests
https://app.shippable.com/github/ansible/ansible/runs/64664/63/tests

[2018-05-10 17:18] aecolley commented on #34054
I have tried to workaround this using a virtualenv python install just for uses of this module. So far, I have not found a way of overriding `ansible_python_interpreter` just for one task, without having it leak into other Ansible tasks that belong to the same play. If there is a working workaround (of this type, or something else), I would appreciate seeing it on this bug thread.

[2018-05-10 17:25] strarsis commented on #39770
@jtyr: I can manually log in as user `admin` and can also use `sudo` to run `mount` as root and it works.
So this is probably an ansible bug because manually using `sudo` as user `admin` works.

[2018-05-10 17:55] gkhays commented on #29757
@Akasurde Will version `2.2.0.0` have the updated `vmware-guest` module? Or do I need newer than that?

[2018-05-10 17:59] mattclay commented on #37805
bot_skip

[2018-05-10 18:04] dagwieers commented on #34174
I'd like to get this included in v2.7 so aci_rest can use YAML/XML/JSON input regardless of the URL used (.xml or .json). We need to test if the xmljson version supports this too.

[2018-05-10 18:04] mattclay commented on #37805
The test has been marked unstable in devel and stable-2.5.

[2018-05-10 18:14] christopherkeller opened #39976 "azure virtualmachine creation with multiple nics"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

The VM should be successfully created with dual NICs. This works as expected from the Azure CLI.

##### ACTUAL RESULTS

[code]

[2018-05-10 18:19] christopherkeller opened #39977 "handle concatenated image ID in azure virtualmachine creation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Would like the azure_rm_virtualmachine module to handle concatenated strings for the image type, eg `OpenLogic:CentOS:7.4:latest`. This reflects what is handled by the azure CLI using the `--image` option.

##### STEPS TO REPRODU

[2018-05-10 18:42] MarkusTeufelberger commented on #34054
You might get away with fetching the certificate to your local machine and checking it there (you can't really trust a remote check anyways) depending on how you use the module.

[2018-05-10 18:54] machacekondra opened #39978 "yum: Don't list obsoleted packages"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When running `yum` module with `state=latest` and `name=*` the yum module don't report obsoleted packages.

##### STEPS TO REPRODUCE

Have a host which has packages which obsoletes some package:

[code]

[code]

##### EXPECTED RESULTS

Packages shoul

[2018-05-10 19:16] mwperina commented on #39978
Ondro could you post the fix you have introduced for oVirt also here?
@machacekondra

[2018-05-10 19:54] dagopher commented on #39456
I've found a problem with the patch. If you use the patch and run the test playbook provided, everything works as expected.  But if you use the patch and run with the test playbook with '--check' you get a false positive in the output. It indicates that Ansible wants to actually make a change when no change will be made.

(I am running with 2.5.2 with a patched copy of file.py from https://github.

[2018-05-10 19:58] dsedivec commented on #32927
I am 99% sure that this issue and #32926 have the same underlying cause, and I think both will be fixed by PR #33411.

Perhaps it should be noted that I believe this bug could be rather serious.  Given the OP's example, if you have both networks "foo" and "foobar", a play such as

[code]

will sometimes delete "foo", and other times delete "foobar".  You could test this in a staging environment te

[2018-05-10 20:06] mbuiro commented on #25414
Literally just encountered this problem while working on deploying lxd containers, this is really causing some issues for me!

[2018-05-10 20:09] jtyr commented on #39770
Please try this playbook:

[code]

Run is like this:

[code]

If that doesn't work, then please share your inventory file (`hosts`) and the output of the above command.

[2018-05-10 20:16] strarsis commented on #39770
@jtyr: Thanks for the follow up!
I am using this adjusted command: `ansible-playbook -u admin -i hosts/staging -vvvv test.yaml`

Error:
[code]

[2018-05-10 20:23] #39770 closed, assigned to nobody

[2018-05-10 20:49] mattclay commented on #37481
Re-opening as I've spotted another test failure:

https://app.shippable.com/github/ansible/ansible/runs/64755/66/tests

[2018-05-10 20:53] geerlingguy commented on #39116
Lots of users are now reporting this issue... though only with Nginx—not sure if this is an issue with Ansible, Nginx, or Ubuntu though.

[2018-05-10 20:57] mattclay commented on #37383
Re-opening as I'm seeing more unstable test runs:

https://app.shippable.com/github/ansible/ansible/runs/64597/66/tests

[2018-05-10 20:58] z3t0 opened #39982 "vmware_guest folder requires '/vm/' in path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module: vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Creating a new guest os requires the path to contain "vm".
I am not sure why this is requirement, and instead we should be able to choose any path
##### STEPS TO REPRODUCE

N/A

Please see the code [here](https://gi

[2018-05-10 21:14] johnjelinek opened #39983 "postgresql_user fails to create user with `NOLOGIN` when no password is supplied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
docker alpine 3

##### SUMMARY
I want to do the equivalent of this:
[code]
By default, postgres does not permit these users to login. If I don't specify any `role_attr_flags`, the module defaults to allowing the created users to LOGIN, so I need to

[2018-05-10 21:24] #39628 closed, assigned to nobody

[2018-05-10 23:30] promovicz commented on #36690
I also have issues with how the openssl_* modules deal with subjectAltName.

For one I often create CAs using ansible, and those are not supposed to have a SAN in the first place. Ansible seems to default them to CN of the subject, which is plain wrong since that CN will often non-hostname strings.

It should at least be possible to specify an empty subjectAltName so that it becomes possible to ge

[2018-05-11 01:47] #35536 closed, assigned to nobody

[2018-05-11 02:51] yuwzho commented on #39977
+label easyfix

Add easyfix label to attract contributor before we have bandwidth working on this issue

[2018-05-11 03:49] Akasurde commented on #39982
@z3t0 Thanks for reporting this issue. `/vm` is invisible folder inside Web UI but visible inside API. AFAIK All VMs are located under this folder. Could you please provide your playbook, console log `-vvvv` and little details about folder structure inside datacenter ?

needs_info

[2018-05-11 04:57] yuwzho commented on #39976
Hi @christopherkeller Would you like to try this PR #38994 whether this fix your problem? You can use `pip install git+https://github.com/ansible/ansible.git@devel` to install the devel version

[2018-05-11 05:18] caphrim007 opened #39995 "Unit tests not working for a seemingly unrelated test"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

unit tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

An error is reported when running unit tests. This error, however, does not seem to be related to my code under test.

The error is

"""Failure talking to yum: file is encrypted or is not a database"""

It seems to be happening in this task

`

[2018-05-11 05:44] #33925 closed, assigned to nobody

[2018-05-11 05:45] #39851 closed, assigned to nobody

[2018-05-11 05:57] yuwzho commented on #39903
@joaocc . Why don't you attach the disk to VM when created? Ansible's core idea is managing the resource via state, I think add a param to control whether ignore one another param changes is very redundant. If we do so, should we add a flag for each option later?

My suggestion is write playbook like this:

[code]

[2018-05-11 06:17] nvtkaszpir commented on #39995
Your issue comes from the fact that yum tries to update its cache and it fails to get data from remote repos.
Also seems like there are issues with yum since yesterdays centos 7.5 release.

[2018-05-11 06:42] practicalint commented on #39995
unbelievable! I have been fighting some issues for a deadline in the morning and then out of nowhere I just hitting this error. I glad I searched and found this one hit only posted an hour ago and answered 20 mins ago. Hopefully this will be fixed by my morning which is only a few more hours away... thanks for the info.

[2018-05-11 06:43] nkrishnakishor opened #39996 "ansible --version not showing version details"
When i run ansible --version command below is the error

ERROR! Unexpected Exception, this is probably a bug: (cryptography 0.8.2 (/usr/lib64/python2.7/site-packages), Requirement.parse('cryptography>=1.1'))

the full traceback was:

Traceback (most recent call last):
  File "/usr/bin/ansible", line 85, in <module>
    mycli = getattr(__import__("ansible.cli.%s" % sub, fromlist=[myclass]), myclass

[2018-05-11 06:52] Fred-sun commented on #39958
hi @KevP  I have ran your YML ten times, It always can start or stop Azure virtual machine,  I cannot reproduced your report problem,  Could you can share your create VM method and detail reproduce method, Thanks !
Hi @zikalino I have created VM by use ansible and Microsoft Azure two method . These VM auto  can start and stop test ten times by ran following YML  , cannot reproduce this problem , I

[2018-05-11 06:55] nkrishnakishor commented on #39996
####### Issue Type
 - Bug Report

####### Ansible version

Unable to get ansible version details. Please see command as below.

[root@localhost ~]# ansible --version
ERROR! Unexpected Exception, this is probably a bug: (cryptography 0.8.2 (/usr/lib64/python2.7/site-packages), Requirement.parse('cryptography>=1.1'))
the full traceback was:

Traceback (most recent call last):
  File "/bin/ansible",

[2018-05-11 06:56] devops-raj commented on #25032
#26052  only partly fixes the issue.

Bug is still persistent if network interfact is created first.

eg:
  tasks:
  - name: Create a network interface using existing security group and disable public IP
    azure_rm_networkinterface:
      name: mynetworkinterface123
      resource_group: myNetWorkResourceGroup
      virtual_network_name: MyVNet
      subnet_name:  MySubnet
      security_group_n

[2018-05-11 06:58] nvtkaszpir commented on #39995
It should be fixed now. Some mirrors may have stale content, so please use different mirror for example:
[code]

[2018-05-11 07:06] ghost opened #39997 "letsencrypt: test issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
[code]

##### SUMMARY
This is a test to see whether the correct persons are pinged after the letsencrypt module was renamed.

[2018-05-11 07:11] felixfontein commented on #39997
@resmo I did a test, it looks like only @mgruener is pinged for new `letsencrypt`-related tickets (probably because he is mentioned in `_letsencrypt.py` as author). That's not exactly optimal :-)

[2018-05-11 07:12] felixfontein commented on #39997
bug_resolved

[2018-05-11 07:12] #39997 closed, assigned to nobody

[2018-05-11 07:17] lingfish commented on #28051
I didn't create a PR because, as I said above, I'm not a PowerShell guy.  Figured it would be wasted effort, going through a massive redo of any proposed fix.

I can still do it with my one-line quick fix if you like.

As far as a route without a gateway... sure, that is technically possible, but I would say super-rare to be needed.  The only reason for wanting to do that in my mind, would be to p

[2018-05-11 07:20] devops-raj opened #39998 "azure_rm_virtualmachine dosn't use virtual_network_resource_group value when validating resource groups on VM create"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 100
DEFAULT_POLL_INTERVAL(/etc/ansible/ansible.cfg) = 15
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug
HOST_KEY_CHE

[2018-05-11 07:26] devops-raj commented on #39998
1st 3 lines of my patch can be condensed into one line with if else.
I patched it was 3 lines for readability. Please change to match your coding standards.

Cheers.

[2018-05-11 07:30] mkrizek commented on #39997
@felixfontein @ffdybuster who should be pinged for `lib/ansible/modules/web_infrastructure/_letsencrypt.py`? I can update the bot metadata for that.

[2018-05-11 07:32] nkrishnakishor commented on #39996
I got fixed the issue by updating cryptography version to 1.1.

Please close the bug

[2018-05-11 07:47] felixfontein commented on #39997
@mkrizek the same people as for `lib/ansible/modules/web_infrastructure/acme_certificate.py` (`lib/ansible/modules/web_infrastructure/_letsencrypt.py` is a symlink to that file), i.e. @mgruener, @resmo and me (@felixfontein).

(Background: we renamed the `letsencrypt` module to `acme_certifiate` in #39816 and kept the symlink so that people can continue to use the old module name for some time. We

[2018-05-11 07:58] Fred-sun commented on #39958
Also: create a  VM( not create storageaccount) , repeat start and stop 10 times, and do not reproduced this problem.------Ansible version: 2.5.2

[2018-05-11 08:15] yuwzho commented on #39998
This topic should be "support VM refer NSG in other resource group" instead of simply use the virtual network's resource group for NSG. They can in 3 different rgs.

[2018-05-11 08:25] #39996 closed, assigned to nobody

[2018-05-11 08:31] francklafon opened #40000 "[WARNING]: Unable to parse /etc/ansible/hosts as an inventory source"
Hello Everyone ! :) I'm beginner in Ansible. I install on my MacBook Pro Ansible with homebrew.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
ansible 2.5.0
  config file = None
  configured module search path = [u'/Users/franck/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.5.0/libexec/lib/python2.7/site-pac

[2018-05-11 08:31] mkrizek commented on #39997
@felixfontein Ah, ok. Looks like we should add the botmeta entry back then. You want to send the PR or should I?

[2018-05-11 08:33] felixfontein commented on #39997
@mkrizek I can do that. Just give me a minute :)

[2018-05-11 08:36] mkrizek commented on #40000
This isn't a bug. It's just a warning that you didn't provide any inventory file (`/etc/ansible/hosts` is default).

[2018-05-11 08:36] mkrizek commented on #40000
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-11 08:36] #40000 closed, assigned to nobody

[2018-05-11 08:53] murican commented on #39116
We've seen this issue on RHEL7 Systems with different Services. I think it's not related to nginx or a specific OS Distri.

[2018-05-11 09:34] ghost opened #40004 "openshift_raw not supporting listing of resources"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

openshift_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The openshift_raw module states that there is "Access to the full range of K8s and OpenShift APIs". However, some operations seem no

[2018-05-11 10:19] #39995 closed, assigned to nobody

[2018-05-11 11:04] mkrizek commented on #39897
@hsmj1412 as per above, you should not get that error if you have `python2-libselinux` or `python3-libselinux` installed, is that not a case?

needs_info

[2018-05-11 11:15] F30 commented on #21002
(Still open) duplicate issue: #21094

[2018-05-11 11:56] coaxial commented on #34559
@Akasurde yes that works

[2018-05-11 12:08] wknapik opened #40006 "Issues related to undefined dict keys"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Behavior is different for dicts with undefined keys between assignment via `vars` and `set_fact`. In the former case, there's no error.

##### STEPS TO REPRODUCE
[code]
produces
[code]
while

[2018-05-11 12:47] #37846 closed, assigned to nobody

[2018-05-11 12:49] #32168 closed, assigned to nobody

[2018-05-11 12:57] 2vek opened #40007 "tables not rendering properly in ansible docs on firefox developer edition"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansbile documentation 2.5 (docs.ansible.com)

##### OS / ENVIRONMENT
Firefox developer edition (v61.0b3) on debian testing.

##### SUMMARY
Tables are not rendered properly throughout documentation.

##### STEPS TO REPRODUCE
open any documentation page in firefox developer edition like http://docs.ansible.com/ansible/latest/modules/copy

[2018-05-11 13:00] mejo- commented on #32713
This bug still exists in Ansible 2.5.2 with `include_role`.

May I suggest to change the current behaviour? `set_fact` inside an included role should have precedence over variables given as argument to the `include_role` task.

With `import_role` it works as expected: `set_fact` inside the role overrides variables given as arguments to the `import_role` task.

[2018-05-11 13:01] gundalow commented on #37846
Fixed in `devel` (for 2.6.0) cherry-picked into `stable-2.5` for release in Ansible 2.5.3

devel: https://github.com/ansible/ansible/pull/37847
stable-2.5: https://github.com/ansible/ansible/pull/40008

[2018-05-11 13:02] mkrizek commented on #28786
Closing, could not reproduce the issue with the current version. Feel free to re-open if you're still seeing the problem.

[2018-05-11 13:02] #28786 closed, assigned to nobody

[2018-05-11 13:05] gundalow commented on #29577
@ibarrere Regarding `snmp-server host 192.168.1.10 ******` Is the redacted string the same as your password?
If so see this FAQ entry http://docs.ansible.com/ansible/latest/network/user_guide/faq.html#why-is-my-output-sometimes-replaced-with

[2018-05-11 13:07] mkrizek commented on #11544
@ianbytchek @eprigorodov are you still seeing the issue with the recent versions of ansible?

needs_info

[2018-05-11 13:10] Anonymouslemming commented on #22945
This can be closed now. Appropriate fix where this is needed is to do something like this in your roe:

[code]

[2018-05-11 13:10] #22945 closed, assigned to nobody

[2018-05-11 13:14] wsmckenz opened #40009 "Enable checksum on win_get_url"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_get_url

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
any

##### SUMMARY

It would be good if modules like win_get_url could supply a checksum to ensure that the download is complete and accurate.

[2018-05-11 13:15] gundalow commented on #39917
Once FAQ is written we could also update the modules (like was done in  https://github.com/ansible/ansible/pull/34935) so that we link to the FAQ

[2018-05-11 13:29] ibarrere commented on #29577
@gundalow No, it's not. The more I think about it the less likely it is that that redacted output has anything to do with this, too. It only shows as redacted from "show archive log config all", so I think it's unrelated.

[2018-05-11 13:40] gundalow opened #40011 "[Network Docs] Table of network platforms vs connection types"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
[code]

##### SUMMARY
We see a steady flow of questions regarding which `connection`: types are supported by which platforms, and in which version of Ansible.
I feel this will get more confusing with the release of Ansible 2.6.0 as we now support `connection: httpapi`.

**Possible Table**
I wonde

[2018-05-11 13:48] structuralartistry commented on #39995
Yes, just for comment, we also had this issue causing alerts all night. Thanks all for posting and albeit not Ansible (we're on Puppet) it's comforting to see some more thoughtful detail on this issue.

[2018-05-11 13:50] felixfontein opened #40012 "Bugs in documentation generation?"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
documentation generation

##### ANSIBLE VERSION
[code]

##### SUMMARY
I think there are bugs in the documentation generation process.

1. In https://github.com/ansible/ansible/blob/devel/docs/templates/plugin.rst.j2#L120 and https://github.com/ansible/ansible/blob/devel/docs/templates/plugin.rst.j2#L134, a value is compared to `true` (and

[2018-05-11 14:02] mikewiebe opened #40013 "Intermittent Issue: Unable to copy large image files using nxos_file_copy module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_file_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
We used to be able to copy large image files using the `nxos_file_copy` module but now larger files fail to copy with the following error

[code]
##### STEPS TO REPRODUCE
Here are the image sizes of the files I am trying to copy

[2018-05-11 14:03] mikewiebe commented on #40013
**NOTE:** The permissions issue is misleading.  Even if I set the permissions to 777 the file copy will fail.

[2018-05-11 14:03] felixfontein commented on #40012
!component +docs/templates/plugin.rst.j2

[2018-05-11 14:04] felixfontein commented on #40012
!component +docs/bin/plugin_formatter.py

[2018-05-11 14:15] cstuart1 commented on #38640
Agree, this would be a nice feature to have.

[2018-05-11 14:33] Caidran commented on #31187
@ssimonek Whilst you shouldn't upgrade the default install on RHEL 5 you can install an alternative Python alongside it and then point all RHEL 5 hosts to this python version using the "ansible_python_interpreter=" variable.

All you need to do is download the python source, run the .configure and then ensure you run make altinstall rather than make install - this will then set you up with a new v

[2018-05-11 14:36] josdotso commented on #39007
@thaumos , @bcoca  When do you expect 2.5.3 will be released?

[2018-05-11 14:38] abenokraitis commented on #40011
We will probably need a method for this to be dynamic, so that partners can self-report community modules that support specific connection plug-ins, and then be auto documented.

[2018-05-11 14:55] shishirn25 opened #40014 "Ansible kerberos auth with domain account on Windows server 16"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible running on Ubuntu 16.04 , connecting to windows server 2012 and 2016. All are vms hosted on vmware ESXi server 6.5
##### SUMMARY

I am trying to connect to windows machines to run an ansible script, using a kerberos ticket. Both windows machines are on the same

[2018-05-11 14:59] niko opened #40015 "docker_image: build fails if tag contains a slash"
##### ISSUE TYPE
When trying to build a docker image where the tag contains a slash the build fails with the message `APIError: 500 Server Error: Internal Server Error {"message":"invalid reference format"}`. When removing the slash it works.

This is the playbook:

[code]

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host:
[co

[2018-05-11 15:11] ghost opened #40016 "ios_command - run command that requires answering a prompt in Network modules"
Very similar to `Support commands with multiple interactive operation in Network modules #17950`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
DEFAULT_FORKS(/opt/isv/netflow/venvs/alsible/ansible-SNE/ansible.cfg) = 15
DEFAULT_HOST_LIST(/opt/isv/netflow/venvs/alsible/ansible-SNE/ansible.cf