[2020-06-04 15:41] #69521 closed, assigned to jimi-c

[2020-06-04 16:11] mkrizek commented on #69884
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-04 16:11] #69884 closed, assigned to nobody

[2020-06-04 17:27] ajsiersema opened #69893 "nxos_interfaces doesn't detect virtual interfaces or virtual interface state"
##### SUMMARY

Changing the administrative status of a virtual switch interface (SVI or L3 interface) for interfaces in shutdown mode (enabled: no) to enabled: yes doesn't work.
Changing the configuration for these has no effect:
[code]

[code]

however without the 'all' the SVI won't show the shutdown whereas regular interfaces will:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

n

[2020-06-04 17:51] ajsiersema opened #69894 "nxos_interfaces doesn't delete virtual interfaces when using state: deleted"
##### SUMMARY

Deleting a virtual interface doesn't actually delete the interface from the configuration, but seems to treat it like physical interfaces, it will keep saying changed and will keep sending
[code]

nxos_l3_interfaces explicitly documents that it won't delete virtual interfaces. Which feels counter intuitive to me, but if *_l3_interfaces is about interface attributes and *_interfaces

[2020-06-04 17:53] sivel commented on #69894
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-06-04 17:53] #69894 closed, assigned to nobody

[2020-06-04 18:14] Callisto88 commented on #47736
Thanks @felixfontein for pointing this out !
Specifying the param `login_unix_socket: /var/run/mysqld/mysqld.sock` solved the problem !

Had to update every `mysql_{user,db}` module tasks in files `tasks/databases.yml`, `tasks/secure-installation.yml` and `tasks/users.yml` though

[2020-06-04 18:14] sivel commented on #69893
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-06-04 18:14] #69893 closed, assigned to nobody

[2020-06-04 18:56] JonasVerhofste opened #69895 "netscaler_nitro_request filter only parses the first argument"
##### SUMMARY
netscaler_nitro_request has a parameter `filter`, that accepts a dict of filter options.
However, the code [only ever parses the first element](https://github.com/ansible/ansible/blob/v2.9.9/lib/ansible/modules/network/netscaler/netscaler_nitro_request.py#L650-L653), whilst it should combine them with an `&` instead.

Could perfectly fix this myself, but I've got no clue where the mo

[2020-06-04 18:59] sivel commented on #69895
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-04 18:59] #69895 closed, assigned to nobody

[2020-06-04 19:19] cspeidel commented on #58592
@meons @vinodpop disk sharing as been added to the ansible-collections devel branch:
https://github.com/ansible-collections/vmware/pull/214

@meons are you still having this (disk_mode) issue?

[2020-06-04 19:39] samdoran commented on #69854
The `ConnectTimeout` is set to 10 in the output from the playbook run. Setting that to a lower value in addition to other ssh options may give you the desired result.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-04 19:39] #69854 closed, assigned to nobody

[2020-06-04 19:47] #69875 closed, assigned to relrod

[2020-06-04 19:56] azmng opened #69896 "Syntax errors with Jinja2 control structures in tasks file"
Hi Ansible community,

I am observing syntax error on attempt to use Jinja2 control structures in the tasks file:

**Code**
/opt/ansible/roles/network/tasks/network.yml:
[code]
**Error**
[code]
**Versions**
ansible 2.5.10
python version = 2.7.12
Ubuntu 16.04.3 LTS

Kindly advise!
Thank you,
Alex

[2020-06-04 20:20] sivel commented on #69896
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-04 20:20] #69896 closed, assigned to nobody

[2020-06-04 21:13] #42794 closed, assigned to nobody

[2020-06-04 21:24] bbaassssiiee commented on #54109
I updated the use-case.

[2020-06-04 21:28] tdluckyboy commented on #41232
ansible 2.9.7 and aix 7.1.5 have the same problem...

[2020-06-04 21:32] imjoseangel commented on #69882
Hi @ffgomez thanks for reporting.

This is weird, because is bug closed time ago:

https://github.com/ansible/ansible/issues/26525

Unfortunately , I cannot reproduce the problem using 2.9.9 and Python 2 and 3.

[2020-06-04 22:29] sydoluciani commented on #60345
@IPvSean in theory you are right. logically we expect max_items be an integer, and that is how documented in the module itself, however route53_info module returns Boto3 methods and parameters, and  MaxItems parameter in [Boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/route53.html#Route53.Client.list_hosted_zones) is defined as string, which probably the reason @

[2020-06-04 22:50] sevaepsteyn commented on #64836
Same problem with:

[code]

[2020-06-05 02:01] #69881 closed, assigned to relrod

[2020-06-05 02:15] deepakramanath opened #69899 "Ansible loop does not generate any stdout"
##### SUMMARY
Ansible loop does not produce any stdout even with verbosity on. This leads to confusion about the successful execution. Surprising this is only noted on the CentOS 7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXP

[2020-06-05 05:31] giedriusramas opened #69900 "ansible tries run custom module on python3 while being on pyhton2"
##### SUMMARY
Seems like ansible still tries to run custom module in python3 event though ansible is set to use pyhton2 as interpreter and installed via pip on python2. It tries to run custom module by /usr/lib64/python3.6/runpy.py.
ConfigParser module exists on python2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
custom module
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2020-06-05 05:46] raikhan-mussin commented on #69876
Ок, thanks!

[2020-06-05 05:54] ganeshrn commented on #69350
Ansible version:
[code]

OS / ENVIRONMENT
[code]
STEPS TO REPRODUCE:

1) Install vyos collection from galaxy
[code]
2) Run playbook:
state: rendered doesn't require active connection with remote host.
[code]
EXPECTED RESULTS
The module should run without any error
[code]
ACTUAL RESULTS
Fail with error:
[code]

[2020-06-05 06:44] Andersson007 commented on #65887
https://github.com/ansible/ansible/pull/65941 the new mysql_query module is coming in 2.10 that has `login_unix_socket` parameter, etc
Anyway, the modules you mentioned don't use ansible libraries related to mysql. The issue needs to be reported in that repositories.
close_me

[2020-06-05 07:20] nitzmahone commented on #65887
closing by request

[2020-06-05 07:20] #65887 closed, assigned to nobody

[2020-06-05 07:22] Andersson007 commented on #63268
resolved_by https://github.com/ansible/ansible/pull/67747

[2020-06-05 07:23] #63268 closed, assigned to nobody

[2020-06-05 07:28] Andersson007 commented on #59621
@pratikgadiya12 if you're interested in this, could you please move the issue to community.general.
But I personally doubt whether it is possible to make such modules idempotent. I think mysql_db functionality is enough and we can't just remove dump and restore from there

[2020-06-05 07:28] Andersson007 commented on #59621
close_me

[2020-06-05 07:37] Andersson007 commented on #53943
moved to collections https://github.com/ansible-collections/community.general/issues/463

[2020-06-05 07:37] Andersson007 commented on #53943
close_me

[2020-06-05 07:38] ganeshrn commented on #69788
It seems the issue is still seen even after the PR is merged or the expected behaviour is not yet clear to me hence reopening the issue with minimal collection reproduction steps.

Ansible version:
[code]
OS / ENVIRONMENT
[code]

STEPS TO REPRODUCE:
https://github.com/ganeshrn/command-redirection-issue#command-redirection-issue

EXPECTED RESULTS
The playbook `command_redirection.yml` should run wi

[2020-06-05 07:40] mkrizek commented on #69900
Does that happen only for that custom module or any module?

In any case, `python_interpreter = /usr/bin/python2.7` should be `interpreter_python  = /usr/bin/python2.7` per https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html.

[2020-06-05 07:41] #53943 closed, assigned to nobody

[2020-06-05 07:42] Andersson007 commented on #47736
i explained this in the doc https://github.com/ansible/ansible/pull/66848
it's coming with 2.10

[2020-06-05 07:42] Andersson007 commented on #47736
close_me

[2020-06-05 07:44] #59621 closed, assigned to nobody

[2020-06-05 07:44] Andersson007 commented on #52869
have you tried https://github.com/ansible/ansible/pull/66848/files
needs_info

[2020-06-05 07:47] #45104 closed, assigned to nobody

[2020-06-05 07:47] #43466 closed, assigned to nobody

[2020-06-05 07:47] #34927 closed, assigned to nobody

[2020-06-05 07:47] #31867 closed, assigned to nobody

[2020-06-05 07:47] evgeni opened #69902 "how to deprecate/redirect modules in a collection that is compatible with Ansible 2.8/2.9?"
##### SUMMARY

Now that https://github.com/ansible/ansible/pull/67684 is merged, we have a (undocumented) way to deprecate/redirect modules in collections for 2.10 by providing a `meta/runtime.yml` with a `plugin_routing` hash inside. However, this file is irrelevant and unused on Ansible 2.8 and 2.9 which also support collections.

The naïve approach of somebody who has worked with Ansible before

[2020-06-05 07:47] #20470 closed, assigned to nobody

[2020-06-05 07:47] #64687 closed, assigned to nobody

[2020-06-05 07:48] #68251 closed, assigned to nobody

[2020-06-05 07:50] #47736 closed, assigned to nobody

[2020-06-05 07:51] guerzon commented on #69884
After reading back on the documentation, I was able to solve this with this parameter:
`set_remote_user: false`

If you have a custom ssh config to define the remote user for a host that does not match the inventory user, you should set this parameter to no.

[2020-06-05 07:58] giedriusramas commented on #69900
Thanks @mkrizek seems like it made a changes thanks.

[2020-06-05 07:58] #69900 closed, assigned to nobody

[2020-06-05 08:01] mkrizek commented on #60345
Closing per above.

[2020-06-05 08:01] #60345 closed, assigned to nobody

[2020-06-05 08:03] Andersson007 commented on #43594
is it relevant for the latest ansible version?
needs_info

[2020-06-05 08:05] Andersson007 commented on #42586
we can do it via https://github.com/ansible/ansible/pull/65941 . It's coming in 2.10

[2020-06-05 08:06] Andersson007 commented on #42586
close_me

[2020-06-05 08:06] evgeni commented on #69902
Ansible 2.10 is [scheduled to be released on 2020-08-13](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_10.rst), which will make 2.7 EOL. Do we want to wait until then, or drop 2.7 support earlier? People could still use a 2.7 compatible branch we can create (similar to what we did with `nailgun`)?

[2020-06-05 08:08] Andersson007 commented on #41505
moved to collections https://github.com/ansible-collections/community.general/issues/464

[2020-06-05 08:08] Andersson007 commented on #41505
close_me

[2020-06-05 08:13] Andersson007 commented on #40988
moved to collections https://github.com/ansible-collections/community.general/issues/465

[2020-06-05 08:13] Andersson007 commented on #40988
close_me

[2020-06-05 08:19] #40988 closed, assigned to nobody

[2020-06-05 08:19] #41505 closed, assigned to nobody

[2020-06-05 08:19] #42586 closed, assigned to nobody

[2020-06-05 08:21] Andersson007 commented on #38024
could you please try this with the latest ansible version and `-vvv` and put the output here.
I thinks the last 100 rows will be enough
the error `fatal: [10.28.51.203]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Shared connection to 10.28.51.203 closed.\r\n", "unreachable": true}` looks unrelated to mysql_db module, at least.
needs_info

[2020-06-05 08:30] nkromano opened #69903 "Using a variable list for tags parameter results in an unhashable type: 'list' exception"
##### SUMMARY
Providing a variable list to the tags parameter when executing role results in the following error message:
[code]
I also have the error when using tags inside a role.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Tags parameter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.5 (Maipo)

##### STEPS TO

[2020-06-05 09:02] filviu opened #69904 "Scaleway inventory plugin custom string variables are not added to inventory"
##### SUMMARY

When adding custom variables to the `variables:` section of the scaleway inventory plugin string variables are ignored but numerical variables are passed along.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

scaleway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL 2 -> Debian 10.4 -> Python 3

##### STEPS TO REPRODUCE

I created a mini

[2020-06-05 09:23] bendem opened #69905 "Documentation conflicts about which ini section to use to enable pipelining"
##### SUMMARY

The [main configuration documentation](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining) says that pipelining is enabled in the `ssh_connection` or `connection` section.

The [ssh connection plugin](https://docs.ansible.com/ansible/latest/plugins/connection/ssh.html#parameter-pipelining) configuration says pipelining should  be enabled in t

[2020-06-05 09:25] Souravro opened #69906 "Can we not use conn_name as "bond" with type "bond" in nmcli?"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-06-05 09:47] mkrizek commented on #69906
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-05 09:47] #69906 closed, assigned to nobody

[2020-06-05 09:48] mkrizek commented on #69904
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-05 09:48] #69904 closed, assigned to nobody

[2020-06-05 10:17] ffgomez commented on #69882
Many thanks Jose,

As far as I understood, adding  _raw_params may solve my issue, however it doesn't work. :

[code]
[code]
Am I missing something?

[2020-06-05 10:41] imjoseangel commented on #69882
`_raw_params` is not part of the include_role input parameters. Could you do a quick test with the configuration example in the issue?

## CONFIGURATION

File organization

[code]

playbook.yml

[code]

temp.yml

[code]

roles/foo/tasks/main.yml

[code]

roles/foo/tests/basic.yml

[code]

[2020-06-05 10:58] Andersson007 commented on #34488
resolved_by https://github.com/ansible-collections/community.general/pull/468

[2020-06-05 10:59] Andersson007 commented on #34488
@iredmail thanks for reporting!
if you're still interested in solving this, look at https://github.com/ansible-collections/community.general/pull/468

[2020-06-05 11:07] ffgomez commented on #69882
Aha, I see. Again thanks for the support.

This is how I have set my dir tree,

Ansible file tree:
[code]

test.yaml
[code]

ovirt.he.iscsi.deploy (main.yaml)
[code]

tasks/ovirt/hosted_engine_deploy.yaml
[code]

I also tried to reproduce the same structure, :
[code]

but can´t check relative route
[code]

Should I fix this, or is this what you were expecting to see?

Thanks and regards,

[2020-06-05 11:13] vbotka commented on #69799
Is (should be/will be) any difference between these options?

[code]
and

[code]

[2020-06-05 11:35] kennethredler commented on #20470
Would it be worth documenting [the more terse of the two solutions](https://github.com/ansible/ansible/issues/20470#issuecomment-443220060) with some explanation of what is going on @jpmens / @mkrizek / @bcoca ?

While I'm glad there's a solution, it doesn't seem it would be intuitive or understandable for a majority of Ansible users.

Hint: [Arbitrary Argument Lists in Python](https://docs.python

[2020-06-05 12:07] gstorme opened #69907 "authorized_key no return values in checking mode"
##### SUMMARY

When I run a task using the authorized_key module in checking_mode and register the result, it does not contain any return values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

authorized_key

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect that the authkey_change variable contains the return values from the `authorized

[2020-06-05 12:32] mkrizek commented on #69907
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-05 12:32] #69907 closed, assigned to nobody

[2020-06-05 12:39] Shrews commented on #69899
Your configuration indicates that you are using the `counter_enabled` stdout callback on the CentOS machine which will modify the output being seen. You can change this in your ansible config file by setting `stdout_callback = default` which will set the callback plugin back to the default, giving you the output you expect.

Can you try the above change and let us know if that corrects the problem

[2020-06-05 13:06] #69877 closed, assigned to nobody

[2020-06-05 14:24] gundalow commented on #69172
In case anyone else looks at this issue, and is wondering about `netaddr`'s status, you may wish to look at https://github.com/netaddr/netaddr/issues/202

[2020-06-05 14:37] michaelkebe opened #69908 "group positioning not working with YAML inventory"
##### SUMMARY

When using an inventory in YAML format the positioning does not work properly.

The problem is that YAML does not have an ordering of keys (which is used in the inventory YAML file). This is an implementation detail of the YAML parser. The currently presented ordering is undefined (not speficied in the YAML spec).

My suggestions:
- Report an error (a warning at least), when using g

[2020-06-05 14:53] sivel commented on #69908
Duplicate of the recently resolved https://github.com/ansible/ansible/issues/34861

[2020-06-05 14:53] #69908 closed, assigned to nobody

[2020-06-05 15:12] mkrizek commented on #59019
resolved_by_pr #68014

[2020-06-05 15:37] jimi-c commented on #33853
Hi @dagwieers, going back through our backlog and ran across this. Since we reversed course on deprecating the with_ way of doing loops, we're going to go ahead and close this issue now.

Thanks!

[2020-06-05 15:37] #33853 closed, assigned to bcoca

[2020-06-05 15:38] #31018 closed, assigned to nobody

[2020-06-05 15:40] sivel commented on #31018
Just to link here, I've started this, but not completed it yet: https://github.com/ansible/ansible/pull/36878

[2020-06-05 15:45] jimi-c commented on #47350
Per discussion, we believe the best case here would be to create an error message specifically for an empty stdout/stderr. Beyond that, the regular module failed message should suffice.

[2020-06-05 15:47] jimi-c commented on #48812
Per discussion, as we currently have the debugger as an option for stepping through tasks we're going to go ahead and close this now.

[2020-06-05 15:47] #48812 closed, assigned to webknjaz

[2020-06-05 15:49] sivel commented on #69902
There is no facility to deprecate or route a module or plugin in a collection before Ansible 2.10.

The `_` prefix in a collection has no special meaning, in fact, it would just introduce a literal `_` into the module name, that may or may not even be loadable in a collection.

The only way to deprecate would be via manual explicit messaging in the module or plugin, and for supporting renames, eit

[2020-06-05 15:49] #69902 closed, assigned to nobody

[2020-06-05 16:12] sivel commented on #69882
I'm not sure how to actually reproduce this.  We'll need you to provide a complete, minimal reproducer.  Reproducers should not use any modules or plugins that require specific environments, and should not make changes to a system.

With everything provided above, I have no idea what tasks are triggering errors, or how to set up a reproducer.

[2020-06-05 16:29] tecmage opened #69911 "win_service module won't change password if username is unchanged"
##### SUMMARY
Windows module win_service checks for a username change before changing the windows service username and password.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_service.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Attempted on windows server 2012 and 2016

##### STEPS TO REPRODUCE
Configure a windows service with a local or domain

[2020-06-05 16:34] sivel commented on #69848
I'm just guessing at this point, but my assumption right now is that something is breaking role deduplication, and as a result `role3` is effectively running 2 times.

[2020-06-05 16:35] michaelkebe commented on #69908
I don't agree with the close.

In my opinion ansible should only allow YAML sequences to preserve the
order and should raise an error, if group positioning is used with an YAML
inventory with hostnames as keys.

I know, it is a breaking chance, but the YAML spec is clear:

"In every case where node order is significant, a sequence must be used."

https://yaml.org/spec/1.2/spec.html#id2765608

Matt

[2020-06-05 17:15] tecmage commented on #69911
I validated that this will fix the problem on at my site.  Obviously someone smarter than I should review it for code guidelines and quality.

`diff win_service.ps1 win_service.ps1.orig
19d18
< $force = Get-AnsibleParam -obj $params -name 'force' -type 'bool' -default $false
181c180
<     if ($actual_sid -ne $username_sid -Or $force) {
---

win_service.pyc
  force:
    description:
    - If C(yes)

[2020-06-05 17:25] sivel commented on #69848
To extend my thinking on this, I believe it is because `block._eor` doesn't get set as `True` after tasks are filtered.  `block._eor` in a role is only set at compile time, which means that when tags are filtered, the block with `block._eor = True` may have been removed.  It may be that we need to loop the remaining blocks after filtering, and set the last block in the role with `._eor = True`.

H

[2020-06-05 17:33] jkroepke opened #69914 "aws_ec2 inventory does not evaluated expressions in hostvars"
##### SUMMARY
aws_ec2 inventory does not evaluated expressions in hostvars

Example: Host from AWS, note the `attach_time` parameter.
[code]

The most important part of this bug is that

[code]

isn't valid JSON anymore. If you have task like

[code]

The ansible module may throw wired python errors because the module expect that `facts` is a dict. But if `hostvars[inventory_hostname]` isn't a val

[2020-06-05 17:38] jamescassell commented on #48812
Where's the discussion? Is Q a thing now?

[2020-06-05 18:09] imjoseangel commented on #69882
@ffgomez, for your tests keep a simple `ansible.cfg` too. As @sivel refers, try to reproduce the issue in a simple escenario:

[code]

Thank you!

[2020-06-05 18:42] imjoseangel commented on #69905
Agree PR launched

[2020-06-05 18:45] bcoca commented on #36045
fixed by #69912

[2020-06-05 18:47] imjoseangel commented on #69899
Agree with @Shrews

IMHO I think this issue should be closed.

[2020-06-05 19:05] jimi-c commented on #48812
@jamescassell sorry, this was a discussion during our team triage today. We believed the intention here with `--step` was to allow someone to troubleshoot their playbook, which is better served with the debug option now available. If you would like to pursue this feature idea, we'd be happy to review any future PRs.

[2020-06-05 19:20] xammi commented on #69097
+ 1 user with a problem

[2020-06-05 19:35] xammi opened #69916 "Template variables in task tags"
##### SUMMARY
A similar problem has been described here - https://github.com/ansible/ansible/issues/69097
One another issue was closed here - https://github.com/ansible/ansible/issues/14384

What this feature request is about:

[code]

These execution commands work as I expect with **import_tasks: file**, but not with **import_role: tasks_from**, because **import_role** can be (and expected to be)

[2020-06-05 20:25] #69911 closed, assigned to nobody

[2020-06-05 20:48] bcoca commented on #69905
plugin is correct, 'default' section currently controls this, in the end it should be deprecated and moved to the plugin section, but the code has not changed to enable this yet.

[2020-06-05 20:52] sydoluciani commented on #49019
@ppoetz route53_health_check using Boto instead of Boto3, thus current version can't support new features unless we upgrade the module to use Boto3.

route53 modules along other community supported aws modules have been moved to [community.aws](https://github.com/ansible-collections/community.aws)

I have created a new issue in [community.aws repository](https://github.com/ansible-collections/comm

[2020-06-05 21:06] imjoseangel commented on #69905
Thank you @bcoca I thought the same, but 2.9 doesn’t support it under `default` section.

[2020-06-05 21:11] bcoca commented on #69905
see my PR

[2020-06-05 21:20] bcoca commented on #69908
@michaelkebe please read the message, this has recently been resolved via #58000 which does what you ask for.

[2020-06-05 21:20] rlaager commented on #43594
In 2.9.9, the module is still not passing `socket` to `mysql_connect` or otherwise using it, except for dump and import:
https://github.com/ansible/ansible/blob/v2.9.9/lib/ansible/modules/database/mysql/mysql_db.py#L382

[2020-06-05 21:28] bcoca commented on #69799
#69040 probably related

[2020-06-05 21:33] sydoluciani commented on #23110
@jameel263 route53 modules along other community supported aws modules have been moved to
[community.aws](https://github.com/ansible-collections/community.aws)

I have created a new issue in [community.aws repository](https://github.com/ansible-collections/community.aws/issues/88)

Please close this issue.

Thank you

[2020-06-05 21:37] bcoca commented on #69788
@ganeshrn try:
[code]

[2020-06-05 22:05] TyKeeling opened #69922 "make module fails in tempfile directory, however shell: "make" works successfully."
##### SUMMARY

I am attempting to make [likwid](https://github.com/RRZE-HPC/likwid) inside an Ansible temporary directory. The make command will fail when the make module is used, but is successful when the shell module is used to call make.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

make

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

#####

[2020-06-05 22:12] johnpetersjr opened #69923 "ec2_group doesn't allow for target of prefix list - update"
Was this ever implemented?  I don't see any documentation on this.

I have the same need - to put a private link of an S3 VPC endpoint as a target egress rule in my security group.

[2020-06-06 00:03] jborean93 commented on #69828
Thanks for the details, it turns out I've already fixed this problem with https://github.com/jborean93/ntlm-auth/pull/26 and I just hadn't merged/created a release for it yet. The problem right now is that the ntlm-auth logic isn't using UTF-16 to encode the strings if the server supports it but the very basic ASCII encoding which only supports limited characters. The PR I linked will make sure it

[2020-06-06 04:10] shederman commented on #48786
To me the point of ansible is to help smooth over these inconsistencies. If a service command isn't working on a particular distro, rather than clutter every single ansible users code with extra complexity, surely the correct approach is to handle this logic within the ansible service implementation?

[2020-06-06 05:52] sydoluciani commented on #29888
@software-fool `route53_info` module's `query: record_sets` seems providing details of record sets which shall include  the weight. can you please try and let us know.

route53 modules along other community supported aws modules have been moved to
[community.aws repository](https://github.com/ansible-collections/community.aws)

Please close this issue and re-open a new one in [community.aws reposi

[2020-06-06 06:29] sydoluciani commented on #24834
@Svolentin route53 modules along other community supported aws modules have been moved to
[community.aws repository](https://github.com/ansible-collections/community.aws)

I have created a new issue in [community.aws repository](https://github.com/ansible-collections/community.aws/issues/89)

Please close this issue.

Thank you

[2020-06-06 07:08] mkrizek commented on #24834
Thanks @sydoluciani!

[2020-06-06 07:08] #24834 closed, assigned to nobody

[2020-06-06 07:09] mkrizek commented on #23110
Thanks @sydoluciani!

[2020-06-06 07:09] #23110 closed, assigned to nobody

[2020-06-06 07:11] mkrizek commented on #49019
Thanks @sydoluciani!

[2020-06-06 07:11] #49019 closed, assigned to nobody

[2020-06-06 07:15] mkrizek commented on #69923
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-06 07:15] #69923 closed, assigned to nobody

[2020-06-06 08:17] ffgomez commented on #69882
Thanks both, really appreciated,

My main issue is that I have absolutely no clue where the error is. It hangs listing the last element of a with_fileglob loop due to two imports in one of those loop's elements. Everything else tested is working as expected. So I can't really isolate it and prepare a reproducer.

If you will, the most simplified and aseptic way to reproduce the issue is by the fol

[2020-06-06 08:46] Akasurde commented on #69922
@TyKeeling Thanks for reporting this issue. Given repo uses `PWD` env variables in its `make` scripts like https://github.com/RRZE-HPC/likwid/blob/99b0d23927f5e65cfa4eb5aeac1c57504395694b/make/config_defines.mk#L36. So while running with this playbook you need to provide this as env variable like

[code]

I can build the package successfully after these changes -

<details>
<summary>Console log</s

[2020-06-06 08:46] Akasurde commented on #69922
needs_info

[2020-06-06 10:10] imjoseangel commented on #69922
Hi @Akasurde what about implementing `use_unsafe_shell` in make module for these scenarios?

Regards

[2020-06-06 12:29] Akasurde commented on #69922
@imjoseangel I am not sure if we need `use_unsafe_shell` implemented since it opens up the door for security vulnerabilities.

[2020-06-06 12:32] imjoseangel commented on #69922
Agree. I wanted to know your view. Thank you!

[2020-06-06 12:34] Akasurde commented on #69922
Cool. Thanks.

[2020-06-06 13:19] sydoluciani commented on #49452
@IPvSean both requested features can be achived by registering the output and searching through it's content. [here is the reference](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#regular-expression-filters)

route53 modules along other community supported aws modules have been moved to
[community.aws repository](https://github.com/ansible-collections/community.aws)

Pl

[2020-06-06 13:55] ganeshrn commented on #69788
@bcoca: Adding collections value to the task as you mentioned it is working.
Ideally, it should also work with `ansible.builtin.shell` also or is this an expected behaviour?

[2020-06-06 21:04] sydoluciani commented on #29225
@jctanner can you please try again and let us know the result. I tried re-running the same playbook couple of times to create the same domain in default vpc and had no problem, it actually returns the current zone information if the zone already exist.

[code]

route53 modules along other community supported aws modules have been moved to
[community.aws repository](https://github.com/ansible-colle

[2020-06-06 21:24] sydoluciani commented on #19114
@mkrizek There is a new option to [transfer an issue](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository) from one repository to another if both repositories are owned by the same organization, and I think it should work if you have permission on both.

Can you please tranfer this issue to [community.aws repository](https://github.com/ansible

[2020-06-06 22:02] #66753 closed, assigned to nobody

[2020-06-06 23:28] relrod commented on #69725
After discussing with the team, we decided that this isn't a good idea due to the security implications.

If you really need the become password, you can store it in an env variable (`ANSIBLE_BECOME_PASS`) and access it with the `env` lookup plugin, though we suggest trying to find a different way to accomplish whatever it is you are trying to solve.

[2020-06-06 23:28] #69725 closed, assigned to relrod

[2020-06-07 00:56] relrod commented on #69638
I dug into this a bit. I'm not sure of the way forward, but just to give some background:

On Linux there are [two ways](https://www.kernel.org/doc/Documentation/networking/alias.txt) to add secondary IPs: The first (and obsolete) way is through "aliases" which are basically subinterfaces (`eth0` would get `eth0:0`, `eth0:1`, etc.), and the second (and now preferred) way is by directly adding a se

[2020-06-07 02:54] opoplawski opened #69930 "password_hash('bcrypt') fails with python 3.9"
##### SUMMARY
Evaluating `"{{ 'changeme' | password_hash('bcrypt') }}"`
results in:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
encrypt

##### ANSIBLE VERSION

[code]
Current develop head
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
host is Fedora Rawhide (F33).

##### STEPS TO REPRODUCE
[code]

[2020-06-07 06:15] relrod commented on #29188
This seems to have been fixed at some point, so closing.

[2020-06-07 06:15] #29188 closed, assigned to nobody

[2020-06-07 10:41] ankerstal opened #69932 "Problem with acme_certificate and pending authorizations."
##### SUMMARY
I've been using acme_certificate for a while now but since upgrading to ansible 2.9 I dont get a certificate anymore. There seems to be a problem with the challange data I get from the module.

When I try to validate my challanges using DNS I get two sets och different tokens. First I get a list of pending auths:
[code]
But in the challange_data I get another set:
[code]

My guess is

[2020-06-07 11:46] Akasurde commented on #69607
@scentoni This is already fixed in Stable-2.9 (https://github.com/ansible/ansible/pull/65207) and Devel (https://github.com/ansible/ansible/pull/62973). Since you are on Stable-2.8 or 2.8.4, you are able to reproduce this issue. Could you please update to 2.9 or latest? Thanks.

needs_info

[2020-06-07 12:15] MarioVilas commented on #40868
I can confirm the issue, running Fedora 32. This is the output of the lxd_container task:
[code]

Not only the IP address is missing, basically ALL of the information is missing. This is my Ansible version:
[code]

[2020-06-07 12:17] Akasurde commented on #69519
resolved_by_pr #69934

[2020-06-07 14:54] #69144 closed, assigned to nobody

[2020-06-07 17:48] imjoseangel commented on #69903
Hi @nkromano Thanks for reporting. I've been testing this behavior and I think it should be reviewed and analyzed.

When a role or block are orchestrated, the tags are managed the following way:

[code]

When reaching the validation, it tries to pass:

[code]
Instead of:

[code]

FMPOV, {{ foo }} should be flattened

[2020-06-07 21:08] VictorMorenoJimenez opened #69936 "Apt module hangs while installing a few apt packages."
##### SUMMARY
I have a playbook with a role that installs a list of apt packages. The process hangs on the remote server on S state. Sometimes it finishes after 20+ minutes, sometimes just hangs for ever.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Host and remote host:
PRETTY_NAME="Debian GNU/Li

[2020-06-07 21:22] ffgomez commented on #69882
Dear all,

I managed to workaround the issue by replacing import_tasks with include_tasks. But I am still unable to find the least common denominator to reproduce the deviation in import/include_role.

So, in: [https://github.com/oVirt/ovirt-ansible-hosted-engine-setup/blob/master/tasks/pre_checks/002_validate_hostname_tasks.yml](url)
replace

[code]
with
[code]

And playbook_not_working.yaml will

[2020-06-08 05:31] mkrizek commented on #69932
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2020-06-08 05:31] #69932 closed, assigned to nobody

[2020-06-08 05:45] mkrizek commented on #19114
@sydoluciani The bot will auto-close all issues and PRs that have the `needs_collection_redirect` label soon.

[2020-06-08 05:58] krishsubra commented on #56501
Still face the same problem.

failed: (item=/dev/sdc) => {"ansible_loop_var": "item", "changed": false, "err": "  Physical volume \"/dev/sdb\" still in use\n", "item": "/dev/sdc", "msg": "Unable to reduce appvg by /dev/sdb.", "rc": 5}

am running 2.9.6

[2020-06-08 07:53] sydoluciani commented on #19114
I just noticed there is a dedicated group that support AWS collections. I
am going to contact them if they want to move the issues.
Although there are issues that have not been addressed for couple of years,
but keeping them around helps in bug fixes/improvements or consideration
for new module development. with new option in github to mvoe issues, it is
best if bot could move them to respected co

[2020-06-08 09:11] dssdss commented on #69828
Yes!!! Now, its working!

Thanks a lot! =)

Do I need to close issue, or you'll close it by yourself?

[2020-06-08 09:17] nkromano commented on #69903
Hello @imjoseangel.
Thank you for your recommendation. I tried using "flatten" filter. But it didn't help me. Error persists.
Like this:
[code]

[2020-06-08 09:22] relrod commented on #69936
Hi @VictorMorenoJimenez

I've tried reproducing this with the exact vars and tasks you gave on a pristine debian 10 VM to no avail. Although it takes a while because of the number of packages, it did complete (well, actually it errored about not being able to finish setting up proxmox -- but it didn't stall).

I would advise running `tail -f /var/log/apt/*.log` while running Ansible to see where i

[2020-06-08 09:22] #69936 closed, assigned to nobody

[2020-06-08 09:51] imjoseangel commented on #69903
Hi @nkromano

My comment is related on how the code is managing the tags and not to the Ansible "flatten" functionality.

Thank you!

[2020-06-08 10:23] gustavomcarmo commented on #33058
The same issue yet in Ansible 2.9.9!

[2020-06-08 10:26] adam-fu commented on #42148
I run into this issue today as well.

I set  in docker-compose.yml
[code]
and in ansible jeknins_plugin setting value  ``` jenkins_home: /var/jenkins_home/ ```

I run the first installation with ansible 2.8.3, Then upgraded because of CSRF problem to ansible 2.9.9. Then I get the same error, so I deleted the volume, removed the container and run the job again.

The plugin now is idempotent. So I g

[2020-06-08 10:41] ziima opened #69944 "ini_file module can't create empty section"
##### SUMMARY

Module ini_file can't create an empty section without any options. This is used in some configuration files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ini_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian testing

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

I'd expect a file `/tmp/empty_file.cfg` to be

[2020-06-08 11:01] mkrizek commented on #69944
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-08 11:01] #69944 closed, assigned to nobody

[2020-06-08 11:10] SallyB-10 commented on #69046
Any update?

[2020-06-08 12:02] kannan-zeotap commented on #68851
@imjoseangel Can you please explain where to set the force_valid_group_names properties?

This is my inventory file.

`plugin: gcp_compute
projects:
  - prod-project
auth_kind: application
hostnames:
  - name
zones:
filters:
  - name!=gcpqbolacc*
  - name!=dproc*
  - name!=gcpeuqbolacc*
  - name!=gke*
keyed_groups:
- key: labels.role + "-" + labels.application + "-" + labels.environment + "-" + la

[2020-06-08 12:36] felibb opened #69945 "zfs_delegate_admin module outdated in 2.9.9"
##### SUMMARY

zfs_delegate_admin module outdated. https://github.com/ansible/ansible/blob/v2.9.9/lib/ansible/modules/storage/zfs/zfs_delegate_admin.py is missing e.g. this patch: https://github.com/ansible-collections/community.general/commit/75107c807ce385c16f2452cee428ce9dc6a89fc5
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module zfs_delegate_admin
##### ANSIBLE VERSION

[code]

#####

[2020-06-08 13:21] Altiire opened #69946 "ansible_distribution_release is wrongly set"
##### SUMMARY

Unable to add apt repository because apt cache update failed. Module args are wrong.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running from my computer, Windows 10 with WSL 2 running Debian
On remote host, Debian 9

##### STEPS TO REPRODUCE

[code]

[code]

##### E

[2020-06-08 14:40] sivel commented on #69945
Thank you for your interest in Ansible. It is up to the author of the PR, or any other concerned user to submit backport PRs to this repository.  We do not automatically backport PRs from any location.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-08 14:40] #69945 closed, assigned to nobody

[2020-06-08 15:10] TyKeeling commented on #69922
Hi @Akasurde, @imjoseangel, thank you both for the help!!! Good idea.

[2020-06-08 15:10] #69922 closed, assigned to Akasurde

[2020-06-08 15:16] Reverendheat commented on #55823
Has there been any update to this?

[2020-06-08 15:31] christophetd opened #69949 "Azure Resource Manager inventory plugin: Allow setting resources groups to include at runtime"
##### SUMMARY

Allow setting resources groups to include at runtime via environment variable

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[Azure Resource Manager inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/azure_rm.html)

##### ADDITIONAL INFORMATION

Currently, the Azure resource groups to include in the inventory needs to be provided as part of the prov

[2020-06-08 15:52] #68573 closed, assigned to nobody

[2020-06-08 15:53] jsirex commented on #69298
"Reusable roles" they said :(
Any chance it gets fixed?

[2020-06-08 15:55] bcoca commented on #69298
working on it, but there is a hard balance between getting roles working 'as they should' and not breaking existing playbooks.

[2020-06-08 15:59] bcoca commented on #69903
@imjoseangel  no, we don't want to 'autoflatten' tags, you should always supply a list of strings. Your example will give a similar message to the error reported but it is not the same cause. Yours is 'bad input',  while the report is probably due to 'bad handling of input'.

[2020-06-08 16:12] imjoseangel commented on #69903
Thanks @bcoca

My comment tries to open a discussion about how ansible handles tags. The behaviour when loading a role or block inside a play is not the same as if you use for instance `import_role` inside tasks.

[2020-06-08 16:13] bcoca commented on #69903
@imjoseangel that is what github.com/ansbile/proposals are for, but in this case you are confusing the issue the reporter is having.

[2020-06-08 16:32] mattclay commented on #69419
@felixfontein Is this resolved now that the routing PR has been merged?

[2020-06-08 16:36] bcoca commented on #69788
I 'expect it' as this is how the code currently works, but i doubt it is 'wanted' behaviour. I'll continue working on my PR for a full fix once we decide what that is.

[2020-06-08 16:42] AlexanderKholodov46 commented on #20537
Faced this unexpected behavior for me.
Yes, the ansible-galaxy documentation says "and when a role is installed, any dependencies are automatically installed as well". That is, the automatic installation of dependencies when installing the target role. However, the ansible documentation says "Role dependencies allow you to automatically pull in other roles when using a role." - that is, pull (inst

[2020-06-08 18:11] sivel commented on #69949
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-08 18:11] #69949 closed, assigned to nobody

[2020-06-08 18:25] felixfontein commented on #69419
@mattclay this issue seems to be unrelated to the routing PR. The problem is still there.

[2020-06-08 18:38] sivel commented on #69848
As of now, I think the best, or at least the easiest, way to achieve this is to add an explicit meta task to the end of the role to indicate completion, instead of relying on tracking the last block in the role.

POC:
[code]

The above diff addresses this specific issue.

cc @jimi-c What are your thoughts on this?

[2020-06-08 18:46] mattclay commented on #69419
@felixfontein Ah, sorry, I should have been more clear. With the routing PR merged, can the symlinks be replaced with routing entries, or they being kept for compatibility with Ansible 2.9?

[2020-06-08 18:49] felixfontein commented on #69419
@mattclay I'm not sure whether they will stay in community.general or not. I guess we have to decide that eventually. But I think that even if the symlinks are removed, the test would still fail, since `flat` is set to `False` for prefix `'plugins/modules/'`. (Haven't tested it though.)

[2020-06-08 18:57] dcdamien commented on #57396
I've just reproduced the same issue.

[2020-06-08 19:10] mkbajzek commented on #29285
@cspeidel would it be possible to get an update on this? Should this get migrated over to `ansible-collections/community.general`?

[2020-06-08 19:20] adam-fu commented on #42148
@JiElPe-Fr38
the idempotent playbook would be to trigger all install jobs as async and catch later the errors and well.. just ignore them. The plug-and-pray script could look like this:

[code]
Also I wonder, when the jenkins docker image has a local volume at the host, the installation would be just download the plugins and unpack them to JENKINS_HOME/plugins of the ansible host.

[2020-06-08 19:31] mattclay commented on #69419
@felixfontein Flatmapping doesn't exist. However, routing entries can be created to achieve the same effect.

[2020-06-08 19:33] jimi-c commented on #59019
Closing as the above PR was merged.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code
   * IRC: #ansible or

[2020-06-08 19:33] #59019 closed, assigned to mkrizek

[2020-06-08 19:41] sivel commented on #69930
I've verified this behavior, and I think we probably just need to catch the `OSError` and raise `AnsibleFilterError` instead.

CPython change: https://github.com/python/cpython/commit/0d3fe8ae4961bf551e7d5e42559e2ede1a08fd7c

Examples between 3.8 and 3.9:

3.8:

[code]

3.9:

[code]

So previously `crypt.crypt` would just return `None` and in Py3.9 raises `OSError` if the algorithm is not supporte

[2020-06-08 19:57] jimi-c commented on #69899
Hi @deepakramanath, per the above we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions

[2020-06-08 19:57] #69899 closed, assigned to nobody

[2020-06-08 20:04] felixfontein commented on #69419
@mattclay the boolean flag in https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/code-smell/action-plugin-docs.py#L18 is called `flat`: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/code-smell/action-plugin-docs.py#L41 Since that flag is `False` for `plugins/modules/`, the module .py *must* exist directly in `plugins/modules/` and no

[2020-06-08 20:12] mattclay commented on #69419
Ah, that `flat` -- I was thinking you were referring to the proposed flat-mapping support for collections.

[2020-06-08 20:19] mattclay commented on #69419
@felixfontein Since `flat` is `False` the module must have the same subdirectory structure as the action plugin. So if an action plugin is in `plugins/action/a/b/c.py` then the module providing docs must be at `plugins/modules/a/b/c.py`.

[2020-06-08 20:25] NielsH commented on #49978
Could we get this merged? Still affects Ansible 2.9.7.post0 and RabbitMQ 3.8.4
The supplied pull request still works and I keep manually having to patch this in the python files every time I update ansible.......

[2020-06-08 20:27] felixfontein commented on #69419
Will ansible then find the action plugin? I thought subdirectories are only allowed for modules.

[2020-06-08 20:34] jborean93 commented on #69828
I'll keep it open until I've created the new ntlm-auth release. Thanks for confirming it fixes your problem as well.

[2020-06-08 20:39] samdoran commented on #69867
@ironfroggy When you get a change, can you test with #69924 to see if that fixes the issue?

[2020-06-08 20:42] goneri opened #69953 "ansible-test behavior changes silently if collection not a git repo"
#### SUMMARY

Hi all,

If we run `ansible-test sanity` in a collection that is not a git repository, we get a different result. This prevent us from testing a regular collection, installed by `ansible-galaxy`.

For instance, in `ansible-test sanity` call, `validate-module` fails:
https://c840b10bdb1c4ffd5f46-d4b4e639432347957be7d1e5f737e888.ssl.cf2.rackcdn.com/3/0a98184c5fcd07009cb520e5f8df7632716

[2020-06-08 20:43] sivel commented on #69759
I've inferred a few pieces of info.  I'm guessing that `ansible_python_interpreter` was set to something starting with `C:\Python`, and as such:

[code]

What we need to do, is make sure we have used `re.escape` when building the regex:

[code]

[2020-06-08 20:51] jborean93 commented on #69759
This is still a problem though, when you try and run a Python module on Windows we don't really have a generic error message to say this won't work. It tries to run the Python code in a PowerShell interpreter which will fail and return a fairly large error message.

[2020-06-08 20:55] g-chauvel opened #69954 "default value 'show_per_host_start' is missing"
##### SUMMARY
When enabling zuul's executor verbose status for ansible, there are a lot of traces like:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

config per playbooks used by zuul is defined in https://opendev.org/zuul/zuul/src/branch/master/zuul/executor/server.py#L2019-L2109
no show_per_host_start config is writte

[2020-06-08 20:59] sivel commented on #69953
I'm not sure this is a difference in `ansible-test`, as much as it is that `ansible-galaxy collection build` dereferences symlinks.  This accounts for the `validate-modules` failures.

I've still not been able to replicate the `duplicate-code` pylint issue, but @pabelanger has been hitting this as well.

[2020-06-08 21:01] sivel commented on #69759
It would still be an improvement over a traceback, since a traceback is a bug itself if not properly handled.  This same situation could present in other situations outside of trying to run a python module against Windows.

[2020-06-08 21:05] pabelanger commented on #69953
How are people running ansible-test sanity from a git repo? because, i get an error locally:
[code]
However, for all other ansible-test things, we ansible-galaxy collection install, then run ansible-test from that folder, which causes the duplicate-code failures.

[2020-06-08 21:05] timblaktu commented on #24864
I'm encountering this issue as well, using [geerling's ansible role](https://github.com/geerlingguy/ansible-role-jenkins), even using `state: present` (via the role's `jenkins_plugins_state: present` variable). See [here](https://github.com/geerlingguy/ansible-role-jenkins/issues/299) for more details.

[2020-06-08 21:07] maxamillion commented on #69953
@pabelanger it has to be checked out into a location that's in the [`COLLECTIONS_PATH`](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths).

[2020-06-08 21:09] jborean93 commented on #69759
Yep sorry was just trying to indicate that won't fix the underlying problem, just improve the situation a bit.

[2020-06-08 21:12] sivel commented on #69953
You would likely have to rename the dir, or copy to another location.  The current working dir for zuul is incompatible with the requirements of `ansible-test`.  As indicated by the error you would need to have the git clone accessible at a path that looks like:

[code]

And you would need to be in that dir when launching `ansible-test`

[2020-06-08 21:19] g-chauvel commented on #69954
!component =lib/ansible/plugins/callback/default.py
!component =lib/ansible/config/base.yml
!component =lib/ansible/plugins/doc_fragments/default_callback.py

[2020-06-08 21:19] relrod commented on #69638
To loop back on this -- the fix for this is going to be part of a larger future change.

We need to be able to deprecate facts (have them so deprecation warnings when used) and move addresses to a new structure to properly address this without breaking people.

Will keep open and assigned to myself, but not much I can do immediately to push this along unfortunately. :(

[2020-06-08 21:22] pabelanger commented on #69953
So, this is a little unfortunate for ansible-test sanity, we have to use a git repo, but for units and integration use compiled / installed collection. From a user POV, very confusing.

When we first started testing with ansible-test, we build everything around the idea of building the collection, installing, then tests. To give more real world setup.  What would be needed to add support for sanit

[2020-06-08 21:27] sivel commented on #69953
I'm not sure which support you are asking for.

Ultimately the problem is more with `ansible-galaxy collection build/install` than `ansible-test`.  `install` doesn't support symlinks, so `build` de-references symlinks, but there are sanity tests that fail as a result of this de-referencing.  However, we cannot simply enable `build` to not de-reference, we need to wait until all supported Ansible v

[2020-06-08 21:30] #24425 closed, assigned to sivel

[2020-06-08 21:36] pabelanger commented on #69953
Today, for sanity to work, if I am understanding properly, it has to be a git repo and not the pre-build collection downloaded from galaxy.  We'd like ansible-test sanity, to work properly with compiled collections from galaxy, this is how we do testing with all other ansible-test things.

We _can_ update our testing to use a git repo, but it would be helpful to understand why duplicate-code is no

[2020-06-08 21:40] sivel commented on #69953
I still have not been able to replicate the `duplicate-code` errors, even in this scenario.  I'll have to do more testing. My investigation has led me to believe that due to how we invoke `pylint` it should be impossible for `duplicate-code` to ever show up, but obviously something is causing it, that I cannot quantify.

[2020-06-08 21:44] pabelanger commented on #69953
When I hacked on it last week, I was only able to disable 'duplicate-code' errors by adding it to the disable list: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg#L3

[2020-06-08 21:44] sivel commented on #69953
Actually I missed a comment from above:

So git repos seem to have nothing to do with `duplicate-code`.

But `validate-modules` is affected, which I expect due to the described behavior of `ansible-galaxy`.

[2020-06-08 22:24] nitzmahone commented on #69350
@justjais can you validate this fix? It fixes the repro @ganeshrn gave me on Mac Python 2.7. Assuming it works, tests pass, etc, this should be included in the 2.9.10 release in the next week or so.

[2020-06-08 22:44] mattclay commented on #69419
It's actually the other way around. The action plugin finds the module, but yes, it should work.

[2020-06-08 22:54] rootwyrm commented on #69638
Well at least I can now be certain I'm not losing my mind! Thanks @relrod ! What does have me puzzled is that it was previously a `dict` and then switched to a `list` somewhere along the way, but I don't see any notes anywhere regarding that.

Definitely changing facts can't be done quickly (especially since that'd break other parts of my stuff!) ;) Given that though, could we perhaps get somethin

[2020-06-09 00:24] RoxyLovesToCode opened #69956 "ios modules not correctly diferentiating between IOS and IOS-XE"
##### SUMMARY
in the cisco ios module ios_facts when working with IOS and IOS-XE devices sometimes ios-xe devices are clasified as IOS-XE correctly and other times they are clasified incorrectly as IOS devices.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_facts module

using the ansible_net_iostype variable.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2020-06-09 00:35] sivel commented on #69956
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-09 00:35] #69956 closed, assigned to nobody

[2020-06-09 00:43] relrod commented on #69638
@rootwyrm I went all the way back to the latest 2.7 and it's still a list there; I think it's been that way for a long time. What version were you seeing a dict in?

[2020-06-09 01:15] cspeidel commented on #29285
Issue moved to `ansible-collections/community.general` (https://github.com/ansible-collections/community.general/issues/481).

[2020-06-09 01:19] bcoca commented on #29285
closing as per above

[2020-06-09 01:19] #29285 closed, assigned to nobody

[2020-06-09 03:31] shamaljayalath opened #69958 ""vmware_vm_shell" equivalent capability for Red Hat Virtualization"
##### SUMMARY

Hi Team, We have a customer looking at migrating from VMware to Red Hat virtualization and wanted to use Ansible as their automation platform.

The issue is when provisioning Windows VM on RHV using Windows template via Ansible, for Ansible to communicate further with Guest OS (Windows) WinRM needs to be enabled.

With VMware we used the "vmware_vm_shell" to talk to Windows guest an

[2020-06-09 03:35] shamaljayalath commented on #69958
Just to highlight second question, how do you recommend enabling WinRM on a Windows VM during running on Red Hat Virtualization  via Ansible playbook ?

[2020-06-09 04:05] snetch commented on #42581
Is there any sort of workaround for this?

[2020-06-09 04:20] justjais commented on #69350
@nitzmahone yes, it's working as expected with the fix, thank you. @ganeshrn As the issue is fixed both in `devel` and `stable-2.9` going ahead and closing the issue.

[2020-06-09 04:20] #69350 closed, assigned to nitzmahone

[2020-06-09 05:46] Akasurde commented on #69958
Issue migrated to https://github.com/ansible-collections/community.general/issues/485

[2020-06-09 05:46] #69958 closed, assigned to nobody

[2020-06-09 06:11] Andersson007 commented on #34488
close_me

[2020-06-09 06:11] Andersson007 commented on #34488
closed via https://github.com/ansible-collections/community.general/pull/468

[2020-06-09 06:15] #34488 closed, assigned to nobody

[2020-06-09 07:05] lemmy04 commented on #69793
can #14426 please be reopened for comments?

[2020-06-09 07:11] Andersson007 commented on #43594
i found that it's used by mysql_connect function internally. The function extracts the value from the `module` argument:
`plugins/module_utils/mysql.py`
[code]

[2020-06-09 07:11] Andersson007 commented on #43594
could anybody recheck manually?

[2020-06-09 07:47] mkrizek commented on #69848
In addition, to make it work on all hosts we would need to do:
[code]

I wonder what implications would the solution have if users explicitly use the `role_complete` meta task in arbitrary plays.

It could also potentially solve https://github.com/ansible/ansible/issues/22286.

[2020-06-09 09:33] Andersson007 commented on #24298
can't we do it as it is now using
[code]
?
needs_info

[2020-06-09 09:44] imjoseangel commented on #69946
Hi @Altiire Thanks for reporting. The issue is not a module related. I think you are missing the following before running it:

[code]

Could you please check? Thank you!

[2020-06-09 09:52] diLLec opened #69960 "Ansible vault not decrypted in httpapi after include_vars or set_fact"
##### SUMMARY
While using httpapi with the collection fortinet.fortios (version 1.0.11) the modules will report `quote_from_bytes() expected bytes` if used after include_vars or set_fact, because the "password" option of httapi will contain the vault dict instead of the actual password when `self.httpapi.login(self.get_option('remote_user'), self.get_option('password'))` is called in `lib\ansible\

[2020-06-09 09:58] diLLec commented on #69960
As noted in the summary, I've tracked the problem to the following line in `lib\ansible\plugins\connection\httpapi.py:241`

`            self.httpapi.login(self.get_option('remote_user'), self.get_option('password'))`

The get_options originates in `lib/ansible/plugins/__init__.py`. Putting the following there, will show that in the "EXPECTED RESULTS" case the decrypted password is returned (`...'

[2020-06-09 10:10] Altiire commented on #69946
Hi @imjoseangel ,

apt_key is the previous task:

[code]

[2020-06-09 10:23] imjoseangel commented on #69946
With the same versions I can reproduce only the scenario when the key has not been properly added:

[code]

When adding the key, everything works like a charm:

[code]

[2020-06-09 11:58] cspeidel commented on #58592
@goneri We could probably close this after not hearing back. If the issue is seen again it can be re-recreated per your suggestion at https://github.com/ansible-collections/vmware. I can set disk_mode to `independent_persistent` just fine so I haven't been able to re-recreate the reporters issue.

[2020-06-09 12:16] Barro opened #69961 "Environment variable leakage in command line parameters on multi-user systems"
##### SUMMARY

I reported this issue to Ansible security and it resulted just in a documentation update <https://github.com/ansible/ansible/pull/69618>. I would like to bring this issue up in wider community, as I don't think it's good that the internal implementation of Ansible breaks the basic assumption on how environment variables are visible to other domains. And that it is not very well docu

[2020-06-09 12:48] jamescassell commented on #65783
bisected to #50991 -- which isn't particularly helpful except to say that the become plugin merging broke it... a gigantic patch (+1800/-700)

I used the playbook from https://github.com/ansible/ansible/issues/65783#issuecomment-567718478 and the inventory here:

[code]

[2020-06-09 13:01] Altiire commented on #69946
gather_facts is enabled:

[code]

[2020-06-09 13:49] seocam commented on #68361
The patch also works for me.

[2020-06-09 14:00] fuxx commented on #20077
Doesnt look so :) A year later, any news?

[2020-06-09 14:02] bcoca opened #69963 "Interpreter discovery error leads to undefined error"
When using delegation to a non localhost entry (possibly any entry w/o ansible_python_interpreter defined).
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

interpreter_discovery
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

any

##### STEPS TO REPRODUCE

Have at least one host w/o ansible_python_interpreter defined and delegate to it.

[code]

run

[2020-06-09 14:09] bcoca commented on #69963
tracked to de3f7c7739851852dec8ea99a76c353317270b70, which fixes incorrect delegation info, but now creates a fatal error instead

[2020-06-09 14:12] sivel commented on #69848
I was thinking about that this morning as well.  I tested it.  If we wanted to document it, I'd probably rename it `end_role` to match what we have elsewhere.  It prevents any further tasks from running in the role, although I hesitate documenting it.

Also, I'm not sure we want it to be `run_once = True`. This is typically host by host in the play iterator.

[2020-06-09 14:23] mkrizek commented on #69848
The diff I posted **excludes** `role_complete` from `run_once = True` which fixes `- hosts: h1,h2` scenario of the reproducer.

[2020-06-09 14:26] sivel commented on #69848
Doh! That's what I get for not reading carefully enough on the first issue I looked at today.

[2020-06-09 14:38] sivel commented on #69960
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-09 14:38] #69960 closed, assigned to nobody

[2020-06-09 14:42] clhedrick commented on #47147
There seems to be a general issue where ansible will hang forever if the attempt to ssh hangs. This happens from time to time on a variety of systems, and is probably impossible to fix in a general way. If the ssh connection is refused or fails, ansible recovers. But if ssh hangs, ansible hangs. We really  need a timeout around the connection.

[2020-06-09 14:54] bcoca commented on #47147
As a mitigation (not a fix) we added the `timeout` keyword in #69284

[2020-06-09 15:06] samdoran commented on #69879
We have no plans to implement this feature at this time. It seems you could pass `apt_repo['repo1']` rather than `apt_repo` in order to iterate over a subelement of the dictionary.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-06-09 15:06] #69879 closed, assigned to nobody

[2020-06-09 15:28] samdoran commented on #69916
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-06-09 15:28] #69916 closed, assigned to nobody

[2020-06-09 15:42] meons commented on #58592
Sorry guys but I don't work anymore for the same company and also don't use VMware anymore.
But as far as I know, `disk_mode` isn't yet implemented in [vmware_guest_disk](https://docs.ansible.com/ansible/latest/modules/vmware_guest_disk_module.html) module as the documentation doesn't mention this attribute.

[2020-06-09 15:43] samdoran commented on #69954
This looks like an issue of how Zuul is using the API rather than an issue with Ansible itself.

[2020-06-09 15:49] aslafy-z commented on #54748
I'm hitting the same issue. Any workaround so far?

@jithendra12 Any chance you rebase your OP with the template linked above so it gets well triaged and maybe fixed someday? Thanks!

[2020-06-09 15:54] Akasurde commented on #69914
Issue migrated to https://github.com/ansible-collections/amazon.aws/issues/65

[2020-06-09 15:54] #69914 closed, assigned to nobody

[2020-06-09 15:55] Akasurde commented on #69914
We think that this issue is related to aws_ec2 inventory plugins. So migrated this issue to above location. Thanks.

[2020-06-09 16:12] cspeidel commented on #58592
Hi @meons, `disk_mode` has been added to the newer version of the module [vmware_guest_disk](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_guest_disk.py) at the new location in ansible-collections (https://github.com/ansible-collections/vmware), which will be the default module location in 2.10.

In 2.9 the modules can be installed via `ansible-galaxy collection

[2020-06-09 17:03] samdoran commented on #69638
In the absence of a clean way to deprecate facts, the safest path forward is adding `ipv4_secondaries` to BSD. That would provide consistent data across platforms.

I'm less sure about when to change the value of `ipv4` on BSD since that would break things, but it seems the long term goal should be `ipv4` should be a dict of the primary interface data, matching Linux.

Changing the facts for Linux

[2020-06-09 17:04] JuddTracy-DAS commented on #53623
Was anything done to rectify this?  I am having the same issue and don't see a way to set the tar options when using ansible-galaxy.

[2020-06-09 17:05] #56788 closed, assigned to samdoran

[2020-06-09 17:42] jimi-c commented on #69848
Overall, I approve of this fix idea. As noted in a side conversation, we just need to make sure we apply the `always` tag (and probably need to do that for any other implicit metas we insert) to make sure if we start allowing tag filters on meta that things don't break.

[2020-06-09 17:45] relrod commented on #69638
@samdoran Our Linux handling of this is wrong too, though, since it seemingly designates one IP as primary, and Linux can have multiple primary IPs per interface (one per subnet that the interface has an IP for) - we don't currently allow that, we shove all primaries except for the first one we see into `ipv4_secondaries`. See #29187.

[2020-06-09 17:46] relrod commented on #69638
(You can see which IPs Linux thinks are primary because they won't say `secondary` in the `inet` line in `ip a` output)

[2020-06-09 17:57] seocam commented on #68361
After some more debugging it seems to me that the actual cause of the problems is this line:

```pkg = import_module(self._package_name)```

This is trying to import the code inside the controller while that should actually run in the host only. It seems to me that this is already fixed in the development branch.

In case of `ansible-freeipa` if depend on ipalib and and other libraries, when we tr

[2020-06-09 18:00] seocam commented on #68361
If my hypothesis is correct this should be reproducible by any collection with external dependencies inside module_utils as soon as this dependencies are not installed in the controller.

I might have time to try to isolate and reproduce it later this week or early next week.

[2020-06-09 18:10] jkroepke commented on #69914
@Akasurde Thanks.

Instead re-create issues, you could just [transfer them](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository).

[2020-06-09 18:41] samdoran commented on #69638
Interesting. That makes changing it to be correct much more difficult since as you stated earlier. 😖

[2020-06-09 18:51] Shrews commented on #69954
The default value is being defined in the documentation fragment for the default callback (from which you are subclassing), which is [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/default_callback.py#L58-L68). If you subclass the default, then you also need to include the doc fragment to get the default. Something like this added to your callback should get

[2020-06-09 19:04] impala454 commented on #57920
@jdufresne I managed a workaround for that case as well.  Though am following this issue for the correct solution.
[code]

[2020-06-09 19:12] rootwyrm commented on #69638
It's possible I'm misremembering, or, it was pre-2.7.
But boy howdy do I get to make it even more interesting if the fix is to match Linux behavior, by bringing in... IPv6 problems too! Because Ansible gets the wrong primary on FreeBSD for the IPv6, every time, because there will always be two IPv6 addresses. And it makes incorrect assumptions because Linux insists on making up their own definitio

[2020-06-09 19:40] johnpetersjr commented on #67311
Why is @ansibot removing support:core from this?

According to ansible documentation, this is a CORE module?

https://docs.ansible.com/ansible/latest/modules/ec2_group_module.html
https://docs.ansible.com/ansible/latest/modules/core_maintained.html#amazon

If Ansible Core Team @adq will no longer support this AWS base module, I think we all need to be aware of that decision, and update the ansible

[2020-06-09 19:44] sivel commented on #67311
`support:core` is being removed, because this plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

This issue will need to be re-submitted in the above repository.

The bot is indicating that this issue will be auto closed within a few weeks.

[2020-06-09 20:05] noahbailey commented on #67311
Is there an automated process or xposting this to the amazon.aws repository, or will I need to copy-paste?

[2020-06-09 20:08] sivel commented on #67311
Unfortunately there are technical limitations of GitHub that do not offer a way to move issues to the collections repos.  As such, it'll have to be a copy/paste.

[2020-06-09 20:13] noahbailey commented on #67311
Thanks @sivel, made a new issue in the `ansible.aws` repository...

[2020-06-09 20:13] #67311 closed, assigned to nobody

[2020-06-09 21:09] sivel commented on #68361
If your module or plugin tracebacks when importing with an `ImportError`, or any exception for that matter, then your module or plugin is lacking the recommended safe guards, that would be reported by `ansible-test sanity --test import`.

Any non-stdlib import should be wrapped in a `try/except` and set `HAS_SOMELIB = True/False` depending on the success of the import. And then during actual runti

[2020-06-09 21:39] mjhorndotnet opened #69973 "nxos_config does not allow block replace when providing src rather than lines"
##### SUMMARY
When using the nxos_config module and providing the desired config via a template passed to the src argument, any differences are replaced line by line. Trying to set replace=block throws the following error:

``` msg: 'replace is block but all of the following are missing: lines'```

This can cause issues such as in my use case of managing route-maps. The template generates a route-

[2020-06-09 23:14] s-hertel commented on #59864
Fixed by #69919

[2020-06-09 23:15] #59864 closed, assigned to nobody

[2020-06-09 23:44] Jim-Ivey opened #69975 "version compare returns false when comparing 2.9.9 < 2.10."
##### SUMMARY
In Ansible version 2.9.9, the following assertion fails:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`assert` module, `version` test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Include the following in a playbook:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

The assertion fail

[2020-06-10 01:10] sivel commented on #69975
The problem is that the `version` test requires a string, and you have given it a dict.

You need:

[code]
or
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-10 01:10] #69975 closed, assigned to nobody

[2020-06-10 01:17] WhileLoop commented on #40303
Same issue with ansible 2.9.9

[code]

[code]

[code]

[2020-06-10 05:02] Akasurde commented on #69914
`amazon.aws` is in a different organization, transferring issues is only possible within the organization.

[2020-06-10 06:35] Andersson007 commented on #24418
resolved_by https://github.com/ansible-collections/community.general/pull/486
@MarcinOrlowski ^ and others who are interested in, ready for review

[2020-06-10 06:53] mkrizek commented on #69973
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-10 06:53] #69973 closed, assigned to nobody

[2020-06-10 06:58] Andersson007 commented on #26919
i've just looked at https://github.com/ansible/ansible/pull/40183. There are some difficulties to solve the problem that way.
What about a separate boolean parameter called 'config_overrides_defaults' ? If `yes` it will parse a config file and will override default values if the parameters are presented in the file.
I could implement that pretty quickly, i think, after https://github.com/ansible-c

[2020-06-10 07:52] Andersson007 commented on #29611
just remove quotes from there, e.g.
[code]

[2020-06-10 07:57] Andersson007 commented on #29611
close_me

[2020-06-10 07:58] Andersson007 commented on #29611
closed via incorrect module usage

[2020-06-10 08:05] Andersson007 commented on #29644
is this relevant to the latest ansible version?
needs_info

[2020-06-10 08:13] #29611 closed, assigned to nobody

[2020-06-10 08:22] Andersson007 commented on #29644
@meggnas thanks for reporting the issue!
I'm seeing incorrect cursor uses are still presented. Fixed by https://github.com/ansible-collections/community.general/pull/490 , ready for review
@rmpratt1 thanks for pointing this out!

[2020-06-10 09:04] Akasurde commented on #47329
resolved_by_pr https://github.com/ansible-collections/vmware/pull/201

[2020-06-10 09:04] #47329 closed, assigned to nobody

[2020-06-10 09:04] Akasurde commented on #47329
@Tomorrow9 Thanks for the contribution.

[2020-06-10 09:04] Akasurde commented on #43000
resolved_by_pr https://github.com/ansible-collections/vmware/pull/201

[2020-06-10 09:04] #43000 closed, assigned to nobody

[2020-06-10 09:05] Akasurde commented on #43000
@Tomorrow9 Thanks for the contribution.

[2020-06-10 09:11] RehabRezek opened #69979 "Ansible ignore lines on pushing prefix-set configuration"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2020-06-10 09:12] RehabRezek commented on #69979
Hello

[2020-06-10 09:12] #69979 closed, assigned to nobody

[2020-06-10 09:19] RehabRezek opened #69980 "ansible ignore some lines on pushing prefix-set configuration"
Hello,
i'm trying to push this prefix-set configuration on cisco ioxr with ansible
[code]
which are  ip and comment for each prefix-set
but in every time ansible ignore the comment line and only ips are pushing to device
any help if someone tried to push prefix-set before!?

[2020-06-10 09:29] Akasurde commented on #69980
Issue migrated to https://github.com/ansible-collections/cisco.iosxr/issues/36

[2020-06-10 09:29] #69980 closed, assigned to nobody

[2020-06-10 09:47] Andersson007 commented on #24418
close_me

[2020-06-10 09:47] Andersson007 commented on #24418
closed via https://github.com/ansible-collections/community.general/pull/486

[2020-06-10 09:54] #24418 closed, assigned to nobody

[2020-06-10 10:21] mkrizek commented on #69882
I was able to infer a simple reproducer from the `ovirt.hosted_engine_setup` role:

#### playbook.yml
[code]

#### roles/ovirt-fake/tasks/main.yml
[code]

#### roles/ovirt-fake/tasks/full_execution.yml
[code]

#### roles/ovirt-fake/tasks/002_validate_hostname_tasks.yml
[code]

It appears that in:
[code]

`parent_include.args.get('_raw_params')` evaluates to `None` when `parent_include` is of type

[2020-06-10 10:42] D3DeFi opened #69981 "`ansible-test` gives precedence to roles/ over tests/integration/targets/"
##### SUMMARY
When running `ansible-test integration` inside collection where roles and integration roles names match, `ansible-test` will try to run role from `roles/*` directory and fail integration tests.

We are hitting this in zabbix community collection as there is name match with module `zabbix_proxy` and role `zabbix_proxy` (we had to rename roles from zabbix-XY to zabbix_XY).

This can be

[2020-06-10 11:15] Roofi27 opened #69982 "rpm scriptlet output isn't logged to /var/log/dnf.rpm.log"
##### SUMMARY
Even after changes from https://github.com/ansible/ansible/pull/69480, there is still problem with logging rpm console output to /var/log/dnf.rpm.log. Currently it ignores all output from rpm and log only simple info line with installed component name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- dnf/yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2020-06-10 11:26] D3DeFi commented on #69981
-label has_pr

[2020-06-10 11:26] emonty commented on #69954
@Shrews thanks! We had the doc fragment in our other callback plugins but it was missing from this one. https://review.opendev.org/734797 should fix it

[2020-06-10 11:48] aminvakil opened #69983 "Add --nobest to dnf module"
##### SUMMARY

dnf has a nobest [option](https://dnf.readthedocs.io/en/latest/command_ref.html#options-label) which does the following:

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

dnf

##### ADDITIONAL INFORMATION

Docker cannot be installed on CentOS8 without `--nobest` option and later on every time you want to do dnf upgrade you should pass `--nobest` option again, so that it does n

[2020-06-10 12:35] #69954 closed, assigned to Akasurde, Shrews

[2020-06-10 12:38] IanMoroney opened #69984 "Unable to set idempotent firewall rule on windows firewall."
##### SUMMARY

When using

it seems that when you try to re-run the ansible code, it fails, saying the rule exists but has different values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS version: Windows Server 2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'd e

[2020-06-10 13:57] #69984 closed, assigned to nobody

[2020-06-10 14:07] evgeni opened #69986 "support string formatting of DOCUMENTATION"
##### SUMMARY
It would be useful if the `DOCUMENTATION` string inside an Ansible module could be formatted using Python's string formatting capabilities. (Currently it cannot and the whole doc section will be rejected as invalid).

One possible usecase is when you build modules that in some contexts need to mention a product name, and in others should not (branding). This mostly applies to "descri

[2020-06-10 15:18] ainiml opened #69988 "file module to support asterisk pattern expansion"
##### SUMMARY

It seems that when using an `*` in the `path` it is taking the path literally, and not expanding it out to match other files.

The file doesn't get deleted, and all matching files aren't deleted either

[code]

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

file

[2020-06-10 17:03] wisotzky opened #69990 "paramiko_conn is not getting initialised with net_get/net_put modules"
##### SUMMARY
Both net_get and net_put run into errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Plugin cliconf
Plugin connection/network_cli

##### ANSIBLE VERSION
```ansible 2.9.5```

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Files getting transferred.

##### ACTUAL RESULTS
[code]

Error happens because of:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugin

[2020-06-10 17:22] #56626 closed, assigned to nobody

[2020-06-10 17:22] #64154 closed, assigned to nobody

[2020-06-10 19:36] #69867 closed, assigned to samdoran

[2020-06-10 22:01] branleb opened #69995 "redis cache plugin does not accept (bracketed) IPv6 addresses"
##### SUMMARY

The redis cache plugin does not accept a fact_caching_connection with an IPv6 address

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redis cache plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I used Debian Buster 10.4 backports packages

##### STEPS TO REPRODUCE

Change CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) to a value w

[2020-06-10 22:53] #69995 closed, assigned to nobody

[2020-06-10 23:54] cisco-abrandel opened #69998 "nxos_config non-idempotent on nested interface config"
##### SUMMARY

I'm using nxos_config with a template as the src to apply configurations to some SVIs, but there seems to be an issue with idempotency on the nested HSRP config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS targeting NXOS 7.3(7)N1(1) Nexus 5K.

##### STEPS TO REPRODUCE

[co

[2020-06-10 23:57] deepakramanath commented on #69899
What I noticed is that having `stdout_callback = counter_enabled`  does not print any `stdout` only when used with loops.  Otherwise, it does not affect the `stdout`. I still consider this as a bug when `stdout_callback = counter_enabled` behaviour is particularly not well documented.

[2020-06-11 00:15] sivel commented on #69899
If you wish to file a bug for the `counter_enabled` callback plugin, you can do so at https://github.com/ansible-collections/community.general

[2020-06-11 00:15] fbruetting commented on #59692
Has there been any progress on this?

[2020-06-11 00:17] sivel commented on #59692
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-11 00:17] #59692 closed, assigned to nobody

[2020-06-11 01:08] sivel commented on #69998
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-11 01:08] #69998 closed, assigned to nobody

[2020-06-11 05:32] mkrizek commented on #58941
Closing per above.

[2020-06-11 05:32] #58941 closed, assigned to nobody

[2020-06-11 05:40] froebela commented on #66502
I created pull request #69964 in order to address it for Ansible release 2.9.

[2020-06-11 05:54] ganeshrn commented on #69774
@EpiqSty The [junipernetworks.junos](https://github.com/ansible-collections/junipernetworks.junos) collection will be continued to be maintained by Ansible network team. These `junos` modules will be part of Ansible 2.10 community distribution and also can be downloaded from ansible galaxy [here](https://galaxy.ansible.com/junipernetworks/junos). The product version of this collection will be avai

[2020-06-11 05:54] froebela commented on #66497
I've just repeated the tests with Ansible 2.9.9 and the behavior is still the same.

[2020-06-11 06:04] mkrizek commented on #66502
The change would need to be merged in https://github.com/ansible-collections/community.general/ first in order to be backported to 2.9 in ansible/ansible.

[2020-06-11 06:18] froebela commented on #66497
I updated the original problem description in order to reflect our current Ansible version, hoping that this issue is retagged with "affects_2.9" and as a result gets more attention.

[2020-06-11 06:56] froebela commented on #66502
Thanks for pointing that out. To be honest, I wanted to open a pull request in the devel branch of the [ansible/ansible](https://github.com/ansible/ansible) repo, but couldn't find the zfs module anymore. As I didn't know at that time, where it has gone, I decided to open the pull request for the stable-2.9 branch instead.

As I'm quite new to contributing to the Ansible code I need some help in h

[2020-06-11 06:57] tyll opened #70000 "ansible-playbook returns 0 when failure occures in always block after rescue was used"
##### SUMMARY
https://github.com/ansible/ansible/issues/31543#issuecomment-390455919

@mixja wrote:
To add to this, if you rescue a block and then have a failure in the always section, the playbook will exit with a failure message, however the shell exit code is 0 (success). If you don't have a rescue block, failures in the always section do fail and correctly return an non-zero (error) shell exit

[2020-06-11 07:22] Akasurde commented on #19721
Fixed via https://github.com/ansible/ansible/pull/45495

[code]

[code]

[2020-06-11 07:22] #19721 closed, assigned to nobody

[2020-06-11 07:33] saravananoff opened #70001 "VMware: vmware_guest module does not set network for RHEL 8 images"
##### SUMMARY

While using vmware_guest to clone RHEL 8 from template the network configuration is being ignored. Same parameters input works for RHEL 7.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cloning VM from template using ansible vmware_guest module. Executed through Debian 10 docker

[2020-06-11 07:44] mkrizek commented on #70001
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-06-11 07:44] #70001 closed, assigned to nobody

[2020-06-11 08:10] mkrizek commented on #70000
Thanks for the bug report.

I have tracked this down to:
https://github.com/ansible/ansible/blob/6c2be04b6fe19b8cd3151ede89d6e10ef6acb031/lib/ansible/plugins/strategy/__init__.py#L271

Where we seem to ignore `ITERATING_COMPLETE` state in `PlayIterator._check_failed_state`.

I have bad experience with making changes to `_check_failed_state` but the below diff fixes this specific issue:
[code]

Not

[2020-06-11 08:33] mkrizek commented on #66502
You need to create a new pull request manually in https://github.com/ansible-collections/community.general. Once that is merged, open a backport PR in ansible/ansible.

[2020-06-11 08:41] peter-janssen commented on #51530
Is there a work around for this problem?

[2020-06-11 08:43] gthieleb commented on #69853
I am also facing this issue

[code]

The variable is used once in a role defaults file:

[code]

[code]

[2020-06-11 10:44] mkrizek commented on #69882
Looking into this a bit more and with the current understanding, I think the following diff should be closer to "the real fix" (tm):
[code]

[2020-06-11 10:58] vengaar commented on #69853
Hi gthieleb,

I think the warning (but it is only that I guess) is not about 'discovered_interpreter_python ' but about the key 'ansible_facts' inside the facts. The key 'discovered_interpreter_python' is well expected.

If I do a grep on json file used for cache
I thinks the issue come from key 'ansible_facts' not from the value

![image](https://user-images.githubusercontent.com/14158884/8437713

[2020-06-11 11:21] ssbarnea opened #70003 "dnf module: undocumented return values diverging from other modules"
##### SUMMARY
Current implementation of `dnf` module diverges from the one of other similar packaging modules by failing to rely solely on the `msg` return value.

Module also returns critical information inside [undocumented `failures: []` value](https://docs.ansible.com/ansible/latest/modules/dnf_module.html), something for which we were unable to identify any other module.

##### ISSUE TYPE
- B

[2020-06-11 11:47] davidklaftenegger commented on #50822
I am not sure whether this is a separate bug, or this one again:
the `openvpn` service from `net-vpn/openvpn` on gentoo, when configured as a VPN client, outputs `FAILED! => {"changed": false, "msg": " * WARNING: openvpn has started, but is inactive\n"}` when started through ansible. Afterwards it is working fine, but of course the playbook is aborted if this failure is not explicitly ignored.

[2020-06-11 12:37] ghost opened #70004 "Add b64decode option directly to Slurp"
##### SUMMARY

It is making templates un-readably messy to repeatedly add
[code]
rather than just
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Slurp

##### ADDITIONAL INFORMATION

[code]

[2020-06-11 12:49] Akasurde commented on #48813
resolved_by_pr #70006

[2020-06-11 12:49] Akasurde commented on #48813
@msilmser, Could you please check PR #70006 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-11 14:05] Akasurde commented on #24644
!component =lib/ansible/modules/setup.py

[2020-06-11 14:29] gw0 commented on #69579
Stumbled upon the same issue. It would be best to update the docs that the old Helm module is deprecated (https://docs.ansible.com/ansible/latest/modules/helm_module.html).

[2020-06-11 14:33] sivel commented on #70004
Unfortunately we cannot directly transmit non-base64 data, as it has to be JSON encoded. We do not perform any special post processing on module returns, and we cannot directly build in a jinja2 pipeline into variables.

As such you may have a few options:

1. Use `set_fact` to set an intermediate variable, assuming that the data is not binary.
1. Create your own filter, that incorporates both res

[2020-06-11 14:33] #70004 closed, assigned to nobody

[2020-06-11 14:40] #69465 closed, assigned to nobody

[2020-06-11 14:46] Deepak7b commented on #44589
Redundancy adding a second NIC works!

[2020-06-11 15:00] webknjaz opened #70009 "`ansible-galaxy collection install` explodes for some collections on `devel`"
#### SUMMARY

Installing `amazon.aws` collection fails on ansible/ansible@devel, supposedly because of the embedded symlinks:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy CLI

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Running the install should be enough:

[code]

##### EXPECTED RESULTS

The collect

[2020-06-11 15:01] jonnyfiveiq opened #70010 "Add "downloaded from...." to ansible-galaxy cli"
##### SUMMARY
When running ansible-galaxy cli it would be beneficial to see the source for the downloaded collection. This could be only on verbose or in standard view.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-galaxy

##### ADDITIONAL INFORMATION
My ansible.cfg is configured as follows;
[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url=https://cloud.re

[2020-06-11 15:04] bcoca commented on #70009
bisect: d30fc6c0b359f631130b0e979d9a78a7b3747d48 is the first bad commit

[2020-06-11 15:06] webknjaz commented on #70009
￼So we should probably cc @jborean93.

[2020-06-11 15:21] samdoran commented on #70009
As @sivel pointed out, the issue is the actual member in the tar file contains a trailing slash while the call does not:

[code]

[2020-06-11 15:45] samdoran commented on #70009
What's curious is there are no paths in the `FILES.json` that end with `/` but the archive itself contains some members with trailing slashes:

[code]

I wonder why only some dirs in the archive contain the trailing slash.

[2020-06-11 16:13] samdoran commented on #70009
I know this tarfile is a bit old. I'd be curious to know the Ansible version used to generate it since I generated a new tarfile with `ansible-galaxy collection build ansible.aws` using `devel` and the commit before https://github.com/ansible/ansible/commit/d30fc6c0b359f631130b0e979d9a78a7b3747d48 and didn't get any tarfile members with trailing slashes. 😕

[2020-06-11 16:15] webknjaz commented on #70009
Maybe it's symlinks vs real dirs?

[2020-06-11 16:19] samdoran commented on #70009
Could be. I would like to look at the code at the time the tarfile was created. I didn't see any tags in `ansible-collections/ansible.aws`.

[2020-06-11 16:20] webknjaz commented on #70009
Yep, that's what confused me.

[2020-06-11 16:21] samdoran commented on #70009
I just built the archive with 2.9.9 and didn't get and dirs with trailing slashes. I wonder if it could be symlinks that pointed to references with a trailing slash.

[code]

I'll test.

[2020-06-11 16:28] josephpisciotta opened #70012 "URI Module: Allow raw data to be passed to client_cert and client_key"
##### SUMMARY

Allow raw data to be passed to client_cert and client_key in the URI module. Currently the module only allows these fields to be paths. Either modify the type to allow for data or create new fields for raw data. This would allow for data to be passed to the client cert and key from external sources (Hashicorp Vault, custom credentials in Tower), without the need to write temporary f

[2020-06-11 16:29] samdoran commented on #70009
No, still don't get members with trailing slashes (created archive with `ansible-galaxy collection build amazon.aws` on Ansible 2.9.9).

[code]

[2020-06-11 16:31] samdoran commented on #70009
Anyway, rather than investigate why we have _some_ dirs with trailing `/` in the archive, maybe we could just handle them.

I'm not sure how the `tarfile` library works, but it could have to do with underlying things on my system as to why I can't create tar files with the trailing `/`, or my version of Python, or my version of `tarfile`. Still too many variables.

[2020-06-11 16:39] s-hertel commented on #70009
changing this line seems to have caused it https://github.com/ansible/ansible/pull/69959/files#diff-2de3c8cc3e7fae814d02b3058f0c8f9eL273

[2020-06-11 17:04] samdoran commented on #70009
@s-hertel Nice find! Seems that before it was flexible because it accepted dirs with or without the trailing slash. Now, it has to match the member name exactly. Seems like `_extract_tar` should be where the bugfix is.

I would still like to know how to actually create a tar where the `tarfile` library returns the member with a trailing slash, but that's not terribly important at this point.

[2020-06-11 17:05] internetionals opened #70014 "Version comparison: '<' not supported between instances of 'str' and 'int'"
##### SUMMARY
The `version` test behaves differently between Ansible being run under Python 2.7 and under Python 3.7 and raises an error when the two version strings don't have identical layouts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
version test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Buster with Ansible installed using `pip`

#####

[2020-06-11 17:21] sivel commented on #70014
This is due to the fact that the version comparison uses `distutils.version` for version comparions, and you cannot compare different types on python3.

The `v` prefix makes the versions not comparable. To address this would require us to create and maintain our own version comparison class, which I'm not entirely sure we want to do.

Even if we were to "fix" the inability of `distutils.version` t

[2020-06-11 17:46] goneri opened #70017 "arguments_spec fails if elements is a type (vs a string)"
##### SUMMARY

Since https://github.com/ansible/ansible/pull/57145, `elements=str` in Arguments_spec raises an error. We need to use elements="str" instead. I've done a workaround for VMware ( ansible-collections/vmware#235 ), but we may see more cases like that in the future. Is this an expected behaviour?

[code]

The error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansib

[2020-06-11 17:49] sivel commented on #70017
@goneri I assume you get a `TypeError`?

We probably need to make sure we are only passing `kwargs` when the `type` or `elements` is provided as a string type, which means it's one of our parsers, rather than a custom callable.

[2020-06-11 17:54] goneri commented on #70017
I've updated the description with the error message.

[2020-06-11 18:10] yurtesen opened #70018 "copy module leaves temporary files behind if connection is broken"
##### SUMMARY
I have realized that `copy` module leaves temporary files behind if connection is broken for any reason. This includes if ansible is interrupted with CTRL-C also. These files can add up quickly with unreliable connections.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy module
https://docs.ansible.com/ansible/latest/modules/copy_module.html

##### ANSIBLE VERSION
[code]

##

[2020-06-11 18:37] ironfroggy opened #70019 "Long import wait times in `ansible-galaxy collection publish` break on token expiration"
##### SUMMARY
The `ansible-galaxy collection publish` command, when interacting with Automation Hub, uses the Keycloak authentication protocol to fetch an access token for API requests during the session. It continues to use this token for the length of the process. When performing a collection publish operation, the client polls the import task endpoint repeatedly until getting a failed or succes

[2020-06-11 18:47] #69814 closed, assigned to nobody

[2020-06-11 18:48] cbutterfield opened #70022 "os_image fails with "openstacksdk is required for this module" when openstacksdk is installed"
The is a previous bug report about this that is locked.  That is really where I would like to put this comment.  I've run into this problem in several environments, all of which are RedHat derived - Fedora-31, Fedora-32, CentOS-7 (OpenStack-Train).  Oddly it seems that things were working OK until recently, but I'm not 100% sure of that.

I ONLY run into this when invoking os_server is parallel, n

[2020-06-11 18:49] sivel commented on #70022
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2020-06-11 18:49] #70022 closed, assigned to nobody

[2020-06-11 19:04] mwhahaha opened #70023 "execution fails with AttributeError: 'Block' object has no attribute '_host'"
##### SUMMARY

We're seeing a random failure where _process_pending_reults in the base strategy appears to be getting non-task result objects.

[code]

We've also seen:
ERROR! Unexpected Exception, this is probably a bug: 'IncludeRole' object has no attribute '_host'
ERROR! Unexpected Exception, this is probably a bug: 'Task' object has no attribute '_host'
ERROR! Unexpected Exception, this is pro

[2020-06-11 19:05] benklop commented on #50434
Add `user_install: no` to the gem resource and it should work

[2020-06-11 19:09] samccann opened #70024 "Add example of how to use the required_if and other parts of argspec in modules"
##### SUMMARY

Based on a request in IRC:

Currently, the only documentation about `required_if` exists in the Windows module development doc:

https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general_windows.html

There may be other parts of the argspec we don't currently document clearly as well.

Steps to fix this include:

- [ ] add that detail to https://docs.ansible.com/a

[2020-06-11 19:13] samccann commented on #70024
@sayee-jadhav will be tackling this issue.

[2020-06-11 19:16] cbutterfield commented on #70022
OK I created what they call a story (presumably an allusion to user stories) as https://storyboard.openstack.org/#!/story/2007798

[2020-06-11 19:16] samdoran commented on #69988
This is by design. `file` does not support globbing since it makes no sense for most of its functionality. Using a `find` task, which does support globbing, combined with with `file` for removal.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-11 19:16] #69988 closed, assigned to nobody

[2020-06-11 19:19] #69783 closed, assigned to nobody

[2020-06-11 19:21] mwhahaha commented on #70023
I'm wondering if there's an issue on the results queue similar to what we were seeing with https://github.com/ansible/ansible/commit/a4072ad0e9c718b6946d599ba05c8a67e26a8195

[2020-06-11 19:24] samdoran commented on #70003
This was something that the `yum` module chose to add and is not a standard value expected to returned by all modules. This just needs to be added to the `yum` and `dnf` modules for consistency within those modules.

[2020-06-11 19:31] felixfontein commented on #70024
Document deprecation by date, and module deprecation in collections.

[2020-06-11 19:35] samdoran commented on #70010
Currently we show the API calls with running with `-vvvv`:

[code]

[2020-06-11 19:36] samdoran commented on #70010
We may want to show this more succinctly rather than with all the other information contained in `-vvvv`.

[2020-06-11 19:38] sivel commented on #70023
I cannot imagine how we could get anything other than a `TaskResult` object from the queue. The only thing I can imagine is that some other plugin, like a callback, is attempting to insert things into `tqm._final_q`.

I suppose we could be more strict about ensuring we are rejecting invalid objects, in case someone was actually injecting invalid objects into the queue.

[code]

[2020-06-11 19:43] samdoran commented on #70014
Closing per above.

[2020-06-11 19:43] #70014 closed, assigned to nobody

[2020-06-11 19:43] sivel commented on #54521
Thank you very much for your interest in Ansible. The meraki plugins are no longer maintained in this repository and have been migrated to https://github.com/CiscoDevNet/ansible-meraki

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-06-11 19:43] #54521 closed, assigned to nobody

[2020-06-11 19:44] sivel commented on #56128
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-11 19:44] #56128 closed, assigned to nobody

[2020-06-11 19:52] samdoran commented on #70018
We do have cleanup that runs, but given the large number of ways connections can be terminated, we cannot guarantee cleanup of temp files on the remote host. Maybe this should be documented more thoroughly.

[2020-06-11 19:53] samdoran commented on #70019
cc @jborean93

[2020-06-11 19:56] jborean93 commented on #32554
This is a known problem on macOS and we even have it documented for the WinRM connection plugins under https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/windows_winrm.rst#what-is-winrm

There's nothing we can do from an Ansible perspective as it's a result of checking the proxy settings on the type of worker that Ansible forks.

[2020-06-11 19:56] #32554 closed, assigned to nobody

[2020-06-11 19:59] samdoran commented on #70023
Is there a custom plugin involved that could be passing an invalid object? Is there any way to provide a potential reproducer? It seems that this may be an incorrect usage of the API, passing invalid objects.

[2020-06-11 20:17] #69905 closed, assigned to nobody

[2020-06-11 20:30] mwhahaha commented on #70023
It doesn't seem to be fitting any pattern as the tasks that it's failed on have been include_role, include_tasks and shell tasks. Also with different execution environments (source based ansible in a virtualenv, via rpm) but all py3 under centos8. It feels like maybe there's a python3 bug around threading.

Here are some tasks that have triggered failures:

https://opendev.org/openstack/ansible-ro

[2020-06-11 21:09] forestoden opened #70027 "FortiOS Router BGP Module fails to configure neighbors"
#### SUMMARY

When using the `fortios_router_bgp` module, I am unable to configure neighbors using Ansible. I am able to do it manually, and interestingly enough, when I delete the manual config and try to run the Ansible again, it seems to work _sometimes_.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fortios_router_bgp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2020-06-11 21:27] Shrews commented on #70023
Hi @mwhahaha,

Sorry you're running into some nasty tracebacks there. However, as there is virtually no knowledge of Zuul and how it operates within the Ansible team (except for myself since I used to work on that product),  this problem is extremely difficult to diagnose and analyze. Even I would have problems tracking this down without some intense digging and time spent understanding your proje

[2020-06-11 21:34] emonty commented on #70023
@mwhahaha I'd definitely suggest we chat about this in an opendev/zuul context - or possibly with the software factory team (depending on what you are doing) There are definitely some custom plugins involved in a zuul run, so I think we should start there if you are seeing issues and we can always escalate to the Ansible team if need be.

[2020-06-11 21:36] emonty commented on #70023
(that said, we do _not_ have any custom strategy plugins - only custom callback plugins and the occasional custom action plugin, so I'm not sure what we'd be doing to cause this - but let's start closer to the issue?)

[2020-06-11 21:36] Shrews commented on #70023
Closing per above. Thx @emonty and @mwhahaha. Feel free to open a new bug report if the problem is determined to be within Ansible.

[2020-06-11 21:39] mwhahaha commented on #70023
Uh what? zuul is just an executor. The logs provided are the output logs of run. meaning the equivalent of a bash execution of ansible-playbook.  This is not being run in zuul. The provided logs were ansible being run via ansible shell on a full centos8 vm.

[2020-06-11 21:40] mwhahaha commented on #70023
This would be the equivalent of me pasting shippable logs and you claiming it's not an ansible bug because shippable ran it. I think you need to not be so quick to jump to conclusions.

[2020-06-11 21:41] emonty commented on #70023
Ah - gotcha - the zuul in the tracebacks is a red herring then.

[2020-06-11 21:41] mwhahaha commented on #70023
Zuul was the user on the vm...

[2020-06-11 21:42] emonty commented on #70023
yeah. but the custom zuul stuff isn't there - so I agree with your shippable analogy.

[2020-06-11 21:44] 7AC commented on #32554
FWIW I've seen this on macOS talking to Linux hosts, using `-f` to lower the number of forks seems to mitigate.

[2020-06-11 21:47] Shrews commented on #70023
Ok, will reopen the issue. How can we work together to get a reproducer here? Are you able to identify custom plugins involved when the traceback occurs and maybe we can start there?

[2020-06-11 21:51] jimi-c commented on #70023
There still may be some custom triple-O plugins involved. It appears there's a custom tripleo_linear strategy, but not sure if that's in use?

[2020-06-11 21:53] mwhahaha commented on #70023
So between the two different instances of execution there is no common custom plugins between the two places this failed. Neither is currently using a custom strategy either.  I am looking to grab the ansible.cfg for each place we're not touching strategies at this time due to #69730 not being available

[2020-06-11 21:53] mwhahaha commented on #70023
Also #69885 isn't available yet either so we can't use any custom strategy bits.

[2020-06-11 22:00] mwhahaha commented on #70023
For the failures with the tasks from tripleo-heat-templates and tripleo-ansible, an ansible.cfg looks like
[code]

For the tripleo-quickstart related roles, the ansible.cfg is https://opendev.org/openstack/tripleo-quickstart/src/branch/master/ansible.cfg

tripleo-quickstart uses ARA, normal execution does not.  As previously mentioned we do not use any strategies changes at the moment so linear is

[2020-06-11 22:02] Shrews commented on #70023
`forks = 80` is interesting here.

[2020-06-11 22:04] #69963 closed, assigned to nobody

[2020-06-11 22:07] Shrews commented on #70023
Not that it would immediately explain anything, but any indication that the controller node might be struggling with free memory, or maxed CPU?

[2020-06-11 22:15] bcoca commented on #69853
@vengaar that should always be added if interpreter discovery is triggered, now it will be added to the 'right host', backport PR above will be in next 2.9 release.

[2020-06-11 22:23] mwhahaha commented on #70023
It doesn't appear to be. I grabbed dstat.csv if you wanted to look at it

https://gist.github.com/mwhahaha/10b021f30b8725ed6127c4cfbe88c12e

Failure was @ 21:12:13 for reference.

We do have an html rendered version that'll be available ~2 weeks https://e54aca700460cf7abace-2c633db3240f150f6ddf18824372371d.ssl.cf1.rackcdn.com/734470/1/check/tripleo-ci-centos-8-containers-multinode/b1f63a3/logs/und

[2020-06-11 22:56] acozine opened #70030 "[2]Correct the format of the module names in the test collection"
Related to the [June 11 Core IRC meeting.](https://github.com/ansible/community/issues/541#issuecomment-642816342)

##### SUMMARY
In the meeting we agreed that the DOCUMENTATION sections of plugins in collections should use "short form" names, not FQCNs. However, the tests contain mocked collection-based plugins with FQCNs, for example, [here](https://github.com/ansible/ansible/blob/devel/test/int

[2020-06-11 22:56] superb-eddie opened #70031 "Allow win_package to accept multiple product_id's"
##### SUMMARY
Some .exe installers bundle multiple packages. I'd like to be able to specify multiple product_id's when using the win_package.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_package

##### ADDITIONAL INFORMATION
I've been working through automating our windows infrastructure with Ansible and I've come across a few installers, like SophosAV and [.Net SDKs](https://dotnet.

[2020-06-11 22:58] abadger commented on #70030
These are the four I found:

* test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/cache/notjsonfile.py:    cache: testns.testcol.notjsonfile
* test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/inventory/statichost.py:    inventory: testns.testcol.statichost
* test/integration/targets/ansible-doc/collections/ansible_

[2020-06-11 23:00] jborean93 commented on #69086
Sorry for the delay here but this is the error returned by the call to [LogonUser](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-logonuserw). Windows is saying the username or password is invalid so I'm not sure what we can do fix that.

What I recommend you try is to explicitly set the username/password using the vars directive to rule out something else setting the wrong

[2020-06-12 06:14] vengaar commented on #69853
Hi @bcoca,
Have it as the second occurrence found in the grep, I understand, but for the first ?
Is it really expected to have inside fact file a key ansible_facts ?
And if yes why the warning message ? Is it a wrong warning message ?
Thanks

[2020-06-12 06:34] robertdebock commented on #50434
That ("Add `user_install: no` to the gem resource and it should work") is a good workaround.

[2020-06-12 06:34] #50434 closed, assigned to nobody

[2020-06-12 06:50] wnieder opened #70036 "Allow regex for "tags""
##### SUMMARY

Allow regex expressions for "--tags" / "--skip-tags"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-playbook --tags
ansible-playook --skip-tags
##### ADDITIONAL INFORMATION

So far "--tags" / "--skip-tags" allows a list of tasks to be executed/skipped. Supporting regex expressions would extend the scope and limit the need to specify a bunch of tags nearly identical.

[2020-06-12 06:55] froebela commented on #66502
I updated the problem description in order to reflect our current Ansible versions. The issue also exists in Ansible 2.9 in exactly the same way as it did for Ansible 2.8.

Furthermore I created pull request [#502](https://github.com/ansible-collections/community.general/pull/502) for [ansible-collections/community.general:master](https://github.com/ansible-collections/community.general), but left

[2020-06-12 08:04] Alex131089 commented on #51530
@peter-janssen
[code]

[2020-06-12 08:43] #39486 closed, assigned to nobody

[2020-06-12 09:03] javeedf opened #70038 "User input alone should be added to the "want" variable in network resource modules"
##### SUMMARY
User input alone should be added to the "want" variable in network resource modules. Currently default values of the non-user input are also added as part of want variable.

Because of this, during "deleted" operation, non-user input values are also added for "deleted" operation. So while deleting the resource non-user input are also getting deleted

Respective line# where default va

[2020-06-12 09:52] jpmens commented on #70036
I also use similar tags with prefixes (`prefix_01`, `prefix_special`)  for individual tasks and would like to see this which would permit me to target a tag of `prefix_.*`, say.

[2020-06-12 10:28] sbalasa opened #70039 "Handle list entry in name_servers"
##### SUMMARY

Handle list entry in name_servers

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

name_servers under bigip_device_dns f5 network module

##### ADDITIONAL INFORMATION

[code]

[2020-06-12 11:28] Fixmetal commented on #26586
Just ran into this issue which surprisingly enough it's been opened since 2017. Can any developer/maintainer tell us if there's some philosophical reason for this odd behavior or otherwise just do a PR and fix to work in a more proper way?
Thanks a lot

[2020-06-12 12:59] Udayendu commented on #47427
I have tested PR #65902 to rename the datastore and its working perfectly. I have tested it on vCenter 6.5 and 6.7.

[2020-06-12 14:38] neuroticnerd commented on #44689
Still running into this problem on newer releases. I have included information below about my specific use, but the problem extends to any module with the backup option when operating on a FAT32 or VFAT filesystem; I would guess that these are not the only filesystems where the backup file pattern contains invalid characters.

Host
[code]
Raspberry Pi 2B
[code]

For managing things like Raspberry

[2020-06-12 15:18] relrod commented on #69982
@Roofi27

I'm not sure what you're not seeing that you see when running it from the CLI.

This is what the CLI does too. When I run `dnf install emacs-nox` manually, I see this:

[code]

needs_info

[2020-06-12 15:27] Akasurde commented on #70039
@sbalasa Thanks for reporting this issue. F5 modules migrated to https://github.com/F5Networks/f5-ansible/blob/devel/ansible_collections/f5networks/f5_modules/plugins/modules/bigip_device_dns.py.

Could you please raise issue against https://github.com/F5Networks/f5-ansible/issues/new?

Thanks,

[2020-06-12 15:27] #70039 closed, assigned to nobody

[2020-06-12 15:42] Roofi27 commented on #69982
@relrod
Not all rpm's log some additional information, but there is such possibility. For example if you add in preinstall/postinstall script something like this:
[code]
Then you will see this line in dnf.rpm.log when installing rpm from CLI.

I can prepare rpm with similar preinstall/postinstall script for you to be able to reproduce the problem.

[2020-06-12 17:15] dogfish182 commented on #67789
Hi,

We've been testing this plugin and it seems that its a race condition. Relies on a pre-signed URL that sometimes (in our experience usually) doesn't become valid until AFTER ansible has tried to retrieve it resulting in a

`File \"/home/ssm-user/.ansible/tmp/ansible-tmp-1591975194.767887-40169-192378230115329/AnsiballZ_setup.py\", line 1\r\r\n    <?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\r

[2020-06-12 17:26] gundalow commented on #70009
I wonder if it would be wortg extending the integration tests in ansible/ansible to include various a hand crafted tarball which contains symlinks, trailing slashes, various file modes then ensure `ansible-galaxy install` extracts the files correctly.

[2020-06-12 17:32] webknjaz commented on #70009
@gundalow that tarball was created two months ago and nobody knows how, there's not even a tag in the repo. So it's hard to know what commit what used in that collection *and* what version of ansible-galaxy was used. Sam mentioned earlier that we're having difficulties reproducing the collection creation part.
But yeah, the general idea is reasonable.

[2020-06-12 17:49] yselkowitz opened #70041 "docker_image fails to retag when name has integer tag"
##### SUMMARY
In the `docker_image` module, retagging an image by specifying both `name` and `repository` fails when `name` includes an integer tag.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
controller: Fedora 31, Moby Engine 19.03.8, Python 3.7.7, python3-docker 4.0.2 (for localhost testing)

[2020-06-12 18:35] jborean93 commented on #70009
We current do have an integration test for most of those scenarios, the only ones we don’t have is this problem and file modes (there is a unit test for that though).

[2020-06-12 18:47] fbruetting commented on #25897
@clcollins mentioned that there could be a `distribution_variant` key, but this is not a good idea for specifying OSTree systems, as

* this is not distribution-specific (you would be able to rebase an OSTree-Fedora to an OSTree-CentOS for example), and

* Fedora already uses the `variant` keyword in `/etc/os-release` for specifying the “edition”. I run an OSTree-based Fedora Silverblue and it’s `

[2020-06-12 19:13] sbalasa commented on #70039
Sure @Akasurde thanks for sharing the new links.

[2020-06-12 19:33] yurtesen commented on #70018
@samdoran I tried 2 ways, stopping ansible with ctrl-c and also disconnecting network. There was no cleanup for either case. These are just very basic ways that connections can be terminated. Can you give an example of when it cleans up temporary files?

If this is not a bug, yes it should be documented that copy module does leave files behind if interrupted and these files will accumulate over ti

[2020-06-12 20:51] dandunckelman commented on #44589
Hi @ckotte & @Akasurde I'm back to trying the [pull request](https://github.com/ansible/ansible/pull/47015).

Hooray! 🎊 🍰 It did work for me when removing a vmnic from a vswitch. Thank you! 🙏

However, when I use the pull request for my other tasks, I get this error:

[code]

This is happening on this task:

[code]

I found that this was fixed here: https://github.com/ansible/ansible/commit/cf2f13

[2020-06-12 23:37] relrod commented on #69982
@Roofi27 I believe you'll need to take this up with DNF upstream. [This PR](https://github.com/rpm-software-management/dnf/pull/1573) is the one that added the functionality.

[2020-06-13 03:24] fbruetting opened #70044 "Template search path does not respect self-contained group_vars settings"
##### SUMMARY

I have a template in my `group_vars` folder which just generates variables, and which gets loaded by a regular YAML file in `group_vars`. Both files are in the same folder inside `group_vars`. Neither relative nor absolute paths did work for that use-case – until I finally found out, that the templates search path is just relative to the playbook and role folders.

This is quite unf

[2020-06-13 09:26] gerardnico commented on #43259
Just for you information. I got this problem because I had a file without any content in a role at 'role/defaults/main'.

I resolved it by deleting the file.

[2020-06-13 11:25] #62711 closed, assigned to nobody

[2020-06-13 12:56] javeedf commented on #70038
not the doc bug, its on module lib/ansible/module_utils/basic.py

[2020-06-13 13:12] javeedf commented on #70038
!component basic

[2020-06-13 13:18] tamil93-ss opened #70048 "unable to elevate privilege to enable mode, at prompt [Hostname]"
SUMMARY

When trying to use ios_facts and any other ios_* queries to gather facts from the device, it fails with a timeout when trying to become using enable. It fails with the same error when trying ios_config.

ANSIBLE VERSION

ansible 2.9.9
  python version=2.7.5

ans also in that server we have ansible3,python3.6 as well.

[defaults]
timeout = 60

[persistent_connection]
command_timeout = 1800

[2020-06-13 13:34] tamil93-ss commented on #70048
Also i have manually mentioned the ansible_python_interpreter = /usr/bin/python3.6

ansible-playbook 2.9.9
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/home/e1085411/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /usr/bin/ansible-playbook
python version =

[2020-06-13 13:37] tamil93-ss commented on #70048
ISSUE TYPE

    Bug Report

COMPONENT NAME

plugins/connection/network_cli.py

[2020-06-13 13:50] binary-manu opened #70049 "Endless recursion happens if a role calls a collection role with the same name"
##### SUMMARY
If a role (i.e. named `foo`) imports a collection role with the _same name_ (i.e. `mynamespace.mycollection.foo`) the role that is actually imported is simply `foo`, causing endless recursion.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux 64-bit
Kernel 5.7.2

##### STE

[2020-06-13 14:06] AlanCoding opened #70050 "Templating errors exit loop with ignore_errors early"
##### SUMMARY
Behavior of failures inside of loops is inconsistent between "fatal" and "failed" outcomes. The "fatal" loop task loses data that one should reasonably expect to find in the `register` variable. It doesn't continue past the failed item, even though "failed" outcomes do, and templating errors can be specific to the `item` in the loop.

This limits the parameterization which can be don

[2020-06-13 14:09] Akasurde commented on #70048
Issue migrated to https://github.com/ansible-collections/cisco.ios/issues/78

[2020-06-13 14:09] #70048 closed, assigned to nobody

[2020-06-13 16:13] Fmajor opened #70052 "Error when call template module in custom action plugin through self._execute_module()"
##### SUMMARY

I am writing an action plugin, the last action is to generate a file for the remote host, with these code
[code]
but i got these error (`_return` of the function call)
[code]
I try to use `template` in the play book like this and get tood results
[code]

I try to add print('blabla') into `/usr/lib64/python3.6/site-packages/ansible/plugins/action/template.py`, and find that
[code]
ne

[2020-06-13 17:49] imjoseangel commented on #70041
Hi @yselkowitz, Thanks for reporting,

Could you please give some more data to try to reproduce the issue?

Personally, I have run the following with different scenarios with no issues:

[code]

got:

[code]

[2020-06-13 19:05] nickgryg commented on #68500
I'd like to fix this issue. I'm working on PR now.

[2020-06-13 20:20] manmedia opened #70054 "JSON Inventory Host LIst isn't accepted anymore when YUM or DNF PKG Mgr is used"
##### SUMMARY
When Ansible version 2.7 or higher is used, the inventory List in JSON format is no longer being accepted as a valid list of hosts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Playbook

##### ANSIBLE VERSION
2.7, 2.8, and 2.9

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 30 - Kernel - 5.6.13-100.fc30.x86_64

##### STEPS TO REPRODUCE
1. With Ansible 2.6,

[2020-06-13 23:46] xoxys opened #70055 "Pip module failed with no module named pip._internal.main"
#### SUMMARY
Using the pip module failed with a traceback error:

[code]

This error occurs even with a very basic playbook like this:

[code]

The playbook was executed on Fedora 32 to a CentOS 7 target host. Pip is installed on the remote system and working properly. Manually `pip install requests` works without issues. Using pip3 executable it is also not working.

##### ISSUE TYPE
- Bug Report

[2020-06-14 00:02] xoxys commented on #70055
Sorry for the noise, I got it to work... I had a (missed) virtualenv folder `~/ansible/custom_modules` within my `custom_modules` folder. After removing it everything is working as expected.

If you like so, we could close the issue, but I don't know if this is really the expected result.

[2020-06-14 07:10] cunningr commented on #54981
Hi.  Did this one ever get resolved?  I am seeing similar behaviour when switching from executing on native darwin platform to a linux container.  In the container environment we seem to be ignoring the proxycommand for some reason and the proxy session never gets setup.

[2020-06-14 07:55] mohankrishnavanga opened #70057 "azure_rm_virtualmachine returns nboundLocalError: local variable 'boot_diag_storage_account' referenced before assignment even when boot_diagnostics enabled is set to no"
##### SUMMARY
I am trying to use ansible for creating virtual machines and its components in azure and Im stuck with the actual VM creation with the error mentioned in the title. I do not want the boot_diagnostics so I wanted to disable it with "enabled: no" but it is throwing the error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

###

[2020-06-14 08:01] ledyba-z commented on #63231
Hmm... It looks there are some tests that expect the packages will be removed.
https://app.shippable.com/github/ansible/ansible/runs/168423/86/tests
https://app.shippable.com/github/ansible/ansible/runs/168423/85/tests

How about adding `no-remove` to this module? > @sivel

[2020-06-14 08:01] prabhinmp opened #70058 "override confgs in docker stack deploy"
Hi Team,
I'm trying to override docker stack service config using ansible,
I'm able to override docker image, environment variables.
If I place a new config source in the override section it throws with below error.
**err": "service cdc: undefined config \"cdc1\"\n",**

below is my yml file,

---
    -  hosts: swarmpittesting
       become: yes
       become_method: sudo
       become_user: root

[2020-06-14 08:01] trollqaa opened #70059 "Pipelining does not working"
##### SUMMARY
Pipelining does not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SSH Pipelining.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Host: ubuntu 20.04
Remote: debian 10

##### STEPS TO REPRODUCE
In the ~ / .ansible.cfg config, I specified the `pipelining = True` parameter in the` ssh_connection` section, but in the `ansible -vvv -i hos

[2020-06-14 08:35] manmedia commented on #70054
Apologises for incorrect formatting. I have not corrected the bug report based on suggested format. I have tried to mask the path details, but in general the error message is retained correctly.

Thanks,

[2020-06-14 08:59] prabhinmp commented on #70058
**ansible --version**
ansible 2.8.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/prabhin.mp/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.17 (default, Apr 15 2020, 17:20:14) [GCC 7.5.0]

**Componet nam

[2020-06-14 10:27] cunningr opened #70061 "network_cli auth timeout due to slow return of: "Authentication (password) successful!""
##### SUMMARY
network_cli times out authentication to device after 10 seconds.  Unable to find a way to extend the timeout window for paramiko.  This is occurring because the device is slow to complete authentication due to backend AAA method timeout.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-06-14 10:38] cunningr commented on #70061
as a test, I was able to hack the wait_for_response max_ts in paramiko auth_handler.py;

/usr/lib/python3/dist-packages/paramiko/auth_handler.py: (line 229)
[code]

[2020-06-14 11:39] cunningr commented on #70061
finally I am using this rather brutish hack;

[code]

 * What is the ansible setting we should be using to set this parameter?
 * If it does already exist, can we document it [here perhaps](https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#intermittent-failure-while-using-network-cli-connection-type-due-to-slower-network-or-remote-target-host)?

[2020-06-14 11:53] Akasurde commented on #70061
Issue migrated to https://github.com/ansible-collections/cisco.ios/issues/79

[2020-06-14 11:53] #70061 closed, assigned to nobody

[2020-06-14 11:54] Akasurde commented on #70058
Issue migrated to https://github.com/ansible-collections/community.general/issues/506

[2020-06-14 11:54] #70058 closed, assigned to nobody

[2020-06-14 11:57] Akasurde commented on #70057
Issue migrated to https://github.com/ansible-collections/azure/issues/159

[2020-06-14 11:57] #70057 closed, assigned to nobody

[2020-06-14 15:17] Akasurde commented on #68538
Issue migrated to https://github.com/ansible-collections/azure/issues/160

[2020-06-14 15:17] #68538 closed, assigned to nobody

[2020-06-14 15:22] djesionek opened #70063 "Unable to import ldap_entry and ldap_attr due to invalid syntax"
##### SUMMARY

Unable to import ldap_entry and ldap_attr due to invalid syntax.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ldap_entry
ldap_attr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The executing machine's `uname -a` output:
`Linux ansible.host 5.6.15-arch1-1 #1 SMP PREEMPT Wed, 27 May 2020 23:42:26 +0000 x86_64 GNU/Linux`

The target machi

[2020-06-14 15:53] djesionek commented on #70063
I checked in an archlinux container and it worked as expected there.

Reinstalling the ansible package fixed that issue, although I'm not sure why. But I'll close this issue to not litter the list of open issues.

[2020-06-14 15:53] #70063 closed, assigned to nobody

[2020-06-14 17:11] Akasurde commented on #68207
@anoopks1207 Thanks for reporting this issue. I see you are using `xmpppy==0.5.0rc1` which is causing this error (Line causing this error https://github.com/xmpppy/xmpppy/blob/50cbd9e6eebe6bf18e2790bdfd14980496956426/xmpp/transports.py#L316). Here is [the link](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=766475) which talks about the same. This is fixed in the latest version of `xmpppy`.

I

[2020-06-14 17:11] #68207 closed, assigned to Akasurde

[2020-06-14 21:06] imjoseangel commented on #70059
Fixed in #69905

[2020-06-15 03:56] Routhinator commented on #29762
I'm using 2.9 - and even providing state: running, groups are not modified.

[2020-06-15 06:05] Akasurde commented on #19371
Better error reporting in `docker_compose` is being tracked using the issue - https://github.com/ansible-collections/community.general/issues/414. Please add your comments there. Thanks.

[2020-06-15 06:05] #19371 closed, assigned to nobody

[2020-06-15 06:12] Andersson007 commented on #29644
close_me

[2020-06-15 06:12] Andersson007 commented on #29644
closed via https://github.com/ansible-collections/community.general/pull/490

[2020-06-15 06:18] #29644 closed, assigned to nobody

[2020-06-15 06:33] mkrizek commented on #70031
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-06-15 06:33] #70031 closed, assigned to nobody

[2020-06-15 06:35] mkrizek commented on #70041
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-15 06:35] #70041 closed, assigned to nobody

[2020-06-15 06:37] mkrizek commented on #70027
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.go

[2020-06-15 06:37] #70027 closed, assigned to nobody

[2020-06-15 06:57] mkrizek commented on #70059
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

However what is happening is that:

We would suggest:

   * See https://docs.ansible.com/ansi

[2020-06-15 06:57] #70059 closed, assigned to nobody

[2020-06-15 07:27] Akasurde commented on #29370
Appropriate information about migration and usage is added using collection [ovirt.ovirt](https://github.com/oVirt/ovirt-ansible-collection) and https://github.com/ansible-collections/community.general/pull/353.

Closing this as per above.

[2020-06-15 07:27] #29370 closed, assigned to nobody

[2020-06-15 08:27] allen12921 opened #70065 "docker_image don't support Docker BuildKit"
##### SUMMARY

docker_image doesn't not support Docker BuildKit
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS versions: CentOS Linux release 7.8.2003 (Core)
Docer version: 19.03.9

##### STEPS TO REPRODUCE

With Below  content Dockerfile:

[code]
Then build image with docker_image
[code]

[code]

#

[2020-06-15 08:38] mkrizek commented on #70052
See `lib/ansible/modules/template.py`, there is only documentation there. There is no template module, only the template action plugin because templating is done on the controller. As such you need to call the action plugin, the template action plugin itself has an example of that (using `copy`):
https://github.com/ansible/ansible/blob/06175141766302f013b431f3399a083f05adb55e/lib/ansible/plugins/a

[2020-06-15 08:38] #70052 closed, assigned to nobody

[2020-06-15 08:49] mkrizek commented on #70055
The traceback provided indicates that the failure was `from pip._internal.main import main` coming from `AnsiballZ_pip`. However there does not appear to be `from pip._internal.main import main` line anywhere in the Ansible codebase.

Does your `'~/ansible/custom_modules'` contain `pip.py` module containing that line by any chance?

needs_info

[2020-06-15 08:58] qguv commented on #61763
This would be nice to have :)

[2020-06-15 09:12] mkrizek commented on #70065
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-15 09:12] #70065 closed, assigned to nobody

[2020-06-15 09:20] xoxys commented on #70055
As I say the issue was related to a subfolder called `env` containing a python virtaulenv. This folder contains a file called `pip` but not `pip.py`.  After deleting the virtualenv subdir everything was working again.

[2020-06-15 09:28] tyll commented on #70000
Thanks, this seems to fix it. It would be great to also add the minimal example to the CI to ensure there will be no regression.

[2020-06-15 09:33] mkrizek commented on #70055
From the info provided I am going to assume Ansible picked up the custom module called `pip` from `~/ansible/custom_modules`. As such it was an issue with the custom module library rather than in Ansible itself.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-15 09:33] #70055 closed, assigned to nobody

[2020-06-15 09:53] getjack commented on #14270
I would like to support this issue but i think it needs a little bit of attention. Can someone maybe update the labels? I don't think this will ever be back-merged into 2.2 or 2.3.

[2020-06-15 10:23] xoxys commented on #70055
@mkrizek As I say it is NOT a custom module called `pip` it is a file which will be called `pip` which is part of a default python virtualenv directory. I'm fine with closing the issue, I was just not really sure if this is the intended behavior. Afaik ansible moduls should only loaded from the top level custom module directory, or are subfolders officially supported?

[2020-06-15 11:00] kjoyce77 opened #70068 "Ansible 2.9 networking can be slower than Ansible 2.2."
##### SUMMARY

Task executor subprocesses to update an active persistent connection.  When using more than about 5 forks per core this causes current Ansible versions to actually run slower than Ansible 2.2 using the local connection plugin.  @gundalow suggested I start with an issue here from my mention of this general performance issue on reddit.com.  I can prepare a PR if it is decided this is

[2020-06-15 11:02] mkrizek commented on #70055
I understand but if the file is a Python executable Ansible really can't know if it's an Ansible custom module or a file from virtualenv until it runs it so as far as Ansible is concerned it is a custom module, just not a valid one.

I don't think it is something that is "officially supported" but AFAIK if `pip` was in a valid python (sub)path for import then it would be considered as a custom mod

[2020-06-15 11:51] ganeshrn commented on #70038
That is the expected Ansible behaviour. If the value of the option is not given it is set to `None`.
To get around it you can add `mode` option with values `access` or `trunk` else you can use `required_if` check-in the module code eg: https://github.com/ansible-collections/cisco.ios/blob/master/plugins/modules/ios_acls.py#L1382 and change `trunk` and `access` options to boolean type.

[2020-06-15 11:51] #70038 closed, assigned to nobody

[2020-06-15 12:19] abhishekkarigar opened #70069 "Ansible is being run in a world writable directory (/vagrant), ), ignoring it as an ansible.cfg source"
##### SUMMARY
trying to provision the vagrant guest using ansible_local.
with ansible provision i was able to do it successfully.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

windows 10 / cygwin /ansible 2.9.x version

##### STEPS TO REPRODUCE

vagrant up

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULT

[2020-06-15 12:23] mkrizek commented on #70069
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-15 12:23] #70069 closed, assigned to nobody

[2020-06-15 12:27] lukaszobratanski commented on #30411
If it hangs on sshpass (and ControlPersist parameter is used) please check https://sourceforge.net/p/sshpass/patches/11/

[2020-06-15 13:07] nebulon42 commented on #44395
IMO the documentation does not reflect that fact. I have just stumbled upon it as well. I only learned about this behaviour in this [comment](https://github.com/ansible/ansible/issues/5971#issuecomment-34881242) and then found this issue as well. For me that was a bit unexpected (maybe wrongly so) and so I think it should be clearly written somewhere in the documentation that dependency tracking i

[2020-06-15 13:20] s-hertel commented on #70009
I'm able to reproduce by git cloning the current amazon.aws repository, building the collection with latest devel, and then trying to install it.

[2020-06-15 13:59] NilashishC opened #70071 "[2.9] validate-modules throws a traceback for deprecated modules not having removed_in"
### SUMMARY
`validate-modules` in stable-2.9 throws a traceback if a deprecated module does not have a `removed_in` entry but instead has `removed_at_date`. This traceback originates from [here](https://github.com/ansible/ansible/blob/stable-2.9/test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py#L1628).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test
val

[2020-06-15 14:36] jimi-c commented on #14270
@getjack updated labels.

[2020-06-15 14:45] sivel commented on #70049
This issue has been resolved for the 2.10 release in https://github.com/ansible/ansible/pull/68213

It has not been backported, due the bug fix requiring some new features to make everything work as expected.

Closing this as a duplicate of https://github.com/ansible/ansible/issues/69307

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-06-15 14:45] #70049 closed, assigned to nobody

[2020-06-15 14:49] insideClaw opened #70073 "Ansible ignores parsing of Vault password when invoked in terminal"
##### SUMMARY
Neither Ansible nor ansible-inventory can use an encrypted Vault when called from the command line and always fails with "ERROR! A vault password must be specified to decrypt data", regardless of whether one is passed or --ask-vault-pass is given.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible
ansible-inventory
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGUR

[2020-06-15 15:25] relrod commented on #70073
Hello.

The purpose of `--vault-id` is not to specify the vault that you want to use, but to specify the identifier within a vault, and either the keyword `prompt` or a password file that unlocks secrets encrypted with that identifier.

Please consult [this page](https://docs.ansible.com/ansible/latest/user_guide/vault.html#vault-ids-and-multiple-vault-passwords) for more information and direct qu

[2020-06-15 15:25] #70073 closed, assigned to nobody

[2020-06-15 15:57] Akasurde commented on #65158
Closing this as per https://github.com/ansible/ansible/issues/65158#issuecomment-557931052

[2020-06-15 15:57] #65158 closed, assigned to Akasurde

[2020-06-15 16:04] bcoca commented on #70018
@yurtesen  its not just `copy` most actions, by default, copy files to the remote to execute modules. Some transfer even more files, like copy, template, assemble, etc .., because of the nature of the action.

All of them should clean up at the end of the execution, but none can if the execution is interrupted, which can happen for a myriad of reasons.

[2020-06-15 16:51] sivel commented on #70054
We will need some reproducer of the inventory file you are using

Due note that Ansible does not explicitly declare a JSON static file inventory format. Instead Ansible does define a YAML inventory format, and pyyaml can usually parse JSON. I'm guessing that potentially the OS version of pyyaml is in someway defective, but the pip installed version is not.

[2020-06-15 16:53] sivel commented on #70044
This is expected behavior.  The `group_vars` directory has a specific meaning, in that Ansible will traverse that directory and automatically load variable files. `group_vars` is not means for template storage, which is why the template module does not look for template files in this directory.

To achieve your goals, I'd recommend creating a templates directory, and create directories inside with

[2020-06-15 16:53] #70044 closed, assigned to nobody

[2020-06-15 17:07] relrod commented on #70054
This sounds like you are possibly trying to use a python `dict` representation as JSON. If that's the case, in your inventory script, wrap it in `json.dumps()` before printing.

Refs #58461
Possible dupe of #69705

[2020-06-15 17:16] mattclay commented on #69981
@D3DeFi Thanks for the bug report and reproducer. I'm seeing the same results as well.

[2020-06-15 17:26] Pantharian opened #70076 "DSC Resources that specify 'System.ServiceProcess' as one of the 'RequiredAssemblies' are not discoverable using Get-DSCResource when run via Ansible using 'win_dsc'"
##### SUMMARY
If a custom DSC Resource contains a reference to [System.ServiceProcess](https://docs.microsoft.com/en-us/dotnet/api/system.serviceprocess?view=dotnet-plat-ext-3.1) as one of the `RequiredAssemblies` in the respective `.psd1` file, and the associated `.psm1` file contains references to that assembly, the call to `Get-DscResource` in `win_dsc`, when run via the Ansible, cannot find th

[2020-06-15 17:28] manmedia commented on #70054
Hi Rick,

As I mentioned, pip installed ansible doesn’t have this issue. I already
have this Jain.dumps() call before printing the output.

Regards,

On Mon, 15 Jun 2020 at 18:07, Rick Elrod <notifications@github.com> wrote:

[2020-06-15 17:43] relrod commented on #70054
Are you able to share your `inventory.py` script?

[2020-06-15 18:51] sivel commented on #70068
!component +bin/ansible-connection

[2020-06-15 19:10] Fairlight2cx commented on #18305
I was running into this, but only on two boxes out of 80-ish.

What I found was that facter was hanging.  It was also consistently hanging (24 instances of it, from 24 attempts on one box) at a state where it was in a non-interruptible disk-wait state, and the last file descriptor open was /proc/partitions.  It was only hanging on boxes where someone had tried to disable the floppy driver, but had

[2020-06-15 19:56] kjoyce77 commented on #70068
!component lib/ansible/executor/task_executor.py

[2020-06-15 19:57] rockandska opened #70081 "[yum] No package matching 'xxxx' found available, installed or updated"
##### SUMMARY

The same task works in latest 2.5 2.6 2.7 2.9 but not with latest 2.8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target: docker container
target os: centos 7

##### STEPS TO REPRODUCE

The problem could be reproduced by using this small bash script :
[code]

##### EXPECTED RESULTS

[co

[2020-06-15 19:59] sivel commented on #70068
!component +lib/ansible/cli/scripts/ansible_connection_cli_stub.py

Trying to get the bot to classify this as support:networking, by adding a network component. Just an FYI.

[2020-06-15 21:15] jfoliveira commented on #18305
In my case Ansible was hanging forever (I guess, I only waited for one hour) to execute a command that only takes 2 seconds when executed manually.

**The reason:**
- a playbook invoked with `root` having a task using `shell` module and becoming a less privileged user.
[code]

I need to do this so the files touched/created by the task are owned by the actual user instead of being owned by `root`

[2020-06-15 21:21] bcoca commented on #18305
@Fairlight2cx so that is under generic 'fact gathering device issues' family of hangs, fact gathering tries to list current devices,  many skipped as only root is allowed to query certain information.

In your case it happened just in that circumstance. But this still can happen under a normal user with a device or any other blocking call they have access to query and can be 'broken' or 'stuck' wh

[2020-06-15 21:36] #70009 closed, assigned to nobody

[2020-06-15 21:49] StevenBarre opened #70083 "Collections in Roles"
_Originally posted by @sivel in https://github.com/ansible/ansible/issues/68198#issuecomment-598417297_

What version of Ansible does this work in? I'm using 2.9.2 and it is not working for me.

[code]

Still gives me

[code]

[2020-06-15 21:51] relrod commented on #70054
needs_info

[2020-06-15 22:02] sbarre-esit commented on #70083
!component collections

[2020-06-15 22:55] sivel commented on #70083
The directory should be called `meta` not `metadata`

[2020-06-15 23:09] sbarre-esit commented on #70083
@sivel success! I guess that PR is old? Looks like https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/collections_using.rst is correct.

Thanks!

[2020-06-15 23:09] #70083 closed, assigned to nobody

[2020-06-15 23:11] edison-moreland commented on #70031
Will do, thank you!

[2020-06-16 00:14] rockandska commented on #70081
It seems this bug was introduced in 2.8.8 from my last tests and always present in 2.8.12
In 2.9.X, the bug seems only be in 2.9.3

The common change in 2.8.8 and 2.9.3 related to yum seems this one in the CHANGELOG :

Seems fixed by https://github.com/ansible/ansible/issues/66549 who state :

[2020-06-16 00:32] relrod commented on #70081
@rockandska Thanks for the detective work! I'll look at getting this backported to 2.8.

[2020-06-16 02:14] geerlingguy commented on #68915
Gah... I'm trying to do this again today in preparation for my Ansible 101 session, and I'm still getting hung up on it.

Basically,

[code]

I don't know why I'm repeating myself here, it's just I believe this is the third time now that I've picked up the mantle of doing some testing for the purpose of documenting behaviors for the first time user, and telling them "you have to know about how Ans

[2020-06-16 02:19] geerlingguy commented on #68915
Somewhat related issue: https://github.com/ansible/ansible/issues/68621 (in terms of someone coming fresh into collections and hitting a wall of WTFs).

[2020-06-16 04:51] mkrizek commented on #70076
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-06-16 04:51] #70076 closed, assigned to nobody

[2020-06-16 05:24] ffledgling commented on #17346
@goetzk I never actually ended up writing a proposal for this because the setup I was working in switched away from Ansible to something else. I still have the scripts and idea lying around so if you end up writing one, I'd be review/help flesh out if you need any such assistance.

[2020-06-16 05:36] Akasurde commented on #70010
resolved_by_pr #70040

[2020-06-16 05:55] Akasurde commented on #69177
@waymen Could you please add `-vvv` to Ansible ad-hoc command and provide the console log? I am not able to reproduce the error.

[code]

needs_info

[2020-06-16 06:55] Akasurde commented on #69597
@martinpitt @sysadmin75 This is fixed in `devel` via https://github.com/ansible/ansible/pull/47238 and I created backport for Stable-2.9 via https://github.com/ansible/ansible/pull/70088. Could you please confirm if PR #70088 fixes the issue?

Thanks.

needs_info

[2020-06-16 07:01] manmedia commented on #70054
Hello @relrod

Here's my `inventory.py` script that in return provides a JSON format file. BTW, I have individually executed the file to confirm that it's indeed returning a valid JSON.

`#!/usr/bin/env python3

import argparse
import os
from pathlib import Path
import subprocess
import sys
import ast

if __name__ == "__main__":
    parser = argparse.ArgumentParser(description="**************")

[2020-06-16 07:11] relrod commented on #70054
@manmedia This will not give you valid JSON. Note that valid JSON requires double quotes, not single quotes, which is what this will output (a Python `dict` representation). They look similar but they are not the same. Former versions of Ansible allowed either, but this was accidental and was never supposed to work. We now require valid JSON.

You probably want to `import json` and change `print(g

[2020-06-16 07:11] #70054 closed, assigned to nobody

[2020-06-16 07:13] relrod commented on #70081
This has been backported and will be in the next 2.8 release, whenever that may be. Thanks for the report!

[2020-06-16 07:13] #70081 closed, assigned to relrod

[2020-06-16 07:26] Akasurde commented on #69263
Issue migrated to https://github.com/ansible-collections/cisco.nxos/issues/93

[2020-06-16 07:26] #69263 closed, assigned to nobody

[2020-06-16 07:39] manmedia commented on #70054
@relrod If you notice on the `script` variable assignment, I am calling another Python script which outputs JSON. That script has confidential data, so I cannot post it here. But here is main:

[code]
And I am stating once again that this script works perfectly fine when the package is installed using `pip`. When `DNF` or `YUM` is used to install Ansible, it's not working. I believe this is to do

[2020-06-16 07:41] manmedia commented on #70054
Also, this issue shouldn't be closed as we haven't had a successful resolution of this.

[2020-06-16 07:42] Akasurde commented on #69125
Issue migrated to https://github.com/ansible-collections/ansible.netcommon/issues/59

[2020-06-16 07:42] #69125 closed, assigned to nobody

[2020-06-16 07:50] Akasurde commented on #69116
resolved_by_pr https://github.com/ansible/ansible/pull/69117

[2020-06-16 07:50] #69116 closed, assigned to nobody

[2020-06-16 08:30] sugitk commented on #65411
@justjais Do I need to resubmit this issue to cisco.ios repository?

[2020-06-16 08:34] relrod commented on #70054
@manmedia

Let me try to explain - this is really a Python question, not an Ansible bug, but I will try anyway.

The first thing is that, yes, the second script you pasted is outputting valid JSON. However, in the first script, you are taking that output and using `ast.literal_eval()` on it. `ast.literal_eval()` takes a simple **Python expression** (not a JSON object) as a string, and returns the

[2020-06-16 08:52] jborean93 commented on #69828
ntlm-auth 1.5.0 has been [released](https://github.com/jborean93/ntlm-auth/releases/tag/v1.5.0) with this fix included. Thanks for reporting the error.

[2020-06-16 08:52] #69828 closed, assigned to nobody

[2020-06-16 09:06] tyll opened #70090 "RFE: Support success_rcs option for command module to not fail on other return codes than 0"
##### SUMMARY

Some tools return a returncode different that 0 even if there was no problem. For example grep returns 1 if there was no match but 2 on errors. Therefore it would be nice to specify success/good return codes for the command module to accept those rcs when they are ok.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

command

##### ADDITIONAL INFORMATION

[code]

success_rcs c

[2020-06-16 09:13] jborean93 commented on #69595
Sorry for the delay here, unfortunately this is a problem with the powershell instance that was started has been killed. The `The pipe has been ended` error code is resulting in us trying to send the module payload over the stdin pipe but because the powershell process has ended/been killed there is no pipe to send the data over.

Unfortunately there's not much we can do from here, we rely on powe

[2020-06-16 09:13] #69595 closed, assigned to nobody

[2020-06-16 09:22] justjais commented on #65411
@sugitk Apologies for not updating on the issue and yes, plz open a new issue to cisco.ios collection and tagging this for reference. Thanks

[2020-06-16 09:26] sugitk commented on #65411
@justjais Thank you for your prompt reply, I submitted it again :)
https://github.com/ansible-collections/cisco.ios/issues/81

[2020-06-16 09:40] #18456 closed, assigned to gundalow

[2020-06-16 10:11] Akasurde commented on #23549
@eljuanchosf Could you please confirm if your issue is resolved or not? Thanks.

needs_info

[2020-06-16 10:21] dan5252 opened #70092 "connection/local.py become problem exposed by `script` module"
##### SUMMARY

There are 2 problems here if the script called quickly produces output:
1) to stdout -> this is not copied to output of the script
2) to stderr -> ansible fails with `privilege output closed while waiting for password prompt`

Reproducibility is at the mercy of the scheduler.

Will propose a fix a later time.

##### ROOT CAUSE
[code]

##### HOW TO REPRODUCE 100% of the time

[code]

[2020-06-16 11:26] Akasurde commented on #23624
resolved_by_pr https://github.com/ansible/ansible/pull/38302.

[2020-06-16 11:26] #23624 closed, assigned to nobody

[2020-06-16 11:28] pabelanger commented on #65816
For now, we have used
[code]

[2020-06-16 11:52] Akasurde commented on #25579
Documentation updated via https://github.com/ansible/ansible/pull/42548

[2020-06-16 11:52] #25579 closed, assigned to nobody

[2020-06-16 11:57] yurtesen commented on #70018
Perhaps it just got my attention with copy module as it adds up quickly.

Is there a safe way to clean this up? like automatic deletion ffiles older than 1 day from `.ansible` folder? or is it safe to run a separate task to clean it up?

[2020-06-16 12:38] #68836 closed, assigned to nobody

[2020-06-16 13:30] Akasurde commented on #31590
Closing as per https://github.com/ansible/ansible/issues/31590#issuecomment-402290091

[2020-06-16 13:30] #31590 closed, assigned to nobody

[2020-06-16 13:57] Akasurde commented on #34082
Closing this as `oc` module is deprecated in favor of `openshift_raw` in version 2.5.

[2020-06-16 13:57] #34082 closed, assigned to nobody

[2020-06-16 14:05] franmgal commented on #69595
Hi @jborean93 , last week we found that the Mcafee antivirus is actually blocking the encodedcommand as you just pointed out.
It doesn't help very much the error 500, I would say that it leeds to a wrong path to investigate the issue. Even the RedHat support didn't know what was happening.
Maybe there's a way to improve the error message including what you have just wrote.

Thanks a lot @jborean93

[2020-06-16 14:43] sivel commented on #70092
We should investigate a potential fix, but what use case do you have using the `script` module using the `local` connection plugin?  The idea behind the script plugin is that it will copy the script to the target and execute it. If you are executing against localhost, you probably just want to use `command` instead.

[2020-06-16 14:44] sivel commented on #70090
This functionality already exists, using the more generic `failed_when` conditional.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-16 14:44] #70090 closed, assigned to nobody

[2020-06-16 14:49] EHEX-schildt commented on #69858
Alternatively if we have something like a vault_id key in playbooks.

We could use the default vault_identity_list in the ansible.cfg and override it in some special playbooks that needs more or other id's.

This already works on command line (--vault-id), but it is not very comfortable, especially with long vault-id names/scripts or if there are more then two vault-id's.

ansible.cfg:
[code]
defa

[2020-06-16 14:49] davidtluong opened #70096 "Persistent connection not respected"
##### SUMMARY
Using `ANSIBLE_USE_PERSISTENT_CONNECTIONS` as an extra var or `use_persistent_connections = True` is not respected

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Persistent Connections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 32

##### STEPS TO REPRODUCE

Using `ANSIBLE_USE_PERSISTENT_CONNECTIONS` as an extra var or `use_persist

[2020-06-16 14:55] bmillemathias-1a opened #70097 "[openstack] no module os_volume_info"
##### SUMMARY

There is no openstack module to retrieve the volume info for a specific or a set of volumes.
My use-case would be
- delete all dangling volumes
- create a volume with a set of metadata, then after, look for this and  attach it to a server matching the same key in the metadata.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openstack

[2020-06-16 14:59] sivel commented on #70097
Thank you very much for your interest in Ansible. The OpenStack plugins are no longer maintained in this repository and have been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gr

[2020-06-16 14:59] #70097 closed, assigned to nobody

[2020-06-16 15:21] rockandska commented on #70081
Thanks for the quick merge :+1:

[2020-06-16 15:27] Routhinator commented on #29762
For anyone stuck with issue - it seems to only affect the `ec2_instance` module.

You can work around this by using the `ec2` - it properly and idempotently updates instances. Someone needs to compare these two modules and see what `ec2_instance` is doing wrong.

[2020-06-16 15:30] samdoran commented on #70071
Is this fixed by #69935?

[2020-06-16 15:33] nerijus commented on #44711
The following diff helps:
[code]

[2020-06-16 15:38] sivel commented on #44711
As a heads up, this module has been migrated to https://github.com/ansible-collections/community.general and is no longer maintained in this repository.

Ultimately this issue will need to be migrated to the above repo, to see further resolution.

[2020-06-16 15:38] samdoran commented on #70096
This is explicitly ignored if `ANSIBLE_TRANSPORT` is `smart`, which is the default. When using `smart`, it will use `ssh` by default and `ssh` uses its own `ControlPersist` setting.

If you want to use persistent connection, set `ANSIBLE_TRANSPORT` to something other than `ssh` or `smart`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2020-06-16 15:38] #70096 closed, assigned to nobody

[2020-06-16 15:51] mattclay commented on #65816
@rrey @pabelanger Have you had any success creating a reproducer for this issue?

[2020-06-16 16:02] #68661 closed, assigned to nobody

[2020-06-16 16:23] maxbes opened #70098 "postgresql_idx does not take case into account for index or table name"
##### SUMMARY

`postgresql_table` considers that table names are case sensitive

however `postgresql_idx` does not consider table names as case sensitive, nor index names, (maybe not column names either)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_idx module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible client: Debian 10 but shoul

[2020-06-16 16:32] #16307 closed, assigned to nobody

[2020-06-16 16:46] Akasurde commented on #70098
Issue migrated to https://github.com/ansible-collections/community.general/issues/520

[2020-06-16 16:46] #70098 closed, assigned to nobody

[2020-06-16 16:49] dan5252 commented on #70092
It is part of a bigger playbook. It leverages the roles directory structure, the fact that you don't need to know the full path as opposed to command.
roles/A/B/tasks/main.yml:    script: a.sh
roles/A/B/files/a.sh

I have a fix, I'll create a PR after running the test suite.

[2020-06-16 17:26] kevingentile commented on #66943
This issue is currently impacting our automation. For `stable-2.9`, is there any estimate on the next patch release?

[2020-06-16 18:33] ei-grad opened #70101 "parted module wipes partition table"
[code]

this task results in wiped partition table, which is not the behaviour which should be expected

[2020-06-16 18:43] sivel commented on #70101
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-16 18:43] #70101 closed, assigned to nobody

[2020-06-16 18:45] #55898 closed, assigned to s-hertel

[2020-06-16 18:46] pabelanger commented on #65816
Yes, we can reproduce it will zuul. We can hold a node and allow someone to inspect it to help this issue. We'll just need the public SSH key of the user.

[2020-06-16 18:54] DavidOliver commented on #69685
This just disturbs the output and makes it harder to read the output.

Agreed. The uniformity of text line length caused by asterisk padding is quite the hindrance to legibility.

[Some related discussion on adjusting/removing](https://stackoverflow.com/questions/49907174/ansible-remove-change-lines-with-star-sign-in-playbook-execution-output).

[2020-06-16 18:54] sivel commented on #65816
@pabelanger I've pinged you with a key on slack.  I can try to take a look.

Although I'm beginning to question whether we should just add the ignore and move on. It's not necessarily something we are concerned with, since many modules will have some amount of duplication anyway.

[2020-06-16 19:00] mattclay commented on #65816
One of the goals of ansible-test is consistent test results across different environments. That's why I'm interested in figuring out why we're seeing different test results in this case.

[2020-06-16 19:30] acdha opened #70102 "Incorrect package manager display name on Amazon Linux 2"
##### SUMMARY

An attempt to enable the Apache SSL module on a system which didn't have mod_ssl in its package list had this error message:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apache2_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

[2020-06-16 20:14] sivel commented on #65816
Alright, I've tracked this down, to the fact that we set `--jobs 0` and the zuul VMs have only a single core/vcpu.

With `--jobs 0` it selects the number of cores in a machine, and when set at `1` pylint does all processing in the launched process. When `--jobs > 1` then the launched process spawns up to `--jobs` number of workers, and the launched process is just the controller.

So normally for

[2020-06-16 20:16] sivel commented on #70102
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-16 20:16] #70102 closed, assigned to nobody

[2020-06-16 20:16] mattclay commented on #65816
The issue should be fixable in config. Now that we have a reproducer I can work on a bug fix.

[2020-06-17 00:17] #69781 closed, assigned to nitzmahone

[2020-06-17 00:18] sanyam1997 commented on #58821
Hey, I would like to work on this issue. I am a first-time contributor. Can you suggest relevant resources to be studied for working on this issue? It seems simple though.

[2020-06-17 03:33] geerlingguy commented on #68915
It was just mentioned that if you put a collection into `collections`—so the resulting path to a module that does something would be `./collections/ansible_collections/myorg/mycollection/plugins/modules/module.py`—you don't need to configure that in the `ansible.cfg` configuration or via env var.

But you would need to add that to the init command:

[code]

[2020-06-17 04:51] maxamillion commented on #49232
I've added this feature to the `community.general` [Ansible Collection](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html) which will be included in the upcoming [Ansible Community Distribution](https://groups.google.com/forum/#!searchin/ansible-project/ansible$20community$20distribution%7Csort:date/ansible-project/eXsoOKEd0Mk/XTgbnPWbCAAJ).

PR Here: https://github.com/ans

[2020-06-17 05:32] felixfontein commented on #70071
@samdoran from what I heard on IRC, it is. @NilashishC can you confirm?

[2020-06-17 05:38] maxamillion commented on #51284
@ses-team I need more information about the system so that I can reproduce and diagnose.

1. What distro and release?
2. What state is the system in? (fresh install, pre-existing, container, other?)
3. What repos are enabled/disabled?
4. How long does the corresponding action take from the command line?

needs_info

[2020-06-17 05:56] rameshar16 opened #70110 "Ansible 'replace' unable to find the hidden file paths"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

replace
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS7

##### STEPS TO REPRODUCE

- name: Replace version with new version
  replace:
    path: "/home/user/.env"
    regexp: ^(VERSION=.+)$
    replace: "VERSION={{version}}"
    backup: yes

[code]

##### EXPECTED RESULTS

replace the ma

[2020-06-17 06:56] rameshar16 commented on #70110
Hi @ansibot,

Thank you for the quick update.

The error(msg: Path /home/user/.env does not exist !) is misleading me, the actual error is with file permissions.

I have fixed the issue.

Thanks and Regards,
Ramesh AR

[2020-06-17 06:56] #70110 closed, assigned to nobody

[2020-06-17 06:57] rameshar16 commented on #70110
Hi @ansibot,

Thank you for the quick update.

The error(msg: Path /home/user/.env does not exist !) is misleading me, the actual error is with file permissions.

I have fixed the issue.

Thanks and Regards,
Ramesh AR

[2020-06-17 08:04] NilashishC commented on #70071
@samdoran @felixfontein yes #69935 fixed this.

[2020-06-17 08:41] Andersson007 commented on #26919
https://github.com/ansible/ansible/issues/26919 would be cool if anybody took a look, thanks in advance

[2020-06-17 08:57] NeverUsedID opened #70111 "vmware_guest_snapshot_info documentation is outdated on website, as folder is now a required parameter"
##### SUMMARY
Like in https://github.com/ansible/ansible/issues/22644 for vmware_guest_snapshot,  the documentation for vmware_guest_snapshot_info is outdated, as the folder parameter is now REQUIRED.

The "Edit on Github Button" does not work, as it throws a 404

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

vmware_guest_snapshot_info

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2020-06-17 09:48] NilashishC commented on #64402
needs_info

[2020-06-17 10:20] zaskan commented on #66977
Hi all. Is there any date expected for fixing it? Thanks!

[2020-06-17 10:31] yurtesen commented on #70018
Maybe my observation is wrong, but I can see that other modules also create `~user/.ansible/tmp` folders but they are able to clean it up if for example I do CTRL-C or connection is interrupted....

[2020-06-17 11:17] Akasurde commented on #70111
Issue migrated to https://github.com/ansible-collections/vmware/issues/243

[2020-06-17 11:17] #70111 closed, assigned to nobody

[2020-06-17 12:03] jfoliveira commented on #18305
Thanks Brian @bcoca ! I got the issue with long running processes and the `timeout` feature will definitely be helpful.
What I'm not getting though is this very playbook/shell command only hanging when executed through `Ansible as root` with `become_user: "my-non-root-user-name"` set in my playbook.

Examples:
1. **Works - playbook finishes in a few seconds, as expected, and STDERR of the failing

[2020-06-17 12:22] parkrish commented on #68769
@ganeshrn , I tried adding a routing.yml meta data file as suggested, but it did not help. Still the required action plugin is not picked till I set ANSIBLE_NETWORK_GROUP_MODULES to 'os10'

Did you get a chance to look at proposed fixes , when I raised the issue.Those fixes are resolving the issue.Can we consider them ?

root@OS10:~/.ansible/collections/ansible_collections/dellemc/os10# cat meta/r

[2020-06-17 13:00] Qalthos commented on #69990
Should be fixed by https://github.com/ansible/ansible/pull/69642

[2020-06-17 13:03] Qalthos commented on #65511
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:03] #65511 closed, assigned to nobody

[2020-06-17 13:09] Qalthos commented on #65507
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/F5Networks/f5-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-06-17 13:09] #65507 closed, assigned to nobody

[2020-06-17 13:10] Qalthos commented on #65453
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:10] #65453 closed, assigned to nobody

[2020-06-17 13:11] Qalthos commented on #65444
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:11] #65444 closed, assigned to nobody

[2020-06-17 13:13] Qalthos commented on #65416
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:13] #65416 closed, assigned to nobody

[2020-06-17 13:14] #65411 closed, assigned to justjais

[2020-06-17 13:14] Qalthos commented on #65303
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-17 13:14] #65303 closed, assigned to nobody

[2020-06-17 13:15] Qalthos commented on #65019
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/fortinet.fortios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2020-06-17 13:15] #65019 closed, assigned to nobody

[2020-06-17 13:15] Qalthos commented on #65003
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/fortinet.fortios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2020-06-17 13:15] #65003 closed, assigned to nobody

[2020-06-17 13:16] Qalthos commented on #64911
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-17 13:16] #64911 closed, assigned to trishnaguha

[2020-06-17 13:17] Qalthos commented on #64909
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-17 13:17] #64909 closed, assigned to trishnaguha

[2020-06-17 13:18] Qalthos commented on #64730
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:18] #64730 closed, assigned to nobody

[2020-06-17 13:18] Qalthos commented on #64671
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/F5Networks/f5-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-06-17 13:18] #64671 closed, assigned to nobody

[2020-06-17 13:19] #64615 closed, assigned to GomathiselviS

[2020-06-17 13:20] Qalthos commented on #64599
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-17 13:20] #64599 closed, assigned to nobody

[2020-06-17 13:20] #64568 closed, assigned to GomathiselviS

[2020-06-17 13:21] Qalthos commented on #64549
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-17 13:21] #64549 closed, assigned to trishnaguha, rohitthakur2590

[2020-06-17 13:23] Qalthos commented on #64402
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-17 13:23] #64402 closed, assigned to rohitthakur2590

[2020-06-17 13:23] Qalthos commented on #64098
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:23] #64098 closed, assigned to nobody

[2020-06-17 13:24] #64045 closed, assigned to nobody

[2020-06-17 13:25] Qalthos commented on #63872
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:25] #63872 closed, assigned to nobody

[2020-06-17 13:26] Qalthos commented on #63866
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:26] #63866 closed, assigned to nobody

[2020-06-17 13:27] #63805 closed, assigned to GomathiselviS

[2020-06-17 13:28] Qalthos commented on #63451
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:28] #63451 closed, assigned to nobody

[2020-06-17 13:29] Qalthos commented on #63330
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 13:29] #63330 closed, assigned to nobody

[2020-06-17 13:30] Qalthos commented on #63309
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-17 13:30] #63309 closed, assigned to rohitthakur2590

[2020-06-17 13:57] GomathiselviS commented on #63760
This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/arista.eos

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-17 13:57] #63760 closed, assigned to Qalthos

[2020-06-17 14:44] bcoca commented on #18305
no, there is no implicit 'process retry' .. that is what until/retry is for, the ssh connection does have a 'connection retry' but that would not show on the remote if failing/retrying nor create new processes.

[2020-06-17 14:57] broth13 opened #70116 "azure_rm_virtualmachine boot_diagnostics resource group configuration"
##### SUMMARY
azure_rm_virtualmachine can currently only specify a boot_diagnostics storage account that exists in the same resource group as the VM itself.  Would like to be able to specify a "resource_group" tag in the "boot_diagnostics" stanza to allow the use of boot diagnostics storage accounts in other resource groups.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualma

[2020-06-17 14:59] sivel commented on #70116
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-17 14:59] #70116 closed, assigned to nobody

[2020-06-17 15:22] bryskamil commented on #68224
this bug was introduced in the following commit: https://github.com/anshulbehl/ansible/commit/0b64c0eeff9920dcc91dea73ae36d5657ada201d
@Lunik

[2020-06-17 15:24] brysk commented on #68224
this bug was introduced in:
https://github.com/anshulbehl/ansible/commit/0b64c0eeff9920dcc91dea73ae36d5657ada201d
@Lunik @anshulbehl

[2020-06-17 16:26] bcoca commented on #69853
fixed via merged #69520

@vengaar  the 2 instances are due to https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inject-facts-as-vars, set to false to restrict all occurrences to subkeys of ansible_facts.

[2020-06-17 16:26] #69853 closed, assigned to nobody

[2020-06-17 16:34] sivel commented on #69953
I'm going to close this now that https://github.com/ansible/ansible/pull/69959 is merged since the actual problem was in relation to `ansible-galaxy` not preserving symlinks.

[2020-06-17 16:34] #69953 closed, assigned to nobody

[2020-06-17 17:10] #65816 closed, assigned to nobody

[2020-06-17 17:27] #69990 closed, assigned to nobody

[2020-06-17 17:42] samdoran commented on #70071
Thank you for confirming. I'll go ahead and close this then.

[2020-06-17 17:42] #70071 closed, assigned to nobody

[2020-06-17 17:44] scottselberg commented on #68922
This was helpful.  I setup a role to get secrets from HashiCorp vault.  In some situations it was being inserted via **include_role** and other times via a role dependency.  Sometimes I was getting the behavior I expected and sometime my variables were just set to the value of the last call.  Using the role param syntax vs role vars has cleaned up the issue.

[2020-06-17 17:49] sivel commented on #68628
Closing per above.

[2020-06-17 17:49] #68628 closed, assigned to nobody

[2020-06-17 18:04] sivel commented on #68277
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 18:04] #68277 closed, assigned to nobody

[2020-06-17 18:08] sivel commented on #66134
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 18:08] #66134 closed, assigned to nobody

[2020-06-17 18:09] sivel commented on #65915
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 18:09] #65915 closed, assigned to nobody

[2020-06-17 18:10] sivel commented on #65549
needs_info

[2020-06-17 18:43] nitzmahone commented on #68361
There are two different issues at play here:

* pkgutil's loader selection logic differs between Python 2.x and 3.x
* the package imports required by pkgutil can cause issues for module_utils code in subpackages that have package init code that bombs on the controller

The devel/2.10 solution to both is different enough that it can't be reasonably backported. I think there's a clean-ish solution t

[2020-06-17 18:47] tymik commented on #47909
tl;dr: `become: false` should work without need to set `become_user`

for me simply setting `become: false` resolved the issue, as in general my playbook uses `become: true` for all tasks, but `dconf` settings should be applied to my regular user. it would also explain to me why @soulawaker and @guiambros needed to add `become_user`

[2020-06-17 18:59] sivel commented on #69307
The backport has been merged: https://github.com/ansible/ansible/pull/70074

Closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-17 18:59] #69307 closed, assigned to nobody

[2020-06-17 19:25] #58592 closed, assigned to nobody

[2020-06-17 19:29] prsilva77 opened #70123 "__init__() got an unexpected keyword argument 'email'"
##### SUMMARY

Generating error in Ansible playbook to create Project in GitLab.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip3 list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
ansible (2.9.7)
ansible-tower-cli (3.3.9)

[2020-06-17 19:50] seocam commented on #68361
Indeed. Wrapping the import block in a `try/except ImportError` corrects the problem on our role.
Anyway I think that importing code in the controller was kinda dangerous and luckily 2.10 is not following same approach.

@nitzmahone that would be great. Let me know if I can help testing/reviewing your PR whenever it's ready.

[2020-06-17 20:01] imjoseangel commented on #70050
This behavior is also shown in 2.9.

[2020-06-17 20:29] sivel commented on #70123
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-17 20:29] #70123 closed, assigned to nobody

[2020-06-17 21:14] bgrande12 opened #70127 "gcp_iam_service_account_key - TypeError: 'NoneType' object is not subscriptable"
##### SUMMARY
I'm receiving an error when running the gcp_iam_service_account_key module. It creates an empty JSON key file and the task fails. Rerunning the task after deleting the empty file works and the file is created successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_iam_service_account_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN