[2018-08-15 21:11] #28870 closed, assigned to nobody

[2018-08-15 21:26] jocelynj opened #44233 "interfaces_file should support iface for inet6"
##### SUMMARY
I would like to modify a specific address family in /etc/network/interfaces file.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
interfaces_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
I've got a /etc/network/interfaces file with several sections like this:
[code]

I would like to modify only one section

[2018-08-15 22:02] resmo commented on #44232
resolved_by_pr #43202

[2018-08-15 22:28] Geogboe commented on #43827
@mattclay Have you looked into using Windows evaluation licensing? This is how I do my testing. Once registered you'll get an ISO which will be active for 6 months. I rebuild my testing environment regularly so this isn't an issue. https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2016

@jg159357 I'm having the same issue but wanted to add some additional info:

- This issue also

[2018-08-15 22:33] mattclay commented on #43827
@Geogboe Unfortunately those evaluation offers are for server products, not desktop.

[2018-08-15 23:41] mattclay commented on #43827
@Geogboe [The Microsoft Software License Terms](https://windowsdev.azureedge.net/eulas/WindowsDeveloperVirtualMachineEula20151118.pdf) do not permit remote access:

[2018-08-16 00:27] zahodi commented on #21662
Don't think this is a bug. I had to set this in my ec2.ini

``
vpc_destination_variable = private_ip_address
``

By default ec2.py will try to use the public IP as the destination variable to provide to ansible, if it's not there due to the node being in 'stopped' state you need to tell it to use the private_ip_address.

[2018-08-16 00:53] srjennings opened #44236 "Ansible 2.6.2 win_updates module fails with "Exception from HRESULT: 0x80244022""
##### SUMMARY
When running win_updates, playbook displays the following error:
[code]
This is running win_updates against multiple Windows Server Editions:
- Windows Server 2016 Core
- Windows Server 2016 Datacenter GUI
- Windows Server 2012 R2 Datacenter GUI
- Windows Server 2008 R2 Datacenter GUI

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

#

[2018-08-16 01:00] totoroliu opened #44237 "Inventory host variable in INI format is not interpreted as a string"
##### SUMMARY

According to the Note from [Working with Inventory](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#hosts-and-groups),

But if I have an inventory file below:
[code]
with playbook:
[code]
I will have this result:
[code]

If change the value of inventory variable to:
[code]
then playbook would show up the same without issue.

##### ISSUE TYPE
 - Bug Report

##

[2018-08-16 01:09] ptux opened #44238 "option [others] of get_url is unnecessary in docs"
##### SUMMARY

### 1. others parameters

Quote from the doc.

It just adds the args below, but doesn't handle them all.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

get_url.py

##### ANSIBLE VERSION

[code]

[2018-08-16 01:23] #44236 closed, assigned to nobody

[2018-08-16 02:12] yuwzho commented on #42104
Hi @gurdipedos @josemanuel-garcia This problem should be fixed in #43699 , would you like to try it using devel branch? To [install](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-pip) the devel branch, using pip with a github url:

[code]
This fix should be in the next minor release.

@Fred-sun Could you please also verify the fix for this i

[2018-08-16 02:14] yuwzho commented on #44160
Hi @gurdipedos This problem should be fixed in #43699 , would you like to try it using devel branch? To [install](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-pip) the devel branch, using pip with a github url:

[code]
This fix should be in the next minor release.

[2018-08-16 02:21] ganchandrasekaran opened #44240 "Junos configuration change notice is unaffected"
##### SUMMARY

With Junos configuration in place using tasks involving junos_banner and junos_config in playbook, when you run the same playbook twice without changing the content the changed is increased. This is not tested for other modules.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/network/junos
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### O

[2018-08-16 03:35] #23765 closed, assigned to nobody

[2018-08-16 03:36] yuwzho commented on #35235
resolved_by_pr #24040

[2018-08-16 03:41] #35235 closed, assigned to nobody

[2018-08-16 04:35] sumanmallesh commented on #28978
I am getting this error.

[tadmin@localhost ansible]$ ansible clients -m hostname -a "name=node1" -b
192.168.72.129 | FAILED! => {
    "changed": false,
    "module_stderr": "Shared connection to 192.168.72.129 closed.\r\n",
    "module_stdout": "sudo: /etc/sudoers is world writable\r\nsudo: no valid sudoers sources found, quitting\r\nsudo: unable to initialize policy plugin\r\n",
    "msg": "MODU

[2018-08-16 04:44] universonic commented on #43865
When you are talking about `system call`s, I assume that you are talking about things like `subprocess.check_output()` rather than real system calls. I do not know much about python, but in case of some other languages (like `Go`), they will automatically dispatch a new thread to prevent the entire program from blocking.

[2018-08-16 04:48] jhawkesworth commented on #44176
@rpiskule - a workaround, which I use, is to use `win_regedit`to ensure that the NSSM configuration is set up the way I need it.  Looking here: https://nssm.cc/usage, nssm uses HKLM:\System\CurrentControlSet\Services\servicename\Parameters\ to store all its registry settings.
Hope this helps,
Jon

[2018-08-16 04:49] jhawkesworth commented on #44176
I agree it would be a nice feature to have it support all of the options that nssm does though.

[2018-08-16 04:58] #38455 closed, assigned to nobody

[2018-08-16 05:38] zikalino commented on #36206
shall be closed....

[2018-08-16 05:38] #36206 closed, assigned to nobody

[2018-08-16 05:59] ChrisD1990 opened #44245 "Unable to find PyVmomi installed with pip"
##### SUMMARY

when i find vmware state with ansible, it will told me .

[code]
i have installed PyVmomi  with pip.

[code]
below is my yml file :

[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

**ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=30m
DEFAULT_EXECUTABLE(/etc/

[2018-08-16 06:00] ChrisD1990 commented on #44245
there is error log with -vvvv
TASK [get vm state] *************************************************************************************************************************************************************************************************
task path: /etc/ansible/Vm_rollback_snapshost.yml:5
Using module file /usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_guest_find.py
<lo

[2018-08-16 06:02] ChrisD1990 commented on #44245
TASK [get vm state] *************************************************************************************************************************************************************************************************
task path: /etc/ansible/Vm_rollback_snapshost.yml:5
Using module file /usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_guest_find.py
<localhost> ESTABLISH SSH CONNECT

[2018-08-16 06:08] trishnaguha commented on #42311
@dmurarasu Can you please share the output of `show interface port-channel1 | json`?

[2018-08-16 06:11] AnthonyShahine21 commented on #44117
Thank you for the reply.
Is there any update on this issue ?

[2018-08-16 06:38] trishnaguha commented on #42311
resolved_by_pr https://github.com/ansible/ansible/pull/44248

[2018-08-16 06:38] trishnaguha commented on #43824
resolved_by_pr https://github.com/ansible/ansible/pull/44248

[2018-08-16 06:46] #42311 closed, assigned to trishnaguha

[2018-08-16 06:46] #43824 closed, assigned to trishnaguha

[2018-08-16 06:52] harsha-y commented on #42661
##### SUMMARY
Bug exists in Ansible 2.6.2 even _without_ any numeric values for `proto`

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

[2018-08-16 07:00] Fred-sun commented on #39974
@zikalino Could you help update the comments? Thanks!

[2018-08-16 07:15] hanxinyu opened #44251 "Fact gathering is NOT ignored when play level tags don't match"
##### SUMMARY

Fact gathering is NOT ignored when play level tags don't match.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)
##### STEPS TO REPRODUCE

site.yml:

[code]
run:
ansible-playbook site.yml -i hosts --tags=abc

##### EXPECTED RESULTS

Expected was that "Gatheri

[2018-08-16 07:34] ptux commented on #32750
I'll grapple with this when I have inclination and time.

[2018-08-16 07:46] loop-evgeny commented on #44155
I'm running Ansible installed from the official Ubuntu package. Is there a way to easily test this GitHub version without risk of the two getting mixed up, i.e. so that the package version continues to be used by default?

[2018-08-16 07:58] joaocc commented on #39903
Not really, which is why we didn't :)
I think I have not been able to explain that for us it doesn't make sense to explicitly define managed_by in a scenario where volume mounting is managed by AKS (kubernetes service by MS, which creates VMs and in some cases volume disks themselves) in a dynamic way.
But if idempotency at creation is not really a concern, then I'm ok with using our current metho

[2018-08-16 08:11] #43705 closed, assigned to justjais

[2018-08-16 08:12] Fred-sun commented on #39352
@zikalino Could you help to check this issue? Thanks!

[2018-08-16 08:18] Fred-sun commented on #39006
@zikalino Could you help to recheck this issue? Thanks!

[2018-08-16 08:28] justjais commented on #40544
@samccann Can you please look into this document change. Thanks

[2018-08-16 08:28] Fred-sun commented on #38431
@zikalino Could you help update the comment? Thanks!

[2018-08-16 08:32] zikalino commented on #38431
there's a backport pr to fix this problem #41952

[2018-08-16 08:44] 0nelight commented on #28768
Same bug here with Ansible 2.6.2

[2018-08-16 08:47] Fred-sun commented on #37158
@yuwzho Could you help update the comment? Thanks!

[2018-08-16 08:48] jurajseffer commented on #22692
All of the issues related to spot requests being left open after time out was reached are closed but this is still broken in Ansible 2.4. I set too low a price to check logic of using on demand with "allow_failures" set on the task that tries to provision spots and I was left with open spot requests after hitting the spot timeout.

[2018-08-16 09:00] #43079 closed, assigned to trishnaguha

[2018-08-16 09:01] trishnaguha commented on #43079
resolved_by_pr https://github.com/ansible/ansible/pull/44252

[2018-08-16 09:03] #39624 closed, assigned to yungezz

[2018-08-16 09:05] #39352 closed, assigned to zikalino

[2018-08-16 09:11] Fred-sun commented on #34047
@nitzmahone @kyliel Could you help update the comment? Thanks!

[2018-08-16 09:15] Fred-sun commented on #33943
Hi @charliejllewellyn Are you still here? Could you help update the comment?

[2018-08-16 09:29] Fred-sun commented on #29585
@kyliel Could you help update the comment? Thanks!

[2018-08-16 09:43] #43657 closed, assigned to justjais

[2018-08-16 09:52] emz00 opened #44261 "Setting a variable to default(omit) sets it to a string placeholder instead of undefined"
##### SUMMARY
When I set a variable to `anothervariable | default(omit)` and `anothervariable` is undefined I expect the result to be undefined, but instead it's set to a string placeholder ("__omit_place_holder__SOMEGUID").

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Jinja2 expressions?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ubuntu 16.0

[2018-08-16 10:10] Akasurde commented on #44245
@ChrisD1990 Thanks for reporting this issue. I see you are installing `PyVmomi` is installed in `/usr/lib64/python2.7/site-packages` whereas Ansible module is looking library in `/usr/lib/python2.7/site-packages`

Can you check this on your setup and let me know ? Thanks,

needs_info

[2018-08-16 10:49] loop-evgeny commented on #44261
`default(None)` also doesn't work to leave the variable undefined - it gets converted to an empty string

[2018-08-16 11:00] sumpfralle commented on #43485
Asking for the removal of a file does not contradict a possible given source. The source is just not relevant for this specific operation.

I cannot imagine anything to be ambiguous about the state `absent`. It is hard to misinterpret this value. Being *Generous on input, strict on output* applies here - we are dealing with humans and not with machine-generated output.

Thus please do not complica

[2018-08-16 11:08] mangellopez commented on #36937
Hi

Yes, now in ansible 2.5 is working fine.

Thanks a lot.

[2018-08-16 11:08] #36937 closed, assigned to nobody

[2018-08-16 11:18] shibumi opened #44264 "[vmware_guest_file_operation] Failed to Copy file to VM VMware Exception..."
##### SUMMARY

##### ISSUE TYPE
*   Bug Report

##### COMPONENT NAME
**vmware_guest_file_operation**

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /root/ansible-vxlan/ansible.cfg
  configured module search path = ['/root/ansible-vxlan/library']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.6.5 (defau

[2018-08-16 11:30] shibumi commented on #44264
`/var/log/vmware-imc/toolsDeployPkg.log`
[code]

[2018-08-16 12:32] Ploy-XIV opened #44266 "User module picks unexpected default shell on Debian"
##### SUMMARY
The documentation for the `user` module ([https://docs.ansible.com/ansible/latest/modules/user_module.html]()) has nothing to say on the default login shell (except for the platform macOS).

On Debian 9/stretch, I expect the default shell for newly created users to be the value of the variable `DSHELL` from `/etc/login.defs`. This is consistent with the documentation of the program `

[2018-08-16 12:41] ganeshrn commented on #44240
On which ansible version are you running?

Also, the task doesn't seem to be indented properly at `state: present` line
[code]

needs_info

[2018-08-16 12:48] webknjaz commented on #43485
Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * It's not duplication, making metamagic with conditional args is odd. `absent` is not ambiguous when it's clearly stated in a playbook, but not when it's in some variable depending on some conditi

[2018-08-16 12:48] #43485 closed, assigned to nobody

[2018-08-16 12:50] Ploy-XIV commented on #44266
OK, I found the source of my confusion.

The user module calls `useradd` instead of `adduser`. `useradd` has this to say on the default shell in the man page:

The relevant section from `/etc/default/useradd` being:

[code]

So, it's really more an issue of Debian being internally inconsistent, and the man page for `useradd` being incomprehensible.

I would be overjoyed if Ansible fixes this anywa

[2018-08-16 13:31] Qalthos commented on #44111
I have been able to reproduce this on ansible 2.5.2, however, this issue appears to already be fixed in the current release of ansible 2.5 as well as 2.6. I would suggest you update your version of ansible and try again.

[2018-08-16 13:31] #44111 closed, assigned to Qalthos

[2018-08-16 13:40] virtio-technique opened #44268 "Add to the ansible module "ovirt_snapshots" support to download/upload of snapshots"
##### SUMMARY

Add to the ansible module "ovirt_snapshots" support to download/upload of snapshots.
According to the https://bugzilla.redhat.com/show_bug.cgi?id=1405805 support of this functionality is already implemented in the ovirt API.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ovirt_snapshots

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEP

[2018-08-16 14:11] mikewiebe commented on #43223
@gundalow `{{ ansible_service_mgr}}` is set to `systemd` in both `2.5` and `2.6`.

**Ansible 2.5**
[code]
[code]
**Ansible 2.6**
[code]

[code]

[2018-08-16 14:12] Ploy-XIV commented on #44266
OK, bug is now upstream: [https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=906278]().

[2018-08-16 14:17] ChrisD1990 commented on #44245
i have two ansible env, i don't know why other env can run PyVmomi, and i check the PyVmomi install path is the same and ansible with /usr/lib/python2.7/site-packages.

other ansible env:
[root@ansible001 ~]# python -m site
sys.path = [
    '/root',
    '/usr/lib64/python27.zip',
    '/usr/lib64/python2.7',
    '/usr/lib64/python2.7/plat-linux2',
    '/usr/lib64/python2.7/lib-tk',
    '/usr/lib64/

[2018-08-16 14:27] sivel commented on #44261
This is the expected behavior.  `omit` is a special variable for omitting an individual argument to a module with only that value, and not for any more generic process.  An Example:

[code]

It is not designed to leave a variable undefined.  The documentation describes it as:

There is actually no way to define a variable as undefined.  The act of defining it, will always define it, regardless of

[2018-08-16 14:27] #44261 closed, assigned to nobody

[2018-08-16 14:40] loop-evgeny commented on #44261
The string "__omit_place_holder__5ebe2a97fd59a2b8a8f0f9772e8e675496a74faa" is expected behavior? What user could possibly expect *that*?

That's a problem. "Defining an undefined variable" sounds like a strange use case, but it's not, for example, if you just want to copy one variable to another, especially a dictionary: keys that were not in the input dictionary should not be in the output one.

[2018-08-16 14:46] shibumi commented on #44264
Ok solved the issue.. the folder where the file should be copied to didn't exist. The error messages are little bit weird.

[2018-08-16 14:46] #44264 closed, assigned to nobody

[2018-08-16 15:47] imjoseangel opened #44272 "Fix multiple asynchronous tasks examples under Asynchronous Actions and Polling"
##### SUMMARY
Latest examples in documentation don't work properly. Instead of using `loop`, `with_items` is required

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

async

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS X Sierra - 10.13.6 - Brew with Python 3.7.0

##### STEPS TO REPRODUCE

Adding current example:

[code]

##### EXPECTED

[2018-08-16 16:08] justjais commented on #40544
@samccann I follow Infoblox doc to checkout the available infoblox options, in this case you can follow: https://docs.infoblox.com/display/NAG8/About+IPv4+DHCP+Options, for network available options that I can see from `nios` server UI are:
1. Routers
2. Domain Name
3. DNS Servers
4. Broadcast Address
Hope it helps

[2018-08-16 16:12] Akasurde commented on #44183
resolved_by_pr #44273

[2018-08-16 16:13] Akasurde commented on #44183
@nicholasrodriguez Could you please try above PR and let me know if it works for you ? Thanks.

[2018-08-16 16:13] samdoran commented on #44163
!component=lib/ansible/modules/cloud/opennebula/one_host.py

[2018-08-16 16:53] cb241508 commented on #43152
I'm also experiencing a version of this bug.  I'm on Ansible 2.6, and the error I'm getting is from my Nexus 7k running n7700-s2-dk9.6.2.18.  The error I get is Ansible trying to run "show version | json", which is an invalid command.  I have previously run this module on 2.4, but it looks like something changed since then and this command is not valid.

[2018-08-16 17:05] cb241508 opened #44275 "nxos_banner doesn't access motd parameter"
##### SUMMARY
even when using the "banner: motd" option of the nxos_banner module, it returns an error saying "banner: exec may not be supported on this platform.  Possible values are : exec | motd"

banner: exec is not anywhere in my playbook - and I've verified banner: motd is a valid command on the device.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_banner

##### ANSIBLE VERSION

[2018-08-16 17:14] mbigras commented on #3546
After reviewing this issue I'm not clear if we're able to specify multiple patterns in one play, from this example it looks like I'd need to break them out into separate plays:

In some.yml I'm using two plays, each with one host pattern, overall the playbook finds 11 hosts:

[code]

Then I combine the two host patterns into one play except only the `tag_Environment_dev:&tag_node_type_bastion` hos

[2018-08-16 17:27] ymotongpoo opened #44276 "`gce.py` fails on using `secrets.py` due to namespace conflict with the new standard module `secrets` in Python 3.6+"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Module: gce

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
1. prepare GCE side for Ansible following [this doc](https://docs.ansible.com/ansible/2.6/scenario_guides/guide_gce.html)
  a. download p12 file for the service account and generate pem file from it.
  b. copy `contrib/inventor

[2018-08-16 17:33] Protista opened #44278 "pamd module does not support control rule "definitive""
##### SUMMARY
Ansible pamd module does not support control rule "definitive".

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible control: WSL Ubuntu 18.04 LTS
Target node: Solaris 11.3
Target files: /etc/pam.d/login, /etc/pam.d/other
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

New Li

[2018-08-16 17:37] ymotongpoo commented on #44276
This issue is due to namespace conflict between the config file `secrets.py` and the new standard module [`secrets`](https://docs.python.org/3.6/library/secrets.html) introduced in Python 3.6.

https://github.com/ansible/ansible/blob/devel/contrib/inventory/gce.py#L302
In the current implementation of `gce.py`, it imports `secrets` expecting to import `secrets.py` which the user created, but the a

[2018-08-16 17:43] erjohnso commented on #44276
Hi @ymotongpoo - thank you for flagging this.

I see that you're using 2.6 and wanted to let you know that there is a new inventory module you could try (we'd love feedback!).

https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/gcp_compute.py

I realize the plugin you're trying might fit your use-ca

[2018-08-16 17:45] zakstar commented on #42959
@mikewiebe Tested, it works. thanks! Is the outcome {result=FAILED, changed=False} more appropriate than  {result=ok, changed=False}?

[2018-08-16 17:47] LucidOne commented on #44077
I might be having a similar issue.

I think there can be a race that fails silently if you restart the registry immediately before trying to push to it. It looks like the image gets tagged but the image itself doesn't pushed.

I put in a sleep but it probably just needs a `wait_for`

[2018-08-16 18:26] samdoran commented on #44237
I am able to duplicate this and found it only is a bug on Python 2. Python 3 works correctly.

[code]

[code]

[2018-08-16 18:37] samdoran commented on #44251
I don't see where fact gathering is disabled anywhere in your config or playbook.

needs_info

[2018-08-16 18:47] acozine commented on #42178
Since 2.4 will be end-of-life in six weeks, and I've got a lot of other high-priority projects, I'm going to punt on backporting this change to 2.4. Thanks again @dagwieers for pointing out this issue.

[2018-08-16 18:50] samdoran commented on #44266
The problem with compensating for this in Ansible in the User class is used by the majority of Linux distributions. Hardcoding a specific shell could have other ripple effects and could potentially require enumerating specific shells for each distribution.

I believe this should specified in the playbook for the problematic platforms (a `default(omit)` that gets values from a dictionay keyed on pl

[2018-08-16 18:52] dagwieers commented on #42178
@acozine OK, a single source solution would be preferred, maybe we can pull that file from another branch before building ? Backporting seems the wrong approach IMO.

[2018-08-16 18:55] dagwieers commented on #42178
And this is not related to v2.4 only, the issue exists for v2.5 and v2.6 too, and will be a problem with v2.7 once we freeze it.

[2018-08-16 19:05] samdoran commented on #44155
Yes, you can pull down this branch and run from the source directory. See [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html?#how-to-test-a-pr) for detailed steps.

[2018-08-16 19:07] bcoca commented on #44251
fact gathering has an automatic 'always' tag

[2018-08-16 19:47] ymotongpoo commented on #44276
@erjohnso Thank you for the comment! I'll try the module instead!

Just a little request. It's great if there would be some comments in the script that describes the maintenance status of `gec.py` then.

[2018-08-16 19:59] sumpfralle commented on #43485
I really appreciate, that you took the time to explain your reasoning in detail.

Thank you for your invitation to a mailing list discussion. i weighted the importance of this issue to me and decided against it. But I could not resist to reply - sorry for that! (please feel free to leave my reply unanswered)

I referred to the duplication that you suggested to the original submitter (shortening th

[2018-08-16 20:40] apollo13 opened #44284 "known_host module fails when trying to install a key with hash_host set to true"
##### SUMMARY

The `known_host` module fails horribly with `hash_host` set to True if an unhashed entry already exists:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

local: debian unstable
remote: ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error

##### AC

[2018-08-16 20:50] erjohnso commented on #44276
Alex is in the process of adding a ton of new GCP modules. Many are in 2.6 with more coming for 2.7.

It's very early for this new work and once we feel that the community has taken them for test drive and we've had time to incorporate feedback, we'll definitely work to add transition notes for folks.

If you do find issues with the inventory script, could I ask that you create a new issue(s) so w

[2018-08-16 20:55] rvalle commented on #44163
yes! they are broken. looks like when we merged the interface with the other modules we left this behind.

will add a tesy case and fix it.

[2018-08-16 22:02] guilhermesteinmuller opened #44285 "os_router always sets enable_snat to true"
##### SUMMARY

The enable_snat parameter is always set and it is sent in the neutron request, causing neutron to refuse the request based on the [policy](https://github.com/openstack/neutron/blob/7acefb0c7fbb5057879a2edadd43423275993bc3/etc/policy.json#L104). The enable_snat parameter should be unset and ONLY set if provided by the user that has an admin role"

##### ISSUE TYPE
 - Bug Report

####

[2018-08-16 22:12] acozine commented on #29651
@jxn take a look at https://github.com/ansible/ansible/pull/44277 - does it clarify the behavior?

[2018-08-16 22:15] mnaser commented on #44285
Given that we can't detect a user is an admin or not, we should only send it if it's supplied and default to not sending anything.

[2018-08-16 22:28] iloving opened #44286 "Ansible needs better versioning"
Ansible backward compatibility is a massive issue when each minor release can make fundamental changes in behaviour and break existing playbooks.  This makes management incredibly challenging, especially if you have a large existing library of playbooks.  All it takes is one bleary-eyed yum/apt update for total chaos to ensue because there is no difference between a patch release and a minor revis

[2018-08-16 22:47] acozine commented on #43573
Thanks @gundalow for reporting this - can you provide examples? Something like "currently if I search for `cabbage` the results don't include [link to page where `cabbage` is included in a snippet]". Examples will help with testing any fixes we try.

[2018-08-16 22:59] webknjaz commented on #43485
I meant that user who sees such obscure playbook would be confused. My statement wasn't about docs.
I'm still insisting that semantics here is broken, that's what such validation is solving.

P.S. I like being elegant as well, but sometimes what our brains invent as "clever hack" will be unreadable for others or even to the future ourselves. One of the examples of such situation is programming lan

[2018-08-16 23:09] jborean93 commented on #43485
You can also use a ternary operator with [omit](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#omitting-parameters) with the src option if you don’t want to define the task twice. That way the src is defined if you are creating a link and omitted when src isn’t needed.

[2018-08-16 23:31] sivel commented on #44286
Our versioning does not follow strict semver.  2.4 and 2.5 are major releases for Ansible.

Do keep in mind that we support 4 major versions simultaneously since 2.4, which will include 2.4-2.7.

Feel free to send an email to the developer list to discuss and learn more about our release process.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible-devel on irc.fr

[2018-08-16 23:31] #44286 closed, assigned to nobody

[2018-08-16 23:47] aguynamedjoetoo opened #44288 "[vmware_guest] Disks create as IDE device, Cannot Specify Otherwise"
##### SUMMARY
Based off the documentation for the `vmware_guest` module, it doesn't look like we can specify the type of Virtual Device Node, and it is somehow choosing IDE by default. By choosing an IDE device, we cannot online resize drives.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

I tried adding under the hardw

[2018-08-17 00:26] tgmedia-nz commented on #33670
@stefanhorning thanks heaps for this - it was bugging me for a while so I kept ansible on version 2.3 until today - thanks for sharing.

[2018-08-17 01:26] zikalino commented on #39958
@Fred-sun when you mentioned that: " login Azure portal to create VM , the VM run more than 24h", is the error exactly the same as reported before?
could you also gather facts for that virtual machine?

[2018-08-17 01:56] Fred-sun commented on #39958
@zikalino I will reproduced and update the gather facts for the VM. Thanks!

[2018-08-17 02:21] #37320 closed, assigned to zikalino

[2018-08-17 02:21] #36076 closed, assigned to zikalino

[2018-08-17 02:22] #39079 closed, assigned to nobody

[2018-08-17 02:34] #43139 closed, assigned to zikalino

[2018-08-17 02:34] #41433 closed, assigned to nobody

[2018-08-17 02:41] #41081 closed, assigned to nobody

[2018-08-17 02:44] #36085 closed, assigned to zikalino

[2018-08-17 02:46] jxn commented on #29651
Yes, if that pull request is merged, I will consider t this issue closed

[2018-08-17 02:55] Fred-sun commented on #39977
@yungezz Could you help recheck this Issue? Thanks!

[2018-08-17 03:02] vpvijay87 opened #44289 "Sudo permission issue"
sudo permission issue
##### SUMMARY
I do not sudo permission on the server level, however i have sudo permission to run below command
Sudo docker strat

Is it possible to run this command alone with sudo privelleges using ansible . I am getting access denied error message to run the setup.py script since i do not have sudo access on the server level.

[2018-08-17 03:04] hanxinyu commented on #44251
I specify another tag ('abc', not 'dpc') to skip this play, and expect the fact gathering is ignored. How to implement that?

[2018-08-17 04:17] Akasurde commented on #44288
@Joeskyyy Thanks for reporting this issue. Could you please check this PR https://github.com/ansible/ansible/pull/39285/ and let me know if it works for you ? Thanks.

[2018-08-17 05:32] zikalino commented on #39958
@guillemsola would you be able to provide any details on how you created your vm in first place? ansible playbook? arm template? I roughly know how this problem can be fixed, but first I would like to be able to reproduce the exact scenario.

[2018-08-17 05:47] Akasurde commented on #44101
resolved_by_pr #44292

[2018-08-17 05:48] Akasurde commented on #44101
@blambo10 Could you please check above PR and let me know if it works for you ? thanks

needs_info

[2018-08-17 05:52] Akasurde commented on #44100
@blambo10 Thanks for the reporting this feature. `vmware_guest` is specifically manages a particular virtual machine. I am not sure how this feature will fit in, if we apply all configurations to all VMs in cluster. You can always use `loop` or `with_items` and with daisy chaining multiple modules to achieve this functionality.

Let me know if you have any specific use case or opinions.

Thanks,

[2018-08-17 06:01] Akasurde commented on #43921
@shibumi I think this is something related to `open-vm-tools` rather than Ansible. Please see similar bug https://github.com/vmware/open-vm-tools/issues/130

[2018-08-17 06:08] Fred-sun commented on #39574
@yuwzho @yungezz This issue seem already fixed by PR #24040 ,Could you help take a look？ Thanks!

[2018-08-17 06:15] Fred-sun commented on #25352
@lukadante Thanks for your contribution, Are you still here? Could you help update the comments? Thanks!

[2018-08-17 06:17] blambo10 commented on #44100
Hi Aasurde,

I noticed that you actioned my other request https://github.com/ansible/ansible/issues/44101

Returning the cluster info as apart of the dictionary in that module,
I am yet to test that, however if that is the case.

I can indeed do as you suggest, use a loop over vm's and check the cluster fact before changing the config.

Thanks,
Bryce

[2018-08-17 06:17] Fred-sun commented on #26195
@kyliel Could you help update the comments？ thanks!

[2018-08-17 06:19] Fred-sun commented on #28392
@zikalino Could you help update the comment? Thanks!

[2018-08-17 06:25] Fred-sun commented on #31237
@BipinXavier Could you help update the comment? Thanks!

[2018-08-17 06:26] Fred-sun commented on #30392
@mattclay @nitzmahone Could you help update the comments? Thanks!

[2018-08-17 06:26] Akasurde commented on #43712
@grzesart1978 Thanks for reporting this issue. What is value of `vlan: "{{item['vlan']}}"` in playbook.

[2018-08-17 06:27] Fred-sun commented on #31867
@zikalino Could you help update the comment? Thanks!

[2018-08-17 06:31] Fred-sun commented on #34032
@zikalino Could you help update the Issue status? Thanks!

[2018-08-17 06:33] Fred-sun commented on #34047
@nitzmahone @kyliel Could you help update the comment? Thanks!

[2018-08-17 06:37] charliejllewellyn commented on #33943
Hi @fred-sun, thanks for the support.  Unfortunately I no longer work with Azure Stack and have no way to test.  I will notify my old team but feel free to close the issue,  thanks for the support :)

[2018-08-17 06:43] zikalino commented on #25352
assigned to myself, this should be done by using azure_rm_virtualmachine_facts, I will make sure this is returned.

[2018-08-17 06:44] trishnaguha commented on #42348
resolved_by_pr https://github.com/ansible/ansible/pull/44294

[2018-08-17 06:57] #42348 closed, assigned to trishnaguha

[2018-08-17 07:05] navedrizv opened #44296 "Archive module fails for large file size"
##### SUMMARY

Archive module breaks for large file sizes

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

centos7

##### STEPS TO REPRODUCE

When archiving a folder on target server, if the folder size is large (> 6 GB), the archive module throws error,

[2018-08-17 07:07] grzesart1978 commented on #43712
@Akasurde I have define in vars something like that

vars/kafka-prep.yml

server_list:
  - name: test-kafka
    vcenter_cluster: ESX-LAN
    folder_vm: /ESX-LAN/ESX-LAN/DATA
    cpu_count: 1
    vm_memory: 4096
    disk1_size: 8
    datastore_1: ESX-LAN-D01
    disk2_size: 10
    datastore_2: ESX-LAN-D01
    disk3_size: 30
    datastore_3: ESX-LAN-D01
    vlan: pg-LAN-100-TEST
    ip: 10.10.1.51

[2018-08-17 07:18] zikalino commented on #25352
one of the ways to get the state of the vm is to use azure_rm_resource_facts module:
`  - name: Call REST API - VirtualMachines_InstanceView
    azure_rm_resource_facts:
      api_version: '2018-06-01'
      resource_group: zimsvmtestrgx
      provider: compute
      resource_type: virtualmachines
      resource_name: testvm
      subresource:
        - type: instanceview
    register: output

  -

[2018-08-17 07:26] Fred-sun commented on #33943
@charliejllewellyn Thanks for your update!

[2018-08-17 07:40] Fred-sun commented on #43802
@yuwzho Could you help check this issue? Thanks!

[2018-08-17 07:50] Akasurde commented on #42852
@FlorianneRaven Thanks for reporting this issue. As a workaround you can use Python 3 to overcome this  issue for now.
[code]

I am trying to reproduce this issue in my environment. Thanks.

[2018-08-17 07:57] Akasurde commented on #42852
Also, can you paste the version of PyVmomi used ?

[code]

[2018-08-17 08:07] blambo10 commented on #44101
Thanks @Akasurde

Left output in the pr,
your change is adding the provided fact, works perfectly.

[2018-08-17 08:13] FlorianneRaven commented on #42852
pip show pyvmomi
Name: pyvmomi
Version: 6.7.0
Summary: VMware vSphere Python SDK
Home-page: https://github.com/vmware/pyvmomi
Author: VMware, Inc.
Author-email: jhu@vmware.com
License: License :: OSI Approved :: Apache Software License
Location: /usr/lib/python3.4/site-packages
Requires: requests, six
Required-by:

[2018-08-17 08:13] Fred-sun commented on #41003
@zikalino Could you take a look this issue? Thanks!

[2018-08-17 08:15] sieben commented on #31099
!component

[2018-08-17 08:16] sieben commented on #31099
@alikins I'm not sure to understand what is expected of me here.

[2018-08-17 08:17] blambo10 commented on #44100
#44101 tested and provides what i require.

Closing ticket.

[2018-08-17 08:17] #44100 closed, assigned to nobody

[2018-08-17 08:17] Fred-sun commented on #43544
@zikalino Could you help take a look this issue? Thanks!

[2018-08-17 08:19] Akasurde commented on #42644
@darthlupi Could you please check above PR and let us know if it works for you ? Thanks.

needs_info

[2018-08-17 08:20] Akasurde commented on #42644
resolved_by_pr #43606

[2018-08-17 08:31] Fred-sun commented on #43195
@zikalino Could you help update this issue? Thanks!

[2018-08-17 08:38] Fred-sun commented on #42769
@nitzmahone Thanks for your contribution, Could you give more detail info about this issue? Thanks!

[2018-08-17 09:06] shibumi commented on #43921
@Akasurde Thanks. Closing

[2018-08-17 09:06] #43921 closed, assigned to Akasurde

[2018-08-17 09:07] sseide commented on #43485
@jborean93 Thanks for pointing out the omit operator, did not know that. This will help to prevent unnecessary and hard to maintain code duplication.

For the other points - thanks for considering it and explaining your decision.
But i must say that I am completely in line with @sumpfralle on all points he said. I prefer to clean up the systems when switching between different options to not let o

[2018-08-17 09:28] webknjaz commented on #43485
@ssalevan you just did nitpicking yourself :) there are **other** reasons I described. `name` itself isn't a reason as such, but it's one of the small indications that something is overloaded with multiple uses, which SRP would be a better approach (one task - one action vs. one task - multiple unpredictable outcomes based on a magic variable).

[2018-08-17 09:42] languitar commented on #31980
Can someone explain why this is a duplicate of #21890? I think the original request here was to use default at all, not to expose them to the rest of the world.

[2018-08-17 09:47] nicholasrodriguez commented on #44183
@Akasurde thanks for the quick turnaround! I've tried this over several clusters and it works now.

[2018-08-17 09:53] #44183 closed, assigned to Akasurde

[2018-08-17 09:54] Akasurde commented on #44183
@nicholasrodriguez Thanks for testing.

[2018-08-17 10:14] lemmy04 commented on #43385
I just had another case of kernel update where the return code of zypper itself was discarded, so my play didnt notify me about requrired reboots.

[2018-08-17 10:28] MichalPloski opened #44298 "grafana_datasource option for using cloudwatch exporter"
##### SUMMARY
We would like to use ansible grafana datasource module to configure cloudwatch datasource which is not possible because of possible choices in ds_type parameter
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

grafana_datasource
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Option to use cl

[2018-08-17 10:38] alex-left opened #44300 "ANSIBLE_VAULT_PASSWORD_FILE variable at inventory level"
##### SUMMARY

We can define a enviroment variable (ANSIBLE_VAULT_PASSWORD_FILE) or a variable in ansible.cfg (vault_password_file) to define a path with a password for vault.
Would be very useful and probably easy to do, to add also this variable in the inventory scope. This way you can eliminate the dependency of the file for all inventories that not have vaulted variables.
Actually, if the file

[2018-08-17 10:50] abadger commented on #42388
The documentation that was part of the patch has links to information for
both vagrant and windows on how to mount filesystems with non world
writable directories:
https://docs.ansible.com/ansible/devel/reference_appendices/config.html#avoiding-security-risks-with-ansible-cfg-in-the-current-directory

Do those pieces of information not work for you?

On Fri, Aug 17, 2018, 3:23 AM Whidegroup <notif

[2018-08-17 11:03] whidegroup commented on #42388
@abadger "If you absolutely depend on having the config live in a world-writable current working directory, you can explicitly specify the config file via the ANSIBLE_CONFIG environment variable. Please take appropriate steps to mitigate the security concerns above before doing so."

I have a small idea about assigning the ANSIBLE_CONFIG environment variable to permanently point to some exact file

[2018-08-17 11:54] seschwar commented on #29461
@kassiansun, that syntax is for the repo digest of an image, which is different from its ID.

[code]

And while the `docker_container` module works with the RepoDigest it doesn't work with the Id. And I need to use the Id, since I want to run a container with an untagged image. And since it is untagged it doesn't have a name or a digest, just an Id.

[2018-08-17 11:57] snerge opened #44304 "ipa_hostgroup times out when creating a new hostgroup with more than 300 servers"
##### SUMMARY
ipa_hostgroup times out when creating a new hostgroup with more than 300 servers

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ipa_hostgroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHER_SUBSET(/etc/ansible/ansible.cfg) = !hardware
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = Fals

[2018-08-17 12:13] seschwar commented on #29461
The Python bindings for Docker don't seem to be the problem. Running the following command using the virtualenv [created earlier](https://github.com/ansible/ansible/issues/29461#issuecomment-412007917) works just fine:

[code]

[2018-08-17 12:16] ghost opened #44305 "Make lvol module set metadata size for thin pools"
##### SUMMARY

necessity of setting the LVM thinpool metadata size to custom values

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-17 12:27] GBT commented on #35223
Did you test with Azure **China** Cloud ? do you have an 21vianet account ?
The issue is that the FQDN of servers is not in .blob.core.windows.net domain, there are from .blob.core.chinacloudapi.cn domain.

[2018-08-17 12:36] shibumi opened #44307 "[proxmox_kvm] 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'node'"
##### SUMMARY
The `proxmox_kvm` module fails with the following error message:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

**proxmox_kvm**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host Running Ansible: Arch Linux
Target Host: Proxmox 5.2

##### STEPS TO REPRODUCE

[code]

with defaults file:
[code]

and host_vars:
[code]

##### EXPECTED

[2018-08-17 13:26] sbrooks-chroma opened #44310 "fortios_config backup not working without filter"
##### SUMMARY
Backup of Fortigate 200E configuration had been working until additional lines were added to the Fortigate configuration. Backup now only works if limited by a filter. Backup still works on another Fortigate with fewer lines in its configuration. Last successful backup had 6397 lines.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fortios_config
pyFG

##### ANSIBLE VERSION

[c

[2018-08-17 14:05] drzraf commented on #26581
Another aspect is that `IDENTIFIED VIA` should be supported (eg `unix_socket`)
See https://dev.mysql.com/doc/refman/5.5/en/create-user.html , https://wiki.debian.org/MySql

[2018-08-17 14:19] ctechvt commented on #44310
Did some more testing this morning, and it looks like I was wrong about the issue being the length of the config file. The issue seems to be that a filter is now required, which appears to mean I can't backup the entire running config.

[2018-08-17 14:21] #29651 closed, assigned to nobody

[2018-08-17 14:30] GregFrBdx opened #44314 "Playbook failed if dest is lxc container (via ProxyCommand)"
##### SUMMARY
Can't access the lxc container (via ssh ProxyCommand), because it seem there's an error for the ssh command : **first quote left** after **/bin/sh -c** !

* not like #21564, i can connect to container
* error like #29419 but
* not connected with "ansible module" for ansible
* ansible rundeck_srv -m ping -i environments/itg/inventory work (see below)

ANSIBLE_DEBUG=1  ansible-playbook

[2018-08-17 14:34] jesusch opened #44315 "pip module should allow relational operators on software version"
##### SUMMARY
Currently pip module only allows specific versions. No relational operators (> >= < <=)

##### ISSUE TYPE
 - Feature Idea

either the version property should support this or introduce a new operator

##### COMPONENT NAME
pip_module

##### ANSIBLE VERSION
[code]
  - name: install pip modules
    pip:
      name: "{{ item.name }}"
      version: "{{ item.version }}"
    with_items:

[2018-08-17 14:35] Ploy-XIV opened #44316 "User module picks unexpected default values for some properties of new accounts on macOS"
##### SUMMARY
When creating a standard user account through the macOS 10.13 GUI and using Ansible's `user` module, different defaults are picked for some properties:

Ansible module parameter name | What macOS does | What Ansible does
--------|--------------|----------
comment | The `comment` can not be empty. | Defaults to the empty string.
group | The default group is `20`/staff. | The default g

[2018-08-17 14:43] #41611 closed, assigned to webknjaz, HD650

[2018-08-17 14:59] ascerra opened #44318 "file module, using absent, the module is failing when the file does not exist"
##### SUMMARY

file module, using absent, the module is failing when the file does not exist. The documentation specifies "Note that absent will not cause file to fail if the path does not exist as the state did not change"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/ro

[2018-08-17 15:03] darthlupi commented on #42644
Tested on my system and works like a charm.  I deployed my OVA to 2 separate clusters with great success.  Thanks for being so quick to see the need for this!  I really appreciate this community.

[2018-08-17 15:03] #42644 closed, assigned to nobody

[2018-08-17 17:28] codylane commented on #30599
Not trying to step on anyone's toes but I was able to checkout the PR and address the reviewers comments.  #44324 .  Hopefully this can be merged soon. :)

[2018-08-17 17:30] frock81 commented on #42309
Same problem here, when trying to restart ssh service on Debian Wheezy.

#### To reproduce

Use Vagrant with the following Vagrantfile:

    # -*- mode: ruby -*-
    # vi: set ft=ruby :
    Vagrant.configure("2") do |config|
      config.vm.box = "debian/wheezy64"
      config.vm.provision "ansible" do |ansible|
        ansible.playbook = "play.yml"
      end
    end

Place the following playbook,

[2018-08-17 17:53] ezall-g2 commented on #29501
Hello, does anyone have a workaround for this? thanks!

[2018-08-17 18:08] mcandre opened #44325 "pkgng lacks 'latest' state option"
Ansible is able to specify that packages should be up to date with the Red Hat and Debian package managers, but not with the pkgng package manager.

[2018-08-17 18:19] Straevaras opened #44326 "VMware: vmware_portgroup incorrectly handles "false" values in security policy"
##### SUMMARY

If you pass `false` to the network security policy in vmware_portgroup, that element of of the policy is actually not defined.  This compounds on an [already existing bug in vmpyomi](https://github.com/vmware/pyvmomi/issues/712) where null/undefined values are not handled properly and depending on which value is null, none of the security policy is set or the parts that are null are

[2018-08-17 18:26] techraf opened #44327 "`flatten` filter does not flatten lists when chained to other filters"
##### SUMMARY

`flatten` filter does not flatten lists when chained to filters producing lists of tuples.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`flatten` filter

##### ANSIBLE VERSION

[code]
(also previous versions)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All debug tasks returning the same flattened list

[2018-08-17 18:37] mattclay opened #44328 "Failing integration test k8s"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test k8s is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration k8s --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

Tests fail.

[code]

[2018-08-17 18:38] mattclay commented on #44328
Disabled in devel in https://github.com/ansible/ansible/commit/9cc16ca9d8c5f8a0b577108b9363998a29d2c9f8

[2018-08-17 18:40] drewburr opened #44329 "ldap_passwd module AttributeError"
##### SUMMARY

Usage of ldap_passwd module always results in error.
`The error was: AttributeError: SimpleLDAPObject has no attribute 'passwd_set'`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ldap_passwd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

--2.6.0--
DEFAULT_ASK_VAULT_PASS(/c/Users/<username>/Documents/Projects/github/ldap_ansible/ansible.cfg) = True
RETRY_FILES_ENABLED(

[2018-08-17 18:41] ezall-g2 commented on #29501
It's not a truly rolling deployment but for my purposes I was able to work around it by doubling the desired capacity then returning it to normal with the termination policy to terminate the oldest launch config.

[2018-08-17 19:02] drewburr commented on #44329
This issue is persistent in `python-ldap-3.1.0` as well

[2018-08-17 19:06] fabianvf commented on #44328
This is caused by a version pinning issue (pulled in kubernetes 7.0.0), 0.6.3 is currently building and will fix it.

[2018-08-17 19:11] SimplySeth opened #44330 "ec2_vpc modules skipping profile"
##### SUMMARY
ec2_vpc_subnet_facts ignores boto profile
ec2_vpc_net_facts ignores boto profile

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_subnet_facts
ec2_vpc_net_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
MacOSX

##### STEPS TO REPRODUCE
Run the tasks with the
ec2_vpc_subnet_facts
or
ec2_vpc_net_facts

[code]

##### EXPECTED RESULTS
O

[2018-08-17 19:27] samccann opened #44332 "Update network module examples to use become instead of authorize"
##### SUMMARY

Update module examples that use network_cli - replace authorize with become.
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

See https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/asa/asa_command.py for examples that need updat

[2018-08-17 19:44] ezall-g2 commented on #29501
But then I want a way to deploy the new launch configuration to an autoscaling group without having to know the current desired capacity, is there any way to make that work?

[2018-08-17 20:00] sumpfralle commented on #43485
@webknjaz:

I am sorry for maybe having distracted you by using the word *elegance* here. I really hoped that the rest of my comments made clear, that I am not discussing in favor of a "clever, but unreadable hack".

My perception of this planned change in ansible stays unchanged:
* little to be gained: Forbidding the `src` field in case the state is `absent` will rarely prevent a user mistake. (I

[2018-08-17 20:26] #44328 closed, assigned to nobody

[2018-08-17 20:35] jonatcorus opened #44334 "cloudformation_facts ignores profile when boto is installed"
##### SUMMARY
Using cloudformation_facts with the profile attribute set to something other than default fails when boto(not boto3) is installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS($HOME/labs/ansible/aws/cloudformation/orchestration/ansible.cfg) = True

##### OS / ENVIRONMENT
ubuntu 16.04
pytho

[2018-08-17 21:13] urusha commented on #31543
While I think this issue should be addressed, here is a workaround for `always`:
[code]
Simply set success flag, and check it in `always` block.
Same thing for `rescue`, if you are considering `rescue` as fail, use `fail` at the end of the rescue block.

[2018-08-17 22:26] idahood opened #44338 "Add SOCKS proxy support to uri module"
##### SUMMARY

HTTP/HTTPS proxies are supported with uri, but not SOCKS.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Topology:
[localhost] -- [bastion] -- [remote]

Similar to the following shell commands:
ssh -D 9000 -N bastion.net
curl --proxy socks5://localhost:9000 https://re

[2018-08-17 22:27] ghost opened #44339 "Update "ec2_vpc_nat_gateway" module to support AWS tags"
##### SUMMARY
Update the "ec2_vpc_nat_gateway" module to support AWS tags like the other AWS modules including, to name a few, the "ec2_vpc_net" module, "ec2_vpc_igw" module, and "ec2_vpc_subnet" module.  We have an internal requirement within our company to tag everything and I am not seeing that option for Ansible created NAT Gateways, even though the functionality is provided on every other AWS

[2018-08-17 23:22] hangxie opened #44340 "unarchive does not take dummy tarballs"
##### SUMMARY
`unarchive` module failed on dummy tarball, i.e. there is no file in the tarball.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`unarchive` module extract the dummy tarball without error, though no file will be created under tar

[2018-08-17 23:49] agowa338 commented on #33622
also the "state" parameter should have another value "healthy", it one specifies
[code]
ansible should wait for the container to become healthy before it continues. The current workaround is to insert a 5 minute timeout...

[2018-08-17 23:58] willthames commented on #44334
There is some weirdness on profiles between boto and boto3, but if you're using ~/.aws/config and ~/.aws/credentials it should work.

If that's not the case, we can dig a bit harder (I'd expect this to be a wider problem though, as cloudformation_facts uses the same underlying code as all the other AWS modules)

[2018-08-18 00:53] agowa opened #44341 "include_role should support delegate_to"
##### SUMMARY
After one added a host dynamically to the inventory, it could be necessary to run a role against this new host. Or if a docker container has been added to the inventory and one needs to install python2 inside of it for modules like expect to work with this container.
Why one would want to run the expect module against a docker container one may say. The answer is to execute commands

[2018-08-18 02:34] #28813 closed, assigned to nobody

[2018-08-18 03:29] jifox commented on #42843
Hello @AJ-Acevedo, I've neded some time to further investigate this error and was not able to narrow down the cause of the error further.
I've implemented a check in playbook that reads the first and last line in backup and compares with expected results. Since I'm using this playbook in production, I've removed every ">" char from interface descriptions and got no error since than.

[2018-08-18 06:21] robertdebock opened #44344 "tower_* modules can not access variables set with loop_var"
##### SUMMARY
To configure Ansible Tower, Ansible runs `include` multiple times. From the second include onward fails to find a variable passed with `loop_control` and `loop_var`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_team
tower_credential
tower_project
tower_inventory
tower_job_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output from `ansible-config dump --

[2018-08-18 09:30] helldorado commented on #44307
@shibumi your `proxmox_infrastructure` is empty in your default. Can you please paste a result from `debug: var=proxmox_infrastructure` just before the task **Clone VMs from template on Proxmox**

Also note, the clone with `full: true` is bugged. I provided a fix with this PR https://github.com/ansible/ansible/pull/42313. Not merged yet

[2018-08-18 09:39] ArseniiPetrovich opened #44346 "NPM install neither install modules, neither throw an error."
##### SUMMARY
When I'm trying to install dependencies for this => https://github.com/poanetwork/poa-scripts-validator/tree/master/transferRewardToPayoutKey script it doesn't install them and, as well, don't throw any error. Referenced to this => https://github.com/poanetwork/deployment-playbooks/issues/162 issue.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
NPM

##### ANSIBLE VERSION
[code

[2018-08-18 11:15] Im0 commented on #44245
Hi @ChrisD1990,

As @Akasurde points out, it looks like there is a discrepancy with the path.  pyvmomi appears to be installed under `/usr/lib64/python2.7` yet Ansible is looking in `/usr/lib/python2.7/site-packages` for pyvmomi.

I was thinking, perhaps try:

1. Run `PYTHONPATH=/usr/lib64/python2.7 ansible-playbook /etc/ansible/Vm_rollback_snapshost.yml`

Does that work?

2. Otherwise, perhaps cr

[2018-08-18 12:15] felixfontein commented on #42692
resolved_by_pr #16748

[2018-08-18 12:57] szilardsag commented on #16621
+1

[2018-08-18 13:21] #44101 closed, assigned to Akasurde

[2018-08-18 18:49] jonathan-willis commented on #44334
Are you not able to reproduce it? Is this something on my side? I can verify my ~/.aws/* files, but I've been using profiles with awscli/boto3 on this computer for almost 2 years so it would be weird it would be that.

[2018-08-18 19:37] jifox commented on #42843
Hello,

I again running into an error with the backup configuration. I simplified tha playbook so that there is no action than reading the running config.

[code]

The output is stopped before the whole config is read into stdout. I got the same result

The particular switch is:

[code]

Connecting manually to the cli via ssh terminal the show running config shows 35781 bytes same as in Ansible re

[2018-08-18 19:40] jifox commented on #42843
Reopen this issue, please

[2018-08-18 22:59] xen0l commented on #29669
Approach used in the PR is purely wrong. SmartOS is a hypervisor, which boots form read-only media and changes to the system might not persist the reboots. The official way how to set hostname on SmartOS is setting `hostname=HOSTNAME` in `/usbkey/config`.

[2018-08-19 00:07] michaelBenin commented on #42152
I believe gather_facts needs to be set to true here no?

[2018-08-19 05:26] justjais commented on #42843
@jifox Thanks for logging your observation, and as stated earlier I am still unable to reproduce the behavior, but I will reopen the bug and get it triage again.

Cisco ios version that I tried with:
[code]
Playbook ran:
[code]

Play output:
[code]

[2018-08-19 06:33] shashank9436 opened #44363 "Unable to register ec2 instance under an elb"
Hello,

I am trying to launch an ec2-instance, a classic load balancer and then register the ec2 instance under the load balancer. When I run the playbook, I see no errors and was able to successfully launch ec2 instance and the load balancer, but when I check the console, I do not see the ec2 instance registered under the load balancer. Below is my code. Please help me out of it. Thank you!

And

[2018-08-19 11:17] walidshaari commented on #34340
I am hitting the same issue I think on molecule 2.17.0 with Ansible 2.6.3 when i do a basic molecule test, the creation stage fails

[2018-08-19 16:02] trickeydan commented on #39155
This would be very useful for myself and others that I work with. It is somewhat frustrating having to use the `command` module to install applications

[2018-08-19 16:45] #28034 closed, assigned to nobody

[2018-08-19 17:41] #29198 closed, assigned to nobody

[2018-08-19 18:01] techraf commented on #42152
@ryansb Here are the results you asked for:

Playbook:

[code]

`inventory`:

[code]

Executed with `ansible-playbook playbook.yml`

[code]

Executed with `ansible-playbook playbook.yml -i inventory`:

[code]

[2018-08-19 19:15] nasx opened #44371 "ovirt_disk Can't Update Disk Name Independently"
##### SUMMARY

When updating only the name of a disk with the ovirt_disk module, the play succeeds (ok, not changed) but the disk name does not get updated.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_disk
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS(/home/chris/git/boxes/ansible.cfg) = 20
HOST_KEY_CHECKING(/home/chris/git/boxes/ansible.cfg) = False
RETRY_FILE

[2018-08-19 19:27] samuelharmer commented on #9196
I'm aware this is closed but a useful comment for anyone in the future would be, use the Python notation `0o644`.

[2018-08-19 21:31] fvzwieten opened #44374 "Accept vars in requirements.yml"
##### SUMMARY

Company is using a separate gitlab repo to store all roles. They use branching/tagging in that repository. Now, they want to control in a project using vars which branch/tag of the roles they want to use

 - Accepts vars in requirements.yml and have ansible-galaxy interpret them correctly in such a way that it would work also in AWX/Tower. Example:
in requirement.yml:
- src: https:/

[2018-08-19 22:34] satishdotpatel commented on #34340
This is how i solved issue,  I have disabled SELinux on ansible machine from where i was running ansible, that solved issue, earlier i disabled on target servers but look like you have to disabled SELinux on machine from where you executing your playbook.

This solved my problem.

[2018-08-19 22:48] Thulium-Drake commented on #28702
@sivel: Hi Sivel,

Did you catch my last update? :-) Either I'm missing something, or it's broken with the new implementation. I don't seem to be able to get it to actually retrieve something.

[2018-08-20 01:53] yungezz commented on #35223
@GBT azure_rm_storageblob module doesn't hardcode specify blob FQDN name. The blob name is got via blob client.When getting blob client, ansible will get correct azure cloud resource endpoint via configuration. Code snippets:
https://github.com/VSChina/ansible/blob/ee5b761c21fde45363e204b7d886fc775e73ba06/lib/ansible/modules/cloud/azure/azure_rm_storageblob.py#L256
https://github.com/VSChina/ansib

[2018-08-20 01:58] yungezz commented on #39574
fixed by PR #24040, will be included in ansible 2.7 release.

[2018-08-20 01:58] #39574 closed, assigned to nobody

[2018-08-20 02:02] yuwzho commented on #40976
resolved_by_pr #41683

[2018-08-20 02:03] yuwzho commented on #39974
resolved_by_pr #29050

[2018-08-20 02:13] yungezz commented on #40976
let us know if you met any other issue after the fixing.

[2018-08-20 02:13] #40976 closed, assigned to nobody

[2018-08-20 02:14] yungezz commented on #39974
let us know if you met any issue after the fixing.

[2018-08-20 02:14] #39974 closed, assigned to zikalino

[2018-08-20 02:42] Fred-sun commented on #39958
@zikalino I get the facts as below:
[code]
[code]
[code]

[2018-08-20 03:00] #37903 closed, assigned to nobody

[2018-08-20 03:00] #37805 closed, assigned to zikalino

[2018-08-20 03:08] #34032 closed, assigned to nobody

[2018-08-20 03:14] yungezz commented on #29585
The operation is supported, since no response from issue opener, close it for now. Pls feel free to cut new issue if met problem using it.

[2018-08-20 03:14] #29585 closed, assigned to nobody

[2018-08-20 03:17] jonathan-willis commented on #44334
I changed my default profile to a named one and things seem to work normally. So it seems to be specifically when there's a default profile. I will see how it goes this week at work without the default profile.

[2018-08-20 03:59] willthames commented on #44334
Thanks, that's an interesting insight. I'll do some more digging and see if I can reproduce (that I have no cloudformation facts shouldn't matter - this should be a problem for all AWS modules)

Are you able to reproduce for other AWS modules? (anything that most people are likely to have such as `ec2_vpc_subnet_facts` would be an excellent test case)

[2018-08-20 04:16] Akasurde commented on #44371
resolved_by_pr #44372

[2018-08-20 04:54] justjais commented on #43755
Bug got fixed in ansible `2.6.3` release. So, going ahead and closing the bug.

[2018-08-20 04:54] #43755 closed, assigned to justjais

[2018-08-20 04:55] jifox commented on #42843
@justjais
If you want, we can do a remote debugging session.

[2018-08-20 05:09] Fred-sun commented on #44160
@gurdipedos Thanks for the contribution, Could you help update comment according @yuwzho's advice? Thanks!

[2018-08-20 05:27] Fred-sun commented on #30392
@mattclay @nitzmahone Could you help update the comments? Thanks!

[2018-08-20 05:39] ganchandrasekaran commented on #44240
@ganeshrn My current version is ansible 2.6.2. I have fixed the question now with indent, it doesnt make any difference.

[2018-08-20 05:41] Fred-sun commented on #33943
@charliejllewellyn Thanks for the contribute. Could you help confirm that Who will care about this issue and push this issue to next forward?

[2018-08-20 06:41] trishnaguha commented on #43152
@feisa @cb241508 Can you try this on devel branch? Or upgrade to Ansible 2.6.3?

[2018-08-20 06:56] trishnaguha commented on #44275
@cb241508 Can you please try this fix https://github.com/ansible/ansible/pull/44376 and let us know?

[2018-08-20 06:57] Fred-sun commented on #37934
@yuwzho Could you help take a look into this issue? Thanks

[2018-08-20 07:06] Fred-sun commented on #38973
@spmp Thanks for the contribute, Could you help to update the issue's status and push this issue to next forward step?

[2018-08-20 07:17] justjais commented on #43658
@badnetmask PR raised for resolving the same is merged in `devel` and queued for `2.7` release. So, I'll go ahead and close the respective bug.

[2018-08-20 07:17] #43658 closed, assigned to justjais

[2018-08-20 07:18] #43878 closed, assigned to NilashishC

[2018-08-20 07:43] geertn444 commented on #44111
yes, i will do. However, i am running ansible under tower (3.2.6). Any tips on how to update ansible under tower are appreciated. is it supported ? can i just do "pip upgrade" under vitualenv of "awx" and/or "ansible" ??

[2018-08-20 07:58] Fred-sun commented on #39903
@yuwzho Could you help recheck this issue? Thanks!

[2018-08-20 08:09] Fred-sun commented on #40619
@yungezz Could you help to check this PR and push it to merge? Thanks!

[2018-08-20 08:11] Fred-sun commented on #40596
@zikalino Could you help check this issue? Thanks!

[2018-08-20 08:51] loop-evgeny commented on #44155
I've set it up as described on that page, but when I run `ansible-playbook -i test-inventory/ expires.yml` I get

[code]

That exact same command works with Ansible installed from apt. Also I'm not sure why I'm getting help text for the `ansible` EXE when I ran `ansible-playbook`

[2018-08-20 09:00] gurdipedos commented on #44160
Hi All,

Sorry for the delay in giving a update.

Yuwei thank you for the update.  I have tried the fix you gave me above and it has worked a treat.

**Now when we delete one or more security rule(s) on the azure portal and rerun our ansible playbook that still contains the security rules that were deleted on the azure portal, it recreates them on the azure portal correctly.**

I did a lot of test

[2018-08-20 09:00] gurdipedos commented on #44160
Yuwei when will this fix be released?

[2018-08-20 09:04] gurdipedos commented on #42104
Hi All

I have just tested this fix and it corrects all the issues I was having when updating and deleting security rules.

Please see the update I have added for the issue below:

https://github.com/ansible/ansible/issues/44160

Kind Regards

Gurdipe

[2018-08-20 09:10] ulide4 opened #44378 "one_vm wait for ready=yes possible?"
##### SUMMARY

It would be useful to have an option to wait before the instantiated vm reports ready=yes

At this moment I can be sure that Ansible can take over configuration.
wait_for_connection is not enough in my opinion because ssh is available before init scripts have finished.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

one_vm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-08-20 09:13] gurdipedos commented on #44160
PS Just wanted to say a big thank you to everyone for helping to fix this issue

[2018-08-20 09:27] nicolaibaralmueller commented on #30411
We have the same issue. Playbooks randomly hangs during playback with no error messages. Once pressing ctrl + c the playbook continues.

[2018-08-20 09:27] hannibal87 commented on #40637
Would be very thankful for fixing this issue. We are also affected by this.

[2018-08-20 09:41] ganeshrn commented on #40650
As netconf_config module is part of 2.7 roadmap and code freeze date for 2.7 is [2018-08-23](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_7.rst#release-schedule) I have refactored the module as per https://github.com/ansible/proposals/issues/104
with PR https://github.com/ansible/ansible/pull/44379

[2018-08-20 09:44] michaelvanes opened #44382 "Constructed inventory plugin does not consider variable file in group_vars or host_vars directory"
##### SUMMARY

Referencing #37397

Variable files within a ```group_vars``` or ```host_vars``` directory are not considered when using the constructed inventory plugin

However variables directly in the inventory file itself do work correctly, as in the issue referenced. It seems to me that they should also work when placed in a ```group_vars``` or ```host_vars``` directory file.

##### ISSUE TYPE

[2018-08-20 09:46] ilicmilan commented on #44378
Hi @ulide4 .
Try with this:
[code]

[2018-08-20 09:58] ganeshrn commented on #41541
@BarresB Optional lock feature is added as part of PR https://github.com/ansible/ansible/pull/44379

[2018-08-20 10:01] #43152 closed, assigned to trishnaguha

[2018-08-20 10:07] machacekondra commented on #32678
duplicate_of 39613

[2018-08-20 10:07] #32678 closed, assigned to nobody

[2018-08-20 10:31] wisotzky commented on #40650
Thanks for the update... I had started to work on this, but never really finished because of holiday season. I will have a look into it and provide you with updates.

[2018-08-20 10:49] #43390 closed, assigned to nobody

[2018-08-20 11:05] Mouzaffar commented on #41934
Same problem with influxdb_user module

[2018-08-20 11:06] Wo0dsi3 opened #44389 "ansible.module_utils.connection.ConnectionError: timeout trying to send command:"
##### SUMMARY
New to using Ansible. Hope I am logging this issue to the right place.  If not , apologies.
Running a playbook so as to update configutations on network devices.
Playbook references a jinga file so as to load modules which are blocks of IOS code
This playbook fails intermittely at different points with the error included above.
The playbook runs succesfully the very odd time.

#####

[2018-08-20 11:25] Akasurde commented on #41934
@Mouzaffar Are using any virtual environment? Is Ansible running from same virtual env ?

Because I am not able to reproduce this on my setup.

[code]

and

[code]

[2018-08-20 11:44] uberjew666 opened #44391 "vmware_local_role_manager - broken"
##### SUMMARY
vmware_local_role_manager module doesn't allow adding additional permissions if the role already exists. It doesn't take the original permissions, it only applies the single new permission.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_local_role_manager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /

[2018-08-20 11:54] smnmtzgr commented on #43422
@dagwieers Can you please re-open this issue (look at my last comment)?

[2018-08-20 11:57] Angristan commented on #39155
@smoyer64 can you update your issue? Thanks!

[2018-08-20 12:16] Mouzaffar commented on #41934
my ansible master environnement :
---
Metadata-Version: 1.1
Name: requests
Version: 2.9.1
....
---
Metadata-Version: 1.1
Name: ansible
Version: 2.6.3
....

InfluxDB is on a virtual environment that i configure with ansible.

[2018-08-20 12:33] yajo opened #44395 "Dependency roles are repeated on different plays"
##### SUMMARY

If a server has 2 different roles that both depend on the same 3rd role, the 3rd is executed twice when applying the 2nd role.

According to https://docs.ansible.com/ansible/2.6/user_guide/playbooks_reuse_roles.html#role-dependencies, dependency roles shouldn't be repeated.

##### ISSUE TYPE
 - ~Bug  Report~
- Docs Issue

##### COMPONENT NAME

roles

##### ANSIBLE VERSION

[code]

#

[2018-08-20 12:38] anmolnagpal commented on #10065
+1

[2018-08-20 12:44] resmo commented on #44389
!component lib/ansible/modules/cloud/cloudstack/cs_configuration.py

[2018-08-20 13:26] abenokraitis commented on #42843
Greetings @jifox ! Thanks very much for filing this issue. Unfortunately this cannot be debugged further by @justjais without a Red Hat Ansible subscription. If you filed a support case with Red Hat, please reference this GitHub issue. If the community at large has the ability to debug this with actual Catalyst hardware and IOS software versions, this would be welcome as well. Thanks very much! :-

[2018-08-20 13:26] bcoca commented on #44382
So group_vars and host_vars don't get red at 'inventory time' but at 'task time' (via a vars plugin) so this would be a new feature for constructed to force reading those files.

The ticket you reference was about group vars defined in other inventory sources, not in the files you reference, so it may seem similar but it dealing with data from a different source.

[2018-08-20 13:40] cesarfn4 opened #44397 "Unable to copy files using "nxos_file_copy" module"
##### SUMMARY
We are not able to copy files using the nxos_file_copy module, we are getting the following error:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_file_copy

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Network device:
- Firmware version:
[code]
- Hardware:
[code]

##### STEPS TO REPRODUCE
Playbook:
[code]
##### ACTUAL RESULTS
Here is an example:
[code]
Attac

[2018-08-20 13:57] bcoca commented on #31099
this code was removed in #31024, so really no need to test it anymore.

[2018-08-20 13:57] #31099 closed, assigned to nobody

[2018-08-20 14:02] mikewiebe commented on #42959
@zakstar Thanks for the feedback.  As far as the outcome, are you referring to a specific part of the logs when ISSU is requested but the platform/image does not support it?  Can you post an example of the log you are referring to?

[2018-08-20 14:14] jonathan-willis commented on #44334
The whole reason I ran into this was because I wanted to use route53 module, it complained I was missing boto. I installed boto and everything broke at the cloudformation_facts level. I'll try the route53 module again this week with my new config.

[2018-08-20 14:23] buggsdummy opened #44402 "Yum is unable to install from http"
##### SUMMARY

Yum module is unable to install from http

##### ISSUE TYPE
 - Bug Report
Yum is having a connection issue from pkg server even when wget works

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = False
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_RETRIES(/etc/ansible/ansible.cfg) = 3

[2018-08-20 14:30] sivel commented on #44341
Any attribute applied directly to `include_role` only affects the `include_role` itself.  This change is described at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

However, the get the functionality you are looking for, you have a few options:

In 2.5.2+:

[code]

In 2.7+ there will be new capabilities to make this easier:

[2018-08-20 14:30] #44341 closed, assigned to nobody

[2018-08-20 14:56] sivel commented on #44315
This was recently addressed in https://github.com/ansible/ansible/pull/41792 and will be included in the 2.7 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-20 14:56] #44315 closed, assigned to nobody

[2018-08-20 15:04] sivel commented on #44318
This issue was recently addressed in https://github.com/ansible/ansible/pull/39466 and subsequently included in Ansible v2.5.3 and v2.6.0.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-20 15:04] #44318 closed, assigned to nobody

[2018-08-20 15:16] samdoran commented on #44155
If you're having trouble testing with a checkout, you could juts [download the user module](https://raw.githubusercontent.com/ansible/ansible/28875bba8ce74f51c75eb0ec8e3f321ac8fea577/lib/ansible/modules/system/user.py) and put in in `library` adjacent to your playbook.

[2018-08-20 15:25] iloving commented on #44286
You completely missed my point.  The problem is that each major release is fundamentally incompatible with each other.  But they are packaged as if they can be updated without issue.  It makes it incredibly easy to accidentally run a playbook with the "wrong" version of ansible, possibly resulting in catastrophic consequences.

If Ansible cannot maintain backward compatibility then more effort nee

[2018-08-20 15:28] donJorgito opened #44403 "addgroup local parameter dont work when centrify is running"
##### SUMMARY

When I try to add a local group to a Linux box (RHEL7) that is connected to centrify, ansible module groups reports [OK] without changes, because the group exists in centrify, but I have set the local parameter to True.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

I also have the lgroupadd tool installed at the box.

[2018-08-20 15:29] jesusch opened #44404 "gcp_compute plugin does not work"
##### SUMMARY
gcp_compute plugin does not work. always an error that no matching inventory plugin is working

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gcp_compute

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/jesusch/.ansible.cfg) = [u'/Users/jesusch/ansible/inventory']
DEFAULT_ROLES_PATH(/Users/jesusch/.ansible.cfg) = [u'/Users/jesusch/ansible/roles']
HOS

[2018-08-20 15:36] AngryLuke commented on #37368
Hi all, I have the same error on Ansible 2.6.2

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

DEFAULT_ROLES_PATH(/home/ubuntu/ansible-deploy/ansible.cfg) = [u'/home/ubuntu/ansible-deploy/roles/common', u'/home/ubuntu/ansible-deploy/roles/docker', u'/home/ubuntu/ansible-deploy/roles/infrastructure', u'/home/ubuntu/ansible-deploy/ro
HOST_KEY_CHECKING(/home/ubuntu/ansible-deploy/ansible.cfg) = F

[2018-08-20 16:03] #41616 closed, assigned to nobody

[2018-08-20 16:06] aioue opened #44407 "openshift inventory plugin, unexpected exception"
##### SUMMARY

openshift inventory fails to parse

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X 10.13.6

python == 2.7
pip openshift == 0.6.3
pip PyYAML == 3.13

OpenShift:
openshift v3.7.0
kubernetes v1.7.6

inventory/euc1-inventory-plugin-test/openshift.yaml
[code]

##### STEPS TO REPRODU

[2018-08-20 16:07] eimis05 commented on #39167
@ganeshrn - my playbook looks exactly as suggested by ansible and works on most of the network devices, its just some random ASAs or IOSs that are affected even though they are same version as other devices etc.,
same issue with ansible 2.6.3

[2018-08-20 16:09] aioue opened #44408 "openshift inventory plugin, 'ascii' codec can't decode byte"
##### SUMMARY

openshift inventory fails to parse

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X 10.13.6

python == 2.7
pip openshift == 0.6.3
pip PyYAML == 3.13

OpenShift:
openshift v3.7.0
kubernetes v1.7.6

inventory/euc1-inventory-plugin-test/openshift.yaml
[code]

##### STEPS TO REPRODU

[2018-08-20 16:59] apollo13 commented on #19779
I am running into the same problem. This is the playbook:

[code]

and the output of the debug module:

[code]

You can clearly see ACL which should not be there.

[2018-08-20 17:05] tonyreveal commented on #42397
I would really like to see import / export OVF functionality implemented.  Every quarter we
 develop VM templates by using a kickstart or answer file in conjunction with Ansible roles in lower environments and put those VM templates through testing processes.  When the template is ready we manually export the template to an OVF that has to be copied and imported into another VMware environment.  W

[2018-08-20 17:14] KellerFuchs commented on #44329
!resolved_by_pr 44336

[2018-08-20 17:38] rsyring opened #44409 "Service incorrectly detected as enabled when systemd reports disabled"
##### SUMMARY
When  using `service: enabled=yes` the service unexpectedly remains disabled as reported by `systemctl`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from:

[code]

Running Ansible on:
[code]

##### STEPS TO REPRODUCE

With a fresh install of Ubuntu 16.04.5, we ran a

[2018-08-20 18:27] apollo13 commented on #19779
Ansible version:

[code]

[2018-08-20 18:36] apollo13 opened #44412 "Ansible applies unwanted ACL rules"
##### SUMMARY

Ansible applies unwanted ACLs to copied files. This is a followup to #19779

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-08-20 19:36] ericrousse opened #44416 "azure_rm_virtualmachine reports the error with batches of ******** for each 0."
##### SUMMARY

**EDIT: The problem is no longer related to the creation of the VM, I've finally realized that I was passing wrong information to the module and the module was responding in return, but its in the response that all values that was containing 0, it was replaced by a string of 8 asterisks, but there's still an issue to fix with the module, but only in case of an error, it should not r

[2018-08-20 20:45] the-noob opened #44419 "ansible-vault traceback when configured EDITOR doesn't exist"
##### SUMMARY

I have a vault file created with 2.5.1 on my laptop and I'm unable to decrypt it on another machine with 2.6.3

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

` ansible-vault edit vault -vvv`

[code]

##### EXPECTED RESULTS

I can edit  the vault conten

[2018-08-20 20:50] sivel commented on #44419
The error is that ansible is unable to invoke an editor.  Ansible will look to see if you have an `EDITOR` env var exported, or fallback to attempting to execute `vi`.

It sounds as though either you have `EDITOR` configured to a value for an application that doesn't exist, or you do not have `vi` available.

Is this problem happening on a single machine?  Or is the 2.5 install on a different mach

[2018-08-20 20:59] #44285 closed, assigned to nobody

[2018-08-20 20:59] egkelly opened #44420 "iptables module builds the command incorrectly"
##### SUMMARY
Pretty simple: the iptables module builds the command to add a rule incorrectly. Instead of -P for protocol, it puts lowercase -p, ultimately failing out.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from: RHEL 7
Target: RHEL 6

##### STEPS TO REPRODUCE

ansible-playbook /path/to/pla

[2018-08-20 21:08] the-noob commented on #44419
Indeed it was the `EDITOR`, first time having this issue.
Not sure if this is a common problem, tried searching a bit but couldn't find anything.
Maybe the error message can be made more specific ?

Can be closed, thank you!

[2018-08-20 21:13] sivel commented on #44344
I'll call out a few things here:

[code]

If we look at `team.yml`, we see that you are referring to:

[code]

`aws_organizations` is a list.  You likely wanted `organization.name`.

Next:

[code]

If we look at `project.yml`, we see that you are referring to:

[code]

However, what you have defined is `scl_url`:

[code]

If you have further questions please stop by IRC or the mailing list:

   *

[2018-08-20 21:13] #44344 closed, assigned to nobody

[2018-08-20 21:14] sivel commented on #44419
I agree.  Causing a traceback isn't the most friendly.

I'll still keep this open to address this.

[2018-08-20 21:47] sivel commented on #44402
The error indicated here, means that an HTTP connection was unable to be established with the host you specified:

[code]

What happens when you try to `curl` this URL from `server1`?

needs_info

[2018-08-20 22:29] buggsdummy commented on #44402
I can use the get_url module and it works, but I can't use the yum module to grab that file.

[2018-08-20 23:19] KettlerKen opened #44427 "Cannot Use block/rescue with nxos_config"
##### SUMMARY

I am unable to do a rescue after pushing a bad command to a device within a block.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

network device running nxos 7.0(3)I5(2)
but the bug doesnt seem to be specific to the devices OS

##### STEPS TO REPRODUCE

just run the playbook on a device

[2018-08-21 02:45] maxamillion commented on #44402
@buggsdummy both the `yum` and `get_url` modules use the same code on the back end to pull files from remote locations via the `fetch_url` module_util so something's definitely going wonky.

Would you mind providing a verbose debug output using `get_url` to obtain the package from the URL that's failing when using the `yum` module?

Thanks!

needs_info

[2018-08-21 02:48] ChrisD1990 commented on #44245
Sorry for not replying in time, i will try your advice. thanks all..

[2018-08-21 02:56] catalyst-joe-guo commented on #21914
Get the same trouble with `bool` filter,  after looking at the implement code, I would say, it's too far away from what I expected.

[2018-08-21 05:01] guoqiao opened #44432 "create router with `os_router` will get `PolicyNotAuthorized` error from openstack"
##### SUMMARY

use `os_router` to create router in openstack will fail with ansible 2.6.2 and shade 1.28.0
Downgrade ansible to 2.5.5 will fix it.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_router

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

router created.

##### ACTUAL RESULTS

[code]

[2018-08-21 05:06] jifox commented on #42843
@abenokraitis
Thanks for feedback, I've checked as an alternative the NAPALM function for reading switch's configuration and it solved my problem.

[code]

[2018-08-21 06:20] willthames opened #44433 "import_role picking up vars from later import_role"
##### SUMMARY
`import_role` is picking up `vars` from later `import_role` tasks

This issue was introduced by #41330, 27b4d7ed31

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
play.yml
[code]

roles/test_role/defaults/main.yml
[code]

roles/test_role/tasks/main.yml
[code

[2018-08-21 06:26] willthames commented on #43294
@bcoca I don't really understand what you mean.

`self._task.no_log` not evaluating `{{ not (unsafe_show_logs|bool) }}` seems like a bug to me, not a feature.

It's not like I want per-item `no_log`, just the ability to switch it on or off for the whole task.

[2018-08-21 06:31] girst opened #44434 "ufw Module: cannot use "proto: igmp""
##### SUMMARY

at `$WORK` we want to filter IGMP traffic with the ufw module. This fails, because 'igmp' is not in the hardcoded list of allowed protocols.

(Even though we run 2.5 in production (of which the logs below are), the same problem persists in latest, as the whitelist has been unchanged in 4 years)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ufw

##### ANSIBLE VERSION

[code]

[2018-08-21 06:37] hanbaobao2005 commented on #40884
As a beginner, I think I met the issue too because the same err log:
  File "/var/folders/_1/185njz6165jclp7lsllhb1380000gn/T/ansible_lIqvQP/ansible_modlib.zip/ansible/module_utils/network/ios/ios.py", line 117, in get_config
  File "/var/folders/_1/185njz6165jclp7lsllhb1380000gn/T/ansible_lIqvQP/ansible_modlib.zip/ansible/module_utils/connection.py", line 174, in __rpc__
ansible.module_utils.conn

[2018-08-21 07:01] trishnaguha commented on #43579
@drewk132 `src` accepts j2 template or text based files.
[code]
https://docs.ansible.com/ansible/latest/modules/nxos_config_module.html#nxos-config-module
Does this help?

[2018-08-21 07:10] trishnaguha commented on #43629
@perruche-poussin Can you try this on devel branch?
To test on devel branch:
[code]

I added this line in my nxos9K running-config, backup works fine.

[2018-08-21 07:38] Fred-sun commented on #31867
@zikalino Could you help update the status of the issue or the next step forward?

[2018-08-21 07:39] Fred-sun commented on #31967
@zikalino Has the issue been solved? Can you help update the status of the issue or which PR fix? Thanks!

[2018-08-21 07:43] Fred-sun commented on #33943
@cblackuk Thanks for you reply the comment!

[2018-08-21 07:46] Fred-sun commented on #34047
@kyliel @nitzmahone  Thank you for your effort on this issue。Could you help update the issue status？ Thanks!

[2018-08-21 07:59] justjais commented on #42843
@jifox Thanks for the confirmation and as you are able to resolve the bug, I'll close the bug.

[2018-08-21 07:59] #42843 closed, assigned to justjais

[2018-08-21 08:03] Wo0dsi3 commented on #44389
Hi Rene,

Thank you very much for the reply.

Sry, I am not sure what I need to do.. I have lack of experience in Linux/python/ansible..
I am learning, but slowly!
I couldn’t find a description of what I need to remove/change/amend on the site.

Do I need to remove/amend this file ?

!component lib/ansible/modules/cloud/cloudstack/cs_configuration.py

Thanks,

Donnchadh Woods
Network Engineer
Mana

[2018-08-21 08:43] ChrisD1990 commented on #44245
@Im0 and @Akasurde
i try these, but still can not success. i don't know why always prompt me need install PyVmomi. So i revert my ansible vm , but still failed. can you tell me ansible how to find the pyvmomi model?

i use host is localhost or my vm ip on yml file,  Is it related to the host I specified?

**---
  - name: Revert the given snapshot for virtual machines
    hosts: localhost
    tasks

[2018-08-21 08:49] ChrisD1990 commented on #44245
@Akasurde and @Im0
i try these, but still can not success. i don't know why always prompt me need install PyVmomi. So i revert my ansible vm , but still failed. can you tell me ansible how to find the pyvmomi model?

i use host is localhost or my vm ip on yml file, Is it related to the host I specified?

- ---
-   - name: Revert the given snapshot for virtual machines
-     hosts: localhost
-

[2018-08-21 09:03] dagwieers commented on #42178
This issue also affects pages like https://docs.ansible.com/2.5/roadmap/index.html which should point to current roadmaps, not just past roadmaps. (As it looks as if v2.5 is the latest release and the project died soon after ;-))

[2018-08-21 09:04] cesarfn4 commented on #44397
SCP version from the controller node:
`Version: 0.10.2`

[2018-08-21 09:28] dagwieers commented on #30766
@Benoit-DunandLaisin I wonder in this case if a reboot would have resolved the issue as well.

[2018-08-21 09:32] Fred-sun commented on #37158
@yuwzho Could you help update the comment? Thanks!

[2018-08-21 09:39] mattcopas opened #44439 "when: not my_var doesn't work"
##### SUMMARY

I have a variable my_variable set to false, in yaml
`my_variable: false`

This value is being set/overriden at the command line using `-e my_variable=false`

When conditionally running a command:

[code]

This task is skipped even though my_variable is set to false

If i use

`when: my_variable != true`

then the task is executed as expected, however as far as I am aware the `when:

[2018-08-21 09:40] bowlingkopp commented on #35724
When will this be fixed?
I'm running local unit tests for my playbook on my Mac and for troubleshooting need to keep the temporary files created by Ansible. Sadly the environment variable ANSIBLE_KEEP_REMOTE_FILES=1 is ignored and all files are deleted, always. So it would be very helpful to finally fix this bug! It has been reported in another issue almost a year ago!

[2018-08-21 09:40] Fred-sun commented on #41003
@zikalino Could you take a look this issue? Thanks!

[2018-08-21 09:42] Fred-sun commented on #39650
@spmp Thanks for you contribution, Could you help update the issue status? Thanks!

[2018-08-21 09:44] Fred-sun commented on #39701
@spmp Thanks for you contribution, Could you help update the issue status? Thanks!

[2018-08-21 09:46] webknjaz commented on #44439
@mattcopas

Hello, could you please verify whether you can reproduce this in the currently supported version of Ansible (2.6 and/or better devel).

If yes, please also provide us with complete snippets of your playbooks/config along with comprehensive steps to reproduce.

Thanks in advance!

-label needs_triage

[2018-08-21 09:50] Fred-sun commented on #42215
@zikalino Could you help update the Issue status? Thanks!

[2018-08-21 09:51] Fred-sun commented on #42407
@zikalino Could you help update the issue status? thanks a lot!

[2018-08-21 09:52] Fred-sun commented on #42414
@yungezz Could you help update the issue status? Thanks!

[2018-08-21 09:55] Fred-sun commented on #42769
@nitzmahone Thanks for your contribution, Could you give more detail info about this issue? Thanks!

[2018-08-21 09:56] Fred-sun commented on #43195
@zikalino Could you help update this issue? Thanks!

[2018-08-21 10:06] mattcopas commented on #44439
@webknjaz

I've upgraded to 2.6, simplified the example and can still reproroduce.

Ansible version:
[code]

Playbook:

[code]

This task is actually always skipped, running:

`ansible-playbook test-playbook.yml -e print_hello_world=false --connection local`

and when running

`ansible-playbook test-playbook.yml -e print_hello_world=true --connection local`

If I use

`when: print_hello_world != t

[2018-08-21 10:21] jpjaatin opened #44441 "mysql_user trigger changed if"
##### SUMMARY

mysql_user trigger changed if:

priv: schema.*: SELECT,INSERT,UPDATE,DELETE,EXECUTE,SHOW VIEW,CREATE,ALTER,REFERENCES,INDEX,CREATE VIEW,CREATE ROUTINE,ALTER ROUTINE,EVENT,DROP,TRIGGER,CREATE TEMPORARY TABLES

But ALL which is the same does not trigger:

priv: schema.*: ALL

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

2.6.3

[code]

#####

[2018-08-21 10:26] mattcopas commented on #44439
Got it

https://github.com/ansible/ansible/issues/17193

To pass a boolean in -e form you must use json syntax:

`ansible-playbook test-playbook.yml -e "{ print_hello_world: false }" --connection local

I hope this helps someone!

Closing

[2018-08-21 10:26] #44439 closed, assigned to nobody

[2018-08-21 10:30] ZuZuD commented on #43932
@willthames how the project manages module backward-compatibility in such a situation?
`lookup` is not necessary here as per my understanding.

[2018-08-21 10:40] #41251 closed, assigned to nobody

[2018-08-21 10:50] willthames commented on #37368
@AngryLuke are you able to test the fix in #44442?

[2018-08-21 11:09] willthames commented on #43932
`lookup` definitely shouldn't be required in such situations.

backward compatibility in theory requires that if tags are present and lookup is not set, then lookup should be by tag (even though I think it's not a sensible implementation)

However, I think if a route_table_id is set, then the user obviously wants to modify that route table and I would say that route_table_id should imply `lookup`

[2018-08-21 11:34] AngryLuke commented on #37368
Yes, I tested in this way:
Port: "{{ http_port | int }}"

with explicit cast to int but the error is the same: it's an error only when the target group is created (first time).

[2018-08-21 11:37] ablecable opened #44444 "Fix win_domain_computer cannot delete an computer with child objects"
##### SUMMARY
When a machine is in hyper-V an leaf object is created: CN=Windows Virtual Machine under the machine in AD. Remove-ADComputer gives an error: Remove-ADComputer : The directory service can perform the requested operation only on a leaf object.

This can solve the problem
Get-ADComputer "Computername" | remove-ADObject -Recursive

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wi

[2018-08-21 12:05] enkiusz opened #44447 "All ansible modules fail on Centos 7.3.1611 host"
##### SUMMARY
All ansible modules fail on Centos 7.3.1611 host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible running from Ubuntu 18.04:
[code]
Trying to manage a Centos 7 machine:
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successfuly finish and print pong.

##### ACTUAL

[2018-08-21 12:59] webknjaz commented on #44412
Could you please provide us with a clear STR here?

[2018-08-21 13:01] Im0 commented on #44245
@ChrisD1990 could you please try running this on the command line:

[code]

Also, what OS are you on?

[2018-08-21 13:01] JensVanDeynse1994 opened #44450 "win_firewall_rule module indicates changed when this is not the case"
##### SUMMARY
When using the win_firewall_rule module the ansible output indicates changed when this is not the case. This only happens when you have to escape a character such as a '\'.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg

[2018-08-21 13:05] webknjaz commented on #44289
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-08-21 13:05] #44289 closed, assigned to nobody

[2018-08-21 13:16] crazzy commented on #36729
@ansibot As I had work that needed to be done, I ultimately resorted to renaming my user account on my laptop to match the username I needed to have ansible using. I thus never resolved the issue of ansible not respecting the configuration. I did a workaround which worked for me and forgot about this issue. Saw it in my notifications now and thought I'll mention this here.

[2018-08-21 13:40] sivel commented on #44433
This is expected.

Per the note for `import_role` for 2.7:

Also see https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-21 13:40] #44433 closed, assigned to sivel

[2018-08-21 13:47] webknjaz commented on #43999
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-08-21 13:47] #43999 closed, assigned to nobody

[2018-08-21 14:00] webknjaz commented on #44325
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-08-21 14:00] #44325 closed, assigned to nobody

[2018-08-21 14:11] sebastianpiskorski opened #44456 "Cannot use `apt autoremove` nor `apt autoclean` due to `TypeError: 'NoneType' object is not iterable`"
##### SUMMARY

Cannot use `apt autoremove` nor `apt autoclean` due to `TypeError: 'NoneType' object is not iterable`. Despite it is present in documentation https://docs.ansible.com/ansible/latest/modules/apt_module.html#examples

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ENABLE_TASK_DEBUGGER(env: ANSIBLE_ENABLE_TASK_DEBUG

[2018-08-21 14:29] IPvSean opened #44457 "Need to disable facts (gather_facts: false)"
##### SUMMARY
The documentation shown here: https://docs.ansible.com/ansible/latest/network/getting_started/first_playbook.html#create-and-run-your-first-network-ansible-playbook

does not disable facts

[code]

we need to change to->
[code]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/network/getting_started/first_playbook.html#create-and

[2018-08-21 14:35] ganeshrn opened #44458 "Add doc to explain how to configure network connection options"
##### SUMMARY

The configuration options supported by connection plugins are documented
in connection plugin document, however, in addition to this needs some more docs at a commonplace to explain ways to configure these options and that can be linked from [platform-specific docs](https://docs.ansible.com/ansible/devel/network/user_guide/platform_ios.html).

network_cli: https://docs.ansible.com/a

[2018-08-21 14:38] apollo13 commented on #44412
@webknjaz what is an STR?

[2018-08-21 14:41] IPvSean opened #44459 "make it clear that httpapi covers arista eapi for the eos platform and cisco nxapi for the nxos platform"
##### SUMMARY
The docs are not clear about the httpapi and that it basically deprecates the provider method.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/network/getting_started/network_differences.html#multiple-communication-protocols

This talks about httpapi but not how this deprecates the nxapi and eapi methods... this is the only meth

[2018-08-21 14:58] IPvSean opened #44460 "add jinja2 support and example to ios_config page"
##### SUMMARY
The page here: https://docs.ansible.com/ansible/latest/modules/ios_config_module.html

is missing any mention of jinja2 or j2 files

The src parameter should mention jinja2 is supported and we should add an easy example like this->

[code]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/modules/ios_config_module.html

##### ANS

[2018-08-21 14:58] webknjaz commented on #44363
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-08-21 14:58] #44363 closed, assigned to nobody

[2018-08-21 15:00] IPvSean opened #44461 "add example for jinja2 template for eos_config module"
##### SUMMARY
There is no example with jinja2 for Arista

Add an example like this->

[code]
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-21 15:05] IPvSean opened #44462 "add example for jinja2 to vyos_config module"
##### SUMMARY
The documentation page has no example using j2
https://docs.ansible.com/ansible/latest/modules/vyos_config_module.html

add an example like this->

[code]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RES

[2018-08-21 15:06] coreywan commented on #43031
This appears to have been fixed in the 2.6.3 release

[2018-08-21 15:06] #43031 closed, assigned to nobody

[2018-08-21 15:11] #40650 closed, assigned to ganeshrn

[2018-08-21 15:11] #41541 closed, assigned to ganeshrn

[2018-08-21 15:12] xarses commented on #14022
I, like @Akhiles7 have a prescriptive /etc/sudoers which has a list of commands that users are allowed to use with `NOPASSWD`. a reduced set, specifically those that belong to impersonation and audit escapes (shells and su) are either outright blocked for some users, or allowed after providing the password.

is there a formulaic way to prevent ansible from "reshelling" all of the commands via sudo

[2018-08-21 15:19] ganeshrn commented on #44240
@ganchandrasekaran Just to confirm, after correcting the indent you are no longer seeing this issue?

[2018-08-21 15:29] bcoca commented on #43294
sorry, i misinterpreted what you meant. I do see the issue now

[2018-08-21 15:30] bcoca commented on #43294
actually when using a loop I do see the 'correct' templated value for each loop iteration, its the 'non loop' that is untemplated

[2018-08-21 15:32] pffs opened #44463 "ios_facts failing to populate all interfaces"
##### SUMMARY

`ios_facts` looks like it sometimes is truncating the response back from `show interfaces` resulting in not adding every interface on a device into the `self.facts['interfaces']` dict. When `ios_facts` tries to populate out the `ipv4` key, it attempts to add them against interfaces that do not exist, resulting in a traceback.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

io

[2018-08-21 15:36] morla10111 commented on #40637
Same here. A fix would be highly appreciated. Any thing we can do to help?

[2018-08-21 15:42] #44327 closed, assigned to nobody

[2018-08-21 15:43] webknjaz commented on #44420
@egkelly could you please verify that it affects currently supported version of Ansible? (2.6/devel)

[2018-08-21 15:45] drewburr commented on #44329
@KellerFuchs is it possible to push these changes to 2.6 versions as well? Or are we stuck waiting for the next release?

[2018-08-21 15:48] gramgit opened #44466 "ovirt_vms with state: suspended fails as trying to reference 'ref' variable before it's assigned"
##### SUMMARY
Just trying to suspend my VM before shutting down so that I have a save state.  When I do this it fails with the following Traceback:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible_module_ovirt_vms.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump returns nothing
##### OS / ENVIRONMENT

Ubuntu 18.04
##### STEPS TO REPRODUCE

[code]

###

[2018-08-21 15:49] knaou commented on #24427
+1

[2018-08-21 15:51] knaou commented on #42090
+1

[2018-08-21 15:58] KettlerKen commented on #44427
Thank you so much for your quick response, due to the test environment I was using upgrading ansible is hard to do. I will do that and report if I have any problems! :) Thanks again

[2018-08-21 15:58] #44427 closed, assigned to nobody

[2018-08-21 15:59] egkelly commented on #44420
@webknjaz Yes, it happens on 2.6 as well

[2018-08-21 16:08] carchi8py commented on #39139
The na_cdot_qtree.py module has been deprecated, and na_ontap_qtree.py

[2018-08-21 16:13] gramgit commented on #44466
Work around is to call the oVirt REST API direct

E.g.

[code]
`ovirt_vms[0].id` being the return value grabbed from the `ovirt_vms_facts` module

[2018-08-21 16:16] #43365 closed, assigned to nobody

[2018-08-21 16:18] SamYaple commented on #11496
Wow, bringing back memories. Happy to see a cleaner solution to this problem than the hacks I had to implemented back then!

[2018-08-21 16:39] jangrewe commented on #23902
@abadger Could it be that `local_follow: False` doesn't have an effect if i also set `remote_src: True`?
I'm trying to copy some symlinks on a remote machine, but they end up as files.
(What i'm actually trying to do is move symlinks to a different folder, but there doesn't seem to be a better way than copy & remove.)

[2018-08-21 16:51] KellerFuchs commented on #44329
bot_status

[2018-08-21 17:30] abadger commented on #44284
#44319 has been merged to devel.  Fix will be in ansible-2.7.0

[2018-08-21 17:30] #44284 closed, assigned to nobody

[2018-08-21 17:40] Joeskyyy commented on #44288
@Akasurde it does indeed (: any chance that is gonna make it into a patch release for 2.6? Or at least for 2.7?

[2018-08-21 17:43] ryansb commented on #44456
!component apt_module

[2018-08-21 17:51] clintmod commented on #27078
@geerlingguy seems like yaml doesn't work with Ad-Hoc ? I'm seeing output identical to `debug`

[2018-08-21 17:55] Wo0dsi3 commented on #44389
Hi Rene,

Any help or guidance here would be greatly appreciated.

Regards

Donnchadh Woods
Network Engineer
Managed Customer Service
BT Business & Public Sector

From: Woods,D,Donnchadh,HQO11 R
Sent: 20 August 2018 23:11
To: 'ansible/ansible' <reply@reply.github.com>; ansible/ansible <ansible@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [ansible/ansible] ansible.modul

[2018-08-21 18:01] pffs commented on #44463
@ganeshrn additional log output:

[code]

This is a different device from before, the `show interface` output for the interface that it is finding the prompt inside is:
[code]

and the traceback is
[code]
where `Serial0/3/0` shows up in the interface list after it detects the prompt in the description of `Serial0/1/0`. I'm guessing it works sometimes because of it chunking the response in a way to

[2018-08-21 18:16] yarick123 commented on #20051
Hello! I have just experienced the same problem.

In my case there is a LAN and there is no gateway in it. The ansible control host and the remote host are in this LAN. So, @sudomateo, there is no problem at all, to determine default interface on the remote host. It should be the first interface with the IP address, that matches the LAN IP address. Please, correct me if I am wrong.

This is why I

[2018-08-21 18:17] emonty commented on #44408
@chouseknecht @flaper87 @fabianvf @maxamillion y'all are listed in BOTMETA for $modules/clustering/openshift - I'm assuming that means you should be good contacts for openshift inventory too?

[2018-08-21 18:20] spezifanta commented on #29084
@prakashpandey Thank you. This worked on a Mac. Removed 1.4.0 and installed 1.4.1

[2018-08-21 18:34] augustkang commented on #44412
@apollo13 Seems STR stands for Steps To Reproduce.

[2018-08-21 19:11] mxlan commented on #20537
I think the documentation already covers role dependency installation through meta/main.yml:dependencies.

[2018-08-21 19:28] apollo13 commented on #44412
@webknjaz This is the simplest playbook (using docker so it's reproducible easily) that I could come up with:

[code]

[2018-08-21 22:00] AlexTaran opened #44485 "postgresql_* commands hang"
##### SUMMARY

all postgresql_* commands (postgresql_db, postgresql_user, postgresql_privs) hang permanently.
After Ctrl+C and restarting playbook again it proceeds to the next task each time. It means that the command eventually succeeded, but the task hanged. EXCEPT: postgresql_privs - just hangs each time.
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

postgresql_privs_module

###

[2018-08-21 22:01] abadger commented on #23902
@jangrewe yeah, local_follow doesn't currently after the remote machine.  adding that sounds like a good enhancement.  there is an engagement it there to add recursive support for remote_src which i think may as local_follow support for remote_src as well but if have to check.

[2018-08-21 22:51] willthames commented on #37368
@AngryLuke you shouldn't need the cast with this fix (which ensures that all ports get cast to int before passing to AWS - before that only happened when adding to an existing TG). I thought I'd fixed it in that latest PR, I'll have to take another look

[2018-08-21 22:58] jaydrogers commented on #42179
I was experiencing the same error in **Ansible 2.6.3** even though I had `prefix` defined. Downgrading seems to be my best workaround for now.

**My workaround for macOS:**
I was able to get this to work by uninstalling Ansible (which I installed originally through homebrew):
[code]

Then I installed `2.5.8` using this command:
[code]

[2018-08-22 01:17] LeTink commented on #22222
Can we have this reopened?
[code]

And autoremove isn't working for us.
[code]
I just did a manual prod on several of our servers which were upgraded this week, and got to "apt autoremove" kernels worth up a GB of disk-space.

[2018-08-22 01:44] ChrisD1990 commented on #44245
[root@Georgeoelv1 ansible]# python
Python 2.7.5 (default, Feb 20 2018, 09:19:12)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-28)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[root@Georgeoelv1 ansible]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.5 (Maipo)

[root@Georgeoelv1 ansible]# uname -a
Linux Georgeoelv1.hpeswlab.net 3.10.0-862.6.3.el7.x86_6

[2018-08-22 01:53] #43294 closed, assigned to nobody

[2018-08-22 02:54] ChrisD1990 commented on #44245
i can import pyvmomi with python, but i don't know why ansible-playbook can't find the model.

[2018-08-22 05:09] Akasurde commented on #40637
@ProfessorDub @hannibal87 @morla10111 Could you please check if this fix https://github.com/ansible/ansible/compare/devel...Akasurde:i40637 works for you and let me know ?

Thanks,
needs_info

[2018-08-22 05:36] Fred-sun commented on #43544
@zikalino Could you help take a look this issue? Thanks!

[2018-08-22 05:38] Fred-sun commented on #43416
@zikalino @yuwzho Could you help take a look this issue and update the comment? Thanks!

[2018-08-22 05:57] Fred-sun commented on #39006
@zikalino Could you help to recheck this issue? Thanks!

[2018-08-22 06:29] ChrisD1990 commented on #44245
@Im0 and @Akasurde  i re-setup the ansible env, now ansible is worked for pyVmomi. shall i close the issue?

[2018-08-22 06:45] Fred-sun commented on #44160
@gurdipedos Thanks for the contribution, Now ansible latest version is 2.6.3, It has fixed this bug. You can try it ,install method:" pip install ansible[azure]==2.6.3 or pip install ansible[azure] --upgrade'"

[2018-08-22 07:15] notonlyvandalzzz opened #44493 "Ansible 2.6.2 doesn't sudoing into root user"
##### SUMMARY
Cannot perform anything as root on remore server despite having anything 'become'-related turned on. Of course ssh user used to connect is in sudo group, and NOPASSWD:ALL exist in /etc/sudoers, so no security obstacles here.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- apt
- command
- shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/

[2018-08-22 07:16] ptux opened #44494 "mode parameter of copy.py not work when copy recursively"
##### SUMMARY

When src is a dir, files are assigned the correct mode but sub dirs are not.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
All files and sub dirs are assigned the specified mode.

##### ACTUAL RESULTS
Files are assigned the specified mode.
But, sub dirs are NOT assigned the specif

[2018-08-22 07:52] jangrewe commented on #14131
@ptux Could you have a look if you can also fix `local_follow` while you're already working on this? Currently setting `local_follow: False` with `remote_src: True` will not copy a remote symlink as-is, but dereference it, so that you end up with a file instead of a link.
I have no idea how much work this would be, but maybe it's something you can easily add? Thanks! :-)

[2018-08-22 07:57] ptux commented on #14131
@jangrewe

parameter `local_follow` is added by another guy.
But, I'll try to fix it if you open another issue about this.

[2018-08-22 08:02] #43803 closed, assigned to nobody

[2018-08-22 08:06] BoxedIns commented on #28277
I would like to add one voice to support this request. Having a possibility to add/change network/storage on existing VM would be a welcomed addition indeed.
If one uses templates there is no option to change networking/storage either while cloning the VM nor after it is cloned.
At the current state proxmox_kvm module is very limited.

[2018-08-22 08:28] helldorado commented on #28277
@BoxedIns updating the network interface is added in this PR https://github.com/ansible/ansible/pull/42313

[2018-08-22 08:30] Im0 commented on #44245
Hi @chrisd1990

I think so.  It will be hard to troubleshoot now the problem has gone.

I’m wondering if ansible.cfg was modified.

Anyhow,  close it down, re-open if you encounter the issue again.

Cheers Im0

[2018-08-22 08:38] notonlyvandalzzz commented on #44493
One command output to make sure there is no flaws in sudo configuration on remote side:

ansible 2.6.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.1

[2018-08-22 08:39] jangrewe opened #44495 "local_follow: False does not work with remote_src: True"
##### SUMMARY
When setting `local_follow: False` and `remote_src: True` for the `copy` module, symlinks on the remote host are being dereferenced and the destination ends up as a file, not a symlink.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.1 LT

##### STEPS TO REPRODUCE
Create the syml

[2018-08-22 08:46] ptux commented on #44495
@jangrewe

I'll let you know as soon as I reproduce this.
keep in touch.

[2018-08-22 08:49] hehe2 opened #44496 "Playbook variables are not common to all tasks"
##### SUMMARY

The variables are regenerated for every task in a playbook and not once at the start of the playbook as expected... Thus any variable including a randomly generated value is *not* common which is really cumbersome when you need to have a common random "token" in all your tasks.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-08-22 08:56] Fred-sun commented on #44416
@ericrousse I try reproduced this fail, when created windows VM's name more than 14 character will meet this error.  Could you help check you the VM name at the last time? Thanks!

[2018-08-22 09:00] ChrisD1990 commented on #44245
I closed the issue, thanks all for your help.

[2018-08-22 09:00] #44245 closed, assigned to Akasurde

[2018-08-22 10:04] hanbaobao2005 commented on #43897
Met the issue too.
As @1001QAdotNET mentioned in the post, made it work by converting ini file to yaml.

[2018-08-22 10:38] pawel1392 commented on #41232
up

[2018-08-22 10:46] #43653 closed, assigned to nobody

[2018-08-22 11:28] snerge commented on #44304
@zakharovvi that would be a nice feature indeed.

[2018-08-22 11:35] turtleducks opened #44501 "iOS_config timeout issue"
##### SUMMARY

IOS_config timing out with large config file

[code]
ansible 2.6.2
[code]
---
- hosts: "{{ getHost }}"
  connection: network_cli
  tasks:
  - name: part1
    ios_config:
      lines:

I then have ~700 lines of config file.

I have tried increasing the persistent timeout values in ansible.cfg to over 6000 (I have also tried more reasonable numbers as well) and I still have the issue.

[2018-08-22 11:40] javcasalc opened #44502 "NETCONF support for CISCO IOS / IOS-XE"
##### SUMMARY
NETCONF for routers running CISCO IOS/IOSXE  is missing.
Right now, ansible provides netconf support for IOS XR, but this plugin does not work with IOS/IOS-XE platforms.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
it would be great to have a plugins/netconf/ios.py plugin....

##### ANSIBLE VERSION
2.6.x and above.

[2018-08-22 12:08] morla10111 commented on #40637
Hey @Akasurde,
works like a charm!

Using it like this:

    networks:
    - vlan: "vlan123"
      device_type: vmxnet3
      type: dhcp
      #start_connected: yes

I still would like to use the parameter `start_connected`. Maybe that one should be added to the list as well?
Thank you for your quick help!

[2018-08-22 12:11] noplanman commented on #44439
Not sure if this is 100% proof, but I just use the `bool` filter:
[code]

[2018-08-22 12:13] insideClaw commented on #6854
I can confirm that it only looked like a bug - adding the append option to two tasks made it so that they're not always undoing the work of the other, and fixed the permanently changed trigger. I did not need to add "group:"

[2018-08-22 12:23] #44371 closed, assigned to nobody

[2018-08-22 12:27] agowa opened #44503 "Jinja2 None in Tasks file results in empty string instead on Null"
##### SUMMARY

Currently it is not possible to produce the following line by using jinja2 filters inside a tasks file: ` foo: Null`. The equivalent of Null in jinja2 is None, so one would expect that this one is equal: `foo: '{{ None }}'` but it results in an empty string. This is a problem if one wants to conditionally include a property (foo in this example) into a task. Currently there is no wa

[2018-08-22 12:32] megakoresh opened #44504 "k8s module ignores authorization parameters"
##### SUMMARY
`k8s` module seems to completely ignore whatever configuration is passed via `username` and `password` parameters and always use configuration from `~/.kube`. If `oc login` has not been performed before running the playbook, openshift returns an 403 and says that I was trying to run as `system:anonymous`. If I do perform `oc login` prior to running the playbook, the cluster I am auth

[2018-08-22 13:13] setevoy2 opened #44505 "Cloudformation: The action DescribeStacks is not valid for this web service"
##### SUMMARY

`cloudformation` modules failed to create a stack with the "The action DescribeStacks is not valid for this web service" error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`cloudformation.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Arch Linux with 4.17.14-arch1-1-ARCH
- ansible 2.6.2
- Python 3.7.0
- boto3 1.7.82 (latest avai

[2018-08-22 13:19] rbvto commented on #42506
Can confirm i'm also getting this error (along with another one) in **ansible 2.7**, **python 2.7** on **osx**.

_Information_

[code]

---

[code]

---

_Task i'm executing:_
[code]

**_both services install dependencies with yarn and run builds with webpack._**

---
_webpack's output also generates lines starting with `[`_

[code]

---

_Second error i'm seeing:_
[code]
Successfully built fb0253

[2018-08-22 13:25] BoxedIns commented on #28277
@helldorado Thank you for the information.

I'm running ansible 2.6.2 on CentOS 7. I guess I need to update.

[2018-08-22 13:30] eric-b-hymowitz commented on #30116
(I hope I'm doing this right)

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

pause

##### ANSIBLE VERSION

[code]

It sounds to me like the request is that the `pause` module honor **both** a user acknowledgement **and** a timeout.  For example:

[code]

This play will print a happy message when you type `yes` to the prompt; otherwise, the play will fail.  But it will wait forever for u

[2018-08-22 13:35] leifmadsen commented on #20604
I've used this same answer, but be aware that it can cause SSH sessions to crash/hang, and require a complete system restart...

[2018-08-22 13:55] juniorx32g commented on #14641
I'm using 2.2.1 and noticed that with some of my hosts, this issue only happens when I don't pass the `-b` option.

So I'm guessing the problem is with the target host... maybe something messed with the /etc/ansible/facts.d file permissions.

- my test playbook:
[code]
- without `-b`
[code]

- and with `-b`
[code]
With other hosts it will work fine with or without `-b`.

[2018-08-22 13:59] crossan007 opened #44508 "win_lineinfile fails when path contains bracket"
##### SUMMARY
When a path containing a bracket is used with `win_lineinefile`, the module always reports that the path does not exist.  This is consistent with #34168 and will share a fix with #37901 (https://github.com/ansible/ansible/pull/37901/files#diff-62fd6612943ccdb6cd026094c9d4763bR90)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_lineinfile

##### ANSIBLE VERSION

[code]

####

[2018-08-22 14:03] sivel commented on #44503
To achieve this behavior, you would want to make use of the special `omit` variable:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-22 14:03] #44503 closed, assigned to nobody

[2018-08-22 14:07] bcoca commented on #14641
@dericcrago  yes, that seems like a different issue, I have added a patch that ensures `ansible_local` is always defined, even if empty, so it might not be as big of an issue anymore.

@juniorx32g so that looks like it is a permissions issue, the 'fact gathering' must be able to read/execute the things you put in the 'local' dir on the remote.

I've been unable to reproduce a problem with the code

[2018-08-22 14:07] #14641 closed, assigned to bcoca

[2018-08-22 14:07] #31504 closed, assigned to nobody

[2018-08-22 14:10] #30562 closed, assigned to rcarrillocruz

[2018-08-22 14:25] #43897 closed, assigned to samccann

[2018-08-22 14:36] apollo13 commented on #44412
@webknjaz If I do not install ACLs it fails because it cannot find getfacls if I remember correctly. And no that has not much to do with the target OS, this seems to be a result of the fact that ansible applies ACLs to the ansible tmp directory and then moves copied files out.

[2018-08-22 14:38] bcoca commented on #44412
Ansible attempts to use ACLs when dealing with temp files as it allows for more fine grained control, but it is not a requirement as it falls back to other methods if that fails.

[2018-08-22 14:39] apollo13 commented on #44412
Indeed, if ACL is not installed it works. I got the error due to the fact that I used the acl module to show the issue.

Either way; the issue is that __if__ acl is installed, ansible applies ACLs to temp files and then does not get rid of them when moving to the final position.

[2018-08-22 14:42] apollo13 commented on #44412
I think the relevant function is https://github.com/ansible/ansible/blob/3dbc3a5dda7f3866fd776eb0869cb1b474c91cec/lib/ansible/plugins/action/__init__.py#L380-L402

[2018-08-22 14:45] loop-evgeny commented on #44155
That seems to work - the account is created without an expiry date. Thanks!

[2018-08-22 14:54] webknjaz commented on #44412
Ah.. fair enough!

[2018-08-22 15:00] Akasurde commented on #44304
@snerge @zakharovvi Could you please try this fix https://github.com/ansible/ansible/compare/devel...Akasurde:i44304 and let me know if it works for you ? Thanks

needs_info

[2018-08-22 15:01] webknjaz commented on #44420
Okay, so the assumption about `-P` *meaning* is wrong:
[code]

My guess is that v1.4.7 just doesn't have this short alias for the long version of `--protocol` option.

[2018-08-22 15:02] webknjaz commented on #44420
No, it looks like the option is there: https://linux.die.net/man/8/iptables-1.4.7

[2018-08-22 15:04] Akasurde commented on #40637
@morla10111 `start_connected` is addressed in this PR https://github.com/ansible/ansible/pull/40990

[2018-08-22 15:05] bcoca commented on #44496
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In Ansible variables are 'lazily evaluated' which means they are 'computed on use', so things like ` `random` will get recalculated eve

[2018-08-22 15:05] #44496 closed, assigned to nobody

[2018-08-22 15:09] agowa338 commented on #44503
@sivel Thanks for the hint, didn't know that omit exists. And btw. I've asked this question in irc before, but no one could help there. Maybe advanced people like you should stop by there more frequently ;-)

[2018-08-22 15:12] myownhost opened #44513 "Please add an option to resize Azure vm_size in module azure_rm_virtualmachine"
##### SUMMARY
Please add an option to resize vm_size

##### ISSUE TYPE
If i run a playbook which has another vm_size than the vm has at the moment. The playbook returns OK at the moment.

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[2018-08-22 15:13] webknjaz commented on #44420
It looks like the function `get_chain_policy()`, which aims to get a current policy has been introduced by @Solodkiy two years ago.
It gets triggered if there's `policy` option passed to the module from playbook.

[2018-08-22 15:16] zorggy opened #44514 "rpmbuild error"
##### SUMMARY

On CentOS7, building the RPM package from ansible-latest fails
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

rpmbuild
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not Applicable
##### OS / ENVIRONMENT

CentOS 7
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Package built
##### ACTUAL RESULTS

[code]
The program is searching in **/usr/lib64**/python2

[2018-08-22 15:22] webknjaz commented on #44420
@egkelly I've noticed that #30831 was solved by replacing `policy: ` with `jump: `. Could you try that?

[2018-08-22 15:24] #44419 closed, assigned to nobody

[2018-08-22 15:42] agowa338 commented on #43007
Is there a workaround until this issue gets resolved?

[2018-08-22 15:49] Poil opened #44516 "URI register and json that return a key with a dot"
##### SUMMARY
When using the uri module and register the json result of a query, if the json have a key that contains a dot, json.return is empty

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Json return should have the same result as this curl reply
[code]

##### ACTUAL

[2018-08-22 16:08] gundalow commented on #44124
Hi,
Can you please provide the output when you run with `ansible-playbook -vvvvv ...` so we can see the full error. Thanks in advance

[2018-08-22 16:16] sivel commented on #44516
I cannot duplicate this.  I used the response from your curl reply, with httpbin to get that exact response back:

[code]

Doing so, gives me the proper response in the `json` key.  This indicates it is not an issue with the `uri` module, but instead you are getting back a response you weren't expecting.

[code]
(Truncated to not make a huge comment)

needs_info

[2018-08-22 16:28] orenwolf commented on #37912
I believe this is resolved by pr #40793, which has been merged.

[2018-08-22 17:06] ericrousse commented on #44416
@Fred-sun I think you are correct, I did a lot of testing but I think I got mixed up in my testing scenario, and probably a VM name with more than 15 character was used at one point. And then I had another issue with a wrong sku and/or offer value. And was getting another error almost identical. I still believe that there's a bug with the error reporting, it should not replace the 0 with *******,

[2018-08-22 17:07] ericrousse commented on #44416
Should I edit the bug report title ?

[2018-08-22 17:16] #16526 closed, assigned to nobody

[2018-08-22 17:31] felixfontein commented on #42692
resolved_by_pr #16748

[2018-08-22 17:35] #42692 closed, assigned to nobody

[2018-08-22 17:45] ryansb commented on #44505
I'm unable to reproduce this issue using the same versions of Ansible, boto3, and Python on Arch. Can you please try removing and reinstalling boto3? It's possible something failed during the installation process.

needs_info

[2018-08-22 17:49] dbullock36 opened #44520 "Using service_facts unable to display service_state attributes that include a dot in the service name."
##### SUMMARY

Using service_facts unable to display service_state attributes that include a dot in the service name.  Try to capture the state for firewalld.service.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

service_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ForwardAgent=yes
##### OS / ENVIRONMENT

CentOS 7
##### STEPS TO

[2018-08-22 17:52] #37368 closed, assigned to nobody

[2018-08-22 17:53] ctechvt commented on #44310
Any help with this? We'd been using Ansible to backup our Fortigate config and haven't been able to do that for a couple of weeks. Filter seems to now be required, and there's no filter that gets the entire running config.

[2018-08-22 17:53] tedder commented on #44505
We saw this once before, #23593, and could not reproduce.

[2018-08-22 18:02] setevoy2 commented on #44505
@ryansb No, reinstalling didn't help - tried it before posting here. Neither from repository nor from `pip`.
But anyway - yes, this more looks like an issue with the `boto3/botocore` itself, not as a bug in the `cloudformation` module.
I think we can close this issue and at home, I'll just use a Docker image used in my Jenkins jobs at work.

[2018-08-22 18:05] #30292 closed, assigned to nobody

[2018-08-22 18:05] #34467 closed, assigned to nobody

[2018-08-22 18:27] mribeiro opened #44524 "Troubleshooting docs when using postgresql_user"
##### SUMMARY
I'm following docs and tips to create a user in postgresql but I always get the error `unable to connect to database: fe_sendauth: no password supplied\n` .

I can't find any help in docs.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory = ./inventory
#allow_world_readable_tmpfile

[2018-08-22 18:41] techraf commented on #42152
There was [the same issue with a different module reported on the StackOverflow today](https://stackoverflow.com/q/51971865/2947502) and it is not a problem with `s3_bucket`.

Even with `connection: local` a different Python interpreter is called depending on whether `localhost` is, or is not specified in the inventory.

It seems this was the change between 2.5.5 and 2.6.

@ryansb It is impossible

[2018-08-22 18:48] #42152 closed, assigned to nobody

[2018-08-22 18:50] jarpit1 opened #44526 "lookup with skip_missing=True produces errors when key is missing"
##### SUMMARY
The key skip_missing=True does not skip missing keys during the lookup and produces an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

subelements

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
ANSIBLE_COW_SELECTION(/etc/ansible/ansible.cfg) = default
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) =
RETRY_FILES_ENABLED(/etc/ansible

[2018-08-22 18:52] GoKEV commented on #27062
This error occurs also when a particular host in the VMware cluster is in an error state.  By naming a specific host (and not the cluster), Ansible can move past this where naming a cluster seems to be attempting to provision the new VM onto the host in the errored state.

[2018-08-22 18:55] sgedwards commented on #23144
The output of `systemctl status docker` includes

[code]

The file `/usr/lib/systemd/system/docker.service` includes the line

[code]

Then looking at that file:

[code]

Maybe consider just using the lineinfile module to modify the value of OPTIONS in /etc/sysconfig/docker.

[2018-08-22 19:03] ntwrkguru commented on #29512
@skylerbunny Perhaps that's not the full fix. If you notice above, I ran into the same issue even with docker-py 1.10.6.

[2018-08-22 19:18] felixfontein commented on #44080
I don't think this should be part of `docker_container`. A new module, something like `docker_container_export`, would probably be better for this.

For now, I guess you can simply use the `command` module to execute `docker export`.

[2018-08-22 19:22] housysadm opened #44528 "Add admin mode to iosxr_user (as was done to iosxr_config)"
##### SUMMARY

Other iosxr modules (like iosxr_config) have an option to operate either inside or outside of administration configuration mode. I can not see any type of option in this module. Is there a flag or option to instruct this module to work in admin mode?
##### ISSUE TYPE

 - Feature Idea
##### COMPONENT NAME

iosxr_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS(/

[2018-08-22 20:08] robertdebock opened #44530 "Module tower_user not idempotent"
##### SUMMARY
The `tower_user` module is not idempotent, every time I run a play to create (the same) user, the module reports `changed`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` gives not output

##### OS / ENVIRONMENT
Control node: Fedora 28
Managed node: CentOS 7

##### STEPS TO REPRO

[2018-08-22 20:58] jdavis-douglas-co-us commented on #27124
Is there any further traction on this issue? It is making my log output insanely large (looping involved). I'd really only like to see the single line "msg": "All assertions passed" and esp not the skipped stuff.

[2018-08-22 21:13] felixfontein commented on #18461
resolved_by_pr #22324

[2018-08-22 21:19] sivel opened #44538 "Deprecated functionality in module_utils/gcp"
##### SUMMARY
I am auditing deprecated calls to make sure we are up to date on removals of deprecated functionality and found 2 past due deprecated calls in module_utils/gcp:

[code]

I am not familiar enough with the `gcp` functionality to remove these myself.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/gcp.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-08-22 21:19] sivel commented on #44538
cc @rambleraptor @erjohnso @supertom

[2018-08-22 21:25] sivel commented on #44538
cc @ryansb

[2018-08-22 22:01] carchi8py commented on #33292
With commit 479408330ec04df1e4e42ced9b4e917b7449e7cd port is now a configureable by passing in the option 'http_port' in a playbook, and transport_type can bet set to http or https using the option 'https' in a playbook.

This Pr can be closed.

[2018-08-22 22:05] felixfontein commented on #29512
@ntwrkguru Are you sure you got the message with `docker-py` 1.10.6 installed on the target machine? I can reproduce it with 1.7.0, but neither with 1.8.0 nor with 1.10.6.

[2018-08-22 22:07] carchi8py commented on #33873
With change 479408330ec04df1e4e42ced9b4e917b7449e7cd https can be turned on and off, and the port and modified.

I believe this pr can be closed.

[2018-08-22 22:12] carchi8py commented on #39057
na_cdot_aggregate.py has been deprecated, and replaced by na_ontap_aggregate which supports renaming.

[2018-08-22 22:14] carchi8py commented on #39060
na_cdot_svm.py has been replaced by na_ontap_svm.py which we recently added the ability to rename.

I believe this PR can be closed.

[2018-08-22 22:17] felixfontein commented on #43177
I can verify this. It seems that the `docker-py` library expects IP addresses; if you specify something which is not an IP address (such as `localhost`), it will simply assume `0.0.0.0`.

I guess we either add support for DNS resolving, or simply adjust the documentation.

[2018-08-22 22:24] #39650 closed, assigned to nobody

[2018-08-22 22:24] #39701 closed, assigned to nobody

[2018-08-22 22:59] AlanCoding commented on #44530
https://github.com/ansible/ansible/issues/36990

[2018-08-22 23:15] #41639 closed, assigned to nobody

[2018-08-22 23:43] canit00 opened #44546 "Ansible fails when using become_method = pbrun w/ Command not found"
##### SUMMARY
ansible fails when using power broker as the become method.

Issue reported previously [14934](https://github.com/ansible/ansible/issues/14934), appears to have been around a while

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RHEL 7.3
##### STEPS TO REPRODUCE

1) Create hosts file wit

[2018-08-22 23:55] jctanner commented on #44120
prototype patch:

[code]

[2018-08-23 01:29] Fred-sun commented on #44416
Yes, You can, the issue report also need to be updated. Thanks!

[2018-08-23 01:34] ntwrkguru commented on #29512
@felixfontein, yes, see above. I can see if I can reproduce it, but that project is long since over, so I'll be digging through old stuff. :-)

[2018-08-23 02:11] guoqiao opened #44550 "mail module not working in Python 3.7.0 since changes in ssl.py"
##### SUMMARY

`mail` module not working in Python 3.7.0 since changes in `python3.7/ssl.py`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mail
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

email sent without error.

##### ACTUAL RESULTS

It works fine in Python 3.6.5.
The problem is caused by changes

[2018-08-23 02:27] jborean93 commented on #44447
@mgrela looks like hashlib is raising AttributeError instead of ImportError. I've opened a PR that should fix this for you https://github.com/ansible/ansible/pull/44551. If you can test it out that would be fantastic. I've tried to replicate it myself but my FIPS enabled platform is showing slightly different behaviour.

[2018-08-23 02:31] guoqiao commented on #44550
I just figure out the issue, and created a PR: #44552

[2018-08-23 02:56] jborean93 commented on #44493
@notonlyvandalzzz do you have either `ansible_become` or `ansible_become_user` set in your inventory? I just tested this against Ansible 2.6.2 and can't replicate the issue.

[2018-08-23 03:13] notonlyvandalzzz commented on #44493
@jborean93 just added both of them, and no luck:

`[voipsrv]
 10.10.4.15 ansible_become=true ansible_become_user=root`

ansible 2.6.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/a

[2018-08-23 03:42] robertdebock commented on #44530
Hm, thanks for pointing out the existing issue @AlanCoding. I'll close of this one.

[2018-08-23 03:42] #44530 closed, assigned to nobody

[2018-08-23 03:46] bcoca commented on #44286
@iloving each release is not fundamentally incompatible.

Some times we do have to change things, fixing bugs or even adjusting features sometimes requires changes to playbooks, but we try to minimize the impact and document it in the porting guides.

[2018-08-23 03:49] Akasurde commented on #44550
resolved_by_pr #44552

[2018-08-23 05:08] kleppy commented on #38536
Still having the same issue. Any movement  ?

[2018-08-23 05:18] guoqiao commented on #43260
+1, this is causing a lot of confusion

[2018-08-23 05:48] Fred-sun commented on #44513
@zikalino @yuwzho It seem a bug, we can't use ansible playbook to resize VM. But we change resize VM by azure portal or az bash (az vm resize --resource-group myRG --name myVM --size vm_size).Could you help check this issue?

[2018-08-23 05:50] zikalino commented on #44513
yes, seems like the module is not idempotent

[2018-08-23 05:51] Fred-sun commented on #44513
@myownhost Thanks for the contribution, if you want use this function, now you login azure portal or use az bash to resize VM (Command: az vm resize --resource-group myRG --name myVM --size vm_size). I will push this issue to resolve. Thanks!

[2018-08-23 06:34] #44447 closed, assigned to nobody

[2018-08-23 06:40] #43380 closed, assigned to nobody

[2018-08-23 06:47] me-kell opened #44555 "Improve documentation of plugin `profile_tasks`"
##### SUMMARY

The plugin `profile_tasks` simply states as requirement "whitelisting in configuration". Even if advanced users know what this means it could help if it explicitly states that the entry `callback_whitelist=profile_tasks` hast to be added to ansibles configuation file `/etc/ansible/ansible.cfg`.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

profile_tasks
##### ANSI

[2018-08-23 07:04] #44550 closed, assigned to nobody

[2018-08-23 07:16] labazza commented on #44124
Hi,

this has been fixed through private channels, the workaround/solution:

[2018-08-23 07:53] varac opened #44556 "Close milestones for released versions"
There are still open issues assigned for the [2.4](https://github.com/ansible/ansible/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.4.0), [2.5](https://github.com/ansible/ansible/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3A2.5.0) and [2.6](https://github.com/ansible/ansible/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.6.0) milestones, even though these versions have been already release.

[2018-08-23 07:55] varac commented on #26190
Why is this issue still assigned to the `2.5 milestone` when `ansible 2.5` is already release a long time ago ? See #44556 for outdated milestones.

Please reassign to a current milestone, this is a really missing feature imo (especially the lack of rekeying functionality).

[2018-08-23 08:01] Fred-sun commented on #25352
@lukadante Thanks for your contribution, Are you still here? Could you help to try according by @zikalino's advice? Thanks!

[2018-08-23 08:03] Fred-sun commented on #28392
@zikalino Could you help update the comment? Thanks!

[2018-08-23 08:05] Fred-sun commented on #30392
@mattclay @nitzmahone Could you help to recheck the comment and push this issue to next step forward? Thanks!

[2018-08-23 08:07] Fred-sun commented on #31237
@BipinXavier Are you still here, Could you give more info to reproduce this issue? Thanks!

[2018-08-23 08:08] yajo opened #44557 "s3_lifecycle: Error when prefix is not specified"
##### SUMMARY

Executing `s3_lifecycle` module without indicating prefix fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

s3_lifecycle

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Manager: Fedora 28
Connection: local

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Lifecycle rule created.

##### ACTUAL RESULTS

[code]

[2018-08-23 08:17] BipinXavier commented on #31237
I am no longer working on that project any more.

On Thu, Aug 23, 2018, 10:08 AM Fred-sun <notifications@github.com> wrote:

[2018-08-23 08:18] zakharovvi commented on #44304
Hello @Akasurde !

I tried new parameter and it works for me.

I haven't such a large groups to stably reproduce `read timed out` error, but in my opinion new parameter will help anyway.

@Akasurde, can you please also add support for `IPA_TIMEOUT` environment variable for consistency with existing parameters?

[2018-08-23 08:39] Fred-sun commented on #31237
@BipinXavier Thanks for the update.

[2018-08-23 08:41] belooussov commented on #18305
+1

[2018-08-23 08:44] Fred-sun commented on #37259
@zikalino Could you help take a look this issue? Thanks!

[2018-08-23 08:45] Poil commented on #44516
I'll have no time in the next weeks to test more, I've switch my playbook to use an external command line to query the API. I'll reopen this bug when I'll have more time to investigate if legit.

Best regards

[2018-08-23 08:45] #44516 closed, assigned to nobody

[2018-08-23 09:03] madrover commented on #43145
I can confirm that I was hitting this issue with 2.6.1 but upgrading to 2.6.3 has fixed it.

[2018-08-23 09:05] Fred-sun commented on #38973
@yungezz @yuwzho Could you help recheck this issue ? Thanks!

[2018-08-23 09:07] rene1977 commented on #35398
Very unprofessional behavior to make silent such kind of changes. And even not logical because i guess someone puting attributes there expects that they get applied for this include.

[2018-08-23 09:22] #44524 closed, assigned to nobody

[2018-08-23 10:19] rowshi commented on #36890
After some testing in my own environment it seems that this is related to one of the sublevel_cmd regular expressions recognizing a configuration line as a sub-config parent when it is not supposed to.  This is happening in the `os6_parse` function of the `ansible.module_utils.network.dellos6` module.

The regular expression is `r"ip (dhcp|vrf).*$"`  This needs to be amended to `r"ip (dhcp(?! snoo

[2018-08-23 10:29] nicholasrodriguez opened #44561 "Inconsistent results with vmware_host_config_manager"
##### SUMMARY
When configuring multiple advanced options that are preceeded with UserVars. I get the following error

fatal: [<THE ANISBLE HOST>]: FAILED! => {"changed": false, "msg": "Failed to update option/s as one or more OptionValue contains an invalid value: A specified parameter was not correct: "}

If I change 1 UserVar at a time per play then the module works, examples below in a Test Act

[2018-08-23 11:39] trishnaguha commented on #44397
@cesarfn4 I can only reproduce this if scp-server is disabled on the nexus device.
Can you please make sure that you enable the feature before running the task?

To enable the feature please add this task before the file copy task:
[code]

[2018-08-23 12:13] slayer01 opened #44564 "gitlab_project module error bool object is not iterable"
##### SUMMARY
While trying to create a new gitlab project with the ansible module gitlab_project it fails with an error message:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should create a project in our g

[2018-08-23 12:26] #18461 closed, assigned to chouseknecht

[2018-08-23 12:31] Akasurde commented on #44391
@uberjew666 Thanks for reporting this issue. Could you please check the above PR and let me know if it works for you ? Thanks

needs_info

[2018-08-23 12:31] Akasurde commented on #44391
resolved_by_pr #44566

[2018-08-23 12:37] Akasurde commented on #44561
@nicholasrodriguez Thanks for reporting this issue. Could you please try this https://github.com/ansible/ansible/pull/41343 and let me know if it works for you ? Thanks.

[2018-08-23 12:37] fessmage commented on #18904
autoremove function was added recently in #43621

[2018-08-23 12:42] iloving commented on #44286
Intention means nothing. The fact remains that you change enough things between each release to cause major issues. The fact that you even need a porting guide for each release is testament to that.

Between 2.4 and 2.5 there was a critical change to Ansibles grammar that broke any playbook that passed variables around.

Modules are renamed between different releases, sometimes for no reason at al

[2018-08-23 12:46] Akasurde commented on #44304
@zakharovvi Thanks for testing and providing feedback. Can you please check the branch and let me know if it works for you ?

[2018-08-23 12:48] snerge commented on #44304
@Akasurde I'm going to test it today as soon as I have a couple of minutes. I'll provide feedback

[2018-08-23 12:50] drmuey commented on #21439
This would be incredibly useful, specifically so we can do the `-m owner --uid-owner` bit /2¢

[2018-08-23 13:07] aaronk1 commented on #37087
@Akasurde is it possible to reopen this or does the reporter still need to open a whole new issue?  Wouldn't it be easier to just reopen?

[2018-08-23 13:08] aaronk1 commented on #37087
Is this a duplicate of https://github.com/ansible/ansible/pull/38031 ?

[2018-08-23 13:12] lumatijev commented on #42567
@frisbee23 sorry for a long delay. Can you test this now? I've added commit to my pull request which should solve this issue.

[2018-08-23 13:14] DavorSaric commented on #42564
To add, it also adds "mysql_native_password" to plugin filed which is empty prior running Ansible playbook. You can check that by manually installing MariaDB-server 10.3 from official repo and check user table. Also you can run mysq_secure_installation and it will not set mysql_native_password plugin column.
So:
1) it sets password for root into "authentication string" and sets "plugin" to be "mys

[2018-08-23 13:26] snerge commented on #44304
@Akasurde I've just tested the playbook I had issues with ipa_timeout: 60 and it worked !

[2018-08-23 13:36] rcarrillocruz commented on #44528
Flagging as feature idea for 2.8

[2018-08-23 13:39] rcarrillocruz commented on #44501
Can you please clarify which timeout setting you set?

[2018-08-23 13:39] rcarrillocruz commented on #44501
needs_info

[2018-08-23 13:40] rowshi opened #44569 "DellOS6 Module not disabling paging prompt"
##### SUMMARY

When using the dellos6 modules to gather facts or configure a Dell Networking OS6 device, the `on_become` method may not trigger when the switch is configured to bring the user straight to enable mode upon login.  This means the command `terminal length 0` is not sent to the network device and the paging mechanism for long output is not disabled.  This causes parsing errors when rea

[2018-08-23 13:43] rcarrillocruz commented on #44389
Please try to set ANSIBLE_PERSISTENT_COMMAND_TIMEOUT envvar to a big value, like 300.
That setting is what bumps the timeout on persistent connection commands.

[2018-08-23 13:43] rcarrillocruz commented on #44389
needs_info

[2018-08-23 13:44] nicholasrodriguez commented on #44561
Using this version

https://github.com/Renlor/ansible/blob/b69ace756b77bc606be41a71c645b105b7abe937/lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py

I'm getting a failure with a really odd result as I'm not even making any changes to Vpx.Vpxa.config.log.level
[code]

[2018-08-23 13:50] rowshi commented on #44569
### Suggested Fix:
Modify the `ansible.plugins.terminal.dellos6.TerminalModule` class's `on_become` method to issue the `terminal length 0` command when detecting the enable prompt prior to returning:

### Diff:
[code]

[2018-08-23 13:52] uberjew666 commented on #44391
@Akasurde Your changes have resolved the issue. I also test both adding and remove permissions and this worked perfectly too.

Thanks for the speedy fix.

[2018-08-23 13:55] gundalow commented on #43223
Just to confirm, in 2.6 can you add `use: systemd` to the service module task.

I wonder if the logic in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py#L424 is wrong as I'm not sure if we should be using `update-rc.d` on systemd systems.

[2018-08-23 13:55] #44275 closed, assigned to trishnaguha

[2018-08-23 13:56] uberjew666 opened #44570 "Feature: Assign user permissions based on roles in vmware/vCenter"
##### SUMMARY
It would great if we could add permissions to users (ideally, local AND Active Directory). There is a module available to creates users and another to create roles but nothing to add the permissions.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_global_permissions ?

[2018-08-23 14:06] #18904 closed, assigned to nobody

[2018-08-23 14:30] lmprice commented on #44124
@labazza Thanks for posting that. I guess I missed hitting the 'comment' button. @gundalow We have a patch incoming that will resolve this issue.

[2018-08-23 14:45] Akasurde commented on #44561
@nicholasrodriguez Could you please use do following -

1. Use https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
2. If you are getting same result, then paste output of https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_host_config_facts.py

Thanks,

[2018-08-23 14:56] tony-caffe commented on #30445
@samdoran Any update to this or the other issue related to it? We use Ansible to manage systems all across the world but they are all Alpine/busybox servers and having this would give more reliability and other features in one Task definition.

Having the `deluser` command used may be something to note as well.

Thank you!

[2018-08-23 14:58] paylocity-sflanders opened #44573 "win_domain_user usage of Get-ADPrincipalGroupMembership breaks"
##### SUMMARY
When the module calls Get-ADPrincipalGroupMembership anywhere in the code it will fail with

Get-ADPrincipalGroupMembership : The server was unable to process the request due to an internal error.  For more information about the error, either turn on
IncludeExceptionDetailInFaults (either from ServiceBehaviorAttribute or from the <serviceDebug> configuration behavior) on the server i

[2018-08-23 14:59] bcoca commented on #44286
I'm not sure which grammar you mean, iirc only 2 things that affected variables was fixing a bug when 'inline' variables were mixed with keywords (as in `roles:` and `include:`), which did break some playbooks that used.
[code]

[2018-08-23 15:58] serenamckeenzo commented on #42292
It's a feature I'd be keen on using as well. Is it in the plans to add metric filters module to Ansible?

[2018-08-23 16:02] nicholasrodriguez commented on #44561
Hi @Akasurde I got the same error as before except the error line is now 132. Output from facts is below, I've had to obfuscate some values

[code]

[2018-08-23 16:05] peter-murray opened #44576 "Dangerous fall through for elb_application_lb state"
##### SUMMARY
If you don't provide a `state` for the `elb_application_lb` module it will default to deleting the load balancer

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Use the module with a missing `state` parameter

##### EXPECTED RESULTS
I would expect a failur

[2018-08-23 16:12] ryansb commented on #43508
Closed by #43509

[2018-08-23 16:12] #43508 closed, assigned to nobody

[2018-08-23 16:14] #43197 closed, assigned to nobody

[2018-08-23 16:28] samdoran commented on #44155
Thanks for confirming.

[2018-08-23 16:29] #44155 closed, assigned to samdoran

[2018-08-23 16:39] felixfontein commented on #43176
resolved_by_pr #42641

[2018-08-23 16:43] Qalthos commented on #40884
I don't think that's very likely. The fact that the config survives being set as a fact indicates to me that it is unrelated to that problem.

The presence of `OSPF->BGP` is almost certainly an issue. It's hard to say precisely how to fix this issue, as `OSPF-` is a possible valid hostname, and as of #39063 we know that we can't always expect a newline before a prompt.

I'm not sure if the other r

[2018-08-23 16:44] #43010 closed, assigned to nobody

[2018-08-23 16:49] Akasurde commented on #44561
Strange, I am able to run whole playbook given in reproducer

[code]

[2018-08-23 16:50] gundalow commented on #39060
Closing

[2018-08-23 16:50] #39060 closed, assigned to nobody

[2018-08-23 16:51] gundalow commented on #39139
Closing

[2018-08-23 16:51] #39139 closed, assigned to nobody

[2018-08-23 16:51] gundalow commented on #39057
Closing

[2018-08-23 16:51] #39057 closed, assigned to nobody

[2018-08-23 18:32] #44232 closed, assigned to nobody

[2018-08-23 18:47] dandunckelman opened #44589 "VMware: When using vmware_vswitch, allow removing NICs"
##### SUMMARY

I can't remove a NIC when configuring a vswitch.  I can only add.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_vswitch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE
[code]

1. Run the above where `vswitch.vmnics` is this:

        vswitch:
          vmnics:
            - vmnic0
            - vmn

[2018-08-23 19:42] fiona-123 commented on #32532
ansible -i inventory -m yum -a "name=httpd state=installed" webservergrp --become
webserver01 | FAILED! => {
    "changed": false,
    "msg": "The Python 2 bindings for rpm are needed for this module. If you require Python 3 support use the `dnf` Ansible module instead.. The Python 2 yum module is needed for this module. If you require Python 3 support use the `dnf` Ansible module instead."
could

[2018-08-23 19:53] bcoca commented on #44300
Since you can have a vaulted inventory, we really require it before reading inventory and/or vars, also the vault is global and inventory is 'per host'

[2018-08-23 20:04] LucidOne commented on #44077
So I have "fixed" my issue, though I'm not sure I understand it. I think it is related to this issue but :alien: .

The private registry is started with
[code]

This does not push the image to the registry
[code]

It looks to me like tagging succeeds but the push operation is failing.
[code]

The issue can be fixed by manually running
[code]

or with `force: yes`
[code]

I have tried `-vvvvv` and

[2018-08-23 20:16] apettinen commented on #44404
I hit this same error, but got it working via the following steps:

- enable the plugin in your ansible.cfg (most inventory plugins are off by default), e.g.:
[code]
see: https://docs.ansible.com/ansible/2.5/plugins/inventory.html for more details
Note, this also specifies the search order.
- The source code contains a better example how to configure:
[code]

Also ensure your service account has e

[2018-08-23 20:28] bcoca commented on #44251
it was a backwards compatibility decision, in 1.x Ansible also ignored tags at play level when dealing with fact gathering. As a workaround i suggest `gather_facts:  '{{ "abc" in ansible_run_tags }}`

[2018-08-23 22:05] adamdonahue commented on #44326
:+1: here.  We encountered this issue as well, and applied a patch to set the true or false value specifically.  I believe otherwise it picks up the vSwitch response.

[2018-08-24 00:03] jonatcorus opened #44603 "role vars unexpected behaviour"
##### SUMMARY
When passing vars to roles using the vars: key and multiple roles use the same key name the last value wins.

This might be the intended behaviour but it tripped me up.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS($HOME/ansible/roles/dependencies/lab1/ansible.cfg) = True

##### OS / ENVIRONMEN

[2018-08-24 00:20] #30226 closed, assigned to nobody

[2018-08-24 01:12] #16186 closed, assigned to nobody

[2018-08-24 01:28] shinux85 opened #44606 "vmware_guest_snapshot:Unable to manage snapshots for non-existing VM"
##### SUMMARY
unable to take vmsnaphot using vmware_guest_snapshot module.Always getting error-Unable to manage snapshots for non-existing VM"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control Node:
[code]
Managed Node:
VmWare Vcenter Server 6.0.0

##### STEPS TO REPRODUCE

[code]

#

[2018-08-24 01:31] notonlyvandalzzz commented on #44493
Few more hosts (FreeBSD) to make sure there is no remote side problem:

ansible 2.6.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Ap

[2018-08-24 01:41] Fred-sun commented on #30392
@mattclay @nitzmahone Could you help to recheck the comment and confirm this is a bug or not? Thanks!

[2018-08-24 01:49] Fred-sun commented on #31867
@zikalino Could you help update the status of the issue or the next step forward?

[2018-08-24 01:50] Fred-sun commented on #31967
@zikalino Has the issue been solved? Can you help update the status of the issue or which PR fix? Thanks!

[2018-08-24 01:54] Fred-sun commented on #33943
@cblackuk Thanks for the contribution, Could you help update the issue status? Thanks!

[2018-08-24 01:55] Fred-sun commented on #34047
@kyliel @nitzmahone Thank you for your effort on Ansible. Could you help update the issue status？ Thanks!

[2018-08-24 02:02] Fred-sun commented on #37158
@yuwzho Could you help update the comment? Thanks!

[2018-08-24 02:04] Fred-sun commented on #37934
@yuwzho Could you help take a look into this issue? Thanks

[2018-08-24 02:12] Fred-sun commented on #39903
@yuwzho Could you help recheck this issue? Thanks!

[2018-08-24 02:15] Fred-sun commented on #39977
@yungezz Could you help update the issue status? Thanks!

[2018-08-24 02:17] Fred-sun commented on #39958
@zikalino Could you help update the issue status? Thanks!

[2018-08-24 02:44] maxamillion commented on #21439
Correction, the code bases are too diverged to effectively cherry-pick.

[2018-08-24 02:57] maxamillion commented on #44520
This looks like yaml dict syntax is getting caught up here. The use of `services_state.ansible_facts.services.firewalld.service.state` is parsed such that `services_state.ansible_facts.services.firewalld` is a dict with a key `service`, which is in tern a dict with a key `state`. However situation actually is that `services_state.ansible_facts.services` has a key `service.state` so we need to use

[2018-08-24 02:58] notonlyvandalzzz commented on #44493
Just upgraded ansible to 2.6.3, but nothing changed.

[2018-08-24 03:36] amioranza commented on #26670
the commands below worked for me on Ubuntu 16.04

 sudo rm -rf /usr/lib/python2.7/dist-packages/OpenSSL/
  /usr/bin/pip2 install -U pyOpenSSL`

[2018-08-24 04:03] ps-jay opened #44613 "Python3: route53 module fails to connect with error "TypeError: a bytes-like object is required, not 'str'""
##### SUMMARY

When using the route53 module on Python3 with:
- Ansible 2.6.2
- Python 3.7.0
- Boto 2.49.0
- Boto3 1.7.77
- Botocore 1.10.77

... and I have proxies defined.

I experience a traceback `TypeError: a bytes-like object is required, not 'str'`.

Might be a `boto` incompatibility with Python 3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

route53

##### ANSIBLE VERSION

[code]

[2018-08-24 04:09] Akasurde commented on #44606
@shinux85 Thanks for reporting this issue. I see that you are using Ansible 2.4 which is a bit old. Could you please update atleast to 2.5 and let me know if it works for you. I am advising this as there were "lot" of changes went into Ansible VMware modules. Thanks.

needs_info

[2018-08-24 04:10] Akasurde commented on #44589
@dandunckelman Thanks for reporting this feature request.

[2018-08-24 04:47] jainnikhil30 commented on #33331
@Akasurde Thanks for taking a look at it this. I totally understand that this can be done via file module. But since sysctl module also creates the file, if it doesnt exist via "sysctl_file" parameter, I think it would be a good feature to allow setting owner, group & mode options so the file permissions can be set for the newly created file. Could you please reconsider the request ?

[2018-08-24 05:28] robertdebock opened #44615 "Module `package` describes `state` is required, but it's not."
##### SUMMARY
In [the documentation of `package`](https://docs.ansible.com/ansible/2.6/modules/package_module.html) the `state` parameter is mentioned as `required`, but it's not.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` displays no output.

##### OS / ENVIRONMENT
Fedora 28

#####

[2018-08-24 05:52] Fred-sun commented on #40857
@zikalino Could you help check this issue? Thanks!

[2018-08-24 06:03] Fred-sun commented on #41003
@zikalino Could you take a look this issue? Thanks！

[2018-08-24 06:10] cblackuk commented on #33943
@Fred-sun I will, promise but I need a bit it will not be until late next week sadly...

[2018-08-24 06:13] Fred-sun commented on #33943
@cblackuk Thanks for the update.

[2018-08-24 06:25] Fred-sun commented on #42104
@josemanuel-garcia  I have tested on Ansible 2.6.3 already fix this issue. It has been release. Could you can try it? If you test successfully, We can close this issue. Thanks!
install method:" pip install ansible[azure]==2.6.3 or pip install ansible[azure] --upgrade'"

[2018-08-24 06:29] #44466 closed, assigned to nobody

[2018-08-24 06:30] NanoCaiordo commented on #41970
Could use
[code]

[2018-08-24 06:33] Fred-sun commented on #42215
@zikalino Could you help update the Issue status? Thanks!

[2018-08-24 06:37] vbotka commented on #44493
There is no sudo escalation. Where does the command "rm -f -r /home/halcyon/..." come from?
'/bin/sh -c '"'"'rm -f -r /home/halcyon/.ansible/tmp/ansible-tmp-1535074113.29-36613349009535/ > /dev/null 2>&1 && sleep 0'"'"''

I can't reproduce with host FreeBSD 11.2 and master Ubuntu 18.04.

ansible 2.6.3
 ...
'/bin/sh -c '"'"'sudo -H -S -n -u root /bin/sh -c '"'"'"'"'"'"'"'"'echo BECOME-SUCCESS-xlirl

[2018-08-24 06:44] Fred-sun commented on #42769
@nitzmahone Thanks for the contribution, Could you give more info about this issue?  do you have some idea to fix this issue?

[2018-08-24 06:44] dhurtakolha commented on #42614
sorry for the long silence on this .. just getting back from vacation.
I am a GIT newbie and am trying to figure out how to download and test "branch devel...Akasurde:i42614". I'll provide an update in couple of days ..

[2018-08-24 06:46] gundalow commented on #33331
One of the design principals of Ansible is every plugin (module) should do only one thing and one thing well. This follows the Linux principal "Do One Thing and Do It Well". In this case we already have the `file` whose purpose is for setting permissions and ownership.

[2018-08-24 06:52] josemanuel-garcia commented on #42104
@Fred-sun Tested on Ansible 2.6.3, everything working fine.

Thank you very much, nice work :+1:

[2018-08-24 06:55] Fred-sun commented on #42104
@josemanuel-garcia Thanks for you try, if it ok, Could we can close this issue? Thanks!

[2018-08-24 06:59] #43021 closed, assigned to nobody

[2018-08-24 07:10] nicholasrodriguez commented on #44561
I'll rebuild a server with 6.5 and will test

[2018-08-24 07:14] #42104 closed, assigned to zikalino

[2018-08-24 07:16] nicolaibaralmueller opened #44620 "azure_rm_virtualmachine module - no storage account"
##### SUMMARY
azure_rm_virtualmachine module always creates a storage account. When creating a VM manually it is possible to chose "Use managed disks" which does not create a storage account. This should also be supported in this module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No env variables

##### OS / EN

[2018-08-24 07:23] Danee13 opened #44621 "iosxr_config fails to load bgp configuration"
##### SUMMARY
iosxr_config fails to load bgp configuration

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04.1 LTS
Cisco IOS XR Software, Version 5.3.3

##### STEPS TO REPRODUCE

Hello everyone!
I have a very simple task, I generate a minimal VRF/BGP configuration from with YAML and Jinja2. I

[2018-08-24 07:40] jborean93 commented on #44493
@vbotka the rm command is part of what Ansible does when not pipelining modules. @notonlyvandalzzz I don't think it will help you but can you run with `-e ansible_become_yes=True` as part of your command. Command line options have the highest precedence and should override any other location where it could potentially be set to False.

[2018-08-24 08:18] notonlyvandalzzz commented on #44493
@jborean93 it didn't work:

ansible 2.6.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Apr 15 2018, 21:51:34) [GCC 7.3.0]
Using /etc/

[2018-08-24 08:48] Fred-sun commented on #44416
@ericrousse Thanks for the contribution. Can you share the value of your variable (startvmnum, startvmnum, vmcount, application, envName, appID) ? Thanks!

[2018-08-24 08:51] backbord commented on #39374
Closed via #44586

[2018-08-24 08:51] #39374 closed, assigned to nobody

[2018-08-24 09:10] ogmueller commented on #44409
This problem also occurs using the systemd module.

[2018-08-24 09:40] SmruthiNaidu opened #44625 "Unknown error while connecting to vCenter or ESXi API at ukmom-ifhyt01.ppppp.yy.xxxx.com"
Unable to connect to Vcenter Server using Fully Qualified Domain Name of Vcenter in Module "vmware_guest"

##### SUMMARY

Unable to connect to Vcenter server to delete a vm using ansible module vmware_guest in playbook

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Name of the module: vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MODULE_PATH(/etc/ansible/ansible

[2018-08-24 09:46] yevgeny-z commented on #43803
What about CAA?

[2018-08-24 09:50] tux-b commented on #35580
Hello Guys,
Do we have a resolution here, I seem to be facing similar issue. My playbook is the following one;

[code]
It is able to attach a Volume to the instance but task fails on Filesytem creation step with the following Error msg;

[code]

Any information here would be appreciated.

Regards,

[2018-08-24 09:50] ikr0m commented on #29693
+1

[2018-08-24 10:08] zoltanmaric commented on #27078
For me this only works if I pass the `-v` flag. Is there any way to make it work without the `-v` flag? With it, the output is quite huge because of all the new-lines :disappointed_relieved:

[2018-08-24 10:09] andreaso commented on #43803
CAA records are currently blocked by me having some problem with the Cloudflare API.

https://community.cloudflare.com/t/use-api-to-list-specific-caa-records/30261

[2018-08-24 10:12] sumkincpp commented on #13773
Same problem with virtualenv/ansible messing up with libraries libselinux-python, but:
 - selinux permissive,
 - libselinux-python installed on local and remote nodes
 - virtualenv doesn't not about `selinux`

Ansible 2.6.3
RHEL 7.4

Expecting from Ansible - if selinux is not used, skipping library loading and allowing action.

Possible venv fix:
[code]

Simlar: https://github.com/trailofbits/algo

[2018-08-24 10:31] Loustik commented on #33263
I have experienced the same issue with <code>Ansible 2.6.0</code>. Downgrading to <code>Ansible **2.4.0**</code> solved the problem;

[2018-08-24 10:35] nicolaibaralmueller commented on #44620
Well that was easy...

By adding managed_disk_type: Standard_LRS to the module, no storage was created. This is now resolved.

[2018-08-24 10:35] #44620 closed, assigned to nobody

[2018-08-24 10:47] nicholasrodriguez commented on #44561
I've tried the fix against a 6.5 host and got the same result.

As the play is also using a 6.7 vCenter I replaced the reference to vCenter with the direct connection details of the esxi host so that the play is targetting the host directly as below and it works against a 6.5;

I'm going to rebuild the host back to ESXi 6.7 and will try again but it looks to be vCenter 6.7 possibly causing the iss

[2018-08-24 11:01] gdpak commented on #44621
@Danee13

BGP config in your template file has a small issue. You should enable unicast address-family at global bgp level before enabling at VRF level. I used below template and I was able to get it successfully committed to a xr device.
[code]

Playbook is like below

[code]

BTW you don't need template task. You can directly give jinja2 template file as 'src' argument to iosxr_config. It will r

[2018-08-24 11:11] AdamMujtaba commented on #44502
test

[2018-08-24 11:11] Rajasekhar456 opened #44629 "Unable to execute powershell copy/robocopy/xcopy command on windows client servers"
- Bug

-  Report
ANSIBLE VERSION
ansible --version
ansible 2.3.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides

- CONFIGURATION
No significant changes

- OS / ENVIRONMENT
RedHat_Linux version 2.6 - Ansible Server
Windows Server 2012 R2 - Target device

- ISSUE TYPE
Bug Report

- COMPONENT NAME
Windows

SUMMARY
Hi Team,

When trying to execute a powe

[2018-08-24 11:12] Rajasekhar456 commented on #44629
The same powershell script i can able to execute in windows server but unable to execute from ansible..

[2018-08-24 11:32] dagwieers commented on #44629
This is explained in the Ansible Windows documentation at: https://docs.ansible.com/ansible/devel/user_guide/windows_winrm.html#authentication-options

I think you either need to use Kerberos or CredSSP for authentication in order to delegate credentials.
In any case, this is not a support forum, please use the #ansible IRC channel or the mailing list for support questions.

[2018-08-24 11:32] #44629 closed, assigned to nobody

[2018-08-24 11:44] gdpak commented on #44621
one way to enter this mode from your config is - if diff calculated from ansible is as below
[code]

[code]
This can happen if indentation of expected config hierarchy from iOS-xr and template does not match . Can you give me raw file of your template file, playbook and existing current running config on device ? I will try if I can reproduce this error.

[2018-08-24 11:55] gudron opened #44633 "j2 parsing with map filter"
##### SUMMARY
value of variable not parsed if contains map | list filter

##### ISSUE TYPE
 - Bug Report

##### component name
map and list filters

##### ANSIBLE VERSION
ansible 2.5.5
  config file = /tmp/ansible_test/ansible.cfg
  configured module search path = [u'/home/gudron/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/pyt

[2018-08-24 12:04] dbullock36 commented on #44520
Very nice solution..thanks very much...closing issue

[2018-08-24 12:04] #44520 closed, assigned to nobody

[2018-08-24 12:24] rockandska opened #44635 "[FR] [uri] Add an option to return content untouched"
##### SUMMARY
Just hit the same behaviour as #24073 / #23671
The return content is modified because the return content contain the password provide to the uri module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Describe in the 2 issues in the summary of this issue

##### EXPECTED RESULTS
Even if i fully understand the reason f

[2018-08-24 12:26] ulide4 commented on #44378
Works perfectly. Issue can be closed,

[2018-08-24 12:26] #44378 closed, assigned to nobody

[2018-08-24 12:30] nicholasrodriguez commented on #44561
I've rebuilt three ESXi6.7 servers and have run several tests.

- Using the original module version directly against a ESXi host I get the same original issue
- Using the fixed module version directly against a ESXi host it works
- Using the fixed module version via a 6.7 vCenter is fails with the message "....KeyError: 'Vpx.Vpxa.config.log.level....." as above

Just to be clear, so I'm not using

[2018-08-24 12:50] hardened-user commented on #15892
works with double-escaping characters
```  {% raw %}{{ '{{' }} ...  {{ '}}' }}{% endraw %}```
[code]

P/S:  double ```raw``` not working
```{% raw %}{% raw %} ... {% endraw %}{% endraw %} ```

[2018-08-24 13:06] mazzystr opened #44638 "ec2_elb repeatedly reports changed status"
##### SUMMARY
ec2_elb repeatedly reports changed status

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Instances were previously registered.  I expect the ec2_elb task to return ok state

##### ACTUAL RESULTS
Tasks return changed state eve

[2018-08-24 14:13] rockandska commented on #44635
In the meantime i bypass this behaviour by specify the user / password through the auth headers but is less elegant than use "user"/"password" parameter of the module.

[code]

[2018-08-24 14:15] acdha opened #44641 "ec2_instance module synopsis doesn't match examples"
##### SUMMARY

The synopsis on https://docs.ansible.com/ansible/latest/modules/ec2_instance_module.html lists only “Gather facts about ec2 instances in AWS”, just like ec2_instance_facts, but the examples show it's actually creating, updating, and deleting instances

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/

[2018-08-24 14:29] #44329 closed, assigned to nobody

[2018-08-24 14:32] #41583 closed, assigned to nobody

[2018-08-24 14:51] #28272 closed, assigned to nobody

[2018-08-24 15:26] samdoran commented on #44633
I am able to reproduce this with `devel`, though I'm not sure if it's by design or not.

A few things:

1) Is there a reason for using `hostvars[inventory_hostname]`? That is only necessary if you're looking up variables from other hosts.

2) An additional `map()` filter is needed to get the desired result.

This works:

[code]

[code]

[code]

Using `hostvars` does not work:

[code]

[code]

[2018-08-24 15:30] opoplawski commented on #41970
Works for me

[2018-08-24 15:30] david-dumas commented on #34196
I am still encountering this issue in ansible `2.6.3`, I used @ckotte trick as workaround.

[2018-08-24 15:45] bcoca commented on #44615
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is set by design, package is a wrapper to many modules, as such it must follow the more restrictive versions underneath or it will

[2018-08-24 15:45] #44615 closed, assigned to nobody

[2018-08-24 15:54] kottalovag commented on #34196
@david-dumas I just had this issue with 2.6.2 and tagging the include_role with always was enough to resolve it as @sivel presented. Maybe I can help you as fate brought us together working with the same feature. What is the skeleton of your layout?

[2018-08-24 16:15] abadger commented on #33331
If you want to make sure that the file always has explicitly set permissions, use either the file or the copy module prior to running the sysctl module like this:

[code]

Many different modules, both maintained by ansible and maintained by the community, will create a file if it does not exist.  If we didn't follow the Unix principle of doing one thing well, here, then we'd have  to maintain a lo

[2018-08-24 16:33] bcoca commented on #44261
omit is not for 'undefining variables' it is for 'omitting'  action options, as such its is hard to meet 'expectations' when it is being misused.

If you want to 'null' a variable, this can be done (yaml ~ or python None will work), but you cannot 'undefine' it.  Still, this would be a 'feature' request, not a bug, but considering that the underlying technologies used also don't permit this, it is

[2018-08-24 16:38] AngryLuke commented on #37368
@willthames sorry for my previous reply, I completely misunderstood the meaning of you request.
I'll test the fix after pull from ansible:devel and I'll notify if it has been fixed.

[2018-08-24 16:39] samdoran commented on #30445
@tony-caffe I have a local branch where I've been building this out. I haven't gotten in fully finished yet, though.

[2018-08-24 16:59] gp-svc opened #44647 "ansible playbook not able to read aws profile credentials if export or passing parameter in yml"
##### SUMMARY

ansible playbook not able to read aws profile credentials if export or passing parameter in yml
i was working in ansible 2.3.0.0 it was fine. after updating ansible version aws related playbook not able to perform any action.

playbook. ansible getting fails to perform actions.
But if i pass access key and secret key then it is working fine.

##### ISSUE TYPE
 - Bug Report

##### CO

[2018-08-24 17:04] #44576 closed, assigned to nobody

[2018-08-24 17:15] anthonysr-mc commented on #19893
This bug is present in ansible 2.5.2. Ports are only re-mapped via published_ports with network_mode: bridge, but not when network_mode: host.

[2018-08-24 18:06] kstenerud opened #44651 "ansible all -m ping fails: No such file or directory"
##### SUMMARY

ansible all -m ping fails with the error:

    ERROR! Unexpected Exception, this is probably a bug: [Errno 2] No such file or directory

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

alpine edge

##### STEPS TO REPRODUCE

    apk add ansible
    mkdir /etc/ansible
    echo localhost >/etc/an

[2018-08-24 18:13] sivel commented on #44651
Related: https://github.com/ansible/ansible/pull/43563

[2018-08-24 18:38] sivel commented on #44651
This is an indication that you are missing `/dev/shm` on the host you are executing ansible from which is required for the multiprocess/forking mechanisms within Ansible.

However, we should be sure to catch these errors, and provide a nicer error message.

[2018-08-24 18:43] abadger commented on #44651
From googling, it appears that this happens when python cannot write to /dev/shm (or/run/shm depending on the platform). This ticket is a similar issue in another project https://github.com/poldracklab/fmriprep/issues/780#issuecomment-338066557

It seems like this is a configuration issue on the controller host.

[2018-08-24 19:06] vpvijay87 opened #44658 "how to execute sudo privileged commands"
##### SUMMARY

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/30482456/44602977-38de2c80-a7af-11e8-806d-0d5a37501024.png)

[2018-08-24 19:45] ryansb commented on #44641
Fixed in https://github.com/ansible/ansible/commit/990e95eb5775ed71a1cc2a377c0de5d726bdaf95

[2018-08-24 19:45] #44641 closed, assigned to nobody

[2018-08-24 19:55] mbunn commented on #42090
+1

[2018-08-24 20:57] mfish82 opened #44662 "Module: vmware_cluster sets various default configurations that are not changeable via Ansible."
##### SUMMARY

The vmware_cluster module allows you to set a bool for DRS, HA, and VSAN. Even with these values, false, it appears that the module sets some values in the background. This was discovered via vmware_cluster_facts.  For this request, we're specifically looking at the HA settings. Some of these settings, in some infrastructures, may cause issues. Being able to set these values at crea

[2018-08-24 23:44] sykosoft commented on #30064
I just experienced this today, and the noted comment above about no longer limited to just key_file and ssh_opts arguments is true. I'm running Ansible 2.6 (updated from 2.4 to see if this was fixed). As noexec is becoming dramatically more common, this would be great to have fixed. As servers lacking git (for similar reasons as noexec, compliance) is also becoming more common, this should also be

[2018-08-25 00:10] pillarsdotnet opened #44667 "Imported macros cannot use namespace() objects."
##### SUMMARY
Ansible imported macros cannot use [`namespace()`](http://jinja.pocoo.org/docs/2.10/templates/#namespace) objects.

[This repo](https://github.com/pillarsdotnet/ansible-macros-and-namespace) holds a small test-case demonstrating that [`namespace()`](http://jinja.pocoo.org/docs/2.10/templates/#namespace) objects currently (as of Ansible 2.6) cannot be passed to imported jinja2 macros.

[2018-08-25 01:11] kassiansun commented on #35070
duplicate_of #31338

[2018-08-25 01:12] kassiansun commented on #35070
duplicate_of 31338

[2018-08-25 01:13] kassiansun commented on #24394
notabug

[2018-08-25 01:15] #35070 closed, assigned to nobody

[2018-08-25 01:15] #24394 closed, assigned to nobody

[2018-08-25 01:21] kassiansun opened #44668 "docker_container `published_ports` needs more control options"
##### SUMMARY
Per #21091 #21093 #21094 , there're several issues with `published_ports` parameter:

- [ ] It does not accept a single port, per #21093
- [ ] It does not accept 'all' option, per #21091, which is supported by `docker --publish-all`
- [ ] It does not accept port range, per #21094
- [ ] ipv6 support, per #38909

These issues need to be verified first, and future patch can be submitted

[2018-08-25 01:22] #21094 closed, assigned to nobody

[2018-08-25 01:29] #21093 closed, assigned to nobody

[2018-08-25 01:29] #21091 closed, assigned to nobody

[2018-08-25 01:36] kassiansun opened #44669 "docker_container idempotent improvements for configuration comparation"
##### SUMMARY
There's several issues about `docker_container` idempotent now, caused by configuration comparison:
- [ ] Per #18983 , we might need to allow set an empty `log_driver`, and default it to `json-file`, to compare it with remote config.
- [ ] Per https://github.com/ansible/ansible/issues/31377#issuecomment-373465611, `restart_retries` is not correctly detected.
- [ ] Per https://github.

[2018-08-25 01:36] kassiansun commented on #18983
duplicate_of #44669

[2018-08-25 01:37] kassiansun commented on #31377
Hey guys, now I'm quite sure that we've found the root cause of all these issues, a single checklist maybe better for future works :)

duplicate_of #44669

[2018-08-25 01:41] kassiansun commented on #44669
Some guys have left a comment on #31377 and didn't paste a difference, can you supply more information?

@macwinnie @robertdebock

[2018-08-25 01:42] #31377 closed, assigned to nobody

[2018-08-25 01:43] #18983 closed, assigned to nobody

[2018-08-25 01:44] kassiansun commented on #19103
I think `docker` container has been dead for a long time, it should be okay to close this.

wontfix close_me

[2018-08-25 01:46] kassiansun commented on #19894
duplicate_of #44669

[2018-08-25 01:49] #19894 closed, assigned to nobody

[2018-08-25 01:56] kassiansun opened #44670 "Add `strict_mode: yes` option to docker_container"
##### SUMMARY
The current comparison logic of `docker_container` is that, if something is removed from a `list` or `dict`, we will not recreate the remote container.

This is a good design from my view, but has caused several issues:
- [ ] Some options always need exact match, like `command` specified with a list.
- [ ] Sometime we need exact match, for example, removing an `env` entry is needed t

[2018-08-25 01:57] kassiansun commented on #36243
duplicate_of #44670

[2018-08-25 02:03] #36243 closed, assigned to nobody

[2018-08-25 02:03] kassiansun commented on #38909
duplicate_of #44668

[2018-08-25 02:09] #38909 closed, assigned to nobody

[2018-08-25 02:11] kassiansun commented on #19893
@anthonysr-mc Hi, I think `network_mode: host` is use host network, so there's no "publishing" at this scenario, container runs on root network namespace.

[2018-08-25 02:14] kassiansun commented on #19893
I think this is due to the fact that "publishing" works with some kinds of network with some kinds isolation. If there's no isolation, there's no need to "publish" it.

If I'm wrong, feel free to open it.

notabug

[2018-08-25 02:16] #19893 closed, assigned to nobody

[2018-08-25 03:09] guest088 opened #44672 "ios_command: "unable to set terminal parameters" error when vty is configured with "privilege level 0""
##### SUMMARY
When attempting to run a playbook that uses the ios_command (and I suspect other core network modules) against a Cisco router that has "privilege level 0" configured on the vty, the playbook fails with an, "unable to set terminal parameters" error because the "terminal length 0" and "terminal width 512" commands are not permitted when in privilege 0. This is also the case when the "a

[2018-08-25 03:37] guest088 opened #44673 "persistent connection remains after premature/unexpected/interrupted playbook run"
##### SUMMARY
If a playbook run terminates prematurely/unexpectedly e.g. user interrupt with CTRL-C (there are other cases when the playbook will terminate unexpectedly), ansible will exit but the persistent connection will remain.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-connection
persistent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

#####

[2018-08-25 04:16] pillarsdotnet commented on #44667
Figured out that I was missing the [`with context`](http://jinja.pocoo.org/docs/2.10/templates/#import-context-behavior) modifier to the [`import`](http://jinja.pocoo.org/docs/2.10/templates/#import-visibility) statement.

[2018-08-25 04:16] #44667 closed, assigned to nobody

[2018-08-25 08:29] yuwzho commented on #44160
close_me

This bugfix already releaed in the v2.6.3 😄

[2018-08-25 08:29] yuwzho commented on #44160
resolved_by_pr #43699

[2018-08-25 08:32] #44160 closed, assigned to nobody

[2018-08-25 09:54] felixfontein commented on #24236
Wouldn't it make more sense to create a new module for this, something like `docker_prune`? Otherwise, the complexity of the existing modules will increase (both on code and documentation site).

It could look like this:
[code]

[2018-08-25 09:57] felixfontein commented on #44668
Distantly related: #43177

`published_ports` accepts hostnames (and not only IP addresses), but the `docker` API treats them as `0.0.0.0`. When we work on other `published_ports` things, we could also try to improve this.

[2018-08-25 10:05] felixfontein commented on #19103
@kassiansun I think this is about the `docker_container` module, and not about the `docker` module; there seems to be a PR associated to this issue: #19105

[2018-08-25 10:07] ogham opened #44677 "gitlab_group fails with error message of "message""
##### SUMMARY

I'm trying to add groups and projects to a hosted GitLab instance, but the only error I get back is "message". It's good when applications output error messages but this isn't really what I had in mind. Running verbosely reveals it's a Python error. I have no idea how to proceed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gitlab_group

##### ANSIBLE VERSION

[code]

####

[2018-08-25 10:23] felixfontein opened #44679 "docker_container should have integration tests"
##### SUMMARY
@pilou- refactored some docker integration tests in #42306, with one aim being to add integration tests also for `docker_container`. This work should be continued so there are actually some integration tests.

Just opening this issue so we won't forget about it, and to keep track in case someone wants to start working on it :)

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
d

[2018-08-25 10:54] ZuZuD commented on #43192
Hi @ReinerNippes

I was unable to reproduce this, could you rule out any version issue by creating a venv and executing your playbook from it? Consider the following commands:

``
$  mkdir /tmp/venv/; virtualenv --python=/usr/bin/python2.7 /tmp/venv
$ source /tmp/venv/bin/activate && pip install botocore==1.10.16 boto3
$ ansible-playbook <your_ec2_grou_playbook.yaml> -e "ansible_python_interpreter

[2018-08-25 11:07] DavorSaric commented on #42564
Btw. at some time ago, there was a similar issue with phpmyadmin and changing passwords on different mariadb/mysql version. Here is the patch that fixed the issue by properly changing related fileds in user table based on default authentication plugin in different mariadb versions. Maybe it can be of a help
[https://github.com/devenbansod/phpmyadmin/commit/d55abcd5ffa1ea8785f1217f5b7d78a8a54b8542.

[2018-08-25 11:56] fthommen opened #44680 "Conditional per-task preparatory actions ("if_change_pre_actions")"
##### SUMMARY
Run preparatory commands before a task if - and only if - a change will happen

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - task
 - playbook

##### FEATURE ESCRIPTION
Some configuration changes require preparator actions.  E.g. before changing the routing or the network configuration, all current NFS mounts should be disconnected to avoid hanging or stale mounts and han

[2018-08-25 12:41] giovannicandido commented on #37640
On ubuntu 18.04 the only solution that worked for me was:

1. Uninstall all pip docker and docker-py modules
2. Make sure ansible is using python3 `sudo pip3 install ansible`
3. Install the **distribution** docker module: apt install python3-docker

Yes, strange but the only combination was: pip3 installed ansible with distribution installed module.

[2018-08-25 13:37] kassiansun commented on #19103
Oh, my mistake, so how to re-open this?

[2018-08-25 13:40] felixfontein commented on #19103
Good question. I guess we need someone with super-powers.

[2018-08-25 13:45] kassiansun commented on #43679
Seems a good idea, but needs more works on it.

And should we supply a default dict for options like `cmd`, which I thinks should always use strict; and options like `volumes`, minimal touch on remote may be better?

[2018-08-25 13:47] felixfontein commented on #19103
!component =lib/ansible/modules/cloud/docker/docker_container.py