[2020-05-11 16:45] DidierTHEILLAC opened #69434 "aruba_command fails from awx but not from ansible-playbook and just for some aruba switch devices"
##### SUMMARY

The same playbook fails on some aruba switch models if launched from AWX but works perfectly if launched from the command line by ansible-playbook.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aruba_command from AWX

* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System:redhat
* Web Browser:Chrome

I did not know if I should

[2020-05-11 16:57] sivel commented on #69434
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Otherwise, if this is an AWX bug, please submit to https://github.com/ansible/awx

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   *

[2020-05-11 16:57] #69434 closed, assigned to nobody

[2020-05-11 17:20] ivandeex commented on #27299
Submitted as issue https://github.com/ansible-collections/community.general/issues/320 in the new  repository https://github.com/ansible-collections/community.general

[2020-05-11 17:21] sivel commented on #27299
Closing per above.

[2020-05-11 17:21] #27299 closed, assigned to nobody

[2020-05-11 17:57] bcoca commented on #16933
probably fixed via #58000, please confirm

[2020-05-11 18:12] jctanner commented on #65245
list and verify are complete for 2.10, but provides requires server side changes that haven't been agreed to or scheduled yet. We'll keep this open for 2.11+ consideration.

[2020-05-11 18:16] jctanner commented on #67939
We are not considering this a blocker for 2.10 base release.

[2020-05-11 18:22] jctanner commented on #68594
We are not considering this a blocker for 2.10 base release.

[2020-05-11 18:22] samccann commented on #67939
@jctanner similar question on this PR and what prompted the above comment of not being a blocker. This one as a P1 label, so wondering if that needs to be removed as well here so as not to mess up your tracking on ansible-base?

[2020-05-11 18:29] jctanner commented on #69010
@samccann is docs build failing currently and do we need to prioritize this change?

[2020-05-11 18:42] #51605 closed, assigned to nobody

[2020-05-11 19:31] geerlingguy commented on #69307
@jimi-c / @sivel - This is marked `waiting_on_contributor`, and I can confirm everything works fine on devel, but I was wondering if you could point to where it was fixed in devel (PR or issue?); just glancing around the closed issues and PRs and couldn't find anything related to keywords like "same name role collection" or "collection not running role identical", but I'm guessing I'm just missing

[2020-05-11 19:44] sivel commented on #69307
I don't know why this was marked as `waiting_on_contributor`, unless that contributor is me.  But there are still no plans to backport the fix to stable-2.9.

[2020-05-11 19:53] geerlingguy commented on #69307
Also regarding the workaround ("just split the roles in separate plays"); that is likely going to be very difficult for a number of playbooks, as it would require rearchitecting the play entirely, especially if you rely on sharing certain variables with different parts of the play and/or require installers (or whatever other roles that are duplicate) to run in a certain order, with tasks and poten

[2020-05-11 20:32] tezzigator opened #69438 "Cannot deploy OVA that has VM connected to a portgroup that is on a VDS"
##### SUMMARY
For a playbook, instead of connecting the VMs nic to my VMWare VDS-based DPG that is named CUST-302, my VM's nic gets connected to a different (non-VDS) VMWare network that is called SHARED

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
$ uname -a
Linux wat-utl-jmp 3.10.0-1127.

[2020-05-11 20:40] ikreb7 commented on #40304
I have also this error:

`FG600 | FAILED! => {
    "changed": false,
    "module_stderr": "OpenSSH_7.6p1 Ubuntu-4ubuntu0.3, OpenSSL 1.0.2n  7 Dec 2017\r\ndebug1: Reading configuration data /home/user/.ssh/config\r\ndebug1: /home/user/.ssh/config line 42: Applying options for X.X.X.X\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 19: Applying options f

[2020-05-11 20:47] jd3shaw commented on #16933
Thanks @bcoca I'll try and upgrade the Ansible version I'm running asap.

[2020-05-11 20:48] samccann commented on #69010
It's not failing today no. This is because collection owners are deleting this metadata wholesale so want be sure when the docs pipeline comes in without the metadata, docs still work.

[2020-05-11 21:39] geerlingguy commented on #69307
It looks like the fix was in here: https://github.com/ansible/ansible/pull/68213

[2020-05-11 21:51] bcoca commented on #69401
I cannot replicate this error, can you provide a simple reproducer?

needs_info

[2020-05-11 22:34] jctanner commented on #67939
@samccann nope not your fault. We had added it to our board and then decided otherwise after team discussion.

[2020-05-11 23:58] mmckinst commented on #26673
There's a PR at https://github.com/ansible/ansible/pull/69437 for this.

You can add options to the yum repo like below but if the same option comes from the copr repo, the option from the copr repo will take precedence. For example `includepkgs` would be written out like you expect because the repo file from COPR doesn't have that set anywhere. But `gpgcheck` would be set to true because the file

[2020-05-12 01:51] micchickenburger opened #69442 "Password through stdin not picked up by samba-tool"
##### SUMMARY
I'm not entirely sure if this is a bug in Ansible, but I'm having issues piping a password through stdin for a samba-tool command.

##### ISSUE TYPE
- Bug Report
- Doc Issue

##### COMPONENT NAME
command, shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
Running on a Raspberry Pi 4 Model B Rev 1.2

##### STEPS TO REPRODUCE

[code]

####

[2020-05-12 05:31] #60595 closed, assigned to nobody

[2020-05-12 06:00] mkrizek commented on #69438
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-05-12 06:00] #69438 closed, assigned to nobody

[2020-05-12 06:36] stanislaw55 opened #69443 "How to use playbooks in collection?"
##### SUMMARY

Documentation section about usage of playbooks bundled with collection is empty, for both latest and devel versions of documentation. Standard collection directory structure has `playbooks` folder in which there are `files`, `tasks`, `vars` and `templates` folders. However, I do not see where to put playbooks and how to use them.

##### ISSUE TYPE
- Documentation Report

##### COMPO

[2020-05-12 06:56] choeffer opened #69444 "BlockingIOError: [Errno 11] write could not complete without blocking - module podman_image"
##### SUMMARY

Building an OCI container image using a Dockerfile fails sometimes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

podman_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control node: Fedora 32 Workstation

Target hosts: Fedora 32 Cloud Base and Fedora 31 Cloud Base; both are affected

##### STEPS TO REPRODUCE

Define a Dockerfile an

[2020-05-12 07:05] psv1979 opened #69445 "discovered ... thon"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-05-12 07:05] #69445 closed, assigned to nobody

[2020-05-12 07:23] psv1979 opened #69446 "discovered_interpreter_facts being added and removed and issuing a Warning"
##### SUMMARY
When I have several 'stat' commands with 'delegate_to' in a playbook I always obtain this message before the second 'stat':
[code]
It started after updating the ansible 2.9.6 to 2.9.7 and wasn't before in the same playbook.

The Warning message appears when I use FQDN host name in 'delegate_to' and doesn't if I use 'Localhost' e.g.
This message never appears after the second, third s

[2020-05-12 07:33] mkrizek commented on #69444
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/containers/ansible-podman-collections.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-12 07:42] psv1979 commented on #69446
Another test, to show that the warning isn't after first stat, but before second!
This playbook:
- name: "Showing warning"
  hosts: localhost
  gather_facts: no
  tasks:
  - name: "Stat 1"
    stat:
      path: "/etc/crontab"
    delegate_to: "SomehostFQDNname"
  - name: "debug"
    debug:
      msg: "Test"
  - name: "Stat2"
    stat:
      path: "/etc/crontab"
    delegate_to: "SomehostFQDNname"

[2020-05-12 07:46] seki98 opened #69447 "Do not append -n 'rabbit' parameter by default to rabbitmq_user module invocation"
##### SUMMARY
As also reported and fixed in https://github.com/ansible/ansible-modules-extras/pull/1417/commits/3013f059616a7d018c9794be076217c9fa2bd206 the rabbitmq_user module adds -n parameter by default with a default value "rabbit":

The latest stable version line of code responsible for the "bug":
https://github.com/ansible/ansible/blame/ff7bbbcaf1e8f434432075bc9c55626a9dd3091d/lib/ansible/m

[2020-05-12 07:57] mkrizek commented on #69447
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.rabbitmq.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#

[2020-05-12 07:57] #69447 closed, assigned to nobody

[2020-05-12 08:35] Fred-sun commented on #68834
@mattclay Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:36] Fred-sun commented on #68744
@frik4unix Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:36] Fred-sun commented on #68538
@juju4 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:37] Fred-sun commented on #68366
@masterphenix Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:37] Fred-sun commented on #68291
@VKAlwaysWin Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:38] Fred-sun commented on #68252
@imlight Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:38] Fred-sun commented on #68167
@Eugen1987 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:38] choeffer commented on #69444
Done - https://github.com/containers/ansible-podman-collections/issues/44 . Thanks for pointing me to the right issue tracker.

[2020-05-12 08:38] Fred-sun commented on #68160
@Eugen1987 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:39] Fred-sun commented on #67839
@WesToleman Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:39] Fred-sun commented on #67555
@superz202 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:40] Fred-sun commented on #67529
@adhodgson1 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:40] Fred-sun commented on #67473
@joaocc Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:41] Fred-sun commented on #67358
@Sneedes Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:41] Fred-sun commented on #67092
@rbharadwaj16 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:41] Fred-sun commented on #66849
@imrejonk Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:42] Fred-sun commented on #66012
@mattclay Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:43] Fred-sun commented on #65914
@zaskan Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:43] Fred-sun commented on #65901
@renskewierda Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:44] Fred-sun commented on #65691
@singhujjwal Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:44] Fred-sun commented on #65563
@renskewierda Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:44] Fred-sun commented on #65501
@deano2point0 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:45] Fred-sun commented on #65481
@Ackak12 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:45] Fred-sun commented on #65005
@damiandiaz76 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:45] Fred-sun commented on #64667
@samhabaneh Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:46] Fred-sun commented on #53582
@mattclay Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:47] Fred-sun commented on #59134
@ferhaty Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:47] Fred-sun commented on #59269
@eehret Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:48] Fred-sun commented on #59496
@imlight Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:48] Fred-sun commented on #60066
@Rajinikamu84 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:49] Fred-sun commented on #60100
@joshonike Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:49] Fred-sun commented on #60284
@acozine Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:49] Fred-sun commented on #60597
@JunqiZhang0 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:50] Fred-sun commented on #60619
@vikramaditya234 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:50] imrejonk commented on #66849
Moved to https://github.com/ansible-collections/azure/issues/110. Thank you @Fred-sun for taking the time to investigate this issue.

[2020-05-12 08:50] #66849 closed, assigned to nobody

[2020-05-12 08:51] Fred-sun commented on #66358
@julien1091 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:51] Fred-sun commented on #66251
@dumblerod Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:51] Fred-sun commented on #66227
@unix-guy Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:52] Fred-sun commented on #61984
@neleshgoel Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:52] Fred-sun commented on #63428
@nrig837 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:53] Fred-sun commented on #63005
@msilmser Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:53] Fred-sun commented on #62861
@JonTheNiceGuy Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:54] Fred-sun commented on #62715
@dvntstph Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:55] Fred-sun commented on #62711
@Tomelin Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:55] Fred-sun commented on #62489
@nicolaibaralmueller Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:55] Fred-sun commented on #62395
@nicolaibaralmueller Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:57] Fred-sun commented on #62307
@goneri Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:57] Fred-sun commented on #62130
@nicolaibaralmueller Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:57] Fred-sun commented on #61852
@goneri Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:58] Fred-sun commented on #61541
@Rajinikamu84 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 08:58] Fred-sun commented on #61492
@rafiddewan Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:00] Fred-sun commented on #31867
@nofunatall Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:00] Fred-sun commented on #44806
@sujiar37 Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:01] Fred-sun commented on #49659
@BradFelmey Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:01] Fred-sun commented on #51062
@jvalderrama Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:08] Akasurde commented on #62711
@Fred-sun Could you please change `This repo is no longer maintained in this repository and has been migrated ...` to `This module is no longer maintained in this repository and has been migrated `? Since this change is specific to AZURE module and not for entire repo.

[2020-05-12 09:11] Fred-sun commented on #52082
@just-dimitarslavkov Thank you very much for your interest in Ansible. This repo is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure
Please re-submit this issue in the above repository and closed this. Thank you very much!

[2020-05-12 09:14] Fred-sun commented on #62711
@Akasurde I will change the comment! Thank you very much!

[2020-05-12 09:25] Fred-sun commented on #53299
@wawrzek Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!ch!

[2020-05-12 09:26] Fred-sun commented on #53582
@mattclay  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:26] Fred-sun commented on #54914
@acozine  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:26] Fred-sun commented on #55350
@melezhik  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:27] Fred-sun commented on #56356
@mtraynham  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:27] Fred-sun commented on #56634
@rwaal  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:27] Fred-sun commented on #56774
@piotr-gbyliczek  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:28] Fred-sun commented on #56776
@piotr-gbyliczek  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:28] Fred-sun commented on #57254
@saito-hideki  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:29] Fred-sun commented on #57782
@MyronFanQiu  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:29] Fred-sun commented on #57965
@vpopescu  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:30] Fred-sun commented on #57989
@sparampalli  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:30] Fred-sun commented on #58024
@ssbarnea  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:30] Fred-sun commented on #58043
@nicolaibaralmueller  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:31] Fred-sun commented on #58069
@rnsc  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:31] Fred-sun commented on #58129
@vpopescu  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:31] Fred-sun commented on #58285
@vpopescu  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:32] Fred-sun commented on #58601
@elaurijssens  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:32] Fred-sun commented on #58709
@AlanCoding  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:32] Fred-sun commented on #58818
@rwaal  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:33] Fred-sun commented on #58929
@Sispheor  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:34] Fred-sun commented on #59392
@rafiddewan  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:34] Fred-sun commented on #59770
@bpados  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:34] Fred-sun commented on #59880
@kamleshdudani  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:35] Fred-sun commented on #60528
@Thomas-sudo  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:35] Fred-sun commented on #61767
@jeking3  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:35] Fred-sun commented on #62140
@kitkatneko  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:36] Fred-sun commented on #62499
@wschoot  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:36] Fred-sun commented on #62639
@arvindshmicrosoft

[2020-05-12 09:37] Fred-sun commented on #62798
@jamesmarshall24  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:37] Fred-sun commented on #63226
@sylvainOL  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:37] Fred-sun commented on #63692
@russelljftw  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:38] Fred-sun commented on #63899
@ihegmanns  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:38] Fred-sun commented on #63927
@borncamp  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:38] Fred-sun commented on #64036
@rewilliams1  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated.  Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-12 09:53] Andersson007 commented on #58709
i moved it to https://github.com/ansible-collections/azure/issues/111

[2020-05-12 09:53] #58709 closed, assigned to nobody

[2020-05-12 10:00] rasperepodvipodvert commented on #42090
need!!!

[2020-05-12 10:20] NilashishC commented on #68405
@mikewiebe - As discussed, we would need someone to test this on a Nexus 7k.

[2020-05-12 10:42] rnsc commented on #58069
@Fred-sun thanks, created: https://github.com/ansible-collections/azure/issues/112

[2020-05-12 10:42] #58069 closed, assigned to nobody

[2020-05-12 10:46] markgoddard opened #69450 "fileglob plugin fails in 2.9.8 with non-existent subdirectory"
##### SUMMARY
We started seeing an issue in our OpenStack CI today, where a task using with_fileglob fails. The path passed contains a non-existent subdirectory. Reproduced the issue on my laptop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fileglob plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Seen on Ubuntu 16.04 and 18.04.

##### STEPS TO

[2020-05-12 10:49] markgoddard commented on #69450
I looked at recent changes to the plugin, and found https://github.com/ansible/ansible/commit/f8a5377cc6233e12c57770bd2efbc00ab7212429#diff-4feaf690e4329444ac345ba6b37d84c4. I have verified that reverting this change fixes this issue.

[2020-05-12 10:55] markgoddard commented on #69450
Proposed solution: https://github.com/ansible/ansible/commit/f8a5377cc6233e12c57770bd2efbc00ab7212429#r39113855

[2020-05-12 12:20] nkakouros commented on #55153
I am closing this issue. I opened a [new one on the `google.cloud` collection](https://github.com/ansible-collections/google.cloud/issues/225).

[2020-05-12 12:20] #55153 closed, assigned to nobody

[2020-05-12 13:12] #69450 closed, assigned to nobody

[2020-05-12 13:13] kkostenko commented on #68405
I can do it for you, folks.

[2020-05-12 13:24] bcoca commented on #69443
work in progress #67435

[2020-05-12 13:42] ghost opened #69453 "ldap_attr does not allow creation of group with empty member: attribute"
##### SUMMARY
I want to perform the equivalent of this in ansible:

[code]
I consider the equivalent as:
[code]
I tried setting `member: ""` or leaving it empty `member: ` resulting in `  - details: {'info': u'member: value #0 invalid per syntax', 'desc': u'Invalid syntax'}`

Omitting the value is also not possible as it is mandatory for `groupOfNames` resulting in `'groupOfNames' requires attribu

[2020-05-12 13:43] mtraynham commented on #56356
Will do, thanks @Fred-sun.

[2020-05-12 13:43] #56356 closed, assigned to zikalino

[2020-05-12 13:44] mkrizek commented on #69453
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-12 13:44] #69453 closed, assigned to nobody

[2020-05-12 14:26] stanislaw55 commented on #69443
Hi @bcoca
thank you for for information. I di not know that this is WIP currently

[2020-05-12 14:49] BernhardCW commented on #69453
thx for the info

https://github.com/ansible-collections/community.general/issues/325

[2020-05-12 15:13] bcoca commented on #69383
So if this is a race condition for files that are being updated during the fetch operation, I do not think we should copy it by default (file might still require more data to be written). But an option to force the fetch anyways might be a solution to your issue. (--ignore-checksum-changes? .. bikeshed away).

[2020-05-12 15:17] bcoca commented on #69390
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The ansible-pull client is not meant to run in parallel on the same host against the same checkout, you should either add a lock (setlo

[2020-05-12 15:35] bcoca commented on #69442
@micchickenburger try using `shell` instead, keeping this as a docs issue since `command ` does not support pipes, so stdin into pipe makes no sense.

[2020-05-12 15:37] bcoca commented on #69443
closing as per above

[2020-05-12 15:37] #69443 closed, assigned to nobody

[2020-05-12 15:39] bcoca commented on #69446
This is not an issue that seems strictly related to the stat action, I renamed the subject to clarify.

Also the reason you only get one warning is that we 'dedupe' to avoid warning spam.

[2020-05-12 15:48] feisa commented on #67631
im testing this now

[2020-05-12 16:16] mwhahaha opened #69457 "Using the free strategy with a mix of tasks and roles with handlers can lead to failure"
##### SUMMARY

If you use the free strategy with a complex playbook that has a mix of regular tasks, roles and handlers, some nodes may fail because the strategy attempts to load ansible roles as files when handlers are run.

I tracked it down to the _do_handler_run in the lib/ansible/plugins/strategy/__init__.py because included_files are not check to see if they are a role before being included.

[2020-05-12 16:52] dominikkukacka opened #69461 "Limit parameter ignored for group when all groups have the same host"
##### SUMMARY
When running a playbook with multiple groups where all the hosts are the same the `--limit` parameter for a group is ignored and all groups are run

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
--limit inventory groups

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

macOS Catalina 10.15.4

##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS
Only th

[2020-05-12 16:58] dominikkukacka commented on #69461
!component

[2020-05-12 17:01] sivel commented on #69461
Limit ultimately limits to a host, we just give you the ability to use groups to build the limit.

Using limit doesn't remove the group from inventory, and since the same host resides in both groups, all matching plays still execute.

You should look into use `tags` if you wish to restrict which plays execute.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansib

[2020-05-12 17:01] #69461 closed, assigned to nobody

[2020-05-12 17:13] mamunozgonzalez commented on #67759
It would be great to have it!

[2020-05-12 17:25] micchickenburger commented on #69442
Hi @bcoca, the behavior is the same with both `command` and `shell`.

[2020-05-12 17:34] mivanov-itsonix commented on #69390
Hi,

Thank you for your response.

As I have mentioned above, I did not see this documented in any way [1], hence my bug report. I had to read through the source code [2] in order to find out what was going on in my particular use case. I later created the simple example above to make a point.

I want to point out, that the above example can also be transformed into:

[code]

I want to also point

[2020-05-12 19:46] nbk12ul commented on #69237
I'm having this same issue running version:

ansible 2.9.6
python version = 2.7.5 (default, Jun 11 2019, 14:33:56) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

[2020-05-12 20:05] markgoddard opened #69465 "jsonfile cache plugin prefix option does not work"
##### SUMMARY

Ansible documents a fact_caching_prefix option for the jsonfile cache plugin. It does not appear to do anything. Also, the fact_caching_connection option is documented as `_uri` rather than `_connection`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jsonfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu

##### STEPS TO REPRODUCE

[2020-05-12 20:54] mattclay opened #69468 "AIX tests temporarily disabled"
##### SUMMARY

AIX tests have been temporarily disabled in https://github.com/ansible/ansible/commit/cc4c38ef7c053a03e08db272bed98ab9e2c0be99 due to provisioning failures.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

shippable.yml

##### ANSIBLE VERSION

devel

##### CONFIGURATION

Shippable

##### OS / ENVIRONMENT

Shippable

##### STEPS TO REPRODUCE

Run AIX tests.

##### EXPECTED RESULT

[2020-05-12 20:56] mattclay commented on #69468
I've opened an IBM Cloud support case to have the current failure resolved.

[2020-05-12 21:55] kevholmes commented on #37412
Yep... no gcp_lb module at all.

[2020-05-12 22:05] #69468 closed, assigned to mattclay

[2020-05-12 22:27] calman-isu opened #69470 "nxos_static_route fails on "msg: Address may contain non-integer values" when using IPv6"
##### SUMMARY

nxos_static_route fails when adding an IPv6 static route.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.8 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ipv6 route fd0b:130:108:1ff::/64 fd0b:130:108:2::2

##### ACT

[2020-05-12 22:39] angegar opened #69471 "S3 create bucket return 403 with admin permissions"
##### SUMMARY
I am trying to create a S3 bucket with ansible aws_s3 module which uses boto3. During the creation i receive the error below whereas i am administrator of the AWS Stack. My AWS credentials are configured with environment variables, i also try to directly set it in the module but both method failed.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VER

[2020-05-13 00:53] GuloGuloDesu opened #69472 "Missing environment variables Ubuntu"
##### SUMMARY
Not all environment variables are being seen by Ansible. I am missing all of my custom environment variables that I set in /etc/profile.d
I have environment variables set inside a file:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible -a
shell
lookup
ansible_env

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Server 20.04

[2020-05-13 02:31] sathiarajah opened #69474 "os_volume is failing with 'block-storage' is disabled"
##### SUMMARY
We are not able to create volumes after upgrading to openstacksdk 0.45.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.8 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successful creation of the volume, as shown in the out

[2020-05-13 03:56] abadger opened #69475 "ansible-doc --list fails when it fails to parse one plugin out of many"
##### SUMMARY
If a plugin (for instance, from a collection) is installed which has slightly malformed DOCUMENTATION, it could cause ansible-doc --list to traceback. By breaking the list output partway through, it breaks usage of ansible-doc --list --json as a viable way for tools to extract information about the installed plugins.

ansible-doc should probably load the DOCUMENTATION, validate it wi

[2020-05-13 05:20] mkrizek commented on #69470
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-13 05:20] #69470 closed, assigned to nobody

[2020-05-13 05:22] mkrizek commented on #69471
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-13 05:22] #69471 closed, assigned to nobody

[2020-05-13 06:05] pampatzoglou commented on #67090
Greetings. I'm faced with the same problem on a ci cronjob that worked properly until May 5th. Then it started having this issue without any code change. It seems that Google pushed an update that broke this module.

[2020-05-13 06:55] ReyRen commented on #69247
@bcoca thanks yours respond.
I'm not sure following outputs are enough for debugging?
[code]
If there are any logs need I post, please let me know.
Thanks.

[2020-05-13 07:58] psv1979 commented on #69446
Understand. Waiting for a resolution.
The problem isn't serious, everything works fine, but annoying.

[2020-05-13 09:18] Olegt0rr commented on #29363
still actual over 3 year :(

[2020-05-13 09:58] JoelKle commented on #66916
Same problem on my side. The `to_yaml` and `to_nice_yaml` throw a `value must be a string` when used inside a template file.

If I use the build in Jinja2 filter `tojson` inside the template, it's working fine for JSON.
Example:
group_vars/group.yml:
[code]

data_file.yaml.j2:
[code]
https://jinja.palletsprojects.com/en/2.11.x/templates/#tojson

[2020-05-13 10:10] justjais commented on #68147
just n FYI fix for the same is merged via PR: https://github.com/ansible-collections/cisco.ios/pull/38 in IOS collection. I'll create a backport to `2.9`.
Hence closing the issue.

[2020-05-13 10:10] #68147 closed, assigned to justjais

[2020-05-13 10:13] justjais commented on #67896
@p-v-a Thanks for raising the issue, and it seemed vlans module had some parsing logic issue when VTP version was set to 2, so the PR to fix the issue is merged in IOS collection via: https://github.com/ansible-collections/cisco.ios/pull/38 and I'll create a backport for this in `stable-2.9`.
Hence closing the issue.

[2020-05-13 10:13] #67896 closed, assigned to justjais

[2020-05-13 10:48] eurijon opened #69479 "enablerepo param not honored in yum module with disablerepo="*""
##### SUMMARY
Hi,

I'm facing the same issue described in [1] and fixed in [2], but with ansible 2.8.12
I was not able to find an issue or a fix about it in 2.8

Do you think it can be backported to 2.8?

Thank you

[1] https://github.com/ansible/ansible/issues/66549
[2] https://github.com/ansible/ansible/pull/66557/

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[

[2020-05-13 11:12] justjais commented on #68430
@maxrainer Thanks for logging the issue and as you're aware we'll be moving to the collection approach starting `2.10`, I have moved the issue to IOS collection, ref: https://github.com/ansible-collections/cisco.ios/issues/43.
Hence, closing this issue

[2020-05-13 11:12] #68430 closed, assigned to justjais

[2020-05-13 11:14] justjais commented on #68061
@p-v-a Thanks for logging the issue and as you're aware we'll be moving to the collection approach starting 2.10, I have moved the respective issue to IOS collection, ref: ansible-collections/cisco.ios#44. Plz, check the issue for further tracking and updates.
Closing this issue

[2020-05-13 11:14] #68061 closed, assigned to justjais

[2020-05-13 11:38] gundalow commented on #66874
This has been fixed in https://github.com/ansible-collections/community.general/pull/318
The next release of `community.general` will include this fix./

[2020-05-13 11:38] #66874 closed, assigned to nobody

[2020-05-13 11:38] theblazehen commented on #26190
If you just need decryption instead of rekeying, I've written https://github.com/theblazehen/ansible_vault_decrypt_strings

[2020-05-13 13:12] Shrews commented on #69474
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!fo

[2020-05-13 13:12] #69474 closed, assigned to nobody

[2020-05-13 13:12] oliverlj opened #69481 "docker_network module: can't create a network with a dash in the name"
##### SUMMARY

create a network with docker network with a name including a dash will fail

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [Create a network] *************************************************************************

[2020-05-13 13:16] megabreit opened #69482 "Ansible 2.9.9 for Ubuntu 20.04 not available in Ubuntu ppa"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ppa

##### ANSIBLE VERSION
2.9.9

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04 LTS

##### STEPS TO REPRODUCE

Add ppa http://ppa.launchpad.net/ansible/ansible/ubuntu/ with focal release and try to install ansible

##### EXPECTED RESULTS

Ansible for focal can be installed

##### ACTUAL RESULTS
Ansible is not available

[2020-05-13 13:20] Shrews commented on #69481
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-05-13 13:20] #69481 closed, assigned to nobody

[2020-05-13 13:21] mkrizek commented on #69479
This has been fixed in Ansible `2.9.4`.

The fix won't be backported to the `2.8` release as it is in critical and security fixes only phase, see https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com

[2020-05-13 13:21] #69479 closed, assigned to nobody

[2020-05-13 13:53] sivel commented on #69482
Duplicate of https://github.com/ansible/ansible/issues/69414

[2020-05-13 13:53] #69482 closed, assigned to nobody

[2020-05-13 13:55] sivel commented on #69472
The problem you are likely experiencing, is that not all profile files will load during the course of a non-interactive session.  Each OS is different, so you will have to research where you need to place these profile files, so that they are read during the course of a non-interactive session.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freeno

[2020-05-13 13:55] #69472 closed, assigned to nobody

[2020-05-13 13:58] danielmellado commented on #69264
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-05-13 13:59] danielmellado commented on #69180
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-05-13 13:59] danielmellado commented on #69065
The fix for this issue is merged and available on Ansible 2.9.9

[2020-05-13 13:59] #69065 closed, assigned to Qalthos, danielmellado, rohitthakur2590

[2020-05-13 14:01] danielmellado commented on #68738
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-05-13 14:03] danielmellado commented on #68738
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:
   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.co

[2020-05-13 14:05] danielmellado commented on #68634
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:
   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.co

[2020-05-13 14:06] danielmellado commented on #68543
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:
   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.co

[2020-05-13 14:06] #68543 closed, assigned to nobody

[2020-05-13 14:06] #68634 closed, assigned to nobody

[2020-05-13 14:06] #68738 closed, assigned to nobody

[2020-05-13 14:06] #69180 closed, assigned to nobody

[2020-05-13 14:06] #69264 closed, assigned to nobody

[2020-05-13 14:07] danielmellado commented on #68514
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:
   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.com/forum/

[2020-05-13 14:07] #68514 closed, assigned to justjais

[2020-05-13 14:08] danielmellado commented on #68510
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:
   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.com/forum/

[2020-05-13 14:10] danielmellado commented on #68497
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/fortinet.fortios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com/

[2020-05-13 14:10] #68497 closed, assigned to nobody

[2020-05-13 14:11] danielmellado commented on #68454
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com/forum/#

[2020-05-13 14:11] #68454 closed, assigned to nobody

[2020-05-13 14:12] danielmellado commented on #68350
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com

[2020-05-13 14:12] #68350 closed, assigned to nobody

[2020-05-13 14:12] ganeshrn commented on #68510
You can use debug module to print the value of `ansible_network_os` just before the task is executed in the playbook. This will help identify which value of network_os is read. From there on you can debug in you env to identify the issue.
Also as mentioned earlier the module is moved to https://github.com/ansible-collections/netcommon closing this issue. If you are still facing the issue. Please r

[2020-05-13 14:12] #68510 closed, assigned to rohitthakur2590

[2020-05-13 14:13] danielmellado commented on #68344
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com/

[2020-05-13 14:13] #68344 closed, assigned to nobody

[2020-05-13 14:13] danielmellado commented on #68253
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com/

[2020-05-13 14:13] #68253 closed, assigned to nobody

[2020-05-13 14:14] danielmellado commented on #68249
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository
If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible-network on irc.freenode.net
    mailing list: https://groups.google.com/

[2020-05-13 14:14] #68249 closed, assigned to nobody

[2020-05-13 14:15] danielmellado commented on #68140
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/an

[2020-05-13 14:15] #68140 closed, assigned to rohitthakur2590

[2020-05-13 14:16] #61889 closed, assigned to mkrizek

[2020-05-13 14:16] danielmellado commented on #68057
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos
Please re-submit this issue in the above repository
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/foru

[2020-05-13 14:20] justjais commented on #68717
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.g

[2020-05-13 14:20] #68717 closed, assigned to nobody

[2020-05-13 14:22] Dutchy- opened #69485 "cloudflare_dns SRV record always reports as changed"
##### SUMMARY
I create SRV records using cloudflare_dns.
On the first run, the module reports that the record changed (created)
On the second run, it still reports as changed, even though the module invocation did not change.

There are no visible changes in the cloudflare dashboard between invocations.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION

[co

[2020-05-13 14:33] bcoca commented on #69390
noted, reopening as a docs issue, it should be clear that pull (actually most of ansible CLI tools) are not meant to be run in parallel against the same targets.

[2020-05-13 14:35] stamfest commented on #68634
If the ansible community really is not interested in a bug report and wants me to fill out all details again - so it may be. I do not have the time for such nonsense.

[2020-05-13 14:36] anshulbehl commented on #68819
@mattclay Should this be backported to 2.9?
We will be accepting certification requests for 2.9 till 2.10 GA is out and till that point the issue will exist if this is not backported.

[2020-05-13 14:43] bcoca commented on #69475
fixing TB via #69454, but keeping it as an error as we rely on this both for our own testing as well as documented way to test plugins in our developer docs.

[2020-05-13 14:52] bcoca commented on #69247
this seems to indicate an issue with the target machine ` msg: 'failed to create temporary content file: (''The read operation timed out'',)'` . It does not look like a bug or error on Asnible's part

[2020-05-13 14:59] mathewatspm opened #69489 "Ansible git module stuck when cloning via HTTPS if authentication is required"
##### SUMMARY

Ansible git task would stuck if a HTTPS git repo requires username/password authentication, but such credential was not included in the task.

##### ISSUE TYPE
- Bug Report (or possibly an enhancement request)

##### COMPONENT NAME
Ansible git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* CentOS 8

##### STEPS TO REPRODUCE

* Assuming

[2020-05-13 15:07] eurijon commented on #69479
Ok, thank you!

[2020-05-13 15:09] bcoca commented on #68057
@fcam-naveen  as the bot has already mentioned, you need to edit your first post and ensure it uses our template so we can properly classify and route this issue.

@danielmellado the `raw` action is still in ansible-base

needs_template

[2020-05-13 15:10] megabreit commented on #69414
@sivel
1. There were 2 new releases since Ubunt 20.04 was released. No reason.
2. Ubuntu 20.04 delivers a quite old version of Ansible 2.9.6. No replacement.
3. This might be the only real reason for not creating a release for 20.04. The efforts to create a python 3 based Ansible are already running for quite some time. Please be so kind to specify an estimated release date!

[2020-05-13 15:14] fxmick opened #69490 "awx collection tower_group: append to existing host list"
##### SUMMARY

When using hosts parameter to add hosts to a group, all existing hosts are deleted.

##### ISSUE TYPE

Enhancement

##### COMPONENT NAME

tower_group

##### ADDITIONAL INFORMATION

Add an overwrite parameter to prevent deletion of existing hosts.

[2020-05-13 15:15] sivel commented on #69414
I believe you have misunderstood.  Not just any release, but new major releases.  As such 2.10 would be the first version built for a new OS.

Also, 2.9.6 isn't "quite old".  It is 2 patch releases behind as of yesterday, and is in fact the current stable major release.  If you are concerned with that, you should talk to the Ubuntu/Debian maintainers to update.

Additionally, please read the above

[2020-05-13 15:16] sivel commented on #69490
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible/awx

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-13 15:16] #69490 closed, assigned to nobody

[2020-05-13 15:17] mwhahaha commented on #69457
Reproducer available with https://github.com/mwhahaha/ansible-69457, just use a decent set of nodes 10+

[2020-05-13 15:31] Cartman34 opened #69492 "UnicodeDecodeError using cron module with Python3"
##### SUMMARY
I just updated my ansible host & I just fixed some trouble about Python3 on remote host.
I only use cron module once & it was previously working fine.
Now it is failing, returning an exception __main__.CronTabError: ('Unexpected error:', <class 'UnicodeDecodeError'>)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION

[code]
I just updated the system but

[2020-05-13 15:35] karcadia commented on #49232
Just stumbled upon this today running Ansible 2.9, this will prevent us from being able to utilize firewalld module so would very much like this feature, thanks!

[2020-05-13 15:53] samccann opened #69493 "[Docs] Add example of capturing show tech output for networks"
##### SUMMARY

A common network task is to gather the 'show tech' output from a network device. Add an example of how to do this in the network user guide.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-05-13 15:54] samccann commented on #69493
Use this to source the info from - https://github.com/network-automation/ansible-gather-show-tech

[2020-05-13 15:56] samccann commented on #69493
the ansible-gather-show-tech does work with few modifications

[code]
capture_showtech.yml   added longer command timeout (edited)

[code]

roles/showtech/tasks/tftp/main.yml   comment out version control

[2020-05-13 16:01] m1009d opened #69494 "Wrong python2 interpreter instead of python3"
##### SUMMARY

Ansible is using wrong python2 interpreter instead of python3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

1. install ansible with python3 support
`sudo -H python3 -m pip install ansible `
2. check the ansible is using the right python3 ver

[2020-05-13 16:02] #69401 closed, assigned to nobody

[2020-05-13 16:08] yajo opened #69495 "Cannot use buildah connection to build image as a rootless user"
##### SUMMARY

I'm more or less following this guide to use ansible+buildah to build an image: https://blog.tomecek.net/post/building-containers-with-buildah-and-ansible/

I'm trying to build it as an unprivileged user.

It doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

buildah

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: Fedora 32

[2020-05-13 16:21] sivel commented on #69494
The python version that Ansible is installed with, has no impact on the python that is used to execute modules on the target host.

There are several ways to get the functionality you want, the mailing list will be able to help you further.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-05-13 16:21] #69494 closed, assigned to nobody

[2020-05-13 16:26] mikewiebe commented on #68405
@kkostenko We are working on a fix and once we have it it would be great if you can test it

[2020-05-13 16:26] GuloGuloDesu commented on #69472
Thank you for your prompt response, and you are absolutely correct on the non-interactive session. The non-interactive sessions variables were exactly what I was missing.

For anyone who runs into a similar problem the fix on Ubuntu is to add your environment variables to /etc/environment
You still still need to add the environment variables to /etc/profile.d/ as well so that you can use variable

[2020-05-13 16:30] OrZehavi opened #69497 "Ansible yum ignores disablerepo=* and installs from Centos-Base repository"
##### SUMMARY
Ansible yum module ignores disablerepo parameter when running disablerepo=* enablerepo=myreponame.
Im installing a package, and one of it's dependencies is updated from a remote repository, even though I disabled it when running the playbook.
I do not have this updated package in my local repository, so it can't be it updated locally.
In order to be sure the problem is with yum on an

[2020-05-13 17:03] sivel commented on #69495
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/containers/ansible-podman-collections

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-05-13 17:03] #69495 closed, assigned to nobody

[2020-05-13 18:18] Shrews commented on #69485
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-05-13 18:18] #69485 closed, assigned to nobody

[2020-05-13 18:55] fosterseth opened #69503 "Improper traceback when specifying collections namespace"
##### SUMMARY

I get the same traceback as here
https://github.com/ansible/ansible/issues/69054

[code]
if my playbook has

[code]
instead of the correct way (with a dash)

[code]

I get the above traceback

The error is expected of course, but this comment mentions that it should not error at this location

https://github.com/ansible/ansible/issues/69054#issuecomment-616891498 @sivel

##### ISSUE

[2020-05-13 19:03] sivel commented on #69503
cc @Shrews, oy, looks like another code path.  We might need to shift some more code around.

[2020-05-13 19:03] #69357 closed, assigned to nobody

[2020-05-13 19:03] Shrews commented on #69503
Hi @fosterseth,

I'm unable to reproduce this. The fix was merged to the devel branch a couple of weeks ago (commit sha ff47d3). Are you certain your repo has this commit? If so, can you provide a simple playbook to reproduce this?

needs_info

[2020-05-13 19:11] AshishVarshneyy opened #69505 "New feature for log sniffing tools"
**SUMMARY**

This feature provides execution time in milliseconds of whole playbook and individual task in a log file in specific formate, that helps log sniffing and monitoring tool to set monitoring and alert related to time.

**ISSUE TYPE**
- Feature Idea

**COMPONENT NAME**
ansible/plugins/callback/logger_runtime.py

**ADDITIONAL INFORMATION**

This feature helps log sniffing tools to set moni

[2020-05-13 19:13] sivel commented on #69505
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-05-13 19:13] #69505 closed, assigned to nobody

[2020-05-13 19:44] AshishVarshneyy commented on #69505
Thank you for your reponse. I will submit new feature in  https://github.com/ansible-collections/community.general

[2020-05-13 19:56] samdoran commented on #67490
@geerlingguy The fix for this issue does suppress the warning for `ansible-galaxy collection install` as well.

[2020-05-13 20:41] fosterseth commented on #69503
@Shrews @sivel

thanks for the information -- seems our build did not have this commit. I checked out a local copy of devel and seems everything is fine. I'll close the issue

[2020-05-13 20:41] #69503 closed, assigned to Shrews

[2020-05-13 20:58] #66919 closed, assigned to nobody

[2020-05-13 21:01] zem commented on #68763
+1

The bug happens here too. Steps are taking up to 20 Minutes with 2.9.7 when they access a software version/location lookup structure that maps a current variable multiple times.

For now we have installed an older version (2.9.3) as workaround.

[2020-05-13 21:08] WarpRat commented on #16437
I have a playbook in which almost all of the tasks loop, preventing me from using block/rescue syntax. Is there an effective workaround to call the ansible slack module to notify me on failure, or any chance block will support loops in the future?

[2020-05-13 21:08] sivel commented on #68763
As an update to this issue, we will not revert the fix, as the original bug has been reclassified as a CVE and documented at https://access.redhat.com/security/cve/CVE-2020-10729

The 2.9.x series will not see any resolution of this performance degradation, as it will require a new feature to implement. It is also unlikely that such a feature will make it into the 2.10 release.

In the meantime, a

[2020-05-13 21:15] sivel commented on #69489
It might be possible to utilize `GIT_TERMINAL_PROMPT` to prevent prompting, although I am unsure if `GIT_TERMINAL_PROMPT=0` will force it to fail instead of prompting.

[code]

I've also seen people indicate using something like `GIT_ASKPASS=/bin/echo`

[2020-05-13 21:56] sbonds opened #69506 "Ansible "copy" module excessive memory usage"
This is similar to the closed issue #16837

The latest release branch in GitHub is affected. "devel" would not work in my test environment so I could not check that branch.

##### SUMMARY

When using the "copy" module to save data on localhost from a large number of hosts, the memory usage becomes excessive irrespective of the number of forks in use.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2020-05-13 22:24] IcebergTitanic commented on #49044
Still present in snmp_facts.py version 1.9.
Ansible 2.8.4 (via EPEL on Centos7)
pysnmp 4.4.12
Python 2.7.5

Workaround inserted at line 457 was able to work.:

[code]

[2020-05-13 22:29] nmr commented on #68775
I've described everything in the previous messages. I'd like to change maximum number of days between changing the password or disable it (negative value of the paremeter). Do you have any more questions?

[2020-05-14 02:48] ReyRen commented on #69247
But I totally use root on all machines. And I'm not sure what the temporary content  file is when use get_url? Does it defined in `local_tmp = $HOME/.ansible/tmp
remote_tmp = $HOME/.ansible/tmp`?

[2020-05-14 04:56] WesToleman commented on #67839
Migrated to [Ansible Collections issue #116](/ansible-collections/azure/issues/116).

[2020-05-14 04:56] #67839 closed, assigned to nobody

[2020-05-14 06:16] justjais commented on #69350
Any update on the fix for the issue as currently, I am managing the failures by manually updating the code applying the workaround patch fix changes.

[2020-05-14 07:53] guerzon commented on #23401
@discopatrick @AlPhi247, were you running the playbook using vagrant provisioner or using `Tower` / `AWX` / `ansible-playbook`? I was able to reproduce this issue on Ansible 2.9.4, using vagrant provisioner.

`fatal: [machineB -> 127.0.0.1]: FAILED! => {"changed": false, "cmd": "/bin/rsync --delay-updates -F --compress --archive --rsh=/bin/ssh -S none -i /Users/leg/PROJECTS/myapp/.vagrant/machines

[2020-05-14 07:54] pushkarkumar15 commented on #68775
no thanks.

[2020-05-14 08:31] pushkarkumar15 commented on #68775
how can I raise a pr
and do I need to do the documentation also?

[2020-05-14 08:47] dorko20 commented on #69494
Thank you @sivel for your update,
but I don't think you answered my question or maybe you can explain a little bit more please.
I agree with you that the python version that Ansible is installed with, has no impact on the python that is used to execute modules on the target host. But this issue is about a different problem.
In my **localhost** (not the remote host) the Ansible is trying to run pyt

[2020-05-14 09:29] lisongmin commented on #11396
# Proposal of capability to combine tags

## Design

This proposal adding a mechanism of combine tags via ` --tags "server, agent|restart" `,
where `|` means filter or pipeline. Only tasks both contain one of `(server, agent)` and `restart` will be run.

The advantage of this mechanism is fully compatible with current implement，and is easy to implement.

## Implement

* command line parse

    tag

[2020-05-14 09:35] asarubbo opened #69510 "yum module fails on large set of machines"
##### SUMMARY

MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": -13

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum / lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo-x86_64 kernel-4.19.102

##### STEPS TO REPRODUCE
This issue looks to be very strange. The failures happens occasionally and not for all machines of the grou

[2020-05-14 10:32] MrCitron commented on #63822
By the way, I had the same issue with 2.9.9.
And the badest thing is that my error message was
[code]
Without any variable named "item" anywhere in the tasks file or in the handler file.
In fact, the "item" was defined elsewhere in another handler file used by a role to be played after.

E.g. :

playbook.yml
[code]

role1/handlers/main.yml
[code]

role1/tasks/main.yml
[code]

role2/handlers/main.y

[2020-05-14 11:05] Akasurde commented on #69510
@asarubbo Could you please provide playbook to reproduce and console.log `-vvvv` for this run? Without this information it is very difficult to reproduce this issue.

needs_info

[2020-05-14 11:07] Akasurde commented on #69510
!component =lib/ansible/modules/yum.py

[2020-05-14 11:15] asarubbo commented on #69510
Hello @Akasurde
thanks for the response.

What I pointed out that this is not about the playbook itself, please read below:
[code]
These task are absolutely fine and this is the reason because they pass. I will try to produce a console.log

[2020-05-14 12:49] termlen0 opened #69511 "Network resource modules behaves inconsistently between IOS/EOS"
##### SUMMARY

Playbook tasks that use the IOS Resource modules do not print out the proposed changes when executed in check mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

An example would be `ios_l3_interfaces`. But it is not just this one module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux ansible 3.10.0-1062.el7.x86_64 #1 SMP Thu Jul 1

[2020-05-14 13:09] Shrews commented on #69511
Thank you very much for your interest in Ansible. These plugins are no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ios and https://github.com/ansible-collections/eos.

Please re-submit this issue in the above repositories.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list:

[2020-05-14 13:09] #69511 closed, assigned to nobody

[2020-05-14 13:18] asarubbo commented on #69510
Here is the output, I just replaced my hostname with $HOSTNAME
[code]

[2020-05-14 13:20] crab86 opened #69512 "junos_command module does not seem to support huge_tree"
##### SUMMARY
When running junos_command module with a command that has a huge output (e.g. request support information) an error is shown. The error message basically points to huge_tree either not supported or not used:
```xmlSAX2Characters:` huge text node, line 218817, column 28 (<string>, line 218817)'" Full error message below.```

The corresponding fix in ncclient was commited May 20, 2019

[2020-05-14 13:47] Shrews commented on #69512
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-05-14 13:47] #69512 closed, assigned to nobody

[2020-05-14 13:47] crab86 commented on #69512
Short update: When using network_cli as ansible_connection it works. Since this is the way to go for the future i think we can close it.

[2020-05-14 14:05] sivel commented on #69506
This is somewhat expected, understanding the mechanics behind what the copy module has to do to place `content` into a file. A few things to note:

1. When using `copy` with `content`, ansible will end up making multiple copies of that data.  The process is, intake the data from `content`, JSON encode that data, create an in memory tar.gz that contains that JSON, write that tar.gz to disk, copy th

[2020-05-14 14:05] #69506 closed, assigned to nobody

[2020-05-14 14:09] sivel commented on #69510
A negative `rc` indicates that the process was killed with that signal. In this case signal 13 is `SIGPIPE` and indicates:

Looking at the output, that indicates that the SSH connection was closed while trying to write data to it.

Something in your environment or configuration, is causing the SSH connection to terminate or close it's `stdin`.

[2020-05-14 14:15] mkrizek commented on #68775
bot_status

[2020-05-14 14:31] asarubbo commented on #69510
I don't have a custom .ssh/config so everything is related to what I have into .ansible.cfg (posted in the first comment) or you are talking about a server config?

In both cases, if we understand where the failure comes from, at least ansible can warn about the not correct config.

[2020-05-14 14:32] sivel commented on #69510
It could be anything from any random server config, to some networking config. Ansible would have no way to tell, it just knows that it could no longer communicate with the ssh process.

[2020-05-14 14:45] geerlingguy commented on #56930
FYI: https://github.com/ansible/ansible/pull/66650

[2020-05-14 15:19] bcoca commented on #69084
closing via  #69087

[2020-05-14 15:19] #69084 closed, assigned to nobody

[2020-05-14 15:28] bcoca commented on #43797
closed via #69087

[2020-05-14 15:29] bcoca commented on #22435
closed via #69087

[2020-05-14 15:29] #22435 closed, assigned to nobody

[2020-05-14 15:33] samdoran commented on #57062
@eli-schwartz The issue here is that in the absensce of an `os-release` file, the `distro` algorithm falls back to `*-relase` and since `ami-release` sorts lexically above `centos-release`, we get the incorrect information.

[2020-05-14 15:34] bcoca commented on #38808
closing via #69087

[2020-05-14 15:34] #38808 closed, assigned to nobody

[2020-05-14 15:34] bcoca commented on #37536
closing as we can always run decrypted string through `|from_yaml` and `|from_json`

[2020-05-14 15:34] #37536 closed, assigned to nobody

[2020-05-14 15:36] bcoca commented on #26091
closing as the functionality is already provided via a vault script

[2020-05-14 15:36] #26091 closed, assigned to nobody

[2020-05-14 15:36] dongsupark opened #69516 "Flatcar Container Linux not properly discovered"
### SUMMARY

[Flatcar Container Linux](https://www.flatcar-linux.org) is not properly discovered by Ansible, especially while setting hostname.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Guest OS: Flatcar Container Linux Alpha 2492.0.0
Host: Fedora 32

##### STEPS TO REPRODUCE
1. Clone [image builder](https://github.com/kuber

[2020-05-14 15:41] bcoca commented on #16862
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because, you can already do this by importing the documentation variables yourself and aggregating onto them, this is not extensive enough that we would consider a parallel docs_fragments framework.

However, we're absolute

[2020-05-14 15:41] #16862 closed, assigned to nobody

[2020-05-14 16:28] #67490 closed, assigned to sivel, samdoran, s-hertel

[2020-05-14 18:26] #61852 closed, assigned to nobody

[2020-05-14 18:26] #62307 closed, assigned to nobody

[2020-05-14 18:49] wenottingham opened #69519 "AnsibleFileNotFound suggests module options that are not valid"
##### SUMMARY
AnsibleFileNotFound error is invoked and suggests the `remote_src` option, which is not valid for some modules that produce this error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/errors/__init__.py
lib/ansible/modules/files/template.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux, but shouldn't matter

##### STEPS TO RE

[2020-05-14 20:01] Shrews commented on #69510
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

Per the above discussion, this looks like an environment related issue and not an Ansible issue.
We'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can s

[2020-05-14 20:01] #69510 closed, assigned to nobody

[2020-05-14 20:36] #34259 closed, assigned to nobody

[2020-05-14 21:01] jamescassell commented on #61763
I think the generic version would be `condrestart` which systemd accepts as an alias.

[2020-05-14 21:05] jhg03a commented on #50300
I still ended up having intermittent failures even with python3.8 (although less frequent), so I switched to a more heavyhanded solution and used curl via the command module instead and set_fact to massage it's output to look more like the output of the URI module.  Curl seems to be generally more tolerant of whatever condition is causing this and this bypasses whatever seems to have changed in py

[2020-05-14 21:07] bcampoli commented on #51663
I am blocked by this, all my builds on fresh instances with apt module are failing.

[2020-05-14 21:09] infrascripting commented on #68218
Any thoughts about this or guidance?

[2020-05-14 21:12] jhg03a commented on #50300
!component lib/ansible/modules/uri.py

[2020-05-14 21:19] juneeighteen commented on #51663
@bcampoli I found out, further to our issue, that it's only happening when we build on AWS instances.  Our Docker instances don't have the same issue.  I hate that I did this, but we added a pause statement before the APT code above.  Even waiting for the lock using `while fuser` didn't work for us. Two minutes later, I can run all the code and see no issues.

[code]

[2020-05-14 21:25] infrascripting commented on #68218
I put the following in the description:

!component =lib/ansible/modules/files/lineinfile.py

Hopefully that's what it was looking for?

[2020-05-14 21:41] mwhahaha opened #69521 "include_role with a tasks_from in a block is not loaded correctly when using free"
##### SUMMARY

If you use the free strategy, include_role with a tasks_from is not properly loaded in to be executed for some nodes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

free.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

no failures

##### ACTUAL RESULTS

Some the include_role/tasks

[2020-05-14 22:16] aetherith commented on #69497
I can confirm that this is also happening in 2.9.3 running on Python 2.7.5 so it has been around for a while.

[2020-05-14 23:04] mwhahaha commented on #69521
I think I've tracked this down to lib/ansible/playbook/included_file.py as included roles are done by their role name so if you use multiple tasks_from, in the case of free it won't include a different set of tasks if there's already a given role name in the included_files already.  So if you have two hosts that have differing tasks_from, only one gets loaded. I noticed that I was seeing duplicate

[2020-05-15 01:21] jd3shaw commented on #16933
Just FYI @bcoca It seems like my work around works.
I have an example of 5 hosts where 2 were swapped in the order (group_by install added) then a later play using inventorygroup-ordered:&install restored the original order. I'll probably leave it here as we're not likely to upgrade our Ansible docker until these changes are in stable.
Any idea how I can watch a merge for when it goes into a stabl

[2020-05-15 01:41] comefigo opened #69528 "When the tasks with json_query inside a block are always evaluated"
##### SUMMARY
When a task inside a skipped block has a json_query with var defined inside that block, ansible tries to run that task when it should have skipped (it is inside the block). It doesn't happens when using json_query

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

on Windo

[2020-05-15 01:43] abdennour opened #69529 "ansible_connection docker does not recognize PATH environment variable in /etc/profile"
##### SUMMARY

A playbook with host `ansible_connection=docker` is not able to ready environment variables added under /etc/profile.d directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker ansible_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I have a playbook which :
- update some environment variables (i

[2020-05-15 01:45] drzraf commented on #10374
It's a key issue and one of the most important among top-voted issues. And the solution based on a custom YAML tag would be purely backward-compatible.

Most use-cases refer to passing `{{ role_path }}` to a underlying role. And doing this within meta is where no `set_fact` workaround is possible. So, it's about passing the path of a content contained in a top-level role.
Said another way, it's ab

[2020-05-15 04:49] mathewatspm commented on #69489
Thanks @sivel for your advice!

`GIT_ASKPASS=/bin/echo` works with error message `fatal: Authentication failed for '<URL>'` being displayed.

Whereas, `GIT_TERMINAL_PROMPT=0` would still display the login prompt.

Cheers

[2020-05-15 04:49] #69489 closed, assigned to nobody

[2020-05-15 06:32] mkrizek commented on #69528
This is expected, please see https://github.com/ansible/ansible/issues/67310#issuecomment-584737788.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-15 06:32] #69528 closed, assigned to nobody

[2020-05-15 06:41] mkrizek commented on #69529
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-15 06:41] #69529 closed, assigned to nobody

[2020-05-15 09:30] srbharadwaj opened #69532 "connection plugin: persistent_command_timeout was not defined in configuration"
##### SUMMARY
When running playbook seeing the error persistent_command_timeout was not defined in configuration
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
connection plugin

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7

##### STEPS TO REPRODUCE
 - Clone ansible/asnible deval repo
 - Then run ansible-galaxy collection install cisco.nxos
 - ansibl

[2020-05-15 10:12] bauerd opened #69533 "hcloud dynamic inventory broken: 'NoneType' object has no attribute 'name'/hcloud declined parsing"
##### SUMMARY
The [Hetzner Cloud dynamic inventory](https://docs.ansible.com/ansible/latest/plugins/inventory/hcloud.html) does not function anymore: `'NoneType' object has no attribute 'name'`/`hcloud declined parsing hcloud.yml as it did not pass its verify_file() method`

Used to work just fine and broke both within a CI pipeline and locally.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2020-05-15 10:17] danielporto commented on #11024
Any update on this? it this already accepted or how can I use it?

[2020-05-15 11:47] mkrizek commented on #69533
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/hetzner.hcloud.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!for

[2020-05-15 11:47] #69533 closed, assigned to nobody

[2020-05-15 11:59] mkrizek commented on #69519
bot_status

[2020-05-15 12:06] rohitthakur2590 commented on #67497
@gitpel  @noxoid  Thank you guys for your time and efforts, at present we support and test ansible resource modules against VyOS 1.1.8, Hopefully, In future, we will be moving toward a latest stable release.

[2020-05-15 12:06] #67497 closed, assigned to rohitthakur2590

[2020-05-15 12:37] wstestdwf opened #69535 "win_regedit is modifying wrong registry keys"
##### SUMMARY
Hi all,
I noticed today morning that wrong keys are modified when using win_regedit module.
**HKU keys are modified instead of HKCU**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/windows/win_regedit.ps1

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Windows server 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Add reg keys:
MigrateP

[2020-05-15 13:38] #51504 closed, assigned to nobody

[2020-05-15 13:55] kevingentile opened #69537 "Deleted lookup plugins in devel from stable-2.9"
##### SUMMARY

Digging through some of the available lookup plugins I noticed the `devel` branch has purged a good number of the lookup plugins available in `stable-2.9`. I cannot find a specific commit (destructive delete?).

For the removed plugins, should the documentation indicate these are deprecated or moved to galaxy installs?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

[2020-05-15 14:08] srbharadwaj commented on #69532
After changing the dir structure as mentioned by Nilashish https://gist.github.com/NilashishC/8b88686ab3b57784e70db314afef8231
This issue is not seen, closing the bug for now.

[2020-05-15 14:08] #69532 closed, assigned to nobody

[2020-05-15 14:09] mkrizek commented on #69535
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-05-15 14:09] #69535 closed, assigned to nobody

[2020-05-15 14:11] dmhii opened #69538 "win_user_right: Intermittent failure on domain controller"
##### SUMMARY
We are receiving intermittent errors when applying user right assignments to a domain controller.

FAILED! => {"changed": false, "msg": "failed to convert sid '[sid value removed]' to a logon name: Exception calling \"Translate\" with \"1\" argument(s): \"Some or all identity references could not be translated.\""}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_user_right

[2020-05-15 14:15] mkrizek commented on #69537
The plugins were moved to collections. Please see the following links to get more information:
https://groups.google.com/forum/#!msg/ansible-devel/oKqgCeYTs-M/cHrOgMw8CAAJ
https://github.com/ansible-collections/overview/blob/master/README.rst

As for the documentation, it is a work in progress, I believe this PR https://github.com/ansible/ansible/pull/59761 should address that.

If you have furthe

[2020-05-15 14:15] #69537 closed, assigned to nobody

[2020-05-15 14:18] mkrizek commented on #69538
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-05-15 14:18] #69538 closed, assigned to nobody

[2020-05-15 14:58] #68166 closed, assigned to nobody

[2020-05-15 15:20] ghost opened #69539 "make rpm looks for differently named tar file on devel branch"
##### SUMMARY

When building an Ansible rpm using make from the devel branch, it looks for a differently named tar file.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

make rpm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 32

##### STEPS TO REPRODUCE

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-an

[2020-05-15 15:21] ewelchman opened #69540 "Synchronize module not recognizing remote ssh key"
##### SUMMARY

I am attempting to synchronize in push mode a couple of directories from one remote host (A) to a second remote host (B). The rsync command shown in ansible's output works as expected when run on remote host A.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Synchronize module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: Ub

[2020-05-15 15:22] mkrizek commented on #69540
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-05-15 15:22] #69540 closed, assigned to nobody

[2020-05-15 15:41] yaplej commented on #43996
I have not had time to follow up on this issue in a while.  Ansiblebot added a has_pr tag but I don't see that PR linked.

[2020-05-15 15:50] bauen1 commented on #23816
No I didn't look into this further and instead used the workaround supplied here.
But adding 'auto-expand-secmem` works better.

[2020-05-15 16:05] mkrizek commented on #67789
bot_broken

[2020-05-15 16:21] michalagata opened #69542 "Connection using WinRM (Windows 2019 Server) does not work - Ansible 2.9.9"
##### SUMMARY
Ansible 2.9.9 does not connect properly to WinRM.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Tried to use simple win_ping task agains Windows 2019 server. HTTP and HTTPS - both failed.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

Executed:
[code]

#### group_vars/all.yml
[code]

#### hosts
[code]

####

[2020-05-15 17:09] samdoran commented on #67490
@geerlingguy Turns out that #68925 didn't actually fix the warning during installation though I swear I tested it. Anyway, the warning during installation should be fixed in #69541.

[2020-05-15 17:17] samdoran commented on #24082
`replace.py` was fixed in 8bdd04c1474. I'm working on the fix for `lineinfile`.

[2020-05-15 18:07] feisa commented on #66312
Is this going to be fixed?

[2020-05-15 18:07] feisa commented on #66318
checking for an update

[2020-05-15 18:08] ashutoshc1234 commented on #66758
aireos, networknig, support:communicty, support:core

[2020-05-15 18:12] Wernfried opened #69544 "Variables are not delegated in sub-task loop"
##### SUMMARY

When running a delegated subtask then variables are not delegated to host.

Only the last item of loop is delegated. The delegating host gets the variable value.
If I set `delegate_facts: no` then results are populated to delegating host (as expected).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-05-15 18:13] ashutoshc1234 commented on #66758
I was able to make it work using a work around

- command: "transfer download start
/n"
prompt: "(y/N)"
answer: 'y'

This choses the default action no reboot and second prompt can be now triggered as yes. You may write the logic of your wish now. Wait for appropriate time on the localhost and then restart the WLC

[2020-05-15 18:16] mmasko commented on #66148
2.9.1. It's in my OP

[2020-05-15 18:42] mkrizek commented on #66148
It is but it needs to be formatted in a way that ansibot understands it, which is via the original issue template.

However, this plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository, thanks!

If you have further questions please stop by IRC or the mailing list:

* IRC:

[2020-05-15 18:42] #66148 closed, assigned to nobody

[2020-05-15 18:43] brettfire opened #69547 "Gathering output from remote servers and combining on the ansible localhost using lineinfile/blockinfile leads to missing blocks"
##### SUMMARY
Gathering output from remote servers and combining on the ansible localhost using lineinfile/blockinfile leads to missing blocks

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinfile, lineinfile, win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

attempting to gather win_shell execution output from windows hosts on centos 8 ansib

[2020-05-15 19:32] chemnic opened #69548 "zabbix_template creates template in check mode"
##### SUMMARY

The module zabbix_template creates a new template when in check mode with zabbix 4.0.
I use template_json to import a new template with just the enough data to create it.
The normal mode (not in check mode) works as expected: Shows "changed" when the template doesn't exist, and just "ok" when it already exists.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_template
###

[2020-05-15 19:42] icanhazpython commented on #69547
I have since simplified the method to reproduce this.
Observe the following playbook:
[code]
I found the following:
* When running the above playbook, 138 of 174 hosts write their output to the file.
* When running with `serial: 1` added to the playbook, 174 of 174 hosts write their output to the file.

So it seems that the lineinfile and blockinfile functions are not safe to run concurrently. Is

[2020-05-15 19:45] mkrizek commented on #69548
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.zabbix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2020-05-15 19:45] #69548 closed, assigned to nobody

[2020-05-15 19:52] #24082 closed, assigned to nobody

[2020-05-15 19:52] #68218 closed, assigned to bcoca

[2020-05-15 19:59] yeungj16 commented on #67102
I'm no longer working on the above project, you can go ahead and close this issue for now.

[2020-05-15 19:59] #67102 closed, assigned to nobody

[2020-05-15 20:07] jborean93 commented on #69542
The stderr (once UTF-16 decoded) states

Something in your PATH or powershell profile causes `powershell.exe` (Windows PowerShell not core) to somehow start `pwsh.exe` (PowerShell Core 7.0.0-rc.1). Because The latter is failing to start with that error provided the underlying process is stopped and the WinRM pipe is broken hence the error you are seeing.

Ansible is not designed to work with Power

[2020-05-15 20:07] #69542 closed, assigned to nobody

[2020-05-15 20:36] #66614 closed, assigned to nobody

[2020-05-15 20:45] Thulium-Drake commented on #68621
## Bug Report
Copied over from ansible-galaxy's issue tracker.

##### SUMMARY

When the collections_paths in ansible.cfg is set to ansible_collections, any resulting playbook run will result in errors that the roles mentioned cannot be found.

##### STEPS TO REPRODUCE

1. Set the following in ansible.cfg
[code]
2. Install a random collection
3. Run a playbook with a role from that collection
[code

[2020-05-15 20:52] jborean93 opened #69550 "SSH Windows - Fails to decode stderr when pipelining is disabled"
##### SUMMARY
When using SSH against a Windows host with PowerShell v5 the stderr when pipelining is not being used contains a nested CLIXML message in the stderr. We should be able to handle this correctly and not fail.

Currently I can only explicitly disable pipelining for Windows as it should always be enabled but there is a report where this has happened in the wild so it's not unheard of htt

[2020-05-15 20:59] jborean93 commented on #68621
@Thulium-Drake your ansible.cfg should not end with `ansible_collections. It should be a directory that contains `ansible_collections` but by setting `collections_paths = ansible_collections` collections need to be present in `./ansible_collections/ansible_collections/<namespace>/<name>`.

[2020-05-15 21:20] jborean93 commented on #69550
The code that controls whether pipelining is used is https://github.com/ansible/ansible/blob/6fffb0607bf47113496b3e2ffc6ad02779bb495c/lib/ansible/plugins/action/__init__.py#L278-L296.

Going through condition by condition

* [self._connection.has_pipelining](https://github.com/ansible/ansible/blob/6fffb0607bf47113496b3e2ffc6ad02779bb495c/lib/ansible/plugins/action/__init__.py#L285) - Should be `Tr

[2020-05-15 21:35] krlinus opened #69551 ""Edit this document" link is broken"
##### SUMMARY

On this page
https://docs.ansible.com/ansible/latest/modules/ec2_vol_info_module.html#ec2-vol-info-module

The "Edit this document" link goes to a 404 page on github

HINT: The Hint link is broken (See above)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

I don't know and cant guess the rst file name. I believe information already provided is sufficient.

##### ANSI

[2020-05-15 21:36] anshulbehl opened #69552 "pip and src install of ansible showing different behavior for action plugins in collections"
##### SUMMARY

I am able to replicate an issue faced by Aruba where their action plugin is not getting triggered when being part of a new collection, interestingly enough I can only replicate that through a src install of ansible 2.9.9 and not through a pip install of ansible-2.9

With src install:
Value of ansible_host in inventory is not getting substituted and I see the below error:

TASK [Crea

[2020-05-15 21:36] anshulbehl commented on #69552
cc: @thedoubl3j  @mattclay

[2020-05-15 21:38] cognifloyd commented on #43797
@bcoca #69087 adds a sweet method for decrypting vaulted files, what about for encrypting a string on the fly? I don't see a filter to do that in a Jinja context or a module to do it without shelling out. So, unless I'm missing something, I don't think this request should be closed yet.

[2020-05-15 21:58] mattclay commented on #69552
I'm seeing the `"http://None:80/rest/v6.0/login-sessions"` issue both on stable-2.9:HEAD and 2.9.9 installed from pip -- so no difference in behavior between the two.

[2020-05-15 22:03] bcoca commented on #43797
only 1/2 done

[2020-05-15 22:18] anshulbehl commented on #69552
@ganeshrn @Qalthos Can you guys take a look, as to why the action plugin is not working in the collection?

[2020-05-15 22:41] relrod commented on #69539
@ldarmbuster Thanks for the report. We are actually dropping support for `make rpm` from 2.10 onward, we just haven't dropped it from the repo yet. For release, we recommend installing from your distro's package manager (the rpm spec for ansible in Fedora and EPEL can be found [here](https://src.fedoraproject.org/rpms/ansible). For development, `pip` (perhaps in a `pyenv` environment) is what most

[2020-05-15 22:41] #69539 closed, assigned to relrod

[2020-05-15 23:18] sbonds commented on #69506
Thanks for the excellent workaround. Here's the new playbook which works perfectly even against 100+ hosts run 15 at a time.

[code]

I especially appreciate the walk-through of the copy process. I was picking through the Python and couldn't follow what it was trying to do for the specific case of `content:` since there are so many code paths possible related to recursive copy, etc. Your summary r

[2020-05-16 06:00] Udayendu opened #69559 "copy module: No option to exclude directory in copy module"
##### SUMMARY
Currently there is no option to exclude the directory inside a directory while using copy module. Due to which copy module is failing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Ubuntu 20.04 LTS

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS
Using exclude option, should be able to exclude the

[2020-05-16 07:06] mkrizek commented on #69551
Duplicate of https://github.com/ansible/ansible/issues/69155

[2020-05-16 07:06] #69551 closed, assigned to nobody

[2020-05-16 07:37] mkrizek commented on #50788
Closing due to inactivity. Feel free to open a new issue if your problem persists.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-16 07:37] #50788 closed, assigned to nobody

[2020-05-16 07:39] Thulium-Drake commented on #68621
I see, but that creates an extra, redundant subdirectory.

Which is not consistent with how roles behave.

I want to have 2 dirs in my project :

* roles: which contains roles
* collections (or ansible_collections, but as we're talking about an ansible project, that also seems redundant)

Is a workaround then to set the collections_paths to '.'?
--

Groeten,

Jeff

- Sent from my mobile phone.

On

[2020-05-16 07:42] mkrizek commented on #54944
!component =lib/ansible/modules/copy.py

[2020-05-16 08:04] #66039 closed, assigned to justjais

[2020-05-16 09:01] mkrizek commented on #65364
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-16 09:01] #65364 closed, assigned to nobody

[2020-05-16 09:09] jborean93 commented on #68621
Playbooks can utilise a collections in the relative path from the playbook `collections/ansible_collections/namespace/name` so just `-p collections` just like you would do `-p roles` for installing roles. It’s the same as when you specify `ANSIBLE_COLLECTIONS_PATHS`. The installer picks the first path here, appends `ansible_collections` and places the collections there and everything works properl

[2020-05-16 09:40] mkrizek commented on #62745
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-16 09:40] #62745 closed, assigned to nobody

[2020-05-16 09:45] Thulium-Drake commented on #68621
Ah I see, I take it this can be very useful for larger projects that might have multiple components with each their own sets of collections.

In that case, I will just use 'collections' as a path and take the extra dir for granted :-)

Thanks for the explanation!

[2020-05-16 10:02] poige commented on #63826
!component lib/ansible/modules/command.py

[2020-05-16 10:03] poige commented on #63826
but that's for bot-only, people should understand it's not about specific component but general approach instead.

[2020-05-16 11:47] jpmens commented on #52696
I am not interested in implementing this

wontfix

[2020-05-16 12:16] sugitk commented on #52696
@jpmens
Sure, the customer already closed the issue, I agree with you.
So I closed this issue.  Thank you very much.

[2020-05-16 12:16] #52696 closed, assigned to nobody

[2020-05-16 12:41] mlda065 commented on #55898
@s-hertel how can I get the ansibot to not close this ticket? I've provided the info it's asking for.

[2020-05-16 12:41] mlda065 commented on #55898
I've added a PR, #69560

[2020-05-16 12:46] NerdsvilleCEO commented on #46963
There hasn't been, I'll take a look tomorrow, thank you for pinging @MaartenMol

[2020-05-16 12:58] felixfontein opened #69561 "ansible-test validate-modules: missing `default` in docs not detected if `default=False` in argspec"
##### SUMMARY
Happened here: https://github.com/ansible-collections/community.general/pull/341

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
[code]

[2020-05-16 13:43] felixfontein commented on #69561
Hmm, this seems to be intentional:
[code]

[2020-05-16 13:55] meiry opened #69563 "profile_tasks: Fails with subscriptable Callback Exception"
##### SUMMARY
trying to use profile_tasks  to get task time summery

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
profile_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME

[2020-05-16 14:18] zem opened #69564 "yamllint complains about role templates generated by ansible-galaxy"
yamllint is complaining about some minor issues (mostly too long lines) in the meta/main.yml file generated by ansible-galaxy.

[code]
As it is extremely time consuming to fix up every templates to match the style guidelines introduced by yamllint or to provide a default yamllint configuration, I suggest to change the ansible-galaxy templates in a way that yamllints default setup does not complain

[2020-05-16 15:02] ikke-t opened #69565 "Fedora-IoT package manager rpm-ostree is not recognized"
##### SUMMARY

I try ansible against Fedora-IoT, but the first package command fails:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible host: RHEL8.2
Ansible target: Fedora-IoT, Fedora release 32 (Thirty Two)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Recognise it needs to us

[2020-05-16 16:40] TheodorV commented on #36615
ansible 2.9.7
Centos 7.8

Still can't set BOOTPROTO="static"
On the other hand, the documentation only has a bad hint towards the possibility of doing it:
https://docs.ansible.com/ansible/latest/modules/nmcli_module.html

 - name: Add an Ethernet connection with static IP configuration
    nmcli:
    conn_name: my-eth1
    ifname: eth1
    type: ethernet
    ip4: 192.0.2.100/24
    gw4: 192.0.2.1

[2020-05-16 16:54] timhughes commented on #63112
I believe that this issue should be migrated to https://github.com/ansible-collections/community.aws and reference https://github.com/ansible-collections/community.aws/blob/master/plugins/modules/ec2_vpc_route_table_info.py

[2020-05-16 17:05] fsproru commented on #54963
@ansibot

issue type: feature
ansible version: any
component name: dynamo_db

We need this feature too

[2020-05-16 18:24] RobVerduijn commented on #29647
This is really weird
when using a playbook it fails, but an ad-hoc command succeeds
[code]

using an ad-hoc command it works
[code]
using the latest ansible on fedora32
[code]

[2020-05-16 19:48] mehmetvatansever opened #69567 "Ansible network switch backup faild."
It fails, where i doing wrong?

[code]
[code]

[2020-05-16 20:13] briantist opened #69568 "Support ANSIBLE_FORKS in ansible-test"
##### SUMMARY

`ansible-test windows-integration` uses an inventory file for its targets.
That allows tests to be run against multiple targets simultaneously, but the number of forks used seems to be the default of 5.

It would be great to be able to control the number of forks somehow (ideally with the standard `ANSIBLE_FORKS` env var, but maybe also with a cli option?).

@mattclay also mentioned

[2020-05-16 20:37] anxstj opened #69569 "vmware_host_facts: A general system error occurred"
##### SUMMARY
Gathering vmware host facts fails and returns a traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client Version 6.5.0.32000

ESXi:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The module should return the facts and finish without failure.

[2020-05-16 20:48] anxstj opened #69570 "vmware_host_facts: TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'"
##### SUMMARY

Gathering vmware host facts failed with `TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client Version 6.5.0.32000

ESXi:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The module

[2020-05-16 21:55] necrose99 commented on #52310
sabayon seems to be replacing entropy and equo pm soon anyway
gentoo derived , binpkg-mgr for a golang based one.

[2020-05-16 22:59] manojscode commented on #69559
please share the directory structure ( or sample structure )at the source and what you expect to see on the destination.

[2020-05-17 06:13] Udayendu commented on #69559
@manoj-ms

Please find the requested details:

- Source folder structure
[code]

- Destination folder structure
[code]

[2020-05-17 08:10] yajo opened #69572 "Add ansible galaxy module"
##### SUMMARY

Currently, to install ansible galaxy requirements you need to use the CLI. But isn't Ansible about automation?

We should have an `ansible_galaxy` module which handles installing roles or collections in the specified path.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

modules

##### ADDITIONAL INFORMATION

[code]

[2020-05-17 10:30] tnaskali opened #69573 "[module: cron] support for different print format and whitespace separator"
##### SUMMARY
Add support for a specific print format and whitespace separator in the cron module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cron module

##### ADDITIONAL INFORMATION
Add two new parameters `field_separator` and `field_print_format` to the cron module. Authorised values for `field_separator` are `SPACE` (default) and `TAB`. If `field_separator` is `SPACE`, then `field_

[2020-05-17 13:20] #35686 closed, assigned to nobody

[2020-05-17 13:35] Akasurde commented on #69570
Issue migrated to https://github.com/ansible-collections/vmware/issues/183

[2020-05-17 13:35] #69570 closed, assigned to nobody

[2020-05-17 13:36] Akasurde commented on #69569
Issue migrated to https://github.com/ansible-collections/vmware/issues/184

[2020-05-17 13:36] #69569 closed, assigned to nobody

[2020-05-17 14:41] mehmetvatansever commented on #69567
I want to backup to configuration for the cisco switch.

[2020-05-17 16:51] #53712 closed, assigned to nobody

[2020-05-17 17:07] jberkenbilt commented on #29870
sorry, @ansibot -- I didn't realize this was waiting for me.

I no longer see this issue. Now running Ubuntu 20.04. My current ansible is 2.9.6. Everything works as expected.

[2020-05-17 17:15] sshnaidm opened #69574 "Connection plugins broke in devel branch"
##### SUMMARY
Podman connection plugin started to fail after May 14 2020
Seems like https://github.com/ansible/ansible/commit/2165f9ac40cf212891b11a75bd9b9b2f4f0b8dc3 broke it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]
Testing playbook
[code]
Inventory
[code]

##### EXPECTED RESULTS

It pass on both 2.9 and 2.10

##### ACTUA

[2020-05-17 17:16] Yannik opened #69575 "bug: ipaddr filter on empty list returns false instead of empty list"
##### SUMMARY
Using the filter `ipaddr('public')` on an empty list returns `false`. It should return an empty list.

It correctly returns an empty list when used on a list with only private ips (e.g. `['192.168.1.0']|ipaddr('public')` returns `[]`)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipaddr filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
f

[2020-05-17 17:18] Yannik commented on #69575
!component =lib/ansible/plugins/filter/ipaddr.py

[2020-05-17 18:08] choeffer commented on #69444
@choeffer thanks for reporting.
I think the main problem is here:
[code]
Like we can see the problem is happening in `basic.py` of ansible, not in the module itself. So you were right opening it in Ansible issues https://github.com/ansible/ansible/issues/69444 :)
Secondly, you use 2.9 version which is maintained in [ansible repo](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modul

[2020-05-17 18:17] sshnaidm commented on #69574
More short diff with actual problem:
https://linediff.com/?id=5ec17e9a687f4bef358b4567

Ansible tries to execute `/usr/local/bin/python` on my local host and not on container, which leads to the error:
[code]

[2020-05-17 18:18] sshnaidm commented on #69574
!component =lib/ansible/executor/task_executor.py

[2020-05-17 18:21] choeffer commented on #69444
Regarding the quote, the problem is related to the Ansible code here.

[2020-05-17 20:36] Ajith0888 opened #69576 "zypper migration options"
##### SUMMARY

zipper migration options are not avaiable
##### ISSUE TYPE
- Feature Idea
Enhance the zypper module by add the migration options
##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]
#Example:
#zypper migration --migration 2 --allow-vendor-change -n -l

Above cmd will migrate the server to different options

[2020-05-17 21:13] briankohles opened #69577 "Ansible Ad-hoc 2.9.9 remote_tmp mkdir not properly quoted\escaped"
##### SUMMARY

When attempting to create the remote_tmp directory one of the mkdir commands is not properly quoted, resulting in a failure if there is a space in the remote_tmp value

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Tried copy & shell modules, same result

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control and target on same host runnin

[2020-05-17 21:39] briankohles commented on #69577
Found the spot of code with the issue, will see if I can get a pull request going:

diff --git a/lib/ansible/plugins/shell/__init__.py b/lib/ansible/plugins/shell/__init__.py
index 4050d8227b..41c2444131 100644
--- a/lib/ansible/plugins/shell/__init__.py
+++ b/lib/ansible/plugins/shell/__init__.py
@@ -157,7 +157,7 @@ class ShellBase(AnsiblePlugin):

         # use mkdir -p to ensure parents exist,

[2020-05-18 05:00] mkrizek commented on #29870
Closing as per above.

[2020-05-18 05:00] #29870 closed, assigned to nobody

[2020-05-18 05:07] mkrizek commented on #69444
Not sure there is anything to do but re-opening for triage.

[2020-05-18 05:15] mkrizek commented on #69576
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-18 05:15] #69576 closed, assigned to nobody

[2020-05-18 05:17] mkrizek commented on #69575
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-18 05:17] #69575 closed, assigned to nobody

[2020-05-18 05:29] mkrizek commented on #34038
needs_info

[2020-05-18 05:52] ReyRen opened #69579 "details = "failed to connect to all addresses" in "helm" module"
##### SUMMARY

##### ISSUE TYPE
- Bug Report
When I use `helm` module to install operator helm chart, the grpc error occur with:
[code]
##### COMPONENT NAME

helm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04 LTS
grpcio version is 1.29.0
pyhelm version is 2.14.5
##### STEPS TO REPRODUCE

[code]

https://github.com/NVIDIA/deepops/blob/7cc6e0b7f1ec5

[2020-05-18 06:19] choeffer commented on #69444
Thanks. The used OpenStack instance has

- RAM: 4GB
- VCPUs: 2 VCPU
- Storage: 40GB

and only Fedora 32 Base + Podman installed.

So, it should not run out of resources. Running `htop` in parallel shows CPU usage peaks, but not running out of memory. If I can provide more tests or useful logs, just let me know.

[2020-05-18 06:24] mkrizek commented on #45842
needs_info

[2020-05-18 06:30] mkrizek commented on #55898
@mlda065 Since you have recently added the missing information (ansible version), ansibot should remove `needs_info` the next time it processes this issue and will not auto close it. All good here.

[2020-05-18 06:44] mkrizek commented on #57048
Closing per above.

[2020-05-18 06:44] #57048 closed, assigned to nobody

[2020-05-18 06:46] mkrizek commented on #57950
Closing per above.

[2020-05-18 06:46] #57950 closed, assigned to nobody

[2020-05-18 07:16] Fred-sun commented on #52068
@just-dimitarslavkov  Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been migrated. Since this change is specific to AZURE module and not for entire repo. Please re-submit this issue in the https://github.com/ansible-collections/azure and closed this. Thank you very much!

[2020-05-18 07:58] mkrizek commented on #69034
bot_status

[2020-05-18 08:07] Ethyling commented on #60002
I observe the same issue. Any update on this?

On the other hand, using the `-diff` flag does not display the changes. Am I missing something? I can't find anything about this in the documentation.

Thank you

[2020-05-18 08:26] mkrizek commented on #69444
!component =lib/ansible/module_utils/basic.py

^ for triage purposes

[2020-05-18 08:41] Akasurde commented on #69579
@ReyRen The [`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/cloud/misc/helm.py) is going to deprecate via (https://github.com/ansible-collections/community.general/pull/115) I would recommend using new [`helm`]( https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) module from `community.kubernetes` repo

[2020-05-18 08:42] Akasurde commented on #69579
needs_info

[2020-05-18 08:44] eddy-resnick opened #69580 "ovirt_vm parameter cloud_init does not set hostname or root password"
##### SUMMARY
Using the ovirt_vm module and the cloud_init parameter to set hostname and root password has no effect on newly created VM from template
Using Ansible 2.7.18 with the python-ovirt-engine-sdk4-4.3.2-1.el7ev.x86_64 installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: ovirt_vm
Parameter: cloud_init hostname
Parameter: cloud_init root_password

##### ANSIBLE VERSION
[c

[2020-05-18 08:57] jfttpt commented on #69289
I met the same problem, how to deal with it?

[2020-05-18 09:03] bjordanov4 opened #69581 "not able to specify custom cpu shares for vmware_resource_pool"
##### SUMMARY

not able to specify custom cpu shares for vmware_resource_pool

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_resource_pool.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Suggested code change

[code]

[2020-05-18 09:17] ReyRen commented on #69579
@Akasurde Ok, thanks.

[2020-05-18 09:18] ReyRen commented on #69579
@Akasurde BTW, this seems can be closed.

[2020-05-18 09:55] #69579 closed, assigned to nobody

[2020-05-18 10:43] Akasurde commented on #60025
Closing this issue, since this is Fixed via b76c4c8.

[2020-05-18 10:43] #60025 closed, assigned to nobody

[2020-05-18 10:43] Akasurde commented on #69581
Issue migrated to https://github.com/ansible-collections/vmware/issues/187

[2020-05-18 10:44] #69581 closed, assigned to nobody

[2020-05-18 11:09] Akasurde commented on #69567
Hi @mehmetvatansever!

You need to indent your creds var in creds.yml since you are accessing `creds['username']`

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://

[2020-05-18 11:09] #69567 closed, assigned to Akasurde

[2020-05-18 11:58] mkrizek commented on #67177
bot_status

[2020-05-18 12:21] Zocker1999NET commented on #67718
Thanks for the reclassification, @sivel.

As long as this feature is missing, I will likely to use the workaround to transfer the handler to a task with a relative big when clause. Because each task rereads the variables and for me it is not required to wait for all handlers until all roles are finished, this should be fine for now.
[code]

[2020-05-18 12:42] code-ninja99 opened #69582 "set_fact iteration with include_tasks is not working"
##### SUMMARY

when attempting to iterate loop with include task and create set_fact array in child yml file it gives an [AnsibleUndefined] error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

LINUX

##### STEPS TO REPRODUCE

[code]

create a role with mail.yml and lvm.yml in tasks.

main.yml
[code]

[2020-05-18 12:53] meiry commented on #69289
set boto.cfg in the /etc/boto.cfg
and in there the AWS cradentials ,

[2020-05-18 13:16] mkrizek commented on #69580
!component =lib/ansible/modules/cloud/ovirt/ovirt_vm.py

[2020-05-18 13:21] eddy-resnick commented on #69580
Correct!

[2020-05-18 13:29] Akasurde commented on #69579
@ReyRen Thanks. Please do provide your feedback on the new helm module.

[2020-05-18 13:34] mkrizek commented on #63890
Fixed in https://github.com/ansible/ansible/pull/63976

[2020-05-18 13:34] #63890 closed, assigned to nobody

[2020-05-18 13:36] Yannik commented on #64898
@ansibot This bug is present in `ansible 2.9.7`.

@thinkl33t Can you update the description?

[2020-05-18 13:47] DanielFarrarCO commented on #69550
@jborean93 Thanks for helping with this, confirmed I was getting that error in Windows 2016 because "keep_remote_files" was enabled.

[2020-05-18 13:55] sivel commented on #69564
Duplicate of https://github.com/ansible/ansible/issues/56546

[2020-05-18 13:55] #69564 closed, assigned to nobody

[2020-05-18 13:56] sivel commented on #69565
Duplicate of https://github.com/ansible/ansible/issues/69064

[2020-05-18 13:56] #69565 closed, assigned to nobody

[2020-05-18 14:05] thinkl33t commented on #64898
Done (i think)

[2020-05-18 14:08] Yannik commented on #64898
@thinkl33t Thanks. Actually I believe that this issue should be opened [here](https://github.com/ansible-collections/community.libvirt), because that's the repo of the affected module.

[2020-05-18 15:26] KervinGtz opened #69584 "block/rescue do not work with tags"
##### SUMMARY
when specifying tags such as 'ansible-playbook lab.yml --tags bar', errors are not caught by rescue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

block, rescue, tags

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2020-05-18 16:02] samccann opened #69586 "[Docs] Republish devel docs"
- [x] check for broken links in devel

- [x] merge https://github.com/ansible/ansible/pull/69546 and restage 2.9 and devel on test. Review w/ docs community for 1 day.

- [x] Publish 2.9

- [x]  publish devel.

- [x] sacrifice a rubber chicken it all goes well

[2020-05-18 16:36] DanielJRutledge opened #69587 "admin_password field doesn't update in azure_rm_postgresqlserver"
##### SUMMARY
azure_rm_postgresqlserver admin_password field doesn't update

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_postgresqlserver

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows WSL - Ubuntu 18.04

##### STEPS TO REPRODUCE
Run the playbook below, then update the admin_password value to a new one, and run the playbook again. No cha

[2020-05-18 16:49] SyedK1987 commented on #69582
I have the same version of file in my machine. but still facing the issue. any suggestion please.

[2020-05-18 17:02] darkdragon-001 commented on #48134
Just stumbled over this again. It has been almost 3.5 years since the issue was first reported. How can we proceed to push this forward?

[2020-05-18 17:13] darkdragon-001 opened #69588 "[mount] Allow "boot" option on all Linux via "noauto""
##### SUMMARY
Currently `boot` option only applies to _Solaris_. It would be nice to support it on a wider range of operating systems.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mount

##### ADDITIONAL INFORMATION
- A network share might not be available at boot.
- Non-root mounting is possible when such an entry is present at `fstab`.
- It also allows to circumvent the problem that th

[2020-05-18 17:24] farisachugthai commented on #68529
I believe I've updated the issue appropriately.

[2020-05-18 17:33] guliaka opened #69589 "Reopen: VMWare: Fix issue #62810 Allow Dash in Windows Server DNS name #64052"
##### SUMMARY

vmware_guest module strips dashes from computer name during customization
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 8.1/RHEL 8.1 /RHEL 8.2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Get new vm with name vm-tst-xxxxxx in vCenter and windows server name

[2020-05-18 17:55] MikelSwartz commented on #59192
I found that if I remove `gather_subset: all` from `- ios_facts:`, the issue goes away. It worked with `ios_facts` ran in the role or in the playbook.  `gather_subset:min` also worked.

[code]
Maybe it's related to this warning?
`[WARNING]: default value for `gather_subset` will be changed to `min` from `!config` v2.11 onwards
`

[2020-05-18 18:16] sivel commented on #69588
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-05-18 18:16] #69588 closed, assigned to nobody

[2020-05-18 18:30] bcoca commented on #66978
@sadanand25 this looks like a connection issue, can you run with -vvv and post the ouput?

needs_info

[2020-05-18 18:45] darkdragon-001 commented on #69588
Sorry for posting it at the wrong place and thanks for your kind and helpful hints! Moved to ansible-collections/ansible.posix#28.

[2020-05-18 18:50] relrod commented on #69497
I'm not immediately able to reproduce this. Happy to look into it, but will need some more info/a reproducer.

This is a Dockerfile that sets up a local repo and installs the same versions of things as in the original post, and runs ansible to install `htop`: https://gist.github.com/relrod/78a8bbb050a2b0e11959519cc8e40b64

And when I run the container:

[code]

needs_info

[2020-05-18 19:09] #65673 closed, assigned to thaumos

[2020-05-18 19:15] bcoca commented on #69574
simple reproducer:

inventory:
[code]

play
[code]
this shows localhost using the wrong interpreter, the rest of the variables seem correct .

[2020-05-18 19:17] murrahjm commented on #60286
Now that #50923 has been closed what is the status of this bug?

[2020-05-18 20:10] #69586 closed, assigned to samccann

[2020-05-18 20:24] Shrews commented on #69587
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-pro

[2020-05-18 20:24] #69587 closed, assigned to nobody

[2020-05-19 01:16] RekhanagY opened #69591 "Ansible task with become is prompting for password even after having proper permissions"
##### SUMMARY
We have proper permissions to a specific user on the remote server.
(ALL) NOPASSWD: /usr/bin/systemctl stop app.service
(ALL) NOPASSWD: sudoedit /etc/systemd/system/app/data.conf

So if we want to stop service we would login to the host and perform : sudo stop app.service. Which is working fine. and even we can do sudo copy: sudo cp /tmp/data.conf /etc/systemd/system/app/data.conf

B

[2020-05-19 01:28] jfttpt commented on #69289
Thanks, followed your method, it works

[2020-05-19 02:19] guliaka commented on #69589
Well, if I manually patch with diff from fix in this repo it work. I guess this fix did not make it in main RHEL repo yet. Almost 6 month and not there yet (((

[2020-05-19 02:37] ptMcGit commented on #42090
@bendoh

Ran into this issue today.

I attempted to setup a PR, but realized that I can't do that as this module is community-maintained.

Just to recap--

The exception ("no such file...") is raised by `filecmp.cmp(b_fullpath, b_dest)` when `b_fullpath` is a broken symlink (`b_dest` is the name of the archive output file). The exception is raised because the filename doesn't point to an existing

[2020-05-19 05:03] meiry commented on #69289
Great!

[2020-05-19 05:49] mkrizek commented on #69589
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-05-19 05:49] #69589 closed, assigned to nobody

[2020-05-19 07:41] MarkusTeufelberger commented on #23220
The `apt` module clearly is in `core`, not any collection afaik.

@Taoquitok - is that PR of yours mergeable or still WIP? It needs at least a rebase and you probably should remove the "WIP" from the title if you think it could be merged. Would be nice to have this in Ansible after a few years now.

[2020-05-19 09:29] pengzhimou opened #69594 "ipmi_power for ipmi v1 is not working"
##### SUMMARY

Recently we found an issue of this module working with ipmi v1:

the UCS sever apply IPMI v1 protocol, not v2. current code use ipmi_power module which has compatible issue
•	name: Send IPMI reset request if the host is a physical server
ipmi_power:
name : "{{ hostvars[input_node].host_ipmi.ipmi.ip }}"
user : "{{ hostvars[input_node].host_ipmi.ipmi.username }}"
password: "{{ hostvar

[2020-05-19 09:57] franmgal opened #69595 "winrm send_input failed . Bad HTTP response returned from server. Code 500"
##### SUMMARY
Using win_ping results in the error below. It worked several times until suddenly began to fail.
Checked the user limits in windows host and they are ok.
Checked winrm connectivity from another windows host and it runs commands without errors.
Checked playbook with another windows server (different version, 2012r2) and no issues found.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2020-05-19 09:57] FirstInternetUser commented on #58307
Any updates to this? I cannot use this at all

[2020-05-19 10:01] luckyzor commented on #29639
Hello, any news on this?

Add a shell command after each "backup" is not very good.

thank you

[2020-05-19 10:08] max-wittig commented on #66943
This could also be solved by ansible dropping python2 support 😉

[2020-05-19 10:13] netgtz commented on #69584
added tags to rescue to solve issue

[2020-05-19 10:13] #69584 closed, assigned to nobody

[2020-05-19 10:33] martinpitt opened #69597 "copy with remote_src fails to create destination directory"
##### SUMMARY
copy plugin with remote_src does not create destination directory even though the [documentation](https://docs.ansible.com/ansible/latest/modules/copy_module.html) says that it does:

"If dest is a non-existent path and if either dest ends with "/" or src is a directory, dest is created."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

#####

[2020-05-19 11:18] mohag commented on #42563
(In most cases nowadays I just use the mode as a string... The documentation can still do with some notes about that though...)

(The number that it gets converted to (with the loop I assume) is still valid permissions)

[2020-05-19 11:34] darkdragon-001 opened #69598 "Allow "vars_files" with "include_tasks""
##### SUMMARY
I would like to use `include_tasks` module together with `vars_files`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
_empty_

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE
This should run `task.yml` with the item specific configuration. `vars` works, so `vars_files` should be not be a problem to im

[2020-05-19 11:49] darkdragon-001 opened #69599 "Allow become for "include_tasks""
##### SUMMARY
I would like to use `include_tasks` module together with `become`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
_empty_

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Run all tasks in `task.yml` as `root`.

##### ACTUAL RESULTS

    'become' is not a valid attribute

[2020-05-19 12:05] mkrizek commented on #69599
This is already possible by using `apply` parameter, please see documentation at https://docs.ansible.com/ansible/latest/modules/include_tasks_module.html.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-19 12:05] #69599 closed, assigned to nobody

[2020-05-19 12:16] darkdragon-001 commented on #61420
Any progress on this?

[2020-05-19 13:31] dglinder commented on #58307
I have left the company where I was able to produce this bug at will.  The issue was that a brand new install of RHEL-6 did not have the `/lib/modules/2.6.32-754.el6.x86_64/modules.builtin` file created.  In a note I made in the PR, I said it appears that the Red Hat EL 6 "2.6.32-754.15.3.el6.x86_64" kernel package deletes this when the kernel is upgraded.

The fix I proposed in the PR was to catc

[2020-05-19 15:28] sivel commented on #69444
I found some related info, about a problem travis-ci had. Linking here just for reference: https://github.com/travis-ci/travis-ci/issues/8920

[2020-05-19 15:31] mx-psi opened #69600 "Add special variable with Galaxy installation information"
##### SUMMARY

The Ansible Galaxy component creates a file with installation information, currently including the version and installation date of the installed role:

https://github.com/ansible/ansible/blob/bc41dd45141f627b31fbb04443fbaa1ea0c7d1d4/lib/ansible/galaxy/role.py#L149-L154

It would be useful to have a [special variable](https://docs.ansible.com/ansible/latest/reference_appendices/spec

[2020-05-19 15:39] jimi-c commented on #69563
Hi @meiry we're going to go ahead and close this as the PR above should fix it once merged. We'll working on getting that done as soon as possible.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/foru

[2020-05-19 15:39] #69563 closed, assigned to nobody

[2020-05-19 15:46] jimi-c commented on #69572
Hi @Yajo, it would be better to open this issue in https://github.com/ansible-collections/community.general, as it would most likely be created there. As such, we're going to go ahead and close this here.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2020-05-19 15:46] #69572 closed, assigned to nobody

[2020-05-19 15:58] jimi-c commented on #69594
Thank you very much for your interest in Ansible.

This module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tip

[2020-05-19 15:58] #69594 closed, assigned to nobody

[2020-05-19 16:02] bcoca commented on #69598
you already have something similar:
[code]

[2020-05-19 16:11] rajsshah86 opened #69602 "azure_rm_deployment doesn't honour "dependson" function"
##### SUMMARY
azure_rm_deployment marks the TASK failed when using **dependson** under template ( either in YML format or when using JSON file as template).
The same JSON file works fine when using with command

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 3.10.0-1062.1.1.el7.x86_6

[2020-05-19 16:13] mivanov-its opened #69603 "become has no effect on local host for delegated tasks"
##### SUMMARY

"become" has no effect on local host for delegated tasks. Connection to a remote ("delegate_to") host is initiated in the context of the user that executes the playbook. The "become" directive is ignored, however, one would expect the connection to the remote host to be initiated in the context of the user supplied via the parameter "become_user" for that task.

This is either a bug

[2020-05-19 16:26] rndmh3ro commented on #43166
Still happens with 2.9.1.

[2020-05-19 16:37] mrled commented on #63784
This bug caused a significant problem for me. We used the random filter with a seed as part of a generated password, and upgrading our Ansible deployments from Python 2 to Python 3 broke our password generation scheme. (I feel compelled to note that our password also included cryptographically-strong random data generated by another source.)

Is there anything I can do to help? I'd be happy to sub

[2020-05-19 17:38] OrZehavi commented on #69497
I was able to reproduce it in a container.
I used @relrod's Dockerfile with a few changes:
1. While installing createrepo libxml2-python was also installed, so I removed it after I used createrepo.
2. I changed enabled to 0 from 1 in the repo file (although it didn't seem to affect the issue).

See the attached files with the changes:
[ansible_yum_bug.tar.gz](https://github.com/ansible/ansible/fil

[2020-05-19 18:52] sivel commented on #69591
You cannot whitelist commands in sudoers that ansible is allowed to execute. We do not only call individual commands with sudo, we effectively call the shell as sudo.

https://docs.ansible.com/ansible/latest/user_guide/become.html#privilege-escalation-must-be-general

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2020-05-19 18:52] #69591 closed, assigned to nobody

[2020-05-19 18:55] sivel commented on #69603
I believe there is a misunderstanding about `become_user` vs `remote_user`.

`become_user` specifies the user to become through privilege escalation, not the user that will be used for connecting to the remote host.  Specifying the user to connect as, happens via the `remote_user` in a play, or `ansible_user` in inventory.

If you have further questions please stop by IRC or the mailing list:

[2020-05-19 18:55] #69603 closed, assigned to nobody

[2020-05-19 18:55] sivel commented on #69602
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-19 18:55] #69602 closed, assigned to nobody

[2020-05-19 19:08] relrod commented on #69497
@OrZehavi thanks, will look into this.

[2020-05-19 19:24] METAJIJI commented on #36129
Just `pip install passlib`

https://docs.ansible.com/ansible/latest/user_guide/playbooks_prompts.html

[2020-05-19 19:56] marwatk commented on #24425
We ran into this issue without trying to use vaults in the play. Given an encrypted vault in a `group_vars/all.yml` like this:

[code]

These were the results we found trying to use it in various ways:
[code]

[2020-05-19 20:44] sebfere commented on #28382
Thanks @chey  This works :)

Ansible 2.8.11

This allows you to create a standalone container attached to the _my_network_ swarm overlay network:

[code]

You can then deploy a Swarm stack in which some container services will connect to the standalone container.
The network has to be defined like this in the compose file:

[code]

[2020-05-19 20:53] asifmahmud commented on #69597
Can confirm that this bug is present on Ansible 2.10.0.dev0 as well.

[2020-05-19 21:01] bcoca commented on #69574
@sshnaidm  can you confirm the PR above fixes the issue for you?

[2020-05-19 21:08] AdmiralNemo opened #69606 "Discovered interpreter path not used on delegated hosts"
##### SUMMARY
Delegating a task to another host that uses a different Python interpreter always fails.  This was reported previously (#61002, #63180), but the fix (#64906) does not seem to have resolved the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
discovered_interpreter_python

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control machine: Ansi

[2020-05-19 21:23] sivel commented on #69606
I don't think this is the same issue that #64906 fixed.  It is related though. I think you need https://github.com/ansible/ansible/pull/69244 + https://github.com/ansible/ansible/pull/69604

#64906 made sure we delegate the fact to the proper host.

The other 2 fixes (one merged, the other not), ensure that delegating uses the right facts/vars.

cc @bcoca

[2020-05-19 21:26] darkdragon-001 commented on #69598
@bcoca: Does this make the variables from file available as children of `listed`?

[2020-05-19 21:26] GomathiselviS commented on #67631
needs_info

[2020-05-19 21:27] #67412 closed, assigned to GomathiselviS

[2020-05-19 22:02] sshnaidm commented on #69574
@bcoca confirming, everything works with it. Thanks!

[2020-05-19 22:07] bcoca commented on #69606
#69604 should be the fix for this specific issue, but both it and #69244 need to be backported together for 'final fix'.

[2020-05-19 22:56] scentoni opened #69607 "User module fails on macOS 14 when run twice"
##### SUMMARY

Creating a user with the user module works but running the same module a second time fails with the message
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Run this command twice:

[code]

##### EXPECTED RESULTS

When run a second time, the user modul

[2020-05-20 06:12] fawaf opened #69610 "support slack block kits"
##### SUMMARY

support slack block kits, similar to the `attachments` parameter of the slack module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

slack notifications module

##### ADDITIONAL INFORMATION

slack considers attachments a legacy functionality: https://api.slack.com/messaging/composing/layouts#when-to-use-attachments. they recommend using block kits.

[code]

more details her

[2020-05-20 06:33] mkrizek commented on #69610
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-20 06:33] #69610 closed, assigned to nobody

[2020-05-20 07:29] ShubhamGundawarIBM opened #69611 "Could not import the pyhelm python module. Please install `pyhelm` package."
##### SUMMARY

I am trying to install a helm chart through ansible, but I am getting pyhelm python module could not import, even after pip installing pyhelm. I can do import pyhelm through python.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Helm module for Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL

##### STEPS TO REPRODUCE

[code]

[2020-05-20 07:31] psv1979 commented on #69446
Just an addition.

Have updated to Ansible 2.9.9. The warning still exists.

[2020-05-20 07:54] rubber-side-down commented on #68400
It's masking the non-json (response.content) value as well. Adding the facts to the debug msg confirms this:
[code]
[code]
`'something-with-********' in value_content` returns `False` because the test is incorrect. It tests whether something-with-******** is a key in value_content rather than whether the string exists in the content. Changing the test to `'something-with-********' in value_content

[2020-05-20 08:04] tw-alexb opened #69612 "docker_login set insecure config.json permission"
##### SUMMARY

docker login credentials are only base64 encoded in config.json. So everyone who has access to config.json is able to get and read the docker login credentials

Module docker_login creates docker config file config.json with insecure
permissions. Permission is set to '0644' but expect '0600'.

docker itself sets the following permissions in they own code
https://github.com/moby/moby

[2020-05-20 08:23] IgorOhrimenko opened #69613 "os_server failed when the cloud does not have security-groups"
##### SUMMARY

My cloud does not have security-groups. First run os_server is success, but subsequent is fail.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openstacksdk           0.46.0
python-openstackclient 5.2.1.dev22

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The status

[2020-05-20 08:40] hungluong5791 commented on #68400
@rubber-side-down Why is that the case? The module example seems to indicate that it is just a string:
[code]

[2020-05-20 08:40] mivanov-its commented on #69603
Hi @sivel,

privilege escalation is done twice.

Once on the local host:

[code]

A second time on the remote host:

[code]

You can also ignore the second privilege escalation if you wish as it is not directly to the problem I want to point out here. It was intended to make the point more clear.

The problem is, that according to my understanding from Reference [2]:

[code]

The connection to the

[2020-05-20 09:17] lucc opened #69614 "openssh_keypair does not ignore comment as documented"
##### SUMMARY

The docs of the `openssh_keypair` module say about the `comment:` that

but the module checks and updates the comment even if all other parameters are equal.

##### ISSUE TYPE
- Bug Report

(I am reporting this as a bug instead of a documentation bug because I would prefer the documented behaviour over the actual)

##### COMPONENT NAME
openssh_keypair

##### ANSIBLE VERSION

[code]

[2020-05-20 09:22] seanodea opened #69615 "different host:port combinations are treated as the same host"
##### SUMMARY
inventory:
[k8s-outside]
127.0.0.1:2223
127.0.0.1:2224 <-vagrant host forward port

ansible -i hosts k8s-outside -m ping

print result:
127.0.0.1 | SUCCESS => { <--- only one reply
    "changed": false,
    "ping": "pong"
}

It would be nice if ansible treated these as separate so I could do one run for both boxes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE V

[2020-05-20 11:52] SHUFIL opened #69616 "not able to take single table dump from postgresql using ansible"
##### SUMMARY

I have used postgresql_db module, but its taken full schema backup, target_opts I mention both schema and table, but again its taken full schema with all table, or we need to use a different module?
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_db module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### STEPS TO

[2020-05-20 12:18] mkrizek commented on #69616
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-20 12:18] #69616 closed, assigned to nobody

[2020-05-20 12:19] mkrizek commented on #69614
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2020-05-20 12:19] #69614 closed, assigned to nobody

[2020-05-20 12:19] mkrizek commented on #69612
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-20 12:19] #69612 closed, assigned to nobody

[2020-05-20 12:23] mkrizek commented on #69613
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum

[2020-05-20 12:23] #69613 closed, assigned to nobody

[2020-05-20 12:31] SHUFIL commented on #69616
yes.. i have created the new case with using above URL,
https://github.com/ansible-collections/community.general/issues/384

[2020-05-20 12:48] bcanterac commented on #57099
Hi, I am actually hitting this same issue here, when trying to add a role to a group that is only in a specific domain, I am geting "group not valid" message. Tested with openstack stein and ansible 2.9.0.

[2020-05-20 13:54] sadok-f commented on #65113
We're facing the same error, a task `gitlab_project` to create a project if not exist, running in a loop, most of the projects it succeed but one project failed with error
`"msg": "Failed to create project: 400: {u'path': [u'has already been taken'], u'name': [u'has already been taken'], u'limit_reached': []} "`
despite it was running before without any issue.

[2020-05-20 14:16] wkoot commented on #63784
Sadly version=1 argument on its own does not solve this problem, see the Notes section of the bug report

[2020-05-20 14:24] alcoralcor commented on #34156
I agree with @goldencut , these folders (host_vars and group_vars) are often used to store "variable" things :

- usual variables, as autoloaded ansible yaml files (documentation says looking for "Valid file extensions include ‘.yml’, ‘.yaml’, ‘.json’, or no file extension." in these two folders)
- files, as we often have to upload, like keys, certificates, static config (because sometime it's qui

[2020-05-20 14:29] bcoca commented on #69615
You can get the behaviour you want but it requires using aliases and ansible_host

[code]

[2020-05-20 14:34] bcoca commented on #69446
!component =lib/ansible/executor/interpreter_discovery.py

[2020-05-20 14:45] alcoralcor commented on #34156
I forgot to mention this probably concern module "host_group_vars"
Maybe something is configurable in ansible.cfg ?

[2020-05-20 14:56] goneri commented on #57643
Moved to Trello: https://trello.com/c/E1vbV9YN/87-test-suite-should-not-come-with-validatecertsfalse-by-default

[2020-05-20 14:56] #57643 closed, assigned to nobody

[2020-05-20 15:02] goneri commented on #58592
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-05-20 15:09] goneri commented on #49447
Hi @xenlo, if the issue still exist, can you please reopen it in https://github.com/ansible-collections/vmware.

[2020-05-20 15:24] gdevenyi opened #69619 "Default specified in documentation for ansible_run_tags is incorrect"
##### SUMMARY
ansible_run_tags documentation says the default is empty ("[]") at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#tags-run

However when running a debug print with no tags specified, we get this output:

[code]

[code]

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2020-05-20 15:35] Elyytscha opened #69621 "ipa_dnsrecord not capable of handling dns entrys with multiple values"
##### SUMMARY
ipa_dnsrecord not possible to add multiple records to an srv // a what ever record
**https://github.com/ansible/ansible/issues/33193**
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipa_dnsrecord

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-05-20 15:38] equinox0815 commented on #57220
Any updates on this? At least consider to update the documentation to not mention the environment variables that don't work.

[2020-05-20 16:03] robertcrews opened #69625 "win_find size parameter not honored for directories"
##### SUMMARY
Trying to identify empty directories.
When using win_find to search for files of file_type: directory, the size: -1 has no effect.  The resulting selection set includes directories where the reported size is >0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_find
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targets are Windows2012 ser

[2020-05-20 16:08] #66943 closed, assigned to nobody

[2020-05-20 16:34] relrod commented on #67245
@graudeejs This actually does work the same way on FreeBSD and on Linux.

The way it works is to try filesystem ACLs first, then try chown (which will usually fail -- in most setups, an unprivileged user cannot chown something to another user), then try allow_world_readable_tmpfiles if set.

I am guessing one of the following applies to you, either:

* You're using the default filesystem (UFS), wh

[2020-05-20 16:34] #67245 closed, assigned to relrod

[2020-05-20 16:45] Shrews commented on #69621
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-05-20 16:45] #69621 closed, assigned to nobody

[2020-05-20 17:07] mrled commented on #63784
Ah hah, you're right; I didn't realize that the reproducibility guarantee only covered `.random()`, but not `.randrange()`. Unfortunately, Ansible uses `.randrange()`.

I think there is at least a case for a documentation bug here. The documentation currently says that the `random` filter will return the same output given the same input, but that's not true when upgrading older versions of Python,

[2020-05-20 17:45] astuckey123 commented on #30081
This is really sad to a new ansible starter - trying to convince org to migrate from omg CF in AWS to ansible, but keeps creating new EIPs every run.  Back to salt or god forbid CloudFormation?.  Can I help to make this real, can't believe it is from 2017.

[2020-05-20 17:57] kaikousa commented on #30081
@astuckey123 I recommend to look for some other tool for provisioning AWS resources, Ansible is pain in the ass in that job and you will run into similar situations soon enough. In the end I wrote loads of custom modules and patched things by hand. For new stuff we've migrated to Terraform which has been a pleasure.

That being said, Ansible is still a good tool for some things and I keep on using

[2020-05-20 18:21] GustavoVentura commented on #61635
Hi guys, I tried including the line with sourceSnapshot in the request and it worked, but when creating a disk without snapshot, it fails.

[2020-05-20 19:57] jrmcdonald commented on #68851
@s-hertel @imjoseangel Hi, I apologise for tagging you directly, however the original reporter has not responded. Is the information I posted above suitable to help diagnose this issue?

[2020-05-20 20:45] michaelkozakovsc commented on #45214
Any progress on this?

[2020-05-20 20:50] wawa19933 commented on #66916
This error is thrown even when used in `vars` section of template module.

I have found that it does not fail in virtualenv, but throws when using Ansible from system package (ArchLinux, Ansible 2.9.9). In virtualenv, however the same version works (pyenv virtualenv using system Python).

[2020-05-20 21:15] wkoszek opened #69633 "Unarchive could allow me to create a new directory"
##### SUMMARY
It would be very nice if I could just say: unarchive URL to my machine to directory X, and have the `unarchive` plugin create the output directory for me.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Unarchive module

##### ADDITIONAL INFORMATION

I always have 2-3 ZIPs with the most up-to-date tools I need, and I kinda want to do:
- for each ZIP
- unpack it to dirs A, B a

[2020-05-20 21:29] jborean93 commented on #69625
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Just like the `find` module, using `size` to filter folders is not supported
   * Technically folders don't have a size, the only way possible to do this is to

[2020-05-20 21:29] #69625 closed, assigned to nobody

[2020-05-20 21:30] relrod opened #69634 "-K option no longer works for become_password"
##### SUMMARY

After 2165f9ac40cf212891b11a75bd9b9b2f4f0b8dc3, `-K` no longer works for become password.

#69629 has a fix to send it to the plugin and get things working again, but @bcoca suggested we should try to do something other than threading it through TQM -> play_context.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become, task_executor

##### ANSIBLE VERSION

devel after 2165f9a

[2020-05-20 21:36] jborean93 commented on #68610
This module has been moved to the [community.windows](https://github.com/ansible-collections/community.windows) collection. Please direct all bug/feature requests to that collection.

IIRC this was potentially fixed recently so that collection's version may work for you.

[2020-05-20 21:36] #68610 closed, assigned to nobody

[2020-05-20 21:37] jborean93 commented on #66561
Feature requests for new Windows modules should be directed to https://github.com/ansible-collections/community.windows.

[2020-05-20 21:37] #66561 closed, assigned to nobody

[2020-05-20 21:43] jborean93 commented on #54837
The `win_chocolatey` modules have been migrated to the [chocolatey.chocolatey](https://github.com/chocolatey/chocolatey-ansible) collection. Any bugs or features should be directed to that repo.

[2020-05-20 21:43] #54837 closed, assigned to nobody

[2020-05-20 21:49] banicr opened #69636 "unable to deploy byol bigIP for 3 NICs in azure using ansible arm template with dynamic values"
I am trying to create azure VM using ansible playbook with arm template.

This works fine if i only use the arm template which already has the default values set in that template.

But if i try to overwrite those default values by passing them dynamically in some other file, it does not take those values. It takes the default values only.

And if i try to remove the defaultvalues fields in the arm

[2020-05-20 22:38] queglay commented on #69383
I figured a file copy first and checksum on the copy would be better than no checksum at all.

[2020-05-20 22:53] #68532 closed, assigned to bcoca

[2020-05-20 23:14] rootwyrm opened #69638 "Interface ipv4 facts not correctly typed on FreeBSD"
##### SUMMARY
As of 2.9.7, ansible facts for FreeBSD appear to no longer collect or present correctly for interfaces. Instead of a type of `dict`, `ansible_facts['interface']['ipv4']` is now a `list`. On other operating systems, it is still a `dict`.
This breaks certain common simple usages, such `ansible_facts['em0']['ipv4']['address']` or `ansible_facts['em0']['ipv4']`
Please note that in the ex

[2020-05-20 23:42] bcoca commented on #34156
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The host_vars and group_vars directories are exclusively for variables, for generic files you would want to use a files/ directory adja

[2020-05-20 23:42] #34156 closed, assigned to nobody

[2020-05-21 00:03] bcoca commented on #45214
No, there is no plans to add this to Ansilbe as it would make us subject to CWE-214 and you already have a simple workaround if you REALLY want this feature.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourage open dialog.

You can stop by the development list, and we'd be glad to talk about

[2020-05-21 00:03] #45214 closed, assigned to nobody

[2020-05-21 00:36] bcoca commented on #69619
internally 'all'  and [] are equivalent, but we should make sure docs and variable reflect things consistently.

[2020-05-21 01:14] brad-x commented on #68072
Can confirm after mention by @s-hertel and my own testing that [this PR](https://github.com/ansible-collections/amazon.aws/pull/33) from the community amazon.aws collection fixes the issue mentioned here. Hope this helps.

[2020-05-21 01:44] gdevenyi commented on #69619
It matters when trying to do something like
[code]

At first guess I wrote a test for an empty ansible_run_tags and was surprised when my command didn't work.

[2020-05-21 01:47] artis3n commented on #45214
Your call on closing this - I would just add that you mention CWE-214 as a reason not to accept the ansible-vault password via an env var or flag. Accepting it via a file on the file system makes Ansible subject to the following:

- [CWE-313](https://cwe.mitre.org/data/definitions/313.html)
- [CWE-260](https://cwe.mitre.org/data/definitions/260.html)
- [CWE-256](https://cwe.mitre.org/data/definiti

[2020-05-21 02:04] gparent commented on #27816
This still affects 2.9.

Simpler example playbook:

[code]

[2020-05-21 02:32] gparent commented on #27816
While I'm not super familiar with the Ansible code base, I see that around https://github.com/ansible/ansible/blob/9281148b623d4e2e8302778d91af3e84ab9579a9/lib/ansible/plugins/action/__init__.py#L616 there may be room for reporting connection failures more clearly which the module could then use.

[2020-05-21 03:49] Tomorrow9 commented on #47329
There is pull request [ansible-collections/vmware#190](https://github.com/ansible-collections/vmware/pull/190) for this feature request.

[2020-05-21 03:51] Tomorrow9 commented on #43000
There is pull request [ansible-collections/vmware#190](https://github.com/ansible-collections/vmware/pull/190) for this feature request.

[2020-05-21 03:53] Tomorrow9 commented on #42995
This pull request [ansible-collections/vmware: #65](https://github.com/ansible-collections/vmware/pull/65) has been merged, so I'll close this issue. Thanks.

[2020-05-21 03:53] #42995 closed, assigned to Akasurde

[2020-05-21 05:03] mkrizek commented on #69636
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-21 05:03] #69636 closed, assigned to nobody

[2020-05-21 05:31] ShubhamGundawarIBM opened #69639 "helm module fails with StatusCode.UNAVAILABLE error"
##### SUMMARY

Trying to run helm module in ansible to install helm charts
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Helm module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The chart should be installed

##### ACTUAL RESULTS

[code]

[2020-05-21 05:37] Akasurde commented on #69611
@ShubhamGundawarIBM Could you please check if you are using the same python environment for installing `pyhelm` and using ansible? You can use `pip show pyhelm` and `ansible --version` command to verify the Python environments.

FYI, [`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecate

[2020-05-21 05:41] ShubhamGundawarIBM commented on #69611
@Akasurde
Ansible --version:
[code]
Name: pyhelm
Version: 2.14.5
Summary: Python bindings for Helm: Kubernetes package manager
Home-page: https://github.com/flaper87/pyhelm
Author: OpenStack
Author-email: openstack-dev@lists.openstack.org
License: UNKNOWN
Location: /home/devops/.local/lib/python2.7/site-packages
Requires: botocore, boto3, grpcio, requests, grpcio-tools, protobuf, supermutes, PyYAM

[2020-05-21 05:42] ShubhamGundawarIBM commented on #69611
@Akasurde
How to use the new helm module, Cause the ansible documentation is not updated

[2020-05-21 05:48] Akasurde commented on #69611
Your Ansible installation is using Python modules from `/usr/local/Cellar/ansible/2.9.6_3/libexec/lib/python3.8/site-packages/` (please see `ansible --version` command) whereas `pyhelm` is installed `/home/devops/.local/lib/python2.7/site-packages`. Use `pip` from Python 3.8 to fix problem.

In order to use a new module, you need to use Kubernetes Ansible collection - https://github.com/ansible-co

[2020-05-21 05:53] ShubhamGundawarIBM commented on #69611
@Akasurde
So my ansible is running on my mac, and my remote machine where the tasks are executed is RHEL, Both have a different version of python will this affect?

[2020-05-21 05:58] Akasurde commented on #69611
@ShubhamGundawarIBM Can you ping me (@akasurde) on #ansible-devel or #ansible channel hosted on irc.freenode.net?

[2020-05-21 06:30] Akasurde commented on #69611
Issue resolved by using `ansible_python_interpreter`.

[2020-05-21 06:30] #69611 closed, assigned to Akasurde

[2020-05-21 06:31] Akasurde commented on #69639
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) based upon `helm` command.

[2020-05-21 06:31] #69639 closed, assigned to Akasurde

[2020-05-21 07:28] eddy-resnick commented on #69580
Is anyone looking at this issue?

[2020-05-21 07:31] mkrizek commented on #69580
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/oVirt/ovirt-ansible-collection.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-21 07:31] #69580 closed, assigned to nobody

[2020-05-21 07:37] eddy-resnick commented on #69580
Dear Martin et al.
Thank you for the update.
I would like to know if this issue if fixed in the new repository.
Sincerely.
Eddy

From: Martin Krizek <notifications@github.com>
Sent: Thursday, May 21, 2020 10:32 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Eddy Resnick <edward@BYNET.CO.IL>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] ovirt_vm parameter cloud_init do

[2020-05-21 08:16] 0xdc commented on #58962
machinectl has the `copy-to` command, so we could copy the script into the chroot. I believe it should also work with disk images (I don't use disk images so am unable to test).

Another method is the `/run/systemd/nspawn/incoming` directory, but this only works when the become user is root and the container is not using private user namespaces.

Could the interpreter path can be modified? I'd wan

[2020-05-21 10:47] graudeejs commented on #67245
Can't this be implemented in two steps (it would then work on anything, provided user has permission to become privileged user in first place)?
Step 1: Become privileged user (root)
Step 2: Become unprivileged target user

[2020-05-21 10:54] NilashishC commented on #68405
@kkostenko can you please check if the patch in https://github.com/ansible-collections/cisco.nxos/pull/68 solves this issue for you?

[2020-05-21 11:54] itsgodzilla opened #69641 "get_url module always raise out "HTTP Error 401: basic auth failed"
##### SUMMARY
### get_url module always raise out "HTTP Error 401: basic auth failed

Here is my playbook which used get_url module, when I ran it , it caused 401 error.
( just like the other guy said. Here is his issue:
https://groups.google.com/forum/#!topic/ansible-project/AtP7ifLzdjk
.)
[code]

Is anybody can give some help?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible get_url

[2020-05-21 12:28] Taoquitok commented on #23220
Hey @MarkusTeufelberger

Thanks for chasing this, it's dropped off my radar for a long time, so thanks for the nudge.
Looking at the PR I need to fix a merge conflict, but otherwise it's mergeable if people don't mind that there isn't 100% test coverage.
In [the PR](https://github.com/ansible/ansible/pull/61500#discussion_r350857772) I've covered how the test coverage is blocking completion of the

[2020-05-21 12:36] jdnrg commented on #62302
salt has a similar issue https://github.com/saltstack/salt/issues/53884

Here is the snipped of code to add : https://github.com/martinklie/Python-Lambda/blob/b31dd9d8c45ca4ed4302543ee6e4c3fc70351dae/BRAWSAccountLock.py
It seems very straightforward:
something like this
[code]

[2020-05-21 12:51] jdnrg commented on #62302
[code]
from here https://github.com/tmknom/terraform-bucket-initializer/blob/a68a0c0d1f20dc3b3bd5baeaf3b8372953de6e70/init#L49

[2020-05-21 13:41] devdil commented on #43000
Thank you Diane.

On Thu, 21 May 2020 at 9:21 AM, Diane Wang <notifications@github.com> wrote:

[2020-05-21 13:42] jvalderrama commented on #51062
@Fred-sun Great!! I am going to close this issue and re-submit it to the new migrated repository.
Many thanks

[2020-05-21 13:42] #51062 closed, assigned to nobody

[2020-05-21 14:00] jdnrg commented on #62302
This is what I did in my variables ```
public_access_block:
  BlockPublicAcls: true
  IgnorePublicAcls: true
  BlockPublicPolicy: true
  RestrictPublicBuckets: true

pipeline_s3_bucket_shell: >
  aws s3api
  --profile "{{aws_profile}}"
  put-public-access-block
  --bucket "codepipeline-{{clean_pipeline_name}}"
  --public-access-block-configuration '{{public_access_block | to_json}}'
[code]
- name

[2020-05-21 14:02] sivel commented on #69641
You may need to use `force_basic_auth`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-21 14:02] #69641 closed, assigned to nobody

[2020-05-21 14:18] kkostenko commented on #68405
on it... I shall be able to test it next week.

[2020-05-21 14:29] vickey123 opened #69643 "get_url failed to download aws cli version2"
##### SUMMARY
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url
##### ANSIBLE VERSION
[code]

##### ACTUAL RESULTS
[code]

[2020-05-21 15:03] chaitu-tk commented on #22716
+1 most handy, esp. for intensive and time taking tasks (Eg: testing multiple Linux kernels in QEMU)

[2020-05-21 15:07] jamesfreeman959 opened #69644 "Unable to set dconf string values using native dconf module"
##### SUMMARY

I am trying to write a playbook to set the VNC password using dconf for a new server build. It works if I use the dconf CLI tool in the shell, but when I attempt to replicate this in a playbook using the Ansible dconf module, I receive an error about the value I am writing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2020-05-21 15:09] sivel commented on #69644
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-05-21 15:09] #69644 closed, assigned to nobody

[2020-05-21 16:50] bcoca commented on #67245
@graudeejs you misunderstand the problem, that would still leave the unprivileged user unable to access/read the files it needs since they are owned by the remote user

[2020-05-21 16:56] sivel commented on #69643
I cannot replicate this behavior, downloading that file via `get_url` works as expected.  This sounds like an issue in your environment, or a transient network issue that is causing this failure for you.

[2020-05-21 17:55] pgrenaud commented on #27179
It seems that this feature was implemented in #65789. Not able to test, since it's in 2.10, which is not released yet.

[2020-05-21 17:57] pgrenaud commented on #57693
This issue will probably be fixed with #65789.

[2020-05-21 18:04] helder-garcia opened #69649 "Module Find returns empty list when setting path to "/" and depth to 1"
##### SUMMARY
Module "find", when setting path to "/" and depth to 1. The list returned is empty. The reason is that the way currently used to calculate the depth being scanned, against the depth set on the parameter, gives a wrong value for objects under "/", such as "/var", attributing depth 2 to such objects. That way they are not included on the returned list.

##### ISSUE TYPE
- Bug Report

#

[2020-05-21 18:15] rubber-side-down commented on #68400
@hungluong5791 I'm uncertain why this is the case, but it's pretty clear from modifying the debug msg spec that this is the case.

My best guess is that the response.content is being decoded automatically based on the content-type header. The content-type header is "text/html; charset=UTF-8" for http://www.example.com, but it is "application/json; charset=utf-8" for https://postman-echo.com/get?na

[2020-05-21 18:25] sivel commented on #68400
Yes, the request to not mask the values is invalid.  In fact this issues identified that we need to mask more data.

[2020-05-21 19:00] ajaybhatnagar opened #69652 "Unable to Assign fixed IP address to Openstack Instance using os_server"
##### SUMMARY

Unable to Assign fixed IP address to Openstack Instance using os_server
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 :  4.15.0-91-generic

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Instance should get preassigned IP address as possible with openstack cl

[2020-05-21 19:16] samdoran commented on #69574
Closing as duplicate of https://github.com/ansible/ansible/issues/69606

[2020-05-21 19:16] #69574 closed, assigned to bcoca

[2020-05-21 19:17] samdoran commented on #69615
Closing per above.

[2020-05-21 19:17] #69615 closed, assigned to nobody

[2020-05-21 19:41] ChevyNovaLN opened #69654 "VMware: vmware_guest_disk - Datastore Cluster adding multiple disks results in insufficient space (selects same underlying datastore)"
##### SUMMARY
When using the vmware_guest_disk module to add additional disks to a VM, if you specify a datastore cluster, as opposed to a specific datastore,  all of the disk you attempt to add try to be added to the same underlying datastore within that datastore cluster.   If one of the datastores in the datastore cluster specified had the most free space available when starting, every disk you

[2020-05-21 19:42] sivel commented on #69654
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-05-21 19:42] #69654 closed, assigned to nobody

[2020-05-21 19:48] lexluter1988 opened #69655 "PlaybookExecutor in for loop gives KeyError: 'Requested entry (plugin_type: shell plugin: sh setting: environment ) was not defined in configuration.'"
##### SUMMARY
This is more like HowToQuestion.
So, if I have 2 servers, ssh keys on them, and one playbook.
I run PlaybookExecutor in for loop on them and first one goes fine.
But second just failed at TASK [Gathering Facts]  before even ssh to host.
If I reverse servers, the one who goes first will become fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
python api

##### ANSIBLE VERSION

[2020-05-21 19:57] sivel commented on #69655
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2020-05-21 19:57] #69655 closed, assigned to nobody

[2020-05-21 20:02] sivel commented on #69652
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2020-05-21 20:02] #69652 closed, assigned to nobody

[2020-05-21 20:08] viejillo commented on #53379
Hi,
I see the following while deploying an HCI environment
TASK [ovirt.hosted_engine_setup : Always revoke the SSO token] **********************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "You must specify either 'url' or 'hostname'."}
...ignoring

Could this be related?

Thanks.

[2020-05-21 20:17] #68400 closed, assigned to nobody

[2020-05-21 20:18] sshnaidm commented on #69574
Interesting, how the earlier issue can be duplicate of later one? :smile:

[2020-05-21 20:35] #66171 closed, assigned to nobody

[2020-05-21 20:55] #69457 closed, assigned to jimi-c

[2020-05-21 21:10] daniel-velinov opened #69658 "Unable to specify https port in Fortios module"
When using the fortios module in Ansible I am unable to connect to FortiOS's api if the web port is different than 443 (8443 in my case)
Where if possible should this be configured, so that the urllib makes request on non standard port

Ansible version: ansible 2.9.9
component name: fortiosapi

 test-forti.yml
- hosts: localhost
  gather_facts: false
  vars:
   host: "172.16.50.1"
   username: "ad

[2020-05-21 21:13] repo-heiko commented on #56464
Hello I corrected the error with the following correction.
lib/ansible/plugins/callback/selective.py
205c205
<                     failed = 'failed' in r
---