[2017-11-20 16:01] peterducai commented on #14987
for me it worked in 2.4.0 but today i'm under Fedora27 with 2.4.1 and got issue again..

[code]

[2017-11-20 16:13] SurferL commented on #33087
The more I try debug this issue, it looks to be more like a SSH connection issue?
[code]

[2017-11-20 16:24] bcoca commented on #14987
@peterducai that error is correct, `include_vars` is an action, so it belongs in a task.
FYI, i only saw this post cause someone commented in IRC, normally we dont see updates to closed issues.

[2017-11-20 16:27] pritho opened #33096 "Unable to delete default created security group rules in OpenStack"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- os_security_group_rule
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
Cannot delete auto-created security group rules on OpenStack

##### STEPS TO REPRODUCE
When creating a new security group with os_security_group:
[code]
--> OpenStack creates a default set of rules allowing any egress traffic:
[code]
--> thi

[2017-11-20 16:29] lifeofguenter commented on #18217
having this issue on 2.4.1.0 as well

[2017-11-20 16:34] pehruby opened #33097 "asa_command replaces password string in output with asterisks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/vagrant/ansible-cpoj/ansible.cfg) = [u'/vagrant/ansible-cpoj/hosts']
DEFAULT_TIMEOUT(/vagrant/ansible-cpoj/ansible.cfg) = 5
HOST_KEY_CHECKING(/vagrant/ansible-cpoj/ansible.cfg) = False

##### OS / ENVIRONMENT

ubuntu/xenial

##### SUMMARY

asa_command replaces

[2017-11-20 16:46] BenMitchell1979 commented on #28389
@jborean93 - After upgrading to v2.5 - still getting the same error when running the following play:

[code]
[code]

[2017-11-20 16:56] Akasurde commented on #28917
resolved_by_pr #28121

[2017-11-20 17:09] #32929 closed, assigned to resmo

[2017-11-20 17:12] bcoca commented on #33070
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-20 17:12] #33070 closed, assigned to nobody

[2017-11-20 17:13] h3po commented on #17686
@jimi-c I'm still experiencing this issue in v2.4.1.0

[2017-11-20 17:21] Akasurde commented on #31810
resolved_by_pr #31925

[2017-11-20 17:38] fadeldamen opened #33101 "Ansible 2.4.1.0 fails on nodes with python 2.4.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

plugins ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
COLOR_VERBOSE(/etc/ansible/ansible.cfg) = white

##### OS / ENVIRONMENT

##### SUMMARY

Ansible fails to run on nodes with python 2.4.3
##### STEPS TO REPRODUCE

ansible -vvvv ext -i clientes_hosts -m ping

[code]

##### EXPECTED RESULTS

#####

[2017-11-20 18:46] vegbrasil commented on #33083
I'm trying to use DigitalOcean Spaces in the same version (` 2.4.1.0`) and can't make it to work.

DO Spaces is a S3 drop-in replacement and in theory should work:

[code]
The output is:

[code]

Am I missing something?

Thanks!

[2017-11-20 19:01] vegbrasil commented on #33083
Adding `rgw: True` changes the error. I can see some upload in the network monitor but it stops after a few seconds.

[code]

[2017-11-20 19:12] bcoca commented on #33064
yep, this is a bug, `utils` is not something modules shoudl be using as it is only accessible at the controller

[2017-11-20 19:15] bcoca commented on #33067
The main reason ... its not a string anymore, its an object that can contain strings and is decrypted on demand.

[2017-11-20 19:20] jborean93 commented on #28389
@BenMitchell1979 you still need to add `become_method: runas` to the task arts so in the end it will look like this

[code]

You can also set it under the var `ansible_become_method: runas` for the host if you don’t want to specify it for each become task you do but that’s up to you.

[2017-11-20 19:22] bcoca commented on #33073
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-20 19:28] bcoca commented on #33101
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible 2.4 dropped support for Python 2.4 and 2.5, so it is not expected to work on such nodes. You can either upgrade/install a suppo

[2017-11-20 19:28] #33101 closed, assigned to nobody

[2017-11-20 19:31] gerhard-tinned commented on #32832
I have no idea what you are talking about. The proxmox node is working perfectly.

In the meantime I have found the reason. It seems to be a known bug in many Ansible modules!!

[2017-11-20 19:33] bcoca commented on #33084
Container repo information
====================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about `ansible-container` which lives in a separate repo.
We would appreciate if you can submit this there instead.

  * https://github.com/ansible/ansible-container

Additionally, should you need more help with this, you can ask que

[2017-11-20 19:35] gerhard-tinned commented on #24440
Stupid bot!!!

##### COMPONENT NAME

Uri

[2017-11-20 19:39] CodingMadeEasy commented on #33073
@bcoca Thanks for replying but it seems as though you've misread my issue.

I'm not saying that Web is being deleted. In fact it's not. I'm saying that the container is not being copied over. The playbook just randomly exits and doesn't give any details as to why it exits. This is a bug.

I'd appreciate it if you could please re-read my issue so you get a better understanding of what my issue is.

[2017-11-20 19:50] shahbhoomi opened #33104 "Able to ping and ssh but not able to install packages using ansible command line"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-20 19:51] #33104 closed, assigned to nobody

[2017-11-20 20:01] nethershaw commented on #23609
I'm encountering it with an even simpler use-case. Our enterprise has a playbook that loops over a role once for each element in a list, like so:

[code]

The fictitious role `botsbuildbots` does not, itself, include any other roles; nor does it have any meta-dependencies that reference any roles with includes. The only thing open-ended is the `with_items` parameter, which may be a list of any len

[2017-11-20 20:15] tchia04 opened #33106 "Please support perforce as a Source Control module"
##### ISSUE TYPE
 - Feature Idea
Please add perforce as a source control type on http://docs.ansible.com/ansible/latest/list_of_source_control_modules.html so I can use it in the AWX project.

Please see https://github.com/ansible/awx/issues/682 for detail.

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[c

[2017-11-20 20:35] bcoca commented on #32914
The 'implicit' localhost does not have that variable defined anymore, this is a product of the new feature that allows mulitple inventory sources, see the porting guide for more info: http://docs.ansible.com/ansible/latest/porting_guide_2.4.html#inventory

[2017-11-20 20:35] #32914 closed, assigned to nobody

[2017-11-20 21:13] sarathi-m opened #33107 "The offending line appears to be: roles: - test-role ^ here"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Create Role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OS Sierra

##### SUMMARY
I have created a new role, but I'm getting an error in running playbook.

`The offending line appears to be:    roles:     - test-role       ^ here`

##### STEPS TO REPRODUCE

[code]

tasks/main.yml has the following conten

[2017-11-20 21:32] pilou- commented on #26322
Related: #21215.

[2017-11-20 21:57] iamsarathi commented on #33107
Here I have attached role files. Please find it.
[test-role.zip](https://github.com/ansible/ansible/files/1489260/test-role.zip)

[2017-11-20 21:58] pilou- commented on #32327
Documentation has been updated (`latest` has been removed, see PR linked above). @misc could you close this one ?

[2017-11-20 21:59] flaf commented on #33067
Ok, thx @bcoca. Do you mean that this behavior can be considered as a bug?

[2017-11-20 22:01] trondhindenes commented on #22789
As long as the same semantics as for msi files are followed, adding support for msp's should be fairly easy I think. Pretty much just add a "handler" for msp to make sure it invokes the "msiexec" part of the code. I don't think this would take too much work to get in.

[2017-11-20 22:05] bcoca commented on #33067
not sure yet, why i left it open.

[2017-11-20 22:08] bcoca commented on #32327
@pilou- , not really, this is a 'feature idea' at this point

[2017-11-20 22:19] kgignatyev-inspur opened #33108 "dynamic inventory does not retrieve us-east-2 from instance in that region"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Dynamic inventory for AWS
ansible/ansible/devel/contrib/inventory/ec2.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
<!---
If using Ansible 2.4 or above, paste the results of "ansible-config dump --only-changed"

DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = [u'/home/centos/inspur/ansible/roles']
##### OS / ENVIRONMENT

centos-release-7

[2017-11-20 22:53] pilou- commented on #29190
This has been implemented in 1943ee7311b721439f19b34d95278696a258d717. @misc could you close this one ?

[2017-11-20 23:38] kgignatyev-inspur commented on #33108
It started to work, for no apparent reasons....

[2017-11-20 23:38] #33108 closed, assigned to nobody

[2017-11-20 23:44] nirzari commented on #1476
@sharuzzaman Were you able to find solution for your problem?
@jimi-c The meta:end_play ends current play but is there anything else that can help exit the playbook itself without "Fail" status in case of multiple plays?

[2017-11-21 00:01] #16826 closed, assigned to nobody

[2017-11-21 00:01] #18108 closed, assigned to nitzmahone

[2017-11-21 00:01] #19825 closed, assigned to nobody

[2017-11-21 00:34] pilou- commented on #32833
[`codename`](https://github.com/ansible/ansible/commit/df70a58d72afab9de57c79069f02caeda978f3fa) parameter has been added in 2.3.0 and is neither listed in `ACTUAL RESULTS`.

@sgutermann could you check installed Ansible version ?

[2017-11-21 01:49] ZhijunZhao commented on #32526
@yaweiw I'm meeting the same issue. So, I simply can not run azure_rm_acs module on my machine.

[2017-11-21 01:53] yaweiw commented on #32526
@zkalino?

[2017-11-21 01:53] Logan2211 commented on #31689
Actually, they were sorted, and 2.4 broke this behavior.
https://github.com/ansible/ansible/blob/c7052b42c76bc626c481f22018d3396b84199a24/lib/ansible/vars/__init__.py#L559-L566

This is a valid bug and the fix in the PR is valid imo. This regression is preventing a smooth upgrade to 2.4 in one of my projects currently.

[2017-11-21 02:24] ZhijunZhao opened #33114 "azure_rm_virtualmachine_scaleset should support Azure Azure Load Balancer with inbound NAT rules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine_scaleset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change at all
##### OS / ENVIRONMENT

macOS 10.13.1
##### SUMMARY

Right now, only subnet is passed to VirtualMachineScaleSetIPConfiguration in the module implementation. In other words, user can not access the provisioned vmss with public ip address.

A

[2017-11-21 02:25] ZhijunZhao commented on #33114
@yaweiw @zikalino

[2017-11-21 02:47] s-hertel commented on #33052
@edesz I can't reproduce this, though I have run into something similar before. In your virtualenv can you manually try ```

<botocore.client.EC2 object at 0x102c1c5d0>

[code]

[2017-11-21 02:56] bcoca commented on #31689
hmm, seems we used to do 1/2 the vars one way, the other 1/2 the other ... sorted does seem more predictable so I'll add it w/o requiring a toggle.

[2017-11-21 02:57] #31689 closed, assigned to nobody

[2017-11-21 03:12] Akasurde commented on #28917
Closing this issue as PR #28121 is merged. If issue persists, please feel free to re-open.

[2017-11-21 03:12] #28917 closed, assigned to nobody

[2017-11-21 04:27] Akasurde commented on #31868
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-11-21 04:27] #31868 closed, assigned to nobody

[2017-11-21 04:30] Akasurde commented on #32862
Closing this issue as PR #32925 is merged. If issue persists, please feel free to re-open.

@mldmld68 Thanks for your contribution.

[2017-11-21 04:30] #32862 closed, assigned to nobody

[2017-11-21 04:32] #25086 closed, assigned to Akasurde

[2017-11-21 05:32] jborean93 commented on #25298
@kcfedun there is now a PR which removes scheduled tasks so this should no longer be an issue https://github.com/ansible/ansible/pull/33118. This requires 2.5 (devel branch) and will be available in the next major release. Feel free to test it out if you are running on devel.

[2017-11-21 05:42] retr0h commented on #13563
I ended up writing [gilt](http://gilt.readthedocs.io/en/latest/) b/c of the nonsense.  I don't ever want to hit roles uploaded to galaxy.  They are usually behind or not released properly, instead I prefer to stick to git branches, tags, or shas.

Also, gilt allows for pathing in the config, and plucking out files inside a repo, which don't need to conform to the meta/main.yml structure galaxy req

[2017-11-21 06:21] ZhijunZhao commented on #32526
@zikalino

[2017-11-21 06:32] ZhijunZhao opened #33120 "azure_rm_functionapp module doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_functionapp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change at all.

##### OS / ENVIRONMENT

macOS 10.13.1

##### SUMMARY

Exceptions as below when creating azure function.

TASK [create basic function app] ************************************************************************************************************
An ex

[2017-11-21 06:33] ZhijunZhao commented on #33120
@zikalino @yaweiw @yuwzhou

[2017-11-21 06:46] #31026 closed, assigned to ganeshrn

[2017-11-21 07:27] ei-grad commented on #32914
It says> The inventory_file remains unchanged, as it was always host specificAnd nothing about broken functionality nor the workarounds :(23:38, 20 ноября 2017 г., Brian Coca <notifications@github.com>:The 'implicit' localhost does not have that variable defined anymore, this is a product of the new feature that allows mulitple inventory sources, see the porting guide for more info: http://docs.an

[2017-11-21 07:36] jpmens commented on #32750
needs_contributor

[2017-11-21 07:36] jpmens commented on #31968
needs_contributor

[2017-11-21 07:37] karlism opened #33123 "hostvars lookup broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OpenBSD 6.2 amd64, CentOS 7.4

##### SUMMARY

`host_vars` and `vars` variable lookup is broken when directory is used as an inventory.

##### STEPS TO REPRODUCE

1) create simple inventory file and place it in `example` file:
[code]
2) create `host_v

[2017-11-21 07:53] karlism commented on #33123
`vars` lookup is working fine in both scenarios, however:
[code]

[2017-11-21 08:17] l3m commented on #33090
@Akasurde I opened a prq to clarify the documentation.

[2017-11-21 08:21] rafi commented on #13563
I switched to using [Git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules).. Simple and efficient.

[2017-11-21 08:32] kustodian opened #33126 "no_log for specific variables/parameters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Core

##### SUMMARY
`no_log` is great if you want to hide the output of some task, which is important especially if the task is working with secrets. The problem with `no_log` is that you cannot see what is going on with the task, which is especially important if it fails.

It would be really good if we could somehow mark specific variables no

[2017-11-21 08:37] boskiv commented on #24440
Whats going on here? Whats a status of this issue?
Is there acceptable way to upload binary file via Ansible now?

[2017-11-21 09:27] Nothingtoloose opened #33127 "Problems displaying German umlauts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I made no changes.
##### OS / ENVIRONMENT

Source: Ubuntu 16.04 LTS
Target: Windows 10 64Bit
##### SUMMARY

The function "win_shell" displays German umlauts incorrectly.
Example:
[code]

##### STEPS TO REPRODUCE

1. Run the following code on the console
[code]

##### EXPECTED RESULTS

[2017-11-21 09:29] f3lang opened #33128 "webdocs don't display nested return values after 1 Level"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

webdocs
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Nested Complex return documentations are not rendered after 1 Level.
##### STEPS TO REPRODUCE

Just run "make webdocs" and look at the results (e.g. for the ec2_instance_facts module). This also affects the official webdocs on http://docs.ans

[2017-11-21 09:47] #21161 closed, assigned to Akasurde

[2017-11-21 09:47] Akasurde commented on #21161
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-11-21 10:30] sean797 commented on #18935
I would still expect `changed: True` if I am doing a DELETE, POST, PUT and maybe some other types of requests.

[2017-11-21 10:44] #33090 closed, assigned to nobody

[2017-11-21 10:46] willthames commented on #33052
The problem could also be that ansible isn't using the virtualenv's python correctly.

You ran the task under `-vvvv` but missed the most important part of the output, which is what python interpreter ran the module. Can you paste the full output of the task?

[2017-11-21 10:47] willthames commented on #22004
Documentation now defaults to latest stable and you have to choose to view the devel docs.

[2017-11-21 10:47] #22004 closed, assigned to nobody

[2017-11-21 10:49] Akasurde commented on #32042
Closing this issue as PR #32671 is merged. If issue persists, please feel free to re-open.

[2017-11-21 10:49] #32042 closed, assigned to nobody

[2017-11-21 10:51] ktibi commented on #26763
+1

[2017-11-21 10:59] willthames commented on #22374
#32059 has tests that demonstrate that this case will be fixed.

[2017-11-21 11:06] willthames commented on #33083
@vegbrasil can you comment on #33085 rather in this issue if the PR doesn't meet your needs.

[2017-11-21 11:10] Akasurde commented on #28250
@jmcginn13 Could you please re-try PB with absolute path with datacenter + folder like

```folder: '/DC0/vm/mcginn'```

needs_info

[2017-11-21 11:14] mlushpenko commented on #28078
Same here, ansible 2.4

task:

[code]

output

[code]

[2017-11-21 11:19] johnreed00 opened #33131 "include_role: Cannot find tasks files in 'include_tasks' statement of included role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

FreeBSD-11.1-RELEASE
##### SUMMARY

Cannot find tasks files from 'include_tasks' statement of included role
##### STEPS TO REPRODUCE

When I include a role from another role, the include statement of the included role is not able to find the file. For example:

Role A includes

[2017-11-21 11:41] tagirb opened #33132 "ansible-playbook ignores localhost-only inventory setting in ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
macOS 10.13 High Sierra

##### SUMMARY
Despite setting the inventory in `ansible.cfg` to `localhost,` `ansible-playbook` tries to parse other inventory sources.

##### STEPS TO REPRODUCE
`ansible.cfg` sets the inventory to localhost-only:
[code]
A t

[2017-11-21 11:51] smurfix commented on #20603
Same issue here, except that the workaround does not work – my handler is first in role/foo/handlers/main.yml, uses a block, but is not found.

[2017-11-21 12:10] mvasilenko commented on #32816
Ok, thank you, for the name, about PR - I've tried to find the code which translates `async: 10` from the playbook to `_async` here

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/task.py#L72

Can you please give me some guidance? Thank you

[2017-11-21 12:26] jalbstmeijer commented on #30425
While testing with ansible instead of ansible-playbook, I found with

ansible -m debug -a "var=hostvars" host

I was not getting any vars defined in host_vars/ and group_vars/ .

With strace I found it was looking for inventory/host_vars/ and  inventory/group_vars/ instead.
after creating symlinks for inventory/host_vars/ and  inventory/group_vars/ all seems to behave as expected again.

Now Again

[2017-11-21 12:27] Akasurde commented on #22644
@ikkaro I have added conditional required statements for 'folder' in above PR. Could you please test this patch and let me know if it is works for you?

[2017-11-21 12:28] Akasurde commented on #22644
resolved_by_pr #33135

[2017-11-21 12:39] newswangerd commented on #32159
For me the problem was that the network arg is supposed to be a list of dictionaries, not just a list.

Take a look at the arg spec http://docs.ansible.com/ansible/latest/docker_container_module.html

I think it's supposed to be something like
[code]

[2017-11-21 12:54] alexanderlindholm opened #33137 "Dynamic inventory does not fail the build if it fails to query for host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Dynamic Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking=False
inventory=inventory/
pipelining=True

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

If the dynamic inventory ec2.py fails for some reason the build still continues and executes the script. This should fail the build as it did before in

[2017-11-21 12:55] lemmy04 commented on #13175
I'm having the same issue (?) on openSUSE Leap 42.3, symlinking the ca bundle into /etc/ansible did not work.

[2017-11-21 13:04] SurferL commented on #33087
Seems like the issue might be with OpenSSH on Windows with Control persist turned on.

Removing `-o ControlMaster=auto -o ControlPersist=30m` seems to have helped a bit...

[2017-11-21 13:37] BenMitchell1979 commented on #28389
@jborean93 -- no go. Getting a new error.

[code]

[code]

[2017-11-21 13:56] shilpa12345 commented on #25532
Guys Need help here  I am posting /etc/ansible/hosts file for windows entry is
[windows]
Lenovo-PC

Lenovo-PC entry is added in my /etc/hosts file

AND

/etc/ansible/windows.yml file is
ansible_user: Administrator
ansible_password: <my admin password>
ansible_port: 5985
ansible_connection: winrm
ansible_winrm_scheme: http
ansible_winrm_server_cert_validation: ignore

and run command
 ansible windo

[2017-11-21 14:02] Harosgr opened #33142 "Task file gets included but not executed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include and include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Only strategy=free was changed. ~~I tried to change it back to strategy=linear but I get the same results~~

##### OS / ENVIRONMENT

cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.4 (Maipo)"

##### SUMMARY

In a playbook, when I do an include

[2017-11-21 14:03] BenMitchell1979 commented on #28389
@jborean93 - getting the following error.

[code]

[2017-11-21 14:05] dagwieers commented on #25532
@shilpa12345 This seems to be a user-induced problem. Ansible is using SSH, not WINRM. You created a file */etc/ansible/windows.yml* file, but that is not supposed to work. You have to drop your group variables in a directory *group_vars/windows.yml*.

Please visit the IRC channel or the Ansible  google group for support questions, this is NOT a support forum, but a development tool.

[2017-11-21 14:08] mkrizek commented on #23216
@k0ste @epeli can please you try if #33094 fixes your issue?

[2017-11-21 14:12] dagwieers commented on #28389
@BenMitchell1979 Using `become_user: SYSTEM` requires using the devel branch. Either you are using an older version, or your devel branch is not up-to-date.

[2017-11-21 14:27] Harosgr commented on #33142
By the way, it seems that while with include (tested in 2.3) and include_tasks (tested in 2.4) it doesn't work, with import_tasks it works like it should... but I can't do a dynamic import because then I cannot do a loop including the tasks file (which is my goal).

So it seems that this is some kind of static / dynamic problem that causes this behaviour.

[2017-11-21 14:50] ZillaG commented on #30609
My inventory files do NOT have the *.cfg extension, but am getting this issue?

[2017-11-21 15:10] abadger commented on #32816
Jimi-c is looking into that particular use here #32664. Because it is
somewhat tricky.

On Nov 21, 2017 4:10 AM, "Mikhail Vasilenko" <notifications@github.com>
wrote:

[2017-11-21 15:30] clement-igonet commented on #15620
Well, we just do not want out friends know out password when looking at screen

[2017-11-21 15:32] sivel commented on #18935
@sean797  That would imply that every API follows some set of sane guidelines and applies how operations are performed.  A PUT operation by RESTful standards is idempotent.  How would you know whether it was a create via PUT, or an update via PUT, and that the update actually performed an update?

The uri module can't know whether a change happened on the remote side.  If you need more verbose fun

[2017-11-21 15:32] #18935 closed, assigned to nobody

[2017-11-21 15:32] Akasurde commented on #32358
@andreyfedoseev Any news ?

[2017-11-21 15:40] gerhard-tinned commented on #24440
From my experience, the bot is the only thing actively interacting with tickets.

... as such, I would say - NO !!!

[2017-11-21 15:42] gerhard-tinned commented on #24440
My workaround (ugly and very complicated) is to use Ansible to execute a shell command. The command is executing "curl".

... sucks!!!

[2017-11-21 16:18] viniciushsantana opened #33147 "AWS S3: Unable to upload files to DigitalOcean Spaces"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]
and
[code]
with #33085 applied

##### CONFIGURATION
Default settings.

##### OS / ENVIRONMENT
Ansible running on macOS 10.12 targeting Ubuntu 16.04.

##### SUMMARY
`aws_s3` is not able to upload files (`put` mode) to DigitalOcean Spaces (a S3 drop-in replacement). Other modes like `get` and `list` are working

[2017-11-21 16:25] bcoca commented on #19086
this should solve it #32871

[2017-11-21 16:46] shdobxr commented on #30039
Got this to work ansible 2.4

[code]

[2017-11-21 16:54] victorock commented on #31063
I've noted that when i specify tags in a non-valid format, i also get this error:

AttributeError: 'GCEFailedNode' object has no attribute 'extra'

[2017-11-21 17:47] Akasurde commented on #22542
@ZubairLK Could you please re-try vmware_guest_powerstate as bug mentioned is fixed and let me know if it works for you?

[2017-11-21 17:51] Akasurde commented on #22542
@suhancz Could you please re-try with latest change in 2.4 and folder path in PB?

[2017-11-21 17:51] jctanner commented on #33056
@maliksaurabh7l I think your attachments got lost along the way somehow. Please add them to the description again or put them in a new comment.

needs_info

[2017-11-21 17:55] nitzmahone commented on #19451
Support for `cloud_environment` was added in 2.4- closing...

[2017-11-21 17:55] #19451 closed, assigned to nobody

[2017-11-21 18:23] kingdonb commented on #22248
I'm still here and we have hardly changed the Ansible playbook that I developed when I was writing this issue report.

[2017-11-21 18:52] #25739 closed, assigned to nobody

[2017-11-21 19:22] coltsixshooter opened #33156 "vmware_guest - Cluster option stopped working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
modules/cloud/vmware/vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = [u'/home/xxxx/workspace/devops/platform-roles
HOST_KEY_CHECKING(/home/xxxx/.ansible.cfg) = False
RETRY_FILES_ENABLED(/home/xxxx/.ansible.cfg) = False

##### OS / ENVIRONMENT
Red Hat 7.4

##### SUMMARY
Same issue

[2017-11-21 19:40] #32860 closed, assigned to nobody

[2017-11-21 20:12] dennisdupont opened #33159 "win_nssm: startup directory parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION
NA
##### CONFIGURATION
NA
##### OS / ENVIRONMENT
Windows
##### SUMMARY
win_nssm sets the startup directory parameter to the location of the executable.  This is not always appropriate (I want to start node and run from the app directory).

##### STEPS TO REPRODUCE
- name: use nssm to install nodeapp windows serv

[2017-11-21 20:13] dennisdupont commented on #33159
There is a workaround using win_command after installing, but seems like it should not be required.

[2017-11-21 20:51] #33083 closed, assigned to nobody

[2017-11-21 20:54] karlwbrown commented on #19809
Running into this on 2.3.1 as well. Any word on a fix?

[2017-11-21 21:33] jctanner commented on #31687
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * A lookup is failing to find the requested file on the remote node

However, however what is happening is that:

   * Lookups always run on th

[2017-11-21 21:33] #31687 closed, assigned to nobody

[2017-11-21 21:39] narankhetani opened #33163 "hyphen in dictionary key breaks json_query"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
json_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When running a json_query to a dictionary with keys that contain "-" hyphen/dash it seems to break.

##### STEPS TO REPRODUCE

[code]

Json Blob to test with if needed:
https://gist.github.com/narankhetani/d462a280b0cf5e32d3e82ccd01786680

###

[2017-11-21 21:44] mike45379 commented on #33156
I'm also experiencing this issue in 2.4.1  The cluster parameter seems ignored.

[2017-11-21 21:49] #25298 closed, assigned to nobody

[2017-11-21 21:55] bcoca commented on #33013
please check that PR above fixes it for you

[2017-11-21 21:55] bcoca commented on #32906
please check PR above fixes it for you

[2017-11-21 22:00] mabushey commented on #12931
Any status on this bug getting fixed?

[2017-11-21 23:11] dpedu2 commented on #12170
+1

Roles are effectively USELESS at large scale without this.

[2017-11-21 23:37] jctanner commented on #31323
!component =lib/ansible/modules/network

[2017-11-21 23:47] mike45379 commented on #26381
I had this issue too and retyping it solved my issue.  I probably cut/pasted the input from an example.
 Some things that processed in 2.3 aren't working in 2.4 so if you are stuck on this issue, just type it from scratch.

[2017-11-21 23:47] jctanner commented on #30925
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-11-21 23:48] #30925 closed, assigned to nobody

[2017-11-21 23:49] jctanner commented on #30915
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-11-21 23:49] #30915 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #30361
cc @dharmabumstead
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] ansibotdev commented on #30104
@TheKnightCoder You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #30104 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #28576
@mbach04 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #28576 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #28350
@dnmvisser You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #28350 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #28219
@gdmwei You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #28219 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #28014
@JamesMcGuigan You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #28014 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #27748
@hryamzik You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #27748 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #27592
@privateip You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #27592 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #27156
@ssayyad786 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #27156 closed, assigned to nobody

[2017-11-22 00:27] ansibotdev commented on #27111
@bluefoxicy You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:27] #27111 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #27023
@joshribakoff You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #27023 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #27014
@trondhindenes You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #27014 closed, assigned to mattclay, gundalow

[2017-11-22 00:28] ansibotdev commented on #26973
@adamgotterer You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #26973 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #26931
@dene14 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #26931 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #26664
@willthames You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #26664 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #26561
@dubacher You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #26561 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #26310
@mowgli You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #26310 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25953
@emonty You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25953 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25951
@emonty You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25951 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25949
@emonty You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25949 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25937
@MyTotoro You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25937 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25823
@erthalion You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] ansibotdev commented on #25776
@zhoutiekui You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25776 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #25397
@jcampbell05 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #25397 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #24709
@gogskrish You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #24709 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #24536
@mgrune You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #24536 closed, assigned to nobody

[2017-11-22 00:28] ansibotdev commented on #24496
@kayrus You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:28] #24496 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #24165
@harobed You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #24165 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #24031
@sibh8 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #24031 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #24028
@claco You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #24028 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #23990
@Sean-Brown You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] ansibotdev commented on #23864
@jleclanche You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] ansibotdev commented on #20554
@benjifisher You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #20554 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #20407
@petericebear You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] ansibotdev commented on #20026
@MiLk You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #20026 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #19918
@non7top You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] ansibotdev commented on #19918
cc @dharmabumstead
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #19918 closed, assigned to nobody

[2017-11-22 00:29] ansibotdev commented on #19724
@laurentgo You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:29] #19724 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #19613
@Thingee You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #19613 closed, assigned to rcarrillocruz

[2017-11-22 00:30] #19534 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #19254
@harobed You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #19254 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #19178
@qrrock You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #19178 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #19139
@jlec You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #19139 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18969
@z0rc You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18969 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18929
@smiller171 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18929 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18926
@gsatliawol You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18926 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18925
@nervo You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18925 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18856
@boscowitch You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18856 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18766
@sirkubax You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18766 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18753
@abadger You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18753 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18686
@matamouros You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18686 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18656
@sirkubax You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18656 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18626
@Somebi You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18626 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18563
@midN You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18563 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18302
@antoniopinarella You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18302 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18193
@dan-passaro You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18193 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18132
@soulcreate You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18132 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #18051
@mscherer You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] ansibotdev commented on #18040
@abadger You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #18040 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #17904
@yee379 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #17904 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #17865
@AnthonyWC You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #17865 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #17743
@rootconsole You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #17743 closed, assigned to nobody

[2017-11-22 00:30] ansibotdev commented on #17720
@tearsakura You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:30] #17720 closed, assigned to alikins, abadger

[2017-11-22 00:31] ansibotdev commented on #17579
@kevinburke You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #17579 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #16427
@dejayc You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #16427 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15127
@ssbarnea You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] ansibotdev commented on #15110
@eoli3n You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15110 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15107
@pleexy-dev You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15107 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15099
@nhooey You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15099 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15047
@Javex You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15047 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15040
@marcosdiez You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15040 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15025
@ahawkins You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15025 closed, assigned to nobody

[2017-11-22 00:31] ansibotdev commented on #15022
cc @dharmabumstead
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] ansibotdev commented on #15014
@gvenka008c You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:31] #15014 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14980
@Constantin07 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14980 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14960
@domibarton You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14960 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14940
@dagwieers You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] ansibotdev commented on #14934
@lowell80 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14934 closed, assigned to nobody

[2017-11-22 00:32] #14933 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14916
@alexganwd You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14916 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14886
@Alir3z4 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14886 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14884
@tom-clx You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14884 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14879
@hchargois You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14879 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14848
@ghost You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14848 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14836
@ricardclau You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14836 closed, assigned to abadger

[2017-11-22 00:32] ansibotdev commented on #14822
@tozz You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14822 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14815
@areichow You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14815 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14811
@kubilus1 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14811 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14809
@agaffney You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14809 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14759
@ToxicFrog You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14759 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14752
@kameshsampath You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14752 closed, assigned to jimi-c

[2017-11-22 00:32] ansibotdev commented on #14751
@alvaroaleman You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14751 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14723
@zagorulkinde You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14723 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14721
@gtmtech You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14721 closed, assigned to alikins

[2017-11-22 00:32] ansibotdev commented on #14711
cc @dagnello @emonty @j2sol @jhoekx @juliakreger @rcarrillocruz @shrews @thingee
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] ansibotdev commented on #14685
@tomehb You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14685 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14682
@jasonk You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14682 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14674
@dagwieers You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] ansibotdev commented on #14646
@fishpen0 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14646 closed, assigned to jimi-c

[2017-11-22 00:32] ansibotdev commented on #14637
@mxey You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14637 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14616
@eranchetz You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:32] #14616 closed, assigned to nobody

[2017-11-22 00:32] ansibotdev commented on #14604
@Yannik You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] ansibotdev commented on #14601
@ymattw You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14601 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14593
@cobyrne09 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14593 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14582
@diefans You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14582 closed, assigned to jimi-c

[2017-11-22 00:33] ansibotdev commented on #14578
@ajaymahto You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14578 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14563
@sherlockholmes You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14563 closed, assigned to abadger

[2017-11-22 00:33] ansibotdev commented on #14543
@caneridge You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14543 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14530
@theonewolf You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14530 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14524
@yfried You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14524 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14523
@aragnon You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14523 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14522
@offlinehoster You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14522 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14519
@afunix You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14519 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14511
@gtaylor You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14511 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14510
@nrb You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14510 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14509
@gvenka008c You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14509 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14481
@polomsky You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14481 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14479
@aptituz You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14479 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14464
@karlmdavis You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14464 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14462
@Revisor You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14462 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14454
@juge2 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14454 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14433
@abishekabi You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14433 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14423
@phil-dileo You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14423 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14420
@gamename You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14420 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14412
@h0nIg You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14412 closed, assigned to bcoca

[2017-11-22 00:33] ansibotdev commented on #14409
@mgedmin You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14409 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14398
@nhooey You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14398 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14396
@gwagner You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14396 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14384
@xmj You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14384 closed, assigned to nobody

[2017-11-22 00:33] ansibotdev commented on #14382
@sunshine69 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:33] #14382 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14377
@groggemans You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] ansibotdev commented on #14369
@diarworld You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14369 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14358
@larsks You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14358 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14345
@AlexMax You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14345 closed, assigned to abadger

[2017-11-22 00:34] ansibotdev commented on #14341
@hhsnow You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14341 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14335
@msaffar You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14335 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14331
@jurgenhaas You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14331 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14323
@DrTom You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14323 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14318
@johnarnold You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14318 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14308
@h0nIg You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14308 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14292
@ei-grad You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14292 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14274
@abadger You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14274 closed, assigned to bcoca

[2017-11-22 00:34] ansibotdev commented on #14255
@asivula You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14255 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14230
@mike-pt You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14230 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14216
@TaiSHiNet You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14216 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14212
@pzr You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14212 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14210
@sbezverk You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14210 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14188
@kevinlondon You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14188 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14186
@tyl0r You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14186 closed, assigned to nobody

[2017-11-22 00:34] #14172 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14171
@senderista You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14171 closed, assigned to nobody

[2017-11-22 00:34] ansibotdev commented on #14162
@DaCookie4u You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:34] #14162 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14142
@larry-s You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14142 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14137
@nicolas-g You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14137 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14135
@wholroyd You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14135 closed, assigned to jimi-c

[2017-11-22 00:35] ansibotdev commented on #14132
@DebianRoxx You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14132 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14117
@akatch You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14117 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14111
@phemmer You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14111 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14066
@3rdman You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14066 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14055
@sivel You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14055 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14045
@ankitmth You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14045 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14036
@jesselang You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14036 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14013
@haocheng You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14013 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #14004
@adeck You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #14004 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13998
@jeffkloy You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13998 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13994
@electrofelix You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13994 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13978
@soulcreate You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13978 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13976
@ghost You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13976 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13948
@lburg You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13948 closed, assigned to nobody

[2017-11-22 00:35] ansibotdev commented on #13908
@ktosiek You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:35] #13908 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13894
@nitzmahone You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13894 closed, assigned to nitzmahone

[2017-11-22 00:36] ansibotdev commented on #13887
@psi-4ward You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13887 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13884
@heartsucker You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13884 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13879
@larsks You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13879 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13876
@chinatree You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] ansibotdev commented on #13871
@migrana You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13871 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13868
@lwille You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13868 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13860
@ksmets You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13860 closed, assigned to abadger

[2017-11-22 00:36] ansibotdev commented on #13846
@yansal You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13846 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13844
@Constantin07 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13844 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13814
@towolf You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13814 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13809
@Incubatio You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13809 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13806
@juodumas You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13806 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13801
@jjshoe You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13801 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13796
@zentavr You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13796 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13792
@davidbirdsong You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13792 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13767
@Wodric You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13767 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13761
@targetoyes You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13761 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13752
@abourget You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13752 closed, assigned to alikins

[2017-11-22 00:36] ansibotdev commented on #13731
@aloysius-lim You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13731 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13703
@dekimsey You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13703 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13692
@leonp2001 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13692 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13685
@jschank You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13685 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13680
@amr You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13680 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13674
@zshamrock You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13674 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13672
@Glueon You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13672 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13664
@akazakov You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13664 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13657
@vzer You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13657 closed, assigned to nobody

[2017-11-22 00:36] ansibotdev commented on #13653
@kinvaris You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:36] #13653 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13652
@batmat You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13652 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13643
@ParimiDev You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13643 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13610
@rabejens You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13610 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13603
@mspiegle You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13603 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13588
@bloob00k You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13588 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13587
@dmsimard You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13587 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13558
@sherlockholmes You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13558 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13511
@bcoca You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13511 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13497
@nileshbits You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13497 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13486
@smalenfant You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13486 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13482
@chilladx You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13482 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13479
@hloeffler You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13479 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13465
@rjinski You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13465 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13448
@8191 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13448 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13438
@davidlballenger You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13438 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13428
@lvii You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13428 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13410
@fboender You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13410 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13327
@ocontant You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13327 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13293
@ThomasSteinbach You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13293 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13292
@hloeffler You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:37] #13292 closed, assigned to nobody

[2017-11-22 00:37] ansibotdev commented on #13288
@riponbanik You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13288 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13263
@mathieumd You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13263 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13255
@jorgealvarezcopo You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13255 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13244
@bcoca You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] ansibotdev commented on #13234
@mgedmin You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13234 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13233
@DazWorrall You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13233 closed, assigned to nobody

[2017-11-22 00:38] phemmer commented on #14111
lol wut

[2017-11-22 00:38] ansibotdev commented on #13228
@blelump You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13228 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13226
@nneubauer You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13226 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #13218
@palmerit You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #13218 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12919
@targetoyes You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12919 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12917
@smalenfant You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12917 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12915
@ngaya-ll You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12915 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12906
@hryamzik You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12906 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12887
@abadger You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12887 closed, assigned to nobody

[2017-11-22 00:38] ansibotdev commented on #12854
@davekonopka You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:38] #12854 closed, assigned to nobody

[2017-11-22 00:50] ansibotdev commented on #32896
cc @jirutka @luisperlaz
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] ansibotdev commented on #32185
cc @willthames
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] ansibotdev commented on #30400
cc @willthames
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] ansibotdev commented on #30136
@ansibot You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] #30136 closed, assigned to nobody

[2017-11-22 00:51] ansibotdev commented on #30070
@ansibot You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] #30070 closed, assigned to nobody

[2017-11-22 00:51] ansibotdev commented on #29982
@ansibot You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] #29982 closed, assigned to nobody

[2017-11-22 00:51] ansibotdev commented on #29392
@ansibot You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:51] ansibotdev commented on #28310
cc @jmighion @trishnaguha
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:52] ansibotdev commented on #25072
@gsrigo You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:52] #25072 closed, assigned to nobody

[2017-11-22 00:55] ansibotdev commented on #19112
@maxrothman You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:55] #19112 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #17322
@hryamzik You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #17322 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #16641
@j3p0uk You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #16641 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #15815
@marcpascual You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #15815 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #15416
@r1k0 You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #15416 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #12852
@larsks You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #12852 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #12808
@MichaelMallett You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #12808 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #12791
@juodumas You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #12791 closed, assigned to nobody

[2017-11-22 00:56] ansibotdev commented on #12755
@skynet You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-22 00:56] #12755 closed, assigned to nobody

[2017-11-22 00:58] jborean93 commented on #23990
bot_skip

[2017-11-22 01:00] #29392 closed, assigned to nobody

[2017-11-22 01:06] jmighion commented on #28310
Try removing `ansible_connection=ssh` from your host vars.

[2017-11-22 01:06] dpedu opened #33171 "Within a role, Synchronize fails to Become when using localhost or 127.0.0.1 in inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Synchronize module and/or `become` functionality

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

Plus in my env:

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04.5 with Python 2.7.6

##### SUMMARY

The synchronize module typically works with the "become" option - if either the parent `tasks` block or the step itself has `become: True`, r

[2017-11-22 01:21] jctanner commented on #33084
close per previous comment.

[2017-11-22 01:21] #33084 closed, assigned to nobody

[2017-11-22 01:26] sivel commented on #13858
This has been completed.

[2017-11-22 01:26] #13858 closed, assigned to nobody

[2017-11-22 02:18] ZhijunZhao commented on #32526
Looking into it.

[2017-11-22 03:20] #30863 closed, assigned to nobody

[2017-11-22 03:35] davidbirdsong commented on #13792
Hah, a bug opened 2 years ago gets a somewhat non-sensical follow up 7 months ago.

I thought this was a pretty well written up report. Anyhoo, it's 2 years old so I expect it was fixed.

[2017-11-22 03:46] edesz commented on #33052
@s-hertel Ok, I ran those 3 Python commands and I got the same output as you did. There were no issues with executing them. It seems like it is correctly imported.

[2017-11-22 04:00] edesz commented on #33052
@willthames Do you mean that you want to know is the system-wide one executing the module, or the one in the `venv`?

Here is the full output of the task:

[code]

[2017-11-22 04:14] Vladimir-csp commented on #14132
This is still a valid bug.
!component =core

[2017-11-22 04:15] Vladimir-csp commented on #14637
This is still a valid bug.
!component =core

[2017-11-22 04:25] amansyed931 commented on #26003
Is there any update for the below issue 👍:
Azure create virtual machine with an Availability Set associate #32535

availability set needs to be added in azure_rm_virtualmachine.
in order to use the existing availabilty set to build the new vm.

[2017-11-22 04:48] willthames commented on #33052
Yep, as I thought:

[code]

In the first line of the above, you can see that the expected python is used for running stuff on your local machine. In the last line, however, when running the module, /usr/bin/python is used. This is because this defaults to `ansible_python_interpreter`

One problem is that although `ansible_playbook_python` exists, you can't set `ansible_python_interpreter` at runti

[2017-11-22 04:55] willthames commented on #18665
delegate_to: localhost is only available at a task level, not at a play level - it's frankly tedious to have to add delegate_to: localhost to every task.

It would be good if ansible_python_interpreter could be dynamically set (it can't).

See #33052 for this issue cropping up again (probably because people who use a lot of local actions tend to set connection: local)

[2017-11-22 04:56] edesz commented on #33052
I see it!

Do you mean use [`delegate_to: localhost` ](http://docs.ansible.com/ansible/latest/playbooks_delegation.html#delegated-facts) for this `ec2_group` task (and other `ec2_xxx` tasks too?)?

[2017-11-22 05:29] offlinehoster commented on #14522
Thats really sad that this auto comment bot is not reading the topic of this issue.

The problem is with ansible-vault.

[2017-11-22 05:53] jhawkesworth commented on #33159
Another workaround is to use win_regedit after you have created the service (which I use to set various parameters).  Not pretty but it works.

[2017-11-22 06:14] karlism commented on #33013
bcoca, thank you, it seems to have solved the issue:
[code]

[2017-11-22 06:40] vincentvdk commented on #29261
needs_contributor

[2017-11-22 06:58] narankhetani commented on #31416
That fixed it thanks 👍

[2017-11-22 06:58] #31416 closed, assigned to nobody

[2017-11-22 07:12] typ431127 opened #33175 "docker_image unauthorized: authentication"
##### SUMMARY
I'm using the docker_image module, there is already docker_login in my yaml file and the execution is successful but the pull images show error
Login to the registry is successful but pull image does not have permission, I hope to solve this problem

##### ANSIBLE VERSION
[code]

##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

error:

[code]

[2017-11-22 07:28] machacekondra commented on #22189
I didn't yet implemented it, but I will definitely do it for Ansible 2.5 release (for 2.4 it can't be done anyway). Sorry, for delay. I will update this issue, once I will have PR ready.

That's good to hear, if you will find out some other issues or missing features in this or other module, please report it, so we can improve it as soon as possible. Thanks a lot.

[2017-11-22 07:59] tersmitten commented on #30070
I'll have a look @jtyr

[2017-11-22 08:19] it-praktyk opened #33176 "Documentation for the module import_role require small corrections"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed in configuration.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The documentation for the role import_role states:

It's recursion to itself. Probably another rule name should be used instead in the part of the sentence "use import_rule instead".

Additionally

[2017-11-22 08:23] pschiffe opened #33177 "when including playbook, group_vars of original playbook are ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
playbook include

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
When including a playbook from different directory, group_vars (and possibly others) for the original playbook (which includes the other playbook) are ignored. This worked in ansible 2.3 and below, it

[2017-11-22 08:26] it-praktyk commented on #33176
A part of [the file to change](https://github.com/ansible/ansible/blob/4617be30859e043bf50513cbcc04be4c922d37e7/lib/ansible/modules/utilities/logic/import_role.py#L15-L24)

[2017-11-22 08:32] EliMutchnik opened #33178 "Creating application pool with win_iis_webapppool on ansible 2.4 isn't working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION
ansible 2.4.0.0

##### CONFIGURATION
No settings were changed

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
When running iis app pool creating with win_iis_webapppool on ansible 2.4 I'm getting the following error: **Failed to stop Web App Pool UPS Traffic: Access is denied.

[2017-11-22 08:45] danbohea commented on #24028
This thread makes me want to cry. There is plenty of info here yet the official responses are just nit-picks automated guff.

[2017-11-22 08:57] daften commented on #24028
True, but to be fair, if this stuff doesn't happen, a lot of requests will just remain open forever, and there isn't even a possibility for decent overview.

[2017-11-22 09:01] dagwieers commented on #33052
@willthames Allowing `delegate_to` at the playbook level is something I would like to see as well.

[2017-11-22 09:52] fpoulain commented on #27520
My workaround:
[code]

[2017-11-22 10:05] soylent opened #33179 "Gem module does not work with version constraints / specifiers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Gem

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Gem module does not remove gems if a version constraint is specified

Probably, this line should be changed:
https://github.com/ansible/ansible/blob/v2.4.1.0-1/lib/ansible/modules/packaging/language/gem.py#L161

##### STEPS TO REPRODUCE

[cod

[2017-11-22 10:07] z0rc commented on #18969
For the record this was fixed with https://github.com/ansible/ansible/commit/f6676f495798d6d5ae81e7c9eb3915198ebd85ba.

[2017-11-22 10:16] benapetr opened #33180 "Each ansible module should have some configurable "max_time" threshold and watchdog that would fail the task if it takes longer than defined time"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
Future version I guess...

##### CONFIGURATION
It could look like this in config file, but should be configurable per task, playbook etc. Tasks that run long time (like package) should have some kind of exception. Also this should have some sane defaults per task, for example modules like setup, lineinfile, etc.

[2017-11-22 10:23] madddi commented on #23609
As part of our OpenShift setup we include the `lib_openshift` role like this:

[code]

This works with Ansible 2.4.0 and errors out in Ansible 2.4.1 with `RecursionError: maximum recursion depth exceeded`

[2017-11-22 10:27] cocosun commented on #23609
Same here, stopping at host.py
ansible 2.4.1.0
python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]
NAME="Red Hat Enterprise Linux Server"
VERSION="7.4 (Maipo)"

[code]
It works with ansible 2.4.0.0

[2017-11-22 10:46] BenWUKFast commented on #33072
@MarkusTeufelberger I'm not sure I understand sorry? The private key isn't changing, just the output location for the public key. The two working examples aren't existing files, whereas the tmpfile is an empty existing file. Perhaps because it's an existing file it fails?

[2017-11-22 10:51] BenWUKFast commented on #33072
@MarkusTeufelberger Scratch that, after checking the source code I understand what you mean:

    hashlib.md5(current_publickey).hexdigest() == hashlib.md5(desired_publickey).hexdigest()

Perhaps an extra parameter in the module which allows you to skip checking the existing file and a note on the module documentation to explain the quirk?

[2017-11-22 11:11] ssbarnea commented on #15127
[code]

[2017-11-22 12:08] MarkusTeufelberger commented on #33072
No, I mean `crypto.load_publickey(crypto.FILETYPE_PEM, open(self.path, 'rb').read())` - I find it a bit suspicious that this actually works in the first two instances.

[2017-11-22 12:11] alonsocamaro opened #33183 "include_role in a loop: huge memory usage and cpu consumption"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

ansible version included in ansible-tower 3.1.5:

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

I have a group called, bigip-cluster with 8 hosts. And the following playbook

[code]

When the execution reaches any of the del-all-customer-* roles the memory usage is ridic

[2017-11-22 12:38] gundalow commented on #33176
Hi,
Yup, it's a bit confusing. If you have a suggestion of better wording could you please raise a PR to update it. Docs should be American English.

[2017-11-22 12:40] adyp commented on #10829
How about  (also) enhancing `flush_handlers` with another attribute like *with_tag* to apply the action only the those handlers labelled with those tag(s) ? Or similarly for alternative approaches to use tags instead of (only) handler names ?

This is more useful than choosing target handlers by name since:
* you might have various handlers defined among roles and you want to make sure all handler

[2017-11-22 13:34] coden-ata commented on #16600
I'm on Ansible 2.4.1.0, and I'm experiencing this behavior as well. I'm to the point that I have to abandon roles and includes and rewrite one big, flat playbook for my current projects.

[2017-11-22 13:34] JOEtheROUTERman commented on #28310
That did it.... thanks No longer an issue.

[2017-11-22 13:45] dkirrane commented on #21112
What Ansible version is this available in?

[2017-11-22 14:02] adelton opened #33187 "package / dnf fails for state=present when the package is already installed but excluded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
package (dnf)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`python3 /usr/bin/ansible-config dump --only-changed` does not print anything

##### OS / ENVIRONMENT

This is ansible-python3-2.4.1.0-2.fc26.noarch on Fedora 26.

##### SUMMARY

When package is already installed but excluded in `dnf.conf`, `package` with `state=present` fails.

[2017-11-22 14:08] bcoca commented on #18665
incorrect, you can set it any level, just like any other var.

[2017-11-22 14:16] tbouvet commented on #31655
@leifmadsen @mpetrive-rh Same problem. I downgraded to ansible-tower-cli 3.1.7.
An idea please ?

[2017-11-22 14:20] smemsh commented on #13228
this is a valid issue. closing for no component name is really lame.  half the ansible issues are like this.

[2017-11-22 14:21] leifmadsen commented on #31655
`ansible-tower-cli` version 3.1.7 uses API v1 as far as I can tell. I had things working and not working when I was changing environments around. Make sure you're able to communicate with `tower-cli` directly, because all the modules are doing is wrapping that library. If it works with `tower-cli` it should work fine with the modules (assuming you're not using `tower-cli >= 3.2`

[2017-11-22 14:33] #32906 closed, assigned to nobody

[2017-11-22 14:35] bcoca commented on #33013
fixed by #33158

[2017-11-22 14:35] #33013 closed, assigned to nobody

[2017-11-22 14:49] gundalow commented on #33036
This is a feature request.

[2017-11-22 14:55] privateip commented on #33029
@brainclots can you confirm if this problem exists in the current release version (2.4)?

needs_info

[2017-11-22 15:03] halberom opened #33190 "eos_config - output in '--- before' and '+++ after' diff sections round the wrong way"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
When using `eos_config`, `diff_against`, and `--diff` the content of `--- before` and `+++ after` are around the wrong way.

##### STEPS TO REPRODUCE
Create a play
[code]

##### EXPECTED RESULTS
The intended config is in the diff section `+

[2017-11-22 15:03] tbouvet commented on #31655
@leifmadsen No I confirm it's not ok. Others errors appear :
`'tower_verify_ssl' is not a valid field for Machine`
`'state' is not a valid field for Machine`

My versions:
- `Tower 3.2.1`
- `Ansible 2.4.1.0`
- `tower-cli 3.1.7`

[2017-11-22 15:11] privateip commented on #32989
@jabelk  This is supported today.  Here is how to properly write the task

[code]

[2017-11-22 15:13] halberom commented on #33190
e.g.
[code]

[2017-11-22 15:26] gundalow commented on #32944
Agreed: Deprecation warning (with links to the docs) if `network_cli` and `provider` (or top-level) is set.
For info today in devel `provider` (and top-level) will be silently ignored if `connection: network_cli` is set

[2017-11-22 15:27] Incubatio commented on #13809
bot_broken

[2017-11-22 15:27] Yannik commented on #14604
@bcoca @chouseknecht @gregdek

Could you please tell me what the status of this is. Unfortunately, the bot closed the issue without human intervention.

Is there anything I can do to reopen this issue? It has not been solved yet to my knowledge.

[2017-11-22 15:28] privateip commented on #32944
@bdowling

I disagree with the statement about overloading, this is exactly what `become` is designed to do

We will not support `sudo` + `connection: network_cli` as this creates a whole bag of corner cases and troubles.  More importantly it creates a security hole which is why it wont be allowed.

[2017-11-22 15:29] Incubatio commented on #13809
i'm not sure what is the component name (if there is one related to it).
Is there a component list somewhere that i could check ?

[2017-11-22 15:34] gundalow opened #33192 "Persistent Connection: Use PID as part of socket hash"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
network

##### ANSIBLE VERSION

##### SUMMARY
Use the PID of the main process as part of the socket hash

[2017-11-22 15:37] jonDowdle commented on #21397
This affects 2.4.1 as well

[2017-11-22 15:43] magnus919 commented on #29083
Hi @dagwieers. It seems @ansibot is going on a spamming spree again. It's been dragging me into quite a number of Ansible project issues this week, including this one.

[2017-11-22 15:44] leifmadsen commented on #31655
Needs more information. I'm not really sure where you're getting that output from.

From the `~/.tower_cli.cfg` file that I have, my setting is `verify_ssl: False`. In the modules I'm using, I have `tower_verify_ssl: False`, like:

[code]

All of this works against a relatively recent version of AWX, with `tower-cli` version 3.1.8, and Ansible 2.4.1.0.

[2017-11-22 15:50] Petro026 commented on #31655
@leifmadsen any chance you can try it against a Tower 3.2.1 instance?

[2017-11-22 15:50] Akasurde commented on #21112
@dkirrane In latest 2.5 version.

[2017-11-22 15:53] nhooey commented on #15099
@ansibotdev I'm not sure what the value of the `component_name` is, but I'm sure it's irrelevant in this case.

[2017-11-22 15:54] ErisDS commented on #14055
This is a bug report with vault in ansible 2.3.0.0. This issue has a patch associated with it and therefore it makes more sense to reopen this issue than raise a new one.

[2017-11-22 15:55] nhooey commented on #14398
@bcoca Were you unable to reproduce this?

[2017-11-22 16:02] gundalow commented on #33097
Hi,
This is by designed and we will not be adding a way to disable this.

[2017-11-22 16:02] #33097 closed, assigned to nobody

[2017-11-22 16:34] four43 commented on #29451
@Tasqa 's answer worked for me. Can we close this?

[2017-11-22 16:56] xtoznaxto opened #33193 "Add possibility to set up several ips for hostname in module ipa_dnsrecord"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ipa_dnsrecord

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centOS 7
##### SUMMARY

Please, add possibility to set up several ip-addresses (record_value) for one hostname (record_name) in module ipa_dnsrecord. For now if I will define several record_values - it will replace old value with new one. It is logical

[2017-11-22 18:09] abadger commented on #32816
@mvasilenko Oops sorry, I pasted the wrong bug number last time.  jimi-c's PR is here: https://github.com/ansible/ansible/pull/33141

If you'd like to look at the other files that his PRs don't fix, those are listed in a file which you can see here: https://github.com/ansible/ansible/pull/33141/files#diff-679da6fd1b3c460d42d45b7b24863458R1

[2017-11-22 18:42] marvingreenberg opened #33197 "win_unzip fails for Zip file if "recurse=true" is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_unzip
ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard configuration

##### OS / ENVIRONMENT
From: RHEL Server 6
To: Windows 7 64bit
##### SUMMARY
win_unzip fails to unzip a ".zip" file if recurse=true is specified.

##### STEPS TO REPRODUCE

[code]

Removing "recurse=true", the command works fine.  The file is clearly a

[2017-11-22 18:45] leifmadsen commented on #31655
Sorry, I don't really have access to a Tower install, just AWX.

[2017-11-22 18:47] #32670 closed, assigned to nobody

[2017-11-22 18:48] superky13 opened #33198 "Ansible Tower (3.2.1) Scheduled Jobs Revert to Los Angeles Time Regardless"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Tower Job Template Schedule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY

Ansible Tower (3.2.1) scheduled jobs revert to Los Angeles time after saving the schedule regardless of the timezone chosen (ex. New York/EST)

##### STEPS TO REPRODUCE

Login to Tower; create a new schedule

[2017-11-22 18:49] #33082 closed, assigned to nobody

[2017-11-22 18:50] marvingreenberg opened #33199 "win_unzip should support copy before extraction just like unarchive"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

win_unzip
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard configuration

##### OS / ENVIRONMENT
RHEL6

##### SUMMARY

To the extent possible, the windows-specific commands should match the arguments and functionality of their related non-windows commands.  Obviously the ideal is for a single command that supports both, but ansible

[2017-11-22 18:53] dmt opened #33200 "ec2_lc ignores instance_monitoring setting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_lc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA

##### SUMMARY

Creating a new launch configuration always has Monitoring set to enabled

Possible cause (instance_monitoring being false never setting the value):
https://github.com/ansible/ansible/blob/3a6fad38fa5003222f864d583dadf23700aa3ebe/lib/ansible/mod

[2017-11-22 19:15] #32575 closed, assigned to nobody

[2017-11-22 19:30] kcfedun commented on #25298
@jborean93,

Yes, the 2.5 devel branch win_updates version seems to work. In my specific issue case, it seems less of an ansible =<2.4 issue and more of a change to Windows 10 and how it runs tasks with the 'Do not store password...' checkbox checked.

[2017-11-22 20:16] kustodian opened #33202 "Backslashes in regex_replace"
##### ISSUE TYPE
- Bug?

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### SUMMARY
While I was upgrading from Ansible 2.3 to 2.4 I came across some changes in how backslashes are used to escape characters in `regex_replace` filter, so I made a little test playbook to show all the correct ways you can use backslashes. I told @abadger that I will make an issue for this, so here it is.

[2017-11-22 20:31] bcoca commented on #31621
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-11-22 20:31] #31621 closed, assigned to nobody

[2017-11-22 20:31] kustodian commented on #31129
Making `diff: yes` always display diff for a specific task, even if `--diff` is not passed would be an awesome addition. Currently it only allows you to disable diff of specific tasks setting `diff: no`.

This parameter also isn't documented anywhere, or at least I couldn't find it.

[2017-11-22 20:53] robinro commented on #32690
@magsoftware Afaik php53 is not part of the official ubuntu sources. Are you using a third-party repo?
I would consider extending the regex to include `php\d\d`. Can you open a PR?

[2017-11-22 21:00] AJEastwood commented on #33198
I'm seeing the same issue on a clean install of Tower, RHEL 7.4, Bundled installer.  In my case it gets stuck on Americas/Chicago.

[2017-11-22 21:08] oupala commented on #18935
It is a shame that this issue has been closed without being fixed.

[2017-11-22 21:46] jborean93 commented on #33107
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-22 21:46] #33107 closed, assigned to nobody

[2017-11-22 21:53] #33128 closed, assigned to nobody

[2017-11-22 21:55] jborean93 commented on #33123
Just tested this with the latest stable-2.4 branch and it works fine

[code]

I can also replicate this on 2.4.1.0 but because it has been fixed already and will be available in the 2.4.2.0 release I am going to close this issue.

[2017-11-22 21:55] #33123 closed, assigned to nobody

[2017-11-22 22:16] jborean93 commented on #33132
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The trailing `,` after your `localhost` declaration makes ansible use the current directory as a directory dir
   * This includes all the files in that directo

[2017-11-22 22:16] #33132 closed, assigned to nobody

[2017-11-22 22:23] jborean93 commented on #33142
I'm not sure what is happening here, but just for more info, I can only replicate this when `strategy: free` is set, the default strategy works as expected for me.

[2017-11-22 22:37] vyuldashev commented on #16004
+1 for this feature.

[2017-11-22 22:42] jborean93 commented on #33178
Are you able to consistently reproduce this error, I've just reviewed the 2.4 code vs the 2.3 code and while it is different, the basic workflow and cmdlets called are the same. I don't really see how they can be different when it comes to stopping a pool but if you can reproduce it consistently then it may be a start to finding out what is happening.

[2017-11-22 22:51] westsouthnight commented on #16398
@sivel Thanks - i'm understand what you mean and go to try! @bcoca Thanks for your patience me ;)

[2017-11-22 22:52] jborean93 commented on #33187
cc @DJMuggs @berenddeboer @ignatenkobrain

[2017-11-22 22:52] jborean93 commented on #33187
component name dnf

[2017-11-22 23:08] jborean93 commented on #33197
Looking at the code the recurse option requires the `PSCX` option hence the error. I don't see a reason why we can't just offer recurse for just `.zip` files in case the extension isn't there.

Either we should add in the functionality or make the docs clearer, I could find a mention of this in the notes section but it should also be under the description for the `recurse` option.

[2017-11-22 23:22] jborean93 commented on #33199
I personally disagree with making these changes, there is a perfectly fine module `win_copy` that can be used to copy files across from local to remote. Adding in this functionality means we need to write an action plugin and there is no clear benefit from doing this apart from reducing the requirement of writing 2 tasks to just 1. Doing so adds some complexity to the modules and makes it harder t

[2017-11-22 23:25] jborean93 commented on #33198
This repo is for bugs of the Ansible core engine only and is not for Tower/AWX bugs. I recommend you either create an issue report in the AWX repo here https://github.com/ansible/awx or follow your support procedure if you are a Red Hat customer with a Tower subscription.

[2017-11-22 23:25] #33198 closed, assigned to nobody

[2017-11-22 23:26] dagwieers commented on #33199
Yes, as the (ex-)maintainer of **unarchive**, we even concluded it was a capital mistake to have added download capabilities, which is much better handled by **get_url**.

[2017-11-23 00:05] dagwieers commented on #29083
@magnus919 I'd ask my money back ! ;-)

bot_broken

[2017-11-23 00:08] bcoca commented on #32353
As @sivel  points out, the original issue outlined here is not a bug, but works as designed, group names are unique so it does not matter where you declare it, they always get merged.

[2017-11-23 00:08] #32353 closed, assigned to nobody

[2017-11-23 00:20] #16004 closed, assigned to nobody

[2017-11-23 01:02] saravana1992 opened #33209 "Ansible change password not working -- password error after changing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

User Manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I want to change the user password using playbook and as follows

- hosts: all
  tasks:
  - name: Change root password
    user: name=test update_password=always password="test123"

Password not working after changing, did any default passw

[2017-11-23 01:37] sivel commented on #33209
As the documentation states:

This means you need to pass an already encrypted password to this module. See the documentation for more information:

http://docs.ansible.com/ansible/latest/user_module.html

[2017-11-23 01:37] #33209 closed, assigned to nobody

[2017-11-23 04:41] nicholas-chia opened #33213 "Ansible Tower network credentials does not work on network modules (e.g. F5 Networks)"
##### ISSUE TYPE
 - Bug Report?

##### COMPONENT NAME
F5 Network Modules

##### ANSIBLE VERSION

[code]

##### SUMMARY

I am trying to use Ansible Tower network credentials ANSIBLE_NET_USERNAME & ANSIBLE_NET_PASSWORD within the F5 bigip modules, but running a playbook can't find these as registered variables.

In the documentation, F5 module uses F5_USER & F5_PASSWORD as credential variables. On t

[2017-11-23 04:54] nitzmahone commented on #26003
Merged #32525 for Ansible 2.5 release

[2017-11-23 04:54] #26003 closed, assigned to nobody

[2017-11-23 05:24] saranya2293 opened #33214 "Failed to connect to the host via ssh: Permission denied (publickey,password).\r\n","
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION
ansible 2.4.0.0
##### CONFIGURATION (ansible.cfg)
inventory      = /etc/ansible/hosts
##### OS / ENVIRONMENT
RHEL

##### SUMMARY
When i give  **ansible webserver -m ping -vvv**, it shows following error

[code]

when tried connecting using ssh s549176@ip-addr , it prompts for password and when i give password  it is working fine.

[2017-11-23 06:54] wujiangxingzhe commented on #27938
Set the _scp_if_ssh_ to _True_ in section ssh_connection and it works well. This is my solution

[2017-11-23 08:03] adelton commented on #33187
Please not that when `dnf` modules is used directly and the package is excluded, maybe it actually is correct to fail even if it is actually installed. But when `package` is used, I'd argue that if it is installed and `rpm` reports it installed, then `state=present` should just pass and do nothing. So whether this should be addressed in `package` or in `dnf` is a question.

[2017-11-23 08:30] tagirb commented on #33132
Hi, thanks a lot for the reply!

I understand the reasoning, but I have a follow-up question: What is the best practice for defining a localhost-only Ansible configuration? Do I still need to specify an inventory file?

[2017-11-23 08:49] ZhijunZhao commented on #33120
Working on a fix.

[2017-11-23 08:58] tbouvet commented on #31655
@leifmadsen I have the same configuration as you except I use tower and not awx. And it's not ok.

[2017-11-23 09:39] roock commented on #27520
Same Issue here with 2.4.1 (2.3.2.0 works fine):

[code]

[code]

[2017-11-23 10:04] jborean93 commented on #33132
You can either just live with the warning and not use a file or create an inventory file with

[code]

and use that in your ansible.cfg.

[2017-11-23 10:22] eoli3n commented on #5512
+1

[2017-11-23 10:35] rlueckl commented on #22571
+1

[2017-11-23 10:40] gundalow commented on #31988
@ossark Just wondering if you had a chance to test https://github.com/paramiko/paramiko/pull/1106 ?

[2017-11-23 10:45] jborean93 commented on #33213
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * If `ANSIBLE_NET_USER` and `ANSIBLE_NET_PASSWORD` are environment variables, you need to use the lookup env filter to get environment variable set https://docs.

[2017-11-23 10:45] #33213 closed, assigned to nobody

[2017-11-23 10:58] aabdnn commented on #32286
I've just downloaded and tried 2.4.2-rc1, and this bug is still in there. Any chance there will be a fix before 2.4.2 is released?

[2017-11-23 11:01] martinm82 commented on #28916
Question is actually quite good, why is the version hardcoded in commons? What if someone will require in a resource a different one?

[2017-11-23 11:07] JamesUoM opened #33226 "random filter doesn't return max integer value"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
core filter random

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY

The document  for the random filer states:
[code]

This implies you will get a number from 0 to 59 inclusive, however in practice you only get 0<= value  <59

Either the documentation is wrong or the filter

[2017-11-23 11:11] victorock opened #33227 "nxos_vrf_interface module error: "show run | section interface.Ethernet""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: nxos_vrf_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
NXOS: 7.0(3)I7(1)
ENV: Tower/AWX

##### SUMMARY
unable to configure vrf on interfaces

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS

Have interface state as:

[code]

##### ACTUAL RESULTS

Failed because of validation of running-c

[2017-11-23 11:25] TheLastWilson commented on #19254
I'm not the original poster but I too have come up with this need.

The problem with pause is that it's only a 1 time pause and it requires modification to the roles. having --step-at-task would facilitate being able to skip over the first however many tasks to the task you were previously got to rather than having to button bash y through every task until you get there.

[2017-11-23 11:48] Shaps commented on #19254
Hi @TheLastWilson.
You would have to bash 'Y' only if you use `--step`, which I agree is not acceptable.
I still don't see the problem with adding a `- pause: ` task wherever required. Adding a single line to a role just doesn't sound that bad to me.
If you really believe this could be a good addition, feel free to open a new issue, following the issue template, and I will try get it discussed in

[2017-11-23 12:52] k0ste commented on #23216
@mkrizek, works_for_me on 2.3.2.0

[code]

[2017-11-23 13:34] Akasurde commented on #26095
resolved_by_pr #33230

[2017-11-23 13:35] Akasurde commented on #26095
@angystardust Could you please check above mentioned PR and let me know if it works for you ?

[2017-11-23 13:38] Akasurde commented on #24887
@daBONDi Could please check PR #33230 and let me know if it works for you ?

[2017-11-23 13:54] Akasurde commented on #33214
Hi @saranya2293, Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2017-11-23 13:54] #33214 closed, assigned to nobody

[2017-11-23 13:54] BenWUKFast commented on #33072
@MarkusTeufelberger In the first two instances the files didn't exist, whereas the tempfile module creates empty files. It looks like an existing file causes it to fail, however the parameter "force" doesn't seem to work, one would assume it would just allow it to generate and skip the check?

[2017-11-23 14:15] Akasurde commented on #31804
@bhairav13 Thanks for report this issue. Could you please try this change (untested) and let me know if it works for you ?

[code]

[2017-11-23 14:27] edesz commented on #33052
I seem to have overcome this problem by specifying `ansible_python_interpreter` as @willthames mentioned above and also as shown in the example [here](https://github.com/ansible/ansible/issues/21468#issuecomment-317189249).

I tested each of the following approaches (separately):
1. `hosts` file:
[code]

2. Create `group_vars/all/all.yml` file (and make no changes to `hosts`):
[code]

Both of thes

[2017-11-23 14:45] MarkusTeufelberger commented on #33072
The problem is that `current_publickey = crypto.dump_publickey(...)` raises an exception since there is not a valid key that could be dumped. This means the other side of the `or` in `if not self.check(module, perms_required=False) or self.force:` is never reached. To make `force` work, the two sides of that comparison should be switched, to fix the issue alltogether, the exception when trying to

[2017-11-23 15:01] BenWUKFast commented on #33072
@MarkusTeufelberger As a temporary workaround I've decided to delete all the temp files before populating them haha. Unfortunately I feel I'm a little under-qualified to be submitting a PR, always happy to submit bug reports and help debug to play my part. I'd appreciate it if you do find time to fix the bug! :)

[2017-11-23 15:05] Harosgr commented on #33142
Ok, I rechecked it and I have the same results with @jborean93 . I don't know how I missed it in my first try with the strategy option... Anyway, the problem occurs only with free strategy. It seems that the "roles" misbehaves when the strategy is like this.

BTW. If I use in the play the new syntax to (dynamically) include a role
[code]
it works as it should.

[2017-11-23 15:26] HeOpuHaMeH9I commented on #20589
@chrisjohnson00 got it on 2.4

[2017-11-23 15:34] lawrence-c opened #33234 "Specified --limit does not match any hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible core/playbook

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running Ansible on Windows locally

##### SUMMARY
Successfully got Ansible installed on Windows (I think), and trying to run some playbooks locally on the Windows machine - however keep getting the error saying `Specified --limit does not match any hosts`

##### STEPS T

[2017-11-23 15:35] danowar2k commented on #14426
Setup:
- Ansible 2.4.0 Ubuntu 16.04 control machine VirtualBox 5.1.30 VM (Vagrantbox: bento/ubuntu-16.04)
- Solaris 11.3 VirtualBox 5.1.30 VM (Vagrantbox: heavybeans/solaris11-small-server)

Randomly get this error when testing a playbook, last time it was during a file action (the folder already existed). The two VMs have the same user "vagrant" and the Solaris box has no root password.

I used -

[2017-11-23 16:00] aregala opened #33235 "how to change default path of ansible semaphore"
Hi team,

currently i installed ansible with semaphore and mysql and everything is working fine with http://localhost:3000/

but i want to put this in apache and run through apache http server, reverse proxy is working fine, but i want to use something like http://localhost:3000/ansibleui which is not working.

All images/css/js/public are broken: like below
[code]
could you please check and let m

[2017-11-23 16:01] aregala commented on #33235
in apache access logs i see:
10.177.157.1 - - [23/Nov/2017:10:58:10 +0000] 005NeHFpb0F2vH9nvce9V10005wB000001 "GET /ansibleui HTTP/1.1" 200 2939
10.177.157.1 - - [23/Nov/2017:10:58:10 +0000] 005NeHFqhji2vH9nvce9V10005wB000002 "GET /public/css/semaphore.css HTTP/1.1" 404 232
10.177.157.1 - - [23/Nov/2017:10:58:10 +0000] 005NeHFqi4z2vH9nvce9V10005wB000002 "GET /public/js/bundle.js HTTP/1.1" 404 227

[2017-11-23 16:03] sivel commented on #33234
This is expected based on your command:

[code]

You are telling ansible to create an inventory with only `localhost`, but your playbook targets `host1` and `host2` and additionally you are limiting to `host1`.

You should use a real inventory, with hosts actually enumerated within.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2017-11-23 16:03] #33234 closed, assigned to nobody

[2017-11-23 16:04] sivel commented on #33235
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-23 16:04] #33235 closed, assigned to nobody

[2017-11-23 16:06] SurferL commented on #33234
Thanks for the response!

I don't suppose you can expand on this: `You should use a real inventory, with hosts actually enumerated within.` with a brief example?

[2017-11-23 16:08] sivel commented on #33234
Please see our documentation for inventories: http://docs.ansible.com/ansible/latest/intro_inventory.html

[2017-11-23 16:18] aregala commented on #33235
Hi team, please find the template summary:

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing is changed, everything is default.

##### OS / ENVIRONMENT

linux 7.6

##### SUMMARY

currently i installed ansible with semaphore and mysql and everything is working fine with http://localhost:3000/

but i want to put this

[2017-11-23 16:21] Tombar commented on #28744
This is affecting us also on 2.3.2.0, is there any workaround?

[2017-11-23 16:47] Akasurde commented on #33163
@narankhetani Thanks for reporting this issue. I noticed that the query is not correct. `-` is not valid in unquoted identifiers as it is used for negative numbers. You need to quote the query before passing. JMESPath Identifiers' doc [here](http://jmespath.org/specification.html#identifiers).

For posterity,

[code]

localhost.json

[code]

And playbook run

[code]

[2017-11-23 16:47] #33163 closed, assigned to nobody

[2017-11-23 16:54] xmj commented on #32486
Addendum, `2.4.1.0` doesn't work either.

[2017-11-23 17:28] Akasurde commented on #25643
resolved_by_pr #33236

[2017-11-23 17:28] Akasurde commented on #25643
@0mmariano Could you please check above PR and let me know if it works for you ?

[2017-11-23 17:51] ganeshrn opened #33237 "Reset persistent connection fails with socket not present error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

plugins/strategy/__init__.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run junos integration test:

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-23 21:05] geoffmunn opened #33240 "Environment keyword does not support 'false' or empty values"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url, yum, pip, etc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The environment keyword supports proxy configuration details, like this:
[code]
where `{{ proxy_env }}` has been previously

[2017-11-23 21:14] sgutermann commented on #32833
ansible 2.3.1.0

[2017-11-23 21:38] rightaway opened #33242 "Retain colors in log file"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/utils/display.py

##### SUMMARY
The log file in ANSIBLE_LOG_PATH only has colors for the diffs when using the `--diff` option to `ansible-playbook`. I'd like to have an option for all colors to appear in the log file as they appear on the console.

[2017-11-23 21:52] wkoszek commented on #29373
@Etherdaemon No longer have a way to reproduce that, as my environment changed completely. Feel free to close.

[2017-11-23 21:52] nerzhul commented on #33142
i have exactly same problem with default strategy and using with_item on with_dict. Ansible iterates over inclusion without executing any included task.

[2017-11-23 22:03] andmos opened #33243 "win_chocolatey: Installing latest prerelease packages not implementet?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`win_chocolatey`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
From Ubuntu 17.04
Against Windows Server 2012R2

##### SUMMARY
I can't find any way to install the *latest* prerelease of a Chocolatey package without setting the version for the package explicit. In the Chocolatey CLI this is done with a `--pre

[2017-11-23 22:05] benbro opened #33244 "gce - can't add tags to a running instance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
New tags in a gce task are not added to a running instnace.

##### STEPS TO REPRODUCE
1. Run a playbook that creates a gce instance without tags.
2. Add tags to the task and run the playbook again.

[code]

##### EXPECTED RESULTS
tag1 shoul

[2017-11-23 22:12] dagwieers commented on #33243
@andmos Shouldn't be hard to implement. Would you be willing to implement this ?

[2017-11-23 22:15] victorock opened #33245 "nxos_interface_ospf : Passive interface is not supported on loopbacks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface_ospf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHER_TIMEOUT(/etc/ansible/ansible.cfg) = 30
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 40
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 120

##### OS /

[2017-11-23 22:21] dagwieers commented on #33127
I agree, the resulting output should be Unicode.

If I run this playbook:
[code]

I get this output:
[code]

[2017-11-23 23:40] tedder commented on #29721
Thanks @shepdelacreme.

[2017-11-24 00:25] Etherdaemon commented on #29373
Ok no worries, thank you.

[2017-11-24 00:30] #29373 closed, assigned to nobody

[2017-11-24 01:35] #33076 closed, assigned to nobody

[2017-11-24 02:57] westsouthnight commented on #24979
Im so sorry but after read that topic i thinks its looks like closed two days ago bug from me.

@mbialozor please look to https://github.com/ansible/ansible/issues/16004

and if its looks like that, write about it please. I see bad behavior in last year and have difficult to split my dicts correctly if for different groups of hosts we have in one inventory dicts with same names. Always gets last!

[2017-11-24 03:33] willthames commented on #29819
@wilvk if you comment with bug_resolved, the bot should close the issue

[2017-11-24 03:36] #29721 closed, assigned to nobody

[2017-11-24 03:38] #29819 closed, assigned to nobody

[2017-11-24 03:46] willthames commented on #29582
I imagine this was due to an out of date boto library - complex_listeners was added to create_load_balancers with boto v2.9.8 in July 2013!

[2017-11-24 03:46] #29582 closed, assigned to nobody

[2017-11-24 05:46] willthames opened #33248 "Deprecate bucket management in aws_s3?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY
aws_s3 manages buckets, but not very well. The `create`/`delete` operations don't map well declarative management of buckets. So you can create a bucket with permissions, but you can't then change those permissions. Rather than change how aws

[2017-11-24 05:46] willthames commented on #33248
cc @s-hertel

[2017-11-24 05:52] #28877 closed, assigned to nobody

[2017-11-24 06:34] #31027 closed, assigned to ganeshrn

[2017-11-24 06:34] #31028 closed, assigned to ganeshrn

[2017-11-24 06:50] foxracle commented on #17935
randomly fails setup

------------------------
ansible --version
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/Users/foxracle/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (def

[2017-11-24 07:24] andmos commented on #33243
Sure, I can have a look. Should be as easy as just adding another parameter.

[2017-11-24 07:40] kedarkekan opened #33250 "Delimit message from ansible-connection subprocess stdout"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-connection
persistent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS 10.12.6

##### SUMMARY
ansible-connection will put verbose logs onto the pipe along with the intended messages written with `sys.stdout.write()`
e.g. verbose logs from plugin loader are written on the pipe.
[code]

###SOLUTION ###
Use a

[2017-11-24 07:45] Spredzy commented on #32377
Hey @emanuele-leopardi-dap, I've tried reproducing your issue with the exact same setup. I couldn't repeat your bug.

Could you tell me which `openssl` command did you run?

Below my investigation:

[code]

[2017-11-24 08:48] misterjoa commented on #14172
Hello @ansibotdev I provided the info instead of @cthiemann ... Please reopen !

[2017-11-24 09:06] TheLastWilson opened #33254 "There should be an argument for --step-at-task in addition to --step and --start-at-task"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
/usr/bin/ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When debugging roles in larger playbooks the --step argument is very helpful however in larger playbooks there is often prerequisite tasks and roles that we need to execute before reaching the the task we are wishing to s

[2017-11-24 09:07] rene1977 commented on #31266
I got the same error. Probably because the storage is a fresh AWS EBT volume where maybe some device informations are missing.
I have no Python 2.7.13 available.

ansible --version
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ec2-user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/py

[2017-11-24 09:12] rene1977 commented on #31266
After i set a label with the following commands, the ansible module works flawless.

parted /dev/sdb print
Fehler: /dev/xvdb: unbekannte Partitionstabelle

parted -a optimal /dev/sdb mklabel gpt

parted /dev/sdb print
Modell: Xen Virtuelles Blockorientiertes Gerät (xvd)
Festplatte  /dev/xvdb:  107GB
Sektorgröße (logisch/physisch): 512B/512B
Partitionstabelle: gpt

[2017-11-24 09:34] Spredzy opened #33256 "openssl_publickey: Idempotence does not work with format OpenSSH"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- openssl_publickey

##### ANSIBLE VERSION

- devel

##### CONFIGURATION

- N/A

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

The idempotence check for openssl_publickey when their format is OpenSSH does not work.
It fails w/o https://github.com/ansible/ansible/pull/33255 and is not idempotent even with it.

This is because we treal all publi

[2017-11-24 09:50] vaibhavsood commented on #30915
Thanks! Ill communicate on the alternate channels

[2017-11-24 10:16] quinot commented on #25823
Issue still present in master, not clear why this has been closed, especially considering that there is a trivial fix (changing the default of 'encrypted' to True).

[2017-11-24 10:36] barney3000 opened #33257 "Jinja2_templates - workaround to increment a variables for outer scope"
##### ISSUE TYPE
 - Bug Report ???

##### COMPONENT NAME
templates

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = True
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp

##### OS / ENVIRONMENT
Fedora 27
Kernel: 4.13.13-300.fc27.x86_64
Python 2.7.14
python2-jinja2-2.9.6-2.fc27.noarch

##### SUMMARY
Hi all,
o

[2017-11-24 11:42] fgbreel commented on #24294
I'm facing the same issue when doing:

[code]
results in:
[code]

Maybe a `raw` option for the `ini_file` module could be nice too.

[2017-11-24 12:17] oboukili commented on #32767
I encountered the exact same issue and was able to reproduce it 100% of the time when generating challenges for fqdns that were never successfully challenged through the acme protocol *and* specifying that the subjectAltName extension be critical in your CSR (which you also did in your example above).

The letsencrypt module does then not seem to be outputing challenge data for any SAN, but the co

[2017-11-24 12:28] karniemi commented on #32238
@sivel Any chance to get this fix in for next 2.4 release?

[2017-11-24 12:36] CodaAmok commented on #32940
Oddly, I just experienced the same issue from 14.04.05 LTS to another 14.04.05 LTS so I guess my 16.04-only comment is out the window.

[2017-11-24 13:23] jcea commented on #31049
Hitting this too. Showstopper. Going back to ansible 2.3.2 for now :-(. Running SmartOS.

[2017-11-24 13:47] cazgp opened #33258 "route53 `get` unnecessary? mandatory `type` field"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

route53

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_VAULT_PASSWORD_FILE(/home/caz/X/server/deployment/ansible.cfg) = /home/caz/.ansible/vault-password
RETRY_FILES_ENABLED(/home/caz/X/server/deployment/ansible.cfg) = False

##### OS / ENVIRONMENT

Ubuntu 16.10

##### SUMMARY

`route53` `get` requires one to pass in the `type`

[2017-11-24 13:55] atosatto opened #33259 "Painfully slow access to hostvars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

I'm using Ansible with a small/medium sized inventory and accessing hostvars is painfully slow.
Playbooks became incredibly slow while rendering templates. One particular template became unusable since the task takes now 40 minutes.

[2017-11-24 14:02] wknapik opened #33260 "The quote filter fails on integers"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]
2.5.0.34173.3d63ecb6f3-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I was expecting the `quote` filter to work with integers, without an explicit cast. It does not.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Success.

###

[2017-11-24 14:29] wknapik commented on #33260
If this is considered intended behavior, then at least the error message should be improved. When this failed for me the first time, it was in a task with 14 quoted variables. Took a while to figure out where exactly the problem was.

[2017-11-24 14:36] traumschule opened #33262 "patch module should use absolute path for p.dest"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[patch](https://raw.githubusercontent.com/ansible/ansible-modules-extras/devel/files/patch.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
unchanged (output of `ansible-config dump --only-changed` is empty)

##### OS / ENVIRONMENT

##### SUMMARY
Patch fails to find a file specified with `dest=relative/path`.

##### STEPS TO REPRODUCE
[cod

[2017-11-24 14:42] acdbrnz opened #33263 "Openssl_csr module generates error in Ansible 2.4.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openssl_csr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log

##### OS / ENVIRONMENT

Running Ansible on Centos 7.4.1708.

Target host OS, CentOS 7.4.1708.
[code]

##### SUMMARY

I recently upgraded Ansible from 2.4.0 to 2.4.1.  The same playbook run on Ansible 2.4.0 does no

[2017-11-24 14:46] rgarrigue commented on #19874
For the record, there's already a buster tag on docker's library [debian](https://hub.docker.com/_/debian/), with the same issue.

[code]

Here's ansible running localy

[code]

[2017-11-24 15:04] bcoca commented on #33254
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-24 15:07] Spredzy commented on #33263
@acdbrnz Thanks for reporting the issue. Could you let me know what the following command on the target host report please.

[code]

[2017-11-24 15:09] TheLastWilson commented on #33254
hi @bcoca

This is not really a user question but a feature request.

--step and --start-at-task would not achieve at the same thing at all. I wanting to run the previous roles/tasks in the playbook but start --step at 'taskname'.

I guess this could be achieved by inserting a fail or a pause just before task name and then running with --step and --start-at-task but I feel having --step-at-task wo

[2017-11-24 15:11] acdbrnz commented on #33263
[code]

[2017-11-24 15:18] SandMouse commented on #1171
@bcoca `ssh_args= ""` solved my problem. Thank you.

[2017-11-24 15:23] traumschule commented on #29203
To me it looks like all three are specified above.

[2017-11-24 15:27] alexxa opened #33267 "ERROR! 'include_tasks' is not a valid attribute for a Play"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

include_tasks
##### ANSIBLE VERSION

The error appears on both ansible-2.3 and 2.5
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25

##### SUMMARY

A sample playbook [1] from docs returns an error: `ERROR! 'include_tasks' is not a valid attribute for a Play`.
[1] https://github.com/ansible/ansible/pull/304

[2017-11-24 15:40] Spredzy commented on #33263
Unfortunately, I can't repeat your bug given the same setup you are in:

[code]

The issue you mentionned is raise when `get_extensions()` is not part of X509Req which was added in the 0.15 release. Can you ensure that at runtime you can confirm 17.4.0 is found, something like that:

[code]

[2017-11-24 15:46] mrodessit opened #33269 "Authentication failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sshpass

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu Server 16.04

##### SUMMARY
I reinstall remote server (S1), and now couldnt connect to it from master server(S2).
Using authentication via ssh by login-password. Getting always "Authentication failure" er

[2017-11-24 16:07] mrodessit commented on #33269
!component =/lib/ansible

[2017-11-24 17:08] sivel commented on #33267
main.yml is a roles task file, not a playbook. If you are executing that file directly using Ansible-playbook you will get this result. However, we can probably improve the docs here to more clearly indicate that.

[2017-11-24 17:29] Eimert commented on #31737
I got past this error by adding:
[code]
After line 492 (`try:`) in /usr/lib/python2.7/dist-packages/ansible/modules/net_tools/nmcli.py.

Having fixed it, another error appeared:
[code]

[2017-11-24 17:49] andreyfedoseev commented on #32358
@Akasurde sorry for the late reply, I was on vacation. What is the best way to install the dev version of Ansible to test this pull request?

[2017-11-24 18:13] ssbarnea commented on #9369
Sorry to hijack an old tread but, on ansible 2.4.x,  what is the correct way to define a default False value for a variable? Somehow reading the comments didn't help me.

[2017-11-24 18:39] acdbrnz commented on #33263
I ran it against the target host and see 17.4.0 installed.
[code]
[code]

[2017-11-24 18:43] acdbrnz commented on #33263
I yum downgraded from 2.4.1 to ansible 2.4.0 and it now works.

[2017-11-24 18:47] EliMutchnik commented on #33178
@jborean93 Thanks!
I have tried to run this task couple of times on different IIS hosts and on ansible 2.4 the result was the same.
Please notice that the error occurs when creating app pool (only the state is stopped).
Another thing - the error is about access issues. I guess it's not the ansible credentials access because all the rest does work so seems it's some kind of internal IIS\Windows acc

[2017-11-24 19:08] fthommen commented on #18979
This is a major issue for us, as only parts of the hosts connect via proxies, others don't.  The proxies are correctly configured in /etc/yum.conf but ignored by the yum module.  Having the playbook to set (or not set) this via environment seems too much of an overhead.  Why configure again which is already configured?  That's not the proper way to do it.

[2017-11-24 19:45] richard-fairthorne commented on #22382
+1

[2017-11-24 20:15] ossark commented on #31988
Not yet. Busy busy...

Will make an attempt next week

[2017-11-24 20:16] user140547 opened #33270 "Names of tasks not honoured when called in a task include with a handler"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

handler

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using a task include in a handler, the names of the tasks are not printed in the output

##### STEPS TO REPRODUCE

[code]
tasks.yml
[code]

##### EXPECTED RESULTS
a similar result like when a task include is used in the playboo

[2017-11-24 21:00] #33240 closed, assigned to nobody

[2017-11-24 22:54] BenWUKFast commented on #33072
@Spredzy Great work! Thank you :) Looking forward to this being merged.

[2017-11-24 23:23] nwsparks opened #33273 "windows: ansible fails to connect after IIS binding with SNI enabled is added"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible winrm connections

##### ANSIBLE VERSION

[code]
I've also tested with 2.4 and 2.3 stable and issue is present in both.

##### CONFIGURATION

no settings changed.

##### OS / ENVIRONMENT

ansible: amazon linux latest

targets: server 2012r2 and 2016. I've tested against both the current images and ones that are several months old with

[2017-11-25 02:39] xzcccc opened #33274 "Unable to use apt-get install"
#### ISSUE TYPE

- Bug Report

#### COMPONENT NAME

apt module

#### ANSIBLE VERSION
[code]

REMOTE OS:
  Debian 9 on Raspberry
Host OS:
  Debian 8 on Raspberry

#### SUMMARY

The simple following command:
[code]

Throws an error on Debian instances.

[code]

I don't know why use apt_get update on remote that need to install python-apt, however, I have installed python-apt on host:

[code]

And wh

[2017-11-25 03:29] #33072 closed, assigned to nobody

[2017-11-25 03:40] Akasurde commented on #26095
@lepiepl I have added new patch, could you please test it on your setup?

[2017-11-25 03:47] Akasurde commented on #32358
@andreyfedoseev np, best way to test this patch is by having developer setup. You can try developer setup described [here](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup).

You may need to use my branch on fork
[code]

[2017-11-25 04:10] Akasurde commented on #31923
@karlism Thanks for reporting this issue.

[2017-11-25 04:53] geoffmunn commented on #33240
Actually, using the ‘default’ filter doesn’t change anything - you still get the warning.
Why can’t it support “false” as a value?

[2017-11-25 07:12] #30566 closed, assigned to nobody

[2017-11-25 07:13] Akasurde commented on #30566
@garbled1 Thanks for your valuable contribution.

[2017-11-25 07:14] Akasurde commented on #30566
@shankerrhce Please checkout latest devel branch and re-try.

[2017-11-25 07:17] ivotron commented on #17098
@nerdvegas what you describe is what I ended up doing as a workaround (within a role):

[code]

the `{{ role_path }}/scripts/loop-until-tasks` script contains a bash loop, iterating a call to ansible that executes a list of tasks (and breaks out when they all succeed). Thus, this is actually running a repeat-until nested play. The above is a simplified version of what's here https://github.com/ivo

[2017-11-25 07:58] Akasurde commented on #29921
For posterity,

`with_dict` doesn't guarantee order of the element while iterating, (correct me if I am wrong)

So I came up with a simple solution like

[code]

Closing this issue as there is no response from user.

[2017-11-25 07:58] #29921 closed, assigned to nobody

[2017-11-25 09:07] xen0l commented on #31049
@bcoca @alikins this should be included in the next release as jcea's PR fixes the problem.

[2017-11-25 09:08] shiv1499 commented on #19584
Getting an error. Here shivslave is another VM on Virtualbox with IP 192.168.0.5 and I am able to connect it with shivslave@192.168.0.5 successfully but Ansible command is not working. The Host file contains

**[example]
192.168.0.5**

shivmaster@shivmaster-VirtualBox:~$ ansible example -m ping -u shivslave -vvv
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search pa

[2017-11-25 09:22] #33250 closed, assigned to kedarkekan

[2017-11-25 09:42] dspruell opened #33275 "Template loop assignment failing and substituting value of tags property"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

Templating `with_items` / `with_subelements`

##### ANSIBLE VERSION

[code]

Jinja2 (2.10)

Tested also using latest Ansible devel branch (ansible-playbook 2.5.0)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Managing host: OpenBSD amd64 6.2
- Managed host: OpenBSD amd64 6.2

##### SUMMARY

Attempting to template strings out using a nes

[2017-11-25 13:47] leeyan85 commented on #24729
@mvrk69 , did you set resource pool ?  i see you can create vm successfully.
I use the same playbook with you, but i cant create vm succesfully, i don't set resource pool in the vcenter. it will return a error like "argument is wrong, assign host or resoure pool", but i definitely
 assigned the esxi_hostname.

`- hosts: 127.0.0.1
  connection: local
  gather_facts: no
  tasks:
  - name: create the

[2017-11-25 16:49] Akasurde commented on #32704
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-11-25 16:49] #32704 closed, assigned to nobody

[2017-11-25 17:05] bchamby opened #33279 "Redshift return values (url, public_ip_address, and port) are missing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redshift

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

<no output / empty>

##### OS / ENVIRONMENT

Running from macOS High Sierra 10.13.1

Running against AWS Redshift

##### SUMMARY

The redshift module creates the Redshift instance as expected, but the "cluster" dict return value is missing the "url", "public_ip_address", and "port"

[2017-11-25 18:21] bchamby opened #33280 "Redshift module doesn't allow dc2.large node type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redshift

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

<no output / empty>

##### OS / ENVIRONMENT

Running from macOS High Sierra 10.13.1

Running against AWS Redshift

##### SUMMARY

The Redshift module doesn't allow dc2.large as a node type option, but this is the default node type in Redshift. The AWS console says, "The ds2 and dc2

[2017-11-25 19:05] lex00 commented on #30192
Workaround for those who are only having this issue in CI while testing roles in dockers: Set a flag "is_docker" to false in role vars, and then setting it to true at runtime if running in a docker (by grepping /proc/1/cgroup)

Then in systemd handlers, one can use "when: not is_docker" to guard it.  In my CI I can start my services manually in the docker so this works out ok (for me).

[2017-11-25 19:48] sivel commented on #33275
I believe the error is actually with your for loop:

[code]

The error indicates that you asked jinja/python to unpack more elements than are available. This is because `item.1` is a dict and by default looping a dict only loops the keys.

Instead you want something like:

[code]

Or

[code]

[2017-11-25 22:02] ghost opened #33283 "Copy Module issue"

[2017-11-25 22:06] rodrickbrown commented on #19820
Just went through this myself.

Ill rather use lineinfile to generate my /etc/fstab as I want and have my handler execute the mount module that does something very basic as

- name: mount efs volume
   command: mount -a