[2017-04-13 00:40] abadger commented on #23489
* lookups operate on the controller and thus will use environment variables from the controller.  Only modules operate on the remote side. (Second note in the documentation of lookups: http://docs.ansible.com/ansible/playbooks_lookups.html )

* Different shells source different startup files so I can't say for certain which startup file you'll need to change.  I can say that I've just tested under

[2017-04-13 00:40] #23489 closed, assigned to nobody

[2017-04-13 00:50] abadger commented on #23495
In general you can look at the CHANGELOG.md file in the relevant branch https://github.com/ansible/ansible/blob/stable-2.2/CHANGELOG.md

It looks like we forgot to update that for 2.2.2, though... probably because we were releasing across all the 2.x branches at that time and we missed a few steps that we normally take.

note that we only record major bugfixes in the CHANGELOG so sometimes there w

[2017-04-13 00:50] #23495 closed, assigned to nobody

[2017-04-13 01:54] abadger commented on #23499
I've tried to replicate your conditions as closely as possible but I'm afraid that just like your colleague, I cannot yet reproduce.  I've tried with both current devel and with a checkout of 2.2.1.0

My playbook:
[code]
My inventory:
[code]
How I'm running it:
[code]

My local username is badger just like the second user in the accounts dict.

For me the first task is properly printing that whoam

[2017-04-13 02:03] eljuanchosf opened #23549 "gem module not picking up 'become' directive"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gem module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Linux Mint 17.2

##### SUMMARY

Ansible is not picking up a `become` directive in a `gem` module command.

##### STEPS TO REPRODUCE

Just run the example below:

[code]

##### EXPECTED RESULTS

Gem installed for a user instead of globally.

####

[2017-04-13 02:14] tingxin commented on #23479
@abadger i don't think so just code issue belong to bug ;(. in my option, when i run setup.py, it should help user to install the relative lib....

[2017-04-13 02:19] abadger commented on #23501
Does that mean that simplejson isn't installed on the remote machine and once you install it, things work?

[2017-04-13 03:06] #10509 closed, assigned to nobody

[2017-04-13 03:06] #12043 closed, assigned to nobody

[2017-04-13 03:23] abadger commented on #23501
I'm unable to reproduce this.
[code]

I'm targetting a centos5 host which only has python-2.4.3 as its python version.

Is there any other information you can give us to help reproduce this?

needs_info

[2017-04-13 03:43] imstochastic commented on #23501
The output you have more or less matches what I have.  You verified, I presume, that the file was actually downloaded the first time (without simplejson installed)?  The bug is that I saw that output (i.e. an 'OK' result) but the file did not appear.

I cannot install simplejson on the machine in question, so I'm afraid I'm not much help answering that question.

[2017-04-13 03:56] abadger commented on #23543
The problem boils down to misplaced quotes.  One of the following should work:

[code]

This is really a user question and not a software bug.  If you need more help, please feel free to use the mailing list or irc channel (I'll paste their info below)

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user

[2017-04-13 03:56] #23543 closed, assigned to nobody

[2017-04-13 03:58] LukeDRussell opened #23551 "2.3 ios_facts failing with IOS_XE 3850s"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
2.3 ios_facts module and network_cli.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Redhat 7.3

##### SUMMARY
While trying to use ios_facts module to gather information from IOS-XE based 3850's, I get errors with a callback. I can get one of my fleet to work, but the other dozen or so get this error. I have

[2017-04-13 04:24] mattparkes commented on #23537
I agree with **sivel** -- what you did was define an empty group.

The only way this exact set of circumstances could be caught is by alerting that **group1** was defined twice.

[2017-04-13 04:53] bcoca commented on #23541
Tried to reproduce locally with no success, can you give a simple reproducer (using stock ansible, not sure what openstack-ansible is).

[2017-04-13 05:03] tmshn commented on #16665
@rt711
#### An extra row/col on table
This is not because of my docs, but because of the size mismatch between `<table>` and `<tbody>` in css. This mismatch, I guess, is intended to support scroll on narrow screen.

But showing up extra/rows on wider screen might be a bug?
Hello @sivel, do you have any idea about this?

#### Table-in-table on "return" section
As I look through other modules' docs,

[2017-04-13 05:26] #13223 closed, assigned to nobody

[2017-04-13 05:33] naftulikay commented on #14751
I am unable to update this but @ansibot component name = galaxy

:crystal_ball:

[2017-04-13 06:18] SethosII commented on #21472
I tested the `autoremove` option with `2.3.0.0-1ppa~xenial` from the ansible PPA but it doesn't find any autoremoveable packages (just says OK), allthough there are some old kernel images that can be autoremoved. Should I open a new issue or does it belong to this one?

[2017-04-13 06:23] Shuliyey commented on #23065
thanks you so much for this fix @kcd83, i can see ansible2.3 got updated in pip.

https://pypi.python.org/pypi/ansible, so pip can install ansible2.3 now. Also the fix is working. I'm no longer missing the parameters anymore after update.

[2017-04-13 06:39] MasterofJOKers commented on #23487
@jtyr The `devel` branch module works as expected. Sorry for bothering you.

[2017-04-13 06:39] #23487 closed, assigned to nobody

[2017-04-13 06:56] donnieatbowie commented on #15973
Hi. +1 regarding the 0.1.1 solution. 0.2.x doesn't work for me as well.

[2017-04-13 07:27] robinro commented on #15802
@kenji21 This sounds like it is not an issue with ansible, but with the way to store your playbooks.
If I understand your setup correctly, you need to run `git submodule update --recursive` after the `git pull`.

[2017-04-13 07:39] robinro commented on #23516
@Popyllol Thanks for this bug report.
The duplication is unintentional, but harmless in most usecases (except yours).

It happens in
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/zypper.py#L370-L378

One should either remove the versioned entries from `name_install` of combine `install_version` and `name_install` in one variable. The version code was added on top l

[2017-04-13 07:53] robinro commented on #11524
@joaocc Does this still exist with the devel branch?

[2017-04-13 07:57] jhawkesworth commented on #15973
I suggest moving your connection-related settings (ansible_user, ansible_password, ansible_port, ansible_connection etc) to group_vars (instead of setting against the host vars).

I have connection settings set up in group_vars and have had no problems with any of the 0.2.x versions of pywinrm.

[2017-04-13 08:00] robinro commented on #15047
close_me

[2017-04-13 08:04] lhoss commented on #19075
+1 by me
but this looks like a dupe of https://github.com/ansible/ansible/issues/10829

[2017-04-13 08:12] lhoss commented on #15476
Related:
* https://github.com/ansible/ansible/issues/10829#issuecomment-260183546  gives a tip about howto to activate only part of your handlers (as `flush_handlers` supports no handlers selection)
* https://github.com/ansible/ansible/issues/15338: feature request to better support _complex start/restart procedures_

[2017-04-13 08:25] dano0b opened #23556 "yaml inventory support in 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

...
[defaults]
inventory = ./inventories/hosts.yml
....
##### OS / ENVIRONMENT

rhel 7
##### SUMMARY

play can't access host_vars for hosts/groups defined in a yaml inventory

##### STEPS TO REPRODUCE

define host/group using a yaml inventory
define host var this host in host_

[2017-04-13 08:41] schwatvogel opened #23558 "rpm_key key_id verification erroneous"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
ansible/modules/packaging/os/rpm_key.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

not relevant
##### OS / ENVIRONMENT
N/A
Redhat/Centos rpm-based
##### SUMMARY

Function is_key_imported does not work reliably because
Function getkeyid only extracts the last part of the first signature packet,ignoring the significant other ids
therefore th

[2017-04-13 08:46] robinro commented on #18991
@dmsimard Your `reproducer.sh` works with the devel version of ansible for me. Can you confirm this?
Thanks for the nice reproducer script btw.

[2017-04-13 08:47] er1zo commented on #20196
Any update on this issue?

[2017-04-13 08:53] robinro commented on #19290
@odyssey4me Removing a remote is a fairly uncommon use case. Still the module could support it. If you (or someone else) wants to implement it I'm happy to help and review. I'd like to see test cases for
* your above example, removing a remote and readding it
* changing a remote URL
needs_contributor

[2017-04-13 08:57] robinro commented on #19440
This was introduced in https://github.com/ansible/ansible/commit/0d9afa84d50e02c912e90ff6bbe5a89cea30b8be

One could think about moving the error from the hostkey module back to the git module, maybe via an exception?
Or the hostkey check could report more accurately that the machine is not reachable instead of the "hostkey" message.

@abadger What's your view on that?

[2017-04-13 09:03] robinro commented on #21899
@davidfischer-ch Can you provide a minimal playbook that reproduces the issue, i.e. sets up the test repo and the clone?

[2017-04-13 09:07] lfrancke opened #23559 "win_copy: Folder copy broke in 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]
I also tested on latest devel branch last night, same behaviour.

##### CONFIGURATION

##### OS / ENVIRONMENT
Running on MacOS, managing Windows Server 2016

##### SUMMARY
Before 2.3 the win_copy module could be used to copy a source folder to a destination folder. 2.3 broke this. @dagwieers suspects PR #21

[2017-04-13 09:09] Popyllol commented on #23516
Thanks for you investigation so far!
But sorry, I am not your man if the code is Python :-(. Still a blind spot in my languages.
If one can fix this I would be glad :-).

[2017-04-13 09:15] robinro commented on #22241
@paddatrapper I can reproduce your issue (with ubuntu 16.04).

I guess it's an issue with `get_submodule_versions`. Can you look into fixing this?
Feel free to refactor the submodule code while touching. It does a fair amount of stdout/config parsing at the moment which is pretty error prone. Some of that could be moved to native git commands.
needs_contributor

[2017-04-13 09:17] robinro commented on #23516
If someone else can have a go I'd be happy to help/review.

If not I'll probably fix it myself some time in the future.

[2017-04-13 09:23] robinro commented on #22848
This replacement would require explicit parsing of `ssh_opts`, which I'd hesitate to do.

What keeps you from using the correct hostname in the URL?

[2017-04-13 09:27] ghost opened #23560 "YAML tag for python object string is broken in ansible 2.1.5, 2.2.2, 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
retry_files_enabled = False
roles_path = ./roles
host_key_checking = False
allow_world_readable_tmpfiles = True

\# callback_plugins configuration is required for the ARA callback
callback_plugins = ~/.ansible_venv/local/lib/python2.7/site-packages/ara/plugins/callbacks

\# action_p

[2017-04-13 09:30] paddatrapper commented on #22241
If no-one gets to it before me, sure I'll take a look. But will probably
only get a chance much later in the year. The bug isn't crucial for me
at the moment - there are a couple of tasks that change every time in
the roles I'm using

Thanks for taking a look though

[2017-04-13 09:46] kraduk opened #23561 "Route53_zone creation fails for private zone"
- Bug Report

##### COMPONENT NAME
route53_zone

##### ANSIBLE VERSION
Tested on 2.2 and 2.3

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
Route53_zone cant add a private zone, when you use the region setting rather than vpc_region. This either needs fixing or the documentation updating as the web pages dont even mention vpc_region.

http://docs.ansible.com/ansible/route53_

[2017-04-13 09:55] dagwieers commented on #23559
It seems the integration tests do test a directory-to-directory copy, but the context may be sufficiently different.

What's also clear from the error output is that a single file is copied, and the remote module is actually providing a file as source, and a directory as destination. So from that perspective the module error is correct.

[2017-04-13 10:01] lfrancke commented on #23559
Is there any more context I can provide that would be helpful? I can provide a minimal example but I think this is already as minimal as it gets.

Here's the source directory:
[code]
So definitely more than one file. The destination directory in Windows is just empty.

[2017-04-13 10:02] Rudd-O commented on #23272
On 04/07/2017 11:14 PM, jctanner wrote:

I can't repro the problem anymore.  Please close.  Thanks.

--
    Rudd-O
    http://rudd-o.com/

[2017-04-13 10:13] jake2184 commented on #23521
Thanks for the feedback - I also noticed you linked some very similar tickets, my apologies. I did search the issues beforehand but was unable to find these.

Is it perhaps worth updating the docs to be clear that you still need a 0 prefix even for a 4 digit octal mode?

[2017-04-13 10:16] wimnat opened #23562 "group_vars are not correctly selected when running a play"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible group_vars

##### ANSIBLE VERSION
2.3

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
NA

##### SUMMARY
I have an inventory with three groups.  Each group has a group_vars file.  The group_vars files share common keys (variable names) but different values.

For example,
group_vars/account1 has
`account_id: 1`

group_vars/account2 ha

[2017-04-13 10:21] donnieatbowie commented on #15973
it is within group vars indeed.

[2017-04-13 10:54] lfrancke commented on #23455
I did test your PR and it seems to work for my use-case:

[code]
And a second run:
[code]

My other `win_firewall_rule` tasks also work and the bug #22554 is also fixed for me.

Thank you!

[2017-04-13 11:15] jborean93 commented on #23559
Hmm unfortunately it is probably something I changed in that PR just doing some testing locally to try and replicate it. Some things of note so far

* You can do `win_copy: src=openvpn dest=C:\\temp\\folder` which works but you end up with a new folder called openvpn, `C:\temp\folder\openvpn\...`
* Trying to do `win_copy: src=openvpn/ dest=C:\\temp\\folder` creates a file `C:\\temp\\folder` with t

[2017-04-13 11:21] hellokangning commented on #23390
Here is my repo [ansible-elasticsearch](https://github.com/hellokangning/ansible-elasticsearch )
I didn't use any handler since I am a newbie to Ansible.

[2017-04-13 11:34] lfrancke commented on #23559
Thanks for taking a look. This is my first time touching PowerShell. Happy to have a look but if you have any hints on how to debug this (e.g. how to run/debug the Powershell scripts in isolation) that'd be helpful. No worries if not. I'll also try to find some time.

[2017-04-13 11:35] sbaudoin opened #23563 "Add ability to customize the SU prompt for privilege escalation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
SU prompt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
RHEL 6.6 and 7.2

##### SUMMARY
We have a customized su command that displays a long prompt string ("Please enter your password:") instead of a short, regular one. The consequence of this is that privilege escalation does not work, which forces us to login

[2017-04-13 12:02] MartinNowak commented on #22848
Different hostnames+ports for internal direct network routes between containers on the same host. Hardcoding those into repo checkouts isn't too nice, so we modified the ssh config instead.

Why do you need to do your own [hostkey check](https://github.com/ansible/ansible/blob/103ede26dfe012cc2aef268ff97b73fd9b906c23/lib/ansible/module_utils/known_hosts.py#L113) before cloning?
Might it be possibl

[2017-04-13 12:10] Fobhep opened #23564 "Setting a sync plan in Katello Module will result in Organization Error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 /modules/remote_management/foreman/katello.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
inventory      = ./inventory
library        = ~/ansible_lib
remote_user = root
private_key_file = ~/.ssh/id_rsa
nocows = 1

##### OS / ENVIRONMENT

running from Centos 7
managing Centos 7

##### SUMMARY
setting a sync plan with the kate

[2017-04-13 12:21] mohtashims opened #23565 "keytool behaves different when invoked using ansible local_action"
Issue Type
Bug Report

COMPONENT NAME
local_action

ANSIBLE VERSION
ansible 2.1.0.0

I am using ansible roles called "mgr"

/tmp/roles/mgr/tasks/spull.yml:17 is below:

[code]

more /tmp/roles/mgr/files/renew.sh

[code]
Running ansible roles as below gives error

[code]
Running this command from renew.sh without ansible is interactive and desirable

[code]
but when the same is triggered using ansi

[2017-04-13 12:24] bjolivot commented on #23562
Localhost is in multiple groups on same level of precedence, for me it's not a bug, your variable is erased 2 times.

[2017-04-13 12:32] itdependsnetworks opened #23566 "Network *_command returned always"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ios_command
asa_command
presumably others

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

some {{ os }}_command docs indicate that stdout/stdout_lines should always be returned. They do not show when the configuration errors out.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2017-04-13 12:43] gundalow commented on #23566
@itdependsnetworks Thanks for this
Implementation, docs and tests need to be inline

[2017-04-13 12:56] wimnat commented on #23562
I would agree with you if it was a host var but it's not. It's a group var. Why would you ever include vars from a group you haven't referenced?

[2017-04-13 12:57] gundalow commented on #19615
@jmighion Thanks for the extra testing, we will get this fixed

[2017-04-13 12:58] nblock opened #23567 "ansible-vault decrypt does no longer read from stdin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### SUMMARY
```ansible-vault decrypt``` before 2.3 used to work with data from stdin. Ansible 2.3 does no longer read data from stdin. ```ansible-vault encrypt``` seems to be affected likewise.

##### STEPS TO REPRODUCE
[code]
Running ```ansible-vaul

[2017-04-13 12:59] gundalow commented on #19615
@rcarrillocruz Could you please take a look at this. Seems like we should backport to `stable-2.3` and stable-2.2` (remember submodules)

[2017-04-13 13:18] fridim commented on #23549
Hi @eljuanchosf
are you sure it's running as root ?
I'm wondering why you would have "permission denied /var/lib/gem" if you're root ?

could you also add those lines in tasks before the gem task :
[code]

[2017-04-13 13:37] joaocc commented on #11524
@robinro. I'm sorry, but I no longer have any insights on it... Reading the history, I believe it was @alikins who mentioned devel branch.

[2017-04-13 13:37] Qalthos commented on #21924
As the [documentation](https://docs.ansible.com/ansible/nxos_rollback_module.html) for the module shows, nxos_rollback does not work on named rollbacks, but instead on configuration checkpoint files. Based on your playbook, you can check that this was done by issuing `show diff rollback-patch running-config file backup` on the nexus device

[2017-04-13 13:38] mario-pranjic opened #23570 "os_user not idemponent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CetnOS 7 (latest)

##### SUMMARY

When os_user module is used, it works correctly, but reports every time state "changed" for users even though they exist.

##### STEPS TO REPRODUCE

Run os_user module repeatedly on same users.

[code]

##### EXPECTED RESULTS

[2017-04-13 13:50] evrardjp commented on #23570
Agreed.

[2017-04-13 13:52] putarpuar commented on #22671
Hi, I have the same error on 16.04 with the 2.3.0 installed via PPA

[2017-04-13 13:58] abadger commented on #23501
@imstochastic Ah, I see!  I saw that the msg was an error "unable to calculate the checksum of the remote file" and completely missed the status.  I'll look into why that's not returning failed to go along with the error message.

[2017-04-13 14:08] dagwieers opened #23572 "Better documentation wrt. Magic Variables"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Documentation

##### ANSIBLE VERSION

v2.4

##### SUMMARY

The documentation of Magic Variables could be a lot better.

Introduce a matrix with name, version_added, version_deprecated, scope, description
List them in alphabetical order.

[2017-04-13 14:11] dagwieers commented on #23559
I noticed you are all using double backslashes, and I never do that in my playbooks.
I hope this is not related to the issue itself ?

[2017-04-13 14:13] fridim commented on #23570
In the code you can see :
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_user.py#L157-L161

[code]

If you do not want to update, there is a param added in 2.3, 'update_password', default value is 'always' :

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_user.py#L45-L52

[2017-04-13 14:18] dagwieers commented on #23559
At least I can reproduce it  with the following playbook:
[code]

It only copies one (the first?) file, just as @lfrancke demonstrated.
[code]

[2017-04-13 14:20] evrardjp commented on #23570
Should this be on-create by default?

[2017-04-13 14:22] robinro commented on #11524
@alikins posted the syntax that works with the devel branch above. So this issue can be closed:
close_me

[2017-04-13 14:25] #11524 closed, assigned to nobody

[2017-04-13 14:25] mikedlr commented on #19789
Hi,  This change is a bit nasty;  I hit the situation where I had a security group which was correctly configured apart from the description and with the old version of the module it was passing correctly.  With the new version of the module the configuration aborted with the message "Group description does not match existing group. ec2_group does not support this case."

Since the description has

[2017-04-13 14:33] mario-pranjic commented on #23570
update_password: "on_create" fix one problem, but introduces another one: if password is changed, it will never be updated.

Any better solution atm then overriding value for update_password when needed?

[2017-04-13 14:35] gundalow commented on #23566
resolved_by_pr 23573

[2017-04-13 14:40] dieswaytoofast commented on #22690
Just upgraded to 2.3, and now see this all over the place.
Easiest reproduction is this play (note that adding the `==` test seems to deal with the issue...)
[code]

[2017-04-13 14:40] evrardjp commented on #23570
@mario-pranjic As @fridim said, because they don't get the password back, they can't ensure idempotency that way. It's up to the user to be smart or not.

[2017-04-13 14:41] philfry opened #23575 "synchronize: rsync_opts broken/changed in ansible 2.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
synchronize doesn't handle ```rsync_opts``` correctly.
In my case, the `--exclude` option was ignored, fscking up my webserver config.

ansible 2.2.2.0 works fine, though.

##### STEPS TO REPRODUCE
https://gist.github.com/philfry/9b7d4ac

[2017-04-13 14:44] dagwieers commented on #18807
@ilpianista Can you please test whether PR #23162 also fixes your issue ?

[2017-04-13 14:45] mario-pranjic commented on #23570
I would have to dig more deeply into the code to be sure, but I would like to see that module to behave like: http://docs.ansible.com/ansible/mysql_user_module.html

always will update passwords if they differ.
on_create will only set the password for newly created users.

[2017-04-13 14:47] philfry commented on #23575
`rsync` cmd:
##### BAD
"/usr/bin/rsync --delay-updates -F --compress --delete-after --checksum --recursive --links --rsh=/usr/bin/ssh -S none -o StrictHostKeyChecking=no --include=\"*.conf\" --exclude=\"*\" --out-format=<<CHANGED>>%i %n%L /tmp/foo-src/ /tmp/foo-dest/"

##### GOOD
"/usr/bin/rsync --delay-updates -F --compress --delete-after --checksum --recursive --links --rsh 'ssh  -S none -o Stri

[2017-04-13 14:50] mario-pranjic commented on #23570
This is a workaround for the time being: https://paste.ofcode.org/VBbyHkHhVHa4YT8LrHirYg.
When passwords of existing users are changed, os_user_update_password variable should be set to "always".

[2017-04-13 14:53] abadger commented on #23501
Okay, looks like this behaviour is/was intentional and goes back to the beginning of the fetch plugin (it was added in ansible 0.2).  After discussion within the core team, we think it should be changed now as ignore_errors (introduced in Ansible 0.6) should enable the use case.  We're figuring out what sort of deprecation strategy we need to follow when changing this.  We're also leaning towards

[2017-04-13 14:55] ilpianista commented on #18807
@dagwieers thanks, I'll do as soon as possible, but in truth I'm a bit skeptical because I still see output matching based on English words (e.g. Rule Name).

[2017-04-13 14:56] bcoca commented on #19075
closing as dupe

[2017-04-13 14:56] #19075 closed, assigned to nobody

[2017-04-13 14:58] dagwieers commented on #18807
@ilpianista Ah, was that also involved ? I thought it was only related to the error-string in the output.

PS It does work on a Dutch Windows 10 though. But I noticed not everything is translated to Dutch, so ...

[2017-04-13 15:00] dieswaytoofast opened #23577 "Warning printed when docker_gwbridge exists in 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gather_facts and/or something to do w/ docker

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none
##### OS / ENVIRONMENT

Ubuntu 16.04.2 LTS (under Vagrant)
##### SUMMARY

Getting this in the output when doing `gather_facts` (basically - `ansible -m setup localhost`)
[code]

##### STEPS TO REPRODUCE

Setup docker, and make sure that the

[2017-04-13 15:03] #15044 closed, assigned to nobody

[2017-04-13 15:03] #15520 closed, assigned to nobody

[2017-04-13 15:03] fridim commented on #23570
If there is a way to check a password is correct for a specific user, this will be handled in
[shade](http://git.openstack.org/cgit/openstack-infra/shade)

Those lines might suggest it is possible :
http://git.openstack.org/cgit/openstack-infra/shade/tree/shade/tests/functional/test_users.py#n130

[code]

[2017-04-13 15:06] evrardjp commented on #23570
@fridim yes, that's exactly what I thought. You take the current auth, you replace with the user/pass that will need to be created, and see how it goes. But that is a change on the current ansible module code I guess.

IMO the bug is valid (we could do better), but it's good to list the workarounds.

[2017-04-13 15:09] alikins commented on #23567
looks like 6c6b647182f2dc8fa254e8b1855c3bc646d742cf busted this.  That commit uses os.path.realpath() to find the target of symlinks, but it also applies CWD to the path. For stdin case, the filename is just '-' and os.path.realpath(filename) expands that to '/home/user/wherever/-' and code deeper in vault is expecting just '-'.

Working on fix (likely just only using realpath on symlinks)

[2017-04-13 15:10] hylaride commented on #23499
So it looks like it may not be ansible after all.  I'm calling this playbook from packer and it looks like something is getting messed up in between.  Sorry to waste your time!

[2017-04-13 15:10] #23499 closed, assigned to nobody

[2017-04-13 15:12] flaf opened #23578 "Warning about Jinja2 delimiters in when statement not relevant?"
##### ISSUE TYPE

 - Bug Report (not sure)

##### COMPONENT NAME

It concerns the `when` statement.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Here is the playbook to reproduce the "problem":

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

In fact, I'm not sure if it's really an issue. But I have a warning with the playbook above which doesn't seems to me relevant, but maybe I'm

[2017-04-13 15:14] hyperized opened #23579 "Memory load increased in 2.3.0 compared to 2.2.0.1 (high memory use, high ram use)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04.5 (exclusively) hosts & clients

##### SUMMARY
Increased memory usage when 2.3.0 is rolled out: http://imgur.com/a/ZgUCe

Recovery takes place when 2.2.0.1 is reverted.

##### STEPS TO REPRODUCE

- Install Ansible 2.3.0
- Run regular job schedu

[2017-04-13 15:16] jctanner commented on #23579
@hyperized any idea how many tasks in total?

[2017-04-13 15:23] flaf opened #23580 "When handlers within roles are flushed by default?"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Documentation

##### ANSIBLE VERSION

[code]

##### SUMMARY

[Here](http://docs.ansible.com/ansible/playbooks_intro.html), we can read about handlers:

[code]

Is it correct? This not the behavior I have where by default handlers seems to be flushed at the end of the playbook, not after each role.

I have seen this closed issue https

[2017-04-13 15:28] evgeni commented on #22810
This is probably [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-13 15:41] alexlo03 commented on #19789
Yeah I think warning makes more sense
I'll try to do it this weekend

On Apr 13, 2017 10:26 AM, "mikedlr" <notifications@github.com> wrote:

[2017-04-13 15:53] szynaka commented on #21339
This issue still exists in Ansible 2.3.0 and the workaround still works as well

[2017-04-13 16:04] anastazya commented on #22690
The question remains, how do we fix our playbooks so they don't generate warnings ?

ex :  [WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: {{ ansible_distribution == 'Ubuntu' }}

[2017-04-13 16:04] gundalow commented on #23566
Fixes merged, though `docs.ansible.com` hasn't been updated yet

[2017-04-13 16:11] dieswaytoofast commented on #22690
I (temporarily) dealt with the issue by adding `== true` to the booleans
(or `== false`. depends)

[2017-04-13 16:17] Jonnymcc commented on #12129
Verified working in
[code]

[2017-04-13 16:17] #12129 closed, assigned to nobody

[2017-04-13 16:21] timja opened #23585 "Missing docs for hashi_vault lookup plugin"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
hashi_vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Can't find any docs on hashi_vault lookup plugin

##### STEPS TO REPRODUCE
Search google on `hashi_vault`, the only results I could find were people asking about the docs or how to use it

The code is pretty self explanatory but would

[2017-04-13 16:27] bcoca commented on #23537
Closing as per above, this is not an actual error to Ansible as that is a perfectly valid config, just not what you meant to do.

[2017-04-13 16:27] #23537 closed, assigned to nobody

[2017-04-13 16:27] barneysowood commented on #13894
I've also hit this issue. I've been trying to use a custom version of setup.ps1 (based on my PR here https://github.com/ansible/ansible/pull/23500) by putting that in <playbooksdir>/library - that's generally what we do to use new functionality against a released ansible version.

Because of this issue, doing that breaks setup for linux hosts. I've done some digging, but haven't managed to quite g

[2017-04-13 16:30] bugster86 commented on #22633
I have the same problem with my dynamic_inventory php script.
When i call only the php script i have this:

[root@ansible ansible]# time ./dynamic.php --list > /dev/null

real    0m0.044s
user    0m0.026s
sys     0m0.013s

BUT

When i use the same as dynamic inventory i have this time:

[root@ansible ansible]# time ansible -i dynamic.php saastre-cti1 -m ping
saastre-cti1 | SUCCESS => {
    "change

[2017-04-13 16:39] jquest07 opened #23586 "pywinrm doesn't recognize variable expansion from group_vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pywinrm-0.2.2

##### ANSIBLE VERSION

default version:
[code]

also tried:
[code]
##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

RHEL 7.3
python-2.7.5
pywinrm-0.2.2
ansible-2.2.1.0
Windows Server 2016

##### SUMMARY

##### STEPS TO REPRODUCE

The Windows 2016 server in this example is named "gravis".

hosts:
[code]

group_vars/windows.yml:

[2017-04-13 16:41] bcoca commented on #23556
I just tested locally and get:
[code]

[2017-04-13 16:42] bcoca commented on #23556
from the warning you get I think you are not pointing at the inventory file correctly, use -i and full path

[2017-04-13 16:42] erwilan commented on #23575
the documentation says: specify additional rsync options by passing in an array.
you must pass rsync_opts this way:

[code]

this is also the correct way in ansible < 2.3!

[2017-04-13 16:44] gavin-romig-koch commented on #16186
@dagwieers, i've no argument with "not simple to do".

I wonder if, instead of using a fact, it would be better to have another OS-specific cmd that returns uptime.  The "shutdown" cmd itself is very OS-specific, and it seems like resolving the two OS-specific problems in the same way is gooderer.

On a related, but more ambitious tack, would it be better to wrap the OS-specific stuff (shutdown an

[2017-04-13 16:45] sivel commented on #22633
Of note here, is that if your inventory does not return a `_meta` key as described at http://docs.ansible.com/ansible/dev_guide/developing_inventory.html#tuning-the-external-inventory-script

Ansible will call `--list` once, and then call `--host` for every host in the inventory.  This can often cause confusion as to why when `--list` is run, why running via ansible takes longer.

Also, it should

[2017-04-13 16:46] #23566 closed, assigned to gundalow, rcarrillocruz

[2017-04-13 16:47] rouge8 commented on #23023
@jimi-c This is fixed in 2.3.0. Should I close it, or leave it open to fix on the 2.2.x branch?

[2017-04-13 16:49] sigio commented on #11317
https://github.com/ansible/ansible/pull/23408

[2017-04-13 16:55] rogerscuall commented on #21924
Yes, I can see now that is creating a file named `backup` in the bootvar.

[2017-04-13 16:59] mickael-ange commented on #15915
Hi,

Got the same issue with Ansible 2.3.0.0.
I worked around the issue by using a fake variable with a default value.

For instance: the following handler is not found, and I got `ERROR! The requested handler 'reload nginx' was not found in either the main handlers list nor in the listening handlers list`

`handlers/main.yml`

[code]

But this one is registered and called:

[code]
Noted that `ngi

[2017-04-13 17:06] Akasurde commented on #23220
Can we close this issue, if `download_only=no|yes` works for reporter @MarkusTeufelberger ?

[2017-04-13 17:13] dano0b commented on #23556
@bcoca tried with an absolute path in the ansible.cfg and using -i before, too.
could be a file structure issue? my structure:
[code]
now at home I can reproduce this behavior with the following playbook:
[code]
If I put my hostHttpProxy-Variable to the group_vars/group/vars yaml file, I get my desired value. In both cases I get the Warning.

[2017-04-13 17:14] alikins commented on #23579
A few shot-in-the-dark questions...
Is ansible-vault used? How about 'async'?

Any difference if ssh retries are disabled or lowered from current config of 10?
[code]

Any difference if json fact caching is disabled?  (If you have a way to test that...)

[2017-04-13 17:19] #23272 closed, assigned to nobody

[2017-04-13 17:20] dpedu2 commented on #22885
What happens if you use `-b`, become?

[2017-04-13 17:21] larsf opened #23588 "is defined no longer works with registered variables of skipped plays"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
command_warnings=False
force_handlers=True
forks=20
gathering=smart
host_key_checking=False
poll_interval=10
remote_tmp=/tmp
retry_files_enabled=False

[paramiko_connection]
#pty=False
record_host_keys=False

[ssh_connection]
control_path=%(directory)s/%%h-%%r
#pipelining=T

[2017-04-13 17:21] bcoca commented on #23556
To be picked up host_vars need to be adjacent to the inventory file or playbook, it will not be picked up from 'upper directories'. I had host_vars adjacent to inventory, moved it to play as in your example .. still works for me.

[2017-04-13 17:26] mikeln commented on #14248
+1
Same issue here.  main.yml too large, split into multiple files.  We assumed it would "just work" and load all the vars in the files under defaults/ since it is a dir.  nojoy.

[2017-04-13 17:31] sfrolich commented on #23588
2.2.1.0 does not display the problem but 2.2.2.0 and 2.3.0.0 do.

[2017-04-13 17:46] alikins commented on #23579
Would it be possible to get the output of 'lsof $THE_ANSIBLE_PLAYBOOK_PID' ?

Curious if the uuid fd leak described at https://github.com/irmen/Pyro4/issues/146 could be involved (that issue was also reported on ubuntu 14.04.5).

Looks like the tell-tale is a fd leak on '/var/lib/libuuid/clock.txt' so curious if that shows up in the lsof output.

[2017-04-13 17:55] dano0b commented on #23556
@bcoca

just used a clean system with a fresh install, same problem:

[code]
output:
[code]

[2017-04-13 18:23] opoplawski opened #23590 "mount: Add option to preserve the directory with mount state=absent"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
mount module
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
There are certain kinds of bind and tmpfs overlay mounts that may be desired to be added or removed from the system without removing the mountpoint.  For example, mounting /var/lib/sss/db on tmpfs, mounting /var/crash on a separate filesystem, then reverti

[2017-04-13 18:24] nitzmahone commented on #23514
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-13 18:24] #23514 closed, assigned to nobody

[2017-04-13 18:25] nitzmahone commented on #23518
As we don't make the connections directly (they're made by the Azure Python SDK), this really isn't an Ansible bug- I'd suggest you might have better luck filing a bug at https://github.com/Azure/azure-sdk-for-python.

[2017-04-13 18:25] #23518 closed, assigned to nobody

[2017-04-13 18:40] larsf commented on #23588
This may just be a case of ansible 2.2.1 and 2.3 actually doing the correct thing:
cluster_conf is defined (even if the play was skipped, and does contain (in both 2.2.0.0 and 2.3 case)
ok: [localhost] => {
    "cluster_conf": {
        "changed": false,
        "skip_reason": "Conditional check failed",
        "skipped": true
    }
}

but somehow ansible 2.2.0.0 evaluated cluster_conf.rc == 0 as

[2017-04-13 18:40] #23588 closed, assigned to nobody

[2017-04-13 18:40] Rudd-O commented on #22810
Scary.

[2017-04-13 18:45] bcoca commented on #23556
I still cannot reproduce ... i get the value of the variable. The strange thing is you keep getting the warning of an empty inventory, I don't.

[2017-04-13 18:54] fallspectrum commented on #23534
Ran into this while using 2.2.1.0 under RHEL 7.3 (control machine) targeting SLES 11 SP4.

**Task:**
[code]

**Output with -vvvv:**
[code]

[2017-04-13 18:56] nitzmahone commented on #23530
This isn't a bug. In the absence of a specified user, either by `-u`, config, inventory, or play keywords, each connection plugin is free to interpret who the current user is in a way that makes sense. Most choose the user running ansible, but WinRM with kerberos (for example) will use the ambient TGT if one is found. So we can't sanely set a global default value for `ansible_user` without breakin

[2017-04-13 19:03] nitzmahone commented on #23546
This seems like the proper behavior unless you've specified the password in your inventory (which is probably the right thing to do in this case). I'm guessing it was using the key implicitly before, and now you've introduced a chicken-and-egg issue by repaving the box without the authorized key.

[2017-04-13 19:04] dmsimard commented on #18991
@robinro Yeah I'm unable to reproduce the issue on 2.3, looks like it was fixed in the meantime. I'll close this, thanks for following up.

[2017-04-13 19:04] #18991 closed, assigned to nobody

[2017-04-13 19:07] nitzmahone commented on #23548
Yep, pretty sure I know what's going on here- we need to be using the system tempdir for the wrapper script instead of the user's tempdir. Hopefully the need to persist the wrapper script will go away soon anyway, but meantime, I'll try to get that fixed for 2.3.1... Thanks!

[2017-04-13 19:19] nitzmahone commented on #23560
@jimi-c I assume this is related to the CVE fix, and might be a case of "don't do that"?

[2017-04-13 19:24] nitzmahone commented on #23562
This is by design- inventory group vars are always resolved "as defined", not "as referenced" (ie, the value will always be the same regardless of which group you're referencing in the play). `group_vars` are applied in alphabetical order by the group name, so the value you see for a given host will be the one in the "highest" alphabetical group (`account3` in your example).

[2017-04-13 19:24] #23562 closed, assigned to nobody

[2017-04-13 19:28] nitzmahone commented on #23565
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-13 19:28] #23565 closed, assigned to nobody

[2017-04-13 19:29] bcoca commented on #23562
groups are 'properties' of hosts, for example, i'm male and a programmer, I don't stop being one or the other just because you chose me from a pool of 'males' or 'programmers'.

[2017-04-13 19:33] pvdputte opened #23591 "unarchive: unable to unpack tar.gz from URI with python3 interpreter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Running from ubuntu 14.04LTS
Managing ubuntu 17.04 (only python 3 after base install)

##### SUMMARY

Attempting to run the unarchive task to download and extract an http URL yields an error "Source 'http://cdn01.downloads.smartbear.com/soapui/5.3.0/So

[2017-04-13 19:34] dano0b commented on #23556
thanks to @bcoca I've found some workaround for us, just have to put all my groups in an all: group . At the moment I don't have an explaination and this couldn't be reproduced(see previous comment). From my side this issue could be closed, just letting you decide if there is some more investigation required.

newest test results:

[code]

[2017-04-13 19:39] eljuanchosf commented on #23549
You are absolutely right.
I'm going to re-test this.

Thank you!

2017-04-13 10:19 GMT-03:00 Guillaume Coré <notifications@github.com>:

--
Mis mejores deseos,
Best wishes,
Meilleurs vœux,

Juan Pablo
------------------------------------------------------
http://www.jpgenovese.com

[2017-04-13 19:42] sdodson commented on #23541
Yeah, we just figured out a simple reproducer, assuming your limit is 1024 this should blow up before hitting the last task

https://gist.github.com/sdodson/2a289411af0d3df18859fb2c67e14621

[code]

[2017-04-13 19:55] bcoca commented on #23541
with ulimit 100
[code]

[2017-04-13 19:57] mohtashims commented on #23565
I did post it to mailing list: https://groups.google.com/forum/#!forum/ansible-project 14 hrs back but it did not even show up. I also suspect it to be a bug however, i m not sure

[2017-04-13 20:00] sdodson commented on #23541
Python version and OS? We've reproduced this on RHEL w/ Python 2.7.5 and Fedora w/ 2.7.13

[2017-04-13 20:15] bcoca commented on #23541
2.7.13 gentoo, i can get an import error but only after ulimit < 100

[2017-04-13 20:18] jagibson opened #23593 "cloudformation module no longer works in 2.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Ubuntu 16.10
ansible (2.3.0.0)
boto (2.46.1)
boto3 (1.4.4)
botocore (1.5.39)

##### SUMMARY
When running the cloudformation module in Ansible 2.3.0 the play fails with the error:

"botocore.exceptions.ClientError: An error occurred (In

[2017-04-13 20:34] sivel commented on #23541
I was able to reproduce on Fedora 25 and Ubuntu trusty and xenial.

Of note here, is that I decided to test on ansible 2.2.2, 2.1.5, and 2.0.2, and it appears there too.  It does not appear in 1.9.6, or at least the watch doesn't catch it in 1.9.6.

[2017-04-13 20:46] b-long commented on #11536
As I'm still using Ansible version 2.2 & Ansible Tower 3.1.1, I also ran into this issue.  As @dennisobrien [pointed our earlier][0], changing the inventory from an AWS domain name to an AWS IP address resolved this issue.  However, I tried using just these variables in configuration first, and it did not resolve the problem:
[code]

[0]: https://github.com/ansible/ansible/issues/11536#issuecommen

[2017-04-13 20:47] Codelica opened #23594 "run_once: true with delegate_to now getting skipped (2.3.0)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

run_once
delegate_to

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing notable changed.

##### OS / ENVIRONMENT

N/A  (but using Ubuntu 16.0.4.2 for both)

##### SUMMARY

I recently updated Ansible to 2.3.0.0 and several tasks that use a run_once: true with delegate_to: 127.0.0.1 are now being skipped.  I've included an example below

[2017-04-13 20:51] nitzmahone commented on #23450
I doubt there will be much we can do about this on our end, short of the things we've already identified (eg, always inlining hash calculation in put_file and win_copy)- WinRM is a black box on the Windows side WRT what it's doing with I/O and buffering. Getting the current file transfer impl to work right without leaking memory was a bit of a challenge on its own...

[2017-04-13 20:51] greggilbert commented on #17038
Sorry to hijack this closed thread, but I'm still having this issue when using `ec2_facts`:

[code]

For reference, my setup:
[code]

[2017-04-13 20:53] sivel commented on #23594
I cannot duplicate this.  A full output of your playbook run where it fails would be useful.

[2017-04-13 20:58] dannyman commented on #13598
As a user, I would find it advantageous if the error message dropped the hint that @bcoca does right here.

[2017-04-13 20:58] dagwieers commented on #23450
@nitzmahone Still I'd like to understand the reason for the double copy internally. This must have an impact on the performance of win_copy.

[2017-04-13 21:04] nitzmahone commented on #23450
Off the top of my head, the data path goes: http.sys (KM HTTP listener)->WinRM service->WinRM's cmd stdin->our powershell stdin->disk.

[2017-04-13 21:07] dieswaytoofast commented on #23578
I worked around it by adding `== true` to the "when" statement.  e.g.
[code]

(more info in [22690](https://github.com/ansible/ansible/issues/22690)

[2017-04-13 21:07] nitzmahone commented on #23450
This *might* be a case where PSRP could speed things up, since WinRM could send the data directly to powershell, bypassing the intermediate cmd.exe buffering. But that also assumes we can set up a PSRP listener in fewer requests, which I'm not sure we can. If not, there'd have to be two code paths for copy (big file/small file), or everything else would get slower.

[2017-04-13 21:08] nitzmahone commented on #23450
There's also plenty of in-process buffer copying going on (double base64 decodes, whatever XML framing is going on at the WinRM level) that won't be represented in the perfmon output, but still likely has a noticeable impact on performance.

[2017-04-13 21:09] philfry commented on #23575
I don't know whether or not the documentation might have changed a while ago but passing the `rsync_opts` in a string worked until 2.2.2.0 and still works (see below). Looking at google search results, I'm apparently not the only one making this .. mistake :-)

However, that's **not** the cause.

In 2.2.2.0, all these snippets work fine:
#### (1) as string, quoted
[code]
#### (2) as array, quoted

[2017-04-13 21:12] kamilboratynski commented on #23578
@dieswaytoofast I am pretty not sure this is not the clue of the problem.
The bases of it lies in (#20312). I think it should check whether `conditional` is not a variable and this commit is not doing that, but I might be wrong.

[2017-04-13 21:14] bcoca commented on #23541
https://gist.github.com/bcoca/9426f1a5af589aaece956548cd46d56b <= try this patch

[2017-04-13 21:18] dieswaytoofast commented on #23578
Oh you're right - i was, literally, responding to the "how to avoid the warning " part of the question :-)

[2017-04-13 21:26] nitzmahone commented on #22690
The `when: bar` pattern is rather dangerous anyway- I've gotten nailed by it before when the var isn't a boolean, either by user error, or because it was set from a context that doesn't undergo YAML type inference (eg, `-e bar=False`), which can cause the boolean conversion to be incorrect. The truly safe way to do this is `when: bar | bool`, which has the bonus side-effect of zapping the template

[2017-04-13 21:34] abadger commented on #17038
@greggilbert Please open a new issue for the following reasons:
1) We don't actively look at closed and merged bugs/PRs so it's only by chance that your reply to one will be seen by someone who can do anything about it.
2) Your error is different than this one.  This one was occurring in the basic.py code whereas yours is occurring in ec2_facts.py.  Thanks!

[2017-04-13 21:35] dagwieers commented on #23559
@lfrancke Please test PR #23581 as soon as possible.
@jborean93 Your feedback is appreciated too !!

[2017-04-13 21:38] nitzmahone commented on #13894
The reordering hack, however, is just that: a hack. If it works for you, great, but we wouldn't want to rely on that behavior for module resolution, as several of the preconditions for it to work will be changing soon... We have a few different ideas for how to address this when the plugin loader stuff gets rebuilt, but for now, it'd probably be best to just not rely on implicit fact gathering if

[2017-04-13 21:39] rstevens011 commented on #14131
It would be very nice to see this.  I am forced to use the `command` module with `cp -r`.  Details of the error below:

[code]
[code]

[2017-04-13 21:43] greggilbert opened #23595 "ec2_facts throws str error in Python 3.5+"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS
Python 3.5.2

##### SUMMARY
When trying to run `ec2_facts`, I get this error: `TypeError: a bytes-like object is required, not 'str'`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

That ec2_facts would work.

##### ACTUAL

[2017-04-13 21:45] sivel commented on #23541
That does seem to limit it for me, from seeing 50-150 before using nohup, I saw a max of 3 with that patch.

It's still 2 higher than without nohup, which generally sits at 0 or 1.

[2017-04-13 21:48] bcoca commented on #23541
expected, the issue was the stdin cloning in workers, nohup doesn't allow closing refs on it (which it redirected from /dev/null) this patch just lets the workers open their own /dev/null and shoudl also avoid the issue in a 'nicer' way.
https://gist.github.com/bcoca/b12023271aeb87e7cbaabb1034130f6f

[2017-04-13 21:48] MGD1981 commented on #14131
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
2.0

I _believe_ the Ansible Version was the first iteration of 2.0 -- I mentioned 2.0 in my original post.  I can't say for sure at this point because Ansible has been upgraded on that VM since then.

[2017-04-13 22:17] erwilan commented on #23575
ansible allows you to pass a string where a list/array is required and splits it by comma.
i recommend to pass a list/array directly to bypass the splitting - otherwise it is not possible to use a comma in an argument.

the way the rsync command is constructed in the synchronize module changed in ansible 2.3.
in ansible < 2.3 the command was constructed as a concatenated string and then splitted u

[2017-04-13 22:19] dgjustice commented on #20260
Wasn't fixed in 2.3.  I'm working on a PR.

[2017-04-13 22:25] philfry commented on #23575
Thanks a lot for your explanation. How about a side note in the documentation and/or release notes.. maybe something like _incompatible changes_? :-)

[2017-04-13 22:29] snowsky commented on #23595
reproduced, and my output is:
[code]

[2017-04-13 22:34] michelleperz opened #23597 "ansible-galaxy init no longer generating templates directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Stock configuration

##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
ansible-galaxy init roleName no longer generates a templates directory by default.

##### STEPS TO REPRODUCE
1. Create a roles directory inside your project directory
2. Run ansible-galaxy init roleName

##### EX

[2017-04-13 22:38] snowsky commented on #23595
@ansibot python3 issue

[2017-04-13 22:38] snowsky commented on #23595
https://docs.ansible.com/ansible/dev_guide/developing_python3.html

[2017-04-13 22:43] jagibson commented on #23593
Update - I'm seeing a similar error trying to use the cloudformation_facts module, even with Ansible 2.2.1.  Perhaps it is related to boto3?

[2017-04-13 23:10] imstochastic commented on #23501
Well, I'm glad if a problem was found.

I'm really not sure what you mean about fail_on_missing.  I interpret the documentation to mean that if fail_on_missing is set to True, the module should fail if the file to be fetched is not present on the remote machine.  That was not the case in my tests: the file in question was present.

As I understand it, you are saying that this is what is happening:

[2017-04-13 23:10] erwilan commented on #23575
good point!
imho all non-boolean arguments (except "src" and "dest" - they get quoted by the synchronize module in ansible < 2.3) of the synchronize module are affected by this circumstance (the user may have quoted the values of these arguments).

[2017-04-13 23:52] MarkusTeufelberger commented on #23220
Yes, all in all I just want "apt-get --download-only" modelled in Ansible no matter how it is implemented. :-)

[2017-04-14 00:31] chrulri commented on #20508
Our project is still stuck with 2.2.0.0 due this bug. I finally got around to dig deeper, see pull request #23599

[2017-04-14 01:07] flaf commented on #23578
Hi,

Thx @dieswaytoofast, indeed with `== True` I have no warning.

Should I close the issue? Or can we consider that is a (little) bug?

[2017-04-14 06:37] jborean93 commented on #23559
@dagwieers The PR still has an issue if you take off the last `\` on the dest path, is this expected behaviour or should it know it needs to copy it to a folder?

[2017-04-14 06:45] user140547 opened #23601 "Playbook includes failing on non existing playbook since 2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Playbook includes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In Ansible 2.1, a playbook include on a non-existing playbook did not fail when using a condition when: false. Although I am not sure if this was ever intended to be working, it seems to be a breaking change.

Apart fro

[2017-04-14 06:53] kamilboratynski commented on #23578
@flaf This is a bug. Do not close this issue. I will take care of it when I will have a little time.

[2017-04-14 07:24] hyperized commented on #23579
I placed one server back on 2.3.0 for today to obtain more data.

I will look for the following signals:

- `/var/lib/libuuid/clock.tx`
- `lsof` & `ps` of memory hogging processes
- Will lower the ssh_connection retries to see the effect.

[2017-04-14 07:31] bluesalt commented on #22572
@alikins I believe your triage is correct.  After blaming the history, I found the code resulted from this [commit](https://github.com/willthames/ansible/commit/19d390135e134feeeaf0305cc534f21ea25a9883) which is intended to solved  #15413.
The code need to be fixed because it could rename any file or subdirectory whose name happens contain with the role name. The behaviour could break the role.
Wh

[2017-04-14 07:39] sar009 commented on #23547
+1

[2017-04-14 07:42] hyperized commented on #23579
I used a different server, now with 60-some nodes (best thing I could find).

- Ruled out the `ssh_connection`, tried the default and setting it to `1` and both resulted in the same excessive memory usage.
- I `lsof`'ed the pid of the playbook (`site.yml` in this case), results below
- No occurance of the `/var/lib/libuuid/clock.txt` at all it seems.

[code]
Also during runs.

The results of `lsof

[2017-04-14 08:15] kenji21 commented on #15802
Sure, we have some roles in git submodule, but if a team-mate only run "git pull" (or fetch + merge), git will create an empty "role" directory

So without using git, mkdir roles/empty-role and then including this "empty" role from a playbook then should display a warning (or an error) indicating that this role will do nothing (so it must be removed from the playbook as it is useless)

[2017-04-14 08:24] robinro commented on #15802
OK, a warning for an empty role directory might make sense. You (or someone else) should open a PR for that.
needs_contributor

[2017-04-14 08:33] GeorgiyGerasimov commented on #22943
It would be great to add the ability to get only part of the repository. If you use git, it looks like this: git archive --remote=ssh://git@somedomain.com/somerepo.git HEAD:somedir1/somedir2 * | tar x

[2017-04-14 09:03] #14485 closed, assigned to nobody

[2017-04-14 09:03] hyperized commented on #23579
Found that `memstat -w` gives me a little more data than `lsof`: https://gist.github.com/hyperized/2fc903b69aa4a688e9d7d8186956eb8c

[2017-04-14 09:09] mikedlr commented on #19789
Hi Alex;  the Ansible guys asked me to raise an actual separate bug to discuss this issue and especially the idea of deleting/recreating the security group.  I think the patch to make the wrong description into a warning makes sense as a first fix in every case, but could you please move discussion to that ticket since comments in already closed tickets tend to be ignored.

[2017-04-14 09:35] evgeni commented on #23377
Is this maybe the same as [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)?

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-14 09:37] bugster86 commented on #22633
:-)

thank you.
Now it works very well

[root@ansible ansible]# time ansible -i dynamic.php saastre-cti1 -m ping
saastre-cti1 | SUCCESS => {
    "changed": false,
    "ping": "pong"
}

real    0m1.266s
user    0m0.729s
sys     0m0.175s

[2017-04-14 09:41] mikedlr opened #23602 "AWS security group description mismatch causes playbook to abort in ec2_group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In the case where an ec2 security group configuration is attempted with a description which does not match a currently existing security group with the same name Ansible now aborts where previously it used to ignore the situation.   Thi

[2017-04-14 09:44] evgeni commented on #21782
Is this maybe the same as [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)?

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-14 09:48] evgeni commented on #20560
Is this maybe the same as [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)?

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-14 10:16] Tronde commented on #20196
Hi,
The problem is that @Jmainguy was not able to reproduce the issue. I read that ansible 2.3.0 was relased in the last days. As soon as this version is available in EPEL I'm going to test the module again to see if the issue still exists.

[2017-04-14 10:26] jlec commented on #19139
##### COMPONENT NAME
git

[2017-04-14 11:14] guenhter commented on #23577
Same problem here.

[code]

docker:
[code]

[2017-04-14 11:15] sirkubax opened #23606 "debug module does not trigger notify"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

debug
haproxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The debug module does not trigger notify

##### STEPS TO REPRODUCE

Haproxy module does not have a 'force enable' option build in. Since my enable task is a handler, that should trigger only if there was UP->DOWN change (notify on change)

[2017-04-14 12:06] mohtashims commented on #23565
Unfortunately, the issue i reported was not fixed here : https://groups.google.com/forum/#!topic/ansible-project/zeC9kr9kRXg

and this thread is also closed without any solution.

So i have the problem persist.

[2017-04-14 12:13] JorisLA opened #23607 "Playbook ansible with vagrant raises error because of task docker_service."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Task docker_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Running Ansible from ubuntu 16.04 LTS.
Managing Ansible from a VM (debian 8 jessie)
##### SUMMARY

Using docker_service to do a 'docker-compose up'. At the end a FAILED message appears but the containers runs properly in the VM.
##### STE

[2017-04-14 12:49] akostadinov commented on #11536
@b-long , use control_path `%(directory)s/%%C`

[2017-04-14 13:10] lviolon opened #23609 "include/include_role: maximum recursion depth exceeded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include and include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No change

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.6

##### SUMMARY
Nested include leads to the following error:
[code]
The error occurs with real playbooks with a mix of 5 nested include_role and include
playbook:
  role
    include_role

[2017-04-14 13:11] dagwieers commented on #23559
@jborean93 Quite possibly still broken. We need to have better integration tests for sure :-)

[2017-04-14 13:50] agaffney commented on #22255
In my test, `"[all]"` doesn't break, but `[{{ 'all' }}]` does. This implies that it's happening when ansible tries to convert whatever comes out of the jinja expansion to internal python representation.

[2017-04-14 13:52] hyperized commented on #23579
I ran the setup without the `jsonfile` `fact_caching` and results are identical.

[2017-04-14 14:00] agaffney commented on #22255
This appears to happen in `ansible.template.template()` when the `safe_eval()` function is called.

[2017-04-14 14:02] Lujeni commented on #23457
Hello @bearrito,

Can you test the role without the `include_role` directive please ?
Seems to be an error with the role directly or your ansible version + role.

Thanks

[2017-04-14 14:06] agaffney commented on #22255
The only method that I can see for "disabling" this behavior is to make sure the string resulting from a jinja expansion does NOT start with a `[` or `{`.

[2017-04-14 14:14] snowsky commented on #23607
what is the output on your terminal, echo $LANG?

[2017-04-14 14:48] snowsky commented on #23601
I saw some codes were introduced and caused the difference of behaviors.

[2017-04-14 15:08] snowsky opened #23612 "How to fix a bug in core module?"
This is just a question. I got the below message when I tried to add a file in core module:
[code]
Is this the correct way to fix a bug in core module?

[2017-04-14 15:10] snowsky commented on #23595
Just figured out a way to fix this bug, since it is in core module, I've got no idea how to fix it so submitted the other issue to ask around #23612.

[2017-04-14 15:18] bearrito commented on #23457
I mentioned in the bottom of the ticket

Meaning if I just run the "elastic-elasticsearch" role directly, then I have no issues.

[2017-04-14 15:38] djmitche commented on #23578
same as #22690

[2017-04-14 15:39] djmitche commented on #22397
possibly a dup of #23578

[2017-04-14 15:42] agaffney commented on #22255
Looking in the code, there is actually a way to short-circuit this behavior, by ending a jinja expression with a "string type" filter, such as `|string`, `|to_json`, etc. However, it only works if the entire template string ends with `}}`, which is not the case here.

[2017-04-14 15:44] howinator commented on #23593
Are you getting this error for creating or updating a stack? Or both?

[2017-04-14 15:45] gohelh-adsk commented on #17311
Although this issue is closed as fixed, http://docs.ansible.com/ansible/intro_windows.html doesn't have much info about NTLM; needs to be included on intro_windows.html page as well?

[2017-04-14 15:49] agaffney commented on #22255
It appears that you can get the desired result by doing:

[code]

[2017-04-14 15:53] snowsky commented on #23601
This commit should fix the issue e3a6accc1d25298c981bdef4e5412e3573730d0c, but I don't see it in 2.2 and 2.3

[2017-04-14 15:58] snowsky commented on #23601
Actually 2.2 and 2.3 include this commit but this commit 5b87951d6c99b515ceb07674cd862a2375328c7a removed the fix again.

[2017-04-14 17:02] evgeni commented on #23612
That's the old path structure, `devel` should not have the `core` and `extras` submodule folders anymore.
You want to edit `./lib/ansible/modules/cloud/amazon/ec2_facts.py` instead.

[2017-04-14 17:46] jagibson commented on #23593
@howinator Both.  It may be related to Ubuntu versions sometime after 14.04.  I tested on Ubuntu 14.04.4 and at least the cloudformation_facts module works.

[2017-04-14 17:55] snowsky commented on #23612
Yes, I edited this file, but ansible didn't use this file but the file in core directory. I guess it still in transition to use the files under core directory.

[2017-04-14 18:27] ExplorerOnTheMoon opened #23617 "force_handlers: true should fire the handler despite the task failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
``force_handlers``

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

centos

##### SUMMARY

handlers do not fire when a task fails despite ``force_handlers: true``

##### STEPS TO REPRODUCE

- Play file is ``main_play.yaml``

[code]

- Inventory file is ``hosts.ini``

[code]

[code]

*Now change the ``failed_w

[2017-04-14 18:28] ExplorerOnTheMoon commented on #23617
Handler fires on ``ansible 1.9``

[2017-04-14 20:59] michael-moody-bloomip opened #23618 "Unable to create cross-region RDS replicas"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rds

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We're using the RDS module to create read replicas. For replicas within the same region, this works as expected. Unfortunately (and this seems to go back to a boto version issue), cross region doesn't work. We've worked around it via a shell cal

[2017-04-14 21:00] sivel commented on #23612
When using git, and switching between a branch that used submodules for the modules, the old code paths will be left behind, although simply not tracked any longer. You will need to remove the core and extras directories manually.

In the future this is a better question for the ansible-devel list.

[2017-04-14 21:00] #23612 closed, assigned to nobody

[2017-04-14 21:00] michael-moody-bloomip commented on #23618
As a note, the commented out yaml was what we were using, and the shell command is our working workaround.

[2017-04-14 21:47] snowsky commented on #23595
This has been fixed in 2.3.

[2017-04-14 22:08] alapidas opened #23621 "meta: reset_connection not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`meta` module's `reset_connection`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OEL7

##### SUMMARY

Using the `meta: reset_connection` instruction appears to be broken under very simple use case.

##### STEPS TO REPRODUCE

Using a very simple playbook (below), the `meta: reset_connection` instruction stack trac

[2017-04-14 22:15] devopsberlin opened #23622 "Can't install ansible 2.3.0.0 with pip, is Python 3.6.1 supported?"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

When I try to install the ansible 2.3.0.0 through `sudo pip install -Iv ansible==2.3.0.01` with `python 3.6.1` I get the following error (there is no issue with python 3.5):

[code]

[code]

[code]

[code]

[2017-04-14 22:44] ronichoudhury commented on #21065
Hi - I am having the same problem with an Ansible playbook, and I'm using the same workaround of a leading space to escape this behavior. I'm worried that the workaround might itself get flagged as a bug and then "fixed" in a future release. Some guidance on the correct way to really defeat the "type detection" would be wonderful.

[2017-04-14 22:47] surudoiryu commented on #23607
Got the same error also with docker_service in my project:

**Ansible task:**
[code]

**Docker-compose:**
[code]

**Error:**
[code]

[2017-04-14 22:51] #23338 closed, assigned to nobody

[2017-04-14 23:37] ElijahLynn commented on #16352
Getting this on Ubuntu 14.04 with ansible 2.2.1.0, urllib3 (1.20) running `ansible-galaxy -v install geerlingguy.php`. I was getting some urllib errors on a `sudo pip list`. But then they went away. I am on python 2.7.6. Going to play with updating to 2.7.9 as suggested by https://urllib3.readthedocs.io/en/latest/security.html#insecureplatformwarning.

  SNIMissingWarning
/usr/local/lib/python2.7/

[2017-04-15 00:16] tedder commented on #23593
Does this work?
[code]

2.3 is/should be using python3, where 2.2 is python2. Check your dependencies for both environments.

Note 2.3 has a rewritten cloudformation module, fully in boto3. I use Ubuntu 14.04 and 16.04, no problems.

[2017-04-15 00:37] trashcan opened #23623 "ansible-galaxy 2.3 is stripping the role name out of filenames it downloads"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

With ansible-galaxy 2.3 I ran:
[code]
And ansible-galaxy 2.2 I ran:
[code]

And then compared the output with:
[code]

And it appears that every file that ansible-galaxy downloaded that has the role name as part of the filename gets that removed from the filename:
[code]

I haven't had time yet to de

[2017-04-15 00:40] trashcan commented on #23623
This affects ansible version 2.3.0.0 and is a bug report for ansible-galaxy.

[2017-04-15 01:33] trashcan commented on #23623
I'm not familiar with the ansible source code, but this looks suspicious:
https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/galaxy/role.py#L319

[2017-04-15 04:12] eureki commented on #23548
Fantastic, thank you!
When do you think 2.3.1 will be out? Are you able to provide a short term workaround?

[2017-04-15 07:03] gudron opened #23624 "set_fact bug. template parser works fine only with first element of array"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

##### STEPS TO REPRODUCE
just run paybook

[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-04-15 08:40] dream11harsimran opened #23625 "How to use next_marker in route53_facts module"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

- module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The documentation is not clear how to use "next_marker" argument with "route53_facts" if you want to list more than 100 record sets. No example is given related to this and its difficult to understand what value that argument  will ta

[2017-04-15 09:12] 264nm commented on #23623
Yeah I just came across this as well. Good to see somebody else has already raised it :)

[2017-04-15 09:43] Akasurde opened #23626 "github_release module requires github3 library"
Module github_release requires Python library called `github3`.

As per suggestion,

[code]

I tried installing

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/source_control/github_release.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No specific changes in ansible.cfg

##### OS / ENVIRONMENT
Fedora release 25

##### SUMMARY
Github3 is not available for p

[2017-04-15 10:38] isador999 opened #23627 "openssl_csr module docs version_added is incorrect (should be 2.4 but is 2.3)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_csr module.

##### ANSIBLE VERSION
Ansible 2.3.0.0
[code]

##### CONFIGURATION
Default configuration.

##### OS / ENVIRONMENT
Linux Mint - 17.3  /   Ubuntu 14.04.

##### SUMMARY
openssl_csr module is not present.

Openssl CSR is not present in the crypto directory :
[code]

Ansible returns a syntax error using openssl_csr.

But as I've s

[2017-04-15 11:01] isador999 opened #23628 "openssl_csr module Indentation Error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_csr module.

##### ANSIBLE VERSION
Ansible 2.3.0.0
[code]

##### CONFIGURATION
Default configuration.

##### OS / ENVIRONMENT
Linux Mint - 17.3  /   Ubuntu 14.04.

##### SUMMARY
openssl_csr module returns Indentation Error

##### STEPS TO REPRODUCE
After copied manually "openssl_csr.py"  (from ansible github)  in  "/usr/lib/python2.7/dis

[2017-04-15 12:45] misterT1958 opened #23629 "ansible 2.3.0.0 cannot install on OS X Yosemite"
- Bug Report

##### COMPONENT NAME
sudo -H pip install ansible --upgrade

##### ANSIBLE VERSION
ansible 2.2.1.0
config file =

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Mac OS X Yosemite version 10.10.5

##### SUMMARY
cannot install ansible 2.3.0.0

##### STEPS TO REPRODUCE
Successfully installed pip-9.0.1
tw2@warroom3:~/Downloads> sudo pip install --upgrade ansible
The directory '/Users/tw

[2017-04-15 13:07] sergey-rsa opened #23630 "win_iis_webbinding not working with multiple sites on one server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_iis_webbinding

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

windows server 2016

##### SUMMARY

I have multiple sites on one server and I need to create bundings for each like
https    site1.name.com   443 - for 1st
https    site2.name.com   443 - 2nd
with ansible iis binding work only for 1st site.
for site

[2017-04-15 13:08] AlexanderZobkov commented on #18737
Seems resolved

[2017-04-15 13:08] #18737 closed, assigned to nobody

[2017-04-15 13:59] Akasurde commented on #23628
@isador999 I am able run to your playbook using `2.4 devel`

[code]

Could you please add more debug logs using `-vvvv` ?

[2017-04-15 14:09] snowsky commented on #23626
Reproduced and I can pip install github3.py but got the other error:
[code]

[2017-04-15 14:15] snowsky commented on #23624
reproduced and my outputs are:
[code]

[2017-04-15 14:25] misterT1958 commented on #23629
dropped back to setuptools 33.1.1, got this:
Installing collected packages: setuptools, ansible
  Found existing installation: setuptools 33.1.1
    Uninstalling setuptools-33.1.1:
      Successfully uninstalled setuptools-33.1.1
  Found existing installation: ansible 2.2.1.0
    Uninstalling ansible-2.2.1.0:
      Successfully uninstalled ansible-2.2.1.0
  Running setup.py install for ansible ...

[2017-04-15 14:27] snowsky commented on #23624
set_facts support loop_control?

[2017-04-15 14:44] isador999 commented on #23628
Always in 2.3 :

[code]

But I copied and pasted the file "openssl_csr.py"   from ansible github,  so maybe that's the problem...
(beacuse like my other issue today,  this module is not included in ansible 2.3,  indeed).

[2017-04-15 15:11] trashcan commented on #23622
I don't know if python3 is fully supported yet, but it looks like it is in progress at least. Check out http://docs.ansible.com/ansible/python_3_support.html

[2017-04-15 15:25] sivel commented on #23622
Install in python 3.6 should work.  The following error indicates that you are missing the development headers for python 3.6:

[code]

[2017-04-15 15:35] devopsberlin commented on #23622
@sivel, I also thought the problem was not related to ansible, do you have any suggestion how to fix this ? thanks.

[2017-04-15 15:55] sivel commented on #23622
Install the python development headers. How did you install python 3.6?  The typical way on ubuntu is something like `apt-get install python3-dev`

[2017-04-15 16:37] devopsberlin commented on #23622
thanks, for python 3.6.1 need to install `sudo apt-get install python3.6-dev`, then I was able to install ansible with python 3.6.1

[2017-04-15 16:37] #23622 closed, assigned to nobody

[2017-04-15 19:29] computersalat commented on #23257
That's why I am installing `repo` files via `templates` and then using a `patched` version which offers the possibility to `modify` repos without the need to know the `URL`, but the `name` ... and without `deleting` and `reinstalling` the repo as it is currently done.
This patch makes the modul much more flexible.
When you are interested in the patch, just drop me a note ...

[2017-04-15 19:51] computersalat opened #23639 "zypper: state: 'latest' does only update 'named' pkg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
running on openSUSE Leap 42.2
managing SUSE

##### SUMMARY
zypper: state: `latest` does **only** update the mentioned pkg, but not its **primary dependencies**

##### STEPS TO REPRODUCE
After running this play the name service failed to start, cause not

[2017-04-16 01:06] snowsky commented on #23621
I can reproduce the issue.

[2017-04-16 01:20] snowsky commented on #23621
If the robot can accept some command from someone to know if this is an issue can be reproduced...

[2017-04-16 02:24] matti commented on #20492
@Applemann I had installed "docker-py" previously -- I had to `pip uninstall docker; pip install docker` and then it started working... no idea what happened.

[2017-04-16 06:22] naftulikay opened #23642 "get_url Fails to Validate Otherwise Valid HTTPS URL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`get_url` Module.

##### ANSIBLE VERSION

[code]

Other Python versions, since I'm testing on Travis:

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

Travis CI on their default Precise (Ubuntu 12.04) and their beta Trusty (14.04) images.

##### SUMMARY

I'm [attempting to write an Ansible role to install Rust in a Vagrant VM](http

[2017-04-16 08:20] robinro commented on #23639
@computersalat I believe this is an issue with the dependencies of the bind package and not the ansible zypper module.
The module effectively runs `zypper up bind` and then the package has to contain the relevant information about dependencies. Please open a bug with SUSE on that.

[2017-04-16 08:20] robinro commented on #23639
notabug

[2017-04-16 08:24] #23639 closed, assigned to nobody

[2017-04-16 09:59] fnkr opened #23643 "AnsibleUndefinedVariable error when trying to access variables from included template files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default w/o overrides

##### OS / ENVIRONMENT

macOS 10.12.4

##### SUMMARY

Variables set in included template files cannot be accessed within the original template file.

##### STEPS TO REPRODUCE

I made a sample playbook to demonstrate the issue: https://gist.github.com/3e3e57141

[2017-04-16 11:10] #23626 closed, assigned to nobody

[2017-04-16 11:20] snowsky commented on #23642
get_url module is not a good candidate work with SSLv3.

[2017-04-16 11:32] snowsky commented on #23642
Just tried and found that if validate_certs=False was added it can work.

[2017-04-16 13:02] Applemann commented on #20492
@matti I resolved it by add parameter `-e 'ansible_python_interpreter=/usr/bin/python3'` when I run  ansible-playbook.
Because on the server is using python3, but on my localhost was default python 2.7

[2017-04-16 13:38] snowsky commented on #14808
Now both should be working.

[2017-04-16 15:03] gzm55 opened #23647 "initrd value of ansible_cmdline is not correct when boot in UEFI mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`setup` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 17.04, boot in UEFI mode

##### SUMMARY
when booting via UEFI, the initrd= specification uses EFI-style backslashes (`\`) and identifies the initial RAM disk relative to the ESP's root, but backslashes are not encoded in the fact variable `ansib

[2017-04-16 15:13] alexlo03 commented on #23602
Hey, I made this change - sorry it violates expectations.  For my own Ansible playbooks that have SGs, I updated the playbook desc fields to match what is in AWS to avoid having errors, this seemed to me a Good Thing since now there is no "drift" between the playbook and my cloud conf.

SGTM, can you tell me what an Ansible "warning" would be?  Generally Ansible only has OK, Changed, Unreachable,

[2017-04-16 15:20] alexlo03 commented on #23602
cc @s-hertel who wrote this on the PR, but I can no longer find it
[code]

I'll comment on why deleting the SG and re-creating it is a bad idea.  One, if the group was being used, it would cause a service outage.  Two, and this is more subtle, the runner of the playbook would need much more permissions from an AWS IAM perspective.

Security Group Descriptions being immutable is difficult for a num

[2017-04-16 17:34] jonhadfield commented on #23629
originalTextFor suggests it's an issue with your installed version of pyparsing.
You can check installed version with this:
`python -c 'import pyparsing, setuptools;print(pyparsing.__version__)'`
If it's not the latest, try updating to 2.2.0 then re-installing
`pip install pyparsing==2.2.20`

[2017-04-16 18:50] naftulikay commented on #23642
Understood; I know I could use that workaround, but I'd like to stay within Ansible if possible and it doesn't look like I'm doing anything too out of the ordinary here.

[2017-04-16 21:02] snowsky commented on #23647
It seems it is different on my VM:
[code]

[2017-04-16 22:08] sergey-rsa opened #23649 "add frequency 5m 10m 1h and so on to win_scheduled_task"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_scheduled_task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

windows 2016

##### SUMMARY

add frequency 5m 10m 1h and so on.
Now is only "once, daily, weekly" and it's not serious. Module almost unusable.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-17 00:59] gzm55 commented on #23647
Hi @snowsky,
your VM use efi to load grub then kernel is loaded by grub, is it?

My kernel is loaded using efi stub and gummiboot/systemd-boot, see http://www.rodsbooks.com/efi-bootloaders/efistub.html .

efi stub loads gummiboot:
[code]

gummiboot loads kernel:
[code]

[2017-04-17 01:34] snowsky commented on #23647
I don't think ansible's outputs will be in EFI-style path format.

[2017-04-17 02:17] gzm55 commented on #23647
but `/proc/cmdline` is in EFI-style, and `ansible_cmdline` corrupts the `initrd` value.

I think `get_cmdline()` in `facts.py` does not escape backslashes before call `shlex.split()`, and
[code]

this escaping works for me. The `shlex.split` is for parsing the form of  `key="value with space"`, and assumes that the `data` should be a valid raw shell string, but a backslash violates this assumption

[2017-04-17 02:22] snowsky commented on #23647
Got double backslashes then:
[code]

[2017-04-17 02:23] snowsky commented on #23647
If this works for you, you may also want to use:
[code]
got the same output.

[2017-04-17 02:56] misterT1958 commented on #23629
Jon, doesn't look like pyparsing is the problem:
tw2@warroom3:~/Library/Caches/pip> python -c 'import pyparsing, setuptools;print(pyparsing.__version__)'
2.2.0

[2017-04-17 03:07] gzm55 commented on #23647
the double backslashes are the ansible formatting style for the single backslash.

`posix` parameter of `shlex.split`  [is added in python 2.6](https://docs.python.org/2/library/shlex.html), but `setup` module should be compatible with python 2.4 on Managed machines right now (for ansible <2.3).

[2017-04-17 04:04] haiyusheng opened #23650 "中文环境下 su 有问题"
##### ISSUE TYPE
Bug Report
##### ANSIBLE VERSION
ansible 2.2.x and ansible 2.3.x
##### COMPONENT NAME
1、play_context.py  become_method=='su'
prompt 是一个function，另外这个函数对中文文本 不能正确匹配
2、ssh.py 的  def  _examine_output(*)
if self._play_context.prompt and self.check_password_prompt(b_line):中的
self.check_password_prompt(b_line) 返回none，原因是：
`def check_password_prompt(self, b_output):
        if self._play_

[2017-04-17 04:32] davidneudorfer commented on #15321
Make sure you have `python-simplejson` as you can't even gather facts without it. Adding this to the beginning of my playbooks helps.
[code]

[2017-04-17 06:22] 0mmariano commented on #23489
@abadger - Thanks for your help!

I tried the same changes on the controller and got the same results:

1. /etc/environment -- The lookup found the variable defined
2. /etc/profile -- The lookup also found the variable defined
3. /etc/profile.d/required_env_vars.sh -- The lookup did not find the variable. One of the things that /etc/profile does when it is read is call each *.sh file in /etc/profi

[2017-04-17 06:34] aabbss757 opened #23653 "win_updates: Log is not output."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server：Amazon Linux AMI release 2017.03
Client：Windows Server 2012 R2

##### SUMMARY

I tried windows update from ansible.
However, log file specified by "log_path" is not output.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I want to

[2017-04-17 07:39] jonhadfield commented on #23629
It might be pip is using a different set of libraries. To rule this out, trying installing ansible under virtualenv:
[code]

[2017-04-17 08:05] hellokangning commented on #23390
I find the issue, become of lacking `become: true`.
Sorry for my carelessness, I would close this issue.

[2017-04-17 08:10] jdebp commented on #23508
The premise of this bug report is wrong.  The service given as an example is a `Type=forking` service marked `RemainAfterExit=yes`.  It is not ansible that considers that to be running after it has forked a child and exited the parent.  It is systemd.  Because it was told to.

Your real problem is that you are relying upon a backwards compatibility mechanism to run a System 5 `rc` script, that for

[2017-04-17 09:00] Dawny33 opened #23655 "[Docs] Region is a compulsory parameter for sts_assume_role module"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

The `region` parameter is compulsory for _sts_assume_role_ module, as opposed to what mentioned in the docs, which is `required: no`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[code]

[2017-04-17 10:22] gudron commented on #23624
[code]
works fine without {{ }}

[code]

[2017-04-17 11:29] misterT1958 commented on #23629
Jon, thanks for your help.  Before I saw your last suggestion, I found this (excerpted below) on https://github.com/nylas/sync-engine/issues/432.    This worked for me:

Thanks for your help!
Tony

[2017-04-17 11:29] #23629 closed, assigned to nobody

[2017-04-17 12:00] beggles commented on #18974
I too am having trouble running plays to NXOS devices (NX-OSv9K v7.0(3)I5(2)) since upgrading to Ansible 2.3, unfortunately I am unsure of which 2.2 build used to work. I am getting the following errors when running a simple "nxos_command" playbook, as follows;

[code]

with error output as follows;

[code]
These same error messages have also been recorded in "ansible.log", when running a "nxos_fa

[2017-04-17 12:05] gordonbondon opened #23657 "Add support for "default" privileges to postgresql_privs"
_From @markus-s24 on October 27, 2016 15:32_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

postgresql_privs
##### SUMMARY

I would like to manage PostgreSQL "default" privileges with postgresql_privs too. E.g. using "ALTER DEFAULT PRIVILEGES..." instead of just "ALTER PRIVILEGES...". Suggestion: Add a parameter "default" with a default value of "false".

_Copied from original issue: ansib

[2017-04-17 12:05] gordonbondon commented on #23657
_From @ansibot on October 27, 2016 15:34_

@b6d ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-04-17 12:05] gordonbondon commented on #23657
_From @ansibot on December 7, 2016 19:55_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-04-17 12:34] candlerb opened #23658 "Spurious warnings about jinja2 in 'when' statements with string literals"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Ansible now warns about jinja2 delimiters in `when:` statements.  However this warning should not be generated if the jinja2 delimiters are nested inside a quoted string literal as part of a larger expression, as it's quite rea

[2017-04-17 12:51] #23531 closed, assigned to Qalthos

[2017-04-17 12:57] #21924 closed, assigned to Qalthos

[2017-04-17 13:25] Liberasys commented on #22255
Ok thank you for the solution. For the moment I prefer to duplicate the task and do :
1 - nextcons_ansible_group != 'all'
2 - nextcons_ansible_group == 'all'

[2017-04-17 13:25] mtoriumi commented on #23547
+1

[2017-04-17 13:57] jjnoakes opened #23660 "synchronize module: local connection + become improvements"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux

##### SUMMARY

I have two users on a Linux system, let's call them Alice and Bob. Alice owns a directory "/home/alice/source" which is not readable by Bob's user ID, and Bob owns a directory "/home/bob/dest" which is not readable by Alice's user ID.

Alice can, due to /e

[2017-04-17 14:49] sivel commented on #23658
Your `when` statement should be adjusted to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-04-17 14:49] #23658 closed, assigned to nobody

[2017-04-17 15:51] alikins commented on #23597
So far, I can't reproduce this with 2.3 or devel/2.4:

[code]

[2017-04-17 16:08] alikins commented on #23642
Do other https urls fail to validate or only https://sh.rustup.rs?  Do other urls with 'Lets Encrypt' issued certificates fail? Do other urls using other CAs fail?

[2017-04-17 16:24] s-hertel commented on #23602
@alexlo03 Your comments on deleting/recreating the SG make sense. Regarding "can you tell me what an Ansible "warning" would be?" - I think we use the [AnsibleModule.warn()](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L774) method but I'm not sure if that's what he means by an aggressive flag.

[2017-04-17 16:26] alikins commented on #23607
@surudoiryu

Got the same error as what?  https://github.com/ansible/ansible/issues/23607#issuecomment-294250980 is not the same as the error in https://github.com/ansible/ansible/issues/23607#issue-221798404

[2017-04-17 16:43] #20260 closed, assigned to rcarrillocruz

[2017-04-17 17:11] alikins commented on #23606
Attempted to reproduce with:

[code]

I see the handlers triggered with 2.1, 2.2, 2.3, and devel

2.2.1
[code]

2.2.3:
[code]

2.1:
[code]

[2017-04-17 17:20] alikins commented on #23609
I can reproduce with 2.2 and devel/2.4

[code]

[2017-04-17 17:25] jgilfoil commented on #20980
Seems to be addressed in https://github.com/ansible/ansible/issues/20508 and there is an associated pull request in already.

[2017-04-17 17:40] arshantz opened #23663 "vmware_guest fails when VM already exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
pipelining = True
#remote_tmp = /opt/appdata/ansible
host_key_checking = False
timeout = 20

##### OS / ENVIRONMENT

RHEL6

##### SUMMARY

vmware_guest fails (is not idempotent) when the VM already exists.

##### STEPS TO REPRODUCE

Execute play below to create the VM

[2017-04-17 17:46] alikins commented on #23621
Looks like this will fail if the config for 'transport = smart'. Using 'ssh' or 'paramiko' works.

Looks like there 'connection_loader.get' fails for 'smart' and ends up returning None and causing the error.

[2017-04-17 17:48] dagwieers commented on #17311
@gohelh-adsk Weird, this was part of PR #17851, see https://github.com/ansible/ansible/pull/17851/files

[2017-04-17 17:49] alikins commented on #23623
Dupe of https://github.com/ansible/ansible/issues/22572

[2017-04-17 17:59] #23623 closed, assigned to nobody

[2017-04-17 18:08] snowsky commented on #23621
@alikins yes you are right.

[2017-04-17 18:09] gohelh-adsk commented on #17311
@dagwieers Yes, I can see your changes in the PR so it looks like they were merged in at that point. Looking at the file history, it was moved and the earliest version in the current location doesn't have your changes.  Not sure what happened between your change and commit 57f8b791d672ec520036973db235071656f45077

[2017-04-17 18:11] greggilbert opened #23665 "Folder named '$HOME' created when Ansible invoked by cloud-init"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

[code]

##### SUMMARY

When invoking a playbook from cloud-init, a folder named `$HOME` gets created.

##### STEPS TO REPRODUCE

This is my cloud-init:
[code]

[code]

Start an instance with that configuration and I end up with a folder in `/app/dep

[2017-04-17 18:11] alikins commented on #23627
How was ansible installed?

[2017-04-17 18:16] TopherGopher commented on #22576
I actually think it is a real bug. I can get the desired results when I run ansible==2.0.2.0 but not with ansible==2.3.0.0. I know we're lagging behind in our version, but I can tell you something was introduced that makes this:

[code]

go from a successful run in RHEL 7 to a failed run.

[code]

[2017-04-17 18:17] sivel commented on #23665
This should be resolved in ansible v2.3.0.  Can you confirm by upgrading the ansible v2.3.0?

[2017-04-17 18:20] alikins commented on #23627
Actually, never mind on the install version.

openssl_csr is not part of 2.3.0.0
The docs at https://docs.ansible.com/ansible/openssl_csr_module.html are wrong (those docs are generated from metadata in the module itself, which does list its version_added as 2.3, but it was not actually added until after 2.3.0.0)

The module metadata version_added needs to be fixed, so I updated to issue title to

[2017-04-17 18:25] alikins commented on #23628
Current version seems to work okay.

[code]

Verify the copied version matches the github version. My suspicion would be that something got munged in the process and introduced whitespace/indention errors.

[2017-04-17 18:32] alikins commented on #23643
Was this working in earlier versions?

[2017-04-17 18:33] abadger commented on #23501
Yep, you are correctly interpreting what we're thinking the plan going forward needs to be  If we fail to transfer the file we should fail the task.  In the original design of fetch this was not the behaviour because there were cases where you'd want to ignore those failures.  Ansible now has other ways to ignore failures so we don't have to hardcode that into the module's design

* validate_check

[2017-04-17 18:39] alikins commented on #23643
Does the 'include' need to be an 'import'? ala http://jinja.pocoo.org/docs/2.9/templates/#import

[2017-04-17 19:00] alikins commented on #23647
devel branch/2.4 will require python 2.6 for modules, so adding posix=False for the shlex.split() would be okay.

Doing better escaping on /proc/cmdline contents in facts.py seems like a more general fix though.

[2017-04-17 19:17] bcoca commented on #23617
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The handler will run if notified, it only is notified if the task is 'changed', having the task 'failed' means it is NOT 'changed'. The

[2017-04-17 19:17] #23617 closed, assigned to nobody

[2017-04-17 19:21] greggilbert commented on #23665
I actually can't; I'm blocked on the upgrade to 2.3.0 by #21562.

[2017-04-17 19:23] bcoca commented on #21065
ending with `|string` or '|to_json' will always bypass 'typing'

[2017-04-17 19:36] greggilbert commented on #23665
So I managed to get Ansible 2.3 on a new instance and I can confirm that it does fix the `$HOME` thing as you mentioned; I am, however, still unable to upgrade to 2.3 across the board due to the issue I linked.

[2017-04-17 19:45] sivel commented on #23665
In the meantime, you should be able to update your `ansible.cfg` file, to include:

[code]

The fix is also in the `stable-2.2` branch, but not yet in any v2.2 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-04-17 19:45] #23665 closed, assigned to nobody

[2017-04-17 19:48] fnkr commented on #23643
Haven't tried, sorry.

Yes, this works. Thanks! (See also #3779.)
[code]

[2017-04-17 19:48] #23643 closed, assigned to nobody

[2017-04-17 20:12] jasonmader opened #23670 "gconftool2 fails on value: "google-chrome %s""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gconftool2

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.12.4 managing OpenSUSE Leap 42.2

##### SUMMARY
Cannot change a GNOME configuration value "firefox %s" to "google-chrome %s"

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS
[code]

[2017-04-17 20:18] mhristof commented on #23530
i see your point, but the same command `ansible all -i 'localhost, ' -c local -m debug -a 'var=ansible_user'` seem to have changed behaviour on two different versions of ansible and i didn't see anything mentioned.

[2017-04-17 20:31] bcoca commented on #23530
The behaviour change for debug was not intended, but also not something we are looking at. `ansible_user` is a variable the user sets for the connection to consume, not the other way around.

[2017-04-17 20:33] s-hertel commented on #23595
Fixed in #18859

[2017-04-17 20:50] yunj opened #23671 "Ansible 2.3.0.0 uri response would replace character b with ********"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile = hosts
roles_path = .galaxy:roles

##### OS / ENVIRONMENT

Windows 8.1

##### SUMMARY

Ansible 2.2.0.0 uri module behaves as expected but after upgrading to 2.3.0.0 uri response would replace character b with ********

##### STEPS TO REPRODUCE

Access some Rest API w

[2017-04-17 21:12] snowsky commented on #23647
Ok, let me put a PR to address this issue.

[2017-04-17 21:13] abadger commented on #23671
tldr; Do not set your password to "b".

Ansible will hide any data that is passed in via a module parameter marked no_log if it occurs anywhere in the return results.  This is because Ansible itself does not know how the results got there, it only knows that the value of the results contains information that has been marked as being secret.  If I create a new user account on a web service and the

[2017-04-17 21:13] #23671 closed, assigned to nobody

[2017-04-17 21:40] yunj commented on #23671
Thanks for your information. My script used to work for Ansible 2.2.0.0 then fails after upgrading to 2.3.0.0. I would change the password to something else.

[2017-04-17 21:45] derekmahar commented on #23623
Is this issue fixed or closed because it's a duplicate of #22572?

[2017-04-17 21:51] abadger commented on #22885
Only tested on ubuntu14 with sudo, bash, and the root user.  There seem to be multiple ways to have become work depending on precisely the behaviour you wish.  You do have to modify the sudo_flags configuration parameter to make any of the ones I tried work (but I did not test this as exhaustively as the tests last week.   There may be other ways to do this.... In particular, zsh's documentation s

[2017-04-17 21:57] jmcostecalde opened #23674 "Ansible 2.3 Regression -"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-17 22:12] jmcostecalde opened #23675 "conditional `is defined` fails to capture undefined var"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
includes / when

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Mention any settings you have changed/added/removed in ansible.cfg
Didn't touch andible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a block that includes a play (made of other tasks) and passes variables
[code]
in the APlay.yml, I have block with a condition
[code]
in A

[2017-04-17 22:31] #23674 closed, assigned to nobody

[2017-04-17 22:32] snowsky commented on #23650
@haiyusheng 有没有yaml文件我可以试一下？

[2017-04-17 22:39] snowsky commented on #23650
我又看了一下，2.3里面有中文支持：
[code]

[2017-04-18 00:16] rahul8590 opened #23676 "Add Timeout for scripts using script module."
##### ISSUE TYPE

 - Feature Idea

Add Hard timeout for ansible script module .

##### COMPONENT NAME

script module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Currently, the script module only remotely executes the script. It ll be nice to have an option to specify a hard timeout of the script. That way, you can avoid issues when the script ha

[2017-04-18 01:42] gzm55 commented on #23647
PR works for me, thanks.
So this fix will only go into ansible 2.4?

[2017-04-18 02:32] xingshao-ye opened #23677 "win_regedit Modify the Winserver 2012 registry error"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-18 02:42] snowsky commented on #23647
yes, it will be after approved.

[2017-04-18 03:22] fubarhouse opened #23678 "known_hosts does not refer known_hosts file as expected."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`known_hosts`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When attempting to use the known_hosts module, the task is failing, verbose output is indicative of the module referring a non-existent file in /tmp instead of the specified (or default) known_hosts file.

Running `/usr/bin/ssh-ke

[2017-04-18 03:28] varmil opened #23679 "Windows: some git operations cause error in raw module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw module / git

##### ANSIBLE VERSION

[code]
(When I use v2.2.2, this problem is not occurred)

##### CONFIGURATION

N / A

##### OS / ENVIRONMENT

from: Mac
managing: windowsservercore on Windows Server 2016 (docker)

##### SUMMARY

Some git operations return `rc: 1`. Ansible regards it as error, then stop the process.
(Actually, the git o

[2017-04-18 04:46] delapsley commented on #23345
Hi: just wondering if there is a workaround for this? I'm hitting the same problem on a single node.

[2017-04-18 05:26] mangelajo opened #23680 "ansible/parsing/dataloader.py tries to use formatting with bytes string (uncompatible with py3)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
when using "copy", programming error in ansible/parsing/dataloader.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
when using "copy", there's a programming error in ansible/parsing/dataloader.py

##### STEPS TO REPRODUCE
$ python3

...     b_main = b'main%s' % (suffix)
...
Traceback (most recent

[2017-04-18 05:53] jhawkesworth commented on #23677
Try putting the data value inside quotes like this

data: '123.123.123.123'

[2017-04-18 06:19] jackprice opened #23682 "UnboundLocalError in `cloudflare_dns` module in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`cloudflare_dns`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using the `cloudflare_dns` module in check mode, where a change would be made, causes an `UnboundLocalError` to be thrown.

Without check mode, or if no changes would be made, the module works as expected.

##### STEPS TO REPRODUCE

[2017-04-18 06:52] awalker125 commented on #23518
Thanks. I've opened it over there at https://github.com/Azure/azure-sdk-for-python/issues/1089

[2017-04-18 07:35] helldorado commented on #23345
Hi @delapsley please provide more info.

Version of your PVE and output in verbose mode.

[2017-04-18 07:49] JorisLA commented on #23607
@snowsky
=> fr_FR.UTF-8

[2017-04-18 08:08] sayantandas opened #23685 "A specified parameter was not correct: spec.location.datastore"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

Creating a Windows 2012 VM from  template fails with error "A specified parameter was not correct: spec.location.datastore" . The template is in working condition; VMs can be created using the template when commissioned from V

[2017-04-18 08:50] bruceauyeung opened #23687 "gather other hosts'facts even if --limit is specified"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

centos 7
##### SUMMARY

##### STEPS TO REPRODUCE

1. user have configured ansible to enable fact caching
[code]
2. user have a playbook to ping all hosts(host1,host2,host3) in inventory file. in this playbook, there is a ping task with `gather_facts:yes` explicitly configured. and there

[2017-04-18 09:05] fridim commented on #23678
@fubarhouse, in :

[code]

Are you sure you're using know_hosts key param properly ? It seems you're using user jenkins' public key instead of specifying a public _host_ key. From doc :

[2017-04-18 09:10] mhristof commented on #23530
its not only happening in the `debug` module.

[code]

[2017-04-18 09:18] surudoiryu commented on #23607
@alikins
Aah i see now, i wasn't  watching the last part -_-" my bad, it just looked a lot like this problem.

[2017-04-18 09:32] cptchips opened #23689 "'become' tasks fail (with a timeout msg) in 2.3.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no customization

##### OS / ENVIRONMENT

Linux

##### SUMMARY

I need to execute tasks as another (let's call him Bob) on a Linux system. Thus I use 'become' for privilege escalation.
It works fine in 2.2.2 but fail in 2.3.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-04-18 09:50] Akasurde commented on #23670
I see `mux_client_read_packet: read header failed: Broken pipe` in actual results. Can you try again ? may be intermittent SSH connection may cause this.

[2017-04-18 10:18] kpachar opened #23690 "apt-repository drops the arch specification given in the source string of the repo parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes to ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
apt-repository drops the arch specification given in the source string of the repo parameter

##### STEPS TO REPRODUCE
When I run the apt_repository task shown below (note that the `repo` parameter has an `arch`

[2017-04-18 10:20] kpachar commented on #18975
@mapreri I'm facing this problem too. I've created another issue with the template filled up properly now. Hoping that it gets past the ansibot automated system. https://github.com/ansible/ansible/issues/23690

[2017-04-18 10:30] mapreri commented on #18975
@kpachar thanks, I subscribed it.
Although I leave this bug open (and I'm otherwise tempted to open a different bug about being able to specify extra options in ansible).

[2017-04-18 10:55] Oneiroi commented on #23179
All, I note this issue is still currently unresolved, though some progress is being made over on #20566 the issue appears idle for 14 days. Do you have an ETA to fix or are we waiting for the PR over at #20566 to be resolved to allow progression on this issue ?

[2017-04-18 11:32] snowsky commented on #23607
Will replacing acsii with utf-8 fix this issue?

[2017-04-18 11:38] snowsky commented on #23607
Try this command before ansible-playbook:
[code]

[2017-04-18 12:01] Jorge-Rodriguez commented on #17582
@jimi-c @bcoca Is this a dupe of #20980 ?

[2017-04-18 12:03] Jorge-Rodriguez commented on #20508
This PR seems to be very similar to the change that fixed #17582 and was later removed.

[2017-04-18 12:21] rawbertp opened #23692 "Groupvars not working when executing playbook from subdirectory (2.3)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When executing a playbook from a subdirectory the group vars are not picked up (correctly). This works just fine with 2.1.

##### STEPS TO REPRODUCE

./test.yml and ./subdir/test.yml:
[code]
./group_vars/all.yml:
[code]
./inventory/test:
[code]

(1) Exec

[2017-04-18 12:36] stacker2017 commented on #23689
We are also experiencing more occurrence of this issue after upgrading to ansible 2.3, any idea why?

[2017-04-18 12:37] helltone opened #23693 "mount Solaris 11"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 ansible/lib/ansible/modules/system/mount.py

##### ANSIBLE VERSION
ansible 2.2.1.0

##### CONFIGURATION
out the box

##### OS / ENVIRONMENT
running Ansible on - Red Hat Enterprise Linux Server release 6.8 (Santiago)
managing OS - Solaris 11.3 FMRI: pkg://solaris/entire@0.5.11,5.11-0.175.3.9.0.4.0

##### SUMMARY
mount NFS fails

##### STEPS TO R

[2017-04-18 12:38] vegai opened #23694 "ansible_galaxy corrupts filenames of git cloned repos"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY

Filenames get corrupted  when doing ansible-galaxy install. For instance, I have a roles/filebeat/templates/platform-filebeat.service.j2 file in another repo.

On ansible-2.2.1.0, the file is cloned correctly as platform-filebeat.service.j2.

On ans

[2017-04-18 12:39] merlin-tc opened #23695 "facter > 3.1.8 fails when used in ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/system/facter.py

##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
standard ansible configuration

##### OS / ENVIRONMENT
Gentoo Linux

##### SUMMARY
Upstream facter removed the --puppet flag which causes facter to fail silently even though it's called by ansible.
If called directly it shows the error.
Removing "--puppet" from

[2017-04-18 12:47] hoall opened #23696 "Ansible-galaxy ignores --force"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

roles_path    = ~/.ansible/roles

##### OS / ENVIRONMENT

N/A

##### SUMMARY

"ansible-galaxy install" ignores the -f/--force option.

##### STEPS TO REPRODUCE

I have a requirements.yml file. My command is ansible-galaxy install -f -r requirements.yml. I would expect that all

[2017-04-18 12:54] fridim commented on #23676
Thanks @rahul8590  for the RFE. Just a few remarks before others step in about the RFE itself.

First, i think the simplest (and clean) way is to have the script handle the timeout itself.

That said, there are workarounds:

- use copy + command
  It allows you to use async http://docs.ansible.com/ansible/playbooks_async.html and then set the TTL of your script.

  (You cannot use async directly w

[2017-04-18 12:57] Akasurde commented on #23670
I can reproduce this issue.
This happens when key (e.g. `/desktop/gnome/url-handlers/https/command`) doesn't exists.
gconftool2 module gets value for key before setting value to key. When key doesn't exists, fails in getting the value. Need to fix [this](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/gconftool2.py#L139-L163) logic.

[2017-04-18 13:02] dagwieers commented on #23679
This is not a bug. **raw**, **win_command** and **win_shell** do not know when a command succeeds or failed. By default it expects a return code of 0 to mean "success", but that may not be true.

If in your case the return code is non-zero, but this still means success, it is up to you to use `failed_when` so that it works for your use-case. http://docs.ansible.com/ansible/playbooks_error_handling

[2017-04-18 13:07] #19714 closed, assigned to nobody

[2017-04-18 13:08] dagwieers commented on #23679
BTW I am intrigued by your examples doing
[code]

Why would you pipe anything to git like that ?

Should you not be doing:
[code]

Or even better:
[code]

See: https://ss64.com/nt/syntax-redirection.html

[2017-04-18 13:12] mscherer commented on #23696
Isn't it related to https://github.com/ansible/ansible/pull/23391 ?

[2017-04-18 13:13] mscherer commented on #23694
Related to https://github.com/ansible/ansible/pull/23633 and https://github.com/ansible/ansible/issues/22572

[2017-04-18 13:22] hoall commented on #23696
In some way. A role isn't erased with any command though. 2.3.0 doesn't erase any role data even with the force option. Also, I don't believe it's a good idea to hold even versioned numbers. Not that I don't get the point of doubling downloads, but as long as there's no way to handly multiple role versions -- force is the only option to delete a role version and replace it with another one from de

[2017-04-18 13:31] hoall commented on #23694
In my case a file is completly missing.

[2017-04-18 13:34] GuillaumeBibaut opened #23699 "ansible 2.3.0 become method su hangs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I'm trying to use a task I've been using with Ansible 2.2.1 on FreeBSD 11 with no problem. But since 2.3.0, Ansible just hangs there on the `su` command.

##### STEPS TO REPRODUCE

I'm using 2 FreeBSD VM, both install on FreeBSD 11.0 wi

[2017-04-18 13:41] mscherer commented on #23694
yeah, I think that's the same bug. Better subscribe to https://github.com/ansible/ansible/issues/22572

[2017-04-18 13:43] cmarasescu opened #23700 "Ansible SERVICE module cannot disable a service on a SLES 11 server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module "SERVICE"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes in the default settings

##### OS / ENVIRONMENT

Running Ansible from = Red Hat Enterprise Linux Workstation release 6.8 (Santiago)
OS I am managing = SUSE Linux Enterprise Server 11 (x86_64), SP3

##### SUMMARY
I'm trying to disable from startup 1 service on several

[2017-04-18 13:45] fvalt commented on #20128
Any news on this issue ?
regards

[2017-04-18 14:05] tompiscitell commented on #23508
@jdebp Thanks for the explanation and the links. I did some further testing and you are exactly right. This isn't a problem with Ansible, so I'll close the issue.

[2017-04-18 14:05] #23508 closed, assigned to bcoca

[2017-04-18 14:06] er1zo commented on #23675
It looks like it's more common problem with conditionals.
When is not working as it use to anymore.
I have this block
[code]
Previously(2.2.1) when list was empty(undefined) ansible executed this step, now it fails with:

Ansible version is
[code]
Running ansible on both ubuntu 14.04 and mac os x 10.12
Target node is ubuntu 16.04

[2017-04-18 14:14] JorisLA commented on #23607
It doesn't fix it, same error.

[2017-04-18 14:23] snowsky commented on #23689
What are the contents in /etc/ssh/sshd_config?

[2017-04-18 14:41] snowsky commented on #23607
I cannot reproduce. Could you please try https://github.com/ansible/ansible/pull/23702/commits/6ec4f185c6bf702e2ed3cd291a143e95f5b567f2?

[2017-04-18 14:45] cptchips commented on #23689
@snowsky please find enclosed the /etc/ssh/sshd_config file.
Please note that the same file is used (and worked) with Ansible 2.2.2

[sshd_config.txt](https://github.com/ansible/ansible/files/930050/sshd_config.txt)

[2017-04-18 14:49] laschlo commented on #23689
Same here. Getting the privilege escalation timeout while ping with become. With 2.2 works just fine.

[2017-04-18 14:53] sivel commented on #23607
I can produce this.  I believe the appropriate fix is actually the following:

[code]

This error occurs when the "build" phase, outputs non-ascii characters.  Which would involve that one of the services from the `docker-compose.yml` or `definitions` specify a "build" that would produce a non-ascii character.

[2017-04-18 14:53] snowsky commented on #23689
Ok, just confirmed my ssh config file is the same as yours using password. What is the ansible command line you used?

[2017-04-18 14:56] russormes opened #23704 "Minimum privaleges required for use of Amazon cloud modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/amazon/*

##### ANSIBLE VERSION
[code]
##### SUMMARY
Working with three modules from the cloud/amazon library
- iam
- iam_policy
- s3_bucket

I had to experiment with the ansible user I created on amazon to get the user privileges correct for each module. This was because I want to allow the anisble us

[2017-04-18 15:01] IainColledge opened #23705 "Azure modules and azure_rm.py fails with Azure Python SDK 2.0.0rc6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

The Azure inventory file azure_rm.py and modules seem to now fail.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using current Azure Python SDK release i.e pip install azure==2.0.0rc6 msrestazure

Required for utilising newer features of azure cli 2.0 etc

##### OS / ENVIRONMENT

Ubuntu, not tested on others.

##### SUMMARY

When run th

[2017-04-18 15:07] snowsky commented on #23607
Thanks @sivel, the PR was just updated.

[2017-04-18 15:17] jasonmader commented on #23670
@Akasurde Am I incorrectly using gconftool2? That key does already exist.
[code]

[2017-04-18 15:20] JorisLA commented on #23607
Thank you guys !

[2017-04-18 15:22] dnmvisser commented on #14641
I think I just hit this as well while running a playbook that includes the `silpion.util` role, I haven't touched the playbook for a while but now on 2.2.2 it gives me:

TASK [silpion.util : Assert EPEL configuration] ********************************
fatal: [eventr-prod]: FAILED! => {"failed": true, "msg": "The conditional check 'ansible_local.util.epel.enable is defined' failed. The error was: er

[2017-04-18 15:25] laschlo commented on #23689
@snowsky , here's what I used for both 2.2.2 and 2.3.0. It did fail on **2.3.0** and pass with no issue on **2.2.0**

ansible -m ping -i hosts all -b --become-method=su --become-user=laschlo --ask-become-pass

[2017-04-18 15:29] cptchips commented on #23689
@snowsky I'm not using any special parameter/option.

`ansible-playbook -i /my_hosts_path/my_hosts_file /my_playbook_path/Issues/become_2-3-0.yml`

[2017-04-18 15:39] #23541 closed, assigned to bcoca

[2017-04-18 15:41] lifanov commented on #23689
This can be reproduced with a simplest test case
1) no playbooks
2) single host "localhost" in hosts file

[code]

However, this does work with "local" connection method.

[2017-04-18 15:46] snowsky commented on #23689
The timeout actually is 10s in sshpass command line.
Still not able to reproduce, but you may want to work around it by async parameter.

[2017-04-18 15:47] lifanov commented on #23689
OK, I just installed "sshpass" and it works now.

[2017-04-18 15:48] snowsky commented on #23689
Here are more workarounds, https://github.com/ansible/ansible/issues/14426, but not fix.

[2017-04-18 15:48] jonmer85 opened #23706 "AWS Batch support - Should I submit a PR?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
AWS Batch

##### SUMMARY
Is anyone working on an AWS Batch (Compute Environment, Job Queue, Job Definition) ansible module? I am about half-way done with writing my own module following a pattern similar to the lambda_policy module. I am happy to submit a PR to the community when I am done if that is desired?

[2017-04-18 15:49] #23152 closed, assigned to nobody

[2017-04-18 15:57] bcoca commented on #23687
this is not something you want by default, some people don't need those facts, others have very slow hosts, others have a LOT of hosts. To let you control this we added `delegate_facts`  http://docs.ansible.com/ansible/playbooks_delegation.html#delegated-facts

[2017-04-18 15:57] #23687 closed, assigned to nobody

[2017-04-18 15:58] s-hertel commented on #23593
I created a Ubuntu instance and was able to run your reproducer without any errors. Maybe it's specific to your setup?
[code]
[code]
[code]
[code]

[2017-04-18 16:04] exowaucka commented on #23537
@bcoca I don't understand why this messed up `group3`, though.  I would understand if `all` stopped working, but why did Ansible act like `group3` was a hostname?

[2017-04-18 16:09] lifanov commented on #23689
test case with empty configuration:

[code]
[code]

[2017-04-18 16:11] abebars-nyt commented on #13262
+2048
This will be extremely useful

[2017-04-18 16:12] conlon opened #23709 "elasticache_parameter_group module docs are inaccurate"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
elasticache_parameter_group module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

running Ansible from OSX Sierra 10.12.3, managing elasticache parameter groups

##### SUMMARY
The values option for this module doesn't seem to accept the format specified in the docs. The docs are clearly

[2017-04-18 16:19] sivel commented on #23689
I have reproduced this issue, and have bisected the commit to 6f77498700a989c6b42f4f4d050d98df1de74f9e

[2017-04-18 16:20] sivel commented on #23689
cc @abadger

[2017-04-18 16:21] sivel commented on #23699
duplicate_of #23689

[2017-04-18 16:21] #23699 closed, assigned to nobody

[2017-04-18 16:23] agaffney commented on #23709
At first glance, it looks like the params were changed as part of the PR (https://github.com/ansible/ansible/pull/21023) that added this module, but the docs weren't updated to match.

[2017-04-18 16:30] privateip commented on #23517
@itdependsnetworks good question and I think there needs to be some clarification here as to which filters are doing which function.  That said, I think we need to do a bit of a review of the current ipaddr.py implementation to better document the filters available, identify filters that need to be added and also which filters should be removed (if any).  I'm going to add this to the weekly IRC me

[2017-04-18 16:36] derekmahar commented on #22572
@bluesalt, I applied the fix suggestion that you had made to @willthames and it fixed the problem.

[2017-04-18 16:38] snowsky commented on #23706
+1

[2017-04-18 16:38] sivel commented on #23689
I've submitted a PR which resolves this issue.

[2017-04-18 16:39] albertomurillo opened #23711 "transfer_method = smart does not fallback to scp"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/connection/ssh.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Trying to connect to a Linux OS without SFTP enabled.

##### SUMMARY
transfer_method tries to transfer files using SFTP and when it fails, it does NOT fallback to SCP

##### STEPS TO REPRODUCE
test.yml
[code]

hosts
[code]

##### EXPECTED

[2017-04-18 16:39] bcoca commented on #23537
Because in the `[group1]` you write hostnames, you happen to have group2 and group3 there, which are valid hostnames. `[all:children]` is an empty section.

[2017-04-18 16:40] exowaucka commented on #23537
@bcoca So, if I use `foobar` as a hostname in a group and as a group name, Ansible will silently ignore the group called `foobar`?

[2017-04-18 16:45] bcoca commented on #23537
Not ignore as the group will be in `group_names` and `groups` and variables will be inherited accordingly, but it will be confusing (in 2.3 this creates a warning) when targeting in `hosts:`.

[2017-04-18 16:54] Lujeni commented on #17555
Hello @xenithorb (@s-hertel ),

Can you check with the `devel` version pls?

It's seems the bug is fixed now.
The file `module_utils/ec2.py` check the boto3 [presence](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.py#L61).

[2017-04-18 17:04] #23689 closed, assigned to nobody

[2017-04-18 17:05] sivel opened #23712 "Improve integration test coverage of become methods"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Per https://github.com/ansible/ansible/pull/23710 we lost `su` functionality in 2.3

We don't explicitly test `su` as a become method.

We should extend our integration test coverage here.  One problem is we will need to connect as an unpr

[2017-04-18 17:09] #23567 closed, assigned to alikins

[2017-04-18 17:13] tedder commented on #23593
`needs_info`. Can't proceed without the requested information.

[2017-04-18 17:14] albertomurillo commented on #23711
git bisect shows the bug was introduced at 1fe67f9f436595003f7951dd88159731e6d82498

[2017-04-18 17:18] Akasurde commented on #23670
@jasonmader Yes. You are using gconftool-2 correctly. Can you please try PR #23713 and let me know, if it works for you?

[2017-04-18 17:19] Perleone commented on #23577
Related to #20521 and #22323, both of which were (supposedly?) fixed with #22324.

[2017-04-18 17:22] linsomniac commented on #18782
@krzysztof-magosa : Unfortunately, unreachable doesn't seem to be considered a fatal in a way that "any_errors_fatal" or "max_failure_percentage" will detect.  Even when combined with "gather_facts: false" and running a ping action on the host, it shows up in the output with a "fatal" prefix, but still doesn't seem to trigger the termination of the play with any combination of "any_errors_fatal" o

[2017-04-18 17:26] conlon opened #23715 "elasticache module's wait option does nothing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elasticache module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

running Ansible from OSX Sierra 10.12.3, managing elasticache

##### SUMMARY

using `wait: no` or `wait: false` still results in waiting for the cache cluster result before moving forward with the task.

##### STEPS TO REPRODUCE

[2017-04-18 17:27] sivel commented on #23711
I don't have a good setup to test `transfer_method=smart`, however I would assume that something similar to the following may resolve the issue:

[code]

That may not be the full solution, as we would need to handle the scenario where `returncode` was never set, if all methods failed.

[2017-04-18 17:30] xenithorb commented on #17555
It would appear that two states are available now:

1. With `boto` and without `boto3` (fixed)
2. With `boto` and with `boto3` (original working condition)
3. Without `boto` and without `boto3` fails by still looking for `boto`, but I suspect that is intentional.

If those are the desired states then I would consider this fixed!

[2017-04-18 17:41] abarghou commented on #18446
I'm getting the same error @cdaringe mentioned on ansible 2.2.1.0

[2017-04-18 18:28] s-hertel commented on #23709
Hi, @conlon thanks for opening this issue. The module expects the format of values to be:
[code]
and I'll fix the docs for that promptly.

About group_family not being in the [docs](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/elasticache_parameter_group.py#L32).

I'm sorry about the unfriendly error message you get for the correctly formatted values. I mistakenly

[2017-04-18 18:40] jasonmader commented on #23670
@Akasurde PR #23713 gconftool2 module correctly changed the value.

[2017-04-18 18:42] laschlo commented on #23689
Confirmed. Applied this change manually to 2.3.0 (master node) and it actually worked ;)

[2017-04-18 19:12] woqer commented on #5442
This issue still happened to us with 2.2.1, the workaround was to use shell module with aws cli instead of s3 module.

[2017-04-18 19:35] ktbyers opened #23720 "eos_command is sending module warnings even when arguments are not set."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION
[code]

##### SUMMARY
[code]

Note, in my `provider` I am not even specifying `use_ssl` or `port` (I am just using the defaults for each of these). I am specifying validate_certs.

Here is my provider:

[code]

It looks like you are setting these with default values at the task level (i.e. outside of

[2017-04-18 19:36] ktbyers commented on #23720
FYI @privateip @gundalow

[2017-04-18 20:23] davidburge1 opened #23723 "asa_command is removing the first line of output from the show version command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special

##### OS / ENVIRONMENT
Running from CentOS7 connecting to Cisco ASA 5580

##### SUMMARY

**When running show version from the CLI the output starts with:**

Cisco Adaptive Security Appliance Software Version 9.1(6)11 `<context`>
Device Manager Version 7.5(2)153

[2017-04-18 20:32] s-hertel commented on #23715
I was unable to recreate this on devel. Your reproducer runs for me and completes before the clusters in the AWS console display the status 'available' (it took minutes more for them to complete). Can you please run your playbook again with extra verbosity (using the `-vvvvvv` flag at the end of the command) and paste it?

[2017-04-18 20:42] s-hertel commented on #23561
Closing since the correct documentation for that module is [here](http://docs.ansible.com/ansible/route53_zone_module.html).

[2017-04-18 20:42] #23561 closed, assigned to nobody

[2017-04-18 20:44] s-hertel commented on #23507
Updating this to reflect a feature idea rather than a bug.

[2017-04-18 20:49] #23409 closed, assigned to nobody

[2017-04-18 20:56] arshantz opened #23724 "vmware_guest state: rebootguest invalid"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
pipelining = True
#remote_tmp = /opt/appdata/ansible
host_key_checking = False
timeout = 20

##### OS / ENVIRONMENT

RHEL6
##### SUMMARY

Running the vmware_guest module with "state: rebootguest" (as documented) results in an error stating that value is not supported.

[2017-04-18 21:19] abadger commented on #23680
Ansible's minimum Python-3 version is 3.5.  In 3.5, percent formatting of byte strings is supported.  Please update to Python-3.5 and the code should work.  Thank you!

[2017-04-18 21:19] #23680 closed, assigned to nobody

[2017-04-18 21:39] ktbyers commented on #23720
@gundalow Are you talking about this (or something else)?

https://github.com/ansible/ansible/pull/23652

I didn't see anything in @ganeshrn recent history that looks like it addressed this.

[2017-04-18 21:41] RsTkn opened #23725 "Execution stuck @"msg": "Error: Module unable to decode valid JSON on stdin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

load the config on the router
##### ACTUAL RESULTS

the execution was stuck permanently.

[code]

Edited by gundalow to fix formatting

[2017-04-18 21:43] ktbyers commented on #23720
Never mind...I see it now.

[2017-04-18 21:45] ktbyers commented on #23720
Yes, this looks like it fixes it:

https://github.com/ansible/ansible/commit/c92765e26ed3003bc8284e527d04c4e3abb77fbd

[2017-04-18 21:45] #23720 closed, assigned to privateip

[2017-04-18 21:56] davidmnoriega commented on #18459
I gave 2.3.0.0 a try and am still seeing this issue.

[2017-04-18 22:26] Akasurde commented on #23670
@jasonmader Thanks for testing PR.

[2017-04-18 22:45] jurgenweber commented on #19084
yeah, I am getting this in 2.3 as well. ANnoying.

[2017-04-18 23:03] rahul8590 commented on #23676
My use case is slightly different. Many times the script contains network calls  etc, which may  take forever to execute. The `script` module , places the onus on script writer to handle timeouts. Its good to have a fail fast approach. Here are the following issues with the workarounds

1. `copy + command`  will copy the script to remote host and then, execute. (Correct me if I am wrong) Again, th

[2017-04-18 23:07] itdependsnetworks commented on #23517
Thanks, added this PR, since to me it seemed wrong: https://github.com/ansible/ansible/pull/23526

[2017-04-18 23:32] fubarhouse commented on #23678
@fridim I found an example of the usage on a github issue which has made the usage clearer, including the required standard `SSH_KNOWN_HOSTS FILE FORMAT`.

That seems to be fine.

Anybody else attempting to find a proper usage for this module which isn't made clear by the official documentation can refer to https://github.com/ansible/ansible-modules-extras/issues/1924

I'm going to close this issu

[2017-04-18 23:32] #23678 closed, assigned to nobody

[2017-04-19 00:30] ElijahLynn commented on #19068
Thank you! Just spent a decent amount of time troubleshooting why I had a failure. Had no idea it was just a "when" issue.

[2017-04-19 01:39] dougalb commented on #23706
+1

Ping me if you have any questions. I'm the Product Manager for AWS Batch. dougalb at amazon

[2017-04-19 03:35] tdihp opened #23727 "known_hosts module fail when ssh-keygen exit with 1"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

modules.system.known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
not configuration specific

##### OS / ENVIRONMENT

Running Ansible from: Mac
Managing: Ubuntu 1604

##### SUMMARY

Using known_hosts to add a new host entry gives me an unexplained error

I'm pretty sure it's these lines in `sanity_check` (persist in devel branch too)

[2017-04-19 07:32] gundalow commented on #23720
@ktbyers thanks you for testing and confirming the fix.
The fix will be included in `2.3.1` which we expect to be released within the next two weeks.

[2017-04-19 07:49] sm4rk0 commented on #23559
I tested PR #23581 and it fixes the bug with
[code]

[2017-04-19 08:03] dagwieers commented on #23559
@sm4rk0 Thanks for testing !

I did not find the time to improve the integration tests yet. Hope to do this before the end of the week.

[2017-04-19 08:04] vnitinv commented on #23725
With Anisble 2.3 there were some changes required in junos galaxy module. Those changes are already in github.  (will be released in galaxy in upcoming days after all of our testing are complete)
For now, please do install using below command to get the latest galaxy from github itself

[code]

[2017-04-19 08:05] mangelajo commented on #23680
Ok, understood,

@abadger, It wouldn't be a bad thing if we keep the unit-test part of the patch, what do you think?

[2017-04-19 08:11] fridim opened #23729 "script plugin should fail when used with async"
Before the refactoring of async : https://github.com/ansible/ansible/commit/c86a17b7a003ac22c173cfa832ed2368e15015e6 : using async with script returns an error
After: async param ignored.

see also #20232
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/action/script.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Using async with script sh

[2017-04-19 08:51] jcgarrido opened #23730 "Trailing newline added to stdout"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

stdout from script module in Windows

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from CentOS 6.8
Managing Windows 2012 servers

##### SUMMARY

Ansible 2.3.0 is adding a traling newline to stdout, and this is making some string comparisons fail.

This does not happen with Ansible 2.2.1, b

[2017-04-19 09:43] chilladx commented on #13482
@ansibot I just upgraded the issue to add the component: `ansible_connection`

[2017-04-19 09:43] fridim commented on #23729
affects_2.3   as well

[2017-04-19 09:45] wojtasskorcz commented on #22928
Experiencing the same problem

[2017-04-19 10:10] MartinNowack opened #23731 "component sysctl fails with "NameError: name 'basestring' is not defined" python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sysctl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running OS: Ubuntu 16.04
Managed OS: Ubuntu 16.04

##### SUMMARY

Executing sysctl under python 3 fails.

Basestring does not exist under python 3.

I replaced the line with the following and it works for me.
[code]
##### EXPECTED RESULTS

Executed sysctl comman

[2017-04-19 10:33] hogarthj commented on #22572
@bcoca this has been quite the breaking change and a test across my roles at work breaks most of them (stuff like a docker role no longer being able to find sysconfig-docker.j2 as that ends up sysconfig- etc etc)

can this get a an urgent prioritisation for a fix to be applied and released?

at the least if a fix can be agreed on and merged we can backport that commit to the fedora/epel packages u

[2017-04-19 10:41] philfry opened #23733 "include_role and meta dependencies: strange behaviour on conditionals"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
role dependencies

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
an `include_role` gets skipped when a former `dependency` condition is not met

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]
verbose output in gist: https://gist.github.com/philfry/809

[2017-04-19 10:48] IainColledge commented on #23705
It would seem that some changes have broken the azure modules, installing azure2.0.0rc5 does not seem to fix this.

For reference these are the installed packages with rc5

[code]

[2017-04-19 10:55] mellowplace opened #23734 "!unsafe broken in Ansible 2.3.0.0?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2 (?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Docker Alpine container running on Ubuntu

##### SUMMARY

Templating out...
[code]
Should result in the `{{ $labels.instance }}` and  `{{ $labels.job }}` remaining unchanged (i.e. not interpolated) but infact Ansible is now interpolating them again.

#####

[2017-04-19 10:59] evrardjp commented on #23530
@bcoca Agreed with @mhristof here.
The confusing part would be: http://docs.ansible.com/ansible/intro_configuration.html#remote-user

If nothing is set, we expect this to be from the env. Here it just fails. Either we need a doc change, or a change the behavior.

[2017-04-19 11:18] mellowplace commented on #23734
I can confirm this also affects 2.2.2.0 but is working in 2.2.1.0

[2017-04-19 11:31] snowsky commented on #23734
Do you have yaml playbook file?

need_info

[2017-04-19 11:31] snowsky commented on #23734
I didn't reproduce with this playbook:

[code]

[2017-04-19 11:39] Akasurde commented on #23627
@alikins I would like to work on this issue.

[2017-04-19 11:40] snowsky commented on #23733
I like the command lines which is easy to reproduce the issue.

[2017-04-19 11:51] sivaprakash123 opened #23736 "How to skip a task for a particular host or except a particular host"
Issue Type : Feature Idea
Ansible Version : 2.1
Component Name : Task

In my playbook I have a task which should not run for a particular host from my inventory. Also another Task which should run only for that host from my inventory

The task will create in file in the destination using the template i have created. For a particular host I want to use a different template. so my idea is to have tw

[2017-04-19 11:53] snowsky commented on #23733
no idea why dep3 is lost

[2017-04-19 12:07] chrmcd opened #23737 "iosxr_facts gathering memory summary broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/network/iosxr/iosxr_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

N/A
##### SUMMARY

iosxr_facts does not gather memory summary from router when gathering the hardware subset
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Getting the facts "memtotal_mb" and "memfree_mb"
##### A

[2017-04-19 12:11] gundalow commented on #23723
@davidburge1 Thanks for the bug report

https://github.com/ansible/ansible-modules-extras/issues/3454 was filed on Ansible 2.2, so this isn't a regression, though it is something that needs fixing. Perhaps an out by one error?

Fix needs to be cherry-picked to `stable-2.3` and `stable-2.2`

[2017-04-19 12:11] gundalow commented on #23723
@ogenstad Any ideas?

[2017-04-19 12:14] gundalow commented on #23670
resolved_by_pr 23713

[2017-04-19 12:29] Akasurde commented on #23736
@sivaprakash123 Thanks for reporting feature request. But, this can be achieved by `when` clause in playbook
e.g., `when: ansible_hostname == 'somehost' `

Correct me if I am wrong in understanding your idea.

[2017-04-19 12:37] hogarthj commented on #22572
for now i've blocked an auto push in Fedora/EPEL to avoid it breaking anyone's activities there ... if we can get a commit agreed on (even if not a quick release of 2.3.1 with a bug fix) I can include that commit in a fresh fedora/epel build until 2.3.1 does get a release

this breaks pretty much every one of our ansible projects at my workplace as we use ansible-galaxy to pull roles (via git src)

[2017-04-19 12:38] snowsky commented on #23733
The issue is caused by when cause.

[2017-04-19 12:49] mellowplace commented on #23734
Playbook

[code]

Run with `-v` to get debug

Running in 2.2.1.0

[code]

You can see the stdout contains the `{{ $test }}` and `{{ another_test }}` lines

Running in 2.2.2.0

[code]

You can see stdout just has the block header and footer.

[2017-04-19 12:50] ryansb commented on #17555
Yup, this is correct in current devel as well as the released 2.3

[2017-04-19 12:50] #17555 closed, assigned to nobody

[2017-04-19 12:50] mellowplace commented on #23734
output from `pip list` incase this is something like jinja2 weirdness...

[code]

[2017-04-19 13:01] bcoca commented on #19084
The 'vars' type is being validated PRE templating so any template looks like a string at that point.

[2017-04-19 13:07] bcoca commented on #18459
this is not a vars_plugin issue, the internal inventory object changed, this was not a guaranteed interface.

Also note that more radical changes to inventory are comming in 2.4. https://github.com/ansible/ansible/pull/23001

[2017-04-19 13:08] snowsky commented on #23734
This commit may be related df3e4cd7f42fe4724441290fc779243cd766b841

[2017-04-19 13:20] #23670 closed, assigned to nobody

[2017-04-19 13:26] snowsky commented on #23734
reproduced and _clean_data added {# and #}

[2017-04-19 13:30] gundalow commented on #22572
See also https://github.com/ansible/ansible/pull/23633

[2017-04-19 13:42] Atem18 commented on #19305
@ppluciennik Your patch works for me with the following play:
[code]

{{ ansible_hostname }} is the default one and {{ zabbix_services }} is imported from the vars_files and is equal to:
[code]
Do a pull request for your patch please so we can have it in standard.

[2017-04-19 13:48] bcoca commented on #23734
clean_data is MEANT to remove `{{ }}` and `{% %}` in favor of comments`{# #}`

[2017-04-19 13:49] gundalow commented on #23647
@snowsky Thanks for the PR

Can people please review https://github.com/ansible/ansible/pull/23672 so we can look at getting that merged

[2017-04-19 13:51] gundalow commented on #23677
!needs_info
Please try the above suggestion

[2017-04-19 13:52] gundalow commented on #23679
@varmil Do the examples given by Dag work for you?
needs_info

[2017-04-19 13:54] gundalow commented on #23682
resolved_by_pr 23683

[2017-04-19 13:58] gundalow commented on #23693
@helltone Would you like to create a PR that fixes this?

[2017-04-19 14:03] gaetandossantos commented on #20589
ansible-playbook -vvvv a.yml
Using /etc/ansible/ansible.cfg as config file
Loading callback plugin skippy of type stdout, v2.0 from /root/ansible/lib/ansible/plugins/callback/__init__.pyc
Loading callback plugin timer of type aggregate, v2.0 from /root/ansible/lib/ansible/plugins/callback/__init__.pyc

PLAYBOOK: a.yml ********************************************************************************

[2017-04-19 14:08] derekmahar commented on #22572
@hogarthj, I feel your pain.  I'm just happy that the fix that @bluesalt suggested did in fact fix the names of several files in several of my private roles.  Otherwise, I would have had to rename these files to remove the role name.

[2017-04-19 14:11] s-hertel commented on #23706
+1
I don't think there are any other PRs floating around for that. Thanks!

[2017-04-19 14:16] gundalow commented on #23725
So it seems like this is a bug with the Junos roles, rather than anything in Ansible, so closing.

If that's not the case please reopen this issue

[2017-04-19 14:16] #23725 closed, assigned to nobody

[2017-04-19 14:17] jwbensley commented on #23263
This is fixed here it seems: https://github.com/ansible/ansible/pull/21344

Although I agree with this post, it would be better to use `write mem`: https://github.com/ansible/ansible-modules-core/issues/5520

[2017-04-19 14:24] gundalow commented on #23700
@bcoca I believe you look after service module

[2017-04-19 14:28] hogarthj commented on #22572
@derekmahar we use RHEL/CentOS exclusively here, with EPEL only, so I didn't get accidental breakage ... but I did think it worthwhile checking the package behaviour in the epel-testing repository ... and glad I did!

I'm testing the patch in the PR now and will probably do a 2.3.0 build with that if our internal modules pass their test suites for Fedora/EPEL

[2017-04-19 14:29] #23736 closed, assigned to nobody

[2017-04-19 14:29] gundalow commented on #23736
Closing as the above suggestion should work

[2017-04-19 14:33] gundalow commented on #23731
@MartinNowack Would you like to raise a PR that fixes this?

[2017-04-19 14:34] gundalow commented on #23730
@jcgarrido Thanks for this.

Marking as 2.3 blocking as it's a regression

[2017-04-19 14:36] membrive commented on #16508
I have the same problem but with `inventory_hostname` magic variable. I am not able to use it in vars_files.

As a workaround I am including the files with `include_vars` in the `pre_tasks` block but this is not the desirable behaviour.

[2017-04-19 14:37] s-hertel commented on #23715
needs_info

[2017-04-19 14:43] sidcarter opened #23746 "Variable precedence with Ansible 2.3 is incorrect?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core/ variable precedence

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes to default config.

##### OS / ENVIRONMENT

Tested on Mac OS X:
[code]
and on CentOS 7.3
[code]

##### SUMMARY

Following variable precedence here - http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-04-19 15:03] s-hertel commented on #11159
Related PR in ansible/ansible to use boto3 with the rds module: #19772.

[2017-04-19 15:15] courtlandj commented on #23534
I think this ought to have the affects_2.3 label added as well?

[2017-04-19 15:26] trevorndodds opened #23747 "win_share fails when using domain accounts/groups"
##### COMPONENT NAME
win_share

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT

Linux Control Server, Connecting to Windows 2012 R2 Servers with Kerberos.

##### SUMMARY
When using the win_share module, I'm able to create shares when using local accounts/groups. When trying to add domain based accounts/groups I receive a failure:
[code]

##### STEPS TO REPRODUCE
Share Windows based Domain gro

[2017-04-19 15:38] rajashekharkethireddy opened #23749 "get_url module works as expected on MAC OS but fails in Debian/ubuntu OS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
using get_url module to GET from artifactory
working on my local macbook , but if I run same task on debian/ubuntu os it fails
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

TASK [processing : Download

[2017-04-19 16:00] conlon commented on #23715
my bad, this was total user error...I added this option in the wrong file so of course I didn't see any change in behavior 😜 thanks for looking into it and sorry for wasting your time! 😨

[2017-04-19 16:00] #23715 closed, assigned to nobody

[2017-04-19 16:05] evrardjp commented on #23746
[test-server:vars] is assigning vars to the test-server group. Group vars.  So these are defined twice. What if main_group_var="cilantro" is set on the same line as 10.45.16.51 ?

[2017-04-19 16:05] fdutheil opened #23750 "vmware_guest_snapshot: better error message when using UUID and not finding VM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Control machine: Ubuntu 12.04
Remote machine: Ubuntu 12.04 on vSphere 6

##### SUMMARY
When using the UUID parameter, if the module fails to find the VM, it displays a misleading message containing the "name" parameter, which is non relevant when us

[2017-04-19 16:07] nwchandler commented on #20428
I need this for work. I'll take a swing at updating the module and share when ready.

[2017-04-19 16:09] sivel commented on #23746
This variable precedence seems correct, based on the documentation at http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

It specifies:

[code]

Based on that, the `main_group_var` defined in your hosts file, for the `test-server` group, has a lower precedence that `main_group_var` that you have defined in `group_vars`

[2017-04-19 16:12] sivel commented on #23746
I think the confusion comes from this statement you made above:

You did not create any host variables.  In both cases, you created group variables.

You created a group called `test-server` with one host called `10.45.16.51` and then you applied a var called `main_group_var` to the `test-server` group.

If you wanted to apply a host var to `10.45.16.51` you would need to do:

[code]

If you have

[2017-04-19 16:12] #23746 closed, assigned to nobody

[2017-04-19 16:18] jonmer85 commented on #23706
Great, I am happy to see there is some interest. Is there a certain branch I should throw my new files into when I create my PR?

[2017-04-19 16:23] itdependsnetworks opened #23751 "Add <net_os>_config filter"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

new plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A

##### SUMMARY

With the removal of the offline method noted here: https://github.com/ansible/ansible/issues/22619
It would be nice to re-introduce the feature in the form of a filter. Had a brief side conversation with @privateip and should be pos

[2017-04-19 16:30] abadger commented on #23692
There was a bug in earlier versions of Ansible which found groupvars and hostvars located in the current working directory.  That bug has been fixed in 2.3.  groupvars and hostvars directories may be located next to the inventory or next to the playbook: https://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data  So in your example, they should live in invento

[2017-04-19 16:30] #23692 closed, assigned to nobody

[2017-04-19 16:31] i1caro opened #23753 "gather_timeout from ansible.cfg is ignored when running a playbook."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Timeout Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 15

##### SUMMARY
The variable `gather_timeout` is being ignored. This changed from Ansible 2.2 to 2.3 since after the upgrade some servers started to timeout. In order to debug I changed the ansible code to spit the following line by. Changing

[2017-04-19 16:33] gundalow commented on #22619
See https://github.com/ansible/ansible/issues/23751 which tracks adding the feature back/new feature

[2017-04-19 16:39] abadger commented on #23696
@hoall can you test with https://github.com/ansible/ansible/pull/23391 applied?  Looking at the code, I think that it will fix this issue as well (and I've pinged the dev that handles galaxy issues to have a look at merging #23391)

needs_info

[2017-04-19 16:45] sidcarter commented on #23746
So, does that mean the bug actually is in 2.2.2.0? @sivel

[2017-04-19 16:48] asad-urrahman opened #23754 "Ansible cant differentiate if IPs or DNS addresses of multiple hosts are same and port numbers are different."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Host file configuration `/etc/ansible/hosts`

**Issue:** Ansible cant differentiate if IPs or DNS addresses of multiple host are same and port numbers are different.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

`ROUTER_PUBLIC_IP` is IPv4, for security reasons i have not not exposed real IP.

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 64

[2017-04-19 16:51] hloeffler commented on #14641
@bcoca

[2017-04-19 17:11] bcoca commented on #23700
How do you know the service is still enabled?

[2017-04-19 17:14] JulienChampseix opened #23757 "Ansible 2.3 - S3 module - Bucket not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - s3 module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Ansible config file :
[code]

S3 task :
[code]
##### OS / ENVIRONMENT
Where the playbook is launched
[code]
Remote EC2
[code]

##### SUMMARY
From my macbook, i'm running the playbook to download file based on S3 from ec2 remote instance using s3_module (base in AWS Frankfurt).

Note

[2017-04-19 17:18] sivel commented on #23746
Please see https://groups.google.com/d/msg/ansible-devel/gBMKLk33FhQ/IUY7XIjOBwAJ for a full explanation of the change.

[2017-04-19 17:24] tlvu commented on #15753
I am hit by this same issue, see my post https://groups.google.com/d/topic/ansible-project/cuRoHHlTCgQ/discussion which also points to my gist where I reproduce the problem in a test https://gist.github.com/tlvu/ade0a36dc426eea4b9f6a28381cc1fc1.

Is there any movements on this issue?  Is there any suggested work-around?

[2017-04-19 17:38] Perleone commented on #23577
"docker_gwbridge" is an interface created by Docker on a typical Linux host, "docker0" is another one ([GitHub source file](https://github.com/moby/moby/blob/master/vendor/github.com/docker/libnetwork/default_gateway.go#L17)). Ansible discovers them during fact gathering:
[code]
They also show up as individual entries with further details, but with an `ansible_` prefix:
[code]
However, the `ansibl

[2017-04-19 17:52] ppluciennik commented on #19305
Added PR https://github.com/ansible/ansible/pull/23756.

[2017-04-19 18:05] sramakr commented on #23507
ansible currently uses boto and seeing their code , boto actually handles only ipv4 ranges
[code]

[2017-04-19 18:07] alikins commented on #22572
in testing https://github.com/ansible/ansible/pull/23739 and https://github.com/ansible/ansible/pull/23703
it looks like https://github.com/ansible/ansible/pull/23739 fixes the problem seen here but reverts the fix for https://github.com/ansible/ansible/commit/19d390135e134feeeaf0305cc534f21ea25a9883

 https://github.com/ansible/ansible/pull/23703 seems to fix both, so leaning towards it.

[2017-04-19 18:16] alikins commented on #22572
Fix merged into devel as 79943b86a1ee9338049149824bbb12f99d8186ee

[2017-04-19 18:18] #22572 closed, assigned to nobody

[2017-04-19 18:19] alikins commented on #22572
Merged into stable-2.3 as b9ee0c547797f253771489542f0f5ac08bf04bf6

[2017-04-19 18:19] antoniobeyah opened #23759 "Variable values set on include statements are not correct"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
Also tested against:
[code]

[code]

##### CONFIGURATION

`-i localhost, -e region=us-east-1 -e global_region=us-west-2`

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using task include statements and role include statements and passing in additional variables the variables you are passing are not evaluat

[2017-04-19 18:20] alikins commented on #23694
Fix merged into devel as 79943b8
and stable-2.3 as b9ee0c5

[2017-04-19 18:20] #23694 closed, assigned to nobody

[2017-04-19 18:20] alikins commented on #23623
Fix merged into devel as 79943b8
and stable-2.3 as b9ee0c5

[2017-04-19 18:22] abadger commented on #23749
It's hard to judge what this might be without being able to reproduce locally.  What versions of Python are you running on the two different boxes?  get_url relies heavily on the Python stdlib's url handling so it is sensitive to updates in the stdlib's Python (in particular, there was a great deal of change introduced with python-2.7.9).

needs_info

[2017-04-19 18:34] #23192 closed, assigned to nobody

[2017-04-19 18:39] s-hertel commented on #23507
Some modules use boto and others use boto3. New AWS modules use boto3. The goal is to port modules to boto3. There isn't currently a PR open for ec2_group to work with boto3 (but they are definitely welcome).

[2017-04-19 18:39] bcoca commented on #14641
can you show full play and how ansible local files are defined?

[2017-04-19 18:44] dflock commented on #22171
This bug makes it impossible to use the `service` module to stop/start/restart the auditd service on RHEL systems.

The reason is a combination of two things:

1. If Ansible's service module detects that it's being run on a linux system which uses systemd for init, then it will use `systemctl` for everything, regardless.
2. The `auditd.service` refuses manual stops via systemd, using this setting

[2017-04-19 18:44] kenji21 commented on #15802
Maybe I can look at this, but I have few question, do you think it should be added to PlaybookExecutor, or in the PlaybookCLI near line 99 (with comment "initial error check, to make sure all specified playbooks are accessible") ?

Related question : it is mandatory to write an integration test to show this improvement works ?

[2017-04-19 18:46] s-hertel commented on #23706
@jonmer85 It doesn't really matter what your branch is named, but the pull request should be to merge it into the devel branch.

[2017-04-19 18:49] dflock commented on #22171
FYI: This is the contents of `/usr/libexec/initscripts/legacy-actions/auditd/restart` from a RHEL7.3 system:

[code]

[code]

and this is the contents of `/usr/libexec/initscripts/legacy-actions/auditd/stop`:

[code]
[code]

[2017-04-19 18:53] jonmer85 commented on #23706
Ok got it. Thanks!
On Wed, Apr 19, 2017 at 2:46 PM Sloane Hertel <notifications@github.com>
wrote:

[2017-04-19 18:55] tom-clx commented on #15484
While it would still be nice to see a knob of some sort to control this behavior, I thought I would share the workaround I have. It amounts to 'register'ing the results of any task that is run_once, but should have a handler applied to all hosts in the play (cluster). Not particularly elegant, but effective. The following is modified from my internal documentation; please excuse the lack of contex

[2017-04-19 18:56] dflock commented on #22171
And this is the contents of the `service` command script from the same RHEL7.3 system:

[code]

[2017-04-19 19:02] rajashekhar1121 commented on #23749
Mac has 2.7.13
Debain has 2.7.12

[2017-04-19 19:09] robinro commented on #15802
I'd probably put it in `lib/ansible/playbook/role/__init__.py` where tasks/vars are loaded.

Maybe in
https://github.com/ansible/ansible/blob/2fff690caab6a1c6a81973f704be3fbd0bde2c2f/lib/ansible/playbook/role/__init__.py#L220
something like
[code]

Integration tests are prefered.

[2017-04-19 19:12] snoby opened #23762 "localhost in multiple groups gets all variables in each group. How can I limit this?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
localhost and variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running on MacOS Sierra managing kubernetes cluster via kubectl

##### SUMMARY
So I use ansible to send jobs to my k8s cluster via the kubectl command on my local machine.  I have my inventory file setup so that each cluster is it's own

[2017-04-19 19:26] cmarasescu commented on #23700
I went to the servers and I've run:
chkconfig --list service1.

[2017-04-19 19:26] rajashekhar1121 commented on #23749
The same error I came across after using URI module also

[2017-04-19 19:27] snowsky commented on #23757
I can download the file from S3 bucket.

[2017-04-19 19:31] snowsky commented on #23759
What I got on 2.3 is:
[code]

[2017-04-19 19:32] sivel commented on #23762
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-19 19:32] #23762 closed, assigned to nobody

[2017-04-19 19:34] bcoca commented on #23700
From play output, Ansible seems to detect the service as already disabled, can you run with ANSIBLE_DEBUG=1 and copy the logs of what Ansible executes on the target?

[2017-04-19 19:38] cmarasescu commented on #23700
Currently I dont have acces to the servers, I'll provide you the logs in aprox 12 hours. Thanks!

[2017-04-19 19:39] snoby commented on #23762
@sivel  - so it's not a bug that variables defined in one group are available in another group?

[2017-04-19 19:44] snowsky commented on #23759
It stuck at getting when's value which is empty.

[2017-04-19 19:44] s-hertel commented on #23757
Thanks for opening issue @JulienChampseix. It looks like a [boto problem](https://github.com/boto/boto/issues/2741). This should be fixed by #21529 which will support Sigv4.

[2017-04-19 19:49] Codelica commented on #23594
Sorry I posted and ran on this one.  Should have waited until I was clear of a few things. :)

Anyway, It's entirely possible I don't understand how a "run_once" w/ "delegate_to" **should** function, but this only popped up after my 2.3.0.0 update.  I'm assuming that as long as at least one host is valid (not skipped) that the task will run once and be delegated to the specified host.   Just looki

[2017-04-19 19:55] retrospectacus opened #23764 "`raw` always warns "raw module does not support the environment keyword""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

Using the `raw` command always produces this warning.
Applying this patch informs us that env is `[{}]` (empty-ish but still truthy)
[code]

##### STEPS TO REPRODUCE

Any playbook or role using the raw plugin.

[code]

##### EXPECTED R

[2017-04-19 19:55] sivel commented on #23762
In your example `localhost` is in all groups.  As variables and hosts are concerned, group variables are merged down onto the hosts themselves for the groups they are in.  So localhost, gets all of the vars from all the groups it is part of.

From the documentation at http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data

[2017-04-19 19:56] s-hertel commented on #23704
@russormes Hi, this looks like a duplicate of #22552 so I'm going to close this, but please add to the conversation on that PR if you would like to. This is a daunting task (that would then need maintenance after completion as well) although PRs to enhance the documentation are very welcome.

[2017-04-19 19:56] #23704 closed, assigned to nobody

[2017-04-19 19:57] snowsky commented on #23753
Looks like the function get_mount_facts timed out.

[2017-04-19 19:57] sivel commented on #23764
cc @bcoca

[2017-04-19 19:58] snoby commented on #23762
So this nice guy on StackOverflow provided a work around:
http://stackoverflow.com/questions/43504595/ansible-variables-shared-with-multiple-groups-if-inventory-is-only-localhost
I had actually posted twice over the span of a month to the google group and had posted in the IRC room a couple of times.  Github was my last official ansible resource I could go to...

[2017-04-19 19:58] bjornicus opened #23765 "azure_rm_virtualmachine appending tags does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
I think this is NA but I'm running it on Linux ubuntu-xenial 4.4.0-71-generic

##### SUMMARY
the azure_rm_virtualmachine module
https://docs.ansible.com/ansible/azure_rm_virtualmachine_module.html
has documented a `append_tags` parameter, which should append tags if set

[2017-04-19 20:05] snowsky commented on #23753
Or probably it failed to run lsblk command. Could you run this command manually on the host?
[code]

[2017-04-19 20:12] russormes commented on #23704
Ahh, I didn't find that when I was looking. Thanks, I will join the discussion there.

Regards

[2017-04-19 20:17] npazo opened #23766 "wait_for_connection Not Utilizing group_vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Run inside an Alpine Linux Docker container with OS X as the host machine

##### SUMMARY

`wait_for_connection` does not appear to use `group_vars` settings. In this case it doesn't seem to be using `ansible_ssh_common_args:` to properly uti

[2017-04-19 20:24] pspravin opened #23767 "Issue in connecting to VM via ansible host file"
##### ISSUE TYPE

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-19 20:40] antoniobeyah commented on #23759
@snowsky Run it like: `ansible-playbook -i localhost, site.yml -e global_region=us-west-2 -e region=us-east-1 -vvvv`

[2017-04-19 20:41] MartinNowack commented on #23731
@gundalow The patch got slightly bigger to be compatible to python2 and parsing unicode.

[2017-04-19 20:42] snowsky commented on #23753
It is a bug. The root cause is the variable from ansible.cfg didn't take effect, but the variable from command can:
[code]

[2017-04-19 20:55] snowsky commented on #23753
https://github.com/ansible/ansible/issues/17316

[2017-04-19 20:57] hogarthj commented on #22572
Thanks guys, I'm backporting the merged patch to the Fedora/EPEL builds now so that we can get 2.3.0 out the door asap

[2017-04-19 21:15] targuan opened #23770 "Connection from net_cli should wait for prompt even on error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When an error is detected while configuration lines are sent, the module immediately exit without waiting for the prompt to appear in the output.
If ignore_error is used on the failing task, the connection is left "dirty", potentially wit

[2017-04-19 21:18] snowsky commented on #23759
@antoniobeyah that is the same command I run.

[2017-04-19 21:24] antoniobeyah commented on #23759
@snowsky Thats super odd, I just tested against 2.3 and it has the same problem.  Can you post your full debug log output?

[code]

[2017-04-19 21:28] targuan opened #23771 "ios_config can have % in output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Some configuration commands output general information with lines prefixed by %.
This shouldn't be considered as configuration error, but may be return as variable or displayed as warning.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED

[2017-04-19 21:52] jbscare opened #23772 "group_by_aws_account prints IP addresses, not hostnames"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

In ec2.ini:

[code]

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

When you run ec2.py, with the configuration described above (which is intended/expected to use the 'Name' tag as the hostname), ec2.py creates a group with our account ID, l

[2017-04-19 21:57] Codelica commented on #22673
I'd like to see this as well.  We have several held packages that seem to keep Aptitude from being able to resolve and perform an upgrade .  Yet apt-get upgrade correctly ignores them, resolves, and upgrades properly.

[2017-04-19 22:06] sramakr commented on #23507
Sure. Haven't contributed before , I can definitely work on this.
Thanks @s-hertel

[2017-04-19 22:30] pspravin commented on #23767
I was able to resolve the issue, thanks!

[2017-04-19 22:58] smikulcik opened #23774 "wait_for_connection fails for nodes behind bastion"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[code]

ssh_config
[code]

##### OS / ENVIRONMENT

from macOS Sierra 10.12.3
managing ubuntu 14.04

This should not be platform specific though

##### SUMMARY

wait_for_connection currently uses the transport_test method the connection script (ssh.py, paramiko_ss

[2017-04-19 23:37] rajashekhar1121 commented on #23749
not a bug

[2017-04-19 23:37] #23749 closed, assigned to nobody

[2017-04-20 00:04] shadycuz commented on #20653
Same issue here
[code]
and
[code]
Task looks like
[code]
Error
[code]

This happens even if I run it twice.

Works fine from cmd line.

The fix for me was removing the ssh:// prefix from the gitlab url.

[2017-04-20 01:03] Chugajstyr commented on #17932
Still not fixed.

OS - Linux Mint 18.1 "Serena" (Ubuntu 16.04 based)
ansible  2.3.0.0.

`~/Документи/1 $ ansible -i test -m setup all -vvvv
Traceback (most recent call last):
  File "/usr/bin/ansible", line 43, in <module>
    import ansible.constants as C
  File "/usr/lib/python2.7/dist-packages/ansible/constants.py", line 200, in <module>
    DEFAULT_ROLES_PATH        = get_config(p, DEFAULTS, '

[2017-04-20 01:34] jondoig opened #23777 "YAML block indentation indicator not working in Ansible 2.3.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Block indentation indicator

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

YAML block indentation indicator not working.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Add a block with 4 space indent (6 for "nokeepalive ..." and the next line).

##### ACTUAL RESULTS

Instead

[2017-04-20 01:51] varmil commented on #23679
Thank you for reply.
Sorry, I have not tried the example yet. However, I understand I have to use `failed_when` if the return code is non-zero but the task is success. I'll try it within a few days.

`- raw: cd /some/path | git operation`
I use pipe because it is Powershell script. In Powershell, sadly `&&` doesn't work. Pipe is a alternative, but is not best choice, I know.

[2017-04-20 02:41] geerlingguy commented on #23530
I'm starting to see this creeping in from a lot of different places actually—I've been getting some error reports in certain environments where playbooks were working great and all the sudden are not, and I just experienced it in some of my Travis CI builds, where I'm getting `The error was: 'ansible_user' is undefined`.

See some excellent sleuthing by @oxyc here: https://github.com/geerlingguy/d

[2017-04-20 02:53] geerlingguy commented on #23530
Additionally, if I pass something like `-u username` it still gives me the error :/

[2017-04-20 02:57] danielgriggs opened #23779 "Jinja2 templates unable to import more than one file in Ansible 2.3.0."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template module import statement

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No additional configuration or modules.

##### OS / ENVIRONMENT
macOS, Ansible installed from brew.

##### SUMMARY
In Ansible 2.2.1 importing more than one file with macros worked fine for jinja2 templated files.
After upgrading to Ansible 2.3.0 it no longer work

[2017-04-20 03:58] sonjz commented on #15350
Agreed... in this simple example with wp_cli, when trying to code a user "upsert" I run into this less than desired result.

I followed the pattern of run command to test conditional, register result, use when to execute conditionals, but there is a lot of unnecessary red output for each user processed.

[code]

![2017-04-19 23_50_56-root ansible_ _www_blogwp-qa](https://cloud.githubusercontent.co

[2017-04-20 05:14] Akasurde commented on #23767
@pspravin Can you please add debugging steps for posterity?

[2017-04-20 05:47] stylersnico opened #23784 "Use MECP for WinRM for Ansible"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

examples/scripts/ConfigureRemotingForAnsible.ps1

See https://github.com/ansible/ansible/pull/23684

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

 - Windows environment

##### SUMMARY

 I think that this is a good idea to use the new Microsoft Enhanced Cryptographic Provider v1.0 with ECDSA keys for this script I don't know how to d

[2017-04-20 06:28] yanivrefael opened #23785 "raw does not work on windows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
raw module

##### ANSIBLE VERSION
2.3

##### CONFIGURATION
windows server 2012 R2

##### OS / ENVIRONMENT
windows server 2012 R2

##### SUMMARY
Execute raw command on windows

##### STEPS TO REPRODUCE
Execute raw command on windows fail since I upgraded the ansible to 2.3

[code]

[2017-04-20 06:39] cmarasescu commented on #23700
I've run the playbook using ANSIBLE_DEBUG=1.
It seems that the SERVICE module wrongly chooses "insserv" to disable the service, instead of "chkconfig".
I've also run the playbook against a remote RHEL 6 server and it uses chkconfig to disable the service.
Here are the logs from my remote SLES 11 server:

Apr 20 08:31:19 sasqpix0 sshd[32223]: Accepted publickey for test_user from 192.168.1.10 port

[2017-04-20 07:30] cmarasescu commented on #23700
I've further checked and I've noticed that there are 2 problems with the command invoked by ansible:
1. insserv -nr service1 =>returns error
Accepted command: insserv -n -r service1
2. The "-n" means dry run, no real actions are performed. The "-n" parameter should be removed.
Complete manual for insserv can be found at http://manpages.ubuntu.com/manpages/xenial/en/man8/insserv.8.html

Moreover, I

[2017-04-20 08:11] evrardjp commented on #23530
@geerlingguy we started to move to ansible_user_id

[2017-04-20 08:11] dimitrijer opened #23786 "lineinfile with state=absent will delete all lines matching regexp"
##### ISSUE TYPE
 - Documentation Report

Note: I'm not sure whether this is desired behavior or a bug. Depending on this, this is a documentation report or a bug report.

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
fact_caching enabled:
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
lineinfile module deletes *all* matching lines when `regexp` and `state=a

[2017-04-20 08:14] nerzhul commented on #23750
The upper PR should do the trick, can you test it ?

[2017-04-20 08:15] absolutejam commented on #20135
Is there any way around this? I'm in an awkward situation, wherein I need to use a dynamic inventory to find my hosts, but I have some static groups defined that are used to build a config file.

If I **do not** explicitly specify the dynamic inventory directly, it detects all of the groups in my multiple inventory files under `/etc/ansible/inventory`, but then cannot connect to my server as it do

[2017-04-20 09:05] nicolas-san commented on #23689
as @laschlo I have applied the change and it's ok, thank you !
For the record under ubuntu 16.10 the file is here :
    /usr/lib/python2.7/dist-packages/ansible/plugins/connection

[2017-04-20 09:06] dagwieers commented on #23766
The current implementation first does a TCP tests, and this test obviously does not take into account a bastion server, it expects a direct connection. I guess we need to rethink the transport_test for SSH to support the various use-cases/setups. A simple fix could be to remove the TCP test from the transport, so that it only does an end-to-end module test.

[2017-04-20 09:09] trishnaguha opened #23788 "authorize to yes should enter privileged mode eos_banner"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_banner
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora 25 Workstation

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should enter priveleged mode and returns list
```['banner login', 'this is my login banner', 'that contains a multiline', 'string', 'EOF']```
##### ACTUAL RESULTS
Verbose Output
[code]

[2017-04-20 09:17] dagwieers commented on #23679
A pipe in powershell is not the same as '&&' in cmd.exe.

You probably want to do something like this:
[code]

However, I do think using the chdir-argument to **raw** is probably better. In this case I also do not see why you would be using **raw** specifically, and I would opt to use **win_shell** instead.

[code]

And I would expect **git** to use non-zero return code for errors, and a zero-retu

[2017-04-20 09:23] anavarre commented on #22397
I'm also a bit confused by this. I understand we can now do `myvar` instead of `"{{ myvar }}"` or `{{ myvar }}` but there are certain uses cases where this still isn't enough. E.g.

[code]

^ This will NOT return the current date (YYYY-MM-DD). In this instance I have no way to use anything else but the jinja2 delimiters.

Another use case is, e.g.

[code]
I have no way to simply do `user:apache_us

[2017-04-20 09:35] dagwieers commented on #15350
@marciomazza So since your task is testing something, why don't you add `failed_when: no` and test for the `rc`-value in the next task ? Your task is testing something, so a negative return code is not a task-failure, it is data you want to use in a subsequent task. The existence of `ignore_errors:` is not only a misnomer (should have been called "ignore_failed" instead), it is also a left-over of

[2017-04-20 09:46] hoall commented on #23696
Sorry I'm not in the office the next days. Got sick and have to stay in bed.

Am 19.04.2017 6:40 nachm. schrieb "Toshio Kuratomi" <
notifications@github.com>:

[2017-04-20 10:30] Akasurde commented on #23786
I think this is working as per documentation

[code]

[2017-04-20 10:34] RRTUKADIYA commented on #6957
**ImportError: No module named pkg_resources:** the solution is to reinstall python pip using the following  Command are under.

**Step: 1** Login in root user.

    sudo su root
**Step: 2** Uninstall python-pip package if existing.

    apt-get purge -y python-pip
**Step: 3** Download files using wget command(File download in `pwd` )

    wget https://bootstrap.pypa.io/get-pip.py
**Step: 4** Run

[2017-04-20 10:45] fdutheil commented on #23750
Tested successfully. Thank you.

[2017-04-20 10:45] #23750 closed, assigned to nobody

[2017-04-20 10:46] nerzhul commented on #23750
and it's merged, nice, thanks :)

[2017-04-20 10:48] dimitrijer commented on #23786
I was confused by `the` part:

Think it would be clearer if it read:

[2017-04-20 11:00] liuzm7188 opened #23799 "Ansible shell/command/script module cannot restart openstack-nova-compute on a SLES 12 server"
#### ISSUE TYPE
 - Bug Report

#### COMPONENT NAME
 shell command and script

#### ANSIBLE VERSION

ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

#### CONFIGURATION
[code]

#### OS / ENVIRONMENT
SUSE Linux Enterprise Server 12 SP1

I'm trying to  restart openstack-nova-compute on several SLES 12 server, but it only stop without st

[2017-04-20 11:43] Frederick888 opened #23800 "Cannot download deb package via apt: 'NoneType' object has no attribute 'read'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`apt`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Arch Linux (Client) / Ubuntu 16.04 (Server)

##### SUMMARY
Cannot download deb and install via apt module

##### STEPS TO REPRODUCE
Run the following task

[code]

##### EXPECTED RESULTS
Ansible could install deb after downloading it.

##### ACTUAL RESULTS
It

[2017-04-20 11:55] MichalTaratuta commented on #23522
This should be a bug and a feature_idea. The check for this module doesn't check is the vswitch and port exist it just checks is the vswitch exist. Would be great if this can be prioritised, becasue of this problem I need to hack around with esxcli which is not nice.

[2017-04-20 12:27] cheGGo commented on #23143
Indeed. Please leave all available versions on PPA for possible downgrade on a specific distri.
Just today we have to downgrade from 2.3.0.0 to 2.2.1.0 due to a bug on 2.3.0.0 which breaks our deployment.

[2017-04-20 12:28] spikerobinson opened #23801 "Clarification of role ./vars/main.yml required structure and permitted options"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
**role** component `vars/main.yml`
**docsite** page http://docs.ansible.com/ansible/playbooks_roles.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Out of the box.

##### OS / ENVIRONMENT
N/A - documentation

##### SUMMARY
There does not appear to be a description in the docsite of the permitted syntax of a `./vars/main.yml`

[2017-04-20 12:36] npazo commented on #23766
(It looks like someone opened a similar issue and with a PR #23774)

It sounds like this is working as designed so I suppose this is more a feature request than a bug. I misinterpreted the documentation where it says `This module makes use of internal ansible transport (and configuration)` to mean that it would somehow utilize these settings.

[2017-04-20 12:41] dagwieers commented on #23766
@npazo Well, as the author I consider this a bug ! :-)

[2017-04-20 13:19] jhawkesworth commented on #23785
Please provide an example minimal playbook,  inventory and group vars to reproduce this.
Also please advise which OS you are running ansible on

needs_info

[2017-04-20 13:57] ITler opened #23806 "included tasks and roles only get argument values as string type?"
##### ISSUE TYPE

 - Bug Report (maybe, not sure)

##### COMPONENT NAME
`include` (for tasks)
`include_role`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When including tasks (`include`) or roles (`include_role`), passed non-string arguments (like int) are converted to string type in include target. However this behavior seems to be inconsist

[2017-04-20 13:57] sw360cab commented on #14593
like @vkruoso and me and all others asked. Is there any step forward on this issue?
Someone is caring? Any update (maybe changes at ec2.py)?
Can it be reporduced? Are we wrong on the topic?

I just updated Ansible (Mac OS 10.11) and still get this same old issue when creating EC2 instances.

Can someone at least answer, or the Ansible project is not going forward on the AWS side, so we better move

[2017-04-20 14:00] eerorika commented on #23733
It seems to me that this could be the same bug I reported earlier on 2.2: https://github.com/ansible/ansible/issues/23379

[2017-04-20 14:05] s-hertel commented on #23507
@sramakr Cool, that would be great. Feel free to ping me on the PR if you make one and I'll review.

[2017-04-20 14:11] gundalow commented on #23788
FYI there are integration tests for this https://github.com/ansible/ansible/tree/devel/test/integration/targets/eos_banner/tests
[code]

[2017-04-20 14:12] s-hertel commented on #16722
needs_info
@minac

[2017-04-20 14:16] JulienChampseix commented on #23757
@s-hertel thanks for your feedback. I overwrote my modules/cloud/amazon/s3.py from https://raw.githubusercontent.com/s-hertel/ansible/7cfbd233e672b06489c818e77b94ac17fddf8e1f/lib/ansible/modules/cloud/amazon/s3.py

After i did this change, s3 download file is now working fine for frankfurt location

[2017-04-20 14:21] s-hertel commented on #16722
Closing this since I believe using purge_listeners: False will fix your problem (as it defaults to true). Please reopen this if I have made a mistake.

[2017-04-20 14:21] #16722 closed, assigned to nobody

[2017-04-20 14:24] abadger commented on #23754
The host file for multiple logical hosts accessed via the same ip should look like this:

[code]

The first field is a name for the host.  It must be unique.  Using ansible_host allows you to then map the name to the ip or dns address that you wish.

If you need more help on this, please reach out on the IRC channel or mailing list.  I'll paste the information on those below

List Information
====

[2017-04-20 14:24] #23754 closed, assigned to nobody

[2017-04-20 14:25] calfonso commented on #23551
@lukerussell do you have steps on how to reproduce this issue, along with additional debug log level?

[2017-04-20 14:28] Wenzel opened #23809 "win_shell module raises OutOfMemoryException"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_shell`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

`Fedora 23` to provision `Windows 7` via `winrm`

##### SUMMARY

the `win_shell` module raises an `System.OutOfMemoryException`, while using the `raw` module, it works perfectly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

IE is downloaded on t

[2017-04-20 14:28] bcoca commented on #16722
FYI, `with_` executes the task once per item, this is why the 'last one wins' unless you do as @s-hertel suggests and avoid purging existing listeners.

Your other option is to just enumerate the listeners in the task.
[code]

[2017-04-20 14:29] s-hertel commented on #15080
Closing because I believe changing the syntax to what I have suggested above will fix your problem. Please reopen this if I have made a mistake.

[2017-04-20 14:29] #15080 closed, assigned to nobody

[2017-04-20 14:35] calfonso commented on #23253
@privateip feedback, no way to do this with current architecture

[2017-04-20 14:42] machacekondra commented on #18650
resolved_by_pr 18666
this can be closed

[2017-04-20 14:44] alikins commented on #23733
(repo expanded for reference)

ansible.cfg
[code]

bug.yml
[code]

roles/master/meta/main.yml
[code]

roles/master/tasks/main.yml
[code]

roles/dep*/tasks/main.yml
[code]

[2017-04-20 14:47] sxpert opened #23810 "module/documentation mismatch in systemd module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

The documentation of the systemd module states that one should be able to do :
[code]

yet, when one does this, the following error occurs :
[code]
so, which one is it ?

[2017-04-20 14:52] gundalow commented on #22825
Docs fix needs backporting to 2.3 & 2.2

[2017-04-20 14:54] calfonso commented on #22725
duplicate_of #23502

[2017-04-20 14:54] calfonso commented on #22409
@skg-net Did you get around to creating a PR for this issue?

[2017-04-20 14:58] #23729 closed, assigned to nobody

[2017-04-20 14:59] calfonso commented on #22233
This should be fixed with the 2.3 release, can you please verify and close the issue if it's fixed. If it's not please let us know.

needs_info

[2017-04-20 14:59] #22725 closed, assigned to nobody

[2017-04-20 15:00] calfonso commented on #22098
needs_contributor Looking for the community to assist with this. Happy to help direct and assist.

[2017-04-20 15:04] spikerobinson commented on #23801
By the way I would submit a doc patch myself but I read the guidelines on the docsite github and I have accepted the advice to submit the request here rather than learning Sphinx reFactor! :-)

[2017-04-20 15:06] b4ldr opened #23813 "puppet module execute parameter ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/system/puppet.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS=1
ANSIBLE_SSH_PIPLINEING=1

##### OS / ENVIRONMENT
mac osx 10.12.3

##### SUMMARY
when using the puppet module execute function a full `puppet agent -t` run is preformed instead

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
runs the following c

[2017-04-20 15:17] Infiniverse opened #23815 "add_host not running over all hosts in a given group."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

add_host

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Darwin joe.domain_not_set.invalid 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

##### SUMMARY

I want `add_host` to add a dynamic host associated with each of the hosts in the inventory that the playbook is running

[2017-04-20 15:18] Infiniverse commented on #23815
The problem also occurs in 2.4.0.0

[2017-04-20 15:23] sivel commented on #23815
This is expected.  `add_host`  is most commonly used in conjunction with a `with_` style loop and is referred to as a host list bypass plugin.

This means that `add_host` will not execute for every host targeted by a playbook. Instead `add_host` will only execute on the first host in the hosts list as defined by inventory.

For instances where you need to dynamically add all hosts targeted by a pl

[2017-04-20 15:23] #23815 closed, assigned to nobody

[2017-04-20 15:28] JanKoppe opened #23816 "Handling bug in libgcrypt that affects passwordstore plugin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

passwordstore lookup plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch Linux, libgcrypt 1.7.6, gpg 2.1.20, pass 1.7.1

##### SUMMARY

libgcrypt seems to have a bug in the secmem implementation which is triggered by multiple parallel requests to the gpg-agent. When using the passwordstore plugin in a playbo

[2017-04-20 15:40] IngussNeilands commented on #20508
ansible inventory
[code]
ansible.cfg
[code]

test.yml
[code]

[dot]cache dir contents
[code]

last working version:

[2017-04-20 15:41] pspravin commented on #23767
@Akasurde - I had to add ansible_user=<VM username> to the inventory host file.

[2017-04-20 15:41] #23767 closed, assigned to nobody

[2017-04-20 15:43] sleif commented on #15013
same on Fedora 25 (ansible 2.2)

[2017-04-20 15:44] #17382 closed, assigned to nobody

[2017-04-20 15:53] abadger commented on #23753
I believe @i1caro 's initial analysis is correct and this is a new bug.  Looking for a fix now.

[2017-04-20 15:58] trishnaguha commented on #23788
It could be an issue with failure to read the prompt from the CLI, but in that case the error message should be more specific.

[2017-04-20 16:14] Qalthos commented on #23788
So I can't reproduce the issue at all. On latest devel, every test I've run handles multiline banners just fine, including the playbook in the issue.

[2017-04-20 16:31] kwoodson opened #23820 "RFE: with_when for loop conditionals instead of when"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Task

##### ANSIBLE VERSION
Future ansible versions.

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Linux but any would suffice.

##### SUMMARY / Proposal

Add a `with_when` statement to handle conditional logic when performing loops.  This would separate out the `when` logic that is used to include a role, task, or playbook.

We have run i

[2017-04-20 16:43] s-hertel commented on #23757
Great! :)

[2017-04-20 16:50] oboukili commented on #20033
My current experience with this issue is that it only happens during the intial iptables rules setup.
My workaround is to launch a shell command asynchronously:

[code]

This way Ansible will not ever wait for a task acknowledgment that is never coming.

[2017-04-20 16:50] Infiniverse commented on #23815
That makes sense - I really appreciate your time explaining this. Many thanks!

[2017-04-20 17:02] merlin-tc opened #23822 "pywinrm warnings if ansible_winrm_kinit_mode=manual is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
winrm / kerberos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
added option ansible_winrm_kinit_mode=manual to as variable since we use kinit outside ansible.

##### OS / ENVIRONMENT
Gentoo Linux
pywinrm-0.2.2
requests-kerberos-0.11.0

##### SUMMARY
Since the update to ansible 2.3 kerberos doesn't work anymore if there already is a kerbero

[2017-04-20 17:10] dgillman commented on #13262
+1

This is a no-brainer. It would make so many things in ansible more concise. I am frequently running into scenarios where I have to copy/paste plays to make the exact same tasks work with a different group from the inventory.

One caveat: as @DebianRoxx pointed out above, there would need to be a different variable for each layer of looping. If tasks within a block use with_items, and the block

[2017-04-20 17:12] tlvu commented on #15753
For the next person looking for work-aroudn, I found a work-around for my use case and documented it in the thread on the list above.

[2017-04-20 17:19] DavorSaric commented on #20033
This is something kernel related I would say - test it on rackspace vps, you get connection breaking. On linode it doesn't brake. The second provider has their own kernel to boot and lsmod is empty so who knows, maybe some module needs to be loaded for that...

[2017-04-20 17:28] Qalthos commented on #23788
Ah, I see. The issue is that there is not a default value for `transport` in eos. The module_utils only checks if transport is 'eapi' to set the connection, and eos_banner only checks if transport is 'cli' to determine how to interpret responses from the machine. Thus, if `transport` is unspecified, it gets a cli connection (transport is not eapi) and tries to interpret the commands as if it were

[2017-04-20 17:36] DavorSaric commented on #20033
This is something kernel related I would say - test it on rackspace vps, you get connection breaking. On linode it doesn't brake. The second provider has their own kernel to boot and lsmod is empty so who knows, maybe some module needs to be loaded for that...

[2017-04-20 17:43] ichundu opened #23823 "Cannot search for "string" in command result when using variable arrays/hashes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

N/A

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm trying to run a command on the remote host:
[code]
and register the result. John user parameters are declared in a variable array:
[code]
I use the variable as follows in the command module:
[code]
And then I try to search for a string

[2017-04-20 17:52] shepdelacreme opened #23825 "ec2_vpc_dhcp_options_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_dhcp_options_facts

##### ANSIBLE VERSION

[code]
Also occurs with older versions.

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS 10.12.4

##### SUMMARY

When gathering facts about DHCP option sets in AWS EC2 VPC the module will fail if an option set has had no tags applied to it. i.e. The default option set will cause this module

[2017-04-20 18:07] abadger commented on #23753
@i1caro Please give https://github.com/ansible/ansible/pull/23826 a try.  I think I fixed the issue and added a unittest that should cover your case to keep it from regressing.

[2017-04-20 18:25] wltjr commented on #21918
I think this can be closed now?

[2017-04-20 18:26] wltjr commented on #21928
Anything else that needs to be done here? Should it remain open or be closed?

[2017-04-20 18:27] wltjr commented on #21735
I am going to close this as it has been fixed in 2.3. Anyone running into this should upgrade to 2.3 or newer.

[2017-04-20 18:27] #21735 closed, assigned to bcoca

[2017-04-20 18:36] Qalthos opened #23827 "EOS cli transport ignores port"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

At some point (3537b247429a94c838eefc2f5cc3ba3448d61913?) during the persistent connection rewrite, EOS lost the ability to have port specified from the playbook. While it is still possible to control this from the command line and the default value of 22 works in m