[2018-04-11 07:12] willthames commented on #38564
Certainly that's what the docs suggest should happen, you're right.

This is definitely a bug - providing `Port` will offer a workaround until it's fixed, but we should restore 2.4.1 behaviour. Thanks for clarifying the version.

[2018-04-11 07:44] gdpak commented on #38563
This looks like a documentation issue. As per 2.5 code, if ios_config with 'backup' is executed within role, then backups are written at role path rather ansible root directory. I checked other module *_config and it seems to be the same behaviour.

[2018-04-11 07:56] scaronni commented on #35459
Hello, sorry for writing here, but I don't know where to.

So this is what happens when I have a `when` or a `loop` with an `include_tasks`. But if I don't have anything like that, tasks still inherit the tags with `include_tasks`.

[2018-04-11 08:07] naggie commented on #29589
I think it's an order of magnitude faster than it was, but still slow if you're copying a lot of files such as a git repository or python virtualenv. I suppose this is because of all the checking it does on each file, which may not be pipelined.

[2018-04-11 08:09] plup commented on #12686
`ansible_become_exe="sudo su -"` workaround works in ansible 2.4.
Thank you guys !

[2018-04-11 08:11] rcarrillocruz commented on #31176
https://github.com/ansible-network/network-image-builder

[2018-04-11 08:11] #31176 closed, assigned to rcarrillocruz

[2018-04-11 08:13] Jeff00029 commented on #38338
@caphrim007 I have new, I installed the python module suds :+1:

[2018-04-11 08:15] Jeff00029 commented on #38338
[root@152101lmof F5_playbooks]#  sudo pip install suds --proxy http://proxy-web.cnamts.fr:3128
Collecting suds
  Using cached suds-0.4.tar.gz
Installing collected packages: suds
  Running setup.py install for suds ... done

[2018-04-11 08:21] rcarrillocruz opened #38580 "[PER_CONN] Refactor persistent connections to use config manager"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

connection/persistent

##### SUMMARY

Refactor persistent connections to handle options by using config manager instead of pulling from play_context.

[2018-04-11 09:05] barlik commented on #38562
@sivel Thank you. I was not aware of the mailing list, should have checked.

[2018-04-11 09:14] King-Tung-Chan opened #38581 "bigip_ssl_key module - unsupported parameters (Ansible 2.5)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_ssl_key module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
bigip_ssl_key is used to import ssl key in Ansible 2.5. Firstly, bigip_ssl_certificate module is used to import Public Key Successfully to target F5 LTM.

However, when bigip_ssl-key is run, error msg of unsupported parame

[2018-04-11 09:28] ravindranathakila commented on #20492
Please re-open this issue.

[2018-04-11 09:35] antoinetran commented on #20492
@jpiron do you have an updated status related to this?

[2018-04-11 09:40] bishwajitsamanta1689 commented on #38576
Any suggestion , i can do through ansible script ..

[2018-04-11 10:03] #37305 closed, assigned to trishnaguha

[2018-04-11 10:13] Akhiles7 commented on #14022
@paulcalabro

Adding /bin/sh for your user to /etc/sudoers file actually doing your user root, as you can create any *sh file with ANYTHING you want and run it as your user like 'sudo sh mysuperfile.sh'. Nothing stops you (or any1 who can login by this user on your system) to corrupt all the system by user that "seems to be not root"...

I ended up to using shell instead of module...

[code]
While

[2018-04-11 10:18] Jeff00029 commented on #38338
@caphrim007 Ok it work now.

Thanks a lot for your help

[2018-04-11 10:18] #38338 closed, assigned to nobody

[2018-04-11 11:10] quater commented on #20958
I believe this feature logically belongs to the file module rather than it being a separate module on its own. While a year has past, I hope @bcoca may see it the same now?

It would be great if we can securely delete files and directories with Ansible. However, @tstone2077, this should only be optional since shred is much slower than a regular delete, is in the majority of cases not required and

[2018-04-11 11:16] khelkun commented on #23575
ihmo this is due to the missing quotes around '--out-format=\<\<CHANGED\>\>%i %n%L' as stated by @philfry at the top of the issue.
I try to use synchronise module without any options like this:
[code]
And the rsync command hangs. I did copy/paste it from the linux 'ps' command output:
`/usr/bin/rsync --delay-updates -F --compress --delete-after --archive --rsh=/usr/bin/ssh -S none -o StrictHostKey

[2018-04-11 11:34] Akasurde commented on #38576
Hi @bishwajitsamanta1689 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.

[2018-04-11 11:34] #38576 closed, assigned to nobody

[2018-04-11 12:04] rvalkenaers commented on #36939
+1

[2018-04-11 12:37] macampo commented on #38232
We encounter the same bug. I updated our win_updates.py with your changes and the error we got back now has changed to:
{
    "msg": "Unexpected failure during module execution.",
    "exception": "Traceback (most recent call last):\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\", line 138, in run\n    res = self._execute()\n  File \"/usr/lib/python2.7/site-packages/

[2018-04-11 12:46] ssbarnea commented on #18140
The mentioned workaround no longer works, doing a `include`, or `import_tasks` inside handlers will not save you from getting the error about missing handlers. This happens even with `ansible 2.4.3.0`.

[2018-04-11 12:48] plup commented on #5339
I have the same issue in 2.4.2.0 with `get_url` a `/tmp/tmpXXXXX` is created at download and stay after. Playing with `force` parameter doesn't chabge anything.

[2018-04-11 12:53] vkakhnych commented on #5339
Just upgrade to the last version - 2.5.0. There are no this issue.

[2018-04-11 13:01] jhawkesworth commented on #20958
@quater , @Alexander198961 I suggest raising this at an ansible core team meeting - see https://github.com/ansible/community/tree/master/meetings

I am still -1 having shred in the `file` module, but have no objection to a separate shred module.  Shred is an edge case whereas file is very generally applicable, `file` shouldn't be forced to carry around code that is rarely invoked.

[2018-04-11 13:28] plup commented on #5339
Problem is fixed in `2.5.0`

[2018-04-11 13:53] bcoca commented on #38525
that is because `loop` always requires a list, you probably want `lookup('dict2items', boo|default({}))`

[2018-04-11 13:54] calfonso commented on #38420
Adding this to our feature idea list. There is a workaround by using the ios_config module and enter the command as one long line.

[2018-04-11 14:00] gundalow opened #38591 "ios_config: Error if `#macro` is specified"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### SUMMARY

Following on from https://github.com/ansible/ansible/issues/38420

`ios_config` should detect if one of the `lines:` starts with `#macro` and fail the task with a message stating the macros are not supported. The work around is detailed in https://github.com/ansible

[2018-04-11 14:01] #38321 closed, assigned to nobody

[2018-04-11 14:02] gundalow commented on #38420
I've raised https://github.com/ansible/ansible/issues/38591 to track giving an error message

[2018-04-11 14:07] Akhiles7 commented on #38474
@jborean93

Thank you for spending your time. Upgrading pywinrm to 0.3.0 (only it and few packages as requirements, we haven't upgraded Ansible itself) resolved our issue with sending 20Mb file, will also test bigger files, but I guess it should be ok.

[2018-04-11 14:10] trishnaguha commented on #38559
@dagwieers What happens when you execute the command manually on the device?
I think this because lack of support of the command for vlan interface.
I am using NX-OS 9K and 7K. Both doesn't support switchport in vlan interface config.

[2018-04-11 14:13] sivel commented on #38573
Potential duplicate of https://github.com/ansible/ansible/issues/35356

[2018-04-11 14:14] #38565 closed, assigned to trishnaguha

[2018-04-11 14:29] mprahlkamps commented on #38466
@Akasurde I can check the PR at the latest on friday. Thank you!

I get exactly the same error when specifying a hostname. But I can double check this on Friday as well.

[2018-04-11 14:32] drewmullen opened #38592 "templated vars_files name not evaluating when job executed by cron"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vars_files

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY

my playbook calls for a vars_files based on a lookup function. this allows me to run the same playbook and have my vars selected based on the domain of the ansible server (we maintain a diff ansible server per env). Ansible is not able

[2018-04-11 14:38] caphrim007 commented on #38575
@nzeder this appear to be a valid bug. I've opened an issue for it on F5's tracker. It can be found here

https://github.com/F5Networks/f5-ansible/issues/704

closing this copy of the bug in the meantime

[2018-04-11 14:38] #38575 closed, assigned to caphrim007

[2018-04-11 14:51] trishnaguha commented on #38547
This issue is fixed on `stable-2.5` branch and will be released with 2.5.1 version.

[2018-04-11 14:51] #38547 closed, assigned to trishnaguha

[2018-04-11 15:14] yaplej commented on #38420
@calfonso

Perhaps I misunderstand is there an example of this somewhere?  I have tried some variations to enter the whole thing as a single command but nothing has worked so far.

[code]

[2018-04-11 15:45] dustinblack opened #38594 "ansible parted module overwrites label and squashes existing partitions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

Given two parted plays where the first play sets a gpt label and the second play does not explicitly set this value, the second play defaults to msdos, overwriting the label and squashing the partition created by the first play.

#####

[2018-04-11 15:46] Leggggg commented on #38547
Thanks! What is the best way for me to try to find duplicate issues in the future?

[2018-04-11 15:53] #36695 closed, assigned to nobody

[2018-04-11 15:53] trishnaguha commented on #38547
@Leggggg You can search by Filters on Github. Filters accept keywords something like https://github.com/ansible/ansible/issues?utf8=%E2%9C%93&q=is%3Aissue+nxos_switchport.
Hope this helps.

[2018-04-11 15:59] mtorelli opened #38595 "aci_static_binding_to_epg module prepending "eth" to interface_type: port_channel"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aci_static_binding_to_epg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
Cisco APIC version 3.1(2m)
##### SUMMARY

In the INTERFACE_TYPE_MAPPING dictionary, for interface type port_channel, the code is prepending 'eth' to the interface parameter (i.e., the policy-

[2018-04-11 16:08] acozine opened #38597 "Correct & refine Junos platform page"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/network/user_guide/platform_junos.html

##### ANSIBLE VERSION
2.5

##### SUMMARY
Victor daCosta reported trouble enabling NETCONF for a customer on Junos OS. Reviewing the Junos platform page, we found four things to improve/fix:

- [x] replace the `junos_config` example with `junos_command` in th

[2018-04-11 16:18] prakashsurya opened #38598 "Setup module fails when running in chroot directory containing minimal Ubuntu 18.04 install"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
No changes.

##### OS / ENVIRONMENT

Running Ansible in Ubuntu 17.10 Docker container, attempting to configure local chroot directory; chroot directory contains minimal Ubuntu 18.04 installed using Debian's live-build tool.

##### SUMMARY

When running the `setup` module against

[2018-04-11 16:53] agronick opened #38599 "HAProxy with_items and async causes exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
HAProxy

##### ANSIBLE VERSION
Github devel branch cc1c7c63db77b38f7a5276f61a7f7897ce6217f4

##### CONFIGURATION
ansible-config dump --only-changed is empty

##### OS / ENVIRONMENT
Linux OpenSuse Leap 42.3

##### SUMMARY
This is the same symptom as #12254. If you use async and with_items on HAProxy, waiting for the async task to finish throws `d

[2018-04-11 17:09] #33971 closed, assigned to nobody

[2018-04-11 17:25] aguynamedjoetoo opened #38605 "[vmware_guest] Networks field is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.3
vSphere 5.5

##### SUMMARY
When running a playbook to create a VMware guest, the play will fail if the VM already exists when you specify the network field:

[code]

The first creation of the VM works just fine, but if you need to run th

[2018-04-11 17:31] irsl commented on #18095
Integers are evil!

[2018-04-11 17:45] aguynamedjoetoo opened #38606 "[vmware_guest] Cannot unattach ISO mount automatically"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.3
vSphere 5.5

##### SUMMARY
When trying to unattach a CD ROM, even using the `force: yes` option, the `vmware_guest` module will hang awaiting a response input from vSphere. This was not the case with the `vsphere_guest` module.

##### STE

[2018-04-11 17:54] dagwieers commented on #38559
@trishnaguha Correct, same for loopback interfaces. I have the code fixes and will make a PR shortly.

[2018-04-11 18:06] agronick commented on #37591
I have the same issue. This is the 4th bug I've found in the HA proxy module
1. bytes/str Python 3 issue
2. Bool object is not callable
3. async and with_sequence breaks when waiting for jid
4. this

[2018-04-11 18:10] kiorky commented on #21890
Try my fork ;)

[2018-04-11 18:19] ericdost opened #38608 "AnsibleConnectionFailure: Illegal info request from server - Error Message Issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[DEPRECATION WARNING]: DEFAULT_MODULE_SET_LOCALE option, Modules are coded to set their own locale if needed for screenscraping . This feature will be removed in version 2.9. Deprecation warnings can be
disabled by setting deprecation_warnings=False in ansible.cfg.
ANSIBLE_SSH_AR

[2018-04-11 18:31] badnetmask opened #38609 "ansible 2.5 does not understand I have a newer ovirtsdk4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_auth

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_PLUGIN_PATH(<redacted-path>/ansible.cfg) = [u'<redacted-path>/plugins/callback', u'/usr/share/ansible/
DEFAULT_CALLBACK_WHITELIST(<redacted-path>/ansible.cfg) = ['human_log']
DEFAULT_FILTER_PLUGIN_PATH(<redacted-path>/ansible.cfg) = [u'<redacted-path>/plugins/filt

[2018-04-11 18:46] #38411 closed, assigned to nobody

[2018-04-11 18:46] #38497 closed, assigned to nobody

[2018-04-11 18:47] badnetmask commented on #38609
I forgot to mention on the original report that I also checked out the devel branch, and the problem persists.

[2018-04-11 19:19] kustodian commented on #32791
It looks like the only thing we could do is search for `No space left on device` in the Yum output and if we find it, return an error about space.

[2018-04-11 19:32] AndiDog commented on #35398
As I understand this, the `delegate_to` attribute for dynamic includes (`include_*`) is simply swallowed and ignored. That's pretty annoying to debug, and probably should lead to a warning to help developers.

[2018-04-11 19:43] seifer44 opened #38634 "vmware_guest Assigns Resource Pool when Undefined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

When building a virtual machine, and a resource pool is not specified, a resource pool is associated with a newly built machine, anyway. This is undesirable.

This may be related to issue #22706.

##### STEPS TO REPRODUCE

Cr

[2018-04-11 19:47] dougthor42 commented on #38427
I ran each function 50 times in a loop. I also added the original `Get-MachineSid` function for funsies. All scripts were run with admin privileges.

[code]

## Results:
**The `Get-MachineSidGroups` function seems to be the fastest and also works on all computers I tested, including the problem computer.**

This table provides summary statistics per function. All computers are grouped together. Th

[2018-04-11 19:49] edperry commented on #29698
Confirmed as an issue for me too.

I modified the work around above to the following and seems to be good for me.

[2018-04-11 19:50] #37961 closed, assigned to Akasurde

[2018-04-11 19:52] irfanjs opened #38635 "Ansible error : ERROR! The tasks/main.yml file for role 'xyz' must contain a list of tasks"
Hello,
i have following simple YAML play file

[code]

but when running ansible-playbook command: getting following error

what is expected:
All the tasks mentioned in the playbook should be executed ...
i have here just one tasks , but the error says , need to have all the list of tasks ..
Not getting what is mean to that ?
please suggest

Regards,

[2018-04-11 19:53] sivel commented on #38635
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-11 19:53] #38635 closed, assigned to nobody

[2018-04-11 20:36] corbinstuard commented on #38255
This was created in error.

[2018-04-11 20:37] corbinstuard commented on #38300
The same issue is present in vmware_resource_pool

[2018-04-11 20:49] kustodian commented on #29857
What exactly is this yum swap ability?

[2018-04-11 21:09] bcoca commented on #30882
So `include` had many 'magical' behaviors and we are trying to make them explicit and clear, at one point we added the ability to ignore 'specified' tags so we could run tasks depending on include tasks.
The behaviour you see is intentional,  the new `import_` and `include_` were created to remove much of this magic and establish clear behaviors depending on which one is used.

`import_` <- no key

[2018-04-11 21:14] dougthor42 commented on #38427
Sounds good. I'll modify my local ansible install to use the `Get-MachineSidGroups` function, too. I'll report back if I find any major issues.

[2018-04-11 21:30] #30882 closed, assigned to nobody

[2018-04-11 21:39] drzraf commented on #31511
1. Documentation for `solo=true` states: `Whether the record should be the only one for that record type and record name.`
2. SPF RR type is removed by [RFC 7208](https://tools.ietf.org/html/rfc7208)
3. There must be only one SPF records (or TXT type)

Let imagine the following CF DNS configuration with TXT records (like `default._domainkey` or `well-known`, and SPF.

Using:
1. Using `solo=true` w

[2018-04-11 22:35] #37935 closed, assigned to acozine

[2018-04-11 22:35] #37413 closed, assigned to acozine

[2018-04-11 22:35] #37637 closed, assigned to acozine

[2018-04-11 22:35] #37866 closed, assigned to acozine

[2018-04-11 22:36] #38597 closed, assigned to acozine

[2018-04-11 22:56] NT-TM opened #38639 "Bug Report - nxos_facts, ansible_connection=network_cli - show stopper issue"
#### ISSUE TYPE
Bug Report

#### COMPONENT NAME

nxos_facts

#### ANSIBLE VERSION
[code]

#### OS / ENVIRONMENT
[code]

#### SUMMARY

I can only get the network_cli to work in 3064 and not the other two versions I have mentioned here.
As simple as nxos doesn't work.
- nxos_facts:
          gather_subset: interfaces

![image](https://user-images.githubusercontent.com/37877560/38647353-ae16445c-3da0

[2018-04-11 23:26] NT-TM commented on #38639
COMPONENT NAME
## Host file and network_cli for connection
[all:vars]
ansible_connection=network_cli
ansible_network_os=nxos

# - nxos_facts:
          gather_subset

[2018-04-11 23:49] abadger commented on #34893
I think I've found the bug (really, several bugs).  I have a workaround for you until I get a real fix applied.  This only happens with relative paths for the target directory.  If you use an absolute path, it should work fine.

[2018-04-11 23:55] teamhanded opened #38640 "Feature Request: Support AWS Secrets Manager service"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

aws_secrets_manager

##### ANSIBLE VERSION

[code]

##### SUMMARY

Now that [AWS Secrets Manager](https://aws.amazon.com/blogs/aws/aws-secrets-manager-store-distribute-and-rotate-credentials-securely/) is out, it'd be great to have a module for accessing credentials stored in this AWS service. The service works similar to aws_ssm_parameter_s

[2018-04-12 00:00] bdowling opened #38641 "Possible missing docs for some filters rekey_on_member human_*"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
lib/ansible/plugins/filter/mathstuff.py

##### SUMMARY

#33836 introduced rekey_on_member, however I was unable to find documentation (other than using the source luke)...

http://docs.ansible.com/ansible/devel/search.html?q=rekey_on_member&check_keywords=yes&area=default

Actually, this may affect some other filters as well, a cursor

[2018-04-12 00:34] stevenscg opened #38642 "cloudfront_distribution: Update valid minimum_protocol_versions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
AWS now supports 4 values for `minimum_protocol_version` (designated as "Security Policy" in the Cloudfront console):
* TLSv1
* TLSv1_2016
* TLSv1.1_2016
* TLSv1.2_2018

Ansible (as of 2.5.0) only allows:
* SSLv3
* TLSv1

AWS recommends the `TLSv1.1_

[2018-04-12 00:35] coltsixshooter commented on #34801
in the function deploy_vm change this line

if self.params['esxi_hostname']

to this line

 if self.params['esxi_hostname'] or self.params['cluster']:

Which seems to fix the problem.

[2018-04-12 00:40] coltsixshooter commented on #33156
This problem still exist in 2.5.0, can someone please make the one line fix.

Function "deploy_vm"

if self.params['esxi_hostname']:
to
if self.params['esxi_hostname'] or self.params['cluster']:

[2018-04-12 01:00] igoratencompass commented on #38456
As mentioned, the inventory is dynamic AWS ec2 so `ansible_user` or `ansible_ssh_user` are not being set. The playbook with the error did not have `remote_user` set.

[2018-04-12 01:07] willthames commented on #38642
Can you test #38644 to see if it fixes the issue?

[2018-04-12 01:36] Fred-sun commented on #28392
@elaurijssens I meet the same error by running the following playbook But if the VM name longer than 15 characters, running successfully , cannot reproduce such problem, can you give more information or share your playbook? Thanks
[code]

[2018-04-12 01:51] Fred-sun commented on #31023
@zikalino I meet same error by running following playbook, is it the same problem?
[code]

[2018-04-12 02:27] Fred-sun commented on #30982
@parmstro I running following playbook(ansible version  2.5.0rc3), can't reproduce you question, could you can install new version ansible(sudo pip install ansible==2.5.) and try it. Thanks!
[code]

[2018-04-12 03:05] arnabsen1234 commented on #29637
Could you please tell what is the solution for this.  How can one run .profile using the ansible playbooks

[2018-04-12 03:47] jborean93 commented on #38592
My guess is that the environment variable is available at the time and so the path to the vars file isn't valid. Can you try this playbook in a cron run and see what the result is

[code]

If the variable doesn't exist then you would get the following as the output

[code]

Otherwise the value will be set and we have another problem.

[2018-04-12 03:55] jborean93 commented on #38581
!component = lib/ansible/modules/network/f5/bigip_ssl_key

[2018-04-12 04:06] jborean93 commented on #38599
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * Waiting for an item to finish when using with_items and async fails

However, however wh

[2018-04-12 04:06] #38599 closed, assigned to nobody

[2018-04-12 04:08] Akasurde commented on #33156
Could you please elaborate more on the scenario you are trying here ? I will try to reproduce this in my environment.

[2018-04-12 04:12] jborean93 commented on #38609
I don't have knowledge of ovirt and the ecosystem but I can see the commit for 2.5 that bumped the version https://github.com/ansible/ansible/commit/dcd1c40e669cbe711cd82fb3249c04eb35b3d115#diff-964a81589429c39efce1a9607db47ee6 so I doubt it will be lowered in any future versions.

I see in your task you are delegating to another host, are you checking that host whether the newer version of ovirt

[2018-04-12 04:15] bcoca commented on #29637
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-12 04:15] #29637 closed, assigned to nobody

[2018-04-12 04:27] bcoca commented on #38456
I cannot reproduce with the information given, I always get the user configured via `[defaults]remote_user`

the only time i can reproduce that setting being ignored is with one of the overrides described above.

needs_info

[2018-04-12 04:34] jborean93 commented on #38257
@jlohiya we just recently came across another issue with setup.ps1 that could be related. If you can test out https://github.com/ansible/ansible/pull/38646 that would be great.

needs_info

[2018-04-12 04:38] klatiss commented on #28813
This is still an issue with ansible 2.5 and current CentOS 6 (6.9)

[2018-04-12 05:13] karniemi opened #38648 "Create a VMware VM connection plugin to access VMs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware

##### SUMMARY

spin-off from #38320:

@dericcrago informed in  #38320 that he has some sort of implementation for this already...

[2018-04-12 05:36] karniemi commented on #37906
@Akasurde:

I'm not checking it, "ansible-playbook"-command does the check, the checking of failed task is built-in in ansible and ansible-playbook. Maybe I don't understand the question...

And from the module code:
https://github.com/ansible/ansible/blame/stable-2.4/lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py#L264-L266
...it can be already seen that the code is using "module.exit_j

[2018-04-12 06:22] dzeyelid opened #38649 "When click a link to file module page in Files modules list, jump to lookup file plugin page."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

Files modules page in documentation

##### ANSIBLE VERSION

`2.5`
http://docs.ansible.com/ansible/2.5/

##### CONFIGURATION

main documentation on ansible website.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The link to file module on `Files modules` page of latest (Ansible 2.5) documentation seems to be wrong. It let us go to lookup

[2018-04-12 07:09] Akasurde commented on #37906
resolved_by_pr #38651

[2018-04-12 07:10] Akasurde commented on #37906
@karniemi Could you please check above PR and let me know if solves your requirement?

needs_info

[2018-04-12 07:14] #38213 closed, assigned to nobody

[2018-04-12 07:16] #36297 closed, assigned to nobody

[2018-04-12 08:03] Akasurde commented on #38404
@stpride Can you please check above PR and let me know if it works for you ?

needs_info

[2018-04-12 08:04] ssimonek commented on #31187
Hi,
It seems hard to upgrade python version on RHEL5, the redhat support answer:
"The default version of python shipped with RHEL5 is 2.4. Changing the version can lead to unexpected behaviour from applications dependent on it"

-_-!

[2018-04-12 08:30] Gabelvampir opened #38653 "iosxr_facts can't parse interface duplex status on ARS9001 and 9904 with older firmware"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Managed Systems are ASR 9001 and ASR 9904 running on IOS XR version 5.3.2

##### SUMMARY

iosxr_facts doesn't parse duplex information correctly on ASR9001 and ASR9904. On every interface it only lists "duplex: null". I took a look at iosxr_facts.py, the problem is the regex i

[2018-04-12 08:31] Akasurde commented on #37087
@jonbenning Any news ?

needs_info

[2018-04-12 08:35] jfschneider opened #38654 "vmware_cfg_backup.py fails to download configBundle when "hostname: vcenter-server" and "esxi_hostname: esxi_host""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 ansible/lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default configuration

##### OS / ENVIRONMENT

Centos 7.4 controlling VSphere 6.5

##### SUMMARY
vmware_cfg_backup.py fails to download the configBundle when used with a VCenter Server as hostname and the target esxi host as esxi

[2018-04-12 08:37] djmattyg007 commented on #28813
I'd prefer to set the mimimum version of git at 1.7.10, rather than try to acommodate older versions. The alternatives are not worth it IMO. I wouldn't want to try to parse version numbers. Doing so would be brittle at best.

[2018-04-12 08:44] afrazkhan commented on #37200
Can you confirm that the official "fix" is either _not_ to use the `docker` module from Pip, and instead install "python-docker" package, or to use virtualenv?

I can confirm that the former does work, but just want to check that this is issue will not be fixed, and that is really the way to go.

[2018-04-12 08:53] dktodorov opened #38655 "lineinfile adds lines which already exist in the file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
host: fedora 27 x64
target: fedora 27 x64

##### SUMMARY
Module 'lineinfile'  adds lines, which are already in the file. Problem appears with 2.4.4.0, it is working properly in 2.4.3

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
To not append items several times.

#####

[2018-04-12 08:55] Akasurde commented on #38654
@jfschneider Thanks for reporting this issue. Would you be interested in raising PR for this ?

[2018-04-12 08:58] #33985 closed, assigned to nobody

[2018-04-12 09:06] Akasurde commented on #38263
@thorus90 Could you please check if this PR https://github.com/ansible/ansible/pull/37163 works for you ? needs_info

[2018-04-12 09:16] Akasurde commented on #36915
@resyst-it Can you try #37456 and let me know ?

[2018-04-12 09:18] karniemi commented on #37906
@Akasurde: at least with my python reading skills..now the logic seems OK!

[2018-04-12 09:24] marcnil815 opened #38656 "aws_s3: "src" always looking locally for files."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
##### OS / ENVIRONMENT

Ansible host: Ubuntu 16.04 TLS
Remote host: Ubuntu 16.04 TLS

##### SUMMARY
The aws_s3 PUT mode used in a playbook looks for the src file locally, not remote.

##### STEPS TO REPRODUCE

Create file on remote machi

[2018-04-12 09:49] BenJaziaSadok commented on #33410
I got the same issue as @hellojukay, solved by using ansible async tasks http://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html

[2018-04-12 09:59] gdpak commented on #38548
Hi @Leggggg

1. I see your point that ansible is returning error when show vlan command does not find a vlan. Actually vlan database is not par of ansible_facts. It is returning error because “not found” regex pattern was present in command output of “show vlan id <>”  It seems to be the same behaviour from long time . Some customers might have written their rollback/error-recovery based on this a

[2018-04-12 10:01] #38427 closed, assigned to nobody

[2018-04-12 10:06] marcnil815 opened #38658 "ec2_metadata_facts: remove IAM role name from return variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_metadata_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu 16.04 TLS

##### SUMMARY

The return values from ec2_metadata_facts containt the iam role in the key name.

For instance the access key id:
[code]
This means the role name must be known befor

[2018-04-12 10:08] ipeacocks commented on #25665
From my side it looks like openLDAP bug, ansible isn't guilty. openLDAP just can't replace olcTLSCertificateKeyFile and olcTLSCertificateFile  values after enabling.

[2018-04-12 10:16] nafpliot-ibm commented on #38654
The fix of @jfschneider will work but I think the real problem is not there...

@Akasurde it's not visible in the history but when was the `esxi_hostname` variable introduced? It isn't needed... The `hostname` variable is actually the esxi hostname. This module uses no vCenter. The configuration backup API calls (as far as I know) talk -only- directly with the ESXI hosts.

[2018-04-12 10:28] Akasurde commented on #38654
It was introduced here #35695. We can use `self.host` instead of `self.hostname` in both `load_configuration` and `save_configuration` APIs.

[2018-04-12 10:29] jfschneider commented on #38654
@nafpliot-ibm nope, this does actually work with vcenter. when I changed the line to "url.replace('*', self.esxi_hostname)". everything worked fine. I also tested this with the vmware perl api (which i am way more familiar with than python:), the vcenter returns a URL with a '*' which you need to replace with the fqdn of the esxi host. you can then just retrieve the file via a GET request without

[2018-04-12 10:30] tbar74235 opened #38660 "Ansible Documentation Error"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The link to the file module within http://docs.ansible.com/ansible/latest/modules/list_of_files_modules.html leads not to the description of the file module. It currently leads to the lookup plugin file what is wrong in my opinion.

##### STEPS

[2018-04-12 10:33] tbar74235 commented on #38660
This applies to the file module link within http://docs.ansible.com/ansible/latest/modules/list_of_all_modules.html too.

[2018-04-12 10:35] Akasurde commented on #38654
Like I said

[code]

[2018-04-12 10:40] mykaul opened #38661 "oVirt disks module: exception 'NoneType' object has no attribute 'status'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible_module_ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-12 10:53] mykaul commented on #38661
This seems to happen only when the storage domain is iSCSI - it worked OK with NFS!

[2018-04-12 10:56] Akasurde commented on #38654
@jfschneider @nafpliot-ibm Let me know if it works for you.

[2018-04-12 11:10] machacekondra commented on #38609
The Python SDK 4.2.4 must be on the remote machine not manangement machine, please double check if you have it.

[2018-04-12 11:25] iantje31 commented on #23705
The issue still isn't resolved for me, i did a clean install of the machine with the modules and it still fails.

[2018-04-12 11:26] nafpliot-ibm commented on #38654
@jfschneider thanks for the info. I was only doing authentication against the ESXI hosts directly so I haven't tested this use case.

@Akasurde I think your fix is more elegant. Probably it should be updated the same in the `load_configuration` function.

 A recommendation though, I think the documentation should be updated to let the users now that you can either authenticate directly against the

[2018-04-12 11:30] Akasurde commented on #38654
@nafpliot-ibm Definitely. @jfschneider Are you interested in raising a PR or should I go ahead and submit PR ?

[2018-04-12 11:50] andreas-john opened #38663 "recursive loop detected in template string: ansible_play_batch, tried to access ansible_delegated_vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

variables
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing changed
##### OS / ENVIRONMENT

mac OS X 10.10.5
##### SUMMARY

access the `ansible_delegated_vars` variable within an delegated task file leads to an fatal error due to recursive loop

##### STEPS TO REPRODUCE

hosts
[code]

test.yml
[code]

tasks.yml
[code]

command used:

[2018-04-12 11:50] jedi-marcus commented on #29255
Same issue here:

    - name: Install required npm packages
      become: true
      npm:
        name: "{{ item }}"
        global: yes
      with_items:
        - gulp
        - knex
        - avanti-core
        - avanti-cli

Runs ok for gulp & knex and blocks on avanti-core.
On the target host I can see that node-gyp is running @100% cpu usage

[2018-04-12 12:02] jfschneider commented on #38654
yes, that works perfectly for both use cases (host = vcenter and host = esxi) here. Nifty solution!

[2018-04-12 12:15] roadmapper commented on #38658
So I think there may be a bug in the IAM parsing logic as the `ansible_ec2_iam_instance_profile_role ` key _should_ have a value in it.

Does your IAM role have an underscore in it by chance?

I believe the offending [line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_metadata_facts.py#L461) is the culprit of not populating the IAM role key:
[code]

I checked

[2018-04-12 12:29] amarao commented on #35398
I would say this is a huge issue. If Ansible would have raised an error for combination of `delegate_to` and `include_role`, that would be sad, but normal. But Ansible after upgrade from 2.4 to 2.5 silently ignores `delegate_to` and makes changes on a wrong server. It's like surgeon whom amputates a leg for a wrong patient. If the patient complains afterwards, surgeon answers, 'this is expected be

[2018-04-12 12:34] symgryph commented on #23705
You might want to look at python virtualenv. It fixed the problem for me. Basically it installs a custom version of python like a virtual machine, which is ‘clean’. I could never get it working otherwise.

Thomas J Munn

[2018-04-12 12:43] iantje31 commented on #23705
Hi @symgryph, how do i install this python version? Thanks.

[2018-04-12 12:47] Daniel-Sanchez-Fabregas commented on #38609
@badnetmask In my case I have the same error :
[code]
but the error is caused by `pycurl`
[code]
[code]

If you have this error try with:
[code]

It wasn't a fix for me, but seems a step in the right direction.

[2018-04-12 12:55] iantje31 commented on #23705
@symgryph Never mind, i understand you now, i already have a venv running, it's ansible tower.

[2018-04-12 12:56] stevenscg commented on #38642
@willthames #38644 checks OK. Thanks!

[2018-04-12 13:14] fagia commented on #29159
Passing the `ansible_user` and `ansible_become` variables in the `vars` of the `include_role` task should work fine.
See: https://docs.ansible.com/ansible/2.5/user_guide/become.html#setting-enable-mode-for-all-tasks

[2018-04-12 13:16] cake99 commented on #10065
+1

[2018-04-12 13:17] Torrent007 opened #38667 "[WARNING]: Removed restricted key from module data: ansible_*"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 with Ansible Tower installed

##### SUMMARY

A Warning appears each time I changed during playbook vars like ansible_user or ansible_winrm_transport

##### STEPS TO REPRODUCE

Create ´user.yml´:

[code]
Run this command with any single host i

[2018-04-12 13:25] bcoca commented on #38667
dupe of #37535

[2018-04-12 13:25] #38667 closed, assigned to nobody

[2018-04-12 13:29] Torrent007 commented on #38667
Thanks for quick support and sorry for dupe ;)

[2018-04-12 13:37] #36576 closed, assigned to nobody

[2018-04-12 13:37] acozine commented on #38660
duplicate of #38439

[2018-04-12 13:40] mattclay commented on #37957
Failure in stable-2.5 for 2012: https://app.shippable.com/github/ansible/ansible/runs/61045/11/tests

[2018-04-12 13:44] donpatzone opened #38669 "Unable to get data with NXOS_FACTS module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible is run from a Linux server running Gentoo
[code]

Nexus test device
[code]

##### SUMMARY

When trying to connect to Nexus switches to gather facts an error is thrown

##### STEPS TO REPRODUCE

###### Directory structure
[code]

###### Invent

[2018-04-12 13:44] hellojukay commented on #33410
@BenJaziaSadok I Got the answer , because of the process got signal kill -2

[2018-04-12 13:46] donpatzone commented on #38669
Just saw. Is it maybe related to #38639?

[2018-04-12 13:54] czerasz commented on #25099
I also run also into this issue:

[code]

I solved it by creating the chain manually:

[code]

[2018-04-12 13:55] tbar74235 commented on #38660
The only difference is that #38439 points out to a wrong link to the template module. Here we are talking about a wrong link to the file module.

[2018-04-12 13:58] jobec opened #38670 "method parameter of uri module is ignored when handling a redirect"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY

method parameter of `uri` module is ignored when handling a redirect from the web server.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When `http://example.com` redirects to `http://

[2018-04-12 13:59] Gaby033 commented on #37198
I have added in my playbook `      folder: '{{ folder }}'` which I assigned the value "/" when launching it.
The `vlan` option isn't working anymore (since the update of ansible) with the following error : `"VLAN '10' does not exist."`.

So I had to set it in comment to continue my tests. I tried with a CentOS 7.4 with open-vm-tools installed on it. The network configuration is still not working,

[2018-04-12 14:02] nafpliot-ibm commented on #38654
@Akasurde if @jfschneider isn't interested in raising a PR I can do it, then I can also change the documentation of the module a bit. BTW I started with a PR to change the documentation of vsphere hostname, username, password in https://github.com/ansible/ansible/pull/38668.

[2018-04-12 14:04] JulienPalard commented on #33555
I'm having this issue, modules are installed in `/root/.npm/`. Using `ansible 2.5.0` and `npm 5.6.0`.

[2018-04-12 14:07] jlohiya commented on #38257
@jborean93
Hi, I'm new to GIT.
You said, " If you can test out #38646 that would be great." What exact steps should I take to achieve this?

[2018-04-12 14:08] jobec commented on #38670
This also seems to affect 2.5 (the code path is the same)

[2018-04-12 14:09] sivel commented on #38670
This code has changed significantly in recent days.  Can you confirm your behavior with the devel branch?

needs_info

[2018-04-12 14:10] prutseltje commented on #30655
I have the same issue:
[code]

[code]

[2018-04-12 14:13] sivel commented on #38670
A quick check shows me that this is no longer a problem in devel:

[code]

As a note, we have no plans on backporting this change to 2.4/2.5.  It will be part of the 2.6 release.

[2018-04-12 14:14] morxa opened #38671 "nmcli: default for autoconnect is no, should be yes"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Fedora 27
##### SUMMARY

The documentation says that the default value for autoconnect is `true`, but it is actually `false`.
Either the documentation is wrong, or the default is wrong. I'd prefer the default to be `autoconnect: ye

[2018-04-12 14:18] AlanCoding commented on #30655
What version of Tower is it?

[2018-04-12 14:19] ericcitaire opened #38672 "Permission denied with unarchive + HTTPS + become_user"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

In Ansible 2.5, module `unarchive` throws a `[Errno 13] Permission denied` error when trying to download an archive from a HTTPS URL, using `become_user` with a non-priviliged user.
This works fine with Ansible 2.4.

[

[2018-04-12 14:29] badnetmask commented on #38609
@jborean93 @machacekondra so it looks like it was not clear to me that the SDK requirement should be on the delegated machine, not on the machine where I was running the playbook from. I see on the remote machine that the SDK is version 4.1.7.

This actually begs for a follow up question: I'm running this playbook against RHV 4.1 (latest release from Red Hat), which updates slowed than OpenStack.

[2018-04-12 14:41] sivel commented on #38670
That is correct.  At this time we have no plans to backport this change to 2.4 or 2.5.  It will, at this time only be made available in 2.6.

I will, to be thorough, discuss it with the release manager for 2.5.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-12 14:41] #38670 closed, assigned to nobody

[2018-04-12 14:42] TheBigWez commented on #33661
@EddyP23 We have the same error when trying to create a resource group ("Do you have azure>=2.0.0 installed? Try `pip install ansible[azure]`- cannot import name resource_id"). We also did the install with sudo.

In our case, downgrading to ansible 2.4.4 fixed this issue. We used this command to uninstall ansible 2.5
and install 2.4 instead :

**sudo pip install git+https://github.com/ansible/ansi

[2018-04-12 14:44] samdoran commented on #38649
The docs team is aware of this and are working on a fix. Thank you for reporting this

[2018-04-12 14:45] #38660 closed, assigned to nobody

[2018-04-12 14:45] sivel commented on #38649
Closing as a duplicate of https://github.com/ansible/ansible/issues/38439

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-12 14:45] #38649 closed, assigned to nobody

[2018-04-12 14:46] cigamit commented on #37198
Also check for the log file.  For Centos it is stored at
/var/log/vmware-imc/toolsDeployPkg.log
for me.

[2018-04-12 14:52] simleo commented on #38655
Been hit by this as well. In corner cases it seems to crash the module altogether. Here is a shorter path to trigger the bug:

[code]

Again, lineinfile from ansible 2.4.3 is not affected.

[2018-04-12 15:10] abadger commented on #38200
@retr0h Are you able to make one of our meetings?  We want to discuss with you what you're thinking this would entail :-)

[2018-04-12 15:19] travisgroth commented on #38312
Any feedback on this?  Ingress controllers are the only piece of our typical k8s deployments that we can't put into ansible right now.

[2018-04-12 15:25] Akasurde commented on #38671
@morxa Thanks for reporting this issue. I think default value was set to 'no'.

[2018-04-12 15:26] tv commented on #38312
This is blocking my work as well. I had time today to debug the issue further and it looks like list of lists are not diffed recursively [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/k8s/helper.py#L474). It's not Ingress specific, but lists inside of lists without name keys are quite rare in the kubernetes api.
I'll try to fix this and make PR tomorrow.

[2018-04-12 15:26] Akasurde commented on #38671
resolved_by_pr #38676

[2018-04-12 15:26] abenokraitis commented on #30361
Request from Infoblox to have "Infoblox NIOS" be the actual header in Net Tools for the NIOS modules:
http://docs.ansible.com/ansible/latest/modules/list_of_net_tools_modules.html#nios

[2018-04-12 15:29] Gaby033 commented on #37198
@cigamit : thanks, by looking at it, I saw that perl was missing on this new template. I installed it and tried again, and it worked.

Unfortunatly this doesn't change my original problem with my debian template, and the fact that my vlan isn't recognize anymore.

[2018-04-12 15:29] travisgroth commented on #38312
@tv ah that make sense.  Awesome!  Happy to try the PR out on our end.

[2018-04-12 15:30] zjpeterson opened #38677 "uri: return_content should identify HAL JSON as JSON"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY
When using the ```uri``` module with a REST API that is using Hypertext Application Language (HAL), it will respond to GET requests with a ```Content-Type``` header of ```application/hal+json``

[2018-04-12 15:35] Akasurde commented on #37198
@Gaby033 I think you are using standard vSwitch so you need to use name standard portgroup name rather than using vlan.

[2018-04-12 15:49] sivel commented on #38677
This was resolved in https://github.com/ansible/ansible/pull/33894 and exists in the 2.5.0 release of ansible

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-12 15:49] #38677 closed, assigned to nobody

[2018-04-12 15:52] Yajo commented on #30882
Thanks for your answer. I didn't think about gagging it as always, but I guess it will do the trick for most cases.

About the inherit stuff, wow... That'd be awesome indeed.

[2018-04-12 15:55] Leggggg commented on #38548
Hi!

Thanks for the response. Helpful feedback about "not found" forcing a failure...although I am a bit concerned about that. It still seems odd to me to force a failure for output that is normal behavior from Cisco. I resolved this using vlan_list, which is an item of nxos_facts of subset legacy.

I agree with you about the pre-check and rollback. My initial intent with my pre-check was to confi

[2018-04-12 16:10] #38671 closed, assigned to Akasurde

[2018-04-12 16:11] mooninite opened #38679 "vmware_guest: Multiple disks and cdrom fails to create"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.5

##### SUMMARY
The new vmware_guest module does not allow me to create a VM with more than 1 disk and a cdrom attached.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VM created with two hard disks and a CD-ROM attached with my ISO. vsph

[2018-04-12 16:19] kwn commented on #29159
I just approached that issue today and passing `ansible_become: yes` in `vars` was enough. Thanks @fagia

[2018-04-12 16:20] hamza-tumturk opened #38680 "aws_s3: Could not find or access 'src'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A (Ubuntu 16.04.5, OSX 10.13.4)

##### SUMMARY

Since upgrading from Ansible v2.4.3.0 to v2.5.0 the aws_s3 module fails with "Could not find or access ...", even though the file exists on the host with 777 permissions. Running the ansible as become does not ma

[2018-04-12 16:33] sivel commented on #38357
I feel pretty confident that this is a `_dupe_task_list` issue.  Oddly, I am seeing a strange difference between py2 and py3 in comparing blocks.

[2018-04-12 17:03] Mshaik02 commented on #19586
I am facing similar issue with ansible 2.5

- hosts:
    - "{{ switches }}"
  serial: 1
  gather_facts: no
  connection: local

  vars_prompt:
    - name: "password"
      prompt: "Enter user password"
      private: yes
      no_log: True

  vars:
    provider:
      host: "{{ inventory_hostname }}"
      username: "{{ ansible_user }}"
      password: "{{ password }}"

  tasks:

    - name: "Runn

[2018-04-12 17:04] Mshaik02 commented on #19586
can you please help me to fix this..

This was working fine with ansible 2.4 and with eos_template:
But I am having issues with ansible 2.5 with eos_config.

[2018-04-12 17:08] mgarren opened #38683 "vmware_guest module is dangerous in check_mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Here is a link to what I could find as the latest vmware_guest implementation where the module claims to support check_mode but does absolutely no implementation around it that I can tell: https://github.com/ansible/ansible-modules-extras/bl

[2018-04-12 17:14] UnitedMarsupials-zz opened #38684 "Derive implicit group-membership from inventory filename"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/mi/A/ansible.cfg) = True
CACHE_PLUGIN(/mi/A/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/mi/A/ansible.cfg) = /tmp/afacts
DEFAULT_FORKS(/mi/A/ansible.cfg) = 53
DEFAULT_TIMEOUT(/mi/A/ansible.cfg) = 23

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Deriv

[2018-04-12 17:14] one-t opened #38685 "Become Method DZDO does not utilize become_flags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
play_context

##### ANSIBLE VERSION
[code]

##### SUMMARY
The `dzdo` become method does not respect flags passed in as `become_flags`.

https://github.com/ansible/ansible/blob/c37b997abc8ed7c5e4b4383d94d9b5f03d338da4/lib/ansible/playbook/play_context.py#L549-L556

Within the section that handles dzdo, the `flags` variable is not utilized.

#####

[2018-04-12 17:40] robert-7 commented on #22571
I've tried this in Ansible 2.4.2.0 and Ansible 2.5.0. The variable is simply not loaded before it's needed.
[code]

If I substitute the role with the an `{include,import}_role` task, I'll still get something similar.
[code]

Am I going crazy?

[2018-04-12 17:41] mgarren commented on #38683
Sure!  We are running it on 2.4.2.   If it's fixed in a future release that's fine by me just wanted to make sure it was at least on the radar since we nearly had a major outage because of it.  If that means we should close this issue I'm ok with it.

[2018-04-12 18:44] jpowers-j2 commented on #13637
For accounting and audit purposes we run things via a lot of different aws accounts and having ansible itself be profile aware the way @ryansb suggests would be fantastic, just googling around I find tons of people asking how to do this and getting no good answers. Environment variables and exec commands feel like rotten hacks for a tool that's so slick otherwise.

[2018-04-12 18:45] sivel commented on #38357
I've found the source of the py2 vs py3 difference.  https://github.com/ansible/ansible/pull/38687 has been submitted to resolve that.

As noted earlier, it allows you to get minimally farther, before getting a recursion error.  We'll have additional work to do, to see what can be done with that.

[2018-04-12 19:01] cesar3030 commented on #20557
Still no docs for action plugins? :cry:

[2018-04-12 19:11] bcoca commented on #38684
you can already do this with the constructed inventory plugin http://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

[2018-04-12 19:18] mooninite commented on #38679
During debugging I see what is the problem.

- vsphere_guest would attach all hard drives to SCSI and cdroms to IDE.
- vmware_guest is attaching hard drives to SCSI when cdrom is NOT specified.
- vmware_guest is attaching hard drives to IDE when cdrom IS specified.
- IDE can't take 3 devices on one bus -- therefore the error I get is correct.
- cdrom cannot be added after VM creation -- I will ope

[2018-04-12 19:23] gthieleb opened #38691 "interfaces_file: misplaced option source-directory /etc/network/interfaces.d\n in line 7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
interfaces_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Run ansible-playbook network.yml yml file against rpi with Raspbian (Debian Jessie)
##### STEPS TO REPRODUCE
[code]
and an inventory file containing:
[code]
##### EXPECTED RESULTS
add static ip address for iface
/etc/network/inte

[2018-04-12 19:28] UnitedMarsupials commented on #38684
Thanks for the pointer, @bcoca, but I don't think, the name of file(s), which contained the host's name, is available to Jinja...

[2018-04-12 19:36] ryansb commented on #13637
It is profile aware. You can use that task I showed right now, and set that `profile` variable anywhere (Tower, --extra-vars, a group var file, etc).

[2018-04-12 19:36] gthieleb commented on #38691
#37809 already exists sorry for noise

[2018-04-12 19:36] #38691 closed, assigned to nobody

[2018-04-12 19:47] gthieleb opened #38692 "interfaces_file changing method is not possible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
interfaces_file
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
From:
[code]
To:
[code]
##### SUMMARY
Changing the method of an iface (dhcp, manual, static) not possible.
When looking at modules output the option that should be set is `method`.
[code]
##### STEPS TO REPRODUCE
[code]
inventory file:
[code]
##### EX

[2018-04-12 20:27] bcoca commented on #38684
You have `inventory_file` and `inventory_dir` variables

[2018-04-12 20:29] Canta commented on #30882
We've hit this hard, as we're using hundreds of dynamic includes with tags, and v2.5 gave us many silent fails and strange behaviours. So I did a very dirty script in order to "migrate" to the new dynamic include paradigm, wrapping our includes with blocks.

Still testing the results, as IDK if all of our hundreds of DIs work as expected, but so far the results are doing fine even for complex role

[2018-04-12 20:31] #20291 closed, assigned to Akasurde

[2018-04-12 20:33] ElijahLynn commented on #20226
@agamdua We have a need for this and I'd like to encourage you to throw something out to get the conversation started. This will move faster with a working PoC.

Our use case is a curl task to unreliable external service that sometimes is fast but sometimes is under crazy load and we need exponential backoff to keep trying until it works, which could range from 1-60 minutes.

[2018-04-12 20:47] saichint opened #38694 "nxos_ntp_options issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_ntp_options
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_ntp_options module.

1. Documentation says that when the state is absent, the parameters will be flipped which is wrong. This should be ju

[2018-04-12 20:58] jpowers-j2 commented on #13637
@ryansb you're right thanks I finally found the right docs, linked below. This ticket comes up first in a google search for "ansible aws profiles"

If I'm using a current version of ansible and a current version of boto I can put the profile name as a group_var matching the one in ~/.aws/config+credentials and the profile name will be passed by ansible through boto which now checks those credentia

[2018-04-12 21:21] jaakristioja opened #38696 "become_method: su fails with ansible_connection: local"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

local

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed` output is empty.

##### OS / ENVIRONMENT

Gentoo Linux.

##### SUMMARY

Using become method su fails with local connection.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`whoami` being executed as `root`, returning "root" in stdout.

##

[2018-04-12 21:31] coltsixshooter commented on #33156
Without the "or" statement for the cluster option it seems to fail finding
a vmware host in the cluster. This has been a problem since 2.4

On Wed, Apr 11, 2018 at 9:10 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-04-12 21:32] jrko commented on #38564
@willthames I'm seeing some strange behavior. Yesterday I couldn't reproduce the issue. I deleted the target group and could create a new one in 2.5.0 and 2.4.3 without errors.

Today I just now rebuilt VPC from scratch and launched new instances. When I tried to create the target group, both 2.5.0 and 2.4.3 fail with the Port KeyError.

I changed line 505 as per your PR, and the target group gets

[2018-04-12 21:34] jaakristioja commented on #38696
!component =lib/ansible/plugins/connection/local.py

[2018-04-12 21:48] jborean93 commented on #38257
@jlohiya, that's ok, the PR has been merged into the devel branch so to test this out just run the following

[code]

This will clone down Ansible into the local folder `ansible` and activate it so when you run `ansible-*` it uses that version. It contains the latest changes and you can use it to test out the setup.ps1 changes. Otherwise you can take the file https://github.com/ansible/ansible/blo

[2018-04-12 21:59] jcr1984 opened #38699 "Ansible + private git + ssh"
Im trying to clone from git with ansible using ssh authentication but I dont realize what Iam doing wrong..  I tried several configuration throw ssh I found from google. Any help is appreciate

##### COMPONENT NAME
git

##### ANSIBLE VERSION
2.4.2.0

##### OS / ENVIRONMENT
centos 6.4

##### SUMMARY

I have a private git server (10.190.5.51)
In my ansible server I do:
  $ssh-keygen
  $ssh-copy-id g

[2018-04-12 22:06] bdowling commented on #38420
Had not known about this command, but this seems like another example of multi-line inputs such as with the banner commands.  Instead of having another specially focused feature or module on macros, I'd propose to just have a detection for `^Enter.*End with the character '\(.\)'` that puts the rest of the task into a  `sendonly` mode for the duration of the commands in that task?

I did a quick te

[2018-04-12 22:12] symgryph commented on #38058
I have same issue. Get the following error

atal: [localhost]: FAILED! => {"changed": false, "module_stderr": "/usr/bin/python2: can't open file '/root/.ansible/tmp/ansible-tmp-1523570295.39-97329820046336/command.py': [Errno 13] Permission denied\n", "module_stdout": "", "msg": "MODULE FAILURE", "rc": 2}

With local connection as well.

Here are relevent parts of playbook:

  - name: create new k

[2018-04-12 22:12] symgryph commented on #38058
Works fine in 2.4.2

[2018-04-12 22:18] theorun opened #38701 "Enabled change detection in check_mode for command module is creates argument is defined"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### SUMMARY

If the creates argument is specified for the command module, use the file state to check if the command would cause a change event when ran in check mode.

##### STEPS TO REPRODUCE

[code]

[2018-04-12 22:24] symgryph opened #38702 "Become Method fails with permission denied ansible 2.5.0 with local connection method"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
##### OS / ENVIRONMENT

##### SUMMARY
When using the 'become' method from a root user to a non-privileged user, the system responds with permission denied atal: [localhost]:

FAILED! => {"changed": false, "module_stderr": "/usr/bin/python2: can't open

[2018-04-12 22:37] BryanJeterCTR commented on #4531
'state: present' means that the line: will be present when done.

If you want to replace idempotently, use replace: module.

    - name: test lineinfile
      lineinfile: backup=yes state=present dest=/etc/foo.txt
        regexp='^#?bar'
        line='bar'

OR structure the regexp to match what you expect to replace.

In this case regexp: '^#?bar' will match ^bar or ^#bar or ^###bar (any number of

[2018-04-12 22:49] spikerobinson commented on #4531
In this case, "present" means "increment the number of occurrences by one",
which is pretty useless as a construct.

Yes we aware there are some crufty, complex and counter-intuitive
workarounds to this problem. We're aware the author of the language thinks
"idempotent" is a swear word.  We're aware of backward compatibility
challenges and the philosophy of conservatism.

Nonetheless, this is brok

[2018-04-12 22:53] UnitedMarsupials commented on #38684
Why, live and learn... New in version 2.3... Now, suppose I use the [group module](http://docs.ansible.com/ansible/latest/modules/group_module.html) to create a new group on the fly based on `inventory_file` -- will Ansible automatically open the group_vars/_group_.yml and add values set therein to the host's vars?

[2018-04-12 22:53] alissonpmedeiros opened #38704 "Unable to parse /home/vagrant/kolla-ansible/tools/multinode as an inventory source"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
`ansible --version`
[code]

##### CONFIGURATION

`ansible-config dump --only-changed`
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 100
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu/xenial64 vm with vagrant

##### SUMMARY
I'm trying installing openstack via Kolla Ansible and I'm following this tutorial from open

[2018-04-12 23:33] dougthor42 commented on #37408
I came here to submit a similar request: a simple `--list-vars` or `--list-variables` option for `ansible` and `ansible-playbook`. I'd imagine that it would solve this issue, at least to some extent, by letting users verify that their variables are what they expect.

## Example:

### The Command
Listing all the variables
[code]

Listing variables for a specific host uses the existing `--limit` arg

[2018-04-13 02:09] marnelfr commented on #10088
It's a pretty old subject but it could help someone:
The ansible command also showed me:
`
with_items:
      - {{ foo }}

Should be written as:

    with_items:
      - "{{ foo }}"
`
I fix this just by correcting the indentation in my yml file

[2018-04-13 02:17] bcoca commented on #38684
yes, that is another way of doing it

[2018-04-13 03:13] willthames commented on #38656
Can you provide the results of running under `-vvv` including invocation.

We probably need to think about how we combine the `aws_s3` action plugin (which is used for looking for `src` in all the usual places locally) with a currently non-existent `remote_src`.

[2018-04-13 03:37] Akasurde commented on #33380
@imjoseangel Can you open a new issue for this, so that we can track it better ?

@marukka Could you please 2.5 version and let us know?

[2018-04-13 04:07] mattclay opened #38710 "Unstable integration test win_updates"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

win_updates integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test win_updates:

https://app.shippable.com/github/ansible/ansible/runs/61213/15/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL

[2018-04-13 04:09] mattclay opened #38711 "Unstable integration test win_regedit"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

win_regedit integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test win_regedit:

https://app.shippable.com/github/ansible/ansible/runs/61213/17/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL

[2018-04-13 04:12] jborean93 commented on #38710
It probably won't fix the tests but this should fix the KeyError and we get the actual error with this PR https://github.com/ansible/ansible/pull/38708

[2018-04-13 04:13] mattclay opened #38712 "Unstable integration test azure_rm_virtualnetwork"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_virtualnetwork integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_virtualnetwork:

https://app.shippable.com/github/ansible/ansible/runs/61213/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Te

[2018-04-13 04:14] mattclay opened #38713 "Unstable integration test aws_ses_identity"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

aws_ses_identity integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test aws_ses_identity:

https://app.shippable.com/github/ansible/ansible/runs/61213/67/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

###

[2018-04-13 04:38] imjoseangel opened #38715 "vmware_guest - Failed to set Fixed IP - VCenter 6.5 - Windows VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_COW_SELECTION(env: ANSIBLE_COW_SELECTION) = tux
ANSIBLE_NOCOLOR(env: ANSIBLE_NOCOLOR) = False
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/home/imjoseangel/.ansible/library']
DEFAULT_STRATEGY(env: ANSIBLE_STRATEGY) = debug
DEF

[2018-04-13 04:44] Akasurde commented on #38715
@imjoseangel Thanks for reporting this issue.

[2018-04-13 05:03] andreasbourges commented on #38549
I can confirm this problem, too! Just ran into it and send a mail to dag privately. Same situation - APIC error when trying to provision a VPC configuration.

[2018-04-13 05:21] mattclay opened #38716 "Unstable integration test win_pester"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

win_pester integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test win_pester:

https://app.shippable.com/github/ansible/ansible/runs/61226/14/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RE

[2018-04-13 05:47] Fred-sun commented on #30392
@zikalino Running following playbook can reproduce this problem,  Please take a look .
[code]

[2018-04-13 05:50] Fred-sun commented on #23765
I have verify, Running the playbook can reproduce this problem.  Thanks!

[2018-04-13 05:55] ghost opened #38717 "Parsing the msg output"

[2018-04-13 06:09] #38143 closed, assigned to nobody

[2018-04-13 06:11] Akasurde commented on #38143
@AshleyByeUK Thanks for reporting valuable information and debugging. Hope to see you around.

[2018-04-13 06:42] Akasurde commented on #38290
resolved_by_pr #38718

[2018-04-13 06:42] Akasurde commented on #38290
@jhriv I have updated documentation and condition related to this. Please check and let me know if it works for you.

[2018-04-13 06:58] GwenaelPellenArkeup commented on #38174
Hello.

IMHO, there is two choice :

- gluster_volume manage brick (add-brick, remove-brick, replace-brick)[1]
- new module gluster_volume_brick do manage this (bad for me)

Now, for example, gluster_volume module can't perform change brick on HDD to SSD drive in gluster cluster.

[1]
[code]

Best regards.

[2018-04-13 07:18] #38563 closed, assigned to nobody

[2018-04-13 07:32] zwindler commented on #37734
I've taken a look to your PR. There are a lot of things in it, but as far as I'm concerned (adding NICs in loadbalancer backend pools), it works and I'm already using it ;)

[2018-04-13 08:35] gdpak commented on #38548
Hi Matt

You are right. VLAN name has no control over whether van is removed or not. This is in sync with nxos functionality which takes only vlan-id to drop a vlan from its database.

switch(config)# no vlan 2 ?
  <CR>
  ,      Multi range separator
  -      Range separator.  <<<< no other parameter can be specified
switch(config)# no vlan 2

so, ansible is correct to mirror behaviour of destinat

[2018-04-13 08:51] #38654 closed, assigned to nobody

[2018-04-13 08:51] pritho opened #38722 "Module openshift_raw doesn't seem to respect CA-certificates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openshift_raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

Module openshift_raw doesn't seem to respect own CA-certificates, getting error:
"msg": "Failed to retrieve requested object: (\"bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed

[2018-04-13 09:31] ZuZuD commented on #38570
@jrko can you try this out #38707 and give us a feedback? Thanks!

[2018-04-13 09:42] olanga commented on #30104
Workaround which works for me:
in the file /usr/lib/python2.7/dist-packages/ansible/plugins/action/ios_config.py
(def _write_backup) change
tstamp = time.strftime("%Y-%m-%d@%H:%M:%S", time.localtime(time.time()))
to
tstamp = time.strftime("%Y-%m-%d@%H.%M.%S", time.localtime(time.time()))

Optionally in the same def _write_backup:
filename = '%s/%s_config.%s' % (backup_path, host, tstamp)
to
filena

[2018-04-13 09:49] remys89 commented on #33873
In my understanding, https == ssl == secure communications to and from the API. Why should this not be mandatory ? (!)

[2018-04-13 09:54] #38661 closed, assigned to nobody

[2018-04-13 10:17] #38694 closed, assigned to trishnaguha

[2018-04-13 10:26] #35631 closed, assigned to nobody

[2018-04-13 10:26] #34746 closed, assigned to nobody

[2018-04-13 10:26] #34347 closed, assigned to nobody

[2018-04-13 10:26] #34346 closed, assigned to nobody

[2018-04-13 10:26] #34245 closed, assigned to nobody

[2018-04-13 10:27] #25823 closed, assigned to nobody

[2018-04-13 10:39] trishnaguha commented on #37936
This seems to be the device issue that the config isn't applied. Currently nxos_config doesn't have support to check post status of a device. however it can be achieved with adding another task by querying the config of the device though it can be time consuming.

[2018-04-13 10:42] trishnaguha commented on #36435
closing this as this was resolved_by_pr https://github.com/ansible/ansible/pull/36472

[2018-04-13 10:42] #36435 closed, assigned to trishnaguha

[2018-04-13 10:44] #32989 closed, assigned to nobody

[2018-04-13 10:44] #29727 closed, assigned to nobody

[2018-04-13 10:45] trishnaguha commented on #38669
@donpatzone Please share the output of `show system resources | json` of your device

[2018-04-13 10:49] trishnaguha commented on #38639
@NT-TM please share the output of `show version | json` of your device, also which NXOS platform you are using?

[2018-04-13 10:53] machacekondra commented on #38609
You may use SDK 4.2 against RHV 4.1, there is no problem with that.

[2018-04-13 10:55] #36499 closed, assigned to trishnaguha

[2018-04-13 10:57] jstockwin commented on #19084
We've run into this problem too, however the solution in [mprasil's comment](https://github.com/ansible/ansible/issues/19084#issuecomment-289323733) did not work for us, I think because using `args` has now been deprecated and no longer works.

Therefore, instead of adding the following as @mprasil suggests:
[code]
we've done:
[code]
which achieves the same result.

[2018-04-13 11:01] mkrizek commented on #38573
Not a duplicate #35356.

Here's a **hack** that shows where the problem is and "fixes" the issue, hopefully that helps when making a proper fix for the issue:
https://gist.github.com/mkrizek/c147fb70656f7cd7031f5abcebe1adf0

cc @bcoca @jimi-c

[2018-04-13 11:10] #34329 closed, assigned to nobody

[2018-04-13 11:37] Akasurde commented on #38605
resolved_by_pr #38729

[2018-04-13 11:55] mkrizek commented on #38717
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-13 11:55] #38717 closed, assigned to nobody

[2018-04-13 12:34] Mshaik02 commented on #19586
Hello
Any help on my issue can be greatly appreciated.

[2018-04-13 12:53] ronnylt commented on #18860
There are various cases where passing '--force' to a homebrew action is useful.  For example, when linking keg-only formulae.

[code]

[2018-04-13 12:57] BlackthornYugen opened #38730 "Cannot remove A records via dnsmadeeasy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnsmadeeasy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_COW_SELECTION(env: ANSIBLE_COW_SELECTION) = random
DISPLAY_ARGS_TO_STDOUT(env: ANSIBLE_DISPLAY_ARGS_TO_STDOUT) = True

##### OS / ENVIRONMENT
OSX targeting CENTOS 7

##### SUMMARY
When removing an A record using DNS Made Easy's module, the module says nothing happened. That's

[2018-04-13 13:04] #38290 closed, assigned to Akasurde

[2018-04-13 13:14] sm4rk0 commented on #37404
I can't reproduce with 2.4.4.0 (that's what I got by running from the current stable-2.4 branch).
@jlozadad What's your ansible version? And is there an old instance of xml module (eg. from [Ansible Galaxy](https://galaxy.ansible.com/cmprescott/xml/)) hanging around?
`add_children` is not idempotent and the strange thing is that the file is not changed.

[2018-04-13 13:20] jgrip opened #38732 "network_cli times out at self._ssh_shell.recv(256) randomly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
Tested with various Cisco network devices, IOS, IOS-XE and NXOS with varying levels of OS versions.

##### SUMMARY

Seemingly random network_cli fails to connect proper to a device it could previously do so. I've found no pattern as to when

[2018-04-13 13:26] evgeni opened #38733 "openssl_certificate only asserts present extensions, ignoring absent ones"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
virgin

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`openssl_certificate` can assert certain parameters of a certificate, but fails to do so if that specific parameter is not set at all. for example a certificate w/o a subjectAltName entry (at all), will not be marked as not ha

[2018-04-13 13:34] rmsys opened #38735 "DNS don´t update in Route53 AWS - private zone/VPC"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- route53

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
- Linux ip-xxx-xx-x-x 4.9.51-10.52.amzn1.x86_64 #1 SMP Fri Sep 29 01:16:19 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

##### STEPS TO REPRODUCE

If I create new record, ok:

[code]

- If I update a existent record, doesn't works:

[code]

"msg": "R

[2018-04-13 13:44] yaplej commented on #38420
@bdowling

I think a general method to handle multi-line inputs instead of only handling the "banner" command would be great.

Does your solution work if your using "parents:macro name PHONE"?  If you end up making a PR I would certainly be willing to help test it.

[2018-04-13 13:46] CayoM opened #38736 "nsupdate cant insert multiple A records with the same name for different IPs (no DNS loadbalancing possible)"
##### ISSUE TYPE
not really sure if this is a bug or more a feature request

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.4 LTS

##### SUMMARY
im setting up a DNS server and setting DNS records dynamically using the module nsupdate. Everything is working as supposed to, however when i want to create multiple A records with the same name for diffe

[2018-04-13 13:49] jylenhof-auchan opened #38737 "RFE add user & group parameter support for find module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- find module

##### ANSIBLE VERSION
any

##### SUMMARY
Please add support for user and group option like in unix/linux find in find module

[2018-04-13 13:49] mkrizek commented on #38735
Well, have you tried setting `overwrite` as the message suggests? Seems like that's missing in the docs.

[2018-04-13 13:55] ryansb commented on #38658
Undescored IAM roles should work now, which fixes part of this issue but not the whole thing.

[2018-04-13 13:56] jacobsalmela commented on #34164
I ran into the same issue as @mattthehearn when making a custom inventory script pulling information from Spacewalk.  Works in 2.5.0 cli but not in AWX 1.0.4.91

[2018-04-13 14:04] shadowx787 commented on #30088
I'm still getting this same error in Ansible 2.5

[2018-04-13 14:09] yaplej commented on #30562
I have been working to identify why my config executes on every run.  The only difference between my running configuration and the playbook is that I had to use some ASCII values for ^V and ? representation.  I have event tried to exclude those lines but it still re-configures this on each run.

IOS Config
[code]

Playbook
[code]

Is there any way to debug so it shows me the lines that are not mat

[2018-04-13 14:29] alambike commented on #29814
Similar issue here with cifs:

[code]

[2018-04-13 14:35] donpatzone commented on #38669
It seems the system I tested this on does not have the capability to export the output via json as the system version is a bit old (System image is 5.1)
I have tried to re-run the playbook for a different device running 7.3, but the output looks to be the same error.

Both devices are Nexus 5548

Here are the details of the second device and a run of nxos_facts against with debug enabled. What I n

[2018-04-13 14:35] jtyr commented on #29814
Does the problem persist even if you unmount it manually and then run Ansible again?

[2018-04-13 14:41] AlanCoding commented on #34164
You can upgrade Ansible inside of your AWX server

[2018-04-13 14:44] jean-christophe-manciot commented on #37200
Here is my final successfully tested setup  with the latest packages (```python-docker``` is kind of old) without the need to use a virtualenv:
- docker-ce                          deb from docker PPA
- docker                             pip2 from PyPi
- docker-compose        pip2 from PyPi
- requests                           pip2 from PyPi (==2.18.1 and not 2.18.4)

The last line is the crucial

[2018-04-13 14:46] machacekondra commented on #38609
close_me

[2018-04-13 14:50] #38609 closed, assigned to nobody

[2018-04-13 14:52] UnitedMarsupials commented on #38684
Ok, the group-module I thought of, is about adding a Unix group. To dynamically add a group, one would have to use the [add_host](http://docs.ansible.com/ansible/latest/modules/add_host_module.html) module. The best I can come up with is something like this:
[code]
The above playbook completes without an error, but, unfortunately, the `add_host` task is applied only to the very first host in the i

[2018-04-13 14:59] bcoca commented on #38684
or just use the constructed plugin as i mentioned above

[2018-04-13 15:11] abadger commented on #16850
Looks like this was only broken in 2.1.x.  Output from testing under all released versions from 2.0.0 to devel.
[code]

I'm going to close this as we no longer support 2.1.x and the problem is fixed everywhere else.

[2018-04-13 15:11] #16850 closed, assigned to nobody

[2018-04-13 15:15] adrianrise opened #38741 "s3_bucket Statement is missing required element"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Empty.

##### OS / ENVIRONMENT

macOS High Sierra

##### SUMMARY

Well, I am trying to update a current policy in a bucket and I get the following error:

[code]
And this is what I have in the playbook:

[code]

##### STEPS TO REPRODUCE

ansible-playbook -i inventory/hosts create_i

[2018-04-13 15:16] yaplej commented on #30562
I change it from replace block to replace lines and can see that its the lines that I am using ASCII codes.

[code]

Even though I am trying to exclude those lines they still run.
[code]

[2018-04-13 15:17] dustinblack opened #38742 "ansible_devices not populating partitions{} structure for NVMe devices"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 27 & RHEL 7.4

##### SUMMARY

When running 'ansible host -m setup' or when using gather_facts in a playbook, the partitions{} substructure for NVMe block devices under ansible_devices is not populated.

##### STEPS TO REPRODUCE

1. Have an NVMe device

[2018-04-13 15:28] dougthor42 commented on #37408
@bcoca Well hot damn! My Google-fu was apparently lacking, sorry for the trivial question. That's pretty much exactly what I was looking for. Thanks a bunch!

Is that command also supposed to pull in variables from the `group_vars` folder?

If so, either I have a fundamental misunderstanding of things (likely) or it doesn't appear to be working as intended (probably less likely). Below is the exam

[2018-04-13 15:33] yaplej commented on #30562
I think this might be two issues now.

1. I am using ASCII HEX values for SYN and ? but those does not match the IOS config.  I could not figure out how to represent ^V and ? in IOS without using the HEX values.  This case requires a literal SYN and ? or else the IOS will think you are typing the "help" command.
2. diff_ignore_lines does prevent the differences in those lines from being detected a

[2018-04-13 15:36] adrianrise commented on #38741
Ok, tried different options so seems that malformed json was the guilty .
Sorry for this.

[2018-04-13 15:36] #38741 closed, assigned to nobody

[2018-04-13 15:43] cgswong opened #38743 "Documentation report: Files Modules page has description and links for file plugin page"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
File Module

##### ANSIBLE VERSION
[code]
and Core Development

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The [Files modules](http://docs.ansible.com/ansible/devel/modules/list_of_files_modules.html) page is using the link and link description for the [file plugin](http://docs.ansible.com/ansible/devel/plugins/l

[2018-04-13 15:55] bcoca commented on #37408
looks like bug

[2018-04-13 15:56] abadger commented on #22773
Sorry for taking so long to process this bug report.

The validate option does not take shell metachars for safety reasons. I checked the documentation for the validate parameter as far back as 1.9 and it reads:

I also ran with checkouts of all releases from 1.7 onwards and it similarly failed so I was unable to reproduce 2.2.0 allowing this.  However, I do note that things could have appeared to

[2018-04-13 15:56] #22773 closed, assigned to nobody

[2018-04-13 15:57] mkrizek commented on #38742
cc @alikins

[2018-04-13 16:04] bcoca commented on #37408
this seems to fix it:
[code]

[2018-04-13 16:07] bartekbrzezinski opened #38745 "validate does not set user/group on temp file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A, reproductible on any version of Ansible
##### SUMMARY

This is similar to #3319 - validate in template module does not set user/group on temporary templated file, it's owned by the user ansible is run as. If validating command expects different user/gr

[2018-04-13 16:15] mkrizek commented on #30088
@shadowx787 is the following not sufficient?
[code]

If not, would you mind creating a new feature request? Thanks!

[2018-04-13 16:19] bartekbrzezinski commented on #38745
PR #38748 created.

[2018-04-13 16:25] goneri opened #38749 "an error should be raised if include_role is used in conjunction with delegate_to"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### SUMMARY

Follow up to https://github.com/ansible/ansible/pull/35199 and Ansible 2.5, roles called through `include_role` will be run on the localhost with Ansible 2.5, even if `delegate_to` is in use. This is a serious behaviour change likely to break system in production. it's still undocumen

[2018-04-13 16:29] saichint opened #38750 "nxos_igmp_interface issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_igmp_interface module.

1. There are lot of documentation errors. These look like copy/paste directly from bgp module
2. We cannot set

[2018-04-13 16:34] dougthor42 commented on #37408
Yup, that worked for me too. I guess I won't open a new issue then. 😄

[2018-04-13 16:41] saichint opened #38753 "nxos_igmp_interface oif_source and oif_prefix are lists but not strings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE

nxos_igmp_interface module has 2 parameters: oif_source and oif_prefix. Both of these are optional and we cannot have source without prefix but we can have prefix wi

[2018-04-13 16:58] abadger commented on #23836
<nod> synchronize with appropriate rsync_opts seems like it is the way to go.  To achieve a copy from two directories on the remote side, you probably want to utilize delegate_to (For synchronize and synchronize alone, delegate_to works this way.  Most modules act differently):

[code]

Closing this now.  If anyone has more questions feel free to ask on the mailing list or the IRC channel.  I'll p

[2018-04-13 16:58] #23836 closed, assigned to nobody

[2018-04-13 17:05] BenCoffeed commented on #23836
Thanks @abadger!

[2018-04-13 17:09] michaelkaye opened #38754 "sqlite sql runner for inserting or upserting simple configuration into a database"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
sqlite_runner

##### SUMMARY

When provisioning some software which uses a sqlite database to store configuration, it would be beneficial to be able to execute queries against that database to commit information as part of the provisioning process.

Additionally, it would be beneficial to have the difference between "changed" and "ok" if re-p

[2018-04-13 17:24] abadger commented on #23902
Sorry for taking so long to reply to this bug.

This problem was fixed in 2.4.0.  As part of the fix, a new parameter was added, local_follow.  local_follow controls whether symlinks in the source are dereferenced (to copy the contents of the source file) or copied as a symlink.  I believe for your case, you want to use local_follow=False.  To show how local_follow works, here's an example playboo

[2018-04-13 17:24] #23902 closed, assigned to nobody

[2018-04-13 17:29] AlanCoding commented on #6857
I hit an error that resulted in

[code]

I believe that this constitutes some bad error handling, will look into filing an issue.

[2018-04-13 17:37] abadger commented on #29589
<nod> Yeah.  For a large number of files with recursive, there are definitely performance issues (although, as you said, 2.4.0 sped that up considerably).  This bug report was specifically about copying one 538 byte file so it's something else.... Since it doesn't seem to be a reproducible problem in copy, something about the connection seems more likely (for this issue... the recursive issue is d

[2018-04-13 17:44] Mihai-CMM commented on #29589
At that time I've found an workaround. I am not working on that project anymore but i am positive it was a network issue created by DF (don't fragment) flags on the pfsense. A few months later after i've opened this issue we hit other problems with SCP or ssh caused by DF.

[2018-04-13 17:47] mprahlkamps commented on #38466
@Akasurde The PR is working fine. Also the hostname can be changed now.

One problem I still have is that I am forced to use ubuntu. But this doesn't seem to be an Ansible problem. It seems to be related to the VMware tools not working properly on Debian.

[2018-04-13 17:47] #38466 closed, assigned to Akasurde

[2018-04-13 17:52] Akasurde commented on #38466
@mprahlkamps Thanks for reporting and testing the PR.

[2018-04-13 17:55] darkl0rd commented on #25662
I've been following this feature since forever, but it keeps being moved around or postponed. When can we expect these to be integrated?
It would be a great addition if we can finally assemble swarms, manage its nodes and deploy services onto the swarm through Ansible.

[2018-04-13 18:14] abhigrover commented on #30441
Are there any plans of making the fix available in previous releases? I am on version 2.5.0. I just recently upgraded from 2.3 and it is excruciatingly slow.

Thanks!

[2018-04-13 18:22] grantcurell opened #38756 "net_ping returns unclear error"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
net_ping

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS / RHEL Server

##### SUMMARY
Error message for net_ping unclear.

##### STEPS TO REPRODUCE
Create task and run:

[code]

##### EXPECTED RESULTS
It pings 192.168.1.1 on all hosts in inventory file and fails if 192.168.1.1 is pingable.

##### ACTUA

[2018-04-13 18:39] ghost opened #38757 "win_group_membership NetBIOS domain lookup makes invalid assumptions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_group_membership

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A -- issue in Windows PowerShell module
##### OS / ENVIRONMENT

Windows - specific version, and environment of Ansible control node, N/A
##### SUMMARY

The win_group_membership module attempts to look up the NetBIOS name of a domain if an FQDN is passed in.

https://gi

[2018-04-13 18:49] baldwintm commented on #17914
Was there any movement on this in 2.5?

[2018-04-13 18:59] tswanson27 commented on #38757
Updated to include correct template and more info

[2018-04-13 18:59] poiriermike commented on #38232
Getting a similar error with the the devel version
[code]

[2018-04-13 19:00] #28438 closed, assigned to nobody

[2018-04-13 19:06] rmsys commented on #38735
Hi mkrizek, tks attention"

Change from:

state: present
to
state: overwrite (and command: overwrite), but:

[code]

[2018-04-13 19:09] jmcgill298 commented on #38756
@grantcurell do you have `ansible_network_os` defined in your inventory?

[2018-04-13 19:11] jmcgill298 commented on #38756
here is an example taken from https://www.ansible.com/blog/coming-soon-networking-features-in-ansible-2.5
[code]

[2018-04-13 19:12] bcoca commented on #17914
@baldwintm  some of the groundwork is there, but the feature is not ready yet.

Closing this ticket in favor of the proposal that includes the feature https://github.com/ansible/proposals/issues/35

[2018-04-13 19:12] #17914 closed, assigned to nobody

[2018-04-13 19:14] garthkerr commented on #29255
@brodo @jedi-marcus @xcambar using ansible 2.5.0 and npm 5.8.0 try this workaround:
[code]

[2018-04-13 19:16] shadowx787 commented on #30088
@mkrizek Thanks for updating the docs but when utilizing just the list parameter I get the following error:

I'm just running the command on the cli for right now trying to get it to work.  I'm running the following command:

Which give's the error above. The original ansible playbook I was running into this error with was from ROCK NSM's deploy_rock.yml file which had the following task:

[code]

[2018-04-13 19:18] edrozenberg opened #38760 "Facts (os/distro version) - recent Slackware change requires module tweak"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/facts/system/distribution.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

<Blank output>

##### OS / ENVIRONMENT

Controller: MacOS 10.13.4 (17E199)
Managing: Slackware64-current 14.2+ (pre-15.0)

##### SUMMARY

On 2018-04-12 Slackware made a change to the version string stored in `/etc/slackware-version`, and

[2018-04-13 19:19] #38735 closed, assigned to nobody

[2018-04-13 19:56] andrewsaraceni commented on #38757
Hey @tswanson27, using the example you provided, could you confirm if the following syntax would succeed in adding the users to the group, i.e. using DOMAIN\username (but not FQDN)?

[code]

The WMI query you reference, and that entire bit of code surrounding it (lines 78-86), is mostly designed as a convenience translation for cases where an FQDN is provided, as the domain name is what's ultimate

[2018-04-13 20:09] jedi-marcus commented on #29255
@garthkerr  using ansible 2.5.0 and npm 5.6.0, this worked for me

[2018-04-13 20:12] jleaders opened #38762 "npm Module ValueError: need more than 1 value to unpack"
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 17.10

##### SUMMARY
NPM module throws traceback

##### STEPS TO REPRODUCE
Create a playbook test.yml with the following
[code]

##### EXPECTED RESULTS

Runs sudo npm install -g bower

##### ACTUAL RESULTS

[code]

[2018-04-13 20:14] knightsg commented on #35796
This is happening for me also on stable-2.4 (commit #00348c3d):

TASK [common : set system timezone] ********************************************
ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory
to see the full traceback, use -vvv
FATAL: command execution failed

[2018-04-13 20:19] mohclips opened #38763 "ansible role scope issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible variable scope

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 14.04 and RedHat 7.5  (both fully patched)

##### SUMMARY
ansible roles cannot overwrite the variables of other previous roles.

This maybe my misunderstanding of using role vars and scope, but the way it currently works doesn't seem co

[2018-04-13 20:22] #29028 closed, assigned to nobody

[2018-04-13 20:24] jleaders commented on #29271
I am using 2.5 and it still fails https://github.com/ansible/ansible/issues/38762

[2018-04-13 20:26] jleaders commented on #38762
Original issue, it's been open since 2.0: https://github.com/ansible/ansible-modules-extras/issues/1675

[2018-04-13 20:38] jleaders commented on #29301
I have the same error in 2.5
A playbook test.yml
[code]
A bower.json in the current dir:
[code]
`ansible-playbook test.yml -i localhost_inventory`

[2018-04-13 20:55] NT-TM commented on #38639
31128-09# show version | json
{"header_str": "Cisco Nexus Operating System (NX-OS) Software\nTAC support: http://www.cisco.com/tac\nCopyright (C)
2002-2016, Cisco and/or its affiliates.\nAll rights reserved.\nThe copyrights to certain works contained in this sof
tware are\nowned by other third parties and used and distributed under their own\nlicenses, such as open source.  Th
is software is provi

[2018-04-13 21:03] bdowling commented on #38420
@yaplej  fwiw, on my 9500 it doesn't appear that a macro is indented, so parents would not apply.

Which, IMHO is really broken on Cisco's part not to indent that.  It doesn't for banner either.  But that's the way it is.

[2018-04-13 21:11] #24887 closed, assigned to Akasurde

[2018-04-13 21:29] poiriermike commented on #38232
Interesting to note, I've only observed the module failing if the system reports there are changes. Otherwise it works just fine.

[2018-04-13 21:49] mohclips opened #38767 "ansible shell module fails if directory is deleted by command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/nick/workspace/ansible/bug-shell/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/nick/workspace/ansible/bug-shell/ansible.cfg) = -o UserK...

##### OS / ENVIRONMENT

ubuntu 14.04 and RedHat 7.5 (fully patched)

##### SUMMARY

If the command run by the shell modul

[2018-04-13 21:59] awilki01 opened #38768 "ios_command module bug with IOS software installation command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Ansible Control Server: Red Hat Enterprise Linux Server release 7.4 (Maipo)
Cisco IOS version: Cisco IOS Software, IOS-XE Software, Catalyst L3 Switch Software (CAT3K_CAA-UNIVERSALK9-M), Version 03.07.04E RELEASE SOFTWARE (fc1)

##### SUMMARY

#####

[2018-04-13 22:05] indivisiblewalrus commented on #37936
I don't understand this statement.  The device configures 'spanning-tree port type edge trunk' and any subsequent commands, on the port, without issue, via CLI.

This is an ansible specific issue with what i suspect caused by the output generated by the 'spanning-tree port type edge trunk' command.   When issuing 'spanning-tree port type edge trunk' through ansible, no other configuration is appli

[2018-04-13 22:11] sivel commented on #38743
Closing as a duplicate of https://github.com/ansible/ansible/issues/38439

[2018-04-13 22:11] #38743 closed, assigned to nobody

[2018-04-13 22:44] dumblerod opened #38769 "lambda_policy is complaining about invalid characters that should be accepted."
- Bug Report

##### COMPONENT NAME
lambda_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible is on Redhat

##### SUMMARY
lambda_policy module is being called and I'm passing in a ARN to the function_name attribute.  Getting an error:
Function name arn:aws:lambda:us-east-1:999999999999:function:startinstance:1 is invalid. Names must contain only alphanumeric c

[2018-04-13 22:57] poiriermike opened #38770 "win_deploy_helper module for Windows"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

deploy_helper

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host
Ubuntu 16.04
Target
Windows

##### SUMMARY

Add support for deploy helper in a windows environment.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-13 23:08] garthkerr opened #38771 "Add working directory variable by default"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
manager

##### SUMMARY
Request a built-in variable `awd` for ansible working directory. Expected result of the implementation:
[code]

##### Why?
There are several use-cases where a role might need a reference to the ansible working directory or root directory structure of the [scm] repository, and in many cases, stacks of relative `../..` ref

[2018-04-13 23:12] bcoca commented on #38771
just define a var:
```awd: "{{lookup('pipe', 'pwd')}}"```

[2018-04-13 23:58] willthames commented on #38769
I've seen this before - it's usually the trailing `:1` on the ARN which is the version. I think I use something like `function_arn.split(':')[:7]|join(':')`. This will work whether or not the version is returned.

Basically the function_arn  varies based on different scenarios - whether it's an update or a create or no change to a lambda - we just provide the results from calling AWS's API but we

[2018-04-14 00:22] du5tball opened #38772 "homebrew_cask outputs "OK" and does nothing, although it should have changed"
##### ISSUE TYPE
 - Bug Report (Regression)

##### COMPONENT NAME
homebrew_core

##### ANSIBLE VERSION
$ ansible --version
ansible 2.5.0
  config file = /Users/dustball/.ansible.cfg
  configured module search path = ['/Users/dustball/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/dustball/workspace/venv/ansible/lib/python3.6/site-packages

[2018-04-14 00:26] du5tball commented on #38772
Now that I've gotten the formalities out of the way: The playbook above produces an erroneous "OK", whereas removing "connection" and "become" and instead putting "remote_user" produces "changed".

While testing for erroneous configurations I managed to find one that printed the homebrew-output (I think I forced root everywhere I could):

PLAY [*] **************************************************

[2018-04-14 00:38] linux-modder commented on #38772
Note: While it was only for debug, the fail on ssh root@localhost is expected on a securely managed system.

Is there anything in ansible.log or the homebrew instance on that node that indicates any permissions issues or space issues?

Also see if adding a notify:    adds any useful info or shows where things might be disconnecting and giving false results back to ansible.

[2018-04-14 00:59] ushuz commented on #25662
@darkl0rd take a look at #24588 #19229 mentioned above, you can configure ansible’s `library` option to integrate these modules by yourself

[2018-04-14 01:09] subbireddyg commented on #23320
Can anyone help on below issue?
server2 | UNREACHABLE! => {
    "changed": false,
    "msg": "ssl: HTTPSConnectionPool(host='172.31.44.138', port=5986): Max retries exceeded with url: /wsman (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x7fe902bb3050>, 'Connection to 172.31.44.138 timed out. (connect timeout=30)'))",
    "unreachable": true
}

[2018-04-14 02:47] yaplej commented on #30562
+label affects_2.4

[2018-04-14 02:52] bcoca commented on #38701
or just add `check_mode: off`  for that task if you are ok with relying on the `creates` option

[2018-04-14 03:31] harrytruman opened #38776 "Network Modules Running Slower After Upgrading to Ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
All network modules for all device families. E.g., ios, ios-xr, nxos, eos, etc...

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.4
3.10.0-693.11.1.el7.x86_64

##### SUMMARY
There's a significant difference in speed/performance after upgrading to 2.5 from 2.4.3. Result are unaffected by scale. I've tested

[2018-04-14 03:35] Akasurde commented on #29757
@gkhays Could you please check with latest vmware_guest module and let us know if it works for you ?

needs_info

[2018-04-14 04:54] bddenhartog commented on #35255
I'm building [Archer][https://github.com/bddenhartog/archer], a playbook for managing Arch Linux installations. The intended default target is simply `localhost`, and the intended use is running the playbook via `ansible-pull`.

My `/etc/ansible/hosts` file exists and has just one line:

[code]

And my playbook is pretty simple:

[code]

My **`/etc/hosts`** has two hostnames set up for my local ma

[2018-04-14 05:12] #38776 closed, assigned to nobody

[2018-04-14 05:12] harrytruman commented on #38776
Closing to get more data.

[2018-04-14 05:53] #29807 closed, assigned to nobody

[2018-04-14 08:29] darkl0rd commented on #25662
@ushuz Yes, that's what I did as a workaround a long time ago.

[2018-04-14 09:31] zakabluk opened #38777 "ansible_fqdn different from ansible_hostname"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Generated facts with mistake.

##### ANSIBLE VERSION

ansible 2.4.2.0
python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]

##### CONFIGURATION

default config

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

I generated facts for server and have had result
Connecting to e

[2018-04-14 09:59] ushuz commented on #25662
@darkl0rd I've sent some patches to #24588 but it didn't get merged by PR author yet. You may try merging all the changes and opening a new pull request to get these modules merged ASAP if you need.

[2018-04-14 10:49] umrikar opened #38778 "vmware_vsan_cluster unable to use vcenter creds"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vsan_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-14 12:04] Daryes opened #38780 "Ansible 2.4.4.0 : loop_control label keep repeating the first item"
Didn't saw this issue while searching

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
loop_control

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 Kernel 4.4.0-21-generic x86_64

##### SUMMARY

With Ansible 2.4.4, the loop_control statement doesn't work properly and will always repeat the first item at each iteration.

##### STEPS TO REPRODUCE

[cod

[2018-04-14 13:13] JimFicarra commented on #11551
+1

[2018-04-14 14:10] mattclay commented on #36083
Another unstable test run: https://app.shippable.com/github/ansible/ansible/runs/61381/67/tests

[2018-04-14 15:03] rduffner opened #38781 "zfs module does not seem to remove datasets"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

zfs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS HS 10.13.4 managing FreeBSD 11.1-RELEASE

##### SUMMARY

It seems the module doesn't actually destroy a zfs filesystem.
I want to destroy some default filesystems on a new FreeBSD zfs-on-root install because I simply don't need them.
I currently have a shell

[2018-04-14 16:16] Chakki13 commented on #22025
I used : set_fact: rpm_list="{{ rpm_files.files | map(attribute='path') | list}}"
I successfully used in yum:

[2018-04-14 16:25] Akasurde commented on #38778
@umrikar Thanks for reporting this issue. I guess error message is pretty clear about the situation. What are you trying to achieve here ?

needs_info

[2018-04-14 16:31] Akasurde commented on #33284
@mowntan Can you please check this patch https://github.com/ansible/ansible/pull/38369 and let me know if it works for you ?

[2018-04-14 16:32] Akasurde commented on #33284
needs_info

[2018-04-14 16:32] Akasurde commented on #38605
@Joeskyyy Can you please check above PR and let me know if it works for you ?

needs_info

[2018-04-14 19:43] salman1485 commented on #38768
what issue do you get when you run through ansible?

I've used below setup plenty of times (but not with 2.4.2) and it has worked.

- name: Upgrade IOS
  ios_command:
    commands:
      - "software install file flash:{{ upgrade_file }} on-reboot"
    timeout: 1200
    provider: "{{ cli }}"
  register: softwareinstall

- name: Reboot Device
  ios_command:
    commands:
      - "write mem\ny"

[2018-04-14 20:45] tterranigma commented on #38771
BTW, there is also the `"{{ ansible_facts.env['PWD'] }}` variable that you can use.

[2018-04-14 22:11] JoshuaTPritchett commented on #38702
@symgryph Have you checked the ownership of the file itself? Even though it's in the **admin** user's directory the file may have been created by **root**.

[2018-04-14 23:40] #35751 closed, assigned to nobody

[2018-04-15 02:34] symgryph commented on #38702
Sure root does own it, old version 2.4.2 had no such problem. Homedir for root is o-rwx g-rwx.

Thomas J Munn

[2018-04-15 02:38] umrikar commented on #38778
since in the documentation its given that you can use either vcenter creds or ESXI creds.I am expecting to use vcenter creds to configure ESXI host.My ESXI host is part of cluster in vcenter

[2018-04-15 04:14] Akasurde commented on #35665
@dkirrane Could you please try suggestion by @phemmer - https://github.com/ansible/ansible/issues/35665#issuecomment-375859256 and let us know if it works for you ?

needs_info

[2018-04-15 07:07] theorun commented on #38701
@bcoca That would result in the command actually being ran if the file is there.
I want the command file to actually check in check_mode if, and only if, the creates argument is specified.

[2018-04-15 07:35] gundalow commented on #38776
Hi, Thanks for the report. Look forward to seeing more data.

When you have that could you please raise a *new* issue and list the component as just (say `ios_command`.
Ansibullbot is trying to be helpful by notifying everyone that is listed as a maintainer for `network`, hence the huge cc list.

No way for you to know about this. It happens from time to time. I'll have a think to see of we can im

[2018-04-15 09:39] kbiernat opened #38785 "Pip module with empty names list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This isn't purely Ansible problem, but I think handling of this is purely Ansible side.
After recent release of pip10, it's behaviour changed when list of packages is not provided.
Throws an error with empty list.

##### STEPS TO REPRODUCE

[co

[2018-04-15 09:49] du5tball commented on #38772
With ansible 2.4.2.0, ansible does throw an error:

`fatal: [127.0.0.1]: FAILED! => {"changed": false, "msg": "Error: Running Homebrew as root is extremely dangerous and no longer supported.\nAs Homebrew does not drop privileges on installation you would be giving all\nbuild scripts full access to your system."}`

With ansible 2.5.0.0, the debug output is:

`ansible-playbook 2.5.0
  config file =

[2018-04-15 09:53] ssbarnea opened #38786 "Ansible display verbosity cannot be different than log file verbosity"
##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
While it is possible to tell ansible to log to file using the

At this moment there are 3 variables/options that do affect the output behaviour:
* ``ANSIBLE_STDOUT_CALLBACK``
* ``ANSIBLE_VERBOSITY``
* ``ANSIBLE_DEBUG``

The most

[2018-04-15 09:54] ssbarnea commented on #38786
@bcoca I think that you are already aware about this issue and I remember that last year you pointed me to a google document related to logging refactoring but somehow I was not able to find the document again.

[2018-04-15 10:53] Hubbitus commented on #29396
As workaround works:
[code]
but looks a bit ugly.

Do you plan fix that?

[2018-04-15 12:05] tijmenvandenbrink opened #38787 "azure_rm_resourcegroup idempotency broke when specifying location"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`
DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = [u'/home/tijmen/ansible/roles']
`
##### OS / ENVIRONMENT

`
Ansible control node: "16.04.4 LTS (Xenial Xerus)"
Trying to create/update resource_group in Azure
`
##### SUMMARY

When running the below task it will create the

[2018-04-15 12:24] alambike commented on #29814
It seems the problem was because some process was using the drive, so ansible was not able to umount it.
Changing to `state=present` and rebooting the machine seems the more clean solution to my setup.

[2018-04-15 13:15] robinro commented on #38785
@kbiernat Thanks for this bug report.
I opened a PR with a fix: #38789. Please try whether this works for you.

As a best practice I would recommend to not run the module at all, if you can determine this is not necessary, so instead of your example above use
[code]

[2018-04-15 13:16] robinro commented on #38785
resolved_by_pr #38789

[2018-04-15 14:00] RalfJung opened #38791 "apt autoremove and autoclean ignored when other options are set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible host: Debian testing
Ansible remote: Debian Stretch

##### SUMMARY
`apt` silently does not run `autoremove` or `autoclean` when it is doing other things, like `upgrade`.

##### STEPS TO REPRODUCE
Based on the documentation, I expected the following tas

[2018-04-15 16:27] LoTx commented on #5564
it's seems that there's severals good answer but I've tried @superawesome 's and it worked perfectly :)

[code]

thx !

[2018-04-15 17:53] Chakki13 commented on #5463
- set_fact: rpm_list="{{ rpm_files.files | map(attribute='path') | list | }}"
It works for the below:
  yum:
    name: "{{rpm_list}}"

But,
When I use in command module it is not treating the variable properly. It fails.
 command: "ls -l {{rpm_list}}"

Debug shows like this : ["ls", "-l", "[u/tmp/

Could anyone help with this please ? - We are using ansible 2.3.1.0

[2018-04-15 18:09] KingJ commented on #26173
This caught me out whilst trying to use `--strip-components 1`. I fixed it by instead using `--strip-components=1`, but I could have also added a second item to extra_opts as per the documentation.

(just noting this here for anyone else who stumbles across this in future!)

[2018-04-15 20:10] jervislam0911 commented on #32004
I still got the similar issue running against vsphere 6.5. key and values are populated in debug mode, but it doesn't actually configure the custom attribute.

[2018-04-15 20:32] hryamzik commented on #34329
bot_broken

[2018-04-15 21:31] MarkusTeufelberger commented on #38733
Yes, looks like a few ifs are missing there...

[2018-04-16 00:29] jrko commented on #38570
@ZuZuD working for me as well :+1:

[2018-04-16 01:45] Akasurde commented on #32004
@jervislam0911 What is your Ansible version ?

[2018-04-16 02:05] #38204 closed, assigned to Akasurde

[2018-04-16 02:10] jervislam0911 commented on #32004
@Akasurde I'm using Ansible 2.5 currently.

[2018-04-16 02:25] Akasurde commented on #32004
@jervislam0911 Could you please open a new issue with all details such as `-vvvv` logs and playbooks used ?

[2018-04-16 05:00] samiranb123 commented on #33873
I understand usage of HTTPS is to make it secure, which happens through certificate verification.
What I gathered here, issue states to provide a way for HTTPS flow, which is not the way it works now and always takes HTTP as default.
Certificate verification is a new feature or part of this bug? For that maybe ZAPI has to be modified as well. Is it OK to modify ZAPI(and possibly urllib usage if it

[2018-04-16 05:00] strarsis opened #38795 "become causes syntax error with failed_when"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL (Bash on Windows)

##### SUMMARY
Adding `become: yes` to command task results in syntax error.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Command is run as root, result is correctly evaluated.

##### ACTUAL RESULTS
[code]

[2018-04-16 05:50] willthames commented on #36083
@mattclay that test is weird. The test shows that the assertion fails but the console log shows the assertion passes:

[code]

The assertion *should* pass, as well, because the results from the preceding task are as expected.

If there is a second run of ec2_vpc_subnet, let me know, but searching for `:142` in the console log only showed one result for this assertion in the build_ci section.

[2018-04-16 05:57] PandikKumar opened #38796 "Installation Error during Apache in remote server using playbook"
Hi,
   I'm trying to install apache on a remote server.At this time, I'm unable to install the apache its show some error.Plz, help me to solve the issue.Thanks in advance.

 ansible-playbook install-httpd.yaml -v
Using /etc/ansible/ansible.cfg as config file

PLAY [webservers] **************************************************************

TASK [Gathering Facts] **********************************

[2018-04-16 06:31] oniseijin commented on #36400
I get the same issue, yet the results are fine when I do the same

error:

 "msg": "The xml ansible module requires lxml 2.3.0 or newer installed on the managed machine"

This hints that the python it is executing on needs this, rather than the "managing" host...this is a tough ask sometimes

<pre>localhost | SUCCESS | rc=0 >>
ansible (2.4.3.0)
asn1crypto (0.24.0)
bcrypt (3.1.4)
certifi (2018.1.18

[2018-04-16 06:43] shanumondal opened #38798 "Netapp ONTAP volume rename is not working."
##### ISSUE TYPE

 Bug Report

##### COMPONENT NAME

na_cdot_volume.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

 ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"

##### SUMMARY

Netapp ONTAP volume remane is not workin

[2018-04-16 07:03] cahlchang commented on #26958
Are there plans to respond to this issue?
I think that adding a check mode to this module is a very good idea.
Is there reason to not correspond?

[2018-04-16 07:08] cdman commented on #32854
This seems to be solved in 2.5.0 so I'm closing the issue.

Thank you all for your time and effort invested!

[2018-04-16 07:08] #32854 closed, assigned to nobody

[2018-04-16 07:10] cdman commented on #33183
Just a data point: the problem has went away for me in 2.5.0 - I would recommend to people in this thread to give that release a try and see if it solves it.

[2018-04-16 07:39] m3adow commented on #38439
Same for the `debug` module (Linking to https://docs.ansible.com/ansible/latest/plugins/strategy/debug.html#debug instead of https://docs.ansible.com/ansible/latest/modules/debug_module.html). I assume the fixes apply to this issue as well?

[2018-04-16 07:41] Vadims06 commented on #30986
Hi folks, how is it possible to get diff information from the ansible-playbook output? Does it store in a dictionary or a list?

[2018-04-16 07:42] umrikar opened #38799 "vsan datastore is getting partitioned, multiple vsandatastores getting created for every ESXI hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-16 07:51] ramondelafuente commented on #38770
I really don't know what happens here (the empty output is problematic) but this module was also never tested on windows - and I have no windows at my disposal to do any testing on.

If anyone who has access to windows and wants to dig into this issue, feel free to do so.

[2018-04-16 08:11] Vadims06 commented on #31129
@trishnaguha
So is it possible to get only diff results from the ansible playbook output, for example like this:
 interface Ethernet1/2
-  switchport access vlan 100
-  lldp transmit
-  lldp receive
?

[2018-04-16 08:53] lichensky opened #38801 "postgresql_privs: Support FOREIGN DATA WRAPPER and FOREIGN SERVER"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
postgresql_privs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible's `postgresql_privs` module is not supporting `FOREIGN DATA WRAPPER` and `FOREIGN SERVER` object types.

[2018-04-16 08:56] Fred-sun commented on #25492
@zikalino I meet the same error by running following playbook, is it the same problem?
[code]

[2018-04-16 08:59] ciberp commented on #38082
I can reproduce on Cat 4500-X as well.

[2018-04-16 09:13] jinyanroot opened #38802 "can't communicate with ABRT daemon"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
utils

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.5.0-py2.7.egg/ansible
  executable location = /bin/ansible
  python version

[2018-04-16 09:15] akcrisp commented on #14413
Grief - I wish people would read what I have done. Everyone just waiting for timeout risks a false positive. It would only take an app along time to shutdown and it will think ssh is up after reboot. I have tested it.

You are far better off checking ssh is absent first - that doesn’t rely on shh - uses a python socket connection

Sent from my iPhone

[2018-04-16 09:29] trishnaguha commented on #38669
@donpatzone The earlier issue you shared, Ansible failed as the device does not have json structured output support. In the last traceback Ansible seems to fail because of interface, but the earlier issue related to system resource isn't there.
For debugging `show interface | json` output would be helpful.
Thanks.

[2018-04-16 09:35] #38572 closed, assigned to nobody

[2018-04-16 09:35] wangjiyao commented on #38572
no

[2018-04-16 09:48] donpatzone commented on #38669
Hi,
the `show interface | json` output is above the traceback I provided.

BR

[2018-04-16 09:58] resyst-it commented on #36915
@Akasurde I tried your #37456 but i have errors.

I copied the plug-in here : /usr/lib/python2.7/dist-packages/ansible/plugins/inventory and /etc/ansible/inventory

With ansible-doc -t inventory -l in the list i have vmware_inventory

But with ansible -i inventory/vmware.yml -m debug -a "var=groups" poweredOn

[code]

This is my config file vmware.yml :

[code]

[2018-04-16 10:03] Akasurde commented on #36915
@resyst-it I think your configuration file should look like this -

[code]

[2018-04-16 10:17] ctria opened #38804 "The json callback plugin return multiple json results when multiple playbooks are executed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/json.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_STDOUT_CALLBACK=json

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The json callback plugin return multiple json results when multiple playbooks are executed.

##### STEPS TO REPRODUCE
Create 3 playbooks:

play1.yml:
[code]

play2.yml:
[code]

play3.yml

[2018-04-16 10:33] justjais commented on #35774
@Kanth7686 Thank you for your observation, modification of host_record name is correct with respect to nios. But currently the modification implementation is not in place. So, we will take this as enhancement in respective nios feature and it will be fixed as part of Ansible 2.6 release.

[2018-04-16 10:40] justjais commented on #36574
@Sunil788 and @brampling, Yes your observation regarding the modification of host_record name is correct with respect to nios. But currently the modification implementation is not in place for nios module.

So, we will take this as enhancement in respective nios feature and it will be fixed as part of Ansible 2.6 release.

[2018-04-16 10:56] erikbsap commented on #24536
why is such a bug, that was reported multiple times, not worked on?

[2018-04-16 11:06] sm4rk0 commented on #36400
@oniseijin yes, as [Requirements section for xml module](https://docs.ansible.com/ansible/latest/modules/xml_module.html#requirements) states:
[code]
Host that executes the module is the remote host.

@jacksonp2008 is docker1 the controlling machine or a controlled ("remote") one?

[2018-04-16 11:39] sieben commented on #35092
@mhalano I'm currently working on an Ansible Dynamic inventory native plugin for Scaleway. You can find it in this MR: https://github.com/ansible/ansible/pull/38739 Could you give it a try?

[2018-04-16 11:40] yurikhan opened #38807 "lxd_container: Manage devices separately"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(not relevant)

##### OS / ENVIRONMENT

Running on Ubuntu 16.04, controlling LXD 2.21 installed from xenial-backports

##### SUMMARY

The `lxd_container` module accepts a `devices` option. This makes it possible to mount host directories into the container:

[code]

However, th

[2018-04-16 11:45] donpatzone commented on #38669
Ah sorry,
was a bit confused. Since the output is a bit long I've put it into a [gist](https://gist.github.com/donpatzone/a85f72c2929400d5e7578a2569342dba).

I will try out the fix and will get back to you.

[2018-04-16 12:00] sylr opened #38808 "ansible-vault: inline yaml encrypt / decrypt"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
ansible vault

##### SUMMARY

Create new encrypt_yaml/decrypt_yaml function for vault (or ideally overload encrypt/decrypt)  which will encrypt/decrypt all keys that have a `!vault` tag.

##### EXPECTED RESULTS

prod.yml:
[code]
encrypt:
[code]
prod.yml:
[code]
decrypt:
[code]
prod.yml:
[code]

[2018-04-16 12:04] ffloimair opened #38809 "azure_rm_networkinterface module does not associate existing network security group when creating new NIC"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/user/git/ansible-playbooks/ansible.cfg) = [u'/home/user/git/ansible-playbooks/ansible/inventory']

##### OS / ENVIRONMENT

Debian GNU/Linux 9.4 ("Stretch")

##### SUMMARY

When I create a network-interface that should be used with an already

[2018-04-16 12:10] sylr commented on #38808
!component vault

[2018-04-16 12:15] jervislam0911 opened #38810 "vmware_guest is not setting "customvalues" against vSphere 6.5 on Ansible 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running on Red Hat Enterprise Linux Server 7.4
Running against vSphere 6.5 and ESXi 6.5

##### SUMMARY
Tasks run successfully and debug with no error. However, "**customvalues**" are not added even vSphere responds with: " Reconfigure virtual machine - Com

[2018-04-16 12:35] resyst-it commented on #36915
@Akasurde Yes it's ok now. But it's mandatory to add this line in ansible.cfg :
[code]
Is it mandatory -a "vars=groups" ? What is the other value of vars ?

Maybe other people don't use tags but if they want linux VMs. What is the best practice? Tag or have a filter in the config file with os_type = windows or linux ?

I will do several tests and use all the options of the inventory script.

[2018-04-16 12:36] rgarcia89 opened #38811 "iosxr_config admin: yes - Causes all following commands to fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- iosxr_config module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
iosxr_config with admin: yes statement is not leaving the admin mode after running the command. I am pretty sure that this worked wit

[2018-04-16 12:46] tv commented on #38312
Bad news. This was much bigger job than I had anticipated. It wasn't really an one day job to get this done correctly. And I had to get back to "real" work, so I reverted back to just using kubectl with shell module, which I was using before this module landed in 2.5.0.

It's just simple wrapper which writes kubeconfig from template variables and uses it with `kubectl --kubeconfig apply -f -` with

[2018-04-16 13:07] rgarcia89 commented on #38811
I just downgraded ansible to version 2.4.0 on my notebook an run the exact same playbook without any issues. So something must have changed with version 2.5 :-1:

[2018-04-16 13:25] ryansb commented on #30240
Agreed - the ec2_vol and ec2_tag modules are both capable of adding volume tags, and in the interest of not growing the `ec2` module API further, I think it's best to point users to the vol/tag modules instead.

[2018-04-16 13:25] #30240 closed, assigned to nobody

[2018-04-16 13:32] jinyanroot commented on #38802
I get the abrt log in blew:
id 0457134908960db9a310ec25e4fc97eb2de97b6b
reason:         path.py:47:unfrackpath:OSError: [Errno 2] No such file or directory
time:           Mon 16 Apr 2018 08:52:24 PM CST
cmdline:        /bin/python /bin/ansible -i /etc/ansible/production 10.220.20.18 -u tpuser -m shell -a 'ls -l /data/logs/'
package:        ansible-2.4.3.0-1.el7.ans
uid:            0 (root)
count:

[2018-04-16 13:34] ryansb commented on #33373
@bobobox Indeed - making this change to the ec2 module would break backwards compatibility, and be problematic for users that already have playbooks written.

I would appreciate your feedback on the `ec2_instance` module (included in Ansible 2.5 in a `preview` state). I haven't implemented instance size changing, but am thinking it would go something like this:

- User provides `instance_type` par

[2018-04-16 13:37] #30187 closed, assigned to nobody

[2018-04-16 13:39] bcoca commented on #38771
@tterranigma that reflects the 'remote target', not the local controller, it is also dependent on the connection info used to gather the facts.

[2018-04-16 13:40] ryansb commented on #29714
Closing, as this is not a bug. The `private_ip` parameter allows you to manually set the internal IP address, if you desire. Otherwise, the VPC/EC2 Classic network auto-assigns an internal IP address in the appropriate range. There is no option available to *not* have a private IP address, so the module should fail in this case.

[2018-04-16 13:40] #29714 closed, assigned to nobody

[2018-04-16 14:02] trondhindenes commented on #38532
I was afraid this was a problem on Ubuntu 18, but it seems to be problematic on Ubuntu 16.04 aswell, both running on VM and inside Docker containers.
I'll try and figure out how to repro this without sharing our entire codebase, but this happens when:
- Target node is windows (using winrm)
- There's a loong list of tasks in the play
- Each task essentially calls `include_role` targeting the same r

[2018-04-16 14:17] ogenstad commented on #37550
The problem is due to these lines:

[code]
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/cliconf/ios.py#L61-L62

[2018-04-16 14:27] trondhindenes commented on #38532
I think I've been able to get it to consume memory using this playbook/role thingy:
https://github.com/trondhindenes/ansible_bug_38532

Essentially:
main playbook includes a role, `parent_role`.
`parent_role` calls `child_role` multiple times.

Running this playbook it is observable that Ansible starts hogging memory. I'm getting that sense that memory usage is progressive, as it ramps up more and

[2018-04-16 14:34] sivel commented on #38804
This is a little tricky, since we do not have a callback method that executes at this point.  I've done a little test, and adding `__del__` seems to suffice, but it could be fragile.

I need to think on whether we should add a "finalizer" callback method, or whether `__del__` is sufficient.

The patch using `__del__`:

[code]

[2018-04-16 14:38] trondhindenes commented on #38532
I'm observing the following:
wook19: memory consumption: 680MB
wook21: memory consumption: 920MB
wook22: memory consumption: 1100MB

...and so on. Theres a noticeable jump as Ansible starts an `include_role` step, while the tasks inside the included role don't seem to have any effect on memory usage.

[2018-04-16 14:40] sivel commented on #38532
Is it possible that you could test whether this PR resolves or alleviates your issues? https://github.com/ansible/ansible/pull/38747

[2018-04-16 14:40] trondhindenes commented on #35796
possibly related:
https://github.com/ansible/ansible/issues/38532

[2018-04-16 14:45] trondhindenes commented on #38532
Thanks @sivel , i'll test it on the repro code I posted. (it takes a good 20mins to run)

[2018-04-16 14:48] shadowx787 commented on #26968
@vikramkhatri I am having this same issue, did you ever figure out the solution?

[2018-04-16 14:53] sivel commented on #38804
@ctria yes, depending on the goals, looking for a way to allow this to work with all callbacks would require a fundamental change in how stats are reported.

Currently there is only a `v2_playbook_on_stats`.  This is called at the completion of an individual playbook, and that is the method all callback plugins utilize to print this type of information.

My diff was largely ignoring the majority,

[2018-04-16 14:55] trondhindenes commented on #38532
So far it's looking very good: Ansible 2.5.0 stops at 600MB consumed against a "dumb" role just printing stuff, the PR branch barely touches 70MB. It's also faster, around twice as fast against the "dumb" test role.

[2018-04-16 15:00] Glandos commented on #24365
This should be workaround with #38096. Note that you should provide some rsh options like:

`rsync_opts: ['--rsh=/usr/bin/ssh {{ lookup('config', 'ANSIBLE_SSH_ARGS') }} -S {{ ssh_control_path }}']`

This only work if you previously set the `ssh_control_path` variable with some other mean than a lookup, since it seems impossible (to me) to get this variable.

[2018-04-16 15:01] Akasurde commented on #38810
@jervislam0911 Thanks for reporting this issue. I would like to know if you want to set `custom attributes` or `configuration parameters` ? With `customvalues` parameter, you are setting `configuration parameters` in the below picture.

<img width="702" alt="screen shot 2018-04-16 at 8 21 57 pm" src="https://user-images.githubusercontent.com/633765/38816798-8b8d56ec-41b4-11e8-8946-732ae186f886.png

[2018-04-16 15:01] Akasurde commented on #38810
needs_info

[2018-04-16 15:06] pmusolino-rms commented on #38641
This also affects 2.5.

[2018-04-16 15:11] trondhindenes commented on #38532
PR branch numbers:
wook19: memory consumption: 51MB
wook24: memory consumption: 53MB

etc. all in all, this PR seems to fix all the things. I don't know anything about the possible regressions, but I would argue that this PR should be considered for hotfixing onto Ansible 2.5.x, as the released version of Ansible simply is broken.

[2018-04-16 15:13] sivel commented on #38532
I am working on it.  I expect it to go into at least 2.5 and 2.6.  Potentially even 2.4.

I'll update this issue when the PR merges.

[2018-04-16 15:16] Qalthos opened #38817 "[EAPI_NXAPI_PLUG] New connection type for HTTP(S) connections"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

http_api

##### ANSIBLE VERSION

[code]

##### SUMMARY

See also ansible/proposals#103

[2018-04-16 15:18] trondhindenes commented on #38532
awesome. Thanks so much for your help! Looking forward to getting this merged in.

[2018-04-16 15:27] jervislam0911 commented on #38810
@Akasurde Thanks for pointing that out and you're right, values are get set in the configuration parameters. My intention was to set custom attributes, hope I can get a go with vmware_guest_attribute

Thanks again

[2018-04-16 15:27] #38810 closed, assigned to nobody

[2018-04-16 15:30] Glandos commented on #38037
@mtthb It was working with Ansible 2.4.3.0. And it's not working with Ansible 2.5.

[2018-04-16 15:33] ganeshrn opened #38819 "[NET_CONF] Add generic netconf_rpc module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] netconf_rpc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

See Proposal https://github.com/ansible/proposals/issues/104

[2018-04-16 15:38] ganeshrn opened #38820 "[GRPC_PLUG] New connection type for grpc"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

connection/grpc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add new connection type for grpc based communication

[2018-04-16 15:47] jgrip commented on #38732
I added hex dumping of the prompt string to match and found that sometimes my input string into _find_prompt does not have the leading newlines:

Working:
[code]

Non-working:
[code]

Making the first part of the prompt regex in plugins/terminal/ios.py optional seems to resolve the issue, but I'm not sure of any side effects of this:
[code]

[2018-04-16 16:03] sivel commented on #38699
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-16 16:03] #38699 closed, assigned to nobody

[2018-04-16 16:06] sivel commented on #38704
What is the contents of `/home/vagrant/kolla-ansible/tools/multinode`?

needs_info

[2018-04-16 16:24] sivel commented on #38777
Ansible populates the value of `ansible_fqdn` using the `socket.getfqdn()` function.

`getfqdn` is documented as:

So the process that is followed is to use `socket.gethostname` which should return the locally configured hostname, then use that value to perform a DNS lookup of that configured hostname, and if any aliases are found, potentially from `/etc/hosts` that are aliases including an FQDN,

[2018-04-16 16:24] #38777 closed, assigned to nobody

[2018-04-16 16:27] Akasurde commented on #38810
@jervislam0911 Thanks for reporting back. Please provide your feedback on vmware_guest_attribute  PR so that I can make that module rolling. Thanks.

[2018-04-16 16:34] shadowx787 commented on #30088
@mkrizek Here is the full Traceback from running the below command if it helps:
`sudo ansible 127.0.0.1 -m yum -a "list=ansible"`

![ansible_error](https://user-images.githubusercontent.com/8827938/38822548-4bcf3a1e-4193-11e8-9301-2755bf1c2d8c.jpg)

[2018-04-16 16:36] mattclay commented on #36083
@willthames Yes, the test ran twice. It failed on the first run:

[code]

Then the auto-retry kicked in:

[code]

And it passed on the second run:

[code]

[2018-04-16 16:45] saichint opened #38822 "nxos_ntp_auth issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_ntp_auth
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_ntp_auth module.
1. When state=absent, authentication is being turned ON if it was turned off which is incorrect. When state=absent, the mod

[2018-04-16 16:45] yuwzho commented on #38809
Hi @ffloimair Thanks for your report. There is already a bug fix for the NIC module, could you please follow the guide in the PR to install a temp ansible role and test whether the PR fixes your problem?

[2018-04-16 16:46] JrodJ commented on #38769
So, are you saying this should work:

function_name: "{{ lambdafunction.results[0].configuration.function_arn.split(':')[:7]|join(':') }}"

instead of:

function_name: "{{ lambdafunction.results[0].configuration.function_arn }}"

[2018-04-16 16:50] ffloimair commented on #38809
OK, I will test the PR tomorrow.
Thx for the quick response.

[2018-04-16 16:57] haridsv commented on #23530
In addition to `ansible_user` not working with `become_user`, I am noticing that it doesn't work in the Jinja2 template either. E.g., with this:

[code]

You get the below error:
[code]

I even tried using `ansible_user` and `ansible_ssh_user` and got the same error, but when I tried `inventory_hostname` it worked fine.

BTW, with `become_user`, the problem is not just with `remote_user`, I can't

[2018-04-16 16:59] haridsv commented on #23530
Another workaround is to use `set_fact` to set a temporary fact with the value of `ansible_user` and then use that as the value for `become_user`.

[2018-04-16 17:02] ganeshrn opened #38825 "[network-engine] Upstream cli module and add unittests for the existing"

[2018-04-16 17:02] yuwzho commented on #38787
Thanks for your reporting, I add it to my backlog and will look into this issue in May. Seems this is caused by the conditional check, I guess it can get the abbr and full name of location via API result and then make the comparison.

https://github.com/ansible/ansible/blob/1d972f519ce26bd26c60adfa4d8324b93d1ff93a/lib/ansible/modules/cloud/azure/azure_rm_resourcegroup.py#L165-L167

+label easyfix

[2018-04-16 17:03] #38825 closed, assigned to nobody

[2018-04-16 17:05] bobobox commented on #33373
@ryansb - To be honest, that strikes me as a complicated set of rules to keep track of, and there is also the consideration that changing an instance type can require numerous other changes as well: NVMe EBS volumes used on M5/C5 instances show up with different device names, enhanced networking and EBS optimization may need to be toggled appropriately, and of course the OS may or may not even boo

[2018-04-16 17:09] yuwzho commented on #38455
+label easyfix

[2018-04-16 17:17] ArthurSens opened #38826 "wait_for module can't find regex in a file that is being written non-stop"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

-bash-4.2$ ansible-config dump --only-changed
-bash-4.2$

##### OS / ENVIRONMENT

###### OS running ansible and also the one that is being managed
[code]

##### SUMMARY

wait_for module can't find regex in a file that is being written non-stop

##### STEPS TO REPRODUCE

When startin

[2018-04-16 17:20] #38704 closed, assigned to nobody

[2018-04-16 17:29] bobobox commented on #33373
I think any of those is reasonable. The CLI commands are honestly pretty easy to do, but it's always nicer if there's an Ansible solution. A separate module that could also take care of things like volume remapping for NVMe would be very nice. I like the idea of the separate module as it make sure the user is explicitly wanting to change instance types, and hopefully is aware of all the considerat

[2018-04-16 17:31] marcnil815 commented on #38656
[code]

[2018-04-16 17:34] hi117 opened #38828 "Add global parameter to the systemd module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

systemd
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/hi117/.ansible.cfg) = [u'/home/hi117/ansible/hosts']
DEFAULT_PRIVATE_KEY_FILE(/home/hi117/.ansible.cfg) = /home/hi117/ansible/ansibleKey
DEFAULT_REMOTE_USER(/home/hi117/.ansible.cfg) = ansible
DEFAULT_ROLES_PATH(/home/hi117/.ansible.cfg) = [u'/home/hi117/ansi

[2018-04-16 17:39] #38357 closed, assigned to nobody

[2018-04-16 17:42] wgun1-gsw opened #38830 "ERPNext Installation on CentOS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.0 Server with GUI

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[code]

[2018-04-16 17:45] sivel commented on #38532
The fix has been merged to devel, and a backport PR has been made against 2.5 and 2.4:

https://github.com/ansible/ansible/pull/38829
https://github.com/ansible/ansible/pull/38831

[2018-04-16 17:46] sivel commented on #38357
This has been resolved by https://github.com/ansible/ansible/pull/38747

backport PRs have been created for both 2.5.x and 2.4.x

[2018-04-16 17:48] sivel commented on #33183
2.4.4 and 2.5.0 should have a decent improvement here.  devel just got a change that should improve things even further.

Please validate

needs_info

[2018-04-16 17:53] JrodJ commented on #38769
In looking at the code for lambda_python, it appears that the ":" was removed from the regex string evaluating the function_arn.  If ":" is not allowed, then this would always fail.

Line 191 currently:
`        if not re.search(r'^[\w\-]+$', function_name):'`

Should be:
`       if not re.search(r'^[\w\-:]+$', function_name):`

[2018-04-16 17:54] indivisiblewalrus commented on #37936
What I'm saying is through router CLI:
switch01(config-if)# interface E1/1
switch01(config-if)# spanning-tree port type edge trunk
Edge port type (portfast) should only be enabled on ports connected to a single
host. Connecting hubs, concentrators, switches, bridges, etc... to this
interface when edge port type (portfast) is enabled, can cause temporary bridging loops.
Use with CAUTION
switch01(co

[2018-04-16 18:02] Joeskyyy commented on #38605
@Akasurde that seems to at least partially fix the issue. It looks like the module now reports back as changed, even if nothing changed, however. But now  it looks like some variables aren't available on the initial creation of a VM now?

When trying to register the following to my inventory after the initial creation this is now failing (it wasn't before this commit)

[code]

Returns an error:

[

[2018-04-16 18:03] indivisiblewalrus commented on #37376
I am currently using ignore_errors: yes as a workaround, but wouldn't it be more appropriate to account for this exception, or work with the vendor to remove this warning?

Ideally, the warning provided, is not an error, and should not cause the task/playbook to error out, or display false positives of an error.

[2018-04-16 18:09] skylerbunny opened #38833 "docker_volume module Server minimums don't match all parameter minimums"
Related to #36792.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
lib/ansible/modules/cloud/docker/docker_volume.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OS X 10.13

##### SUMMARY
docker_volume uses calls to the docker-py API higher than the documented minimums for the module, depending upon which parameters are used.

https://github.com/do

[2018-04-16 18:09] indivisiblewalrus commented on #37376
This is also same error on the second task run behavior in ansible nxapi transport and cli transport.

[2018-04-16 18:13] vikramkhatri commented on #26968
I tested this in ICP 2.1.0.2 and it was fixed there. I did not see this issue in 2.1.0.2. Which version are you running?

[2018-04-16 18:17] skylerbunny commented on #36792
This issue may be closed. Its successors are #37513 and #38833, taking smaller approaches to the problem based on individual limitations encountered between the API and Ansible.

[2018-04-16 18:17] #36792 closed, assigned to nobody

[2018-04-16 18:24] shadowx787 commented on #26968
@vikramkhatri I am just running CentOS 7.4 server with ansible 2.5, not running ICP. I am having the same error as you when trying to run the yum module with the 'list' parameter.  Getting "ValueError: need more than 1 value to unpack"

![ansible_error](https://user-images.githubusercontent.com/8827938/38827674-2ba8ae40-41a3-11e8-8d2b-00f807898cbd.jpg)

[2018-04-16 18:47] cuttlefishdaddy opened #38834 "Selective callback incorrectly reports FAILED on lineinfile edits"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
selective callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible is running on Ubuntu 14.04 server.
Target host is Ubuntu 16.04 workstation.
An ssh key exchange has been made between the Ansible server and the target host.

##### SUMMARY
Running without selective callback produces spurious "FAILED!!!

[2018-04-16 19:20] eddies1985 opened #38837 "onyx_bgp - Support purge option to not delete existing bgp neighbors"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

onyx_bgp
Adding neighbor(s) is a useful common task, adding a purge flag in the module and only if true will remove other neighbors,
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 300

##### OS / ENVIRONMENT

N/A
##### SUMMARY

###

[2018-04-16 19:25] opoplawski opened #38838 "include_role variable name cannot be host specific"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Scientific Linux 7.4

##### SUMMARY
Perhaps unsurprisingly, using a variable that is host specific as the name for include_role does not result in a different role being included for the different hosts.  Instead, first one evaluated appears to win.  I'

[2018-04-16 19:38] drewmullen commented on #38592
did you mean "isn't" available? assuming you did, you were right! How is the env not available?

[code]

[2018-04-16 19:39] sdot257 opened #38839 "File module recurse isn't idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- File

##### ANSIBLE VERSION
[code]

This code will show that the task "changed" even though nothing has changed. If I remove the `recurse` option, it runs fine and is idempotent.

[code]

[2018-04-16 19:41] dagwieers commented on #23320
@subbireddyg Unrelated to this issue. You get a ConnectTimeoutError, which means the WinRM service cannot be contacted (either it's not running, or is behind a firewall, or there's another network-issue).

[2018-04-16 19:42] Glandos commented on #38037
And here you are.

[code]
So an expert should know why ebf971f931290a113f738f658d7a6e095994e120 caused the regression.

[2018-04-16 19:50] jborean93 commented on #38592
Yep sorry, should proof read what I type. I don't know much about cron but a quick Google search comes back saying the environment variables of a process run from cron are limited to a very small subset https://serverfault.com/questions/337631/crontab-execution-doesnt-have-the-same-environment-variables-as-executing-user. There are other ways around this but they all really ball down to setting up

[2018-04-16 19:50] #38592 closed, assigned to nobody

[2018-04-16 19:57] gtirloni opened #38840 "docker_container - Error connecting: load_config() got an unexpected keyword argument 'config_dict'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4
Docker CE 18.03

[code]
##### SUMMARY

Running the docker_container module (with `auto_remove`) fails with `Error connecting: load_config() got an unexpected keyword argument 'config_dict'`

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2018-04-16 20:02] gtirloni commented on #38840
Duplicate of #36125

[2018-04-16 20:02] sivel commented on #38037
This is something I am looking into currently.

[2018-04-16 20:06] gtirloni commented on #38840
Workaround: `pip install 'docker>=2.6,<3.0.0'`

[2018-04-16 20:10] awilki01 commented on #38768
When I run the command, I get an error. Other commands work just fine though. Something in the output is making the module fail I feel.

`fatal: [x.x.x.x]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "auth_pass": null,
            "authorize": null,
            "commands": [
                "software install file flash:cat3k_caa-universalk9.16.03.05b

[2018-04-16 20:24] #38840 closed, assigned to nobody

[2018-04-16 20:25] gtirloni commented on #38840
@skylerbunny thank you!

[2018-04-16 20:26] #38839 closed, assigned to nobody

[2018-04-16 20:29] skylerbunny commented on #36125
Another person had this problem in #38840, again, by having both (docker-py) and (docker) installed at the same time. If Ansible can detect the presence of 'both at once' and it's possible to do so, some sort of error should probably be thrown rather than give this, an indirect error that doesn't explain the actual problem.

[2018-04-16 20:33] calfonso commented on #25661
This was fixed in Ansible 2.5. Please re-open if the issue remains, thank you!

[2018-04-16 20:33] #25661 closed, assigned to nobody

[2018-04-16 20:33] bcoca commented on #38780
fixed via #36430

[2018-04-16 20:33] #38780 closed, assigned to nobody

[2018-04-16 20:33] #24195 closed, assigned to rcarrillocruz

[2018-04-16 20:36] #38429 closed, assigned to nobody

[2018-04-16 20:36] privateip commented on #28989
The way to do this is to use a `lookup` plugin

[2018-04-16 20:36] #28989 closed, assigned to privateip

[2018-04-16 20:37] gtirloni commented on #36125
Additionally, if the documentation can be clearer about this it'd be good. I faced issue #38840 while trying to use 'auto_remove' but that was not happening before. The docs mention that "docker-py" is needed, not "docker", and that's confusing. I was getting different errors by installing different versions of those packages simultaneously.

[2018-04-16 20:41] salman1485 commented on #38768
set no prompt to true at IOS level before you run this. I guess the command that you send results into a prompt on IOS side which eventually times out your playbook because ansible yml file cannot handle that prompt on IOS side.

[2018-04-16 20:42] calfonso commented on #29481
Closing this issue as we no longer support 2.2 and is fixed in Ansible 2.5. Thank you!

[2018-04-16 20:42] #29481 closed, assigned to nobody

[2018-04-16 20:44] #29624 closed, assigned to nobody

[2018-04-16 20:49] skylerbunny commented on #36125
It comes from the fact that the name of the Docker SDK for Python changed its name from 'docker-py' to 'docker' at version 2.0.0, and the presence of 'both at once' isn't accounted for. Ansible errors mention 'docker-py' because Docker SDK for Python by that name is a least-common-denominator that works with versions of Docker Engine/ee/ce/toolbox as old as [1.8.0,](https://github.com/ansible/ansi

[2018-04-16 20:52] calfonso commented on #29484
@jean-christophe-manciot do you have any idea if this is still an issue with Ansible 2.5, we believe it's been fixed. I'll close it for now, feel free to re-open if it's an issue.

[2018-04-16 20:52] #29484 closed, assigned to nobody

[2018-04-16 20:56] fabrizio2210 commented on #35398
My role now is broken for this issue.
Is there any workaround?

[2018-04-16 20:56] calfonso commented on #27933
We aren't able to fix this due to an issue with IOS itself, and we don't have a workaround for the issue.

[2018-04-16 20:56] #27933 closed, assigned to nobody

[2018-04-16 20:59] Illydth opened #38845 "File Module - Wrong Documentation or Removed Functionality?"
Documentation for the 2.4 Ansible "file" Module:
-- http://docs.ansible.com/ansible/2.4/file_module.html

Documentation for the 2.5 Ansible "file" Module:
-- http://docs.ansible.com/ansible/latest/plugins/lookup/file.html#file

These aren't even the same function or feature/functionality.  There also (per documentation) appears to be NO REPLACEMENT.

What the hell happened?  Is the documentation l

[2018-04-16 21:09] sebastianw commented on #28989
Yes, and that’s exactly what is NOT possible right now. src can only be a file name.

[2018-04-16 21:11] sivel commented on #36125
I see no way to reliably detect both at the same time.  It would require a bunch of assumptions that could be false in either situation depending on installation order.

[2018-04-16 21:24] sivel commented on #36125
Actually, I may be wrong.  I just took an in depth look to see if there are files/dirs that exist only in 1 version or the other.  This may work:

[code]

@skylerbunny do you want to play with that and see if it works?  We of course wouldn't raise an exception, we would instead want to utilize `module.fail_json`.

[2018-04-16 21:26] Illydth commented on #38845
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux / CentOS 7

##### SUMMARY

FIle Module Functionality has either completely changed with no documented corresponding functionality or documentation mis-linked.

##### STEPS TO REPRODUCE

Documentation for the 2.4 Ansible "file" Module:
-- http://docs.ansible.com/ansible

[2018-04-16 21:28] sivel commented on #38696
I looked into this, and it appears as though the problem is that in `local.py` we are not invoking `su` from a tty.

The `ssh` connection plugin has all of the plumbing to support this, but it has some additional code mixed in that is specific to the `ssh` plugin.

We are either going to need to duplicate it into `local.py` or refactor that code out into a shared function that can be utilized betw

[2018-04-16 21:29] sivel commented on #38845
Duplicate of https://github.com/ansible/ansible/issues/38439

[2018-04-16 21:29] #38845 closed, assigned to nobody

[2018-04-16 21:34] awilki01 commented on #38768
I'm not sure I know what you mean to setting 'no prompt to true at IOS level'. This command generates no prompt e.g. 'yes/no'.

Here is the output when manually doing the command from the CLI:
[code]

[2018-04-16 21:53] #38037 closed, assigned to nobody

[2018-04-16 22:13] sivel commented on #36194
Closed in https://github.com/ansible/ansible/pull/38827

[2018-04-16 22:13] #36194 closed, assigned to nobody

[2018-04-16 22:25] kbreit opened #38848 "nxos_system integration test uses 1.1.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_system

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS 10.3.3 with Python 3.5

##### SUMMARY
The nxos_system integration test using IP address 1.1.1.1 which shouldn't be used since CloudFlare deployed their 1.1.1.1 based DNS service. The recommended replacement address is the non-routable 192.0.2.1 and 192.0

[2018-04-16 22:31] kbreit opened #38849 "dellos9_config integration test uses 1.1.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dellos9_config

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.3.3 with Python 3.5

##### SUMMARY
The dellos9_config integration test using IP address 1.1.1.1 which shouldn't be used since CloudFlare deployed their 1.1.1.1 based DNS service. The recommended replacement address is the non-routable 192.0.2.1 and 192.0.2.2.

[2018-04-16 22:44] bcoca commented on #38786
not really logging refactoring, display/callback refactoring which would involve moving most of direct calls of display into callback events.  Also the re-implementation of the ansible.log as a callback.

[2018-04-16 22:47] harrytruman opened #38850 "Network Modules Running Slower After Upgrading to Ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config, ios_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Running without callbacks offered no improvement, and disabling free strategy increased run times even further.
[code]

##### OS / ENVIRONMENT
RHEL 7.4
3.10.0-693.11.1.el7.x86_64

##### SUMMARY
Testing indicates this is affecting all network modules for all device familie

[2018-04-16 23:00] UnitedMarsupials commented on #38684
@bcoca, if I understand correctly (a big assumption!) the plugin will have to be included in every one of our existing inventory-files, right?

And if I misunderstand, then there is very little hope, because with the exception of one example in the [plugin's own page](http://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html), no one else out there seems to be using it, according t

[2018-04-16 23:02] kustodian commented on #20438
An easy workaround for your issue is not to check `rc` but to use the `success` test. For example:
[code]
This will work all the time.

I've managed to reproduce the issue by commenting our `/etc/resolv.conf`, clearing yum cache `yum clear all` and trying to install some package with the yum module. I'll check out why in that situation `rc` isn't set.

[2018-04-16 23:02] jsutter55 opened #38852 "ec2.py with ansible-playbook --limit doesn't match host if ec2 tag contains a hyphen"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2.py with ansible-playbook --limit won't match host if ec2_tag contains a hyphen

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -F ./ssh_config
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = memory
DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/opt/ansible/plugins/action']
DEFAULT_BECO

[2018-04-16 23:12] bcoca commented on #38828
i would almost be in favor of deprecating `user` for `scope: None|user|global`

[2018-04-16 23:16] bcoca commented on #38684
nope, it requires an independent file

it is a relatively new plugin, I'm not surprised examples don't abound, specially inside ini files .. as that would not work.

[2018-04-16 23:27] skylerbunny commented on #36125
Checking as @sivel suggested does throw an exception when both are installed. That said, I carefully looked at what pip does in the situation where both are installed, and it's a mess because I believe it'll overwrite some files based on which one is installed last - ones common to both.

In any case, uninstalling 'one or the other' when both are installed removes files common to both while only l

[2018-04-16 23:33] skylerbunny commented on #36125
Note on above: Fortunately, the exception is thrown regardless of which package is installed first, so either case is caught by it.

[2018-04-16 23:34] #20438 closed, assigned to nobody

[2018-04-17 00:09] willthames commented on #38852
This won't be fixed - the ec2.py inventory script is no longer being maintained, and the workaround you've found is reasonable.

I'd suggest using the [aws_ec2 inventory plugin](http://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html), using `hostnames: ['tag:Name']` and then you should be able to just use test-instance with `hosts`.

At the moment the fixes for aws_ec2 that enable t

[2018-04-17 00:30] GreenTea73 commented on #38082
Cat 3650
`Cisco IOS Software, IOS-XE Software, Catalyst L3 Switch Software (CAT3K_CAA-UNIVERSALK9-M), Version 03.03.05SE RELEASE SOFTWARE (fc1)`

[2018-04-17 00:48] willthames commented on #38769
Sorry, that code in lambda_policy is completely wrong - it will never work if you pass in an ARN!

But this always works:

[code]

[2018-04-17 00:48] sivel commented on #36125
I do agree the message needs special attention. In order to fix it, you must uninstall both and install the appropriate one.

[2018-04-17 01:01] jborean93 commented on #38232
That's my fault @poiriermike, I've just pushed another change which should fix that issue. When you get a change it would be great if you could try again.

[2018-04-17 01:25] madeinoz67 opened #38859 "Improve Documentation for Docker Run command"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docker run module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Centos 7.x

##### SUMMARY
The documentation does not contain anything meaningful relating to the module, also examples need to be added.  Looks like documentation for this module is incomplete

##### STEPS TO REPRODUCE

see http://docs.a

[2018-04-17 02:07] jsumners commented on #38859
Why am I being tagged on this? I have never touched the docker modules.

[2018-04-17 03:11] jborean93 commented on #38474
@Akhiles7 I find it weird that the bug went away when upgrading to 0.3.0 but if that fixed it for you then I'm happy. Closing the ticket as the issue seems to be resolved, if you still come across this issue please feel free to re-open it and share some of the details such as the TLS and cipher negotiation as displayed in the previous comments.

[2018-04-17 03:11] #38474 closed, assigned to nobody

[2018-04-17 03:15] sayantandas commented on #26521
Tested the last week's changes from Ansible github branch. It works for me.

[2018-04-17 03:16] jborean93 commented on #36646
@liquidat are you able to look into some of the comments above. As indicated we don't do anything differently when it comes to different hosts and copying the files. When testing it locally, Server 2008 - 2016 all take roughly the same time as each other.

needs_info.

[2018-04-17 03:18] #38796 closed, assigned to nobody

[2018-04-17 03:19] #38802 closed, assigned to nobody

[2018-04-17 03:28] bcoca commented on #38830
@wgun1-gsw please finish filling out the form, there is not enough info here to know what the problem is

needs_info

[2018-04-17 03:28] #38685 closed, assigned to nobody

[2018-04-17 04:52] ravi-pmp commented on #23843
Hi guys,

I had the same error. Realized that ansible tower bundle (ansible-tower-setup-bundle-3.2.3-1.el7) comes built in with ansible 2.4x engine. Once i upgrade the ansible to 2.5, remove pyopenssl, remove files from site-packages as suggested by darioems, and reinstall pyopenssl, all goes well. I didnt have to touch the winrm[credssp] package (i had installed it before the upgrade to ansible 2

[2018-04-17 05:24] #38716 closed, assigned to nitzmahone, jborean93

[2018-04-17 06:05] mkrizek commented on #26521
Thanks @sayantandas!

[2018-04-17 06:05] #26521 closed, assigned to nobody

[2018-04-17 06:25] Fred-sun commented on #32143
same as 25492's report, can reproduce as following YAML file ! Thanks!
[code]

[2018-04-17 06:47] ganeshrn commented on #38732
@jgrip The optional part was removed as part of PR https://github.com/ansible/ansible/pull/34585 as a precaution. If making [\r\n]? optional fixes the issue we can add it back imo.

@privateip @Qalthos Thoughts/Comments?

FYI the PR linked here https://github.com/ansible/ansible/pull/34585#issuecomment-356788884 is superseded by https://github.com/ansible/ansible/pull/35361.

[2018-04-17 07:49] #30638 closed, assigned to nobody

[2018-04-17 08:00] trishnaguha commented on #37936
@indivisiblewalrus Thanks for your response.

What happens when you run config up to the line that returns warning:
[code]
Does Ansible error out?

[2018-04-17 08:05] Glandos commented on #38037
Err, excuse me @sivel, but I still have the following scenario:

[code]

And when run (with a working inventory):

[code]

So no, this is not closed for me.

[2018-04-17 08:11] ssbarnea opened #38866 "Unable to disable META: ran handlers spam."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that there is no way to avoid being spammed by `META: ran handlers` messages after each task if you happen to use a verbosity level of 2 or greater.

In 99.5% of cases there are no handlers triggered so printing that you run "no" handler

[2018-04-17 08:36] yzj3232185 commented on #25437
Add timeout=30 under [defaults] into ansible.cfg. Worked for me.  👍 #33699

[2018-04-17 08:40] mindrunner commented on #23320
This might or might not be related. Depending on whether its randomly happening or reproducable. It is exact the error, we are facing here. It sometimes does not occur at all and on other days, we have to try very hard to push an ansible playbook through....

If the error is reproducable and always occurs directly after starting the playbook, then the sever might just not be reachable...

[2018-04-17 08:50] Fred-sun commented on #24084
@paravz Sir,  by ran following below YML file, I can't reproduce report error, My ansible version is 2.5.0, Could you can update you ansible version to test again(pip install ansible[azure]==2.5.0) , Another ,Could you can give you json file, let me try again. thanks ！
[code]

[2018-04-17 09:18] #37056 closed, assigned to Akasurde

[2018-04-17 09:22] #38263 closed, assigned to Akasurde

[2018-04-17 09:40] Akasurde commented on #38605
@Joeskyyy Can you please paste whole playbook so that I can reproduce this issue in my environment?

[2018-04-17 10:26] jiangrua commented on #25437
Add timeout=30 under [defaults] into ansible.cfg. Worked for me. 👍 #33699

[2018-04-17 10:56] sradco opened #38871 "Missing cluster compatibility version as a filter in ovirt_hosts_facts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ovirt_hosts_facts.py

##### ANSIBLE VERSION
2.5

##### SUMMARY
I would like to be able to filter by the host cluster compatibility version.

@machacekondra

[2018-04-17 11:04] ffloimair commented on #38809
@yuwzho With your PR everything works as expected!
Thanks

[2018-04-17 11:11] sjwk opened #38873 "Feature request: Add Voice VLAN support to IOS L2 Interface"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_l2_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = ansdeploy
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /home/k

[2018-04-17 11:20] #38850 closed, assigned to nobody

[2018-04-17 11:35] jborean93 commented on #38711
Have been playing around with this, when the error occurs, https://docs.microsoft.com/en-us/sysinternals/downloads/handle does not show any handles open with the string `ANSIBLE`. Whether this is because when I ran handle.exe to check it the key had been unloaded already or something else I'm not sure.

[2018-04-17 11:41] ofirshtrull commented on #30639
any update on this?
Speciali regarding the redshift-destination-configuration and s3-destination-configuration options

[2018-04-17 11:49] jgrip commented on #38732
I've been testing around trying to find a pattern as to why it sometimes does not have the newline at the start of the prompt but I am unable to find a reason.

It does seem to happen more often as I increase the amount of forks in ansible.cfg, but it also happens at times with forks at 1. Using a different computer doesn't seem to make any difference either.

[2018-04-17 11:54] Akasurde commented on #38778
VMware documentation is common to all modules. vmware_vsan_cluster is designed to work on ESXi hosts even if they are part of any vCenter server. We need to refactor here. Would like to raise a PR against this requirement ?

needs_info

[2018-04-17 11:57] Akasurde commented on #37906
@karniemi Can you add shipit flag on the PR, if it is working for you ?

[2018-04-17 12:01] ctrox opened #38875 "k8s_raw/openshift_raw Headless service creation fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw
openshift_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When trying to create a [headless Kubernetes service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) with a `clusterIP: None` it assigns a `clusterIP` anyway.

I have found this i

[2018-04-17 12:11] jsutter55 commented on #38852
willthames,

Thanks for pointing me in the right direction. I'll give the inventory plugin a try.

[2018-04-17 12:11] #38852 closed, assigned to nobody

[2018-04-17 12:14] andmos commented on #37967
@jborean93 I'm seeing this error for both files and directories down in a folder structure that is supposed to be created by something triggered by `win_shell`. I see you have fixed it, is it just that the fix hasn't been released yet?

[code]
Ubuntu 16.04, installed via `apt-get`:
`apt-add-repository ppa:ansible/ansible`
`apt-get install ansible`

My environment is created daily with `Vagrant`, s

[2018-04-17 12:16] willthames commented on #38852
@jsutter55 no problem. The backport is already in stable-2.5, ready for release once 2.5.1 comes out. It is possible to copy the relevant bits of `__init__.py` into `aws_ec2.py` for an interim workaround - let me know if you want further details, I can always come up with a gist.

[2018-04-17 12:18] AlanCoding opened #38876 "git module update fails if in detached HEAD state"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no output of `ansible-config dump --only-changed`

##### OS / ENVIRONMENT

Managing from [CentOS container](https://github.com/ansible/awx/blob/devel/tools/docker-compose/Dockerfile)

[code]

Doing this as all local actions

##### SUMMARY
If I try to update when starting out in a d

[2018-04-17 12:25] #38822 closed, assigned to nobody

[2018-04-17 12:25] Sephtex commented on #30835
This feature has being written as a separate bash module, would that still be fine to be submitted as a PR?
Since the redis module is written in python, I tried to keep the current parameters as close as possible as the original one:
`
# Playbook example
---
- name: get assets
  hosts: all
  gather_facts: false
  tasks:
    - name: "sl_redis_sentinel | configure sentinel to monitor the master"

[2018-04-17 12:25] jsutter55 commented on #38852
@willthames

Would appreciate the details/gist if you have the time. My underscore workaround means I'll have to touch every deployment job anyway.

[2018-04-17 12:47] curtisforrester commented on #14641
I also am seeing this with Ansible 2.5 - though slightly different failure. It's worth noting that I only see this when gathering facts for the local machine, but plays for a remote server behave normally as expected.  I even tried to reference the local machine by name/SSH and still no facts.

Using the playbook that @dericcrago posted above, the output is:

[code]

[2018-04-17 12:53] amarao commented on #35398
Import_role does not support with loops.

For loops and include_role and delegate combined, there is a workaround: https://medium.com/opsops/ansible-2-5-delegate-to-and-include-role-20cd7e67008e

(use loop+include, then delegate+import)

[2018-04-17 12:57] CMajeri commented on #11396
I'd love this feature. Is somebody working on it already? (in-house or contributor)
If so I'm offering my help, otherwise I'll probably start working on a proposal.

[2018-04-17 13:04] #38683 closed, assigned to nobody

[2018-04-17 13:04] Tclemento opened #38878 "Feature request: Add user/pass auth method to hashi_vault lookup"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

hashi_vault

##### ANSIBLE VERSION

ansible 2.5.0

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

Currently, there are two possible ways to connect to Hashi Vault with the lookup module.

It is about approle and ldap

There is also another known method in Hashi. It's userpass. This i

[2018-04-17 13:06] visnetje opened #38880 "Add `systemctl daemon-reexec` to `systemd` module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`systemd`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from: CentOS Linux release 7.x
Managing: CentOS Linux release 7.x

##### SUMMARY

It is currently not possible to "Reexecute systemd manager" (e.g. perform `systemctl daemon-reexec`) with the `systemd` Ansible module.

##### STEPS T

[2018-04-17 13:08] machacekondra commented on #38871
As workaround you can just list all, and then iterativelly compare by cluster version.

[2018-04-17 13:13] ppanczyk commented on #38655
I also have this issue and I strongly disagree that #28721 was a bug. The docs states that "This module ensures a particular line **is in a file**", not **in the specific place of a file**. The latter is just another functionality, which should have been implemented in the module using a new option, not by changing the default behaviour.
In fact, there are at least three scenarios worth being cove

[2018-04-17 13:18] s-hertel commented on #38680
I wasn't able to reproduce. Can you post the output with extra verbosity using `-vvv` to show where it is failing?

[2018-04-17 13:27] umrikar commented on #38778
@Akasurde  i will use ESXI creds only

[2018-04-17 13:30] PiotrMejer opened #38883 "azure_rm_managed_disk cannot update existing os disk"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_managed_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.4

##### SUMMARY

We have been using 'azure_rm_virtualmachine' to create vm. After stopping the machine we would like to increase created os disk size using azure_rm_managed_disk, but updating task is failing:
[code]
##### STEPS TO R

[2018-04-17 13:43] cuttlefishdaddy commented on #38834
In selective.py the function  _print_task_result has the following code beginning at line #276:

                for r in result._result['results']:
                    failed = 'failed' in r  **<---- Questionable test**

                    stderr = [r.get('exception', None), r.get('module_stderr', None)]
                    stderr = "\n".join([e for e in stderr if e]).strip()

[2018-04-17 13:54] #38769 closed, assigned to nobody

[2018-04-17 14:08] lifenautjoe commented on #20492
Went through the whole thread solutions, none worked.

[code]

[2018-04-17 14:13] antoinetran commented on #20492
@lifenautjoe have you tried https://github.com/ansible/ansible/issues/20492#issuecomment-307642085

[2018-04-17 14:17] sivel commented on #36125
I went ahead and submitted a PR for this at https://github.com/ansible/ansible/pull/38884

[2018-04-17 14:26] ryansb commented on #20492
@lifenautjoe this seems to be an issue with your system. If you need help, please head to either Google Groups or the #ansible channel on Freenode to seek advice from the community. https://docs.ansible.com/ansible/latest/community/communication.html

[2018-04-17 14:27] sivel commented on #38859
@jsumners apologies, the bot picked the wrong component when parsing the issue.  I'll update, but unless you unsubscribe, you will still get pinged.

!component =lib/ansible/plugins/connection/docker.py

[2018-04-17 14:32] sivel commented on #38859
@madeinoz67 the link you provided is for the docker connection plugin, and not the docker module.  The connection plugin is used in place of something like `ansible_connection=ssh` or `ansible_connection=local` for executing commands and copying files to and from docker containers.

I'm going to take a guess, that you were actually trying to find the docker module docs, and when you clicked a link

[2018-04-17 14:34] sivel commented on #38834
Yes, that should likely be replaced by something like:

[code]

[2018-04-17 14:43] jan-zmeskal commented on #24319
python-jmespath should be also considered a dependecy if you install ansible via pip. It is not the case now:

[2018-04-17 14:50] cuttlefishdaddy commented on #38834
Yes, I agree.

Please note that there may be another related bug in selective.py ...

I'm testing with a similar change and seeing that diff information is (perhaps) unnecessarily being displayed. Example:

# autofs : Autofs Generic | Ensure /etc/auto.master configured correctly to support NFS/NIS *******************************
  * pxei3                      - changed=False --  ------------------

[2018-04-17 14:50] saidiahd commented on #37599
@karthi81 :

With ansible "Lvol module", if you specify a volume grater then the initial lv volume size, Lvol will extend the logicial volume “TO” the desired size.

So for example, if you have a LV with a size of 5G, and if you desire to extend this partition to 10G, all you have to do is something like that:

[code]
-r : if you like to resize in the same time the fs of LV.

[2018-04-17 14:56] sivel commented on #24319
This would have to be an optional dependency, or a recommends.  `json_query` is not a core filter, and as such, we will not create a required dependency on this library.

As such, it will not be added to the pip installation method.

[2018-04-17 14:58] cuttlefishdaddy commented on #38834
Looking at _print_host_or_item function in  selective.py line #276, maybe
    if diff:
Should be
    if error and diff:  ?

[2018-04-17 15:14] kbreit opened #38886 "vyos_system integration test uses 1.1.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_system

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.3.3 with Python 3.5

##### SUMMARY
The vyos_system integration test using IP address 1.1.1.1 which shouldn't be used since CloudFlare deployed their 1.1.1.1 based DNS service. The recommended replacement address is the non-routable 192.0.2.1 and 192.0.2.2.

[2018-04-17 15:15] kbreit opened #38887 "ios_system integration test uses 1.1.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_system

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.3.3 with Python 3.5

##### SUMMARY
The ios_system integration test using IP address 1.1.1.1 which shouldn't be used since CloudFlare deployed their 1.1.1.1 based DNS service. The recommended replacement address is the non-routable 192.0.2.1 and 192.0.2.2.

[2018-04-17 15:16] yayefa commented on #33661
Hi,
I have the same issue since yesterday, before that I deploy Azure Vm (using Ansible Tower).
I have tried pip install ansible[azure] but the issue remain the same :

I have tried to downgrade to ansible 2.4.4 , but with this version I've got this error :

[2018-04-17 15:29] #36125 closed, assigned to nobody

[2018-04-17 15:51] abenokraitis commented on #35869
@privateip @IPvSean As Ansible moves to more role-driven development, would this still be required? I would assume ping actions would be covered under future network operations roles.

[2018-04-17 15:52] #37760 closed, assigned to nobody

[2018-04-17 16:31] IPvSean commented on #35869
imho its a bug, b/c its not really apparent that this does nothing, it just
reports OK unless you up verbosity.  I think I wouldn't waste time
implementing vyos_ping if that will be implemented in a role, which is
where I think your head is at.

On Tue, Apr 17, 2018 at 11:53 AM, Andrius Benokraitis <
notifications@github.com> wrote:

[2018-04-17 16:41] pkaramol commented on #15892
I am performing some deployments using Ansible AWX.

At some point in time, I want to set a couple of parameterized (env var) urls as follows:

    environment:
      SOME_URL: "https://{{ hostname }}/webpage/index.html#!/auth/passwordReset?token={% raw %}{{ token }}{% endraw %}"

This solution has been suggested in several ansible issues. e.g. [here][1].

However in the job's output on `AWX` I ke

[2018-04-17 16:46] winem commented on #35834
This will be fixed with 2.6. Afaik, the release date is not yet known.

[2018-04-17 16:49] Joeskyyy commented on #38605
[code]

[2018-04-17 17:16] umrikar commented on #38778
@Akasurde  yes

[2018-04-17 17:17] samdoran commented on #38886
It's not just the VyOS tests that use `1.1.1.1` but many of the tests. They are just meant to be dummy IPs used during the tests.

If we decide to replace this for the VyOS tests, it should be done for other tests as well to avoid hitting CloudFlare with any noisy traffic from out testing infrastructure (unless we actually _do_ want to use them for DNS).

[2018-04-17 17:28] webknjaz commented on #38886
Ref #38887

[2018-04-17 17:30] harrytruman opened #38892 "Network Modules Running Slower at Scale After Upgrading to Ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config, ios_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.4
3.10.0-693.11.1.el7.x86_64

##### SUMMARY
Testing indicates this is affecting all network modules for all device families. E.g., ios, ios-xr, nxos, eos, etc...

There's a significant difference in speed/performance after upgrading f

[2018-04-17 17:31] geerlingguy opened #38893 "Docs site modules index page for Files modules doesn't link to 'file' module"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

N/A

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The file module link goes to the file lookup plugin docs page... and this also seems to have caused Google Search to drop the 'File' module page entirely from its index, so it's hard to get to the File module docs page anymore.

#

[2018-04-17 17:34] geerlingguy commented on #38893
Strangely, it seems the docsite code is all correct... and the `file.py` in `lib/ansible/modules/files/file.py` seems correct... not sure how this is happening.

[2018-04-17 17:39] sivel commented on #38893
Duplicate of https://github.com/ansible/ansible/issues/38439

[2018-04-17 17:39] #38893 closed, assigned to nobody

[2018-04-17 17:41] geerlingguy commented on #38893
D'oh, sorry about that, couldn't find it in a quick search.

[2018-04-17 17:46] yayefa opened #38894 "Do you have azure>=2.0.0 installed? Try `pip install ansible[azure]`- cannot import name resource_id"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

Operating System: Red Hat Enterprise Linux Server 7.5 (Maipo)
       CPE OS Name: cpe:/o:redhat:enterprise_linux:7.5:GA:server
            Kernel: Linux 3.10.0-862.el7.x86_64
      Architecture: x86-64

##### SUMMARY

When attempting to invoke the azure

[2018-04-17 18:02] dkorel-copperleaf commented on #18217
I think i'm seeing this is 2.4.3.0

[2018-04-17 18:11] sivel commented on #18217
This appears to have been resolved in the 2.4.4 release:

[code]

[code]

needs_info

[2018-04-17 18:15] dgoodwin opened #38895 "k8s_raw Changed Secret Keys From 'this_style' to 'thisStyle'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/dgoodwin/go/src/github.com/openshift/cluster-operator/ansible.log

##### OS / ENV

[2018-04-17 18:26] kbreit commented on #38886
@samdoran I've been submitting issues for each module which is using 1.1.1.1 for its integration tests. I figured it's easier to accept PRs since it's a smaller patch than if every module has its code replaced. Approvals are probably easier as well.

I understand not all situations (ex. an ACL) require the IP address to be changed. However, we're seeing 1.1.1.1 is not something which should be use

[2018-04-17 18:47] webknjaz commented on #38892
-label needs_triage

[2018-04-17 18:50] webknjaz commented on #38894
-label needs_triage

[2018-04-17 18:52] webknjaz commented on #38895
-label needs_triage

[2018-04-17 18:58] CafeLungo commented on #37890
I am running into this now (with the wtcross.sudoers role). This needs to be reverted if it wasn't intended to be included.

[2018-04-17 19:09] jborean93 commented on #37967
It will be out in 2.5.1 which is expected sometime this week.

[2018-04-17 19:16] jhenahan opened #38898 "NIOS: TypeError: string indices must be integers, not str"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nios_host_record

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Ansible on RHEL 7.4

##### SUMMARY
When using the `nios_host_record` module, I get the error `TypeError: string indices must be integers, not str`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Successful task execution.

##### A

[2018-04-17 19:17] jhenahan commented on #38898
Whoops, had a separate error in the title, which I seem to have traced back to infoblox_client. The new title is correct, and the error remains.

[2018-04-17 19:22] agaffney opened #38899 "loop_control/label shows wrong value when referencing task-level var"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop_control/label

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the `loop_control`/`label` feature and referencing a task-level var, the var seems to be evaluated only once.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-04-17 19:24] evertmulder opened #38900 "vmware_guest"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-17 19:24] #38900 closed, assigned to nobody

[2018-04-17 19:29] webknjaz commented on #38898
!component +lib/ansible/modules/net_tools/nios/nios_host_record.py
-label needs_triage

[2018-04-17 19:34] guidezpl commented on #37941
I think I've narrowed it down. When become: yes is associated with the task, the task runs and verbose output indicates the results file is in /root/.ansible_async/. This is such a results file

`
{"ansible_job_id": "252653377788.1838", "cmd": "/home/ubuntu/.ansible/tmp/ansible-tmp-1523993455.472366-198604093241093/command.py", "failed": 1, "outdata": "", "msg": "[Errno 2] No such file or director

[2018-04-17 19:41] bcoca commented on #37426
We voted in irc meeting and decided to decline the proposal

[2018-04-17 19:41] #37426 closed, assigned to nobody

[2018-04-17 19:41] mat013 commented on #37426
I found a workaround for the issue which is to add a variable in the group_vars/all file

e.g.:

files_resources: "{{ inventory_dir + '/roles/' + role_name + 'files' }}"

And then prefix where ever the filepath is needed

e.g.

[2018-04-17 19:41] sivel commented on #33784
This issue was resolved in https://github.com/ansible/ansible/pull/35165 and included in the v2.5.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-17 19:41] #33784 closed, assigned to nobody

[2018-04-17 19:43] evertmulder commented on #38043
We encounter the same issue using 2 cluster having the same resource pool names.

When supplying only the resource pool we sometime get the following error:
[code]
But only of by pure luck the module select the correct cluster for the supplied resource pool.

If we supply the cluster the correct resource pool is not selected anymore.
We found the issue in 'find_obj' method called by 'select_resour

[2018-04-17 19:44] sivel commented on #30441
A large performance improvement was just merged to devel yesterday in https://github.com/ansible/ansible/pull/38747

Please confirm whether this issue is resolved.

needs_info

[2018-04-17 19:45] nsushkin commented on #36400
Try

`ansible -m command -a "python -c 'from lxml import etree'" targetmachine`

There may be some linking issues with libxslt/libxml2 that prevent module from loading, even though lxml module is installed.

[2018-04-17 19:47] sivel commented on #31595
This is the expected behavior and documented in the v2.4 porting guide located at http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.4.html#initial-playbook-relative-group-vars-and-host-vars

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-17 19:47] #31595 closed, assigned to nobody

[2018-04-17 19:58] sivel commented on #36518
More simplistic reproducer:

[code]

36518.yml
[code]

roles/foo/handlers/main.yml
[code]

roles/foo/tasks/main.yml
[code]

The handler is not delegated.

[2018-04-17 19:59] gtirloni commented on #29578
Works for me, thanks!

[2018-04-17 20:02] sivel commented on #37016
This issue was ultimately resolved in https://github.com/ansible/ansible/pull/36372

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-17 20:02] #37016 closed, assigned to nobody

[2018-04-17 20:05] jwitko opened #38902 "ec2_metadata_facts returns keyError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_metadata_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Intermittently the ec2_metadata_facts module will return a KeyError, always for the same key.

##### STEPS TO REPRODUCE
I simply run the following command, via an "include_tasks:" include.  99% of the time it works without issu

[2018-04-17 20:21] #26585 closed, assigned to nobody

[2018-04-17 20:24] sivel commented on #35109
This was resolved in https://github.com/ansible/ansible/pull/35165

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-17 20:24] #35109 closed, assigned to nobody

[2018-04-17 20:27] jwitko commented on #38902
FYI discussed this a bit with @ryansb on IRC.  Issue does not seem to be with the module but with the EC2 instance not being able to talk to the metadata service.  We discussed the possibility of reporting an event as such.

[2018-04-17 20:32] sivel commented on #33131
I cannot duplicate this with the following:

[code]

33131.yml
[code]

roles/roleA/tasks/main.yml
[code]

roles/roleB/tasks/main.yml
[code]

roles/roleB/tasks/install.yml
[code]

roles/roleB/tasks/configure.yml
[code]

needs_info

[2018-04-17 20:33] sivel commented on #23457
Closing as the issue is resolved.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-17 20:33] #23457 closed, assigned to nobody

[2018-04-17 20:41] bcoca commented on #34187
closing this in favor of #27897 which would add documentation or 'warnings/errors' to keywords that are noops like in this case.

[2018-04-17 20:41] #34187 closed, assigned to nobody

[2018-04-17 20:45] bcoca commented on #38749
closing as a subset of #27897, which propses warning/error for any ignored keywords

[2018-04-17 20:45] #38749 closed, assigned to nobody

[2018-04-17 20:51] roadmapper commented on #38902
Seems reasonable. I know @ryansb had posed [this problem](https://github.com/ansible/ansible/pull/21532#pullrequestreview-37409062) in the past but I wasn't sure of the best way to fix the problem. Is the premise of the fix to change the response logic so that `module.fail_json` is called when the response from the metadata service is not valid?

[2018-04-17 21:07] jsenecal opened #38909 "docker_container issue with ipv6 port bindings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using docker_container module and trying to assign an IPv6 port binding to a container, the task fails.

##### STEPS TO REPRODUCE

[code]
(Same results with `"2604:a5c0::2604:2604:2222:22"`)

##### EXPECTED RESULTS

[2018-04-17 21:16] abadger commented on #22568
I believe that the present ansible postgresql module standard here is if you want a string to be a single identifier you need to quote it:
[code]
That way Ansible knows you mean for this to be a single identifier rather than two separate ones separated by the dot.

[2018-04-17 21:19] symgryph commented on #38702
To further clarify: I run the initial script as 'root' and then 'down power' to another user (admin in this case). I have roots homedir set to o-rwx g-rwx so ansible can't become the user and continue on the scripts. Seems to work fine 2.4.2, however, but in 2.5.0 fails miserably.

[2018-04-17 21:24] zentavr opened #38911 "2.5 Official Documentation: I cannot see the doc for file module, but see for file lookup plugin instead."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
documentation

##### ANSIBLE VERSION
documentation for v. 2.5 on https://docs.ansible.com/ansible/2.5/modules/list_of_files_modules.html

##### SUMMARY
When I'm on [Files modules](https://docs.ansible.com/ansible/2.5/modules/list_of_files_modules.html) documentation page - I expect to see the documentation for `file` **module**, but **not for**

[2018-04-17 21:30] sivel commented on #38911
Duplicate of https://github.com/ansible/ansible/issues/38439

[2018-04-17 21:30] #38911 closed, assigned to nobody

[2018-04-17 21:44] bcoca commented on #19819
closing via #38765

[2018-04-17 21:44] #19819 closed, assigned to nobody

[2018-04-17 21:47] bcoca commented on #28232
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app