[2020-02-12 20:13] samccann opened #67355 "Fix broken links in docker modules"
We're trying to fix as many broken links as possible before modules move into collections.  This is the batch of broken links on docker modules.

NOTE: the link checker sometimes reports an error where a link actually works. Ignore those if you find them.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

###### BROKEN LINKS
https://docs.ansible.com/ansible/devel/mod

[2020-02-12 20:16] samccann opened #67356 "Fix broken links in ucs modules"
We're trying to fix as many broken links as possible before modules move into collections.  This is the batch of broken links on ucs modules.

NOTE: the link checker sometimes reports an error where a link actually works. Ignore those if you find them.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

###### BROKEN LINKS
https://docs.ansible.com/ansible/devel/module

[2020-02-12 20:18] samccann opened #67357 "Fix batch of broken links in module docs"
We're trying to fix as many broken links as possible before modules move into collections.  This is the batch of broken links on some Ansible modules.

NOTE: the link checker sometimes reports an error where a link actually works. Ignore those if you find them.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

###### BROKEN LINKS

~~https://docs.ansible.com/ansible/

[2020-02-12 20:18] Sneedes opened #67358 "Azure modules need support for left/right single quotes"
##### SUMMARY
Utilizing the azure_rm_virtualmachine module.
Receive the following error from Ansible in the stderr:
`UnicodeEncodeError: 'ascii' codec can't encode character u'\\\\u2018' in position 596: ordinal not in range(128)\\n`

Noting that the **actual** Azure error message reported is believed to be along the lines of:
`
Operation could not be completed as it results in exceeding approved

[2020-02-12 20:32] felixfontein commented on #67355
The link in question appears in the docs fragment: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/docker.py#L102

I guess this link can be replaced by https://docs.docker.com/machine/reference/env/

!component =lib/ansible/plugins/doc_fragments/docker.py

[2020-02-12 20:37] samccann commented on #67354
Closing this in favor of https://github.com/ansible-collections/ansible_collections_google/issues/158 (aka gcp has already moved to a collection!)

[2020-02-12 20:37] #67354 closed, assigned to nobody

[2020-02-12 20:53] YaroBear commented on #62899
bumping. This is a pretty big show stopper from a security standpoint.
My ansible story includes executing against many client domains. I want a single non admin user that can login and the elevate via `become` to a client domain account.
Having a single admin account that is admin across multiple clients is not an option. If that single account gets compromised, all clients are compromised.

Curr

[2020-02-12 21:31] alongchamps commented on #67219
I think this is a side effect of the defaults that get selected when a property is accessed with .get(option, default).

[2020-02-12 21:35] gundalow opened #67362 "demote running from devel"
##### SUMMARY

Given the recent discussions on freezing devel we should be a lot clearer on the disadvantages on running from devel. We should point people to the stable version.

* Docs https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-ansible-from-source-devel
* ansible (--version) to print out warning

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2020-02-12 21:40] #17714 closed, assigned to nobody

[2020-02-12 21:40] #59386 closed, assigned to nobody

[2020-02-12 21:41] #67355 closed, assigned to nobody

[2020-02-12 21:43] jillr commented on #66820
@mpechner An `ecs_tag_info` module would be great I think. We'll have a temporary pause on taking new modules as we work towards our migrations to [collections](https://www.ansible.com/blog/getting-started-with-ansible-collections) repos, but we'll start taking new AWS modules again soon.

[2020-02-12 22:34] peguera-eu commented on #32872
I figured out a solution, it's more of a workaround while this bug doesn't get solved but it works:

just leave the task as an empty string when starting or running tasks. My deploy role looks like this:

[code]

[2020-02-12 22:45] geerlingguy opened #67365 "ansible-galaxy list is not listing certain valid roles"
##### SUMMARY

I am trying to see what roles Ansible will pick up from a given roles directory, and it seems like it's only picking up roles that I've downloaded from Galaxy, not any other roles (like custom ones I've created via `ansible-galaxy init`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2020-02-12 22:49] geerlingguy commented on #67365
Testing in a fresh Ubuntu environment:

[code]

Still no dice.

[2020-02-12 22:55] geerlingguy commented on #67365
Interesting, using `ANSIBLE_ROLES_PATH=$(pwd) strace -ffttv -e open -e stat ansible-galaxy list` I found that:

[code]

Basically, for the local role(s) it's looking for the file `/testing-roles/meta/main.yml` and not finding it. For Galaxy-installed roles it's looking for `/testing-roles/geerlingguy.php/meta/main.yaml` and still saying `ENOENT (No such file or directory)` but that file does exist

[2020-02-12 22:57] samdoran commented on #60167
Relate to discussion around #60167, we do indeed have a bug in that code as described above. Listing a specific role doesn't work if it's not in the first path defined in `ANSIBLE_ROLES_PATH`. Here's my simple reproducer:

[code]

[2020-02-12 23:02] geerlingguy commented on #67365
Well the plot thickens...

[code]

So maybe this is just an issue with roles named `testing`?

[2020-02-12 23:07] geerlingguy commented on #67365
That was a fun rabbit hole—I can confirm that, as long as the role name does _not_ consist of the word `test` or `testing`, it is listed.

Tested the following names:

| Role name  | Is listed with `ansible-galaxy list`? |
| ------------- | ------------- |
| testing  | ❌ |
| test | ❌ |
| tests | ✅ |
| foo | ✅ |
| zzztest | ✅ |

[2020-02-13 00:54] Fred-sun commented on #62499
Thank you very much! No problem with my test!

[2020-02-13 00:56] Fred-sun commented on #65072
Thank you for contributing this question! If you have any other questions, please feel free to contact us!

[2020-02-13 03:24] Fred-sun commented on #57989
Thank you for your contribution. Do you have any updates

[2020-02-13 03:40] Fred-sun commented on #45330
@gavinfish @haiyuazhang @zikalino Ping to close!

[2020-02-13 03:45] gavinfish commented on #45330
close_me

[2020-02-13 03:54] #45330 closed, assigned to zikalino

[2020-02-13 03:55] Fred-sun commented on #57254
Kindly ping!

[2020-02-13 04:19] justjais commented on #64896
@mihudec @smolz Thanks for raising the issue and I had already raised this issue, I'd work on the respective implementation and raise the PR asap.
Duplicate of bug: #65032, thus closing this bug.

[2020-02-13 04:19] #64896 closed, assigned to GomathiselviS

[2020-02-13 04:31] mhazri commented on #59056
Hi
I have similar issue, windows update successfully and along the process the window is rebooted few time successfully. But on the ansible result, "reboot_required=false".
![reboot_required_false_issue](https://user-images.githubusercontent.com/53219215/74401569-a4610180-4e5c-11ea-917f-85675377303a.png)

[2020-02-13 04:53] jborean93 commented on #62601
The PR https://github.com/ansible/ansible/pull/67367 adds the C# util `Ansible.Service` that I am planning to get `win_service` to use instead of the various different sources it currently relies to manage services. I've tested that this util can correctly set the service account to both a virtual account and MSA so all that is needed for win_service to correctly support that.

Just need to finish

[2020-02-13 06:55] jborean93 commented on #22789
Implemented with https://github.com/ansible/ansible/pull/66931

[2020-02-13 06:55] #22789 closed, assigned to nobody

[2020-02-13 06:55] jborean93 commented on #35377
The ability to specify the method has been implemented with https://github.com/ansible/ansible/pull/66931.

[2020-02-13 06:55] #35377 closed, assigned to nobody

[2020-02-13 06:55] jborean93 commented on #40973
This has been fixed with https://github.com/ansible/ansible/pull/66931

[2020-02-13 06:55] #40973 closed, assigned to nobody

[2020-02-13 06:56] jborean93 commented on #43818
While this was not something we wanted to do, with the web request functionality in a module_util we have been able to easily share the same functionality across modules.

This has been implemented wit hhttps://github.com/ansible/ansible/pull/66931.

[2020-02-13 06:56] #43818 closed, assigned to nobody

[2020-02-13 06:57] jborean93 commented on #45950
The PR https://github.com/ansible/ansible/pull/66931 changes how we detect MSI packages. It should pick up packages that are installed system wide as well as the current user by using the Windows Installer API instead of querying the registry.

[2020-02-13 06:57] #45950 closed, assigned to nobody

[2020-02-13 06:57] jborean93 commented on #50765
Supports for appx, msix, appxbundle, and msixbundle packages have been implemented with https://github.com/ansible/ansible/pull/66931.

[2020-02-13 06:57] #50765 closed, assigned to nobody

[2020-02-13 06:58] jborean93 commented on #58044
The PR https://github.com/ansible/ansible/pull/66931 improves the uninstall string checking functionality so this scenario will no longer fail.

[2020-02-13 06:58] #58044 closed, assigned to nobody

[2020-02-13 08:26] midgetworrior commented on #67308
!component +lib/ansible/modules/windows/win_unzip.ps1

[2020-02-13 09:08] Akasurde commented on #67357
For os_ironic - https://review.opendev.org/#/c/707589

[2020-02-13 09:44] ottacom commented on #41133
I tried every single trick which I found, I spend some hours ate the end I fixed the problem using the Vmware tools (and not the open source as recommended)  everything works for me and is faster than before.
I'm still wondering why it is recommended to use the OS version when is not possible to update the VMware tool from the GUI.

- name: "{{ vlan_1 }}"
          lablel: "{{ vlan_1 }}"

[2020-02-13 09:49] cjewo opened #67377 "postgresql_set converts value to uppercase if "mb" or "gb" or "tb" is in the string"
##### SUMMARY

in postgresql_set.py:303 the value to be set is converted to uppercase if it contains "mb" or "gb" or "tb".
for example an archive command will fail if the case is not correct.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_set.py:303
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian stretch

##### STEPS TO REPRODUCE

[code]

[2020-02-13 09:51] cigamit commented on #41133
Most people recommend the OS version because you end up updating it more often.  Every week when my Servers install the latest patches, they would get the new version automatically.  Versus back in the day when I used the VMWare Tools version, and I pretty much never updated them because it took a 1000 clicks in the GUI for all my servers.

Of course, in the ideal automated VMWare environment, you

[2020-02-13 11:55] markuman commented on #66135
I'm working on it.
We need a compliance to not break backwards compatibility...
When the value is a string, `masked` and `protected`  will be defaults set to `false`. Otherwise, the value must be a dict, where addition values for a variable will be given.

[code]

[2020-02-13 12:11] markuman commented on #66135
Note for myself for masked variables

[code]

[2020-02-13 12:17] nathonfowlie commented on #56930
How long will users be allowed to opt out of this behaviour? Will there be a permanent configuration option to disable this behaviour in all ansible versions moving forward, or will it only be supported until 2.11? I'd be happy for the option to be turned on by default, as long as I **always** have the option to turn it off.

If this becomes a hard restriction in 2.11+, then you're likely going to

[2020-02-13 12:44] gerardocastaldo commented on #53862
Hi,
i need the same feature. I would to explain why i cannot use the "before" argument.
On Cisco and Huawei network appliances if the command isn't present it doesn't showing in config and they will be cause, in some cases, a error.
If i use "before" field the result is that the command is always inserted and then removed. In most cases this is unacceptable.
I think that it's a good idea to implem

[2020-02-13 13:01] veksh commented on #17714
I do not see how this improvement to `combine` will help here: idea was to keep some shared state variable and being able to append values to it, not to improve recursive list merge behavior.

[2020-02-13 13:28] jgtaylor commented on #67338
I'll try the update this weekend (15-Feb-2020) to verify.

Looking at the PR, though, seems like it's everything I reported (sorry for the duplication, and Thanks for quick response!) so I'll close this, and comment on PR #58441 if need be.

[2020-02-13 13:28] #67338 closed, assigned to nobody

[2020-02-13 13:55] mkrizek commented on #66971
The provided example works with both `-e` and `--extra-vars` for me and as such there is not much we can do here. If there's more info you can provide to help us reproduce the issue, please re-open, thank you.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-13 13:55] #66971 closed, assigned to nobody

[2020-02-13 13:59] nicolaibaralmueller opened #67383 "vmware_guest customization runonce not executing"
##### SUMMARY

vmware_guest is not executing customization runonce command

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the script to be executed.

##### ACTUAL RESULTS

No errors shown in output with verbose -vvvv but VALUE_SPECIFIED_IN_NO_LOG_PARAMETER is shown although I am n

[2020-02-13 14:19] nicolaibaralmueller commented on #67383
aaaaaaaaaaand closing again. user error.

[2020-02-13 14:19] #67383 closed, assigned to nobody

[2020-02-13 14:29] sivel commented on #66923
Ubuntu 18.10 became end of life on July 18, 2019.  Ansible 2.9 was released on October 31, 2019.  As such, there are no builds of Ansible 2.9 for Ubuntu 18.10.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-13 14:29] #66923 closed, assigned to nobody

[2020-02-13 14:34] sivel commented on #66924
The issue is not a checksum error, but instead the task is failing due to `Destination not writable`.

You will need to investigate what permissions are set that are preventing this from working.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-13 14:34] #66924 closed, assigned to nobody

[2020-02-13 14:56] Lin-Buo-Ren commented on #66414
@samdoran
Encountered this issue as well, here are the required info:
[ansible-issue-66414.vvvv.out.tar.gz](https://github.com/ansible/ansible/files/4198990/ansible-issue-66414.vvvv.out.tar.gz)

[2020-02-13 15:08] geerlingguy commented on #67365
Debugging with strace:

  - `ansible-galaxy init testing`: https://gist.github.com/geerlingguy/d361d073a95e0497b92d12982934e5ff
  - `ansible-galaxy install -p ./ geerlingguy.php`: https://gist.github.com/geerlingguy/78b31ab4ac4fcd828e3e04b80dd4453b
  - `ansible-galaxy list`: https://gist.github.com/geerlingguy/e829bb25a0a37e8c07258a7fb733cfc5

[2020-02-13 15:17] XeS0r commented on #16767
Why is that not the default? It's now 2020 and everyone should know that you not want to change everyones usage of synchronize. How can this not be recognized by red hat?

[2020-02-13 15:27] sivel commented on #16767
Backwards compatibility.

Switching the default, even over a deprecation period could break playbooks.

We have no plans on doing this at this time, but should a PR be created to achieve this, we would be interested in reviewing it, but it would have to be implemented in such a way that it does not cause a backwards compatible issue.  And I'm not sure how that would be achieved.

If you have furth

[2020-02-13 15:27] #16767 closed, assigned to nobody

[2020-02-13 15:37] XeS0r commented on #16767
I don't have a solution if backward compatibility is an issue. But it is only one line which have to be changed instead of
`use_ssh_args = _tmp_args.pop('use_ssh_args', None)`
use
`use_ssh_args = _tmp_args.pop('use_ssh_args', True)`
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L204

In my humble opinion this is what everyone expects from synchronize. I ca

[2020-02-13 15:44] vrevelas commented on #66764
Thanks! I'm happy to pick up submitting a PR for this.

[2020-02-13 15:45] idelsink commented on #62893
I tested my theory by upgrading the ansible runtime inside the `awx_task` (docker)container to v2.9.3. (`yum install epel-release && yum install ansible`)
After my upgrade I did not have the same issue and it resolved fine to the ipv6 address.

I do need to mention that my setup is a bit different. I try to reach an API of another machine (using a module which uses the `ansible.module_utils.urls`

[2020-02-13 16:15] geerlingguy commented on #67365
I tried inside the directory `fizzbuzz` instead of `testing-roles`, and `list` did work, meaning it seems to be a directory-naming-related bug if the role has a substring of part of the path.

[2020-02-13 16:16] geerlingguy commented on #67365
According to @jctanner it seems the issue is in this bit of code: https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/role.py#L69-L71

[2020-02-13 16:32] #37755 closed, assigned to nobody

[2020-02-13 16:41] xenlo opened #67388 "Module defaults group for vmware_*"
##### SUMMARY
It could be helpful to have a [module defaults group](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups) for `vmware_*` modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- All vmware modules: `vmware_*`

##### ADDITIONAL INFORMATION
Several arguments are repeated each time for when using the vmware modules:
-    dat

[2020-02-13 16:44] sivel commented on #67388
This is something that we cannot likely address right now.  The `vmware` modules, as well as most all modules are about to be removed from this repository and into a standalone collection.

Unfortunately, right now, content from collections do not support module defaults groups.  See https://github.com/ansible/ansible/issues/59864

As such, any additions to this repo, would simply be removed in se

[2020-02-13 16:51] xenlo commented on #67388
I just learn from @bcoca that vmware modules are planned (v2.10) to move from Ansible core into Collection.
So this Feature request is not that relevant…

[2020-02-13 16:51] #67388 closed, assigned to nobody

[2020-02-13 16:51] #66582 closed, assigned to nobody

[2020-02-13 17:29] miksir commented on #31543
workaround above not working for me, 2.9.4
[code]
Result
[code]

[2020-02-13 17:32] #67303 closed, assigned to nobody

[2020-02-13 17:39] pinko-fowle opened #67390 "Git option to allow local modifications"
##### SUMMARY

As a developer, I use git to set up other coworkers & my own environments. We often have some local changes to our repos, but still want to be able to run our playbooks to do other tasks, such as running db migrations or updating libraries.

At the moment Ansible is very hard to use for developer automation because there is no good way to allow local modifications to exist in a repo

[2020-02-13 17:49] odyssey4me commented on #59350
@maweki If you use the full path for virtualenv, you can pass any arguments you like. For example, this works for me:

[code]
However, the virtualenv command will not be run if the virtualenv already exists which is exactly what is documented.

[2020-02-13 17:51] odyssey4me commented on #47654
I would argue that this is entirely unnecessary, given that ``extra_args`` can be used for this purpose.

[2020-02-13 18:05] sivel commented on #67096
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-02-13 18:05] #67096 closed, assigned to nobody

[2020-02-13 18:05] sivel commented on #67118
cc @mattclay

[2020-02-13 18:08] sivel commented on #67138
This has been fixed in https://github.com/ansible/ansible/commit/39945b85707490dbd9eb814641991277be1f7e2e and is available in the recent 2.9.X release series.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-13 18:08] #67138 closed, assigned to nobody

[2020-02-13 18:20] bitinerant commented on #30754
I have a host on which the `apt` module with `update_cache: yes` consistently fails but `apt-get update` from the command-line completes without errors. I've tried `find /var/lib/apt/lists -maxdepth 1 -type f -exec rm -v {} +` and `apt-get install aptitude apt-transport-https software-properties-common` but nothing helped. I have Ansible 2.9.4.

[2020-02-13 19:07] kbreit opened #67397 "Ansible crashes on virutal NXOS with FullLoader error"
##### SUMMARY
Ansible is crashing when running `nxos_facts` against virtual NXOS devices.

CC @tknipper11

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 8.1.1911

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to see the results registered in the `facts` variable.

###

[2020-02-13 19:10] rchaud opened #67398 "VMware: vmware_export_ovf fails with error "a bytes-like object is required, not 'str'""
It seems that version 2.9.3, 2.9.4 and 2.9.5 do not include the patch for the error reported in https://github.com/ansible/ansible/issues/60234

It seems this was merged to devel branch but not to the released. I manually download all those 3 versions(2.9.5 available in PyPi) and it seems that vmware_export_ovf.py file is still not updated.

Is there a timeframe to get this bug released? I am stil

[2020-02-13 19:20] samdoran commented on #66732
This is working correctly. Only the owner of the file or `root` can read it with permissions 600, which is `root`.  So `sudo-user` will not be able to read the file.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-13 19:20] #66732 closed, assigned to nobody

[2020-02-13 19:25] mikewiebe commented on #67397
@kbreit I remember a fix for `nxos_facts` being committed into `stable-2.9` 3 days ago.

https://github.com/ansible/ansible/pull/66949/files

Not sure if this made it into `2.9.5` or not. It's possible this is the same issue?

@Qalthos does this look like the same issue you fixed?

[2020-02-13 19:30] kbreit commented on #67397
@mikewiebe #66949 is my bug as well. It did fix that problem, which is great, but now this problem is coming up. Seems to be separate.

[2020-02-13 19:37] samdoran commented on #66775
This appears to be several issues in one.

[2020-02-13 19:42] geerlingguy opened #67399 "Add ability to install a collection ignoring dependencies"
##### SUMMARY

I recently tried installing the `community.general` collection for a test scenario I'm building, using the command `ansible-galaxy collection install -s https://sivel.eng.ansible.com/api community.general`, to get a particular filter that's going to be in it. When I tried installing it, two different things happened that are undesirable:

  1. It attempted to install all the additio

[2020-02-13 19:43] geerlingguy commented on #67399
Separately, for point #2 above, here's the stack trace from `-vvv`:

[code]

And it looks like this is because the command is comparing `*` to a version number and that might be what's failing.

[2020-02-13 19:52] IPvSean opened #67402 "netconf on cisco ios"
##### SUMMARY

I can't get simple Cisco IOS netconf to work on
[code]

I have uploaded a netconf Ansible Playbook here: https://github.com/network-automation/netconf

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_rpc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
return without error.

[2020-02-13 20:01] samdoran commented on #66854
I'm not sure how since the `dnf` module should not work on RHEL7. Also, RHEL7 uses `yum` so `/etc/dnf/dnf.conf` would have no effect on RHEL7.

Can you provide the output of running these commands manually?

needs_info

[2020-02-13 20:03] geerlingguy commented on #67399
Related: https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/collection.py#L224

[2020-02-13 20:06] geerlingguy commented on #67399
I just noticed/remembered that `ansible-galaxy install --help` shows:

[code]

But it seems those don't apply to `ansible-galaxy collection install`...

[2020-02-13 20:36] samccann commented on #67362
@gundalow for the docs portion - are you looking for something more than a big ol warning at the top of that section that says something like 'You should only run Ansible from devel if you are actively developing content for Ansible. That is a rapidly changing source of code and can become unstable at any point."

[2020-02-13 20:43] saurabh02 opened #67404 "Values in YAML files beginning with "#" incorrectly parsed as "None""
##### SUMMARY
`BaseInventoryPlugin.load.load_from_file` method parses values in YAML files incorrectly if those values begin with a `#`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`BaseInventoryPlugin.load.load_from_file`

The problem seems to be stemming from `AnsibleLoader.get_single_data` method, but I couldn't find its definition in the project.

##### ANSIBLE VERSION
[code]

##### C

[2020-02-13 20:50] gundalow commented on #67362
Yup

[2020-02-13 21:00] so87 commented on #39633
@cwegener can you post an example?

[2020-02-13 21:51] sivel commented on #67404
This is expected behavior in YAML.

An unquoted string starting with `#` is a comment and is ignored, and as such a key with no value is None/null.

You need to quote the value to ensure it is treated as a string value:

[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-p

[2020-02-13 21:51] #67404 closed, assigned to nobody

[2020-02-13 22:35] AJatCDW commented on #66945
Not to hijack this thread, but this also seems to be affecting Ansible 2.7 as well. If there is something I can provide or test I would be happy to do so.

[2020-02-13 22:44] iamperson347 commented on #66945
@AJatCDW  out of curiosity, are you running on python2 or 3?

[2020-02-13 22:44] StephenGevers opened #67410 "File operations failing on shared file system"
##### SUMMARY

Both copy and stat fail to find a file in a shared directory that was deleted and recreated during a task list. I have a role that operates across two hosts that have a NAS storage.  A command on one host produces a file that I need on another host.  The command that produces the file fails if the file is already there, so there is a file task to remove it.  If I remove the file fro

[2020-02-13 22:51] AJatCDW commented on #66945
Looks like I'm running python3:

[code]

[2020-02-13 22:56] jamescassell commented on #39633
Even just a simple wrapper around LGPO.EXE would be quite helpful...

[2020-02-13 23:57] VDI-Tech-Guy opened #67412 "eos_l3_interfaces missing list item for IP Address"
##### SUMMARY
information missing in examples (List items missing from ip address field)

Example shown as per documentation (https://docs.ansible.com/ansible/latest/modules/eos_l3_interfaces_module.html#eos-l3-interfaces-module):
[code]
Errors with
fatal: [eos]: FAILED! => {"changed": false, "msg": "argument ipv4 is of type <type 'dict'> found in 'config'. and we were unable to convert to list: <

[2020-02-14 03:01] Lin-Buo-Ren commented on #66414
Also noticed that:

* The issue can NOT be reproduced when ssh_connection.control_path is not defined
* Reproduced in Ansible 2.8.5 as well, not a regression in the 2.9.1 Ansible release

@Slowdive-Aideron Can you verify if that's the case for you as well?

[2020-02-14 03:19] Lin-Buo-Ren commented on #66414
Playbook for reproducing the issue:

[code]

Set `defaults.stdout_callback` configuration setting to `debug` to ease the verification:

[code]

[2020-02-14 04:43] dscout87 opened #67415 "Task failed due to FileNotFoundError exception"
##### SUMMARY
Rare issue with any kind of built in tasks. When ansible copy part of exec code in arch it can't found it cause it doesn't exist.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Containerized debian 8.8, kernel - 3.10.0-957.21.3, arch - x86_64

##### STEPS TO REPRODUCE
I don't know

[2020-02-14 06:34] sakar97 opened #67416 "Failed to connect to gitlab server: 404 Not Found."
##### SUMMARY

When I use gitlab_project ansible module then I showed up with this error. I am confused between the api_url parameter vs server_url parameter.

##### ISSUE TYPE
- Bug Report
"Failed to connect to GitLab server: 404: 404 Not Found.             GitLab removes Session API now that private tokens are removed from user API endpoints since version 10.2.

##### COMPONENT NAME

gitlab_proj

[2020-02-14 07:04] wangzw opened #67417 "get_url pass incorrect If-Modified-Since header"
##### SUMMARY

`get_url` module add `If-Modified-Since` http request header. But its value does not follow HTTP protocol.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`get_url`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Run command `ansible-playbook -v -i hosts test.yml` twice. Success all

[2020-02-14 07:08] Andersson007 commented on #67377
@cjewo thanks for reporting this issue!
resolved_by: https://github.com/ansible/ansible/pull/67418
could you please look, if it is ok, please put shipit there https://github.com/ansible/ansible/pull/67418

[2020-02-14 10:02] sylr opened #67422 "blockinfile: do not remove markers when block is empty"
##### SUMMARY

If you provide an empty block to blockinfile plugin it will remove the markers from the target files.

It would be nice if the plugin allowed the markers to remain.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
blockinfile

##### ADDITIONAL INFORMATION

[code]

[2020-02-14 10:30] megabreit opened #67423 "Incomplete fix for #64034, numerical options don't work anmyore"
##### SUMMARY
#64034 is incomplete, numerical options don't work anmyore

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios, lib/ansible/modules/net_tools/nios/nios_fixed_address.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 with Ansible 2.9.4 from Ansible PPA (2.9.4-1ppa~bionic)

pip freeze|grep -i infoblox
infoblox-client==0.4.23
cherry

[2020-02-14 11:47] nicolaibaralmueller opened #67424 "vmware_guest wait_for_customization does not wait"
##### SUMMARY

vmware_guest  vmware_guest wait_for_customization does not wait for the vm to finish customizing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

Once the VM is poweredOn the vmware_guest module finishes and goes to next task which will fail because of reboots during customizat

[2020-02-14 11:54] Lunik commented on #67416
Have you tried with `api_url: https://gitlab.com`

[2020-02-14 12:08] Andersson007 commented on #67125
regarding the discussion in the irc channel, some contributors think that it is no good idea generally because:
- it is distribution (debian) specific
- difficult (or probably even impossible) to make such a module idempotent

[2020-02-14 13:14] jchmielniak commented on #42779
@ckotte @umrikar  could you please get this change merged

[2020-02-14 13:14] sakar97 commented on #67416
Same Error...

[2020-02-14 13:58] DEvil0000 commented on #67125
even if it is a debian specific thing at the moment (which i am not sure of) it is not using any debian specific features for it (as far as i can tell).
In my understanding its just a clever use of systemd and the way you configure psql and kind of a convention where to put the config. As far as I can tell this approach should work on any OS using systemd.
But even if not it might be a great featu

[2020-02-14 14:47] Akasurde commented on #62972
@AbhishekB15 AFAIK @fdevans  no longer works with logicmonitor [link](https://github.com/ansible/ansible/issues/60536#issuecomment-569094867).

I think there are two ways to proceed from here -

- Migrate current RPC based module to REST
- Use `uri` module as per REST [API](https://www.logicmonitor.com/support/rest-api-developers-guide/overview/using-logicmonitors-rest-api) docs

Let me know if yo

[2020-02-14 15:04] s-hertel commented on #60949
This should be fixed by 90898132e456ee1993db99a1531379f1b98ee915 for 2.10. I'm not sure if it will be backported since it may make tests on stable branches flaky.

[2020-02-14 15:04] #60949 closed, assigned to nobody

[2020-02-14 15:53] #61758 closed, assigned to nobody

[2020-02-14 16:14] samccann commented on #67356
Fixed by #67400

[2020-02-14 16:14] #67356 closed, assigned to nobody

[2020-02-14 17:34] ffirg opened #67430 "ansible-doc -l broken on mac"
##### SUMMARY
ansible-doc -l
ERROR! Unexpected Exception, this is probably a bug: invalid character in identifier (<unknown>, line 1)
to see the full traceback, use -vvv

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-doc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ProductName:	Mac OS X
ProductVersion:	10.15.3
BuildVersion:	19D76

##### STEPS TO R

[2020-02-14 17:41] sivel commented on #67430
I cannot duplicate this issue.  I've checked within the 2.9.5 sources, and there are no python files that include the line:

[code]

Without more research on your side, to determine what file is causing that issue, I'm not sure we can realistically help.

Perhaps you have some custom module that is causing this issue?

needs_info

[2020-02-14 17:59] sivel commented on #67390
How would a `state` parameter work differently than the `update` parameter?  `state: present` would effectively work like `update: no`.

needs_info

[2020-02-14 18:04] ffirg commented on #67430
if I :

[code]

if I go back to my home directory:
[code]

Any ideas?

[2020-02-14 18:06] ffirg commented on #67430
ok it's something in my $HOME ansible.cfg file:

[code]

[2020-02-14 18:24] lukebakken commented on #67343
@odyssey4me I'm responding to [this tweet](https://twitter.com/odyssey4me/status/1228379152560140291). If you have _specific_ issues that the RabbitMQ core team can address, please let us know via the [`rabbitmq-users`](https://groups.google.com/forum/#!forum/rabbitmq-users) mailing list, or you can `@`-ping me on an issue. "Any chance we could get some support" is a bit too open-ended for us to a

[2020-02-14 18:25] #25982 closed, assigned to nobody

[2020-02-14 18:25] sivel commented on #67430
I'd say this is potentially the problem:

[code]

That would attempt to use every python file in that dir as a module, and I believe subdirs too.

[2020-02-14 18:37] sivel commented on #67343
As of right now, the rabbitmq modules will be moving to the `community.general` collection and removed from this repo in the coming weeks.  If someone would like to have a separate collection just for rabbitmq, that can be arranged.  The plan is that most collections will live at https://github.com/ansible-collections, but that is not a requirement.

@lukebakken I think generally speaking, the req

[2020-02-14 18:44] lukebakken commented on #67343
We don't have time to be 100% responsible but are happy to assist when issues arise.

[2020-02-14 20:00] westurner commented on #66775
Is there no support for e.g. argparse epilog?

Invocation examples would really improve usability for new users;
particularly in ansible-doc.

Is there a broader review of usability meta-issue that this would be
helpfully linked to?

https://docs.python.org/3/library/argparse.html#argparse.ArgumentParser

On Thu, Feb 13, 2020, 2:37 PM Sam Doran <notifications@github.com> wrote:

[2020-02-14 20:01] westurner commented on #66775
IIRC it rewraps epilog, but that may be optparse

On Fri, Feb 14, 2020, 2:59 PM Wes Turner <wes.turner@gmail.com> wrote:

[2020-02-14 20:03] pabelanger commented on #60292
This was fixed in https://github.com/ansible/ansible/pull/65022

[2020-02-14 20:03] #60292 closed, assigned to nobody

[2020-02-14 20:04] westurner commented on #66775
Would you want to maintain an ansible/ansible.vim repo, or have a
./contrib/ansible.vim (which then wouldn't be easily installable as a
plugin), or leave that to third party devs?

On Fri, Feb 14, 2020, 3:01 PM Wes Turner <wes.turner@gmail.com> wrote:

[2020-02-14 20:37] maxamillion commented on #66854
@samdoran There was a Tech Preview release of YUM4(dnf) for RHEL 7, but it was never released as stable. Also the CentOS and Fedora EPEL communities both released versions of dnf for RHEL and CentOS 7. However, it was never fully supported and I'm not personally inclined to try and support something the operating system vendor isn't willing to.

[2020-02-14 20:41] maxamillion commented on #66643
Closing this issue as it's been reported that current stable release resolves the problem, but feel free to re-open or open a new issue and we can dig into it. Thanks!

[2020-02-14 20:41] #66643 closed, assigned to nobody

[2020-02-14 21:07] #65765 closed, assigned to Akasurde

[2020-02-14 21:50] #66764 closed, assigned to nobody

[2020-02-14 23:43] jamescassell commented on #66528
this should probably be re-opened as a legit bug, unless you've tried and failed to reproduce it.

[2020-02-15 03:39] cwegener commented on #39633
@so87

User policies (NonAdmins):

[code]

Machine Policy:

[code]

[2020-02-15 09:14] it-praktyk commented on #67352
I think that adding the additional information `changed` to the sections of `content`/`file_attributes` can be additional benefit.

[code]

Alternatively.

[code]

[2020-02-15 10:55] Lunik commented on #67416
Your GitLab instance version greater than `10.2`, you can't use user/password authentication anymore. Try using `api_token` instead

[2020-02-15 11:26] M4t7e commented on #66528
@bcoca: I can reproduce it with the following playbook:
[code]
Here are the executed commands:
[code]
The limit is exactly 139263 bytes. 139264 bytes cause the module to hang indefinitely. In binary 139263 looks pretty interesting: **0010 0001 1111 1111 1111**

Maybe an internal limitation somewhere?

[2020-02-15 12:46] #52131 closed, assigned to nobody

[2020-02-15 12:48] #65561 closed, assigned to nobody

[2020-02-15 12:49] #65943 closed, assigned to nobody

[2020-02-15 12:56] #65936 closed, assigned to nobody

[2020-02-15 12:56] #66716 closed, assigned to nobody

[2020-02-15 12:57] #51345 closed, assigned to nobody

[2020-02-15 13:00] #65599 closed, assigned to nobody

[2020-02-15 13:03] #67377 closed, assigned to nobody

[2020-02-15 13:06] #67267 closed, assigned to nobody

[2020-02-15 13:09] gundalow commented on #67042
Closing as issue has been raised in Grafana collection

[2020-02-15 13:09] #67042 closed, assigned to nobody

[2020-02-15 13:10] #65560 closed, assigned to nobody

[2020-02-15 13:13] gundalow commented on #46152
Hi, this has been resolved in the Grafana Collection, which you can start using with Ansible 2.9. Or wait till Ansible 2.10 has been released

Collection: https://github.com/ansible-collections/grafana/

Specific fix: https://github.com/ansible-collections/grafana/pull/11

[2020-02-15 13:13] #46152 closed, assigned to nobody

[2020-02-15 13:19] #66537 closed, assigned to nobody

[2020-02-15 14:10] #59353 closed, assigned to nobody

[2020-02-15 14:38] #67347 closed, assigned to nobody

[2020-02-15 14:42] #66731 closed, assigned to nobody

[2020-02-15 14:51] #65689 closed, assigned to nobody

[2020-02-15 14:52] #57471 closed, assigned to nobody

[2020-02-15 16:10] #66242 closed, assigned to nobody

[2020-02-15 16:28] ffirg commented on #67430
Thanks @sivel that's the culprit!

[2020-02-15 16:28] #67430 closed, assigned to nobody

[2020-02-15 17:31] odyssey4me commented on #67343
@lukebakken Great, thank you. I will put in a request for a collection within the next week. There are some proposed changes already waiting in the wings which we would appreciate some eyes on once the collection is ready. At the very least we now have someone to ping, which is handy. :)

[2020-02-15 17:45] abadger opened #67440 "Misleading error message from ansible-galaxy collection install"
##### SUMMARY
Running ansible-galaxy collection install with a filename that doesn't exist returns an error about the format of the collection name but should return an error about being unable to find the file:

I was scripting a build and install of a collection and put in the filename as netbox-ansible_modules-0.1.6.tar.gz rather than netbox_community-ansible_modules-0.1.6.tar.gz.  the error me

[2020-02-15 19:28] abadger commented on #67440
Maybe we could look at whether there are path seperators in the
file/collection name and if so, assume that it's a missing file rather than
a malformed collection name?  (Or endswith(".tar. gz") ?)

On Sat, Feb 15, 2020, 9:48 AM ansibot <notifications@github.com> wrote:

[2020-02-15 19:44] felixfontein commented on #67347
Backport to stable-2.9 in #67441.

[2020-02-16 06:25] igor-raits opened #67443 "ansible-galaxy collection install: Install without specifying path"
##### SUMMARY
I'm looking into packaging collections into RPMs and found not very nice thing: when building collections, it is enough to simply call `ansible-galaxy collection build .`, but for installation, you need to specify path to the tarball..

It would be nice if Ansible could read galaxy.yml and try to install tarball automatically (if exists) based on info in galaxy.yml. Possibly do a bui

[2020-02-16 08:33] s-hamann opened #67445 "unarchive module: missing documentation on return values"
##### SUMMARY
The unarchive module is missing documentation on its return values.
Only the `list_files` option mentions it at all:

It does not mention how this list is returned (Spoiler: It's in the `files` key, as a list of file names).
A `RETURN` section should be added to the module documentation.
Ideally, the `EXAMPLES` section should be extended to include one or two examples that use the re

[2020-02-16 10:46] #62902 closed, assigned to nobody

[2020-02-16 11:36] ayaseen opened #67446 "Add profile_tasks values into variables"
##### SUMMARY

profile_tasks plugin does the task in a perfect way. However, is there a way to collect the execution time for each tasks from profile_tasks and save it in a variable, in this case, I can use it within the play.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

profile_tasks callback plugin

##### ADDITIONAL INFORMATION

Usually, in Ansible, we can collect the data and store it

[2020-02-16 16:03] #66727 closed, assigned to nobody

[2020-02-16 16:58] bincyber commented on #59560
My PR is in review. Should be merged soon hopefully.

[2020-02-16 20:14] tmbdev commented on #66862
Sure. It might also be called "content:" (since it's unambiguous). Just having it inline in any way would be nice.

[2020-02-16 21:13] lukasbestle commented on #50995
!component -lib/ansible/modules/packaging/os/mas

[2020-02-16 21:25] #59348 closed, assigned to nobody

[2020-02-16 21:26] jborean93 commented on #59348
This has been implemented in `win_domain_controller` under the `domain_log_path` option due to the name collision with an existing variable. In the future we can also use `log_path` once that original deprecated option has been removed but that can't happen right now.

https://github.com/ansible/ansible/pull/67448

[2020-02-16 21:28] fbruetting opened #67449 "Debug output does not represent tuples"
##### SUMMARY
I’m relatively new to Ansible and just faught it for three hours, because I wasn’t able to extract data of a `groupby ()`-produced array with `json_query ()` or other filters, like I did the whole past six weeks. I was able to copy the `debug` output into JMESPath website’s test form and successfully test operations there, but in Ansible absolutely nothing worked. Turned out it was n

[2020-02-16 22:54] dagwieers commented on #67449
You are using a Jinja filter. The documentation on Jinja filters, and more specifically the **groupby** filter is available from: https://jinja.palletsprojects.com/en/2.11.x/templates/#groupby

This is not something that Ansible can change.

[2020-02-16 22:59] fbruetting commented on #67449
In this case, yes. However, there surely are other cases which produce tuples and users might not immediately be aware of. So it would be nice if at least some sort of small hint could be added.

Currently, Ansible shows tuples like they are lists, which is error-prone and not something users would expect.

[2020-02-16 23:17] dagwieers commented on #67449
@fbruetting If you run this:

[code]

it is rendered as a tuple:
[code]

[2020-02-16 23:26] fbruetting commented on #67449
Ah ok, could that also be done on levels above?

So like (without arrows):
[code]

Instead of:
[code]

[2020-02-17 00:04] dagwieers commented on #67449
@fbruetting I think this is a bug with turning the output in pretty-printed format. If you add a string before the Jinja template, it doesn't happen and a tuple is displayed as a tuple.

[2020-02-17 00:56] dagwieers commented on #67449
The problem is introduced in the function `_dump_results()` in *lib/ansible/plugins/callback/__init__.py*.

If you replace the `json.dumps()` parts with this:
[code]

You get correct python/Jinja2 data structure output, but the pretty printing is not identical to `json.dumps()` unfortunately.

[2020-02-17 01:06] fbruetting commented on #67449
Ok, that’s too deep for me, but can that be solved? Because that inline tuple display from above seems to also then also violate `json.dumps ()` (if I understand that correctly).

Btw: As the bug mentioned in line 129 is resolved, I guess that whole part could be simplified?

[2020-02-17 01:15] dagwieers commented on #67449
The ones that work are not pretty printed JSON, but just a string. If you only want to print raw strings, it is even easier. Not sure if people want that though.

[2020-02-17 02:53] Fred-sun commented on #56356
cc @gavinfish @haiyuazhang

[2020-02-17 03:15] Boes-man opened #67451 "Yaml inventory host ordering not following inventory"
I am experiencing issue https://github.com/ansible/ansible/issues/44065 on centos 7 and  ansible 2.9.2

Please advise how to work around or install fixed version.

ansible --version
ansible 2.9.2
  config file = /root/dcos-ansible-phase2/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/l

[2020-02-17 04:48] sakar97 commented on #67416
When I am adding api_url : https://gitlab.com/namespace and api_token: ****** then I am getting the output as

``The error was: TypeError: 'Response' object has no attribute '__getitem__' ``

[2020-02-17 05:35] #66450 closed, assigned to nobody

[2020-02-17 07:19] Tronde commented on #56930
Just to remind those who haven't read the whole thread here. There is also a thread on the devel mailling list: https://groups.google.com/forum/#!topic/ansible-devel/bjAcM9ferIw

IMHO this change was a really poor choice. Codebreaking syntax changes in minor release versions holds us back from extending the use of Ansible in our envirionment. Because I won't be able to update Ansible when it break

[2020-02-17 08:02] LKaemmerling commented on #64483
@rightaway  i have opened a PR which adds support for Networks to the hcloud inventory.

https://github.com/ansible/ansible/pull/67453

[2020-02-17 08:22] #62599 closed, assigned to nobody

[2020-02-17 08:39] justjais opened #67455 "Nxos_l2_interfaces module fails with traceback if allowed vlans are not preconfigured"
##### SUMMARY

Nxos_l2_interfaces module fails with a traceback if allowed vlans are not preconfigured on interfaces, raised from PR fix #66517

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_l2_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

Try running the module for configuring allowed vlans for the 1st

[2020-02-17 08:50] maweki commented on #59350
@odyssey4me the documentation has changed in the meantime. Originally it was written like "this command is only run when the virtualenv is created" but it was never stated _when_ it would be created and re-creating it when the python version changes/does not match would be an intuitive behavior.

Now the documentation reflects that you basically always have to delete old virtual environments if yo

[2020-02-17 09:20] heuels commented on #66655
needs_info

[2020-02-17 09:26] ilayaraja-p opened #67458 "Router ACL Changes"
##### SUMMARY
Router ACL Changes -
Ansible playbook Execution – While updating the below Router ACL changes in router, The playbook execution status was changed, but the changes are not replicated in Router and not getting any error message.
Please find the below changes
**Changes: If the existing rule sequence number is modified for new rule with same sequence number.**
Manual configuration – whi

[2020-02-17 09:53] r0ckpine opened #67459 "s3_bucket: add StorageGRID support"
##### SUMMARY

Support NetApp StorageGRID

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

s3_bucket

##### ADDITIONAL INFORMATION

StorageGRID provides S3 REST API, but it's not fully-compatible with AWS API.
Current StorageGRID 11.3 does not have Requester Pays and tags feature, furthermore, the API returns XNotImplemented error instead of the standard NotImplemented error.
http://docs.ne

[2020-02-17 10:19] d3vnick commented on #30411
In one of our project we use `ad-hoc` commands. We needed some time to figure out that it was a Ansible bug. The main reason is that the `setup` module works correctly when we execute:
[code]

but when we execute it programmatically:
[code]
It hangs forever on some machines.

It is a big deal for us because we use the `setup` module to retrieve info about the system and then use them to install th

[2020-02-17 10:24] gundalow commented on #52636
Resolved by https://github.com/ansible-collections/grafana/pull/11 available in https://github.com/ansible-collections/grafana

[2020-02-17 10:27] pyguy commented on #26190
+1 for this functionality.

[2020-02-17 11:19] CoffeeHi opened #67465 "I just wonder if script file will be deleted after using Ansible script module to execting it?"
Hi, anyone can answer my question as title ^.^

[2020-02-17 11:22] CoffeeHi commented on #67465
for example I executed below task in script module, the testrole.sh is in my manager node, I wonder how script module execte and whether it will leave templary file on the targert node:

- name: test
  script: testrole.sh

[2020-02-17 11:32] ph0en opened #67467 "Yum doesnt install packages nor show error when = sign absents and loop presents"
##### SUMMARY
Getting ok on any package. Package may even not exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum with loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
master node is Fedora 30
managed node is Centos7

##### STEPS TO REPRODUCE

Run next playbook

[code]

##### EXPECTED RESULTS
Error from yum
"No package cowabunga available.
Error:

[2020-02-17 11:38] Davidgithub202 opened #67468 "Ansible - vmware_deploy_ovf"
##### SUMMARY

vmware_deploy_ovf fails with "Failure validating OVF import spec: The provided network mapping between OVF networks and the system network is not supported by any host."

When I run the playbook in vcenter vvc003 a VM is created

When I run the playbook in vcenter vvc006 it fails

The main difference I can see - the vcenter vvc003 as an Network “VM Network and uses "Distributed Port

[2020-02-17 11:42] alxndr13 commented on #66854
@samdoran sorry for my lack of information. Im using the "yum" module using the "yum" backend on RHEL7 and the dnf module on RHEL8.

The bug stays the same though: when running the command like this:
[code]
It installs the package as desired, while using the dnf module it won't.

[2020-02-17 12:22] akdnfbf opened #67469 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:23] Akasurde commented on #67255
@joaocc I think this is correct behavior. Because `ansible[azure]` installs `ansible` with `azure` dependencies. There is no need to provide additional `ansible` in pip command. You can check this [requirements.txt](https://github.com/ansible/ansible/blob/devel/packaging/requirements/requirements-azure.txt)

@jborean93 @nitzmahone Could you please confirm if this assumption is correct? Thanks.

ne

[2020-02-17 12:24] #67469 closed

[2020-02-17 12:36] joaocc commented on #67255
I understand the rationale, and it makes sense. Installing only `ansible[azure]` works.
My point was why `ansible ansible[azure]` would not install the azure components the same way as if they were installed separately.
I got a bit mislead because documentation (at ansible and at microsoft) mentions that we need to install `ansible` and then `ansible[azure]`

[2020-02-17 12:40] Akasurde commented on #67255
@joaocc Can you point me to that document link? We can check if doc is confusing and requires modification.

[2020-02-17 12:43] odyssey4me commented on #62062
I've proposed a fix for this to the upstream collection: https://review.opendev.org/708119
Once that is merged I'll propose a patch to stable-2.9 too.

[2020-02-17 12:50] mkrizek commented on #67465
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-02-17 12:50] #67465 closed, assigned to nobody

[2020-02-17 12:55] #67337 closed, assigned to nobody

[2020-02-17 13:39] #64483 closed, assigned to nobody

[2020-02-17 14:03] joaocc opened #67473 "Not able to use "az login" authentication in ansible azure_rm_*"
### SUMMARY
When trying to run azure_rm modules with "az login" authentication, ansible 2.9.4 fails with `module 'time' has no attribute 'clock'` error.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
The modules should work with

[2020-02-17 14:05] joaocc commented on #67255
https://docs.microsoft.com/en-us/samples/azure-samples/ansible-playbooks/ansible-playbooks-for-azure/
[code]

[2020-02-17 14:24] joaocc commented on #67473
!component +azure_rm

[2020-02-17 14:34] acalm opened #67474 "Incorrectly templating unrelated keys in json passed from extra vars"
##### SUMMARY
Ansible fails while passing a json dict in extra-vars, due to an unrelated key containing a jinja-like string

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 5.5.3-gentoo

##### STEPS TO REPRODUCE

Create a json containing extra variables:
[code]
Execute below playbook:
```ansi

[2020-02-17 15:02] odyssey4me commented on #59350
@maweki OK, so given that the current behaviour is documented I looked back at your original posting and put some thought into what we could do about it.

The only thing we could perhaps do there is to detect the python version from the virtualenv and compare it to the python version from the virtualenv_python parameter. Would that make sense as a way of achieving what you hoped for?

[2020-02-17 15:02] helen119 opened #67476 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:03] #67476 closed

[2020-02-17 15:16] a-nldisr commented on #67094
Adding label: affects_2.9
+label affects_2.9

[2020-02-17 15:18] joaocc commented on #67473
!component +contrib/inventory/azure_rm.py

[2020-02-17 15:20] maweki commented on #59350
Basically yes.

My thought was: You change the version in the pip module and expect the resulting virtualenv to respect that version. You probably don't expect the virtualenv to never be touched again. If you change values in the `name` argument, this is reflected after.

An adjacent question would be: If I change the python system version, do I expect an updated virtualenv that did not have the `

[2020-02-17 15:21] 11gingerbread opened #67477 "ios_config module doesn't handle prompts response"
##### SUMMARY
ios_config module doesn't have any option to handle prompts response to any configuration commands

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CISCO2911/K9 IOS version 15.2(4)M6

##### STEPS TO REPRODUCE

Running line "crypto pki enroll CATP" in ios_config module produces the

[2020-02-17 15:31] mannahusum opened #67478 "b64encode(encoding='utf-16-le') or b64decode(encoding='utf-16-le') broken"
##### SUMMARY

`"{{ 'Test' | b64encode(encoding='utf-16-le')  | b64decode(encoding='utf-16-le') }}"` doesn't return `'Test'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filter/core.py
lib/ansible/module_utils/_text.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local execution on a Ubuntu host will do

##### STEPS TO REPRODUCE

[2020-02-17 15:38] odyssey4me commented on #59350
@maweki Well, yes - in virtualenv>20 the ``--clear`` CLI option will remove the virtualenv before rebuilding it. Without using that option, it will try to overwrite the virtualenv. Both of these appear to work quite well for me in some basic tests.

However, for virtualenv<20 the ``--clear`` option does not delete the whole directory and so using it to try and overwrite a virtualenv that is there

[2020-02-17 16:41] samccann opened #67484 "[4/4]Document where modules moved to when Ansible switches to collections"
##### SUMMARY

Ansible documentation needs to be updated at the point when modules move out of core into collections.  This should be mentioned in at least the following locations:

- [x] user guide

- [x] developing modules sections

- [x] docs README.rst

- [x] add to FAQ - https://docs.ansible.com/ansible/latest/reference_appendices/faq.html

This needs to be timed for when this event happens i

[2020-02-17 16:52] odyssey4me commented on #52275
@natefoo @ssbarnea I've pushed up https://github.com/ansible/ansible/pull/67407 which resolves the issue when virtualenv_command is used with arguments. Hopefully that resolves the worst part of the issue described here.

A secondary issue mentioned is that ``virtualenv`` is used as the only method of creating a virtual environment rather than the native method of ``python3 -m venv /path/to/venv``

[2020-02-17 16:57] samccann opened #67486 "Update examples to use FQCN in docs"
##### SUMMARY

Since FQCN will be needed for collection use (and that will be the primary use case going forward) - update the examples in the docs to use these.

Also note that there is some 'leeway' in this for 2.9 based playbooks so that they remain working in a 2.10/collections world for ACD.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

##### ANSIBLE VERSIO

[2020-02-17 17:22] bcoca commented on #64558
we could make the implicit ones work like 'gather_facts' implicit tasks, use same tags as play and default to 'always' otherwise.

[2020-02-17 17:50] fabianvf commented on #67316
@geekifier development of `k8s` related modules has been moved to https://github.com/ansible-collections/kubernetes , would you mind filing this issue there instead?

[2020-02-17 18:49] nikolai-derzhak-distillery commented on #55385
Right now I have to use some templating engine, to get my aws_ec2.yaml ready to go.

[2020-02-17 19:11] nfj25 commented on #28052
I also have this problem with
[code]

When I do:

[code]

And the snapshot already exists, it hangs with lvchange asking for a user input. After I kill the lvchange it returns:

[code]

Maybe I should not create a snapshot if it already exists (perhaps it should do a refresh?) but it definitely should not hang.

[2020-02-17 19:13] jborean93 commented on #67478
This is actually a problem with Python 2 and how it treats strings as by default a string is actually a byte string. Because of that the raw bytes for `Test` (as an ASCII string on Python 2) (`\x54\x65\x73\x74`) is base64 encoded (encoding is ignored) and when we go to decode with UTF-16-LE we are decoding those bytes literally resulting in `敔瑳`.

We unfortunately can't convert a string to text in

[2020-02-17 19:24] heken375 opened #67489 "spam"
deleted

[2020-02-17 19:27] jctanner opened #67490 "ansible-galaxy collection list should examine galaxy.yml for information"
##### SUMMARY

The list subcommand throws a lot of warnings about a missing version if the collection was not built and installed via an artifact. This information can often be obtained in the galaxy.yml though, so it would make sense to fallback to that ...

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy collection list

##### ANSIBLE VERSION

[code]

[2020-02-17 19:28] gundalow commented on #67489
bot_skip

[2020-02-17 19:28] #67489 closed

[2020-02-17 19:31] #67478 closed, assigned to nobody

[2020-02-17 19:34] jctanner commented on #67490
We could also extend this logic to verify ...

[code]

[2020-02-17 19:35] deekayen commented on #41348
In case it helps, here's the AWS doc on encryption at rest for Elasticache with Redis. https://github.com/awsdocs/amazon-elasticache-docs/blob/master/doc_source/redis/at-rest-encryption.md

[2020-02-17 19:35] webron commented on #67489
FYI, an org admin can enable a beta feature to delete issues. Unfortunately, we're getting hit by this as well.

[2020-02-17 19:36] deekayen commented on #41348
The Trend Micro conformity platform marks the absence of encryption as a High risk: https://www.cloudconformity.com/knowledge-base/aws/ElastiCache/in-transit-and-at-rest-encryption.html

[2020-02-17 19:43] joaocc commented on #67473
Made a quick test on a freshly created azure cloud-shell (pre-installed ansible 2.9.4 on python 2.7.x) and it seems to work

[2020-02-17 19:48] 4815162342lost opened #67493 "pkg virtual package for install packages via apt\yum\zypper\dnf"
##### SUMMARY
pkg virtual package for install packages via apt\yum\zypper\dnf

##### ISSUE TYPE
- I suggest to create 'virtual' universal (platform dependence) module (for example with pkg name) for simple actions with packages (just install\delete),

I do not want write two actions with conduction such as:
[code]

I just want to type 'virtual' pkg module at once:
[code]
Is it possible?

[2020-02-17 19:49] pinko-fowle commented on #67390
@sivel ah! good idea. i missed the `update` parameter.

i guess i'd like to see two updates:

* `update: fetch`: pulls down remote branches but does no updating
* `update: soft`: pulls down remote, & updates the repo if there is no local modifications (probably can find a better name for this one?)

[2020-02-17 20:10] s-hertel commented on #67490
@jctanner I'm not sure if it should work, for verify at least. All built and then published collections should have a MANIFEST (they are built from the galaxy.yml), so it only shouldn't exist after installation if it has been actively deleted or if the collection wasn't built with `ansible-galaxy collection build` and something janky is happening instead.

[2020-02-17 21:05] gitpel opened #67497 "Escape sequence in VyOS facts '\u001b[m' in each 'str' output"
##### SUMMARY
VyOS facts return:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2020-02-17 21:08] s-hertel commented on #67490
Fixing the error message for `verify` in https://github.com/ansible/ansible/pull/67498.

[2020-02-17 21:15] geekifier commented on #67316
@fabianvf Not at all, I have opened the following issue: https://github.com/ansible-collections/kubernetes/issues/27.

[2020-02-17 21:15] #67316 closed, assigned to nobody

[2020-02-17 21:16] #67365 closed, assigned to nobody

[2020-02-17 21:17] sivel commented on #67493
There is already a `package` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-17 21:17] #67493 closed, assigned to nobody

[2020-02-17 21:19] #63925 closed, assigned to nobody

[2020-02-17 21:20] AechLyons commented on #47497
This JUST started happening to me.  I'm on 2.9 (using AWX 2.9.2)

[2020-02-17 21:31] briantist opened #67501 "Add script and publish location support to win_psrepository"
##### SUMMARY

The `win_psrepository` module only supports the `source` (module source) location, which means that the repositories it registers can't be used for downloading scripts, or publishing either modules or scripts.

Ideally it would add the remaining 3 location types so that complete repositories can be used.

The other 3 (PowerShell names) are:
- `PublishLocation`
- `ScriptSourceLocatio

[2020-02-17 21:49] sivel commented on #67449
As indicated above, this is a limitation of the implementation of the `default` callback. We rely on `json.dumps` to represent the data, and the `json.dumps` implementation automatically converts tuples to lists, since tuples are not valid JSON.

If you wish to have a different output, you can add your own custom callback that formats the output as you wish.

If you have further questions please s

[2020-02-17 21:49] #67449 closed, assigned to nobody

[2020-02-17 22:00] briantist opened #67504 "win_psrepository - perpetually "changed" if source location redirects"
##### SUMMARY

If you register a repository where the URL redirects to a new URL, then PowerShell will follow the redirects and register the final URL in the repository.

This can also happen because PowerShellGet attempts to figure out if NuGet repositories support api v2 or v3 and it may add additional api version paths to the URL.

The ansible module doesn't know this so on the next run, it wil

[2020-02-17 22:26] geerlingguy commented on #65673
Today I got frustrated again when I had the following `requirements.yml`:

[code]

And ran `ansible-galaxy install -r requirements.yml`.

There was no output, no success or error, nothing, just a blank line and back to my prompt.

I would imagine there should be _some_ sort of error message or something, saying "there was no content found" (though IMO it should install all collections when you cal

[2020-02-17 22:29] sivel commented on #67446
This is not feasible. Callback plugins record this data from callback events, but are not designed or intended to be able to inject data back into ansible. If you do achieve it, it is not a supportable situation, and it may break unexpectedly in the future.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://grou

[2020-02-17 22:29] #67446 closed, assigned to nobody

[2020-02-17 22:35] sivel commented on #67443
This is not a typical scenario for installation, and I cannot see us adding such a feature. I'd recommend using `--output-path` to build the file to a specific temporary directory, and then using that directory to install from.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-02-17 22:35] #67443 closed, assigned to nobody

[2020-02-17 22:43] #59829 closed, assigned to nobody

[2020-02-17 22:45] Boes-man commented on #67451
Is anyone able to advise? I have provided the example inventory file. Running ansible ping, etc is working, but I need to be able to limit/target specific hosts based on their order in the inventory. Thanks

`all:
  vars:
    ansible_connection: ssh
    ansible_ssh_pass: !vault |
                      $ANSIBLE_VAULT;1.1;AES256
                      3435333363396166666537383361616339646266396336373

[2020-02-17 23:21] mattclay commented on #66704
I was able to reproduce this issue. The problem only occurs when not specifying a python version with the `--python` option. If multiple Python versions are present on the system, and a virtual environment can be created for at least one of them, but not all of them, then the versions without a virtual environment will still be included in the test run.

A fix for this will involve limiting the Py

[2020-02-18 00:22] aghassemlouei opened #67507 "ec2_vol does not suport us-gov-east-1 region due to legacy boto"
##### SUMMARY
The ansible [ec2_vol](https://docs.ansible.com/ansible/latest/modules/ec2_vol_module.html) module does not have support for us-gov-east-1 due to the version of boto that it leverages. The version of boto in use by aws and yum are not boto3 which causes the module to fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vol

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[

[2020-02-18 03:24] adamlbo opened #67510 "cloudwatchevent_rule using event_pattern does not create rule when using {{ Jinja2 }}"
##### SUMMARY
When trying to create an event_pattern with a Jinja2 template using the cloudwatchevent_rule module it fails and the event rule is not created.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudwatchevent_rule module specifically using event_pattern with a Jinja2 template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave
Version

[2020-02-18 03:28] adamlboyd commented on #67510
If I use single quotes for the event_pattern I get this message
[code]

[code]

[2020-02-18 05:12] AlanCoding opened #67512 "Collections with weird version names can be uploaded but not installed"
##### SUMMARY
Several active collections on Galaxy fail to install, these collections tend to have strings in their versions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ANSIBLE VERSION
Within a day or two, using devel branch

[code]

##### CONFIGURATION
[code]

(no output)

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULT

[2020-02-18 05:16] Akasurde commented on #66978
!component =lib/ansible/modules/system/setup.py

[2020-02-18 05:25] Akasurde commented on #67183
@igomaa Thanks for reporting this issue. Could you please provide the information requested as https://github.com/ansible/ansible/issues/67183#issuecomment-583216974.

Could you please also provide the hypervisor or cloud provider name that you are using? since from the question, it is very vague.

[2020-02-18 05:25] Akasurde commented on #67183
needs_info

[2020-02-18 05:26] jborean93 commented on #67512
The issue is that Galaxy accepts a semantic versioning spec whereas ansible-galaxy cannot parse semantic versioning. This is because the Ansible base cannot take in any extra dependencies and semantic versioning is not in the Python stdlib. IIRC there was a PR that added our own semantic versioning parser but I can't seem to find it right now.

To try and reduce the impact of this limitation we ar

[2020-02-18 05:30] Akasurde commented on #67213
!component =lib/ansible/modules/crypto/openssl_privatekey.py

[2020-02-18 05:37] Akasurde commented on #66978
+needs_triage

[2020-02-18 06:51] adrianhowchin commented on #66641
Also getting this error using Ansible 2.9.4.

For us, this is going to cause a significant customer impact, as many of our customers manually set SG rules - these will vanish if we have to "work around" this issue by setting the purge to true. Can you please bump up the priority of this ticket.

[2020-02-18 07:27] ssoerensen commented on #66641
we have the same problem, we are just forcing the old version while we migrate away from ansible

[2020-02-18 08:05] Akasurde commented on #67398
@chinochao Thanks for reporting this issue.

[2020-02-18 08:05] marbarmar commented on #67169
Hello. Is there any update on this issue? Or do you need any further information from me?

[2020-02-18 08:05] Akasurde commented on #67398
!component =lib/ansible/modules/cloud/vmware/vmware_export_ovf.py

[2020-02-18 08:06] Akasurde commented on #67398
resolved_by_pr #67514

[2020-02-18 08:06] Akasurde commented on #67398
@chinochao, Could you please check PR #67514 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-02-18 08:16] felixfontein commented on #67213
resolved_by_pr #67515

[2020-02-18 08:19] #30077 closed, assigned to nobody

[2020-02-18 08:26] alexz-kh opened #67516 "blockinfile not work with multiline regexp"
##### SUMMARY
blockinfile not work with multiline regexp

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION
2.9.5

##### OS / ENVIRONMENT
ubuntu18 + py3 virtualenv

[code]

##### STEPS TO REPRODUCE

Initial `/home/ubuntu/cluster.yaml.template` file
[code]
Task:
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

Block has been added to EOF

### Issue

[2020-02-18 08:32] MarkusTeufelberger commented on #66558
Not much that can be done here, this specific problem looks like user error, not an error in the openssl_* modules.

wontfix

[2020-02-18 08:37] alexz-kh commented on #67516
!component blockinfile

[2020-02-18 08:37] #66558 closed, assigned to nobody

[2020-02-18 08:43] #67213 closed, assigned to nobody

[2020-02-18 09:33] geertn444 opened #67520 "read_csv.py : cacheable or not ?"
##### SUMMARY

when using read_csv.py, you can delegate to localhost and also store to localhost:
read_csv:
 name: ./x.csv
delegate_to: localhost
delegate_facts: True

csv is stored in variable hostvars.localhost.x
(this is not clear from documentation also -> needs update)

Is this variable cached on localhost or not ??

##### ISSUE TYPE
I want to specifically turn off caching with the "cacheable

[2020-02-18 10:05] flazzarini commented on #66520
Done

[2020-02-18 10:09] mahoutukaisali opened #67524 "netbox_device_interface module is not working properly"
I opened this issue because no one else mentioned about the netbox_device_interface module

##### SUMMARY

netbox_device_interface module gives different results which between loop and not loop and also between using vars file and not using vars file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- module name: netbox_device_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2020-02-18 10:21] nicolaibaralmueller commented on #66681
I found out more information about the error.

Only unable to connect to vSphere 5.5.0 from Centos 8 with Python 3 intepreter "/usr/libexec/platform-python" in a virtual environment (AWX).

[code]

[code]

The error seems to be related to pyvmomi module itself.

I am using ansible module vmware_guest with ansible > 2.9.X

Digging around and it might have something to do with TLS but not sure.

Whe

[2020-02-18 10:28] johnbateman commented on #67210
@stamboman I built the devel branch to test the current build of 2.10 at the time. I have tried the persistent connection parameter you mentioned but unfortunately, this has not resolved the problem for me, it seems like we have different issues.

[2020-02-18 11:07] adosztal opened #67526 "Support for AWS Transit Gateway VPN connection"
##### SUMMARY
AWS now allows to create VPN tunnels not only between a VGW and CGWs but a Transit Gateway (TGW) and CGWs. It would be nice if this connection type was was supported by Ansible too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_vpc_vpn

##### ADDITIONAL INFORMATION
The only difference is calling the AWS [CreateVpnConnection API](https://docs.aws.amazon.com/AWSEC2/latest/

[2020-02-18 11:19] helen225 opened #67527 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:27] odyssey4me commented on #67343
Collection creation request submitted: https://github.com/ansible-collections/overview/issues/7

[2020-02-18 11:29] odyssey4me commented on #67344
Collection creation request submitted: https://github.com/ansible-collections/overview/issues/8

[2020-02-18 12:00] #39295 closed, assigned to Akasurde

[2020-02-18 12:29] #67527 closed

[2020-02-18 12:48] adhodgson1 opened #67529 "Make azure_rm_roleassignment not fail if the role already exists"
##### SUMMARY
The azure_rm_roleassignment module runs in a playbook fine the first time but on subsequent plays it throws an error that the role already exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_roleassignment

##### ANSIBLE VERSION
Tested with Ansible 2.8.5 and 2.9.5 installed via Pip with the ansible[azure] packages

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RES

[2020-02-18 13:25] Andersson007 commented on #67357
[code]
done https://github.com/ansible/ansible/pull/67517

[2020-02-18 13:36] geragio opened #67532 "win_region module does not set format"
##### SUMMARY

win_region module does not set format
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_region
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2016, Windows Server 2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect to see format set to English(United States) on target OS

##### ACTUAL RESULTS

Module rep

[2020-02-18 13:50] Vinouille opened #67533 "junos_command in netconf connexion mode doesn't return the right value"
##### SUMMARY
junos_command in connexion mode netconf doesn't return the right value.
If the command is : "show configuration system services ssh key-exchange".
junos_command returns all the configuration instead of only returning the key-exchange

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
VM

[2020-02-18 14:13] stamboman commented on #67210
I am not sure if we have different issues or not but I am wondering if this is an ansible bug or if there is something else in my environment that is causing this error.

[2020-02-18 14:36] cezmunsta opened #67534 "synchronize module uses sshpass when dest and src are local paths"
##### SUMMARY
When the host running ansible has the `ansible_ssh_pass` or `ansible_password` variables set and the `synchronize` module is used to sync 2 local paths then the module attempts to use `sshpass`. This even occurs when `connection: local` is set in the playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`synchronize`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2020-02-18 14:51] Lunik commented on #67416
`api_url` should still be equal to `https://gitlab.com` in your case

[2020-02-18 15:08] Badgerati opened #67536 "Possible for win_disk_facts to throw Null Reference on Disks with no Number"
##### SUMMARY
When using the `win_disk_facts`, it's possible for the powershell script to get the facts to throw a null reference exception here: https://github.com/ansible/ansible/blob/1bdbbd2784ffaf458eda8708e9c675f44149af30/lib/ansible/modules/windows/win_disk_facts.ps1#L194

When settings up SQL Clustering, and possibly in other scenarios, it's possible to have disks with no disk number.

I'm

[2020-02-18 15:24] samdoran commented on #66976
It's possible to just add `.rstrip()` to the end of the templated string. This doesn't necessary need to be in the lookup plugin.

`{{ lookup('password', 'secret').rstrip('\n') }}`

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-18 15:24] #66976 closed, assigned to nobody

[2020-02-18 15:24] samdoran commented on #66989
!component =lib/ansible/modules/windows/win_chocolatey.ps1

[2020-02-18 15:34] samdoran commented on #67079
This is working as designed. We can't guarantee that a non-root user can write to `ANSIBLE_REMOTE_TEMP` so we default to `system_tmpdirs` from the connection plugin. Use the [settings for the connection plugin](https://docs.ansible.com/ansible/latest/plugins/shell/sh.html) to change this behavior.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.fre

[2020-02-18 15:34] #67079 closed, assigned to nobody

[2020-02-18 15:36] adamdonahue opened #67537 "aws_ec2 inventory: Add ability to add host to multiple groups from a single tag."
##### SUMMARY

It'd be useful if one could assign a host to multiple groups via a single tag.

For example, let's say we've tagged an EC2 host with the name `ansible-groups` and the value `prometheus-hosts,jump-hosts`.  What we'd like is that given the `keyed_groups` setting, the following entry:

[code]

resulted in the addition of the host to the groups:

* `prometheus-hosts`; and
* `jump-hosts`

[2020-02-18 15:40] samdoran commented on #67115
@nitzmahone Do you have any ideas how to handle this?

[2020-02-18 15:43] samdoran commented on #67130
I don't think we should error for this. Collections can be distributed outside of Galaxy and Automation Hub, so we shouldn't enforce those standards everywhere, only on Galaxy and Automation Hub.

This would be a good topic for the [next IRC meeting](https://github.com/ansible/community/labels/core).

[2020-02-18 15:47] samdoran commented on #67143
cc @jborean93

[2020-02-18 15:59] samdoran commented on #67167
It's not possible to [chain connection methods](https://docs.ansible.com/ansible/latest/user_guide/become.html#only-one-method-may-be-enabled-per-host). You can create your own [become plugin](https://docs.ansible.com/ansible/latest/plugins/become.html) with the combination of commands that you need.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel o

[2020-02-18 15:59] #67167 closed, assigned to nobody

[2020-02-18 15:59] AlanCoding commented on #67512
ok, will close in favor of the linked --pre PR.

It would be good to have a way to filter these out from the Galaxy API, it can be done in a python loop trying to parse the version.

[2020-02-18 15:59] #67512 closed, assigned to nobody

[2020-02-18 16:02] AlanCoding commented on #67130
If a collection intends to build without a README.md, then they shouldn't provide the `readme` key. That's added in the default template, so if a user goes and deletes it, then in that scenario is seems a lot more reasonable to get the Galaxy rejection.

[2020-02-18 16:10] sakar97 commented on #67416
But when I just type `https://gitlab.com` it asks for a namespace.

[2020-02-18 16:56] felixfontein commented on #53789
I began with a x509_crl_info module in #67539.

[2020-02-18 16:59] GomathiselviS commented on #67169
@marbarmar  The PR is under review. We shall merge the changes soon. We have all the necessary information regarding this issue. Thanks for checking !

[2020-02-18 17:21] s-hertel commented on #67130
If we allow the MANIFEST.json to not contain the readme key (it's hardcoded right now and the cause of your error message since the manifest contains a readme file that doesn't exist) if it matches a build_ignore, then we'd get somewhat clearer error
[code]
Right now there is no way not to provide the readme key in galaxy.yml:  `ERROR! The collection galaxy.yml at '/namespace/collection_path/galax

[2020-02-18 17:22] flowerysong commented on #67537
This doesn't require additional implementation; keyed_groups already deals with creating multiple groups when given a list, and you can generate a list from a delimited string using `split()`.

```key: tags['ansible-groups'].split(',')```

[2020-02-18 17:47] trickert76 opened #67541 "Filter ipv6 address with ipsubnet runs into endless loop with high CPU usage"
##### SUMMARY

When I use the following playbook with ansible v.2.9.5, the CPU usage goes to 100% and after minutes of waiting there is no response in step 2 (it hangs).

I would expect, that the ip address is used to create a 96-subnet.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

?

##### ANSIBLE VERSION

[code]
I'm also using:
  - netaddr v0.7.19

##### CONFIGURATION

clean install:
 *

[2020-02-18 18:06] s-hertel commented on #66945
I've tested stable versions 2.7, 2.8, 2.9, and devel. I can only reproduce this if ignore_unreachable is set to True which is expected behavior. Can you please share a small sample playbook for reproducing and the full output you're seeing from it?

needs_info

[2020-02-18 18:12] #55182 closed, assigned to s-hertel

[2020-02-18 18:18] geerlingguy opened #67543 "There is currently no documented way to ignore files when building collection artifacts"
##### SUMMARY

According to the [Building collections](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html#building-collections) documentation:

The first 0.9.0 release of the Kubernetes collection had a bunch of test artifact files (JSON) and .DS_Store files as a result of not being able to ignore files (see issue https://github.com/ansible-collections/kubernetes/issues/

[2020-02-18 18:57] jborean93 commented on #67543
There is a way you to ignore files or directories, you just need to be running from devel to implement it. I added support for this with the [build_ignore entry in the manifest](https://docs.ansible.com/ansible/devel/dev_guide/collections_galaxy_meta.html#collections-galaxy-meta) which takes a list of file glob like patterns.

This is even documented at https://docs.ansible.com/ansible/devel/dev_g

[2020-02-18 19:01] jborean93 commented on #67399
Sorry I know we talked about this offline but `--no-deps` will install the collection without trying to install the dependencies.

[2020-02-18 19:01] #67399 closed, assigned to nobody

[2020-02-18 19:21] jborean93 commented on #67532
I've just run this on a Server 2019 host and cannot replicate can you share how you are testing that the format is still what you want. Remember that according to the docs for `format` it says

This means when you check it you need to check it in the context of the same user account. In my case I ran the following playbook

[code]

When logging on with the same user as Ansible connected with I ran

[2020-02-18 19:23] jborean93 commented on #67124
Looks like you found a solution, Ansible was using a Python with certain flags that was ignoring the site-packages that pip installed the packages to.

[2020-02-18 19:23] #67124 closed, assigned to nobody

[2020-02-18 19:30] nitzmahone commented on #67115
Actually, there was a patch for `wait_for_connection` recently that resets it- it went out in 2.9.5... I'd suggest trying that first. If that doesn't do it, you'd need to somehow remove the `discovered_interpreter_python` fact (just nulling it out won't do it with the current code). The only obvious way I can think of is a `meta: clear_facts` for that host, but that's a big hammer, since it will a

[2020-02-18 19:43] jborean93 commented on #67278
Thanks for pointing this out I swore I tested this in CI but obviously not. I can see in the [CredWriteW Remarks](https://docs.microsoft.com/en-us/windows/win32/api/wincred/nf-wincred-credwritew#remarks) section it has a snippet on this

I'm unsure how `cmdkey.exe` is working with this but will need to do some more investigation as to how to implement it in `win_credential`.

[2020-02-18 20:02] geerlingguy commented on #67399
@jborean93 - And to follow up on the 2nd point in the original issue (`TypeError: '<' not supported between instances of 'str' and 'int'`), was that fixed in devel? I believe someone else may have had a better test case that they found another related bug and both were fixed.

[2020-02-18 20:04] jborean93 commented on #67399
Yep it was fixed with https://github.com/ansible/ansible/pull/67405 and a backport PR opened at https://github.com/ansible/ansible/pull/67413. @samdoran was able to replicate the TypeError by manually editing the version in the `MANIFEST.json` to a float value like `"version": 1.0.0`.

[2020-02-18 20:20] maestrx commented on #67115
Thanks for the proposals. Latest version i can deploy on the solution is 2.9.4. I'll try the meta: clear_facts approach

[2020-02-18 20:24] geerlingguy commented on #61546
It has been proposed that the Helm module may find a new home in the Kubernetes collection for Ansible (see https://github.com/ansible-collections/kubernetes/issues/28); and there's an open PR in this repository (https://github.com/ansible/ansible/pull/62450) which wraps the CLI (also linked in the original comment above).

I'm leaning towards that option (moving helm into the Kubernetes collectio

[2020-02-18 20:45] odyssey4me commented on #62062
The collection patch has merged. The stable-2.9 PR is up: https://github.com/ansible/ansible/pull/67546

[2020-02-18 21:26] jborean93 commented on #67278
I have no idea why they say the function doesn't support wildcards as it is definitely possible and I traced `cmdkey` and found it uses the same function. Ultimately the problem was that `win_credential` was trying to set the target alias to an empty string and aliases don't seem to be possible when using a wildcard server name. By making sure we don't set a value (even an empty string) it will fa

[2020-02-18 21:34] geerlingguy commented on #67543
Perfect! I didn't think to look in devel, but it looks like that's exactly what I needed, and the docs are also present and very thorough.

[2020-02-18 21:34] #67543 closed, assigned to nobody

[2020-02-18 21:37] adamdonahue commented on #67537
Great, I'll give that a shot.

[2020-02-18 21:38] adamdonahue commented on #67537
How about not auto-converting the group name to use underscores instead of dashes?

[2020-02-18 21:43] #67278 closed, assigned to nobody

[2020-02-18 21:51] #67537 closed, assigned to nobody

[2020-02-18 21:52] jctanner opened #67551 "ansible-test should be able to report a version"
##### SUMMARY
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-test

[2020-02-18 22:06] adamdonahue commented on #67537
Actually, looking at the code, that doesn't work, because the `force` flag is being passed to `original_safe`.  I'm not sure I understand the reasoning why there, but short of patching we'll be forced to mix `-`s and `_`s in our group names, sadly.

[2020-02-18 22:16] jborean93 commented on #67143
Have you made sure you set the correct `ansible_shell_type`? When you connect to the host through SSH normally are you presented with a powershell or cmd prompt? You also need to make sure you continue to use the Windows modules, so `win_ping` and not `ping`.

[2020-02-18 22:23] jborean93 commented on #66989
So it sounds like the Chocolatey install failed in some way as `choco.exe` was not present?

Also your 2nd task to disable enhanced exit codes isn't correct. You are best off using the [win_chocolatey_feature](https://docs.ansible.com/ansible/latest/modules/win_chocolatey_feature_module.html) module to do that work like

[code]

[2020-02-18 22:47] k4ch0 commented on #48440
Any update on this issue?

[2020-02-19 00:10] jillr commented on #67507
A boto3 port of `ec2_vol` was previously started, it's been some time but #45500 might still be a good source of inspiration.

[2020-02-19 00:57] Boes-man commented on #67451
Looks like the fix ([44067](https://github.com/ansible/ansible/pull/44067)) is only in devel? Whats the eta to general release? Thanks

[2020-02-19 01:09] superz202 opened #67555 "azure_rm_deployment Template_link failed to download from GitLab"
##### SUMMARY
I am trying to use azure_rm_deployment with template_link and I notice when the link is pointed to a GitLab reponsitory, running the playbook will failed with below error message.

Deployment failed with status code: 400 and message: Unable to download deployment content from 'https://git.tetrapak.com/WaiYin/azure-quickstart-templates/raw/master/100-blank-template/azuredeploy.json'

[2020-02-19 03:09] willhughes-au opened #67557 "elb_application_lb is always changed:true and deregisters instances on associated target groups."
##### SUMMARY
The first time a playbook is run to create an ELBv2 load balancer using elb_application_lb it works. You can even call the module multiple times successfully.

However running the play a second time without altering any parameters causes the target groups for the listener to deregister/forget the instances registered to the target group.

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2020-02-19 04:34] amasolov opened #67559 "omapi_host fails on python3 with TypeError: a bytes-like object is required, not 'str'"
##### SUMMARY
omapi_host needs to use byte strings on python3 otherwise getting "TypeError: a bytes-like object is required, not 'str'" errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
omapi_host module

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE
Create or remote a DHCP reservation using omapi_host module

##### EXPECTED RESULTS

Completed without errors

##### ACTUAL RESULT

[2020-02-19 05:17] aghassemlouei commented on #67507
@jillr nice find! I'll see if I can find anyone willing to dig into that git issue as I don't have the technical knowledge to address the issue.

[2020-02-19 05:24] sakar97 commented on #67416
Module working fine in Internal GIT when I am providing IP of the internal system but It is not working on public git.

[2020-02-19 05:31] ilayaraja-p commented on #67458
Hi Team,

Could you please check the issue and update. waiting for your response.

[2020-02-19 06:20] justjais commented on #67477
@11gingerbread Thanks for logging the issue, and you can resolve the `config` command prompt via ansible `cli_command` module. Please ref: [cli_command module](https://docs.ansible.com/ansible/latest/modules/cli_command_module.html) example section, as to how you can handle config level command prompt and resolve the issue you're facing.

ref example:
[code]

Closing the bug, as the scenario can b

[2020-02-19 06:20] #67477 closed, assigned to justjais

[2020-02-19 06:56] #67088 closed, assigned to nobody

[2020-02-19 07:25] wangzw commented on #67417
Any comments on this issue?

[2020-02-19 08:22] adosztal commented on #67526
I just tried what happens if I replace `vpn_gateway_id` with `transit_gateway_id` (see attached file) and the connection was created. I guess it's too quick and dirty for a final solution but at least confirms that it works. :slightly_smiling_face:

[ec2_transit_gateway_vpn.py.txt](https://github.com/ansible/ansible/files/4223838/ec2_transit_gateway_vpn.py.txt)

Output:
[code]

[2020-02-19 09:21] jean-christophe-manciot opened #67566 "python is called although ansible-playbook is run with python3"
##### SUMMARY
[Python 2 has been rendered obsolete ("sunsetted" to be accurate) since January 2020](https://www.python.org/doc/sunset-python-2/). However, some packages still depend on python-minimal package which includes the symlink /usr/bin/python ---> /usr/bin/python2.
- When [ansible is called with python3](https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html#on-

[2020-02-19 09:48] pltnk commented on #31924
Ran into same issue. It would be great if `pull: yes` just pulled an image.

[2020-02-19 09:51] felixfontein commented on #31924
needs_contributor

[2020-02-19 09:55] mszumilak commented on #66641
I beleve #62374 did more harm than good and reverting it should be considered. Removal of regression that introduced new regression doesn't make a lot of sense.

[2020-02-19 11:08] #62954 closed, assigned to Akasurde

[2020-02-19 11:29] jtyr commented on #67566
The `python-ldap` package [supports Python 3](https://www.python-ldap.org/en/python-ldap-3.2.0/faq.html#usage). My guess is that you have installed Python 2 version of this package on your system and therefore it cannot find the package when running with Python 3.

[2020-02-19 11:49] jean-christophe-manciot commented on #67566
On **Ubuntu focal**, ```python-ldap``` (which is not installed on my system) does **not**: support python3
[code]
On **Debian bullseye**, ```python-ldap``` does not even exist:
[code]
However, ```python3-ldap``` (which is installed on my system) does support only python3 on both distributions:
[code]

Since the module uses ```python``` instead of ```python3```, it cannot use the installed package

[2020-02-19 11:53] jtyr commented on #67566
I don't think the shebang is used. You can test it by changing the `#!/usr/bin/python` to `#!/usr/bin/python3` on the first line of the module.

[2020-02-19 11:55] jean-christophe-manciot commented on #67566
The trace on my first post shows:
[code]
What entity makes that call?

[2020-02-19 11:59] jtyr commented on #67566
Ansible is detecting the most suitable Python version on your system as documented [here](https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html).

[2020-02-19 12:06] oh-c opened #67570 "nxos_smu.py invalid character :(58) found in input when activating and committing smu"
##### SUMMARY
In relation to CSCvs27997 i've tried using nxos_smu.py to install, activate and commit the SMU.

Installation runs fine, but activate and commit fails but the module reports that everything is OK.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_smu.py

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
package installed, activated

[2020-02-19 12:07] NilashishC commented on #67180
Hi @Mamosa,

Thank you raising this feature request. We feel that this does not seem like the correct job for the ios_config module or rather any of the {{ network_os }}_config modules. The intended config lines passed through the module should be an exact match of what appears in running config, otherwise, we wouldn't be able to send the correct commands to the device or even correctly calculate

[2020-02-19 12:07] #67180 closed, assigned to nobody

[2020-02-19 12:10] oh-c commented on #67570
If I check the commands for nx-os 7.0.3 it seems it does not require the path to the package - just the package name

[code]

[2020-02-19 12:13] jean-christophe-manciot commented on #67566
Thanks. Setting ```interpreter_python = /usr/bin/python3``` in ```/etc/ansible/ansible.cfg``` solves this issue.
I followed [another official doc](https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html#on-the-controller-side) which must be updated then: calling ```python3 ansible-playbook``` is useless in this case.

[2020-02-19 12:20] sluther commented on #31924
I disagree that `state: absent` should pull the image in a non-running state. That is counter-intuitive to how `state: absent` Works for every other module, where it means “remove this from the system”.

I vote that instead, we fix the `stopped: true` parameter. If a service with `stopped: true` is not running, we should not start it.

@felixfontein what do you think?

[2020-02-19 13:01] adoloro commented on #30754
You can also check whether the permissions are correct for `/tmp` directory. It should be 777. Apt uses it for update.

[2020-02-19 13:02] felixfontein commented on #31924
True.

I fully agree. I'd even prefer `state` to behave similar to `docker_container`'s `state` option (where you have `absent` / `present` / `stopped` / `started`, and `present` just makes sure the container exists, but doesn't care whether it's running or not), but that's too late now (since `present` already has a different meaning).

[2020-02-19 13:10] bitinerant commented on #30754
@adoloro - good idea. Thank you for the input. Unfortunately, this is not my problem. My `/tmp` is 1777 (`drwxrwxrwt`).

[2020-02-19 13:28] jtyr commented on #67566
Happy it works for you now, @jean-christophe-manciot.

@ansibot please feel free to close this issue as it's `notabug`.

[2020-02-19 13:34] #67566 closed, assigned to nobody

[2020-02-19 13:35] jgibart commented on #51881
It is currently very hard to have error control on tasks in loop.
You can not stop loop until end even when a task in the loop is in error

I dont see how you can do what the previous comment suggesst :
You may access the previous item state and skip item after the failed one , but what about the other items after ?

I'm trying to implement a script to perform rolling restart or clustered services

[2020-02-19 13:42] #67100 closed, assigned to nobody

[2020-02-19 13:54] vthach commented on #48786
I am having this issue on SUSE 11 SP 4 with tomcatd, but only on some servers.  My workaround to use the shell to call the service command, but it is something I am hoping to avoid.  Does anyone have a better solution or a fix for this yet?

[2020-02-19 14:27] DEvil0000 opened #67572 "module rabbitmq_users - permissions with vhost failing"
##### SUMMARY
when creating a user with permission to a vhost it fails (maybe only on changes).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 20.04

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
change user permissions

##### ACTUAL RESULTS
failing due to incorrect parameter in command e

[2020-02-19 14:31] mikewiebe commented on #67570
@oh-c Can you try the `nxos_rpm` module instead? This is module was created after `nxos_smu` to handle both patches (smu's) and 3rd party rpm's.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_rpm.py

[2020-02-19 14:35] DEvil0000 opened #67573 "rabbitmq_global_parameter - fails parsing on check when no global parameter present"
##### SUMMARY
rabbitmq_global_parameter fails parsing on get/check when no global parameter present

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_global_parameter

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ubuntu 20.04

##### STEPS TO REPRODUCE
when there is no global parameter present
[code]

##### EXPECTED RESULTS
should add the parameter

##### ACTUAL RESULTS
crashes

[2020-02-19 14:50] #66989 closed, assigned to nobody

[2020-02-19 14:59] AlanCoding opened #67574 "Null secondary dependencies will error collection installs"
##### SUMMARY
If a dependency of my collection uses a specific syntax in its `galaxy.yml` then it will break installs of my own collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/galaxy/collection.py
lib/ansible/cli/galaxy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create a collection like this:

[c

[2020-02-19 15:05] brtkwr opened #67576 "os_coe_cluster expects uuid while openstacksdk return uuid."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- os_coe_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try to create a cluster:
[code]

##### EXPECTED RESULTS

Create a cluster. If the cluster already exists, obtain the cluster id.

##### ACTUAL RESULTS

[code]
uuid key does not exist in the resulting outp

[2020-02-19 15:09] jean-christophe-manciot commented on #67566
As I said before, the ansible doc cited in my first post is misleading, so I consider this as an issue.

[2020-02-19 15:09] brtknr commented on #67576
@openstacker this might be of interest to you.

[2020-02-19 15:54] nicoleaux opened #67578 "Netbox : Fail to modify interface within a virtual chassis"
##### SUMMARY
I have 2 devices, in a virtual chassis.

![virtual_chassis](https://user-images.githubusercontent.com/17050799/74848840-57879a00-5338-11ea-9b5c-ed2d3316d29f.PNG)

The interface Ethernet1 is configured on the non-master device

![before](https://user-images.githubusercontent.com/17050799/74848890-653d1f80-5338-11ea-845d-3dc63626cceb.PNG)

On netbox, i see this interface in the virtual

[2020-02-19 16:07] FragmentedPacket commented on #67578
@Jamboon-beurre We moved the Ansible modules to Ansible Collections. https://galaxy.ansible.com/netbox_community/ansible_modules and are no longer supporting these modules.

I think you get the same result in the collections, but if you open an issue over there, we can look further into it, but the collection has been heavily modified and cleaned up, but open an issue over there if you use the col

[2020-02-19 16:20] justjais commented on #67402
@IPvSean as per the mail thread, can you try the password-based authentication on the ios-xe instance.

[2020-02-19 16:29] sivel commented on #67574
One thing to note here, is the client doesn't necessarily validate input, the galaxy server would however do so. We shouldn't error so I think the attached fix is probably fine.

If you try to publish this to galaxy with a null dependencies does the API return an error?

[2020-02-19 16:32] odyssey4me commented on #62062
Oh, and I've pushed a stable-2.8 PR up too: https://github.com/ansible/ansible/pull/67577

[2020-02-19 16:33] sivel commented on #67551
I believe this is largely a duplicate of https://github.com/ansible/ansible/issues/64523

[2020-02-19 17:19] #61985 closed, assigned to nobody

[2020-02-19 17:20] kate5586 opened #67582 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:21] samdoran commented on #67115
needs_info

[2020-02-19 17:21] AlanCoding commented on #67574
I produced a list of collections that have this type of dependencies:

[code]

[2020-02-19 17:22] nitzmahone commented on #67115
@maestrx just for testing (don't forget to remove it later!) you could also just grab the 2.9.5 version of the action from https://github.com/ansible/ansible/blob/v2.9.5/lib/ansible/plugins/action/wait_for_connection.py and drop it into an `action_plugins` dir next to your playbook- that will override the builtin one with the one from 2.9.5.

[2020-02-19 17:25] mikewiebe commented on #67261
Adding @NilashishC.  From what I understand, this is the purpose of the `nxos_interfaces` module.  The idea would be to call that module in a task that precedes the call to `nxos_l3_interfaces`.

The `mode` option in the `nxos_interfaces` is used for that: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_interfaces.py#L70

I do agree at a minimum this should be d

[2020-02-19 17:57] mikewiebe commented on #67397
@kbreit I just tested your playbook on my virtual n9k and the facts get collected without a crash.

[code]

My nxos version is

[code]

What nxos version are you running?

[2020-02-19 18:05] mikewiebe commented on #67397
Also tested it with python 3 version just to make sure it's not a python version issue.  Still cannot reproduce it.

[code]

[2020-02-19 18:19] jctanner commented on #67551
duplicate_of https://github.com/ansible/ansible/issues/64523

[2020-02-19 18:23] #67551 closed, assigned to nobody

[2020-02-19 18:31] renata117 opened #67584 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 19:44] toman commented on #62893
I'm seeing a similar error message "... got unexpected HTTP code -1" with this playbook. ansible version is 2.9.5 .  I tested the api_token in the way indicated by Cloudflare andit came back valid. By the way: is that an API token or an API Key, or is the first just a more restricted version of the second?

- hosts: localhost
  gather_facts: false
  tasks:
    - name: create TXT records
      clou

[2020-02-19 20:12] alexhaydock commented on #62893
In case you haven't tested both, I get the same error as you using either the Global Key or a more restricted custom one. I'm running the same version on Ansible too (2.9.5).

For now I'm just accomplishing what I want to do here [with Terraform](https://www.terraform.io/docs/providers/cloudflare/index.html) instead. If anyone has an urgent need for this to work and a workflow that could handle so

[2020-02-19 20:28] toman commented on #62893
Yes, tested both, no joy from either. Changing the timeout also didn't help, or seem to affect how long it took. Terraform looks to be a good workaround. Thanks.

[2020-02-19 20:40] jfoliveira commented on #67293
Considering that disabling python3 interpreter this issue does not occur:

1. Am I correct to assume `interpreter_python=/usr/bin/python3`support is not production ready?
2. Ansible warnings advising me to use `python3` interpreter should not be taken seriously?

[2020-02-19 20:51] waheedi commented on #67416
@sakar97 did you try using `"https://gitlab.com/api"` ?

[2020-02-19 21:21] MichaelRiss opened #67588 "mount module cannot use `UUID=...` sources with `mounted` state"
##### SUMMARY

According to the documentation the `mount` module can accept `UUID=...`-type strings as argument to its `src` parameter, see the third example in https://docs.ansible.com/ansible/latest/modules/mount_module.html. If the `UUID=...`-type argument is used together with a `state` of `present` as in the example, it works.
But when using a UUID-type argument with a `state` parameter of `m

[2020-02-19 21:21] sivel commented on #67362
Fixed in https://github.com/ansible/ansible/pull/67502

[2020-02-19 21:21] #67362 closed, assigned to sivel

[2020-02-19 21:26] zoredache opened #67589 "Environment ANSIBLE_PYTHON_INTERPRETER setting seems to get ignored"
##### SUMMARY
The docs seem to say that you can set the environment variable [ANSIBLE_PYTHON_INTERPRETER](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_PYTHON_INTERPRETER
) to configure the discovery.  I have set it to 'auto_silent' and I still get the warning?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

    $ ansible

[2020-02-19 22:12] aghassemlouei commented on #67507
Opened an AWS support ticket but no luck on that end. Any assistance from anyone would be greatly appreciated!

[2020-02-19 22:49] jborean93 opened #67591 "ansible-test validate-modules for PS modules not loading Ansible utils when in collection"
##### SUMMARY
When running `ansible-test sanity --test validate-modules` on a PowerShell module in a collection it will fail to import any module util that is in Ansible itself. This causes issues if it requires access to those utils to build the arg spec as we can see with https://app.shippable.com/github/ansible-collections/ansible.windows/runs/16/5/console.

##### ISSUE TYPE
- Bug Report

#####

[2020-02-19 23:04] #34144 closed, assigned to nobody

[2020-02-19 23:26] Bonehead5338 opened #67592 "k8s missing "wait" examples"
##### SUMMARY

k8s module has no examples for "wait" functionality

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 8
##### ADDITIONAL INFORMATION

useful to see what it can do

[2020-02-19 23:30] dave93cab commented on #67592
https://www.ansible.com/blog/continuous-improvements-in-ansible-and-kubernetes-automation

there are examples on this page

[2020-02-20 02:01] Fred-sun commented on #67555
@superz202 Thanks for your taking time to create this issue! We will invetesting this! Thank you very much!

[2020-02-20 02:46] Fred-sun commented on #67529
@adhodgson1 Thanks for your contribution on the project. We will look into it! Thank you very much!

[2020-02-20 02:47] Fred-sun commented on #67529
@haiyuazhang Could you help take a look this issue? Thank you very much!

[2020-02-20 03:51] kbreit commented on #67261
To my mind, this is opposite of what it should be. I should be working down the layers, not up. My preference is to do a full configuration on an interface and then execute `no shut` (which would be done in `nxos_interfaces`). I feel if you issue `no shut` early in the configuration process, you may cause Spanning Tree or routing protocols to reconverge.

Another situation I need to test is regard

[2020-02-20 03:53] kbreit commented on #67397
[code]

[2020-02-20 04:03] greg-hellings commented on #37704
So there is a legit REST API mechanism to define versions of plugins to install. Maybe the whole module should be updated to use that, rather than to call Groovy scripts that are difficult to parse through return meanings.

[2020-02-20 04:13] greg-hellings commented on #37704
@jtyr - would you be open to a proposal to convert jenkins_plugin to using the [JenkinsAPI](https://github.com/pycontribs/jenkinsapi) that @lechat helps maintain? Or at least to use the REST API directly?

[2020-02-20 04:32] #67591 closed, assigned to nobody

[2020-02-20 05:39] sakar97 commented on #67416
Yes I tried that also

[2020-02-20 06:41] imlight opened #67603 "Not able to enable intelligence_packs from ansible module for loganalyticsworkspace"
##### SUMMARY
I am using azure_rm_loganalyticsworkspace ansible module to enable container monitoring and backup , and it gives me error as  unsupported parameters

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loganalyticsworkspace

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Oralce Linux 7.4

##### STEPS TO REPRODUCE
Run below YAML

[code]

##

[2020-02-20 07:00] imlight commented on #67603
Same thing with

[code]

[2020-02-20 07:19] #61804 closed, assigned to nobody

[2020-02-20 07:31] Jamboon-beurre commented on #67578
Hi, thanks, i close this one.

[2020-02-20 07:31] #67578 closed, assigned to nobody

[2020-02-20 08:32] milena5511 opened #67605 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 09:31] JoschuaA4 opened #67606 "VMware: connecting via Proxy seems to be broken"
##### SUMMARY
vmware_vmkernel_info and vmware_host_firewall_manager fails when connect to the vCenter should be established via proxy. I would suggest that other vmware modules have the same issue.
I've sniffed the network connection between the host where the playbook runs and the proxy while running the playbook but the was zero packets between those node. A curl from the host where the playbook

[2020-02-20 10:03] leandro-loos-vmbc commented on #66641
Also experiencing problems when using `group_name` to reference the group itself. It takes a really long time and then throws the `Ran out of time waiting` warning.

The end result is the desired one, but idempotence is broken

[2020-02-20 10:06] Fred-sun commented on #67473
Yes, the pyton 2.7 test was also successful. I'll try python3. Thanks!

[2020-02-20 10:39] Vladimir-csp opened #67608 "Subelements filter can not descend into list items"
##### SUMMARY

`subelements` filter can only descend into dicts, but not list elements, which is inconsistent with other filters like `map`, `selectattr`, etc

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

filter/core.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Vars:
[code]
Construct:
[code]

##### EXPECTED RESULTS

[2020-02-20 10:50] Wordsgames opened #67609 "Add CVE support to the yum module"
#### SUMMARY

I try to Update security only all CVE create by UpdateCVE.yml but i can't, so i tried to select the cve.
It does not find except in the rhel "host" yes

##### ANSIBLE

[code]
##### ISSUE TYPE
- Feature Idea

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
##### COMPONENT NAME

`lib/ansible/modules/packaging/os/yum.py`

##### EXPECTED RESULTS

He should running udpate cve wit

[2020-02-20 10:56] Lightjohn commented on #65890
Hi, I need to create bucket with **Uniform** control access to bucket and it seems that's it' not possible without that feature.

Is there a way to still do it with Ansible?

[2020-02-20 10:59] karniemi commented on #40239
bumped to this problem as well. I used the vars-workaround, too, for one task. Maybe(?) that workaround could be combined with set_fact-module if the facts/vars are needed for multiple tasks/plays.

[2020-02-20 11:00] Gmar-cell commented on #53127
In my case the HResult is: -2145124318.
On this URL I find a translation: http://woshub.com/all-windows-update-error-codes/
0x80240022    -2145124318    WU_E_ALL_UPDATES_FAILED    operation failed on all specified updates

Could it be the same problem like on this url?:
https://stackoverflow.com/questions/18990450/wuapilib-iupdateinstaller2-yields-error-some-os-updates-install-others-throw-hr/1916

[2020-02-20 11:14] thefkboss commented on #64051
I have done this pull-request to fix the error
https://github.com/ansible/ansible/pull/67610

[2020-02-20 11:45] fr34k8 commented on #55329
+1

[2020-02-20 12:48] jtyr commented on #37704
Introducing dependency on another Python package could be challenging for some of the user. Preferred solution is to resolve the problem via REST API.

[2020-02-20 13:03] nightowlengineer commented on #41077
I'd like to take a stab at this.

[2020-02-20 13:05] eliasbayona opened #67613 "ModuleNotFoundError: No module named 'pyVim'"
##### SUMMARY

Ansible can't seem to find pyVim module when trying to execute a playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nsxt_deploy_ova.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control node OS: Clear LInux project

$ pip show pyVim
Name: pyvim
Version: 3.0.2
Summary: Pure Python Vi Implementation
Home-page: https://github.com/j

[2020-02-20 13:34] nightowlengineer commented on #41077
@rgarrigue have you got an example requirements.yml file that you're using?

[2020-02-20 14:08] wtout opened #67615 "vmware_host_service_info fails with AttributeError: 'NoneType' object has no attribute 'service'"
##### SUMMARY

When using the vmware_host_service_info module, an attribute error is encountered with different versions of Ansible (2.9.0, 2.9.2 and 2.9.5)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_service_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)
Linux wassimans01.cisco-cms.com 3.10.0-106

[2020-02-20 14:09] rgarrigue commented on #41077
Sorry no, it was a previous job. Something like this I'ld say

[code]

[2020-02-20 14:20] nightowlengineer commented on #41077
No worries - just wanted to check it wasn't something esoteric :-)

I've added a PR that enables/fixes this - if you want to give it a try yourself to confirm it works that would be awesome.

[2020-02-20 14:58] pgrenaud commented on #48320
I have observed a similar issue. To me, it happened as soon as I go back 3 or 4 item back in the history or using reverse-search, regardless of the line length. Setting ANSIBLE_NOCOLOR to True does mitigate/fix the issue. So it seems that it is indeed caused by the coloring.

I'm on macOS 10.15.3, using the native Terminal app, set to xterm-256color. I did observe this issue the first time I start

[2020-02-20 15:04] bblenard commented on #48440
I can take a look at the contribution guidelines and write up a PR this weekend.

[2020-02-20 15:07] Beefy-Swain commented on #56046
Does adding the `never` tag not work to at least work around this issue?

 https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#special-tags

[2020-02-20 15:45] kevinvalk commented on #56046
Thanks for your input, but then it is "never" ran, not even once. Except of when specifying another tag to get it included again, but then we are back to the original problem.

I think the proper solution is to avoid running the same role twice. It was what I expected from reading https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution

[2020-02-20 15:57] azertyfun commented on #12565
Bug is still relevant as I don't know of any workaround.

I am willing to implement this feature as we have a real business need for it with very large playbooks that take a lot of time to debug, as a *lot* of our time is spent replaying operations with no effect.

I see that [PlayIterator.__init__](https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/play_iterator.py#L195) contains

[2020-02-20 16:03] d-little commented on #60922
Can we remove the AIX label from this?

-label aix

[2020-02-20 16:13] abadger commented on #64905
Informational:

Currently the galaxy server will show the prereleases on the galaxy UI despite /usr/bin/ansible-galaxy not serving those releases.

[2020-02-20 16:13] Beefy-Swain commented on #56046
Sorry, for your issue I see that that is the case, but if you just wanted to use the dependencies so that you could handle role management via galaxy, and you actually run the roles from within the parent roles, then the `never` tag has worked for me.

[2020-02-20 16:20] azertyfun commented on #12565
@bcoca's answer in IRC was the following:

Tl:DR forget about this, `--start-at-task` is antiquated and doesn't play well with the dynamic nature of ansible. Better would be to write a strategy plugin to do this or simply refactor playbooks to use tags.

[2020-02-20 16:27] msasso commented on #12565
Tags are not a suitable substitute for --start-at-task under the following use case:
- A playbook failed to complete
- I find and fix a buggy task
- I want to resume the execution of the playbook without having to wait for all the previous tasks (and dependencies) to re-run

Note that sometimes it takes several tries to fix a task, especially when you're not familiar with the specific task type, s

[2020-02-20 16:34] Bahu2016 commented on #66992
user_id and group_id was added in new netapp collections.
Thanks @carchi8py

[2020-02-20 16:34] #66992 closed, assigned to nobody

[2020-02-20 16:34] azertyfun commented on #12565
For my use case it's doable because we wrap our playbooks with an API, so we can just add and remove tags programmatically. We can just split our playbook into chunks (tagged `chunk-n` for instance) and let our wrapper run ansible with `--tags always,chunkx,chunkx+1,…chunkn`.

Not quite as elegant as using `--start-at-task`, but fairly low-cost still.

However, I'll be looking into the difficulty

[2020-02-20 16:48] gardar opened #67620 "vmware_guest_pci: support adding pci devices to vmware guests"
##### SUMMARY

It would be good if it would be possible to add pci devices for vmware guests, both shared pci devices and passthrough.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

My use case is adding nvidia grid vgpus in a vdi environment, the vgpus are added as shared pci devices as per the following instructions from vmware

1. Right-click

[2020-02-20 17:16] nitzmahone opened #67621 "Include collections repo location in docs"
##### SUMMARY
With the content diaspora occurring with 2.10, we need to make it easy for users to find the source repo and/or issue reporting location for a given collection in the docs. Ideally, a link on every plugin doc page etc to an issue report URL and/or source repo for the collection. `galaxy.yml` has a `repository` link, and I think the Galaxy-hosted docs show this somewhere, but not sure

[2020-02-20 17:16] nitzmahone commented on #67621
cc @acozine

[2020-02-20 19:01] mator commented on #60922
offtopic: We probably need to raise another issue with bot to be able to change labels with collaborators (contributors)

[2020-02-20 19:13] bcoca commented on #67197
closing as per above

[2020-02-20 19:13] #67197 closed, assigned to nobody

[2020-02-20 19:16] bcoca commented on #67210
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

This is not normally related to a bug, but an issue with the ssh connection itself.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2020-02-20 19:16] #67210 closed, assigned to nobody

[2020-02-20 19:18] bcoca commented on #67223
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

This issue seems to be unrelated to Ansible itself and more probably has to do with your specific environment setup.

   * IRC: #ansible on irc.freen

[2020-02-20 19:18] #67223 closed, assigned to nobody

[2020-02-20 19:21] mariolenz commented on #67613
I don't have a solution but just for the record: Your ansible installation uses `python version = 3.8.1 (default, Feb  7 2020, 15:06:12) [GCC 9.2.1 20200207 gcc_9_2_0_release-591-g850c38f5f4]` but I don't see 3.8(.1) mentioned in your result, only `/usr/lib/python3.6/` something.

Maybe this helps you or someone else to fix your problem.

[2020-02-20 19:27] WRJFontenot commented on #62377
I confirm this problem is fixed in Ansible 2.9.5.  I can add and delete multiple TXT records with the same name even when other TXT records with the same name are already present.  Good work!
I will close the underlying RedHat support case so @sugitk can close this bug.

[2020-02-20 19:29] bcoca commented on #67258
We have not plans on addressing such a specific setup that requires both key and password for this case.

You could solve it several ways, you could turn off warnings, remove scp/sftp as transfer methods.
or use a custom copy of the ssh connection plugin shipped that handles the extra prompt or just skips the warnings for scp/sftp.

[2020-02-20 19:34] sivel commented on #67259
Our `pip` installation indicates using `pip install --user ansible` which will install to `~/.local`, but you must add `~/.local/bin` to your `$PATH` env var.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-20 19:34] #67259 closed, assigned to nobody

[2020-02-20 19:34] bcoca commented on #67260
can you be more specific? we already do what you say above

needs_info

[2020-02-20 19:43] bcoca commented on #67264
You could always supply your own version of the vars plugin. Otherwise  the feature would be to add an option to toggle this behaviour in the current one, but I don't see this as a compelling feature to add to it.

[2020-02-20 19:46] bcoca commented on #67265
as you state, this does not occur if you use the `remount` state, this is by design, specially since it is very difficult to reliably detect bind mounts.

[2020-02-20 19:46] #67265 closed, assigned to nobody

[2020-02-20 19:52] bcoca commented on #67266
did the fact gathering actually work?
needs_info

[2020-02-20 19:53] bcoca commented on #67269
have you tried ` no_log: '{{result is success}}'` ?

[2020-02-20 19:59] bcoca commented on #67290
includes cannot be syntax checked since they require execution, use `roles:` or `import_role` for this case.

[2020-02-20 19:59] #67290 closed, assigned to nobody

[2020-02-20 20:04] bcoca commented on #67293
@jfoliveira  can you provide output of the run with `-vvv`?

1. NO
2. Ansible has been python3 compatible since version 2.4, if this is a bug in the py3 implementation it still requires fixing.

needs_info

[2020-02-20 20:06] bcoca commented on #67304
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This does not work as ansible won't do the shell expansion as you would expect.
```remote_tmp = /tmp/ansible-$USER```

In the future, t

[2020-02-20 20:06] #67304 closed, assigned to nobody

[2020-02-20 20:30] bcoca commented on #67269
[code]

[2020-02-20 20:43] s-hertel commented on #67451
#44067 is in 2.8+.

This looks like a duplicate of #34861. Please feel free to weigh in on that ticket so we can track this in one place.

[2020-02-20 20:43] #67451 closed, assigned to nobody

[2020-02-20 21:17] samyo66 opened #67627 "win_share unable to create a share on the root of a drive"
##### SUMMARY

Attempting to share the root of a drive with win_share results in an error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_share

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS = Windows Server 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A new share is created on the target machine pointing to the root of t

[2020-02-20 21:25] OnceUponALoop opened #67628 "win_dns_record: Support Round Robin Record Addition"
##### SUMMARY
To support round robin we need to add multiple A records with identical names but different IP addresses.

This is not currently possible with the module - if multiple identical names are used the last one is the only one added to the DNS server.

Maybe a `unique` flag could be added to account for this use-case?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_dns_record

[2020-02-20 21:35] jborean93 commented on #67627
My guess is that when `$path` reaches `New-SmbShare` it is stripping the trailing `\` which seems to be needed for the cmdlet.

[code]

Would need to investigate where exactly that is happening but that seems to be the case. In any case are you aware of the hidden admin shares that Windows creates for every drive, you can access it with `\\server\c$` where `c` is whatever drive letter you want.

[2020-02-20 21:48] s-hertel commented on #67440
There's an isfile/URL check which is why it falls back to assuming it's an invalid name. Checking if it ends with .tar.gz might make more sense since if it's a relative file you can also just provide the filename without any path separator.

[2020-02-20 22:05] it-praktyk commented on #67352
Due to not break of backward compatibility, I propose now
- add a new parameter `return_new_diff_format` with a default value `false`; usage of this will generate output using the format proposed above.
- for the next three releases add a deprecation warning about upcoming changes to returned format e.g. `The returned diff will change in version 2.13. To use it now set return_new_diff_format to tr

[2020-02-20 22:14] samyo66 commented on #67627
I am aware of the hidden admin shares that Windows creates automatically but I have a use case for providing a more user friendly UNC path for accessing the root of a letter assigned drive.

The offending code in win_share.ps1 appears to be on line 85. I was able to get the module to execute successfully after removing everything after -replace.

[2020-02-20 22:15] samdoran commented on #67490
This makes sense for `collection list`. We can just fall back to inspecting the local `galaxy.yml` file favoring `MANIFEST.json`. There's already a method to ingest that file, so I can use that.

[2020-02-20 23:26] feisa opened #67631 "nxos_logging"
##### SUMMARY
The module nxos_logging is not acting as idempotent due to the command being sent to the device
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_logging
##### ANSIBLE VERSION
ansible 2.10.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/feisa/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module locat

[2020-02-21 00:10] jauyzed commented on #67223
This is definitely NOT environment related although it looks like it. As mentioned the curl command for the exact payload works successfully but not with URI module. I have tried the uri module with different pay loads. Because of this issue/bug, I am temporarily using shell module with curl

I would like this to be reviewed again. Thank you

[2020-02-21 01:26] mvorisek commented on #67260
@bcoca Allow to emit warning directly from playbook, i.e. emit warning like:
- name: Show warning if conditions are matched
  warning: This is a message from an user
  when: '1+1 > 1'

[2020-02-21 01:28] sugitk commented on #62377
@WRJFontenot
Thank you very much for your report and a long team patience.  I will close this issue out.

[2020-02-21 01:28] #62377 closed, assigned to nobody

[2020-02-21 01:46] johnboy2 commented on #67628
TLDR; try this:
[code]

I think this is really a documentation issue.

This module treats the pair (`name`, `type`) as the fundamental unit, even though that's not really how DNS works. It does this because treating `value` (or its `values` alias) as potentially multi-valued is just easier for non-experts to understand. That said, this never made it into any examples (or even the integration tests

[2020-02-21 02:29] spencerdcarlson opened #67633 "pip task always reports as changed"
Might be a duplicate of [issue-254822936](https://github.com/ansible/ansible/issues/28952#issue-254822936), but I am still seeing this behavior.

##### SUMMARY
pip install `pymysql` as present is always reported as changed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 (Bionic Beaver)
[code]

[2020-02-21 03:20] willhughes-au opened #67636 "Allow specifying more complex metrics for Cloudwatch Alarms in ec2_metric_alarm"
##### SUMMARY
When using Cloudwatch Alarms, sometimes it is desirable to be able to use more than basic / single metrics.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_metric_alarm

##### ADDITIONAL INFORMATION

This would be useful if you were trying to have an Autoscaling group scale based upon the number of messages in multiple SQS queues.

This is possible via the AWS CLI and the

[2020-02-21 03:35] Fred-sun commented on #67473
@joaocc I successfully tested result on python 3.6, 2.7 and ansible 2.9.4. Can you reinstall and install azure-cli and ansible[azure] to retry? Thank you very much!

[2020-02-21 04:11] Fred-sun commented on #67358
@Sneeds Thank you for taking the time to report this problem. Could you share your playbook (test case)? I will retest and it will be very helpful to solve this problem, thank you!

[2020-02-21 05:10] Akasurde commented on #67613
@eliasbayona Thanks for the reporting this issue.

You have installed a wrong package `pyvim` (some vim related package) instead of `pyvmomi` (VMware API bindings in Python).

I marking this as configuration error.

[2020-02-21 05:10] #67613 closed, assigned to nobody

[2020-02-21 05:18] Akasurde commented on #67609
@Wordsgames Currently, installing CVE or Advisory is not supported by yum module. @maxamillion @mkrizek Correct me if I am wrong. You can take a look at this https://github.com/ansible/ansible/pull/40485 which was closed due to inactivity from the original author.

If you are interested, you can create patch using this PR and submit.

Thanks.

[2020-02-21 06:12] Akasurde commented on #67620
@gardar Thanks for reporting this feature request. We are not adding any new feature in `vmware_guest` but instead adding a new module. Would you be interested to create a new generic module with your requirements?

Let me know. Thanks.

needs_info

[2020-02-21 07:05] mboehm21 opened #67637 "Do not load unnecessary modules and plugins"
##### SUMMARY
It would be nice to be able to disable modules and plugins that are not needed completely in a clean way to save resources and startup time, especially in use cases where Ansible is acting as a very specific middleware only using a few modules. Please tell me when this is already possible. I know the blacklist feature but it does still seem to load the plugin module on startup.

####

[2020-02-21 07:19] Fred-sun commented on #67603
@imlight Thank you for taking the time to report this problem. It is because your parameters are used incorrectly. It should be ‘intelligence_pack’ to 'intelligence_packs'. Thank you very much!

[2020-02-21 08:34] Fred-sun commented on #52082
@just-dimitarslavkov kindly ping!

[2020-02-21 08:37] Fred-sun commented on #52068
@just-dimitarslavkov Can you tell me more about it? This will be a great help to solve the problem, thank you very much!

[2020-02-21 08:59] Akasurde commented on #67615
resolved_by_pr #67641

[2020-02-21 08:59] Akasurde commented on #67615
@wtout, Could you please check PR #67641 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-02-21 09:41] ian-mao opened #67642 "win_audit_rule reports unhandled exception when changing audit rule on a protected OS file"
##### SUMMARY
win_audit_rule will try to get item type before doing the rule setting, (Get-Item $path).GetType() will work for most cases but not for a protected OS file, for example, C:\bootmgr.
To make it work for this scenario, a force is expected.
(Get-Item -force $path).GetType()

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module win_audit_rule

##### ANSIBLE VERSION

[code]

##### C

[2020-02-21 10:47] gardar commented on #67620
@Akasurde I'm not sure if I'm qualified to do it but I might give it a whirl... Do you think I could base it on any of the existing vmware modules with minor adjustments or is this something totally different from anything else?

[2020-02-21 10:50] ripoul opened #67646 "jenkins_job_info validate_certs failed"
##### SUMMARY

I use the module `jenkins_job_info` on my personnal jenkins server. I have to use `validate_certs` argument set to False but my task send me an error :
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jenkins_job_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Create a task with jenkins_job_info

[2020-02-21 10:57] Seb0042 commented on #42933
Same here, having the meta with right information in it doesn't solve the issue.
May be we could have a special version called "latest" that would force the role to be installed with the latest revision ?

[2020-02-21 11:22] ssbarnea commented on #67260
I subscribe to the issue, current warning mechanism in ansible is very poor when compared with python warnings for example. There are two main issues:

* inability to silence a specific warning, there is only the disable_warnings option which is a very bad practice in general.
* inability to collect warnings during execution so you can build a report at the end, even better to be able to fail a pl

[2020-02-21 11:40] Akasurde commented on #67620
Yes, you can take look at [`vmware_guest_disk`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_disk.py) or [`vmware_guest_network`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_network.py) which are based on this concept (instead of adding new feature in vmware_guest, new modules created).

[2020-02-21 11:40] PauloCabral-internations opened #67647 "[ansible 2.9.5 ] [ecs_taskdefinition] Config memory to zero"
##### SUMMARY
 I wanto to config memory at 0 for mycontainer. I don't want to limit the memory ussage for my container so i config in with 0 like aws documentation explain. But ansible ecs_taskdefinition not allow:

`
ecs_taskdefinition:
       family: teste-ansible
       launch_type: EC2
       containers:
       - name: container_name
         image: xxxx
         hostname: aaaaa
         portM

[2020-02-21 12:22] WilliamVannuffelen opened #67648 "setup module ignores fact_path from ansible.cfg"
##### SUMMARY
The setup module ignores the fact_path setting from ansible.cfg when called directly via "ansible -m setup"
When running a playbook with "gather_facts = True" on the same hosts and with the same ansible.cfg file, everything works as expected.
Running setup while specifying the fact_path in cmdline works as well.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBL

[2020-02-21 13:32] oh-c commented on #67570
@mikewiebe tried that but the module fails with:

[code]
<         commands.append('install activate {0}{1} force'.format(
<             file_system, pkg))

<         commands.append('install commit {0}{1}'.format(file_system, pkg))

[code]

[2020-02-21 13:59] markuman commented on #67647
Simple leave this parameter completley out.
But as far as I remember, you must provide one - a memory reservation or a cpu reservation - in one layer (task definition or container part of the task definition)

[code]

memoryReservation is the "soft limit". the ecs agent will reserve this amount of memory, but the container itself can burst above that limit (all what is available on the host).

[2020-02-21 14:36] arensb commented on #67113
!component macports

[2020-02-21 15:06] atikhono opened #67653 "k8s module: bad diff in check mode when creating a service with apply:yes"
##### SUMMARY
There's always a diff in check mode against k8s Service resource created with k8s module and `apply: yes` (and it must not be there).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

No diff output, service not reported

[2020-02-21 15:24] gundalow opened #67654 "Split (remove) changelog for devel post Collections"
##### SUMMARY
Once most content has been removed from ansible/ansible we need to thin out the changelog/fragments as otherwise, it will refer to code that isn't shipped in ansible-base

https://github.com/ansible-collections/overview/issues/18 covers the Community Collection process

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2020-02-21 15:47] sivel commented on #67648
From the documentation (https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-fact-path):

The `implied` is meant to indicate that this config option only impacts the implicit "Gathering Facts" task that happens as part of a playbook. It does not impact explicit invocations of the `setup` module or any use of the adhoc command.

[2020-02-21 16:08] bcoca commented on #42733
closing as per above, this is not something we will be adding to the ini inventory but it should be simple enough to create a custom inventory plugin.

[2020-02-21 16:08] #42733 closed, assigned to nobody

[2020-02-21 16:10] OnceUponALoop commented on #67628
@johnboy2 I can confirm that the recommended configuration works.
Thanks for the assist :)

[2020-02-21 16:14] #65036 closed, assigned to nobody

[2020-02-21 16:37] richlv commented on #66174
Sorry, just now got to testing this - works wonderfully, thank you so much :)

[2020-02-21 16:44] bcoca commented on #61778
as posted above, closing this in favor of https://github.com/ansible/proposals/issues/35 as it is a superset of this request

[2020-02-21 16:44] #61778 closed, assigned to bcoca

[2020-02-21 17:55] #47050 closed, assigned to nobody

[2020-02-21 19:51] M1Sports20 opened #67661 "hostname module doesn't work when hostname doesn't exist"
##### SUMMARY
Newer distributions, such as ArchLinux, may not have hostname install.  They only have hostnamectl.  This module seems to fail in this case
Error Message:
   "msg": "Failed to find required executable hostname in paths: /usr/local/sbin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE VERSION

[code]

##### CO

[2020-02-21 19:53] fabianvf commented on #55329
Active module development has moved to https://github.com/ansible-collections/kubernetes

[2020-02-21 20:26] geerlingguy commented on #60134
I've moved this feature request into the Kubernetes collection repository: https://github.com/ansible-collections/kubernetes/issues/37

This request should be closed and further discussion moved to that thread.

[2020-02-21 21:19] wtout commented on #67615
@Akasurde , yes PR #67641 fixes the issue.

Thanks

[2020-02-21 21:27] acca commented on #59680
Is this somehow related: https://github.com/ansible/ansible/pull/46683#issuecomment-576283848 ?

[2020-02-21 22:14] masquerade-anon opened #67663 "vmware_dvs_portgroup not updating vlan_id"
##### SUMMARY
Changing the vlan_id is not updating the dvswitch

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvs_portgroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
vCenter version: 6.7.0 build 15129973

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect that the portgroup vlan_id would get changed

##### ACTUAL RESULTS
The portg

[2020-02-21 22:54] joaocc commented on #67473
I am testing this on a docker image, so it's always reinstalled in the same way

[2020-02-21 23:03] samdoran commented on #67352
I didn't get around to this today. Sorry about that. I'll try again on Monday. 👋

[2020-02-22 02:04] chopraaa commented on #67661
Try setting `strategy: systemd` and see if that works.

[2020-02-22 02:34] M1Sports20 commented on #67661
Seems thats not a ffield.  I also tried with "use".  I got the same error as above.

fatal: [host.domain.com]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (hostname) module: strategy Supported parameters include: name, use"}

[2020-02-22 04:57] parmstro opened #67667 "/tmp/.ansible ownership issues with non-root remote_user"
##### SUMMARY

After creating a new non-root ansible user, new user is unable to perform actions that require write access to /tmp/.ansible due to ownership /tmp/.ansible. Deleting /tmp/.ansible on managed host prior to running plays with the new non-root user resolves the issue. Running the same play with remote_user: root succeeds without deleting or changing ownership of the /tmp/.ansible direc

[2020-02-22 14:29] parmstro commented on #67667
Not a bug, PEBCAK.

[2020-02-22 14:31] parmstro commented on #67667
Question:

[2020-02-22 15:28] rseffner opened #67668 "interactively add host does not work anymore with 2.7"
##### SUMMARY
I'm used to write plays asking interacively for hosts usind vars_prompt and add_host with ansible 2.2. An distro upgrade forced me to go with ansible 2.7 and these plays does not work anymore.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
add_host together with vars_prompt and strategy:free

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debia

[2020-02-22 16:16] #67615 closed, assigned to Akasurde

[2020-02-22 16:19] Akasurde commented on #67661
@M1Sports20 You may want to use `use: systemd` instead in your hostname task instead of `strategy: systemd`

[2020-02-22 17:03] M1Sports20 commented on #67661
@Akasurde it was already mentioned by @chopraaa .  That still doesn't work.  Happy to provide any more Debug info if needed.  I don't have hostname till installed.  I see the python module is looking for it and balls of it can't find it.  I might be looking at it wrong.

[2020-02-22 17:10] mariolenz commented on #67663
Can you please test the devel branch? I think this has been fixed in PR #62537. If this works for you, it should be only a question of backporting this to 2.9.

[2020-02-22 19:05] #47132 closed, assigned to Akasurde

[2020-02-22 19:05] #45362 closed, assigned to Akasurde

[2020-02-22 19:06] chopraaa commented on #67661
The output you pasted still says that you're using `strategy` though. Can you run the task in verbose mode and post that output? `ansible -vvv`.

[2020-02-22 21:55] tekgirl77 commented on #29253
Wondering the same.  Running into it still as of 02/2020.

[2020-02-22 21:56] odinho commented on #36000
It seems like this is hard getting in to ansible.

There's two different uses for nspawn/machinectl, the `nspawn`-route is to change a directory like chroot (though it'll work with other cool things like btrfs subvolumes or raw images).

The `machinectl`-route is to manage running machines on the computer or "remote". Those are different. I'd like to use that to basically replace Docker.

I'm not

[2020-02-22 23:09] johnboy2 opened #67672 "win_dns_record: Add documentation for multi-valued entries"
##### SUMMARY
#67628 exposed an area in which `win_dns_record` could be improved, as far as _documenting_ how to add multiple values to a given `A` (or other) record type.

Although the `value` attribute is clearly documented as taking a _list_, **none of the examples actually show that** --- leading to the mistaken impression in the case of #67628 that there was no existing way to do that. A few

[2020-02-22 23:17] aghassemlouei commented on #47945
Experiencing this issue as well; any progress?

[2020-02-22 23:19] johnboy2 commented on #67628
Maintainers: This can be closed as "notabug" against doc clarifications to be done under #67672.

[2020-02-22 23:23] #67628 closed, assigned to nobody

[2020-02-23 04:00] Bahu2016 opened #67675 "[vmware_guest_network] network does not connect on power up"
##### SUMMARY
[vmware_guest_network] network does not connect and on power up

VM settings -> Network Adapter 1: Connected not checked

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION
ansible 2.9.2

##### CONFIGURATION
default config

##### OS / ENVIRONMENT
RHEL 7.7
open-vm-tools-10.3.0-2
perl-5.16.3-294

##### STEPS TO REPRODUCE
[code]

##### EXPECT

[2020-02-23 04:53] Bahu2016 commented on #67675
I did some more testing and found that vmware_guest_network module is unable to handle dvswitch based port groups and creating them as the standard switch. And as those newly created standard vSwitch are not mapped to any host, its not allowing to connect that.

So if this module supporting only standard vSwitch ?

[2020-02-23 05:40] Bahu2016 commented on #67675
the dvSwitch based port groups are already available but vmware_guest_network is creating the standard vSwitch and attaching them.

[2020-02-23 06:18] Bahu2016 commented on #67675
I tried below PR and it worked.

https://github.com/ansible/ansible/commit/e318cd0f2799a39eb2410455af15d5a69e55cc9e

Which version of anisble 2.9.x will have this fix.

[2020-02-23 09:14] ZakCheb commented on #65444
When can we have an actual update on the situation?
Same problem on Centos8 ansible-0:2.9.3-1.el8.noarch package.

[2020-02-23 15:50] andreaso commented on #66845
So, had intended to sort out the needed details today. Except that upon a closer look I'm no longer sure on how to deal with NS TTLs.

Yes, when then corresponding parent and child zones reside on different nameservers looking at the Authority section ought to do the trick.

Yet, when the same nameserver is authoritative for both the parent zone and the child zone, then I have no idea what query t

[2020-02-23 16:04] #64365 closed, assigned to Akasurde

[2020-02-23 16:22] nightowlengineer commented on #67646
I think this is down to `python-jenkins` not supporting the disabling of SSL verification except via an env var - see https://opendev.org/jjb/python-jenkins/src/branch/master/jenkins/__init__.py#L343

Looks to be related to the issue mentioned here: https://python-jenkins.readthedocs.io/en/latest/api.html#jenkins.WrappedSession

[2020-02-23 17:10] thakurmhn opened #67677 "Unable to find docker-compose module"
##### SUMMARY

Trying to run playbook with docker-compose module on remote host however playbook fails with error ""ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.
I tried to install  following modules using pip but did not helped
docker
docker-compose
docker-py

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose
##### AN

[2020-02-23 17:13] thakurmhn commented on #67677
####  ACTUAL RESULTS
[code]

[2020-02-23 17:29] felixfontein commented on #67677
This is not a docker_compose error, but a generic Ansible error. For some reason, Ansible cannot find the docker_compose module. Maybe your Ansible installation is broken? If you need general Ansible support, please use the appropriate channels (like the [ansible-project mailing list](https://groups.google.com/forum/#!topic/ansible-project/)).

Also Ansible 2.8.0 is pretty old. Why not switch to t

[2020-02-23 17:42] #67677 closed, assigned to nobody

[2020-02-23 18:40] nightowlengineer commented on #65549
@jensbaitingerbosch - to clarify, where exactly are you placing the certificate? As the SO link talks about a few different locations. Can you find the cert listed in any of these locations after installation:

- `/etc/pki/ca-trust/extracted/pem`
- `/etc/pki/tls/certs`
- `/usr/share/ca-certificates/cacert.org`

... as these are what Ansible checks according to the code. For info, it looks like in

[2020-02-23 18:46] nightowlengineer commented on #65543
Looks like #52313 would meet this requirement if the suggested amendments are made.

[2020-02-23 22:36] chkpnt opened #67679 "Platforms available on Galaxy doesn't include current openSUSE releases"
##### SUMMARY
Ansible Galaxy supports only outdated versions of openSUSE. According to the [API](https://galaxy.ansible.com/api/v1/platforms/?search=opensuse), the only supported versions are 12.1, 12.2, 12.3, 13.1 and 13.2.
The following versions are [missing](https://en.wikipedia.org/wiki/OpenSUSE_version_history#Version_history): Leap 42.1, Leap 42.2, Leap 42.3, Leap 15.0, Leap 15.1, Leap 15.2

[2020-02-23 23:00] chkpnt commented on #67679
!component -meta/main.yml

[2020-02-23 23:03] chkpnt commented on #67679
Sorry the bot went postal. 🤭

[2020-02-24 00:43] Fred-sun commented on #67603
@imlight  Could you try the changes in the comments above? Thank you very much!

[2020-02-24 03:04] Fred-sun commented on #67473
@joaocc There are no clock functions in the time module of python3.8. Can you uninstall python3.8 and try reinstalling python3.6? Thank you very much!
[code]

[2020-02-24 03:13] ryanmerolle opened #67681 "net_get and net_put support for non network-cli scp connections"
##### SUMMARY
Minimal shell network devices like PDUs and other misc devices support scp but when using the fetch or slurp modules, they connecting using ssh before initiating an scp connection.  These module fail because the device on the end of that ssh connection is so limited in shell interaction. It would be great if we could extend these modules to work with devices outside of the network_cl

[2020-02-24 03:50] imlight commented on #67603
Yes , it works with  "intelligence_packs"
Someone needs to change the documentation i feel.
https://docs.ansible.com/ansible/latest/modules/azure_rm_loganalyticsworkspace_module.html

[2020-02-24 03:55] Fred-sun commented on #67603
Yes, the parameters in the example are used incorrectly!

[2020-02-24 04:44] ainiml commented on #23675
not working still

[code]

[code]

Needs:
`ACME_DOMAIN is defined and ACME_DOMAIN == True`

[2020-02-24 07:11] jborean93 commented on #67679
Please raise this issue on the Galaxy GitHub repo https://github.com/ansible/galaxy. This repo is for Ansible itself and not Galaxy server.

[2020-02-24 07:11] #67679 closed, assigned to nobody

[2020-02-24 08:44] WilliamVannuffelen commented on #67648
Hello sivel. The correct approach then would be to set gather_facts to False, then 'manually' set a task that executes setup with the fact_path param in a playbook?

Thanks for the clarification, I'll go ahead and close this.

[2020-02-24 08:44] #67648 closed, assigned to nobody

[2020-02-24 08:44] Fred-sun commented on #67603
fixes by https://github.com/Azure/azure_preview_modules/pull/366 and #67686

[2020-02-24 09:36] abeluck commented on #31924
`docker-compose up` had the `--no-start` flag which allows you to pull and create all the containers and volumes without starting them.

IMHO, given that we should maintain backwards compat, `state: present` and `stopped: true` and `pull: true` should effectively dun `docker-compose up --no-start --pull`. And if any services are already stopped, then stop them.

[2020-02-24 09:47] zak39 opened #67687 "My task is fail with failed_when_result has true"
##### SUMMARY

Hello there :)

I have a problem with a task has fail but the failed_when_result has true.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

There my task.

[code]

And its result.

[code]

I don't understand why itsn't work...

I am sorry if it's the bad issue for my case. It's my first issue on GitHub ^^'

[2020-02-24 10:17] joaocc commented on #67473
Will try and report back. Does this means that python 3.6 is the highest supported version for aks? thx

[2020-02-24 10:18] vandevelde-tom commented on #61635
+1to get the issue solved with the solution above

[2020-02-24 11:43] Dogezilla91 opened #67691 "Ansible - Fortigate hostname doesn't change, yet it is shown as succesful"
Hi,
I'm trying to write a simple script to change the hostname of my fortigate. Just changing the hostname. Ansible connects and says that it is succesfull and made a change.
Yet in the router itself nothing happened.

**Ansible version**: 2.9.5
**Component name**:  fortios_router_setting

my yaml file (yes I will add a vault later)

[code]

with the running log:

mrFish@mrFish:~/ansible/winShare$

[2020-02-24 12:26] andrewbelcher commented on #58305
I'm getting the same trying to add a DKIM record, though it is actually creating the record correctly, it fails (and attempts every time even though it is correctly created).

[2020-02-24 12:29] MikelSwartz commented on #59192
This is still an issue:
[code]

[2020-02-24 12:55] ryanmerolle opened #67694 "Slurp & Fetch fail with APC PDUs"
##### SUMMARY

APC Network Management PDU do not have a normal shell.  Instead of slurping or fetching the file using scp, the modules report the endpoint as unreachable.  Yet, doing the same thing via the shell module manually, it works.  The one caveat with the manual shell command is that the scp starts and completes with no status indication or completion return code.

##### ISSUE TYPE

- Bug

[2020-02-24 12:57] #67169 closed, assigned to GomathiselviS

[2020-02-24 13:06] ryanmerolle commented on #67694
Adding contributors
@dagwieers
@gundalow
@abadger
@sivel
@H1ppo
@samdoran
@sbonds
@mikeputnam
@mpdehaan
@jsutton
@jborean93
@hermanwienema
@direvus
@Akasurde

[2020-02-24 13:17] Akasurde commented on #67687
Hi @zak39 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2020-02-24 13:17] #67687 closed, assigned to nobody

[2020-02-24 13:18] SWolfeAtOH commented on #59192
Have you tried running this with –vvvv as it suggests?

From: Michael Swartz <notifications@github.com>
Sent: Monday, February 24, 2020 7:29 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Wolfe, Steve <Steve.Wolfe@ohiohealth.com>; Comment <comment@noreply.github.com>
Subject: [EXTERNAL] Re: [ansible/ansible] ios_facts in Ansible 2.8 can't gather config (#59192)

WARNING: This email origin

[2020-02-24 13:19] Akasurde commented on #67691
!component =lib/ansible/modules/network/fortios/fortios_router_setting.py

[2020-02-24 13:20] #62055 closed, assigned to nobody

[2020-02-24 14:10] mohag commented on #66395
`db.isMaster()` works pre-authentication and can be used to check RS membership...

[2020-02-24 14:11] neben opened #67696 "Can't build docker compose file with volumes containing variables"
##### SUMMARY

Trying to build a docker compose file with the docker_compose module fails if the file contains volume definitions with variables. This is valid syntax: https://github.com/docker/compose/issues/2636#issuecomment-363688635

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STE

[2020-02-24 14:22] sky-joker commented on #66713
Hi @nicholasrodriguez
Could you try if this https://github.com/ansible/ansible/pull/67670 can solve this issue, please?

refer: https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html#adding-a-module-locally

[2020-02-24 14:33] iyesin opened #67698 "Mount host directory inside container with docker_container module"
##### SUMMARY
Getting next error while trying to use `docker_container` module and `mount` parameter:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/cloud/docker/docker_container.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

alpine-linux-3.11.3 docker image (and ansible environment)
Ubuntu 18.04.4 LTS with Docker version

[2020-02-24 14:40] iyesin commented on #67698
Could be closed with NOTABUG or could be fixed with documenting more. Real problem discussed and solved here https://github.com/moby/moby/issues/34532#issuecomment-322738970

[2020-02-24 14:47] geerlingguy opened #67699 "ansible-test integration seems to be ignoring specified python version and interpreter"
##### SUMMARY

For my php_roles collection build, I am using the following ansible-test command ([see source](https://github.com/geerlingguy/ansible-collection-php_roles/blob/master/.travis.yml#L30)):

    ansible-test integration --docker geerlingguy/docker-centos7-ansible --python 3.6 --python-interpreter /usr/bin/python3

When the integration tests are run, there are a number of notices about p

[2020-02-24 14:49] bbatliner commented on #67159
This is especially a problem for those using gitlab.com (cloud-hosted GitLab). It is impossible to obtain an admin-level token for the shared runners exposed on gitlab.com, so runner registration is effectively broken in Ansible versions 2.9.3+

I'm resolving the issue by staying on 2.9.2 or lower.

[2020-02-24 14:58] martinuu opened #67702 "azure_rm_manageddisk attach_caching not working"
##### SUMMARY

Attach _caching not set for managed disk.  azure_rm_manageddisk called with these arguments (so attach_caching with read_only):
[code]

but and in the invocation attach_caching is with null value and so not set for the disk at the end:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_manageddisk

##### ANSIBLE VERSION

[code]

[2020-02-24 15:22] therealnb opened #67705 "Ansible uses wrong port for ssh when there are multiple ports for one IP address."
##### SUMMARY

I have a number of workers in an inventory file. They are all on ip 0.0.0.0 (docker images) and when I try to run a playbook on a group the wrong port is used. e.g.

[code]
if I try to specify wkrs in a playbook, ansible will try to run the plays on 0.0.0.0:50122.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2020-02-24 15:24] therealnb commented on #67705
The workaround was to define the hosts in ~/.ssh/config.

[2020-02-24 15:26] sivel commented on #67668
The error is indicating that you cannot use the `add_host` module when also using the `free` strategy.  Since the outcome would produce unexpected results.

As such, you would need to force that play using `add_host` to use the `linear` strategy.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.

[2020-02-24 15:26] #67668 closed, assigned to nobody

[2020-02-24 15:39] sivel commented on #67705
In an inventory file, what we call the `inventory_hostname` is a primary (unique) key.

As such, you are defining the same host (`0.0.0.0`) 2 times, and the 2nd port overwrites the first.  This is expected behavior.

Instead you would want to use an aliased name and `ansible_host` and `ansible_port` to properly get the behavior you want:

[code]

If you have further questions please stop by IRC or

[2020-02-24 15:39] #67705 closed, assigned to nobody

[2020-02-24 15:43] Alveel opened #67706 "Cannot put space after comma in inventory list"
##### SUMMARY
When configuring multiple inventory sources in `ansible.cfg`, you cannot add a space after the comma.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Any/all (Linux?) platforms. Not sure about Windows.

I'm on Archlinux with kernel 5.5.4-zen1-1-zen.

##### STEPS TO REPRODUCE

Configure `d

[2020-02-24 15:54] gundalow commented on #67654
Script and output can be found at https://gist.github.com/sivel/d193a68b2e2338f265b2c6cf5aec34b3

[2020-02-24 15:55] geerlingguy commented on #67699
Apparently this is not a bug with `ansible-test`, it's a misconception I had about the `package` module and CentOS / Red Hat / Fedora:

This basically means you _have_ to set `ansible_python_interpreter` to a Python 2 version (e.g. `/usr/bin/python`) if you're using CentOS 6 or 7. Even if you have Python 3 installed, there is no support for package management via yum with Python 3 (as I understand

[2020-02-24 15:56] geerlingguy commented on #67699
So a follow-up question—is there or will there ever be any way to use Python 3 on CentOS 6/7 or RHEL 6/7 and have Ansible work with it with `package` or `yum`, or will I have to modify any playbook I use to have a separate additional backwards-compatibility task that specifies system python for just CentOS 6/7 / RHEL 6/7?

[2020-02-24 15:56] bcoca commented on #66635
@nitzmahone   you had previously told me about `type: flatpmap` in galaxy.yml, which i added to the collection generation, which is what i did in migration.

[2020-02-24 16:00] sivel commented on #67699
Likely, no. But this isn't our decision necessarily.

The OS package maintainers, while they have provided python3 for these older distros, have not packaged the yum or rpm python bindings for python3.

It's possible we could completely rewrite the modules to shell out, instead of using the python bindings, but trying to parse stdout for making structured data would be nearly impossible.  I don't

[2020-02-24 16:05] geerlingguy commented on #67699
A few more notes:

  - The `yum` docs mention: "This module only works on Python 2. If you require Python 3 support see the dnf module."
  - The `package` docs don't mention anything about Python compatibility, but _does_ at least mention "This module actually calls the pertinent package modules for each system (apt, yum, etc)."
  - @maxamillion [explains the situation on Reddit here](https://www.

[2020-02-24 16:05] #67699 closed, assigned to nobody

[2020-02-24 16:10] Sneedes commented on #67358
At the moment, I cannot re-test/confirm this issue.  The subscription/resource groups that I have access to now all have currently all have sufficiently sized quotas for **Total Regional vCPUs** and **Standard DSv2 Family vCPUs**.  These quotas were increased once we found the root cause to failed Azure VM deployments from Ansible.

In order to test/confirm, one would need to attempt to provision

[2020-02-24 16:13] ftntcorecse commented on #65444
The hotfixes have been merged from our Pull Requests and will be available in 2.10.

If you can't wait you can still manually install it.

[2020-02-24 16:17] Sneedes commented on #67358
I suspect this will hit _every_ Azure module, not just the azure_rm_virtualmachine module.

Azure error messages don't appear to have any guarantee to only contain ASCII characters in the output/error messages.

[2020-02-24 16:51] kr3ator commented on #44338
SOCKS proxies are not currently supported by the _urllib_ on which Ansible is dependent.
One simple workaround would be to enable SOCKS support only for the Ansible's _uri_ module.

Working solution for SOCKS5 can be viewed in my fork of Ansible: [https://github.com/kr3ator/ansible/commit/cce654840ede08743e3e6f32d33c7cffefab6745](url)

Question to Ansible devs (@sivel ) if this is worth committing

[2020-02-24 17:13] therealnb commented on #67705
Thanks - that makes sense.

I still think the behaviour is a little surprising, so assume others would too, but it doesn't look like a bug.

[2020-02-24 17:31] tgadiev commented on #23675
Any plans to fix that? I see that related PR was closed and there's no more activity...

[2020-02-24 18:45] #67274 closed, assigned to nobody

[2020-02-24 18:48] TheTesla opened #67712 "python autoinstall"
##### SUMMARY

auto unstall the dependency python on remote

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible base

##### ADDITIONAL INFORMATION

On some linux distros python is not installed. Ansible cannot configure remotes not having python installes. Ansible should run:

apt update
apt install python

e. g. on ubuntu remotes to install the required dependencies.

[code]

[2020-02-24 18:50] sivel commented on #67712
Thank you very much for your interest in Ansible. Unfortunately we have no plans to add such a feature.  We would recommend that you create a bootstrap playbook for your target OS, and use the `raw` or `script` modules to prepare your systems to be managed by Ansible

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2020-02-24 18:50] #67712 closed, assigned to nobody

[2020-02-24 18:57] samdoran commented on #67352
I agree it would be better to have a dictionary rather than a list containing the diff values so they would be accessed directly. However, `diff` is special and it's not as simple as changing this from a list of dicts to a dict of dicts. The value of `diff` is processed by `CallbackBase._get_diff()` and that method expects a list of diffs to process.

If this were simply return values relevant onl

[2020-02-24 19:00] samdoran commented on #67352
Related to #67224, it may be that we need to update the return docs schema to allow for a list of dicts in `contains`. It may be a bug in the schema that it doesn't currently allow that, but I wasn't able to determine that for sure.

[2020-02-24 19:25] #67603 closed, assigned to nobody

[2020-02-24 20:00] #67459 closed, assigned to nobody

[2020-02-24 20:04] felixfontein commented on #67696
Please check out the [Ansible docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html). You can use `{% raw %} ... {% endraw %}` to escape something which looks like Jinja2 templating. I.e. in your example try
[code]
instead.

notabug

[2020-02-24 20:04] #67696 closed, assigned to nobody

[2020-02-24 20:10] felixfontein commented on #67698
You have to add `type: bind`; the default value for `type` is `volume`, and `/var/tmp` is not a volume name.

Also, the analogue to the `docker` option `-v` is [volumes](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#parameter-volumes) and not [mounts](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#parameter-mounts). If you would have spe

[2020-02-24 21:28] sivel commented on #67608
Does the `subelements` lookup do this?  The filter is effectively a re-implementation of the lookup.

From the docs:

Also, seeing as though there is a specific error for this case, I cannot see how it is a bug. It is explicitly defined behavior. I'd guess that instead this is really a request for new functionality.

[2020-02-24 22:04] masquerade-anon commented on #67663
I tested the vmware_dvs_portgroup.py in the devel branch and it indeed solves my issue. I was able to successfully change the vlan_id.

[2020-02-24 22:25] masquerade-anon commented on #67663
There is another problem though. If you set "vlan_trunk: True" and use a range for "vlan_id" , it shows changed on every run, even after it is already set. It doesn't have that same behaviour when "vlan_trunk: False" and the vlan_id is a single value.

[2020-02-24 22:28] Xachman commented on #65351
Lets not forget about this please! It broke one of our tasks and we will have to apply the fix @fnkr mentioned.  It also took us days to even figure out this is what did it.

[2020-02-24 22:31] iyesin commented on #67698
Hello, @felixfontein,

as I said, this could be closed OR this can lead to improvement of documentation and defaults (say, defaults for type of mount). From documentation point of view it's not clear how `mounts` are differs from `volumes` and documentation says that mounts are more powerful mechanism than volumes (guess why I'm here?), from error spilled out by docker demon it's not clear what's

[2020-02-24 22:44] sivel commented on #67694
The slurp module is not simply performing an scp command.  The slurp module, is implemented in python, and will read the src file into memory, base64 encode it, and then send the result back over the SSH connection embedded in JSON.

Similarly, the `fetch` module does not simply run an scp command. The first step when using `fetch` is to use the `stat` module, to determine whether or not we can di

[2020-02-24 22:44] #67694 closed, assigned to nobody

[2020-02-24 22:48] sivel commented on #67694
Also, in the future, please do not manually mass ping people on issues. The bot will handle it, and if not, all new core issues are triaged multiple times per week.

[2020-02-24 22:51] prasadkatti opened #67716 "[aws/ec2_instance] updating termination protection in check mode actually updates the termination protection"
### SUMMARY
Updating termination protection of an ec2 instance in check mode actually updates the termination protection of the instance.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ec2_instance`

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

1. Create an instance with termination protection enabled.
2. Try to update the termination protection in check mode.
3. The termination

[2020-02-25 00:25] Zocker1999NET opened #67718 "Add feature to allow the parent role signature to be used in role deduplication"
##### SUMMARY
A role with `allow_duplicates: yes` adding a handler using variables in a name will only load the handler for the first execution, not for following references to the role using different (implicit) variables.

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Deb

[2020-02-25 02:07] M1Sports20 commented on #67661
[code]

[2020-02-25 02:09] M1Sports20 commented on #67661
And with strategy in place of use:
[code]
`

[2020-02-25 02:30] nitzmahone commented on #66635
@bcoca the redirection PR can support this today in a very performant manner via entries in the new collection's `meta/routing.yml` like:
[code]
this makes the redirection very cheap, instead of requiring a runtime directory scan and coalescing process during the collection load like the current `ansible.builtin` flatmap support uses. It's a tiny hassle for adding new modules to collections, and I

[2020-02-25 02:53] whybeyoung opened #67720 "Gather Facts Hangs in single host"
I am using kolla-ansible to deploy openstack.

first time i run the command "kolla-ansible -i all-in-one deploy   -vvvv" well, but when destroyed conainers and rerun that command ,it will be stuck in the commad "/root/.ansible/tmp/ansible-tmp-1582598527.71-101039029704055/AnsiballZ_setup.py &sleep0;"
After trace the execution , it's output:
[code]
reboot machine can resolve it.

same issue as and

[2020-02-25 03:17] Fred-sun commented on #67473
@joaocc Yes, I checked the time module in python3.7 and there is no such function(time.clock), so python3.6 is the latest version. Thank you very much!

[2020-02-25 03:42] Akasurde commented on #67661
resolved_by_pr #67721

[2020-02-25 03:42] Akasurde commented on #67661
@M1Sports20, Could you please check PR #67721 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-02-25 04:17] M1Sports20 commented on #67661
Yes it does.  Looks like the auto-detection also works.  No need to provide "use: systemd" flag.
Thanks

[2020-02-25 04:18] Akasurde commented on #67661
@M1Sports20 Thanks for providing the information. The fix is present in 2.10(devel) but not in older stable branch 2.9. Once it is merged, 2.9 will have the fix.

[2020-02-25 05:56] justjais commented on #59192
@ibarrere @MikelSwartz @SWolfeAtOH
Thanks for pasting the debug out and It seems like [re.sub()](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/ios/facts/legacy/base.py#L150) code implementation is failing for the device you've tested against, and since I am unable to reproduce the scenario on the device I am testing against.

Can you please paste the output of your

[2020-02-25 06:11] Andersson007 commented on #65351
i haven't found any related changes in PRs to 2.9 and in the code but anyway this https://github.com/ansible/ansible/pull/66238 might probably help.
The author was going to implement the parameter by a new PR.
I reminded her.
If there aren't movements, i'll try to find time to create the options until the devel freeze on March, 2.

[2020-02-25 06:39] Akasurde commented on #67706
resolved_by_pr #67701

[2020-02-25 06:39] Akasurde commented on #67706
@Alveel, Could you please check PR #67701 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-02-25 06:49] Legogris opened #67723 "Role in collection doesn't search roles_path for roles"
##### SUMMARY
Using a role from a collection that is itself referencing a role from another collection result in that role not being found.

Here, I am including the role `cryptsetup`, found in the collection `debops.roles03`. It is itself importing the role `secret`. It ignores `DEFAULT_ROLES_PATH` and the defined `collections` when searching.

Included as below:
[code]

The role `secret` is pres

[2020-02-25 06:59] f3rdy opened #67725 "Enable retry mechanism when dynamic inventory related api calls fail temporarily"
##### SUMMARY

We have the current issue that our inventory setup in the azure cloud is based upon dynamic inventory plugin where we fetch the given virtual machines for an environment dynamically using the ansible dynamic inventory plugin.

Since the azure API is not always responding to these requests thus being unstable temporarily, we already implemented a mechanism to check up the amount of e

[2020-02-25 07:04] panyy3 opened #67726 "redfish_config - Systems - CreateRaidVolume / DeleteRaidVolume"
##### SUMMARY
This feature would implement a CreateRaidVolume command for the Systems category of redfish_config, to create a raid volume on raid controller. And it would also implement a DeleteRaidVolume command for the Systems category of redfish_config, to delete an unneeded raid volume from raid controller.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
redfish_config

#####ADDITIONAL

[2020-02-25 08:00] #67468 closed, assigned to nobody

[2020-02-25 08:35] mator commented on #55758
!component -lib/ansible/modules/cloud/smartos

-label cloud

[2020-02-25 08:52] drybjed commented on #67723
Can you check if this happens when you use `import_role` instead of `include_role`, for comparsion? Also, what happens if you use the `roles:` keyword in the playbook instead?

[2020-02-25 08:54] Fred-sun commented on #67702
@martinuu Thank you for taking the time to report this problem. I tried on the VM I created, but the invocation value and disk state were both correct. Can you share your complete YAML? I'll try again, thanks!

[2020-02-25 09:14] ripoul commented on #67646
On [the doc](https://docs.ansible.com/ansible/latest/modules/jenkins_job_info_module.html) of `jenkins_job_info` we can see a `validate_certs` parameter :
![image](https://user-images.githubusercontent.com/23215341/75232382-6bf3e880-57b7-11ea-8b2e-7133c4043236.png)
You confirm that this parameter do not work ?

[2020-02-25 09:20] Legogris commented on #67723
Same on both. (Though I would like to loop so `include_role` is preferred).

I ended up just adding symlinks to all the roles from the other collections into the roles directory of the depending module, which is ugly but at least solves my immediate problem.

[2020-02-25 09:48] maestrx commented on #67115
Unfortunately not fixed it. The downloaded action module was used (i fucked up its delivery and it failed, so when fixed) I got the same issue as before...

[2020-02-25 10:10] AbhishekB15 commented on #67284
Any update

[2020-02-25 10:38] Alveel commented on #67706
Installed PR branch using `pip install git+https://github.com/bcoca/ansible.git@strip_pathlist`.

@Akasurde Test case passes!

[2020-02-25 10:39] ghost opened #67732 "Support for more robust GCM Mode in ansible vault possible?"
##### SUMMARY
Context:
I was investigating the security of the ansible vault; I'm not a cryptographic expert or mathematician, just an it security expert.

Currently, ansible vault uses AES in CTR mode, e.g. https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/vault/__init__.py#L650

I'd like to ask if it is possible to maybe change this, or add GCM Mode?

Again, I'm not a crypto expe

[2020-02-25 11:05] resmo commented on #67732
!component -lib/ansible/modules/packaging/language/composer.py

[2020-02-25 11:18] agowa opened #67734 "ansible_shell_executable and windows"
##### SUMMARY
ansible_shell_executable is not with ansible_shell_type="cmd" (or ansible_shell_type="powershell") and ansible_connection="ssh" but without ansible_shell_type it does (even though ansible fails for obvious reason).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_shell_executable
ansible_shell_type="cmd"
ansible_shell_type="powershell"

##### ANSIBLE VERSION
[code]

#####

[2020-02-25 12:37] ryanmerolle commented on #67694
@sivel my investigations was leading me down to this conclusion.  I think I understand this module with scp_if_ssh as though it would use scp.

Fo others who may come across this, my next options would be to:
* Continue to use shell command with local host to scp or seek
* Seek scp support in the get_url module (not likely even though it has fro support)
* Seek scp support for non network-cli devi

[2020-02-25 13:41] Saurabh-Thakre opened #67735 "Deprecation warning shows key and values in the output"
##### SUMMARY

While running the playbook with deprecation warning enabled, it is showing key and value defined in the playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 8.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should not show the key value in the deprecation warnings as we

[2020-02-25 13:47] js-max opened #67736 "Block with when always set facts"
##### SUMMARY
`set_fact` is being executed inside `block` even `when` conditional is `FALSE`.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
MacOS
Working with Python 3 venv

##### STEPS TO REPRODUCE
`set_fact` is being executed inside `block` even `when` conditional is false

[code]

##### EXPECTED RESULTS
`set_fact` inside `block` only should be executed if

[2020-02-25 13:54] kbreit commented on #67261
Also, I noticed `ios_interfaces` doesn't have a mode. Please let me know if I should change the subject and components of this one or create a new issue.

[2020-02-25 14:10] jbudev opened #67737 "module zypper - state: absent not work with extra_args "--clean-deps'"
##### SUMMARY

module zypper - state: absent not work with extra_args "--clean-deps'

Uninstall packages with clean all recommends does not work in ansible. Module "package" has no Options. Module "zypper" not support sub commnd options.

state: absend --> "zypper remove ..."
extra_args: '--clean-deps' --> "zypper remove --clean-deps"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module zy

[2020-02-25 14:16] #67706 closed, assigned to nobody

[2020-02-25 14:50] sivel commented on #67736
A `when` statement on a `block` does not prevent the tasks within the `block` from being evaluated.

A `when` statement on a `block` is effectively a shortcut for applying the `when` statement to each individual task.

When using a loop such as `with_items` with a `when` statement, the `when` statement applies to each iteration of the loop, and does not prevent the loop from occurring.

As such, y

[2020-02-25 14:50] #67736 closed, assigned to nobody

[2020-02-25 14:56] sivel commented on #67723
Roles do not inherit the value from `collections:`.  As such, you would need to use the FQCN of the role such as `debops.debops.secret`.  This was done purposefully, so that the role is not dependent on a playbook configuration to allow it to function.

You can use the `collections:` keyword in `meta/main.yml` of a role, to provide that role with hints where to find roles. But the role can not be

[2020-02-25 15:06] Derioss commented on #64016
Same issue with docker image debian:testing-slim (python2.7) and python:3.7.6-slim-buster.
Works on ansible 2.8.4 and 2.8.5
don't works on 2.8.6 +

This change seems to be the issue
We never get into the conditional block because of the `checksum`
[code]

[2020-02-25 15:09] js-max commented on #67736
Thanks

[2020-02-25 15:10] joaocc commented on #67473
Thx. I just checked with alpine 3.10 (which has python3.7) and time.clock seems to be there.
I will use this one instead then.
But I would also like to ask if there are any plans to get support under python 3.8 and 3.9, as 3.7 end of support seems to be 2020-06-27.
[code]

[2020-02-25 15:12] samdoran commented on #55758
!component =lib/ansible/modules/storage/zfs/zfs.py

[2020-02-25 15:13] samdoran commented on #67308
!component =lib/ansible/modules/windows/win_unzip.py

[2020-02-25 15:14] Akasurde commented on #67412
!component =lib/ansible/modules/network/eos/eos_l3_interfaces.py

[2020-02-25 15:16] drybjed commented on #67723
@sivel: interesting. So if I add to all of DebOps roles in `meta/main.yml`:
[code]
The roles in other DebOps collections that use the `secret` or `ansible_plugins` role will work fine? And this shouldn't impact the non-collection use when the roles are instead used via the monorepo?

I think that I can work with that, will have to test it to be sure.

[2020-02-25 15:20] samdoran commented on #67410
This is a race condition between two different hosts modifying the same shared file, which is asking for trouble. There isn't much we can do in code to fix this. You could add `ignore_errors` to tasks if you know that a race condition exists, or possibly use a combination of `block`, `rescue`, and/or `failed_when` to work around the race condition.

To discuss this further, please reach out on IRC

[2020-02-25 15:20] #67410 closed, assigned to nobody

[2020-02-25 15:22] sivel commented on #67723
@drybjed I would definitely test it, and not just rely on my comment. This is all relatively new, and there could be edge cases and such that have not been tested.

[2020-02-25 15:23] samdoran commented on #67415
Do you have a simple playbook that reproduces this or maybe a description of scenarios in which it happens? Is it possible there are multiple `ansible` processes running on the same host?

needs_info

[2020-02-25 15:23] Akasurde commented on #67524
!component =lib/ansible/modules/net_tools/netbox/netbox_interface.py

[2020-02-25 15:25] drybjed commented on #67723
OK, I'll try it out and let you know.

[2020-02-25 15:25] samdoran commented on #67417
cc @sivel

[2020-02-25 15:32] samdoran commented on #67467
This doesn't seem to be related to `loop` but rather an issue with passing a non-existent package name to the `yum` module. If it is not a valid package name, the module should report such, not act as if the package is already installed.

[2020-02-25 15:33] samdoran commented on #67473
!component =lib/ansible/modules/cloud/azure/

[2020-02-25 15:34] FragmentedPacket commented on #67524
@mahoutukaisali We have stopped supporting these and they have moved over into Ansible Collections: https://galaxy.ansible.com/netbox_community/ansible_modules

If you're still having the issue, please open an issue on the Github for that collection.

[2020-02-25 15:38] samdoran commented on #67474
This isn't really a bug as values from extra_vars are meant to be templated. Use `!unsafe` to indicate that the data should not be templated if it contains Jinja-like syntax.

https://github.com/ansible/ansible/issues/67474

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2020-02-25 15:38] #67474 closed, assigned to nobody

[2020-02-25 15:40] plaurin84 commented on #30130
Yep definitely needed!

[2020-02-25 15:54] samdoran commented on #67541
!component =lib/ansible/plugins/filter/ipaddr.py

[2020-02-25 15:59] samdoran commented on #67574
Closing since #67575 was merged, fixing this issue.

[2020-02-25 15:59] #67574 closed, assigned to nobody

[2020-02-25 16:16] jhb31 opened #67743 "vmware_guest_file_operation cannot copy file from host to VM"
##### SUMMARY
Hello, i'm trying to copy a file to a VM from Ansible host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_file_operation

##### ANSIBLE VERSION
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansi

[2020-02-25 16:52] #65763 closed, assigned to ganeshrn

[2020-02-25 16:57] drybjed commented on #67723
I tested adding the `collections` list to the role `meta/main.yml` and it looks like that did the trick. Role works from another role when installed via Ansible Collection, and I don't see any issues when it is being run as standalone. @Legogris, thanks for catching that bug, I'll add the keyword to my roles and try to push an update in a few days.

@sivel, I don't see anything about using the `co

[2020-02-25 17:13] sivel commented on #67723
I had believed someone was working on adding docs around that. I'll see if I can dig it up.

[2020-02-25 17:18] sivel commented on #67723
I believe that documentation has been handled in https://github.com/ansible/ansible/pull/66667

[2020-02-25 17:39] sivel commented on #67589
I cannot reproduce this behavior.

See the following output:

[code]

[2020-02-25 17:45] jooola commented on #67258
@bcoca Ok, then it is an edge case. I don't mind having the warnings.

Feel free to close.

[2020-02-25 18:08] johnboy2 commented on #67672
Note that my desire to add a multi-valued MX example is complicated by the fact that this module doesn't yet support MX record types. :-) So demonstrating "A" types will have to suffice for now.

[2020-02-25 18:13] dirtbag commented on #63234
I am having this same issue in ansible  ansible 2.9.3.

[2020-02-25 18:19] #67258 closed, assigned to nobody

[2020-02-25 18:52] jamesfreeman959 opened #67745 "Support for AWS DirectConnect Gateway association"
##### SUMMARY
Add a module or support in an existing module for the following kind of command:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module doesn't exist yet - I don't think it fits with any existing module.

##### ADDITIONAL INFORMATION

Performing a complete end-to-end DirectConnect setup so that you can route traffic between your VPC's and a DirectConnect connection can

[2020-02-25 18:52] jjshoe opened #67746 "ec2_key - force only forces if key material is provided"
##### SUMMARY
 Force only forces if key material is provided. If you let it create a private key for you, then try to create again with force: True, you'll get back a success, and a message about the key already existing

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_key.py#L192

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_key

##### STEPS TO REPROD

[2020-02-25 18:56] kbreit commented on #67397
@mikewiebe Were you able to test it on 9.3(3)?

[2020-02-25 19:01] jjshoe commented on #67746
looks as simple as dropping `key_material` from the if statement, but not sure if I'm missing a case here

[2020-02-25 19:04] sdodsley opened #67748 "Adding collections to roles playbook does not propagate to tasks YAMLs"
##### SUMMARY
When converting a role to use collections it appears that adding
[code]
does not propagate to the role task YAMLs.
Have to edit every task in all role YAMLs to call the long form of the collections module.
This is not helpful for migration of existing complex roles to use collections, as will be required going forward.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Collections

[2020-02-25 19:05] jjshoe commented on #67746
Rough pseudo:

[code]

[2020-02-25 19:13] sivel commented on #67748
This is expected, and has recently been documented in https://github.com/ansible/ansible/pull/66667

This was done purposefully, so that the role is not dependent on a playbook configuration to allow it to function.

You can use the `collections:` keyword in `meta/main.yml` of a role. But the role can not be impacted by the collections keyword.

If you have further questions please stop by IRC or

[2020-02-25 19:13] #67748 closed, assigned to nobody

[2020-02-25 19:16] mariolenz commented on #67663
Damn, I thought we could just [backport](https://docs.ansible.com/ansible/2.9/community/development_process.html#backporting-merged-prs) PR #62537. But it looks like you've found a new problem there. I think this needs some investigation :-(

[2020-02-25 19:44] Andersson007 commented on #65351
https://github.com/ansible/ansible/pull/67747 could anyone try to use this with ```dump_extra_args: --no-create-db```.
If it's ok, we can close the issue

[2020-02-25 20:12] flowerysong commented on #67746
The current behaviour is not a bug, it is the intended function of that parameter ("Force overwrite of already existing key pair if key has changed"). Changing how force works would be a very intrusive  backwards-incompatible change (force defaults to True) and could make a lot of people very unhappy.

Since you can get the result you want by calling the module with `state: absent` followed by `st

[2020-02-25 20:19] jjshoe commented on #67746
If you don't provide key material, then it's always changed, is my point.

[2020-02-25 20:21] jjshoe commented on #67746
Consider the following use case:

1. User creates a brand new key in ec2
2. User registers output
3. User templates out file to save pem
4. User templates out file to save pub, but due to unforseen error, ansible exits

How does the user then re-create the key? You want the user to code in support for idempotency in ansible, rather than have the module account for it?

[2020-02-25 20:33] flowerysong commented on #67746
If the user wants to remove the key because a later step failed then yes, that is their responsibility to handle. Recreating the key every time the playbook runs does not particularly help them and is the opposite of idempotence.

[2020-02-25 20:47] mikewiebe commented on #67397
@kbreit Yes I was able to test it on 9.3(3) and I don't see the issue.

Here is some partial output from my facts ansible log.

[code]

[2020-02-25 20:54] jjshoe commented on #67746
There's a bug here, no matter how you skin it.

A subsequent run of the first example does not return the proper structure. The only way to do that is to delete, then re-create.

If you don't provide the `key_material` arg, then the value of the current fingerprint can't possibly match the new fingerprint, and force should work exactly as it currently is described.

Optionally, the module should o

[2020-02-25 20:58] mikewiebe commented on #67397
Looking at your error message a bit closer it looks like you are failing because of this:

[code]

What version of `PyYAML` are you running?

`pip list | grep PyYAML`

The `FullLoader` class is only available in PyYAML 5.1 and later

[2020-02-25 21:03] #67672 closed, assigned to nobody

[2020-02-25 21:15] kbreit commented on #67397
`PyYAML                       5.3`

[2020-02-25 21:18] mikewiebe commented on #67397
That's odd.  If you drop into a python shell and do the following does it error for you or does it succeed?

[code]

[2020-02-25 21:19] kbreit commented on #67397
[code]

[2020-02-25 21:20] mikewiebe commented on #67397
Syntax was not quite right.  Needs to be

```yaml.load('', Loader = yaml.FullLoader)```

[2020-02-25 21:21] kbreit commented on #67397
Worked as expected.

[code]

[2020-02-25 21:22] mikewiebe commented on #67397
Ok, that is very strange.  That is the source of the error in the traceback you included above.

[2020-02-25 21:23] kbreit commented on #67397
Are you on IRC or Slack? We can do some live troubleshooting if you'd like.

[2020-02-25 21:34] fnkr commented on #65351
@Andersson007 `--no-create-db` does not fix this. The option suppresses the `CREATE DATABASE` statement, but it does not suppress the `USE` statement. Each of these statements causes the import to fail. `--databases` must not be used for single-database dumps, otherwise it will break if source and target database name differ.

This is the commit that introduced this bug: https://github.com/ansible

[2020-02-25 22:36] #67735 closed, assigned to nobody

[2020-02-25 22:46] mwhahaha opened #67755 "async_status default messaging is misleading"
##### SUMMARY
When using async_status to wait for jobs to finish with retries, the default messaging by ansible is misleading because it says "FAILED - RETRYING: [task name] (#### retries left)"

See also https://bugzilla.redhat.com/show_bug.cgi?id=1801470

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
default callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / E