[2017-08-21 13:35] matonb commented on #28433
@nrwahl2

sudoers...

I connect to the target machines as user ansible and become root
[code]

[2017-08-21 14:37] nrwahl2 commented on #28433
One last question from me: Is that the last line in /etc/sudoers? If not, could you try the playbook again after moving it to the bottom to ensure nothing is taking precedence over it? I doubt that would cause the behavior you're seeing it; however, I want to rule out as many procedural/system config issues as possible until someone smarter than I am can jump in and fix this :)

[2017-08-21 14:49] samrreynolds4 commented on #28296
Something pretty unusual happened when I disabled UAC and tried to become the user.
it gave me this massive module failure traceback:
[code]

And now every time I try to connect to the windows computer, it results in a 500 http error.

[code]
I've restarted both my computer and the windows computer and I still get the same result.
It seems like whatever it tried to do, it crashed the winrm listene

[2017-08-21 14:58] dagwieers commented on #28467
So are you running it locally using `connection: local` ?

Because I assume that the problem is related to running it locally in your current session (as I see Notepad++ running), and running it remotely in a different session. I bet it fails as well if you do `delegate_to: localhost` instead of `connection: local`.

[2017-08-21 15:02] pcahyna opened #28476 "Integration test for unarchive installs the zip package"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

integration test for unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4
##### SUMMARY

The integration test for unarchive (test/integration/targets/unarchive/tasks/main.yml) has
[code]
so it tries to install or update the zip package. The documentation for the integration tests (test/integration/READ

[2017-08-21 15:21] Akasurde commented on #28471
@tmarlok88 Are you interested in raising PR against 2.3 branch ?

[2017-08-21 15:42] trstringer commented on #25504
Thank you, @elaurijssens !!

[2017-08-21 15:45] samrreynolds4 opened #28478 "Win_copy results in failure if file already exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A default config

##### OS / ENVIRONMENT
**Control machine:**
Arch Linux release
LSB_VERSION=1.4
DISTRIB_ID=Arch
DISTRIB_RELEASE=rolling
DISTRIB_DESCRIPTION="Arch Linux"
NAME="Arch Linux"
PRETTY_NAME="Arch Linux"
ID=arch
ID_LIKE=archlinux
ANSI_COLOR="0;36"

**Node Computer**
WIndows

[2017-08-21 16:00] adrb commented on #28315
I updated and rechecked everything, and it seems that this issue is gone.

Sorry for wasting your time.

[2017-08-21 16:14] Alexander198961 commented on #27988
i will try to  solve this

[2017-08-21 16:22] coolcps opened #28479 "ios_command returns faulty output when first task in playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

IOS
##### SUMMARY

When a playbook begins with an ios_command, it receives incorrect output (terminal length 0).  I suspect the same issue happens with ios_facts, which ends up making a fact be missing.  This is remedied by running a ios_config in the playb

[2017-08-21 16:29] coolcps commented on #28415
Digging some more on this one, just throwing print statements in the module to try to see what is going on.

[code]
I opened #28479, as this stems from that issue it looks like (when ios_command is run first thing in a playbook it returns "terminal length 0").  That issue affects all systems I've tried, regardless of  any latency.  My current workaround is to run a dummy ios_config command first t

[2017-08-21 16:31] jhawkesworth commented on #28467
Looking at your python code it seems to be making the assumption that there is a windows interactive session available, but this is not the case when you connect via Winrm.
What are you trying to achieve - there might be a way to do it in powershell?

[2017-08-21 16:40] bcoca commented on #28315
closing as per above

[2017-08-21 16:40] #28315 closed, assigned to nobody

[2017-08-21 16:42] jhawkesworth commented on #28478
win_copy has just had a big overhaul, please can you make sure you are using very latest devel and try again (and also make sure you aren't picking up an older version of the module from your custom module path)?

If the limitation is still there its unlikely to be something I would have noticed as I like my playbooks to be explicit about the files they are managing.

By the way if user.name conta

[2017-08-21 16:44] jameslabocki opened #28480 "tower_group.py not accepting file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_group.py (tower group module)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
When executing the tower_group module like so:

[code]
The following error is thrown about using @file with variables.

[code]

##### STEPS TO REPRODUCE
See above

[2017-08-21 17:15] wildefires opened #28481 "Ansible's `yum` module should support checksum checking when `name` points to a url"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
yum

##### OS / ENVIRONMENT

CentOS/RHEL Linux

##### SUMMARY
Currently the `yum` module has no functionality for handling checksums (according to https://docs.ansible.com/ansible/latest/yum_module.html). Thus, if you want to check that a downloaded RPM has the expected checksum you need to break it into a `get_url` and then a `yum` to instal

[2017-08-21 17:43] wwitzel3 commented on #28480
@jameslabocki  If you try to wrap the variables value in quotes, does it work? `variables: "@tower-group-extravars.yaml"`  Looks like the YAML parser doesn't like that `@` character.

[2017-08-21 17:47] matonb commented on #28433
It's not a ordering issue in sudoers, it something in our inventory (I used a fresh Ansible inventory and the `whoami` test which worked as expected).
No idea what yet, but when I find it I'll post what is causing this strange behavior....

[2017-08-21 17:57] #20319 closed, assigned to trondhindenes

[2017-08-21 17:57] #28198 closed, assigned to nobody

[2017-08-21 18:02] bcoca commented on #28405
fixed in cd22f67

[2017-08-21 18:02] #28405 closed, assigned to nobody

[2017-08-21 18:06] bcoca commented on #28408
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is on purpose, as you are allowed to use the vars_prompt to set  a variable used in `hosts:`, for example:

[code]
In the future,

[2017-08-21 18:06] #28408 closed, assigned to nobody

[2017-08-21 18:06] ThomasADavis commented on #23103
I just ran into this problem... and noted that the lldpcli command is using keyvalue output.

Newer versions of lldpcli now support json output.

Is there interest in changing the lldp module to have a keyword, ie 'format', and when it's json, just use the json as-is?  This would solve the collision issue..

[2017-08-21 18:23] bcoca commented on #28406
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-21 18:23] #28406 closed, assigned to nobody

[2017-08-21 18:29] bcoca commented on #28451
the attributes ARE there, they are just not set, they should be set to the play that triggers it.

[2017-08-21 18:31] pcahyna commented on #28405
I know it is fixed there, but could it be backported to the 2.3 stable branch? I can prepare a PR.

[2017-08-21 18:33] bcoca commented on #28455
@nrwahl2 this is a different issue, the `failed_when` affects task status, but does not update the registered var.

[2017-08-21 18:41] bcoca commented on #28427
Ansible uses pyyaml and we depend on it for correct YAML parsing.

From the spec itself, the space after the `-` can be considered the indentation, so the format followd by pyyaml is correct http://yaml.org/spec/1.2/2009-07-21/spec.html#id2596407

So this is not a bug.

[2017-08-21 18:41] #28427 closed, assigned to nobody

[2017-08-21 19:28] #28412 closed, assigned to nobody

[2017-08-21 19:32] anarcat opened #28482 "broken link in developing_modules.rst"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY

The small Q/A to determine if it's worth writing a module leads to a broken link, in the line: "Check out the roles documentation [available here](http://docs.ansible

[2017-08-21 19:48] gundalow commented on #26146
Theodor van Nahl are you seeing the same issue?

[2017-08-22 00:25] davidkretch opened #28487 "pamd fails when inserting a new rule at the end of a file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

Also affects 2.4:
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

In the pamd module, when you try to insert a new rule after the last rule in a file, it crashes with a list index error.

##### STEPS TO REPRODUCE

[code]

Given the following /etc/pam.d/common-session (the U

[2017-08-22 00:43] svanschalkwyk opened #28489 "gcp_healthcheck: healthy_threshhold,unhealthy_threshhold thows error."
- Bug Report

##### COMPONENT NAME
gcp_healthcheck

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
4.4.0-62-generic
Ubuntu 16.10

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
healthcheck would be created
##### ACTUAL RESULTS

[code]

[2017-08-22 00:57] nrwahl2 commented on #28479
Any idea where this is coming from?
[code]

[2017-08-22 01:26] yangliang003 commented on #28467
Yes，it failed too as you said，any idea about how could I to solve the session problem? @dagwieers  Thanks for your reply
@jhawkesworth  I want to run the pywinauto to modify the Radmin's password in the remote windows.How could I solve the session problem?Thanks

[2017-08-22 01:29] dagwieers commented on #28467
@yangliang003 You may want to look into **win_psexec**,  not sure if this will work, but earlier feedback seemed to indicate it can be used for this particular purpose.

[2017-08-22 01:32] coolcps commented on #28479
Pasted in a different output than my input :)  I was trying a few different commands to see if there was any difference (there isn't).  I changed the command in the original post to reflect what the input actually was.

[2017-08-22 02:55] wangxuan9237 opened #28490 "use ansible script module run script which contains "exit -1" faild"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

use default ansible config
##### OS / ENVIRONMENT

client os suse11sp2 host os suse12sp1
##### SUMMARY

use ansible script module run script which contains exit -1 faild. ansible tells openssh fail
fail message
Failed to connect to the host via ssh: OpenSSH_6.6.1, OpenSSL 1.0.1i-fips 6

[2017-08-22 03:06] nrwahl2 commented on #28490
Can you please post your expected results and actual results explicitly?

[2017-08-22 03:09] nrwahl2 commented on #27988
I've verified that at least as far back as SLES 10 SP 2 has `--root`, FWIW.

[code]

[2017-08-22 03:31] rahushen opened #28493 "(P1) nxos_ntp_options: module fails when stratum not provided in play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_ntp_options

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Documentation says that stratum is optional and has a default value of '8', however applying a play with no 'stratum' leads to a failure.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected stratum to get default value.

####

[2017-08-22 03:38] nrwahl2 commented on #28481
This might be a candidate for a new module instead of a `yum` feature addition if we elect to add it at all. Some things to keep in mind if we were to add to the existing yum module:

- Interrupt installation to verify checksum before proceeding. This could be done by downloading first with `yumdownloader` (or perhaps `yum install --downloadonly --downloaddir=<dir>` to maintain a semblance of unit

[2017-08-22 03:49] Alexander198961 commented on #27988
ok thank you @nrwahl2

[2017-08-22 03:59] rahushen opened #28494 "(P2) nxos_ntp_auth: removing text ntp authentication is idempotent for cli but not nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_ntp_auth

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Removing text ntp authentication is idempotent for CLI, but fails for NX-API

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Consistent behavior across both transports.

##### ACTUAL RESULTS

[code]

[2017-08-22 04:46] jhawkesworth commented on #27206
Now that #27678 has now been merged, I tested my reproducer (above) and it now does the right thing against w10, s2012r2, s2016 - the folder structure is reproduced in 'test-to'

I also tested this example from above against w10, s2012r2, s2016 and it does the right thing:
[code]

Final output:
[code]
@trondhindenes - I think your original issue is now fixed.
@sm4rk0 - I think at least 1 of your i

[2017-08-22 05:24] jhawkesworth commented on #27556
@AleksNovak It really feels like it has to be a problem with the windows server itself.
I am not sure if python 3.x is fully working with ansible's windows support at the moment, but perhaps try a different 2.x version if you can.
The only other thing I can think of is perhaps there is an SPN configured in active directory for the WS2012 machine.  I have heard of users having problems connecting w

[2017-08-22 06:01] Akasurde commented on #28482
Link should point to http://docs.ansible.com/ansible/latest/playbooks_roles.html#roles Instead of http://docs.ansible.com/ansible/latest/playbooks_reuse_roles.html#roles

I am not sure about the warning though.

[2017-08-22 06:46] matonb commented on #28433
`ansible_become_user: 'root'`

Was in one of the group_vars files which appears to have been causing the problem.

This is surely a bug?, if a role specifically sets become_user why is it overridden by a group_var value?

[2017-08-22 06:56] yangliang003 commented on #28467
@dagwieers  I had tried using win_psexec,got "python exit with error code 1'. I have been interrupted and turn to other thing.I would find more info and relpy asap.Thanks agin
@jhawkesworth  I had tried using poweshell to new a ps-session and run the python code,it did not work.

**use psexec run, playbook:**
[root@localhost windows]# cat test2.yml
[code]
run reslut:
![image](https://user-images.g

[2017-08-22 07:00] apenen opened #28497 "Tower inventory variable encrypted strings don't save."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible-Tower 3.1.3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY
Inventory vaulted variables failed to parse.

##### STEPS TO REPRODUCE
'ansible-vault encrypt_string' result pasted on tower inventory variables throw error:

Failed to parse variables.

[2017-08-22 07:15] karniemi opened #28498 "vmware_guest: "shutdownguest" does not guarantee state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.3

##### SUMMARY

vmware_guest: "shutdownguest" does not guarantee state. We had two tasks in  a playbook:
1) vmware_guest: (state=shutdownguest)
2) vmware_guest_snapshot: (state=absent)

task 2 failed sometimes for "The operation is not allowed in

[2017-08-22 07:20] mihai-satmarean opened #28499 "passing a folder as an inventory sometimes fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
regular

##### OS / ENVIRONMENT

Linux 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.1.1503 (Core)

##### SUMMARY
We create one file per host in the inventory folder

On some occasions when passed as a folder with little

[2017-08-22 07:32] mihai-satmarean commented on #28499
small update, after adding the host name into a group, regardless of the group name, the

`ansible all -i inventory/ --list-hosts -l lin164`
returns hosts (1)

[2017-08-22 07:43] tmarlok88 commented on #28471
I just checked out the devel branch and it looks like this issue is already fixed there

[2017-08-22 07:43] #28471 closed, assigned to nobody

[2017-08-22 07:50] nrwahl2 commented on #28433
tl;dr: Not a bug, but counter-intuitive.

From what I can tell, this behavior is not explicitly documented for privilege escalation. The closest thing I can find in the Privilege Escalation doc is this:
[code]
(http://docs.ansible.com/ansible/latest/become.html#only-one-method-may-be-enabled-per-host)

But that's not really what we're dealing with here, is it? Further, the Variables doc suggests e

[2017-08-22 07:58] matonb commented on #28433
@nrwahl2

Thanks for persisting with this, your comments have been very helpful.

----

Indeed, not very intuitive at all.... But a lesson learnt.

Thanks again for your help.

[2017-08-22 08:17] nrwahl2 commented on #28499
I'm using Ansible v2.3.1.0 and unable to reproduce your issue. Can you list/cat out your directories and files like I've done? At least an excerpt. It might also be helpful if you can provide the exact output of `ansible all -vvvv -i inventory/ --list-hosts -l lin164` if you can get it to fail again.

Please note that my hosts are not members of any group, and they work fine.

Unless this was a pa

[2017-08-22 08:28] Akasurde commented on #28471
resolved_by_pr #28500

[2017-08-22 08:41] mihai-satmarean commented on #28499
Hi,

thank you for the time,  this system is productive, I would not be able to paste all info here,

`
ls inventory/ | wc -l
590

 ansible all -i inventory/ --list-hosts -l lin164  -vvvv
Using /etc/ansible/ansible.cfg as config file
ERROR! Specified --limit does not match any hosts
`

all the commands you gave above produce the similar result on our setup.

Not sure if I could try updating ....

[2017-08-22 09:04] mihai-satmarean commented on #28499
updating to
`
ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Jun 17 2014, 18:11:42) [GCC 4.8.2 20140120 (Red Hat 4.8.2-16)]
`

did not changed anything

[2017-08-22 09:26] const-bon commented on #17969
+1
Workaround. I'm using empty file as `/path/to/inventory`

[2017-08-22 09:47] Amruthapv opened #28502 "How start about writing a vmware module ."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
VMware module for mapping the VM created using vmware_guest ,to the volume created on NetApp filer/cluster.

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules/']
  python version = 2.7.6 (default, Oct 26 2016, 20:30:19) [GCC 4.8.4]

##### OS / ENVIRONMENT

[2017-08-22 11:00] nre-ableton commented on #28463
@Akasurde What should the user do if no folder is needed? Specifying an empty string or `/` will both throw the error `No folder matched the path: `. Using the same value as the datacenter throws the error `No folder matched the path: /MyDatacenterName`.

We don't use folders in my company, but I even had our administrators create me one just so I could work around this behavior. Sadly, it didn't

[2017-08-22 11:24] ganeshrn opened #28505 "junos_netconf integration test fails to run succesfully"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_netconf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Fails because of changes in PR 23876

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-22 11:25] #28505 closed, assigned to nobody

[2017-08-22 11:42] Akasurde commented on #28502
@Amruthapv Thanks for proposing a feature idea for VMware module.

First of all take a look at existing VMware modules [here](https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/cloud/vmware/) how these modules use [Pyvmomi](https://github.com/vmware/pyvmomi/) library to talk to VMware infrastructure. You can follow documentation for developing new module which can be found [here](ht

[2017-08-22 12:02] Akasurde commented on #28463
I agree that folder is an optional parameter but then there is no "magic" method to find a virtual machine which can find the unique vm. Also, create and clone operation requires folder value internally.

@abhinav-chittora Could you please paste output of [govc find /](https://github.com/vmware/govmomi/tree/master/govc/)? also, can you try `vmware_guest_find` module to find out folder of virtual m

[2017-08-22 12:05] liyaka commented on #28213
@bcoca The group_vars is in the playbook root together with inventory file.
I succeeded to run the same playbook without any problem on another Ubuntu machine.
probably some local installation problems

[2017-08-22 12:05] #28213 closed, assigned to nobody

[2017-08-22 12:33] nre-ableton commented on #28463
@Akasurde My view is pretty simple: the `folder` parameter should be optional, in the sense that if it is not specified, then the module still works. That is currently not the case. 😉

[2017-08-22 12:35] iredmail opened #28507 "haproxy module: Ansible should get backends which has specified host first"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
haproxy module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.12.6

##### SUMMARY

Code used to put a haproxy node to offline:

[code]

##### EXPECTED RESULTS

Ansible should send command `show servers state` to haproxy socket to get a list of backends which has the given host, then put `<backend>/<host>` to offline.

##### ACTUA

[2017-08-22 13:13] jborean93 commented on #28467
Become runs with an interactive logon so may work in this case. One caveat of become is that it runs in a non administrator token so any tasks that require administrator privileges need some changes on the remote server. I need to create some documentation for it as it is fairly new but you can probably try it out and see what happens.

[2017-08-22 13:29] ayubmalik opened #28508 "AWS was not able to validate the provided access credentials"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
I have exported environment variables as documented in module docs.
[code]
##### OS / ENVIRONMENT
Redhat 7.4.2 VM running on Ubuntu 16.04. I am running ZSH

##### SUMMARY
I am running the ec2_vpc_net module in my ansible role. If I set the aws_access_key and aws_secret_key params in the pla

[2017-08-22 13:30] SergeVL commented on #27960
Just do container recreation in ContainerManager.present  if  parameter recreate=True

[code]
Then

  docker_container:
    name: nzbget
    state: stopped
    recreate: no

[2017-08-22 13:31] ayubmalik commented on #28508
Fix ubuntu version

[2017-08-22 13:32] bcoca commented on #28497
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

This issue tracker is for the open source Ansible CLI tools project.

[2017-08-22 13:32] #28497 closed, assigned to nobody

[2017-08-22 14:06] ayubmalik commented on #28508
This was due to the time in the Redhat VM being out of sync :(

[2017-08-22 14:06] #28508 closed, assigned to nobody

[2017-08-22 14:54] mbach04 commented on #10631
Is this a feature in 2.3?

[2017-08-22 15:11] #22471 closed, assigned to nobody

[2017-08-22 15:13] Rustem commented on #26647
+1

[2017-08-22 15:49] zigarn opened #28514 "filesystem - Idempotence broken with XFS and `resizefs`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Module filesystem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

RHEL7

##### SUMMARY

In the [filesystem](http://docs.ansible.com/ansible/latest/filesystem_module.html) module, `resizefs` is documented with a note:

But there is another bad effect: if the FS is not mounted, calling the module twice will fail

[2017-08-22 15:58] mmulqueen commented on #25481
For anyone else arriving here via Google: The easiest fix for me was to force it to be a string in the YAML file.

So I changed:

    value: true
    vtype: boolean

To:

    value: "true"
    vtype: boolean

[2017-08-22 16:11] juanarbol commented on #19605
You can also disable the _Gathering Facts_, put this in your book

[code]

[2017-08-22 16:16] garbled1 commented on #28312
Here is an example of what I am using in 2.3: My indentation is different than yours..

[code]

[2017-08-22 16:36] rahushen opened #28516 "(P1) nxos_igmp_interface: module errors out for cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Module errors with traceback for `cli`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected module to not error out

##### ACTUAL RESULTS

module errors out with tracebacks

[code]

[2017-08-22 16:43] sayantandas commented on #28312
@garbled1 thank you. that is very helpful. my issue is resolved

[2017-08-22 16:43] #28312 closed, assigned to nobody

[2017-08-22 16:44] sayantandas commented on #27939
i found that i have to stop the vm and set the vm state to **present** for changing the vm's configuration. other states do not change the configs

[2017-08-22 16:44] #27939 closed, assigned to nobody

[2017-08-22 16:58] nleof opened #28517 "proxmox_kvm: cloning a vm should return new vmid"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`modules/cloud/misc/proxmox_kvm.py`

##### ANSIBLE VERSION
[code]

##### SUMMARY
When cloning a vm, proxmox_kvm should return new vmid

##### EXPECTED RESULTS

[code]

Like that:

[code]

##### ACTUAL RESULTS
Now, we have:
[code]

##### Quick fix

At https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/proxmox_kvm.py#L1

[2017-08-22 17:29] dsuth1 commented on #22905
Same issue

[2017-08-22 17:35] sharkvan commented on #14248
+1

[2017-08-22 17:43] vandrijevik opened #28518 "Service module fails to reload cron on Ubuntu 16.04"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`service` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Ansible from macOS 10.12.6 (16G29), managing Ubuntu 16.04.3 LTS

##### SUMMARY
Running `ansible all -i production -m service -a 'name=cron state=reloaded' --become` fails, but running `sudo service cron reload` on the managed host works.

#

[2017-08-22 17:52] pcahyna opened #28519 "release tarball is missing one file in test/integration/targets/unarchive/files/"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

release process
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4
##### SUMMARY

Ansible sources contain the file `test/integration/targets/unarchive/files/test-unarchive-nonascii-くらとみ.tar.gz`. It is not present in the source tarball from http://releases.ansible.com/ansible/ , causing the integration test for

[2017-08-22 18:02] #28285 closed, assigned to Qalthos

[2017-08-22 18:02] #24130 closed, assigned to Qalthos

[2017-08-22 18:03] pcahyna commented on #28476
PR #28520

[2017-08-22 18:26] dagwieers commented on #28312
Yeah, so there was a YAML syntax error in the second entry since a colon followed by a space is considered a dictionary item (key: value). ~That said, I would have expected Ansible to complain with a proper error.~ Ansible cannot know what the intended value ought to be.

Please read up on YAML if you plan to use Ansible, it's very important you understand its rules.

[2017-08-22 18:30] UnitedMarsupials-zz commented on #17136
FWIW, here is what I'm doing -- relying on `find(1)` and `with_lines` instead of on `with_fileglob`:
[code]
Maybe, it will help others until this problem is fixed.

[2017-08-22 19:04] Qalthos commented on #26162
interface mtu needs to be put into nxos_interface, documentation on nxos_mtu should be clarified to show where to go

[2017-08-22 19:12] bcoca commented on #28490
@wangxuan9237 soo, the normal 'failed' condition for a script is a 'non 0' return, so exit -1 would be expected to be a failed task. You can control this with `failed_when`.

[2017-08-22 19:21] jborean93 commented on #28478
@samrreynolds4 I've just tested it with this playbook with the latest devel and I'm not getting any errors.

Playbook
[code]

Output
[code]

As @jhawkesworth has suggested are you able to try it with the latest devel and see if you are still getting the error.

[2017-08-22 19:59] #27247 closed, assigned to nobody

[2017-08-22 20:03] bcoca commented on #27699
related #20243 #20128

[2017-08-22 20:15] trishnaguha commented on #27403
@mikewiebe can you try adding `command_timeout` under flag `persistent_connection` in your ansible.cfg?
It should look like:
[code]

[2017-08-22 20:33] svanschalkwyk opened #28527 "GCE Loadbalancer blocking selected port. Firewall has port open."
- Bug Report
##### COMPONENT NAME
gce_lb
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
Ubuntu 16.10
4.4.0-62-generic

##### SUMMARY
Create LB, correct port name:
[code]
##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
Expected to receive lb response.
##### ACTUAL RESULTS
[code]
curl: (7) Failed to connect to 35.202.82.112 port 8080: Connection refused
HOWEVER! tcpd

[2017-08-22 20:35] bcoca commented on #28519
cc @jimi-c, @mattclay

[2017-08-22 20:35] #27450 closed, assigned to nobody

[2017-08-22 20:39] bcoca commented on #28518
So the system seems to be running systemd and it is not allowing for cron reloading, yet you are restarting it using upstart/sysv init.   Can you confirm this is the case?

[2017-08-22 20:45] dprittie opened #28529 "service reload handlers restart when service state is stopped"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
running from: CentOS Linux release 7.2.1511 (Core)
managing: CentOS Linux release 7.3.1611 (Core) & CentOS 6.9 (Final)

##### SUMMARY
When attempting to reload a service that is stopped ansible starts the service.

##### STEPS TO REPRODUCE
[code]

##### EXP

[2017-08-22 20:48] sivel commented on #28518
Looking at the `service` command on Ubuntu 16.04 shows the following behavior:

[code]

Looking at the output of systemctl:

[code]

That means that it should run the sysvinit script for cron.  Looking at the sysvinit script for cron on ubuntu 16.04 shows:

[code]

So the init script is actually doing nothing for reload, other than printing the log message that states:

[code]

As such, there is n

[2017-08-22 20:48] #28518 closed, assigned to nobody

[2017-08-22 21:17] mattclay commented on #28519
cc @abadger

[2017-08-22 21:24] svanschalkwyk commented on #28527
Not an Ansible problem.
Apparently a race condition with GCE LB.

[2017-08-22 21:24] #28527 closed, assigned to nobody

[2017-08-22 21:24] sebitoelcheater commented on #11742
I have ansible 2.3.1.0 and this isn't working:
`
vars_files:
`
`
    - "{{PROJECT_PATH}}/.drim/credentials.yml"
`
any news?

[2017-08-22 21:35] bdmyxgh opened #28534 "Virtual Network and Subnet from another Resource Group are not supported in `azure_rm_networkinterface` resource provider"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`azure_rm_networkinterface`

##### ANSIBLE VERSION
[code]

##### SUMMARY
Seems like specifying a Virtual Network from another Resource Group is not supported? Azure supports that case, but Ansible does not seem to..

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Virtual interface should be created with a subnet from another RG virtual

[2017-08-22 22:14] nrwahl2 commented on #28366
@leontp587 Could you please review PR #28459 and see if it meets your needs?

[2017-08-22 22:15] nrwahl2 commented on #28325
@SpamapS could you please review #28449 and see if it meets your needs?

[2017-08-22 22:59] dagwieers commented on #28194
@brokenjacobs Good to know, have you looked at the implementation ?

[2017-08-22 23:05] dagwieers opened #28539 "xml module: Receiving error adding a node, "does not reference a node""
_From @dylanjw on April 4, 2016 18:47_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
Following the the README.md example:

My ansible task:

[code]

Target XML:

[code]

Expected modified XML:

[code]

Actual results:

[code]

_Copied from original issue: cmprescott/ansible-xml#55_

[2017-08-22 23:05] dagwieers commented on #28539
_From @mss on May 31, 2016 10:57_

I've got a similar issue here, maybe it is cause by the nodes having attributes and the quoted `mkdir -p` like behaviour works for simple trees only?

A stripped down example:

Task:

[code]

Vars:

[code]

XML:

[code]

Result:

[code]

[2017-08-22 23:05] dagwieers commented on #28539
_From @dreamcat4 on July 29, 2016 19:22_

+1

[2017-08-22 23:05] dagwieers commented on #28539
_From @rasputnik on January 30, 2017 16:30_

yeah, this is pretty fundamental. barely any of the examples work anymore.

[2017-08-22 23:05] dagwieers commented on #28539
_From @rasputnik on January 31, 2017 9:48_

Actually I'm starting to wonder if this is related to ansible version.

I'm on 2.2.0.0, and I could've sworn this worked back last summer when we were still on 1.9.x.

[2017-08-22 23:05] dagwieers commented on #28539
_From @rasputnik on January 31, 2017 16:58_

AH, hang on.

Very few of the tests passed until I manually updated python-lxml to > 2.3 , which to be fair is referenced in the readme. EL6 has an old lxml library so expect some issues until you do this.

Also my xml is rusty enough that I had missed the requirement to use namespaces correctly,
which was causing my xpath to miss nodes.

[2017-08-22 23:05] dagwieers commented on #28539
_From @pigulla on February 3, 2017 9:13_

I'm seeing the same issue.

[code]

[2017-08-22 23:05] dagwieers commented on #28539
_From @sgudaval on February 20, 2017 6:16_

Any update on this issue? I am seeing the exact does not reference a node! error when using /@value in my XPath expressions as well.

[2017-08-22 23:05] dagwieers commented on #28539
_From @avatar4d on April 8, 2017 3:39_

+1

[2017-08-22 23:05] dagwieers commented on #28539
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-23 00:50] yangliang003 commented on #28467
@jborean93  I would try and post the result asap.Thanks

[2017-08-23 02:16] nrwahl2 opened #28540 "test/integration: inventory file contains incorrect value for ansible_host for facthost[0:20]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
test/integration

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
/etc/ansible/ansible.cfg (defaults)

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible/test/integration/inventory file contains incorrect value for ansible_host for facthost[0:20]. IP is set to 1270.0.0.1 instead of 127.0.0.1.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-08-23 02:48] nrwahl2 opened #28542 "test/integration/targets/gathering_facts: Some assert tests incorrect in test_gathering_facts.yaml"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
test/integration/targets/gathering_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
test/integration/targets/gathering_facts: Some assert tests incorrect in test_gathering_facts.yaml

Specifically, some defaults in do not match the comparison value. See below.

##### STEPS TO REPRODUCE

[2017-08-23 03:09] nrwahl2 commented on #28529
This is not a bug. This behavior is documented and changing it would likely break plenty of existing code.

`Note that reloaded will start the service if it is not already started, even if your chosen init system wouldn't normally.` - (https://docs.ansible.com/ansible/latest/service_module.html)

[2017-08-23 03:24] mattclay commented on #28476
As noted on #28520, integration tests should be installing their dependencies as needed. Marking tests as destructive simply because they install packages may result in so many of our tests becoming destructive that the distinction will lose much of its value.

[2017-08-23 04:06] nrwahl2 commented on #28194
@dagwieers

`pretty_print` appears actuallly to prevent the module from ensuring the xpath exists. It runs the `pretty` function, which doesn't ensure the xpath exists, and then exits.

With my limited `xpath` knowledge, it looks to me like the `pretty_print` option will **strictly** prettify the document and then exit.

[code]

[code]

And `doc` that's being passed to `pretty()` is just the parse

[2017-08-23 04:12] mattclay commented on #28476
Discussion of what should qualify as destructive is now on the Testing Working Group agenda here:

https://github.com/ansible/community/issues/114#issuecomment-324214076

[2017-08-23 04:15] sunilnaths commented on #28210
i have same issue any help

[2017-08-23 04:20] Amruthapv commented on #28502
@Akasurde  thanks for the info. Could you please give me the correct link  for the IRC channel. "irc.freenode.net" doesn't seem to work.

[2017-08-23 04:35] Akasurde commented on #28502
@Amruthapv Try this http://webchat.freenode.net/

[2017-08-23 05:10] Amruthapv commented on #28502
thank you @Akasurde

[2017-08-23 06:21] basictheprogram commented on #28421
Works as expected on my test lab.

[2017-08-23 06:26] yangliang003 commented on #28467
@dagwieers @jborean93 The win_psexec really works. I used it to modify the radmin's password successfully.But it still solves half of the problem.Because it requires three arguments:username,password and hostnames,and I'm
using the certificate to authenticate.The psexec cannot pass the certificate to authenticate?Thanks again
**The playbook as this:**
![psexec_play](https://user-images.githubuserc

[2017-08-23 06:36] skg-net commented on #24632
@nbaliba sorry for the delay. Thanks for reporting the issue, we will check and get back.

[2017-08-23 06:47] minusdavid commented on #27991
@robinro I'm not sure that I follow what you're saying. In my case, I'd like to avoid both --single-branch and --depth. I just want to use --branch so that my initial clone will be checked out to the specified branch. I'm happy to have the complete history cloned at the same time.

However, in my latest look at the code, the only way to invoke --branch is to use --depth, which seems to be a regres

[2017-08-23 07:08] merlin-tc commented on #23695
Removing the --puppet flag from facter does **NOT** fix the problem. It silences the error but the output of facter is not used by ansible.

[2017-08-23 07:08] robinro commented on #27991
If you are fine with cloning the full history, then why do you need `--branch`?
The code at the moment essentially does `git clone URL; git checkout BRANCH`. You instead want `git clone --branch BRANCH URL`. The only advantage of the latter is the change in output of `git branch`, other than that the result is identical. I don't consider this change a relevant improvement, since it does not improv

[2017-08-23 07:12] LaurentDumont opened #28545 "Module - proxmox_kvm - Creating several KVM quickly causes an error."
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
Running the proxmox_kvm module with ```with_dict``` outputs an error. failed:

`[localhost] (item={'key': u'grafana', 'value': {u'vm_name': u'grafana', u'proxmox_node_ip': u'10.0.99.52', u'disk_size': 20, u'memory': 8192, u'proxmox_node': u'proxmox-2', u'vm_ip_address': u'10

[2017-08-23 07:48] minusdavid commented on #27991
In theory, it's true that you wind up with functionally the same result, except for that extra branch in the output of "git branch".

I admit that mine is an edgecase. The problem I'm facing is that the third-party application I'm using does a git clone on a Virtualbox share folder with Windows as a host and Linux as the guest. The HEAD branch on the upstream repository contains symlinks which cau

[2017-08-23 07:54] minusdavid commented on #27991
I didn't detail my actual use case in the original post as it's quite exceptional and difficult to reproduce.

[2017-08-23 08:02] plamer commented on #27699
As far as I can see there is a related issue from 1.5 that got fixed: #6567 At the moment if the /tmp has noexec you can't use git without some modifications.

[2017-08-23 08:04] nre-ableton commented on #28463
@Akasurde So I spent a bit of time looking at `vmware_guest.py` and came up with a branch, which you can diff against `devel` here: https://github.com/ansible/ansible/compare/devel...nre-ableton:nre_devel_folder-default-none?expand=1 . With that patch, my Ansible playbooks work again for cloning, not only when a `folder` is given, but also when the `folder` option is not present.

Since I am not t

[2017-08-23 08:22] vandrijevik commented on #28518
Thanks for tracking that down! I’ll just remove my handler then.

This is confusing to me, because I would expect Ansible’s `service` module to behave like the `service` command on the managed OS, and there is a discrepancy in this case (an error vs. a successful run). However, since the problem is solved, perhaps this is a non-issue.

[2017-08-23 09:43] yangliang003 commented on #28467
I found the easiest way to achieve my goal is used the scheduled task to run the pywinauto code,it works.
And the command is simple as this(the rapwd is the scheduled task I created in the remote windows):
ansible hostname -m raw -a 'schtasks /run /tn rapwd'

And finally,thanks all,you really saves me lots of time and give the right direction to solve it

[2017-08-23 10:06] rhpvorderman opened #28551 "Synchronize does not template ansible_remote_user or ansible_ssh_user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Synchronize

##### ANSIBLE VERSION
ansible 2.3.2.0
ansible 2.3.0.0
(tested both)

##### CONFIGURATION
ansible_ssh_pipelining both set to true and false does not matter.

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Connecting to the remote machine as `another_user` and transferr

[2017-08-23 10:14] Galser commented on #23692
Same problem here
ansible 2.3.2.0,
python version = 2.7.10 (default, Oct 23 2015, 19:19:21) [GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.5)]

I have a beautiful top structure (ad recommended in official manual)  :
...
_dev ( environment inventory )
group_vars -> all.yml
host_vars
library
..
playbooks
prod
roles_
....
Where in group_vars/all.yml   I have , for example,  variable  :
**clie

[2017-08-23 10:50] gundalow opened #28553 "Docs: Stop hardcoding version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
[code]

##### SUMMARY

As part of versioned documentation (https://github.com/ansible/proposals/issues/60)

* https://github.com/ansible/ansible/blob/devel/docs/docsite/_themes/srtd/layout.html#L163 needs to have the version in (rather than hard coded)
* "Copyright © 2017 Red Hat, Inc. Last updated on Aug 16, 2017." s

[2017-08-23 11:11] ghost commented on #24891
I wonder how `with_items:` is currently implemented (can't easily find it... still looking...) my guess is that it'll fully parse the list, then starts working through "it", running out of memory (or just using excessivley much) when it could / would be more efficient (memory wise) to work off a `with_items` list the way a generator would ? memory footprint should be just that of 1 include (or how

[2017-08-23 11:47] JoshuaSeidel opened #28554 "ecs_task module support listing running tasks"
- Feature Idea
##### COMPONENT NAME
ansible-modules-extras/cloud/amazon/ecs_task

##### ANSIBLE VERSION
2.3.0

##### OS / ENVIRONMENT
N/A

##### SUMMARY
module should support the list function
aws ecs list-tasks --cluster default

this will enable us to gather current running tasks in a cluster and then act upon them.

looks like the framework is already there to list the tasks, just need a option

[2017-08-23 12:19] tgagor commented on #27960
Hi guys,

I have exactly same problem. I used to run rolling restart/upgrade of my elasticsearch cluster and it now dies on simple container stop.

Code:

[code]

Result:
[code]

I'm installing back Ansible 2.3.1.0 for now.

[2017-08-23 12:46] #26129 closed, assigned to nobody

[2017-08-23 12:53] dprittie commented on #28529
so given that behaviour the handler pattern can break idempotency if you allow users to set state for a service with a variable.

the only workaround I can think of is to check the state variable for any task that has a related handler and not run that task if the state is set to stopped. this seems pretty dirty. I don't think ansible should be changing the behaviour of the underly system it is in

[2017-08-23 13:30] halberom commented on #12252
Suspect this'll never happen, and I've moved on from that requirement.  Closing.

[2017-08-23 13:30] #12252 closed, assigned to nobody

[2017-08-23 14:20] bcoca commented on #28529
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As explained in previous comment, this is expected when using `reloaded` as a state.

In the future, this might be a topic more well su

[2017-08-23 14:20] #28529 closed, assigned to nobody

[2017-08-23 14:34] Manakel166 opened #28555 "win_firewall_rule: Corrupted rules on Win7 and Win10"
Checked on latest Ansible release: v2.3.2.0-1
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_firewall_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS Managed is windows 10 and windows 7

##### SUMMARY

When you create a firewall rule (port or program authorisation) using ansible, and you dont provide any value for the Service parameter,  the generat

[2017-08-23 14:42] #27102 closed, assigned to nobody

[2017-08-23 14:44] bcoca commented on #28540
I'm not sure this is wrong, but we can have that discussion in the PR

it is an incorrect IP, but we might want to actually test for that

[2017-08-23 14:50] mikeeaton83 commented on #28555
Wrong module. should be win_firewall_rule..

[2017-08-23 15:04] dagwieers commented on #28467
@yangliang003 Well done ! And thanks for reporting back to us.

Now it would be nice to cover this somehow in the Ansible documentation, together with an explanation of what each of the options are and in what case they can be used. So a matrix with:

- win_shell
- win_shell + become
- win_psexec
- win_psexec (system)
- win_psexec (privileged)
- win_psexec (interactive)
- win_scheduled_task

on on

[2017-08-23 15:12] trishnaguha commented on #28210
can you try adding `command_timeout` under flag `persistent_connection` in your ansible.cfg?
It should look like:
[code]

[2017-08-23 15:12] dagwieers commented on #28467
Just out of interest, apparently you can pass NTLM hashes to psexec by using fancy hacker tools (like sekurlsa::pth): https://blog.varonis.com/penetration-testing-explained-part-vi-passing-the-hash/ So you have a tool allows you to "overpass" the NTLM hash to another application, so it does no longer need the provided credentials. Maybe such a tools exists independently (outside of mimikatz).

It

[2017-08-23 15:14] bcoca commented on #28542
if i'm reading that right, it is expecting the value to be populated so the default acts as a 'fail' when it matches.

cc @mattclay

[2017-08-23 15:21] nrwahl2 commented on #28542
@bcoca @mattclay To clarify my intent here... it doesn't make much sense to have an assertion of, say,
- 'ansible_mounts|default("UNDEF_NET") != "UNDEF_HW"'

That's always going to be true unless the ansible_mounts fact itself is somehow set to "UNDEF_HW". The test should be getting either the fact value or a default value and comparing it to the value on the right, with either an equals or does-n

[2017-08-23 15:27] nrwahl2 commented on #28540
@bcoca : I agree that testing what would happen for an incorrect IP is a valid scenario, but this affect 20+ tests. The entirety of `test_gathering_facts.yml` uses `facthost[0:20]` to test against.

The integration test for `facthost12` happens to fail consistently on certain OSes in Shippable, breaking my PR #28535. (Interestingly it fails on CentOS 7.3 in Shippable and my test box where it works

[2017-08-23 15:31] nrwahl2 commented on #28529
@dprittie FWIW you can add a `meta: flush handlers` if you want the handler to execute right away.

[2017-08-23 15:35] mbach04 opened #28564 "AnsibleUnsafeText returned from ec2 module."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ec2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3
##### SUMMARY

Unable to use values returned from ec2 module; ie spawning an instance and using instance id's.
##### STEPS TO REPRODUCE

Example play:
[code]

##### EXPECTED RESULTS

Would expect to see the type_debug is of string.
##### ACTUAL RESULTS

[2017-08-23 15:40] bcoca commented on #28542
ah, that makes sense, i just checked a few of them and they all matched, did not do full list

[2017-08-23 15:45] gregsergeant opened #28565 "Reboot always required executing win_domain_membership"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration changes

##### OS / ENVIRONMENT
Ubuntu - Linux subsystem for Windows.
Not supported I know but I don't believe that is at play here.

##### SUMMARY
The return value from the win_domain_membership module always indicates a reboot is always required even if chan

[2017-08-23 16:01] #27861 closed, assigned to nobody

[2017-08-23 16:09] bcoca commented on #28545
cc @helldorado

[2017-08-23 16:26] sunilnaths commented on #28210
thanks i tried it was 30 i changed to 60 same result

TASK [show version] ****************************************************************************************************
task path: /etc/ansible/cli-test.yml:15
<10.X.X.1> connection transport is cli
<[[ inventory_hostname }}> using connection plugin network_cli
<10.X.X.2> connection transport is cli
<[[ inventory_hostname }}> using connection

[2017-08-23 16:29] nicladas commented on #23675
Also experiencing the same issue in 2.3.1.0

[2017-08-23 16:37] cherdt opened #28567 "git_config module has no way to remove config settings"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

git_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

You can add git configuration settings via the git_config module, but there is currently no way to remove settings via the git_config module.

In general I think it is desirable to have the ability to undo any state changes made w

[2017-08-23 17:08] bcoca commented on #12252
funny enough, implemented here https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/constructed.py

[2017-08-23 17:08] leontp587 commented on #28366
@nrwahl2 Yes the PR solves the problem I raised. Thank you very much!

[2017-08-23 17:08] #28366 closed, assigned to nobody

[2017-08-23 17:21] bcoca commented on #28518
service is a 'general term' for dealing with services, in some cases (like yours) you are actually executing the `systemd` module (as that is the 'detected service manager'), so expecting that it behaves like the `service` tool is incorrect.

[2017-08-23 17:49] #27332 closed, assigned to nobody

[2017-08-23 18:01] karrots commented on #28210
I am getting this as well. It seems that the network_cli module is broken. What I see is Ansible disregards the username passed in via the CLI flag. In my switch logs, I either see my local Linux username (which is different from my switch username) or a blank username being passed by Ansible.

Others have reported this same thing in issue #26120 and #26432

[2017-08-23 18:16] mslebodnik opened #28569 "unarchive failes with remote_src when not enough space in /tmp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

unarchive fails when there is not enough space in /tmp
with
remote_src:

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-23 18:18] jorojas opened #28570 "Unable to execute ansible-galaxy install -r requirements.yml due to CERTIFICATE_VERIFY_FAILED"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy install -r requirements.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

My requirements.yml file:
[code]

##### OS / ENVIRONMENT

MAC OS Sierra
##### SUMMARY

When I execute ansible-galaxy install using my requirements.yml File I get the following error:

**urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate veri

[2017-08-23 18:30] LukeShortCloud opened #28571 "Documentation for the Windows RoboCopy Module is Incorrectly Formatted"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Windows module: win_robocopy
http://docs.ansible.com/ansible/latest/win_robocopy_module.html

##### ANSIBLE VERSION
The latest documentation was last published on August 16th, 2017 (2017-08-16).

##### SUMMARY
At the bottom of the page there is a "Return Values" table. The last row is for "output." There is not a example and, instead,

[2017-08-23 18:35] taraslayshchuk commented on #14386
@jhawkesworth, I can not reproduce the issue because I am not working with Windows based systems and it is not important to have solution for me. But this does not mean that issue resolved, as You can see this issue is reproducing by other users.
Maybe they can reproduce and confirm the issue?
My last test was done with ansible version: 2.2 (from master) and component name: win_chocolatey, win_cho

[2017-08-23 18:41] jborean93 commented on #28571
@ekultails thanks for raising this issue, a fix for this was merged just recently https://github.com/ansible/ansible/commit/e6316765461b6b97eb6b4742427b22dab288d800 and the live site will be updated some time in the future with this.

I am going to close the ticket as the fix is already there.

[2017-08-23 18:41] #28571 closed, assigned to nobody

[2017-08-23 19:35] mbach04 opened #28576 "ec2_tag documentation incorrectly cites tag_count in example."

[2017-08-23 19:35] rewilliamso opened #28577 "vmware_guest Module raise err\nsocket.error: [Errno 111] Connection refused"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Kernel Version: 3.10.0-514.2.2.el7.x86_64 x86_64
Oracle Linux Server release 7.3

##### SUMMARY

When executing the playbook i get the following error a connection refused error.
##### STEPS TO REPRODUCE

Run playbook
ansible-playbook setip.yaml

[2017-08-23 20:29] dagwieers commented on #14386
Ok, so first we have improved the Windows integration and modules a *lot* the past few months.

Secondly, the chocolatey issue doesn't seem to be an issue with the module itself, but rather the chocolatey framework (maybe updating chocolatey helps here).

And lastly, if nobody is willing to reproduce this on a recent version, we might as well close this and see if someone opens an issue because fo

[2017-08-23 20:29] #14386 closed, assigned to nitzmahone

[2017-08-23 20:49] dagwieers commented on #28565
You are not looking at the correct code, but the correct code is having the same problem :-)

The correct code is here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_domain_membership.ps1

And I agree with your assessment. There is an else missing (the part where it's already joined to a domain and doesn't need a name-change). And only the 2 former blocks require a

[2017-08-23 21:13] fabiendupont commented on #14358
I don't like simply adding +1, but this issue definitely deserves it.
I am using Ansible in the context of OpenShift deployment and some variables are very difficult to maintain on a single line.

From my point of view, we should be able to do something like that:

[code]

Is somebody working on it ?

[2017-08-23 21:32] ksingh7 opened #28580 "GCE launch failed : Unexpected response : 'private_key'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Module : gce

##### ANSIBLE VERSION

Tested with 2 differen ansible + apache libcloud versions
- ansible (2.3.1.0) and apache-libcloud (2.1.0)
- ansible (2.2.2.0) and apache-libcloud (1.5.0)

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra 10.12.6
##### SUMMARY

Unable to create GCE instance using gce module. Playbook fails with th

[2017-08-23 21:35] ksingh7 commented on #28580
The error points to private_keys, I am not sure why and which private keys GCE module is looking for.

What i know is my SSH public keys are properly set into GCE project metadata and also the GCP credentials JSON file is in the right place with correct auth values.

If you guys know which private_key the playbook is looking for, pls let me know

[2017-08-23 21:36] djmattyg007 commented on #28567
I completely agree! Unfortunately I won't have time to create a patch anytime soon, but I'll happily review any pull requests that are put forward.

[2017-08-23 22:00] bcoca commented on #14358
or just use the YAML inventory which allows for complex structures and not make the ini inventory anymore  'hackish' than it is.

[2017-08-23 22:02] Chrislevi commented on #17098
When is it going to be supported? @nitzmahone

[2017-08-23 22:05] fabiendupont commented on #14358
Indeed, but it is used by a lot of people. Maybe a clear statement in the
documentation, as well as examples, would help starting a migration towards
YAML inventory.

Le 24 août 2017 00:00, "Brian Coca" <notifications@github.com> a écrit :

[2017-08-23 22:19] nrwahl2 commented on #28569
Observations: `remote_tmp` doesn't affect the temporary download directory for `unarchive`. This would require modifications to one or more of the following: `modules/files/unarchive.py`, `plugins/action/unarchive.py`, `plugins/action/__init.py__`. I got it to work as a quick-and-dirty hack by changing the following values:

[code]

[code]

`plugins/action/unarchive.py` includes the following:
[co

[2017-08-23 22:34] coofercat commented on #2492
(If it matters, I'm using Centos 6 and 7 on Google Cloud VMs - which also reports CPU counts incorrectly)

I went a stage further and used @vohof's shell command to make a `/etc/ansible/facts.d/apparent_cpus.fact` file.

I appreciate the core of Ansible shouldn't contain every last possible thing, but it'd be great if it could contain something like this - if changing the existing counters is prob

[2017-08-23 22:34] b-long commented on #19711
So, would the next step be identifying the current Ansible behavior in `cloud-init` environments?  Then, the Ansible team could know for sure if this is a feature or a bug.  If it's expected behavior, maybe a warning could be added?

One other comment, I was wondering how Ansible currently tests against `cloud-init` environments.  Am I missing anything beyond this: https://github.com/ansible/ansib

[2017-08-24 01:54] logan2211 commented on #27813
@jimi-c: When handlers are defined in the playbook they are scheduled _after_ role handlers. I'm proposing that ansible offer orchestration at the playbook level to control how playbook handlers are scheduled.

I played around with some workaround ideas tonight here https://github.com/Logan2211/tmp-ansible-27813, thanks @alikins for an idea on that. In the ``workaround`` the downside I see is this

[2017-08-24 02:48] nrwahl2 commented on #28570
@jorojas Make sure your `ca-certificates` packages is up-to-date. You might also try running `ansible-galaxy` with the `-c` or `--ignore-certs` option. From what I can see, there are a number of different problems that can cause the symptom you're seeing. Others here might know better questions to ask to drill down.

EDIT: I just found a pretty solid article on Red Hat's KB: https://access.redhat.

[2017-08-24 03:11] nrwahl2 commented on #28580
@ksingh7 Well, here's where it's failing:
[code]

Based on this, it would appear that there's an issue either with your JSON format or with the `private_key` key. At first glance it looks like it's succeeding at finding and opening your auth file, then loading it's contents into a dictionary and not finding they key `private_key` there.

Of course, it's also possible that arguments are being passe

[2017-08-24 03:12] basictheprogram opened #28583 "[DEPRECATION WARNING]: None. This feature will be removed in version 2.8."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host macOS 10.12.5
Managed host Windows 6

##### SUMMARY

[DEPRECATION WARNING]: None.
This feature will be removed in version 2.8.

##### STEPS TO REPRODUCE

Variables
[code]
Play
[code]

##### EXPECTED RESULTS

No DEPRECATION warning

##### ACTUAL RE

[2017-08-24 03:59] nrwahl2 commented on #28551
@rhpvorderman Not a bug. Documented, although it's a bit hard to recognize until you know it's there.

[code]

[code]

[code]

[code]
(http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable)

P.S. `ansible_ssh_user` is deprecated. The current format is `ansible_user`.

[Edited to remove a piece of incorrect information.]

[2017-08-24 04:10] nrwahl2 commented on #28539
@dagwieers This seems to be resolved already in 2.4.

Task:
[code]

Before:
[code]
Run:
[code]

After:
[code]

[2017-08-24 06:06] nrwahl2 commented on #28583
Do you happen to have `$skip_certificate_validation` specified anywhere? This is the only relevant instance of the string `2.8` I can find for Windows.

`win_get_url.ps1`:
[code]

Not sure why it wouldn't be displaying the `msg` parameter if this is what it's hitting. But, I don't know Powershell.

EDIT: I see why it's not displaying the actual warning. Instead of `msg`, it needs to be using `mess

[2017-08-24 06:09] basictheprogram commented on #28583
Oh? It's from the play above! And yes, I have a win_get_url call and  skip_certificate_validation true, removing skip_certificate_validation and the warning goes away.

[2017-08-24 06:10] nrwahl2 commented on #28583
Edited to explain why it's not showing the warning message.

[2017-08-24 06:11] nrwahl2 commented on #28583
Also, if you replace `skip_certificate_validation = true` with `validate_certs = false`, you should get to keep the behavior you want without warnings.

[2017-08-24 06:12] basictheprogram commented on #28583
Confirmed. Thanks.

[2017-08-24 06:17] nrwahl2 opened #28584 "Related to #28583: modules/windows/win_get_url.ps1 uses invalid option in Add-DeprecationWarning call"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
Related to #28583: modules/windows/win_get_url.ps1 uses invalid option in Add-DeprecationWarning call

It uses `-msg` where it should use `-message`. This causes the warning string to display as None. See #28583 for more detail

[2017-08-24 06:22] dagwieers commented on #28539
These issues I like the best !

[2017-08-24 06:22] #28539 closed, assigned to nobody

[2017-08-24 06:27] Akasurde commented on #28577
resolved_by_pr #28586

[2017-08-24 06:50] simplesteph commented on #28554
can you please elaborate on use cases?

[2017-08-24 07:49] rhpvorderman commented on #28551
Thank you for your answer. However, this is not the problem that I have. As you can see in the example playbook I did manage to override the connection user by specifying it in the `vars:` section of a task. No issues there.

My problem is not that it does not connect as `lola` . My problem is that it connects as

**`{{ssh_user}}`**  _(The raw variable name. Including the brackets!)_

As you can s

[2017-08-24 07:51] Amruthapv commented on #28502
@Akasurde  could you please me point out to me as to how the pyvmomi library can be used to develop any module. I am quite new to python.

[2017-08-24 07:56] mslebodnik commented on #28569
i tried to fixed it myself  , by introducing  new option
[code]

check pull request  #28587
feel free to comment

[2017-08-24 07:58] rhpvorderman commented on #28551
By the way, I already checked `lib/ansible/modules/files/synchronize.py` and could not find the error in there. It is probably somewhere deeper, but I am not knowledgeable enough in ansible architecture to find where that is.

[2017-08-24 07:59] Akasurde commented on #28502
@Amruthapv Take a look into the Pyvmomi community [examples](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/).

Good way to start with Pyvmomi is [hello_world_vcenter](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/hello_world_vcenter.py).

[2017-08-24 08:02] ksingh7 commented on #28580
@nrwahl2 thanks for taking a look at my issue.

Here are the contents of JSON file
[code]
Do you think this JSON is missing someting ?
Also, could you help me understand which ``private_key`` gce module is looking for.

I already have my local SSH keys added into instance metadata. I don't think gce needs my local account's private keys.

[2017-08-24 08:11] fabiendupont commented on #14358
@bcoca BTW, do you have a YAML inventory file example. I have converted my inventory to the output format of the dynamic inventory script. Both JSON and YAML give the error message ```Attempted to read "hosts" as ini```. It makes me think that Ansible is not able to read anything else than INI.

I am running Ansible 2.3.10 on Fedora 26:

[code]

[2017-08-24 08:11] ksingh7 commented on #28580
@nrwahl2
Also if i try like this , it fails with the same error
[code]
So, confused, which private_key it needs

[2017-08-24 08:46] Amruthapv commented on #28502
okay thank you . That should help!

[2017-08-24 08:48] #28584 closed, assigned to nobody

[2017-08-24 08:49] nrwahl2 commented on #28551
Any luck with replacing `ansible_user` with `remote_user`, if that accomplishes what you need?

[code]
[code]

[code]

[2017-08-24 08:50] dagwieers commented on #28583
So this is now fixed. Thanks everyone !

[2017-08-24 08:50] #28583 closed, assigned to nobody

[2017-08-24 09:03] nrwahl2 commented on #28580
Info might be here:
https://cloud.google.com/docs/authentication/api-keys
https://cloud.google.com/compute/docs/access/create-enable-service-accounts-for-instances

I don't have experience with cloud administration. I'm making sense of the errors you're seeing by looking at the code, as best I can.

[2017-08-24 09:11] nrwahl2 commented on #28580
@ksingh7 : Step-by-step guide from the Ansible docs site. Step 2 especially might point you in the right direction.
https://docs.ansible.com/ansible/latest/guide_gce.html#credentials

1. [Create a Service Account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#creatinganaccount)
2. [Download JSON credentials](https://support.google.com/cloud/answer/6158849?hl=en&ref_topic=62

[2017-08-24 09:19] nrwahl2 commented on #14358
https://github.com/ansible/ansible/blob/devel/examples/hosts.yaml

[2017-08-24 09:37] helldorado commented on #28545
@LaurentDumont  This error can be made on a cluster in a different situation:

- the call to the `get_nextvmid` function passed too quickly after a previous query and the cluster is not up to date on all the nodes. Corosync lock ?
- One member of the cluster no longer answers

Puting `time.sleep(10)` in `get_nextvimd` will solve your problem. like:

[code]

Can you give me feedback on this workaro

[2017-08-24 10:04] rhpvorderman commented on #28551
No. using `ansible_user` or `remote_user` does not work and gives the same problem.
By the way, I believe that `ansible_ssh_user` is not deprecated. It takes priority over both `ansible_user` and `remote_user`.
Regardless of choice however, the raw `{{ssh_user}}` text is used instead of the value of ssh_user.

[2017-08-24 10:08] hitoshi-isa commented on #28210
I paste my ansible.cfg.
Other parameters are not changed.

[defaults]
host_key_checking = False
timeout = 30
display_args_to_stdout = True

[privilege_escalation]

[paramiko_connection]
host_key_auto_add = True

[ssh_connection]

[accelerate]

[selinux]

[colors]

[presistent_connection]
command_timeout=30

[2017-08-24 10:26] dagwieers opened #28590 "Failure due to exception does not expose warnings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
v2.4

##### SUMMARY
If your module exposes warnings, i.e. module.warn(), and the module fails (Exception or fail_json) the warnings are not exposed to the user.

This is a problem since the warnings might be giving clues to the user related to their problem.

[2017-08-24 10:54] abirami-n commented on #24632
Is the dellos6 software image version available because we weren't able to reproduce on N-series 6.3.

[2017-08-24 11:26] dagwieers commented on #27952
@brokenjacobs Please test this new PR !

PS We are working on an option you can add to a task to enable diff for a specific task (overriding the global option/setting).

[2017-08-24 11:31] halberom commented on #12252
@bcoca - wow nice, although I barely understand that.  I guess you're having a lot of fun with plugins.  will need a _lot_ of docs to go with them :)

[2017-08-24 11:38] sar009 opened #28594 "source not found when running playbook through a script in /etc/init.d/"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

  when there is task of module `template` it fails with error
[code]

##### STEPS TO REPRODUCE

put a shell script in `/etc/init.d` with LSB block as follows
[code]
clone a ansible repo in script and run playbook. playbook should contain a task a

[2017-08-24 11:48] dagwieers commented on #14860
@sirkubax Good news: https://github.com/ansible/ansible/pull/28581

[2017-08-24 12:05] #27952 closed, assigned to nobody

[2017-08-24 12:14] #28565 closed, assigned to nobody

[2017-08-24 12:14] jborean93 commented on #28565
@gregsergeant a PR has been merged to fix this, thanks @dagwieers

[2017-08-24 12:27] JoshuaSeidel commented on #28554
@simplesteph we're using ansbile for the CD process into ECS. right now when i mark a task as inactive create a new revision and update the service, it can take between 5-20min for 2 containers to swap out. for some environments we need it to move faster, so being able to query with ansible for the current running tasks, having them match up to the old task revision and stopping. this will speed u

[2017-08-24 12:52] bcoca commented on #14860
fixed by merge of  #28581

[2017-08-24 12:52] #14860 closed, assigned to nobody

[2017-08-24 12:58] bcoca commented on #12252
in 2.4 `ansible-doc -t inventory constructed` .. but will be updating website also

for this use case, `constructed` allows groups based on jinja2 expressions, so you can:
[code]

[2017-08-24 13:07] bcoca commented on #28590
fail_json does ... the callback 'on_fail' is probably the culprit here

[2017-08-24 13:09] dagwieers commented on #28590
Weird, I did try both though. Will check later.

[2017-08-24 13:10] jtyr commented on #23590
@opoplawski Do you mean to remove the mount point only from fstab but leave it mounted?

[2017-08-24 13:20] #27949 closed, assigned to nobody

[2017-08-24 13:24] jtyr commented on #22135
Linking the PR #22865.

[2017-08-24 13:26] jtyr commented on #23693
@helltone Please could you test the PR #22865? That should fix your issue.

[2017-08-24 13:35] #23183 closed, assigned to nobody

[2017-08-24 13:36] jtyr commented on #22930
Please could you test it again with the latest version of the `mount` module and let us know if the problem still exists?

[2017-08-24 13:52] cigamit commented on #28463
Ya, your patch will break a lot of scenarios.  You completely removed the use of dcpath, which is key for scenarios where Data Centers are nested under folders themselves.  I think a few of the other scenarios are broken also.

What I think you are missing is that /vm is not an actual "user" folder that you can see, it is the internal VMWare folder where all VMs are located.  Every VCenter will ha

[2017-08-24 13:59] cigamit commented on #27176
I am a little confused on this one, since the vmware_guest module allows you to clone from a Virtual Machine already if you supply its name in the template field instead of a template.

[2017-08-24 14:04] fabiendupont commented on #14358
Thanks a lot @nrwahl2. I always forget to also look into the repo, not only the documentation.

[2017-08-24 14:22] #22135 closed, assigned to nobody

[2017-08-24 14:46] nre-ableton commented on #28463
@cigamit Yeah, I suspected as such. However, when I tried to use `dcpath`, I got the 'No folder matched the path' error every single time, and also regardless of how I tried to pass in a folder argument (also just to be clear, with no folder, it also didn't work).

Yeah, I gathered that `/vm` is an internal path which must be added, and I understand the logic of checking for that. Still, I don't t

[2017-08-24 14:51] nrwahl2 commented on #14358
@evenit : I just Googled it and found a thread on StackOverflow that then linked to the repo ;)

[2017-08-24 14:52] bcoca commented on #28583
The deprecation warning is still incorrect, it should not be `None` but the actual feature deprecated

[2017-08-24 14:53] bcoca commented on #14358
Now intro docs will also show YAML #28596

[2017-08-24 14:54] sculley commented on #24273
Any updates with this? or workarounds?

[2017-08-24 14:58] sensiblemedia opened #28600 "iam_policy.py with nsocket.error: [Errno 111] Connection refused, ansible 2.4.0 (devel 788a0d1b9e)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/cloud/amazon/iam_policy.py

##### ANSIBLE VERSION

ansible 2.4.0 (devel 788a0d1b9e) last updated 2017/08/22 12:05:46 (GMT -700)
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /roo

[2017-08-24 15:00] ssbarnea commented on #13702
@bcoca Here are the problems for which I think this bug should be reopened:
* referenced `filtered.py` callback was merged without being documented
* `filtered.py` was later renamed to `actionable.py` (did had to put a lot of effort to did this)
* that callback does clearly do not not `separate verbosity/diff levels for logfile and stdout` in any way.

Again, please read the title of the ticket: i

[2017-08-24 15:08] nrwahl2 commented on #28583
@bcoca Look at PR #28585. I created a separate issue #28584 for the warning being None instead of the correct string, and fixed it in a PR. Dag merged it.

Or, I presume I fixed it. Again, I have no Windows box to test on. Death to all but Linux.

[2017-08-24 15:12] bcoca commented on #28583
hmm, tempted to say the fix is on the common code using `message` vs `msg` which is the standard on the controller code

[2017-08-24 15:16] bcoca commented on #28590
checked the code, `failed_json` uses same 'warning code' as `exit_json` and `runner_on_failed` uses same 'warnings code' as `runner_on_ok`. soo either some glue is missing or I need a reproducer.

[2017-08-24 15:17] dagwieers commented on #28583
@bcoca Yes, unfortunately these interfaces did not take into account existing names in the python modules. That's why this error occurred in the first place. There is friction between the Powershell-style and Python-style (I would rather call it Ansible-style) interfaces. (e.g. fail_json vs Fail-Json)

But we cannot easily change this, or we have to implement and maintain both. Designing means thi

[2017-08-24 15:17] trishnaguha commented on #27402
The traceback I got:
[code]

[2017-08-24 15:19] bcoca commented on #28583
im not going to push on this, as long as the interfaces are 'consistent' within the language, I'm fine.

[2017-08-24 15:24] trishnaguha commented on #27402
@mikewiebe Can you run the commands on the host manually and show me the output?

[2017-08-24 15:24] rewilliamso commented on #28577
Sorry, I am new to this whole github issue section.

I have the following vmware.py scripts on my machine:
1. /usr/lib/python2.7/site-packages/sos/plugins/vmware.py
2. /usr/lib/python2.7/site-packages/ansible/module_utils/vmware.py
3. /usr/lib/python2.7/site-packages/ansible/utils/module_docs_fragments/vmware.py

I believe i need to update #2.  So would the fix be to upgrade or pull the vmware.py

[2017-08-24 15:36] jborean93 commented on #28583
@nitzmahone is working on the .NET utils so it should be something we want to enforce on the new version when it comes through. This is the "legacy" setup so probably don't want to change this.

[2017-08-24 15:39] rewilliamso commented on #28577
I added the following file to  /usr/lib/python2.7/site-packages/ansible/module_utils/vmware.py and I get a different error now. Should I update all vmware.py scripts on the machine?
[code]

[2017-08-24 15:52] jorojas commented on #28570
Hi @nrwahl2, we used ignore-certs in the [galaxy] atributes within ansible.config

Thx for your support.

[2017-08-24 15:52] #28570 closed, assigned to nobody

[2017-08-24 16:11] sosiouxme commented on #22265
@mkrizek doesn't look like the docs have been updated to mention that option.

Assuming that exists in 2.4, though, that only really solves the side issue. The main issue is that the module doesn't let you know if you're actually subscribed to what you expected to be.

[2017-08-24 16:16] dagwieers commented on #25302
@davidhulick Can you please retest your issue with the latest devel branch ? It now has some win_robocopy fixes integrated which we think may fix your issue.

[2017-08-24 16:20] ssbarnea commented on #19621
I can confirm this bug even with latest code from `devel` branch and it is very easy to reproduce.

This works and proves that shade is correctly configured:

[code]
As a detail `~/.config/openstack/clouds.yml` contains multiple clouds and we do also have an environment variable which defines the default cloud to use `OS_CLOUD=myclould`.

Now back to ansible shade(d) modules, here is what happens

[2017-08-24 16:20] brokenjacobs commented on #27952
Just got back from vacation today. Catching up, I will take a look. The biggest issue for me with diff support was whitespace. I have another issue I implemented a quick fix for with the xpath replacement, but set_children is the better option for me (more idempotent than just using straight xpath) if it works. Will check this out today.

[2017-08-24 16:31] ssbarnea commented on #19621
Update: It seems that the reasons why OS_CLOUD didn't reach shade was because I was running via tox which was not configured to pass environment variables.

I can confirm that if defined OS_CLOUD is used.

Still, I do find the error confusing and I would have prefered to just try to use the first found cloud in the config or to throw a clear error like "unable to determine which cloud to use out o

[2017-08-24 16:32] brokenjacobs commented on #27952
Quick code review shows this is very useful for showing why there is a difference between two XML strings. Much better than all the import q q() I put all over the code looking at it! Register variables FTW.

It still doesn't fix the actual differencing code. I think I'm understanding whats broken now for the document I'm working with. It comes down to whitespace and ordering. Ordering CAN be impo

[2017-08-24 16:38] #24343 closed, assigned to nobody

[2017-08-24 16:45] rewilliamso commented on #28577
Okay, I got the firewall opened to allow http/https ports and that appears to get me passed the issue below.
[code]
The network is being set which is great and I am able to login to the server via ssh. I did notice a few problems.

1. Inside my /etc/sysconfig/network-scripts/ifcfg-eth0 file. There is an added line that has the following at the bottom of the file. Thoughts?
[code]
Also, my dns did

[2017-08-24 16:49] marvingreenberg commented on #28223
@bcoca Do you want to cherry pick the code changes related to the documentation changes?  Or just abandon them?

[2017-08-24 17:13] inhifistereo commented on #28534
I've attempted to repro this via the Azure CLI 2.0 that uses the same Azure Python modules that Ansible uses. The CLI is unable to create a NIC in a different resource group than the VNet. This would be an Azure Python issue rather than an Ansible specific issue IMO.

[2017-08-24 17:15] mkrizek commented on #22265
@sosiouxme Haven't tried it but it looks like If you put bogus ID into `pool_ids` the task should fail.

[2017-08-24 17:35] akamac commented on #28408
Thanks for the explanation, @bcoca

[2017-08-24 18:00] privateip commented on #26432
resolved_by_pr #28599

[2017-08-24 18:00] privateip commented on #26120
resolved_by_pr #28599

[2017-08-24 18:09] giovannisciortino commented on #26989
nice request, I will work on this

[2017-08-24 18:25] dagwieers commented on #28577
The network configuration files are part of the VMware VM customizations. This has nothing to do with us, really. We cannot influence how VMware is doing this. But you are free to mofidy those files as you please with Ansible.

Your DNS is also part of the VM customizations. I wonder what you put in there, it should be a list of servers (not a string of servers). The examples are quite clear on th

[2017-08-24 18:27] sensiblemedia commented on #28600
**Update**: On further investigation it appears this issue was indeed a localised issue.
It turned out that the iam_policy was only failing when executing ansible-playbook as the root user.
It was confusing as all the other modules that I have been employing were connecting to AWS without issues.

The root user had a ~/.boto file whereas the vagrant user (in this case) did not.
Renamed the /root/.

[2017-08-24 18:33] dagwieers commented on #27952
So, lxml has an objectify object which is perfect for this. I have new code here that uses objectify for comparing 2 lxml XML objects and it is working fine. My new version uses this to see if the file changed.

But I am torn between 2 things:
- Should we say there was a change of the XML is considered different
- Or should we say there was a change if the file was modified (e.g. a trailing newlin

[2017-08-24 18:49] #26120 closed, assigned to rcarrillocruz

[2017-08-24 18:59] privateip commented on #26136
@petereh I think there might be a little confusion on how to properly use `eos_config` here.   The file specified in by the `src` argument must be a validly formatted EOS configuration file equivilent to what you would see from `show running-config`.   In this case, the value of `src` should look like something like this:

[code]
Complete with proper indents (3 spaces in the case of EOS).

In orde

[2017-08-24 18:59] #26136 closed, assigned to privateip

[2017-08-24 19:00] dagwieers commented on #28569
Nope, we are not going to add functionality to **unarchive** related to downloading files. Sorry, we should never have added download functionality to unarchive in the first place. The documentation makes it clear already, if you have specific download requirements look at **get_url** or **uri**

More information at: https://github.com/ansible/community/wiki/Module:-unarchive

[2017-08-24 19:01] privateip commented on #26952
resolved_by_pr #28599

@pehruby please re-open this issue if the above referenced PR does not fix your issue but it should be resolved.

[2017-08-24 19:01] #26952 closed, assigned to privateip

[2017-08-24 19:04] basictheprogram opened #28611 "Powershell script behaves differently with win_shell vs cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Stock devel branch configuration

##### OS / ENVIRONMENT
Management host: macos 10.12.5
Managed host: Windows 7

##### SUMMARY
A powershell script executed from the command line works properly.
The same powershell script executed via Ansible's win_shell does not work properly.

####

[2017-08-24 19:29] nrwahl2 commented on #28481
@dagwieers would you want to decline this for the same reason as #28569? As far as I can tell it would require the user or the module code to set a specific predictable location for the file download and then take the checksum from there.

[2017-08-24 19:36] dagwieers commented on #28481
@nrwahl2 You can decline it too, I have as much declining power as you ;-) (hint: it's about the intonation !)

But joking aside, you can start a community for a given module by creating a Wiki page for that module and invite interested people to join the dicussions there: https://github.com/ansible/community/wiki/Module:-yum

This could be one way to get consensus and communicate these decisions

[2017-08-24 19:49] rewilliamso commented on #28577
Yes , I did see the documentation and that's how i originally had it set. I will try it like that again.
[code]
Thanks,

[2017-08-24 20:00] #21683 closed, assigned to privateip

[2017-08-24 20:01] basictheprogram commented on #28611
Asking this here in case other people visit this issue want to know how to debug their Ansible executed powershell scripts.

How can I get my powershell script to output debug info so that win_shell will capture it so when I "register:  delete_printer" it  will have that debug info?

I tried
 * Write-Verbose and passed in -Verbose, assuming it would show up in stdout or stdout_lines
 * Write-Error

[2017-08-24 20:02] rewilliamso commented on #28577
I tried with the following example and the dns is still not being set. When you mentioned modifying VMware VM customizations files were you referring to the vmware.py script?

[2017-08-24 20:26] nrwahl2 commented on #28481
@dagwieers Not quite! I can't close other people's issues like you can.

Thanks for the tips!

[2017-08-24 20:32] dagwieers commented on #28481
I am not closing them, because I don't think I should have the final call on these decisions. I can only give my (founded) opinion. Usually you get a mob of people disagreeing (out of convenience mostly) :-)

[2017-08-24 20:41] #25161 closed, assigned to nobody

[2017-08-24 20:43] nbaliba commented on #24632
​
 N3000_N2000v6.3.2.7.stk
<https://drive.google.com/file/d/0B1IatHsP3ZFobUpTQldrR3hxclU/view?usp=drive_web>
​Hi,

attached

Regards,
Levan

On Thu, Aug 24, 2017 at 3:55 AM, abirami-n <notifications@github.com> wrote:

[2017-08-24 21:13] dagwieers commented on #14860
It would be nice to be able to enable/disable diff per play, block and even include_*/import_* !
E.g. for the integration tests we cannot control the play, but using a block would not require me to set it for each action.

[2017-08-24 21:16] jborean93 commented on #28611
Powershell is problematic when it comes to executing scripts within the shell itself. In your case you are wrapping the command inside a string with `'`, by default Powershell just outputs the value of a  string to the output stream hence why the stdout is the same as your command.

You can test it by running the below in a local powershell console

[code]

To execute the script itself you can do

[2017-08-24 22:09] nueces commented on #7235
I have this task that was run perfectly, now after update ansible to the 2.3.2.0 version its don't work
[code]

using epdb in the acl module I found that the path in the ansible_env.SSH_AUTH_SOCK don't exist and is different from the value that is returned with os.getenv('SSH_AUTH_SOCK')

[code]
I think that the ansible_env.SSH_AUTH_SOCK is set in a previous connection and for that reason when a n

[2017-08-24 22:39] jebabin commented on #26432
I confirm it now works on level. Thanks for the fix!

[2017-08-24 22:39] #26432 closed, assigned to rcarrillocruz

[2017-08-24 22:41] nrwahl2 commented on #28600
@sensiblemedia Thanks for the follow-up! I'm glad you got it figured out. Could you please mark the issue closed?

[2017-08-24 22:48] einarc commented on #28087
@alikins  Version 2.3.2 passes Unit Testing, unfortunately we still have to do regression and integration with the rest of our code to make sure the update did not break things or introduced new bugs. Not to mention we're using Tower so Integration is also required.

[2017-08-24 23:39] juliedavila commented on #28600
Closing as per @sensiblemedia  update

[2017-08-24 23:39] #28600 closed, assigned to nobody

[2017-08-25 00:00] simplesteph commented on #28554
that's odd. make sure you're not using a load balance with a graceful timeout of 300 seconds, or that your containers have graceful stops. This definitely shouldn't be the behaviour.
Also look into min and max percent for the ecs service to tweak how many containers can go down together.

But this alone doesn't warrant a module IMO. This looks like just some AWS config you need to tweak

[2017-08-25 01:09] #16215 closed, assigned to nobody

[2017-08-25 02:12] yangtea opened #28648 "plaintext: auth method plaintext requires a password"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

- win_ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[windows:vars]
ansible_user = Administrator
ansible_port = 5985
ansible_connection = winrm
ansible_winrm_server_cert_validation = ignore

##### OS / ENVIRONMENT

 lsb_release -a
LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-am

[2017-08-25 02:15] yangtea commented on #28648
when there is task of module win_ping it fails with error:
10.10.17.202 | UNREACHABLE! => {
    "changed": false,
    "msg": "plaintext: auth method plaintext requires a password",
    "unreachable": true
}

[2017-08-25 03:02] 1NoOne1 opened #28649 "vmware_guest: Deploy from template receives Error."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- Nothing customized. I am using the default CFG settings.

##### OS / ENVIRONMENT

- CentOS release 6.9 (Final)
- CentOS 7

##### SUMMARY

##### STEPS TO REPRODUCE

Running the module vmware_guest to create a VM from a template gives the following error:
"msg": "Unable to acc

[2017-08-25 04:36] nrwahl2 commented on #28481
On second thought, I feel this would be a good addition to yum itself. This is functionality that is not yet built into yum. It would make more sense to add it upstream than to build it as part of Ansible. It could be added as a feature in Ansible once it's supported in yum.

[2017-08-25 04:50] ghost commented on #15563
Another +1 for this.

It's exceedingly frustrating when you run a large playbook over a number of hosts, and then have one host fail now you've got no idea what triggers needed to be run where, etc.

[2017-08-25 05:17] nrwahl2 commented on #28648
Okay, are you sending it a password? Ref. Issue #16858

[2017-08-25 05:21] nrwahl2 commented on #28554
@simplesteph As @JoshuaSeidel mentioned, there is already a function built for this.
[code]

There's just no module parameter to call it directly. Am I understanding this right?

[2017-08-25 05:29] nrwahl2 commented on #22265
@mkrizek I've reproduced this with Ansible 2.4 on RHEL 7.3.

[2017-08-25 05:45] simplesteph commented on #28554
no worries you can do a PR and add a Param if that helps then!

[2017-08-25 05:46] jborean93 commented on #28648
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

As @nrwahl2 has mentioned you seem to be missing `ansible_password` in your vars which is required for most auth transport methods. In future can you please redirect these questions to the IRC channel or mailing list, the details are below.

This appears to be a user question, a

[2017-08-25 05:46] #28648 closed, assigned to nobody

[2017-08-25 06:35] maethor commented on #27938
Thank you @RohitK89, but sadly I already have  `pipelining = True` and it doesn't fix the issue for me.

[EDIT] I'm sorry, it works actually, `pipelining` was not under the right configuration group. Thank you very much @RohitK89 !

[2017-08-25 07:23] basictheprogram commented on #28611
Is it some type of script?

I have several other powershell scripts executed via win_shell and they work.

FYI, win_command and powershell.exe works around/fixes my problem.

[2017-08-25 07:41] yangtea commented on #28648
hi，
yeap, I sent it a password like this:
the password is not in group vars , it's in hosts vars.

intosdl@163.com

From: Reid Wahl
Date: 2017-08-25 13:18
To: ansible/ansible
CC: yangtea; Author
Subject: Re: [ansible/ansible] plaintext: auth method plaintext requires a password (#28648)
Okay, are you sending it a password? Ref. Issue #16858
—
You are receiving this because you authored the thread.

[2017-08-25 07:43] romain-dartigues commented on #28514
Hi, I just noticed your message and I think my pull-request (originally for BTRFS) ansible/ansible/pull/23634 also address this (XFS) issue (in romain-dartigues/ansible@a1601694b7c72eade6207bbf95548a460bc55bc6).

Could you test?

[2017-08-25 08:01] mslebodnik commented on #28569
@dagwieers  ok , got the point.
But then either remove download functionality from module, or mark it obsolete. This half way support is counterproductive.

So falling back to

shell:  wget -q -O - {{ item.url }} | tar -C {{ item.dest }} -zxf - --exclude \*/{{ exclude_pattern }}/\*

in my playbook

[2017-08-25 08:15] nrwahl2 commented on #22265
Here's the problem. It first removes existing subs that don't match the pool you passed. If it succeeds in removing your existing subs and it doesn't match any pools, it sets `changed` to `True` and goes on its merry way:
[code]

[2017-08-25 09:13] Hr0bar opened #28652 "HP-UX: Setup module fails with "IndexError: list index out of range""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- setup module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

only instead of default:
#sudo_flags = -H -S -n
have:
sudo_flags = -H -S

##### OS / ENVIRONMENT

Ansible master host: Linux HOSTNAME_FAKE 2.6.32-642.6.2.el6.x86_64 #1 SMP Mon Oct 24 10:22:33 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

failing hosts details:
HP-UX HOST_NAME B.11.23

[2017-08-25 09:18] mitsuhashi commented on #14248
+1

[2017-08-25 09:26] dagwieers commented on #28569
@mslebodnik Removing download functionality has been discussed a few times, but no decision/action was taken. So yes, maybe we should start deprecating it now in v2.4. The documentation does state:

@bcoca @abadger Your opinion is appreciated. Is there an interest to deprecate it by, let's say, v2.8 ?

[2017-08-25 09:30] Nosmoht opened #28653 "seport: Mismatch in default value of attribute state between code and docs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

seport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The [docu of module seport](http://docs.ansible.com/ansible/latest/seport_module.html) describes that the default value of attribute state is __default__. This default is not used within the code which results in an error if the attribute is omit

[2017-08-25 09:39] dagwieers commented on #28653
Good catch. Do you want to contribute a PR ? This seems something very simple you can even edit within Github editor.

[2017-08-25 09:43] dagwieers commented on #28652
Good catch, thanks for reporting. This doesn't seem a hard one to fix.
Are you interested to fix this yourself and contribute a PR ?

[2017-08-25 09:48] dagwieers commented on #28611
Can't you simply do:
[code]

You can also do:
[code]

Or simply:
[code]

PS If you want to understand Ansible better, it is going to be important to understand YAML syntax well, and grasp when you need to quote strings and when you don't need to. In general it's better to only quote if you have to, and we try to take care that examples in documentation do this consistently as well.

[2017-08-25 09:48] Nosmoht commented on #28653
No Problem. ;)

[2017-08-25 09:58] dagwieers commented on #28649
It seems to be access related. I wonder if your user has the required permissions for what you want to do.
Do you see any access-related events in vCenter ?

[2017-08-25 10:01] dagwieers commented on #28555
@Manakel166 Could you please test the refactored module at: https://github.com/ansible/ansible/pull/27381

We like to have more feedback to build confidence in shipping this in Ansible v2.4.

[2017-08-25 10:03] Jean-Daniel opened #28655 "template should provide a 'follow' parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

template task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Just like `file` and `copy`, `template` should provide a follow argument to let the caller choose what to do with symlink.

I encounter cases where I want to replace a symlink by a plain file, and this is not currently possible

[2017-08-25 10:07] dagwieers commented on #28551
AFAIK you have to use **remote_user** if you want to influence the connection plugin, but extra variables (set with e.g. `-e ansible_user`) will take precedence over whatever you do with **remote_user**.

[2017-08-25 10:13] nrwahl2 commented on #22265
I think I have a fix. I'll put in the PR tomorrow and find out.

[2017-08-25 10:14] dagwieers commented on #28431
The return values are not documented for this module.

@basictheprogram Are you interested to write this piece of documentation ?

[2017-08-25 10:19] dagwieers commented on #28194
@nrwahl2 Agreed, I noticed yesterday as well that the **pretty_print** parameter is used for 2 things:
- It influences the output of the module (it enables pretty_print=True)
- It is an action in itself to reformat the existing file

So that's clearly a problem. I rewrote a big chunk of how this works when implementing `--diff` and `backup:` support.

[2017-08-25 10:22] mgedmin commented on #13702
I also would like to see the equivalent of `-vv` written to a log file, while seeing the regular non-verbose output in the console, so that I don't have to re-run my playbook with `-vv` to see additional information if it fails.  The `filtered.py` callback plugin doesn't help with this at all, while a separate logfile verbosity level would.

[2017-08-25 10:24] dagwieers commented on #28194
I think the second interpretation is wrong, **pretty_print** is a parameter to influence the output, not an action in itself. I wonder if we should make this more clear.

There's also another option that **pretty_print** influences, which is the removal of "blank text" (`remove_blank_text=pretty_print`) which I am not sure if this is the expected behavior. Should these two be linked like this for

[2017-08-25 10:35] ssbarnea commented on #13702
I am currently working exactly on a real fix for this ticket but I am not sure how long it will take to get something done. Somehow the core code related to this seems to be a mess, written mostly with console output in mind and not as a logging facility, see it yourself at https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/display.py -- ansible does firt decide the COLOR, formats the

[2017-08-25 10:37] Hr0bar commented on #28652
username@HOSTNAME[/home/username]
$ /usr/contrib/bin/machinfo |grep -i 'Machine serial number'
   machine serial number = FAKEFAKE5D
username@HOSTNAME[/home/username]
$ /usr/contrib/bin/machinfo |grep -i 'Firmware revision' | grep -v BMC
   Firmware revision = 04.03
   ERROR: Unable to obtain manageability firmware revision info.
username@HOSTNAME[/home/username]
$ echo $?
0
username@HOSTNAME[/hom

[2017-08-25 10:41] dagwieers commented on #28194
@hammersoft @nrwahl2 @brokenjacobs Please test the new changes, they codify how the module can be used (and may exclude things that were previously possible). If that's the case I need to fix those cases...

[2017-08-25 10:43] dagwieers commented on #28194
PS An alternative implementation is to define `xpath = '.'` when pretty_print is provided with no xpath. This would have the same effect as the `pretty()` function call.

[2017-08-25 10:53] Hr0bar commented on #28652
Actually the errors seems here:

 ansible -m setup -a 'gather_subset=!all' HOSTNAME | grep distribution
        "ansible_distribution": "HP-UX",
        "ansible_distribution_release": "B.11.23",
        "ansible_distribution_version": "U",

so this IF does not pass:

[code]

does not set the separator correctly to "=" most likely and it stays as ':' so there is nothing on index 1 in this output:

[2017-08-25 10:56] dagwieers commented on #28194
So there's still an issue with my new logic, it's not so clear when to perform the pretty() action, and when xpath manipulation is required.

[2017-08-25 10:59] ar7z1 commented on #28555
@Manakel166 Thank you for report!

If the problem is in `Svc=*`, then @dagwieers already fixed it in #23162.

I ran your example:
[code]
on my Windows 10.

Latest published ansible (ansible 2.3.2.0) creates rule with `Svc=*`:
[code]

Ansible from `devel` branch (ansible 2.4.0 (devel 6397e68bfd)) creates rule without `Svc`:
[code]

And ansible from #27381 branch creates the same rule:
[code]

Can y

[2017-08-25 11:05] ssbarnea commented on #25757
@bcoca I am on @alikins side here, ansible should use Python logging facilities correctly. Python logging was not designed only for library errors, in fact it was designed using the same concepts as the Java ones that allow very well refined logging with handlers, filters.

Ansible should adapt and extend its logging to fit actions into normal logging without abusing them.

[2017-08-25 11:13] ssbarnea commented on #25761
I think that Ansible should be gradually refactored to use the standard Python logging method instead of the `Display()` facility as that one provides everything needed for extending logging. Callback plugins should work more like Logging handlers.

Current logging design (implementation) is crippled quite well, harcoded logging levels, impossible to define different logging levels for each destin

[2017-08-25 11:19] ssbarnea opened #28660 "Host specific messages are not logged to file"
Host specific messages are not logged to file due to this line which has no reason around and no way to workaround it: https://github.com/ansible/ansible/blob/498aea8acc2f9eb64228f505547ceedaae4f2687/lib/ansible/utils/display.py#L186

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### SUMMARY
Logging to file should not be crippled (missing information th

[2017-08-25 11:25] Hr0bar commented on #28652
Update: seems with --become it works:

ansible -m setup HOSTNAME --become
HOSTNAME | SUCCESS => {
    "ansible_facts": {
....

Running swlist as unprivileged user on those systems is returning this:

[code]

 which probably makes this not work correctly:
[code]

No idea how it was able to fill "ansible_distribution_release": "B.11.23",  from that non-functioning swlist output though as that info i

[2017-08-25 11:30] ssbarnea commented on #13702
@mgedmin @bcoca also see https://github.com/ansible/ansible/issues/28660 -- time to merge some fixes related to logging.

[2017-08-25 11:41] privateip commented on #28310
@JOEtheROUTERman there is something much more fundamentally wrong going on here.  The `-c local` should force ansible to use connection local and for some reason its still trying to use ssh.  Can you try the following command and let me know if it is successfully?

`ansible -m ping -c local 192.168.1.100`

needs_info

[2017-08-25 11:51] #26725 closed, assigned to privateip

[2017-08-25 13:01] #28194 closed, assigned to nobody

[2017-08-25 13:07] XooR opened #28666 "setup with delegate_facts don't work with ansible_host being set to IP/hostname"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

setup module.

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS release 6.6 (Final)

##### SUMMARY
Gather facts on host which have setup in inventory 'ansible_host' don't work. But if you don't set ansible_host and rely on inventory name to be resolved by DNS then it stores correctly facts in 'hostvars'.

##### STEPS TO REPRODUCE

[2017-08-25 13:14] dagwieers commented on #28194
So I consider this bug fixed. Let me know if you would still have issues with the xml module.

[2017-08-25 13:15] rhpvorderman commented on #28551
Solved the issue thanks to @nrwahl2. It turned out that indeed ansible_ssh_user is deprecated and replacing all instances of `ansible_ssh_user` with `ansible_user` solved the problem while maintaining  the functionality of switching users.
Thanks a lot for your time!
[code]

[2017-08-25 13:15] #28551 closed, assigned to nobody

[2017-08-25 13:16] dagwieers commented on #28193
Ok, so another possibility is the fact that **pretty_print** also enables **remove_blank_text** which causes this.
To be investigated.

[2017-08-25 13:18] dagwieers commented on #28119
I updated the documentation to add the undocumented **attribute** parameter, and also added an example where it is being used.

But I agree with you that the module could be improved in many ways, and we already have been doing quite a lot recently. If you're interested to help out, feel free to join us at: https://github.com/ansible/community/wiki/Module:-xml

Or add your own notes to that Wiki p

[2017-08-25 13:29] dagwieers commented on #27951
So an example has been added to demonstrate how to do this.

[2017-08-25 13:30] dagwieers commented on #28119
So we still need someone to make this work with just an xpath value, which is what most user will be expecting.
needs_contributor

[2017-08-25 13:40] trishnaguha commented on #28210
https://github.com/ansible/ansible/pull/28599 should fix the issue.

[2017-08-25 13:49] brainstorm commented on #25414
It would help if not only `apt` benefited from this feature, I guess that other package managers also have some sort of locking mechanism... perhaps abstracting it away to [package module](https://docs.ansible.com/ansible/latest/package_module.html) instead would be more portable/beneficial in general?

[2017-08-25 14:06] mikewiebe commented on #27319
Closing this issues since it's we are no longer able to reproduce it in latest `devel`

[2017-08-25 14:06] #27319 closed, assigned to Qalthos

[2017-08-25 14:07] mikewiebe commented on #27330
@Qalthos I am looking into this issue now and will open a PR with the fix.

[2017-08-25 14:22] stephanfriedrich opened #28668 "uri module issue before redirect: An unknown error occurred"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
 * Ubuntu 14.04.5 LTS

##### SUMMARY
Try to download latest atom.deb from atom.io/download/deb (tested both https/http) but get the Error **"An unknown error occurred:"**

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS

"uri" should redirect to atom-gith

[2017-08-25 14:33] sivel commented on #28668
I cannot reproduce this:

[code]

[2017-08-25 14:43] 1NoOne1 commented on #28649
@dagwieers  I don't see any access-related events in vCenter, in-fact the error is being taken from the vCenter. I only see the same error in vCenter too.  [ Unable to access the virtual machine configuration: Unable to access file [xio-mgmt-lun02] Test_Templatecentos7/Test_Templatecentos7.vmtx ]

I used the same credentials in Ansible as well as in PowerCLi. Admin is the only user in my vCenter a

[2017-08-25 14:44] mikewiebe commented on #27330
@Qalthos Turns out that this is a bug in older nxos versions.

When we first enable nxapi, everything looks good.

[code]

If we configure a different https port however and then disable http there is a display bug.

[code]

As you can see above port `9443` is displayed as an `HTTP` port instead of `HTTPS`.  I am going to modify the module to use show run all | inc nxapi instead of `show nxapi`.

[2017-08-25 15:03] draxxris opened #28670 "jinja2-created global variable not processed correctly with "when" statement for include tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

base

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 & Centos 7

##### SUMMARY

If you configure a global variable in your playbook derived from Jinja2 code, the variable is properly processed when calling it via "debug" task. However, when you use it as a "when" clause in an "include" task, ansible pr

[2017-08-25 15:10] briceburg commented on #28386
@kabo thanks -- you're correct. I want to make sure that this is tested for non-round-robin domains as well. Did you try your patch against a domain where a single record is the expected return?

[2017-08-25 15:12] JoelFeiner commented on #16183
@bcoca: please consider re-opening. The problem isn't just that the user made a syntax error. The problem is that the error message is both incorrect and not helpful. It says that specifying include variables at the top-level is deprecated, but the actual issue is something else. It also does not provide file names or line numbers, making it very difficult to find the source of the problem. I will

[2017-08-25 15:13] JoelFeiner commented on #12282
It looks like a new issue was opened, as requested (https://github.com/ansible/ansible/issues/16183), but was then closed as a user error. I will file a new ticket and hopefully this one will get traction.

[2017-08-25 15:20] mikelococo commented on #25998
I believe I'm affected by this or something quite like it. When upgrading across stable tags, ansible 2.2.0.0 ignores the "latest" directive and claims the resource is unchanged even though it needs to be. Note there is an unusual "version" being applied here (latest-5) but it's a valid version tag in npm and works fine for package installation via ansible.

[code]

[2017-08-25 15:24] JoelFeiner opened #28672 "Invalid deprecation warning message with certain types of syntax errors"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Seems to be a core feature.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg
[code]

No environment variables changed

##### OS / ENVIRONMENT
Ubuntu 17.04 x86-64

##### SUMMARY

If you have a playbook that has a misnamed task parameter, instead of getting an appropriate message about an unknown parameter, and file/line informat

[2017-08-25 15:24] JoelFeiner commented on #28672
Relates to:
 - https://github.com/ansible/ansible/issues/12282
 - https://github.com/ansible/ansible/issues/16183

[2017-08-25 16:36] dmsimard opened #28674 "The Ansible/Jinja parser incorrectly tries to parse command/shell comment blocks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ``command``
- ``shell``

##### ANSIBLE VERSION
``ansible 2.4.0``

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
not relevant

##### SUMMARY
The Ansible/Jinja parser incorrectly tries to parse/match unrelevant quotes in the command or shell commands.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
An Ansible command or shell

[2017-08-25 16:46] sivel commented on #28670
This should be resolved in the upcoming 2.4 release as part of https://github.com/ansible/ansible/pull/25092

Please verify that the `devel` code works as expected.

needs_info

[2017-08-25 16:47] sivel commented on #22690
duplicate_of 25092

[2017-08-25 16:51] #22690 closed, assigned to jimi-c

[2017-08-25 17:02] draxxris commented on #28670
Yes, confirmed fixed via work done in #25092

[2017-08-25 17:02] #28670 closed, assigned to nobody

[2017-08-25 17:05] vrischmann commented on #27960
I've got the same problem. Running a redis container with `docker run -d --name redis-test redis` and then trying to stop it fails:

    $ ansible "node1" -m docker_container -a "name=redis-test state=stopped"

    node1 | FAILED! => {
        "changed": false,
        "failed": true,
        "msg": "Error creating container: 400 Client Error: Bad Request (\"{\"message\":\"No command specified\"}\

[2017-08-25 17:23] eprigorodov commented on #11544
Correction: [rekey operation](https://github.com/ansible/ansible/blob/8d14f9d5787cd971e699ab74349d2b26cad6bbf7/lib/ansible/parsing/vault/__init__.py#L786) does not delete the original file and just writes new content over, so it is not affected by this bug.

It hints that possible reasons for deleting the original (listed above) are not very significant.

[2017-08-25 17:32] jebabin commented on #27299
Hello,

I face the same issue. There was quite a number of change in devel related to jmespath so I tried today on devel and the issue is still there. Also as there was suggestion that it could come from Jinja2 I made the same test than @bdlamprecht (I saw it after) and tested with Jinja 2.8.1 and Jinja 2.7.3 (and 2.9.6).

I build an easier playbook to reproduce:
[code]
Output:

[code]
To ensure i

[2017-08-25 18:17] umangmajmudar commented on #22402
@rosmo I am seeing same problem - failure due to interactive question - while gluster volume creation. Was this problem addressed in Ansible. Or do we have any other way to tackle it through Ansible.

I tried removing 'force=yes', but no luck.

I am on ansible 2.3.1.0

Error:
command (rc=1): This configuration is not optimal on most workloads. Do you want to use it ? (y/n) gluster cli read error\n

[2017-08-25 18:50] nrwahl2 commented on #22265
PR is in. Waiting for reviewers.

[2017-08-25 18:53] akamac commented on #23940
I can confirm everything is working as of commit a7fd806fde22c14226ea1dba2158a5d53ec32d37

[2017-08-25 19:47] mikewiebe commented on #27402
@trishnaguha I will investigate this issue since I have access to a physical n7k in my lab and open a PR with the fix.

[2017-08-25 20:45] paulcalabro commented on #14248
👍

[2017-08-25 20:50] LaurentDumont commented on #28545
Hey @helldorado,

It definitely looks like it's going too fast for a free VMID to get chosen. That said, I am not running a Proxmox cluster right now, just two separate nodes. I still experience sporadic failures when creating VMs though proxmox_kvm. I'll implement your patch asap and provide you with a report.

By the way, thank you for the module, it's awesome.

[2017-08-25 20:51] bryan-croft opened #28679 "ansible_lvm.lvs facts can't handle LVs with same name and different VGs"
- Bug Report

##### COMPONENT NAME
LVM fact gathering

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The hash produced by fact gathering for ansible_lvm uses the LV name as the key, but you can have multiple LV's on a system with the exact same name. In this case, only the last LV discovered is shown in the hash.

##### STEPS TO REPRODUCE
Cre

[2017-08-25 21:05] ghost opened #28681 "junos_config: unable to delete interfaces (UnicodeEncodeError)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible.cfg:
[defaults]
host_key_checking=False
timeout = 10

##### OS / ENVIRONMENT

N/A
##### SUMMARY

##### STEPS TO REPRODUCE

Easy to reproduce, just launch the following play, the workaround found is to replace line 231 `config = str(match.text)` by `config = match.text.en

[2017-08-25 21:09] kabo commented on #28386
Yup, setting a single domain works as well. There are differences compared to the current behaviour though.

Let's say the domain `a.com` currently has an A record pointing to `1.1.1.1`. If you run this play with my patch:

[code]

you'll end up with two A records, one pointing to `1.1.1.1`, and one pointing to `1.1.1.2`. The current behaviour is to replace the A record.

If you want to remove an

[2017-08-25 21:15] ksingh7 commented on #28580
@nrwahl2  Thanks a lot for the pointer.
I was actually missing GCE service account key ( json file ) that has a private key/value pair in it.

Using that file, managed to launch instances.

[2017-08-25 21:15] #28580 closed, assigned to nobody

[2017-08-25 21:32] nrwahl2 commented on #28652
@Hr0bar Do you want to contribute the fix for this? It can be pretty fun. Here are some guidelines:

http://docs.ansible.com/ansible/latest/community.html
https://github.com/ansible/ansible/blob/devel/CONTRIBUTING.md
http://docs.ansible.com/ansible/latest/dev_guide/index.html#ansible-developer-guide

This could be a good chance to get your feet wet and get started if you're interested. Let us know

[2017-08-25 21:41] karrots opened #28683 "When `with_items` is used with a set operation it fails."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Set operations in tasks return `set()` instead of item.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Updated to a git release of Ansible

##### OS / ENVIRONMENT
Running ansible on Linux but doesn't seem to be an OS level issue.

##### SUMMARY
When using set operations with `with_items` returns `set()` instead of the item in the loop.

####

[2017-08-25 21:53] #27951 closed, assigned to nobody

[2017-08-25 21:53] #28119 closed, assigned to nobody

[2017-08-25 22:06] mikewiebe commented on #27403
@trishnaguha We are running this playbook as part of our integration tests for nxos.  I did a quick search for `ansible.cfg` files under the integration folder and I found the following.

`targets/pull/pull-integration-test/ansible.cfg`

Is this the file I need to modify?  I tried adding it there but it made no difference.

I suspect I might need one under a directory called `targets/nxos`?  Not s

[2017-08-25 22:24] exequielrafaela commented on #10006
+1

[2017-08-25 22:54] jebabin commented on #27299
After further testing, the issue seems to come from the @
If you quote it (to turn it to a string instead of a special character), no error is triggered (but of course it's not working as expected)
from the error message in my test
`fatal: [localhost]: FAILED! => {"msg": "JMESPathError in json_query filter plugin:\nIn function contains(), invalid type for value: abc, expected one of: ['array', 'st

[2017-08-25 23:10] nrwahl2 commented on #28666
@XooR It looks like this has been fixed in Ansible 2.4. I'm unable to reproduce on 2.4. Playbook and inventory are copy-pasted directly from yours.

2.4:
[code]

2.2.1 (I don't have 2.3.1 available at the moment):
[code]

Are you able to test with Ansible 2.4 on your system?

[2017-08-25 23:16] #23766 closed, assigned to nobody

[2017-08-25 23:16] #23774 closed, assigned to nobody

[2017-08-25 23:30] dagwieers commented on #28668
Me neither, works fine for me. So the issue is likely related to the environment. DNS issues, network problems, proxy config ? Anything that could trip the **uri** module ?

BTW The `status_code` option is not really required.

[2017-08-25 23:39] jebabin commented on #27299
Looking at the code (plugins/filter/json_query.py), the error happen at
[code]
I've made some basic test:
Added debug to display expr and data
[code]
both looks good.
I then replaced `jmespath.search(expr, data)` by `jmespath.search('results[*].stdout_lines[?contains(@, `c`) == `true`]', {"results": [{"stdout_lines": ["abc","def"]}]})` and it works.
I then replaced  `jmespath.search(expr, data)` b

[2017-08-26 00:08] einarc commented on #28087
I cannot update to 2.3.2 because it breaks another module, aws s3:

"
![image](https://user-images.githubusercontent.com/6519208/29736598-a642bd02-89b7-11e7-9d6f-48df2012acc2.png)

"

Code:
- name: Inject SQL - Get dump
  s3: bucket="{{ s3_bucket }}" object="{{ s3_key }}" dest="{{ s3_sql_file }}" mode=get overwrite=always
  when: create_rds
  tags: rds_database
  when: create_rds

Case:
https://ac

[2017-08-26 00:09] basictheprogram commented on #28611
I tried with and without the quotes with win_shell and neither worked. At least for deleting the Win32_TCPIPPrinterPort.

I did not know you could inline Powershell functions. But I use the DeletePrinterPort logic in multiple roles so I'd prefer to have it as a stand alone script.

[2017-08-26 00:12] jebabin commented on #27299
I have a good news and a bad news.
I have a fix/workaround but.. I don't know why it works

to fix, in json_query.py add `import ast` then add `data = ast.literal_eval(str(data))` in `json_query()`

It convert the original data, which is a "dict" and when printed, looks good, to a string and convert it back to dict.

I'm not understanding the fix but it works.. I'll not make a PR has I have no exp

[2017-08-26 03:47] nrwahl2 commented on #28683
@karrots Is this relevant to your needs? https://stackoverflow.com/questions/43660868/ansible-regex-findall-multiple-sets (which also links to https://stackoverflow.com/questions/43902117/ansible-list-of-lists-flattening)

`with_list` might be your friend here. I don't have my own test case or networking gear to verify right now, so I'm using an artificial one based on those forum posts:

[code]
[

[2017-08-26 03:48] nrwahl2 commented on #28683
Everything in `ansible/lib/ansible/plugins/lookup` can be used in a `with_*` construction. Unfortunately, some of them are not yet documented.

[2017-08-26 04:49] karrots commented on #28683
The SE examples are not quite the same. The regex I use only returns one capture group the examples return two captures per item. This would make them a set. That said your example did get me thinking and I modified it to match my use case more closely. It seems to work which leads me to believe the issue is not with the `difference()` filter but with the `regex_findall()`

My playbooks worked fin

[2017-08-26 04:51] karrots commented on #28683
Forgot to post the closer playbook.

[code]

[2017-08-26 05:01] karrots commented on #28683
This playbook produces the error I am seeing.

[code]

[2017-08-26 05:12] karrots commented on #28683
Ok so I am not sure what is going on. I rolled back ansible versions to 2.3 and 2.2 and this example had the same results. I'll have to look in my repo for other changes that may have caused this. Pretty sure none of the affected roles were modified recently.

[2017-08-26 05:13] nrwahl2 commented on #28679
@bryan-croft AFAIK, there's no way to refactor the code in place without changing the data structures and breaking existing user code all over the place. I completely agree that the current output is not acceptable -- in my work environment we frequently have same-named lvols in different volgroups.

I lean toward creating a new item in the `ansible_lvm` fact that structures this information in a

[2017-08-26 05:29] karrots commented on #28683
The reason the last playbook fails is the regex is not working quite right in that sample. Unsure why exactly as the config is nearly a straight copy paste. I setup another playbook with non-regex dummy data taken from my failing play. It works fine in the test suite. I guess there is the possibility it's an `ios_config` issue and not a general `with_items` issue.

[2017-08-26 06:16] nrwahl2 commented on #28683
Curious, did you also try it with `with_list`? Both `with_list` and `with_items` work identically for me with our test playbook (the one with `set1` and `set2`). I wish I could play around with `ios_config` to help troubleshoot there. Alas.

[2017-08-26 06:16] MaxKh opened #28688 "'--module-path' CLI option is ignored in '--list-*' actions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Archlinux x86_64, Python 2.7.13

##### SUMMARY
'--module-path' CLI option ignored in '--list-*' actions

##### STEPS TO REPRODUCE
Call `ansible-playbook -i "inv"--module-path "custom_modules_path" <--list-tasks|--list-targets|--list-tags> "playbook"`

##### EXPECTED RESUL

[2017-08-26 06:46] nrwahl2 commented on #28674
Maintainers, what do you think of adding a boolean for `inside_comment` in `ansible/lib/ansible/parsing/splitter.py` when `check_raw` is `True`, and not modifying `inside_quotes` if we've hit a `#` sign and are thus inside a comment? I don't know the implications of trying to convert everything to a raw string, which is the only other option coming to mind.

[2017-08-26 07:04] nrwahl2 commented on #28672
@JoelFeiner If you use `import_tasks` for static task includes and `include_tasks` for dynamic task includes, you should no longer see these warnings **on 2.4**. I was clued in because my deprecation warnings on 2.4 are more descriptive.

It looks like someone halfway updated the deprecation warnings and then stopped and committed. The formatting is a bit off, and it's not accurate. `include_tasks

[2017-08-26 07:08] nrwahl2 commented on #28672
FWIW, this is what happens when I try to run the third iteration above (the one with `include_tasks`) on Ansible 2.3.2:
[code]

[2017-08-26 08:51] nrwahl2 commented on #28688
Here's the reason it's acting that way:
From `ansible/lib/ansible/executor/playbook_executor.py`:
[code]
From `ansible/lib/ansible/executor/task_queue_manager.py`:
[code]

Because it's not creating a TaskQueueManager instance, nothing is loading the modules you've specified.

The core maintainers will have a better understanding than I do of the implications. I look forward to continuing this disc

[2017-08-26 08:52] Hakulaku commented on #22402
@umangmajmudar For now i suggest you to use command/shell module where you use the normal gluster volume create  as you would do in ssh. Just dont forget to add the --mode=script at the end

[2017-08-26 09:06] Hr0bar commented on #28652
@nrwahl2  I could do the workaround with the separator logic, but that wouldnt be the correct solution.

This was the output on affected systems:
[code]
So both release and version were set incorrectly (info in release is correct but should be in version instead) and this info is being used at many more places, so only doing a workaround for this particular Index Out of Range error wouldnt be good

[2017-08-26 09:20] bale836 opened #28690 "To check the removes should be before chdir"
https://github.com/ansible/ansible/blob/550c00a74562ee5f0b4febd452af4a32f7b2172f/lib/ansible/modules/commands/command.py#L166

Like my code:

    - name: check status
      shell: ./status.sh
      args:
        chdir: /home/usr/bin
        removes: /home/usr/bin/status.sh

i want if the scripts doesn't exist, then do not run this step, but the code execute the chdir firstly, so report the path is

[2017-08-26 10:55] MaxKh commented on #28688
Yep
I took a look at sources and got the same conclusions.

moule_loader plugin is initialized using path from ANSIBLE_LIBRARY if present. And it helps to avoid the issue.

[2017-08-26 13:05] karrots commented on #28683
I did it starts returning single letters from the word `set()`.

On Aug 26, 2017 12:16 AM, "Reid Wahl" <notifications@github.com> wrote:

Curious, did you also try it with with_list? Both with_list and with_items
work identically for me with our test playbook (the one with set1 and set2).
I wish I could play around with ios_config to help troubleshoot there. Alas.

—
You are receiving this because

[2017-08-26 13:52] dmsimard commented on #28674
That reminds me, I tried using the {% raw %} Jinja directive in the task but the issue still reproduced.

[2017-08-26 16:19] nrwahl2 commented on #28652
I'll be responding to those in kind of reverse order.

Well, as for the testing environment, I have HP-UX 11.00, 11.11, 11.23, and I believe 11.31 somewhere, in ia64 and PA-RISC versions. I really dislike HP-UX but I deal with a lot of legacy servers. Unfortunately, they have some configuration issues I won't go into that cause the setup module to fail -- but I can run shell commands.

I think you

[2017-08-26 16:38] nrwahl2 commented on #28683
This is going to make both of us angry if it works. Try switching your single and double quotes on your `set_fact`, and putting `_servers` on the next line as a dict key. I wasn't seeing the same `item=set()` behavior as you were, but this may be a clue. See my four test cases below.

If this works, I don't know why it's not being parsed correctly when the fact is set inline. Someone with more exp

[2017-08-26 16:40] nrwahl2 commented on #28683
FWIW I almost always put my dict keys on separate lines just because inline gives me syntax highlighting problems with nested quotes ;)

[2017-08-26 16:54] nrwahl2 commented on #28690
Can you provide your expected results and actual results? This is the behavior I see running basic test cases:
[code]

[code]

[2017-08-26 18:02] karrots commented on #28683
So yeah that change of lines fixes the regex in the test suite. The original way with the `=` works fine in production based on `-vvv` output. The odd thing is the results without `-vvv` are the same in the end. Just one doesn't show any data being inserted into `_server`.

[2017-08-26 18:16] stephanfriedrich commented on #28668
ok thx,
i got the error with travis-ci... hope its only a travis issue

[2017-08-26 18:16] #28668 closed, assigned to nobody

[2017-08-26 18:22] mattionline commented on #24110
I also have a problem: (2.3.1.0)

[code]

`failed: [monitoring] (item=[u'git', u'base-devel', u'boost', u'cmake', u'libmariadbclient', u'postgresql-libs', u'wxgtk']) => {"failed": true, "item": ["git", "base-devel", "boost", "cmake", "libmariadbclient", "postgresql-libs", "wxgtk"], "module_stderr": "Shared connection to monitoring closed.\r\n", "module_stdout": "\r\nTraceback (most recent call las

[2017-08-26 19:38] TomaszKlosinski commented on #16073
For which version are you planning to merge this feature?

[2017-08-26 19:42] nrwahl2 commented on #28683
To make sure I'm understanding, is the same issue still present in production? If so, could you post the `-vvv` output of the task here (at least for the next person who comes along ;) )?

[2017-08-26 19:45] nrwahl2 commented on #28690
Okay, I THINK I see what you're saying... are you wanting the `if removes` block to execute before the `if chdir` block? If so, I'm going to say no. That would break existing code that uses relative paths and relies on the current order.

Can you give us a use case where it might be necessary to run `if removes` before `if chdir`? It seems like your example code already uses a valid workaround: yo

[2017-08-26 20:02] karrots commented on #28683
The problem was still in production. I did figure out the issue though with the help of `git bisect`. I believe the issue is because the difference between the two sets is nothing. The test cases always had some result.  Below is a test case which emulates my issue more closely. So this doesn't look like a bug but an issue with my role. Just surprised I haven't run into it yet with my testing as I

[2017-08-26 20:07] sivel commented on #28668
You may be suffering from issues of selecting the wrong python interpreter to run ansible while using travis-ci.  You may get some additional guidance from https://github.com/ansible/ansible/issues/23642#issuecomment-297778256

[2017-08-26 20:28] nrwahl2 commented on #28674
I'm taking a fresher look at `splitter.py` and dealing with Jinja comment block depths is going to make things trickier. If these were passed as-is to the shell, we could look for an un-escaped `#` and break out of the inner for-loop.

[2017-08-26 20:29] nrwahl2 commented on #28683
I was thinking exactly that while I was lying in bed this morning, and then I forgot by the time I got to the computer. I'm glad you figured it out! Kudos.

[2017-08-26 20:33] karrots commented on #28683
For posterity, I should say the fix for this is to add the following line to the task.

[code]
Not elegant but it works.

[2017-08-26 20:38] karrots commented on #28683
Actually, I miss typed that fix and it doesn't actually work. I am unsure how to work around this issue.

[2017-08-26 21:01] nrwahl2 commented on #28683
I see in my emails that your initial fix involved `when: ntp_old_server is undefined`. Have you tried `when: ntp_old_server is defined`?

Also, I'm still having to put `_servers` on its own line to make it work on my box.

[2017-08-26 21:04] karrots commented on #28683
Yea, the trouble is its always defined. I think that's part of the problem. The difference operation is returning an empty set when it should be returning nothing.

[2017-08-26 21:15] karrots commented on #28683
My issue looks related to this issue #10098

[2017-08-26 21:18] karrots commented on #28683
The following change seems to have fixed the issue.
[code]

Full code
[code]

[2017-08-26 21:18] #28683 closed, assigned to nobody

[2017-08-26 22:50] nrwahl2 commented on #28674
@dmsimard : I've submitted PR #28694

[2017-08-26 22:59] awprgrmmr commented on #18904
Is there an update on this?

[2017-08-26 23:06] nrwahl2 commented on #28290
@skamithi : Thanks for reporting this! The code block was there but wasn't displaying due to a syntax error (missing colon). I've submitted PR #28695

[2017-08-26 23:09] dagwieers commented on #28193
OK, I see why this happens. You don't have **pretty_print** enabled.

This works fine for me:
[code]

[2017-08-26 23:15] dagwieers commented on #28193
I am closing this. In case you still have issues, let us know !

[2017-08-26 23:15] #28193 closed, assigned to nobody

[2017-08-26 23:17] nrwahl2 commented on #21041
Thanks @andresvia . I've submitted PR #21041

[2017-08-26 23:26] nrwahl2 commented on #16942
@vincelugli @alikins @gundalow : It looks like this was implemented and the issue was never closed. I don't have a Mac to validate. Could you check?

On 2.4:
[code]

[2017-08-27 00:22] nrwahl2 commented on #22335
Great idea, @sedrubal! I've created PR #28698 to implement this.

[2017-08-27 00:22] nrwahl2 commented on #22335
@alikins Don't mean to step on your toes.

[2017-08-27 00:50] nrwahl2 commented on #18748
Looks like we need to get `import_role` implemented.

[2017-08-27 02:54] ksylvan commented on #28193
Thanks. Got it.

[2017-08-27 03:22] rfrench42 opened #28699 "lambda role doesn't accept AWS GovCloud ARNs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/amazon/lambda.py

##### ANSIBLE VERSION
ansible 2.3.2.0

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
AWS Ubuntu 16.04
Linux 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

AWS GovCloud (us-gov-west-1)

##### SUMMARY

Attempting to set the role to either just

[2017-08-27 03:57] nrwahl2 commented on #18904
Submitted PR #28700 as a first pass.

[2017-08-27 04:46] nrwahl2 commented on #25539
@dagwieers Where is this param hooked in? I can't find it in any files except a doc file. Have you already made a change?

I grepped recursively through the whole Ansible directory structure... most promising thing I could find was `plugins/connections/winrm.py`.

[2017-08-27 05:13] nrwahl2 commented on #20752
Thanks, @molekuul . Submitted PR #28701

[2017-08-27 05:45] nrwahl2 commented on #23203
@bcoca I added a few lines to account for this condition and line up the behavior with what's in the docs.
[code]
It's still failing currently due to this in `module_utils/basic.py`:
[code]

The failure message after fixing the initial failure in `modules/file.py` is `Path /var/www/example.com/docroot/data/.htaccess does not exist`. This is the only place I can find that message.

I'll check later

[2017-08-27 07:49] nrwahl2 commented on #28318
Here's where it's being set:
[code]

What I would need to know (core team pls help) is where variables like `remote_tmp` are stored that modules can access. I've been digging and can't seem to find the Great Dictionary. If we can find it, then we should be able to conditionally override the `jobdir` value.

Edit: I'm only finding them available through action plugins importing `playbooks/play_cont

[2017-08-27 11:05] Thulium-Drake opened #28702 "Passwordstore Lookup - New 'errors=ignore' not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
passwordstore lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The passwordstore lookup doesn't seem to be working with the Jinja2 default() filter.
##### STEPS TO REPRODUCE

I have defined code as below:

[code]
But this doesn't result in Ansible looking up the 'root-passwords/default'

[2017-08-27 11:47] dagwieers commented on #25539
No, I haven't looked at fixing this. I think we need a discussion here what we expect first.

[2017-08-27 13:22] sreeprasadn opened #28703 "Running AWS command using shell module fails in one hosts saying UNREACHABLE"
##### SUMMARY

Running aws command line utility using shell module. This command works in all the hosts in the same vpc except one (10.0.57.247). all other commands and modules are working fine. All the servers have the same configuration. Only difference is this server is in different availability zone

[code]

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONE

[2017-08-27 16:05] ar7z1 commented on #28555
@Manakel166 Do you need some help to run ansible from `devel` branch?

[2017-08-27 18:28] ghost commented on #24483
This is basically the reason why it is not possible to use hostvars when vagrant is use. The hostvars for other hosts are not loaded because vagrant uses --limit and specifies --inventory-file= (directory). Only the variables of the current host are loaded.

Is there a reasonable way to work around this problem with vagrant (without forcing limit=all).?

[2017-08-27 18:42] ghost commented on #11423
Please reopen. It doesn't seem to work here. The hostvars of other machines in vagrant are not correctly filled in. Only the group_vars and host_vars of the current machine are applied. See also #24483

[2017-08-27 19:17] nrwahl2 commented on #25539
That's fair. Just trying to find where the `ansible_winrm_read_timeout_sec` is even handled in the code.
[code]

[2017-08-27 19:35] dagwieers commented on #25539
It's in pywinrm.

[2017-08-27 19:52] jborean93 commented on #25539
@nrwahl2, most of the `ansible_winrm_*` are passed directly into the winrm protocol args here https://github.com/diyan/pywinrm/blob/master/winrm/protocol.py where `*` is the key in pywinrm.

[2017-08-27 19:54] nrwahl2 commented on #25539
Thanks!

[2017-08-27 19:56] nrwahl2 commented on #25539
Yep, I see now, in the plugin.
[code]

[2017-08-27 20:33] ksingh7 opened #28707 "GCE : unable to attach existing Static External IP to Instance during launch"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- gce
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- no change in ansible.cfg

##### OS / ENVIRONMENT

MACos Sierra 10.12.6

##### SUMMARY

- An existing External Static IP is not getting attached to an instance launched using gce ansible module
##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

- After creating a fresh in

[2017-08-27 20:47] ksingh7 commented on #28707
Fixed after applying fix #19701

[2017-08-27 20:47] #28707 closed, assigned to nobody

[2017-08-27 21:14] nrwahl2 commented on #25539
Couldn't we just try a type conversion (at least for the timeout) in the winrm plugin? It's ultimately calling Python's `requests.Session.send` method via `winrm.transport`.Transport and expects a float if a single value is passed. (Okay, not **ultimately**... it goes down through `requests.packages.urllib3.util.timeout` for `Timeout`.)

Tests with dummy values:
With string value for `read_timeout

[2017-08-27 21:26] jborean93 commented on #25539
I feel that the parsing and potentially trying to convert the values should be in pywinrm as Ansible doesn't have full control over the kwargs that are parsed in. The reason why these variables are dynamic is so different pywinrm versions can be installed to take advantage of newer functionality without the need to update Ansible. If we were to hard code in these conversions for some of the timeou

[2017-08-27 21:34] nrwahl2 commented on #28702
@Thulium-Drake Try it as:
[code]

http://nikhilism.com/post/2016/understanding-ansible-jinja2-default-filter/

[2017-08-27 21:49] nrwahl2 commented on #25539
I agree with that. Unless that will break something else in pywinrm, typecasting with `float()` in pywinrm ought to work:
[code]
^in protocol.py causes the "float is required" error to stop happening for me.

[2017-08-27 21:57] mhalano opened #28708 "Support for Netplan"
First of all: I checked for "netplan" on issues and there's no result.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nplan or netplan (suggested names)

##### ANSIBLE VERSION
No need since is just an idea and not a bug.

##### OS / ENVIRONMENT

##### ANSIBLE VERSION
No need since is just an idea and not a bug.

##### OS / ENVIRONMENT
Ubuntu 17.04 or newer

##### SUMMARY
Ubuntu standardiz

[2017-08-27 22:01] nrwahl2 commented on #28703
@sreeprasadn I don't see how this is an issue with the shell or command module. The error says the host is unreachable over SSH. Based on that, the same thing should happen if you run `ansible 10.0.57.247 -a 'hostname'`.

Can you connect to 10.0.57.247 over SSH from this server, OUTSIDE of Ansible? If so, then you need to be looking at your Ansible connection configs for that host. (Try it with `-

[2017-08-27 22:03] nrwahl2 commented on #23203
I'd rather go with the second or third option. I don't think it's wise to go mes with `selinux_context` just to fix this unexpected behavior in `file`.

[2017-08-27 22:11] mhalano opened #28709 "Systemd-networkd support"
I searched  for systemd-networkd~and just find bugs, nothing related to network management.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Suggestion: networkd

##### OS / ENVIRONMENT
I use Ubuntu. Unfortunately I can't provide much info because Ubuntu doesn't use systemd-networkd for network configuration.

##### SUMMARY
I think should have a module to manage network configuration when t

[2017-08-27 22:19] mhalano commented on #28709
I saw there's planned for 2.4 release a 'net_interface' module. I was wondering what technologies this module will support.

[2017-08-27 22:25] mhalano opened #28710 "netctl support"
I search for 'netctl' on issues and came no result.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Suggestion: netctl

##### OS / ENVIRONMENT
I use Ubuntu, but netctl is used on Arch Linux to manage network configuration.

##### SUMMARY
Should have a module to manage network configuration on Arch Linux using 'netctl' tool which has is the defauit tool for network configuration.

[2017-08-27 22:29] mhalano opened #28711 "ifupdown support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Suggestion: ifupdown

##### OS / ENVIRONMENT
Ubuntu, Debian, Red Hat, etc. uses it. Ubuntu is replacing by Netplan project, but old versions still use it.

##### SUMMARY
The idea here is have a module to manage the configuration (create and delete interfaces, create vlans,  etc.) on systems using ifupdown (Debian-like or Red Hat-like).

[2017-08-27 22:43] nrwahl2 commented on #22402
Submitted PR #28712

[2017-08-27 23:21] nrwahl2 commented on #12714
@hryamzik @bcoca This issue appears to be gone.
[code]

[2017-08-27 23:26] nrwahl2 commented on #24253
@JoelFeiner @nitzmahone This appears to be resolved as of 2.4. Could you please validate and close the issue (unless it's worthy of a backport)?
2.4:
[code]

[2017-08-27 23:36] nrwahl2 commented on #12085
@bcoca: Did merged PR #21739 fix this?

[2017-08-27 23:49] nrwahl2 commented on #24633
@szynaka @alikins : It seems that this is fixed. Can you please validate and close if fixed?
`csv.csv` is my unchanged file, `async-test.yml` is my changed file, and `hostvar.yml` is my new file. (Just pulled random files from my CWD.)

Showing only the debug portion:
[code]

[2017-08-28 00:23] abhisheks77 opened #28714 "Remote server UNREACHABLE, when using ping from ansible"
I have installed ansible (with vagrant) and trying to execute my first remote shell script on Ansible. I'm not able to ping the host with ansible. But if I ping server directly, I am able to. Even I can login to remote the server with my NIS account, mentioned in hosts file.Can somebody help me to find, what I missed in my configuration?

issue type -
Feature idea

##### ANSIBLE VERSION
[code]

[2017-08-28 00:40] raphaunix commented on #12286
This worked for me:

[code]
Enjoy.

[2017-08-28 00:46] sreeprasadn commented on #28703
@nrwahl2 The command ansible 10.0.57.247 -a 'hostname' works fine and no issues with it. Only issues is with aws ec2 describe-instances command, but this command works fine if run it locally.
[root@ip-10-0-57-139 ~]# ansible 10.0.57.247 -a 'hostname'
10.0.57.247 | SUCCESS | rc=0 >>
ip-10-0-57-247.us-west-2.compute.internal

[root@ip-10-0-57-139 ~]#

[2017-08-28 00:47] jborean93 commented on #28611
@basictheprogram, the main problem with your original example is that you have quoted the script path and parameters so when powershell goes it execute it it just sees it as a string.

As @dagwieers suggests you should be able to just run the full thing without the script which achieves the same results as running it with powershell.exe. The only negative of his example is when you have a space in

[2017-08-28 01:03] nrwahl2 commented on #28703
Any luck with `-c paramiko`?

-------- Original Message --------
On Aug 27, 2017, 19:46, sreeprasadn wrote:

[2017-08-28 02:26] basictheprogram commented on #28611
Thank you for the help. This play works.
[code]

[2017-08-28 02:47] Priminus commented on #22881
I too experience this, "set_fact" suffices for me however.

[2017-08-28 02:50] basictheprogram opened #28715 "win_command: setprinter.exe results different then setprinter.exe from cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Management host: macOS 10.12.5
Managed host: windows 7

##### SUMMARY

Similar user problem as https://github.com/ansible/ansible/issues/28611??

Using win_command to execute setprinter.exe has a different result then executing setprinter.exe from the cli

[2017-08-28 03:02] nrwahl2 commented on #28318
Got it! The changes needed to be made in `plugins/action/__init__.py` and `modules/utilities/logic/async_wrapper.py`. In `plugins/action/__init__.py`, `remote_tmp` is already pulled into a variable called `tmp` through a few steps in `_make_tmp_path`, and is then in scope for the `if wrap_async` block.

(Ignore the host pattern match warnings. Playbook points to localhost but I forgot to pass the

[2017-08-28 03:12] jborean93 commented on #28715
Argh, quoting is the worst and makes me wonder if we should have changed win_command to take in an executable and a list of args as separate variables. @basictheprogram can you change `\"` to just `"`, I wouldn't have thought you would need to escape the quotes when the overall raw yaml command isn't quoted.

I've never used `setprinter .exe` before so not sure if there are restrictions around it

[2017-08-28 03:31] basictheprogram commented on #28715
Then parameters with spaces aren't processed correctly.

[code]
And I wish there was an easier way to pass parameters into scripts/programs run via win_command, win_shell, raw, etc. As I learn powershell I've down a lot of Splatting.

[2017-08-28 03:46] nrwahl2 commented on #28318
@IOOOTAlan @jimi-c @nitzmahone : Created PR #28716

[2017-08-28 03:54] zweifisch commented on #25149
iptables_raw saves state, there is a pull request https://github.com/ansible/ansible/pull/21054

[2017-08-28 04:22] sreeprasadn commented on #28703
with paramiko I am getting the error. All other commands and module are working except ec2-describe instance

[root@ip-10-0-57-139 tasks]# ansible 10.0.57.247 -c paramiko -m  shell -a "/usr/local/bin/aws ec2 describe-instances --region "us-west-2""
10.0.57.247 | UNREACHABLE! => {
    "changed": false,
    "msg": "Incompatible ssh server (no acceptable macs)",
    "unreachable": true
}

I am able t

[2017-08-28 05:25] nrwahl2 commented on #28703
Can you update the issue with your OS version?

I'd like for you to try setting `ControlMaster=no` and removing `ControlPath`. This has been a good workaround for some users seeing this issue.

Sources:
https://serverfault.com/questions/705657/issues-with-ssh-and-ansible
https://github.com/ansible/ansible/issues/17935
https://github.com/ansible/ansible/issues/26359

Setting `serial: 1` has helped

[2017-08-28 06:55] Thulium-Drake commented on #28702
@nrwahl2 I have, but alas, it didn't work.

I've also checked the code of this plugin, but from what I can see it errors out when the requested password doesn't exist

[code]

So instead of returning Undefined or False, it raises the error stating that the create flag should be passed.

[2017-08-28 07:13] basictheprogram commented on #28431
I can learn.

Links on HOWTO?
Style conventions?

http://docs.ansible.com/ansible/latest/faq.html

How do I submit a change to the documentation?

Great question! Documentation for Ansible is kept in the main project git repository, and complete instructions for contributing can be found in the docs README [viewable on GitHub](https://github.com/ansible/ansible/blob/devel/docsite/README.md). Thank

[2017-08-28 07:16] fhowieson commented on #28714
What entries do you have in your hosts file?

[2017-08-28 07:20] abhisheks77 commented on #28714
`vagrant@precise64:~$ cat /etc/ansible/hosts

web1    ansible_ssh_host=tomcat-serv-adm1 ansible_ssh_port=22
vagrant@precise64:~$`

[2017-08-28 07:52] IOOOTAlan commented on #28318
Thanks a lot @nrwahl2!

[2017-08-28 07:55] nrwahl2 commented on #28318
You're quite welcome! Though I didn't realize this was going to require me to mess with Powershell. Grr, Windows....

[2017-08-28 08:06] dagwieers commented on #28431
@basictheprogram Some documentation is located at: http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html#return-block but you can just look at a few other modules that has RETURN defined in the module. (For Windows the module documentation lives in a .py file located next to the .ps module).

[2017-08-28 09:33] hryamzik commented on #12714
@nrwahl2 your approach is slightly different. Also note that in my case host `a` was outside play.

[2017-08-28 09:49] frenzymadness commented on #18456
Hi. Is my script ok or should I improve something?

[2017-08-28 10:29] thatscot opened #28718 "windows ansible winrm connection failing in 2.2/2.3 but not 2.1"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 - winrm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
pip installed babun to get ansible working.

ran these commands to get winrm working on ansible version 2.1:

winrm set winrm/config/client/auth '@{Basic="true"}'
winrm set winrm/config/service/auth '@{Basic="true"}'
winrm set winrm/config/service '@{AllowUnencrypted="true"}'

I have ran

[2017-08-28 10:54] amuraleedhar opened #28719 "Issue in trying ou to create a facts module - enos_facts.py"
[enos.txt](https://github.com/ansible/ansible/files/1256540/enos.txt)
[enos_facts.txt](https://github.com/ansible/ansible/files/1256539/enos_facts.txt)

My issue is not related to any bug with Ansible.
I am trying to create a facts module in line with ios and dellos.
I need help to figure out why I am not able to run the module where it is failing at connection.py
I am not able to figure out to se

[2017-08-28 11:20] nikolasgd commented on #20442
I do also agree that @bcoca is not correct about what this new behavior does and what it supposedly prevents. The new search path doesn't allow inclusion of templates from **_any_** other role but the role itself, even if the other role is in the same play.

Inclusion of templates from other roles within the **_same_** play was useful - it helped prevent repetition of common code blocks in templat

[2017-08-28 11:48] karniemi opened #28720 "yum task failed for "IOError: [Errno 9] Bad file descriptor""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum or some common libs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_STDOUT_CALLBACK=debug
ANISBLE_HOST_KEY_CHECKING=False

##### OS / ENVIRONMENT

RHEL7.3
##### SUMMARY

yum task failed for "IOError: [Errno 9] Bad file descriptor". In our CI we are running a playbook against a cluster of 13 virtual machines. Now in one CI run,

[2017-08-28 11:50] dirks opened #28721 "lineinfile with_items does not insert value of line if it occurred before"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lineinfile in combination with_items

##### ANSIBLE VERSION

[code]

##### SUMMARY
Ansible does not insert line if the identical value has been used before in loop, but only if the value of line is different.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-28 12:20] #27382 closed, assigned to nobody

[2017-08-28 13:51] marceloslacerda opened #28722 "Add option to force handlers to run even when no tasks are changed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
n/a

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
I explain my problem in detail [here](https://stackoverflow.com/questions/45916911/running-an-ansbile-handler-as-an-one-time-thing/45917807#45917807) but sumarizing:

I wished that there was a way to tell ansible to run a single handler (or ma

[2017-08-28 14:02] sathishts commented on #28454
Issue type : Authentication failed
Ansible version : 2.3.1.0

I just wrote a login verification code to multiple servers using ansible-playbook.
The code is working for all the linux server but fails for AIX servers.
But without using ansible i can able to ssh those AIX servers manually.
Error:
"Shared connection to XXXX is closed"

[2017-08-28 14:06] irsebas commented on #27727
@ipirva Running into the same issue here. Could you share your solution ?

[2017-08-28 14:37] alikins commented on #22335
@nrwahl2 No toes were stepped upon. Not sure if I ever created a pr for my fix.

(rebased my variant against devel if you want to take a look: https://github.com/ansible/ansible/compare/devel...alikins:vault_tmp_file_ext_22335)

[2017-08-28 14:45] bcoca commented on #28672
@JoelFeiner  you are 1/2 right, but also 1/2 wrong. Most tasks will give you a 'invalid keyword' message, but sadly `include` was special and allowed for 'variables' to be included at the same level as keywords, which is of course confusing .. so anything NOT recognized as a keyword is assumed to be a variable .. including misspelled keywords.

We deprecated this behaviour and plan to remove it to

[2017-08-28 14:45] #28672 closed, assigned to nobody

[2017-08-28 14:46] alikins commented on #28711
Would this overlap with 'nmcli' module? Or would this be aimed at systems not using NetworkManager?

[2017-08-28 14:54] alikins commented on #28714
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[code]

Note that 'ping' and 'ansible ping' are not equivalent. Ansi

[2017-08-28 14:54] #28714 closed, assigned to nobody

[2017-08-28 15:01] #22335 closed, assigned to alikins

[2017-08-28 15:01] alikins commented on #28722
For the original case from https://stackoverflow.com/questions/45916911/running-an-ansbile-handler-as-an-one-time-thing/45917807#45917807

[code]

That sounds like it would be a good scenario to use playbook blocks: http://docs.ansible.com/ansible/latest/playbooks_blocks.html

[2017-08-28 15:02] alikins commented on #28722
https://github.com/ansible/ansible/issues/27813 is somewhat related to this

[2017-08-28 15:07] alikins commented on #28564
item.id is a string, but in particular, it is an AnsibleUnsafeText  (a string type indicating it was returned from module output or facts so it can be treated different when templating).

That sounds like potentially a different issue. Could you paste the output from running at '-vvv' verbosity level when it throws the error?  And an example playbook that shows it?

[2017-08-28 15:09] mhalano commented on #28711
This module is for computers without NetworkManager, like servers.

[2017-08-28 15:11] JakeDEvans opened #28724 "nxos_config logs your password to syslog in plaintext"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config by default will log your username and password

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Default logging too verbose, includes data that should not be logged.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
log without password.

##### ACTUAL RESULTS
[code]

[2017-08-28 15:13] alikins commented on #28594
Was this working before ansible 2.3.2?

If possible, could you test this with the devel version of ansible? There have been some fixes related to the file modules and actions that may affect this.

[2017-08-28 15:19] alikins commented on #28674
[code]

Whats the use case for that?  Is there an example of where/when this caused a problem in practice?

(Note: not claiming it's not a bug or shouldn't be fixed, just curious how this comes into play...)

[2017-08-28 15:23] nrwahl2 commented on #28674
Something something dynamic something? ;)

Sent from ProtonMail mobile

-------- Original Message --------
On Aug 28, 2017, 10:20, Adrian Likins wrote:

[2017-08-28 15:26] dmsimard commented on #28674
@alikins there's no use case for that, it's just the easiest way to reproduce the issue.

The problem manifested itself when we were migrating legacy shell scripts verbatim to shell tasks (we plan on iteratively split them as proper ansible tasks later). One of the scripts had ``there's`` in one of the comments and I lost a significant amount of time trying to figure out where the syntax error was

[2017-08-28 15:30] nrwahl2 commented on #12714
@hryamzik How is my approach different? Here's another run where a (nrwahl1.mylabserver.com) is outside play.

[code]

[2017-08-28 15:36] alikins commented on #28679
Hmm, yeah, can't do much with the existing ansible_lvm data.

If we add another fact with the info, we could try:

  - using 'lvm_full_name' for the key _if_ it is sufficiently unique
  - dropping the dict and returning a list/set of tuples that could have dupes on the lvs name
  - slightly more complicated... replacing the 1:1 key: lvs_data_structure with a 1:N. ie, making the
   right hand side

[2017-08-28 15:37] maurofaccenda commented on #11496
having the very same issue, can we reopen this or should i create a new issue?

[code]

[2017-08-28 15:39] trishnaguha commented on #27403
@mikewiebe No. `command_timeout` is a config value. It applies the config to all the tasks. No way to apply this for single task for now.
I do not know where you have config values for your tests.
We have ansible.cfg here https://github.com/ansible/ansible/blob/devel/test/integration/network-integration.cfg

[2017-08-28 15:39] bcoca commented on #23203
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The 'not fail' part is in the context of `state=absent` which is part of the paragraph left out in the ticket, but clearly documented,

[2017-08-28 15:39] #23203 closed, assigned to bcoca

[2017-08-28 15:43] nrwahl2 commented on #23203
Ah, that makes sense. Duh.

[2017-08-28 15:48] rcarrillocruz commented on #23949
We are planning to put more efforts on testing IPv6 in our CI on 2.5, so moving it to next release.

[2017-08-28 15:48] Brayneded opened #28726 "junos_vrf vrf-table-label support"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Incomplete Junos VRF configuration

##### STEPS TO REPRODUCE

The current implementation of junos_vrf is missing the vrf-table-label tag. This tag causes the JUNOS device to allocate an MPLS label for all of the routes within a VRF (th

[2017-08-28 15:52] alikins commented on #28703
That also usually results in better error messages from ssh as well, so double useful (especially when using ssh verbose output like here).

[2017-08-28 15:56] alikins commented on #28703
(ssh stderr reformatted for easier reading)

[code]

[2017-08-28 15:57] alikins commented on #28718
ping @nitzmahone

[2017-08-28 15:57] alikins commented on #28719
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-08-28 15:57] #28719 closed, assigned to nobody

[2017-08-28 15:59] ganeshrn commented on #27403
@mikewiebe @trishnaguha   Timeout value under provider can be used to increase timeout for a single task.
Timeout value per task for nxos is set [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/nxos.py#L62)
However, if the provider timeout value is more than 30 seconds you need to increase persistent connection timer value as well.
Doc for connection timer settings c

[2017-08-28 16:03] alikins commented on #28720
What does the bit of playbook defining that task look like?

Is it using 'package' or 'yum' for the task?

Is it using a 'with_*' for looping?

[2017-08-28 16:08] alikins commented on #28720
The error would be coming from lib/ansible/executor/task_executor.py:162, but the the exception
handling there is very vague and broad, so lots of potential root causes.

(another needs_info, are the tasks using when: conditionals?)
Or the tasks using 'when' conditionals?

[2017-08-28 16:13] jhawkesworth commented on #28715
If I recall there's an open bug regarding quoting and win_command.
Might be worth trying in win_shell instead?

[2017-08-28 16:38] #20752 closed, assigned to nobody

[2017-08-28 16:48] Qalthos commented on #28724
Can you tell me exactly what you are running to get that line and where it is showing up? This should not be happening in any released version of 2.3

[2017-08-28 17:06] dagwieers commented on #28577
@rewilliamso No, the VMware VM customizations is something VMware wrote to provision various supported operating systems (Linux, Windows, etc...). We simply provide the required information that we can customize during provisioning and VMware takes care of it.

[2017-08-28 17:08] #28542 closed, assigned to nobody

[2017-08-28 17:15] bcoca commented on #28703
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-28 17:15] #28703 closed, assigned to nobody

[2017-08-28 17:16] dagwieers commented on #28577
Maybe you could try this for new VMs:
[code]
The VM customizations only runs when creating a new VM, it cannot be used for modifying an existing VM.

[2017-08-28 17:18] JakeDEvans commented on #28724
run `sudo journalctl -f` or  `tail -f /var/log/messages` on centos 7.3 and run this playbook, replacing values with your own, you must successfully run the play to have the log entry, also works with `nxos_command` shown below.

reporting as `ansible-nxos_command` in syslog

[code]

[code]

[2017-08-28 17:19] #28540 closed, assigned to nobody

[2017-08-28 17:23] dav1x commented on #28577
@rewilliamso I use the exact same syntax as @dagwieers listed above'

[code]

[2017-08-28 17:39] kmasaryk commented on #19831
Just hit this issue today on 2.3.2.0.

[2017-08-28 17:55] bcoca commented on #16073
fixed via #18501

[2017-08-28 17:55] #16073 closed, assigned to nobody

[2017-08-28 17:59] bcoca commented on #12085
@nrwahl2 no .. completely diff feature, multidoc files vs single document files that we use now.

[2017-08-28 17:59] #21041 closed, assigned to docschick

[2017-08-28 18:00] #28290 closed, assigned to nobody

[2017-08-28 18:50] ktbyers commented on #26809
This is a really big issue for newcomers.

It was my understanding from previous communication that this was going to be greatly improved in Ansible 2.4, but from what I can see it is the same.

Also, the logs can be close to unintelligible. For example, a very basic failure (i.e. a missing entry in SSH known_hosts results in this).

[code]

This is on Ansible 2.4 devel branch and on Ansible 2.3.1

[2017-08-28 19:00] #27330 closed, assigned to Qalthos

[2017-08-28 19:14] #28726 closed, assigned to nobody

[2017-08-28 19:18] umangmajmudar commented on #22402
Thanks @Hakulaku! I will be using shell for now, but it would be great to have this problem fixed in future Ansible version, so I can switch back to Ansible module. Do you guys have any timelines when you're planning to address this problem ?

[2017-08-28 19:26] jhawkesworth commented on #28718
@thatscot Hmm, that's odd.  My guess is it isn't picking up your group vars in the same way as 2.1 did
Is your group_vars folder in inventories/d ?

Also your group_vars doesn't seem to contain a host group, so the vars you set there will apply to all hosts in your inventory, including localhost, which you are unlikely to be able to connect to using winrm.

I'd suggest adding the connection variab

[2017-08-28 19:45] sivel commented on #12085
Is it possible to indicate what benefit we would get from this?  I'm not against it, but I don't immediately see any benefit over how a playbook can hold multiple plays currently.

[2017-08-28 19:45] ganeshrn commented on #26433
@andyy000 Yes fix is available in devel branch. It will be available in 2.4 release.

[2017-08-28 19:46] jhawkesworth commented on #28421
@basictheprogram - can you close this one then?

[2017-08-28 19:53] bcoca commented on #12085
i was going for vars files .. not plays, but mostly for something we dont need anymore, allowing vaulted document AND clear in same YAML file

[2017-08-28 19:53] #12085 closed, assigned to nobody

[2017-08-28 20:01] bcoca commented on #28454
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-28 20:01] #28454 closed, assigned to nobody

[2017-08-28 20:14] bcoca commented on #12714
@hryamzik this happens because variables are 'lazy', they get evaluated on consumption, not on definition.

You can use `set_fact` to force evaluation and saving into a new variable.

[2017-08-28 20:15] #27402 closed, assigned to trishnaguha

[2017-08-28 20:17] giovannisciortino commented on #28655
This pull request(already merged to devel) https://github.com/ansible/ansible/pull/28044  contains:

- Add a follow parameter to template that mirrors the follow parameters
for file and copy.

From an updated version of ansible-doc:
[code]
I think that this issue can be closed

[2017-08-28 20:17] bcoca commented on #28702
@Thulium-Drake `|default` is not meant to swallow errors, only undefined values, this is NOT meant to work this way.

[2017-08-28 20:25] Qalthos commented on #28724
Ah, thanks! This is fixed in 2.4, though not in a way that makes it easy to backport to 2.3. We will look in to getting this fixed by the next 2.3 release, though.

[2017-08-28 20:27] feanil opened #28733 "'when' condition swallowing error on 'is defined' check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from and to Ubuntu 16.10

##### SUMMARY

The problem occurs when we use the `when` condition to check the definition of a variable.  If the variable value resolution has an error, it is swallowed as if the variable is not defined.
##### STEPS TO REPRODUCE

####

[2017-08-28 20:27] bcoca commented on #28655
closing as per above

[2017-08-28 20:27] #28655 closed, assigned to nobody

[2017-08-28 20:39] alikins commented on #13702
@ssbarnea When I need conventional logging for troubleshooting, I usually end up rebasing my logging_wip branch (https://github.com/ansible/ansible/compare/devel...alikins:logging_wip). And depending on what I'm troubleshooting, sometimes combine that with https://github.com/ansible/ansible/pull/25767 and/or https://github.com/ansible/ansible/pull/20930

There are a couple of prs that try to make

[2017-08-28 20:40] hryamzik commented on #12714
@bcoca the problem is that in this case they are simply wrong. I would expect it either to be correct or the play to fail.

There's also even more complicated example – getting variable for another host if it's declared in role defaults. This case at least fails.

[2017-08-28 20:41] trishnaguha commented on #28516
@rahushen https://github.com/ansible/ansible/pull/28735 should fix the issue. Can you please apply the patch and let us know?

[2017-08-28 20:43] nhammond opened #28736 "Add option to set internal_ip with gce module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- gce

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

Currently ansible gce module supports specifying the public IP address of a new instance, but not the private IP address. Google Cloud does allow this, e.g. with the "--private-network-ip" flag under "gcloud compute instance create":

[co

[2017-08-28 20:46] giovannisciortino commented on #28590
I tried to create a simple reproducer:

- Create the followin test module:
[code]

- Example:

1. exit_json show the warning message

[code]

2. fail_json show the warning message
[code]

3. the warning message isn't showed if the module is generating an exception
[code]

@dagwieers based on the previous example when a module exit with fail_json the warning message is already showed.  Do you want

[2017-08-28 20:48] bcoca commented on #12714
@hryamzik they are not 'wrong' they are just evaluated in different context than you intended, but not different from what you used.

in 2.x and above hostvars keep the context of the host they originated in, but in 1.9 that context does not exist. So I'm going to close the ticket as 1.9 has long been out of support.

[2017-08-28 20:48] #12714 closed, assigned to nobody

[2017-08-28 20:50] hryamzik commented on #12714
So it should be different in 2.x, good!

[2017-08-28 20:58] basictheprogram commented on #28421
https://github.com/ansible/ansible/pull/27678 Fixes this issues.

[2017-08-28 20:58] #28421 closed, assigned to nobody

[2017-08-28 21:06] #28516 closed, assigned to trishnaguha

[2017-08-28 22:53] kmasaryk opened #28738 "Incorrect example in efs_facts"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
efs_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The following example from this module incorrectly suggests that a Name tag value can be supplied and filtered upon for the module's 'name' option:
https://github.com/ansible/ansible/blob/468e71bf718b3270af692bde186ef30a2ab62738/

[2017-08-29 00:11] #19573 closed, assigned to jhawkesworth

[2017-08-29 00:13] d3matt commented on #24440
+1 on this... I was a bit disappointed when I suggested using this module to a coworker given the warning about curl then my team member ran into the utf-8 errors.

[2017-08-29 00:52] jtyr commented on #26199
It looks like the distribution of these plugins has been suspended:
https://wiki.jenkins.io/display/JENKINS/Scriptler+Plugin
https://wiki.jenkins.io/display/JENKINS/Dynamic+Parameter+Plug-in

Therefore this seems to be `notabug`.

[2017-08-29 00:57] einarc commented on #28087
Reducing file size to about 630 MB, still no success.

[2017-08-29 00:58] #26199 closed, assigned to nobody

[2017-08-29 01:02] einarc opened #28744 "In Ansible version 2.3.2 the S3 module refuses to do checksum on multipart uploads"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible CORE 2.3.2 S3 module refuses to do checksum on multipart uploads whereas 2.2.1 worked perfectly, why was the behavior changed in such a drastic way? Is this a bug?

See problems reported here:
https://access.redhat.com/support/cases/#/case/019046

[2017-08-29 01:08] jtyr commented on #20000
@quietanomaly I have tried to install the `git` plugin and it worked just fine. I have been using my [`jenkins_master`](https://github.com/jtyr/ansible-jenkins_master) role for that with the following playbook:

[code]

Just one more question: Did you restart Jenkins after you have installed the plugin?

[2017-08-29 01:23] dagwieers commented on #28590
Yes, warnings should also be exposed to the user on Exceptions IMO.
But I stand by what I saw when testing that warnings were not shown on fail_json.
I will have to test the context and see if I can reproduce that.

[2017-08-29 01:36] jborean93 commented on #15459
I am going to close this issue as win_msi is now deprecated and win_package "should" theoretically work. I've tested it with the latest devel version of win_package and had some arguments with spaces and it works fine for me.

If someone comes across this and still has an issue with win_package please open a new ticket with the details and we can look into it further.

[2017-08-29 01:36] #15459 closed, assigned to nitzmahone

[2017-08-29 01:39] greg-hellings commented on #26199
@jtyr Uhh.... that's exactly the crux of this. Those two particular plugins are not available. Yet jenkins_plugin reports success installing them when state: present is used (it reports failure when state: latest is used, as it should). This is a bug.

Other plugins that are shipped bundled with Jenkins at distribution time fail to update when an update to a pinned version is requested. Although t

[2017-08-29 01:43] guotie opened #28745 "How to make ansible output host order fixed?"
##### ISSUE TYPE

 - Feature Idea

I want ansbile output order as expect:

For example, i hvae a group G with host A,B,C,D, If i use
```ansible G -m shell -a uname```

I want every time, the output host order is
[code]

[2017-08-29 01:44] jtyr commented on #26199
Well not really. The way how it works is that the plugin is installed asynchronously when Jenkins is restarted. Where if you specify the `latest` then the plugin is downloaded synchronously and therefore it fails when it's not available.

Perhaps the module could check if the plugin is available and only then send request for the asynchronous installation?

[2017-08-29 01:47] greg-hellings commented on #26199
That would be an excellent solution. If the module is not available from an update center, the principle of least surprise would seem to indicate that a request to install it should fail. If Jenkins doesn't give us that feedback, then having support for it at the module level would be very helpful.

[2017-08-29 01:48] dagwieers commented on #28590
Alright, I took your example and implemented more test-case, and lo and behold look at this:

**library/warning.py**
[code]

Then take this playbook:
[code]

Then consider the output:
[code]

So what seems to happen here is that a warning is not repeated for multiple tasks in the same play/playbook either. It was probably done on purpose, but I don't think this is a good practice.

[2017-08-29 01:49] jtyr commented on #26199
Not sure if that will be possible via the Ansible library tho. It would require only to download the HTTP headers and not all data.

[2017-08-29 01:50] jborean93 commented on #19996
I believe the changes talked about here have been incorporated into win_package with https://github.com/ansible/ansible/pull/27470.

With the new changes win_package no longer requires a product_id when
* we are installing an MSI from a local path or network path (without credentials), http msi's aren't supported still
* we are installing an EXE and one of the `creates_*` options are set

I am goi

[2017-08-29 01:50] #19996 closed, assigned to trondhindenes

[2017-08-29 01:51] dagwieers commented on #28590
But I don't think this was the issue I was seeing with fail_json.

[2017-08-29 01:59] bcoca commented on #28590
@dag those are not 'user exceptions' but unhandled ones, which means the module had a fatal error and did not return 'warnings' nor any other JSON.

My testing also shows that warnings display correctly with `fail_json`.

[2017-08-29 02:01] bcoca commented on #28745
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-29 02:01] #28745 closed, assigned to nobody

[2017-08-29 02:03] jtyr commented on #26199
OK, it should be possible. I just need to use the `_get_url_data()` with `method='HEAD'`.

[2017-08-29 02:11] dagwieers commented on #28590
Only one of them is. But warnings are not repeated if the same message is used by multiple tasks, I consider that a problem too. Still have to find out what was happening when the issue occurred to me with fail_json though.

[2017-08-29 02:58] sunilnaths commented on #28210
Did it work for you?

I still have same issues.

On Fri, Aug 25, 2017 at 8:40 AM, Trishna Guha <notifications@github.com>
wrote:

--
Thanks
Sunilnath

[2017-08-29 03:41] karrots commented on #28210
This issue was resolved for me with PR #28599

[2017-08-29 04:57] sunilnaths commented on #28210
It did not work for me i replaced play_context.py still sam issue

On Mon, Aug 28, 2017 at 10:41 PM, Jonathan Karras <notifications@github.com>
wrote:

--
Thanks
Sunilnath

[2017-08-29 05:03] nrwahl2 commented on #22402
@umangmajmudar Depends on when someone reviews my PR :)

[2017-08-29 05:16] nrwahl2 commented on #28679
Indeed! To me the tree model is more intuitive for LVM than a flat model -- lvols and pvols are <s>always</s> USUALLY components of volgroups. But, a flatter model like set of tuples or `lvm_full_name` could make access easier and be more intuitive to others.

I had to catch myself on the "always" when I realized a flaw in my fact: It is entirely possible to have a physical volume that is not yet

[2017-08-29 05:41] nrwahl2 commented on #28590
@dagwieers @bcoca : This is why it's only printing once.
`utils/display.py`:
[code]
It keeps a dict of whether the warning has been printed already and doesn't print it if it has. I commented the bottom line out and it ran as follows:

[code]

[2017-08-29 05:48] karniemi commented on #28720
Hi, I'll try to summarize our setup... and point out that failed task.

I want to emphasize: it failed only in one round and has succeeded tens of times before and after. As background for the our ansible setup: we have several similar labs, so we've kept the inventory easy for the installation personnel...which has the cost of making the playbooks a bit more complicated. Also, we have tightly rol

[2017-08-29 05:48] hitoshi-isa commented on #28210
i try #28599, but it did not work.
ansible.log when i tried is below.

2017-08-29 14:35:44,626 p=5877 u=root |  PLAY [cisco] **********************************************************************************************************
2017-08-29 14:35:44,653 p=5877 u=root |  TASK [cisco show command run commands=show version, provider={{ cli }}] ***********************************************
2017-08

[2017-08-29 06:02] brainstorm opened #28746 "os_client_config fails with AttributeError: 'Opt' object has no attribute 'prompt'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible_module_os_server.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running the following repo against an openstack instance:

https://github.com/brainstorm/pcgr-deploy/blob/master/ansible/openstack.yml

Results in errors on `option_prompt`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2017-08-29 06:10] ctorgalson commented on #23203
Makes sense. Though the documentation is not wonderfully clear that that's what it's talking about. Something like this would be a distinct improvement:

"Note that `absent` will not cause `file` to fail if the path does not exist as the state did not change."

[2017-08-29 06:34] nrwahl2 commented on #23203
Care to submit a documentation update PR?

[2017-08-29 06:41] ctorgalson commented on #23203
Sure!

[2017-08-29 06:59] Kokozzi commented on #27815
@calfonso @privateip  Sorry for long waiting. Nothing changed after update to last develop version.

[code]

Still gets full config instead of syslog-part.

[2017-08-29 07:36] elaurijssens commented on #28391
I think we can safely assume that #27920 overcomes this issue.

[2017-08-29 07:36] #28391 closed, assigned to nobody

[2017-08-29 07:49] XooR commented on #28666
I checked it out with ansible 2.4 and it works.

[2017-08-29 07:58] ctorgalson commented on #23203
Sorry about the jumble, I tried to patch the wrong repo. The actual PR (#28748) contains only the one commit.

[2017-08-29 08:29] nvtkaszpir commented on #9966
Too bad the message is hiding underlying network issues like problems with routing.

[2017-08-29 08:49] brainstorm commented on #28746
Ansible+shade versions are detailed in the following series of pullrequests:

https://github.com/conda-forge/staged-recipes/pulls?q=is%3Apr+author%3Abrainstorm+is%3Aclosed

But essentially:

[code]

[2017-08-29 09:41] Thulium-Drake commented on #28702
Agreed, and changing that will lead to undesired behavior all over the place.

I think what we need is the snippet of code I quoted above to return False or Undefined as the output of the lookup.

[2017-08-29 09:51] kinware opened #28751 "Scalability / performance issues with host_vars in large inventories"
##### ISSUE TYPE

 - Performance/Bug Report
##### COMPONENT NAME

inventory / host_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Minimal.

##### OS / ENVIRONMENT

Linux control machine. Managed hosts are Linux and Windows.

##### SUMMARY

Ansible 2.3 _upon startup_ parses host_vars/<inventory_hostname> _for every host defined in the inventory - even if only a single host is being targe

[2017-08-29 10:35] kumaran85 commented on #25895
host not showin

[2017-08-29 10:37] kumaran85 commented on #25895
I am using ansible on 2.3.1.0. added my hosts in /etc/ansible/hosts. if i do, --list-hosts below error coming
ERROR! the field 'hosts' is required but was not set. In ansible.cfg inventory path is same. Can anyone help on this?

[2017-08-29 10:39] kumaran85 commented on #15321
I am using ansible on 2.3.1.0. added my hosts in /etc/ansible/hosts. if i do, --list-hosts below error coming
ERROR! the field 'hosts' is required but was not set. In ansible.cfg inventory path is same. Can anyone help on this?

[2017-08-29 10:54] kumaran85 commented on #25268
I am using ansible on 2.3.1.0. added my hosts in /etc/ansible/hosts. if i do, --list-hosts below error coming
ERROR! the field 'hosts' is required but was not set. In ansible.cfg inventory path is same. Can anyone help on this?

[2017-08-29 10:57] kumaran85 commented on #25268
I am using ansible on 2.3.1.0. added my hosts in /etc/ansible/hosts. if i do, --list-hosts below error coming
ERROR! the field 'hosts' is required but was not set. In ansible.cfg inventory path is same. Can anyone help on this?

[2017-08-29 10:58] kumaran85 commented on #25268
And using on AWS

[2017-08-29 11:15] dan-osms opened #28754 "feature sqs_queue support SSE"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

sqs_queue with SSE feature, supporting KMS

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra 10.12.6
##### SUMMARY

When building sqs_queue there is no capability to enable Server Side Encryption. Further you cannot enable it after the fact. Only during queue init.

##### STEPS TO REPRODUCE

[code]

##

[2017-08-29 12:00] apolyr opened #28757 "junos_rpc crashes when output is set to json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_rpc

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Linux Mint 18.1:
Linux xxxxxxx 4.4.0-89-generic #112-Ubuntu SMP Mon Ju

[2017-08-29 12:19] bcoca commented on #28590
@dagwieers @nrwahl2 yes, warnings only print once for the same warning, this is on purpose to avoid warning spam

[2017-08-29 12:21] dagwieers opened #28758 "win_shortcut: idempotency issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_shortcut

##### ANSIBLE VERSION
v2.4

##### SUMMARY
Specific shortcuts to *internal* paths are not idempotents.

PS I used to have plenty of more cases that were non-idempotent, but these have all been fixed with the recent updates to **win_shortcut**. This is the only remaining.

##### STEPS TO REPRODUCE
Use the following task:
[code]

###

[2017-08-29 12:23] bcoca commented on #28751
In 2.4 we restructured inventory and host_vars/group_vars are back to be 'loaded on demand', please test that this helps with your use case.

[2017-08-29 12:39] dagwieers opened #28759 "win_regedit: Using dword 0xffffffff displays value -1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION
v2.4

##### SUMMARY
This is a small cosmetic issue, where the value provided is not displayed as expected in the --diff output

##### STEPS TO REPRODUCE
Use this playbook
[code]

##### EXPECTED RESULTS
I expected to see the value provided in the diff output.

##### ACTUAL RESULTS
[code]

[2017-08-29 12:49] anarcat commented on #28482
i'm a little confused that the `devel` branch doesn't have the same documentation as I see online... what branch is the docs.ansible.com site using? stable-2.3? i guess that's where i should address PRs?

[2017-08-29 12:52] trishnaguha commented on #28210
#28599 is reverted as it broke networking ansible-test. the fix for the issue is on progress.

[2017-08-29 12:56] rajnkamr opened #28761 "How to execute a cli comand via ansible"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am trying to do some cli based config on a router via ansible,
I can execute command on shell via ansible but is it possible to add any new config via cli command ?
##### STEPS TO REPRODUCE

Execute below command via yml

[code]

##### EXPECTED RESUL

[2017-08-29 12:58] kinware commented on #28751
Will test with 2.4 to-be and report back!

[2017-08-29 13:06] bcoca commented on #25268
@kumaran85 that is totally unrelated to this issue, you are missing `hosts:` in your play, please post to IRC/mailing list instead of on random issues.

[2017-08-29 13:09] bcoca commented on #25268
this issues was 'fixed' by #12797 which introduces `{{CWD}}` token for those that are looking for that specific behaviour.

[2017-08-29 13:10] #28361 closed, assigned to ganeshrn

[2017-08-29 13:11] #25268 closed, assigned to nobody

[2017-08-29 13:16] bcoca commented on #28761
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-29 13:16] #28761 closed, assigned to nobody

[2017-08-29 13:35] mrdaemon commented on #21188
I can confirm the issue happens as well on the following configuration:
- Ubuntu 14.04.5 LTS on every system
- Docker host running 17.06.1-ce
- Ansible 2.3.2.0 on control host
- Syslog driver in container configuration

We have a playbook that restarts containers after deployment of a new version of a configuration file, and it inevitably fails in this way now, causing CI jobs to report failure. O

[2017-08-29 13:37] #25932 closed, assigned to nobody

[2017-08-29 13:43] #26989 closed, assigned to nobody

[2017-08-29 13:47] #27925 closed, assigned to Qalthos

[2017-08-29 13:47] #27729 closed, assigned to nobody

[2017-08-29 13:51] zhaolun7 opened #28767 "why cannot define var in ad-hoc？"
root@atom:~# ansible atom -m shell -a "echo hello"
atom | SUCCESS | rc=0 >>
hello

root@atom:~# ansible atom -m shell -a "a="b""
atom | FAILED | rc=0 >>
unsupported parameter for module: a

root@atom:~#

[2017-08-29 14:01] jacobbat opened #28768 "docker_service module fails when using definition option"
**ISSUE TYPE**
- Bug report

**COMPONENT NAME**
docker_service

**ANSIBLE VERSION**
[code]
**OS / ENVIRONMENT**
Running Ansible on Ubuntu 16.04.3 LTS via Vagrant provisioner

**SUMMARY**
Using docker_service with **definition** option produces a FAILED message. /tmp directory on the target host fills up after a few failed runs. The multi-container app is up and running.
I was able to fix the issue

[2017-08-29 14:01] halberom opened #28769 "add docs re ansible_group_priority"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible_group_priority

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
ansible_group_priority is mentioned in the changelog for 2.4, but not documented anywhere.

##### STEPS TO REPRODUCE
NA

##### EXPECTED RESULTS
Should be able to search and find a description of what it is with an exam

[2017-08-29 14:02] zhaolun7 commented on #28767
In version 2.3 it works but not in 2.0

[2017-08-29 14:02] #28767 closed, assigned to nobody

[2017-08-29 14:09] flungo opened #28770 "Allow dynamic imports in plugins."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No specific configuration

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It does not seem that there is at present a way to have common code between plugins provided adjacent to a playbook or in a role. This can result in plugin files having a lot of common code which has to be

[2017-08-29 14:34] keks24 opened #28772 "password plugin generates inappropriate default passwords"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
lib/ansible/plugins/lookup/password.py

##### ANSIBLE VERSION
[code]
The dev version is also affected.

##### CONFIGURATION
ansible.cfg
[code]
inventory
[code]

##### OS / ENVIRONMENT
VM with Debian Stretch created with Vagrant using Ansible as provisioner:
https://github.com/FibreFoX/vagrant-ansible-multi-vm

##### SUMMARY
The password plugin sometime

[2017-08-29 14:43] bcoca commented on #25820
@trondhindenes added `get_config` back, see if this now works for you again.

[2017-08-29 14:45] kinware commented on #28751
Can report that the performance problem is no longer present in latest develop - only the targeted hosts has their host_vars files read. Closing this issue and looking forward to the upcoming 2.4 release (guessing timed with AnsibleFest in September?).

Taking this opportunity to thank you Brian and everyone else working hard to make Ansible even better than it already is! Awesome!

[2017-08-29 14:45] #28751 closed, assigned to nobody

[2017-08-29 14:51] aaronkvanmeerten commented on #23547
Still hitting this issue 2.3.2.0

[2017-08-29 15:08] gustavooferreira commented on #20557
Hey, any updates on this?

[2017-08-29 15:10] nrwahl2 commented on #28702
I'm tentatively in agreement. Is there a valid reason why it should fatally error out? There are a lot of design decisions that don't make sense at first glance but were made for a reason.

[2017-08-29 15:16] sar009 commented on #28594
I tried with 2.2 and 2.1 it is having the same issue.

[2017-08-29 15:22] 1NoOne1 commented on #28649
Any Update on this??? @dagwieers @Akasurde

[2017-08-29 15:36] bcoca commented on #28594
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-29 15:36] #28594 closed, assigned to nobody

[2017-08-29 15:43] mikewiebe opened #28779 "nxos_interface errors out with KeyError: 'eth_mode'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_interface

##### NXOS VERSION
7.0(3)I2(5)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
A check was added recently to indicate that interfaces with mode fex-fabric are not supported. The field that is checked for the setting may or may not be available depending on the state of the interface.  If it's

[2017-08-29 15:45] dav1x commented on #28649
Is the shared storage accessible to both clusters? I've run into a similar issue to this. The module attempts to clone the VM to the first sorted host in the cluster. If the host doesn't have access to the data store with the template on it, you'll get a similar error.

[2017-08-29 15:51] 1NoOne1 commented on #28649
@dav1x I am not sure how to validate what you said from the ansible/pyvmomi perspective.  The storage that I have is Xtrem IO LUNs. If I have the accessibility issues, then I should get the same error when manually deploy a VM from the template, correct? (But that is not the case here, I could deploy VM into another cluster from vcenter and powercli)

[2017-08-29 15:54] whyvez commented on #12746
@ssteinerx I installed Ansible via Homebrew and am having the same issue. Can you explain how you solved the problem? Setting the `ANSIBLE_INVENTORY` env var and sourcing it from my `~/.bash_profile` but 'ansible-playbook` doesn't seem to use it.

[2017-08-29 15:59] bcoca commented on #12746
@whyvez homebrew breaks some of the defaults, that is why we removed it from our docs as recommended install method. I suggest you use pip and/or run from git instead.

[2017-08-29 16:14] dav1x commented on #28649
Not necessarily. Does each cluster have access to all of the LUNs in question?

Specifically from your error message: Does the first host sorted in vCenter client in cluster az2 have access to xio-mgmt-lun02?

[2017-08-29 16:16] dav1x commented on #28502
@Amruthapv You might also check out - https://github.com/snobear/ezmomi

I used it to learn pyvmomi as well.

[2017-08-29 16:33] 1NoOne1 commented on #28649
Thanks for your reply @dav1x . I appreciate your time on this.

![test1](https://user-images.githubusercontent.com/25995547/29832100-b2576532-8cac-11e7-9fea-efaadf6cf723.png)
That's the setup that I have, look like the cluster is not have the direct access to the Template storage ( which is mgmt-lun). We created Luns for each Cluster and added them to the respective Clusters. We haven't added all

[2017-08-29 16:43] #22140 closed, assigned to nobody

[2017-08-29 16:48] ismc commented on #19183
Yes sir.  I should have time this week.

Steven.

On Fri, Aug 18, 2017 at 11:51 AM Peter Sprygada <notifications@github.com>
wrote:

--
*Steven Carter*
Chief Cloud Architect, US Public Sector
scarter@redhat.com, (919) 909-1691

[2017-08-29 16:56] dav1x commented on #28498
@karniemi I recreated this as well. This is a design question more than a bug I think. Perhaps a wait_for_shutdown param like wait_for_ip? I think that all of the power states are async in nature to accommodate for speed.

See:

https://github.com/vmware/pyvmomi/blob/master/docs/vim/VirtualMachine.rst

Specifically:

ShutdownGuest():
Issues a command to the guest operating system asking it to perf

[2017-08-29 16:58] klauern opened #28786 "ansible.cfg - ansible-vault does not recognize 'vault_password_file' setting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault, ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No `ANSIBLE_*` env settings

##### OS / ENVIRONMENT
OL7

##### SUMMARY
When trying to script out using a per-project `ansible.cfg`, I found that the `vault_password_file` field doesn't seem to be used when running playbooks or ansible, or even `ansible-vault view` itself.

[2017-08-29 17:10] dav1x commented on #28649
By default the datastore vmware_guest uses is located via the location of the template. You should be able to specify a destination datastore under disks.

Like this:

[code]

This should circumvent the datastore check and prompt vmware_guest to use the datastore in question. To answer your question, yes, I think the check for the datastore should be initiated by the host or cluster specified and

[2017-08-29 17:36] nelson-cf opened #28788 "Bug Fix & Feature Request for Kubernetes Module"
##### ISSUE TYPE
- Bug Fix (SSL on GET requests)
&
 - Feature Idea.  ( Supporting something other than Basic Authentication)

##### COMPONENT NAME
Kubernetes
ansible/lib/ansible/modules/clustering/kubernetes.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
installed via brew
also attempted via git clone of ansible repository and sourcing ./hacking/env-setup

##### OS / ENVIRONMENT
OSX Sierra

[2017-08-29 17:39] 1NoOne1 commented on #28649
**I tried and still have the same issue.**

[code]

[2017-08-29 17:47] dav1x commented on #28649
Let me try to recreate this. I'm successfully able to clone a template from the same cluster to a specified datastore. I'm thinking that may be the root cause to your issue.

[2017-08-29 17:54] 1NoOne1 commented on #28649
Yeah, please.

I did mentioned that in my issue discription. The issue is only when I try to deploy it across the clusters. If I have the template in same cluster then no problems. However, this is really not the practical scenario. Assume that you just created a cluster and added hosts to it. I am unnecessarily creating a copy of existing template if I have to copy that template to the newly adde