[2017-04-20 18:58] nwchandler commented on #20428
I've been doing some testing using Ansible 2.3.0.0 today, along with Windows 2012 R2 Standard. When I run a win_user task such as below against a domain controller, it creates the domain user and seems to assign groups as I would expect:

`- name: Ensure user1 is present
        win_user:
          name: user1
          state: present
          fullname: User 1
          password: <redacted>

[2017-04-20 19:02] #23788 closed, assigned to Qalthos, trishnaguha

[2017-04-20 19:09] bcoca commented on #23700
it is using the -n to check if it needs to actually run the action, insserv seesm to be returning that it doesn't need to disable the service.

[2017-04-20 19:13] davidburge1 opened #23828 "nxos_facts only returns output when gather subset is config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 connecting to Cisco Nexus5020

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected facts to be returned and parsed into variables.

##### ACTUAL RESULTS

Output is only returned with using the config subset.  Other s

[2017-04-20 19:29] bcoca commented on #23530
`ansible_ssh_user` did not go away, its just the 'ssh connection plugin specific' version of `ansible_user`, `ansible_user_id` is a result of fact gathering, which has different implications (also see become interactions).

I suspect the break came here 3d1255d19009aa084fd2635917916fd9396ea898

[2017-04-20 19:39] alikins commented on #23530
I would say ansible_user can potentially be none (there is no builtin default but usually remote_user ansible_ssh_user etc provide it) for the reasons @nitzmahone mentioned.

for the case here

[code]

It seems like it is a bug that is not being set.

[2017-04-20 19:43] nitzmahone commented on #20428
I don't know for sure, but I don't think that's a safe way to manage domain users. You're basically hacking the SAM database on the domain controller because it happens to have the same format as a local SAM database on a non-DC. I don't know if those users are properly created in the directory, or how you'd set AD-specific values like the target OU, etc.

[2017-04-20 19:48] bcoca commented on #23530
reverting the commit above 'fixes it'

[2017-04-20 19:58] #23827 closed, assigned to nobody

[2017-04-20 20:00] cmarasescu commented on #23700
Indeed, but on SLES, "insserv -nr" is not working. Correct syntax is: "insserv -n -r service"

[2017-04-20 20:21] EdoBarroso opened #23834 "synchronize module doesn't work with --ask-pass, keeps asking for password"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Synchronize Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not changed. Installed with Homebrew for MacOS

##### OS / ENVIRONMENT

MacOS Sierra

##### SUMMARY

I'm trying to synchronize a folder to a remote host. There's no Key Authentication, so I have to enter the password before running Ansible, with --ask-pass.

Everytime a fi

[2017-04-20 20:26] sivel commented on #23834
Closing as a duplicate of:

https://github.com/ansible/ansible/issues/14836
https://github.com/ansible/ansible/issues/16616

[2017-04-20 20:26] #23834 closed, assigned to nobody

[2017-04-20 20:34] #23625 closed, assigned to docschick

[2017-04-20 20:40] #23400 closed, assigned to nobody

[2017-04-20 20:55] BenCoffeed opened #23836 "feature-request/Add remote_src option to synchronize or exclude option to copy"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Files/synchronize Files/Copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I frequently use source repositories from either git or other hosted services and then modify files locally for specific applications.

i.e. to install on-premise Sentry, I want to use the original source repo inste

[2017-04-20 21:08] KellerFuchs opened #23837 "Warn on empty role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY

Roles where the directory `roles/${role_name}` exists but if empty are silently ignored.

##### STEPS TO REPRODUCE

0. Be @lrvick
1. Forget to run `git submodules update --init`
2. Call a playbook that uses role from the missing submod

[2017-04-20 21:08] bbethell opened #23838 "vsphere_guest"
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-20 21:10] erwilan commented on #23779
i also ran into this problem.

this is a jinja2 2.9 related issue.
with jinja2 2.8 it works.

my workaround:

[code]

[2017-04-20 21:17] danielgriggs commented on #23779
Thanks for the hint.

Sadly Jinja 2.9.6 is bundled with Ansible in brew. I'll take it up with the maintainer of that until it's sorted out.

[2017-04-20 21:26] erwilan commented on #23836
is the 'mode: pull' option of the synchronize module what you are looking for?

[2017-04-20 21:30] BenCoffeed commented on #23836
Potentially. I read the [docs](http://docs.ansible.com/ansible/synchronize_module.html) to mean that pull mode would copy items from the remote node to the host running the play.

[2017-04-20 21:33] wimnat commented on #22935
I've actually done these modules but they're sitting on my laptop in another country! Will push in a week and a bit

[2017-04-20 21:44] nwchandler commented on #20428
That's all certainly fair, @nitzmahone . There are some things missing that a domain admin would likely expect, as you allude to. I was, for some reason, under the impression this didn't create users or assign groups at all on domain controllers, though, which is why I was looking for clarity on symptoms others had seen.

Based on your second paragraph, am I correct in thinking you would prefer a

[2017-04-20 21:50] erwilan commented on #23823
this is the answer to you problem:
http://docs.ansible.com/ansible/playbooks_loops.html#using-register-with-a-loop

[2017-04-20 22:03] #23530 closed, assigned to nobody

[2017-04-20 22:09] nitzmahone commented on #20428
Like I said, the fact that the existing stuff works to create a user on a domain controller is both an accident and probably incomplete. I don't know enough about the AD guts to know if it will properly create the user object in AD just because you created it in the SAM database (eg, will the user propagate to another DC correctly?)

As for the separate module thing, I'm definitely leaning that wa

[2017-04-20 22:25] aerickson commented on #10834
This affect all versions of Ansible currently (at least back to 1.9, including devel).

[2017-04-20 22:47] sivel commented on #23823
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-20 22:47] #23823 closed, assigned to nobody

[2017-04-20 23:05] lfventura commented on #11712
@garlandkr How did you solve it?

[2017-04-20 23:11] KellerFuchs commented on #23837
@lrvick If you could give a minimal reproducer, that would be cool.
I can't provide the logs for it since I'm not running Ansible 2.3 (though I would expect the issue to occur through 2.x)

[2017-04-20 23:21] dagwieers commented on #23677
The value is 0 here. So this is a genuine error. You could do `value: '0'` to work around this problem.
I will fix it tomorrow.

[2017-04-21 00:58] geerlingguy commented on #18411
I hit this today with Drupal VM — see notes here: https://github.com/geerlingguy/drupal-vm/pull/1316 (thanks to @oxyc for finding this issue!).

The workaround of adding any role handlers directly to your playbook itself seems to work okay, but it's quite annoying to have to do it that way.

[2017-04-21 01:00] nitzmahone opened #23840 "Async running some action plugins not marked async will run anyway"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ActionBase

##### ANSIBLE VERSION
2.4.0

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Running some actions not marked as "async OK" will still execute the action, before failing with `async is not supported for this task`. eg, `win_reboot`. Some other actions don't appear to execute though (eg, `copy`).

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2017-04-21 01:10] frenchy59 opened #23841 "sefcontext module : AttributeError: fcontextRecords instance has no attribute 'set_reload'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sefcontext
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible running on MacOS Sierra (also got the issue when running on centOS7)
RHEL6.5 on the managed host
##### SUMMARY

trying to add a basic sefcontext - SElinux file context definition, exactly as described in example in : https://docs.ansible.com/ansible/

[2017-04-21 01:37] bcoca commented on #23837
roles are allowed to not have task/vars/other ... having a noop is not an error

[2017-04-21 01:42] bcoca commented on #23840
I just pushed fix for this for some actions, so copy now returns:
[code]

[2017-04-21 02:07] mmercer-apixio opened #23843 "pywinrm fails to authenticate from centos 7 host to windows 2012 R2 client"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
winrm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing specific.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
CredSSP authentication from CentOS7 to Windows Server 2012 R2 fails authentication with TLS error

##### STEPS TO REPRODUCE
Install clean CentOS 7 machine
Install clean Windows S2012R2 machine

Ansible Host:  pip install above

[2017-04-21 02:23] universalvishwa commented on #23597
I have the same problem. In OS X, ansible-galaxy init doesn't make the files and templates directory. Definitely a bug. This was the case since I upgraded to 2.3

[2017-04-21 02:38] Akasurde commented on #23800
@Frederick888 Can you please try with #23821 ?

[2017-04-21 02:43] Akasurde commented on #23838
@bbethell Thanks for reporting this issue. It would be nice if you could elaborate [more](http://docs.ansible.com/ansible/community.html#i-d-like-to-report-a-bug) on issue.

[2017-04-21 03:10] bcoca commented on #23556
closing as i was never able to reproduce, user has workaround and no one else has had similar complaint.

[2017-04-21 03:10] #23556 closed, assigned to nobody

[2017-04-21 03:23] bcoca commented on #23820
or you could just skip the whole thing:
[code]

[2017-04-21 03:33] #23586 closed, assigned to nitzmahone

[2017-04-21 03:40] bcoca commented on #23700
can you test that this patch fixes the issue for you?
[code]

[2017-04-21 03:48] bcoca commented on #23801
this applies to all vars files

same as above, this applies to all vars files

`vars` here becomes a 'variable' which conflicts with the internally used 'vars' variable .. don't do this in ANY vars file.

[2017-04-21 03:56] ljb-2000 opened #23844 "Hi, Support to read /etc/ansible/hosts files from the database"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-21 04:04] lukerussell commented on #23551
-vvvv output is [here](https://gist.github.com/lukerussell/0636cacbbbe186d268961dc06f92c97e).

Regarding reproducing, have you guys got hardware IOS-XE devices generally? Or 3850s specifically?

[2017-04-21 04:07] nitzmahone commented on #23586
Fixed this in devel and 2.3.1RC1

[2017-04-21 04:10] Frederick888 commented on #23800
@Akasurde I applied the patch and got 403 instead:

[code]
Should I checkout the whole repo?

[2017-04-21 04:17] bcoca commented on #23844
@ljb-2000  the title alone doesn't convey enough info to figure out what you want, please fill in the template and elaborate

[2017-04-21 04:55] bcoca commented on #23764
possible fix https://gist.github.com/bcoca/88dcd5f1cd9202b06eeeeed909437b3c

[2017-04-21 05:10] Akasurde commented on #23800
@Frederick888 HTTP response code 403, means this patch is working. There is problem with URL, try with some other URL/Server.

[2017-04-21 05:32] cmarasescu commented on #23700
Unfortunately, on SLES the output is not as expected in the service.py module.
When the service is enabled, by running the command "insserv -n -r service1", there is no output at all.
In order to have some output, we need to add the "-v" argument.
The command "/sbin/insserv -n -r -v service1" has the following output:
**(0)[root@sasqpix0 ~]# /sbin/insserv -n -r -v service1
rm /etc/init.d/rc3.d/S50

[2017-04-21 05:35] schoeppe opened #23846 "Ansible Vault: Unable to use vaulted variables in loops (with_items, with_dict)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault or jinja

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configuration

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When using the newly introduced [single encrypted variables ](http://docs.ansible.com/ansible/playbooks_vault.html#single-encrypted-variable) in lists or dictionaries these cannot be looped like e

[2017-04-21 05:37] KellerFuchs commented on #23837
Right, I thought of that, fixed the issue title but not “expected result”.

[2017-04-21 05:57] Frederick888 commented on #23800
But what is the problem of the URL? I can download it from the server using cURL and wget

--
Best Regards,
Frederick Zhang

Email: frederick888@tsundere.moe

[2017-04-21 06:00] Akasurde commented on #23800
@Frederick888 paste output of ansible-playbook with `-vvvv`

[2017-04-21 06:08] Frederick888 commented on #23800
@Akasurde Full log here. Btw, the URL works with `get_url` module
[log.txt](https://github.com/ansible/ansible/files/946125/log.txt)

[2017-04-21 06:25] sayantandas commented on #23685
This issue was solved by migrating the VM template to another datastore.

[2017-04-21 06:25] #23685 closed, assigned to nobody

[2017-04-21 07:27] helltone commented on #23693
@gundalow I'll be glad to! Just figure out how to do that! :)

[2017-04-21 07:51] helltone opened #23848 "solaris_project doesn't work in 2.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
solaris_project

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION
$ANSIBLE_LIBRARY
/usr/share/ansible
Python 2.6.6

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
Copy solaris_project module from @xen0l github, put it into /usr/share/ansible
set ANSIBLE_LIBRARY env var; add - soalris_project task into playbook, run against som

[2017-04-21 08:04] rcarrillocruz commented on #22863
Hi there, any chance you could provide the 'show ppp all' output here?

[2017-04-21 08:19] dagwieers commented on #23841
Could you first upgrade your RHEL6 to a newer release ?
It may be related to a specific version of those packages as it was tested on RHEL6 and RHEL7 specifically.

[2017-04-21 08:29] Akasurde commented on #23800
@Frederick888 There is some problem with URL itself.
I am able download and install package using following playbook using patch.

[code]

[2017-04-21 08:33] rcarrillocruz commented on #23737
Yep, this is definitely a bug.
I will push a PR shortly and add a unit test after that, we should have caught this.

Thanks for the bug report and the suggested fix!

[2017-04-21 08:41] #23737 closed, assigned to rcarrillocruz

[2017-04-21 08:55] JulienChampseix commented on #23595
@s-hertel it look like the bug is still present in 2.3 :

OS Version:
[code]

Ansible version:
[code]

Error output:
[code]

[2017-04-21 09:02] Frederick888 commented on #23800
@Akasurde So what *is* the problem?

[code]
I can't see any significant differences between them.

And actually, I temporarily disabled CloudFlare but I didn't see any requests coming in from Ansible. The log is working normally as I could see my requests via cURL and wget:

[code]

[2017-04-21 09:08] accrosys opened #23851 "Expect module requires pexpect version 3.2, would be good to require lower version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
expect

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I cannot use the module since pexpect 3.2 is required by expect. I think it should support old version of pexpect to be usable more widely.

##### STEPS TO REPRODUCE
try to use expect on a centos 7.3 distribution

##### EXPECTED RESULTS
should

[2017-04-21 09:18] spikerobinson commented on #23801
OK great, thanks Brian. So the clarification could be condensed to a
statement that vars/main.yml behaves as per all vars files, with maybe a
link to the description of vars files. And add this other information to
the description of vars files (if it's not already there - sorry I haven't
checked myself).

[2017-04-21 09:21] absolutejam commented on #20135
FYI, building in the connection variables that I normally store in `group_vars` (`ansible_user`, `ansible_connection`, etc.) directly into my dynamic inventory (Under the `'_meta': { 'hostvars': ... } ` section) has remedied this as a workaround.

So, is the dynamic inventory passing back null values for these variables and overriding the statically defined ones in inventory/`group_vars`?

[2017-04-21 09:21] pinkal-vansia opened #23853 "EFS Name is blank when created with ansible efs module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

efs
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
##### SUMMARY

I am using Ansible efs module to create AWS EFS Filesystem. File system gets created but name field is always blank.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

New EFS file system created
##### ACTUAL RESULTS

New File

[2017-04-21 09:34] mavit commented on #14563
You can install GNU tar on Solaris 11 with:

[code]

[2017-04-21 09:36] rcarrillocruz commented on #23848
I'm a bit confused, I don't see solaris_project module within the ansible/ansible git repo.
Seems like you are reporting an issue on somebody else's ansible fork, in which case you may want to open the issue against that fork.

[2017-04-21 09:38] rcarrillocruz commented on #23838
Please put a descriptive title to the bug, along with the required fields from the issue template (Configuration, steps to reproduce, etc).

Thanks

[2017-04-21 09:38] rcarrillocruz commented on #23838
needs_info

[2017-04-21 09:50] trishnaguha commented on #21901
I think this is fixed now. It is now just a matter of finding the commit and cherry pick on `2.2.x`.

[2017-04-21 09:54] rcarrillocruz commented on #23813
I checked the code in the module and puppet agent is run if 'manifest' param is provided:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/puppet.py#L222

I think the code should do instead something like:

[code]

[2017-04-21 09:56] philfry commented on #23733
The bug only occurs when using `include_role` in a role.
This example works fine:

- roles/master/tasks/main.yml
[code]
- bug.yml
[code]
### results
[code]
While playing around with ansible's source code and adding some debug lines I found the following:
[code]
full debug log is [here](https://gist.github.com/ac1c8021a035ac3f7aa412976baeb232) with [these modifications](https://gist.github.com/1ad8

[2017-04-21 10:08] sdktr opened #23854 "host variable in provider argument ignored for persistent connection setup in 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command / network_cli module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg contains a custom dynamic inventory, but problem can be reproduced with local host file as well
[defaults]
inventory=/mnt/c/inventory/ermainventory.ps1
gathering=explicit
transport=local
remote_user=ansible
library=/usr/lib/python2.7/dist-packages/an

[2017-04-21 10:12] sdktr commented on #23854
In 2.2 using a custom variable for the host argument workes as expected.
As a workaround we provide the same value as an extra host var (ansible_host) in the dynamic inventory

[2017-04-21 10:27] rcarrillocruz commented on #23551
@lukerussell I saw your comment on the gist you linked that this may be linked to non passing authorize.
Can you please check the privilege levels from a device that the playbook works and from other device it does not?

I think something like 'show privilege' could show that (can't assert that in the lab, we don't have an XE device or VM at the moment).

[2017-04-21 10:53] dagwieers commented on #23851
In case you're interested, the **shell** module documentation (http://docs.ansible.com/ansible/shell_module.html) includes an interesting example. My experience is that the expect module is rather limited, and shell+expect is much more versatile. YMMV

[2017-04-21 11:17] helltone commented on #23848
@rcarrillocruz sorry, my fault. It is extra module.

[2017-04-21 11:18] accrosys commented on #23851
thanks for the reference, I will use shell+expect instead ;-)
what brings the expect module is an abstraction of expect syntax which is something people may be interested in.

[2017-04-21 11:20] #23848 closed, assigned to nobody

[2017-04-21 11:46] spikerobinson commented on #23801
OK so in the light of Brian's helpful explanations I can see that this docsite reference
http://docs.ansible.com/ansible/playbooks_roles.html#roles

has this statement

which (somewhat indirectly) implies that some of the components of a role are of the type `vars_files`, and in turn I suppose we could guess/deduce that means the files under `vars/` and `defaults/`

I suggest adding a more explici

[2017-04-21 11:52] #23844 closed, assigned to nobody

[2017-04-21 12:15] alv000h commented on #10874
COMPONENT NAME
* ansible core - plugins/connection/ssh

[2017-04-21 12:32] emonty commented on #23354
Hi! We've cut a new release of shade which should handle the most egregious parts of this. Could you try it and let me know if it's any better? If it's still too slow I may want to follow up a little more - there are both some config settings I could point you out (and probably document better) - and I can always search the code for more ways to suck less.

[2017-04-21 12:47] s-hertel commented on #23779
Can you paste the full output with -vvvvvv?

[2017-04-21 12:53] EdoBarroso commented on #16616
Any ideas if this could get developed anytime soon?

[2017-04-21 12:57] boscowitch commented on #4290
Fuck, I the same happened to me . docs should be changed here ASAP.
Now I have to fix a lot of systems manually :(

[2017-04-21 13:21] robinro commented on #23837
This is a duplicate of #15802.

@bcoca I agree this is not an error, but a warning if the folder does contain none of `tasks`, `vars`, `meta`, `handerls` would be helpful.

[2017-04-21 13:30] #23770 closed, assigned to rcarrillocruz

[2017-04-21 13:36] spikerobinson commented on #23801
OK I found where the docsite defines `vars_files` - it is in the Variables article:
http://docs.ansible.com/ansible/playbooks_variables.html#variable-file-separation
And yes it does say there that `vars_files` need to consist only of a valid YAML **dictionary** (not just be valid YAML).

So that's where we need to link to: **from** the discussion of the ./vars/ and ./defaults/ files and directorie

[2017-04-21 13:40] Yannig opened #23861 "Crash with file module when directories have non utf-8 files"
##### Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special

##### OS / ENVIRONMENT

Nothing special

##### SUMMARY

When launching file module with recurse = yes on directories with non utf-8 files, Ansible crash with the following message:

[code]
##### STEPS TO REPRODUCE

You can retrieve an example at the following location: https://github.

[2017-04-21 14:15] greggilbert commented on #23595
@JulienChampseix, it's meant to be used on an EC2 instance. Per [the docs](http://docs.ansible.com/ansible/ec2_facts_module.html):

[2017-04-21 14:16] yop190 opened #23863 "WinRM connection error 101"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Any win module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

Run in Docker based on  williamyeh/ansible:ubuntu16.04

##### SUMMARY

Since upgrade to 2.3.0, sometimes a communication failure appear with the windows VM

UNREACHABLE! => {"changed": false, "msg": "ssl: HTTPSConnectionPool(host=

[2017-04-21 14:20] jleclanche opened #23864 "Feature request: timeout on unarchive"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

unarchive

unarchive module supports `remote_src`: https://docs.ansible.com/ansible/unarchive_module.html

However, it doesn't seem to support setting a timeout parameter on reading the remote url. This is a problem when downloading eg. autogenerated tarballs which may take a while to generate.

[2017-04-21 14:26] ksoftirqd commented on #23354
Hi!

It definitely works better now! I used a simple script to create 1 vm using shade 1.19.0 & 1.20.0:

[code]

Here are the results:

* 1.19.0

[code]

* 1.20.0

[code]

If there are settings that can be tweaked to improve it even more, i would really appreciate if you could share more details on that.

Thanks!

[2017-04-21 14:32] s-hertel commented on #23777
Not a yaml expert, but is the problem that your block is only indented two? If you indent everything in the block by two spaces does that work?
[code]

[2017-04-21 14:46] EdoBarroso commented on #23834
Might be obvious, but if somebody needs a workaround for this, you can try to add an SSH key and then remove it using the authorized_key module, like this:

[code]

[2017-04-21 14:46] kustodian commented on #23786
Also wasn't `lineinfile` module there to edit just one line in the file (as the name suggests), while `replace` module was added to take care of modifying multiple lines?

[2017-04-21 14:58] FlorentCoppint commented on #23575
Hi,
Why this :

synchronize: src=src/ dest=dest/ archive=yes rsync_opts='["--update", "--numeric-ids"]'

is resulting in :

fatal: [10.111.XX.XX]: FAILED! => {"changed": false, "cmd": "/usr/bin/rsync --delay-updates -F --compress --archive --rsh=/usr/bin/ssh -S none -o StrictHostKeyChecking=no [\"--update\"  \"--numeric-ids\"] --out-format=<<CHANGED>>%i %n%L root@10.111.XX.XXX:/dest/ src/", "faile

[2017-04-21 15:06] ogenstad commented on #23723
@gundalow, I don't know where it is. But I don't think it's something within the ASA code. My guess would be that it's from the common networking code.

[2017-04-21 15:18] retrospectacus commented on #23764
I did a few tests. LGTM

[2017-04-21 15:22] dctremblay commented on #20063
As said from #20494, a simple solution that worked for me (using Debian Stretch) is to enter those commands :

[code]

Hope this helps someone !

[2017-04-21 15:26] jean-christophe-manciot commented on #18974
Issue still unsolved with:
- latest stable **ansible 2.3.0**
- latest unstable **ansible 2.4.0 from pip**
[code]
although the target node is accessible through ssh and some other plays run successfully.

[2017-04-21 15:31] alikins commented on #23597
Works for me on OSX as well, 2.3.0.0-1 and devel/

[code]

[2017-04-21 15:31] retrospectacus commented on #23764
test case https://gist.github.com/retrospectacus/d2e9de7bd6ab70b2a32b5687db43990b

[2017-04-21 15:35] ogenstad commented on #23723
I think my guess might have been incorrect. I would suspect this it's triggering on the `>` char:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/asa.py#L44-L45

I.e. the line is treated as a prompt and therefore removed. The ios modules used to work like that too, but it looks different now.

I can do some testing to see what I come up with.

[2017-04-21 15:37] alikins commented on #23597
@michelleperz @universalvishwa  what was the exact command line used?

@universalvishwa In /Users/vseneviratne/.ansible.cfg,  what are the values (if set) for:
* defaults
  * roles_path
* galaxy
   * role_skeleton
   * role_skeleton_ignore

Do the roles dirs already exist or are they new?

[2017-04-21 15:41] bcoca commented on #23837
closing as dupe of above

[2017-04-21 15:41] #23837 closed, assigned to nobody

[2017-04-21 15:51] alikins commented on #23597
@michelleperz @universalvishwa   how was ansible installed?

In the installed version of ansible what are the contents (la -laR) of the dir
 $THE_PATH_TO_THE_ANSIBLE_INSTALL/lib/ansible/galaxy

[2017-04-21 16:03] bitfoo1 opened #23869 "ansible git module seems not idempotent"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special just setting roles path

##### OS / ENVIRONMENT
OS Ansible: Arch Linux
OS Client: Debian 8

##### SUMMARY
I am using git module to clone repository on github.com. Task look like followed:
[code]
It clones my repository state is changed on ansible-playbook run

##### EXPECTED RES

[2017-04-21 16:15] robinro commented on #23869
Thanks for opening this issue.

Can you give a minimal working example of this issue that does not depend on other variables?
The general feature you describe works, so it might depend on the use of submodules/...
needs_info

[2017-04-21 16:15] kustodian commented on #10829
`register`/`when` to complicated for something which should be very easy. I suggested something like this in #19075

[code]

[2017-04-21 16:32] Qalthos commented on #23316
Can you check to see if #23369 properly addresses your problem?

[2017-04-21 16:47] universalvishwa commented on #23597
Hi,

Here is the info requested....
[code]

[code]

[2017-04-21 16:48] bcoca commented on #23700
The problem with changing priority is that this affects MORE than SLES and will cause problems in other platforms, the current fix seems to add -v.

[2017-04-21 16:55] s-hertel commented on #23595
Hi @JulienChampseix, I was way too trigger happy when closing this. Reproduced your problem, and  I'll have a patch for you shortly.

[2017-04-21 17:08] alikins commented on #23597
@universalvishwa hmm, /Library/Python/2.7/site-packages/ansible/galaxy/data/ looks wrong for ansible-2.3. There should be a 'default' and 'container_enabled' subdirs in there.

How was ansible installed?

[2017-04-21 17:11] jbscare opened #23871 "Undefined variables and dicts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Not sure -- something that handles dereferencing variables, presumably?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None that seems related.

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you define a variable that refers to an element in a dict, and that element's parent element isn't defined, you get an

[2017-04-21 17:25] universalvishwa commented on #23597
Hi,

I followed this guide....
https://valdhaus.co/writings/ansible-mac-osx/

[2017-04-21 17:54] universalvishwa commented on #23597
HI,

Assuming that I made a mistake during installation, I uninstalled ansible completely and reinstalled. I did check all installed paths and verified that '/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages' is cleaned up. The issue is still the same. Here is the terminal output....

Please let me know if there is anything I can do to help you understand the issue more

[2017-04-21 18:12] cognifloyd commented on #21928
@bcoca you said squashing will be removed. So, I guess that means portage won't ever be added to DEFAULT_SQUASH_ACTIONS https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L306

The comment above DEFAULT_SQUASH_ACTIONS (from two years ago) says:

[code]

Is there a feature request somewhere for this? Does that mean that portage could eventually opt-in by adding a squash field? O

[2017-04-21 18:14] cognifloyd commented on #21918
Yup. Thanks for adding it.

[2017-04-21 18:14] #21918 closed, assigned to nobody

[2017-04-21 18:22] wltjr commented on #21928
It seems to be a general Ansible feature, not module specific. I think they are removing that function as its replaced by the same internally. Not sure just my take on the comments thus far. I am not as familiar with squashing. Seems its passing a list or something. Which should be possible now or with new versions of ansible.

[2017-04-21 18:33] wltjr commented on #21928
If this does require any modification. I am happy to modify the portage module as needed. I plan to further it time permitting. Ideally hooking directly into portage python code rather than invoking another python process. Though that may be unsafe if it has an issue may take out ansible as well. The remote python actions, if running portage module under same instance of python.

[2017-04-21 18:42] kladiv commented on #23578
+1 same issue

Playbook:
[code]

Role (main.yml)

[code]

[2017-04-21 18:45] jagibson commented on #23593
@tedder @s-hertel Yeah I'm starting to suspect something is wrong with my setup.  Researching.

[2017-04-21 18:47] kladiv commented on #23578
+1 same issue

Playbook:
[code]

Role (main.yml)

[code]

[2017-04-21 19:01] b2sweety commented on #14530
Hi Team,

Looks like i am facing the same issue.
When i run the ping command to reach my router, i see it failing everytime. However, when i directly try running "ssh@username.ipaddress' it works perfectly fine. Can someone please help me with this.

Error message:

sing /etc/ansible/ansible.cfg as config file
Loaded callback minimal of type stdout, v2.0
<Test-router> ESTABLISH SSH CONNECTION FOR

[2017-04-21 19:02] b2sweety commented on #14530
@theonewolf Could you please tell me how did you roll back to ansible 1.9.2? What command did you run?

[2017-04-21 19:21] ErisDS opened #23873 "Linode provision errors with "Alert_cpu_threshold must be between 0 and 2000.""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
linode cloud module - modules/cloud/linode/linode.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Master: Mac OS X El Capitan v10.11.6
Managing: Ubuntu 16.04 on Linode
Python: 2.7.13

##### SUMMARY

When trying to provision a linode with the linode module (using a playbook very similar to [this one](https://github.com/marji/ansible-play

[2017-04-21 19:29] ErisDS commented on #23873
FYI for anyone else coming across this, I have implemented a workaround by reading the defaults from linode.list(), and sending all the default values like:

[code]

[2017-04-21 19:42] InTheCloudDan commented on #23873
@ErisDS I'll look into this weekend.

[2017-04-21 20:07] #23734 closed, assigned to alikins, jimi-c, bcoca

[2017-04-21 20:32] alikins commented on #23597
I can reproduce this with a fresh pip install in a clean env.

It looks like lib/ansible/galaxy/data/default/templates isnt getting picked up when packaged. Not sure why yet.

[2017-04-21 20:49] sivel commented on #23597
@alikins It looks like the `package_data` in `setup.py` doesn't match the directory itself nor the `.git_keep` file, and as such, the `templates` directory is not installed

Something like the following will grab the `.git_keep` file and the `templates` directory, although I question whether we want to bring the `.git_keep` file along:

[code]

[2017-04-21 21:22] geekofalltrades commented on #18889
Since Ansible 2.0, you can use dpkg_selections for this: https://docs.ansible.com/ansible/dpkg_selections_module.html

[2017-04-21 21:23] ErisDS commented on #23873
@InTheCloudDan Awesome, thanks for such a fast reply! I'm afraid my python is a little too rusty for a PR.

[2017-04-21 21:26] mfriedenhagen commented on #18889
I do not think this is a proper replacement for fixating the version. You would have to disable the hold, upgrade and hold again. This is much more complicated and error prone  than replacing the version in a preference file.

[2017-04-21 21:45] command-tab opened #23877 "ansible-galaxy munges installed role filenames under Ansible 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special.

##### OS / ENVIRONMENT
macOS Sierra 10.12.4

##### SUMMARY
When using `ansible-galaxy` to check out a `requirements.yml` role, if a template inside the role contains the name of the role, the template file gets mangled during checkout. It should leave files named

[2017-04-21 21:55] sivel commented on #23877
Closing this as a duplicate of the already resolved https://github.com/ansible/ansible/issues/22572

[2017-04-21 21:55] #23877 closed, assigned to nobody

[2017-04-21 22:18] bcoca commented on #21928
To support squashing a module just has to accept a list as well as a single item, there is no need to add to the harcoded defaults, you can do this in config.

As for removing the feature, we plan to phase it out and have users just pass a list directly to the module vs having loops do 'magic' to do same.

[2017-04-21 22:22] sivel commented on #21928
Additionally, any module that could support squashing, can also be achieved without squashing, by providing `name` with a YAML list or a comma separated value of packages, as opposed to using `with_items`.

Squashing basically takes the value from `with_items` and passes it directly to `name` as a list.

The following example, is typically what I do whenever possible:

[code]

[2017-04-21 22:23] bcoca commented on #23764
closed via 4b5553c

[2017-04-21 22:23] #23764 closed, assigned to bcoca

[2017-04-21 23:17] lukerussell commented on #23551
@rcarrillocruz I had meant that comment for here, mustn't have been paying attention. I'll reproduce here.

**Further investigation:**
The problem seems to be connected to the provider arguments "authorize: true" and "auth_pass: "test"".
If I explicitly tell ios_facts (or ios_config) to authorize and the auth pass to use it works. Both are required.
It seems like "password" is not being copied int

[2017-04-21 23:33] frenchy59 commented on #23841
I have installed a fresh RHEL 6.8 (on managed host) and that works now.
libselinux-python-2.0.94-7.el6.x86_64
policycoreutils-python-2.0.83-29.el6.x86_64

Are you planning to make it work with RHEL 6.5 ?

[2017-04-22 00:01] ttrahan commented on #15321
@shadycuz : for me, this resolved on Ubuntu 16.04 with this added to ansible.cfg:

[ssh_connection]
# for running on Ubuntu
control_path=%(directory)s/%%h-%%r

On related note, this resolved it when running on Mac host:

[ssh_connection]
# for running on OSX
control_path = %(directory)s/%%C

[2017-04-22 00:22] ushergod commented on #11702
Hi,
same issue in 2.2.1. Copy 300mb file, it failed with MemoryError

cat copy_hugefile.yml
---
- hosts: lb
  become: yes

  tasks:
    - name: Copy huge file
      fetch: src=/tmp/300mb.log dest=/tmp

it failed with
TASK [Copy huge file] **********************************************************
An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):

[2017-04-22 00:30] dagwieers commented on #23841
I have no plans. But I do accept patches adding backward compatibility with older libs.

[2017-04-22 01:06] wltjr commented on #21928
I think the module already supports this, if not I will modify.

[2017-04-22 03:07] ur5us commented on #16048
@sayap Thanks for your tip. In my case I'm using a box on https://www.scaleway.com/.

Installing the `acl` package fixes the problem, no extra privilege escalation settings required other than `become_user: postgres`.

[code]

[2017-04-22 05:19] beggles commented on #18974
I updated my playbook to include `transport: nxapi,` and that worked, though when I included an additional task to execute `show vlan` via `transport:cli`, I received the "unable to open shell" error;

New playbook looks like this;
[code]

The second task "show nxos command via cli", is the failing task;
[code]

First task executed fine and as expected.

[2017-04-22 06:22] tima commented on #16616
Yes. Just submit a pull request.

[2017-04-22 07:50] gundalow commented on #23723
That would be great, thanks.

[2017-04-22 08:37] nogweii opened #23880 "Support specifying custom locations for ansible galaxy's token and ansible-console's history file"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-galaxy and ansible-console

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Archlinux, fully updated.

##### SUMMARY

I'm on a mission to clean up my home directory. Or, at least, the top level. Part of it is minimizing the number of hidden dotfiles.

Currently, a search through the source has the follo

[2017-04-22 09:01] hemskgren commented on #23082
Hi

I get the same issue.

ansible 2.3.0.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
---
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_rYVktZ/ansible_module_asa_command.py", line 229, in <module>
    main()
  File "/tmp/ansible_rYVktZ/ansi

[2017-04-22 11:57] beggles opened #23881 "Ansible 2.3: "nxos_command" timeout when using transport: cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Execution of **"nxos_command"** in `transport: cli` mode reports a fatal error
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg is as installed, and without alteration, per instructions for Ubuntu @ `http://docs.ansible.com/ansible/intro_installation.html#latest-releases-via-apt-ubuntu`

##### OS / ENVIRONMENT
Control PC OS is Ubunt

[2017-04-22 12:11] danielgriggs commented on #23779
https://gist.github.com/danielgriggs/eaefe746c2abd6af6d5b954f2fee7ce0

[2017-04-22 12:12] danielgriggs commented on #23779
Done.

On 21 April 2017 at 13:48, Sloane Hertel <notifications@github.com> wrote:

--
Daniel

[2017-04-22 18:34] carnil commented on #22505
If I unsderstand the report correctly this is the issue refered by [https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7473](CVE-2017-7473) originailly found in https://bugzilla.redhat.com/show_bug.cgi?id=1440912 and as well in the SuSE bugzilla at https://bugzilla.novell.com/show_bug.cgi?id=1035124

[2017-04-22 19:51] prabhattiwari8 commented on #20842
https://github.com/wimnat/ansible-modules/blob/master/elasticache/elasticache_replication_group.py dosen't support replicas-per-node-group. Are there any plans to add to it?

[2017-04-22 20:44] InTheCloudDan commented on #23810
I am able to duplicate this issue, there's no default set for name so it's throwing the error. Even a minor change such as:

`name = dict(aliases=['unit', 'service'], default='service'),`

causes it to work, but then this will act as a default service name I believe which is not correct. I've tried working with:

`    for requires in ('state', 'enabled', 'masked'):
        if requires is not None

[2017-04-22 21:27] semente commented on #5865
Hey guys, looks like we have a regression on 2.3.0, at least when using on docker_service.scale:

{{
    - name: set up web apps
      docker_service:
        project_src: "/srv/{{ item }}"
        stopped: "{{ instances.get(item).is_disabled | default('false') }}"
        pull: yes
        scale:
          web: "{{ instances.get(item).scale }}"
      with_items: "{{ web_instances }}"
}}

I've tri

[2017-04-23 00:10] perigee opened #23883 "run_once and delegate_to affect both host and delegated host register variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- run_once
- delegate_to
- register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux ubuntu 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

When using `run_once` and `delegate_to`  on `shell` + `register`, the
active host and delegate_to host

[2017-04-23 00:35] sivel commented on #23883
I believe this is expected.  run_once basically causes the module to work like a host list bypass plugin, which registers the single result to all hosts in the play.  In fact after typing that, I am confident that this is expected.

[2017-04-23 00:39] sivel commented on #23883
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-23 00:39] #23883 closed, assigned to nobody

[2017-04-23 04:16] kulinacs opened #23885 "Anisble 2.3: SU - Timeout waiting for privilege escalation prompty"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

become_method: su

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Become method SU times out, rendering it unusable. Tested on multiple operating systems, all with the prompt "Password: "

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

su to correctly authenticate as root, and

[2017-04-23 04:18] kulinacs commented on #23885
duplicate_of #23689

[2017-04-23 04:18] #23885 closed, assigned to nobody

[2017-04-23 06:30] Kostafun opened #23887 "synchronize module, missing quotes on rsync arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- synchronize
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- ansible.cfg
[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Rsync synchronization does not work on 2.3.0.0, works on 2.2.2.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

On version 2.2.2.0 works as expected, executing
[code]

##### ACTUAL RESULTS

On 2.3.0.

[2017-04-23 07:19] #23786 closed, assigned to nobody

[2017-04-23 08:27] messiahUA commented on #13276
@ryansb that's good news, but when I try to execute it says:
`'include_role' is not a valid action for ad-hoc commands`

I'm using ansible 2.4.0

[2017-04-23 10:16] queeno commented on #23578
+1 same issue

[2017-04-23 10:51] peteeckel commented on #23887
I found out a similar issue with quoting in synchronize yesterday:

    - name: Update the mirrors (this may take a very long time)
      synchronize: >
          src={{ item.source }}
          dest=/data/mirrors/{{ item.destination }}
          archive=yes
          copy_links={{ item.copy_links }}
          mode=pull
          rsync_opts="{% for pattern in item.excludes %}--exclude='{{ pattern

[2017-04-23 10:56] ilovezfs commented on #23779
Was this reported to Jinja upstream?

[2017-04-23 12:11] danielgriggs commented on #23779
No,

I figured it was an integration issue, rather than a problem with Jinja.

Sent from Mobile Command

[2017-04-23 12:12] ilovezfs commented on #23779
@danielgriggs ah ok. Then we'll just track the ansible issue.

[2017-04-23 13:45] KroArtem opened #23889 "Add proxy support for windows modules/ proxy doesn't work for win_copy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Windows module (win_copy)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Windows ip is added to /etc/ansible/hosts
Windows is configured using appropriate .ps scripts from ansible documentation

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The pipeline is the following:
Teamcity has an ansible step that launches ansible-playbook.

[2017-04-23 14:12] pehruby opened #23890 "nxos_interface crashes during int Vlan creation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

Playbook crashes during  vlan creation task

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The Vlan was created but the play crashed.

##### ACTUAL RESULTS

An exception occurred during task execution. To see the full

[2017-04-23 15:12] jbscare commented on #23871
Thanks for the fix! An even simpler reproducer:

[code]

Just in case that's useful.

[2017-04-23 15:41] wimnat commented on #20842
I've no time to work on elasticache modules because I've still got PRs open for ALBs and IAM but feel free to take what I've done. I can't even remember if it's boto3 though

[2017-04-23 16:07] kwohlfahrt commented on #21026
Just tested this (on 2.3.0.0-r1), and found it is not working. This is because the message `Running in chroot, ignoring request.` is in `err`, not in `out`, which is being searched.

[2017-04-23 16:53] RonaldFindling commented on #19820
Mounting a filesystem without touching the fstab should definitely be an option, adding something like @juju4 suggested `fstab=present` seems very expressive.

[2017-04-23 17:17] morph027 commented on #23345
Hm....issue is still present :(

[2017-04-23 17:53] fia5000 opened #23895 "FirewalldD Module Fails if Port is Already Opened"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

firewalld
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS Targeting, RHEL 7.3
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected results would be that if the the port is already opened, the firewalld module would gracefully notice that the port is already opened and skip the task.

[2017-04-23 18:51] ulf-f commented on #23881
Hi,
ran into the same problem also with ansible version 2.4.0.
regards,
ulf

[2017-04-24 00:56] angystardust commented on #10902
Hey guys, any workaround to get this work?
I'm strugging with this simple use-case:

example playbook:

[code]

Output:

[code]
As you can notice, both the **ID** and the **expires** cookies have a comma inside the value and that's why the get_url module complains

[2017-04-24 01:47] ghost opened #23898 "4y!"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-24 01:48] #23898 closed, assigned to nobody

[2017-04-24 02:51] ChenXiaoTemp commented on #16456
+1

[2017-04-24 02:57] ChenXiaoTemp commented on #16456
I found it is my scripts' problem, the quotation in the last line of my script is not matched.

[2017-04-24 05:56] keepzero opened #23900 "validate_checksum parameter of fetch module is actually default to "no" does not match the document."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
fetch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing

##### OS / ENVIRONMENT

anything

##### SUMMARY

In the ansible [document](http://docs.ansible.com/ansible/fetch_module.html) the validate_checksum is default set to yes. But actually is "no" in the [fetch.py](https://github.com/ansible/ansible/blob/v2.3.0.0-1/lib/ansi

[2017-04-24 07:45] erwilan commented on #23887
this is a duplicate of #23575

[2017-04-24 07:49] KroArtem commented on #23889
@dagwieers probably you know better whether it's a bug or a feature?

[2017-04-24 08:16] erwilan commented on #23575
once again - summarized - you can pass the arguments to an option which requires a list in the following ways:

a) ansible splits a string by comma when an option requires a list as argument:
[code]

b) you can also pass a jinja list:
[code]

c) pass a yaml list (preferred option):
[code]

[2017-04-24 08:42] maxicool commented on #15321
i had also that problem and figured out that my sftp server was not started. reconfigured sshd server by changing /etc/ssh/sshd_config, and restart ssh server. the problem has gone.

[2017-04-24 09:00] mario-pranjic opened #23902 "copy module doesn't handle symlinks and empty directories"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

When using copy module, and there are symlinks on src, it will create copy of a file/dir in dest instead of creating a symlink.
Also, if there is a directory on src with no files/dirs in it, it will not be co

[2017-04-24 09:04] windowsansiblernew opened #23903 "'utf8' codec can't decode byte 0xff in position 0: invalid start byte""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lookup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Getting the error "'utf8' codec can't decode byte 0xff in position 0: invalid start byte" when a compressed json is being called by lookup plugin
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Json file should be parsed

##### ACTUAL RE

[2017-04-24 09:58] spectroman commented on #19000
Well I just stumbled into this now. But the problem is quite clear.

Whilst adding an http_proxy var on bash, or yum.conf will work fine to all commands and yum respectively, "#rpm --import" requires something else.

According to documentation:

       --httpproxy HOST
              The host HOST will be used as a proxy server for all http transfers. This option may also be specified by configurin

[2017-04-24 09:59] caio2k opened #23905 "sysctl module fails to unset variable if value is empty"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sysctl

##### ANSIBLE VERSION
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
default settings

##### OS / ENVIRONMENT
Host: Debian 9
Target: Centos 7

##### SUMMARY
When running task with `state=absent` and `value={{ not_defined_variable | default(omit) }}` or

[2017-04-24 10:07] jhawkesworth commented on #23903
I'm guessing you have a Byte Order Mark at the start of your compressed JSON file.   Can you run 'od -cx xl.json' to see whether there is a Byte Order Mark present?

needs_info

[2017-04-24 10:10] adoram commented on #20653
@imranh2 HashKnownHosts is on, ssh uses non-standard port on the latest Amazon Linux. For now continuing to use Ansible 2.2.0.0, but will try to add the "-o Port=9022" ssh_opts option.
Any ETA for this to be fixed?
Thanks!

[2017-04-24 10:12] bjolivot commented on #23810
Bug found, fix PR is comming

[2017-04-24 10:16] windowsansiblernew commented on #23903
how can i see it? i ran it and it gave me bunch of numbers

[2017-04-24 10:24] JonZeolla commented on #19000
Thank you.  I should be able to test this week.  Much appreciated

[2017-04-24 11:30] jhawkesworth commented on #23903
Look at the first line of the od -cx output.  If there are invisible characters present before the start of your file contents, then you have a BOM which you need to get rid of.

Some examples:
[code]

needs_info

[2017-04-24 11:49] windowsansiblernew commented on #23903
compressed json output
first line
[code]

non compressed json output first line
[code]

[2017-04-24 12:02] robinro commented on #20653
AFAIK nobody is working on this yet (@abadger @jctanner Correct me if I'm wrong)

@adoram or anyone else: Feel free to open a PR.
!needs_info
needs_contributor

[2017-04-24 12:57] rcarrillocruz opened #23909 "Create a module for Keystone endpoints"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_keystone_endpoint

##### SUMMARY

The OpenStack Keystone modules have support for creating domains, services and roles.
Would be good to also have a module for creating Keystone endpoints.

[2017-04-24 13:01] gundalow commented on #23881
@ulf-f Can you please provide the output from `ansible-playbook --version`

[2017-04-24 13:22] trishnaguha commented on #23881
With the latest devel `2.4.0` it should not fail. Tested with the same playbook.

[2017-04-24 13:47] trishnaguha commented on #23881
This is fixed in `stable-2.3`. The fix should be out with the next `2.3.1` release.

[2017-04-24 13:56] nblock opened #23910 "IndexError when trying to install a non-existing package (pacman, package)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* package
* pacman

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Host: Arch Linux
Node: Arch Linux

##### SUMMARY
The pacman and package modules fail with a Traceback when trying to install a non-existing package.

##### STEPS TO REPRODUCE
* A playbook with the following content:
[code]
* An inventory that references a single Arch Linu

[2017-04-24 14:01] Pallokala commented on #12677
We migrated from add_host to meta:refresh_inventory and it is working very well.

But if you still need to use the add_host add the tags like:

    - name: Add new instance to host group
      add_host: hostname={{ item.public_ip }} groups=tag_groupname_launched,tag_name_laa,tag_key_value,tag_anotherKey_anotherValue
      with_items: ec2.instances

Note the change from previous examples `groupname

[2017-04-24 14:35] nblock opened #23912 "Diff setting via configuration/environment variable has no effect"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
depending on the scenario, see below:
* OK: when using ```--diff``` command line parameter
* FAIL: when using ```ANSIBLE_DIFF_ALWAYS=true ansible-playbook [args]```
* FAIL: with the following snippet in ansible.cfg:
[code]

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
The diff setting h

[2017-04-24 14:36] alikins commented on #23806
I can reproduce with devel (currently e0a7105c2d47f4c71043b8028b484a9e1a1c6700) with:

test.yml
[code]

And the https://github.com/ITler/ansible-include-test repo checked out to roles as 'include-test', ie:

[code]

results:
[code]

[2017-04-24 14:39] abdelhegazi opened #23913 "yum_repository module: description is Required and documentation says not required"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

yum_repository
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

just running ansible-playbook expecting to install epel repo with yum_repo without mentioning description. it failed due to Description required and the documentation syas isn't
##### STEPS TO REPRODUCE

[code]

###

[2017-04-24 14:44] passw0rd123 commented on #13278
This issue was gone for a long time on **Solaris 11 x86** but reappeared now with Ansible 2.3.0.0 😞 If I remember correctly it always failed if `Pipelining` was enabled, but without everything worked fine.

The connection via SSH works but the response for the priviledge escalation to root via `su` times out.

[code]

Heres the full debug output ob this section:

[code]

[2017-04-24 14:57] alikins commented on #23903
I can reproduce this with devel/. The error seems to happen on the file load, so the '|from_json' isnt needed to reproduce the error.

[code]

[2017-04-24 15:03] sivel commented on #23903
BTW, I am not sure that "compressed json" means a "gzipped" JSON file.  It looks like from what I can tell, the OP means that it is all one line, and not pretty formatted with indentation.

Although the OP hasn't express explicitly how the "compressed json" is being created.

But from the output mentioned in https://github.com/ansible/ansible/issues/23903#issuecomment-296634616 it appears it is st

[2017-04-24 15:09] alikins commented on #23903
@sivel good point about 'compressed json'. I tested with just a gzipped json file and got similar error (file lookup expects to be able to to_text() the file contents and that failed on the gzip bytes content). But the file shown in https://github.com/ansible/ansible/issues/23903#issuecomment-296634616 is something else...

@windowsansiblernew what do you mean by 'compressed json'?  Can you provid

[2017-04-24 15:21] alikins commented on #23910
I suspect where it is invoking `'pacman -S %s --noconfirm --noprogressbar --needed' % repos`, that is failing in a way that the `data = stdout.split('\\n')[3].split(' ')[2:]` hits the index error. (less than 4 lines of output would do it, as well as the 4th line not having more than two spaces...)

[2017-04-24 15:22] alikins commented on #23910
pinging @indrajitr

[2017-04-24 15:26] kwohlfahrt opened #23914 "parted module does not resize partitions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
Partitions are kept unchanged (and an OK result is reported), even if the size of the partition in the play is different to the actual size. This continues from discussions in #22996 and #23411

##### STEPS TO REPRODUCE
Run the following task:

[cod

[2017-04-24 15:34] alikins commented on #23913
Need to see a example playbook and the 'ansible-playbook -vvv main.yml' output to verify its not something else, but 'description' is required if 'state=present' and that is the default.

For a scenario where the state isnt specified (default to present) and no description, you should get an error like '"Parameter 'description' is required."'  The 'description' parameter is required for that invoc

[2017-04-24 15:35] alikins commented on #23913
Closing this for now. Reopen if the task 'state' was not set to 'present' and you still see this error.

[2017-04-24 15:35] #23913 closed, assigned to nobody

[2017-04-24 15:45] alikins commented on #23900
The module/action does look like it will default to false/no when not specified which doesn't match the docs.

I'm not sure which is actually correct.

[2017-04-24 15:51] pavansai8 opened #23916 "msg": "failed to create temporary content file: timed out". Can someone help me on this."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-24 15:52] pavansai8 commented on #18894
I'm also facing the similar issue.

failed to create temporary content file: timed out. Can someone help me on this.

[2017-04-24 16:01] willmerae opened #23918 "Facts returned by docker_network module are removed by ansible >= 2.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 4.4.0-72-generic \#93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
The docker_network module returns a fact called `ansible_docker_network`, this is filtered out since Ansible 2.3.0 and the following war

[2017-04-24 16:10] alikins commented on #23887
I think this may be resolved in devel/ and in the stable-2.3 branch via f7c9f44aabbabe371358672be2381f9a11073f96 and c16622b072203b1cbe59f937e3920741db8db6ef)

Could you test this with a build from the stable-2.3 branch?

[2017-04-24 16:12] alikins commented on #23887
ansibot: duplicate_of 23575

[2017-04-24 16:13] alikins commented on #23575
Is this fixed/improved by f7c9f44aabbabe371358672be2381f9a11073f96

f7c9f44aabbabe371358672be2381f9a11073f96 is in devel/ and stable-2.3, so testing with either would be useful.

[2017-04-24 16:21] pehruby opened #23920 "Parameter provider is required in module nxos_vrf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-24 16:23] #23887 closed, assigned to nobody

[2017-04-24 16:27] alikins commented on #23902
Not sure I understand how these are related? Is the 'ls' output from 'ls files/www' ?

What is the actual results in 'dest' when finished?

Does the behavior change if the 'follow' option is specified?

I believe copy should handle empty directories correctly. Does 'g' not end up in dest at all?

If you could provide the verbose output (add '-vvv' to ansible-playbook cli) that will help sort it ou

[2017-04-24 16:27] windowsansiblernew commented on #23903
i have resolved it myself by changing the encoding to ascii and ansible nailed it :1st_place_medal:

[2017-04-24 16:31] sivel commented on #23918
This was already resolved for docker_container in https://github.com/ansible/ansible/commit/20bf02f6b96356ab5fe68578a3af9462b4ca42a5

We should make that same change across all docker modules where applicable

[2017-04-24 16:36] jhawkesworth commented on #23903
ok, glad you are working, lets close this issue then as its not really an ansible issue.

[2017-04-24 16:36] #23903 closed, assigned to nobody

[2017-04-24 16:39] mario-pranjic commented on #23902
Hi,

Ad 1: Yes, the 'ls' output is from files/www (src)

Ad 2: The output in dest follows (/tmp/test/www):
[code]
Ad 3: I didn't notice behavior change when follow option is set (tried both)

Ad 4: Directory 'g' is not created on dest.

Ad 5: https://paste.ofcode.org/tG8rvKu3nN654F6dM9PDhM

[2017-04-24 16:43] s-hertel commented on #23873
Hi @ErisDS. I'm struggling to reproduce this error. Do you get the error when you run that exact task? What version of linode-python do you have?

[2017-04-24 16:59] tom-clx opened #23921 "'become' causes failure when used on the first task of a play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]
Behavior is also confirmed on 2.2 and 2.3. Last known working was 2.0.
##### CONFIGURATION
[code]
Hostvars configuration is very basic, to isolate issue.
##### OS / ENVIRONMENT

Controller and target are both running FreeBSD 10.3. Target Python version is 2.7.11

##### SUMMARY

Under certain circumstances,

[2017-04-24 17:07] erwilan commented on #23575
f7c9f44 introduced the change we are discussing here

[2017-04-24 17:31] alikins commented on #23912
Currently, ANSIBLE_DIFF_ALWAYS=true  and the config setting are a little different than the cli --diff options.

ANSIBLE_DIFF_ALWAYS=true and config option makes tasks/modules always provide diff information in their returned data.

Adding '--diff' to the cli also does that, but also shows that data from the tasks (via the default callback,  but the diff callback is only triggered if the the strat

[2017-04-24 17:47] jean-christophe-manciot opened #23922 "Cannot run any asa_command: 'timeout trying to send command: enable'"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_command

##### ANSIBLE VERSION

Both latest stable & unstable versions:
[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 10
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars = yes
hash

[2017-04-24 17:52] abadger commented on #23900
Docs are correct, code is wrong.  validate_checksum should default to True.

[2017-04-24 17:57] alikins commented on #23912
Looking through the code in devel/ and  2291163 I see a couple of problems that may be involved.

1) the def of ansible.constant.DIFF_ALWAYS uses the wrong value_type ('bool' should be 'boolean')

2) ansible.plugins.strategy.Strategy.parent_handler_match only calls the diff callback if the --diff cli option is provided and ignores DIFF_ALWAYS

[2017-04-24 18:01] cornfeedhobo commented on #23657
I'm starting work on this

[2017-04-24 18:18] alikins commented on #23916
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-04-24 18:18] #23916 closed, assigned to nobody

[2017-04-24 18:28] ErisDS commented on #23873
Yes - I am using that exact script to test.

I have v1.1.1 of linode-python 35e03cb. I get the error on ansible 2.3.0 and when I tested it on the devel branch (35e03cb). I have also tested #23874, which fixed the issue when I tried on Saturday.

[2017-04-24 18:35] alikins commented on #23921
sounds similar to https://github.com/ansible/ansible/issues/13278

[2017-04-24 18:39] alikins commented on #23921
(just the ssh stderr reformatted for easier reading)

[code]

[2017-04-24 18:41] alikins commented on #23921
(also sort of kind of similar to https://github.com/ansible/ansible/issues/16731 although that issue tends to happen when the ControlPath has been deleted instead of before it has been created as here...)

[2017-04-24 18:43] gmitch64 commented on #19615
(First post, so if I've messed up, please bare with me and let me know where I've messed up).

There is an issue with returning the model number on various Cisco switches/routers that I've tried

ansible --version
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

I've attached the output on a few of our devices, and there are some iss

[2017-04-24 18:51] bcoca commented on #23806
This is not unexpected, using `|int` anywhere except the actual point of consumption is useless. Also k=v pairs are not expected to conserve type, k: v does (in some cases).

[2017-04-24 18:51] #23806 closed, assigned to jimi-c, bcoca

[2017-04-24 19:19] #23057 closed, assigned to jimi-c, bcoca

[2017-04-24 19:22] abdelhegazi commented on #23913
HI @alikins
Thanks for your reply, I am just reopenning it again just to show you the output after I commented the description, bearing in mind I had to add description to have the playbook runs properly but I just commented it upon your request
[code]

And you are right, that had no state at all was just installing EPEL package

[2017-04-24 19:24] mikewiebe opened #23924 "nxos_aaa_server fails when using transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_aaa_server

##### NXOS VERSION
7.0(3)I5(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on OSX

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect radius server to be configured properly.

**NOTE:** If the provider is changed to `cli` the module works as expected.

##### ACTUAL RESULTS
[code]

[2017-04-24 19:35] mikewiebe opened #23926 "nxos_aaa_server_host fails when using transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_aaa_server_host

##### NXOS VERSION
7.0(3)I5(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on OSX

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect radius server host to be configured properly.

**NOTE:** If the provider is changed to `cli` the module works as expected.

##### ACTUAL RESULT

[2017-04-24 19:47] mikewiebe opened #23928 "nxos_acl fails for both cli and nxapi transports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_acl

##### NXOS VERSION
7.0(3)I5(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on OSX

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect acl to be configured properly.

##### ACTUAL RESULTS
Same results using `cli` or `nxapi` transport
[code]

[2017-04-24 19:48] s-hertel commented on #23873
I'm testing on devel as well, and v1.1.1 of linode-python and running python 2.7.10. #23874 looks good, but it's good to have a consistent reproducer before merging patches. Do you see anything different in our setups that would result in different outcomes?
[code]
[code]

[2017-04-24 19:52] tom-clx commented on #23921
Some of the symptoms in the two referenced tickets line-up, but I'm not sure they're exact matches. For an extra data point, I reverted to Ansible 2.0.2.0 and re-tested successfully. Output follows.

[code]

[2017-04-24 20:00] s-hertel commented on #23873
I can also set `alert_cpu_threshold: 2000` and it runs successfully.

[2017-04-24 20:02] ljohnston commented on #15321
Running from a Mac host, @ttrahan 's ansible.cfg workaround did not work for me. I have a playbook that's connecting to several boxes, the majority of which are running Ubuntu 14.04 or 12.04. All of the Ubuntu boxes work without issue. The two boxes that are running CentOS, however, are both failing to connect with the following error:

    fatal: [<a-centos-host>]: UNREACHABLE! => {"changed": fal

[2017-04-24 20:09] #23595 closed, assigned to nobody

[2017-04-24 20:16] sivel commented on #23921
I have tracked this back to https://github.com/ansible/ansible/commit/6f77498700a989c6b42f4f4d050d98df1de74f9e

At least as far is devel is concerned.

In my debugging thus far:

b_output:
[code]
self._play_context.prompt:
[code]

The code turns those into:

[code]

[code]

The logic then:

[code]

That fails, since my prompt ends with:

[code]

I'm not sure why we switched to `endswith` instead o

[2017-04-24 20:32] sivel commented on #23921
The issue seems to extend a little past just the above, once the above is fixed I continue to get:

[code]

Although the password is correct, however I think something in `_examine_output`, as `check_become_success` never sees the `BECOME-SUCCESS`.

[2017-04-24 20:37] gordogre commented on #14641
I also ran into this when running silpion.util, and I feel certain that the problem is that the silpion.util tasks frequently check for the existence of a particular fact, for example:

`when: ansible_local.util.epel.enable is defined`

However, as of ansible 2.2.2, performing this check fails if the parent properties themselves are undefined.

I was also able to revert to 2.2.1 and get the silpio

[2017-04-24 20:55] mikewiebe opened #23932 "nxos_bgp* modules fail to apply for both nxapi and cli transports"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- nxos_bgp, nxos_bgp_af, nxos_bgp_neighbor, nxos_bgp_neighbor_af

##### NXOS VERSION
7.0(3)I5(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on OSX

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect bgp to be configured using playbook properties.

##### ACTUAL RESULTS
**NOTE:** All nxos_bgp* modules f

[2017-04-24 21:31] InTheCloudDan commented on #23873
@s-hertel I was able to duplicate the issue on my end before starting on the changes. Not sure why you're not seeing it.

[2017-04-24 21:43] jtyr commented on #23913
In the [module documentation](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum_repository.py#L88), there is a note that the `description` parameter is required only if `state=present`. If you omit the `state` parameter, it's set to `present` by default which explains why you getting the error.

@ansibot, please close this issue as it's `notabug`.

[2017-04-24 21:49] #23853 closed, assigned to nobody

[2017-04-24 21:52] wgriffiths opened #23934 "consul + Python 3.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Python3.5.2

##### SUMMARY

##### STEPS TO REPRODUCE

Problem with validating if 'script', 'ttl', and 'http' arguments [line in code](https://github.com/ansible/ansible/blob/3164e8b561931b413ee91f537e2ea3273b0a1775/lib/ansible/modules/clustering/consul.py#L363)

In Pyt

[2017-04-24 22:22] #23934 closed, assigned to nobody

[2017-04-24 22:30] Brian-Williams opened #23937 "Wait_for is failing on the first attempt and not waiting for port"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[ssh_connection]
scp_if_ssh=True
[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=10m

##### OS / ENVIRONMENT

Ansible being run on: ubuntu16.04
Target machine: CentOS release 6.5 (Final)

##### SUMMARY

I have a playbook where I am waiti

[2017-04-24 22:39] indrajitr commented on #23910
PR raised #23938

[2017-04-24 22:42] fridim commented on #23905
The issue is the param <code>sysctl_set</code> that triggers a <code>sysctl -w</code> command with no value.

this works :
[code]

and this does not:
[code]

I'm not sure it's a bug.
If you specify <code>state: absent</code>, you actually mean: absent from the conf file.

Using <code>state: absent</code> and <code>sysctl_set: yes</code> at the same time could eventually mean : "restore this value

[2017-04-24 22:44] albertomurillo commented on #23516
@Popyllol Can u test this patch? I do not have an environment with suse and two repos with different version of the same package. But I did check that the versioned package is included once in the cmdline and not twice as before.

[2017-04-24 22:46] fia5000 opened #23939 "Vyos_Config Module Not Saving/Commiting"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Control Node: Mac OSX
Ansible Target: VyOs
##### SUMMARY
There is an issue saving the commands with the vyos_config module. While we can successfully run commands via this module, we cannot save them using the vyos_config module. When you run the co

[2017-04-24 23:58] jfenwick opened #23940 "Ansible Windows incompatible with Python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/plugins/shell/powershell.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = False

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

##### SUMMARY

Commands that use the powershell module cannot be run on python3.

##### STEPS

[2017-04-25 00:16] dagwieers commented on #23932
bot_broken

[2017-04-25 01:15] #23810 closed, assigned to nobody

[2017-04-25 01:15] #23910 closed, assigned to nobody

[2017-04-25 01:18] ju2wheels opened #23944 "user module doesnt work on busybox based distros without shadow-utils"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`user` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default unmodified.

##### OS / ENVIRONMENT
Alpine 3.3, Alpine 3.4, and any busybox based distro without shadow-utils

##### SUMMARY
The `user` module expects `shadow-utils` (or `shadow`) to be installed so it has commands like `useradd` available. But on busybox based distros th

[2017-04-25 05:10] upbeta01 commented on #15321
@alikins , not sure if the `env-setup` you mention is a `var` or actually pertaining to a file.

Here is what I see inside the directory `hacking`

[code]
should I redownload the tar file, noting it got new files in it?

[2017-04-25 07:08] pehruby opened #23948 "nxos_hsrp fails when cli transport is used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_hsrp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
NX-OSv 7.3(0)D1(1)

##### SUMMARY

nxos_hsrp module crashes when cli transport is used. nxapi transport works properly.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-25 07:37] radekl commented on #13243
[code]

I would rather do the opposite way. Define a list of password files and pass a list of yaml files to them. E.g.:

[code]

Mostly because you may define one password for multiple files, and it's rather currently not possible to define one file with multiple passwords

[2017-04-25 07:48] chrmcd opened #23949 "ios_facts fails at gathering ipv6 addresses"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/network/ios/ios_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run the playbook

[code]

##### EXPECTED RESULTS

Gather all facts
##### ACTUAL RESULTS

[code]

This appears to be from the fact that it's trying to add an ['ipv6'] to a list that doesn

[2017-04-25 07:56] HontoNoRoger commented on #23846
I can confirm this issue.

[2017-04-25 08:25] trondhindenes opened #23951 "No way to specify web app pool identity using win_iis_webapppool"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION
[code]

##### SUMMARY
The win_iis_webapppool module does not expose any way to specify the app pool identity. imho this is a very crucial configuration item for webapp pools, and should be implemented

[2017-04-25 08:37] ITler commented on #23806
Thanks for clarification.

However, this reduces usability of `include_role`. Imagine, you want to re-use a role from *ansible-galaxy* (i.e. https://github.com/William-Yeh/ansible-oracle-java ) . This behaviour wouldn't allow me to pass non-string variables during include. This will lead to issues, when the re-used role does conditional checks on the overwritten variables while expecting int value

[2017-04-25 08:40] #23474 closed, assigned to trishnaguha

[2017-04-25 09:25] fdutheil commented on #22644
Hello,
We had to deal with an inconsistent "Folders" tree here too, so using UUID was mandatory. The good point is that getting it from ansible is pretty easy: ansible_product_uuid contains the UUID from the BIOS of a machine, which is where VMware actually put the VM's UUID. Lucky isn't it? Oh, and don't forget to apply the lower() filter to it before passing it to vmware_guestèsnapshot.
Works li

[2017-04-25 09:35] profhase opened #23955 "Copy module shows 'changed' in check mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
When using the `copy` module to copy a file into a directory on the target system, the check mode yields `changed` though there is no change on the target system. The problem only occurs if the path
is given **without trailing slash**.

##### STE

[2017-04-25 09:48] karambolishe opened #23957 "[cloudflare_dns] "value" - required parameter during deleting record"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudflare_dns - manage Cloudflare DNS records

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

##### CONFIGURATION
[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m

[2017-04-25 10:09] genyiwang opened #23958 "Task in client keep running after ansible command were terminated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

CentOS 6.7

##### SUMMARY

When using ansible to run command module such as `sleep 60`，terminate the task at 10s by `ctr + c`，the task in the client keep running until finished.

##### STEPS TO REPRODUCE

run command as below
[code]
then press `ctr + c` to

[2017-04-25 10:24] rhumie opened #23959 "Lambda Event: Function ARN is limited to 64 characters in length."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lambda_event module

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The module has `lambda_function_arn` parameter representing a name or ARN of the lambda function.

If this parameter is the name of function, it must be 64 characters or less.
On the other hand, if this parameter is the ARN of

[2017-04-25 10:30] ganeshrn opened #23960 "junos_config fails if config format is xml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]
-->

[code]

##### EXPECTED RESULTS

Run should configure interface on device
##### ACTUAL RESULTS

Fails with error message.

[code]

[2017-04-25 10:32] nabidul opened #23961 "Is possible define a var at run-time and use it to access another var ??"
##### ISSUE TYPE
 - Feature Idea

##### ANSIBLE VERSION
ansible 2.2.2.0

##### COMPONENT NAME
variables
vars

##### CONFIGURATION
No apply

##### OS / ENVIRONMENT
Linux gtn1188u 4.4.0-63-generic #84-Ubuntu SMP Wed Feb 1 17:20:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

I'm not sure that this is possible.

I want to define a var at run-time and use it to access another var(defined in

[2017-04-25 10:52] xoxys opened #23963 "Ansible Module pamd status already changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - ansible/lib/ansible/modules/system/pamd.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian 8.7

##### SUMMARY
The pamd module reports already "changed" if i try to change some module arguments from pam.d/system-auth

##### STEPS TO REPRODUCE

I use the following two tasks both reports changed while the file on the target system n

[2017-04-25 11:04] ikelos commented on #23247
If you're after additional ideas for improving the fortios modules, the following would be useful.  At the moment, the fortios module in 2.3 requires a filename for a pre-existing static file.  This means that in order to make use of ansible's templating capabilities, a temporary file must be created on the local system.  It would be very handy to support templated files.

I used a custom module c

[2017-04-25 11:21] sivel commented on #23961
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-25 11:21] #23961 closed, assigned to nobody

[2017-04-25 11:36] b4ldr commented on #23813
@rcarrillocruz  exactly see the pull request linked above

[2017-04-25 11:40] fridim commented on #23955
modules supporting check mode will report what changes they would have made rather than making them. Check mode is a simulation.

So <code>changed: true</code> is expected here.

I could not reproduce the second behavior with 'tailing slash' with 2.4.0. Both versions, with or without trailing slash, return <code>changed: true</code>.

[2017-04-25 12:04] fridim commented on #23955
@profhase i'm sorry, i could not reproduce with 2.3.0 neither, i still have <code>changed: true</code> for both versions with or without trailing slash. Can you provide more details ?

I tried this with <code>--check</code> mode :
[code]

[2017-04-25 12:10] sszwed opened #23965 "Modules for AWS ElastiCache are not working in cn-north-1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`elasticache_subnet_group` and `elasticache`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Xubuntu 16.04

##### SUMMARY

Aws elasticache modules are not working in `cn-north-1`, the same commands works fine in `eu-west-1`. Aws cli works fine in both regions.

##### STEPS TO REPRODUCE

Run module `elasticache_subn

[2017-04-25 12:25] bjolivot commented on #23247
@ikelos I could use more detailled infos or a sample.
I have template & var file based fortios module but don't really found use case.

[2017-04-25 12:59] JorgeSivil opened #23968 "Some kind of Syntax Error in Replace module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

replace

##### ANSIBLE VERSION

[code]
Using Python 3 in the target host. (ansible_python_interpreter: /usr/bin/python3)

##### OS / ENVIRONMENT

##### SUMMARY
The regex does not seem to support single quote, even escaped ones.

##### STEPS TO REPRODUCE
[code]

The error:
[code]
In the column 26 (the 'd' of 'database')

My workaround was to us

[2017-04-25 13:01] fia5000 commented on #23895
Was anyone able to replicate this?

[2017-04-25 13:05] shrikeh opened #23969 "mysql_db state: present does not correctly report changed state"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_db module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Running OSX, Ansible is running as `ansible_local` provider in Vagrant to a CentOS 6.8 box

##### SUMMARY
mysql_db module correctly creates the mysql database schema, however it does not correctly record the changed state in the registered fact.
#####

[2017-04-25 13:06] jtyr commented on #23521
The rule here is that you either start the mode with `0` OR you must make sure value is read like string which means to quote it. The following sets mode to `-rw-------` resp. `-rwsrwxrwx`:

[code]

[code]

[code]

[code]

[2017-04-25 13:13] shrikeh commented on #23969
Results inconsistent, something else must be going on. Closing to avoid noise until I can determine it is a bug.

[2017-04-25 13:15] #23969 closed, assigned to nobody

[2017-04-25 13:40] antoineco opened #23970 "Handlers executed before play end with 'free' strategy"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
*default*

##### OS / ENVIRONMENT
macOS 10.12

##### SUMMARY
A play using the `free` strategy executes its handlers **before** all tasks in the play have been executed.

I can not reproduce it consistently, but chances increase with a mixture of:
- skipped tasks
- unreachable hosts

##### STE

[2017-04-25 13:56] s-hertel commented on #22860
bot_status

[2017-04-25 14:05] bcoca commented on #23806
Not sure how `include_role` is involved here nor how it does not accept non string vars.

As for `include` you can pass non string vars using `vars:`, but not via the deprecated 'inline k=v' method.

[2017-04-25 14:06] membrive commented on #15868
I think that `inventory_hostname` magic variable is not working in `vars_files`. I have that problem with Ansible >= 2.1.0.0.

[2017-04-25 14:09] sivel commented on #23937
According to the result, the `wait_for` module waited for 18280 seconds before failing.

I notice from your output, that `wait_for` did succeed for the host `gin` in which it says it elapsed 61 seconds.  Although based on your timestamps you are saying that `argesky1` failed at the same time, but the module claims to have waited for `18282` seconds, which is roughly 5 hours.

I'm not entirely sure

[2017-04-25 14:25] ITler commented on #23806
Thanks for replying. I hope, I'll find some time for extending my tests. I'll focus on using `vars:`, which should respect variable type, as you've said. I'm going to refactor the provided [https://github.com/ITler/ansible-include-test](example role) focussing `include`, first...

(I saw issues with `include_role` in other dev experiments, but didn't take it to example role, yet, to avoid effort s

[2017-04-25 14:29] s-hertel commented on #23965
Do you have a separate set of credentials for the `cn-north-1` region? needs_info

[2017-04-25 14:49] profhase commented on #23955
Sorry, there seems to be another error that I don't understand, please excuse the false alert, I will do some more inquieries and report then.

[2017-04-25 14:49] #23955 closed, assigned to nobody

[2017-04-25 14:51] jlecour opened #23973 "Configuration files precedence/overrides"
Hi,

I've been using Ansible on Debian (package installed with "jessie-backports" repository). I can't really verify if the behaviour is the same with the latest version of Ansible.

I've searched the issue list to see if the matter has been discussed, but nothing relevant came up.

I apologize if the issue has been discussed or resolved previously.

Thanks a lot to the entire core team and contri

[2017-04-25 15:06] alescere commented on #23939
vyatta@mgmt-702fw:~$ show version
Version:      6.7R12
Description:  Brocade vRouter 5400 6.7R12
Built on:     Tue Oct 25 19:30:40 UTC 2016
System type:  Intel 64bit
Boot via:     image
HW model:     X10SLH-N6-ST031
HW S/N:       0123456789
HW UUID:      00000000-0000-0000-0000-0CC47A8E1786
Uptime:       09:49:22 up 25 days, 9 min,  1 user,  load average: 0.26, 0.18, 0.20
vyatta@mgmt-702fw:~$ t

[2017-04-25 15:08] #23973 closed, assigned to nobody

[2017-04-25 15:13] Akasurde commented on #23957
@karambolishe Thank you for reporting this issue. I see `delete` for state option in your playbook, can you please try using `absent` instead.

[2017-04-25 15:21] karambolishe commented on #23957
sorry this hand writing text)
in work playbook looks like:

- name: update | delete cloudflare CNAME rr
  cloudflare_dns:
    zone: "{{ zone_name }}"
    record: "{{ fqdn }}"
    type: CNAME
    value: "{{ elb_facts.elbs.0.dns_name }}"
    ttl: 1
    state: absent
    account_email: "{{ cloudflare_email }}"
    account_api_token: "{{ cloudflare_token }}"

[2017-04-25 15:24] luto commented on #17136
@bcoca @abadger
This issue was initially raised in August of 2016. A number of test cases, as well as (still) unanswered questions were added by me in November of 2016. Finally, in December we proposed a fix. It has not even seen a review or substantial comment up until now (5 months later). The only piece of actual feedback is one snarky and frankly very rude comment in IRC, which I am not going

[2017-04-25 15:29] bcoca commented on #17136
Since we are unsure of the direction, it is hard to give you one.

I wrote my version of the fix because I was doing a poor job of explaining what I was expecting as a feature in contrast to yours. It has helped us define the alternate scenarios that can be covered and narrow down the decision we need to make.

I'm not trying to cover all cases, in fact I don't think some of those cases should be

[2017-04-25 15:37] EvanK commented on #23968
@JorgeSivil This looks like a restriction of the YAML format that ansible uses (before the module itself is invoked).

Essentially, **you cannot escape single quotes with a backslash**...instead you must use another single quote:

[code]

[2017-04-25 15:51] jlecour commented on #23973
Thank you for pointing the original issue.

[2017-04-25 15:52] brianshumate commented on #23642
I've been seeing this same error for some time now, and IIRC, its timing correlated with when `releases.hashicorp.com` began to require TLS v1.2+ for connections back in January so I cannot help but feel it's related to sites which are strict about requiring TLS v1.2 and higher or something similar.

I have seen past (possibly even current) Ansible issues where it incorrectly returns certificate r

[2017-04-25 15:56] nabidul commented on #23961
Solved by @techraf. Thanks for the help.

[code]

[2017-04-25 16:03] Brian-Williams commented on #23937
Those timestamps output are from a Jenkins job. The entire Jenkins job I watched manually and took a total of 41 minutes and 13 seconds. So nothing could've waited for 5 hours because ansible-playbook was running for less than that time.

[2017-04-25 16:07] JoelFeiner opened #23976 "mysql_replication does not allow setting blank values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: mysql_replication

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When setting properties to an empty string, the module treats those properties as not being specified at all, so they won't be blanked out on the server. For example, if I want to remove SSL certificates because the connect

[2017-04-25 16:08] JoelFeiner commented on #23976
I've been able to work around this by using strings that consist of a single space. This works okay for the SSL stuff, but I'm not sure that it would work for other fields.

[2017-04-25 16:09] sivel commented on #23642
I am able to re-produce on my Mac using Python 2.7.10.  It seems as though Mac only has TLSv1.  Trying with a python3.5.2 install I have, which has TLSv1_2, it succeeds.

[2017-04-25 16:11] sivel commented on #23937
What was the nmap command that you used, that allowed you to verify the port was listening?

[2017-04-25 16:12] Brian-Williams commented on #23937
If that port isn't up on the first check that task always fails. Here are the failures from the last few builds (unfortunately I wasn't running with -vvvv). All of these builds took under 1 hour yet have almost identically long elapsed times. I originally was running with "strategy: free", but changed that after the first few builds because I thought it may be causing the problem.

02:10:35 TASK [

[2017-04-25 16:15] Brian-Williams commented on #23937
@sivel
Here was my output from the terminal command with the date beforehand to show it was within 120 minutes of the ansible task.
[code]

[2017-04-25 16:18] sivel commented on #23937
According to that `namp`, it could not validate that the port was open.  It lists the `STATE` as `filtered`.

It detected that the host was up, but could not verify that the port was open.  That `nmap` output seems to indicate the same thing as `wait_for`.  The port is not open.

[2017-04-25 16:19] grant-h commented on #18976
I agree with the above. I want to lock down authorized_keys from user modification in a controlled directory. Preferably, I'l like to have more permissions options available through this module in order to avoid creating other tasks to clean up after.

[2017-04-25 16:24] Brian-Williams commented on #23937
To clarify that nmap is coming from my laptop and not the target host itself.

I get the same result for gin (from my machine) and that goes through. Even if the port was closed shouldn't it wait the full 120 minutes for it to open? I'll try to reproduce and check on the target machines themselves.

[code]

[2017-04-25 16:36] sivel commented on #23937
Your `wait_for` is running from the machine itself, communicating with `127.0.0.1:7778`.

I feel like the fact that it is saying that 5 hours elapsed when we know that isn't true, may indicate a problem with the time on that host.

Something like this may assist in seeing if that is a problem:

[code]

That should print out `60`

That is roughly the calculation that is done in the `wait_for` modul

[2017-04-25 16:38] brianshumate commented on #23642
Although I did compile in an OpenSSL that should have 1.2 for my Python, I am going to switch to trying 3.5.2 as well.

[2017-04-25 16:42] Brian-Williams commented on #23937
Everything looks in order. I also show that the port is open when checked from the machine as localhost. It's important to note I _just_ did this so it doesn't show that the port was open within the timeframe that ansible would've been checking, but I can confirm that that port was open because I was able to get an API key in the timeframe after my last attempt.

[code]

[2017-04-25 16:43] nareshku commented on #22633
I had `'_meta' : {}` instead of `'_meta': {'hostvars':{}}`. Seems like this fixed the slowness.

Thanks!!

[2017-04-25 16:45] sivel commented on #23937
Honestly, I'm not sure.  I feel like this has to be time related.  Is it possible that the app you are starting messes with the time while it is starting?

If `wait_for` thinks that a large amount of time has elapsed, it would likely think it has waited for longer than the `timeout` and fail.  Based on the `elapsed` value, I'd have to assume that somehow, that machines time is jumping, causing thi

[2017-04-25 16:46] sivel commented on #22633
Great.  I'm going to go ahead and close this.

[2017-04-25 16:46] #22633 closed, assigned to nobody

[2017-04-25 16:50] Brian-Williams commented on #23937
I thought that before as well. For a few builds I had the task changed to this...
[code]
... and believe I still observed the same problem. My logs from that attempt don't have verbosity high though. I will try to reproduce that failure with -vvvv on and report back.

[2017-04-25 17:13] Qalthos commented on #23939
Looks like you're right, `save` doesn't get put on until after `exit` is called. Can you test the PR to make sure it works for your situation?

Incidentally, `commit` vs `exit discard` is determined by whether or not you're running in [check mode](http://docs.ansible.com/ansible/playbooks_checkmode.html). If you're not in check mode, the assumption is that you actually mean it, so we commit.

[2017-04-25 17:13] #23960 closed, assigned to Qalthos

[2017-04-25 17:21] helldorado commented on #23345
@delapsley @morph027 sorry for the late response.

Can you make an output of the following command from the primary node. The one specified in `api_host`?

`pvesh get /cluster/nextid`

If you get a valid `vmid` without no error, please use this id as parameter for `vmid` and remove parameter `name`.

If the creation of the host goes well, can provide me the proxmox side environment, as well as the

[2017-04-25 17:29] wimnat commented on #23562
Hmm but males wear blue coats, except when they're programming when they wear red coats. Loading by reference seems like it would be a common requirement.

Anywho, if it doesn't work that way, any suggestions on how to implement my expected behaviour? An include_vars perhaps with a with_first_found perhaps?

[2017-04-25 17:47] bjolivot commented on #23562
You could include_vars or choose different groups

[2017-04-25 17:49] krzysztof-magosa commented on #23871
Dictionary keys should be checked like that in python: `when: 'bar' in foo`

[2017-04-25 17:52] grant-h commented on #23269
Experiencing the same log sudo spam:
[code]
OS: Mac OSX 10.11.5
Target OS: Ubuntu 16.04

Ansible CFG:
[code]

I have confirmed that only one SSH connection is being made, but it's the amount of sudo sessions that are being created which is the issue.

[code]

[2017-04-25 17:55] fia5000 commented on #23939
@Qalthos We will test now and get back with results.

[2017-04-25 18:02] b2sweety commented on #15321
Hi, Can someone help me. I am unable to ping the cisco router from my VM(CentOS 7. )
[code]
Here is the snippet of ansible.cfg file:
[code]
hosts file:
[code]
[code]

[2017-04-25 18:13] jbscare commented on #23871
That's not quite the right syntax; you probably meant this:

[code]

...and that doesn't work either:

[code]

That's presumably because 'foo' isn't defined; so you have to do this:

[code]

...and now you've got a non-Pythonic "is defined" in there anyway.

...and it doesn't work with my original example, which is closer to my actual use case:

[code]

(where myfruit comes in as an --extra-vars v

[2017-04-25 18:15] ogenstad commented on #23723
I can confirm that those lines were the problem. An easy way to test is to create an access-list that looks like this;

[code]

Then have a playbook run `show run access-list ANSIBLE-PROMPT`

Currently the first line will be cut and it's the same problem as when removing the line:
[code]

What I tried was changing from this:
[code]

to this:

[code]

After that it worked, however the match to find

[2017-04-25 18:15] jbscare commented on #23871
To clarify, by "doesn't work with my original example", I mean "I don't see a way to use a 'when' statement to avoid a syntax error in my original example" -- if you do, that'd be cool.

...but if it's a lot more complicated than "when: myfruit is defined", I still think it'd be nice if the thing that used to work still worked.

[2017-04-25 18:42] krzysztof-magosa commented on #23871
I think it won't work, because `is defined` is operator, and you want to apply it to interpolated value, which will fail during interpolation ;-)

[2017-04-25 19:08] katta101 commented on #5564
I'm trying to get the yum list output, but it spits tons of it. Could someone help me grab how i can debug to capture the result only from yum list output, but not all the output::

ok: [lapl000385.server.lab.net] => {
    "yum_pkgs": {
        "changed": false,
        "msg": "All items completed",
        "results": [
            {
                "_ansible_item_result": true,
                "_

[2017-04-25 19:12] wernermarcel commented on #21112
Also wait for that feature

[2017-04-25 19:19] yasensim opened #23980 "ec2_ami_find fails after upgrade to ansible 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_ami_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
pip install --upgrade ansible

##### OS / ENVIRONMENT
MAC OSX

##### SUMMARY
with ansible 2.2 ec2_ami_find was working. Right after the upgrade it started failing with 'Image' object has no attribute 'creationDate' error.
I have quick workaround commenting out line 393 in ec2_ami_

[2017-04-25 19:21] stacker2017 commented on #23689
I have applied the change and all my nodes are on the same network, I still randomly get {"failed": true, "msg": "Timeout (12s) waiting for privilege escalation prompt: "}

[2017-04-25 19:28] marmur76 opened #23981 "File Module Fails in Check Mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
File module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS release 6.5
##### SUMMARY
While running in check mode, the file module encounters a fatal error:

"refusing to convert between directory and link"

While it is true, and I've read and understand the reasons for not converting while NOT in check mode,

[2017-04-25 19:29] #18039 closed, assigned to nobody

[2017-04-25 19:29] #19514 closed, assigned to nobody

[2017-04-25 21:21] Russell-IO opened #23985 "ansible_devices doesn't list md block devices"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock
##### OS / ENVIRONMENT

centos 7.3 latest - fully patched
##### SUMMARY

ansible_devices doesn't contain md devices
##### STEPS TO REPRODUCE

[root@kvm ~]# ls /sys/block
md0  md1  sda  sdb

[code]

##### EXPECTED RESULTS

all block devices  (including md0 & md1 to be shown)
##### A

[2017-04-25 21:22] SiddhRana commented on #4354
you have to use -s switch or —sudo switch  for this in your playbook syntax .

[2017-04-25 21:29] trondhindenes opened #23986 "Since Ansible 2.3.0, Powershell modules do not honor ANSIBLE_KEEP_REMOTE_FILES"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
export ANSIBLE_KEEP_REMOTE_FILES=1

##### OS / ENVIRONMENT

##### SUMMARY
Using Ansible 2.3.0, generated ps1 files are not longer left on the target node when setting the env var ANSIBLE_KEEP_REMOTE_FILES to "1" on Windows-based target nodes.
As far as I can see the folders in %temp% are le

[2017-04-25 21:45] Brian-Williams commented on #23937
My problem was broken tzdata. The machine would come up in an incorrect timezone and then correct itself within the first minute. If anyone has the same problem running `tzdata-update` fixed this for me.

What threw me off was that delay was working, but now I see it sleeps **after** capturing the current time.

This makes sense in retrospect, but I didn't look at it before. However, this and simi

[2017-04-25 22:04] #23937 closed, assigned to nobody

[2017-04-25 22:25] depereo commented on #22726
If I change get_commands_to_add_members this works. Not sure why 'existing['group']' is used - proposed['group'] makes more sense if adding members? Copy/Paste issue from "get_commands_to_remove_members" perhaps?

Change from original:

[code]

To:

[code]

[2017-04-25 22:26] trondhindenes commented on #23986
Pinging @nitzmahone on this one since I'm currently stuck without this functionality :-|. I've tried looking at $myInvocation inside the script by hacking powershell.ps1 but there's essentially nothing there.

[2017-04-25 22:31] ElijahLynn commented on #11569
I have created a PR to 'get tags for RDS instances' based on @willthames suggestion. It is boto3 only but figured I would at least get that part working and post publicly.

https://github.com/ansible/ansible/pull/23989

[2017-04-25 22:36] michael-dev2rights commented on #18933
I have managed to fix this in my own branch for my own particular tests.  I now forward ported this onto devel in PR #23988.  If anybody's able to test that and give feedback about how it now works then I may be able to fix remaining problems.  Since this was a cherry pick forward from stable it's quite likely some issues crept in and since it has only had very limited testing it's likely that not

[2017-04-25 22:37] fia5000 commented on #23939
@Qalthos We can confirm the Patch has fixed the issue. Tested it on Brocade v5400 and v5600 vyatta appliances.

[2017-04-25 22:37] #23939 closed, assigned to Qalthos

[2017-04-25 23:11] ikelos commented on #23247
@bjolivot, so as I mentioned, I have a custom module (unfortunately named the same as the one that's now in 2.3) that was basically copied from the cisco module, but with pyFG functionality used instead of raw SSH.  I use it to build up a dynamic number of VLANs based on our office configuration, add specific sets of firewall addresses and address groups (custom to each device) and define the inte

[2017-04-25 23:15] Sean-Brown opened #23990 "ConfigureRemotingForAnsible.ps1 does not work on Nano Server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[ConfigureRemotingForAnsible.ps1](https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1)

##### OS / ENVIRONMENT
Windows Nano Server

##### SUMMARY
Running the script fails:
![image](https://cloud.githubusercontent.com/assets/1503131/25411533/40fb2122-29eb-11e7-88b1-543d55024fd2.png)

Commenting that sect

[2017-04-25 23:16] nitzmahone commented on #23986
Yeah, the persistence path didn't get cleaned up in time for 2.3.0 (since I was flogging the become-on-ntlm/kerb issue), so basically it's "forced pipeline" mode all the time with the new exec wrapper.

On the plus side, there is no more module replacer stuff happening, so you can just run powershell.ps1 once to load the module API, then run the module code directly (set the preparsed arg dict in

[2017-04-26 00:08] wimnat commented on #23562
Thanks 👍

[2017-04-26 00:35] aerickson opened #23992 "feature request: apt module can update package only if installed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt module (part of packaging)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
When doing security patching, it's handy to say keep these packages up-to-date, but don't install them. Basically https://github.com/ansible/ansible-modules-core/pull/4299/files.

##### STEPS TO REPRODUC

[2017-04-26 00:44] kannarajesh26 opened #23993 "Ansible: i need to start a server from one node if the server in another node starts."
##### ISSUE TYPE
Need help in writing the ansible logic.
##### ANSIBLE VERSION
ansible 2.2.1.0
Hi All, I need Help for starting and Stopping the servers in WebSphere,
I have a 9 nodes in websphere, Node1 have 3 servers(Message, CW, CP), Node2 Have 3 servers((Message, CW, CP), Node3 have 2(CW, CP) servers, Node4 2 servers(CW, CP), Node5 have 3 servers(ASS, CW, WEB), Node6 have 3 servers(ASS, CW, WE

[2017-04-26 00:47] kannarajesh26 commented on #23993
startservers.txt is my yamal(ansible) code, Please convert that file to.yml

[2017-04-26 00:56] sivel commented on #23993
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-26 00:56] #23993 closed, assigned to nobody

[2017-04-26 01:25] genyiwang commented on #23958
Any idea?

[2017-04-26 02:57] sivel commented on #23642
That does not sound correct, at least not in my testing. I suppose you and I could be experiencing different issues, however in my tests it fails far before performing any SNI.  It fails to even establish an connection, seemingly because the TLS requirements exceed the capabilities of my python installation.

When using a python install with appropriate TLS capabilities, everything seemed to work

[2017-04-26 03:17] keepzero commented on #23900
@abadger Thanks for your reply. I give a new pull request #23995

[2017-04-26 05:16] sbwoodside opened #23998 "Set file permissions for openssl_publickey to 0600?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openssl_privatekey and openssl_publickey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS X 10.11.6

##### SUMMARY

openssl_publickey creates a file with permissions 0644, but it appears that they are generally stored as 0600.

I'm a bit iffy on this because I can't find a clear reference that the **public** k

[2017-04-26 05:18] sbwoodside opened #23999 "Add option for openssl_publickey to use ssh-rsa format"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

openssl_publickey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS X 10.11.6

##### SUMMARY

We are using openssl_publickey to create OpenSSH keys and for that we need the ssh-rsa format. Currently I'm still having to use `ssh-keygen -y -f FILE` to do this. It would be convenient to have an option to create

[2017-04-26 05:37] morph027 commented on #23345
No hurry and thanks for checking in!

Same error with vmid instead of name.

[code]

This is the relevant parts of the playbook:

[code]

[code]

2 Nodes are currently offline, but the cluster is still functional and has quorum.

PVE API requests during creation shows no errors as well:

[code]

I'll try a quick test setup with nested PVE's and let you know.

[2017-04-26 05:54] yasensim commented on #23980
I just tried on ubuntu linux and it works. It seems it is something specific on my Mac OSX

[2017-04-26 06:10] trondhindenes commented on #23986
ok thanks. Just a bit of a new workflow then - I can work with that :-)
I'm keeping this issue open as I assume this still is a bug (that the files arent left in place, that is)

[2017-04-26 07:29] MiteshShah commented on #14341
Module failed on Debian

[code]

[code]

[code]

Ansible Output:

[code]

[2017-04-26 07:31] ogenstad commented on #23082
This would be the same issue as #23922 and fixed in #23979.

[2017-04-26 07:35] bjolivot commented on #23247
@ikelos feel free to send PR for improvements

[2017-04-26 07:35] techtonik commented on #5185
@tyleha this ticket was closed 4.5 years ago, so probability that developers will pay attention to it and reread the thread is minimal. If you can open a new ticket with pros and cons summarized, it may get better traction today.

[2017-04-26 07:36] trondhindenes commented on #23986
Thinking a bit more about this, the most important part of debugging is often to see the actual vars passed in to Ansible. But I can hack that using the $complex_args variable and just stream those out to disk while waiting for this to get addressed.

[2017-04-26 08:45] aroundthecode opened #24004 "Yum module, add downloadonly and downloaddir options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
yum module

##### SUMMARY
add parameters to yum module to support downloadonly and downloaddir parameters

from **yum install --help**

this is quite useful to use yum to download RPM packages once to be installed elsewhere (e.g. subnets with no direct internet access)

[2017-04-26 09:03] fredrik-rambris opened #24006 "Support vault encryption in copy module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- copy
- ansible-vault

##### SUMMARY
I would like the ability to copy vault encrypted files instead of having the file contents in a variable and using content: "{{ my_vault_var | b64decode }}" on the copy module.

Say I want to distribute a certificate key file but would rather have it encrypted in my repo. I would like to be able to do

```

[2017-04-26 09:27] ITler commented on #23806
Ok, as expected, using `vars:` preserve variable types in my testing.

However, I currently see no chance to convert dictionary values (as you've said), even when do math operation on them, like:

    ---
    # defaults/main.yml
    test_dict:
      - stringified_int_val: 20
      - stringified_int_val: 21

    ---
    # outer.yml
    - include: inner.yml
      vars:
        desired_int_val: "{{ 2

[2017-04-26 10:11] jgibart opened #24009 "ldap_entry and ldap_attr: add validate_certs option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ldap_entry
ldap_attr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
linux centos 7

##### SUMMARY
provide a validate_certs ( default true) option on both ldap_entry and ldp_attr modules to be able to connect to ldaps using selfsigned certificates
by specifying validate_certs=false

it is quite easy to implement , in

[2017-04-26 11:42] gundalow commented on #23980
I wonder if the issue could be boto library version differences?

[2017-04-26 12:05] morph027 commented on #23345
Well...a cluster of three with one down still works.

[2017-04-26 12:10] gundalow commented on #21727
Proposed fix in https://github.com/ansible/ansible/pull/21737 reviews welcome

[2017-04-26 12:28] cognitiaclaeves opened #24010 "Unable to use selectattr | difference to exclude a set of files from ordered list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
selectattr | difference

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Attempting to identify the latest X directories ( according to mtime ), while also skipping a set of known directories.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-04-26 13:06] ikloecker-mevis commented on #17720
We are also seeing this bug with 2.2 and 2.3, but not with the latest 2.1 on Ubuntu 14.04 (Python 2.7.6).

How to reproduce:
[code]

Output (Ansible 2.3.0.0):
[code]

Output (Ansible 2.2.2.0):
[code]

Output (Ansible 2.1.5.0):
[code]

[2017-04-26 13:18] bcoca commented on #23871
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`myfruit` is defined (as a templating string), the problem is that `myletter` is not.

In the future, this might be a topic more well s

[2017-04-26 13:18] #23871 closed, assigned to nobody

[2017-04-26 13:35] wouterh-dev opened #24015 "support for zabbix maintenance to modify the period"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_maintenance

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

The module correctly creates and removes maintenance periods, however it cannot be used to update a maintenance period. The status is shown as OK instead of changed and no changes to the maintenance period occur

[2017-04-26 13:40] ikloecker-mevis commented on #17720
Note that using the command or shell module instead of the subversion module fails with the same error with Ansible 2.2.2.0 (but not with Ansible 2.1.5.0):

[code]

Workaround: Explicitly set UTF-8 encoding in LC_ALL in the shell command (because, apparently, Ansible executes subprocesses with LANG=C and LC_ALL=C):
[code]

[2017-04-26 13:46] Qalthos commented on #23922
This appears to be a duplicate of #23082.

[2017-04-26 13:50] jbscare commented on #23871
Wait, what? I said right in the description that myletter is being sent in as an --extra-vars variable.

Please reopen this issue.

[2017-04-26 14:06] mattwwarren opened #24016 "ec2_elb_facts module broken on 2.2.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
redis fact caching is enabled

##### OS / ENVIRONMENT
Running and managing Amazon Linux although N/A because we're dealing with ELBs

##### SUMMARY
There is no self any more and so line 260 in the module is wrong

[code]

##### STEPS TO REPRODUCE
Try to gather facts of an ELB and g

[2017-04-26 14:18] mattwwarren commented on #24016
PR is up.

[2017-04-26 14:26] edwardvanhazendonk opened #24018 "unable to gather facts for non-existing VM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Most VM's in vsphere are not existing to ansible, while they are running and o.k.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would have expected that on the same vsphere another datacenter should be searchable.

#####

[2017-04-26 14:43] alextricity25 commented on #22399
I'm seeing the same thing. In my role's `defaults/main.yml` I have:
[code]

My task:
[code]

The failure:
[code]

I am ensure if this is a problem with the latest version of Ansible.

[2017-04-26 14:44] ikloecker-mevis commented on #19478
This behavior is controlled by the configuration option [`module-set-locale`](https://docs.ansible.com/ansible/intro_configuration.html#module-set-locale). The default value of this option changed in Ansible 2.2 to False. Since you are using Ansible 2.2 the option seems to be enabled in your `ansible.cfg`.

[2017-04-26 15:04] albertomurillo commented on #23516
@robinro I made a patch for this issue, can u review it?
https://github.com/ansible/ansible/pull/23936

[2017-04-26 15:07] yasensim commented on #23980
on both the mac and the ubuntu I have the same version of boto
boto (2.46.1)
boto3 (1.4.4)
botocore (1.5.43)

what I have noticed the working one is with python 2.7.6 while the broken one is with 2.7.13.

This is the only difference I can see. I can try to upgrade python on the working one to see if this will break.

[2017-04-26 15:34] sivel commented on #24006
Ansible has supported copying the decrypted contents of vault files since v2.1

Simply specify the vaulted file in `src` and ansible will decrypt it, and then copy the decrypted file to the target.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-04-26 15:34] #24006 closed, assigned to nobody

[2017-04-26 15:35] #23800 closed, assigned to nobody

[2017-04-26 15:36] sivel commented on #24010
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-26 15:36] #24010 closed, assigned to nobody

[2017-04-26 15:43] offlinehoster opened #24023 "IRC module is not working with irc server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
irc.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

default no changes

##### OS / ENVIRONMENT
ubuntu 16.10 64bit

##### SUMMARY
Using irc module is not working as expected with an irc server from hackint.org

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Should work

##### ACTUAL RESULTS
[code]

[2017-04-26 15:59] jpmens commented on #24023
needs_contributor

[2017-04-26 16:21] naftulikay commented on #23642
[Here][build] is a log of the Ansible output for my failure:

[code]

The linked build was on Python 2.7, but here are all of them:

 - 2.6: https://travis-ci.org/naftulikay/ansible-role-vagrant-rust-dev/jobs/222495981
 - 2.7: https://travis-ci.org/naftulikay/ansible-role-vagrant-rust-dev/jobs/222495982
 - 3.4: https://travis-ci.org/naftulikay/ansible-role-vagrant-rust-dev/jobs/222495983
 - 3.5: h

[2017-04-26 16:27] #23900 closed, assigned to nobody

[2017-04-26 16:29] naftulikay commented on #23642
@sivel The reason I'm suspecting SNI is because I'm requesting `sh.rustup.rs` and it fails for me saying a mismatched certificate was returned and `sh.rustup.rs` is not covered by the certificate, which covers `*.rust-lang.org` and `rust-lang.org`.

### No SNI

If I disable SNI, then it becomes very apparent that certificate is not valid for `sh.rustup.rs`.

[code]

### With SNI

With SNI enabled,

[2017-04-26 16:36] sivel commented on #23642
Ansible supports SNI, assuming that either the python version supports it, or if you follow the instructions and install urllib3 and the other deps.

You can try to determine if the python version has the appropriate functionality, by using something like:

[code]

On my python version I see:

[code]

The `"has_sslcontext": true,` indicates that it can utilize SNI.

However, as the error states, y

[2017-04-26 16:38] ikelos commented on #23247
@bjolivot It turns out that since pyFG batches its changes, I no longer need to make individual modifications to the configuration to ensure the firewall stays up during modifications, so this pull request should be enough to sort 99% of the difficulties I was facing with the version in 2.3.  5:)

[2017-04-26 16:40] naftulikay commented on #23642
@sivel I am installing those packages as well: https://github.com/naftulikay/ansible-role-vagrant-rust-dev/blob/a71b8e87d39444a62b53a7b1fc5d31dc82bb0dc9/requirements.txt

I will attempt to do what you suggested for debug info in Travis.

[2017-04-26 16:43] claco commented on #22696
Fixed with latest release. Thanks!

[2017-04-26 16:43] #22696 closed, assigned to nobody

[2017-04-26 16:50] thoto commented on #24023
I think I fixed this in #24027. The error occurred because the IRC server sent a ping instantly after validating the clients hostname but the plugin did not implement ping responses. I don't know if there are other issues in the IRC protocol implementation, but the code works for me now.

[2017-04-26 16:52] #23082 closed, assigned to privateip

[2017-04-26 16:52] thoto commented on #24023
ready_for_review

[2017-04-26 16:55] claco opened #24028 "[osx_defaults] Add dict/dict-add support"
_From @claco on February 21, 2016 16:31_

##### Issue Type:
- Feature Idea
##### Plugin Name:

osx_defaults
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

OSX El Cap 10.11
##### Summary:

The osx_defaults module doesn't yet support dict and dict-add methods for changing/adding defaults that are contained within values that are dicts.
##### Steps To Reproduc

[2017-04-26 16:55] claco commented on #24028
For whoever reviews this, I'm working on a PR to implement basic dict/dict-add functionality. Should have a first pass this week.

[2017-04-26 16:55] claco commented on #24028
Ok, another round of refactoring complete so I removed the WIP. Because `defaults read` on a dictionary key type yields quoted values that don't match the underlying type ("0.5" returned, but type is "int" in plist editor), I've changed the value for `dict` types to be more verbose:

You can pass either a single dict, which might be convenient for `dict-add` situations, or an array of `dict` value

[2017-04-26 16:55] claco commented on #24028
_From @danbohea on February 26, 2016 18:44_

+1 for this feature, just bumped into a need for it today.

[2017-04-26 16:55] claco commented on #24028
_From @ansibot on August 4, 2016 20:28_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-04-26 16:55] claco commented on #24028
_From @ansibot on September 13, 2016 3:34_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-04-26 16:55] claco commented on #24028
_From @ansibot on October 6, 2016 18:8_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-04-26 16:55] claco commented on #24028
_From @ansibot on December 7, 2016 15:52_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-04-26 17:02] jwitko commented on #5442
Also having this issue on 2.3.0.0, Error comes up no matter what "overwrite:" is set to.  Can't even download the file into an empty directory with the current state of the module.  Does anyone have a work-around for 2.3.0.0 that doesn't involve going to the CLI?  The above ansible work-arounds don't seem to work on 2.3.0.0.

[2017-04-26 17:14] PhilEv commented on #22397
Adding another use case:

consider the following variable:

[code]

then the following tasks generate the warning. Not sure how to avoid it as item.name is the result of iteration on the list

[code]

[2017-04-26 17:16] gotgenes commented on #14341
We have passed the one year anniversary of this issue. Would any Ansible developers mind commenting on where this issue stands on the development efforts?

It's not clear to me, for example:

1. what the *intended* behavior for searching for files given a relative path in a task within a role (if there even is one),
2. what the *current* behavior for searching for files given a relative path in a

[2017-04-26 17:28] jctanner commented on #23597
!needs_info

[2017-04-26 17:49] #21557 closed, assigned to nobody

[2017-04-26 18:38] sibh8 commented on #21566
Still an issue at my end. I have upgraded to boto 2.46.1. The python shell for boto module also shows the results for eu-west-2. Still Ansible fails when i use ec2_remote_facts module.

[2017-04-26 18:39] sibh8 opened #24031 "Region eu-west-2 missing on ansible-2.2 ec2 module - Extending issue #21566"
Still an issue at my end. I have upgraded to boto 2.46.1. The python shell for boto module also shows the results for eu-west-2. Still Ansible fails when i use ec2_remote_facts module. Please help us urgently as we are not able to provision environments. Thanks for your help in advance.

[2017-04-26 19:30] kannarajesh26 opened #24033 "Failed_when is not working when i use "when" is the same task"
##### ISSUE TYPE
failed_when is not working if i use the "When" in the same task. is there any other way we can put this together?

##### ANSIBLE VERSION
ansible 2.2.1.0

##### COMPONENT NAME
<failed_when and when>

Here is my Code
[code]
###Out Put###
[code]

[2017-04-26 19:36] sivel commented on #24033
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * `failed_when` does not work with `when`

However, however what is happening is that:

[2017-04-26 19:36] #24033 closed, assigned to nobody

[2017-04-26 19:44] stacker2017 opened #24035 "ansible randomly time out with message Timeout (12s) waiting for privilege escalation prompt:"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible play-book randomly fails with error message ERROR[Timeout (12s) waiting for privilege escalation prompt: ]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory = ./hosts
log_path = /dev/null
remote_user = ansible
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o

[2017-04-26 19:46] sivel commented on #24035
Please provide steps to reproduce, such as a task.  Also what become method?

Does it happen always, is it intermittent?  Only the same hosts?

[2017-04-26 19:48] sivel commented on #24035
Possible a duplicate of:

https://github.com/ansible/ansible/issues/23921
https://github.com/ansible/ansible/issues/17904
https://github.com/ansible/ansible/issues/14345
https://github.com/ansible/ansible/issues/13278

[2017-04-26 19:52] stacker2017 opened #24036 "logstash_plugin module does not support offline plugin install"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

logstash_plugin to have option for installing offline plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Today ansible_plugin does not support offline plugin install, however this option is supported by logstash

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

- name: "logstash : Inst

[2017-04-26 19:57] stacker2017 commented on #24035
I have read and implemented all the workaround from previous tickets none solved the issue

[2017-04-26 19:59] sivel commented on #24035
I never said they would, but the fact that they are open indicates that they aren't resolved and/or the work around do not work for everyone.

Unfortunately, you have not given us much information to go on, to classify or really work on your issue.

[2017-04-26 20:02] abadger commented on #23981
check mode's purpose is to show you what would happen if you ran the playbook "for real" without actually making any changes.  Since this is an error when run outside of check-mode, it's supposed to be an error inside of check-mode.  If you have any further questions about this, please feel free to bring it up on irc or the mailing list.  I'll paste information about that below:

List Information

[2017-04-26 20:02] #23981 closed, assigned to nobody

[2017-04-26 20:06] stacker2017 commented on #24035
in our setup we have a ansible host which reach out and pusg config to different host in network we randomly experience time out on different host, below is a storage node which I collected the log at the time of incident:

I see on the system ansible reached there fine and again failed at sudo:
Apr 12 18:57:22 storage-1 systemd[1]: Started User Manager for UID 1000.
Apr 12 18:57:22 storage-1 sudo

[2017-04-26 20:06] dagwieers opened #24037 "Add forks per play or per task"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

core

##### ANSIBLE VERSION

v2.4

##### SUMMARY

We have the need to limit the number of tasks run in parallel for a specific task in order to not overload some infrastructure (in this case a terminal server). The total number of connections should not exceed 4.

Now we are using `serial:` for this, however this will do them 4 at a time, an

[2017-04-26 20:08] stacker2017 commented on #24035
and if I re-run the playbook right after it will get completed successfully.

[2017-04-26 20:15] sivel commented on #24035
As you are using pipelining, it could be related to https://github.com/ansible/ansible/issues/23921

Does disabling `pipelining` help?

[2017-04-26 20:17] stacker2017 commented on #24035
No we had this issue even when we tested with pipelining = false

[2017-04-26 20:33] kannarajesh26 commented on #24033
i used default filter, but it is not working as i expected,

    -
      name: "Messaging Server Status in messaging node-2 after start"
      shell: "{{ appsrvbinlocation }}/serverStatus.sh Curam-Messaging-v02"
      when:
        - '"Server name: Curam-Messaging-v02" in allsrvstatus.stdout'
      register: msgstatusafterstart2
      failed_when: '"The Application Server \"Curam-Messaging-v01\" c

[2017-04-26 21:06] jsengla opened #24039 "docker_service Unable to load docker-compose"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 7.3

##### SUMMARY

docker_service fails to recognize docker-compose is installed.

docker-compose was installed both by manually placing the latest binary in /usr/local/bin/ and by using pip.
Since pip is not part of Red Hat's official distribut

[2017-04-26 21:10] bcoca commented on #24033
use double quote or you break the 'single quote' `default("")`

[2017-04-26 21:12] jsengla commented on #24039
Solved by passing PYTHONPATH to $PYTHONPATH:/opt/rh/python27/root/usr/lib/python2.7/site-packages for the task.

[2017-04-26 21:12] #24039 closed, assigned to nobody

[2017-04-26 21:16] kannarajesh26 commented on #24033
FAILED! => {"failed": true, "msg": "The conditional check '\"The Application Server \\\"Curam-Messaging-v01\\\" cannot be reached\" in msgstatusafterstart.stdout|defautl(\"\")' failed. The error was: no filter named 'defautl'\n  line 1"}

still getting that after i used double quote     -
      name: "Messaging Server Status in messaging node-2 after start"
      shell: "{{ appsrvbinlocation }}/se

[2017-04-26 21:18] sivel commented on #24033
You used `defautl` instead of `default`

[2017-04-26 21:26] kannarajesh26 commented on #24033
dang, sorry about my typo, now i used the correct default word, but the task should fail, some reason it is not failing even though my failed_when condition failed, here is the full code and out put
Code:
---
-
  become: true
  any_errors_fatal: true
  become_user: wsadmin
  hosts: ATST-CURAMAPPSRV
  tasks:
    -
      ping: ~
    -
      name: "All Servers status"
      shell: "{{ profile_home }}

[2017-04-26 21:38] holmahenkel commented on #23828
Tried gathering the hardware subset using cli transport, same empty result. Config subset works.

Running Ansible 2.3.0.0 against a Nexus 5000 series switch.

Quick thought - is the fact module expecting json, as in `show version | json` and so on?
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_facts.py#L394

`| xml` is the only supported filtering in this case

[2017-04-26 22:19] forgo commented on #9065
+1 This issue affects our software team.

[2017-04-26 23:05] alexander-laughlin commented on #9984
@mindrunner Were you able to reproduce this with the environment variables AWS_ACCESS_KEY and AWS_SECRET_KEY defined?  Or with .aws containing your credentials?

I have been unable to reproduce this with ec2_tag or ec2_remote_facts using ArchLinux:

`Linux hostname.local 4.10.11-1-ARCH #1 SMP PREEMPT Tue Apr 18 08:39:42 CEST 2017 x86_64 GNU/Linux`

targeting an Ubuntu host:

`Linux target.host.com

[2017-04-26 23:12] joelsdc commented on #15520
Hi, is this fix going to be backported to all 2.X versions or just the next release?

I'm running v2.1.1.0 installed from brew on OS X.

[2017-04-27 00:27] joshbenner commented on #22848
`known_hosts.py` doesn't obey SSH keys in other ways, too -- such as the location of known_hosts files, both global and per-user.

See: https://github.com/ansible/ansible-modules-core/issues/3281

[2017-04-27 01:51] glenjarvis-repairpal commented on #16006
I'm not certain that it's fixed in 2.1.2.0. I think possibly the underlaying problem was fixed coincidentally when upgrading.

I have this version:

[code]

I see this as the complete output:
[code]

When, normally, the output would be this:

[code]

However, my particular problem is related to my custom `ansible/hosts` file that I just modified. When doing the test with a static host file, I get

[2017-04-27 03:02] joshmullis commented on #19860
Seems this is still an issue.
I have a template with no nics and this error still occurs.

Or was this related to something else and not the nic adapter count?

[2017-04-27 03:24] ghost opened #24045 "ansible-compute-zone-list-permissions issue"
<ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
apache-libcloud 2.0
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

##### ANSIBLE VERSION

[code]

##### SUMMARY
Trying to create a new gce instance but it fails giving  compute

[2017-04-27 03:29] eburgueno commented on #13159
I just hit this issue. Directories were being created with the wrong permissions:

[code]

I am following the examples in the [official documentation](http://docs.ansible.com/ansible/file_module.html), so either this bug needs fixing or the documentation should be updated:

[code]

[2017-04-27 07:57] vignesh-paramasivam commented on #22272
I am also facing the same issue, where i'm trying to run scripts module, and getting the below error

`    UNREACHABLE! => {"changed": false, "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have     permissions on the remote directory. Consider changing the remote temp path in ansible.cfg to a path rooted in \"/tmp\". Failed command w

[2017-04-27 08:54] thomasbilk opened #24052 "Composer Module without `working_dir` and with `global`"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Composer

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Composer can install packages [globally](https://getcomposer.org/doc/03-cli.md#global) with `composer global require ...`. It automatically changes to the users local composer directory so no working directory parameter is required.

##### STEPS TO REPRODUCE
Us

[2017-04-27 09:43] willww64 commented on #16222
@willthames I think use python dict method "get" is a better way: `with_items: "{{ hello.get('stdout_lines') }}"`. Use default actually skip this task and avoid problem, but can't get a "skipping" output when use `ansible-playbook -v`.

[2017-04-27 10:13] samjsharpe commented on #24035
Here's an interesting datapoint - this reliably fails for me on 2.3 when I add the `-b` flag to the ping module, but does not fail with 2.2:

**2.3**
[code]

**2.2**
[code]

**Config files and Inventory**

[code]

[code]

[2017-04-27 10:21] memelet commented on #9362
Yes ansible team, are you declaring that this is really fixed?

[2017-04-27 10:28] westsouthnight commented on #17014
@khannz im test latest devel 2.4.0 yesterday, but no see in output the ansible_default_ipv4 for `ansible -m setup -i invenories/test windows-test-host`

[2017-04-27 11:14] sivel commented on #24035
@samjsharpe I am guessing your issue is already resolved in https://github.com/ansible/ansible/pull/23710

[2017-04-27 11:18] cmorent opened #24054 "Multiple limit should either be prohibited or produce a warning message"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
The --limit option

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

One of our developer tried to use one of our playbooks using multiple limits, thinking it will behave like a `:&` pattern. Having something like:

`ansible-playbook deploy.yml --limit foo --limit bar`

The limit on `foo` was omit

[2017-04-27 11:39] samjsharpe commented on #24035
Confirmed
- switching to sudo with ansible-2.3 works.
- running off the devel branch works:
[code]

[2017-04-27 12:22] MarkusTeufelberger commented on #24004
You mean like https://github.com/ansible/ansible/issues/23220, just for yum?

[2017-04-27 12:23] MarkusTeufelberger commented on #23992
Similar to https://github.com/ansible/ansible/issues/23220 ?

[2017-04-27 12:23] s-hertel commented on #21566
Hi @sibh8. I have just successfully created, gotten the remote facts for, and terminated an ec2 instance using boto 2.46.1 for eu-west-2. It's unclear what module(s) are failing for you and it appears it may be unrelated to boto 2.46.1. This issue was regarding ec2.py. Please open a new issue with the task(s) that are failing for you and any error messages (use -vvvvv for extra output, please) you

[2017-04-27 12:52] erickpatrick commented on #5442
It also happens to my team. We are trying to provision an AWS EC2 instance, every other task works but this one.

Runner machine
[code]
[code]
Target Machine:
[code]
Code snippet used:
[code]

[2017-04-27 13:41] vignesh-paramasivam opened #24057 "Ansible not accessing windows c drive after 2.3 update (win_copy, scripts module not working)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Script, Windows modules to access c drives in windows

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
inventory = ./inventories/spike
roles_path = ./roles
library = ./lib

##### OS / ENVIRONMENT

##### SUMMARY

The script module, win_copy reports managed hosts as UNREACHABLE

I was running the script module just fine until i updat

[2017-04-27 13:48] Kecksdose opened #24059 "Ansible v2.3 centos7 error: TypeError: _execute_module() got an unexpected keyword argument 'wrap_async'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Simple yum installations

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
See below.

##### OS / ENVIRONMENT
CentOS ansible docker image: https://hub.docker.com/r/geerlingguy/docker-centos7-ansible/

##### SUMMARY
I use docker / [this test script from geerlingguy](https://gist.github.com/geerlingguy/73ef1e5ee45d8694570f334be385e181) to test my

[2017-04-27 13:51] jhawkesworth commented on #24057
I think you need to specify the host/hostgroup first
Instead of
ansible -m win_copy -a "src='clear_temp.ps1' dest='C:\clear_temp.ps1'" -l win7_machine win_nodes
use
ansible win_nodes -m win_copy -a "src='clear_temp.ps1' dest='C:\clear_temp.ps1'" -l win7_machine

please try the above

needs_info

[2017-04-27 13:52] mcapuccini commented on #23642
I am experiencing the same issue with Ansible 2.2.0.0 and Ansible 2.1.0.0 when running from Travis. If I run the same on my laptop it works. I tried to install `ca-certificates`, and even to import the certificate manually, but no luck when running `get_url` from travis.

[code]

[code]

[2017-04-27 13:58] vjcalvo commented on #23285
anyone? :(

[2017-04-27 14:15] bcoca commented on #24054
We are using optparse as argument passing library, I haven't been able to figure out how to error/warn when having duplicate entries.

The normal behaviour for optparse is 'last one wins' unless it is an 'append' option in which case they get added to a list.

[2017-04-27 14:18] dsummersl commented on #23285
@vjcalvo I'm sorry I haven't had a chance to look at this recently - I'll take a look tonight.

[2017-04-27 14:19] kspear commented on #23575
So I've got my "default" rsync options array defined as a separate variable `rsync_opts`:

[code]

And my synchronize task:
[code]

This is so that I can have a `files` list made of entries like:
[code]

When the file item doesn't have a `rsync_opts` key it should default to use the global variable  `rsync_opts` (my default list of exclude options). As you can see, this `rsync_opts` global var is

[2017-04-27 14:24] gormux opened #24062 "win_updates ignores check_mode or state: searched"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 master, Windows 2012 R2 client

##### SUMMARY

When using check_mode ot state: searched, the updates are installed.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

The updates should not be installed

##### ACTUAL RESULTS

[code]

[2017-04-27 14:29] vjcalvo commented on #23285
thanks, no hurries! (it's my first reported issue, don't know how it goes) Anything I can do for help, just let me know. regards!

[2017-04-27 14:40] asouchang opened #24064 "Support patterns for group of groups in static inventory file"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
patterns, group of groups, static inventory file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Empty files for ansible.cfg, and no ANSIBLE_ environment variables

##### OS / ENVIRONMENT
CentOS 6.9

##### SUMMARY
ansible is used in our environment to manage cluster servers. The cluster in our environment is formed by 3 servers. However, in

[2017-04-27 14:41] GoGoris opened #24065 "Jinja2 attr() filter not working in ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jinja2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
I noticed some very odd behaviour. I can't get the jinja2 attr() filter to work with ansible.
The error message says that the attribute is not present in the object but I can access the attribute perfectly fine when using another synt

[2017-04-27 14:47] kwoodson commented on #23820
@bcoca, Big thanks for the suggestion, `static: no` did help in some cases when doing include and include_role.

Here is another case that we run into, maybe you could suggest help or see a reason for `with_when`:
[code]
Results:
[code]

Notice that I wanted to skip the `set_fact` and the `debug` but the `with_items` on the second task caused it to be executed before the `when` clause was evaluate

[2017-04-27 15:09] bcoca commented on #23820
when evaluates for EACH item so with_ always evalutes before when, to avoid this problem do as documented http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals :
[code]

[2017-04-27 15:27] sivel commented on #23820
Changing `when` to not apply to loops, but only apply to the block as a whole, would be a huge backwards incompatible change that could have huge ramifications to existing playbooks.

I don't see us making that change.

[2017-04-27 15:34] sivel commented on #23642
I'll have to see if I can do some digging on Travis to figure out what it's issue is.

[2017-04-27 15:44] #23316 closed, assigned to Qalthos, ganeshrn

[2017-04-27 15:56] njappboy opened #24068 "h"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-27 16:33] #14686 closed, assigned to nobody

[2017-04-27 16:33] #17097 closed, assigned to nobody

[2017-04-27 16:37] abadger commented on #24068
I'm sorry, it looks like there was no data entered here.  I'm going to close this but feel free to open a new issue if you do have a bug to report.

[2017-04-27 16:37] #24068 closed, assigned to nobody

[2017-04-27 16:39] erwilan commented on #23575
- each argument has to be a separate list item
- quotes remain in the pattern (what you probably not want)

you can write it this way:
[code]

or that way:
[code]

[2017-04-27 16:41] vignesh-paramasivam commented on #24057
@jhawkesworth

As mentioned, i executed the command with below,

`ansible win_nodes -m win_copy -a "src='clear_temp.ps1' dest='C:\clear_temp.ps1'" -l c******.com -vvvv`

[code]

[2017-04-27 16:42] vignesh-paramasivam commented on #24057
@jhawkesworth

Also, exected the same with ansible v2.1,

`ansible win_nodes -m win_copy -a "src='clear_temp.ps1' dest='C:\clear_temp.ps1'" -i inventories/win7_ie11/ -l c******.com -vvvv
Using /disk2/ansible/bitbucket/ansible-sel-grid/ansible.cfg as config file
Loaded callback minimal of type stdout, v2.0
<c******.com> ESTABLISH WINRM CONNECTION FOR USER: Administrator  on PORT 5986 TO c******.com

[2017-04-27 16:43] kwoodson commented on #23820
@sivel, I appreciate the response.  The issue here as @bcoca stated is the order of precedence in which things are evaluated.

`with_items` has a greater precedence than `when`.  That means that there is no way to really `skip` a task.

For example:
[code]
In this example as well as the earlier one, I would expect that the block would never execute.  The same goes for normal `when` statements.  Th

[2017-04-27 16:45] sherabi opened #24072 "Ansible galaxy doesn't download template files properly"
Ansible Version: 2.3.0.0

I have a role that has the following template files.
consul-checks.json.j2
consul.json.j2
consul.service.j2

After I pull the role via requirements.yml
`ansible-galaxy install -r requirements.yml --roles-path role`
The role downloads successfully but the template directory has files with the following names:
-checks.json.j2
.json.j2
.service.j2

[2017-04-27 16:47] bcoca commented on #23820
well, you are making a bad assumption here, blocks don't get evaluated, they are static (compile time), they allow included tasks to inherit properties.

[2017-04-27 16:49] sivel commented on #23820
The correct way, as @bcoca stated, is that you need to ensure that your `with_` loop, can always evaluate.

So utilizing the following will resolve your problem:

[code]

This is documented at http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

Since I can't see us changing the behavior due to a backwards incompatible change, and the fact that we have this clearly d

[2017-04-27 16:49] #23820 closed, assigned to nobody

[2017-04-27 16:51] gundalow commented on #23103
@andyhky Does the gist give you what you need?

[2017-04-27 16:55] jhawkesworth commented on #24057
Does this only happen when target is windows 7?

If you attempt the same task inside a playbook, is it successful or not?

needs_info

[2017-04-27 16:59] gundalow commented on #22287
@ikus060 Does the above comment work for you?

needs_info

[2017-04-27 17:00] geekmug opened #24073 "Scrubbing passwords in uri module breaks return_content"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible 2.3 just landed in RHEL7, so I just spent the last couple hours chasing down an obscure bug in our infrastructure. Ultimately, I have isolated this issue to the change in #20427. On it's face, this is a good idea, but the no_log attribut

[2017-04-27 17:04] sivel commented on #24073
duplicate_of https://github.com/ansible/ansible/issues/23671

[2017-04-27 17:07] sivel commented on #23642
I've got some good news, in getting `get_url` and `uri` to work on Travis CI while being able to validate certs.

There are a few things that you can do here:

1. Currently you have `localhost` explicitly defined in your inventory, which prevents ansible from using the implicit `localhost` which would set the correct python interpreter to utilize.  I'd recommend removing `localhost` from your inve

[2017-04-27 17:07] #23642 closed, assigned to nobody

[2017-04-27 17:10] gundalow commented on #21003
needs_info @boskiv Could you please answer the above questions.

[2017-04-27 17:11] gundalow commented on #20925
Any update on this/

[2017-04-27 17:12] #24073 closed, assigned to nobody

[2017-04-27 17:14] ikus060 commented on #22287
For my need. Nope. I used a command line to work around this issue.

[2017-04-27 17:19] aerickson commented on #23992
Nope, that one just downloads the deb and doesn't install it.

I want ansible to be able to only upgrade a package if it's installed
(currently working around with a script).

-------------------------------------------------------------------------------------------
You should follow me on Twitter at http://twitter.com/ajerickson.

On Thu, Apr 27, 2017 at 5:23 AM, MarkusTeufelberger <
notificatio

[2017-04-27 17:20] nmeum opened #24074 "user module does not append groups on OpenBSD"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`user` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

From ansible.cfg:

[code]

##### OS / ENVIRONMENT
I am running Ansible from Alpine Linux and I am managing an OpenBSD 6.1 System.

##### SUMMARY

The `user` module has an `append` option which should append the groups listed in the `groups` option to the user's groups instead of

[2017-04-27 17:20] geekmug commented on #24073
Sorry about the duplicate, the other bug wasn't obvious to find.

I understand the rationale, but it also makes me think that return_content is an attractive nuisance since you cannot guarantee that content won't be compromised by the scrubbing. We are in the process of replacing every use of return_content with sending it to a dest file and "command: cat" to get it back into a variable without th

[2017-04-27 17:49] maxmengtor commented on #13262
Badly need it.

[2017-04-27 17:53] rpathak-ains commented on #23843
I am having the same issue with Windows 2k8 R2 as well as Windows 2k12 R2 server.  Any updates on this issue?

[2017-04-27 18:00] gundalow commented on #16864
Going to close this

[2017-04-27 18:00] #16864 closed, assigned to alikins, mattclay, gundalow

[2017-04-27 18:03] gundalow commented on #18697
Hi,
We believe this has been fixed, please reopen if you are still seeing the issue

[2017-04-27 18:03] #18697 closed, assigned to gundalow

[2017-04-27 18:04] gundalow commented on #18966
@jean-christophe-manciot There have been lots of changes in Ansible 2.3 for networking. Could you please retest 2.3 and let us know if it's still an issue? Thanks in advance.

needs_info

[2017-04-27 18:07] gundalow commented on #18970
@jean-christophe-manciot Could you please retest on 2.3.0 and let us know if it's still an issue. Thanks in advance.

needs_info

[2017-04-27 18:08] gundalow commented on #18974
@beggles Please follow the steps detailed in https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell and raise a separate issue if needed.

[2017-04-27 18:19] sivel commented on #23921
I referenced a different commit above, but it started with fee6e2953b02229a2be658cca144570c8e54bf9f

fee6e2953b02229a2be658cca144570c8e54bf9f caused what would have been a correct match, into a failure.

So fee6e2953b02229a2be658cca144570c8e54bf9f causes the match to fail, resulting in:

[code]

https://github.com/ansible/ansible/commit/6f77498700a989c6b42f4f4d050d98df1de74f9e causes the match to

[2017-04-27 18:21] gundalow commented on #22287
@ikus060 How does the above fail for you?

my LDAP foo is weak, just seeing what I can do to help get some issues moving.

[2017-04-27 18:23] sivel commented on #23921
Effectively reverting back to pre https://github.com/ansible/ansible/commit/fee6e2953b02229a2be658cca144570c8e54bf9f behavior resolves my issues, but is likely to break the problems in https://github.com/ansible/ansible/issues/23054 and https://github.com/ansible/ansible/issues/20858

https://github.com/ansible/ansible/blob/83fe2170fffa94bfd75c38de22217794335827b9/lib/ansible/plugins/connection/__

[2017-04-27 18:27] nwchandler commented on #20428
I have created PR #24075 for anyone who is interested in reviewing.

[2017-04-27 18:33] dagwieers opened #24076 "Using task "connection: local" fails if ansible_connection is used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm core

##### ANSIBLE VERSION

v2.3+

##### OS / ENVIRONMENT

Control master: RHEL7
Target node: Windows 2012 (irrelevant)

##### SUMMARY

If you have a system configured with a group_vars variable `ansible_connection: winrm`, any task that has this windows-system as a target but nevertheless has `connection: local` will fail with:

[code]

[2017-04-27 18:37] Techwolfy opened #24077 "YAML folded scalars do not work properly in command module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Command Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If a YAML folded scalar is used after the "creates" argument for the command module, it is treated as part of the command. The "creates" argument is evaluated normally. This likely occurs for other arguments as well.

##### STEPS T

[2017-04-27 18:46] dagwieers commented on #24076
Problem also exists for other connection types, e.g. using:
[code]

[2017-04-27 18:53] sherabi commented on #24072
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Galaxy

##### ANSIBLE VERSION
2.3.0.0

#### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OSX and Ubuntu 16.04

##### SUMMARY
I have a role that has the following template files.
[code]
After I pull the role via requirements.yml
`ansible-galaxy install -r requirements.yml --roles-path role`

The role downloads successfully but the tem

[2017-04-27 18:53] cboggs opened #24078 "vmware_guest: Orphaned Resource Pools in VSphere cause failed `assert`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`vmware_guest` -> `resource_pool`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Resource pools are retrieved from VSphere regardless of the state of the `resource_pool` parameter. During this process, each retrieved Resource Pool is checked for the `parent` attribute, and if it exists, th

[2017-04-27 18:56] cboggs commented on #24078
#24079 addresses this bug.

[2017-04-27 19:09] helldorado opened #24082 "replace and lineinfile module can not use the TMP TEMPDIR and TEMP env variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[modules/files/replace.py](https://github.com/ansible/ansible/blob/631a10745d344c85817ab504f678d2c40ec8ae4b/lib/ansible/modules/files/replace.py)
[modules/files/lineinfile.py](https://github.com/ansible/ansible/blob/631a10745d344c85817ab504f678d2c40ec8ae4b/lib/ansible/modules/files/lineinfile.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURAT

[2017-04-27 19:15] jquest07 commented on #23586
I tried it out and it works now as expected. Thanks for the fix!

[2017-04-27 19:16] nitzmahone commented on #23586
Awesome, thanks for verifying!

On Apr 27, 2017 12:15 PM, "jquest07" <notifications@github.com> wrote:

[2017-04-27 19:20] bcoca commented on #24054
dupe of #22396

[2017-04-27 19:20] #24054 closed, assigned to nobody

[2017-04-27 19:23] bcoca commented on #20916
http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-04-27 19:23] #20916 closed, assigned to nobody

[2017-04-27 19:25] sivel commented on #23921
i've submitted a PR at https://github.com/ansible/ansible/pull/24081 that should resolve this.

Is is possible you can test these changes?

[2017-04-27 19:31] krzysztof-magosa commented on #20925
I looked into, but don't see obvious point where it's broken.
Didn't have time to do deeper investigation.
Personally hope that module maintainer fixes that.

[2017-04-27 19:33] bcoca commented on #22784
@god-of-hellfire root is only used if you specify it, i'm not sure your assumptions make sense.

Can you use and actual task as an example?

[2017-04-27 19:34] bcoca commented on #22784
@f-koehler your comment seems completely unrelated and the docs specify why you require `become: yes`

[2017-04-27 19:36] MarkusTeufelberger commented on #23992
So you want to define a package (let's say docker) and if it is installed then update it, if not, do nothing? I thought that's what the "only_upgrade" switch is for...

[2017-04-27 19:43] aroundthecode commented on #24004
@MarkusTeufelberger yes, it's quite similar, but my focus is also on the fact that the downloaded packages should not simply be available on the yum local cache (which is the expected behaviour in the linked apt module ticket, or with only the **downloadonly** parameter) but downloaded on a desired location (the **downloaddir** parameter) to be easily managed afterwards.

Currently to do this simp

[2017-04-27 19:50] paravz opened #24084 "azure_rm_deployment doesn't expose full error details"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure/azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### SUMMARY
azure_rm_deployment does not expose azure error details on failure. This might be related to this particular azure quota related case, or is generic to azure ARM templates.

##### STEPS TO REPRODUCE
Try to deploy more than 4 cores in a Trial azure subscription (any VM):

[cod

[2017-04-27 19:58] dagwieers commented on #24076
So let me clarify my position here. We are doing automation with both Linux and Windows systems using SSH and WinRM. Since we can only have one default configured for Ansible, we *have* to define **ansible_connection** for the other half of our infrastructure. Which means that as soon as you have a set of machines with a non-default connection-type, `connection: local` stops working altogether.

A

[2017-04-27 20:13] tom-clx commented on #23921
Tested your branch, it appears to solve the issue in my environment. I re-verified the failure case against devel too, as a control.

[2017-04-27 20:16] sivel commented on #23921
Great, I'm working on adding tests to that PR, so I'll update this once the PR is merged.

[2017-04-27 20:18] chrisweaver opened #24087 "ec2_asg_facts only looks at first 50 ASGs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
stock

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
The module ec2_asg_facts only returns the first 50 ASGs when trying to list all ASGs.  The module will find an ASG when searching by name only if it is in that first 50.

##### STEPS TO REPRODUCE
Start with an account with > 50

[2017-04-27 20:35] targuan opened #24088 "nxos_file_copy copy file localy if no host is set"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

nxos_file_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
nxos_file_copy doesn't use the same method to dertermine the remote host to connect to. If no host is given in parameter (which should not be allowed according to the documentation, but it doesn't raise any

[2017-04-27 21:23] beggles commented on #18974
Thanks @gundalow , please refer to issue 23881, raised last weekend, output captured there and fix confirmed by @trishnaguha, due for release next week as part of 2.3.1
https://github.com/ansible/ansible/issues/23881

[2017-04-27 21:43] aerickson commented on #23992
Thanks. That's exactly what I wanted.

Confusing that it's not a state.

[2017-04-27 21:43] #23992 closed, assigned to nobody

[2017-04-27 22:03] opoplawski commented on #13101
I think I have this working okay now.

[2017-04-27 22:03] #13101 closed, assigned to nobody

[2017-04-27 22:42] dkasak commented on #13982
I just encountered this, in the same scenario as mentioned in #14519 (setting the shell of the remote account with the same username as my local account). As mentioned there, this seems like quite a useful piece of information to have from a playbook. Can we get some more attention on this one, please?

[2017-04-27 22:53] tranquocphongvn commented on #24062
I have the same issue with ansible-2.3.0.0

[2017-04-27 23:30] abadger commented on #24059
@Kecksdose @geerlingguy  At first I was only able to reproduce this using the provided test script, not by running the playbook on a centos7 virtual machine or a centos7 container.  Taking a look into the differences betweeen my vm and the docker container I think I know what the problem is.  Unfortunately, this is not really a problem that ansible can solve.

What appears to me to be happening is

[2017-04-27 23:39] abadger commented on #24072
I believe this has been fixed in devel and backported to the stable-2.3 branch here: https://github.com/ansible/ansible/pull/23703

Can you confirm that that has fixed the problem?

needs_info

[2017-04-28 00:14] devigned commented on #24084
Agreed. This should provide the detailed error message.

[2017-04-28 02:45] asouchang commented on #24065
Perhaps it's caused by the syntax error in the template.
[code]

[2017-04-28 03:12] jamesla commented on #11551
+1

[2017-04-28 04:15] geerlingguy commented on #24059
@abadger - that makes sense. I'll trigger a new build of the Docker image so it grabs the latest Ansible version.

I wish I could tell Docker hub to trigger builds for multiple upstream projects. Maybe I could build a web hook somewhere to trigger the builds when new Ansible versions are released...

[2017-04-28 04:38] geerlingguy commented on #24059
@Kecksdose - Can you please try again, pulling the latest image version? I just ran the build again and it looks like it has 2.3.0:

[code]

(Fingers crossed that doesn't cause any build failures elsewhere... I've had to modify a few of my roles to account for minor differences in 2.3).

[2017-04-28 05:10] trishnaguha commented on #23890
This issue is fixed in #24008 . Thanks for the report.

[2017-04-28 05:10] #23890 closed, assigned to trishnaguha

[2017-04-28 05:21] vignesh-paramasivam commented on #24057
@jhawkesworth All my hosts are win7.

And I have tried this with playbook as well,  same error

[2017-04-28 06:16] god-of-hellfire commented on #22784
Thanks for your replies. After further investigation and understanding what we need and want, we eventually found out how to solve this issue for us.

First of all we changed our weird privilege escalation approach from:
* "sudo su - <user> -c '<cmd>'" to
* "sudo -u <user> -i '<cmd>'"

But this change alone did not solve the problems for us with core modules. They still need root when they try to

[2017-04-28 06:16] #22784 closed, assigned to nobody

[2017-04-28 06:54] jhawkesworth commented on #24057
Please can you share your group_vars or host variables which are used to specify the winrm connection parameters.

Please also advise which version of Powershell and Windows Management Framework is in use on your Win 7 hosts.

I don't have access to any Win 7 hosts to test this for myself unfortunately.

[2017-04-28 07:13] jhawkesworth commented on #24057
Please can you try

ansible win_nodes -m win_ping -vvvvvv
(note -vvvvvv (6 'v's)

This should show a couple more lines of information, like the following.   I am keen to see if winrm connection is established correctly:

<192.168.137.233> WINRM CONNECT: transport=ssl endpoint=https://192.168.137.233:5986/wsman
<192.168.137.233> WINRM OPEN SHELL: 06823FCA-BDE9-460D-8A41-A65F454FF31C

needs_info

[2017-04-28 07:34] sandstrom commented on #20347
You probably already know, but I think this is an issue with AWS and/or Ubuntu. Seeing the same even though I'm not using Ansible.

[2017-04-28 07:36] Kecksdose commented on #24059
@abadger @geerlingguy Thanks for the quick response and help!

The error disappeared with the new docker image you provided, so I will close this issue.

[2017-04-28 07:36] #24059 closed, assigned to nobody

[2017-04-28 07:48] Alicango opened #24096 "Ansible has SSL CERTIFICATE_VERIFY_FAILED by using Dynamic Inventory while ping to Windows node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- win_ping module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Uncomment vars under the [defaults] in /etc/ansible/ansible.cfg
[code]

My playbook yaml file in /home/ec2-user/windows_ping_dynamic.yml
[code]
Also i have executed "ConfigureRemotingForAnsible.ps1" on windows target nodes befor ping from Ansible control machine.

##### OS / E

[2017-04-28 07:49] willmerae commented on #23918
I've grepped the code in lib/ansible/modules/cloud/docker in my PR branch. I couldn't find any further cases of an ansible fact with the prefix 'ansible_*'. I think this was the last one

[2017-04-28 09:09] GoGoris commented on #24065
Sorry this was a typo in the bug report, it is correct in the code. So this is not the issue.

[2017-04-28 09:09] sm4rk0 opened #24098 "win_service is missing service failure handling"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`sc.exe` has [`failure` command](https://technet.microsoft.com/en-us/library/bb490995.aspx#E02B0AA) to change the actions upon service failure.
It would be useful to have the same feature exposed in win_service module.
Alternate idea w

[2017-04-28 09:15] #22668 closed, assigned to nobody

[2017-04-28 09:19] keepzero opened #24099 "There are no hosts in the default group 'ungrouped' using dynamic inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The default group 'ungrouped' contains no host in dynamic inventory. The default group `all` didn't contains the hosts that don't have another group.

I'm not sure if it's normal, or it's a bug.

##### STEPS TO REPRODUCE

I wrote

[2017-04-28 09:21] subsy commented on #19305
@ppluciennik thanks for your patch, it helped us get one step further - but hitting the vars issue that you mentioned:

[code]

returns:

`fatal: [10.23.7.180]: FAILED! => {
    "failed": true,
    "msg": "'component_list' is undefined"
}`

[2017-04-28 09:52] Akasurde commented on #24096
@Alicango Thanks for reporting this issue. This error occurs when you don't Server's certificates installed. You can do `export PYTHONHTTPSVERIFY=0` and try ansible-playbook. Also, you can read more [here](https://access.redhat.com/articles/2039753)

[2017-04-28 10:19] ogai commented on #15205
Just for people who may land here from a search engine: note that `when` in roles within playbooks was introduced in Ansible 2.0. See https://docs.ansible.com/ansible/playbooks_conditionals.html#applying-when-to-roles-and-includes

[2017-04-28 10:27] vlow opened #24102 "ansible-vault does not work with piped input anymore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Fedora 25, latest patch level as of 2017/04/28

##### SUMMARY
Piping the output of echo into ansible-vault (as suggested in the man page) fails with the output:

[code]
"working-directory" is the directory from where the command is executed (=$(pw

[2017-04-28 11:13] timherrm commented on #22098
This is what show sysinfo looks like on an Cisco 5500 Series Wireless Controller:

(Cisco Controller) >show sysinfo

Manufacturer's Name.............................. Cisco Systems Inc.
Product Name..................................... Cisco Controller
Product Version.................................. 8.1.102.0
RTOS Version..................................... 8.1.102.0
Bootloader Version.........

[2017-04-28 11:13] joanmarcriera commented on #22147
Still open on 2.4.0

[2017-04-28 11:18] edwardvanhazendonk commented on #24018
Guys sorry, I made a typo in a folder name, it seems this was the issue.
There is no issue in the Ansible code.

[2017-04-28 11:18] #24018 closed, assigned to nobody

[2017-04-28 11:21] safonas commented on #22576
Having the same issue with RHEL 7 and Ansible 2.2.0 and 2.2.1, error message as above
[code]

[2017-04-28 11:26] jmaschtaler commented on #23393
It's fixed with version 2.3.0.0

[2017-04-28 11:26] #23393 closed, assigned to nobody

[2017-04-28 11:30] #24099 closed, assigned to nobody

[2017-04-28 11:35] nerzhul commented on #24018
Nice !

[2017-04-28 11:56] nerzhul commented on #23663
vmware_guest has received many and many changes in 2.3, please re-test in 2.3, 2.2 version is very far from 2.3

[2017-04-28 12:27] quietanomaly commented on #20000
Even without specifying a version I have to read the dependency errors and install them manually. Only thing that worked for me.

- Ubuntu `16.04`
- Ansible `2.3.0.0`
- Jenkins `2.57`

[code]

[2017-04-28 12:29] stacker2017 opened #24109 "ansible ping command hangs after few hours run"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/usr/bin/ansible  storage*,compute*,controller* -m ping -b --become-method=su --become-user=ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
OS / ENVIRONMENT
[code]
##### OS / ENVIRONMENT

##### SUMMARY

ansible ping command hang after I run it in a loop for a few hours, I can see the connection is open to the remote host whe

[2017-04-28 12:31] thomwiggers opened #24110 "Pacman doesn't support package name aliases"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

pacman module

##### ANSIBLE VERSION

[code]

This worked fine in Ansible 2.2.

##### CONFIGURATION

    [defaults]
    nocows=1

##### OS / ENVIRONMENT

I'm running on Arch Linux

##### SUMMARY

Running

##### STEPS TO REPRODUCE

https://github.com/thomwiggers/odroid-playbooks/blob/master/roles/common/tasks/common.yml#L8-L16

##### EXPECTED RE

[2017-04-28 12:43] jameswmcnab commented on #23534
I am also having this issue running ansible 2.2.2.0 and targeting RHEL 6.8, trying to install the `pip` and `meld3` packages via `easy_install`.

Running `easy_install pip` and `easy_install meld3` manually on the target system works and downgrading ansible to 2.2.0.0 fixes the issue.

[2017-04-28 13:09] calfonso commented on #23881
resolved_by_pr #23589

[2017-04-28 13:10] rcarrillocruz commented on #23771
resolved_by_pr 23858

[2017-04-28 13:10] #23771 closed, assigned to nobody

[2017-04-28 13:15] #23881 closed, assigned to nobody

[2017-04-28 13:16] indrajitr commented on #24110
@thomwiggers, this is possibly a duplicate of #23910. Can you please try with `stable-2.3` or `devel` branch?

[2017-04-28 13:16] indrajitr commented on #24110
need_info

[2017-04-28 13:17] mgedmin opened #24113 "Spurious undefined variable errors when a host is duplicated in the inventory (regression since 2.2)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Ansible 2.3 shows failures like

[code]

for a playbook that worked fine in 2.2.  This happens only when the host in question is duplicated in the inventory.

The playbook itself looks like this:

[code]

You can see that the variable Ansible

[2017-04-28 13:17] indrajitr commented on #24110
resolved_by_pr #23938

[2017-04-28 13:23] calfonso commented on #21683
needs_contributor thank you for the bug report, this is a community maintained module and we need a contributor to provide a fix for the issue.

[2017-04-28 13:26] Reagan opened #24114 "with_items fails with compound item list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_items

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
System Version: macOS 10.12 (16A323)
Kernel Version: Darwin 16.0.0

##### SUMMARY
`with_items` fails when reading a multi-level list item e.g.
[code]
fails with the message `with_items` cannot find the item `['X']` where `X` is a var in a multi-level list with var in the file `pack

[2017-04-28 13:27] calfonso commented on #20922
needs_info

[2017-04-28 13:28] #20748 closed, assigned to jimi-c, privateip

[2017-04-28 13:28] gundalow commented on #21507
@IDQDD Thanks for the suggestion, this sounds like something that would make sense and be useful.

Marking as Milestone 2.4, so we track this, though this isn't a commitment that it will be included.

[2017-04-28 13:34] Alicango commented on #24096
Hello @Akasurde ,
i run ``` export PYTHONHTTPSVERIFY=0 ``` than tried again ``` ansible-playbook windows_ping_dynamic.yml ``` but i am still taking SSL Certificate error unfourtunatly.
output;

[code]

My Ansible Control Machine is Amazon Linux Ami ;

[code]
So I couldn't find "cert-verification.cfg" file in my Ansible control machine. I created it under the /etc/python than edited like this;
[cod

[2017-04-28 13:36] gundalow commented on #20748
As discussed in the Network Team:
* This doesn't effect networking modules
* This would only effect Core modules
* Core modules already have ControlPersist

Unsure if their is a demand for this, so closing.

[2017-04-28 13:37] calfonso commented on #19586
This is fixed in 2.3, please retest and let us know if you still see the issue.

needs_info

[2017-04-28 13:38] calfonso commented on #19183
needs_contributor This is a community maintained module and we need a contributor to post a fix for this.

[2017-04-28 13:39] thomwiggers commented on #24110
Isn't fixed, same error in

[code]

[2017-04-28 13:40] calfonso commented on #19108
This should be fixed in 2.3. Please re-test and let us know.

needs_info

[2017-04-28 13:42] calfonso commented on #18978
This is community maintained module and needs a contributor to implement the feature.

needs_contributor

[2017-04-28 13:42] thomwiggers commented on #24110
I also don't see how #23938 resolves this issue, as it only fixes cases where the command would fail anyway.

[2017-04-28 13:43] pierreant-p commented on #23918
Reproduced here with ansible 2.3.0.0

[2017-04-28 13:43] #20531 closed, assigned to nobody

[2017-04-28 13:45] #23918 closed, assigned to nobody

[2017-04-28 13:46] #18967 closed, assigned to privateip, gundalow, rcarrillocruz

[2017-04-28 13:46] compyy commented on #21683
I can Help, let me review the code

[2017-04-28 13:47] repcsi opened #24115 "SLES login does not work with audited shell"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ping, playbook

##### ANSIBLE VERSION
ansible 2.2.2.0
  config file = /usr/local/etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
/usr/local/etc/ansible/ansible.cfg
[code]
##### OS / ENVIRONMENT
ansible OS: FreeBSD 11.0
Env: SLES11, SLES12 with audited shell that puts out a message before the p

[2017-04-28 13:47] s-hertel commented on #24077
A work around for this:
[code]

[2017-04-28 13:48] calfonso commented on #18568
needs_contributor

[2017-04-28 13:51] gundalow commented on #21683
@compyy That's great, thanks, just need someone to write the code first :)

[2017-04-28 13:52] calfonso commented on #16546
This is known to be fixed in 2.3.

[2017-04-28 13:52] #16546 closed, assigned to rcarrillocruz

[2017-04-28 13:53] gundalow commented on #18967
Given the comments it sounds like it's a local install issue, so closing.

[2017-04-28 13:53] calfonso commented on #16433
This feature isn't something we are going to implement. If you'd like to discuss the details of why, we can carry on the conversation on IRC during the scheduled freenode meeting.

[2017-04-28 13:53] #16433 closed, assigned to nobody

[2017-04-28 13:54] calfonso commented on #16017
Closing this due to inactivity. We believe this issue is now fixed with 2.3.

[2017-04-28 13:54] #16017 closed, assigned to rcarrillocruz

[2017-04-28 13:55] erwilan commented on #24114
since ansible 2.3 you have to write it this way:
[code]
https://github.com/ansible/ansible/blob/stable-2.3/CHANGELOG.md#removed-deprecated

[2017-04-28 13:56] crawfpi commented on #21825
Also seeing similar issues that it is not reporting all the available VM sizes I have available from ansible    for example I am requesting a Standard_H8.

    "msg": "value of vm_size must be one of: Basic_A0,Basic_A1,Basic_A2,Basic_A3,Basic_A4,Standard_A0,Standard_A1,Standard_A10,Standard_A11,Standard_A2,Standard_A3,Standard_A4,Standard_A5,Standard_A6,Standard_A7,Standard_A8,Standard_A9,Standard

[2017-04-28 14:10] Reagan commented on #24114
Great! It's actually better this way referencing `with_items: "{{ var_name }}"` rather than  `with_items: "{{ item }}"`. Kindly close issue.

[2017-04-28 14:14] sivel commented on #24114
Closing as requested

[2017-04-28 14:14] #24114 closed, assigned to nobody

[2017-04-28 14:15] #23968 closed, assigned to nobody

[2017-04-28 14:20] nerzhul commented on #19860
@joshmullis one of my student reproduced your bug today and i debugged with him to find the error.
VMware API is quite stupid, it clone the machine, every parameter is accepted by VMware, VM is okay but API returns an error whereas clone seems to be okay... it will be quite compilated to solve this issue

[2017-04-28 14:25] crawfpi commented on #21825
looking further - it list Standard_G* images as being one the images the the vm_size must match:

"msg": "value of vm_size must be one of: Basic_A0,Basic_A1,Basic_A2,Basic_A3,Basic_A4,Standard_A0,Standard_A1,Standard_A10,Standard_A11,Standard_A2,Standard_A3,Standard_A4,Standard_A5,Standard_A6,Standard_A7,Standard_A8,Standard_A9,Standard_D1,Standard_D11,Standard_D11_v2,Standard_D12,Standard_D12_v2,

[2017-04-28 14:27] stacker2017 commented on #24109
for example after process is hung I see in ps -ef :
 sshpass -d26 ssh -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o User=ansible -o ConnectTimeout=10 -o ControlPath=/root/.ansible/cp/ansible-ssh-%h-%p-%r 10.10.10.16 /bin/sh -c 'chmod u+x /home/ansible/.ansible/tmp/ansible-tmp-1493062361.12-39668938146748/ /home/ansible/.ansible/tmp/ansib

[2017-04-28 14:29] stacker2017 commented on #24035
Since this issue is random is hard to reproduce, but there is another issue that we have seen in our environment which I believe it might be related to timeout issue, I have opened a different ticket and explain the behavior:

https://github.com/ansible/ansible/issues/24109

[2017-04-28 14:33] morph027 commented on #23345
My cluster appears to be fully functional, i can create VMs via WebGUI and ```qm``` (These are using the API too). Any hints how to debug further?

btw....have a nice weekend! ;)

[2017-04-28 14:37] indrajitr commented on #24110
!needs_info

[2017-04-28 14:44] jhawkesworth commented on #24098
needs_contributor

[2017-04-28 14:45] indrajitr commented on #24110
@thomwiggers, safe to assume these are your relevant tasks and facts?
- https://github.com/thomwiggers/odroid-playbooks/blob/master/roles/common/tasks/common.yml#L8-L16
- https://github.com/thomwiggers/odroid-playbooks/blob/master/roles/common/vars/main.yml#L3-L29

[2017-04-28 14:47] errriclee commented on #21562
I had the same issue with cloud-init on Ubuntu 14.04. Rather than downgrading to Ansible 2.2.0 and reverting some of my 2.3.0-specific changes, I just ran it with:

HOME=/root ansible-playbook ...

My script works fine after that.

Not a long term solution, of course.

[2017-04-28 14:48] thomwiggers commented on #24110
Yes, as of commit thomwiggers/odroid-playbooks@78eba5f99da6e70ab8941b29a301a72b836ab810

[2017-04-28 14:51] jctanner commented on #24065
Confirmed behavior. After some debugging, I think this is a jinja problem. Still digging in ...

[2017-04-28 14:56] greggilbert commented on #21562
@ansibot bot_broken This is still an issue.

[2017-04-28 15:09] jctanner commented on #24065
This is the "root" function jinja compiled for the expression ...

[code]

t_1 is "attr", who's source can be found here:
https://github.com/pallets/jinja/blob/master/jinja2/filters.py#L801-L823

t_2 is "first", who's source can be found here:
https://github.com/pallets/jinja/blob/master/jinja2/filters.py#L345-L350

[2017-04-28 15:13] tstringer commented on #21825
@crawfpi the script doesn't have any interaction with Ansible, just the Azure SDK for Python. It's a way to list out available VM sizes for a given region. The default (or specified) VM size would have to be available, otherwise you'll run into this problem.

[2017-04-28 15:23] bcoca commented on #24077
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The problem here is that you are doing the folding in the middle of the value, this is not suported by YAML, from spec only comment or

[2017-04-28 15:23] #24077 closed, assigned to nobody

[2017-04-28 15:26] helldorado commented on #23345
@morph027 , @delapsley

I'm sorry but i can't reproduce.

## PVE Environment
[code]
[code]

### Playbooks
[code]

### RUN with (-vvvv)
[code]
### RUN AGAIN with (-vvvv)
[code]

If you need help, you can ping me on `ansible` or `ansible-devel`  irc channel.

Annyway if you have time, give me the play raw output with (-vvvv)

[2017-04-28 15:32] s-hertel commented on #24082
There is a discrepancy between how mkstemp is used in lineinfile/replace and in module_utils.basic.atomic_move() but I can't find Ansible documentation about intentionally allowing the user to control the directory. When I manually modify the directory in module_utils.basic I then get "Unable to rename file: /var/folders/by/k8_fbl593dlctgqmwq5wzl2c0000gn/T/tmp6IRTZ_ to /private/etc/ansible/hosts:

[2017-04-28 15:35] bcoca commented on #24082
This is not a 'real' file `/sys/devices/system/clocksource/clocksource0/current_clocksource` so normal semantics won't work, use `unsafe_writes=yes` to enable to writing to such files. (things in /sys, /proc, /system are 'special').

[2017-04-28 15:36] joshmullis commented on #19860
cool!  Well I found that the issue goes away if I specify an IP and Netmask (even though they are blank)

[code]

[2017-04-28 15:42] morph027 commented on #23345
As i said before, i've got multiple clusters...it's just one which is failing :see_no_evil:

[code]

[2017-04-28 15:43] jctanner commented on #24065
Jinja's attr() filter is basically a python getattr(). That function is useful for fetching an "attribute" of an object. The keys and values in a dictionary can not be accessed via getattr because they are not attributes. A dictonary's attributes are:

['clear', 'copy', 'fromkeys', 'get', 'has_key', 'items', 'iteritems', 'iterkeys', 'itervalues', 'keys', 'pop', 'popitem', 'setdefault', 'update', '

[2017-04-28 15:43] #24065 closed, assigned to nobody

[2017-04-28 15:56] jsravn opened #24119 ""text file busy" when using get_url to update a running binary"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.2
##### SUMMARY

get_url on a binary to replace a running process.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should successfully update the binary.

##### ACTUAL RESULTS

[code]

[2017-04-28 16:07] helldorado commented on #24082
`become` is already to `yes` in my test.

If i modify the active_move like with `unsafe_writes=yes` or not

[code]
I get the error:
[code]

This issue is not linked to the replace and lineinfile module. But rather to `sysfs` pseudo file system.

I think adding the possibility of overriding the temporary folder path would be a plus for some operations.

Issue can be closed.

Thank's.

[2017-04-28 16:10] jpmens commented on #24119
A running binary cannot be replaced. A workaround would be to move the text file (binary) aside, replace and then remove the old one. This causes havoc if, say, you rely on debugging symbols after a crash and symbols don't match the binary.

I would not suggest doing this (and I will not implement it).

[2017-04-28 16:13] pspravin opened #24121 "CURL from one VM to another gives time out error"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[opc@vm04 ansible]$ curl -verbose 129.146.34.164
* About to connect() to 129.146.34.164 port 80 (#0)
*   Trying 129.146.34.164...
* Connection timed out
* Failed connect to

[2017-04-28 16:14] sivel commented on #24121
I can't see how this has anything to do with ansible.  Care to explain?

[2017-04-28 16:25] jhawkesworth commented on #24065
Thanks for the explanation @jctanner - I had hit exactly the same thing in a template early today and came up with the same workaround.

[2017-04-28 16:29] jsravn commented on #24119
We just need to move the file instead of overwrite it.

[2017-04-28 16:30] jsravn commented on #24119
I haven't tested it, but I think the copy module does do a replacement (aka unlink / copy / link) instead of a cp. Could be wrong though, but I never had this problem w/ copy module.

[2017-04-28 16:35] jpmens commented on #24119
@jsravn I said "cannot be replaced" and it  cannot. I also said "a workaround is to move the file".

[2017-04-28 16:41] pspravin commented on #24121
@Sivel, you are correct, not entirely Ansible, but I installed CURL using playbook and hence thought someone may be aware of this issue, as I am struggling to get a solution for this since 2 days. Do you know how to resolve ?

[2017-04-28 16:45] sivel commented on #24121
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-28 16:45] #24121 closed, assigned to nobody

[2017-04-28 16:45] jsravn commented on #24119
@jpmens Yes probably my wording is poor. By "file" I mean the file link to the inode which then points to the actual bits on the disk. The "file" link can be replaced without a problem, and like I said is the general behaviour I expect.

I can workaround the behaviour but I don't think get_url should fail like this, it's unexpected behaviour for anyone accustomed to drop-in updates for binaries.

[2017-04-28 16:46] jpmens commented on #24119
needs_contributor

[2017-04-28 16:56] Qalthos commented on #23928
Is this still an issue in devel?

[2017-04-28 17:18] hvisage commented on #13278
Have the same troubles with MacOSX (Sierra) to Debian8.7 VMs in Parallels Desktop, with SU password prompt.

The problem seems to be related to the Python side not receiving the "Password:" (or "missing" it) as I can execute the -vvvv ssh command with copy-paste in the shell, and it connects, provides the Password: prompt, I type the password, and it executes the su etc. just fine.

Fired up a ssh

[2017-04-28 17:18] crawfpi commented on #21825
I understand - but it is showing that the nodes that are available in the region of choice and in my subscription are not available through Ansible.  The H* nodes are available to me in my region and subscript

The code in ansible is using this to create the choices available for the vm_size - as you enter a size that is then not in the list of choices it will fail:

        for key in VirtualMach

[2017-04-28 17:20] sivel commented on #13278
In v2.3, there is an issue with `su` which has been resolved in https://github.com/ansible/ansible/pull/23710

[2017-04-28 17:21] hvisage commented on #13278
@sivel now how to get that version it's fixed in on my MacOSX with pip?? :{=}

[2017-04-28 17:31] bcoca commented on #24119
this is what the shared 'atomic_move' method is for https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L2110

@jpmens this should work fine as the 'old version' of the binary is still held as a reference by any running process, replacing the file makes it 'safe' and will avoid corruption as new process will either see the old or new, never a 'in writing' file.

[2017-04-28 17:35] boonchu opened #24124 "vmware_guest module fails to run on ansible 2.3 CentoS 7.3"
ISSUE TYPE

Bug Report
COMPONENT NAME
vmware_guest

ANSIBLE VERSION
ansible 2.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

CONFIGURATION
[defaults]
pipelining = True
#remote_tmp = /opt/appdata/ansible
host_key_checking = False
timeout = 20

OS / ENVIRONMENT

RHEL7.3

SUMMARY

Running the vmware_guest module with "state: shutdownguest" (as do

[2017-04-28 17:39] bcoca commented on #22784
AIX has the option (unlike other Unices) to allow nonroot user chown to other users, the code leans to the general case (in which this is not possible).

[2017-04-28 17:57] #18510 closed, assigned to Qalthos

[2017-04-28 18:01] Qalthos commented on #18510
Picked to stable-2.3

[2017-04-28 18:25] theonewolf commented on #14530
@b2sweety I believe I used `apt-get` to purge the old package, and then Python's `pip` to install a specific version of Ansible (such as `sudo pip install ansible==1.9.2`).

[2017-04-28 18:40] spyrexd opened #24125 "Archive is unable to create zip archives over 4GB"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

archive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When trying to create a zip archive with a files over 4GB in size the task fails stating
the following:

Filesize would require ZIP64 extensions

##### STEPS TO REPRODUCE

Create a file over 4GB

$ truncate 5GB test.file

[code]

###

[2017-04-28 18:45] mindrunner commented on #9984
I haven't checked for ages if this is reproducible. On my work lapptop, I have no problems, but I am not sure about my setup. Might have a look next week. :)

[2017-04-28 18:51] jctanner commented on #24115
@repcsi Can you show us the -vvvv output?

needs_info

[2017-04-28 19:02] derekstavis commented on #24110
I have the same problem using Ansible 2.3.0:

[code]

This is my full output:

[code]

This is the relevant section:

[code]

This error  never happened before updating to 2.3.0.

[2017-04-28 19:08] jctanner commented on #24124
@boonchu as a quick test, can you try this command ...

[code]

needs_info

[2017-04-28 19:10] jctanner commented on #24109
@stacker2017 I see sshpass in the arguments string. Have you tried your test with a key that doesn't require a password so that sshpass is out of the picture?

needs_info

[2017-04-28 19:14] jctanner commented on #24078
resolved_by_pr https://github.com/ansible/ansible/pull/24079

[2017-04-28 19:25] #24078 closed, assigned to nobody

[2017-04-28 19:51] tstringer commented on #21825
`VirtualMachineSizeTypes` is [just an enum](http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.compute.compute.v2015_06_15.models.html#azure.mgmt.compute.compute.v2015_06_15.models.VirtualMachineSizeTypes), whereas the effective VM size that you can create is based on the availability of that VM size in your region.

[2017-04-28 19:58] misterT1958 opened #24128 "win_get_url does not work with version 2.3.0.0"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
win_get_url broken, always get "An exception occurred during a WebClient request.\""; this worked in Ansible 2.2.1.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected the Mercurial exe file to be downloaded to the user Downloa

[2017-04-28 20:00] davidvartan opened #24129 "ec2_vpc_nat_gateway returns NAT gateway ID differently between create and no-op"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ec2_vpc_nat_gateway` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When a NAT gateway is created, its ID is returned via the `NatGatewayId` key. If it had already existed, the ID is returned via the `nat_gateway_id` key.

This makes it difficult to use the ID in a subsequent task, e.

[2017-04-28 20:02] davidvartan commented on #24129
I used a workaround similar to this in the meantime:

[code]

[2017-04-28 20:22] crawfpi commented on #21825
Thanks for the answer and the link - with respect, I guess I am not making my point clear.

I am able to create a Standard_H8 by my subscription to azure, through the GUI or through a template.

I am not able to create it in Ansible  UNLESS I hack the code to allow that as a choice.

At the moment I do not have clean way of selecting all the available image sizes.

As you see from the list of link

[2017-04-28 20:23] targuan opened #24130 "Non show command executed in check mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_command
nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A
##### SUMMARY
When running in check mode a command not starting by "show" in nxos_command or ios_command, a warning appears stating that this command will not be executed. However, the command is executed

##### STEPS TO REPRODUCE
Execut

[2017-04-28 20:25] crawfpi commented on #21825
The full list of vm_sizes that are available to me with my azure subscription is below.

Standard_A0
Standard_A1
Standard_A2
Standard_A3
Standard_A5
Standard_A4
Standard_A6
Standard_A7
Basic_A0
Basic_A1
Basic_A2
Basic_A3
Basic_A4
Standard_D1_v2
Standard_D2_v2
Standard_D3_v2
Standard_D4_v2
Standard_D5_v2
Standard_D11_v2
Standard_D12_v2
Standard_D13_v2
Standard_D14_v2
Standard_D15_v2
Standard_D2_v2_

[2017-04-28 20:28] s-hertel commented on #24113
This is an interesting bug. Tasks appear to be skipped so registering vars don't work. This doesn't happen if fact gathering is off or if there is only one host and only seems to happen if set_fact is used. I was able to reproduce this with your inventory setup and the playbook below. Adding strategy: free fixed it for me but I'm not sure if it won't fail.
[code]

[2017-04-28 20:32] tstringer commented on #21825
Ah, ok. I think I'm following now. Let me dig into this a little more. I'll circle back when I have something.

[2017-04-28 21:39] jamesongithub commented on #22924
anyone know of a workaround? seems to happen with roles also