[2017-05-09 15:18] ganeshrn commented on #18974
Easier way to work with Github code is
[code]

After executing above commands output of
[code]
should point to latest commit on devel branch.

And output of
[code]
should point to a path in cloned repository.

To work with `2.3` you can checkout `stable-2.3` branch

[2017-05-09 15:20] abadger commented on #23143
@cheGGo, once again, this is not possible to do with PPAs.  If you want PPAs to do that, please start petitioning Canonical to make that a possibility.  (That would certainly make it easier for us to do this ;-)

[2017-05-09 15:24] bcoca commented on #24409
No, `remote_user` is not being set by any of those optoins, Ansible works by overriding.

- `-u `overrides the 'configured' default user (which depends on connection plugin, normally 'current user' for ssh/paramiko).
- `remote_user` keyword overrides the default for a play/task/etc.
-  `ansible_user` overrides all of the others for the specific host it is set for.

But all that should be transpare

[2017-05-09 15:30] lucabelluccini commented on #24409
Well, ok if we want to be so formal:

- If we specify ```-u``` it will OVERRIDE the default user used for connecting and execute commands to the remote machine
- If we specify ```ansible_user``` via extra param, it will OVERRIDE use them to connect and execute commands to the remote machine

But still, I have no way to get the value of the remote_user if I use the -u parameter.

I need to set the

[2017-05-09 15:34] jean-christophe-manciot commented on #18974
You have not answered my question, which makes me suspect that the pip builds may not be maintained anymore, or incorrectly at least, because I explicitly run the binary from /usr/local/bin and:
[code]
and
[code]

[2017-05-09 15:40] jean-christophe-manciot commented on #18974
I was able to trap the latest commit during ansible installation with ```pip install git+git://github.com/ansible/ansible.git@devel```:
[code]
It seems that my version is up-to-date.

[2017-05-09 15:46] jean-christophe-manciot commented on #18974
Wait, something is wrong: when I check on my locally cloned sources, I cannot find the previous commit on the devel branch:
[code]
Something is **definitely broken with the pip builds**.

[2017-05-09 15:49] joemsanchez opened #24411 "Receive "msg": "unable to retrieve current config", "stderr": "show running-config\r\n when running playbook with ios_config module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.2 LTS

##### SUMMARY

Still new to Ansible, and trying to build Playbook based off some the information out there.   I saw a similar issue here, but I not sure what the resolution is.  I never have issues with nexus modules, but when I run a pl

[2017-05-09 16:20] Lujeni commented on #23457
@bearrito Do you have the same problem with another role ?
I am unable to reproduce the bug

[code]

[2017-05-09 16:30] jhawkesworth commented on #23559
now working against latest devel, I suspect because @abadger recent change to improve recursive copy in the copy action plugin.

Will create a PR for the integration test as soon as I can

[2017-05-09 16:44] bcoca commented on #24409
oh, so the issue is that you wanted to read the value, not set it. `ansible_user` should contain that information but it won't be set outside of the task, nor passed into the module.

But if you are using a custom module it is easy enough to get the data via `pwd` library or at worse `os.environ['USER']`.

[2017-05-09 16:44] bcoca commented on #24409
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-09 16:44] #24409 closed, assigned to nobody

[2017-05-09 16:51] bearrito commented on #23457
That was the only one I attempted it with.  I recently cleaned up my local python path and virtual envs maybe I had something going on with the paths.

I will try again shortly and post back the results.

[2017-05-09 16:55] PhilEv commented on #22473
isn't it the purpose of http://docs.ansible.com/ansible/playbooks_error_handling.html#aborting-the-play ?

[2017-05-09 16:58] sdlevi27 opened #24412 "When setting up a Git-based project, getting an error "failed to get the hostkey for" Git server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
ansible-tower-3.1.1-1.el7.centos.x86_64

##### SUMMARY

##### STEPS TO REPRODUCE

1.  Ensure Gitlab's SSH key is not present in ~awx/.ssh/known_hosts
2. Create a new Git-based SCM project in Tower
3. Use t

[2017-05-09 17:22] bearrito commented on #23457
This appears to be working now. I cannot say for certain what the change was that caused it to begin working.

For anyone seeing this in the future I'd advice to check whether you virutalenv is using site or dist packages and whether your PYTHONPATH might be picking up unwanted libraries

[2017-05-09 17:25] jamesongithub commented on #22473
@PhilEv it fails the current play, not the playbook

[2017-05-09 17:25] jchristi commented on #24388
@dagwieers that solution assumes that _all_ group and host vars are common, which they definitely are not. Also, it does not allow for the mixed use of static + dynamic inventory.

[2017-05-09 17:29] chriswilks commented on #24355
This seems to be a problem with a few modules, I have experienced the same with the docker_login module. Should I raise a separate ticket?

[2017-05-09 17:31] irilyth opened #24413 "template module doesn't show diffs if dest is a directory but doesn't end in "/""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None that seem relevant.

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you use the template module and the dest parameter specifies a directory, and the directory name doesn't end with a slash, and you run the playbook with --diff, no diffs are display

[2017-05-09 17:39] bfloyd89 commented on #22114
@mverderese It looks like this is a limitation with the aws cli http://docs.aws.amazon.com/cli/latest/reference/events/put-targets.html

When I create a ec2 snapshot backup through the console it comes back as Type: Built-in target and per the aws cli docs:

[2017-05-09 17:43] jippi commented on #22691
is this planned any time soon?

[2017-05-09 17:46] lucabelluccini commented on #24409
Ok, thank you for your time.

Anyway, the whole point is on ```ansible_user should contain that information ```.

It is not. That's why I opened an issue.

I am not in a custom module, just a dummy playbook.

[2017-05-09 17:54] triddle-maxmind commented on #24351
How about using a state name of `manual` instead of `selected`? The rational being that the original term from alternatives is good enough and matching the terminology from alternatives reduces the surface for confusion.

I could live with either state name but `manual` seems better to me. I'd like to make some of the suggestions more explicit to reduce individual interpretation of the suggestion.

[2017-05-09 17:58] jparrill opened #24414 "Extend the ETCD Lookup to get all variables from a folder"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Plugin ETCD Lookup

##### ANSIBLE VERSION
All

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OS: Linux

##### SUMMARY
The feature basically is calling to get a ETCD key/value, when you make an API call to request a folder, the response must be all the keys-values inside of it.

##### STEPS TO REPRODUCE

[code]

Output:
[code]

##### EXPECTED

[2017-05-09 18:01] #19116 closed, assigned to nobody

[2017-05-09 18:01] chinni505 commented on #24382
Facing same issue while using ansible, boto :+1:

boto version: boto (2.46.1)
python version: 2.7.5
ansible 2.3.0.0

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_vdUaEk/ansible_module_ec2.py", line 1652, in <module>
    main()
  File "/tmp/ansible_vdUaEk/ansible_module_ec2.py", line 1643, in main
    (tagged_instances, instance_dict_array, new_instance_ids, change

[2017-05-09 18:12] dagwieers commented on #24388
@jchristi So all of your requirements pretty much prove you're best of with an inventory script. That's what the JSON interface is there for.

[2017-05-09 18:12] sivel commented on #21335
I can't see myself implementing something like this in the expect module.  The expect module was designed for a very simple scenario, where you may want to run a single command that requires input.

Should you want more expect functionality, I think you are on the correct track. Use actual expect for more advanced needs.  Implementing a DSL, within a DSL, to build out expect doesn't seem worthwhil

[2017-05-09 18:19] dagwieers commented on #21335
That is fine. Are you ok with improving the module doc with this information and the win_shell example ?

[2017-05-09 18:23] sivel commented on #21335
iirc this is already in the shell docs.  Maybe a note of something to the effect of:

[2017-05-09 18:25] abadger commented on #24355
@chriswilks yes pleas.  And if you're on IRC, feel free to ping abadger1999 (that's me!) with the tickets.

[2017-05-09 18:37] abadger commented on #24355
@chriswilks: note, I say that because docker_login because I hadn't heard of docker_login using the persistent connection plugin.  If you want to hold off until I propose a fix for this, I should have a PR shortly.  (Up to you).

[2017-05-09 18:41] padajuan commented on #24414
Actually I have the code to make it works on another repository, let me some time and I will perform a PR with it ;)

[2017-05-09 18:44] robinro commented on #24412
This sounds like https://github.com/ansible/ansible/issues/20653 to me.

[2017-05-09 18:46] robinro commented on #24401
Can you provide a playbook that I can run that reproduces the issue?

[2017-05-09 18:59] jenciso commented on #22272
@vignesh-paramasivam What is your PowerShell version ?... I have the same problem with this version:

[code]
But with this version, i don't have

[code]
Both are windows 2012 server and my ansible is the last version (via epel repo) running in CentOS

[2017-05-09 19:02] jbilbro commented on #21285
Posted this on that pull request, too.

I have tried installing these two files on my Ansible 2.3 install on my Ansible Tower 3.1.3 server. When trying to execute a job template, it fails immediately when trying to update from SCM. If I revert these two files everything works fine (other than you know, include_roles failing to take a variable).

`TASK [Set the git repository version] *************

[2017-05-09 19:14] s-hertel commented on #24340
@conlon Yeah, let's handle reseting all params to default in another PR. Good idea. We could add a new option like `purge_params` or something along those lines. I've fixed it so it only modifies parameters if the new value is different than the current value and that it only shows changed: true and "new" and "old" if something has been modified. The one issue I've noticed now is that parameters l

[2017-05-09 19:17] gregorydulin commented on #22374
For those of you who are interested, here's the work-around I used.  It assumes you have the aws cli installed on localhost

[code]

[2017-05-09 19:18] bcoca commented on #24409
it does, but it won't be what you expect since you are setting `remote_user` to  it:

[code]

output
[code]

Since you are setting `remote_user: {{ansible_user}}" ` you are templating it to itself which creates a recursive templating problem.
[code]

[2017-05-09 19:25] bcoca commented on #24388
The `inventory/` directory can also contain a dynamic script, those are not either/or propositions.

The not wanting to share 'all' is a different issue, i would use symlinks then.

[2017-05-09 19:34] lucabelluccini commented on #24409
Again, I removed that line.

Il mar 9 mag 2017, 21:19 Brian Coca <notifications@github.com> ha scritto:

[2017-05-09 19:38] conlon opened #24415 "rds module should support enabling encryption"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

rds module

##### ANSIBLE VERSION

[code]
(this feature isn't available in any version of Ansible)

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

RDS has supported encryption since [the very beginning of 2015](https://aws.amazon.com/blogs/aws/new-encryption-options-for-amazon-rds/). Is it seriously not

[2017-05-09 19:46] mikewiebe commented on #23928
@Qalthos This is no longer an issue in devel.  Thanks!

[2017-05-09 19:46] #23928 closed, assigned to Qalthos

[2017-05-09 19:48] kannarajesh26 opened #24416 "How to not display verbose out put when i use the with_items"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

i am using register when i am also using the with_items, but when i display the out put using the debug, it is displaying the weird output, i dont want all that output though, i just need the regular output.
please dont close this issue.,.. i need the co

[2017-05-09 20:21] amaczuga opened #24417 "Looping over variables containing raw jinja2 values fails with undefined variable error."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Looping over variables containing raw jinja2 values

##### ANSIBLE VERSION

[code]
also
[code]

##### CONFIGURATION

No additional configuration or modules.

##### OS / ENVIRONMENT

[code]
Ansible installed using pip - tried latest stable from pypi, also github repo master branch

##### SUMMARY

Looping over list data structure using `with_ite

[2017-05-09 20:53] MarcinOrlowski opened #24418 "mysql_db - add `check_implicit_admin` option support"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mysql_db

##### ANSIBLE VERSION

[code]

##### SUMMARY

`mysql_db` module does not support `check_implicit_admin` option (which is part of `mysql_user` module). This is inconsistent and unnecesairly enforces order of operations in DB setup playbooks/roles and disallows proper handling of provisioning using DB's `root` account without password

[2017-05-09 21:11] nerzhul commented on #24398
+label affects_2.3

[2017-05-09 21:39] cogfor opened #24419 "Setting spot_price in ec2 module results in an error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
MacOSX 10.12.4 (16E195)

##### SUMMARY
Adding the `spot_price` parameter

##### STEPS TO REPRODUCE
add the parameter `spot_price` with some pricing.

[code]

##### EXPECTED RESULTS
A created ec2 instance with the `Name` tag being set.

##### ACTUAL RESULTS
* A ty

[2017-05-09 22:10] nerzhul commented on #24398
can you test #24400 patch ?

[2017-05-09 22:14] sosiouxme opened #24421 "Feature request: enable pre-validation for failing fast"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

With a fairly complicated and intertwined set of playbooks and roles such as [openshift-ansible](https://github.com/openshift/openshift-ansible/) has developed for users to manage OpenShift, a common frustration is when running a playbook takes half an hour to run through dozens of roles and only then fails on something that could have been detecte

[2017-05-09 23:13] sivel opened #24425 "Single Vault Encrypted value not decrypted in jinja2 pipeline"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
A single vault encrypted value does not get decrypted in a jinja2 pipeline.

##### STEPS TO REPRODUCE

Don't worry the below vault data is just useless strings.

[code]

This outputs:

[code]

This is a little bit of a contrived example, but what it

[2017-05-09 23:37] bcoca commented on #24425
probably cause vault is only available from vars files, not from vars in play.

[2017-05-09 23:48] sivel commented on #24425
I was able to do something in the current form using the format filter to get it to work.

This comes from a user report on IRC.

I didn't want to lose this, so I did a little testing and filed it.

If you notice from the type_debug, it does indicate that it was understood properly.

[2017-05-09 23:50] bcoca commented on #24425
its the hackery in the base yaml constructor, but not something we had planned to use inline in plays (though I can see it's usefulness).

[2017-05-09 23:56] sivel commented on #24425
I'll double check, I don't think that is the problem though.  I just did it in this example for ease of use.  The OP didn't specifically state.

[2017-05-10 00:02] sivel commented on #24425
I've tested this with both vars_files and group_vars.  It's the same behavior.  It doesn't have anything to do with use of `vars`.

[2017-05-10 00:03] sivel commented on #24425
The only way I have gotten it to work is with:

[code]

That triggers the functionality in `AnsibleVaultEncryptedUnicode` to decrypt.  But passing through something like `|quote` or `|string` does not.

[2017-05-10 00:29] davedastrange commented on #24398
Thanks!
dumb question. how do i install the patch ?

[2017-05-10 00:29] sivel commented on #24425
The following, on the surface seems to resolve this issue:

[code]

I added `__deepcopy__` to prevent an exception, where I was returning `self.data` in `__getattr__`, but `deepcopy()` was looking for `__deepcopy__`.

[2017-05-10 00:35] sivel commented on #24425
Actually, it looks like the `__deepcopy__` is what does it.  The `__getattr__` isn't doing anything for me.

[code]

[2017-05-10 00:45] dagwieers commented on #13095
@jhawkesworth Agreed.
@nitzmahone Is this something we want to fix ? Do we have to make a plan ? Or can we close this altogether ?

[2017-05-10 00:55] nitzmahone commented on #13095
This will likely come for free with the Nano server support- I've got a couple different prototypes that have ditched the Convert-*Json cmdlets, but nothing that works across the board.

[2017-05-10 00:57] dagwieers commented on #13095
@nitzmahone OK, good to know it's still being worked on !

[2017-05-10 01:42] sushisuren commented on #22671
use "-i {inventory file}"

[2017-05-10 03:02] roadmapper commented on #24389
I have a PR (#21532) out that would fix this problem for all AWS regions going forward (by getting the region from the EC2 dynamic data). Hoping someone from Ansible will be able to take a look at this soon.

[2017-05-10 05:03] aklemp commented on #24351
The state name `manual` instead of `selected` and the additional details are perfectly fine for me. I'll update the original state name to avoid confusion.

[2017-05-10 05:12] nerzhul commented on #24398
git clone ansible devel repository and apply the patch, or clone my repository and switch to this branch

[2017-05-10 05:22] tareqalayan opened #24427 "archive module: doesn't archive symlinks; please add option for follow symlinks; archive and dump the files they point to"
- Feature Idea

##### COMPONENT NAME
ansible/files/modules/archive.py

##### ANSIBLE VERSION

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Jan 12 2017, 17:59:37) [GCC 6.3.1 20161221 (Red Hat 6.3.1-1)]

##### OS / ENVIRONMENT
rhel 7.3

##### SUMMARY
I want to archive some folder that contains sym

[2017-05-10 06:16] taksekine opened #24429 "user module on HP-UX cannot append secondary-groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Runnning Ansible on CentOS 7.3
- Managing to HP-UX 11i v3

##### SUMMARY

On HP-UX, user.py cannot **append** secondary groups.
Because **usermod.sam** command  on HP-UX (not only 11i v3, but also 11i v2)
have neither -A nor -a option.

So, function **mo

[2017-05-10 06:18] ghost opened #24430 "docker_container: arguments pass to command are split on comma incorrectly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
RHEL7.3

##### SUMMARY
When I pass an argument to the "command" option that contains commas (that should be preserved as a single string), the argument is split on the command and passed as separate arguments.

##### STEPS TO REPRODUCE

[code]

#####

[2017-05-10 06:22] fcntl commented on #24430
This is still the same if I define the string as a separate variable, and interpolate that instead, e.g.

[code]

The debug command shoes that the variable creation is not splitting the string, it is preserved with commas:

[code]

[2017-05-10 06:46] abadger commented on #24355
Pushed a PR but haven't had a chance to test it.  Could someone try it and see if it solves the problem?

[2017-05-10 07:32] ghost opened #24433 "Latest Ansible Tag"
Heyho,
I tried downloading the Ansible Container through the Kitematic Application for Windows 7. I always get the same error message wether I try it with the Application or the shell.
`docker pull ansible/ansible` gives me the following error message:

Now I found a way to download Containers through the shell without getting the error by adding the latest tag at the end of the comment instead of

[2017-05-10 07:45] Protoje commented on #24433
##### ISSUE TYPE

 - Information request

##### COMPONENT NAME

Don't actually know what is needed here :laughing:

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 7
##### SUMMARY

Shown in the first Post

[2017-05-10 07:51] caio2k commented on #23534
I have the same problem targeting RHEL 6.8, from a debian 9 and an Ubuntu Precise hosts (both with ansible 2.2.1.0).

[2017-05-10 08:10] davedastrange commented on #24398
I checked out your repo and switched to the branch. Now I get following error
´´´
yaml
fatal: [127.0.0.1 -> localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_LEMZCH/ansible_module_vmware_guest_facts.py\", line 221, in <module>\n    main()\n  File \"/tmp/ansible_LEMZCH/ansible_module_vmware_guest_facts.

[2017-05-10 08:26] sayantandas opened #24435 "[vmware_guest] creating VM from template causes error "A specified parameter was not correct: spec.location.host" when disk option is added"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standard ansible config, no changes
##### OS / ENVIRONMENT

 cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04 LTS"

##### SUMMARY

Following the example given in  https://docs.ansible.com/ansible/vmware_guest_m

[2017-05-10 08:30] Sispheor commented on #23340
Same on Ansible 2.3.

Also, the doc is not synced with the expected behavior of the code.
The code wait for a beginning "/".
After adding a "/". The code rewrite the path with `/vm/<my_path>`.

In [examples](https://docs.ansible.com/ansible/vmware_guest_module.html) there is not "/" at all.

And from my side, with or without a "/" I cannot get a VM created into my target folder. Maybe I'm confusin

[2017-05-10 08:33] kodoku commented on #19617
I have same issue with dynamic inventory.

Works with env OS_* or if clouds.yml is in my current directory but no works if the file is in another directory like .config/openstack/clouds.yml or /etc/ansible/.....

`Couldn't construct compute object
Traceback (most recent call last):
  File "/root/.virtualenvs/galaxy/lib/python2.7/site-packages/shade/openstackcloud.py", line 354, in _get_client

[2017-05-10 08:49] ganeshrn commented on #24411
Can you please share output of `#show version`  and check if `#show running-config` gives valid output on target host.

needs_info

[2017-05-10 09:09] Colstuwjx commented on #5952
Hi folks,
It seems that the PR [#10183](https://github.com/ansible/ansible/pull/10183) has already fixed this issue.
And we could check the `untagged`, `tagged` usage to achieve the goal.

[2017-05-10 09:10] libp opened #24436 "ansible use shell module cant restart openstack service （i will teach you chinese if you help me thanks）"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell模块
##### ANSIBLE VERSION

[code]
那些因为看不懂，我先删了。如果你能帮我解决这个问题，我会万分感激并原因无偿教你学习中文。

hi，你们好，我在使用ansible时遇到个小问题，当我用ansible的shell模块执行脚本任务时，脚本的内容是重启openstack服务，但是重启失败。进一步排查原因我发现，ansible连接被执行任务节点时，加了个-tt参数。当我们把-tt参数删除后，重启成功。一般我们用xshell连接linux服务器时，我们也没加-tt参数，我想知道为什么ansible官方要在ssh连接时加个-tt参数。

如果你能帮我解决这个问题，我会万分感激并原因无偿教你学习中文。

[2017-05-10 09:14] starkers commented on #22340
I just wanted to say that this is a brilliant idea and I would have much more faith in my CD pipelines with this implemented.

[2017-05-10 09:51] mavlyutov commented on #16804
ansible==2.3.0 breaks that feature =(

[2017-05-10 10:20] devopsberlin commented on #24401
@robinro yes of course, but first let me try to change the task permissions, maybe this is the issue, I will keep you update. thanks!

[2017-05-10 11:01] nb00471049 opened #24439 "template error while templating string: no filter named 'map'"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-10 11:08] gerhard-tinned opened #24440 "Upload binary file possibility in URI module (#3157)"
DETAILS SEE: https://github.com/ansible/ansible-modules-core/issues/3157

Issue Type:

    Feature Idea

Plugin Name:

uri
Ansible Version:

1.9.2
Environment:

N/A
Summary:

It would be nice to have option to upload binary file to HTTP endpoint using HTTP PUT. Expecting behaviour similar to following curl command:

curl -k -X PUT -u user:password --upload-file  test.jar "https://IP:PORT/endpoint/

[2017-05-10 11:20] sivel commented on #24433
Ansible is not provided inside of a docker container.

The tags available on docker hub are used for CI testing of ansible and do not contain ansible itself.

[2017-05-10 11:20] #24433 closed, assigned to nobody

[2017-05-10 11:29] alex-left opened #24441 "ansible-galaxy install don't fetch properly from git and "--force" param don't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

n/a
##### SUMMARY

i have detect two problems with behavior of "ansible-galaxy install"
first problem: don't fetch properly role from a git repo
second problem: the parameter "--force" don't force the fetching of the role

##### STEPS TO REPRODUCE

[code

[2017-05-10 12:03] gundalow commented on #24265
resolved_by_pr 24361

[2017-05-10 12:12] gundalow commented on #24343
Shaps is going to fix this

[2017-05-10 12:22] dsummersl commented on #23285
@towolf please let me know if the above comment does not resolve your issue, otherwise I'll recommend closing this issue.

[2017-05-10 12:25] towolf commented on #23285
Hi @dsummersl I had already noticed `force: yes` makes it work and made an edit above:

So, all is good.

I think you just did not get the EDIT addendum via email, sorry about that ...

[2017-05-10 12:32] gundalow commented on #24387
@stmarier Thanks for the bug report, and the follow up to find the fix.

`2.3.1 RC1` has been released, which contains the above fix, so you can test this by installing that. You are current using `2.3.0`

Where do you think we should document this?

[2017-05-10 12:48] jean-christophe-manciot commented on #18974
@gundalow
OK, I try the **git sources binary version after having uninstalled my deb and pip ansible**.
1) *2.3.1.0 RC1*
[code]
Running the same role/playbook on the same target leads to the same issue:
[code]
2) *2.4.0 (devel d3249e7875)*
[code]
[code]
Nothing has changed as far as this issue is concerned, except the error message as @ganeshrn pointed out.
This slight difference proves that **som

[2017-05-10 12:52] s-hertel commented on #24382
@matheusvetor @chinni505
Do either of you get the same error if you use `region` instead of `ec2_url`? I'm having a hard time reproducing this error, but notice that ec2_url doesn't appear to be working right.

[2017-05-10 12:52] s-hertel commented on #24382
needs_info

[2017-05-10 12:54] flickerfly commented on #12862
Has anyone worked out the problems that @philfry pointed out above? Seems like we have part of a solution. It'd be great if I could bring improved organization to playbooks without losing functionality.

[2017-05-10 12:56] jean-christophe-manciot commented on #22733
This [post](https://github.com/ansible/ansible/issues/18974#issuecomment-300471338) shows that the binary from the deb package made with ```make deb-src``` followed by ```dpkg-buildpackage --build=binary``` does not match the git sources binary.

[2017-05-10 13:05] fridim commented on #24294
Cc @jpmens created PR #24442

[2017-05-10 13:21] joemsanchez commented on #24411
Sure no prob.
[code]

[code]

[2017-05-10 13:27] gundalow commented on #24343
resolved_by_pr 24443

[2017-05-10 13:27] jean-christophe-manciot commented on #24212
@ganeshrn
As this [post](https://github.com/ansible/ansible/issues/18974#issuecomment-300471338) demonstrates, something is wrong with the ansible binaries built with ```make deb-src``` followed by ```dpkg-buildpackage --build=binary``` or installed with ```pip install git+git://github.com/ansible/ansible.git@devel```.
Since I was using one of those, I was in trouble.
Running ansible from git sour

[2017-05-10 13:28] #24212 closed, assigned to nobody

[2017-05-10 13:29] jean-christophe-manciot commented on #22733
@jctanner
This other [post](https://github.com/ansible/ansible/issues/24212#issuecomment-300481499) proves the same point.

[2017-05-10 13:30] s-hertel commented on #24382
Aha. Confirming this bug. To reproduce, unset your AWS_DEFAULT_REGION environment variable and use ec2_url in the playbook. Another error is generated if AWS_DEFAULT_REGION is set to another region than the one that corresponds with ec2_url. `ec2_url` is not taking precedence.

[2017-05-10 13:30] s-hertel commented on #24382
!needs_info

[2017-05-10 13:30] bcoca commented on #24425
totally misunderstood, reclasified

[2017-05-10 13:44] GMLudo commented on #16536
Description updated.

[2017-05-10 13:47] gundalow commented on #24436
@libp Can you please provide

1) a sample playbook
2) `ansible --version`
3) Where are you seeing `-tt` being set?

[2017-05-10 13:50] pioto commented on #24425
Thanks for doing the legwork here, @sivel -- I think I'm the IRC user you referred to.

Let me know if any other information is required to help resolve this.

[2017-05-10 13:59] theshades commented on #24390
hmm, intriguing. Sorry to vent your way, and thanks for the more in depth response! It's weird that the response to email line could cause the prior response to show up in the response.

[2017-05-10 14:01] jhawkesworth commented on #23559
@sm4rk0 sorry, my previous comment was not clear.  This will continue to fail until https://github.com/ansible/ansible/pull/23581 has been merged.  From what I can tell there has also been a change to the copy action plugin which enables https://github.com/ansible/ansible/pull/23581 to work correctly - both things I think are needed for this to be fixed.

[2017-05-10 14:05] davedastrange commented on #24398
Error persists

[2017-05-10 14:19] mensler commented on #24441
Fix is tagged as backport in #23391, so hopefully it will make it in one of the 2.3 bugfix releases.

[2017-05-10 14:20] nerzhul commented on #24398
did you use the last pushed version ? (git fetch && git pull --force) and are you sure you are on the good branch ?

[2017-05-10 14:21] nerzhul commented on #24398
if you look at the diff, name is not required: https://github.com/nerzhul/ansible/commit/d3d119d13e6a3f0e53e0fb4bff8ba918d9ca9be6 and it required either uuid or name

[2017-05-10 14:22] chrmcd opened #24444 "iosxr_facts module crashes if IP unicast RPF check is enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/network/iosxr_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If a router has IP unicast RPF check set to enabled the populate_ipv6_interfaces method will fail.
##### STEPS TO REPRODUCE

Enable IP unicast RPF check and run the playbook below

[code]

##### EXPECTED RESUL

[2017-05-10 14:24] abhigrover opened #24445 "Unable to json_query when attribute is a NUMBER"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

json_query filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Windows

##### SUMMARY

I have a dict that contains an attribute that is a "NUMBER" rather than a "STRING". Unable to make json_query filter work to query against this attribute

##### STEPS TO REPRODUCE

[code]

Sample Data:
            "Pool":

[2017-05-10 14:26] sivel commented on #24425
Something else I noticed when I added `__getattr__` in the following manner:

[code]

I noticed the following calls to missing attributes:

* `__deepcopy__`
* `__getstate__`
* `__setstate__`

[2017-05-10 14:27] alikins commented on #24425
This looks like a dupe of #24175

Fixed in https://github.com/ansible/ansible/pull/24312

duplicate_of 24175

[2017-05-10 14:33] alikins commented on #24425
Though I think I like the idea of fixing with some combo of __getstate__/__deepcopy__ more than the slightly odd fix in https://github.com/ansible/ansible/pull/24312.  #24312 basic makes the default repr return self.data since templating does end up using the repr() but if that is only after try __getstate__ and/or __deepcopy__ I'd prefer adding those and letting the __repr__ be more useful.

[2017-05-10 14:33] sivel commented on #24445
You don't actually seem to be using the `match_port` variable, but are instead specifying the string `"match_port"`.

I think what you want is actually:

[code]

What you had before was searching for places where `port` was `"match_port"` instead of where `port` is `40680`.

[2017-05-10 14:35] sivel commented on #24425
@alikins I tried with your fix that you put in in #24312 and it does not resolve this issue.  That was one of the first things I suspected, is that this would be fixed by your change.  Unfortunately it isn't.

I imagine that is due to the pipelining of jinja2 filters, and what each individual filter does to the variable.

[2017-05-10 14:36] sivel commented on #24425
when piping to our `quote` filter, it gets passed directly into `pipes.quote` which doesn't seem to call `__str__`, `__unicode__`, or `__repr__`.  As such, it never decrypts the data.

[2017-05-10 14:36] alikins commented on #24425
@sivel yup, I assumed this was fixed in devel but I can reproduce the error with devel as well.

(removed the duplicate_of)

[2017-05-10 14:38] alikins commented on #24425
@sivel

Interesting. That would explain where deepcopy/getstate come into play...

[2017-05-10 14:48] chrmcd opened #24447 "iosxr_facts module cant decode special unicode symbols"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When retrieving config subset the module failes due to not being able to decode special characters like "æ", "ø" and "å".
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected it to retrieve the config
##### ACTUAL RESULT

[2017-05-10 14:50] davedastrange commented on #24398
I'm on the branch vmware_guest_facts_name_uuid. Did git fetch && git pull --force. The error
[code]

The Play
[code]
The errror mentions that somthing with field uuid might be wrong. IDK

[2017-05-10 14:51] wangxuan9237 commented on #24436
ansible all -m shell -a "service openstack-nova-compute restart"But the openstack-nova-compute stoped not start.we tried add -vvvv find the ssh args -tt cause this problem,if we remove ssh -tt the openstack-nova-compute can restart.

[2017-05-10 14:59] rcarrillocruz commented on #24436
Is there any reason for not using the Ansible **service** module ?

http://docs.ansible.com/ansible/service_module.html

[2017-05-10 15:05] chinni505 commented on #24382
i used ec2_url:

ec2_url: "ec2.us-east-1.amazonaws.com"

[2017-05-10 15:07] abhigrover commented on #24445
I am sorry for the typo in there, was trying a few different ways. I tried what you suggested and got the below error:
fatal: [era-stg-129ii-ltm2.cit.nih.gov]: FAILED! => {"failed": true, "msg": "The conditional check '(item.value |json_query(\"member[?port==\" ~ match_port ~ \"]\"))' failed. The error was: invalid token: Parse error at column 14, token \"40680\" (NUMBER), for expression:\n\"membe

[2017-05-10 15:09] wangxuan9237 commented on #24436
yes we have....we use ansible in our team.But some gays dont know how to chose right nodule.They just want to use shell or script module for everything...

[2017-05-10 15:10] ilana1291 opened #24448 "Ansible Play Recap Not Showing Failures With Blocks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

Our Ansible playbook which uses a block structure does not show any failures in the PLAY RECAP. Even though the task itself shows "failed" or "fatal", it still shows failed=0 for all servers at the bottom of the log.

##### STEPS

[2017-05-10 15:10] pioto commented on #24425
The fix on that other issue doesn't seem to be sufficient.

I've tried now with the current `stable-2.3` version of the code:

[code]

And, I still see this issue.

Sample playbook:

[code]

My command being run ends up as:

[code]

[2017-05-10 15:15] wangxuan9237 commented on #24436
Yes,we have...our team use ansible as our operation tools.But some guys don't know how to chose right module.They just want to use script or shell module do everything.

[2017-05-10 15:15] bottlelee commented on #23754
I had a similar problem.

My hosts file is like below:

[code]

As you can see, the 'hd3-node3' and 'hd4-node2' have same internal IP. And, they're behind different jumper, through the same public IP but different port.

In group_vars/hd3, it is

`ansible_ssh_common_args: '-o ProxyCommand="ssh -p 45040 -W %h:%p -q ROUTER_PUBLIC_IP"'`

In group_vars/hd4, it is

`ansible_ssh_common_args: '-o ProxyCo

[2017-05-10 15:21] chinni505 commented on #24382
while i tried with
region: "us-east-1"
i am able to provision ec2 instance.

[2017-05-10 15:28] abhigrover commented on #24445
I figured it out...
(item.value |json_query("member[?port==`" ~ match_port ~ "`]"))

Thanks!

[2017-05-10 15:28] #24445 closed, assigned to nobody

[2017-05-10 15:42] smaftoul opened #24449 "unsafe_writes doesn't seem to work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

Ansible is running on osx, the target is ubuntu linux 16.04.1.
The target filesystem is ext4 pretty standard

##### SUMMARY

I'm using unsafe_writes to render a template that is bind-mounted in a docker container.
The container doesn't re

[2017-05-10 15:44] pablo-ruth opened #24450 "Systemd module doesn't check real service status after start"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module systemd

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ubuntu 16.04 -> Ubuntu 16.04

##### SUMMARY

##### STEPS TO REPRODUCE

Create a new syst

[2017-05-10 16:07] smeapng commented on #24450
+1

[2017-05-10 16:11] gundalow commented on #24436
I'd strongly suggest using the builtin modules, like `service` they have been designed to be used for this.

[2017-05-10 16:12] Oloremo commented on #23547
+1

[2017-05-10 16:13] stmarier commented on #24387
You know, for some reason I thought that the module documentation page (https://docs.ansible.com/ansible/vyos_config_module.html) had a version tag on it somewhere.  I see though that it just says `new in version 2.2`.

I guess there isn't really a good place for this warning to live.

I'll install 2.3.1 RC1 and give it a shot, but I should note that I just cherrypicked the commit directly and it

[2017-05-10 16:13] #24387 closed, assigned to gundalow

[2017-05-10 16:15] gundalow commented on #24387
Thanks for confirming.

[2017-05-10 16:16] RKov opened #24453 "ValueError in sysctl module when parsing syntax error in sysctl.conf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sysctl module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

RedHat managing RedHat hosts

##### SUMMARY

When the sysctl.conf on the managed host contains syntax errors, sysctl bails out with an error that is hard to debug.

##### STEPS TO REPRODUCE

Create a syntax error in /etc/sysctl.conf and set up a

[2017-05-10 16:21] BenCoffeed commented on #18933
Confirmed still an issue with
ansible 2.3.0.0
  python version = 2.7.13

[2017-05-10 16:23] gundalow commented on #24444
@Akvarium Thanks for the bug report & proposed fix, as well as testing `2.3.1`

We will test this locally and and report back

[2017-05-10 17:54] nb00471049 commented on #24439
Updated the required parameters, please suggest what exactly needs to be

[2017-05-10 17:56] sivel commented on #24439
The `map` filter is provided by the python package `jinja2`.  Per the docs (http://jinja.pocoo.org/docs/dev/templates/#map), the `map` filter was not added until version `2.7` of jinja2.

Please check your `jinja2` version, and potentially upgrade to get access to the `map` filter.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2017-05-10 17:56] #24439 closed, assigned to nobody

[2017-05-10 18:04] alikins commented on #24425
I think I see how to make AnsibleVaultEncryptedUnicode work for 'quote'...

pipes.quote() actually iterates over a string object to get each char and never uses the str()/unicode().
At the moment:

[code]

The value of it will be the chars in the ciphertext, not the plaintext.

Adding an __iter__ seems to fix it

[code]

[2017-05-10 18:12] gundalow commented on #24450
resolved_by_pr 24452

[2017-05-10 18:14] gundalow commented on #24441
resolved_by_pr 23391

Ansible 2.3.1 RC1 should contain this fix

[2017-05-10 18:17] bcoca commented on #24449
usafe_writes is a fallback, it will not force it as the main way to write a file, it will be used as the last possible way if all others fail.

[2017-05-10 18:18] gundalow commented on #21893
Proposed fix in https://github.com/ansible/ansible/pull/24428 Does that resolve your issue?

resolved_by_pr 24428

[2017-05-10 18:19] #24441 closed, assigned to nobody

[2017-05-10 18:27] gundalow commented on #24407
resolved_by_pr 24407

[2017-05-10 18:27] peter216 opened #24458 "Nested loop with lists not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
with_nested

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Using with_nested with lists embedded in the items, I am not able to check for membership of a constant in a list.  Instead of iterating the lists themselves, ansible appears to iterate over _members_ of the list.

##### STEPS TO REPRODUCE

[c

[2017-05-10 18:43] hugollm commented on #8603
This is a very unexpected behavior. Any decent language allows you to set a dict key equal to a variable of same name. In python for instance:

    {'host': host}

It would be real trouble if one had to hack the variable name around just to pass it forward:

    {'host': _host}

Currently, the best workaround I've found is to prefix the variables with the role name. e.g.:

    nginx_domain: '{{ my

[2017-05-10 19:03] mvitekql opened #24460 "Force_handlers with_items does not execute handlers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Force handlers with_items

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = configured module search path = Default w/o overrides
  python version = 2.7.10 (default, May  1 2017, 19:24:18) [GCC 4.4.7 20120313 (Red Hat 4.4.7-16)]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SU

[2017-05-10 19:03] smaftoul commented on #24449
@bcoca then this issue can be closed ?
I still think that ansible should allow me to render a template / copy a file without changing the inode if the file already exists. This is really what I need, vi/vim allows me to do this, bash's ">>" just does this.
I don't understand what this means: "One example are docker mounted files, they cannot be updated atomically and can only be done in an unsafe

[2017-05-10 19:34] maxamillion commented on #23895
I have been unable to reproduce this on both Fedora 25 or RHEL 7.3

Fedora 25:

[code]

RHEL 7.3
[code]

[2017-05-10 19:46] sbaudoin opened #24462 "Regression: become prompt not recognized, leading to timeout errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible.cfg`:
[code]

##### OS / ENVIRONMENT
RHEL 7.2, Python 2.7.5

##### SUMMARY
With Ansible 2.3.0.0 it is no longer possible to use ansible_become_pass and ansible_become_method=su. We systematically get the following error:
[code]

After some investigations it appears tha

[2017-05-10 19:58] ryansb commented on #24382
In general the ec2_uri parameter is intended for use with non-AWS clouds, such as Eucalyptus, so if you're on AWS I'd recommend sticking to the `region` or setting `AWS_REGION`.

That said, this *shouldn't* be a problem, and it looks like it's coming from how we set up boto connections, but I'm not sure. Thanks for reporting!

[2017-05-10 20:37] xenithorb opened #24464 "Raw module with passworded sudo (-K) outputs \r\n before output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw

##### ANSIBLE VERSION

[code]
(also tested with 2.2.0 from pip)

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Control machine: Fedora 25
Managed nodes: Mix of CentOS 7 and Fedora 25

##### SUMMARY

When using passworded sudo (`become: yes` with -K) an additional `\r\n` is added to the beginning of the raw output - which offsets std

[2017-05-10 20:40] mihugo opened #24465 "ansible_user in inventory file being overridden by duplicate host in different section"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible core (ssh login)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

new install from tar ball

##### OS / ENVIRONMENT

##### SUMMARY
When a host file contains the same host under multiple groupings the final ansible_user setting overrides and the  ansible_user=xxx is ignored from the actual host entry being used.

##### STEPS TO REPROD

[2017-05-10 20:49] sivel commented on #24465
The "hostname" in your inventory is a unique key.

You have duplicated an individual host, causing the 2nd instance to overwrite the first.

Specifying to only target a single group does not change this behavior, as the inventory has already been parsed before any limiting is done.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2017-05-10 20:49] #24465 closed, assigned to nobody

[2017-05-10 20:50] daveg999 opened #24466 "asa_command timeout sending enable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

TASK [all_retrieve_running : Retrieve device configuration for ASA] *********************************************************************************************

[2017-05-10 21:11] nerzhul commented on #24398
It seems it's related to PyVMomi yes, i will verify tomorrow at work the current changes

[2017-05-10 21:21] PrasadDuvvi opened #24467 "managed_policy in ansible"
Hello, Need Help!

I'm very new to Ansible.
I've just used **iam: ** module to create an IAM role and attached a **trust_policy:** (something like ec2.amazonaws.com)

How can I add a **managed_policy:** to my role something like below:
managed_policy:
- arn:aws:iam::aws:policy/PowerUserAccess

Is this currently supported by Ansible.. I've tried with module **iam_role:** but I got an error message

[2017-05-10 21:35] PrasadDuvvi opened #24469 "Module for "managed_policy" in Ansible"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- managed_policy in while creating IAM role in AWS

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-05-10 21:39] PrasadDuvvi commented on #24467
I created it as a new issue , please refer Module for "managed_policy" in Ansible #24469

[2017-05-10 21:39] #24467 closed, assigned to nobody

[2017-05-10 21:41] conlon opened #24471 "route53 get is broken after 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

route53 module

##### ANSIBLE VERSION

The bug exists on devel/2.4
[code]

I tested this on 2.3 and it works just fine there:
[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

Mac OS 10.12.4

##### SUMMARY

get fails with the error below (`TypeError: 'NoneType' object is not iterable`), regardless of using `command: get

[2017-05-10 21:42] bcoca commented on #24449
Those examples are editing the file directly, this is unsafe (this is why the feature is called unsafe_writes).

We strive to be atomic to avoid data corruption or having other programs access the file and get incomplete/incorrect data. Any other process will either get the old version or the new version of the file, not an intermediate one as would be possible when doing this unsafely (non atomic

[2017-05-10 21:42] #24449 closed, assigned to bcoca

[2017-05-10 22:24] jamesongithub opened #24473 "Feature Idea: Integrate/introduce group_vars concept into roles"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Variable scope

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Wanted to propose the concept of `group_vars` in roles. Basically this expands how variables are added into the play in a role. The idea is to be able to add variables at the `group_var` precedence depending if the hosts in execution ar

[2017-05-10 22:28] brad2014 commented on #24265
@gundalow, it does not seem to solve the problem.  it appears that the POST that applies the tag to the resource_id returns status code 204 whether the tag was previously on the resource or not.

A suggestion, if I may (sorry I can't do python): Perhaps it would be best to search the list of droplets in the original tag get, to assess presence/absence of the tagged resource_id:

[code]
For 'presen

[2017-05-10 22:39] nergdron opened #24475 "elasticache_parameter_group fails with KeyError: 'AllowedValues'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elasticache_parameter_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
when attempting to create/update a parameter group using the new elasticache_parameter_group, it fails with a KeyError on 'AllowedValues'. Without knowing the code, this makes me think it's filtering on values allowed for the

[2017-05-10 23:46] con5cience opened #24476 "ec2_group Idempotence"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
From: Fedora 25
To: Amazon EC2 API

##### SUMMARY
Managing the rules of EC2 security groups using the `ec2_group` module is not idempotent.

##### STEPS TO REPRODUCE
1) Use Ansible to configure a security group and add rules to the group.
2) Run Ansible a

[2017-05-10 23:54] fcntl commented on #24430
Also note if I pass in the command as an array of strings, the problem does NOT occur:

[code]

[2017-05-11 00:32] abadger commented on #24416
Need information about what you are expecting as output versus what output is actually being given.

needs_info

[2017-05-11 00:33] abadger commented on #24416
Also, this really is a user question so it is much more likely that you'll get actual help on the google group than here.

[2017-05-11 00:39] igozali opened #24478 "include_vars does not expose variables when play is run for host != localhost"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module: `include_vars`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Issue not OS-specific, but running Ansible from macOS 10.12.4.

##### SUMMARY

When using the `include_vars` module with `delegate_to: localhost` to load variables, I expect the variables to be loaded globally such that I can use them when provi

[2017-05-11 00:58] liuzm7188 commented on #24436
ansible test -m script -a "/tmp/test.sh"
the content of /tmp/test.sh as follows：
#! /bin/sh
service openstack-nov-compute restart
**** other contents ******

result:   it only stop , but not start.

[2017-05-11 01:03] libp commented on #24436
@gundalow the same issue is #23383  ,thank you  very much!

[2017-05-11 01:04] libp commented on #24436
@gundalow we are a team  and using ansible .

[2017-05-11 01:05] igozali commented on #24478
I think this is related to #24172?

[2017-05-11 02:16] JLSNZ opened #24480 "junos_config [Errno 111] Connection refused (timeout issue)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04 (2.3.0.0-1 deb package, 2.4.0 git devel)
MacOS Sierra 10.12.4 (brew 2.3.0.0)

##### SUMMARY
Moving from ansible 2.2 to 2.3 / 2.4 causes this module to fail to connect to remote device, the same playbook running junos_facts module connected fine.

[2017-05-11 03:02] bcoca commented on #24417
raw cannot protect it as it will recursively template (1st pass removes raw), use `!unsafe`

[2017-05-11 03:06] abadger commented on #24419
* Does this only happen with python3?  Not with python2 on the remote machine?
* What version of boto do you have installed?  Since the traceback is coming from within boto code that could be important information to know.
* Note that we don't support Python-3.4; some modules and controller code is known to need Python-3.5 or greater.  I don't believe that's the issue here as dict_values is common

[2017-05-11 03:14] abhigrover opened #24481 "Multiple includes involving with_dict doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Windows

##### SUMMARY

I have a playbook (outer playbook) that is looking for items within a dictionary, and based on the items that qualifies the when condition, includes another playbook (inner playbook) that executes a set of tasks against those iden

[2017-05-11 03:17] xialonglee commented on #23578
+1 , I hope not display these warning in next release which seems tell me what I wrote was wrong and make me want to refactor what i have written.

[2017-05-11 03:32] abhigrover commented on #24481
I tried to eliminate the third layer of include, by moving the code into the innerPlaybook.yml, but to no help. It looks like the issue has to do with using with_dict inside a with_dict.

[2017-05-11 03:36] abadger commented on #24421
This looks like it is something better done via a proposal ( https://github.com/ansible/proposals/issues ) and then putting it on the Meeting agenda for discussion: https://github.com/ansible/community/issues/159 The schedule for Ansible Core meetings are listed here: https://github.com/ansible/community/blob/master/MEETINGS.md

We can reopen a feature idea or pull request when some of these ideas

[2017-05-11 03:36] #24421 closed, assigned to nobody

[2017-05-11 03:37] #21335 closed, assigned to nobody

[2017-05-11 03:51] abadger commented on #24430
/cc @chouseknecht

[2017-05-11 03:57] abadger commented on #24440
Ansible 1.9 is not supported and will not see new features.  The documentation for the current uri module states that method: PUT is allowed: https://docs.ansible.com/ansible/uri_module.html

So what's needed here is for current Ansible to gain a file or src parameter which can be used to specify a source file to upload.

[2017-05-11 04:02] mdfck opened #24482 "module_common.py causes ImportError: No module named base64"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Master: RHEL 7.2.
Managed node: OSNEXUS QuantaStor / Ubuntu 12.04.2 LTS

##### SUMMARY
ansible-playbook hangs when running authorized_keys module against on my OSNEXUS nodes. Apparently, this is caused because python's sys.path is being changed within m

[2017-05-11 04:08] abadger commented on #24448
Are you able to come up with a simpler reproducer?  I tried this very simple case but it properly reported failure:
[code]

needs_info

[2017-05-11 04:22] abadger commented on #24482
I'm afraid that running this via trace is throwing the results off because then __main__ refers to the trace module (which then ends up with scriptdir pointing to /usr/lib/python2.7).  Can you run it via
[code]
instead and tell us what your instrumented print statements say then?

needs_info

[2017-05-11 04:37] abadger commented on #24462
This should be fixed by: https://github.com/ansible/ansible/pull/24081  which is in the current devel and stable-2.3 branches (for release with 2.3.1)

Are you able to confirm that the current release candidate: http://releases.ansible.com/ansible/ansible-2.3.1.0-0.1.rc1.tar.gz or a current checkout of the stable-2.3 branch fixes the problem?

needs_info

[2017-05-11 04:39] dgarros opened #24483 "Variables in host_vars not loading when using inventory directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Default Variable management

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.12.4

##### SUMMARY
When using multiple inventory files, saved in the directory `inventory/`, variables stored in `host_vars/<inventory_hostname>/xxx.yaml` are not loaded.

Assuming we have 4 devices, defined in 2 inventories f

[2017-05-11 05:03] taksekine commented on #24429
Fix like this? (https://github.com/taksekine/ansible/commit/4cff1f80d4b409008d7e271f9dfa04f9016b56fd)
(copy from FreeBsdUser subclass :-)

[2017-05-11 05:24] Akasurde commented on #24265
@brad2014 I agree. Let me refactor code again with given requirements.

[2017-05-11 05:24] #24167 closed, assigned to trishnaguha

[2017-05-11 05:40] 191801737 opened #24485 "ios_config if the vlans exits there is something worry"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[root@es-node1 playbook]# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

cisco_switch#sh version
Cisco IOS Software, C2960 Software (C2960-LANBASEK9-M), Version 12.2(44)SE6, RELEASE SOFTWARE (fc1)
Copyright (c) 1986-2009 by Cisco Systems, Inc

[2017-05-11 05:54] aklemp commented on #14131
I also would like to see this feature implemented.
[code]
my version
[code]

[2017-05-11 05:57] KroArtem commented on #24213
@nerzhul , I'll try it but not sure it will happen very soon (approx. 1 week).

[2017-05-11 07:19] amaczuga commented on #24417
@bcoca `!unsafe` will tamper jinja variable start strings, producing

[2017-05-11 07:32] alangibson commented on #16590
@krzysztof-magosa has a point about the different number of hosts between environments. However, there is a case for a static number of hosts with hostnames that aren't known ahead of time.

For some of our integration tests, we use Gitlab runner to execute Ansible which in turn starts up compute instances on OpenStack. To avoid name collisions, we concatenate the Gitlab CI_PIPELINE_ID on to the h

[2017-05-11 07:37] lkx007 opened #24490 "ansible script module return Failed to connect to the host via ssh."
[root@server ~]# ansible --version
ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
[root@server ~]# ansible 192.168.1.152 -m command -a 'uptime'
192.168.1.152 | SUCCESS | rc=0 >>
 15:31:45 up 69 days, 22:27,  1 user,  load average: 2.83, 2.78, 3.00

[root@server ~]# cat test_exit.sh
#!/bin/bash
exit 3

[root@server ~]# ansible 192.16

[2017-05-11 08:13] dagwieers opened #24492 "Documentation: Links in notes are not easily identifiable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docs / website

##### ANSIBLE VERSION

v2.4

##### SUMMARY

Links inside a module's `notes` section are not easily identified as a link.

E.g. the "template" module is linked from these notes:
http://docs.ansible.com/ansible/win_template_module.html#notes

[2017-05-11 08:16] necr0n opened #24493 "Expect module - Expected results feature"
_From @bananabr on October 20, 2016 13:5_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

expect_module
##### ANSIBLE VERSION

[code]
##### SUMMARY

Expect module should have an **expected_results** option that would have the same structure of the **responses** options ( dict of lists). Every response to a pattern would have a correspondent expected_result, like in the example below:

[code

[2017-05-11 08:16] DartNecrON commented on #24493
_From @ansibot on October 20, 2016 13:29_

@sivel ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-11 08:16] DartNecrON commented on #24493
_From @ansibot on December 7, 2016 14:34_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-05-11 08:24] sylv704 commented on #24462
Hello,

Yes, thanks, this works with this 2.3.1.0-0.1 RC1.

[2017-05-11 08:27] dagwieers opened #24494 "win_shortcut: Using a relative src= can cause error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_shortcut

##### ANSIBLE VERSION

v2.3+

##### SUMMARY

When using a task like this:
[code]

The following error occurs:
[code]

This is fixed by using an absolute path:
[code]

[2017-05-11 08:31] cwegener commented on #23986
Thanks @nitzmahone for the detailed steps. I'll try them with win_dsc5 and I'll see what I get.

@trondhindenes I think I understand what you're saying. I'll have to do some more in-depth soulsearching with win_dsc5 :smile: So far I've only scratched the surface of win_dsc5 but it is my favorite module.

On a side note on win_dsc5, I found out the other day that psrunascredential_username and psru

[2017-05-11 08:48] dagwieers commented on #23809
@Wenzel Thanks for reporting. We have a **win_get_url** module for downloading files. There is also a **win_uri** module which is more advanced for doing any kind of HTTP request.

But that doesn't mean there is no bug. So this ticket still needs to be addressed.

[2017-05-11 08:50] kayrus opened #24496 "Add support for encrypted clouds.yml (openstack module)"
At the moment you can not directly encrypt clouds.yml file. I have to decrypt this file manually every "git pull/push/commit"
Or maybe is it possible to specify these values within group_vars?

[2017-05-11 09:34] strk opened #24498 "ansible-doc does not show option aliases"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no custom config

##### OS / ENVIRONMENT

Ubuntu, package from  http://ppa.launchpad.net/ansible/ansible/ubuntu xenial/main amd64 Packages

##### SUMMARY

Running `ansible-doc apt` makes use of `pkg` option in one of the example but never documents it.

##### STEPS TO REPRODUCE

[2017-05-11 09:48] Akvarium commented on #24498
This seems to be a general issue for ansible-doc.
It doesn't display aliases for commands (it's the same for i.e. the homebrew module, and probably every other module as well). The code and doc pages online displays the aliases just fine.

[2017-05-11 09:52] strk commented on #24498
Is there another repository for `ansible-doc` issues ?
Also, I noticed that `name` is also an alias, but `ansible-doc apt`
does show that as an option (maybe a different version).
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L806

[2017-05-11 10:00] Akvarium commented on #24498
As far as I can see, it's the same repository, I just wanted to clarify what the issue is :)

As far as 'name' also being an alias, that seems to be correct, but 'package' is listed as an alias for 'name' in the documentation: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L43, so the impact is minimal when 'name' is documented instead of 'package', though mi

[2017-05-11 11:11] chrmcd opened #24502 "IPv6 support for snmp_facts module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/snmp_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Running with pysnmp v4.3.5
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It would be nice to be able to use this module on routers running on only IPv6 adresses.
##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

Get facts on IPv6
##### ACTUAL RESULTS

[code]
Thi

[2017-05-11 11:20] sivel commented on #24483
host_vars and group_vars must live beside the inventory *file*.

when using an inventory directory, you will have to move host_vars and group_vars inside of that directory as well.

This is documented at http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2017-05-11 11:20] #24483 closed, assigned to nobody

[2017-05-11 11:41] fantasy86 commented on #24228
setup is an internal module, limit its max-open-files to a reasonable value could be safe.
Perhaps replace some of those external commands by python code can be more efficient.

[2017-05-11 12:13] ilana1291 commented on #24448
A simpler reproducer won't really help my issue. I want to know why my case is not reporting the failures.

[2017-05-11 12:14] ilana1291 commented on #24448
It could be some combination between having tasks with run_once and with_items and the blocks so a simple case won't help.

[2017-05-11 12:17] sgrade commented on #22880
I have the same issue with text format: "invalid action format text".

Override doesn't work: "msg": "value of update must be one of: merge,overwrite,replace,update, got: override"

ansible 2.4.0

[2017-05-11 12:26] trishnaguha commented on #22880
@sgrade The fix is backported to `2.3`. Will be out with `2.3.1` release.

[2017-05-11 12:38] ryansb commented on #24396
I thought when we introduced that change to look for an ini-file matching its own name that it was supposed to fall back to ec2.ini, but it seems it isn't.

In the meantime, you can either rename to hosts.ini, or use an older version of the dynamic inventory script.

[2017-05-11 12:58] lampogass opened #24506 "[vmware_guest] After deploy VM network is disconnected and cannot connect."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After deploy new vm network is disconnected and cannot connect. Only way is to edit settings, remove network and give back again. I think problem is the presence of distributed switch.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2017-05-11 13:02] ganeshrn commented on #24480
@JLSNZ
Can you please re-try after increasing persistent connection timeout value. You can do it either by setting environment variable
[code]
or by modifying connect timeout value in the (active) `ansible.cfg` file
[code]

[2017-05-11 13:04] real666maverick commented on #24161
Bypass path:

[code]
[code]
[code]

[2017-05-11 13:05] lampogass commented on #24506
![networkisuue](https://cloud.githubusercontent.com/assets/17727610/25950428/44736fa4-365b-11e7-84de-5109735fd133.PNG)

[2017-05-11 13:07] lampogass commented on #24506
![networkisuue](https://cloud.githubusercontent.com/assets/17727610/25950504/79de8516-365b-11e7-9d26-a0166511a342.PNG)

[2017-05-11 13:12] jean-christophe-manciot commented on #23922
@Qalthos @gundalow
The symptom has changed on both following versions:
[code]
and
[code]
I get ```timeout trying to send command: enable```:
[code]
However, my timeout settings in /etc/ansible/ansible.cfg are very patient:
[code]
Other timeouts have default values.
Please note that ```ssh admin@172.21.100.251``` works instantly.

[2017-05-11 13:20] kladiv commented on #9981
+1

[2017-05-11 13:24] mattmonkey83 commented on #24396
Yeah we've managed to workaround using a symlink from `hosts.ini` to `ec2.ini` but it did have us scratching our heads for about a day.

Side note - The error isn't particularly helpful - It would have been easier to troubleshoot if it said file not found or similar.

[2017-05-11 13:24] Minipada commented on #19605
Since I needed python2, I added as first task:

    - name: dependency provisioning
      hosts: all
      become: yes
      become_method: sudo
      gather_facts: false
      tasks:
        - name: install python2
          raw: sudo apt-get -y install python-simplejson

More infos [here](http://stackoverflow.com/questions/32429259/ansible-fails-with-bin-sh-1-usr-bin-python-not-found/42635237#42

[2017-05-11 13:36] jctanner commented on #22944
!needs_info

[2017-05-11 14:01] eugeny-zurawski opened #24508 "Add templates with zabbix_host module"
ISSUE TYPE
Bug Report, Feature Idea

COMPONENT NAME
zabbix_host

ANSIBLE VERSION
2.3.0.0

As far as i see at the moment zabbix_host module just overwrites existing values with link_templates parameters on Zabbix Server 3.2.3 (removes existing - adds new ones). Is there any possibility to link additional template without removing those already linked?

[2017-05-11 14:15] donsantos commented on #24167
@trishnaguha Hey, I pulled all the merges you've done. Getting a new module error with nxos_interface using the same configurations listed above.

[code]

[2017-05-11 14:20] eugeny-zurawski commented on #24508
ISSUE TYPE
Bug Report, Feature Idea

COMPONENT NAME
zabbix_host

ANSIBLE VERSION
2.3.0.0

[2017-05-11 14:40] sivel commented on #19605
The above explanations are sufficient to resolving this issue.

Some additional reading:

http://docs.ansible.com/ansible/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansibl

[2017-05-11 14:40] #19605 closed, assigned to nobody

[2017-05-11 14:56] trishnaguha commented on #24167
@donsantos this new issue doesn't seem to be occurred due to the fix merged for the issue you opened for `nxos_interface`. This is a separate issue.
But according to the traceback it seems you still have the old code running as we are not following the pattern `command_type='cli_show_ascii')[0]` we used to have before.
With refactoring the code has been updated https://github.com/ansible/ansible/c

[2017-05-11 14:57] ilana1291 commented on #24448
Removing the blocks fixes the issue with the PLAY RECAP.. So the blocks are causing the issue with this version. However, we need the always block for this playbook

[2017-05-11 15:03] ilana1291 commented on #24448
The same issue is shown here: https://github.com/ansible/ansible/issues/17074

PLAY RECAP *********************************************************************
localhost                  : ok=4    changed=1    unreachable=0    failed=0

[2017-05-11 15:03] trishnaguha commented on #24167
Easier way to work with Github code is
[code]

[code]
should point to latest commit on devel branch.

[code]
should point to the path in cloned repository.

[2017-05-11 15:20] donsantos commented on #24167
@trishnaguha silly me realized I was using a different ansible server with 2.2 still installed. Used mine with the latest upgrades and everything works. Thank you!

[2017-05-11 15:24] trishnaguha commented on #24167
Fantastic!

[2017-05-11 15:30] jhawkesworth commented on #23809
Is the Win 7 system running WMF 3.0?  I know unpatched Windows Server 2008 had an issue where winrm memory wasn't allocated properly until a hotfix was installed - I am wondering if the same thing is also true for 'fresh' Windows 7 installations.  The hotfix is this one: http://support.microsoft.com/kb/2842230 and is mentioned at the bottom of this section in the documentation:

http://docs.ansibl

[2017-05-11 15:40] lshake opened #24510 "tower_user set organisation field has no effect."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: tower_user

##### ANSIBLE VERSION
[code]

- Tower CLI 3.1.3
- Tower 3.1.3
- Tower 3.03

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible : OSX El Capitan
Tower 3.1 : RHEL7.3
Tower 3.0 : RHEL 6.6

##### SUMMARY
The tower-user module suggests that when adding a user it should be added to an organisation when the organization option

[2017-05-11 15:47] lshake commented on #24510
It looks like the organization field doesn't exist in the tower_cli function here : https://github.com/ansible/tower-cli/blob/c5d246a1bfa5dcc56f716c7d5b0cac8acb4ad7cd/tower_cli/resources/user.py

This might just be a documentation bug and need removing, if so I can prepare a pull request to remove the organization field from the documentation and calling code.

[2017-05-11 15:51] dagwieers opened #24511 "vmware_guest_snapshot: Idempotency issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_snapshot

##### ANSIBLE VERSION

v2.3+

##### SUMMARY

So when you run a basic vmware_guest_snapshot multiple times with the same snapshot name, it creates a snapshot onto the existing snapshot, and not report the snapshot is present.

So after 2 runs, you get this:

    virtual machine
        snapshot001
            snapshot001

[2017-05-11 15:51] dgarros commented on #24483
@sivel thanks for looking into it

I was not aware of that but still I'm seeing inconsistent behavior

When using the inventory directory, without `--limit` my host `host_ccc` is seeing the variable from `host_aaa`

if I run the same playbook with limit, the variable is undefined. Is it expected as well ?

[code]

[2017-05-11 16:04] sivel commented on #24483
Limits have no impact on variable merging when a host is a member of multiple groups.

Inventory merging happens before any limits, so if you have a host in multiple groups, and those groups define duplicate variables, the later defined variable will overwrite earlier defined variables.

As another person referenced recently:

[2017-05-11 16:06] xenithorb commented on #16804
@mavlyutov Are you sure? My whole project uses aws-common and system-common roles from a single repo as I described above and it still works fine for me?

Are you forgetting to include an empty meta directory?

[2017-05-11 16:07] xenithorb commented on #16804
@bcoca any chance of codifying this?

[2017-05-11 17:02] dgarros commented on #24483
That is my understanding as well, and that's why I'm surprised to see a different behavior with and without `--limit` in this case.
It really looks like the variables are loaded differently with `--limit`

[2017-05-11 17:36] theballdredge opened #24516 "pam module not updating files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd module
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

bog standard

##### OS / ENVIRONMENT

mac os 10.12.4

##### SUMMARY

ansible pam module does not update files correctly

##### STEPS TO REPRODUCE

using the play and example file below, no changes are executed

[code]

##### EXPECTED RESULTS
given the above play and file, the line
``

[2017-05-11 17:40] trsreagan3 commented on #24473
This feature would be very useful!

[2017-05-11 17:43] jean-christophe-manciot commented on #18970
Before running the snmp playbook, I have on the target terminal:
[code]
Running the playbook after having changed only the ACL, some NMS settings and a few traps:
[code]

The only task which should not run (TASK [ios_snmp : Configuring RO/RW community string in new IPv4/SNMPv2c]) comes from a Cisco discrepancy:
if the command ```snmp-server community Iosv2016$ ro authorized-snmp-nms``` is sent wit

[2017-05-11 17:43] #18970 closed, assigned to nobody

[2017-05-11 17:45] maxsolar commented on #24392
#24474 fixed this issue. Thank you so much!

[2017-05-11 17:50] gundalow commented on #18970
Thank you for confirming

[2017-05-11 17:57] jean-christophe-manciot commented on #18970
You're welcome and to be precise, I've conducted the previous tests on:
```ansible 2.3.1.0 (detached HEAD 5a3f52d988) last updated 2017/05/11 18:51:32 (GMT +200)```

[2017-05-11 18:40] edulop91 commented on #24473
nice

[2017-05-11 18:52] tjuberg opened #24520 "junos_facts (and junos_*) provider timeout not used by ansible-connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-connection /  junos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Having modified junos_facts to pull route information from some of busier routers I ran into an issue where the persistent connection would close prior to the play finishing due to the connection being idle

[2017-05-11 18:59] flokru opened #24521 "replace module fails when processing non-utf-8 encoded files with umlauts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
replace module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
macOS Sierra, Ansible via Homebrew

##### SUMMARY
replace module fails when processing non-utf-8 encoded files with umlauts

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`pattern` will be replaced by `new_value` in `/path/to/iso-8859-1-enc

[2017-05-11 19:11] flokru commented on #24521
A fix analogous to the one mentioned in #21803 (using `try` … `except`) like this works:

[code]

[2017-05-11 19:12] hlavacek87 commented on #24506
Hello, I have exactly the same problem. If deployment is to vSwitch then it is OK, but to VDS there is the problem as described.
As far I understand there is no specific parameter for dvs(VDS) network option.

Thanks for help.

Martin

[2017-05-11 19:46] #23621 closed, assigned to nobody

[2017-05-11 20:04] wwitzel3 commented on #24510
Users are no longer directly associated with organizations and must be given the `member` role.
You can use the `tower_role` module to perform this action.

[code]

[2017-05-11 20:06] JLSNZ commented on #24480
@ganeshrn
Removed from the playbook
[code]

Tested using both timeout options, neither had any affect, still dies after 10 seconds with rc255
[code]

[2017-05-11 20:10] jhawkesworth commented on #23559
Integration test to cover this here: https://github.com/ansible/ansible/pull/24523

[2017-05-11 20:26] DeanKamali opened #24524 "Curl -F option and ansible URI module"
I'm trying to use ansible's uri module to mimic curl command, I need to pass options when uploading an XML file.

My curl command has number of options passed via` -F, --form <name=content>` I haven't been able to find an equivalent option on Ansible's uri docs

##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
uri_module

##### ANSIBLE VERSION
ansible 2.3.0.0

[2017-05-11 20:30] nitzmahone commented on #24460
Seems like a hole in the force_handler logic to me...

[2017-05-11 20:33] nitzmahone commented on #24469
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-11 20:33] #24469 closed, assigned to nobody

[2017-05-11 20:40] jamesongithub opened #24525 "Feature Idea: Change font color of failed tasks that are "rescued" to bright purple (color for warn) or some non-red color"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When scanning logs, people are confused when tasks that are "rescued" are shown in red thinking it's a failure. In reality the error was handled or the error actually came later. It's not really a big deal in terms of functionality, mainly usability, j

[2017-05-11 20:46] nitzmahone commented on #24490
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-11 20:46] #24490 closed, assigned to nobody

[2017-05-11 20:47] sivel commented on #24524
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-11 20:47] #24524 closed, assigned to nobody

[2017-05-11 20:47] simholte commented on #20864
+1

[2017-05-11 20:53] nitzmahone commented on #24492
cc @dharmabumstead - looks like a CSS issue in notes

[2017-05-11 20:59] geerlingguy opened #24526 "jenkins_plugin module doesn't work with python3 interpreter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`jenkins_plugin`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: macOS 10.12.4
Controlled server(s): Ubuntu 16.04 LTS (AWS 64-bit AMI)

##### SUMMARY

When I run `jenkins_plugin` tasks, I get the following error (once for each plugin I attempt to install):

[code]

Formatted more nicely:

[code]

####

[2017-05-11 20:59] #24429 closed, assigned to nobody

[2017-05-11 21:33] #23579 closed, assigned to jimi-c

[2017-05-11 21:53] jimi-c commented on #23579
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-05-11 22:11] lassizci commented on #23349
It's indeed causing a lot of pain here too. See if https://github.com/ansible/ansible/issues/17528#issuecomment-255065629 is any helpful for your use case. It's quite dirty, but at least for me that was the only way I was able to find to get the tasks completed even though it still takes somewhat half an hour. That resolves the variables once rather than for every host.

For reference, my inventor

[2017-05-11 22:35] mafalb opened #24529 "adding firewalld sources with delegated task does not work properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ansible on macOS
target machines are CentOS 7

##### SUMMARY
I want to add IP Addresses as source to a firewalld zone.
I delegate the firewalld task.
Only one IP per run is added (not all of them).

##### STEPS TO REPRODUCE
start firewalld on x1
r

[2017-05-11 22:35] lshake commented on #24510
Marvellous, thank you @wwitzel3, is organisation there to support older versions of Tower?   Either way, thanks for the solution.

[2017-05-11 22:52] bcoca commented on #24460
handlers get notified if the TASK changes, not an item in the task, since one item failed, the TASK is flagged as failed.

[2017-05-11 22:58] nicobrevin opened #24530 "puppet module fails because of PUP-6739"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

puppet module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

puppet4, centos7, but probably affects all

##### SUMMARY

puppet module reports "Puppet agent state could not be determined." with puppet4 when environment directory does not exist on slave, due to lockfile detection method and bug in puppet4 (https

[2017-05-11 23:01] nicobrevin commented on #24530
Simple workaround is to add this when setting up agents:

[code]

[2017-05-11 23:11] rtruxal commented on #19766
This is preventing me from creating **most** of the VM images in the Azure Marketplace.

Is anyone here interested in discussing how to edit the `azure_rm_virtualmachine.py` module?

[2017-05-11 23:13] wwitzel3 commented on #24510
Yeah, that documentation line needs to be removed, it was mistaken added by mean when copying parameters from an older version of Tower CLI.

[2017-05-11 23:25] esalome commented on #24485
Hi,
Will it work with the following :
  tasks:
  - name: configure vlan info
    ios_config:
      lines:
        - name itops60
      parents : vlan 60
    tags: vlan-add

(but I understand the source you gave should be working well also)
Best Regards, Eric

[2017-05-12 00:14] abadger commented on #24462
hanks for testing!  Closing.  Will be fixed in 2.3.1.

[2017-05-12 00:14] #24462 closed, assigned to nobody

[2017-05-12 00:17] #24392 closed, assigned to nobody

[2017-05-12 00:45] nitzmahone commented on #24460
Ah yeah, this is "as designed'. I spaced that `force_handlers` is only about forcing handlers to run if *some other task* fails. If the task that notifies fails, it would still never notify. If you really need this behavior, you'll need to register the output and use `failed_when` to take control over the failure conditions for an individual item if you want the handlers to be notified, since as-i

[2017-05-12 00:45] #24460 closed, assigned to bcoca

[2017-05-12 00:52] ansible-bug-reporter commented on #24460
The workaround is 3 tasks, and it would help a lot to have a parameter to check changed from inside the original task.

- run task with_items
- check statuses and notify the handler if one changed
- check statuses and fail the play if one failed

[2017-05-12 01:27] bcoca commented on #24460
or a block with 'notifier' in always section

[2017-05-12 01:34] bcoca commented on #24417
unsafe should not template at all....

[2017-05-12 01:48] bcoca commented on #24436
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, issues with command/s

[2017-05-12 01:48] #24436 closed, assigned to nobody

[2017-05-12 01:49] bcoca commented on #24478
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`include_vars` has never been 'global' it always adds the variables to the 'current host' (inventory_hostname), the ticket you referenc

[2017-05-12 01:49] #24478 closed, assigned to nobody

[2017-05-12 01:52] igozali commented on #24478
Thanks for your answer. Regarding the change in behavior from ansible 2.1.2.0 to ansible 2.3.0.0, do you have any explanation for this? Is the behavior in ansible 2.3.0.0 to be taken as correct behavior?

[2017-05-12 01:55] bcoca commented on #24478
The behaviour in the fixed PR is the correct behaviour, `include_vars` will add the vars to inventory_hostname except when both  `delegate_to` is set and `delegate_facts` is true, then the vars will go to the delegated host.

[2017-05-12 01:57] igozali commented on #24478
Thanks for your clarification and for maintaining this fantastic project @bcoca

[2017-05-12 01:58] bcoca commented on #16804
@xenithorb as i mention above, this should be proposed and codified, the solution stated here 'worked by accident' and it seems someone 'fixed' something that broke this undocumented behaviour.

[2017-05-12 02:00] bcoca commented on #24478
No problem, sorry for the confusion, this was 'undefined' until the issue that I fixed the PR above made us make a decision and document and codify the behaviour.

[2017-05-12 02:19] cwegener commented on #23986
I successfully used @nitzmahone procedure for my bug triage. Turns out the win_dsc5 module and ansible is not to blame in my current problem case that I'm working on.

In my case was able to find a bug in a community DSC resource that was causing my problems. The problem even occurred when using the DSC resource without any win_dsc5.

The instructions from @nitzmahone were a major part in getting

[2017-05-12 02:23] bcoca commented on #24421
I don't think pre validation  can work as the variables or other resources CAN be created by other tasks or roles. i.e `- set_fact: varthatismissingatvalidation=True`

[2017-05-12 02:31] wangxuan9237 commented on #24436
Thank you for your reply.It means that it's not a ansible bug.The shell/script module designed not for service operation?

发自网易邮箱大师
On 05/12/2017 09:48, Brian Coca wrote:
List Information

Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channe

[2017-05-12 02:35] libp commented on #24436
@bcoca @gundalow
hi  thankyou very much for detail answer;
but we team using ansibe do great thing:like

we justw want use shell module like peopel use xshell to control linux.
you konw,use cloud plant to operation linux that is a so cool think.

非常感谢您的详细回答。但是我们团队正在使用ansible从事一项伟大的工作，例如：
 celery -A ansibleAPI.celery worker

[2017-05-12 02:39] bcoca commented on #24436
The issue with shell and services is that it might end the connection before the service detaches and backgrounds, to avoid this you need to use things like nohup and &, but I still recommend you use the `service` module instead.

[2017-05-12 03:37] #24413 closed, assigned to nobody

[2017-05-12 05:21] 191801737 commented on #24485
there is another error happend but if a take off the tags it is ok..

[root@es-node1 playbook]# ansible-playbook ios_conf2.yml -vvv
Using /etc/ansible/ansible.cfg as config file

PLAYBOOK: ios_conf2.yml ******************************************************************************************************************************************************************************************
1 plays in

[2017-05-12 05:21] xenithorb commented on #16804
Terribly sorry but I don't understand what you mean. What would it take for me to help get this included as an official documented feature of ansible? From where I sit you're the one with all the power

[2017-05-12 05:43] 191801737 commented on #24485
parents  works

[2017-05-12 05:43] #24485 closed, assigned to nobody

[2017-05-12 06:15] AsavarTzeth commented on #24189
In my eyes it would make more sense to add the `upgrade` option to other package modules (where applicable).

My reasoning for doing this opposed to the way @robinro suggested is that not all distributions support partial upgrades. For those that do, the module can happily support both `upgrade` (maybe as an alias?) and still allow the current style of `yum`, `zypper` etc.

In this case `upgrade`

[2017-05-12 06:27] ganeshrn commented on #24480
@JLSNZ
For long running `rpc's` ```timeout: 300``` is still required in your playbook in addition to persistent connection timeout (increased) value.

[2017-05-12 06:46] ganeshrn commented on #24520
The provider `timeout` value indicates how long the underlying `Netconf` session should remain idle in case no new request is received.

`connect_timeout` under ` [persistent_connection]` in `ansible.cfg` file indicates how long the persisent connection should remian idle before destroying incase no new request is received.

So for long running `rpc's` both provider `timeout` and persistent connec

[2017-05-12 06:58] trishnaguha commented on #24088
@targuan Thanks for the bug report.
So this is documentation report as host was required field for ansible 2.2.

[2017-05-12 07:11] TJuberg commented on #24520
@ganeshrn Please note, the issue is that the provider ```timeout``` is not used by ```ansible-connection``` which is the core issue I have.

I have to set the global ```timeout``` in ```ansible.cfg``` to affect the value used by ```ansible-connection``` which is not desireable as the majority of plays do not require such high values.

[2017-05-12 07:49] sculley commented on #24273
Sure thing, I have included the playbook/role below its only using the stat module.

_test.yml_

[code]

_ansible/roles/common/tasks/main.yml_

[code]
I can't seem to find any config line in ec2.ini which disables ElastiCache searches, I have seen in what seems like older version of ec2.ini references to ElastiCache but looks like they have been removed.

The [WARNING] output is the same with any

[2017-05-12 08:01] ganeshrn commented on #24520
@TJuberg
Did you try increasing the persistent connection timeout `connect_timeout` and provider `timeout` value?
 Keep global `timeout` to its default value.

[2017-05-12 08:23] mavlyutov commented on #16804
@xenithorb my bad
my dir structure has ```meta/meta.yml``` instead of ```meta/main.yml``` and upgrade from 2.2.3.0 to 2.3.0.0 opened that issue up for me, cause 2.2.3.0 works just fine with that
anyways 2.3.0.0 works great as for now, moreover that annoying deprecated message disappeared with upgrade

[2017-05-12 08:24] TJuberg commented on #24520
@ganeshrn I have tested altering all 3 values. Provider `timeout` is ignored by `ansible-connection` and global `timeout` has to be altered to prevent idle disconnection.

I currently have provider `timeout` set to `360`, however both oberved behaviour as well as added debug statements in `ansible-connection` confirms that the global value of `10` is still being used.

[2017-05-12 08:49] GMLudo commented on #15915
Hi,

Somebody could re-open this issue ?
The bug is still present.

Thank you.

[2017-05-12 09:11] mgrune opened #24536 "Ansible hanging on gathering facts. Waiting for stdin"
I had an odd issue on a couple servers recently.  I was running a fairly simple role to install Matlab, which has worked on all but these two servers.  The machines just hang on gathering facts.

We spent a few hours drilling down through the util modules and found that it was hanging in the _load_params(): function of basic.py.  The offending line being 602:
`buffer = sys.stdin.read()`

The probl

[2017-05-12 09:23] gundalow opened #24537 "Network credentials deprecation notice triggered by Tower (env variables)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
networking

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible Tower passes credentials to the tower modules using environment variables, this triggers the deprecation warnings.

It does this by setting `ANSIBLE_NET_USERNAME` and `ANSIBLE_NET_PASSWORD`, and possibly other options.

See the following where we do `env_fallback` and set this on th

[2017-05-12 09:33] LorensK commented on #24189
I got curious about what kind of bizarre package manager does not permit an across-the-board upgrade of all packages. I took [this list](http://docs.ansible.com/ansible/list_of_packaging_modules.html), and removed those modules which only seemed to add repos and signing keys and such. Here's the result, and it's kind of a mess:

* name="*" state=latest

  * dnf
  * openbsd_pkg
  * sorcery
  * yum

[2017-05-12 10:11] Ortham opened #24538 "Meta doesn't pick up on variable defined in group_vars, defaults or role vars"
#### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core, I think?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

My ~/.ansible.cfg contains only the following:

[code]

##### OS / ENVIRONMENT
Running on macOS Sierra 10.12.4
Managing OEL 6.4

##### SUMMARY

I'm trying to specify a role dependency, giving a path to the dependency role that includes a variable defined in my `group_vars`, but I

[2017-05-12 10:17] lhoss commented on #4057
actually we would like to have `var_files` working per role run, exactly as proposed above:
[code]
maybe this feature could get another chance ?

Another related post: https://groups.google.com/forum/#!topic/ansible-project/TEjChGw4P90
where @mpdehaan proposes an OK workaround, which requires an extra intermediary variable though

[2017-05-12 10:27] WrinklyNinja commented on #24538
A slight twist, the `include_role` task also fails with the same error if `defaults` and `vars` are missing, so it's not picking up the definition in `group_vars/all.yml` either.

[code]

But the rest of my tasks and plays (omitted from this bug report) process the variables defined in `group_vars/all.yml` without any issues, so I doubt there's something wrong there.

[2017-05-12 12:04] vinigfer opened #24541 "How to use only “su -” to change user permissions during play"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
Most closely to feature (or issue): How to perform privilege elevation using just "su -"?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04.02 running Ansible, and Ubuntu 14.04 as the Host (destination).

##### SUMMARY
I only have permission to run "su -" on the destination Host, after login

[2017-05-12 12:11] cadavre commented on #14199
For me this is also considered as **bug**.
For my host I set:
[code]
So I want MOST of my tasks to be run as directory owner, because they happen inside of this dir.

Problem starts when I want to make some sudoish actions to configure deployed project in global scope, ie. add HTTP server configuration file (which requires root).
I cannot then simply add:
[code]

Any ideas how can I achieve it oth

[2017-05-12 12:12] twillert opened #24542 "Ansible 2.3.0 module 'setup' not working for Solaris when using de_DE.UTF-8"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- module: setup

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running Ansible from: Red Hat 7.2
Target system to manage: Solaris 11.3 sparc

##### SUMMARY
The Ansible 'setup' is not working when using env LANG=de_DE.UTF-8. When using env LANG=en_US.UTF-8 there is no problem.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I am e

[2017-05-12 12:48] #24419 closed, assigned to nobody

[2017-05-12 12:56] jordanst3wart commented on #24448
Probably the worst issue report i have seen on github.

[2017-05-12 12:59] ilana1291 commented on #24448
I don't really understand what is wrong with my issue..I gave as much detail as I could.

[2017-05-12 13:09] ovorobio opened #24543 "block with delegate_to leads to host from delegate_to got cached and failed in further playbooks."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block
delegate_to
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora release 25
##### SUMMARY

If inside 'block' there is a 'delegate_to', host from delegate_to got cached which could cause further issues.
##### STEPS TO REPRODUCE

main.yml
[code]

block.yml
[code]

test.yml
[code]

hosts
[code]

##### EXPECTED

[2017-05-12 13:11] jordanst3wart commented on #24448
You report issues on github to highlight bugs in the software, to in turn improve the tool, and to make the tool better for you to use. To find a bug you need to be able to recreate the bug, to narrow down where the bug is in the code. To affectively recreate a bug you need to have a simple example. You provider a very long piece of code. So finding a bug in it is extremely hard. Do you really exp

[2017-05-12 13:36] lshake commented on #24510
I've created a PR which fixes this if you'd like to take a look.
https://github.com/ansible/ansible/pull/24544

[2017-05-12 14:26] sosiouxme commented on #24421
You're absolutely right; I was prototyping doing this with just tags and
immediately ran into task-set variables being undefined on role includes
such that they couldn't run at all, much less with correct results. It's
clear to me that any method of running a subset of tasks in any sizeable
codebase is going to encounter this problem. It would be a nice problem to
solve generically but it's defini

[2017-05-12 14:40] totojack commented on #23547
+1

[2017-05-12 14:46] movermeyer opened #24545 "Inventory Host class's `__repr__/__str__` can return None (TypeError)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible, inventory script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes to `ansible.cfg`

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible's Inventory Host class's `__repr__/__str__` can return None. This is not allowed in Python and raises TypeError.

##### STEPS TO REPRODUCE
I was using the [Cobbler inventory script](https:/

[2017-05-12 14:56] Qalthos commented on #24444
Testing locally, we found some different keys to ignore, does the above PR still work for you?

[2017-05-12 15:06] calfonso commented on #24192
@privateip do you recall fixing this for 2.3?

[2017-05-12 15:08] calfonso commented on #24220
@wisotzky would you mind closing this issue if your testing shows that it's working?

[2017-05-12 15:09] calfonso commented on #24221
@wisotzky would you mind closing this issue if your testing shows that this is now working?

[2017-05-12 15:22] calfonso commented on #24466
needs_contributor

We need a community member to pick this up as it's a community maintained module.

[2017-05-12 15:24] calfonso commented on #24480
@JLSNZ Would you mind closing this issue if the timeout change fixes your issue?

[2017-05-12 15:28] dbosso commented on #24225
Hi, I guess I'm not understanding why the Computer Name in the customization is changing the virtual machine name. The Computer Name in customization seems to set the host/computer GuestOS name. As far as I can tell from the docs it isn't tied to the VM name, unless perhaps you are using the "Use the virtual machine name" option from the screenshot above.
Thanks in advance

[2017-05-12 15:31] movermeyer opened #24546 "Cobbler inventory script should ignore hosts with `dns_name is None`, not just `dns_name == ''`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
* [Cobbler Inventory Script](https://github.com/ansible/ansible/blob/devel/contrib/inventory/cobbler.py)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes to `ansible.cfg`

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The Cobbler inventory script discards hosts that have the empty string for a DNS name, but not those that fail to set

[2017-05-12 15:34] wbond commented on #23680
@abadger You should definitely mention this on https://docs.ansible.com/ansible/python_3_support.html and probably print a warning or bail if run on < 3.5.

[2017-05-12 15:36] #19652 closed, assigned to privateip, gundalow, rcarrillocruz

[2017-05-12 15:57] lshake opened #24547 "Module - tower_project fails to add scm_credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module - tower_project

##### ANSIBLE VERSION
[code]
- Tower CLI 3.1.3
- Tower 3.1.3

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible : OSX El Capitan
Tower 3.1 : RHEL7.3

##### SUMMARY
The tower_project module fails to set the credential required for SCM sync

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A new project, projec

[2017-05-12 16:11] ghost opened #24548 "vmware_guest.py Clone operation not working with tree of default resource pools"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

Debian Jessie managing vCenter Server 5.1.0 2669725

##### SUMMARY

Deploy a VM from a template is not working in an environment with multiple hosts under multiple clusters in a datacenter with no resource pools defined.

#####

[2017-05-12 16:13] #24355 closed, assigned to Qalthos

[2017-05-12 16:26] emonty commented on #24530
@nicobrevin in the ansible module - do you think we should try to check for the environment dir and return a "you are missing an enviroment dir" error message? Or attempt to create an empty dir like your workaround?

[2017-05-12 16:30] #21893 closed, assigned to nobody

[2017-05-12 16:33] Qalthos commented on #24447
As far as I can tell, this should be fixed in devel as of d834412, can you verify?

[2017-05-12 16:36] AsavarTzeth commented on #24189
@LorensK You misunderstand me. It is not technical support I am talking about. I am talking about distributions like Arch Linux, where partial upgrades are unsupported and never recommended. Perhaps I should have mentioned this example to begin with :)

[2017-05-12 16:58] rnkhouse opened #24551 "SSH into private host machine via public host"
##### ISSUE TYPE
 -  Bug Report
 - Documentation Report

##### COMPONENT NAME
ansible_ssh_common_args

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[defaults]
inventory         = ./hosts
ask_sudo_pass     = True
host_key_checking = False

hosts
[dbserver]
dbserver-1 ansible_port=22 ansible_host=10.0.2.4 ansible_user=ronak ansible_ssh_pass=password ansible_ssh_private_key_file=pri

[2017-05-12 16:59] Akvarium commented on #24444
That fix works perfectly, thanks alot :)
Closing the issue.

[2017-05-12 16:59] #24444 closed, assigned to Qalthos

[2017-05-12 17:21] Akvarium commented on #24447
@Qalthos yup, it works in the devel version now. Any chance it will be fixed for 2.3 soon? :)

[2017-05-12 17:29] chrmcd opened #24552 "Ansible ignores hostsfile entry in config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile = hosts
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

Ansible ignores the hostfiles entry in the config and instead tries to locate the file /etc/ansible/hosts.
##### STEPS TO REPRODUCE

Run a playbook that uses the hostsfile entry in ansible.cfg.

#

[2017-05-12 17:37] daveg999 commented on #24466
I thought I saw a similar bug in the ios_command module that was fixed (I'll try to find the number)?

Dave Grice
desk:      206-318-2960
mobile:  206-379-3575

On May 12, 2017, at 8:23 AM, Chris Alfonso <notifications@github.com> wrote:

needs_contributor

We need a community member to pick this up as it's a community maintained module.

—
You are receiving this because you authored the thread.
R

[2017-05-12 18:07] ganeshrn commented on #24520
@TJuberg Can you please retest after applying PR https://github.com/ansible/ansible/pull/24556
Also please set persistent connection timeout value `connect_timeout` greater than provider timeout.

[2017-05-12 18:14] jctanner commented on #24545
@movermeyer seems like a simple fix. Would you be interested in sending a bugfix PR?

needs_info

[2017-05-12 18:15] bcoca commented on #24552
It has been removed, it was previously deprecated in favor of `inventory`.

[2017-05-12 18:17] Akvarium commented on #24552
Oh, okay, my bad then, thanks for the answer :)

[2017-05-12 18:17] #24552 closed, assigned to nobody

[2017-05-12 18:19] ganeshrn opened #24557 "[WIP] Make network plugins PY3 complaint"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa
dellos6
dellos9
dellos10
eos
ios
iosxr
junos
nxos
sros
vyos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Issue to track py3 compliance for network modules
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-12 18:27] abhigrover commented on #24481
Any feedback if this is a defect or a user error on my part? Thanks!

[2017-05-12 18:47] matburt commented on #24547
It would definitely need the lookup and it's fine to do it that way... shouldn't have any unintended consequences.

[2017-05-12 18:54] #24476 closed, assigned to nobody

[2017-05-12 19:04] TJuberg commented on #24520
@ganeshrn I can confirm that PR #24556 fixes the issue and sets the correct `timeout` value.

With `timeout = 30` set in `ansible.cfg` and `timeout = 360` set in `provider`, `360` is now used in `ansible-connection`

Thank you :+1:

[2017-05-12 19:07] s-hertel commented on #24536
Can you provide a reproducer? What package manager are you using?

[2017-05-12 19:18] Qalthos commented on #24447
That change is a bit involved, but there is the possibility of getting it in for 2.3.1. I'll leave this open until we have a concrete decision either way.

[2017-05-12 19:21] movermeyer commented on #24546
P.S: Can I ask why it is ignoring static interfaces anyway?

It seems to me that static interfaces could be assigned DNS names.

[2017-05-12 19:43] nicobrevin commented on #24530
I'm not sure.  Part of me thinks you should mark it wontfix and we leave
the bug report for others to find the work around.  That, or find another
way of detecting the agent state.

Or perhaps skip state detection - it seems it's just to produce a nicer
error message?

On Sat, 13 May 2017, 4:26 AM Monty Taylor <notifications@github.com> wrote:

[2017-05-12 19:53] tjuberg opened #24560 "RuntimeError: maximum recursion depth exceeded in cmp when handling large amounts of data in module_utils/basic.py remove_values()"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

basic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When dealing with large amount of output, in my case junos netconf routing tables and bgp peer data, I've hit an issue with what seems to be `remove_values()` in `module_utils/basic.py` which causes python to error out with a `RuntimeError: m

[2017-05-12 19:54] rstevens011 commented on #24551
I am having what seems like a similar problem.  My ansible.cfg file looks like:
[code]
the `ssh_config` file looks like:
[code]

when ansible connects I see in the log:

[code]
I disabled ControlMaster because according to the docs EL6 doesnt support ControlMaster.  I have a feeling this has to do with unclosed quotes because when I run this command directly from bash:
[code]
That hostname has a l

[2017-05-12 20:13] devopsberlin commented on #24401
@robinro please one question, what is the right wait to pull only the latest updates from git ?
should I need first to find the current branch/tag on the remote machine and the use the git module ?

[code]

Or I can only pull without specify the version ?

[code]

Thanks in advance.

[2017-05-12 20:42] bdlamprecht opened #24563 ""ios_config" module not idempotent **only** on Cisco 3850"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`ios_config` parameter `replace: block`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Control Machine is:
`PRETTY_NAME="Ubuntu 16.04.2 LTS"`

The Cisco IOS device that works correctly is:
`Cisco IOS Software, c6848x Software (c6848x-ADVENTERPRISEK9-M), Version 15.4(1)SY1, RELEASE SOFTWARE (fc8)`

The Cisco

[2017-05-12 20:42] bcoca commented on #14542
closing as per above

[2017-05-12 20:42] #14542 closed, assigned to nobody

[2017-05-12 21:05] codyjohn opened #24565 "junos_rpc module throws TypeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_rpc module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 6.8

##### SUMMARY

When using the junos_rpc module to perform a simple command, a TypeError is thrown.   The documentation shows that ```provider``` is a valid parameter for this module, but if one is used, an ```unsupported parameters``` erro

[2017-05-12 21:41] dreyou commented on #14248
+1

[2017-05-12 21:45] rtruxal commented on #19766
Just posted a pull request which should fix this.

[2017-05-12 21:50] #24221 closed, assigned to nobody

[2017-05-12 21:50] wisotzky commented on #24221
Done

[2017-05-12 21:50] #24220 closed, assigned to nobody

[2017-05-12 21:50] wisotzky commented on #24220
Done

[2017-05-12 22:01] #22191 closed, assigned to privateip

[2017-05-12 22:01] geerlingguy commented on #18563
I'm hitting this as well on 2.3.0. Going to do some debugging, but not sure why it's not working (using `cloudformation_facts` module).

[2017-05-12 22:22] rtruxal commented on #19766
Soon as that gets approved, you can use the `plan` param in the same way you'd use the `image` param in the azure_rm_virtualmachine module. (except unlike `image`, `plan` is *optional*)

[2017-05-13 00:19] ferventcoder opened #24569 "Install Chocolatey from Internal Source"
Originally at https://github.com/ansible/ansible-modules-extras/issues/2916 @dagwieers suggested it get moved here.

cc @nitzmahone
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
Windows

##### SUMMARY
Folks would like to be able to have Chocolatey installed from internal sources when using the Ansible module, p

[2017-05-13 00:19] ferventcoder commented on #24569
Some relevant details at https://github.com/ansible/ansible-modules-extras/issues/2916#issuecomment-247076990

[2017-05-13 01:57] libp commented on #24436
@bcoca
thankyou  for you answer,but i want please you forgive me iwant say again.
shell module is for what?  not for shell ?  not for script?
we user  use shell module  write a script ,can i use the shell module?
if we can use shell module to write a script .
why we can not use shell module to write a script include a restart service cmd?
that means shell module not support script!  that is a big

[2017-05-13 03:29] Akasurde commented on #24557
@ganeshrn Let me know if you need any help in this ? I would like to help here.

[2017-05-13 04:42] morph027 commented on #23345
Ok, there really was something wrong with our custer, which just did not came up properly after rebooting all nodes. Re-setup the whole thing and everything works again.

[2017-05-13 04:42] #23345 closed, assigned to nobody

[2017-05-13 06:44] NetSecParano commented on #24480
The **default timeout** of the provider in all networking**_config modules** should be increased.
I add the same issue with _eos_config_, _nxos_config_ and _ios_config_.
Increasing the timeout from 10 to 60 in the provider resolved it.

[2017-05-13 07:23] JasonCormie opened #24572 "Provide ansible_virtualization_role and ansible_virtualization_type for windows"
_From @JasonCormie on September 28, 2016 12:30_

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
setup.ps1

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian, managing linux (debian,redhat,suse) and windows

##### SUMMARY
It would be good if the facts for windows matched linux facts, where possible.
In particular the ansible_virtualisation_type and ansible_virtualisation_role facts

[2017-05-13 07:23] JasonCormie commented on #24572
_From @ansibot on September 28, 2016 12:56_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-13 07:23] JasonCormie commented on #24572
_From @ansibot on November 29, 2016 9:34_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-13 07:23] JasonCormie commented on #24572
_From @ansibot on December 7, 2016 19:10_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-05-13 07:23] JasonCormie commented on #24572
_From @dagwieers on May 12, 2017 16:0_

This issue seems still valid. Can you move it to https://github.com/ansible/ansible ?

Thanks !

[2017-05-13 07:52] davidmweber opened #24573 "iam_cert gives "Boto is required for this module" error but Boto is installed and working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module iam_cert

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Ubuntu Linux 16.04 install via PIP

##### SUMMARY
iam_cert task fails with an error message:
[code]
Boto and Boto3 are installed and work fine for the rest of the scripts so it appears as if this is restricted to this module. Failure is independ

[2017-05-13 08:27] naggie commented on #3106
Can we reopen this issue? This does not seem like a real solution.

[2017-05-13 08:32] davidmweber commented on #24573
Additional information is that the certificates were not properly formed. The error returned is does not reflect this.

[2017-05-13 11:42] robinro commented on #24401
@devopsberlin I'm not sure I understand the question. The default is `version: HEAD`, which gets the remote HEAD. See the version description in the docs.

[2017-05-13 12:55] fiunchinho opened #24578 "Ansible should fail when CloudFormation ends up in a `ROLLBACK_COMPLETE` status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible should fail when CloudFormation ends up in a `ROLLBACK_COMPLETE` status.

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-05-13 12:57] ganeshrn commented on #24520
@TJuberg Thank you for testing.

[2017-05-13 12:58] #24520 closed, assigned to ganeshrn

[2017-05-13 13:12] dagwieers commented on #24037
Another reason for being able to do this per task is that it makes it possible to be used in a role, which is not possible with `serial:`. Usually there's only one task that has this requirement (possibly one that uses delegate_to by necessity, like a module used to talk to appliances).

@mpdehaan actually hinted at this possibility here: https://groups.google.com/d/msg/ansible-project/rBcWzXjt-Xc

[2017-05-13 20:15] inponomarev commented on #12086
+ 1 on forks!

[2017-05-13 21:53] bitdivine commented on #9034
Piping the output into this gets rid of the skipped tasks, but then you lose the nice, shiny colours.  We could add the colours in again with another nice shiny bit of sed. ;-)

    ansible-playbook whatever.yml | sed -nr '/^TASK/{h;n;/^skipping:/{n;b};H;x};p'

[2017-05-13 22:47] #20653 closed, assigned to nobody

[2017-05-13 22:50] abadger commented on #24412
@sdlevi27 What is the playbook task that you are using for the git module?

[2017-05-13 22:57] Buzut commented on #20653
I'm really sorry you closed this issue because as of Ansible 2.3.0.0 (latest pip install on Mac OS 10.11.6) still doesn't work.

[code]

It used to work but now, if it's the first connection, it will fail if the git server's hostkey isn't in `known_hosts`.

In the meantime, I've found a workaround in my playbooks: manually adding the git server's hostkey via `echo "xxx" >> /root/.ssh/known_hosts`

[2017-05-13 23:22] dvershinin opened #24581 "Package module does not provide with_items optimisation same as yum"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
Generic package module

##### ANSIBLE VERSION

[code]

##### SUMMARY
According to documentation,

One would expect that the generic ```package``` module provides the same optimization for ```with_items```. But it seems not to be the case. Not only ```with_items``` works slower (if compared to equivalent task using ```yum``` modu

[2017-05-14 00:23] sivel commented on #24581
This is he expected behavior.  Under the hood the `package` module is an action plugin that calls the proper underlying package manage module (yum/apt/etc).  Unfortunately not all packaging modules support squashing, so we cannot squash the `package` plugin by default.

To enable squashing of the `package` plugin, you can define `squash_actions` in your ansible.cfg file as documented at:

http://d

[2017-05-14 00:23] #24581 closed, assigned to nobody

[2017-05-14 03:20] wimnat commented on #22935
https://github.com/ansible/ansible/pull/24583

[2017-05-14 04:07] wimnat commented on #22935
https://github.com/ansible/ansible/pull/24584 - elb_application_elb_facts

[2017-05-14 04:19] ServerNinja opened #24585 "ios_facts fails on c3560 switches with dir command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
The `ios_facts` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OSX w/ Python 2.7.10

##### SUMMARY
Unable to use ios_facts on Cisco c3560 Switch, even with the latest available firmware installed on switch.

There was a similar issue reported here where it failed to do a "dir": https://github.com/ans

[2017-05-14 04:39] johnr-spindance commented on #24585
Ok, this appears to be fixed with ansible 2.3.0.0. I'll close this out.

[2017-05-14 04:39] #24585 closed, assigned to nobody

[2017-05-14 08:51] h4ckninja commented on #22397
Color me confused as well. Everything else in Ansible, as far as I can see, uses Jinja delimeters. What's the difference between "changed_when" and the rest? Speaking as someone who is learning Ansible, it makes things harder to understand.

[2017-05-14 09:43] wimnat commented on #23655
notabug

This is not a bug because region can be specified in other ways.

For example, if you define AWS_REGION as an environment parameter then you don't need to specify it with your module.

[2017-05-14 11:46] Akasurde opened #24592 "UnboundLocalError when trying to use result['deprecations']"
While using `result['deprecations'] = 'Some deprecation warning` in module, I am getting following error

[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module_utils/basic.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default - no changes

##### OS / ENVIRONMENT
Git devel branch
Fedora 25

##### SUMMARY
Ansible throws error while using `deprecations` key in result

###

[2017-05-14 11:47] wimnat commented on #23289
@Infectsoldier give this a go https://github.com/ansible/ansible/pull/22936

[2017-05-14 11:52] wimnat commented on #22552
The newer boto3 modules provide better errors.  For example, testing some newer modules you get the following:

`User: arn:aws:iam::111111111111:user/rob.white is not authorized to perform: iam:GetRole on resource: role testrole`

So it's pretty clear what IAM permission i need to grant.

[2017-05-14 12:24] devopsberlin commented on #24401
@robinro, sorry for the misunderstanding, let me explain my question, let say the repository on the remote server is on tag 12.8.54, if I pull changes without specify the version it change automatically the branch on the remote server to master, is it because the the HEAD origin/master and ansible git module use `version: HEAD` as default  ?

[code]
`/var/app ((HEAD detached at 12.8.54)) $ git log

[2017-05-14 12:30] weldpua2008 opened #24594 "Valid SSH connection fails with delegate_to and forks >15"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
ansible-playbook --version

[code]

##### CONFIGURATION
 cat /etc/Ansible/ansible.cfg |grep -vE '^#|^$'
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
3.10.0-327.18.2.el7.x86_64

##### SUMMARY
When I am using -f > 15 task with task (where delegate_to is used) it cannot complete due to

[2017-05-14 12:49] sivel commented on #24594
It is possible that you are being affected with an OpenSSH configuration setting on zabbix.local.  The setting is called MaxStartups and is usually low.

It defines the number of

[2017-05-14 12:52] sivel commented on #24594
It is possible that you are being affected by an OpenSSH configuration setting on zabbix.local. The setting is called MaxStartups and is usually low.

Since you are delegating all of the tasks to that host, it is possible that the number of connections is causing SSH to reject your connection.

Try raising this value on the delegates host, to see if it resolves your issue.

needs_info

[2017-05-14 14:17] robinro commented on #24401
@devopsberlin What does "the remote server is on" mean? The module runs `git clone` in the background, this takes the `HEAD` reference from the server if not specified otherwise.
If your server does not use a bare repo, but has a checkout, then the checked out version is not used by git clone in general.

The module does `git pull` (or `git fetch` and `git checkout` to be precise) to keep a local

[2017-05-14 14:25] #24401 closed, assigned to nobody

[2017-05-14 14:26] pablodav commented on #19825
I have tested it also and when set:

    shutdown_timeout_sec: 120
    reboot_timeout_sec: 120

The task continues, but the server is never rebooted.
Couldn't get more details, but seems that the module isn't functional yet.

For that reason I have now in playbook:

[code]

This powershell cmdlet works without errors, maybe it can be used on the module.

[2017-05-14 14:40] ganeshrn commented on #24565
@codyjohn This issue should be fixed by this PR https://github.com/ansible/ansible/pull/24238
Can you please update to 2.3.1 and retest.

[2017-05-14 14:48] devopsberlin commented on #24401
@robinro, thanks for your help !

[2017-05-14 15:10] robinro commented on #24401
You're welcome. I hope I could help.

[2017-05-14 16:11] fiunchinho commented on #24578
It seems like in the boto3 rewrite, [the case when the stack status was ROLLBACK_COMPLETE was forgotten](https://github.com/ansible/ansible-modules-core/commit/f040d63403f6c459a278918fa48fa8cb87754506#diff-68a48645e655d4879298e03d72b70d11L205).

[2017-05-14 16:41] tafiela commented on #24411
I have a similar issue when trying to change the description on ios routers. this is my .yml file
`---

  -  name: CHANGE INTER DESCR
     hosts: ios
     gather_facts: no
     connection: local

     vars:

      ios_provider:
       username: "{{ username }}"
       password: "{{ password }}"
       host: "{{ inventory_hostname }}"

     tasks:

      - name: CHANGING LOOPBACK 0 DESCRIPTION

[2017-05-14 19:57] ganeshrn commented on #24557
https://github.com/ansible/ansible/pull/24570

[2017-05-14 20:11] EvanK commented on #24521
@flokru I'm concerned that this workaround wouldn't be python2 compatible

[2017-05-14 22:48] JLSNZ commented on #24480
@ganeshrn PR @24556 seems to have fixed the timeout problem

[2017-05-14 23:17] JLSNZ opened #24610 "junos_facts get remote config in JSON"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04 (2.3.0.0-1 deb package, 2.4.0 git devel)
MacOS Sierra 10.12.4 (brew 2.3.0.0)

##### SUMMARY
Obtain copy of Junos Config in JSON

##### STEPS TO REPRODUCE
Invoke junos_facts with gather_subset: config and config_format set to json

[code]

##### EX

[2017-05-14 23:52] JLSNZ opened #24611 "junos_config confirm cannot serialize"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04 (2.3.0.0-1 deb package, 2.4.0 git devel)
MacOS Sierra 10.12.4 (brew 2.3.0.0)

##### SUMMARY
When using confirm: with junos_config, play fails with serialize error
When confim is omitted, configuration is applied

##### STEPS TO REPRODUCE
[code]
T

[2017-05-15 03:34] Akasurde commented on #19278
For record -

[code]

[2017-05-15 06:04] chenzhiwei opened #24612 "Pipe lookup plugin giving "/bin/sh: 1: docker: not found""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup pipe plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
rhel7

##### SUMMARY
[code]

returned "/bin/sh: 1: docker: not found", even if I used `/usr/bin/docker --version`, the error still appear.

##### STEPS TO REPRODUCE
Install Docker engine, and run following task.

[code]

[2017-05-15 08:54] worldofchris commented on #20492
I'm still having this problem with 2.3.0.0.

Have documented on Stack Overflow here: http://stackoverflow.com/a/43975079/1064619

Steps to reproduce:

I created a new VirtualEnv:

    zoidberg:foley chris$ virtualenv ansible-test
    New python executable in /Users/chris/src/hc/foley/ansible-test/bin/python2.7
    Also creating executable in /Users/chris/src/hc/foley/ansible-test/bin/python
    In

[2017-05-15 09:03] wybczu commented on #19795
It looks like the problem still occurs. When I try to use `winrm` connection with encrypted `ansible_passowrd`  I'm getting:

[code]

although I can access encrypted variable in a play. Following playbook works perfectly:

[code]

[2017-05-15 09:18] Applemann commented on #20492
@worldofchris docker-py is older module, in ansible 2.3.0.0 try install only docker without docker-py:
[code]

and run your playbook.

[2017-05-15 09:26] antoinetran commented on #20492
If one install ansible from scratch in a clean centos environment, isn't Ansible supposed to bring the correct version of docker py or do we always need to run pip uninstall docker-py the first time?

[2017-05-15 09:33] mgrune commented on #24536
I'm afraid I cannot.  The code was run by a researcher and I have no idea how long it had been running, could have been weeks or longer.  There could also be a clue to the cause as the researcher was using anaconda python 2.7 while ansible runs using the system python.  The issue was resolved after a reboot, which was forced.  The researchers code was hanging on both servers.

The package manager

[2017-05-15 09:50] Yajo commented on #24295
Is it possible that clearing facts clears also the connection variables `ansible_port`, `ansible_user`, etc?

PS: Gonna try the race condition and will report back.

[2017-05-15 10:22] worldofchris commented on #20492
@Applemann thanks for that.  Tried your suggestion but get the same result:
[code]
Have I followed your instructions correctly?

Cheers

Chris

[2017-05-15 10:50] IngussNeilands commented on #23023
Bug still exists in pip install git+git://github.com/ansible/ansible.git@v2.2.3.0-1

[2017-05-15 10:58] Applemann commented on #20492
@worldofchris you can also try run it with python3 interpreter instead of python 2.7
Because I was same problem here: https://github.com/ansible/ansible/issues/20492#issuecomment-293644891
And I solved it by run playbook under python3.

[2017-05-15 11:04] Yajo commented on #24295
Fine, the race condition has been fixed with your suggestion, @nitzmahone, thank you very much!:

[code]

There's still the problem with disconnecting when using option B, not sure if it is a bug, maybe you want to keep this open for that, although on my side this can be closed.

[2017-05-15 11:20] jurajama commented on #24192
Unfortunately it seems that sros_config module is totally broken in Ansible 2.3. The very basic functionality of feeding in tab-aligned input files causes failures as Ansible is running commands on wrong levels of CLI.

This is the error:
[code]

When I'm running this input:
[code]

The problem is that sros_config of Ansible 2.3.0.0 does not run "ntp-server authenticate" under "ntp" but tries to r

[2017-05-15 12:55] bcoca commented on #23023
fix should be in 2.3.1 (which is currently in RC1)

[2017-05-15 13:32] #24592 closed, assigned to nobody

[2017-05-15 13:53] bcoca commented on #24573
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-15 13:53] #24573 closed, assigned to nobody

[2017-05-15 13:57] s-hertel commented on #24573
@davidmweber I only get this error if I uninstall boto, not if I provide the module with invalid parameters. I believe there is something wrong with your setup.

[2017-05-15 13:58] alikins commented on #24612
Where is docker installed? (ie, results of 'which docker'  ran as the user ansible-playbook runs as?)
Is the docker location in the PATH for the user ansible-playbook runs as?

[2017-05-15 13:59] bcoca commented on #24612
could you run?:
``` - local_action: shell docker --version```

[2017-05-15 14:15] jimi-c commented on #24448
@jordanst3wart lets keep things constructive, always best to show ways someone can better request help then jump on them.

FWIW @ilana1291, I don't have any problems with your report. I have seen much, much worse :)

[2017-05-15 14:34] worldofchris commented on #20492
Thanks @Applemann switched it to Python 3 and it worked.  I've needed a reason to move to Python 3 so this is as good a one as any.

Cheers!

[2017-05-15 14:37] abadger commented on #24448
@ilana1291 <nod>  What would help us is if you can get the reproducible case down to something that we can run here (and if you can simplify beyond that, it's even more helpful).  If we can run a playbook and see the error then it's easier for us to track down what is causing the failure.  Later we'll  know that we've fixed the problem (when running that playbook no longer shows the error).

So, f

[2017-05-15 14:43] codyjohn commented on #24565
Confirmed, testing with 2.3.1 allows me to specify the ```provider``` parameter and RPC calls are successful.   Thanks.

[2017-05-15 14:43] #24565 closed, assigned to nobody

[2017-05-15 14:46] #22943 closed, assigned to nobody

[2017-05-15 14:54] Hipska commented on #22943
Thanks! When will this be released?

[2017-05-15 15:09] devopsberlin commented on #21562
I have the same issue on `Ubuntu 16.04.2 LTS` when it called from `/etc/rc.local`

[code]
[code]
Error:
[code]

with `HOME=/root ansible-playbook ... ` it works.

[2017-05-15 15:13] psalaberria002 commented on #5442
Same issue here with 2.3.0.0.

[2017-05-15 15:21] maxalbert commented on #20977
I second @bcdonadio's feature proposal. Not having the full git repo available makes it quite awkward to do development on roles because any changes to the role can't be easily pushed back upstream.

I like the idea of having `ansible-galaxy` clone the role repo instead of downloading the tarball, but I suspect we can't expect Ansible users to have `git` installed by default. If there is an easy w

[2017-05-15 15:36] JonZeolla commented on #19000
LGTM, thanks!

[2017-05-15 15:36] #19000 closed, assigned to nobody

[2017-05-15 15:51] lhoss commented on #24326
probably relates to https://github.com/ansible/ansible/issues/18748  ( and dupe: https://github.com/ansible/ansible/issues/21279 )

[2017-05-15 16:29] jhawkesworth commented on #24494
I think this might just be an understanding. I would expect a relative path to resolve to the user's home directory (or to be a bit more windowsy, I'd expect the relative path root to be the same as %HOMEPATH% for any given user).  So I think the src value needs to change.

to demonstrate this

`ansible windowshosts -m raw -a 'pwd'`

The below ought to fix it - can you test?

[code]

That said I t

[2017-05-15 16:34] dizeee commented on #24045
You need to grant "Compute Engine/Compute Instance Admin" and "Project/Service Account Actor" to your service account.

[2017-05-15 16:39] jhawkesworth commented on #23747
Hello @trevorndodds
Sorry its taken me a while to look at this one.

Can you supply a little more information please.

1 Are you running ansible as a domain user, a domain administrator, local administrator, or other user?
2 do you have ansible_winrm_kerberos_delegation: set to true in your host_vars or group_vars

Could you re-run with -vvvvvv to see if there is any further debug information avai

[2017-05-15 16:48] lshake commented on #24547
PR created to fix : https://github.com/ansible/ansible/pull/24624

[2017-05-15 17:03] aleskiontherun opened #24626 "Error while using gcpubsub module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gcpubsub

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When trying to create Google Cloud Engine PubSub topic, I'm getting an error:
[code]
Same on macOS Sierra and on Ubuntu 16.04. Tried to install by apt, pip and from source.

Tried to remove `utils.display` usage from `module_utils/gcp.py` and build from source, whi

[2017-05-15 17:41] bdlamprecht commented on #24563
I was curious how wide-spread this problem was so I tested the same, simple **"acl-push"** playbook against an IOS-based Cisco Catalyst 3750X, and it functioned fine (idempotent).
Not stopping there, I tested the same PB against an IOS-based 2960X as well as an IOS-XE based 4500X, both of which also functioned as expected.

So, I then proceeded to update the code on the Cisco Catalyst 3850 that wa

[2017-05-15 18:27] digital-nomad17 opened #24628 "cannot find package six"
Hi,

I just created a fresh python2 virtualenv and installed ansible. When I try to run trellis playbook, I get a 'cannot find compat.six module' error. I ran 'pip install six' and it's already installed. anyone else having this issue with the latest ansible?

##### ISSUE TYPE
missing module - 'no module named six'

##### COMPONENT NAME
six
##### ANSIBLE VERSION
ansible 2.4.0
python 2.7.3

##### O

[2017-05-15 18:31] sivel commented on #24628
It seems that you have a callback plugin located at the following path, that is not compatible with ansible v2.4.0:

[code]

Since I see you are using the following ansible.cfg, I am guessing you are have configured ansible to look at that callback plugins directory:

[code]

needs_info

[2017-05-15 18:39] nwalke opened #24629 "debug: var=ansible_facts traceback"
##### ISSUE TYPE
 - Bug Report
##### ANSIBLE VERSION
[code]
##### COMPONENT NAME
facts(?)

##### CONFIGURATION
Nothing beyond installing

##### OS / ENVIRONMENT
Running Ansible from MacOS, trying to configure Ubuntu 16.04.

##### SUMMARY
I did this because it seemed easier than trying to get `-m setup` working with Vagrant:
[code]

##### STEPS TO REPRODUCE
Just use the task I listed above

##### E

[2017-05-15 18:43] sivel commented on #24629
The problem is that `ansible_facts` is not a top level key that you can query.  What you want instead is:

[code]

`ansible_facts` is a var returned by modules, that is effectively stripped out, and it's contents placed into `hostvars[inventory_hostname]`.

I won't close this, as we should still fix the traceback.

[2017-05-15 18:46] nwalke commented on #24629
Oh, awesome!  Thanks!

[2017-05-15 18:58] ghost opened #24630 "RDS read replica both requires and disallows 'subnet' parameter"
## ISSUE TYPE

This was copied over from https://github.com/ansible/ansible-modules-core/issues/4477

Bug Report
## COMPONENT NAME

module: rds

## ANSIBLE VERSION

ansible 2.1.1.0
CONFIGURATION

[defaults]
log_path=~/.ansible/ansible.log
host_key_checking = False
vault_password_file = ~/.ansible_vault

## OS / ENVIRONMENT

## OS X El Capitan 10.11.6

## SUMMARY

Using the rds module with 'command

[2017-05-15 19:11] AndrewCarre commented on #24628
here is my ansible.cfg file:
`[defaults]
callback_plugins = ~/.ansible/plugins/callback_plugins/:/usr/share/ansible_plugins/callback_plugins:lib/trellis/plugins/callback
stdout_callback = output
filter_plugins = ~/.ansible/plugins/filter_plugins/:/usr/share/ansible_plugins/filter_plugins:lib/trellis/plugins/filter
force_color = True
force_handlers = True
inventory = hosts
nocows = 1
roles_path = v

[2017-05-15 19:14] ilana1291 opened #24631 "Ansible PLAY RECAP Not Showing Failures with Blocks"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

Our Ansible playbook which uses a block structure does not show any failures in the PLAY RECAP at the bottom of the log. Even though the task itself shows "failed" or "fatal", it still shows failed=0 for all servers at the bottom

[2017-05-15 19:19] danvaida commented on #22402
@rosmo even if that's the case, what about idempotence? I would expect that a subsequent run doesn't fail if it can't find the volume.

[2017-05-15 19:26] gregwest commented on #23963
I also see the same behaviour on RHEL7.3. I tried with state: updated and state: args_present with the same result.
It seems that the args_present state must be used with only one item at a time, so as a workaround, you can do the following which was idempotent in my testing

[code]

[2017-05-15 19:33] sivel commented on #24628
You are running ansible v2.4.0 (devel) which has not yet been released from within the directory configured for trellis.  The file the trellis callback is trying to import no longer exists.

You will need to install ansible v2.2 or v2.3 for use with trellis until it is updated accordingly.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
*

[2017-05-15 19:33] #24628 closed, assigned to nobody

[2017-05-15 19:39] misterT1958 commented on #24128
abandoning 2.3.0.0

[2017-05-15 19:50] Illydth commented on #23547
I can "+1" this also, but to add a bit to this:
* https://github.com/ansible/ansible/issues/5442
* https://github.com/ansible/ansible/issues/12646

Not the first time this has been seen and it apparently is re-appearing in 2.3.0.0 after some time of being ... fixed? (That's unclear to me from the above).

[2017-05-15 19:53] bdlamprecht commented on #24563
With the help of some people in the Slack channel `NetworkToCode`, it appears that the issue is that the module is not getting the entire configuration.

By changing the code in `ansible/modules/network/ios/ios_config.py` to:
[code]

On this platform only, it is only getting to line 256 of the configuration whereas the ACL is on line 774.

The Slack channel `NetworkToCode` suggested investigating

[2017-05-15 20:08] jmcgill298 commented on #24563
Per debugs with @bdlamprecht (listed above); issue seems to be with the recv_data() function is working in the connection module_util.

[2017-05-15 20:15] nbaliba opened #24632 ""backup" command from dellos6_config module fails with 'IndexError: list index out of range'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/network/dellos6/dellos6_config
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
CentOS-7

##### SUMMARY
"backup" command from dellos6_config module has a bag.
see below

##### STEPS TO REPRODUCE
$ansible-playbook dnos6-backup-config.yml

PLAY [sw25spare] **********************************************************

[2017-05-15 20:18] szynaka opened #24633 "Missing information from registered var when template/copy change file contents in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Modules: template, copy

##### ANSIBLE VERSION
Testing below from devel branch of git repo last pulled 5/15/2017
[code]
Also affects 2.3.0.  Testing results the same
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS=1

ansible.cfg:
[code]

##### OS / ENVIRONMENT
Linux (Debian and RHEL distributions)

##### SUMMARY
Missing information from registered va

[2017-05-15 20:38] MichaelGoldsbie commented on #24057
I am seeing this exact same issue as well, in 2.3  Has any successful workaround been discovered (other than rolling back the upgrade to 2.3)?

[2017-05-15 20:54] tedder commented on #24578
Looks good, works for me.
`shipit`

[2017-05-15 20:57] fiunchinho commented on #24578
I think that comment has to go to the PR instead of here?

[2017-05-15 21:08] tedder commented on #24578
Nah, I wanna ship the issue :)

You're right.

[2017-05-15 21:10] tedder commented on #24578
`resolved_by_pr: 24596`

[2017-05-15 21:58] depereo commented on #22726
Raised https://github.com/ansible/ansible/pull/24637 to resolve.

[2017-05-15 21:59] chenzhiwei commented on #24612
- shell: docker --version

is ok.

docker is in /usr/bin dir

On May 15, 2017 21:59, "Brian Coca" <notifications@github.com> wrote:

[2017-05-15 22:05] gblansteen opened #24638 "user module fails to set password on AIX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from "Red Hat Enterprise Linux Server release 7.3 (Maipo)"
Managing AIX 7.1 TL04 SP02 (1614)

##### SUMMARY

Attempts to create user fail during setting of password.

##### STEPS TO REPRODUCE

ansible server -m user -a 'name=unxtst01 password="********"

[2017-05-15 22:07] gblansteen commented on #24638
The permissions of the /usr/bin/chpasswd file on the AIX side are restricted to the owner (root).  Expectation that privilege escalation using become and become_user=root would circumvent the restriction.

[2017-05-15 22:09] gblansteen commented on #24638
Adding "--become --become-method=sudo --become-user=root" to the command line execution results in the same error as presented.

[2017-05-15 22:55] dagwieers commented on #24494
@jhawkesworth Obviously that fixes it (I stated so in my description), but I think you miss the point of the ticket. It should not bail out the way it did.

BTW If people do this in the GUI, Windows will look for the executable (presumably using the PATH) and possibly makes it an absolute path. In any case, it works there.

[2017-05-15 22:55] dagwieers commented on #24494
!needs_info

[2017-05-16 01:26] alanwsmith commented on #17081
While I realize this is closed, this page comes up high in search results.

The FAQ link from bcoca is helpful for understanding the issue, but doesn't provide a solution for systems that don't have a python2 interpreter at all (e.g. base Ubuntu 16.04).

To help anyone else who gets here looking for that, try this Gist: [Get Ansible to work on bare Ubuntu 16.04 without python 2.7](https://gist.git

[2017-05-16 02:32] dove-young opened #24640 "Ansible 2.3 copy module changed file content when copy ssh private key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

/etc/ansible/ansible.cfg was left as default

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

I have some included tasks as below. the task <code> compose k8s_ssh_private_key_file into k8s_master_cert_dir</code> is in charge to copy <code>bam.key</code> fro

[2017-05-16 02:41] Akasurde commented on #24516
@theballdredge I think, you are trying to add existing module `pam_rootok.so` using `new_module_path` argument. This will result in no change in `/etc/pam.d/su` file as module exists previously.

You can try following Ansible Playbooks to have
`auth required pam_wheel.so use_uid` inserted after `auth sufficient pam_rootok.so`

[code]
Notice that `new_module_path` is `pam_wheel.so` which needs to b

[2017-05-16 02:41] dove-young commented on #24640
But if I re-run this playbook, the destination file <code>bam.key</code> in <code>/home/k8s_master_cert/srv/</code> would be correct.

Here is the trace log from re-run the same playbook.
[code]

[code]

[2017-05-16 02:50] abhigrover commented on #24481
I see that needs_triage was removed, is that because its a user error and not a bug?

Thanks!

[2017-05-16 02:51] Akasurde commented on #24516
needs_info

[2017-05-16 03:03] dove-young commented on #24640
And execute this task twice did not workaround this issue

[code]

[code]

And you may notice this sha1sum result of <code>/home/k8s_master_cert/srv/bam.key</code> is not stable from each execution
[code]

[2017-05-16 03:45] dove-young commented on #24640
Sorry this is not an Ansible issue actually. It's an mis-understanding on Kubernetes side. Kubernetes would generate its ssh private key instead of let user to specify one. So that the copied file is always been overwritten by which generated by Kubernetes.

[2017-05-16 03:45] #24640 closed, assigned to nobody

[2017-05-16 04:48] jhawkesworth commented on #24128
Looking at the module code, it winds up calling this .net method https://msdn.microsoft.com/en-us/library/ez801hhe(v=vs.110).aspx and looking at the documentation for the method, the destination must be a full path to a file, not a directory.

Things you can try:

1/ Ensure the user that ansible is running as has permissions to write to the destination directory.

2/ Try running the download power

[2017-05-16 05:13] lixiaominggit opened #24642 "shell problem"
[code]

The above is the command I executed

But only in the remote machine started redis, and did not start cronolog, is there any problem with my code?

[2017-05-16 05:17] sayantandas commented on #24435
Please let me know if this is the correct way or am I missing something?

[2017-05-16 05:27] jhawkesworth commented on #24494
Ok I missed the point of the ticket! I didn't know or had forgotten that windows will search for the link target if you create a shortcut in the GUI.

So, the question is, how to fix it?

In the case you describe, src is 'a file name to search for' rather than any kind of (relative or absolute) path.  I wonder whether to have a 'search_src' alternative to src attribute and make 'src' only accept r

[2017-05-16 05:49] nerzhul commented on #24435
duplicate_of #23176

[2017-05-16 06:22] weldpua2008 commented on #24594
@sivel

[code]
I tried to start again and there are the following entries in /var/log/secure:

[2017-05-16 06:24] Akasurde commented on #24542
@twillert Thanks for reporting this issue. Could you please paste output of `cat /proc/uptime` on Solaris System?

[2017-05-16 08:19] twillert commented on #24542
Hi,
there is no '/proc/uptime' on Solaris 11.3
[code]

[2017-05-16 08:40] gbus opened #24644 "setup module: mounts not starting with / are not listed in ansible_mounts fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module setup/ansible_mounts fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RH7.3 and 7.4 defaults from RPM

##### OS / ENVIRONMENT

RH7.3
and
Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

The fact "ansible_mounts" doesn't list mounts, where the device name doesn't start with '/', like for GPFS mounts. The setup

[2017-05-16 08:52] sayantandas opened #24645 "jenkins_plugin does not install plugins but says changed in output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jenkins_plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standadrd config. no changes
##### OS / ENVIRONMENT

` cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04 LTS"
`
##### SUMMARY

jenkins_plugin does not install the plugins in a jenkins installation but shows "c

[2017-05-16 09:14] lhoss commented on #21890
interesting that nobody explicitly mentioned the `private` option, which when set `False` should indeed expose the role's defaults and vars.
Ref: https://docs.ansible.com/ansible/include_role_module.html#options
OK by default it should be `False` so this would def. be an issue.. anybody tried setting it explicitly to `False` ?

[2017-05-16 09:31] ghprince commented on #17960
@bcoca have you got a chance to update the update the document? it seems #17995 has already been released.

[2017-05-16 09:32] silid opened #24647 "vmware_vswitch doesn't specify host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_vswitch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
I'd expect that when running the vmware_vswitch module it would apply the vswitch to the host that the playbook was run against, however it doesn't seem to specify a host at all, and consequently seems to apply the playbook t

[2017-05-16 09:36] mvrk69 opened #24648 "vmware_guest - deploy from template - object has no attribute port"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running from: Fedora 25 (x86_64)
Managing: VMware vSphere 6 with distributed vswitch
                  ESXi: 6.0.0 build-4192238
                  vCenter: VMware vCenter Server Appliance 6.0.0.20000

##### SUMMARY
I'm trying to deploy a VM from a template us

[2017-05-16 10:04] Jean-Daniel opened #24651 "know_hosts hash_host parameter ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
known_hosts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing relevant

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When passing the `hash_host` parameter to the known_hosts module, it ignore it and generate unhashed entry as follow:

[code]

[code]

instead of

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The

[2017-05-16 10:09] mrhockeymonkey opened #24652 "win_chocolatey not respecting expected exit codes such as 3010"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
- Running from RHEL 7
- Managing Windows Server 2016 OS on a HP Blade (ProLiant BL460c Gen9)

##### SUMMARY
The chocolatey package returns 3010 which is expected "Reboot required". When ansible invokes win_chocolatey it returns failed even though this re

[2017-05-16 10:09] lampogass commented on #24506
I solved the issue, i think. This happen if you have same named network on different vswitch/dvs. Here in my situation customer migrate from standard virtual switch to distributed and do not change network name. This morning i've changed network and used on that is unique on dvs and all work fine.

[2017-05-16 10:18] mattclay commented on #18259
This should probably be a sanity test instead of being part of the module validator. Most of our python source files shouldn't be executable, not just the modules.

[2017-05-16 10:43] woshihaoren opened #24656 "win_ping ERROR"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/usr/local/lib/python3.5/site-packages/ansible/executor/module_common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-16 10:55] KalyanLearning commented on #15321
Hello Ansible Team,
I have configured Ansible on Rhel 7x machines. I took examples as 2 machine . 1 - Control server and Node 1.I copied SSH keys and able to login withhout password one another sucessfully.
while trying to check "ping: via ansible , getting error for Localhost/ local control server IP address on Invertory file.
- Ping Sucess on Remote node but Un Reachable on Localhost
[code]
That

[2017-05-16 11:01] Shaps commented on #18259
Working on this

[2017-05-16 11:11] ginacked commented on #20319
Yep this would be a killer feature and the intended way of Microsoft to uninstall an application. How can I help with this, what is still open?

[2017-05-16 11:19] sivel commented on #24594
Yes, those are exactly the messages you would see if MaxStartups was preventing connections.

Read the `sshd_config` man page for more information and increase MaxStartups to a more sufficient value.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-16 11:19] #24594 closed, assigned to nobody

[2017-05-16 11:23] jhutar commented on #15856
Thank you @sivel , I have workarounded it by just getting "... | tail" of mine output. Ofcourse it does not make sense for lsof, but is OK enough for mine actual data.

[2017-05-16 11:23] hryamzik opened #24660 "interfaces_file module missing"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

interfaces_file

There's a [PR](/ansible/ansible-modules-extras/pull/2027) that was marked as `shipit`` but was never merged, can we get it available?
CC @bcoca

[2017-05-16 11:23] thuandt commented on #7235
I also gave up with `become: yes` and `SSH forward agent` in Ansible :(

[2017-05-16 11:36] erjohnso commented on #24626
FWIW, I've this too, but not on the gcpubsub module.  @dizeee, I see you also commented on https://github.com/jlund/streisand/issues/629.

I haven't tracked down root cause yet though.

[2017-05-16 11:46] davedastrange commented on #24398
any progress @nerzhul ?

[2017-05-16 12:10] trishnaguha commented on #22726
I unable to reproduce it on `devel 2.4`.

[2017-05-16 12:28] #24435 closed, assigned to nobody

[2017-05-16 12:30] jtyr commented on #24645
The reason for that is that you have to restart the Jenkins service to finish the plugin installation. Please follow the examples in the [documentation](https://docs.ansible.com/ansible/jenkins_plugin_module.html#examples) to learn how to do that.

@ansibot please close this issue as it's `notabug`.

[2017-05-16 12:34] nerzhul commented on #24398
no, i was very busy on other project these days, but i follow :)

[2017-05-16 12:58] kimegede commented on #14341
No `move` command and the `copy` command doesn't seem to work - at least not for me.
Can we get this moved on?

[2017-05-16 13:15] trevorndodds commented on #23747
Hi @jhawkesworth

Adding ansible_winrm_kerberos_delegation to my group_vars did it.
I didn't realize this was required.

Thanks a lot.

[2017-05-16 13:21] SergioFernandezCordero opened #24670 "ec2_ami module fails with AttributeError: 'Image' object has no attribute 'creationDate'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_ami module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory=hosts
roles_path=roles
host_key_checking=False
timeout=60
[privilege_escalation]
become_method=sudo

##### OS / ENVIRONMENT

Debian Jessie x86_64
##### SUMMARY

ec2_ami module creates an AMI, but fails with  AttributeError: 'Image' object has no attribute '

[2017-05-16 13:22] #24645 closed, assigned to nobody

[2017-05-16 13:30] bjolivot commented on #24541
something strange in your role:
become_user: ""

Become user is root or other user, don't think "" is a valid value.

[2017-05-16 13:43] karthik120 opened #24672 "Connecting to v-center returns error that's not clear"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory = /Users/axsundha/ansible/Content_Security/FreeBSD/hosts

##### OS / ENVIRONMENT
OS X EI Capiton

##### SUMMARY

When you run the playbook with vsphere_guest module, if the vmware URL is not complete, it returns mis-leading error

##### STEPS TO REPRODUCE

Run the pla

[2017-05-16 13:54] bjolivot commented on #24541
better to remove the become_user line

[2017-05-16 13:56] jimi-c commented on #24448
@ilana1291 I'd like to keep this open.

[2017-05-16 14:30] #24251 closed, assigned to ganeshrn

[2017-05-16 14:52] sivel commented on #24541
The `su` become method is broken in 2.3.0, but has been fixed for the upcoming 2.3.1 release.  Can you try to install v2.3.1 and see if it resolves your issue?

http://releases.ansible.com/ansible/ansible-2.3.1.0-0.1.rc1.tar.gz

needs_info

[2017-05-16 14:53] vcoleman commented on #15321
What fixed it for me was disabling paramiko by setting `ansible_connection=ssh`.

### Error:
[code]
### Fix:
[code]
run command:

    ansible-playbook -i inventory_file playbook.yml

### Host Environment:
- ansible 2.2.1.0
- OSX El Capitan 10.11.6

[2017-05-16 15:09] #23965 closed, assigned to nobody

[2017-05-16 15:11] saladpanda opened #24673 "apt deb: with url always reports changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt deb (with url)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

unchanged

##### OS / ENVIRONMENT

Distributor ID: neon
Description:    KDE neon User Edition 5.9
Release:        16.04
Codename:       xenial

##### SUMMARY

I have an apt-deb task which always reports "changed" although the deb is already installed.

##### STEPS TO REPRO

[2017-05-16 15:14] #24129 closed, assigned to nobody

[2017-05-16 15:14] Akasurde commented on #24670
Seems similar to #23980
@s-hertel Could you please confirm ?

[2017-05-16 15:16] theballdredge commented on #24516
the line exists but is commented out - i was expecting the line to ether be uncommented or have a new line inserted with the correct type/control/module settings

[2017-05-16 15:17] alexbrand opened #24674 "Smart fact gathering not getting facts when initial play is skipped due to conditional"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS Linux 7 (Core)
##### SUMMARY

When smart fact gathering is enabled, if the first play that would have performed the fact gathering is skipped due to a conditional, the subsequent play does not perform fact gathering. This seems like a reg

[2017-05-16 15:22] chenzhiwei commented on #24612
Hi, I run this inside a container and can reproduce it every time.

1. Create a Ubuntu 16.04 container and install Ansible 2.3.0.0

[code]

2. Run the ansible command to reproduced the issue

[code]

The output:

[code]

[2017-05-16 15:30] jimi-c commented on #20508
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-05-16 15:30] #20508 closed, assigned to nobody

[2017-05-16 15:32] sivel opened #24675 "os_server fails against Rackspace on subsequent runs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Python 3.6.1
shade 1.20.0
python-novaclient 8.0.0 / 7.1.0

##### SUMMARY
After creating a server with `os_server` on Rackspace, subsequent calls to "ensure" the server is there, fails with:

[code]

The following change resolves the issue for me:

[code]

####

[2017-05-16 15:32] sivel commented on #24675
cc @emonty

[2017-05-16 15:35] Akasurde commented on #24516
The commented module line comes by-default from PAM package. Did you try my suggestion ?

[2017-05-16 15:38] chenzhiwei commented on #24612
I may find some issues:

When I run `ansible 172.16.10.123 -i hosts --key-file=id_rsa -m debug -a msg="{{ lookup('pipe', 'date') }}"`, actually it runs on Ansible controller node, not the node `172.16.10.123`.

The purpose of using lookup.pipe is to solve one thing:

[code]

Merge the above two task to one like following:

[code]

Is there another way to merge the two tasks into one?

[2017-05-16 15:39] jhawkesworth commented on #23747
Great, glad to hear it is working.
Perhaps we need to give information about delegation more prominence in the documentation.
I'll close this issue now though, since you are working.

[2017-05-16 15:39] #23747 closed, assigned to nitzmahone

[2017-05-16 15:45] sivel commented on #24612
Yes, lookups always run on the ansible controller, and never remotely.  To run a command on the remote node, you will need to use `command` or `shell` and register the result, which can then be used in a later task as in your first example.

You may be able to use something such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2017-05-16 15:45] #24612 closed, assigned to nobody

[2017-05-16 15:58] Qalthos commented on #18974
bot_skip

[2017-05-16 16:17] geerlingguy commented on #22303
Commenting that my PHP role is impacted by this, but only on Debian 8 Jessie. It seems that some packages place both an initv script and systemd unit on the system.

[2017-05-16 16:28] alikins commented on #24626
module_utils/gcp.py imports code from 'ansible.utils' which causes problems

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp.py#L63-L68

Though I don't see it documented anywhere, that should be avoided, since the runtime for the module likely wont have the app code on the path ('ansible.utils' etc).

[2017-05-16 16:33] dav1x commented on #24506
@hlavacek87 yes. The logic for the vDS checks for a port_group attribute. The network name should be unique. This shouldnt be an issue on a vDS since a port group is unique on a vDS.

![screenshot 2017-05-16 11 32 42](https://cloud.githubusercontent.com/assets/7294149/26117224/6eec7b26-3a2b-11e7-90f7-762e6f078bc4.png)

[2017-05-16 16:38] dav1x commented on #24648
@mvrk69 testing this now.

[2017-05-16 16:58] jimi-c commented on #24448
Nevermind, I see you opened a new issue for this. Thanks!

[2017-05-16 16:58] #24448 closed, assigned to nobody

[2017-05-16 17:02] alikins commented on #24642
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-05-16 17:02] #24642 closed, assigned to nobody

[2017-05-16 17:10] alikins opened #24684 "improve error message for '"the field 'args' has an invalid value" errors"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

lib/ansible/playbook/base.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

Errors of some form of:
[code]

pop up a lot in devel/ currently.

(An example user reported issue: https://github.com/ansible/ansible/issues/24674)

The 'args' parts of the error message is kind of confusing since that isn't directly a user provided fi

[2017-05-16 17:36] Saloshp commented on #24110
My investigation shows, that this happens whenever installing a package aliased by a different name,
For example, 'xorriso'.
Installing the real package, 'libisoburn' in this case, solves the issue.

[2017-05-16 17:47] s-hertel commented on #24670
@Akasurde Good spotting. It looks like a different module but the same underlying issue.

@ElAutoestopista Thanks for opening this issue. What operating system is the instance you are creating an ami with? needs_info

[2017-05-16 17:55] briceburg commented on #20480
I'm using the DEBUG stdout callback, and get:

[code]

the actual error had to do with a name collision (a container with same name was running on host) -- and nowhere is it shown in output. Moreso the stderr line was confusing

[2017-05-16 18:00] regosse commented on #24057
We are having this issue with a Windows 2008 R2 server which I can't reproduce on other Win servers here. We're being told there's a Poweshell out-of-memory message on the server and we are continuing to find a workaround for this for one of our critical Production deployments.

As a workaround, can we reference the 2.2.1 win_copy module while still running 2.3?

[2017-05-16 18:31] ElAutoestopista commented on #24670
Thank you, guys
@Akasurde yes, I've seen that issue, but decided to open a new because a different module is affected.
@s-hertel The SO of the instance is also Debian Jessie. It's base is the official AMI whith some simple roles (apt, ntp and so)

[2017-05-16 18:46] flokru commented on #24521
Don't get me wrong. This workaround is merely a hotfix which is working for me and meant to show the actual problem. To be honest, I did not really check what is happening in the code, it's just an adaptation of the proposal in #21803.

[2017-05-16 18:53] dav1x commented on #24648
@mvrk69 I couldn't repro this. Do you perhaps have a vSwitch port group and a vDS port group with the same name?

[2017-05-16 19:02] #24557 closed, assigned to ganeshrn

[2017-05-16 19:03] jimi-c commented on #24631
@ilana1291 it appears this was fixed in 2.2.1. Testing on that version:
[code]
I've also verfied this is the case on the stable-2.3 branch and devel, so based on this I'll close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips,

[2017-05-16 19:03] #24631 closed, assigned to jimi-c

[2017-05-16 19:08] s-hertel commented on #24670
Hm. I'm still struggling to reproduce. I'm using boto. I've created an instance with debian-jessie-amd64-hvm-2015-06-07-12-27-ebs - ami-116d857a and successfully created an ami from the instance.
[code]

[2017-05-16 19:10] s-hertel commented on #24670
Looks like mine isn't tagging correctly though.

[2017-05-16 19:19] lafe3402 commented on #24057
I believe we will have to revisit those test :
2017-05-16 17:15:49 TASK [create remote directory with unicode name] *******************************
2017-05-16 17:15:50 changed: [windows-2012-R2_RTM] => {"changed": true}
2017-05-16 17:15:50
2017-05-16 17:15:50 TASK [copy local file with unicode filename and content] ***********************
2017-05-16 17:15:54 changed: [windows-2012-R2_RTM] => {"cha

[2017-05-16 19:25] jhawkesworth commented on #24057
@regosse - since you mention you are having this problem only on a Windows 2008 R2 server - please check if you have hotfix installed which fixes powershell out-of-memory problem?  From the ansible documentation here: http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

"On Windows 7 and Server 2008 R2 machines, due to a bug in Windows Management Framework 3.0, it may be necessa

[2017-05-16 19:31] regosse commented on #24057
Thanks. This was working before the 2.3 upgrade and now we're seeing several other issues popping up with our users and have decided to roll-back to 2.2.1 until 2.3.x comes out. Too many critical issues, especially around Windows modules, to continue.

[2017-05-16 19:31] jhawkesworth commented on #24057
Also I decoded the powershell command that was originally run.  Its actually just the part that creates a temporary directory:

Set-StrictMode -Version Latest
(New-Item -Type Directory -Path $env:temp -Name "ansible-tmp-1493290721.06-173732210612749").FullName | Write-Host -Separator '';
If (-not $?) { If (Get-Variable LASTEXITCODE -ErrorAction SilentlyContinue) { exit $LASTEXITCODE } Else { exit

[2017-05-16 19:36] jhawkesworth commented on #24057
@regosse - please provide specifics of issues you are encountering (on separate issues as appropriate) so community members can address your problems.  As far as I know there aren't currently any windows fixes targeted at 2.3.1 yet, so if there are issues which are impacting you this much, please raise issues.

For what it is worth we are in the middle of a rollout of 2.3 from 2.1.1 and so far the

[2017-05-16 19:56] datamaan commented on #24673
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py compares the `Package` and `Version` fields reported by `dpkg --field FILE.deb Package` and `dpkg --field FILE.deb Version` with those reported by python-apt. These are the results of manually doing those checks:

[code]

So the problem seems to be in the `python-apt` package.

[2017-05-16 20:01] regosse commented on #24057
Is this particular win_copy issue not going to be addressed in 2.3.1? It's one of the reasons why we're backing out of 2.3. I will certainly contribute our findings here after things settle down for us today :)

[2017-05-16 20:04] gaudenz commented on #22303
At least for Debian jessie and stretch having a sysvinit script and (optionally) a systemd unit in packages shipping a daemon is mandatory. This is also true for most Ubuntu packages. At least for now Debian wants to retain sysv support although systemd is the default init system.

[2017-05-16 20:05] thozza commented on #22305
tldr; my report was about dnf module not installing python2-dnf package when run, even though it is in its code. IOW dnf module contains a code to install python2-dnf using dnf command, in case python2-dnf is not installed on the system. I expect this is there because someone thought about the actual usefulness of this module. However this is not happening for some reason, supposedly because of a

[2017-05-16 20:08] nevertryneverfail opened #24691 "FAILED! => {"changed": false, "failed": true, "msg": "Unable to gather facts for non-existing VM websrvtst-01"}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS release 6.9 (Final)

##### SUMMARY

Cannot gather facts on a VM Guest -- nor does the snapshot module work.

##### STEPS TO REPRODUCE

[meuser@it-ansibleserver-01]$ ansible-playbook -i ./snapping_inventory  -e "serverpool=webservers" ./gather

[2017-05-16 20:09] jorisoverzet commented on #24322
Is there anything I can do to help to get this resolved?

[2017-05-16 20:22] OOsemka opened #24694 "os_port - allow port_security_enabled boolean flag to be controlled by the module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
os_port

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The os_port ansible module currently support many parameters for creating/updating and deleting port described in here:
https://docs.ansible.com/ansible/os_port_module.html
Unfortunately port_security_enabled  boolean flag is not one of the op

[2017-05-16 21:14] ElAutoestopista commented on #24670
Hi all,
I'll do some testing tomorrow in office and give further feedback

[2017-05-16 21:16] alexbrand commented on #16740
@sivel It also seems like it's not possible to set `static: false` on a playbook include?
[code]
Is there no way to conditionally include a play? Thanks

[2017-05-16 21:20] dsh1705 opened #24698 "openssl_csr adds unwanted "/" to csr"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openssl_csr
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Oracle Linux 7
##### SUMMARY

csr has a "/" between ST and emailAddress in the Subject , causing the verisign api to report error
##### STEPS TO REPRODUCE

create a csr with the following fields:
      countryName: US
      stateOrProvinceName: New York

[2017-05-16 21:22] sivel commented on #16740
playbook and task includes are completely different mechanisms, and playbook includes do dynamically include a playbook.

[2017-05-16 21:33] alexbrand commented on #16740
Thanks @sivel

I think I am confused, sorry. Does that mean there is a bug in playbook includes? It seems like behavior in 2.3.0.0 is different than what I have seen in 2.1.4.0.

With the following playbook:
[code]

This is the output with 2.3.0.0:
[code]

Versus 2.1.4.0 with the same playbook:
[code]

[2017-05-16 21:37] jhawkesworth commented on #24057
@regosse  I don't have any windows 7 to reproduce this issue on, and I am unable to reproduce it on S2012R2, so I need my questions above answering in order to (hopefully) understand the problem and create a fix for it.  Although I am a member of ansible github organisation, I am just a community volunteer with a particular interest in win_copy module.

needs_info

[2017-05-16 21:41] gregmark opened #24700 "ansible-vault does not accept stdin as promised with single vaulted variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault, single vaulted variable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- ANSIBLE_VAULT_PASSWORD_FILE=<location>
- ansible.cfg
[code]

##### OS / ENVIRONMENT
control box
- Amazon Linux AMI release 2014.03

##### SUMMARY
Being able to encrypt passwords and the like on the command line by echoing to ansible-vault's stdin and rece

[2017-05-16 21:47] maximede commented on #23591
I'm having the same issue ( with python 2.7 though) I think it's coming fromn the fact that `remote_src` is somehow set incorrectly.
If you look at the ansible 2.4 log, it says `"remote_src": false,`

[2017-05-16 21:49] sivel commented on #24700
Closing as a duplicate of the already resolved https://github.com/ansible/ansible/pull/23583

This fix will be included in a future 2.3.1 release

[2017-05-16 21:49] #24700 closed, assigned to nobody

[2017-05-16 21:57] regosse commented on #24057
I've requested to have this command run the affected Windows server and will get back to you as soon as I get the results. Thanks!

[2017-05-16 22:01] sivel commented on #23591
This appears to be an inconsistency in the way that `remote_src` works in comparison to `copy`.

Specifically due to these lines:

[code]

The change that likely caused this is due to 6aeea1fe

The work around currently is to also supply `copy=false`.  The documentation lists that `copy` is deprecated in favor of `remote_src` but this code path will not allow you to use a URL, without setting `cop

[2017-05-16 22:11] maximede commented on #23591
git bisect tells me that it hasn't been working since 7b197d823ee775b0138495bcd3954dff28851dd5

[2017-05-16 22:27] mvrk69 commented on #24648
Hi,

No, all have different names:

vDS / vDS Port Groups :
![ds](https://cloud.githubusercontent.com/assets/3237472/26130940/6856b76a-3a97-11e7-8304-76f5ae8eac2f.png)

DS / DS Port Groups:
![vs](https://cloud.githubusercontent.com/assets/3237472/26130959/800cf7b6-3a97-11e7-97de-ea5ad4c941ad.png)

[2017-05-16 23:24] j00bar opened #24705 "The synchronize requires SSH be present even when not using it"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Using docker connection plugin

##### OS / ENVIRONMENT
Alpine 3.4 container

##### SUMMARY
https://github.com/ansible/ansible/blob/b729b35/lib/ansible/modules/files/synchronize.py#L476-L477

This code snippet requires that `ssh` be findable when `src` or `dest` include a `:`. When

[2017-05-16 23:38] theballdredge commented on #24516
yes, that appears to have worked.  it might be beneficial to update the docs a bit for this, maybe expanding a bit on the 'new_*' values role when using before/after?

[2017-05-17 00:02] dsh1705 commented on #24698
My error - seems the "/" is OK. verisign api required "version: 0". I found this by comparing the content of a successful manually submitted csr, using: openssl req -in mycsr.csr -noout -text

[2017-05-17 00:02] #24698 closed, assigned to nobody

[2017-05-17 00:10] vpassapera commented on #24322
Would like latest ansible on 17.04 as well please.

[2017-05-17 01:09] gothiyag opened #24709 "Uri module post method removes plus (+) sign"
Ansible URI module remove plus sign when we do a post method call.
Am using credential API to create credentials in Jenkins. My payload has the attribute which carries SSH private key. am using ansible vault to store my key and feeding my vault variable to the payload.
Am getting successful response and even the credentials are created in jenkins.
However it removes the plus (+) sign from the cred

[2017-05-17 02:52] Akasurde commented on #24516
@theballdredge I have opened a documentation fix in above PR, let me know if it works for you.

[2017-05-17 04:21] iamyogeshg commented on #17594
+1

`2017-05-16 16:49:35,593 p=2435 u=root |  META: ran handlers
2017-05-16 16:49:35,594 p=2435 u=root |  META: ran handlers
2017-05-16 16:49:35,601 p=2435 u=root |  ERROR! Unexpected Exception: 0
2017-05-16 16:49:35,603 p=2435 u=root |  the full traceback was:

Traceback (most recent call last):
  File "/usr/local/bin/ansible-playbook", line 109, in <module>
    exit_code = cli.run()
  File "/usr

[2017-05-17 05:06] sayantandas commented on #24645
@jtyr , i have found the problem. the list of plugins is not displayed when the jenkins server is behind a proxy, even after specifying proxy details.
If I manually refresh the available plugins from Jenkins web interface and run the playbook again, it installs.

[2017-05-17 07:17] ElAutoestopista commented on #24670
Hi folks,
I've done some test and problem persists. I've tried using Python 2.7 (2.7.6), installing ansible from git releases and the error is still the same...
@s-hertel can you say what versions your environment has for testing?

[2017-05-17 08:48] dminca commented on #22993
Aborting. No time.

[2017-05-17 09:35] ElAutoestopista commented on #24670
Ok folks, so I found the problem. Was mine :dancer:
In the playbook, when launching the role which generates the AMI, y passed a group in hosts options. This is wrong, because this caused to run the AMI creation in one of the remote machines, which hadn't boto nor python updated, and then failed.
Running the playbook against localhost getting the source instance from ec2_remote_facts solved the is

[2017-05-17 10:08] nerzhul commented on #24691
Hello,
what is your PyVmomi version ?
do you tried to set a folder ?

[2017-05-17 10:45] jhawkesworth commented on #24656
Python 3.x support is still being developed.  Try running using a python 2.6 or later 2.x revision.

[2017-05-17 11:00] thapakazi commented on #20537
Any update on this, I am looped into the same issue describe above :thinking:

[2017-05-17 11:32] rotanid opened #24718 "apt: wrong alias for autoremove (autoclean)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(irrelevant)

##### OS / ENVIRONMENT
N/A

##### SUMMARY
in 2016 the feature "autoremove" was merged into ansible modules by https://github.com/ansible/ansible-modules-core/pull/2974
but this merge also contains "autoclean" as an alias for "autoremove", which is totally wrong as was po

[2017-05-17 11:37] hyperized opened #24719 "pause in loop_control not working with templating"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop_control -> pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When using pause inside loop_control, it won't accept my float-casted variable.

##### STEPS TO REPRODUCE

[code]

Also tried variants like:
[code]

To no avail, the error remains the same.

##### EXPECTED RESULTS
I expect a pause of

[2017-05-17 11:39] vinigfer commented on #24541
Ah OK, so it was a bug. I'll test it with 2.3.1 and get back to you as soon as possible. Thanks!

[2017-05-17 12:04] Akasurde commented on #24670
@ElAutoestopista Cool. I am happy that your issues is resolved. @s-hertel Could you please close this issue?

[2017-05-17 12:24] gundalow opened #24721 "Persistent Connection: Proxy information needs logging"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
networking

##### ANSIBLE VERSION
[code]

##### SUMMARY
If a user has specified to use a proxy (like https://github.com/gundalow/ansible/blob/7876870b5a2d28d5724080d6ceb9e32593083b68/docs/docsite/rst/porting_guide_2.3.rst#delegate-to-vs-proxycommand) we don't current log that in `ANSIBLE_LOG_PATH` making it difficult to debug issues

[2017-05-17 12:56] ryansb commented on #19972
Closed via #23404

[2017-05-17 12:56] #19972 closed, assigned to nobody

[2017-05-17 12:59] shawnsi commented on #23493
There is an implementation at https://github.com/ansible/ansible/pull/23407 but it needs a rebase for work merged in 2.3.

[2017-05-17 13:09] Gianlu commented on #24062
Hello,
I also had this issue. The error seems to be generated at line 410 in win_updates.ps1.
`$parsed_args.psobject.properties | foreach -begin {$job_args=@{}} -process {$job_args."$($_.Name)" = $_.Value} -end {$job_args}`
This decode fails on Ansible 2.3.0.0 and no parameters are passed to functions that use default values.
My workaround is replacing line 410 with
`$job_args=$parsed_args`
I hope

[2017-05-17 13:17] webvictim opened #24724 "maven_artifact does not use classifier when constructing destination name of artifact"
_From @tmoschou on May 2, 2016 4:40_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

maven_artifact
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X El Capitan v10.11.4
##### SUMMARY

When specifying a classifier for maven_artifact and a directory as the dest parameter, the destination filename is constructed assuming no classifier. I.e.

`artifact_id + "

[2017-05-17 13:17] webvictim commented on #24724
_From @alikins on May 2, 2016 17:27_

Looks like https://github.com/ansible/ansible-modules-extras/blob/devel/packaging/language/maven_artifact.py#L335 is the likely culprit. The destination dir name building may make more sense to move into MavenArtifact() class.

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on August 4, 2016 19:32_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on September 13, 2016 2:48_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @chrisisbeef on September 19, 2016 12:55_

@tmoschou / @alikins - I'll take a look at this today

[2017-05-17 13:17] webvictim commented on #24724
_From @TecHunter on September 29, 2016 8:2_

@chrisisbeef I have also the issue and found at line 214 that we go check the latest build number regardless of the classifier. I have 2 classifier A and B which have build numbers 79 and 80. If I want to download the snapshot for A it will give the build version of B because it's the latest. I will try to fix it and make a pull request.

edit: done [Pu

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on October 14, 2016 8:54_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on October 30, 2016 9:3_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on November 14, 2016 9:29_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @TecHunter on November 16, 2016 19:48_

Apparently this https://github.com/ansible/ansible-modules-extras/commit/1db36bea62d032f841153f2abd04d84fceb48fa7 fixes the issue. consider review for closing

[2017-05-17 13:17] webvictim commented on #24724
_From @bdellegrazie on November 24, 2016 17:14_

No 1db36be doesn't fix the issue for a non snapshot version with classifier

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on November 29, 2016 9:40_

@chrisisbeef, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-17 13:17] webvictim commented on #24724
_From @ansibot on December 6, 2016 21:53_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-05-17 13:17] #24578 closed, assigned to nobody

[2017-05-17 13:19] webvictim commented on #24724
This is still an issue using Ansible 2.3.0 - the classifier is not used as part of the output filename.

[2017-05-17 13:19] username1222 commented on #24508
Guess it's by design cause it has to be ansible managed instead of half ansible, half manual stuff

[2017-05-17 13:26] MatthewFawcett opened #24726 "Windows via SSH"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea?

##### COMPONENT NAME

Windows management over SSH

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

remote_tmp     = $HOME\ansible\.tmp

also changed $HOME to %HOMEPATH%, C:\temp, etc.

##### OS / ENVIRONMENT

Anisble runner: Linux version 3.10.0-514.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC

[2017-05-17 13:38] mvrk69 commented on #24648
Hi,

I found the problem, but its really awkward!

I check my template, and verified that the networks defined on the template where the ones from standard switch (VM Network, VM Private, etc..),  so i changed the networks in the profile to the distributed switch ones (DPG-LAN, etc..) and now the deploy with ansible works :)

[2017-05-17 13:41] cdalbergue opened #24728 "mysql_db import force option"
##### ISSUE TYPE
- Feature Idea validation

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When sql files are malformed, mysql_db import stops running.
mysql use the option force (-f) to avoid this problem when importing big sql files.

I think it is a good idea to integrate this option in mysql_db module and set it to false by default.

I ha

[2017-05-17 14:05] jeroenmaelbrancke commented on #22745
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

when running:
[code]
i get below error:

[code]

The weird stuff is when i try to run the same command on my local machine with the same ansible version it works.

[code]

ansible config:
[code]
Already tried to use this config f

[2017-05-17 14:06] hyperized commented on #24719
This playbook works if I replace the variable in pause with a value like: `pause: 10`. So templating does not work.

[2017-05-17 14:07] regosse commented on #24057
@jhawkesworth  We ran the PS command and here are the results:

Command was run but the folder was created at a slightly different location:

C:\Users\userid\AppData\Local\Temp\6\ansible-tmp-1493290721.06-173732210612749

It added another sub-folder called 6, not sure why…

[2017-05-17 14:11] hyperized commented on #24719
Noticeable curiosities:

- When the task is skipped, it will still pause once.
- It provides no output of the pause itself (so the user is left wondering).

[2017-05-17 14:16] mvrk69 opened #24729 "vmware_guest - deploy from template - can't see new VM in inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Running from: Fedora 25 (x86_64)
Managing: VMware vSphere 6 with distributed vswitch
ESXi: 6.0.0 build-4192238
vCenter: VMware vCenter Server Appliance 6.0.0.20000

##### SUMMARY
After deploying a new VM from template using ansible playbook, the new VM isn't visible in inventory

[2017-05-17 14:16] kevinard commented on #24542
Hi,
I'm experiencing the same error on SmartOS (solaris derivative), even with the LANG=en_US.UTF-8.
I tried the `ansible myserver -m setup` command with 2.3 and 2.4 versions of ansible and got the same error on both.

From the source code, it seems that the command used on Solaris to get the uptime value is `/usr/bin/kstat -p unix:0:system_misc:snaptime`. Here is the output from the server:

[cod

[2017-05-17 14:52] Edvecs commented on #19996
What I find difficult that some of the services -especially those which are connected to Linux systems somehow (for example Cygwin, Miktex)- don't have product_id (or better to stay don't have a registry object?). The way I am looking for the product_id is to browse thorough the: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WIndows\CurrentVersion\Uninstall

The product_id='auto' doesn't work for these ei

[2017-05-17 14:58] sivel commented on #23591
I've submitted a PR which should resolve the issue:

https://github.com/ansible/ansible/pull/24732

If possible, please test.

[2017-05-17 15:01] dagwieers commented on #19996
@Edvecs Beware `product_id=auto` is not yet support by the module !

[2017-05-17 15:05] nerzhul commented on #24648
Can we close the issue ?

[2017-05-17 15:05] marcinkubica commented on #10638
@defionscode
This problem exists in 2.3.  Creating instances, lb or security groups, adding ssh-keys - fine. However when hitting `ec2_lb` module it's getting.

[code]
lookup env trick works.

[code]

[2017-05-17 15:11] mvrk69 commented on #24648
Yes please.

Thanks.

[2017-05-17 15:17] eugeny-zurawski commented on #24508
That's what I'm trying to do - full managed by Ansible.
This issue doesn't allow to use module for make changes by different roles.

[2017-05-17 15:19] pingz opened #24734 "Multiple plays using the same only_tags"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

As we have multiple plays in one script, the only_tags of old PlayContext instance is the same object in the new instance. so new play will using old play's tags, even using a different options and a new Play instance.

I apply https://github.com/ansible/ansible/pull/

[2017-05-17 15:23] sivel commented on #24734
The Ansible Python API is not a public API and is intended for internal use only.

As such, if the `ansible-playbook` command works properly, then this issue is with your use of the API, and not a bug in the API itself.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2017-05-17 15:23] #24734 closed, assigned to nobody

[2017-05-17 15:28] theballdredge commented on #24516
thats a bit more descriptive, looks better to me.  it is a little odd that the behavior of the pamd module is similar to lineinfile but the operations of arguments is reversed - ie when inserting a directive you use one set of type/control/module, and when updating you use another.  lineinfile uses the same field to describe the line to be added, and then uses additional definitions to identify wh

[2017-05-17 15:39] defionscode commented on #10638
Likely means that is an issue with that module in particular as opposed to a larger scale issue as this issue originally implied. Could you open a new issue?

[2017-05-17 15:40] supertom commented on #24626
@dizeee @alikins @erjohnso, Yeah if your connections aren't local, then this will happen.  We only use display to print out the deprecation warnings, so there's no deep dependency on that ansible.utils.

[2017-05-17 15:47] Rickkwa opened #24735 "zabbix_host: cannot set host from being monitored by a proxy to being monitored by the server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I think everything is default.

##### OS / ENVIRONMENT
Running ansible on Centos 7, and managing Centos 6/7.

##### SUMMARY
Suppose you have a Zabbix host that is being monitored by a proxy and you want to update it so that it is monitored by the server instead of a proxy. If run an

[2017-05-17 15:49] debalance opened #24736 "fact_path in ansible.cfg has no effect"
##### ISSUE TYPE
 - Bug Report / Documentation Report

##### COMPONENT NAME
- setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian Sid / Ubuntu Xenial

##### SUMMARY
configuring fact_path in ansible.cfg has no effect,
I learned the hard way what these guys already knew:
https://groups.google.com/forum/#!topic/ansible-project/iThupGsqPPQ

##### STEPS TO REPRODUCE

[2017-05-17 15:50] bdlamprecht commented on #24563
After further testing, this issue appears to be due to some type of hardware-only problem on the device I was testing against (the software was upgraded three times).  I racked another 3850 to test against and everything functioned well (idempotent) similar to all other switches that were tested.

Just to comment, I'm not sure exactly what is wrong with the original 3850 I was using.  From what I

[2017-05-17 15:50] #24563 closed, assigned to nobody

[2017-05-17 15:53] bcoca commented on #24736
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Quoting the docs: **" for the implied setup task when using implied fact gathering"**, this setting only affects the `setup` task that

[2017-05-17 15:53] #24736 closed, assigned to nobody

[2017-05-17 16:08] bcoca commented on #24719
pause affects first iteration, conditional for skipping does not get evaluated until after pause.

[2017-05-17 16:26] debalance commented on #24736
I was talking about the implied fact gathering (I think) - the one that happens automatically before my play. When using the setup module explicitely in the play I can simply set fact_path there and it works, which is what I am doing now.

[2017-05-17 16:33] KalyanLearning commented on #15321
@Vcoleman, Thanks for the help..
I did the step you given, Still the same Error..
Ping comand

    $ ansible test -m ping

The Error shown on mine was some what differ than yours.---->
""msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic).\r\n""
I changed my Hosts file as below..

my host file entires ::
[code]

in the above 172.31.27.41 is my l

[2017-05-17 16:56] ricfeatherstone opened #24740 "Does EC2 Dynamic Inventory work with Assumed Roles in Shared Config?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

EC2 Dynamic Inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.ini

##### OS / ENVIRONMENT

RHEL 7 on AWS

##### SUMMARY

I'm working in an environment where I need to assume

[2017-05-17 16:59] dagwieers commented on #24726
Not yet, using Windows over SSH is on the roadmap but I don't think it is a priority right now. SSH is not included in the product, so unless that happens I doubt a lot of effort is being spend on this though.

[2017-05-17 17:02] marcinkubica commented on #19276
@Jsgoller1 `cryptography` libs are not solution to this. Hitting the problem randomly too. Especially when playing with `regions`. It can say a region is invalid or AWS down, or returns empty list.

[2017-05-17 17:04] emonty commented on #24675
This workaround in the code here is valid, and one we can apply to the os_server module at the moment ... but the bug is ultimately in shade. https://review.openstack.org/465672 is a patch that should make sure security_groups is always a list - which is what shade's data model contract says it should be.