[2020-03-09 20:28] cidrblock commented on #68119
Can we leverage the Ansible code for each collection moving forward?  (link to it) https://docs.ansible.com/ansible/latest/community/code_of_conduct.html#community-code-of-conduct

[2020-03-09 20:30] samccann commented on #15624
See above comments. Please open a new issue if you see further need for clarification in this area. thanks!

[2020-03-09 20:30] #15624 closed, assigned to gundalow

[2020-03-09 20:35] samccann commented on #16178
Closing this issue as it seems to have little support or community members waiting for it. If you feel differently, please create a new one with more detail.  Thanks!

[2020-03-09 20:35] #16178 closed, assigned to nobody

[2020-03-09 20:38] cidrblock commented on #68119
Some of this may be applicable, and need to be updated as well https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html

[2020-03-09 20:41] berts83231 commented on #68104
It looks like the python module only checks the api response for name and state
`if instance['state']['name'] in states:` line 191
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/lightsail.py

And in my experience, the api data is being sent back name and state, but without public_ip_address.

So there would need to be another check for that.

[2020-03-09 20:41] cidrblock commented on #68119
For collection that have a documented release and versioning strategy, we should include a section for this.  Version and release guidelines are WIP for a number of collections...

[2020-03-09 20:42] samccann commented on #16681
@gundalow - does this sound reasonable to add the CII badge to the ansible/ansible readme.rst list of badges?

[2020-03-09 20:53] samccann commented on #16804
Collections helps in this scenario but as prior comments suggest, the original behavior was unsupported and undocumented so there is nothing left here to change in the documentation.  Thanks for all the feedback!

[2020-03-09 20:53] #16804 closed, assigned to nobody

[2020-03-09 20:54] sivel commented on #68082
!component =lib/ansible/modules/network/nxos/nxos_l2_interfaces.py

[2020-03-09 20:54] acozine commented on #16804
Now that Galaxy supports collections, you can package multiple roles in a single collection and download them all together. See https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html#roles-directory for information about putting roles in a collection. The one restriction is that roles within collections can no longer contain plugins - any plugins in your collection must live

[2020-03-09 20:55] sivel commented on #68074
!component =lib/ansible/modules/cloud/amazon/aws_secret.py

[2020-03-09 20:55] sivel commented on #65501
!component =lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py

[2020-03-09 20:56] sivel commented on #68075
!component =lib/ansible/modules/system/sysctl.py

[2020-03-09 20:56] sivel commented on #68109
!component =lib/ansible/modules/network/aci/aci_epg_to_domain.py

[2020-03-09 21:14] gundalow commented on #16681
I had a look at this a while ago, it light have even been myself that registered Ansible.

I'm OK with the badge being added to README.

If this is something we care about we should go though the rest of the checklist and tick things off.

How about
1) add badge to README, which fixes this issue
2) Create an issue under ansible/community saying we should review the checklist.

[2020-03-09 21:16] acozine commented on #17661
Addressed by #66371, published as https://docs.ansible.com/ansible/devel/user_guide/playbooks_reuse_roles.html#running-a-role-multiple-times-in-one-playbook.

[2020-03-09 21:16] #17661 closed, assigned to nobody

[2020-03-09 21:16] sivel commented on #68111
!component =lib/ansible/template/__init__.py

[2020-03-10 01:52] berts83231 commented on #68104
I added an extra `time.sleep(5)` to function `def create_instance(module, client, instance_name):` in the module.
It is blunt but solves the problem.

Line 217
`
    time.sleep(5)
    inst = _find_instance_info(client, instance_name)

    return (changed, inst)

`

[2020-03-10 02:09] jjshoe commented on #68104
@berts83231 the version of the module available on the devel branch is massively different then the last tagged version from the looks of things, that may be related.

[2020-03-10 02:38] donhighmsft commented on #61546
Anything New on this front? What are people using currently for helm3 in Ansible?

[2020-03-10 02:48] berts83231 commented on #68104
I am probably wrong to have tagged the 'devel' branch. I'm not really sure what it is.

All I can see is that the 'devel' branch has code from Dec 2, 2019.
It is drastically different as you stated. If 'wait' set to yes, it waits until the state is 'running'.

I copied this code across to my local module and it works as expected for this task.

So I guess this issue has been dealt with but is not

[2020-03-10 02:48] #68104 closed, assigned to nobody

[2020-03-10 02:50] CosmoMyzrailGorynych commented on #67952
FYI there is a magical tool to transfer an issue from one repo to another.

![изображение](https://user-images.githubusercontent.com/3174357/76274833-36362000-62de-11ea-9fea-eb60c5d6e2d3.png)

[2020-03-10 04:27] mccarthyp-snet commented on #24427
+1

[2020-03-10 05:43] #64004 closed, assigned to Akasurde

[2020-03-10 06:40] tremble commented on #68113
https://groups.google.com/forum/#!topic/ansible-devel/6UAfogEDtG8

[2020-03-10 06:44] MatthiasLohr commented on #61546
The only (feasable) way I found is manually installing #62450 in my ansible module library. Works like a charm, I'm waiting to have this thing merged...

[2020-03-10 07:41] vMarkusK opened #68128 "vmware_tag_manager - certificate validation fails"
##### SUMMARY

If `validate_certs: yes` is set for the module vmware_tag_manager, the task fails.

[code]

OpenSSL itself and other modules like vmware_guest_disk, do validate the certificate succenfully.

If `validate_certs: no` is set for the module vmware_tag_manager, the task executes successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager

/lib/ansible/modules/c

[2020-03-10 09:18] mxmorin opened #68129 "Add Consul metadatas support"
##### SUMMARY
Consul now supports Metadatas. Is it possible to include this functionality ?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Consul

##### ADDITIONAL INFORMATION
Add metadatas informations to Consul module

[code]

[2020-03-10 10:08] danielmellado commented on #68119
Also, I was wondering whether it'd make sense to at least add a 'default suggested license', such Apache2.0 or GPLv3 to the template. I guess we can assume if people doesn't want to use it they'd just remove it and I'd rather have that than no license ;)

[2020-03-10 10:09] danielmellado commented on #68119
Specific to networking collections and even if it'd be on the metadata, it might be worth adding something akin to 'tested with {network_os} {network_os_version}

[2020-03-10 10:55] gundalow opened #68132 "[1w] ansible-test classifier vs new Collection paths"
##### SUMMARY

Warning, though in the case of `galaxy.yml` means we are running all tests.

https://app.shippable.com/github/ansible-collections/ansible.posix/runs/4/36/console

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

[2020-03-10 11:44] mycloudrevolution commented on #68128
I did some additional Investigation on TLS Level (`tcpdump -w /extras/dump -ni ens192 -p -s 65535 -c 300 "tcp port 443"`):
- Used TLS Version is fine (TLS 1.2)
- TLS Error: TLSv1.2 Record Layer: Alert (Level: Fatal, Description: Unknown CA)

[2020-03-10 11:55] vipinadm opened #68133 "gcp_compute_instance module failing with error "Invalid value for field 'resource.networkInterfaces[0].network""
##### SUMMARY
gcp_compute_instance module failing to create instance in non default network with error "Invalid value for field 'resource.networkInterfaces[0].network"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

#1. Note the existing network and subnet details
#2. Get info on a n

[2020-03-10 12:03] gundalow opened #68134 "Collections vs Platform abstraction action plugins"
#### SUMMARY

Consider the case:
* `action/package.py` (ansible-base)
* `zypper.py` (community.general)

Using ansible-base today (without routing.yml) the use of `package` failes on opensuse as Ansible doesn't know where to look for `zypper`.

**Use-cases**
* 2.9 like out the box experience
* Users doing `when: ansible_pkg_mgr == 'yum'` (can't just expand to FQDN)
*

[code]

**Questions**
* Shoul

[2020-03-10 13:00] goneri commented on #68128
Hi @mycloudrevolution,

Thank you for your bug report. Could you retry with release 2.9.6, https://github.com/ansible/ansible/commit/34a8594c91c should have resolved the problem.

Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com

[2020-03-10 13:18] sivel commented on #68134
Just to repeat this: There will be a time between now (migration) and GA when existing playbooks won't "just work™".

I would not be against this, I'd probably state that it is the best way. The core team has pretty much stated that use of the package module is only valid for the most simple use case, and most often it is best to use the discrete module instead of `package`.

I don't think so, ult

[2020-03-10 13:26] mycloudrevolution commented on #68128
I get the same error with ansible 2.9.6.

W00t? Did not notice the publication of the community.vmware collection.

[2020-03-10 13:36] Andersson007 commented on #66291
IMO it should fail in check_mode as the same as in the real mode when a service hasn't been found on a host, otherwise it can be a bit confusing https://github.com/ansible/ansible/pull/68136.

[2020-03-10 13:56] tubemeister opened #68139 "influxdb_user makes changes on --check run"
##### SUMMARY
influxdb_user changes the admin flag on existing users during a --check run

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
influxdb_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
Ubuntu 18.04 Bionic
Ansible 2.9.6 from PPA
Influxdb 1.7.9-1 from https://repos.influxdata.com/ubuntu bionic stable

##### STEPS TO REPRODUCE
- install influx

[2020-03-10 14:01] NicoleG25 commented on #67795
Note that [CVE-2020-1737](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1737) was assigned to this issue.

[2020-03-10 14:25] Akasurde commented on #68128
Please be aware there are some changes regarding the repository organization. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core https://github.com/ansible/ansible repository.
The development continues but in the new VMware collection repository: https://github.com/ansible-collections/vmware

https://github.com/ansible-collections/vmware/issues

[2020-03-10 14:25] #68128 closed, assigned to nobody

[2020-03-10 14:26] baronfel commented on #64614
FYI this can be closed as the underlying duplicate issue has been addressed and merged already.

[2020-03-10 14:30] sivel commented on #68133
!component =lib/ansible/modules/cloud/google/gcp_compute_instance.py

[2020-03-10 14:30] Akasurde commented on #67865
I had a discussion with the Ansible Core team internally, and we decided to go with the `vmware_local_user_manager` module and not making changes to the `user` module. Closing this issue for the same.

[2020-03-10 14:30] #67865 closed, assigned to Akasurde

[2020-03-10 15:12] bcoca commented on #68084
This will probably not do what you expect, the verbosity affects the whole engine, tasks get evaluated for a tiny portion of their own processing and execution, a lot of the verbosity you see for a task is run before we would evaluate the verbosity keyword, also there are forks to consider as verbosity set in a child will not affect the parent fork, which does a lot of the post-processing

[2020-03-10 15:15] samyope opened #68140 "Add multiline_delimiter to ios_banner module"
##### SUMMARY
Add multiline_delimiter configuration on module ios_banner

##### ISSUE TYPE
- Multiline_delimiter cannot be set on module ios_banner
- Cannot use the caracter @ in a multiline banner, as the default delimiter used is @ .
- Multiline banners without the @ caracter work perfectly

##### COMPONENT NAME
ios_banner

##### ADDITIONAL INFORMATION
[code]

playbook:

[code]

banner.cfg :
[co

[2020-03-10 15:22] bcoca commented on #68111
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

I'm not sure why you are expecting any of the examples to work, `default` will only handle 'the current variable' being undefined, not

[2020-03-10 15:22] #68111 closed, assigned to nobody

[2020-03-10 15:36] samccann commented on #19478
Closing this issue. Seems the config option mentioned above was removed in 2.8 so assuming this issue no longer exists.

[2020-03-10 15:36] #19478 closed, assigned to docschick

[2020-03-10 15:40] brutus commented on #68070
Until then this can be a workaround:

[code]

[2020-03-10 15:48] tomsucho commented on #68084
okay good to know, closing this then.

[2020-03-10 15:48] #68084 closed, assigned to nobody

[2020-03-10 15:54] Maelstromeous commented on #38172
I too am quite surprised that Ansible doesn't support this in the URI module. Ansibot says this issue has a PR but I don't see it linked, could anyone please link it?

[2020-03-10 16:15] sivel commented on #38172
https://github.com/ansible/ansible/pull/58845

[2020-03-10 16:47] geerlingguy commented on #61546
@donhighmsft / @MatthiasLohr - The kubernetes collection is probably the best home for this module, as it will not be merged into ansible/ansible now that the 'great collection migration' has occurred. I think the best course of action would be for @LucasBoisserie to recreate his PR against the K8s collection and then we can go from there. I'd love to see it get in soon!

[2020-03-10 16:55] donhighmsft commented on #61546
@LucasBoisserie can we make this happen ASAP. I would love for this to get merged and I can use helm 3 module. @geerlingguy thanks buddy, I also have Both of your books! The first one is like the Bible!

[2020-03-10 17:06] mschuchard opened #68143 "hashi_vault module with approle auth ignores VAULT_ROLE_ID env"
##### SUMMARY
According to the documentation for the `hashi_vault` module, the `role_id` and `secret_id` can be set with the environment variables `VAULT_ROLE_ID` and `VAULT_SECRET_ID`. However, the behavior of the module deviates from the documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hashi_vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMEN

[2020-03-10 17:11] nurseandthenerd opened #68144 "zoning issue with nxos_zone_zoneset module"
##### SUMMARY

when adding members to a zone that is already in a zoneset. module does not re-activate the zoneset because the zone was already in the zoneset. the zoneset needs to be re-activated any time members are added or deleted no matter if the zone was already in the zoneset or not.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_zone_zoneset
##### ANSIBLE VERSION

[code]

#####

[2020-03-10 17:24] nurseandthenerd opened #68146 "removing device-alias from zone with nxos_zone_zoneset module issue"
##### SUMMARY

when trying to remove a device-alias from a zone it never gets removed
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_zone_zoneset
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Software
  BIOS:      version 2.1.17
  loader:    version N/A
  kickstart: version 8.1(1)
  system:    version 8.1(1)
  BIOS compile time:       01/08/14
  kic

[2020-03-10 17:25] tomreeb opened #68147 "ios_vlans fails to create vlan if VTP is enabled"
##### SUMMARY

The ios_vlans module throws an error (ValueError: invalid literal for int() with base 10: 'Backup') while creating a vlan if VTP is enabled on the switch.

As a workaround, the deprecated ios_vlan module seems to work fine.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_vlans
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco WS-C3850

[2020-03-10 17:52] #17908 closed, assigned to nobody

[2020-03-10 19:17] jborean93 commented on #68132
Isn't this just a once off when you add the files. Once they are added they they won't be part of the change classifier. If they are changed they it kicks off all the runs.

[2020-03-10 19:37] clarsen opened #68149 "ios_command: "unable to set terminal parameters" error when user has "privilege level 0""
##### SUMMARY

Basically same as https://github.com/ansible/ansible/issues/44672 however that was closed out.

When attempting to run a playbook that uses the ios_command against a Cisco router that has "privilege level 0" configured for the user that ansible logs in as (ansible_user), the playbook fails with an, "unable to set terminal parameters" error because the "terminal length 0" command isn

[2020-03-10 19:43] AlanCoding commented on #62244
I hit this after trying to run the new development branch `temp-2.10-devel` (also on Mac).

This was kind of weird and concerning, but the advice `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` solved it for the moment. Thanks for that.

[2020-03-10 19:52] jjshoe commented on #62492
This module is full of bugs, all starting here: https://github.com/ansible/ansible/blob/1c64dba3c9800deabb45b75bfd17b951b66e0eee/lib/ansible/modules/packaging/os/snap.py#L136

It just checks that it's installed, it doesn't comapre it's version, to the latest version in the channel, aka `snap info [snap name]`

[2020-03-10 20:48] acozine commented on #19720
Tested today. The `ansible-playbook` command still returns 4 as an exit code when a host is unreachable. More generally, exit codes are inconsistent. We do not currently document this behavior (incorrectly, or at all) in any documentation we control. This means it's a low priority for now.

If you integrate Ansible with other systems, we recommend testing the return codes you need to use. Closing

[2020-03-10 21:00] gundalow commented on #68132
Correct

[2020-03-10 21:56] frock81 commented on #68088
That worked for me.

[2020-03-11 03:07] RommelLayco opened #68156 "When compare of variable fails"
##### SUMMARY

When using the `when` directive and using it to check if the variable is non empty. There is an error in evaluating the the conditional.

Note that ansible-lint state to use  `when: var` instead of `when: var != ''` when comparing if a variable is non empty

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2020-03-11 03:44] linlung985 opened #68157 "copy parameters in vmware_guest_file_operation module does not work"
The running results to the copy parameters of the vmware_guest_file_operation module keep popping up a failure message source file not found below.

{
    "_ansible_no_log": false,
    "_ansible_delegated_vars": {
        "ansible_host": "localhost"
    },
    "invocation": {
        "module_args": {
            "username": "administrator@vsphere.local",
            "vm_password": "VALUE_SPECIFIED

[2020-03-11 03:49] Akasurde commented on #68157
Please be aware there are some changes regarding the repository organization. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core https://github.com/ansible/ansible repository.
The development continues but in the new VMware collection repository: https://github.com/ansible-collections/vmware

https://github.com/ansible-collections/vmware/issues

[2020-03-11 03:49] #68157 closed, assigned to nobody

[2020-03-11 05:01] jborean93 commented on #68052
Issue migrated to https://github.com/ansible-collections/community.windows/issues/13.

[2020-03-11 05:01] #68052 closed, assigned to nobody

[2020-03-11 05:02] jborean93 commented on #67962
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/14.

[2020-03-11 05:02] #67962 closed, assigned to nobody

[2020-03-11 05:02] jborean93 commented on #67867
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/15.

[2020-03-11 05:02] #67867 closed, assigned to nobody

[2020-03-11 05:04] jborean93 commented on #67532
I cannot replicate this issue. If you still are finding a problem with this, please open a new issue at https://github.com/ansible-collections/community.windows

[2020-03-11 05:04] #67532 closed, assigned to nobody

[2020-03-11 05:06] jborean93 commented on #67536
Issue migrated to https://github.com/ansible-collections/community.windows/issues/16.

[2020-03-11 05:06] #67536 closed, assigned to nobody

[2020-03-11 05:06] jborean93 commented on #67627
Issue has been migrated to https://github.com/ansible-collections/ansible.windows/issues/10.

[2020-03-11 05:06] #67627 closed, assigned to nobody

[2020-03-11 05:07] jborean93 commented on #67642
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/17.

[2020-03-11 05:07] #67642 closed, assigned to nobody

[2020-03-11 05:07] jborean93 commented on #67764
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/18.

[2020-03-11 05:07] #67764 closed, assigned to nobody

[2020-03-11 05:09] jborean93 commented on #18819
While this could be implemented this is not something we are looking to do at this moment. If someone wishes to tackle this they can raise a PR on https://github.com/ansible-collections/community.windows which is where the module is not located.

[2020-03-11 05:09] #18819 closed, assigned to nobody

[2020-03-11 05:11] jborean93 commented on #22427
Closing due to the age of the issue. If there is still a specific problem please raise a new issue at https://github.com/ansible-collections/community.windows with more details.

[2020-03-11 05:11] #22427 closed, assigned to nobody

[2020-03-11 05:12] jborean93 commented on #24098
Migrated to https://github.com/ansible-collections/ansible.windows/issues/11.

[2020-03-11 05:12] #24098 closed, assigned to jborean93

[2020-03-11 05:13] jborean93 commented on #25465
Due to the age of this issue I am closing this issue. If there is still a specific problem please raise it at https://github.com/ansible-collections/community.windows which is where the module is now located.

[2020-03-11 05:13] #25465 closed, assigned to jborean93

[2020-03-11 05:14] jborean93 commented on #25471
Closing this issue due to it's age. If this is still a problem please post a new issue at https://github.com/ansible-collections/community.windows.

[2020-03-11 05:14] #25471 closed, assigned to jborean93

[2020-03-11 05:15] jborean93 commented on #26277
There is not much we can do here as there's no way (that I know of) to translate COM error codes to a message for WUA. If there is a way around this I am happy to see it but for now I am closing this as something we can't fix.

[2020-03-11 05:15] #26277 closed, assigned to jhawkesworth

[2020-03-11 05:16] jborean93 commented on #30412
Yes that is the case, this module isn't an `_info` to give info on an existing resource, the lack of `state` means `state: present` which means the physical_path is required when creating a website.

[2020-03-11 05:16] #30412 closed, assigned to jborean93

[2020-03-11 05:17] jborean93 commented on #32478
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/19.

[2020-03-11 05:17] #32478 closed, assigned to nobody

[2020-03-11 05:18] jborean93 commented on #33273
This is an issue on the underlying Python API which IIRC has been fixed. There is not much we can do in Ansible to solve this problem so I am closing this issue.

[2020-03-11 05:18] #33273 closed, assigned to nobody

[2020-03-11 05:20] jborean93 commented on #34284
WinRM cert auth is quite esoteric and right now we aren't planning on implementing this feature. It can theoretically be done but it's not something we plan to address and so I am going to close this issue.

[2020-03-11 05:20] #34284 closed, assigned to nobody

[2020-03-11 05:22] jborean93 commented on #34411
This looks like a specific problem on the host in question. We are unable to replicate the problem ourselves. I am going to close this issue due to these reasons.

[2020-03-11 05:22] #34411 closed, assigned to nobody

[2020-03-11 05:23] jborean93 commented on #34726
This is not a feature we are wanting to implement. You can set retries on the task level and having `ignore_errors` breaks the failed retry logic.

[2020-03-11 05:23] #34726 closed, assigned to nobody

[2020-03-11 05:23] jborean93 commented on #34994
Not sure what this feature request is actually looking for. If there are specific params you wish to have with the module please open a new feature request (preferably PR) at https://github.com/ansible-collections/community.windows which is where this module is not located.

[2020-03-11 05:23] #34994 closed, assigned to nobody

[2020-03-11 05:25] jborean93 commented on #35661
While I wouldn't object to this feature being added we are trying to cut down on features that sit around for months with no progress. Feel free to open a PR with your proposed changes if you wish to add this functionality at https://github.com/ansible-collections/ansible.windows which is where this action plugin is now located.

[2020-03-11 05:25] #35661 closed, assigned to nobody

[2020-03-11 05:27] jborean93 commented on #38917
Issue has been migrated to https://github.com/ansible-collections/ansible.windows/issues/12.

[2020-03-11 05:27] #38917 closed, assigned to nobody

[2020-03-11 05:27] #37795 closed, assigned to nobody

[2020-03-11 05:27] jborean93 commented on #37235
Issue migrated to https://github.com/ansible-collections/community.windows/issues/20.

[2020-03-11 05:27] #37235 closed, assigned to nobody

[2020-03-11 05:28] #36508 closed, assigned to nobody

[2020-03-11 05:30] jborean93 commented on #39612
This issue is around trying to run a Python module in Windows which will not work. Closing as it will require a `win_*` module which is a feature request at https://github.com/ansible-collections/community.windows

[2020-03-11 05:30] #39612 closed, assigned to nobody

[2020-03-11 05:31] jborean93 commented on #42020
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/13.

[2020-03-11 05:31] #42020 closed, assigned to nobody

[2020-03-11 05:33] jborean93 commented on #40510
Issue has been migrated to https://github.com/ansible-collections/ansible.windows/issues/14.

[2020-03-11 05:33] #40510 closed, assigned to nobody

[2020-03-11 05:34] jborean93 commented on #42764
It would be ok to see this functionality but I am closing this issue. If this is going to be implemented it will be in the new collection https://github.com/ansible-collections/ansible.windows. More than happy to see some PRs but for now this is not something we are actively working towards.

[2020-03-11 05:34] #42764 closed, assigned to nitzmahone

[2020-03-11 05:34] jborean93 commented on #42768
It would be ok to see this functionality but I am closing this issue. If this is going to be implemented it will be in the new collection https://github.com/ansible-collections/ansible.windows. More than happy to see some PRs but for now this is not something we are actively working towards.

[2020-03-11 05:34] #42768 closed, assigned to nitzmahone

[2020-03-11 05:35] #43060 closed, assigned to nobody

[2020-03-11 05:35] jborean93 commented on #43309
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/21.

[2020-03-11 05:35] #43309 closed, assigned to nobody

[2020-03-11 05:36] jborean93 commented on #43612
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/22.

[2020-03-11 05:36] #43612 closed, assigned to nobody

[2020-03-11 05:36] jborean93 commented on #43844
Issue has been migrated to https://github.com/ansible-collections/community.windows/issues/23.

[2020-03-11 05:36] #43844 closed, assigned to nobody

[2020-03-11 05:37] jborean93 commented on #43975
Issue has been migrated to https://github.com/ansible-collections/ansible.windows/issues/15.

[2020-03-11 05:37] #43975 closed, assigned to nobody

[2020-03-11 05:38] jborean93 commented on #46108
Closing as we haven't seen any further information. If this is still a problem please let us know and we can reopen this issue or create a new one.

[2020-03-11 05:38] #46108 closed, assigned to nobody

[2020-03-11 06:57] jborean93 commented on #23320
We have a few documented workarounds on this issue but unfortunately there is not much we can do to try and stabilise this. WinRM is a http protocol and is sensitive to these types of problems. Some workarounds available if you need to bounce the WinRM service in an Ansible task

* Use async on the task
* Use a module like psexec to avoid running over WinRM
* Use ssh as the transport
* Use the psr

[2020-03-11 06:57] #23320 closed, assigned to nitzmahone

[2020-03-11 06:58] jborean93 commented on #34226
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/16.

[2020-03-11 06:58] #34226 closed, assigned to nobody

[2020-03-11 07:04] jborean93 commented on #40159
There is a `wait_for_process` module that has been implemented and user's can set a longer pause to win_reboot as you have mentioned. Unfortunately there is no one size fits all here as each host's speed is determined by so many different factors outside of Ansible. I am going to close this issue as there is not much to be gained from discussing this any further. If you find an alternative solutio

[2020-03-11 07:04] #40159 closed, assigned to nobody

[2020-03-11 07:06] jborean93 commented on #41152
Issue migrated to https://github.com/ansible-collections/community.windows/issues/24

[2020-03-11 07:06] #41152 closed, assigned to nobody

[2020-03-11 07:07] jborean93 commented on #41799
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/17

[2020-03-11 07:07] #41799 closed, assigned to nobody

[2020-03-11 07:09] jborean93 commented on #43815
Based on @andrewsaraceni post above I think there is not much we can do here. People can specify a UPN which does not have this limitation but the Netlogon form does due to the sAMAccountName 20 char limit.

[2020-03-11 07:09] #43815 closed, assigned to nobody

[2020-03-11 07:10] jborean93 commented on #44176
win_nssm has had a few changes made to it recently and may have the parameters you wish. If it is still missing features you are interested in then raising a new feature request at https://github.com/ansible-collections/community.windows is the best way forward. This module has been migrated out of Ansible and into the `community.windows` collection.

[2020-03-11 07:10] #44176 closed, assigned to nobody

[2020-03-11 07:12] jborean93 commented on #46540
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/18.

[2020-03-11 07:12] #46540 closed, assigned to nobody

[2020-03-11 07:15] jborean93 commented on #46952
This to me is unnecessary logic as it will fail anyway if there isn't enough space on the disk. We are just adding more complexity to an already complex module to add a check that is already technically occurring. Someone is free to open a PR to try and implement this but I don't want to keep this issue open and just let it sit there (like it unfortunately has already). If anyone is interested in

[2020-03-11 07:15] #46952 closed, assigned to nobody

[2020-03-11 07:16] jborean93 commented on #47110
I'm not sure I see the added benefit here, if WSUS isn't available then `win_updates` will fail anyway. Having the WSUS server unavailable just means it will have to fail at another spot and unless you have some external way of kicking the server in an Ansible playbook there is not much the author can do.

[2020-03-11 07:16] #47110 closed, assigned to nobody

[2020-03-11 07:17] jborean93 commented on #47251
Issue migrated to https://github.com/ansible-collections/community.windows/issues/25.

[2020-03-11 07:17] #47251 closed, assigned to nobody

[2020-03-11 07:18] jborean93 commented on #47497
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/19.

[2020-03-11 07:18] #47497 closed, assigned to nobody

[2020-03-11 07:20] jborean93 commented on #47707
This isn't lost on us there's just no real way of implementing this in a common way and not just a hack for Windows. There are tentative plans to get working on trying to implement those ideas for a future Ansible version but right now a lot of the focus of our development to 2.10 is to enable collections support in Ansible.

[2020-03-11 07:21] jborean93 commented on #47810
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/20.

[2020-03-11 07:21] #47810 closed, assigned to nobody

[2020-03-11 07:22] jborean93 commented on #48577
This is a duplicate of https://github.com/ansible/ansible/issues/34470 and the workaround is to define an explicit remote tmp path for that task.

[2020-03-11 07:22] #48577 closed, assigned to nobody

[2020-03-11 07:24] jborean93 commented on #47653
Issue migrated to https://github.com/ansible-collections/community.windows/issues/26.

[2020-03-11 07:24] #47653 closed, assigned to nobody

[2020-03-11 07:24] jborean93 commented on #48629
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/21.

[2020-03-11 07:24] #48629 closed, assigned to nobody

[2020-03-11 07:25] jborean93 commented on #48660
Issue migrated to https://github.com/ansible-collections/community.windows/issues/27.

[2020-03-11 07:25] #48660 closed, assigned to nobody

[2020-03-11 07:27] jborean93 commented on #49874
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/22.

[2020-03-11 07:27] #49874 closed, assigned to jborean93

[2020-03-11 07:28] jborean93 commented on #50407
Issue migrated to https://github.com/ansible-collections/community.windows/issues/28

[2020-03-11 07:28] #50407 closed, assigned to nobody

[2020-03-11 07:28] jborean93 commented on #50566
Issue migrated to https://github.com/ansible-collections/community.windows/issues/29.

[2020-03-11 07:28] #50566 closed, assigned to nobody

[2020-03-11 07:29] jborean93 commented on #50778
This is not a feature we want ot implement on `win_package`. That module is designed to be a fairly install and uninstall of various package types and we don't want to overload it with package specific options. The best bet is to just use `win_command` with `args: creates` as an idempotent way to run the command you desire.

[2020-03-11 07:29] #50778 closed, assigned to nobody

[2020-03-11 07:30] jborean93 commented on #51032
Issue migrated to https://github.com/ansible-collections/community.windows/issues/30.

[2020-03-11 07:30] #51032 closed, assigned to nobody

[2020-03-11 07:31] jborean93 commented on #51865
This issue has actually be reported from an internal customer under a different problem. We need to look at trying to fix setup.ps1 to use the original IP primary dns suffix for the FQDN to match the previous behaviour before a recent change.

[2020-03-11 07:32] jborean93 commented on #51865
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/23.

[2020-03-11 07:32] #51865 closed, assigned to nobody

[2020-03-11 07:32] jborean93 commented on #51967
Issue migrated to https://github.com/ansible-collections/community.windows/issues/31.

[2020-03-11 07:32] #51967 closed, assigned to nobody

[2020-03-11 07:33] jborean93 commented on #52470
I can't replicate this. If this is still an issue for you please raise an issue at the module's new home at https://github.com/ansible-collections/community.windows with more details on how you came across this problem.

[2020-03-11 07:33] #52470 closed, assigned to nobody

[2020-03-11 07:34] jborean93 commented on #52471
See https://github.com/ansible/ansible/issues/52470#issuecomment-597485179

[2020-03-11 07:34] #52471 closed, assigned to nobody

[2020-03-11 07:35] jborean93 commented on #51634
Issue migrated to https://github.com/ansible-collections/community.windows/issues/32

[2020-03-11 07:35] #51634 closed, assigned to nobody

[2020-03-11 07:35] #51714 closed, assigned to nobody

[2020-03-11 07:35] ghost opened #68159 "Feature request: fossil module"
##### SUMMARY
Manage [fossil](https://fossil-scm.org/home/doc/trunk/www/index.wiki) checkouts of repositories to deploy files or software.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
source_control

##### ADDITIONAL INFORMATION
Generic use just like the git module, to avoid writing shell wrappers for fossil commands.

[2020-03-11 07:36] jborean93 commented on #51770
Issue migrated to https://github.com/ansible-collections/community.windows/issues/33.

[2020-03-11 07:36] #51770 closed, assigned to nobody

[2020-03-11 07:38] jborean93 commented on #53127
That HRESULT is fairly generic but there's not much we can do in the module to try and recover from that. Because this will be some specific problem on the host you need to analyse the Windows Update logs based on the output of https://docs.microsoft.com/en-us/windows/deployment/update/windows-update-logs.

[2020-03-11 07:38] #53127 closed, assigned to nobody

[2020-03-11 07:39] jborean93 commented on #53737
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/24

[2020-03-11 07:39] #53737 closed, assigned to nobody

[2020-03-11 07:39] #53847 closed, assigned to nobody

[2020-03-11 07:40] jborean93 commented on #54113
Issue migrated to https://github.com/ansible-collections/community.windows/issues/34

[2020-03-11 07:40] #54113 closed, assigned to nobody

[2020-03-11 07:41] jborean93 commented on #54669
Issue migrated to https://github.com/ansible-collections/community.windows/issues/35

[2020-03-11 07:41] #54669 closed, assigned to nobody

[2020-03-11 07:42] somospocos commented on #68159
!component -lib/ansible/module_utils/gitlab.py

[2020-03-11 07:42] jborean93 commented on #54723
Issue migrated to https://github.com/ansible-collections/community.windows/issues/36

[2020-03-11 07:42] #54723 closed, assigned to nobody

[2020-03-11 07:44] jborean93 commented on #54784
While this may still be an issue the `win_reboot` action plugin has changed a lot recently and this could potentially be solved. As I cannot replicate this myself I am going to close the issue. If this is still a problem please raise a new issue at the new collection where win_reboot is now located at https://github.com/ansible-collections/ansible.windows with details of how you can replicate this

[2020-03-11 07:44] #54784 closed, assigned to nobody

[2020-03-11 07:46] jborean93 commented on #55129
Using `win_nssm` for complex service configurations is not the end goal for that module. Any of this should happen in `win_service` if possible and only `win_nssm` if it is an NSSM specific option. I am closing this issue as we haven't heard back from @ksubileau's question and this module now migrated outside of ansible/ansible to https://github.com/ansible-collections/community.windows.

[2020-03-11 07:46] #55129 closed, assigned to nobody

[2020-03-11 07:46] jborean93 commented on #55170
Closing due to the above workaround. YOu are more than welcome to create a PR at https://github.com/ansible-collections/community.windows to add this fact for future users.

[2020-03-11 07:46] #55170 closed, assigned to nobody

[2020-03-11 07:48] jborean93 commented on #55734
Tags are supported for a while but some of the other parameters are not. Because these types of feature requests just sit around for months/years without any action I am going to close this one. If you wish to add this functionality yourself the module has been migrated to https://github.com/ansible-collections/community.windows.

[2020-03-11 07:48] #55734 closed, assigned to nobody

[2020-03-11 07:49] jborean93 commented on #55844
Recent version of win_updates return all the updates that are available and why they might have been filtered. This will contain the categories that are missing from your task that need to be set for them to be installed.

[2020-03-11 07:49] #55844 closed, assigned to nobody

[2020-03-11 07:49] jborean93 commented on #55873
Issue migrated to https://github.com/ansible-collections/community.windows/issues/37

[2020-03-11 07:49] #55873 closed, assigned to nobody

[2020-03-11 07:51] jborean93 commented on #56051
I personally don't think this is a good idea, module options should try and stay the same and having them in a polymorphic setting leads to a lot of confusion. We would also paint ourselves into a corner if Chocolatey package params ever go the switch route like `/PackageSwitch` as that does not lend well to a dict. It's not too hard having this as a string today so I am going to close this issue.

[2020-03-11 07:51] #56051 closed, assigned to nobody

[2020-03-11 07:51] jborean93 commented on #56084
You are more than welcome to create this module yourself (or any others). This would have to be directed to the new Windows community location at https://github.com/ansible-collections/community.windows.

[2020-03-11 07:51] #56084 closed, assigned to nobody

[2020-03-11 07:52] jborean93 commented on #56221
If this is still an issue then you are more than welcome to create a doc PR for win_psexec at its new location https://github.com/ansible-collections/community.windows. For now I am trying to remove older issues that has not really progressed further to keep things clean on migration.

[2020-03-11 07:52] #56221 closed, assigned to nobody

[2020-03-11 07:53] mkrizek commented on #68156
This is expected and is due to double-interpolation, see https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#double-interpolation.

Turning off the conditional bare vars option should result in desired behavior.

For more information please see https://docs.ansible.com/ansible/latest/reference_appendices/config.html#conditional-bare-vars and https://docs.ansible.com/ansib

[2020-03-11 07:53] #68156 closed, assigned to nobody

[2020-03-11 07:53] jborean93 commented on #57405
Issue migrated to https://github.com/ansible-collections/community.windows/issues/38

[2020-03-11 07:53] #57405 closed, assigned to nobody

[2020-03-11 07:54] jborean93 commented on #57815
This looks to be a problem on the underlying transport and while we have a workaround with restarting SSH the problem needs to be fixed on the Windows service side and not Ansible

[2020-03-11 07:54] #57815 closed, assigned to nobody

[2020-03-11 07:55] jborean93 commented on #57917
Issue migrated to https://github.com/ansible-collections/community.windows/issues/39

[2020-03-11 07:55] #57917 closed, assigned to nobody

[2020-03-11 07:56] jborean93 commented on #58006
This would be nice to do but right now we have no mechanism in place to keep these docs in sync and so any work today won't last. The overall goal is to deprecate these utils in ansible/ansible in favour of replacements in the `ansible.windows` collection so I don't think spending any time right now on the builtin ones is a good use of time.

[2020-03-11 07:56] #58006 closed, assigned to nobody

[2020-03-11 07:56] Lunik commented on #68159
-label gitlab

[2020-03-11 07:57] jborean93 commented on #59056
Issue has been migrated to https://github.com/ansible-collections/ansible.windows/issues/25

[2020-03-11 07:57] #59056 closed, assigned to nobody

[2020-03-11 07:58] #61733 closed, assigned to nobody

[2020-03-11 07:58] jborean93 commented on #59824
Issue migrated to https://github.com/ansible-collections/community.windows/issues/40

[2020-03-11 07:58] #59824 closed, assigned to nobody

[2020-03-11 07:59] jborean93 commented on #61990
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/26

[2020-03-11 07:59] #61990 closed, assigned to nobody

[2020-03-11 08:00] jborean93 commented on #61986
There is not much we can do about the WMI corruption except reduce the reliance on WMI where possible. Unfortunately that is not an easy task and right now `gather_timeout` is not implemented on the Windows facts. Closing as the underlying problem was found and not an actual issue with setup.ps1's code.

[2020-03-11 08:00] #61986 closed, assigned to nobody

[2020-03-11 08:02] jborean93 commented on #62056
Windows Server 2008 is not officially supported in Ansible and while we try to not introduce any breaking changes we are not focusing on adding new features/fixes unless they are critical to keep things working there. You are more than welcome to create your own facts module or extend setup with your own custom fact script to get the information you are looking for.

[2020-03-11 08:02] #62056 closed, assigned to nobody

[2020-03-11 08:04] jborean93 commented on #62145
#63093 should have solved this problem. Feel free to open a new issue on https://github.com/ansible-collections/community.windows if you are still having problems with it.

[2020-03-11 08:04] #62145 closed, assigned to nobody

[2020-03-11 08:05] jborean93 commented on #62343
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/27

[2020-03-11 08:05] #62343 closed, assigned to samdoran

[2020-03-11 08:06] jborean93 commented on #62601
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/28

[2020-03-11 08:06] #62601 closed, assigned to nobody

[2020-03-11 08:07] jborean93 commented on #62730
We have the workaround with `ServerAliveInterval=10` to try and make the connection more stable. Unfortunately I cannot replicate this myself to try and find out why that is the case nd because this isn't a supported method of connecting to Windows I probably won't have time to investigate it further. If you can find out any more useful information to try and track down why we can definitely revis

[2020-03-11 08:07] #62730 closed, assigned to nobody

[2020-03-11 08:09] jborean93 commented on #62899
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/29

[2020-03-11 08:09] #62899 closed, assigned to nobody

[2020-03-11 08:11] D3DeFi commented on #68088
Thank you @frock81 for trying the PR out. Unfortunately, contributions to ansible are currently locked. We would be able to merge the fix once the zabbix modules will be moved to `community.general` or some other ansible collections repo.

Sorry for the inconvenience

[2020-03-11 08:12] jborean93 commented on #63595
I personally would avoid this as it's not really a catch all implementation of whether Windows needs a reboot or not. It does pick up a few things like if pending file renames, CBS, and servermanager info but any of those (particular pending file renames) are easily set for anything and we can't really change the behaviour of the fact.

If you are rebooting because of this fact then you need to fi

[2020-03-11 08:12] #63595 closed, assigned to nobody

[2020-03-11 08:12] jborean93 commented on #63672
Issue migrated to https://github.com/ansible-collections/community.windows/issues/41

[2020-03-11 08:12] #63672 closed, assigned to nobody

[2020-03-11 08:13] jborean93 commented on #63780
Issue migrated to https://github.com/ansible-collections/community.windows/issues/42

[2020-03-11 08:13] #63780 closed, assigned to nobody

[2020-03-11 08:14] jborean93 commented on #64978
Issue migrated to https://github.com/ansible-collections/community.windows/issues/43

[2020-03-11 08:14] #64978 closed, assigned to nobody

[2020-03-11 08:15] jborean93 commented on #65771
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/30

[2020-03-11 08:15] #65771 closed, assigned to nobody

[2020-03-11 08:15] jborean93 commented on #65804
Issue migrated to https://github.com/ansible-collections/community.windows/issues/44

[2020-03-11 08:15] #65804 closed, assigned to nobody

[2020-03-11 08:17] jborean93 commented on #66066
Yes using `win_domain_computer` would be the way to go for this. Someone could look into adding the feature in `win_domain_membership` but I don't want to keep this issue open when there is another way possible.

Yes but you can explicit provider a user/pass if you don't want to use become, kerberos, or credssp just this `win_domain_membership`.

[2020-03-11 08:17] #66066 closed, assigned to nobody

[2020-03-11 08:18] jborean93 commented on #66538
Issue migrated to https://github.com/ansible-collections/community.windows/issues/45

[2020-03-11 08:18] #66538 closed, assigned to nobody

[2020-03-11 08:19] jborean93 commented on #66602
Issue migrated to https://github.com/ansible-collections/community.windows/issues/46

[2020-03-11 08:19] #66602 closed, assigned to nobody

[2020-03-11 08:20] jborean93 commented on #66804
[code]

Is only an option on command/shell and not generic for all modules. The win_xml module could implement it's own arg to disable warnings but I don't think that is a great idea. If you still wish to continue with this issue feel free to post a new one at win_xml's new location at https://github.com/ansible-collections/community.windows

[2020-03-11 08:20] #66804 closed, assigned to nobody

[2020-03-11 08:21] jborean93 commented on #67143
The error indicated here is common when the wrong shell type was specified. I am closing this issue due to no response from the issue author and will just assume they got it working in the end.

[2020-03-11 08:21] #67143 closed, assigned to nobody

[2020-03-11 08:22] jborean93 commented on #67308
Issue migrated to https://github.com/ansible-collections/community.windows/issues/47

[2020-03-11 08:22] #67308 closed, assigned to nobody

[2020-03-11 08:22] jborean93 commented on #67501
Issue migrated to https://github.com/ansible-collections/community.windows/issues/48

[2020-03-11 08:22] #67501 closed, assigned to nobody

[2020-03-11 08:23] jborean93 commented on #67504
Issue migrated to https://github.com/ansible-collections/community.windows/issues/49

[2020-03-11 08:23] #67504 closed, assigned to nobody

[2020-03-11 08:43] Akasurde commented on #67266
I can confirm setup continues to gather facts with warning.

[code]
Since this is just a warning and does not actually affects the functionality. I am marking this resolved.

[2020-03-11 08:43] #67266 closed, assigned to Akasurde

[2020-03-11 09:33] ronansalmon commented on #61986
Should I create an other issue to honor gather_timeout on the Windows facts ?

[2020-03-11 09:52] jborean93 commented on #61986
Yes please add a new feature request at https://github.com/ansible-collections/ansible.windows which is where the module now lives.

[2020-03-11 09:56] rohitthakur2590 commented on #61229
haven't seen this for a long time now.

[2020-03-11 09:56] #61229 closed, assigned to rohitthakur2590

[2020-03-11 10:04] Eugen1987 opened #68160 "azure_rm_keyvault module not update access_policies for a keyvault"
##### SUMMARY
Hi.

When we try to update access policies the module not update it:

    - name: "Update kv"
      azure_rm_keyvault:
        resource_group: "{{ rg }}"
        vault_name: "{{ kv }}"
        enabled_for_deployment: true
        vault_tenant: "{{ kv_tenant }}"
        enable_soft_delete: "false"
        sku:
          name: standard
        access_policies:
          - tenant_id: "{

[2020-03-11 11:03] zoulja opened #68162 "zypper_repository fails to disable all repositories"
##### SUMMARY

Seems there is no way to disable all repositories with zypper_repository, even this is basic and trivial function, module outputs incorrect diagnostic messages
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zypper_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
SLES11sp3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Al

[2020-03-11 11:33] nomadcz opened #68164 "Play occasionally fails with : {"msg": "'ansible_distribution' is undefined"}"
##### SUMMARY

Play occasionally fails with the error FAILED! => {"msg": "'ansible_distribution' is undefined"}

When I run the same play again it works couple of times and then it fails again.
I include parts of role in tasks/main.yml as:

    - name: "Include config.yml"
      include_tasks: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}/config.yml"

    - name: "Include ser

[2020-03-11 11:34] gdubicki commented on #19720
I don’t understand „We do not currently document this behavior (incorrectly, or at all) in any documentation we control” from your reply, @acozine . It is documented in man. Is man for ansible-playbook outside your control?

[2020-03-11 12:28] s-hertel commented on #65855
Reopening as per above. Not exactly sure why the bot closed this.

bot_status

[2020-03-11 12:36] nomadcz commented on #68164
Seems colleague of mine turned on fact caching. Will try disabling it.

[2020-03-11 13:00] ronansalmon commented on #61986
Done. https://github.com/ansible-collections/ansible.windows/issues/31

[2020-03-11 13:17] duch94 opened #68166 "In module cron parameter weekday seems not working"
##### SUMMARY
In module `cron` parameter `weekday` does not set the day of week in crontab. But alias `dow` does.
https://docs.ansible.com/ansible/latest/modules/cron_module.html#parameter-weekday

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module `cron`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Work station is on Ubuntu 18.04.4 LTS, server is on

[2020-03-11 13:41] briantist commented on #47707
I've been working on a side project that will enable Ansible to work against a JEA endpoint, but it works just as well without JEA so it has a fair amount of overlap with this kind of thing (many of the things @jborean93 mentioned like caching the modules, sending fewer WinRM messages, possibility of pre-compiling the C# utils).

I've got working prototypes just not anything that's quite in a stat

[2020-03-11 13:51] #64129 closed, assigned to nobody

[2020-03-11 13:58] acozine commented on #19720
@gdubicki can you provide a current link, or an installation method and version, that would get me to the man page where you see this information? I've checked all source material we maintain, and we do not document it anywhere that I can find. It's possible that someone involved in packaging for a particular platform added this information to their man page.

[2020-03-11 15:07] p-le commented on #26581
My current workaround
using mysql_db to import sql file.

[code]

[code]

[2020-03-11 15:11] azertyfun commented on #12565
As promised, [here is a strategy that does this](https://gist.github.com/azertyfun/70b5341310840f92636ecf3ea2c3c6d3). It inherits `linear` and works like `--start-at-task` if the `START_AT_TASK` environment variable is set to a task name, except it doesn't skip tasks marked with the `always` tag.

DISCLAIMER: This hasn't been tested properly, though I will do some further work on it as we start im

[2020-03-11 15:12] ironick09 commented on #33402
Likewise I am running into this issue as well. Oddly enough, I have one switch that this module works perfectly fine on, the other, not so much.

[2020-03-11 15:23] Eugen1987 opened #68167 "azure_rm_keyvault_info not show storage field for access policies"
##### SUMMARY
The module azure_rm_keyvault_info not show storage field for access policies
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_keyvault_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible 2.9.6
python version = 3.7.6 (v3.7.6:43364a7ae0, Dec 18 2019, 14:18:50) [Clang 6.0 (clang-600.0.57)]
macOs Catalina 10.15.1 (19B88)

##### ST

[2020-03-11 15:39] acozine commented on #23446
This issue appears to be out of date. We're closing it. Future issues related to the pkgng module should be filed on the repo for the relevant community collection.

[2020-03-11 15:39] #23446 closed, assigned to nobody

[2020-03-11 15:42] hsvins12 opened #68169 "ERROR! 'win_get_url' is not a valid attribute for a Play"
##### SUMMARY
---

- hosts: win
  become: no

  tasks:

- name: Download the 7-Zip package
  win_get_url:
    url: https://www.7-zip.org/a/7z1701-x64.msi
    dest: C:\temp\7z.msi

- name: Ensure 7-Zip is installed via win_package
  win_package:
    path: C:\temp\7z.msi
    state: present

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
ansible 2.9.5

[2020-03-11 15:43] hsvins12 commented on #68169
This is the error :

ERROR! 'win_get_url' is not a valid attribute for a Play

The error appears to be in '/Ansible Documentation/first_playbook.yml copy': line 12, column 3, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

- name: Download the 7-Zip package
  ^ here

[2020-03-11 15:47] samccann commented on #20409
This has been addressed. Changelogs now use this date format - https://github.com/ansible/ansible/blob/stable-2.8/changelogs/CHANGELOG-v2.8.rst#v2-8-10

Thanks for opening the issue! If you see this in other areas please open a new issue or PR to address it.

[2020-03-11 15:47] #20409 closed, assigned to nobody

[2020-03-11 15:52] acozine commented on #21239
Since this issue was opened, we have added links for more information and a line to document the precedence of `-e` extra vars. For now we are not turning the list into a table, because of concerns about accessibility and responsive design.

Feel free to open a new issue with more ideas for optimizing the documentation on variable precedence!

[2020-03-11 15:52] #21239 closed, assigned to nobody

[2020-03-11 15:54] mkrizek commented on #68169
This is an indentation error, tasks need to be indented at the same level as the `tasks` keyword otherwise it's parsed at the play level which is why you get the error.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-11 15:54] #68169 closed, assigned to nobody

[2020-03-11 15:58] acozine commented on #21662
Closing. Dynamic inventory scripts are deprecated in favor of [inventory plugins](https://docs.ansible.com/ansible/latest/plugins/inventory.html). We'd recommend using the `aws_ec2` plugin or the workaround listed above.

[2020-03-11 15:58] #21662 closed, assigned to nobody

[2020-03-11 16:02] samccann commented on #21967
docs fix - change this section to say tests not filters - https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#testing-strings

[2020-03-11 16:09] bcoca commented on #22114
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-aws or #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by

[2020-03-11 16:09] #22114 closed, assigned to nobody

[2020-03-11 16:26] acozine commented on #22622
The `s3` standalone module hasn't existed for many, many releases. Closing this particular issue, with thanks for your feedback on the Ansible documentation.

[2020-03-11 16:26] #22622 closed, assigned to nobody

[2020-03-11 17:05] abenokraitis commented on #68119
how about a section for `supported connection methods`? <shrug>

[2020-03-11 17:54] samccann commented on #68119
Is supported connection something that extends beyond network collections?

[2020-03-11 18:06] abenokraitis commented on #68119
Yes, HTTPAPI is something that can be used beyond network. Also, local as well. WinRM for Windows.

https://docs.ansible.com/ansible/latest/plugins/connection.html

[2020-03-11 18:07] craph opened #68172 "Variable precedence show different value with role dependencies"
##### SUMMARY
I write this issue because I suppose I have an issue with variable precedence with role dependencies
When a parent role includes other roles as a dependency, and overrides the child role's default values, the new value is propagated to the second role without passing the variable in the meta to the second role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIB

[2020-03-11 18:13] Hoshpak opened #68173 "service module fails to detect running services on Gentoo OpenRC"
##### SUMMARY

The service module does not correctly detect the running state of openrc-services. This seems to be because it is unable to capture the output of the `rc-service` command. Usually the stdout output of the command looks like:

[code]

However ansible captures no output on stdout and the following on stderr:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service
##### A

[2020-03-11 18:13] fcam-naveen commented on #68057
Can anyone share what is the solution? or should I provide more info?
I wanted to use raw commands, not junos modules. I just need to perform show commands on Cisco, Juniper, F5 devices.

[2020-03-11 18:17] wirerydr commented on #65855
(Speaking as the originator of this bug report)

Something weird is going on - Ansibot seems to be expecting feedback from me, but I pulled the PR, tested it, and provided feedback (to this issue on this comment thread) nearly 3 months ago - Please refer to https://github.com/ansible/ansible/issues/65855#issuecomment-566408521.

Please let me know if anything further is required from me, and I wil

[2020-03-11 18:24] Hoshpak opened #68174 "service module does not complete on Gentoo with OpenRC and SELinux"
##### SUMMARY

When the rc-service command is used in conjunction with SELinux it asks to confirm the user password every time it is executed, even for just querying the status of a service. The service module does not handle the password prompt rc-service just keeps waiting for input and the playbook execution is stalled.
##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

serv

[2020-03-11 18:44] jborean93 commented on #68119
I don’t see how supported connection methods really is a thing outside of networking. For Windows you can use any connection plugin that works with Windows regardless of the module.

[2020-03-11 18:47] geerlingguy commented on #68119
To @jborean93's point, none of the collections I work on care much about supported connection methods (most use SSH, local, or docker but it doesn't affect much real-world use or expectations.

I think the README's should have an ideal / recommended structure, but any individual collection may choose to diverge as needed (e.g. networking collections might want to add a section on supported connect

[2020-03-11 19:10] GomathiselviS commented on #67631
@feisa When the configuration commands are multi line, please use aggregate. Use the following play and let us know if you face any issues.

`- nxos_logging:
        aggregate:
          - { dest: server, remote_server: splunk, facility_level: 6, use_vrf: default, facility: auth }
          - { interface: loopback 0 }
          - { timestamp: milliseconds }
`

[2020-03-11 19:11] GomathiselviS commented on #67631
needs_info

[2020-03-11 19:20] sivel commented on #68172
This is the expected behavior.  Role vars, including those specified in `vars:` are scoped at the play level, and are not restricted to just the role where defined.  As a result, the `vars:` supplied on a role, affect every task and role in the play, and have higher precedence than role defaults.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.free

[2020-03-11 19:20] #68172 closed, assigned to nobody

[2020-03-11 20:16] mjcotner commented on #67870
We can create a VM manually. We also have a local VCSA server that works great. I really have no idea where the issue is happening. It makes sense that Ansible would not dictate packet size to the OS. The only thing I know is this playbook hangs and eventually times out, while multiple attempts are made by the OS to send packets that are too big for our network. It may be that a MTU size less 1294

[2020-03-11 20:17] antonc42 commented on #49112
I have also run into this issue on Ansible 2.9.6 (installed from pip) on Ubuntu 19.10. As the original post states, it appears to only be a problem with the "xz" format. Other formats create the destination file and work correctly.

[code]

[2020-03-11 20:25] pgrenaud commented on #61534
@nitzmahone All things consider, I think it is a very reasonable option! From my perspective, trying to move away from python 2, the ordering of the fallback list is an issue and I would like to avoid to explicitly set the python interpreter per host. But I totally understand that reordering it might break a lot of stuff for a lot of people. So yeah, if it was configurable in the first place, I mi

[2020-03-11 20:41] sivel commented on #68159
Thank you very much for your interest in Ansible. As of March 9, 2020, we are no longer accepting new modules to this repository.  New modules will need to be contributed to a repository for an Ansible collection responsible for this functionality.

In this case, https://github.com/ansible-collections/community.general is probably the best location.

If you have further questions please stop by IR

[2020-03-11 20:41] #68159 closed, assigned to nobody

[2020-03-11 20:43] sivel commented on #67166
Thank you very much for your interest in Ansible. As of March 9, 2020, we are no longer accepting new modules to this repository.  New modules will need to be contributed to a repository for an Ansible collection responsible for this functionality.

In this case, https://github.com/ansible-collections/community.general is probably the best location.

If you have further questions please stop by IR

[2020-03-11 20:43] #67166 closed, assigned to nobody

[2020-03-11 20:44] craph commented on #68172
@sivel Thank you very much for the update.

But where is the document that explain this point ?

The documentation about variable precedences seems not clear about that.

[2020-03-11 20:48] groggemans commented on #66655
I'm also running in to this issue on all four of my MikroTik devices (all running 6.46.2).

The identity strings on my devices are all below 24 characters so I don't expect that issue is causing the bug for me.

[2020-03-11 20:59] abenokraitis commented on #68119
Approximately a third of all modules in 2.9 are network related, and connection methods will become more important with the various means to do so (local, network_cli, httpapi, netconf, grpc tbd, etc). If it isn't applicable for others that's fine but it's a big piece for network and a few others.

[2020-03-11 22:06] groggemans commented on #58325
I also noticed that the `routeros_command` module will have the commands echoed a few times in the registered stdout data if the command is to long. Applying the above mentioned workaround also fixes that behavior.

[2020-03-11 22:31] shadowink opened #68179 "win_chocolatey module not using full source path"
##### SUMMARY
When running the win_chocolatey module via a winrm connection, it works fine.  When running it over an OpenSSH connection and using the source parameter it drops anything beyond the base url, and fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey
win_chocolatey.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catali

[2020-03-11 23:27] ram-ibm opened #68181 "Unable to invoke handlers from another role with a Collection"
##### SUMMARY

We have developed an Ansible Collection that has multiple roles. One of the roles has all the common handlers. We are unable to reference the handlers in that role from other roles in the Collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible Collection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am executing code on MacB

[2020-03-12 00:23] gdean-icwgroup commented on #63595
@ShachafGoldstein  I had been running this from the administrator's group. I was not seeing exceptions though so I am not sure what you had meant there.

@jborean93 I am currently checking for reboots in a different way. The way I am doing it though it basically the same as the one provided by this fact. I have found that because the setup module is not checking for `$false` it is returning the wr

[2020-03-12 03:55] #33193 closed, assigned to nobody

[2020-03-12 05:24] #62897 closed, assigned to maxamillion

[2020-03-12 09:45] Console32 commented on #67119
I could not find out why this is mixed up, would it be possible to cut the CLIXML content - and log it ?

[2020-03-12 09:46] KaliszAd opened #68185 "Ansible Playbook on Windows fails if a UNC Path is present in PSModulePath"
### SUMMARY
Ansible playbook on Windows fails with something like:
[code]
It was discovered, that a [UNC Path is present in PSModulePath](https://support.microsoft.com/en-us/help/4076842), which seems to trigger the double hop problem with certain authentication methods, such as Kerberos.
The PSModulePath contents can be displayed with `$env:PSModulePath`.

This could be documented e.g. in ansible

[2020-03-12 09:59] mmolinac commented on #37827
Nothing new on this?

[2020-03-12 10:58] danielmellado commented on #68119
+1 to that, @abenokraitis , that's something I'm frequently asked over the irc.

[2020-03-12 11:21] itcultus commented on #67766
I have some news...
I dig a bit and eventually, the issue is the lack of a passphrase
The error indicates the line 246 which is about this. When I added a | default('') (since I don't use a passphrase) it worked.

[2020-03-12 11:24] andyfeller commented on #56930
@Tronde : one would argue that contributors AND customers are consulted before stories are written to understand the impact and gather feedback well before someone codes a solution.  As several here have mentioned, this is a product mgmt failing we've seen more than once.

[2020-03-12 13:10] JamieMagee commented on #56084
@jborean93 I recreated the issue at ansible-collections/community.windows#50

[2020-03-12 13:29] philfry commented on #49371
Hi all,
apparently the fix has not yet been merged to master. Also the PR #53644 does not provide the fix anymore, only the unit test.

[2020-03-12 14:03] s-hertel commented on #68166
If aliases are broken this would be a widespread issue (individual modules like cron aren't managing aliases themselves). I can't reproduce it with your suggested tasks or find any recent changes to the alias code that would influence this. Can you verify your findings and share an actual play that demonstrates the issue?

needs_info

[2020-03-12 14:30] sivel commented on #68181
I talked with @maxamillion about this yesterday.

To cover the code flow quickly:

1. The strategy looks up the handlers by name in https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/__init__.py#L425-L433
1. That lookup can use `Task.get_name()` on the handler https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/task.py#L114-L125
1. There `self._role.get_name(

[2020-03-12 14:36] s-hertel commented on #68072
Bug introduced in ee413fe414890cbcb4d366f9f9ab8b427df98659

[2020-03-12 14:49] ram-ibm commented on #68181
My rookie question on using "common handlers : Commit Changes" would be - that I am using FQCN in my playbooks inside the Collection and FQCN for module name and Connection Plugin -- why would just the handlers *not* need FQCN? I would hope for a standard pattern across the Collection.

[2020-03-12 14:56] sivel commented on #68181
@ram-ibm I'm not sure I have the answer you are looking for, other than my explanation above outlines the issue from a code perspective.  I don't believe we document the `role_name : handler_name` syntax, and thus not many know about it, and as such, it was likely an oversight when collections and FQCN syntax was introduced.  We just don't do collection comparison in this code path.

[2020-03-12 14:57] AlanCoding opened #68186 "Galaxy install command does not validate null collections entry"
##### SUMMARY
Certain `requirements.yml` file syntax still leads to traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib//ansible/cli/galaxy.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS / N/A

##### STEPS TO REPRODUCE
Make a requirements file that has a null entry for collections

[code]

now run `ansible-galaxy collection install -r r

[2020-03-12 15:04] ram-ibm commented on #68181
FYI - I just tried testing without FQCN and got this:
[code]
Also tried to quote the handler name separately and still got an error:
[code]

[2020-03-12 15:14] mnecas commented on #67932
Hi @frangdlt, thank you for the report and perfect example 10/10. I'll try to get the fix to 2.9.z.

[2020-03-12 15:17] seamlesstesterWS1 opened #68188 "tower_send unable to process job template with multiple choice (single select) prompt"
##### SUMMARY

tower_send module unable to process job templates that leverage survey's with Multiple Choice (single select) prompts.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_send
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (C

[2020-03-12 15:27] microbioticajon commented on #62302
For some reason, when I run my play over an existing bucket that has manually been set to public access, it is reverted back to being "blocked" which is not idempotent. Not sure if anyone else is having that problem...

[2020-03-12 15:39] #65919 closed, assigned to nobody

[2020-03-12 15:42] AlanCoding commented on #65440
This is still a pretty major pain point, and I feel like it should be on the radar. Particularly as it relates to AWX / Tower @wenottingham

[2020-03-12 15:59] Soldann commented on #65450
Making the above change or adding decrypt to argument_spec both remove the error. However, decryption doesn't actually occur unless remote_src is explicitly set to no. Is this expected behaviour?

[2020-03-12 17:06] tjanez commented on #68084
Related to #24215 and #41621.

[2020-03-12 17:20] virtuoz75 opened #68189 "Using lookup to construct a variable ( vars, 'string' + item + 'string') return undefined variable"
##SUMMARY

Hello, I am trying to build a variable using "lookup", the output varaible seems to be correct but still got "undefined variable" error

variable that I want to use: result1.results[0].rc
lookup variable output: result1.results[0].rc (but undefined error)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup( )
with_items:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code

[2020-03-12 17:36] AlanCoding commented on #68188
Those modules have moved here:

https://github.com/ansible/awx/tree/devel/awx_collection
https://galaxy.ansible.com/awx/awx

Within a few weeks, they will be deleted. The issue tracker is now the AWX issue tracker.

The send / receive modules were wrappers around the tower-cli library which is deprecated.

A replacement is in the works at https://github.com/ansible/awx/pull/6125. That will replace

[2020-03-12 17:40] #68188 closed, assigned to nobody

[2020-03-12 17:57] crutcha opened #68191 "Junos network_cli error handling is truncating output"
##### SUMMARY
When using junos_command with network_cli transport, error messages from the device are being truncated. In this specific case an invalid configuration is sent and loaded on the device then `commit check` is ran. The output received back is not the entire error message from the device. This is happening with 2.8.x and 2.9.x both.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2020-03-12 18:52] DaazKu opened #68193 "Variables scope of role dependencies is global"
##### SUMMARY

When specifying the dependencies of a role, the variables passed to the role are put in a global scope.
This can cause problems when multiple roles have the same dependency but with different parameters.
This is especially true if a role has variables that are optional and get polluted by other dependencies thus causing errors when executing.

More or less related to https://github.

[2020-03-12 18:53] s-hertel commented on #68189
The vars lookup finds entire variables by using top level variable name(s). 'result1.results[0].rc' isn't a valid variable name, but you can get the result you want by moving the keys outside of the lookup parentheses:

    - debug:
        msg: "{{ lookup('vars', 'result1')['results'][0]['rc'] }}"

I'm not quite sure what variable construction you're trying to achieve, but filters will probably h

[2020-03-12 18:53] #68189 closed, assigned to nobody

[2020-03-12 19:00] sivel commented on #68193
What is the purpose of this issue?  It sounds to be a statement of fact.

This is the expected behavior, but can be overridden in different scenarios.

You can use role params instead of role vars:

vars:
[code]

params:
[code]

Or you can use `include_role`, which defaults to private scoping:

[code]

Alternatively, there is also a config option for this at https://docs.ansible.com/ansible/latest

[2020-03-12 19:00] #68193 closed, assigned to nobody

[2020-03-12 19:16] bcoca commented on #68164
needs_info

[2020-03-12 19:36] bcoca commented on #68173
I don't think this is a service issue, it is an `su` + `local` one, I can use the service module w/o any issues either w/o privielege escalation or using `sudo` on Gentoo with OpenRC.

This is a known issue as `su` requires terminal access and the `local` plugin does not provide one.
closing as duplicate of #38696

[2020-03-12 19:36] #68173 closed, assigned to nobody

[2020-03-12 19:39] bcoca commented on #68174
The service action has no support for services that require response to a prompt, so I"m going to reclassify this as a feature request.

[2020-03-12 19:44] geerlingguy opened #68194 "Allow version constraints in requirements.yml or CLI"
##### SUMMARY

As part of the Great Collection Migration, more and more (if not most/all) Ansible users are going to start needing to deal with Collection dependencies in playbooks. And most people who have more than one playbook will likely need to be able to define a specific version or range of versions they want to depend on.

Here's the scenario:

  1. Operator SDK wants to use the [`communit

[2020-03-12 19:54] fabianvf commented on #68194
+1, without this the benefit of using semver isn't even super clear as it can't be factored into automation. We would like to pin our users to a major version to ensure that they don't accidentally pull in breaking changes, but we also want them to continually get minor/z-stream features and bugfixes. Currently the only options we have are documenting what users should do, or writing scripts aroun

[2020-03-12 20:07] jborean93 commented on #68194
This can be done already as documented at https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-an-older-version-of-a-collection. This applies to both the CLI and the `version` entry under the requirements.yml.

[2020-03-12 20:07] #68194 closed, assigned to nobody

[2020-03-12 20:08] fabianvf commented on #68194
oh wow not sure how I missed that, thanks a ton and great news!

[2020-03-12 20:25] DaazKu opened #68196 "Allow role to define dependencies that will only be installed"
##### SUMMARY

There are currently no formal way to declare dependencies without having them running when the parent role is imported/included.

If you want to have more control over a role dependencies you pretty much have to resort to gather roles dependencies and put them all in a requirements file. Allowing the possibility to just require the role to be installed and handling everything else w

[2020-03-12 20:51] geerlingguy opened #68198 "Roles can't use collection modules when collections are listed at playbook level"
##### SUMMARY

If I put a task from my playbook which uses a module defined in a collection into a role, it breaks the playbook.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

  - collections
  - roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina

##### STEPS TO REPRODUCE

[code]

`main.yml` contents:

[code]

`test_role/tasks/main.yml

[2020-03-12 20:56] geerlingguy commented on #68198
Before someone tells me that I should start writing out the Fully Qualified Collection Name (FQCN) on each and every task I write in all my Ansible playbooks... no. I'm writing YAML, not Java! The `collections` keyword should work the same for any task in a play, whether that task is in the play, in an included task file, or in a role.

[2020-03-12 21:00] sivel commented on #68196
Closing as a duplicate of https://github.com/ansible/proposals/issues/57

[2020-03-12 21:00] #68196 closed, assigned to nobody

[2020-03-12 21:03] sivel commented on #68198
This is expected, please see https://github.com/ansible/ansible/pull/66667

[2020-03-12 21:03] #68198 closed, assigned to nobody

[2020-03-12 21:12] geerlingguy commented on #68198
Can we reopen if we don't agree this is useful and/or expected behavior?

Or alternatively, can we just drop the `collections` keyword entirely and force everyone to always type in the FQCN for everything?

Having both coexist == hell once 2.10 is released and people try updating playbooks.

[2020-03-12 21:16] sivel commented on #68198
There are no plans to change this behavior.

[2020-03-12 21:42] geerlingguy commented on #68198
In that PR's description:

Why can't a role _fall back on_ the calling playbook's settings? As it is, this is going to make my use of roles a lot more painful. I get adding collections to a role like my `geerlingguy.mysql` role on Ansible Galaxy, because that way someone using my role without also needing to use `community.general`'s `mysql_user` module would not have to _also_ add a `collections`

[2020-03-12 22:29] 00willo opened #68199 "Add support for subuid and subgid to user module"
##### SUMMARY
Subuid's and subgid's are used as part of Linux user namespaces. Heavily relied on by container technologies such as podman/docker.

Adding subuid and subgid support in the user module would make this easier.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
The ansible user module

##### ADDITIONAL INFORMATION
The usermod command supports the following:
[code]

This results in

[2020-03-13 00:32] mlda065 commented on #67415
I have seen this many times over the past week, whenever I try to use `async`, for more than one type of module.

I tried to create a simple playbook to reproduce it (instead of my full production playbook). I could not reproduce it with the minimal working example. My minimal working example successfully uploaded multiple files to AWS S3 in parallel.

For the full, real playbook, the problem is c

[2020-03-13 00:38] goneri commented on #67870
Are you sure the VCSA VM uses the correct MTU? I personally faced several cases where Photon's systemd-networkd was ignoring a non standard MTU configuration.

[2020-03-13 00:38] mlda065 commented on #67415
Ah, I found the solution [here](https://github.com/ansible/ansible/issues/37941#issuecomment-582444891) in #37941

I was invoking my playbook (the full one, not the MWE) with:

[code]

(Among many other arguments)

Changing that to `-e ansible_python_interpreter=$(which python3)` fixed the problem.

[2020-03-13 02:35] Fred-sun commented on #68167
@Eugen1987 Thank you for taking the time to report this question. We will ansible 's azure module related Issue and PR is transferred to azure collection (https://github.com/ansible-collections/azure/issues), you can transfer the Issue to azure collection repo?

[2020-03-13 07:42] Eugen1987 commented on #68167
oks

[2020-03-13 08:06] hsvins12 opened #68206 "CreateProcessW() failed (This version of %1 is not compatible with the version of Windows you're running) : Win32ErrorCode 216)\"", "rc": 2"
##### SUMMARY
While executing the below commnd in  play book :

win_command: C:/temp/HCL-OneTest-UI-Windows-x64-v10.0.2.0.exe -i silent -f C:\Temp\installer.properties

Getting the below error :

<{"changed": false, "cmd": "C:/temp/HCL-OneTest-UI-Windows-x64-v10.0.2.0.exe -i silent -f C:\\Temp\\installer.properties", "msg": "Exception calling \"CreateProcess\" with \"5\" argument(s): \"CreateProce

[2020-03-13 08:06] anoopna opened #68207 "Ansible jabber module error: unable to send msg: '_ssl._SSLSocket' object has no attribute 'issuer'"
##### ANSIBLE VERSION
2.9.6

##### COMPONENT
lib/ansible/modules/notification/jabber.py

##### SUMMARY
Ansible jabber module error.

Jabber module error

!component 2.9.6.

/home/aks13 # ansible-playbook jabber.yml -vvv ansible-playbook 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansib

[2020-03-13 08:08] Eugen1987 commented on #68167
@imjoseangel already transfered it to  azure collection.

[2020-03-13 09:09] infcs opened #68208 "os_router removes all interfaces on change"
##### SUMMARY

os_router removes all interfaces from router and recreates them even if I just add another internal network
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_router
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9.9 / ansible and openstacksdk are not from os

##### STEPS TO REPRODUCE

My test setup has 3 networks: external network te

[2020-03-13 09:10] Fred-sun commented on #60528
@AdamBrassard Repair PR has been moved to[ #63](https://github.com/ansible-collections/azure/pull/63)

[2020-03-13 09:36] jeromesourdin commented on #24427
+1

[2020-03-13 09:43] pillesoft opened #68209 "os_server_volume fails due to openstacksdk version"
##### SUMMARY
I want to attach a volume to an instance with os_server_volume module.
it fails saying
"To utilize this module, the installed version of the openstacksdk library MUST be >=0.12."

I have tried the same in centos 7, centos 8 (this is with python 3.6), and ubuntu 18.04. Always received the same message with os_attach_volume.
I have all other different volumes in my scripts, I haven't g

[2020-03-13 10:12] chusiang commented on #46310
I got same problem on Ansible v2.9.2 today.

[code]

[2020-03-13 10:38] aventrax opened #68210 "win_scheduled_task: RegisterTaskDefinition error using a trigger with start_boundary"
##### SUMMARY
When configuring a scheduled task using the win_scheduled_task module I got an error in case the trigger is set daily with a start_boundary using the format specified on the docs.
This tasks is part of one of my old roles and it was working with Ansible 2.8.5 but not with 2.9.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- win_scheduled_task tails

##### ANSIBLE VERSION
- 2

[2020-03-13 10:59] virtuoz75 commented on #68189
Thank you @s-hertel for sharing the synthax, now my task is looking like this and working:

    - debug:
        msg: cat "{{ lookup('vars', 'result1')['results'][item]['rc'] }}"
      with_items:
        - 0
        - 1
        - 2
        - 3
        - 4

I just wanted to loop inside a dictionnary. Now it is working. Thanks a lot.

Regards
Julien.

[2020-03-13 12:17] Akasurde commented on #66681
@nicolaibaralmueller Could you please confirm if @Uttam92477 solution works for you and let us know? Thanks,

needs_info

[2020-03-13 12:19] nicolaibaralmueller commented on #66681
Yes, /usr/bin/update-crypto-policies --set LEGACY worked

[2020-03-13 12:19] #66681 closed, assigned to nobody

[2020-03-13 12:33] Akasurde commented on #66681
@Uttam92477 Thanks for the solution. @nicolaibaralmueller Thanks for confirming the solution.

[2020-03-13 14:44] sivel commented on #68181
@ram-ibm I've confirmed that it is possible to currently use `common_handlers: Commit Changes`.  I don't have the full contents of your roles and playbooks, but you do have to load the `common_handlers` role in your playbook.

I've done so, by making `common_handlers` a dependency in `meta/main.yml` of the role that needs it.

However, this still doesn't solve using FQCN.  I have not done any work

[2020-03-13 14:59] virtuoz75 commented on #68189
My variable was wrong before, I don't need lookup for this, consider using it like this:

- debug:
    msg: cat "{{  result1['results'][item]['rc'] }}"
  with_items:
    - 0
    - 1
    - 2
    - 3
    - 4

[2020-03-13 15:04] sivel commented on #68181
Actually, I will go ahead and take this.

[2020-03-13 15:10] ram-ibm commented on #68181
Thanks for the update - I am using the meta/main.yml to create a dependency on the common_handlers role as well.

Snippet from meta/main.yml:
[code]

The handlers work without any qualifiers after that dependency is defined - like so:
[code]

Informational more than anything else.

[2020-03-13 15:21] bcoca commented on #35030
So after discussing with core team we think the best approach to solve this is to mark the delegated host as 'unreachable', but still fail and mark the inventory_hostname as 'failed'. This should correct the status and still continue with the play flow as expected (and enable rescue/ignore_errors to work).

[2020-03-13 15:35] bcoca commented on #43087
We should be able to add a link from the config https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-stdout-callback
to the callback list to show 'available options' https://docs.ansible.com/ansible/latest/plugins/callback.html

Adding a mention to the --help should also be possible, to at least point to the callback stdout entry.

[2020-03-13 15:38] bcoca commented on #43225
closing as per above

[2020-03-13 15:38] #43225 closed, assigned to nobody

[2020-03-13 15:39] kotireddy478 opened #68214 "Please add ident option to password_hash"
Hi there,

I'm not sure if that ident option addition feature already requested  or not. If not it would be good to add ident option as some of applications like Sonarqube doesn't support Anisble's default indent 2B.

!component = handlers/bcrypt.py
118:    default_ident = IDENT_2B
924:    default_ident = IDENT_2B

Thanks

[2020-03-13 15:43] bcoca commented on #43283
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request as it does not really add functionality and it is just a question of preferences on typing `--configuration-file` vs `ANSIBLE_CONFIG`.

However, we're absolutely always up for discussion.
Since this is a really busy project

[2020-03-13 15:43] #43283 closed, assigned to nobody

[2020-03-13 15:46] #51180 closed, assigned to nobody

[2020-03-13 15:48] kotireddy478 commented on #68214
feature_idea

[2020-03-13 15:49] bcoca commented on #16359
So after discussing with core team, we are not going to implement this exact functionality, but we are looking at creating ways to make the use if `import_role/include_role` friendlier with the installation of
roles. Also see  https://github.com/ansible/proposals/issues/57

[2020-03-13 15:49] #16359 closed, assigned to nobody

[2020-03-13 15:55] bcoca commented on #43334
related, but not fix #65800

[2020-03-13 16:03] gundalow commented on #67860
Possibly related https://github.com/ansible/ansible/pull/52890

[2020-03-13 16:18] bcoca commented on #41157
closing for lack of response

[2020-03-13 16:18] #41157 closed, assigned to nobody

[2020-03-13 16:38] leedm777 opened #68217 "ec2_group has several issues when referencing groups from other VPCs"
##### SUMMARY
When using ec2_group to create a security group that references a group from a different VPC in one of its rules, I run into several issues. First, and most annoying, is that the task hangs for ~65 seconds before timing out with a warning. The task reports `changed=true` even if nothing actually changed. And, finally, when using `--diff`, the task fails with an exception.

##### ISSU

[2020-03-13 16:46] srbharadwaj commented on #68146
Looking into it

[2020-03-13 16:46] srbharadwaj commented on #68144
looking into it

[2020-03-13 17:47] infrascripting opened #68218 "Lineinfile and Replace modules do not allow for setting the temporary directory"
The replace and lineinfile modules do not allow for temporary directories to be set with environment variables. See https://github.com/ansible/ansible/issues/24082 for a similar bug report.

!component =lib/ansible/modules/files/lineinfile.py

However, this is for the facts directory. Here's how it is reproducible:

On the target server we are trying to write to `/etc/ansible/facts.d/cloudera.fact

[2020-03-13 17:58] infrascripting commented on #68218
Umm, I don't know how to do that. That ISSUE_TEMPLATE.md is only:

[code]

[2020-03-13 18:00] infrascripting commented on #68218
### COMPONENT NAME

- lineinfile

[2020-03-13 20:13] jjshoe commented on #65988
I don't find this ticket misleading at all, it's pretty clear this works differently than ec2 and is incredibly slow. The easiest way to get it to match ec2 behavior is change:
`def await_instances(ids, state='OK'):`
to
`def await_instances(ids, state='RUNNING'):`

[2020-03-13 20:15] jjshoe commented on #65988
Full fix would be to pass state to this func, then upper case it before it goes through the hash check

whoever wants to deal with ansible's nightmare pr process now is welcome to do so

[2020-03-13 20:30] #65984 closed, assigned to nobody

[2020-03-13 20:37] jborean93 commented on #36758
As mentioned above Windows hosts cannot run PowerShell modules so if this functionality is desired then a `win_*` equivalent module needs to be created. There are workarounds such as using `win_shell` or if the module supports it run it from the controller but I am going to close this issue.

[2020-03-13 20:37] #36758 closed, assigned to nobody

[2020-03-13 20:42] nitzmahone commented on #33381
closing, since docs seem to have been updated

[2020-03-13 20:42] #33381 closed, assigned to nobody

[2020-03-13 20:51] clauderobi opened #68222 "parted.py - Incorrect regex when parsing size output"
##### SUMMARY
Using the parted module, I get an error stating: "Error interpreting parted size output: '1 MB'"

The arguments I am using are:
      parted:
        device: "{{ t_rawdevice }}"
        label: msdos
        unit: MiB
        number: 1
        flags: boot
        part_start: 1MiB
        part_end: 1025MiB
        part_type: primary
        state: present

I expected the requested part

[2020-03-13 20:58] Justin-DynamicD commented on #36758
That's disappointing.

I'm not certain I understand why `gather_facts` is OS agnostic where `ec2_metadata_facts` is going to need a win_ specific variant.  In my mind these are both "fact gathering" tasks and those should be more agnostic than a task that tasks actions.

Obviously not my call, but it feels more like shoveling windows off as a 2nd class citizen.

[2020-03-13 20:58] jborean93 commented on #39184
I cannot replicate this problem. When running the following playbook on WSL

[code]

Here is the output as expected

[code]

[2020-03-13 20:58] #39184 closed, assigned to nobody

[2020-03-13 21:04] jborean93 commented on #56124
@jillr is this still an issue?

[2020-03-13 21:06] jborean93 commented on #23165
Closing as this isn't a fix we can target in Ansible itself.

[2020-03-13 21:06] #23165 closed, assigned to nitzmahone

[2020-03-13 21:13] clauderobi commented on #68222
@ansibot, this page: https://github.com/ansible/ansible/issues/new/choose is supposedly presenting the template, but it does not.... :-( Please fix it

[2020-03-13 21:14] jborean93 commented on #36758
There's no way around it, Windows cannot execute Python modules so we cannot share the same code. Unless this was an action plugin that ran on the controller only and did the work there it could work (like fetch/script/gather_facts does on Windows).

Windows cannot execute Python modules because the basic.py module wrapper imports Python libraries that aren't present on Windows. Until that is chan

[2020-03-13 21:16] jborean93 commented on #68179
That's the expected behaviour of `source` when it's a URL based on the design of chocolatey.server as the install script is always at `{scheme}://{host}/install.ps1` so we replicate that here. You can always specify `source` as a URL that ends with `.ps1` to avoid that rewrite but ultimately you are probably going to need to have 2 tasks

[code]

Unfortunately there is no way around this as the `s

[2020-03-13 21:16] #68179 closed, assigned to nobody

[2020-03-13 22:54] EvanCarroll opened #68224 "GitLab requires admin tokens to create a unprivileged project runner"
##### SUMMARY

If a non-admin tries to register a project runner, they get 403 Forbidden. The current module only works to add runners with admin-level permissions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`gitlab_runner`

##### ANSIBLE VERSION

[code]

I am trying to create a runner, currently I have..

[code]

The problem with this is `redacted_foo` is not the registration token fou

[2020-03-14 02:18] som2016 commented on #46310
can u please elaborate how to fix this issue

[2020-03-14 06:26] westurner commented on #26673
Here's a role for centos and fedora:
https://github.com/devnullcake/ansible-role-copr-repository

- [ ] Add support for specifying ``includepkgs=`` (an allow list of packages to install from the given repo)

[2020-03-14 11:12] angristan opened #68226 "AttributeError: 'list' object has no attribute 'strip'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Install each module from APT.

It works with Ansible 2.8:

[code]

[code]

##### ACTUAL RESULTS

[code]

[2020-03-14 12:28] jhawkesworth commented on #68185
@KaliszAd feel free to create documentation pull requests if you think the explanation of second hop issue can be better explained.  Allowing credential delegation is an option when using kerberos authentication.
Other than documentation, I'm not really convinced this is an ansible-specific issue, but more about how windows works and the consequences of the design decisions made during Windows' de

[2020-03-14 12:28] Fred-sun commented on #59392
@rafiddewan Repair PR has been moved to [#64](https://github.com/ansible-collections/azure/pull/64)

[2020-03-14 14:45] rrey commented on #68074
Hi @Alex-Richman what ansible version are you using ? I can't reproduce on 2.9.6.
Please fill the issue with the template next time, requested info are useful.

[2020-03-14 15:25] r0ckpine opened #68227 "filter plugin for converting PrettyTable output."
##### SUMMARY
Add a filter for converting PrettyTable output into a list of dictionaries.
It is useful to parse the various CLI (e.g. mysql, openstack) outputs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
from_table filter

##### ADDITIONAL INFORMATION

[code]

[2020-03-14 15:44] clauderobi opened #68229 "parted - failed to decode version string of GNU's parted"
##### SUMMARY
parted module fails to properly decode certain version string, notably:
 "parted (GNU parted) 3.2.122-46cd"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
the parted module

##### ANSIBLE VERSION
ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/xxxxx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible pyth

[2020-03-14 16:50] stephan-koch opened #68230 "module hpilo_boot mount an img file on ilo5 as vUSB (USBStick)"
##### SUMMARY
wanted to mount an img file with and dos filesystem via an URL to ilo5 but didnt succeed.
Background: Mount of an OS Installation as CDrom and mount the kickstart file in parallel as USB

##### ISSUE TYPE
I think Option "USBStick" has to be supported as I had success with an short python test with this media type.

##### ANSIBLE VERSION
2.8.2

##### COMPONENT NAME
module: hpilo

####

[2020-03-14 17:00] stephan-koch commented on #68230
ansible-playbook --version
ansible-playbook 2.8.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['XXXXXXXXXX']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 3.6.8 (default, May  2 2019, 20:40:44) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]

[2020-03-14 20:10] makutamatey opened #68231 "Privilege escalation"
1. I have created a user and added the user to the sudo/admin group using ansible. When I want to assign that user to execute a task like installing a software, I am forced to escalate the privilege of that user even though that user is an admin or is a member of the sudo group and should be able to install a software without escalating their privilege. Why is it so?

2. When  I create a user with

[2020-03-15 01:47] fgimian commented on #34454
This is my workaround for now 😄

[code]

Hope this helps someone 😄
Fotis

[2020-03-15 02:07] jvonau commented on #57342
Looks like Ubuntu-20.04 when released will not have python2, can't use the ppa to get the latest 2.9.6 version. The good news is 2.9.4 is being shipped by the OS.

Depends: python-paramiko but it is not installable
Depends: python:any (< 2.8) but it is not installable
Depends: python:any (>= 2.7.5-5~) but it is not installable

[2020-03-15 02:22] fgimian commented on #27081
I opted to use the `unzip` tool with the `shell` module.  Of course this did add a lot of extra steps because I had a remote source.

This does work perfectly but isn't quite as elegant as I would like 😄

[code]

[2020-03-15 10:23] sixsax commented on #30411
I had same problem, sftp goes stalling.
Probably, most of these cases depend on MTU misconfiguration.
It isn't rare Ansible is running on some sort of overlay network such as VLAN or VxLAN. In this last case, it is necessary to configure properly vtep function MTU value in order to enable frames fragmentation.
I faced with this error on a VxLAN with VTEP function MTU value of 1500 same as underlay

[2020-03-15 12:02] mkrizek commented on #68231
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-15 12:02] #68231 closed, assigned to nobody

[2020-03-15 13:06] Zeka13 commented on #40285
Hello, why this one stuck?

[2020-03-15 15:47] vchopra-eightfold opened #68234 "s3_lifecycle.py - add support for all storage modes"
##### SUMMARY

The module is missing support for a few storage classes - REDUCED_REDUNDANCY, INTELLIGENT_TIERING, DEEP_ARCHIVE.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

s3_lifecycle

##### ADDITIONAL INFORMATION

This will enable the full set of features that lifecycle rules allow us. Doesn't make sense to not support all storage classes.

[code]

[2020-03-15 16:46] cinchent opened #68235 "Configuration appendices are out of date"
##### SUMMARY
Pertains to this URL:
[Standard Ansible Doc](https://docs.ansible.com/ansible/latest/reference_appendices/config.html)

This document, for the latest version (2.9), which coincides with the version I am using, is out of date for a number of settings.  In particular, the ones I've noticed (because they bit me when I used them as environment variables) are the `DEFAULT_BECOME_`xxx sett

[2020-03-15 17:16] cacom-laurent commented on #66913
I have the exact same problem as you. Using the generic "constructed" inventory plugin, but it's the same.
I specially want to set the ansible_group_priority variable for these groups like you.

the code lib/ansible/plugins/inventory/constructed.py seems simple, but my python skills are still low, but I'm working on it.
Tell me if you as some news.

[2020-03-15 18:09] cweilguny opened #68237 "lxd_container failing to fetch images"
##### SUMMARY

The lxd_container module is unable to fetch images. The example used in the documentation fails with the following message:
`msg: 'Failed to fetch https://uk.images.linuxcontainers.org/1.0/images/ubuntu/xenial/amd64: 404 Not Found'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-03-15 18:25] jvanderaa opened #68238 "IOS_User Does not remove User account appropriately"
##### SUMMARY

When using ios_user module to remove a user account that was created with ios_user by using `state: absent` it does not appropriately remove the user account. In working on a post to demonstrate the module I found that I was still able to log in with the user account after setting the state to abset.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSI

[2020-03-15 22:35] thy143 commented on #66395
@rhysmeister  thats greate thanks. Do you need me to log a issue over at the new location?

[2020-03-15 22:55] outdooracorn commented on #62147
Only for changing the user/group though right? It would still be useful to set the `mode` of the file fetched rather than having to do this in another task.

[2020-03-15 23:04] agaffney opened #68241 "'csh' shell plugin is broken with 'become'"
##### SUMMARY
Using the `csh` shell plugin with `become` enabled causes an error. This error is due to code in `plugins/become/__init__.py` referencing the `ECHO` and `COMMAND_SEP` vars from the shell plugin class, which are only defined in `plugins/shell/sh.py` and those plugins that inherit from it. This has probably been broken for a while.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`

[2020-03-16 02:34] Fred-sun commented on #65691
Repair PR has been moved to[ #66](https://github.com/ansible-collections/azure/pull/66).

[2020-03-16 02:44] Fred-sun commented on #59880
Repair PR has been moved to [#67](https://github.com/ansible-collections/azure/pull/67).

[2020-03-16 02:56] Fred-sun commented on #65501
Repair PR has been moved to [#68](https://github.com/ansible-collections/azure/pull/68).

[2020-03-16 03:09] Fred-sun commented on #65563
Repair PR has been moved to [#69](https://github.com/ansible-collections/azure/pull/69
).

[2020-03-16 03:27] Fred-sun commented on #65005
Repair PR has been moved to [#70](https://github.com/ansible-collections/azure/pull/70).

[2020-03-16 03:48] Fred-sun commented on #65481
Repair PR has been moved to [#71](https://github.com/ansible-collections/azure/pull/71) .

[2020-03-16 04:02] Fred-sun commented on #59770
Repair PR has been moved to [ #72](https://github.com/ansible-collections/azure/pull/72).

[2020-03-16 06:26] maxyko opened #68243 "get_url returns "HTTP Error 304: Not Modified""
##### SUMMARY
get_url returns "HTTP Error 304: Not Modified" instead a status code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
2.8.4 or higher

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu-16.04.5 LTS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
receive status code

##### ACTUAL RESULTS
[code]

[2020-03-16 06:26] NilashishC commented on #68082
@edulas the new NX-OS Resource Modules (introduced in Ansible 2.9) only support `connection: network_cli` as of now. We're working on adding `connection: httpapi` support for this in the future.

cc @Qalthos

[2020-03-16 06:45] tkam8 commented on #67090
FWIW, I gave this a try again but it did not succeed despite several attempts. In the target machine, the file would appear in the designated directory like below but would never get data

 ls
drwx------  3 root root 4.0K Mar 15 13:51 ansible_gcp_storage_object_payload_pjt7zd6i
-rw-r--r--    1 root root      0  Mar 15 13:51 tarball.tar.gz

Not sure if relevant, but these are some potentially relat

[2020-03-16 08:31] nkromano opened #68244 "Import ansible.modules from a custom library has an error."
##### SUMMARY
After upgrading ansible from 2.8.9 to 2.9.5 version, I began to get an error while trying to import ansible.modules from a custom module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
znode

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
I have custom module ~/.ansible/plugins/modules/custome_znode.py which bases on ansible/modules/znode.py module.
[code]

##### EXPECT

[2020-03-16 09:04] rhysmeister commented on #66395
@thy143 No, but you're welcome to provide feedback if you have time. It's basically done although I'm not 100% sure about the flow yet. The branch is at: https://github.com/ansible-collections/mongodb/tree/mongodb_replicaset

[2020-03-16 10:58] anryko commented on #65613
I'm going to work on this feature.

[2020-03-16 11:38] rmonde opened #68245 "gcp_container_cluster module throws error when username and password is not specified"
##### SUMMARY
I am trying to launch GKE (google kubernets engine cluster using gcp_container_cluster module in ansible. In the [documentation ](https://docs.ansible.com/ansible/latest/modules/gcp_container_cluster_module.html) page of this module, specifying username and password parameters is not mandatory. However, when I omit them, it throws an error.

##### ISSUE TYPE
- Bug Report

##### COMPO

[2020-03-16 13:18] tpo commented on #68024
Also (I think, might be related ?), the "collections" link in the [Galaxy User Guide](https://docs.ansible.com/ansible/latest/galaxy/user_guide.html) is broken (->404).

[2020-03-16 13:53] zmaktouf opened #68246 "Ansible win_dsc fails to install SqlServer with SqlServerDsc"
##### SUMMARY

I am trying to install SQLServer 2019 on Windows Server 2019 using ansible and SqlServerDsc I am getting am error about missing CimClass MSFT_SqlSetup.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_dsc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible control machine: Ubuntu 1804
Target Machine: Windows Server 2019

####

[2020-03-16 13:55] Akasurde commented on #68237
@cweilguny Could you please try
[code]
It works for me.

needs_info

[2020-03-16 14:37] sivel commented on #68244
Importing a module into another is not a public API or functionality that is guaranteed to work.  Shared code should be placed into a module_utils file instead.

With the above in mind I'm going to proceed with closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum

[2020-03-16 14:37] #68244 closed, assigned to nobody

[2020-03-16 14:37] sivel commented on #68243
Duplicate of https://github.com/ansible/ansible/issues/65263

[2020-03-16 14:37] #68243 closed, assigned to nobody

[2020-03-16 14:43] sivel commented on #68235
The entries you see, such as `DEFAULT_BECOME`, are the internal names used within the ansible code base.  The environment variables are listed under `Environment:`, which in this case lists `ANSIBLE_BECOME`.

There is another issue open (https://github.com/ansible/ansible/issues/60880) that aims to assist in removing some of that confusion.

If you have further questions please stop by IRC or the

[2020-03-16 14:43] #68235 closed, assigned to nobody

[2020-03-16 14:45] craph opened #68248 "docker_compose.py : Unable to do a docker-compose ps"
##### SUMMARY

How is it possible to do : `docker-compose ps` ?

I'm unable to do it. The only way to test the container is to add state: present and reguster a variable to display it.

Exist another way to do that ?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.7

##### STEPS TO

[2020-03-16 14:57] samccann commented on #68119
Okay I've added the comments to date to the template. @gundalow, @abenokraitis @jborean93 @geerlingguy @cidrblock @danielmellado please take another look before we finalize this! Thanks!

[2020-03-16 15:08] mooky31 opened #68249 "fmgr_provisioning is broken with FortiManager 6.2"
##### SUMMARY
fmgr_provisioning is broken with FortiManager 6.2
Login looks for the wrong chain in the response, then populates the wrong fields

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fmgr_provisioning

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Buster
ansible installed through APT
pyFMG 0.8.5.1 installed through pip
Fortimanager 6.2.3

##

[2020-03-16 15:14] jyundt opened #68251 "redfish_config module fails to set BIOS attributes for boolean based attrs"
##### SUMMARY
Setting BIOS attributes using the `redfish_config` module and the `SetBiosAttributes` command will fail for Redfish implementations that use boolean based BIOS attributes.

As an example, the `ConsoleRedirection` BIOS setting for one of our BMCs only accepts a boolean value. However, the default value for `bios_attribute_value` is undefined and defaults to type `str`.
 ([Line in ques

[2020-03-16 15:15] imlight opened #68252 "Not all arguments can be passed with ansible azure_rm_aks module as compared to az cli"
##### SUMMARY
While comparing tool to deploy aks clusters , I have realised not all arguments which are available with az cli, can be used as in ansible aks module . I have also tried to check galaxy role azure_preview and even with that most of the arguments cannot be passed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_aks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

#

[2020-03-16 15:28] Lnk2past commented on #67814
Seeing the same thing on CentOS 8

[2020-03-16 15:43] HaraldPaterek opened #68253 "nios_fixed_address use_options bootfile-name"
##### SUMMARY
When using the nios_fixed_address module the  following error is produced:

"msg": "Option bootfile-name can not have a use_option flag"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_fixed_address

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.6
Infoblox wapi 2.7.1

##### STEPS TO REPRODUCE

Create a new host with ip and mac

[2020-03-16 16:00] gundalow commented on #68119
Thanks for doing this, it looks really good.

1) Collections will generally uses GitHub Actions or Shippable.
2) If code coverage is used it will generall be Codecov.io
3) `Contributing to the collection` If you allow community contributions to your collection
Could we please rephrase this so that contributions are default.

4)

The Code of Conduct exists in the special [.github repo](https://gith

[2020-03-16 16:36] tolbrino commented on #68198
I'm experiencing the same issue like @geerlingguy in the case of using roles in playbooks as a way to structure playbooks more clearly. Given the current state of this feature such a setup doesn't reduce the amount of work, instead the work required scales up with the number of roles being factored out.

From a user's perspective I'd like roles to be able to "bring" their own required collections

[2020-03-16 17:02] abenokraitis commented on #68119
LGTM

[2020-03-16 17:06] hypergig opened #68256 "flatpak idempotentcy broken"
##### SUMMARY
flatpak module is not idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
flatpak

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Run this twice

[code]

##### EXPECTED RESULTS
The second time reports unchanged

##### ACTUAL RESULTS
The second time reports changed

[code]

[2020-03-16 17:27] krissi opened #68257 "Add 'sources' parameter for Makefile-alike commands to modules which support 'creates' parameter (e.g. command)"
##### SUMMARY

When creating files using remote commands there is the parameter `creates` to check if the command needs to run. A new `sources` parameter (List) would make it possible to recreate the file when needed by running the specified command again. Like in Makefiles by comparing if the mtime of the `sources` paths agains the `creates` path.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2020-03-16 19:12] samccann commented on #68119
PR now exists for this at https://github.com/ansible-collections/collection_template/pull/1

[2020-03-16 19:13] eselskas commented on #48890
Any update on this? Still getting this:

[code]

[2020-03-16 20:05] cweilguny commented on #68237
@Akasurde Wow, damn. Call me stupid. Just thanks! Should've read the comments in the example. Dunno why this works and what's the difference between simplestreams and lxd, but it isn't anymore puzzling as all existing (non Ansible) LXD documentation. Pack this into a coding book in the section "Why comments are useless" :D and liquidize this issue. Thanks again!

[2020-03-16 20:05] #68237 closed, assigned to Akasurde

[2020-03-16 20:22] jborean93 commented on #68246
The Windows modules have been migrated out of ansible/ansible to a specific collection. The `win_dsc` module is a core module so please raise this issue at https://github.com/ansible-collections/ansible.windows/issues/new/choose.

Community modules are stored at https://github.com/ansible-collections/community.windows

[2020-03-16 20:22] #68246 closed, assigned to nobody

[2020-03-16 20:35] akhayyat opened #68265 "passwordstore lookup does not accept equal sign in values"
##### SUMMARY
Lookups fail if there is more than one equal sign in any token (an equal sign in a value), e.g. `lookup('passwordstore', 'test/p1 create=yes userpass=MW5sdXIwNjhjMWd0TDFHeENqczA4bUlRbFJpa2p4M3g=')`.

See also,  #55658 for another special case of this issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
All lookup plugins.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

[2020-03-16 22:14] amitmi704 commented on #68234
Can you provide API documentation for the "REDUCED_REDUNDANCY" storage class?  The API documents do not list that class.  I am submitting a pull request to close this that is adding the other mentioned storage classes as they are documented in the API.

[API Document](https://docs.aws.amazon.com/AmazonS3/latest/API/API_Transition.html)

[2020-03-16 22:34] kazito1 opened #68267 "k8s_info ignores authorization parameters"
##### SUMMARY
k8s_info is ignoring username: and password: fields

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7, ansible 2.9. The remote OCP cluster is OCP 4.3

##### STEPS TO REPRODUCE

1. Create a playbook that connects to a RHEL 7.7 box that is trying to reach an OCP cluster
2. Make sur

[2020-03-17 00:35] mattclay opened #68269 "fetch on windows failure without collections keyword"
### SUMMARY

Using `fetch` on a windows host without using the `collections` keyword in a playbook will result in a failure to stat the remote file.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Run the following playbook with the `ansible.windows` collection installed:

[2020-03-17 06:26] pushkarkumar15 commented on #68002
what is the expected output
is there any other command to get the expected output

[2020-03-17 07:17] justjais commented on #68149
@clarsen Thanks for the issue, but with the internal discussion we have decided that `unable to set terminal parameters` should be thrown as an error, and not as a warning.
So, closing the bug and if you still feel otherwise please bring your concern at ansible networking IRC: #ansible-network

[2020-03-17 07:17] #68149 closed, assigned to nobody

[2020-03-17 07:37] mkrizek commented on #68226
I have reproduced the issue and the traceback is certainly a bug however there is a way to avoid that.

Your example:
[code]

In your case there is no reason to pass one element list so just do:

[code]

which makes the traceback go away.

Also, note that `loop squashing` [0] will be removed in Ansible `2.11` so to keep your `apt` task fast also in future, you should pass a list of packages to the

[2020-03-17 07:51] Fred-sun commented on #68252
@imlight The azure_rm_aks module features are still under development and will be added in a future release. If updates, are displayed in [this document.](https://docs.ansible.com/ansible/devel/modules/azure_rm_aks_module.html#azure-rm-aks-module) Thank you very much!

[2020-03-17 07:57] mkrizek commented on #68265
!component =lib/ansible/plugins/lookup/passwordstore.py

[2020-03-17 08:00] mkrizek commented on #68207
!component =lib/ansible/modules/notification/jabber.py

[2020-03-17 08:01] lliepins-clgx commented on #68075
Hmm. This looks fairly simple improvement. Any chances to see it in 2.9 already?

[2020-03-17 08:09] Fred-sun commented on #68252
Another question, We will ansible 's azure module related Issue and PR is transferred to azure collection (https://github.com/ansible-collections/azure/pulls), can you transfer the Issue to azure collection repo?

[2020-03-17 08:15] mkrizek commented on #68075
2.9 has been released already, there will be no new features added to that release.

[2020-03-17 08:41] Akasurde commented on #68210
!component =lib/ansible/modules/windows/win_scheduled_task.py

[2020-03-17 08:42] Akasurde commented on #68206
!component =lib/ansible/modules/windows/win_command.py

[2020-03-17 08:54] Akasurde commented on #68206
Issue migrated to https://github.com/ansible-collections/community.windows/issues/52

[2020-03-17 08:54] #68206 closed, assigned to nobody

[2020-03-17 09:03] Akasurde commented on #68210
Migrated to https://github.com/ansible-collections/community.windows/issues/53

[2020-03-17 09:03] #68210 closed, assigned to nobody

[2020-03-17 09:19] Akasurde commented on #66475
Issue migrated to https://github.com/ansible-collections/vmware/issues/57

[2020-03-17 09:20] #66475 closed, assigned to nobody

[2020-03-17 09:34] Akasurde commented on #68267
Issue migrated to https://github.com/ansible-collections/kubernetes/issues/57

[2020-03-17 09:34] #68267 closed, assigned to nobody

[2020-03-17 09:53] airwangyun commented on #64031
We'll submit a PR soon to fix this and enable more IBM i (formally known as as400) collectors for facts.

[2020-03-17 10:07] OleHolmNielsen commented on #49254
The latest Ansible 2.9.6 on CentOS 7.7 has the same problem as reported above. Either of the workarounds by gregbird101 works for me:
-     pre-emptive ANSIBLE_HOST_KEY_CHECKING=False before ansible-playbook
-     Placing host_key_checking = False in ansible.cfg

[2020-03-17 12:19] bergmannf opened #68275 "nios_host_record can not use nested Vault password"
##### SUMMARY
When trying to use the `nios_host_record` module using a nested `vaulted` variable for the password breaks with the follwing error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_host_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

Infoblox client version:

[code]

##### STEPS TO REPRODUCE

Attempt to pass the co

[2020-03-17 12:52] waleedahmedcw opened #68276 "python3 error with mitogen - relative import"
this line is creating issue with mitogen, using
Python Version: 3.5.6
Ansible Version: 2.9.2

https://github.com/ansible/ansible/blob/4e8b240b8b74db2453851f12ec82c7f782289187/lib/ansible/modules/system/setup.py#L136

`env/lib/python3.6/site-packages/ansible/modules/system/setup.py\", line 134, in <module>\nSystemError: Parent module 'ansible.modules.system' not loaded, cannot perform relative impo

[2020-03-17 12:59] DEvil0000 commented on #41313
Having quite the same situation as described in https://github.com/ansible/ansible/issues/41313#issuecomment-533099471

With ansible 2.9.4 however it only warns if `import_tasks` is used with a `when` but for `include_tasks` it is now working as expected without warning.

[2020-03-17 13:11] mkrizek commented on #68276
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against different project:

   * https://github.com/dw/mitogen

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

Should you still wish to discuss things further

[2020-03-17 13:11] #68276 closed, assigned to nobody

[2020-03-17 13:11] gundalow commented on #68132
Hum, so this is a bit worse than I originally thought as changes to (at least certain types) of plugins trigger a full CI run.

[code]

Need to dig through `test/lib/ansible_test/_internal/provider/layout/collection.py` to see how to fix this.

[2020-03-17 13:12] kalfeher opened #68277 "dig filter does not correctly use IPv6 servers when the '@' notation is used"
##### SUMMARY
The following will fail:
lookup('dig', 'example.com', 'qtype=SOA', '@2001:4860:4860::8888')
whereas the following will succeed:
lookup('dig', 'example.com', 'qtype=SOA', 'name_server=2001:4860:4860::8888')

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
the lookup filter 'dig' which uses dnspython

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2020-03-17 13:46] konstantin-schura commented on #21088
the same for 2.9.6  :(

[2020-03-17 13:47] rafinhaa opened #68278 "ERROR! Syntax Error while loading YAML."
I have a syntax problem, I already reviewed it but I couldn't find it, the file is attached:

[starfish.yml.txt](https://github.com/ansible/ansible/files/4343700/starfish.yml.txt)

[2020-03-17 13:56] bcoca commented on #46969
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible does attempt and fail to use `setfacl` but it also falls back to `chown`, which also fails since your system does not allow non

[2020-03-17 13:56] #46969 closed, assigned to nobody

[2020-03-17 13:58] #68119 closed, assigned to nobody

[2020-03-17 14:03] mkrizek commented on #68278
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-17 14:03] #68278 closed, assigned to nobody

[2020-03-17 14:17] mkrizek commented on #68214
resolved_by_pr https://github.com/ansible/ansible/pull/45692

[2020-03-17 14:20] #68265 closed, assigned to nobody

[2020-03-17 14:21] zaskan opened #68279 "Add filesystem and lvol modules to supported collections"
##### SUMMARY

Add filesystem and lvol modules to supported collections
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/modules/lvol_module.html
https://docs.ansible.com/ansible/latest/modules/filesystem_module.html
##### ADDITIONAL INFORMATION

Because these modules are closely related to the RHEL operating system, they should be added as core suppor

[2020-03-17 14:23] #68106 closed, assigned to Akasurde

[2020-03-17 14:50] sivel commented on #68269
I believe this is expected.  `fetch` uses the `stat` module to get a remote checksum to determine if the file needs to be fetched.  There is special casing for `stat` in `ActionBase._configure_module` to use `win_stat` for Windows.  Since that module lives in a collection, and the redirection PR (https://github.com/ansible/ansible/pull/67684) has not been merged, `win_stat` would not be found.

Th

[2020-03-17 15:05] bjoern-the-bear commented on #68002
I hope I did not get you wrong...

If you are asking, what output I would like, I would prefer something provided by "ansible localhost -m yum -a 'list=updates'" (as mentioned in EXPECTED RESULTS already).
I know, this is actually more than what is usually provided in the "changes" structure in check_mode.

If you are asking, how I can get the info about the packages we are going to install/update

[2020-03-17 15:10] sivel commented on #68214
Since this issue does not include the issue template, and will be closed soon by the bot, I'll just go ahead and close this since there is a pull request that implements this functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-17 15:10] #68214 closed, assigned to nobody

[2020-03-17 15:11] sivel commented on #68218
!component =lib/ansible/modules/files/lineinfile.py

[2020-03-17 15:23] dubblies opened #68280 "win_certificate_store has no function to check for existing certificates or perform enrollments"
##### SUMMARY
no "get" capabilities - I cannot query for existing certificates or see their data

##### ISSUE TYPE
Please finish out the functionality here and if possible adopt Powershell for the Test-Path functionality at minimum if not full get-certificate functionality for enrollment as well

##### COMPONENT NAME
win_certificate_store

[2020-03-17 15:24] sivel commented on #68269
I'm on the fence whether we should try to update `_remote_checksum` to expose the error, and make `fetch` pass that error on.  It's probably not a bad idea, but for backwards compat, we just need to be careful.

[2020-03-17 15:26] Akasurde commented on #68257
@krissi I use `stat` module to check the existence and change in modification time of files. Adding a new feature in `command` module, will increase the complexity.

Let me know what do you think about this.

needs_info

[2020-03-17 15:29] Akasurde commented on #68280
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/33

[2020-03-17 15:29] #68280 closed, assigned to nobody

[2020-03-17 15:49] sivel commented on #68226
The error messaging has been improved in https://github.com/ansible/ansible/pull/63427 which would prevent the traceback.

Since the way this task was written should have never worked, and with loop squashing being removed soon, I'm going to go ahead and close this.  Please see the above response about how to fix the task.

If you have further questions please stop by IRC or the mailing list:

[2020-03-17 15:49] #68226 closed, assigned to nobody

[2020-03-17 16:15] tpo opened #68283 "ansible-galaxy import --role-name=whatever doesn't seem to assign the role the given name"
##### SUMMARY
`ansible-galaxy import --role-name=whatever` seems to ignore the role name that is given when importing a role into the ansible galaxy repository.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

or, same result:

[code]

[code]

##### EXPECTED RESUL

[2020-03-17 16:32] v-chopra commented on #68234
Feel free to ignore it. I saw it somewhere on the boto3 API docs but I feel that it's safe to ignore.

[2020-03-17 17:08] jamesmarshall24 opened #68284 "Add Group Assignment and Permissions to Shell Plugin for remote_tmp"
##### SUMMARY

Add the ability to assign a group and group permissions to remote_tmp through the shell plugin

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

sh – POSIX shell (/bin/sh)

##### ADDITIONAL INFORMATION

[code]

Alternatively, detect that `remote_tmp_group` is defined and if so, automatically apply `770` permissions to the remote_tmp directory.

Please also include an inventory

[2020-03-17 17:34] seeavosh opened #68285 "postgresql_info is not working"
Hello

postgresql_info  is not working it says it's not

issue type bug

[code]

[code]
##### COMPONENT NAME

##### ANSIBLE VERSION
2.9

##### OS / ENVIRONMENT
Ubuntu 19

##### ACTUAL RESULTS

[2020-03-17 17:50] krissi commented on #68257
@Akasurde I am currently using `stat` as well. If I do it correctly, I think needs very complex playbooks. Am I correct that the example above when built with `stat` would look like this (pseudocode)? This is my current approach.

[code]

[2020-03-17 18:02] sivel commented on #68257
The `find` module would reduce the number of tasks, and that along with a `select`/`selectattr` to compare the `mtime` would reduce the complexity.

In the end, we have decided that adding `sources` is too niche to the typical operation of the module for us to be willing to include such a feature.

[2020-03-17 18:20] mageddo commented on #30754
If run `apt-get update` returns error then **ansible** will also fail. Fix your source list fixes the problem.

Error sample
[code]

[2020-03-17 18:46] jborean93 commented on #68132
Potentially that happens if the file doesn’t have a test larger. The test target for non-modules/action plugins are `{type}_{name}` so this would be `lookup_passwordstore`.

[2020-03-17 18:47] sdxic opened #68286 "nxos_vlans creates vlan in shut state"
SUMMARY
When using the nxos_vlans module and specifying the state as active and enabled as yes the vlan gets created in a act/lshut state.  I can manually no shut the vlan and it comes up.

ISSUE TYPE
- Bug Report

COMPONENT NAME
nxos_vlans

ANSIBLE VERSION

`ansible 2.9.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/an

[2020-03-17 18:50] jborean93 commented on #68269
Yep the alternative was to just change the existing win_ prefix time use the FQCN instead but I was hoping to see if there was an alternative if possible.

[2020-03-17 18:58] s-hertel commented on #68217
It looks like changed == True and the long wait + warning started in 2.8 with 079299db4d5bec87dc873acb338c25493a0010ef and was backported to 2.7 in 55eebfc6b7e30039756dde70a02f297bf673dec1. Diff mode never covered this case properly.

[2020-03-17 19:36] DylanYoung commented on #21088
Over 2 years now that PR has been languishing.  It's such a huge improvement to ansible core :(

[2020-03-17 19:38] DylanYoung commented on #21088
But I just can't put the time into keeping it constantly up to date with no expressed interest in reviewing or merging it.

Happy to do so if you can get some ansible dev attention :)

[2020-03-17 20:14] JRNC opened #68289 "Please Allow User Input to Customize Variable Assignments and Filters with the VMware Inventory Plugin"
@Akasurde

There are obstacles preventing folks from moving to the VMware dynamic inventory plugin from the old VMware inventory script. These obstacles include the lack of customization that was provided via options like alias_pattern, host_pattern, groupby_patterns, and host_filters that were available for the old inventory script (https://github.com/ansible/ansible/blob/devel/contrib/inventory/

[2020-03-17 20:15] vickey123 opened #68290 "ec2_ami: Traceback while handling device_mapping"
I am trying to exclude  the device mappings while taking an ami from jinja file, I am using lookup template to find the list of device something like this
[code]

I am getting error like this

[code]

[2020-03-17 20:18] sivel commented on #68289
Please be aware there are some changes regarding the repository organization. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core https://github.com/ansible/ansible repository.
The development continues but in the new VMware collection repository: https://github.com/ansible-collections/vmware

https://github.com/ansible-collections/vmware/issues

[2020-03-17 20:18] #68289 closed, assigned to nobody

[2020-03-17 20:29] sivel commented on #68277
This is due to https://github.com/ansible/ansible/blob/3fba0062078cc04eabb460ec1eb13a4739235199/lib/ansible/plugins/lookup/dig.py#L219-L230

`socket.inet_aton` only supports IPv4, and if that fails, it assumes that the value given was a name, and tries to resolve that to an address, which then fails.

[2020-03-17 20:48] Tronde commented on #20196
Time appropriate greetings everyone,
I would like to provide some new information to this issue.

## Information about the test case

I've used a bzip2 compressed MySQL dump file and tried to import it on two different target systems.

### Ansible Control Node
Red Hat Enterprise Linux Server release 7.7 (Maipo)
ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path

[2020-03-17 20:50] VKAlwaysWin opened #68291 "azure_rm: public_ipv4_addresses is not set for VMSS"
##### SUMMARY
I am using dynamic inventory for VMSS and everything is working fine, but I need to get PublicIPAddress for created VM and it is always empty.
[using Azure Resource Manager scripts I can do next thing:](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#creating-a-scale-set-with-public-ip-per-virtual-machine)
[code]
and Public IP w

[2020-03-17 21:18] bitinerant commented on #30754
I have more details.

Here is my Ansible task:
[code]

I ran this twice and it failed both times. On the second attempt, I used `ansible-playbook -vvv ...`. Immediate after this, I logged in as the same user and ran  `sudo apt-get update` and then `sudo apt-get upgrade -y`. Both command completed successfully.

The full log of the failed `ansible-playbook -vvv ...` and successful `apt-get ...` are

[2020-03-17 21:24] mburknoe commented on #36172
@compyy I'm also getting the same error going to a Cisco WLC version 8.10.
ansible 2.4.2.0 on CentOS 7

[2020-03-17 21:36] JosteinVH commented on #67416
I have the same issue.

`ansible 2.9.0`
`python 3.7.5`
`python-gitlab 1.12.1`
`gitlab instance version 12.6>`

_To add further comments_
When using `gitlab_project` parameter `server_url` it states that the parameter is deprecated and will be removed in `2.10`, but it does not state which options to use. It is `api_url`

Both the examples from `gitlab_project` and `gitlab_project_variable` use the

[2020-03-17 21:48] vickey123 opened #68292 "EC2_AMI bug report"
##### SUMMARY
I am trying to create an AMI using ec2_ami, I wanted to exclude some devices attached to ec2 instance while creating an AMI, I am getting those device names from jinja template dynamically to parse at device_mapping inside ec2_ami
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_ami,
- name: Create AMI
      ec2_ami:
        aws_access_key: "****************************"

[2020-03-17 22:07] mburknoe commented on #36172
@compyy Hey I found the solution.
I was using a very old version of Ansible. Version 2.4 is what comes with CentOS7. Upgrading the to latest version (2.9 at the time of this writing) fixed the issue for me.

This thread was just the ticket for a quick and painless upgrade on Cent
https://www.snel.com/support/how-to-install-ansible-on-centos-7/

[2020-03-17 23:04] RecursiveCptHook opened #68294 "EC2 Inventory connection reset and parsing error"
##### SUMMARY

As of this midnight UTC today, the EC2 inventory script has stopped functioning as expected, during deployments receiving an error about:

[code]

And when running manually via CL:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 4.4.0-59-generic #80-Ubunt

[2020-03-18 02:42] Raymondzfy opened #68296 "win_xml is not able to get the value of attribute in the xml file"
HI. Everyone
      I have a server.xml file, and I tried to win_xml for get some values from attribues like "port "
<Server>
  <Service>
    <Connector port="9595" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" />
  </Service>
</Server>

- name: Find Server HTTP Listen Port
  win_xml:
    attribute: port
    path: "D:\tomcat8\conf\server.xml"
    xpath: '//Server/Service[@name="

[2020-03-18 03:35] pushkarkumar15 commented on #68002
you mean in the updated section output of "ansible localhost -m yum -a
'list=updates'" should be printed

On Tue, Mar 17, 2020 at 8:35 PM bjoern-the-bear <notifications@github.com>
wrote:

[2020-03-18 05:43] Akasurde commented on #68290
!component =lib/ansible/modules/cloud/amazon/ec2_ami.py

[2020-03-18 06:33] bjoern-the-bear commented on #68002
Yes, exactly. As in our case (state=latest for a group) there could be new packages too, we should also list the new packages with the same details in the installed section .

[2020-03-18 06:51] Akasurde commented on #68290
@vickey123 Your use of `file` lookup is wrong. `file` lookup plugin returns the content of file, not Ansible variable.

You may want to use like -

[code]
and

[code]

Being said that, I agree - traceback should be handled in the `ec2_ami` module.

[2020-03-18 07:35] Akasurde commented on #68285
Hi @seeavosh,

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

The error `ERROR! 'postgresql_info' is not a valid attribute for a Play` is correct, since you are directly using task examples in your playbook.

It should be -

[code]

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

[2020-03-18 07:35] #68285 closed, assigned to Akasurde

[2020-03-18 07:38] Akasurde commented on #68296
Issue migrated to https://github.com/ansible-collections/community.windows/issues/54

[2020-03-18 07:38] #68296 closed, assigned to nobody

[2020-03-18 07:39] mkrizek commented on #68292
Closing in favor of https://github.com/ansible/ansible/issues/68290 since that issue has a response already.

[2020-03-18 07:39] #68292 closed, assigned to nobody

[2020-03-18 08:26] vizdrag opened #68303 "Ansible ignore aws_ec2 inventory plugin when run"
### SUMMARY
aws_ec2 inventory plugin doesn't work properly, ignore inventory region

##### ISSUE TYPE
- Bug/Problem

##### COMPONENT NAME
aws_ec2 inventory plugin
https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 5.3.0-40-generic

##### STEPS TO REPRODUCE
Set your aws configure to de

[2020-03-18 09:30] demian711 opened #68305 "URI module src is looking for src in incorrect path"
##### SUMMARY
URI module src is looking for src in incorrect path. This is working ok if using curl

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
URI

##### ANSIBLE VERSION
2.8.4

##### STEPS TO REPRODUCE
Just try to PUT some content to Nexus in this case, specifying the src in a local path where file exists: /tmp/xxx.jar in this example

[code]

##### EXPECTED RESULTS
File located in 'src'

[2020-03-18 09:42] mkrizek commented on #68305
What is the failure you are getting? On what machine is `"/tmp/{{ my_file }}"` located, controller or target machine?

needs_info

[2020-03-18 10:22] starflighter commented on #44382
Hi @s11-charendt
I have the same problem but I don't understand your solution.
What is $1 and $2 in your bash onelinier?

thanks for an explanation :-)

[2020-03-18 10:25] demian711 commented on #68305
Thanks for reply.
Exact error is 502 bad error, but I guess that is an internal problem. But if I remove the src parameter from the URI module, it runs OK.
/tmp is in controller, my personal machine so far.

complete error log:

`fatal: [dsu-sonar-stg-vm_cfd5 -> 127.0.0.1]: FAILED! => {
    "changed": false,
    "connection": "close",
    "content": "<html>\n<head>\n    <style>\n        html,body

[2020-03-18 10:45] Akasurde commented on #66651
@chillancezen Thanks for reporting this issue.

Following are my observations -

1. The collection `chillancezen.fortimanager` used in the example is deprecated and supported by the community.
2. The exception raised `async_wrapper` is due to the failure of module `fmgr_antivirus_profile`. Because it failed to return output to async_wrapper in JSON format.

I would recommend checking the failure i

[2020-03-18 10:50] s11-charendt commented on #44382
@starflighter These are needed to pass arguments like `--list`or `--host hostname` to the inner ansible-inventory

[2020-03-18 12:29] MaartenMol opened #68307 "win_reboot: failed to get host boot time info"
##### SUMMARY

Getting the following error: `win_reboot: failed to get host boot time info, rc: 1, stdout: , stderr:`

While running this play on Windows Server 2019

I have seen other reports from before but those are a long time ago and from very old versions of Ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-03-18 13:02] MaartenMol commented on #68307
When running a simple reboot all task with win_reboot, same results:

Playbook:
[code]

Result:
[code]

[2020-03-18 13:05] adean20csc opened #68308 "ansible not deleting .ansible/tmp directory"
There are some issues out there that say issue fixed but I still have it.

##### SUMMARY
Running ansible-playbook leaves the remote $HOME/.ansible/tmp/xxx directory and contents on remote host. It is not all playbooks and it does it with gather_facts: no.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook (has been previously reported it was gather_facts but it does it when I sp

[2020-03-18 13:57] justjais commented on #64271
@benjdudas please use the latest available nxos_vlans resource module from `2.9`

[2020-03-18 13:57] #64271 closed, assigned to nobody

[2020-03-18 13:57] #66843 closed, assigned to nobody

[2020-03-18 14:00] justjais commented on #64037
Closing the issue, as the suggestion provided works as expected

[2020-03-18 14:00] #64037 closed, assigned to nobody

[2020-03-18 14:02] pabelanger commented on #63063
Close for now

[2020-03-18 14:02] #63063 closed, assigned to nobody

[2020-03-18 14:05] FedericoOlivieri commented on #50334
Anyone started to work on this? otherwise I will draft a module and share with the community

[2020-03-18 14:06] benzBrake opened #68309 "Include_tasks cannot not locate current role directory?"
##### SUMMARY
my playbook
[code]
in role proxysql-for-centos
[code]
a.yml can be correctly loaded, but b.yml and c.yml was search at root directory that can not be loaed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

Files tree
[code]

proxysql-for-centos/tasks

[2020-03-18 14:17] Qalthos commented on #64170
So `cli_command` works on lots of platforms, but it doesn't work on _every_ platform, and especially not unspecified "proprietary" clis.

`cli_command` requires a compatible cliconf plugin for your platform to run. The error snippet you provided indicates that the plugin you are using is not compatible with your platform. Without that, there really isn't anything ansible can do... it doesn't know

[2020-03-18 14:17] #64170 closed, assigned to nobody

[2020-03-18 14:20] sivel commented on #68308
This has been resolved as of Ansible 2.9.3 via https://github.com/ansible/ansible/pull/65670

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-18 14:20] #68308 closed, assigned to nobody

[2020-03-18 14:22] kitos9112 commented on #50334
@FedericoOlivieri I've not yet started working on this. Happy with me for you to take the lead though! I'm still interested in it so would not mind giving you feedback while tracing a draft in your initial forked module.

[2020-03-18 14:25] sivel commented on #68309
According to your `tree` output, the files on disk are not named the same as those in your role:

From `tree`:

[code]

Notice the lowercase `h`.

In your tasks:

[code]

Notice the capital `H`.

For what it's worth, ansible has a directory lookup precedence, and it will start in the role, and make its way to the playbook directory.  The error only shows the last directory.

If you have further qu

[2020-03-18 14:25] #68309 closed, assigned to nobody

[2020-03-18 14:29] FedericoOlivieri commented on #50334
Great. I will draft a module example with all arguments supported. Would be great if you can list all the functionalities you would like to have.

So far I came with:

[code]

[2020-03-18 14:41] kitos9112 commented on #50334
Sounds reasonable. I believe we should kick off with a very simple use case where we can handle additions, commits and pushes between local and remote branch git repositories. I also like the fact of using a combination of username and token just supporting HTTPs Git client requests out of the box.

In the first place, we should give for granted the Git repo has already been initialised in both en

[2020-03-18 14:53] craph opened #68311 "Difference about variable definition in role dependencies"
##### SUMMARY

I write this issue because the documentation is not really clear about variable injection in role dependencies.
In the documentation we can see this :
[code]
But also this :
[code]
and also :
[code]
and
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

role

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS 7.X

So what are the difference between each syntax d

[2020-03-18 15:12] angristan commented on #68226
Thanks!

@mkrizek The first solution does work indeed (until 2.11). However the second one does not, since my list only contains a part of the package name (hence `php{{ php_version }}-{{ item }}`)

[2020-03-18 15:41] sakishrist opened #68312 "Rescue block not triggered in very specific conditions"
##### SUMMARY

Example is attached [here](https://github.com/ansible/ansible/files/4349831/example.zip).

Rescue tasks not triggered when this combination is used:
  - block or task contains a `when: "'worker' in group_names"`.
  - the when is not true for at least one host
  - (`meta: end_play` is used, even if not immediately after the block+rescue) **Note Below**

The rescue tasks are triggered

[2020-03-18 15:54] sivel commented on #68312
Here is a more simple reproducer:

hosts:
[code]

playbook.yml
[code]

The 3 nested blocks is required, otherwise the include/import is necessary to reproduce.  I feel like there may be another issue describing this elsewhere, but I haven't found it.

cc @mkrizek

[2020-03-18 16:06] sakishrist commented on #68312
Sivel, thanks for finding a simpler way to represent this.

I also searched for another issue but couldn't find anything.

[2020-03-18 16:06] eengstrom opened #68314 "use of multi-line command to `raw` in role fails with `Unmatched '.` on FreeBSD"
##### SUMMARY
Use of multi-line commands to the `raw` module fails (hangs or errors) when used in a role's `tasks/*.yml` file(s).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`raw` module.
Perhaps that and/or some combination of:
 - (a different?) parsing engine for role-based task files
 - `paramiko`
 - become-method: `su`
 - FreeBSD's bourne-shell (`/bin/sh`)

Regardless, it seems that a

[2020-03-18 16:21] sivel commented on #68314
What you have written in YAML, when parsed to Python becomes:

[code]

Notice the `\n` after `foo`.  That is then translated to the following `ssh` command:

[code]

Notice the newline after `foo` and before `'`.

As a result, the remote shell is likely having issues with this.

The fix to this is that you will need to indicate in YAML to strip the trailing newline by using `|-` instead of `|`:

[

[2020-03-18 16:21] #68314 closed, assigned to nobody

[2020-03-18 16:32] sivel commented on #68311
The difference between the following is just YAML formatting:

[code]

and

[code]

The big difference is when using `vars:` or not.

When not using `vars:` you are using "role parameters" (or params). Role params are effectively like "role local variables":

[code]

`vars:` is more generic, and applies most everywhere throughout Ansible.  However, when using `vars:` on a role, those variables imp

[2020-03-18 16:45] mkrizek commented on #68312
Duplicate of https://github.com/ansible/ansible/issues/64999

[2020-03-18 16:45] #68312 closed, assigned to nobody

[2020-03-18 16:45] mkrizek commented on #64999
Another reproducer https://github.com/ansible/ansible/issues/68312#issuecomment-600712479

[2020-03-18 16:46] sivel commented on #68275
This is more an issue with serializing the module args, than anything specific to `nios_host_record`

To support this in the way the task is written, we would need something like this:

[code]

!component =lib/ansible/executor/module_common.py

[2020-03-18 17:16] dagwieers commented on #19681
On a minimal CentOS-7 docker container I get:
[code]

Which is wrong regardless of the context or capability. The module is making too many assumptions based on it being Red Hat (see RedHatStrategy). I wonder why it doesn't use `/etc/hostname` instead.

[2020-03-18 17:18] craph commented on #68311
@sivel Thank you very much for the update.

If I ask these question it's because when I try a sample of code with those different syntax all seems working fine like you explain.

But in a play where I'm contributing, the role parameters seems not evaluate when I'm using `var` but if I pass the content of the var it works.

But I'm unable to reproduce the case in a sample...

What is done in the is

[2020-03-18 17:33] justjais commented on #64042
@kgrozis-arista Apologies for the delay in response, and yes newer resource modules introduced in Ansible `2.9` are supported currently only with `network_cli` connection plugin, we'll add the support of eapi from Ansible `2.10`.
If you're not able to reproduce the scenario with `network_cli` connection plugin, can you close the respective issue and open a new issue at [EOS collection repo](https:

[2020-03-18 18:17] justjais commented on #68238
Closing the issue, as PR fix had already a duplicate PR. I have commented with more information on the PR

[2020-03-18 18:17] #68238 closed, assigned to nobody

[2020-03-18 18:30] LuckySB commented on #67534
follow up
i get same error on ansible 2.8.10

[2020-03-18 18:39] flowerysong commented on #68303
Your test playbook is targeting localhost and fetching instances on its own, so there's no reason your inventory configuration would have any effect on the results.

Either reference the region you want in your task:
[code]

or do something that actually uses the inventory, like:

[code]

or:
[code]

[2020-03-18 19:09] mstuparu commented on #55658
I still don' understand why this is not being addressed. The way we hack it to work for us is:

`sed -i "s/key, value = param.split('=')/key, value = param.split('=',1)/g" /usr/lib/python3.8/site-packages/ansible/plugins/lookup/hashi_vault.py`

[2020-03-18 19:45] feisa commented on #67631
what info?

[2020-03-18 19:46] feisa commented on #67631
I dont think aggregate fixes this. Its an issue with the module vs cli

[2020-03-18 20:24] sivel commented on #68257
Here is the example with `find`:

[code]

That last `debug` can then be used in a `when` statement.

Alternatively, this can also be done with `stat` and a discrete file list like:

[code]

There are probably various changes that could be made, such as using a single `stat` task instead of 2.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode

[2020-03-18 20:24] #68257 closed, assigned to nobody

[2020-03-18 21:07] lucastheisen commented on #58130
Looks like this was resolved in the [upstream lib](https://github.com/openshift/openshift-restclient-python/commit/917e725259d02abdd56c57376d5e814ea0fff142) as part of [PR 333](https://github.com/openshift/openshift-restclient-python/pull/333)

[2020-03-18 21:07] #58130 closed, assigned to nobody

[2020-03-18 21:34] #59821 closed, assigned to nobody

[2020-03-18 21:35] #63159 closed, assigned to nobody

[2020-03-18 22:41] mattclay commented on #68269
Resolved by https://github.com/ansible/ansible/pull/68317

[2020-03-18 22:41] #68269 closed, assigned to nobody

[2020-03-18 23:24] Aethylred opened #68319 "filetree docuentation does only covers with_filetree and not the filetree filter"
##### SUMMARY
The documentation for filetree lookup is incomplete: https://docs.ansible.com/ansible/latest/plugins/lookup/filetree.html

It covers only usage of the `with_filetree` iterator and does not cover usage of the `filetree` filter with the `loop` iterator

It should also provide an example of iterating over a list _and_  filetree something like below where `usernames` is a list of usernam

[2020-03-18 23:44] GomathiselviS commented on #67631
Hi @feisa

Using aggregate is the right way. We check for idempotency by comparing the dicts and not the cli. Please try with 'aggregate' and if you still face the same issue, please share the run output and the playbook used.

needs_info

[2020-03-19 00:17] vizdrag commented on #68303
@flowerysong then why i can use any of my yaml roles with simple ansible-inventory with defaults plugins, on example, gather facts from list of my local machines. But i can't get same information when i try to use aws_ec2 inventory plugin? Difference only in inventory.

Even when ansible use whitelist for enabled inventory plugins in /etc/ansible/ansible.cfg
Even i set all default plugins and add

[2020-03-19 00:23] sivel commented on #68319
There are not any docs for such a filter because it doesn't exist within this repository. Do you actually have such a filter?

[2020-03-19 00:46] flowerysong commented on #68303
I've already told you what's happening with the example in your original post, which is that it doesn't do anything that's dependent on the inventory you've defined.

If you have another example that actually references something from your inventory you need to provide that.

[2020-03-19 02:26] briantist commented on #67557
I'm seeing something similar, with both `elb_application_lb` and `elb_network_lb`.
Despite sending the same parameters in each time, I'm getting `changed` status every time, but I can't figure out what it thinks has changed.

In the AWS console it all looks the same. With the same playbooks, this was not happening in 2.8.5.

[2020-03-19 07:41] vizdrag commented on #68303
@flowerysong it works fine, thank you. Can you help me with example of task aws_instance_info? I will try to understand to the end where im wrong im my previous code and how i should to write this properly

[2020-03-19 08:00] briantist commented on #67557
@willhughes-au I think I figured out the root cause of this. And I also found a very painful and ugly workaround that you might be able to do without modifying Ansible code.

Since Ansible is being split out into collections, this issue will probably end up being closed/deleted. [I've opened a new issue in the new repo](https://github.com/ansible-collections/ansible.amazon/issues/8). Have a look;

[2020-03-19 08:06] #49038 closed, assigned to nobody

[2020-03-19 08:08] kbreit commented on #67397
This was resolved by specifying location of python using `ansible_python_interpreter`

[2020-03-19 08:08] #67397 closed, assigned to nobody

[2020-03-19 08:16] kbreit commented on #48614
This is available in the collection at `Cisco.meraki`. Closing

[2020-03-19 08:16] #48614 closed, assigned to nobody

[2020-03-19 08:30] Akasurde commented on #68307
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/36

[2020-03-19 08:31] #68307 closed, assigned to nobody

[2020-03-19 09:23] emz00 opened #68334 "Invalid boolean values in ansible.cfg are treated as "false""
##### SUMMARY
If any ansible.cfg value that expects a boolean is set to a value other than "true" or "yes" it is interpreted as "false", which leads to difficult to debug issues. Invalid boolean values should report an error or, at the very least, a warning.

This is especially confusing when the user attempts to use an inline comment (see #10354) - the configuration file *looks* valid to anyone w

[2020-03-19 09:24] loop-evgeny commented on #68334
Before someone says "this is just how Python/configparser works" - maybe, but Ansible can still be (fairly easily) made to work better.

[2020-03-19 09:28] craph commented on #68311
Here is my sample to try to reproduce my issue but I'm enable to do it...
I'm using role params and the variable message is correctly evaluated in role2 but I expected it shouldn't ...
[debug_vars_precedences.zip](https://github.com/ansible/ansible/files/4353656/debug_vars_precedences.zip)

[2020-03-19 09:45] FedericoOlivieri commented on #50334
I agree with your proposal. Let's start with something simple and reliable and add time by time new features and handle exceptions. I am not myself a super git expert so I will probably miss some stuff :)

Regarding library, yes I much prefer leverage to  a library that can handle all OS stuff and help to keep the module simple as much as possible.

https://gitpython.readthedocs.io/en/stable/index

[2020-03-19 10:08] spawnia commented on #45214
A PR for this was attempted and rejected, see https://github.com/ansible/ansible/pull/64383#issuecomment-549878478

@bcoca can you elaborate on why you think using environment variables for secrets is a bad idea?

Many people in this thread (including myself) seem to think it is fine and would like the convenience of it. Many CI systems run Ansible in a temporary/short-lived environment and use en

[2020-03-19 10:43] FedericoOlivieri commented on #50334
agree with your proposal. Let's start with something simple and reliable and add time by time new features and handle exceptions. I am not myself a super git expert so I will probably miss some stuff :)

In first instance I though library could be a better choice but while I am developing the code I realize is better leverage on [subprocess](https://docs.python.org/2/library/subprocess.html#module

[2020-03-19 10:52] Akasurde commented on #68249
@mooky31 Could you please try this modification -

[code]

[2020-03-19 11:01] kitos9112 commented on #50334
I was about to say the same. I second your proposal too. The existing Ansible git module leverages a current installation of Git in given parameter () while building a list of commands.

[code]

[code]
Source --> [git.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py)

[2020-03-19 11:04] #42896 closed, assigned to nobody

[2020-03-19 12:09] Cerebus commented on #36395
No.

[2020-03-19 12:11] mooky31 commented on #68249
Thanks for the hint.

It raises a new error :
[code]

[2020-03-19 13:01] nicholasamorim opened #68338 "docker_swarm_service should support --mount-rm"
##### SUMMARY

docker_swarm_service allows to add mount points but does not allows us to remove them even though the underlying `docker service update` command has `--mount-rm` available.

The `mounts` should support `state`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docker_swarm_service

##### ADDITIONAL INFORMATION

Allow us to remove broken/unused mountpoints from the Swarm withou

[2020-03-19 13:14] Garreat commented on #68007
@ericcitaire A workaround for that is to mount /etc/passwd to the container used by Jenkins pipeline

[2020-03-19 13:17] Qalthos commented on #68079
So if I understand this properly, this is down to being unable to disable the pager. Unfortunately, due to the way ansible works, you _need_ to be able to disable the pager... if you can't, issues like this show up.

What I think is more troublesome is that the asa terminal plugin should be detecting that you can't disable the pager and failing appropriately there. The fact that this is not happen

[2020-03-19 13:20] sakishrist opened #68339 "Concatenation executed too early when done inside of ternary()"
##### SUMMARY

`name is defined | ternary ( name, 'ohh' )`  works fine when `name` is not defined, but...

`name is defined | ternary ( 'name is ' + name, 'ohh' )` fails with exception that name is undefined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ternary filter

##### ANSIBLE VERSION

[code]
Tested with latest devel commit: 4e8b240b8b74db2453851f12ec82c7f782289187

##### CONFIGURAT

[2020-03-19 13:27] Akasurde commented on #68249
@mooky31 Can you please check if `results` on line 344 is dict or tuple. Since `fail_json` requires dict after **, `results` should be dict. But looking at code it is list. I don't have fortimanger device or account to debug further.

[2020-03-19 14:11] Vladimir-csp commented on #62738
I can confirm that private items in loops are very hard to identify. Something like this would really help:
[code]
Also, some kind of custom public templated string would be handy for non-loop tasks too.

[2020-03-19 14:35] apatard opened #68341 "ssh connection reset and ssh tokens in controlpath"
##### SUMMARY

When investigating https://github.com/ansible-community/molecule-vagrant/issues/1, I found out that ``meta: reset_connection`` is not working due to the reset() function of the ssh.py connection plugin not being able to find the connection socket. It turns out that molecule is using ``control_path = %(directory)s/%%h-%%p-%%r``. For instance, it's translated into ``ControlPath=/home/

[2020-03-19 14:51] mooky31 commented on #68249
I added those two prints:
[code]
Result is indeed a tuple:
`"module_stdout": "<type 'tuple'>\n(-3, {u'status': {u'message': u'Object does not exist', u'code': -3}, u'url': u'dvmdb/device/fortiVM01'})\n"`

[2020-03-19 14:55] mvorisek opened #68342 "Ansible from Ubuntu repo is not installable on Debian 11"
##### SUMMARY
Ansible can not be installed from Ubuntu repo as described here https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-on-debian on Debian 11

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
latest

##### CONFIGURATION
Debian 11 + Ansible Ubuntu repo

##### OS / ENVIRONMENT
Debian 11

##### STEPS TO REPROD

[2020-03-19 15:04] sivel commented on #68339
This is a downside of the `ternary` filter.  Because it is not a true ternary, the values within must be able to evaluate.

You have a few options:

1. Use default to prevent the failure: `{{ name is defined | ternary ( 'name is ' ~ name|default(), 'ohh' ) }}`
2. Use a real ternary statement: `{{ 'ohh' if name is undefined else 'name is ' ~ name }}`

If you have further questions please stop by IR

[2020-03-19 15:04] #68339 closed, assigned to nobody

[2020-03-19 15:13] sivel commented on #68334
Related: https://github.com/ansible/ansible/issues/62879

The problem here, is that while we can make python3 do this, we cannot for python2.

The only comment character that python2 allows for in inline comments is `;`

So instead of:

[code]

You would use:

[code]

Unfortunately, the related issue I mention above, means that this doesn't work on Python3 by default, because Python3 defaults to d

[2020-03-19 15:18] sakishrist commented on #68339
Oh, I didn't know I could write it as in 2.
Thanks for taking the time to give those examples!

[2020-03-19 15:20] nurseandthenerd opened #68343 "nxos_devicealias module doesn't error when illegal characters are in device-alias"
##### SUMMARY

nxos_devicealias module doesn't error when illegal characters are in device-alias. It acts as though everything succeed although the device-alias was never added to the switch.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_devicealias
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Software
BIOS: version 2.1.17
loader: version N/A
kick

[2020-03-19 15:36] zetera44 opened #68344 "icx_user module always returns changed"
##### SUMMARY
When trying to configure a password for a user regardless of if the user has the same password or not the output always reads as changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
icx_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

second run on creating the same user with the same credentials

[code]

##### EXPECTED RESULTS

On th

[2020-03-19 15:38] loop-evgeny commented on #68334
This issue is not about inline comments specifically - that's just one likely way it can be discovered. The issue is that ANY text other than "true" or "yes" is treated as false, when this is likely not what the user intended. That's similar to treating any non-integer in a setting that expects an integer as 0, which Ansible thankfully does not do! For example if I write

`remote_port = whatport`

[2020-03-19 15:42] sivel commented on #68334
I'll re-open, and we can discuss.  This is a result of not using strict booleans, which means anything other than the following list (lowercased, and stringified) are considered to be non-True:

[code]

[2020-03-19 16:23] jillr commented on #56124
@jborean93 it's a nice to have rather than a need to have for existing buckets. I would recommend we do the work, but it's not a priority.

[2020-03-19 17:35] #29543 closed, assigned to abadger

[2020-03-19 17:48] tkhkokd commented on #64051
Temporary workaround is to un-comment `disk_type` property if you want 'pd-standard' as the value.

[2020-03-19 17:50] ftntcorecse commented on #56128
@sinu please see this module for querying FortiManager:

https://github.com/ftntcorecse/fndn_ansible/blob/master/fortimanager/modules/network/fortimanager/fmgr_query.py

[2020-03-19 17:53] ftntcorecse commented on #56696
Please close out this issue if you have resolved your need.

[2020-03-19 18:03] ftntcorecse commented on #61193
"is there any way to kill other administrator session before running the object/policy creation task?" -- No. The ADOM must be unlocked in order to make changes.

This is by design of workspace mode, and not Ansible or our modules.

[2020-03-19 18:04] ftntcorecse commented on #61193
This was for a different issue. Please see our previous comments about Workspace behavior.

[2020-03-19 19:03] RecursiveCptHook commented on #68294
So after updating some underlying packages, now seeing:

[code]

It appears it is trying to read the ec2.py file as a YAML? That location is the docstring for the ec2.py file?

[2020-03-19 19:08] RecursiveCptHook commented on #68294
So after updating some underlying packages, now seeing:

[code]

It appears it is trying to read the ec2.py file as a YAML? That location is the docstring for the ec2.py file?

[2020-03-19 20:07] mjcotner commented on #67870
That is very possible. I am starting to think that a 1200 MTU size is unsupported on most OSs. I would have to do a packet capture on that side of the network to be sure though. What I am sure of is that our CentOS8 Ansible Control Node is sending out packets too big for our network configuration.

We are currently looking into an alternate network configuration as a solution.

Thanks for the help

[2020-03-19 20:27] DarinJ opened #68347 "ovirt_vm lacks the ability to assign a bios type"
##### SUMMARY
When using the ovirt_vm module you have the ability to set most options contained within the ovirt API, however one option which is missing is the ability to specify the bios type.  This creates issues if you want to use images supporting UEFI.  Both type and boot_menu are sub objects of the bios object in the ovirt API so this is a trivial task.

To preserve compatibility suggest ad

[2020-03-19 21:14] MaartenMol opened #68349 "vmware_tools connection plugin should encode when using Powershell"
##### SUMMARY

When using the vmware_tools connection plugin with Windows (set shell method to Powershell) some Windows modules don't work properly.

WinRM plugin does some encoding to always use Powershell, no issues with any Windows Modules. See this issue for more information on the bugs when working with Windows and vmware_tools: https://github.com/ansible-collections/ansible.windows/issues/36

[2020-03-19 21:28] jplitza opened #68350 "edgeos_config in check_mode reports too many changes"
##### SUMMARY

When running a playbook with `--check` command line switch, as soon as one task using `edgeos_config` causes a change, all following tasks using `edgeos_config` report changes too even though they changed nothing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

edgeos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

EdgeOS 2.0.8

####

[2020-03-19 21:30] Pectojin opened #68351 "zabbix_host module digital envelope routines: EVP_DigestInit_ex disabled for FIPS"
##### SUMMARY
Using zabbix_host module to create a host from RHEL 8 with FIPS mode enabled produces an error because MD5 is used hash the password before it's printed in the debug log.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

crypto.fips_enabled = 1

##### STEPS TO REPRODUCE

- Install RHEL

[2020-03-19 22:44] RecursiveCptHook commented on #68294
Appears boto would get into a state where it was including request information in the inventory response, not sure why that behavior started happening, or it being inconsistent. Tearing everything down and rebuilding appears to have addressed the errant behavior. Closing as system/implementation specific configuration error.

[2020-03-19 22:44] #68294 closed, assigned to nobody

[2020-03-19 23:32] edaemon commented on #30754
@bitinerant, when you run `sudo apt update` (not `apt-get`) do you get any errors or warnings related to signature verification?

I'm asking because I was seeing the exact same behavior you are in a GitHub Actions Ubuntu 18.04 environment and it turned out to be caused by heroku/cli#1464. A similar key issue may be affecting your environment.

[2020-03-20 00:36] michaelsmoody opened #68353 "Issues with ansible_password and Vault-encrypted credentials"
##### SUMMARY
Continued problems as in #19795 where the decrypted string that is stored as a variable, and decrypted with vault, doesn't work as a valid credential. When debugging, it has an extra "\n" on the end, but even with a filter to remove that, the credential still doesn't work, leading me to suspect that #19795 is still unresolved. However, that was closed.

##### ISSUE TYPE
- Bug Report

[2020-03-20 01:44] kbreit commented on #56402
Implemented in `cisco.meraki`. Closing.

[2020-03-20 01:44] #56402 closed, assigned to nobody

[2020-03-20 02:06] kbreit commented on #56630
Closing as this will be in `cisco.meraki` with https://github.com/CiscoDevNet/ansible-meraki/pull/85.

[2020-03-20 02:06] #56630 closed, assigned to nobody

[2020-03-20 03:26] mattclay commented on #67869
Resolved by https://github.com/ansible/ansible/pull/68352

[2020-03-20 03:26] #67869 closed, assigned to mattclay

[2020-03-20 03:31] pinkeen opened #68354 "cloudfront_distribution module breaks when multiple origins have the same domain"
##### SUMMARY
The `cloudfront_distribution` module internally deduplicates origin configuration items by
using their domain as dict key. If multiple origins have the same domain name only the last
one will be taken into account, others will not be created or a validation error will be thrown
in case a missing one is referenced in any `cache_behavior`.

This behavior is not rooted in any AWS CloudF

[2020-03-20 04:37] genna1966 opened #68357 "become_method: su ignored"
##### SUMMARY

Hi,
I'm trying to use "become_method: su" in my task , to override my default configuration( in ,/etc/ansible/ansible.cfg). However it appears  to be ignored. Script execution is using default setting.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

ok: [10.56.12.

[2020-03-20 05:49] mattclay commented on #26229
Closing, since there are no longer any consul_acl tests in the repo.

[2020-03-20 05:49] #26229 closed, assigned to nobody

[2020-03-20 07:47] matonb commented on #47511
@Sebastiaan76

I ran into the same problem with AWX tower running on a VM, take a look at #68340.
You can specify witch NICs ip address to assign to `ansible_host` by setting `ovirt_host_nic` in ovirt.ini or the environment variable `OVIRT_HOST_NIC` the name (i.e. eth0) of the NIC you want.

[2020-03-20 08:15] craph commented on #68311
@sivel do you have any idea ?

[2020-03-20 08:20] aneagoe opened #68361 "Ansible 2.9+ on python 3 has issues with module discovery for collections"
##### SUMMARY
When using ansible collections with ansible 2.9+ **and** python 3, there is an issue with ansible discovering the location of the modules. Switching to either python 2.7 **or** ansible 2.8 would resolve the problem. This is also reported in the FreeIPA project: https://github.com/freeipa/ansible-freeipa/issues/144

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collections

####

[2020-03-20 08:24] jplitza commented on #68350
I've added some debugging. Apparently, after a change occured, in https://github.com/ansible/ansible/blob/4e8b240b8b74db2453851f12ec82c7f782289187/lib/ansible/modules/network/edgeos/edgeos_config.py#L250 `config` is set to
[code]
which of course makes any command a change.

[2020-03-20 08:32] jplitza commented on #68350
Maybe this not only happens in check_mode. The problem seems to be that when calling `edit_config()` in `lib/ansible/plugins/cliconf/edgeos.py` for the first time, the `configure` mode is entered, but neither when calling `commit()` nor when calling `discard_changes()` is it exited again, making the `show configuration commands` in `get_config` invalid after the first config change.

I'll prepare

[2020-03-20 08:39] jplitza commented on #68350
Wrong again: When not using check_mode, the exit happens here: https://github.com/ansible/ansible/blob/4e8b240b8b74db2453851f12ec82c7f782289187/lib/ansible/module_utils/network/edgeos/edgeos.py#L129

So I'll make that unconditional of the commit boolean (and make the `if not commit` an `else`)

[2020-03-20 08:44] Fred-sun commented on #68291
@VKAlwaysWin Thank you for taking the time to report this problem, we will investigate it,

[2020-03-20 08:57] aneagoe commented on #68361
@nitzmahone maybe you have a clue about this, there are a few FIXME comments from you in the `CollectionModuleInfo` class.

[2020-03-20 11:21] FedericoOlivieri commented on #50334
So, here the first working draft. Let's go through all hypothetical module:

[code]

`git_cp` is the module name and stands for commit/push. I know. Is terrible. Is the only name I came with. More than happy to change it.

`folder_path`: folder where the `.git` folder is. Mandatory argument
`user`: git username. required if `https: True`
`token`: git API token. required if `https: True`
`comment`:

[2020-03-20 11:22] FedericoOlivieri commented on #50334
And this is the VERY high level code. Need to implement more functions as well as DRY and error handling. Then, convert in ansible module.

`
#!/usr/bin/env python3
import os
import subprocess

def execute_cmds(commands):

    for cmd in commands:
        print(cmd.split())
        send_commands = subprocess.Popen(
            cmd.split(),
            stdout=subprocess.PIPE,
            stderr=sub

[2020-03-20 11:23] stawii opened #68364 "Extracting from hostvars in loop through hostvars does not work :)"
##### SUMMARY

Uh.. hard to explain.. My best shot is: `map('extract', hostvars, 'any_variable')` does not work when it is in variable which is being accessed by `hostvars[host][var]` already. See example to see use case.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ALL (?)

##### STEPS TO REPRODU

[2020-03-20 11:40] Slm0n87 commented on #34281
+1

[2020-03-20 12:42] AlanCoding opened #68365 "Some way to customize junit callback plugin in ansible-test run for a collection"
##### SUMMARY
I would like to customize the junit test data from running `ansible-test` in a collection. It does not seem to let me do this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-test
junit callback plugin

##### ADDITIONAL INFORMATION
I would like to integrate the junit output from `ansible-test integration` into Jenkins. We are running `ansible-test` for our collection.

[2020-03-20 13:36] masterphenix opened #68366 "azure_rm_keyvaultsecret failure with auth_source=cli - No handlers could be found for logger msrest.pipeline.requests"
##### SUMMARY

Running module azure_rm_keyvaultsecret to add a secret to an existing vault fails with error "No handlers could be found for logger msrest.pipeline.requests".
auth_source used in task is "cli", and the same operation using az cli work fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_keyvaultsecret

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2020-03-20 14:52] sivel commented on #68361
I'll need more context, and to discuss this more, but this seems to be the solution from what I have tested thus far:

[code]

All collection related integration tests seem to pass with this change.

[2020-03-20 15:31] sivel commented on #68357
This does appear to be working correctly.

You have indicated the that executable to be used with become is `/usr/boksm/bin/suexec`.  The command that is being executed, as evidenced by your verbose logs is:

[code]

This indicates that things are working as expected.  If you expect `become_exe` to be overridden by specifying `become_method: su` it will not.  The `become_method` only specifies the

[2020-03-20 15:31] #68357 closed, assigned to nobody

[2020-03-20 15:51] kitos9112 commented on #50334
@FedericoOlivieri Seems acceptable for a first touch.
Catching a few exceptions and applying some Ansible best practices around for handling strings and specific Ansible types as you said. Finally, wrapping a few tests and I presume we should be in a fair starting position for raising a PR.

I also think this module would need to go into a dedicated collection in ansible-community as per their las

[2020-03-20 16:09] FedericoOlivieri commented on #50334
https://github.com/FedericoOlivieri/ansible/blob/devel/lib/ansible/modules/source_control/git_cp.py

[2020-03-20 16:23] imlight commented on #68252
How to do that ?

[2020-03-20 16:33] enys opened #68373 "Scaleway inventory plugin: not all tags reflect as groups"
##### SUMMARY

Using the scaleway inventory plugin I was expecting that all tags on an instance would reflect as a group.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

name: scaleway
plugin_type: inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targeting scaleway to build dynamic inventory

##### STEPS TO REPRODUCE

ansible-inventory --list -i i

[2020-03-20 16:39] aneagoe commented on #68361
I can confirm this looks good if I patch `module_common.py` as per above.

[2020-03-20 16:47] geerlingguy commented on #61680
This has become much more frustrating lately, because there are _many_ situations where I want to install a collection from source (like I can do with Galaxy roles), but it's kind of a hacky dance that I have to do to be able to get it working.

[code]

That's a lot more ugly (and almost impossible to remember, and requires extra tooling in some cases (e.g. Docker containers)) than something like:

[2020-03-20 16:51] yakhatape opened #68374 "rhn_channel module HTTPS insecure mode"
##### SUMMARY
I'm trying to use the rhn_channel module to improve our automation but we are using an private CA. I want to know if its possible to add a insecure parameter [true, false] for exemple to be able to use it w/o certificat problem.

##### ISSUE TYPE
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "Unable to establish session with Satellite server: [SSL: CERTIFICATE

[2020-03-20 17:01] srbharadwaj commented on #68343
looking into it

[2020-03-20 17:22] #43733 closed, assigned to nobody

[2020-03-20 17:25] jchristi commented on #65817
FYI, I have a need for this as well and plan on working on a module to implement this.

[2020-03-20 18:23] solintllc-robert opened #68379 "docker_image: credential error when pulling an image"
##### SUMMARY
I am unable to pull any images from docker hub using ansible despite being able to pull them with the Docker CLI.

I have not configured any of the DOCKER_* environment variables.  My .docker/config.json is
[code]
docker-credential-desktop list is empty `{}`

I did
`pip install docker[tls]`
although I am not sure I needed to.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docke

[2020-03-20 18:30] gitrobert42 commented on #68379
May be related to [this open bug](https://github.com/docker/docker-py/issues/2482#issue-541389969) in docker-py.

[2020-03-20 19:08] goneri commented on #68349
Hi @MaartenMol,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue

[2020-03-20 19:12] goneri commented on #67870
Thanks for the feedback and good luck with that. Network is the worst :-). I close the issue. If you feel like it's really something Ansible can handle, please open an issue in the new home of the VMware modules: github.com/ansible-collections/vmware

[2020-03-20 19:12] #67870 closed, assigned to nobody

[2020-03-20 19:14] goneri commented on #53749
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-03-20 19:15] jchristi commented on #65817
WIP branch is at https://github.com/jchristi/ansible/tree/issue_65817_aws_sftp

[2020-03-20 19:23] rileymorrison commented on #67159
Any fix in the works for this? I can confirm this mh21's fix solves this issue.

[2020-03-20 19:52] AlanCoding commented on #45104
That was merged into the collection

[2020-03-20 20:23] MaartenMol commented on #68349
@goneri Moved it! https://github.com/ansible-collections/vmware/issues/61

[2020-03-20 20:23] #68349 closed, assigned to nobody

[2020-03-20 20:55] geerlingguy opened #68383 "Don't exclude galaxy.yml from collection when doing build"
Instead of _ignoring_ `galaxy.yml` when building collections, let's _embrace_ it!

##### SUMMARY

Currently there are a few new features being baked into collections like:

| PR | New metadata file |
| --- | --- |
| https://github.com/ansible/ansible/pull/67291 | `meta/action_groups.yml` |
| https://github.com/ansible/ansible/pull/67684 | `meta/main.yml` |
| https://github.com/ansible/ansible/pull

[2020-03-20 21:00] jborean93 commented on #68383
I think this is a good idea we can continue to create the `MANIFEST.json` and use that when parsing the collection metadata during install but we should use the existing `galaxy.yml` for runtime information.

The benefit of using just `galaxy.yml` is

* We continue to just have 1 file for collection metadata instead of multiple files
* The existing `galaxy.yml` has a doc that is auto generated so

[2020-03-20 21:03] mnecas commented on #67810
Hi @player93github, thank you for the issue.
Just wanted to update you that we are working on this issue. It looks like engine issue but I'll do a workaround for ansible so you can use it.

[2020-03-20 21:40] geerlingguy commented on #68383
That could enable https://github.com/ansible/ansible/issues/61680

[2020-03-20 23:27] decentral1se commented on #45214
Oh god not another one of these intractable ansible core hell feature blocks...

[2020-03-20 23:32] mattclay commented on #68132
I'm working on a fix for this.

[2020-03-20 23:40] dmrzzz commented on #64016
@sivel I don't see why checksum enters into the desired logic at all.  Even if I did provide a checksum to guard against bad downloads, force:no means I _never_ want to overwrite my existing file.

Documentation of `force` in https://docs.ansible.com/ansible/latest/modules/get_url_module.html#parameter-force says "If no, the file will only be downloaded if the destination does not exist." which is

[2020-03-21 02:56] briantist commented on #31030
I have a similar issue with `win_service`. The `async` job starts fine.

Here's the error from `async_status`:
[code]

And here's the contents of the async job file (formatted for readability):
[code]
Here's the exception from above formatted for readability:
[code]

In my case, the error is definitely not that the user has never logged in before. It's also the same whether the user is currently l

[2020-03-21 05:21] #43737 closed, assigned to nobody

[2020-03-21 05:56] #43736 closed, assigned to nobody

[2020-03-21 06:06] jborean93 commented on #54250
Just an FYI https://github.com/ansible-collections/ansible.windows/pull/34 has refactored the win_service module to no longer use the registry key when setting the delayed flag. This means that the host no longer requires a reboot for this to appear as we are setting it in the proper location.

[2020-03-21 06:24] Adam-McGill commented on #60680
any update to this bug/reported issue?

[2020-03-21 09:48] #66524 closed, assigned to nobody

[2020-03-21 10:38] jhawkesworth commented on #31030
@briantist iirc, in later windows versions, windows removes user registry hives when a user disconnects to improve security. There is a gpo you can set to get it not to do this I think in S2012R2. So you might need to change that, temporarily. If it isn't obvious, ping me and I'll dig out the gpo details.

[2020-03-21 13:03] felixfontein commented on #68379
This looks like a docker-py / docker daemon problem to me. I'm getting a different error BTW (I'm not using credential stores):
[code]
Since I also get this with older docker-py versions, and the Ansible `docker_*` code didn't change, I assume this is a problem / change in the docker daemon - or, alternatively, in the docker registry itself, judging from the syslog entries:
[code]
The docker CLI t

[2020-03-21 13:10] felixfontein commented on #68379
Ok, the problem is a lot simpler. Your example playbook has a typo: you are trying to pull the image `ubunutu`, and not `ubuntu` (notice the extra `u`). When I run `docker pull ubunutu` on the command line, I also get `Error response from daemon: pull access denied for ubunutu, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`.

notabug

[2020-03-21 13:10] #68379 closed, assigned to nobody

[2020-03-21 13:12] felixfontein commented on #68379
(It could still be that without the typo it still fails for you with this error, but then that's really because docker/docker-py#2482, and not because of a bug in docker_image.)

[2020-03-21 15:00] baijiangjie opened #68388 "The ansible-playbook command use the `root `user to change the `root` password"
##### SUMMARY

Use the root user to change the root user's password, the log shows that the change failed (fatal: [centos2]: UNREACHABLE! => {"changed": false, "msg": "Invalid/incorrect password: Permission denied, please try again.", "unreachable": true}), the test login, the old password failed, the new password was successful.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/mo

[2020-03-21 15:01] #66172 closed, assigned to Akasurde

[2020-03-21 15:21] lonico commented on #60680
503 indicates an error with the server (here the target ONTAP system).
It's not an issue with the module itself, it is only the messenger.
We did improve error reporting in recent versions of na_ontap_command and netapp_lib.

[2020-03-21 15:21] lonico commented on #60680
This issue should be closed.

[2020-03-21 16:04] Akasurde commented on #68139
@tubemeister Could you please check if ansible-collections/community.general#26 works for you and let me know? Thanks

needs_info

[2020-03-21 16:04] Akasurde commented on #68139
resolved_by_pr ansible-collections/community.general#26

[2020-03-21 18:31] cognifloyd commented on #67758
:+1: for `mazer`

[2020-03-21 20:38] compyy commented on #36172
Hello, i also solved the issue, actually problem is if your username is not allowed to set terminal on WLC itself, it was not ansible fault :)

[2020-03-22 03:35] itdependsnetworks commented on #34109
@sivel @bcoca safe to say there is still no agreement on naming, and still in a holding pattern?

[2020-03-22 06:53] varuzam commented on #63354
I am experiencing the same problem with ansible 2.9.6

[2020-03-22 07:12] Udayendu opened #68390 "hostname: Module is unable to set the hostname in centos 6"
##### SUMMARY
Unable to set hostname using hostname module in centos6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- hostname

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Ubuntu 18.04.04 LTS based Provision Server

##### STEPS TO REPRODUCE
 - Main Playbook:

[code]

- Variable File:
[code]

##### EXPECTED RESULTS
It should set the hostname as 'webserver01'.

##### ACTUAL RESULT

[2020-03-22 07:16] Udayendu commented on #68390
- Got the below error after changing it to generic:

[code]

[2020-03-22 14:15] olof commented on #45740
I also noticed this misbehavior, I had a go at fixing it in #68392.

[2020-03-22 20:18] briantist commented on #31030
Thanks @jhawkesworth , I don't think we'd want to disable that, for the same security reasons (doubt our security team would approve it anyway). Plus it happens even when the user is logged in.

But anyway this actually came out of a discussion with @jborean93 in IRC and I was offering some additional evidence as to the underlying problem. He suspects that for `win_service` at least, this is proba

[2020-03-22 21:29] me-vlad commented on #68218
Just one more note about mkstemp() in ansible file modules - all modules except lineinfile use a dir parameter:
assemble.py:122:    tmpfd, temp_path = tempfile.mkstemp(dir=tmpdir)
blockinfile.py:164:    tmpfd, tmpfile = tempfile.mkstemp(dir=module.tmpdir)
ini_file.py:278:            tmpfd, tmpfile = tempfile.mkstemp(dir=module.tmpdir)
lineinfile.py:216:    tmpfd, tmpfile = tempfile.mkstemp()
repla

[2020-03-22 21:40] jhawkesworth commented on #31030
Thanks @briantist good to know

[2020-03-22 21:49] genna1966 commented on #68357
Hi Matt,
Thanks for the explanation. I guess it make sense, although I would  say maybe clarification in doco is needed ( where it says become_method: (at play or task level) overrides the default method set in ansible.cfg, set to use any of the Become Plugins. )

I wonder how do I need to solve my problem though. In our environment escalation to root is done via /usr/boksm/bin/suexec, but escalat

[2020-03-23 00:05] okamidash opened #68397 "ovirt_vm does not set cloud_init_persist properly"
##### SUMMARY
When using the ovirt_vm module to create a virtual machine using cloud_init; it is not set properly, and when attempting to use the 'cloud_init_persist' boolean, it returns the message " The 'value' parameter must be a boolean"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_vm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

[2020-03-23 00:06] okamidash commented on #68397
I have attempted to use "True", "yes", "true" for the value of `cloud_init_persist`

[2020-03-23 00:11] okamidash commented on #68397
This issue additionally persists within the following [collection](https://galaxy.ansible.com/ovirt/ovirt_collection)

[2020-03-23 02:37] xiaojueguan opened #68398 "ansible-test run sanity test failed with UnicodeDecodeError"
##### SUMMARY

i follow this tutorial https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup to run ansible-test sanity -v --docker --python 2.7 my_test my_test which module is mentioned in the above documentation. And i failed with following error message.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test sanity

##### ANSIBLE VERSION

[2020-03-23 02:44] albertjone commented on #68398
it seems below code trigger the bug, function `walk_test_targets` return a list of paths encoded by `ascii` not `unicode` :
![image](https://user-images.githubusercontent.com/22741481/77275117-79d35580-6cf2-11ea-83a3-86343e550aa7.png)

[2020-03-23 02:46] fortinetps opened #68399 "filter plugins in ansible.netcommon collections is not working with Ansible 2.10"
##### SUMMARY

with the coming new 2.10 release, I understood Ansible is doing a big change, which separates lots of modules, and spin them off to their own collections, either from RedHat or 3rd party.
One issue I ran into is the filter plugins, which were part of the Ansible, but not in 2.10 is no longer part of the core modules. Instead, these filters move to "ansible.netcommon" collection in G

[2020-03-23 02:58] albertjone commented on #68398
one more question why we encode path with `ascii` and encode prefix with `unicode`
![image](https://user-images.githubusercontent.com/22741481/77276227-0ed74e00-6cf5-11ea-83c5-44f9cf1b3239.png)

[2020-03-23 03:23] Fred-sun commented on #68366
@haiyuazhang Could you help me with this problem when you are free? Thank you very much!

[2020-03-23 03:24] Fred-sun commented on #68291
@VKAlwaysWin Thank you for taking the time to contribute to this PR. We will transfer ansible 's azure module related Issue and PR to azure collection (https://github.com/ansible-collections/azure/pulls), can you transfer the Issue to azure collection repo?

[2020-03-23 05:31] sabik commented on #14674
Non-fle-based modules probably already refrain from outputting gratuitous whitespace differences...

[2020-03-23 08:31] bitinerant commented on #30754
Thanks for asking, but this is not the problem I'm having. I don't have any errors related to signature verification. I used `apt-get` to test this because "apt does not have a stable CLI interface" (try `apt update |cat`).

[2020-03-23 09:33] Akasurde commented on #68390
@Udayendu You are running `hostname` on your Ansible controller and not on the newly created VM i.e. rhel machine (`connection:local`). Since you are specifying the `use` as `redhat` on Ubuntu machine, the module is failing to find `/etc/sysconfig/network` on Ubuntu machine.

[2020-03-23 09:33] #68390 closed, assigned to Akasurde

[2020-03-23 09:52] Fred-sun commented on #67255
@jborean93 @nitzmahone Kindly ping!

[2020-03-23 10:11] mnecas commented on #68397
Hi @okamidash,
I was not able to reproduce the issue. This might be SDK issue but will need to do more investigation.

Was it working without `cloud_init_persist`?
Try to run it without putting VM to state running and then try from UI.

I noticed that it failed in `NicConfigurationWriter` but you empty nics (`nics: []`) so it's little bit strange.

[2020-03-23 10:22] okamidash commented on #68397
It wasn't working without cloud_init_persist.
It doesn't appear to be able to modify the cloud-init settings at all, upon closer inspection.

I attempted to create the VM without any cloud-init configuration options, and attempted to set it _after_ the vm was created (but not running); with the same result.

I've managed to come to a workaround and instead use the API after the vm is created; and