[2017-05-26 09:07] starflighter opened #25058 "collect specific facts in a list"
- Feature Idea

Hi,

the "fact" ansible collects are really great.
It would be practical if there might be a command that gives you a overview about the configuration from your machine. (something like a hardware-inventory)

All that you have to know are in the facs, so you only have to get them into a list (e.g.  csv) and write a ansible-command like "ansible-export..."

Would this be possible?

[2017-05-26 09:36] ntting commented on #21797
@dagwieers   I have a step "install a package", it will take 5 minutes,  it's still have "Read timed out error, when i set :
ansible_winrm_operation_timeout_sec: 80
ansible_winrm_read_timeout_sec: 100

so, should I set ansible_winrm_read_timeout_sec will be bigger than 300(5*60) ?

[2017-05-26 10:56] jhawkesworth commented on #25004
Sorry, this is not going to work - as mentioned in the documentation for win_shell here: https://docs.ansible.com/ansible/win_shell_module.html

"WinRM will not return from a command execution until all child processes created have exited. Thus, it is not possible to use win_shell to spawn long-running child or background processes. Consider creating a Windows service for managing background proce

[2017-05-26 10:56] gundalow commented on #24610
@ganeshrn Yup, this needs documenting, perhaps under both the`format:` and `notes:` section

[2017-05-26 10:58] Office-Manager opened #25061 "route53 . state parameter removed from module"
...

[2017-05-26 12:24] leifmadsen commented on #20589
Per @bcoca  in #20597 this is probably a duplicate of another issue and can be closed.

[2017-05-26 12:30] jjose122 commented on #14413
The solution provided by @sayantandas works for me too

Ansible version: 2.3.0.0
Server version:  RHEL 7.3
Target system:  RHEL 7.3

Thank you

[2017-05-26 12:42] rleigh-codelibre opened #25065 "win_nssm: Failure when removing a service which is stopped"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Managing with Ubuntu 17.04, host is Windows Server 2012 x64

##### SUMMARY
`win_nssm` fails to remove a service which is already stopped.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected that the service would be removed

##### ACTUAL R

[2017-05-26 12:50] hearto1314 opened #25066 "unable to load configuration from /home/work/.ansible/tmp/ansible-tmp-1495801371.42-161582421329274/archer.py\n"
root playbook result:{'fail': {u'control': {'_ansible_parsed': False, '_ansible_no_log': False, 'module_stderr': u'**unable to load configuration from /home/work/.ansible/tmp/ansible-tmp-1495801371.42-161582421329274/archer.py\n**', 'changed': False, 'module_stdout': u'', 'failed': True, 'rc': 0, 'invocation': {'module_name': u'archer'}, 'msg': u'MODULE FAILURE'}}, 'succ': {}}

get this error when

[2017-05-26 13:14] karambolishe opened #25067 "route53 . "Zone myzone.com. does not exist in Route53""
ISSUE TYPE

    Bug Report

COMPONENT NAME

route53

ANSIBLE VERSION

ansible --version
ansible 2.3.0.0
  config file = /tmp/devops-ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

OS / ENVIRONMENT

Centos 7
SUMMARY

During trying create record set in my zone(myzone.com) I

[2017-05-26 13:17] timwhitlock opened #25068 "Cannot handle SSH host authenticity prompts for multiple hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
SSH connection

##### ANSIBLE VERSION

[code]
Same for `stable-2.3`

##### CONFIGURATION

defaults

##### OS / ENVIRONMENT
Host: Mac OS 10.11.6
Managing VM: CentOS 7 / Vagrant

##### SUMMARY
When running against multiple (new) hosts that have no entry in `.ssh/known_hosts` the "authenticity" prompts are all output at once to the command line. E

[2017-05-26 13:25] VojtechMyslivec commented on #6693
Hi @mpdehaan. Is it possible to open this issue again or should I open a new one?

I have encountered same problem – gpg key expired and I need to update it.

I need to workaround it with Ansible ad-hoc command removing this key and then run playbook again.

Thanks

[2017-05-26 13:31] kayrus commented on #19750
Agree. Right now it is also impossible to create floating ip for specific project. I have to use a CLI wrapper to do this:

[code]

[2017-05-26 13:39] ColOfAbRiX commented on #25033
Hi @zunkree and thanks for reporting.

I actually cannot reproduce the issue, every time I run the play it works, but I'm testing on CentOS. I'll get my hands on an Ubuntu 16 machine and try again.

[2017-05-26 13:39] VojtechMyslivec opened #25070 "apt-key module does not update expired keys"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Module `apt_key`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible runs from Debian Stretch and is managing Debian Jessie nodes.

##### SUMMARY

I am reopening  #6693 which was closed due to repos migration.

I have encountered the same issue: a apt key gets expired and Ansible won't update it. Due

[2017-05-26 13:52] jctanner commented on #24910
resolved_by_pr https://github.com/ansible/ansible/pull/25047

[2017-05-26 13:59] jctanner commented on #24936
@lmazuel have you started that PR? I'd like to link to it from this issue.

[2017-05-26 14:16] #21523 closed, assigned to nobody

[2017-05-26 14:18] ryansb commented on #25013
Backport merged - this will go out in the next 2.3.z release.

[2017-05-26 14:18] #25013 closed, assigned to nobody

[2017-05-26 14:21] Akasurde commented on #25056
@ryansb @gundalow Can we close this issue as fixed?

[2017-05-26 14:27] jctanner commented on #24942
@sanchox The service module will call into the systemd module on the backend if systemd is detected on the system due to the action plugin code. That being said, the systemd module is a very light abstraction around the systemctl command. In your test scenario, are you able to remedy the problem with only systemctl commands?

needs_info

[2017-05-26 14:32] jctanner commented on #24945
resolved_by_pr https://github.com/ansible/ansible/pull/23875

[2017-05-26 14:37] jctanner commented on #24949
resolved_by_pr https://github.com/ansible/ansible/pull/24393

[2017-05-26 14:42] jctanner commented on #24962
@ChillarAnand just to confirm, can you please test the ssh connection in the way that ansible is connecting?

[code]

needs_info

[2017-05-26 14:48] Aroweeri commented on #25004
Thanks for pointing me in the right direction.

[2017-05-26 14:48] #25004 closed, assigned to nobody

[2017-05-26 14:49] jctanner commented on #24975
cc @Qalthos @ganeshrn

[2017-05-26 14:58] gsrigo opened #25072 "synchronize module fails with rsync"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION
ansible 2.0.2.0

When using the synchronize module, I get several error messages regardless of how it Tery to accomplish it. Error messages are as follow:

or this one:

The part that fails is in here
[code]

[2017-05-26 15:01] dagwieers commented on #21797
@ntting I am afraid that you may have an entirely different problem that I experienced as well. When installing SCVMM the installer (or Windows) does something that resets the WinRM service (or a related service) breaking the WinRM connection and causing an Ansible failure. There was no way to work around this, except using **win_psexec**. This use-case was one of the reason to write that module,

[2017-05-26 15:02] ColOfAbRiX commented on #25033
Even on Ubuntu I have the same result, here is the output. My guess is that it's not parted but an inconsistent state of the system where something has been done and the change is not reflected in the kernel.

**The system I'm using**
[code]
**The playbook:**
[code]
**Two runs:**
[code]

[2017-05-26 15:05] jctanner commented on #24978
cc @privateip @trishnaguha

[2017-05-26 15:05] jhawkesworth commented on #24128
@misterT1958 - do you have anything else to add to this, or shall we close this now?

I have some code now to handle a directory being used for the dest parameter, and also a check to ensure the parent directory of the dest exists, which fails the module with a specific error.  Code passes existing integration tests, but I will add some more tests to cover the changes before I create a pull reques

[2017-05-26 15:06] bobobox opened #25073 "ec2_elb_lb - idempotence broken when more than 400 ELBs present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - ec2_elb_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Everything default

##### OS / ENVIRONMENT
n/a

##### SUMMARY
The `boto.ec2.elb` method `get_all_load_balancers` automatically paginates its responses, providing 400 at a time. Module `ec2_elb_lb` does not contain any provision for pagination at this step, and therefore it behaves

[2017-05-26 15:10] bobobox commented on #25073
This is fixed in Pull Request 25002: https://github.com/ansible/ansible/pull/25002

[2017-05-26 15:13] sivel commented on #25053
I think we can resolve this by just moving the `is_template` check a little higher:

[code]

That get's rid of your warning, but still works for the case where you have explicitly done:

[code]

[2017-05-26 15:18] bobobox opened #25075 "ec2_elb_facts - ELBs beyond initial 400 are not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - ec2_elb_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Everything default

##### OS / ENVIRONMENT
n/a

##### SUMMARY
The `boto.ec2.elb` method `get_all_load_balancers` paginates its responses, providing 400 at a time. Module `ec2_elb_facts` attempts to handle this pagination but checks the wrong attribute, so that it never actually

[2017-05-26 15:18] lmilbaum opened #25076 "jenkins_job module - add job build capability"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jenkins_job

##### ANSIBLE VERSION
2.3.0
##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
expand jenkins_job module capability to enable building the job, like the jenkins_job chef resource from jenkins cookbook.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-05-26 15:18] bobobox commented on #25075
This issue is fixed in Pull Request https://github.com/ansible/ansible/pull/25002

[2017-05-26 15:21] jctanner commented on #24979
@mbialozor There's a lot of text to parse in this description, but If I understand correctly, the crux of the problem is that you want to use magic vars from the play to construct group vars?

For example:
[code]

You want that to template properly inside a group vars file and not actually get templated until the play executes?

needs_info

[2017-05-26 15:30] jctanner commented on #24983
@jkroepke this is the specific incantation we call for lsblk ...

[code]

Can you run that on your system and give us the output?

needs_info

[2017-05-26 15:39] jctanner commented on #24993
@mechaxl By "merged after the deadline" are you also saying that this is working in devel?

needs_info

[2017-05-26 15:49] jctanner commented on #24997
@WhyIsThisOpen would you mind submitting that patch as a pullrequest?

needs_info

[2017-05-26 15:50] ColOfAbRiX commented on #25033
issue_25033

Even on Ubuntu I have the same result, here is the output. My guess is that it's not parted but an inconsistent state of the system where something has been done and the change is not reflected in the kernel.

**The system I'm using**
[code]
**The playbook:**
[code]
**Two runs:**
[code]

[2017-05-26 16:15] jctanner commented on #25001
@jaredledvina if you can, please hop on #ansible-devel on irc.freenode and we can give you any information you want about meta.py

needs_contributor

[2017-05-26 16:15] rleigh-codelibre opened #25077 "win_lineinfile: Functionally identical regexps are not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running ansible on Ubuntu 17.04 with Python 2.7.10.  Managed node is Windows Server 2012 x64.

##### SUMMARY
Depending upon the regular expression I use, win_lineinfile erroneously reports a *changed* status when no change occurred.

##### STEPS TO R

[2017-05-26 16:22] Lekensteyn commented on #23914
LVM is not needed for simple scenarios. In my case there is a single partition (`/dev/vda1`) which should occupy the full disk. Looking at the current implementation, the dimensions are only taken into account when creating a partition, it won't modify an existing one. Playbook example:

[code]

[2017-05-26 16:24] gdzx opened #25078 "module/file: attributes: cannot use a string pattern on a bytes-like object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`file` module with the `attributes` parameter.

##### ANSIBLE VERSION

```ansible 2.3.0.0```

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

- `Arch Linux 4.10.13-1-ARCH x86_64`
- `Python 2.7.13`
- `Python 3.6.1`

##### SUMMARY

The file module allows to specify extended attributes (for instance, 'C' to disable CoW), used by the `chattr` com

[2017-05-26 16:26] jctanner commented on #25009
@mente the website docs are usually for the devel version of ansible. Can you check the module args for your version via "ansible-doc dynamodb_table" ?

needs_info

[2017-05-26 16:29] thaumos commented on #25018
I see that Chocolatey is saying that there are no packages are installed.  The "all" value is for upgrading existing packages.  Do you in fact have no packages installed?

[2017-05-26 16:54] WhyIsThisOpen commented on #24997
Done. I tried to follow the pattern of other pull requests; hopefully that is correct.

[2017-05-26 17:08] mh720 commented on #14413
Ansible 2.3, Centos7, below is what I went with after I do something that updates the kernel, avoids the 'wait for host to boot' if the host isn't rebooting.

[code]

[2017-05-26 17:09] gabrielecerami commented on #21770
At least part of the problem is at https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/openstack/os_stack.py#L174.
The function returns False, but it should fail the module, which never happens because the module.fail_json instruction is never executed.

[2017-05-26 17:21] samvarankashyap commented on #20864
+1

[2017-05-26 17:29] s-hertel commented on #25056
Fixed by #25063.

[2017-05-26 17:29] #25056 closed, assigned to nobody

[2017-05-26 17:35] s-hertel commented on #24757
@mgrebler would you test #24804, please? It's a fix to only require a role to be specified when creating the function.

[2017-05-26 17:39] Qalthos commented on #23932
Alright, can you tell me if #25080 fixes your issues?

[2017-05-26 17:51] jctanner commented on #25020
@tidzo seems like a reasonable request. Is that something you would be interested in writing?

needs_contributor

[2017-05-26 17:52] bdlamprecht opened #25081 "junos_config: "TypeError: cannot serialize 1 (type int)""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT

[code]
##### SUMMARY
The `junos_config` **core** module appears to be broken and not functioning at all when used with a fairly simple file specified with the `src` parameter.  This same function is working just fine when using Juniper's `juniper_

[2017-05-26 18:10] rafabene commented on #13262
I also need a way to have a loop over blocks.

[2017-05-26 18:14] thoastbrot commented on #13262
@rafabene @sborenst @maxmengtor (to address the latest "me too" commenters) I guess the maintainers got the point, and upvoting/upthumbing of the original request is surely enough, if you don't want to participate in a solution.

Thanks,
our inboxes.

[2017-05-26 18:15] thoastbrot commented on #13262
@rafabene @sborenst @maxmengtor (to address the latest "me too" commenters) I guess the maintainers got the point, and upvoting/upthumbing of the original request is surely enough, if you don't want to participate in a solution.

Thanks,
our inboxes.

[2017-05-26 18:15] shadycuz opened #25082 "Destination directory does not exist even when using become (Copy Module)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When trying to copy a file ansible states the path does not exist.

[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

I expect the file to copy from /opt/plexpy/config.ini to the directory that does exist. /home/gitlab/plex

[2017-05-26 18:22] bcoca commented on #25058
You could easily create a template task that does this

[2017-05-26 18:38] imakowski commented on #16478
you can ser **rdns = false** and this will fix an issue with reverse DNS

[2017-05-26 20:34] glatapoui commented on #10595
I don't understand why this bug was closed.
The issue is still present, and the fact that the current scheme does not allow a simple resolution only makes this bug harder to fix, but not impossible.

Can we not think of a way to adapt the current scheme in order to fix this issue ?
- use the MD5 of `ansible.cfg` as the salt ?
- keep the encrypted version as a backup when we decrypt, and use that b

[2017-05-26 20:52] mente commented on #25009
Before posting i've checked github version and it has same problem. Doc of [module](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/dynamodb_table.py#L48) says it's not required. Guess it's coming from [main function](https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/amazon/dynamodb_table.py#L389).

Nevertheless here's grepped ansible-doc from my machine:

[2017-05-26 21:23] mikeeaton83 opened #25086 "vmware_inventory host_filter issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY
The default host_filters is as follows:

host_filters={{ guest.gueststate == "running" }}

But it appears (at least in vCenter 6.0.0 Build 3339083) that the guest.gueststate property isn't correct/populated unle

[2017-05-26 21:32] jctanner commented on #25011
Confirmed layout by creating a datacenter under a folder ...

[code]

[code]

[2017-05-26 21:36] jctanner commented on #25011
vmware_guest gives me this error with no folder specified ...
[code]

with /topfolder/datacenter1/vm as the folder
[code]

with vm as the folder
[code]

[2017-05-26 21:36] jctanner commented on #25011
Per the results in my previous comment, this bug is confirmed. There's no way to get to the guest with the way the module currently munges the searched folderpath. I will look into fixing this.

[2017-05-26 21:38] basictheprogram commented on #25018
On May 26, 2017, at 11:29 AM, Dylan Silva <notifications@github.com<mailto:notifications@github.com>> wrote:

I see that Chocolatey is saying that there are no packages are installed. The "all" value is for upgrading existing packages. Do you in fact have no packages installed?

PS C:\WINDOWS\system32> choco list -lo
Chocolatey v0.10.5
ccleaner 5.30.6065
chocolatey 0.10.5
chocolatey-core.extension

[2017-05-27 00:26] tassoevan commented on #22245
I can confirm, it's fixed with this patch.

[2017-05-27 01:45] misterT1958 commented on #24128
Jon, I have nothing to add at this time.  Thank you for your time and efforts in addressing this issue.

Best
Tony

[2017-05-27 01:45] #24128 closed, assigned to nobody

[2017-05-27 01:45] misterT1958 commented on #24128
Jon was great, he has made the code more robust by examining some boundary conditions.

[2017-05-27 02:11] rcuza opened #25091 "apt_key does not update after installing a new key from url"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`apt_key_module`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY

When I run a playbook that installs a new key, it is not able to install packages from the repo that is also added. If I manually ssh into the box and run ~`sudo apt-key update`~ `sudo apt-get update`, I can then ru

[2017-05-27 02:17] rcuza commented on #25091
This bug appears to be related to #25070.

Adding the following after installing the key should be a work around:
[code]

I have not tested this yet.

[2017-05-27 02:43] willthames commented on #25053
@sivel sounds good to me. I can make a PR unless you have one ready to go?

[2017-05-27 02:45] sivel commented on #25053
I reverted it while working on something else. Feel free to submit the PR with this change.

[2017-05-27 02:48] willthames commented on #25053
Sure, will do, thanks

[2017-05-27 02:57] mgrebler commented on #24757
@s-hertel I've tested fix #24804 and it seems to work fine.

Nice work, and thanks.

[2017-05-27 03:09] ChillarAnand commented on #24962
@jctanner Thanks for quick reply. Yes ansible seems to connect via ssh as it has entered into ssh home dir.

[code]

[2017-05-27 03:20] kerber commented on #25000
The problem persists with the `profile` task option.

After some more testing and research, I think the problem is that the default library, boto2, doesn't understand the output of the `aws configure` command. According to the [doc](http://boto.readthedocs.io/en/latest/boto_config_tut.html#details), boto2 doesn't look at ~/.aws/config, which is where `aws configure` dumps out the region setting. T

[2017-05-27 03:33] Akasurde commented on #25081
@bdlamprecht Thanks for reporting this issue. This is issue is already fixed in `devel` and [stable-2.3](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/module_utils/junos.py#L140). Could you please try with [patch](https://github.com/ansible/ansible/pull/24764) ?

[2017-05-27 03:50] bengerman13 commented on #23044
This works for me in 2.3.0:
[code]

[2017-05-27 04:52] s-hertel commented on #25000
You're right. This module shouldn't be hard to port to boto3 since there aren't a lot of calls.

[2017-05-27 05:15] s-hertel commented on #11569
resolved_by_pr #23989

[2017-05-27 05:15] #11569 closed, assigned to nobody

[2017-05-27 07:02] willthames commented on #25000
Changing line 248 isn't sufficient, you'd have to port the whole module to boto3.

This will need someone to do this work - at some point it might get picked up as part of the overall migration towards boto3, but I wouldn't count on it happening any time soon (i.e., if you're willing to do the change, it'll happen sooner)

[2017-05-27 08:58] RazZziel commented on #24139
I get the same error in similar circumstances:
[code]

No the slightest idea about how to debug this in the host. The only info I can gather is the API usage pattern at /var/log/pveproxy/access.log:
[code]

I tried to start pveproxy in debug mode, but no useful debug info es produced:

[code]

Systemd journal on pveproxy, or spiceproxy (the process that actually writes on /var/log/pveproxy/access.

[2017-05-27 09:03] pdellaert opened #25096 "argument_spec: When using sub options in a module, an exception is thrown because of a"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/basic.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes, default configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the new sub options in the argument spec of `module_utils/basic.py`, an exception is thrown because it is looking for the sub option in the main params instead of in the sub option param

[2017-05-27 09:17] pdellaert opened #25097 "argument_spec: no_log does not hide sub options"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`module_utils/basic.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes, default configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When configuring the `no_log=True` option for a sub option in the `argument_spec` of a module, this is ignored and the information is still visible in the output/log

##### STEPS TO REPRODUCE
(in

[2017-05-27 09:25] aklemp opened #25099 "Allow creation/deletion of chains the 'iptables' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I propose to extend the iptables module to allow creation and deletion of chains. The following are samples of the commands that should be supported for both ipv4 and ipv6 (the `ip_version` is omitted for simplicity). The `table` paramete

[2017-05-27 09:41] aklemp opened #25100 "Support logging in the 'iptables' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I propose to support logging in the iptables module with two additional parameters that map directly to iptables (in both versions ipv4 and ipv6).

* log_prefix
* log_level

For example the following iptables command
[code]
becomes
[code]

[2017-05-27 10:52] jhawkesworth commented on #25082
As a simple pragmatic workaround, I'd suggest using 'file' before running 'copy' to create the directory.
That way you can create it and explicitly set an appropriate access mode on the directory.

This is probably just my preference, but I like my playbooks to be explicit about what state they are imposing on my systems.   For some systems I have a role that ensures all the directories I need are

[2017-05-27 12:03] fadyberty opened #25101 "! is not working on redhat7"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

[code]

[2017-05-27 13:03] sivel commented on #25101
The "problem" is that bash also treats `!` as a special command.  As such, to prevent shell interpretation, you need to use single quotes instead of double:

[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-27 13:03] #25101 closed, assigned to nobody

[2017-05-27 14:35] shadycuz commented on #25082
@jhawkesworth The playbook does backup every night. The path /plexpyconfig is a git repo that is set up in the playbook that stands the server up. This is a bug. If I walk through the steps manually without sudo I get permission denied, with sudo it works. Yet with Ansible, it says the directory doesn't exist when it clearly does.

[2017-05-27 16:25] jhawkesworth commented on #25082
Apologies, I should have read your bug report more closely.

Is the  /opt/plexpy/config.ini file (the src) visible to your ansible user (with/without sudo)?  If the problem is that the source file isn't visible, then I'd agree that the error message isn't helpful and should be changed.

I know that there have been some bug fixes regarding copy recently (although I think there were to do with recur

[2017-05-27 17:05] shadycuz commented on #25082
The src file is available to my Ansible user without sudo.

[code]

I'm thinking of making the gitlab user's home directory and the gitrepo writable by the group I user for my Ansible user. But really this should work as is.

[2017-05-27 17:51] cbutterfield commented on #13680
This will be very helpful when released. Any idea when that might be?

[2017-05-28 03:45] txynidakis commented on #22876
Apologies I am leaning ansible.
is someone able to write an example code of a list task please using diasablerepo and enablerepo
this is a snippet of the playbook
  yum:
    list:
      jdk1.{{ java_jdk_major_version }}.0_{{ java_jdk_version_update }}-1.{{ java_jdk_major_version }}.0_{{ java_jdk_version_update }}-fcs.x86_64
  register: pkg

[2017-05-28 05:50] txynidakis commented on #22876
I've sort of figured it out,
the task now looks like
- name: Check if JDK is installed
  yum:
    list:
      jdk1.{{ java_jdk_major_version }}.0_{{ java_jdk_version_update }}-1.{{ java_jdk_major_version }}.0_{{ java_jdk_version_update }}-fcs.x86_64
    disablerepo: "jenkins"
  register: pkg

I know this isn't a specific issue and more of an proxy issue with yum.

[2017-05-28 09:21] trondhindenes opened #25107 "Documentation for win_stat is missing the 'exist' attribute"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
win_stat

##### ANSIBLE VERSION
[code]

##### SUMMARY
the 'win_stat' module emits a number of properties in its "stat" return object, among these "exists". This is not documented, although it's arguably the most important property.

[2017-05-28 09:30] minherz commented on #25024
@lmazuel I close this issue. Let me know if it worth to open a feature request to use local files as the document states.

[2017-05-28 09:30] #25024 closed, assigned to nobody

[2017-05-28 11:43] nightvisi0n commented on #20580
Any opinions against the proposal of @FlorianLudwig ?

[2017-05-28 11:48] minherz opened #25108 "The platform image 'MicrosoftWindowsServer:WindowsServer:2016-Datacenter-with-Containers:2016.0.20170127' is not available"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`azure_rm_deployment` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default ansible configuration

##### OS / ENVIRONMENT

[code]
Azure package version is 2.0.0rc5 as it explained in issue #24926
[code]

##### SUMMARY
Attempt to deploy a template of the Kubernetes ACS using the module fails due inability to create Windows agents

[2017-05-28 12:29] minherz commented on #13190
If there is "dry" run mode for a play book, the reverse execution would be to record order of tasks in dry run and then execute it in reversed order. Regarding non-task operations, it can be either ignored (done in natural order) or instructed separately (defining reverse logic)

[2017-05-28 12:33] barroei opened #25109 "azure_rm_virtualmachine missing Microsoft.Compute/virtualMachines/extensions Support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

ansible 2.2.1.0
  config file = /home/mckadmin/cmdemomachines/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
[defaults]
inventory = inventory.yml

##### OS / ENVIRONMENT

OS is UBuntu Linux Based

##### SUMMARY
as part of Azure VM Deployment, it is neede

[2017-05-28 12:57] praveensiddu commented on #15690
This error "Could not contact any CDS load balancers" happens when you run without a sudo

$ ansible-playbook testapache.yaml

 [WARNING]: provided hosts list is empty, only localhost is available

PLAY [localhost] **************************************************************************************************************************************

TASK [Gathering Facts] **************************

[2017-05-28 14:56] keciktakimba commented on #16354
Hello, want to ping my mikrotik in virtualbox with ip (192.168.43.195), so i have some issue/error.
Using /etc/ansible/ansible.cfg as config file
META: ran handlers
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/system/ping.py
<192.168.43.195> ESTABLISH SSH CONNECTION FOR USER: ubuntu
<192.168.43.195> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiv

[2017-05-28 15:03] rcuza commented on #25091
I did some further tests and it looks like the problem is my order of operations. Maybe instead of a bug this is really a feature request.

By adding the repo with an update cache operation, then adding the signing key, then installing the packages with a `cache_valid_time` option, I prevented the `apt` module from running `apt-get update` before trying to install the packages signed with the new

[2017-05-28 18:11] vladimirtiukhtin opened #25112 "selinux module should check that a policy exists before setting it"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report
##### COMPONENT NAME
selinux module
##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Debian 9.0
Python 3.5
##### SUMMARY
On Debian Selinux "targeted" policy is called "default". That means that kernel will look for configuration in /etc/selinux/default folder (on Centos it is /etc/selinux/targeted as you understand). Applying
[code]
will ov

[2017-05-28 18:50] FleischKarussel opened #25113 "Proxmox module LXC - internal server error 500"
Maybe related to https://github.com/ansible/ansible/issues/24139
Different HTTP error code 500

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/proxmox.py

##### ANSIBLE VERSION

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/ansible/modules/extras', u'/usr/lib/python2.7/site-packages/ansible/mod

[2017-05-28 19:57] jsrolon commented on #25100
I'll be working on this. I believe it's a simple case of adding a couple of lines to the rule builder in the `iptables` module.

[2017-05-28 20:09] rutkowskii opened #25114 "1603 returned when running win_chocolatey"
##### ANSIBLE VERSION
[code]

##### COMPONENT NAME
win_chocolatey, trying to install Visual Studio 2015 community edition (https://chocolatey.org/packages/VisualStudio2015Community)

##### Environment
Running win_chocolatey against an agent with Windows 2012 R2 Standard

##### STEPS TO REPRODUCE
Trying to install Visual Studio Community 2015 the following way:
[code]

##### ACTUAL RESULTS
Output w

[2017-05-28 22:05] newadays opened #25116 "Couldn't read packet: Connection reset by peer - Ubuntu 14.04.5 LTS ansible 2.3.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-28 22:38] simbalion opened #25117 "authorized_key tries to create /root/.ssh/ even tho it exists and manage_dir is 'no'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
auhtorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I created a small playbook to install ssh keys in a number of user accounts. It works but not for the root user, who keeps getting 'permission denied' trying to create /root/.ssh/

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-05-28 22:59] wybczu commented on #19795
@bcoca could you reopen this issues or should I create a new one?

[2017-05-29 00:15] rezastd commented on #16354
in my opinion permission denied usually because we havent add the puclic
key into the knownhost at destination server. had you add key.pub into the
knownhost?

Regards,
Reza Setiadi
Ice House Corp.
WA: 085717095341

2017-05-28 21:56 GMT+07:00 keciktakimba <notifications@github.com>:

[2017-05-29 01:18] maxmengtor commented on #13262
I cannot see the ansible core, so I don't know how to do it.

[2017-05-29 01:47] bjorn-spire opened #25122 "pip: Does not use chdir argument when building path to pip"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
macOS targeting Ubuntu, but it's general issue.

##### SUMMARY

When I use the `chdir` argument to pip together with `virtualenv` I expect it to be able to install things since they together should make up a full path to the pip executable.

But when I run I get

[2017-05-29 05:08] ganeshrn commented on #25050
@rhicks There are some changes in junos_facts that are not backward compatible.
Can you please change your playbook to use `ansible_net_model` instead of `personality `

[2017-05-29 05:17] ganeshrn commented on #24849
@grybak-arista PR https://github.com/ansible/ansible/pull/24345 should fix this issues.
Can you please apply this PR and retest.

[2017-05-29 05:52] Akasurde commented on #18914
resolved_by_pr #25124

[2017-05-29 06:34] mbialozor commented on #24979
@jctanner I use magic vars inside group vars. I need "index" number for constructing instance name on every cluster node (for example app1_inst1 on first node, app1_inst2 on second node, etc.), which index is taken from host index inside created group. I need it to be templated correctly inside template file (something.j2), not directly in group vars.

So, inside group vars I use construction:
[co

[2017-05-29 06:40] divergent45 commented on #19612
Any progress on this issue ?

[2017-05-29 07:39] LinusU commented on #25099
Sounds like a good idea 👍

[2017-05-29 07:55] dagwieers commented on #24976
@adamkosseck Did you try PR #23162 ?

[2017-05-29 08:00] andmos commented on #20006
@dagwieers @nitzmahone  I now see this exact error on our build servers running CentOS 7. It was not there yesterday, it looks like it came over night.

In all my `group_vars` files: `ansible_winrm_server_cert_validation: ignore`

[code]
`pywinrm (0.2.2)`

Example error:
[code]

On my local Vagrant environment running Ubuntu 14.04 I have the same version of Ansible and `pywinrm (0.2.2)` , but don'

[2017-05-29 08:17] dagwieers commented on #20006
@andmos It would be nice to have the fix for this in a new release of pywinrm. For now you can do what I did, and patch diyan/pywinrm#152 by hand in your code.

[2017-05-29 08:18] jkroepke commented on #24983
@jctanner Here we are

[code]

[2017-05-29 08:23] mbialozor commented on #24979
@jctanner using:
[code]
is a little bit more universal than:
[code]
as second construction requires giving group name.

[2017-05-29 08:27] andmos commented on #20006
@dagwieers ah I didn't check if your changes was actually released, that explains a lot.

[2017-05-29 09:58] keciktakimba commented on #16354
Add key.pub to mikrotik ? Sorry iam beginer for use ansible. Its my first
time :)

Pada tanggal 29 Mei 2017 08.15, "rezastd" <notifications@github.com>
menulis:

[2017-05-29 10:29] muhahacz commented on #5564
@berney +1

[2017-05-29 12:57] Eronarn commented on #20226
Note that this also applies to `wait_for`, even though the cost of retries is typically much less.

Our use case: SSH often comes up very quickly (so `delay: 0` and `sleep: 1` are appropriate defaults), but can sometimes take much longer (so `timeout: 300` is fine too). Unfortunately, those defaults don't work well in a high parallelism environment experiencing a network outage...

[2017-05-29 13:07] JaMbarek commented on #2155
..

[2017-05-29 13:28] wronny commented on #24057
I can confirm for windows server 2008 R2 that installation of Windows6.1-KB2842230-x64.msu solved this issue at least for win_copy.
Without Windows6.1-KB2842230-x64.msu win_copy result in the following event log entry:
Log Name:      Application
Source:        .NET Runtime
Event ID:      1026
Level:         Error
Keywords:      Classic
Application: powershell.exe
Framework Version: v4.0.30319
Desc

[2017-05-29 14:10] starflighter commented on #25058
Yes, I could do that with a task. But I would be great if its easier to find, that ansible collect those facts.
I searched a lot in ansible.com but I found nothing about those great collection of facts.
Maybe you could promote this more.

[2017-05-29 14:10] #25058 closed, assigned to nobody

[2017-05-29 14:30] lomereiter commented on #23349
From a quick glance at the code it seems just caching `wrapped_var` along the raw variable would help a lot.

[2017-05-29 14:30] cdggcali commented on #24855
Hi Adam,

We already ran some Ansible playbook using python3 on Ubuntu and we had
some problems since it is a Technology Preview decided to use python2.

I really want to thank you for your assistance but I believe we will not be
able to use this module until python3 is fully supported.

Regards,
Carlos

On Wed, May 24, 2017 at 12:19 PM, Adam Miller <notifications@github.com>
wrote:

--
K-lee

[2017-05-29 14:44] robinro opened #25130 "Script inventory broken since inventory plugins merge if script has no file extension"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/plugins/inventory/script.py

##### ANSIBLE VERSION
ansible 2.4.0 (devel 6dd8a4cf78)

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
opensuse

##### SUMMARY
The new inventory plugin system breaks dynamical inventory plugins, when they don't have the correct file extension.

##### STEPS TO REPRODUCE

Have a minimal dynamical inv

[2017-05-29 14:48] robinro commented on #25130
To me it sounds like the extension is checked and an exception raised if there is no extension, but I couldn't find the corresponding line in the code.

@bcoca Can you have look?

[2017-05-29 15:19] majales opened #25133 "vmware_vmotion fails with msg = 'A specified parameter was not correct: spec.pool'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 vmware_vmotion

##### ANSIBLE VERSION

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

##### CONFIGURATION

Nothing changed
##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Use of

[2017-05-29 16:06] sirkjohannsen opened #25136 "include_role skips all tasks if a conditional role in the dependencies is not included due to the conditon"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

I noticed that `include_role` skips all tasks when called in a role, that has a conditional dependency to another role and this condition resolves to False

##### STEPS TO REPRODUCE

directory structure:
[code]
inventory (hosts):
[code]
playb

[2017-05-29 16:16] jchristopher327 opened #25137 "Module: nxos_nxapi - disabling http does not get pushed to devices"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_nxapi
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running ansible on: CentOS Linux release 7.3.1611 (Core)
Managing: C9236C, 93180YC-EX running 7.0.3.I5.2
##### SUMMARY

I'm running a playbook to configure nxapi with https (and port) and to disable http. The command to disable http does not get sent to the

[2017-05-29 16:25] jchristopher327 commented on #25137
It looks like trying disabling https also has the same issue.
[code]
[code]

[2017-05-29 16:49] steffann opened #25138 "junos_config does not handle multiple delete statements correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/network/junos/junos_config.py
module_utils/junos.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `filter_delete_statements` function in [modules/network/junos/junos_config.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/junos/junos_config.py) remove

[2017-05-29 17:41] gundalow commented on #25138
`sjms` on Freenode

[2017-05-29 18:32] sirkjohannsen commented on #25136
seems to be the issue as in #23733 and #23379

[2017-05-29 19:42] dagwieers commented on #24062
@gormux I think you are using the `check_mode` flag the wrong way. This is what I have been warning for when they introduced it: https://github.com/ansible/ansible/pull/16056#issuecomment-260642210

The naming is very confusing and can be interpreted to mean the exact opposite. @robinro

[2017-05-29 20:18] nozpheratu opened #25142 "Add the "bindir" option to the Gem module"
ISSUE TYPE

Feature Idea

COMPONENT NAME

gem module

ANSIBLE VERSION

N/A

SUMMARY

It would be useful to have the bindir options available to the native game module also available in the Ansible gem module.

See http://guides.rubygems.org/specification-reference/#bindir

[2017-05-29 21:26] dagwieers commented on #24062
There is no difference between the **win_updates** module from v2.2.0 and higher, and the one from v2.3.0. The module hasn't changed for a long time. Last commit was almost a year ago on **2016-06-23**: https://github.com/ansible/ansible-modules-extras/commits/devel/windows/win_updates.ps1

[2017-05-29 23:51] AnthonyWC commented on #15321
Doesn't seem right that I need to add -c paramiko:

[code]

[2017-05-30 00:12] adamkosseck commented on #24976
@dagwieers Unfortunately I cannot test this as the git development version doesn't appear to work with GCE.
This is the development version I checked out:
[code]
It errors when I run ansible with dynamic inventory:
[code]
I've double-checked the gce.py file and it is fine - the copy of gce.py in the devel repo is identical to the copy in the 2.3 release branch.

I do not get any errors when runnin

[2017-05-30 00:23] djasa opened #25145 "tempfile module should remove temporary files/directories after playbook completion"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tempfile module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY
tmpfile module should remove all the temporary files and directories it created

##### STEPS TO REPRODUCE

1. create tmp file using tempfile module, print its path
1. after playbook finishes, look if the temporary files/directories ar

[2017-05-30 01:25] adamkosseck commented on #24976
@dagwieers Running PR #23162 with the same playbook content and it now errors:
[code]

[2017-05-30 05:31] brainstorm commented on #13219
I'm not sure if this could be a regression, but I'm observing this error with newer versions of docker/ansible:

https://github.com/brainstorm/pcgr-deploy/blob/master/ansible/launch_aws.yaml#L107

[code]

I am using those versions on the client:

[code]

Then on the remote system:

[code]

[2017-05-30 05:50] yabhinav opened #25147 "Ansible not reading shell/bash executable paths properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
RedHAT 6.6

##### SUMMARY
Unable to use service module because initctl commands fail

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
 [testlab]: => {"changed": true, enabled:yes, started:yes}

##### ACTUAL RESULTS
[code]

##### Work around

[code]

A

[2017-05-30 05:58] dagwieers commented on #24976
Perfect, because the error is in the output:
[code]

[2017-05-30 06:25] #25138 closed, assigned to nobody

[2017-05-30 06:53] valentin-krasontovitsch opened #25149 "iptables: option to run iptables-save"
_From @mrooney on September 28, 2016 19:10_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

iptables module
##### ANSIBLE VERSION

ansible 2.1.0.0
##### SUMMARY

As documented, "This module does not handle the saving and/or loading of rules, but rather only manipulates the current rules that are present in memory". However, it would be awesome if there was an optional "save" option which de

[2017-05-30 06:53] valentin-krasontovitsch commented on #25149
_From @ansibot on September 28, 2016 19:34_

@LinusU ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-30 06:53] valentin-krasontovitsch commented on #25149
_From @LinusU on September 28, 2016 20:11_

I'm 👍 on this

[2017-05-30 06:53] valentin-krasontovitsch commented on #25149
_From @ansibot on November 29, 2016 9:40_

@LinusU, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-30 06:54] valentin-krasontovitsch commented on #25149
_From @LinusU on November 29, 2016 9:52_

needs_contributor

[2017-05-30 06:54] valentin-krasontovitsch commented on #25149
_From @ansibot on December 7, 2016 14:25_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-05-30 07:43] garymcwilliams commented on #24884
[code]
This now gives:
[code]
which looks like a permission issue, but as I'm local admin I'm not sure why. I'll check that again.
Same error whether password is correct or not.
If I don't include $host_name in the $pc line, then I revert to the Network Path issue.

I have been able to build out my own test windows server and all is fine, it really looks like something is not setup correctly on th

[2017-05-30 07:51] micsy commented on #25056
Thanks very much for the quick fix

[2017-05-30 08:10] rutkowskii commented on #25114
Updated the description

[2017-05-30 08:12] Jean-Daniel opened #25151 "[python3] pip failed to create virtual env when using custom command (pyvenv)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'm trying to create a virtual env on Ubuntu. The target system don't have Python 2 installed, so it don't have the virtualenv package installed (it requires python2).
To avoid having to install unnecessary dependencies, I want to use th

[2017-05-30 08:32] valentin-krasontovitsch commented on #25149
Upon learning a bit more about ways of saving `iptables` rules, it seems to me like there is no canonical / good way of saving the rules, as there is no place where they are automatically read / loaded from on startup, at least on ubuntu 16.

A simple `iptables-save`, as suggested by OP, doesn't cut it.

Perhaps that's also the reason why the module doesn't take care of saving the rules...

But if

[2017-05-30 08:34] trondhindenes opened #25152 "ec2_vpc_nacl - acl rules arent properly documented"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_vpc_nacl

##### ANSIBLE VERSION
[code]

##### SUMMARY
The "ingress" and "egress" parameters of the "ec2_vpc_nacl" are complex objects, but are not documented. The examples section contains some hints, but is in no way enough to give users an overview of all available options.

[2017-05-30 08:56] valentin-krasontovitsch opened #25153 "iptables: setting chain policy is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running ansible on MacOS Sierra 12.12.3 (probably irrelevant), and managing Ubuntu 16.04 (kernel: 4.4.0-62-generic)

##### SUMMARY

Using the `iptables` module to set policies on built in chains always returns `changed`, is hence not idempotent.

##### STEPS T

[2017-05-30 09:15] valentin-krasontovitsch commented on #25153
Trying to fix this, I see in the code that the existence of a rule is checked using
[code]
which let's one check if a rule exists in a given table and chain.

As far as I can tell, there is no such option for checking the policy of a given chain.

One way I see is using something like
[code]
which returns a list of all rules, including
[code]
which could be grepped and cut. All in all, something a

[2017-05-30 09:15] devrimbaris commented on #4355
Having the same issue, on a multiple same config machines on Vagrant 1.9.5, Ansible 2.3.0 (pip) and Virtualbox 5.1.22.
I have a 4 machine setup and a random two of them always give this error, while two works flawlessly. There are no apt processes running and when I ssh I can successfully apt update or apt install anything on failing machines.
Kinda lost here, any advice appreciated

A sample of t

[2017-05-30 09:42] Office-Manager opened #25155 "wait_for : host parameter seems to be ignored when path issued."
...

[2017-05-30 09:54] gsempe commented on #4355
@devrimbaris If you follow the advice in https://github.com/ansible/ansible/issues/4355#issuecomment-286184925 you will probably get your problem fixed

[2017-05-30 10:16] hughobrien opened #25156 "win_updates.ps1 always uses default arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standard configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

win_updates.ps1 script does not correctly parse the `category_names` string. Contents are silently ignored and default values used instead.

##### STEPS TO REPRODUCE

Method 1: Attempt to use win_updates.ps1 to install any upda

[2017-05-30 10:27] adamkosseck commented on #24976
@dagwieers Thank you!
I removed ```localport``` and now the playbook runs against PR #23162 and I can confirm that firewall rules are created successfully.

Closing this issue.

[2017-05-30 10:27] #24976 closed, assigned to nobody

[2017-05-30 11:08] dagwieers commented on #24976
@adamkosseck We could move this logic inside of the module, especially because it would remove before adding (so if adding fails, the rule is removed). I'll open a new ticket for this.

[2017-05-30 11:11] dagwieers opened #25157 "win_firewall_rule: If adding fails, rule is removed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_firewall_rule

##### ANSIBLE VERSION

v2.3 and older

##### SUMMARY

Because the **win_firewall_rule** module does not modify existing rules, but instead removes and adds firewall rules, there is a chance that rules are removed when adding fails.

The change in PR #23162 is an improvement as failures are now properly propagated and the err

[2017-05-30 11:11] breta-ionut commented on #16804
Hello!

Do we have any news about this undocumented/accidental feature? It would be great to have the possibility of installing multiple roles from a single repository. For example, at the company I work for, we have multiple small roles in one single repo, as splitting them in multiple repos would bring a lot of maintenance overhead. Therefore, we're looking forward to this functionality. Otherwi

[2017-05-30 11:12] prit342 commented on #14424
I am having similar issues with 2.3.0.0. Right now I am adding "any_errors_fatal: true" to all the tasks as workaround.  If there is a better workaround, please let me know.

[2017-05-30 11:13] prit342 commented on #22924
I am having similar issues with 2.3.0.0. Right now I am adding "any_errors_fatal: true" to all the tasks as workaround. If there is a better workaround, please let me know.

[2017-05-30 11:15] aurimasl opened #25158 "mysql_user column privileges always changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`mysql_user` module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using `mysql_user` with more than one column permissions in `priv` argument, task is always marked as changed. Columns are sorted in some strange way, that this module always sees a difference between existing user permission

[2017-05-30 11:43] garymcwilliams commented on #24884
should also say, I did change the ps1 file on ansible-control:
[code]
when I run this as a playbook though, I get the "Network path" error rather than the "unknown error"

[2017-05-30 11:49] mikeeaton83 commented on #25086
Official response from VMware:

Hi Michael,

My name is Ciaran and I'll be assisting with this case ("guestState returning incorrect value").

Most guestOS info collected in vCenter is done so using VMware Tools.

\---

Installing vmware tools (or open-vm-tools) does mean that guest.gueststate is populated with the correct power status.

[2017-05-30 11:56] willthames opened #25160 "hostfile deprecated without warning"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
configuration

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
hostfile = ./inventory

##### OS / ENVIRONMENT
N/A

##### SUMMARY
While I appreciate that hostfile is a rubbish name for the inventory configuration, there have been zero warnings that hostfile is about to be deprecated, and now it just fails silently on configuration th

[2017-05-30 12:14] jborean93 commented on #24884
This is a tricky one without being able to replicate it myself there's not too much I can do. There might be more info in the event logs that could possibly tell you more but some things you can try

* Update the version of .net installed as I've seen a few errors with `PrincipalContext` and older versions, just not this exact issue
* If it works on another box try and find differences with how th

[2017-05-30 12:31] robinro commented on #25145
@djasa I believe this is intended behavior.

Sometimes temporary directories/files should be created that exist after the playbook run and are deleted on a different occasion.
In general the point in time where a tempfile should be deleted depends on the usecase.

You can create a handler that cleans up the file at the end of your play.

[2017-05-30 12:48] Akasurde commented on #18945
resolved_by_pr #25135

[2017-05-30 12:57] s-hertel commented on #25067
@karambolishe Hi, thanks for opening this issue. If you add `private_zone: True` in your task do you get a different error?

[2017-05-30 13:18] karambolishe commented on #25067
Hi,
yes, this is resolved problem)
Thank you very much.

2017-05-30 15:57 GMT+03:00 Sloane Hertel <notifications@github.com>:

[2017-05-30 13:22] banzo opened #25161 "Redshift module - bug in cluster delete"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redshift module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Deleting a Redshift cluster fails with an error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The cluster should be deleted

##### ACTUAL RESULTS

[code]

[2017-05-30 13:25] banzo commented on #25161
This seems to be caused by a typo (`delete_custer` -> `delete_cluster`).

Once this is fixed, another error pops up: `FinalClusterSnapshotIdentifier is required unless SkipFinalClusterSnapshot is specified.`

[2017-05-30 13:44] donsantos commented on #24995
@trishnaguha I checked and it looks like the playbook is creating the config, however its not setting rd auto and rd import/export auto.

[2017-05-30 14:19] Tsieming commented on #22411
@walterdolce the problem here is that `letsencrypt_challenge` is filled with an array of challenges.
when you loop through the domains when validating the challenge you should split the challenges as well as the letsencrypt module cannot handle the array of challenges directly.

I suggest to try in the `Validate challenge` task:
[code]
and use `data: "{{ item.1 }}"`

[2017-05-30 14:24] EvertMDC opened #25167 "task can no longer find variable set in previous task within same role"
There where some issues that touched the same type of problem but they are more specific to logic that is not used here.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on Mac OS X 10.12.5, managing a aws ec2 ubuntu 16.04 instance

##### SUMMARY
This playbook was working before, is under versi

[2017-05-30 14:33] SergioFernandezCordero opened #25168 "ec2_asg - hability to enable monitoring in autoscaling groups"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_asg module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Jessie x86_84 on AWS instance
##### SUMMARY

Would be great if the module could enable monitoring for Autoscaling Groups. By now, each time a ASG is created, monitoring needs to be manually enabled.
##### STEPS TO REPRODUCE

Create an ASG with m

[2017-05-30 14:35] EvertMDC commented on #25167
Additionally, when printing out the hostvars with a debug task I get the variables of localhost, not the machine the role was supposed to be delegated to.
When printing out the hostvars of the machine I delegated to, but hard-coding the name in, the correct variables are printed.
The delegated machine is added in-memory using the add_host module.

[2017-05-30 14:36] s-hertel commented on #24741
Hi @clofresh - Is #24741 a helpful clarification? If you'd prefer different wording feel free to comment on it!

[2017-05-30 14:38] #25067 closed, assigned to nobody

[2017-05-30 14:40] bcoca commented on #25130
so i fixed the error message to not be a 'object class dump',

now fixing the "string indices must be integers"

[2017-05-30 15:08] hughobrien commented on #25156
Reproducing method 3:

1. Specify DefinitionUpdates as a target category name (this is not in the default set).
2. Run in searched mode. Observe no available updates.
3. Override $criteria on line 107 with the string you would expect it to generate to filter for DefinitionUpdates e.g.
[code]
4. Re run. Observe relevant updates displayed that were not displayed before.

[2017-05-30 15:10] Qalthos commented on #24941
This looks to be the same as #23939, does the issue still exist in `devel` or `2.3.1`?

[2017-05-30 15:18] #25130 closed, assigned to bcoca

[2017-05-30 15:42] rhicks commented on #25050
Is there a discussion on why junos_facts changed and broke backward compatibility?

`personality` isn't the only fact we use that is no longer available.  `has_2RE` is very important to us, as are others.

Without notice they are gone, and all our playbooks are broken under Ansible 2.3.
This is very concerning.

[2017-05-30 16:04] lmazuel commented on #25024
@minherz currently, `template` and `template_link` have the behavior of the rest api, there is no logic inside Ansible for that. Once you say that, I guess it's obvious that `template_link` cannot be a local path.
I guess we should keep `template` and `template_link` with their initial ARM behavior for clarity, but we might want to open a feature request to ad a third parameter like `local_templat

[2017-05-30 16:05] lmazuel commented on #24936
Hi @jctanner , yes: https://github.com/ansible/ansible/pull/24710

[2017-05-30 16:28] fewknow commented on #23559
I am still gettting this error today with the latest devel

[code]

[2017-05-30 16:28] gotgenes opened #25172 "Add support for with_items to role"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`role`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`role` should support `with_items`.

##### STEPS TO REPRODUCE

`roles/echo/tasks/main.yml`
[code]

`playbook.yml`
[code]

`inventory.ini`
[code]

Run as
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

Lack of this functiona

[2017-05-30 16:46] bdlamprecht commented on #25081
It does work, kind of.  I'm new to the software dev world, and tried for about an hour trying to get my box to correctly use the `devel` branch of ansible, but was unable to do so.  I ended up simply changing the line in `module_utils/junos.py` from `subele.text = int(confirm_timeout)` to `subele.text = str(confirm_timeout)` and re-ran my PB.

The change DID take place, but the PB errored out with

[2017-05-30 16:58] Akasurde commented on #25081
@bdlamprecht IMHO this is different error. You can log another bug with related information (`-vvvv` output and ansible version) and close this one if suggested fix works for you.

[2017-05-30 17:00] bcoca commented on #25145
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As @robinro points out this is intended behaviour, also modules execute in isolation they cannot come back at the end of play to do wor

[2017-05-30 17:00] #25145 closed, assigned to nobody

[2017-05-30 17:03] bcoca commented on #25160
we need to add a facility for configuration to notify on deprecated and removed settings. Since we were not able to do this when we deprecated host file .. it has gone under the radar.

There are notes in changelog .. but that does not mean a runtime notification would not be much nicer.

[2017-05-30 17:07] #24975 closed, assigned to nobody

[2017-05-30 17:08] maxamillion commented on #21426
Firewalld is handling this through multiple chains for the filtering based on sources. You should see something like the following.

[code]

You should also see the source listed from the `firewalld` command:
[code]

I will however note that there is a known bug about the firewalld module not handling non-permanent operations on `sources` passed in and this will be fixed shortly.

[2017-05-30 17:09] #24610 closed, assigned to nobody

[2017-05-30 17:12] bcoca commented on #25058
@starflighter the issue, that list is VERY dependent on the hosts targeted, hardware/OS/software/configuration all can change that list.

[2017-05-30 17:55] bdlamprecht commented on #25081
Okay, thanks for your help.  I'll open another issue.

[2017-05-30 17:55] #25081 closed, assigned to nobody

[2017-05-30 18:03] ganeshrn commented on #25050
@rhicks In 2.2 junos_fact was dependent on [junos-eznc](https://github.com/Juniper/py-junos-eznc) to get facts from device.
However, this dependency was removed in 2.3 to support [persistent connection](https://www.ansible.com/blog/networking-features-in-ansible-2-3) framework that was added in 2.3.

Can you please let us know which all facts you are using and important to you so that we can work

[2017-05-30 18:11] #23932 closed, assigned to Qalthos

[2017-05-30 18:14] bdlamprecht opened #25175 ""junos_config" executes commands fine, but looses connection to the device and PB fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using `virtualenv` to test `devel` branch of Ansible

##### OS / ENVIRONMENT
[code]
##### SUMMARY
A continuation of a previous bug that was resolved (Issue #25081) When using the module `junos_config`, the change in configuration DOES take place, but the module fails and reports the

[2017-05-30 18:36] rhicks commented on #25050
@ganeshrn
Currently we use the following, but I can see us making use of additional old facts as we add playbooks for other tasks (verifying REs versions are in sync, verifying capability of device, etc...).
`switch_style`
`master`
`model`
`personality`
`has_2RE`
`version`

[2017-05-30 19:48] #25053 closed, assigned to nobody

[2017-05-30 20:09] #24673 closed, assigned to nobody

[2017-05-30 20:15] smemsh commented on #24921
except that `include_role` has never worked `with_items` (#21285), can't expand variables (#19305), breaks handlers (#18411), and apparently won't be usable until 2.4 when we get `import_*`.

[2017-05-30 20:19] bcoca commented on #25172
closing in favor of #24921

[2017-05-30 20:19] #25172 closed, assigned to nobody

[2017-05-30 20:41] richardcs commented on #13706
Also having this issue with Windows Server R2012 and PS4, any work arounds?

[2017-05-30 20:59] druidushka commented on #13706
I just put another one task before win_updates in my playbook:
[code]

There is a problem if scheduled job was created by another person(using different account) and failed for some reason, so you can't unregister one using your account and can't register new. I don't remember details, but after I put provided command before win_update task I've no longer faced this problem

[2017-05-30 21:02] nitzmahone commented on #13706
@druidushka Aha, that's a useful piece of information that the others haven't shared.

[2017-05-30 21:07] semente commented on #5865
Hey @kassiansun, awesome! I didn't work on this project since them but I will test your patch asap and I let you know if it fixed the issue. Thanks!!

[2017-05-30 21:24] richardcs commented on #13706
I also modified the argument to RunAsScheduledJob so that the job_name was ansible-win-updates.xml rather than just ansible-win-updates. Now the Task Scheduler shows the job, but due to permissions, I may not be able actually run it.

[2017-05-30 21:31] maxamillion commented on #24529
I don't follow, is the expectation for `"{{ansible_eth1['ipv4']['address']}}"` to contain multiple addresses when the task is delegated to a single host?

[2017-05-30 21:56] #24652 closed, assigned to nobody

[2017-05-30 22:00] enkiusz opened #25178 "Cannot run ansible modules on VMware ESXi via SSH"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default.

##### OS / ENVIRONMENT
Gentoo system managing a VMware ESXi machine.

##### SUMMARY
Can't run any modules via SSH on the ESXi machine, ansible module doesn't like the six module in /lib64/python3.5/site-packages on the target esxi host. After moving six.pyc in the above directory aside

[2017-05-30 22:32] jparrill opened #25179 "Redis Lookup Plugin refactor"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- Redis Lookup Plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux

##### SUMMARY

Reasons for this enhancement:

- **redis_kv** Lookup Plugin are a bit old and need a refactor
- Receive an array and returns all the values required on this array
- Receive an string and returns the value associated to t

[2017-05-30 23:10] #23455 closed, assigned to nobody

[2017-05-30 23:14] #18807 closed, assigned to nobody

[2017-05-30 23:30] conlon opened #25182 "ec2_asg returns as changed when multiple subnets/AZs are provided"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY

When providing a list of subnets in the `vpc_zone_identifier` arg, the module always returns as changed.
When providing a single subnet, the module returns as `ok` as expected.

This issue was closed seemingly for no rea

[2017-05-31 01:05] kassiansun commented on #5865
@semente Seems a good idea, as this issue is closed long time ago.

[2017-05-31 02:17] mechaxl commented on #24993
Sorry, "merged after the deadline" was a guess at what happened. The `tags` and `wait_for_active_timeout` parameters are not present in 2.3.0.0 as stated above. I can confirm that they are present after doing `pip install git+https://github.com/ansible/ansible.git@devel`, however.

[2017-05-31 04:48] jhawkesworth commented on #24057
Thanks @wronny - its useful to know which event log and source shows the error.

@vignesh-paramasivam and @MichaelGoldsbie - do you get an errors in the event log?

needs_info

[2017-05-31 05:00] jhawkesworth commented on #23559
@fewknow - can you try (single) quoting the dest value, like this?  I've not dug into the code at the moment but my guess is the spaces in the dest path are confusing things.

[code]

[2017-05-31 06:02] minherz commented on #25024
@lmazuel i think it will be more user friendly to leave two parameters and in a case that `template_link` contains local path just read the file into dictionary which is passed as `template` to rest API. Three different parameters is too much. I hope to have some time next month to send a pull request with this change.

[2017-05-31 06:03] minherz commented on #25108
I have received a response from Microsoft support that it is possibly a problem in ACS itself and has nothing to do with Ansible. I will check it tomorrow and update this case with results.

[2017-05-31 06:51] ledzepp4eva opened #25193 "permission denied since kernel upgrade from kernel-3.10.0-514.16.1.el7.x86_64 to kernel-3.10.0-514.21.1.el7.x86_64"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
3.10.0-514.21.1.el7.x86_64
##### SUMMARY

##### STEPS TO REPRODUCE

Since the kernel update all playbooks I try to run through the error below

Running any ansible commands for example:

[code]

##### EXPECTE

[2017-05-31 06:54] ledzepp4eva commented on #25193
Forgot to mention. I do run selinux, but setting this to permissive still ends in the same result.

[2017-05-31 08:43] biolds opened #25194 "Duplicate role skipped in playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Jessie

##### SUMMARY

Duplicate role in a playbook is played only once, this changes behaviour compared to ansible-playbook 2.2.1.0

##### STEPS TO REPRODUCE

[code]

Run:
[code]

##### EXPECTED RESULTS
with 2.2.1.0:
[code]

##### ACTUAL RESULT

[2017-05-31 08:51] biolds commented on #25194
Behaviour is still wrong with ansible 2.3.0.0

[2017-05-31 09:11] mikedlr opened #25195 "apt module is inefficient, overly complex, and diffcult to maintain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt module - install .deb packages

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

all environments

##### SUMMARY

During review of https://github.com/ansible/ansible/pull/24846 we identified that the apt module has a number of problems which mean it needs reasonably urgent refactoring.  I've been asked by th

[2017-05-31 09:17] ghost opened #25196 "Ansible cannot map the network drive on the Windows 10"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible running on: Ubuntu 16.04.2 x64
Ansible managing: Microsoft Windows 10 Enterprise ;OS Version is 10.0.10240 N/A Build 10240

##### SUMMARY
net use command does not work.

##### STEPS TO REPRODUCE
playbook:
[code]
role:
[cod

[2017-05-31 09:29] mikedlr commented on #25195
@evgeni said he will help with this, though he can't take on full time maintenance.

I have put up [some unit tests](https://github.com/mikedlr/ansible/tree/apt-multiarch-unittest) but these should not be merged until they are simplified together with the module.  They are too brittle at the present moment.

[2017-05-31 09:31] dariko opened #25201 "vmware_guests require unnecessary privileges"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
NA

##### SUMMARY
The vmware_guest module requires, when deploying a vm from template,  the permisions `VirtualMachine.Config.CPUCount` and `VirtualMachine.Config.Memory`

##### STEPS TO REPRODUCE
Run this play
[code]
using the credentials of a user missing one or both of

[2017-05-31 09:50] maxkueng commented on #18945
@alikins Yes, it would be possible to manually specify the path in each task. But on Arch it the current default path has no effect so it's kind of wrong. I think specifying the path should only be necessary if I want to write to a specific file but Ansible should still pick a default path that works.

I like how @Akasurde's PR just checks for the absence of `/etc/sysctl.conf` and the presence of

[2017-05-31 09:51] jhawkesworth commented on #25196
Looks to me like you have hit the so-called 'second hop' issue where windows disallows access to machine.  There are ways around this but you will need to use an authentication scheme that support credential delegation for this to work, as mentioned here:
http://docs.ansible.com/ansible/intro_windows.html#credential-delegation

This means you will either need to use kerberos (domain account) or cr

[2017-05-31 10:04] VladislavMesh commented on #25196
I have updated the issue.  I got another error related to credentials. Will try your advice.

[2017-05-31 11:06] dariko commented on #24648
I run in this same issue, and I think that it still shouldn't be closed: in my environment templates are stored with their lone interface attached to the VM network, and they get deployed with the interface attached to a VDSwitch, triggering this problem.

This is the code involved:
[code]

I have not yet completely understood what this code is doing, but I noticed a couple thigs:
1. the instructi

[2017-05-31 11:45] dikaye opened #25209 "Ansible windows problem"
I am going to use ansible to control my windows server, the evns as below:

[root@localhost ansible]# ansible --version
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible-2.4.0-py2.7.egg/ansible
  executab

[2017-05-31 11:50] piotrsmolinski commented on #23621
I am also affected by this. The context is common with related issues. I try installing docker and then use it with the same account as used for connection.

There are three issues happening:
1. The connection of type "smart" is not converted to "ssh" in the meta
https://github.com/ansible/ansible/blob/v2.3.1.0-0.2.rc2/lib/ansible/plugins/strategy/__init__.py#L903
2. The connection parameters are

[2017-05-31 12:37] gundalow commented on #7633
https://github.com/ansible/ansible/pull/24980 has some suggestions for improving the wording. Reviews welcome. Thanks in advance.

[2017-05-31 12:51] #24741 closed, assigned to nobody

[2017-05-31 13:07] bjoernmartin commented on #22287
@gundalow @jtyr here is why I think *ldap_attr* behaves inconsistently. As documented the following adds a single attribute entry if it is not present yet:

    - ldap_attr:
        dn: cn=module{0},cn=config
        name: olcModuleLoad
        values: syncprov.la
        state: present

This adds `syncprov.la` with any index. This could be an attribute with index `{0}` if no module was present be

[2017-05-31 13:20] sm4rk0 commented on #23559
It works for me, with and without single quotes and with either straight or backslashes in `dest`:
[code]

[2017-05-31 13:26] jtyr commented on #22287
Thanks for elaborating on this issue @bjoernmartin. Unfortunately attributes with indexes depend on the schema which makes it difficult to automate in idempotent way. Imagine you add an attribute which actually becomes indexed attribute. If you run the task again, the task still has no index definition and therefore it adds the attribute again. You can also have the same attribute name but with di

[2017-05-31 13:59] Tronde commented on #24203
Hi,

The documentation still says that 'datacenter' is a required option. And from my own tests with ansible 2.3.0.0 I can confirm this. If I do not use the parameter or set a wrong value the playbook stops with an error.

For me it seems the parameter works as designed. Or did I miss something? If not it should be used in the examples section of the documentation, too.

[2017-05-31 14:03] MikeKlebolt opened #25216 "win_dns_client failing on 2008R2 SP1 server when no DNS servers are configured on the server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_dns_client

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
display_args_to_stdout = True
inventory      = /etc/ansible/hosts
sudo_user      = root
transport      = smart
ansible_port: 5985
deprecation_warnings=False
gathering = smart
fact_caching_timeout = 3600
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
host

[2017-05-31 14:05] Tronde commented on #24511
Hi, I can confirm this issue. For better idempotency I would suggest to fail if a snapshot with a given name already exists.

[2017-05-31 14:11] kletiz commented on #25216
I've made the following revision to the Get-DnsClientMatch function in win_dns_client.ps1 as a workaround to the issue.

[code]

[2017-05-31 14:15] pfink opened #25217 "When condition not evaluated correctly when using Jinja2 default filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core / playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When I use the Jinja2 default filter setting a when expression to `false` by default and then explicetly set the variable used within the expression via CLI to false, expression is evaluated to true (even if it should be false).

[2017-05-31 14:18] gundalow commented on #25107
resolved_by_pr 25146

[2017-05-31 14:21] kletiz commented on #25216
According to Microsoft, the Compare-Object cmdlet is designed to behave this way.

[https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.utility/compare-object](url)

[2017-05-31 14:34] maltron opened #25218 "gce_pd is failing"
Somehow, gce_pd module is failing to submit the proper request and all I'm getting it's this:

TASK [Deleting Docker Storage for:maltron-node] ********************************
task path: /home/mauricio/projects/ansible/development-testdrive-openshift/delete-ops.yaml:88
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/core/cloud/google/gce_pd.py
<127.0.0.1> ESTABLISH LOCAL CONNECT

[2017-05-31 14:46] shadycuz commented on #18075
I have the same problem of @kcd83 . Maybe I'm doing it wrong but I use Ansible to check application health. I have fact checking off and I use ```Block``` and  ```Rescue``` to check for application health and if a script fails I use Rescue to attempt to bring the application into a healthy state. I also use it to send a slack webhook using the ```uri``` module. When a server is unreachable I still

[2017-05-31 14:59] pjp commented on #18411
I also had the above intermittent error (ansible 2.2.1.0), but it went away when I changed my code from this

- name: Do Elasticsearch update via role
   include_role:
     name: "elasticsearch-search-{{ role_type }}"

to this

- name: Do Elasticsearch data update via role
  include_role:
    name: elasticsearch-search-data
  when: role_type == "data"

- name: Do Elasticsearch master update via ro

[2017-05-31 15:10] gundalow commented on #25175
Hi, Can you please follow the steps in https://docs.ansible.com/ansible/network_debug_troubleshooting.html#enabling-networking-logging-and-how-to-read-the-logfile and include those log details.

I wonder if we are hitting a timeout and the shell (socket) is being closed.

[2017-05-31 15:10] gundalow commented on #25175
needs_info

[2017-05-31 15:14] dvershinin commented on #18910
+1

[2017-05-31 15:16] dagwieers commented on #23559
I remember a trailing backslash to be problematic, but I never looked into what the problem was.

[2017-05-31 15:26] dPeS commented on #25155
+1 from me... whan I do:

`- name: wait for tomcat port
  wait_for: host=tomcat.service.consul port=8080`

it works nice, but when I fire sth like that:

`tomcat_master_host: tomcat.service.consul

- name: wait for tomcat port
  wait_for: host={{tomcat_master_host}} port=8080`

it sends >>> public IP to fire wait_for on server side instead of "tomcat.service.consul" string

[2017-05-31 15:33] bdlamprecht commented on #25175
As requested.

[ansible hpr-vba-b.txt](https://github.com/ansible/ansible/files/1042076/ansible.hpr-vba-b.txt)

It seems odd that it can initially connect fine, perform the change, and then fail the PB.
Also, after the change takes place and before the "rollback" automatically occurs (due to the commit not being "confirmed") I can run the PB and it connects as well.

I appreciate your help getting

[2017-05-31 15:33] Office-Manager commented on #25155
A different approach i'm using now is
https://docs.ansible.com/ansible/wait_for_connection_module.html  with a delegate to. Works lovely :)

[2017-05-31 15:39] bdlamprecht commented on #25175
As requested.

[ansible hpr-vba-b.txt](https://github.com/ansible/ansible/files/1042097/ansible.hpr-vba-b.txt)

It seems odd that it can initially connect fine, perform the change, and then fail the PB.
Also, after the change takes place and before the "rollback" automatically occurs (due to the commit not being "confirmed") I can run the PB and it connects as well.

I appreciate your help getting

[2017-05-31 15:42] Akasurde commented on #25218
##### ANSIBLE VERSION

[code]

[2017-05-31 15:42] robbmanes commented on #25193
In the event it helps, feel free to ignore:

[code]

I don't have the facts module handy though so I just used setup.  Judging from the calltrace ansible is just creating a workqueue using the multiprocessing module so I'd *suspect* that ansible isn't at fault here.

[code]

Note this is creating the queue which does use a semaphore in the multiprocessing module, here:

[code]

Long shot, but perh

[2017-05-31 15:45] BenCoffeed commented on #18933
@gundalow @rouge8 Will do. May be a minute before I get the bandwidth.

[2017-05-31 15:49] Akasurde commented on #25218
@maltron I think you stepped on this https://github.com/apache/libcloud/pull/1010
We can wait till it gets merged, or you can patch yourself as per above PR.

[2017-05-31 15:51] mindrunner commented on #23320
I am facing exactly the same problem. However, I do not really think that network issues are the main Problem. I am provisioning Windows Server 2016 Nodes in Amazon Cloud (AWS/EC2) in order to run them as Jenkins Slaves. The setup is huge. It takes at least two hours to run a full provisioning. Randomly, I am facing the Connection Refused errors mentioned here. It really seems random and there is

[2017-05-31 15:58] nerzhul commented on #25201
just a note, deploying from a template doesn't excluse customizing CPU and memory before deployment, for system templating only (not the whole VM + vmware config)

[2017-05-31 15:59] nitzmahone commented on #23320
There's something extra-special about the Server 2016 builds at AWS that seems to majorly exacerbate this problem (but we've not seen it anywhere else, eg, bare metal or local 2016 VMs). We currently have 2016 disabled in our CI builds because the AWS instances were so flaky.

I suspect it's probably something to do with non-default SSL hardening in the image- we've had issues with that in the pas

[2017-05-31 16:01] donsantos commented on #24995
@trishnaguha Hi, applied and it worked. Thank you!

[2017-05-31 16:05] pilou- opened #25222 "All integration tests are executed when network or windows integration tests are updated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### SUMMARY

All integration tests are run when network or windows integration tests are updated, here is an example:
https://app.shippable.com/github/ansible/ansible/runs/23451/summary

##### STEPS TO REPRODUCE
Create a pull-request updating windows integration tests

##### EXPECTED RESULTS
Pull-r

[2017-05-31 16:11] mindrunner commented on #23320
Hey, thanks for this feedback. I will try to use a non encrypted connection tomorrow and let you know how this works out. I am sure, I already did with no success, but might have been somewhere else as well. Furthermore, I can remember seeing the same problem on 2012 and 2008 servers as well. But also this might be wrongly stored in my mind. Reporting back here soon.

I am doing the same provision

[2017-05-31 16:18] nitzmahone commented on #23320
Packet traces- there have been certain cases where it's 100% reproducible down to the byte (usually occurs on win_copy with large files under SSL). Disabling SSL always made it go away, and sometimes combinations of recompiling Python/OpenSSL/PyOpenSSL/reconfiguring SSL ciphers on the Windows side fixed it. The problem was usually initially caused by non-default hardening on the Windows side, thou

[2017-05-31 16:20] pilou- commented on #25222
Detection/classification of tests which should be executed seems buggy:

- log of `fedora24` run when windows tests updated:

[code]

- log of `windows1` run when windows tests updated:

[code]

[2017-05-31 16:27] dagwieers commented on #23320
@mindrunner The "Connection refused" in your case seems to suggest that WinRM is not available at that specific moment, rather than connection-related (i.e. SSL). I wonder what the Windows system was doing at that specific moment in time, because I think I have had this issue when doing an installation of SCVMM and I worked around it using win_psexec.

[2017-05-31 16:37] #25096 closed, assigned to nobody

[2017-05-31 16:41] jhawkesworth commented on #23559
@fewknow - if you can still reproduce this, please can you run
ansible --version
and paste the output here.

needs_info

[2017-05-31 16:43] mindrunner commented on #23320
@dagwieers how exactly did your workaround look like?

[2017-05-31 17:11] msllcm0753 commented on #16259
This Was My Final Solution to add keyboard-interactive to my PreferredAuthentications
v_FILE=`locate connection/ssh.py | grep ssh.py$`;
[ `grep PreferredAuthentications ${v_FILE} | grep -c "keyboard-interactive"` -ne 1 ] && \
perl -pe -i  's|PreferredAuthentications=|PreferredAuthentications=keyboard-interactive,|' ${v_FILE} ;

[2017-05-31 17:22] gundalow commented on #25222
Hi,
Thanks for reporting this, fixing this would help us free up some CI cycles.

Most likely due to
`2017-05-26 21:14:52 test/integration/test_win_group3.yml -> integration: all`

[2017-05-31 17:53] tavispaquette commented on #15460
i would really love to be able to trap signals with block statements which would allow me to catch people hitting ctrl-c during a playbook run and do something to cleanup

[2017-05-31 18:19] synchr-darnold commented on #14248
👍

[2017-05-31 18:59] #24396 closed, assigned to s-hertel

[2017-05-31 20:00] voor opened #25233 "Ansible Pull --purge Fails on Become"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`/usr/bin/ansible-pull`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
hosts file contains:
[code]

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY
Using `ansible-pull`  with the `--purge` option causes problems when the host is using `ansible_become=true` because the logs are created by `root` or an otherwise privileged user.

##### STEPS T

[2017-05-31 21:00] bcoca commented on #25027
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The filter is working as designed, `skipped` status is a 'form of success' as either the condition was not met so the task 'worked as e

[2017-05-31 21:00] #25027 closed, assigned to bcoca

[2017-05-31 21:15] bcoca commented on #25046
fixed via 98d223a51b6e13f06ee24e02568fabe8657d7e47, should be out in 2.3.1 and above

[2017-05-31 21:15] #25046 closed, assigned to nobody

[2017-05-31 21:16] bcoca commented on #25066
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-05-31 21:16] #25066 closed, assigned to nobody

[2017-05-31 21:22] trompx commented on #23269
Having the possibility to set a config in ansible.cfg juste like `no_log: True` but global for all playbooks would be great.

[2017-05-31 21:24] bcoca commented on #25068
sounds like known_host locking is broken

[2017-05-31 21:28] brianannis commented on #25175
We're seeing this as well. My theory is that the config contains a directive to enable netconf over ssh, and this bounces the port ansible is using to configure the device.

[2017-05-31 21:33] bcoca commented on #25072
cc @jctanner

[2017-05-31 21:36] jctanner commented on #25072
@gsrigo please provide an example playbook + inventory. We also need to know which machine is the control host and which hosts should be sending/receiving files.

needs_info

[2017-05-31 21:38] dagwieers commented on #23320
@mindrunner Running **win_psexec** to the DC (or any other system really) and then running the installer using PsExec. So when the installer caused WinRM to break, I am not using WinRM but a PsExec connection.

[2017-05-31 21:41] bcoca commented on #25091
The reason this is not automatic is that you might be adding multiple keys, the last thing you want is to update the cache multiple times, leaving this open to make this more prominent in the module docs.

[2017-05-31 21:44] bcoca commented on #25108
cc @nitzmahone

[2017-05-31 21:46] bcoca commented on #25109
cc @nitzmahone

[2017-05-31 22:02] bcoca commented on #25117
can you show the permissions of the root dir? how is it mounted?

[2017-05-31 22:03] mscherer commented on #25112
I do not think we should magically guess that someone saying "targeted" would get another policy because the distribution decided to rename it.

However, I think we should verify the policy exist before switching the configuration. As that's likely always /etc/selinux/foo or /usr/share/selinux/foo, this doesn't sound like a complex patch to create.

[2017-05-31 22:03] bcoca commented on #25116
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-31 22:03] #25116 closed, assigned to nobody

[2017-05-31 22:07] bcoca commented on #25209
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-31 22:07] #25209 closed, assigned to nobody

[2017-05-31 22:09] bcoca commented on #25147
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, it is probably that t

[2017-05-31 22:09] #25147 closed, assigned to nobody

[2017-05-31 22:11] bcoca commented on #25156
cc @nitzmahone

[2017-05-31 22:14] bcoca commented on #25155
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

host parameter is not 'where plugin executes' it is used as the address to test for ports being open, the file will be looked for in th

[2017-05-31 22:14] #25155 closed, assigned to bcoca

[2017-05-31 22:19] bcoca commented on #25167
have you tried using `ansible_facts.vault ` as the variable?

[2017-05-31 22:24] bcoca commented on #25182
cc @ryansb @s-hertel

[2017-05-31 22:27] bcoca commented on #25217
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-31 22:27] #25217 closed, assigned to nobody

[2017-05-31 23:12] bcoca commented on #13190
so 'reverse' as in changing the order of tasks is not a big issue, 'reverse' in the sense of 'do the opposite operation' ... well that is a tall order.

As @resmo points out, this is not stated in the play, `state=present` might not be the 'reverse' of `state=absent` as the play took no action, this would require EACH module to log it's actions in a way compatible with recreating a play that undoe

[2017-05-31 23:12] #13190 closed, assigned to nobody

[2017-05-31 23:33] bcoca commented on #24987
The issue here is not even the inventory cache, but the dataloader cache, which avoids reading files more than once.

[2017-06-01 00:11] phreddrick commented on #22572
The ansible/ansible ppa for ubuntu still has a broken version of this. Any idea when they will be updating?

[2017-06-01 01:14] one-t opened #25238 "ec2_group should have a present vs. exact"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Being able to instantiate an empty security group is very useful if you want to use them in rules. If the group doesn't exist already and you try to add it to a rule, the task will fail. This module could benefit from having an "exact" o

[2017-06-01 01:49] adam-kosseck opened #25239 "win_regedit case sensitivity"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA

##### SUMMARY

Module does not properly check case of data, two issues:
1. If writing a key value of ```false``` when key value was ```False``` before playbook was run  - then key is not changed.

2. if writing a key value of ```false``` (without quote

[2017-06-01 03:17] bcoca commented on #25149
@valentin-krasontovitsch normally an iptables init script/service file invokes iptables-restore on startup (if enabled). I have not looked at Ubuntu 16 specifically, but that used to be the case in previous versions, I doubt that they would have removed this w/o an alternative.

[2017-06-01 03:26] trishnaguha commented on #24995
resolved_by_pr #25212

[2017-06-01 03:27] #24995 closed, assigned to trishnaguha

[2017-06-01 05:26] gdahlm commented on #25149
The better option would be to configure the OS to save on reboot or restart.

On Debian based systems there is a package called iptables-persistent which will read and write files to the following locations.
ipv4: `/etc/iptables/rules.v4`
ipv6: `/etc/iptables/rules.v6`

This is actually a netfilter plugin and would call `netfilter-persistent save`

If the goal is just to have firewall entries reta

[2017-06-01 05:37] willthames commented on #25238
Just use `purge_rules: no` for your desired behaviour.

[2017-06-01 05:38] willthames commented on #25182
Thanks for the vote of confidence @bcoca

cc @wimnat too but I'm doing a lot of work on ec2_asg at the mo so I'll take this on.

[2017-06-01 05:38] onlyjob opened #25242 "APT: silently uses "--allow-untrusted" with `aptitude` on "safe-upgrade" [security]"
I've just discovered irresponsible/insecure use of `--allow-untrusted` in _apt_ module:
on `safe-upgrade` operation with `aptitude`:

[lib/ansible/modules/packaging/os/apt.py#L747](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L747)

This is what _[aptitude(8)](https://manpages.debian.org/unstable/aptitude/aptitude.8.en.html)_ man page says about `--allow-un

[2017-06-01 05:45] dokaspar commented on #21594
I recently received an upgrade to ansible-2.3.0.0-3.el6.noarch but I still have the same problem with the Ansible copy module and Solaris as a destination host. Is the bug not fixed in version 2.3.0? When I downgrade to 2.2.0, copying files works as expected.

[2017-06-01 05:48] willthames commented on #25182
@conlon can you check this behaviour in latest devel?

I've been using latest ec2_asg with multiple subnets for a while and haven't noticed this behaviour. Looking at the code, deciding on `changed` wouldn't even detect if the subnets do change, which is likely a bug in itself.

[2017-06-01 05:49] willthames commented on #25168
Is this what is proposed by #24723 or something else?

[2017-06-01 07:09] abadyan-vonage opened #25244 "Add module for aws step functions"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
New module for aws step functions

##### SUMMARY
Please add support for controlling aws step functions from ansible. Here is the relevant client from boto3:
https://boto3.readthedocs.io/en/latest/reference/services/stepfunctions.html#sfn

[2017-06-01 07:35] jhawkesworth commented on #25239
I think this is actually to do with yaml data typing, rather than any specific behavior of the module.

By quoting the data value, you tell yaml to handle the value as a string.  But the bare word false is treated as a boolean by yaml.  I believe yaml also treats Yes and No as acceptable boolean representations, so I suspect if you changed task to look like this, you would still wind up with False

[2017-06-01 07:43] ptux commented on #14131
I'll do it!

[2017-06-01 07:51] pablomoreno61 commented on #22572
In Mac Sierra OSX, ansible stills outdated, via brew or pip

[2017-06-01 07:59] ledzepp4eva commented on #25193
Hey @robbmanes
[code]
and now it runs.

I will have a look through the kernel change logs to see what has changed there, but thank you very much for your help.

Liam

[2017-06-01 07:59] #25193 closed, assigned to nobody

[2017-06-01 08:01] ElAutoestopista commented on #25168
Yes, it's the same. Sorry for duplicate.

[2017-06-01 08:03] minherz commented on #25108
Unfortunately, the behavior continues. I will contact Microsoft support to verify. I also will be glad to receive a feedback from someone in Ansible team who deals with that module in order to be sure that there is no issue with SDK version in use.

[2017-06-01 08:42] davedastrange commented on #24835
any news on this issue ?

[2017-06-01 08:49] riteshpuj2013 commented on #15321
I was getting the same problem:
[code]
Solved the issue by installing **sshpass** using command:

    sudo apt-get install sshpass

After installng sshpass, I executed this command:
[code]
Hope this helps!!!

[2017-06-01 08:51] riteshpuj2013 commented on #19584
I was getting the same problem:
[code]
Solved the issue by installing sshpass using command:

    sudo apt-get install sshpass

After installng sshpass, I executed this command:
[code]

[2017-06-01 09:01] rvgate opened #25247 "group_vars host overwritten with multiple inventories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
devel@9d8aa43
2.3.0.0

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS
Python 2.7.12

##### SUMMARY
`ansible -i inventory/t1 -m shell -a "echo {{ GROUP_VAR_ALL }}" all`
GROUP_VAR_ALL has the correct value.

`ansible -i inventory/t1 -i inventory/t2 -m shell -a "echo {{ GROUP_VAR_ALL }}" all`

[2017-06-01 09:38] mindrunner commented on #23320
Problem also persist with unsecure connection :(

[code]

[2017-06-01 10:17] dagwieers commented on #23320
@mindrunner I assume it is not happening for the same chocolatey package, but rather randomly ?

BTW Now it says **Connection reset by peer** rather than **Connection refused** or **ReadTimeout**. Which definitely is a different error case, and possible cause.

[2017-06-01 10:26] movie0125 commented on #4531
`---
- hosts: 127.0.0.1
  tasks:
    - name:
      lineinfile:
        dest: foo.txt
        regexp: "msgid aaaa\nmsgstr bbbbb\n"
        line:      "msgid aaaa\nmsgstr bbbbb\n"
`

`
# echo > foo.txt
# ansible-playbook aa.yaml
# ansible-playbook aa.yaml
# ansible-playbook aa.yaml
# cat foo.txt
msgid aaaa
msgstr bbbbb

msgid aaaa
msgstr bbbbb

msgid aaaa
msgstr bbbbb
`

[2017-06-01 10:39] bertvv commented on #18738
Here's some hairy code for the IPv6 case:

[code]

Output:

[code]

Basically, I check how long the string containing the reverse zone name should be, according to the `/prefix` and take a substring with that length from the right of the result of the `revdns` function.

[2017-06-01 11:16] StefanKaerst commented on #20096
hi, I created PR https://github.com/ansible/ansible/pull/25254

[2017-06-01 11:29] Evertvz commented on #25167
Hello @bcoca ,

`ansible_facts.vault` also gives an error that the variable is not defined. Here is the output.
[code]

I wasn't aware of the `delegate_facts: True` option. I put the option on the task that uses the include_vars module to load the variables but to no avail.
[code]
Then I put it on the parent role where the delegate_to statement is set and it did not work either.
[code]
In the end

[2017-06-01 11:51] 3onyc opened #25256 "passwordstore lookup uses pwgen utility, but this isn't mentioned anywhere"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
passwordstore lookup

##### ANSIBLE VERSION

[code]

##### SUMMARY

##### STEPS TO REPRODUCE
1. Run passwordstore lookup with `create=true`
2. OSError: File Not Found

##### EXPECTED RESULTS
Clearly error when `pwgen` isn't installed, or any other appropriate solution

##### ACTUAL RESULTS
[code]

---

The `password` lookup uses a built-in pass

[2017-06-01 12:00] stephenconnolly1 commented on #19795
Also a problem in ansible 2.3 with WinRM. ansible_password variable stored under group_vars\windows-servers.yaml as a separately encrypted variable.

Works fine if we encrypt the whole file, but not if we're doing per-variable encryption.

In our case the error log shows password.encode('utf-16le') rather than latin-1, and we are using ntlm rather than basic auth.

[2017-06-01 12:27] webvictim commented on #5463
+1 - reopen please!

[2017-06-01 12:43] pijpe00 opened #25258 "warnings messages not reported when using lists"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

modules with "warning messages"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

A task which using with_items don't report warning messages

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected two warnings, like:
ok: [127.0.0.1] => (item=edwin)
 [WARNING]: test
ok: [127.0.0.1] => (item=

[2017-06-01 13:02] robinro commented on #25256
pass provides a `generate` command. I'd recommend to adapt to code and use that command instead.

[2017-06-01 13:07] robinro commented on #25195
I might be able to tackle/help with this in July/August.
For `zypper` I did a rewrite a year ago (https://github.com/ansible/ansible-modules-extras/pull/1990), with some similar discussion.

[2017-06-01 13:37] bcoca commented on #25167
dont use delegation on role includes .. none of the include methods make sense with delegate_

[2017-06-01 13:48] wgrw-c commented on #25152
Also can I note that the order of the icmp parameters is incorrect in the current examples section:
[code]
It should be:
[code]
This is based on the code at line 289 of ec2_vpc_nacl.py
        params['IcmpTypeCode'] = {"Type": int(entry[4]), "Code": int(entry[5])}

[2017-06-01 13:49] Evertvz commented on #25167
I'm happy to change it but would need some guidance on how to solve the following situation without delegation.

- create temporary ec2 instance
- add ec2 instance to in-memory hosts using add_host
- install all necessary tools/accounts
- save ami

This is one role, calling other 'subroles' to install for example nginx. Once the machine is created all the other tasks are delegated to the in-memory

[2017-06-01 15:01] lmazuel commented on #25108
Hi @minherz , I confirm the SDK is not involved here, it's here a pure service / RestAPI issue (it's why I didn't say anything yet, I don't know what happens :( )

[2017-06-01 15:44] EvanK commented on #24521
@flokru There's a very enlightening (and somewhat over my head) discussion happening in the PR #24861 that may be of interest to you

[2017-06-01 15:54] minherz commented on #25108
OK. It seems that the problem's origins are within the template itself. I switched to using [acs-engine](https://github.com/Azure/acs-engine) for generating templates and thing started working.

[2017-06-01 15:54] #25108 closed, assigned to nobody

[2017-06-01 15:56] githubvick commented on #17057
Hi,
I'm trying to do something similar here. ansible 2.3.0.0, python version = 2.7.5
In groups_vars.yml,
I'm passing a provider argument, when running the playbook

if provider=azure then
insecure_registrys: ['{{azure_ip.state.ip_address}}:5000'] else if
provider=vsphere then
insecure_registrys: ['11.168.25.68:5000']

For that I'm trying to get this to work similar to how it was done

insecure_reg

[2017-06-01 16:13] conlon commented on #23547
+1
seeing this same behavior on 2.0.2.0 (as well as 2.3.0.0)
[code]

[2017-06-01 16:18] JimCircadian opened #25263 "get_url documentation - others parameter"
## Documentation Report

### get_url module documentation specifies file parameters should all work with get_url.

##### ANSIBLE VERSION
[code]
and
[code]
##### COMPONENT NAME
get_url

##### CONFIGURATION
None relevant

##### OS / ENVIRONMENT
N/A

##### SUMMARY
get_url module documentation specifies file parameters should all work with get_url.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESU

[2017-06-01 16:19] JimCircadian commented on #25263
Whether this is a functional improvement (it'd be kind of cool but obviously has further reaching impact of allowing a rather hectic file option through) or a documentation issue I don't know. Happy to submit a pull request if the community thinks it wise (I'm changing get_url now, but don't have access to a computer until Friday once I leave work!!!)

[2017-06-01 16:26] talaikis opened #25264 "bash: /usr/bin/ansible: No such file or directory"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
Python 3.6.1 |Anaconda custom (64-bit)| (default, Mar 22 2017, 19:54:23)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

'2.4.0'

[code]

[2017-06-01 16:36] sivel commented on #25264
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-01 16:36] #25264 closed, assigned to nobody

[2017-06-01 16:51] jpmens commented on #25263
needs_contributor

[2017-06-01 16:59] 5f6b3fb8 opened #25265 "win_nssm: Data line 'System.Collections.Hashtable' is not in 'name=value' format."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- win_nssm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings changed in ansible.cfg, everything commented.
No ANSIBLE_ environment variables set

##### OS / ENVIRONMENT

Control machine: Windows 10 (14393.1066) with Linux Subsystem for Windows.
Managed machine: Windows Server 2016 (14393.1198)

##### SUMMARY

Every attempt to us

[2017-06-01 17:00] jameslabocki opened #25266 "tower_job_template not receiving argument for extra_vars_path argument"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Module tower_job_template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

[code]
Returns
[code]

##### STEPS TO REPRODUCE
Use the tower_job_template with extra_vars_path set and see that extra_vars_path does not get picked up during execution.

##### EXPECTED RESULTS
File listed in extra_vars_path should be s

[2017-06-01 17:04] nitzmahone commented on #25194
Do you have `allow_duplicates` set in your role's metadata? If not, the bug is likely in 2.2.1, not the new stuff (default behavior is to only allow one execution of the role).

[2017-06-01 17:07] nitzmahone commented on #25196
We've got a mapped drive module on the roadmap for 2.4, though if you're just trying to get at a shared drive for ephemeral use within your playbooks (not configure a permanent mapped drive), you'll want to look into Kerberos + delegation, CredSSP or `become` to solve the multi-hop problem. Regardless, these are known limitations when working under WinRM, so I'm going to close this as "by design".

[2017-06-01 17:07] #25196 closed, assigned to nobody

[2017-06-01 17:11] jean-christophe-manciot opened #25268 "The inventory keyword in /etc/ansible/ansible.cfg is not backwards compatible anymore"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible.cfg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = ./hosts
library = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 10
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars = yes
hash_behaviour = merge
log_path = /var/log/ansible.log

[2017-06-01 17:16] jean-christophe-manciot commented on #25268
**No** such issue with ansible 2.3.1.0-0.1.rc1.

[2017-06-01 17:39] jameslabocki commented on #25266
TASK [tower_config : Create aws-infrastructure job template] ****************************************************************************************************
task path: /home/ec2-user/openshift-ansible-contrib/reference-architecture/ansible-tower-integration/tower_config/tower_config/tasks/main.yaml:103
Using module file /usr/lib/python2.7/site-packages/ansible/modules/web_infrastructure/ansib

[2017-06-01 17:46] wenottingham commented on #25266
cc @wwitzel3 @AlanCoding

[2017-06-01 17:48] jbscare opened #25270 "elb_application_lb destroys and creates listeners, which changes their ARNs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_application_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you use the elb_application_lb module to modify an existing ALB, with a change to the listener (e.g. to listen on a different port), the module destroys the existing listener and re-creates it

[2017-06-01 17:52] nitzmahone commented on #25242
It's not actually the `upgrade: safe` that's adding it, it's the `force: true`. That should probably be more clearly set out in the docs at least, or made a separate option...

[2017-06-01 17:58] snemir2 opened #25271 "set_fact stopped working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

the code that was working for ages, stopped working with recent update
##### STEPS TO REPRODUCE

I have the following in the role:
[code]

##### EXPECTED RESULTS
group variable defined.

##### ACTUAL RESULTS

[code]

[2017-06-01 18:27] bcoca commented on #25247
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are not using multiple inventories, just the last one passed, to use multiple inventory sources put them in a directory and use `-i

[2017-06-01 18:27] #25247 closed, assigned to nobody

[2017-06-01 18:38] Qalthos commented on #25137
Okay, I've looked into this and I just can't reproduce the issue. Can you send the output of `show nxapi` before and after the playbooks are run?

[2017-06-01 18:39] bcoca commented on #25271
probably dupe of #25167

[2017-06-01 18:41] bcoca commented on #25167
i suspect you have a 'mixed' version and some code is using version 2.2 and other 2.3, could you try a clean install?

[2017-06-01 18:42] bcoca commented on #25242
it is also only way to avoid prompts, which can make the task get 'stuck'

[2017-06-01 18:44] bcoca commented on #25268
^ it seems to clearly read the expected file

[2017-06-01 18:52] nitzmahone commented on #25242
Yeah, I suspect if we split that out to its own option and changed the default behavior now that it'd break a lot of folks... Might be something we could handle with `apt` alone better (rather than aptitude) on newer releases, but I haven't been keeping up with the state of the art there.

[2017-06-01 19:08] jhawkesworth commented on #25265
I suggest trying to use app_parameters_free_form it seems to be more forgiving than app parameters.

Not really a fix but I have used win_ regedit to put the app parameters in place, then just used a minimal win_nssm configuration to set up the rest of the service.

[2017-06-01 19:14] wenottingham commented on #25266
-label needs_triage

[2017-06-01 19:27] #24969 closed, assigned to nobody

[2017-06-01 19:59] 5f6b3fb8 commented on #25265
Thanks, @jhawkesworth . I ended up doing that as a workaround. It seems the value of `$appParameters` in the function `ParseAppParameters`, is literally just 'System.Collections.Hashtable'. Subsequently, the ConvertFrom-StringData cmdlet is giving me the error name=value error.

[2017-06-01 20:03] snemir2 commented on #25167
tried that.. (reinstall) did not help

[2017-06-01 20:07] jean-christophe-manciot commented on #25268
Then that's what has been changed: **the path used to be relative to cwd** (which makes sense), not /etc/ansible, otherwise how can we tell ansible to read the hosts file in the cwd with a global setting, instead of having to pass the info at each call with -i?
I have a hosts file per project.

[2017-06-01 20:31] nitzmahone commented on #25256
+1 to self-contained/builtin solution if reasonable on supported platforms (think OSX, FreeBSD, etc), otherwise, better error messaging and docs would be a good thing. :)

[2017-06-01 20:57] cbeckley opened #25276 "Lineinfile changes ownership after editing."
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
If you use the lineinfile module to edit a file and if the file belongs to a different user than the user running Ansible, lineinfile will change the owner of the file to the user running Ansible.

##### STEPS TO REPRODUCE
Create a file

[2017-06-01 21:15] rvgate commented on #25247
This statement is incorrect, because all the hosts from both given inventories will be merged into 1

[2017-06-01 21:47] smemsh commented on #25218
this is a libcloud-2 issue, it seems that fixes for it were merged by google shortly after the initial libcloud-2.0.0 release, but aren't included in a released version yet.

[2017-06-01 21:48] 5f6b3fb8 commented on #25265
So I don't have this 100% working; it's just a matter of fine tuning the parameters for my specific application, but the app_parameters are now parsing.

Right out of the gate, this does not work in win_nssm.ps1 `$appParameters = Get-AnsibleParam -obj $params -name "app_parameters" -type "str"`. I think the assumption here is that the value passed to $appParameters will be powershell code like `@{

[2017-06-01 22:04] #22145 closed, assigned to nobody

[2017-06-01 22:27] trondhindenes commented on #25265
that's funny, I've used it extensively without problems (apart from the stuff fixed with free_form). I'll take a closer look at this. Thanks for the code, sohuld be quick enough to create a PR from it

[2017-06-01 22:28] trondhindenes commented on #24931
That's funny, I'm _quite_ sure we added support for only generating a cert if a fitting one isn't already in place. I'll have a look at this.

[2017-06-01 22:49] dagwieers opened #25278 "win_file is pre-appending user local directory when given absolute path"
_From @suryajak on November 23, 2016 0:2_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Trying to create a directory using win_file is failing. The error messages seems to indicate that the user local directory is getting pre-appended. Even then it should have successfully created the dir

[2017-06-01 22:49] dagwieers commented on #25278
_From @ansibot on November 23, 2016 0:36_

@jhawkesworth ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-01 22:49] dagwieers commented on #25278
_From @suryajak on November 23, 2016 0:52_

I figured out the issue. It looks like this is a doc bug where the examples given use windows style path: http://docs.ansible.com/ansible/win_file_module.html. Since "\" is an escape character in yml, the doc examples need to be updated accordingly.

[2017-06-01 22:49] dagwieers commented on #25278
_From @jhawkesworth on November 23, 2016 15:38_

Not sure why this is open.  The examples don't show double quotes (at least when I look at them in firefox)?

If you need to use double quotes then you have to escape backslash characters with a second backslash.

You can often use linux-style path separators i.e. forward slashes, although i find this confusing, so it isn't something I do, and there

[2017-06-01 22:49] dagwieers commented on #25278
_From @gundalow on November 24, 2016 16:48_

@nitzmahone @samdoran Something to consider when we do the `docs_fragment` for the Windows modules?

[2017-06-01 22:49] dagwieers commented on #25278
_From @suryajak on November 24, 2016 21:41_

@jhawkesworth I kept it open because the example on this doc page doesn't work:  http://docs.ansible.com/ansible/win_file_module.html

The way to make that example to work is to update the following:

`- win_file: path=C:\temp\foo.conf`
to:
`- win_file: path=C:/temp/foo.conf`

Is there a different place I should move this bug to? Alternatively I am happ

[2017-06-01 22:49] dagwieers commented on #25278
_From @gundalow on November 25, 2016 8:5_

Hi,
The example docs have recently been updates (though not live yet) to
https://github.com/ansible/ansible-modules-core/blob/devel/windows/win_file.py

Could you please see if the multi-line format with `key: value` works?

Thanks in advance

[2017-06-01 22:49] dagwieers commented on #25278
_From @ansibot on December 7, 2016 20:38_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-01 22:49] dagwieers commented on #25278
@suryajak Is this problem still present in v2.3 or the devel branch ? If so, please move this issue to https://github.com/ansible/ansible ! Thanks !

[2017-06-01 22:54] dagwieers commented on #25278
I can reproduce this issue, it fails in the old syntax but works fine in YAML syntax.

[code]

[2017-06-01 23:02] bcoca commented on #25258
I cannot reproduce, created my own 'test' module that returns warnings:
[code]
and the output is as expected:
[code]

[2017-06-01 23:06] dtolj commented on #25086
I am having a similar issue with `host_filters={{ config.guestid == "rhel7_64Guest" }}`
In the output is what I see:
[code]

[2017-06-01 23:10] #22823 closed, assigned to nobody

[2017-06-01 23:11] dagwieers commented on #23320
@nitzmahone Here is a reproducer causing a ReadTimeout using win_copy (on v2.2.0): ansible/ansible-modules-core#5645

Is this issue worth migration to ansible/ansible and retain ?

[2017-06-01 23:17] jcummins54 commented on #21005
+1

[2017-06-01 23:20] Illydth opened #25281 "Global Name 'vim' not defined error when called from Ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No Config Changes

##### OS / ENVIRONMENT
Debian 8 Jessie running in a docker Container (jenkinsci/jenkins:2.63)

##### SUMMARY
Getting error "Global Name 'vim' not defined" error when called from Ansible using Ansible 2.3.1.0 and pyvmomi (6.5.0.2017.5.post1)

##### STEPS TO

[2017-06-01 23:22] dagwieers opened #25282 "win_updates expansion"
_From @michelleperz on September 4, 2015 17:15_

##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

win_updates module
##### ANSIBLE VERSION

N/A
##### SUMMARY

To mitigate the risk of pushing out security updates to prod that may not have been tested on dev or staging, it would be nice to have an additional option in this module wherein updates could be applied based on KB#.

_Copied from origi

[2017-06-01 23:22] dagwieers commented on #25282
_From @trondhindenes on October 6, 2015 22:29_

That's a great idea. The underlying module (PsWindowsUpdate) supports installing a specific KB thru the "-UpdateID" param. If we surfaced that as an Ansible param/option would that solve your problem?

[2017-06-01 23:22] dagwieers commented on #25282
_From @ansibot on August 4, 2016 22:28_

@mattdavispdx, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-01 23:22] dagwieers commented on #25282
_From @ansibot on September 13, 2016 3:38_

@mattdavispdx, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-01 23:22] dagwieers commented on #25282
_From @jhawkesworth on September 14, 2016 11:16_

hmm, I imagine bot should be poking @nitzmahone  (perhaps just misconfigured).

bot_broken

[2017-06-01 23:22] dagwieers commented on #25282
_From @ansibot on December 7, 2016 14:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-01 23:22] dagwieers commented on #25282
@michelleperz Could we please move this issue over to https://github.com/ansible/ansible if this is still considered valuable ? Otherwise it may not get the proper attention it may need.

Thanks in advance !

[2017-06-01 23:22] simbalion commented on #25117
I apologize, I made a mistake in syntax because I am new.

[2017-06-01 23:22] #25117 closed, assigned to nobody

[2017-06-01 23:24] adam-kosseck commented on #25239
@jhawkesworth Ok that covers case 2.
Any ideas for case 1 where the value was quoted but it recognised "False" as being the same as "false" and therefore didn't update the registry key?

[2017-06-01 23:40] bcoca commented on #21164
This is now possible when using inventory plugins and YAML configs, virtualbox plugin as example.

Since we merged https://github.com/ansible/ansible/issues/23001

[2017-06-01 23:40] #21164 closed, assigned to nobody

[2017-06-01 23:42] bcoca commented on #10282
merged #23001, which implements the proposal above

i'm still not sure extra vars is correct way to go, since environment vars are already available

[2017-06-01 23:43] Illydth commented on #25281
From the "unworking" box:

[code]
It looks like "vim" is there and available through python.

[2017-06-02 00:50] onlyjob commented on #25242
It is very confusing that _apt_ module uses two different package management tools (`apt-get`, `aptitude`).
IMHO this is a bad design on its own and I'd recommend to restrict _apt_ module to `apt-get` only.

[2017-06-02 01:10] gmreburn commented on #25282
This feature would be useful for me. I like @trondhindenes's idea to pass the UpdateID to PsWindowsUpdate.

[2017-06-02 01:13] maltron commented on #25218
I did applied the patch and I can confirm it worked pretty good. Thanks you all.

[2017-06-02 01:21] smemsh commented on #25218
since it's not really an ansible issue and fixed upstream, maybe close the request...8

[2017-06-02 01:22] #25218 closed, assigned to nobody

[2017-06-02 01:29] movie0125 opened #25286 "Ansible lineinfile duplicates line when with \n"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module  lineinfile

##### ANSIBLE VERSION

[code]

[code]

[code]

[2017-06-02 01:31] movie0125 commented on #25286
Enables idioms when there is \ n

[2017-06-02 03:11] willthames commented on #25270
cc @wimnat

[2017-06-02 03:12] basictheprogram opened #25289 "global name 'Facts' is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible_module_hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_DEBUG=1

##### OS / ENVIRONMENT

Ansible host macOS
Managed host Ubuntu Xenial

##### SUMMARY

Trying to set manage host hostname

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

hostname would be set

##### ACTUAL RESULTS

[code]

[2017-06-02 03:34] #25050 closed, assigned to ganeshrn

[2017-06-02 06:44] chan-alex commented on #15019
In addition to @rsanchez's solution to the scenario where there might be multiple copies of python on your mac, another way is to tell ansible which python to use via the "ansible_python_interpreter" variable.

Suppose /usr/bin/python does not have boto in its path and the python at /usr/local/bin/python (installed via homebrew) has it ("import boto" works while in the repl). You can then set "ans

[2017-06-02 07:00] ykyuen opened #25291 "Fail to start container using docker_container module after docker for mac update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change in ansible.cfg

##### OS / ENVIRONMENT
macOS 10.12.3 (16D32) Sierra

##### SUMMARY
I updated my Docker for mac edge and then i failed to start container using ansible.

##### STEPS TO REPRODUCE

Docker for mac version
[code]
Docker version
[code]

pip list
[code]

Ex

[2017-06-02 07:07] Evertvz commented on #25167
Reinstalled Ansible. Went with 2.3 again but this time it installed 2.3.1.0

[code]
All 'delegate_facts' where removed except from the task that calls the role in question (where the delegate_to statement is found as well)

**And then it worked.** It went through everything just as it did before the first upgrade so either something got fixed in 2.3.1 or my installation was indeed corrupt.

Anyway

[2017-06-02 07:21] jhawkesworth commented on #25239
Thanks for this. Pretty certain its going to be because of the -eq checks in Compare-Data function are case-insensitive.

PS C:\Users\jon> $a = "False"
PS C:\Users\jon> $b = "false"
PS C:\Users\jon> if ($a -eq $b) { write-host "---" }
---
PS C:\Users\jon> if ($a -ceq $b) { write-host "---" }
PS C:\Users\jon>

Please ould you try changing the
-eq
 to
-ceq
 on L80 and L86 of the module and see if th

[2017-06-02 07:40] dagwieers commented on #23320
I just experienced a **Connection refused** myself. The task was waiting for 3 VMs to appear (wait_for_connection doing a win_ping test), the last VM to come online then gave me a **Connection refused** in the next task doing **setup**. I have not experienced this before.

We are using CredSSP.

I wonder if we could retry on **Connection refused** to hopefully make it survive such intermittent iss

[2017-06-02 08:30] biolds commented on #25194
No, but indeed allow_duplicates let's run it twice.
I'm not sure when the change was introduced, but i can tell the default behavior was to play them twice on version < 2.0, it's still the case in 2.2.1, but have not tested other versions in-between.
Still, the doc mentions allow_duplicates only for role dependencies (http://docs.ansible.com/ansible/playbooks_roles.html#role-dependencies)...

[2017-06-02 08:53] biolds commented on #25194
Actually if it's the new behavior, the wrong part of the documentation is there:
http://docs.ansible.com/ansible/playbooks_roles.html#roles
"Roles are just automation around ‘include’ directives as described above, and really don’t contain much additional magic beyond some improvements to search path handling for referenced files."

[2017-06-02 09:32] leynos commented on #13262
@dgillman There is also the loop_control/loop_var construct used in other looped tasks that could be used to avoid collisions.

[2017-06-02 09:53] ykyuen commented on #25291
For your information, i just reverted my last docker for mac version and it works as expected.
[code]

[2017-06-02 10:00] #24660 closed, assigned to nobody

[2017-06-02 10:27] srkiNZ84 opened #25296 "ec2_group module throwing "Error in get_all_security_groups: AWS was not able to validate the provided access credentials""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group module
boto (probably)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running from: OS X
Managing: N/A (AWS API's)

##### SUMMARY
Module throws error instead of creating new security group.

##### STEPS TO REPRODUCE
Call "ec2_group" module task with a valid AWS API key, VPC ID and correct region.

[code]

##

[2017-06-02 10:29] Sabbasth commented on #17193
I use a workaround that I found elegant and allow to use all forms of boolean managed by Ansible.
I understand that it does not cover all cases but it fits all of them in **my usage**.

__CLI__:
[code]
__In Ansible (playbook, default file, vars file)__:
[code]

[2017-06-02 11:00] starflighter commented on #25058
Yes, thats true. I searched for other solutions and found this: [https://github.com/fboender/ansible-cmdb]( https://github.com/fboender/ansible-cmdb). That's exactly what I want.

Thanks anyway.

[2017-06-02 11:01] dagwieers opened #25298 "win_updates: Timed out waiting for scheduled task to start"
_From @autogun on September 19, 2016 13:44_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_updates
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

##### OS / ENVIRONMENT

Linux <hostname> 3.10.0-327.28.3.el7.x86_64 #1 SMP Thu Aug 18 19:05:49 UTC 2016 x86_64 x86_64 x86_64 GNU/Linu

[2017-06-02 11:01] dagwieers commented on #25298
_From @ansibot on September 19, 2016 14:7_

@mattdavispdx ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 11:01] dagwieers commented on #25298
_From @jhawkesworth on September 19, 2016 15:18_

@autogun Not sure what's happening here but can I check a couple of things?

Are you running as a local administrator?
Are you running a local WSUS server (there's been some discussion recently on ansible-project google group regarding this being a good idea to protect from slow public windows updates servers).

[2017-06-02 11:01] dagwieers commented on #25298
_From @jhawkesworth on September 19, 2016 15:18_

I think the bot might be pinging the wrong account here
cc @nitzmahone

bot_broken

[2017-06-02 11:01] dagwieers commented on #25298
_From @autogun on September 19, 2016 19:12_

@jhawkesworth Yes, account is actually Domain Admin and I explicitly added it to Local Administration on servers.

A local WSUS server is in place in the environment.

[2017-06-02 11:01] dagwieers commented on #25298
_From @jhawkesworth on September 20, 2016 5:31_

@autogun - is there anything in the c:/ansible_wu.txt file?
Is your S2008R2 machine running powershell 3 or 4?

[2017-06-02 11:01] dagwieers commented on #25298
_From @jhawkesworth on September 20, 2016 5:34_

oh also, are you able to try as the local admin user?  I can't recall the details now but I think I have seen some discussion somewhere and rights and permissions needed for running windows updates and I got the impression that it is particularly fussy about user permissions/rights.

[2017-06-02 11:01] dagwieers commented on #25298
_From @autogun on September 20, 2016 8:18_

@jhawkesworth - WIN2008R2 is PS3, WIN2012R2 is PS4.
Attaching [gist](https://gist.github.com/autogun/1761af15fa1239f2957e0da4bd3c261a) with both log files.
even tho I get a timeout, log shows the task was finished successful.

I'll dig in win_updates.ps1 to try and understand more what this timeout is all about.

P.S - I run this with highest privileged

[2017-06-02 11:01] dagwieers commented on #25298
_From @autogun on September 25, 2016 11:56_

So I figured out timeout of 30000ms is just not enough. Bumped it to 300000 and it works now.

  # Wait-Job can fail for a few seconds until the scheduled task starts- poll for it...
  while ($job -eq $null) {
      start-sleep -Milliseconds 100
      if($sw.ElapsedMilliseconds -ge 300000) { # tasks scheduled right after boot on 2008R2 can take awhile t

[2017-06-02 11:01] dagwieers commented on #25298
_From @jhawkesworth on September 26, 2016 9:47_

Nice work @autogun
@nitzmahone - I wonder if its worth making the timeout configurable or adding an 'extra patient' mode?  There's also sorts of things that can slow down startup, like scheduled Maintenance.
I'm not yet using this module much myself so don't have any runtime experience to offer unfortunately.

[2017-06-02 11:01] dagwieers commented on #25298
_From @ansibot on December 7, 2016 14:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-02 11:01] dagwieers commented on #25298
_From @wolske on February 15, 2017 20:31_

I am having the same error with five (5) of my 30+ servers. The common denominator appears to be that it is failing on Domain Controllers, all other servers work just fine. The account used with ansible is a Domain Admin account, and Domain Admins are explicitly added to the local Administrators group. I have a local WSUS server and the failed servers in

[2017-06-02 11:01] dagwieers commented on #25298
_From @b-long on May 18, 2017 19:40_

Has anyone found a workaround to this issue?

[2017-06-02 11:01] dagwieers commented on #25298
Let's move this issue over to ansible/ansible.

[2017-06-02 11:02] ganeshrn commented on #25050
@rhicks Added support to gather old style `junos` facts and backported it to stable-2.3.
Add `gather_subset: all` in 2.3 based playbook to ensure old style facts are gathered.

[2017-06-02 11:14] ericzolf opened #25299 "Module foreman fails with no Content View found for, swallows params name for organization"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
foreman module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

(no roles used, though)

##### OS / ENVIRONMENT
Control host is Fedora 25.
Satellite 6 runs on RHEL7 (but doesn't seem involved anyway)

##### SUMMARY
The module doesn't work at all, even when just reproducing what is written in the documentation.

##### STEPS TO REPRODUCE

[2017-06-02 11:18] dagwieers commented on #24766
So most of the modules still have their imports at the end of the file, and `import *`.
The guidelines indicate you need to select implicitly what to import.
But this is hard/risk-prone, and probably should only be attempted when proper integration tests exist.

[2017-06-02 12:02] jmcginn13 commented on #24802
I have found the issue by turning on boto logging. I noticed the following in the create database post:
"Port":"5432 " <- notice quotes and extra space.

I was using a variable to set the port, changing this to a hardcoded value in my task fixed the malformed content error.
Port: 5432

I'll try the int filter on the variable to see if that resolves the use of the variable and report back

[2017-06-02 12:11] chuanchang commented on #19438
I met the same issue, the static parameter doesn't work for me, could anyone help fix the issue? thanks in advance!

[2017-06-02 12:39] ronator commented on #20096
:+1:

[2017-06-02 13:01] mindrunner commented on #23320
@nitzmahone Unfortunately, using a unsecure connection does not really help me. I see many connection refused errors, randomly happening. Furthermore, I sometimes see something like this:
[code]
Which does not really make any sense to me. Credentials never change.

[2017-06-02 13:01] jctanner commented on #25282
!bot_broken

[2017-06-02 13:01] jctanner commented on #25298
!bot_broken

[2017-06-02 13:07] jctanner commented on #25281
@Illydth the task is using a local connection

[code]

Did you run your python test on the ansible control host (maybe a jenkins worker) ?

needs_info

[2017-06-02 13:12] dagwieers opened #25302 "win_robocopy: Causing changes in win_copy or win_template tasks"
_From @davidhulick on September 1, 2016 19:0_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from CentOS Linux release 7.2.1511 (Core)
Running Ansible against Windows Server 2012R2
##### SUMMARY

win_template always reports changed, even when only variable is consistent between runs.
####

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on September 1, 2016 19:3_

@jhawkesworth ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 13:12] dagwieers commented on #25302
_From @jhawkesworth on September 1, 2016 22:12_

Last time I looked, the win_ template action was a very thin wrapper around the template action. So I am curious if template behaves the same way (on Linux hosts). If template on Linux is behaving as you expect, then I suspect the issue would be in win_copy, win_file or possibly in the shared module code in powershell.ps1

I will investigate as soon

[2017-06-02 13:12] dagwieers commented on #25302
_From @davidhulick on September 1, 2016 23:35_

template running against a CentOS 6.8 host works as intended.

[2017-06-02 13:12] dagwieers commented on #25302
_From @jhawkesworth on September 15, 2016 16:48_

Hi @davidhulick Sorry it has taken me a while to get to this.

I just tried against latest devel and not reproduced using the following playbook

[code]

and this template

[code]

 Command line used was
`ansible-playbook -v 4636-test.yml -e "test_variable=the_same"
`
How are you setting your variable that isn't changing?  inventory? group_vars? ro

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on October 5, 2016 15:9_

@davidhulick ping, this issue is still waiting on your feedback. We will close the issue if you do not respond.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on October 21, 2016 8:36_

@davidhulick ping, this issue is still waiting on your feedback. We will close the issue if you do not respond.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on November 6, 2016 9:35_

@davidhulick ping, this issue is still waiting on your feedback. We will close the issue if you do not respond.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on November 22, 2016 9:43_

@davidhulick ping, this issue is still waiting on your feedback. We will close the issue if you do not respond.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-02 13:12] dagwieers commented on #25302
_From @ansibot on December 7, 2016 18:12_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-02 13:12] dagwieers commented on #25302
_From @davidhulick on January 5, 2017 15:30_

Hi @jhawkesworth Sorry for the very late reply on this.

Here is where the variable is being called in my template file role.castle.config.j2

[code]

This variable is defined in the inventory file, and is different for each machine I am managing.

[code]

I have run a checksum before and after each ansible run, and the checksum on that template file (

[2017-06-02 13:12] dagwieers commented on #25302
_From @jhawkesworth on January 5, 2017 16:59_

I just tried using an inventory var against latest devel against a win10 and a s2012r2 vm and I still can't reproduce this problem. :-(

S2012R2 is lazy about updating modified timestamps in my experience (I think it only updates on a file close, unlike previous versions of windows).
Can you use resource monitor to check if anything else is holding a

[2017-06-02 13:12] dagwieers commented on #25302
_From @davidhulick on January 18, 2017 19:46_

Hi @jhawkesworth,

It looks like I've finally gotten to the bottom of this. It turns out the issue was the win_robocopy ansible module. During initial deployment, I used the following code to copy our Wolfpack directory to Program Files (x86)

[code]

It turns out that on subsequent runs, even though this step was reporting changed: false, it was affe

[2017-06-02 13:12] dagwieers commented on #25302
@davidhulick If this issue is still in v2.3 or the devel branch, please open a bug in https://github.com/ansible/ansible ! A module shouldn't change anything when it reports `changed: no`.

[2017-06-02 13:29] jctanner commented on #25296
cc @willthames @s-hertel @ryansb

[2017-06-02 13:29] #25266 closed, assigned to nobody

[2017-06-02 13:33] jctanner commented on #25263
resolved_by_pr https://github.com/ansible/ansible/pull/25297

[2017-06-02 13:34] jctanner commented on #25299
cc @ehelms

[2017-06-02 13:48] jmcginn13 commented on #24802
Using the int filter resolved the issue so now my create db task looks like:
`
- name:                   "Create postgres database {{ database_name }} in subnet group {{ database_subnet_group_name }}"
  rds:
    command:              "create"
    region:               "{{ region }}"
    instance_name:        "{{ database_instance_name }}"
    instance_type:        "{{ database_instance_class }}"

[2017-06-02 13:57] PAtkinsonHSBC opened #25303 "gce.py - service access provisions are incomplete"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

CLOUD/GOOGLE/GCE.PY

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT

##### SUMMARY
Service access provision choices are outdated.
New  ones needed to be added or others pulled from google somehow.
These are just simple API scopes.

##### STEPS TO REPRODUCE
See Gce.py module
Compare service access provisions list

[2017-06-02 14:04] hemskgren opened #25304 "nxos_vlan parameter transport Unsupported"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Module nxos_vlan and some more nxos_* module report paramerter 'transport' as unsupported.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-06-02 14:14] hemskgren opened #25305 "nxos_switchport parameter transport Unsupported"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_switchport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-06-02 14:28] s-hertel commented on #25304
I think this may be a docs report as opposed to a bug. It appears the function that once used transport was removed in https://github.com/ansible/ansible/commit/21d993a4b8e26f85ebb136330243ad523ad9ba3c#diff-3276ba3698072836d55410d807baa22bL330 but had been discarded some time ago.

[2017-06-02 15:13] s-hertel commented on #25305
Adding a note that this is not the same issue as #25304 (which doesn't appear to be using the transport option anymore). Looks like an easy fix.

[2017-06-02 15:39] s-hertel commented on #25296
Hi @srkiNZ84 thanks for the issue. Are your credentials in ~/.boto?

[2017-06-02 15:59] s-hertel commented on #25296
If so feel free to test the [fix](#24783).

[2017-06-02 16:01] s-hertel commented on #25296
If so feel free to test the [fix](https://github.com/ansible/ansible/pull/24783) and leave some feedback.

[2017-06-02 16:31] s-hertel commented on #24802
Ah!! Tricky. Thanks for sharing that.

[2017-06-02 16:45] 5f6b3fb8 commented on #25265
Maybe Get-AnsibleParam changed? I'm sure the win_nssm.ps1 would work as-is if that cmdlet returned the app_parameters as `@{ "key" = "value" }` but all it's returning for me is `System.Collections.Hashtable`

Even with Get-AnsibleParam fixed, I still think the key/value concat needs to be fixed. It might work with some apps, but my scenario needs a space between switches.

[2017-06-02 16:53] Illydth commented on #25281
Yes, the test was run actually inside the Jenkins Master docker container (the control host that would be kicking off the ansible job).

I've actually gotten farther down this stack in the last 12 hours or so.  I reproduced the container and started building it package by package to see if I could track down what was causing the issue.

Apparently after I "apt-get purge python-pip" (which removes

[2017-06-02 17:10] #24232 closed, assigned to nobody

[2017-06-02 17:10] jhawkesworth commented on #25265
Yeah it did change.  optional parameter typing was added during 2.3.  -type "str" must have been added erroneously.

[2017-06-02 17:30] s-hertel commented on #24802
@jmcginn13 I believe #24802 will allow you to not use the int filter. If you have time would you double check me?

[2017-06-02 17:33] matejkramny opened #25311 "Playbook `hosts` ignored for inventory of the same IP (but different port)"
##### ISSUE TYPE
[x] - Bug Report

##### COMPONENT NAME
Playbook & Inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Inventory:
[code]

Playbook:

[code]

Ansible connects to port `1222` instead of `9322` as expected.

##### EXPECTED RESULTS
Ansible to connect to port `9322` as per the host group

##### ACTUAL RESULTS
[code]

[2017-06-02 17:49] jctanner commented on #25311
@matejkramny I think this may be due to the host "10.0.0.1" being set as the key within the internal inventory structure.

If you refactor your inventory to look like this, does it behave as you expect?

[code]

needs_info

[2017-06-02 18:46] cukal opened #25314 "find module does not error when encountering a path with permission denied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
find module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
The find module does not return an error when encountering a permission denied error for a given path. The task finished correctly although a permission denied was encountered which should ideally result in a

[2017-06-02 18:54] MichaelBaydoun opened #25315 "service module failing on rhel5 targets when service does not exist."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION
[code]
though it also effects 2.3.0, but worked in 2.2.3

##### CONFIGURATION
[defaults]
callback_whitelist = profile_tasks,timer
fact_caching = jsonfile
fact_caching_connection = ~/.ansiblecachedir
fact_caching_timeout = 10800
forks = 50
gathering = explicit
host_key_checking = false
inventory = ~/ansible/h

[2017-06-02 19:05] s-hertel commented on #23871
To anyone who cares the fix for this bug has been merged in #25092. I have some tests in #23875 that will hopefully keep this use case noticed.

[2017-06-02 19:06] s-hertel commented on #24945
This has been fixed in #25092. I have some tests in #23875 for this use case.

[2017-06-02 19:06] #24945 closed, assigned to nobody

[2017-06-02 19:15] #24802 closed, assigned to nobody

[2017-06-02 19:16] domibarton opened #25317 "Serial play stops immediately after one host fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core / playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:

[code]

##### OS / ENVIRONMENT

Running from Mac OS X 10.12.5

##### SUMMARY

I'm not 100% sure, but I think there's something odd with the `serial` play feature (or I didn't get the docs right).

When I read the [docs](http://docs.ansible.com/ansible/playbooks_de

[2017-06-02 19:40] trutheddie commented on #20311
Experiencing the same in Ansible 2.3.0

[2017-06-02 19:45] matejkramny commented on #25311
Rewriting the inventory like that does work.

Is this intended or a bug?

[2017-06-02 20:34] stejoo commented on #24296
I have a similar issue as sharbok-surge. I have been unable to resolve it yet. This is a bit of the tasks:

`- name: "Install : Create TeamSpeak {{ teamspeak.version }} Server directory"
  file:
    path: "{{ teamspeak.home }}/teamspeak3-server_linux_amd64-{{ teamspeak.version }}"
    state: directory
    owner: "{{ teamspeak.user }}"
    group: "{{ teamspeak.user }}"
  register: mkdir

# If a new

[2017-06-02 21:11] fwissue opened #25319 "asa_config issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

ASA 9.4(3)
also enable following on ASA, so user can be in enable mode after login.

##### SUMMARY

run asa_config with error

##### STEPS TO REPRODUCE

ansible-playbook -i labhost fwobject.yaml -vvvv

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-06-02 21:33] juandiego26 commented on #13563
@chrrrles worked for me 👍

[2017-06-02 21:36] #19216 closed, assigned to nobody

[2017-06-02 22:03] mohammad22 opened #25320 "m"

[2017-06-02 22:07] sivel commented on #25320
M!

[2017-06-02 22:07] #25320 closed, assigned to nobody

[2017-06-02 22:42] pilou- opened #25321 "INI inventory plugin don't fail to parse YAML formatted files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory plugin

##### ANSIBLE VERSION
[code]

##### SUMMARY
In some case, ini plugin is able to parse Yaml formatted inventory without any error, resulting in a wrong list of hosts.

##### STEPS TO REPRODUCE
Inventory based on sample contained in [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/yaml.py#L35):
[

[2017-06-02 22:42] bcoca commented on #25317
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As docs state, that is the default behaviour, the issue is that serial is NOT default. With serial if ALL hosts in a serial batch fail,

[2017-06-02 22:42] #25317 closed, assigned to nobody

[2017-06-02 22:44] bcoca commented on #25321
As workaround you can change `inventory_enabled` in ansible.cfg to either control the order (put YAML before ini) or just remove ini from the list
[code]

[2017-06-02 22:49] pilou- commented on #25321
Should not we check extension of INI formatted inventories (`.cfg`/`.ini`/no extension would be accepted) in `lib/ansible/plugins/inventory/ini.py:verify_file` method ?

[2017-06-02 22:51] bcoca commented on #25321
@pilou no, In previous versions .ini files ignored when traversing directories, as they were normally config files for dynamic inventory scripts, so that is not a restriction that is backwards compatible.

[2017-06-02 22:52] #25321 closed, assigned to nobody

[2017-06-02 23:22] bcoca commented on #25321
I will look into making this more configurable in the future, but it might depend on `ansible-config` feature getting done.

[2017-06-03 03:34] Akasurde commented on #24983
@jkroepke Could you please provide `ls -l /dev/disk/by-uuid/*` output ? IMHO, this [line](https://github.com/ansible/ansible/blob/stable-2.2/lib/ansible/module_utils/facts.py#L3444) is returning None

[2017-06-03 05:20] Akasurde commented on #24983
@jkroepke Can you try this patch?

[code]

[2017-06-03 06:32] adam-kosseck commented on #25239
@jhawkesworth I made the module changes as requested.
First test run it reported a change, but no change was visible in the registry: ```mdc-nc1                    : ok=1    changed=1    unreachable=0    failed=0 ```
Second run it reported no change, and registry entry still has an uppercase F :(
[code]

Looking at the code entries that you asked me to change, I don't believe line 80 needs to be c

[2017-06-03 08:11] #25107 closed, assigned to nobody

[2017-06-03 09:10] dagwieers commented on #20505
So we have 3 candidates, and win_service is no longer on the table :-)
[code]

Of these, *win_uri* is clearly the most simple example, although it does have some things that require cleaning up.

- headers should be a dict (implement a dict-type !)
- fix the idempotency issue when writing to a file
- make it somewhat more feature complete with the **uri** module
- reorganize result
- add integrati

[2017-06-03 10:19] daincredibleholg opened #25326 "unarchive"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
Unarchive reports it can not find the archive but it is definitely there and accessible. Looks like a regression.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Extracted file in /var/www/.

##### ACTUAL RESULTS

[

[2017-06-03 11:24] dagwieers commented on #25326
You have to use the remote_src option.

[2017-06-03 11:53] daincredibleholg commented on #25326
Oh boy, I am on a run today - you are, of course, right. Thanks. Not a bug at all, well, at least not in the system, more in front of the keyboard.

[2017-06-03 11:53] #25326 closed, assigned to nobody

[2017-06-03 13:12] Akasurde commented on #25319
This [lines](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/shell.py#L259-L264) seems to be culprit. `ComplexDict` requires `module` as second parameter.

[2017-06-03 13:12] xenu256 commented on #25264
OK, seems that goes nowhere, so more directly - maybe you should update the documentation that server should be restarted when installing via pip? Or is it how that should work?

[2017-06-03 13:27] xenu256 commented on #17081
This requirement to install deprecated Python 2.7 turns me away from Ansible altogether. It's like hell with supervisord on Py2. Python 3 9 years old, people, older than anything else.

[2017-06-03 14:23] andy-maier opened #25329 "Module doc return table issues"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- Module documentation tool (plugin_formatter)
- docs/bin/plugin_formatter.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

defaults

##### OS / ENVIRONMENT

From: RHEL 7.3
Target: localhost

##### SUMMARY

I am developing an Ansible module and use the module documentation tool that Ansible also uses for its modules, namely `/do

[2017-06-03 14:53] dagwieers commented on #25326
Thanks for reporting back !

[2017-06-03 15:06] thomwiggers commented on #24110
I can confirm that it's caused by using `svn` instead of `subversion` in my example.

[2017-06-03 15:13] thomwiggers commented on #24110
It is still happening on Ansible dev:

# Playbook

[code]

# Version

[code]

# Output

https://gist.github.com/97a039344ad93a22d79877f14155092b

[2017-06-03 15:35] dagwieers commented on #25311
@matejkramny It is not intended, nor a bug. It's the consequence of using the IP address (or hostname) as the key in the hosts dictionary (cfr. the key in a DB table). For dictionaries it means that for duplicate keys usually the last key wins.

In this case you could wonder if the port is not an intrinsic part of that key, but changing this would impact how users have to address systems. So I bet

[2017-06-03 16:15] Akasurde commented on #21453
Can we close this issue as PR is merged for this issue ?

[2017-06-03 17:46] dagwieers opened #25332 "Document process for relicensing to GPLv3"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

documentation

##### ANSIBLE VERSION

v2.4

##### SUMMARY

Since I am doing such relicensing for the xml module (from strict GPLv2 to GPLv2+ including GPLv3), I wondered if there were any guidelines we can collect for future relicensing needs.

You can see what we did for the xml module at: cmprescott/ansible-xml#113

So the basic id

[2017-06-03 18:05] hryamzik opened #25333 "'tempfile' ans module in modules/files/ causes import errors testing file modules that 'import tempfiles'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible, testing, tempfile

##### ANSIBLE VERSION

[code]

##### SUMMARY

Writing tests to a module that uses `tempfile` results in an import error.

##### STEPS TO REPRODUCE

1. Create a new test file, i.e. `test/units/modules/files/lineinfile/test_lineinfile.py`
2. Add import to this file: `from ansible.modules.files import lineinfile`
3. Ru

[2017-06-03 18:37] NiklasA commented on #16305
Hi,

I would also appreciate this feature. The backup feature helps me to detect which changes was made. But after some time, when you run your ansible playbooks many times there are many backup files.
For me it would be easier, if I could set a `backup_dir`, which moves these files into a central folder. It would also help keep the server "cleaner".

Thanks.

[2017-06-03 20:02] hemskgren commented on #24466
I see the same issue.

[2017-06-03 21:27] sivel commented on #25333
We may need to nest the `tempfile.py` module into subdirectory, or potentially add `from __future__ import absolute_import` into any module that imports `tempfile`.

[2017-06-03 21:39] sivel commented on #25332
IANAL

I'd say you are mostly out of luck here.  If you can't contact the contributor to get permission, the code can't be relicensed, and trying to perform a new implementation after having seen the previous code will always be dubious.

Based on https://www.gnu.org/prep/maintain/html_node/Copyright-Notices.html it would seem that it is not *required* to add additional Copyright holders to the fi

[2017-06-03 22:05] dagwieers commented on #25332
IANAL too.

Well, in our case we have a person mentioned in the file for copyright, but in Github there's no mention of him in the history. I added him to the list of people to contact...

Also not every contribution might be illegible for copyright IMO. Cosmetic changes, cleanup, small fixes, etc. And some contributions have been removed subsequently (because the one-liner was incorrect, or becau

[2017-06-03 22:06] ToBeReplaced commented on #25022
This is an extension of https://github.com/ansible/ansible-modules-core/issues/833 . Fix was introduced for views, but not materialized views. @hezbucho 's suggestion is sufficient.

[2017-06-03 23:28] pilou- opened #25334 "handler is unfindable when handler name refers to a dict which have a value referring to 'inventory_dir'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### SUMMARY
Since 8f97aef1a365cbbbb822d6d09f96af17a076b295 (inventory plugins), the following playbook fails:

[code]

##### STEPS TO REPRODUCE
Using the playbook above, the following command fails:
[code]

The inventory contains only one line:
[code]

The output is:
[code]

Note that the error doesn't occur

[2017-06-04 01:18] nicklaw5 commented on #22572
I can confirm that upgrading from `v2.3.0` to `v2.3.1` has resolved this issue in my case.

[2017-06-04 07:21] andy-maier commented on #25329
Fixed by PR #25330.

[2017-06-04 07:35] karlroberts commented on #24740
I also regard this as a bug a least with ec2.py maybe not with ansible directly. I need to access accounts via assumed Roles, I normally (aws cli) use a profile as per ricfeatherstone 's description above and add a common role that accesses sts and stores temporary credentials that I use in ansible tasks. But the assumed role is not working with ansible 2.4.0 and ec2.py. It just tells me "[WARNING

[2017-06-04 08:14] GMLudo commented on #15915
I confirm this bug is still present in the latest stable version.

We have rewritten our playbook to bypass that.

You might re-open this issue to not forget it's still broken.

[2017-06-04 11:04] th3penguinwhisperer opened #25337 "synchronize between 2 systems through ssh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: synchronize

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

##### CONFIGURATION
Default settings.

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611

[2017-06-04 11:11] th3penguinwhisperer commented on #25337
To give the command ansible synchronize generates when using user@host syntax:

"cmd": "/usr/bin/rsync --delay-updates -F --compress --archive --rsh=/usr/bin/ssh -S none -o StrictHostKeyChecking=no --rsh \"ssh -l root\" --out-format=<<CHANGED>>%i %n%L /root/ansible/root@remote.host:/apath /apath"

[2017-06-04 11:46] Tahvok commented on #18124
Will this ever be fixed? Doesn't look like a big issue..

[2017-06-04 12:42] 3onyc commented on #25256
The `pass` command line utility also has a built-in generate function (see `generate` on the [man page](https://git.zx2c4.com/password-store/about/)), this would work as a replacement for `pwgen`.

Alternatively, where would I move `password.py:_generate_password()` to as to not duplicate it in `passwordstore.py`?

[2017-06-04 17:15] toddrosner commented on #24275
@nitzmahone

I've run into this exact issue and have done the same as dkarakas1 wrt python and pip versioning, then pip installed packaging, and this seems to have corrected the packaging issue. Now I'm getting the following error:

`No module named azure.mgmt.network.models`

Below is the freeze:

[code]

I do have azure-mgmt-network installed, and I've tried azure 2.0.0rc5 as well and I get the

[2017-06-05 00:01] wimnat commented on #25270
Hmm i didn't write the listeners bit so it might take me a little while to dissect.  I'll update again shortly.

[2017-06-05 01:29] bhcleek opened #25344 "Powershell over SSH"
##### Bug Report

##### COMPONENT NAME
powershell over ssh connection

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running Ansible from macOS Sierra managing a Windows machine over SSH.

##### SUMMARY
Packer has an ansible module that works well to provision machines, but Ansible 2.3.0 broke the [connection plugin](https://www.packer.io/docs/provisioners/ansible.html#winrm-communicator) t

[2017-06-05 04:17] dcosson commented on #17086
+1 it would be nice if the warning didn't show any time you used `--limit localhost` since you clearly are trying to run on localhost.

We have a dev playbook to provision some stuff on mac laptops, but it's a common source of confusion for people on the team who don't know much about ansible that the output starts off with a big WARNING message even though it ran successfully.

[2017-06-05 07:38] minherz opened #25346 "Azure deployment fails to get file via URL that is accessible from ansible host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
Using `acs-engine` a template and parameter files are created and stored in a server artifactory. The artifactory URL is accessible from the ansible host.
When these URLs are passed to azure deploym

[2017-06-05 08:09] krzysztof-magosa commented on #24891
It's really ridiculous ;-)
[code]

[2017-06-05 09:58] anaselbouhali opened #25350 "C:/Qt/5.9/mingw53_32/mkspecs/features/toolchain.prf:129: Variable QMAKE_CXX.COMPILER_MACROS is not defined."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

C:/Qt/5.9/mingw53_32/mkspecs/features/toolchain.prf:76: Variable QMAKE_DEFAULT_INCDIRS is not defined.
C:/Qt/5.9/mingw53_32/mkspecs/features/toolchain.prf:129: Variable QMAKE_CXX.COMPILER_MACROS is not defined.
C:/Qt/5.9/mingw53_32/mkspecs/features/toolchain.prf:76: Variable QMAKE_DEFAULT_INCDIRS is not defined.
C:/Qt/5.9/mingw53_32/mkspecs/fe

[2017-06-05 10:26] lukasmrtvy opened #25352 "azure_rm_virtualmachine , started parameter is True by default. Unable to get status of VMs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

azure_rm_virtualmachine task without state parameter always starting VM.
I want to know status of VM, if it is running, or it is stopped. Its not possible to get this information without changing state of actual VM.

[2017-06-05 10:49] MKPhil opened #25353 "vmware_guest exits with error when rebooting vm"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### SUMMARY
When using vmware_guest to reboot or shutdown a VM, the task exits with an error, even if the task executed OK!

##### STEPS TO REPRODUCE
Using playbook below to reboot a VM named "ThisM"

[code]
Error also occurs if `state: shutdownguest`

Error does not occur for:
[code]

##### EXPECTED

[2017-06-05 11:56] trondhindenes commented on #25265
Yup, looks like this commit may have changed too much stuff: https://github.com/ansible/ansible/commit/ff1efb2c1c2cbaebe3ed28ca28695b9bc15d5bca#diff-5ba1945628b98dfd2ff1c1893772b39a
@dagwieers , care to have a look?

[2017-06-05 12:13] jhawkesworth commented on #25350
Please fill out all the values in the issue template, there isn't even a problem description here.
Assuming this has been opening in error, so closing.

[2017-06-05 12:13] #25350 closed, assigned to nobody

[2017-06-05 12:43] trondhindenes commented on #24931
hm, so it seems _lots_ of stuff happened since I last had a look at that file. You are indeed right, it will (re)generate a cert regardless of any existing certificate. I'll see if I can get a PR in that will fix this.
I'm thinking the logic will be like this: If there's already a cert in place with the required type (ie that it can be used for `Server Authentication`) and the cert isn't expired,

[2017-06-05 12:53] Akasurde commented on #25353
We need a backport of [this](https://github.com/ansible/ansible/pull/22564)

[2017-06-05 12:58] kamranayub commented on #24931
That should work in my case at least. As long as the script ensures the
NETWORK SERVICE user has access to the key, it should work. Thanks!

On Mon, Jun 5, 2017, 07:44 Trond Hindenes <notifications@github.com> wrote:

[2017-06-05 13:04] dagwieers commented on #25265
Right, the parameter became a string, and it should become a dictionary (with support for key=value in old syntax). Support for dictionaries is not implemented for Windows modules, it's on my list of things to do.

I will remove the -type "str" for this parameter. Sorry for the inconvenience.

[2017-06-05 13:17] dagwieers commented on #25265
So I fixed the `app_parameters` parameter in win_nssm, it now has `-type="dict"` which is unimplemented (so that is the same as before when it did not have that statement).

I noticed that `dependencies` is in fact a list, and we should probably simplify **win_nssm** to understand `-type "list"`.

And more importantly, we should add integration tests making use of these options, so we can fail on

[2017-06-05 13:32] dagwieers opened #25358 "powershell.ps1: Implement dict parameter type"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/powershell.ps1

##### ANSIBLE VERSION

v2.4

##### SUMMARY

The **win_nssm** module implements a parameter using a "dict" type as value. This is currently unimplemented (and taken care of by the win_nssm module itself). We should move this support to powershell.ps1, and support both the YAML syntax, as well as the legacy "key=va

[2017-06-05 13:36] dagwieers commented on #25344
This is an item on our TODO list, but with low priority I'm afraid.
- https://public.etherpad-mozilla.org/p/Ansible_Windows_Community_Plan
- https://github.com/ansible/community/issues/153#issuecomment-286751848

[2017-06-05 13:39] #25289 closed, assigned to alikins

[2017-06-05 13:46] sivel commented on #25358
This sounds to be a duplicate of https://github.com/ansible/ansible/pull/25356

[2017-06-05 13:50] alikins commented on #25332
I added lots of assignees here, @gregdek and @robynbergeron since this is a community related item, @abadger since you have lead parts of re-licensing before, @dharmabumstead and @docschick for docs

[2017-06-05 14:24] stephenconnolly1 commented on #23019
FWIW we worked around this by prepending cmd.exe /c to the command. That might still not help with the quoting problems, but it did help with ansible not even recognising the executable we were trying to run, though that's probably just the equivalent of using win_shell rather than win_command.

[2017-06-05 14:26] trondhindenes commented on #25358
yup, they discuss the same thing. Just for clarity: mine is a pr. Very open to suggestions on how we solve these.

[2017-06-05 14:39] devigned commented on #25346
The link to the file is not pulled down to the host machine, but passed as a URL string to Azure in the REST request. Azure Resource Manager then attempts to fetch the URL. Azure Resource Manager doesn't have access to the URL.

I think folks will run often as it's confusing what context the fetch of the URL occurs. It might be useful to either default to pulling the URL down locally, or provide a

[2017-06-05 14:48] trondhindenes opened #25360 "ec2 module exact_count output should list deleted instances"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ec2.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
When using the exact_count option with the ec2 module, there's no simple way to programmatically see what was changed. If an instance is added or removed, it shows up in the "instances" attribute of the result object, but there's no indication about whether th

[2017-06-05 14:53] nitzmahone commented on #25344
Hrm, given that the CP says it supports pipelining and didn't set `shell_type`, I have no idea how it worked even under 2.x (accidentally, I guess). https://github.com/ansible/ansible/pull/25012 should fix most of the issues for non-pipelined mode (if the CP correctly advertises it), but there are still a couple of issues to work through before that fix gets merged. Windows over non-WinRM CPs isn'

[2017-06-05 14:57] trondhindenes commented on #25265
Pretty sure we're talking about the same thing but just in case:
I've added a PR which adds a "psobject" to the list of possible param types. I've tested this against the win_nssm module and it works. imho, there are two "basic constructs" in Powershell objects: psobject and Hashtable. A hashtable is a key+value pair list, and a psobject is more akin to the python dict. The reason I named it "psob

[2017-06-05 15:09] mrgnr commented on #22791
Ping @jctanner

[2017-06-05 15:18] bhcleek commented on #25344
@nitzmahone, `shell_type` was being set to `powershell` on the command line. I'd tried setting it in the communicator, but if I remember correctly, I couldn't find a variable to set it in the communicator at the time.

I agree with you on the long term fix, but if #25012 will fix this particular problem, then perhaps we can make the `packer` CP work again?

It's difficult for Packer to configure t

[2017-06-05 15:19] jhawkesworth commented on #17081
A great of work has been done on python 3 support since this issue was closed.
I understand you can try out the support so far using the instructions detailed here: https://docs.ansible.com/ansible/python_3_support.html
I would recommend using latest devel version (2.4) at time of writing to try this out as there has been lots of improvement since 2.2 (mentioned in the page above).

[2017-06-05 15:19] dagwieers commented on #25265
I would make both one and the same thing. But I woukd not make it a PSObject. I dont't see a compelling reason (but could be persuaded).

[2017-06-05 15:22] nitzmahone commented on #25344
@bhcleek I suspect I know the answer, but here goes: does packer have a CI env that could test this given a proposed fix? Or would the testing be manual?

[2017-06-05 15:27] nitzmahone commented on #25344
I'm just used to using techniques like https://github.com/mwrock/packer-templates to build my Vagrant boxes, using native WinRM IIRC. I'm actually pretty certain (unless we've broken something else recently) that explicitly setting the shell type + #25012 will fix 95% of the issues with making this work on our SSH/Paramiko connection plugin. We've been trying to figure out an abstraction to reliab

[2017-06-05 15:40] jbscare opened #25361 "Add or remove instances from ELB target groups"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

AWS ELB modules (maybe existing, maybe a new one)

##### ANSIBLE VERSION

n/a

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

The new elb_application_lb and elb_target_group modules are great, but don't seem to have an easy way to add and remove individual instances from a target group, without otherwise affecting the

[2017-06-05 15:42] jbscare commented on #25361
@wimnat mentioned something about this on https://github.com/ansible/ansible/pull/19492#issuecomment-301353473 but I didn't see an existing issue for it.

[2017-06-05 16:03] bhcleek commented on #25344
To the best of my knowledge, packer does not have a CI environment that could test this fix. @mwhooker or @rickard-von-essen can you confirm?

However, the tests in https://github.com/hashicorp/packer/tree/master/test/fixtures/provisioner-ansible would test it if run manually. I run `(cd test/fixtures/provisioner-ansible && PACKER_LOG=1 $GOPATH/src/github.com/mitchellh/packer/bin/packer build -var

[2017-06-05 16:29] mtkunkel opened #25362 "AIX hardware facts fail on single core AIX5 series"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module_utils/facts/hardware/aix.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from any supported Linux platform.   Managing AIX5 series

##### SUMMARY
AIX hardware facts fail when run on single core AIX5 (attribute smt_threads is not defined)

/usr/sbin/lsattr -El proc0 -a smt_threads
lsattr: 0514-528 T

[2017-06-05 16:36] pilotmattk commented on #25362
https://github.com/ansible/ansible/pull/25364

[2017-06-05 17:03] lmazuel commented on #25346
Same root cause than https://github.com/ansible/ansible/issues/25024. I suggested a new parameter, @minherz suggested to use still use `template_link` and do it transparently (i.e. download `template_link` and fill `template` anytime). I agree that this is confusing right now (and curious about CLI as well :) @derekbekoe @johanste)

[2017-06-05 17:03] mtkunkel opened #25365 "Setup module debugging: traceback missing in 2.4"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

setup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The setup module provided a traceback when facts fail prior to 2.4.   Since splitting facts.py into multiple scripts, failures are silent.   I'm not finding any documentation on how to debug setup with the latest ch

[2017-06-05 17:08] minherz commented on #25346
It is somewhat more than confusion since it enforces to have the network context of the ansible host to be same with the context of the azure resource manager which is problematic in many scenarios.

[2017-06-05 17:19] one1zero1one commented on #17215
+1 "the error is not indicative of the problem"
Had the same error for a RPi in the wild that had a full drive, took me a while to get to 'No space left on device'  from 'temp_path' is not defined.

[2017-06-05 17:26] nitzmahone commented on #25344
You may want to set pipelining to False as well (try with it on first, but I can think of a couple potential issues there)

[2017-06-05 17:35] jchristopher327 commented on #25137
Hi @Qalthos, I disabled the nxapi feature and ran the playbook again.
Below is the playbook to enable the feature and then configure it with HTTPS (8443) enabled and HTTP disabled. Notice the commented out `no nxapi` under the nxos_config task.
[code]
Disable the feature prior to running playbook
[code]
Playbook debug. The HTTP key is showing as false but there is no command being sent to disable

[2017-06-05 17:48] xiata opened #25366 "mysql_user: with_items only keeps last item's privilege"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS X 10.12.3
Python 2.7.13 (virtualenv)

##### SUMMARY

When granting the same privilege across multiple databases using the `with_items` directive, it resets that user's grants on every with_items iteration rather than just on the first iterati

[2017-06-05 18:01] mwhooker commented on #25344
@bhcleek we do windows CI with [appveyor](https://ci.appveyor.com/project/hashicorp/packer)

Is that what you mean?

[2017-06-05 18:07] giovtorres commented on #20711
I'm getting the same error and `update_cache` did not work for me.  While searching for a resolution to this issue, I am noticing a trend where the repo is hosted with packagecloud.io.  I use `rpm_key` in other modules, but haven't come across this issue with those.

I used the `rpm_key` module to add the gpg key from packagecloud twice in a row and registered the output just to verify that change

[2017-06-05 18:09] theballdredge commented on #22644
there are instances where performance is secondary to functionality - is it possible to make magic find available, maybe not by default? something like enable_magic_find_i_know_it_sucks: true or such.

my environment is such that including the wide variety of folder paths per vm makes it unattractive enough to be interested in using magic find even with a moderate performance impact.

[2017-06-05 18:14] bdlamprecht commented on #25175
Has there been any update on this?  I need to know if this is a legitimate bug or not.
Please let me know if you need additional information.

Thanks,
Brady Lamprecht

[2017-06-05 18:18] bhcleek commented on #25344
@mwhooker, that just tests running Packer *on* Windows, right? What I'm looking for is something that runs the tests in https://github.com/hashicorp/packer/tree/master/test.

[2017-06-05 18:20] mwhooker commented on #25344
ahh, I misunderstood, sorry. I don't believe we have ci set up for the functional tests, at least publicly. Something we're working on, but probably not in the near future

[2017-06-05 18:35] f3rdy commented on #13235
The reason why expire parameter always toggles a change, therefore renders the user module as not being  idempotent when applied, is because everytime expires is set, it will be applied regardless of the value changed or not.

To fix this, the module should be using `chage -l` on a given (existing) user and check if the set value is equal to the new expiredate setting.

When doing this, the date f

[2017-06-05 18:42] trondhindenes commented on #25265
My reasoning is the difference in how they are transformed into a string object (as win_nssm clearly shows, although I'll agree that the implementation is a bit clunky). A hashtable serialized into a string will simply be the string "System.Collections.Hashtable". A string-serialized psobject translates into something like "@{name=trond}" (for a psobject with a single "name" property). I'm pretty

[2017-06-05 18:43] Qalthos commented on #25137
Ah, I see the problem. I changed the parsing in nxos_nxapi so that the version of `show nxapi` that your device emits is supported. Can you try #25306 and let me know if it works correctly?

[2017-06-05 18:49] dagwieers commented on #25265
@trondhindenes We will have to support what win_nssm supported earlier. (which is a YAML and a key=value pair if I understand it correctly). I still don't see what a PSObject brings us, so I would simply stick with -type="dict", but let's discuss it in a WWG meeting.

[2017-06-05 18:50] dagwieers commented on #25358
This relates to #25358

[2017-06-05 19:38] madhucs commented on #24096
Seeing similar issue , Any workaround or directions would help ?

ansible --version
ansible 2.3.1.0
  config file = /Users/Downloads/swarm/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Sep 22 2015, 12:25:10) [GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.72)]

ansible.cfg
   host_key_checking = False
   ansible_winrm_server_cert_valida

[2017-06-05 19:49] alikins commented on #25362
Was this ever working before? If so, what versions?

[2017-06-05 20:17] pilotmattk commented on #25362
It failed in 2.1, 2.2, 2.3.   In 2.4 it runs without failure however the facts are missing.  (hardware/aix.py likely fails but does not result in traceback due to splitting of facts.py in 2.4).

[2017-06-05 20:23] matejkramny commented on #25311
Thanks for explaining this @dagwieers. I was thinking it was saved under the group and it didn't make sense when it behaved like this.

Isn't the YAML format deprecated?

[2017-06-05 20:25] masontrep commented on #18302
I can add more info to this issue: Forgive my formatting.

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

Have number of Allied Telesis Switches: (X900, X510, X230)  has a very similar command structure as Cisco IOS.

Running this playbook
[---
- hosts:

[2017-06-05 20:26] Akasurde commented on #25365
@pilotmattk What is OS on compli07 ?

[2017-06-05 20:27] dagwieers commented on #25311
A long long time ago it was deprecated in favor of the crooked INI format, but it has been reinstated and now JSON is possible as well (but JSON is harder to get right IMO), besides JSON is a subset of YAML so...

We often use it for prototyping, or test-driving specific playbooks for lab environments.

[2017-06-05 20:38] mtkunkel opened #25368 "HP-UX hardware facts fail on virtualized ia64"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

facts/hardware/hpux.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Managing Virtualized HPUX ia64
##### SUMMARY

machinfo returns questionable cpu data for virtualized ia64 systems.   Causes module failure in 2.1 through 2.3.   2.4 runs and is missing all hardware facts.
##### STEPS TO REPRODUCE

[code]

##### E

[2017-06-05 20:41] sivel commented on #25368
This appears to be the same bug you reported in https://github.com/ansible/ansible/issues/25365

Any reason we can't use a single bug report?

[2017-06-05 20:47] pilotmattk commented on #25365
That one is AIX, this issue is more generic and related to the splitting of facts.py.  If the setup module fails, need a way to get traceback like once occurred prior to 2.4.

 I have redacted the hostnames/ip's as that is internal information.

[2017-06-05 20:50] gregdek commented on #25332
I'm a little leery of documenting how relicensing *ought* to work from the Ansible side. That seems like a more general "how do you relicense code" question that's beyond our scope.

When a module is upstreamed, the committer is essentially acknowledging that he/she has rights to submit the module. That's all we should be interested in, by design. It's up to the committer to secure those rights. I

[2017-06-05 20:50] pilotmattk commented on #25368
I will have a PR shortly to fix this issue specific to HPUX facts.   #25365 is more generic in that the setup module will no longer fail with traceback in 2.4.   Need a way to get debug info from module_utils/facts/hardware/*.py

[2017-06-05 20:53] dagwieers commented on #25332
Only 6 more to go, but I am not sure if legally all 21 need to sign off on this. (Cannot find good legal practices on this). So that was one reason for me to open this ticket. The other reason is that someone on IRC (#ansible-devel) told me we should document this. If we don't, I don't mind closing this ticket though.

[2017-06-05 20:53] #25332 closed, assigned to abadger, gregdek, robynbergeron, docschick

[2017-06-05 21:22] jladdjr opened #25371 "hostvars not collected when using inventory "script plugin""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
New inventory plugin system (https://github.com/ansible/ansible/pull/23001)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Since [inventory plugins](https://github.com/ansible/ansible/pull/23001) landed, when Tower runs against ansible `devel` seems like extravars are not being picked up. Even with

[2017-06-05 21:27] bcoca commented on #25371
@jladdjr for reproducers a simple setup w/o Tower is what we require, to show it is an Ansible and not a Tower issue, which has different support.

[2017-06-05 21:51] jladdjr commented on #25371
@bcoca:

[code]

*devel*:
https://gist.github.com/jladdjr/a8cd06f285f0885cd4cfa8e44737b61d

*stable-2.3*:
https://gist.github.com/jladdjr/0bd9fcfb89dc77ec43bd2633272dba09

[2017-06-05 22:09] sivel commented on #25371
This change begins to fix it, but things go further awry from here:

[code]

With just that change, we seem to end up with weird parsing later.

In the above test inventory we get:

[code]

With a test `localhost.py` that I have, we end up with hosts called: `1`, `2`, `7`, `0`, `.` and `127.0.0.1`

Looking later in the code I see `self.populate_host_vars(host, got, group)`, but the variable `group

[2017-06-05 22:24] bcoca commented on #25371
@sivel, i'm already a couple of steps ahead, mismtach on 'meta' vs '_meta' .. got it working now .. just got more hosts than defined (once that is solved it should be good)

[2017-06-05 22:24] sivel commented on #25371
Looks like `populate_host_vars` is also expecting to get a list of hosts.  So when we call `populate_host_vars` from `script.py` with a single host, we are iterating the characters of theo hostname.

[2017-06-05 22:32] #25371 closed, assigned to bcoca

[2017-06-05 22:53] Joeskyyy commented on #21112
For what it's worth, VMWare has done a pretty good chunk of the work with an example: https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/cdrom_vm.py

I tried to poke at it, but pretty bogged down at the moment ):

[2017-06-06 00:06] abadger commented on #25151
Should be fixed via #25241

[2017-06-06 00:06] #25151 closed, assigned to nobody

[2017-06-06 01:54] jwoertink commented on #20537
What causes this error? I'm getting the same error message when trying to install any galaxy package.

[2017-06-06 02:35] #24521 closed, assigned to nobody

[2017-06-06 03:41] jgarcia-radius commented on #12905
@gravattj looks like here: https://github.com/ansible/ansible-modules-core/issues?utf8=✓&q=is%3Aissue%20is%3Aopen

[2017-06-06 04:39] indrajitr commented on #24110
Quick summary of the issue at hand:

* This happens in cases where the actual package isn't found and `pacman -S` attempts to find another package that _provides_ the same functionality and proceeds to install.
* Thus, it would happen for other cases like `svn`, `smtp-server` etc.
* The reason this fails in Ansible is because:
    - pacman can only check if actual package is installed but cannot c

[2017-06-06 05:35] LukeRussell commented on #23551
OK I've reread all the doco and articles and had another go.

For the life of me I can't replicate my problems earlier, so I'm going to close this.

[2017-06-06 05:35] #23551 closed, assigned to nobody

[2017-06-06 05:42] berney opened #25377 "win_scheduled_task No MSFT_ScheduledTask objects found with property 'TaskPath' equal to '\'. Verify the value of the property and retry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible is running on Linux host, trying to manage a Windows 10 1703 Creators Edition host.

##### SUMMARY
Trying to create a scheduled task on a Windows 10 1703 Creators Edition host. Get an error `No MSFT_ScheduledTask objects found with prop

[2017-06-06 05:45] pijpe00 commented on #25258
Which version of ansible did you use?

[2017-06-06 06:00] trondhindenes commented on #25265
Totally agree. Just for clarity: If you supply a "key/value-type" parameter (as of Ansible 2.3.0) and don't specify the type with "Get-AnsibleParameter", then the resulting type is a Hashtable. Win_nssm expects a serialized psobject instead, which is why it's choking (and how Ansible was working prior to 2.3.0). One might argue that it would be better to refactor win_nssm (and I'm all for it), but

[2017-06-06 06:41] ectorr opened #25378 "VCA_VAPP ERROR/BUG"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

**vca_vapp**

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 X86_64

##### SUMMARY

Im trying to create new VM in a org of Vcloud Director into an existing vdc and vapp.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The expected results are that the playbook create a new VM in the Vapp.

##### ACTUAL RESULTS

[

[2017-06-06 07:34] jhawkesworth commented on #25265
Hi

I sort of think we need to have dict _and_ psobject, and not just so there's something familiar for both 'people coming from powershell' and 'people coming from python'.  Why? because they are (slightly) different things.

My understanding is that powershell hashtable is a basic key-value structure, with its main purpose being storing and retrieving values by their key as fast as possible.  A

[2017-06-06 07:35] phiea commented on #24240
tested with 2.3.1 now, as it is the new stable version. And the problem is gone. As far as i'm concerned the issue is closed.

[2017-06-06 07:35] #24240 closed, assigned to privateip

[2017-06-06 07:51] jhawkesworth commented on #24333
I have a feeling this is just 'how windows does things' unfortunately.
Environment variables are usually regarded as immutable once a program has started.
There are exceptions and a mechanism was created whereby executables could listen for change events when environment variables have been modified, but it is rare for executables to implement this in my experience (I think I read somewhere that '

[2017-06-06 08:00] Loustik commented on #19792
Why did you close this issue without any explanation / details?

[2017-06-06 08:06] fynnit opened #25379 "error when installing via pip"
##### ISSUE TYPE
 - Bug Report

##### OS / ENVIRONMENT
MacOS
##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY
Cant install Ansible to use with trellis

##### STEPS TO REPRODUCE
sudo pip install ansible

##### ACTUAL RESULTS
[code]

[2017-06-06 08:12] dagwieers commented on #25265
@jhawkesworth Good point, we discussed it briefly yesterday, but I really wanted to defer a decision to the next meeting (which has more favorable hours for @trondhindenes and others).

Related to command-line arguments and preserved order, that is why for python lists are being used for the same purpose, or it remains a string (depending on the exact syntax). Although in theory you could use an O

[2017-06-06 08:26] #25358 closed, assigned to nobody

[2017-06-06 08:33] manics commented on #20537
You need to copy the list from the `dependencies` section of `meta/main.yml` into a separate `requirements.yml` file and then run `ansible-galaxy install -r requirements.yml`. This issue is a feature request for ansible-galaxy to handle `meta/main.yml` directly.

[2017-06-06 08:42] dagwieers commented on #25265
@jhawkesworth The name "dict" or "dictionaries" is not very specific to Python, it's been called associative array, hash, map (e.g. in YAML) or mappings, key-table, or tables and by Powershell hashtable. https://en.wikipedia.org/wiki/Associative_array

BTW If we plan to add ordered dictionaries, I would propose to call this type "omap" (YAML). And would then map exactly with the !!omap typing in Y

[2017-06-06 09:03] hwoarang opened #25380 "rabbitmq_user invokes rabbitmqctl with an empty node and segfaults"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
rabbitmq_user messaging module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
openSUSE Leap 42.2 but the connecting host that causes the trouble is an LXC container

##### SUMMARY
Here is the problematic piece of code in the plaubook that causes the crash

[code]

This produces the following

[code]

As you see, the

[2017-06-06 09:41] rmohr commented on #20000
I see the same. Although I don't specify a version (I even set `with_dependencies`) explicitly, it does not install dependencies.

[code]

[2017-06-06 10:00] dagwieers commented on #20505
It has been decided to use **win_environment** as it has the most simple implementation of an idempotent module supporting check-mode and diff support.

The upside is that we don't need to do a lot of work ;-)

[2017-06-06 10:20] pdesgarets opened #25381 "Template module does not know tojson filter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible template module

##### ANSIBLE VERSION

[code]
(does not happen with ansible 2.3.0.0)

##### CONFIGURATION

Default config.

##### OS / ENVIRONMENT

macOS 10.12.4

##### SUMMARY

Filter `tojson` does not seem to work. When using it with template module

##### STEPS TO REPRODUCE

[code]
with /tmp/template.test as following :
[code]

###

[2017-06-06 11:22] gilesw opened #25384 "All defaults_from to use files outside of a role"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
https://docs.ansible.com/ansible/include_role_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I would like to be able to override some defaults when including a role, but still allow those new defaults to be overridable at the group_vars level.

##### STEPS TO REPRODUCE
Currently defa

[2017-06-06 11:26] wimnat commented on #25361
It'll probably be ready for review some time next week

[2017-06-06 12:15] gundalow commented on #24240
@phiea Thank you for confirming this has been fixed.

[2017-06-06 13:05] michalmedvecky commented on #20494
kill me now

[2017-06-06 13:51] sivel commented on #25381
The `tojson` filter provided by upstream jinja2 Is part of the jinja2 version 2.9 release.

However ansible also ships with a filter to do this, which is named `to_json` and `to_nice_json`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-06-06 13:51] #25381 closed, assigned to nobody

[2017-06-06 14:02] mwinfie opened #25388 "win_scheduled_task fails to create task in empty folder"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Running Ansible from Red Hat Enterprise Linux Server release 7.2 (Maipo)
Managing Windows Server 2012 r2

##### SUMMARY
Using win_scheduled_task to create a scheduled task in a folder that does not already contain a scheduled task will fail. Us

[2017-06-06 14:03] cbeckley commented on #25276
ISSUE TYPE

Bug Report
COMPONENT NAME

lineinfile

ANSIBLE VERSION

2.3.0.0
CONFIGURATION

OS / ENVIRONMENT

Centos 7

SUMMARY

If you use the lineinfile module to edit a file and if the file belongs to a different user than the user running Ansible, lineinfile will change the owner of the file to the user running Ansible.

STEPS TO REPRODUCE

Create a file owned by user A, that is rw to user B vi

[2017-06-06 14:05] #25276 closed, assigned to nobody

[2017-06-06 14:08] sivel commented on #25379
Your error seems to be with compiling and installing pycrypto:

[code]

Generally speaking pip provides more information on a failure that just the line in this ticket.

In any case, as the error is with pycrypto, and this is more of a user question, if you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.googl

[2017-06-06 14:08] #25379 closed, assigned to nobody