[2017-01-26 09:36] andrewhowdencom commented on #20638
I would be interested, but I think it's unlikely I will be able to contribute due to time constraints. Sorry :( I have developed a playbook using Xenolf/Lego, but if we start hitting the constraints of that (it's a bit hacky) I'll revisit this with the view to submitting a PR.

This will likely be a while.

[2017-01-26 09:41] joe90p commented on #20639
Also having this issue. Here are the tasks to reproduce.

'- name: Start platform topology flows
  shell: '{{ storm_path }}/bin/storm jar {{ topologies_base }}/{{curiosity_service_jar}} {{ item.value }} {{ item.key }} {{ ps_environment }} {{ zookeeper_servers_list }}  -c nimbus.host={{ nimbus_host }} {{ storm_config_args }}'
  with_dict: "{{ topology_lookup|default({}) }}"
  when: (topology_start

[2017-01-26 09:57] ghost opened #20684 "nxos_portchannel: first two portchannells are reported as being created but they did not"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_portchannel
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS
NXOS: version 7.0(3)I4(1)
##### SUMMARY

I'm trying to create portchannels on a pair of Nexus 9372. Lets say we want to create 4 portchannels on both devices, so there will be 8 similar ansible tasks.
Every time I run my playbook ans

[2017-01-26 10:20] dminca opened #20685 "[notification/telegram] add Markdown support for messages"
##### ISSUE TYPE

 - :bulb: Feature Idea

##### COMPONENT NAME

- **notification / telegram** module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- “N/A”

##### SUMMARY

- provide Markdown support for sending messages
  - given that `sendMessage` [supports Markdown][1], `parse_mode='markdown'` support could be added

##### Useful resources
- [function that creates Markdown formatted str

[2017-01-26 10:33] temtemtemtem commented on #20639
@joe90p yes I resolved it, as it was my fault of not using async correctly in combination with with_items. referring to [this solution](https://groups.google.com/forum/#!topic/ansible-project/Awz6jJllJq0)

[2017-01-26 10:39] helldorado commented on #20316
@seljuck  i'm using both 3.x and 4.x for testing, can't reproduce.

Note, the error message ```'module' object has no attribute 'disable_warnings'``` is not proxmox part or the ansible module part. Check your pip module installation like urllib3.

Best regards.

[2017-01-26 10:49] angystardust commented on #20406
@nerzhul sorry for the noise. By the way, i think that _vsphere_guest_ should be soon deprecated in favour of _vmware_guest_ module but doesn't support the core/socket specification.
This feature is really useful when you're going to install on tour guest vm a software which has a per-socket license so you can deploy a vm with 1 socket and 4 cores instead of a vm with 4 sockets.

Maybe @johnpauljj

[2017-01-26 10:59] eljenso commented on #20653
I am having the same issue.
Just downgraded to version 2.1.2.0 and git module passed.

[2017-01-26 11:08] nerzhul commented on #20406
@angystardust CPU/core specification is not very easy in vmware_guest we have config.hardware.ncpu :(

[2017-01-26 11:11] helldorado commented on #20316
notabug

Can't reproduce any reported issue. I hope my answers have helpe @seljuck

[2017-01-26 11:14] eljenso commented on #20653
Looks like this behavior was introduced with this commit: https://github.com/ansible/ansible/commit/0d9afa84d50e02c912e90ff6bbe5a89cea30b8be

[2017-01-26 11:17] #20316 closed, assigned to nobody

[2017-01-26 11:34] jrnmgnzlz commented on #20288
RHEL 7.2 / ansible 2.2.0.0 (Server)

Suse Enterprise 12.1 (Remote host)

I going to update the ansible version to trying again.

[2017-01-26 11:40] robinro commented on #20288
@jrnmgnzlz This sounds like a different issue. Please open a new bug report.

[2017-01-26 11:42] jrnmgnzlz commented on #20288
Ok, thanks !

[2017-01-26 11:47] angystardust commented on #20406
@nerzhul maybe we can just take a look and copy from the `cores_per_socket` code from the saltstack vmware cloud module (they also make use of pyvmomi library)...
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L2517
https://docs.saltstack.com/en/latest/topics/cloud/vmware.html#vmware-cloud-profile

[2017-01-26 11:53] ghost opened #20686 "Apache2_module enable modules but show fails in log."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
remote_tmp     = /tmp
host_key_checking = False
log_path = /var/log/ansible.log
display_skipped_hosts = True

##### OS / ENVIRONMENT
RHEL 7.2 / ansible 2.2.1.0 (Ansible server)

Suse Enterprise 12.1 (Remote host)

##### SUMMARY
When the apache2_module enable mod_proxy the module i

[2017-01-26 11:54] jrnmgnzlz commented on #20288
@robinro Ok, thanks!

new bug report: #20686

[2017-01-26 12:03] nerzhul commented on #20406
@angystardust nice idea, please open an issue for this addition

[2017-01-26 12:10] #20512 closed, assigned to nobody

[2017-01-26 12:12] vmindru opened #20687 "create convention on parameter names and enforce."
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
module parameters

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Right now modules have parameters that serve the same purpose but named differently

e.g.  get_rul module uses as parameter dest: for target file and file uses parameter path: this is just one example out of many.

If this convention already e

[2017-01-26 12:30] nerzhul commented on #20406
@angystardust => https://github.com/ansible/ansible/pull/20691

[2017-01-26 12:52] KroArtem opened #20692 "Link in documentation leads to third-party repository instead of ansible"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
 Windows Support

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Doesn't matter

##### SUMMARY
[In the docs](http://docs.ansible.com/ansible/intro_windows.html) about Windows support there is a link to PS script to update PS. Think link leads to
`https://github.com/cchurch/ansible/blob/devel/exampl

[2017-01-26 12:58] gundalow opened #20693 "PERSISTENT_CONNECTIONS regression"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Looks like there is a regression caused by  https://github.com/ansible/ansible/commit/66736730422b4b3b8f585ecd58cdec5a6833c912

##### STEPS TO REPRODUCE

**inventory.network-jobarker**
[code]
**persistent_connect.yml**
[code]

**Command**
`time ANSIBLE_USE_

[2017-01-26 13:04] shakson commented on #3564
თქვენ გაიხარეთ!

[2017-01-26 13:12] gundalow commented on #20693
Rerunning with `ANSIBLE_DEBUG=True`

[code]

[code]

[2017-01-26 13:21] shdobxr commented on #20426
That worked... #notabug

notabug

[2017-01-26 13:22] jrnmgnzlz commented on #20686
Same problem on Ansible 2.2.1.0 .

[2017-01-26 13:25] angystardust commented on #20406
@nerzhul you were faster than me 🚀 😄

[2017-01-26 14:05] tumbl3w33d commented on #20693
I just ran into the same error and bisected it to commit 10fa2cd0efcc6bd6634f261da79e66c2d9be1dc0 of @bcoca .
It only happens to some of my hosts though.

[2017-01-26 14:12] KroArtem opened #20696 "List of core modules working with Windows is displayed as a line"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Windows support

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Doesn't matter
##### SUMMARY
In http://docs.ansible.com/ansible/intro_windows.html#what-modules-are-available
the table following this text `In addition, the following core modules work with Windows:` is broken, it's shown as a line of

[2017-01-26 14:28] tomekit commented on #20453
Right, that makes sense, on the other hand the error message is not clear no matter if it's a: `command` or `string`. I am making assumptions now, as I don't know how it works behind the scenes, but I would expect it to tell me: "Command does not exist" rather "No such file or directory".
If the current behavior is expected, then let's please close this ticket. Thanks

[2017-01-26 14:30] #20693 closed, assigned to privateip

[2017-01-26 14:31] gundalow commented on #20693
Fixed by https://github.com/ansible/ansible/pull/20695

[2017-01-26 14:33] bcoca commented on #20453
That is the error returned from the system, it could also be that one of the other files passed as argument is not found and the command itself exits with that error, being a freeform module makes it very hard to determine the difference.

We are open to any PR that helps with this issue, but since this is how it works, i'm going to close this ticket now.

[2017-01-26 14:33] #20453 closed, assigned to nobody

[2017-01-26 14:35] bcoca commented on #6309
nice, i'm going to close this as 'fixed' then.

[2017-01-26 14:35] #6309 closed, assigned to nobody

[2017-01-26 14:50] tumbl3w33d opened #20697 "Gathering Facts results in 'authentication or permission failure' on some hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Gathering Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Executing workstation: Debian Stretch
Target hosts affected: Ubuntu 14.04.4 LTS and Ubuntu 16.04.1 LTS
Target host not affected: SLES12 JeOS

##### SUMMARY
The Gathering Facts step fails.

##### STEPS TO REPRODUCE
Hmm, just execute a playbook withou

[2017-01-26 15:18] GGabriele commented on #20684
Hi @IDQDD ,
can you provide a sample "show run" interfaces section from your n9k2? (you can strip all private data from it)

[2017-01-26 15:51] #20504 closed, assigned to nobody

[2017-01-26 15:51] ilpianista commented on #20504
Duplicate of #18807

[2017-01-26 16:06] tonyskidmore opened #20700 "Assemble Module Fails on Windows"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

assemble_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ cat ansible.cfg

[defaults]
inventory = ./inventory
callback_whitelist = active_directory_callback
retry_files_enabled = False
host_key_checking = False

##### OS / ENVIRONMENT

controller: Red Hat Enterprise Linux Server release 7.3 (Maipo)
target: Windows Server 2012 R2

[2017-01-26 16:10] wyscan commented on #20481
I didn't see any comments on the code in the pull request itself. Where were the comments left?

[2017-01-26 16:27] robinro commented on #20686
@jrnmgnzlz I don't have a SLES here for testing.
On opensuse 42.1, which should have identical apache setup, I wasn't able to reproduce it.
[code]
gives
[code]

What is the output of `a2enmod proxy; a2enmod proxy; a2enmod -l; a2dismod proxy; a2dismod proxy`?

[2017-01-26 16:31] rascasoft opened #20701 "Wrong item substitution while cycling around a var"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

This bug is related to [tripleo-quickstart](https://github.com/openstack/tripleo-quickstart), an Ansible based project for setting up TripleO virtual environments, which customizes the conf as follows:
[code]
So nothing that seems related to the problem I'm getting.

##### OS / ENVIRONM

[2017-01-26 16:35] bcoca commented on #20678
As stated in the copy docs: "Currently remote_src does not support recursive copying."

[2017-01-26 16:35] #20678 closed, assigned to nobody

[2017-01-26 16:38] bcoca commented on #20572
@ApsOps check my PR above, this is an issue with the cloud-init shell not following POSIX standard translation of ~/

[2017-01-26 16:38] jrnmgnzlz commented on #20686
`a2enmod proxy `  output:  `"proxy" already present`   (after run my playbook) .

`a2enmod -l ` output: `actions alias auth_basic authn_file authz_host authz_groupfile authz_user autoindex cgi dir env expires include log_config mime negotiation setenvif ssl socache_shmcb userdir reqtimeout authn_core authz_core rewrite proxy` (after run my playbook).

`a2enmod proxy; a2enmod proxy; a2enmod -l; a2d

[2017-01-26 16:41] bdine commented on #20678
Yea sorry for that, i totally misunderstood the documentation.
Thought that was not supported from control -> node, not locally on node

How can I handle local copy properly with a module ? (mv command is not indempotent)

Thanks for your help :)

[2017-01-26 16:43] bcoca commented on #20621
what happens when you run this:
``` systemctl enable tomcat@tomcat```

[2017-01-26 16:53] bcoca commented on #20678
look at syncronize, it is only other module that does this. It is on my list to remove this limitation from copy but .. time...

[2017-01-26 17:00] bdine commented on #20678
Yep don't worry, I'm not criticizing anything
You are doing a incredible job !
Thanks !

[2017-01-26 17:20] sachavuk commented on #20196
Hello,
After an upgrade to ansible v2.2.1.0-1 the import works:

     - name: Import DB
       mysql_db: name=testdb state=import target=/var/tmp/testdb.sql.bz2

[2017-01-26 17:27] #20288 closed, assigned to nobody

[2017-01-26 17:53] bdowling opened #20702 "Non-module files in the module directory conflict with modules; "setup.py" in particular"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

executer.py
setup.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
When using and developing/improving other modules from 3rd parties it is often easier to keep the working git directory in your module path to streamline development cycle.

However one conflict with ansible prevents doing this with many python projects due to the naming confli

[2017-01-26 17:57] bdowling commented on #20702
Mentioned this to @gundalow on networktocode..

Here's a downstream in reference to this issue.. https://github.com/networktocode/ntc-ansible/issues/142

[2017-01-26 18:22] #20542 closed, assigned to alikins

[2017-01-26 18:28] buggsdummy opened #20704 "Setup Facts to write to host"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

setup - Gathers facts about remote hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I am able to gather facts for any host, but it'd be nice to have an out location where I can write the facts that were gathered to the host itself. There is no way to do that currently unless you have ansi

[2017-01-26 18:32] jladdjr opened #20706 "Role with privilege escalation calls second role as dependency, task in second role uses /root as tmpdir"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When a playbook invokes a role using privilege escalation, and that role references a second role as a dependency, tasks in the second role use /root as tmpdir. If those tasks attempt to use the tmpdir though, the task will fail with a permi

[2017-01-26 18:32] bcoca commented on #20704
You can use a cache plugin to save the facts to a database, you can use a template and dump the facts to files on disk ... many ways to keep this data.

[2017-01-26 18:33] jladdjr commented on #20706
On stable-2.2, git bisect points to  https://github.com/ansible/ansible/commit/89fdca092929fc39dbe864f6edd634f17f7d37a0

[2017-01-26 18:33] mateodelnorte commented on #17439
Just wanna note that by squashing this conversation, you appeared to stop the discussion from continuing. Less than helpful for those who do need a 100% Windows solution.

Would love it if you could cap of the thread with a link to any resources you know of.

[2017-01-26 18:35] alikins commented on #20652
escaped traceback for ref
[code]

[2017-01-26 18:41] zaferceto commented on #19620
Is there an update on this bug? I'm having the same problem, os_floating_ip shows null as floating IP value, but if I go into Horizon in OpenStack, I can see that floating IP has been assigned to my VM. If I run the playbook for the second time, I can see the floating IP in Ansible.

[2017-01-26 18:56] tpatja commented on #11017
Reproducible consistently with 2.2.0.0. Debugging the cause of failure in a large playbook just took me an hour because of this bug.

@opqdonut's test case is minimal and reproduces the issue every time, so fixing should be simple.

Please re-open the issue. Thank you.

[2017-01-26 19:07] gundalow opened #20710 "Persistent Connections: raw with unicode arg and output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
persistent connection manager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
If the above doesn't copy correctly you can find it in `ansible/test/integration/targets/connection/test_connection.yml`

Running with `ANSIBLE_USE_PERSISTENT_CONNECTIONS`
##### EXPECTED RESULT

[2017-01-26 19:10] bcoca commented on #20706
can you test this?
[code]

[2017-01-26 19:10] cubranic opened #20711 "Installing a key with rpm_key does not really import it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rpm_key
yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Running from MacOS, installing in a Centos 7 VM.

##### SUMMARY
After I run `yum_repository` and `rpm_key` to add a yum repository and (presumably) import its GPG key, I still can't install package from the repository because `yum` compla

[2017-01-26 19:14] #20426 closed, assigned to nobody

[2017-01-26 19:16] jladdjr commented on #20706
Still failing:
https://gist.github.com/jladdjr/aaa672799cf2e19d086950cef176f121

[2017-01-26 19:42] #20706 closed, assigned to nobody

[2017-01-26 19:42] bcoca commented on #20706
fixed via 0a8b856102bfcc54b11027e1951c77bcb8ec3320

[2017-01-26 20:09] trondhindenes commented on #19996
Good point. There's a couple of things here:
1. win_package also deals with non-exe files (tho we could certainly add some logic for only enabling this for msifiles)
2. As you can see from the example code, you have to use com objects to get to the information - and I'm scared of running com as a part of an automation script.

However, it would be awesome to not have to go thru the motions of manu

[2017-01-26 20:24] jmehnle opened #20714 "ssh_args / control_path docs incorrect and misleading"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
OpenSSH configuration

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The [`ssh_args` docs](http://docs.ansible.com/ansible/intro_configuration.html#ssh-args) say:

And the [`control_path` docs](http://docs.ansible.com/ansible/intro_configuration.html#control-path) say:

This is incorrect. As the [`a

[2017-01-26 20:30] tumbl3w33d commented on #18984
I consider this fixed by cfed617dba3c66d252cd25843ef5e3855f4c1edc so it can be closed.

[2017-01-26 20:30] #18984 closed, assigned to nobody

[2017-01-26 20:36] bdowling commented on #20702
I just noticed this first complained about the setup.cfg, just for completeness of reporting the issue, renaming that with DISABLED- prefix, results in it then finding the setup.py, etc etc..

[code]

[2017-01-26 20:47] robinro commented on #20686
That all sounds fine. Without being able to reproduce it this is hard to debug.

What fails is most likely the check against `apache2ctl -M`. Could you maybe look into the module code, run the `_module_is_enabled` by hand and debug further?

[2017-01-26 20:48] n0trax commented on #20686
Unfortunately I'm also not able to reproduce this issue.

@jrnmgnzlz Can you be so kind and show us the output of 'apache2ctl -V'?

[2017-01-26 20:55] ajaybhatnagar commented on #20572
This does not explain why version ansible 2.14 works but not 2.2.1 with same OS and environment.

From: Brian Coca [mailto:notifications@github.com]
Sent: Thursday, January 26, 2017 11:39 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Ajay Bhatnagar <abhatnagar@blackberry.com>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] Template command fails during automatic config

[2017-01-26 20:56] evadeflow commented on #11421
Not sure it's related, but I've *just* run into a (seemingly) similar issue on Raspian Jesse. In case it helps, here's the task I'm trying to run:

[code]

When I run my playbook, I'm getting this error—whether the `gpio` user exists beforehand or not:

[code]

Just thought I'd toss that out there in case it helps. Here's my Ansible version:

[code]

[2017-01-26 21:12] bcoca commented on #20572
the difference is because before it use `$HOME` which was not getting translated in many cases and creating  the directories in unexpected locations, we switched to `~/` which is always supposed to get translated, but cloud-init seems to invoke shells in a way that does not comply with the POSIX standard.

[2017-01-26 21:17] #20506 closed, assigned to nobody

[2017-01-26 21:19] bcoca commented on #20572
since my fix seems to solve this issue for all cases, i'm closing this ticket

[2017-01-26 21:19] #20572 closed, assigned to nobody

[2017-01-26 21:33] evadeflow commented on #11421
FWIW, I tried deleting both the `homeassistant` user and the `gpio` group and re-running. It still fails:

[code]

For a goof, I tried changing the name of the group as follows:

[code]

I got the same error, but for a different group:

[code]

That's probably a helpful clue to somebody, but... I'm not that guy. `:-]  I'll post here again if I manage to finger-mumble my way out of this...

[2017-01-26 21:34] alikins commented on #20258
Fixed in https://github.com/ansible/ansible/pull/20667 9d8c1923ab669681230c3f87b839016f3e57da08

[2017-01-26 21:34] #20258 closed, assigned to alikins

[2017-01-26 21:42] cubranic commented on #20711
I find I need to force the import of the new repo key(s) by running `yum makecache` for that repo:

[code]

[2017-01-26 22:29] shdobxr commented on #20395
@willthames use ec2_tag for RDS instance? I don't follow. Further I am looking at the possibilities of "updating" snapshot's tag criteria as well. I believe I won't be able to leverage ansible for this given the need for a work around for just the RDS instance. But I don't see a capability for snapshots either in that module.

[2017-01-26 23:14] nusenu commented on #14829
for the record: ```ip('public')``` is broken as well (returns boolean instead of [] on targets without **any** IPv6 addresses)

[2017-01-26 23:42] nusenu commented on #14829
Is this an ansible or python-netaddr bug?
https://pypi.python.org/pypi/netaddr/

[2017-01-26 23:56] eastside-hustle commented on #20106
I've verified that the latest versions of vmware_guest (ansible 2.3.0 (devel 8495b6323a)) does not fix this issue.  Guessing its related to vcenter API versus the esx API set?  Some of the vmware_guest functions work well with esx (no vcenter) directly.  Others, like poweredon, poweredoff, snapshots and more, do NOT work without vcenter.  I haven't actually tested that last statement as I don't ha

[2017-01-27 00:33] nitzmahone commented on #20408
fixed in devel for 2.3 by #20410

[2017-01-27 00:33] #20408 closed, assigned to trondhindenes

[2017-01-27 00:38] berendt commented on #12086
Forks would be awesome, +1

[2017-01-27 00:58] kamikaze opened #20735 "Support Jinja 2.9"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Unable to install Jinja 2.9 on my system because Ansible is blocking it by using 2.8

[2017-01-27 01:15] srkiNZ84 opened #20736 "No secondary Blocks run in Role playbook in Ansible 2.2.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Blocks (https://docs.ansible.com/ansible/playbooks_blocks.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When running a Role with multiple "blocks" only the first block is executed.

##### STEPS TO REPRODUCE

[code]

Role "tasks/main.yml" definition:

Command to run:

ansible-playbook -i hosts

[2017-01-27 05:01] MiLk commented on #20706
#20332 is happening again.

[2017-01-27 05:17] xenithorb commented on #12086
I always sit in silence not wanting to contribute to the spam, because it's hard to gauge between projects whether it's welcomed or not, but it looks like the fork +1 train has left the station!

+1 on forks

[2017-01-27 07:04] gzm55 opened #20744 "Request native variables refelecting the content of ansible.cfg and cli flags"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Need native top-level variables (could be read-only) to represent the active config key and value in this invocation. They are convenient for debugging and developing some roles.

##### STEPS TO REPRODUCE
cat >ansible.cfg <<END
remote_port=2222
p

[2017-01-27 07:06] IDQDD commented on #20684
Hi Gabriele
Yes I can provide that data. my nexus gears are not in production yet so I can play with no limits.

``N9K2# sho run interface

!Command: show running-config interface
!Time: Fri Jan 27 06:25:03 2017

version 7.0(3)I4(1)

interface Vlan1

interface Vlan320
  description SERVERS
  no shutdown
  no ip redirects
  ip address 10.245.20.252/24
  ip ospf passive-interface
  ip router ospf 10

[2017-01-27 09:25] sanitar4eg opened #20746 "Ansible ignores the 'transport' option in ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible 2.2.0.0 ignores the 'transport' option in `ansible.cfg`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Result should be identical with command:
[code]
And output like:
[code]

##### ACTUAL RESULTS
But now Ansible tries connecting via ssh
[code]

[2017-01-27 09:46] miglen opened #20747 "iptables: invert of the uid_owner parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module/iptables

##### ANSIBLE VERSION
ansible 2.2.0.0

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Having a "!" argument to invert the uid_owner parameter will allow to use the module when we want to have explicit rule for all users except one. In my example below I want to block the EC2 metadata service in

[2017-01-27 09:48] miglen commented on #20747
Ping @gebn @bcoca @jimi-c @LinusU

[2017-01-27 09:55] GGabriele commented on #20684
Hi @IDQDD ,
thanks for your help.

Before I push the fix for this, can you please confirm it works for you?
Can you please replace the current `check_interface` function with the one below and run your playbook again? I tested with your config and it worked, but it'd be better if you try yourself :)

[code]

[2017-01-27 10:19] tumbl3w33d commented on #20697
The recent commit 0a8b856102bfcc54b11027e1951c77bcb8ec3320 fixed this issue. Thank you very much @bcoca :+1:

[2017-01-27 10:19] #20697 closed, assigned to nobody

[2017-01-27 10:37] Maximus86 commented on #20568
Noticing the same issue, also on ansible 2.2.1.0
It does seem to work when deploying a template, but not when used in a task directly.

I have a template (bash script) containing an escaped string:
`rm -f {{ '{{' }} item.repo {{ '}}' }}`

This template deploys successfully, escaping works and nothing fails.
This is the task set I use. The second task restarts some services, if a revised or new tem

[2017-01-27 10:54] sunshine69 commented on #14248
Same here, I need it as well
+1

[2017-01-27 11:01] mavit commented on #16637
The sizes reported in Ansible 2.2 are better because of #17493.  Is this sufficient to consider this fixed?

[2017-01-27 11:28] rcarrillocruz commented on #20634
Could you please paste:

whereis docker-compose
echo $PATH

[2017-01-27 11:44] gundalow opened #20748 "Persistent Connections: Doesn't support ansible_connection=ssh or ansible_connection=paramiko_ssh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
**Inventory**
[code]

Ensure no existing sockets exist (`rm -rf ~/.ansible/pc/`)
`ANSIBLE_USE_PERSISTENT_CONNECTIONS=True  ansible -vvv -i inventory.network-jobarker localhost  -m raw -a 'echo hello'

##### EXPECTED RESULTS

#####

[2017-01-27 11:52] rcarrillocruz commented on #20735
Are you familiar with Python virtualenvs?

http://docs.python-guide.org/en/latest/dev/virtualenvs/

You could create a venv to install Ansible, so it the Jinja version required by Ansible does not interfere with your system-wide version.

e.g.
virtualenv ansible
source ansible/bin/activate
pip install ansible

[2017-01-27 12:20] Shaps commented on #20746
Hi @sanitar4eg. The `transport` option has to be specified in the `[defaults]` section of `ansible.cfg` it's not an SSH specific option See [docs](https://docs.ansible.com/ansible/intro_configuration.html#transport)

[2017-01-27 12:31] gundalow commented on #20746
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * As @Shaps mentioned above that option belongs in `[defaults]`, see https://docs.ansible.com/ansible/intro_configuration.html#transport for more information

As such, we're going to close thi

[2017-01-27 12:31] #20746 closed, assigned to nobody

[2017-01-27 12:33] vce-xx commented on #20634
Same issue :
FAILED! => {"changed": false, "failed": true, "msg": "Unable to load docker-compose. Try `pip install docker-compose`. Error: cannot import name IPAMConfig"}

With :
$ansible --version
ansible 2.3.0

On remote host that executes modules:
$ python --version
Python 2.7.5

$docker --version
Docker version 1.12.6, build 78d1802

$ docker-compose --version
docker-compose version 1.10.0, bu

[2017-01-27 12:34] Shaps commented on #20714
Hi @jmehnle, Yes. I agree the docs are misleading on that. But I don't think it should be removed, the `control_path` option is indeed ignored when `-o ControlPath` is specified in `ssh_args` ( see [ssh.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L230) ).
I'll update the docs to make it clearer

[2017-01-27 12:39] gundalow commented on #20748
Same issue with `ansible_connection=paramiko_ssh`

[2017-01-27 12:49] scne commented on #20634
[code]

[2017-01-27 12:56] molekuul opened #20752 "function get_vgs_facts deliver no output when a volumegroup is offline"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module: facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default setting

##### OS / ENVIRONMENT
Ansible is running at RHEL 7.1 and it is managing AIX 7.1

##### SUMMARY
The function get_vgs_facts will not deliver any output when a volumegroup at the managed system is ofline. The command lsvg -p <vgname> can only run at online volum

[2017-01-27 13:28] yabhinav commented on #20736
+1 I am facing the same issue!!  4 block codes that do certain validations.

1. Block 1 doens't have rescue or always catch
2. Block2 has always cause
3. Block3 has rescue catch
4. Block 4 has rescue catch

Both Block 1 and BLock2 gets executed since there is  catch in Block1
Block3 is ignored and not pickeup by anislbe until Block2 is removed
Block4 is ignored and not pickeup by anislbe until Blo

[2017-01-27 13:41] jhawkesworth commented on #19996
I like the 'auto' idea - if it returned the product id in the results you
could run an ad-hoc to discover a product id.
I think it needs to be optional though as there are occasions where I must
use an exact version.

As long as it doesn't fail when it hits one of the (all too many) .msis
that don't have a product id at all, this would be a great feature.

On 26 January 2017 at 20:09, Trond Hinden

[2017-01-27 13:56] trondhindenes commented on #19996
I'm thinking if the module params are product_id: auto and the module isn't able to extract the product id, then the module should fail. It's all it can do, really.

[2017-01-27 14:20] evadeflow commented on #11421
I'm not sure I'll have time to finish this investigation, so I'm posting what I've discovered thus far. The problem lies in the `get_groups_set()` function in `ansible/modules/core/system/user.py`, near line 522. As this `pdb-clone` session shows, `self.groups`  contains the string `"['dialout', 'gpio', 'video']"`:

[code]

It seems the code expects `self.groups` to be `"dialout,gpio,video"` inste

[2017-01-27 14:35] evadeflow commented on #11421
I just confirmed that changing my task as follows gets rid of the `Group 'gpio' does not exist` error:

[code]

The [user module docs](http://docs.ansible.com/ansible/user_module.html) have this to say about the `groups` option:

Since I'm using version 2.2.1, this behavior is, I suppose, not entirely surprising. Although... it's a bit more stringent than the docs imply. It really wants a "comma s

[2017-01-27 14:38] jhawkesworth commented on #19996
Sorry I was being vague.  I should have said if it hits one of these malformed .MSIs then it should fail gracefully with a message explaining that the product id couldn't be found.

[2017-01-27 14:38] dagwieers commented on #19996
@trondhindenes Indeed. If we expect idempotency, it should fail if it cannot guarantee.
But if it fails, it could hint to using the product_id instead !
And I would make it default to auto TBH.

[2017-01-27 14:55] gundalow commented on #20702
So there is a proposed fix in https://github.com/ansible/ansible/pull/20717

However there isn't a short term fix, there is one for in 4 versions time, due to deprecating the existing term that's used in many playbooks

[2017-01-27 15:06] durnote commented on #19638
@aioue that link is dead.

Is there any patch / workaround for this issue?

[2017-01-27 15:11] mgedmin opened #20754 "apt_repository fails to enable a disabled apt repository"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS on the target; Ubuntu 16.10 on the controller

##### SUMMARY

`apt_repository: repo='ppa:pov' state=present` fails to re-enable the apt repository after it's been disabled by Ubuntu's `do-release-upgrade`

##### STEPS TO REPRODUCE

[cod

[2017-01-27 15:14] mgedmin commented on #20754
Bug also present in current `devel` (32913c0fdf).

[2017-01-27 15:14] larsengels commented on #20332
FWIW this also breaks tmp dir creation on Solaris. /bin/sh on Solaris is a non-POSIX shell and cannot expand ~ to the user's home. $HOME works, though.

[2017-01-27 15:29] jctanner commented on #20686
needs_info

[2017-01-27 15:34] gunph1ld commented on #19638
@durnote use boto3 https://github.com/ansible/ansible/pull/20009

[2017-01-27 15:45] Sodki opened #20758 "Unable to use ec2_vpc_route_table_facts to determine main route table on a VPC"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_vpc_route_table_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In AWS a VPC can have multiple route tables, but only one can be set as `main`. Currently there is no way to determine which route table is set as `main`.

##### STEPS TO REPRODUCE

If you run the following task:

[code]

The resulting dict

[2017-01-27 16:17] jmehnle commented on #20714
Thanks. I would argue that is exactly the behavior that people would intuitively expect, though. Sure, if you feel like it warrants spelling out, I'm not opposed. But then are there other, similar options for which this is true as well, such as `remote_port` vs. `-o Port`? If you end up documenting this for one but not for others, doesn't that imply a difference in behavior that's not really there

[2017-01-27 16:30] s-hertel commented on #20653
needs_info
I wasn't able to recreate this on OS-X 10.12.2
[code]
Playbook:
[code]
Outcome:
[code]
Perhaps another bug- it asks for my passphrase twice, both in Ansible version 2.2.1.0 and 2.3.0.

[2017-01-27 16:36] jrnmgnzlz commented on #20686
@n0trax the result of `apache2ctl -V` :

`Server version: Apache/2.4.10 (Linux/SUSE)
Server built:   2015-10-21 08:22:32.000000000 +0000
Server's Module Magic Number: 20120211:36
Server loaded:  APR 1.5.1, APR-UTIL 1.5.3
Compiled using: APR 1.5.1, APR-UTIL 1.5.3
Architecture:   64-bit
Server MPM:     prefork
  threaded:     no
    forked:     yes (variable process count)
Server compiled with....

[2017-01-27 16:49] jerognlz commented on #20686
@robinro

Maybe I already know what the problem is.
When a2enmod enable the module , this is added in `/etc/sysconfig/apache2 `on the section `APACHE_MODULES=` and consequently in `/etc/apache2/sysconfig.d/loadmodule.conf` . The problem is when you add a module in this way this is not listed on `apache2ctl -M` until the apache is restarted. At this point when you use `a2enmod -l` the module is lis

[2017-01-27 17:06] Harosgr opened #20762 "required_if functionality broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/basic.py

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that the required_if functionality is broken. Execution continues even though the required_if criteria are not met.

##### STEPS TO REPRODUCE
For example the "mount" module uses the required_if
[code]
We can try to run the module with state pre

[2017-01-27 17:06] rrbarreto commented on #19991
Yes. it would attend

Thank you

[2017-01-27 17:09] #20283 closed, assigned to nobody

[2017-01-27 17:11] trondhindenes commented on #19996
Yup, i think we totally agree. I'll see if I can get to this in the near future.

[2017-01-27 17:11] #20595 closed, assigned to nobody

[2017-01-27 17:11] #20343 closed, assigned to nobody

[2017-01-27 17:18] rrbarreto opened #20763 "os_quota fails with AttributeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_quota

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Fedora release 22 (Twenty Two)

##### SUMMARY

When using `os_quota` module it fails out with AttributeError

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-01-27 17:27] seankelly opened #20765 "Variables with bracket lookup are converted to strings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Variable substitution

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock Ansible configuration.

##### OS / ENVIRONMENT
FreeBSD 11.

##### SUMMARY
Variables not substituted when using `foo[bar]` syntax.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
All four debug statements to be the same. This is what happens when on CentOS 7

[2017-01-27 17:33] agaffney commented on #20765
This is possibly related to the FreeBSD packaging issues noted in https://github.com/ansible/ansible/issues/20431

[2017-01-27 17:42] seankelly commented on #20765
I had 2.2.0.0_3 installed already. I created a virtualenv and installed 2.2.0.0 via pip and that works. I checked ports and it has 2.2.1.0 available. I then installed via ports and that works too.

[2017-01-27 17:42] #20765 closed, assigned to nobody

[2017-01-27 17:46] sb98052 opened #20766 "lookup plugins don't work when invoked via Ansible API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Ansible API

##### ANSIBLE VERSION
ansible 2.2.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
When using the Ansible API, and running a playbook via playbook_executor.PlaybookExecutor, lookup('file', '/path/to'file') does not work. Instead of setting the value of a variable, it mangles its container. e.g.

vars:

[2017-01-27 17:58] misterT1958 opened #20767 "win_ping and setup fail using ansible 2.2.1 from Yosemite on Macbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible connection to Windows, win_ping, setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
running ansible from Yosemite 10.10.5
target machine is running Windows Server 2012 r2

##### SUMMARY
unable to establish connection to Windows boxes (linux and mac targets work as expected)

##### STEPS TO REPRODUCE
[co

[2017-01-27 18:05] bcoca commented on #20766
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

I'm pretty sure the API works as it is what the command line tools use, this seems to be an issue with how you are using it.

   * IRC: #ansible

[2017-01-27 18:05] #20766 closed, assigned to nobody

[2017-01-27 18:26] dagwieers opened #20768 "Windows: Add #Requires -Version 3.0 to powershell modules ?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Windows modules

##### ANSIBLE VERSION

v2.3

##### SUMMARY

I was wondering whether it would be a good idea to add by default in the first line:

    #Requires -Version 3.0

So people get a proper error when they are still using an older Powershell, rather than some runtime error that's unrelated to the code.

This could become useful in th

[2017-01-27 18:30] Techwolfy opened #20769 "Synchronize fails to become root on remote system with passworded sudo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible.cfg` does not exist.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When copying files with `become: true` to a host that requires a sudo password, the synchronize plugin sets `--rsync-path="sudo rsync"`. However, it does not provide the password (included with `--ask-become-pas

[2017-01-27 18:42] bcoca commented on #20744
that is part of what https://github.com/ansible/proposals/issues/35 does, not as variables, but ability to dump and show where the config options came from.

[2017-01-27 18:42] bcoca commented on #20748
It overlaps with control persist

[2017-01-27 18:45] inossidabile commented on #16443
I have found workaround using `!unsafe` to everybody who struggles with same: https://docs.ansible.com/ansible/playbooks_advanced_syntax.html.

[2017-01-27 18:52] candlerb opened #20770 "get_url: "failed" and "status_code" are missing on success"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

get_url (maybe others?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Result variables are not consistently present to make it easy to determine success or failure.

I would like to write retry loops like these:

[code]

But whilst result.failed and result.status_code are pr

[2017-01-27 18:57] candlerb commented on #20770
I am aware this would be a behaviour change. For safety I am now writing:

[code]

but this could break people who are just checking for result.failed being defined meaning failed.

[2017-01-27 19:01] jerognlz commented on #20686
No special configuration of the apache2 server. Testing the problem i noticed that the file etc/apache2/sysconfig.d/loadmodule.conf  is not modified with a2enmod until the apache2 is restarted. The file contain:

`#
# Files in this directory are created at apache start time by /usr/sbin/rcapache2
# Do not edit them!
#
`
This doesn't happen in OpenSUSE? maybe is a problem of the apache2 on the Suse

[2017-01-27 19:13] ryansb commented on #10840
Docs updates were applied in #18306

[2017-01-27 19:13] #10840 closed, assigned to nobody

[2017-01-27 19:21] misterT1958 commented on #20767
I have found that if i declare ansible_port and ansible_ssh_user and ansible_password in my local hosts file I get closer:

tw2@warroom3:~/Ansible/group_vars> ansible harold -vvvvv -i hosts -m setup -cssh
No config file found; using defaults
Loading callback plugin minimal of type stdout, v2.0 from /Library/Python/2.7/site-packages/ansible/plugins/callback/__init__.pyc
Using module file /Library/P

[2017-01-27 19:22] ryansb commented on #11598
This feature was implemented in Ansible 2.1 and will not be backported to older versions.

[2017-01-27 19:22] #11598 closed, assigned to nobody

[2017-01-27 19:36] nhodges commented on #18987
I am also experiencing the "Could not fetch updated apt files" error when `update_cache=yes` is set.

[2017-01-27 19:41] kenwmitchell commented on #18697
I think this was fixed in 461dcf8ce3edb0fafcbb608c846b9a68eddde019.

[2017-01-27 19:50] jerognlz commented on #20686
This is my test, step by step, on a SLES fresh installation:

`SLESNEW:~ # zypper install apache2`

`SLESNEW:~ # a2enmod rewrite`

[code]
[code]
[code]
[code]

`SLESNEW:~ # systemctl restart apache2`

[code]

[code]

[2017-01-27 20:03] vhosakot opened #20773 "Duplicate variable names causes recursive loop in template string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - vars
 - jinj2 templates

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
Duplicate variable names causes recursive loop in template string

##### STEPS TO REPRODUCE
Below is bug.yml:

[code]

Below is the bug 😄.

[code]

##### EXPECTED RESULTS

[2017-01-27 21:13] s-hertel commented on #20767
Have you used ConfigureRemotingForAnsible.ps1? https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1

[2017-01-27 21:21] durnote commented on #19638
@gunph1ld , thanks! boto3 works fine, so it is definitely issue with boto 2

[2017-01-27 21:25] shdobxr commented on #20395
I think I see. ec2_tag could be specifically used to update the tagging for any ARN. Wasn't aware of that. Thanks .

[2017-01-27 21:25] anryko commented on #19888
Is anyone working on this one?
I'm interested in this functionality and am wiling to spend some time on implementing it if there is no one already working on it.

[2017-01-27 21:36] seankelly opened #20776 "docker_container has incorrect minimum docker-py version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- Nothing.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The docker_container documentation says it requires a docker-py>=1.7.0. However, as of 2.2.1.0, the minimum version is actually 1.8.0 because of the addition of the `decode` argument to the `pull` method. That keyword argum

[2017-01-27 22:05] shdobxr commented on #20395
ec2_tag doesn't work.

`  - name: Ensure tags are present on a resource
    ec2_tag:
      region: us-east-1
      resource: "arn:aws:rds:us-east-1:XXXXX:db:XXXX-rds"
      state: present
      tags:
        owner_email: someone@email.com`

I tested the same with Resource being the ARN of the target, also tried db-XXXXXXXXX resource id eventhough that is for KMS.

I ask if perhaps the ec2_tag shou

[2017-01-27 22:18] kamikaze commented on #20735
Sure I could create virtualenv or remove anything from my system that requires modern Jinja ) but all this is a workaround. I vote to not turn Ansible into yet another ancient software (like RedHat likes to do)

[2017-01-27 22:23] #20654 closed, assigned to nobody

[2017-01-27 22:51] dagwieers opened #20781 "Windows: Use -WhatIf with $check_mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Windows modules

##### ANSIBLE VERSION
v2.3

##### SUMMARY

So rather than doing:
[code]
We could be doing
[code]
Or even do:
[code]

[2017-01-27 22:53] nnutter commented on #18497
@jctanner I created #20782.

[2017-01-27 23:48] lisahuang commented on #19718
I got similar error. I have bigsuds and suds installed. Try to access remote F5 from mac.

fatal: [10.17.226.55]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "filter": null,
            "include": [
                "interface",
                "vlan"
            ],
            "partition": "Common",
            "password": "VALUE_

[2017-01-27 23:52] sivel commented on #20735
This has already been resolved in https://github.com/ansible/ansible/commit/f649a87a195bfb7772ae5e35dd81431a79ee095f and will be included in the next release

[2017-01-27 23:52] #20735 closed, assigned to nobody

[2017-01-28 00:13] caphrim007 commented on #19718
@lisahuang is your install of ansible from brew?

[2017-01-28 00:13] eljenso commented on #20653
@s-hertel What port is your remote's SSH running on?
@lempa's as well as my remote are not running on 22.

[2017-01-28 00:28] lisahuang commented on #19718
No. I used pip install.

[2017-01-28 01:01] caphrim007 commented on #19718
@lisahuang does you playbook include at least one of the following?

1. bigip tasks with `delegate_to: localhost` as a part of the task yaml
2. a playbook with `connection: local`

[2017-01-28 03:12] BondAnthony commented on #20137
PR #18922 addresses this

[2017-01-28 04:40] wrouesnel commented on #19888
I feel like I implemented this at some point, but I can't find a PR for it...

[2017-01-28 06:35] sheldonh commented on #11598
Ah, nice. Thanks.

[2017-01-28 11:50] voidplayer commented on #16305
I overwrote a file I shouldnt and added the backup option to my deploys

After a while I noticed the backup option causes more problems that it solves and removed it

Really looking forward to this one. Just a simple folder to save the old files so we can diff them would be great

[2017-01-28 12:36] nusenu commented on #14829
same bug applies to ipv4()

[2017-01-28 13:44] trondhindenes commented on #19996
I'm just looking into this now, and I got to thinking: Although we can estimate the correct product_id at install time (since we have the file), it's gonna be hard to do an "impodence check" to see if the software is already installed. For example, if the package path is a url, that would essentially require us to download the package on every module run, since we need to grab the product_id from

[2017-01-28 14:41] n0trax commented on #20686
I'm sorry...i can't reproduce this issue on a fresh SLES Installation.

[code]
[code]

If I enable a module with a2enmod, then it is not listed in `/etc/apache2/loadmodule.conf`, but `apache2ctl -M` shows the new module without apache2 restart. The playbook is working as expected too.

[code]
[code]

[2017-01-28 15:03] dw commented on #6463
There is a use-case for `lookup('template', '...', variable=...)` when using the `iam_policy` module to dynamically generate a JSON policy document in combination with `with_items` to loop over an array controlling the policies being created.

We are using this to generate IAM groups that restrict resource access by project. There appears to be no other functionality aside from writing a custom mo

[2017-01-28 15:42] misterT1958 commented on #20767
yes, almost first thing I did.  BTW, the documentation should be updated as I found that you had to have Admin privileges in order to execute that script.  That was how I started, and I have confirmed that WinRm is running, still not able to connect.

[2017-01-28 15:58] westsouthnight commented on #15321
I see that problem too...

[2017-01-28 16:13] jhawkesworth commented on #20767
Hello,

Also please place your group_vars folder relative to the location of your ansible inventory file.  So if your ansible inventory is in /etc/ansible/hosts, then put group_vars in /etc/ansible/group_vars - it looks like you have hosts and windows.yml both inside group_vars from the output shown above.

Please remove the -cssh from your command line - this instructs ansible to connect via ssh

[2017-01-28 16:15] jhawkesworth commented on #20767
Please let us know how you get on

[2017-01-28 16:30] jhawkesworth commented on #19996
Feels to me like 'auto' mode can only work with local .msis.
If you want to use it like this its not a big hardship to have a win_get_url call beforehand (as win_get_url can now compare last modification times and only download if the url source is newer).
Also dag has improved win_copy recently so it better idepotence support so perhaps its ok to limit auto to local .msis now it easier to manage

[2017-01-28 16:36] dagwieers commented on #19996
auto-mode can work with remote files as well, but indeed they will be re-downloaded. It's not up to us to decide whether this is an acceptable proposition or not, on an internal network or for smaller files this may not really be an issue. So it's up to the user to make the right choice in using remote files, providing a product id or instead use auto-mode.

[2017-01-28 16:56] trondhindenes commented on #19996
Sounds good, I'll just have to document it well then. Thanks for the input!!

On Jan 28, 2017 17:36, "Dag Wieers" <notifications@github.com> wrote:

[2017-01-28 16:56] westsouthnight commented on #15321
@bcoca its inpossible! May be somebody can perform fix?

[2017-01-28 17:38] jhawkesworth commented on #19996
Yeah if you can document that it might be better not to do this, depending on what you are doing then dag is right, no need to stop it from happening.

[2017-01-28 21:41] hloeffler commented on #19433
i looked inside the code and was surprised to already find msg= for all meta tasks
so i made a quick fix for -vv output level:
https://github.com/ansible/ansible/pull/20799

[2017-01-28 22:00] tkurki commented on #13982
Bumped against this is as well, found this, possibly related: https://github.com/ansible/ansible/issues/14519

[2017-01-28 22:30] misterT1958 commented on #20767
Jon, thanks for the response; all the files are located as you suggest; i replaced the -cssh with -cwinrm; here's the result
tw2@warroom3:~/Ansible> ansible harold -vvvvv -m setup -cwinrm -u tw2
No config file found; using defaults
Loading callback plugin minimal of type stdout, v2.0 from /Library/Python/2.7/site-packages/ansible/plugins/callback/__init__.pyc
Using module file /Library/Python/2.7/

[2017-01-28 23:10] misterT1958 commented on #20767
Jon,  looking back at issue 14710 i wanted to let you know I did NOT set up Kerberos

[2017-01-29 07:07] jhawkesworth commented on #20767
Ok, you are almost there.

Please check that you still have

ansible_winrm_server_cert_validation: ignore

in your windows group vars

Also I think the group name in inventory must match exactly the file name (including case) of your group_vars file so if your group is called
`
[Windows]`

then your corresponding group vars would need to be in `/etc/ansible/group_vars/Windows.yml`

(Upper case W,

[2017-01-29 09:04] avielb opened #20801 "znode fails with Shared connection to x.x.x.x closed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module: znode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

added this to .ansible.cfg, but not sure it is relavent
[code]
##### OS / ENVIRONMENT

MacOS Sierra 10.12.2

##### SUMMARY

runnig the module znode with state=absent on the fails with error:
[code]
##### STEPS TO REPRODUCE

1. this is the playbook:
[code]
2. run it as follows:
a

[2017-01-29 11:16] candlerb opened #20802 ""retries" without "until": retry until success"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

retries

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

At the moment, giving "retries:" without an "until:" condition has no effect.

It would be useful if this could be implemented to mean "retry until success"

(Or if not, at least generate an error saying that `retries` has no effect

[2017-01-29 11:19] candlerb commented on #20770
I found a filter which can simplify this:

[code]

I still think that get_url should include status_code even for successful downloads though.

[2017-01-29 11:42] sokoow opened #20803 "lxc_container: any reliable way of doing clone ?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxc_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none, all defaults

##### OS / ENVIRONMENT
ubuntu 16.10

##### SUMMARY
I'm trying to do a simple lxc clone with ansible.

lxc-clone -s -B overlayfs -n test1-xenial-$(date +%s) zzz_xenial_template

So, equivalent in ansible would be:
[code]
Right? Wrong! Here's what above code is tr

[2017-01-29 12:22] ekarlso commented on #20492
Any news on this?

[2017-01-29 12:29] misterT1958 commented on #20767
here's my windows.yml file:
tw2@warroom3:~/Ansible/group_vars> more windows.yml
---
# it is suggested that these be encrypted with ansible-vault:
# ansible-vault edit group_vars/windows.yml

ansible_user: tw2
ansible_password: <redacted>
ansible_port: 5986
ansible_connection: winrm
# The following is necessary for Python 2.7.9+ (or any older Python that has backported SSLContext, eg, Python 2.7.5

[2017-01-29 12:57] misterT1958 commented on #20767
if this sheds some light, I have another  target server that is setup identically to harold (as far as I know).  I have not run the powershell script on this server, here's what it reports

tw2@warroom3:~/Ansible> ansible maude -vvvvv -m setup
No config file found; using defaults
Loading callback plugin minimal of type stdout, v2.0 from /Library/Python/2.7/site-packages/ansible/plugins/callback/__

[2017-01-29 13:22] misterT1958 commented on #20767
and once i did run the configure powershell script it reduced the number of error messages from 6 to 4 but still failed:
`tw2@warroom3:~/Ansible> ansible maude -vvvvv -m setup
No config file found; using defaults
Loading callback plugin minimal of type stdout, v2.0 from /Library/Python/2.7/site-packages/ansible/plugins/callback/__init__.pyc
Using module file /Library/Python/2.7/site-packages/ansib

[2017-01-29 13:49] gzm55 commented on #20744
@bcoca will ansible/proposals#35 be released in the ansible v2.3?

[2017-01-29 14:44] trondhindenes commented on #20781
could you elaborate on your idea, @dagwieers ?

[2017-01-29 14:47] trondhindenes commented on #20768
I like the idea, but I think we should write our own check instead of using `#Requires`. We need to make sure that any error is surfaced back into ansible, and not just generally thrown. So what we could do is to write a little snippet inside of `powershell.ps1` (since that gets merged/executed every time a win module is run) and just check in there that we're indeed on a supported PS version (and

[2017-01-29 15:06] SanderV1992 commented on #19508
I have same problem with network, when I use ansible.

[2017-01-29 15:24] SanderV1992 commented on #19508
**- To remove a container from one or more networks, use the C(purge_networks) option.**

**purge_networks: yes**

[2017-01-29 15:58] mtbvang commented on #20492
I'm getting the same error trying to use docker_image. Should I open a new issue or is this exactly the same issue?
[code]

[2017-01-29 16:46] anryko commented on #19888
Added PR #20806.
Experimented with different syntax (comma and space parsing). Decided to go with yaml lists and parse only for ranges. Seems cleaner and more "ansible" to me.

[2017-01-29 17:20] scne commented on #20634
May be there is a bug, I use this workaround by @jpiron
[https://github.com/ansible/ansible/issues/20492](https://github.com/ansible/ansible/issues/20492)

[code]

[2017-01-29 17:26] trondhindenes commented on #20319
Guys, I've done a ton of work on this now. Would be really happy if you could test a bit before I submit the PR.
Essentially, the refactored win_package can:
1. Infer msi product code from the package file, both for local and downloaded files
2. Allows uninstalling without a path for msi-based files.

Here's my little "test plan". I'd be especially keen on getting unc-based scenarios tested as I h

[2017-01-29 17:27] trondhindenes commented on #19996
Guys, I've done a ton of work on this now. Would be really happy if you could test a bit before I submit the PR.
Essentially, the refactored win_package can:

Infer msi product code from the package file, both for local and downloaded files
Allows uninstalling without a path for msi-based files.
Updated module can be found here: https://github.com/trondhindenes/ansible/blob/devel/lib/ansible/modul

[2017-01-29 18:01] tanin47 opened #20807 "Remove `sql` from `service_account_permissions` in gce.py"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
modules/cloud/google/gce.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
I don't think the option `sql` in `service_account_permissions` doesn't correspond to anything (
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gce.py#L73).

In order to enable Cloud SQL permission, we have to use `sql-admin`.

I th

[2017-01-29 20:14] dagwieers commented on #20781
@trondhindenes Not sure what to add to this. My assumption is that using -WhatIf uses more real codepaths than simply skipping the action itself. Making it a more real $check_mode than what we are used to. But we have to test this case by case.

[2017-01-29 20:22] dagwieers commented on #20768
I wouldn't do that because I don't think it makes sense to make everything more complicated for the uncommon case.

In case it is not Powershell 3+ (which should be a very rare occurrence) it is not a problem the interpreter throws the error. Ansible will handle it fine, and it is going to be a lot more efficient if the interpreter halts, rather than pre-processes and then bails out while running.

[2017-01-29 20:29] dagwieers commented on #19996
In all of these cases I am wondering why the name-parameter is even relevant, except for documentation to the user ? Wouldn't it be better to get the name from the MSI as well, or when missing use the product-id or path instead ?

[2017-01-29 20:34] dagwieers commented on #19996
But your module is quite advanced Powershell. A bit over my head :-)

The only remarks I have is about the new Ansible windows module syntax (e.g. Get-AnsibleParam with -type and -aliases support, using normal dicts instead of PSObject for $result, implement check-mode, etc...)

[2017-01-29 20:35] trondhindenes commented on #19996
Good point,  I'll get those updated.

On Jan 29, 2017 21:34, "Dag Wieers" <notifications@github.com> wrote:

[2017-01-29 20:46] jhawkesworth commented on #20767
Well it looks like you are connecting to maude via winrm but it doesn't like whatever password is being presented for the tw2 user

Can you remote destop to maude as MAUDE\tw2 and connect using the same password?

Note that if tw2 is a domain user then you will need to set up kerberos - if there is no domain in the connection settings, it will assume that the supplied username is local to the wind

[2017-01-29 21:13] mmmorris1975 opened #20808 "expose 'dest' attribute in s3 module data"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
s3 module

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
allow s3 'get' operations to include `dest` attribute in the returned module data so it can be used with register vars to get download path for "ephemeral" files (ex. software packages whose archive can be deleted once installed).  Probably just a simple add of t

[2017-01-29 21:54] misterT1958 commented on #20767
Yes, I can remote desktop in with that username/pw.  It is a domain user, I created a local user and tried after making appropriate changes, that did not work either.....I am installing kerberos on Maude now

[2017-01-29 23:51] kuromatsu-nobuyuki commented on #19508
Thank you, SanderV1992.

I also use the option(see the SUMMARY in this issue), but I am confusing that the docker_container module's behavior is different from docker command's default behavior .

I think that  it is intuitive that a container which is  launched with `docker container --network my_custom_network my_container` command is equivalent to following ansible task.
[code]

Why `purge_netw

[2017-01-30 03:08] perrin4869 opened #20810 "Support templates in patch module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Patch module

##### SUMMARY
Add an option such as `template=true`, supporting `jinja2` templates like `src=foo.patch.j2`, so that variables become available from inside the patch.

[2017-01-30 07:10] PickledDragon commented on #20400
Had similar issue with
[code]

Worked around with BASH concatenation
[code]

[2017-01-30 07:57] maglub commented on #20442
I understand that this might not be the intended use of include in jinja2, but it is an extremely useful feature for many people.

I get the point, that it is always best to build your environment the proper way, but there are many installations out there, that use this "feature", and that it for these people is very costly to change the behaviour.

Why not make this "optional", like in the ansibl

[2017-01-30 08:04] avielb commented on #20801
up

[2017-01-30 08:24] IDQDD commented on #20684
Hi Gabriele
Yes it works for me

Thx a lot

[2017-01-30 08:42] krishnachaitanya511 opened #20815 "Could not find any downloads that satisfy the requirement rchimaku"
I am installing the Ansible in the Windows-Based Ubuntu system. While installing I am facing issue below issue. Please help me with the same.

##### Installation Issue
 **- Bug Report**
pip install ansible --user rchimaku
Downloading/unpacking ansible
  Downloading ansible-2.2.1.0.tar.gz (2.5MB): 2.5MB downloaded
  Running setup.py (path:/tmp/pip_build_rchimaku/ansible/setup.py) egg_info for packa

[2017-01-30 08:43] andmos opened #20816 "znode: kazoo >= 2.1 is required even when installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: znode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
All defaults

##### OS / ENVIRONMENT
Running from Ubuntu 14.04
Provisioning CentOS 7

##### SUMMARY
When I try to run a task with `znode` I get the following error:
[code]
I have installed `kazoo` (among others):
[code]

##### STEPS TO REPRODUCE
`pip install kazoo` (On the machine

[2017-01-30 09:27] vad opened #20817 "group_vars loaded from /etc/ansible/hosts/group_vars"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME
vars_plugin ?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

In my ansible.cfg:

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

group_vars are not read from /etc/ansible/group_vars as the documentation affirms but from `/etc/ansible/hosts/group_vars` (I have multiple inventories).

##### STEPS TO REPRODUCE

[2017-01-30 09:38] etam commented on #10896
Looks like it's fixed in 1.9.6

[2017-01-30 11:06] jhawkesworth commented on #20816
please share your playbook - i think you might just need to delegate the znode step in your to localhost, something like the following:

[code]

[2017-01-30 11:11] hloeffler commented on #19433
@bcoca please consider my quick-fix PR

[2017-01-30 11:21] oryband commented on #20493
Confirming this issue. Behavior is confusing.

[2017-01-30 11:29] andmos commented on #20816
The task itself is a part of the role `SolrEhrConfig`:
[code]
So I should try to move out the task itself to the playbook and then run it on localhost?

[2017-01-30 11:38] thomaslorentsen opened #20818 "Service module fails in gentoo when checking status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module/service.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
OS Host: OSX 10.11.6
OS Client: Gentoo

##### SUMMARY
Ansible fails when checking the status of a service.
It fails on any service whether it is running or not.

##### STEPS TO REPRODUCE

The problem occurs on my gentoo server but I am also

[2017-01-30 11:56] jhawkesworth commented on #20816
not looked at the role, but maybe you just need to target the role against localhost in a separate play

[code]

[2017-01-30 12:12] daBONDi opened #20819 "Error on vmware_host : 'vim.fault.DuplicateName' object has no attribute 'thumbprint'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/cloud/vmware/vmware_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansiblehost: Ubuntu 16.04
ESX/VSphere: 6.5

##### SUMMARY
Trying to add multiple ESX Host to a VSphere Cluster

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
Looks like something is missing in the Module t

[2017-01-30 12:14] bitdivine commented on #2769
I love the way the error message says "We could be wrong, but" .. and gives no recourse when they ARE wrong.

[2017-01-30 13:17] jhawkesworth commented on #20654
Just catching up with PRs, thanks @JimFicarra for above explanation and @nitzmahone for the pragmatic fix.
Oddly domain admins are added to the Administrators group but the specific domain admin user isn't listed.

[2017-01-30 13:30] salamachinas commented on #20653
I am having the same issue.
Running playbook on local machine.

[code]

[code]

[code]

[2017-01-30 13:48] jhawkesworth commented on #20781
Feels like it would be hard to turn this into a pattern, given it depends on each Cmdlet's support , but mentioning it in windows modules dev guide and having an example to point at would be a good idea.

I don't use -WhatIf much so not sure if converting its output to json could be done in a standard way or not .

[2017-01-30 13:51] sebastianneubauer opened #20820 "s3 module: 'function' object has no attribute 'urlparse'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - S3 module

##### ANSIBLE VERSION
ansible 2.3.0 (devel 9bc4a12ae5) last updated 2017/01/30 11:55:55 (GMT +200)
  config file =
  configured module search path = Default w/o overrides

ansible 2.1.2.0
  config file =
  configured module search path = Default w/o overrides

##### CONFIGURATION
--

##### OS / ENVIRONMENT
[code]
and
[code]

#####

[2017-01-30 14:08] jhawkesworth commented on #20767
For info you need the kerberos stuff on your ansible controller - windows should have everything it needs already.

[2017-01-30 14:10] bcoca commented on #20810
I advise against it as you just need an extra task to do this, it is not worth the complexity nor maintenance of duplicating the code for templating.

[2017-01-30 14:23] bcoca commented on #20817
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The group/host_vars directories are read adjacent to the inventory *file*, if using a directory, the inventory files are contained with

[2017-01-30 14:23] #20817 closed, assigned to nobody

[2017-01-30 14:30] shdobxr commented on #20395
The amount of ugly to write AWS CLI "commands" in yaml is quite nasty. But effective.

[2017-01-30 14:35] jctanner commented on #20815
@krishnachaitanya511 You do not need to specify a username for "pip install --user"...

https://pip.readthedocs.io/en/latest/user_guide/#user-installs

The full command should be "pip install --user ansible"

[2017-01-30 14:35] #20815 closed, assigned to nobody

[2017-01-30 14:36] Shaps commented on #20714
@jmehnle I think the reason why this is documented is because `control_port` seems to be the only option that ansible checks in `ssh_args`. The other options are 'blindly' added to the command.
So the behaviour is different between those options.

[2017-01-30 14:42] vad commented on #20817
It's ok for me, but I don't think it's mentioned in the documentation, is it? http://docs.ansible.com/ansible/intro_inventory.html

Thank you @bcoca!

[2017-01-30 14:43] bcoca commented on #20817
I'll look into adding better docs, I thought it was clearly implied in "Assuming the inventory file path is"

[2017-01-30 14:53] IDQDD commented on #20684
by the way
what about a feature request for the the module?

I'm not sure I can describe what I want because my english is way far from perfect
so the code is worth of 1000 words

[code]

and this is why:
[code]

[2017-01-30 14:55] bcoca commented on #20818
This looks like a python3 issue, Ansible 2.1 does not really support this, try using with python2 on the target.

[2017-01-30 15:02] krishnachaitanya511 commented on #20815
Hi jctanner, If I use the way you mentioned: "pip install --user ansible" only ansible user would get the privileges. Please correct me If I am wrong!

[2017-01-30 15:02] alikins commented on #20701
Can you reproduce this the latest version of 2.2 ( 2.2.1.0)?  There have been some fixes related to this behavior since 2.2.0.0  (57cf5e431c69e7f8bb8607ff37fd51418249d03c via https://github.com/ansible/ansible/issues/16222 for ex).

[2017-01-30 15:18] andmos commented on #20816
I added `delegate_to: 127.0.0.1` and that did the trick:
[code]
Could keep it in the role itself.
It is not documented in the docs for the module however...

[2017-01-30 15:22] #20181 closed, assigned to nobody

[2017-01-30 15:24] berlic commented on #20442
Here's a patch that I use for project that relies on this functionality:
[code]

[2017-01-30 15:34] jpiron commented on #20492
It won't work with both docker and docker-py installed. you should remove docker and reinstall docker-py:
[code]
This should solve your issue.

[2017-01-30 15:36] jpiron commented on #20492
This commit e2a1ce2916e9b87fe1ad4a1011c04ef8d2faf046 should solve the issue. Until it gets released I guess we have stick with docker-compose<=1.9.0.

[2017-01-30 15:36] jhawkesworth commented on #20816
I think it would be better to have a specific report about the need to change the documentation.  Better still, create a documentation pull request if you can.
I'm going to close this as using delegate_to is really standard ansible functionality so there's not a problem with the znode module, other than the documentation could be enhanced (perhaps with examples).

[2017-01-30 15:36] #20816 closed, assigned to nobody

[2017-01-30 15:51] alikins commented on #20629
I can reproduce the results with devel branch  (8b14935521cbbb86784ffcafbd99a9faae85149a):

[code]

[2017-01-30 16:06] alikins commented on #20608
Could you provide an example of the 'yum check-update' output that is causing the problem?

[2017-01-30 16:15] saamich commented on #20608
hello, this output after "yum check-update 2>&1 >file"

[yum_check-update.txt](https://github.com/ansible/ansible/files/739507/yum_check-update.txt)

[2017-01-30 16:19] eljenso commented on #20653
@salamachinas What port are you using?

[2017-01-30 16:21] bcoca commented on #19433
closing via merged #20799

[2017-01-30 16:21] #19433 closed, assigned to nobody

[2017-01-30 16:22] albertomurillo opened #20824 "ClearLinux Support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
modules/packaging/os/swupd.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[Clear Linux Project](https://clearlinux.org/)

##### SUMMARY
ClearLinux has a kind of package manager (It does not install packages but 'bundles') called swupd

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Uses swupd module

[2017-01-30 16:25] abadger commented on #20818
I think I know what's going wrong on python3:

* The exec_command() code forks a child to daemonize and return the commands output
* This child is supposed to return the output as a json string but on python3, it is backtracing because the code combines a text string (stdout="") with a byte string (the output from subprocess).
* The parent then takes the information from the child and attempts to

[2017-01-30 16:25] alikins commented on #20629
I think the behavior is the intended behavior.

[2017-01-30 16:30] bcoca commented on #20744
no

[2017-01-30 16:34] andmos commented on #20816
@jhawkesworth Sounds good! I can take a look on updating the docs.

[2017-01-30 16:40] mgedmin commented on #20500
Would anyone like to check whether https://github.com/ansible/ansible/commit/5eef669313594c809dfe66f27786618409ed91a0 from https://github.com/ansible/ansible/pull/20349 fixes this?

AFAICT this is a bug in ssh-keygen in OpenSSH >= 6.4, where every invocation of `ssh-keygen -H -F <hostname>` returns exit code 1.  The commit message of the above commit has more details.

[2017-01-30 16:58] abadger commented on #17495
Because this ticket is closed, no one is likely to see comments on it.  Please open a new ticket if you are having issues.

@darkn3rd -- it looks like your problem is an incompatibility between the docker_common.py command and python3 on the managed machine.  Workaround would be to run with python2.  I'll look at making a PR for the python3 problem.

[2017-01-30 17:08] jmehnle commented on #20714
Okay!

[2017-01-30 17:09] danbohea commented on #20500
@mgedmin Have restarted the Travis build I linked to above - that _should_ grab the latest version of Ansible `devel`: https://travis-ci.org/danbohea/macsible/jobs/193471258

[2017-01-30 17:27] supertom commented on #20807
Hi @tanin47, thanks for the doc bug.  I believe you are correct.  I do not find it listed [here](https://developers.google.com/identity/protocols/googlescopes#sqladminv1beta4) in the scopes list.  Nor, when I create an instance through the console (as you pointed out).

I'll remove it, thanks for flagging.

[2017-01-30 17:54] tanin47 commented on #20807
Thank you for the scope-list link. I wanted this link all long. I have one comment about `sql-admin`. It sounds strange that we have a binary choice between admin and nothing. There should have been two more options, which are read and read-write.

Thank you again. And great work on ansible's gce. It works super well for me.

[2017-01-30 18:06] hloeffler commented on #19433
@bcoca
thanks

but i thing the whole output thing needs an overhaul, is there any master issue for it?

[2017-01-30 18:08] #20818 closed, assigned to bcoca

[2017-01-30 18:09] bcoca commented on #20818
so this is fixed for python3 in upcoming Ansible 2.3

[2017-01-30 18:19] saamich commented on #20608
may be fix this issue (not full tested)
`out=re.sub(r'(\.[^\.\s]+)\W+(\w+)', r'\1 \2', out)`

[2017-01-30 18:26] alikins commented on #12643
This seems to work now with devel (e70bc06ea102ae3ce364a021f73758e226736d8b)

.ssh/config stanza
[code]

inventory file 'hosts'
[code]

output from 'ansible' without a '-u'

[code]

output with '-u root'   (it fails on ssh in this setup but I expect that. But it using 'root' for the ssh user overriding the User set in .ssh/config.

[code]

[2017-01-30 18:30] #12643 closed, assigned to nobody

[2017-01-30 18:32] bcoca commented on #12643
Ansible just uses ssh in this case, ssh will use an applicable user from your ssh config unless you override it in the command line.

In some previous versions (1.9 included) if you specified a user -u <user> which matched the 'current user executing Ansible' the user would be 'unset', that was fixed in >2.0 and it now behaves as you would expect (as @ansible/ansible-network-testing-admins  demons

[2017-01-30 18:45] alikins commented on #10725
Looks like this is working given the caveats of needing to be set in the first line of the template.

[2017-01-30 18:45] #10725 closed, assigned to nobody

[2017-01-30 18:56] bcoca commented on #20682
I'm not sure this should be an error as it is legal to mount the same partition on multiple locations.

[2017-01-30 18:58] bcoca commented on #20683
This seems correct behaviour to me, the tasks would fail when not run outside of check mode.

[2017-01-30 19:02] bcoca commented on #20769
This is a current limitation of the plugin, I'll change this ticket to a feature idea in case someone wants to attempt to add this.

[2017-01-30 19:04] danbohea commented on #20500
@mgedmin Failed again: https://travis-ci.org/danbohea/macsible/jobs/196672627

[2017-01-30 19:09] #18497 closed, assigned to nobody

[2017-01-30 19:12] #20824 closed, assigned to nobody

[2017-01-30 19:14] logan2211 opened #20830 "os_network provider_network_type should allow 'local'"
_From @Logan2211 on November 12, 2016 22:49_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_network

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
'local' should be a valid provider_network_type in https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/os_network.py#L172

##### STEPS TO REPRODUCE
Create a network with os_network usi

[2017-01-30 19:14] Logan2211 commented on #20830
_From @ansibot on November 12, 2016 22:54_

@emonty, @shrews, @juliakreger, @j2sol, @rcarrillocruz, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-30 19:14] Logan2211 commented on #20830
_From @ansibot on November 28, 2016 9:34_

@emonty, @shrews, @juliakreger, @j2sol, @rcarrillocruz, @thingee, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-30 19:14] Logan2211 commented on #20830
_From @ansibot on December 7, 2016 20:4_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-30 19:34] alikins commented on #10902
One (ugly) other way to parse that headers string:

[code]

Example:

[code]

[2017-01-30 19:51] Shrews commented on #20830
I think removing the choices is probably the best thing to do here. It looks like shade will accept any value passed through, so no change should be needed there. Would be happy to accept a PR for this.

needs_contributor

[2017-01-30 20:02] ryansb commented on #20820
What python interpreter is Ansible using? Is this happening on Python 3?

[2017-01-30 20:13] #18873 closed, assigned to nobody

[2017-01-30 20:34] #20830 closed, assigned to rcarrillocruz

[2017-01-30 20:49] ryansb commented on #20588
@quinn here's a patch that should resolve the problem for you, using our `to_native` method rather than manual decode. Can you give it a try? https://github.com/ansible/ansible/pull/20835

[2017-01-30 20:56] alikins commented on #11524
I can't reproduce this exactly with devel branch, but trying a simplified of referencing a 'update' is causing problems. Looks like it could be the issues referenced at http://docs.ansible.com/ansible/playbooks_variables.html#what-makes-a-valid-variable-name

gist of output at https://gist.github.com/alikins/c452f548711c5f7bbb7f8f34953e0062

[code]

output:

[code]

[2017-01-30 20:59] ravishivt commented on #20568
@Maximus86 Same, the task that uses the template succeeds but the subsequent task fails with the same error message you reported.

[2017-01-30 21:18] selble commented on #20653
Another victim of this change here. We're running our Git server on port 7999, and were setting "accept_hostkey" to "true". I found removing that parameter, and setting ssh_opts="-o StrictHostKeyChecking=no" was an acceptable workaround in our case.

[2017-01-30 21:23] MichielVanderlee commented on #17940
3. Different log levels for console and log file.

It's extremely frustrating to me that I can't enable 'vvvv' logging to the log file only, and regular logging to the console.

[2017-01-30 21:38] jctanner commented on #18414
@xiaobogod please confirm if disabling fact gathering resolves the issue.

needs_info

[2017-01-30 21:43] sebastianneubauer commented on #20820
tested with python 2.7.11, I try to test with python3...

[2017-01-30 21:44] sakaal commented on #17065
In many cases this was likely due to the backwards incompatible change of the variable names `ansible_ssh_host` and `ansible_ssh_port` to `ansible_host` and `ansible_port`. There may have been also other reasons. The problem eventually disappeared after we set defaults for all the variables that were changed.

[2017-01-30 21:56] jctanner commented on #17876
@cadavre we're still waiting on the use-case.

needs_info

[2017-01-30 22:12] sebastianneubauer commented on #20820
fixed by #20836

[2017-01-30 22:13] #17065 closed, assigned to nobody

[2017-01-30 22:15] jctanner commented on #17701
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * INSERT ITEM HERE

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our two mailing lists
to talk about

[2017-01-30 22:15] #17701 closed, assigned to nobody

[2017-01-30 22:30] spamulap12 opened #20837 "include_role: The rescue block does not get executed inside a role (nested block)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
When using include_role to call a role, the rescue block inside the role does not get executed.

##### STEPS TO REPRODUCE
1. Create a role with block and rescue
2. Use include_role from a playbook to call the role
3. Make sure the r

[2017-01-30 22:38] dagwieers commented on #20781
@jhawkesworth I am not that much interested in the output per se, but what I am interested in are the possible failure-paths from the Cmdlet that we may trigger, without actually doing anything.

I am wary about having different output than during normal execution, because we actually don't want that :-) Might be confusing to our users during testing.

[2017-01-30 22:42] lisahuang commented on #19718
Here is my playbook. Do I need to install suds and bigsuds on F5? I used ssh connection. suds and bigsuds are installed on my linux host.

- name: Test bigip_facts
  hosts: sandbox
  connection: ssh

  tasks:
    - name: Get all of the facts from my BIG-IP
      bigip_facts:
          server: "{{ inventory_hostname }}"
          user: "lisa.huang"
          password: "password"
          include:

[2017-01-30 22:58] jctanner commented on #20704
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * "You can use a cache plugin to save the facts to a database, you can use a template and dump the facts to files on disk"

How

[2017-01-30 22:58] #20704 closed, assigned to nobody

[2017-01-30 22:59] jctanner commented on #20702
resolved_by_pr https://github.com/ansible/ansible/pull/20717

[2017-01-30 23:05] jctanner commented on #11535
@esfreire can you confirm if the workaround from @oniled helps?

needs_info

[2017-01-30 23:06] senorsmile commented on #16878
As others have said before, this seems like a weird "bug fix".  We have a dynamic inventory, as well as some things defined in group_vars and host_vars at the root of our repo.  We have been doing this since 1.7ish.  Suddenly, group_vars and host_vars do not get loaded at all in 2.2 (upgrading from 2.0).  Our current workaround is to symlink the top level group_vars and host_vars into our dynamic

[2017-01-30 23:18] caphrim007 commented on #19718
@lisahuang no, dont install anything on the bigip.

The task should look like this

[code]

[2017-01-31 00:51] nergdron opened #20842 "refresh Elasticache modules to support current EC functionality."
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
elasticache modules

##### ANSIBLE VERSION
2.3

##### CONFIGURATION
.

##### OS / ENVIRONMENT

##### SUMMARY
This is to pull over this issue:

https://github.com/ansible/ansible-modules-core/issues/432

It doesn't seem to be currently addressed in any open issues under this repo. Basically, there's lots of new functionality in EC, and it would be

[2017-01-31 00:52] perrin4869 commented on #20810
hm... how would you do this then? Something like this:

[code]

[2017-01-31 01:19] abadger commented on #19779
@solomongifford I was unable to reproduce this using two cento6 boxes.  In looking back over the ticket to see if I missed anything, I did notice that you had written this: "Finally, the become user needs to have permissions to move (rename) the file in the tmp to the final destination directory."  Are you saying that you've configured the remote machine so that the become user is unprivileged but

[2017-01-31 04:30] jburwell commented on #18965
To echo @manjitkumar, my playbooks use async with service when updating iptables since the service start can take time on more complex iptables configurations.  Currently, I am pinning my playbooks to 2.1.3.0 using pyenv/virtualenv.

[2017-01-31 05:58] aioue commented on #19888
@anryko any chance of adding yaml lists to `cidr_ip`?

[2017-01-31 06:04] krishnachaitanya511 commented on #20815
It worked. Thanks for the update

[2017-01-31 07:09] abadger commented on #17908
I'm going to guess that we might need Solaris in order to reproduce this.

[2017-01-31 07:10] cdaringe commented on #18446
it would appear that the fix has still not made it into an official release, at the time of writing.

i just pulled http://releases.ansible.com/ansible/ansible-latest.tar.gz down and:

[code]

[2017-01-31 07:12] cdaringe commented on #18446
in fact, even on https://github.com/ansible/ansible/releases/tag/v2.1.4.0-1 i still see the same issue

[2017-01-31 07:23] cdaringe commented on #18446
sorry for so many posts.  i just pulled the latest `devel` branch as well.  same same. :/

[2017-01-31 08:19] salamachinas commented on #20653
@eljenso 2222

[2017-01-31 08:33] debo commented on #11095
@bcoca thanks a lot for the update, appreciated and thanks for keep improving ansible.

[2017-01-31 09:05] GGabriele commented on #20684
Hi @IDQDD ,
have you experienced any problem when changing mode? I've just tested and it works thanks to the `get_commands_if_mode_change` function.

[2017-01-31 09:08] anryko commented on #19888
I could expand all of those:```cidr_ip```, ```group_id```, ``group_name```. However, how do we want to approach this? I would suggest just expanding those as they are, depending only on passed variable type. But I can see an argument for adding new keywords as well: ```cidr_ips```, ```group_ids```, ``group_names```.

[2017-01-31 09:20] ceving commented on #17382
Same bug here with group_vars.

[2017-01-31 09:25] p53 commented on #20682
Yes it is legal, but it seems to me quite error-prone, altough maybe some people find usage for that ( i can't image for what hack, but may be...)

[2017-01-31 09:25] #20682 closed, assigned to nobody

[2017-01-31 10:08] IDQDD commented on #20684
Hi Gabriele
I didn't know you module has such a function.
Have just tried to switch a mode and it works great
Thx

[2017-01-31 10:35] krishnachaitanya511 opened #20851 "How to configure the Windows-PowerShell based Linux system to communicate with the CentOS based VM using ansible?"
##### ISSUE TYPE
 - Feature Idea
1. I am using WINDOWS 10. I am using Linux-Ubuntu by using poweshell concept.
2. By using the same I have installed Ansible and tried connecting to the local host by using playbook.

![image](https://cloud.githubusercontent.com/assets/25428479/22461011/93a5980e-e7cd-11e6-9428-81aad2d0fb6a.png)

3. While trying to connect it to the CentOS based VM. It is failing to

[2017-01-31 10:54] esfreire commented on #11535
Hi @santureddy , @jctanner and @oniled ,

I am sorry for my delay in answering you.

@oniled , thanks for checking it and for the workaround :)

@santureddy , @jctanner , at the end, I decided to change it and do everything through bash on the shell line since I did not  know how to solve this. I am sorry but I cannot test this right now since I am not working on this project/company for almost a

[2017-01-31 11:12] sibradzic commented on #7118
Totally agree with @ryanooi. Exactly, it is just way more natural that failing to decrypt vars should just leave those encrypted variables undefined, and perhaps just throw a warning...

[2017-01-31 11:14] ElectronicRU opened #20852 "Make `mode` parameter(s) not affect setugid flags on directories by default."
##### ISSUE TYPE
 - Feature Request
##### COMPONENT NAME
All modules that handle file permissions in

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Setuid/setgid flags on directories are normally given special treatment by GNU Coreutils, whose syntax Ansible borrows. An excerpt from their documentation:

##### STEPS TO REPRODUCE
Try setting dire

[2017-01-31 11:22] AceSlash commented on #7118
@ryanooi @sibradzic : I don't agree with that, there are cases where you define a variable for a group and you want to override it in a host_vars, if you fail to decrypt the host_vars, you can screw up your system.

For me, adding a switch to ignore indecipherable vaults files is still the best way to handle this, it means that the user know what will happen. Furthermore, it doesn't change the cur

[2017-01-31 12:02] p53 opened #20853 "timezone module fails on centos 6.8"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
timezone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no special varialbes

##### OS / ENVIRONMENT
running ansible from ubuntu16.04

##### SUMMARY
running timezone module on centos 6.8 fails

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
change timezone

##### ACTUAL RESULTS

[code]

[2017-01-31 12:19] jerognlz commented on #20686
I don't know why this happens on my SLES but apparently it's not a bug, it's my platform. I continue tested, If I have news I will inform you.
Thanks for all replies!

[2017-01-31 12:19] #20686 closed, assigned to nobody

[2017-01-31 12:59] maglub commented on #20442
Thanks, that patch is exactly solving my issue.

In my opinion, that should be the expected behavior of ansible.

[2017-01-31 13:46] tersmitten commented on #15416
We have the same issue. Upgraded from `1.9.6` to `2.2.1.0` and now our deploy playbook does not work anymore. Starts eating all our memory and eventually melts our control machine. in `1.9.6` we were able to run the playbook with only `512M`, now `2G` is not even enough anymore.

Plabook looks liek this:

[code]

Our `deploy-cakephp` role is similar to https://github.com/ansistrano/deploy. We run

[2017-01-31 14:11] jhawkesworth commented on #20851
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-01-31 14:11] #20851 closed, assigned to nobody

[2017-01-31 14:19] rizotas commented on #20653
Same issue, both local and remote, but is random occurrence.

Ubuntu 14.04 LTS

ansible 2.2.1.0

``host_key_checking = False``

    git:
        repo: <WHATEVER>
        dest: <WHATEVER>
        version: <WHATEVER>
        update: yes
        force: yes
        accept_hostkey: yes
        key_file: <WHATEVER>

Got:
``fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "failed

[2017-01-31 14:23] micafer opened #20858 "Become returns timeout with sudo on over local connection if the host is unable to resolve hostname"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using all the default configuration values.

##### OS / ENVIRONMENT
N/A
##### SUMMARY

In case that your ansible managed host has assigned a hostname that cannot be resolved. Become (using sudo) returns timeout:
[code]

##### STEPS TO REPRODUCE

Any playbook that uses become (using

[2017-01-31 15:05] alikins commented on #11524
The workaround is to access the git object like a dict

instead of:
[code]
use:
[code]

ala http://docs.ansible.com/ansible/playbooks_variables.html#id14

[2017-01-31 15:07] ryansb commented on #20842
It appears @wimnat has a custom module that fulfills some of the new functionality.

[2017-01-31 15:17] mahemoff commented on #13468
Example usage:

[code]

[shell docs](https://docs.ansible.com/ansible/shell_module.html)

[2017-01-31 15:33] gzm55 opened #20862 "ansible_ssh_extra_args is ignored when ansible_ssh_executable is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
running from Ubuntu.
no remoting OS

##### SUMMARY
when set ansible_ssh_executable in a task, the result params only contains ansible_ssh_common_args, but not ansible_ssh_extra_args.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

PLAY [all] ***

[2017-01-31 15:51] samvarankashyap opened #20864 "support for count attribute to os_server module"
##### ISSUE TYPE
  - Feature Idea

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Currently ansible os_server module does not have support to provision servers based on count.
However , I see rackspace cloud which is openstack based cloud and AWS EC2 modules have support to provision multiple instances based on count.  With few tweaks to e

[2017-01-31 16:03] shard923 opened #20867 "EC2 Module will attempt to start Terminated instance when "all_instances" ini setting is set to True."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Task to start all EC2 instances that have a tag with a certain name in the morning.
Dynamic inventory picks up 'terminated' instances and ec2.py module fails when trying to "start" a terminated instance.

##### STEPS TO REPRODUCE

[code]

##### EX

[2017-01-31 16:46] Harosgr opened #20869 "Default poll value in async is 0 rather than 10 seconds"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
forks          = 5
poll_interval  = 15

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I don't know if this is a documentation issue or a bug.
The async documentation says "The default poll value is 10 seconds if you do not specify a value for poll" but that's untrue. If you don't set a poll va

[2017-01-31 16:54] #20820 closed, assigned to nobody

[2017-01-31 17:10] Ferroin opened #20870 "wait_for module doesn't properly handle waiting for directories or UNIX sockets to disappear."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Verbatim contents of ansible.cfg:
[code]

##### OS / ENVIRONMENT
Tested using Gentoo, Debian, and Fedora as a control system with a variety of Linux and BSD managed systems.

##### SUMMARY
The wait_for module does not work correctly when checking for the absence of a directory or UNIX s

[2017-01-31 18:01] Harosgr opened #20877 "Async task with a poll value >0 shouldn't need async_status to read output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
async

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I understand that for a "fire and forget" async task with poll: 0, a reasonable way to get the output (stdout, stderr) is by using the async_status, because we need to wait until the task is over.
But for the case of an async task with poll defined to a value different than zero, why should we n

[2017-01-31 18:34] bcoca commented on #19068
fixed via e6f92bc3a937d8ca9593f0c973ff491779b24c93

[2017-01-31 18:34] #19068 closed, assigned to nobody

[2017-01-31 19:27] s-hertel commented on #15932
needs_info

I could not recreate this.
ansible --version
[code]
Playbook:
[code]

[2017-01-31 20:35] #4816 closed, assigned to nobody

[2017-01-31 20:59] conleym opened #20885 "to_nice_yaml fails unexpectedly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:

[code]

Environment:

[code]

##### OS / ENVIRONMENT

macOS 10.12.2

##### SUMMARY

##### STEPS TO REPRODUCE

playbook.yml:

[code]

foo.json:

[code]

##### EXPECTED RESULTS

`out.yml` should contain

[code]

as it does with ansible 2.2.0.0.

##### ACTUAL RESULTS

[co

[2017-01-31 21:32] phobologic opened #20886 "mkdtemp calls do not use expanduser to expand ~ paths"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
plugins.shell.ShellBase.mkdtemp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04

[code]

This is a local run of ansible.

##### SUMMARY
In 2.2.1.0, https://github.com/ansible/ansible/pull/18551 broke the use of `plugins.shell.ShellBase.mkdtemp` since it doesn't use `os.path.expanduser` on the path when no

[2017-01-31 21:50] gregswift commented on #20870
Did a quick dig into whats wrong here.

Made a mock run of the chunk of code that does this, removing the try block and got this:

[code]

So I then tried to see what it would look like if i made a unix socket and ran the same command.
[code]

So basically it looks like the code will always blow up (which means success for absent) when the path is not a file that python's open() can handle.  If yo

[2017-01-31 21:50] phobologic commented on #20886
BTW, on the broken system, after the run, I see a `~` directory get created in `/etc/ansible`:

[code]

[2017-01-31 22:00] lisahuang commented on #19718
That is how my playbook is. The html post didn't preserve format.

[2017-01-31 22:02] caphrim007 commented on #19718
@lisahuang, are you using ansible in a virtualenv?

[2017-01-31 22:04] lisahuang commented on #19718
Yes. Ansible in a virtualenv. Will that cause an issue?

[2017-01-31 22:15] bdowling commented on #20702
In looking closer at the issues this raised, I wanted to understand the module loading better.

Below you can see output of the instrumentation I added to help follow the code.

Doing this has raised a few more questions/concerns about how things get found.  If you look at the trace below, you can see that the 'setup' module is searched for in various module classes and then globally.  I'm curious

[2017-01-31 22:48] bcoca commented on #20702
- There is no namespace, all modules need to have unique names or they will be overridden
- The directories are there for 'documentation classification' not for Ansible execution namespacing.
- Modules currently don't have a requirement of executable permissions, this would be a backwards incompatible change, specially for custom modules.
- Modules are not required to have .py (or .ps) and can be

[2017-01-31 22:53] bcoca commented on #20886
this should already have been fixed by #20486

[2017-01-31 23:05] caphrim007 commented on #19718
@lisahuang in that case, i would suggest that you create a host_vars file for localhost, and inside of it put the path to the virtualenv python binary.

For example,

inventory/host_vars/localhost.yaml

---
ansible_python_interpreter: "/Users/trupp/src/envs/ansible-2.0/bin/python"

This will allow the correct virtualenv python to be found.

You also have the option of just not running Ansible in a

[2017-01-31 23:16] jlacroix82 commented on #18637
It looks as though this problem is still happening. I have the same exact problem as in the following report:

https://github.com/ansible/ansible/issues/18355

My inventory file is encrypted, but Ansible cannot parse it despite all variables and the vault-password being installed properly. Worked fine in 2.1, upgrading to 2.2 is the only change. I get errors such as the following:

ansible -m ping

[2017-01-31 23:26] cloudnull commented on #20803
Hello @sokoow, there is a patch in that should resolve the lxc-clone/copy issues https://github.com/ansible/ansible/pull/20373 If you could pull in that patch and retest your playbook it'd be greatly appreciated.

[2017-01-31 23:37] stobias123 opened #20904 "vmware_guest: vm does not come online with only a network: block"
I know that there is active development on the **vmware_guest** module, and I checked all active issues, but couldn't see anything specific like this.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`vmware_guest`

##### ANSIBLE VERSION
I installed with `pip install git+https://github.com/ansible/ansible.git@devel` earlier today, so I think I'm at commit cdc56afe010ef8640ffaa5e9d0f85903bd69b

[2017-01-31 23:50] phobologic commented on #20886
@bcoca thanks - is there a document for testing with master on my system, or does downloading the git repo and doing a `python setup.py install` just work?  I can verify this on my system if there's an easy way to run master there, thanks!

[2017-01-31 23:58] bcoca commented on #20886
that will work, but instead of installing try downloading and using `source hacking/env-setup` , its less permanent

[2017-02-01 00:07] Phrozyn opened #20905 "include task ignores when - regardless if static: no is present"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include task and conditional statement of when:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing weird here

##### OS / ENVIRONMENT
MAC Sierra 10.12.3
Destination: CentOS 7

##### SUMMARY
Using a conditional with the include for a task include is ignored.
I have run it using static: no and without - the results are the same.

I am ru

[2017-02-01 01:28] willthames commented on #19118
needs_implementer

[2017-02-01 01:28] willthames commented on #19118
ec2_vpc will be deprecated from 2.3, you should use ec2_vpc_net instead, if suitable. If it's not suitable, let me know and I can try and fix it up.

[2017-02-01 01:39] rob42 opened #20910 "Add option to recover private VPC instances with internal ip's only"
Brilliant module - much easier and more flexible than ec2.py EXCEPT for one detail :-(

I cant find an option to return instances on my VPC which only have internal ip/dns entries. The  ec2.py has an option to return private ips ( https://github.com/ansible/ansible/issues/10179 ) but there seems to be no such ability here.

This makes it difficult to configure instances that can only be accessed v

[2017-02-01 03:23] lisahuang commented on #19718
Got a different error.

[code]

[code]

[code]

[2017-02-01 03:30] caphrim007 commented on #19718
@lisahuang this is failing due (probably) to the setup step that ansible does initially. You set the python interpreter there globally so it applies also to the first step that ansible does gathering facts on the remote devices.

So the error is happening because ansible is looking for that python path on the remote bigip during setup.

You may be able to disable this by adding the following to ri

[2017-02-01 03:31] DerekTBrown commented on #20521
+1

[2017-02-01 03:53] abadger commented on #15432
Documentation for using the library configuration var to address this use case is in the following PR: https://github.com/ansible/ansible/pull/20913

[2017-02-01 05:28] tangerinedream commented on #20332
This issue continues, as stated from the original poster.  I'm using userdata to install ansible and then run it locally.  Launched "ami-2d39803a" in us-east-1

**userdata.sh**

`apt-add-repository ppa:ansible/ansible >> "${INSTALL_LOG}" 2>&1
apt-get --assume-yes update >> "${INSTALL_LOG}" 2>&1
apt-get --assume-yes install software-properties-common >> "${INSTALL_LOG}" 2>&1
apt-get --assume-yes in

[2017-02-01 05:54] MiLk commented on #20332
It has been reintroduced when fixing https://github.com/ansible/ansible/issues/20706.
We need to reopen an issue, as closed issues are not checked by the ansible team.

[2017-02-01 06:53] lisahuang commented on #19718
Worked. Thanks for the help.

[2017-02-01 08:13] tmshn commented on #20853
I believe this is fixed by #19796.
Could you try latest version from GitHub?

[2017-02-01 08:28] zumipin commented on #20736
I am experiencing something similar. I have 4 blocks in my playbook, but execution stops after the block that contains the "always" statement. If I put that block first in the site.yml file, no other blocks will execute. Any block that comes before the block that contains "always" will execute properly.

For now I am just working around the issue by using the blocker-block last.

[2017-02-01 09:34] gerhard-tinned opened #20916 "Inventory group vars behaviour unexpected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory host group variables behave unexpected.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Additionally to this inventory file, there are 2 playbooks. One is using the GroupA and is suposed to use "su" as become_method and the second one is using directly the GroupB. The playbook for Group B explicitly sets "sudo" as become_

[2017-02-01 10:34] mgedmin commented on #20500
The PR with the potential fix is not yet merged into Ansible's `devel`.

[2017-02-01 11:19] danbohea commented on #20500
Gaaah, missed that.

[2017-02-01 12:31] rascasoft opened #20919 "when condition does not behaves correctly using with_file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Everything is the default.

##### OS / ENVIRONMENT

Fedora 25 and CentOS 7.3.1611

##### SUMMARY

Using a conditional "when" to skip part or an entire task list all the task are in any case mentioned on the output as "skipped".
But in some cases "skipped" does not mean that the step id f

[2017-02-01 12:37] Ferroin commented on #20870
Just a thought, but might it make more sense to check `os.access(path, os.F_OK)`?  I need to double check, but I'm pretty sure that that will work correctly for any file type, and it should (in theory) actually be a little less expensive than `open(path)`.

[2017-02-01 13:12] cidrblock opened #20922 "nxos_config module should detect if checkpoints are disabled due to FCOE."
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
nxos_config module

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
ERROR:

TASK [add_helpers : Add helper: switch interface Vlan200] **
fatal: [switch]: FAILED! => {"changed": false, "commands":
["no checkpoint ansible_1485924531"], "failed": true, "msg": "matched error in response: no checkpoint ansible_148

[2017-02-01 13:47] krzysztof-magosa opened #20925 "Bug in nmcli module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
`nmcli` module fails with internal error when run first time on machine.
Second time the same task works correctly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Run without error.

##### ACTUAL RESULTS

[code]

[2017-02-01 13:50] rafi commented on #16010
Please bring back `path` option in `requirements.yml` for ansible-galaxy! Currently there is no way of installing modules under different container directories. e.g.:
[code]

How unfortunate.

[2017-02-01 14:05] Ferroin commented on #20870
I just double checked, and `os.access(path, os.F_OK)` works correctly for all file types, and returns False for dangling symbolic links just like `open(path)` does.  The only significant difference I can see in using os.access() instead of open() followed by close() is when you get a permissions error.  The code using open() and close() will return a permissions error if the user executing the mod

[2017-02-01 14:30] mavit commented on #17908
You can run [Solaris](http://www.oracle.com/technetwork/server-storage/solaris11/downloads/index.html) for free "[for the purpose of developing, testing, prototyping and demonstrating your applications, and not for any other purpose](http://www.oracle.com/technetwork/licenses/solaris-cluster-express-license-167852.html)".  Problematically, this does not include security updates -- for that you nee

[2017-02-01 15:39] #11536 closed, assigned to nobody

[2017-02-01 15:56] pierreant-p opened #20929 "Misleading behavior for ec2_asg health_check_period when used with EC2 status check"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the `health_check_period` attribute of the `ec2_asg` module AND usign `EC2` as the health-check type, the behavior is somehow different than when using the `ELB` health-check type. This is mostly do to AWS, but I think ansibl

[2017-02-01 16:00] kpcyrd commented on #14222
I think this bug appeared again, I'm having issues with tasks after a block not being executed on 2.2.1.0-1 from archlinux.

None of my previous tasks fail and there are no errors, but the following tasks are being silently skipped.

[2017-02-01 16:06] digi691 commented on #20608
My team ran into this issue as well when trying to install the latest ceph package with Ansible 2.2.1.  After troubleshooting the yum plugin we noticed it was lopping off the first package ceph.x86_64. I've included a link to the output of `yum check-update 2>&1 > file` as my output looks different than saamich's.

[https://github.com/digi691/check_update_output/blob/master/yum_check_update_ceph.t

[2017-02-01 16:22] jvanstone commented on #19621
Is there any news on this? I'm also running into this problem. It seems to be something recent? I had a playbook that was working in mid December that now fails with this error.

[2017-02-01 16:58] dummptyhummpty commented on #20319
I'll see if I can get some testing in. I don't deal with Ansible day to day, but do have some work related to it this week.

[2017-02-01 17:28] gebi opened #20933 "ansible-vault: Dynamic determination of PBKDF2 rounds to speed up encrypt/decrypt"
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
vault_password_file = ./open_vault.sh

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible-vault being needlessly slow for decrypt because of PBKDF2 step even when used with high-entropy keys (eg. by key file which is decrypted with gpg through a script outputting it to stdout).

[2017-02-01 17:32] bcoca commented on #20919
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As stated in the docs http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals, `when` executes PER ITEM of t

[2017-02-01 17:32] #20919 closed, assigned to nobody

[2017-02-01 17:36] sokoow commented on #20803
still same on 2.3.0:

[code]

am I doing something wrong ?

[2017-02-01 17:51] gebi commented on #13287
Just as a note becaue i stumbled over this PR.
Speed would not be a problem if the wrong usage of PBKDF2 would be fixed in ansible vault (#20933).
The reason being, PBKDF2 should only be done ONCE per ansible startup to derive the possible low entropy user password into acceptable key material and not once per encrypted content.
The key derivation function done per content could be MUCH faster (eg

[2017-02-01 18:15] #10445 closed, assigned to nobody

[2017-02-01 18:41] cloudnull commented on #20803
@sokoow I think we've the wires crossed so I apologize not catching this before. Testing with the following playbook seems to do the right thing, even without the above mentioned patch.

[code]

This playbook has a resulting command of ``"command": "/usr/bin/lxc-clone --backingstore dir --new test-target --orig container-base"`` which seem to work as expected. Essentially the "clone_name" is the n

[2017-02-01 19:53] abadger commented on #14143
/me crosses fingers

Do not get your hopes up too far but I've put together a PR that may fix this: https://github.com/ansible/ansible/issues/20934  It uses a backport of the selectors module from python-3.5 but works on the same principle as @kai11's code.

This is highly untested; I just whipped it together today when I noticed that there was a small, single file  backport of the selectors modul

[2017-02-01 20:19] bndabbs commented on #19452
I can confirm this same issue is seen in 2.2.1.0

[2017-02-01 20:35] sokoow commented on #20803
Ok, I think I mixed up name with clone_name, and that's why this thing happened. This works now perfect, thanks :)

[2017-02-01 20:35] #20803 closed, assigned to nobody

[2017-02-01 20:37] bcoca commented on #20905
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As the include docs mention, play includes are ALWAYS static, ONLY task includes can be made dynamic. http://docs.ansible.com/ansible/i

[2017-02-01 20:37] #20905 closed, assigned to nobody

[2017-02-01 20:42] h0nIg opened #20942 "remove from windows modules authors"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
all windows modules

##### SUMMARY
please remove me from all windows modules authors, because i do not have the time to maintain those and in addition i'm no longer able to access a windows server for testing purpose.

[2017-02-01 20:45] abadger commented on #20858
I'm unable to replicate the behaviour you're talking about with sudo (not doing it in a cloud environment)... Do you know how to setup a vm so that this occurs?

[2017-02-01 20:46] abadger commented on #20858
needs_info

[2017-02-01 20:48] abadger commented on #20858
Was able to reproduce on an ubuntu16 vm by setting /etc/hostname to a non-domain name and restarting the box.

[2017-02-01 20:59] abadger commented on #20858
Spoke too soon.  I'm able to reproduce the output from sudo by changing /etc/hostname on an ubuntu16 vm and rebooting but I'm not able to reproduce the ansible error:
[code]

Tried with both password and password-less sudo.

Can you give us any other information about how to setup the environment to reproduce this problem?

[2017-02-01 21:00] abadger commented on #20858
And just for completeness, here's the output from raw sudo under these circumstances:
[code]

[2017-02-01 21:06] abadger commented on #20858
Looks like I had my sudoers incorrectly configured for the passwordless case.  I can now reproduce.  Set up the hostname as above and set up passwordless sudo for the account.

[2017-02-01 21:07] bcoca commented on #20922
please fill in the template as this is not enough info for me to proceed.

[2017-02-01 21:19] misterT1958 commented on #20767
Jon

thanks for the heads up.  I have py27-pykerberos installed on my controller, and I edited the /etc/krb5.conf file.  All the windows boxes report:

harold | UNREACHABLE! => {
    "changed": false,
    "msg": "kerberos: the python kerberos library is not installed",
    "unreachable": true
}

which was why I thought I needed to install kerberos on the targets.  Klist responds reasonably on the

[2017-02-01 21:44] abadger commented on #20858
Apparently I do not know how to setup passwordless sudo on ubuntu16.  But I have managed to reproduce the error so I was able to generate a potential fix.  Please test out https://github.com/ansible/ansible/pull/20945 to see if it works for you.

[2017-02-01 21:54] gregswift commented on #20870
@Ferroin you want to try submitting a PR for that?

[2017-02-01 21:56] gregswift commented on #20870
Quick look at the [python os docs](https://docs.python.org/2/library/os.html) shows

```mode should be F_OK to test the existence of path, or it can be the inclusive OR of one or more of R_OK, W_OK, and X_OK to test permissions.```

so you could also check permissions

[2017-02-01 22:28] abadger commented on #20862
@gzm55 give https://github.com/ansible/ansible/pull/20950 a try to see if it fixes this issue for you.

[2017-02-01 22:39] abadger commented on #20869
This appears to have changed in v2.
* New value: https://github.com/ansible/ansible/commit/ce3ef7f4c16e47d5a0b5600e1c56c177b7c93f0d#diff-ac960c5e7aa7ed715ac443f64451bff6R82
* Old value: https://github.com/ansible/ansible/commit/ce3ef7f4c16e47d5a0b5600e1c56c177b7c93f0d#diff-ac960c5e7aa7ed715ac443f64451bff6L255

Asking others whether we should treat it as a documentation bug at this point.

[2017-02-01 23:18] surfuga opened #20951 "ec2_vpc_net multi_ok not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/cloud/amazon/ec2_vpc_net.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Option "multi_ok" does not work properly allowing to provision a new vpc with cidr_block and tag Name already existent in the AWS account.

##### STEPS TO REPRODUCE

Assuming a vpc with cidr_block 10.0.0.0/16 and

[2017-02-01 23:25] abadger commented on #20885
Here's a single file way to reproduce this error:
[code]

Assigning to @jimi-c as I think this is happening because of the security fixes.  If so, it may affect 2.1 as well.

[2017-02-01 23:28] jbergstroem commented on #19714
ping

[2017-02-01 23:32] jbergstroem commented on #17587
ping

[2017-02-01 23:38] denisemauldin opened #20954 "git_config single quotes causes command to fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/source_control/git_config.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No custom configuration

##### OS / ENVIRONMENT
MacOS Sierra 10.12.2 to CENTOS 7

##### SUMMARY
Ansible git_config adds single quotes to the value (line 238 of lib/ansible/modules/source_control/git_config.py), which causes a config statement that

[2017-02-01 23:47] jctanner commented on #20942
resolved by https://github.com/ansible/ansibullbot/pull/320

[2017-02-01 23:47] #20942 closed, assigned to jctanner

[2017-02-02 00:08] gstewart86 opened #20955 "asa_config fails with "TypeError: get_config() got an unexpected keyword argument 'include_defaults'""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No changes to the base ansible.cfg file except:
library        = /usr/share/ansible/

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook produces the error:
TypeError: get_config() got an unexpected keyword argument 'include_defaults'

##### STEPS TO REPRODUCE

[2017-02-02 00:56] CorbanR opened #20956 "Regression in Ansible 2.2.1.0, with Jinja (2.8.1)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jinja2, template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running Ansible from both OSX Sierra and from a Ubuntu Trusty (control server)
Jinja2 `version: 2.8.1`

##### SUMMARY
Possible regression in Ansible `2.2.1.0`, and Jinja.

In Ansible `2.2.0.0` using the template module with Ansible variables was working as expected. After upg

[2017-02-02 01:18] abadger commented on #17406
Bunch of speedups have been merged.  Is this ticket now ready to be closed?

[2017-02-02 01:33] bcoca commented on #18965
this should by fixed by #20423

[2017-02-02 01:49] dkarakas1 opened #20958 "Feature Request: Allow 'file' module to optionally shred directory/files"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

File Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Host OS

##### SUMMARY

Please add a secure delete option to the File Module

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would like 'absent_secure' to recursively delete directores/files using Linux 'shred' command.
I would like 'ab

[2017-02-02 02:19] MiLk commented on #20886
@bcoca It has been broken again when fixing https://github.com/ansible/ansible/issues/20706
I already spent a lot of time on this when I initially reported the issue, let me know if you want me to spend more time next week to try to find a way to solve it in ansible.

@phobologic You can also use `pip install git+git://github.com/ansible/ansible.git@stable`.

[2017-02-02 04:07] mvermaes commented on #20608
Can confirm what seems like the same behaviour with the 'first' package being skipped when managing CentOS 6 and CentOS 7 hosts with Ansible 2.2.1.0.

I'm using Fedora 24 as the Ansible control machine, but the same occurs with CentOS 6/7. https://gist.github.com/mvermaes/3ac84bb4ac3a8060470545540ca52673 has an example of how to reproduce in a CentOS 6 Vagrant box.

[2017-02-02 05:33] gundalow commented on #17406
Closing as we are now a lot faster.

We may have to do other things in the future, that that's a different issue. Thanks everyone that helped with this.

[2017-02-02 05:33] #17406 closed, assigned to mattclay, gundalow, docschick

[2017-02-02 06:34] gzm55 commented on #20862
@adadger with #20959, the output is correct.

[2017-02-02 07:36] micafer commented on #20858
Hi @abadger:

In ubuntu this is the standard way to setup a passwordless sudo:
[code]
And this is to setup the password sudo:
[code]

I have tested your fix and it works!
Thanks for the quick response and the fix!

[2017-02-02 08:17] djmattyg007 commented on #20954
This is the right place. Thanks for reporting this issue. It should be a simple matter of escaping the input.

[2017-02-02 08:36] resmo opened #20965 "doc: module_utils: basic: for deprecation param in AnsibleModule"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
basic.py

##### ANSIBLE VERSION

[code]

See 541a51ddf7c1fd42af480af30d180e88cef6b8a4

[2017-02-02 09:00] kobihk opened #20966 "Missing deployment of Hosted Engine in ovirt_hosts module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
oVirt host module
https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/ovirt/ovirt_hosts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In 4.1 we no longer could add additional hosts to hosted engine environment with command of
"hosted-engine --deploy" we should do it thru the GUI/AP

[2017-02-02 09:21] calebkhor commented on #15297
I am not sure if this is a synchronise or a pipeline issue. but if you look at the verbose output of synchronize:

`--rsync-path=\"sudo rsync\"`

replacing the **rsync_path** value with `"/usr/bin/rsync"` sort of fixed the whole issue for me.

[2017-02-02 09:24] mykaul commented on #20966
@machacekondra ?

[2017-02-02 11:12] ralfbergs commented on #19118
Hi @willthames.

Thanks for the pointer. At the moment I'm not writing new code that uses this, but I will keep it in mind for future use.

Closing this as we seem to have a viable work-around.

Kr, Ralf

[2017-02-02 11:12] #19118 closed, assigned to nobody

[2017-02-02 12:53] Ferroin commented on #20870
Yeah, I can get a PR put together to do this.  It may be tomorrow before I get a chance to do so though.  I'll make a point to mention the issue number in the description when I do.

[2017-02-02 13:14] jackivanov opened #20972 "Handlers declared even if a tag is not used for a whole role"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
handlers

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If 2 different roles include handlers with the same names, handlers become skipped if tags are used

##### STEPS TO REPRODUCE
start.yml:
[code]

neutron-controller/handlers/main.yml:
[code]

neutro

[2017-02-02 14:25] saamich commented on #20608
Repository name to can also be transferred to the new line. In file output from yum check-update > file

[2017-02-02 14:28] saamich commented on #20608
repoquery work fine
repoquery -q -a --qf="%{name} %{version}-%{release}.%{arch} %{repoid}" --pkgnarrow=updates
[log.txt](https://github.com/ansible/ansible/files/747968/log.txt)

[2017-02-02 14:28] MarkusTeufelberger commented on #20933
See a sample test case in https://github.com/MarkusTeufelberger/ansible/tree/vault-bench (latest 2 commits). Already decrypting merely 20 variables noticeably slows the test execution. There are reports that using vault with dozens or hundreds of files (and probably individually encrypted variables, since they are just embedded files) adds up to several minutes to the deployment. This would be the

[2017-02-02 14:49] #20370 closed, assigned to nobody

[2017-02-02 15:12] jgalleri opened #20975 "new to ansible - condition doesn't get evaluated, register variable not defined."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No Changes
##### OS / ENVIRONMENT

Linux  3.10.0-327.13.1.el7.x86_64 (RHEL 7.2)
##### SUMMARY

New to Ansible.
Downloaded Zip from https://github.com/sanderv32/cis-rhel-ansible#ansible--cis-benchmarks--rhelcentos-7 for Hardening RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-02-02 15:39] kostaatsk commented on #20368
Related pull request should solve this isssue #20840

[2017-02-02 15:50] vablergo commented on #14318
I would like to add a bit of extra information here about this reported issue that when `shell`/`command` module is used in a with_ loop, then for some reason both `stdout` and `stdout_lines` of the `result` object get converted from JSON dict into a string, effectively rendering the registered variable useless for subsequent tasks of the playbook.

I've tested this scenario to behave exactly the

[2017-02-02 15:51] aucampia commented on #14248
+1

[2017-02-02 15:53] saamich commented on #20608
workaround for use repoquery instead 'yum check-update' for 'state=latest'
[patch.txt](https://github.com/ansible/ansible/files/748239/patch.txt)

[2017-02-02 15:58] bcdonadio opened #20977 "Keep .git folder on Galaxy downloaded roles"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### SUMMARY

It would be helpful if, given a git repository as a source for a role in the requirements.yml file, ansible-galaxy would download not only the files that compose the role itself, but also keep the .git folder that makes the role repo a repo in the first place.

##### STEPS TO REPR

[2017-02-02 16:06] LuckySB commented on #18411
ansible-2.3.0-100.git201701292104.9bc4a12.devel.el7.centos.noarch.rpm

handlers from include_role do not included, set handler in parent role help me to workaround this problem

`ERROR! Unexpected Exception: UUID('ae7ac3a5-874e-402a-8397-9217b726afaa')
the full traceback was:

Traceback (most recent call last):
  File "/usr/bin/ansible-playbook", line 103, in <module>
    exit_code = cli.run()
  F

[2017-02-02 16:10] lberruti opened #20978 "Handler skipped when same role is called multiple times using "when""
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Handler skipped when same role is called multiple times using "when"

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-02-02 16:27] MarkusTeufelberger commented on #20933
Key derivation functions should be used with high settings if a short human generated password is used or with very low settings, if passwords already contain high entropy (e.g. a reasonably long password file). Currently only PBKDF2 with what I'd call medium settings (too fast and weak to resist a motivated attacker, too slow to provide performance on a single machine) is supported with an indivi

[2017-02-02 17:00] pheitman opened #20980 "latest version of ansible breaks setup delegate_facts: true functionality"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I updated with yum this morning to ansible-2.2.1.0-1.el6.noarch. Functionality that worked yesterday does not today. I have a role that needs to gather facts for systems not in the current play_hosts. I use the task shown below. It appears to gather

[2017-02-02 17:26] bcoca commented on #20980
I did quick test and I do get the facts in correct hosts, you do not show that this is not the case in your example.

[2017-02-02 17:41] phobologic commented on #20886
Thanks - for now we've worked around it (by configuring, through environment variables, a good remote temp), but I'll try to find some time to dig back into it.

[2017-02-02 17:42] ryanwalls commented on #9362
I would vote for reopening this until it is fixed.

[2017-02-02 18:01] emonty commented on #19621
Hey all - I've made this: https://github.com/ansible/ansible/pull/20974 which should provide a mechanism to provide all of the parameters one can provide in clouds.yaml directly in a playbook. It means you'd want to change the initial example to:

[code]

[2017-02-02 18:02] pheitman commented on #20980
I added a debug task right after trying to gather facts from the servers. Here is the output:

[code]

[2017-02-02 18:04] klaussfreire opened #20983 "pip module's default of editable=True is troublesome"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip module

##### ANSIBLE VERSION
We're having the issue with 1.9.4, that doesn't have the editable argument, so there's no easy fix. We checked the command it runs and it does install it as editable.

In 2.0+, editable is defaulted to True, so it behaves the same, but at least one can change it by specifying editable=False.

[code]

##### CONFI

[2017-02-02 18:30] DepthDeluxe commented on #20056
I'll take a look at the above module, it looks promising.

[2017-02-02 18:34] bcoca commented on #20980
doesn't that show it is actually working?

[2017-02-02 18:46] #14430 closed, assigned to nobody

[2017-02-02 19:04] antvalencia opened #20984 "requiring s3_object_version during AWS Lambda create"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud.amazon.lambda

##### ANSIBLE VERSION
devel branch

##### CONFIGURATION
 - S3 bucket without versioning enabled; ansible devel branch

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I do not have versioning enabled on the S3 bucket which contains my Lambda zip file.  Currently, it is required that the parameter 's3_object_version' is su

[2017-02-02 20:09] pheitman commented on #20980
No - notice that the hostvars for ph-sl2 and ph-cl1 are *much* shorter and do not have the target system's info - no ansible_eth0 for example. The data in hostvars for those two systems are what is defined in the playbook and inventory variables - not any facts gathered from the target system.

I just confirmed on a different system (still CentOS 6.8) that the older version works

[code]

[2017-02-02 20:23] bcoca commented on #20980
can you show actual debug ... cause from output i don't see what you mean

[2017-02-02 21:06] lucascollino opened #20986 "blockinfile not creating underlying directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
host_key_checking = False
timeout = 10
pipelining = True
log_path = ~/ansible.log

remote_user=ubuntu

gather_facts=smart

[ssh_connection]
scp_if_ssh = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path=%(directory)s/ansible-ssh-%%h-%%p-%%r

[privil

[2017-02-02 21:19] booch commented on #20568
Having the same problem with Ansible 2.2.1 and Jinja2 2.9.5.
NOT having the problem if we roll back to Ansible 2.2.0.

[2017-02-02 21:24] #20966 closed, assigned to nobody

[2017-02-02 21:25] misterT1958 commented on #20767
in case you were wondering, on the controller:

tw2@warroom3:~/Ansible> port installed | grep kerb
  kerberos5 @1.14.3_0 (active)
  py27-pykerberos @1.1-10616_0 (active)

[2017-02-02 21:43] #20862 closed, assigned to nobody

[2017-02-02 21:45] abadger commented on #20862
Excellent.  Thanks for testing!

[2017-02-02 21:49] cornfeedhobo commented on #14248
@bcoca that as a nice addition and adds flexibility, but does not address the issue here, and puts the onus on the playbook writer, when the intention is to empower the role to set same defaults easily.

Please review [my comment above](https://github.com/ansible/ansible/issues/14248#issuecomment-254059046)

[2017-02-02 22:08] jamesongithub commented on #18411
[code]

[code]

[2017-02-02 22:25] DepthDeluxe commented on #20056
@dagwieers, tested the module and it works great!  Since there were a few other minor issues I discovered with the module so I submitted my own PR with changes.

I renamed the "minutely" frequency option to "interval" and provided the option for interval units.  Also added some validation.

Validated this works in Windows Server 2012 R2

[2017-02-02 22:31] #20858 closed, assigned to nobody

[2017-02-02 22:36] misterT1958 commented on #20767
Jon,
I can ping from the ansible controller (mac) to the windows boxes successfully, but from the windows box to the controller the ping fails.  Seems like that would have to succeed for the ansible connection to work, yes?

[2017-02-02 22:50] xiongchiamiov opened #20993 "> yaml syntax does not strip newlines"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`shell` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Vanilla.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

According to [the YAML syntax documentation](https://docs.ansible.com/ansible/YAMLSyntax.html), `>` can be used to input a long series of text, but won't have newlines in the result.

However, the `shell` module somehow end

[2017-02-02 22:54] bcoca commented on #20993
command does not invoke a shell, `||` is ignored so it returns false.

[2017-02-02 22:59] xiongchiamiov commented on #20993
Ah, right, of course.  I guess the thing then is just that `>` doesn't appear to be stripping newlines.  Here's with `debug`:

[code]
[code]

It's producing exactly the same thing as using `|`, even though they're supposed to be different:
[code]
[code]

[2017-02-02 23:30] lberruti commented on #20978
I forgot to describe the "a" role:
[code]
[code]

[2017-02-03 00:07] xiongchiamiov commented on #20993
Using `shell` *also* doesn't work, which is what the issue is about.  See: the first example.

[2017-02-03 00:14] kbrebanov commented on #19714
Actually, after having a quick glance at this, it may be related to not using a 'raw' string for the regex. From your example, it seems to work fine for previous packages until it hits 'g++' which contains '+' characters.

I'll try and find some time to make the change and test it out.

[2017-02-03 00:18] WizardOfArc commented on #19802
No matter how many passes I go through my ec2_elb_lb task still breaks (although it worked a couple weeks ago with no change):
The Task:
[code]

The error:
[code]

[2017-02-03 02:53] ruissalo opened #20998 "local_action tries to ssh to localhost"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Inventory content:

[lab]

device.example ansible_connection=local

[lab:vars]
vendor=cisco
ansible_connection=local

##### OS / ENVIRONMENT

Centos 5

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Directory should be created. Task should not attempt to us

[2017-02-03 03:10] nuklea commented on #20603
Same issue. I have `roles/project/handlers/main.yml`:

[code]
and `roles/project/tasks/main.yml`:

[code]

I've run playbook and got:

[code]

but `Prepare static files` works fine.

[2017-02-03 06:10] jhawkesworth commented on #20767
ping from windows box back to the ansible controller is not a problem I have encountered before.

You certainly need DNS to be working probably for both forward and reverse lookups - kerberos depends totally on DNS - you are already using hostnames rather than IP addresses by the looks of things, so that's probably not your issue.

Well worth checking firewall configurations on your controller, th

[2017-02-03 06:33] TheSameCH commented on #20653
Same issue, but I figured out that in our case the problem is not the code of https://github.com/ansible/ansible/commit/0d9afa84d50e02c912e90ff6bbe5a89cea30b8be. Unfortunately none of you guys posted a repo URL, so I can not tell if you run into the same issue.

Issue: The `add_host_key` function presumes that one is connecting to default SSH port 22. If you have a git repo like `ssh://git@git.com

[2017-02-03 06:49] abadger commented on #15432
PR with documentation has been merged to devel.  Closing this ticket.

[2017-02-03 06:49] #15432 closed, assigned to nobody

[2017-02-03 08:21] strangeman commented on #18411
@LuckySB yeah, this workaround helped for me, thank you!

[2017-02-03 08:37] berlic commented on #20980
@bcoca should I open new issue for:

`ansible 2.2.0`: `- debug: msg="{{ hostvars['nonexistenthost'] | default('zzz') }}"` gives

`ansible 2.2.1`: `- debug: msg="{{ hostvars['nonexistenthost'] | default('zzz') }}"` gives

or it has the same roots as OP's `is not defined` test to `hostvars[item]` ?

[2017-02-03 10:06] stffndtz commented on #20653
@eljenso replying for @lempa: We're not running on Port 22.

What seemed to fix the issue for us though was using a dedicated ansible_user and adding the key to known_hosts by running a ssh-keyscan command manually.

[2017-02-03 10:17] p53 commented on #20853
yup that commit fixed it, thanks

[2017-02-03 10:17] #20853 closed, assigned to nobody

[2017-02-03 10:29] albdv opened #21002 "docker_container module is not able to get port range as an argument for exposed_ports or published_ports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
docker_container module fails on port ranges for exposed or published ports

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
docker container should start and listen on the port range

##### ACTUAL RESULTS

[code]

[2017-02-03 10:35] boskiv opened #21003 "uri: Too much info then failed"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION
2.3.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When I use uri module, I see big dump of data even I not in verbose mode
[code]

Is there way to make error message contains only content ? Only message that I define ?
I expect to see
[code]

There is my task:
[code]

I have tried to avoid fail, reg

[2017-02-03 10:39] ssbarnea commented on #16610
I am really interested about the subject, especially if a syntax like this would work or not:

    shell: !unsafe |
        echo "{{hurrah!}}"
        echo "yep!"

[2017-02-03 12:20] wawrzek opened #21005 "Default URL doesn't work for maven_artifact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special chanfes

##### OS / ENVIRONMENT

Running from MacOSX on remote Ubuntu 16.04 LTS

##### SUMMARY

Ansible cannot download jar using default Maven Central url

##### STEPS TO REPRODUCE

I have following task in a role:

[code]

##### EXPECTED RESULTS

Ansible download

[2017-02-03 12:22] shobhitsingh opened #21006 "Failure with apt module when installing python mysql dependencies"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Both Ubuntu 14.04
##### SUMMARY

Trying to install python mysql dependencies results in error. Earlier same scripts used to work.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should install successfully
##### ACTUAL RESULTS

Failure

[code]

[2017-02-03 12:26] wawrzek commented on #21005
As I expected adding 'default' url as repository_url fixes problem.
[code]

Output (expected in first place)
[code]

[2017-02-03 12:51] pheitman commented on #20980
Copy the output I gave above that showed the hostvars for the three hosts and paste it in to a text editor. The text field makes it harder to see (you have to scroll the window horizontally to see what I mean). Note that the hostvars for the first two hosts has around 2116 characters of data while the hostvars for the third host (ph-sl1) has around 12345 characters. That is a huge difference. Also

[2017-02-03 12:52] wawrzek commented on #21005
I checked the code and repository_url seems not to have default value (in line 330). Next  (line 339) there is a test to check validity of repository_url. It has to fail, if you don't specify repository_url. And then (in line 358) in case repository_url is not defined default value is assigned.

I cannot make sense of it.

I tested following small patch (adding default repository_url) and it works

[2017-02-03 13:00] wawrzek commented on #21005
I see that head is updated. I think my patch is easier to understand. I don't know why not to use 'default' for repository_url.

[2017-02-03 13:16] selble commented on #20653
@TheSameCH, thank you, and apologies for not posting the URL we are using. Ours indeed follows the problematic format you listed.

[2017-02-03 13:23] eljenso commented on #20653
@TheSameCH Our URL looks something like `ssh://git@gitlab.example.org:55/eljenso/project.git`. So your issue might be the same issue everyone here is experiencing.

[2017-02-03 13:27] dagwieers commented on #20993
@xiongchiamiov You have syntax-errors, all lines have to be indented identically IMO
[code]
gives:
[code]
This is IMO unrelated to Ansible. This is purely related to YAML syntax and parsing.

[2017-02-03 13:50] dim-on-github opened #21008 "List order is lost using with_items"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux 7

##### SUMMARY
List order is lost using with_items

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-02-03 13:52] sashgorokhov commented on #17086
This would be especially useful for me, so I could do something like this:
`ANSIBLE_CALLBACK_WHITELIST=json ANSIBLE_STDOUT_CALLBACK=json ansible-playbook play.yml` and parse output as json, with no need to catch json with regexp

[2017-02-03 14:02] dssdss commented on #18990
ansible 2.2.1.0 - problem still exists...

[2017-02-03 14:18] dagwieers commented on #10439
@sonjz Thanks for reporting this. I just found this issue and promptly fixed it.

In case you didn't know, you can make edits to files directly from GitHub (so prior Git experience is not needed). That way you can contribute changes directly from the GitHub web interface, and often it's faster than writing an issue because you offer a PR that can be merged with a click.

[2017-02-03 14:20] dinosaurhead opened #21011 "vmware_guest does not allow changing vNIC networks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible and guest:
Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY

Vsphere_guest allows changing the network a vNIC is connected to but this does not work in vmware_guest.

##### STEPS TO REPRODUCE

Running the following play should co

[2017-02-03 14:24] nerzhul commented on #21011
If i read the log carefully, module said it's changed, but not in your infrastructure ?

What is your VMWare version ?

[2017-02-03 14:48] bcoca commented on #21008
I cannot reproduce, i ran 10 times and get the same order every time

[code]

That is with_items, if using with_dict, dictionaries are unordered in python so I would expect the order to change.

[2017-02-03 14:51] bcoca commented on #20993
since both issues have been addressed, I'm going to close this issue as it is not a bug

[2017-02-03 14:51] #20993 closed, assigned to nobody

[2017-02-03 15:04] dim-on-github commented on #21008
Did it worked well for you under CentOS7? For me this test playbook works good on RHEL6 but return items in random order everytime on all 3 CentOS7 servers i tested (using the same ansible version 2.2.1.0). So it's maybe dependencies or something... What else can I check?

[2017-02-03 15:11] moritz opened #21012 "Regression in 2.2.1: evaluating a string starting with a pound sign errors out"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core (?)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Standard

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Using a string starting with a `#` in a `when:` clause dies with `The conditional check 'smartd_conf' failed. The error was: unexpected char u'#' at 6\n  line 1\n\nThe error appears to have been in '/home/moritz/foo.yaml': line 8, co

[2017-02-03 15:15] dinosaurhead opened #21013 "vmware_guest does not register correct "changed" value when cloning from template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible and guest:
Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY

When cloning from a template using the vmware_guest module the "changed" value registers incorrectly as false.

##### STEPS TO REPRODUCE

Running the following play sho

[2017-02-03 15:26] Dinohead commented on #21011
That is correct. The module returns a change, but when I check the networks
the vNICs are connected to in vCenter they remain unchanged. We are on
vCenterServer version 6.0.0 Build 3339083. I'd send you some screenshots
but I'm operating on a network not connected to the internet.

We currently switch an existing VM's networks with the vsphere_guest
module, but we'd like to migrate to using the vm

[2017-02-03 15:28] tkyjovsk commented on #15179
"each task within a role will see their own roles defaults regardless of what may be set in other roles" - But why? This is so counterintuitive! It makes perfect sense to automatically override role defaults by default values in the dependent role. This change breaks all roles for ansible 1.x that relied on this feature.

[2017-02-03 15:41] bcoca commented on #20975
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The message is telling you that a string does not have a property called '.mounts'. I'm assuming you want to use a variable named `ansi

[2017-02-03 15:41] #20975 closed, assigned to nobody

[2017-02-03 15:46] beastea commented on #21002
exposed_ports get a port range.
published_ports - not.
but it's fine for me

[2017-02-03 15:46] #21002 closed, assigned to nobody

[2017-02-03 15:47] jctanner commented on #20956
@CorbanR what is going to consume the result of the template operation? Is it supposed to be json compliant? Would a |to_json filter suffice?

needs_info

[2017-02-03 15:49] jctanner commented on #20958
needs_contributor

[2017-02-03 15:50] jctanner commented on #20965
@resmo i don't understand what the issue is, can you please be more explicit?

needs_info

[2017-02-03 15:53] jctanner commented on #21013
@Dinohead what is your checkout version?

needs_info

[2017-02-03 16:01] jctanner commented on #20977
@bcdonadio after a quick glance, I don't see anything in the galaxy cli code that explicitly removes a ".git" directory.

https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/role.py

The code does convert github urls to a tar.gz path to fetch the archive. For other urls, it leaves them unchanged, but it does later check to ensure the download is a tarball

https://github.com/ansible/a

[2017-02-03 16:16] bcoca commented on #20977
The git tar command itself avoids .git as it is not a checkout but an 'export'.

[2017-02-03 16:23] sivel commented on #20965
I believe since this is self assigned, and referencing that commit, that this is largely a reminder to write docs for the new argument deprecation functionality.

[2017-02-03 16:23] #14143 closed, assigned to nobody

[2017-02-03 16:30] stevenscg commented on #19341
@williamlord @sgargan If you end up touching this module, I have some old notes that maybe `event` types were not supported. The docs also show `query` as a relatively new option, but I haven't had a need to manage that with ansible to date.

See: https://www.consul.io/docs/internals/acl.html

[2017-02-03 16:31] abadger commented on #14143
I've merged #20934 into devel for now as we haven't encountered any problems and it seems to be the best way to get wider testing on it.  If it proves stable it will ship with 2.3.0  If we encounter any bugs in the run up to the release that seem to be caused by it, we'll revert for 2.3.x and revisit for 2.4.x.

[2017-02-03 16:54] Rakaim commented on #20579
I was just searching for a switch or something to enable this. I've OP's exact same issue. I'm copying a massive file and not sure if it's hung or still chugging. Can I go to lunch since it's working? ...or would that be irresponsible since this isn't doing anything?

[2017-02-03 17:10] dav1x commented on #21011
Okay. I recreated this to a specific use case:
Only affects VDS ports and ONLY on reconfigure cases.
- If you create a new NIC on the VDS port it works fine.
- If you have an existing NIC on a vSwitch and move to port group on any vSwitch works fine.

-If you try to move an existing vSwitch port group to a VDS it says its moved but doesnt.
-If you try to move an existing VDS port group to another

[2017-02-03 17:17] dav1x commented on #21011
The VDS reconfigure fails to set:

 nic_change_detected = True

After a change, I added this to my test and it fixed this issue.

[2017-02-03 17:27] zealot128 commented on #15749
Seems to be related to the Proxmox 4 API - than, ip_address can't be used, but the whole netif string:

[code]

That worked for me!

[2017-02-03 17:32] dav1x commented on #21011
PR submitted

[2017-02-03 18:23] abadger commented on #17038
Taking a look at the various problems reported in this bug:
* ```line 475, in heuristic_log_sanitize\r\nTypeError: a bytes-like object is required, not 'str'\r\n",```
  * This seems to be caused by the data parameter to heuristic_log_sanitize() being passed in as bytes but then string literals are used within the function to operate on the data.  The current ansible-2.2.x and devel remedy this by

[2017-02-03 18:23] #17038 closed, assigned to nobody

[2017-02-03 18:26] #18629 closed, assigned to nobody

[2017-02-03 18:33] hloeffler opened #21018 "--tags on play not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

**--tags** used at **play** level
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

--tags "tag1" runs **setup** on not tagged play

##### STEPS TO REPRODUCE

clone: https://github.com/hloeffler/ansible-docker/tree/master/tests
run ./test.sh

[code]

##### EXPECTED RESULTS

not running setup on pla

[2017-02-03 18:34] abadger commented on #19507
Closing this as it's not a code problem within ansible but a matter of installing ansible on the specific machine using the correct versions of tools on that machine.

[2017-02-03 18:34] #19507 closed, assigned to nobody

[2017-02-03 18:34] bcoca commented on #21018
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The implicit `setup`' task triggered by `gather_facts` is tagged `always` so to avoid running them you need to specifically skip the `a

[2017-02-03 18:34] #21018 closed, assigned to nobody

[2017-02-03 18:42] hloeffler commented on #21018
@bcoca thank you
isn't ansible-devel the better mailing-list for this?

[2017-02-03 18:44] hloeffler commented on #21018
i know why this is happening, but there is no way skip the task with a when, right?
i need setup for the tagged play...
and it just makes no sense from an user perspective

[2017-02-03 18:46] bcoca commented on #21018
it makes sense for this case:

[code]
You normally want fact gathering to run no matter which tag you use.

[2017-02-03 18:47] xiongchiamiov commented on #20993
Well that's pretty dumb.  Can we update https://docs.ansible.com/ansible/YAMLSyntax.html to mention that?

[2017-02-03 18:50] hloeffler commented on #21018
i know it make sense, for this,
i just have the fear ansible got way too dynamic

from a tag on toplevel i expect to to be a top level switch
solution for me is splitting in multiple playbooks which sucks

[2017-02-03 18:59] #21011 closed, assigned to jctanner

[2017-02-03 18:59] hloeffler commented on #21018
but i think its too late @bcoca

after dynamic includes, ansible dont know any more where which tag is (--list-tags with 1.9 vs 2.x)
so we just cant scan all tasks to decide not to run setup

maybe i just have to work on **strict mode** for ansible

sorry for wasting your time

[2017-02-03 19:06] bcoca commented on #21018
No time wasted, you are correct that this is a consequence of allowing dynamic inclusion.
There are tradeoffs that are inevitable with new features, this was one of them.

[2017-02-03 19:10] bcoca commented on #3269
In ansible >2.1 we allow dynamic includes, which do make this possible.

[2017-02-03 19:13] misterT1958 commented on #20767
Jon, tried a different route and was successful!  However, it changes the bug report a bit.  I moved my ansible controller from my mac to a linux box running RHEL 6.8.  After installing pywinrm (everything else was there) and making sure the username was @CAPITALIZED it all works.  Yea.  Now going back to see if I can get my mac ansible controller to work.

[2017-02-03 19:13] iturgeon commented on #12282
Thanks @anderskandersson, mistyped `tag:` instead of `tags:` and it was interpreted as a variable name resulting in this error.

[2017-02-03 19:31] ralphrodkey opened #21022 "ec2_asg doesn't honor wait_for_instances when deleting"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using defaults, no modifications

##### OS / ENVIRONMENT

Observed on Ubuntu 14.04 and OSX 10.12.3

##### SUMMARY

The AWS API and boto both support a forced delete operation for autoscale groups, where Amazon will handle asynchronously terminating any instances before deleting the a

[2017-02-03 19:32] jlebon commented on #14237
The tricky part here is that inside a `wait_for` task, the `ansible_host` variable becomes `localhost`, which is most definitely not what you want (you can verify this by running with `-vvv`). What we ended up doing was saving the value of `ansible_host` beforehand and using that:

[code]

[2017-02-03 20:00] rgarrigue commented on #10698
I know the topix is a bit old, but I ran into the same kind of issue.

With Ansible 2.2 runnng on Ubuntu 16.10 in french to provision out of the box CentOS 7.3, I had some weird "Unable to communicate with yum" error (sorry, I don't remember the exact message)

Turned out the CentOS's netwok was unproperly configured and yum ended up with a lot of "Connexion refus**é**e", meaning Connection refuse

[2017-02-03 20:09] gvelu commented on #16352
I faced the similar issue after installing urllib3 (sudo pip install --upgrade urllib3) issue got fixed.

[2017-02-03 20:44] Koaxiel opened #21026 "Enable service doesn't work with chroot connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd/service module

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
From http://0pointer.de/blog/projects/changing-roots

In chroot environment, ansible fails to enable since this commit https://github.com/ansible/ansible-modules-core/commit/2f50979c34d998a5acf70652276e70dbeb70c74c
The variable "found" keep fals

[2017-02-03 20:45] #19460 closed, assigned to nobody

[2017-02-03 20:56] bcoca commented on #21026
is there any way to verify the systemd service exists if systemd itself lies to us?

[2017-02-03 21:01] naftulikay opened #21027 "Unable to run Route 53 Module on Python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

The [`route53`](https://docs.ansible.com/ansible/route53_module.html) module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04, kernel 4.4.0, default python is 2.7.12, but `pip install` installed Ansible under Python 3.

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

Run this with `ans

[2017-02-03 21:01] danielkza commented on #17097
I still observe this issue in 2.2.1.0.

[2017-02-03 21:23] ryansb commented on #20984
It doesn't look like this argument is required (see docs [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/lambda.py#L69-L73)) but later it's in the `required_together` group [here](https://github.com/ansible/ansible/blob/ccb1b742f589d52c12045688d83a59197b3c3e26/lib/ansible/modules/cloud/amazon/lambda.py#L231).

Fixed in https://github.com/ansible/ansible/commit

[2017-02-03 21:23] ryansb commented on #20984
Please reopen this issue if this doesn't fully resolve it for you. Thanks for pointing this out!

[2017-02-03 21:23] #20984 closed, assigned to nobody

[2017-02-03 21:31] ryansb commented on #20776
In current `devel` I don't see the `decode` option being used, the line is just `image = self.client.pull_image(repository, tag)` . Is there a place I'm missing where that argument is added?

[2017-02-03 21:34] ryansb commented on #21027
This issue is fixed in https://github.com/ansible/ansible/commit/eb7495efaf73a0858a8ebd1a32463bf92fee9e90

[2017-02-03 21:34] seankelly commented on #20776
That's the `pull_image` method on the `AnsibleDockerClient` class. The docker-py `pull` method is called in the `pull_image` [method on line 434](https://github.com/ansible/ansible/blob/bb9ee0cf6f27b883491439766ac1a8b1bb2e957e/lib/ansible/module_utils/docker_common.py#L434).

[2017-02-03 21:35] ryansb commented on #21027
And now cherry-picked to stable-2.2 here: https://github.com/ansible/ansible/commit/4e257fad842ec8556ce53268e644fec4607e194c

[2017-02-03 21:35] #21027 closed, assigned to nobody

[2017-02-03 22:02] naftulikay commented on #21027
@ryansb Thank you! Has it been deployed to PyPI yet?

[2017-02-03 22:06] sivel opened #21028 "Update, remove or migrate CODING_GUIDELINES.md"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
CODING_GUIDELINES.md

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The CODING_GUIDELINES.md file is extremely out of date.  It contains information about coding style, tests, etc.

I bean looking into this document, but found the amount of information needing updating a bit daunting

[2017-02-03 23:16] dagwieers commented on #10509
@breathe Not really a chicken-and-egg problem, because you can use the **raw** and *script* modules to run tasks without the need for Powershell 3 !

So the following task would work on a Powershell 2 system:
[code]

Or you can run a script directly from a network share
[code]

Possibly the script-module is powershell-agnostic as well (like it is on Unix), which would allow for this:
[code]

Good

[2017-02-03 23:32] Koaxiel commented on #21026
"found"  is set from the output of `(rc, out, err) = module.run_command("%s show '%s'" % (systemctl, unit))`. Replace `show` by `list-unit-files` should fix this problem since `list-unit-files` works in chroot environment :

[code]

[2017-02-03 23:53] dagwieers commented on #15506
Yes, the reported issue was fixed with ansible/ansible-modules-core#3777

I think this issue can be closed. If anything specific is still missing or incomplete, open a new issue or send a PR.

[2017-02-03 23:53] dagwieers commented on #15506
@gundalow @jhawkesworth Please close.

[2017-02-03 23:58] dagwieers commented on #16255
@trondhindenes I would like to close this issue, but your changes haven't hit the online documentation yet. And that's been merged three months ago !

@gundalow Can you please ensure that the docs are current. A few weeks back I noticed incomplete docs and started to improve them, only to notice that the existing docs were already perfect, but the online docs were stale.

[2017-02-03 23:59] dagwieers commented on #16436
needs_contributor

[2017-02-04 00:15] dagwieers commented on #16842
I think your explanation is a bit hard to grasp as there could be so many things going on.

Could you maybe make a minimal reproducer that shows the problem so that we can better understand and investigate the problem you are describing ?

And lease first make sure if this issue still exists in the latest release and/or the devel-branch.

[2017-02-04 00:23] dagwieers commented on #17311
This one is fixed with #17851 however the online documentation (still) does not reflect the new changes.

@gundalow @nitzmahone I think this is too important to ignore. Let's get this issue closed ASAP.

[2017-02-04 00:26] dagwieers commented on #18108
I have the same issue with **wait_for_connection**  which could leverage a generic connection-agnostic approach, see #20011

[2017-02-04 00:28] dagwieers commented on #18197
bot_broken as this is not windows-related at all.

[2017-02-04 00:30] dagwieers commented on #18468
We use win_copy with files over 4GB, so I doubt this issue is still valid, or unrelated to win_copy and (very) large files.

[2017-02-04 00:31] dagwieers commented on #18880
Is this issue still valid ? If so, please post a minimal reproducer that displays the problem.

[2017-02-04 00:33] dagwieers commented on #18885
The win_regedit module has been refactored quite a bit.
Can you please test if your issue still stands using the devel branch ?

[2017-02-04 00:34] dagwieers commented on #18883
The win_regedit module has been refactored quite a bit.
Can you please test if your issue still stands using the devel branch ?

[2017-02-04 00:34] dagwieers commented on #19213
The win_regedit module has been refactored quite a bit.
Can you please test if your issue still stands using the devel branch ?

[2017-02-04 02:16] CorbanR commented on #20956
@jctanner initially this caused me an issue in a gitlab playbook

The config line that caused me problems was `gitlab_rails['trusted_proxies'] = {{ gitlab_trusted_proxies }}` settings in gitlab.rb..

It's odd that the behavior from `2.2.0.0` to `2.2.1.0` has changed in this instance

the `|to_json` did in fact fix the issue in `2.2.1.0` :) Thank you.

[2017-02-04 03:14] RobertMacDonald opened #21032 "Add support for DeadLetterConfig"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lambda module

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
lambda module does not currently support setting or retrieving the DeadLetterConfig setting on lambda functions.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The function has its DeadLetterConfig:TargetArn set to value in a

[2017-02-04 05:24] abadger commented on #19710
I think I have a fix for the error you're reporting with the private repository.  Trying to figure out what's happening with the public repo before making a PR for this.  (Fix for private repo error is here: https://gist.github.com/abadger/2b25e0e37769e22adf6989d9e6d4dbb4  )

[2017-02-04 08:15] resmo commented on #20965
excatly, reminder for me to write docs. Sorry to not made that clear in the description.

[2017-02-04 08:36] gundalow commented on #17311
@dagwieers is the issue
A) The docs are wrong
Or
B) The docs are right, though they are not live on docs.ansible.com?

[2017-02-04 08:36] #15506 closed, assigned to jhawkesworth

[2017-02-04 11:23] fphammerle commented on #14542
update to v2.3.0 solves this issue for me

ansible 2.1.4.0 (branch stable-2.1, commit 36d8612) WORKING
ansible 2.2.1.0 (branch stable-2.2, commit 4e257fa) ERROR (cannot represent an object)
ansible 2.3.0 (branch devel, commit 46503c6) WORKING

[2017-02-04 12:35] olafnorge opened #21038 "'datadog_event' task fails with message 'datadogpy required for this module' even though datadog libraries are installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[datadog_event](https://docs.ansible.com/ansible/datadog_event_module.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible-Controller: `Linux 4.9.0-997-generic #201612270045 SMP Tue Dec 27 05:47:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
Target-Host: `Linux 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00

[2017-02-04 13:17] pheitman commented on #20980
As for your question about the other issue (the not defined test), I don't know the code but it appears to me to be a separate issue

[2017-02-04 14:18] #20412 closed, assigned to Qalthos

[2017-02-04 15:36] andresvia opened #21041 "playbook syntax introduction in inventory intro"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

 - `docs/docsite/rst/intro_inventory.rst`

##### ANSIBLE VERSION
N/A

##### SUMMARY

For someone who is reading the documentation back to back, the Docker example (Non-SSH connection types section), in the introduction to the inventory file introduces a new syntax (playbook) without proper introduction, or at least stating that the f

[2017-02-04 17:14] jhawkesworth commented on #18468
I too have managed to transfer files > 3gb in size.  I guess it is possble that the windows side of things has had a fix in a recent windows update.  @SaitamaGuru - would you be able to retry?

[2017-02-04 17:37] jhawkesworth commented on #19996
@trondhindenes - hi - I've probably just done something wrong but I just tried pulling your changed module from https://raw.githubusercontent.com/trondhindenes/ansible/devel/lib/ansible/modules/windows/win_package.ps1 so I could try  - but it is the same as the latest devel version.  Can you check your changes got pushed back up to your fork?

Many thanks,

Jon

[2017-02-04 20:36] dagwieers commented on #20993
Sure, feel free to make a PR with the changes you think would help people in this respect.
I agree that it may be confusing and may look like a genuine error to the user.

(PS You don't need to know Git to create a PR, simple browse to the file you want to modify on the GitHub website, and edit the file the way you like. Anyone can make changes that way without learning low-level Git)

[2017-02-04 21:08] dagwieers commented on #17311
@gundalow B ! The docs have been improved but users won't see the latest improvements to the documentation.

[2017-02-04 21:14] sysadmin75 commented on #19874
I wasn't able to reproduce the issue.
I tried on 2 different debian 8 setups. A fresh debian 8 install and a proxmox server with debian 8.
And I tried from 2 management hosts OSX 10.12.2 and Fedora 23.

$ grep distribution pve01_setup
        "ansible_distribution": "Debian",
        "ansible_distribution_major_version": "8",
        "ansible_distribution_release": "jessie",
        "ansible_distr

[2017-02-04 21:19] jlacroix82 commented on #19874
@sysadmin75: This bug report was for Debian testing, which is Debian 9. Your output is solely from Debian 8, which is stable. In my output, I gave an example of the output from both Debian 8 as well as Debian 9.

[2017-02-04 21:23] micw commented on #19874
Stretch is about to be released in  a few days or weeks and is frozen now. Seems that they updated the version files so ansible now reports correct version information:

$ ansible localhost -m setup | grep distribution
        "ansible_distribution": "Debian",
        "ansible_distribution_major_version": "9",
        "ansible_distribution_release": "stretch",
        "ansible_distribution_version

[2017-02-05 07:35] elaijuh commented on #18987
same here with ubuntu 16.04 lts and ansible 2.2.1.0

[2017-02-05 07:35] trondhindenes commented on #19996
Sorry, my bad. Here's the correct branch:

https://github.com/trondhindenes/ansible/tree/win_package_enhancements?files=1

On Feb 4, 2017 18:38, "jhawkesworth" <notifications@github.com> wrote:

[2017-02-05 07:52] avielb commented on #20801
Up!

[2017-02-05 14:02] Lujeni commented on #20983
Hello @klaussfreire,

This merge request https://github.com/ansible/ansible/pull/19688 could also fix your issue.

[2017-02-05 14:28] bertramn opened #21046 "Default value assigned to a variable in one role changes value if referenced in another role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
contents of ansible.cfg
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY

##### STEPS TO REPRODUCE

Please refer to the test case at [bertramn/ansible-role-defaults-bug](https://github.com/bertramn/ansible-role-defaults-bug.git).

##### EXPECTED RESULTS
1. The variable def

[2017-02-05 17:05] walterdolce commented on #14946
This also affects `ansible 2.2.1.0` with the following setup:

[code]

[2017-02-05 18:12] misterT1958 commented on #20767
Jon, got windows connections from Mac (running Yosemite) to all 3 servers running Windows Server 2012 R2.  One big lesson was the ConfigureRemotingForAnsible script must be run as Administrator.

[2017-02-05 18:12] #20767 closed, assigned to nobody

[2017-02-05 18:19] Hubbitus commented on #19081
I think it is duplicate and related to pull options. See https://github.com/ansible/ansible/issues/20458

[2017-02-05 23:22] JimFicarra opened #21048 "win_stat - symbolic and hard links not properly detected"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

win_stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows 2012

##### SUMMARY

win_stat doesn't detect symbolic links (shortcuts) or hard links

##### STEPS TO REPRODUCE

1. Create a symbolic link (shortcut) or hard link. (Use mklink)
2. Use that as the path for the win_stat module

[code]

##### EXPECTED RES

[2017-02-05 23:56] dagwieers commented on #14386
I would do this:
[code]

[2017-02-06 05:09] stanrate commented on #20106
My playbook uses vmware_guest to create a VM from a template. "state: poweredoff" is specified but the VM is created in a poweredon state and verbose task output contains "hw_power_status": "poweredOn"
This occurred in 2.2.0 and also occurs in 2.2.1 (installed from epel on rhel7 with latest patches).
I'm using pyvmomi 6.5 with esxi 6.5 in a vcenter environment.
Hopefully someone will fix the "stat

[2017-02-06 06:35] urajio commented on #20398
My vault password is just a random bytes in the file. Now any ansible command ends with error.
How I can rekey to new password?

[2017-02-06 08:14] #10439 closed, assigned to nobody

[2017-02-06 09:36] jhawkesworth commented on #20767
Glad its  all working.  I think latest version of ConfigureRemoting... throws up some kind of warning if you aren't running as Administrator now, so might be worth checking you are picking up the latest version.

[2017-02-06 10:11] kiview commented on #19081
@Hubbitus That seems true, I have the same problem in our current setup, with a new vm.

[2017-02-06 10:12] hryamzik opened #21051 "vmware_inventory pyVmomi.VmomiSupport.NoPermission"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[vmware_inventory](/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py)

##### SUMMARY

```./vmware_inventory.py``` fails:

[code]

Not sure how to reproduce this as I've no idea what permissions are missed. But script shouldn't fail due to lack of permissions.

[2017-02-06 10:26] nblock commented on #20398
@urajio See https://docs.ansible.com/ansible/playbooks_vault.html#rekeying-encrypted-files

[2017-02-06 10:28] rgarrigue opened #21052 "sefcontext missing serole parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sefcontext

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Uncommented stdout_callback = skippy

##### OS / ENVIRONMENT

N/A, but Ubuntu 16.10

##### SUMMARY

file module got serole seuser selevel setype parameters, which match selinux

sefcontextgot seuser selevel setype parameters, but is missing serole. If I'm not mistaken, serole defa

[2017-02-06 11:54] garethhumphriesworldpay opened #21053 "Password strings are parsed, so special charactars are not handled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A (but rhel7)

##### SUMMARY

When entering passwords for login/sudo, they are parsed by the templater instead of being used literally.  This creates unexpected behaviour - for example, with a password that contains a '{':
[code]

If the substring in the

[2017-02-06 11:56] gundalow commented on #21028
+1 to deleting

Eventually we will have some non-module specific docs under docs.ansible.com/ansible/dev_guide that will contain this

[2017-02-06 12:08] gundalow opened #21055 "iosxr_template: "src:" isn't idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_template
iosxr_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT

##### SUMMARY
iosxr_template is returning `changed` when running
[code]

**templates/basic/config.j2**
[code]
##### STEPS TO REPRODUCE
Assuming you have SSH keys setup
[code]

[code]
##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-06 12:39] gundalow commented on #21055
Same on `iosxr_config`

[2017-02-06 12:58] morph027 opened #21056 "proxmox_kvm : delete args"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

plus

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/proxmox_kvm.py

##### SUMMARY

Deleting ```args``` does not work.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

```args``` get's removed from vm config.

##### ACTUAL RESULTS

Playbook exits successful, but

[2017-02-06 12:59] morph027 commented on #21056
@helldorado : Any ideas? ;)

[2017-02-06 12:59] teresaejunior commented on #20431
Same issue on Ansible 2.2.1.0-1ppa~yakkety from the official Ubuntu 16.10 PPA. I had to edit _/usr/lib/python2.7/dist-packages/ansible/template/\_\_init\_\_.py_ and make sure the line read as `result = self._do_template(` so I could run my playbook!

[2017-02-06 13:42] fengor opened #21057 "Error message about conflicting issue should list the conflicting issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Error Message

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
##### SUMMARY
The error message says that there are conflicting action statements. Since ansible knows which ones at this point it would help to print them in the error message. This would make it more clear for new users which lines are the problem

###

[2017-02-06 14:00] Dinohead commented on #21013
Here is the top of the Git log corresponding to the checkout of 2.3 that we're using right now.

commit abe46dd75f6891d48dd3e7ed53c91f02d7c4d4ae
Author: Sascha Vogt <sascha@vogt-neuenbuerg.de>
Date:   Tue Jan 17 14:26:34 2017 +0100

[2017-02-06 14:06] dagwieers commented on #21052
@rgarrigue AFAIK you cannot set the role for file context mappings AFAIK. The SELinux API does not let you and you cannot do this with `semanage fcontext` either. I don't think you need it in your example either.

[2017-02-06 14:17] agaffney commented on #20431
You should create a new issue for that, as that is unrelated to the FreeBSD packaging.

[2017-02-06 14:24] alikins commented on #20998
I had to change the test case a little to get rid of some yaml errors while trying to reproduce this:

[code]

But with that hosts and playbook, running the playbook seems to do what I expected. The local connection is used for 'device.example':

[code]

[2017-02-06 14:26] alikins commented on #20998
Could you include the output from running the playbook with '-vvv' verbosity enabled?

[2017-02-06 14:28] bcoca commented on #20998
did you create a 'localhost' entry in your inventory?

[2017-02-06 15:13] alikins commented on #21003
'debug' will always show some of the details of the task result in its output. I can reproduce this behavior more or less:

[code]

results:

[code]

What version of ansible?

What configuration is in use?

[2017-02-06 15:19] gundalow commented on #21055
iosxr_config doesn't have this issue

[2017-02-06 15:25] alikins commented on #21046
I can reproduce this using URL

devel
[code]

2.2.1.0-1

[code]

stable-2.1

[code]

[2017-02-06 15:32] alikins commented on #21051
What ansible version?

[2017-02-06 15:34] stintel opened #21061 "package module fails with with_items and portage"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
package or portage module, not sure

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Gentoo

##### SUMMARY
Can't use package module with with_items and portage.

##### STEPS TO REPRODUCE
ansible-playbook -i hosts package.yml # with the hosts file containing a Gentoo host

[code]

##### EXPECTED RESULTS
The task usi

[2017-02-06 15:36] bcoca commented on #21046
I believe this works 'as expected', variables get templated 'on use' not on definition.

 I believe the 'not defined' error refers to role_path not being defined in the main task and so the important_var is erroring out (as it should). We might want to make that error clearer, but I don't see how changing this to work as you expect will be a good thing as then role_path would be set to whichever r

[2017-02-06 15:37] egonzalez90 commented on #20508
I can confirm the issue:

[code]

Expected result:

[code]
Actual result:

[code]

With Ansible 2.1 works as expected

[2017-02-06 15:42] AJamesPhillips opened #21064 "debug in pre_tasks errors with `'msg' is not a valid attribute for a Task`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug (in playbook pre_tasks)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The debug module in a playbook pre_tasks will error

##### STEPS TO REPRODUCE
Using the playbook:
[code]

##### EXPECTED RESULTS
It should run and report value of remote_user and ansible_user (or error as necessary)

##

[2017-02-06 15:45] bcoca commented on #21064
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-06 15:45] #21064 closed, assigned to nobody

[2017-02-06 15:50] bcoca commented on #8892
This has been fixed, not sure at which point, but using the original ticket's requirements.yml this works w/o issues:
[code]
as such, i'm going to just close this ticket

[2017-02-06 15:50] #8892 closed, assigned to nobody

[2017-02-06 15:50] alikins commented on #21053
This is a duplicate_of #10468
Fixed in commit ec8118ec413ed4fc27d6f95874ece5022df335e7

Fix is in versions 2.0, 2.1, 2.2 and devel.

[2017-02-06 15:50] #21053 closed, assigned to nobody

[2017-02-06 15:53] photoninger opened #21065 "lineinfile: string is converted to python dictionary"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]
and
[code]
##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
Running on macOS 10.12 against SLES-12.2

##### SUMMARY
My playbook adds line(s) to a config file.
The line(s) looks like a python or json dictionary.

##### STEPS TO REPRODUCE
dest file on server:
[code]

Playbook to show the bug
[cod

[2017-02-06 16:13] bcoca commented on #21046
so the 'wanted' behaviour here requires 'statically defined variables' which Ansible does not currently support, but it is a requested feature in #10374. So I'm going to close this issue in favor of that one.

[2017-02-06 16:13] #21046 closed, assigned to jimi-c, bcoca

[2017-02-06 16:16] leseb opened #21067 "Underscores in variables disappear during run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Task, ansible core.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

MacOS

##### SUMMARY

Putting underscore in variables results in the underscore "disappearing".

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

[code]

[code]

Using double underscores produces the same result.

[2017-02-06 16:18] bcoca commented on #20597
so the main issue here has to do with how Ansible lazily evaluates variables, for change in behaviour we have a request for non lazy evaluation in #10374, so i'm closing this as a duplicate.

[2017-02-06 16:18] #20597 closed, assigned to nobody

[2017-02-06 16:31] dav1x commented on #20904
recreated this @stobias123

Im working on a patch for it now.

[2017-02-06 16:38] alikins commented on #21067
The 2_2 is considered an integer by yaml. If it is meant to be the string "2_2", try quoting it as a string.

for

[code]

according to http://yaml.org/type/int.html:

[code]

output:

[code]

[2017-02-06 16:38] #21067 closed, assigned to nobody

[2017-02-06 16:57] alikins commented on #20986
I can reproduce this for devel/2.2/2.1.

The results look more or less the same, however for the devel branch I see some additional info in the output about atomic_move failures:

[code]

My reproducer playbook
[code]

devel out:

[code]

[2017-02-06 16:59] bcoca commented on #8913
!needs_contributor

[2017-02-06 17:04] hryamzik commented on #21051
Script is from latest devel, I didn't run it with ansible, just manually.

[2017-02-06 17:06] leseb commented on #21067
@alikins Thanks for the clarification.

[2017-02-06 17:13] alikins commented on #21038
Was this working previously?  If so, what versions did it stop working in.

Looking at the code, there isn't a lot going on on that check for datadog modules.

Can you verify that the datadog python modules are installed on target host?
For, a 'pip show -v datadog' from a shell on the target host (looks like 192.168.99.102 based on the output above)

[2017-02-06 17:14] hamr commented on #21026
Just noting that this prevents folks from using service/systemd modules in an installer environment like kickstart/anaconda.

[2017-02-06 17:16] bcoca commented on #21026
sadly list-unit-files won't find init scripts systemd can also manage .... rock meet hard place

[2017-02-06 17:40] dav1x commented on #20904
https://github.com/ansible/ansible/pull/21068

[2017-02-06 17:47] alikins commented on #21065
I can reproduce this with devel.

A version of example playbook with added debugging:

[code]

output:

[code]

[2017-02-06 17:47] alikins commented on #21065
And I don't think this is a bug in lineinfile, it seems to be a general ansible issue.

[2017-02-06 17:52] nerzhul commented on #20070
resolved_by_pr 20971

[2017-02-06 17:54] alikins commented on #21065
A simpler reproducer not involving lineinfile:

[code]

[2017-02-06 17:57] #20070 closed, assigned to jctanner

[2017-02-06 18:02] dav1x commented on #20106
@eastside-hustle : hmm, the datacenter param is now a required option. DC is a managed resource at the vcenter level. I'm certain this is related to the free version vs. vCenter.

@stanrate This is due to the default setting of wait_for_ip_address. I just tested the following play and it works as expected:

[code]

[2017-02-06 18:07] bcoca commented on #21026
@Koaxiel @hamr I don't have systemd chroot setup, see if you can confirm that #21072 fixes the issue for you.

[2017-02-06 18:09] bcoca commented on #21065
this is to be expected as 'type detection' will see any leading { or [ after templating as a dictionary and list respectively.

one easy way to bypass is adding a leading space

[2017-02-06 18:19] vladpanainte opened #21073 "GCE - Ansible - Service account insufficient permission for creating instances"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
After Google introduced the organizational node any project that doesn't belong to an organization will not allow ansible playbook to create resources

##### STEPS TO REPRODUCE
Run ansible playbook to create any instance in google cloud p

[2017-02-06 18:30] alikins commented on #21061
Was this working before? If so, what versions?

I suspect that 'portage' is not one of the package manager support for with_items and 'package' (it's not in DEFAULT_SQUASH_ACTIONS, the list of package manager that with_items squashes)

[2017-02-06 19:01] stintel commented on #21061
No idea if this worked before, I did not use the package module before.

[2017-02-06 19:26] dav1x commented on #20106
@stanrate Ok, I dug into this more. For the time being try to include datacenter: ha-datacenter in your play. I'm going to submit a PR to add it as a default. (thats the default datacenter regardless if you have vcenter or not)

@eastside-hustle I also dug into your issue some as well:

I installed a nested version of esxi 6.5 and created a VM on it.

I was able to change power states without an i

[2017-02-06 19:28] gundalow commented on #17311
Docs have been made live

[2017-02-06 19:32] dav1x opened #21074 "vmware_guest: No default Datacenter for non-vCenter configurations"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Attempt to use vmware_guest with a direct ESXi host without specifying a datacenter. You get an error.

If you install a fresh install of ESXi the default datacenter will always be:

govc ls
/ha-datacenter/vm
/ha-datacenter/network
/ha-data

[2017-02-06 19:38] jctanner commented on #20904
resolved_by_pr https://github.com/ansible/ansible/pull/21068

[2017-02-06 19:38] rgarrigue commented on #21052
Hi dagwieers

I spent some times reading about that. And indeed, role for files doesn't make senses. Then I'ld say, `serole` in `file` module may be useless, don't u think ?

Anyway as far as I'm concerned I've no real issue here, feel free to close this report.

Best regards,

[2017-02-06 19:40] gtirloni opened #21075 "docker_container - cryptic error message ("Boolean always not in either boolean list")"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
2.2.1.0

##### OS / ENVIRONMENT
Control Machine: Fedora 25
Hosts: CentOS 7.3

##### SUMMARY
While converting from the docker module to the docker_container module, a non-boolean value for the 'pull' parameter causes the following error:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "ms

[2017-02-06 19:41] #20904 closed, assigned to jctanner

[2017-02-06 19:54] bcoca commented on #21061
neither portage nor package are in teh squash items list, portage CAN accept a list to package, so I doubt that this is the issue.

[2017-02-06 20:17] wenottingham opened #21077 "include_role module docs list 'None' as default for `private` parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION
[code]

(also devel)

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7, Fedora

##### SUMMARY

include_role takes a `private` parameter, described as:
"If True the variables from defaults/ and vars/ in a role will not be made available to the rest of the play."

module docs list the default as 'None', wh

[2017-02-06 20:18] bcoca commented on #21008
I used centos 5 through 7, no changes. I don't know of anything that would produce this unless you are modifying python core itself.

[2017-02-06 20:57] alikins commented on #21077
Not sure what the docs should say here. The 'default=None" kind of matches lib/ansible/playbook/role_include.py.IncludeRole's _private attribute

[code]

[2017-02-06 21:14] rasputnik opened #21078 "trailing '}}' throws misleading error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Error handler

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Stray '}}' characters cause ansible to error out with this odd message:

[code]

Ansible points to the wrong part of the YAML. Have hit this a few times with new users and thought I'd flag it up

##### STEPS TO REPRODUCE

run

[2017-02-06 21:21] alikins commented on #21075
Fixed in ee9ab6c665c5a741b8e34091b1c072ef24b36b81

[2017-02-06 21:21] #21075 closed, assigned to nobody

[2017-02-06 21:30] sivel commented on #21078
I believe the error is correct.  It states:

You provided extra parameters, which in this case were just the 2 characters of `}}`.  Those characters could have been anything.  This is because the space between the `"` and the `}` cause the parser to believe you were adding another parameter.

If you were using the recommended pure YAML format of:

[code]

You would have gotten a syntax error.

[2017-02-06 21:35] jladdjr opened #21079 "Unable to use set_stats on stable-2.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
Running off of `stable-2.2`:

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

`set_stats` should be available on 2.2.1. Running a playbook with a `set_stats` task though gives:

`ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.`

[2017-02-06 21:35] jladdjr commented on #21079
Able to run same playbook successfully on `devel`:

[code]

[2017-02-06 21:36] jladdjr commented on #21079
FWIW:
* `set_stat` commit for 2.2: https://github.com/ansible/ansible/pull/19864
* `set_stat` commit for devel: https://github.com/ansible/ansible/pull/18946

[2017-02-06 21:50] rasputnik commented on #21078
Tried switching the playbook format and you're right, that error is far clearer.

Might be time to port over my old playbooks. Especially when giving tutorials etc.

Have we deprecated the old syntax yet though?

[2017-02-06 21:52] md5 commented on #20885
Is this the same issue that was fixed in https://github.com/ansible/ansible/commit/ec14572a60bd901bb52f80c2f0dbdaf1ada0eb8a? (cf. #20253, #20290)

[2017-02-06 22:01] Dinohead commented on #21013
I don't believe so. In my environment I still always get changed: false regardless of whether VM was present prior to execution.  We haven't done a checkout since your networking fix over the weekend. We were going to wait until this issue was corrected, but we can run against the latest and see if we have the same behavior?

[2017-02-06 22:07] jladdjr commented on #21079
(ping @bcoca)

[2017-02-06 22:08] jladdjr commented on #21079
@bcoca pushed a fix here:
https://github.com/ansible/ansible-modules-core/commit/c35850fd8e46b8702b0533ca0aceabfe69166ac2

[2017-02-06 22:08] bcoca commented on #21079
fixed via c35850fd8e46b8702b0533ca0aceabfe69166ac2

[2017-02-06 22:48] #21057 closed, assigned to nobody

[2017-02-07 00:32] #20869 closed, assigned to nobody

[2017-02-07 01:54] stanrate commented on #20106
The playbook contains the following task:

    vmware_guest:
      hostname: "{{dict.vcenter_hostname}}"
      username: "{{vcenter_username}}"
      password: "{{vcenter_password}}"
      validate_certs: 'false'
      name: "{{newhost}}"
      template: "{{mytemplate}}"
      folder: 'xxxxxxxxxxx'
      state: poweredoff
      datacenter: "{{ dict.datacenter }}"
      esxi_hostname: "{{ dict.esxi

[2017-02-07 03:21] lorin commented on #8913
It looks like multi-vm support was added in 8113409d3454fe834e0e380d3246ff480201ce0e. Closing this out.

[2017-02-07 03:21] #8913 closed, assigned to nobody

[2017-02-07 04:34] kd5ftn commented on #16259
Thanks all! I'm just learning Ansible and testing with a bunch of containers that all use SSH with 2FA using Google Authenticator. I confirm @broamski and @SaaldjorMike 's workarounds both work.

[2017-02-07 04:42] Tombar commented on #3269
Hitting this issue on 2.2.0.0, is there any workaround?

[2017-02-07 07:02] Koaxiel commented on #21026
I didn't test yet, but it seems limited to service unit and doesn't handle the timer, socket, etc units

Maybe, unlike service module, name parameter should be the entire name unit for this module

[2017-02-07 07:27] berlic opened #21084 "Ansible 2.2.1 breaks default() filter for hostvars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible 2.2.1 brakes behaviour of `default()` filter and `is defined` test for `hostvars` dictionary.

##### STEPS TO REPRODUCE
Test playbook. There is no `ghost` host defined in inventory.
[code]

##### EXPECTED RESULTS
In Ansible

[2017-02-07 07:33] urajio commented on #20398
**ANY** ansible command ends with error now. ansible-vault too.

[2017-02-07 07:39] olafnorge commented on #21038
Sorry, I can't tell because I started using it at `ansible 2.2.1.0`.

The modules are not installed on the target host but on the ansible controller.

Why do I have to install the modules on the target host? From my understanding emitting events with the help of ansible about f.e. a deployment is nothing the target should care about.

I come to that opinion because the slack integration works the

[2017-02-07 07:52] olafnorge commented on #21038
Ok, I added the `delegate_to: localhost` instruction to my datadog task and it works as I expected it to do.

@alikins Do you think it makes sense to update the documentation accordingly?
I also suggest to adjust the error message so that it clearly states where one should install the datadog libs.

F.E.: `datadogpy required for this module. Please install on {{ target }} host` where the placehold

[2017-02-07 07:55] helldorado commented on #21056
@morph027 oup's , the state `present` take the precedence. i will add update => Yes|No paramater and use set method to modify the KVM.

[2017-02-07 08:36] robinro commented on #20954
@denisemauldin You already found the place in the code so if you are interested in contributing to ansible this might be a good start. I'd be happy to review the change (not a core member, though).

The appropriate thing to do would probably be using shlex.quote, but this is python>=3.3 only. We can use the one-liner implemented there, though:
https://hg.python.org/cpython/file/3.6/Lib/shlex.py#l3

[2017-02-07 08:42] peerster commented on #18915
@Thingee Thanks (a bit late reponse, didn't get notified).

As it works using the `project` parameter in ansible 2.2.x it's no longer an issue for me.
But I agree that it should give a more useful error message.

[2017-02-07 08:49] peerster commented on #18914
@rcarrillocruz In case you missed it, your patch for shade is merged https://review.openstack.org/#/c/384404/ :+1:

[2017-02-07 08:50] frittentheke commented on #15599
To me @ssbarnea is right in first questioning, that lookup('env', $variable) does simply return an emtpy sting if the variable is undefined on the host system.

But secondly that this at least needs to be clearly documented if intentionally done this way.

[2017-02-07 08:57] furkanmustafa commented on #15892
Escaping once works for invoking a command, but doesn't work for getting stdout out of it. because it registers the whole shell invocation payload *unescaped*, and fails trying to pull stdout out of it.

After pulling out my hair, I had to do the following ugly workaround, and now it works.

[code]

Also, if I could do something like the following, I would not have to go to that extreme;

[code]

[2017-02-07 08:59] frittentheke commented on #17329
@nitzmahone @FlorinAndrei an additional switch seems the least painful way to fix this (to not break things people have running now).

But the wording "allow_undefined" in this context could imply that the environment variable may be undefined, which is exactly the opposite of what a user could want to configure.

I suggest "undefined_if_missing" or something that's more explicit about the state o

[2017-02-07 09:01] photoninger commented on #21065
But why does it only detect a dictionary in one of my three lines and not also in the other two?
I would expect that either all three are detected as dictionaries or none of them.

[2017-02-07 09:38] berlic commented on #20885
As a temporary workaround I pipe broken object trough json:
`{{ broken_object | to_json | from_json | to_nice_yaml }}`

[2017-02-07 09:41] LowTechInc opened #21086 "Failed to import docker py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

OS X

##### SUMMARY

When module docker_container is used, it fails every time with
[code]
However the 'pip freeze' shows docker-py is installed.

[code]

I tried uninstalled docker 2.0.2 but that didn't make any difference.

##### STEPS TO REPR