[2016-08-03 12:21] ranjithpulluru opened #16932 "Apply patch to JBoss EAP through Ansible"
##### ISSUE TYPE
- Feature Idea
##### SUMMARY
- Apply patch to EAP through Ansible.
##### ADDITIONAL INFO
- A more minimalist approach would be have the ability to test whether a patch needs to be applied or not using the jboss-cli.

[2016-08-03 12:22] Gui13 commented on #16929
I fixed my issue by forcing the use of **scp** instead of **sftp** in my ansible.cfg:

[code]

I still don't know the reason why sftp-server would fail in that case (whereas is seems to behave correctly for all the previous files...).

[2016-08-03 12:45] deejay2 commented on #16017
It does but it doesn't support sftp. That's why I add:
scp_if_ssh = True

[2016-08-03 13:11] bcoca commented on #16931
plays objects don't have access to hostvars, normally only extra vars can be used in `hosts:`

[2016-08-03 13:12] jctanner commented on #16894
@abugher-at-nvidia sorry, I jumped the gun on this one. Re-opening.

[2016-08-03 13:16] trondhindenes commented on #16931
okay, so there's no way for me to dynamically inject a variable to be used with `hosts:` from within a playbook?

[2016-08-03 13:28] srgvg opened #16933 "The order of the hosts in a group_by updated group is not guaranteed to be the same between runs"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### SUMMARY

The order of the hosts in a group_by updated group is not guaranteed to be the same between runs.

Adding a serial: 1 in the play where group_by is done seems to be a workaround
##### STEPS TO REPRODUCE

Just do a group_by, and do repeated runs, and debug check the order of the nodes in the creat

[2016-08-03 13:33] jctanner commented on #16894
@abugher-at-nvidia yes, it's true that we defer the password handling to sshpass as that's tried and true method of doing it. I believe many of our users are expecting sshpass to act only if necessary, rather than enforcing that the connection require a password.

[2016-08-03 13:36] tima commented on #15405
Also may be related to #16865

[2016-08-03 13:45] jctanner commented on #16894
@abugher-at-nvidia if you are certain that all of your inventory hosts + their logins require password auth, one option is to specify the ssh args you want in ansible.cfg ...

[code]

A quick test proves this to create the expected behavior ...

[code]

Is that a viable solution for your environment?

[2016-08-03 13:50] jean-christophe-manciot opened #16934 "[regression] Exception in nxos_nxapi"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- **Local host**: Ubuntu 16.04 4.4.0
- **Target nodes**: NX-OSv 7.3(0)D1(1) (last release available in Cisco VIRL)
##### SUMMARY

Running nxos_nx

[2016-08-03 14:03] NomAnor opened #16935 "Ansible facts override special variables"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.1.0
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

Linux Mint 17
##### SUMMARY

Ansible facts generated by the setup module will override special variables like _ansible_user_.
##### STEPS TO REPRODUCE

I have a server wich acts as a router and I renamed the network interfaces so it's easier to see wh

[2016-08-03 14:11] bcoca commented on #16927
duplicate of #16878

[2016-08-03 14:11] #16927 closed, assigned to nobody

[2016-08-03 14:13] amirsamary commented on #16790
I have the same problem here.

[2016-08-03 14:13] alikins commented on #16915
Is '/etc/ansible/facts.d' readable by the ansible user?

is 'diskutil' on the ansible users PATH?  (it's invoked once as '/usr/sbin/diskutil' and once as 'diskutil' in the facts script).

How are you invoking the facts collection? 'ansible' or 'ansible-playbook'?
What params?

[code]

Where is the 'filter' value of 'ansible_local' coming from?

[2016-08-03 14:23] alikins commented on #16932
Could you elaborate on what 'Apply patch to EAP through Ansible.' means?

This sounds like it is probably a request for a new module. If that is the case, it would be better to open a feature request issue on https://github.com/ansible/ansible-modules-extras/issues and provide more details there.

If the feature requires changes to ansible/ansible, we can reopen this bug.

[2016-08-03 14:23] #16932 closed, assigned to nobody

[2016-08-03 14:26] SergK opened #16936 "Digest authentication mechanism doesn't work for uri module"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

ansible host:

[code]

target host:

[code]
##### SUMMARY

Digest authentication mechanism doesn't work for [uri module](https://github.com/ansible/ansible-modules-core/blob/devel/network/basics/uri.py)
##### STEPS TO REPRODUCE

gerrit-user.json

[code]

For now work around is to use `

[2016-08-03 14:37] haad commented on #16878
Would it be possible to bring this behavior back, maybe disabled by default?

[2016-08-03 15:24] jean-christophe-manciot commented on #16934
Transferred to [**ansible-modules-core**](https://github.com/ansible/ansible-modules-core/issues/4311).

[2016-08-03 15:24] #16934 closed, assigned to nobody

[2016-08-03 15:29] Gugli opened #16937 "Blocks: rescue or always not run when error comes from a run_once task"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Out of the box config on Ubuntu14
##### OS / ENVIRONMENT

Ansible runs on Ubuntu14, targeted machines on Ubuntu16.
##### SUMMARY

Using `run_once` on a task inside a block prevents `rescue` and `always` sections to be correctly triggered.
##### STEPS TO REPRODUCE

Run this playbook on any inventory file. This is basic

[2016-08-03 15:32] Gugli commented on #16937
Might also be somewhat related to #16050.

[2016-08-03 15:33] aabouzaid commented on #15915
Handlers -even in a single playbook and no include- are not fired at all in 2.1.1.0!

[2016-08-03 15:52] furiml commented on #16915
Hello and thank you for replying :+1:
I'll try to answer your questions :

Yes, user is owner of the /etc/ansible directory and subdirectories (did chown -R)

Yes, I can use it without writing /usr/bin/diskutil when logged on the remote machine with the account I use. I guess I've been lazy in my fact script... Thanks for pointing that out.

I'm running this command :
`ansible myhost -m setup -a "

[2016-08-03 16:25] 2bithacker opened #16938 "ansible_python_interpreter ignored in 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running Ansible on Mac OS X 10.11.6
Managing a variety of hosts, but mostly FreeBSD 10.3-RELEASE
##### SUMMARY

I upgraded Ansible to 2.1.1.0 via homebrew, and can no longer run commands on my remote systems. I have ansible_python_interpreter set in a vars file, which was working fine pr

[2016-08-03 16:29] amirchoudhri opened #16939 "Issue with backslash '\' in powershell scripts"
- Bug Report
##### ANSIBLE VERSION

ansible --version
ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

No significant changes
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS - Ansible Server
Windows Server 2012 R2 - Target device
##### SUMMARY

Hi,

When trying to execute a powershell script which uses backslash to refer

[2016-08-03 17:15] jpic commented on #11957
Same here on master:

[code]

For me, this is trigger on a wait_for task.

[code]

Moar debug on the symptom:

[code]

[2016-08-03 17:24] jpic commented on #11957
Apparently this happens when adding a host of the same name as an existing group name, can you confirm that @all ?

[2016-08-03 19:12] abugher-at-nvidia commented on #16894
Yeah, sure, that should work.  My work-around was to just use paramiko, but we could also modify the args and continue using SSH.

OK.  What about setting the order of preferred authentication methods, then?  Otherwise, I don't think I have a proposed solution.

Do we consider it a bug that in certain cases ansible will hang with no output, waiting for sshpass, which is waiting for ssh, which is w

[2016-08-03 19:23] bhavinkamani opened #16941 "ansible_all_ipv4_addresses is empty when run on alpine linux"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

ansible fact variable `ansible_all_ipv4_addresses` shows up as empty on alpine linux. From what I have discovered, `ip` command that comes with alpine linux does not carry `flags` options for `primary/seconday` devices. Here's the help message of the command

[code]

This

[2016-08-03 20:45] bcoca commented on #16909
Currently ansible does not support this,  we are discussing  a solution https://github.com/ansible/proposals/issues/23

[2016-08-03 20:48] cloudnull commented on #16913
@odyssey4me +1, I've updated the issue message.

[2016-08-03 21:45] jimi-c commented on #16749
So testing out my performance branch (https://github.com/ansible/ansible/compare/performance_improvements), and upping the level of recursion even to 200 levels deep results in an execution time of about 33 seconds:

<pre>
$ time ansible-playbook -vv test.yml -e max_depth=200
...
PLAY RECAP *********************************************************************
localhost                  : ok=601  c

[2016-08-03 21:55] vincelugli opened #16942 "Become sudo hangs on first sudo on OSX."
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tasks / become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
##### OS / ENVIRONMENT

OSX Version 10.11.4
##### SUMMARY

The first time a user uses `sudo` there is an extra prompt, which is above any prompt specified with `-p`. This causes `become: yes` to hang if the user has never used `sudo` before.

`check_password_prompt` [looks for the

[2016-08-03 22:33] xyjrshank commented on #5564
It appears you can use the map(attribute='') workaround in combination with "with_together" to operate on multiple attributes from a dictionary entry concurrently. I've used this in a few playbooks and so far it seems pretty reliable and simplifies the output to just the attributes you care about.

[code]

[2016-08-03 22:39] jeremyeder commented on #16749
James -- hopefully you saw the results I sent you by email.

On Aug 3, 2016 5:46 PM, "James Cammarata" notifications@github.com wrote:

[2016-08-03 23:19] xen0l commented on #15642
I also experience this problem and would like to fix it. Is changing the shell to /usr/bin/pfsh enough or other solution is desired?

[2016-08-03 23:42] vacri commented on #16912
It's certainly an edge case, and one that doesn't concern me too much for myself (usually my systemd stuff is pretty simple; I'm not an expert). I just wanted to flag it as a 'thing'.

I'm happy to use bcoca's workaround. If systemd itself doesn't report that the installation status of something is now effectively 'partial', it's probably a bit much to expect a query tool to cover an edge case tha

[2016-08-04 01:34] evantahler commented on #5564
That's a nice work-around @xyjrshank!  That looks like it also might be able to be moved into a [jinja2 extension](http://docs.ansible.com/ansible/intro_configuration.html#jinja2-extensions) for a terser syntax: `{{ instances | map(attribute='instance_name') | list }}` => `{{ instances | extract('instance_name') }}`

[2016-08-04 03:32] jimi-c commented on #16749
@jeremyeder I did, those were using this performance branch? I was under the impression that those were with restructured playbooks rather than a different branch.

[2016-08-04 05:47] xiemeilong opened #16944 "'list' object has no attribute 'items'\r\n""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-08-04 08:02] passw0rd123 commented on #13278
@amenonsen with Ansible **2.1.1.0** and turning `pipelining = False` the Problems with privilege escalation (`su`) on Solaris 11.3 x86 seem to be gone. I have to look deeper and verify if the setup I mentioned in the latest post still persists...

[2016-08-04 08:10] hryamzik commented on #16749
Is there any ETA for getting this in released version?

[2016-08-04 08:41] riemers commented on #16790
Try `sudo -H pip install --upgrade ansible --user python` [since this happens due to the System Integrity Protection introduced in OS X El Capitan.](http://stackoverflow.com/a/33687813/1928509)

[2016-08-04 08:48] ados1991 commented on #16875
Hi here pysphere version :

[root@ansiblelocal ansible-dashboard]# pip2.7 show pysphere                     You are using pip version 7.1.0, however version 8.1.2 is available.

## You should consider upgrading via the 'pip install --upgrade pip' command.

Metadata-Version: 1.1
Name: pysphere
Version: 0.1.7
Summary: Python API for interacting with the vSphere Web Services SDK
Home-page: http://pys

[2016-08-04 09:20] jody-frankowski opened #16945 ""Can't add group to itself" error doesn't report the right offending line"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### SUMMARY

The "Can't add group to itself" type of error doesn't report the right offending line.
##### STEPS TO REPRODUCE

Use this inventory:

[code]

Run `ansible all --list-hosts -i inventory-test`.
##### EXPECTED RESULTS

Report the right offending line.
##### ACTUAL RESULTS

[code]

[2016-08-04 09:39] ThoTischner opened #16946 "Hipchat Callback not working"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS7
##### SUMMARY

Hipchat Callback: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/hipchat.py
is not working.
Vars can not be set.
##### STEPS TO REPRODUCE

Enable hipchat callback via ansible.cfg whitelisting.
Configure the required Hipchat ENV-Vars.
Run

[2016-08-04 09:48] jhawkesworth commented on #16939
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-04 09:48] #16939 closed, assigned to nobody

[2016-08-04 10:12] brutto opened #16947 "ansible-galaxy not working with github repo @ 2.1.0.0"
i've installed 2100.

[code]

then run `sudo ansible-galaxy install -r /vagrant/provisioning/requirements.yml` and get this error message:

[code]

**requirements.yml**

[code]

I've found some topics about similar bug, but all of them fixed or closed. =\
Where im wrong?

[2016-08-04 11:16] joaocc commented on #10374
Anyone has a workaround for this? Thx

[2016-08-04 11:17] joaocc commented on #10374
Also, this seems to be related to https://github.com/ansible/ansible/issues/15439.

[2016-08-04 12:15] clark0806 opened #16948 "The vars_files is skiped but the variables in vars_files still can be used"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.1.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
#### Scenario:
- The localhost in the group \" application_hosts \"
- In the /group_vars/application_hosts file : ( defined a variable 'Enviroment' )
 Environment: stage
- I made other variables in another file : **vault/stage/hello.yml**
 username: Clar

[2016-08-04 12:34] jeremyeder commented on #16749
Those were using both restructured playbooks and your branch.

[2016-08-04 13:00] jimi-c commented on #16749
@hryamzik the goal is to get this into 2.2, which is aiming for a September release. Since this patch introduces some fairly major restructuring internally, I'd really like some additional testing on it to make sure we have a good level of confidence that nothing was horribly broken before merging it into devel.

@jeremyeder excellent, I didn't realize Andrew had gotten past some of the early bugs

[2016-08-04 13:03] jeremyeder commented on #16749
Will do...but not until end of next week /cc @mffiedler @timothysc @abutcher

[2016-08-04 13:17] ghost commented on #14667
## I got the same issue again when using Windows Subsystem for Linux(ubuntu 16.4).

I fixed it by running `pip install backports.ssl_match_hostname`

[2016-08-04 13:37] koman-maciej opened #16949 "Skipped filter doesn't work"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
skipped filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ask_vault_pass = True
roles_path = ../ansible-common-roles

##### OS / ENVIRONMENT
Src/Dest OS Ubuntu 14.04

##### SUMMARY
The problem is similar to #4455
I'm trying to use skipping jinja filter, but it seems that it does not work.

[code]
Assumption: 'Install kernel for Ubuntu' task

[2016-08-04 14:18] amishra123 opened #16950 "What is the best way to install ansible?"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

I have installed ansible using pip install ansible on mac os x.
But as mentioned on ansible website there is no such directory as /etc/ansible.
Also,couldnt find the file ansible.cfg. Is this the right way to install or I am missing something?
##### STEPS TO REPRODUCE

[2016-08-04 14:24] bcoca commented on #16950
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-04 14:24] #16950 closed, assigned to nobody

[2016-08-04 15:00] bxt commented on #15525
@mvlach @civis-scott Your problems are strongly related to #11536 so you could try [changing the `control_path` to use a hash as suggested there](https://github.com/ansible/ansible/issues/11536#issuecomment-153030743) to avoid switching to IP addresses.

[2016-08-04 15:09] jctanner opened #16951 "broken plugins cause UnboundLocalError: local variable 'obj' referenced before assignment"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

PluginLoader.all() creates a variable named "obj" in try/except, raises a warning if failed and then attempts to use the variable later even though it may not exist.
##### STEPS TO REPRODUCE

Create a bad plugin file in "filter_plugins" and run a playbook with a debug: va

[2016-08-04 15:38] dissnn opened #16952 "Conditionals ignored when block is inside an include"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Conditional check `when` don't working for `block` in included task that included after another `include` that used  `with_items`. Look at `STEPS TO REPRODUCE` below.
##### STEPS TO REPRODUCE
- **1.yml**

[code]
- **2.yml**

[code]
- **3.yml**

[code]

Let's run `ansible-playbook`

[code

[2016-08-04 15:45] jctanner commented on #16951
Fixed by https://github.com/ansible/ansible/commit/b0786a1845366a5fb81a40f7a8fd42d556556f7a

[2016-08-04 15:45] #16951 closed, assigned to nobody

[2016-08-04 15:48] kustodian opened #16953 "Ansible reads group_vars from cwd with precedence"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu/CentOS
##### SUMMARY

If the inventory and the playbook are not in the current working directory (cwd), and `group_vars` exists in cwd, Ansible will read variables from `cwd/group_vars` and will even give them precedence. This only happens if the same file exists in both group_vars o

[2016-08-04 16:43] maximede commented on #16775
Any idea of how I could maybe work around this ?

[2016-08-04 17:36] johnmcconnell commented on #16789
@patchsmyle I am curious as well!

[2016-08-04 17:44] patchsmyle commented on #16789
I actually found the issue and how to fix it.
1.  I did not have a properly formatted .ansible.cfg for Ansible 2.1
2.  Under the ssh_args key, I added two values:
     -o ForwardAgent=yes -i /path/to/the/pkcs11.so/file/on/your/system/pkcs11.so
3. On my system i found the transport for 'smart' didn't use SSH, so I manually chose 'ssh' as the transport.

Tip:  If you don't know where your pkcs11.so

[2016-08-04 17:46] Challa-shekhar commented on #11702
i keep getting this when trying out       Ansible 2.1.0.0

[code]

I am trying to copy the mw installer that is 1 GB. the target system has 16 GB memory and has lot of space left..the master from where i run ansible has 1 GB of RAM.

[code]

execution.", "stdout": ""}

[2016-08-04 17:54] tkinz27 opened #16956 "ansible behaviour inventory variables not being picked up from group_vars in 2.1.1"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Just upgraded to ansible 2.1.1 and noticed I could not ssh to any of my nodes anymore. Realized the ssh command that is being used to connect is not including the `-o 'IdentityFile=` or the `-o User=` flags. We set the `ansible_user` and `ansible_ssh_private_key_file` variables

[2016-08-04 18:02] nordjc commented on #16868
It also appears that retries behaviour changed in 2.x from being _initial try + retries_ to just being _total tries_.  I'm working on a pull request to fix this handling of `None` and restore the original 1.x behaviour.  That is, if `retries = 3`, then ansible should attempt once and up to 3 additional times for a total of 4 attempts.  However, even 1.x had what was IMHO misleading output in that

[2016-08-04 18:27] #16347 closed, assigned to nobody

[2016-08-04 18:56] MadVikingGod commented on #16937
I can confirm this bug.  It does not happen on v2.1.0.0-1, but everything later does not work correctly.

I have narrowed it down to fbec2d9692cdbbddda1f6ecb68bbca67e3b783b4  linear.py lines 364 and 365.

Reverting this part of that patch will fix this but, but I think will also undo the fix for #16937.

A real fix for both of these issues is to not treat run_once as any_error_fatal, and have a di

[2016-08-04 19:38] apenney commented on #9984
Just hit this one with s3

[2016-08-04 20:12] kustodian commented on #16956
You need to give an example of an inventory and a playbook which will reproduce this issue, so that the devs can easier fix it.

[2016-08-04 20:26] jschank opened #16960 "Ansible is generating different JSON from the YML play definition on different control machines"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running from Centos 6.8
Python 2.6.6
##### SUMMARY

The uri module is generating different json for the request body, on different machines. Same playbooks.
##### STEPS TO REPRODUCE

This is in my play:

[code]
##### EXPECTED RESULTS

I used requestb.in to see what the request body looks

[2016-08-04 21:34] nitzmahone commented on #16873
We've struggled with this in our Windows CI env as well- looks to be related to the lowering of the default WinRM operation timeout to 20s in pywinrm 0.2.0 (guilty). For whatever reason, the first WinRM request to a newly created instance can take a _very_ long time, regardless of how long you wait to make it...

For now, you can work around this by increasing the winrm operation/read timeouts via

[2016-08-04 21:43] tima commented on #16909
@jagibson: Adding to what @bcoca already said, Galaxy is not a package manager. It does not require or enforce a contract on versioning that would make the logic you are expecting possible. More of my thoughts [here](https://github.com/ansible/ansible/issues/6466#issuecomment-234387668).

Would you be willing to share how you find yourself in this position? Are you trying to use public roles? It w

[2016-08-04 21:57] retr0h commented on #13563
I love how these assumptions are made without consulting the community.  As the person who introduced this change into 1.9, I find this rather annoying.

[2016-08-04 22:19] bcoca commented on #16882
can you check against devel? my tests indicate this was fixed by issue merged above

[2016-08-04 22:20] jimi-c commented on #16882
I just tested this against devel, and it appears f7570f1dc4c75795f48c0fe0fff1edb467f8df2f did fix this, so we'll go ahead and close it now. This will also be included in the next release (2.1.2 and/or 2.2.0).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://gro

[2016-08-04 22:20] #16882 closed, assigned to bcoca

[2016-08-04 22:33] jimi-c commented on #12239
@lberruti check out my performance improvements branch: https://github.com/ansible/ansible/compare/performance_improvements

In your test case above, execution time went from over 26s to ~9.5s on my system. This is still quite a bit slower than 1.9.x on my system (which runs in about 2.5s), however it's quite an improvement (the include issue is also fixed there).

[2016-08-04 22:45] jimi-c commented on #16881
@Blackbaud-BenKrebsbach, @defionscode's point was that if you simply used `dir1` in your example above, it would include all files in that directory. Now, we do not allow (nor do we have any plans to) that directory depth to exceed one level, but that has not been a limitation others have had a problem with in the past.

If you would like to discuss this further, I would recommend either submittin

[2016-08-04 22:45] #16881 closed, assigned to nobody

[2016-08-04 23:04] jimi-c commented on #15915
@AAbouZaid if that is the case, please open a new issue for it.

[2016-08-04 23:20] #16907 closed, assigned to nitzmahone

[2016-08-04 23:35] abadger commented on #11348
just confirmed that the test that was proposed in comment https://github.com/ansible/ansible/issues/11348#issuecomment-215874147 is currently passing in devel and stable-2.1

[code]

Please open a new bug report with a reproducer and we'll be happy to look into what could be happening.

[2016-08-05 02:43] sunyaxiong opened #16967 "win_user fails with name=** state=query"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

 default config
##### OS / ENVIRONMENT

Ubuntu 14.04
Python2.7.6
##### SUMMARY

When I use win_user module's 'name=*\* state=query' , that can not return the *\* 's user account details, is there has a bug
##### STEPS TO REPRODUCE

this is the screenshot
![error](https://cloud.githubusercontent.com/assets/8956366/1742

[2016-08-05 05:56] arcolife opened #16968 "bash array 'element count' operation error in ansible"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configs

##### OS / ENVIRONMENT
running from Fedora release 24 (Twenty Four)
managing Fedora release 24 (Twenty Four)

##### SUMMARY
For reference, I've opened a question about the same here: http://stackoverflow.com/q/38781813/1332401
The bash operation with the character `#` results

[2016-08-05 07:50] vbotka commented on #13179
As a first step I change the login shell to /bin/sh for the user at host.

[code]

This works for me with the fresh FreeBSD droplets at digitalocean.com (user:freebsd, ssh-key configured, sudo configured, python/perl installed). More details can be found at  https://github.com/vbotka/ansible-do-freebsd-bash

[2016-08-05 08:47] aabouzaid commented on #15915
@jimi-c After some debugging I found the problem was actually in the playbook itself (my problem not main one in this post).
Thanks a lot (y)

[2016-08-05 10:22] toxeek opened #16969 "ovirt module (start Vm) used by Ansible 2.2.0 and Python 2.7 seems broken"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report

[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-05 10:25] toxeek commented on #16969
My temporaty solution due to the error being
UnboundLocalError: local variable 'nic' referenced before assignment

# vim /usr/lib/python2.7/site-packages/ansible/modules/extras/cloud/misc/ovirt.py

(GOTO: line 331)

[code]

[2016-08-05 12:04] alkedr opened #16970 "docker_image doesn't accept state: build in 2.1.1.0"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default ansible.cfg.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker_image should accept `state: build` but doesn't.
##### STEPS TO REPRODUCE AND ACTUAL RESULTS

[code]

##### EXPECTED RESULTS

According to http://docs.ansible.com/ansible/docker_image_module.html `state: build` should be deprecated, not removed.

[2016-08-05 12:05] alkedr commented on #16970
Wrong repository, sorry.

[2016-08-05 12:05] #16970 closed, assigned to nobody

[2016-08-05 12:20] hxpro commented on #14426
Did you try debug your ssh server at nodes? How much time take ssh login to node? Try to add `UseDNS no` to `/etc/ssh/sshd_config` file on the nodes.

[2016-08-05 13:03] LarsPotratz opened #16971 "Docker connection ignores 'ansible_docker_extra_args' when querying docker server version."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.1.1.0
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Docker 1.9+
##### SUMMARY

Docker connection ignores 'ansible_docker_extra_args' when querying docker server version.
##### STEPS TO REPRODUCE

Use docker connection without local docker server running and 'ansible_docker_extra_args' set to remote docker host.
##### EXPECTED RESULTS

S

[2016-08-05 13:18] jctanner commented on #16912
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-08-05 13:18] #16912 closed, assigned to nobody

[2016-08-05 13:20] jimi-c commented on #14112
Here are the results of your example on my performance improvement branch (https://github.com/ansible/ansible/compare/performance_improvements):

<pre>
$ time ansible-playbook -vv site.yaml > /dev/null
real    0m0.724s
user    0m0.589s
sys 0m0.091s
</pre>

That branch has a lot of improvements in the way we do things internally (and completely avoids serialization of objects), so it appears that w

[2016-08-05 13:24] jimi-c commented on #16913
@cloudnull does my performance_improvement branch help with this issue?

[2016-08-05 13:33] bcoca commented on #16969
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-08-05 13:33] #16969 closed, assigned to nobody

[2016-08-05 13:47] jctanner commented on #16915
@Furiml what output do you see when you ssh to the remote host and execute the fact script directly?

[code]

[2016-08-05 13:54] jimi-c commented on #15803
@foofoo-2 / @zerodotfive I've been working on a performance improvements branch, which you may wish to give a try to see if it helps speed things up:

https://github.com/ansible/ansible/compare/performance_improvements

In a lot of situations, I've seen a 2.5x improvement in execution time.

[2016-08-05 13:55] jimi-c commented on #12684
Going back looking at older issues, and it appears that this is resolved by the additional ssh argument fields provided in 2.0+

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - f

[2016-08-05 13:55] #12684 closed, assigned to nobody

[2016-08-05 14:21] jpic opened #16972 "Exception when using a group name in delegate_to"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
An exception is raised when:
- adding a host with a given group name,
- having a task with delegate_to: the_group_name
- having a play for that group.
Pretty interresting indeed.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESUL

[2016-08-05 14:37] bcoca commented on #16968
`{#` is a jinja2 comment operator, you need to escape this, `{%raw%}` should be able to do this but our code is not honoring it.

[2016-08-05 14:41] jpic commented on #16972
Potential duplicate of #15746, not sure.

[2016-08-05 14:59] jameshartig opened #16973 "Expand hosts patterns to allow partial intersections and negations"
##### ISSUE TYPE
Feature Request

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Host patterns that include intersections end up applying the intersection onto all patterns.

##### STEPS TO REPRODUCE
Applicable groups:
[code]
Hosts from affected play
[code]
Even though `preagg` is it's own pattern, it's being intersected with

[2016-08-05 14:59] jctanner commented on #16919
@LarsFronius I might be missing context because the example is contrived, but what is the purpose of using to_json?

In 2.1.0 and 2.1.1 I get the behavior you are expecting if I drop the to_json filter and only use list.

[2016-08-05 15:00] ajain17 opened #16974 ""unsupported parameter for module: gather_subset""
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I recently upgraded to ansible 2.1 from 1.9.1 in our development environment. I use virtualenv to install ansible 2.1 using pip. Recently while running the playbook, I got this error:

fatal: [xxxxx-dev.com]: FAILED! => {"changed": false, "failed": true, "msg": "unsupported

[2016-08-05 15:01] bcoca commented on #16967
can you execute the same using ad-hoc?

`ansible -m win_user -a "name=sunyaxiong state=query" -i 10.2.66.142, all`

[2016-08-05 15:05] haisamido opened #16975 "S3 modules destroys file and fails with 'text file busy'"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

`Linux ip-172-31-5-115 4.4.5-15.26.amzn1.x86_64 #1 SMP Wed Mar 16 17:15:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
`
##### SUMMARY

S3 modules destroys file and fails with 'text file busy'
##### STEPS TO REPRODUCE

The below task works if executables,  **mnem_extract_server** is not run

[2016-08-05 15:09] jimi-c commented on #16825
We did identify another scenario in which this bug can occur regardless of installation method, so I've pushed a commit to fix it.

Thanks again!

[2016-08-05 15:15] 2bithacker opened #16977 "ansible_default_ipv6 fact uses link-local address"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No relevant changes.

##### OS / ENVIRONMENT
Running Ansible on Mac OS X 10.11.6
Managing FreeBSD 10.3-RELEASE-p4

##### SUMMARY
On FreeBSD hosts, the ansible_default_ipv6 facts will return the link-local address, which isn't useful for communication between hosts on separate networks.

[2016-08-05 15:20] jctanner commented on #16925
@zentavr I am unable to reproduce via this testcase ...

[code]

Result

[code]

Am I missing something from your description?

[2016-08-05 15:27] bcoca commented on #16919
the changed behavior is not in with_items, it is that to_json is actually "working" and returning a string. So fixing the bug with to_json broke this misuse of it.

Also list and templating are not needed for a simple empty list.

[code]

[2016-08-05 15:27] bcoca commented on #16919
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.
- https://gr

[2016-08-05 15:27] #16919 closed, assigned to nobody

[2016-08-05 15:29] bcoca commented on #16973
marking this as a 'feature' as `:` and lists (`,`) are equivalent so it is all the same 'host pattern'

[2016-08-05 15:30] bcoca commented on #16973
this is equivalent to what you have above

[code]

currently there is no way to have 'multiple patterns'

[2016-08-05 15:36] jctanner commented on #16928
@xuqingfeng As far as I can tell, defining host:port in the inventory has never worked. Is there documentation somewhere that lead you to believe it should work?

[2016-08-05 15:41] SteveEdson commented on #13278
I'm not sure if any of these solutions are any good to me, I have the following task which is ran through `ansible local` on my Mac (10.11.5).

[code]

And I get the following error every single time

[code]

The task should take milliseconds, so I'm not sure what is timing out, and why.

I'm running ansible with `ansible-playbook -i "localhost," -c local --ask-become-pass playbook.yml`

[2016-08-05 15:44] jctanner commented on #16929
@Gui13 does -every- transfer in sftp mode hang, or just some?

[2016-08-05 15:48] mediocregopher commented on #16973
Hey there, working with @fastest963 on this one, what's the recommended way for us to do this then? do we just have to duplicate the playbook code for each group of servers?

[2016-08-05 15:57] adamchainz commented on #13278
@SteveEdson your issue is unrelated as there is no timeout problem, open a new issue. It seems to be that your `sudo` is expecting input.

[2016-08-05 15:58] SteveEdson commented on #13278
@adamchainz is this not the same issue? My error "timeout waiting for privilege escalation password prompt" is the same as this issue title? (With the exception of "password")

[2016-08-05 16:13] jctanner commented on #16931
@trondhindenes no, not currently. This has always been a situation where extra vars is the only way to populate vars inside the host pattern.

[2016-08-05 16:13] #16931 closed, assigned to nobody

[2016-08-05 16:43] adamchainz commented on #13278
I think it's different because it has no '(12s)', so it's coming from a different timeout. Also no one else here is reporting the 'waiting for input' thing

[2016-08-05 16:49] jctanner commented on #16933
@srvg per our irc convo, would be nice to have a simple reproducer to demonstrate the issue.

[2016-08-05 16:55] jctanner commented on #16935
@NomAnor can you provide an example of the facts that come back from the host?

[2016-08-05 17:00] srgvg commented on #16933
See https://gist.github.com/srvg/bbc05198f033337cbb4b599c13839092 for a full example.

[2016-08-05 17:12] jctanner commented on #16937
cc @jimi-c

[2016-08-05 17:35] jctanner commented on #16938
@2bithacker interpreter paths with spaces was only just recently introduced back in to devel and will be allowed in the next release. For now, it won't work to have "/usr/bin/env xxx" as the interpreter path and you will need to make it absolute.

This is the commit that re-introduces the feature:
https://github.com/ansible/ansible/commit/a9aea3c6d4d1e76ed9b9afb372e75ee55f53ede4

EDIT:

I was mist

[2016-08-05 17:38] jctanner commented on #16938
As far as the group var setting the path, I am able to make it work with a non-spaced path ...

[code]

and with a spaced path ...

[code]

[2016-08-05 17:42] jctanner commented on #16938
@2bithacker can you provide the -vvvv output please?

[2016-08-05 17:59] gotgenes commented on #14341
@mazubieta

Are you aware of [Ansible roles](http://docs.ansible.com/ansible/playbooks_roles.html#roles) as an organizational tool? Ansible roles look like the answer to your concerns. From your layout, for example, if you created a `jenkins` role and a `rundeck` role, then you could have a top-level `ci.yml` file like

[code]

[2016-08-05 18:09] gotgenes commented on #14341
@bcoca Do [the rules defined in your above comment](https://github.com/ansible/ansible/issues/14341#issuecomment-234559431) describe the behavior of the current release of Ansible (2.1.1.0 as of today), or do they instead describe the desired behavior for some future release of Ansible? I am guessing it is the latter, because this feature

appears absent in 2.1.1.0.

[2016-08-05 18:16] akuhlman-cec commented on #12170
+1

[2016-08-05 18:49] jctanner commented on #16941
@bhavinkamani what user were you logged in as when you ran ansible?

I see the same behavior as you, but it is fixed by running ansible as root or connecting as root over ssh.

[2016-08-05 18:55] jimi-c commented on #16937
@Gugli / @MadVikingGod the above branch is a first attempt at fixing this. Still needs some work but I think the basics are there. I still need to:
- go through our other strategy plugins and base strategy to make sure at least in our code we're using integer results values now
- my logic for the handler stuff (and vs. or) is probably not right, but haven't tested it yet (shippable is running on i

[2016-08-05 18:57] jimi-c commented on #16937
Hrm, and it looks like I've got some other bit of logic wrong.. this test succeeded but there was a non-zero exit code:

https://app.shippable.com/runs/57a4dfa5d640fc0d00f90f97/5/console

[2016-08-05 18:57] jimi-c commented on #16937
<pre>
$ ansible -m ping localhost
localhost | SUCCESS => {
    "changed": false,
    "ping": "pong"
}
$ echo $?
1
</pre>

[2016-08-05 19:27] 2bithacker commented on #16938
Here's the -vvvv output:

[code]

I changed my ansible_python_interpreter to not contain a space, and the problem persists.

[code]

and a -vvvv run with that option in place:

[code]

Either setting for ansible_python_interpreter is working fine with 2.1.0.0.

[2016-08-05 19:34] jagibson commented on #16909
@tima Not using public roles.  Everything is in git.  The main roles are version-pinned in requirements.yml and role dependencies are also version-pinned.
I suppose you are right that galaxy is not a true package manager, but in many ways it's similar.  I think it's already close enough to a package manager that more and more people will have the expectation that it handles version conflicts bette

[2016-08-05 19:40] ryansb commented on #16975
So this only happens if you try to send an executable that's currently running to S3, is that correct? Can you tell me what platform you're running on?

[2016-08-05 20:00] msghaleb commented on #16873
@nitzmahone Matt, you are very right! this has fixed my issue! I will work around it this way then.

Re: "I may go back to pywinrm and increase the default timeouts again" --> that could be a good idea, as I'm sure others are facing this too.

Many thanks 👍

[2016-08-05 20:01] lberruti commented on #12239
@jimi-c now [perftest](https://github.com/lberruti/ansible-perftest) runs both tests (include/no_includes)

| play | includes | no_includes |
| --- | --- | --- |
| 1.9.6 | 5.6 | 2.2 |
| performance_improvements | 36.1 | 8 |

Here the complete results: https://gist.github.com/lberruti/4283cb336b0d0cb1950b94bf3e92ab62

[2016-08-05 20:12] bcoca commented on #16973
I don't have a workaround

[2016-08-05 20:14] jctanner commented on #16938
@2bithacker where is the group_vars directory in relation to the cwd when you run ansible?

[2016-08-05 20:18] 2bithacker commented on #16938
It's in the cwd.

[code]

BTW, looks like #16956 may be the same issue I'm having.

[2016-08-05 20:34] jctanner commented on #16938
@2bithacker what is the output of this command?

[code]

[2016-08-05 20:55] jhawkesworth commented on #16873
Hey, great that there's a workaround for this.
I think I remember one of the features of Powershell 5.0 was 'reduced start up time' so I wonder if windows might start responding more quickly once Server 2016 is available.  I guess starting powershell is only part of the problem though, all sorts of dll caching and who knows what happening when the host first boots.  Oh and the possibility of daily

[2016-08-05 21:13] 2bithacker commented on #16938
Under 2.1.1.0:

[code]

Under 2.1.0.0:

[code]

[2016-08-05 21:18] nitzmahone commented on #16873
I've filed on bug for this on the pywinrm side just for tracking (https://github.com/diyan/pywinrm/issues/123)- what I'll probably do is implement polling on at least the open_shell operation in pywinrm (similar to what we already do for receive). That way, as long as the server keeps talking to us and saying "didn't finish but still working on it" we'll wait. That allows the steady state server o

[2016-08-05 21:21] jhawkesworth commented on #16873
That sounds like a great plan.

[2016-08-05 21:24] ryanlovett opened #16982 "ziploader lock failure"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

executor/module_common.py
ziploader
##### ANSIBLE VERSION

[code]

I'm using the ansible ppa:

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Possibly related to this closed bug:
https://github.com/ansible/ansible-modules-core/issues/3504

This error happens every time I run ansible-playbook.
##### STEPS TO REPRO

[2016-08-05 21:56] inconshreveable commented on #14141
This is an important issue and remains open in ansible 2.1.1.0. @coxley how did/are you working around this?

[2016-08-05 22:56] hesamg commented on #16350
@jctanner I believe this is duplicate of https://github.com/ansible/ansible/issues/14489

[2016-08-05 22:56] #16350 closed

[2016-08-06 00:04] tameek commented on #13116
closed issue but wanted to reiterate that @tgrzemski suggestion worked for me!

[2016-08-06 00:44] xuqingfeng commented on #16928
Here: http://docs.ansible.com/ansible/intro_inventory.html

[code]

[2016-08-06 00:45] haisamido commented on #16975
platforms are AWS Linux, identical for both ansible and target machine.  When using the Ansible S3 module to copy an executable and send to target machine, it removes the target executable and then claims that 'text file busy', so we no longer have an executable; however, if the executable is not running all is good.  When we use the AWS CLI tools all is good all the time.

[2016-08-06 00:57] alvaroaleman opened #16983 "Regression in 2.1.1: {group,host}_vars from cwd get ignored if inventory is a directory"
##### ISSUE TYPE
- Bug Report and regression, this works fine in 2.1.0
##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

Create a directory layout like this:

[code]

Execute `ansible-playbook playbooks/playbook.yml` from top level directory and try to use a variable that is defined in `host_vars/localhost`

A testcase can be found here: https://github.com/alvaroaleman/ansible-testcase-group

[2016-08-06 02:08] pleegor opened #16984 "the file_name <filename> does not exist, or is not readable"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

OS X with 3 CentOS vagrant boxes
##### SUMMARY

When I am trying to move file from directory using copy module I am getting "the file_name <filename> does not exist, or is not readable" error
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I woul

[2016-08-06 03:05] dccampbell commented on #13563
The hackish solutions to utilizing remote roles are bad enough as it is, this is yet another hoop to jump through. It already feels absurd there's no way to have a playbook just automatically download it's requirements, now on top of reminding everyone they have to run galaxy first they have to pass a path argument along with it. We're going to end up writing bash scripts just to execute our playb

[2016-08-06 03:25] lae commented on #13563
That is effectively what I just did, isn't it. (see above)

[2016-08-06 03:39] dccampbell commented on #13563
It is, and my implication was that it's a pretty big red flag that something is wrong with the workflow when that's the necessary solution.

[2016-08-06 04:56] amenonsen commented on #16928
It should certainly work, and does for me (`foo:2222` in the inventory results in `-o Port=2222` being added to my ssh command line).

[2016-08-06 07:21] hswong3i commented on #16983
Confirm with the case as reported, all of my ansible roles/playbook pass test with Travis CI since the test case inventory file located one level above {group,host}_vars directory, but always ignore {group,host}_vars directory when running manually, e.g. https://github.com/pantarei/ansible-playbook-ubuntu/tree/master:

[code]

Which means these works:

[code]

But this not works

[code]

[2016-08-06 08:23] danielkza commented on #7788
The documentation is still wrong with the broken example:

[code]

Either the module should be fixed or the documentation should be updated.

[2016-08-06 09:45] jinnko commented on #16956
I reproduced this problem on the stable-2.1 branch a week ago and it's still an issue today.

I'm expecting the following to be the way things work, based on documentation and from experience prior to 2.1.

[code]

Eventually figured out the following does work.

[code]

Notes about the setup:
- playbooks are in the `plays/` folder
- `hosts/` is a folder containing multiple inventory files
- the `

[2016-08-06 09:47] jinnko commented on #16721
I think this is the same problem as in #16956

[2016-08-06 09:48] jinnko commented on #16953
I believe this is a similar issue to #16956

[2016-08-06 13:03] trondhindenes commented on #16255
While we wait for a way of tagging I think we just have to double down and list out the modules that work on windows so that there's a definite list somewhere.

[2016-08-06 17:32] tzookb commented on #5352
joining @kareblak question....

[2016-08-07 04:58] cristol commented on #15279
I had the same difficulty with CentOS 6 as @jmalacho. His comment about installing with pip was what helped me to get my installation working properly. I'm pleased that ansible is now working in a way that matches the documentation. Though, in retrospect, I'm not as pleased with how I got here.

I think this should be viewed as a packaging problem in CentOS, not a documentation issue. Installing a

[2016-08-07 11:00] cloudnull commented on #16913
@jimi-c Using the performance branch I no longer see this issue at all, which is awesome!

[2016-08-07 14:36] mschuchard opened #16988 "ansible-playbook --syntax-check now behaves erratically for two situations"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 15.10
##### SUMMARY

`ansible-playbook --syntax-check` is behaving very erratically for two situations.
##### STEPS TO REPRODUCE

Example one:

[code]

[code]

[code]

[code]

Example two:

[code]

[code]
##### EXPECTED RESULTS

For `ansible-playbook --syntax-check` to behave non-erratically in the above sit

[2016-08-07 16:14] inabhi9 opened #16989 "Extra vars with argument `-e` needs space for the first var"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu: 14.04 LTS
##### SUMMARY

Extra vars with argument `-e` needs space for the first var
##### STEPS TO REPRODUCE

[code]

To run this with argument I use:
`ansible-playbook -i inventories/staging.ini test.yml -e="my_var=abc"`

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code

[2016-08-07 16:22] amenonsen commented on #16989
And that is the entire problem. You should be using `-e "my_var=abc"`

[2016-08-07 16:28] inabhi9 commented on #16989
My bad. Issue can be closed.

[2016-08-07 16:31] #16989 closed, assigned to nobody

[2016-08-07 20:03] ViViDboarder commented on #14668
I've read over this issue and I'm having trouble determining if there is something else I need to set. In my hostvars I have ansible_connection=ssh for the desired host. I also put scp_if_ssh in just about everywhere I could. In hostvars and in my ansible.cfg. When I try to run the ping module I see it make an ssh connection and then attempt an sftp connection still. No scp.

[code]

Is there some

[2016-08-07 20:30] hlieberman commented on #16747
This has been reported downstream as [Debian bug #833281](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=833281).  The submitter notes that their playbooks worked in the 2.0 series, but broke in the 2.1.  (They mix up the versions in the report, but the report is clear nonetheless.)

[2016-08-08 01:56] SupremeGit commented on #14075
This behaviour is goddamned ridiculous. What is the goddamned point of check mode, when you can't even tell what tasks are going to run?

Sometimes the stupidity of Ansible just boggles the mind.

The current behaviour is an utter disgrace, and turns any use of ansible in a production environment into a game of russian roulette.

Ansible needs to fix this IMMEDIATELY.

[2016-08-08 02:01] SupremeGit commented on #9508
So, a year and a half later, and people are still playing russian roulette.

Sp. people are expected to run ansible scripts on production machines, when the check mode does not even reliably tell you which tasks will run?

Unbelievable.

[2016-08-08 02:36] sunyaxiong commented on #16967
this screenshot is the return value of win_ping and win_user, and the win_user 's return is same  as Console:
![error-winuser](https://cloud.githubusercontent.com/assets/8956366/17467700/af6510d8-5d53-11e6-919e-b0fdf12d6641.png)

@bcoca

[2016-08-08 05:05] muktip opened #16990 "Variables not resolved with include statements"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Variables do not resolve and error out as undefined when using _include_ statements in tasks. When you replace the below code for /duck/main.yml with anything but 'include' statements, it works fine. I have verified that this is not an issue in 2.1.0.
##### STEPS TO REP

[2016-08-08 06:27] coxley commented on #14141
I've since moved on from my previous workplace where I was using Ansible in prod. IIRC, I had to do what I was doing differently hoping it would be fixed soon. :)

[2016-08-08 06:58] SupremeGit commented on #4478
IF ITS BEEN DONE, BUT NOT PUSHED, THEN WHERE THE HELL IS IT??

[2016-08-08 06:59] SupremeGit commented on #4478
3 GODDAMN YEARS AGO
AND IT'S NOT DOCUMENTED.

HOPELESS.

[2016-08-08 07:01] SupremeGit commented on #4478
IF IT IS NOT DOCUMENTED, THEN IT MIGHT AS WELL NOT EXIST.

REMOVE IT.
IF YOU"RE NOT GOING TO DOCUMENT IT.

[2016-08-08 07:17] jamessewell commented on #14270
This doesn't seem to work anymore (2.2.0).

I get handler unknown, which stops when I define an actual task instead of an include

TASK [common : command] ********************************************************
ERROR! The requested handler 'reload postgresql' was not found in any of the known handlers

[2016-08-08 07:20] h0nIg opened #16992 "with_flattened tries to evaluate strings that looks like real variables"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
with_flattened lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
with_flattened tries to evaluate strings that looks like real variables and quits with a warning

##### STEPS TO REPRODUCE
[code]
see https://groups.google.com/forum/#!topic/ansible-project/Oz6c8wz16nI

##### E

[2016-08-08 07:30] h0nIg commented on #16992
the workaround described on https://github.com/ansible/ansible/issues/14900 does not work:
[code]

result:
[code]

[2016-08-08 07:37] h0nIg commented on #16992
the workaround described on https://github.com/ansible/ansible/issues/14900 does not work:

[code]

[code]

[2016-08-08 07:38] h0nIg commented on #14900
according to https://github.com/ansible/ansible/issues/16992 the workaround does not work

[2016-08-08 08:16] foofoo-2 commented on #15803
@jimi-c: thanks for your message. I'm going to make a new build of your performance_improvements branch and try it out on our development infrastructure. I'll let you know the outcome as soon as possible.

[2016-08-08 08:37] furiml commented on #16915
Hello and thank you for replying. You may have found what's wrong...
I get this output :
`-bash: ./corestorage.fact: /usr/local/bin/python^M: bad interpreter: No such file or directory`
This could be why it doesn't work, but...

[code]

Where does this

 come from ?
I tried to change the sha-bang with the full path to the python interpreter (/Library/Frameworks/...) but it doesn't work either, sam

[2016-08-08 10:03] SupremeGit commented on #14050
ssbarnea is correct.

WARNINGS WERE NOT MEANT TO BE IGNORED.
... UNLESS I SPECIFICALLY DECIDE TO IGNORE THEM.

But the useless fools who develop ansible seem to believe they can spew a billion useless warnings AND THEN NOT EVEN ALLOW ME TO HIDE THE WARNINGS I HAVE CAREFULLY CONSIDERED AND DECIDED TO IGNORE.

How is anyone supposed to notice REAL warnings they might actually be interested in, when

[2016-08-08 10:29] susurri commented on #15597
prompt = 'doas'
or
prompt = 'doas (%s@' % self.remote_user

would work.

[2016-08-08 11:09] trondhindenes opened #16993 "Add yaml_file module similar to ini_file_module"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
new yaml module

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
More and more applications are using yaml files for config. It would be fantastic to have a yaml_file module similar to the existing ini_file module where one could inject specific settings without having to template the entire file.

##### STEP

[2016-08-08 11:41] shalk commented on #16790
I met a similar problem. when i  installed ansilbe by `whl` in centos7.
I solved it . I hope it wil be helpful.

when i  run, i got this :

[code]

I hacked into the code  and printed the exception. I found my setuptools is too old.

[code]

so  I  --upgrade my setuptools .( I installed  python-setuptools by `yum`)
the warning disappeared.

[2016-08-08 12:05] ssbarnea commented on #14050
@SupremeGit I hope people will not take you comments personal and instead will what it really matters. I do sustain your points, less the way of putting it ;)

[2016-08-08 12:32] gbirke opened #16994 "Unneccessary warning when creating archives"
##### Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When creating an archive with the `tar` command, I get a warning that is misleading in this context.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Task runs without warnings
##### ACTUAL RESULTS

The command runs as expected, but the output contains the following message:

[code]
##### WORKAROUND

[2016-08-08 12:39] kispaljr opened #16995 "Role and 'vars file' search path changes after including a playbook from another directory"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes in default config
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Including a playbook that is in another directory than the outermost main playbook messes up the search path for both roles and 'vars files'.
##### STEPS TO REPRODUCE

Try to run this playbook:

[code]

If the `my_role` role and the `params.yml

[2016-08-08 12:48] Wenzel commented on #9980
Hi !
I still have this issue here, even with the latest version of ansible(`v2.1.1.0`) and pywinrm (`v0.2.0`).

I am trying to upload a zip file on Windows 7, using `win_copy` and i always end up with `FATAL: error during file transfer` error, code `500`.
I know that my file size is big (1.1 GB), but it is working very well on Windows 8.1 and Windows 10.

I tried to fix the code by adding a `while

[2016-08-08 12:55] ralfbergs opened #16996 "Dynamic Inventory: Security Group: dashes WILL be converted"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In the docs it says in section "[Example: AWS EC2 External Inventory Script](https://docs.ansible.com/ansible/intro_dynamic_inventory.html#id6)":

`Security Group: Instances belong to one or more security groups. A group is created for each security group, with all characters except alp

[2016-08-08 12:56] bcoca commented on #14050
@SupremeGit  soo, you basically want `warn: off` ? the command module already has this.

[2016-08-08 12:57] daysofwineandroses commented on #16984
The copy module does not copy files between locations on the target system itself; it copies files from your local box to remote locations, see http://docs.ansible.com/ansible/copy_module.html

You will have to either clone the repo on your local machine or use a different approach as explained [here](http://stackoverflow.com/a/24165405).

[2016-08-08 12:58] bcoca commented on #16984
Unless you are using `remote_src=True`, which does exactly that.

[2016-08-08 12:58] bcoca commented on #16984
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.
- https://gr

[2016-08-08 12:58] #16984 closed, assigned to nobody

[2016-08-08 13:01] bcoca commented on #16996
This is controllable by a setting in ec2.ini `replace_dash_in_groups = True`

[2016-08-08 13:01] bcoca commented on #16996
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-08 13:01] #16996 closed, assigned to nobody

[2016-08-08 13:02] bcoca commented on #16994
use the option ```warn: False``` to disable this warning

[2016-08-08 13:02] bcoca commented on #16994
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2016-08-08 13:03] bcoca commented on #16994
`warn=no` will not suppress any warnings aside from those that 'recommend' existing modules as an alternative to commands.

[2016-08-08 13:03] bcoca commented on #16994
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-08 13:03] #16994 closed, assigned to nobody

[2016-08-08 13:13] bcoca commented on #16993
this is already trivial to do with a template:

[code]

[2016-08-08 13:13] foofoo-2 commented on #15803
@jimi-c: so, I just installed the new release you suggested on our development infrastructure and unfortunately the execution time did not improve:

[code]

Previous execution time (with 2.1.1): around 480 seconds
Current execution time (with 2.2.0): around 490 seconds

Please have a look at the measurement attached for more details (upgrade done at around 1:55pm).

![ansible-run-duration](https:/

[2016-08-08 13:18] bcoca commented on #15597
So the issue is that older versions of doas worked with just `Password`, this change would be backwards incompatible, but this might be OK as doas is brand new and I don't expect many users to stay with the older versions.

[2016-08-08 13:21] trondhindenes commented on #16993
my use case is this (I should probably have included this in the issue itself):
Say that I have an application which relies on yaml files, for example the datadog agent.
On my node I have multiple services I want to monitor using datadog, and each service corresponds to a line in the yaml file (this is not exactly how it is, I'm simplifying deliberately).
If I create a role for each service I woul

[2016-08-08 13:24] ralfbergs commented on #16996
When I comment out the `replace_dash_in_groups` setting in `ec2.ini`, the default behavior should apply, right?

And the default behavior seems to be that dashes _are_ replaced by underscores.

So it seems to be that the documentation is not correct in this respect?

[2016-08-08 13:24] bcoca commented on #16993
Still easy to remedy with a few tasks:

[code]

^ not a working set, but you get the idea

[2016-08-08 13:26] trondhindenes commented on #16993
Excellent point. I'll try that. Thanks!

[2016-08-08 13:28] bcoca commented on #16996
It has changed over time, so it depends on the version you are using, the setting should still control the outcome. I'll x2 check the docs to see if the match the current version and adjust if needed.

[2016-08-08 13:31] ralfbergs commented on #16996
Yes, the setting controls the outcome, I checked that the setting is working _if_ explicitly specified.

But again, the default seems to be opposite to what's in the docs, and I seem to be using the latest released Ansible version, so they docs should apply.

Thanks!

[2016-08-08 13:34] bcoca commented on #16996
this commit should clarify the docs 1838eeba96aa1504f47fa18f3bc070fafde5d952 (it won't be effective immediately).

[2016-08-08 13:43] jimi-c commented on #12239
Full results from my system:

<pre>
[jamesc@jimi ansible-perftest]$ ./perftest.sh
******************** stable-1.9
*** perftest
         396004 function calls (390728 primitive calls) in 2.839 seconds
   Ordered by: internal time
   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
     4987    1.839    0.000    1.839    0.000 {posix.waitpid}
      310    0.392    0.001    0.392

[2016-08-08 13:52] ralfbergs commented on #16996
Yes, looks good. Thanks.

[2016-08-08 13:59] caseylucas commented on #16721
@bcoca Can you provide any more information (bug num perhaps) about the `bug in 2.0 that loaded group_vars from cwd`?

[2016-08-08 14:08] jctanner commented on #16915
@Furiml did you edit the file in windows?

http://its.ucsc.edu/unix-timeshare/tutorials/clean-ctrl-m.html

[2016-08-08 14:29] bcoca commented on #16967
tested against current ansible and I cannot reproduce, are you sure you are not using an older version of the win_user module? that option was added in 1.9

[2016-08-08 14:30] alikins commented on #16944
Looking at the stack trace, this appears to be a bug in the 'docker' module in ansible-module-core.

We would appreciate if you can submit this there (https://github.com/ansible/ansible-modules-core)
instead. (If we move it, the owner of the issue resets to ansible instead of you).

[2016-08-08 14:30] #16944 closed, assigned to nobody

[2016-08-08 14:34] jimi-c commented on #4478
http://docs.ansible.com/ansible/playbooks_loops.html#iterating-over-the-results-of-a-program-execution

[2016-08-08 14:38] bcoca commented on #14075
dupe of #9508

[2016-08-08 14:38] #14075 closed, assigned to nobody

[2016-08-08 14:43] alikins commented on #16946
Looks like the 'self.play' error has been fixed in devel/ already, and https://github.com/ansible/ansible/pull/16998 is a pr to fix the 'self.display' issue.

[2016-08-08 14:47] bcoca commented on #9508
Actually, this has been fixed already

[code]

when run:

[code]

results:

[code]

[2016-08-08 14:49] bcoca commented on #9508
@SupremeGit  before assuming the 'unbelivable' on tickets, please see if the issues still apply, this is the 3rd such case in which you leave very strong comments on things that were already addressed.

[2016-08-08 14:55] alikins commented on #16947
If possible, try this with a higher level of verbosity enabled, ie:

[code]

I suspect it is a SSL/TLS related issue, so the extra verbosity should provide some details.

[2016-08-08 14:58] abadger commented on #16638
There were some errors like this during development but I thought we'd fixed the last of them by adding a sitecustomize.py file to the remote module.  The problem with finding urlsplit and urlparse should have been fixed with this commit:

[code]

Is this still happening with an up-to-date checkout?  Could you post the git hash for it?  (By running ansible --version and posting the output here).

[2016-08-08 14:58] bcoca commented on #16956
so inventory as a directory is just a 'container to inventory files', we might need to clarify this in the docs, the group_vars needs to be adjacent to the inventory FILES, not the directory.

[2016-08-08 15:04] #16946 closed, assigned to alikins

[2016-08-08 15:09] alikins commented on #16948
Which version of ansible?  ie, output of 'ansible --version'?

[2016-08-08 15:15] zarnovican commented on #14075
For anybody reaching this ticket.. this is not a bug.

What was not obvious to me (or you), is that you need to run check mode with at least one verbosity level enabled to see the difference. This was implemented pre-2.0.

[code]

[code]

[2016-08-08 16:16] alikins commented on #16960
(note: I did some minor reformatting on initial report)

All the systems in question are using the same ansible, os, and python versions?

The playbook goes through jinja2, then pyyaml, then the module args through the ansible module arg spec, and then the remote module will eventually json.dumps(body) to create the request body.

If some of the systems have a python version prior to 2.6, they cou

[2016-08-08 16:19] jimi-c commented on #15803
@foofoo-2 ok, can you share a small playbook which reproduces the issue for you so I can compare it across versions?

[2016-08-08 16:23] n2aws opened #17001 "2.1.1.0-1 dict parsing errors"
Edited,  didn't realize I had half of this report listed within comment blocks,  so they didn't appear.  Apologies!
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Xenial
##### SUMMARY

I have a group_vars/all/foo dict that has not caused any issues until 2.1.1.0-1.  With this version, the dict seems to be incorrectly parsed, even if

[2016-08-08 16:31] dagwieers opened #17002 "Design a facts plugin system"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
facts plugin

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
As a consultant I have needed something like this at various companies, and I solved it using custom inventory script. But a custom inventory script you cannot easily share with others.
What I need is a way to add additional facts to during facts g

[2016-08-08 16:43] bcoca commented on #17002
So a couple of things that have been discussed and would impact this:
- give gather_facts a list of modules to execute (config and/or play level entry)
- restructure inventory to use plugins (leaving script.py as a plugin so current scripts keep working)

[2016-08-08 16:43] jinnko commented on #16956
@bcoca if I understand correctly you're saying that the behaviour has intentionally changed between 2.0 and 2.1?  If that's the case I've come across no communication of this breaking change within the 2.x major version.

[2016-08-08 16:56] alikins commented on #16974
Whats the ansible configuration?

That error usually means there are old modules somewhere on the module path ('library').
Check your configuration for module paths and look for old or duplicate modules.

[2016-08-08 16:58] alikins commented on #16975
This appears to be a submission about the 's3' module.

We would appreciate if you can submit this there (https://github.com/ansible/ansible-modules-core)
instead. (If we move it, the owner of the issue resets to ansible instead of you).

[2016-08-08 16:58] #16975 closed, assigned to nobody

[2016-08-08 17:11] bcoca commented on #16956
no, the behavior changed 'unintentionally' from 1.9 to 2.0 and we corrected it in 2.1

[2016-08-08 17:11] ajain17 commented on #16974
Forgot to update here:

After struggling for two days, I finally understand why it was failing.

The reason was that I had a default configuration setting in ansible.cfg that was making ansible pick up system ansible libraries from /usr/share/ansible instead of virtualenv where we were installing the libraries. The system ansible libraries were outdated on the host we were running the playbook on,

[2016-08-08 17:16] bcoca commented on #16983
duplicate of #16956

[2016-08-08 17:16] #16983 closed, assigned to nobody

[2016-08-08 17:44] alikins commented on #16992
(some info from the https://groups.google.com/forum/#!topic/ansible-project/Oz6c8wz16nI url reference above pasted here for reference)

[code]

The warning:

[code]

Here is the ansible-playbook command:

[code]

Note that the netgroups variable is set with the extra-vars option to a list in the ansible-playbook command. After changing ['netgroups'] to '{{netgroups}}' in the code, this error is re

[2016-08-08 17:46] ralfbergs opened #17004 "ec2_group: Small error in "rules" option description"
##### ISSUE TYPE

- Documentation Report
##### SUMMARY

On https://docs.ansible.com/ansible/ec2_group_module.html there is an error for the `rules` parameter. It says:

It _should_ say:

[2016-08-08 17:47] alikins commented on #17001
Have an example playbook that demonstrates this?

[2016-08-08 17:49] alikins commented on #16982
Would it be possible to retry this with the 'stable-2.1' or 'devel' branch from git? There have been some ziploader and module building changes in both branches that may be related.

[2016-08-08 17:53] #14101 closed, assigned to abadger

[2016-08-08 18:05] listx commented on #7732
It also happens with 2.1.1.0. Here is what I get back with -vvv:

[code]

[2016-08-08 18:08] abadger commented on #14101
@hxw The PR #17003 that I just committed should solve this.  The PR is now on the devel and stable-2.1 branches.

[2016-08-08 18:17] ryanlovett commented on #16982
I'll try stable-2.1 out-of-band and report back.

[2016-08-08 18:28] bcoca commented on #14857
so it worked for me cause of 'test bias', now it should work for everyone via ce282e93730243ebf5373ac604d5d1cb74bebd20.

[2016-08-08 18:28] #14857 closed, assigned to nobody

[2016-08-08 18:45] bcoca commented on #16988
Not sure i understand the problems:
- In the first case you are defining 2 plays, the 2nd one does not have 'hosts' defined so you get the appropriate error.
- In the second case, Ansible gives you the best approximation it can to where the error is (normally the 'last good part parsed').

What else were you expecting? can you define 'non-erratically'?

[2016-08-08 18:47] n2aws commented on #17001
I do,   but it doesn't appear to be playbook specific.

group_vars/all/user,     I have a dict in the form of:

[code]

<snipped for brevity, but I have about 4 groups (like ops)  and about 40 users in total in my dict.>

playbook:

[code]

And finally,   in the hostgroup:

[code]

[2016-08-08 18:49] n2aws commented on #17001
Not that context is necessary,   the normal dict is used by a role we've created to manage users on various machines.   This particular playbook was a 1off to add a new DBA to all of our mysql servers at once, without performing a full ansible run against the fleet.

This same setup worked prior to upgrading from a previous 2.1.x version,  to 2.1.1.0-1 this morning.

[2016-08-08 18:59] agaffney commented on #17001
To add to this, there was someone in #ansible a few days ago showing what appeared to be a non-lazy evaluation of lookup() inside group_vars that weren't referenced by anything in the play. It exhibited as ansible taking much longer to startup than it had in previous versions. It also started with the upgrade to 2.1.1.0

A general problem with vars being evaluated at parse time rather than when re

[2016-08-08 19:17] jctanner commented on #16949
@koman-maciej Before the final task, please add these four debug tasks and then give us the -vvvv output ...

[code]

[2016-08-08 19:18] jctanner commented on #16974
@ajain17 yes, this is definitely a behavior of having an out of date setup module with a newer ansible.

[2016-08-08 19:18] #16974 closed, assigned to nobody

[2016-08-08 19:48] jctanner commented on #16977
@2bithacker what is the output of this command on the freebsd box?

[code]

[2016-08-08 20:07] 2bithacker commented on #16977
[code]

[2016-08-08 20:21] dagwieers commented on #17002
Right, the way I envisioned it was a directory of plugins that would automatically be included by ziploader and run as part of setup (remotely). That is, a plugin could offer a part that can be run remotely (to gather new facts from the system) or run locally (to add/modify facts based on existing facts or by connecting to other infrastructure). So in fact a plugin could offer both.

And maybe, wh

[2016-08-08 21:50] RRAlex commented on #16878
Strange, this has always worked for me (tm), even before 2.1.0 and all the way to 1.9.x.
Am I missing something or is it now quite hard to organize playbooks without doing a bunch of "ln -s" to the group_vars / host_vars from within all the playbooks folders?

[2016-08-08 22:11] mschuchard commented on #16988
The first example shows that by inserting the line:

[code]

in a playbook, the following output is triggered:

[code]

I don't see this as expected behavior.

---

The second example shows that by including a file with a syntax error, the following error is triggered:

[code]

I don't understand how this can be expected behavior either.

The double guess I already reported in #15948, so I am not

[2016-08-08 22:18] keywork opened #17009 "unarchive remote source from http URL fails"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Running Ansible from Arch Linux 4.6.4-1-ARCH
Target machine is running Centos 7.2.1511   3.10.0-327.22.2.el7.x86_64
##### SUMMARY

Attempting to run the unarchive task to download and extract an http URL yields an error   FAILED! => {"changed": false, "failed": true, "msg": "Unable to f

[2016-08-08 22:24] alikins commented on #16977
I suspect module_utils/facts.py:GenericBsdIfconfigNetwork:

[code]

That

[code]

would seem to clobber the default_ipv6 setup in get_default_interfaces with the first address from the ifinfo['ipv6'] list, in this case "fe80::1e6f:65ff:fe69:48b6%alc0"

[2016-08-08 23:27] bcoca commented on #16988
For the first one:

This is ONE play (which is totally valid and will just gather facts on the 'whatever' hosts):

[code]

This is a SECOND play:

[code]

Which is missing `hosts:`, which is required for every play, hence the error.

On the second, I really don't see how reporting an invalid task list is wrong nor unexpected.

[2016-08-08 23:28] bcoca commented on #16988
I believe you want one play:

[code]

[2016-08-09 01:00] SupremeGit commented on #9508
I searched for this info. I did not find it. instead, i ended up here, where other people had noted the issue, and it appeared their valid concerns had been ignored.

When are people going to understand, that if it is not documented, it may as well not be implemented.

[2016-08-09 01:06] SupremeGit commented on #14075
Thanks for the tip. That does go a long way toward alleviating the issue.
Still, I believe it would've a significant improvement if the difference could be seen without -v.

[2016-08-09 01:10] SupremeGit commented on #14050
Ah.
Ok, i stand corrected. Thanks for the tip. Apologies for my attitude. Christ on a bike, Ansible is a frustrating and annoying thing at times. It does wind me up.

[2016-08-09 02:28] wesgarrison commented on #16352
Same issue.  Fresh brew install of ansible.  I ran the test script with same results and have the same `ansible-galaxy` file.

`pip install --upgrade urllib3` did not work for me.

Happy to provide more supporting info, but it appears to be exactly what `php-coder` reported.

[2016-08-09 05:16] LukeDRussell opened #17010 "ios_facts - LLDP exception errors on IOS12.4"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

ISR Gen 1 routers running 12.4 code do not support LLDP. When "show lldp" is sent as part of ios_facts it is triggering an exception.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Perhaps ignore this specific error somehow and just return a blank?
####

[2016-08-09 06:55] ferrarimarco opened #17011 "env-setup not compatible with ash shell"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No configuration changes
##### OS / ENVIRONMENT

Alpine Linux 3.4 Docker container
##### SUMMARY

`./hacking/env-setup` script does not work with `ash` shell. So you cannot build a container that pulls the latest version from Github.
##### STEPS TO REPRODUCE

Example Dockerfile

[code]
##### EXPECTED RESULTS

`env-set

[2016-08-09 08:03] XooR opened #17012 "Excluding hosts excludes localhost when it is not in inventory"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Problem is that we have in playbooks plays that are executed on localhost which setup maintenance for example and when we exclude any hosts like `ansible -i hosts play.yml -l '!host-01'` it also excludes localhost.

##### STEPS TO REPRODUCE
hosts:
[c

[2016-08-09 08:26] lhoss commented on #16740
I also noticed this (and would prefer to have it the 'old' way)
I can confirm the changed behaviour since (at least) the latest stable v2.1.1.0

[2016-08-09 08:50] furiml commented on #16915
Hi and thanks for replying.
I did edit the file in windows, with Sublime Text. However, here's some weird stuff :
- deleting ^M with sed erase the whole document
- emacs & vi can't find ^M pattern

I will try to rewrite it directly with emacs on the machine, I'll give feedback.

Feedback : Yup, that was it. Seemed that Sublime text introduced those ^M, it's weird that none of the solutions provide

[2016-08-09 09:02] fuhbar commented on #9868
@bcoca Great news, thank you! :)

[2016-08-09 09:16] tarvip commented on #16740
It is not only polluting the log, it also affects registered variables. Skipping task alters already registered value.

Consider following example:

test.yml

[code]

main_file.yml

[code]

included_file_1.yml

[code]

included_file_2.yml

[code]

Ansible 2.1.0.0 produced following output:

[code]

Ansible 2.1.1.0:

[code]

[2016-08-09 09:22] lhoss commented on #16740
@tarvip your report is related to https://github.com/ansible/ansible/issues/16598

[2016-08-09 09:33] tarvip commented on #16740
I think #16598 is not describing the same problem.

Basically Ansible 2.1.1.0 runs tasks from included file adding `when` condition to each task. Old behaviour skipped included file entirely.

[2016-08-09 11:34] mschuchard commented on #16988
That explanation is reasonable, but then why was this all considered valid playbook prior to 2.1.1.0?

[2016-08-09 11:51] mscherer commented on #7732
Can people reopen a new issue ?

[2016-08-09 11:56] eyvind commented on #16956
I also have this problem, but it only seems to affect group_vars; variables defined in the host_vars directory are picked up just fine.

Should we move host_vars into the inventory directory along with group_vars, to prevent trouble in future versions of Ansible?

[2016-08-09 11:57] dliappis commented on #16956
@bcoca I am a bit confused with the dir structure we should be using from now on.

[In the doc](http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data) I read:

Let's assume a directory structure like:

[code]

and the contents of the two files are:

[code]

[code]

This structure seems to work on all ansible versions (inc. 2.1.1.0) for both `group_vars` (f

[2016-08-09 12:22] koman-maciej commented on #16949
I can't publish detailed logs on this example, sorry.

[code]

[2016-08-09 12:26] koman-maciej commented on #16949
There is more reproducible case:

[code]

[code]

...and second case:

[code]

[code]

[2016-08-09 12:26] jklaiho commented on #15297
This issue is still present in 2.1.1.0. The same error also happens if I'm trying to activate pipelining on a task-by-task-basis using:

[code]

...whereupon the error message appears in the `module_stderr` key of the failing task's error output.

[2016-08-09 12:28] jklaiho commented on #16048
To make things slightly worse, #15297 means that I can't even use @sgsabbage's pipelining workaround, and have no choice but to rely on `allow_world_readable_tmpfiles`.

[2016-08-09 12:33] julienvey commented on #12176
Using a simple playbook, this feature works with ansible 2.0+ but doesn't with ansible 1.9

[2016-08-09 12:34] daysofwineandroses commented on #13652
@tardigradus try removing the destination file on the server and try again.

I had the same issue on an old CentOS 5 with `/etc/resolv.conf`

Following command finds all files linked to it, symbolic or otherwise:

[code]

It showed me a hardlinked file in `/etc/sysconfig/networking/profiles/default`.

Removing that didn't work, but removing the original file I wanted to template and rerunning the

[2016-08-09 12:55] LarsFronius commented on #16919
What is the right way to work with e.g.:
say I have a var that is being filled from a result of
`ls /tmp/foobar/*`
it might include a list of files but might also be empty.

If I wanted to use this list, before I had done the following:

[code]

not saying this was the correct and intended way - but how was I supposed to do this in the first place?

[2016-08-09 12:56] bcoca commented on #16988
it never was, i tested with 1.9 and 2.0, it failed in both, the display has changed a bit, but the mesage and meaning have not.
`ERROR! the field 'hosts' is required but was not set`

[2016-08-09 13:05] ferrarimarco commented on #17011
After commenting out lines 20 an 21 of ./hacking/env-setup it works. Apparently we need another env-setup for ash.

[2016-08-09 13:13] Mrart commented on #17002
I think It is a good idea.I always use "gathering facts" to get os infomathion,but it is not convenience.

[2016-08-09 13:13] jklaiho opened #17013 "allow_world_readable_tmpfiles not documented under "Configuration file""
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The `allow_world_readable_tmpfiles` option for ansible.cfg is not documented in the **Configuration file** page. The docs for `become` describe it (without mentioning that it belongs under the `[defaults]` section), but it should still be included in the master doc

[2016-08-09 13:19] westsouthnight opened #17014 "Windows Machines with multiple Ethernet Adapters"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[windows] setup module

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Windows hosts with one adapter and with multiple
##### SUMMARY

When we try templating some configuration file on Windows Servers which have different count (more then one) of Ethernet adapters we cannot use hosts fact like on Linux hosts.

[2016-08-09 13:27] jklaiho opened #17015 "Silencing warnings on a per task basis"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
task warnings

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

##### SUMMARY
There should be a way of suppressing warnings on a per task basis for any module, not just `shell` and `command`, which allow for the use of `warn=no` since Ansible 1.8.
#13468 was previously opened for this. The issue description called fo

[2016-08-09 13:31] tardigradus commented on #13652
Thanks @daysofwineandroses, removing `/etc/resolv.conf` also works on Scientific Linux 6.8.

[2016-08-09 14:15] westsouthnight commented on #17014
Generaly, exacly, we can do a workaround like

[code]

And after in template use `{{ windows_public_ip.stdout_lines | join }}`

But, better, i think, will be a native variable, without dancing.

[2016-08-09 14:53] inabhi9 opened #17017 "Failed to cast value to int in docker_service > scale parameter while using variable"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No special configuration required
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Throws `unsupported operand type(s) for -: 'str' and 'int'"` while using variable in docker_service scale parameter even if variable is casted to int like `{{ num_procs | int }}`
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Shou

[2016-08-09 14:55] alikins commented on #13287
http://jpmens.net/2014/02/22/my-thoughts-on-ansible-s-vault/   describes something that decrypts to a string.

Would an inline vault need to support decrypting to a more complex object (map, list, etc)?

If a inline vault needed additional info (like an identifier for which key to use), would it be acceptable if that was in a wrapper mapping?  Or 'args' to a !vault object?

[2016-08-09 15:10] joemaller commented on #17009
@keywork What was the last version of Ansible that task worked under? I'm having a similar problem with the Unarchive module that popped up between 2.1.0.0 and 2.1.1.0.

I've been struggling to work around this and haven't nailed down exactly what's going on yet. Something on the remote end is losing track of its paths.

[2016-08-09 16:07] tumbl3w33d opened #17018 "Include in conditional block fails"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing what I would consider relevant:

[code]
##### OS / ENVIRONMENT

Linux 4.5.0-2-amd64 #1 SMP Debian 4.5.5-1 (2016-05-29) x86_64 GNU/Linux
##### SUMMARY

Includes in conditional blocks don't work anymore. They result in a misleading error message.

This was working before (e.g. in revision 2d042d73b0). My suspect

[2016-08-09 16:45] bcoca commented on #16919
`with_items: "{{ result.stdout_lines}}"`

[2016-08-09 17:32] jsaintrocc opened #17020 "Skipped Include Files Now Expand All Tasks/Iterations Before Skipping"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Prior to 2.1.1 an `include` that was skipped using a `when` conditional would skip the file as one entity.  Now it appears that the `include` is expanded and each task and `with` interation is skipped individually.  This causes a large performanc

[2016-08-09 17:34] h0nIg commented on #13287
@alikins

the first one is the intended one.

inline vault should not need to decrypt to a complex object, but it should support to decrypt to a yaml multiline string. the intention is to hide the parts that should be secure **only**

what do you mean by "wrapper mapping"? i do not have any preference at all

[2016-08-09 17:47] ghost opened #17021 "Feature Request: Call a role like a task"
##### ISSUE TYPE

 Feature Idea
##### COMPONENT NAME

Ansible Core Modules
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It would be very useful to be able to call roles like tasks.

This feature would allow users to reuse procedures more and adhere to the DRY software engineering principle.

For example, a role might encapsulate all steps for a small procedure. Another role might be comprised of run

[2016-08-09 18:24] bcoca commented on #17021
dupe , it is already in roadmap and also here https://github.com/ansible/proposals/blob/master/roles_revamp.md

[2016-08-09 18:24] #17021 closed, assigned to nobody

[2016-08-09 19:11] joemaller opened #17022 "Unarchive fails unpacking non-ascii file on OS X"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Unarchive module
##### ANSIBLE VERSION

Both 2.1.1.0 and 2.1.0.0 on multiple Macs.

[code]

also

[code]
##### CONFIGURATION

No special settings. default config.
##### OS / ENVIRONMENT

Mac OS X version 10.11.6, installed via Homebrew
##### SUMMARY

The Unarchive module fails when trying to _locally_ download/expand the current Ansible snapshot

[2016-08-09 19:17] msghaleb commented on #16873
ok, I'll be closing this one here, as its part of the [pywinrm#123 ](https://github.com/diyan/pywinrm/issues/123)

[2016-08-09 19:17] #16873 closed, assigned to nobody

[2016-08-09 19:25] mvdbeek commented on #15915
As @elasticdog mentioned, this is still broken (though no traceback as in the initial issue description) in 2.1.1.0.

This is with the same steps @pstch has described.

[code]

I'd appreciate it if someone (@jimi-c ?) could re-open the issue.

[2016-08-09 19:50] msghaleb opened #17023 "azure_rm_deployment - InvalidHeader: Header value 27 must be of type str or bytes, not <type 'int'>"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure_rm_deployment
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing has been changed
##### OS / ENVIRONMENT

CentOS 7
Ansible 2.1.1.0
ansible tower 3.0.1
Azure 2.0.0rc5
##### SUMMARY

We are automating our infrastructuer using ansible and ansible tower, we have bought 1000 nodes as a start. I'm trying to get this module to work with a

[2016-08-09 19:53] alikins commented on #13287
Not a particular thing, just a vague idea that the key id may need to be defined outside of the vault blob. One thought was something like a map with the (map) keys being 'key_id' and 'vault_blob', but I didn't really think that through ;->

Current version of my branch should be fine with multiline strings.

[2016-08-09 19:54] msghaleb commented on #17023
@nitzmahone for some reason, we have not managed to get this module to work on any linux distribution. On the Mac OSX its working with the same azure 2.0.0rc5 and ansible 2.1.1.0 versions.

[2016-08-09 20:06] alikins commented on #13287
One advantage of keeping the decrypted value simple and deserializing to something string like is it makes it easier to wait until the last possible moment to decrypt (as opposed to attempting to decrypt while parsing). That could potentially be as late as remote node module execution[1]...

[1] assuming shared secrets or some pki support in ansible-vault...

[2016-08-09 20:07] kadaan opened #17024 "Lookups in inventory are eagerly evaluated in 2.1.1.0, greatly impacting performance"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Lookup Plugin

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The timing of when lookups defined in an inventory are resolved has changed between 2.1.0.0 and 2.1.1.0.  In 2.1.0.0, the lookups are not resolved until they are used.  In 2.1.1.0, the lookups are eagerly resolved.
##### STEPS TO REPRODUCE
1.

[2016-08-09 20:33] jctanner commented on #10456
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-08-09 20:33] #10456 closed, assigned to nobody

[2016-08-09 21:38] joemaller commented on #17009
There seems to be issues with specific archives. I'm encountering a similar error trying to download the zip copy of the same WordPress archive with Ansible v2.1.1.0:

[code]

The same file downloaded from the same playbook works correctly under Ansible v2.1.0.0.

If I manually expand and recompress the archive, it works correctly under Ansible v2.1.1.0. (I'm testing with copies on a separate serv

[2016-08-09 23:18] lmazuel commented on #17023
Hi,

This is a compatibility problem with requests 2.11.0 and msrest 0.4.0:
https://github.com/Azure/autorest/pull/1338
https://github.com/kennethreitz/requests/issues/3477

You can update “msrest” to 0.4.1 and the problem will be solved.

Thank you!

[2016-08-10 00:15] bwbeach commented on #10779
@alikins: To answer your questions on behalf of Backblaze...

Our storage pods have 45 or 60 drives, each mounted as a separate ext4 file system.  We're seeing frequent timeouts on `lsblk` with the 10 second timeout built into 2.1.   The new `gather_timeout` setting would fix the error for us, but would mean that we have to wait for `lsblk` on all the drives, which is annoying.

We would prefer ju

[2016-08-10 00:27] shaunbrady commented on #16561
I ran in to this as well.  We did have an ansible.cfg, but were not setting library:

[code]

Adding the library value as above worked.  We would like to see this repaired.

[2016-08-10 02:05] mschuchard commented on #16988
I definitely was getting no error from that playbook with the syntax checker in 1.9.4 and 2.0.0.2. I don't remember if I checked it with 2.1.0.0.

What about the second example? Why the sudden change there?

[2016-08-10 08:57] snoopdouglas opened #17027 "Publish modules to Galaxy?"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Ansible Galaxy (overall)
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Would it be possible add the facility to publish modules (not just roles) to Galaxy? Would such a thing be useful?

Apologies if this has already been considered - couldn't find anything when I searched issues.
##### STEPS TO REPRODUCE

Modules could be downloaded by `ansible-g

[2016-08-10 09:08] NomAnor commented on #16935
This is the output of  `ip addr`:

[code]

These are the facts gathered with `ansible -m setup -i 192.168.100.2, -u root -k all`:

[code]

and this is the error message for a playbook with one tasks:

[code]

As you see after gathering facts the `ansible_user` variable is overridden and no further ssh connection can be etablished.

[2016-08-10 09:37] msghaleb commented on #17023
Hi @lmazuel ok I will try that one and update you back

[2016-08-10 10:36] alexxa commented on #15920
+1 here. And it seems it's RHEL7 (caught on ami-cfa21fbc, Ireland) specific only:

ansible --version
ansible 2.2.0

On RHEL7.2:
`TASK [nfs : Verify ansible_lsb] ************************************************`
`ok: [xyz.com] => { "ansible_lsb.codename": "VARIABLE IS NOT DEFINED!"}`

`TASK [nfs : Verify ansible_lsb] ************************************************`
`ok: [xyz.com] => {"ansible_lsb.

[2016-08-10 11:09] msghaleb commented on #17023
@lmazuel you are a legend! it works like sharm! at least in ansible command line and tower 3.0, however in Tower 2.4.5 I still get an error saying:
"Do you have azure==2.0.0rc5 installed? Try `pip install azure==2.0.0rc5`\- No module named mgmt.network.models"}

I think I can figure my way out from here, but honestly there should be a note in the module page otherwise it is really tricky!

again m

[2016-08-10 11:09] #17023 closed, assigned to nobody

[2016-08-10 11:29] ThoTischner commented on #16946
Hi,

thanks for your fast reply.

I cloned the actual master and tried to run it via:
/usr/local/src/ansible/bin/ansible-playbook -i inventory/qsu2/ playbooks/staging.yml -M /usr/local/src/ansible/lib/ansible/modules/ -vvv

hipchat.py files was patched => display warning is not a problem anymore.

## But following error still appears:

PLAY [Staging Packages] **************************************

[2016-08-10 11:45] jeremyeder commented on #16749
Here is the resource usage of ansible2.2-performance_improvements branch.  To deploy a 100-node openshift cluster, the install took 21m48s.

3 masters
3 etcd
1 apiserver load balancer
2 infrastructure nodes
100 compute nodes

![ansible22-pi](https://cloud.githubusercontent.com/assets/1919640/17552444/0278cff0-5ece-11e6-85bf-fec9471b7811.png)

Overall this is a significant improvement over ansible-

[2016-08-10 12:16] alexxa commented on #15920
I don't have this problem on RHEL7.2 (ami-cfa21fbc, Ireland):

ansible --version
ansible 2.2.0

`>> lsb_release -a`
`LSB Version:   :core-4.1-amd64:core-4.1-noarch`
`Distributor ID:    RedHatEnterpriseServer`
`Description:   Red Hat Enterprise Linux Server release 7.2 (Maipo)`
`Release:   7.2`
`Codename:  Maipo`

`TASK [nfs : Verify ansible_lsb] ************************************************`
`o

[2016-08-10 13:18] xrow opened #17028 "Feature: Easily create docker image from playbooks"
- Feature Idea

When ever we want to create a docker container via an ansible configuration things are very difficult to setup. We would like to have a more intuitive way of doing things.

So far we do stuff like this:

[code]

But ideally it should be way easier like

[code]

What do you think? Is this something that is doable and would me sense? I probaly is not all way thought though and needs

[2016-08-10 13:22] jimi-c commented on #16749
@jeremyeder it looks like it shaved about 20 minutes off the execution time from the previous results you emailed me?

[2016-08-10 13:26] jimi-c commented on #16749
As the performance improvements branch has been merged into devel now, and as the deeply nested include speed issue has been resolved, we're going to go ahead and close this issue now. These improvements will be included in 2.2.0 (currently targeted for release in September of 2016).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us kno

[2016-08-10 13:26] #16749 closed, assigned to jimi-c

[2016-08-10 13:29] #17018 closed, assigned to jimi-c

[2016-08-10 13:31] jimi-c commented on #17018
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-10 13:39] vquemener commented on #2097
It sounds like the "archive" module will be available in version 2.2 : http://docs.ansible.com/ansible/archive_module.html

[2016-08-10 14:11] jsobolewskihh opened #17029 "gathering facts caused setup to fail by using ssh-config environment logname on client side"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

module_utils/facts.py
##### ANSIBLE VERSION

ansible 2.1.0.0
##### OS / ENVIRONMENT

Ansible "client" is Debian 7
##### SUMMARY / STEPS TO REPRODUCE

The issue is a little bit related to #4688

Ansible can not connect, if a special logname setting is used at ssh authkeys file on the target host

For multi-user separation I am using the environment

[2016-08-10 14:27] dmsimard commented on #17028
Isn't this the scope of the [ansible-container](https://github.com/ansible/ansible-container) tool ?

[2016-08-10 14:49] sivel commented on #17027
This is already possible, however it still falls under the same concept as a role, you just upload a role with only a `library` directory.

# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.fr

[2016-08-10 14:49] #17027 closed, assigned to nobody

[2016-08-10 14:54] alikins commented on #10779
Based on https://github.com/ansible/ansible/issues/10779#issuecomment-238731228 I'm working on a patch that should improve this.

The gist of the patching is replacing the use of a 'lsblk' call for every mtab entry, to just making one lsblk call to collect all of the info and mapping it to the mtab info. Hopefully that will be faster (unless the single lsblk entry takes just as long...)

[2016-08-10 14:59] xrow commented on #17028
Ups that is the thing I am looking for. I didn`t know taht this exists. Please close.

[2016-08-10 15:01] jimi-c commented on #16913
@cloudnull excellent, that was merged into devel yesterday, so if you're not seeing the issue any further we'll go ahead and close this now.

Thanks!

[2016-08-10 15:01] #16913 closed, assigned to jimi-c

[2016-08-10 15:22] lburg commented on #13948
I took some more time to look into this and finally found a way to access the values I was interested in:

[code]

I found this in [a blog post](https://serversforhackers.com/running-ansible-2-programmatically) regarding Ansible 2 API changes, in section "Callback Module".

I don't know if I should close this issue or not? Information that was readily available before is now hidden away, it still

[2016-08-10 15:29] nuest commented on #17015
I second this, since I would like to disable the warning on a `local_action`.

[2016-08-10 15:32] ogmueller opened #17030 "detecting virtualization facts fails with host xenial and guest trusty"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Ansible is not able to detect the virtualization correctly if the host is an Ubuntu 16.04 Xenial and the guest is an Ubuntu 14.04 Trusty using LXC. On guests with 16.04 it is detecting everything correctly though.
##### STEPS TO REPRODUCE

Setup a host with Ubuntu 16.04. Install 2 LXC g

[2016-08-10 15:46] cloudnull commented on #16913
++ Everything seems good in 2.2 (devel). Thanks again

[2016-08-10 16:16] builtbybrayne opened #17031 "consul module: port should be optional when registering services"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

consul
##### ANSIBLE VERSION

[code]
##### SUMMARY

Consul service definitions do not require a port when creating a service definition. (see https://www.consul.io/docs/agent/services.html)

But the consul module does. So, if the `service_port` field is not supplied the task returns an error.

Surely the consul module should mirror the official

[2016-08-10 16:19] dreamcat4 commented on #16478
Today found an in-depth article about how windows configures the WinRM service. Especially in regards to user access permissions. It just struck me as interesting and perhapsin some way relevant to this issue:

https://www.sevecek.com/Lists/Posts/Post.aspx?ID=280

I have no doubts that a fresh install of windows will eliminate the problem. But before I get around to that and press the nuke button

[2016-08-10 16:50] #17028 closed, assigned to nobody

[2016-08-10 17:09] bwbeach commented on #10779
This is the error I get when things time out:

[code]

The confusing thing is that when I run the `lsblk` command by hand, it's fast:

[code]

Even running `/bin/lsblk -lna --output UUID` to report on all drives only takes 0.01s.

[2016-08-10 17:33] samvarankashyap opened #17033 "ansible os_server module doesnot work with async_status"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module : os_server
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible is unable to parse the os_server module output using async_status .
##### STEPS TO REPRODUCE

The following tasks are to be written
- name: "Async:: provision/deprovision os_server resources by looping on count"
  os_server:

[2016-08-10 18:34] samvarankashyap opened #17035 "async_wrapper does not filter garbage from module output"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

module : os_server and async_status
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Tried using os_server module in using async , its failing to handle , output of the job .
##### STEPS TO REPRODUCE

Create a playbook to boot a single instance on openstack async

[code]

##### EXPECTED RESULTS

Expected

[2016-08-10 18:35] #17033 closed, assigned to nobody

[2016-08-10 18:52] alikins commented on #10779
@bwbeach Take a look at https://github.com/ansible/ansible/pull/17036

If you can test it, I'm curious if it helps.

[2016-08-10 19:14] jswinarton commented on #15962
I'm also having the same issue, on a later version of Ansible:

[code]

Compare with the output once I change the requirements file to use the hash of the commit, rather than the tag:

[code]

I'm running Ansible on OS X 10.11.6, installed via Homebrew:

[code]

[2016-08-10 19:28] matthewmrichter commented on #12013
+1. Version 1.9.2

[2016-08-10 19:49] TGordo commented on #15737
Same issue here as well when running against the target machine as a user with local Administrative privileges and adding a local user to folder permissions.

Assuming that the win_acl module uses the PowerShell Set-ACL cmdlet for its functionality, it appears to be a limitation of the Set-ACL cmdlet as attempts to change the owner of the folder when making the change and it does not have that sec

[2016-08-10 20:24] samvarankashyap commented on #17035
apparently issue is with os_server module , when used with asyc gives out following extraline in async_file in .ansible_async/

[code]

which cannot be parsed by json.loads of async_status module . That is cause of the error .

[2016-08-10 21:24] DSpeichert opened #17038 "TypeError: a bytes-like object is required (ansible_modlib.zip/ansible/module_utils/basic.py)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

General Ansible / no idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Plain install of Ansible Tower on CentOS 7, up to date
##### SUMMARY

TypeError in ansible-generated script
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Works when run manually on Ansible 2.1.1.0
##### ACTUAL RESULTS

[code]

[2016-08-10 21:31] DSpeichert commented on #17038
False alarm.

For future reference: it is a symptom of using Python 3 on the target host. My inventory variables weren't properly loaded and it defaulted to python3. Makes sure to use `ansible_python_interpreter=python2`.

[2016-08-10 21:51] bwbeach commented on #10779
Looks like a typo:

[code]

[2016-08-10 22:15] bwbeach commented on #10779
After fixing the typo in my clone, it works.  The failure rate was low, so I'll let it run on a large set of hosts and see what happens.

UPDATE: I let it run over a few hundred hosts, and got no timeouts.  This is an improvement.

[2016-08-11 00:07] donnlee commented on #17009
Same issue.

Playbook yaml:

[code]

Error:

[code]

[code]

[2016-08-11 00:13] sunshine69 opened #17040 "ansible python api - h.get_group_vars does not return the group vars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Python API - Might be in other places in ansibel itself that uses it
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

stevek@auto-06153d80 ~> cd ansible-jumbo/inventory/staging/
stevek@auto-06153d80 ~/a/i/staging> cat ansible.cfg
[defaults]
host_key_checking=false
library=../../library
filter_plugins = ../../filter_plugins
stevek@auto-06153d80

[2016-08-11 00:56] HarryWeppner commented on #15549
Fwiw, I've independently (not via `ansible`) stumbled across this issue and bisected it to allocating a `pty` or not.

NOTE: using a `4.5.4` kernel on CentOS 7, I could workaround this issue by adding a `; sleep 0.0000000001` to the command being executed (with a `pty` allocated).

[2016-08-11 01:30] jalevin commented on #15706
+1

[2016-08-11 03:16] bcoca commented on #16988
not sure what you mean by sudden change, if there is a syntax error I'm not sure what you wanted us to do.

In 1.9 and previous versions many of these were ignored, one of the major features in 2.0 is report them and not run the play while ignoring them, giving the user a false sense of 'everything is working' while parts of the play are being skipped.

[2016-08-11 03:27] bcoca commented on #16956
They need to be adjacent to inventory or play, I was specifying that it is the 'files' in the case of inventory, that an inventory dir does not count.

Since we were discussing ones relative to an inventory dir I did not feel the need to mention play files in that context.

[2016-08-11 04:06] joemaller commented on #17009
Just spent some time bisecting and I'm pretty sure remote unarchiving broke after commit ef5a504b8ba939b61bf0bd223c1bdb8d2b which was a submodule update. I'm opening a new issue on the core-modules repo pointing to https://github.com/ansible/ansible-modules-core/commit/bf670bfdc2c193345a0365bd84e955005b432

[2016-08-11 06:54] antigremlin commented on #15690
@max-allan-surevine, have you tried this under become=true or the manual command under sudo? I had a similar error message mistakenly running yum without sudo. As I understand, the can be caused by the certificate files in /etc/pki/rhui not being world readable...

[2016-08-11 08:00] mrijkeboer commented on #15597
@susurri, @bcoca  Unfortunately I can't test whether this patch works, because I run into problems  before the password prompt (both with and without the patch):

[code]

[2016-08-11 08:07] ogmueller commented on #17030
I double checked the results on a LXC guest running 14.04, but this time the host was an Ubuntu 14.04 as well. In this case the virtualization detection works. Only if the host system is a 16.04 it is not working.

[2016-08-11 08:13] brutto commented on #16947
Oh! @alikins thanks for support. I found It was my fault! This issue appears because of i have the same named roles in ansible folder (installed from galaxy) and in my working directory.  Remove/rename one of them fix the issue. Many excuses. =)

[2016-08-11 08:13] #16947 closed, assigned to nobody

[2016-08-11 09:13] muellerrainer opened #17041 "add commandline params as built-in variables for playbooks"
##### ISSUE TYPE
- Feature Request
##### COMPONENT NAME

ansible core
##### ANSIBLE VERSION

2.x
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I would like to work with "when" switches in ansible tasks that relay on commandline switches.
For example:
a)
If the option --check is given i want to change the behaviour of an shell/command task.
b)
If the option -vvvv is given i want to run extra tasks tha

[2016-08-11 09:25] Furiml commented on #16915
I'm having slightly the same problem with a fact for Windows. I've read the notes in the documentation and got everything set up properly, but things are not working **properly** :

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup module, gathering custom fact on Windows host

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Running Ansible from Debian 8 Jessie
Host is Windows 10 P

[2016-08-11 09:46] FibreFoX commented on #16600
Found this while executing a custom build role, which includes some task-file from some git-repository. Including tasks seems to be limited to only have the first command working (maybe it's a different issue?!)

Reverting to v2.0.2.0-1 worked for me

[2016-08-11 09:47] muellerrainer opened #17042 "add "mocking" parameter to shell and command module"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

module shell && command
##### ANSIBLE VERSION

2.x
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Often playbooks that are run with --check breat at that point when the shell or command tasks are used. Especially when return codes of these tasks are used in furhter tasks as input.
If this happens (for me very often) I'm not

[2016-08-11 09:51] soulslicer commented on #15518
Has this issue been fixed? Is there any workaround?

[2016-08-11 09:52] #16915 closed, assigned to nobody

[2016-08-11 10:45] baratali commented on #15518
@soulslicer , workaround was installing ansible via pip: `sudo pip install ansible`

[2016-08-11 11:07] soulslicer commented on #15518
That is unfortunate.

[2016-08-11 11:33] ghost opened #17043 "random MODULE FAILURE on apt module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt - package manager
##### ANSIBLE VERSION

Paste verbatim output from “ansible --version” between quotes below
Host:

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Sometimes the apt-module fails because of an unexpected MODULE FAILURE without any stdout or stderror

[code]
##### STEPS TO REPRODUCE

It isn't po

[2016-08-11 11:48] dagwieers commented on #17009
See ansible/ansible-modules-core#4244 for more information, we are waiting for this fix to get included.

The problem was introduced in this commit: https://github.com/ansible/ansible-modules-core/commit/467516e5dade1efec15034d1eef5b2df32893447#diff-c8620ce6bed12fc5110958c7607f1b03R737

[2016-08-11 12:43] mschuchard commented on #16988
That was what I meant: how in prior versions includes were not checked for syntax. I want to confirm that this is now happening and that a generic error message is displayed in that event.

[2016-08-11 12:50] bcoca commented on #16988
So in 2.0 includes became 'dynamic' which created issues when 'pre processing' plays, as syntax check does and so does --list-tasks/tags. Several fixes were done for includes to be processed when they are static.

Is the complaint that syntax checking now works?

[2016-08-11 13:29] jswinarton commented on #15962
@bcoca can we reopen this issue?

[2016-08-11 13:34] goldyfruit opened #17046 "Module was working in 2.0.x versions but not anymore with 2.1.x versions"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

With Ansible 2.0.x, my module was working perfectly but when I tried to use it with Ansible 2.1.x the module is not working anymore.

The role: https://github.com/uoi-io/ansible-pacemaker/
The module: https://github.com/uoi-io/ansible-pacemaker/blob/master/library/pcs_res

[2016-08-11 13:50] bcoca commented on #17041
In current devel  you have `ansible_check_mode` set to `True` when --check is passed.

In a previous version, the `debug` module got a `verbosity=#` field which will print when the number matches or is lower than the number of -v's passed.

[2016-08-11 13:59] bcoca commented on #17030
So the current detection uses the existence of `/proc/1/cgroup` AND the existence of `/lxc/` inside that file as the way to detect virtualization, has this changed on Ubuntu 16?

[2016-08-11 14:01] bcoca commented on #17030
In any case that should not set `kvm`, this happens through other checks, it is not a default

[2016-08-11 14:10] xrow commented on #17028
side note: ansible-container is not yet available in EPEL.

[2016-08-11 14:10] dagwieers commented on #17022
Right, if you specify a URL (so it needs to download something) it requires/assumes you are using `copy: yes`. As a result Ansible assumes the fancy URL is an existing file name (remote, but in your case local).

I know that the whole naming of the option **copy** is highly confusing (and I think it was a big mistake, not just the naming, but also adding too much functionality to a module). The op

[2016-08-11 14:14] dagwieers commented on #17022
Well, it is not a bug, but I do think there is room for improvement, i.e. we could make URL detection possible and simply do the right thing if we detect that a (supported) URL is specified. That way it wouldn't matter what the **copy** or **remote_src** option states.

[2016-08-11 14:21] ceridwen commented on #15022
The added sentence, "For instructions on setting up Ansible from source, please see Installation." was not clear enough to cause me to navigate there, so I got the jinja2.exceptions error, Googled it, and found this issue.  I'd suggest being even more direct and say something like, "To run `hacking test-module`, first you need to follow the instructions for installing Ansible from a source checkou

[2016-08-11 14:34] nickmisasi opened #17048 "Slightly Misleading Documentation"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

Dynamic Inventory
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla
##### OS / ENVIRONMENT

Ubuntu Trust
##### SUMMARY

There is a slightly misleading line in the "Developing Dynamic Inventory" documentation page. Under scripting conventions [http://docs.ansible.com/ansible/developing_inventory.html#script-conventions](url)  t

[2016-08-11 14:36] bcoca commented on #17022
I'm of a mind to deprecate this feature.

Adding features of existing modules into other modules end up with not only duplicate code, but it lacks completeness and ends up failing with the corner cases the specialized module already handles.

[2016-08-11 14:39] jschank commented on #16960
Thanks for the advice, it was exactly what I was looking for. The versions of ansible and python, and os are the same. But the problematic machine has been around for a while and its installation profile has 'evolved' over may revisions of the dependencies. For example ansible was installed with yum, as well as pip over its life. Similarly, some of the dependencies of ansible were installed via pi

[2016-08-11 14:42] ogmueller commented on #17030
yes, it has changed.

if the host is a 14.04 the content looks like

[code]

BUT if the host is a 16.04 the content looks like

[code]

under ubuntu 16.04 you might be able to detect LXC guests by looking into /proc/1/mounts, because some /procs are mounted there:

[code]

[2016-08-11 14:45] baldurmen commented on #9904
This is a very good idea. It's _very_ frustrating to have to type a long password to then have ansible tell you the playbook cannot be found since your path was wrong.

[2016-08-11 14:52] ogmueller commented on #17030
How do you detect a guest in an Ubuntu 16.04 guest? Because the detection is working there, even though the cgroup file has no LXC in it.

This is the output of an Ubuntu 16.04 guest running on an 16.04 host:

[code]

[2016-08-11 15:02] ogmueller commented on #17030
So the problem for ansible is, that the container detection is not based on the guest OS, but on the underlying host OS.

[2016-08-11 15:02] jimi-c commented on #16995
Hi @kispaljr, I cannot reproduce this on the stable-2.1 or devel branch. Both have the following output for me using your posted example above:

<pre>
$ ansible-playbook -vv test.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
3 plays in test.yml
PLAY [Playbook 1 - Vars file and role search path is relative to this

[2016-08-11 15:05] alikins commented on #10779
Doh. And in the dozen or so lines I didn't add test coverage for ;->

Just pushed a update to https://github.com/ansible/ansible/pull/17036 with that fixed.

[2016-08-11 15:06] jimi-c commented on #15915
If the include is dynamic (using a loop or a variable in the include file name), you cannot target handler names inside it. As of 2.1, you can set config options in ansible.cfg (one each for regular tasks vs. handlers) or you can set `static: yes` on the include task as follows:

<pre>
handlers:
- include: "{{some_var}}.yml"
  static: yes
</pre>

which will force the evaluation of the variable `so

[2016-08-11 15:21] dagwieers commented on #17022
@bcoca I agree wholeheartedly. Although I do understand it is convenient to have a single task do the copy/use/remove, which is something that Ansible has no easy solution for.

But in this case there is a whole set of options (certificate, authentication, protocols, etc...) that it becomes a mess really quickly if we accept every possible use-case from within unarchive.

Maybe this fits in the wh

[2016-08-11 15:22] jimi-c commented on #16990
This appears to be (mostly) fixed on at least devel, with one caveat: the code loading the includes try to do so as "static" includes first. In the above example, I happened to name my top-level playbook `test.yml`, so when the static include occurred, it found that playbook and raised an error:

<pre>
TASK [test : include] **********************************************************
task path: /hom

[2016-08-11 15:23] joemaller commented on #17022
@bcoca my workaround for https://github.com/ansible/ansible-modules-core/pull/4244 (and #17009) will likely be reverting to a pre-2.0 get_url + unarchive set of tasks. I do appreciate the convenience of one-step download-and-expand task since it's such a common need, but two simple and explicit tasks are easier to debug.

[2016-08-11 15:35] elasticdog commented on #15915
@jimi-c that suggestion doesn't apply in my case, the include is just a static filename (no loop or variable involved).

[2016-08-11 15:41] ijaveed opened #17049 "Ubuntu 16.04.1 LTS ImportError: No module named boto.s3.connection RESOLVED"
Hello

Before we go any further, YES boto & botocore are installed.

I am having an issue when trying to utilize boto's s3 functionality with ansible. I have used ansible with my setup with no issues in the past but this was on Ubuntu 1404

The Python paths have been checked & i have also made sure that the exact same versions ( boto,botocore,ansible) being used between 1404 & 1604 are the same

B

[2016-08-11 15:41] ogmueller commented on #17030
Some people suggest to look for the existance of /dev/lxc/console, which do exists on all our LXC guests no matter of the underlying OS/LXC version.

[2016-08-11 16:13] zigarn commented on #16721
A very simple reproduction of the problem:

[code]

[code]

[code]

Actual result (2.1.1.0):

[code]

Expected result (2.1.0.0):

[code]

Even weirder if you set a `all.yml`:

[code]

[code]

[code]

[2016-08-11 17:00] mvdbeek commented on #15915
yep, same here. The example posted by @pstch is a perfect minimal example to reproduce this bug.

[2016-08-11 17:03] bpsuntrup commented on #15022
@ceridwen Would you mind wrapping up your suggested improvements in a PR?

[2016-08-11 17:13] bcoca commented on #17022
@dagwieers , @joemaller  need to get `include_role` working an then all these issues are mute.

[2016-08-11 19:08] #16990 closed, assigned to jimi-c

[2016-08-11 19:15] mschuchard commented on #16988
Right, I remember that 2.0 introduced dynamic roles and includes because I started doing `group_by: {{ server_role }}`, or whatever the proper syntax is.

I wouldn't call any of this a complaint. I just became confused that all of a sudden, after 2.0.0.2, includes were being parsed during syntax checks and seemingly unrelated errors thrown. Also that a syntax error I had with the `- sudo_user` arr

[2016-08-11 19:15] #16988 closed, assigned to jimi-c, bcoca

[2016-08-11 19:28] jimi-c commented on #16990
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-11 19:34] jimi-c commented on #15915
Ahh, I see. This is actually the converse of the static situation - since in a static include the top level include "disappears" in a way. Reopening.

[2016-08-11 19:36] nitzmahone commented on #17009
Should be fixed in devel by https://github.com/ansible/ansible-modules-core/commit/5559e6a669ca7a4ed72e20a3300f8968a3203a82

[2016-08-11 19:36] #17009 closed, assigned to nobody

[2016-08-11 19:39] nitzmahone commented on #17010
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-08-11 19:39] #17010 closed, assigned to nobody

[2016-08-11 19:40] dagwieers commented on #17009
Thanks @nitzmahone

[2016-08-11 19:45] jimi-c commented on #12176
# Closing This Ticket

Based on the fact that this is working in 2.0, but not in 1.9.x (which is now only receiving security fixes, we're going to close this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.googl

[2016-08-11 19:45] #12176 closed, assigned to nobody

[2016-08-11 20:39] nitzmahone commented on #17014
I'm open to adding default interface calculation to Windows setup for feature parity with *nix, but we need to make sure that it's fast and resilient to failures. The method used by *nix (ip/route command that returns the target interface for a well-known public IP [Google DNS]) doesn't apply to Windows. The RDNS lookup will definitely not work for many systems that aren't listed in DNS. Best thin

[2016-08-11 20:46] nitzmahone commented on #17014
I suppose we could also get the gateway from the highest priority 0.0.0.0/0 route and look a NIC up that way. Maybe I'll take a stab at this.

[2016-08-11 21:52] abadger commented on #17011
Runs fine under ash on Ubuntu15:

[code]

Perhaps your environment has the KSH_VERSION envvar defined?

[2016-08-11 22:36] maximede commented on #16775
I can no longer reproduce on the devel branch.
Git bisect seems to tell me that it was fixed with commit 06d4f4a

[2016-08-11 22:38] dagwieers commented on #17022
@bcoca Do you have a link to understand how this helps ?

[2016-08-11 22:52] hernandesbsousa commented on #5512
Is this still a no go? Declaring it only once per role avoids a lot of redundant code.

[2016-08-11 23:30] babibza commented on #13401
is there anything in ansible that if ssh or ping failed  then wait and retry.

[2016-08-11 23:51] bcoca commented on #17022
feel free to ignore my rants, but https://github.com/ansible/proposals/blob/master/roles_revamp.md and https://github.com/ansible/proposals/pull/27#issuecomment-239060368

[2016-08-11 23:51] nitzmahone commented on #17011
I was able to repro this on Alpine's ash- it appears that ash pre-parses the ksh shell var substitution and barfs on it. Changed the offending line to an eval, still works in ksh and doesn't fail under ash anymore in https://github.com/ansible/ansible/pull/17054.

[2016-08-11 23:55] #16801 closed, assigned to jctanner

[2016-08-11 23:58] #17011 closed, assigned to nobody

[2016-08-12 00:10] nitzmahone commented on #17015
This is probably big enough to warrant a [proposal](https://github.com/ansible/proposals/) - maybe come to an [IRC meeting](https://github.com/ansible/community/blob/master/MEETINGS.md) to discuss? I'll leave this open as a feature idea, but I suspect you'll get action/feedback faster if you close this, submit a proposal, and come to a meeting to advocate for it.

[2016-08-12 00:12] nitzmahone commented on #17017
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-08-12 00:12] #17017 closed, assigned to nobody

[2016-08-12 00:26] nitzmahone commented on #17020
If you add `static: no` to the include, it'll cause it to be dynamically eval'd and keep the earlier 2.x behavior you want.

[2016-08-12 00:26] #17020 closed, assigned to nobody

[2016-08-12 00:37] nitzmahone commented on #17031
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-08-12 00:37] #17031 closed, assigned to nobody

[2016-08-12 00:40] nitzmahone commented on #17035
Yep, the control side has a filter that runs against module output to filter noise like this before the JSON load- async_wrapper needs the same filter.

[2016-08-12 01:22] nitzmahone commented on #17043
Once the module has run successfully, are you able to reproduce the failure on the same host? ie, does it only fail when there are changes to be made, or can it fail when the target host is already in the correct state? The ssh debug output _might_ be helpful as well- basically this failure means the module died before returning any JSON (or anything but a CRLF, or so it appears in this case). Als

[2016-08-12 01:52] nitzmahone commented on #17046
Some of the type inference stuff has undergone changes- we now default to "raw" type, so you need to tell us in the argspec that you're expecting a list for your operations parameter, eg:

[code]

That should make it work as it did before...

[2016-08-12 01:52] #17046 closed, assigned to nobody

[2016-08-12 01:58] jctanner commented on #17049
@ijaveed what do you get from a task like this ..

[code]

[2016-08-12 02:29] goldyfruit commented on #17046
@nitzmahone Thanks, as you though, it fixed my issue !

[2016-08-12 03:21] jctanner commented on #1476
@dagwieers does "meta: end_play" match your expectations for this feature?

[2016-08-12 03:57] jctanner commented on #10361
Code has changed quite a bit since this issue was opened.

[2016-08-12 03:57] #10361 closed, assigned to nobody

[2016-08-12 04:05] jctanner commented on #10379
As stated previously, ansible doesn't attempt decrypt until necessary. One solution is a pre-task or pre-play to include a vaulted file to validate decryption and halt the play.

[2016-08-12 04:05] #10379 closed, assigned to nobody

[2016-08-12 04:12] jctanner commented on #10419
This feature has been implemented ...

[code]

[2016-08-12 04:12] #10419 closed, assigned to nobody

[2016-08-12 04:15] jctanner commented on #10423
You can create a new fact via set_fact with a property of another fact. For example:

[code]

[2016-08-12 04:15] #10423 closed, assigned to nobody

[2016-08-12 05:54] ghost commented on #17043
Hi @nitzmahone,
we run our automation with jenkins so I can see the history of our builds. It's the lb-dev host mostly which fails with this error, but it happends on the frontend-dev oder backend-dev servers too. Completely random.

Most of the MODULE FAILURE are happen in the tasks:

[code]

And in this task:

[code]

But the package was installed successfully.. And it only dies on the **apt mod

[2016-08-12 08:12] timw opened #17055 "to_nice_yaml filter fails with indent argument"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

to_nice_yaml filter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

{{ variable | to_nice_yaml(indent=4) }} fails with an error message.

The docs at http://docs.ansible.com/ansible/playbooks_filters.html indicate that the indentation of to_nice_yaml can be controlled by providing an indent named argumen

[2016-08-12 08:13] timw commented on #17055
The obvious workaround is `{{ example | to_nice_yaml | indent(4, False) }}`.

[2016-08-12 08:32] timw commented on #17055
Looks like this was actually implemented in devel in #10008, but isn't in a stable release and the docs don't mark the feature as "New in 2.2", so this is a doc-bug.

[2016-08-12 09:57] toadjaune opened #17056 "Add an interactive debug shell"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Add an interactive debug shell
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Sometimes, you have a complex playbook, of which you can't easily run only a small part for your debugging tests.

Currently, when debugging a playbook, we only have the [debug module](http://docs.ansible.com/ansibl

[2016-08-12 10:01] dagwieers commented on #1476
@jctanner Honestly, I find the terminology/naming quite confusing. The term **meta** does not give any meaning to what **end_play** is supposed to achieve. I am not convinced this is something we would like to expose to the world ;-)

PS Is there a design document with what **meta** is being used for ? I wonder if there's a better mechanism for influencing flow, and what other needs it could fulfi

[2016-08-12 10:02] antoineco opened #17057 "Variable assignment with conditional breaks facts"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact and conditionals

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

All machines: Ubuntu 16.04
##### SUMMARY

A variable assignment containing a conditional leads to unexpected behavior of facts.
##### STEPS TO REPRODUCE

Consider a group `service_etcd` containing 3 machines with the following names and IP

[2016-08-12 10:09] jaccoh commented on #15915
Another note... I think its the same bug though. The file is included but it seems the conditional is ignored. Or atleast in a weird way. The tasks are all skipped but they are included:

TASK [authdns-slave : set fact - master_host] **********************************
skipping: [lnx2347vm.internal.asp4all.nl] => (item=lnx2346vm.internal.asp4all.nl)

TASK [authdns-slave : set fact - master_ipv4_add

[2016-08-12 10:15] dagwieers commented on #17048
@nickmisasi13 You are 100% correct. Can you make the changes as you would like to see them ?
Just follow the link below, modify the documentation and create the commit. (It will fork/clone, commit and make a PR)

https://github.com/ansible/ansible/edit/devel/docsite/rst/developing_inventory.rst

Good luck, and thanks in advance !

[2016-08-12 10:20] dagwieers commented on #17042
I like this idea a lot.

But in a lot of cases command/shell are used to simply query information from the system without it making a change. Usually people already add the `changed_when: no` to those tasks because the task does not really make a change. In these cases we could simply allow the command to be run as well.

In itself this is probably not a good idea, because we are assuming intent,

[2016-08-12 10:24] dagwieers commented on #17055
@timw And for documentation changes everyone can make improvements too !
Here's a direct link to edit the document and make a pull request:
https://github.com/ansible/ansible/edit/devel/docsite/rst/playbooks_filters.rst

Welcome new Ansible developer ! ;-)

[2016-08-12 10:28] dagwieers opened #17058 "RHEV virtualization is not detected"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

setup module_util
##### SUMMARY

The default facts do not cover RHEV virtualization, and while RHEV is using KVM underneath it would be useful for users to make a clear distinction between a RHEV host and a normal KVM host.

I don't know if there is a way to determine if a VM is a RHEV guest, but it probably doesn't matter that much as it does f

[2016-08-12 10:59] dagwieers commented on #17022
Can we close this issue ? Or turn it into an improvement ?

[2016-08-12 11:04] dagwieers commented on #17001
Hmm, learned something new today. Didn't know that **hosts:** can be a list.

[2016-08-12 11:25] joemaller commented on #17022
@dagwieers I think this issue revealed a specific problem with unarchive module file handling on Macs. It should probably have been reported on [ansible/ansible-modules-core](https://github.com/ansible/ansible-modules-core). I will check whether it's fixed in devel later this morning.

[2016-08-12 11:40] electrofelix opened #17059 "retries documentation and behaviour for 1.9 is inconsistent"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

runner
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Current documentation for `retries` under playbook_loops contains the following text:

This suggests that you would see the same message appearing on failure from the last attempt as you would if retries was not applied to the task. Unfortuna

[2016-08-12 12:05] Duologic commented on #15927
I think 2.2.0 is not released yet on PyPi. Just updated with `pip install -U ansible` and that gave me 2.1.1.0. I can confirm that it is still broken in that version.

[2016-08-12 12:13] dagwieers commented on #17022
@joemaller As I noted [here](https://github.com/ansible/ansible/issues/17022#issuecomment-239172265) the problem is that you provided a URL, but stated **copy: no**. It should state **copy: yes** if you are going to provide a URL and you expect Ansible to download the file for you.

So it is not a bug, and it is not specific to MacOSX.

notabug

[2016-08-12 13:28] drybjed commented on #17057
@antoineco Does it work if you try setting:

[code]

ie. explicitly checking the boolean value in the variable that depends on it?

[2016-08-12 13:40] pporada-gl commented on #16937
I hit this today on `ansible 2.1.1.0` without the run_once.

[2016-08-12 13:42] tumbl3w33d commented on #17056
Wouldn't it be sufficient to have an additional verbosity level (-vvvvvv) or an additional debug parameter which prints all/filtered context variables?

[2016-08-12 13:59] bcoca commented on #1476
`meta` in general affects Ansible's behavior, so flush_handlers, refresh_inventory, etc are all actions that change the normal 'play flow'. The current implementation is in the base class of the strategy plugins.

We should document this better.

[2016-08-12 14:13] bcoca commented on #17030
@ogmueller x2 check my PR above to see if it fixes the issue for you

[2016-08-12 14:21] bcoca commented on #17022
closing as per above

[2016-08-12 14:21] #17022 closed, assigned to nobody

[2016-08-12 14:23] bcoca commented on #17057
`if` is problematic and not supported, use the `ternary` filter instead.

[2016-08-12 14:25] joemaller commented on #17022
I believe there is still an issue here, and it's not related to `copy: no`, which wouldn't have applied to v2.1.0.0 anyway.

However, https://github.com/ansible/ansible-modules-core/issues/4390 maybe confounding the error.

Test version:

[code]

I further reduced the playbook to remove the local action, remote_src and stopped targeting Macs:

[code]

Running against an Ubuntu 14.04 VM, I get this

[2016-08-12 14:27] joemaller commented on #17022
@bcoca please see above, there is a reproducible bug here that is unresolved. The issue title should be edited to remove OS X.

[2016-08-12 14:29] caseylucas opened #17064 "only first variable reference available in include file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

not sure
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Only the first variable reference is available/defined in an included file. Subsequent references are undefined.
##### STEPS TO REPRODUCE

outer.yml

[code]

inner.yml

[code]

hosts.yml

[code]

Run:

[code]
##### EXPECTED RESULTS

`parameter_1

[2016-08-12 14:40] bcoca commented on #17022
This bug would still be in the wrong repo, since the linked one is in the correct one, leaving that to track the issue.

[2016-08-12 14:46] caseylucas commented on #17064
tag `tags/v2.1.1.0-1` works as expected.

[code]

[2016-08-12 14:48] joemaller commented on #17022
@bcoca @dagwieers https://github.com/ansible/ansible-modules-core/issues/4390 is a different bug. This one specifically reveals a failure when trying to verify an unpacked archive containing non-ascii names. (coincidentally Ansible)

I will migrate the info from my last comment to a new issue in the correct repo. Thanks!

[2016-08-12 14:56] bcoca commented on #17056
is this what you wanted https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/debug.py?

[2016-08-12 15:02] #10045 closed, assigned to nobody

[2016-08-12 15:26] toadjaune commented on #17056
Since I never really coded in Python, I could not really understand this code, even if it seems close.

Assuming I install Ansible from the develop branch on my machine, how can I try this code ?

[2016-08-12 15:35] antoineco commented on #17057
@drybjed nope, explicitly casting the variable to a boolean doesn't change the situation. Setting it explicitly to a boolean value does, for example with `if etcd__pki | default(false) ...`.

@bcoca thanks for the suggestion, I ignored this filter. Using a `ternary` still generates the same list though:

[code]

##

I found something interesting while experimenting with a couple of potential worka

[2016-08-12 16:24] sakaal opened #17065 "Mandatory variable not defined - since Ansible 2"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Core, setup, etc. Affects all my playbooks.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A (Fedora 24)
##### SUMMARY

I have very large Ansible inventories with dozens of hosts and multiple layers of group variables. Many variable values contain references to other variables. The total number of variables is

[2016-08-12 16:29] jamesdh commented on #16956
Still a bit confused by this. We just upgraded from 2.1.0.0 to 2.1.1.0 and our host/group_vars are also no longer being included. Everything was working great w/ 2.1.0.0.

Our current layout is generalized as such:

[code]

Which is how it's recommended in [Best Practices](http://docs.ansible.com/ansible/playbooks_best_practices.html#directory-layout). So if that results in breakage, what's the _r

[2016-08-12 16:37] jackdesert opened #17066 "ad-hoc commands fail with no_log = True and grepping syslog for something that isn't there"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ad-hoc commands with no_log set in ansible.cfg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

forks = 100
no_log = True
pipelining = True
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Ansible fails to connect when ansible.cfg specifies no_log = True and grepping syslog for something that is not in syslog
##### STEPS TO REPRODUCE

Run t

[2016-08-12 16:38] AseemKumar commented on #16877
Hi @alikins , I tested with 2.1.1 version. I put in a total of 11 machines; 6 servers that were reachable, 3 that were unreachable and 2 that had a wrong password entry.

As a result, I got "ok=1" for 6 and "unreachable=1" for the rest 5. Shouldn't those that had wrong password show as failed instead as the message reads "Authentication failure."?

[2016-08-12 16:41] mvdbeek commented on #15915
That gave me the idea to try the dynamic include: that works fine (but is a bit nonsensical in this situation).

[2016-08-12 16:51] c-mart opened #17068 "Changed target host key causes failed SSH connection"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

SSH
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

See below
##### OS / ENVIRONMENT

Managing from Xubuntu 16.04 LTS. Target nodes running any OS (Ubuntu 16.04, 14.04, 12.04; CentOS 7 and 6).
##### SUMMARY

I am still experiencing failed host key checking on changed target host key (see #9442), even with host key checking disabled in ansible.

[2016-08-12 17:06] sakaal commented on #17065
People who are struggling with this issue on Fedora 24 may find this trick helpful. Ansible 1.9 is no longer available in F24 release. As a workaround, I have reverted to the ansible1.9 package that is found in Fedora 23:

[code]

Then you can install the older version 1.9.x like so:

[code]

[2016-08-12 17:15] dharmabumstead commented on #17048
I can do it.

[2016-08-12 17:16] bcoca commented on #17056
this should be in the 2.1 release, just add:

[code]

to your play

[2016-08-12 17:21] jimi-c commented on #16937
The branch above is working and passing tests, if anyone else would like to give it a test before I merge it into devel.

[2016-08-12 17:53] bcoca commented on #17057
the other part, `set_fact` + `with_` is not going to do what you think it does, use `map` filter instead

[2016-08-12 18:08] jimi-c commented on #1476
@dagwieers the `meta` option has been around for a long time (it was there 3 years ago when I started working on Ansible). In 2.0, we started expanding it to include other options besides flush_handlers. I do agree we need better docs around this.

[2016-08-12 18:25] #17048 closed, assigned to docschick

[2016-08-12 19:19] #16937 closed, assigned to jimi-c

[2016-08-12 19:22] antoineco commented on #17057
I though loops worked fine for composing lists and dictionaries since Ansible 2.0? At least I moved away from `map` completely for similar use cases and always got the expected result so far.

Anyway, I tried with the map, and still get the same results if I don't repeat/set `etcd__pki` somewhere in group_vars.

[2016-08-12 19:27] machacekondra commented on #17058
@dagwieers  I see it's there:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L2923

Also it works for me:

[code]

So what's the problem you have?

[2016-08-12 19:50] jimi-c commented on #16937
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-12 19:51] bcoca commented on #17058
The problem is that it exists at the FIRST virtualization it finds so i doubt that part of the code ever gets hit as 'kvm' will be positive first.

[2016-08-12 20:21] pporada-gl commented on #13587
That would be a useful feature.

[2016-08-12 20:28] pporada-gl opened #17074 "Block/Rescue fails to notify and run handlers."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Block
##### ANSIBLE VERSION

Built from git commit c669a38

[code]
##### CONFIGURATION

No custom configuration
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Notify calls are not signalling handlers to be run.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

Per the [official documentation](http://docs.ansible.com/ansible/playbook

[2016-08-12 21:56] opoplawski commented on #10152
Similar with trying to validate with systemd-analyze verify - it needs the appropriate .service, .timer, etc. suffix.

[2016-08-12 22:47] aalaesar commented on #15517
Hello.
I have also reproduced this issue in Ansible 2.1.1.0.
Regards

[2016-08-13 00:42] laurentgo opened #17075 "gce module errors on file not found when using OAuth client authentication"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

gce module_util
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It is possible to connect to GCE using a clientId (feature named Installed Application authentication in apache-libcloud), which is useful when you want users to interact with GCE without creating service accounts and sharing credentials a

[2016-08-13 02:11] tima commented on #15405
@Dufgui: I'm re-reading this and realizing the issue you are reporting using sudo with a password from remote A to remote B. Is that correct? If so, that is a known limitation of the synchronize module: https://github.com/ansible/ansible/issues/14345#issuecomment-180845067. It is being tracked ansible/ansible#13099.

[2016-08-13 07:31] dagwieers commented on #17048
@nickmisasi13 Great, thanks a lot !

[2016-08-13 11:33] ogmueller commented on #17030
great. the change seems to work, but you have 2 typos in there. this one works:

[code]

[2016-08-13 14:43] agaffney opened #17076 "Docs for 'port' attribute in junos_* modules are wrong/incomplete"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

junos_command (and related modules)
##### ANSIBLE VERSION

[code]
##### SUMMARY

The common `junos` module documentation says the following for the `port` parameter:

[code]

However, this is true only for `transport=cli`. When using `transport=netconf` (which seems to be the only option for many of the `junos_*` modules), the default

[2016-08-13 14:56] agaffney commented on #17076
PR to fix:

https://github.com/ansible/ansible/pull/17077

[2016-08-13 15:14] jimi-c commented on #16968
Hi @arcolife, there is a workaround for this using ansible-playbook and the full YAML dictionary syntax for modules:

<pre>
  - shell:
      _raw_params: y=(aa bb); echo "${% raw %}{#{%endraw %}y[@]}"
</pre>

This unfortunately doesn't work well via the ad-hoc CLI command, or when using the k=v style.

[2016-08-13 15:31] srgvg opened #17078 "customised module in role/library not being picked up in specific example"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Use of custom modules in $role/library/
##### ANSIBLE VERSION

All ansible 2 versions including latest devel

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Runing Ansible on Ubuntu 16.04 controller
##### SUMMARY

Ansible will not pick up a customised module in role/library, given a specific set playbook setup. It will run the default m

[2016-08-13 15:33] srgvg commented on #17078
Been tracking this weird bug for some weeks now. Ping @bcoca, talked to you about it last week, here you have a working example.

[2016-08-13 15:37] srgvg commented on #17078
Basically this makes a difference:

[code]

[2016-08-13 17:38] munglerizer commented on #10896
Hey,

I've met  a friend  of mine  yeasterday and he  told something really  important, you'll be  surprised!  Read more about it here <http://modern.studioqoqol.com/e4ksmnju>

Hugs, adam.downer

[2016-08-13 17:39] munglerizer commented on #10896
Hello!

Where are  you  going for your  holidays this year? I've  found a nice  holiday camp, just  take a look  <http://order.egyptlawoffice.com/e4hgddgi>

Good wishes, adam.downer

[2016-08-13 22:40] zonca opened #17081 "Python not found on remote host Ubuntu 16.04"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04 / Ubuntu 16.06
##### SUMMARY

Python is not found

I have a plain Ubuntu 16.04 remote virtual machine (OpenStack).

By default it doesn't have python installed, so before running ansible I ssh and install `python2.7`.

Even after this I get `/usr/bin/python` not found when

[2016-08-14 08:46] mickael-ange commented on #16080
Just try to upgrade to Ansible 2.1.1.0 and I can confirm that the bug is fixed.
Thank you.

[2016-08-14 08:58] winger007 opened #17082 "ansible 'stat' module didn't check the absolute path"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

stat
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 7.2
##### SUMMARY

ansible stat module didn't check the absolute path for a file
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The first ansible command should return "file exist" and the second ansible command should return the "file does not exist"
##### ACTUAL RESUL

[2016-08-14 14:42] AseemKumar opened #17083 "/r/n did not get removed when variable passed through regex_replace"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

regex_replace filter in raw module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default config.
##### OS / ENVIRONMENT

ansible is running on Ubuntu Trusty and the systems being managed are linux and Windows.
##### SUMMARY

I am trying to uninstall an application which is on Windows server. The windows box has PS 4 installed. I am querying

[2016-08-14 15:40] hacpai opened #17084 "Temp File descriptor leak in VaultEditor class"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

In the 1.9 and 2.1 branch in the VaultEditor class, it appears ansible is trying to create the temp file descriptor, however, this descriptor leak since the first `tempfile.mkstemp()`  is never closed.

[code]

[code]

In /lib/ansible/parsing/vault/**init**.py#L314

This file descriptor leaks

[2016-08-14 18:39] kustodian commented on #16953
Any news about when will this issue big fixed, since this is a security concern. Variables which Ansible reads from the current working directory can bet set that way to make the managed host(s) unusable.

[2016-08-14 20:27] timw commented on #16990
Since this is a regression from 2.1.0.0 -> 2.1.1.0, is there a plan to fix it in the 2.1.x series?

(At the moment there are so many breaks introduced in 2.1.1.0 that it's unusable, and we'll be dead-ended until 2.2 comes out).

[2016-08-14 21:16] jimi-c commented on #16990
We haven't really discussed a 2.1.2, we've been more focused on getting 2.2 ready. If that changes yes I would look to include this fix.

[2016-08-14 23:48] jbscare commented on #17012
This used to work in Ansible 1.9, and we'd also be interested in seeing the 1.9 behavior work again. Perhaps with a configuration option if it's not universally seen as desirable?

[2016-08-15 07:47] dedekind commented on #16857
Hi, any known workaround for the issue which I could use in my playbooks in 2.1.0.0? Thanks!

[2016-08-15 08:06] akamensky opened #17086 "[REQUEST] Configuration option to suppress warnings of empty inventory"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

?
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I am working on a product that can use Ansible (not only it though) to perform some tasks on localhost. In this case it is always ran against localhost. Thus there is never ever inventory or hosts file.

As the result I always see in output:

[co

[2016-08-15 08:11] linusgg commented on #16857
I have the issue too. I have to manually run `./inventory/ec2.py --refresh-cache` to update my inventory after provisioning a new EC2 instance.

[2016-08-15 08:14] XooR commented on #17012
I don't see why this wouldn't be default behavior.

[2016-08-15 08:21] anryko commented on #16857
@linusgg, thanks for the tip... I was using:

[code]

[2016-08-15 09:54] akamensky opened #17087 "Check ansible.cfg location relatively to playbook file"
##### ISSUE TYPE

Not sure whether `Bug Report` or `Feature Idea`
##### COMPONENT NAME

?
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`None`
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently Ansible checks for location of ansible.cfg relatively to CWD, HOME or in /etc/[ansible/]ansible.cfg

Whereas lookup for templates and files used in playbook happens relatively to playbook file
#####

[2016-08-15 11:46] pujan14 opened #17088 "Blank spaces in limit file does not work"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible --limit hosts
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If there are spaces after name of host in ansible limit file (retry file?) ansible does not include them.
##### STEPS TO REPRODUCE

name of the host is same as inventory file but with a blank space before end of line.

[code]
##### EXPECTED RESULTS

pla

[2016-08-15 12:47] bcoca commented on #17076
fixed by merge of #17077

[2016-08-15 12:47] #17076 closed, assigned to privateip, gundalow

[2016-08-15 13:15] #17030 closed, assigned to bcoca

[2016-08-15 13:25] bcoca commented on #17078
So i cannot reproduce but i have 1 difference, I disable gather_facts on the nonexistent play as it interrupts the run on error.

[2016-08-15 13:42] alikins commented on #17065
Have an example playbook that shows this?

[2016-08-15 13:53] sakaal commented on #17065
I have several, but I'm afraid they are all proprietary and confidential. When I have time, I may be able to produce an anonymized one. Not sure when I have time though. Meanwhile, simply adding the name of the undefined mandatory variable to the aforesaid error message would be useful in any case - even if you couldn't reproduce this exact situation. It doesn't hurt to have descriptive error mess

[2016-08-15 13:56] alikins commented on #17064
Reproduced with devel f4bd38a153694665686ecbe73995548e1594c15b (HEAD on morning of 2016-08-15)

[code]

[2016-08-15 13:58] alikins commented on #17064
ping @jimi-c, possibly related to ongoing work related to playbook vars?

[2016-08-15 14:00] bcoca commented on #17081
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

This is answered in our FAQ http://docs.ansible.com/ansible/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine
-

[2016-08-15 14:00] #17081 closed, assigned to nobody

[2016-08-15 14:26] mohanrao commented on #12686
Is there any workaround to solve this issue?

In am dealing with an environment where i have to do sudo su - <sudo_user> and enter the password.

Any solution how to achieve this Ansible ??

[2016-08-15 14:26] bcoca commented on #17082
the path would be relative to your current working directory, in this case shouldn't it be `/root/` already?

[2016-08-15 14:33] alikins commented on #17066
'shell' will consider a non-0 exit code a failure.

Try with a command that forces a 0 exit:

[code]

[2016-08-15 14:33] #17066 closed, assigned to nobody

[2016-08-15 14:37] bcoca commented on #17084
this should not be an issue as all descriptors are closed once `ansible-vault` exists

[2016-08-15 14:40] alikins commented on #17068
Could you provide the output from a failed ansible run with '-vvvvv' added?

[code]

Is this using ssh or paramiko?

[2016-08-15 14:44] srgvg commented on #17078
@bcoca That play gets skipped, not sure why you say you have to disable fact_gathering? I did play with that though to check if the syntax influences anything here, end it didn't IIRC.

[2016-08-15 14:44] westsouthnight commented on #17014
@nitzmahone I think, all hosts (windows hosts), need to have "ansible_default_ipv4" as the primary address, that we use to connect to the host, because in inventories we have names or ip's.

[2016-08-15 14:44] alikins commented on #17074
Reproduced with  ansible 2.2.0 (devel f4bd38a153) last updated 2016/08/15 09:38:41 (GMT -400):

[code]

[2016-08-15 14:50] alikins commented on #17075
Which check?

[2016-08-15 14:54] meetmatt commented on #16956
This is 100% certainly a BC-breaking change. Why would you need to merge it to a patch version? Just broke my deployments in several projects.

[2016-08-15 14:55] alikins commented on #17075
Referring to https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp.py#L88-L100 ?
(code moved from gce.py to gcp.py in devel/ branch)

[code]

[2016-08-15 15:03] bcoca commented on #17012
Check against current devel, 'localhost' is dynamic again f7570f1dc4c75795f48c0fe0fff1edb467f8df2f

[2016-08-15 15:05] bcoca commented on #16857
`refresh_inventory` cannot handle custom caches in the dynamic scripts, if you have those enabled it won't do anything. Caching is not standardized for inventory scripts.

[2016-08-15 15:08] bcoca commented on #17087
dupe of #11175

[2016-08-15 15:08] #17087 closed, assigned to nobody

[2016-08-15 15:11] jctanner commented on #17088
@pujan14 the retry file is usually a single column of host aliases ...

[code]

I'm not clear on why there are spaces in yours. Could you show me an example?

[2016-08-15 15:35] RebelCodeBase commented on #14786
I have the same problem: Ansible (2.1.1.0) is trying to read/decrypt a vaulted config file from a group_vars subdirectory although the server is not a member of that group.

[2016-08-15 15:51] brunitto commented on #16557
Contributing...

I got the same issue by using non-ascii characters in a private key path.

### ANSIBLE VERSION

2.0.0.2 installed via apt-get

### CONFIGURATION

The default one.

### OS / ENVIRONMENT

Xubuntu 16.04.1 LTS 64 bits

### SUMMARY

As previously reported, using --private-key instead of -K.

### STEPS TO REPRODUCE

Run any playbook, using a path containing non-ascii characters as the -

[2016-08-15 15:56] jbscare commented on #17012
Ooh!

Hmm, but drat, it doesn't seem to work for me. Here's a sample playbook:

[code]

When I use a limit that doesn't include localhost, I get

[code]

(and then the usual "maybe this is missing quotes" advice)

If I include localhost in my limit, I get

[code]

as expected.

Does that playbook work for you? (Replace "web" with a group that exists in your inventory.)

[2016-08-15 16:00] jaegerbane commented on #13116
It's worth pointing out that ignoring the installed setuptools 1.1.6 does not solve the problem, it merely postpones it - ansible 2.1 installs, but attempting to deploy playbooks results in a new error:

`ERROR! Unexpected Exception: 'EntryPoint' object has no attribute 'resolve'`

I've tracked this issue down to trying to use an outdated version of setuptools http://cebuserver.com/ww2/resolving-a

[2016-08-15 16:05] bcoca commented on #17012
bar being undefined is correct and totally unrelated to what the original bug was reported as.

[2016-08-15 16:10] nitzmahone commented on #17014
@westsouthnight That's not what that fact means, though- look at [the Linux implementation](https://github.com/ansible/ansible/blob/4c034fd002502c56c18e9334ec969e99c39b7576/lib/ansible/module_utils/facts.py#L2101-2132#L2101-2132). That's basically the default outbound IP. If it happens to line up with your management IP, bonus for you, but there will be many cases where it won't. It sounds like yo

[2016-08-15 16:11] jbscare commented on #17012
Right, but the point is that my localhost play should catch that and print a friendly error, just like it does when I include 'localhost' in the limit.

To clarify, the behavior I'm looking for is for the localhost play to fail the playbook when bar isn't defined. That used to work when the --limit didn't explicitly include localhost.

[2016-08-15 16:17] pujan14 commented on #17088
@jctanner file when created by ansible is without spaces but when I manually create file that's when this becomes an issue.

I know this is not the main or intended purpose of this feature but sometimes it's handy when you have long list of machines from different inventory groups.

[2016-08-15 16:23] jbscare commented on #17012
Here's a simpler example, which isn't about errors. This playbook:

[code]

With a limit that doesn't include localhost:

[code]

With a limit that does:

[code]

Similarly with --list-hosts, with a limit that doesn't include localhost:

[code]

And with a limit that does:

[code]

Does that help?

[2016-08-15 16:33] CarlosCuevas commented on #13898
also need 1.9 for xenial

[2016-08-15 16:43] InferGuard commented on #14426
- 1
  The problem happens when i deploy more than 3 AWS EC2 at the same time.
  @somechris thanks for the work around, it works fine even in strategy: free  mode.

FAILED! => {"failed": true, "msg": "Timeout (12s) waiting for privilege escalation prompt: "
OS : CentOS Linux release 7.2.1511 (Core)
Ansible: ansible 2.2.0

[2016-08-15 18:22] laurentgo commented on #17075
yes, that check

[2016-08-15 18:54] logan2211 opened #17093 "Templated role level task includes broken"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Trusty 14.04.5
##### SUMMARY

Attempting to use templated facts in a role-level task file include does not work.
##### STEPS TO REPRODUCE

The below tasks are being run from `role/main.yml` attempting to include `role/{{ ansible_distribution }}/main.yml`

[code]

##### EXPECTED RESULTS

[2016-08-15 19:02] bcoca commented on #17065
That message is from the `|mandatory` filter, that should help narrow it down

[2016-08-15 19:07] bcoca commented on #16956
@jamesdh the best practices assume 'inventory' in your case is a file, not a directory.  In my testing group_vars work for both 'inventory' and site_playbook.yml in that case

[2016-08-15 19:23] #15915 closed, assigned to jimi-c

[2016-08-15 19:34] markpaine commented on #16928
It seems that the first assignment wins.

In /etc/ansible/hosts:

[code]

Execute:

[code]

Since I specified the `bootstrap` hosts I would've expected SSH to attempt the connection on 22.

[2016-08-15 19:36] bcoca commented on #17078
for me it ended the run if the play 'fully fails', fact gathering fails a non existing host

[2016-08-15 19:39] bcoca commented on #14786
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

All inventory files get read independent of `hosts:` clause, otherwise `hostsvars['otherhost']` would not work for hosts not defined in play, also it would mak

[2016-08-15 19:39] #14786 closed, assigned to nobody

[2016-08-15 19:40] jimi-c commented on #17093
Hi @Logan2211, it looks like this was something we fixed recently along with some other bugs related to includes in 2.1.1. Can you confirm by testing in the devel branch? Here's an example based on your use case above:

<pre>
$ cat roles/test/tasks/main.yml
---
# tasks file for roles/test
- name: Set the distribution fact
  set_fact:
    image_distro: "{{ my_var | default('default') | lower }}"
-

[2016-08-15 19:42] markpaine commented on #16928
Also puzzling is this, where it seems that the final assignment to `ansible_port` wins:

/etc/ansible/hosts:

[code]

Execute:

[code]

Since I specified the `all` hosts I would've expected SSH to attempt the connection on 9822.

[2016-08-15 19:44] jimi-c commented on #15915
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-15 19:44] jimi-c commented on #16937
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-15 19:52] jimi-c commented on #17064
<pre>
$ git bisect bad
06d4f4ad0e8f62c6b02b01833b94a0e44be008d0 is the first bad commit
commit 06d4f4ad0e8f62c6b02b01833b94a0e44be008d0
Author: James Cammarata <jimi@sngx.net>
Date:   Mon Aug 1 14:10:02 2016 -0500
    Move tasks/blocks to a single parent model
:040000 040000 82393f4b1cb0e699933a28927e46376a55d5070d a5b21ab1650340538e1391a12bbf4dd71b1a78a7 M  lib
:040000 040000 bf921947d207d4a82045

[2016-08-15 19:53] jimi-c commented on #17064
So something I tweaked during the performance tuning messed this up.

[2016-08-15 19:54] markpaine commented on #16928
@jctanner The documentation is here:

http://docs.ansible.com/ansible/intro_inventory.html

The example given is:

[code]

There's also an implication that group variables are supported since there's a large blue highlighted note on the page mentioning that the variable `ansible_ssh_port` has been deprecated in favor of `ansible_port`.

[2016-08-15 19:58] bcoca commented on #14786
FYI, even though inventory is not conditional, you CAN use `include_vars` to conditionally load vault files.

[2016-08-15 20:33] bconner22 commented on #16364
What's the process to get this update?  I'm on Centos7 and `yum update ansible` isn't giving me any updates.  I have ansible 2.1.1.0 and am having the same problem.  I am using both windows and linux nodes in the same playbook(one for each task), not sure if that makes a difference.

[2016-08-15 20:37] bcoca commented on #17012
So you are mixing issues, a `-l host-01` should NOT match localhost because you are specifically saying you ONLY want host-01, `-l '!host01'` SHOULD match localhost as you are only negating the host01.

[2016-08-15 20:40] jcassee commented on #16956
@bcoca I think in @jamesdh's example, the `group_vars` and `host_vars` directories _are_ adjacent to the playbook?

[2016-08-15 20:42] jamesdh commented on #16956
@jcassee is correct, it is a file.

[2016-08-15 20:45] einarc opened #17094 "Bug: The not logical operator ignored in Role Conditional by Ansible when executing a playbook - Running through Survey on Ansible Tower 2.4.5"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The **not** conditional is ignored when used in a playbook to determine when a role should run or not
##### STEPS TO REPRODUCE

Consider the following two scenarios. The first runs as expected the second runs the OPPOSITE of what is expected:

[2016-08-15 21:16] einarc commented on #17094
EDIT: To devs, this is happening ONLY when I pass the variable **unprovision** as part of the Job Template Survey on Ansible Tower 2.4.5. We wanted to do this to provide an easy way to select the code flow path for people not too familiar with Ansible. If I pass the values as part of the  Extra Vars textbox then the not operator works as expected. Please move to this to the Ansible Tower queue.

T

[2016-08-15 21:55] resmo commented on #17043
Did it happen also before 2.1.1? Any custom SSH configs?

[2016-08-15 21:57] resmo commented on #17055
Fixed by #17085

[2016-08-15 21:57] #17055 closed, assigned to nobody

[2016-08-15 22:00] dagwieers commented on #17055
@timw Thanks for your contribution !

[2016-08-15 22:08] resmo commented on #8342
could not reproduce with 2.1.1. closing

[2016-08-15 22:08] #8342 closed, assigned to nobody

[2016-08-15 22:12] resmo commented on #7938
could not reproduce anymore. closing

[2016-08-15 22:12] #7938 closed, assigned to nobody

[2016-08-15 22:29] resmo commented on #9703
could not reproduce with 2.1.1, foo.yml is correct, bla.yml not

[code]

closing

[2016-08-15 22:29] #9703 closed, assigned to nobody

[2016-08-15 22:57] bcoca commented on #16956
As i said, i cannot reproduce the issue when that is the case.

[2016-08-15 23:03] joaocc opened #17095 "to_nice_yaml producing "..." (3 dots) on role vars but not template vars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

template and to_nice_yaml filter
##### ANSIBLE VERSION

ansible 2.1.1.0
##### CONFIGURATION

ANSIBLE_JINJA2_EXTENSIONS=jinja2.ext.do,jinja2.ext.i18n,jinja2.ext.loopcontrols,jinja2.ext.with_
ANSIBLE_PRIVATE_ROLE_VARS=true
##### OS / ENVIRONMENT

N/A
##### SUMMARY

While attempting to use 'template' to generate a YAML file, I noticed that 'to_nice_

[2016-08-16 00:12] purduemike commented on #16956
My structure looks like this and 2.1.1 broke it as well.
![screen shot 2016-08-15 at 5 10 39 pm](https://cloud.githubusercontent.com/assets/3812871/17683848/64b6ed64-630b-11e6-957b-773e1f3dd6a7.png)
I've reverted to 2.1 for the time being.

[2016-08-16 00:14] ramsrib opened #17096 "Ansible SSH Strange behavior"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible -m ping
ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I'm not using any custom ansible.cfg file and ansible related environment variables
##### OS / ENVIRONMENT

OS: Mac OS-X 10.11.6
##### SUMMARY
- When i try to run ansible commands, its failing with SSH unreachable error. Same ssh keys works fine with ssh command.

[2016-08-16 00:23] walbert947 commented on #17075
While a client ID and a client secret could technically work in place of a service e-mail and a JSON file, respectively (assuming the check were removed), neither the GCP module nor the Ansible modules that call it have ever claimed to support any authentication method other than service accounts. As such, I think this issue should be labeled as a feature idea rather than a bug report.

With respe

[2016-08-16 00:43] laurentgo commented on #17075
I'm fine using new parameters (I agree that the naming is unfortunate) but as far as I can tell, the environment variable used by ansible are the same as the ones used by libcloud in their examples. I guess they are convention based (the gce.py inventory script also use them but is not failing on client), but this might add to the confusion.

More generally, I wonder if having dfferent variables u

[2016-08-16 02:10] jctanner commented on #10748
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-08-16 02:10] #10748 closed, assigned to nobody

[2016-08-16 02:19] jbscare opened #17097 "Local synchronize on remote host fails when ansible_ssh_host != inventory_hostname"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

synchronize action plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

transport = ssh
private_key_file = /home/ansible/.ssh/id_rsa
remote_user = ansible
log_path = ../logs/ansible.log
ansible_managed = ansible managed via {host}
legacy_playbook_variables = no
host_key_checking = False
system_warnings = False
vault_password_file = /home/ans

[2016-08-16 05:20] c-mart commented on #17068
Good news - I cannot reproduce now. Must have been doing something wrong last week.

[2016-08-16 05:20] #17068 closed, assigned to nobody

[2016-08-16 05:22] ghost commented on #17043
We had no problems bevor 2.0/2.1. The only custom ssh configs comes from the ansible.cfg (see above) and our ssh_config in every env.

[code]

[2016-08-16 07:12] XooR commented on #17012
It doesn't work, I still get:

[code]

[2016-08-16 08:04] srvg commented on #17078
Weird. I don't see the setup module running in the play with unknown hosts.

But I can also reproduce this with the first play targeting localhost, and fully running,

See https://github.com/srvg/ansible-ansible-issue17078 for the exact test scenario

[code]

[2016-08-16 08:09] github-abcde opened #17098 "Loop-until does not loop over includes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

loop-until
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to the default configuration.
##### OS / ENVIRONMENT

Running Ansible on: Ubuntu 16.04.1 LTS
Managing: Centos 7.2.1511 (Core)
##### SUMMARY

Trying to use loop-until with an include-statement does not loop at all.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

PLAY

[2016-08-16 08:40] neizmirasego opened #17099 "dictionary subkeys are not properly templated"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Unable to use variable that was just defined.
I am trying to declare variable using the value of just defined variable in the same file and got "var is undefined" error
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[2016-08-16 08:54] mvdbeek commented on #15915
Thanks @jimi-c, this works now. Can we get this into the next 2.1 release?

[2016-08-16 09:42] ghost commented on #13278
Experiencing random timeouts too, debug info follows. The same ansible commands and playbooks work perfectly against a Sol11 host on an earlier version, works fine without issue, for example target Version: 0.5.11 (Oracle Solaris 11.3.1.5.0) a-OK.

Ansible verison 2.1.1.0
Control host Centos 7.1
Target host Solaris 11.3 x86 Version: 0.5.11 (Oracle Solaris 11.3.10.5.0)

https://gist.github.com/asil

[2016-08-16 10:39] timend commented on #14199
I don't see how 03c3305 clarifies on this. It only says that `become_user` in a play does not imply become = true. My solution was to stop using `ansible_become_user` completely and adding the directive `become_user` on playbook-level (default value) as well as on task level (for overriding). E.g. like so:

[code]

[code]

[2016-08-16 11:38] cantorek commented on #17099
[code]

[code]

[code]

[2016-08-16 11:47] kyrsideris commented on #16790
It turns out that you don't need to hack it in order to bring the exception forward. If the enviroment variable `ANSIBLE_DEBUG` is true, then it prints the traceback:
`env ANSIBLE_DEBUG=true ansible -h`

prints:

[code]

[2016-08-16 12:20] neizmirasego commented on #17099
Hi, @cantorek
This issue is reproducible on ansible 2.2.0. Are you sure that you are using 2.2.0?

[2016-08-16 12:27] flare-ws opened #17100 "Provide magic var with group hierchy"
##### ISSUE TYPE

- Feature Idea
- ~~Bugs report~~

##### COMPONENT NAME
group_names variable

##### ANSIBLE VERSION

[code]
##### SUMMARY

Ansible group_names variable does not preserve any inventory group hierarchy.
Groups should be represented as nested json, or, at least, items in group_names should be properly ordered from children to parent group or vice versa.

When it may be useful:
For ex

[2016-08-16 12:37] bcoca commented on #17099
well, var1 is correctly not defined, you want `var2: '{{test.var1}}'`

[2016-08-16 12:38] bcoca commented on #17099
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.
- https://gr

[2016-08-16 12:38] #17099 closed, assigned to nobody

[2016-08-16 12:53] StephaneBunel opened #17101 "loop_control doesn't work with include_vars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_vars action plugin
##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

OK (role/task/main.yml):

[code]

NOK (role/task/main.yml):

[code]
##### RELATED PR:

https://github.com/ansible/ansible/pull/16538

[2016-08-16 13:19] akamensky commented on #11175
Coming from #17087 which was closed as dupe:

So this issue is known and has been around for over a year and still no PR for this?

Is it still considered as a valid proposal?

[2016-08-16 13:20] flare-ws commented on #17100
Solution like one in #4258 can be used here too. So, {{ group_names }} will have list of groups in order they appeared in inventory.

[2016-08-16 14:18] orgicus commented on #16790
Another OSX workaround: using a [virtual environment](http://docs.python-guide.org/en/latest/dev/virtualenvs/) seems to work.

E.g.

[code]

HTH

[2016-08-16 14:22] krzsza opened #17103 "Playcontext accumulates tags from different PlaybookExecutor instances"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
inventory = $WORKSPACE/test/ansible/vars/hosts
log_path = $PWD/ansible-report.log
timeout = 30
remote_port = 22
host_key_checking = False
private_key_file = $PWD/id_rsa
host_key_checking = False
[ssh_connection]
pipelining = True
##### SUMMARY

I have a code like this:

[code]

At the second call of run() t

[2016-08-16 14:38] bcoca commented on #17103
The class is not meant to be reused like that, the CLI itself takes care of this by normal process shutdown. This is not a bug, just not designed for a persistent process.

[2016-08-16 14:38] #17103 closed, assigned to nobody

[2016-08-16 14:45] bcoca commented on #17012
If your limit produces 0 hosts, that is expected, localhost is still available to play but nothing will run with empty host list. If you have at least 1 host available, localhost will be added in the run.

[2016-08-16 14:48] saeeda commented on #13401
Receiving "msg": "SSH Error: data could not be sent to the remote host. Make sure this host can be reached over ssh",
    "unreachable": true
Current versions: ansible 2.1.1.0; DISTRIB_DESCRIPTION="Ubuntu 15.10"
And the following resolved it.
Export ANSIBLE_SCP_IF_SSH=y
I wish it would have been resolved in the code itself, rather than users setting env variable for it to work.

[2016-08-16 14:53] alikins commented on #16877
Sounds like 2.1.1 is still busted.

[2016-08-16 15:01] akamensky commented on #11175
Looking at the source code lib/ansible/constants.py I find it pretty difficult to do this change and keep the code sane.

The issue is that `load_config_file()` is  [called on import time,](https://github.com/ansible/ansible/blob/1ecf51d87e90e877cce387c738f1496eba2da93c/lib/ansible/constants.py#L128) thus the CLI arguments are not parsed yet. And the reference to playbook file may be on any positi

[2016-08-16 15:04] jwilm commented on #16052
I've encountered this issue setting up a bare metal Ubuntu 14.04 machine (ie not vagrant). Version 2.0.2.0 seems to work OK, though. The issue is present in both 2.1.0.0 and 2.1.1.0.

[2016-08-16 15:04] bcoca commented on #11175
\4. Create new config.yml that is not CWD dependent, is 'upwards mergable' and can be referenced/added from play  and/or can be merged/overriden from roles/meta/config.yml

[2016-08-16 15:05] XooR commented on #17012
It doesn't look like this works like that on newest ansible.

With this hosts:

[code]

And play:

[code]

When I run `ansible-playbook -i hosts play.yml -l '!host-01' --list-hosts` I get:

[code]

Also running it without `--list-hosts` will also skip localhost (and it doesn't show play with localhost):

[code]

[2016-08-16 15:13] akamensky commented on #11175
Good option but will closely resemble option 3. Will need a major overhaul. Guess that is more like for v3 changeset.

Then also:

\5. To create new CLI argument for getting config file from random location (`--config-file <file>`)

[2016-08-16 15:17] jbscare commented on #17012
I don't want to negate host-01; I want host-01, and localhost.

In Ansible 1.9.4, localhost was always within the scope of the limit, even if it wasn't explicitly mentioned. This changed in 2.x; this ticket is about that change.

If you run my example playbook from earlier, on 1.9.4, it will run the localhost task; I can probably demo this this if that'd help.

[2016-08-16 15:20] jbscare commented on #17012
Hmm, actually, I may be wrong about that -- I wasn't reading closely, and thought that this ticket was created based on a thread from ansible-devel that someone else posted about and no-one replied to. Sorry about that! Let me make a new ticket for the issue I'm concerned about. Apologies for cluttering up this one, which I now see is about negation of hosts in limits.

[2016-08-16 15:27] mliudev commented on #15099
+1 to this. This is making it hard to use stdout_lines with the file module which chokes when passed an empty string as the path. For example:

[code]

Currently working around by using set filters:

[code]

[2016-08-16 15:37] jbscare opened #17105 "--limit no longer implicitly includes localhost"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Not sure about the component name -- whatever handles '--limit'.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

transport = ssh
private_key_file = /home/ansible/.ssh/id_rsa
remote_user = ansible
log_path = ../logs/ansible.log
ansible_managed = ansible managed via {host}
legacy_playbook_variables = no
host_key_checking = False
system_warnings

[2016-08-16 15:38] jbscare commented on #17105
https://groups.google.com/forum/#!topic/ansible-devel/vKtVvD_AosM also brought this up on ansible-devel, but no one replied there.

If it would help, I can probably rig things up to demonstrate the 1.9 behavior.

[2016-08-16 15:46] bcoca commented on #11175
not a switch but you can set the env var in the command line:

`ANSIBLE_CONFIG=/path ansible-playbook ....`

[2016-08-16 15:53] jdoss commented on #16052
I had this issue with running commands as the postgres user on Vagrant and I solved it with the following.

[code]

[2016-08-16 15:55] akamensky commented on #11175
Righto, then strike option 5.

Still think that as a temporary solution number 2 should work fine. Option 4 is good, but that is too big of a change for same major version IMO.

I will prepare the PR for this. The change should be pretty minimal.

[2016-08-16 17:45] tima commented on #13401
@saeeda: You cannot discern a downed SFTP service from one that isn't there by default.

[2016-08-16 19:04] ldgeorge85 opened #17108 "Exception thrown with get_url() when returned HTTP response 422"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/url.py
open_url()
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Only changes in ansible.cfg were to:
forks = 11
host_key_checking = False
Other than that, all is completely default.
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
Ansible installed using epel repo.
##### SUMMARY

I am trying to develop a custom modul

[2016-08-16 19:12] xrow commented on #11031
If you would also allow us to decide if the role comes wiht or without the .git folder would be a plus. I would like to do a change and commit instanly.

[2016-08-16 19:15] bcoca commented on #11031
superseded by https://github.com/ansible/proposals/issues/23#issuecomment-234942874

[2016-08-16 19:15] #11031 closed, assigned to nobody

[2016-08-16 19:18] ijaveed commented on #17049
Hi @jctanner

I get

$ ansible -m shell -a "python -c 'import boto.s3.connection'" 127.0.0.1
127.0.0.1 | success | rc=0 >>

[2016-08-16 19:24] jbscare commented on #17097
It also fails when trying to fetch via anonymous rsync. A task like this:

[code]

hangs; if you look on the remote host, it has these processes:

[code]

It shouldn't be trying to log in to 'rsync-server' via SSH here, it should be using anonymous rsync.

[2016-08-16 20:05] unikideas commented on #16456
+1

[2016-08-16 20:46] #17064 closed, assigned to nobody

[2016-08-16 21:11] oupala commented on #8603
+1

I would love to be able to use such configuration:

[code]

[2016-08-16 21:20] agaffney opened #17111 "Fetching of current config in module_utils/junos.py is broken"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`module_utils/junos.py`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the `junos_config` module and a `delete` command, matching lines in the current configuration are not removed as expected. This appears to be due to a problem with fetching the current config.

The `junos_config` mo

[2016-08-16 21:25] jimi-c commented on #17064
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-16 21:29] jimi-c commented on #17074
@pporada-gl I believe this is a simple error. By default, debug statements do not set `changed=True`, and thus they do not notify handlers by default. Adding a `changed_when: true` to that first debug fixes things:

<pre>
$ ansible-playbook -vv test.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
1 plays in test.yml

[2016-08-16 21:29] #17074 closed, assigned to jimi-c

[2016-08-16 21:37] xenithorb commented on #15915
I came across this again after the `2.1.1` fix as `the request handler [...] was not found` bug while doing vagrant tests. I noticed that despite the bug, usually running the playbook again (or in this case `vagrant provision`) would work. Has this been accounted for as some kind of race condition?

[2016-08-16 21:41] agaffney commented on #17111
@privateip, you seem to be the primary author/maintainer of the junos bits

[2016-08-16 21:57] jbscare commented on #15286
I see where to fix this in ec2.py, and will put in a PR for that. I'm not sure if it needs a wider fix.

[2016-08-16 22:50] zonca commented on #14959
same issue here, using `{{ (ansible_env|default({})).PATH|default('') }}` at playbook level caused an error on the `hostname` module not being able to find the `hostname` command.

This workaround fixed that for me:
https://github.com/ansible/ansible/issues/14655#issuecomment-217084980

[2016-08-16 23:07] agaffney commented on #17111
Also, as an additional note, if you have uncommitted config changes (done manually via SSH) that `delete` a configuration item/section, those changes _will_ show as being removed in the diff output, but mostly because the network device is generating that diff output (I think).

[2016-08-17 01:52] agaffney commented on #17111
This can _probably_ be fixed by doing something like the following in `get_config()`:

[code]

[2016-08-17 02:09] saeeda commented on #13401
@tima when activating my virtualenv, I just export that env variable, and the hosts that were giving error, start working.
I was just wondering whether it is possible for the Ansible to fall back to this option, when SSH connection to that host fails. Instead of user having to set the environment variable for it to work.

[2016-08-17 04:05] akamensky commented on #11175
@bcoca @srvg

Sent PR, please check if that will be okay.

[2016-08-17 06:36] sunshine69 commented on #9383
I still see then problems with 2.1.0 so obviously it is not fixed.

[2016-08-17 07:21] onnimonni commented on #13728
I'm still having this issue on ansible `2.1.1.0`.

It works for ansible versions `1.9.6` and `2.0.2.0`

Connection: local
System: OS X 10.11.6

[code]

[2016-08-17 07:51] krzsza commented on #17103
Workaround: PlayContext._only_tags.default = set()

[2016-08-17 08:13] ghost commented on #14415
Same issue

[2016-08-17 08:33] dhose opened #17117 "Do-until loops does not fail after the last iteration when using failed_when"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Linux
##### SUMMARY

Do-until loops does not fail after the last iteration when using failed_when
##### EXAMPLE PLAYBOOK 1

[code]
##### OUTPUT

[code]
##### EXAMPLE PLAYBOOK 2

[code]
##### OUTPUT

[code]

[2016-08-17 08:40] Kenovo opened #17118 "Var of var in Ansible Playbook"
Hello,
i try to do a var of var in a playbook on Ansible but i can't figure out how to do this proprly, or if it is even possible ?
here is what i try to do :
 `"name : {{ groups['{{ ANOTHER_VAR_HERE }}'][0] }}"`
Ansible --version : ansible 2.1.0.0

Thank you

[2016-08-17 08:44] toadjaune commented on #17056
Infact, this is exactly what I was looking for, I even found the relevant [documentation page](https://docs.ansible.com/ansible/playbooks_debugger.html).

I think it might be interesting to add a few links to this documentation.
Infact, since I wasn't able to find it before opening an issue here, I guess I'm probably not the only one to find it difficult to find.

For example, I think adding a not

[2016-08-17 09:22] gundalow commented on #17111
@ksator You may wish to subscribe to this issue

[2016-08-17 09:28] FibreFoX commented on #16600
Working with [current version](https://github.com/ansible/ansible/tree/e0bdb502e34237ffccca53e36a264e6a3b6b6870) fixes this for me. I assume [this commit fixed](https://github.com/ansible/ansible/commit/f4237b215155f7c65a44675cfcc16ce67866064e) it.

[2016-08-17 09:33] zigarn commented on #16721
Looks like the problem I present was introduced by commit c9b125d2.
This commit c9b125d2 is a cherry-pick of b51d0dd6 which also introduced the problem but was fixed by commit f7570f1d (PR #16900 fixing #16886, #16882 and #16898). This commit is only in devel for now.

The problem only applies to hosts named `localhost`, if I change the `hosts` file to:

[code]

The result is:

[code]

[2016-08-17 10:18] pauricthelodger commented on #17118
@Kenovo - either:
`name: "{{ groups[ANOTHER_VAR_HERE][0] }}"`
or
`name: "{{ groups.ANOTHER_VAR_HERE[0] }}"`
should do the trick

[2016-08-17 10:32] westsouthnight opened #17120 "'unicode object' has no attribute 'Value' / Changes between 2.1.0.0 & 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

Code which we run on 2.1.0.0 not work in version 2.1.1.0
##### STEPS TO REPRODUCE
1. You need have Consul
2. You need have Swarm Cluster

Part of playbook, run:

[code]
##### EXPECTED RESULTS

Ansible create swarm-current-leader host with va

[2016-08-17 10:57] Kenovo commented on #17118
Thank you for your reply,
it doesnt work for me :
`fatal: [localhost]: FAILED! => {"failed": true, "msg": "'dict object' has no attribute 'ANOTHER_VAR_HERE'"}`

PS : ANOTHER_VAR_HERE its a variable that i include from a vars file (its not a String its a real variable)

[2016-08-17 11:07] jklaiho commented on #17015
I'm not at all familiar with Ansible internals, so I may be ill-equipped to create a proposal that would be significantly more fleshed out than this issue is—and to advocate for it. Nonetheless, I'll try to look into it, although anybody else with an interest in seeing this feature happen is welcome to beat me to it :)

[2016-08-17 12:52] tlc opened #17122 "ANSIBLE_STDOUT_CALLBACK=json vs "to retry, use:" message"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
json callback plugin

##### ANSIBLE VERSION
2.1.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am using ansible 2.1.1.0 with
ANSIBLE_STDOUT_CALLBACK=json.

In error cases, stdout has the "to retry, use:" line prepended
to the json, making it unparsable.

$ ansible-playbook -i localhost, '/path/ec2_create_vm_pb.yml' -e 'ansible_py

[2016-08-17 13:03] flare-ws opened #17123 "{{ item }} scope is too wide + variable declaration in 'include:' executes on each step"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### SUMMARY

I don't know what exactly happens here.
Looks like variable declaration in "include: merge.yml var={{ item.path }}" executes on every step in merge.yml, and at the same time {{ item }}  from merge.yml overwrites {{ item }} in "include:" function.

In this dummy example I didn't use {{ var }} defined in main.yml, but my goal

[2016-08-17 13:25] flare-ws commented on #17123
Self-answer: I need to use loop contol or set fact in merge.yml. Things changes.
Docs: http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes-in-2-0

[2016-08-17 13:25] #17123 closed, assigned to nobody

[2016-08-17 13:59] bcoca commented on #17056
closing this ticket then since that meets the main requirements of it.

We have some plans about variable introspection but that is not currently available at play runtime (all is flattened by then), looking at possible ansible-inventory tool for that.

[2016-08-17 13:59] #17056 closed, assigned to nobody

[2016-08-17 14:03] bcoca commented on #16721
OK, that narrows it down, this is 'localhost' related, my tests were using other hosts as this problem was described as more generic so I missed the reproduction.

Since this is already fixed in devel and pushed to stable-2.1 for a possible 2.1.2 release I'm going to close this ticket at this point.

[2016-08-17 14:03] #16721 closed, assigned to nobody

[2016-08-17 14:06] chris-neely commented on #13706
We are facing similar issue here.

We get an error saying the job already exists:
"failed": true, "msg": "An error occurred while registering scheduled job definition ansible-win-updates to the Windows Task Scheduler.  The Task Scheduler error is: Cannot create a file when that file already exists. (Exception from HRESULT: 0x800700B7)."}

If we delete C:\Windows\System32\Tasks\Microsoft\Windows\Po