[2021-05-12 17:55] #29363 closed, assigned to nobody

[2021-05-12 18:19] Shrews commented on #33785
Tested the reproducer playbook with ansible `2.9.21` and higher and it seems we get the author's expected behavior now:

[code]

As such, I'm closing this issue.

[2021-05-12 18:19] #33785 closed, assigned to nobody

[2021-05-12 19:09] Shrews commented on #34450
Now that we have the `ArgumentSpecValidator` class introduced in `2.11`, we should be able to begin considering using that in action plugins at this point.

[2021-05-12 21:26] #74659 closed, assigned to sivel

[2021-05-12 22:11] samdoran commented on #74601
@benjdudas Can you test with #74630? I made it work both on Python 2 and Python 3 even though we no longer support Python 2 on the controller.

[2021-05-12 22:39] shepyard1980 commented on #43543
Have you tried this I had the same problem and this resolved it for me. Maybe its the declaration of the var:
dependencies:
- { role: role_d, role_d_state: "running" }

[2021-05-13 04:43] jnm27 opened #74683 "Vault variables undefined when using delegate_to (reopen)"
### Summary

This is a reopening of the issue https://github.com/ansible/ansible/issues/22737 which was said to be resolved by https://github.com/ansible/ansible/pull/70331. I reviewed the code and it appears that an attempt was made to resolve it but an error is being raised just before the new logic to use the delegated vars in the templar. When I ignore that error (by hacking task_executor.py),

[2021-05-13 07:59] #74678 closed, assigned to nobody

[2021-05-13 08:19] yurnov commented on #74678
Thanks, @sivel, @mkrizek, unfortunately, this undocumented feature (that removed in commit [remove redundant remote_user for local setting](https://github.com/ansible/ansible/commit/ce52e6738cdb3e3e729e1355866bee4f65a214d7)) is used many places in many projects. Anyway, it understandable and clear how to fix in my playbooks.

Thanks for your support

[2021-05-13 09:04] lonix1 commented on #74677
I routinely create cron job files run by run-parts. That's how the jobs in cron.d are run in ubuntu. But run-parts only runs executable files.

The use case for this, which I've seen elsewhere too, is to run jobs in order (e.g. first make backup, then run checks, then upload to secondary storage, then update logs, etc. And these are independent jobs which are not coordinated by some script - decou

[2021-05-13 10:43] gundalow opened #74684 "`ansible-galaxy collection init` new skeleton (collection_template)"
### Summary

Following on from https://github.com/ansible-collections/community.general/issues/176

Currently, we have:
* https://github.com/ansible-collections/collection_template which is a [GitHub Template Repo](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository) we use when we create new Collection Repos)
* https://github.com/ansible/an

[2021-05-13 14:05] dericcrago commented on #74684
FYI - I started a `cookiecutter` branch POC (https://github.com/dericcrago/collection_template/tree/cookiecutter) for https://github.com/ansible-collections/collection_template awhile back.

[2021-05-13 14:45] flowerysong commented on #74677
The files in /etc/cron.d are crontabs, and are neither executable nor run by run-parts. These are suitable for management by the `cron` module.

Files in `/etc/cron.daily` etc. are not crontabs, just normal scripts (or even binaries). These cannot be managed by the `cron` module, because they are not crontabs.

[2021-05-13 15:22] gundalow commented on #74558
In Core IRC Meeting 2020-05-13 we said we'd put this on hold till there have been further thoughts on collection-only testing.

[2021-05-13 16:01] samdoran commented on #33317
This was fixed in https://github.com/ansible/ansible/commit/a2eb227970b5f53a648af3daf58d745d2f33067e, available in Ansible 2.8 and later.

[code]

[2021-05-13 16:01] #33317 closed, assigned to nobody

[2021-05-13 17:43] lahwaacz commented on #74556
Seems to be broken since #70532 which moved the systemd logic and made `hostname` _always_ required.

[2021-05-13 19:11] jborean93 commented on #74661
The PR https://github.com/ansible/ansible/pull/74579 will fix up the `ansible_pkg_mgr` autodetection for RHEL edge but the problem around `package` picking up an ostree module to install is not something we are looking to fix. The recommended action is to either contribute an `ostree` package module in a collection and use the `use: namespace.name.ostree` parameter in package which can be template

[2021-05-13 19:18] jborean93 commented on #74663
This has been fixed in devel https://github.com/ansible/ansible/pull/74267 and the PR mentioned above is a backport for 2.11. The backport will be merged before the next 2.11 release.

[2021-05-13 19:18] #74663 closed, assigned to nobody

[2021-05-13 19:24] jborean93 commented on #74677
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * Closing as per the above, the recommended action is to use `file` or `copy`

[2021-05-13 19:24] #74677 closed, assigned to nobody

[2021-05-13 19:31] jborean93 commented on #74684
Closing as per the recent community meeting https://github.com/ansible/community/issues/606#issuecomment-840651077. The final outcome was to add a new skeleton specifically for `community` based collections rather than replace the default one.

[2021-05-13 20:27] acozine opened #74688 "Linking to versioned docs from command-line output of ansible-doc"
### Summary

Ansible generates links to docs.ansible.com as part of the output of `ansible-doc` and possibly in other situations at the CLI (test failures, error messages). Ideally, we'd like to generate links to the version of the documentation that match the version of Ansible or ansible-core that the user has installed, rather than always linking to `latest`. Since we now provide separate docum

[2021-05-13 20:50] acozine commented on #74688
The `ansible-doc` output links likely hit 404s now, since we do not publish any docs to docs.ansible.com/ansible/2.11.

[2021-05-13 20:50] brian999999 commented on #74661
Hi @jborean93, it looks like https://github.com/ansible/ansible/pull/74579 would have RHEL for Edge set ansible_pkg_mgr set to "atomic_container", which is not correct (RHEL for Edge and Atomic are not the same).  @maxamillion might be able to explain this better than me, but from what I understand after talking to him, we need to have a new ansible_pkg_mgr defined to support RHEL for Edge.

Also,

[2021-05-13 20:57] sivel commented on #74661
`ansible_pkg_mgr` needs to have a value that points to an existing ansible module for managing packages via that package manager.  It should not be set to an arbitrary value that is not linked against a non-existent ansible module.

We do not have an `ostree` module, and the only package manager we support at current would be `atomic_container` that can address these packages.

[2021-05-13 21:00] #47429 closed, assigned to nobody

[2021-05-13 21:02] brian999999 commented on #74661
I'm going to need to defer to @maxamillion to explain this better than I can.   I'll contact him and see if he can jump in this discussion here.

[2021-05-13 22:31] bcoca commented on #74688
@acozine we did have docs till Tuesday, when it was deleted, but in any case #74419 fixes the ansible-doc output.

Also note that the 'published docs' don't use the doclilnk function, that is only for the CLI.

[2021-05-14 02:22] sugitk opened #74694 "RFE: add `sesudo` for privilege escalation method"
### Summary

A customer wants to use `sesudo` to run commands as root.

### Issue Type

Feature Idea

### Component Name

become

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-05-14 02:51] maxamillion commented on #74661
After reading the comments here, something I was thinking I could do is patch the `dnf` module detect that it's a RHEL for Edge and then validate the package is either installed or not installed and handle the scenario accordingly. The idea for RHEL for Edge is that the device itself doesn't actually do package management and the workflow is for an admin to build a new [rpm-ostree](https://coreos.

[2021-05-14 05:11] relrod commented on #74694
This become plugin would likely be best as part of a collection, we're generally not taking new plugins in ansible-core.

[2021-05-14 05:19] gundalow commented on #74684
reworded and reopened.

[2021-05-14 06:17] ikke-t commented on #74661
My two cents here, I run into ansible handicap with rpm-ostree with fedora-iot a while back at https://github.com/ansible/ansible/issues/69565. As a friendly reminder, there is a use case in fedora-iot to install packages. There one can actually install packages using rpm-ostree. There has been couple of rpms I needed on Fedora-IoT, and it's super that I actually can install them as I don't contro

[2021-05-14 06:21] xeor opened #74695 ".ini in inventory_ignore_extensions"
### Summary

This is a revisit of https://github.com/ansible/ansible/issues/30682 (which is closed)

`.ini` should be removed from https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inventory-ignore-exts (inventory_ignore_extensions).

Reasons still the same as old issue, so just pasting them:

1. INI is one of officially supported by Ansible formats of inventory;
2. IDE and

[2021-05-14 07:00] maxamillion commented on #74661
I'm sitting here because I can't sleep and I got thinking about this more. On second though, I don't really like what I wrote in https://github.com/ansible/ansible/issues/74661#issuecomment-840970530 and think I'll instead write an `rpm-ostree` module and patch to the fact discovery to set `ansible_pkg_mgr` to `rpm-ostree`. In the `rpm-ostree` we can detect if it's RHEL for Edge or not and if so t

[2021-05-14 07:21] nullr0ute commented on #74661
I think this is a difficult one, in all cases, whether we prefer it or not, users will likely layer packages, in Fedora IoT we discourage it too but users do.

I wonder if there's a way to delineate a "check it's there" vs a "install it if it's not". A sort of "if foo, configure bar, else do nothing but continue" style of functionality?

An example would be if a service is present we'd want to ens

[2021-05-14 08:53] Akasurde commented on #74694
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/2508.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-05-14 08:53] #74694 closed, assigned to nobody

[2021-05-14 08:55] Akasurde commented on #74684
cc https://github.com/ansible/ansible/issues/68920

[2021-05-14 08:56] Akasurde commented on #74684
and https://github.com/ansible/ansible/issues/66255

[2021-05-14 11:44] WiSaGaN commented on #46963
Does https://docs.ansible.com/ansible/latest/collections/ansible/builtin/yum_repository_module.html work for at least some of the command like "add/enable"?

[2021-05-14 12:28] pedrohdz commented on #60215
So I was able to get around this by putting all the code for the collection in `{...}/ansible_collections/{namespace}/{collection}/`, then creating sym-links from the project's root directory out to the items in `{...}/ansible_collections/{namespace}/{collection}/`.

It looks something like this:
[code]
Running `ansible-test` from within `ansible_collections/pedrohdz/devenv/` works fine.

I tried

[2021-05-14 13:58] dericcrago commented on #74684
Ok, I've started a `collection-skeleton` [branch](https://github.com/dericcrago/collection_template/tree/collection-skeleton) POC. It then occurred to me, maybe a better solution is to have the `--collection-skeleton` arg take remote locations as well as local?

ex: `ansible-galaxy collection init --collection-skeleton https://github.com/dericcrago/collection_template/tree/collection-skeleton myna

[2021-05-14 14:19] #55014 closed, assigned to nobody

[2021-05-14 14:26] acozine commented on #74688
@bcoca thanks for the comments. From now on, all docs at `/ansible/` will be versioned with the Ansible PyPI package, and all docs at `/ansible-core/` will be versioned with ansible-core. Whatever we do needs to work with that pattern.

I'll take a look at why `builtin` is getting added to that link in the build process.

[2021-05-14 14:36] bcoca commented on #74684
yes, what i was proposing is that `--skeleton  <stuff>`  first check for existing path and if it does not exist, check appending the 'data dir' where we keep the built in skeletons.

[2021-05-14 14:37] jnm27 commented on #74683
I am trying to find a workaround for 2.9 also until RHEL supports a later version. The same fix does get partway there, but it looks like the variables are not being templated.

`User="{{ vault_user }}"`

[2021-05-14 14:44] goneri opened #74703 "ansible-test: sanity import with py3.10 fails: There is no current event loop"
### Summary

When I run `ansible-test sanity --python 3.10 --requirements --test 'import'`, tThe following block of the vmware.vmware_rest modules trigger a warning:

[code]
e.g: https://github.com/ansible-collections/vmware.vmware_rest/blob/main/plugins/modules/appliance_services_info.py#L210-L214

The error: `plugins/modules/appliance_services_info.py:213:0: traceback: DeprecationWarning: There

[2021-05-14 14:45] bcoca commented on #74688
@acozine then can you give the 'go ahead' to the 2 backports, that will make core default to /ansbile-core/<version>

We still have to solve the issue of 'destination', right now all the code (docs build and CLI display) assume 'own site', but that is not always true.

[2021-05-14 14:46] dericcrago commented on #74684
@bcoca - yeah, I was using / testing `--collection-skeleton` with the above mentioned `collection-skeleton` [branch](https://github.com/dericcrago/collection_template/tree/collection-skeleton) POC checked out locally when I thought, "what if it could just fetch remote locations as well?" (like `cookiecutter` does).

 I don't think I'm following why we would want / need `--skeleton` & `--collection

[2021-05-14 14:49] bcoca commented on #74684
used it as shorthand ... also could be 'common option' since  you already have roles/collection in the action and that seems
 redundant

[2021-05-14 14:49] bcoca commented on #74684
` init_parser.add_argument('--skeleton', '--{0}-skeleton'.format(galaxy_type), dest='{0}_skeleton'.format(galaxy_type),`

[2021-05-14 15:07] bcoca commented on #17940
https://github.com/ansible/ansible/issues/49657#issuecomment-731242094
^ closing as per comment

[2021-05-14 15:07] #17940 closed, assigned to alikins

[2021-05-14 15:14] samccann commented on #72868
It looks like it as - https://docs.ansible.com/ansible/devel/dev_guide/testing.html#testing-within-github-azure-pipelines

Thanks @AppyDev for noticing!

If you are looking for some ways to help out with Ansible documentation, these two, while old, are still looking for help:
https://github.com/ansible/ansible/issues/35520
https://github.com/ansible/ansible/issues/59449

Feel free to post question

[2021-05-14 15:14] #72868 closed, assigned to nobody

[2021-05-14 15:17] bcoca commented on #18391
'admin_users' were moved to shell plugins and this is now configurable globally, per group or per host. That should be enough to enable this functionality on HP/UX, but we cannot really test as we don't have access to the proprietary software.

So I'm closing this ticket for now, reopen if you still continue seeing issues.

[2021-05-14 15:17] #18391 closed, assigned to abadger

[2021-05-14 15:22] bcoca commented on #18417
This works as documented, search paths are 'parent aware' https://docs.ansible.com/ansible/latest/user_guide/playbook_pathing.html. If you don't want this feature, you must avoid dependencies and calling a role from within another.

Changing it at this point will break many existing use cases.

[2021-05-14 15:22] #18417 closed, assigned to nobody

[2021-05-14 15:37] bcoca commented on #18997
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request as we believe that existing templating via task or lookup can already easily provide this functionality w/o having to replicate it in the script module.

However, we're absolutely always up for discussion.
Since thi

[2021-05-14 15:37] #18997 closed, assigned to nobody

[2021-05-14 15:40] bcoca commented on #19030
closing as per my previous comment, upstart module was never created since it fell rapidly out of use, if someone still needs to use it they can create and supplement the functionality with it.

[2021-05-14 15:40] #19030 closed, assigned to bcoca

[2021-05-14 15:41] #34632 closed, assigned to nobody

[2021-05-14 15:42] Shrews commented on #29224
Closing per above. The current documentation for the `key` parameter clearly spells out the format of the data.

[2021-05-14 15:42] #29224 closed, assigned to nobody

[2021-05-14 15:44] bcoca commented on #19102
Closing as we cannot see a use case for this issue and no one else has complained  about it.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourageopen dialog.

You can stop by the development list, and we'd be glad to talk about it - and we might even be persuaded otherwise!

   * https://grou

[2021-05-14 15:44] #19102 closed, assigned to nobody

[2021-05-14 15:45] samdoran commented on #19101
This is the still the case is `devel`.

[2021-05-14 15:48] bcoca commented on #19153
Closing as this can be done via the chroot and/or jail connection plugins and there is no need to add this capability to every module.

[2021-05-14 15:48] #19153 closed, assigned to nobody

[2021-05-14 15:51] bcoca commented on #19214
closing via #69284 that adds task 'timeout' feature to avoid hangs.

[2021-05-14 15:51] #19214 closed, assigned to nobody

[2021-05-14 15:57] pmanno opened #74705 "Vaulted variable in dictionary does not get unvaulted when templated."
### Summary

When I have a dictionary defined as such:

[code]
I then use a template to convert it to json like this:
[code]

The result is like this:
[code]
Instead of the secret being unvaluted.

### Issue Type

Bug Report

### Component Name

template

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20

[2021-05-14 16:00] bcoca commented on #19243
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because too many variations are possible for this and would require adding a very complex interface to the existing function. Also it is easy to have an alternative validation built into the play:

[code]

However, we're ab

[2021-05-14 16:00] #19243 closed, assigned to nobody

[2021-05-14 16:02] bcoca commented on #19294
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because this creates a lot of complication for the module to deal with directories and their permissions, while the existing file module can already take care of this easily.

However, we're absolutely always up for discuss

[2021-05-14 16:02] #19294 closed, assigned to nobody

[2021-05-14 16:39] bcoca commented on #74688
FYI, we still need to update 2.11, the reference link we were using was incorrectly using 'latest' in relative url, but error messages and others use the actual version. See this from interpreter discovery:

https://docs.ansible.com/ansible/2.11/reference_appendices/interpreter_discovery.html

Which worked until Tuesday, but now is 404 since ansible/2.11 was removed.  We need to merge the doclink

[2021-05-14 18:00] sivel commented on #74705
This is the expected default behavior of the JSON encoder.

You want to use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-14 18:00] #74705 closed, assigned to nobody

[2021-05-14 18:02] goneri commented on #74703
The `asyncio.get_event_loop()` is actually deprecated with py3.10. https://docs.python.org/3.10/library/asyncio-eventloop.html#asyncio.get_event_loop

[2021-05-14 18:02] #74703 closed, assigned to nobody

[2021-05-14 18:56] jnm27 commented on #74683
I found the issue in 2.9. The ssh.py connection plugin is not using get_option, but rather the play_context, to get the information. Subbing in the latest ssh.py version works. I haven't found the minimal change needed yet...

[2021-05-14 19:30] bcoca commented on #74657
top of my head, something like this should ensure this works:
[code]

[2021-05-14 19:54] bcoca commented on #74657
I do not have a reproducer though ... so not sure how to test this w/o making a 'bad nfs mount' ... which really is not something we want in CI

[2021-05-14 20:25] felixfontein commented on #74688
`builtin` does not get added. It is already there because the link is a **relative link**, and the file from where the link originates is in `ansible/builtin`.

[2021-05-14 20:26] felixfontein commented on #74688
(Such changes really must **not** be made unilaterally in ansible-doc, but **must** be mirrored in antsibull-docs as well. Otherwise it just breaks docs.)

[2021-05-14 20:33] hma23 opened #74717 "The service_facts module does not work in Ubuntu 20.04"
### Summary

Running the service_facts module on Ubuntu 20.04 causes the following error:

[code]

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

localhost | FAILED! => {
    "changed": false,
    "msg": "Malformed output discovered from systemd list-unit-files: accounts-da

[2021-05-14 21:37] acozine commented on #74688
Always using `latest` in the docs URLs is not fully correct. However, it is preferable to having fully correct versioned doclinks in core output and doclinks that consistently 404 in collections. Also, we should direct users to the package docs unless we know for sure they only have ansible-core installed.

We may need to revert both #74665 and #74245 and come up with a solution that works both at

[2021-05-14 22:50] bcoca commented on #74688
@acozine, but we are creating 404 links now, and yes we need something that works for all cases, I'm just trying to fix what broke recently on Tuesday. Also the CLI and docs build do not use the same code, but I do agree they should behave in consistent manner.  What is in place now makes all core output correct, we can build on that to also make collection and the community distro code also corre

[2021-05-14 23:08] tenshiAMD commented on #67759
@darthwalsh I've tried this one and its seems working just fine.

[2021-05-14 23:16] bcoca commented on #67759
https://github.com/bcoca/std/blob/devel/list_collections.py <= for those using older ansible to list collections (does not show dupes)
https://github.com/bcoca/std/blob/devel/get_collection_info.py <= get info from a collection (also does not see dupes)

both give you the install path so easy to pass to `|rm -rf`

[2021-05-15 04:43] #22561 closed, assigned to Akasurde

[2021-05-15 06:28] Akasurde commented on #74717
@hma23 Thanks for reporting this. Could you please specify the version of Ansible used? Since this issue is already fixed in 2.9, stable and devel.

Please refer - https://github.com/ansible/ansible/pull/68211

needs_info

[2021-05-15 06:29] Akasurde commented on #74717
possible duplicate of https://github.com/ansible/ansible/issues/68536

[2021-05-15 09:39] hma23 commented on #74717
ansible 2.9.6 --installed with 'apt install ansible'
Any workaround for this?

complete error message:
 FAILED! => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python3"
    },
    "changed": false
}

MSG:

Malformed output discovered from systemd list-unit-files: accounts-daemon.service                enabled         enabled

[2021-05-15 11:52] jf commented on #50543
one would think that ansible would just leave the target alone and not attempt to change any attributes when we merely want to create a (sym?)link but nope!

https://github.com/ansible/ansible/blob/7a55e98d299863859a532811eaa0bf5ed4c6c91d/lib/ansible/modules/file.py#L773

[2021-05-15 13:54] henriqueccapozzi commented on #74239
@sivel i would like to try to implement the CLI flag you suggested.

How does this look for a solution:

`ansible-galaxy collection list --only-used`

Also,
How will ansible determine the collections it'll use?
**Note**: I didn't researched this yet so if the answer is not straight or simple is okay not to answer.
Naturally i'll do the proper research before trying to submit a PR

[2021-05-15 14:19] Akasurde commented on #74717
@hma23 Please upgrade to Ansible 2.9.8 or latest.

needs_info

[2021-05-15 16:18] Akasurde commented on #74481
resolved_by_pr #74721

[2021-05-15 16:18] Akasurde commented on #74481
@keirazhang Could you please check if PR #74721 works for you and let me know? Thanks.

needs_info

[2021-05-15 16:43] Akasurde commented on #73892
I am not able to reproduce this on MacOS 11.3, iterm2 3.4.4.

[code]

[code]

[2021-05-15 16:50] Akasurde commented on #74184
@schem-codes Could you please check if PR https://github.com/ansible/ansible/pull/74199 resolves your issue and let us know? Thanks.

needs_info

[2021-05-15 16:53] #44683 closed, assigned to nobody

[2021-05-15 17:09] Akasurde commented on #73103
resolved_by_pr #73114

[2021-05-16 11:34] frittentheke commented on #15297
Apparently there is a new issue in ansible.posix collections https://github.com/ansible-collections/ansible.posix/issues/186 which already has a PR fixing it: https://github.com/ansible-collections/ansible.posix/pull/187

[2021-05-16 20:29] sceptic30 commented on #56930
I was brought here by Google.. 😺
I faced the same problem while provisioning infrastructure and the problem was solved when I changed permissions is my private keys (where 755), so after **chmod 700**, everything worked fine.
Hope this might help someone with similar issue.

[2021-05-17 02:21] PikachuEXE opened #74725 "jinja2_native broken with jinja 3.0.0 in ansible 2.9.21"
### Summary

I am using ansible 2.9.21
[jinja has recently made a release `3.0.0`](https://github.com/pallets/jinja/releases/tag/3.0.0)
A warning message would be shown when running a playbook
I have `jinja2_native = True` in my project's `ansible.cfg`

Message:
[code]

### Issue Type

Bug Report

### Component Name

core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environmen

[2021-05-17 06:01] Akasurde commented on #74725
@PikachuEXE Thanks for reporting this issue. Following fixes my issue -

[code]

[2021-05-17 07:46] mkrizek commented on #74725
As @Akasurde correctly identifed this is due to `jinja2._compat` module not being present in `Jinja2 3.0.0`.

This issue is fixed in `2.10` and `2.11` releases and in `devel` branch via https://github.com/ansible/ansible/pull/68038.

`2.9` is in "security fixes only" mode now so I am not sure we can backport the fix. cc'ing @relrod and @sivel

[2021-05-17 09:00] Akasurde commented on #74507
@PeterNerlich Could you please check #74726 and let me know if it works for you? I added a description of the internal working of the `service` module.

[2021-05-17 09:01] Akasurde commented on #74507
resolved_by_pr #74726

[2021-05-17 09:27] Akasurde commented on #73675
resolved_by_pr #74727

[2021-05-17 13:41] bcoca commented on #74239
collections work on a 'first found' basis, the precedence is 'adjacent' + configured paths in order

[2021-05-17 14:44] agunnerson-ibm commented on #74657
Thanks for the PR! I'll give it a try in our environment.

I'm not sure if it would be appropriate for CI, but would it make sense to implement a dummy FUSE filesystem using python-fuse that only has a `statfs` hook which always fails?

[2021-05-17 15:12] rnedellec opened #74732 "Undefined Varibles"
### Summary

When I try to use a variable from group_vars/mygroup or host_var/myhost in a task and apply it on the local ansible machine (ansible_connection: local), I just can't and I get "<class 'dict'>": "VARIABLE IS NOT DEFINED!"

### Issue Type

Bug Report

### Component Name

ansible_connection ??

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 10.9

###

[2021-05-17 15:16] sivel commented on #74732
With `debug`, don't use `{{ }}` when using `var:`, that is only required with `msg:`

The issue is that the debug module uses the value for `var:` as the variable name, and then attempts to do a lookup using that name.  So you are effectively using the value of `item` as a literal var name.

Instead you just want:

[code]

or:

[code]

If you have further questions please stop by IRC or the mailin

[2021-05-17 15:16] #74732 closed, assigned to nobody

[2021-05-17 15:41] #74601 closed, assigned to samdoran

[2021-05-17 15:49] clement-escolano opened #74733 "Nested dependent role run with the same variable"
### Summary

When two roles depends on a nested dependent role (with different variables passed), the nested role is only run once with the latest value specified.

### Issue Type

Bug Report

### Component Name

roles

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

OS is not relevant.

### Steps to Reproduce

Here is the example playbook:
[code]

[code]

[code]

[co

[2021-05-17 15:53] sivel commented on #74733
Duplicate of:

* https://github.com/ansible/ansible/issues/72650
* https://github.com/ansible/ansible/issues/67718

[2021-05-17 16:10] samdoran commented on #19101
I looked in to this more. The bug lies in the `copy` action plugin. We are getting file diff and permission diff data from two different places. The execution path changes if the file contents are different, which is why the data in the `diff` is different.:

[code]

[2021-05-17 18:15] PeterNerlich commented on #74507
Together with [flowerysongs suggestion](https://github.com/ansible/ansible/pull/74726#discussion_r633674724) I think it does well preventing the confusion we had when encountering this. I think it is sufficiently transparent now.
Other opinions? @thegcat

[2021-05-17 19:12] thegcat commented on #74507
Looks good to me, thanks.

[2021-05-17 19:47] samdoran commented on #19101
Digging through this some more, it seems the diff displaying code never accounted for being able to display both lines _and_ file mode changes at the same time.

[2021-05-17 19:48] clement-escolano commented on #74733
Hello @sivel.
Thank you for taking the time to read me. This is indeed a perfect duplicate of #72650 sorry for not finding it out first (I did search the issues 🤷).
I think implementing #67718 may fix the issue but I think you pointed the issue that is happening here in #72650: `nestedvar: "{{ myvar }}"` is lazily evaluated so is considered identical by the role deduplication algorithm (hence runn

[2021-05-17 19:50] sivel commented on #74733
This is on our radar, but is not something that is being actively worked on.

[2021-05-17 19:50] jugglinmike commented on #15297
One variation on [the workaround mentioned above](https://github.com/ansible/ansible/issues/15297#issuecomment-561587356) would be to allow passwordless `sudo` for anyone in that group, still limited to the `rsync` utility.

If you're reading this issue, then you likely expect to be able to use the `synchronize` module with the `become` feature. From this standpoint, I think the most meaningful se

[2021-05-17 20:16] samdoran commented on #19220
This was added in #68551 which is available in Ansible >= 2.11.

[code]

[2021-05-17 20:16] #19220 closed, assigned to nobody

[2021-05-17 23:21] rkeithhill opened #74742 "win_scheduled_task errors with "failed to modify scheduled task: The directory property cannot be found in the cache""
### Summary

When I run the following task, I get the specified error:
[code]

### Issue Type

Bug Report

### Component Name

win_scheduled_task

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Microsoft Windows 10.0.19042

### Steps to Reproduce

[code]

### Expected Results

I expect the task gets created without an error.  BTW the task does seem to get created on

[2021-05-17 23:23] #74742 closed, assigned to nobody

[2021-05-18 06:36] clement-escolano commented on #74733
OK I see thank you.
About #67718, do you have any timeline for implementation (1 month, 1 year ?) or it is the same as eager evaluation?

[2021-05-18 08:54] rnedellec commented on #74732
I see, waw I feel a bit embarrassed I was stuck on that...

Thank you very much for the explanation tho, really apreciate :)

[2021-05-18 14:07] ferencz1 opened #74747 "Service module won't start Elasticsearch"
### Summary

When I try to start Elasticsearch 7.12.1 with Ansible, it is reporting "changed" for the task but the service is not starting.
Manually running "service elasticsearch start" is working.

Elasticsearch error log:
[elastic_log.txt](https://github.com/ansible/ansible/files/6501892/elastic_log.txt)

### Issue Type

Bug Report

### Component Name

service

### Ansible Version

[code]

###

[2021-05-18 14:36] MakisXathis opened #74748 "Ansible ssh issue with multiple interactive prompts during interactive authentication"
### Summary

I have an ansible inventory file like this:

and I try to run the following simple ad-hoc command:

`ansible --ask-pass all -i hosts -m win_ping`

and I get the following error:

Running it with `-v` added to the `ansible_ssh_common_args` I get that the ssh Authentication actually works as I can see the following line in the verbose:

Connecting from an ssh client I receive the follow

[2021-05-18 15:11] samdoran commented on #74695
There are still a large number of people using inventory scripts with `ini` files for configuration. Changing this default would break more people than it would help at this point.

You could remove the file extension or set it to something other than exactly `.ini`.

We are willing to revisit changing this default at some point in the future once inventory script usage has gone done and most folk

[2021-05-18 15:11] #74695 closed, assigned to nobody

[2021-05-18 15:18] #74717 closed, assigned to Akasurde

[2021-05-18 15:28] #74725 closed, assigned to Akasurde

[2021-05-18 15:34] samdoran commented on #74733
Unknown at this point.

[2021-05-18 15:34] #74733 closed, assigned to nobody

[2021-05-18 15:43] samdoran commented on #74747
Try removing the `use: service` parameter.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-18 15:43] #74747 closed, assigned to nobody

[2021-05-18 15:44] samdoran commented on #74748
Our connections plugins are not designed to handle this specific set of multiple prompts. You will need to create your own version of the `ssh` connection plugin to handle these prompts.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-05-18 15:44] #74748 closed, assigned to nobody

[2021-05-18 15:49] abadger commented on #74688
(1) The CLI cannot use a different format for relative urls than what the docsite build does.  That needs to be corrected in the core module docs and then the ansible-doc code needs to be adjusted to work with that format.

(2) We did tell the core team that the PR was wrong and would not work in our design for the docsite but the PR was merged anyways without those issues being addressed.  That i

[2021-05-18 15:55] clement-escolano commented on #74733
Thank you for the information.
Have a good day

[2021-05-18 15:59] ferencz1 commented on #74747
Ansible is failing:

`fatal: [elastic]: FAILED! => {"changed": false, "failed_when_result": true, "msg": "Failed to find required executable systemctl in paths: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"}`

[2021-05-18 20:30] ravage519 opened #74756 "No module named 'paramiko'"
### Summary

Fresh ansible deployment error in running modules when in playbook

Specifically attached to Mikrotik (routeros) hosts in this instance

### Issue Type

Bug Report

### Component Name

routeros_command

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ansible host: Ubuntu 20.04
Target OS: routeros
Target OS Version: 6.48.1 (stable)
Network Device Firmware:

[2021-05-18 20:34] #74756 closed, assigned to nobody

[2021-05-18 20:58] mattclay commented on #74626
Resolved by https://github.com/ansible/ansible/pull/74699

[2021-05-18 20:59] #74626 closed, assigned to samdoran

[2021-05-18 21:50] adamdonahue commented on #56930
Given the current status of this ticket, I'd argue the use of `INVALID` or `valid` in this variable is misleading and incorrect.  Invalid in what context?   Something like `TRANSFORM_VAR_INCOMPATIBLE_GROUP_CHARS` (that's a mouthful, or probably a different name) might be more informative and correct.

[2021-05-18 22:48] thom-vend commented on #25414
Hi there 😊 ,
I've been using this for a while, I got my ansible task stuck on it because the `apt-daily.service` was `dead` and `inactive` from the `systemctl status apt-daily.service`. Note `apt-daily.service` is a `Type=oneshot` `RemainAfterExit=no` on Ubuntu 20.04 LTS.

I'm looking for a work around, first idea is to invoke it via the timeout command to allow 5 minutes max but still not good if

[2021-05-18 23:38] rajaniesh opened #74758 "Unable to run azure resource group creation playbook"
### Summary

I tried running the azure resource group creation playbook by following these steps given in the MS site:https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm?tabs=ansible#file-credentials

but it is throwing this error

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'urllib3.

[2021-05-19 01:30] lotaris-xx opened #74760 "sudo error message does not make it to module stdout/stderr when user has some sudo rights, just not what is needed"
### Summary

When running a `command:` with `become: true`, if the `remote_user` is listed in sudoers, but doesn't have permission to run the command being attempted, the error that comes back does not contain the explanatory text that sudo provides:

`Sorry, user testuser is not allowed to execute '/bin/ls /tmp' as root on testhost`

### Issue Type

Bug Report

### Component Name

sudo

### Ansib

[2021-05-19 05:06] nscblauensteiner opened #74761 ""parameters are mutually exclusive: deb|package|upgrade""
### Summary

When I execute the playbook the following error message appears:

AWX Output:

...

**TASK [Only security updates] ***************************************************
fatal: [ansibletestubuntu]: FAILED! => {"changed": false, "msg": "parameters are mutually exclusive: deb|package|upgrade"}**

...

### Issue Type

Bug Report

### Component Name

apt

### Ansible Version

[code]

### Con

[2021-05-19 05:23] Akasurde commented on #74758
Hi @rajaniesh !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

Could you please head over https://github.com/ansible-collections/azure#installation?

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/f

[2021-05-19 05:23] #74758 closed, assigned to nobody

[2021-05-19 12:00] Akasurde commented on #73503
resolved_by_pr #74764

[2021-05-19 12:01] Akasurde commented on #73503
@encukou Could you please check if #74764 works for you and let me know? Thanks.

[2021-05-19 12:33] mbert opened #74766 "ansible and ansible-playbook do not fail if inventory file passed with `-i' is not readable"
### Summary

When passing an inventory file name using the `-i` CLI parameter to `ansible` or `ansible-playbook` I expect the command to fail with an exit code greater than 0 if that file is not readable. Instead, it exits 0 after displaying a warning message:
[code]
Even if this is documented behaviour (I have not been able to find a reference to this in the documentation) it is highly counterint

[2021-05-19 12:40] cidrblock opened #74767 "Clarify ansible-galaxy collection install warning message"
### Summary

[code]
It will be picked up in an Ansible run, in fact playbook adjacent collections are fully Supported.

Can `, unless within a playbook adjacent collections directory` be added to the message?

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

all

### Steps to Reproduce

[code]

### Expecte

[2021-05-19 12:49] jimbo8098 commented on #41313
Couldn't you just run ansible with `-vvv` to get what you need?

[2021-05-19 14:34] Akasurde commented on #73490
resolved_by_pr #74765

[2021-05-19 14:57] bcoca commented on #74766
This is done for legacy reasons, but toggles exist to force the behavior you want:
fail if no inventory source was parsed:
https://docs.ansible.com/ansible/latest/reference_appendices/config.html?highlight=pipelining#inventory-unparsed-is-failed

If you want that failing to parse any of the inventory sources to be fatal:
https://docs.ansible.com/ansible/latest/reference_appendices/config.html?high

[2021-05-19 15:07] mbert commented on #74766
Thank you for pointing me to these resources.

Nevertheless I find this default extremely counterintuitive, in particular, because the workaround is really difficult to find in the documentation. Since ansible has been deprecating legacy behaviour a lot over the last versions, why not deprecate this one?

I am pretty sure that by far most users are not aware of this implementation. Since failing i

[2021-05-19 16:41] Akasurde commented on #73327
resolved_by_pr #74769

[2021-05-19 16:50] sivel commented on #17678
The behavior is somewhat confusing, but the behavior here is that a role listed under `dependencies` is effectively a child of the role that defined it.

So in your case, `common` is effectively a child of `actual`, and thus, the role params specified on `common` from within `dependencies` only affects `common`.  This makes `common` dependent on `actual` from a variable perspective, however `commo

[2021-05-19 16:51] sivel commented on #17678
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-19 16:51] #17678 closed, assigned to nobody

[2021-05-19 17:14] dmitryax opened #74770 "ansible.builtin.apt_key module doesn't work with binary gpg keys in ansible v4.0.0"
### Summary

Using `ansible.builtin.apt_key` to import a binary gpg key started failing with release of ansible 4.0.0. It works well on other versions of ansible 2.9+.

### Issue Type

Bug Report

### Component Name

apt_key

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

control host: MacOS 10.15.7
remove host: Ubuntu 20.04.2 LTS

### Steps to Reproduce

Try to add

[2021-05-19 17:23] sivel commented on #74770
This has been resolved in https://github.com/ansible/ansible/pull/74474 and will be included in the upcoming ansible-core 2.11.1 release on May 24.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-19 17:23] #74770 closed, assigned to nobody

[2021-05-19 17:33] dmitryax commented on #74770
Thanks! Confirmed using v2.11.1rc1 release

[2021-05-19 19:28] regloff72 commented on #18305
I'm having this issue also and it seems to come up on Solaris servers moreso than our Oracle Linux Servers. I've even bumped the timeout way up:

 "msg": "Timeout (62s) waiting for privilege escalation prompt: "

It's not consistent either. Sometimes it'll work just fine across all hosts - other times a number will fail.

I know it's not the playbook.. I have one specifically for testing connectio

[2021-05-19 20:11] eengstrom opened #74771 "ansible-galaxy should not remove galaxy.yml from installed collections"
### Summary

When installing collections via `ansbile-galaxy`, it appears as if the `galaxy.yml` is removed or otherwise not kept during the build/install process.  Having that file remain in the directory seems useful, and I don't see a downside to leaving it in place.

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2021-05-19 20:15] #74578 closed, assigned to nobody

[2021-05-19 20:16] sivel commented on #74771
`galaxy.yml` doesn't actually exist in the collection artifact.  It's only used at build time to create the `MANIFEST.json` file, and is not included, and thus not installed.

Duplicate of https://github.com/ansible/ansible/issues/68383

[2021-05-19 20:16] #74771 closed, assigned to nobody

[2021-05-19 20:18] hrv231 opened #74772 "with_subelements breaks when use with jsonpath specific filters"
### Summary

When I use _with_subelements_ with json_query+specific filter, it breaks the sequence.
example:
[code]
With simple filters it doesn't break.
example:
[code]

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 10

### Steps to Reproduce

[code]
Attached is the json output I'm using:
[json-output.

[2021-05-19 20:20] sivel commented on #74772
The problem is your quoting.  You are using `'` within a section of `'`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-19 20:20] #74772 closed, assigned to nobody

[2021-05-19 20:29] hrv231 commented on #74772
You are correct, but if I remove the ' within that section, then it doesn't find anything.

[2021-05-19 20:35] bcoca commented on #18305
`sudo su -` is not really supported by the `sudo` become method.

[2021-05-19 20:38] jnm27 commented on #74683
Disregard the 2.9 comment unless others need it. We've stepped up to latest core.

[2021-05-19 20:39] hrv231 commented on #74772
Hello,
Can you please let me know where to open a new issue on this?
If I removed the `'` from json_query then it fails with this:
FAILED! => {"msg": "template error while templating string: unexpected char '?' at 69. String: {{ test.parsed_output.configuration.interfaces.interface|json_query([?(@.name=='vlan')]) }}"}

`json_query([?(@.name=='vlan')])`

[2021-05-19 20:41] sivel commented on #74772
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-19 20:47] regloff72 commented on #18305
Yeah, I thought about that after posting - I was just talking the command I run manually. As far as the playbook is concerned, it's not doing anything 'odd' other than how Ansible normally handles a 'become: yes'. :)

I just worded that poorly.

[2021-05-20 00:57] rajaniesh commented on #74758
Abhijeet,

I tried asking this question on Microsoft forums and various other forums and I am unable to get any solution. It will be great if you can provide some solution.

Regards
Rajaniesh

[2021-05-20 03:40] provenvelocity commented on #68915
@geerlingguy I was following the ansible 101 video and wanted to use collections_paths as we make skeletons for my company to convert to ansible.  I am still running into this issue but in the demo mentioned above it worked so did we ever figure out how we got it working?

Also FYI galaxy does not respect the system_warnings conf soooo I'm thinking there may be a more systemic issue....

[2021-05-20 06:48] Akasurde commented on #72777
cc @alinabuzachis @abikouo

[2021-05-20 07:47] rgl opened #74776 "show diff when copy module validation fails"
### Summary

When running in diff mode, I want to see the diff even when the `validation` fails. That allows me to better troubleshoot and fix the problem.

### Issue Type

Bug Report

### Component Name

copy, template

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

Then have a `iptables-rules-v4` with invalid data like

[2021-05-20 09:52] xeor opened #74777 "copy wont copy symlink as symlink if single file"
### Summary

If you use the copy module, it doesnt seam to copy symlinks as symlinks, even if you specify `local_follow: false`.
I think this is because of https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/copy.py#L681 and the shutil's defaulting to `follow_symlink=True` (https://docs.python.org/3/library/shutil.html#shutil.copyfile).
Other places in the copy module symlinks are ha

[2021-05-20 10:16] encukou commented on #73503
@Akasurde It does, thank you!
(I've not tested very cleanly, though: I applied the patch directly onto the file in my system, which has `ansible-2.9.21-1.fc34`. But it worked.)

[2021-05-20 10:40] Akasurde commented on #73503
@encukou Thanks for testing.

[2021-05-20 13:50] wlchan3 opened #74778 "using become is broken with the latest windowns 2019 patch"
### Summary

Our automation has been working for a while until we updated our windows 2019 to the March update "March 9, 2021—KB5000822 (OS Build 17763.1817)"  https://support.microsoft.com/en-us/topic/march-9-2021-kb5000822-os-build-17763-1817-2eb6197f-e3b1-4f42-ab51-84345e063564  We called Microsoft support but was redirected to ansible to ask if ansible supports this latest KB.

  add_host:

[2021-05-20 13:55] #74778 closed, assigned to nobody

[2021-05-20 14:06] Akasurde commented on #74556
resolved_by_pr #74744

[2021-05-20 14:27] sivel commented on #74760
The issue here seems to be in `check_success`

The error will look something like:

[code]

`check_success` checks if the `success` string is in the output, which it is, because of the `echo`.

I think we'd need to do 2 things:

1. Extend the `fail` attribute to include something like `Sorry, user`
2. Rearrange the logic in `_examine_output` (ssh connection) to check for failures _before_ checking

[2021-05-20 14:58] SJay3 opened #74779 "Support RedOs for hostname plugin"
### Summary

Add RedOS support for hostname module plugin

### Issue Type

Feature Idea

### Component Name

hostname

### Additional Information

Just add class of redos for hostname
[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-05-20 14:58] PaulVanTelenet opened #74781 "mysql_db database import fails when "name" is set to "all" and user has no access to the "mysql" database"
### Summary

Function "db_import" in mysql_db.py gets passed "mysql" as database name when parameter "name" is set to "all" instead of a specific database name. Function db_import checks for the existence of the database, and creates it if it does not exit. If however the supplied MySQL credentials give no access to the given database, db_import will try to create it and fail. If the to be importe

[2021-05-20 15:00] #74781 closed, assigned to nobody

[2021-05-20 17:42] agunnerson-ibm opened #74783 "AnsibleModule.run_command intermittently raises KeyError due to thread-unsafe os.environ mutation on Python 2 targets"
### Summary

Within `AnsibleModule.run_command()`, prior to calling `subprocess.Popen`, it uses `os.environ.get()` to read some environment variables:

https://github.com/ansible/ansible/blob/v2.11.0/lib/ansible/module_utils/basic.py#L1947

After the `Popen` call, it deletes some environment variables that were added using `del os.environ[]`:

https://github.com/ansible/ansible/blob/v2.11.0/lib/an

[2021-05-20 18:05] Shrews opened #74784 "file - cannot create symlinks using relative paths"
### Summary

Using the `file` module to create symlinks, with relative paths for the `src` and `dest` parameters, fails since it calculates an incorrect `src` path.

### Issue Type

Bug Report

### Component Name

file

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Mac OSX 11.3.1

### Steps to Reproduce

[code]

### Expected Results

Symlink should be created.

###

[2021-05-20 18:06] Shrews commented on #74784
Note the `src` path is calculated as `bug_test/bug_test/a.txt`.

[2021-05-20 18:12] Shrews commented on #74784
Not a bug. `src` should be relative to `dest`|`path`.

[code]

[2021-05-20 18:12] #74784 closed, assigned to nobody

[2021-05-20 19:11] samdoran commented on #74761
Using mutually exclusive parameters will result in the error shown. This is intentional.

It also looks like the error output does not match the example task.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-20 19:11] #74761 closed, assigned to nobody

[2021-05-20 19:22] #74766 closed, assigned to nobody

[2021-05-20 19:31] samdoran commented on #74779
Can you provide information on the operation system? I'm having a hard time finding information about it.

needs_info

[2021-05-20 19:32] #74144 closed, assigned to sivel

[2021-05-20 21:49] JiffsMaverick commented on #74503
I have same problem with Oracle Linux 8.3 and Ansible 2.10.9/2.9.21.

I tried to upgrade Docker version from 19.03.13-3.el8 to 20.10.6-3.el8 and got this problem. It seems like DNF and YUM (only with DNF backend) modules don't correct comparing versions. For module, 19.03.13-3.el8 is newer than 20.10.6-3.el8 (🤷‍♂️), so allow_downgrade param helps.

CentOS 7.6 with Ansible 2.10.9/2.9.21 don't have

[2021-05-21 01:35] david-jennings commented on #10829
My usecase: we have ldconfig as a handler action, triggered when a library is installed. Mostly running at the end is fine. But sometimes the library installed is going to be used by another task to build a package, in which case ldconfig needs to be run immediately. Right now we do that by having an ldconfig task as well as the handler but running the handler immediately in this instance would be

[2021-05-21 02:18] rajaniesh commented on #74758
Abhijit,

I really need your help to resolve it as nobody from google forum is able to help. I have logged a bug with Microsoft documentation as well . But the documentation from Ansible also shows the same steps and I strongly feel that this is an issue with the product.

Regards
Rajaniesh

[2021-05-21 05:12] Akasurde commented on #74758
@rajaniesh Please file an issue against https://github.com/ansible-collections/azure? Thanks.

[2021-05-21 05:30] #73490 closed, assigned to nobody

[2021-05-21 06:53] SJay3 commented on #74779
What kind of information do you need? RedOs is rpm-based operation system. It developed by Russian developer for internal use.
It have documentation, but it only in Russian language.

[2021-05-21 07:02] Akasurde commented on #74779
@SJay3 Information such as Download link, wiki page, and

[code]

[2021-05-21 08:11] SJay3 commented on #74779
@Akasurde
[code]
Download page: https://redos.red-soft.ru/downloads/
Documentation page: https://redos.red-soft.ru/documentation/
Knowledge base page: https://redos.red-soft.ru/base/

[2021-05-21 10:00] LiTeng51 opened #74787 "ansible roles 'when'"
### Summary

When I'm using "when" to determine if the file exists,
Why did I skip it?

###############################################################
- name: When Install
  stat:
    path: /application/rsync-3.2.3/
  **register:
    check_install**

- debug:
    msg:
      - "{{ check_install }}"
      - "{{ check_install.stat.exists }}"

- name: Install Rsyncd Server
  include_tasks:
    instal

[2021-05-21 10:14] mkrizek commented on #74787
Because you are comparing boolean (`check_install.stat.exists`) with string (`"false"`), you need to treat `check_install.stat.exists` as a boolean:

[code]

In any case this is not an issue in Ansible, for user questions like this please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-21 10:14] #74787 closed, assigned to nobody

[2021-05-21 11:53] zsebacsi opened #74788 "delegate_to not working as expected"
### Summary

When trying to use factory example for delegating facts from remote machines the hostvars array is filled up with the primary target machine data.

I have two machines jupiter: centos as target, uranus: debian as the delegated host.

I want to gather uranus' host facts to Jupiter, so I run:
ansible-playbook -b playbooks/gather-facts.yml against jupiter.

### Issue Type

Bug Report

##

[2021-05-21 12:41] Akasurde commented on #72618
@onitake I submitted a lookup plugin called `random_string` in `community.general` via https://github.com/ansible-collections/community.general/pull/2572. Could you please try and let me know if solves your requirement of generating random strings? Thanks,

[2021-05-21 12:59] zsebacsi commented on #74788
it looks like the delegate_to parameter is not working well.
running the playbook with -vvv the command is executed on the main machine, not on the delegated one. no SSH connection is made up there.

[2021-05-21 13:54] #74788 closed, assigned to nobody

[2021-05-21 13:55] zsebacsi commented on #74788
it turned out that it's the problem with our configuration

I have a global inventory setting applied to all host:
 ansible_host: {{ inventory_hostname }}.{{ default_domain_name }}

so I think this causes the delegate_to: to connect to the same host :/
not sure how to overcome it, but I will close this issue for now

[2021-05-21 14:25] bcoca commented on #74788
inventory_hostname will ALWAYS reflect the host targeted in play, use inventory_hostname_short

[2021-05-21 15:06] bcoca commented on #29273
We don't normally want to deal with other files we don't know about in the same task, as stated above we don't have the 'full state', this can easily be handled like in the roles below:

https://galaxy.ansible.com/maxgalbu/tidy
https://galaxy.ansible.com/bcoca/tidy

As such we are closing this request.

[2021-05-21 15:06] #29273 closed, assigned to nobody

[2021-05-21 15:10] bcoca commented on #29457
making p3, note that @BastianVoigt 's comment is correct and the issue is with the _remote_checksum() function

[2021-05-21 15:13] bcoca commented on #29487
as mentioned by @sivel above this required different escaping, but even that should be solved in current versions, please reopen if you continue to see this issue.

[2021-05-21 15:13] #29487 closed, assigned to nobody

[2021-05-21 15:15] bcoca commented on #29557
Current copy/template use a checksum to determine the copy, we do not plan to implement this feature as examining the content of both files is very expensive in comparison.

You can do with 2 tasks, first in check mode and showing diff and using the results with the regex on the 2nd one that does actually make the change.

[2021-05-21 15:15] #29557 closed, assigned to nobody

[2021-05-21 15:23] bcoca commented on #29564
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Since no version or anything else is specified to make the git module attempt to preserve the local checkout, it will default to make i

[2021-05-21 15:23] #29564 closed, assigned to nobody

[2021-05-21 15:28] bcoca commented on #29573
This might cause too many cases to conflict with what the user wants, specially when group preservation is desired (one reason you would not specify it). So we are going to close this request as we are not going to implement it.

For your case we recommend using getent module to retrieve the desired group and then apply it in the group option.

[2021-05-21 15:28] #29573 closed, assigned to nobody

[2021-05-21 15:31] bcoca commented on #29572
I cannot reproduce, i get the file copied as expected and no one else has reported anything similar in a long time:

[code]

As such I'm going to close this issue, please reopen if you continue see this behavior.

[2021-05-21 15:31] #29572 closed, assigned to nobody

[2021-05-21 15:33] bcoca commented on #29574
Closing as original post was due to a bad variable assignment which as been fixed since then, the other issues seem unrelated and should be open as separate tickets.

[2021-05-21 15:33] #29574 closed, assigned to nobody

[2021-05-21 15:35] zsebacsi commented on #74788
thanks for clarification, but the problem lies elsewhere:
https://github.com/ansible/ansible/issues/71198
this was the solution for me
I needed to define an extra variable for storing the hostname when delegating

[2021-05-21 15:37] bcoca commented on #29589
Closing this issue as copy itself will never be as fast as direct tools (scp/sftp) and we recommend the syncrhonize module when you are attempting to copy a multitude of files.

The 'hanging' issues are unrelated to slowness so should have a different issue opened.

[2021-05-21 15:37] #29589 closed, assigned to nobody

[2021-05-21 15:39] bcoca commented on #29590
Yes, this is done to avoid conflicts with '.' (dot notation) in variables.

[2021-05-21 15:39] #29590 closed, assigned to nobody

[2021-05-21 15:45] bcoca commented on #29654
Have you tried using the track_submodule option? the  git module basically ignores their existence otherwise
needs_info

[2021-05-21 15:46] bcoca commented on #29681
We added this ability in 2.7

[2021-05-21 15:46] #29681 closed, assigned to nobody

[2021-05-21 15:49] bcoca commented on #29705
closing as per above

[2021-05-21 15:49] #29705 closed, assigned to nobody

[2021-05-21 15:50] bcoca commented on #29719
This is what service_facts is for.

[2021-05-21 15:50] #29719 closed, assigned to nobody

[2021-05-21 15:54] bcoca commented on #29726
the install_recommends option is passed to the apt API when using deb files, so this 'should' work. Queuing for verification.

[2021-05-21 15:57] bcoca commented on #29754
Since no one has come forward to update the feature to handle also existing files, I'm going to close this issue and recommend using the `file` module instead for permission changes on existing files.

[2021-05-21 15:57] #29754 closed, assigned to nobody

[2021-05-21 15:59] bcoca commented on #29789
Current tests show this working, reopen if you still see this behavior in current versions.

[2021-05-21 15:59] #29789 closed, assigned to nobody

[2021-05-21 16:29] riccardomurri commented on #29705
I would say this limits the utility of the `package` module as a distro-independent way of installing packages.  A great part of the utility of `package:` comes from the fact that I do not need to care whether the distro uses `apt` or `yum`; if I need to care b/c the syntax for specifying package version varies, then I might as well drop `package:` completely and use `apt:` or `yum:` directly...

[2021-05-21 16:32] sivel commented on #29705
We actually recommend not using `package` for anything other than the most basic of uses.  Anything more complex than a simple `name: foo` should probably be using the individual modules directly instead.

[2021-05-21 16:46] bcoca commented on #65386
note that we hit this problem also when doing --list-X options  https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/playbook.py#L150

[2021-05-21 17:15] #37848 closed, assigned to nobody

[2021-05-21 17:16] sivel commented on #74661
There is a `package_facts` module which if it doesn't work currently could be extended to getting info about installed packages via `rpm-ostree`.

If you don't recommend actually installing, then `package_facts` seems like the right path.

[2021-05-21 17:42] brian999999 commented on #74661
If possible, we would like to avoid having to build out custom logic in playbooks just for rpm-ostree systems like RHEL for Edge.   The specific use case I'm looking at is Linux System Roles (https://linux-system-roles.github.io/).  These roles use the package module to validate/install packages related to each role.   With RHEL for Edge, most of these packages are already going to be installed, b

[2021-05-21 18:17] rgl opened #74793 "highlight prepared diff"
### Summary

When a module returns a `diff.prepared` it should be highlighted in the terminal output just like when a module returns a `diff.before` and `diff.after`.

I believe the following code should be modified.

https://github.com/ansible/ansible/blob/v2.11.0/lib/ansible/plugins/callback/__init__.py#L231-L232

To highlight `diff['prepared']` just like in:

https://github.com/ansible/ansible/

[2021-05-21 18:55] itburkealert opened #74794 "Running a Playbook Replaces the Quotation Marks in a Lookup File with Double Single Ticks (' ')"
### Summary

We use Ansible for scripting changes to an EKS Kubernetes cluster...this includes namespace creation, deployment configs, ConfigMaps and more.

Our primary need is to understand how to prevent Ansible from reformatting/changing our data when the playbook is run  with lookup files being used and applied to a Kubernetes Config object (in this case, a ConfigMap).

We have found several a

[2021-05-21 19:09] sivel commented on #74794
The issue here is a bit complex, but due to the historical integration with jinja2, and a result of jinja2 only being able to return strings prior to jinja2 2.10.0

When a single templating action such as `"{{ lookup('file', 'importer-test-mapping.json') }}"` happens, if the resulting string from jinja2 starts with either a `{` or `[` we will attempt to convert it to an actual python object.

We d

[2021-05-21 19:13] itburkealert commented on #74794
@sivel , thank you this makes sense.  I recall the other incidents like this also referring to jinja2 so thank you for the added clarification on string declaration.

We will attempt this approach. and update this section with the results.

[2021-05-21 20:16] itburkealert commented on #74794
When attempting to run the playbook, we received the following:

[code]

[2021-05-21 20:19] sivel commented on #74794
The `k8s_raw` module seems to be attempting to parse that JSON with pyyaml, and is unable to do so.

Maybe you want to do:
[code]

[2021-05-21 20:24] itburkealert commented on #74794
Will try that...perhaps we need to better form the content within the JSON file as well...thinking out loud.

[2021-05-21 20:58] itburkealert commented on #74794
I misinterpreted the error...it's complaining about the beginning of the json:
[code]

We're running some other tests using yaml instead of json.  Also, when I use YAML to JSON converters in VS Code, it puts escape character in front of all the quotes...

Will continue trying to find the right solution and post here.

[2021-05-21 22:20] itburkealert commented on #74794
ok, we changed the json to yaml and it works better.  It now sets the ConfigMap as follows:

[code]

Now, instead of replacing all quotes with two, single quotes...it adds two, single quotes at the beginning and end of the entire set of items...despite this fact, the ConfigMap still works correctly in terms of execution.  This is happening even though the string starts with one single quote and th

[2021-05-22 11:52] Akasurde commented on #40561
Closing this issue due to inactivity. Please feel free to open a new issue if the problem persists.

[2021-05-22 11:52] #40561 closed, assigned to nobody

[2021-05-22 12:11] Akasurde commented on #72238
resolved_by_pr #74799

[2021-05-22 12:39] Akasurde commented on #74779
Will wait for https://github.com/ansible/ansible/pull/74797 to finish.

[2021-05-22 15:27] Akasurde commented on #71936
@fweep Could you please check if PR https://github.com/ansible/ansible/pull/73160 works for you?

It works for me -
[code]

needs_info

[2021-05-22 16:30] itburkealert commented on #74794
Another update...the following methods alter the lookup file from it's original state but the ConfigMap is still useable:

Using YAML
[code]
Result - At the beginning and end of the yaml two, single quotes are added:
[code]

Using JSON
[code]
Result - this method is messier as it adds escape characters to all of the quotes and '\n' line breaks.

[code]

The Kubernetes pod is still able to successf

[2021-05-22 17:12] wu-lee commented on #69415
Someone has implemented this, but nevertheless it should probably be in core:

https://github.com/estheruary/ansible-plugin-systemd_escape/

[2021-05-23 01:06] rcgoodfellow opened #74800 "FirewalldD Module Fails if Port is Already Opened"
### Summary

Looks like https://github.com/ansible/ansible/issues/23895 is an issue again.

### Issue Type

Bug Report

### Component Name

firewalld

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

[code]

Just run this when when the specified rule is already present.

### Expected Results

No error, the rule is already enabled.

##

[2021-05-23 01:19] #74800 closed, assigned to nobody

[2021-05-23 14:48] Akasurde commented on #56264
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/2597.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-05-23 14:49] #56264 closed, assigned to nobody

[2021-05-23 15:31] crescentrose commented on #33058
This is still an issue.

If someone needs help reproducing, [SourceMod](https://www.sourcemod.net/downloads.php?branch=stable) and [MetaMod](http://www.metamodsource.net/downloads.php?branch=stable) files are good, known clean examples.

[2021-05-23 16:08] Akasurde commented on #56249
resolved_by_pr #74801

[2021-05-24 05:31] mkrizek commented on #65067
!needs_collection_redirect

[2021-05-24 06:25] pjnagel commented on #41313
Thanks @jimbo8098, I never thought to use `-vvv` that way.

Having explored the reason for this message in our codebase, I re-confirm my position that this issue makes the notion of "handlers" much less useful than they could be:

- In our code we have a inventory variable that determines whether servers use LetsEncrypt for their certificates or not.
- We conditionally include a role that installs

[2021-05-24 07:22] pjnagel commented on #41313
To make things worse, `warn: false` does not work on `meta` tasks.

[2021-05-24 07:36] lucas-benedito opened #74802 "Backport net_get from ansible.netcommon"
### Summary

Requested to backport the changes performed on the pull request linked.
https://github.com/ansible-collections/ansible.netcommon/pull/199

### Issue Type

Bug Report

### Component Name

net_get

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

All

### Steps to Reproduce

NA

### Expected Results

NA

### Actual Results

[code]

### Code of Conduct

- [X]

[2021-05-24 07:41] #74802 closed, assigned to nobody

[2021-05-24 08:11] Akasurde commented on #56262
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/2600.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-05-24 08:11] #56262 closed, assigned to nobody

[2021-05-24 08:14] Zlopez opened #74803 ""Timeout (XXs) waiting for privilege escalation prompt:" when provisioning vagrant machine"
### Summary

This was originally opened on vagrant component in bugzilla [1962129](https://bugzilla.redhat.com/show_bug.cgi?id=1962129)

When I try to provision vagrant machine on Fedora 34 Silverblue I'm getting "Timeout (32s) waiting for privilege escalation prompt:". This happens every time, but each time on random task.

See `vagrant up --debug` [log](https://bugzilla.redhat.com/attachment.cgi

[2021-05-24 08:27] Akasurde commented on #69415
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/2601.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-05-24 08:27] #69415 closed, assigned to nobody

[2021-05-24 08:40] ssbarnea opened #74804 "galaxy.yml build ignore glob patterns not working as expected"
### Summary

Adding a recursive glob pattern like `"**/.mypy_cache"` to build_ignore does remove only the folders from subdirectories but has no effect on the root ones.

On the other hand adding just `.mypy_cache` as an entry does avoid adding this folder from repository root but not from subdirectories.

Shortly, there is no single pattern that can be used to exclude all folders with a specific

[2021-05-24 09:19] mkrizek commented on #74803
Are you able to provide a simple and minimal reproducer that does not involve using Vagrant, in a form of `ansible-playbook -i inventory playbook.yml` that we can run?

The issue description says this happens on Ansible 2.9.21. What version of Ansible did it work with?

[2021-05-24 09:41] Akasurde commented on #50594
resolved_by_pr #74806

[2021-05-24 09:55] iamgini opened #74807 "Cleaning up Old Links and References in Ansible Documentation"
### Summary

Dear Team,

I would like to start some cleaning up on Ansible Documentation (https://docs.ansible.com/) where we have so many links pointing to unmaintained versions/pages of documentations.

Eg:
Page: https://docs.ansible.com/ansible/latest/plugins/connection.html
"paramiko SSH " link is pointing to an unmaintained version link (https://docs.ansible.com/ansible/2.8/plugins/connection

[2021-05-24 10:59] Zlopez commented on #74803
It looks like I can't reproduce the issue anymore. The whole provisioning of the machine went through without issue, tried multiple times just to be sure.

I don't know what caused the original issue, but it seems some of the recent updates solved it.

[2021-05-24 10:59] #74803 closed, assigned to nobody

[2021-05-24 11:43] felixfontein commented on #74807
The source file for this specific issue is https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/plugins/connection.rst. This specific issue is caused because the wrong reference target is used: I think it should be `paramiko_connection`, not `paramiko_ssh_connection`. This is probably caused by the strange issue (for this specific connection plugin) that the file is `paramiko_ssh.py` (ht

[2021-05-24 11:43] felixfontein commented on #74807
CC @acozine @samccann @lmalivert

[2021-05-24 12:14] Vladimir-csp commented on #73654
I would also like to point out that invocations of `role.get_default_vars()` and ` role.get_vars()` from `ansible/vars/manager.py` reduce performance of playbooks exponentially, if role dependencies organized hierarchically.
This happens because invocations of `get_default_vars()` and `get_vars()` from `ansible/playbook/role/__init__.py` for high-level roles are multiplied by **undeduplicated** de

[2021-05-24 13:06] Akasurde commented on #47369
Issue migrated to https://github.com/ansible-collections/ansible.netcommon via https://github.com/ansible-collections/ansible.netcommon/issues/112.

Thanks.

[2021-05-24 13:06] #47369 closed, assigned to nobody

[2021-05-24 13:41] ginigangadharan commented on #74807
@felixfontein thank you.
The latest should be `/latest/collections/ansible/builtin/paramiko_ssh_connection.html` right ?
so `paramiko_ssh_connection` supposed to be okay, but not working !!! :)

[2021-05-24 13:59] bcoca commented on #74794
The 'file' lookup will transform json/yaml into variables, try using 'lines' or 'pipe' + cat to avoid this transformation, you might still hit the issue @sivel describes above as our templating engine will also try to transform any list or dictionary looking thing into variables.

[2021-05-24 14:03] Vladimir-csp commented on #73654
Here is how this problem manifests.

(I just took a production playbook structure and swapped out role names to role_[1:35])
<details>
  <summary>Role Dependency Structure</summary>

[code]
</details>

Running a playbook that lists:
[code]

expecting get_vars to go through:
[code]

But instead it goes through this:
<details>
  <summary>undeduplicated roles</summary>

[code]
</details>

[2021-05-24 14:13] #74683 closed, assigned to bcoca

[2021-05-24 15:46] #74571 closed, assigned to nobody

[2021-05-24 16:01] olegsidokhmetov opened #74814 "Skipped task "inventory_hostname""
### Summary

Hello!

I have 2 remote hosts and 1 master node with my playbooks. I want that file with name ".env" was copy with module "Fetch" to Master node and then, with module "copy" will copy to Remote host 2

I created playbook:

[code]

When I tried to deploy this playbook I have errors:
[https://docs.google.com/document/d/1KtHk3DaAQXReV5sw0kcNaxK5_Od-yACIJbmVmFtnGs8/edit?usp=sharing](url)

[2021-05-24 16:12] sivel commented on #74814
You do not have any hosts named: `jitsi` or `VideoBridge2`. Those are group names.  Your `inventory_hostname`'s are `185.139.68.189` and `46.17.104.103`.

You will need to adjust your inventory, or when statements to reflect the appropriate values.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google

[2021-05-24 16:12] #74814 closed, assigned to nobody

[2021-05-24 16:18] felixfontein commented on #74807
@ginigangadharan don't confuse filenames and RST labels. The filename/path is `/latest/collections/ansible/builtin/paramiko_ssh_connection.html`, but the RST label is `paramiko_connection`, and not `paramiko_ssh_connection`. (That's coming from https://github.com/ansible-community/antsibull/blob/main/antsibull/data/docsite/plugin.rst.j2#L19 and the fact that the `name:` entry in this plugin is his

[2021-05-24 17:02] #73503 closed, assigned to nobody

[2021-05-24 20:08] Shrews commented on #74777
While investigating this issue, I've come to the conclusion that copying of symlinks, either explicitly or indirectly through copying of entire directories, is a bit flawed. Because symlinks can use relative paths, when you attempt to copy the symlink to another location, you can end up with a broken link if the relative path is not maintained to the destination. The `copy` module does not make an

[2021-05-25 02:05] ginigangadharan commented on #74807
@felixfontein aah, I was confused. thank you and noted on that.

[2021-05-25 05:59] sugitk opened #74817 "inventory yaml plugin doesn't respect the order on RHEL 7"
### Summary

The inventory yaml plugin doesn't respect the order on RHEL 7.
It worked on RHEL 8 as expected.

It seems a similar issue to #73047, but it returns not sorted but randomly fixed value.

### Issue Type

Bug Report

### Component Name

inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 7.9
RHEL 8.4

### Steps to Reproduce

I created two files,

[2021-05-25 06:01] mkrizek commented on #30225
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-25 06:01] #30225 closed, assigned to nobody

[2021-05-25 07:04] olegsidokhmetov commented on #74814
I understend. I made new playbook:

[code]
But it still does not work - error "file not found: /home/docker-jitsi-meet/.env", why ot try to serch and copy file in Remote host 1?

[code]

[2021-05-25 07:10] mkrizek commented on #74814
If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-25 08:30] jistr opened #74818 "ansible-test returns 0 even when no suitable interpreters were found and no tests were run"
### Summary

`ansible-test units` command looks for several Python interpreter versions to run tests with. If it finds none that it knows, it doesn't run any tests, but it still returns 0 as if everything was ok. It should return an error in this case.

This is important for example in CI, where such issue can cause false successes. Even though the tests/code is broken, the CI will be green just b

[2021-05-25 09:18] Vladimir-csp commented on #73654
I started testing transition from 2.9 to 2.11, the situation got much worse.
After completing `role_1`, ansible seemingly hangs. Debug reveals that it starts very slowly to run iterations of get_vars.
At the end of role_1 messages were printed to the log for each host `META: role_complete for hostname`, after that a large amount of empty `META:` messages started pouring.
In debug output a lot of s

[2021-05-25 10:13] mijutu commented on #23182
A quick and dirty work-around for the problem: Run two tasks to fetch a file. First shell: wget -c -N the-url and then get_url as usual and include checksum. This way you get retries and continues from wget and checksumming from get_url.

But this way when wget fails it will leave unfinished file where the completed file should be. Fixing that would need more tasks: create temp dir before wget, mo

[2021-05-25 11:06] plantroon commented on #56930
Even from the deprecation warning, it is not clear if `force_valid_group_names=silently` will work in/after 2.10.

It states "This feature will be removed in version 2.10" - does "this feature" refer to:
- the possibility of having group names with dashes

OR
- the possibility of using `force_valid_group_names=silently` to circumvent this limitation

?

[2021-05-25 12:27] gkarakou opened #74819 "community.vmware.vmware_vmotion storage vmotion fails when datastores are shared across datacenters"
### Summary

When trying to do a storage vmotion targeting a datastore that is shared across datacenters  (all datastores mounted successfully on the host) the migration fails with:

 "msg": "Destination datastore  provided is not associated with destination host system hypervisor.example.com Please specify datastore value [list of datastores ] associated with the given host system."

**NOTE 1 : i

[2021-05-25 12:32] gkarakou commented on #74819
Hello is there an easy way to move this under ansible-collections project?
Sorry for this i just follow the contribution guide there.

[2021-05-25 12:33] #74819 closed, assigned to nobody

[2021-05-25 13:33] plasm0r opened #74821 "Using expressions in the inventory file results in the expression being logged and not the evaluated value."
### Summary

When using a lookup expression for a host value in the inventory file, the IP addresses of the hosts are resolved correctly as the playbook executes and targets the correct hosts in the inventory. However, the log output does not log the evaluated value of the expression i.e. the IP address, but rather the expression itself.

### Issue Type

Bug Report

### Component Name

inventory

[2021-05-25 13:46] gpettey commented on #72929
Seeing another aspect of this, when a directory has a default ACL set on it, and Ansible copies a file, the new file has all ACLs (including the default one from the directory it was copied into) removed. Possibly related to #44412, the code shows something like 'setfacl -b' which is overdoing the "reset ACL" step by removing ACLs that weren't placed by ansible and therefore shouldn't be removed.

[2021-05-25 13:48] sathieu opened #74822 "Add include_defaults module"
### Summary

I need to load defaults from other roles.

I tried:

[code]

This mostly works, but those defaults override group_vars.

I've also read: https://www.samdarwin.com/ansible-default-vars/. But I don't want to rename the variables `default_varname`.

I've also tried doing this:

[code]

This works until a variable reference another variable. Then fails with: `''referenced_var'' is undefin

[2021-05-25 13:51] sivel commented on #74817
This was resolved in https://github.com/ansible/ansible/pull/58000 and is present starting with ansible-base 2.10.

[2021-05-25 13:52] bcoca commented on #74821
there have been several fixes to name handling in the latest versions, can you check with ansible-core 2.11?

[2021-05-25 14:03] bcoca commented on #74821
You probably want to use something like this
[code]

[2021-05-25 15:11] #74793 closed, assigned to nobody

[2021-05-25 15:14] #74777 closed, assigned to nobody

[2021-05-25 15:25] #74507 closed, assigned to Akasurde

[2021-05-25 15:25] phyrwork commented on #39684
+1. I have exactly the same issues with wanting to override role vars from a dependant role and a) them not being overwritten by defaults and b) getting a recursion error when trying to pass down.

It's not clear what the correct approach is.

[2021-05-25 15:28] samdoran commented on #74804
We are using `fnmatch` currently, which does not understand the glob `**/`. Even with `glob`, it does not understand `**/`. We would have to write our own code to implement this behavior.

The docs should be updated to indicate only `fnmatch` globs are supported.

[2021-05-25 15:30] samdoran commented on #74804
Since the glob is compared to the full path, `*.mypy_cache` should match the files your are looking for, though it may catch some things like `/some/dir/foo.mypy_cache`.

[2021-05-25 15:35] #74135 closed, assigned to sivel

[2021-05-25 15:35] #74143 closed, assigned to sivel

[2021-05-25 15:43] itburkealert commented on #74794
@samdoran this is definitely not resolved as there isn't a clear way to overcome this problem yet...even with @bcoca's recommended approach.   Would be great for there to be a definitive best practice around how to retrieve the contents of json/yaml into an Ansible playbook.

Thanks @bcoca, the 'pipe' + cat approach produced a result where (for a multi-line yaml) it only output the first line...we

[2021-05-25 15:45] samdoran commented on #74817
Closing per above.

[2021-05-25 15:45] #74817 closed, assigned to nobody

[2021-05-25 15:47] samdoran commented on #74818
This might be a byproduct of silently skipping missing Python versions. Maybe we need to handle the case of _no_ Python versions were found.

cc @mattclay

[2021-05-25 15:50] samdoran commented on #74821
Closing per above.

[2021-05-25 15:50] #74821 closed, assigned to nobody

[2021-05-25 15:53] samdoran commented on #74822
Roles should not include the default values of other roles directly. If the goal is to have a role use the defaults from another role, just import the role anywhere in the play and the imported role's variables will be available to other roles in the play.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://gro

[2021-05-25 15:53] #74822 closed, assigned to nobody

[2021-05-25 15:58] bcoca commented on #40243
fixed via #58000

[2021-05-25 15:58] #40243 closed, assigned to nobody

[2021-05-25 16:00] #74783 closed, assigned to sivel

[2021-05-25 16:01] #74136 closed, assigned to sivel

[2021-05-25 16:47] samdoran commented on #74794
@itburkealert Ok, I misunderstood. It seemed like adding `| string` was sufficient to resovle the issue.

We are having a hard time figuring out what exactly is being used to show the output as shown in "Actual Results" from the original report.

Could you provide a simple reproducer playbook with a file? That would help us duplicate it rather than speculating based on only snippets of output.

ne

[2021-05-25 17:38] jacksonp2008 opened #74826 "Module not found pyVim"
### Summary

Other playbooks are working fine on this (deployment) machine.  Have reviewed many threads here related to similar issue and nothing seems to work for me.  pip shows the pyvmomi module is installed...

Using:
[code]

Also tried manually setting:
`ansible_python_interpreter=/Users/spollock/opt/anaconda3/bin/python`

### Issue Type

Bug Report

### Component Name

pyvmomi

### Ansible V

[2021-05-25 17:53] itburkealert commented on #74794
@samdoran thank you, our config map did technically _work_ with the `| string ` element but it still changes characters in the json/yaml which jeopardizes the integrity of the data being pushed into the ConfigMap.

We're testing using a bash task to 'cat' the contents of the file into a variable.  Should have feedback on those results shortly...thanks again.

[2021-05-25 18:02] Frzk opened #74827 "user module considers userdel return code 6 as a failure"
### Summary

I'll try to explain my case clearly, because it's a bit specific.

I'm writing a role to deploy a service (telegraf, if it matters) under Archlinux and I'd like it to run with systemd's `DynamicUser=yes` feature (See http://0pointer.net/blog/dynamic-users-with-systemd.html)

Since I'm using this feature, I'd like to make sure there is no `telegraf` user in my `/etc/passwd` file. So, I

[2021-05-25 18:49] sivel commented on #74826
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2021-05-25 18:51] #74826 closed, assigned to nobody

[2021-05-25 18:51] samdoran commented on #56249
I don't think the correct fix for this will result in the diff being returned as stated in the Expected Results. This should raise a `TypeError` when something other than a dict is passed in. This function is meant to recursively diff dictionaries, not lists of dictionaries. Iterating through a list of dicts should be done by the caller.

[2021-05-25 19:06] sivel commented on #74760
I played a little with a fix, although I'm not entirely happy with the `Incorrect password` -> `escalation failed` change, as the incorrect password message of `Sorry, try again.` isn't clear, and there is some context lost.

<details>
<summary>Diff...</summary>
<p>

[code]

</p>
</details>

Produces:
[code]

But for invalid password:

[code]

I'm not pursuing this further right now. If someone el

[2021-05-25 19:12] bcoca commented on #74760
tempted to reverse that 'check_become_error' which itself can call incorrect/missing/other errors internally, that way errors can be added at the become plugin level and no need to change connection plugin handling

[2021-05-25 19:27] bcoca commented on #74760
[code]

[2021-05-25 20:14] flowerysong commented on #74827
The user does exist (it was dynamically created by systemd instead of statically added to /etc/passwd, but that's different from not existing), so I feel it's appropriate for the module to fail when it fails to delete it.

[`failed_when`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#defining-failure) is the solution for cases like this where you have a different

[2021-05-25 20:49] Frzk commented on #74827
Thanks a lot for your answer :)

I'm still not 100% convinced by the current behavior, but I think I can go on with the nice and elegant workaround you're suggesting. (I never think about `failed_when` :-( )

Thanks again for your help, much appreciated.

[2021-05-25 23:18] Frzk commented on #74827
Well, I gave it a try and it works well when dealing with the user. Sadly, the same logic doesn't apply when it comes to the group.
When I try to make sure the corresponding group is also absent, `groupdel` (which is used under the hood) returns `8`, meaning `can't remove user's primary group` (which is quite logical since the user still exists...).

And this isn't something I can legitimately ign

[2021-05-26 02:11] geerlingguy commented on #72030
I'm on a new M1 Mac, and trying to install Ansible in any way that gets libyaml support, but I seem to keep failing (see point 2 here: https://github.com/geerlingguy/mac-dev-playbook/issues/100#issuecomment-848390871).

Here's what I tried:

[code]

But after multiple attempts...

[code]

[2021-05-26 05:38] qixiaobo commented on #49408
The same problem occurs

[code]

[2021-05-26 07:27] sathieu commented on #74822
Thanks @samdoran. I'm using symlinks for now (hopefully git supports symlinks). I'll try to refactor later.

[2021-05-26 09:31] equinox0815 commented on #56930
@plantroon it's neither. The feature that is deprecated is the automatic rewrite of "invalid" group names. See [this comment](https://github.com/ansible/ansible/issues/56930#issuecomment-521263727) for more information.

[2021-05-26 10:15] bitmand opened #74830 "Becoming unprivileged user error: invalid mode +a"
### Summary

Upgraded to 4.0.0 (core 2.11.0) yesterday and now becoming an unprivileged user fails with:

    Failed to set permissions on the temporary files Ansible needs to create when becoming an unprivileged user
    (rc: 1, err: chmod: invalid mode: ‘+a’

Ansible is trying to run chmod with +a, but it's not a valid argument on the managed node running Ubuntu. +a is valid argument for chmod o

[2021-05-26 11:22] Akasurde commented on #74830
!component =lib/ansible/plugins/action/__init__.py

[2021-05-26 12:53] cubistico commented on #30864
I've been running into the same issue. Not giving any hint leaves it to the user to try guessing. Really weird.

[2021-05-26 13:11] anxstj opened #74831 "ansible_virtualization_type inconsistent values across runs"
### Summary

I'm using molecule to test my roles. Installing cron inside a Debian 10 container on a Debian 10 hosts causes the `ansible_virtualization_type` to switch from *docker* to *containerd*. This happens with ansible-core 2.11.0 and 2.11.1, but not with ansible-base 2.10 or ansible 2.9.

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[

[2021-05-26 14:40] #29999 closed, assigned to nobody

[2021-05-26 14:47] #30144 closed, assigned to nobody

[2021-05-26 15:11] Shrews commented on #43166
With current devel (`core 2.12.0.dev0`), this error occurs with the reproducer playbook:

[code]

The `file` module detects you are attempt to modify an existing hard link, effectively setting `state: hard` for you. Adding `src` to point to the original file would produce a new error about the hard link already existing. In short, modifying hard links is not directly supported by `file`, only crea

[2021-05-26 15:23] Shrews commented on #43166
Ugh, so, for my test, it wasn't `file` that was actually failing, it was the `ln /tmp/file /tmp/hardlink` line when running the playbook more than once. The following playbook works as expected for a single run:

[code]

Sorry for the unnecessary noise. Closing yet again.... and grabbing some caffeine.

[2021-05-26 15:23] #43166 closed, assigned to nobody

[2021-05-26 15:35] Shrews commented on #70397
This documentation was improved with PR #74104.

[2021-05-26 15:35] #70397 closed, assigned to nobody

[2021-05-26 16:11] Shrews commented on #39474
This seems to have been fixed by #39640.

[2021-05-26 16:11] #39474 closed, assigned to nobody

[2021-05-26 16:44] jmnavarrol commented on #41313
Well, you still can count on task stages: pre_tasks -> roles -> tasks -> post_tasks, each of them triggering handlers when they finish but I'd say yes, that's the basic way handlers work (I need this action to be done, like a service restart... eventually).  It isn't without merit, as it allows "collecting" all those actions and running them once (you don't want your web server being restarted a d

[2021-05-26 16:52] Shrews commented on #40313
This warning is not seen with any active versions (going back to 2.9). Closing this issue.

[2021-05-26 16:52] #40313 closed, assigned to nobody

[2021-05-26 17:03] mattclay commented on #74402
bot_skip

[2021-05-26 19:12] unix-bomber opened #74836 "Many junipernetworks.junos modules only work using the now depricated provider parameter"
### Summary

When using most junipernetworks.junos modules I must target localhost, and use the provider parameter.

Documentation such as https://docs.ansible.com/ansible/latest/network/user_guide/platform_netconf_enabled.html states

`The ansible_connection: local has been deprecated. Please use ansible_connection: ansible.netcommon.netconf instead.`

Which is impossible, as when ansible connect

[2021-05-26 19:40] sivel commented on #74836
!component =lib/ansible/modules/network/junos/junos_scp.py

[2021-05-26 19:46] #74836 closed, assigned to nobody

[2021-05-26 19:46] unix-bomber commented on #74836
I'm sorry, could you provide more information?

[2021-05-26 19:47] unix-bomber commented on #74836
Thanks sivel!

[2021-05-26 20:51] acozine opened #74838 "SSH connection plugin docs are broken"
### Summary

Current output looks like this:

![Screen Shot 2021-05-26 at 3 47 04 PM](https://user-images.githubusercontent.com/879121/119728942-a83e4a80-be39-11eb-835c-03b048c809ac.png)

The problem is currently in `devel` and in `latest` docs (links to [latest](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ssh_connection.html) and [devel](https://docs.ansible.com/ansible/de

[2021-05-26 21:28] jdejoya17 opened #74840 "ansible-test with remote machines"
### Summary

I am trying to write integration tests for a collection, but we need a specific OS that is not available as a docker image on ansible-test.

Is there a way to specify an inventory file with `ansible-test integration` so we can use our own remote machines with the specifications that we need to run our collection.

### Issue Type

Feature Idea

### Component Name
ansible-test

### Addi

[2021-05-26 22:34] hrv231 opened #74841 "Failed to detect selinux python inside venv"
### Summary

I tried to run the following command:
[code]
 ansible shows error on "msg": "Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"

Then I decided to install selinux using pip, and when I ran the playbook again it shows the below:
[code]

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

###

[2021-05-26 22:43] hrv231 commented on #74841
I think this is a problem with python3.8, I tried it on another machine with the same version of ansible and python 3.7.3 and it doesn't throw the error when I run "ansible --version"

[2021-05-27 00:25] rajaniesh opened #74842 "Unable to login to azure portal with the exported variable or credential file entries"
### Summary

Hi,

I have followed this article  https://docs.ansible.com/ansible/2.3/guide_azure.html. IN this when I used service principal it works fine but when I tried using

[default]
ad_user=XXXXX
password=YYYYY
subscription_id=zzzzzzz

it does not work I tried using the environment variable and tried passing the parameters like this
 ansible-playbook CreateAzureVM.yml --extra-vars "ad_user=

[2021-05-27 04:35] Akasurde commented on #74842
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Migrated this issue in the above repository - https://github.com/ansible-collections/azure/issues/548.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mail

[2021-05-27 04:35] #74842 closed, assigned to nobody

[2021-05-27 05:11] pieter-lautus commented on #41313
My comment on failing was rather this: imagine some role that ran ages ago notified some handlers that have not run yet. Imagine now an entirely unrelated later role fails. Then the handlers won't get run.

The only way the author of the first role can deal with the situation is to make sure their handlers are run by the end of their role, by using `meta: flush_handlers` at the end, for example. T

[2021-05-27 05:41] Akasurde commented on #74841
@hrv231 Thanks for reporting this issue. You have installed [`selinux`](https://github.com/pycontribs/selinux) which is a shim module for use in virtualenvs. You need to install `libselinux-python` package using os package manager even if you install `selinux` (shim module).

After installing `selinux` in virutalenv and `libselinux-python3` using yum, I don't get this error message.

Thanks,

need

[2021-05-27 05:42] #50594 closed, assigned to nobody

[2021-05-27 06:42] bitmand commented on #74830
@sivel I can confirm that installing the package `acl` on the managed Ubuntu node resolves the problem for me and I can move forward - thanks 👍 (if no one else is experiencing this, feel free to close the ticket)

---

Regarding the documentation (which I might interpret wrong) but I read it as the `acl` package is not a hard requirement:

Closely followed by:

Which I suspect is related to the pr

[2021-05-27 09:23] wookietreiber commented on #74556
FYI This issue was reported earlier (https://github.com/ansible/ansible/issues/67661) and was supposed to be solved (https://github.com/ansible/ansible/pull/67721). It seems there is no test to verify that this issue doesn't occur again.

[2021-05-27 11:16] #66432 closed, assigned to relrod

[2021-05-27 12:03] eqrx commented on #74779
merged #74797 just now :)

[2021-05-27 14:11] Akasurde commented on #46965
@b0urn3 I added a new plugin called `random_string` which generated random string based upon constraints provided. https://github.com/ansible-collections/community.general/pull/2572.

Let me know if it works for you. Thanks,

needs_info

[2021-05-27 14:27] Akasurde commented on #74779
resolved_by_pr #74844

[2021-05-27 15:48] #74779 closed, assigned to Akasurde

[2021-05-27 17:29] abadger commented on #74838
https://github.com/ansible-community/antsibull/pull/277 should fix the breakage to the docs build.  However, I noted in this comment: https://github.com/ansible-community/antsibull/pull/277#issuecomment-849803061 that the new field doesn't follow the conventions of similar fields (`ini:`, `env:`, `vars:`) and doesn't carry enough user-visible information in it to be at all useful for creating docs

[2021-05-27 18:27] plasm0r commented on #74821
Thanks, that worked for us.

The behavior is a bit strange though and I wonder if this configuration should rather result in an error being raised rather than working the way it does?

Btw, is it possible to force the log output to include the IP address as assigned to 'ansible_host' above in addition to the inventory host name?

[2021-05-27 18:29] samdoran commented on #29720
This is fixed in Ansible 2.6 and later.

[code]

</br>

[code]

[2021-05-27 18:29] #29720 closed, assigned to nobody

[2021-05-27 18:53] bcoca commented on #74821
see #74370

[2021-05-27 19:12] samdoran commented on #74830
May be related to changes made in #70785.

[2021-05-27 19:23] samdoran commented on #74840
cc @mattclay

[2021-05-27 19:25] samdoran commented on #74841
Closing per above.

[2021-05-27 19:25] #74841 closed, assigned to Akasurde

[2021-05-27 19:48] sivel commented on #70753
Resolved by https://github.com/ansible/ansible/pull/72287

[2021-05-27 19:48] #70753 closed, assigned to nobody

[2021-05-27 19:49] bcoca commented on #74838
It is not only in devel, it should be present in 2.11, also `cli` was always part of the design for config, but so are others that are still not used/usable everywhere see https://github.com/ansible/ansible/pull/66139#issuecomment-849342346

The user visible information was always supposed to be there, but we missed adding the PR that did so (here it is now #74847).

As with `keywords`, `cli` it w

[2021-05-27 20:09] bcoca commented on #71797
- action: same as modules
- tests: boolean
- callback: they should not return anything locally, but interface with external resources,  not sure if that merits a 'return' doc
- become/cliconf/connection/httpapi/netconf/shell/terminal: they really dont return data for themselves, mostly intermediaries for actions/modules
- filters: data, the structure will vary by filter, so it should be documented

[2021-05-27 20:14] bcoca commented on #71793
yes, though I would make this per plugin type.

lookups, tests, filters, should all have examples, just as action/modules do

most others are not used directly in plays and the example would be 'configuration' at most, which we could auto-generate instead of requiring it written in docs.   see how i expanded snippets here #74403

[2021-05-27 20:17] bcoca commented on #71792
ansbile-config now also displays plugins, so we should add 'name' handling there #49627 (make the `DEAFULT_ `into `internal_constant:` value?

[2021-05-27 20:18] bcoca commented on #60880
ansbile-config now also displays plugins, so we should add 'name' handling there #49627 (make the DEAFULT_ into internal_constant: value?

[2021-05-27 20:25] samdoran commented on #74831
I'm unable to duplicate this. Can you provide the contents of `/proc/1/cgroup` before and after `cron` is installed? I _really_ don't see how installing a package inside a container would be changing the cgroups...

From looking at the code, the only way I can see this getting set to `containerd` is if we find `/system.slice/containerd.service` in `/proc/1/cgroup` and have not previously found `'/

[2021-05-27 23:06] #72918 closed, assigned to nobody

[2021-05-28 07:27] anxstj commented on #74831
Thanks for taking a look at this. I know this is a strange error.
I could only reproduce it on a Debian buster host. I couldn't reproduce it on a Fedora host for example.

The information you ask for:
`/proc/1/cgroup` before the playbook:
[code]

`/proc/1/cgroup` after the playbook:
[code]

[2021-05-28 09:59] tuxis-ie commented on #74830
Seeing this too, managing a Debian Stretch server using ansible 2.11.0.

[2021-05-28 11:07] hackallcode opened #74851 "Impossible to use set_fact with only omitted values"
### Summary

On versions less than 4.0, it was possible to call the `set_fact` module, passing only omitted values there.
Now, with such a call, an error occurs `No key/value pairs provided, at least one is required for this action to succeed`.

### Issue Type

Bug Report

### Component Name

`set_fact.py`

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS Big Sur

[2021-05-28 17:22] hyperreality commented on #29451
I've opened a PR to provide an `allow_downgrade` option to the apt module: https://github.com/ansible/ansible/pull/74852

[2021-05-29 01:00] jobcespedes opened #74853 "search path does not include dependent role paths"
### Summary

When I use a role (r2) with a dependency to another (r1), I would like to include/import once tasks/templates present in the dependent role (r1) from it (r2). However, it says tasks/templates are not found. Testing with an example play and this scenario (importing r2 with a dependency to r1), I noticed one thing:
1) `ansible_search_path` in r1 shows paths of both roles. Nonetheless, t

[2021-05-29 01:54] ehudkaldor commented on #73347
please tell me if this is the same issue:

i built a collection with internal dependencies in galaxy.yml, like this:
[code]

if i install it using a requirements.yml file, like this:
`ansible-galaxy collection install --force --force-with-deps --requirements-file requirements.yaml`
it installs the collection, but not the deps stated in galaxy.yml.
[code]

contrary to that, if i install it using th

[2021-05-29 02:01] ehudkaldor opened #74854 "installing a collection from requirements.yml does not install dependencies stated in galaxy.yml"
### Summary

 built a collection with internal dependencies in galaxy.yml, like this:

dependencies:
  'community.mysql': '2.0.0'
  'community.general': '2.2.0'

if i install it using a requirements.yml file, like this:
`ansible-galaxy collection install --force --force-with-deps --requirements-file requirements.yaml`
it installs the collection, but not the deps stated in galaxy.yml.
[code]
contra

[2021-05-29 06:40] PenguinzTech opened #74855 "Branch in example, but not in spec anymore!"
### Summary

I was reading https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html and see it calls out branch in the example:

[code]

However, this is not in the spec above and seems to not work. Would love to see this fixed to the right one!

### Issue Type

Documentation Report

### Component Name

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/

[2021-05-29 07:40] aminvakil opened #74856 "reduce default galaxy.yml yamllint errors"
### Summary

I've initialized a collection using `ansible-galaxy collection init ansible.test` and saw some yamllint errors (expect line too long that does more harm fixing them than good) which is good to fix IMHO.

[code]
I mean wrong indentation and too many blank lines at last.

### Issue Type

Feature Idea

### Component Name

galaxy

### Additional Information

Later on using `ansible-lint`

[2021-05-29 12:06] Akasurde commented on #74855
@kp3nguinz Thanks for reporting this issue. Could you please check if this https://github.com/ansible/ansible/pull/74796 solves your problem? Thanks.

needs_info

[2021-05-29 12:07] Akasurde commented on #74855
!component =lib/ansible/modules/git.py

[2021-05-29 12:27] Akasurde commented on #74458
I will go ahead and close this issue.

[2021-05-29 12:27] #74458 closed, assigned to nobody

[2021-05-29 23:30] g4njawizard opened #74857 "Ansibles file module unable to remove ssh files"
### Summary

I try to remove default SSH files and recreate them. The files:

[code]

When I run this task:

[code]

and different version:

[code]

I receive the following error:

[code]

This looks almost like a bug.

### Issue Type

Bug Report

### Component Name

file

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian

### Steps to Reproduce

delete ssh host

[2021-05-30 00:38] rajaniesh commented on #74842
Please reopen the issue as there is no reply of this question after you posted it to Migrated this issue in the above repository - ansible-collections/azure#548.

[2021-05-30 01:23] flowerysong commented on #74857
This is not a bug. `with_file` is for looping over the contents of files; it uses the `file` lookup to fetch the file contents. Since you're looping over filenames, you should just be using `loop` or `with_list`.

[code]

[2021-05-30 04:09] geerlingguy opened #74858 "Calling role by FQCN not working with play roles keyword"
### Summary

I am building a collection of Mac-focused Ansible content in my [ansible-collection-mac](https://github.com/geerlingguy/ansible-collection-mac) repository.

This evening, I was trying to adapt my existing tests from my individual roles into one collection test playbook, and I attempted to call the roles from the collection with the following playbook:

[code]

This resulted in the fol

[2021-05-30 05:16] flowerysong commented on #74858
I don't believe the `collections` keyword is actually doing anything for you in the "working" example; the search path in the failure includes `/Users/runner/work/ansible-collection-mac/ansible-collection-mac/ansible_collections/geerlingguy/mac/roles`, so it's probably just picking up the role as a non-collection role.

Your collections_paths setting in ansible.cfg looks very suspect; your action

[2021-05-30 06:09] g4njawizard commented on #74857
How should I know that when it's not documented?
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html
loop has been mentioned in an example, but not in the description.

[2021-05-30 06:14] flowerysong commented on #74857
That is the documentation for the file module, which also doesn't mention `with_file` at any point.  Loops are a core feature of Ansible [with their own documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html) and cannot be expected to be mentioned in the documentation of every single module.

[2021-05-30 06:20] g4njawizard commented on #74857
Oh.. well... In this case tags could be helpful. :)
Thanks for the help!

[2021-05-30 06:20] #74857 closed, assigned to nobody

[2021-05-30 12:29] salmanfaris0794217 commented on #67257
is this issue fixed, can i work on this issue to fix it,

[2021-05-30 15:49] geerlingguy commented on #74858
I'm trying with:

[code]

https://github.com/geerlingguy/ansible-collection-mac/runs/2705166469?check_suite_focus=true

[2021-05-30 16:33] flowerysong commented on #74858
I find it easier to just set the correct path directly: https://github.com/flowerysong/ansible-flowerysong.hvault/blob/6c3c76d3ae313a98dad0e57f54d4433ce73f77c1/.github/workflows/ansible-test.yml#L15

[2021-05-30 16:46] henriqueccapozzi commented on #74239
@savitojs from what you originally suggested the ansible-galaxy CLI should overwrite the collection with the same name lower version number...

I was not able to reproduce the exact situation you pointed out but my consideration would be the bellow

replacing `/tmp/collections` with the appropriated path

[code]
After your done upgrading the role you want remember to unset the `ANSIBLE_COLLECTIONS

[2021-05-30 16:53] henriqueccapozzi commented on #74239
@bcoca I started some tests related to adding the `--only-used`  CLI flag and have the following question

When you say 'adjacent' path, is that `~/.ansible/collections` ?

[2021-05-30 20:16] geerlingguy commented on #74858
I didn't want to go through the process of building the collection, installing the collection, etc. since I can just use it directly—after a bit more testing I found that the following collections_paths value seemed to work:

[code]

So it seems like this isn't a bug, since my roles_path setting did find the local role name.

[2021-05-30 20:16] #74858 closed, assigned to nobody

[2021-05-31 04:18] #70774 closed, assigned to nobody

[2021-05-31 07:40] aminvakil commented on #74831
I'm not sure if this is the same issue or not, but `ansible_facts.virtualization_type` is returning `kvm` on my system and it's returning `containerd` instead of `docker` running in GHA when running in molecule against docker, starting from ansible-core.

It's the same behaviour across centos 7, centos 8 and debian 10 containers.

Running on `ansible-base` it's fine: https://github.com/aminvakil/a

[2021-05-31 09:53] madrover opened #74864 "display_failed_stderr not working when on tasks with loops"
### Summary

Hi
I have noticed that the **display_failed_stderr** in  setting just send task errors to stderr when the the task which is failing does not have a loop. If the task which fails has a loop then the the output is never sent to stderr, even if all items in the loop fail.

This prevents effective filtering of errors by greping stderr, given that not all failed tasks are sent to it.

Than

[2021-05-31 10:52] mkrizek commented on #74851
This has never worked. The variable was not defined, it was just silently ignored. #73684 fixes this to emit an error.

[code]

(running with `-v`)
Before #73684:

[code]

After #73684:

[code]

[2021-05-31 10:57] mkrizek commented on #74851
Ah, so that is the complaint that you want `v1` (from my example) to stay undefined?

[2021-05-31 11:27] jhe2 opened #74866 "When gathering facts, Ansible fails to detect runit service manager if unable to read /proc/1/comm"
### Summary

One way this can happen is when Ansible runs as a non-priviledged user and ``/proc`` is mounted with ``hidepid=invisible``.
In this situation, ``ansible_service_mgr`` will be set to ``service`` as a fallback value.
Since the ``service`` module has no built-in support for ``runit``, it then fails to work correctly.

### Issue Type

Bug Report

### Component Name

module_utils

### Ansi

[2021-05-31 12:03] Akasurde commented on #38058
@Dmitriusan Could you please check if #42396 works for you and let us know? Thanks.

needs_info

[2021-05-31 12:03] Akasurde commented on #38058
cc @jborean93

[2021-06-01 08:22] g4njawizard opened #74868 "Cant select objects out of an registered loop when using uri module"
### Summary

I tried to create a list out of downloadlinks for Appimages where I can compare if they already are in the newest versions locally available. For this I create a loop to process al links without following redirects.
When you run the task and debug without selecting an object, the results are formatted as intended.
`
    - debug:
        msg: "{{ item }}"
      loop: "{{ appimage_appim

[2021-06-01 08:56] #74868 closed, assigned to nobody

[2021-06-01 09:21] tommarcoen commented on #64016
I am currently using @vladimir-mencl-eresearch 's workaround using `stat` but am still curious about a permanent fix. Is anyone working on it? If not, why not? Can I help?

[2021-06-01 09:53] digglife commented on #74536
I'm able to reproduce it and I think I found the reason why.

https://github.com/ansible/ansible/blob/35a2345809700a8566902ca116c09643d5ca2a88/lib/ansible/modules/copy.py#L507-L511

Here in the `copy_common_dirs` function, when `copy_diff_files` or `copy_left_only` have changed something, then the recurse will never be executed because `or` is lazily evaluated.

The easiest  fix could be

[code]

[2021-06-01 10:02] philfry opened #74869 "ansible is using unreliable method to determine default gateway/interface"
### Summary

ansible is using `ip route get 8.8.8.8` (and ipv6.google.com) to determine the default gateway / interface. While this command is acceptable to most use cases it returns the wrong results if using a specific route to this ip address over a different interface. Which is not unusual for ixps.

Either use "ip route" or look at /proc/net/route (and /proc/net/ipv6_route) to determine the c

[2021-06-01 11:03] Ompragash commented on #74684
At the last core meeting, we agreed to incorporate [community_collection_template](https://github.com/ansible-collections/collection_template) as a skeleton-type and ship it with ansible-core and it can be used to create a new collection-skeleton using command `ansible-galaxy collection init namespace.collectionname --type community`.

Meeting Log: https://meetbot.fedoraproject.org/ansible-meeting

[2021-06-01 12:51] ssbarnea commented on #73347
I do really hope we endup with a single galaxy command for installing both types of dependencies. It makes no sense to have two different commands for installing deps declared inside the same file.

What if we add another dependency type? Are we going to add a 3rd command for those?

PS. I know that this observation is bit outside the original issue, but is closely related to it.

[2021-06-01 14:13] helmo commented on #58688
This would be awesome to have.
I just had an example with the template module where check_mode worked fine and the diff looked OK, but when really running it the validate step failed horribly (as it should).

I assume that the template result is copied to the server even in check_mode in order to be able to make a diff.

So +1 for me.

[2021-06-01 14:14] bcoca commented on #74239
no, that is a 'configured path', when saying 'adjacent', it means relative to playbook file, just like roles and plugins work (roles/, library/ , filter_plugins/, etc).

An example for listing w/o adjacent https://github.com/bcoca/std/blob/devel/list_collections.py (mostly there for those using older ansible versions)

[2021-06-01 14:33] tolimar opened #74871 "builtin user module unable to add user to group on AIX"
### Summary

Using the builtin user module I'm unable to add an user to an additional existing group on an AIX system. Probably related to usermod on AIX not supporting the -a switch?

### Issue Type

Bug Report

### Component Name

user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Testsystem is AIX 7.2, TL4 SP2, aka 7200-04-02-2016 using python3 from aixtools.

#

[2021-06-01 14:55] kroov opened #74872 "win_template fails with ansible-base 2.10.10"
### Summary

After update of ansible-base to version  2.10.10 win_template module fails to copy file with error
`msg: 'FileNotFoundError: [Errno 2] No such file or directory: b''C:\\file.yaml'''`

On previous version 2.10.9 playbook works without errors.

### Issue Type

Bug Report

### Component Name

ansible-base

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Cent

[2021-06-01 14:57] tolimar commented on #74871
!component lib/ansible/modules/user.py

[2021-06-01 15:03] sivel commented on #74872
Seems to have been caused by https://github.com/ansible/ansible/commit/22330dd322634548e0f4d88aa9c5c017b7c04851

[2021-06-01 15:08] samdoran commented on #74851
This behavior is intended due to the changes in #73684. To ignore this, use a `when` on the `set_fact` task, or `ignore_errors`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-01 15:08] #74851 closed, assigned to nobody

[2021-06-01 15:15] sivel commented on #74853
A role that lists `dependencies` (we'll call it `r2` from your example) does not inherit from the role listed under `dependencies` (`r1`).  Inheritance works in the reverse.

This means that `r1` is effectively the "child" of `r2`, not the other way around.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://group

[2021-06-01 15:15] #74853 closed, assigned to nobody

[2021-06-01 15:19] samdoran commented on #74854
This should work as you describe. Dependencies in a `galaxy.yml` in a collection should be included in the `MANIFEST.json` after running `ansible-galaxy collection build`.

Can you provide the contents of the `galaxy.yml` and the `MANIFEST.json` from the collection artifact you are installing? A simple working example would help us be able to reproduce this since we have not been able to.

needs_i

[2021-06-01 15:20] samdoran commented on #74855
Resolved by #74796.

[2021-06-01 15:20] #74855 closed, assigned to nobody

[2021-06-01 15:23] samdoran commented on #74856
We use different settings when running `yamllint` in `ansible-test` that do not produce these failures.

Duplicate of https://github.com/ansible/ansible/issues/74510.

[2021-06-01 15:23] #74856 closed, assigned to nobody

[2021-06-01 15:31] #74864 closed, assigned to nobody

[2021-06-01 15:43] samdoran commented on #74872
This was fixed in https://github.com/ansible-collections/ansible.windows/pull/200.

[2021-06-01 15:43] #74872 closed, assigned to nobody

[2021-06-01 16:30] FloSchwalm opened #74875 "Unnecessary trailing space in ansible --version output"
### Summary

`ansible --version` puts a trailing space at the end of its first output line. The trailing space was introduced in #72287

This breaks ansible version detection in Vagrant. Though it would be possible to fix the version detection in Vagrant by trimming whitespace before comparing strings, I assume the addition of the trailing space was an accident since the PR doesn't indicate any in

[2021-06-01 16:58] madrover commented on #74864
Great! That was fast! :)
Thanks @samdoran !

[2021-06-01 17:03] ehudkaldor commented on #74854
MANIFEST.yml:
[code]

galaxy.yml:
[code]

requirements.yml that installs the collection:
[code]

bash script that calls requirements.yml:
[code]

note: `--force-with-deps` did not resolve the issue

[2021-06-01 17:08] ehudkaldor commented on #73347
i opened this for my issue:
https://github.com/ansible/ansible/issues/74854

[2021-06-01 17:16] FloSchwalm commented on #74875
!component +lib/ansible/cli/arguments/option_helpers.py
!component +test/units/cli/test_adhoc.py

[2021-06-01 17:29] sivel commented on #74854
This may be resolved by https://github.com/ansible/ansible/pull/72683 in Ansible 2.9.16

Is it possible you could upgrade to at least 2.9.16 and try again?

In any case, 2.9.x is now only accepting security only fixes, so it may be pertinent to upgrade to at least 2.10.

needs_info

[2021-06-01 17:46] #72238 closed, assigned to Akasurde

[2021-06-01 18:52] #74657 closed, assigned to nobody

[2021-06-01 18:54] samdoran commented on #74831
@anxstj This is as I suspected. On the first fact gathering, the `docker` regexp matches the first line of `/proc/1/cgroup`. Then changes are made to the system and the `containerd` regexp matches the first line of `/proc/1/cgroup`. Since the first match determines the `virtualization_type` and subsequent matches do not change this value, that explains what is happening.

Based on the output above

[2021-06-01 18:56] samdoran commented on #74831
@aminvakil I suspect what you are seeing in GHA is the same thing we saw in Azure Pipelines (GHA is built on Azure Pipelines). The above suggesting should help with your tests when running in GHA.

[2021-06-01 19:02] samdoran commented on #74831
I'm inclined to close this unless @relrod has other thoughts.

[2021-06-01 19:32] #73527 closed, assigned to nobody

[2021-06-01 19:59] sivel commented on #70750
Ansible 2.9 has entered into security only fixes.  We have un-deprecated `ANSIBLE_COLLECTIONS_PATHS` for the time being.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-01 19:59] #70750 closed, assigned to nobody

[2021-06-01 20:04] sivel commented on #66916
This has been resolved in https://github.com/ansible/ansible/pull/72607 and will be included in ansible-core 2.12

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-01 20:04] #66916 closed, assigned to sivel

[2021-06-01 20:33] relrod commented on #74831
Yeah, it sounds like Ansible is doing the right thing with the information it has.

Closing per above, since a workaround was given.

[2021-06-01 20:33] #74831 closed, assigned to nobody

[2021-06-01 20:38] relrod commented on #74830
This logic basically runs through a bunch of fallbacks to try to determine if there's a way to get the file readable in a safe way to the unprivileged user. At this point in the process, Ansible doesn't know which platform it's running on, so it tries some platform specific things along the way as part of the fallback chain, even if they don't work everywhere.

The reason you're seeing this partic

[2021-06-02 04:39] #39029 closed, assigned to nobody

[2021-06-02 05:30] Akasurde commented on #74875
@FloSchwalm Thanks for reporting this issue.

[2021-06-02 05:32] aminvakil commented on #74831
@samdoran Thanks for your suggestions!

Though I still don't know why it returns `kvm` running on my system. If you think it's worth investigating (maybe a bug) please tell me to open an issue to track this.

[2021-06-02 07:58] edserhub commented on #32265
+1

[2021-06-02 09:17] beckjkl opened #74881 "Filters create junk output with lists with unicode text"
### Summary

I encountered this bug when compiling data for a playbook that updates the network configuration for Ubuntu 18.04 servers. I was able to recreate this bug with all systems in our environment that I tried this playbook with. I isolated the issue in a test-playbook that you can find below. The goal of the step that causes the problem is to differentiate between secondary ip addresses co

[2021-06-02 09:45] zaibakker commented on #64612
Hello,
Pb solved if i change src in absolute too.
With relative src, i have the same error, "because" the src is not the original src.
"src": "/root/.ansible/tmp/ansible-tmp-1622626334.5089674-236085580384254/source",
python 3.6, ansible 2.9.

[2021-06-02 10:13] mkrizek commented on #74881
I think I successfully inferred working reproducer. Would following change fix your issue?

[code]

[2021-06-02 10:14] mkrizek commented on #74881
Attaching my complete working example:
[code]

[2021-06-02 10:23] mkrizek commented on #74881
Also see https://github.com/ansible/ansible/issues/74379

[2021-06-02 11:16] beckjkl commented on #74881
This works by keeping everything as AnsibleUnsafeText:
TASK [print string typs] *****************************************************************************************************************
ok: [proxy01] => {
    "msg": "pacemaker_ip_list.stdout_lines=AnsibleUnsafeText; ip_list_from_setup=AnsibleUnsafeText; ip_list_from_setup_hardcoded=AnsibleUnsafeText"
}

That doesn't change the fact that un

[2021-06-02 12:09] digglife commented on #74557
### Reasons

1. Why the behavior is different for RHEL7 and RHEL8?

    Because for RHEL7, `yum` module is using `rpm` command line, while for RHEL8, it's using `dnf` API

2. Why Ansible output the wrong result for package listing?

   https://github.com/ansible/ansible/blob/be9f8c69d1e968c8342449d7e0ab5504a3f8a5c2/lib/ansible/modules/yum.py#L600

    Because for installed packages it's using the

[2021-06-02 12:50] mkrizek commented on #74881
This has nothing to do with `AnsibleUnsafeText`.

The problem here is that your template is matched by the regular expression [0] that the templating engine uses to identify templates that should remain strings (typically by using the string filter) and not be converted back (Jinja always returns `string`s) to `list`.

So as I mentioned, instead of:
[code]

use:
[code]

There is an open issue to s

[2021-06-02 12:50] #74881 closed, assigned to nobody

[2021-06-02 14:12] sivel commented on #40034
Resolved by https://github.com/ansible/ansible/pull/41164

[2021-06-02 14:12] #40034 closed, assigned to nobody

[2021-06-02 15:23] perithompson opened #74887 "Ansible-base 2.10.10 breaks win_template"
### Summary

When using win_template to create files on windows, upgrading to ansible-base 2.10.10 results in a file not found error

[code]

[code]

rolling back to 2.10.9 immediately resolves the issue

### Issue Type

Bug Report

### Component Name

ansible-base

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Windows 2019 and Windows 20H1(2004)

### Steps to Repro

[2021-06-02 15:26] sivel commented on #74887
Duplicate of https://github.com/ansible/ansible/issues/74872

[2021-06-02 15:26] #74887 closed, assigned to nobody

[2021-06-02 16:12] #35261 closed, assigned to nobody

[2021-06-02 16:23] sivel commented on #38199
This complications here stem from the fact that it requires knowledge of both how YAML handles backslashes in both single vs double quotes, as well as how Python via jinja2 handles backslashes.

You are effectively dealing with 2 systems that require their own escaping.

When using double quotes around the value in YAML requires that you escape backslashes, which means that `"\\"` becomes a single

[2021-06-02 16:23] #38199 closed, assigned to nobody

[2021-06-02 16:25] sivel commented on #34736
Duplicate of:

* https://github.com/ansible/ansible/issues/72650
* https://github.com/ansible/ansible/issues/67718

[2021-06-02 16:25] #34736 closed, assigned to nobody

[2021-06-02 16:43] sivel commented on #39142
I cannot reproduce this issue with any form of reproducer I have been able to dream up.  I'm going to proceed with closing this since there has been no activity on this issue in over 3 years.

If you are still experiencing problems, please feel free to open a new issue with a minimal reproducer that showcases the problem.

If you have further questions please stop by IRC or the mailing list:

   *

[2021-06-02 16:43] #39142 closed, assigned to nobody

[2021-06-02 17:19] Shrews commented on #53059
I believe you misunderstand the code. The code you referenced does not require age/size/etc. Those filter functions being called (`sizefilter()`, `agefilter()`, etc) will return `True` if those parameters and not supplied.

The error you're seeing, `sre_constants.error: nothing to repeat`, is typically due to a malformed regular expression. You were likely attempting to use a glob (e.g., `"*data*"

[2021-06-02 17:19] #53059 closed, assigned to bcoca

[2021-06-02 17:24] sivel commented on #68465
Duplicate of:

* https://github.com/ansible/ansible/issues/72650
* https://github.com/ansible/ansible/issues/67718

[2021-06-02 17:24] #68465 closed, assigned to nobody

[2021-06-02 17:27] sivel commented on #43259
Closing per above. This is not a bug, but caused by a user issue trying to combine 2 incompatible data types.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-02 17:27] #43259 closed, assigned to nobody

[2021-06-02 17:28] sivel commented on #43543
`vars` of a role are scoped at the play level, they are not scoped to the role.  As such, a var applied to any role, impacts all other roles, as they are scoped to the play.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-02 17:28] #43543 closed, assigned to nobody

[2021-06-02 17:31] sivel commented on #53623
Closing per above. This is controlled by the users local `git` configuration, changing the behavior will require users to modify their local git configuration.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-02 17:31] #53623 closed, assigned to nobody

[2021-06-02 17:35] TechnologyClassroom commented on #38920
The apt.yml file is now in a different location: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/apt.py

[2021-06-02 17:50] Shrews commented on #73010
Since we do not intend to change this behavior, and given the above comments, I'm going to close this issue.

[2021-06-02 17:50] #73010 closed, assigned to nobody

[2021-06-02 17:58] sivel commented on #58332
I'm going to work on closing this soon.  In fact I'm not going to actually add a test, but revert the change made in https://github.com/ansible/ansible/pull/58269

It appears as though this could have only ever affected Python 2.4, as `None` was part of `__builtins__` in 2.4, and `eval` couldn't handle `None` without `__builtins__, or explicitly providing `{'None': None}`.

Now that we will requir

[2021-06-02 19:00] samdoran commented on #74831
@aminvakil That is most likely not a bug. You probably have a line like this in `/proc/modules`:

[code]

That will set `virtualization_type` to `kvm` and `virtualization_role` to `host`.

[2021-06-02 19:39] Shrews commented on #72321
Unable to reproduce this on OSX 11.4.  Local git is `2.30.1`.

[2021-06-02 19:47] Shrews opened #74893 "ansible-pull does not work with relative repo paths"
### Summary

If using the `-d` or `--directory` option to `ansible-pull`, the `local.yml` playbook is not found.

Because we `cd` to the repo directory, _and_ we join the dest directory to the playbook name, the call to `ansible-playbook` does not find the repo playbook.

Also, the `--purge` option does not work when a relative path is specified.

### Issue Type

Bug Report

### Component Name

an

[2021-06-02 23:48] reinierpost commented on #43543
I'm not sure it's fair to close this without pointing out where this is documented. It's really confusing as is. This issue doesn't ask to change existing behaviour, it just asks WTF is going on. Proper documentation can fix that.

[2021-06-02 23:53] ianw opened #74896 "unarchive: recent change to fail when unzip not available breaks on some platforms"
### Summary

The recent change be9f8c69d1e968c8342449d7e0ab5504a3f8a5c2 has broken our job where we test against ansible -devel branch.  The host does not have unzip installed so the unarchive of a .tar.gz file now fails (link [1] for example).

I think this is a regression, you should only need unzip if you actually want to work on .zip files.

[1] https://f45d1d0e626700e477f6-e4a3bc1e570c5531ddd

[2021-06-03 00:28] l3ender commented on #73869
How _are_ the documents at https://docs.ansible.com/ansible/latest/collections/ updated?

[2021-06-03 06:03] Akasurde commented on #74896
@ianw Thanks for reporting this issue.

resolved_by_pr #74892

[2021-06-03 06:27] mkrizek commented on #43543
Quoting from the note in [docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#running-role-dependencies-multiple-times-in-one-playbook):

[2021-06-03 07:13] reinierpost commented on #43543
Thanks for the pointer. I read that, and I didn't realize it would even hold when the role that sets the vars are not even being executed. But maybe that is not a shortcoming in the documentation.

[2021-06-03 07:26] #73971 closed, assigned to nobody

[2021-06-03 07:26] loop-evgeny commented on #34736
#72650 is closed while #67718 is a feature request. This is a bug report, so I'm not sure how it can be a duplicate. Both of those talk about variables past one level of depth, while this issue happens even when constant values passed directly to the role differ.

Not that it really matters, though, since if this serious bug hasn't been fixed in this long it's not going to be.

[2021-06-03 10:00] Akasurde commented on #64750
For posterity - https://github.com/ansible-collections/ansible.posix/pull/199

[2021-06-03 11:17] staticdev opened #74900 "Ansible 4 `bash: ansible: command not found` after pip install"
### Summary

On a freshly installed Debian 11 I installed pip with apt and then tried:

`python3 -m pip install ansible (also other variations using --user and pip3 directly).`

Installation of Ansible 4.0 is successful, but when I try ansible command I get:

`bash: ansible: command not found`

Debian is pre-installed with 3.9.2 nothing else installed.

### Issue Type

Bug Report

### Component Na

[2021-06-03 11:19] mkrizek commented on #74900
!needs_collection_redirect

[2021-06-03 11:34] mkrizek commented on #74900
The official Ansible documentation recommends using `--user` when installing via pip, see https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-with-pip. You may need to do some additional configuration afterwards, for that see https://packaging.python.org/tutorials/installing-packages/#installing-to-the-user-site.

If you have further questions plea

[2021-06-03 11:34] #74900 closed, assigned to nobody

[2021-06-03 12:09] staticdev commented on #74900
@mkrizek please reopen my issue. I put on the description that I tried using `--user`, the problem is the same.

[2021-06-03 13:53] nkakouros opened #74902 "Allow `{% import %}` from a collection to load macros from that collection"
### Summary

This is revisiting #49101.

It would be nice to allow `import` to load macros that are not relative to the playbook to allow for better organization of code and not repeating oneself. Now that collections are a thing, it would not be a security risk to allow an `import` statement from within the collection to load a macro that belongs to the collection.

There could be different ways

[2021-06-03 13:59] #74866 closed, assigned to nobody

[2021-06-03 14:49] bcoca commented on #74900
``sudo: ansible: command not found`` <= you are clearly using a wrapper, this is not an issue with ansible but with whatever wrapper you are using.

[2021-06-03 14:51] mkrizek commented on #17806
I think this comes down to this simpler reproducer:

[code]

[code]

Results in:
[code]

The reason appears to be `include_hostvars=False` here:
https://github.com/ansible/ansible/blob/e201b542be23bccd2418eab661cdf5454af3bea8/lib/ansible/vars/hostvars.py#L77

Then when we template `hostvars[inventory_hostname]['group_var']` we get `{{ hostvars['h1']['host_var'] }}` which fails because the below Te

[2021-06-03 14:54] aminvakil commented on #74831
@samdoran I have something like this:
[code]
If you know what's going on and this is not a bug, fine.

[2021-06-03 18:59] samdoran commented on #74831
@aminvakil Based on this line `kvm 1015808 1 kvm_intel, Live 0x0000000000000000` I would expect the `virtualization_type` to be `kvm`. Doesn't seem like a bug.

[2021-06-03 19:07] #66349 closed, assigned to sivel

[2021-06-03 19:07] #74875 closed, assigned to nobody

[2021-06-03 19:10] isuftin commented on #39684
This is also killing me.

At the role level, I have to do silly things like this:

[code]

But then I have to keep track of every possible variable the dependent role has and keep up with it as I upgrade versions of the dependent roles.

And when running my role through a playbook, I have to do the same at the playbook level for all the possible variables in my role.

Ideally, I *need* both playbo

[2021-06-03 19:11] #37187 closed, assigned to nobody

[2021-06-03 19:23] jborean93 commented on #74902
Would you be able to share some more in depth examples of what exactly you are looking for, including mock dir structures and template text?

[2021-06-03 19:23] sivel commented on #39684
Related: https://github.com/ansible/ansible/pull/73939

Effectively there is no parent/child relationship with nested roles.  They are parented by the Play always, and tasks within a role, prefer the defaults/vars of that role.

As such, this is working as designed.

[2021-06-03 19:23] acozine commented on #74194
Related to #74798 and #74318.

[2021-06-03 19:24] tadeboro opened #74904 "Ansible fails to template dictionaries in vars variable"
### Summary

Iterating over the contents of the `vars`  content fails on ansible-core and ansible-base when Python 3.6 is used on control node.

### Issue Type

Bug Report

### Component Name

templar

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

[code]

### Expected Results

Ansible should loop over all variables.

### Actual Res

[2021-06-03 19:34] bcoca commented on #74904
`vars` is not a feature, use the vars lookup instead

[2021-06-03 19:36] sivel commented on #74904
I suppose we have a few options:

1. Don't fix this
2. Add a custom `__repr__` to `AnsibleMapping` that loses order:

[code]
3. Add back `Call` support and enable `AnsibleMapping`:

[code]

[2021-06-03 19:36] tadeboro commented on #74904
The problematic part seems to be the `AnsibleMapping([('b', 'c')])`. When the `safe_eval` function tries to convert the string into a list of dictionaries, it sees the mapping constructor and bails because calls are not allowed in the string being revealed. On Python >= 3.7, AnsibleMapping derives from plain dict and this problem is not present there. But on Python <= 3.6, the base class for Ansib

[2021-06-03 19:50] sstanovnik commented on #74904
I'd just like to note that I'm not entirely certain that removing `vars` in ansible/product-demos#30 is a complete fix, since I noticed the same error again in the outputs of ansible/workshops#1184 where the issue was first identified. I'm not entirely certain of what's going on there, since the CI is so complex that it may be unrelated.

[2021-06-03 19:50] acozine commented on #71927
I think the link in my original description was a copypasta typo. I think I meant pages linked from https://docs.ansible.com/ansible/2.9/modules/modules_by_category.html - for example https://docs.ansible.com/ansible/2.9/modules/list_of_cloud_modules.html.

When a user hits one of those pages and selects `4` (or a later version in future) in the version-switcher, we should redirect them to collect

[2021-06-03 19:53] acozine commented on #73793
Closed by #73934.

[2021-06-03 19:53] #73793 closed, assigned to nobody

[2021-06-03 19:54] acozine commented on #73792
Closed by #74708.

[2021-06-03 19:54] #73792 closed, assigned to lmalivert

[2021-06-03 19:56] bcoca commented on #74904
Short history, `vars` is a leftover from previous code that used it to pass variables to template, it was never intended for external use and most of the time didn't template anything.

Unrelated changes allowed it to template 'sometimes' but this was never on purpose, the only reason it was not removed is because some people relied on it, that had discovered by looking at the code and/or other pe

[2021-06-03 20:00] bcoca commented on #74904
fyi, we specifically disable `ast.Call` from safe_eval due to security issues, it is part of how we ensure it will only do data transformations.

[2021-06-04 00:22] maheshdesai314 opened #74909 "connect() got an unexpected keyword argument 'sock'"
### Summary

Tried to upgrade Ansible 2.8 to 2.10.10 and it broke Juniper module

### Issue Type

Bug Report

### Component Name

Juniper.junos

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS 10.14.6

### Steps to Reproduce

[code]

### Expected Results

It should push out the config

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the

[2021-06-04 01:35] maheshdesai314 commented on #74909
Moved this to
https://github.com/ansible-collections/junipernetworks.junos/issues/194

[2021-06-04 05:32] #74909 closed, assigned to nobody

[2021-06-04 05:40] staticdev commented on #74900
Please enlighten me @bcoca how it is clear? Because I don't think so.

[2021-06-04 07:05] mkrizek commented on #74900
There is no indication in the issue description that this is an issue with Ansible. As already stated above, you need to add `~/.local/bin` to your `$PATH` when installing with `--user` (also see https://github.com/ansible/ansible/pull/71741) and if you need further assistance please stop by IRC or mailing list which is better suited for user questions.

[2021-06-04 07:11] phyrwork commented on #39684
@sivel Even if this is working as intended, it seems like there is an emerging requirement for being able to conveniently propagate contextual arguments from role to depended on role.

If you say that role is always parented by play, then what is the point of role dependencies? Sure, one can make sure all required fundamental roles are included in a play and in the correct order, but again that IM

[2021-06-04 08:35] mkrizek commented on #58110
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2021-06-04 08:35] #58110 closed, assigned to nobody

[2021-06-04 08:59] mkrizek commented on #55823
This should be opened in one of the collections repositories:
https://github.com/ansible-collections/community.aws
https://github.com/ansible-collections/amazon.aws

Also see https://github.com/ansible-collections/amazon.aws/issues/293#issuecomment-792791832.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.goo

[2021-06-04 08:59] #55823 closed, assigned to nobody

[2021-06-04 09:17] jbadiapa opened #74910 "when statement on tasks does not performance as expected"
### Summary

A task with "when" statement which is false wouldn't be executed on the playbook.

The expected result was to have the shell and copy tasks skipped.

### Issue Type

Bug Report

### Component Name

pip3

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

cat /etc/redhat-release
CentOS Stream release 8

### Steps to Reproduce

playbook.yaml

[code]
myinventor

[2021-06-04 09:18] mkrizek commented on #54052
Since there is already https://github.com/ansible/proposals/issues/121 and this can be achieved by using `encoding` parameter I am going to go ahead and close this issue.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-04 09:18] #54052 closed, assigned to nobody

[2021-06-04 09:21] mkrizek commented on #58835
Duplicate of https://github.com/ansible/ansible/issues/56017

[2021-06-04 09:21] #58835 closed, assigned to nobody

[2021-06-04 09:58] mkrizek commented on #74910
This is working as expected.

The simpler example:
[code]

[code]

It is because `enabled_tasks=false` means that `enabled_tasks` is set to a string `"false"`, not a boolean `false`. So the when conditional is evaluated as `True` because `"false"` is a non-empty string and therefore "truthy".

You can explicitly cast `enabled_tasks` to `bool` and then it will work as desired:
[code]

[code]

Also

[2021-06-04 09:58] #74910 closed, assigned to nobody

[2021-06-04 10:42] jbadiapa commented on #74910
Thanks for the clarification.

[2021-06-04 12:14] webmozart commented on #21088
I just stumbled across this issue - still happening with Ansible 2.10.5 :(

[2021-06-04 12:17] webmozart commented on #39733
Experiencing the same issue with Ansible 2.10.5.

[2021-06-04 12:30] mkrizek commented on #39733
Duplicate of https://github.com/ansible/ansible/issues/21088.

[2021-06-04 12:30] #39733 closed, assigned to nobody

[2021-06-04 12:49] mkrizek commented on #42561
https://github.com/ansible/ansible/pull/58062

[2021-06-04 12:50] mkrizek commented on #56042
This specific issue was fixed in https://github.com/ansible/ansible/pull/56456. There is a similar issue https://github.com/ansible/ansible/issues/42561 which states (https://github.com/ansible/ansible/issues/42561#issuecomment-405099904) the intent to extend this check to all places where variables are created. I am going to go ahead and close this issue in favor of #42561.

If you have further q

[2021-06-04 12:50] #56042 closed, assigned to nobody

[2021-06-04 13:58] mkrizek commented on #68364
Duplicate of https://github.com/ansible/ansible/issues/17806

[2021-06-04 13:58] #68364 closed, assigned to nobody

[2021-06-04 14:38] #67340 closed, assigned to nobody

[2021-06-04 14:40] #21088 closed, assigned to jimi-c, sivel

[2021-06-04 14:49] #71762 closed, assigned to nobody

[2021-06-04 15:05] s-hertel commented on #13366
This is fixed on recent versions. If you're still having an issue, please reopen with a new reproducer.

[2021-06-04 15:05] #13366 closed, assigned to nobody

[2021-06-04 15:05] nkakouros commented on #74902
I am closing this, as I found custom `lookup` plugins to solve the issues I had. I will re-open if needed.

[2021-06-04 15:05] #74902 closed, assigned to nobody

[2021-06-04 15:06] s-hertel commented on #40036
There's a `validate_certs` version in 2.11 that should fix this.

[2021-06-04 15:06] #40036 closed, assigned to nobody

[2021-06-04 15:13] s-hertel commented on #40035
This should work when executing Ansible directly and probably has to do with your AWX configuration. Please reopen in the AWX repo for more guidance.

[2021-06-04 15:13] #40035 closed, assigned to nobody

[2021-06-04 15:14] s-hertel commented on #35086
This will be fixed by #59605

[2021-06-04 15:21] s-hertel commented on #29815
This isn't a bug (and is still the case in 2.11), and is due to @sivel's comment above. \w and \d are not escape sequences in YAML, so that's why they differ.

[2021-06-04 15:21] #29815 closed, assigned to nobody

[2021-06-04 15:24] s-hertel commented on #29800
We don't plan to implement this since UID is not unique. Feel free to reach out on the mailing list or IRC to discuss further.

   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-04 15:24] #29800 closed, assigned to nobody

[2021-06-04 15:28] s-hertel commented on #29824
This seems like a problem with `svn` hanging/not handling errors properly. The `subversion` module checks the return code after checking out the repo, so the module should fail if `svn` is accurately reporting failures.

[2021-06-04 15:28] #29824 closed, assigned to nobody

[2021-06-04 15:30] s-hertel commented on #29816
Closing as per above.

[2021-06-04 15:30] #29816 closed, assigned to nobody

[2021-06-04 15:31] s-hertel commented on #29835
Fixed by https://github.com/ansible/ansible-modules-core/pull/4382

[2021-06-04 15:31] #29835 closed, assigned to nobody

[2021-06-04 15:33] s-hertel commented on #29836
Closing as per above. Please open a new issue if that doesn't resolve the problem.

[2021-06-04 15:33] #29836 closed, assigned to nobody

[2021-06-04 15:35] s-hertel commented on #29837
Fixed in 2.2.

[2021-06-04 15:35] #29837 closed, assigned to nobody

[2021-06-04 15:37] s-hertel commented on #29842
In 2.2 you can define a loop_control label: https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#limiting-loop-output-with-label

[2021-06-04 15:37] #29842 closed, assigned to nobody

[2021-06-04 15:44] s-hertel commented on #29845
Since it's failing during the middle of reporting gathered facts, we don't get valid json (so there's no easy way to add additional debug information).

[2021-06-04 15:44] #29845 closed, assigned to nobody

[2021-06-04 15:48] s-hertel commented on #29849
This is not a bug. Including a tasks file from a role doesn't use the roles search path. Instead, you should use `include_role` and the `tasks_from` to run a task file other than main.yml. Or use `../templates/file.j2` as suggested above.

[2021-06-04 15:48] #29849 closed, assigned to nobody

[2021-06-04 15:57] s-hertel commented on #29873
Closing this since OpenSUSE is EOL.

[2021-06-04 15:57] #29873 closed, assigned to nobody

[2021-06-04 16:01] bcoca commented on #29900
use Apt::mask instead, this feature 'reverses' the desired state of the task and can be very confusing to most users.

[2021-06-04 16:01] #29900 closed, assigned to nobody

[2021-06-04 19:45] #38047 closed, assigned to bcoca

[2021-06-04 21:12] tomasbackman commented on #38267
Seeing it as well.. and we are extracting several large zip files in a loop.. not so fun :/

[2021-06-05 11:12] imjoseangel commented on #73848
Hi @rightaway

I've been thinking about implementing this functionality but every time I read the issue, I cannot see how to implement it.

What do you expect if you delete a document file a spreadsheet or any other binary?

IMHO, I think Ansible should manage the deletion itself and the `diff` show the action. If you want a functionality like that, you can cat your file before deletion:

[code]

[2021-06-05 12:13] Petrox commented on #29824
Thank you for your quick response.

My process is still hanging since 2016. Should I press ctrl-c now?

Suggestion: A timeout and retry feature might help avoid situations when
the operating system and the source code repository reaches end-of-life
before ansible finishes the playbook.

On Fri, Jun 4, 2021, 17:28 Sloane Hertel ***@***.***> wrote:

[2021-06-05 12:29] felixfontein opened #74916 "implicit async_status during async does not work with `become: true`"
### Summary

I'm running a task with both `async:` and `become: true` (`become_method` is `sudo`). The implicit `async_status` always fails to retrieve the status since it cannot access the status file, which is owned by the privileged user.

This is very likely due to #74837, since now `async_status` no longer executes a module on the target, but tries to use the connection plugin to retrieve the

[2021-06-05 17:06] kpfleming commented on #74830
I've got a similar situation occurring after upgrading to ansible-core 2.11.1. Control node and managed node are both Debian Bullseye, and the `acl` package is installed on the managed node, but:

[code]

The only significant difference between this managed node and others (where 'become' works properly) is that the root filesystem on this node is mounted via NFS. I assume Ansible is putting the t

[2021-06-05 18:18] provenvelocity opened #74917 "Can not import_playbook from collection"
### Summary

When I use a collection and try to reference a playbook in the collection I get an error.

ERROR! Unable to retrieve file contents
Could not find or access '/Users/H217689/kp/ansible/provenvelocity/devops_test/molecule/default/nginxinc.nginx_core.playbooks.deploy-nginx.yml' on the Ansible Controller.
If you are using a module and expect the file to exist on the remote, see the remote_

[2021-06-05 19:52] relrod commented on #74830
NFS won't support plain `setfacl`, it would need to use `nfs4_setfacl` I believe. We currently don't support that as a fallback. Feel free to open a new *feature request* for that. We'd need to discuss it though because adding more fallbacks in that part of the code requires more round trips and can get expensive.

Since this is diverging from the original issue, I'm going to close this for now.

[2021-06-05 19:52] #74830 closed, assigned to relrod

[2021-06-06 10:34] new-sashok724 opened #74918 "Ansible fails to recursively change attributes when directory contains symlinks"
### Summary

When i try to use `file` module to unset the immutable attribute on all files in directory, Ansible gives an error if there symlinks in the directory

### Issue Type

Bug Report

### Component Name

file

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux x86_64

### Steps to Reproduce

[code]

### Expected Results

Playbook completes without erro

[2021-06-06 18:14] noctilucine opened #74919 "blockinfile: hard fail mode for insertbefore/insertafter"
### Summary

blockinfile silently does the wrong thing with insertbefore/insertafter if pattern is not matched.

### Issue Type

Feature Idea

### Component Name

blockinfile

### Additional Information

Online documentation https://docs.ansible.com/ansible/latest/collections/ansible/builtin/blockinfile_module.html as of this date (for ansible version 2.9, apparently) says, in the sections for `in

[2021-06-07 05:04] Akasurde commented on #74556
@rearn @wookietreiber Could you please check if #74797 works for you and let us know? Thanks.

[2021-06-07 13:40] Vladimir-csp opened #74921 "Inconsictency in fact naming, display, and filtering in setup module"
### Summary

`setup` module displays facts inside `ansible_facts` dict, but with `ansible_` prefix, also `filter` acts on injected variable names instead of facts, expecting `ansible_` prefix.

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian testing, FreeBSD 12

### Steps to Reproduce

[code]

### Expected

[2021-06-07 13:54] bcoca commented on #29824
2.11 has a `timeout` keyword for the task, no matter what the action is.

Suibversion itself does have a built int timeout now (defaults to 1h iirc).

[2021-06-07 14:01] sivel opened #74922 "`scp_if_ssh` configuration ignored"
### Summary

The `scp_if_ssh` configuration is ignored due to a default value for `ssh_transfer_method`

### Issue Type

Bug Report

### Component Name

lib/ansible/plugins/connection/ssh.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

N/A

### Steps to Reproduce

https://github.com/ansible/ansible/blob/26827f50393b21a87b8640387cb77ee0801155ea/lib/ansible/plugins/

[2021-06-07 15:05] bcoca commented on #74922
so I'm thinking 2 diff fixes, going forward (possibly also deprecate scp_if_ssh):

[code]
diff --git a/lib/ansible/plugins/connection/ssh.py b/lib/ansible/plugins/connection/ssh.py
index 992a71fdb9..8804fdd88c 100644
--- a/lib/ansible/plugins/connection/ssh.py
+++ b/lib/ansible/plugins/connection/ssh.py
@@ -272,7 +272,6 @@ DOCUMENTATION = '''
           - name: ansible_sftp_batch_mode

[2021-06-07 15:22] mkrizek commented on #35890
This is expected, looping on meta tasks is not supported as is documented in https://docs.ansible.com/ansible/latest/modules/meta_module.html#notes.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-07 15:22] #35890 closed, assigned to jimi-c

[2021-06-07 15:23] sivel commented on #74917
I believe the problem here is that your playbook contains a hyphen, which is not allowed in collection resources.  Collection resources must adhere to python naming requirements.

So renaming the playbook to `deploy_nginx.yml` instead of `deploy-nginx.yml` should allow you to use it, which of course requires using an underscore in your `import_playbook` too.

[2021-06-07 15:47] provenvelocity commented on #74917
That is inside the collection I'm accessing from NGINX Inc., not in my code.

It also does not work when I try any of the other test playbooks that are in my test code that are one word.

[2021-06-07 15:54] sivel commented on #74917
ansible-core 2.11 is the first version to provide the feature, so it's possible authors may have included playbooks that would not work before we actually supported them.

I have tested that properly named playbooks do work, and confirmed that we have tests that assert that they work:

https://github.com/ansible/ansible/blob/devel/test/integration/targets/collections/import_collection_pb.yml

The

[2021-06-07 16:11] provenvelocity commented on #74917
I get the same error, but now that I have the debugging I see that it finds it once the name is correct but it still gets the same error.

I will follow the debug path to see why it fails.
Also the code I outlined still has a potential recursion in it :)

new debug statement showing it it was found
0.1 AnsibleCollectionRef(collection='provenvelocity.devops_test', subdirs='', resource='main')

But

[2021-06-07 16:16] provenvelocity commented on #74917
Also, I picked the Nginx stuff at random to just give me an outside testing solution because I could not get the local repo to work with testing.

[2021-06-07 16:31] samdoran commented on #29457
This was fixed for `unarchive` in https://github.com/ansible/ansible/pull/19497 by having `unarchive` call `_execute_remote_stat()`.

The underlying issue with `_remote_checksum()` still exists. Currently that is only used by `fetch`, so updating `fetch` to call `_execute_remote_stat()` and deprecating `_remote_checksum()` entirely is the way forward here.

[2021-06-07 16:42] sivel commented on #74917
Here is an example, that shows it working as expected:

[code]

[code]

I see you are using molecule.  You should remove that from your reproducer, as it could be a bug in molecule itself, and not within ansible-core.

[2021-06-07 16:54] provenvelocity commented on #74917
I will but the pattern I'm using is to get my whole company testing their ansible code more so it is tightly tied to molecule.  The collection is located just fine if I run a role from the collection using molecule but not if I import the playbook from the collection.  All molecule is doing is running the command below which should be similar to the command you use in your testing.

ansible-playbo

[2021-06-07 17:11] provenvelocity commented on #74917
I copied the inventory and converge file from molecule and took molecule itself out and it did find the needed playbook and import it.

UGGGG LOL thanks

I have been having no luck with them responding to tickets and just closing bugs... do you know anyone on that team?

Also, there is still the recursion issue in the code FYI. The code will have a recursion if anyone ever calls is_valid_fqcr with

[2021-06-07 17:15] sivel commented on #74917
molecule is a community maintained project that we don't really have any interaction with.

[2021-06-07 17:48] sivel commented on #60308
Is this still a problem?  I believe we've updated them all to utilize `ansible.legacy` now.  In the `yum` action we now do `module = 'ansible.legacy.' + module`

[2021-06-07 18:45] bcoca commented on #60308
#71824

[2021-06-07 19:03] crossan007 opened #74929 "become_user doesn't take effect when ansible_become_user is defined in group_vars"
### Summary

Given an inventory file defining a server and a `group_vars` file defining the `ansible_become_user` for that server, an attempt to run a single task against the server with a `become_user` continues to use the user defined in `group_vars`

In other words, `become_user` on a single task does not override the `ansible_become_user` defined in a `group_vars` file.

### Issue Type

Bug Re

[2021-06-07 19:27] sivel commented on #74929
This behavior is documented under precedence rules: https://docs.ansible.com/ansible/latest/reference_appendices/general_precedence.html#precedence-categories

Task/play keywords have lower precedence to variables, since they are less specific to a host.

As such, the inventory variables, have higher precedence than your task specified `become_user`.  The workaround for your configuration as you h

[2021-06-07 19:30] #74929 closed, assigned to nobody

[2021-06-07 19:33] crossan007 commented on #74929
@sivel  Thanks for that clarification.  I missed the difference between keywords and variables 😅

[2021-06-07 20:39] Shrews commented on #74893
NOTABUGMEH

[2021-06-07 20:39] #74893 closed, assigned to Shrews

[2021-06-07 23:33] dtest commented on #74893
I'll say I spent quite a bit of time this weekend bashing my head into why my repo path didn't work. I kept getting errors saying the playbook couldn't be found, even though it was successfully checked out.

At the very least, the documentation on the `-d` option should indicate it needs to be absolute path.

[2021-06-08 06:59] Akasurde commented on #74896
PR is merged. Closing this issue. Please feel free to open a new issue if the problem persists. Thanks.

[2021-06-08 06:59] #74896 closed, assigned to samdoran

[2021-06-08 07:56] #60308 closed, assigned to nobody

[2021-06-08 12:24] Shrews commented on #74893
@dtest Agreed. I plan on updating the documentation to reflect this requirement.

[2021-06-08 13:31] akimran82 opened #74934 "Add a new key, value using Ansible consul_kv"
### Summary

I have a new key, value pair which I'd like to add to a remote consul. With the current setup, values are updated for an existing key. But new key, value pairs are not added. This is the setup I have :

`
- name: default values to consul
  include_vars:
    file: consul_values.yml
    name: default

- name: populate default values into consul
  consul_kv:
    key: "{{ item.key }}"

[2021-06-08 13:35] mkrizek commented on #74934
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!f

[2021-06-08 13:35] #74934 closed, assigned to nobody

[2021-06-08 14:18] ccecile9 opened #74935 "apply filters before hostnames"
### Summary

I'm trying to set
hostnames:
- guest.ipAddress+config.name

But i have some templates, and even tho i set
filters:
- "guest.ipAddress is defined"
I still have errors like: "dict object has no attribute ipAddress"

But when i dont try to define the hostames, my result doesn't include the templates, as they don't have an ipaddress.

### Issue Type

Feature Idea

### Component Name

vm_w

[2021-06-08 16:17] pgassmann commented on #65687
As @kustodian wrote in https://github.com/ansible/ansible/pull/65703#issuecomment-590828467

Addition: and if no checksum is configured.

My current workaround to have a clean checkmode run is to add condition to the task:
[code]

[2021-06-08 18:11] provenvelocity commented on #74917
They will be working on a fix now thanks.

May I make one suggestion that if ansible sees that its current folder struct is a galaxy collection then it loads that collection much the way you add roles folder to role path no matter what.

[2021-06-08 18:31] sivel commented on #72332
This is ultimately a duplicate of https://github.com/ansible/ansible/issues/37615

[2021-06-08 18:41] Shrews commented on #30043
Cannot reproduce this on current versions (>= 2.9). Since no reproducer example was given, going to close this. If you can reproduce the behavior with latest versions, please open a new bug and provide a simple example that recreates the bug.

[2021-06-08 18:41] #30043 closed, assigned to nobody

[2021-06-08 19:38] #73611 closed, assigned to nobody

[2021-06-08 21:54] ehudkaldor opened #74940 "ansible cannot find a role in a collection if role name contains hyphens (-)"
### Summary

I have a created a collection, and one of the role names in it contains hyphens (e.g., `role-from-collection`). when i try to run it using the FQCN, ansible complains the role is not found (despite the role being there, and other roles working correctly.

interestingly, it seem to be good with role names with hyphens, just not inside a collection. see below.

to make it technical:

[c

[2021-06-08 23:55] provenvelocity commented on #74917
Then my code would have worked… but it did not until I fixed molecule you
force it to include the current collection in the collections path…. :)

On Tue, Jun 8, 2021 at 4:12 PM Brian Coca ***@***.***> wrote:

[2021-06-09 02:51] maximmasiutin opened #74941 "Replace the term `version` to the term `revision` in the git module"
### Summary

When I first saw the `version` argument of the `ansible.builtin.git` module, I thought it was somehow the version of the git binary software, not what was meant by the `version` by the module developers.

It was not only mee who encountered this confusion. See <https://github.com/ansible-community/ansible-lint/issues/153>. For example, the ansible-lint tool always recommends specifyin

[2021-06-09 03:46] henriqueccapozzi opened #74942 "ansible-galaxy collection list doesn't show collections in adjacent path"
### Summary

When I try to execute the command `ansible-galaxy collection list` from the devel branch on Github, the command does not show collections in the adjacent path

[code]

when i execute `ansible-playbook ...` and use the collection it works fine
but `ansible-galaxy collection list ...` doesn't show the installed collection

### Issue Type

Bug Report

### Component Name

lib/ansible/cli/

[2021-06-09 03:48] henriqueccapozzi commented on #74239
Alright, initially i though it was that, but i could not see the adjacent path being reference in the `lib/ansible/cli/galaxy.py` file or in the invocation off the `ansible-galaxy collection ...` command

But running a playbook will actually look for the collection and work as you said

I oppened #74942 to address this point and will propose a PR to add the adjacent path to ansible-galaxy commands

[2021-06-09 03:49] henriqueccapozzi commented on #74942
related to #74239

[2021-06-09 05:13] flowerysong commented on #74940
This is not a bug, it is the intended (and documented) functionality. ["Role names are now limited to contain only lowercase alphanumeric characters, plus _ and start with an alpha character."](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections_structure.html#roles-directory)

[2021-06-09 05:43] ehudkaldor commented on #74940
If that is the case, then why are my local role (not from the collection) works as expected? And why does it not print a meaningful eye message instead of claiming it cannot find the role?

[2021-06-09 05:50] flowerysong commented on #74940
Non-collection roles do not follow the same rules as collection roles. They can, for instance, be named `my_na.my_collection.role-with-hypens`, so it's not possible for Ansible to guess the reason a role wasn't found; all it can do is tell you that it wasn't found.

[2021-06-09 06:00] ehudkaldor commented on #74940
Ansible does know to warm when it find hyphenated variables and know to read galaxy.yml to warm about the minimum python version, but it cannot scan the roles dir for hyphenated roles? Not for a role in trying to run. During install of the collection, or even the creation? In ansible-lint?

[2021-06-09 06:01] ehudkaldor commented on #74940
And BTW - why different rules for standalone roles and roles in collections?

[2021-06-09 09:58] psykotox opened #74944 "Failed to parse yaml inventory"
### Summary

When I try to do an inventory with the community.general.scaleway plugin, the yaml configuration file is not recognized by the plugin manager

### Issue Type

Bug Report

### Component Name

ansible/inventory/manager.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS BigSur
GNU/LInux Debian Buster

### Steps to Reproduce

Inventory file **_scaleway

[2021-06-09 10:27] AdrianDutu opened #74945 "Lineinfile to fail on non-matching regex"
### Summary

The lineinfile module is used to ensure that a line is in a file. Unfortunately, when none of the provided patterns (regexp, insertafter, insertbefore) match, the line will be appended to the end of the file. This is problematic if the context of the regexp was important.

I hope that the an option can be added to ensure that lineinfile fails hard instead of corrupting a file by appen

[2021-06-09 10:42] eoli3n opened #74946 "apt_key module with http_proxy: gpg: Note: '--keyserver-options' is not considered an option"
### Summary

When I run a ``apt_key`` task with ``http_proxy`` environment var set, I get error
[code]

### Issue Type

Bug Report

### Component Name

apt_key

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04 LTS up to date

### Steps to Reproduce

[code]
in ``/etc/environment``
[code]

### Expected Results

Working task

### Actual Results

[code]

### C

[2021-06-09 10:48] mkrizek commented on #74944
!needs_collection_redirect

[2021-06-09 11:11] maximmasiutin commented on #74941
@Ansibot, yes, this link is correct.

[2021-06-09 11:39] mkrizek commented on #74944
Duplicate of https://github.com/ansible/ansible/issues/74225.
Fixed in https://github.com/ansible/ansible/pull/74267.

The fix is in the `2.11.1` release.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-09 11:39] #74944 closed, assigned to nobody

[2021-06-09 11:48] sergey221 opened #74947 "show diff when copy all files recursively"
### Summary

When running in diff mode, I want to see the diff when copy all files recursively. That allows me to see changes in copying files

### Issue Type

Bug Report

### Component Name

ansible.builtin.copy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

N/A

### Steps to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]

### Code of C

[2021-06-09 11:50] andrew-pickin-epi opened #74948 "Amazon Linux package deployment not supported."
### Summary

Amazon Linux used rpm-style package management.

yum and package modules require Python 2. Python 2 is EoL and unsupported.

dnf module is required by Ansible/Python 3.

dnf is not supported on Amazon Linux.

Hence there is no supported route to deploy OS packages on Amazon Linux.

### Issue Type

Bug Report

### Component Name

dnf, yum, package

### Ansible Version

[code]

### Conf

[2021-06-09 12:07] psykotox commented on #74944
Same problem with `2.11.1`:
[code]

I think the problem is not related to the PR #74267

[2021-06-09 12:10] Akasurde commented on #68241
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix

Migrated this issue in the above repository - https://github.com/ansible-collections/ansible.posix/issues/204.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.fre

[2021-06-09 12:10] #68241 closed, assigned to bcoca

[2021-06-09 12:36] mkrizek commented on #74944
No, it is not the same problem.

First error was:
[code]

Now it is:
[code]

which appears to come from `ansible_collections/community/general/plugins/inventory/scaleway.py` file, this seems to be an issue in the `scaleway` inventory plugin itself.

[2021-06-09 12:52] psykotox commented on #74944
Ok, indeed, I will open an issue in the https://github.com/ansible-collections/community.general repo

[2021-06-09 12:54] mkrizek commented on #74948
Duplicate of https://github.com/ansible/ansible/issues/62722?

[2021-06-09 13:29] eoli3n commented on #74946
Problem is arguments order, last need to be the recv key:
[code]

[2021-06-09 13:49] Shrews commented on #74893
PR to update help info: https://github.com/ansible/ansible/pull/74936

[2021-06-09 14:01] sivel commented on #74940
Collection resources must adhere to python naming conventions, because we use the Python import mechanism to implement collection resource loading.

[2021-06-09 14:13] sivel commented on #74948
This is not a limitation of Ansible, but a limitation of AmazonLinux 2, and the package manager it uses.  Regardless of Python 2 officially being end of life, the creators of AmazonLinux 2 utilize Python 2.7 as the system Python, and utilize `yum` which has a dependency on Python 2.

Because `yum` has a dependency on Python 2, and we use the yum/rpm Python bindings, the module inherits this depend

[2021-06-09 14:13] #74948 closed, assigned to nobody

[2021-06-09 15:38] gred7 opened #74951 "vmware_vm_inventory is still too slow in 2.9.22"
### Summary

$ time ansible-inventory -vvvv --graph -i vmware.yaml
ansible-inventory 2.9.22
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/greg/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.8/site-packages/ansible
  executable location = /usr/local/bin/ansible-inventory
  python version

[2021-06-09 15:41] gred7 commented on #74951
i.e it takes 11 minutes to load some 200 machines. which I think is too slow

[2021-06-09 15:43] bcoca commented on #74917
I use this to develop/maintain collections, but we also have many
tests for it in CI , like the following one
https://github.com/ansible/ansible/blob/devel/test/integration/targets/collections/posix.yml#L14

--
----------
Brian Coca

[2021-06-09 15:46] bcoca commented on #74239
Yes, see `--playbook-dir` for adhoc/console and others that don't use a playbook, 'adjacent' needs something to be adjacent to. Since ansible-galaxy does not use a playbook, there is nothing to be adjacent to.

[2021-06-09 15:49] bcoca commented on #74942
Adjacent needs something to be 'adjacent to', this is basically a feature request for ``--playbook-dir`` option as other 'non playbook using CLI tools' have added.

[2021-06-09 15:50] mkrizek commented on #74951
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2021-06-09 15:55] #74951 closed, assigned to nobody

[2021-06-09 15:59] bcoca commented on #74940
While 'normal' roles use a custom directory parser/finder instead, so it is not subject to the Python's importer restrictions

[2021-06-09 16:08] sivel commented on #74942
This may be as simple as:

[code]

[2021-06-09 16:24] bcoca commented on #74942
you also need to add the option to the args parser, but yes, basically this would be the change

[2021-06-09 20:15] jorhett opened #74955 "unarchive hangs Ansible when trying to calculate a diff of a zip file"
### Summary

This hangs on every platform I've tested it on

[code]

Output:

[code]

That CTRL-C was HOURS later fyi. Nothing is running inside the docker container, and the `rm` command finished. This is a logic problem for determining the diff result, which isn't relevant for this usage (new directory).

Besides fixing the bug can we disable the diff?

### Issue Type

Bug Report

### Component

[2021-06-09 20:46] sivel commented on #74794
We still don't seem to have enough information here for us to do anything with.  We're missing a minimal reproducer that actually allows us to see this behavior.

I'll leave this open for a little while longer, but without any actionable information, there isn't anything we can do with this issue.

needs_info

[2021-06-09 20:48] ipv6freely commented on #74909
I got the same error while using  `junipernetworks.junos.junos_facts` using both Ansible 2.9 and 2.10. Ended up going back to using `connection: local` using `juniper_junos_*` the way I'd been doing for ages.

What was the resolution for this issue that caused it to be closed?

[2021-06-09 21:26] sivel commented on #73795
We've talked this over, and this actually by design.  `any_errors_fatal` is probably better described as `any_tasks_in_failed_state_fatal`.

Unreachable is a special case, and is not treated as a task failure.  This is consistent with the behavior of `block/rescue`:

To make an unreachable task trigger a task failure, would require something like:

[code]

If you have further questions please stop

[2021-06-09 21:26] #73795 closed, assigned to nobody

[2021-06-09 22:12] rsguhr commented on #73795
Hi @sivel,
thanks for your reply. I think my report was not fully understood :)
I talked about the **combination** of `serial: 1` and `any_errors_fatal`

Using `any_errors_fatal: true` **changes** the behavior how ansible handles unreachable hosts in batch mode (`serial:`).

[code]
-> If host is not reachable or a task failed then the batch and play is stopped

[code]
-> If a task failed then the

[2021-06-10 04:29] Akasurde commented on #74909
@ipv6freely `junipernetworks.junos.junos_facts` and all other modules related to `juniper_junos_*` moved to https://github.com/ansible-collections/junipernetworks.junos. You might want to follow https://github.com/ansible-collections/junipernetworks.junos/issues/194 issue for more details.

[2021-06-10 04:38] Akasurde commented on #74955
@jorhett Thanks for reporting this. I am not able to reproduce this -

[code]

[code]

[2021-06-10 05:00] Akasurde commented on #74946
resolved_by_pr #74949

[2021-06-10 06:00] jn-bedag opened #74957 "local_action not compatible with some usernames"
### Summary

If your user is in format "domain\rXXXX" then the local_action module is not working properly.
I assume it's because of the \r escape characer.

### Issue Type

Bug Report

### Component Name

local_action

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

 Debian

### Steps to Reproduce

In some scenarios we have usernames in this format:
[code]
When execu

[2021-06-10 10:01] romilgupta28 opened #74958 "win_firewall_rule does not have any tag to implement "-RemoteAddress LocalSubnet""
### Summary

win_firewall_rule does not have any tag to implement "-RemoteAddress LocalSubnet"

### Issue Type

Feature Idea

### Component Name

win_firewall_rule

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-06-10 10:01] romilgupta28 commented on #74958
Please advise

[2021-06-10 10:02] romilgupta28 commented on #74958
Need to implement alternative script of below in Ansible

Sample Powershell script:
New-NetFirewallRule -DisplayName "Allow SSIS Service" -Direction Inbound -Program "C:\Program Files\Microsoft SQL Server\{{ sql_native_compatibility_level }}\DTS\Binn\MsDtsSrvr.exe" -RemoteAddress LocalSubnet -Action Allow

[2021-06-10 10:07] #74958 closed, assigned to nobody

[2021-06-10 11:15] mkrizek commented on #38663
This is expected.

Simpler reproducer:
[code]

Since the task is delegated, the `msg` variable will be included in `ansible_delegated_vars` and so accessing `msg` will result in an infinite recursion.

Duplicate of https://github.com/ansible/ansible/issues/58952.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups

[2021-06-10 11:15] #38663 closed, assigned to nobody

[2021-06-10 14:02] bcoca commented on #74957
After update in  #72543 (2.10.4) it should not be using remote_user at all, since 'local' connection does not allow configuration of such and always uses 'user currently running ansible'.

[2021-06-10 14:41] rightaway commented on #73848
@imjoseangel That looks like lot of boilerplate especially if you're removing lots of files. If you can detect whether it's a binary file then just print a message saying that the "diff not available because binary file". And if it's any kind of text file then it should show the diff.

Since diffs are shown on additions or changes, I think it should show removals to be consistent. How does the dif

[2021-06-10 14:59] ipv6freely commented on #74909
@Akasurde Got it, so the issue was opened under the specific collection rather ansible itself? Makes sense!

[2021-06-10 15:30] konstruktoid opened #74961 "Jinja version 3 changes conditional check"
### Summary

When using Jinja2 version = 3.0.1 `item.mode|int > 0400` fails, but works with Jinja2 version = 2.10.1.
E.g:
[code]

[code]

Playbook and steps available at https://gist.github.com/konstruktoid/66b3d56cd25e9538af52c65b5918a189

### Issue Type

Bug Report

### Component Name

jinja2

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.2 LTS

### S

[2021-06-10 16:12] jquest07 opened #74962 "yum module on RHEL7 fills up disk with large yum cache after a repo with repo_gpgcheck=1 is added"
### Summary

When a yum repo is added with `repo_gpgcheck=1` enabled and then the yum ansible module is used to install a package from the repo, `yum makecache` is run by the yum module causing the root disk to fill up.

The ansible module code that is involved is in lib/ansible/modules/packaging/os/yum.py:
[code]

When searching for a solution to the problem, a Red Hat doc related to RHEL 5/6/7 g

[2021-06-10 16:37] mkrizek commented on #74961
Minimal reproducer in an Ansible playbook:
[code]

Reproducer in Jinja 3.1:
[code]

In Jinja 2.10:
[code]

As per above,  this should be checked with Jinja maintainers to see if this is expected behavior.

[2021-06-10 16:48] mkrizek commented on #74961
FYI this is intended change, see https://github.com/pallets/jinja/pull/1171

[2021-06-10 17:32] konstruktoid commented on #74961
Thanks @mkrizek, I wasn't able to find any related PR earlier. It failed since the integer can't start with a `0`, https://github.com/pallets/jinja/pull/1171/files#diff-9a568f5cb647498ce5a1c35dab59226f969d0f287a5d7ffb393c617e2f64d587R35

This works:
[code]

[2021-06-10 17:32] #74961 closed, assigned to nobody

[2021-06-10 19:07] #57378 closed, assigned to nobody

[2021-06-10 19:20] nitzmahone commented on #74919
We've discussed internally, and feel like this is a corner-enough case that it's probably better handled by just making the `blockinfile` task conditional on a previous successful `find` task that ensures the file is in the shape you want. Adding new modes or args to the module to support that behavior is probably not worth the added complexity for the general case. Since there's a decent workarou

[2021-06-10 19:20] #74919 closed, assigned to nobody

[2021-06-10 19:20] #74921 closed, assigned to nobody

[2021-06-10 19:30] jborean93 commented on #74935
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2021-06-10 19:35] jborean93 commented on #74940
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  As per all the reasons listed above.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our two mailing lists
to t

[2021-06-10 19:35] #74940 closed, assigned to nobody

[2021-06-10 19:39] #74935 closed, assigned to nobody

[2021-06-10 19:43] jborean93 commented on #74945
Could this something you can use the [replace](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/replace_module.html) module for? The `lineinfile` module is to ensure the line specified is in the file.

[2021-06-10 19:47] #74946 closed, assigned to nobody

[2021-06-10 19:51] jborean93 commented on #74955
Does the same behaviour occur outside of molecule?

[2021-06-10 20:01] AdrianDutu commented on #74945
No, my use case is after several steps and a vm provisioning, I'm updating my inventory so then some other steps can be performed on that vm.
The hosts file contain groups. So line in file is perfect to add the hostname after the group name line. So I don't have anything to replace, just add. But it the group is not existing, it will add the hostname at the end of the file and corrupting the file

[2021-06-10 20:22] #74922 closed, assigned to nobody

[2021-06-11 05:36] jn-bedag commented on #74957
That's also what we experience. Although I think it's the backslash '\r', which is probably interpreted as new line.
Output from python:
[code]
And when formatting like in lib/ansible/plugins/connection/local.py:
[code]
(sorry, I'm not fully into python and the code. Just making some suggestions)

[2021-06-11 08:12] #74417 closed, assigned to samdoran

[2021-06-11 08:34] Poil opened #74969 "Dynamic script inventory is read not executed"
### Summary

When I try to use a dynamic script inventory (that generate a json file) with Ansible 2.10.10, it is taken as an inventory not a script

Best regards

### Issue Type

Bug Report

### Component Name

inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal

pyenv + virt

[2021-06-11 08:54] #74969 closed, assigned to nobody

[2021-06-11 08:57] Poil commented on #74969
it looks like it come from python

[2021-06-11 09:55] vbotka opened #74970 "ansible.builtin.include_vars does not work with registered result"
### Summary

*include_vars* does not expand nested variables when the result of the module is registered
(For the record: Origin bug #71818 fixed by #71824)

### Issue Type

Bug Report

### Component Name

ansible.builtin.include_vars

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

Give n the file

[code]
the block below

[code]

[2021-06-11 11:02] mkrizek commented on #74970
This has been fixed recently in #73161.

Duplicate of https://github.com/ansible/ansible/issues/21088.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-11 11:02] #74970 closed, assigned to nobody

[2021-06-11 11:35] rbq commented on #34454
I think the usual approach for YAML-based formats is using nesting objects for and/or conditions, e.g:

[code]

[2021-06-11 11:59] jeee opened #74971 "be able to specify merging for a variable"
### Summary

Ever since DEFAULT_HASH_BEHAVIOUR disappeared configuration files become ugly and long. Please consider a way so you can set a variable(tree) to be merged instead of overwritten.

### Issue Type

Feature Idea

### Component Name

inventory

### Additional Information

n/a

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-06-11 11:59] imjoseangel commented on #73848
@rightaway thanks for your comments. Agree. Let me have a look to a possible solution.

[2021-06-11 12:18] mkrizek commented on #74971
The functionality has not disappeared, see https://github.com/ansible/ansible/pull/73328.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-11 12:18] #74971 closed, assigned to nobody

[2021-06-11 12:33] rearn commented on #74556
@Akasurde
I confirmed that it was working.
Thanks.

[2021-06-11 12:38] Akasurde commented on #74556
@rearn Thanks for confirming this. I close this as resolved.

[2021-06-11 12:38] #74556 closed, assigned to eqrx

[2021-06-11 13:29] bcoca commented on #74957
unsure on how to proceed, can you give me the output of the following as that same user?
`python -c 'import os; print(os.getlogin())'`

[2021-06-11 13:38] PeterNerlich opened #74974 "Generate word-based passwords"
### Summary

<details><summary>For the <i>Why</i> of word based passwords, allow me to refer to <a href="https://xkcd.com/936/" target="_blank">xkcd 936</a>:</summary>
<img src="https://imgs.xkcd.com/comics/password_strength.png">
</details>

I think this might be a useful extension of the [password lookup plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/password.py

[2021-06-11 13:46] jn-bedag commented on #74957
[code]
(actually it's DOMAIN-LOCAL\r12345, but I don't think this is the problem)

[2021-06-11 14:05] bcoca commented on #74957
trying to find a way not to mangle 'home', what is your home dir?

[2021-06-11 14:08] jn-bedag commented on #74957
[code]

[2021-06-11 14:22] #17587 closed, assigned to nobody

[2021-06-11 14:23] #36498 closed, assigned to nobody

[2021-06-11 14:24] samdoran commented on #74417
Thank you for following up. Please open a new issue if you come up with a simple reproducer.

[2021-06-11 14:42] bcoca commented on #74957
I think we figured out what is causing the problem, can you test this patch?
[code]

[2021-06-11 15:00] samdoran commented on #74945
The purpose of `lineinfile` is to ensure a line exists in a file. Adding a toggle to change that behavior (`do_not_insert_line_if_regexp_does_not_mach=True`) would unnecessarily complicate the module and negate its primary purpose.

The best solution is to use `find` and check the file before running the `lineinfile` task.

[code]

Note that `find` by default matches regular expressions against th

[2021-06-11 15:00] #74945 closed, assigned to nobody

[2021-06-11 15:06] s-hertel commented on #29898
We're open to accepting this feature, but don't plan on implementing it ourselves. If you're interested in this feature, please open a pull request. Feel free to reach out on IRC or the mailing list to discuss further.

[2021-06-11 15:06] #29898 closed, assigned to nobody

[2021-06-11 15:10] s-hertel commented on #29899
This doesn't appear to be a bug in Ansible. We'd like to direct questions like these to the mailing list.

   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-11 15:10] #29899 closed, assigned to nobody

[2021-06-11 15:15] s-hertel commented on #29914
Closing as per https://github.com/ansible/ansible/issues/29914#issuecomment-328720186.

We discussed this in triage today and don't plan on implementing this. Using the `rc` conditional isn't a bad hack and we could add it to the module examples. We should probably document the RETURN information for these modules Or you can use a separate `stat` task as mentioned.

[2021-06-11 15:15] #29914 closed, assigned to nobody

[2021-06-11 15:16] s-hertel commented on #29919
In 2.8 you should be able to do this with the `non_unique` option.

[2021-06-11 15:16] #29919 closed, assigned to nobody

[2021-06-11 15:21] s-hertel commented on #29924
This isn't an Ansible issue because we don't pass SSH forwarding in the ssh connection plugin. You need to set this in your SSH config, such as via ssh_common_args. Feel free to reach out on the mailing list if you have questions.

  * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-11 15:21] #29924 closed, assigned to nobody

[2021-06-11 15:25] s-hertel commented on #29966
We'd accept this feature but don't have plans to implement it ourselves. If you're interested in this issue, please open a pull request.

[2021-06-11 15:25] #29966 closed, assigned to nobody

[2021-06-11 15:27] s-hertel commented on #29967
We'd accept this feature but have no plans to implement it ourselves. Please open a pull request if you're interested in this issue.

[2021-06-11 15:27] #29967 closed, assigned to nobody

[2021-06-11 15:29] s-hertel commented on #29968
We'd accept a patch for this but don't plan implementing it ourselves. Please open a pull request if you're running into this issue.

[2021-06-11 15:29] #29968 closed, assigned to nobody

[2021-06-11 15:31] s-hertel commented on #29988
This has been fixed in recent versions. Please open a new issue with reproducer if you're still running into this.

[2021-06-11 15:31] #29988 closed, assigned to nobody

[2021-06-11 15:32] s-hertel commented on #29990
This has been fixed on recent versions. Please open a new issue with reproducer if you're running into this.

[2021-06-11 15:32] #29990 closed, assigned to nobody

[2021-06-11 15:35] s-hertel commented on #29993
It looks like this is due to the svn externals. There's been a note added to the documentation that this isn't supported: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/subversion_module.html#notes

[2021-06-11 15:35] #29993 closed, assigned to nobody

[2021-06-11 15:36] samdoran commented on #29993
The documentation was added in https://github.com/ansible/ansible-modules-core/pull/2516.

[2021-06-11 15:44] s-hertel commented on #29992
We've discussed this in triage today and think adding this behavior would overload the module. You should use the file module.

Feel free to reach out on IRC or the mailing list to discuss further:

  * irc.libera.chat <https://libera.chat/>
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-06-11 15:44] #29992 closed, assigned to nobody

[2021-06-11 15:47] s-hertel commented on #30032
It looks like this was fixed in https://github.com/ansible/ansible/pull/19383.

[2021-06-11 15:47] #30032 closed, assigned to nobody

[2021-06-11 15:54] s-hertel commented on #30035
This is working as intended as the `user` module isn't intended to only generate SSH keys. You want to use the [openssh_keypair](https://github.com/ansible-collections/community.crypto) instead.

[2021-06-11 15:54] #30035 closed, assigned to nobody

[2021-06-11 15:55] s-hertel commented on #30050
This is fixed in recent versions. Please open a new issue with reproducer if you run into this again.

[2021-06-11 15:55] #30050 closed, assigned to nobody

[2021-06-11 16:02] s-hertel commented on #30051
This is something we'll consider when redesigning facts. We don't have current plans to work on this.

[2021-06-11 16:02] #30051 closed, assigned to nobody

[2021-06-11 17:06] geerlingguy opened #74979 "Allow collections to depend on roles"
### Summary

I finally started moving some of my traditional Galaxy Roles to Collections... and already some users are noticing that the roles I include in my Collections, when they depend on someone else's role on Galaxy that's not yet been migrated to a Collection (and may never be depending on how willing the role author is to migrate it if and when migration is even possible...), are not able

[2021-06-11 17:07] geerlingguy commented on #74979
I should note the inverse of this issue was closed as 'won't fix' earlier this year. But this particular issue is more about making it possible to support _existing_ use cases while allowing role maintainers to migrate to Collections without upsetting the entire world of role-based Ansible usage using the deep pool of good community roles already available on Ansible Galaxy (many of which will eit