[2018-03-10 16:41] nickrusso42518 commented on #31575
Retesting with version 2.4.3 which appears to be the most recent stable release. This version still did not work.

[code]

Playbook shown again.

[code]

Playbook execution is below. Still looks the same.

[code]

[2018-03-10 16:42] nickrusso42518 commented on #31575
@rcarrillocruz You'll see 3 separate comments above, testing versions:
  * 2.6.0 (latest devel)
  * 2.5.0rc2 (the milestone version associated with this bug report)
  * 2.4.3 (the latest stable release)
They all delivered the same negative result. Please let me know if you are seeing something different in your development environment and I'm happy to retest.

[2018-03-10 17:13] kbreit commented on #37267
Did this ever work and recently broke? Also, which version of Boto are you running?

[2018-03-10 17:49] rcarrillocruz commented on #31575
Hey @nickrusso42518

Thanks for the test and detailed response, I'll take a look this week.

[2018-03-10 17:49] drzraf commented on #10374
same issue, same use case:
Passing the (resolved) path of a file/template from a role's meta/ up to another dependency (which would be charged to install/manage it).

[2018-03-10 18:44] spatten commented on #37267
I just tried it for the first time, so I don't know if it ever worked or not.

I have boto, boto3 and botocore all installed via pip.

[code]

[2018-03-10 18:47] spatten commented on #37267
Also, I'm working under the assumption that I'm doing something wrong or weird and it works for everyone else. Ask away if there's anything else about my config that could cause this.

Other AWS modules like `ec2` or `aws_s3` or `ec2_group` all work for me, so I'm pretty sure that it's not my AWS credentials.

[2018-03-10 19:25] sjentzsch commented on #37220
@Akasurde This patch applies directly to Ansible to the digital_ocean_tag cloud-module, however, I do not even run Ansible here, just the digital_ocean.py (dynamic) inventory script.

Debugging further, I found an issue, and this should also be reproducable for others too:

If a digital_ocean tag contains a dash ('-'), the error I reported pops up.
I added the following few lines above
[code]
...

[2018-03-10 21:57] NielsH commented on #12086
+1 for forks as well, however in the meantime there's also a new Ansible strategy plugin that gives a big performance increase in general, and also for `with_items` loops. Perhaps for those wanting forks for performance reasons it's worth looking at:

https://github.com/dw/mitogen
https://mitogen.readthedocs.io/en/latest/ansible.html

[2018-03-10 22:02] kbreit commented on #37267
I haven’t contributed to the EC2 modules at all so I can’t identify the issue without digging into it. But I’m going to try to reproduce it in the next few days. I’ve used the target group modules in playbooks without problem, but it’s possible it’s a combination of parameters you’re specifying. I also need to check my Boto version.

[2018-03-10 23:05] grimreaper opened #37271 "gather_facts mountpoints are not gathered correctly"
#### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gather_facts
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
FreeBSD

##### SUMMARY
mountpoints are not gathered correctly

##### STEPS TO REPRODUCE
1. Mount a filesystem not listed in /etc/fstab
2. List the output of ansible_mounts

[code]

##### EXPECTED RESULTS

- See all and only mounted filesysems

##### ACT

[2018-03-10 23:05] grimreaper commented on #37271
As far as I could tell https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/hardware/freebsd.py#L118 is the relevent code.

[2018-03-11 00:06] spatten commented on #37267
Thanks very much :)

[2018-03-11 02:21] kbreit commented on #37267
I tested on my system and it indeed works. I’m on Ansible 2.4.2 and boto3 1.6.6 but the versions are close. I’m going to look into it more this week, but I’ll probably have to defer to the maintainers of the module.

[2018-03-11 04:08] miramar-labs commented on #24887
same problem - 'datastore' is being ignored...
tested: latest code from git

[2018-03-11 05:14] spatten commented on #37267
I just did a test with the exact same playbook on an Ubuntu 14.04 instance in AWS and it worked without any problems. So it's looking like something wrong with my setup on OS X.

On Ubuntu 14.04 instance, the config is:

[code]

[code]

returns nothing, and the boto versions are

[code]

I changed my boto3 and botocore versions on my OS X system to match those, but still got the same errors.

I do

[2018-03-11 08:11] gundalow commented on #32405
This should be fixed in 2.5.0 could you please retest to confirm?

[2018-03-11 09:35] Sec42 commented on #27331
This is an workaround, but it leaves a race condition which I'm not too fond of. Would be nice if this could be done properly.

[2018-03-11 10:23] kbreit commented on #37267
I have a Mac so I will try later

[2018-03-11 11:29] isaacegglestone commented on #12086
I can’t see how this will improve with_items loops exactly. This plugin
improves performance issues caused by using ssh as a connection method.
Especially over long distances and latent networks and with large numbers
of servers.

This doesn’t help with AWS or Azure cloud functions  where the executation
happens on the ansible controller and just executes on a set of items in
 that cloud system an

[2018-03-11 12:28] NielsH commented on #12086
Indeed, it won't help in all cases. However the reason I'm looking for forks in with_items is because of the slowness with processing each item individually (even with pipelining). Sometimes I have to create a large number (several hundred) of directories based on host_vars, or template a few hundred files. So I'm looping over the `file` and `template` module mostly.

I once tested templating 100

[2018-03-11 14:09] pipoe2h opened #37277 "[parted] module fails when label=sun"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/home/ubuntu/dc-networkautomation/stack/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/home/ubuntu/dc-networkautomation/stack/ansible.cfg) = [u'/home/ubuntu/dc-networkautomation/stack/inventory']
DEFAULT_REMOTE_USER(/home/ubuntu/dc-networkautomation/stack/ansible.cfg) =

[2018-03-11 15:27] keltik85 commented on #23144
Same problem here.

[2018-03-11 18:20] AndiDog commented on #35498
Indeed the implementation from my version of Ansible has already changed. I'm still trying to figure out a minimal example to show the issue (or will close if `devel` fixes my problems).

[2018-03-11 20:19] spatten commented on #37267
I think I've figured out the problem.

I guessed that this might be something to do with environment variables, so I tried starting a new shell with no environment variables set, and then set `AWS_ACCESS_KEY` and `AWS_SECRET_ACCESS_KEY`. The playbook worked.

[code]

It worked.

So, then it was just a case of poking through my environment variables and finding the one that broke things. It turned

[2018-03-11 21:34] kbreit commented on #37267
Not necessarily. I don't know the AWS API enough to know how region and EC2 URL compliment each other, but it appears these are not mutually exclusive.

https://github.com/ansible/ansible/blob/1f888d9f51bb87cb5442ca40134460e033c55513/lib/ansible/module_utils/ec2.py#L171

It sets `ec2_url` parameter on line 171 and then does a check for it on line 179. If you specify `region`, that isn't checked so

[2018-03-11 23:29] aarnone opened #37281 "ASG rolling update ignores lifecycle hooks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When replacing instances, ASG lifecycle hooks are ignored.
The consequence is that it moves on to the next replacement before the hooks are completed.
It's more evident when the lifecycle hooks take a significant time to complete.

##### STEPS T

[2018-03-12 00:03] agrimal commented on #32437
I confirm this annoying bug.
Running ansible 2.4.3.

https://github.com/ansible/ansible/blob/a50db37c6c36c4d43e4767424c80e3a4d3e2704b/lib/ansible/modules/cloud/lxd/lxd_container.py#L473

Not really clean and not tested but could change :
[code]

by :
[code]

[2018-03-12 00:06] juju4 commented on #31576
It seems answer is a no.
Still failing on 2.5.0rc2
https://ci.appveyor.com/project/juju4/ansible-win-firewall/build/0.1.x.10/job/hjsgop5ojmmsoh0f#L1189

[2018-03-12 02:06] yuwzho commented on #31791
#36109 #29881 #28862 #27692 #27440 #17936

[2018-03-12 02:07] conn commented on #36725
I am also affected by this issue. Ansible version  2.4.3.0 and Python version 2.7.13.

[2018-03-12 02:07] MiLk commented on #20332
It seems this issue is now tracked by https://github.com/ansible/ansible/issues/31022

[2018-03-12 02:49] conn commented on #36725
Here's temporary workaround for truncating files:
`install -o <owner> -g <group> -m <mode> /dev/null <path to file>`

This got my builds working again.

[2018-03-12 06:05] MikeiLL opened #37286 ""Unknown column 'password' in 'field list'")"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`Module -> Database -> Mysql -> mysql_user.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX 10.12.6 Sierra

##### SUMMARY
When Ansible tries to create the root user accounts, it runs the `server_version_check`, which is returning `False` even though the version of MariaDB is `10.2.13-mariadb-10.2.13+m

[2018-03-12 07:33] bmv126 commented on #36886
Can we use any filter, with which we can get the same order of the json.

[2018-03-12 08:16] tolland commented on #37286
That's odd, I've got a couple of boxes with Ubuntu 16.04, and MariaDB 10.2.13, and they have a Password column in their `mysql.user` table.

[code]

A couple of ideas are.

1) Did you install mariaDB over the top of an existing MySQL 5.7?
2) What about any MySQL security hardening profiles that might have dropped the column...

[2018-03-12 08:50] gundalow opened #37292 "Network docs: ANSIBLE_EOS_USE_SESSIONS"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
`ANSIBLE_EOS_USE_SESSIONS` is used to enable/disable config sessions
if it is enabled, a config sessions is created and pushed configuration is applied in candidate db
after issuing `commit` command the candidate config  applied in running db

[code]

* This ex

[2018-03-12 09:01] W73 commented on #37073
Sorry for bothering you, i will double check it.

[2018-03-12 10:03] W73 commented on #37073
Unfortunatelly, i have same error, although i use same source /etc/pam.d/sshd from EL7 and same pamd.yml task .

I set export ANSIBLE_KEEP_REMOTE_FILES=1, and downloaded pamd.py from destination server EL6.

[pamd.py.gz](https://github.com/ansible/ansible/files/1802206/pamd.py.gz)

When i run it manually
[code]

How can i debug this ValueError, please ?

I tried -m pdb and press n for each line
[c

[2018-03-12 10:08] hryamzik commented on #12170
@zwindler you can use tasks instead of handlers. I actually use rolling restarts with API checks. Implemented with `include_task, works as expected. You can even try `include_task` directly in handlers but I've no idea if that works or not.

[2018-03-12 10:12] Akasurde commented on #36915
@resyst-it Thanks for reporting this issue. Do you want to get VM related to particular tag or add tag to VM ?

needs_info

[2018-03-12 10:14] sppwf commented on #33414
Hi @fredtesche ,

Can you point me to proper Ansible's REST modules that will work with HP/Aruba REST AP?

Thanks
Sergiu

[2018-03-12 10:16] W73 commented on #37073
I try to run downloaded pamd.py file on my Fedora 28 with python2 and it worked.
I will try to manually test it on another CentOS6/RHEL 6 servers which we use.

[2018-03-12 10:18] hryamzik commented on #34329
ready_for_review

[2018-03-12 10:25] zwindler commented on #12170
Not really sure I understand what you suggest.
- Do you mean you use ```include_task``` to restart the services, and only do so with a ```when:``` clause to check whether or not a restart has to occur on this node ?
- How can you assure that only one node has his services restarted at a time (that's the whole issue here) ? Do you mean you can add ```serial``` with ```include_task``` ?

[2018-03-12 10:29] Kanshiroron commented on #37238
Hello @sivel
This is definitively strange as I was able to reproduce this issue right away in a new Docker container.
I checked my `debian:stretch-slim` image and it's up to date:
[code]
I launched the container with as follow (no special option):
[code]
Once inside the container here are the list of commands that I do:
[code]

You can find here stds' outputs: [docker-container.log](https://github

[2018-03-12 10:30] tomatoosss opened #37294 "iosxr facts - incompatible show version command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- iosxr_facts.py
- iosxr.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

show command for gathering facts in IOS-XR are wrong set:
ios-xr will report a error receiving "show version brief"
correct command should be "show version"

Following packages should be corrected:
/usr/local/lib/py

[2018-03-12 10:33] hryamzik commented on #12170
[code]

in this case `serial=1` is simulated for all the tasks inside `install_configure.yml`.

[2018-03-12 10:43] W73 commented on #37073
So same file which was downloaded from EL6 works on
F28: python 2.7.14 and Python 3.6.4
CentOS7: Python 2.7.5
but not on
RHEL6: Python 2.6.6

Could be problem with some python module or dependency ?

[2018-03-12 11:03] johnoloughlin opened #37296 "The easy_install module is failing when trying to install pip in a Suse OS"
##### ISSUE TYPE
The easy_install module is failing when trying to install pip in a Suse OS

[code]
##### COMPONENT NAME
lib/ansible/modules/packaging/language/easy_install.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Suse
Linux suse 4.12.14-lp150.4-default #1 SMP Fri Jan 19 07:52:07 UTC 2018 (f2b9298) x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
The easy_install module is failing wh

[2018-03-12 11:05] slanglois commented on #14950
FWIW: `always_run` has been deprecated in Ansible 2.2 -- see http://docs.ansible.com/ansible/latest/playbooks_checkmode.html

The modern equivalent is now: `check_mode: no`

[2018-03-12 11:16] gdpak commented on #37294
@tomatoosss Can you please paste "show version" from your iOS-xr device ? I noticed similar  problem with IOS_XR box image but I am not sure if it is common across hardware or with official ios-xrv /latest software release?

[2018-03-12 12:19] tomatoosss commented on #37294
@gdpak, in the example above is this a virtual instance (IOS-XRv9k):

RP/0/RP0/CPU0:ios#show version
Mon Mar  5 02:02:34.622 UTC

Cisco IOS XR Software, Version 6.2.3
Copyright (c) 2013-2017 by Cisco Systems, Inc.

Build Information:
 Built By     : ahoang
 Built On     : Thu Dec 21 19:30:35 PST 2017
 Build Host   : iox-lnx-053
 Workspace    : /auto/srcarchive11/production/6.2.3/xrv9k/workspace
 V

[2018-03-12 12:57] Akasurde commented on #37007
Content Library is new feature and is not supported by pyvmomi library. I am investigating in REST API calls (vsphere Automation SDK) where 'CL' is supported.

[2018-03-12 13:49] karniemi commented on #23675
or another workaround:
```when: "myvar|d()|json_query('my.precious.sub.field')"```

Explanation: pass variable "myvar" through the default()-filter "d()" to ignore missing variable, then pass on to json_query to pick the sub-sub-field "my.precious.sub.field". So this also avoids testing the existence of each intermediate sub-fields individually.

[2018-03-12 14:07] murrahjm commented on #24887
Same issue here, tested against 2.6 development branch.

[2018-03-12 14:41] bcoca commented on #12086
since loops just execute the same task a time per item, any improvement in task execution speed should translate into faster loops. This happens only to affect 'remote tasks' so anything local will not see the gains.

[2018-03-12 14:43] AuroraLi opened #37302 "ERROR! conflicting action statements: name, set_fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_KEEP_REMOTE_FILES(env: ANSIBLE_KEEP_REMOTE_FILES) = True
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/

[2018-03-12 14:46] beenje opened #37303 "add support for a dconf module on systems without dbus-run-session (like CentOS 7)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dconf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
I was very happy to find the dconf module but it doesn't work on CentOS 7.
It requires the dbus-run-session binary that comes with dbus >= 1.8
CentOS 7 comes with dbus 1.6.

I saw in the original pull request https://github.com/ansible

[2018-03-12 14:46] Akasurde commented on #24887
@miramar-labs @murrahjm The feature is not yet merged due to pending code review. Meanwhile you can check out new module called [`vmware_guest_disk`](https://github.com/ansible/ansible/pull/36165) which does a lot of thing related to disk.

[2018-03-12 14:47] gjcarneiro commented on #12086
Agreed.  I'm using ansible to run only local tasks.  In particular, to build a dozen or so docker images.  At the moment, ansible builds them serially, so it takes a lot of time and underutilises the multi-core CPU.  I would like to build multiple docker images in parallel.

[2018-03-12 14:50] bcoca commented on #12086
@gjcarneiro then don't define them as data, define them as hosts and target them, then `delegate_to: localhost` to execute the actions in parallel

[2018-03-12 14:52] SaranrajMG commented on #37007
@Akasurde: Thanks for updating.  Please let me know if you found a way to use it.

[2018-03-12 14:58] beenje commented on #37303
As dbus-run-session is mentioned as a dependency, I should maybe have flagged  that issue as a feature request instead of a bug report. But it took me some time to realise why I couldn't find it on CentOS because of the dbus version. We should add dbus >= 1.8 in the current documentation.

[2018-03-12 15:00] bcoca commented on #36886
no, filters are in jinaj2 which is waaay past the time it has any introspection into what the original order was. You would have to do something like #36644, which forces OrderedDict for all hashes as they are imported from YAML.

[2018-03-12 15:00] #36886 closed, assigned to nobody

[2018-03-12 15:02] fredtesche commented on #33414
@sppwf I tested all the GETs from here: https://support.hpe.com/hpsc/doc/public/display?docId=emr_na-a00021940en_us&docLocale=en_US and all but a few worked as expected.

There is one module called "switch_config" that is supposed to return the running config, but it 404's. I opened a ticket with HP and they told me that that particular module is only for HP's internal testing/development, and wil

[2018-03-12 15:03] manicminer commented on #25718
Got this working with a small kludge.

boto2 recognises the env var `AWS_SECURITY_TOKEN`. I have a small piece of code that initializes a boto3 session with assumed role (from ~/.aws/config) and prints out the temporary credentials. My Ansible wrapper script sets these as environment variables for boto2, and the net result is that the inventory script, along with all the modules I've tried so far,

[2018-03-12 15:15] AlPhi247 commented on #23401
Unfortunately it still fails with the same error message in Ansible 2.6:

[2018-03-12 15:24] heathdbrown opened #37305 "net_vlan throws error when passing list of dictionaries to aggregate"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

net_vlan
lib/ansible/plugins/action/net_vlan.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = False
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/lab/ansible.log
PARAMIKO_HOST_KEY_AUTO_ADD(env: ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD) = True

##### OS / ENVIRONMENT

Control Node:
[code]

Network Firmware:

[2018-03-12 15:33] alikins commented on #37131
@amcpherson Could you post your test playbook.yml ? And the result of running 'ansible-playbook -vvv playbook.yml -i hosts.txt' ?

Can you reproduce with the latest stable version (2.4.3). And/or the 2.5 release candidates?

Was this working before ansible 2.4.0.0?  If so, what versions?

Does the ssh command itself work?

[code]

Does 'ansible -i hosts.txt rocks2 -m ping' work?

[2018-03-12 15:36] gjcarneiro commented on #12086
Hah, thanks for the neat trick :)  But still, even if it works (I haven'ted tested) it is a rather convoluted way of running tasks in parallel.

Then again, I may be using ansible for completely different purpose than it was intended, so in a way it's my own fault :(

[2018-03-12 15:42] alikins commented on #37133
@namasivayamcse Could you include an example playbook.yml that reproduces this?  Also, the output from running ansible-playbook with increased verbosity (add '-vvv' to command line)

[2018-03-12 15:43] radzhome commented on #31741
To fix on CentOS 7 I did:
[code]

[2018-03-12 15:43] alikins commented on #37133
pinging @nitzmahone @jborean93

[2018-03-12 15:44] alikins commented on #37133
Can you try reproducing this with the latest stable release (2.4.3?)

[2018-03-12 15:45] extrail commented on #32152
It seems like this is happening because "localhost" doesn't exist in the inventory when you are running your playbook or at least that was the case for me.
in order to fix it in my case I manually added localhost after running the dynamic inventory
`- name: add hosts to localhost group
  add_host:
    name: "127.0.0.1"
    groups: "localhost"`

This is a temporary workaround and it covers both 'lo

[2018-03-12 16:03] samerd opened #37306 "onyx_vlan throws exception when using onyx version 3.6.6000"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

onyx_vlan.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

when running command onyx_vlan on onyx network device with version 3.6.6000 or later, there is an exception.

##### STEPS TO REPRODUCE

run any playbook with onyx_vlan

[code]

##### EXPECTED RESULTS

onyx_vlan will configure vlan on th

[2018-03-12 16:07] samerd opened #37307 "onyx_pfc_interface throws exception when using onyx version 3.6.6000"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

onyx_pfc_interface.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when running command onyx_pfc_interface on onyx network device with version 3.6.6000 or later, there is an exception.

##### STEPS TO REPRODUCE

run any playbook with onyx_pfc_interface

[code]

##### EXPECTED RESULTS

pfc int

[2018-03-12 16:10] alikins commented on #37145
@daveolker

Note: 'always' is a special tag http://docs.ansible.com/ansible/latest/playbooks_tags.html#special-tags

Was this working prior to 2.4.2.0?  If so, which versions worked?

[code]

http://docs.ansible.com/ansible/latest/playbooks_tags.html#special-tags

'--skip-tags always' will skip all plays tasks tagged 'always'. It sounds like '--skip-tags always' is working as intended. For your ex

[2018-03-12 16:12] alikins commented on #37296
(error reformatted for easier reference)

[code]

[2018-03-12 16:13] bcoca commented on #12086
not really convoluted, it is how Ansible is meant to use paralellization, by host, not by variable.

[2018-03-12 16:14] bcoca commented on #37302
do you have a file named 'name.*' in your library/ directory?

[2018-03-12 16:20] alikins commented on #37296
@johnoloughlin

Does 'easy_install pip' work on that system outside of ansible?

Was this working previously? If so, what versions?

The error indicates the 'easy_install' is the python3.6 version. Is that intended?

The controller system is using python2.7, based on the ansible version:

If the target is using python 3.6, does 'easy_install pip' work on the target system?

[2018-03-12 16:24] johnoloughlin commented on #37296
@alikins
yes easy_install pip works on the CLI on the system.
As a temporary work around I am using the shell module to execute this command.

[2018-03-12 16:26] alikins commented on #37302
This sounds like it may be same issue that https://github.com/ansible/ansible/pull/34649 addresses.

[2018-03-12 16:31] alikins commented on #37305
(for bot)
!component =lib/ansible/plugins/action/net_vlan.py

[2018-03-12 16:35] johnoloughlin commented on #37296
I haven't test on any other versions of ansible.
I have tested on ubuntu and centos (it works there)

[2018-03-12 16:39] alikins commented on #37303
@azaghal Should the dconf module be expected to work on rhel7 in this scenario?

[2018-03-12 17:10] AuroraLi commented on #37302
@ansibot thank you
@bcoca No I do not have file named "name.*" except for the name.py/name.pyc file in cryptography package
@alikins i am not sure. I only used fortios_config module in this ansible environment. I have tried my yaml file in ansible 2.5 and it worked. In 2.4.2 it threw this error, which i dont really understand. adding name and register to tasks was supported from the beginning. No

[2018-03-12 17:16] opoplawski opened #37309 "Do not stop running playbook if all hosts in a play are unreachable"
##### ISSUE TYPE
 -~~ Bug  Report~~
- Feature Idea

##### COMPONENT NAME
playbook_executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Scientific Linux 7.4

##### SUMMARY
In ansible/executor/playbook_executor.py, there is:
[code]
Which causes the execution of a playbook to halt if all the hosts for a given play where unreachable.
This was added with https://git

[2018-03-12 17:41] timblaktu commented on #22171
Same issue with distcc 3.1-6.2+b1 on Debian Stretch, with ansible 2.4.3.0.

[2018-03-12 17:43] gjcarneiro commented on #12086
Yes, I understand, it's not Ansible's fault, it makes sense.  But I'm using Ansible as build system (instead of e.g. make), because Ansible is nice as build system in most ways.  But, in my frame of mind, thinking as a build system, "hosts" don't make sense.  A build system like "make" doesn't care about "hosts", it only cares about files and tasks.  I am forcing Ansible to be used as build system

[2018-03-12 17:48] samdoran commented on #36490
Looks like the best way to solve this is to create a subspec, which can have a type specification that will ensure it is always a list. I'll push this up shortly after I get the docs worked out.

[2018-03-12 17:55] navidnadali commented on #32503
Hi all, Any one aware of any workarounds until this is all ready?

[2018-03-12 18:47] mgahagan73 opened #37312 "typos in import_role documentation page"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Ansible documentation for version 2.4

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Issue is with the documentation maintained on docs.ansible.com

##### OS / ENVIRONMENT

Issue is with the documentation maintained on docs.ansible.com

##### SUMMARY

There are a couple of typos on the documentation page for import_role (ansibl

[2018-03-12 18:53] bcoca commented on #37302
The error you get indicates that it is finding a module named 'name', which is hitting a check for 'more than one action in same task' and overriding the property named 'name'.

Try `ansible-doc -l |grep name`

[2018-03-12 19:10] AuroraLi commented on #37302
thank you @bcoca
You are absolutely right. I ran the command on two different ansible env
env 1 (which gave me the error):

bigip_hostname                            Manage the hostname of a BIG-IP.
general_name                              UNDOCUMENTED
hostname                                  Manage hostname
**name                                      UNDOCUMENTED**
namedtype

[2018-03-12 19:23] bcoca commented on #32503
@samdoran import_X won't work with hostvars, include_X must be used in those cases.

[2018-03-12 19:39] JuChang91 commented on #12170
@hryamzik I don't think include loops work in series anymore with the latest version

[2018-03-12 19:46] MTWiley opened #37314 "nxos_logging - missing remote logging destination"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nxos_logging

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
"ansible-config dump --only-changed"
No output

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Would like to see remote host logging destinations such as those seen in the other network xyz_logging modules:

http://docs.ansible.com/ansible/latest/ios_logging_module.html
http://docs.ans

[2018-03-12 19:55] isaacegglestone commented on #12086
Ansible is a configuration management tool for many other things,  networks
devices, both real and Virtual, for a huge amount of cloud services such as
databases, web services such as eleastic beanstalk, lambda and all the
components that apply to it like IAM security components, while Ansible is
good at hosts if your still running mostly VMs/hosts your basically in
Early 2000s IT.  Not offending

[2018-03-12 19:58] MikeiLL commented on #37286
Thanks, @tolland. I don't think there had been any other MySQL on the server previously, but it's certainly possible that in my troubleshooting I had installed one inadvertently. If that were the case, so you have any recommendations 1. how i would confirm it and/or 2. what i would do about it. Perhaps uninstalling and reinstalling MariaDB via APT again?

[2018-03-12 20:22] washingtoneg opened #37315 "No RabbitMQ Dynamic Shovel Module exists"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
`rabbitmq_dynamic_shovel`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE
Given that a **`rabbitmq_dynamic_shovel` module exists** and its implementation uses Rabbitmq's default connection options and a [sane set of shovel defaults](https://www.rabbitmq.com/shovel-dynamic

[2018-03-12 20:24] miramar-labs commented on #24887
@Akasurde great work btw - so I was wondering if there is any migration functionality implemented? For example, I don't have vMotion, but if I power off a VM, in vCenter I can 'migrate' it (compute and/or storage) from one host to another ...is this possible with any of these modules? (I have an ESXi essentials license only)

[2018-03-12 20:27] AuroraLi commented on #37302
Error disappeared after re-installing ansible 2.4.2. Thank you for your help/info

[2018-03-12 20:27] #37302 closed, assigned to nobody

[2018-03-12 21:35] hryamzik commented on #12086
This is a very nice approach but it doesn't seem to work inside workaround for rolling restarts with `serial=1` simulation (#12170). So an option for paralellization would add a lot more flexibility.

[2018-03-12 21:40] bcoca commented on #12086
no doubt, but it also adds a huge layer of complexity and the need to deal with concurrent actions on a single host ala `hosts:all` + `lineinfile` + `delegate_to: localhost`

[2018-03-12 22:02] rwaweber opened #37319 "Firewalld: ipset support/integration"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

firewalld
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Not sure if it's been discussed before, but I feel like having [ipset](http://www.firewalld.org/documentation/man-pages/firewalld.ipset.html) support in the firewalld module would be pretty cool. I know that for *my* use-case it would de

[2018-03-12 22:06] daveolker commented on #37145
HI Adrian,

I never tested this playbook prior to version 2.4.2 so I don't know if the behavior has changed.

I re-wrote the playbook using the syntax you provided:

---
- hosts: all
  gather_facts: True
  roles:
    - { role: configure-server, tags: [ 'always' ] }

- hosts: all
  gather_facts: True
  roles:
    - { role: install-agent, tags: [ 'agent' ] }
...

Under normal circumstances I always

[2018-03-12 22:07] mattclay opened #37320 "Unstable integration test azure_rm_virtualmachine"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_virtualmachine:

https://app.shippable.com/github/ansible/ansible/runs/57626/64/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Te

[2018-03-12 22:08] mattclay commented on #37320
/cc @nitzmahone @zikalino

[2018-03-12 22:11] mattclay commented on #36066
Here's another failure: https://app.shippable.com/github/ansible/ansible/runs/57626/66/tests

[2018-03-12 22:12] mattclay commented on #36083
Here's another failure: https://app.shippable.com/github/ansible/ansible/runs/57626/66/tests

[2018-03-12 22:37] dealkk opened #37321 "Error while loading YAML on $schema"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
"azure_rm_deployment"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Keep getting syntax error here trying to use inline template
$schema: "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"

i

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
success run

##### A

[2018-03-12 22:50] orderedchaosdev opened #37322 "Issue with module var overwriting var in file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING=True

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I have a var in a var file called ec2_elbs
in the module ec2_elb you define a var for it ec2_elbs
When the var for the module is defined it overwrites the var from the var file

##### STEPS TO REPRODUCE

Create var

[2018-03-12 23:17] mattclay opened #37323 "Unstable integration test route53_zone"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

route53_zone integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test route53_zone:

https://app.shippable.com/github/ansible/ansible/runs/57633/66/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUA

[2018-03-12 23:18] mattclay commented on #36063
Here's another failure: https://app.shippable.com/github/ansible/ansible/runs/57633/67/tests

[2018-03-12 23:41] ericwb commented on #37312
Duplicate of https://github.com/ansible/ansible/issues/33176 which already has a fix.

[2018-03-12 23:42] codeman65 commented on #36915
I'd like to add that having this would be useful for me as well.  Right now there is no way to read the tags assigned to vm's in ansible.

[2018-03-12 23:57] tolland commented on #37286
Can you check whether you actually have a password column, or whether its some case sensitivity/collation thing;

    SELECT * FROM information_schema.COLUMNS
         WHERE TABLE_SCHEMA = 'mysql'
         AND TABLE_NAME = 'user'
         AND COLUMN_NAME LIKE '%assword';

[2018-03-13 00:02] MikeiLL commented on #37286
There isn't one there. I checked previously. At one point I came across a stackoverflow suggestion to create one, but a friend recommended against it.

[2018-03-13 00:09] scottsb commented on #33659
@manicminer: I believe your second example is a different case and is an instance of #29008.

[2018-03-13 00:18] scottsb commented on #29008
The symlink *to* `group_vars`/`host_vars` only works if you have one set. In our case we have a common playbook that is included by multiple root playbooks, each with their own set of vars folders. In this case the workaround was to create a symlink to the shared playbook instead from within the folder containing the root playbook.

[2018-03-13 00:22] MikeiLL commented on #37286
I have now run `sudo apt-get purge mariadb-client`, `sudo apt-get purge mariadb-server`. HOwever `/usr/bin/mysql` still there.

[code]

Maybe I installed it some other way?

[2018-03-13 00:26] tolland commented on #37286
From an ansible point of view it doesn't seem like it's a problem with the mysql_user module.

The following will show you which package provided a file;
[code]

[2018-03-13 00:45] MikeiLL commented on #37286
looks the same as yours.

[code]

[2018-03-13 00:48] jborean93 commented on #37133
needs_info

[2018-03-13 01:05] MikeiLL commented on #37286
I'm going to remove it entirely:

[code]

Success. Provisioning worked (well, Nginx error now, but that's another adventure.

Thanks for the help @tolland!

[2018-03-13 01:11] tolland commented on #37286
Great!

[2018-03-13 01:56] #37286 closed, assigned to nobody

[2018-03-13 03:00] chenzhiwei commented on #16810
close it as this is not a common case.

[2018-03-13 03:00] #16810 closed, assigned to nobody

[2018-03-13 03:02] chenzhiwei commented on #36992
We are switch back the use the shell to manage sysctl.conf. So I close this issue.

[2018-03-13 03:02] #36992 closed, assigned to nobody

[2018-03-13 03:06] #36955 closed, assigned to nobody

[2018-03-13 03:07] bcoca commented on #37309
cc @jimi-c

[2018-03-13 03:09] bcoca commented on #37309
The expression above means that if all hosts in the current play batch the play ends, this is 'as designed' behaviour so I changed it to a feature request.

FYI 'play batch' is 'serial size' or all hosts in play if serial is not set.

[2018-03-13 03:09] bcoca commented on #37312
closing as dupe

[2018-03-13 03:09] #37312 closed, assigned to nobody

[2018-03-13 03:11] alexpilon666 opened #37330 "Cannot assign NSG from other resource group when creating subnet"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansible/fact_caching
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 86400
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = T

[2018-03-13 03:25] ms4720 opened #37332 "Optional facts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I would like to use ansible and ARA for system patch reporting, it would be very handy to have an optional directory for facts that I could collect for reporting on a regular basis.  I would still want all regular facts as well.  some of the inf

[2018-03-13 04:23] cdown opened #37334 "pacman module has no way to force a package over a group, which exacerbates Arch bug"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
pacman

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY

This is an upstream bug made worse by lacking a feature in Ansible. On 03-09, I noticed that "tmuxp" for some reason was installed on my server even though I requested "tmux" to be installed. This is the block in question which triggers this:

[code]

Af

[2018-03-13 04:31] cdown commented on #37334
Arch bug: https://bugs.archlinux.org/task/57814

[2018-03-13 04:59] Akasurde commented on #37231
@arjunprakashn Any news ?

[2018-03-13 06:00] arjunprakashn commented on #37231
hi ,I am asking how to perform task for detecting sucessfull deployement of vcsa ?

[2018-03-13 06:22] Akasurde commented on #37231
@arjunprakashn There is no module which can be used to detect VCSA deployment. Are you using any third party roles or playbook ?

[2018-03-13 06:27] arjunprakashn commented on #37231
i am using ansible-role-vcsa for deploying vcsa and i need to detect vcsa , so i am not sure how we can do? yes we don't have any playbook but how to detect successful deployment is my question

[2018-03-13 06:31] Akasurde commented on #37231
@arjunprakashn This is third party role. You may need to open a bug against the repository which provides this role.

[2018-03-13 07:45] hevisko commented on #25823
With Postgresql 10 & Pshyco_pg, this now is a BUG not jsut an FYI ;(
`
Traceback (most recent call last):
  File "/tmp/ansible_rr21jU/ansible_module_postgresql_user.py", line 846, in <module>
    main()
  File "/tmp/ansible_rr21jU/ansible_module_postgresql_user.py", line 805, in main
    role_attr_flags, encrypted, expires, no_password_changes, conn_limit)
  File "/tmp/ansible_rr21jU/ansible_modul

[2018-03-13 08:49] Poil opened #37337 "vmware_guest : remove_vm does not remove associated resources"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
2.4

##### SUMMARY
Calling state: absent does not remove associated files (vmdk ...)

It seems that ansible call vm.Destroy but it should call vm.Destroy_Task (ref. : https://www.vmware.com/support/developer/converter-sdk/conv55_apireference/vim.ManagedEntity.html#destroy , example : https://code.vmware.com/sa

[2018-03-13 09:29] Akasurde commented on #25823
@hevisko Could you please try PR 36931 and let us know if it works for you ?

[2018-03-13 10:04] IshwarKanse opened #37339 "Cannot attach IAM role to running EC2 instances."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
EC2 module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 27
Boto version: 2.48.0
Boto3 version: 1.6.7

##### SUMMARY
Not able to attach IAM role to running EC2 instance.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The IAM role is attached to EC2 instance or if the role name has changed from previous config replace it

[2018-03-13 10:15] JeanFred commented on #35120
Is there any way we can help this? Unless I’m mistaken `--flush-cache` is basically non-functional with a Redis backend in 2.4. I presume this is too late for the 2.5 release as well (maybe even 2.6). How can we help #35126 get a review?

[2018-03-13 10:17] chopraaa commented on #35661
Can you give an instance where this will be useful?

[2018-03-13 10:46] nbari commented on #37112
Hi @resmo I still having errors:

I am testing by doing this on my `library` https://raw.githubusercontent.com/resmo/ansible/06090a4d36037082b95767838167717c84de6761/lib/ansible/modules/cloud/cloudstack/cs_instance.py

[code]

[2018-03-13 10:49] resmo commented on #37112
@nbari The module won't work with 2.4. You have to test with 2.5 or devel branch.

[2018-03-13 10:59] nbari commented on #37112
@resno what is the best/easy way to get 2.5 for now and test?

[2018-03-13 11:02] resmo commented on #37112
[code]

[2018-03-13 11:19] tonyskidmore commented on #36915
I came across this same issue, trying to group VMs by vSphere Tags using the [vmware_inventory](https://github.com/ansible/ansible/tree/devel/contrib/inventory).  To workaround this I am currently using a WIP PowerShell Core 6 / PowerCLI 10 script that handles vSphere Tags using the PowerCLI cmdlets and outputting in Ansible expected JSON.  I did a bit of research into this and the following links

[2018-03-13 11:24] nbari commented on #37112
@resmo  Any fix for the 2.4? version, that will simplify/share ansible among other colleagues by just need to install ansible via pip and add into `library` the fixed  `cs_instance.py`

[2018-03-13 11:31] hlpinform commented on #33434
ISSUE TYPE
 - Bug Report

COMPONENT NAME
- rds

ANSIBLE VERSION
ansible 2.6.0 (devel ba5e562c76) last updated 2018/03/13 10:02:35 (GMT +000)
  config file = /opt/hlp-ansible-config/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/ansible/lib/ansible
  executable location = /opt/ansible/b

[2018-03-13 11:32] Akasurde commented on #36915
@tonyskidmore Thanks for information. I have started working on [Tag functionality](https://github.com/ansible/ansible/pull/37261) and subsequent functionalities (assigning tags, creating categories etc.,)

[2018-03-13 11:37] Kanshiroron commented on #37238
Hi again @sivel

Here are my latest tests:
- I tried with an `ubuntu:16.04` docker image with the same result (both with python 2.7 & python 3.5)
- I installed a Debian 9 VM with the latest net install iso image from the official web site. And again, I have the same issue inside the VM.

I have no idea what can make it work on your side...

[2018-03-13 11:38] #37091 closed, assigned to trishnaguha

[2018-03-13 11:43] #36980 closed, assigned to gdpak

[2018-03-13 11:54] kkehres commented on #36341
so I retired the acn and spun up new boxes.  not seeing the issue anymore.

[2018-03-13 11:54] #36341 closed, assigned to nitzmahone, jborean93

[2018-03-13 12:03] haffla commented on #25823
I'm working on a PR

[2018-03-13 12:09] mosheavni opened #37348 "Adding a plugin overrides the default plugins"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Filter Plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When adding a custom filter plugin (or any plugin), it overrides all of the other default plugins

##### STEPS TO REPRODUCE
1. Create a directory: mkdir -p /etc/ansible/plugins/filter
2. Inside the newly created directory, create a

[2018-03-13 12:23] tonyskidmore commented on #36915
Great stuff that will be great! I will look forward to Ansible 2.6 and by then we will be on vSphere 6.5 so we can take advantage of the REST API.  For now I will carry on using my PowerShell workaround for earlier versions of vSphere.

[2018-03-13 12:27] resyst-it commented on #36915
@Akasurde The goal of my issue is to create groups for ansible according to the tags.

Exemple :
In vpshere 6.0, i create several tags. (Home -> Tags)

Category -> ENVIRONMENT
Tag Name -> Producion or Intergration..

Category -> APPLICATION
Tag Name -> Foo or bar

In ansible we can have groups by environement or application.

But we can have in one group all VM about application foo in environemen

[2018-03-13 13:37] trishnaguha commented on #29164
`nxos_ip_interface` is deprecated in 2.5 and `nxos_interface` was refactored after the linked fix was pushed. The modules `nxos_l3_interface` and `nxos_interface` need work on `devel` for sub-interface support.

[2018-03-13 13:39] s-hertel commented on #37339
duplicate of #22258

@IshwarKanse This is an issue with the boto library. The ec2_instance module uses boto3 and will be able to resolve this issue (if it isn't already).

[2018-03-13 13:39] #37339 closed, assigned to nobody

[2018-03-13 14:00] Akasurde commented on #36915
Yes. This module and module_utils (library) will be groundwork for all REST related stuff. Once we have this library in place we can play around with everything in APIs. You can add your review comments and shipit on given PRs so that we can expedite things.
Thanks.

[2018-03-13 14:14] julienvey commented on #37323
I think this is a duplicate of #36066
The code at the origin of the problem is the same, in `ec2_vpc_net`

[2018-03-13 14:18] ryansb commented on #37323
The other issue has the issue in ec2_vpc_route_table, so this isn't a dupe. Similar class of problem though.

[2018-03-13 14:36] dyasny opened #37352 "Unsupported parameters for (os_subnets_facts) module: subnet"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
os_subnets_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes from defaults

##### OS / ENVIRONMENT
Fedora 27

##### SUMMARY
Documentation at http://docs.ansible.com/ansible/latest/os_subnets_facts_module.html says to specify "subnet" as name or ID for the sought subnet, actually, when I do that I get

[code]
Changing

[2018-03-13 14:40] julienvey commented on #37323
Right. I was actually looking at the linked PR (#36264)

[2018-03-13 14:43] pipoe2h commented on #32554
Hello,

I have found the same issue on an Ubuntu 16.04 machine after install pyOpenSSL to use the openssl_certificate module. When I remove the library, the error is fixed.

[code]

[2018-03-13 14:57] abadger commented on #25242
On reviewing the code, --allow-untrusted or its equivalents are only being used if the user specifies ```force: True``` as a parameter so this is not a "default".  I've added information to the apt documentation that this is a behaviour of the force parameter in this PR: https://github.com/ansible/ansible/pull/37353

@onlyjob also note that in ansible-2.4.x we've added the parameter force_apt_get

[2018-03-13 15:09] tonyskidmore commented on #36915
Also note that you can do this using [Patterns](http://docs.ansible.com/ansible/latest/intro_patterns.html) with Ansible.
You can do this today with PowerShell Core and PowerCLI to get an inventory output based on vSphere tags.

*testinv* inventory file INI format to simulate Dynamic Inventory output
[code]

[code]

[2018-03-13 15:17] blucas-accela commented on #35613
I'm having this same issue. Is there a workaround or fix yet? My playbook has a handful of modules including win_copy and win_template. If I comment out the win_copy tasks, the win_template works just fine. Is there some interplay going on?

[2018-03-13 15:29] ssbarnea commented on #19351
I think this is still a valid bug, with small remark that same error may be returned with 500 instead of 403.

[2018-03-13 15:31] samrreynolds4 commented on #35613
@blucas-accela I switched to stable-2.4 and win_template started working normally. I would suggest switching if you are on dev.

[2018-03-13 15:46] berney commented on #13262
So why I think it's balls that Ansible (still) doesn't have this feature, looping over includes is an OK way, hopefully a contributor will come along.

There is another way that I haven't seen discussed.

[code]

This uses one of YAML's little known neat feature, anchors. This page has a pretty good demo of it http://blog.daemonl.com/2016/02/yaml.html. The TL/DR is put a `&something`  on the part

[2018-03-13 15:51] douglascaetano commented on #33464
I'm having the same problem too. Just used this repo https://github.com/PriceChild/ansible-issue21513 from #21513 to test timings:
[code]
Ansible version:
[code]
It's a local copy, so it should barely take a second to finish, even considering checksums (both SHA1 and MD5) and comparisons.

Any alternative meanwhile besides `synchronize`?

[2018-03-13 15:57] blucas-accela commented on #35613
Thanks @samrreynolds4. I went to 2.5+ in order to get an update to the win_get_url so that's my floor for now.

[2018-03-13 16:00] zbikmarc opened #37355 "Cron module is not idempotent until name option is set"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cron_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Everything standard

##### OS / ENVIRONMENT
RedHat Enterprise Linux 7

##### SUMMARY
I am expecting every playbook to be idempotent, however cron module will just add new entry to crontab each time Ansible playbook was executed.  It can be idempotent only when `name` option is set.

[2018-03-13 16:04] #36466 closed, assigned to samdoran

[2018-03-13 16:07] rwaweber commented on #36466
thanks for the speedy turn around @samdoran ! 👏

[2018-03-13 16:15] ryansb commented on #36066
Another attempt at the fix for clienterror handling in #37356

[2018-03-13 16:24] giovannisciortino commented on #37355
Probably this is a feature request and not a bug. This behaviour is described in the documentation of the module[1]:

[1] http://docs.ansible.com/ansible/latest/cron_module.html

[2018-03-13 16:33] zbikmarc commented on #37355
Change type to `Feature Idea`. To me this is still a bug, even though it’s documented.

[2018-03-13 16:39] hkariti commented on #30776
Can confirm this too, also on HEAD.

[2018-03-13 16:51] devopsian commented on #36504
I am unable to test this on ansible 2.5 due to another issue.  With 2.5 I am unable to connect to the F5 at all:

fatal: [playbook -> 127.0.0.1]: FAILED! => {"changed": false, "msg": "Unable to connect to <hostname> on port 443. Is \"validate_certs\" preventing this?"}

I tried setting validate_certs to false, but the error is still the same.

[2018-03-13 16:52] dgm commented on #28702
This also affects the credstash lookup ; the ok_if_missing option on set_fact works in the 2.5-stable branch at this time.   I do still need to add a default value if it is missing.

[2018-03-13 17:02] bcoca commented on #28702
so i created an alternative 'generic' solution for all lookups #35932

[2018-03-13 17:07] niglesiasbrc commented on #29352
@bcoca any plans on this?

[2018-03-13 17:42] ksoftirqd opened #37361 "os_security_group_rule fails to find matching rule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_security_group_rule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`os_security_group_rule` fails to find matching rule when module argument `port_range_min`, `port_range_max` or `protocol` is omitted.

[code]

When [`_find_matching_rule`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openst

[2018-03-13 17:46] smiller171 commented on #13262
@berney That doesn't help with the problem presented here. All you're doing with anchors is defining a var on the fly vs defining it with a vars file or an argument. It will still execute your `command` task twice and then your `file` task twice, where the intent of this ticket is to allow running the `command` task, then the `file` task, then running them both again. (`task1`x2, `task2`x2) vs (`t

[2018-03-13 17:47] newswangerd opened #37362 "iosxr_config breaks when run using ansible_connection=netconf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

iosxr.yaml
[code]

Note: The device is configured to run netconf on port 22

##### OS / ENVIRONMENT

##### SUMMARY

iosxr_config throws a connection error when run using `ansible_connection: netconf`

##### STEPS TO REPRODUCE

Run the following task using the netconf plugin:
[co

[2018-03-13 17:50] newswangerd opened #37363 "iosxr_facts fails when run using ansible_connection=netconf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

iosxr.yaml
[code]

Note: The device is configured to run netconf on port 22

##### OS / ENVIRONMENT

##### SUMMARY

iosxr_facts fails when run using `ansible_connection: netconf`

Likely related to #37362

##### STEPS TO REPRODUCE

Run the following task using the netconf plugin:

[2018-03-13 17:51] tchia04 opened #37364 "ansible-playbook --list-tasks and include_role don't work together"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

include_role
ansible-playbook cli --list-tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Rehat7
##### SUMMARY

When using role in a playbook in the old fashion way. ansible-playbook --list-tasks is able to display the tasks. However using the include_role in a task will break the --list-tasks command and sh

[2018-03-13 18:04] drzraf opened #37365 "import_role / include_role fail with "<role> was not found" with when: false"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role
include_role

##### ANSIBLE VERSION
[code]

##### SUMMARY
I'm writing a container-enabled role.
It imports another (custom) role only on "bare-metal" deployment (if `baremetal: True`).
It must ignore this role if called with `baremetal: False` (eg: from `container.yml`)
If initially found that `meta/main.yml` was considered independe

[2018-03-13 18:12] crbn60 commented on #29352
I also would be really interested in this feature.

[2018-03-13 18:13] benjdudas opened #37366 "junos_command fails with display: json set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Tested agains JUNOS: `15.1R6-S3` and `15.1R5.5`
##### SUMMARY

When running command `show configuration` with `display: json` set for the task it will fail with ValueError. If running `show version` the task completes as expected.

##### STEPS TO REPRODUCE

[code]

##### EXP

[2018-03-13 18:24] staylorx commented on #13262
@barney thanks for the reminder about anchors. I see them in puppet all the time then straight out forget to use them in Ansible.
@barney, @smiller171 , I'd be interested if the distribution property holds in Ansible? I can see that it wouldn't in a single-threaded program where the order matters, but does (`task1`x2, `task2`x2) = (`task1`, `task2`)x2? Are they the same.

[2018-03-13 18:36] berney commented on #13262
@staylorx it's different, as smiller171 pointed out to me. If you have two tasks (`A` & `B`) and two items (`1` & `2`) you will get `A1, A2, B1, B2` with my way, and `A1, B1, A2, B2`, with way OP wants. (presumably looping of includes works this way). Also smiller171 pointed out that what I've done is the equivalent of defining a variable (a variable can be a list). So the YAML anchors don't help

[2018-03-13 18:37] drzraf commented on #37365
I'm now starting to think it could be an ansible-container specific issue https://github.com/ansible/ansible-container/issues/589

[2018-03-13 18:49] bcoca commented on #35352
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-13 18:49] #35352 closed, assigned to nobody

[2018-03-13 19:04] maxgio92 opened #37368 "elb_target_group, if the TG does not already exists, does not hand off target port correctly"
##### ISSUE TYPE
- Bug report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output from ansible-config dump --only-changed

##### OS / ENVIRONMENT
Mac OS 10.13.3
AWS Application type ELB

##### SUMMARY
Attempting to create an ELB Target Group from scratch and passing parameters from variables results in a module failure. The cause is that the Port of

[2018-03-13 19:12] maxgio92 commented on #37368
It seems that entering in the else at line 515 (when attempting to create new target group from scratch) of the module, the Targets list does not contain casted-to-int Port field.
`else:
        try:
            connection.create_target_group(**params)
            changed = True
            new_target_group = True
        except ClientError as e:
            module.fail_json(msg=e.message, excepti

[2018-03-13 19:13] dgm commented on #28702
correction, it did not work yet.    Really hard to make my script idempotent.

[2018-03-13 19:27] mattclay commented on #36068
More recent failures:

https://app.shippable.com/github/ansible/ansible/runs/57718/66/tests
https://app.shippable.com/github/ansible/ansible/runs/57718/67/tests

[2018-03-13 19:56] ryansb commented on #37323
@s-hertel has a related PR here https://github.com/ansible/ansible/pull/37354 (still WIP, we'll work on it)

[2018-03-13 20:36] ElCoyote27 commented on #29728
Issue reproduced here with RHEL 7.4, Veritas Infoscale 7.3.1 and a vxfs filesystem:
Even though SELinux is in permissive mode, ansible fails to copy -to- the vxfs filesystem:TASK [virt-env-ospd : Copy RHEL 7.4 image to destination] ************************************************************************************************************************************************************
fatal: [loc

[2018-03-13 20:41] nwsparks opened #37370 "Documented jinja2 tests examples, throw "tests as filters" deprecation warning"
##### ISSUE TYPE

 - ~~Bug  Report~~
- Docs Report

##### COMPONENT NAME

filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/opt/ansible/ansible.cfg) = [u'/opt/ansible/ec2.py']
HOST_KEY_CHECKING(/opt/ansible/ansible.cfg) = False
RETRY_FILES_ENABLED(/opt/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

n/a

##### SUMMARY

Ansible is giving tests as filters deprecati

[2018-03-13 21:14] jhawkesworth commented on #37370
There was some chat about this on #ansible-windows channel earlier.
I realise now that this behaviour is expected and changing to the following fits with the new syntax (and reads better too)

[code]

[2018-03-13 21:17] jhawkesworth commented on #37370
Perhaps consider updating the examples here http://docs.ansible.com/ansible/latest/playbooks_tests.html#testing-strings though.

[2018-03-13 21:20] opoplawski commented on #37309
Well, it's frustrating behavior as my playbook simply stopped unexpectedly here:
[code]

With no indication as to why, and no way to avoid it except by commenting out the break_play = True line.

[2018-03-13 21:28] dyasny opened #37374 "Improve os_server_facts dictionary"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
os_server_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
Running on Fedora 27

##### SUMMARY
os_server_facts forms a dictionary that isn't well formed in some parts. This particular time I needed to find the network name an instance is assigned to. Here's a part of the json I receive

[2018-03-13 21:33] mmercer-apixio commented on #36152
I take it noone on the team has any ideas?

[2018-03-13 21:43] arumel commented on #36905
I found similar problem using parted. I solved it by adding the partition number as a parameter.

number: 1

The same task worked fine previously without this parameter. Not sure when behaviour changed.

[2018-03-13 21:46] il-davidlurth commented on #14426
I experienced the same issue when trying to run a playbook on a LXD Ubuntu 16.04 container. I could ssh into the container just fine, but it would take a long time to `sudo su` and it would error `sudo: unable to resolve host ingest0: Connection timed out`.

I added the hostname to `/etc/hosts` and the problem went away - I could run the playbook without it timing out on escalation and I could `su

[2018-03-13 21:55] agaffney commented on #36152
I don't think you really provided a complete test case for someone to be able to reproduce it. It appears that the gist from the description no longer exists, so I can't verify.

[2018-03-13 22:08] geerlingguy commented on #4297
This has burned me twice too. It seems unintuitive that `register` does anything with a skipped task, and I've had to rework a few sets of conditional tasks to use multiple variables like mentioned earlier. Wish this behavior were configurable :(

[2018-03-13 22:26] indivisiblewalrus opened #37375 "nxos_l3_interface(new module) missing nxos_ip_interface(depracated module) attributes in 2.5"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
nxos_l3_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
nxos_l3_interface is deprecating nxos_ip_interface, however nxos_l3_interface is missing capability to set several old attributes:
 - set dot1q
 - set route tag on ipv4|ipv6 address
 - set secondary ip address
Requ

[2018-03-13 22:40] indivisiblewalrus opened #37376 "nxos_config 'ntp access-group <acl>' failure on second run due to nxos output"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PARAMIKO_HOST_KEY_AUTO_ADD(env: ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD) = True

##### OS / ENVIRONMENT
RHEL 7.3
NXOS 7.0.3I7

##### SUMMARY
nxos_config failing when attempting to apply ACL to NTP on second run.

#

[2018-03-13 22:58] spruce commented on #29192
It still persists for me (using ansible 2.4.3.0) when using it with https://github.com/geerlingguy/ansible-role-nodejs/
For instance I had an older version of `ghost-cli` installed.

Via the mentioned roles method tried to update it to the latest version https://github.com/geerlingguy/ansible-role-nodejs/blob/a301eef42a4c6690fff3effd5130fa7ed0028fc3/tasks/main.yml#L26 with a variable set to
[code]

[2018-03-13 23:54] cjward-cba commented on #16456
+1

[2018-03-14 00:29] freeseacher commented on #22417
Reusable roles they said...

[2018-03-14 00:55] mmercer-apixio commented on #36152
unfortunately, the deletion was a misdeletion, and I can't recover it myself either.  I guess i'll close this one.  I had been checking it but had no feedback prior to yours so wasn't sure what else was needed (and only deleted the gist file in the past few days) -- it went well over 2 weeks without any feedback, which makes it difficult to maintain momentum and sanity for the situation

[2018-03-14 00:55] #36152 closed, assigned to nobody

[2018-03-14 01:12] mattclay commented on #36062
Here's a more recent failure: https://app.shippable.com/github/ansible/ansible/runs/57754/66/tests

[2018-03-14 01:22] happylynx opened #37379 "dconf: listing a directory"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

dconf

##### ANSIBLE VERSION

[code]

##### DESCRIPTION
Please add listing of dconf directory entries - an ansible wrap of `dconf list`.

This might be helpful for example when one is searching for a name of profile directory. Following example show setting of number of scrollback lines for current gnome-terminal profile in shell. It would b

[2018-03-14 01:59] kbreit commented on #37375
I’m thinking of writing a PR to fix some of these. But I’m trying to decide if some of the commands, such as icmp unreachables, should be set with ‘state’ or a boolean parameter.

[2018-03-14 02:09] ShimpeiIto opened #37380 "a10_service_group, if 'enabled' is specified for 'servers.status', the value of "priority" is reset."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
a10_service_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No output from ansible-config dump --only-changed

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.4 (Santiago)

##### SUMMARY
method : a10_service_group has set "priority" to 1 (defalut value).
If 'enabled' is specified for 'servers.status', the value of "pri

[2018-03-14 02:46] jniederm commented on #35659
@azaghal The problem is that user of dconf module can't get effective value of dconf key if default value is used. In calculator example `ansible localhost -m dconf -c local -a "state=read key='/org/gnome/calculator/base'"` returns `null`. However it doesn't mean the Calculator app is not working since the base is not set. Calculator app uses default value - 10. The module simply refuses to provid

[2018-03-14 03:10] mattclay opened #37383 "Unstable integration test s3_bucket"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

s3_bucket integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test s3_bucket:

https://app.shippable.com/github/ansible/ansible/runs/57768/66/tests

##### STEPS TO REPRODUCE

Run test on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESUL

[2018-03-14 03:40] yuwzho commented on #37321
@zikalino

[2018-03-14 05:27] Akasurde commented on #37337
@Poil Thanks for reporting this issue.

Could you please elaborate more on which file are not removed after absent is called ? In my local environment, I able to remove every file associated with given VM.

needs_info

[2018-03-14 05:40] GulshanPrasad opened #37384 "No error was reported when "tasks" was written twice in a play and unusual output of it"
##### ISSUE TYPE

 - Bug Report
When I by mistake wrote "tasks" section twice in a play, no error was reported in syntax check.Moreover, when i ran that playbook with two "tasks" section in a play, having one task in each "tasks" section, then, first task of first "task" section did not run at all, only second task of second "task" section ran.

 - Feature Idea
 - Documentation Report

##### COMPO

[2018-03-14 06:15] infigoKriti opened #37385 "Ansible role for keycloak role and user creation and mapping between them"
Are there any ansible role under deveopment for keycloak regarding
1. Role creation
2. Creating user
3. role mapping with user

I did find ansible role for client addition and found it useful, waiting for more.

[2018-03-14 06:36] khalidumarr opened #37386 "mail: Connection unexpectedly closed while sending email"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
notification/mail

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no custom configuration, using all default configs.

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I am using correct smtp server credentails but email module is getting stuck and after waiting for 20 seconds it send me
[code]

##### STEPS TO REPRODUCE
Just use above confi

[2018-03-14 06:46] azaghal commented on #35659
Well, since this is merely a wrapper around the `dconf` command, it is essentially impossible for me to extract actual default value unless the `dconf` tool supports it.

Keep in mind that it may very well be that Calculator app does not even store default value in a `dconf` database, though. In that case this is not even a `dconf` (the command/tool) bug.

Can you maybe check if Calculator default

[2018-03-14 06:51] azaghal commented on #37379
This should be fairly easy to implement. I guess adding `state=list` should suffice?

[2018-03-14 07:09] alu opened #37387 "interfaces_file module crash in py3: 'TypeError: a bytes-like object is required, not 'str'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
interfaces_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Python3 version of interface_file module would crash when writes the file, as it expects bytes, not string. Python 2 version works fine.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Passed task, just like in py2 ve

[2018-03-14 07:15] dminca commented on #18901
Issue still occurring with latest Ansible by this date ( `2.4.3.0` ) ?

[2018-03-14 07:17] jszigetvari commented on #36905
@arumel I managed to work around the problem on my own too, but I think this behavior is a regression compared to earlier versions.

[2018-03-14 07:21] trishnaguha opened #37388 "ios_l2_interface doesn't remove trunk vlans"
- Removing trunk_vlan range doesn't work on ios_l2_interface module.
- Also When removing vlan's from allowed vlan list of a trunk interface with `loop`, it will not remove the vlan if it is the last remaining vlan on the interface trunk.
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/network/ios/ios_l2_interface.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENV

[2018-03-14 07:39] trishnaguha commented on #37227
@rogerscuall `action: compare` won't show anything as `changed` since it doesn't change anything, only compares the snapshots. Please double check your directory given to the param `path`.
compare result is only visible in the file you provide to the param `comparison_results_file`.
The module is working fine for me.

[2018-03-14 08:23] yuwzho commented on #23705
close_it

Since this bug is resolved

[2018-03-14 08:37] v-sukt commented on #29420
facing the same issue. Is there any workaround for time-being? I need the directory removed along with the files it contains after archiving.
If I add `/` suffix from `path` the files are archived stripping the directory-path and removed but directory remains - I expected it to archive with the path of parent directory.

[2018-03-14 08:43] Akasurde commented on #37384
@GulshanPrasad Thanks for reporting this issue. Could you please provide `-vvvv` output and playbook that you are using ?

needs_info

[2018-03-14 09:41] Arano-kai opened #37396 "`user` module with `local: true` fail to change group for existing user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`user` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not modified
##### OS / ENVIRONMENT

Master: Debian GNU/Linux 9.3 (stretch)
Slave1: CentOS Linux release 7.4.1708 (Core)
Slave2: Debian GNU/Linux 9.3 (stretch)
##### SUMMARY

When change group of existing user, `user` module with `local: true` use group name, and `lusermod` sup

[2018-03-14 10:16] GulshanPrasad commented on #37384
Thanks Abhijeet for quick response
I understood the issue.
When we write "tasks" twice in one play
second task is listened because I saw a warning saying
"duplicate dict key: tasks detected, using the last dict key"

Thanks

On Wed, Mar 14, 2018 at 2:14 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-03-14 10:44] lufik opened #37397 "constructed inventory does not use group variables from previous inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The constructed inventory plugin doesn't take group variables from previous inventory into account.

##### STEPS TO REPRODUCE
yaml inventory:
[code]

constructed inventory:
[code]

[code]

##### EXPECTED RESULTS
I expect output from ab

[2018-03-14 10:59] Arano-kai opened #37398 "`user` module with `local: true` fail to move nonexistent user home dir despite that `createhome: true` is set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`user` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not modified
##### OS / ENVIRONMENT

Master: Debian GNU/Linux 9.3 (stretch)
Slave1: CentOS Linux release 7.4.1708 (Core)
Slave2: Debian GNU/Linux 9.3 (stretch)
##### SUMMARY
As title say.
Also, removing user with nonexistent home and `local: true` lead to fail, while with `loca

[2018-03-14 11:00] olivier-bezet opened #37399 "apache2_module fails to activate ssl module on ubuntu xenial64"
ISSUE TYPE
Bug Report

COMPONENT NAME

apache2_module

ANSIBLE VERSION
ansible 2.4.2.0
  config file = /Users/.../Documents/git/devops/dev_ob/ansible.cfg
  configured module search path = [u'/Users/.../.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/.../.pyenv/versions/2.7.10/envs/ansible2.7.10/lib/python2.7/site-packages/ansible
  execut

[2018-03-14 11:09] olivier-bezet commented on #37399
Thank you
I have updated my issue with the required fields.

[2018-03-14 11:11] beenje commented on #37303
I agree this should be more a feature request than a bug.
I also understand that using dbus-launch is not ideal.
Still I think that supporting CentOS / RHEL is important (RedHat is behind Ansible after all).

I guess the old code can be seen in the PR commits: https://github.com/ansible/ansible/pull/23015/commits
Correct?

In that case, I'll have a look and see if I can try to propose some changes

[2018-03-14 11:15] olivier-bezet commented on #37399
Note: even with ansible 2.4.3, it has the same behaviour.

[2018-03-14 11:32] olivier-bezet commented on #37399
Another note: when I try with the 'rewrite' module instead of 'ssl', it works perfectly.

[2018-03-14 11:51] olivier-bezet commented on #37399
Another note:
Within ubuntu, when I list the activated modules via "apache2ctl -M", 'ssl_module' always appears even when it is not enabled, whereas e.g., for the 'rewrite' module, 'rewrite_module' appears only when it is activated.

[2018-03-14 12:13] Akasurde commented on #37384
Thanks. Closing this issue. If issue persists, please feel free to re-open.

[2018-03-14 12:13] #37384 closed, assigned to nobody

[2018-03-14 12:22] genofire commented on #6761
I create a PR (after 4 years without a fix - i did not think anybody will do it)

[2018-03-14 12:32] rcarrillocruz opened #37402 "Missing note on netconf unsupported for iosxr_command/config/facts"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

iosxr_command
iosxr_facts
iosxr_config

##### ANSIBLE VERSION

[code]

##### SUMMARY

The iosxr_config, iosxr_facts and iosxr_command modules do not support netconf connection.
However, there is no documentation note in the modules stating so.

[2018-03-14 12:33] rcarrillocruz commented on #37402
https://github.com/ansible/ansible/pull/37401

[2018-03-14 12:35] ZaiusDR commented on #20438
Hi! This is happening to me too. If you need the ouput:

[code]

It seems something like the comparison is done before the variable is registered or something similar, or there is no dict output after this kind of error.

[2018-03-14 12:36] Akasurde commented on #37352
@dyasny Seems like this is problem since the inception of this module.

[2018-03-14 12:40] Akasurde commented on #20438
@ZaiusDR What is Ansible version ?

[2018-03-14 12:57] ZaiusDR commented on #20438
@Akasurde The same one: `ansible==2.4.3.0` with `python version = 2.7.13`

[2018-03-14 13:03] mkrizek commented on #21006
@shobhitsingh Thanks for the info, closing.

[2018-03-14 13:03] #21006 closed, assigned to nobody

[2018-03-14 13:28] dyasny commented on #37352
@Akasurde quite possibly

[2018-03-14 13:51] mkrizek commented on #30638
@kepeket can you please test if #31577 fixes your issue? Thanks!

[2018-03-14 13:56] maxamillion commented on #37319
I agree this would be an useful feature, it's been brought up before to add other firewalld functionality that's also a bit more specific in comparison to "the basic use case". I think it'll make sense for me to refactor out the common code from the firewalld module into `module_utils` to make it easier to add these more specific use case features as separate modules and not duplicate code. I'll t

[2018-03-14 14:11] ssbarnea opened #37404 "xml module reports changes even when no changes are performed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that the XML module reports ``changed: true`` even when no changes are performed into the XML file.

The backup file being created is identical with the final file.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL R

[2018-03-14 14:15] antoinetran commented on #20492
Why is this issue closed? We installed latest ansible 2.4.2.0 in latest RedHat 7.4, that is a clean machine from scratch. It requires docker-py and python3 is not installed. Ansible RPM provides docker.py, and NOT docker-py. It is inconsistent of Ansible to install docker.py and to use docker-py.py.

[2018-03-14 14:15] nerlion opened #37405 "block/always/rescue does not work with any_errors_fatal if failed inside include_role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

any_errors_fatal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles', u'/home/ans/ans
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY

Specifically, when using block/always construct with any_

[2018-03-14 14:16] zikalino commented on #37321
@dealkk i briefly checked your playbook and it seems that your template is not formatted properly.

"resources:" should be at the same level as "parameters:" in the template.

could you fix it and check if your template works?
if it doesn't work, could you paste the same template in JSON format?

[2018-03-14 14:20] smiller171 commented on #13262
@staylorx in most playbooks the two situations should create the same result, but there are some situations where you may want to do several tasks on a single item, and then move onto the next item.

Admittedly, in the few situations where this can come up it may be better to write a custom module to handle all of the things you want to do as a single task for better idempotency.

[2018-03-14 14:22] evgenyfedoruk opened #37406 "vdirect_file module does not notify the user about invalid state of uploaded source"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vdirect_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When invalid workflow template or configuration template is uploaded, success status is reported back instead of a failure that describes the invalid state of the uploaded source

##### STEPS TO REPRODUCE

update_canary.vm source should have pa

[2018-03-14 14:23] julienvey commented on #37368
This should be fixed in the future 2.5 release by #32202 (original issue #32098)

Can you try with the latest rc `2.5.0rc2` ?

[2018-03-14 14:27] IPvSean commented on #32405
@gundalow haha I think this one becomes kind of irrelevant now with 2.5 connection plugins but I retried real quick->

[code]

it works!->

[code]

[2018-03-14 14:27] bcoca commented on #37397
@lufik do you want to submit a PR with the change above?

[2018-03-14 14:39] gail-b-stewart commented on #26190
Would it be possible for the user to tell you which scalars to decrypt - not try to do the whole file?

[2018-03-14 14:39] julienvey commented on #37322
`ec2_elbs` is actually a fact returned by the module. The description of the module already mentions it

So your variable is being overwritten by the fact. A simple workaround is to rename your variable.

I don't know what is expected from ansible in such a case

[2018-03-14 14:49] bcoca commented on #37322
i would say 'this works as expected' ... if you want to avoid facts from going into the 'main namespace' there is a configuration toggle now: http://docs.ansible.com/ansible/devel/reference_appendices/config.html#inject-facts-as-vars

[2018-03-14 14:54] sm4rk0 commented on #37404
Could you give some steps to reproduce in order to find the error in module?
Hint for debugging:
There's `changed` argument to the `finish` method, but it's never used.

[2018-03-14 15:21] beenje commented on #34505
The difference between import_tasks / include_tasks search path might be linked to https://github.com/ansible/ansible/issues/33784

[2018-03-14 15:59] hanej opened #37408 "Variable Loading Messages"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=no -o ControlPersist=60s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%h-%%p-%%r
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACH

[2018-03-14 16:30] awr commented on #22171
Having the same issue with dse opscenter on ansible 2.4.3 running against CentOS 7.4

[2018-03-14 16:34] indivisiblewalrus commented on #37375
@kbreit
re: unreachables|redirects
As long as the docs are clear on behavior, shouldn't matter which since neither take args.  for NXOS, I believe redirects is enabled(ip redirects) by default, and unreachables are disabled(no ip unreachables) by default

e.g. ip_unreachables: <state>
disable - apply 'no ip unreacables'
enable - apply 'ip unreachables'

would work fine.

[2018-03-14 16:41] dw opened #37411 "synchronize action plug-in does not call Connection.close()"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

plugins/action/synchronize.py

##### ANSIBLE VERSION

[code]

(Also verified in Git devel)

##### CONFIGURATION

(empty output)

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The synchronize action plug-in uses the connection loader to explicitly construct a 'local' connection of its own, but then assumes a specific implementation that does not

[2018-03-14 16:45] mmolinac opened #37412 "Implementation of additional options for gce_lb needed"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
gce_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
allow_world_readable_tmpfiles=True
host_key_checking = False
retry_files_enabled = False
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = /tmp/.ansible/cp

##### OS / ENVIRONMENT
Ansible running on MacOS High Sierra 10.13.3, Darw

[2018-03-14 16:48] gundalow opened #37413 "FAQ + `_config` Network docs: diff when using "short form" commands"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ios_config
eos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need to make it clear in all documentation that you should always use the long form, such as `interface` rather than `int`, as this will cause a diff.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2018-03-14 17:18] liorco250 commented on #31901
Hi,
have the same issueansible 2.6.0 (devel dd0140dfed) last updated 2018/03/14 18:57:09 (GMT +300)
,---
vars.file
nxos_provider:
  transport: cli

hadoop_port:
  - { interface: Eth100/1/31, description: "#RESERVED SERVER : HADOOP ecprdbhdp34-master #",port_channel: 101 ,state: present}

My configuration is
---
- name: DEFINE HADOOP PORT
  nxos_config:
    commands:
      - 'description {{ item.de

[2018-03-14 17:53] mtnbikenc commented on #30864
This would be very helpful in debugging complex multi-item `when:` conditionals.

[2018-03-14 17:56] AnsibleBala commented on #16460
HTTPConnectionPool

error states the firewall issue , need to enable the firewall and allow the port locally . (in windows -> allow or set the inbound rule for the port of the specific service.

[2018-03-14 18:05] bcoca commented on #35188
@RealFlachmann the module is executed on the target, your other module is not there.

Ansible has a special facility to copy shared code for modules to use on the target, but that code must live in `module_utils`.

[2018-03-14 18:08] #37060 closed, assigned to nobody

[2018-03-14 18:26] ryanpineo commented on #29724
This seems fixed in 2.3 and up

[2018-03-14 18:28] liorco250 opened #37416 "[NXOS_CONFIG] Indempotency is not working in some parent configuration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

NXOS_CONFIG

##### ANSIBLE VERSION
nsible 2.6.0 (devel dd0140dfed) last updated 2018/03/14 18:57:09 (GMT +300)
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/liorc/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/liorc/ansible/Ansible-NXOS/ansible/lib/a

[2018-03-14 18:29] saichint opened #37417 "nxos_udld issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_udld
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(2)

##### SUMMARY

##### STEPS TO REPRODUCE

There are multiple issues with nxos_udld module
* When the state is set to absent, both msg_time and aggressive are set to their default values but the documentation (and some

[2018-03-14 18:34] ybalt opened #37419 "s3_bucket failed with traceback when state:absent and bucket not exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY

Fail and traceback when s3 bucket not exist and state: absent

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
s3_bucket should return status: ok

##### ACTUAL RESULTS
[code]

[2018-03-14 19:33] hryamzik commented on #37387
@alu can you try to change `f = os.fdopen(tmpfd, 'wb')` to `f = os.fdopen(tmpfd, 'w')` [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/interfaces_file.py#L332)?

[2018-03-14 19:35] mkrish004c opened #37425 "ovirt_cluster, failing with the "TypeError" on the ovirtsdk4 library"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_cluster:

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
Ovirt_cluster module is failing every time with python "TypeError" on ovirtsdk4 modules.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect the Cluster should be created.

##### ACTUAL RESULTS

But ends with bel

[2018-03-14 19:37] mat013 opened #37426 "Feature request: support for relative copying from inventories folder"
Feature Idea

##### COMPONENT NAME
Ansible

##### SUMMARY
In the best practice section of the ansible documentation
http://docs.ansible.com/ansible/latest/playbooks_best_practices.html#alternative-directory-layout

it is suggested that the organisation of files are split by each inventory that one makes in this case per environment. It gives the advantage that anything, which is relevant for that

[2018-03-14 20:17] rwaweber commented on #37319
Awesome, that sounds great!

[2018-03-14 20:54] dteleguin opened #37432 "urpmi: update_cache is broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
urpmi

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mageia Linux 6

##### SUMMARY
In the `urpmi` module, `update_cache` is borked.
The `urpmi.update` executable resides in `/usr/sbin`, thus it should be invoked with full path. At the moment, it is called as is, causing "[Errno 2] No such file or directory".

#####

[2018-03-14 21:32] Tabrizian opened #37433 "InventoryManager"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
InventoryManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I'm trying to use the ansible programmatically inside Python. My code worked with Ansible version below 2.3. But now I'm currently unable to use my code below. Because InventoryManager fails to identify the list of hosts corr

[2018-03-14 21:36] Tabrizian commented on #37433
!component =lib/ansible/inventory/manager.py

[2018-03-14 21:50] azaghal commented on #37303
Yeah, I think the super-duper magical context manager can be seen at https://github.com/ansible/ansible/pull/23015/commits/2cdd31ee35e11a6407ddee65eb1fb55c9018c16f

Mind you, this has already been through discussions, and has been refused for merging. I think there might be some link somewhere in comments of that PR regarding discussion held on IRC. Let me know if you can't find it, and I'll try t

[2018-03-14 21:59] UnitedMarsupials commented on #36600
Ok, yes, the new feature is not _entirely_ useless. However, it is not as useful as it could've been, because it is gratuitously difficult to combine the inventories (sources) while retaining the variables.

Consider the following use-case:
- Ansible is used to manage multiple instances (Dev, UAT, QA, Production) of a distributed application
- Each application instance uses multiple servers playin

[2018-03-14 23:16] orderedchaosdev commented on #37322
should it really be setting a fact like that? I would think that should only go into the register var if I assign it one

[2018-03-14 23:25] orderedchaosdev commented on #37322
For example if I wanted to remove an instance from multiple load balancers using a with_items loop that fact no longer seems as useful.

[2018-03-14 23:54] chillipeper commented on #4297
Same issue here, there is no obvious way to know that register will override a variable when using conditionals

[2018-03-15 00:15] consolewitch opened #37441 "Ansible incorrectly evaluates 'null' as a variable name in when statements"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
"when" conditional

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
It doesn't seem possible to test if a variable is set to the reserved word null

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected to be able to test if a variable had been set to null

##### ACTUAL RESULTS
[code]

[2018-03-15 00:22] alu commented on #37387
@hryamzik

Tried that both py3 and py2 then works fine in my case.

[2018-03-15 00:32] #30142 closed, assigned to nobody

[2018-03-15 00:33] #29586 closed, assigned to nobody

[2018-03-15 00:36] #21825 closed, assigned to nobody

[2018-03-15 00:36] #29317 closed, assigned to nobody

[2018-03-15 01:08] bcoca commented on #37441
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

'null' is not a reserved word, it has no special meaning in this context, you want `null_var is None`.

In the future, this might be a

[2018-03-15 01:08] #37441 closed, assigned to nobody

[2018-03-15 01:57] honkycat commented on #37148
Ahhh, actually I take it back @flaper87 Helm is just not a good tool to use in kubernetes development. It's under-powered templating engine prevents you from writing decent abstractions to kubernetes resources. How many times am I going to have to copy and paste:

[code]

I recently ported all of my helm charts to `Ansible.k8s_raw` and i'm MUCH happier.

[2018-03-15 01:57] #37148 closed, assigned to nobody

[2018-03-15 02:12] andreeleuterio opened #37444 "Sample Python API code issues"
Hi,
I'm running ansible version 2.5.0rc2 (although this happened to other versions as well) and the sample Python API code cannot load two dependencies:
from ansible.vars import VariableManager
from ansible.inventory import Inventory

I was able to fix the first one because digging through the source code, I found the file in ../ansible/vars/manager.py, so I changed it to:
**from ansible.vars.mana

[2018-03-15 02:23] #37444 closed, assigned to nobody

[2018-03-15 03:11] jniederm commented on #35659
Based on researching source of [gnome-calculator][1] and [dconf][2] it seems to me that:
* gnome-calculator doesn't use dconf directly, it uses gsettings (built on top of dconf). The default is taken from the calculator gsettings [schema][3]
* dconf is a multi-layer key-value db that has notion of default value on its own (different from defaults in gsettings schema). However dconf usually uses si

[2018-03-15 03:11] #35659 closed, assigned to nobody

[2018-03-15 04:04] jborean93 commented on #37426
@mat013 you are probably going to be better off adding this proposal to the next Ansible meeting and talking about it there https://github.com/ansible/community/issues/296.

[2018-03-15 04:08] jborean93 commented on #37433
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-03-15 04:08] #37433 closed, assigned to nobody

[2018-03-15 05:09] kyliel commented on #36206
Thank you Zim and jigarjian-brian.
@jborean93 , can you please close this issue? See above comment "I believe this issue can be closed. I have included my successful playbook below.".

[2018-03-15 05:42] naisanza opened #37446 "shell module unable to use "echo -e" option"
##### ISSUE TYPE

 - Bug

##### COMPONENT NAME

Ansible Module: shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 17.10.1

##### SUMMARY
If the `-en` option is used with echo in the `shell` module, it prints back out `-en`

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-15 05:58] trishnaguha commented on #37416
@liorco250 Thanks for the bug report.
We do not guarantee idempotence when using `lines` or `commands`.

[2018-03-15 05:59] trishnaguha commented on #37375
We plan to implement this in 2.6.0 as nxos_ip_interface is still available in 2.5.

[2018-03-15 06:04] #37388 closed, assigned to trishnaguha

[2018-03-15 06:34] trishnaguha commented on #37305
@heathdbrown Can you please give the module a try on devel or 2.5?

For 2.5
[code]

For devel
[code]

[2018-03-15 06:47] liorco250 commented on #37416
Hi,
Its a problem we use nxapi cli,
No other option on nexsus n5k,
Will this issue be fixed ?

[2018-03-15 06:47] den-is opened #37448 "lineinfile ignores regex match and inserts line which contains \n"
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Don't change resource as it already exists

##### ACTUAL RESULTS
lineinfile always appends line after `\n`
[code]
[code]

I have tried different regex patterns for match
[code]

[2018-03-15 07:00] caphrim007 commented on #36504
@devopsian without more information, I don't have a suggestion. The error suggests that you're using the wrong IP of the BIG-IP, wrong username, password, or port.

[2018-03-15 07:24] trishnaguha commented on #37416
@liorco250 I hope you are trying to do something like:
[code]
This actually is idempotent for me.
[code]
You can use `aggregate` with `nxos_interface` module for this task http://docs.ansible.com/ansible/latest/nxos_interface_module.html if the above doesn't work for you.

[2018-03-15 08:00] #36237 closed, assigned to nobody

[2018-03-15 08:01] maxgio92 commented on #37368
Hi @julienvey , ok, I'm going to try it as soon as possible.
Thank you

Actually, as a workaround, I'm obtaining the desired with two tasks: creating from scratch the Target Group without Targets and later updating it with the Targets.

[2018-03-15 08:03] ntelisil commented on #14117
Any news on this?
Do we really need to create a new issue? - only the 'tags' in the component name was missing...

[2018-03-15 08:12] mkrizek commented on #30169
duplicate_of #36799

[2018-03-15 08:15] #30169 closed, assigned to nobody

[2018-03-15 08:24] #25242 closed, assigned to bcoca

[2018-03-15 08:33] mkrizek commented on #29507
duplicate_of #27798

[2018-03-15 08:40] #29507 closed, assigned to nobody

[2018-03-15 08:42] mkrizek commented on #29676
@alexppg It is, thanks for pointing that out. Closing.

[2018-03-15 08:42] #29676 closed, assigned to nobody

[2018-03-15 09:00] liorco250 commented on #37416
Hi,
ran your example:

config:
  - { interface:  Eth100/1/31, description: Configuring Ethernet }
  - { interface: port-channel101, description: Configuring port-channel }
---
- name: PORT
  nxos_config:
      lines: "description {{ item.description }}"
      parents: "interface {{ item.interface }}"
      match: line
  with_items:
    - "{{ config }}"

TASK [nxos : PORT] *************************

[2018-03-15 09:21] winem opened #37455 "gather facts: "Invocation had junk after JSON data" since 841cb0e"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No deviations from the default configuration.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Gathering Facts throws a Warning which says "[WARNING]: Module invocation had junk after the JSON data: TypeError("'str' object does not support item assignment",)" since 841cb0e.
I ran the pla

[2018-03-15 09:21] hryamzik commented on #37387
Cool, it would be great if you could create a PR for this.

[2018-03-15 09:29] liorco250 commented on #37416
Hi,

Added debug i think matching include the parent interface in the line commands

hanged: [10.73.225.248] => (item={'interface': 'Eth100/1/31', 'description': 'Configuring Ethernet'}) => {
    "changed": true,
    "commands": [
        **"interface Eth100/1/31",**
        "description Configuring Ethernet"
    ],
    "invocation": {
        "module_args": {
            "after": null,

[2018-03-15 09:33] liorco250 commented on #37416
Hi,
Found the problem my bad was using Eth instead of Ethernet,

Thanks for you help !

[2018-03-15 09:33] #37416 closed, assigned to nobody

[2018-03-15 09:33] trishnaguha commented on #37416
Does `show interface` result has the Ethernet interface you have given above?

[2018-03-15 09:45] Akasurde commented on #37455
!component=lib/ansible/module_utils/facts/compat.py

[2018-03-15 09:51] dincho commented on #4688
This is unexpected behaviour for me too. Here is the usecase:

- using 2 clouds: C1 and C2 (will add more soon)
- setup.yml playbook that add new application user (besides other privileged tasks) and requires sudo/privileged user
  - C1 have "sudo1" as sudo user
  - C2 have "sudo2" as sudo user
- deploy.yml playbook using the unprivileged user from the previous playbook

I can't run the setup.yml

[2018-03-15 09:54] rost-d opened #37457 "Need module for L3Out configuration (basic + adding external EPGs)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

aci_aep
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need module for L3Out configuration (basic + adding external EPGs)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-15 10:00] mavink78 opened #37458 "instance_role parameter for ec2_instance module doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code]
This was updated using "pip install git+https://github.com/ansible/ansible.git@devel" today.

##### CONFIGURATION

DISPLAY_SKIPPED_HOSTS(/Users/vink/.ansible.cfg) = True
HOST_KEY_CHECKING(/Users/vink/.ansible.cfg) = False
RETRY_FILES_ENABLED(/Users/vink/.ansible.cfg) = False

##### OS / ENVIRONMENT

[2018-03-15 10:07] #37417 closed, assigned to trishnaguha

[2018-03-15 10:15] brahim-raddahi commented on #12686
Looks like newer versions of Ansible are expecting the prompt of the become_method

For sudo it overrides it (-p option)
For su it expects the default one, which is "Password: "

If you set the become_method to su and the become_exe to "sudo su -", then you are presented with the default sudo prompt, while Ansible is expecting the "su" prompt, which causes the error message
"Timeout (12s) waiting

[2018-03-15 10:50] #31799 closed, assigned to nobody

[2018-03-15 12:04] henti commented on #16536
same problem here. We upgraded to mono-project repo and found an issue and needed to downgrade to stretch version again.

CLI `apt-get -s install -t 9.4 mono-devel` works perfectly,
`apt: name="mono-devel" default_release=9.4 state=latest` installs the latest mono-project version.

[2018-03-15 13:15] kevensen commented on #37073
@W73  I haven't forgotten about this.  This is interesting.  I'll investigate it in the next couple of days.

[2018-03-15 13:23] ingnil commented on #29240
I can reproduce the bug using a devel version (HEAD cloned today). Task and output follows:

- name: Install Node package Mochito
  become: true
  npm:
    name: mochito
    global: yes
    executable: /usr/local/bin/npm

Output:

Traceback (most recent call last):
  File "/tmp/ansible_wHfn0w/ansible_module_npm.py", line 291, in <module>
    main()
  File "/tmp/ansible_wHfn0w/ansible_module_npm.py

[2018-03-15 13:39] jchristopher327 commented on #19586
@gundalow FYI, the bot just closed the issue because the original user who created the issue hasn't commented.

[2018-03-15 13:51] kostrzewa9ld opened #37466 "variables from dependant roles are not available inside roles imported with import_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
output is empty

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a playbook which imports a role using `import_role`. The imported role has dependency to a role that defines some variables (in `defaults/main.yml`). As one of the tasks the import role imports yet another role via `i

[2018-03-15 14:07] bcoca commented on #33137
fixed via #28729

[2018-03-15 14:07] #33137 closed, assigned to nobody

[2018-03-15 14:19] lufik opened #37467 "constructed inventory compose only string variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_INVENTORY_ENABLED=yaml,constructed

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The variable created via constructed plugin using compose is everytime unicode string.
Debug module shows dictionary/list ok but internally it's unicode string so if I try to access
value in dictio

[2018-03-15 14:23] bcoca commented on #37467
You are specifically creating them as strings:
[code]

if you want a dict or a list:
[code]

[2018-03-15 14:39] Transrian opened #37468 "Register a skipped task still set the register variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

All with using register + when combo

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Create a task with a register, that will be skipped by the playbook, change the value of the register value. It can't be a problem in the majority of cases, but when you ever set this value, it's value is erased

[2018-03-15 14:42] bcoca commented on #37468
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Variable registration cannot be skipped, this is so you can test:  `when: output is skipped`.

In the future, this might be a topic mor

[2018-03-15 14:42] #37468 closed, assigned to nobody

[2018-03-15 14:42] alikins commented on #37303
Relabeled as a feature request and updated title to reflect that. Since the use of dbus-launch as a workaround in 'dconf' module has already been tried and discussed and and decided against, it's unlikely to be implemented in 'dconf' module.

But I updated the issue title to suggest it could maybe be a candidate for a new module.  The same issues and problems would exist in a new module of course,

[2018-03-15 14:47] jctanner commented on #14468
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Some key phrases from the comments in this ticket:

* I'm running ansible against localhost.
* Could not import python modules: apt, apt_pkg.
* I believe this error is virtualenv related o

[2018-03-15 14:47] #14468 closed, assigned to nobody

[2018-03-15 15:22] sergeyjsg opened #37471 "docker_service's container_name conflicts with scale"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
RETRY_FILES_ENABLED(/Users/sergey/.ansible.cfg) = False

##### OS / ENVIRONMENT
OS X (master) vs Ubuntu (slave)

##### SUMMARY
docker_service's container_name option conflicts with scale option. When both specified and scale >= 1, for service name `hohoho` dummy error is thrown: `

[2018-03-15 15:23] cryptmin opened #37472 "consul function 'script' depreciated by Consul"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

consul
##### ANSIBLE VERSION

[code]
##### CONSUL VERSION
[code]
##### CONFIGURATION

ANSIBLE_COW_SELECTION(env: ANSIBLE_COW_SELECTION) = duck
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = False

##### OS / ENVIRONMENT

host = Ubuntu 17.10
remote_host = Ubuntu 16.04.4 LTS
##### SUMMARY

##### STEPS TO REPRODUCE

To reproduce use the 'script' function

[2018-03-15 15:27] lufik commented on #37467
Take a look I have to specify "'string'" (quote and apostrophe) for string value - otherwise it gets it as a variable name. Compose gives everything into {{ }} for jinja2 templating.

I find the problem using my own filter creating dictionary. It works from group_vars but it doesn't work from compose.

This is the result of what you mentioned:
PLAY [localhost] *************************************

[2018-03-15 15:32] Arano-kai commented on #37396
Forgot to clarify: in given play used `group` opt, that play normal if `gid` used, but for `groups` opt even using numbers leads to `Error parsing arguments: unknown option.\nUsage: lusermod ...`

[2018-03-15 15:33] Mixer9 opened #37473 "rhn_register fails with ssl cert verification even when passing sslcacert option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rhn_register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/v683653/development/ops/redhat/ansible/ansible.cfg) = [u'/home/v683653/development/ops/redhat/ansible/inventory/hosts.inv']

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

When attempting to register a host the

[2018-03-15 15:33] Mixer9 commented on #37473
CC @maxamillion

[2018-03-15 15:35] kakawait commented on #19125
I would like such feature because I would want to clone `.git` folder only with `-n/--no-checkout`

Instead of asking a new module parameter, to respond every needs `--extra_args` will allow user to support other things that is not directly supported by the module parameters.

If nobody is working on it I may prepare a PR

[2018-03-15 15:35] gangefors commented on #14468
Is there no installable python package that can replace the system wide installed python-apt package so that we can use a virtualenv to run all tasks in a playbook?

[2018-03-15 15:47] Arano-kai commented on #37396
It seems that `lusermod` can change only primary group.
For group member manipulations one need to use `lgroupmode`:
[code]

[2018-03-15 15:58] bcoca commented on #37467
which leads me to .. why are you 'composing' static values? the feature is designed for dynamic creation.

Also, adding a filter should fix the above `|list` or `|dict`

[2018-03-15 16:15] Akasurde commented on #32032
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-03-15 16:15] #32032 closed, assigned to nobody

[2018-03-15 16:18] lufik commented on #37467
I'm using filter in my use case and the result is dynamic. I provided minimal reproducible test case.

It doesn't work without quotes (can I stop testing it without quotes?):
ERROR! Could not parse inventory source /ansible/test/constructed_compose_iter/inventory/z_constructed.config with available plugins:
Plugin constructed failed: Unable to parse /ansible/test/constructed_compose_iter/inventory

[2018-03-15 16:22] lufik commented on #37467
I tried much more to make it work. I played with it more than one day. I also tried to take a look into the code but I don't understand the internals enough to find the root cause.

Feel free to mark it as feature request if you don't like it as bug report.

[2018-03-15 16:32] #23155 closed, assigned to nobody

[2018-03-15 16:43] LukWe99 opened #37479 "Feature Request: Add config file option to permanently enable verbose output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes made.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
To enable verbose output for playbooks you always have to use the -v parameter on the command line. As I always want to have verbose output this is inconvenient for me.

So I suggest adding an option to the config file which

[2018-03-15 16:47] Akasurde commented on #37231
Closing this as issue is related to external Ansible Role. I would recommend to open an issue against the original repository where this role is provided.

[2018-03-15 16:47] #37231 closed, assigned to nobody

[2018-03-15 16:49] Akasurde commented on #36915
@resyst-it I have started working on VMware inventory plugin which will support this feature. You can find the PR #37456

[2018-03-15 16:49] #37362 closed, assigned to Qalthos

[2018-03-15 16:49] #37363 closed, assigned to Qalthos

[2018-03-15 16:51] Akasurde commented on #36027
@Tclemento I will close this issue. Feel free to re-open if it persists.

[2018-03-15 16:51] #36027 closed, assigned to nobody

[2018-03-15 16:58] mattclay opened #37481 "Unstable integration test aws_s3"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

aws_s3 intgration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test aws_s3:

https://app.shippable.com/github/ansible/ansible/runs/57909/44/tests

##### STEPS TO REPRODUCE

Run test on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

Tes

[2018-03-15 17:00] mattclay commented on #37481
Another occurrence: https://app.shippable.com/github/ansible/ansible/runs/57909/45/tests

[2018-03-15 17:00] mattclay commented on #37481
And another: https://app.shippable.com/github/ansible/ansible/runs/57910/44/tests

[2018-03-15 17:00] mattclay commented on #37481
And another: https://app.shippable.com/github/ansible/ansible/runs/57910/45/tests

[2018-03-15 17:01] resyst-it commented on #36915
@tonyskidmore Ho, yes you are right !

@Akasurde Great i will take a look. Thank you.

[2018-03-15 17:01] tchia04 opened #37482 "Please add decrypt option to win_copy module to control the autodecryption of source files using vault"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_copy module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Current the copy module for linux has the decrypt option. However the win_copy module does not.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-15 17:10] dagwieers commented on #37482
Looking at both **copy** and **win_copy** action plugins, it seems that **win_copy** does support the decrypt parameter ? So it might just be a documentation issue. Did you test this in v2.5/devel branch ?

[2018-03-15 17:11] dagwieers commented on #37482
So this is coming with Ansible v2.5 !

[2018-03-15 17:11] #37482 closed, assigned to nobody

[2018-03-15 17:49] adrianlzt commented on #31377
I was having the same problem. In my case because of the parameter "restart_retries".
Checking the output of the task I saw:
[code]

[2018-03-15 17:51] samdoran commented on #37466
Thanks for the very detailed reproducer. I'm able to duplicate this on 2.4, 2.5, and devel.

[2018-03-15 18:02] b2sweety commented on #33414
Hi, I am seeing the same issue on Aruba 225 IAP (Version 6.5.3.30)
e<1x.xx.xx.x1> socket_path: None
fatal: [Aruba-IAP]: FAILED! => {
    "changed": false,
    "failed": true,
    "msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell"
}
Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-

[2018-03-15 18:08] mkrizek commented on #29485
Closing as per above. Please re-open if the issue persists.

[2018-03-15 18:08] #29485 closed, assigned to nobody

[2018-03-15 18:34] mattclay commented on #36066
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57921/66/tests

[2018-03-15 18:36] mattclay commented on #36066
And another: https://app.shippable.com/github/ansible/ansible/runs/57921/67/tests

This and the previously noted failure ran concurrently (Python 2 and 3). I'm not sure if that's coincidence or possibly has something to do with the failure.

[2018-03-15 18:39] mattclay commented on #36083
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57929/66/tests

However, the failure is different than the one originally reported:

[code]

[2018-03-15 18:40] mattclay commented on #36062
Here's another failure: https://app.shippable.com/github/ansible/ansible/runs/57929/67/tests

[2018-03-15 18:53] drewmullen opened #37486 "win_copy breaks if dest value contains a quoted path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.4

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_METHOD(/etc/ansible/ansible.cfg) = sudo
DEFAULT_BECOME_USER(/etc/ansible/ansible.cfg) = root
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansi

[2018-03-15 19:01] dagwieers commented on #37486
Yes, this is a common problem when using YAML strings (using double quotes) and is explained in the (new) Windows documentation: http://docs.ansible.com/ansible/devel/user_guide/windows_usage.html#path-formatting-for-windows

If you use double quotes backslashes escape certain characters, like \p and \t, so we recommend to use no quotes (or single quotes if you have to) in YAML for paths. (In fact

[2018-03-15 19:02] #37486 closed, assigned to nobody

[2018-03-15 19:05] mattclay commented on #36083
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57935/66/tests

[2018-03-15 19:05] mattclay commented on #36066
Another one: https://app.shippable.com/github/ansible/ansible/runs/57935/67/tests

[2018-03-15 19:06] mattclay commented on #36062
Another one: https://app.shippable.com/github/ansible/ansible/runs/57935/67/tests

[2018-03-15 19:13] s-hertel commented on #36066
Note to self:
Will be partially fixed by: https://github.com/ansible/ansible/pull/37354
Still needs subnet and route table stabilization

[2018-03-15 19:13] Spindel commented on #22568
This is still an issue, just as for databases.

[2018-03-15 19:19] robertdebock commented on #33314
@peterjanes, if I understand you correctly, you've got some code to make this work. Could you make a merge request on which we can vote?

[2018-03-15 19:20] s-hertel commented on #36062
Note to self:
Will be partially fixed by #37354
Still needs ec2_group stabilization. Going to add that to #37255.

[2018-03-15 19:21] Brian-Williams opened #37489 "Windows timeout raising TypeError with py3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/testing/.ansible/ansible.cfg) = ['/home/testing/.ansible/hosts']
DEFAULT_LOG_PATH(/home/testing/.ansible/ansible.cfg) = /tmp/ansible.log
DEFAULT_MODULE_PATH(/home/testing/.ansible/ansible.cfg) = ['/home/testing/.ansible/library']
DEFAULT_SCP_IF_SSH(/home/testing

[2018-03-15 19:23] s-hertel commented on #36083
Partially fixed by: #37354
Still needs ec2_vpc_subnet stabilization

[2018-03-15 19:33] peterjanes commented on #33314
Sure. Didn't want to go through the process if it wasn't something that would be more widely useful.

[2018-03-15 19:51] mattclay commented on #36066
Additional failures:

https://app.shippable.com/github/ansible/ansible/runs/57939/66/tests
https://app.shippable.com/github/ansible/ansible/runs/57939/67/tests

[2018-03-15 19:51] mattclay commented on #36062
Additional failure: https://app.shippable.com/github/ansible/ansible/runs/57939/67/tests

[2018-03-15 19:51] mattclay commented on #36068
Additional failure: https://app.shippable.com/github/ansible/ansible/runs/57939/67/tests

[2018-03-15 19:52] mattclay commented on #36063
Additional failure: https://app.shippable.com/github/ansible/ansible/runs/57939/67/tests

[2018-03-15 20:06] robertdebock commented on #33314
If you mention this issue (#33314), I'll test and upvote your merge request.

[2018-03-15 20:17] s-hertel commented on #36068
Note to self:
Partially fixed by #37354
Still needs backoff for ec2_ami and ec2_vpc_subnet stabilization

[2018-03-15 20:18] Vye commented on #37200
I'm also affected by this. I've followed the steps outlined here and still get the same error as @jean-christophe-manciot. Can we get this re-opened @sivel?

[code]

[code]

[2018-03-15 20:27] mkrizek commented on #26521
@chefkoch666 can you please be more specific what "it does not work for me" mean in your case?

needs_info

[2018-03-15 20:28] mkrizek commented on #26521
@martinanderssondotcom your issue seems to be different from what the original description of this issue says, can you please create a new issue? Thanks!

[2018-03-15 20:32] gsnbs3 commented on #33414
Same here on procurve 5412, aruba 2920, 2948.
netminko connecting flawlessly.
The press any key freeze ansible connection waiting for an any key to be enter and timeout.

[2018-03-15 20:36] mkrizek commented on #29630
@MacDschie shouldn't the package name be `libxrender1` instead of `libXrender1`?

needs_info

[2018-03-15 20:41] mattclay commented on #37481
This was an issue with the tests for stable-2.4 and is now fixed thanks to https://github.com/ansible/ansible/pull/37490

[2018-03-15 20:43] jctanner commented on #16536
Used this test playbook on a jessie64 vagrant box

[code]
/usr/bin/apt-get -y -o "Dpkg::Options::=--force-confdef" -o "Dpkg::Options::=--force-confold"     install 'redis-server' -t 'jessie-backports'
[code]

[2018-03-15 20:43] b2sweety opened #37492 "GSS Module failure exception while running playbooks on Network devices"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME

Module: Cisco IOS network module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Cisco WS-C6504-E-Cisco IOS Software, s72033_rp Software (s72033_rp-ADVIPSERVICESK9_WAN-M), Version 12.2(33)SXI9, RELEASE SOFTWARE (fc2)

##### SUMMARY
Getting below error when trying to retrieve the running config of the Cisco switch.
f

[2018-03-15 20:48] mattclay commented on #37320
Test disabled in https://github.com/ansible/ansible/commit/58eb2e849d6e1b7c23b0f4b25e4dd3af1a1fd4d4

[2018-03-15 20:49] mattclay commented on #36062
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57950/66/tests

[2018-03-15 20:50] mattclay commented on #36066
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57950/66/tests

[2018-03-15 20:50] mattclay commented on #36063
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57950/66/tests

[2018-03-15 20:51] mattclay commented on #36062
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57950/67/tests

[2018-03-15 20:57] jborean93 commented on #34210
@DRAKUN you cannot use Python modules like `git` with Windows. Windows uses PowerShell and their modules typically start with `win_`.

You can delegate the modules to run on localhost (Ansible controller) but then you need to move those files to the Windows host, e.g.

[code]

[2018-03-15 20:57] #34210 closed, assigned to nobody

[2018-03-15 21:09] mattclay commented on #36066
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57957/66/tests

[2018-03-15 21:09] mattclay commented on #36066
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57957/67/tests

[2018-03-15 21:10] mattclay commented on #36068
Another failure: https://app.shippable.com/github/ansible/ansible/runs/57957/67/tests

[2018-03-15 21:18] jborean93 commented on #37489
Hi @Brian-Williams this issue was recently fixed and will be available in the 2.5 and 2.4.4 release. It was fixed in devel/2.5 with https://github.com/ansible/ansible/pull/33855 and a small part was backported to 2.4 which fixed the traceback error here https://github.com/ansible/ansible/commit/1ddd9dabd848a7dfdda08bb6d9723797a8c9bfa2#diff-4027b6fb84a6b8cdcd2ae5a0d348998d.

[2018-03-15 21:18] #37489 closed, assigned to nobody

[2018-03-15 21:20] indivisiblewalrus opened #37494 "nxos_bgp_af.py local variable 'command' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_bgp_af

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PARAMIKO_HOST_KEY_AUTO_ADD(env: ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD) = True

##### OS / ENVIRONMENT
debian9
nxos 7.0.3(I7)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expected configuration to be a

[2018-03-15 21:24] b2sweety commented on #37492
As I check now, this is causing my playbooks to fail across all Network modules i.e.  Aruba, Fortinet , Cisco and Juniper devices irrespective of the device model.

Error:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'module' object has no attribute 'GSSException'
fatal: [STG-OF4-AS]: FAILED! => {"changed": false, "module_stderr":

[2018-03-15 21:28] DaveKlassen commented on #15892
http://docs.ansible.com/ansible/latest/playbooks_advanced_syntax.html

[2018-03-15 21:43] beenje commented on #37303
Thanks @azaghal and  @alikins for the comments.
I found the meetings notes where the PR was discussed: https://meetbot.fedoraproject.org/ansible-meeting/2017-05-11/ansible_core_meeting.2017-05-11-15.00.log.html

After reading more, as I understand, if a user is already logged in, the module should be able to detect the existing D-Bus session. This is not ideal but might be acceptable for my use ca

[2018-03-15 21:50] Zodzie opened #37495 "Ansible Skips tasks unless task put in between"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra
##### SUMMARY

Task in role does not get played

##### STEPS TO REPRODUCE

playbook.yml > import_role > import_tasks configure.yml > configure.yml contains:

[code]

service does not play.  If I setup configure.yml like this:

[code]
Then it does

[2018-03-15 21:53] jwitko opened #37496 "ec2_asg module erroneously reports target group not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The ec2_asg module is failing in ansible 2.4.3 when attempting to create an ASG that already exists.  It is erroring out about DescribeTargetGroups no target group found.  I have triple-checked all the variables and inputs and made sure t

[2018-03-15 21:54] edeca opened #37497 "runit module reports "changed" on failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/runit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed according to `ansible-config dump --only-changed`.

##### OS / ENVIRONMENT
Running from Debian, managing Ubuntu Xenial.

##### SUMMARY
The runit module reports "changed" on error, rather than logging an error.

##### STEPS TO REPRODUCE
Using this sample task, the de

[2018-03-15 21:55] Zodzie commented on #37495
after adding debug in between and running, then removing debug, future runs are not problematic

[2018-03-15 22:07] #36078 closed, assigned to s-hertel

[2018-03-15 22:07] #37323 closed, assigned to s-hertel

[2018-03-15 22:18] rogerscuall commented on #37227
Hi @trishnaguha, this might help. [Compare](https://www.youtube.com/watch?v=Wk5XoIBrOFI&feature=youtu.be)

[2018-03-15 22:19] edeca commented on #37497
At a quick glance it seems the return code of `sv` could be checked in [runit.py:225](https://github.com/ansible/ansible/blob/cdd21e2170b9a47d84624c8c2f792a66f2b0fe57/lib/ansible/modules/system/runit.py#L225) to ensure it is zero.

Anything other than zero indicates a failure.

[2018-03-15 22:21] jctanner commented on #16536
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Could not reproduce across any relevant version of ansible.
   * The package version rev'ed as expected.

As such, we're going to close this ticket.  However, we're open to being corrected,

[2018-03-15 22:21] #16536 closed, assigned to nobody

[2018-03-15 22:27] GMLudo commented on #16536
I confirm that this bug has disappeared.

[2018-03-15 22:27] drew-russell commented on #37492
@ansibot !component Cisco Spark

[2018-03-15 22:30] rogerscuall commented on #37227
This is for the snapshot creation. [Create](https://youtu.be/MCMB1zXpaXA)

[2018-03-15 22:34] juju4 commented on #35661
Any unix-based daemon ported to windows can leverage that: ex facebook osqueryd
Else, yes. for native windows tool, check/dry-run option is probably less common.

[2018-03-15 22:43] dnmvisser opened #37501 "Feature request: make synchronize module idempotent by using the rsync "--dry-run" flag"
Currently the synchronize module isn't idempotent. It rsyncs every time you run it.
By testing a transfer first using the "--dry-run" rsync option, it should be possible to check whether anything would change by running it.
In case nothing would change, the module should be able to report this fact, rendering it idempotent.

[2018-03-15 22:47] bcoca commented on #37467
sorry about the no quotes, that was just 'yaml typing', I had forgotten that those are always templated.

I'll look into the rest, there is no reason why the type should be lost in the end if you tell jinja2 to use one.

[2018-03-15 22:51] indivisiblewalrus commented on #37494
!component
nxos_bgp_af

[2018-03-15 23:32] spiffytech commented on #35661
@chopraaa I'm installing Telegraf for Windows, which contains a command to test the config file for errors. I'd like to only notify Restart Telegraf if the test passes.

[2018-03-15 23:41] #37501 closed, assigned to nobody

[2018-03-16 00:00] joshwhieb commented on #14386
Sharing some of my learning's here as i've been running into this issue (Not using ansible) and this bug helped me dig into it as this appears to be a chocolatey package/powershell problem.  Needs to be fixed in the chocolatey package but hopefully this will help resolve this issue.

I'm assuming when Ansible remotely connects to a node it connects as the SYSTEM account.  If you run the chocolatey

[2018-03-16 00:06] onlyjob commented on #25242
Although `force: True` is not the default I've found it practically necessary otherwise _aptitude_ occasionally blocks on prompt.
`force_apt_get: true` is very useful but it should not fall back to aptitude. Fall back pretty much defeats the purpose of this option let alone that fall back may be undesirable...
Ideally behavior should not be defined by availability of a particular tool.

[2018-03-16 00:17] jborean93 commented on #14386
@joshwhieb, .NET 3.5 is not included in the newer versions of Windows Server and so when Windows is told to install the feature it needs to source the files from either the Windows Update servers or at a local source as told by the user. Windows and WinRM do not play nice with the Windows Update API due to some restrictions Windows itself places on a network logon like WinRM. When Ansible goes to

[2018-03-16 00:37] abadger commented on #25242
@onlyjob If you set force_apt_get: True, then the apt ansible module will not fall back to aptitude.

[2018-03-16 01:01] DemonBob commented on #37479
This can be accomplished with DEFAULT_VERBOSITY.

http://docs.ansible.com/ansible/latest/config.html

[2018-03-16 01:46] alu commented on #37387
@hryamzik
Created PR #37504

Thanks.

[2018-03-16 05:33] Akasurde commented on #37494
!component=lib/ansible/modules/network/nxos/nxos_bgp_af.py

[2018-03-16 05:37] Akasurde commented on #37496
!component=lib/ansible/modules/cloud/amazon/ec2_asg_facts.py

[2018-03-16 06:00] Akasurde commented on #29578
@jstephenson Can you please check if above mentioned PR works for you ? Thanks.

[2018-03-16 06:00] Akasurde commented on #29578
needs_info

[2018-03-16 06:08] Akasurde commented on #29500
Fixed via https://github.com/ansible/ansible/pull/22324

[2018-03-16 06:08] #29500 closed, assigned to nobody

[2018-03-16 06:52] Akasurde commented on #30761
resolved_by_pr #34547

[2018-03-16 06:56] Akasurde commented on #35463
resolved_by_pr #35465

[2018-03-16 07:03] Akasurde commented on #25683
@opichon Could you please provide related information ?

needs_info

[2018-03-16 07:03] gundalow commented on #19586
!needs_info

[2018-03-16 07:23] yuwzho commented on #37330
@alexpilon666 I think this should be a feature request for NSG module rather than subnet module. My proposal is add a `subnets` parameter filed in the NSG module to specify the Virtual Network name and subnet name. Like this:
[code]

How do you think about it?

[2018-03-16 07:46] virtrixke opened #37505 "Dynamic Inventory and [windows] support"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Windows support

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 10
DEFAULT_VAULT_PASSWORD_FILE(/etc/ansible/ansible.cfg) = /root/.vault_pass.txt

##### OS / ENVIRONMENT
Ubuntu Server 16.04

##### SUMMARY
When creating a dynamic inventory the windows label is ignored and SSH is used instead of WinRM

#

[2018-03-16 07:51] tripleee commented on #28820
The warning is just a warning; it doesn't mean adding the key failed. It happens if you attempt to pipe `apt-key` output to another process (in which case, read what the warning message actually says -- you should probably not be doing that) but also if you run it in a noninteractive environment where standard output isn't a terminal for other reasons, such as when running from a `RUN` directive i

[2018-03-16 08:02] gundalow commented on #31901
!label needs_info

[2018-03-16 08:08] TomasTomecek commented on #37200
The error message is quite clear: `No module named ssl_match_hostname`.

Do you have it installed?
[code]

What I find really interesting is that the package makes only sense for python2, since for python3 it is part of stdlib. I can clearly see you are using python 3.6, is the error message misleading?

[2018-03-16 08:11] Akasurde commented on #29471
@jansauer Could you please verify if @FlorianLiers solution works for you ?

[2018-03-16 08:14] caphrim007 opened #37506 "INTERPRETER_TYPE=INTERPRETER_PATH variable raising template error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test-module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When attempting to specify the interpreter to test-module (in the hacking directory) the command raises an exception calling out the templar variable being set to None

[code]

Upon further inspection, the call to modify_module never populat

[2018-03-16 08:19] hryamzik commented on #37387
bug_resolved

[2018-03-16 08:24] #37387 closed, assigned to nobody

[2018-03-16 08:38] jean-christophe-manciot commented on #37200
[code]
What I find really interesting is that I have posted multiple bug reports about this sole issue, and ansible people keep closing them for no real technical reason.
As if red hat open-sourced AWX for the headlines but don't really want people to be able to use it in place of Tower.

[2018-03-16 08:50] carwyn commented on #17714
This is a very common use case, especially when a config item is a list in a single file that needs appending to such as allowed users or groups in SSSD.

Being able to compose role default, host and group bars in this way would simplify things considerably.

[2018-03-16 08:54] carwyn commented on #17714
Note that a similar feature in LCFG (declaratice config tool from the 90s) had specific options to prefix, suffix or replace variables. It may have had type sensitive operators too (e.g. numericL addition, subtraction). It was a pretty fundamental feature and use cases well proven.

[2018-03-16 08:55] Akasurde commented on #29609
@marchnikolai Could you please re-try on latest Ansible version ? and let us know if it works for you.

needs_info

[2018-03-16 08:57] jasonatkinson opened #37507 "ios modules failing with network_cli execution being skipped"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts
ios_command
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = True
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/jason.atkinson@2degrees.nz/scripts/dev/2d-global-password-update/ansible.log
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
RETRY_FILES_SAVE_PATH(/home/jason.a

[2018-03-16 08:59] jstephenson commented on #29578
@Akasurde Apologies, promptly forgot about this. Will verify later today.

[2018-03-16 09:01] Akasurde commented on #29578
@jstephenson Thanks.

[2018-03-16 09:15] mkrizek commented on #37505
cc @jborean93

[2018-03-16 09:15] AMHAnsible9 opened #37509 "AWX throws templating error when using a template to set a variable value under set_fact method"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log

##### OS / ENVIRONMENT

Operating System: Red Hat 4.8.5-16
Cisco ASA version: asa841-k8.bin

##### SUMMARY

When using the set_fact method and the variable to set involves using a template, Ansible intermittently thr

[2018-03-16 09:37] mkrizek commented on #33274
@xzcccc as per @macropin's comment it doesn't seem to be an issue with the `apt` ansible module but rather with packaging of a specific distro, can you please confirm? Thanks!

needs_info

[2018-03-16 10:06] dagwieers commented on #37509
Alright, so this is not a problem with **set_fact** or Ansible in itself. Your long Jinja2 expression returns *None* somewhere and you address it as a list. And that's why it fails. At least that is *exactly* what the error is trying to tell you.

It's up to you to find why your expression is not working as you expect. The easiest way to do this, is to print every sub-expression before doing all a

[2018-03-16 10:06] #37509 closed, assigned to nobody

[2018-03-16 10:09] dagwieers commented on #37509
@mkrizek If you are removing the `needs_triage` flag from opened issues that are in reality just end-user support questions. Please close them with this template: https://github.com/ansible/ansible/blob/devel/ticket_stubs/bug_is_really_a_question.md

We don't need any more end-user support questions on Github (already too many :-/).

[2018-03-16 10:14] AMHAnsible9 commented on #37509
@dagwieers  Thank you for your response. I think from my perspective I was trying to understand why this works perfectly sometimes and not others. The output for the flash directory on the device itself doesn't change so I couldn't understand why sometimes I get the expected output and other times I don't, However, I fully appreciate your input on this issue, it's gratefully received :)

[2018-03-16 10:19] dagwieers commented on #37509
@AMHAnsible9 I cannot troubleshoot this issue, unless I have the exact same environment. But the above hints should help in any Jinja2 related issue/confusion. Granted, this could still turn out to be a bug, but it might as well be a bug with the OS, device, or instead has a clear reason why what you are doing will never work consistently. (The expression can be made more simple, with less moving

[2018-03-16 10:50] TomasTomecek commented on #37200
You are confusing two things: Red Hat Ansible Tower as a commercial product, AWX as an open source project. With the first one you pay for support, the second one is an open source project with support provided on best-effort basis. As the license states:
[code]

We are sorry that you are hitting this issue but there is no engineer with free time to work on this at the moment. Including me, I woul

[2018-03-16 10:52] ghost opened #37510 "Default filter in deep dicts fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/parsing/yaml/

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When you are using default filter with deeps dictionaries Ansible fails parsing dictionary. Instead we expect Ansible give the fact a proper default value.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2018-03-16 11:15] XooR opened #37512 "Handler is skipped when notified from included role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 17.10

##### SUMMARY

If I set role as dependency and skip it initially (with `when: False`) and use `include_role` afterwards handlers are skipped in included role with reason that condition is `False`.

I would expect that handler is called or

[2018-03-16 11:19] LukWe99 commented on #37479
Thank you!
Solves my issue.
Sorry for the inconveniences...

[2018-03-16 11:19] #37479 closed, assigned to nobody

[2018-03-16 11:23] dagwieers commented on #37386
And why exactly do you think this is a problem with the module ? Please investigate what is happening exactly, and if you found a bug, we can try and reproduce it. Now it seems more like anti-spam measures, or network-related issues that are causing this.

Wireshark and python debugging are your friends.

PS Did it ever worked before ? Did you try using the master branch ? ...

[2018-03-16 11:26] dagwieers commented on #37386
So I am going to close this as the error cause is pretty clear and there's no indication the mail module is related to the cause. Google for that specific message and you'll find some reasons for this to happen.

[2018-03-16 11:26] #37386 closed, assigned to nobody

[2018-03-16 11:53] Akasurde commented on #29512
resolved_by_pr #37513

[2018-03-16 11:53] Akasurde commented on #20776
resolved_by_pr #37513

[2018-03-16 12:40] mkrizek commented on #21547
@nusenu does this happen with other packages too? `lsb-release` seems to be already installed in the minimal install.

needs_info

[2018-03-16 13:11] gundalow commented on #37507
@jasonatkinson Hi, thank you for the bug report.
Ansible 2.5.0 (Currently at Release Candidate 3) has *much* better logging, no more "unable to open shell"

1) If you could please try running with 2.5.0rc3 we can try and see what the issue is from the better logs

2) Are you running as the same user with networked home directory on both machines?

[2018-03-16 13:25] #37402 closed, assigned to rcarrillocruz

[2018-03-16 13:33] avoidik commented on #31691
I confirm the same, I'm using inline variables with GPG-keys as workaround for now:

[code]

[code]

[2018-03-16 13:35] alexander-balashov opened #37515 "Cannot use include_role in task handlers (AttributeError)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Handler

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
16.04.1-Ubuntu, RHEL7

##### SUMMARY
Cannot use include_role in task handlers

##### STEPS TO REPRODUCE
1. Create role with step1 task
`roles/role1/tasks/step1.yml`
[code]
2. Create another role
`roles/role2/tasks/main.yml`
[code]
`roles/role2/meta/main.y

[2018-03-16 13:40] avoidik commented on #7322
Why it was closed? Pretty much the same issue here https://github.com/ansible/ansible/issues/31691

[2018-03-16 13:45] MBlagui commented on #11660
Hi,

Still same issue when I use

[code]

This is supposed to allow idempotence. So when executing second time it should return OK No change but instead we will get an error and that's not fine.

[2018-03-16 13:54] jean-christophe-manciot commented on #37200
I am not confusing anything. I am fully aware that AWX is the upstream open-source project for Tower.
I suppose you mean python2, right ;-) ?
[code]
despite:
[code]
So, **python docker module cannot import the installed backports.ssl_match_hostname module**.

[2018-03-16 14:21] jctanner commented on #27707
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2018-03-16 14:29] #27707 closed, assigned to nobody

[2018-03-16 14:30] alexpilon666 commented on #37330
@yuwzho, sure! One way or the other, the result ends up being the same, so having it into the NSG or Subnet module doesn't really matter to me personally in the end, all depends on how the Ansible team wants to implement it hehe

[2018-03-16 14:33] privateip opened #37518 "network_cli is not honoring record_host_keys setting"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION
N/A

##### SUMMARY

The `network_cli` connection plugin should respect the `record_host_keys` config setting.  If `record_host_keys=True` and 'host_key_auto_add` is True and there is not a fingerprint for the host, the host key should be added and saved.

Right now `network_cli` doesn't call the super method

[2018-03-16 14:34] mihai-satmarean commented on #10424
Happens here too

[2018-03-16 14:35] jctanner commented on #21304
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Jinja is trying to parse the {{ }}, which is expected behavior.
   * Jinja can be short circuited via the {% raw %} macro per the comments above.

As such, we're going to close this ticket.

[2018-03-16 14:35] #21304 closed, assigned to nobody

[2018-03-16 14:42] knaapjvd opened #37519 "Minimal set of modules in requirements.txt is incomplete"
When testing the documentation for a module, the venv is missing required python modules. Please add the following modules to requirements.txt:
 - six
 - sphinx-docstring-typing

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not relevant, first setup in accordance with the [instructions](http://docs.ansible.com/ansible/latest/de

[2018-03-16 14:57] s-hertel commented on #37510
I wouldn't expect foo and foo.boo to be undefined. The expected/actual results are misleading since I think you're just talking about the last task that fails rather than defaults to undefined.

[2018-03-16 14:59] josdotso commented on #20537
[code]

[2018-03-16 15:08] fhomam opened #37521 "win_copy fails when file mode is set for jinja template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
  - win_copy
  - /usr/lib/python2.7/site-packages/ansible/modules/windows/win_copy.ps1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No Output.

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY
Using the win_copy module from /usr/lib/python2.7/site-packages/ansible/modules/windows/win_copy.ps1.  This line:

$mode =

[2018-03-16 15:10] mlen commented on #28058
This affects 2.4 as well, any chances to get this fixed in the near future?

[2018-03-16 15:10] s-hertel commented on #37519
I think these are the requirements you're looking for: https://github.com/ansible/ansible/blob/devel/docs/api/docs-requirements.txt

[2018-03-16 15:16] tobiastom commented on #35986
I did not test it with the preview version, but I can confirm that a manual change like inside the pull request solved this issue for me on Ansible 2.4.2.0.

[2018-03-16 15:17] victorock commented on #37413
Mention idempotency tips & tricks, perhaps as new document session, together with troubleshooting connection errors?

Few items to mention:
- Diff when using short forms of configuration like: int e x/x, int loX...
- Pushing configurations that are already presented by default, without "default: yes"...

[2018-03-16 15:18] Qalthos commented on #37518
Huh, that's a bit quick

[2018-03-16 15:21] qk4l opened #37522 "[parted] Parted module uses different format of unit"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
* parted

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Parted module uses different format of `unit` for different states
`info` state return unit in  in low case but `present` requests to provide its in same format as GNU parted returns.

So we can not use `info` state for dumping disk partitions and r

[2018-03-16 15:23] qk4l commented on #37522
@ColOfAbRiX Hi,

For what reason you uses lower() to save `unit` ?

[2018-03-16 15:24] knaapjvd commented on #37519
I think so too. This was not obvious from the [testing-documentation](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html#testing-documentation) nor [environment-setup](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup) docs.
Perhaps, it should suffice to clarify this at either link?

[2018-03-16 15:44] edward-of-clt commented on #10424
Is the problem that you're storing it in the localhost variable group, but you're referencing 127.0.0.1.

[2018-03-16 16:01] mat013 commented on #37426
Thanks. I will look at it when I am back from vacation.

Do I just need to post a message on that ticket in order to sign up for the meeting?

[2018-03-16 16:04] bytebandit007 opened #37524 "Accessing the Ansible vars inside a Python script"
Hi,

I am trying to have access to the Ansible vars inside the python script. However, the behavior is not similar to the bash files.

Is there any best practice for this purpose without sending them as args to the script?

Thanks and best regards,
Milad

[2018-03-16 16:17] #37524 closed, assigned to nobody

[2018-03-16 16:20] saichint opened #37525 "nxos_udld_interface issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_udld_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)F3(4)

##### SUMMARY

##### STEPS TO REPRODUCE
There is an issue with nxos_udld_interface.
On the platform, we cannot properly differentiate between copper and fiber ports an so the commands to configure the udld

[2018-03-16 16:23] krunal7558 opened #37526 "nxos_* ansible module terminal parameter issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nxos_ modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/home/krunal/network/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/home/krunal/network/ansible.cfg) = [u'/home/krunal/network/hosts']
DEFAULT_LOG_PATH(/home/krunal/network/ansible.cfg) = /home/krunal/network/ansible.log
DEFAULT_MODULE_PATH(/home/krunal/network/ans

[2018-03-16 16:29] krunal7558 commented on #37526
Same issue when user with privilege level 0 tries to pipe a command thru json it failes because | json requires level 15.

[2018-03-16 16:46] gundalow commented on #12745
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:46] #12745 closed, assigned to nobody

[2018-03-16 16:46] gundalow commented on #19858
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:46] #19858 closed, assigned to nobody

[2018-03-16 16:47] gundalow commented on #19858
Please raise a fresh bug against `docker_container` if that issue will exists in Ansible 2.5.0

[2018-03-16 16:47] gundalow commented on #29765
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:47] #29765 closed, assigned to nobody

[2018-03-16 16:48] gundalow commented on #29791
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:48] #29791 closed, assigned to nobody

[2018-03-16 16:48] gundalow commented on #29793
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:48] #29793 closed, assigned to nobody

[2018-03-16 16:49] gundalow commented on #29820
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:49] #29820 closed, assigned to nobody

[2018-03-16 16:49] gundalow commented on #29826
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:49] #29826 closed, assigned to nobody

[2018-03-16 16:49] gundalow commented on #29833
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:49] #29833 closed, assigned to nobody

[2018-03-16 16:49] #29851 closed, assigned to nobody

[2018-03-16 16:49] gundalow commented on #29855
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:49] #29855 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29889
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29889 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29892
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29892 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29896
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29896 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29901
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29901 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29909
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29909 closed, assigned to nobody

[2018-03-16 16:50] gundalow commented on #29913
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:50] #29913 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29932
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29932 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29937
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29937 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29961
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29961 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29970
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29970 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29971
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29971 closed, assigned to nobody

[2018-03-16 16:51] gundalow commented on #29991
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:51] #29991 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30021
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30021 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30025
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30025 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30026
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30026 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30030
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30030 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30044
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30044 closed, assigned to nobody

[2018-03-16 16:52] gundalow commented on #30058
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:52] #30058 closed, assigned to nobody

[2018-03-16 16:53] #30063 closed, assigned to nobody

[2018-03-16 16:53] #30066 closed, assigned to nobody

[2018-03-16 16:53] #30087 closed, assigned to nobody

[2018-03-16 16:53] gundalow commented on #30092
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:53] #30092 closed, assigned to nobody

[2018-03-16 16:53] gundalow commented on #30107
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:53] #30107 closed, assigned to nobody

[2018-03-16 16:53] gundalow commented on #30119
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:53] #30119 closed, assigned to nobody

[2018-03-16 16:54] gundalow commented on #30122
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:54] #30122 closed, assigned to nobody

[2018-03-16 16:54] gundalow commented on #30126
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:54] #30126 closed, assigned to nobody

[2018-03-16 16:54] gundalow commented on #30137
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:54] #30137 closed, assigned to nobody

[2018-03-16 16:54] gundalow commented on #30138
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:54] #30138 closed, assigned to nobody

[2018-03-16 16:54] #30140 closed, assigned to nobody

[2018-03-16 16:54] gundalow commented on #30143
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:54] #30143 closed, assigned to nobody

[2018-03-16 16:55] gundalow commented on #30149
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:55] #30149 closed, assigned to nobody

[2018-03-16 16:55] gundalow commented on #30150
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:55] #30150 closed, assigned to nobody

[2018-03-16 16:55] #30170 closed, assigned to nobody

[2018-03-16 16:55] gundalow commented on #30191
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:55] #30191 closed, assigned to nobody

[2018-03-16 16:55] gundalow commented on #30198
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:55] #30198 closed, assigned to nobody

[2018-03-16 16:55] gundalow commented on #30210
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:55] #30210 closed, assigned to nobody

[2018-03-16 16:56] gundalow commented on #30227
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:56] #30227 closed, assigned to nobody

[2018-03-16 16:56] gundalow commented on #30239
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/

[2018-03-16 16:57] mihai-satmarean commented on #10424
Oh. Sorry, I have a slightly different issue.
The first play has host 127.0.0.1
And the second has hosts: {{ target }}
And it does not load the host and group vars for target
Tested on macosx and Linux centos 7
Thanks!

Pe 16 mar. 2018, la 16:45, Edward Herbert <notifications@github.com> a scris:

[2018-03-16 17:03] edward-of-clt commented on #10424
@mihai-satmarean do me a favor, post the playbook. :)

[2018-03-16 17:06] gundalow commented on #12745
Looking at http://docs.ansible.com/ansible/latest/docker_module.html this appears to be fixed. If the issue still exists please raise a new issue

[2018-03-16 17:07] gundalow commented on #26297
FYI
The `cloud/docker/_docker.py` no longer exists in Ansible 2.5.0.

For information about the newer Docker modules to use, please see http://docs.ansible.com/ansible/devel/scenario_guides/guide_docker.html

[2018-03-16 17:15] dbanttari commented on #13879
@landryb

Workaround: `with_sequence: "count={{ nbslaves }}"` should work.  I'm using `with_sequence: "start=1 end={{ etcd_instance_count }}"` in one of my templates

[2018-03-16 17:16] jmcgill298 commented on #37526
The issue is that `on_open_shell` is called before privilege escalation (netework_cli.py lines 316ff):
[code]

[2018-03-16 17:17] mr-redbaron commented on #37455
Same here.  I'm suppressing the issue with:

[ssh_connection]
pipelining = True

[2018-03-16 17:28] #36991 closed, assigned to nobody

[2018-03-16 17:41] jhawkesworth commented on #37521
Please can you post a full reproducer.  It isn't fully clear to me if the problem is with win_copy or win_template.
How would you expect win_copy to handle a unix style mode?  win_copy does not have a public 'mode' parameter - see the documentation here:

http://docs.ansible.com/ansible/latest/win_copy_module.html

The 'mode' parameter you see in the module code is there to support the win_copy ac

[2018-03-16 17:48] newswangerd opened #37530 "ansible-test --coverage fails to cover networking plugins"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-connection
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`ansible-test network-integration --coverage` fails to properly detect code coverage for networking `cliconf` and `terminal` plugins. This error appears to be a problem with `ansible-connection` and looks like it was intr

[2018-03-16 18:05] alikins opened #37531 "Make yaml specific AnsibleVaultEncryptedUnicode more generic and add JSON serialization support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
lib/ansible/parsing/vault/__init__.py
lib/ansible/parsing/yaml/objects.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Right now, support for vault encrypted variables is YAML specific (!vault yaml tag).
And really, ansible YAML specific.

There is no equivalent way to load/dump a vaulted variabl

[2018-03-16 18:18] ssbarnea commented on #24864
Any updates for getting a fix on this?

[2018-03-16 18:19] jstephenson commented on #29578
Looks good to me (see below). As an aside, wouldn't it be lovely if the incredibly misleading `capabilities` were to be renamed `cap_add`? Not one for this PR I'm sure, but how would that be achieved in the context of Ansible's depreciation policy/other relevant things?

[code]
[code]
and then
[code]
[code]

[2018-03-16 18:21] gundalow commented on #19895
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:21] #19895 closed, assigned to nobody

[2018-03-16 18:21] gundalow commented on #29797
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:21] #29797 closed, assigned to nobody

[2018-03-16 18:21] gundalow commented on #29830
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:21] #29830 closed, assigned to nobody

[2018-03-16 18:21] gundalow commented on #29860
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:21] #29860 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #29875
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #29875 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #30023
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #30023 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #30072
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #30072 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #30082
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #30082 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #30133
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #30133 closed, assigned to nobody

[2018-03-16 18:22] gundalow commented on #30135
The `cloud/amazon/_ec2_vpc.py` no longer exists in Ansible 2.5.0.

For information about the newer modules to use, please see http://docs.ansible.com/ansible/devel/modules/ec2_vpc_module.html#deprecated

If after reviewing the newer modules you believe this issue/PR would still be useful addition to the newer modules, please create a *new* issue/PR against the new module and reference this issue/P

[2018-03-16 18:22] #30135 closed, assigned to nobody

[2018-03-16 18:23] gundalow commented on #20563
This no longer exists. Please see http://docs.ansible.com/ansible/devel/modules/accelerate_module.html#deprecated

[2018-03-16 18:23] #20563 closed, assigned to nobody

[2018-03-16 18:34] woqer commented on #22967
@ioggstream I just tried using full paths and it finally worked.

Note that i'm trying to setup a python3.6 environment.

My error was `Unable to find pip in the virtualenv, my_env, under any of these names: pip2, pip. Make sure pip is present in the virtualenv.`

This is my local ansible installation
[code]

### Fails
[code]

### Succeeds
[code]
### Extra bug with shell module and virtualenv
I mu

[2018-03-16 18:42] s-hertel commented on #36066
Partial fix in #37354 was merged.
Will be partially fixed by #37534.
Still needs route table stabilization.

[2018-03-16 18:43] corbinstuard opened #37535 "set_fact ansible_ssh_common_args fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=600s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansible.cfg) = /tmp
DEFAULT_F

[2018-03-16 18:45] s-hertel commented on #36068
Partial fix in #37354 was merged.
Will be partially fixed by #37534, still needs ec2_ami fix.

[2018-03-16 18:45] jean-christophe-manciot commented on #37200
This issue regarding the docker python module has been [reported ~ 1 year ago](https://github.com/docker/docker-py/issues/1502) and is still open/unsolved.

[2018-03-16 18:45] alikins opened #37536 "Add a object/map/dict form of !vault vault encrypted variables"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
lib/ansible/parsing/vault/__init__.py
lib/ansible/parsing/yaml/objects.py
lib/ansible/parsing/yaml/constructor.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In addition to supporting vault encrypted strings in yaml via the custom !vault yaml tag, it
would be useful to have a way to use a yaml o

[2018-03-16 18:49] corbinstuard commented on #37535
cc @agaffney

[2018-03-16 19:04] ashaibani opened #37537 "r"

[2018-03-16 19:04] #37537 closed, assigned to nobody

[2018-03-16 19:12] alexhexabeam commented on #11496
For anyone looking for a still open ticket for this, there is https://github.com/ansible/ansible/issues/23594

This ticket obviously should not have been closed.

[2018-03-16 19:13] alexhexabeam commented on #13226
For anyone finding this from google, here's one that's still open for this ticket. https://github.com/ansible/ansible/issues/23594

[2018-03-16 19:14] alexhexabeam commented on #23594
This also affects 2.2.3.0

[2018-03-16 19:31] agaffney commented on #37535
It looks like this may be a regression. I cannot reproduce this in 2.4.3, but I can reproduce with `devel` from a few weeks ago. However, with `devel`, I get the warning but it still sets the var.

[2018-03-16 19:45] #36990 closed, assigned to nobody

[2018-03-16 19:46] maxamillion commented on #35219
If there's nothing else to discuss here, I'll close this.

needs_info

[2018-03-16 19:48] agaffney commented on #37535
@corbinstuard are you positive that the var doesn't actually get saved? It looks like this bug is just the warning, but the value still gets set elsewhere in this code before the warning is triggered.

[2018-03-16 19:52] corbinstuard commented on #37535
No, I assumed that was the case since my script was failing but have since verified:
[code]
[code]

[2018-03-16 19:55] bcoca commented on #37535
so the problem was due to x2 processing of set_fact/include_vars, the cleaning is supposed to happen only when inserting `ansible_facts`, but these 2 plugins 'overload it' and short circuit it at the same time.

see PR linked above, it should remove the 2nd processing of the `ansible_facts` key and avoid the warning, but still remove these keys from other 'facts' modules.

[2018-03-16 20:11] jsumners commented on #37497
@edeca are you willing to submit a PR with the fix?

[2018-03-16 20:13] fhomam commented on #37521
Thank you for the fast response. The issue was with using template. I was mislead/unsure by a subsequent win_copy module call in the given task being ran, as you've hinted the error is thrown by the win_copy action plugin used by the template module.

Removing the mode parameter when using template did get rid of the error, but win_template as you've suggested would be the correct one to use.

[2018-03-16 20:17] b2sweety commented on #33029
I am getting the same error on Cisco IOS

fatal: [Sw-1A]: FAILED! => {
    "msg": "unable to elevate privilege to enable mode, at prompt [\SW-1A>] with error: enable\r\nLocal_Password:\r\n% Local_Password: timeout expired!\r\n% Error in authentication.\r\n\r\nSW-1A>"
}

Ansible version:
ansible 2.5.0rc3

Cisco WS-C6504-E-Cisco IOS Software, s72033_rp Software (s72033_rp-ADVIPSERVICESK9_WAN-M), Ver

[2018-03-16 20:25] akcrisp commented on #35767
Will check next week Adam

Sent from my iPhone

[2018-03-16 20:31] maxamillion commented on #35767
@akcrisp sounds good, thank you.

[2018-03-16 20:36] symptog commented on #29774
This is true for restoring backups, you are correct. But there may be other cases.

[2018-03-16 20:37] bdowling commented on #33029
That password prompt is a bit unusual. What OS version and device type is
this?

Previously this may have worked as the prompts were not bound to three line
start. The `Local_` part needs to be added as an optional match to the
regex.

On Mar 16, 2018 4:18 PM, "b2sweety" <notifications@github.com> wrote:

I am getting the same error on Cisco IOS

fatal: [Sw-1A]: FAILED! => {
"msg": "unable to elev

[2018-03-16 20:42] b2sweety commented on #33029
Using a cisco catalyst C6504E switch.
Cisco WS-C6504-E-Cisco IOS Software, s72033_rp Software (s72033_rp-ADVIPSERVICESK9_WAN-M), Version 12.2(33)SXI9, RELEASE SOFTWARE (fc2)
Yes, earlier it was working.

[2018-03-16 20:45] bdowling commented on #33029
@b2sweety - it may be best to open a new ticket as this one is closed and a different issue.

[2018-03-16 20:52] bcoca commented on #23594
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `run_once` only applies to the FIRST host to hit the loop, if the `when` condition is `False`, the task will be skipped. It does NO

[2018-03-16 20:52] #23594 closed, assigned to nobody

[2018-03-16 20:56] b2sweety opened #37540 "unable to elevate privilege to enable mode on Cisco 6504"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME
lib/ansible/plugins/terminal/ios.py

##### ANSIBLE VERSION
ansible 2.5.0rc3
  config file = /home/user/ycaty/ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/ansible/modules/scp_sidecar/ansible_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/

[2018-03-16 20:56] b2sweety commented on #33029
@bdowling Thank you! I have raised it.
https://github.com/ansible/ansible/issues/37540

[2018-03-16 21:27] ssuchter commented on #32812
A good starting place to fix the docs might be the [official page on including and importing](https://docs.ansible.com/ansible/2.4/playbooks_reuse_includes.html). It currently actively recommends using the k=v syntax:

[2018-03-16 21:34] jborean93 commented on #37521
As part of the docs for both win_copy and win_template, the mode, group and owner parameters are not supported. Linux permissions don’t translate well to Windows as they use ACLs to protect objects. You need to use the win_acl module to set file permissions for Windows.

[2018-03-16 21:34] #37521 closed, assigned to nobody

[2018-03-16 21:52] bcoca commented on #31239
@indispeq  he expected `ansible_local.system.host.hostname` but created `ansbile_local.host.hostname`, all my tests show `ansible_local` working fine, if you have an issue please open a new bug with a reproducer.

[2018-03-16 22:57] alexhexabeam commented on #23594
@bcoca I understand that that is the current behavior, but that behavior is not what is intuitively understood, that behavior is not mentioned in the docs, and that behavior is almost certainly not what 99.99999% of people want it to do.

The issue is not that it executes on the first host in the play, but that it DECIDES whether to run at all based on the first node in the play. What is understoo

[2018-03-16 23:57] strarsis commented on #12178
I have a similar issue, I want to use a relative path to get one directory up:
[code]
But it doesn't seem to work, the filter is still not found.

Related issue:
https://discourse.roots.io/t/vagrant-up-error-with-new-v-of-trellis/6385/5

[2018-03-17 00:13] orderedchaosdev commented on #37510
The issue here is that in the last case it trys to goto foo.boo.goo.too which means foo.boo.goo needs to exist since you could view it as foo['boo']['goo']['too'] so it finds goo undefined and thus can't try to find too inside it.
The default only applies to foo.boo.goo.too not foo.boo.goo thus failing
As far as I know this is expected.

[2018-03-17 00:17] dagwieers commented on #37505
There is no automatic "windows" group in Ansible, if you want a system, or group of systems to use WinRM, you need to add a host variable or group variable `transport: winrm`.

See the Windows documentation at: http://docs.ansible.com/ansible/devel/user_guide/windows_winrm.html#basic

@jborean93 I think we should add a small section about how to enable WinRM from the inventory to the "Windows setu

[2018-03-17 00:17] #37505 closed, assigned to nobody

[2018-03-17 03:06] yoshixmk opened #37550 "ios_config module: Always "changed" will come out. "server community" and "snmp-server community""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- IOS (cisco)
##### SUMMARY

Always "changed" will come out when I use "server community" and "snmp-server community".

##### STEPS TO REPRODUCE

in tasks
[code]

[code]

##### EXPECTED RESULTS

when No chaneged, OK message.

##### ACTUAL RESULTS

Always

[2018-03-17 04:02] jasonatkinson commented on #37507
[ansible-2.6.log](https://github.com/ansible/ansible/files/1821240/ansible-2.6.log)

Attached log from latest 2.5-stable tree.

ios_facts is failing on the interfaces subset while trying to do a "show lldp". Which I can confirm is not a valid option for the router I'm pointing it at:
[code]

It does however succeed if using gather_subset: "!interfaces".

Regardless, it certainly _is_ calling ssh a

[2018-03-17 04:14] Akasurde commented on #24864
@roberulloa @aaronk1 @ssbarnea Could you please try @BR0kEN- PR and provide feedback on the same ?

[2018-03-17 06:31] #30239 closed, assigned to nobody

[2018-03-17 06:59] holta opened #37551 "Ansible's service module fails on Ubuntu 18.04"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible's **service** module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
It's true that Ubuntu 18.04 is unreleased, but it's entered final beta, for final release in April:
[code]

##### SUMMARY
Fails to create a link in `/etc/systemd/system/multiuser.target.wants`

As originally reported in: https://github.com/iia

[2018-03-17 07:00] W73 commented on #37073
I did another test.
I tried to update python from Software Collection. Same error.
[code]

I wish i can help more, how can i debug (add some more output for)  :<11 ?
Next time i will try to update different file.

[2018-03-17 07:28] albrin commented on #28820
In my case, further installation did not occur. If this was only a warning - I would not leave this issue.

[2018-03-17 12:45] nudgegoonies commented on #25481
I had the same problem. Quoting helped. I am running ansible 2.4.3.0.

[2018-03-17 13:41] #36501 closed, assigned to nobody

[2018-03-17 13:50] #33965 closed, assigned to nobody

[2018-03-17 14:03] agaffney opened #37553 "Performance regression in 2.5/devel"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There's a noticeable performance regression in `2.5` (and current `devel`) compared to `2.4.3`.

##### STEPS TO REPRODUCE

Playbook:

[code]

`2.4.3`:

[code]

`2.5` (current `stable-2.5`):

[code]

current `devel`:

[code]

##### E

[2018-03-17 14:27] agaffney commented on #37553
This appears to have been introduced in https://github.com/ansible/ansible/commit/bbd6b8bb42cc8fa48157ce5db0efb0a836c94917

[2018-03-17 14:29] agaffney commented on #37553
@bcoca, the "breaking" commit belongs to you, and it's a bit of a doozy

[2018-03-17 14:48] #29486 closed, assigned to nobody

[2018-03-17 14:48] #29477 closed, assigned to nobody

[2018-03-17 14:48] #29473 closed, assigned to nobody

[2018-03-17 14:48] #29360 closed, assigned to nobody

[2018-03-17 14:48] #29340 closed, assigned to nobody

[2018-03-17 14:58] #29098 closed, assigned to nobody

[2018-03-17 14:58] #28980 closed, assigned to nobody

[2018-03-17 14:58] #28858 closed, assigned to nobody

[2018-03-17 14:58] #28850 closed, assigned to nobody

[2018-03-17 14:58] #28564 closed, assigned to nobody

[2018-03-17 14:58] #28499 closed, assigned to nobody

[2018-03-17 14:58] #28490 closed, assigned to nobody

[2018-03-17 14:58] #28250 closed, assigned to nobody

[2018-03-17 15:06] #27815 closed, assigned to ganeshrn

[2018-03-17 15:30] #27496 closed, assigned to nobody

[2018-03-17 15:30] #27096 closed, assigned to nobody

[2018-03-17 15:30] #27094 closed, assigned to nobody

[2018-03-17 15:31] #26035 closed, assigned to nobody

[2018-03-17 15:39] #17492 closed, assigned to nobody

[2018-03-17 15:39] #17273 closed, assigned to nobody

[2018-03-17 15:40] #16863 closed, assigned to nobody

[2018-03-17 15:40] #16794 closed, assigned to nobody

[2018-03-17 15:40] #16789 closed, assigned to nobody

[2018-03-17 15:41] #16352 closed, assigned to nobody

[2018-03-17 15:45] amireldor commented on #4083
ansible-playbook -i inventory.txt -c local \
                     --extra-vars="ansible_python_interpreter=$(which python)" \
                     upload_static.yml

[2018-03-17 15:49] #18475 closed, assigned to nobody

[2018-03-17 15:49] #18253 closed, assigned to nobody

[2018-03-17 15:49] #17952 closed, assigned to nobody

[2018-03-17 15:49] #17876 closed, assigned to alikins, amenonsen, abadger

[2018-03-17 15:49] #17746 closed, assigned to nobody

[2018-03-17 15:49] #16217 closed, assigned to jimi-c

[2018-03-17 15:57] #31991 closed, assigned to nobody

[2018-03-17 15:57] #31908 closed, assigned to nobody

[2018-03-17 15:57] #31759 closed, assigned to nobody

[2018-03-17 16:05] #31266 closed, assigned to nobody

[2018-03-17 16:14] #30933 closed, assigned to mkrizek

[2018-03-17 16:14] #30931 closed, assigned to nobody

[2018-03-17 16:14] #30570 closed, assigned to nobody

[2018-03-17 16:14] #30400 closed, assigned to nobody

[2018-03-17 16:18] felixfontein opened #37557 "letsencrypt: problem with authorization to domain matching"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
[code]

##### SUMMARY
The code matching authorizations with identifiers (i.e. domains) is wrong: it assumes that two arrays correspond to each other, which they in general do not. This bug happens when wildcard and non-wildcard certificates are mixed and when more than one domain is used. So `example.com`, `*.exam

[2018-03-17 16:31] #29895 closed, assigned to nobody

[2018-03-17 16:41] #29794 closed, assigned to nobody

[2018-03-17 16:41] #29775 closed, assigned to nobody

[2018-03-17 16:41] #29737 closed, assigned to nobody

[2018-03-17 16:41] #29734 closed, assigned to nobody

[2018-03-17 16:41] #29730 closed, assigned to nobody

[2018-03-17 16:42] #28293 closed, assigned to Qalthos

[2018-03-17 16:52] #29525 closed, assigned to nobody

[2018-03-17 16:52] #29517 closed, assigned to nobody

[2018-03-17 16:52] angystardust commented on #26095
Hi @Akasurde is this fixed in the 2.5 branch? I stll didn't have the time to test on 2.5.

[2018-03-17 17:02] #30403 closed, assigned to Qalthos

[2018-03-17 17:03] #19124 closed, assigned to emonty, rcarrillocruz

[2018-03-17 17:14] #19108 closed, assigned to ganeshrn

[2018-03-17 17:14] #18950 closed, assigned to nobody

[2018-03-17 17:45] #20621 closed, assigned to nobody

[2018-03-17 18:04] varunchopra opened #37562 "foreman: authentication errors using callback plugin"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
foreman

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running Ansible on Red Hat 7 hosted on Vagrant to a Foreman 1.15.6 + Katello server on Google.

##### SUMMARY
I followed the instructions to setup

##### STEPS TO REPRODUCE
- Install Foreman + Katello.
- Install the Foreman callback plugin.
- Run `-m setup`

[2018-03-17 18:18] BR0kEN- opened #37563 "The "ansible_user" is undefined for "become_user" if supplied as "-u" argument"
Follow-up for https://github.com/ansible/ansible/issues/23530

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The result of `ansible-config dump --only-changed` is emptiness. None of Ansible-related env variables used.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The `ansible_user` variable is undefined if used as a value for `become_user` and only if passed as

[2018-03-17 18:19] BR0kEN- commented on #37563
The things start working if I add the following before using `become_user`:

[code]

[2018-03-17 18:31] #37563 closed, assigned to nobody

[2018-03-17 18:33] #18161 closed, assigned to nobody

[2018-03-17 18:37] BR0kEN- opened #37564 "The "ansible_user" is undefined for "become_user" if supplied as "-u" argument"
Follow-up for https://github.com/ansible/ansible/issues/23530 and the copy of https://github.com/ansible/ansible/issues/37563

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/cli
http://docs.ansible.com/ansible/latest/become.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The result of `ansible-config dump --only-changed` is emptiness. None of Ansible-related env variables

[2018-03-17 18:44] BR0kEN- commented on #37564
!component=lib/ansible/cli

[2018-03-17 19:26] #21842 closed, assigned to jimi-c

[2018-03-17 19:26] #21797 closed, assigned to nobody

[2018-03-17 19:41] TomasTomecek commented on #37200
I got confused by the other report which is happening with python 3.6.

It seems that [you figured](https://github.com/docker/docker-py/issues/1502#issuecomment-373907682) it out yourself. See? That power of open source! =)

[2018-03-17 19:51] #22745 closed, assigned to nobody

[2018-03-17 19:58] #23175 closed, assigned to nobody

[2018-03-17 19:58] #22834 closed, assigned to nobody

[2018-03-17 20:14] #23324 closed, assigned to nobody

[2018-03-17 20:22] #24506 closed, assigned to nobody

[2018-03-17 20:31] #24548 closed, assigned to nobody

[2018-03-17 20:31] #24253 closed, assigned to nobody

[2018-03-17 20:31] #24148 closed, assigned to nobody

[2018-03-17 20:39] #24942 closed, assigned to nobody

[2018-03-17 20:39] #24833 closed, assigned to jimi-c

[2018-03-17 20:55] #25664 closed, assigned to nobody

[2018-03-17 21:03] freeseacher commented on #37224
@dagwieers

[2018-03-17 21:20] #32195 closed, assigned to nobody

[2018-03-17 21:28] #32742 closed, assigned to ganeshrn

[2018-03-17 21:28] #32675 closed, assigned to nobody

[2018-03-17 21:28] #32585 closed, assigned to nobody

[2018-03-17 21:28] #32486 closed, assigned to alikins

[2018-03-17 21:28] #32185 closed, assigned to nobody

[2018-03-17 21:36] #33175 closed, assigned to nobody

[2018-03-17 21:36] #33142 closed, assigned to nobody

[2018-03-17 21:44] #32978 closed, assigned to nobody

[2018-03-17 21:44] #32896 closed, assigned to nobody

[2018-03-17 21:52] #33635 closed, assigned to privateip

[2018-03-17 21:52] #33056 closed, assigned to nobody

[2018-03-17 22:00] #33678 closed, assigned to ganeshrn

[2018-03-17 22:00] #33325 closed, assigned to sivel

[2018-03-17 22:23] #34948 closed, assigned to nobody

[2018-03-17 22:32] #34857 closed, assigned to ganeshrn

[2018-03-17 23:03] #37557 closed, assigned to nobody

[2018-03-17 23:05] #35642 closed, assigned to nobody