[2021-02-02 11:55] christianpinger opened #73452 "ansible.builtin.lineinfile: diff-mode does not show diff unless verbosity is set as well"
##### SUMMARY
when using ansible.builtin.lineinfile with --check and --diff no diff is displayed. Only if -v is set as well the diff is displayed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/lineinfile.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target device is Cumulus Linux 4.2.1 (based on debian9)

##### STEPS TO REPRODU

[2021-02-02 12:30] ssbarnea opened #73453 "sanity: Interpreter line is not "#!/usr/bin/python"'"
##### SUMMARY
Code at https://github.com/ansible/ansible/blob/13d08d232c8b692ec79dba81c9eb83887ee554a2/test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py#L416-L417 is asking for unportable shebang instead of the known to be more portable variant `#!/usr/bin/env python`

The check asks for `#!/usr/bin/python` explicitly while this may not be present or be outdated. The kno

[2021-02-02 12:48] ssbarnea commented on #67032
Considering that ansible-test was already pushed as testing ground for Ansible collections, this is a major deal breaker issue, the one that should be considered as a blocker for making ansible-test trustable for use inside community collections or any other collections.

[2021-02-02 13:07] ssbarnea commented on #67032
ansible-test keeps delivering... docs [mention](https://docs.ansible.com/ansible/latest/dev_guide/testing/sanity/ignores.html#ansible) using of `test/sanity/..." but at runtime I see warning hidden between many other lines:
[code]
So `tests/` is prefered to `test/` ok, not having a problem with setting standards, still the docs is misleading us.

[2021-02-02 14:05] thunder-spb commented on #34454
Any updates on this?

[2021-02-02 14:26] ssbarnea commented on #67032
another issue: https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html#plugin-configuration-documentation-standards mentions (in)valid types:
[code]

Most of them are incorrect, is not boolean but bool, not string but str, not integer but int.

[2021-02-02 14:46] bcoca commented on #67032
@ssbarnea those docs are correct, you are confusing with the valid value for modules, which are a subset of what plugins allow.

[2021-02-02 15:13] sivel commented on #67032
If you scroll down a little further in that document, you will notice the `ignore.txt` is named differently for collections:

https://docs.ansible.com/ansible/latest/dev_guide/testing/sanity/ignores.html#ansible-collections

[2021-02-02 15:36] #17029 closed, assigned to eqrx

[2021-02-02 15:40] samdoran commented on #73453
We required the use of `#!/usr/bin/python` for Ansible to work correctly on the remote. See the [FAQ](https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-handle-not-having-a-python-interpreter-at-usr-bin-python-on-a-remote-machine) for details.

[2021-02-02 15:40] #73453 closed, assigned to nobody

[2021-02-02 17:10] #72966 closed, assigned to eqrx

[2021-02-02 17:28] pbpblush commented on #71977
The error still occurs in 2.10.6

[2021-02-02 20:09] #73084 closed, assigned to relrod

[2021-02-02 20:37] #70470 closed, assigned to nobody

[2021-02-02 20:39] samdoran commented on #73452
I am unable to reproduce this. When using the `debug`  or `default` stdout callback plugins, I see a the diff without increasing verbosity.

[code]

Can you provide the `-vvvvv` output? Does this happen when using the default stdout callback plugin?

needs_info

[2021-02-02 22:40] sivel commented on #73347
You are correct, there isn't one. Stand alone roles, and collections (as well as roles in collections) cannot depend on each other.  Only collection<->collection, and standalone-role<->standalone-role.  To get dep auto installation, both would have to be stand alone roles, or both would have to live in collections.

Otherwise users are on their own to install the deps.

[2021-02-02 22:58] drzraf opened #73456 "lookup("unvault") | from_yaml fails"
##### SUMMARY
`unvault` lookup plugin dumps a Python representation instead of the actual raw data leading to an unparsable and hardly usable string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unvault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE
- Create a vault containing exactly `foo: bar`. Eg using `ansible-vault c

[2021-02-03 00:56] psacawa commented on #73156
I have also encountered this with e.g. `apt: name=redis state=present update_cache_true`. I'm using `- command: apt update` to get around it

[2021-02-03 01:31] selivan commented on #72960
@syedahaider97

I think that's a great idea. 99% times you get what you need right from the ansible documentation, and for last 1% you have a link to look into for further details.

[2021-02-03 06:00] tomaxsas opened #73457 "DNF fails to install module stream if state is latest not present"
##### SUMMARY
Trying to install a nginx (or any other)   module stream

##### ISSUE TYPE
When setting state to latest stream wont install

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 8.3

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
same command afterwards ran with state present
[code]

##### ACTUAL RESULTS
With state

[2021-02-03 08:13] imjoseangel commented on #73452
Same here:

[code]

[code]

[code]

[2021-02-03 10:21] christianharendt commented on #73452
There is no bug. I've found the root cause:
The task was part of a role and was included by other tasks. I've found `no_log: "{{ ansible_verbosity < 1 }}"` in some include task. Disabling no_log and it works just fine.

@samdoran and @imjoseangel thank you for testing and sorry for the inconvenience.

[2021-02-03 10:21] #73452 closed, assigned to nobody

[2021-02-03 12:17] SJay3 opened #73459 "Document ansible.legacy, and the restrictions of content accessible by default to roles in collections"
##### SUMMARY
We have encountered a problem with custom modules.
Our case is the following:
- we have custom modules, they are, essentially, go binaries
- we are distributing them as packages that install the binaries to /usr/share/ansible/plugins/modules

We are embracing ansible 2.10 and we have moved all roles that use these custom modules to collections. As a result, our roles can no longer fi

[2021-02-03 14:39] samdoran commented on #73452
@christianharendt Thank you for the follow up. I figured there was some other setting at play I just wasn't quite sure what it was.

[2021-02-03 15:13] sivel commented on #73459
!component =lib/ansible/playbook/role/__init__.py

I'm not sure if this should be classified as a bug, or whether this is just docs.

However, in order for this to work, your role (via `meta/main.yml`) or the individual task within the role would need to specify:

[code]

For the collection search order, or just use `ansible.legacy.module_name_here` for the module name.

cc @nitzmahone

[2021-02-03 15:19] sivel commented on #73456
The issue is due to not converting the contents of the file to test, before returning the data from the lookup.

[code]

[2021-02-03 15:31] Timoses opened #73462 "Template error in 'when' statement: The lookup `file` was found, however lookups were disabled from templating"
##### SUMMARY

Templating behaves oddly with lookup.

What I found (unsure if it is relevant):
* https://groups.google.com/g/ansible-project/c/YbcU0pUBBfw
    * https://github.com/ansible/ansible/commit/d316068831f9e08ef96833200ec7df2132263966

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 3

[2021-02-03 16:08] mkrizek commented on #73462
See the `WARNING` in your task output

 Using `{{ }}` in the `when` conditional causes it to be templated twice and since `lookup`s are considered unsafe, they are disabled for the second templating.

[2021-02-03 16:51] bcoca commented on #73459
also note you could ship those modules within a collection themselves.

[2021-02-03 17:05] sivel commented on #73459
I'll leave my reproducer here as well.  One thing to note is that whether the modules are binary or python does not matter.

[code]

collections/ansible_collections/foo/bar/roles/baz/tasks/main.yml
[code]

73459.yml
[code]

/usr/share/ansible/plugins/modules/helloworld.py
[code]

Changing `- helloworld:` to `- ansible.legacy.helloworld:` works, `ansible.builtin` does not, and roles within a collec

[2021-02-03 17:52] sivel commented on #73459
Ok, we have confirmed that this is the expected behavior, however:

1. We need docs around `ansible.legacy` as it doesn't appear anywhere
2. We have some error messages that are misleading when using `ansible.builtin` to access a module/content only available via `ansible.legacy`. (`The module ansible.builtin.helloworld was not found in configured module paths"`)

[2021-02-03 18:43] sivel commented on #73462
Maybe not entirely accurate, but when statements should be bare templates, and not include `{{ }}`.  If the jinja2 delimiters are removed like the warning states, then the lookup error doesn't happen.

We add that warning, because using `{{ }}` can lead to unexpected results, and this seems like an unexpected result.

I think your original statement was correct.  The warning tells the user of bad

[2021-02-03 19:42] syedahaider97 commented on #72960
@selivan Would you happen to know where the source code & documentation might be for this module in particular?
I wasn't able to find it in my searches...

[2021-02-03 19:46] selivan commented on #72960
@syedahaider97

Found it: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/password.py

[2021-02-03 20:11] bcoca commented on #73462
https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#when-should-i-use-also-how-to-interpolate-variables-or-dynamic-variable-names

[2021-02-03 20:43] syedahaider97 commented on #72960
So it turns out that the listing as proposed was already merged into `devel` in the  [following commit](https://github.com/ansible/ansible/commit/501f30df45b03a9ce6d272d50e217deed2d40fb3#diff-b2b60725a2a003e1414cf4eee2f16b4ea36d1edc4f6fcf0c3872a575643d33c9)

However, I did still create a PR specifying that the values could vary per Python Version as per @bcoca's suggestion

[2021-02-03 21:03] smemsh opened #73469 "git verify-tag regression (worked in 2.8) fixed in devel but not present in 2.9 or 2.10"
##### SUMMARY
PR #70900 by @relrod fixed #64469 in devel, but the fixed code is not present in v2.10, and is a regression from v2.8 still present in both 2.9.17 and 2.10.5.  could it be backported at least to v2.10?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock

##### OS / ENVIRONMENT

controller: late debian with statically li

[2021-02-03 21:21] jborean93 commented on #65699
Was implemented with https://github.com/ansible/ansible/pull/73336 and will be in ansible-base 2.11. The changes reflect the behaviour of `pip` so it's `install -U` or `install --upgrade` to upgrade a collection. The `install` command will also upgrade the collection anyway if you specify a version constraint that doesn't match what is locally installed.

[2021-02-03 21:21] #65699 closed, assigned to thaumos

[2021-02-03 21:22] jborean93 commented on #71784
Was implemented with https://github.com/ansible/ansible/pull/72591 and subsequently followed up with https://github.com/ansible/ansible/pull/73336.

[2021-02-03 21:22] #71784 closed, assigned to webknjaz

[2021-02-03 21:55] sivel commented on #73215
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-03 21:55] #73215 closed, assigned to nobody

[2021-02-03 21:59] AmeyaLokre opened #73470 "ansible-test sanity validate-modules fails"
##### SUMMARY

running the command `ansible-test sanity --docker` fails for all python versions 3 but passes for python version 2 when run on ansible==2.10. Getting many validate-module test failures which were not being faced in the when running the same command on ansible==2.9.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test sanity

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2021-02-03 22:31] sivel commented on #73206
The issue here has nothing to do with a jumphost fwiw.

The only way that async job files are ever cleaned up, is if you call `async_status` with `mode: cleanup`, otherwise they live there forever.

With an `async` task that waits, that implicitly uses `async_status` we don't call cleanup.

This fix should resolve the issue:

[code]

[2021-02-03 22:41] sivel commented on #73470
Sanity tests improve over time, and new tests are generally only applied to the newer version.  So plugins that may have passed on a prior version are not guaranteed to pass on a newer version.

This will require a few things.

1. Ensure you are testing your collections with devel code on a regular basis to catch these errors earlier, potentially with a recurring scheduled CI job, so that you are

[2021-02-03 22:41] #73470 closed, assigned to nobody

[2021-02-03 22:47] sivel commented on #73206
We probably also need more explicit docs to the effect that the job file is never cleaned until explicitly requested.

[2021-02-03 22:59] mdavis-xyz opened #73472 "Document AnsibleModule argument_spec"
##### SUMMARY

Every Ansible module takes in an `argument_spec` to the `AnsibleModule`.

I can't find documentation anywhere about what is supposed to go here.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

AnsibleModule

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### ADDITIONAL INFORMATION

[This is the context](https://github.com/ansible

[2021-02-03 23:18] sivel commented on #73472
I believe the page you are looking for is https://docs.ansible.com/ansible/latest/dev_guide/developing_program_flow_modules.html#argument-spec

[2021-02-03 23:23] Perfect10NickTailor commented on #73215
Sounds good.

Thank you for your help.

Cheers

On Wed, 3 Feb 2021, 9:55 pm Matt Martz, <notifications@github.com> wrote:

[2021-02-04 00:09] mdavis-xyz commented on #73472
That looks like the section I was looking for.

It doesn't explain the difference between `json` and `jsonarg` and `raw`.

Looking at the code, it seems `jsonarg` is an alias for `json`.

But I'm not sure how to use json.

If I use `json`, can my module usage look like:

[code]

Or does it have to look like:

[code]

And it passes a string to the module, right? Not a dict/list that *can* be conver

[2021-02-04 01:01] relrod commented on #73462
Closing per above.

[2021-02-04 01:01] #73462 closed, assigned to nobody

[2021-02-04 05:38] frogstarr78 opened #73477 "Loops and vars don't play nice when product filters are involved"
##### SUMMARY

When using a "vanilla" loop on a task, vars have access to the loop values unless the loop includes (at least) a product filter. Then I get the error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Run this sample playbook.
There are three tasks below. The

[2021-02-04 05:54] flowerysong commented on #73477
You are trying to use `item` in the loop definition, not inside the loop. This fails for the same reason `loop: "{{ item }}"` would.

[2021-02-04 06:15] frogstarr78 commented on #73477
Okay, thanks.

[2021-02-04 06:15] #73477 closed, assigned to nobody

[2021-02-04 11:30] sathieu commented on #30754
I fixed this by using `python3`. Here is a minimal playbook:

[code]

[2021-02-04 11:31] SJay3 commented on #73459
@bcoca Thanks. I know, that we can put our modules to collection and ship it together. But it not really good idea for binary modules.

@sivel Thanks. We don't know about `ansible.legacy` path for modules. We will try to use it. Will this fqcn deprecated in future releases ?

[2021-02-04 12:33] JensHeinrich commented on #73347
Can this please be added to to documentation explicitely (or an apropriate error be added to the ansible-galaxy CLI) ?

eg: check if there is a `collections:` key in `meta/requirements.yml` and print out a warning?
(and maybe install roles listed in roles?)

[2021-02-04 13:25] romilgupta28 opened #73478 "Failed to invoke DSC Set method: PowerShell DSC resource MSFT_xCluster"
- name: WSFC | Add a powershell module on {{ wsfc_primary_server }}
      win_psmodule:
        name: xFailOverCluster
        state: present
    - name: WSFC | Add windows features on {{ wsfc_primary_server }}
      win_dsc:
        resource_name: WindowsFeature
        Name: "{{ item }}"
        Ensure: Present
      loop: "{{ wsfc_required_features }}"
    - name: WSFC | Install Failover-Cluste

[2021-02-04 13:53] mkrizek commented on #73419
!needs_collection_redirect
!bot_skip

[2021-02-04 14:02] mkrizek commented on #73419
!needs_collection_redirect

[2021-02-04 14:22] adsnjhfyeqw231eas opened #73481 "."

[2021-02-04 14:31] mkrizek commented on #73481
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-02-04 14:31] #73481 closed, assigned to nobody

[2021-02-04 14:33] mkrizek commented on #73478
!component =lib/ansible/modules/windows/win_dsc.py

[2021-02-04 14:34] TridevGuha commented on #73481
Hi @mkrizek , Greetings. I really need this answer quick on my path to learning ansible. On this git installation of anisble, I am unable to find the /etc/anisble/hosts file.
can you kindly help?

[2021-02-04 14:35] #73478 closed, assigned to nobody

[2021-02-04 15:13] sivel commented on #73472
`json` is an alias to `jsonarg`, and will turn whatever data is received by the module into a JSON string.

Such as the dict `{'foo': True}` will become `{"foo": true}`

So you can use both your first and 2nd example.  If not a string, it makes it a JSON string.

The general idea, is that the types both validate and coerce to the type indicated.

So for example `int` coerces and validates the valu

[2021-02-04 15:15] sivel commented on #73459
No

[2021-02-04 16:56] lunxra opened #73482 "Ansible templating error, unexpected char '`'"
##### SUMMARY

I use Ansible to template out a `packer.json` file.
After upgrading Ansible from 2.9.9 to 2.10.5, I receive an error about failing to parse a template containing the character '`'.
This step has worked perfectly up until the upgrade. I tried several syntax modifications such adding/removing quotations, etc. but still cannot produce a working playbook again.

##### ISSUE TYPE
- Bug R

[2021-02-04 17:05] flowerysong commented on #73482
This:
[code]
should be
[code]

This marks it as a value that should not be interpreted as Jinja in a way that's much more robust than raw/endraw. See https://docs.ansible.com/ansible/latest/user_guide/playbooks_advanced_syntax.html#unsafe-or-raw-strings

[2021-02-04 17:39] sivel opened #73483 "Do not rely on strategy name in callbacks to dictate functionality"
##### SUMMARY
Right now, we utilize `play.strategy` to toggle functionality in callbacks, specifically around whether or not a strategy is lockstep or not.

This is inflexible, as it only matches simple names, and is not easily maintainable.

I've previously investigated:
1. passing the actual strategy object, but this is dangerous, as it gives callbacks the ability to poke at things it shouldn't

[2021-02-04 18:05] sivel commented on #73457
Related/possible dupe: https://github.com/ansible/ansible/issues/56504

[2021-02-04 18:20] SunflowerFieldsForever commented on #73482
@flowerysong
Thanks for pointing me in the right direction. I missed that bit of documentation while troubleshooting.
Playbook works like a charm now!

[2021-02-04 18:20] #73482 closed, assigned to nobody

[2021-02-04 19:17] jborean93 commented on #73472
Will open a PR to try and clarify the types a bit more and find a better location to link to this page to help make it easier to find.

[2021-02-04 19:34] thehcma opened #73486 "WinRM flakiness when running win_updates task"
##### SUMMARY
The execution of the `win_updates` task (observed reliably when hitting a Windows 2012 R2 Standard) fails reliably as follows:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host is RHEL7:

[code]
Target is: Windows 2012 R2 Standard

##### STEPS TO REPRODUCE

[code]

##

[2021-02-04 19:34] Shrews commented on #73472
Just want to note that a lot of the spec documented in the link pointed to by @sivel is duplicated in the docs for the module documentation section [here](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html#documentation-fields) (scroll to the `options` section). It would be nice if we could align those somehow.

[2021-02-04 21:19] srl295 opened #73490 "document use of Windows' OpenSSH service"
##### SUMMARY
- Windows 10 now has a built in OpenSSH Server optional feature

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
`ansible/docs/docsite/rst/user_guide/windows_setup.rst`
= <https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#windows-ssh-setup>

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Windows 10

##### ADDITIONAL IN

[2021-02-04 21:55] mdavis-xyz commented on #73472
The module documentation Shrews mentioned is also insufficient. It references `argspec` without linking to any relevant page. It doesn't enumerate all of the possible options for argument types.

[2021-02-05 04:44] MianMuhammadTalhaIqbal opened #73499 "**"Unsupported parameters for (ios_command) module."**"
##### SUMMARY
 **"Unsupported parameters for (ios_command) module."**
I am actually trying to use **ios_command module** for running multiple commands on network devices in the topology given below. but it gives the error msg shown in actual results shown below:
I've verified ssh connectivity with all the hosts and also run some AD-HOC commands plus playbooks using raw module and their output was

[2021-02-05 04:47] #73499 closed, assigned to nobody

[2021-02-05 14:12] encukou opened #73503 "ansible.builtin.dnf: installing by filename errors with "No group ... available""
##### SUMMARY
When asked to install `name: /usr/bin/cowsay`, the DNF plugin errors with `No group usr/bin/cowsay available.`.
The error message is wrong (there are no groups in sight).

It would be quite useful if Ansible installed a package with `/usr/bin/cowsay`.

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME
ansible.builtin.dnf

##### ANSIBLE VERSION

[code]

##### CONFIG

[2021-02-05 14:40] #73262 closed, assigned to nobody

[2021-02-05 15:06] #73364 closed, assigned to sivel

[2021-02-05 15:07] samdoran commented on #36326
This module has been moved to the [community.general collection](https://github.com/ansible-collections/community.general). If this is still an issue, please open a new issue in that project.

[2021-02-05 15:07] #36326 closed, assigned to nobody

[2021-02-05 15:12] samdoran commented on #35566
As @sivel pointed out earlier, this is working the way we expect. We do not provide a mechanism for inserting arguments immediately after the `ssh_command`. The best solution would be to create a wrapper script that contains the binary and its args and set that as `ssh_command`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * ma

[2021-02-05 15:12] #35566 closed, assigned to nobody

[2021-02-05 15:16] samdoran commented on #14150
Duplicate of #33831

[2021-02-05 15:16] #14150 closed, assigned to nobody

[2021-02-05 15:17] samdoran commented on #33831
We should make the command line parameter overwrite the value in the config file. Changing this could be problematic to people relying on this behavior, but it should be changed anyway.

[2021-02-05 15:20] samdoran commented on #33831
This commit has the behavior that should be changed. https://github.com/ansible/ansible/commit/5739bb075f7bcb0d9b360b0de8f37be721f762e0

[2021-02-05 15:20] #31021 closed, assigned to nobody

[2021-02-05 15:21] samdoran commented on #29458
Closing per above.

[2021-02-05 15:21] #29458 closed, assigned to nobody

[2021-02-05 15:26] samdoran commented on #25365
The above PR added error reporting for some failures of fact collection. Implementing this for _all_ failures that can occur during fact collection would be a rather huge undertaking. Closing this for now since we do not plan to add more error reporting to fact collection. This may be done as part of a future effort to rework how fact collection works.

[2021-02-05 15:26] #25365 closed, assigned to alikins

[2021-02-05 15:34] samdoran commented on #22248
It seems like `recurse` is not taken into account for directories. Even if `recurse` is `False`, the directory is removed. Taking into account the value of `recurse` is probably the correct way to handle this.

 It could be argued this is a bug in `file` but the behavior has been around for so long changing it would be very disruptive.

[2021-02-05 15:37] samdoran commented on #21145
Is this still an issue with current versions of Ansible (>=2.9).

needs_info

[2021-02-05 15:40] samdoran commented on #46829
We would be willing to accept a changing adding the module response to the `-v` output. Adding it to the default output is too verbose for regular output.

[2021-02-05 15:45] samdoran commented on #15402
This is a behavior of `ssh` and not Ansible. We have no special support for prompting multiple times. Using ssh keys and/or `ssh-agent` is recommended.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-05 15:45] #15402 closed, assigned to nobody

[2021-02-05 15:47] samdoran commented on #69005
Closing per above discussion. This may end up in "project config" rather than global config.

[2021-02-05 15:47] #69005 closed, assigned to nobody

[2021-02-05 15:51] samdoran commented on #50956
We have no plans to implement this feature at this time. Anything we did add would be explicit and would not implicitly re-run tasks on failure.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-05 15:51] #50956 closed, assigned to nobody

[2021-02-05 15:54] samdoran commented on #28722
If the goal is to have tasks run regardless of change, use tasks with a conditional. The main feature of handlers is they run only when things change.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-05 15:54] #28722 closed, assigned to nobody

[2021-02-05 16:08] bcoca commented on #36024
closing as dupe of #21088

[2021-02-05 16:08] #36024 closed, assigned to nobody

[2021-02-05 16:21] samdoran commented on #69205
While it would definitely be helpful to detect conflicting names, not breaking on the first found could be very expensive. Since this is in dataloader, even a minor increase in runtime could result in a perceptible increase in overall execution time.

The debug information does display the file from which data is loaded. https://github.com/ansible/ansible/blob/7f1c32f5cefc75e2fa33fc7ee53d3b6437433

[2021-02-05 16:21] #69205 closed, assigned to nobody

[2021-02-05 16:21] webknjaz opened #73505 "Bugs in the user module revealed by the macOS 11.1 CI job (race condition?)"
##### SUMMARY

We've faced a flaky CI failure in one of the test runs for #73474 that is unrelated to changes in that PR.
The job is `macOS 11.1 - 1` and the failure seems to have happened in the preparation stage of running tests (AFAIU — when it attempted to create a test user on the system).

First, when it tried to create a user, it failed with `"err": "<dscl_cmd> DS Error: -14988 (eNotYetImpl

[2021-02-05 16:50] bcoca commented on #36692
can you check if this was fixed by #72830

[2021-02-05 17:27] jillr opened #73507 "Cached inventory loading fails since #73162"
##### SUMMARY

Since #73162 populating inventory from cache fails, as in https://github.com/ansible-collections/amazon.aws/blob/main/tests/integration/targets/inventory_aws_ec2/playbooks/populate_cache.yml

Error can be seen in CI: https://app.shippable.com/github/ansible-collections/amazon.aws/runs/1328/18/console

Possibly happening at https://github.com/ansible/ansible/blob/devel/lib/ansible/co

[2021-02-05 17:28] samdoran commented on #73505
The underlying command that is being run, `dscl . -list /Users UniqueID` sometimes returns `eNotYetImplemented` for no reason I can determine. This has been an intermittent issue for all versions of macOS we have tested on: 10.10, 10.11, and 11.1. I have tried to duplicate the error locally by running that command in a loop for long periods of time and was not able to do so.

From some digging, th

[2021-02-05 17:42] webknjaz commented on #73505
Looking at the source, it seems like `get_pwd_info()` calls `user_exists()`. And `user_exists()` calls `pwd.getpwnam()` in one of its internal branches. Which means that `user_exists()` probably goes for another branch, checking for the local user which exists, then `get_pwd_info()` finally calls directly `pwd.getpwnam()` which fails. A quick fix would be try/except/return False...

[2021-02-05 17:49] bcoca commented on #73507
If that is the cause it seems that something is not using the correct values from `choices`

[2021-02-05 18:17] acozine opened #73510 "Audit the rst pages for accessibility"
##### SUMMARY
How well does our documentation work with screenreaders?

We want to:
- [ ] Make sure all link URLs (and cross-reference links) provide descriptive text that conveys information about the content of the target linked page prior to clicking the link.
- [ ] Avoid generic phrases like “click here” in links.

Examples:
A link to a different section in the same document shows the section

[2021-02-05 18:28] jillr commented on #73507
Cool thanks, that seems to have worked.  Bugs that were also features I guess.  :)

[2021-02-05 18:28] #73507 closed, assigned to nobody

[2021-02-05 19:14] drawks opened #73514 ""add_host" module should redact the contents of `ansible_ssh_pass` and other sensitive parameters"
##### SUMMARY
When using the `add_host` module it's arguments are not marked `no_log` internally such that sensitive values e.g. `ansible_ssh_pass` are not reacted in logging output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`add_host`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 on x86-64

##### STEPS TO REPRODUCE

Run a playbook that us

[2021-02-05 20:40] #72747 closed, assigned to nobody

[2021-02-06 09:27] ssbarnea commented on #73510
Just a note: if we just audit and fix existing issues without adding a build time check for them we likely wasted our time as quick regressions are going to happen.

I would start by looking for which tools can identify these errors first.

[2021-02-07 04:30] jasstionzyf opened #73522 "ansible.builtin.command add dict arguments support"
##### SUMMARY

like i have a python file need to execute , i need pass multi key-value pairs to the python script to parse and execute
[from documents](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html), it only support list arguments not support dict arguments

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible.builtin.command

##### ADDITIONAL IN

[2021-02-07 08:59] drokath opened #73523 "virt_net requires name attribute even when using facts or list_nets command"
##### SUMMARY
When using facts command the virt_net still requires a name

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
virt_net

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

libvirtd installed and configured

##### STEPS TO REPRODUCE

Content of the playbook
In a file named test-playbook.yml:
[code]

Run:
[code]

##### EXPECTED RESULTS

ansible_libvir

[2021-02-07 09:05] #73523 closed, assigned to nobody

[2021-02-07 09:19] felixfontein commented on #73510
I think that should happen in parallel. Such things are only testable with heuristics, and we can spend years working on trying to add tests for this (and they would still not be perfect).

[2021-02-07 10:14] drokath commented on #73523
Agree up-to-date implements the use of required_if

[2021-02-07 12:09] relrod commented on #73284
Verified. This is because of how we parse `yum check-update` to get the list of pending updates. We store the results in a dict keyed on package name, but there will be one line (with the same package name) per installed arch.

I have a fix locally, but need to write up a bunch of tests for it.

[2021-02-07 20:59] amg1127 commented on #73284
Thanks, @relrod .

Would it be possible to backport the fix to Ansible 2.9? Currently, I am depending on Yum module output for a control that ensures that packages to be installed on production servers are already installed on staging servers.

The control works by:
- Running the `yum` module in check mode against production servers
- Compare the upgrade report generated check mode with the packag

[2021-02-07 22:32] relrod commented on #73284
Yeah, I think we should be able to do that, this is pretty clearly a bug. I'll try to finish up my patch and tests soon.

[2021-02-08 06:12] SWADESNA opened #73526 "Adding brief description for the change made in Ansible 2.9.11 to use the first galaxy server supporting v1 for roles"
##### SUMMARY

The change has been done since Ansible v2.9.11 to find which server provides the v1 API for roles/collections download.
More information here [#70375](https://github.com/ansible/ansible/pull/70375) .

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL IN

[2021-02-08 10:59] j-mracek opened #73527 "Ansible modify internal cache of DNF - ansible can crash anytime after release of a new version of DNF"
##### SUMMARY
Ansible in dnf.py uses a private attributes (in this case it is an internal cache for security filters - base._update_security_filters). Using private attributes could result in random fails, because they could be even removed without announcement because it is not API.

        filters = []
        if self.bugfix:
            key = {'advisory_type__eq': 'bugfix'}
            filters

[2021-02-08 12:27] vladanmilosevic73 commented on #70068
We are in the same boat - any news on the options aside from what @kjoyce77 suggested. Any feedback?

[2021-02-08 12:47] SirUli opened #73528 "ansible-test sanity and ansible.utils.display"
##### SUMMARY
ansible-test sanity reports
[code]

and

[code]

although following the documentation on various pages (e.g [1](https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html#lookup-plugins)), on how to import the Display module:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##

[2021-02-08 14:41] s-hertel commented on #70741
Closing as per https://github.com/ansible/ansible/pull/70765#issuecomment-775196346

[2021-02-08 14:41] #70741 closed, assigned to nobody

[2021-02-08 15:13] sivel commented on #73528
There is no possibility to use `Display` in a module or `module_utils`.  There are 2 problems with this:

1. Modules will not have access to `Display` within the normal scope of module execution, unless ansible happens to be installed on the target, and installed with the same python being used on the target
2. Modules should never output anything other than a single JSON document at the end of th

[2021-02-08 15:13] #73528 closed, assigned to nobody

[2021-02-08 15:23] SirUli commented on #73528
@sivel Thanks so much - i actually totally overlooked that. Thanks so much and thanks for taking the time to explain!

[2021-02-08 18:07] jkman340 opened #73531 "Cron module with state=absent deletes entire crontab file"
##### SUMMARY
When using the cron module with state=absent, the entire /etc/crontab file is deleted vs just ensuring the specified cron entry is not present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.builtin.cron

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
Run a playbook with a cron job with state abse

[2021-02-08 18:09] sivel commented on #73531
Duplicate of https://github.com/ansible/ansible/issues/72392

[2021-02-08 18:22] jkman340 commented on #73531
Reading thru #72392 this behavior still seems unexpected. #72392  identifies an issue with having multiple jobs in a single /etc/cron.d file.  This issue relates to managing jobs in the main /etc/crontab and the entire file being deleted when trying to remove a single job. Is this not supported?

[2021-02-08 19:21] smemsh commented on #73469
thanks @relrod.  closing ticket as it looks like it was merged into the 2.10 base.

[2021-02-08 19:21] #73469 closed, assigned to relrod

[2021-02-09 07:38] yowzer81 opened #73534 "iosxr_facts does not display the correct hostname for IOS-XR 64-bit"
##### SUMMARY

iosxr_facts module doesn't capture the correct router hostname but instead shows as System. This only happens to IOS-XR running with 64-bit architecture

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iosxr_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested with Cisco NCS-5500 (7.2.1) and Cisco ASR9000 (7.1.2)

##### STEPS TO REPR

[2021-02-09 07:40] #73534 closed, assigned to nobody

[2021-02-09 12:27] holser commented on #21145
I tested playbook in bug description so it seems to be working in ansible-playbook 2.10.5. It also worked in ansible 2.9.5 you may close this bug. Thank you very much.

[2021-02-09 12:44] candlerb opened #73535 "msg "Could not import python modules: apt, apt_pkg" should also mention apt.debfile"
##### SUMMARY
A particular target machine gives this error:

[code]

However, checking on the target machine confirms that both those modules *are* available:

[code]

It turns out that the problem is actually with missing `apt_inst`, although this isn't shown unless you run the ansible command with `-vvv`:

[code]

(this isn't visible with `-vv`).  And indeed, I confirm this is the case on the ta

[2021-02-09 13:47] mkrizek commented on #73535
This is not a bug in Ansible and Ansible itself should not (cannot) workaround system misconfiguration like this.

Also I do not think we should put `apt_inst` in the message because `apt_inst` is not directly imported from Ansible's `apt` module, rather `apt_inst` is imported from within `python-apt` and the error message clearly states that `python-apt` must be installed (properly of course).

[2021-02-09 13:57] candlerb commented on #73535
Interesting.  As shown before, `import apt` and `import apt_pkg` were both successful.  Checking in Ansible source code, it also does `import apt.debfile`, and that's the one that triggers the problem:

[code]

If the error had mentioned that, it would have helped me narrow down the problem more easily.

[2021-02-09 14:19] dpower1985 opened #73536 "win_update stuck in loop attempting to install cumulative update"
##### SUMMARY
Running the win_update module to try and install windows updates on newly installed Windows Server 2019 installation via Windows Updates (No WSUS server specified on target system).
The task is run several times over to account for pre-req updates, but one of the found updates reports as installed but isn't ever actually installed. Reboot is set to no and the win_reboot module is use

[2021-02-09 14:36] mkrizek commented on #73536
!component =lib/ansible/modules/windows/win_updates.py

[2021-02-09 14:37] #73536 closed, assigned to nobody

[2021-02-09 14:47] mscherer commented on #39686
Also, Fedora atomic host no longer exist, that's FCOS, and FCOS spent lot of time to remove python from the basesystem, so ansible do not work out of the box there, and by design.

[2021-02-09 14:49] s-hertel commented on #52653
This looks like a duplicate of #22248.

[2021-02-09 14:49] #52653 closed, assigned to nobody

[2021-02-09 14:49] #21145 closed, assigned to nobody

[2021-02-09 15:19] samdoran commented on #73514
If the `add_host` task is adding variables that contain sensitive data, use `no_log: True` on the task. It's not possible to cover all the variables that could potentially contain sensitive information.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-09 15:19] #73514 closed, assigned to nobody

[2021-02-09 15:24] samdoran commented on #73522
We have no plans to implement this feature at this time. This can already be done using `argv` and the long options, or using the `map` filter to construct the options from a list. There are some examples [here](https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html) that may help.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible

[2021-02-09 15:24] #73522 closed, assigned to nobody

[2021-02-09 15:27] samdoran commented on #73526
This was a bugfix to an implementation detail. I'm not sure it's helpful to users to document this. Is there a particular reason you feel this needs to be documented?

needs_info

[2021-02-09 15:30] samdoran commented on #73527
!component =lib/ansible/modules/dnf.py

[2021-02-09 15:35] samdoran commented on #73531
This comes up enough that we should special case `/etc/crontab`. This should be an error rather than removing the file.

[2021-02-09 15:39] samdoran commented on #73535
Closing per above.

[2021-02-09 15:39] #73535 closed, assigned to nobody

[2021-02-09 15:39] marwatk opened #73538 "Using ANSIBLE_JINJA2_NATIVE treats list like strings as lists"
##### SUMMARY

When ANSIBLE_JINJA2_NATIVE is enabled ansible treats strings that look like lists as lists instead of strings. I'm not sure this behavior is actually a bug, but it caught us off guard so I thought I'd report it and find out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jinja

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
Ce

[2021-02-09 16:00] mkrizek commented on #73538
From a quick look notes to self:

1. Reproducer without using `var`:

[code]

2. `literal_eval` that the native jinja uses evaluates comma delimited strings as a tuple:
[code]

[2021-02-09 16:13] bcoca commented on #73538
using type_debug it seems to have the correct type
[code]
this is probably an issue with debug 'jsonizing' output from `var=` giving you a misleading type.

[2021-02-09 16:22] drawks commented on #73514
I don't think anyone asked for it to cover "all variables," but it is just lazy to not cover well known and documented internal variables such as `ansible_ssh_pass` It is a weird double standard that contributors adding modules are not only told to ad `no_log` tags to their module parameters, but also at runtime ansible actively raises warnings when these parameters aren't tagged `no_log` and yet

[2021-02-09 16:23] marwatk commented on #73538
@bcoca, if that were the case wouldn't we be seeing the issue both with and without jinja2 native? (Plus we discovered this because a templated file was showing an incorrect value, we're just using `debug` to simply the reproduction)

[2021-02-09 16:25] bcoca commented on #73538
no, you would not see a list, you woudl see a tuple, also fun note:
[code]

[2021-02-09 16:41] bcoca commented on #73514
@drawks the thing is they are 'not' internal (they used to be) since they are provided by the plugins themselves, a plugin can add any amount of variables that are meant to hold secrets, the ssh connection plugin might be the default, but it works just like any other connection plugin.

[2021-02-09 16:55] sivel commented on #73514
There are a few problems to note here:

1. These are not really internal variables, they come from connection plugins, so we would have to scan all plugins to know about them.  Duplicating them via some arbitrary selection process is being lazy, and doing it fully isn't feasible.
2. What is unimportant to you is important to someone else.  This creates a management nightmare, as people continually

[2021-02-09 17:19] drawks commented on #73514
@sivel All good answers, though perhaps what is a non-starter for it's specific ask highlights the need for a way for users to mark things to be redacted at a granularity that is finer than the task level.
Maybe something like:
[code]
Is easy to grok the intent and extends an existing mechanism.
Or
[code]
which follows the path of `omit` and `mandatory`.

I'd be happy to open a separate issue to e

[2021-02-09 17:44] #64625 closed, assigned to nobody

[2021-02-09 20:24] acozine commented on #73197
Changes are hanging out on this branch: https://github.com/acozine/ansible/tree/banner-for-core-package-split

[2021-02-09 21:41] #68775 closed, assigned to nobody

[2021-02-09 22:53] mrmibrown opened #73554 "Add free strategy support to the builtin add_host module"
This is a request to add free strategy support to the builtin add_host module

##### SUMMARY
When the add_host module is used in free mode the following error is received:
"ERROR! The 'add_host' module bypasses the host loop, which is currently not supported in the free strategy and would instead execute for every host in the inventory list."

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2021-02-10 08:18] mkrizek commented on #73538
The purpose of native types functionality is to make rendening templates return a native Python type, which is what is happening here. So as @bcoca mentions above the right thing to do here is to use the `string` filter on consumption of the variable if you do not wish for `"'a', 'b'"` to be rendered as a tuple (which is what Python would do).

If you have further questions please stop by IRC or t

[2021-02-10 08:18] #73538 closed, assigned to mkrizek

[2021-02-10 08:53] mchouque commented on #30411
In my case it was sshpass failing with a known bug that was fixed (and which is also mentioned [here](https://github.com/ansible/ansible/issues/30411#issuecomment-644101490). Namely it was missing SIGCHLD but still waiting for its child process to send something.

Since then I asked the maintainer of sshpass to release a new version of the tool and he has...

[2021-02-10 09:39] invsblduck commented on #28674
reason #28,674 not to get clever with this kind of bloatware.
don't shoehorn bash inside yaml inside jinja, lest you end up with turducken's big ugly cousin, the bayanja.

what a waste of time this was trying to debug this.

just like a Jenkinsfile: mimimal surface area. only touch that ick so you can run a parameterized bash script -- which runs just as nicely *outside* of said orchestration syst

[2021-02-10 10:06] mihai-satmarean opened #73558 "Failed to find choco.exe, make sure it is added to the PATH or the env var 'ChocolateyInstall' is set"
##### SUMMARY
Unable to install chocolatey

##### ISSUE TYPE
bug

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

control machine macosx
target windows host, other modules as setup work over an ssh connection

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected was that chocolatey is installed and working

####

[2021-02-10 10:08] #73558 closed, assigned to nobody

[2021-02-10 10:55] mkrizek commented on #72941
+1

Closing as a duplicate of https://github.com/ansible/ansible/issues/73246. The only difference is that in #73246 `any_errors_fatal` is used explicitly while in this issue `run_once` is used which implies `any_errors_fatal`. POC fix for the issue is https://github.com/ansible/ansible/pull/72947.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freeno

[2021-02-10 10:55] #72941 closed, assigned to nobody

[2021-02-10 11:24] achar007 opened #73559 "ansible lookup in file with semi colon; delimited & lookup based on 2 variable"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
**Question:**

I'm trying to lookup column3 server_vip from sample csv file shown below.
I'm using ansible playbook as yaml file which includes the actual code.
My lookup key will have 2 variable
1. host name
2. port
Clubbing both hostname$port is my primary key in csv file for lookup.
Code seems to b

[2021-02-10 12:18] mkrizek commented on #73559
That error is likely caused due to matched row not having specified column (not having enough columns). Please check that your input file is correct in that all rows have X + 1 columns for `col=X`.

[2021-02-10 13:30] mkrizek commented on #72781
Reproducer without `include_tasks`:
[code]

The issue is due to a bug in task lockstep in the linear strategy that results in tasks being incorrectly ordered. I am working on fixing the issue in https://github.com/ansible/ansible/pull/72856.

[2021-02-10 16:03] enegaard commented on #57062
I just experienced this issue on some RHEL 6 systems that have the "mrg-release" package installed, which in turn means that /etc/mrg-release exists with the following contents:

Red Hat Enterprise MRG 2.5

Ansible discovers those systems as:

[code]

[2021-02-10 16:44] ElijahLynn commented on #28674
Super helpful context here! This would be good to add to both the `cmd` and `shell` documentation!

[2021-02-10 23:41] heldner commented on #54024
!component

[2021-02-11 03:17] Achar007 commented on #73559
Yes, my input file has no empty fields and file is intact.

[2021-02-11 06:46] djadk84 opened #73562 "Service module is not working in FreeBSD"
When using ansible service module to restart a service, it fails everytimes.

##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
FreeBSD 12.2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2021-02-11 08:09] felixfontein opened #73563 "`ansible-test integration --docker --python 3.6` fails in community.general"
##### SUMMARY
Running `ansible-test integration --docker -v shippable/cloud/group1/ --python 3.6` with devel fails in community.general:
[code]

See also https://dev.azure.com/ansible/community.general/_build/results?buildId=6407&view=logs&jobId=2a0cfefe-0260-537b-befd-3f34413a4c18&j=2a0cfefe-0260-537b-befd-3f34413a4c18&t=89685a32-c5f6-5eeb-4267-89d2e062d9f8

##### ISSUE TYPE
- Bug Report

##### C

[2021-02-11 08:15] mkrizek commented on #73559
For the record I am not able to reproduce the issue with provided csv file (unless I delete enough columns from a row to trigger the `IndexError`).

[2021-02-11 08:35] thatnerdjosh commented on #46963
I've been meaning to get to this for so long but haven't made much progress, if anyone is interested in this task feel free to take it

[2021-02-11 09:26] Madic- commented on #73348
As workaround I added the following to the task:

[code]

Example:

[code]

[2021-02-11 12:14] eqrx commented on #72321
I can't reproduce it on Arch Linux. `ansible-pull` will run fine when `HOME` is not set (with stable2.10 and devel). Maybe a mac user could take a look.

[2021-02-11 13:02] MaartenMol commented on #46963
We have moved on from CentOS to Ubuntu due to the latest developments.

[2021-02-11 13:12] PricopeStefan commented on #40140
Issue still present in Ansible version 2.10.5 and reproducible using the same steps as in the original post.
[code]

Also I think it may affect the blockinfile module as well (the last host will overwrite the contents of the file no matter what). Only fix I found so far is to just use the shell module and `echo` the line into the file. It's not the prettiest solution but it gets the job somewhat d

[2021-02-11 14:39] Lomonosow opened #73564 "Templating with escaped string fails in loop"
##### SUMMARY
When template variable wrapped with `raw` or `{{ '{{' }}` contained `{}` symbols in loop it fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPRODUCE

define similar list or dict (or wrapped with `raw` statement instead of `{{ '{{' }}`)
[code]

[code]

##### E

[2021-02-11 14:43] Lomonosow commented on #73564
Very interesting behavior, if add some variable from gathered facts (like `ansible_*`) into dict, the second task finished as expected.

[2021-02-11 14:59] dpower1985 opened #73565 "ansible.windows.win_shell failing stating it has extra params"
##### SUMMARY

When attempting to run a Powershell script that has been copied to the local host using the ansible.windows.win_shell module it the playbook fails with an error that the task has extra params

The command I am running via the module appears to match the documentation examples provided for the module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible.windows.win_shell

##

[2021-02-11 15:07] #45843 closed, assigned to bcoca

[2021-02-11 15:09] mkrizek commented on #73565
!component =lib/ansible/modules/windows/win_shell.py

[2021-02-11 15:13] sivel commented on #73564
Use of `{% raw %}` or `{{ '{{' }}` is not safe within Ansible, because it only prevents 1 time templating.  Please see this document for more information:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_advanced_syntax.html#unsafe-or-raw-strings

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gr

[2021-02-11 15:13] #73564 closed, assigned to nobody

[2021-02-11 15:15] #73565 closed, assigned to nobody

[2021-02-11 15:17] Lomonosow commented on #73564
thanx.

[2021-02-11 15:25] dpower1985 opened #73567 "ansible.windows.win_shell failing stating it has extra params (Re-Open)"
##### SUMMARY

I just reported this issue in #73565 but it was closed with no information besides `!component =lib/ansible/modules/windows/win_shell.py` and a link to the ansible.windows modules.
It seems the implication was "You should use this module" but that is the module I'm already using, I have installed the modules via Ansible Galaxy and as indicated in my runbook below I am using it, so I

[2021-02-11 15:53] sivel commented on #73563
It seems this is caused by the image already having `astroid` and `wrapt` installed, and the version of `astroid` (2.3.3) having a dep on `wrapt==1.11.*`, and the dep chain below upgrading `wrapt` to 1.12.1

[code]

The constraints were recently updated in https://github.com/ansible/ansible/commit/8a175f59c939ca29ad56f3fa9edbc37a8656879a to pin wrapt at `1.12.1`.

I'd have to guess the easiest sol

[2021-02-11 15:53] bcoca commented on #73562
Please try using a recent version of ansible (2.2 has been out of support for years). Also adding -vvv to the output would be helpful.

needs_info

[2021-02-11 16:17] #73567 closed, assigned to nobody

[2021-02-11 17:08] mattclay commented on #73563
I'm planning on releasing a new version of the default container today, which should resolve this specific issue. I'm also working on a more complete fix for conflicts like this, but that isn't something which will be ready today.

[2021-02-11 19:23] bcoca commented on #73559
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-02-11 19:23] #73559 closed, assigned to nobody

[2021-02-11 19:27] #73456 closed, assigned to eqrx

[2021-02-11 21:11] bcoca commented on #73554
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because this is not specific to `add_hosts`. By nature it applies to  all actions that 'bypass the host loop' (pause, group_by ,etc). They all  have the same issue with strategies that do not go in lockstep. Since the data

[2021-02-11 21:11] #73554 closed, assigned to nobody

[2021-02-11 21:22] Llibyddap opened #73575 "Cygwin/Windows host file/directory access with `find` or `copy`"
##### SUMMARY
I'm unable to access the host (Windows10/Cygwin) file system through `ansible.builtin.find` or `ansible.builtin.copy` (likely same root issue).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.builtin.find
ansible.builtin.copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE
HOST
Installed Cygwin via the

[2021-02-11 21:31] sivel commented on #73575
Cygwin is not a supported base for executing ansible.  Windows is not supported as a control node, and that includes Cygwin.  You may wish to use WSL2 and run Ansible from a Linux virtual machine.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-11 21:31] #73575 closed, assigned to nobody

[2021-02-11 21:33] LukeLR opened #73576 "Assemble: Allow src to be a list"
##### SUMMARY

The assemble action is very useful to build a configuration file from fragments. However, the fragments are required to reside all in the same folder. Only a single directory can be specified with the `src` parameter. It is therefore for example not possible to concatenate two files that reside in different folders using the assemble module. In this case, the files have to be copied

[2021-02-12 00:45] #73563 closed, assigned to mattclay

[2021-02-12 00:46] mattclay commented on #73563
I ended up fixing this today after all, since I was running into some other constraints related issues.

[2021-02-12 05:55] tulasinadhvaka opened #73580 "Ansible getting stuck randomly in case of CentOS8"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="CentOS Linux"
VERSION="8"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="8"
PLATFORM_ID="platform:el8"
PRETTY_NAME="CentOS Linux 8"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:8"
HOME_URL="https://centos.org/"
BUG_REPORT_URL="https:

[2021-02-12 06:08] tulasinadhvaka commented on #73580
Updated the component name

[2021-02-12 07:02] ascheman opened #73581 "Question/RfE: ansible-inventory should compute list by evaluating full group expression"
##### SUMMARY
If I call `ansible-inventory` with a group (host) expression, it should do proper filtering similar to a playbook using the same expression.

For example, if I call it that way

[code]

I would like to get a list of the hosts in the group all which are not in the group test at the same time.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-inventory

##### ADDITIONAL IN

[2021-02-12 12:12] Kevin-De-Koninck commented on #22473
Is there a workaround for this?

[2021-02-12 13:19] fx-qvallin commented on #19232
Any update on this feature request/bug ?

[2021-02-12 15:13] samdoran commented on #48691
Ansible 2.10 added some configurations that may help with this (https://github.com/ansible/ansible/pull/61078). Try using [`RUN_VARS_PLUGINS`](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#run-vars-plugins). You can also change the `stage` setting on the [`group_vars` plugin](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/host_group_vars_vars.html#an

[2021-02-12 15:14] samdoran commented on #27798
Closing per above since this is an issue with the time settings on the system being inconsistent.

[2021-02-12 15:14] #27798 closed, assigned to nobody

[2021-02-12 15:18] samdoran commented on #29319
Duplicate of #29363

[2021-02-12 15:18] #29319 closed, assigned to nobody

[2021-02-12 15:21] nkakouros opened #73585 "In `file` module support `state: empty` for directories"
##### SUMMARY

The file module could support a `state: empty` value that will empty a directory of its contents.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

file

##### ADDITIONAL INFORMATION

The problem this will solve is that, as it is now, you have to:
- find the current mode and ownership of a directory you want to empty (`stat` module)
- delete the folder itself (`file` module)
-

[2021-02-12 15:24] sivel commented on #73585
Duplicate of https://github.com/ansible/ansible/issues/18910

[2021-02-12 15:24] #73585 closed, assigned to nobody

[2021-02-12 15:26] samdoran commented on #63822
Closing per above. You _can_ use variables for task/handler names, but they must of the appropriate scope. It's much easier to use static names for handlers.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-12 15:26] #63822 closed, assigned to nobody

[2021-02-12 15:29] samdoran commented on #69075
Docs have been updated to reference the ec2 inventory plugin the collection.

[2021-02-12 15:29] #69075 closed, assigned to gundalow

[2021-02-12 15:30] samdoran commented on #69475
Closing since #69454 fixes the traceback. It's still an error, though, which is how we need it to be for tests.

[2021-02-12 15:30] #69475 closed, assigned to nobody

[2021-02-12 15:35] samdoran commented on #50300
Closing since this seems to be a bug in a library in Python.

[2021-02-12 15:35] #50300 closed, assigned to nobody

[2021-02-12 15:36] samdoran commented on #45219
Closing per above discussion. This was an environment configuration issue.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-12 15:36] #45219 closed, assigned to nobody

[2021-02-12 15:45] samdoran commented on #68703
Closing per above. Mixing variable scopes in this way is not something that is intended to work.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-12 15:45] #68703 closed, assigned to nobody

[2021-02-12 15:47] samdoran commented on #68583
Closing since we were unable to duplicate the issue. If this is still a problem, please open a new issue.

[2021-02-12 15:47] #68583 closed, assigned to nobody

[2021-02-12 15:51] samdoran commented on #68174
The best way to handle this would be with the `expect` module rather than adding interactive prompt handling to the `service` module.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-12 15:51] #68174 closed, assigned to nobody

[2021-02-12 16:00] samdoran commented on #67390
Preserving local changes can be done by using `git stash` or the autostash configuration. These should be by separate tasks, though. There is no reliable way to deal with conflict resolution of local changes without human intervention.

Also, trying to preserver local changes is a **bad idea**. The whole point of checking out code is to ensure what's on disk matches what is in the remote.

[2021-02-12 16:00] #67390 closed, assigned to nobody

[2021-02-12 16:06] bcoca commented on #73581
[code]

or
[code]

[2021-02-12 16:09] bcoca commented on #73585
https://galaxy.ansible.com/bcoca/tidy

[2021-02-12 16:14] #44382 closed, assigned to nobody

[2021-02-12 16:23] ascheman commented on #73581
Great, thanks @bcoca. Then I found out that I can just comma-separate more than one exclusion group in the `--limit`. More than one `--limit` didn't work. Probably the command should only accept the named parameter `--limit` at most once?

[2021-02-12 16:23] #73581 closed, assigned to nobody

[2021-02-12 18:40] mattclay commented on #67990
I'm not able to reproduce this on Fedora 33 with the provided `ansible` package at version `2.9.17-2.fc33`. I'm seeing the expected directory:

[code]

I also tried with a `pip` installed `ansible` at version `2.10.5`, which also has the needed directory.

@ignatenkobrain @opoplawski @larsks Are you still able to reproduce this issue? If so, can you provide additional details?

needs_info

[2021-02-12 18:43] tofi86 commented on #44382
@bcoca Thank you for implementing this, Brian! 👏 🎉

If I understand your merged code correctly, this implements a new parameter `use_vars_plugins` available in every constructed inventory created with https://docs.ansible.com/ansible/2.10/collections/ansible/builtin/constructed_inventory.html, right?

Regarding my initial comment about https://github.com/ansible-collections/hetzner.hcloud/issues/4

[2021-02-12 18:44] opoplawski commented on #67990
FWIW - I just filed https://bugzilla.redhat.com/show_bug.cgi?id=1928002 which seems to be essentially the same thing.

[2021-02-12 18:47] bcoca commented on #44382
in every 'constructed' inventory, but not for plugins that use the same 'constructable' base class, though this PR is a good example on how they can replicate it (if people start doing i might refactor into base class).

[2021-02-12 18:51] mattclay commented on #67990
@opoplawski What do you get for `ls -ld /usr/lib/python3.9/site-packages/ansible*`?

[2021-02-12 19:09] opoplawski commented on #67990
[code]

[2021-02-12 19:10] opoplawski commented on #67990
Is it trying to generate eggs for the different python versions being tested in that location?

[2021-02-12 19:10] tofi86 commented on #44382
So I won't be able to use it with the `hcloud` plugin because they use the `Constructable` baseclass, right? _(Not a python dev here, sorry for my noob questions 😏)_

[code]
https://github.com/ansible-collections/hetzner.hcloud/blob/master/plugins/inventory/hcloud.py#L99-L110

[2021-02-12 19:15] mattclay commented on #67990
@opoplawski I see the difference. The system you're testing on (Fedora 34?) is missing the unversioned `ansible_base.egg-info` directory, which is present on Fedora 33 as `ansible.egg-info` (differences due to package name changes).

I can probably work around that in ansible-test, but it could also be fixed in packaging by making sure the unversioned directory is present, as was done for the pack

[2021-02-12 19:24] samdoran commented on #37355
There is a deprecation warning in place. This will be made mandatory in 2.12.

[2021-02-12 19:37] s-hertel commented on #44382
correct, it was just added to the `constructed` plugin, not the base class

[2021-02-12 20:26] larsks commented on #67990
@mattclay I still the same behavior.

[code]

[2021-02-12 20:30] larsks commented on #67990
@mattclay  I still see the same behavior on Fedora 33 with `ansible-2.9.17-2.fc33.noarch`. That package doesn't seem to have an unversioned egg-info directory:

[code]

[2021-02-12 20:37] opoplawski commented on #67990
I've made a comment in the Fedora bug report about the unversioned file.  Hopefully they can resolve it there.

[2021-02-12 20:42] mattclay commented on #67990
I'm looking to see if it's reasonable to handle the versioned egg-info case in ansible-test. I have a fix that I think will work -- but while testing I uncovered another bug related to handling of egg-info directories that requires a more complex fix. Unfortunately the second issue can't be resolved by a change to packaging, unlike the issue reported here.

[2021-02-13 09:05] #67990 closed, assigned to mattclay

[2021-02-13 09:17] mattclay commented on #67990
@ignatenkobrain I've merged https://github.com/ansible/ansible/pull/73594, which fixes this issue by eliminating the need to create an egg-info directory in the installed directory. I've opened a backport for the stable-2.10 branch: https://github.com/ansible/ansible/pull/73595

[2021-02-13 09:30] rhysmeister opened #73596 "ansible-test sanity incorrectly throws import error"
##### SUMMARY
sanity tests on the community.mongodb repo fail with...

Link to rule states:

"All Python imports in lib/ansible/modules/ and lib/ansible/module_utils/ which are not from the Python standard library must be imported in a try/except ImportError block."

Import in cache/mongodb.py is contained within a try except IMportError construct...

[code]

##### ISSUE TYPE
- Bug Report

##### C

[2021-02-13 14:18] amoksworld opened #73597 "ConfigureRemotingForAnsible.ps1 -> "Unable to establish an HTTP or HTTPS remoting session.""
##### SUMMARY
Running ConfigureRemotingForAnsible.ps1 on windows host throws: "Unable to establish an HTTP or HTTPS remoting session." Duplicate of #69030.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION
ansible 2.10.5

##### OS / ENVIRONMENT
Windows / Powershell

##### STEPS TO REPRODUCE
run ConfigureRemotingForAnsible.ps1 in elevated po

[2021-02-13 19:11] scottbusi opened #73598 "Failure with adding a user with redfish playbook"
##### SUMMARY
Using the playbook below to create a new user in Redfish get the following error
fatal: [redfish2]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg": "HTTP Error 404 on PATCH request to 'https://10.8.1.150/redfish/v1/AccountService/Accounts/5', extended message: 'The resource at the URI /redfish/v1/AccountService/Accounts/5 wa

[2021-02-13 20:27] felixfontein commented on #73596
@rhysmeister this is a bug in the plugin, not in the test: raising another exception during failed imports is not the correct way to handle them. You need to set a flag, and raise the exception during execution / initialization of the plugin. See for example https://github.com/ansible-collections/community.general/blob/main/plugins/lookup/dsv.py#L88-L96 and https://github.com/ansible-collections/c

[2021-02-13 23:17] relrod commented on #73598
Hello, this component has moved to an Ansible Collection.

Please re-file this issue against: [community.general](https://github.com/ansible-collections/community.general)

Thank you for your interest in Ansible!

!component =lib/ansible/modules/remote_management/redfish/redfish_command.py

[2021-02-13 23:23] #73598 closed, assigned to nobody

[2021-02-14 09:09] rhysmeister commented on #73596
OK fine. Then the "Bug" is in the linked documentation which should mention this.

[2021-02-14 09:09] #73596 closed, assigned to nobody

[2021-02-14 09:28] felixfontein commented on #73596
@rhysmeister see #73600.

[2021-02-14 15:53] sharmarajdaksh commented on #73576
Hi, if possible, I would like to work on implementing this feature (if accepted). As a first-time contributor, I would appreciate if someone could help me out in the process. Thanks.

[2021-02-14 20:56] Kirandp6 commented on #67759
still not there

ansible-galaxy  collection -h
usage: ansible-galaxy collection [-h] COLLECTION_ACTION ...

positional arguments:
  COLLECTION_ACTION
    init             Initialize new collection with the base structure of a collection.
    build            Build an Ansible collection artifact that can be publish to Ansible Galaxy.
    publish          Publish a collection artifact to Ansible Gal

[2021-02-14 20:58] jborean93 commented on #67759
This issue will be closed once it has been implemented. So far there have been attempts but nothing concrete is in place yet.

[2021-02-14 22:08] alexmorosmarco opened #73604 "Mention when the collection `ansible.builtin` started to be usable"
##### SUMMARY
Today I realized that in Ansible `2.9.2` I can define the `assert` module using its FQCN notation, `ansible.builtin.assert`, instead.
This has been a surprise to me because I thought that notation was only usable since Ansible `2.10`.
It is usable at least since `2.9.2`, but I would like to know when it actually started to be available.

It is really confusing as according to the doc

[2021-02-14 22:13] fgierlinger opened #73605 "network interface not reported from podman container"
##### SUMMARY
The eth0 interface is not reported by the `setup` module when running a podman pod with a user defined network.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Fedora 33
Podman: Version 2.2.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The setup module returns the confi

[2021-02-15 08:29] relrod commented on #73072
Verified. This is because even though we set `strict` (aka `skip_broken`) in the dnf base config, we don't actually pass it as `strict` (kwarg) when we call `base.install()`: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/dnf.py#L743

There are a few other places as well. I'm working on a patch and was writing a bunch of test cases, but it was on my desktop and my power just wen

[2021-02-15 11:48] next-davidduquehernandez opened #73608 "variable 'ansible_user' is not defined since ansible-base==2.10.4"
##### SUMMARY
Some change introduced in ansible-base==2.10.4 broke ansible_user variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS: Debian GNU/Linux 10 (buster)
Arch: amd64
Python: 3.8.2

##### STEPS TO REPRODUCE
I've tested with multiples ansible-base versions. Till 2.10.3 ansible_user works fin

[2021-02-15 12:13] konstruktoid commented on #73608
[code]

[2021-02-15 13:02] cezmunsta commented on #48786
This issue has presented itself on CentOS Stream 8 and indeed disappears once the relevant packages have been updated.

[2021-02-15 13:25] 67726e opened #73610 "win_iis_webapplication - Cannot Set preloadEnabled"
##### SUMMARY
One can set the preloadEnabled on both a Site and Application-level in IIS, however the current Ansible module for IIS only appears to have this option on the Site-level.

See: https://github.com/ansible/ansible/issues/66831

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.windows.win_iis_webapplication

##### ADDITIONAL INFORMATION
At work, we currently have a handfu

[2021-02-15 14:10] mkrizek commented on #73610
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2021-02-15 14:10] #73610 closed, assigned to nobody

[2021-02-15 14:29] 67726e commented on #73610
Thanks for the guidance!

[2021-02-15 14:45] #73071 closed, assigned to nobody

[2021-02-15 15:34] webknjaz opened #73611 "Docs setup compatibility with Sphinx 3.5+"
##### SUMMARY

Sphinx 3.5.0 stopped accepting tuple values for `html_context['css_files']` and `html_context['js_files']`. We need to turn them into lists and maybe even move to using `html_css_files` and `html_js_files`.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs/docsite/rst/conf.py

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Sphinx >

[2021-02-15 15:51] s-hertel commented on #73608
It looks like this started in d852fa4135dd089cd3a45cd6a19507924376444b.

[2021-02-15 16:58] phemmer opened #73613 "force_handlers does not work with run_once"
##### SUMMARY
When a task using `run_once` notifies a handler, and a later task fails, the handler does not trigger, even though `force_handlers` is enabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux - Fedora 33

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

[code]

##

[2021-02-15 17:03] jakdept opened #73614 "`set_fact` parameter `key_value` is not actually required."
##### SUMMARY
Parsable docs for `set_fact` incorrectly name `key_value` as a required parameter, and do not signify wildcard parameters.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
`lib/ansible/modules/set_fact.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Editing in macOS 11.2.1 in VSCode 1.53.2 using extension `redhat.vscode-yaml`

###

[2021-02-15 17:20] phemmer commented on #73613
Nevermind. According to #22408, this behavior is deliberate.

[2021-02-15 17:20] #73613 closed, assigned to nobody

[2021-02-15 23:25] Signum commented on #72054
I keep having similar problems. As long as the role/collection is installed in any version – even outdated – ansible-galaxy does not care.

Example requirements.yml:

[code]
While I have an older version of the collection installed:

[code]
I can even run my playbooks and Ansible does not care that a certain version is missing.

So I want to update manually and run…
[code]
…but you can see that _a

[2021-02-16 00:05] sugitk opened #73620 "password string exposures when it specified by an environment value"
##### SUMMARY

When a password string specified by an environment value, `env_fallback` cannot handle `no_log` so the password string will be shown in the playbook output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/common/parameters.py#L258

##### ANSIBLE VERSION

devel

##### CONFIGURATION

##### OS / ENVIRONMENT

#

[2021-02-16 00:10] sugitk commented on #73620
The customer faced the issue on 2.9.16 but I was not able to find the code in stable-2.9.

[2021-02-16 00:12] jborean93 commented on #73620
This was just fixed with https://github.com/ansible/ansible/pull/73487 and is backported all the way back to Ansible 2.8. A release is pending which will include this fix but it's not out just yet.

Just to expand on the problem, the issue only applies to `no_log` fallback options in sub options. Any root module options that have `no_log=True` and was sourced from a fallback were masked but with t

[2021-02-16 00:12] nitzmahone commented on #73620
Was fixed in https://github.com/ansible/ansible/commit/49ebd509df9de1c1fc1bcee00e79a835dd00662c - should be released in the next few days.

[2021-02-16 00:15] sugitk commented on #73620
@jborean93 @nitzmahone Thank you very much for your immediate comments.  I will wait for the next minor release and after that I will inform it to the customer.

[2021-02-16 12:07] mingalevas opened #73621 "uri module encodes uploaded file in base64 if using body_format: form-multipart"
##### SUMMARY

I'm trying to run this command with URI module:

[code]

My playbook task
[code]

I need to upload a binary file to the service.
I am getting the content of my file encoded in base64.
This is not the behavior that I expected

Found the reason:
[Payload content from a file will be base64 encoded and will include
the appropriate ``Content-Transfer-Encoding`` and ``Content-Type``
heade

[2021-02-16 12:10] milliams opened #73622 "Register subset of the result from a task"
##### SUMMARY
Add the ability to specify a custom subset of data to be registered from the result.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION

I find it is quite common to run a task to collect some information, but I really only want some small portion of the result that is returned. I think it would be good if it was possible to select a subset of a

[2021-02-16 12:27] mkrizek commented on #73622
Duplicate of https://github.com/ansible/ansible/issues/67804.

[2021-02-16 12:27] #73622 closed, assigned to nobody

[2021-02-16 13:19] shrikantdandge665 opened #73623 "Issue in windows working with ansible . message "msg": "the file at the path cannot be reached""
Hello I am trying to install software from my local machine. But i am getting an error. I can ping the machine and I have install one apache software before. But after trying hard i cannot figure out the problem. Here is my code

- name: installing firefox
  hosts: win
  gather_facts: no
  tasks:
    - name: install soft
      win_package:
              path: E:\Soft\UltraViewer_setup_6.2_eni.exe

[2021-02-16 13:31] shrikantdandge665 opened #73624 "Please share a ansible playbook for installing software via network share"
Hello,I want a ansible playbook for installing software via network share.I have seen the document https://docs.ansible.com/ansible/2.8/modules/win_package_module.html .But after trying the exaples i was getting an error.please check the error and give me new playbook.

PLAY [installing firefox] *******************************************************************************************************

[2021-02-16 13:49] Akasurde commented on #73624
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2021-02-16 13:49] #73624 closed, assigned to nobody

[2021-02-16 13:49] Akasurde commented on #73623
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2021-02-16 13:49] #73623 closed, assigned to nobody

[2021-02-16 14:11] jnm27 commented on #56243
What is the ETA on this fix?

[2021-02-16 14:23] krisko commented on #19966
I've just hit this unusual behavior, thanks for the workaround.

[code]
warn.yml
[code]

[2021-02-16 14:47] bcoca commented on #67804
There are other ways todo this without set_fact (but it is different scope).
[code]

[2021-02-16 14:51] bcoca commented on #73620
closing as per above

[2021-02-16 14:51] #73620 closed, assigned to nobody

[2021-02-16 15:02] bcoca commented on #56243
does this patch fix the issue?
[code]

[2021-02-16 15:31] jnm27 commented on #56243
Yes it does. Thank you!

[2021-02-16 18:46] krupan opened #73627 "Module find not respecting depth parameter in 2.10"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.builtin.find

##### ANSIBLE VERSION

[code]

I tested with version 2.10.4 and the bug is there too.  I also tested with 2.9.17 and the bug is *not* present in that version.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running ansible-playbook on Mac OS 10.15.7, connecting to centos 7.8.2003

##### STEPS TO REPRODUC

[2021-02-16 19:25] saeedsq commented on #30754
ANSIBLE VERSION: `ansible 2.9`
OS / ENVIRONMENT: CI docker container `Ubuntu 20.04`
SUMMARY: Cannot update cache.

[code]

With above configuration following task fails although using command `sudo apt-get update` works fine with the same configuration:

[code]

My current solution is setting `/tmp` directory permission to `777` as @adoloro stated. I wonder is it ok for ansible apt module to fail

[2021-02-17 00:11] n1kofr opened #73630 "docker_image - "docker_image Detected no loaded images. Archive potentially corrupt?" when loading tar with ID only"
##### SUMMARY

Since Ansible 2.9.17, we cannot load docker image exported as a TAR and containing only ID.
It seems related to the change done by https://github.com/ansible/ansible/pull/73067

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux release 8.3 (Ootpa)

#####

[2021-02-17 00:13] mattclay commented on #71602
Starting with setuptools 50.1.0 this is no longer an issue: https://github.com/pypa/setuptools/blob/main/CHANGES.rst#v5010

[2021-02-17 00:13] #71602 closed, assigned to nobody

[2021-02-17 00:19] #73630 closed, assigned to nobody

[2021-02-17 06:56] luclis opened #73631 "Ansible-galaxy collection verify doesn't work with git repository"
##### SUMMARY

I install collections from git repositories and try to check if the `requirements.yml` is working.
When I do a `ansible-galaxy collection verify -r requirements.yml`  it doesn't work but `ansible-galaxy collection install -r requirements.yml` work fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/galaxy/collection.py
##### ANSIBLE VERSION

[code]

##### CONFIGU

[2021-02-17 07:19] luclis commented on #73631
By the way as I said, the `ansible-galaxy collection install -r requirements.yml` work fine :
[code]

[2021-02-17 08:43] JensHeinrich opened #73632 "Dead link in get_url doc"
##### SUMMARY
Broken link in https://docs.ansible.com/ansible/devel/collections/ansible/builtin/get_url_module.html

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ansible.builtin.get_url docs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2021-02-17 13:54] mowgli opened #73634 "package_facts fails sometimes"
##### SUMMARY
I try to describe the issue with all I know about it. Please do not close it with reference to some obscure community project; I do not know, if the error is in ansible or any other component; I do not know python, so I am unable to have an idea where exactly the bug is.

Today I split out the package facts to a separate role:
[code]
This role is the dependency for several other role

[2021-02-17 13:55] mowgli commented on #73634
Might be related to #46173 but I am not sure about that.

[2021-02-17 14:16] bcoca commented on #73627
seems to have been caused by fdfa6fec75da14d7e145eccf7c092fba684ee1e2

[2021-02-17 14:23] bcoca commented on #73634
Can you post the -vvv output for both runs of the module?

Role deduplication is PER play, since they are on different plays it will run again.

Unsure, but probably related to the python used to execute each time, the requested output above can clarify this.

because it runs succesfuly.

[2021-02-17 15:04] samdoran commented on #73576
This has been requested and discussed quite a bit in the past. We decided not to accept it for the reasons outlined [here](https://github.com/ansible/ansible/pull/19500#issuecomment-278167904).

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-17 15:04] #73576 closed, assigned to nobody

[2021-02-17 15:08] samdoran commented on #73580
This is most likely a problem with the remote systems on the environment and not a bug in the modules. It will required debugging that is best done over IRC. It's most likely an NFS mount or something like that causing execution to hang.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/foru

[2021-02-17 15:08] #73580 closed, assigned to nobody

[2021-02-17 15:16] samdoran commented on #73597
I'm confused by the "Solution" section. Are you saying you were able to get this working by modifying that registry key and we should document that? Or is this not working and there is a bug with the script? This seems like a possible configuration issue and not a bug in the script itself.

needs_info

[2021-02-17 15:37] samdoran commented on #73608
This is expected behavior due to the change above. Duplicate of https://github.com/ansible/ansible/issues/73228.

[2021-02-17 15:37] #73608 closed, assigned to nobody

[2021-02-17 15:44] samdoran commented on #73614
This seems to be more an issue with the linter schema and not necessarily the documentation. The documentation is explaining the use of key/value pairs. There are other places, such as `raw` or `free_form` that will probably cause the linter issues as well.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://gr

[2021-02-17 15:44] #73614 closed, assigned to nobody

[2021-02-17 15:47] sivel commented on #73621
This is a limitation of the python stdlib modules that are used within Ansible to generate `multipart/form-data`.  The python modules in use cannot encode raw bytes into multipart bodies, and can only handle base64.  The RFC for multipart data states that base64 is valid, and that the content encoding should be respected.

If you have further questions please stop by IRC or the mailing list:

   *

[2021-02-17 15:47] #73621 closed, assigned to sivel

[2021-02-17 15:50] s-hertel commented on #73631
Duplicate of #72660

[2021-02-17 15:55] samdoran commented on #73631
This is working as intended. Closing per above.

[2021-02-17 15:55] #73631 closed, assigned to nobody

[2021-02-17 15:56] mowgli commented on #73634
Hi,

Am Mi den 17. Feb 2021 um 15:23 schrieb Brian Coca:

Uff, That is difficult. This is pretty huge!

It will run ages until my terminal got rid of that load.

Good, that answers just one questions.

This is devuan sid, still python 2.7.18 default python interpreter. (But
I believe, ansible runs with python 3). As I understand, debian has no
plan to change the default python interpreter to pytho

[2021-02-17 16:06] bcoca commented on #73634
We would only need the part for the 2 package_facts tasks. It is really hard to diagnose otherwise

This would happen if you use fact caching.

In any case this is "a user question",  we reserve github for bugs and feature requests and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2021-02-17 16:06] #73634 closed, assigned to nobody

[2021-02-17 16:12] mowgli commented on #73634
Am Mi den 17. Feb 2021 um 17:07 schrieb Brian Coca:

I am trying to get it.

But the run is now running for 30 Minutes and still in the first play.

I don't use fact caching on this machine. (See config above)

Well, it is a bug that this packages fact is populatet on some machines
and not on others.

It might be hard with my english to follow... However, I get the
following error:

[S+Z] #ansible

[2021-02-17 16:31] mowgli commented on #73634
Hi,

I was able to reproduce it with
[code]

But only on the third run here.

The log is attached.

Still not clear, why on some machines the packages fact is populated
*before* the first run of that module.

Gruß
   Klaus
--
Klaus Ethgen                                       http://www.ethgen.ch/
pub  4096R/4E20AF1C 2011-05-16            Klaus Ethgen <Klaus@Ethgen.ch>
Fingerprint: 85D4 CA42 952C

[2021-02-17 16:31] samccann opened #73635 "[Docs] Update documentation and docsite for Ansible 3 release"
Update the documentation and publish the 3 version of Ansible documentation. Tasks include:

- [x] Update the Release Status grid on the Release and Maintenance page in devel
- [x] Verify that the Ansible 3 porting guide has a link to the Ansible 3 changelog file in gitub.

- [x] Make sure all server-side redirects are updated as necessary - see https://github.com/ansible/docsite/pull/11 and https

[2021-02-17 16:37] mowgli commented on #73634
Any way to upload a typescript? I can rename it to .jpg...

[2021-02-17 16:38] mowgli commented on #73634
![typescript](https://user-images.githubusercontent.com/534729/108236138-d7606400-7146-11eb-97b1-595ee905b86b.jpg)
Here is the typescript as jpeg to be able to upload to github.

[2021-02-17 16:42] samccann opened #73636 "ad-hoc commands should be ad hoc (no hyphen)"
##### SUMMARY

Search and replace ad-hoc with ad hoc in the docs/docsite/rst directory.

The Latin phrase has no hyphen :-)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs/docsite/rst
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2021-02-17 17:47] chadnetzer commented on #73627
The old (2.9) version would cull the dirs list (ie. `del(dirs[:])`) when depth had been reached, but the v2.10 code just does a continue, implying that os.walk() will continue to recurse into more dirs (and add the results to the 'looked' count, which should be a good way to verify this is happening).

[2021-02-17 19:31] sivel commented on #73604
See also: https://github.com/ansible/ansible/issues/73459

And fwiw, `ansible.builtin` and `ansible.legacy` were introduced in 2.8 and somewhat usable as part of the collections tech preview.  There have been some bugfixes that have landed in later 2.9.z releases to make them more usable, but I cannot claim that they are fully usable in any 2.9.z or 2.10.z version.  I imagine there are still some

[2021-02-17 19:33] sivel commented on #73526
Closing per above.

[2021-02-17 19:33] #73526 closed, assigned to nobody

[2021-02-17 22:24] sahildjaya opened #73640 "URL Split Bug in eos_eapi module"
##### SUMMARY
There is a line of code within the eos_eapi python module that  splits the urls listed in the 'show management api http-commands'. This line of code is intf, url = each.split('  : ')

This url split however fails for some interfaces. Some interfaces, like the physical interfaces and the port-channels do not have a '<space>' before and after the colon. Example:
Ethernet49/1: https://1

[2021-02-17 22:27] #73640 closed, assigned to nobody

[2021-02-17 22:30] guilt opened #73641 "Please switch from fcntl to portalocker"
fnctl is a Unix-ish implementation and not portable. Would love to see you guys use a more portable (layered) approach to ansible, so we could try implementing these playbooks on Windows and other platforms as well.

https://github.com/WoLpH/portalocker

##### SUMMARY

Please migrate from fcntl calls to portalocker calls

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- core module

##### A

[2021-02-17 22:36] sivel commented on #73641
What issues are you running into that such a change would actually improve?  We do not actually utilize any file locking within this repository.  We do have a helper class, but it is not in active use.

[2021-02-17 22:43] guilt commented on #73641
https://github.com/ansible/ansible/search?q=fcntl

We use this in a lot of places, and fcntl is not importable on anything other than Unix in Python. (CLI, vault, FileLock class etc) So, that's the reason I brought it up.

[2021-02-17 22:44] sivel commented on #73641
We take adding extra dependencies very cautiously.  In addition we do not support running ansible from windows hosts, nor do we have plans to do so.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-17 22:44] #73641 closed, assigned to nobody

[2021-02-18 07:18] duck-rh opened #73643 "handler notified multiple times when using include_role"
##### SUMMARY
When calling a role with `include_role` on different entrypoints (`tasks_from`), handler calls are duplicated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
handler

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

I got a reproducer without any config change.
[code]

##### OS / ENVIRONMENT
Debian unstable, reproducer using localhost

##### STEPS TO REPRODUCE

The play `test

[2021-02-18 10:28] ssbarnea opened #73644 "ansible-config does not dump config in parseable format"
##### SUMMARY
While `ansible-config dump` is a very useful tool for determining the configuration used by Ansible at runtime, it does have a major flaw: its output is not machine parseable.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-config

##### ADDITIONAL INFORMATION
ansible-config should have an option to dump config in a machine parseable format like JSON or YAML, so it can

[2021-02-18 12:15] Baryczka commented on #71645
I have similar behavior but in my case I wanted as a name put the path and enable service to create symlinks like:
[code]

 Ansible is saying changed but then analyzed output and I could find:
    ` "LoadError": "org.freedesktop.systemd1.NoSuchUnit \"Unit etc-my-firewall-path-iptables.service.mount not found.\""`

    Looks like it is not supported

[2021-02-18 14:28] xBr0th3rx opened #73647 "AWX lookup error"
Hello everybody,

I have the problem that I get an error message via the AWX when I start the role.
`{
  "msg": "Unexpected templating type error occurred on ({{ lookup('csvfile', strNumber + 'file=files/base32.csv col=1 delimiter=,') }}): unsupported operand type(s) for +: 'int' and 'str'",
  "_ansible_no_log": false
}`

If I execute the role locally via ansible-playbook, I don't have the problem

[2021-02-18 15:17] sivel commented on #73647
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-02-18 15:17] #73647 closed, assigned to nobody

[2021-02-18 17:04] mwhahaha opened #73654 "Ansible tasks slow down as host facts grow"
##### SUMMARY
As the size of host facts is increased, there is a serious slow down in the number of tasks that can be processed per second.  This can be viewed at smaller scale, but is dramatic at ~150 nodes.  This can happen because of network facts (with many interfaces 100+), service facts, or package facts. This can also be easily reproduced with loading a large static fact structure (>100KB)

[2021-02-18 19:26] s-hertel commented on #73643
This happens because the entrypoints are used in the role signature: https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/role/__init__.py#L157

[2021-02-18 19:47] samdoran commented on #73654
This is most likely due to `INJECT_FACTS_AS_VARS`, which is currently set to `True` by default. Since all the facts are reevaluated and when set to vars, this can be quite slow if there is a large amount of data to process. Eliminating this extra step may speed things up considerably.

Another thing that could help is changing the stage at which variables are evaluated for the [`host_group_vars`](

[2021-02-18 20:22] mwhahaha commented on #73654
Looks like the plugin stage configuration per https://docs.ansible.com/ansible/latest/plugins/vars.html#using-vars-plugins is:

[code]

This didn't seem to improve anything.

[code]

`ANSIBLE_INJECT_FACT_VARS` does improve it a bit, but still a significant slow down.
[code]

[2021-02-18 20:40] samdoran commented on #73654
That's good that disable fact inject made a difference.

Ultimately, I'm not sure there is much we can do without significantly rewriting how we process the data. More data takes more time to process, and we process it _a lot_.

I am working on some things for the 2.11 release right now. I will dig into this again once that work is complete.

[2021-02-18 21:03] mwhahaha commented on #73654
Sure. Ping me when you have time and I can share what I've found. Package facts brings the fact size (at least in cache) up from 5.5k to ~313k so we're dealing with 1.6M vs 58M of facts.  Network facts for ended up being like 123M

[2021-02-18 21:14] fabiobpinto opened #73656 "Tags with same value but categories diferent give me error - vmware_tag_manager"
##### SUMMARY
I can't add Tag with the same value but categories different.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager
!component =lib/ansible/modules/cloud/vmware/vmware_tag_manager.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I have these variables:
[code]
I have tags named "QAS" in this Cat

[2021-02-18 21:26] #73656 closed, assigned to nobody

[2021-02-18 22:50] acozine commented on #73636
Closed by #73646 - thanks again @wlcosta.

[2021-02-18 22:50] #73636 closed, assigned to nobody

[2021-02-18 22:51] sivel commented on #73605
Can you provide the output of the following command within the podman container?

`ls -d /sys/class/net/*/`

The directories within that path are how we detect and list network devices.

This may be the result of this issue that was logged against podman upstream: https://github.com/containers/podman/issues/8707

[2021-02-18 23:07] #73632 closed, assigned to nobody

[2021-02-18 23:22] #72960 closed, assigned to nobody

[2021-02-18 23:30] acozine commented on #32553
See also https://docs.ansible.com/ansible/devel/user_guide/intro_patterns.html#intro-patterns for a general overview of how to use patterns.

[2021-02-19 02:39] lucasbasquerotto commented on #72221
Should the playbook fail and next plays don't run even if they are unrelated to the play that returned with errors?

For example, you run the 1st play that create prometheus, elasticsearch and wordpress nodes, then run some setup code in the prometheus nodes in the 2nd play, and in the 3rd and 4th you run the setup in the elasticsearch and wordpress nodes, respectively.

Should the code that run i

[2021-02-19 03:01] lucasbasquerotto opened #73657 "Block with rescue stops next plays and end playbook successfully on some errors"
##### SUMMARY
Depending on the error that occurs when a block with rescue catches it, the play execution stops, and the playbook ends successfuly, but the next plays don't run. I was able to simulate it using `include_tasks`, but the task inside use a module with a wrong name (that can be provided by a user, so not something that I have control, because it might not be me running the play, the use

[2021-02-19 09:32] enys opened #73658 "Non bound local variable causes inventory parsing fail."
##### SUMMARY

With annsible-core 2.10.5 inventory parses
With ansible-core 2.10.6 inventory fails parsing and backtraces.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible inventory
https://github.com/ansible/ansible/pull/73276/files#diff-185d5355f6e8e7ab0a8907e5ccce1f98192a8cffb70a4250d1b79f219d3276f7R314
##### ANSIBLE VERSION

[code]
Could be linked to : https://github.com/ansible/an

[2021-02-19 09:46] fgierlinger commented on #73605
[code]
This totally seems related to containers/podman#8707 . The pull request containers/podman#8949 has already been merged and flagged for the podman 3.0 release.

I tried the same with the podman 3.0.0 version and it seems to be fixed.
[code]

[2021-02-19 09:57] bodik opened #73659 "no_log module argument processing can change 'changed' task field"
##### SUMMARY
no_log module argument processing can change 'changed' task field, which is probably an undesirable side-effect

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unsure, ansible core processing task responses

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Linux 10 Buster

##### STEPS TO REPRODUCE

use simple playbook using single htpass

[2021-02-19 12:58] enys commented on #73658
!component -docs/docsite/rst/inventory/implicit_localhost.rst

[2021-02-19 12:59] enys commented on #73658
!component +lib/ansible/inventory/manager.py

[2021-02-19 15:07] s-hertel commented on #67352
We discussed this in backlog today and don't plan on adding new return values to the lineinfile module. If this were to be done, it should be a generic feature for modules rather than added piecemeal.

List Information
================

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-19 15:07] #67352 closed, assigned to nobody

[2021-02-19 15:16] s-hertel commented on #66544
We don't plan to add support for this, but should document it. If we were to add this, we should probably add new separate fields for UID and username. You can also override this with your own module_utils.

[2021-02-19 15:39] s-hertel commented on #65785
As in the [closed PR](https://github.com/ansible/ansible/pull/65786#issuecomment-570322398), this would be better suited to a new module. We don't plan on adding a new module for systemd configuration in ansible-core. If you're still interested in working on this, the `ansible.posix` collection may be a good place for it.

[2021-02-19 15:39] #65785 closed, assigned to nobody

[2021-02-19 15:45] s-hertel commented on #64104
This came up in backlog today and we don't plan on accepting this feature. `import_tasks` is intended to be static, so you should create explicit imports for each task file. This is easier to read and more reliable.

[2021-02-19 15:45] #64104 closed, assigned to nobody

[2021-02-19 15:49] s-hertel commented on #63891
Closing as per above

[2021-02-19 15:49] #63891 closed, assigned to nobody

[2021-02-19 15:51] samdoran commented on #63891
Since Ansible 2.8, it is possible to define a list of [facts modules](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#facts-modules) that will be run by the [`gather_facts`](https://docs.ansible.com/ansible/2.9/modules/gather_facts_module.html) module.

[2021-02-19 15:53] s-hertel commented on #63562
Closing as per above

[2021-02-19 15:53] #63562 closed, assigned to nobody

[2021-02-19 15:54] s-hertel commented on #63227
This was fixed by https://github.com/ansible/ansible/pull/50020

[2021-02-19 15:54] #63227 closed, assigned to nobody

[2021-02-19 15:55] s-hertel commented on #62842
Closing as per above.

[2021-02-19 15:55] #62842 closed, assigned to nobody

[2021-02-19 15:58] s-hertel commented on #62147
Closing as per @bcoca's comment above.

[2021-02-19 15:58] #62147 closed, assigned to nobody

[2021-02-19 16:50] milindw96 commented on #73264
https://github.com/ansible/ansible/pull/73660

[2021-02-19 17:53] samdoran commented on #62245
The correct flag was fixed in https://github.com/ansible/ansible/commit/a71ce0615aa37256e6e5c2529c437d1a78aef67e, but it wasn't properly set when using local accounts. This was fixed in #62134, available in `ansible-base` >= 2.10.0.

[2021-02-19 17:53] #62245 closed, assigned to samdoran

[2021-02-19 18:21] jhg03a opened #73661 "Async with poll performing like regular sequential execution"
##### SUMMARY
In an ongoing effort to try and improve performance in some of my playbooks, I've been adopting better use of async to try and parallelize slow operations.  In the process, I've been continuing to see that using both the async and poll (with non-zero value) keywords performs worse than leaving them off entirely.  Based on my understanding, using async+poll on a looped task should lau

[2021-02-19 18:28] sivel commented on #73661
The documentation specifically states: `Run tasks concurrently: poll = 0`

So the only way to get concurrent execution is with `poll: 0`.

Running with a poll value, is indeed effectively like running without async, but slower due to the overhead of forking and continuously checking the status, although effectively with a bounds on how long the task is allowed to run before failure.

If you have f

[2021-02-19 18:28] #73661 closed, assigned to nobody

[2021-02-19 18:36] nomadcz opened #73662 "Fact cache with memcached causes ERROR! Unexpected Exception, this is probably a bug: dictionary changed size during iteration"
##### SUMMARY

Fact cache with memcached causes ERROR! Unexpected Exception, this is probably a bug: dictionary changed size during iteration
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

memcached.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

play runs and if needed fact cache is refreshed

#

[2021-02-19 18:38] sivel commented on #73662
!component =lib/ansible/plugins/cache/memcached.py

[2021-02-19 18:41] #73662 closed, assigned to nobody

[2021-02-19 18:45] nomadcz commented on #73662
Not sure for previous info means. Shall I open a new bug report at https://github.com/ansible-collections/community.general ?

[2021-02-19 21:45] relrod commented on #73658
I'm able to reproduce this -- the reproducer is to have an empty directory inside the directory being passed to `-i`

[2021-02-19 22:05] enys commented on #73658
Thx @relrod. The code itself is pretty obvious, but was having a hard time finding the exact thing to reproduce easily

[2021-02-20 14:54] maheshyaddanapudi opened #73671 "Ansible Playbook Generator UI"
##### SUMMARY
The idea is to build a single production grade Angular UI with the following

  • Ability to generate Ansible Playbook instead of coding the YAML
  • Extension : Ability to execute the generated YAML

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Playbook Generator Angular UI

##### ADDITIONAL INFORMATION

## Proof Of Concept

[Sample App](http://www.ansiplaygen.xyz/)

[2021-02-20 17:02] #65290 closed, assigned to nobody

[2021-02-21 09:44] yan12125 opened #73672 "Running commands on localhost hangs with sudo and pipelining since 2.10.6"
##### SUMMARY

After upgrading ansible-base from 2.10.5 to 2.10.6, I can no longer run sudo commands on localhost. I noticed that disabling SSH pipelinging allows sudo commands to run again. The issue also affects latest git version.

git bisect points to 3ef061bdc4610bbf213f70bc70976fdc3005e2cc, which is from #73281 (2.10), #73023 (devel)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
conne

[2021-02-21 12:50] eqrx commented on #73605
Should we build a workaround for podman < 3.x or should we close this one and redirect people to the newest version?

[2021-02-21 13:05] bodik commented on #73659
note that it also affects 3.0 branch

[2021-02-21 17:44] briantist opened #73674 "ansible-test - using --explain with --docker causes stacktrace"
##### SUMMARY

At this time I've only tested with:
- devel via `hacking/env-setup` (so Python 2)
- units

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 via WSLv2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

full explain output

##### ACTUAL RESULTS

[code]

[2021-02-21 18:47] felixfontein commented on #73674
This is a Python 2 only issue: for Python 3, `pipes.quote()` (and `shlex.quote()`) both accept `None`.

On the other hand, the command also crashes for Python 3, but somewhere else (later in the code): the code that tries to obtain the network name from the docker container does not handle the case that the container does not exist.

[2021-02-21 19:09] tadeboro opened #73675 "The Infoblox dynamic inventory instructions only work under specific circumstances"
https://github.com/infobloxopen/infoblox-ansible/blob/master/ansible_collections/infoblox/nios_modules/plugins/inventory/nios_inventory.py

##### SUMMARY

The dynamic inventory script linked from the [Dynamic inventory script section of the Infoblox Guide](https://docs.ansible.com/ansible/latest/scenario_guides/guide_infoblox.html#dynamic-inventory-script) only works when all of the following cond

[2021-02-21 19:42] felixfontein commented on #73675
I created #73676 as a first improvement to this situation.

[2021-02-21 23:35] jessicajzhang03 opened #73677 "Opening directly to docs.ansible.com causes cookie popup to appear in footer"
##### SUMMARY

If you go directly to docs.ansible.com (instead of first going to ansible.com and checking cookie preferences), then the "About cookies on this site" popup appears in the footer, which makes it impossible to click anything (since the buttons are off the screen). To reproduce, you might have to first clear all cookies from ansible-related websites.

##### ISSUE TYPE
- Documentation R

[2021-02-22 00:01] jessicajzhang03 opened #73678 "Edit on Github button broken"
##### SUMMARY

Clicking "Edit on Github" from the link https://docs.ansible.com/ansible/latest/index.html tries to edit the nonexistent file index.html in the rst folder (it should be going to one of the index files in the rst folder). I'm afraid I don't really know how rst works, or how it gets converted to html, so I'm not totally sure how to fix it.

##### ISSUE TYPE
- Documentation Report

###

[2021-02-22 06:36] Saurabh-Thakre commented on #73678
We've two different files `intro_installation.rst` and `intro_configuration.rst` which we point in `index.rst` for https://docs.ansible.com/ansible/latest/installation_guide/index.html

Actually, we take the data from `intro_installation.rst` and `intro_configuration.rst` in index.html you're referring to.

Also I could see that the Edit On GitHub takes to exact place where it should take i.e here

[2021-02-22 07:15] jessicajzhang03 commented on #73678
Sorry, I think I copied the wrong link. The issue was here: https://docs.ansible.com/ansible/latest/index.html. (And the same issue if we change the version in the dropdown menu on the left, e.g., with https://docs.ansible.com/ansible/2.10/index.html.) I think it should probably be going to core_index.rst or ansible_index.rst. I guess maybe 2.10_index.rst for the 2.10 version one?

Also, a minor i

[2021-02-22 08:53] MarounMaroun opened #73679 ""'NoneType' object does not support item assignment" in gcp_storage_object"
##### SUMMARY

I get the following exception when I try to upload a file to Google storage:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`gcp_storage_object`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

Just try to upload a file:

[code]

##### EXPECTED RESULTS

I expect the file to be uploaded.

##### ACTUAL

[2021-02-22 09:00] #73679 closed, assigned to nobody

[2021-02-22 11:57] k6Q28k5w5eWuRuuzTg9j7GrKCbjt7 opened #73683 "Ansible ignores configuration value(s) and forcefully create folders on incorrect paths."
##### SUMMARY
Ansible will not respect configuration settings and forcefully create for example ```~/.ansible/tmp``` when local_tmp configured differently. In fact, despite setting *every* path to explicitly be different in config, will still invoke both ```~/.ansible``` and ```~/.ansible/tmp``` to be created even if you just run ```ansible --help``` or any other ansible command (such as ```ansibl

[2021-02-22 14:55] sivel commented on #73605
I do not think we should build a workaround.

[2021-02-22 15:06] Shrews commented on #73683
Firstly, your `local_tmp` config setting seems to be mangled, based on your config output from above:

[code]

How are you setting `local_tmp` in your config file?

Secondly, the default `sh` shell plugin uses a `remote_tmp` config value, which defaults to `~/.ansible/tmp`. So if you connect to localhost to run a test command, that directory would also be created via that setting. See: https://doc

[2021-02-22 15:59] rwagnergit commented on #72739
I believe this is behaving as designed.  From https://docs.ansible.com/ansible/latest/reference_appendices/config.html, there is no mention of ssh_common_args but only ssh_args.  From https://docs.ansible.com/ansible/latest/cli/ansible.html, we see that ssh_common_args is used on the command line.

[2021-02-22 16:01] rwagnergit commented on #72739
Suspect this is a doc bug at https://docs.ansible.com/ansible/2.9/plugins/connection/ssh.html#ssh-connection.

[2021-02-22 16:32] bcoca commented on #73671
see https://github.com/jandradap/ansible-playable

[2021-02-22 17:01] NorbertWasilewski commented on #73672
I have faced the same problem this morning, but I'm using `2.10.3` also with `local` connector. It seems related to recent `sudo` update which was released at 20.01.2021 in ubuntu security updates (I'm using 16.04 LTS).
I've run my playbooks in fresh ubuntu image released in December 2020 and everything worked as it should, in contrary to recent image.

I've learnt that disabling `pipelining` seem

[2021-02-22 17:57] sivel commented on #73683
Configuration issue aside, this will ultimately be a duplicate of https://github.com/ansible/ansible/issues/73002

[2021-02-22 21:18] #73658 closed, assigned to relrod

[2021-02-22 21:45] bcoca commented on #73672
does this patch fix it for you?
[code]

[2021-02-22 22:26] bcoca commented on #73659
can you post the output of `ansible --version`? since i cannot reproduce this on 2.7-2.11 and devel (by 3.0 you probably mean ansible project, that uses ansible 2.10)

needs_info

[2021-02-22 22:54] andrewufrank commented on #16052
I encountered a similar error - become_user to an unprivileged user - which did occur, despite that I had set `allow_world_readable_tmpfiles`. The error appeared after the same code had run with an earlier version of ansible (probably 1.9) and appeared with 2.9 -- it seems a  regression error.
The error disappeared after installing ACL on the target system (without any other change), which surpris

[2021-02-23 00:08] bcoca commented on #30754
This ticket has ended up being a grab bag of different reasons and behaviors for why apt update_cache fails, with many reasons and solutions given above.

The `apt` module was updated to now give the reason for the failure, so that should clarify the issue for most of the cases shown and the remediation should be simple enough.

I'm going to close this ticket and we can address adding features/fla

[2021-02-23 00:08] #30754 closed, assigned to nobody

[2021-02-23 00:48] jorhett commented on #72264
In fact, what really needs to be there is an explanation that the reasons this was previously enabled have been obsoleted by pipelining and they likely really don't need it.

[2021-02-23 01:20] pbpblush opened #73690 "virtual python ansible executable fails to find non-venv python3 path on CentOS 7 that does not exist"
##### SUMMARY

Ansible executable fails to find a path on CentOS 7 that should not need to exist. Just run ansible --version and it fails to find python3 because it was installed by a venv python3.8 and will not resolve python3 to anything. If python3.8 venv can install ansible it should be able to run ansible and not have some assumption that python3 resolves to the virtual python.

##### ISSUE T

[2021-02-23 01:21] #73690 closed, assigned to nobody

[2021-02-23 01:26] pbpblush opened #73691 "virtual python ansible cli fails to find non-virtual python3 path on CentOS 7 that does not exist"
##### SUMMARY

Ansible cli fails to find a path on CentOS 7 that should not need to exist. Just run ansible --version and it fails to find python3 because it was installed by a venv python3.8 and will not resolve python3 to anything. If python3.8 venv can install ansible it should be able to run ansible and not have some assumption that python3 resolves to the virtual python.

##### ISSUE TYPE
- B

[2021-02-23 01:36] pbpblush commented on #73691
One workaround was to install system packages:

[code]

I think there is another way to add to a list of python versions checked by ansible. Need to read on that for another workaround.

[2021-02-23 01:42] pbpblush commented on #73691
In tried

https://docs.ansible.com/ansible/latest/reference_appendices/config.html
**INTERPRETER_PYTHON** and **INTERPRETER_PYTHON_FALLBACK**

with no success.

[2021-02-23 03:51] k6Q28k5w5eWuRuuzTg9j7GrKCbjt7 commented on #73683
My apologies, I messed up that configuration really bad.

ansible.cfg:
[code]
With this configuration, the ```~/.ansible``` directory is still created. ```~/.ansible/tmp```` is not created / behaves as expected opposed to as I first mentioned. Sorry about that.

If its a duplicate, feel free to close it.

[2021-02-23 03:51] #73683 closed, assigned to nobody

[2021-02-23 06:34] mujocloud opened #73692 "Feature Request: community.docker.docker_container --storage-opt"
##### SUMMARY

Hi Team,

I would like to request a new feature addition to the docker_container module -
When we run a container there is an option to specify the size of the container's root volume docker run -itd --storage-opt
Please implement that in the docker_container module as well
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.docker.docker_container module
##### ADDITION

[2021-02-23 06:36] #73692 closed, assigned to nobody

[2021-02-23 07:07] debu99 commented on #22286
one playbook to run multiple roles on multiple hosts
if roleA has been installed, continue with roleB (can't use end_host)
if hostA done, continue with hostB (can't use end_play)

[2021-02-23 07:15] eavdmeer commented on #72264
@jorhett I wish that were true. I ran into a specific situation in our corporate environment where pipelining did not solve the lack of the the flag.

We have a non-root `remote_user`. This user is allowed to execute single commands as root by means of a tool called 'sx'. Effectively, it can do: `sx su - root -c 'some command'` and **exactly** only this. Even adding an extra space will make it fai

[2021-02-23 07:44] jklaiho commented on #72264
Re: pipelining, I have another bug (open since 2016!) here: https://github.com/ansible/ansible/issues/15297. I haven't been able to use pipelining in our environment for nearly five years now.

[2021-02-23 08:28] lunhuijie opened #73693 "A Coverage test tools will be need such as goc"
##### SUMMARY

A project that uses ansible is difficult to maintain without coverage testing
##### ISSUE TYPE
- Feature Idea
Produce a coverage testing tool similar to goc
##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2021-02-23 08:59] yan12125 commented on #73672
Thanks, but I got an exception with this patch on top of 2.10.6:
[code]

[2021-02-23 09:06] bodik commented on #73659
you are correct. I was mistaken by the simple output of `pip install ansible`, which indeed uses ansible 3.0 but ansible-base 2.10

[code]

* preprex for debian buster

[code]

[2021-02-23 10:55] danvaida commented on #28991
FWIW, the symptom described here is still present on `2.9.15`. Haven't checked yet if the cause is actually the same.

[2021-02-23 12:08] mannyci opened #73694 "Apply a tag in playbook/import/include etc which will run tasks in a role or collection only with the specified tags"
##### SUMMARY
With the increasing use of collections, there is no default way of using a specific tasks of the whole collection i.e. a role in collection has a,b,c tags and if only tasks with a tag need to run it needs to be applied on CLI on every run.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
tags

##### ADDITIONAL INFORMATION
A role in collection might have many tags while using th

[2021-02-23 12:41] Akasurde commented on #73678
This is a known issue and can be tracked here - https://github.com/ansible/ansible/issues/70267

[2021-02-23 12:41] #73678 closed, assigned to nobody

[2021-02-23 14:41] next-jesusmanuelnavarro opened #73696 ""however lookups were disabled from templating""
##### SUMMARY
When trying to check for mandatory environment variables in a loop, I'm finding the error *'The conditional check ''lookup(''env'', "AWS_MFA")'' failed. The error was: The lookup `env` was found, however lookups were disabled from templating'*.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup plugin (???)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
There're no chan

[2021-02-23 14:47] bcoca commented on #73659
Ah, the issue does not appear in the first invocation, but in the 2nd, that was the part i was missing.

[2021-02-23 14:52] WloHu opened #73697 "log_path doesn't always work in win_package - Ansible 2.9.7"
##### SUMMARY

I have a playbook where I install an application through MSI file on Windows 10. When I use `arguments: '/log {{ deploy_path }}\{{ msi_filename }}.log'` the log file is created but when I use `log_path: '{{ deploy_path }}\{{ msi_filename }}.log' it doesn't work.
Additionally I've noticed that when the command in run in Task Manager the path for default `/L*V` option is a temporary l

[2021-02-23 14:52] #73697 closed, assigned to nobody

[2021-02-23 14:53] bodik commented on #73659
yeah, i guess that 1st run yields `changed=>true`, which does not contains char 'a'

[2021-02-23 15:14] samdoran commented on #73657
An incorrect module name is a syntax error. Rescue does not apply to syntax errors, but we'll look into a but further just to make sure this isn't a bug.

[2021-02-23 15:16] samdoran commented on #73659
Duplicate of #23671. See [this comment](https://github.com/ansible/ansible/issues/23671#issuecomment-294594582) for further explanation.

[2021-02-23 15:21] bodik commented on #73659
agreed, but at least some notice in documentation would be worthy

[2021-02-23 15:23] ghost opened #73698 "hashi_vault does not use VAULT_ADDR environment variable anymore"
##### SUMMARY
Before 3.0, `hashi_vault` functions properly with `VAULT_ADDR` and `VAULT_TOKEN` environment variables. Starting with 3.0 `ANSIBLE_HASHI_VAULT_ADDR` is required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`hashi_vault` lookup plugin.

##### ANSIBLE VERSION

NOTE: Various irrelevant path information is abbreviated as `<>`.

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2021-02-23 15:23] #73671 closed, assigned to nobody

[2021-02-23 15:23] samdoran commented on #73671
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-23 15:25] samdoran commented on #73674
cc @mattclay

[2021-02-23 15:32] Akasurde commented on #73698
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.hashi_vault

Migrated this issue in the above repository - https://github.com/ansible-collections/community.hashi_vault/issues/60.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ans

[2021-02-23 15:32] #73698 closed, assigned to nobody

[2021-02-23 15:38] samdoran commented on #73691
This is due to the installation of `selinux` from PyPI. That package is a shim and not something we support.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-23 15:38] #73691 closed, assigned to nobody

[2021-02-23 15:39] samdoran commented on #73693
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-02-23 15:39] #73693 closed, assigned to nobody

[2021-02-23 15:41] samdoran commented on #73694
Duplicate of https://github.com/ansible/ansible/issues/73321.

We have no plans to change the behavior of `tags` on import/includes at this time. The best way to codify tags for a particular play would be to use Job Templates in AWX/Tower, or partition the playbook.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: h

[2021-02-23 15:41] #73694 closed, assigned to nobody

[2021-02-23 15:46] samdoran commented on #73696
Data returned from lookups create unsafe data. Use `loop` and move the lookups to the list of items.

[code]

[2021-02-23 15:46] #73696 closed, assigned to nobody

[2021-02-23 15:46] samdoran commented on #73696
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-02-23 15:53] samccann commented on #73677
Hi @jessicajzhang03  and thanks for reporting this Ansible website issue.  The docs website is controlled in another repo so I have copied this info over to  - https://github.com/ansible/docsite/issues/46
(unfortunately that github repo is private so you may not be able to follow progress etc, sorry about that.)

I'll close this issue out in favor of moving it there. Thanks again for your help!

[2021-02-23 15:53] #73677 closed, assigned to nobody

[2021-02-23 16:00] bcoca commented on #73672
@yan12125 see the PR above, that should also avoid the stacktrace

[2021-02-23 16:16] yan12125 commented on #73672
Thanks, I can confirm applying that PR on top of 2.10.6 works! I guess it will be backported to the 2.10 branch after being merged?

[2021-02-23 16:24] pbpblush commented on #73691
I installed `selinux` because it was the solution to my later installing of AWX saying I need the SELinux package! This is a bug since you own both products. Though you can shift the blame to AWX.

[2021-02-23 16:33] next-jesusmanuelnavarro commented on #73696
Thanks a lot.  I can confirm this solution works as expected.

[2021-02-23 16:38] ioguix opened #73699 "Inventory cache not flushed when using `--flush-cache`"
##### SUMMARY

The inventory cache is not flushed when using `--flush-cache`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cli and/or inventory manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10

##### STEPS TO REPRODUCE

ansible.cfg:
[code]

Dummy inventory plugin `bug_report.py` displaying if the inventory manager gave `cache=True` or n

[2021-02-23 17:11] eqrx commented on #65448
Have verified this and produced an integration test that I will attach to the PR that is to come.

[2021-02-23 17:40] lucasbasquerotto commented on #73657
I don't mind too much the playbook stopping if there is a syntax error (although it's not what I want too), but there are some aspects that makes it clearly a bug:

1. The playbook is not stopped at compile time if is called in an include task (so a rescue outside it should catch). It fails only after it loads the task, which is expected, but then it should fail only the task, if there is a rescue

[2021-02-23 17:45] eqrx commented on #73605
In this case: @fgierlinger, do you feel this issue has been solved? Will close it then :)

[2021-02-23 17:57] #29351 closed, assigned to sivel

[2021-02-23 18:07] eqrx commented on #71762
@refriedjello @dkasak I tried to reproduce this with `2.9.13` and `devel` with a container test setup and with my local system. Is this issue is still present for you? Could you share your ansible.cfg and the general contents of your inventory file?

Thank you and have nice day!

[2021-02-23 18:39] dkasak commented on #71762
@eqrx, I think you might have mistakenly tagged me instead of @dkoshkin.

[2021-02-23 19:23] fgierlinger commented on #73605
@eqrx yes, solved with podman 3.0.0 .

[2021-02-23 19:23] #73605 closed, assigned to eqrx

[2021-02-23 19:49] samccann commented on #73677
This issue was fixed today in the docsite repo and republished. Thanks again!

[2021-02-23 20:04] MrPippin66 commented on #59968
Anyone have any additional debugging on this?

I've looked in this on our side.

We get this message:

[WARNING]: Found "rpm" but Failed to import the required Python library (rpm)
on <server>'s Python /usr/bin/python3.7.

This would be coming from ansible/lib/ansible/modules/package_facts.py:

            if not we_have_lib:
                module.warn('Found "rpm" but %s' % (missing_required_lib

[2021-02-23 20:11] bcoca commented on #73657
1. It cannot stop at 'compile' time since you use includes, this creates a 'dynamic syntax issue'
2. that might be a bug, rescue should not work on syntax issues, but it is probably working on the include build itself which is a task that 'fails' since it cannot produce valid tasks as a result, so we probably need to allow the original syntax issue to come up to be handled correctly
3. tied to #2

[2021-02-23 20:42] bcoca commented on #59968
@Speeddymon  it requires not just rpm/yum/dnf but the python bindings to be installed and useable, if they are it should work.
Also you can already limit/subset via the `manager` option, you can do 2 calls or get info for 'all usable package managers found' by default

@MrPippin66  since it doesn't for you, open a ticket, with full -vvv output, not proper here since this is feature request, not bu

[2021-02-23 20:54] #73197 closed, assigned to acozine

[2021-02-23 22:53] bsolomon1124 commented on #72739
Hm - well, I do see some reference to `ssh_common_args` in ssh.py:

https://github.com/ansible/ansible/blob/29d395146462757aee8b16117099b31e98112eac/lib/ansible/plugins/connection/ssh.py#L666

However, it's not immediately clear to me how or when that possibly gets set as an attribute of `._play_context`.

[2021-02-23 23:24] bcoca commented on #72739
it shouldn't, play_context should be fallback for backwards compatibility, it should be using `self.get_option()` first

[2021-02-24 03:08] sumanthr1 opened #73709 "Configuration Settings example on docs.ansible.com produces error"
##### SUMMARY

On the following page: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
In the first 'Note:' section there is the following text:
[code]
When I paste only the above line in a new ~/.ansible.cfg file, I get the following warning message for the ansible ping command:
[code]

When I remove the comment text starting from ';' to the end of the line from the file '

[2021-02-24 06:19] bcoca commented on #72739
play_context is magic inside a mystery of a miracle, why my pr to 'solve' this issue is mostly removing it in favor for the plugin config system which should be much more straightforward.

[2021-02-24 06:20] #56243 closed, assigned to nobody

[2021-02-24 07:28] egmar commented on #73654
I'm seeing similar behavior and is mostly memory which worries us. After doing some investigation with the help of `memory_profiler` in `VariableManager.get_vars` method
[code]
the memory growth is quite noticeable
[code]

I also noticed that a lot of memory is consumed by AnsibleUnsafe objects (it seems Ansible is converting all facts, both keys and values to be of `AnsibleUnsafe` type. I used `p

[2021-02-24 08:59] Jvekka opened #73711 "azure_rm_loadbalancer with check mode will still change values"
##### SUMMARY
Running Ansible playbook with check mode will still overwrite load balancer values.
```ansible-playbook azure_provision.yml --check```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running in WSL Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

Run Ansible playbook ```

[2021-02-24 09:06] #73711 closed, assigned to nobody

[2021-02-24 09:39] mkrizek commented on #73657
Since this is a parsing error the play execution should not continue and we should probably mimic the behavior of `import_tasks` here, minimal diff:

[code]

Then the error is fatal:

[code]

[2021-02-24 12:03] lucasbasquerotto commented on #73657
About number 1, the fact that is dynamic is exactly the reason that makes me expect it to not error the entire execution. With an import task I would probably receive an error before the playbook start executing (I have not tested, but I guess it what happens).

If I have tasks at the final play that destroy any resource created at the beginning, I would expect it to run if some task included in t

[2021-02-24 14:24] MrPippin66 commented on #59968
@bcoca I've figured out the issue.

In AIX, the librpm library is 32bit only, but if you use the python3 package, it's 64-bit. Since you can't load a 32-bit library into a 64-bit address space, this fails.

Good news is if you use the python2 version, it's 32-bit and this works (at least for me). Long term, it's not viable, since python2 is already EOL.

If IBM decides to update the librpm library

[2021-02-24 14:32] ioguix commented on #73699
The following patch seem to do the trick, but it's really naive fix, leading to load the inventory from cache, THEN refresh the inventory and the cache:

[code]

I'm sure there's some smarter way to fix this. I can imagine at least two different ways:
* adding `cache` parameter to inventory constructor
* set `parse=False` to the inventory constructor from `_play_prereqs` then call `inventory.parse

[2021-02-24 14:59] ammygill opened #73712 "win_updates module does not update the servers "last installed updates" date after patching windows server 2012/16/19."
##### SUMMARY
--> Windows Server Enterprise x64, 2012, 2016, 2019 using Ansible Engine 2.9.17.
After patching via ansible the last installed updates date is not changes but the system is updated. Even after doing multiple manual reboots, it shows the old date only.

##### ISSUE TYPE
- Bug Report

##### EXPECTED RESULTS
--> last installed updates must show the latest date.

##### ACTUAL RESULTS
-->

[2021-02-24 15:03] sivel commented on #73712
!component =lib/ansible/modules/windows/win_updates.ps1

[2021-02-24 15:07] #73712 closed, assigned to nobody

[2021-02-24 15:18] bcoca commented on #59968
@MrPippin66 that probably won't happen since the rpm CLI does not produce reliable machine parseable output.

[2021-02-24 15:22] MrPippin66 commented on #59968
@bcoca No argument, and understandable. As I see it, this really lies on IBM to properly resolve by providing a 32/64bit version of that library.

[2021-02-24 15:32] timblaktu opened #73713 "Using vmware_guest yields ModuleNotFoundError: No module named 'pyVim'"
I am encountering this, the same error that was closed (referenced below), using ansible 2.10.7, pyvmomi 7.0.1, python 3.7.3, and pipenv 2020.11.15. In my case, I am `pipenv run`ning the simplest vmware_guest playbook with the following installed in the venv (it clearly has pyvim installed.. is this a module name cAsE problem?):

[code]

..yet the problem still occurs and I cannot figure out why a

[2021-02-24 15:52] sivel commented on #73713
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2021-02-24 16:01] #73713 closed, assigned to nobody

[2021-02-24 17:31] eqrx commented on #71762
@dkasak I am very sorry, indeed. Thanks for telling :)

[2021-02-24 19:24] jorhett commented on #72264
@eavdmeer that seems like a problem with `sx` rather than a problem with Ansible, and the net result of your implementation is a huge security vulnerability. Fix `sx` or simply use sudo instead and you'll be less vulnerable.

@jklaiho it's well documented that pipelining doesn't work with rsync, as well as the workarounds for it.  The comments for that bug are from people who don't understand how

[2021-02-24 19:55] eavdmeer commented on #72264
@jorhett I fully believe you, but you saying 'fix sx' is the equivalent of me telling you to 'fix' Windows 10 or the Eifel Tower. That's just simply not going to happen. It's **way** out of my control. My only possible fix is not to use Ansible at all and that has its own set of risks. This _huge_ security risk is actually documented in [ansible.builtin.sh](https://docs.ansible.com/ansible/latest/

[2021-02-24 20:14] buckaroogeek commented on #56504
I struggled to install the modular cri-o package using the ansible dnf module. If I only specify the stream then the result from ansible is:
`fatal: [pi00]: FAILED! => changed=false
  failures:
  - |-
    cri-o:1.20 Problems in request:
    broken groups or modules: cri-o:1.20
  msg: Failed to install some of the specified packages
  rc: 1
  results: []
`
The syntax that did work was:
`  tasks:

[2021-02-24 23:52] #71977 closed, assigned to nobody

[2021-02-25 12:03] egmar commented on #73654
Small update, I've run some more tests and it could be pointed that facts content (keys and values) wrapping into `AnsibleUnsafeText` is mostly the cause of increased memory consumption.
https://github.com/ansible/ansible/blob/eb72c36a71c8bf786d575a31246f602ad69cc9c9/lib/ansible/utils/unsafe_proxy.py#L135-L136

[2021-02-25 13:08] willrowe commented on #44314
I can confirm that this is still not working with Ansible v2.10.6.

[2021-02-25 13:09] TSW-MPI opened #73720 "Ansible can't find pip due to incorrect PATH"
##### SUMMARY
pip module fails to run due to incorrect PATH env variable
Ansible searches for pip3 binary in the wrong PATH because in python a different PATH is present that is not the  same as the env.

I am running the task
[code]
Which only works, if there is a link to the pip3 binary in /bin/pip3, because the PATH where Ansible searches for the pip3 binary is: '/sbin:/bin:/usr/sbin:/usr/bin'

[2021-02-25 13:38] konstruktoid commented on #73720
Can't reproduce.
Is this a stand alone task? Not part of a playbook that changes the env PATH in any way?

[code]

[code]

[code]

[2021-02-25 14:00] TSW-MPI commented on #73720
Hey konstruktoid, thanks for following up.

It's part of a playbook role to install python.
[code]

tasks/main.yml:
[code]
vars/main.yml:
[code]

I changed the pip update task a while back, because I used to get the following warning:
Warning: pip is being invoked by an old script wrapper

Nothing changes the environment variables so far. The only change is done by the playbook that calls the role

[2021-02-25 14:16] konstruktoid commented on #73720
Thanks @TSW-MPI. I edited my comment, and now showing the same issue you have. Removing `/bin/pip3` makes it fail.

PS. Note that your redacted proxies are present at the `SSH: EXEC ssh -vvv -C -o ControlMaster=auto ...` line in the issue description.

[2021-02-25 14:28] TSW-MPI commented on #73720
Thank you for letting me know about the servers in the issue and for confirming the issue.

[2021-02-25 14:35] konstruktoid commented on #73720
Setting a task specific PATH works.

[code]

[2021-02-25 14:46] TSW-MPI commented on #73720
Interesting.
It also works, if I add it to the playbook that calls the role (in my case the run_specific_role.yml):

[code]

So ansible_env.PATH does not mirror the actual environment PATH, which is why "{{ lookup('env', 'PATH') }}" and "{{ ansible_env.PATH }}" give different results.
Is there a way to always match ansible_env.PATH to the environment PATH without adding it to every playbook?

[2021-02-25 14:50] konstruktoid commented on #73720
This is all due to `sudo` settings, on CentOS in this case, if using `become`.

To test, run `sudo visudo` and change or comment out the `secure_path` setting, and then run the first task again.

[2021-02-25 15:05] bcoca commented on #72264
Would changing the deprecation message to this be enough to clarify?:
`Moved to the corresponding shell plugin setting, see shell plugin docs for details.`

[2021-02-25 15:06] flowerysong commented on #73720
`lookup('env', 'PATH')` does not show the PATH the module will see. Lookups always run on the controller in the main ansible-playbook process.  Modules run as a separate process, and that process's environment can be different even if it's running on the controller.

[code]

[code]

[2021-02-25 15:13] Syntax3rror404 commented on #23182
I have the same issue. I need the same feature like the linux command wget that trys to reconnect and continues the download

[2021-02-25 15:24] bcoca commented on #44314
@willrowe from the info in the original ticket this should have been closed as a 'question for lists' since it seems to indicate a bad proxy command construction. But you say it is related to temporary dir creation? can you show us the specific errors on this?

needs_info

[2021-02-25 15:46] willrowe commented on #44314
@bcoca yes, I have included a test case below:

With the given inventory and playbook files.

inventory/remote.yml:
[code]

playbook.yml:
[code]

I then run this from the command line:
[code]

This fails and the following message is shown:
[code]

[2021-02-25 15:54] bcoca commented on #44314
seems like the proxying is removing the required quotes, probably evaluating it in a shell before passing in. I think you just need to ensure the proxycommand does proper quoting.

[2021-02-25 16:12] rtacconi opened #73721 "Retrieve the main group"
When I call group_names from hostvars I get a list of groups which the host is belonging to. However, since I have nested groups like this:

1. root
  1.1 Server
      1.2 Server_App
           1.3 Server_Mongodb

and the main group is Server_Mongodb, I cannot determine which is the main group because I get back a flat list like the following:

        "group_names": [
            "Server",

[2021-02-25 16:25] jakdept commented on #73614
So I should start by simplifying - I made this more complex than it needed to be by mentioning wildcard parameters (which has no good solution currently). It'll be easier if I focus on `key_value` being required.

Also, as a point of clarity, yes, the description field denotes that it's not actually required. Parsers cannot parse a description. RST documentation is designed for both reading and pa

[2021-02-25 16:32] bcoca commented on #73721
there is no concept of 'main group' in Ansible, hosts are always part of at least 2 groups.

[2021-02-25 16:36] eavdmeer commented on #72264
Very close. Please mention `ansible_shell_allow_world_readable_temp` explicitly:
[code]
I was not aware that I was even using the `sh` plugin, as I just had `shell` and `command` in my playbook

[2021-02-25 16:39] bcoca commented on #73614
The `#1` priority of the module docs is being 'human parseable', they are also currently machine parseable but they don't have to be 'schema enforceable' which is your actual issue (and this is not a priority since we use 'argspec' for this).

In any case, I'm clarifying the docs as part of #73684, as well as correcting some bugs inferred from this ticket.

[2021-02-25 16:46] bcoca commented on #72264
why not the ini or env var? we have many methods of config because not everyone can user/prefers the 'one way'

[2021-02-25 16:47] TSW-MPI commented on #73720
You are correct about the settings in /etc/sudores (visudo).
We have the line `Defaults    secure_path = /sbin:/bin:/usr/sbin:/usr/bin` in there.
Unfortunately we allow some users to use sudo for just one specific command, so not setting the secure_path would probably open us up to a potential attack where a user uses a PATH which allows him to replace the one specific tool they are allowed to run

[2021-02-25 16:53] eavdmeer commented on #72264
The more clear it is, the better. I thought you were talking about the error message during playbook runs. Guess that can't explain all the options

Just pointing to the `sh` docs would not have helped me, so it needs a bit more explanation than that

[2021-02-25 17:03] willrowe commented on #44314
@bcoca thank you so much for that insight. I am not using a ProxyCommand, but it did turn out that the SSH connection was stripping quotes from the remote command being passed. That means that this is not an issue with Ansible.

[2021-02-25 17:03] #73709 closed, assigned to nobody

[2021-02-25 18:37] akhmolina opened #73725 "win_xml module warnings about xml nodes and elements"
##### SUMMARY

Win_xml module outputs warnings with information about xml notes end elements in document.
Looks like someone use Add-Warning for module debug.

Azure DevOps Task for ansible-playbook marks any task with warnings as failed, so it`s very upsetting thing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2021-02-25 18:39] #73725 closed, assigned to nobody

[2021-02-25 18:46] akhmolina commented on #73725
It`s relates to ansible 2.9

[2021-02-25 19:32] #73627 closed, assigned to nobody

[2021-02-25 19:36] jborean93 commented on #73720
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * This is all based on your environment config and how it is dealing with installing Python packages nothing to do with Ansible itself

As such, we're going to c

[2021-02-25 19:36] #73720 closed, assigned to nobody

[2021-02-25 19:36] jborean93 commented on #73721
Closing as per above, there's no concept of a primary/main group in Ansible.

[2021-02-25 19:36] #73721 closed, assigned to nobody

[2021-02-25 20:08] #73672 closed, assigned to nobody

[2021-02-25 20:09] LucianoRed commented on #49254
Same on Ansible 2.9.9 on mac.
ANSIBLE_HOST_KEY_CHECKING=False works.

[2021-02-25 22:54] n-cc opened #73729 "Append to/merge lists in defaults/vars files outside of play"
##### SUMMARY
As far as I'm aware, there's no way to append to or merge lists (or other data structures) in defaults/vars files, outside of plays, during definition time. This has led myself and others to use hacky filters to try and replicate this functionality (see [here](https://stackoverflow.com/questions/39665131/ansible-appending-to-list-with-variable-files) for an example). It would be a hu

[2021-02-26 00:58] n-cc commented on #73729
The `+:` was just an example meant to mirror the `+=` operator, a more practical solution might be to permit referencing a list when redefining it with a new element:

`roles/ssh/defaults/main.yml`:
[code]

`roles/monitoring/vars/main.yml`:
[code]

`inventory/server1`:
[code]

I haven't tested this on the latest release, but last time I tried it, I believed it errored out in an infinite loop.

[2021-02-26 01:50] whittakm opened #73730 "group vars showing value outside of inventory host filter"
##### SUMMARY

We have a particular variable that has different values across different datacenters and when we run the playbook
as an example;
ansible-playbook test-vars.yaml -i hostsv2 -l '<DC>:&mywebapp'
so that the vars are collected from the union of the group_vars/<DC>.yaml and group_vars/mywebapp.yaml
The value grabbed is not from the <DC> requested

##### ISSUE TYPE
- Bug Report

##### COM

[2021-02-26 09:19] jojoob commented on #10374
**Another use case:** Using the password lookup plugin without wanting to store the password as file but need the same password twice during one playbook run.

[code]

The above example will output two different strings due to the evaluation of the variable on each usage.
Workaround using set_fact:

[code]

[2021-02-26 12:57] pacija opened #73731 "FreeBSD Service (after)args - Starting Jails"
Hi,

I would like to be able to start and stop FreeBSD jails with ansible.

Provided jail host's `rc.conf` contains `jail_enable="YES"`, all the jails declared in host's `jail.conf` can be started with `service jail start`, which translates to the following playbook:

[code]
Particular jail can be started with `service jail start myjail`, which - I guess - should translate to:
[code]
However, this

[2021-02-26 13:04] Syntax3rror404 opened #73732 "Issue with galaxy-install since 2.10 and 3.0.0"
##### SUMMARY

Since Ansible 2.10 there are problems with the ansible-galaxy install command that installs roles locally under ~/.ansible/roles
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy install
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL 2 with Ubuntu 20.04

##### STEPS TO REPRODUCE

Create a requirements.yml with multiple roles

[2021-02-26 14:03] asarubbo opened #73733 "docker_image: 'NoneType' object is not iterable"
##### SUMMARY

After the update from 2.10.4 to 2.10.5 we got 'NoneType' object is not iterable from docker_image module with an historical playbook that didn't got changes since years.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2021-02-26 14:07] #73733 closed, assigned to nobody

[2021-02-26 14:15] abellmann opened #73734 "Regular expressions: negative lookahead in lineinfile does not seem to work"
##### SUMMARY

When using the lineinfile module with a negative lookahead , the negative lookahead is ignored and the line is changed with every run of ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible run from wsl2 on centos targets

##### STEPS TO REPRODUCE

running the following pl

[2021-02-26 18:55] jorhett commented on #72264
I don't think the global variable approach is the best way to document this. Since pipelining solves most, but not every problem, an example that shows how to use this on individual tasks such that it limits the exposure would be great. Global variable can be listed as a known insecure fallback.

[2021-02-26 22:35] gloomytrousers commented on #64016
You can work around it with a `when:` like this:
[code]
A more complex example:
[code]

[2021-02-27 09:01] PayBas commented on #68199
Yes please!

Workarounds for this are extremely annoying to have to do:
[code]

[2021-02-27 17:47] a-stoyanov opened #73738 "Feature request: better host UNREACHABLE condition error handling in tasks"
##### SUMMARY
Hello Ansible Team,

First of all I want to say you are doing a great job with this project!

I'd like to request better host UNREACHABLE condition error handling in tasks to be added in Ansible core.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/playbook/task.py

##### ADDITIONAL INFORMATION
While Ansible already has the built in retry mechanism for ssh connecti

[2021-02-28 01:36] andras-tim commented on #72658
I got this problem too... :frowning_face:

### My original code (doesn't work w/ ansible 2.9):

[code]

### I came up with a workaround with `findmnt --real --list -n`:

[code]

[2021-02-28 12:37] tabic commented on #68199
The example is wrong. This would result in `johndoe:200000:1001`

To achive `johndoe:200000:1000` you need to specify `--add-subuids 200000-200999` which looks like the following with the first option:
[code]

Therefore I would vote for the second option:
[code]

[2021-02-28 15:45] janban-outlook opened #73740 "timedatectl command was found but not usable. Using other method"
Is it necessary to have the warning?

[code]

In my opinion, it is unnecessary and creates extra critical output when in fact the timezone was changed successfully.  Do users of this module really care what the underlying implementation is?

_Originally posted by @abeluck in https://github.com/ansible/ansible/issues/19280#issuecomment-453976078_

[2021-02-28 19:09] konstruktoid commented on #73740
Maybe a change from Warning to Debug would be enough?

[2021-02-28 21:37] vladimir-mencl-eresearch commented on #64016
@gloomytrousers , thanks for the suggestion, but that won't unfortunately work: the `exists` test applies to local files on the Ansible *controller* machine, not the target host.  To check for presence on the target host, an explicit `stat` task is required...

[2021-02-28 21:43] gloomytrousers commented on #64016
@vladimir-mencl-eresearch thanks for the info - we learn something new every day :-) Yes, in my case I'm running the playbook against the local machine so this works for me.

[2021-03-01 03:32] kbrahmbh opened #73742 "The ansible_distribution_version fact does not return correct value for Amazon Linux"
ansible 2.7 -> "ansible_distribution_version": "2018.03"
ansible 2.8 and above -> "ansible_distribution_version": "N/A"

**ISSUE TYPE**
 Bug Report

**COMPONENT NAME**
facts , https://github.com/nir0s/distro

**ANSIBLE VERSION**
devel

**CONFIGURATION**
N/A

**OS / ENVIRONMENT**
Amazon

**STEPS TO REPRODUCE**
ansible localhost -m setup | grep ansible_distribution_version

**Expected results**
"ans

[2021-03-01 09:35] c4simba opened #73744 "yum module parse json fail role"
When I use yum module installing package add logs to stdout which fail role

- Bug Report

##### COMPONENT NAME
yum module

##### OS / ENVIRONMENT
centos 8 + cpanel

##### STEPS TO REPRODUCE
[code]

Stdout yum response contains logs like:
[code]

##### EXPECTED RESULTS
Run next role

##### ACTUAL RESULTS
[code]

reason: try to find json in yum response. see lib/ansible/module_utils/json_utils.py#L

[2021-03-01 09:49] codeaprendiz opened #73745 "k8s module failing with openshift version v0.12.0 released on Feb 25th 2021"
##### SUMMARY

With the latest release of `openshift` version `0.12.0` we started facing issue with ansible module `k8s`. The k8s module works fine with openshift version `0.11.2`
The following is the actual error which we are getting
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

How we are using the module

[code]

##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION

[code]

[2021-03-01 10:13] Akasurde commented on #73745
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubernetes

Migrated this issue in the above repository - https://github.com/ansible-collections/community.kubernetes/issues/373.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansi

[2021-03-01 10:13] #73745 closed, assigned to nobody

[2021-03-01 10:21] codeaprendiz commented on #73745
Thank you @Akasurde  :)

[2021-03-01 14:00] Akasurde commented on #73742
@kbrahmbh Thanks for reporting this issue. Could you please run this script - https://github.com/ansible/ansible/blob/devel/hacking/tests/gen_distribution_version_testcase.py and let us know the output?

[2021-03-01 14:14] #65448 closed, assigned to eqrx

[2021-03-01 14:54] Akasurde commented on #73740
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/1942.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-03-01 14:54] #73740 closed, assigned to nobody

[2021-03-01 15:36] TheRaspyDev opened #73747 "Documentation error in community module win_scheduled_task"
##### SUMMARY

The documentation at https://docs.ansible.com/ansible/latest/collections/community/windows/win_scheduled_task_module.html has an error.
The compatibility parameter supports more than the tree given options (0, 1 and 2).
The additional values are 3 (Win7) and 4 (Win8).
- Please check the following references:
  - https://docs.microsoft.com/en-us/powershell/module/scheduledtasks/new-s

[2021-03-01 15:37] #73747 closed, assigned to nobody

[2021-03-01 16:12] samccann commented on #73198
Fixed by #73616

[2021-03-01 16:12] #73198 closed, assigned to nobody

[2021-03-01 16:14] samccann commented on #73196
Fixed by #73616  and #73552

[2021-03-01 16:14] #73196 closed, assigned to samccann

[2021-03-01 16:19] Stephanevg opened #73748 "Add support for proxy exclusion for winrm connections"
##### SUMMARY

Currently, it is not possible to open a connection to a windows workload using winrm (via pywinrm) when proxies are defined in the `no_proxy` environment variable.
the functionality seems implemented in the pywinrm module, but not backported to Ansible.

##### ISSUE TYPE
- Feature request (This might even be a bug fix?)

##### COMPONENT NAME
winrm

##### ADDITIONAL INFORMATION
winrm

[2021-03-01 16:32] pabelanger opened #73749 "Add ansible-galaxy collection refresh-token"
##### SUMMARY

Offline tokens used to upload collection to automation hub, expire after 30 days of inactivity.
[code]

The only way to stop this, is to upload a new collection (which may not be possible) or write a curl script to do it.  I am asking, we add this logic directly into ansible-galaxy CLI, to make it easier on our users.

https://access.redhat.com/articles/3626371
##### ISSUE TYPE
- Fe

[2021-03-01 16:37] samccann commented on #73200
Remaining item -

- [ ] Separate Ansible release and maintenance in devel from ansible-core release and maintenance.

[2021-03-01 17:23] abenokraitis commented on #73749
This would be great to have. Thanks for raising this!

[2021-03-01 19:04] #68529 closed, assigned to nobody

[2021-03-01 19:51] bcoca commented on #44314
closing as per above

[2021-03-01 19:51] #44314 closed, assigned to nobody

[2021-03-01 20:24] prof7bit opened #73754 "Feature: Allow the main.yml of a role to have a different name than 'main.yml', ideally allow it to be named after the role itself"
##### SUMMARY
When the task files of multiple roles are open in multiple editor tabs it is extremely hard to keep track of which which file belongs to which role. Some extension to the naming rules that would optionally allow these files to be named after the name of the role would be very helpful.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
the component that finds the path name of the

[2021-03-01 23:30] kbrahmbh commented on #73742
Here is the output of the above script. It was run on ansible 2.10.6
{
    "name": "Amazon NA",
    "platform.release": "4.14.94-73.73.amzn1.x86_64",
    "result": {
        "distribution_release": "NA",
        "distribution": "Amazon",
        "distribution_major_version": "2018",
        "os_family": "RedHat",
        "distribution_version": "NA"
    },
    "platform.dist": [
        "amzn",

[2021-03-02 00:57] jhg03a commented on #73754
Would specifying the `tasks_from` arg on [include_role](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_role_module.html) work?

[2021-03-02 01:07] jhg03a opened #73755 "Support retry on async fire-and-forget task"
##### SUMMARY

Today I can use the combination of retries/delay/until to handle flakey commands that just intermittently fail.  If I however try to use the async param, the output and meaning of success/failure changes to did the process fork or not.  I can then like normal use the async_status module to see if the job is done or not.  However, the retries/delay/until on the async_status module do

[2021-03-02 07:31] bateskevin commented on #73748
We are using Python3.6 and Ansible 2.9.15

[2021-03-02 12:33] aliensmily commented on #56046
same here...
We are trying to write our code modular, so we got quite a few roles with dependencies and are now running into this.
Sure there is a workaround, but it isn't a nice one.

Using dependendies in the way this issue asks for, would help to simplify code of the playbooks, when working with multiple roles.

[2021-03-02 13:10] amarao opened #73756 "meta: in handler causes module error"
##### SUMMARY
`meta` as a module in a handler causes "MODULE FAILURE"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.10

##### STEPS TO REPRODUCE
[code]

It causes:

[code]

Expected behavior: either to warn that meta can't be used in handlers, or execute them properly.

N.B. I found this bug wit

[2021-03-02 13:44] mkrizek commented on #73756
Duplicate of https://github.com/ansible/ansible/issues/50306

We have a PR (https://github.com/ansible/ansible/pull/73159) that makes handlers go through the same mechanism as normal tasks which would allow for meta tasks to be used as handlers.

[2021-03-02 15:13] bcoca commented on #73729
This will work since the evaluation happens before the assignment, 'vars:' are lazy and do not work the same way.
[code]

[2021-03-02 15:14] samdoran commented on #73729
Closing per above.

[2021-03-02 15:14] #73729 closed, assigned to nobody

[2021-03-02 15:17] samdoran commented on #73730
The `--limit` flag does not limit variables. See [How Variables are Merged](https://docs.ansible.com/ansible-core/devel/user_guide/intro_inventory.html#how-variables-are-merged) for a description of this behavior.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2021-03-02 15:17] #73730 closed, assigned to nobody

[2021-03-02 15:18] n-cc commented on #73729
That can only be done as a task though, right? The whole point is that it would be ideal to do this in defaults/vars files.

[2021-03-02 15:20] samdoran commented on #73731
That should be the correct way to add additional args to the underlying module. But there may be an issue with how `args` is being passed to the module for FreeBSD.

[2021-03-02 15:23] samdoran commented on #73732
This could be due to mixing the old format for requirements with the newer style that supports roles and collections. One of the roles being installed probably has a dependencies. Can you provide the `-vvv` output please?

needs_info

[2021-03-02 15:26] samdoran commented on #73734
This should work since the regexp is passed to the Python `re` library. The example is using folded YAML without the chomp operator, meaning a `\n` is at the end of your regexp. Could you try without the folded syntax.?

needs_info

[2021-03-02 15:29] n-cc commented on #73729
Having to use `set_fact` is an example of the hacky logic I was referring to to work around the lack of the ability to append to lists:

`roles/ssh/tasks/main.yml`:
[code]

You can see how fast this would get out of control if you had hundreds of servers with their own individual users (this is probably bad practice, but it's just an example). The `ssh` role's tasks isn't the place to enumerate ev

[2021-03-02 15:39] samdoran commented on #73738
The `ssh` connection plugin has a retries setting. We could do something similar for the `win_rm` connection plugin and make a new global setting that all connection plugins could use (though they would have to be updated to support it).

[2021-03-02 15:45] whittakm commented on #73730
Thank you Sam. That is good to know.

[2021-03-02 15:54] samdoran commented on #73748
@jborean93 Is this a feature that needs to be added to `pywinrm`?

[2021-03-02 15:57] samdoran commented on #73754
Closing per above.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-03-02 15:57] #73754 closed, assigned to nobody

[2021-03-02 16:01] samdoran commented on #73755
Adding these features to the async wrapper would required adding most of the functionality of Ansible itself into the async wrapper. This is just not feasible.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-03-02 16:01] #73755 closed, assigned to nobody

[2021-03-02 16:04] #73756 closed, assigned to nobody

[2021-03-02 16:54] Syntax3rror404 commented on #73732
@samdoran thanks for your reply. Now with an verbose output. With Ansible >=2.9.18 it works perfectly.

The structure of the file looks something like this:
[code]

[code]

[2021-03-02 16:56] tristondvs commented on #18305
My use case involves speaking to a large number of remote hosts (serialized to 20-25 hosts at a time) that can't be touched during business hours, so my playbook is called from a cron task and uses the slack module to send me updates for which hosts have been updated. The integrated webhook allows me to check on the status of these updates from my phone and allows me to work from home/afk much mor

[2021-03-02 16:57] Syntax3rror404 commented on #73732
needs_triage

[2021-03-02 16:59] sivel commented on #73732
It sounds there is a role with a `meta/requirements.yml` that is not formatted correctly.  That file must only be a `v1` `requirements.yml` format which is a simple list of role requirements.

We should handle this error better, but ultimately the issue will still be a malformed v1 `requirements.yml` file.

[2021-03-02 17:01] Syntax3rror404 commented on #73732
The file has the formatting as also documented in https://docs.ansible.com/ansible/latest/galaxy/user_guide.html

[2021-03-02 17:02] Syntax3rror404 commented on #73732
This is what the file looks like

roles:
- src: git@example.de:Lab/ansible-roles/role1.git
  scm: git
  version: stable
- src: git@example.de:Lab/ansible-roles/role2.git
  scm: git
  version: stable
[...]

[2021-03-02 17:09] sivel commented on #73732
the `meta/requirements.yml` is the `v1` format, whereas you have used the `v2` format.

The `v1` format is described at https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#installing-multiple-roles-from-a-file which does not include the `roles:` top level key.

The documentation around this is under discussion in https://github.com/ansible/ansible/issues/73347

[2021-03-02 18:07] ylmrx commented on #48320
Are you certain your TERM environment variable doesn't get overwritten (.bashrc, .profile, tmux, ... are usual suspects here) after the terminal sets it ?
can you confirm you get `xterm-256color` both in your terminal preferences, and when you run "`echo $TERM`" in the shell ?
I wasn't able to reproduce the issue :(

[2021-03-02 18:09] Syntax3rror404 commented on #73732
Yes, we install roles and collections from the same file using this notation within a dict:
[code]

[2021-03-02 18:13] sivel commented on #73732
I'm not sure what you were trying to convey here.

You appear to have placed the `meta/requirements.yml` file there previous to it being something that Ansible utilized.  You should move it, or reformat it to only list the roles.

If `meta/requirements.yml` exists ansible requires that it be the v1 format, with only roles listed.

[2021-03-02 18:23] felixfontein commented on #48320
@ylmrx I can no longer reproduce this myself, so maybe it has been fixed in upstream, the terminal emulator I'm using (terminator, which uses gnome-terminal in the background IIRC), or in a random other place?

[2021-03-02 20:40] jhg03a commented on #73755
FWIW, on some larger objectives you can kind of do this by abusing the command/shell module to invoke new instances of ansible-playbook.  For a single task though the overhead isn't worth it.

[2021-03-02 21:16] jborean93 commented on #73748
The winrm plugin allows you to specify any of the kwargs defined for pywinrm's [Protocol](https://github.com/diyan/pywinrm/blob/667703f3ddebc67cab72d86620315c739bfd7262/winrm/protocol.py#L31-L44) class. The reason why they aren't documented in our plugin docs is these args are not dependent on any Ansible version but rather the pywinrm version you have installed. Luckily for you there is a `proxy`

[2021-03-02 23:30] tlvu commented on #57542
I have this exact problem "hanging at Attempting python interpreter discovery" on Ubuntu 20.04 (the control and the target host are both Ubuntu 20.04).

I don't think this is just related to Packer.

Using Ansible 2.9.6.

[2021-03-02 23:43] tlvu commented on #57542
Do this solved my problem: `ANSIBLE_PYTHON_INTERPRETER=/usr/bin/python3 ansible-playbook ...`

[2021-03-02 23:50] tlvu commented on #57542
The problem seems random/intermittent.  Now I do not need to specify `ANSIBLE_PYTHON_INTERPRETER=/usr/bin/python3` and my playbook still works.

[2021-03-02 23:55] bcoca commented on #48320
closing as per above, can be reopened if a reproducer is found.

[2021-03-03 00:24] nitzmahone commented on #57542
@tlvu the underlying issue here is nearly always around a busted transport layer- are you just using straight `ssh` connection plugin, or `paramiko`, or `docker`, or something else? Is there anything weird in the middle (ssh agent, customized authentication, etc)? Is pipelining enabled? Is `become` in the mix when it hangs?

We've never seen this occurring on a proper stable connection, so if you'

[2021-03-03 08:20] sergey-shambir opened #73766 "ansible.builtin.file doesn't apply owner/group when creates link"
##### SUMMARY
There was issue #39553: file applying owner/group/mode to symlink destination, not the link itself in Ansible
Looks like it's considered to be expected behaviour.
On the other hand, ansible creates symlinks with `root:root` owner when privilege escalation enabled.

The only way to create link with correct owner/group is to become another user, e.g. on GNU/Linux:
[code]

Is it possibl

[2021-03-03 09:33] Glandos commented on #48320
I have it.

I am using Tilix 1.9.4 on Debian/testing with ansible 2.9.16

https://user-images.githubusercontent.com/297578/109784708-a2a2e100-7c0b-11eb-9bb3-9a8f91007c4e.mp4

I just type a command, even without hitting "Enter", then up/down arrow.

[2021-03-03 10:23] Syntax3rror404 commented on #73732
The requirements file is in a git repo that also contains the playbooks. If I replace roles with dependencies in this file, I get an error that I am only allowed to use roles or collections.

Could you give an example, that I can then test?
As mentioned above, the file is structured as in the latest Ansible doc.

[2021-03-03 10:30] Syntax3rror404 commented on #73732
This structure is called the same bug

[code]

ERROR! Unexpected Exception, this is probably a bug: can only concatenate list (not "dict") to list
the full traceback was:

Traceback (most recent call last):
  File "/home/mzapf/.local/bin/ansible-galaxy", line 123, in <module>
    exit_code = cli.run()
  File "/home/mzapf/.local/lib/python3.8/site-packages/ansible/cli/galaxy.py", line 491, in run

[2021-03-03 10:40] Syntax3rror404 commented on #73732
Can you please give me an example of the v2 format?

[2021-03-03 11:16] ylmrx commented on #48320
Trying with tilix-1.9.4 (but i think it behave more or less like terminator and gnome-terminal for that matter (ie. various versions of libvte)), ansible 2.9.16 , fish and zsh, still unable to reproduce.
Can you share your tilix user settings ? either the table found in dconf tools or screenshots from the various "profiles" tabs.

[2021-03-03 11:32] Syntax3rror404 commented on #73732
Within the roles we have had the `meta/main.yml` since Ansible 2.9. This is on `dependencies: []`

[2021-03-03 13:10] Akasurde commented on #73742
resolved_by_pr #73767

[2021-03-03 13:11] Akasurde commented on #73742
@kbrahmbh Could you please test #73767 and let us know if it works for you? Thanks.

needs_info

[2021-03-03 14:09] arnaud-quiblier opened #73769 "git_config add unexpected quotes to values"
### Summary

When I try to add alias with a value containing parameter (ex: "commit -m"), the result in .gitconfig file is surrounded with single quote (alias.cm = 'commit -m').
When I try to add alias with a value containing single quotes, some double quotes escaped are added.
Both cases make alias not working.

### Issue Type

Bug Report

### Component Name

git_config

### Ansible Version

[cod

[2021-03-03 14:13] smiling-grandmom commented on #23220
Hi @MarkusTeufelberger

Is there any news on this? I also have a need for download_only -option

[2021-03-03 14:17] MarkusTeufelberger commented on #23220
I'm just the issue reporter, as you can see there were 2-3 attempts to submit a pull request over the years that didn't end up getting merged so far or are in limbo.

Soon this issue will have it's 4th birthday by the way! :birthday:

[2021-03-03 15:20] Taoquitok commented on #23220
@smiling-grandmom There's a working patch on my incomplete pull request if you're up for using that (though it likely needs a rebase for 2.10). Otherwise it hit a point where the pull request was (rightfully) rejected as the `--download-only` action always returns "changed" even if nothing changed (file was already downloaded). This follows the behaviour of apt, but isn't the preferred outcome in

[2021-03-03 15:35] sivel commented on #73732
You have a role that includes a `meta/requirements.yml` file.  As of Ansible 2.10, this file has a special meaning, and can only be formatted with the v1 format described at https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#installing-multiple-roles-from-a-file

This has nothing to do with a project level `requirements.yml`, or the `meta/main.yml` file.

[2021-03-03 16:23] Syntax3rror404 commented on #73732
Okay, that was i searched for. The problem is, that the v1 format is not working under Ansible 3.0.0 and 2.10 anymore, because of getting this error messages. I use for my code the same syntax as described in the documentation. And it's not working anymore with the newer ansible versions.

[2021-03-03 16:30] mkrizek commented on #73769
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2021-03-03 16:30] #73769 closed, assigned to nobody

[2021-03-03 16:49] arnaud-quiblier commented on #73769
@mkrizek Thank you for the reply, and sorry for the mistake !

[2021-03-03 16:56] arnaud-quiblier commented on #73769
Issue submitted : https://github.com/ansible-collections/community.general/issues/1953

[2021-03-03 17:17] NilashishC commented on #49254
https://github.com/ansible-collections/ansible.netcommon/pull/230 should fix this issue for network_cli.

[2021-03-03 18:07] RanFirstTry commented on #49254
Thank you @NilashishC !

[2021-03-03 19:13] opoplawski opened #73772 "sudo intermittently fails on macOS 11"
### Summary

Just update a machine from macOS 10.15 to 11.2.2.  Now ansible tasks intermittently fail at the sudo step.  This really isn't an issue with ansible, but ansible does run sudo a lot.  I'm filing this more as a heads up to try to collect information.  I'm not hopeful about getting a response from Apple.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

[2021-03-03 19:24] #68950 closed, assigned to nobody

[2021-03-03 19:39] NiftyMist opened #73774 "vmware_guest module will not connect interface when disk is defined while cloning"
### Summary

I am trying to clone a VM with vmware_guest.  When I do not define the disk, the resulting VM will connect its interface and be reachable on the network.  When disk is defined, it will not connect the interface.

### Issue Type

Bug Report

### Component Name

vmware_guest

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

vCenter (not sure of exact version

[2021-03-03 19:41] opoplawski commented on #73772
A reproducer on macOS:
[code]

[2021-03-03 19:47] Shrews opened #73775 "Ignore.... test"
### Summary

sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss sssssssssssssssssssssssssddddddddddddddddddddddddddddddddddddddddddddddddddd

### Issue Type

Bug Report

### Component Name

dnf

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

yes

### Steps to Reproduce

[code]

### Expected Results

dd

### Actual Results

[code]

[2021-03-03 19:47] #73774 closed, assigned to nobody

[2021-03-03 19:48] #73775 closed, assigned to nobody

[2021-03-03 20:11] #73744 closed, assigned to nobody

[2021-03-03 20:13] gdevenyi commented on #41977
With the addition of URL support to the apt plugin, it would be beneficial to have some kind of progress available there.

[2021-03-03 20:25] #72739 closed, assigned to nobody

[2021-03-03 20:25] #49254 closed, assigned to nobody

[2021-03-03 20:25] #57220 closed, assigned to nobody

[2021-03-03 20:25] #58184 closed, assigned to nobody

[2021-03-03 20:25] #66414 closed, assigned to nobody

[2021-03-03 20:25] #68341 closed, assigned to nobody

[2021-03-03 21:11] #64935 closed, assigned to nobody

[2021-03-03 22:12] vanillaUsername opened #73780 "win_xml - replaces tabs with spaces and generates warnings"
### Summary

When I try to add an xml element to my config file the win_xml module replaces the tabs that exist in the file with spaces and throws unnecessary warnings.

### Issue Type

Bug Report

### Component Name

win_xml

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS

### Steps to Reproduce

Run the win_xml task against the config.xml file, the existing

[2021-03-03 22:17] #73780 closed, assigned to nobody

[2021-03-04 09:28] gundalow commented on #35520
@HarshalGupta1098 That would be great. I'd suggest just doing one file per Pull Request to start with so you can get used to the process.

https://github.com/ansible/ansible/tree/devel/docs/docsite/rst corresponds to https://docs.ansible.com/ansible-core/devel/

Feel free to ask here if you have any questions.

[2021-03-04 09:49] bvaradinov-c commented on #22382
We are also facing the same issue. We would like to use the aws secrets manager lookup to get the SSH key.

[2021-03-04 10:58] aytemuryakup commented on #73256
Hi @jborean93,

Thank you for your return.

I was able to perform the operations you specified. I think the source of the error is due to security or microsoft policy.
Therefore, we analyzed the powershell.dmp files that occurred in the error.
We reached the following conclusions that caught our attention in the analysis.

**Ansible somehow VCRUNTIME140_CLR0400.dll is calling here and trying to re

[2021-03-04 13:48] sluedtke opened #73783 "gitlab_runner documentation (community.general.gitlab_runner)"
### Summary

Referring to https://docs.ansible.com/ansible/2.10/collections/community/general/gitlab_runner_module.html  the documentation is inconsistent. Meaning, *required* parameters in the table differ from the parameters in the *notes* section.

### Issue Type

Documentation Report

### Component Name

community.general.gitlab_runner

### Ansible Version

[code]

### Configuration

[code]

#

[2021-03-04 13:51] #73783 closed, assigned to nobody

[2021-03-04 13:51] yanehi opened #73784 "ec2_vol attaching want to delete cloudformation tags"
### Summary

I have created an ebs volume with cloudformation which I want to bind to my ec2 instance using the `ec2_vol` plugin.

When I want to attach an existing ebs volume to my ec2 it does not work. The plugin wants to delete aws specific tags (in this example created by cloudformation). With ansible v.2.9.9 the ebs volume will be attached successfully.

### Issue Type

Bug Report

### Compon

[2021-03-04 13:57] #73784 closed, assigned to nobody

[2021-03-04 15:54] justinpryzby opened #73786 "iptables: support multiple ports"
### Summary

A way to do this: iptables -m multiport --dport 11,12,13,14 -m comment --comment service

### Issue Type

Feature Idea

### Component Name

iptables

### Additional Information

[2021-03-04 16:03] justinpryzby commented on #73786
Having a bot responding to these is super unfriendly.

If nobody cares enough to help maintain them, it's apparent that you'll end up
with a large number of poor quality tickets.

On Thu, Mar 04, 2021 at 07:58:45AM -0800, ansibot wrote:

--
Justin Pryzby
System Administrator
Telsasoft
+1-952-707-8581

[2021-03-04 16:10] bcoca commented on #73786
@justinpryzby due to the large number of tickets with insufficient information the 'people' were wasting a lot of time, why the bot does preliminary checks before a human looks into it, saving all of us time and effort.

[2021-03-04 16:50] gundalow commented on #73786
@justinpryzby Thank you for taking the time to file the bug report.

In the past 24 hours we've moved to using GitHub's alpha Issue Form, turns out we had a typo in one of the field names, so I apologies that this caused the bot to spam you through no fault of your own. I've just fixed that in https://github.com/ansible/ansible/pull/73787

I've also manually updated this issue so the bot should be

[2021-03-04 18:21] s-hertel commented on #68500
Fixed by https://github.com/ansible/ansible/pull/73625

[2021-03-04 18:21] #68500 closed, assigned to nobody

[2021-03-04 18:57] jborean93 commented on #73748
Closing as per the above.

[2021-03-04 18:57] #73748 closed, assigned to nobody

[2021-03-04 19:06] #73206 closed, assigned to nobody

[2021-03-04 19:20] mattclay commented on #73772
This is not a bug in Ansible, but with sudo on macOS, per the previous comment.

[2021-03-04 19:20] #73772 closed, assigned to nobody

[2021-03-04 19:29] mattclay commented on #73786
Support for `destination_ports` was added in Ansible 2.11, see: https://docs.ansible.com/ansible/devel/collections/ansible/builtin/iptables_module.html#parameter-destination_ports

[2021-03-04 19:29] #73786 closed, assigned to nobody

[2021-03-04 21:05] s-hertel commented on #73732
You're not just using v1 though, a role you are installing is using the v2 format in its `meta/requirements.yml` file. Before 2.10 that file would have just been ignored. Adding random files to a role's meta dir seems risky as features (like the `meta/requirements.yml` one) are added. As of 2.10 that file is used to install additional roles to those specified in the `meta/main.yml`'s `dependencies

[2021-03-04 21:21] jorhett commented on #47068
This documentation for include_role says otherwise: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_role_module.html#parameter-allow_duplicates

It very explicitly says that the default is `yes` and this will override any role's specified value.

Wouldn't that be **not include a role that has already been included**. The docs you quoted tell us how to include again, but

[2021-03-04 22:04] sivel commented on #47068
`include_role` will always ignore `allow_duplicates`.  That is actually a feature of `include_role`, although the docs are incorrect.

`allow_duplicates` for `include_role` was never implemented, nor ever meant to be implemented, but some incorrect documentation snuck in.

[2021-03-04 22:11] s-hertel commented on #56046
@colans Good [comment](https://github.com/ansible/ansible/issues/56046#issuecomment-516605289).

I think we've addressed this in a slightly different way than you suggested, because requiring users to run dependencies in advance explicitly would be a breaking change. In in 2.10 you can specify roles that should also be installed but not automatically run in the role's `meta/requirements.yml`. http

[2021-03-04 23:06] acozine opened #73792 "Update documentation on format macros"
### Summary

https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_documenting.html#linking-and-other-format-macros-within-module-documentation gives incorrect advice. The tables of options in module documentation are formatted as static HTML tables embedded in the reStructured Text, rather than as rST that Sphinx will parse. So the `R()` and `M()` formats will not work in that conte

[2021-03-04 23:14] acozine opened #73793 "Update references to `ansible-base` in the docs"
### Summary

We are no longer using the name `ansible-base`. Starting with 2.11, the package name is `ansible-core`.

There are still references to `ansible-base` scattered throughout the main docs. For example, on https://docs.ansible.com/ansible/latest/community/development_process.html#changelogs we currently say "You must add a changelog fragment to any PR that changes functionality or fixes a

[2021-03-04 23:15] jorhett commented on #64121
Reading through this issue and dozens of related issues... is it correct to say that there is no de-duplication possible with `include_role` and `import_role` other than by setting facts and doing it ourselves?

[2021-03-04 23:32] joej164 opened #73794 "Ansible-Inventory tracebacks when parsing an empty directory"
### Summary

If I try and use an empty directory as an inventory source for ansible-base 2.10.6 i get a traceback.  downgrading ansible-base to 2.10.5 behaves as expected.

### Issue Type

Bug Report

### Component Name

ansible-inventory
inventory/manager.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

Dockerfile to be exact:

FROM ubuntu:20.04

###

[2021-03-05 00:17] rguhr opened #73795 "unreachable not considered with any_errors_fatal=true and serial=1"
### Summary

When using any_errors_fatal=true and serial, the play will continue even if an entire batch has failed.

Docs says:

But this happend:

### Issue Type

Bug Report

### Component Name

serial, any_errors_fatal, core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 33

### Steps to Reproduce

[code]
[code]

### Expected Results

[code]

### Actual Re

[2021-03-05 00:30] rsguhr commented on #73795
When using this playbook:
[code]
[code]
It's working like expected. It seems unreachable errors are handled differently than failed errors.

[2021-03-05 00:40] s-hertel commented on #56046
@Bleacks Rerunning duplicate dependencies has been fixed by https://github.com/ansible/ansible/pull/72208.

But, as pointed out by jimi-c, if you want to continue using `dependencies` in the the `meta/main.yml` file, and only run all roles a single time you should just include the parent role, role3 and let dep resolution do its thing. The behavior on devel will run role1 once as specified by the

[2021-03-05 02:26] lucasbasquerotto opened #73797 "Error "must be str, not NoneType" even tough I'm using the "default" filter"
### Summary

I'm receiving the error `must be str, not NoneType` even tough I'm using the `default` filter when using the `template` module.

The following example is just a minimal demonstration, not exactly the same as what I want to use, but the error is the same.

The `urlsplit` filter returns an object that, when printed, has `null` as the port value (because the port is not specified in the

[2021-03-05 05:20] Akasurde commented on #73794
@joej164 Thanks for reporting this issue. This is already fixed in `devel` and backport for stable-2.10 - https://github.com/ansible/ansible/pull/73798.

[2021-03-05 06:13] flowerysong commented on #73797
This is the expected behaviour for `default('')`, which only applies to undefined values; null values are null, not undefined.

You claim to have tried `default('', true)` (which also applies to false-ish values), but I cannot replicate the failure when `default()` is used in this way. Are you sure you updated all of your uses of `default()` when you tested this?

[code]

[2021-03-05 09:06] Syntax3rror404 commented on #73732
We have now deleted the meta/requierments file for all roles. Since then everything has been going on as usual. We now deal with the readme with a cat EOF with a list with a v2 requierments file.
This really should be better documented, it's so very confusing.

[2021-03-05 09:07] Syntax3rror404 commented on #73732
Versioning has also been weird since 2.10. You install 3.0.0 but ansible --version shows 2.10 through ansible-base. I thought at first with me pip had a crack :D

Many thanks for your help :)

[2021-03-05 09:07] #73732 closed, assigned to nobody

[2021-03-05 12:33] b-enoit-be opened #73799 "Adapt FAQ page advising to use + when ~ is the concatenation operator advised by Jinja?"
### Summary

In the section *When should I use {{ }}? Also, how to interpolate variables or dynamic variable names* we are advising users to use `{{ hostvars[inventory_hostname]['somevar_' + other_var] }}` rather than nest moustaches.
https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#when-should-i-use-also-how-to-interpolate-variables-or-dynamic-variable-names

But Jinja docume

[2021-03-05 14:10] bcoca commented on #47068
this is also incorrect, de-duping is per Play, not playbook.

[2021-03-05 14:16] #73742 closed, assigned to Akasurde

[2021-03-05 14:17] bcoca commented on #73794
closing as per above

[2021-03-05 14:17] #73794 closed, assigned to Akasurde

[2021-03-05 14:26] sAws opened #73802 "Ansible become with /etc/sudoers output MODULE FAILURE"
### Summary

Hello! If I configure sudoers with application restrictions, the modules return an error

### Issue Type

Bug Report

### Component Name

shell; user, may be more

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS Catalina 10.15.7 (19H524)
[code]

Ubuntu 18.04 LTS
[code]

### Steps to Reproduce

[code]

[code]

### Expected Results

[code]

### Actual

[2021-03-05 14:56] bcoca commented on #73802
yes, this is expected:
https://docs.ansible.com/ansible/latest/user_guide/become.html#privilege-escalation-must-be-general

[2021-03-05 15:04] sAws commented on #73802
Oh, I'm sorry I didn't see it in the documentation.
@bcoca  Thanks!

[2021-03-05 15:04] #73802 closed, assigned to nobody

[2021-03-05 15:06] bcoca commented on #61408
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because aside from the complexity of implementation (also need to add file transfers and bidrectional communication by hacking the hypervisor) and there is no real demand for this feature.

However, we're absolutely always

[2021-03-05 15:06] #61408 closed, assigned to nobody

[2021-03-05 15:12] s-hertel commented on #61204
This isn't something we plan on adding to the git module. There's a [version_compare](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#comparing-versions) test you could use after retrieving the tags.

Feel free to reach out on IRC or the mailing list to discuss further.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansibl

[2021-03-05 15:12] #61204 closed, assigned to nobody

[2021-03-05 15:17] s-hertel commented on #59732
This isn't particular to the URI module, but any module options that doesn't specify type=int for the option. You can use DEFAULT_JINJA2_NATIVE to ensure your variable remains an integer. You can also use the `int` filter.

[2021-03-05 15:17] #59732 closed, assigned to nobody

[2021-03-05 15:18] s-hertel commented on #59004
Closing as per above.

[2021-03-05 15:18] #59004 closed, assigned to nobody

[2021-03-05 15:19] s-hertel commented on #58979
Closing as per above.

[2021-03-05 15:19] #58979 closed, assigned to nobody

[2021-03-05 15:25] s-hertel commented on #56779
We do display the stderr and stdout after attempting all methods, but only for the last one. We should fix this by saving the previous errors and include them in the message if all transfer attempts fail.

[2021-03-05 15:27] s-hertel commented on #56513
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

We don't plan on including this feature as there hasn't been much demand and can be potentially catastrophic.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always see comme

[2021-03-05 15:27] #56513 closed, assigned to nobody

[2021-03-05 15:30] s-hertel commented on #55768
There's an open PR for this https://github.com/ansible/ansible/pull/27965 that we might need to help get across the line.

[2021-03-05 15:35] s-hertel commented on #55393
This was changed in #41411. Before undefined variables were unintentionally ignored. You should either define environment after gather_facts has run or use the `| default` filter.

[2021-03-05 15:35] #55393 closed, assigned to nobody

[2021-03-05 15:45] s-hertel commented on #52860
Closing as per above, this was fixed in 2.8.

[2021-03-05 15:45] #52860 closed, assigned to nobody

[2021-03-05 16:40] s-hertel commented on #52819
Closing as a duplicate of #33126. While we may be able to support something like this with some caveats in the future, it is not currently possible. There was also a proposal for this feature with good discussion https://github.com/ansible/proposals/issues/109.

[2021-03-05 16:40] #52819 closed, assigned to nobody

[2021-03-05 19:05] shadamik opened #73807 "spwd.getspnam() doesn't work on sssd user"
### Summary

Trying to add a user to a group.
The user is managed by sssd.
spwd.getspnam() is not supported in this scenario.
see https://bugzilla.redhat.com/show_bug.cgi?id=751291

### Issue Type

Bug Report

### Component Name

ansible.builtin.user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04LTS

### Steps to Reproduce

[code]

### Expected Results

[2021-03-05 19:42] k3mic opened #73810 "ansible.builtin.package fails to remove package"
### Summary

When I try to remove a package and the RPM scriptlets fail, exit code 5 for example on the pre uninstall scriplet, ansible is reporting `rc: 0` and `results: 'Removed: $PACKAGE'`

When I manually remove the package, `dnf remove $PACKAGE`, the exit code is 1 with informative error messages...

I believe running the yum command with `--setopt=tsflags=noscripts` will make it succeed, but

[2021-03-05 20:51] k3mic commented on #73810
Just wanted to add, I don't think this behavior is present in only ansible 2.10... I just tested 2.4 (old system) and it's behaving the same way. Yum exit status not 0, ansible reporting it as 0.

[2021-03-05 21:29] imjoseangel commented on #73766
Hey @sergey-shambir why don't you document it by yourself? Do you need help?

[2021-03-05 22:23] lucasbasquerotto commented on #73797
Hmm, I tought that I would never receive a `NoneType` error if using `default(value)` when the property value is `null` in JSON (or `None` in Python), even if there is the property in the dictionary (equivalent to python `var.get('prop') if (var.get('prop') is not None) else default`).

In any case, I also received error when using `default` with `true` as the 2nd argument, but seeing more careful

[2021-03-06 01:30] timblaktu commented on #72264
@bcoca, since _most_ people are using sh, perhaps the message could provide the "sh solution" as an example while keeping the message concise. Something like:

```Moved to the a variable in your shell plugin, e.g. ansible_shell_allow_world_readable_temp for the ansible.builtin.sh plugin.```

This is a complex (not to mention hidden/mysterious) bit of ansible here, so the complete documentation for

[2021-03-06 08:25] absinthetized opened #73811 "pip uninstall ansible doesn't actually remove it from ubuntu 20.04"
### Summary

* on GCP, using an ubuntu-20.04 google image.
* I check ansible is not present,
* I pip install ansible, I check it is installed,
* then I pip uninstall it. ansible is still present in the system (under /usr/local)

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu 20.04 LTS GCP image

### Steps to

[2021-03-06 09:38] smiling-grandmom commented on #23220
Ok. Thank you for replying so fast . :)

[2021-03-06 09:39] smiling-grandmom commented on #23220
Ok. Thank you. I will take a look the working patch.