[2019-04-11 11:29] willthames commented on #40668
Please add the required information and the usual issue template information to the new ticket, not this one :)

[2019-04-11 11:52] felixfontein commented on #55139
Thanks for reporting this! I fixed it in #55142 (and found another problem related to idempotency with the pyOpenSSL backend).

[2019-04-11 11:52] flysen opened #55143 "[DEPRECATION WARNING]: 'include' for playbook includes. You should use 'import_playbook'"
##### SUMMARY
Running playbooks that uses include statement gives me a warning:
`[DEPRECATION WARNING]: 'include' for playbook includes. You should use 'import_playbook'`
Running playbook that uses roles (which use `include` instead of `import_tasks`) doesn't throw any warnings.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
[Documentation](https://docs.ansible.com/ansible/2.4/play

[2019-04-11 11:58] chrisvanheuveln commented on #38017
@indivisiblewalrus This has been added to our backlog. We hope to start on it in the next month.

[2019-04-11 12:09] psi-4ward commented on #42501
Same here, my storage has no payer api

[2019-04-11 12:23] #54226 closed, assigned to nobody

[2019-04-11 12:28] trishnaguha commented on #53887
@chrisvanheuveln Will you please try this fix https://github.com/ansible/ansible/pull/55144?

[2019-04-11 12:33] sdemura commented on #29599
Still seen in Ansible 2.7.6

[2019-04-11 12:42] Alex-Richman opened #55147 "Document elb_application_lb access_logs_s3_prefix restrictions"
##### SUMMARY
The elb_application_lb docs[1] don't list the restrictions to the access_logs_s3_prefix parameter, primarily that the prefix may not start or end with a slash.

To be fair, nor does AWS's own documentation [2], but attempting to pass a prefix with a leading (or trailing) slash will throw up this error:
[code]

[1] https://docs.ansible.com/ansible/latest/modules/elb_application_lb_mod

[2019-04-11 13:05] texdc commented on #40668
Yeah, I don't either.  That's why I've reached out for assistance.  I'll add the new issue and all the data you've requested asap.  Thanks.

[2019-04-11 13:15] jctanner opened #55149 "test huawei labeling"
##### SUMMARY

https://github.com/ansible/ansible/pull/54841

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/hwc_utils.py
lib/ansible/plugins/doc_fragments/hwc.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-11 13:27] tterranigma commented on #51262
@rambleraptor Sorry to poke, but would you have the time to comment on the feasibility of this?

[2019-04-11 13:35] sivel commented on #55143
This warning is not coming from a role.  This warning would only be generated if you have a playbook that does something like this:

playbook.yml
[code]

This warning is not caused from including a task file, only for including another playbook.

[2019-04-11 13:37] samccann commented on #54968
Thanks! Applied a similar fix to NXOS. The rest of the platform pages look okay.

[2019-04-11 13:43] Benoit-DunandLaisin opened #55151 "Handlers in role dependencies may be never triggered"
##### SUMMARY

Using roles **A** and **B** which have the same **common** role with handlers inside.
In a play, I execute the 2 roles **A** and **B** with a when condition (usually, I apply a role if host is in the right inventory group).
If first role **A** is not executed because of the when condition, but **B** is executed, handlers notified by **common** role (dependency of **B**) are not exec

[2019-04-11 13:44] SchizoDuckie opened #55152 "AnsibleUndefinedVariable eats up valuable debug information."
##### SUMMARY

For two days i have been trying to get to the source of this error i was presented with on a playbook run.

My playbook crashed with the sort of useless error message
```"AnsibleUndefinedVariable: list object has no element 0"```

okay, cool, so where? I don't use any direct references to elements in the last task in the CLI output and worked through the last template I guessed it w

[2019-04-11 13:49] UnitedMarsupials commented on #35448
@sm4rk0, yes, it was due to namespace. Sigh, the `xml_grep` utility I used to test my xpath-expressions is much more lenient, than lxml...

However, the original problem reported here -- that `value` is mangled even when `input_type` is set to "xml" -- is valid. I reported it yesterday as #55112.

[2019-04-11 13:52] flysen commented on #55143
@sivel Thanks for prompt reply, So if i have a role:
roles/example/tasks/main.yml
I can continue to use `include` to include tasks. I don't need to change to `import_tasks`?
Regards
Fredrik

[2019-04-11 13:55] #55149 closed, assigned to nobody

[2019-04-11 13:55] lucastheisen commented on #23159
Looks like this issue is a couple years old, and as of
[code]
still does not work as expected.  Anyone know if there is interest in resolving this?  The [documentation|https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable] does not explicitly call out `{"ansible_facts": [...]}` from action plugins/modules, but they seem simila

[2019-04-11 13:56] mkrizek commented on #55152
For the reference, that `except` block was introduced in #35571.

[2019-04-11 13:58] nkakouros opened #55153 "gcp_compute_route fails with TypeError"
##### SUMMARY
gcp_compute_route fails with a TypeError. This is the same error as the one mentioned in #48060.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The route should be created.

##### ACTUAL RESULTS

[co

[2019-04-11 14:04] UnitedMarsupials-zz opened #55155 "xml module forces encoding to UTF-8"
##### SUMMARY
Though UTF-8 is the most commonly-used one, there are other valid XML-encodings. Unfortunately, any document going through the xml-module will have its encoding reset.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
2.7.9

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### STEPS TO REPRODUCE
Run the below playbook

[code]

##### EXPECTED RESULTS

[2019-04-11 14:23] UnitedMarsupials-zz opened #55157 "Remote's stdout/stderr mangled, when encoding is other than UTF-8"
##### SUMMARY
When `$LANG` contains an encoding, that's not a UTF-8, non-ASCII characters are shown by Ansible as ?-marks.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core ?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
My usual setting for `LANG` is `uk_UA.KOI8-U`. ssh ensures, the LANG variable is forwarded to the remote servers.

##### STEPS TO REP

[2019-04-11 14:36] unix-guy commented on #55047
Hi @zikalino - my name is Kevin and this issue was opened by @mrmibrown on my behalf through a support case.

Here is as example of the debug output:

TASK [debug] ********************************************************************************************************************************************************************************************************************************************

[2019-04-11 14:38] spmurali opened #55159 "Multiple WLC commands via aireos_command module are not working on a single persistent SSH connection"
##### SUMMARY

Multiple WLC commands via aireos_command module are not working on a single persistent SSH connection. If a wlc command worked in first task, then another wlc command in second task would not work.

If used below, after each WLC command, then it works fine but takes long time to complete.
\- meta: reset_connection

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aireos_command

[2019-04-11 15:17] jamescassell opened #55162 "urls.py: chunk_size support"
##### SUMMARY

The vmware_tools connection plugin requires the pyvmomi and requests python modules.  For RHEL7 systems, the requests dep could be dropped and the internal `urls.py` used instead if it supported chunk_size and piecemeal downloading.

This would not remove the dep for Fedora 29 hosts because pyvmomi depends on requests directly on that system.

##### ISSUE TYPE
- Feature Idea

#####

[2019-04-11 15:32] #54968 closed, assigned to samccann

[2019-04-11 15:42] sparky005 commented on #55053
That makes sense. I suspected the issue might be in the underlying library somewhere. Is there any way to motivate the maintainers of pywinrm to push out a new release?

[2019-04-11 15:57] ibaldonl commented on #49904
A single line fix and is not merged yet after more than 4 months...

[2019-04-11 16:32] AWSmith0216 opened #55165 "remote_tmp Value Ignored if Using Become"
##### SUMMARY
The remote_tmp value in ansible.cfg is ignored if using 'become'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
stat, ansible.cfg, remote_tmp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller is RedHat 7.2
Target system is RedHat 7.4

##### STEPS TO REPRODUCE
In my ansible.cfg I override the remote_tmp directory:

[code]

I can then d

[2019-04-11 16:54] mattgmoser opened #55166 "azure_rm_sqlserver module failing. 'LROPoller' object has no attribute 'as_dict'"
##### SUMMARY

I am attempting to use the azure_rm_sqlserver module from the latest release branch to create a new SQL server within Azure.

I am using the bare minimum parameters and the exact example given documentation and am receiving the following error:

AttributeError: 'LROPoller' object has no attribute 'as_dict'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_sqlserver, fail

[2019-04-11 16:56] rambleraptor commented on #55153
Hello! Can you run this in verbose mode?

[2019-04-11 16:59] rambleraptor commented on #51262
Hello! Thanks for pinging me.

There was an issue earlier on that had the Ansible modules not properly noticing when differences existed between your playbook and GCP state. That issue should be fixed.

Routes, as you mentioned, cannot be edited, but have to be deleted/re-created. That's definitely on our roadmap. It probably won't happen for 2.8 (code freeze is today), but I'm targeting it for 2.

[2019-04-11 17:03] bcoca commented on #23159
this is not really a bug, this is by design, making this a feature request

[2019-04-11 17:14] ksubileau commented on #55129
Starting from Ansible 2.8, the `started` value for the `state` option will be deprecated, in favor of using the `win_service` module (see #45693).

What happens if you write something like this instead ? Do you still have a timeout issue ?
[code]

[2019-04-11 17:17] Asgoret commented on #30411
Same issue on when using `ansible` in docker.
[code]

[2019-04-11 18:12] kurtbomya opened #55170 "Show unallocated win_disk_facts_module facts"
##### SUMMARY
Presently the `win_disk_facts_module` does not return unallocated space on a given drive.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `win_disk_facts_module`

##### ADDITIONAL INFORMATION

- Feature would be used in the same way that `win_disk_facts` is already used, I just want more information from the module.
- It would solve automated drive expansion to use remaining

[2019-04-11 18:49] matttowerssonos opened #55177 "datadog_monitor does not allow setting thresholds on "query alerts""
##### SUMMARY
The `datadog_monitor` module explicitly excludes "query alert" monitor types from being able to set `warning` and `*_recovery` threshold levels.  The DataDog documentation is misleading on this but I have confirmed with DataDog support that it is possible.  Therefore I believe this restriction can be removed.

Here are the offending lines:  https://github.com/ansible/ansible/blob/dev

[2019-04-11 18:55] #55177 closed, assigned to nobody

[2019-04-11 19:38] jamesmarshall24 opened #55182 "Add User-Agent Config for AWS Modules"
##### SUMMARY

Add the ability to specify a user agent string for boto/3

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws

##### ADDITIONAL INFORMATION

[code]

[2019-04-11 19:44] rjouhann commented on #45834
Look, this might be your issue: https://kb.vmware.com/s/article/59444

[2019-04-11 19:46] staniel87 opened #55184 "Dellos10 fails to execute device backup - Unable to retrieve device config"
##### SUMMARY

Module dellos10_config is unable to retrieve currnet running configuration of remote device running Dell EMC Networking OS10 Enterprise.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dellos10_config module
dellos10_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Dell EMC Networking OS10-Enterprise
Copyright (c) 1999-2018 by Dell

[2019-04-11 20:36] bcoca commented on #54779
again, you are missing the point made, the 'when' on the import is aggregated to each task and will be calculated PER ITEM in loop. There is only one point of conditional evaluation, not multiple for a task.

[2019-04-11 20:43] msilmser commented on #30187
We have a customer able to reproduce this issue on 2.7.5. I have not been able to reproduce this as it only occurs intermittently.

In addition, the customer is only creating a single instance and `wait: yes` is set on the task.

This is their request:
[code]

[2019-04-11 21:00] stmarier commented on #16116
I wanted to mention that it seems like `ansible-inventory` correctly handles missing group definitions here, even though `ansible-playbook` will error with any undefined groups.

ex:
[code]
outputs an entire graph of relationships, but running `ansible-playbook -i inventories/folder/ playbook.yml --list-hosts` will throw undefined group errors.  Ideally the two would behave identically.

[2019-04-11 21:07] #55147 closed, assigned to nobody

[2019-04-11 21:23] sivel commented on #54779
Also note that you are using `import_tasks` and not `include_tasks`.

Imports always happen regardless of the conditional, and then the tasks within inherit the `when` statement.

Includes are JIT included, so the when statement applies only to the include.

[2019-04-11 21:38] jose-delarosa commented on #54673
I prefer to group as a dict under each Controller. So currently:

[code]
This could be:
[code]
PR coming?

[2019-04-11 21:50] acozine opened #55188 "Filetree plugin should always return `src` attribute"
##### SUMMARY
The filetree plugin currently does not return the `src` attribute when `item.state` is set to `directory`.

See https://github.com/ansible/ansible/issues/51513#issuecomment-459150769 and https://github.com/ellaqezi/dotfiles#known-issues.

The documentation was updated to reflect this limitation in #54347. Any PR to fix this should update the documentation along with the code.

#####

[2019-04-11 22:00] bradwilliamson commented on #55108
This was a result of overlooking the Domain Controller not being in my inventory.   Closing

[2019-04-11 22:00] #55108 closed, assigned to nobody

[2019-04-11 22:05] adrianovieira commented on #54293
npm module also fails for here.

[code]

[code]

[code]

[2019-04-12 01:15] mike45379 opened #55192 "vmware_vm_inventory.py writes variables with '.' characters in them"
devel only

##### SUMMARY

At line 459, the host vars for the dynamic inventory contain the '.' character which makes them impossible to reference.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create dynamic/vcentervmware.yml vmware inventory plugin
ansible

[2019-04-12 01:40] yungezz commented on #55166
@zikalino  HI ZIm, could you pls look at the issue. that's why i have concern on using `as_dict` in code, previously i met same error in webapp. Pls also considered this during code generating.

[2019-04-12 01:43] yungezz commented on #54668
@stspinu  could you pls share more of repro steps, such as xxxazure_rm.yaml configure file, and ansible output? From the error there I don't think it's from ansible azure inventory, it seems from Azure.

[2019-04-12 02:01] e-taylor commented on #38781
-label solaris

[2019-04-12 03:46] Akasurde commented on #38648
Closing this issue as PR https://github.com/ansible/ansible/pull/55059 is merged. If issue persists, please feel free to re-open.

[2019-04-12 03:46] #38648 closed, assigned to nobody

[2019-04-12 03:47] Akasurde commented on #43084
Closing this issue as PR https://github.com/ansible/ansible/pull/55059 is merged. If issue persists, please feel free to re-open.

[2019-04-12 03:47] #43084 closed, assigned to nobody

[2019-04-12 03:50] Akasurde commented on #55192
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-04-12 04:19] zikalino commented on #55166
@mattgmoser could you check what version of azure-mgmt-sql? (sudo pip freeze)

According to requirements version 2.7.9 should use:

azure-mgmt-sql==0.7.1

(https://github.com/ansible/ansible/blob/v2.7.9/packaging/requirements/requirements-azure.txt)

So the error you are seeing is probably your azure-mgmt-sql package is newer, and we will have  upgrade to newer version only in Ansible 2.8.0.

I co

[2019-04-12 04:54] stearz commented on #55020
Ok, I understand. I will open issues for k8s then.

[2019-04-12 05:24] jerhone commented on #44310
I have the same issue. Hopefully this will be fixed so that I can really make use of this module to backup configs etc.

[2019-04-12 05:46] zikalino commented on #55047
ok, I have figured out the problem.

It applies to all the modules, so for instance if you do this:

[code]
you will get:

[code]

but with same task without credentials parameters:

[code]
you will get:

[code]

[2019-04-12 05:53] zikalino commented on #55047
seems like passing subscription_id as a parameter is causing that subscription id to be used to "hide" proper subscription_id in the url and replace it with ********.
That's why the last task is failing....

There are several solutions:

(1) Investigate where this replacement is done and fix it as a bug.
(2) replace ****** with proper subscription id in url before it's passed to the last task
(3)

[2019-04-12 06:00] stspinu commented on #54668
Hello Yunge,

Thanks a lot for looking into this.

Unfortunately, I cannot reproduce this, as I am now using Ansible.

I reported this issue on behalf of a customer, with whom I worked on a Support Ticket that is currently closed.

I will send him an e-mail and ask him to give you more information on this thread.

Thank you!

[2019-04-12 06:02] NilashishC opened #55201 "Cli context is not properly handled for VyOS modules"
##### SUMMARY
- [This](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/vyos.py#L84) does not properly handle cli context switching when prompt is already at `configure` mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
action/vyos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
VyOS 1.1.8

##### STEPS TO REPRODUCE

[code]

##

[2019-04-12 06:16] #35767 closed, assigned to maxamillion

[2019-04-12 06:19] NilashishC opened #55202 "cli_{config, command} modules don't inspect current cli context"
##### SUMMARY
- Unlike platform specific modules, cli_command and cli_config modules don't use `action/{{ network_os }}.py` to inspect the current prompt and handle cli context switching from configuration mode to priv exec mode when required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli_command.py
cli_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2019-04-12 08:28] angystardust commented on #45834
Thanks for the link @rjouhann but I have the same issue without having NSX-T in my environment

[2019-04-12 08:29] vijay-janna commented on #54668
I understand that the error is not coming from Ansible, but from Azure AD. So I am going to work with Azure AD team to resolve the issue. You can close the case.

[2019-04-12 08:37] mkrizek commented on #55125
Use `follow: yes` if you want to operate on the real path instead of the symlink itself. Then `change` is correctly evaluated.

[2019-04-12 08:40] yungezz commented on #54668
thanks for the quick response. feel free to open another issue if you found any ansible error.

[2019-04-12 08:40] #54668 closed, assigned to nobody

[2019-04-12 08:45] fridim commented on #55125
Shouldn't `--check` still mimic normal behavior, with or without `follow: yes`  ?

[2019-04-12 08:47] muffl0n commented on #55125
Weird thing is, my example works like expected. Even without specifying `follow: yes`

[2019-04-12 08:58] mkrizek commented on #55125
I am not disputing that, just mentioning a 'safe' solution. ;-)

[2019-04-12 09:38] anthraxn8b commented on #55129
@ksubileau I tried it with `win_service` for startup (as I understood will be the future way of starting the nssm services) and it is working.

But:
1. Why is it working? How long will it be working? What is the default wait time?
2. The ability to modify the win_nssm/win_service timeout/wait time should be given...

[2019-04-12 09:43] ghost opened #55204 "cloudformation_facts: KeyError while gathering facts"
##### SUMMARY
When running a very simple playbook we are getting module is deprecated error that is generating a fatal error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
AnsiballZ_cloudformation_facts.py ( cloudformation_facts )
https://docs.ansible.com/ansible/latest/modules/cloudformation_facts_module.html

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRO

[2019-04-12 11:23] danowar2k commented on #54898
I have to correct myself, the "hanging" issue is still present even with the `importlib.import_module` workaround.

I hope it isn't something on my host system (mintty, git, VirtualBox, whatever)...

[2019-04-12 11:50] dagwieers commented on #38781
@e-taylor There is no ZFS-specific solaris WG, so all ZFS related issues are currently labeled for the Solaris WG. We can change this if necessary, but that is why it is labeled `solaris`.

[2019-04-12 13:17] arvidsnet opened #55208 "cloudfront_distribution: custom_headers in origins are not sorted"
##### SUMMARY

custom_headers in origins are not sorted, so it causes change even when no update to origin definition was done.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudfront_distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux

##### STEPS TO REPRODUCE

configure an origin with at least two custom_headers

[code]

##### EXPECTED

[2019-04-12 13:34] ajsiersema opened #55211 "IOS: configuring macro fails"
##### SUMMARY
Configuring a Cisco IOS macro through ios_config fails. I've tried various variations as found while searching the web and checked out #38420. None got me a working playbook.
(I've come up with a fix to edit_macro() for which I'll open a PR)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config
plugins/cliconf/ios.py  : edit_macro()

##### ANSIBLE VERSION

[code]

##### CO

[2019-04-12 13:39] mattgmoser commented on #55166
Good catch, thank you! azure-mgmt-sql==0.10.0

It seems like my team had to update these to use the azure preview modules, which provided some extra functionality we needed such as spinning up cosmosdb and redis cache.

The module works now enabling preview modules; however, I think we will be setting up a separate Tower virtual environment to house the different library versions.

No need to back

[2019-04-12 13:39] #55166 closed, assigned to zikalino

[2019-04-12 13:40] ajsiersema opened #55212 ""no macro" fails in ios_config"
##### SUMMARY

Trying to delete/undefine a Cisco IOS macro fails.
I've come up with a code fix for which I'll open a PR shortly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config
/modules/network/ios/ios_config.py  :  edit_config_or_macro()

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat 6.8
IOS-XE version 03.06.08.E (15.2-2e8)

##### STEP

[2019-04-12 13:46] zikalino commented on #55166
@mattgmoser yes, there's a problem, when you install azure_preview_modules, you need newer dependencies, and then it's better to refer azure_preview_modules in every playbook to make sure newest versions are used.

btw, there's an easy way of including single new modules along with your playbooks.
you can place any modules in a folder, for instance you could place **azure_rm_cosmosdbaccount,py** f

[2019-04-12 13:53] unix-guy commented on #55047
Debug output of the azure_rm_loadbalancer_facts invocation provide a clue:

**                "invocation": {
                    "module_args": {
                        "ad_user": null,
                        "adfs_authority_url": null,
                        "api_profile": "latest",
                        "api_version": "2018-12-01",
                        "auth_source": "auto",

[2019-04-12 13:59] mattgmoser commented on #55166
@zikalino Great advice, that's very useful as we really only needed to use preview for a couple of modules. Much appreciated.

[2019-04-12 14:03] unix-guy commented on #55047
I addition to the subscription_id, I don't think the client_id or tenant should be masked, either.

[2019-04-12 14:08] r1k0 commented on #54981
if that can help: working logs, jumphost to iosxe, connection=network_cli, network_os=ios

[code]

[2019-04-12 14:25] mihai-satmarean opened #55213 "DeprecationWarning: the imp module is deprecated in favour of importlib"
##### SUMMARY

After upgrading to python3 we get this error: DeprecationWarning: the imp module is deprecated in favour of importlib  when running something that calls vmware_deploy_ovf
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 grep -nr "import imp"  /usr/local/lib/python3.7/site-packages/ansible/

/usr/local/lib/python3.7/site-packages/ansible//executor/module_common.py:26:import imp

[2019-04-12 15:07] samdoran commented on #19431
This is a misunderstanding. `debug` is not a good way to show the connection variable since it is not updated with each loop. If you run the task with `-vvv` you will see the connection details are as you expect.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible

[2019-04-12 15:07] #19431 closed, assigned to nobody

[2019-04-12 15:11] samdoran commented on #20530
Closing this per above conversation. This appears to be a misunderstanding of intended functionality. If you feel this is still an issue in a recent version of Ansible, please open a new issue.

[2019-04-12 15:11] #20530 closed, assigned to alikins

[2019-04-12 15:16] samdoran commented on #20629
Closing as this is intended behavior.

[2019-04-12 15:16] #20629 closed, assigned to nobody

[2019-04-12 15:21] samdoran commented on #20998
Closing as we were unable to reproduce. If this is still an issue in newer versions of Ansible, please open a new issue.

[2019-04-12 15:21] #20998 closed, assigned to nobody

[2019-04-12 15:23] shogo2022 commented on #44310
If you have any non-ascii character in the config, I suggest using another module rather than fortios_config(and pyFG). I managed it to work, but it looks like pyFG is not actively maintained and have not merged any PR this few years..

[2019-04-12 15:25] samdoran commented on #21003
The output you are seeing is due to the use of a `loop` on the `uri` task. You can use `loop_control` to control the output. See [documentation here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#loop-control).

[2019-04-12 15:25] #21003 closed, assigned to nobody

[2019-04-12 15:32] samdoran commented on #21012
Using `is defined`, `!= ''`, or `| default(False)` in the conditional is the proper way to test this.

[2019-04-12 15:32] #21012 closed, assigned to nobody

[2019-04-12 15:34] samdoran commented on #21431
When a host is unreachable, Ansible was unable to create a connection. In order to see more details on the connection failure, run with `-vvv`.

[2019-04-12 15:34] #21431 closed, assigned to nobody

[2019-04-12 15:38] #21703 closed, assigned to nobody

[2019-04-12 15:41] tdaff commented on #54846
Thanks @robinro and @n0trax and apologies for the lacking information.

I've added details of my specific system. In this case the module is automatically enabled when installing a `.deb`, so if I write a `.conf` file after that then `a2enmod` is not called.

It's likely a very rare case, and there are several workarounds, so I'm fine if this is a WONTFIX. It's hopefully just useful information if

[2019-04-12 15:43] samdoran commented on #22220
The var is being tested on the bastion host but `set_fact` is not setting that on the bastion host.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-12 15:43] #22220 closed, assigned to nobody

[2019-04-12 15:46] fdalrymple-hp opened #55216 "VMware: vmware_guest - Cannot create VM from template - permissions issue"
##### SUMMARY

When attempting to create VM from template using vmware_guest module, receiving permission denied error:
[code]

By commenting out the template line and building "from scratch" the process succeeds.

No permission errors are logged in the vCenter event console.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code

[2019-04-12 15:48] samdoran commented on #22289
Closing per above linked explanations.

[2019-04-12 15:48] #22289 closed, assigned to nobody

[2019-04-12 15:52] samdoran commented on #22682
I am unable to reproduce this issue. If this is still a problem in a newer version of Ansible, please open a new issue.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-12 15:52] #22682 closed, assigned to nobody

[2019-04-12 15:56] samdoran commented on #22749
The inventory address of `127.0.0.1` with a per-host port does not match the `-vvv` output, which is attempting to connect to a `192.168.x.x.` IP address. This does not appear to be an issue with Ansible but a problem in the environment.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.

[2019-04-12 15:56] #22749 closed, assigned to nobody

[2019-04-12 15:56] bcoca commented on #22870
closing as per above

[2019-04-12 15:56] #22870 closed, assigned to nobody

[2019-04-12 15:56] samdoran commented on #22870
Closing as per above.

[2019-04-12 15:57] samdoran commented on #22985
This is working as designed.

[2019-04-12 15:57] #22985 closed, assigned to nobody

[2019-04-12 15:59] samdoran commented on #23009
Use `!unsafe` on the field or use a `template` task that writes the file, then call it with `command` or `shell`. Inline Jinja like this is painful and complex.

[2019-04-12 15:59] #23009 closed, assigned to nobody

[2019-04-12 16:01] samdoran commented on #23031
This is working as intended. Handlers only run once after all roles are run. Handlers are not flushed between runs of roles. If the goal is to have handlers flush after a role runs, add `- meta: flush_handlers` at the end of each role.

[2019-04-12 16:01] #23031 closed, assigned to nobody

[2019-04-12 16:09] bcoca commented on #22220
FYI, set_fact cannot be delegated

[2019-04-12 16:25] fdalrymple-hp commented on #55216
I have also validated this problem exists in the dev branch:
[code]

[2019-04-12 16:42] #51042 closed, assigned to nobody

[2019-04-12 16:42] #53779 closed, assigned to nobody

[2019-04-12 17:07] mgedmin commented on #21012
The original example looks like it came from my playbooks.  I don't remember what happened here -- most likely I complained on IRC and somebody else filed a bug?

My goal was to run a task when a variable (let's call it `x` for simplicity) had a non-blank value, where non-blank means "is not an empty string or a null value".  In Python I would write `if x:`, which is why I originally attempted `wh

[2019-04-12 17:19] ghost opened #55221 "[k8s] Failed to find exact match for v1.DeploymentConfig by [kind, name, singularName, shortNames]"
##### SUMMARY
I'm not able to use k8s to create a DeploymentConfig on Openshift 3.6.

Error messages are:
- ResourceNotFoundError('No matches found for {}'.format(kwargs))
- Failed to find exact match for v1.DeploymentConfig by [kind, name, singularName, shortNames]

Please help to fix or advise if it is not supported.

The same setup works when creating Pods or Secrets.

##### ISSUE TYPE
- Bug Re

[2019-04-12 17:21] ajsiersema opened #55222 "Python 3.7 compatibility re._pattern_type -> re.Pattern"
##### SUMMARY

With Python 3.7 we get the following error:
AttributeError: module 're' has no attribute '_pattern_type'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/network/common/config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat 6.8

##### STEPS TO REPRODUCE

Running Ansible network_cli with Python 3.7 fails.

[

[2019-04-12 18:04] jamjon3 commented on #47805
@Tux12Fun I don't know if you just stayed with using the **selfLink** key but I struggled with this and found your issue. The **subnetwork** facts object has an 'items' key so I tried referencing like this:

`{{ subnetwork['items'] | first }}`

That actually worked for me

[2019-04-12 20:27] chopraaa commented on #55170
Unless I'm missing something, you can use `size - allocated_size` to get the free space.

!component =lib/ansible/modules/windows/win_disk_facts.py

[2019-04-12 21:04] bcoca commented on #41584
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are incorrectly mixing `name` and `dir`, name sets a variable with the contents of ALL files found in dir, first_found here is just

[2019-04-12 21:04] #41584 closed, assigned to nobody

[2019-04-12 21:08] samdoran commented on #54461
Please test with #55230 and let me know if that fixes the issue. Thank you.

[2019-04-12 22:08] hryamzik commented on #23031
@samdoran the goal is just to have both handlers executed

[2019-04-12 22:16] UnitedMarsupials commented on #55112
The patch below seems to do the trick for me, however, I haven't run it through your regression suit:
[code]
(The first hunk is not strictly necessary -- it is just an optimization to avoid the xpath-search the second time.)

[2019-04-12 22:36] UnitedMarsupials commented on #55112
In addition, I'd like to propose the following micro-optimization:
[code]
The module already keeps track of changes -- a backup of the original is only necessary, if the diff is requested. Some XML-files can _large_ -- doubling the memory requirements "just in case" is not prudent...

[2019-04-12 22:59] goneri commented on #54621
I  refreshed the patch and pushed it for review: https://github.com/ansible/ansible/pull/55237

[2019-04-13 00:25] nitzmahone opened #55239 "fetch slow on large files under PSRP"
##### SUMMARY
The win_fetch `fetch a large binary file` test never seems to complete on Windows Server 2019, and memory usage on the target grows without bound (stopped after 10min and ~3G of memory usage by wsmprovhost.exe on the target).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
psrp connection plugin

##### ANSIBLE VERSION
2.8.0b1

##### CONFIGURATION
latest pypsrp

##### OS / ENVIRO

[2019-04-13 00:26] nitzmahone commented on #55239
@jborean93 just putting this here so I don't forget- we should probably give fetch_file the same treatment put_file got awhile back to increase throughput/efficiency. Pretty sure there's a Schlemiel the Painter happening in there...

[2019-04-13 00:52] kbreit opened #55242 "Improper formatting on passing arguments example"
##### SUMMARY
https://docs.ansible.com/ansible/latest/dev_guide/testing_units_modules.html

In the 'Passing Arguments' section, it has an example. However, the example appears to have some sentences in the code example which I expect should in a paragraph separate. Also, the `test_already_registrered()` function is indented which implies it's a nested function.

##### ISSUE TYPE
- Documentation Re

[2019-04-13 01:48] willthames commented on #55221
Can you add a task before that one with

[code]

I get a different response from openshift 3.6 (using openshift/origin:v3.6.1 container) so would be good to be able to reproduce your exact issue

[2019-04-13 01:57] willthames commented on #55221
Ah, reproduced it by upgrading my openshift to 0.8.7

[2019-04-13 02:30] willthames commented on #55221
So, I've got to the bottom of this but I don't know what to do about it.

Basically in the /oapi/v1 response, both generatedeploymentconfig and deploymentconfig resources are of kind DeploymentConfig. When looking for what resource to use for kind DeploymentConfig, multiple resources are returned so a `ResourceNotUniqueError` error is returned (you can see this in the stack trace you provide).

ge

[2019-04-13 02:35] willthames commented on #55221
I can confirm this issue goes away running against openshift/origin:v3.7

It may still be worth addressing in case of future API changes, I'd hope that the mappings are more consistent these days.

[2019-04-13 07:12] bluikko commented on #51611
Was kinda wishing for it to make 2.7.10 but I guess it was not to be. Anyways thank you to all!
Any idea when 2.8 should be out?

I'll try to help with the huge amount of open issues at github since I don't have time for coding anymore.

[2019-04-13 08:49] jerhone commented on #44310
@shogo2022 thanks for the suggestion. I have not checked the entire config for non-ascii chars. Do you mean that you fixed it by removing some non-ascii chars in your config?

Also, would you tell me what other module you have in mind?

Cheers!

[2019-04-13 09:10] dagwieers commented on #55112
@UnitedMarsupials Please create a PR for proposed changes.

[2019-04-13 09:45] hannseman commented on #51611
@bluikko Ansible 2.8 will be released in about a month. See the release schedule here: https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_8.html

The first beta was released earlier this week and the first release candidate will soon be available. If you can try it out please do!

[2019-04-13 12:47] msnelling commented on #54303
Setting the `ansible_python_interpreter` variable on the `openssl_csr` task does indeed work for ansible 2.7. What I don't like about this approach is that it isn't portable between my Mac laptop and Linux workstation.

[2019-04-13 13:39] loski07 commented on #54303
You can always pass an extra var to the ansible-playbook script. It will apply to all hosts

[2019-04-13 17:17] shogo2022 commented on #44310
@jerhone I updated pyFG module locally to make it work, but I didn't carry out coverage test and so I'm not going to submit PR. I'm currently using uri module to fetch config from Fortigate, which should works well even if you have non-ascii chars in FG config. Let me know how I can reach you if you need detail

[2019-04-13 17:20] felixfontein commented on #51611
@hannseman the first 2.8 beta hasn't been released yet, it will probably be released on Monday. It got delayed a bit, see here: https://groups.google.com/forum/#!topic/ansible-devel/VI2Jmd9R-tA

Usually beta versions are available via PyPi, i.e. you can install them via `pip`. There should be an announcement to ansible-devel (and maybe also to ansible-project).

[2019-04-13 17:21] felixfontein commented on #54303
@msnelling you could also install pyOpenSSL for the Python installation used by Ansible by default, then you don't have to specify `ansible_python_interpreter`. But if you install it for another Python installation than the default one, you need `ansible_python_interpreter` to tell Ansible which one to use.

[2019-04-13 17:26] felixfontein commented on #51611
@bluikko new features are not added to released Ansible versions, they always have to wait for the next release (in this case 2.8). The feature freeze for Ansible 2.8 was last Thursday (April 11), so new features added from that point on have to wait for Ansible 2.9 (which I heard it is currently planned for late 2019, there's no publicly available roadmap yet).

@hannseman let's see what's releas

[2019-04-13 17:36] sousaaguilherme commented on #45176
I'm also facing this issue:
version: ansible 2.7.9
`"module_stderr": "/usr/local/lib/python2.7/dist-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings\n  InsecureRequestWarning)\n/usr/local/lib/python2.7/dist-packag

[2019-04-13 18:17] felixfontein commented on #54303
Closing this issue since this is not a module bug.

notabug

[2019-04-13 18:22] #54303 closed, assigned to nobody

[2019-04-13 19:19] mamullen13316 opened #55248 "VMware: vmware_object_role_permission incorrectly assigns permissions on DVS object instead of folder"
##### SUMMARY
When using object_type of DistributedVirtualSwitch, the permissions are created on the DVS object.  It appears that they should be created on the parent folder instead.  The permissions are applied to the DVS correctly,  however they do not have any affect.  The group being assigned permissions does not gain the ability to manage the DVS.  Also a warning message is seen in the GUI "P

[2019-04-13 19:22] #23572 closed, assigned to nobody

[2019-04-13 19:51] jsf9k commented on #47097
Interesting...I will have to experiment with that.

[2019-04-13 19:52] mkrizek commented on #20736
Fixed in the recent versions of Ansible.

[2019-04-13 19:52] #20736 closed, assigned to mkrizek

[2019-04-13 22:01] Cediddi opened #55250 "jenkins_plugin: UnicodeDecodeError on Python3.6"
##### SUMMARY
jenkins_plugin module fails to work and throws UnicodeDecodeError on python3 node and python3 host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
My Laptop:
- Ubuntu 14.04.5
- Python 2.7 (os provided)
- Python 3.6.1 (installed via pyenv)

Configurations I tried on my laptop:
- Ans

[2019-04-13 23:47] jerhone commented on #44310
@shogo2022 thanks for the info. I will look into fetching FGT configs via that uri module and update you once done. Cheers!

[2019-04-14 01:01] Qalthos commented on #51363
!component =plugins/terminal/exos.py
!component -lib/ansible/plugins/connection/network_cli.py

[2019-04-14 02:53] jtyr commented on #55250
Thanks for reporting this issue, @Cediddi. Your fix seems to be correct. I have create PR #55253 to fix it in the upstream.

[2019-04-14 04:30] #51965 closed, assigned to nobody

[2019-04-14 06:29] #49343 closed, assigned to nobody

[2019-04-14 07:51] Abuba-369 opened #55256 "win_chocolatey failed to install packages"
##### SUMMARY

when i need to install chocolatey packages using win_chocolatey i get mentioned error below
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 2012 server
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

To install those packages
##### ACTUAL RESULTS

fatal: [192.168.1.126]: FAILED! => {"changed": false, "comm

[2019-04-14 07:57] Abuba-369 commented on #55256
can Anyone help to solve these..

[2019-04-14 09:19] hannseman commented on #51611
@felixfontein gotcha! Lets hold our thumbs for Monday then! :)

[2019-04-14 10:05] robinro commented on #54846
Thanks @tdaff for the details and understanding. This is now
wontfix

This just means we won't actively work on fixing it. If you or someone else wants to try to improve the handling of this situation, we'll be happy to help and review it.

[2019-04-14 10:12] #54846 closed, assigned to nobody

[2019-04-14 12:03] oofnikj commented on #34049
Still waiting for this feature to be implemented.

[2019-04-14 12:14] molexx commented on #52609
This causes us a problem because the security groups are already created (by something external that we can't change) without names. We can find the id from the facts but there's no way I can see to edit the group without the name.

[2019-04-14 14:07] mowgli opened #55261 "Ansible Galaxy does falsly object about "with_filetree: config""
##### SUMMARY
I use "with_filetree: config" in my exim role that I uploaded to Galaxy. Unfortunately, it complains with "E104:
Found a bare variable 'config' used in a 'with_filetree' loop. You should use the full variable syntax ('{{config}}') " what is completly wrong! That is no variable (no at all) and galaxy does not get it even if I put that in quotes or use a slash at the end.

##### ISSUE

[2019-04-14 14:19] sousaaguilherme commented on #36206
Also facing this problem with some VM's.. will there be a fix for this or only a workaround?!

Best regards

[2019-04-14 14:32] Akasurde commented on #52934
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-04-14 14:32] #52934 closed, assigned to Akasurde

[2019-04-14 15:01] Akasurde commented on #20596
resolved_by_pr #55263

[2019-04-14 15:11] Akasurde commented on #55216
@fdalrymple-hp Thanks for reporting this issue. Could you please paste the value of ``{{folder}}`` ? Thanks.

[2019-04-14 16:40] rehmatworks opened #55267 "Issue using openssl_csr module on MacOS Mojave"
On Mojave, looks like the default export format of ssh-keygen has changed and now when we attempt to use Ansible's openssl_csr module from a Macbook running Mojave, the task fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macOS Mojave version 10.14.4 running Python 3.7.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-04-14 17:02] felixfontein commented on #55267
@rehmatworks how is ssh-keygen related to openssl_csr? Are you generating the private key with ssh-keygen or with the openssl_privatekey module (as shown in your example)?

[2019-04-14 17:08] #25563 closed, assigned to Akasurde

[2019-04-14 17:26] deoren commented on #37640
I ran into a variation of this issue recently. It wasn't due to my using `sudo` to install the `docker` module, but the other way around.

For whatever reason I opted to install `docker` using pip's `--user` flag and then had the unfortunate "idea" to use the `-b` or `--become` option.

This resulted in the "obviously" installed `docker` module being unavailable to the elevated Ansible instance ru

[2019-04-14 17:27] deoren commented on #49395
I ran into a variation of this issue recently.

For whatever reason I opted to install `docker` using pip's `--user` flag and then had the unfortunate "idea" to use the `-b` or `--become` option.

This resulted in the "obviously" installed `docker` module being unavailable to the elevated Ansible instance running my playbook. Sharing in case someone has "one of those days" and stumbles across this

[2019-04-14 19:49] amadeus-chuot commented on #55221
Thanks for confirming the issue and that it works with 3.7.
Just to be sure, you talk about ResourceNotUniqueError but my stack shows a ResourceNotFoundError?

I need to deploy in production on 3.6, before the upgrade to 3.7.
Can I tweak the namespace to hide this generatedeploymentconfig? Or do you think about any other workaround?

[2019-04-14 19:56] amadeus-chuot commented on #55221
Also, since I'm finding nothing about this generatedeploymentconfig, I suppose nobody is using it and would it be possible to filter it out from the Ansible module?

[2019-04-14 20:08] WojciechowskiPiotr commented on #54988
@felixfontein what do you think? It will put an additional dependency on python libraries required for the module. The API method itself returns TAR archive so compression is made on a docker host side, not the client. I am not sure if this is something we should implement as you can achieve it using the `archive` module easily. On the other hand, I assume you can achieve the pipelining similar as

[2019-04-14 20:42] felixfontein commented on #54988
@WojciechowskiPiotr Python libs can also be included in code, i.e. the requirements would only be necessary if the specific compression option is actually used. I guess it would be a nice feature to have, though I don't really want to spent time implementing it. If someone wants to do that, I'll help reviewing (and making sure nothing existing breaks), though :)

There are some things which should

[2019-04-15 01:49] anasqureshi0811 opened #55271 "web application - playbook error"
##### SUMMARY
Was having problem executing below playbook on cent os 7 1708 Oracle VM manager:

playbook:
[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-15 02:05] yuwzho commented on #54914
+label azure

duplicate_with #52337

[2019-04-15 02:09] yuwzho commented on #52337
Thanks for all your reporting, currently we added a guide to in the docs to note the secret should be url encoded with non-ascii character. Also there is another issue to track for a code fix in `azure_rm_common.py` as well the `azure_rm.py`

[2019-04-15 02:15] yuwzho commented on #53771
resolved_by_pr #47549

will be available in [2.8](https://docs.ansible.com/ansible/devel/modules/azure_rm_subnet_module.html?highlight=azure_rm_subnet#parameters)

[2019-04-15 02:22] #53771 closed, assigned to nobody

[2019-04-15 02:56] willthames commented on #55221
This problem should really be addressed upstream in the openshift library - we don't have enough control to filter this out.

If you're seeing ResourceNotFoundError then you may need a newer version of the openshift library.

[2019-04-15 04:04] Akasurde commented on #55250
resolved_by_pr #55253

[2019-04-15 04:30] Akasurde commented on #55242
resolved_by_pr #55272

[2019-04-15 04:30] Akasurde commented on #55242
!component =docs/docsite/rst/dev_guide/testing_units_modules.rst

[2019-04-15 04:33] queglay commented on #28820
This link is not working.

[2019-04-15 04:47] boltronics commented on #28820
@queglay It looks to have been moved here:
https://salsa.debian.org/apt-team/apt/blob/master/cmdline/apt-key.in#L736

[2019-04-15 05:08] Akasurde commented on #31804
Closing as per above comment. If issue persists, please feel free to re-open.

[2019-04-15 05:08] #31804 closed, assigned to Akasurde

[2019-04-15 05:15] jborean93 commented on #55256
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-04-15 05:15] #55256 closed, assigned to nobody

[2019-04-15 05:17] mkrizek commented on #55271
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-15 05:17] #55271 closed, assigned to nobody

[2019-04-15 05:19] mkrizek commented on #27244
Fixed in https://github.com/ansible/ansible/pull/54002

[2019-04-15 05:19] #27244 closed, assigned to nobody

[2019-04-15 05:20] Akasurde commented on #32044
@jffz Could you please re-try on latest version of Ansible and latest know if problem persists ? needs_info

[2019-04-15 05:27] Akasurde commented on #35657
@machard84 Could you please let us know how you manage this using vSphere Web UI ? As @Tomorrow9 said this functionality is not available in pyvmomi SDK.

Thanks.
needs_info

[2019-04-15 05:34] Akasurde commented on #33284
@mowntan Any news ?

[2019-04-15 05:37] Akasurde commented on #40564
@Straevaras Could you please check if PR #54588 works for you and let us know ? Thanks,

needs_info

[2019-04-15 05:58] Akasurde commented on #47745
@jrvilda This can be achieved using `vmware_connection` plugin introduced via PR https://github.com/ansible/ansible/pull/55059. Please use this in conjunction with `command` module.

Thanks.

needs_info

[2019-04-15 06:00] Akasurde commented on #48010
Distributed vSwitch functionality is tracked via - https://github.com/ansible/ansible/issues/54986

[2019-04-15 06:01] Akasurde commented on #48310
@UnknownGnome Could you please confirm if #46497 works for you ? Thanks,

needs_info

[2019-04-15 06:27] Akasurde commented on #55248
@vmwjoseph @kryptsi Could you please comment on this ? Thanks.

[2019-04-15 06:39] jffz commented on #32044
I am sadly not using this module or hacking the relate environment anymore, so i cant test.

[2019-04-15 07:05] felixfontein commented on #55267
Also, the stacktrace looks like the problem is that loading the existing CSR fails for idempotence checking. Do you have an invalid `.csr` file at `csrpath`?

[2019-04-15 07:15] #55139 closed, assigned to nobody

[2019-04-15 07:37] Tomorrow9 commented on #35657
Hi machard84, don't know using this module "vmware_dvs_portgroup" to create a specific portgroup with "promiscuous" enabled, then add/change network adapter of the VM to be in that portgroup can meet your requirement. Thanks.

[2019-04-15 08:24] dpassante commented on #35566
!component -lib/ansible/modules/cloud/cloudstack/cs_configuration.py

[2019-04-15 09:11] Akasurde commented on #54823
resolved_by_pr #55282

[2019-04-15 09:15] Tomorrow9 commented on #46175
Hi @natemccallum, so there is no issue of your CentOS 7 customization anymore after Perl installed correctly? Thanks.

[2019-04-15 09:17] Akasurde commented on #47646
resolved_by_pr #55281

[2019-04-15 09:18] Akasurde commented on #47646
@aaronk1 @skarapanahalli Could you please check #55281 and let us know if it works for you ? Thanks

needs_info

[2019-04-15 09:18] nkakouros opened #55283 "[win_hostname] Use of env:computername results in failures"
##### SUMMARY

`win_hostname` uses `env:computername` to get the current hostname. But this is an upper-case, truncated version of the hostname.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows server 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the first

[2019-04-15 09:21] wioch opened #55284 "VMware: vmware_deploy_ovf - ova image invalid path"
##### SUMMARY

Hello. I'm trying to deploy ova image on ESXi using module vmware_deploy_ovf. Problem lies with 'ova' directive. Every time, no matter the path, I always get the same message:
[code]

Target system is ESXi 6.5.0 Update 2 (Build 8294253) with python 3.5.3.

So the questions are:
- is it me providing wrong path (path checks ok in separate task) ?
- or is it problem with ova image (how

[2019-04-15 09:23] angystardust commented on #44710
@carchi8py @lonico I think you can close this issue now

[2019-04-15 09:41] Akasurde commented on #55284
@wioch Thanks for reporting this issue. You are using `delegate_to` and setting its value to `localhost` so module is checking the path of OVA image in localhost rather than `esxi` hosts. You can check code here - https://github.com/ansible/ansible/blob/cb5c57bcd5d0fa0cb21ba7523baef1880e7ce24b/lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py#L180
Try again while keeping OVA image on localhost

[2019-04-15 09:50] jmnavarrol opened #55286 "ansible not deleting temporary files (in a few cases)"
##### SUMMARY
Answering to a request from @jhawkesworth at https://github.com/ansible/ansible/issues/5339#issuecomment-443414736.

This seems a re-ocurrence of #5339.  There are (at least) some cases where Ansible isn't deleting its temporary files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target is RHEL7 (don't think is of importan

[2019-04-15 09:54] jmnavarrol commented on #5339
**Done:** I'm also impacted, so I created #55286 (this is still an issue up to 2.7.0).

[2019-04-15 10:04] #55078 closed, assigned to nobody

[2019-04-15 10:14] Fred-sun commented on #54607
@b3rgman Thanks for your contribution, It is easy to copy to the problem you encountered that your parameter definition is wrong. A VM can attach more than one NIC, So if you want create VM use other resource group NIC, You  need define the network interface as a list, as follow define:
[code]

[2019-04-15 10:32] wioch commented on #55284
Ah, now I understand.
Since I already have OVA on ESXi, I did the opposite.  I changed from ```delegate_to: localhost``` to ```delegate_to: 10.3.1.190``` and run playbook again. This time it worked fine.

Thank you!

[2019-04-15 10:54] Tomorrow9 commented on #41133
It seems deploy from Windows template has the similar issue: #45834 and CentOS 7 #40564

[2019-04-15 11:29] Akasurde commented on #55284
@wioch Cool. I will marking this as resolved. Thanks for feedback.

[2019-04-15 11:29] #55284 closed, assigned to Akasurde

[2019-04-15 12:19] tomaskrizek commented on #55213
I've encountered the same issue on Fedora 29 with Python 3.7

[2019-04-15 12:25] adaroobi commented on #38133
I am posting this to hopefully help whoever comes across this issue in which have similar case as mine.
My case is a mixed string with multiple colons been used in a condition comparison using `when` which resulting an incorrect YAML syntax. eg:
[code]
Suggestions on YAML syntax gotchas does not have a valid solution to properly escape the colons. and @Akasurde suggestion emits a deprecation warni

[2019-04-15 12:30] Kaiserbald0 opened #55289 "npm fails to install global module"
##### SUMMARY

I installed nvm using ansible-playbook, when I try to install a npm module (pm2) globally, an error is thrown

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOsx 10.14.4 (Mojave) targeting Debian 9

##### STEPS TO REPRODUCE

[code]
Variables defined as below
[code]

##### EXPECTED RESUL

[2019-04-15 12:57] bjolo opened #55291 "cobbler_sync dynamic interfaces name"
##### SUMMARY
When using cobbler_system to add a system to cobbler i would like to add an interface as well. However, currently cobbler_system expects an interface name for the dict. However, given that we use unique interface names, i have no way of knowing what the name is when writing the code. For one host, the interface name might be eth0. For the next host the interface name is eno1. etc

##

[2019-04-15 12:59] Akasurde commented on #55192
@mike45379 Could you please paste example playbook which shows your usage of `guest.ipAddress` ?

For example - I am able to access all hostvars like -

[code]

needs_info

[2019-04-15 13:04] natemccallum commented on #46175
That is correct. But I also used "clone to template" in order to make the
template I use with ansible.

On Mon, Apr 15, 2019 at 5:16 AM Diane Wang <notifications@github.com> wrote:

[2019-04-15 13:34] Akasurde commented on #54964
@Kiarashz Could you please check above patch and let me know if it works you ? Thanks.

needs_info

[2019-04-15 13:35] Akasurde commented on #54964
resolved_by_pr #54969

[2019-04-15 14:18] sivel commented on #55213
This is just a warning, and should not impact the ability for ansible to operate.  However there is work being done already to address this in https://github.com/ansible/ansible/pull/54883

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-15 14:18] #55213 closed, assigned to nobody

[2019-04-15 14:21] sivel commented on #55261
Thank you for this report.  However this is a function of the ansible-lint project.  Please feel free to open an issue in:

https://github.com/ansible/ansible-lint

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-15 14:21] #55261 closed, assigned to nobody

[2019-04-15 14:27] alexntt commented on #47874
I think this issue has not reproduced since we applied the WinRM memory hotfix.

You can close this if you want.

[2019-04-15 14:31] fdalrymple-hp commented on #55216
We've actually tried explicitly calling out the value for {{ folder }} as the same folder as the template thinking maybe the module was unable to create the VM outside of where the template exists. That said, the desired value is defined as follows:

[code]

We have validated:
 - the desired substitution is coming into the task execution, "/ASP/"
 - using vCenter administrator credentials overcome

[2019-04-15 15:03] mihai-satmarean commented on #55213
Thanks!
Good to know it is being worked on, actually,even is marked a warning,  it bring my task involving vmware_deploy_ovf to a full stop. Therefore it is affecting how Ansible works. Should I try using the commit there?

[2019-04-15 15:08] sivel commented on #55213
You can try the PR referenced above.  However, that deprecation should not cause any issues.  Likely you are experiencing another issue, and are just seeing the warning as a side effect, but the warning is likely not the actual cause of the failure.

Also, as for `include_role` not supporting `delegate_to`, it was just ignored in Ansible 2.7, it didn't actually work.

As we don't monitor closed is

[2019-04-15 15:18] samdoran commented on #23031
If that is the goal, then adding a final task to flush handlers at the end of the role is the way to accomplish it. Since handlers are de-duped based on `name`, not parameters, this is the only way to have multiple instances of the same handler (which is what you get when calling multiple instances of the same role) fired during a play.

[2019-04-15 15:19] Xyon opened #55294 "win_uri fails under 2.8 with JSON error, worked under 2.7.10"
##### SUMMARY
Under 2.7.10, I was able to call out to an external resource and receive a JSON string, which could then be parsed into individual data elements for later use. Under the devel branch version as of this post, I'm not able to do that - I get an error as described here for the same ansible markup.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION

[code

[2019-04-15 15:57] sivel commented on #55143
Yes, you can still continue to use `include` for including tasks files for now. `include` for task files is not deprecated at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-15 15:57] #55143 closed, assigned to nobody

[2019-04-15 16:08] Xyon commented on #55294
Apologies, updating this - it's win_uri that I'm using.

[2019-04-15 16:12] xarses commented on #34259
Found a similar iteration of what sounds to be the same bug. I dynamically load the `ansible_become_pass` for a single host in a play, when it gets to a delegated host, it never supplies the password to it, however `-K` passes masking the problem and making it much less obvious.

[2019-04-15 16:28] abadger opened #55296 "ansible-test unicodeerror"
##### SUMMARY

UnicodeError when running anible-test

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

test/runner/lib/util.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Unsure but we can probably fix the UnicodeError by normalizing types someplace.

[code]

##### EXPECTED RESULTS

tests either pass or an error occurs in ansib

[2019-04-15 16:28] abadger commented on #55296
@mattclay

[2019-04-15 16:46] amadeus-chuot commented on #55221
Ok this is solved.

After digging into the openshift lib code, I found that search() was returning 3 objects:
[<Resource(v1/deploymentconfigs)>, <Resource(v1/generatedeploymentconfigs)>, <Resource(apps.openshift.io/v1/deploymentconfigs)>]

I managed to fix my issue by using **apiVersion: apps.openshift.io/v1** instead of **v1**

Thanks for the help

[2019-04-15 16:46] #55221 closed, assigned to nobody

[2019-04-15 17:21] sivel opened #55300 "UPDATE selectors2 from 1.1.0 to 1.1.1"
##### SUMMARY
UPDATE selectors2 from 1.1.0 to 1.1.1

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-15 17:23] sivel opened #55302 "UPDATE distro from 1.3.0 to 1.4.0"
##### SUMMARY
UPDATE distro from 1.3.0 to 1.4.0

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-15 17:24] sivel opened #55303 "UPDATE six from 1.11.0 to 1.12.0"
##### SUMMARY
UPDATE six from 1.11.0 to 1.12.0

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-15 17:30] sivel opened #55304 "Remove Deprecated configs for 2.9"
##### SUMMARY
Remove Deprecated configs for 2.9

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/config/base.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-15 17:32] sivel opened #55305 "task_queue_manager contains deprecated call to be removed in 2.9"
##### SUMMARY
task_queue_manager contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55306 "ec2 contains deprecated call to be removed in 2.9"
##### SUMMARY
ec2 contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55307 "ec2_instance contains deprecated call to be removed in 2.9"
##### SUMMARY
ec2_instance contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55308 "ec2_lc contains deprecated call to be removed in 2.9"
##### SUMMARY
ec2_lc contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55309 "stat contains deprecated call to be removed in 2.9"
##### SUMMARY
stat contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55310 "uri contains deprecated call to be removed in 2.9"
##### SUMMARY
uri contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:32] sivel opened #55311 "apt contains deprecated call to be removed in 2.9"
##### SUMMARY
apt contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55312 "gitlab_deploy_key contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_deploy_key contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55313 "gitlab_group contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_group contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55314 "gitlab_hook contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_hook contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55315 "gitlab_project contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_project contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55316 "gitlab_runner contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_runner contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55317 "gitlab_user contains deprecated call to be removed in 2.9"
##### SUMMARY
gitlab_user contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55318 "zfs contains deprecated call to be removed in 2.9"
##### SUMMARY
zfs contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55319 "template contains deprecated call to be removed in 2.9"
##### SUMMARY
template contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55320 "aci contains deprecated call to be removed in 2.9"
##### SUMMARY
aci contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55321 "iosxr_banner contains deprecated call to be removed in 2.9"
##### SUMMARY
iosxr_banner contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55322 "iosxr_interface contains deprecated call to be removed in 2.9"
##### SUMMARY
iosxr_interface contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55323 "iosxr_logging contains deprecated call to be removed in 2.9"
##### SUMMARY
iosxr_logging contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55324 "iosxr_system contains deprecated call to be removed in 2.9"
##### SUMMARY
iosxr_system contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 17:33] sivel opened #55325 "iosxr_user contains deprecated call to be removed in 2.9"
##### SUMMARY
iosxr_user contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-04-15 18:02] alonisser opened #55329 "K8s module support for creating configmap --from-file syntax"
##### SUMMARY

Currently k8s module (which is great) does not seem to support syntax for creating configmap ```--from-file``` (where file might also be a folder )
For example from metacontroller [docs](https://metacontroller.app/)
[code]
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s
##### ADDITIONAL INFORMATION

[code]

[2019-04-15 18:14] vmwjoseph commented on #55248
This is an unfortunate limitation of the product. However, trying to work around this in the module is the wrong thing to do. It would not be correct to change the parent (datacenter/network folder) permission when the DVS was specified by the user.

The best thing to do is to remove `DistributedVirtualSwitch` from the available object types.

[2019-04-15 18:21] sivel commented on #55319
!component =lib/ansible/template/__init__.py

[2019-04-15 18:38] sivel commented on #55303
Our copy of six differs slightly from upstream.  Here is the current diff for 1.11.0:

[code]

[2019-04-15 18:41] sivel commented on #55302
Our vendored copy of distro diverges slightly.  Here is the diff for 1.3.0:

[code]

[2019-04-15 18:45] sivel commented on #55300
Our vendored copy of selectors2 diverges from upstream slightly.  Here is the diff for 1.1.0:

[code]

[2019-04-15 18:56] #47874 closed, assigned to nobody

[2019-04-15 18:57] sivel commented on #51794
Our vendored copy seems to diverge slightly from upstream. Here is the diff for 3.5.0.1:

[code]

[2019-04-15 19:27] #55242 closed, assigned to Akasurde

[2019-04-15 20:16] robertbryanwilliams commented on #28517
+1 for this - getting the return values as the module describes would be very helpful

[2019-04-15 20:17] tmichett opened #55341 "[RFE] Extend ovirt_permission module for Group Permissions"
##### SUMMARY

Currently the ovirt_permission module allows user permissions to be added to items within RHV, but does not allow for adding the **group** from LDAP.

Need a way to properly add LDAP groups via Ansible

##### ISSUE TYPE
- Feature Idea

Modify the **ovirt_permission** module to have **user_group_name** which will allow an LDAP group to be specified instead of a single user.

- name:

[2019-04-15 20:28] tmichett opened #55342 "[RFE] Extend ovirt_template Module - VM Definitions"
##### SUMMARY

The **ovirt_template** module needs to be able to provide and set multiple features similar to the **ovirt_vm**.

Need to be able to set multiple pieces of information (USB Redirect, Networking/vNICS, Cloud-Init, etc.). Essentially, this is missing the rest of the features that can be specified from the RHVM UI.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ovirt_template

[2019-04-15 21:03] tmichett opened #55344 "[RFE] Extend ovirt_pool Module - VM Definitions"
##### SUMMARY

The ovirt_pool module needs to be able to provide and set multiple features similar to the ovirt_vm.

Need to be able to set multiple pieces of information (USB Redirect, Networking/vNICS, Cloud-Init, etc.). Essentially, this is missing the rest of the features that can be specified from the RHVM UI.

##### ISSUE TYPE
- Feature Idea
Extend the **ovirt_pool** module to support VM fea

[2019-04-15 21:05] richlv opened #55345 "zabbix_screen: documentation issues"
##### SUMMARY
See https://docs.ansible.com/ansible/latest/modules/zabbix_screen_module.html .

There seem to be a few issues here that would need help from somebody familiar with this module, otherwise I'd have submitted a pull request.
Some of these might turn out to be bugs in the module itself, too (like the `host_group` issue below).

- [ ] The tagline is "This module allows you to create, mod

[2019-04-15 21:14] wmcbroomd2d opened #55346 "ec2_launch_template Miss spelling in documentation for ebs suboption delete_on_termination"
##### SUMMARY
The ec2_launch_template module has a typo in the documentation section `block_device_mappings`->`ebs`->`delete_on_termintation` option on the following line:
https://github.com/ansible/ansible/blob/04cae4134fe7be44ab7eb7eb6cf64b0fa087a7d1/lib/ansible/modules/cloud/amazon/ec2_launch_template.py#L76

It should be:
`delete_on_termination`

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-04-15 21:29] jthompson333 opened #55348 "XAPI ERRORs when force deleting vms in ansible with wait_for_ip_address set to yes"
##### SUMMARY
If setting wait_for_ip_address to yes, it appears you get XAPI errors when force deleting vms on xenserver, however, the machines do delete, but, the ansible task reports as failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`/lib/ansible/modules/cloud/xenserver/xenserver_guest.py`

##### ANSIBLE VERSION

ansible 2.8.0a1.post0
  config file = None
  configured module search

[2019-04-15 21:33] jthompson333 commented on #55348
Opened issue as requested... @bvitnik

[2019-04-15 22:01] #53635 closed, assigned to samdoran

[2019-04-15 22:01] #49947 closed, assigned to samdoran

[2019-04-15 22:31] 00willo commented on #36395
Same, needing to pull a dependant role from a private gitlab server during a CI run, using that runner's CI token for that job.  So I really need this to be injected from the environment variables.

Username and password would in now way be suitable for my use case, but it may suit others.

[2019-04-15 22:41] RomanHargrave opened #55349 "XML Module: set_children cannot accept namespaced elements"
##### SUMMARY

When using `set_children` with `input_type: xml`, one cannot provide XML fragments
containing namespaces - e.g.

[code]
When the XML fragment [is parsed](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/xml.py#L706), the parser complains that the namespace is not defined. ~~I have tried including adding an `xmlns` attribute to the child, to no avail.~~ *This w

[2019-04-15 22:46] melezhik opened #55350 "Azure_rm_storageblob - Share key authorization support"
##### SUMMARY
Share key authorization support, see https://docs.microsoft.com/en-us/azure/storage/common/storage-auth , Shared Key authorization.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`azure_rm_storageblob`  module

##### ADDITIONAL INFORMATION
 Need to accept `access_key` parameter which is the value of shared authorization key

[code]

[2019-04-15 22:49] retr0h commented on #42666
You need a fully qualified path.  Relative paths for some reason don't seem to work.

[2019-04-15 22:54] reiser commented on #4638
wonderfull hack thank you :-)

[2019-04-15 23:34] ralphie02 commented on #53448
@Akasurde Btw, I installed Alpine 3.7 with Compatibility for `ESXi 6.5 and later` and it seems to still not working. The only thing I haven't really tried out is the devel version of Ansible.
Are you using `ansible-devel` or `2.7`?

[2019-04-15 23:51] mike45379 commented on #55192
When I address the hostvars as listed above by Akasurde, they work.  You can close this bug report, it's user error.

[2019-04-15 23:51] #55192 closed, assigned to Akasurde

[2019-04-16 02:55] jborean93 commented on #54784
@dagwieers do you happen to use `test_command` on your `win_reboot` task? I just came across a bug where certain commands set by `test_command` over psrp would not validate the return code and just continue on. This would cause issues if the host was still being reboot and things weren't fully settled.

[2019-04-16 03:17] Kiarashz commented on #54964
Thanks @Akasurde , the patch is working but have to update my playbook to use bool(extended=True).

[2019-04-16 03:46] spookiej commented on #54727
I have also run into this issue

[2019-04-16 04:07] yungezz commented on #55047
a quick workaround is to set sbuscripiton_id by environemtn variable  or file, not to module parameter. detail pls see https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#using-environment-variables, https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#storing-in-a-file

[2019-04-16 04:12] felixfontein commented on #14711
bot_status

[2019-04-16 04:52] ssunka commented on #52598
Ignoring warnings in ansible playbook helped me to remove these messages
vi /usr/local/bin/ansible-playbook
Add
---

#Removing warnings for ansible
import warnings
warnings.filterwarnings(action='ignore',module='.*paramiko.*')

[2019-04-16 04:54] Akasurde commented on #55296
resolved_by_pr #55328

[2019-04-16 04:56] #55296 closed, assigned to nobody

[2019-04-16 06:02] Fred-sun commented on #55350
@melezhik Thanks for your reporting!
@zikalino Could you help take a look this issue when you're available? It's a new feature for azure_rm_storageblob. Thanks!

[2019-04-16 06:05] Fred-sun commented on #52068
@just-dimitarslavkov Are you still here? Could you can give more info according by the comments? Thanks!

[2019-04-16 06:19] Fred-sun commented on #51751
@JohnnyRacket Thanks for your try, Could you help share your test result? Thanks!

[2019-04-16 06:40] Fred-sun commented on #44806
fixes by #45095

[2019-04-16 06:43] Fred-sun commented on #43416
@zikalino

[2019-04-16 06:44] Fred-sun commented on #41003
@zikalino Could we can closed this? Thanks!

[2019-04-16 06:55] mihai-satmarean commented on #42666
Hi, this sounds interesting, I was just about to write the same Feature request. What is the state? I can test if needed. Thanks!

[2019-04-16 07:00] s-hamann opened #55365 "portage module: inconsistent behaviour with present packages"
##### SUMMARY
The `portage` module shows inconsistent behaviour when dealing with already present packages. I stumbled over two issues that seem closely related.

First: When all specified packages are already present on the system, the `portage` module does not reinstall them. This is usually what a user would expect.
However, if the list contains a single (additional) package, that is not yet in

[2019-04-16 07:08] Akasurde commented on #54964
@Kiarashz Yes, the flag `extened` is added in order to maintain backward compatibility.

[2019-04-16 07:29] LostInTheWoods commented on #39657
This may have been environmental, but things have moved on and I was recently able to do an upgrade of Tower with no issues on this VM.

[2019-04-16 07:29] #39657 closed, assigned to nobody

[2019-04-16 08:11] acoilier commented on #42334
Thank you it's good for me too...

[2019-04-16 08:34] Xyon commented on #55294
I ran the module as-was before 501acae5abaa81ed29670a26b367c54ebe611d53, and the playbook code worked. I'm not very familiar with the underlying Windows-y bits here, to speculate on why that commit (line 256) causes the issue

[2019-04-16 08:45] vicmunoz opened #55370 "module na_ontap_interface doesn't check vserver when getting interface details"
##### SUMMARY
Module na_ontap_interface doesn't check vserver that owns the interface

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_interface

##### ANSIBLE VERSION
ansible 2.7.10
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/

[2019-04-16 08:52] landerhm opened #55372 "Separate Hard Disk guest"
SUMMARY
I need separate hard disk information in number of hard disk and his inforamtion. For example, i have 2 disk and only need 1 disk information.

**My YAML is:**
---
- hosts: host1
  gather_facts: false
  connection: local

tasks:
    - name: Gather disk facts from virtual machine using name
      vmware_guest_disk_facts:
        hostname: "{{ hostname }}"
        username: "{{ username }}"

[2019-04-16 09:02] landerhm opened #55374 "can't create a category tag"
SUMMARY
I try to create a category in vsphere but have a giant error

**this is mi YAML:**
---
- hosts: host1
  gather_facts: false
  connection: local

  tasks:
    - name: create category
      vmware_category:
        hostname: '{{ hostname }}'
        username: '{{ username }}'
        password: '{{ password }}'
        validate_certs: no
        category_name: Sample_Cat_0001
        category

[2019-04-16 09:11] mkrizek commented on #55374
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-16 09:11] #55374 closed, assigned to nobody

[2019-04-16 09:11] mkrizek commented on #55372
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-16 09:11] #55372 closed, assigned to nobody

[2019-04-16 09:30] vicmunoz commented on #55370
Adding below code just after https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/storage/netapp/na_ontap_interface.py#L203 works and fix the issue

`        interface_attributes.add_new_child('vserver', vserver)
`

However, I suspect your would like to add some testing also...

[2019-04-16 10:15] Rylon commented on #45850
Hi @NetForce1 I'm not sure about the lookup plugin, but I can say that the 1Password Facts module does support retrieving named fields from the `details` object, as well as retrieving attached documents, maybe this will help you?

https://docs.ansible.com/ansible/latest/modules/onepassword_facts_module.html

[2019-04-16 10:20] Rylon commented on #45849
Hi again @NetForce1 the 1Password Facts module does fail fast if it can't find the requested combination of item, field name or document, hope that helps!

https://docs.ansible.com/ansible/latest/modules/onepassword_facts_module.html

[2019-04-16 11:16] rehmatworks commented on #55267
@felixfontein I mentioned ssh-keygen as in Mojave, now when we create the SSH keypairs, the exported key is not in RSA. And now if I run Ansible from a MacBook running Mojave, I can't get the openssl_csr module working. I am not an expert in crypto technologies so I cannot provide any in-depth information. If you or any other Ansible contributor use a Mac machine running Mojave and attempt to use

[2019-04-16 11:55] nmiletic commented on #12710
I too want parts of my role to show "ok" when they are skipped (because I know they are OK), rather than showing "skipped".

+1 to reopen this.

[2019-04-16 12:18] dagwieers commented on #55320
resolved_by_pr #55207

[2019-04-16 12:28] teadur commented on #24425
+1

[2019-04-16 12:53] WojciechowskiPiotr commented on #54988
Can you point to that feature request?

[2019-04-16 12:58] #55320 closed, assigned to nobody

[2019-04-16 13:30] numas commented on #29285
Same issue with Ansible 2.7.10

As @louwrentius noted, it looks like the code just set the result to "changed" no matter what:

[code]
Just because the connection exists, it does not mean the connection needs to be modified. How to check for differences in connection options though..?

[2019-04-16 14:09] gandhiano opened #55380 "k8s module failure with openshift==0.8.7"
##### SUMMARY

Using the k8s module to manage resources fails with python openshift 0.8.7 (works properly with 0.8.6).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7, Openshift 3.11

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A namespace should be created, changed, or left a

[2019-04-16 14:14] orodbhen commented on #50377
I'm seeing this same behavior on CentOS 7, except I'm setting it to `0`. The playbook completed sucessfully, but `sysctl -a | grep ipv4` shows `net.ipv4.ip_forward=1`.

[code]

Rebooting the system doesn't change this, but running `sysctl -p` manually does. What exactly is `reload` supposed to do?

[2019-04-16 14:17] sivel commented on #55348
!component =lib/ansible/modules/cloud/xenserver/xenserver_guest.py

[2019-04-16 14:20] mikewiebe opened #55381 "Many NXOS Modules fail with 'msg": "ncclient is not installed' for local connection plugin"
##### SUMMARY
Many of our NX-OS integration tests started to fail on 4/12/2019 with the following message:

`"msg": "ncclient is not installed"`

We have also seen the problem in `stable-2.7`

NOTE: If we checkout a version of `devel` on 4/7/2019 we don't see the problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos

##### ANSIBLE VERSION

[code]

[2019-04-16 14:21] sivel commented on #55302
!component =lib/ansible/module_utils/distro

[2019-04-16 14:21] sivel commented on #55303
!component =lib/ansible/module_utils/six

[2019-04-16 14:45] dagwieers commented on #54784
I was not using `test_command`, and I cannot remember whether the previous occurrences were related to what I was doing in this case. The fact it's not easily reproduced should remind me to record the details every time :-/

In this case the script removes a printer, a printerport and a printerdriver, then reboots, and then repeats removing printer, printerport and printerdriver. (basically I foun

[2019-04-16 14:45] rulev opened #55382 "Extend ovirt_vm module to be able to clone VM from snapshot"
##### SUMMARY
Extend ovirt_vm module to be able to clone VM from existing snapshot of another VM.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ovirt_vm module

##### ADDITIONAL INFORMATION
There is no ability to clone VM's snapshot in any of existing ovirt modules. That is why I propose to modify existing ovirt_vm module to add such a function. I believe this function will be useful for

[2019-04-16 14:47] trishnaguha commented on #55381
Turned out this is happening only for `local` connection plugin when the PR https://github.com/ansible/ansible/pull/54860 got merged. Commit sha https://github.com/ansible/ansible/commit/6579dfda1717cda64bdb2a6de31f0b8ec7841471

[2019-04-16 14:54] RomanHargrave commented on #55349
According to [the lxml API documentation](https://lxml.de/api/lxml.etree.XMLParser-class.html) `etree.XMLParser` _does_ support passing a schema to validate against, but not multiple schemas.

Without further reading, I would suggest a very slightly different approach to parsing children.

Presently, the contents of `set_children` are passed directly in to `child_to_element` via `children_to_nodes

[2019-04-16 15:11] orodbhen commented on #50377
Actually, it appears to be an OS issue. Rebooting overwrites the setting. So something else on the system is forcing it to be set to `1`. The playbook successfully updates the value.

[2019-04-16 15:30] Kaiserbald0 commented on #55289
I succeeded by installing node globally using a role, then installing PM2 as global, the difference is that I was installing node only via  NVM.

[2019-04-16 15:34] bcoca commented on #55381
@trishnaguha not `local` related, but `persistent`

What tests are failing specifically?

needs_info

[2019-04-16 15:42] #55311 closed, assigned to mkrizek

[2019-04-16 15:45] #55346 closed, assigned to nobody

[2019-04-16 15:56] fabianvf commented on #55221
@amadeus-chuot thanks a ton for your additional investigation! I'll create a follow-up issue to surface these errors a little better, you shouldn't have to dig around manually to find that information.

[2019-04-16 15:59] felixfontein commented on #54988
It's #43008

[2019-04-16 16:03] molexx opened #55385 "aws_ec2 inventory plugin configuration to read values from (encrypted) vars"
##### SUMMARY

The plugin configuration includes `aws_secret_access_key`, its value must be provided in plaintext and cannot be different per environment. You cannot provide a !vault encrypted value nor can you reference a variable passed on the commandline.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_ec2.py
##### ADDITIONAL INFORMATION

Our build accesses AWS using an environment-s

[2019-04-16 16:05] bcoca commented on #55385
you can vault the entire file

[2019-04-16 16:19] dpassante opened #55386 "cs_loadbalancer_rule tests don't cleanup network and instance"
##### SUMMARY
`cs_loadbalancer_rule` unit tests do not cleanup properly.

On some conditions, integration tests will fail with error below.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cs_loadbalancer_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2019-04-16 16:30] drawks commented on #48722
@rdtechie's analysis is spot on, the `luseradd` command provided by libuser on every platform I've check has no support for non-primary groups

[2019-04-16 16:36] molexx commented on #55385
Didn't know that, thanks, could be a workaround. How could we use a different file per environment?

[2019-04-16 16:36] abadger commented on #52640
@jborean93 Just making sure that you are going to have a PR to "fix" this?  It looks like upstream isn't going to fix this interface that they broke and we've decided that we're going to just warn people when this problem occurs?

[2019-04-16 16:37] #42949 closed, assigned to nobody

[2019-04-16 16:54] fabianvf opened #55388 "[k8s] Surface resource discovery errors properly"
##### SUMMARY

Follow up on #55221

When we aren't able to find a specific resource, we fail cryptically. We should report the results of our search in our failure message so that users don't need to dig around in the python code manually.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s
##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Fails, with a me

[2019-04-16 17:03] pgauret commented on #54659
Still stuck on this. Attaching the end of a debug trace showing where I think ```ansible-playbook``` gets stuck. Not sure of what it is trying to do and why it somehow fails though.

https://gist.github.com/pgauret/9acb8574a9e4ac2751df33dfbf35d212

[2019-04-16 17:53] fabianvf commented on #55380
Can confirm on Fedora 27, Kubernetes 1.12. Looking at fixing this ASAP.

[2019-04-16 17:53] ac-hibbert opened #55392 "Writing inventory plugin"
##### SUMMARY

Looking to write an inventory plugin. I've read the docs - https://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#developing-inventory. But these don't specify where to place your python file

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITION

[2019-04-16 18:00] evandam opened #55393 "ansible_facts undefined in environment section of playbook"
##### SUMMARY

ansible_facts are undefined when referenced in the `environment` section of a playbook. This works with Ansible 2.6 but fails in Ansible 2.7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5

##### STEPS TO REPRODUCE

Set an environment variable in a playbook based on a fact.

[c

[2019-04-16 18:36] sgreiner commented on #54259
I get the same error message. Maybe the module can't handle the situation, when there are multiple (more than one) loadbalancers/proxies defined in one vHost.

Simple Example: Pseudo Apache Config:
[code]

In this situation the module returns a "member" in the response json - BUT it only returns the one it finds last: (here in this example it should report 192.168.1.50 two times, but only the "sec

[2019-04-16 18:55] fabianvf commented on #55380
Ah ok, so the issue here is that the internal data structure changed from version 0.8.6 to 0.8.7, but we didn't invalidate the old cache, so when we loaded it and started searching for resources, we failed to find them. As a temporary fix, you can rm `${TMPDIR}/osrcp-*.json`, which will remove the old broken cache. I'll get proper detection of out of date cache files in today.

[2019-04-16 19:10] #55319 closed, assigned to sivel

[2019-04-16 19:17] #55310 closed, assigned to sivel

[2019-04-16 19:21] sivel commented on #55313
The issue here is that the version passed to `module.deprecate` is the float value `2.10` and not a string `"2.10"`.

As such, the float is converted to `2.1`

[2019-04-16 19:21] sivel commented on #55314
The issue here is that the version passed to `module.deprecate` is the float value `2.10` and not a string `"2.10"`.

As such, the float is converted to `2.1`

[2019-04-16 19:22] sivel commented on #55315
The issue here is that the version passed to `module.deprecate` is the float value `2.10` and not a string `"2.10"`.

As such, the float is converted to `2.1`

[2019-04-16 19:22] sivel commented on #55316
The issue here is that the version passed to `module.deprecate` is the float value `2.10` and not a string `"2.10"`.

As such, the float is converted to `2.1`

[2019-04-16 19:22] sivel commented on #55317
The issue here is that the version passed to `module.deprecate` is the float value `2.10` and not a string `"2.10"`.

As such, the float is converted to `2.1`

[2019-04-16 19:40] #55312 closed, assigned to sivel

[2019-04-16 19:40] #55313 closed, assigned to sivel

[2019-04-16 19:40] #55314 closed, assigned to sivel

[2019-04-16 19:40] #55315 closed, assigned to sivel

[2019-04-16 19:40] #55316 closed, assigned to sivel

[2019-04-16 19:40] #55317 closed, assigned to sivel

[2019-04-16 19:50] sivel commented on #55393
I believe this is a duplicate of https://github.com/ansible/ansible/pull/53978

[2019-04-16 20:53] tterranigma commented on #55153
I missed your reply. Here is the output with `-vvvv`:

[code]

There should be a warning that the next hop I am using is a non-existent instance. That warning I guess is passed as a dict to `module_utils/basic.py` and triggers the error.

[2019-04-16 21:03] mtnbikenc opened #55400 "ansible_facts failure - 'NoneType' object has no attribute 'startswith'"
##### SUMMARY

Using Ansible 2.7.10
When running a custom module which uses `ansible_facts(module)`, the module fails with `"module_stderr": "AttributeError(\"'NoneType' object has no attribute 'startswith'\"`.

Failure ispresent with this commit.  Prior to this commit there is not an issue.
https://github.com/ansible/ansible/pull/53798/files#diff-b2db09772e4a22e4ab5b8de4c3b6d11eR235
This is a bac

[2019-04-16 21:08] sivel commented on #55400
cc @samdoran

[2019-04-16 21:09] sivel commented on #55400
!component =lib/ansible/module_utils/facts/hardware/linux.py

[2019-04-16 21:16] samdoran commented on #48722
Can you please test with #55401 and see if this fixes the issue? Thank you.

[2019-04-16 22:07] cjamison commented on #31383
I see this issue has been closed. I have tried various iterations to use a prefix list id but nothing I have tried works. What is the syntax to use a prefix list in a rule? Is it documented anywhere?

[2019-04-16 22:19] #55239 closed, assigned to nobody

[2019-04-16 22:31] AndrewDoesNotCompute opened #55408 "hashi_vault flexibility"
##### SUMMARY

The ability to specify different servers and/or tokens more efficiently for the `hashi_vault` lookup plugin, either through using variable interpolation or defining variables in inventory.

Currently, `hashi_vault` is very inflexible. In my environment, I cannot guarantee a single Vault server will be used. This leads to the issue of having to specify servers (verbose) and secrets (

[2019-04-16 22:38] jborean93 commented on #54784
Darn well it was worth a shot. If you do find out more details or can replicate it again it would be great to find out more.

[2019-04-16 22:45] dagwieers commented on #54784
Could it still be related even if not `test_command` was used ?
I.e. using the *default* `test_command` ?

[2019-04-16 22:53] WojciechowskiPiotr commented on #54988
I will take a look for both over the weekend and see how it can be addressed for 2.9. Moving the import/export to another module might be good for reducing the complexity of the `docker_image1 module which already is problematic.

[2019-04-16 23:04] ab77 opened #55415 "WinRM: Unexpected failure during module execution or winrm send_input failed"
None of the existing bug reports seem to offer any more insight, so I am adding my investigation here.

Latest release also affected, however different error message is reported.

##### SUMMARY
WinRM is working as expected against remote hosts, but Windows Ansible controller running in Cygwin fails to win_ping or playbook/setup itself. WinRM is working locally.

##### ISSUE TYPE
- Bug Report

####

[2019-04-16 23:10] jborean93 commented on #54784
@dagwieers for this case I doubt it. `whoami` is a simple command and there's not many reasons for it to return a non 0 rc. In any case the fix is in place so it should help in other situations.

[2019-04-16 23:26] ab77 commented on #55415
For reference, `cygwin` is installed via Chocolatey package manager:

[code]

Additional Cygwin packages are installed using the following PowerShell script:

[code]

Finally Ansible is installed using `install-ansible.bsh`:

[code]

[2019-04-16 23:44] abadger opened #55418 "Changes to the unsafe marking"
##### SUMMARY
If I'm reading https://github.com/ansible/ansible/pull/55398 correctly, it solves the auto-interpreter not marking the returned information as Unsafe and also marks all facts as unsafe outside of the action plugins.  If that's true, then there's two changes that seem like they should be made:

* The changelog needs to specify that this fixes an insecurity in autointerpreter that was

[2019-04-16 23:46] jborean93 commented on #55415
Cygwin is not a supported platform to run Ansible from, can you replicate this issue on a VM, or even WSL?

[2019-04-17 00:23] flowerysong commented on #55408
...you can use variables with any lookup, it doesn't require special support. In this case you'd build the string that the lookup expects using concatenation:

[code]

[2019-04-17 00:25] flowerysong commented on #55392
https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html

[2019-04-17 02:39] hiyokotaisa opened #55419 "RFE: add frontend parameter to haproxy module"
##### SUMMARY

In the current release of haproxy module, we cannot specify the `frontend` parameter for haproxy. It would be great if we can specify that parameter in the playbook.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- haproxy

[2019-04-17 03:03] Fred-sun commented on #39977
@christopherkeller Are you still here? Does this approach meet your needs? Defining Image as a string is a special requirement. It is not necessarily accepted by Ansible. Thanks!

[2019-04-17 03:12] Fred-sun commented on #51062
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-04-17 03:15] #54869 closed, assigned to goneri

[2019-04-17 03:52] felixfontein commented on #54988
The good thing is, we have a lot of time until 2.9 ;-) For the current state, moving export/import to another module probably won't make the module much simpler, and some features (such as compression) won't make it much worse, but adding support for exporting multiple images at once, and importing images without knowing their names beforehand, will definitely not fit into `docker_image` without m

[2019-04-17 04:16] bmalynovytch commented on #42693
!component -lib/ansible/modules/database/mssql/mssql_db.py

[2019-04-17 04:18] bmalynovytch commented on #43424
!component +lib/ansible/modules/database/mysql/mysql_db.py
!component +lib/ansible/modules/database/mysql/mysql_user.py

[2019-04-17 04:54] tripleee commented on #28820
Disabling the warning is just a band aid. The reason it warns for this is very clear. You should be doing whatever Debian now recommends instead.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-17 05:07] Akasurde commented on #55392
!component =docs/docsite/rst/dev_guide/developing_inventory.rst

[2019-04-17 05:26] trishnaguha commented on #55381
There appears to be a bug in netconf plugin instead of here in the persistent plugin.

[2019-04-17 06:56] Tomorrow9 commented on #46175
@natemccallum, so you mean "convert the VM to template", the configurations and installed apps in the OS are not in the converted template, but "clone to template", the cloned VM contains the changes? All these operations you did from the web client manually?

[2019-04-17 06:57] Tomorrow9 commented on #35657
@machard84

[2019-04-17 07:19] ramki1974 commented on #49353
Hi,
I tried using win_lineinfile function to replace a string in windows host through Ansible playbook. In the windows machine, the path and file exists. but I am getting the error as path does not exist. the path format is also properly mentioned.
Using module file /usr/lib/python2.7/site-packages/ansible/modules/windows/win_lineinfile.ps1
<windows ip> ESTABLISH WINRM CONNECTION FOR USER: DBAdmin

[2019-04-17 07:33] r1k0 commented on #55392
put it in the folder defined by inventory_plugins in your ansible.cfg, in my case it's plugins/inventory of the repo (all ansible is in one repo)

[code]

[2019-04-17 07:55] vkuehn commented on #43640
not sure if that is the right place but I would like to mention that ansible must do something different than just a git pull/fetch.. after that code run git pull on the console does not work anymore....

`- hosts: local
  vars:
     ansible_python_interpreter: "/usr/bin/env python3"

   tasks:
   - name: find git directories
     find:
       paths: "{{ ansible_env.HOME }}/git"
       file_type:

[2019-04-17 09:44] ryarnyah opened #55430 "k8s module has concurency on __cache_file"
##### SUMMARY
When multiple process deploy on the same server using k8s module at the same time, they try to write the same __cache_file in openshift dynamic client.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE
Use in parrallel module k8s on the same node when

[2019-04-17 10:14] christopherkeller commented on #39977
The issue was more to match the behavior already provided by Ansible against other cloud providers, specifically AWS. To handle either within Ansible or within the user playbook via some code is acceptable, but it should be consistent, right now it's not.

[2019-04-17 11:22] natemccallum commented on #46175
Correct. And yes all done manually to have the template I would call from
within the ansible playbook.

On Wed, Apr 17, 2019 at 2:59 AM Diane Wang <notifications@github.com> wrote:

[2019-04-17 11:30] nmiletic opened #55432 "openvswitch_db: string key values causing not idempotent commands"
##### SUMMARY
string key values causing not idempotent commands.
Double quotes are not stripped in map_config_to_obj leading to wrong key value in 'have'.

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openvswitch_db

##### ANSIBLE VERSION
ansible 2.9.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/nmiletic/.ansible/plugins/modules',

[2019-04-17 11:37] ferfemar commented on #49044
Same issue here, got around it by installing pysnmp version 4.4.1. With 4.4.9 it was throwing the 'no more variables' error.

Ansible 2.7.10, python version = 2.7.15rc1, Ubuntu 18.04

[2019-04-17 11:40] nirtal commented on #49842
Had the same issue using ansible 2.7.8. But was able to do a workaround by setting ansible_python_interpreter to python3 instead of python2

[2019-04-17 12:21] fl0gu commented on #52937
@xuxiaowei0512
I've just just tested your bug fix #54750 but it doesn't seems to change anything regarding this specific issue.
Trace: https://gist.github.com/fl0gu/4f74bf782a760ebd952168185e54d767

[2019-04-17 12:54] mikewiebe commented on #55381
@bcoca

Many of the nxos integration tests are failing, but here are a few to choose from.

* https://github.com/ansible/ansible/tree/devel/test/integration/targets/nxos_acl
* https://github.com/ansible/ansible/tree/devel/test/integration/targets/nxos_become

[2019-04-17 12:58] selivan opened #55439 "zabbix_template: incorrect export and import of non-ACSII strings in template [bug]"
##### SUMMARY

When Zabbix template is saved using `state=dump` of module zabbix_template, all non-ASCII strings become encoded like this: `"\u0422\u0435\u0441\u0442"`(this is Russian string "Тест"). On importing this template using `state=present`, trigger name presented by this string becomes `"\u0422\u0435\u0441\u0442"` instead of "Тест".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zab

[2019-04-17 13:04] xuxiaowei0512 commented on #52937
Thank you for your attention.
The code is being merged, this is not the final.We are working hard.
We will complete all code merged and integration as soon as possible.
Thanks again！

[2019-04-17 13:10] tikismoke commented on #19731
This i show i solved this issue:
[code]

Not sure how to do best

[2019-04-17 13:21] ab77 commented on #55415
Understood. I can now see there is a specific mention of this in docs for v2.3: https://docs.ansible.com/ansible/2.3/intro_windows.html#reminder-you-must-have-a-linux-control-machine

While the latest docs don't specifically mention Cygwin, they do mention Windows not being supported for the control machine:
https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#control

[2019-04-17 13:21] #55415 closed, assigned to nobody

[2019-04-17 13:32] fl0gu commented on #52937
Good to know ! Thanks for your work ! If you need some tester, don't hesitate ;)

[2019-04-17 13:32] boweeb commented on #25145
I think what's expected depends on the user's background.  I would assert that this behavior is _exactly_ what a Linux systems engineer (or anyone "ops" side) would expect (especially if coming from a world of bash scripting).  `tempfile` as implied by the module description is a wrapper around `mktemp` which "generates a unique temporary filename", returns it, touches the file (in most cases), an

[2019-04-17 13:59] trishnaguha commented on #55381
resolved_by_pr https://github.com/ansible/ansible/pull/55384

[2019-04-17 14:02] ric79 opened #55443 "openstack os_server_facts + OS-EXT-SRV-ATTR"
When calling public endpoint with admin credentials I get OS-EXT-SRV-ATTR partially shadowed with asterisks:
[code]
With <b>same</b> admin credential using rest API or python openstack skd I get the full name
[code]

Ansible 2.6.4

##### SUMMARY

I need OS-EXT-SRV-ATTR without ****

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2019-04-17 14:07] granddesigntech commented on #25145
On Wed, 17 Apr 2019 at 23:34, Jesse Butcher <notifications@github.com>
wrote:

I would suggest that both generating the unique file name AND touching the
file breaks the “do one thing well” Unix philosophy already. Since I
suspect the touching of the file was simply a nicety to save having to
generate a unique name AND use it to create the file I would double-down on
that assessment.

Aside from t

[2019-04-17 14:09] granddesigntech commented on #25145
I see from your link that mktemp’s doco is far more accurate in its
description of the behaviour than the tempfile module:

    “mktemp - make a unique temporary *filename”*

On Thu, 18 Apr 2019 at 00:06, Tony Hill <antony.hill@granddesigntech.com>
wrote:

[2019-04-17 14:25] goagex opened #55445 "enos_config ssh timeout"
##### SUMMARY
Using module enos_config gives timeout

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
enos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9
Running module enos_config against the following switch:
IBM Networking Operating System RackSwitch G8052
Software Version 7.8.1 (FLASH image2), active configuration.

##### STEPS TO REPRO

[2019-04-17 14:34] mtnbikenc commented on #55400
Added reproducer and failure output.  After looking further, it appears there are other issues with using `collected_facts.get('ansible_*')` in the Ansible fact gathering code.  In the error output above there is `KeyError('ansible_os_family',)` and the example module doesn't reference `ansible_os_family`.

[2019-04-17 14:56] rephlekt opened #55447 "cisco ios-xe platform shell request times out"
##### SUMMARY

  Receive a timeout when trying to use command 'request platform software system shell' with command-prompt-answer syntax on Cisco IOS-XE device.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Localhost: CentOS 7, Linux 3.10
Remote Host: Cisco IOS-XE 15.1(3)S2 or 3.4.2S, Linux 2.6.

[2019-04-17 15:12] wmcbroomd2d commented on #53680
@hibbert I'm getting the same error. I looked at the PR @mdaniel made and it adds some logic to not include a tags section for `network-interface` unless a `network_interfaces` is included in the launch template. But this solution doesn't work either.  I've tried adding a `network_interfaces` with a `network_interface_id` and without one and neither way works. I think the issue is that you are not

[2019-04-17 15:15] tylerauerbeck opened #55448 "k8s_facts unable to use field_selectors to retrieve status.phase (per example)"
##### SUMMARY

When trying to retrieve the state of a pod with the following (from the example page: https://docs.ansible.com/ansible/latest/modules/k8s_facts_module.html#k8s-facts-module) I receive an error stating that I am unable to use this field selector.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2019-04-17 15:27] kbreit opened #55450 "New module - meraki_mx_l7_firewall"
##### SUMMARY
Meraki recently added support for listing and manipulating layer 7 firewall rules via API. A new module should be created to support these endpoints.

https://dashboard.meraki.com/api_docs#mx-l7-firewall

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-04-17 15:28] kbreit opened #55453 "[WIP] New module - meraki_malware"
##### SUMMARY
Meraki recently added support for configuring anti-malware settings via the API. A module should be created to support these endpoints.

https://dashboard.meraki.com/api_docs#malware-settings

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-04-17 15:39] fabianvf commented on #55448
It seems to be struggling with the spaces around the `=` sign, try `status.phase=Running` (matching the oc command).

[2019-04-17 15:40] wshamim1 opened #55454 "Ansible Vault"
Hi Team,

I am using ansible vault to encrypt an string and place the string in a file called vault.yml
somthing like
name1: value1 where value1 is an encrypted string.

dbUser: PlainUser
dbPasswd: vault |
      $ANSIBLE_VAULT;1.1;AES256     63633363616165656538656537323835343634633063386137353637646663333939623464666437     6263383933656635316436313934366564316337623435350a38636261383837336339353

[2019-04-17 16:03] mkrizek commented on #55454
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-17 16:03] #55454 closed, assigned to nobody

[2019-04-17 16:10] kbreit commented on #51405
Current thought is to implement this using the new `description` field for the `request()` method. A new key would be added per description. `description` parameter is available in https://github.com/ansible/ansible/pull/51348

[2019-04-17 16:20] jhawkesworth commented on #49353
@ramki1974 closed issues are not usually monitored, so its best to ask questions like yours on the ansible-project google group or in #ansible irc channel.
Looking at your playbook the issue is due to the way you have expressed the path to the file you want to manipulate.  Please read https://docs.ansible.com/ansible/latest/user_guide/windows_usage.html#path-formatting-for-windows so that you can

[2019-04-17 16:26] sivel commented on #51794
For reference, our vendored copy of backports.ssl_match_hostname actually seems to have been 3.4.0.2

[2019-04-17 16:45] samdoran commented on #55400
I am able to duplicate this and see why this is happening. When calling `ansible_facts()` directly, the variables never get a facts name space applied. You end up with a dictionary without the `ansible_` prefix on all the keys. That is why changing it to `architecture` "fixes" it.

I need to do some further research to see how to solve this.

[2019-04-17 17:51] tylerauerbeck commented on #55448
@fabianvf That looks to have solved it. Is there a reason that `field_selector` and `label_selector` behave differently?  The above sample playbook doesn't have any issue with `name = postgresql`, but obviously cares about spacing in `field_selector`.

Either way -- an update is probably needed for the documentation on the field_selector example (which I can take care of as long as you agree).

[2019-04-17 17:54] felixfontein commented on #55267
I don't have a Mac at hand to test this. This should not be related to ssh-keygen at all, though, since ssh-keygen is not what pyOpenSSL or OpenSSL itself are using. (ssh-keygen uses OpenSSL though.) Also, you should really check `csrpath`, because the module crashes when trying to load the file it points to as a CSR file. The file exists (otherwise it wouldn't try to parse it), but seems to be no

[2019-04-17 18:04] fabianvf commented on #55448
@tylerauerbeck it's definitely a bug that the behavior is different, I'm not sure yet why it's happening. :+1: to a doc update, that would be awesome!

[2019-04-17 18:14] paylocity-sflanders commented on #30867
@samdoran what version implements that --force-with-deps?

[2019-04-17 18:20] samdoran commented on #55400
From having some discussion with other Core developers, it seems the facts interface was not meant to be used in this manner. There are a number of undocumented dependencies, such as the one you just encountered, that we handle internally when facts are gathered by ensuring we execute things in a particular order.

The preferred way to explicitly gather facts is to use an action plugin and call `s

[2019-04-17 18:26] bcoca commented on #55400
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-04-17 18:26] #55400 closed, assigned to samdoran

[2019-04-17 18:38] jesseorr commented on #16049
An adaptation of what @bcoca said ( https://github.com/ansible/ansible/issues/16049#issuecomment-474093497 ), wherein I had a hostname with a changing IP address which needed to be configured on a cluster of nodes to point their software at the master server:

The trick was using delegate_to with run_once to target which server to gather the fact from.

[code]

This successfully imported the fact

[2019-04-17 18:39] OJFord commented on #10725
@alikins I'm confused by the resolution here - the request was for it to be the _default_, so is "it works if you specify it" to be taken as "no, wontfix, we don't want this to be the default"?

Is there at least a way of specifying it globally for ansible, so it's not needed in every template?

[2019-04-17 19:00] boweeb commented on #25145
Unix philosophy is not a hill I'm willing to die on.

for default behaviour and thus relying on a certain background to assume
the correct interpretation of the modules behaviour but also not providing
an option for such adherent behaviour is, I believe, more than enough to
justify an opinion that the module could do with some work.

If I may, I'll take this paragraph as the core of your argument.

[2019-04-17 19:04] samdoran commented on #30867
@paylocity-sflanders This is new in Ansible 2.8.

[2019-04-17 19:16] sobedrinker42 commented on #50720
@BarbzYHOOL, what if you define your meta with tags, and just leverage the `--skip-tags` parameter.

An example (for skipping the java dependency) would be:
`directory:  roles/<role_name>/meta/main.yml`
[code]
now just leverage `--skip-tags` in your ansible-playbook command on either the tag 'dependencies', or 'java'.  I'm pretty sure this does exactly what you need and if you more than one depend

[2019-04-17 19:20] emilorol opened #55467 "Creating directory and checking it exist fail"
I have the following task that check if the directory exist and if it doesn't then I create it, then a bit later I check if it was created to do more stuff, but it fail. What am I missing?

[code]
I am running:

[code]

[2019-04-17 19:21] sivel commented on #55467
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-17 19:21] #55467 closed, assigned to nobody

[2019-04-17 20:58] jeking3 commented on #54417
Okay so the behavior now is that if `create_with_security_group` is False but a `security_group` is provided, it ignores the security group.  That still seems inadequate; shouldn't the module fail indicating that the security group cannot be provided when `create_with_security_group` is False?

[2019-04-17 21:27] mator commented on #51755
@ramooncamacho ,

recursive is defined as type `bool` (true, false, default is false) in module, can you please try in a playbook to specify `recursive: True` instead of `recursive: yes` and report back?! thanks.

[2019-04-17 21:51] bcoca commented on #25145
@boweeb, you are asking the module to inject an extra task into the core engine at a 'later' execution point, there is no way to do this currently ... and frankly i would shy away from creating one.

Instead setup a  handler that removes the file on 'change' of the temp file module, it would run after all the tasks in the section.

[2019-04-17 22:02] BOPOHA commented on #31383
@cjamison

Of course.
For example use [aws-cli](https://docs.aws.amazon.com/cli/latest/reference/ec2/authorize-security-group-egress.html)  with the `--ip-permissions` option.
Please look at my example:

[code]

[2019-04-17 22:45] BOPOHA commented on #31383
@s-hertel
please re-open issue.
it was closed by mistake.
[this](https://github.com/ryansb/ansible/commit/cb95191d3f589f8ac8f5c594bcf68dad155df37b)  commit has nothing to do with the issue.

[2019-04-17 22:50] mator commented on #51755
this code introduces last empty single quotes:

[code]

since `force=''`

First, i don't understand the logic link between conditional `state` and `force` parameter, and IMHO it should be probably like this :

[code]

second, I'd rewrite this code a bit:

[code]

changing it like this allows device removal

[2019-04-17 23:23] mator commented on #51755
@kairoaraujo @dagwieers
can you please look? thanks.

[2019-04-17 23:24] mator commented on #51755
@kairoaraujo @dagwieers
can you please look? thanks.

[2019-04-17 23:43] bcoca commented on #55418
@abadger there is separate PR for #1 and that has specific language in changelog (which you wrote)

As for 2nd point, i would argue we should keep both, the overhead should be minimal and it avoids 1 point of failure in case future modifications in either spot.

[2019-04-17 23:49] bcoca commented on #55385
`-i env1_aws_ec2.yml -i env2_aws_ec2.yml`

[2019-04-18 00:07] mbigras opened #55476 "systemd module: glob pattern has inconsistent behavior"
##### SUMMARY

The systemd module does not silently ignore units that aren't matched when using the glob pattern. It fails with error message:

[code]

[code]

This behavior is inconsistent with the expected result for systemctl:

https://www.freedesktop.org/software/systemd/man/systemctl.html

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

systemd module

##### ANSIBLE VER

[2019-04-18 01:56] boltronics commented on #28820
Yep, the following functions need to be updated in [apt_key.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt_key.py):

* find_needed_binaries
* all_keys
* import_key
* add_key
* remove_key

AFAICT, it looks like accessing GnuPG directly via the [official GPGME bindings](http://files.au.adversary.org/crypto/gpgme-python-howto.html) is the way to go. Otherwise,

[2019-04-18 02:02] #52640 closed, assigned to acozine

[2019-04-18 02:11] acozine commented on #45776
Related to #43562.

[2019-04-18 02:41] Fred-sun commented on #39977
@christopherkeller Thanks for your update and testing! can you closed it?

[2019-04-18 03:14] yuwzho commented on #54417
@jeking3 Maybe the UX thing is not perfect now, you can draft a PR to do the enhancement according the code logic :smile:

[2019-04-18 03:30] Tomorrow9 commented on #35657
And guest OS customization function not support configure this "promiscuous" mode of network adapter yet. So can this bug be closed? Thanks.

[2019-04-18 03:56] Tomorrow9 commented on #46175
@natemccallum, ok, thanks for your reply. If so, I think it is not the "vmware_guest" module issue. Before "convert the VM to template" please make sure all the changes and installed apps are saved to disk. "convert" operation does not change the apps in the OS.

[2019-04-18 03:56] #54823 closed, assigned to Akasurde

[2019-04-18 04:14] Tomorrow9 commented on #41133
@mrmeszaros，thanks for the reply and the workaround info.
So (1) if you hit the same issue on Ubuntu 18.04 with the open-vm-tools, then there is workaround as below, and install official vmware tools.
"
A possible solution might be to ensure the open-vm-tools.service is started after dbus.service.
Edit /lib/systemd/system/open-vm-tools.service and insert a new line After=dbus.service under the [Un

[2019-04-18 04:40] kongslund opened #55495 "openssl_certificate fails when using passphrase"
##### SUMMARY

`openssl_certificate` fails with a misleading error message "Wrong or empty passphrase provided for private key" when a non-empty passphrase is actually provided. It masks the real error which is `TypeError: password must be bytes-like`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssl_certificate

##### ANSIBLE VERSION

Note: updated to the latest on devel as of today

[2019-04-18 04:51] felixfontein commented on #38840
A better workaround is to upgrade to a newer Ansible version.

[2019-04-18 04:56] felixfontein commented on #42162
@SerenaFeng the docker-py 1.7.x incompatibility should be fixed by #55496. Upgrading to everything newer than docker-py 1.8.0 should fix the problem as well. Also, when you're upgrading, please remove the docker-py module and install the docker module (docker-py was renamed to docker starting with version 2.0.0). Note that you can't have both installed at the same time, then both will be broken. A

[2019-04-18 05:51] Tomorrow9 commented on #32044
@jffz, this result is as expected of guest customization, because DNS info is required for network setting, if you did not specified in the playbook, then it will be treated as empty. I'll take a look at this and try to add parameters validation in vmware_guest module to avoid this error. Thanks.

[2019-04-18 06:00] Fred-sun commented on #55047
@zikalino can be closed! resolved_by_pr #55203

[2019-04-18 06:03] yungezz commented on #55047
@zikalino could you pls backport this one?

[2019-04-18 06:04] yungezz commented on #55047
we'll backport this fix to stable-2.8, hopefully it could catch 2.8 release.

[2019-04-18 06:08] Tomorrow9 commented on #45129
Could you please also copy the result of "ifconfig" to show what's the duplicate ethernet configured? and "vmware.log" in the VM path, "/var/log/vmware-imc/toolsDeployPkg.log" in OS. Thanks.

[2019-04-18 06:09] #39977 closed, assigned to zikalino, yungezz

[2019-04-18 06:28] Tomorrow9 commented on #37198
Hi, @Gaby033, you need to change your Debian to "Other 3.x Linux" or "Other 4.x Linux". "ens" is the new name, it can be set correctly if the guest ID is old. Hope this works. Thank you.

[2019-04-18 06:29] Akasurde commented on #54274
!component =lib/ansible/playbook/role_include.py

[2019-04-18 06:40] minusdavid commented on #41776
I'm having the same issue as @triat.

[2019-04-18 06:43] minusdavid commented on #41776
Actually, in my case, I'm working on localhost. I notice according to https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html that ansible_python_interpreter is listed as a "remote host" variable. Could that be at play here?

[2019-04-18 07:04] ephracis commented on #20077
Did you guys decide anything?

[2019-04-18 07:15] Tomorrow9 commented on #45834
Hi @arno1704, network adapter not connected might caused by guest customization in OS failed at some step. Here are some suggestions:
(1) collect logs in Windows OS to let us check the failures during customization:

- %WINDIR%\Temp\vmware-imc\*.log
- %WINDIR%\System32\Sysprep\Panther\*
- %WINDIR%\Panther\*
-  %WINDIR%\Panther\Unattendgc\*
-  %WINDIR%\Debug\*

(2) there is a new parameter "wait_fo

[2019-04-18 07:34] lianfulei opened #55502 "powershell执行 ConfigureRemotingForAnsible.ps1 报错"
https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1

PS C:\Users\win10user-1\Downloads> .\ConfigureRemotingForAnsible.ps1
所在位置 C:\Users\win10user-1\Downloads\ConfigureRemotingForAnsible.ps1:123 字符: 63
+ ...         <p class="m-0">We recommend upgrading to the latest <a href=" ...
+                                                                 ~
“<”运算符是为

[2019-04-18 08:05] mkrizek commented on #55502
There seems to be a problem with your formatting. Can you please open a new issue with complete information about a bug you are seeing and a simple reproducer? Thanks!

If this is just a question please use the mailing list or the IRC channel.

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-18 08:05] #55502 closed, assigned to nobody

[2019-04-18 08:47] darknao commented on #54461
I did a few tries on rhel & aix, and everything seems to be ok.
I do had to adapt the patch a little as my working environment is in RHEL 6 (with python26).
I'll see if i can spin up a rhel7 and do proper tests, but it should work just fine.

[2019-04-18 09:27] upodroid opened #55510 "Ansible Hangs with verbose flag when I use Packer."
##### SUMMARY
Ansible hangs when I run it in verbose mode with Packer. This happens with ansible provisioner and shell provisioner.

##### ISSUE TYPE
 Glitch

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

- ansible playbook
[code]

- packer.json

[code]

##### OS / ENVIRONMENT
Google Compute Engine + Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE
Build a packer image.

#####

[2019-04-18 09:35] upodroid commented on #55510
https://gist.github.com/upodroid/1da201c7928cd78a43c847d52b72fb33

[2019-04-18 09:39] fghaas commented on #54898
@mattclay

I've run into this issue as well.

I'm seeing this on Ubuntu Xenial, with Python 3.5.2, in a venv that was created (using `virtualenvwrapper`) with `mkvirtualenv -p /usr/bin/python3 ansible-2.7` and then had Ansible installed in that venv with `pip install -r requirements.txt`, where that `requirements.txt` [comes from `ceph-ansible`](https://github.com/ceph/ceph-ansible/blob/master/req

[2019-04-18 09:41] rakhinskiy commented on #42726
Ansible 2.7.10

openSUSE Leap 15
hostname module cannot be used on platform Linux ()

Ansible 2.8.0b1

openSUSE Leap 15
hostname module cannot be used on platform Linux (Opensuse-leap)

Oracle Linux 6/7
hostname module cannot be used on platform Linux (Ol)

[2019-04-18 09:54] darknight74 opened #55511 "Add missing 'IamInstanceProfille' to the output of ec2_lc_facts and ec2_lc_find"
Add `IamInstanceProfile` to output of both `ec2_lc_find` and `ec2_lc_facts`

##### SUMMARY
Modules `ec2_lc_find` and `ec2_lc`_facts return the most of the fields returned by `aws autoscaling describe-launch-configurations`.
Unfortunately they're missing `IamInstanceProfile` thus their output is not complete to gather all information of a launch configuration to possibly create a copy of an existin

[2019-04-18 10:27] mmarek commented on #20432
I went on this back and forth. There is plenty of options most of them range from crap to crappier.
1. Write a custom bash script that pushes `--extra-vars` down the drain `ps -f -p $PPID etc`.
2. Incorporate supper advanced targeting in your playbooks and utilize `--extra-vars`. Something like `hosts: "master:&{cluster}`. This gets more ridiculous if you have to use more than one parameter and ma

[2019-04-18 10:44] rehmatworks commented on #55267
Now the issue is getting cleared. ssh-keygen uses OpenSSL and in latest Mojave, the private keys generated through OpenSSL are not getting validated by Ansible. Regarding the CSR path, I've triple checked it. If I use Ansible on my local computer (running Mojave) to deploy a self-signed cert on my remote Ubuntu machine, Ansible fails because the keys generated by my local system on latest Mojave a

[2019-04-18 11:03] lianfulei commented on #55502
powershell  script:     ConfigureRemotingForAnsible.ps1

[2019-04-18 11:08] mkrizek commented on #55510
@upodroid Can you reproduce the issue running just Ansible standalone?

needs_info

[2019-04-18 11:48] alexryndin opened #55515 "always is ignored with NO MORE HOSTS LEFT if task failed inside included one and block with run_once set used"
##### SUMMARY
Given this task files:
test.yml:
[code]
tasks_to_fail.yml:
[code]
Always block is not executed
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`block`, `always`, `include_tasks`, `run_once`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Tested on Arch Linux

##### STEPS TO REPRODUCE

Create three files, two described above and playbook.yml wit

[2019-04-18 12:33] upodroid commented on #55510
Hi

It seems that ansible works correctly. I ran this startup script and it works correctly:

[code]

I'll raise an issue with the developers of Packer.

[2019-04-18 12:40] upodroid commented on #55510
https://github.com/hashicorp/packer/issues/7525

[2019-04-18 12:41] danrimal commented on #53199
Hello,
I can also hit this bug, but in my case, maximal working identity is 24 chars. Longer mikrotik identity doesn't work and ending with timeout.

ansible 2.7.9

[2019-04-18 12:43] mkrizek commented on #55515
`git bisect`'ed to #38827

cc @sivel

[2019-04-18 12:47] mkrizek commented on #55510
@upodroid Thank you. Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-18 12:47] #55510 closed, assigned to nobody

[2019-04-18 12:57] wilmardo opened #55517 "DEFAULT_JINJA2_NATIVE causes escaping issues"
##### SUMMARY
The ANSIBLE_JINJA2_NATIVE option expands escaped character totally wrong.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The command to be expanded to:

[code]

##### ACTUAL RESULTS

The command get expanded wrong, with multiple `

[2019-04-18 12:57] eRadical commented on #54059
@s-hertel  I really like your plan (comment from March 19) but that's still not working:

[WARNING]:  * Failed to parse .....aws_ec2.yaml with aws_ec2 plugin: Failed to describe instances: An error occurred (UnauthorizedOperation) when calling the DescribeInstances operation: You are not authorized to perform this operation.

This is a clear sign that it didn't „assumed” the role_arn specified in

[2019-04-18 13:00] wilmardo commented on #55517
#46169 might be related since `@{ }` could be parsed like a dict but they are escaped so it shouldn't be the same right?

Related: [pallets/jinja#917](https://github.com/pallets/jinja/issues/917)

[2019-04-18 13:02] mkrizek commented on #55517
@wilmardo What version of `Jinja2` are you running (on the controller)? Does upgrading to the `master` branch (https://github.com/pallets/jinja) solves your issue?

needs_info

[2019-04-18 13:13] wilmardo commented on #55517
@mkrizek Now running version 2.10.1

[code]

Will upgrade to the master branch and report back

[2019-04-18 13:14] sander85 commented on #48890
Hey! Anyone to fix this? :)

[2019-04-18 13:16] wilmardo commented on #55517
Nice, the issue seems resolved on the master branch of Jinja2.
Sorry for not checking the Jinja2 master branch first!

[2019-04-18 13:16] #55517 closed, assigned to nobody

[2019-04-18 14:32] sudheer112 commented on #17905
pls help me how to resolve this?

prod | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname prod: Name or service not known",
    "unreachable": true
}

[2019-04-18 14:46] tylerauerbeck commented on #55448
@fabianvf I've got this doc update ready to go (just removing the spacing that we talk about above). This will take care of the current issue, but I'm not sure if there's somewhere to add a note that explicitly calls all out the issue with field_selector vs label_selector (or if that's necessary vs troubleshooting the bug that's the causing this). Let me know if this is fine and I can get this sub

[2019-04-18 16:11] dominikholler opened #55524 "os_port exects binding:vnic_type"
##### SUMMARY
Ansible fails on an update of an OpenStack port if the server does not report the attribute
`binding:vnic_type` of a port.
Ansible should not assume that the server reports this attribute because this attribute is part of the optional port binding extension of the OpenStack API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_port

##### ANSIBLE VERSION
[code]

##### CONFIGUR

[2019-04-18 16:16] dominikholler opened #55525 "os_port sends binding:vnic_type=normal without requested"
##### SUMMARY

On creating a new OpenStack port, os_port sends `binding:vnic_type="normal"` without requested.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_port
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

fedora 28

##### STEPS TO REPRODUCE

Apply the following playbook

[code]

##### EXPECTED RESULTS

The request to create the port is sent withou

[2019-04-18 16:26] #54374 closed, assigned to nobody

[2019-04-18 16:46] AdamGoldsmith commented on #39158
@Testicule I too feel your pain to a degree. In your example above where you resorted back to one single list, I was able to overcome this with the following code, but I do not like how it looks, I would prefer each referenced list on a newline as it is when using `with_items` :

[code]
replaced by
[code]

[2019-04-18 16:54] bcoca commented on #39158
This would be the equivalent of `with_items`

[code]

[2019-04-18 16:58] AdamGoldsmith commented on #39158
Thanks @bcoca - by the way, always appreciate your comments :-)
Just to clarify your response, you are suggesting that if my lists `blah1` & `blah2` are distinct separate entities, that I should set a fact containing them first, to be used in the manner you suggest above (e.g. `mydicts`)?

[2019-04-18 17:11] qwuscu commented on #1768
I have tried both dest=/path/to/folder and dest=/path/to/folder/file, both doesn't work. Any idea? thanks!

[2019-04-18 17:22] bcoca commented on #20432
@mmarek it makes vars plugins a lot harder to deal with when inventory source is not a 'file', so breaks host_vars/group_vars

use inventory plugin instead and you can get all the options you want directly or via inventory source.

[2019-04-18 17:45] bcoca commented on #39158
no, just one way of expressing it, also that is not a 'fact' but a play level var, which will not have permanence after that task.

[2019-04-18 17:52] bcoca commented on #55476
globing (resolving * and ? )  is normally a function of shell used, the modules are not guaranteed to use 'shellisms' nor even shelling out to run commands, hence i reclassified as 'feature request' .

[2019-04-18 19:12] jctanner commented on #53185
bot_status

[2019-04-18 19:14] jillr commented on #53689
!component =lib/ansible/plugins/callback/slack.py

[2019-04-18 19:16] jillr commented on #55085
!component =lib/ansible/cli/galaxy.py

[2019-04-18 19:25] samdoran commented on #55105
!copmonent =/lib/ansible/modules/network/junos/junos_command.py

[2019-04-18 19:44] jimi-c commented on #55165
Hi, I believe this is a misunderstanding of how Ansible works internally. Due to the fact that the become user may be unprivileged, we always fallback to a common temp location (in this case, the system /tmp dir). We do this to prevent problems due to lack of access (both permissions and selinux, if it's enabled). Otherwise, we'd have to first test the specified temp location, which would be time-

[2019-04-18 19:44] #55165 closed, assigned to nobody

[2019-04-18 19:44] samdoran commented on #55151
This is working as intended. Handlers are scoped to the play by design. If the desire is for handlers to run between roles, add `- meta: flush_handlers` to the end of the role.

Similar to #23031.

[2019-04-18 19:44] #55151 closed, assigned to nobody

[2019-04-18 19:49] vinidba commented on #22690
Hi guys,

I have a file:

when: "( grid_home_installed.stdout == 'skipped, since /oracle/app/oraInventory/ContentsXML/inventory.xml does not exist' or grid_home_installed.stdout == '' ) and asm_version != ''" )

This works, but the path is hard-coded and I don't wan't this.

Then, in my group_vars I created this variable:

oraInventory: /oracle/app/oraInventory

Then I create in another file:

- n

[2019-04-18 19:54] #31735 closed, assigned to nobody

[2019-04-18 19:57] bcoca commented on #55392
documented in 'user' side https://docs.ansible.com/ansible/latest/plugins/inventory.html

[2019-04-18 19:57] #55392 closed, assigned to nobody

[2019-04-18 19:57] jillr commented on #55392
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue

[2019-04-18 20:00] jillr commented on #55443
!component =llib/ansible/modules/cloud/openstack/os_server_facts.py

[2019-04-18 20:26] bcoca commented on #55286
I cannot reproduce during normal runs, unless there is a catastrophic failure, Ansible is removing temp files created.

needs_info

[2019-04-18 21:18] edcrosbys commented on #50605
Missing Resource pool was the problem. Thank you!!!

[2019-04-18 21:18] #50605 closed, assigned to nobody

[2019-04-18 21:40] jctanner commented on #53185
bot_status

[2019-04-18 21:57] jrpope2014 commented on #39369
Can confirm, definitely still an issue. Lol I wish I would've found this thread a couple of hours ago.

[2019-04-18 21:58] #55386 closed, assigned to nobody

[2019-04-19 01:07] cyberhalogen commented on #55105
what does this mean?

[2019-04-19 03:04] willthames commented on #55388
I'm not sure this issue properly captures the whole problem with DeploymentConfig, but that only really affects Openshift 3.6 and earlier.

[2019-04-19 09:26] #51908 closed, assigned to Akasurde

[2019-04-19 09:48] GrandeTartine opened #55551 "Vmware: vmware_guest can't clone VM when datastore is specify in disk list"
##### SUMMARY
With ansible 2.8.0b1, when I try to clone a VM with one or many disks, when I specify the target datastore in the disk list, the clone failed with an error : "Unable to finish the operation because the file or the directory [stomaq02-maq-target1-lun02] test-1804/test-1804.vmdk already exist."

The file does not already exist.

If I do it in 2 step, it's not failing (like that: https:

[2019-04-19 10:38] emre141 commented on #21562
Hi

I have the simillar problem to getting ansible yum module error.If my ansible role running on aws ec2 wake up using cloud-init it give me a failed yum module but after when instance become ready i logined in to the instance via ssh and manually run ansible-playbook it works well.

My cloud-init yaml

#cloud-config
write_files:
- path: /etc/yum.repos.d/epel.repo
  content: |
    [epel]
    name

[2019-04-19 10:48] emre141 opened #55553 "Ansible yum module failed when using in cloud-init on aws ec2 instance"
##### SUMMARY
Ansible yum module failed using inside AWS EC2 cloud init

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Amazon Linux 2

4.14.47-64.38.amzn2.x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2019-04-19 11:20] Tomorrow9 commented on #55551
Hi @GrandeTartine, the disk you set in the playbook is the first disk of deployed VM, if you want to add a new one, there should be two disk elements as you do in the no failing playbook.
- datastore: "the datastore of the deployed VM's first disk"
   size_gb: 20
- datastore: "the datastore of the new added disk"
   size_gb: 10
   type: "eagerzeroedthick"

[2019-04-19 11:29] GrandeTartine commented on #55551
Hi @Tomorrow9. Thanks for your reply. Yes, I knew that, this test playbook was only to show that there is also a problem even if I don't try to add a second disk.
In fact I think there are multiple different problems. When I clone the existing VM, where it fail even without adding disk, and when I try to add a disk on a existing VM, where it fail to create the disk and it badly configure the VM ev

[2019-04-19 11:43] Vladimir-csp commented on #17268
Confirmed in 2.7.9
It also does not support index patterns like `somegroup[0]` or `some_pattern*[2]` which are valid subsets arguments for `ansible` and `ansible-playbook`

[2019-04-19 11:43] Tomorrow9 commented on #55551
@GrandeTartine, let's resolve the issue one by one. So the first one is if you don't add new disk, just configure the first one? Below 3 parameters are all changed from the template VM? then you get the error.
- datastore: "stomaq02-maq-target1-lun02"
   size_gb: 20
   type: "eagerzeroedthick"

[2019-04-19 11:53] Asgoret opened #55554 "Ansible 2.7 stuck on Python 3.7 in docker-ce"
##### SUMMARY
Ansible 2.7 stuck in random place in docker-ce based on python 3.7 image

##### ISSUE TYPE

##### COMPONENT NAME
Maybe issue in k8s module?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Custom docker image with ansible and terraform based on `python:3.7`

##### STEPS TO REPRODUCE

[code]
Template:
[code]

TIP:  It's very small task so i don't know

[2019-04-19 12:06] GrandeTartine commented on #55551
@Tomorrow9 Yes.
For example
playbook: https://gist.github.com/GrandeTartine/6b45a034c0406b7d37a7723f599cd1fd
result: https://gist.github.com/GrandeTartine/bf70f44e2bb56bd7809080e492ffbfea

The only way I founded in 2.8.x to clone a VM, is to not specify disk configuration, and specify datastore outside the disk list :
playbook: https://gist.github.com/GrandeTartine/0ced22a66901091b35aa0a4db63b207d

[2019-04-19 12:07] rosowiecki opened #55555 "error_on_undefined_vars = True silently ignored in role defaults?"
##### SUMMARY
Question: is this a bug or a feature of ansible?

I've got default dictionary setting in my role like:
[code]

##### ISSUE TYPE
- Question

##### ANSIBLE VERSION
Noticed in ansible 2.7.10
I suspected some regression, but 2.2.1.0 gives the same results

##### COMPONENT NAME

ansible core

##### OS / ENVIRONMENT

CentOS 6.10

##### STEPS TO REPRODUCE

When vm_volgroup is not set for I

[2019-04-19 13:32] gocho1 commented on #47097
ansible 2.7.10 (via apt or pip) here and same issue...
I downgraded to 2.6.16, and everything works like a charm

[2019-04-19 13:34] UnitedMarsupials commented on #55112
Sorry, that's a non-starter for a number of unrelated reasons... I might be able to post the patches to Usenet, though -- if publishing them here is not sufficient.

[2019-04-19 14:33] chrisvanheuveln commented on #53887
@trishnaguha Your patch causes an idempotency problem on 7K when `purge` is specified. I debugged it and have a suggested patch for your patch here: https://github.com/chrisvanheuveln/ansible/pull/3

[2019-04-19 16:14] alongchamps commented on #51240
Testing goes well, should have this ready for commit soon.

[2019-04-19 16:19] basictheprogram opened #55558 "winrm connection failing with +[NSValue initialize] error"
##### SUMMARY

+[NSValue initialize] may have been in progress in another thread when fork() was called.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible management host: MacOS 10.14.4
Target OS: Windows Server 2016

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

The tasks in t

[2019-04-19 18:47] andrew80k opened #55560 "vmware_guest: "msg": "Failed to create a virtual machine : A specified parameter was not correct: nicsettings:adapter:ip""
##### SUMMARY
I have tried a bunch of different stuff to get this working all to no avail.  Any insight would be great.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Powered on VM.

##### ACTUAL RESULTS

[code]

[2019-04-19 18:51] wltjr commented on #55365
Thanks for the report! I will take a look at this ASAP and see about resolution. I am presently very busy with other things, but I should be able to get to it within a week, or two max.

[2019-04-19 18:52] andrew80k commented on #55560
also tried like so:
[code]

[2019-04-19 18:53] andrew80k commented on #55560
The template does NOT have a network.

[2019-04-19 19:36] AJ-Acevedo opened #55562 "network_cli tasks failing when running ios_command with YAML inventory"
##### SUMMARY
Running a `network_cli` task with `ios_command`, fails with the error message `ERROR! Unexpected Exception, this is probably a bug: Expecting value: line 1 column 1 (char 0)`.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli
ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Here are the inventory variables used

[code]

##### OS / ENVIRO

[2019-04-19 19:49] paylocity-sflanders opened #55563 "bigip_pool_member state should only manage if the resources existence.. instead of managing the status of the resource"
##### SUMMARY
bigip_pool_member appears to do too many things regarding the state properly.   How it is designed today means you cant do updates without affecting the status (up, down, disabled) on every call.   Basically you have no way to update the pool member without changing if its online or not.   Explicitly leaving the state parameter out of the yaml makes it online the box regardless of if

[2019-04-19 20:12] AJ-Acevedo commented on #55562
Interestingly enough it worked fine from Linux with the same inventory and playbook. With the exception of having to change the ansible_python_interpreter path.

[code]

[2019-04-19 21:10] adisharoon opened #55564 "Hipchat callback plugin uses discontinued API endpoints"
##### SUMMARY
The hipchat callback plugin (hipchat.py) has hardcoded API URLs for contacting HipChat servers. However, Atlassian has discontinued support for those URLs. See https://blog.developer.atlassian.com/atlassian-slack-partnership In fact, api.hipchat.com is no longer a resolvable domain name.

Some users of Ansible, ourselves included, may have been using, and continue to use, privately h

[2019-04-19 21:46] AJ-Acevedo commented on #55562
Looks like it consistently gets hung up on my core switch regardless where that switch is located in the inventory file.

[code]

[2019-04-20 00:49] willthames commented on #55554
Does kubectl work with the same configuration?

i.e. if you do `kubectl --insecure-skip-tls-verify={{ tls_verify }} --server {{ master_api }} --token {{ api_key }} create namespace {{ namespace }}`

does that work?

[2019-04-20 06:15] Akasurde commented on #49515
resolved_by_pr #55565

[2019-04-20 08:09] L1ghtman2k commented on #49842
Same issue here

[2019-04-20 08:53] L1ghtman2k opened #55569 "vmware_guest configure existing vm can't find network"
##### SUMMARY
I have customized both vm cloned from the template and the existing vm using existing_vm: True. In the case of cloning from the template, everything worked fine. However, in the case where I am editing an existing VM I am getting: Network 'sample_network' does not exist, while 'sample_network' clearly exists in my network list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmw

[2019-04-20 10:22] L1ghtman2k commented on #55569
My bad, it seems like I forgot to mention the cluster

[2019-04-20 10:22] #55569 closed, assigned to nobody

[2019-04-20 13:37] mrk-its commented on #54519
@noctux you are right, jenkins-api is ok (it simply requires config passed as str (unicode), not bytes )

[2019-04-20 13:38] ryanmerolle opened #55570 "ipaddr query by index number returns empty string"
##### SUMMARY
When an index number encapsulated by single quotes is passed to the ipaddr filter, an empty string results instead of the proper IP.  When an index number not encapsulated by single quotes is passed to the ipaddr filter, the expected IP is returned.  In the ansible documentation, the single quote example is provided.  When reverting back to the latest 2.7 release, it works as expecte

[2019-04-20 16:34] baasbank commented on #36388
I'd like to take this. Can I please get some more context?

[2019-04-20 20:49] #16506 closed, assigned to nobody

[2019-04-20 20:54] noctux commented on #54519
@mrk-its: Thank you for looking into it, your patch also seems to work for me :)

I'll leave the bug open, though, until it is resolved within master.

[2019-04-20 21:17] Mejriamal commented on #48859
@candlerb  same issue !!

[root@localhost ~]_### ansible-playbook -i /etc/ansible/hosts openshift-ansible/playbooks/openshift-node/bootstrap.retry -vvv_
ansible-playbook 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansib

[2019-04-20 21:44] L1ghtman2k opened #55572 "vmware_guest delete from disk/inventory"
##### SUMMARY
Currently, vmware_guest only has only one option to delete the VM (as far as I know), which is state: absent.
It would be really cool if we had an option to select whether to delete from disk or inventory

##### COMPONENT NAME
vmware_guest

[2019-04-21 03:42] m3nu commented on #38594
Ran into the same issue. Accidentally formatted my drives and removed all partitions. Repeating the existing label prevents it.

[2019-04-21 07:53] candlerb commented on #48859
That's a different problem. You are providing a retry file as if it were a YAML playbook, and it is not; it's a list of failed hosts.

Use: `ansible-playbook /path/to/bootstrap.yml --limit @/path/to/bootstrap.retry`

Since that is not a bug, please refrain from further discussion here - use the ansible-project google group instead.

[2019-04-21 10:49] tomwassenberg commented on #51959
This looks like a duplicate of https://github.com/ansible/ansible/issues/25414.

[2019-04-21 11:33] akira6592 opened #55575 "notify calls an unexpected listener"
##### SUMMARY

Call an unexpected handler.

The string specified by notify seems to match as an intermediate match of the listener string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

handler, notify, listener

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Run the following Playbook.

[code]

##### EXPECTED RESULTS

I

[2019-04-21 12:07] Mejriamal commented on #48859
Hey ! thank you for the quick responding
otherwise I still get the same issue
...

Le dim. 21 avr. 2019 à 08:54, Brian Candler <notifications@github.com> a
écrit :

[2019-04-21 16:46] #49904 closed, assigned to nobody

[2019-04-21 21:27] agaffney commented on #54944
You can do something like the following to get a newline;

[code]

This works because the YAML block syntax using `|` automatically appends a newline.

With there being at least 2 ways to get a newline noted in this ticket, I think it's unlikely that this feature will be implemented.

[2019-04-21 22:33] Bilge opened #55579 "Regex replace doesn't support \0 backreference"
##### SUMMARY
Currently regexp replace only works with explicit capturing groups, e.g. `replace: regexp=^(foo)$ replace=\1bar`. However, there exists a prevailing trend in regexp implementations that the implicit `\0` backreference would specify the entire portion of the input substring matching the pattern. This is especially useful for prefixing or suffixing text to the matching line.

##### ISS

[2019-04-22 00:03] EvanK commented on #55579
Python's regular expression library (that is used under the hood) interprets `\0` as a NUL character, so this will not be _entirely_ possible.

The Python 2.2 docs have this to say about the `\number` sequences (emphasis mine):

The Python 2.7 docs would seem to back that up:

I have not tested this myself, but it seems like `\g<0>` should give the result you're looking for!

@ansibot wontfix

[2019-04-22 00:04] #55579 closed, assigned to nobody

[2019-04-22 01:42] Tomorrow9 commented on #55551
Hi @GrandeTartine, I can reproduce this issue in my env. And just set the "datastore" parameter under "disk" part to another "datastore" on the ESXi host with the different disk size of template will trigger this issue. Found that if the "disk.size_gb" is set to the same value in template, there will be no error. I'll take a look at this.
Just let you know that there is module: vmware_guest_disk,

[2019-04-22 02:28] Fred-sun commented on #54822
@zikalino

[2019-04-22 02:42] Fred-sun commented on #49659
@zikalino Do you have fixes the data disk issue?

[2019-04-22 03:10] jctanner commented on #55554
needs_info

[2019-04-22 03:18] zoredache opened #55581 "docker_swarm_service secrets with gid/uid/mode"
##### SUMMARY
Attempting to pass a uid/gid/mode as part of a secret for the docker_swarm_service module is either broken, or how to pass correctly it isn't obvious from the docs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

A play with a task

[2019-04-22 06:01] Fred-sun commented on #51751
kindly ping

[2019-04-22 08:18] #44633 closed, assigned to samdoran

[2019-04-22 08:27] saito-hideki opened #55585 "tower_job_wait can not handle multibyte characters correctly with py27"
##### SUMMARY
If a job output includes some multi-byte characters as follows, tower_job_wait module is failed with the following error message:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- tower_job_wait module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
There is no change from the default settings:

[code]

##### OS / ENVIRONMENT
- OS: Fedora 29
- ansible 2.9.0.dev0
- AWX

[2019-04-22 08:29] saito-hideki commented on #55585
The original job output file from AWX job template as follows:

[code]

[2019-04-22 08:40] Asgoret commented on #55554
@willthames @jctanner
I'm work with OKD (Openshift). If i use this playbook local it's work perfect, for several months while i'll developed it i haven't got any problems. And when i move it to CI/CD in docker environment i got this problems. When i downgrade python to 2.7 issue not reproduced.

[2019-04-22 09:24] #55212 closed, assigned to nobody

[2019-04-22 09:47] felixfontein commented on #55581
You can maybe work around this (for now) by specifying the `uid` as a string:
[code]

[2019-04-22 09:53] felixfontein commented on #55581
Actually, sorry, that won't work, since Ansible converts it to an int (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_swarm_service.py#L2517).

@hannseman I guess we should also use `uid`/`gid` in the tests. Similar problems might exist for `mode`.

[2019-04-22 10:42] xvzf opened #55588 "dns_servers in docker_container does not seem to update /etc/resolv.conf"
##### SUMMARY
When setting `dns_servers` in the `docker_container` task, it does not get updated inside the container

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`docker_container`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Latest Version of Debian (9) and Ubuntu (19.04)

##### STEPS TO REPRODUCE
E.g. use this task

[code]

##### EXPECTED RESULTS
Th

[2019-04-22 11:03] jamesyoungman opened #55590 "apt_key uses outdated method of adding keys"
##### SUMMARY
apt_key adds keys with the apt-key command.   That's the old way of doing it.  The new, correct, way to do it is to add the key to /etc/apt/trusted.gpg.d/.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
$ cat /etc/debian_version
9.8
$ lsb_release -a
No LSB modules are available.
Di

[2019-04-22 11:05] jamesyoungman commented on #55590
This change is documented in the apt-key manpage, for what it's worth.

[2019-04-22 11:07] jamesyoungman commented on #41660
I didn't know how to get this issue out of the needs_info state so I created a new bug report containing the missing information.  https://github.com/ansible/ansible/issues/55590

[2019-04-22 11:19] felixfontein commented on #55588
`dns` is not a supported option. I guess you mean `dns_servers`?

[2019-04-22 11:23] felixfontein commented on #55588
I just tried:
[code]
And then:
[code]

Which version of docker/docker-py (Python library) and docker engine are you using?

[2019-04-22 11:47] xvzf commented on #55588
Yes, I just made a quick example and did not notice that I forgot the `_servers`. I'll update the issue accordingly

I just setup a new VM and installed the latest version of docker using `get.docker.com` and installed the latest version of `docker-pi` via `pip2` and the issue still persists on the remote hosts.

Weird is that on my notebook everything works just fine.

Do you have any idea of whe

[2019-04-22 12:07] felixfontein commented on #55588
Don't install [docker-py](https://pypi.org/project/docker-py/) if you don't need Python 2.6 support. Install [docker](https://pypi.org/project/docker/) instead. (You have to remove docker-py *before* installing docker, otherwise your installation might end up broken.) Also, which version of docker (i.e. output of `docker version`, the server part) are you using? The API version is usually the inte

[2019-04-22 12:11] felixfontein commented on #55588
Also, about reproducing this: have you tried running my minimal example? What is the output of `docker exec test cat /etc/resolv.conf`?

[2019-04-22 12:23] chrisvanheuveln commented on #53887
@trishnaguha Please see updated code at [chrisvanheuveln#3](https://github.com/chrisvanheuveln/ansible/pull/3). My changes have been validated on N9K/N7K/N6K.

[2019-04-22 12:38] hannseman commented on #55581
This appears to be broken in 2.7 and the 2.8 beta. We should change the type of these options to be `str` and extend the tests to actually cover these options. I think `mode` is supposed to be an `int` as an octal number.

This problem is probably present in `configs` as well.

[2019-04-22 12:52] felixfontein commented on #55581
Either we convert the values manually to `str`, or we change the definition to `str`. The latter is better if docker's API also supports specifying user names / group names there (no idea whether that's supported).

Octal numbers always have been problematic, because most people don't really know how to enter them (and possibly end up with a completely wrong value). Using `str` there is probably b

[2019-04-22 13:08] xvzf commented on #55588
Okay, everything is working now with `docker` installed.

Now I am missing the option to set a dns for `docker_network` but I guess this is not part of this issue so I'll close it!

[2019-04-22 13:08] #55588 closed, assigned to nobody

[2019-04-22 13:12] hannseman commented on #55581
The Docker API expects an `int` here so we would have to implement conversion from a string to an octal number if we went down that road. Maybe adding documentation about the `mode` option requiring an octal number might be sufficient for now?

I'll open a PR which fixes the uid/gid type error..

[2019-04-22 13:23] dagwieers commented on #54250
Just my impression, start_mode is only changed when the state is actually modified.

[2019-04-22 13:23] felixfontein commented on #55588
Interesting. I also tried it with docker-py 1.10.6 (the latest docker-py version), with 1.8.0 (the earliest supported by Ansible 2.8), and 1.7.0 (the earliest supported by Ansible 2.7, though that currently is broken, see #55496), and it worked with these as well. Do you know which docker-py version you had installed?

I'm not sure docker actually provides the possibility to set DNS servers for ne

[2019-04-22 13:31] felixfontein commented on #55581
Mode handling is complicated. There's a PR for this which should improve the situation in the future: #50035 But for now, I guess sticking to `int` and documenting how to use it properly is the best way to go (especially because it is already set to type `int`).

[2019-04-22 13:34] #54734 closed, assigned to nobody

[2019-04-22 13:49] justjais commented on #55128
@digifuchsi thanks for raising the issue, I have raised a PR to fix the issue and once merged in `devel` branch I shall backport it to ansible `2.7` branch.

[2019-04-22 13:53] aparedero opened #55596 "Migration from with_items to loop not clear"
##### SUMMARY
Not sure if is either documentation or bug reportn but at the time of this writing I'm migrating a simple "with_items" loop with the new keyword "loop" and if the content of the loop keyword is the variable which contains the dictionary it fails. I've used flatten modifier and dict2items with no success.

The variable is a list of dictionaries, so the old way is to use "with_items:"

[2019-04-22 14:11] aparedero commented on #55596
I discovered that ```loop: "{{ usuarios }}" ``` works.

But this way does not: ```
loop:
  - "{{ usuarios }}"
[code]
with_items:
  - "{{ usuarios }}"
[code]

Well I was used to write all loops in a new line in order to be cleaner but it seems new loop keyword doesn't like that. I'm not sure if this can be considered either a bug or not.

[2019-04-22 14:17] bcoca commented on #55596
`with_items` has an implicit `flatten(1)` that is why the 'list of one list' becomes 'one list', `loop` has no such magic. This 'feature' of with_items, was sometimes confusing, sometimes useful.

The problem is where you are applying the flatten, its not YOUR list but the YAML list created by `-`, let me rewrite your loop using 'shorthand' to give a better view:
[code]
is the same as
[code]
also

[2019-04-22 14:21] aparedero commented on #55596
Great, thank you @bcoca  I was still looking around the reason. I'll close.

[2019-04-22 14:21] #55596 closed, assigned to nobody

[2019-04-22 14:36] UnitedMarsupials commented on #54797
Unrelated to anything else, this ticket needs a better title...

[2019-04-22 14:45] wmcbroomd2d commented on #53680
It looks like @claudioiuliano has the right solution in PR #53398

[2019-04-22 15:29] #55581 closed, assigned to nobody

[2019-04-22 16:00] bcoca commented on #29683
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `repo` option is not designed to handle secrets, if you are going to pass them into the URL itself, you need to set `no_log: True`

[2019-04-22 16:00] #29683 closed, assigned to nobody

[2019-04-22 16:04] acozine commented on #54527
Backport was merged and 2.7 docs rebuilt. The page looks good now: https://docs.ansible.com/ansible/latest/dev_guide/testing_running_locally.html.

[2019-04-22 16:04] #54527 closed, assigned to nobody

[2019-04-22 16:07] ephesused opened #55612 "2.8: import of an empty play causes the entire playbook to error out as empty"
##### SUMMARY
Starting in 2.8, if the playbook has any import of an empty play then the overall execution fails completely, reporting "ERROR! Empty playbook, nothing to do".

Note that this issue also shows in the development branch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION

[code]

(This issue shows in 2.8.0a1, too.)

##### CONFIGURATION

[code]

[2019-04-22 16:10] mfish82 opened #55613 "ADD "Configure Exclusive" options to IOSXR configuration modules"
##### SUMMARY

IOSXR modules currently use "configure terminal" to enter configuration mode on the routers as it appears on line 62 of [(https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/plugins/cliconf/iosxr.py)]. ASR devices have the ability to enter "configure exclusive" which prevents concurrent configurations from happening.

##### ISSUE TYPE
- Feature Idea
Add the ability to cho

[2019-04-22 16:18] mbigras commented on #55476
Thank you for taking a look at this issue. I'd like this issue to be treated as a bug and not a feature request.

The fact that ansible systemd supports the glob character sometimes causes me to think the behavior is a bug. If the glob character was never supported then I'd think about this issue as a feature request.

Some reasons to support:

1. systemd is the entity handling the glob character,

[2019-04-22 16:25] bcoca commented on #24869
@regexcracker this should not be an issue with modules as they normally flag 'secret' fields as 'no_log', can you post a simple reproducer?

needs_info

[2019-04-22 16:53] drawks commented on #36394
I've also run into this behavior. The short of it is that the user (and group) modules in ansible rely on methods to check for user and group existence/state which don't appropriately target "local only". For example the user module uses the python `grp` module for interrogating group existence and membership and this module honors nsswitch for lookups; resultantly if you have a user/group that ex

[2019-04-22 16:55] bcoca commented on #55476
i cannot reproduce,  the 'service location' code is independent from action taken, and in both cases in my test it fails with`'*`.

needs_info

[2019-04-22 17:36] bcoca commented on #36394
@drawks i doubt you DTRT in all cases since there is no guaranteed way to get 'only local users'. We recently updated the modules to look at /etc/passwd|shadow files (probably the same you do) and that should cover most cases, but not all.

You can setup the local user source data in other ways, that don't use those files, i.e i can distribute berkley db files to /var/lib/nss_db/ as only source of

[2019-04-22 17:40] drawks commented on #36394
I didn't mean to imply it always DTRT, but the bigger point here is either one of:
1. the current module behavior is broken in a few different ways and should be fixed
2. the "local" flag behavior is both incorrect and non-trivial and should be considered for removal

[2019-04-22 17:58] fcam-naveen commented on #55381
@trishnaguha : can you please add instructions how to test this. I updated to
ansible 2.7.10.post0 (stable-2.7 44b3f967bf) last updated 2019/04/22 10:50:01 (GMT -700)

I still see the same problem when I use the module nxos_linkagg module

[2019-04-22 18:05] bcoca commented on #36394
I would not remove the feature, since many use it w/o issue, but I do agree it needs more 'caution tape' around it.

[2019-04-22 18:17] drawks commented on #36394
I'm curious what fix you'd suggest since you _just_ said there is no guaranteed way to limit the action to 'only local users'. If determining the state is really that complex to do in a platform independent/generic way and the resultant application of change is non-deterministic as a result it seems like there would be little choice but to remove the feature. The only middle ground I see would be

[2019-04-22 18:28] mbigras commented on #55476
Did you run the `systemd-run` commands to start 3 instantiated units before the `ansible-playbook` command?

[code]

I'm not sure what you mean here.

When talking about "action" do you mean `state: stopped`?
When talking about "service location" do you mean `name: 'foo@*.service'`?

[2019-04-22 18:48] bcoca commented on #55476
Establishing current service state (existing, active, enabled, etc) is done via `systemctl show '<name>'`, which happens before considering the module's `state` at all. That is how the module finds out if a service exists or not.  We use this and not the `is-active` option as that has not always been available and we need more information than what it provides. I either find the service or don't,

[2019-04-22 18:53] brendanlong commented on #42532
I just ran into this with a policy with no Version. Adding `"Version": "2012-10-17"` fixed it.

It would be nice if this anti-feature was removed.

[2019-04-22 18:56] bcoca commented on #17268
no need to 'confirm' since this ticket is open, it assumes the feature was not added

[2019-04-22 19:23] samdoran commented on #54461
Thank you for the feedback. I will merge and back port this.

[2019-04-22 19:24] #54461 closed, assigned to samdoran

[2019-04-22 19:49] s-hertel commented on #55612
Changed in 2d01966e87a20e004af41af3dbca59426ae51c17, cc @bcoca

[2019-04-22 19:52] devildog820 commented on #54797
Embarrassed I didn't notice the title...

[2019-04-22 20:24] bcoca commented on #55564
at this point, should we just not retire the module? should it be renamed? what is the product you use to host private versions?

[2019-04-22 20:30] wmcbroomd2d commented on #39552
I think this issue can be closed because a new Launch Template Module has been created `ec2_launch_template` in this PR which has been merged and is available in the `v2.8.0a1` release. https://github.com/ansible/ansible/pull/46972

[2019-04-22 20:34] bcoca commented on #51959
closing as dupe of #25414

[2019-04-22 20:34] #51959 closed, assigned to nobody

[2019-04-22 20:40] ryancabrera commented on #55558
In the meanwhile you can run this on you local machine:
`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`

[2019-04-22 20:46] samdoran commented on #55105
@cyberhalogen This is a [bot command](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#commands) to set file this issue relates to. Identifying the component helps the bot label it appropriately so it will be viewed and handled by the appropriate people.

[2019-04-22 20:57] jborean93 commented on #55558
Yep this is an issue that is deep down in Ansible dependencies for newer MacOS versions. More info can be found here https://github.com/ansible/ansible/issues/32499.

[2019-04-22 20:57] #55558 closed, assigned to nobody

[2019-04-22 21:07] basictheprogram commented on #55558
Follow up comment.

Same release of Ansible
  * Different versions of Python (see blow)
  * Same ansible configuration
  * Same remote Windows hosts

Give different behaviors. I read #32499 (which is closed) but the problem still exists and my limited knowledge says the problem is with python not Ansible?

[code]
## Fails
[code]
## Succeeds
[code]

[2019-04-22 21:11] jborean93 commented on #55558
It depends on how/when Python was compiled on MacOS. The problem is there but it's not something we can do in Ansible hence why we close the issue.

[2019-04-22 21:15] adisharoon commented on #55564
@bcoca I was referring to the self-hosted version of Hipchat, which Atlassian called 'Hipchat Data Center'. See https://confluence.atlassian.com/hipchatdc3

I think it's entirely reasonably to just retire the module. I don't know what the policy is on that sort of thing. If it _is_ to be retired, I may just create a custom module for ourselves as we will continue to use Hipchat and I think it migh

[2019-04-22 21:17] basictheprogram commented on #55558
Thank you for the explanation. For anyone visiting this in the future, python2 is mojave system python and python3 is from brew.

[2019-04-22 21:22] bazmera commented on #32872
Is there a fix for it?

[2019-04-22 21:39] karthi81 opened #55625 "ansible 2.8.0b1 - ESXi facts itself failing"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Facts should generated.

##### ACTUAL RESULTS

Some Import Errors

[code]

[2019-04-22 21:50] mfish82 opened #55626 "IOSXR_CONFIG Commit Label Character Limit Incorrect"
##### SUMMARY

Module limits commit label to 30 characters, however, device only allows 20 characters

RP/0/RSP0/CPU0:ASR9K(config)#commit label ABCDEFGHIJKLMNOPQRSTUVWXYZ
Mon Apr 22 14:35:18.923 PST

% Failed to commit .. As an error (Unknown) encountered during commit operation. Changes may not have been committed:
'CfgMgr' detected the 'warning' condition 'The format of specified commit label i

[2019-04-22 21:51] kbreit opened #55627 "New module - meraki_mx_radio"
##### SUMMARY
Meraki added support for RF profile configuration within the API. A module should be created, probably called `meraki_radio_settings` or something similar.

https://dashboard.meraki.com/api_docs#radio-settings

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Meraki

[2019-04-22 22:19] rambleraptor commented on #34368
Hello! You can query the dns records using the `gcp_dns_managed_zone_facts` module. We've created a new DNS Managed Zone module called `gcp_dns_managed_zone`. This has support for name servers (`name_server_set`).

Let me know if you have any other questions!

`close_me`

[2019-04-22 22:20] dbrummer opened #55630 "IronWare disable_pager function incorrect command"
##### SUMMARY
The IronWare Terminal Plugin (/ansible/plugins/terminal/ironware.py) uses the old/incorrect command to disable paging in the "disable_pager" function.  The correct command is 'skip-page-display' instead of 'terminal length 0'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
IronWare Terminal Plugin - /ansible/plugins/terminal/ironware.py

##### ANSIBLE VERSION
[code]

##### CONF

[2019-04-22 22:26] #34368 closed, assigned to nobody

[2019-04-22 22:35] codyjohn commented on #50905
I've added the extra task _and_ picked your commit with the extra logging.  I now see the following output:

[code]

[2019-04-22 22:44] doronbl opened #55631 "Ansible convert variables to unicode"
##### SUMMARY
I'm using telnet module and assigning port attribute value using a template in the playbook file. When the telnet try to open socket with the remote server the following error is reported:
[code]

I've debugged the code and found out that Ansible pass port parameter as 'unicode' instead of string or integer

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Problem observed when us

[2019-04-22 23:30] bcoca commented on #55564
@adisharoon makes sense, i was just asking since i have not followed/used hipchat in 5yrs, modifying the module to allow 'custom server api address' seems fine with me.

[2019-04-22 23:32] #47529 closed, assigned to nobody

[2019-04-22 23:35] mfisher30 commented on #55626
Sorry for the ticket... Appears that label character limit was raised in later versions of IOS-XR. 5.3.4, limit is 20.

[2019-04-22 23:35] #55626 closed, assigned to nobody

[2019-04-23 00:12] #25961 closed, assigned to nobody

[2019-04-23 01:17] patrickdillon commented on #37565
Agree with the above comment. This is still an issue in 2.4

[2019-04-23 01:24] agaffney commented on #37565
The current ansible version is `2.7.x` and `2.8` is about to be released. The ship has long since sailed on fixing it in `2.4.x`.

[2019-04-23 03:55] Akasurde commented on #55625
@karthi81 Thanks for reporting this issue. Could you please confirm the OS on `example-01` ? Thanks,

needs_info

[2019-04-23 05:25] changchichung opened #55634 "hard disk serial were automatic masked by <filter> ??"
I wrote a playbook to collect CPU/RAM/HDD info in ansible using command "inxi", and dunno why , the serial column were masked by "<filter>" , but I can run that command on remote host with correct value.
is there any ansible parameters to auto masked "security" column ?? and how to avoid that ?

##### SUMMARY

hard disk serial mask by ```<filter>```
##### ISSUE TYPE
- Bug Report

##### COMPONENT N

[2019-04-23 06:03] #55634 closed, assigned to nobody

[2019-04-23 06:36] GoodMirek commented on #39552
@wmcbroomd2d Thanks for the update, closing.
@ryansb Thanks for the implementation.

[2019-04-23 06:36] #39552 closed, assigned to nobody

[2019-04-23 07:49] demogebruiker opened #55638 "No package matching 'nginx' found available, installed or updated"
##### SUMMARY
when II run ansible-playbook configure.yml --ask-pass
on centos 7 x64 I get error

##### ISSUE TYPE
fatal: [coderebels]: FAILED! => {"changed": false, "msg": "No package matching 'nginx' found available, installed or updated", "rc": 126, "results": ["No package matching 'nginx' found available, installed or updated"]}

##### COMPONENT NAME
On another centos it runs perfect. Burg when

[2019-04-23 07:56] GrandeTartine commented on #55551
Hi @Tomorrow9  thanks for your feed backs. I'll take look at vmware_guest_disk to see if I can easily adapt my playbook and avoid this bug

[2019-04-23 08:13] Akasurde commented on #55638
@demogebruiker Please check if EPEL repo is installed and enabled and try again.

needs_info

[2019-04-23 08:44] Benoit-DunandLaisin commented on #55151
I strongly disagree with this comment.
It may be coded that way, but this not work as intended (flushing handlers in roles A and B will have the same result).

Let me reword the issue:

- In the same play:
  - Role **A** is skipped => ok
  - Role **B** is executed
    - => Role **common** is executed as a dependency, notifying "**my_handler**" => ok
- At the end of the play, "**my_handler**" is sk

[2019-04-23 08:58] pkaramol commented on #48312
The issue is still present with `ansible 2.7.7`. On my awx tower when I run a play targeting a host with an nfs mount and the nfs server is down, I got stuck at the [this part](https://gist.github.com/pkaramol/d818720566e493b78f497f93bac1bedd) for ever - verbosity 4 - (and the situation is not intuitive at all about what goes wrong)

[2019-04-23 09:16] willthames commented on #32872
A typical task definition ARN looks like `arn:aws:ec2:us-east-1:{{ aws_account_id }}:task-definition/sleep360:1`

Changing https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ecs_task.py#L315 to be

[code]

[2019-04-23 09:54] Fred-sun commented on #52082
@yungezz I had the same problem!  But how do you add access permissions? Thanks!

[2019-04-23 09:57] Fred-sun commented on #54138
@Wicaeed Could you give a try according by the above comments? Thanks!

[2019-04-23 10:17] MiteshShah opened #55640 "APT Module - Autoremove without any flags"
##### SUMMARY
When we call ansible playbook to install packages without autoremove option its still remove few packages

##### ISSUE TYPE

##### COMPONENT NAME
APT Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

This ansible playbook called without autoremove=yes still its removed node/npm package

[2019-04-23 10:20] vatsalparekh opened #55641 "Kubevirt inventory plugin taking all VMIs"
##### SUMMARY

Kubevirt inventory plugin seems to be taking all the vms even when only `network_name: ovs-net-1` was defined in the inventory yaml file
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Tries to reach both VM

[2019-04-23 10:21] vatsalparekh commented on #55641
cc: @machacekondra

[2019-04-23 10:39] willthames commented on #55554
@Asgoret wow, that is a quite the bug!

Can you reproduce it against the openshift origin container?

I use something like:
[code]

and then

[code]
to get the credentials.

[2019-04-23 11:01] lroquec opened #55642 "meraki_ssid not working"
##### SUMMARY
Simple bandwidth change does not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_ssid

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7
##### STEPS TO REPRODUCE

[code]

[2019-04-23 11:10] GitKoti235 commented on #5451
why is not working for me all_hosts and groups['hosts']

[2019-04-23 11:11] GitKoti235 commented on #5451
I am using shell module though in my linux localhost

[2019-04-23 11:20] machacekondra commented on #55641
@vatsalparekh can you please provide output of `oc get vmis -o yaml` ?

[2019-04-23 11:39] vatsalparekh commented on #55641
@machacekondra sent

[2019-04-23 12:01] kbreit commented on #55642
Thank you for reporting this. I will troubleshoot this later today.

[2019-04-23 12:12] pgassmann commented on #38193
close_me

[2019-04-23 12:15] kbreit commented on #55642
@lroquec I was able to spend a few minutes this morning troubleshooting it. The playbook you posted seems to work on the development version of `2.7.11`. The traceback is showing the problem is happening with querying your networks. Are you able to run these tasks successfully? Please fix any indenting issues with my example below. Thank you!

[code]

[2019-04-23 12:18] resmo opened #55644 "remote_user on task ignored on delegate_to"
##### SUMMARY

If `delegate_to` to a host not in an inventory (e.g. github.com), the user `cfg-user` defined in ansible.cfg is taken even if we defined a `remote_user` on task level.

If we put the host (e.g. github.com) into the inventory, `remote_user` on task level is used.

I would have expected, that `remote_user` on task level is used in every case.

##### ISSUE TYPE
- Bug Report

##### COMP

[2019-04-23 12:21] #38193 closed, assigned to nobody

[2019-04-23 12:22] nicolaibaralmueller opened #55645 "azure_rm_virtualmachine - data_disks missing options"
##### SUMMARY

data_disks caching does not support optione "None"
It is not clear if managed_disk_type indicates premium ssd or standard ssd.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

##### ADDITIONAL INFORMATION

We need to be able to set disk caching to none and select between premium or standard ssd disk types.

[2019-04-23 13:01] #51725 closed, assigned to nobody

[2019-04-23 13:19] #55381 closed, assigned to Qalthos

[2019-04-23 13:26] yami12376 opened #55647 "Ansible 2.7.10 Bug - Failed to transfer file to /tmp/ansible/ansible-tmp-1556025517.87-250300098554941/AnsiballZ_setup.py: [Errno 13] Permission denied:"
ansible --version
ansible 2.7.10

CentOS 7.6

 python version = 2.7.5 (default, Apr  9 2019, 14:30:50) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]

Example playbook:
[code]

when running like that:
` ansible-playbook 2_installJsReport.yml   --ask-sudo-pass`
And /etc/ansible/ansible.cfg got:

`remote_tmp     =  /tmp/ansible
`
i get an error after providing valid sudo password:

If i comment:
`remote_tm

[2019-04-23 13:46] karthi81 commented on #55625
VMware ESXi 6.0.0 Update 3

[root@example-01:~] ls -l /usr/bin/python
-r-xr-xr-x    1 root     root          5248 Mar 26 15:32 /usr/bin/python
[root@example-01:~]

More log:
=======
(dc_infra_ansible) [root@cisco-vagrant tmp]# ansible example-01 -m setup --tree /tmp/facts
 [WARNING]: No python interpreters found for host example-01 (tried ['/usr/bin/python', 'python3.7', 'python3.6', 'python3.5',

[2019-04-23 14:42] goneri opened #55653 "VMware: state of vmware_guest and vmware_guest_powerstate are not consistent"
##### SUMMARY

- vmware_guest_powerstate uses the following states:
    - powered-off
    - powered-on
    - reboot-guest
    - shutdown-guest

- vware_guest uses instead:
    - poweredon
    - poweredoff
    - rebootguest
    - shutdownguest

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_powerstate
vmware_guest

##### ANSIBLE VERSION

[code]

[2019-04-23 15:14] samdoran commented on #41660
Duplicate of #55590

[2019-04-23 15:14] #41660 closed, assigned to nobody

[2019-04-23 15:15] bcoca commented on #55590
The 'latest' is not always something we should use since the tool is supposed to maintain older distributions also. We would consider making changes if the current method is being removed or not working correctly, if you have any info in respect to that, we are happy to address it.

needs_info

[2019-04-23 15:16] jgcumming commented on #49254
I see this as well with other Network Operating systems.  Everything works if you run ansible using the following:

ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i inventory site.yml

Even though the variable above is set correctly in the group_vars/all file

[2019-04-23 15:19] Akasurde commented on #55653
@goneri This is by-design https://github.com/ansible/ansible/pull/30505#discussion_r141868261

[2019-04-23 15:20] bcoca commented on #55625
seems like ESXI's python is missing the 'multiprocessing' core lib

[2019-04-23 15:25] samdoran commented on #55640
This seems to be an issue with `apt` itself, not the Ansible module.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-23 15:25] #55640 closed, assigned to nobody

[2019-04-23 15:31] samdoran commented on #55647
The `/tmp` directory is not readable or writable by anyone other than `root`, as you show in your command output.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-23 15:31] #55647 closed, assigned to nobody

[2019-04-23 15:33] thedoubl3j opened #55656 "azure_rm_resourcegroup is missing test coverage"
##### SUMMARY

`azure_rm_resourcegroup` does not have test coverage in devel nor stabe 2.8.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup and azure_rm_resourcegroup_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

n/a
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

test coverage provided and passing

##### ACTUAL RESU

[2019-04-23 15:35] UnitedMarsupials commented on #14674
Three years... This ticket predates my own first exposure to Ansible...

[2019-04-23 15:36] DrHashi commented on #31691
As of ansible 2.7.9, this is still happening with PPA packages

[2019-04-23 15:53] jamesyoungman commented on #55590
Well, I'm not asking for support for bleeding edge stuff.   The functionality we're discussing is 9 years old or so.  /etc/apt/trusted.gpg.d has been supported in its current form since 2010.  Do you have a policy for how long distributions should be supported by Ansible?

A policy of not migrating away from the old way until it breaks would in effect force the Debian apt maintainers to, eventuall

[2019-04-23 16:00] esuarezsantana opened #55657 "include_tasks and check_mode"
##### SUMMARY
`check_mode` is not propagated when used with `include_tasks`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- check_mode
- include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Linux mypc 4.19.19-edu83+ #3 SMP PREEMPT Thu Jan 31 12:12:06 WET 2019 x86_64 GNU/Linux

##### STEPS TO REPRODUCE
- `main.yml`

[code]

- `check_only.yml`

[co

[2019-04-23 16:02] sivel commented on #55515
Note to self, the commit that temporarily allowed this desired behavior was ebf971f931290a113f738f658d7a6e095994e120

That actually prevented parent attr lookup on static parents, which is what #38827 solved.

It appears as though with ebf971f931290a113f738f658d7a6e095994e120 `run_once` was not inherited from static parents.  Now it is inherited.

Based on this so far, the current behavior may be

[2019-04-23 16:06] sivel commented on #55657
This is expected, and had been documented since 2.5 as part of https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

As such, starting with 2.7 you can now do:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2019-04-23 16:06] #55657 closed, assigned to nobody

[2019-04-23 16:13] sashka commented on #55590
I never saw any deprecation warning when I was rewriting this module, it
should've appeared later. It would be nice to have a link to Debian policy
or other authoritative document then to make things clean for everyone.

On Tue, 23 Apr 2019 at 18:54, jamesyoungman <notifications@github.com>
wrote:

--

A.

Sent from my phone

[2019-04-23 16:23] samdoran commented on #55625
This isn't an issue on ESXi 6.7.0.
[code]

I'll try to get an old version of ESXi to test with.

[2019-04-23 16:34] pilou- commented on #50278
It was mentioned during [an ansible-doc meeting](https://meetbot.fedoraproject.org/ansible-docs/2019-01-15/docs_working_group.2019-01-15-15.30.log.html#l-47):

[2019-04-23 16:35] mstuparu opened #55658 "Lookup plugin hashi_vault does not support equal sign in the argument values"
##### SUMMARY
Trying to use hashi_vault to retrieve a particular version of a secret(KV versioned secrets in Hashicorp Vault)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins

##### ANSIBLE VERSION
2.7.0

##### CONFIGURATION
Not relevant for this issue

##### OS / ENVIRONMENT
Not relevant for this issue

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Fetch version 3 of example

[2019-04-23 16:52] #55300 closed, assigned to sivel

[2019-04-23 16:52] #55302 closed, assigned to sivel

[2019-04-23 16:53] #51794 closed, assigned to sivel

[2019-04-23 16:53] #55303 closed, assigned to sivel

[2019-04-23 17:26] mbigras commented on #55476
I understand why handling the glob behavior is so difficult now. With `systemctl show` there's no way to discover information about a unit that isn't running using the glob character.

I was able to discover some information about a stopped unit using the glob character with the `list-unit-files` subcommand:

[code]

But the output is the same whether started or stopped. Also, if the ansible syste

[2019-04-23 17:31] byronmccollum commented on #51242
This appears to be because this module uses the OpenShift client, and imposes its syntax over the Kubernetes syntax.

[2019-04-23 17:44] sourcejedi commented on #14960
@ansibot
!component script

Also reproduces on 3.7.3 and commit 7ee6c136fddb .

[2019-04-23 18:06] bcoca commented on #55476
we could try to detect globing and do list unit files, but then this becomes about systemd module being able to handle mulitple services at the same time, right now the assumption is a single service is targeted per invocation.