[2019-09-03 18:24] Qalthos commented on #61490
Your issue as written is not the issue here. What you _have_ uncovered, is an unintended case-sensitivity in interface names on EOS. You can verify this by changing `loopback100` in your playbook to `Loopback100`, you should see no change.

I don't know offhand how this was resolved in the old modules (if at all?) but I have ported the `normalize_interface()` code from other platforms to serve thi

[2019-09-03 18:50] DaveCrown commented on #61327
I found the issue, the new key handling bits dont ignore things before the -----Begin Private Key-----

[2019-09-03 19:08] #59613 closed, assigned to nobody

[2019-09-03 19:15] DerrickTJ commented on #61327
Ah yep, that will do it.

[2019-09-03 19:18] DaveCrown commented on #61327
Looks like 2.5 through 2.7 was a lot more tolerant

[2019-09-03 19:18] #61327 closed, assigned to nobody

[2019-09-03 19:21] IPvSean commented on #61490
it is interesting, I tested both issues you are referring here before I opened the issue (both order and name) and they both caused issues, but today with newest dev branch the order issue doesn't matter anymore... so I think you an close this one

[2019-09-03 19:22] #41447 closed, assigned to nobody

[2019-09-03 19:22] #59140 closed, assigned to nobody

[2019-09-03 19:23] #50704 closed, assigned to nobody

[2019-09-03 19:23] #53393 closed, assigned to nobody

[2019-09-03 19:24] #58456 closed, assigned to nobody

[2019-09-03 19:29] jborean93 opened #61733 "Unstable integration test win_pagefile"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_pagefile integration test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Shippable

##### STEPS TO REPRODUCE
Run tests on Shippable

##### EXPECTED RESULTS
Tests pass

##### ACTUAL RESULTS
Tests are unstable or fail.

I'm not sure why this is unstable, I've been going through our exisiting tests to see what is

[2019-09-03 20:47] ctrufan opened #61738 "ecs_certificate chain not in standard format"
##### SUMMARY
The file contents that end up as the output of ecs_certificates "full_chain_path" are not a valid format for import into, for example, a PKCS12 store.

This is the result of the return value of the ECS API being an array, and not properly turning that array into concatenated certificates for the resulting PEM file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ecs_certificate

[2019-09-03 20:48] r9software commented on #56636
I'm having the same issue, and I'm not upgrading while ansible is running

[2019-09-03 21:34] felixfontein commented on #61698
I created a little test playbook to try to reproduce this:
[code]
For the first two tasks, which seem to do what you describe, everything works fine. Can you check whether they work for you or not?

The third one crashes with a stack trace equivalent to yours (this one is for `devel`, not for `stable-2.8`):
[code]

Regarding `default` and `omit`: I don't think these are at fault here, it looks lik

[2019-09-03 21:40] felixfontein commented on #61698
I've created #61740 to improve the error message when this happens.

[2019-09-03 22:03] maxamillion commented on #60323
Can you provide the output from a `yum` cli command that you would expect to perform this behavior? I don't have a system available with this set of criteria and I'm trying to reproduce to better understand if this is even something `yum` officially supports and if it does, how to support this in the Ansible `yum` module.

needs_info

[2019-09-03 23:09] davidmnoriega commented on #59680
I'm seeing this issue as well, with a simpler config:
[code]

[code]
I even tried using the `constructed` inventory plugin to try to set `ansible_host`, but that did not make any change. And just for fun, tried with 2.6.19, also same behavior.

I think this issue is also related #48309

+label affects_2.8
+label affects_2.6

[2019-09-03 23:19] davidmnoriega commented on #59680
I can confirm the linked PR unblocks me

[2019-09-03 23:35] ctrufan commented on #61738
I've identified the fix, just need to fix my git branches and look up process for whether it should be fixed now that 2.9 is frozen.

[2019-09-04 00:47] AlanCoding opened #61742 "No way to install an old version of a collection with ansible-galaxy command"
##### SUMMARY
I want to use `ansible-galaxy collection install` to install an old version. This seems to have been a thing with `mazer` but is not implemented in the current form.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ADDITIONAL INFORMATION
For case-in-point, say that I want to install version 1.0.0 of:

https://galaxy.ansible.com/chrismeyersfsu/te

[2019-09-04 00:49] arvindshmicrosoft commented on #60661
Thanks, @Fred-sun. I later figured out a problem that we had which was that we were not specifying the managed_disk_type within the luns_dict variable. But your change looks fine to me, thanks for following this through!

[2019-09-04 00:49] #60661 closed, assigned to nobody

[2019-09-04 00:57] arvindshmicrosoft commented on #51062
Hi, @Fred-sun. We are hitting the same error but in the context of the VMSS module. In this case, we are trying to create the VMSS from a custom image, which in turn has the data disks included in the image definition itself. In such a case, we'd like to override the disk type (SSD vs. HDD) specified in the image version to a specific value, but we are unable to do so. The error is the same:

"msg

[2019-09-04 01:05] jborean93 commented on #61742
You can do this by setting the collection name as `chrismeyersfsu.tower_modules:0.0.1` as per https://docs.ansible.com/ansible/devel/dev_guide/collections_tech_preview.html#installing-an-older-version-of-a-collection. Let me know if you are still having trouble and I can look into it a bit more.

[2019-09-04 01:07] kbreit commented on #61714
I am running this against `network-integration` which is what's causing the error.

[code]

[2019-09-04 01:17] AlanCoding commented on #61742
Oh I'm so sorry, totally my fault. I was looking completely in the wrong place. This all works exactly as expected.

[code]

[2019-09-04 01:17] #61742 closed, assigned to nobody

[2019-09-04 01:44] #59797 closed, assigned to nobody

[2019-09-04 01:58] ikhan2010 commented on #61715
@trishnaguha is this related to the facts PR that you were working on?

[2019-09-04 02:01] Fred-sun commented on #58624
@yungezz As described in the comments above, if this is not an Azure problem, maybe we can remove the Azure label. Please check! Thank you very much!

[2019-09-04 02:25] Fred-sun commented on #51062
@arvindshmicrosoft Yes, you can open a separate issue to track this! Thank you very much!

[2019-09-04 04:31] felixfontein commented on #61738
2.9 is feature freezed, i.e. only open for bugfixes and docs fixes. So it's still time to fix bugs :) Please create a PR; once that is merged, it can be [backported](https://docs.ansible.com/ansible/latest/community/development_process.html#backporting-merged-prs) to stable-2.9.

[2019-09-04 04:39] b2sweety commented on #47764
I am facing this issue on ansible 2.8.4 on ArubaOS (MODEL: Aruba7030-US), Version 8.3.0.8.  Could anyone please suggest the timeline when it would be fixed? and is there any workaround for it?

[2019-09-04 04:39] plastikat commented on #61712
This issue mentions *two* modules (`jenkins_script` and `jenkins_plugin`), while #61672 only deals with `jenkins_plugin`, so not a full duplicate (though overlapping, I agree).
I have also updated the description to include the LTS version of Jenkins.

[2019-09-04 05:25] Fred-sun commented on #60153
fixes by #61238

[2019-09-04 06:21] liyakhatalisheikh opened #61751 "/usr/lib/python3: Permission denied"
I'm using `ansible 2.8.4`, Added `ansible_python_interpreter: "/usr/lib/python3/"` to my inventory file and when running ansible-playbook getting below error
[code]

[2019-09-04 06:28] #61664 closed, assigned to nobody

[2019-09-04 06:30] plastikat commented on #61672
@JKDingwall, thanks for your work. Could you also fix the `jenkins_script` module in a similar fashion?
You can look at #61713 (the very first commit in that branch) to spot the pieces to change.

[2019-09-04 06:48] ppuschmann commented on #42262
@Akasurde So the previous solution using `pysphere` provided more features than the current sulution with `pyvomi`.

So I guess we/someone should update the documentation and add the limitations of the new module.
A bit unfortunate that we (currently) don't know much about the differences of the two modules.

[2019-09-04 07:04] Fred-sun commented on #58729
@zikalino Can you give a fix when you're free? Thank you very much!

[2019-09-04 07:06] Akasurde commented on #61751
@liya2664 Could you please check if `/usr/lib/python` is binary or directory ? I think, the correct value would be `/usr/bin/python`.

needs_info

[2019-09-04 07:08] Fred-sun commented on #58585
@zikalino Any update for this?

[2019-09-04 07:11] #61751 closed, assigned to Akasurde

[2019-09-04 07:11] liya2664 commented on #61751
@Akasurde yeah that's the issue

[2019-09-04 07:14] clammers opened #61753 "Support use-vrf and certificate on nxos_nxapi"
##### SUMMARY

Support for config options use-vrf and certificate
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos_nxapi

##### ADDITIONAL INFORMATION

It is needed to secure nxapi only accessible from vrf management and use own certificates

[code]

[2019-09-04 07:23] Poil commented on #61698
Hi,

Same for me, I think I forgot to flush-cache on some runs that's why I was becoming crazy and looking for a complicated way.

But for me there is still something that is not  user friendly in Ansible :

If I create this role :

[code]

And this playbook
[code]

Loop docker1 is OK
Loop docker2 is KO (invalid literal for int() with base 10)
Loop docker3 is OK

I really don't understand why dock

[2019-09-04 07:34] Fred-sun commented on #58601
@elaurijssens You might be able to get the vault Uri using the azure_rm_resource_facts module, please try. Thanks a lot!
[code]

[2019-09-04 08:09] Andersson007 commented on #61708
@Piknik1990 hello, thank you for reporting this issue.
Could you please try to reproduce this directly without AWX and let us know about the result

[2019-09-04 08:10] mjeco opened #61754 "gitlab_user: add support to block user account"
### SUMMARY
The `gitlab_user` module currently supports only two states; present and absent. The `python-gitlab` package has the ability to also block a user account. Deleting a user is not always desired as all projects owned by that user will be also permanently removed from GitLab too. It would be nice to add a new state of `blocked` where the user account is blocked instead of deleted.

#####

[2019-09-04 08:32] magrossm opened #61756 "EnablePSRemoting.ps1 unmatch of Certificate CN and Hostname"
##### SUMMARY
The EnablePSRemoting.ps1 cannot be executed because it tells me the CN and the hostname of the machine in the certificate do not match.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
EnablePSRemoting.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2016 Datacenter

##### STEPS TO REPRODUCE

EnablePSRemoting.ps1 as Administrator on

[2019-09-04 08:35] Shaps commented on #61525
@Lunik I suppose a shared 'authentication' function/method from module_utils would do the job?

[2019-09-04 08:47] trishnaguha commented on #61715
@IPvSean Do you have `ansible_facts_modules` set anywhere? Currently this needs to set in order to return gathered facts at play level. It accepts list of facts module names.
For instance `ansible_facts_modules=eos_facts, nxos_facts, ...`.

If you don't want to set this manually, you will have to use `smart` gathering.
smart gathering can be set either as env variable or under defaults in inventor

[2019-09-04 08:54] lonix1 opened #61757 "[Bug] import_role does not respect sudirectories"
##### ISSUE TYPE
- Bug Report

##### SUMMARY
`include_role` respects sudirectories, but `import_role` does not.

##### STEPS TO REPRODUCE
works:
[code]

fails:
[code]

error:

##### ANSIBLE VERSION
ubuntu 19.04
ansible 2.8.4

[2019-09-04 09:00] clammers commented on #61211
bot_broken

[2019-09-04 09:06] Andersson007 commented on #61708
@Piknik1990 , I just tried to reproduce this (but without AWS): 1) create DB with parameters like in this report, 2) remove and reinit the cluster, 3) create DB again - it works as expected. I checked - there wasn't any fixes in 2.7 and the next releases. The question above is actual now.

[2019-09-04 09:07] hogarthj commented on #61712
Thanks for the report and the suggestions for a fix ... we don't run with CSRF enabled at my workplace so I hadn't seen this happen myself.

[2019-09-04 09:13] Akasurde commented on #61757
!component =lib/ansible/modules/utilities/logic/import_role.py

[2019-09-04 09:24] Rajinikamu84 commented on #61541
@Fred-Sun I have upgraded ansible to 2.8 version and upgraded to below azure modules.

azure-cli-core==2.0.35
azure-cli-nspkg==3.0.2
azure-common==1.1.11
azure-graphrbac==0.40.0
azure-keyvault==1.0.0a1
azure-mgmt-authorization==0.51.1
azure-mgmt-batch==5.0.1
azure-mgmt-cdn==3.0.0
azure-mgmt-compute==4.4.0
azure-mgmt-containerinstance==1.4.0
azure-mgmt-containerregistry==2.0.0
azure-mgmt-containers

[2019-09-04 09:27] nralbers opened #61758 "Conditionals documentation should explicitly define what operators are supported"
##### SUMMARY
The current documentation page for Conditionals and the 'when' clause only imples what the supported comparison operators are. For clarity, the supported operators should be explicitly documented.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
user_guide/playbooks_conditionals.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##

[2019-09-04 09:30] Fred-sun commented on #61541
@Rajinikamu84 Thanks for your share. I will.

[2019-09-04 09:52] Akasurde commented on #61758
!component =docs/docsite/rst/user_guide/playbooks_conditionals.rst

[2019-09-04 11:07] gundalow commented on #37707
resolved_by_pr: 61750
Reviews welcome on https://github.com/ansible/ansible/pull/61750 so we can get that merged. Thanks in advance

[2019-09-04 11:24] dagwieers commented on #61758
We accept contributions for documentation.

[2019-09-04 11:33] JKDingwall commented on #61672
I would have to install an older version to test that.  I assume it should be ok as the older version would only care that you are providing a valid crumb and would ignore the fact that the session is being maintained.

[2019-09-04 11:36] JKDingwall commented on #61672
It looks relatively simple to build on #61673, I'll give it a go.

[2019-09-04 12:04] pabelanger commented on #61646
Another failure: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_62/61362/0dcb1287f903dfbea90eea6eeac352d609e133b0/third-party-check/ansible-test-network-integration-iosxr-python35/1c89750/controller/ara-report/

[2019-09-04 12:06] NilashishC commented on #61719
Should be resolved by #61761

[2019-09-04 12:08] Udayendu opened #61762 "VMware: No State parameter for 'vmware_deploy_ovf' module."
##### SUMMARY
No State parameter for 'vmware_deploy_ovf' module.

##### ISSUE TYPE
- Allow state for 'vmware_deploy_ovf' module so that if the template is available, playbook can continue using the same template.

##### COMPONENT NAME
- vmware_deploy_ovf

##### ADDITIONAL INFORMATION
If a playbook is having four plays:
    - Create a folder for VM & Templates
    - Create a template using 'vmware_

[2019-09-04 12:08] rmacian opened #61763 "Add try-restart state to systemd"
##### SUMMARY
Be able to restart a service only if it's running

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
systemd

##### ADDITIONAL INFORMATION
I need to restart some services on a cluster and they are present but not enabled on both. I need to restart only if they are running on each node.

From the systemctl's man page it's supported with the try-restart command

[code]

[code]

[2019-09-04 12:47] Xat59 commented on #61666
I can confirm this bug on CentOS with ansible 2.8.2 .

Thank you !

[2019-09-04 12:49] pabelanger opened #61766 "iosxr_config : config setup route-policy/prefix-set/as-path-set/community-set failure"
##### SUMMARY

For some reason, we've had a failure in iosxr_config and our integration tests. This is to help track the failure so we can see if there is a pattern.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_11/61711/aac18c90204cf8d151fd7b61336c4c8c9ca8427e/third-party-check/ansible-test-network-integration-iosxr-python37/cbafb2b/controller/ara-repor

[2019-09-04 13:11] jeking3 opened #61767 "azure_rm_virtualmachine is not behaving idempotently managing the storage account"
##### SUMMARY

If you run a playbook and end up with a VM, and then run the playbook again, you will end up with two storage accounts with a name similar to the vm.  The vm's _own_sa_ tag will be updated on the second run to point at the second storage account, and the first one becomes a remnant (and is no longer managed).

This issue may have been introduced when boot diagnostics was added (by m

[2019-09-04 13:13] sivel commented on #61714
Ok, so that argument isn't exposed, due to this line:

https://github.com/ansible/ansible/blob/830f995ed4374a0c75b41837186e719b5c43f845/test/lib/ansible_test/_internal/cli.py#L362

After thinking about this, I'm going to take a step back for a moment.

What is not working for you, that this option is needed?

Typically, we use it for situations where you are needing to use some service that couple

[2019-09-04 13:20] Piknik1990 commented on #61708
Yes, of course.

(Spoiler: ubuntu is solved, redhat-like - no)

[code]

[2019-09-04 13:32] danielmellado commented on #61242
Would you mind ellaborating on "I assume this is same thing @ganeshrn had for the other juniper module with junos_interfaces"? Thanks! I'm adding ganesh here as well ;)

[2019-09-04 13:34] Andersson007 commented on #61708
@Piknik1990 thank you for the detailed output.
I used CentOS 7, Ansible 2.7, and devel branches - works as expected.
I suspect there are possible problems with the environment on the hosts.
i'll try to find time to look at your output in detail tomorrow.

[2019-09-04 13:44] Piknik1990 commented on #61708
Not need - this is a logical problem:
When I running re-initdb - I don't stoping PostgreSQL-service  and this service thinks, what a databases is exists. But db-files recreating, the postgresql_db and the postgresql_user saw databases, not had changed and in finish PostgreSQL-service restarting by handlers.

In short, this is helped me:
[code]

Sorry for disturbing

[2019-09-04 13:48] #61708 closed, assigned to nobody

[2019-09-04 13:55] danielmellado commented on #61547
Seems like a documentation mismatch.

[2019-09-04 13:56] danielmellado commented on #61535
Could you please elaborate on why did you reopen the issue? Thanks!

[2019-09-04 14:00] Andersson007 commented on #61708
@Piknik1990 , no problem! I’m really happy it’s not a bug :) so it was worth to figure it out ! it’s always a good idea to check possible bugs together when we see something strange than doing nothing.
Anyway thank you!

[2019-09-04 14:04] IPvSean opened #61772 "eos_facts module creates 11 warnings with the gather_network_resources: all parameter"
##### SUMMARY
eos_facts module creates 11 warnings with the gather_network_resources: all parameter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_facts
most likely all *os_facts modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
rhel 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
no warnings

##### ACTUAL RESULTS

[code]

[2019-09-04 14:04] D3DeFi commented on #61297
Hey @chithanh89 . Same as you've mentioned in your last comment is shown in examples of all zabbix modules. It is always recommended to use `local_action` or `delegate_to: <host>` when running modules that interact with API of single service.

Nonetheless, I was unable to reproduce the problem that you're reporting even if I tried to create same zabbix host group from multiple hosts at once:
[code

[2019-09-04 14:07] #61297 closed, assigned to nobody

[2019-09-04 14:08] nemethloci commented on #58824
I can see this issue as well.
ansible-playbook 2.8.2

Tested with port_policy.block_override:
- modifying the setting true -> false/false->true does not have effect on portgroup
- deleting portgroup with state: absent, then creating it again with state:present (with the new setting) works fine

[2019-09-04 14:10] IPvSean opened #61773 "junos resource modules are documented with parameter `commands` but use the return value `xml`"
##### SUMMARY
in the module documentation we have the return value set to `before` and `after` and `commands` for all resource modules.  At some point this changed for only junos resource modules, and only for the parameter `commands`.  It has been changed to `xml`.  I think this *should* be *commands* and just return the xml payload under the variable named *commands*

this file can be found here

[2019-09-04 14:20] jghal commented on #60153
That PR says it's for 2.9. Will it be included in a 2.8.x release too?

[2019-09-04 14:21] kedark3 commented on #59140
Glad this is fixed!!

[2019-09-04 14:29] #61719 closed, assigned to NilashishC

[2019-09-04 14:45] Qalthos commented on #61547
For `net_logging`, the options its parameters accept are totally dependent on the underlying platform module, regardless of what is documented. This is one of the reasons the net modules have been deprecated... it becomes nearly impossible to accurately document very quickly. In this case, the module documents the minimum accepted options common to all platforms.

For `ios_logging`, it seems that

[2019-09-04 14:50] gundalow commented on #59140
If you are interested in `ovirt` getting extra eyes on the PRs listed at https://github.com/ansible/ansible/labels/ovirt would really help.

[2019-09-04 14:55] AlanCoding opened #61778 "Ability to append path to configuration setting"
##### SUMMARY
Several Ansible config settings are a lists of paths.

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings

Examples:

 - COLLECTIONS_PATHS
 - DEFAULT_INVENTORY_PLUGIN_PATH
 - DEFAULT_MODULE_PATH

If I use an environment variable to apply a new path, then the existing paths (from the defaults) are clobbered. I would like for there t

[2019-09-04 15:15] samccann opened #61780 "Add documentation for the network resource model builder"
##### SUMMARY

Add how to use the resource model builder to the network developer guide.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-09-04 15:18] hadmut opened #61781 "rabbitmq modules can create but not remove"
##### SUMMARY
modules like rabbitmq_queue or rabbitmq_exchange can create queues and exchanges, but not remove them.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq

##### ANSIBLE VERSION
2.5.1 (and following the docs, still 2.8)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

just try to write a task that removes an exchange or queue.

[2019-09-04 15:22] geerlingguy commented on #56832
Agreed that this seems completely arbitrary, and just clutters up my playbook output. I'd rather have actionable issues be displayed rather than warning about falling back to what is the default on Ubuntu.

[2019-09-04 15:27] geerlingguy commented on #56832
Added new PR with the test removed: https://github.com/ansible/ansible/pull/61782

[2019-09-04 15:27] agaffney commented on #56832
Just to note, it's possible to apply the suggested workaround by adding a block like the following to the play using a third party role.

[code]

[2019-09-04 15:36] plastikat commented on #61672
Thanks again for implementing this.

[2019-09-04 16:38] kbreit commented on #61714
I do my development on a Mac (latest version) and trying to run `network-integration` tests. It used to work just fine. I know there were some changes around ignored files not being copied into the container so it's possible that's getting in my way. Here is output I'm seeing.

[code]

Does it make sense to note in documentation this option is only valid for `integration` and not network?

[2019-09-04 16:45] sivel commented on #61758
I'm not sure it should. Templating, and by extension the `when` statement, is provided by jinja2. I do not believe we should enumerate all functionality of jinja2, instead users should be pointed to https://jinja.palletsprojects.com/en/master/templates/ for further information.

[2019-09-04 17:18] nitzmahone commented on #60153
This can never actually be fixed properly- Azure CLI and Ansible's use of the Azure SDK will always have conflicting versions, since the Azure SDK requirements graph changes almost daily. The solution is to use an OS-packaged Azure CLI (most of which install to a dedicated Python virtualenv) or to pip-install the Azure CLI to its own virtualenv.

[2019-09-04 17:18] #60153 closed, assigned to nobody

[2019-09-04 17:21] andrewsomething commented on #61665
This was raised with the team at DigitalOcean. There had been a change deployed to the `/v2/droplets` endpoint to reject requests with extra, non-supported parameters. This was not communicated properly, and broke existing implementations. The change has been rolled back, and this should now work as it did previously. Sorry for the disruption.

As an aside, I'd encourage you to move to the newer `

[2019-09-04 17:33] felixfontein commented on #61698
That behavior is to be expected when looking at the [documentation of default](https://jinja.palletsprojects.com/en/2.10.x/templates/#default) (this comes from jinja2, BTW, not from Ansible!): it says `If the value is undefined it will return the passed default value, otherwise the value of the variable`. Since in your second loop iteration, `item.published_ports` is explicitly defined (with value

[2019-09-04 17:33] #61698 closed, assigned to nobody

[2019-09-04 17:34] #60961 closed, assigned to nobody

[2019-09-04 17:41] sivel commented on #61666
I can duplicate this, but only when not using proper credentials.

Using the following in `~/.netrc` works fine:

[code]

If I use my actual password in there, it fails, presumably due to security configurations.

For what it's worth, using my personal access token also works for all instances of curl as well.

[2019-09-04 17:57] #61459 closed, assigned to samccann

[2019-09-04 18:22] gamuniz opened #61801 "Add Cisco Call Manager Module"
##### SUMMARY

It would be a good addition to add a call manager module to automate tasks against it.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Automate tasks against Call Manager

[code]

[2019-09-04 18:23] #58346 closed, assigned to samccann

[2019-09-04 18:33] catspy opened #61803 "Ansible Deployment Bug"
There seems to be a bug when modifying the container's name of a Deployment resource.
##### STEPS TO REPRODUCE

First create a deployment resource with a specific name for the containers (container-x) and a specific limited memory and CPU quota.
Deploy into kubernetes cluster
Then modify the Manifest of kubernetes by changing the name of the container (container-y)
Deploy again

Ansible version: 2

[2019-09-04 18:35] samccann commented on #57679
Fixed as part of #58832

[2019-09-04 18:35] #57679 closed, assigned to nobody

[2019-09-04 18:36] samccann commented on #51992
Fixed as part of the theme update issue - #58832

[2019-09-04 18:36] #51992 closed, assigned to nobody

[2019-09-04 18:37] samccann commented on #56619
Improved by the theme update - #58832

[2019-09-04 18:37] #56619 closed, assigned to nobody

[2019-09-04 18:40] arvindshmicrosoft opened #61804 "azure_rm_virtualmachinescaleset module fails to create a VMSS when data disks are specified in custom image"
##### SUMMARY

The Ansible azure_rm_virtualmachinescaleset module fails to create a VMSS when data disks are specified, and the source for the VM is a custom image which also has exactly the same disk profile specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachinescaleset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.

[2019-09-04 18:41] arvindshmicrosoft commented on #61804
@Fred-sun thank you for your help. I have created this issue as per our other conversation. Note that this seems to be a specific issue with Ansible, because we are able to use the data disks from image (and even override the disk SKU in that case) by using Azure CLI.

[2019-09-04 18:46] samccann commented on #46154
Closing as issue seems to be addressed (see above comment).

[2019-09-04 18:46] #46154 closed, assigned to nobody

[2019-09-04 18:48] samccann commented on #43573
looking at this - it seems the top-left search doesn't have snippets, but the bottom-right 'site search' does.

[2019-09-04 18:54] pabelanger commented on #61305
We just seen another failure: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_85/61785/3b480db76ec085ec4724da2df092343202ff4a1b/third-party-check/ansible-test-network-integration-iosxr-python35/18f6258/controller/ara-report/#

This was found after the merged code above

[2019-09-04 19:03] mariolenz commented on #60409
In that case, can you please close this issue? The PR is merged into 2.9.

[2019-09-04 19:03] mariolenz commented on #60408
In that case, can you please close this issue? The PR is merged into 2.9.

[2019-09-04 19:07] mariolenz commented on #58757
PR #60233 has been merged into stable-2.9. If this doesn't fix your problem, please tell us. Otherwise, please close this issue.

[2019-09-04 19:25] kbreit commented on #61801
@gamuniz What would you want to see automated when it comes to CM?

[2019-09-04 19:26] jborean93 commented on #60216
During the intial development for `ansible-galaxy collection install` we couldn't come to a consensus of what should be the default install location. The end result was to punt the decision and make it a mandatory argument. For now this won't change for the 2.9 release so I am going to close the issue.

[2019-09-04 19:26] #60216 closed, assigned to nobody

[2019-09-04 19:26] kbreit commented on #53586
Closing based on notes in PR.

[2019-09-04 19:26] #53586 closed, assigned to nobody

[2019-09-04 19:29] jborean93 commented on #58855
Sorry this has slipped through the gaps and has been fixed with https://github.com/ansible/ansible/pull/58483.

[2019-09-04 19:29] #58855 closed, assigned to nobody

[2019-09-04 19:32] kannarajesh26 opened #61809 "condition before retires complete in async_status"
HI Everyone

I written a async_status to get the status of a job, but some reason even though the job is done the job status in not coming back to non-zero., in that cases it is erroring out and that host is ignoring,

i want to do a pause before the retires go to "0", let say in the below code, it will retries 100 times,
but, i want to add a pause before the retries goes to zero. is it Possible?

[2019-09-04 19:32] sumanyunandwani commented on #61486
I also run multiple playbooks on a different set of servers in parallel to this playbook execution on different screens. I have set **forks=100**. Kindly let me know if somehow this is the reason behind this bug. Note - All other playbooks executed successfully and only one got stuck in this situation.

[2019-09-04 19:38] acalm commented on #51702
@Nani-o it's been a while since this issue was opened, while looking through your [gist](https://gist.github.com/Nani-o/ad39aabacb9e4b9bdc731c16339608ea) I noticed that http_agent was set in the module spec in both cases and skimming the code in `lib/ansible/module_utils/urls.py` I cannot see how this (user agent part being removed) is supposed to happen, the headers including the user agent are s

[2019-09-04 20:02] vikas7999 opened #61811 "Ansible -ValueError: too many values to unpack"
Getting ansible -ValueError: too many values to unpack.

ansible 2.10.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /root/.local/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Sep 12 2018, 05:3

[2019-09-04 20:12] sivel commented on #61811
cc @Qalthos

[2019-09-04 20:15] mulatinho commented on #58973
Made a PR https://github.com/ansible/ansible/pull/61812 to resolve that issue.

- if *type* is defined and *label* too, label takes the preference (*LUKS2 will be used*)
- if *type* is defined and *label not*, luks format *will use the option choosed of user*.
- if type and label is *not defined* it will be used the default option of cryptsetup binary.

[2019-09-04 20:31] vikas7999 commented on #61811
Issue Type :
Ansible -ValueError: too many values to unpack

ansible version
ansible 2.10.0.dev0
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /root/.local/lib/python2.7/site-packages/ansible
executable location = /bin/ansible
python version = 2.7.5 (default, Sep 12

[2019-09-04 21:02] goneri opened #61815 "docker_swarm functional test is unreliable"
##### SUMMARY

About 20% of the `docker_swarm` test role runs fail with the following error. I tried to increase the timeout to 180s without any success. Once the Swarm instance is in this state, it's not possible to leave it. We get the same error, and we need to kill/restart the docker service.

[code]

The log:

[code]

The freeze starts at `Sep 04 16:39:03`.

##### ISSUE TYPE
- Bug Report

###

[2019-09-04 21:06] #61624 closed, assigned to nobody

[2019-09-04 21:17] goneri commented on #61815
[code]

Maybe related to https://github.com/moby/moby/pull/35475

[2019-09-04 21:22] Yannis100 commented on #61535
I didn't take care of the second part of the issue in my merge request

[2019-09-04 23:07] jborean93 commented on #61553
I think this line needs to actually point to https://docs.ansible.com/ansible/latest/reference_appendices/config.html#galaxy-server but there seems to be a mixture of information here and on that collections_tech_preview page.

[2019-09-04 23:14] pabelanger opened #61819 "eos tests: AttributeError: 'NoneType' object has no attribute 'endswith'"
##### SUMMARY
We seem to be having an issue with eos testing and AttributeError: 'NoneType' object has no attribute 'endswith'.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_79/61779/2a3bc59e39230ad945d42da08a8aad3f91dee027/third-party-check/ansible-test-network-integration-eos-python37/52a7e42/controller/ansible-debug.html#l48225

It looks like self._ge

[2019-09-04 23:19] pabelanger commented on #61819
https://github.com/ansible/ansible/pull/61797 is a potential fix

[2019-09-04 23:56] jborean93 commented on #61027
I am unable to replicate this issue, I've run tests on devel and stable-2.9 and `ansible-galaxy role install ...` increments the download counter as expected.

Potentially this is related to https://github.com/ansible/ansible/issues/61609 where the `--server` option wasn't being respected which will be fixed with https://github.com/ansible/ansible/pull/61820. Once I ran with that patch and ran the

[2019-09-04 23:56] #61027 closed, assigned to nobody

[2019-09-05 00:08] jborean93 commented on #59795
I've got a potential solution for this with https://github.com/jborean93/pypsrp/pull/51 which does take a minor performance hit but works properly over the PSRP layer. I probably want to let that sink in a bit before considering moving it to Ansible as well.

As for JEA, there really isn't much value to get with that and Ansible. As you said we pretty much require the ability to do whatever we wan

[2019-09-05 00:21] guybluebat opened #61822 "Iptables module hangs setting output policy to drop in Ansible v2.8 and above"
##### SUMMARY
Under Ansible 2.8 and above, using the iptables module to set the output policy to DROP for a host causes the playbook execution to hang.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
(AWS EC2 instance)
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release: 18.04
Code

[2019-09-05 00:42] AlanCoding commented on #61553
That link looks perfectly reasonable to me.

[2019-09-05 01:38] jborean93 commented on #61553
I've opened https://github.com/ansible/ansible/pull/61823 to at least get this link working again. We can revisit the contents of the page in another PR.

[2019-09-05 01:39] Akasurde commented on #60408
Marking as closed since PR is merged. Please feel free to open a new issue if problem persists. Thanks.

[2019-09-05 01:39] #60408 closed, assigned to nobody

[2019-09-05 01:39] Akasurde commented on #60408
@mariolenz Thanks for taking a look into this. @arjunprakashn Thanks for testing the PR.

[2019-09-05 01:41] Akasurde commented on #58757
Closing as per https://github.com/ansible/ansible/issues/58757#issuecomment-528041784. Please feel free to open a new issue if problem persists. Thanks @mariolenz for taking a look into this.

[2019-09-05 01:41] #58757 closed, assigned to nobody

[2019-09-05 01:42] Akasurde commented on #60409
Closing this issue since PR is merged. Please feel to open a new issue if problem persists. Thanks @mariolenz for taking a look into this. @arjunprakashn Thanks for testing the PR.

[2019-09-05 01:42] #60409 closed, assigned to nobody

[2019-09-05 01:46] #61609 closed, assigned to nobody

[2019-09-05 02:45] #37707 closed, assigned to nobody

[2019-09-05 03:08] pabelanger commented on #61694
2 more failures

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic/github.com/ansible/ansible/devel/ansible-test-network-integration-ios-python36/0c198f2/controller/ara-report/

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic/github.com/ansible/ansible/devel/ansible-test-network-integration-ios-python

[2019-09-05 03:15] Fred-sun commented on #61804
@arvindshmicrosoft Thanks for your contribution. But executing your playbook on the local VM, you can create VMSS from the customer image without any problems. Thank you very much!

[2019-09-05 04:30] gauravstar opened #61826 "win_update module not working as expected for Windows 2016 Server (managed host)"
Here is the windows update playbook , which is not running for Windows server 2016 & Windows server 2008 R2 servers edition. Same code working fine on windows server 2012 R2.
Its seem there is some issue with win_update module  with 2.8.2 version. Its able to search for an update but installation of patches not working.

Windows update via GUI option on the server working fine .

![image](https://

[2019-09-05 04:45] gauravstar commented on #61826
Can you please help what i need to fill in component name ?

[2019-09-05 05:29] arvindshmicrosoft commented on #61804
I'm sorry, @Fred-sun - I don't quite understand what you mean. We are able to reproduce the bug 100% of the time, do you mean you cannot see an issue? BTW, if you are MSFT internal please could you find me via. email / Teams? I can then show you the exact scenario we are facing.

[2019-09-05 05:44] Fred-sun commented on #61804
@arvindshmicrosoft Here's what I get when I execute the playbook. Thanks a lot!
[code]

[2019-09-05 05:48] arvindshmicrosoft commented on #61804
Can you please clarify if your image also had data disks specified? The problem only occurs if the image has data disks already and then you try specifying the same set of data disks in the create VMSS module.

[2019-09-05 05:59] Fred-sun commented on #61804
Sorry, I guess I misunderstood. I'll try again.

[2019-09-05 06:21] gauravstar commented on #61826
component name : win_update

[2019-09-05 06:26] Fred-sun commented on #61767
@jekings Thanks for your contribution.  I tried, but did not encounter the problems reported above. Can you share your playbook and ansible version? I will try again, thank you!

[2019-09-05 06:52] Akasurde commented on #61497
resolved_by_pr #61831

[2019-09-05 07:14] xuxiaowei0512 commented on #52933
I'm sorry. I took a vacation and didn't get back to you.

And the last issue that you commented, it is not the module issue.
There are some updates about ' ./bin/ansible-connection' that causes this issue.
I guess that you update or install you ansible via pip, such as 'pip install  ansible==2.8.4'.
It semms that PIP doesn't update  ' ./bin/ansible-connection' .
Maybe you can have a try to update

[2019-09-05 07:20] xuxiaowei0512 commented on #52933
[Changes](https://github.com/ansible/ansible/commit/1829a72885de1b6dd46799d9b87e8cd6210a8038) about that.

[2019-09-05 07:23] Fred-sun commented on #61804
@arvindshmicrosoft Could you please tell me how the created image contains the data disk? Thank you very much!

[2019-09-05 08:28] rafalix1337 opened #61833 "gitlab_hook module doesn't have parameter "trigger by comment""
##### SUMMARY

In gitlab_hook module doesn't have parameter "Comment" which is necessary for my DevOps flow and generally very useful for triggering a job. Without this option, I and a lot of people cannot use this module fully.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/modules/gitlab_hook_module.html

##### ADDITIONAL INFORMATION

1. I use the

[2019-09-05 08:58] fl0gu commented on #52933
Thanks for your reply.
I'm using pip, but I already have the correct ansible-connection file (the 2.8 one)

[2019-09-05 09:08] rnowagk commented on #56634
Sorry, was offline a while. Also, I'm not really enabled in the project... Can you just take the snippet?

[2019-09-05 09:39] #59804 closed, assigned to nobody

[2019-09-05 09:40] Akasurde commented on #61833
!component =lib/ansible/modules/source_control/gitlab_hook.py

[2019-09-05 09:46] jakubklimek commented on #42506
This is also happening to me with `docker_compose` and Ansible 2.8.4

[2019-09-05 09:50] felixfontein commented on #42506
This will probably be fixed in Ansible 2.8.5, assuming the fix is backported until Monday (@sluther I think #61650 fixes this as well).

[2019-09-05 09:51] #61569 closed, assigned to zikalino

[2019-09-05 09:52] Akasurde commented on #61833
@rafalix1337 Thanks for reporting this issue. Have you tried `note_events` option ? I think as per [`project hook`](https://docs.gitlab.com/ce/api/projects.html#add-project-hook) and [`Webhook`](https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#ssl-verification) documentation, you are looking for this `note_events` option.

needs_info

[2019-09-05 09:57] rajthecomputerguy commented on #61801
To execute all cli commands via ansible

[2019-09-05 10:02] Fred-sun commented on #56634
@MyronFanQiu Can you send a PR according by the above comment? Thanks !

[2019-09-05 10:14] rafalix1337 commented on #61833
@Akasurde  I didn't know this is correlated. Parameter note_events resolve my issue, jobs are triggering by comment. Thanks a lot!

[2019-09-05 10:14] #61833 closed, assigned to Akasurde

[2019-09-05 10:30] Fred-sun commented on #61804
@arvindshmicrosoft How do you get the image has data disk? Please share, thank you very much!

[2019-09-05 11:17] elafontaine commented on #61803
+label affect_2.7 m:k8s

Trying out

[2019-09-05 11:20] elafontaine commented on #61803
/affects_2.7 /m:k8s

[2019-09-05 12:38] mshabou opened #61840 "add "interface" parameter to ovirt_template module"
##### SUMMARY

i'd like a way to specify the interface type: (virtio, virtio_scsi) when we import an image from Glance as a templace

##### ISSUE TYPE
- Add new template_image_disk_interface : interface

##### COMPONENT NAME

ovirt_template

##### ADDITIONAL INFORMATION

[code]

[2019-09-05 12:51] vikas7999 commented on #61811
Any update

[2019-09-05 12:58] #61547 closed, assigned to Qalthos, NilashishC

[2019-09-05 13:01] hyperized commented on #60263
@TiJof Ok, I can confirm that!

[code]

[2019-09-05 13:14] LoicSikidi commented on #59422
Please, can I have a feedback?

[2019-09-05 13:18] abenokraitis commented on #61773
@ganeshrn this is a pretty annoying user experience issue. Any thoughts on why this behavior is different from other implementations/platforms?

[2019-09-05 13:20] justjais opened #61844 "IOSXR L3 is having idempotent issue"
##### SUMMARY

IOSXR L3 is having idempotent issue, which is resulting into change as True even if there's no change.
https://dashboard.zuul.ansible.com/t/ansible/build/40e9d4f8d8f04e53a06f7b07849aa304
https://dashboard.zuul.ansible.com/t/ansible/build/2447ad82cf5c475c8f5c2c4546ca18f6
https://dashboard.zuul.ansible.com/t/ansible/build/52237d4c64644a1fb18e941b5da75bb8

##### ISSUE TYPE
- Bug Report

[2019-09-05 13:21] abenokraitis commented on #61773
FYI, https://github.com/ansible/ansible/pull/61755

[2019-09-05 13:57] buck1467 commented on #48327
**This is what is happening on my machine:**
If the **filePath**'s attributes have system or reparse attributes, the error in question seems to be the exception message when using remove-item(i.e **remove-item** -path **filePath** -confirm:$true -force). This attribute pattern can be produced by git if the symbolic link in the repo has not been converted to a native link after git puts the filePat

[2019-09-05 14:03] goneri opened #61852 "azure_rm_iothub test-suite fails with: Operation failed with status: 'Unauthorized'"
##### SUMMARY

azure_rm_iothub functional test-suite fails with the following error:
e.g: https://app.shippable.com/github/ansible/ansible/runs/141933/119/tests

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_iothub

##### ANSIBLE VERSION

[code]

[2019-09-05 14:30] goneri opened #61859 "CI: unit-tests fail with timeout"
##### SUMMARY

The unit-tests often fail with a timeout, the problem happens when the image has not yet been downloaded on the test VM. The download creates a 3:30 minutes overhead, and this is enough to reach the timeout. In addition, the environment creation can also slow down the process

e.g with the following run https://app.shippable.com/github/ansible/ansible/runs/141934/6/console

- 03:14

[2019-09-05 14:39] arvindshmicrosoft commented on #61804
We use Packer to generate these images; example Packer template is [here](https://gist.github.com/danports/419e4ea77fdb36cc455c0a4358409e1a).

But you can easily get such an VM image independent of Packer. If you create a VM (even just with the Portal) with extra data disks attached, and then generalize and capture the VM image, it will include the data disks as well as part of the VM image defini

[2019-09-05 14:41] samdoran commented on #61852
The failure may be due to name collisions when multiple tests are running here: https://github.com/ansible/ansible/blob/b4732dd2e6db5ff193a8b013ebe73a56f7ca373d/test/integration/targets/azure_rm_iothub/tasks/main.yml#L76-L84

We may just need to use a mode unique name rather than `mydevice1` and `mydevice2`.

[2019-09-05 14:47] #61553 closed, assigned to nobody

[2019-09-05 15:33] izzie88 opened #61866 "Ansible Succeeds intermittently"
##### SUMMARY
when i run a play using config generated by templates it succeeds but running it immediately after it succeeds it fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
  module_stderr: |-
    Traceback (most recent call last):
      File "/root/.ansible/tmp/ansible-local-90086_eh6yu/ansible-tmp-1567696942.73-100761576824205/AnsiballZ_ios_config.py", line 114, in <module>

[2019-09-05 16:17] pabelanger opened #61869 "eos_system : configure domain_list using platform agnostic module random failure"
##### SUMMARY

This is to help track a random failure we are seeing in eos testing.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_79/61779/2a3bc59e39230ad945d42da08a8aad3f91dee027/third-party-check/ansible-test-network-integration-eos-python37/31d1710/controller/ara-report/result/493a2986-7709-41bc-bbe7-5df954edb93a/

##### ISSUE TYPE
- Bug Report

#####

[2019-09-05 16:21] Rajinikamu84 commented on #61541
@Fred-sun: Attached the ARM template for your reference

[2019-09-05 16:22] Rajinikamu84 commented on #61541
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "vmNames": { "type": "array" },
        "adminUsername": { "type": "string" },
        "adminPassword": { "type": "securestring" },
        "vmSize": {
          "type": "string"
        },
        "domaintojoin": { "type": "string" },

[2019-09-05 16:24] jeking3 commented on #61767
I believe you need to create a VM with a playbook that has some tags, then run it again.  What happens is the tags for _own_sa_ get removed and then recreated, orphaning the previous storage account that was created.

[2019-09-05 16:29] joefodor commented on #16437
This would be great so that if my entire play fails I can use snow_record to update my service now ticket with information that the play failed and other information of maybe why

[2019-09-05 17:07] cognifloyd opened #61871 "Feature: Collections search path in playbook for lookups, filters and tests (like for modules/roles)"
##### SUMMARY
Please extend the collections search path so that lookups, filters, and tests can also be referenced without a namespace in a playbook.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
collections search path in playbook for lookups, filters and tests

##### ADDITIONAL INFORMATION
Collections allow for bundling/distributing many different kinds of plugins.
To simplify using col

[2019-09-05 17:11] cognifloyd commented on #61871
For lookups, I think only `lookup()` and `q()` need to support collections, and therefore, only those need the collections search path support for lookups. `with_*` is legacy (superseded by `loop`) and should only work with the lookups provided directly by ansible.

[2019-09-05 17:26] felixfontein commented on #61815
This is unfortunately not new. Docker in swarm mode doesn't seem to like being put into and taken out of swarm mode repeatedly in a short time. The success rate used to be much higher, though. I guess this got worse with a new(er) version of docker daemon...

The only solutions (as far as I can see) to this is to either reduce the tests to a bare minimum (which doesn't make sense), to mark them pe

[2019-09-05 17:27] chrisvanheuveln opened #61874 "nxos_interfaces: 'replaced' is not idempotent"
##### SUMMARY
- The `replaced` state is not idempotent.
- Seen on stable-2.9 and latest devel. This fails on all nxos platforms.
- It looks like part of the issue is that `populate_facts` strips out any interfaces that are already at default state; later, `_state_replaced` does not find the interface in `have` so it adds commands to both `merged_commands` and `replaced_commands`. See below for deb

[2019-09-05 17:53] goneri commented on #61815
I think this is obviously a problem with the docker service itself, and this should be address at their level. I've found a couple of similar issue on the Moby issue tracker.
_This being said, since I don't use this module, I personally don't plan to put more time in this topic._

[2019-09-05 17:57] abadger commented on #61490
This will be a bugfix, either for case sensitivity or order or both.  currently blocking rc1, but not blocking beta1.

[2019-09-05 17:59] abadger commented on #61242
This appears to be a potential bug so it does not block beta1.  It may block rc1 but without seeing the fix, I cannot tell that yet.

[2019-09-05 18:09] mikewiebe opened #61876 "Nxos privilage escalation not working properly"
##### SUMMARY
I found another issue that is similar to the issue reported in https://github.com/ansible/ansible/issues/61568.

In this case if I run the playbook described below I encounter the following issue:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
Just like I describe in https://github.com/ansible/ansible/issues/6

[2019-09-05 18:16] VXM97280 opened #61878 "ansible is not detecting the dynamic inventory specified in hosts file"
Current structure:
------------------
├── ansible.cfg
├── inventories
│   └── dev
│       ├── ec2.ini
│       ├── ec2.py
│       ├── group_vars
│       └── hosts

Steps to reproduce:
--------------------
1. python /inventories/dev/ec2.py  -- **This is loading all aws inventory which is working fine**

"tag_Domain_test_domains": [
    "xx.xx.xx.xxx",
    "xx.xx.xx.xxx"
],

2. ansible -m ping tag_Do

[2019-09-05 18:17] Qalthos commented on #61876
This is almost certainly a duplicate of #61819. Feel free to reopen if you disagree.

[2019-09-05 18:17] #61876 closed, assigned to nobody

[2019-09-05 18:23] saravananoff commented on #60286
@Akasurde @Tomorrow9 @goneri @lparkes @nerzhul @pdellaert @pgbidkar @warthog9
Guys - Can you please look into this issue

[2019-09-05 18:33] IPvSean commented on #61242
@danielmellado I think this is same issue as: https://github.com/ansible/ansible/issues/61183

[2019-09-05 18:48] #61819 closed, assigned to nobody

[2019-09-05 18:57] VXM97280 commented on #61878
Ansible Version
---------------
ansible 2.8.4
  config file = None
  configured module search path = [u'/Users/viswaadityam/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.10 (default, Feb 22 2019, 21:55:15) [GCC 4.2.1 Compatible Apple

[2019-09-05 19:06] anshulbehl opened #61884 "Import test doesn't recognize relative imports in a module inside collection"
##### SUMMARY

When trying to check support of relative imports in modules inside collections, import sanity test fails giving below error
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test sanity import

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create a collection with modules having relative imports
Try r

[2019-09-05 19:23] samdoran commented on #61576
needs_info

[2019-09-05 19:32] samdoran commented on #61636
cc @jborean93

[2019-09-05 19:40] samdoran commented on #61662
This is most likely due to MySQL taking a very long time to respond to the command and not an issue with Ansible. Can you provide a detailed playbook run with `-vvvv`? Can you provide details about the target system since `service` masks the actual system service manager.

needs_info

[2019-09-05 19:41] #61665 closed, assigned to nobody

[2019-09-05 19:44] samdoran commented on #61666
@jborean93 Is this intended behavior or a byproduct of an underlying tool `ansible-galaxy` is using to download files?

[2019-09-05 19:47] jborean93 commented on #61666
Not intended at all, `ansible-galaxy` just calls `open_url` in our module_utils so if there was any logic it is either there or even further down the stack. Judging by @sivel's comment it sounds like the wrong credentials are being used anyway, will have to wait for the author to update.

needs_info

[2019-09-05 19:48] jborean93 commented on #61636
@samdoran probably not the best person to cc about this, I don't fully understand the collection loader logic, just the `ansible-galaxy` side.

[2019-09-05 19:49] samdoran commented on #61671
This has always been the behavior with Ansible ad-hoc tasks: facts are not available. Maybe we could add a feature to enable fact gathering for ad-hoc tasks. I would need input from others on whether or not that is a good idea of not.

[2019-09-05 19:52] samdoran commented on #61680
cc @jborean93

[2019-09-05 19:56] samdoran commented on #61688
We have no plans to implement this feature at this time. Using round-robin DNS or a custom inventory plugin is the best way to do this.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-05 19:56] #61688 closed, assigned to nobody

[2019-09-05 19:57] #61666 closed, assigned to nobody

[2019-09-05 19:59] jborean93 commented on #61680
There are no plans to support this right now. Maybe in the future but for now you need to source your collection either from Galaxy or a file path or URI to an already built collection.

[2019-09-05 19:59] samdoran commented on #61689
Is the value only incorrect when used with `debug`? That module is very special case and not a standard module. Are there tasks with regular modules where `check_mode` does not work as intended?

needs_info

[2019-09-05 20:00] kbreit opened #61888 "Docs version picker choices"
##### SUMMARY
Currently the documentation version picker includes stable versions and "latest" but it does not include 2.9 which is in beta. I feel the latest builds of beta versions should be included as well.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/

##### ANSIBLE VERSION
devel

[2019-09-05 20:03] s-hertel commented on #58129
!component =lib/ansible/modules/cloud/azure/azure_rm_containerregistry_info.py

[2019-09-05 20:07] DmitryRomanenko commented on #61666
@jborean93 but it's still a bug even it's outside Ansible. May be it's a chance to search for a workaround?

[2019-09-05 20:28] jbarotin commented on #61689
Thanks @samdoran  to take time considering my issue, the answer of your question is no.

The value is incorrect with regular module. I put debug in the example in order to shows what I wanted.

But, I first saw this comportment on my real code where I used the classical : `ignore_errors: "{{ ansible_check_mode}}"` on the `apt` module.

[2019-09-05 20:33] s-hertel commented on #61689
It appears the {{ ansible_check_mode }} var only gets changed with the `--check` flag.

[2019-09-05 20:38] s-hertel commented on #57989
!component =lib/ansible/modules/cloud/azure/azure_rm_deployment_info.py

[2019-09-05 20:41] abadger opened #61889 "group contains deprecated call to be removed in 2.10"
##### SUMMARY
group contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61890 "acme_certificate contains deprecated call to be removed in 2.10"
##### SUMMARY
acme_certificate contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61891 "get_url contains deprecated call to be removed in 2.10"
##### SUMMARY
get_url contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61892 "pacman contains deprecated call to be removed in 2.10"
##### SUMMARY
pacman contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61893 "gitlab_deploy_key contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_deploy_key contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61894 "gitlab_group contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_group contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61895 "gitlab_hook contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_hook contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61896 "gitlab_project contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_project contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61897 "gitlab_runner contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_runner contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:41] abadger opened #61898 "gitlab_user contains deprecated call to be removed in 2.10"
##### SUMMARY
gitlab_user contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2019-09-05 20:47] s-hertel commented on #57782
!component =lib/ansible/modules/cloud/azure/azure_rm_networkinterface_info.py
!component +lib/ansible/modules/cloud/azure/azure_rm_subnet_info.py
!component +lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_info.py
!component +lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset_info.py
!component +lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescalesetinstance_info.py

[2019-09-05 20:49] jborean93 commented on #61666
Ok I was incorrect about this, the URL is just pointing to a tar file and it is just calling our `open_url()` as per https://github.com/ansible/ansible/blob/375eb9723aed60b121531a4b5134f50fada465ba/lib/ansible/galaxy/role.py#L182 to download the file. The `open_url()` code is the one that looks up the netrc file based on https://github.com/ansible/ansible/blob/375eb9723aed60b121531a4b5134f50fada46

[2019-09-05 20:54] felixfontein commented on #61890
resolved_by_pr #61648

[2019-09-05 21:05] sivel commented on #61689
I debate whether this should be done or not. As @s-hertel mentions, this variable is used to indicate how ansible was invoked, the initial implementation wasn't to take into account whether individual tasks set check_mode.

It could actually cause problems for users if we were to change it.

What if someone is doing something weird like:

`check_mode: "{{ not ansible_check_mode }}"`

[2019-09-05 21:11] jborean93 commented on #61826
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * You haven't actually shared the error or what actually isn't working as expected so it's hard to see what may be going wrong but I will try
   * The log you sh

[2019-09-05 21:11] #61826 closed, assigned to nobody

[2019-09-05 21:12] jborean93 commented on #61689
Also, if you are setting `check_mode: yes` on the task then why do you need `{{ ansible_check_mode }}` in your debug/arguments. You know the task is running under check mode.

[2019-09-05 21:12] DmitryRomanenko commented on #61666
@jborean93 The credentials are correct. I can use them with console git client or PyCharm.
This is raw password, not a token.

May be we should write the code with `netrc` and without it in case of error?

[2019-09-05 21:39] sivel commented on #61866
!component =lib/ansible/modules/network/ios/ios_config.py

[2019-09-05 22:36] rambleraptor opened #61906 "ansible-doc fails on collections with symlinked and/or underscored modules"
##### SUMMARY

Facts modules were renamed to info modules, which means old facts modules were renamed with a leading underscore and symlinked to identical info modules.

The ansible_collections_google has some renamed facts modules (symlinks with leading underscores). The leading underscore and/or symlinks break ansible-doc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-doc

#####

[2019-09-05 22:38] dvntstph opened #61907 "AWS ec2_transit_gateway "auto_attach: yes" does not work"
##### SUMMARY

Currently when using Ansible to create a transit gateway in AWS the auto_attach parameter is ignored.
When the gateway comes into existence the "AutoAcceptSharedAttachments" is set to disabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_transit_gateway
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2019-09-05 22:48] xuxiaowei0512 commented on #52933
I have reproduced your problem, the solution is to update the file like I said.

[2019-09-05 23:24] vikas7999 commented on #61811
Anybody has any update about this issue.

[2019-09-06 01:14] pabelanger opened #61909 "eos_smoke : configure sub level command using block replace random failure"
##### SUMMARY

This is to help track a random failure with eos_smoke testing.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_79/61779/2a3bc59e39230ad945d42da08a8aad3f91dee027/third-party-check/ansible-test-network-integration-eos-python37/f123cc3/controller/ara-report/

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

eos_smoke

##### ANSIBLE VERSION

[2019-09-06 01:36] #61616 closed, assigned to nobody

[2019-09-06 01:50] #59988 closed, assigned to thaumos, nitzmahone

[2019-09-06 02:00] eauser-8 opened #61911 "User module does not update user attribute in Alpine docker container"
##### SUMMARY

I'm trying to update a user's shell in an Alpine docker container using the user module, but it does not get updated. The task is marked as changed or ok, but when I check /etc/passwd the user's shell field is not updated. This works in Ansible 2.7.x and seems to only happen in 2.8.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

[code]

####

[2019-09-06 02:33] Akasurde commented on #55250
Closing this issue since #55253 is merged. Please feel free to open a new issue if the problem persists. Thanks @jtyr @gundalow for the contribution.

[2019-09-06 02:33] #55250 closed, assigned to nobody

[2019-09-06 03:17] Fred-sun commented on #61767
@jeking3 Thanks for your share, I will try again.

[2019-09-06 04:14] sathiarajah commented on #59579
Could this issue be assigned to someone for investigation ? Appreciate the help.

[2019-09-06 04:18] wedge-jarrad commented on #42906
@ryansb Thank you for this. ec2_instance sends the tags in the same API call that creates the instance and solves this problem.

Do you know what the plan is going forward for ec2_instance vs ec2? Will ec2 be deprecated in favor of ec2_instance or will ec2 eventually be updated? I've seen a few people speculating but haven't found anything "official". Is ec2_instance considered safe for production

[2019-09-06 05:24] Fred-sun commented on #61804
@arvindshmicrosoft Thanks for your info, Now I can reproduce.

[2019-09-06 05:24] Fred-sun commented on #61804
@zikalino Please help take a look this issue when you're free! Thanks a lot!

[2019-09-06 06:25] Fred-sun commented on #61852
@samdoran You are welcome to create a PR to fix this fail! Thank you very much!

[2019-09-06 06:38] Fred-sun commented on #60619
@MyronFanQiu I don't know how to deal this issue, please take a look when you're free! Thank you very much!

[2019-09-06 06:42] Fred-sun commented on #60597
@MyronFanQiu Can you try it on? Will you encounter the problem of the report above? Thank you very much!

[2019-09-06 06:46] jbarotin commented on #61689
@jborean93, In my real work, I'm using `check_mode: yes` while importing a role, in order to see if the role execution works well (and after all is ok, I run the role without check mode).

In this role, you can find some ` ignore_errors: "{{ ansible_check_mode}}" `. For example, it's often the case of tasks that use a file that not exists because it's created by an other tasks before (but as we ar

[2019-09-06 07:26] iohenkies commented on #48312
Still relevant imho and still no solution.

[2019-09-06 08:03] jbarotin commented on #61689
@sivel ok my example is too short and not enough precise, it's much more something like (not tested code):

Playbook file :
[code]
my_role/tasks/main.yml
[code]

In this case, `ansible_check_mode` is still not True, I think that it should be cause of the `check_mode: True` while importing my role.

[2019-09-06 08:39] mjeco opened #61921 "gitlab_user requires email, name, and password arguments when deleting a user"
##### SUMMARY
In th `gitlab_user` module the `email`, `name`, and `password` arguments are required.
That is perfectly fine when creating a new user as this information is needed.
However, these three arguments are also required when deleting a user (state==absent), even though they are not used by the module for this action.
The module fails with an error if these arguments are not passed in. You

[2019-09-06 09:57] arxange1 commented on #49978
Related pull-request:
#https://github.com/ansible/ansible/pull/50381

[2019-09-06 10:11] Wolfsharad opened #61922 "pids_module not working"
##### SUMMARY

Ansible PIDS module is not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

PIDS

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[1231, 2131]

##### ACTUAL RESULTS

[code]

[2019-09-06 11:24] k-popov commented on #61635
Experienced the same with 2.8.4:
[code]

The resulting disk is empty (no partition table even):
[code]
Also this disk does not have `sourceSnapshot` in it's description:
[code]

Disk created with `gcloud` from the same snapshot looks fine and has the filesystem ans all the files present at snapshot time. It also has appropriate `sourceSnapshot` in it's description.

[2019-09-06 11:51] fl0gu commented on #52933
yes but I've nothing to update, as the bin/ansible-connection file is already the good one !

[2019-09-06 12:25] #43853 closed, assigned to nobody

[2019-09-06 12:58] Akasurde commented on #61922
@Wolfsharad Thanks for reporting this issue. Could you please provide the version information of `psutil` used ?

[code]

needs_info

[2019-09-06 13:14] sdodsley opened #61924 "purefa_facts fails when run against old version of Purity"
##### SUMMARY
When running purefa_facts against an array running Purity 4.10 the module fails when selecting `admins` or `all` as the subset.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
purefa_facts.py

##### ANSIBLE VERSION
2.8.4

##### EXPECTED RESULTS
Module completes succesfully

##### ACTUAL RESULTS
[code]

[2019-09-06 13:15] samccann commented on #61888
Beta is not being published as yet, afaik for 2.9 docs.  Let's discuss this on Tuesday's DaWGs meeting (Documentation working group).

[2019-09-06 13:23] Wolfsharad commented on #61922
'2.2.1'

[2019-09-06 13:40] Akasurde commented on #61922
@Wolfsharad This version of `psutil` does not support function parameter to `process_iter` function ? As a workaround you may want to upgrade `psutil` to latest version whilst this is fixed.

[2019-09-06 13:43] cdschneider opened #61926 "win_scheduled_task trigger parameters are not allowing use of default(omit) placeholder"
##### SUMMARY
Using `| default(omit)` (null-safe variable fallback) in the `triggers` section on `days_of_week` and `days_of_month` causes exception in `win_scheduled_task`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* `win_scheduled_task`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* **Target OS versions**: Windows Server 2016

##### STEPS TO REP

[2019-09-06 14:17] riccardomurri opened #61929 "pip module seems to ignore `executable:` parameter"
##### SUMMARY

Given this Ansible stanza:
[code]

Ansible seems to ignore the `executable:` part, which points to Anaconda Python's `pip` and tries to run `pip` using the system's default python interpreter `/usr/bin/python`.

As a result, dependent packages for `pip` to run are not found, and I get this error:
[code]

It seems that Ansible is running `/usr/bin/python /path/to/pip install ...` ins

[2019-09-06 14:19] Nani-o commented on #51702
@acalm This issue is really old, I can have missed/misunderstood something, my tests can be wrong, or even both. I do not have time to look into it, so if you are confident that i'm wrong, you have my confidence feel free to close.

P.S : I can't seem to understand why I let https in one of the tests, so I'm pretty sure you are right.

[2019-09-06 14:21] tjanez opened #61930 "Using slurp module in a role inside a collection doesn't work (powershell: command not found)"
##### SUMMARY
The exact same role using the slurp module works outside a collection, but fails with the following error when used inside a collection:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
slurp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 30 with Python 3.7.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect

[2019-09-06 14:26] acozine commented on #61888
Yes, let's discuss on Tuesday in DaWGs. For now, though, we won't add 2.9-beta to the version dropdown.

[2019-09-06 14:27] jpmens commented on #51702
notabug

@acalm indicates header is present. Issue can be closed.

[2019-09-06 14:34] #51702 closed, assigned to nobody

[2019-09-06 14:53] sivel commented on #61929
The problem is slightly different than you have assumed.

The ansible `pip` module, is implemented in python, and has it's own dependencies. The ansible `pip` module, will then shell out to the `pip` executable that you specify.

In this instance `setuptools` is required for the ansible `pip` module.  So the execution workflow is basically:

1. copy the ansible `pip` module to the target host
2. U

[2019-09-06 14:53] #61929 closed, assigned to nobody

[2019-09-06 15:13] Comnenus opened #61931 "Location not parsing correctly when executing ansible or ansible-playbook"
##### SUMMARY
When ~/.ansible is a symlink to another location, in this case, a Dropbox folder with spaces and parenthesis, ansible does not parse the path correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS 10.14.6
iTerm 3.3.3
Mackup 0.8.27

##### STEPS TO REPRODUCE
1. $ brew install mackup

[2019-09-06 15:15] sivel commented on #61931
Duplicate of https://github.com/ansible/ansible/issues/59206

[2019-09-06 15:15] #61931 closed, assigned to nobody

[2019-09-06 15:21] pabelanger opened #61934 "ansible-test returning success, when test is failing"
##### SUMMARY

I randomly noticed a case where ansible-test is reporting success, even when a test has failed.  For example:

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_79/61779/2a3bc59e39230ad945d42da08a8aad3f91dee027/third-party-check/ansible-test-network-integration-ios-python36/d6da269/job-output.html#l65627

Here we can see that ansible-test repor

[2019-09-06 15:25] JacobHenner commented on #61230
It's done, just pending some approvals prior to release.

[2019-09-06 15:26] AlanCoding commented on #42938
I would like to test this updated advice

specifically with the tower module collection and its doc fragment

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/tower.py

@sivel or anyone else, could you clarify more specifically what implementation you expect to work? Do I create a file `plugins/module_docs_fragments.py` in the collection with the same content as the

[2019-09-06 15:26] felipeng opened #61935 "aws_s3 encryption_mode AES256 is not working"
##### SUMMARY
Module: `aws_s3` with option `encryption_mode` and value `AES256`  is not working, the s3 bucket is created however the default encryption option is disabled

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: aws_s3 encryption_mode

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no config

##### OS / ENVIRONMENT
debian 9
`Linux 932338f6af23 4.9.184-linuxkit #1 SMP Tue Ju

[2019-09-06 15:26] sivel commented on #55939
Can you confirm whether this is still an issue? It seems the hardcoded `.yml` was removed in https://github.com/ansible/ansible/commit/bfa004930a02f505ff5e6fd6bcc3aa1f1286a8fc

needs_info

[2019-09-06 15:28] sivel commented on #42938
Now that `doc_fragments` is a full plugin, I would expect it to live at `plugins/doc_fragments/tower.py` in a collection.

[2019-09-06 15:30] sivel commented on #42938
I'm going to close this.  The feature to turn these into a full plugin was done in 96b3ef555316afdacab6fd1401b4ec5da7663ae1

@AlanCoding If there is a bug with collections, or questions about where to place the doc fragments, please reach out or create a new issue.

[2019-09-06 15:30] #42938 closed, assigned to nobody

[2019-09-06 15:32] dthvt opened #61937 "Username with special characters not escaped"
##### SUMMARY

Usernames can contain special characters that need to be escaped in shell commands.  Ansible does not currently escape these, resulting in unexpected paths in use for tempfiles.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2 WorkSpace

$ uname -a
Linux a-2niyg79pdwri5 4

[2019-09-06 15:36] jctanner commented on #61934
Needs a simpler reproducer, without zuul and without networking gear.

needs_info

[2019-09-06 15:37] sivel commented on #61701
Ultimately, I believe this is a duplicate of https://github.com/ansible/ansible/issues/59642

[2019-09-06 15:40] goneri opened #61938 "mongod_replicaset: test fails with Wait for mongod to start responding port={{ item }}"
##### SUMMARY

Time to time, mongodb fails to start and the functional test fails because of that.

e.g:
- https://app.shippable.com/github/ansible/ansible/runs/142156/73/tests
- https://app.shippable.com/github/ansible/ansible/runs/143055/73/tests
- https://app.shippable.com/github/ansible/ansible/runs/143055/67/tests

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mongod_re

[2019-09-06 15:44] jean-christophe-manciot opened #61939 "Pull files from Cisco NX-OS devices"
##### SUMMARY
The ```nxos_file_copy``` module supports **pushing** files to NX-OS devices from the controller host or from a remote SCP file server .
However, it does not allow **pulling** files from NX-OS devices.
It is not possible to use the ```fetch``` module either (it fails to find the existing source file in bootflash:).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nxos_file_copy

[2019-09-06 15:49] johnpetersjr commented on #34536
Has this been implemented, to anyone's knowledge?  Or should I plan on running CLI commands after building the LB via ansible to get multiple certs on there?

[2019-09-06 15:54] goneri commented on #61938
!component =test/integration/targets/mongodb_replicaset/tasks/mongod_replicaset.yml

[2019-09-06 16:03] Qalthos commented on #61811
Alright, I'm trying to work out what exactly might be causing this, and I have a few questions for you:

 * Is this happening consistently?
 * Is there a simple playbook you can provide that will reproduce the error?
 * Are there any other versions of Ansible installed on the controller?
 * Would it be possible for you to provide logs following the [Network Troubleshooting Guide](https://docs.ansi

[2019-09-06 16:12] bcoca commented on #57153
duplicate of #32166

[2019-09-06 16:12] #57153 closed, assigned to nobody

[2019-09-06 16:15] sivel commented on #32166
This should probably be closed as a duplicate of https://github.com/ansible/ansible/issues/59206 since #59206 also has a linked PR

[2019-09-06 16:30] vikas7999 commented on #61811
### **Is this happening consistently?**
So issue started after i upgraded to ansible devel version and is happening all the time after upgrade.

### **Is there a simple playbook you can provide that will reproduce the error?**
Yes. Below is the playbook

more arista_config_apply_after_eAPI.yaml
---
- name: Arista config apply
  hosts: Arista
  gather_facts: yes
  connection: local

  tasks:
    -

[2019-09-06 16:39] treblesome opened #61944 "Follow-up on ansible_distribution_major_version #29561 #31754"
**##### SUMMARY**
Follow-up to the existing bug report:
   ansible_distribution_major_version #29561 #31754

Proposing a change/update to ansible_distribution for AIX only.

##### ISSUE TYPE
- Bug Report

**##### COMPONENT NAME**
/usr/lib/python2.6/site-packages/ansible/module_utils/facts/system/distribution.py

**##### ANSIBLE VERSION**
[code]

**##### STEPS TO REPRODUCE**
ansible <aix_host> -m s

[2019-09-06 16:43] #61604 closed, assigned to nobody

[2019-09-06 16:45] treblesome commented on #61944
Sorry, for some reason, the proposed change did not capture the change; should be the following:
        rc, out, err = self.module.run_command("/usr/bin/oslevel -s")
        data = out.split('-')
        aix_facts['distribution_baselevel'] = data[0]
        aix_facts['distribution_tl'] = data[1]
        aix_facts['distribution_sp'] = data[2]

[2019-09-06 16:53] abadger opened #61946 "ansible-test --venv fails to find its library"
##### SUMMARY
When installed from the ansible-2.9 PPA https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.9  or from the nightly ansible rpms for RHEL7, ansible-test --venv fails to find its internal libraries

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

bin/ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu18 or CentOS7.  I suspe

[2019-09-06 16:54] abadger commented on #61946
/CC @samdoran @mattclay @goneri

[2019-09-06 17:09] lonix1 opened #61948 "Cannot install/run docker on new ubuntu 18.04"
##### SUMMARY
Can't install and run docker on new ubuntu 18.04 server.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
controller: ubuntu 19.04
remote host: ubuntu 18.04 - brand new nothing else installed

##### STEPS TO REPRODUCE
ansible.cfg:
[code]

playbook:
[code]

##### EXPECTED RESULTS
For docker im

[2019-09-06 17:12] Qalthos commented on #61811
So, that is the running output of ansible-playbook, but what I am looking for is the log file generated when `ANSIBLE_PERSISTENT_LOG_MESSAGES` is set to true. Please follow the instructions at https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging and provide the contents of the ansible log file, after redacting

[2019-09-06 17:39] vikas7999 commented on #61811
I did these steps:

export ANSIBLE_LOG_PATH=~/ansible.log

Enabled ansible_persistent_log_messages: True in playbook

 more arista_config_apply_after_eAPI.yaml
---
- name: Arista config apply
  hosts: Arista
  gather_facts: yes
  connection: local
  vars:
    ansible_persistent_log_messages: True

  tasks:
    - name: Apply config
      eos_config:
        backup: yes
        src: /etc/ansible/CON

[2019-09-06 18:01] newswangerd commented on #55939
@sivel I think this has been fixed.

[2019-09-06 18:01] #55939 closed, assigned to nitzmahone

[2019-09-06 18:15] abadger opened #61951 "ansible-test --venv attempts to install to system locations"
##### SUMMARY
After installing ansible-2.90beta1 via pip, ansible-test --venv tries to install to system locations, getting permission denied

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bin/ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* I installed this on CENTOS7 using the python3.6 package
* Installed 2.9.0beta1 from pypi

##### STEPS

[2019-09-06 18:16] abadger commented on #61951
/cc @mattclay @goneri @samdoran

[2019-09-06 18:22] ChetanP321 opened #61952 "Ansible script"
##### SUMMARY

When we run the playbook, it will build the package with all variables and push it to the target server to execute. once the execution is completed, it will cleanup all the staged files on target server. Is there any way I can persist the package on the target server to see what exactly its doing?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[2019-09-06 18:23] abadger commented on #60380
The upstream rpm spec file in devel and stable-2.9 has been synced with the ansible engine spec file now.  As I commented earlier, this means the upstream nightly builds for centos7 now require python-jmespath.  But the nightly builds for centos8, when centos8 becomes available, will not contain that requirement.  To be portable, you should consider making that a requirement for your packages.

Is

[2019-09-06 18:37] bcoca commented on #61952
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-09-06 18:37] #61952 closed, assigned to nobody

[2019-09-06 18:47] AlanCoding commented on #56226
^ since that comment was left, the folder structure changed. Even those paths, I don't think, would be representative of how collections are today. So start with that modification.

This method you gave with `-M` alone does not work for me. Tree structure:

[code]

Output:

[code]

After much experimentation I found this:
(note: everything works the same if I rename the `alan/` folder to `collecti

[2019-09-06 18:51] AlanCoding commented on #59226
I left a comment that mentions this:

https://github.com/ansible/ansible/issues/56226#issuecomment-528970839

I was able to reproduce this issue.

[2019-09-06 18:55] AlanCoding commented on #56226
Let me directly state expectations here:

1. If the above folder structure is moved from `alan/` to `collections/`, then `ansible-doc -t module tower_organization` by itself should work
2. Even with the custom folder name (`alan/`) the command `ANSIBLE_COLLECTIONS_PATHS=alan ansible-doc -t module tower_organization` should work
3. Number 2 should work via the `-M` flag without specifying that envi

[2019-09-06 19:03] AlanCoding commented on #42938
Sure, https://github.com/ansible/ansible/issues/59226 covers the issue of namespacing of doc fragments in collections in a up-to-date way.

Filed new issue https://github.com/ansible/content_collector/issues/17 about migration.

https://github.com/ansible/ansible/issues/56226 has my best current knowledge of how this should be structured. At some point, some version of the suggested folder structu

[2019-09-06 19:06] riccardomurri commented on #61929
Thanks for clarifying!

It might still be worth updating the docs, though.  At the moment, documentation for the `pip` module states that pip/setuptools/virtualenv are "required on the host that executes the module"; it may help adding that they need to be available also to the Python interpreter that executes Ansible (as opposed to being installed to the Python that the `pip` command requires).

[2019-09-06 19:09] bcoca commented on #56226
The issue is 'listing' (`-l` option) plugins that are part of a collection, individual plugins when correctly referenced and the collection is in expected paths, have been working for a while now.

[2019-09-06 19:15] bcoca commented on #59226
FYI, aside from modules .. all plugins require FQCN when referenced in or outside collections, not just doc fragments.

[2019-09-06 19:20] bcoca commented on #61636
cc @nitzmahone

@samdoran  this is not a 'role install' issue but a 'collection context' issue

[2019-09-06 19:31] AlanCoding commented on #59226
https://github.com/ansible/ansible/issues/59465

I agree, I don't think that it should work with just `{fragment}`. But some form of relative reference is needed. I'd prefer `..doc_fragments.{fragment}` to work in the same way that `from ..module_utils.custom_util import forty_two` works.

Otherwise, for many people maintaining collections the only option will be to stop using the docs fragments a

[2019-09-06 19:37] bcoca commented on #59226
no, just need to use the FQCN, fragments (and other plugins) currently work that way.

This works: ns.coll.fragname

This does not: fragname

when the fragname is hosted in the collection.

The same goes for lookups, tests, filters, etc. They all require the FQCN.

[2019-09-06 19:40] bcoca commented on #61906
actually not a duplicate, #60424 has to do with the `_` deprecation prefix, this one is about aliases (symlinks), they are often used together, but they are 2 distinct features and usable independently.

[2019-09-06 19:48] AlanCoding commented on #59226
Is there a way it could attempt to extend the documentation fragment `ns.coll.fragname`, but then if that's not found try to extend the documentation fragment `ns2.coll2.fragname`?

[2019-09-06 19:48] #61085 closed, assigned to nobody

[2019-09-06 19:48] #61195 closed, assigned to nobody

[2019-09-06 19:49] evgeni commented on #59226
I think the thing that confused me most was:
* for a module_utils import I have to use `ansible_collections.{ns}.{coll}.plugins.module_utils.{util}`
* for doc_fragments it's `{ns}.{coll}.{fragment}`

[2019-09-06 19:52] samccann commented on #43562
sitemap updated to latest via -https://github.com/ansible/docsite/pull/17

[2019-09-06 19:54] samccann commented on #43562
banners added - https://github.com/ansible/ansible/pull/58526

[2019-09-06 19:59] bcoca commented on #59226
module_utils are a special case, for every other plugin type you use : `ns.coll.name`

[2019-09-06 20:15] evgeni commented on #59226
Right, but that's not (explicitly) documented in https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/collections_tech_preview.rst which is what my original issue is about :)

[2019-09-06 20:25] Qalthos commented on #61811
Alright something very strange is going on here.

Could I trouble you to generate that log one more time, only this time with 4 `v`s of verbosity (`-vvvv`) and from this branch https://github.com/ansible/ansible/pull/61953? This should rule out a few things and let the module finish to boot.

[2019-09-06 20:35] vikas7999 commented on #61811
Here you go:

ansible-playbook -i hostfile arista_config_apply_after_eAPI.yaml -u admin -k -vvvv
ansible-playbook 2.10.0.dev0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /root/.local/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible-pla

[2019-09-06 20:40] goneri commented on #61946
`delegate_venv()` use `SUPPORTED_PYTHON_VERSIONS` to know what what Python version should be used. In my case, 2.7 and 3.6 are available. But the rpm provides the `ansible_test` package only for 3.6. It's the opposite with the Debian package.

As a result, command fails with: `ImportError: No module named ansible_test._internal.cli` when it try to call `ansible-test` with Python 2.7.

I guess we s

[2019-09-06 20:44] #47182 closed, assigned to nobody

[2019-09-06 20:45] goneri commented on #61951
I see two problems:

We don't call the correct python binary
==============================

We create a venv in `~/ansible/test/results/.tmp/delegation/python3.6/`, but we don't use `~/ansible/test/results/.tmp/delegation/python3.6/bin/python` when we call `pip`. Instead we use a symlink that is in a temp dir in `/tmp/xxxxx/python`. By doing so, we lose the virtualenv context and `pip` behave lik

[2019-09-06 20:51] felixfontein commented on #61948
Have you tried starting `/usr/bin/python3` and running `import docker` in there?

[2019-09-06 20:52] bcoca commented on #59226
well, no, not for every plugin type, you get the 'general way' which is ns.coll.name + the specific way for those that deviate (module_utils and modules + collections keyword)

[2019-09-06 21:18] justinturpin opened #61954 "gcp_dns_resource_record_set - Support SSHFP Record type"
##### SUMMARY
Google cloud DNS record sets supports "sshfp" record types, which allow users to store SSH fingerprints in DNS for improved validation of hosts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`gcp_dns_resource_record_set`

##### ADDITIONAL INFORMATION

Example usage might be:

[code]

But this currently fails with:
``` fatal: [localhost]: FAILED! => {"changed": false, "msg":

[2019-09-06 21:27] Qalthos commented on #61811
Well, you did run it with `-vvvv`, but as the error message still references a line of code that does not exist in that PR anymore, it looks like you aren't running the right version.

I can't give any specific advice without knowing how you have ansible installed, but make sure that you
* have checked out commit c6a3fb66289e837d9d48358a3c013e13dd6c2eed
* and as ansible appears to be running out o

[2019-09-06 21:43] pffs commented on #54991
@sivel @jimi-c @mkrizek any updates on this? Is there a better fix than what I'm doing? I can submit a PR if this is correct, but I'd prefer to get this fixed upstream so I don't have to keep patching my local version each time.

[2019-09-06 21:51] pffs opened #61955 "Optional strip on ios_banner"
##### SUMMARY

The ios_banner currently strips any text passed to it, making certain banner formats impossible to replicate properly.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ios_banner

##### ADDITIONAL INFORMATION

Add a boolean switch to the module params (`strip`, perhaps) that would conditionally strip or not the text passed from the param. Could be optional and default to `Tru

[2019-09-06 21:57] s-hertel commented on #61513
This was by-design. The localhost hostvars are available on demand, such as with `"{{ hostvars['localhost'] }}"` but when not explicitly requested hostvars is only populated with the real hosts in inventory. I agree that this could use a note in the documentation. I'm not sure what the implementation would look like if we were to change it - would '127.0.0.1', 'localhost', '::1' all become constan

[2019-09-07 00:38] s-hertel commented on #61537
Loop errors take precedence over conditional errors, but AnsibleUndefinedVariable exceptions from loops won't surface if there's a `when` unless the conditional evaluates to True or also fails. 57d8b68c03efe01c570a4cd36b686117c812626f changed that templating error from an AnsibleError to an AnsibleUndefinedVariable exception.

With that change, if your `with_items` fails and the conditional fails/

[2019-09-07 01:55] chriswhite199 commented on #43514
In a similar vein, some combination of backrefs and regexp also yields the wrong output (no change when change should be expected):

[code]

[2019-09-07 06:05] lonix1 commented on #61948
@felixfontein Sorry I'm not a python person. But from what I understand of your comment, I did this:
- ran `python3`, and it opened a CLI, which reported version 3.6.8
- typed `import docker`, and it didn't give me any output, but no error either

Is that good or bad?

[2019-09-07 06:16] lonix1 commented on #61948
I read a comment on StackOverflow (for a different problem) that python used by ansible on the (local) controller server, and (remote) managed server must match - or something like that.

Is that true? That would be weird as different servers have different stuff on them.

Regardless, my (local) ubuntu 19.04 controller server with ansible is using `2.7.16` which I got from `ansible --version`. And

[2019-09-07 06:46] mmkk20158 opened #61958 "Task apt is failing"
##### SUMMARY

Task 'apt' is failing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

APT

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
Linux ansible 4.18.0-25-generic #26~18.04.1-Ubuntu SMP Thu Jun 27 07:28:31 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

 ansible-playbook -i ubuntu ubuntu_apt.yml -b --become-user=root

[2019-09-07 08:02] #32166 closed, assigned to nobody

[2019-09-07 08:40] bmalynovytch commented on #59731
Looks like a duplicate of https://github.com/ansible/ansible/issues/55845

[2019-09-07 08:57] acalm commented on #61958
The error message seems unrelated to Ansible:
[code]
Some other process is using apt or there's a leftover lock file somewhere in the system: https://askubuntu.com/questions/335794/could-not-get-lock-var-lib-apt-lists-lock

[2019-09-07 09:13] mmkk20158 commented on #61958
yeah, that's weird. I am actually able to run the command as the same user locally... but ansible fails.

i manually removed the lock and it's fine.

[2019-09-07 09:13] #61958 closed, assigned to nobody

[2019-09-07 11:29] Im0 commented on #55919
Hi @frsauvage @jtisserand - this should be fixed in the pull request above.  Once it's merged into 2.9 I'll look to backport the bug fixes into 2.8.

If you have time to test the fix, I'd appreciate if you could let me know if it works for you.  (I've tested it to be working)

[2019-09-07 16:23] vikas7999 commented on #61811
I am running Ansible devel version 2.10.0.dev0 as was hitting bug with Arista module in 2.8 version which needed to be upgraded.
Not sure what you mean by not running correct version of ansible,
How do I validate that information.

[2019-09-07 18:00] vMarkusK opened #61963 "vmware_tag_facts (_info) - Needs slick way to get Category ID"
##### SUMMARY

The module should also return details about tag categories. The category ID, for example, needs to be used to create a  new tag (vmware_tag).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_tag_facts

##### ADDITIONAL INFORMATION

1. gather tag category ID via vmware_tag_facts
2. Create new Tag via vmware_tag

[code]

[2019-09-07 19:59] felixfontein opened #61964 "Ansible crashes when `--limit` expression includes superfluous comma"
##### SUMMARY
Running ansible with `--limit a,` or `--limit a,,b` or `--limit ,` leads to (when `-vvv` is added)
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/inventory/manager.py

##### ANSIBLE VERSION
[code]
Also happens with `devel`, and potentially older ansible versions.

##### STEPS TO REPRODUCE
Run `ansible-playbook playbook.yml --limit a,` for an existing playbook

[2019-09-07 20:03] felixfontein commented on #61964
Potential fixes:

1. Change https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/manager.py#L133 to `return [p.strip() for p in patterns if p.strip()]`. Disadvantage: `--limit ,` is equivalent to no limit, which can be confusing. On the other hand, trailing or repeated commas would be simply ignored, which is kind of user-friendly (in some sense).

2. Raise proper exception when emp

[2019-09-07 22:27] kaysond opened #61965 "user module fails to change primary group"
##### SUMMARY
running `ansible -m "user" -a "name=pihole state=present group=docker local=yes"` fails with `Invalid group ID docker\nUsage: lusermod `...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.03

##### STEPS TO REPRODUCE
Create two groups on the host `group1` and `group2`

Run `ansi

[2019-09-08 10:28] lonix1 commented on #61948
I discovered the problem - privilege issues surrounding `pip`.

- pip's `docker` package must NOT be installed with `become: true`, so it is installed for ansible user
- ansible user must be added to the `docker` group, to allow sudo-less access

Then `docker_container` module works without error.

This is not obvious to someone who doesn't use python. It should be added to the docs.

[2019-09-08 10:28] #61948 closed, assigned to nobody

[2019-09-08 11:17] felixfontein commented on #61948
Installing the Docker SDK for Python (fancy name for what you install with `pip`) can also be installed with `become: yes`, then it can (usually) be used by every system user without the need to install it for every user.

Besides that, this is a general "problem" with Ansible modules which need additional requirements. If you know of a way to improve documentation on this, please create an issue

[2019-09-08 11:54] lonix1 commented on #61948
@felixfontein Thanks for the explanation.

On my system though it didn't work when I installed the `docker` package with `become` - it was not available to my non-root user, and gave me errors. When I installed it for the non-root user, it worked.

(Maybe I did something wrong, like I said I'm not a python user.)

[2019-09-08 12:17] Addvilz opened #61967 "Impossible to set -dsaparam for openssl_dhparam"
##### SUMMARY

OpenSSL dhparam allows generating DH parameters without opting for strong primes.

See `-dsaparam` option at https://www.openssl.org/docs/man1.1.1/man1/dhparam.html#OPTIONS

There is no obvious way to set this option for this module.

A flag? `dsaparam: true/false`?

//cc @thomwiggers

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`openssl_dhparam` module

[2019-09-08 13:10] Addvilz opened #61968 "pear module: always returns status changed for PECL mongodb"
##### SUMMARY

This simple PECL installation task always returns changed, despite the extension already being present on the system.

Interestingly, this only happens with pecl/mongodb. Other PECL tasks work as expected.

I have this task run on 3 separate machines, and the result is the same.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`pear` module.

##### ANSIBLE VERSION
[code

[2019-09-08 18:57] desaes-br opened #61975 "Junos Regex changed at fix #47096 caused regression"
##### SUMMARY
Depending of the hostname being used by juniper switches the changes at https://github.com/ansible/ansible/pull/47096 will cause issues preventing the junos module working properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_command
junos.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Validated at Junos: 14.1X53-D35.3 (but also noticed on another versions

[2019-09-08 19:18] bvitnik commented on #60418
@jthompson333 I did some testing of new version of XenAPI library from PyPI and it worked without any problem. Nothing changed considerably in library itself or the packaging so problems should not be expected.

I will update the docs soon.

[2019-09-08 20:37] briantist opened #61976 "win_group doesn't support check mode"
##### SUMMARY
Support for running in check mode was added to `win_group` way back in #21384, but the flag was never enabled so the engine skips the entire module anyway.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

(normal output of what

[2019-09-09 00:24] vikas7999 commented on #57773
I updated to ansible devel version still seeing same issue.
ansible --version
ansible 2.10.0.dev0
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/patvi10/ansible/lib/ansible
  executable location = /home/patvi10/ansible/bin/ansible
  python version = 2.7.5 (default, Sep 12 201

[2019-09-09 02:05] ghost opened #61978 "get_url: conditional get does not work"
##### SUMMARY
get_url in 2.6.4 would do a conditional get of url if dest points to existing file (using mtime of said file as the value for if-modified-since header).  In 2.7.7 the same configuration result in the task simply being skipped as not changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-09-09 02:23] Fred-sun commented on #52068
@MyronFanQiu Please take a look this issue when you're free! Thanks a lot!

[2019-09-09 02:28] Fred-sun commented on #52082
@MyronFanQiu Please try! Thank you very much!

[2019-09-09 02:47] Fred-sun commented on #54138
@yungezz Any update for the contributor reply? Thanks!

[2019-09-09 03:07] Fred-sun commented on #54914
@MyronFanQiu

[2019-09-09 05:22] pratikgadiya12 commented on #61544
Reconfirmed that this issue is not reproducible.

@Akasurde : Could you help here to close this issue? Thanks in advance

[2019-09-09 05:23] Akasurde commented on #61544
Closing as per https://github.com/ansible/ansible/issues/61544#issuecomment-529304209.

Thanks @son-vyas @pratikgadiya12 for taking a look into this.

[2019-09-09 05:23] #61544 closed, assigned to nobody

[2019-09-09 05:48] thomwiggers commented on #61967
Using DSA parameters as static Diffie-Hellman parameters is not recommended for use with static parameters:

(ie. only for ephemeral parameters)

Because, in my view, the main purpose of Ansible is to install configuration, which is inherently static, I think that enabling users to use the `-dsaparam` flag is handing them a footgun.

[2019-09-09 05:50] Udayendu opened #61979 "VMware: HTTP URL based ova deployment is not working using vmware_deploy_ovf module"
##### SUMMARY
HTTP URL based ova deployment is not working using vmware_deploy_ovf module. Currently vmware_deploy_ovf module is capable of deploying OVA from local server only.

##### ISSUE TYPE
- Provide 'ovf' parameter to get OVA/OVF using HTTP URL.

##### COMPONENT NAME
Module: vmware_deploy_ovf
Parameter: ovf
Currently Supported Method: Path to OVF or OVA file to deploy.

Ex:
  ovf: '/root/OV

[2019-09-09 06:07] felixfontein commented on #61967
I agree that from a crypto point of view, support for `-dsaparam` is not a good idea. It sounds like people will abuse it to "speed up" DH param generation. @Addvilz why do you need support for this option? If you just need it to speed up DH param generation: please don't. You're decreasing security a lot!

Also, idempotence does not make any sense for `-dsaparam`, as DH params generated with `-ds

[2019-09-09 08:00] Addvilz commented on #61967
SSL_OP_SINGLE_DH_USE exists to mitigate a temporary set of DH params and is enabled by default since several years ago in OpenSSL.

If this would be true, we wouldn't need Ansible now, would we? :)

I definitely do not expect a configuration management tool to tell me what I can or can not do.

All that being said, the security argument is beside the point. If the module in question is supposed to

[2019-09-09 08:52] ganeshrn commented on #61773
@abenokraitis junos resource modules work with netconf transport which uses xml to push configuration on the device and same is returned in the result unlike other platforms which uses network_cli connection and cli commands to push configuration.

We need to update the junos resource modules `return` doc to reflect `xml` key is returned in the `result`

[2019-09-09 09:04] kardanielyan opened #61982 "Automatically download dependencies from Ansible Galaxy or Git, if they are exists in meta/main.yml file"
##### SUMMARY
Dependencies can be installed automatically without running `ansible-galaxy install` command if they exist in **meta/main.yml** or **requirements.yml** files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-galaxy

##### ADDITIONAL INFORMATION
Check the command below, which could be automated.

[code]

[2019-09-09 09:12] nwinkler commented on #56930
Great comment from @geerlingguy - spot on!

I'd like to add that as a user of Ansible, why should I need to know what valid Python syntax is? Having used Ansible for a long time now, I understand that Ansible (and its modules) is written in Python, but why should I need to care about that? Exposing that fact to the end user is just bad design.

Similar to only allowing valid JavaScript/Ruby/.NET/w

[2019-09-09 09:17] kqr opened #61983 "find_module: contains attribute ambiguously described"
##### SUMMARY

The contains attribute of the find_module has type "string" but is described as "one or more regex patterns". Given that a string can only be one regex pattern (albeit with alternations in it to match against multiple patterns) it is deceptively easy to misread this and try to specify a list of strings as the value of the contains attribute.

Granted, Ansible warns about this when r

[2019-09-09 09:37] neleshgoel opened #61984 "azure_rm_managed_disk is causing I/O blocks issues"
##### SUMMARY
A Managed Disk (data) is already attached to a Virtual Machine.
Execution of Azure Manged Disk Role (Modue - azure_rm_managed_disk) is causing I/O / Bad blocks Issue.
Stopped LVM2 PV scan on device
kernel: Buffer I/O error on dev dm-1, logical block 134252, lost async page write
kernel: Buffer I/O error on dev dm-1, logical block 134253, lost async page write
kernel: XFS (dm-1): meta

[2019-09-09 09:57] dr4Ke opened #61985 "Multiline support for the regex_replace filter"
##### SUMMARY
I think the `regex_replace` jinja filter should support `multiline` as the `regex_search` do.
Or maybe use a `flags` parameter to support any `re` flag.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `lib/ansible/plugins/filter/core.py`

##### ADDITIONAL INFORMATION
Example: comment a multiline variable.
[code]

[2019-09-09 10:14] ronansalmon opened #61986 ""Gathering Facts" hangs on some windows machines"
##### SUMMARY
Gathering Facts hangs on random windows servers and this cause by different reason, ex:
-  wmi hanging because of the TiWorker
- The following PS is hanging : `Invoke-WmiMethod -EA Ignore -Name GetServerFeature -Namespace root\microsoft\windows\servermanager -Class MSFT_ServerManagerTasks`

This is happening with  at least ansible 2.8.x/2.7.x.

I understand that those servers may hav

[2019-09-09 10:20] ghost opened #61987 "ZeroMQ transport"
##### SUMMARY
Implement a ZeroMQ transport which can be used instead of ssh.

In some critical infrastructure, an ssh connection throw an alert in monitoring system because all need to be done via automation system and ssh only for very big problem.

In same time, using ZeroMQ, we can have more efficient way due to missing ssh overhead.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansibl

[2019-09-09 10:43] guraslan commented on #59738
Created a PR for this one https://github.com/ansible/ansible/pull/61933

[2019-09-09 11:24] BobBoldin commented on #61907
I can see the issue and will work on a pr to address it.

[2019-09-09 12:10] mkayontour opened #61990 "Windows Setup wrong epoch timestamp (get-date prints epoch + local_tz)"
##### SUMMARY
Running the module setup on Windows prints the wrong epoch timestamp.
https://github.com/ansible/ansible/blob/a95f9c66401e99e72a12cb9d3a6d6c828bc1ecfe/lib/ansible/modules/windows/setup.ps1#L175

[code]

Windows prints the seconds since 1970 with the local timezone added.

[code]

This issue is already known to powershell and it will be fixed in powershell version 6.
See [Issue#2195](

[2019-09-09 12:35] mccbryan3 opened #61991 "json callback plugin named (json.py) in /usr/lib/python2.7/site-packages/ansible/plugins/ poisons the import json from any new callback plugins using import json"
##### SUMMARY

json callback plugin named (json.py) in /usr/lib/python2.7/site-packages/ansible/plugins/ poisons the import json from any new callback plugins using import json

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

json module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

th

[2019-09-09 13:09] 11gingerbread commented on #61726
Still waiting on any response or request for additional information on this issue. Please look into this.

[2019-09-09 13:25] etursunbaev commented on #47736
In my case this workaround also helped
`login_unix_socket: /var/run/mysqld/mysqld.sock `
[code]

[2019-09-09 13:28] #57773 closed, assigned to Qalthos

[2019-09-09 13:48] s-hertel commented on #61689
Perhaps another variable could be introduced to reflect check_mode set within the playbook. As @sivel mentioned, changing this could break people's playbooks. This behavior is documented here https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html

You could get the behavior you want immediately by setting a variable to use in lieu of hardcoding `check_mode: True/False`.
[code]

[2019-09-09 13:48] BobBoldin commented on #61907
PR submitted
https://github.com/ansible/ansible/pull/61993

[2019-09-09 14:02] thomwiggers commented on #61967
The relevant template would be [`feature_request.md`](https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE/feature_request.md), the bot seems a bit outdated.

[2019-09-09 14:08] fessmage opened #61997 "hcloud inventory: read token from configurable environment variable or from file"
##### SUMMARY

hcloud inventory: read token from configurable environment variable or from file
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hcloud inventory plugin
##### ADDITIONAL INFORMATION

Hcloud inventory plugin has two ways for setting token to access Hetzner Cloud - token value in hcloud.yml config file or environment variable HCLOUD_TOKEN.
Its fine in general, but there is a ca

[2019-09-09 14:10] samdoran commented on #61984
!component =lib/ansible/modules/cloud/azure/azure_rm_manageddisk.py

[2019-09-09 14:14] sivel commented on #61991
Duplicate of https://github.com/ansible/ansible/issues/51799 https://github.com/ansible/ansible/issues/31527

[2019-09-09 14:14] #61991 closed, assigned to nobody

[2019-09-09 14:26] graudeejs commented on #17685
This is an issue for me as well. I have to ensure that I don't saturate link

[2019-09-09 14:41] sivel commented on #61537
The change in looping was a side effect of 57d8b68, but I do think it is the correct behavior.  That commit brought the regex tests in alignment with upstream jinja2 behavior.  I didn't backport, because I was on the fence about it being a bugfix.

[2019-09-09 14:52] Qalthos commented on #40342
needs_info

[2019-09-09 14:54] sivel commented on #61964
!component =lib/ansible/inventory/manager.py

[2019-09-09 14:54] Qalthos commented on #34125
needs_info

[2019-09-09 14:54] sivel commented on #61871
!component =lib/ansible/utils/collection_loader.py

[2019-09-09 14:55] sivel commented on #61778
!component =lib/ansible/config/manager.py

[2019-09-09 16:11] #57072 closed, assigned to goneri

[2019-09-09 16:13] Akasurde commented on #61979
!component =lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py

[2019-09-09 16:36] UnknownGnome opened #62006 "VMware: most modules give results warning"
##### SUMMARY

Most modules give the warning
[WARNING]: Found internal 'results' key in module return, renamed to 'ansible_module_results'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_service_manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

awx docker image

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2019-09-09 16:54] sputnik13 commented on #61804
@Fred-sun @zikalino we took a look through the azure_rm_virtualmachinescaleset.py code and the corresponding code in az-cli, and it looks like az-cli is handling commands differently than the ansible module.

The ansible module seems like it's expecting a declaration of what all disks ought to look like, ergo it doesn't allow an override, whereas az-cli allows an override of disk SKU and caching s

[2019-09-09 17:28] elizajanus opened #62008 "datadog_monitor ansible module can't find requests package despite the fact that it is installed properly"
##### SUMMARY
I've created an ansible playbook that uses the datadog_monitor module to add and edit monitors in our Datadog account. This was working perfectly on Tuesday of last week (9/3). The next time I tried to use it, on Thursday (9/5), I started getting an error response that datadog could not resolve an http client. `Requests` is, in fact, installed properly and I've confirmed this by runn

[2019-09-09 17:41] sputnik13 commented on #61804
@Fred-sun @zikalino upon more thought, it seems like it would be easier and also clearer if we were to expose create_option as a parameter in the data disk definition, such that if a user passes in a base image that they know to have data disks, they would be responsible for specifying "createFromImage" for the data disks they want to override.  Otherwise the result the user gets will vary dependi

[2019-09-09 17:53] mrobson opened #62010 "os_port does not respect network or auth user / project if port with same name exists in a different project or on a different network"
##### SUMMARY
The openstack os_port module fails at creating ports with the same name when they are attaching to 2 different networks in 2 different projects.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- OpenStack os_port.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Targeting OpenStack 14, running from OSX

##### STEPS TO REPRODUCE
Running for th

[2019-09-09 18:05] nitzmahone commented on #36441
Yeah, the generated changelogs (now rst) have been included in the RPM builds for some time now, so closing this...

[2019-09-09 18:05] #36441 closed, assigned to nitzmahone

[2019-09-09 18:13] mariolenz commented on #60275
Similar to issue #62006.

@Akasurde @ckotte According to the documentation, you're the module authors. Can you please have a look? I don't understand what this `results` key is for, otherwise I'd try to do something about it. But I don't want to change things I don't understand.

[2019-09-09 18:13] mariolenz commented on #62006
Similar to issue #60275.

@Akasurde According to the documentation, you're the module authors. Can you please have a look? I don't understand what this `results` key is for, otherwise I'd try to do something about it. But I don't want to change things I don't understand.

[2019-09-09 18:24] nitzmahone commented on #50601
Unable to reproduce this locally, and the layout of the code suggests it wouldn't be possible to get this result in the current version, so I'm closing... Feel free to reopen if you have a good reproducer.

[2019-09-09 18:24] #50601 closed, assigned to nitzmahone, jborean93

[2019-09-09 18:24] bkmeneguello opened #62011 "Add support for terraform import resources"
##### SUMMARY
Allow to import resources to Terraform

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

terraform

##### ADDITIONAL INFORMATION

[code]

[2019-09-09 18:36] felixfontein commented on #61967
The problem is not that the same parameters are used. The problem is that the parameters generated with `-dsaparam` can be inherently unsafe. According to the man page:

For me, this implies that you should use the reslut for only one TLS request. Creating parameters for that is not what a module like `openssl_dhparam` should be used for.

It can also be used for that. But it doesn't make sense (f

[2019-09-09 18:36] jpmens commented on #61978
Does the behavior change in `get_url` if `dest` is an actual file?

[2019-09-09 18:56] lparkes commented on #62006
I expect that this is because the `results` key is now a standard return value used to bundle up the results of an ansible loop. See https://docs.ansible.com/ansible/latest/reference_appendices/common_return_values.html#results

I have to go AFK now, so I don't have time to look up anything more certain than Google.

The answer will be to simply rename results key manually to ansible_module_result

[2019-09-09 19:00] allanwind commented on #61978
The conditional get would previously only trigger if dest pointed to an existing file.  This is what broke.   If file exist, no remote requests are performed at all.

Secondarily, I think it would be better get_url behaved the same way if dest was a directory, and said directory contained the file derived from the url.  This is less surprising and how the uri module works.

On September 9, 2019 6:

[2019-09-09 19:13] mariolenz commented on #62006
@Akasurde Can you please confirm that this is the fix? I'd try to implement it like this and open a PR if you do.

[2019-09-09 19:22] elizajanus commented on #62008
The issue was the requests package itself, even though the package was functional. I force reinstalled at version 2.22.0 and now it works.

[2019-09-09 19:22] #62008 closed, assigned to nobody

[2019-09-09 19:38] theemptyone opened #62018 "snow_record (and snow resources in general) should allow for host as well as instance"
##### SUMMARY
snow_record only allows for "instance" parameter to be passed and not host parameter to pysnow.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
snow_record

##### ADDITIONAL INFORMATION
Pysnow has both an instance and a host parameter be set passed for target snow instance.  Often when internal systems go through adfs/sso options they will be pointing to an internal nat before

[2019-09-09 19:46] goneri commented on #61859
<@mattclay> OK, so it's the lack of node caching that's causing the problem then. That's
    a good indication that we've been using node caching for quite a while. We need to figure
    out why that's causing problems for us now and see if we can fix it so we can turn it back on.

[2019-09-09 19:57] #53185 closed, assigned to nobody

[2019-09-09 21:09] Qalthos commented on #61694
The net_put/net_get PR has been merged. Further failures after this point require reinvestigation.

[2019-09-09 22:13] walterrowe commented on #62018
The pysnow client.py code comments state it accepts host as an alternative to instance.

See https://github.com/rbw/pysnow/blob/master/pysnow/client.py params.

[2019-09-09 23:22] nitzmahone commented on #61636
It looks like you have everything in the right place, but maybe misunderstand how collection module resolution works inside a role. Roles do not inherit the calling playbook's `collections` search settings by design, as they're intended to be portable. The role author needs to either use the FQ module name *inside* the role, or add the `collections` keyword to the role's `meta/main.yml` to instruc

[2019-09-09 23:22] #61636 closed, assigned to nobody

[2019-09-09 23:47] nitzmahone commented on #61534
@duck-rh The only distros/versions that have entries in the list are those that have some kind of public declaration of "our system Python for version X is Y" (ie, there's a Python that's pretty much always there in a known location for even the barest of installations, and system stuff will break if you use a different one). We don't want to maintain a gigantic list of pythons for every distro/ve

[2019-09-10 00:03] lucendio opened #62032 "Inconsistent variable visibility for subsequent tasks when using `vars` parameter on [include,import]_[role,tasks]"
##### SUMMARY
Variables declared with the `vars` parameter might still be visible to (leak into) subsequent tasks depending on the module being used (`import_role`). Compared to the other three variations this could be seen as an inconsistent behavior.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`[include,import]_[role,tasks]`

##### ANSIBLE VERSION
tested against https://github.com/ansib

[2019-09-10 00:11] Akasurde commented on #62018
cc @n3pjk

[2019-09-10 00:15] jillr commented on #61935
At the moment `aws_s3` only supports encryption for `PUT` operations (object uploads).  You can create encrypted buckets today via the `s3_bucket` module which will generally give you better bucket management options overall:
[code]

[2019-09-10 00:20] Akasurde commented on #61963
!component =lib/ansible/modules/cloud/vmware/vmware_tag_info.py

[2019-09-10 01:16] mattclay commented on #61714
@kbreit The `Inventory not found: /root/ansible/test/integration/inventory.networking` error is unrelated to the `--docker-privileged` option. Can you open a separate issue for that error, and include additional details on how to reproduce the issue?

I agree that the docs could be more clear that the option is only available for the `integration` command.

I'm going to close this issue since the

[2019-09-10 01:16] #61714 closed, assigned to nobody

[2019-09-10 01:32] #61946 closed, assigned to mattclay

[2019-09-10 01:32] #61951 closed, assigned to mattclay

[2019-09-10 04:43] felixfontein commented on #61738
Closing since this has been fixed, and the fix has been backported to stable-2.9.

[2019-09-10 04:43] #61738 closed, assigned to nobody

[2019-09-10 04:44] #61411 closed, assigned to nobody

[2019-09-10 04:49] boustrophedon commented on #61411
Thank you!

[2019-09-10 04:53] felixfontein commented on #61411
@boustrophedon you're welcome! It might have been a little too late for this week's 2.8.5 release, but it will definitely show up in 2.9.0 and in 2.8.6.

[2019-09-10 05:32] Fred-sun commented on #57254
@yungezz Could you please look at the PR of doc? How to deal with this issue? Thank you!

[2019-09-10 05:38] FlyingFishPeng opened #62039 "Setting up the ansible_async_dir does not work in ansible 2.5."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The temporary files of async tasks are put in /data/.ansible_async

##### ACTUAL RESULTS

[code]

[2019-09-10 06:38] Fred-sun commented on #61984
@zikalino Please help take a look this issue when you're free! I try to reproduce, but I can't! Thanks a lot!

[2019-09-10 07:09] richlv opened #62042 "ansible_sudo_pass[word] doesn't work in 2.8"
##### SUMMARY
`ansible_sudo_pass` and `ansible_sudo_password` are not working anymore in Ansible 2.8.

Tested with 2.8.1 and 2.8.4.

Setting `ansible_become_password` works.

Checking all the porting guides at https://docs.ansible.com/ansible/latest/porting_guides/porting_guides.html, couldn't find any that would mention these variables being removed.

Does not seem to be related to #11500.

#####

[2019-09-10 07:11] Fred-sun commented on #59392
@zikalino

[2019-09-10 07:21] Fred-sun commented on #59770
@MyronFanQiu Can you test and update the test results?  Thank you!

[2019-09-10 07:23] karniemi commented on #37254
Any new on this? Within this timeframe there might have been some refactoring on the relevant pieces of code? Earlier @wojciechkopciewicz analysed that there's propabably 10s(?) of places that would need the fix -maybe after some proper refactoring only one place would need a fix (...hopeful thinking :-) )? After all, it makes no sense to have any piece of logic copy-pasted all around?

[2019-09-10 07:49] gustavomcarmo commented on #61712
Same issue here. [My ansible playbook](https://github.com/esign-consulting/myjenkins/blob/master/ansible/add-credentials.yml) doesn't work anymore.

[2019-09-10 08:03] nicolaibaralmueller opened #62045 "ansible not loading $home/.azure/credentials or env variables"
##### SUMMARY

Ansible is not loading the variables from $home/.azure/credentials or env variables

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

A new resource group

##### ACTUAL RESULTS

[code]

[2019-09-10 08:06] Fred-sun commented on #58043
@zikalino Please take a look this issue that new feature for azure_rm_virtualmachinescaleset module! Thanks a lot!

[2019-09-10 08:06] nicolaibaralmueller commented on #44757
Closing since this seems to have no solution

[2019-09-10 08:06] #44757 closed, assigned to nobody

[2019-09-10 08:08] nicolaibaralmueller commented on #48602
Closing since this issue is gone since newer ansible versions.

[2019-09-10 08:08] #48602 closed, assigned to nobody

[2019-09-10 08:10] pennking opened #62046 "Pamd Module does not consider the possibility of duplicate parameters. State: args_present"
##### SUMMARY

When using the pamd module with state: args_present, it does not consider the possibility of duplicate parameters in the line. In my opinion, if args_present notices duplicate parameters in the line in question, it should remove all of duplicate instances and leave one instance with the correct value.

##### ISSUE TYPE
- Bug Report
- Suggestion for Functionality

##### COMPONENT NAM

[2019-09-10 08:13] nicolaibaralmueller commented on #58624
Let me rephrase the issue. I need to lookup files that are not in roles or playdir path and can't find any documentation about how to do that.

We have three projects:

`ansible-azure`
`ansible-vpshere`
`ansible-softlayer`

Now I want to access files cross projects without knowing the root folder below the projects if that makes sense.

[2019-09-10 08:14] Fred-sun commented on #57965
@yungezz @zikalino @MyronFanQiu Please help to check this bug and give a fix PR! Thanks a lot!

[2019-09-10 08:15] nicolaibaralmueller commented on #58043
I just use a default ssh key for now. Waiting till the module supports generate ssh keys. Thanks

[2019-09-10 08:19] Fred-sun commented on #58043
Thanks a lot, and I'll keep pushing to add this feature!

[2019-09-10 08:28] Addvilz commented on #61967
Do you have any authoritative source to back this up? Because I am pretty sure you are making quite a mixup here between DH keys and DH parameters.

What? No. How did you come to this conclusion?!

Keys, not parameters.

See
https://www.openssl.org/news/secadv/20160128.txt
https://jhalderm.com/pub/papers/subgroup-ndss16.pdf
http://blog.intothesymmetry.com/2016/01/openssl-key-recovery-attack-on-dh-

[2019-09-10 08:34] ronansalmon commented on #61986
Could this be a pywinrm issue or should it be handle by ansible ?
https://github.com/diyan/pywinrm/issues/274

[2019-09-10 08:42] clammers opened #62048 "Support encapsulation dot1q in NXOS"
##### SUMMARY

Support for 'encapsulation dot1q' as it was already implemented in deprecated module nxos_ip_interface. Can't find it in nxos_l3_interface or any other module.

It is needed cause on N9K you only can have 512 subinterfaces. You need the possibility to override encapsulation cause of 4096 possible vlans.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos_l3_interface

#####

[2019-09-10 09:10] pbrezina commented on #61701
Yes, it looks like a duplicate.

[2019-09-10 09:13] Fred-sun commented on #56776
@zikalino

[2019-09-10 09:26] Theoooooo opened #62049 "Synchronize can't find files properly"
##### SUMMARY
I've been trying to copy a file from a remote node to another remote node but strangly the synchronize mode (and rsync) can't find the files that i'm trying to copy.
Same issue as #56629

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
hosts
[code]

variables.yml
[code]

playbook.yml
[code]

##### OS / ENVIRONMENT
Cen

[2019-09-10 10:03] asarubbo opened #62050 "rocketchat: please support messages from personal account"
##### SUMMARY
Please support messages from a personal account.
##### ISSUE TYPE
I would like to send messages on rocket chat by using my personal account (via api) instead of an incoming webhook.
The module seems to not support that.

##### COMPONENT NAME
rocketchat

##### ADDITIONAL INFORMATION

I'm using the following atm:

[code]

[2019-09-10 10:17] flyinva opened #62052 "[nsupdate] : please use the server parameter in dns.resolver.zone_for_name"
##### SUMMARY

server parameter is required but not used as for zone resolution.

##### ISSUE TYPE

dns.resolver.zone_for_name is using system resolver so it can't be used to manage DNS entries from an external DNS without zone parameter. Zone resolution fails in this case.

The server parameter should be used as resolver.

##### COMPONENT NAME

nsupdate

##### ANSIBLE VERSION

[code]

##### CONFI

[2019-09-10 10:37] MoreauGwenael opened #62055 "apt module error when variable is provided"
##### SUMMARY

Hello,
While following the deprecation on the apt module about using a loop via squash_actions, I found that it is impossible to provide a variable using a list within the name variable (cf. example below if it is not clear).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running

[2019-09-10 10:50] pytkr opened #62056 "Setup in Ansible 2.8 can't fetch used mem, used cpu, used disk info from client of Windows server 2008"
##### SUMMARY
Setup in Ansible 2.8 can't fetch some important info on used mem, used cpu, used disk info from client of Windows server 2008, maybe including other windows OS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing

##### OS / ENVIRONMENT
Linux localhost.localdomain 3.10.0-957.10.1.el7.x86_64 #1 SMP Mon Mar 18 15:06:45 U

[2019-09-10 10:53] ejez opened #62057 "When using loop_control with pause, loop should not pause when a task is skipped"
##### SUMMARY

When using loop_control with pause, loop should not pause when a task is skipped
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The general use case for pausing between tasks is to wait for something to finish as a result of a

[2019-09-10 11:19] DonHansDampf commented on #36369
Created a possible rewrite: https://github.com/ansible/ansible/pull/62059

[2019-09-10 11:22] darxriggs commented on #57414
I already added a comment at the respective code location - https://github.com/ansible/ansible/commit/175068fdae90ba13aae0d8f6690064bc968ed16f#r35010781.

[2019-09-10 11:56] MoreauGwenael commented on #62055
Additional note : This problème only occur when the variable is already a list, for example :
[code]

If it is only one entry like following, it works perfectly :
[code]

[2019-09-10 12:44] Vladimir-csp commented on #59017
I found out that wrapping handlers in `set()` is not working on python 3 with `Unhashable type "Block"` exception, so some other way of deduplicating handler lists is needed.

[2019-09-10 12:56] agowa opened #62062 "os_network port_security_enabled unexpected keyword"
##### SUMMARY
The module os_network throws an unexpected keyword error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ArchLinux and ansible from source

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Network ext_network is created

##### ACTUAL RESULTS

[code]

Can be fixed by:
[code]
my ope

[2019-09-10 12:56] armenr commented on #57542
I'm getting nicked by the same issue. This disabled our build & deploy pipeline for nearly an entire day.

[2019-09-10 13:00] s-hertel commented on #61703
There isn't enough info here to reproduce the issue. If it fails even when you hardcode the credentials in the parameters, it's likely you have a conflicting environment variable set (such as a security token). Depending on the other modules you use, if the modules that succeed use the boto SDK (as opposed to boto3, totally different things) then a ~/.boto credential file may be getting picked up

[2019-09-10 13:00] #61703 closed, assigned to nobody

[2019-09-10 13:06] Saurabh-Thakre opened #62063 "yum module does not respect wildcard character '*'"
##### SUMMARY

Please note that I've removed "nmap-ncat" package from remote node. When running the ansible command  to see if the package is removed or not from Control RHEL7 server on remote RHEL8 node.

[code]

When using **ansible 2.8.1-2,3,4** on RHEL8, command is failing with following error which is not relevant .

rather the command should return SUCCESS as following

[code]
And when tryin

[2019-09-10 13:06] felipeng commented on #61935
I don't see `encryption` parameter in the [documentation](https://docs.ansible.com/ansible/latest/modules/s3_bucket_module.html). Also while I tried to execute your playbook I got this:
[code]

[2019-09-10 13:20] Akasurde commented on #61963
@mycloudrevolution Thanks for the feature request. Could you please elaborate more on the details you require from `vmware_tag_info` module ?

I am able to use category id from `vmware_tag_info` -

[code]

[2019-09-10 13:21] s-hertel commented on #61803
!component =lib//ansible/modules/clustering/k8s/k8s_scale.py

[2019-09-10 13:26] sivel commented on #59017
This should be resolved now that https://github.com/ansible/ansible/pull/59969 has been merged.  The fix will be included in the upcoming Ansible 2.9 release.

[2019-09-10 13:29] Akasurde commented on #61963
needs_info

[2019-09-10 13:31] s-hertel commented on #61878
You can copy and past the template in the link provided by the bot into the initial comment and then fill it out. The bot reads the description for these issues, not subsequent comments. Issues without adequate details don't get labeled properly and it means any relevant people are not pinged and are eventually auto-closed. Also, when you do that can you share the output of `ansible-config dump --

[2019-09-10 13:35] bcoca commented on #62057
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `when:` conditional applies to EACH loop iteration and not to the task as a whole.

In the future, this might be a topic more well

[2019-09-10 13:35] #62057 closed, assigned to nobody

[2019-09-10 13:40] bcoca commented on #61712
closing as dupe of #61672.

[2019-09-10 13:40] #61712 closed, assigned to nobody

[2019-09-10 13:44] #61672 closed, assigned to nobody

[2019-09-10 13:57] misterunknown commented on #60889
Is there a workaround which I can implement in the code? I have many playbooks and roles which I cannot simply edit like @Salandora suggested.

[2019-09-10 13:58] Akasurde commented on #62006
@mariolenz I think we should identify all modules in VMware space which uses this `results` key in return json and change appropriately. I am working on finding such modules and list down here. Once this is done we can decide the strategy to solve this issue.

Let me know your views on this.

[2019-09-10 14:22] sivel commented on #62032
This is expected and covered in https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

[2019-09-10 14:26] bcoca commented on #62055
So apt expects each item in the list to be a string, not a list,  it does not flatten items into a single list

To avoid this you can do it several ways, this is one example:
[code]
but it always requires you pass a 'list of strings' to the module.

I'm keeping this ticket open as this should be verified and give a useful error (i.e 'item is not a string') instead of a module failure.

[2019-09-10 14:37] sivel commented on #62032
If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-10 14:37] #62032 closed, assigned to nobody

[2019-09-10 14:52] mycloudrevolution commented on #61963
But only for an exiting tag. If only the category exists without tags or you don't know the tag names you are not able to identify the category.

[2019-09-10 14:56] fabianvf commented on #61803
This comes from the default `strategic-merge-patch` strategy that is being used to handle diffs, when modifying lists it tends to combine them rather than process removals. `2.9` will include the `apply` option that allows it to more easily compute proper patches with deletions etc, but in 2.8 you will need to set the `merge_type` to `merge` to get it to properly override lists (this will tell the

[2019-09-10 15:00] pcapdevila opened #62071 "Timestamps printed for skipped tasks"
##### SUMMARY

When using profile_tasks callback with

```display_skipped_hosts = no ```

timestamps are printed even for the skipped taks:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

```Linux server 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux```

##### STEPS TO

[2019-09-10 15:17] ahuffman commented on #61636
@nitzmahone thanks for validating the proper way to call collection modules from within a role.  I added a meta/main.yml to both my roles, and added:
[code]
To my roles, and the modules are now being seen by the roles.

Can you point me to the repo where the Galaxy meta parameters are documented so I can update the documentation of this new/undocumented feature?  I did not see the collections para

[2019-09-10 15:18] alikins opened #62073 "`ansible-galaxy collection` fails against galaxy v3 (appending /api to server url)"
##### SUMMARY

When stable-2.9 `ansible-galaxy collections install` runs against a galaxy v3 instance, it appends a `/api` to the server url which points to the wrong url for the API entrypoint.

Galaxy v3 (aka, https://github.com/ansible/galaxy-api) changes where the API entrypoint url lives.
For galaxy v2, it was at `/API`. For v3, it can be elsewhere, for example `/api/automation-hub/`.

stable

[2019-09-10 15:20] sharego opened #62074 "Add a option --omit to skip the hosts , like --limit to filter the hosts to selected on cli"
##### SUMMARY
Add a new option:   ` --omit`
usage:  skip the hosts, just like the option `--limit`  apply an additional pattern to select hosts, this option do that reverse, apply an additional pattern to skip hosts which selected

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible cli

##### ADDITIONAL INFORMATION
Use `--limit`  to choose what hosts to run, after that, there is a situa

[2019-09-10 15:22] ahuffman commented on #61636
@nitzmahone I also wanted to mention that I had tested using the FQCN within the included role's tasks to the collection's modules, and they remained unseen.  While adding the meta/main.yml `collections` keyword/param, the role's tasks now in fact see the collection modules.

[2019-09-10 15:29] bcoca commented on #58624
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-09-10 15:29] #58624 closed, assigned to nobody

[2019-09-10 15:32] bcoca commented on #62074
so, ```--limit !hostname``` would skip the host already, you don't need a new option for this

[2019-09-10 15:32] anshulbehl opened #62075 "ansible-test sanity on collections should ignore tests/output directory"
##### SUMMARY

ansible-test sanity also checks the automatically created tests/output directory and is failing the symlink test. This happens when running ansible-sanity on collection

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Running ansible-test sanity on a colle

[2019-09-10 15:34] alikins opened #62076 "`ansible-galaxy collection install` fails against galaxy v3 because of collection version detail api difference"
##### SUMMARY

This assumes https://github.com/ansible/ansible/pull/61927 to fix #62073. The next failure after that is when downloading the collection version detail info
(ie, `GET /api/automation-hub/v3/collections/{namespace}/{name}/versions/{version}/`,
for example `GET /api/automation-hub/v3/collections/myns/collection_ntp/versions/0.1.182/`)

The current version of galaxy-api, aka, galaxy v3

[2019-09-10 15:35] ejez commented on #62057
Thanks for the reply,

I do understand that the "when" conditional applies to each iteration.

In the example above we have a loop with 9 tasks (9 iterations), 7 of them are skipped (due to the when conditional) and only the last 2 get executed; However the loop pauses after every task regardless of it being skipped or not.

My expected behavior is that the pause should only be between **executed*

[2019-09-10 15:36] alikins commented on #62076
**Note:** This could very possibly be considered entirely a galaxy-api / v3 bug and any changes required would happen there. But adding this issue to track it for stable-2.9

[2019-09-10 15:37] alikins commented on #62076
pinging @jborean93 @bmbouter @cutwater @chouse

[2019-09-10 15:41] sharego commented on #62074
@bcoca Thank you very much, It's great. I test it's ok, and exactly what i need. `ansible all -m ping -l '!pattern' -o`

[2019-09-10 15:41] #62074 closed, assigned to nobody

[2019-09-10 15:42] sivel commented on #61987
Hi!

Thank you very much for your interest in Ansible.

Unfortunately, we're not sure if we want this feature in the program and have no plans on adding this functionality.

However, should you wish to develop this feature, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections. You can find more information about collections at https://docs.ansible.c

[2019-09-10 15:42] #61987 closed, assigned to nobody

[2019-09-10 15:43] sivel commented on #62071
!component =lib/ansible/plugins/callback/profile_tasks.py

[2019-09-10 15:44] sivel commented on #62045
!component =lib/ansible/modules/cloud/azure/azure_rm_resourcegroup.py

[2019-09-10 15:48] sivel commented on #62039
Ansible 2.5 is no longer supported.  Support for using `ansible_async_dir` was added in Ansible 2.8.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-10 15:48] #62039 closed, assigned to nobody

[2019-09-10 15:50] paylocity-sflanders opened #62077 "meta reset_connection doesn't appear to work on windows"
##### SUMMARY
Trying to utilize the meta reset_connection on a windows machine documented here: https://docs.ansible.com/ansible/2.8/modules/meta_module.html  However anyway i format it, it complains with error:

ERROR! Unexpected Exception, this is probably a bug: 'Requested entry (plugin_type: connection plugin: winrm setting: _extras ) was not defined in configuration.'

I've tried variations w

[2019-09-10 15:52] sivel commented on #62077
This is likely a duplicate of https://github.com/ansible/ansible/issues/58184

[2019-09-10 15:56] mattclay commented on #62075
@anshulbehl Are you using git for version control on the collection? Is the `tests/output/` directory in the `.gitignore` file?

[2019-09-10 16:02] UnknownGnome commented on #62006
In addition to vmware_host_service_manager, I've seen the warning in vmware_host_ntp

[2019-09-10 16:03] bcoca opened #62079 "collections sanity tests should start by verifying its a valid collection"
currently an invalid collection will error out on docs sanity, but this is misleading since the problem is that the collection name itself is invalid, a previous test verifying this should be introduced to avoid confusion.

example currently:
[code]
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-test

[2019-09-10 16:12] #59183 closed, assigned to nobody

[2019-09-10 16:17] mattclay commented on #62079
This should probably be checked when ansible-test is identifying the current directory as a collection, rather than when sanity tests run, since the problem isn't just limited to sanity tests.

[2019-09-10 16:17] tcarecolin opened #62081 "yum module unable to find a specific version of a package X"
##### SUMMARY
I want to make ansible install a specific version of a package (docker in this example) but i ran into errors on each attempt, because ansible cant find the package version, so installation is skipped.

_Note: in a normal installation without specifying docker_version works as expected and ansible just installs the latest packages._

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-09-10 16:19] bcoca commented on #62079
@mattclay even better!

[2019-09-10 16:37] anshulbehl commented on #62075
@mattclay was using git for version control but the .gitignore file had nothing in it, and I removed git tracking from folder but the same issue persists.
[code]

[2019-09-10 16:50] anshulbehl commented on #62079
Sounds right to me.

[2019-09-10 16:57] mariolenz opened #62083 "VMware: Modules with internal 'results' key in module return"
##### SUMMARY
The following modules throw a `[WARNING]: Found internal 'results' key in module return, renamed to 'ansible_module_results'`:

* [ ]  `vmware_datastore_maintenancemode`
* [ ]  `vmware_host_kernel_manager`
* [ ]  `vmware_host_ntp`
* [ ]  `vmware_host_service_manager`
* [ ]  `vmware_tag`

I've generated the list like this:

`cd lib/ansible/modules/cloud/vmware/ && grep exit_json *.py

[2019-09-10 17:07] mariolenz commented on #62006
@Akasurde

Issue #62083 (inspired by #59635)

Is there a default or best practice naming scheme for a variable that returns some kind of result from the module? There are some VMware modules that return a `result` without an `s`. Maybe we can just delete this one character.

[2019-09-10 17:23] jillr commented on #61935
Ah apologies, I thought that had merged in 2.8 but I was mistaken - it will be in `s3_bucket` for 2.9 (it is also available in devel):  https://docs.ansible.com/ansible/devel/modules/s3_bucket_module.html
2.9 is in beta1 at the moment and is due out in the middle of October.

[2019-09-10 17:31] andreaso commented on #62052
Suggested workaround: If you specify the `zone` parameter there is no need to do a resolver lookup.

[2019-09-10 17:39] bcoca commented on #62057
there are cases in which you want to thottle even the decision since it can depend on external resource

i.e ``` when: '{{ lookup("uri ...}}'` is something you don't want to hit in a fast loop. I would add an option to loop control to add the behaviour you want, but keep the default as is.

[2019-09-10 17:40] bkmeneguello opened #62086 "Terraform: Add support for create destroy plans"
##### SUMMARY

Terraform support `-destroy` flag in `plan` command. This should be supported by `planned` state.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-09-10 17:50] AlanCoding commented on #60646
I think this was likely fixed by https://github.com/ansible/ansible/pull/50447

[2019-09-10 18:05] catspy commented on #61803
@fabianvf do you have an example of how do we set the merge_type config?

[2019-09-10 18:10] fabianvf commented on #61803
@catspy here's an example from our tests: https://github.com/ansible/ansible/blob/446919de6f5fbbcff8706d7eff147595140547fb/test/integration/targets/k8s/tasks/crd.yml#L44

documentation on it is here: https://docs.ansible.com/ansible/latest/modules/k8s_module.html

[2019-09-10 18:14] tYYGH commented on #33062
Sorry @bcoca but I still don’t understand. I might be missing something that is obvious to you…

If you re-read my bug description, you will see, that I have no problem with `include_role` always executing. `include_role` always executes, and that’s normal.

My problem seems to be rather related with _meta_ handling.

[2019-09-10 18:19] AlanCoding commented on #54446
this was fixed

[2019-09-10 18:51] mikewiebe commented on #61568
I tested this with the latest `devel` but still see the same issue described above with both the `net_put` and `nxos_file_copy` action plugins.

[2019-09-10 19:23] flyinva commented on #62052
I use `zone` parameter for A or AAAA records but it's much harder for PTR.

[2019-09-10 19:26] andyfeller opened #62091 "no_log obscures loop_control label"
##### SUMMARY

`no_log` argument results in useless loop control label

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Darwin afeller-mbp 17.7.0 Darwin Kernel Version 17.7.0: Sun Jun  2 20:31:42 PDT 2019; root:xnu-4570.71.46~1/RELEASE_X86_64 x86_64

##### STEPS TO REPRODUCE

Run provided playbook.

[2019-09-10 19:30] catspy commented on #61803
Thank you for your precious help @fabianvf !

[2019-09-10 19:30] 11gingerbread commented on #61726
Executed the playbook with "-vvvv" (4), below is the tracelog of the same -

TASK [IOS | Show clock] ************************************************************************************************************************************************
task path: /etc/ansible/cisco_updates/playbooks/cisco-rtr_add_vlan.yml:18
<t68517rtr> using connection plugin network_cli (was local)
<t68517rtr> starting

[2019-09-10 19:41] anshulbehl opened #62096 "--all flag with ansible-test coverage throws a traceback"
##### SUMMARY

traceback with --all option with ansible-test coverage
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/bin/ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run coverage with below comand

[code]

##### EXPECTED RESULTS

No traceback should occure

##### ACTUAL RESULTS

[code]

[2019-09-10 19:55] ChevyNovaLN commented on #56273
I just thought I would check to see if there were any other thoughts on this.   Not super pressing, but it would be nice to be able to do this without using PowerShell from a Windows server and do it in Ansible directly.

That said,  would also be nice to be able to pass an option that would tell you if it's current/latest without upgrading, i.e. more like a status check.

[2019-09-10 20:14] mikewiebe commented on #61568
Fix needed in 2.9

[2019-09-10 20:14] felixfontein commented on #61967
No, but I'm still in the process of investigating. I didn't had enough time to properly look into this yet, I hope I'll be able to do that over the weekend.

It could be that I misunderstood something here. I'll find out when I go through this again in more detail.

I don't know why this option was added, and if it is a good or bad thing. I'm just saying that just because this option exist, we sho

[2019-09-10 20:27] jhawkesworth commented on #61986
@ronansalmon do the machines where this fails have 1 cpu by any chance?  TiWorker will hog 100% of 1 cpu if windows update has pushed out a new version of .net as it makes ngen recompile all the .net assemblies it can find on your machine.   I've seen this run for 15-20 minutes on some machines.  2cpu machines aren't as badly hit as ngen will only tie up one of the cpus in my experience.

[2019-09-10 20:33] #54138 closed, assigned to nobody

[2019-09-10 20:47] veaviticus opened #62102 "Windows modules running with Become can break JSON return parsing"
##### SUMMARY
Windows modules, run under Become, featuring Powershell commands that output something to stdout when not assigned to a variable cause Ansible to fail to parse the returned JSON string.

This affects everything from 2.5.1 to 2.7.13.
2.8.x is fine.

It was this commit that caused the issue: https://github.com/ansible/ansible/commit/38a13f41cdb49e429acb4f0a757c009102af087d.

I have rev

[2019-09-10 20:55] jborean93 commented on #62102
Honestly I need to sit down further and have a closer look at this but really you should not be outputting any other data that isn't the return json. That means you need to redirect the `New-Item` output to `$null` or some other var as that is why there is data beforehand. Relying on Ansible to be able to filter out any of the data from the stdout is unreliable at best and this behaviour can chang

[2019-09-10 21:16] colundrum commented on #61987
@sivel Thanks you but in that case, I haven't the time to develop it alone …
I'll migrate all to SaltStack because it's more compliant with the prerequisite of no SSH connection for automation in that situation

[2019-09-10 21:29] anshulbehl opened #62105 "ansible-test is removing the pip and setuptools"
##### SUMMARY

When I initiate a virtualenv with python 3.7 and then installing
https://pypi.org/project/ansible/2.9.0b1/
inside it. Running sanity tests is causing the pip package to be removed from the venv

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/bin/ansible-test
##### ANSIBLE VERSION

Same also happens with the latest stable-2.9 branch too
[code]

##### CONFIGURATION

[code]

###

[2019-09-10 22:06] mtkunkel opened #62106 "checksum_url parameter for win_get_url fails with POSIX repositories"
##### SUMMARY

`checksum_url` causes `win_get_url` to fail when downloading from a maven (or other POSIX-ish) repository.   It appears win_get_url is expecting some specific format for the checksum, including a windows carriage return?   Is this parameter supposed to be specific to NuGet style repositories?   I may attempt to fix it, just not a windows / `.ps1` expert. https://github.com/ansible/a

[2019-09-10 22:29] felipeng commented on #61935
Cool, thank you!

[2019-09-10 22:29] #61935 closed, assigned to nobody

[2019-09-10 22:49] #62075 closed, assigned to nobody

[2019-09-10 22:55] mattclay commented on #62105
I can reproduce with just `ansible-test sanity --python 3.7 --test import -v` in a virtual environment.

[2019-09-10 23:46] mattclay commented on #62105
This appears to be a bug in either `virtualenv`, `venv` or both.

I can create a virtual environment from within a virtual environment using only `virtualenv` or `venv` successfully. However, creating a `venv` virtual environment from within one created by `virtualenv` results in a copy of the original virtual environment.

The following commands demonstrate the issue:

[code]

The resulting outpu

[2019-09-11 00:47] mattclay commented on #62105
https://github.com/ansible/ansible/pull/62111 works around the issue during venv creation. Since the `import` sanity test re-creates the venv each test run, no action is required.

However, if this issue is encountered when using the `--venv` option, then the virtual environment will need to be manually removed.

For Ansible remove the `test/results/.tmp/delegation/` directory.
For Ansible Collect

[2019-09-11 01:41] FlyingFishPeng commented on #62039
Is there a way to set ansible_async_dir in Ansible 2.5?

[2019-09-11 02:25] andreaso commented on #62052
For what it's worth I'm leaning towards you being right, in that the module ought to use the specified authoritative server to look up the zone name. If nothing else because we already use the authoritative server for TTL lookups.

I will likely submit a PR later this week.

[2019-09-11 02:27] #62105 closed, assigned to nobody

[2019-09-11 02:39] mattclay opened #62113 "Imports from `ansible_collections` don't work in `conftest` modules."
##### SUMMARY

(converted from project card created by @webknjaz)

When conftest in unit test contains something like `from ansible_collections.yum_unit_test_migration_spec.yum_collection.tests.unit.compat.mock import patch`, it will result in `E   ModuleNotFoundError: No module named 'ansible_collections'`.

The workaround is to add a boilerplate `conftest.py` into tests root: https://github.com/

[2019-09-11 02:44] mattclay commented on #62113
!component =bin/ansible-test

[2019-09-11 02:50] mattclay commented on #62113
This is caused by pytest loading conftest modules during test runs before loading plugins specified on the command line, making the collection loader unavailable to provide support for imports.

[2019-09-11 03:32] Fred-sun commented on #56774
@zikalino Any update for this?

[2019-09-11 04:57] #59438 closed, assigned to Akasurde

[2019-09-11 05:12] #62096 closed, assigned to jborean93

[2019-09-11 05:15] jborean93 commented on #62096
Thanks for the report @anshulbehl, I've fixed the issue with https://github.com/ansible/ansible/pull/62115 and have raised a backport for stable-2.9.

[2019-09-11 05:23] ejez commented on #62057
Thanks for the reply, added PR with the described option

[2019-09-11 05:36] #61773 closed, assigned to nobody

[2019-09-11 05:44] ronansalmon commented on #61986
Nope, some have 8 cpu. The ansible playbook run at night. So ansible hangs until I kill it the following morning.
The wmi commande hang as well when I run commands directly from a console.

[2019-09-11 05:45] Fred-sun commented on #62045
@nicolaibaralmueller  This error should be your secret variable not defined, can you share your full playbook and test log? Thanks a lot!

[2019-09-11 06:12] Fred-sun commented on #45330
resolved_by_pr #61009

[2019-09-11 06:19] jborean93 commented on #61986
Ultimately that usually means your WMI registry is corrupted and isn’t necessarily an Ansible problem. In saying that we should handle stuff like this by either forcing a timeout or some other method.

[2019-09-11 06:21] #60395 closed, assigned to nobody

[2019-09-11 06:21] mattclay commented on #60395
Closing, since the solution was posted in the previous comment.

[2019-09-11 06:27] #62113 closed, assigned to nobody

[2019-09-11 06:42] ronansalmon commented on #61986
@jborean93, yes wmi registry is probably corrupted, and a reboot of the server fixes the wmi issue.

But the issue is not about wmi or Invoke-WmiMethod hanging. It's about an ansible playbook hanging because of one machine. We have about 1k machines, the playbook no longer runs because of one server. Ansible does not timeout on gathering fact

[2019-09-11 06:49] ronansalmon commented on #61986
I thought of another way arround of gathering facts, but still does not work :
playbook:

[code]
role: gather_fact
[code]

ansible hangs forever on TASK [gather_fact : Get hosts infos] **********
It looks like that gather_timeout is ignored.

[2019-09-11 07:29] #62081 closed, assigned to nobody

[2019-09-11 07:50] jbertozzi commented on #57306
Hi,

I would like to re-open this issue as I am facing the same issue.

##### SUMMARY

While using vmware_guest to provision RHEL 8 images, the customization is ignored. Machine is deployed, without correct network configuration, NIC not connected (despite the `start_connected``set to true).
This works well for RHEL7 VM.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest with VMwar

[2019-09-11 08:05] nicolaibaralmueller commented on #62045
Sure.

[code]

I am assuming that ansible knows to look for the default env variables or credentials file if they exist?

I am trying to avoid adding tenant, client_id and secret to each module.

[2019-09-11 08:54] anssite opened #62126 "os_subnet module fails when checking if host_routes have changed"
##### SUMMARY
Module os_subnet fails when trying to check if host_routes parameter has changed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create subnet with os_module with host_routes defined. Then run the same play again.
First play runs ok without errors, running the

[2019-09-11 09:01] Andersson007 opened #62128 "hall module: the hall.com is not available"
##### SUMMARY
hall module:  the hall.com is not available
[code]
It looks like https://hall.com is not available
[code]
I can't find any information about this service exists nowadays or not

Therefore, the module must be removed or fixed.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
```lib/ansible/modules/notification/hall.py```

##### ANSIBLE VERSION
[code]

[2019-09-11 09:08] Fred-sun commented on #62045
@nicolaibaralmueller I executed your playbook and created the resource group successfully. If credentials are obtained through an environment variable, the environment variable should increase subscription_id. Thanks a lot!
[code]

[2019-09-11 09:16] broferek commented on #32265
Hi,

hitting the same issue to generate Nagios config. I have a template per service, 35 services to generate locally. It would really save a lot of time to be able to generate them in parallel.

[2019-09-11 10:14] changbowen commented on #49842
I'm having a similar issue with version 2.8.4.
It seems that it is not possible now to change the IP configurations with vmware_guest module?
The error is `Network 'VM Network' does not exist.`

[2019-09-11 10:22] gundalow commented on #62128
Looks like hall.com no longer exists https://twitter.com/hall

[2019-09-11 10:35] nicolaibaralmueller commented on #62045
@Fred-sun Do I understand correctly that subscription id MUST be set as env var in order for this to work?

If this the case then env var is not an option as we use many different subscriptions simultaneously.

[2019-09-11 10:41] changbowen commented on #49842
Actually sorry from another issue #50656 the error went away when specified the datacenter

[2019-09-11 10:58] nicolaibaralmueller opened #62130 "azure_rm_storageaccount missing firewalls and virtual networks configuration"
##### SUMMARY

Firewalls and virtual networks configuration missing in this module.

It is not possible to add virtual network and subnet for security measures and improved performance.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_storageaccount

[2019-09-11 11:03] brydoncheyney-slc commented on #32559
+1

We require the ability to pass the `--sslCAFile` - there's an open pull request #56911 for this

[2019-09-11 12:13] gundalow commented on #62128
I think we can just `git rm` these (and backport to stable-2.9)

[2019-09-11 12:44] Salandora commented on #60889
As far as I know there is no working workaround for 2.8.x versions but @Thulium-Drake tested the devel version and the output seems to be correct so you could try the 2.9.0b1 pre-release or an older version 2.7.x.
I haven't tested it myself so I can't say what version will work.

[2019-09-11 13:16] misterunknown commented on #60889
I switched to 2.7.13 for now, that works.

[2019-09-11 13:29] rnowagk opened #62136 "whitespace breaks module name parsing in local_action"
##### SUMMARY
Extra whitespace between a local_action module and the first argument is treated as part of the module name and leads to 'module not found' errors in 2.8.4. (It works in 2.7.0.)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.1810 (Core)

##### STEPS TO

[2019-09-11 13:38] rwaal commented on #61984
I have run into this problem also using Ansible 2.8.4. It can be easily reproduced.

I hope a fix can be created for this, because this causes all sorts of issues. For example, Azure Site Recovery stops replicating after you execute a playbook with the azure_rm_managed_disk module multiple times.

[2019-09-11 13:42] DerrickTJ opened #62137 "MSO EPG rerun removes contracts"
##### SUMMARY
When rerunning this module, if contracts are applied to the EPG , this module will remove all contracts and come back with a status of changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mso_schema_template_anp_epg

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

To test, built the EPG with the config below. I would just manually assign a contract in MSO. Rerun pla

[2019-09-11 13:45] ganeshrn commented on #61939
Did you try with [net_get](https://docs.ansible.com/ansible/devel/modules/net_get_module.html) module to fetch the binary files?

needs_info

[2019-09-11 13:51] ganeshrn commented on #61866
Can you please enable persistent device logging and share the logs after redacting sensitive information from log file. Refer https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging for enabling debug logs.

Also please share the contents of file `Configs/S2Sikev2.txt`

needs_info

[2019-09-11 13:52] ganeshrn commented on #61844
resolved_by_pr #61860

[2019-09-11 13:52] #61844 closed, assigned to nobody

[2019-09-11 14:12] #61374 closed, assigned to nobody

[2019-09-11 14:12] NilashishC commented on #54878
@liviozanol Can you check if the fix in #62132 solves this problem?

[2019-09-11 14:14] jbertozzi opened #62139 "VMware: vmware_guest module does not run customization for RHEL 8 images"
Hi,

##### SUMMARY

While using vmware_guest to provision RHEL 8 images, the customization is ignored. Machine is deployed, without correct network configuration, NIC not connected (despite the `start_connected``set to true). The dns_suffix and the domain are also ignored.
This works well for RHEL7 VM.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest with VMware ESXi, version 6.7

[2019-09-11 14:19] ganeshrn commented on #61596
@sushma-alethea Are you still seeing this issue in the latest devel branch. If yes can you please share the device interaction logs after redacting the sensitive information from log file. Refer https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging for enabling device interaction logs.

needs_info

[2019-09-11 14:26] veaviticus commented on #62102
@jborean93, agreed that we should redirect the output before it gets back to Ansible (and that's what we've done). I mostly wanted to file this as a summary for others who run into this, since the error message isn't the most helpful, and it only happens in a fairly specific case. It was also a bit confusing since I didn't know about this and it took far too long for me to realize the `New-Item` w

[2019-09-11 14:30] kitkatneko opened #62140 "azure_rm_appgateway.py module doesn't support new azure offering of app gateway"
##### SUMMARY
the module doesn't support the newer v2 tiers
current tiers(skus) are: standard(small, medium, large), waf(small, medium, large)
up to date tiers(skus) should be: standard(small, medium, large), waf(small, medium, large) PLUS standard_v2(min_instance#, max_instance#), waf_v2(min_instance#, max_instance#)

##### ISSUE TYPE
- Feature Missing as seen in ansible 2.8.2

##### COMPONENT NA

[2019-09-11 14:31] jean-christophe-manciot opened #62141 "Allow networking modules to send confirmation each time it is requested"
##### SUMMARY
Some commands require confirmation by the remote device before being applied on it.
So far, these prompts make the networking modules fail.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
asa_command
iosxr_command
nxos_command

##### ADDITIONAL INFORMATION
For instance, if I try to reboot a Cisco ASA device with:
[code]
It fails timing out:
[code]

Actually, the remote device

[2019-09-11 14:38] tux-84 opened #62142 "jenkins_script crumb not generated"
##### SUMMARY
Using the latest Ansible and Jenkins version, it seems that jenkins_script is broken again (see #23250). The message "HTTP error 403 HTTP Error 403: No valid crumb was included in the request" comes up again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jenkins_script
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Target OS: Debian Stretch
Ansible Controller: Debian St

[2019-09-11 14:44] jean-christophe-manciot commented on #61939
@ganeshrn
@mikewiebe
If this module is dedicated to networking devices, I assume it supports the use of the disk in the ```src``` parameter. The documentation is unclear about that.
For instance: ```bootflash:/``` with NX-OS.

[2019-09-11 14:45] jzielke84 commented on #62142
Mistake by local installation. Issue closed. Sorry.

[2019-09-11 14:45] #62142 closed, assigned to nobody

[2019-09-11 14:49] DerrickTJ commented on #62137
Query pulls the contract relationships
[code]

When the module is reran again, clearly contractrelationships is being pushed with no data.
[code]

[2019-09-11 14:51] DerrickTJ commented on #62137
While testing with the module, the replace of ops.append appears to have the correct information.  I don't remember where I was at with testing during this phase though. Didn't notice it until much later.
[code]

[2019-09-11 14:55] DerrickTJ commented on #62137
This is the poor man's version of a fix. Basically if the EPG exists in any fashion, no change or update will be applied. This isn't ideal if you want to change a BD or a Subnet, but in the real world, I don't think anyone will be doing that often if at all. I believe once an EPG is built, it will probably be static for the rest of its life cycle.
[code]

[2019-09-11 15:03] DerrickTJ commented on #62137
I do want to add, most of the changes to an EPG will be done at the site level. Not the template level where the issue is.

[2019-09-11 15:16] jean-christophe-manciot commented on #61939
I've just tried it on a local controller & a NFV NX-OSv-9k, and it does not seem stable: it fails after 7.6 MB have been received on the controller:
[code]
leads to:
[code]
The controller received:
[code]
instead of:
[code]

[2019-09-11 15:20] abadger commented on #62076
@alikins @jctanner if this is a problem that has to be solved in the automation hub server and we aren't currently blocking release on automation hub issues, this is probably not something that we need to track.

[2019-09-11 15:21] jean-christophe-manciot commented on #61939
A second try fails at the exact same point (7.2 MB).

[2019-09-11 15:33] ganeshrn commented on #61939
Try increasing the command_timeout value. Refer https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#command-timeout

[2019-09-11 15:48] #61333 closed, assigned to nobody

[2019-09-11 16:20] jean-christophe-manciot commented on #61939
**30 s** should be more than enough:
- the file is a saved on a SSD
- the **RTT** is only a few **ms**:
[code]
I am used to transfer binary files between the controller & other types of NFV (ASAv, IOSv, IOS-XEv) without any issue when directly using Linux scp tool (instead of an ansible module).

Anyway, with ```export ANSIBLE_PERSISTENT_COMMAND_TIMEOUT=120``` the issue is the same. Although this

[2019-09-11 16:28] jean-christophe-manciot commented on #61939
It seems that the module fails after ```ANSIBLE_PERSISTENT_COMMAND_TIMEOUT``` ends, which means the larger the file, the longer the timeout.

This is not the proper way to implement a command timeout.
The timeout should not be armed when there is still network communication between both nodes.
The command should fail only when there is no answer from the target after the timeout has ended.

[2019-09-11 16:29] manaspatkar22 opened #62145 ""win_domain_computer" ansible module not able to delete the computer objects from Active Directory"
##### SUMMARY
"win_domain_computer" ansible module not able to delete the computer objects from Active Directory

##### ISSUE TYPE
- Bug

##### COMPONENT NAME
Ansible Module Name: win_domain_computer

##### ANSIBLE VERSION
Ansible Versiom
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.5 (Maipo)

##### STEPS TO REPRODUCE

[code]
Here computer name

[2019-09-11 16:36] mariolenz commented on #62139
!component  =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-09-11 16:40] mikewiebe commented on #61568
Closing this now that https://github.com/ansible/ansible/pull/62103 is merged

[2019-09-11 16:40] #61568 closed, assigned to Qalthos

[2019-09-11 16:58] haggin-uofi commented on #58543
We're having a similar problem in 2.8.3 (RHEL 6, Python 2.7.16, used pip to install Ansible and its dependencies into virtualenv). Reply-To is generated correctly when charset=us-ascii, but when charset=utf-8, the system mailer doesn't recognize it as a valid address and appends the system hostname to the generated header. In our case, Reply-To comes out as "foo@domain"@<hostname>.

[2019-09-11 17:15] d-little commented on #61944
My first thought was that we could introduce these side-by-side to protect backwards compatibility for existing users but and mark the 'old' keys  as deprecated per the [Deprecation cycle](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#deprecation-cycle))

However after looking at the code itself, I'm not sure we can easily rename the dict keys.  I believ

[2019-09-11 17:24] czacharym opened #62147 "Add owner/group/mode options to the fetch module."
##### SUMMARY

Add owner, group and mode options to the fetch module.

##### ISSUE TYPE
- Feature Idea

  Add owner, group and mode options to the fetch module.

##### COMPONENT NAME
fetch module

##### ADDITIONAL INFORMATION
This feature would allow for fetch to set the owner, group and mode on a file that is fetched from a remote server.

[code]

[2019-09-11 17:38] ShachafGoldstein commented on #62145
What are the connection params?

[2019-09-11 18:04] Andersson007 commented on #62128
@gundalow , thank you, i'll do it

[2019-09-11 18:18] ansiblejunky commented on #62145
@ShachafGoldstein Connection params to connect to the ldap server? or the jump server that we delegate to? The server we delegate to is a windows server, so we use typical kerberos connection vars.

Here is a great test.yml playbook I just put together that proves the issue. Both tasks use the same vars. The first task tries to use the module, which always seems to return "OK" with nothing more th

[2019-09-11 18:22] Andersson007 commented on #62128
@gundalow , https://github.com/ansible/ansible/pull/62152 done

[2019-09-11 18:24] czi opened #62153 "AIX at command uses different arguments -- matching and deleting a job doesn't work"
##### SUMMARY
The AIX at command uses different arguments than other operating systems.  Matching and deleting a job doesn't work, as there is no special case code to handle this in the module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
at

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target systems running on AIX 7.1

##### STEPS TO REPRODUCE

[code]

[2019-09-11 18:24] czi commented on #62153
Going to submit pull request to fix this issue.

[2019-09-11 18:29] #55919 closed, assigned to nobody

[2019-09-11 18:45] #58973 closed, assigned to nobody

[2019-09-11 18:51] bcoca commented on #62147
that would only work if you run ansible as root

[2019-09-11 19:18] czacharym commented on #62147
These same options are available in the copy module, but why not fetch?  This would remove the need of running as task just for setting the permissions on a file(s) fetched once they have been received.

[2019-09-11 19:33] #62128 closed, assigned to nobody

[2019-09-11 19:45] sivel commented on #62136
Likely caused by https://github.com/ansible/ansible/commit/b72e989e1837ccad8dcdc926c43ccbc4d8cdfe44 although I haven't bisected.

[2019-09-11 20:25] mrobson commented on #62010
This is also an issue with state absent for deletes. It will delete ports of the same name from completely different projects and networks if you're an admin user.

[2019-09-11 20:29] cigamit commented on #60152
https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)

21 isn't a valid timezone according to the above.  I use
timezone: 20
pretty much every day without issue (ansible 2.8.4).

notabug

[2019-09-11 20:41] kdelee commented on #61333
@s-hertel re-opening this because we need it for 2.9 and that PR went into devel (2.10)

Want to make sure https://github.com/ansible/ansible/pull/62157 gets into 2.9

[2019-09-11 21:10] igorhara commented on #57247
This also affects ansible 2.7 BTW

[2019-09-11 21:41] russoz commented on #51552
Hi @poleguy ,

Can you please expand on your execution scenario? Are you trying to run this on a remote computer? Would you, by any chance, running this from the server console (vt1) rather than inside a terminal? Is there an user session open in the target host?

Cheers,
Alex

[2019-09-11 22:39] opoplawski opened #62159 "apt_repository tries to auto install wrong package on Ubuntu 18.04"
##### SUMMARY
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
EL7.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Success!

##### ACTUAL RESULTS

[code]

[code]

[2019-09-11 22:50] cigamit commented on #62139
Just tested on 2.8.4 and I have no issues.
Did you install Perl on the template?  open-vm-tools will not do customization without it.

[2019-09-11 22:51] kthangar commented on #38120
same issue.  will there any fix available soon?

[2019-09-11 22:54] czi commented on #61944
AIX user here, and it would be useful to gather the full facts such as TL and SP.

I don't think there's any AIX systems included with the automatic checks, but I'm happy to check a PR against some of my local AIX systems.

[2019-09-11 23:57] Akasurde commented on #62153
!component =lib/ansible/modules/system/at.py

[2019-09-12 00:44] Akasurde commented on #62083
resolved_by_pr #62161

[2019-09-12 00:46] Akasurde commented on #60275
Duplicate of https://github.com/ansible/ansible/issues/62083

[2019-09-12 00:46] #60275 closed, assigned to Akasurde

[2019-09-12 00:46] Akasurde commented on #62006
Duplicate of https://github.com/ansible/ansible/issues/62083

[2019-09-12 00:46] #62006 closed, assigned to Akasurde

[2019-09-12 01:32] graphcut opened #62163 "win_psexec hostnames supports "servers group" from host file"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]
ideally, we can use a host group from host file to replace remote_server1&2

[2019-09-12 02:40] duck-rh commented on #59438
thanks @Akasurde

[2019-09-12 02:44] Fred-sun commented on #62045
Maybe you can get the environment variable this way!
[code]

[2019-09-12 02:52] Fred-sun commented on #61984
@zikalino Please help take a look this issue! Thanks a lot!

[2019-09-12 03:03] Fred-sun commented on #60284
@yungezz @zikalino @MyronFanQiu Please check! Thanks a lot!

[2019-09-12 03:09] Fred-sun commented on #60066
kindly ping

[2019-09-12 04:01] duck-rh commented on #61534
@nitzmahone as for a public declaration for interpreters and versions for Debian, here it is: https://wiki.debian.org/Python
This means that /usr/bin/python is always the default while /usr/bin/python2 and /usr/bin/python3 are sure to point to a specific interpreter.

Also the code clearly says otherwise:
[code]
So maybe your view changed along the way when building this feature but `unsupported`

[2019-09-12 04:48] marcosgeorgopoulos commented on #57131
We are having the same issue with the iOS_config module, we cannot use check mode with it. looks like 2.8 broke something.  regression testing.....?

[2019-09-12 05:18] felixfontein commented on #61411
@boustrophedon please see the discussion in #62037; it won't show up in 2.8.6 since we don't want to break people's playbooks in non-major versions. There is a non-zero chance that someone is relying on the current behavior of the module. But it will be included in 2.9.0 (with a porting guide entry to notify users that this behavior changes). Sorry for my wrong information above.

[2019-09-12 06:05] arvindshmicrosoft opened #62175 "Evaluation of when condition is serialized"
##### SUMMARY

We have a large inventory (1000 hosts) and have conditional checks using 'when' for tasks, and these checks are typically expected to return False for most - if not all - hosts. However, it appears that the evaluation of these conditions is being done in a serial fashion and consequently even the effective no-op task takes around 1 minute to complete (again, without anything being d

[2019-09-12 06:18] Fred-sun commented on #62140
@kitkatneko Thank you for report the issue! Both features are not yet supported! These two features should be added in the future!

[2019-09-12 06:33] Fred-sun commented on #62140
@yungezz @zikalino @MyronFanQiu New feature request, please take a look when you're free! Thanks a lot!

[2019-09-12 06:50] Fred-sun commented on #62130
@yungezz @zikalino @MyronFanQiu New feature request, please take a look when you're free! Thanks a lot!

[2019-09-12 07:34] nicolaibaralmueller commented on #62045
@Fred-sun I could. There a couple of options.

We are required to use MFA access and our automation account has changed to service principal.

It's a hazzle to add client_id, secret and tenant for each module or otherwise azure access code.

[2019-09-12 07:48] Fred-sun commented on #62045
@nicolaibaralmueller Thanks! What else can I do for you?

[2019-09-12 08:16] #62045 closed, assigned to nobody

[2019-09-12 09:54] #62139 closed, assigned to nobody

[2019-09-12 10:38] #60627 closed, assigned to NilashishC

[2019-09-12 10:55] #54878 closed, assigned to NilashishC

[2019-09-12 11:53] #61967 closed, assigned to nobody

[2019-09-12 12:41] onknows opened #62199 "Make Ansible dead simple with an agent or client"
Purportedly Ansible is agentless / doesn't need a client because Python is all that is needed.

In practice however Ansible does require a client / agent to work properly. But this client is downloaded / build / compiled on the fly. Which is not a very good idea.

I have been working hard for a few days to generate some TLS / SSL certificates using standard / default Ansible modules. This modules

[2019-09-12 13:14] #61866 closed, assigned to nobody

[2019-09-12 13:55] #53235 closed, assigned to nobody

[2019-09-12 14:01] #62199 closed, assigned to nobody

[2019-09-12 14:04] #62175 closed, assigned to nobody

[2019-09-12 14:05] aleskiontherun opened #62205 "Create ec2 spot instances with default spot price."
##### SUMMARY

Add a parameter to `ec2` module to explicitly define whether it needs to create on-demand or spot instances. `spot_price` parameter should be equal to on-demand instance price by default, like in AWS API.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2

##### ADDITIONAL INFORMATION

AWS API allows omitting spot-price parameter, in this case on-demand price will be used a

[2019-09-12 14:07] #62159 closed, assigned to nobody

[2019-09-12 14:09] #62163 closed, assigned to nobody

[2019-09-12 14:36] jkrabbe opened #62210 "nxos_interface breaks idempotency when adding additional port-channel interfaces"
##### SUMMARY
When adding port-channel interfaces through nxos_interface aggregate it breaks idempotency when additional port-channels are configured.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible host:

[code]

NX-OS target system:

[code]

##### STEPS TO REPRODUCE
[code]

Then run fo

[2019-09-12 15:12] #51363 closed, assigned to nobody

[2019-09-12 15:40] #56894 closed, assigned to nobody

[2019-09-12 17:29] mdutton3 opened #62220 "network_cli always connects, even for local actions"
##### SUMMARY

Some local actions (e.g. debug, assert, set_fact, include_vars), which should always work, try to initiate a connection to the target host when `ansible_connection: network_cli` is set. This causes the task to fail when the host is not reachable or cannot authenticate.

This causes patterns like below to fail:

[code]

and

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-09-12 19:16] #61701 closed, assigned to nobody

[2019-09-12 19:17] #61704 closed, assigned to nobody

[2019-09-12 19:18] #61628 closed, assigned to nobody

[2019-09-12 19:19] #61723 closed, assigned to nobody

[2019-09-12 19:29] #56832 closed, assigned to nobody

[2019-09-12 19:33] #61809 closed, assigned to nobody

[2019-09-12 19:41] #61822 closed, assigned to nobody

[2019-09-12 19:53] #61878 closed, assigned to nobody

[2019-09-12 20:03] acozine opened #62224 "Remove Latin phrases from the docs"
##### SUMMARY
Latin words and phrases like `e.g.` or `etc.` are easily understood by native English speakers and speakers of European languages who speak some English. They are harder to understand for speakers of Asian languages who speak some English. They are also tricky for automated translation.

Add a row to the Style Guide cheat-sheet about avoiding Latin words and phrases.
Remove existing

[2019-09-12 20:15] #60731 closed, assigned to acozine

[2019-09-12 20:44] Bilge opened #62227 "Setting openssl_csr version has no effect"
##### SUMMARY
Setting [openssl_csr](https://docs.ansible.com/ansible/latest/modules/openssl_csr_module.html)'s `version` parameter has no effect in ansible 2.8.4; it always remains the default (1).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-09-12 20:49] graphcut opened #62228 "win_psexec hostnames couldn't pick up group from the host file"
##### SUMMARY

- name: Run the setup.exe installer on multiple servers using the Domain Administrator
  win_psexec:
    command: E:\setup.exe /i /IACCEPTEULA
    hostnames: "{{ myhostgroup }}"
    username: DOMAIN\Administrator
    password: some_password
    priority: high

in the host file
[myhostgroup]
server1
server2
server3

the handler still is trying to connect "myhostgroup" as a single hos

[2019-09-12 20:58] #62228 closed, assigned to nobody

[2019-09-12 22:44] rambleraptor opened #62231 "Unclear how to use inventory plugins in collections"
##### SUMMARY

I've been unable to get inventory plugins working inside of collections. The inventory plugin in ansible/ansible always takes precedence.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I've got a inventory.gcp.yml file that I run with `ansible-inventory -

[2019-09-13 01:36] alexeyt820 opened #62236 "k8s - AttributeError: 'str' object has no attribute 'get'"
##### SUMMARY
Deploying NGINX Ingress Controller for Kubernetes (https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/mandatory.yaml) using k8s results in AttributeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- control station
[code]

- target
[code]

##### STEPS TO REPRODUCE

[co

[2019-09-13 01:42] willthames opened #62237 "Removing UnsafeProxy leads to double templating"
##### SUMMARY
Removing UnsafeProxy in #59711 causes double templating in some circumstances

I will add that it's very difficult to avoid the double templating in many circumstances - it seems we happened upon one of the very few ways remaining and are relying upon it, and it breaks with 2.9 when 2.8.4 worked fine. I bisected the issue to the commit associated with #59711 - it happens for any comm

[2019-09-13 02:07] #60380 closed, assigned to nobody

[2019-09-13 02:59] #61803 closed, assigned to nobody

[2019-09-13 03:34] #62236 closed, assigned to nobody

[2019-09-13 04:27] #62083 closed, assigned to Akasurde

[2019-09-13 04:57] markatdxb opened #62238 "Cant make nsupdate work with Windows DNS"
##### SUMMARY

Im trying to create DNS records on Windows DNS server using simple playbook but getting error TSIG key error: Incorrect padding
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nsupdate
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

DNS runs on Windows 2012R2

##### STEPS TO REPRODUCE

Simple playbook where use AD credentils as key_name and k

[2019-09-13 05:17] tremble opened #62239 "cloudtrail : OUTPUT.exists returns false when creating a trail"
##### SUMMARY

See also #61919 (Integration tests for Cloudtrail)

When creating a new trail the exists return value returns false.  Except in check mode...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/cloudtrail.py

##### ANSIBLE VERSION

devel

##### CONFIGURATION

"ansible-test" docker environment

##### OS / ENVIRONMENT

"ansible-test" docker environme

[2019-09-13 05:22] tremble opened #62242 "cloudtrail : Changed always returns true when using a KMS alias"
##### SUMMARY

See also #61919 (Integration tests for Cloudtrail)

If you use an alias for the KMS CMK changed always returns true

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/cloudtrail.py

##### ANSIBLE VERSION

devel

##### CONFIGURATION

"ansible-test" docker environment

##### OS / ENVIRONMENT

"ansible-test" docker environment

##### STEPS TO REPRODU

[2019-09-13 05:26] tremble opened #62243 "cloudtrail: tag keys get mangled"
##### SUMMARY

See also #61919 (Integration tests for Cloudtrail)

the case of tag keys is being modified (and shouldn't be)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/cloudtrail.py

##### ANSIBLE VERSION

devel

##### CONFIGURATION

"ansible-test" docker environment

##### OS / ENVIRONMENT

"ansible-test" docker environment

##### STEPS TO REPRODUCE

[c

[2019-09-13 07:26] lonix1 commented on #61723
What doesn't work is that if `jumper` alias is not defined in my `/etc/hosts` then the above command fails.

[2019-09-13 07:38] lonix1 commented on #61723
I just upgraded to the latest version, and the problem seems to have gone away.

[2019-09-13 08:50] Constantin07 opened #62244 "aws_secret lookup fails on MacOS"
##### SUMMARY
aws_secret lookup fails on MacOS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_secret

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
MacOS 10.13.6 HighSierra

##### STEPS TO REPRODUCE
Run the below task.

[code]

##### EXPECTED RESULTS
Secret to be read from AWS.

##### ACTUAL RESULTS

[code]

[2019-09-13 08:51] eff917 commented on #51663
Just a hunch: `update_cache: true` runs `apt update`, and the task fails on the upgrade. So my guess is the module does not check for lock after update when `update_cache` is true.

[2019-09-13 09:09] rohit-smpx commented on #55097
The problem seems to actually be here: https://github.com/ansible/ansible/blob/e33700c5e27734d8e16750894c83de9a8dfcc43c/lib/ansible/modules/packaging/language/yarn.py#L184-L185

If `version` is not provided then `name_version` is not set. And only `name_version` is checked in the install method.

The step works if a version is added. I'll try to open a PR soon.

[2019-09-13 09:18] dirickxmaarten opened #62245 "RHEL8 local user creation without group fails"
##### SUMMARY
Creating a local user without any group listed fails. As far as I can tell, useradd and luseradd switched from uppercase -N to lowercase -n for "no group" param in RHEL8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/system/user.py:608

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL8

##### STEPS TO REPRODUCE

[2019-09-13 09:20] natasha-ntsh opened #62246 "Wrong default configuration when installing Ansible using pip3"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect all modules to be present in the configured paths.

##### ACTUAL RESULTS

Both preconfigured paths does not exist.

[2019-09-13 09:22] NicolasLM commented on #51552
Hi, not OP but I run into the same issue while trying to modify xfconf entries on a remote host via Anisble/SSH. There is a graphical session opened on the target host.

To get it to work I have to add an environment variable to the `xfconf-query` invocation, similar to https://askubuntu.com/a/1024588

[2019-09-13 09:34] faxm0dem commented on #42409
I just stumbled upon this using 2.8.5, so it's still not fixed.

[2019-09-13 09:34] Akasurde commented on #62245
!component =lib/ansible/modules/system/user.py

[2019-09-13 09:37] ShobhitGoel95 opened #62248 "Killing child processes when using shell command,"
##### SUMMARY
I am installing cassandra on different machines using ansible so ansible is doing the work for me.
But after completion of task ansible is killing the service/process of cassandra.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTU

[2019-09-13 10:17] MKPhil opened #62249 "Doc for win_format does not mention it is for Windows v6.2 or higher"
##### SUMMARY
Documentation for win_format does not mention that it only works on Windows v6.2 or higher - this is only apparent from looking at the code.

The similar module win_partition includes the line:
A minimum Operating System Version of 6.2 is required to use this module. To check if your OS is compatible, see https://docs.microsoft.com/en-us/windows/desktop/sysinfo/operating-system-versi

[2019-09-13 12:09] bviktor opened #62262 "apt absent fails when wildcard doesn't match any packages"
##### SUMMARY

If you use wildcards for the apt package name, the state is set to absent and there's no such package on the system, Ansible fails with `No package(s) matching 'foo-*' available` error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

Take this snip

[2019-09-13 12:10] thomasmckay commented on #46362
I would use this, if available.

[2019-09-13 12:18] bviktor commented on #62262
Workaround:

[code]

[2019-09-13 12:47] goneri opened #62275 "CI: T=linux/centos6/3 fails with `<type 'exceptions.TypeError'>: 'NoneType' object is not callable`"
##### SUMMARY

Python 2.6 only:

[code]

e.g:
- https://app.shippable.com/github/ansible/ansible/runs/143021/92/console
- https://app.shippable.com/github/ansible/ansible/runs/143191/92/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

test

##### ANSIBLE VERSION

[code]