[2017-04-28 23:04] nitzmahone commented on #24096
Setting connection-specific vars (eg, `ansible_winrm_X`) from play vars is not currently supported. The right way to do this is to abstract it at your inventory anyway, not bake connection details into your playbook. Take your "stub" static inventory and add something like a `[windows:vars]` section to it where you set all these values. Then add empty stub groups for the dynamic inventory values (

[2017-04-28 23:07] #24096 closed, assigned to nobody

[2017-04-28 23:14] pleegor commented on #14413
Having the same problem.
`- name: "Rebooting server"
  shell: /sbin/shutdown -r now "Ansible managed reboot"
  async: 1
  poll: 0
  ignore_errors: true
  when: ansible_os_family == "RedHat"

- name: "Waiting for server to be back online"
  become: false
  local_action: wait_for
  args:
      host: "{{ inventory_hostname }}"
      port: 22
      state: started
      delay: 30
      timeout: 300
`
G

[2017-04-28 23:45] MOZGIII opened #24136 "Unsetting variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I need a way to unset a variable, but there is none. My usecase is:
1. Run a playbook with some settings.
2. ... some jobs happen ...
3. Preserve some variables (`set_fact: { preserve: { ansible_port: '{{ ansible_port || default(ommi

[2017-04-28 23:46] gtirloni opened #24137 "Host in many inventory files is ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible host pattern matching?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 25 control host / node

##### SUMMARY
When a host is in >2 inventory files, it is ignored if a wildcard is used.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Ansible runs on matched hosts

##### ACTUAL RESULTS
Ansib

[2017-04-29 01:19] peternavr opened #24139 "Proxmox failure to create VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
contrib/inventory/proxmox.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

All you see is either a 500 Forbidden or a 400 Bad request error. No follow up errors why it happens.

[code]

##### EXPECTED RESULTS

A VM or Container to be created.

##### ACTUAL RESULTS

[2017-04-29 08:04] jhawkesworth commented on #24128
My testing of 2.3 release candidates made a lot of use of win_get_url so i am a bit surprised by this.

Some modules did get path expansion added in 2.3. I am afk at the moment so can't check if this one got changed.

I think the remote dir is set to c:\users\<current user> so a possible workaround would be to use a relative path for the destination.

dest: Downloads\mercurial\Mercurial-2.8-x64.ex

[2017-04-29 09:41] trondhindenes commented on #23986
Sorry to bug this one down, but we need to come up with some guidance, detailed walkthru or something here. I'm struggling, which means that the majority of devs working on ps-based modules are struggling. I had to:
1. Hack powershell.ps1 to emit complex_args into a json file with this code:
[code]
2. copy powershell.ps1 onto my target node and running to import the statement (after disabling the

[2017-04-29 10:26] jhawkesworth commented on #23986
Just to say I chatted with Matt about this a bit a the windows working group yesterday so he's aware.- -meeting transcript is here - probably better than me paraphrasing it: https://meetbot.fedoraproject.org/ansible-meeting/2017-04-28/windows_working_group.2017-04-28-16.30.log.html

[2017-04-29 12:23] Tekki opened #24142 "include with_items executed in files not included"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include / with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Only inventory path changed.

##### OS / ENVIRONMENT

Debian 8.7

##### SUMMARY

`include` that uses `with_items` is executed even in files that are not included.

##### STEPS TO REPRODUCE
[code]

Command:

`ansible-playbook includes.yml --tags one`

##### EXPECTED RESULTS

[2017-04-29 12:29] indrajitr commented on #24110
@derekstavis, @thomwiggers: I am having difficulty recreating this on clean Arch installation. I'll need the correct Traceback line numbers.

Can you please do the following?:
* try the `devel` branch
* narrow down the packages
* and paste the error/output for `devel`

The output currently attached in this ticket is for `2.3.0.0` which does have known regression.

[2017-04-29 13:11] boonchu commented on #24124
It return with zero value. Code looks ok to me.

[2017-04-29 13:38] boonchu commented on #24124
I use this pyvmomi version in my environment.

[2017-04-29 15:18] dev00 commented on #22222
I can confirm this behaviour, running Ansible 2.3.0.0 from the repo on Ubuntu 16.04.

Wether `autoclean` nor `autoremove` seem to have any effect on the OS.

[2017-04-29 17:26] misterT1958 commented on #24128
Jon

the destination IS a directory ["dest": "c:\Users\$USER\Downloads\mercurial",], it's the URL that points to the exe.
Here's result of first attempt:
fatal: [maude]: FAILED! => {
    "changed": false,
    "failed": true,
    "msg": "Error downloading https://www.mercurial-scm.org/release/windows/Mercurial-2.8-x64.exe to C:\\Users\\tw2\\Downloads\\mercurial Exception calling \"DownloadFile\" wi

[2017-04-29 17:56] boonchu commented on #24124
I tried with latest Python. It reproduce the same problem on CentOS 7.3.
``
$ yum info python
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.mirror.ndchost.com
 * epel: mirrors.kernel.org
 * extras: mirrors.tummy.com
 * updates: repos.lax.quadranet.com
Installed Packages
Name        : python
Arch        : x86_64
Version     : 2.7.13
Release     : 1.el7.cen

[2017-04-29 18:17] ebalduf commented on #14413
This is still a problem (Mac version 2.3.0.0), target is a Fedora Instance in AWS.  None of the above workarounds worked for me (the wouldn't error, but also didn't reboot it) so I did the following (where delayed_reboot is just a shell script, sleep and reboot):

[code]

[2017-04-29 18:30] ebalduf commented on #14413
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Shared connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible host: macOS Sierra 10.12.4
target: Fedora 25 instance in AWS.

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The target should reboot properly.

##### ACTUAL RESULTS

See output below with -vvv

[code]

[2017-04-29 19:11] rcuza commented on #24102
Looking through the existing tests, I found in the [v2.3.0.0-1 test/integration/targets/vault/runme.sh](https://github.com/ansible/ansible/blob/v2.3.0.0-1/test/integration/targets/vault/runme.sh) file a test for `STDIN`:

This test works:
[code]

and this works
[code]

But these both produce the reported error:
[code]
(The second command explicitly set `-` as the INFILE.)

So either the documentat

[2017-04-29 19:13] Alicango commented on #24096
@nitzmahone Thank you so much. Finally i can ping to windows nodes by using dynamic inventory with your suggestion way.

My configures;
I created directory named inventory under the `/home/ec2-user/` than put `/etc/ansible/hosts`, `/home/ec2-user/ec2.py` and `/home/ec2-user/ec2.ini` into the `/home/ec2-user/inventory/` directory.

`/home/ec2-user/inventory/hosts` is configured like this;

`
[windo

[2017-04-29 19:42] cognitiaclaeves commented on #24010
Why is this considered a "user question" ? I've found irc to be hit-or-miss, and it's not allowed at work. I didn't consider the mailing list b/c that just seemed to me to be antiquated, but I can see how that was an assumption on my part. This was the first time I've tried to 'give something back' to the Ansible community, and I'm a little upset that I put all of that work in and just had the iss

[2017-04-29 19:46] rcuza commented on #24102
Looks like it was the following commit that added the encrypt_string:

[code]

Great commit message, but no updates to the man page or website documentation.

[2017-04-29 22:38] shane-axiom commented on #13236
The ability to store vaulted variables in otherwise unencrypted vars files (as of 2.3) allows for a workaround:

http://docs.ansible.com/ansible/playbooks_vault.html#single-encrypted-variable

This way you can add vaulted secrets to the normal 'special' role files (`defaults/main.yml` and `vars/main.yml`) and have them picked up normally.

Add a secret to `defaults/main.yml`:

[code]

Encrypt a fi

[2017-04-29 22:45] xalkina opened #24148 "Sysctl module fails on OEL5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sysctl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on: Ubuntu 16.04
Works when remote: OEL6 (python 2.6.6)
Doesn't work when remote: OEL5 (python 2.4.3)

##### SUMMARY

sysctl fails when trying to set a parameter on OEL5.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Parameter should be set.

[2017-04-29 23:17] xalkina commented on #24148
Apparently python 2.4 is not happy with the expression startswith(("#", ';'))

The following fixes the problem:
[code]

BTW, repeated calls to line.strip() seem like overkill, but didn't mean to be more intrusive.

[2017-04-30 01:20] dave-morrow commented on #15321
Hi,

I had the same 'unreachable error' with ansible 2.3.0.0 running in Ubuntu 16.04.
Appended -c paramiko

Example: $ansible-playbook -i inventory ./router/tasks/get-vlan.yml -c paramiko )

But I then got a completely different error message - no authentication methods available,

That new error resolved itself when adding 'connection: local' to the YAML and continued to work even after dropping

[2017-04-30 02:15] b2sweety commented on #15321
@dave-morrow Thank you for your reply.
After reading lot of documents, i figured out two days back that the fix is  using 'connection=local' .
 But, I wonder why IOS command line doesn't qualify as shell to ansible. Why do we need to run the commands on the ansible hosts. Any thoughts, please?

[2017-04-30 02:20] iredmail commented on #14424
Got same issue with Ansible 2.3.0.0.

[2017-04-30 02:22] iredmail commented on #22924
Got same issue with Ansible 2.3.0.0, with include role.
FYI: https://github.com/ansible/ansible/issues/14424

[code]

[2017-04-30 02:31] dave-morrow commented on #15321
@b2sweety It's a good question for which I don't know the answer.

Sorry but Ansible is very new for me, in fact I've been playing with it for just over a day.
I do know Cisco (IOS) CLI is nothing like UNIX (POSIX) CLI, so perhaps that has something to do with it.

I'll leave it to others better qualified to respond to this question.

[2017-04-30 08:13] wimnat commented on #24087
Try with latest version of the module.  Pagination of results was added a little while back,

[2017-04-30 08:19] #24087 closed, assigned to nobody

[2017-04-30 08:44] renatomassaro commented on #13236
In addition to @shane-axiom solution, if you don't want your secret lying around on your shell history (but want to do everything in one command), you can make ansible-vault read from the stdin:

[code]
Type the password and press Ctrl-D twice.

If you are generating the key on the fly, you can also:

[code]

[2017-04-30 09:30] lassizci commented on #23298
I'm afraid it's much worse than not respecting PATH. In fact it seems to be completely broken. I get the error even with full path with all versions >2.1

test.yml:
[code]

[code]

[code]

[2017-04-30 10:31] lobsterdore commented on #23419
I've been specifically checking for stack doesn't exist and stack exists like so:

[code]

This means that API throttling and errors like that will still cause a failure, which I think is preferred.

[2017-04-30 14:57] cpu opened #24152 "HTTPS certificate validation on OSX trusts unaudited root CA"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`module_utils/urls.py` and the `SSLValidationHandler`

##### ANSIBLE VERSION
[code]

The affected code is present in master as of 594d7d5.

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a - I am on Archlinux but this bug is specific to OSX / Darwin.

##### SUMMARY

In 3b5aa8bd30a3fa84eca6141a434274b1455c591b a hardcoded CA certificate was

[2017-04-30 15:38] sivel commented on #24152
The link has moved to the new mercurial domain:

https://www.mercurial-scm.org/wiki/CACertificates#Mac_OS_X_10.6_and_higher

It is still valid, and does still need to exist.

I followed exactly the steps in that URL, and it was generated without ever writing the key to disk.

I do suppose we could do something similar at run time, but the cost would be pretty large, and I don't think we can tell e

[2017-04-30 15:56] cpu commented on #24152
Ahh. That's unfortunate.

Why do you think the cost would be pretty large? I would expect generating a 1024 bit RSA key & certificate to be a negligible one time cost.

I don't think this is the matter of a paranoid perspective. Authentication is a core part of HTTPS/TLS and we have to assume that if folks are using `validate_certs` their expectation is that the remote peer's identity is being aut

[2017-04-30 16:10] sivel commented on #24152
Ansible doesn't necessarily have a place where it can guarantee it can write to and that is a permanent storage location.  It wouldn't be a one time run, it would need to happen every time that code path was executed, so if you did 300 http requests, we would end up needing to generate 300 temporarily cacerts.

I am still infavor of leaving this as is, whether this ends up is generating a new very

[2017-04-30 16:14] cpu commented on #24152
I'm not versed in Ansible packaging or OSX install methods, but would it not be possible for some kind of post-install hook in the packaging to generate a keypair/cert in a well-defined location when running on OSX? That keypair/cert could be loaded the same way you load the test cert now.

[2017-04-30 16:22] sivel commented on #24152
There are multiple methods of running ansible, and not all of them involve actually installing, such as running directly from a git clone.  We can't guarantee the install mechanism, which would make that complicated.

If you had multiple people running from a single git clone (which is done) you couldn't guarantee a way or place to write that file.

[2017-04-30 16:27] cpu commented on #24152
That's a good point. I see the difficulty.

Re-reading this page on the active link I think I understand this a bit better and it _may_ be a non-issue. If the claim about the dummy cert's purpose is accurate then the local openssl is patched such that it doesn't actually validate against the dumy cert, but the system keychain.

That said, I'm still concerned that since the dummy CA is appended onl

[2017-04-30 16:30] cpu commented on #24152
To expand on that, the mercurial version of this approach is gated behind this [`_plainapplepython` function](https://www.mercurial-scm.org/repo/hg/file/tip/mercurial/sslutil.py#l665) that checks the interpreter path as well.

[2017-04-30 16:52] cpu commented on #24152
Thinking on this more and coming at it from another angle: The danger I'm concerned about is a case where the system _doesn't_ have the keychain patched OpenSSL or the behaviour changes one day and Ansible ends up using the CA bundle that includes your dummy CA.

Two immediate ideas to help minimize that potential danger:
1) Follow the approach taken by Mercurial: only include the dummy CA cert in

[2017-04-30 17:37] misterT1958 commented on #24128
Jon
I tried the win_get_url with BOTH the dest and the url parameters specified as a file.  It appears the file transfers to the target, but the call never returns to the console.  Let me know if there's anything else I can do?

[2017-04-30 18:15] zhdanovartur commented on #24052
+1, I have the same trouble. My temporary solution:
[code]

[2017-04-30 18:37] pleegor commented on #14413
Thanks @ebalduf for putting all this together! I can also confirm that I am also facing identical issue with ansible 2.2.1 with MacOS/CentOS as ansible hosts and CentOS7 as target host. It would be nice if this bug can be prioritized!

[2017-04-30 19:13] happylynx opened #24155 "Please document 'regex' jinja test"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docs/docsite/rst/playbooks_tests.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
online documentation

##### SUMMARY

##### STEPS TO REPRODUCE
1. go to https://docs.ansible.com/ansible/playbooks_tests.html#testing-strings
2. check that `regex` test is not documented but present in https://github.com/an

[2017-04-30 19:26] agaffney opened #24156 "Implicit localhost is ignored in all groups, instead of just the 'all' group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory, playbook

##### ANSIBLE VERSION
[code]
and
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the implicit `localhost`, adding it to groups, and referencing those groups in a later play, the play is skipped due to it not matching any hosts.

##### STEPS TO REPRODUCE

Playbook:

[code]

With implicit

[2017-04-30 19:30] agaffney commented on #24156
I was able to work around this fairly easily by using `add_host` instead of `group_by`.

[code]

[2017-04-30 19:40] agaffney opened #24157 "Implicit localhost cannot be overridden with add_host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory, add_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The implicit `localhost` cannot be overridden by an `add_host` task, but an explicit `localhost` can be.

##### STEPS TO REPRODUCE
Playbook:

[code]

With implicit localhost:

[code]

With explicit localhost:

[code]

##### EXPEC

[2017-04-30 19:41] agaffney commented on #24157
This is probably closely related to #24156

[2017-04-30 19:41] agaffney commented on #24156
This is probably closely related to #24157

[2017-04-30 22:20] caio2k commented on #23905
Thanks for your reply! You guessed it right: I wanted to remove any custom value set for that parameter from `sysctl.conf` file using ansible. And I agree with you, there is no easy way to reset a sysctl parameter to the default value and my usecase is somehow incorrect (although I was just trying to set and unset multiple parameters in the same loop).
However I do think it is a bug. As this `stat

[2017-04-30 22:47] dvershinin opened #24161 "Allow passing --allowerasing to DNF packaging module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME
dnf module

##### SUMMARY
Currently there seems to be no way to pass ```--allowerasing``` option to ```dnf```.
For instance there is no way to run equivalent of:

```dnf --allowerasing install git2u```

Would be great to add extra option like so:

[code]

[2017-05-01 02:36] varmil commented on #23679
I tried the method you taught, and did well !
For example, `win_shell: git pull`, like this.

input
[code]

output
[code]

I used `raw` because I had used `v2.0` before upgrade, and `win_shell` is new in `v2.2`. Now, `win_shell` is perfect !! Thank you for helping me.

[2017-05-01 05:56] shawntoffel commented on #9065
Also encountered this issue when deploying several groups to the same hosts. Needed a way to vary a port for each group and use that port in a template which iterates though hosts of groups. (haproxy)

[2017-05-01 06:36] stevenringo commented on #23547
+1

[2017-05-01 07:22] jean-christophe-manciot commented on #23298
I am able to run local scripts when their full path is provided:
[code]

[2017-05-01 07:24] estahn commented on #23031
I suppose I'm running into the same issue:

[code]

Runs only once.

[2017-05-01 07:35] Akasurde commented on #24139
@clanstyles I suspect this issue is similar to #19488

[2017-05-01 08:59] ianmacs commented on #7205
epub can currently (2017-05) be created like this:
[code]

[2017-05-01 09:13] jhawkesworth commented on #23679
Looks like this is solved so I will close this.  If you have further issues please create a new issue.

[2017-05-01 09:13] #23679 closed, assigned to nobody

[2017-05-01 09:25] Wizzzo opened #24163 "installation phase sphinx is required too"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
python-sphinx

##### ANSIBLE VERSION
[code]

##### SUMMARY
the python-sphinx is require to the "make rpm" step, and' it's not mentioned

[2017-05-01 09:47] spl commented on #24004
Adding the `--downloadonly`, `--downloaddir`, and `--releasever` flags would allow one to use the `yum` module to do the trick I'm currently using `command` for, in which I download packages and create a local repository:

[code]

Of course, the change check for the `--downloadonly` option would be to check if the package was successfully downloaded, not if it was installed. (Currently, I do all o

[2017-05-01 10:04] fridim commented on #23905
Sorry, updated the first. The error is when you use set_sysctl with absent and no value.

:+1:

[2017-05-01 12:26] rcuza commented on #24102
This issue might be related to #23567.

[2017-05-01 12:43] stacker2017 commented on #24035
@sivel not sure if that's prompt matching issue, since it goes through the whole batch successfully let's say 100 times and it hangs on 101 iteration.

[2017-05-01 12:44] fridim commented on #23914
Thanks for reporting.
Indeed, current implementation just look at the partition number. I don't know if it's an intended fail-safe or not. Because this bring questions like: "what to do if you increase the size of the partition and it overlaps the next one ? delete and recreate both ?"
With the current code you will need to explicitly delete the partition with <code>state: absent</code> and then r

[2017-05-01 13:00] bcoca commented on #24137
Confirmed, it happens only if it is in a group, seems related to ini parser.

fixed in https://github.com/ansible/ansible/pull/23001

[2017-05-01 13:06] harobed opened #24165 "Add human_to_bytes filter in documentation"
Hi,

Ansible has human_to_bytes filter https://github.com/ansible/ansible/blob/09f4242ce425333521c633d2cf274b4b103ba658/test/integration/targets/filters/tasks/main.yml#L74 but this filter isn't documented here: https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/playbooks_filters.rst

Best regards,
Stéphane

[2017-05-01 13:08] bcoca commented on #24156
The implicit localhost only comes to existence 'on use', but once it is used it will prevent other localhost entries from being created (assumed they were implicit localhost again).

[2017-05-01 13:20] bcoca commented on #24142
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The tags on an include do not affect the include itself, but the included tasks, which are still evaluated for correctness even if they

[2017-05-01 13:20] #24142 closed, assigned to nobody

[2017-05-01 13:29] bcoca commented on #24148
PR fixes it for 2.3, but going forward (>=2.4) python 2.4 will no longer be supported

[2017-05-01 13:32] #23920 closed, assigned to Qalthos

[2017-05-01 13:49] ghost opened #24167 "nxos_evpn_vni and nxos_interface module failures"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_evpn_vni
nxos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT

RHEL 7.2

##### SUMMARY

I recently upgraded ansible from 2.2 to 2.4 to fix an NXOS module issue where nxos_vlan_vtep_vni was not deleting the interface when putting it on an absent state. However now I get errors when I try to

[2017-05-01 13:50] agaffney commented on #24163
This is also needed for `make deb`, as of some time around 2.3 (iirc)

[2017-05-01 14:03] abadger commented on #24163
Could you post the error message that you're getting?  I'm not able to create an error message by uninstalling python-sphinx and then doing "make clean ; make rpm".

[2017-05-01 14:07] kwohlfahrt commented on #23914
Sure. I think a safe behaviour would be to extend the partition if the space after is free (this shouldn't do anything to the filesystem, which would have to be resized separately), and to error otherwise.

[2017-05-01 14:11] estahn opened #24168 "Weird behaviour with include/dependencies and variable scoping"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Running the same role configuration from from the playbook and then as a dependency will not change the variable scope.

Example: `- { role: roleA, tasks: [1] }` within the play and after it as a dependency from another role

##### STEPS TO REPR

[2017-05-01 14:21] Wizzzo commented on #24163
Hi there I'm inatalling ansible on centos 7 aws image and it look like
there are a lot of missing installation..

On May 1, 2017 17:04, "Toshio Kuratomi" <notifications@github.com> wrote:

[2017-05-01 14:35] ericzolf opened #24169 "ansible_shell_executable is not used by default by module_utils/basic.py AnsibleModule run_command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core ?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In order to manage "exotic" platforms (embedded Linux, Android, etc), one might need to set android_shell_executable in the inventory. This inventory variable isn't used as default by all modules relying on shell (setup, shell, and possibly othe

[2017-05-01 14:35] abadger commented on #24163
We are unable to reproduce this error at this time.  We need more information about what commands you're running and what the error message is or we won't be able to figure out what the problem might be.  Thanks.

needs_info

[2017-05-01 14:59] #23753 closed, assigned to nobody

[2017-05-01 15:18] #23921 closed, assigned to nobody

[2017-05-01 15:22] ganfotry commented on #19584
I'm trying to ping from an Ansible control machine (installed in a UBUNTU 14.04 VM), to a cent OS instance.
Both are google cloud instance (with python installed).
I'm unsure about the connection status between them. From the below results of ansible all -m ping I could see there is something wrong with my SSH.

[code]

[code]

Could you suggest me to achieve the connection between my VMs.

[2017-05-01 15:23] agaffney commented on #24163
When I try to build a DEB inside a Docker container (using `ubuntu:16.04` image) without `python-sphinx` installed, I get:

[code]

[2017-05-01 15:25] agaffney commented on #24163
I get the same output when I run `make rpm` from that environment.

[2017-05-01 15:33] abadger commented on #24163
Ah ha!  Thanks agaffney.

@alikins It looks like this is the code causing this problem: https://github.com/ansible/ansible/blob/devel/docs/api/Makefile#L20  Since that code is at the toplevel of the Makefile, it gets invoked even on "make clean" or other make targets that don't require sphinx-build.

[2017-05-01 15:37] cpu commented on #24152
I've updated the original issue description slightly to include the information from the back-and-forth so far in the comments.

[2017-05-01 16:15] bcoca commented on #24168
cc @jimi-c

[2017-05-01 16:26] bcoca commented on #24169
We don't pass the executable information to modules, not all of them execute commands.

For those that do, most use run_command w/o shell, the fact gathering module is one of the few exceptions that relies on shell semantics, but it does not explicitly set it, it relies on python's `Popen` and passes `shell=True` which leads to the execution of `/bin/sh` (which is expected to be present on all POS

[2017-05-01 16:43] sean-abbott opened #24172 "include_vars is broken in 2.3.0 and 2.2.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

and
[code]

##### CONFIGURATION
~/.ansible.cfg:
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
include_vars is working with a role in 2.2.1.  It is not working in 2.2.2 or 2.3.0.

##### STEPS TO REPRODUCE

[code]

(dynamic_includes.yml)
[code]

##### EXPECTED RESULTS
From run with 2.2.1:
[code]

[2017-05-01 16:57] Rudd-O commented on #18287
I applied the above PR manually to my Ansible install, and it certainly does not make `clear_host_errors` work.

[2017-05-01 16:59] stacker2017 commented on #24109
@jctanner we need to stick to sshpass and keys are not an option for our environments, the error happened again and ansible hanged indefinitely  below is the log of what I see on the server that I am running ansible from(ansible host) and I have not terminated the ansible yet:

pstree -p:

systemd(1)─┬─accounts-daemon(697)─┬─{gdbus}(917)
           │                      └─{gmain}(896)

[2017-05-01 17:09] Rudd-O commented on #18287
This code in `linear.py`

[code]

See how it excludes unreachable hosts from running?

I suspect this means Ansible never gets to the `meta` handler.

[2017-05-01 17:14] Rudd-O commented on #18287
Yes, that is correct.  When hosts_left is empty, then host_tasks gets nothing.

[code]

The PR does not fix the bug.  I'm disappoint :-(

[2017-05-01 17:15] Rudd-O commented on #18287
To reproduce: run a playbook where you have a task that returns unreachable, but only run it against a *single host*.

Bam, instant reproducer.

Please reopen this issue.  Thanks.

[2017-05-01 17:17] stacker2017 commented on #24109
ps -ef | grep  10.1.1.1
root       440     1  0 17:09 ?        00:00:00 ssh: /usr/local/boss/$HOME/.ansible/cp/ansible-ssh-10.1.1.1-22-ansible [mux]
root      4826  4777  0 15:49 pts/1    00:00:00 sshpass -d26 ssh -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o User=ansible -o ConnectTimeout=10 -o ControlPath=/root/.ansible/cp/ansible-ssh-

[2017-05-01 17:19] stacker2017 commented on #24109
in the storage node that ansible tries to reach and casued the hang:
**May 01 15:48:23 storage-10.f1252 ansible-ping[15050]: Invoked with data=None
May 01 15:48:39 storage-10.f1252 ansible-ping[15077]: Invoked with data=None
May 01 15:48:55 storage-10.f1252 ansible-ping[15115]: Invoked with data=None**
May 01 15:49:01 storage-10.f1252 CRON[15122]: pam_unix(cron:session): session opened for user ro

[2017-05-01 17:23] stacker2017 commented on #24109
So usually for each ping command I see 3 line logs in server in last case which failed there is only one line record:
May 01 15:49:11 storage-1 ansible-ping[15143]: Invoked with data=None

[2017-05-01 17:42] ericzolf commented on #24169
Hi,

On 01/05/17 18:27, Brian Coca wrote:

Correct and understood, but the question is if it's the right decision.

But there is a reason for the ansible_shell_executable parameter? And if
it's not passed everywhere, it's kind of a moot parameter, or what
remains as use case: either it's needed everywhere or it's needed nowhere?

Thanks, Eric

[2017-05-01 17:44] naftulikay commented on #23642
@sivel thank you so much!

[2017-05-01 18:00] bcoca commented on #24169
I was explaining the current state, I did not close this issue as we might want to revisit the current state of affairs.

The parameter is used mostly for 'controller side' construction of commands, we remotely create/copy/execute/remove files (which includes modules).

Looking at the Popen code it actually hard codes it `args = ["/bin/sh", "-c"] `,

I'm thinking the simplest solution is for run_c

[2017-05-01 18:28] bcoca commented on #24169
looking at this as possible fix https://gist.github.com/bcoca/4b8fda2902636bbb0d557cec01fe841e

[2017-05-01 18:33] mdelagrange opened #24175 "dicts that contain Single Encrypted Variables cannot be copied to a new fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Vault Single Encrypted Variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Single Encrypted Variable is encrypted with the key "notasecret".

##### OS / ENVIRONMENT

OS X running against localhost

##### SUMMARY

If you have a dict that contains a Single Encrypted Variable, you can access its value normally, but if you copy that dic

[2017-05-01 18:35] sivel commented on #24175
Potentially also related to https://github.com/ansible/ansible/issues/23846

[2017-05-01 19:01] wenottingham opened #24176 "tower_user cannot put user in a team"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

nothing of note

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY
`tower_user` cannot add users to a team.

Alternatively, `tower_team` cannot associate users. Pick whichever.

##### STEPS TO REPRODUCE

see above

[code]

##### EXPECTED RESULTS

Be able to put users in teams via some

[2017-05-01 19:04] mdelagrange commented on #24175
this bug also affects the current 2.3.0.0 release.

[2017-05-01 19:11] #24052 closed, assigned to resmo

[2017-05-01 19:55] mikelindsey-okta commented on #18894
Happening here with 2.2.3.0
[code]

[2017-05-01 20:12] chrismeyersfsu commented on #21890
I too am experiencing this confusing behavior. I illustrate the observed problem with a `chicken` and `egg` set of roles https://github.com/chrismeyersfsu/ansible-examples/blob/master/include_role/main.yml

Compare the `include_role` experience to the "classic" role invocation and variable lifespan behavior https://github.com/chrismeyersfsu/ansible-examples/blob/master/role_variable_scope/main.yml

[2017-05-01 20:17] s-hertel commented on #22860
@Ankur012 Closing because I couldn't reproduce the issue without trying to use an invalid name. If you're still experiencing this please reopen and provide the error when using a valid container name.

[2017-05-01 20:17] #22860 closed, assigned to nobody

[2017-05-01 20:18] GoGoris commented on #24065
You also have my thanks @jctanner! I am sure that it will save people with the same issue a lot of time.

[2017-05-01 20:25] naftulikay opened #24180 "Python 3.4 String/Bytes Error On Syntax Check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Playbooks.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

Travis CI, Ubuntu Trusty 14.04, Python 3.4.5 as provided by Travis.

##### SUMMARY

On Python 2.7, Python 3.5, and Python 3.6, the same code works just fine: https://travis-ci.org/naftulikay/ansible-role-vagrant-rust-dev/builds/227706895

However, on

[2017-05-01 20:35] conleym commented on #21890
For those who have the luxury of modifying the roles they're using, it is possible to explicitly "export" vars/defaults via a separate tasks file as an (admittedly awful and hopefully temporary) workaround, e.g., in `roles/testrole/tasks/export-vars.yml`:

[code]

and, in the playbook, use `tasks_from: export-vars`.

I have to use a separate tasks file anyway, as I want to load defaults and vars f

[2017-05-01 21:16] sivel commented on #24180
We have decided to only support python 3.5 and newer.

http://docs.ansible.com/ansible/dev_guide/developing_python3.html#minimum-version-of-python-3-x-and-python-2-x

As such, we are not supporting python 3.4.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-01 21:16] #24180 closed, assigned to nobody

[2017-05-01 21:23] mixja commented on #23593
I am getting the following exception from the module - as per [Boto3 docs](https://boto3.readthedocs.io/en/latest/reference/services/cloudformation.html#CloudFormation.Client.create_stack) all parameters must be passed as a string, looking at the [current CloudFormation module code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/cloudformation.py#L436), there is no

[2017-05-01 21:33] chanaka-jostle opened #24181 "no_log does not hide env vars with higher verbosity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
no_log

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos

##### SUMMARY
Hello, we are using no_log and mysql module and both items are showing passwords in clear text.

Example:
[code]
##### STEPS TO REPRODUCE
Tasks with mysql module or shell module with no_log: true are showing passwords

##### EXPECTED RESULTS
when

[2017-05-01 21:38] mixja commented on #23593
Confirming changing [this line of code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/cloudformation.py#L436) to the following:

`stack_params['Parameters'] = [{'ParameterKey':k, 'ParameterValue':str(v)} for k, v in template_parameters.items()]`

seems to fix the problem

[2017-05-01 22:41] pablodav commented on #18894
With that size I use git repo and git module, works better in most of the
cases.

El lun., may. 1, 2017 16:56, mikelindsey-okta <notifications@github.com>
escribió:

--
Pablo.

[2017-05-01 22:52] naftulikay commented on #24180
Not a problem, glad there are docs.

[2017-05-02 00:06] cwegener commented on #23986
I just got hit by this hard. I was pulling my hair out.
I'm using the win_dsc5 module from @trondhindenes and I need to have a look at how this new exec pipeline impacts the win_dsc5 module.
In terms of ANSIBLE_KEEP_REMOTE_FILES, I'm dead in the water since I have no .ps1 files to run. The .ps1 files get created dynamically.

[2017-05-02 00:23] glenjarvis-repairpal commented on #17532
Although this issue is closed, let me  add this info. I am experiencing a problem with the same symptoms. I believe it may be related to (at a previous time), I cleaned `/tmp` and `$HOME/.ansible` (when debugging a different issue previously).

I see this message in debug level 1 output:

```Control socket _\"/tmp/snip-rails-22-snip\"_ does not exist```

[2017-05-02 00:31] behrangsa commented on #11702
This should be re-opened. Still happens with Ansible `2.3.0.0`.

[2017-05-02 01:16] estahn commented on #24168
This is still happening in `devel`:
[code]

[2017-05-02 02:45] itdependsnetworks commented on #22727
@privateip what is wrong with: `verify /md5 nvram:startup-config`?

[2017-05-02 04:33] afeld commented on #21139
Note that handlers inside of a role don't seem to inherit the `become` called via an `include_role`, either. Let me know if I should open a standalone issue.

[2017-05-02 04:41] trishnaguha commented on #18974
resolved_by_pr #23589

[2017-05-02 04:56] vignesh-paramasivam commented on #24057
@jhawkesworth - Sorry for the delayed response.

here is the ping output with 6 'v's,

[code]

[2017-05-02 05:55] liuzm7188 opened #24186 "Ansible CVE-2017-7466 Incomplete Fix Arbitrary Command Execution Vulnerability"
Where is the solution? Maybe it wasn't released.
http://www.securityfocus.com/bid/97595/info

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-02 06:16] zarr12steven opened #24188 "Use ansible module proxmox_kvm can't use full clone to new vm"
##### SUMMARY

Management of Qemu(KVM) Virtual Machines in Proxmox.

I follow this document [CentOS 7 1511 Minimal oVirt Template](https://github.com/rharmonson/richtech/wiki/CentOS-7-1511-Minimal-oVirt-Template), and I also transfer vm to template.

Now I want to  use  full clone VM template for create New VM, so I wrote the ansible playbook.

##### ISSUE TYPE

 - Bug Pull Request

##### COMPONEN

[2017-05-02 06:59] xalvarez opened #24189 "Add support for upgrading packages to package module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
package

##### ANSIBLE VERSION
2.1.2.0

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As you know, yum can be used as follows to upgrade all installed packages:

That doesn't work for apt for example. That module requires using an upgrade parameter.

If we try to apply the same logic to package module as in yum, we would write something like:

How

[2017-05-02 07:08] ericzolf commented on #24169
Hi, I like the idea of using the underlying SHELL environment variable, it makes a lot of sense and should work. I haven't yet tested anything but I think that your solution keeps people from calling run_command with the `executable` parameter explicitly set (e.g. from the shell module, where they might use e.g. csh specific constructions). Based on your proposition, I was thinking about the follo

[2017-05-02 07:17] dagwieers opened #24190 "win_user: Removing user reports "user not found""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_user

##### ANSIBLE VERSION

v2.3+

##### SUMMARY

Noticed a few times that when removing an existing user, the task properly runs and reports a change, however the output is:
[code]

On a subsequent run, it also correctly reports:
[code]
So only the initial run wrongly states "User was not found" whereas it did remove it correctly.

[2017-05-02 07:18] hoall commented on #23696
@abadger The commit fixed the problem. Thank you very much! :+1:

[2017-05-02 07:18] #23696 closed, assigned to nobody

[2017-05-02 07:50] helldorado commented on #24188
@zarr12steven thank's for this report.

Can you provide your PVE Env:

## From any node
- **Cluster State** =>  `pvecm status`
- **Pool list** => `pvesh get /pools`
- **Storage list** => `pvesh get /storage/`

## Testing the clone via `pvesh` from **`proxmox-2`** node
- **Linked clone**:
   `pvesh create /nodes/proxmox-2/qemu/30001/clone -newid 30002  --name hello`
- **Full clone with specified st

[2017-05-02 08:16] jurajama commented on #22826
I was able to fix this by modifying CLI_ERRORS_RE in /usr/lib/python2.7/site-packages/ansible/module_utils/sros.py

Originally it was like this:
[code]

Corrected version:
[code]

After the modification, precompiled file sros.pyc shall be deleted to make new code run.

Also I noticed that some SROS commands return "INFO:" as response to erroneous command. While that should be called as a bug in SR

[2017-05-02 08:21] merlin-tc commented on #23579
We're facing the problem when upgrading to 2.3.
I could reproduce it by running a job we have on 20 hosts in parallel and the memory usage increased to 8GB+ RAM and the OOM killer starts to kill processes.

I could trace it back to the following task:
[code]
If I can be of any further assistance let me know.

[2017-05-02 08:45] wisotzky commented on #22826
Please keep in mind, that there is a "WARNING" prompt as well. In management solutions like 5620SAM only "ERROR" and "WARNING" are considered as error, while "INFO" is just giving some extra info...

[2017-05-02 09:17] zarr12steven commented on #24188
@helldorado  Thanks for your reply...I'll show my proxmox Env below

#### PVE Env
[code]

[code]

[code]
#### Testing the clone via pvesh from proxmox-2 node

[code]

[code]

[code]

#### Test My asnible role

[code]

OK, I know what's wrong in my ansible role, Thanks for your help.

BTW, How to provisioning in the proxmox module?

[2017-05-02 09:19] jurajama opened #24192 "sros_config commands get stuck if prompt changes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Module sros_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS-7

##### SUMMARY
When running SROS command that changes the prompt from "#" to "$", sros_config module hangs as it doesn't expect that prompt.
[code]

I got it fixed by modifying CLI_PROMPTS_RE in /usr/lib/python2.7/site-packages/ansible/module_

[2017-05-02 09:24] helldorado commented on #24188
Good.

What do you mean by provisioning

[2017-05-02 09:32] zarr12steven commented on #24188
when I use proxmox_kvm to create new vm, I hope it's can automation provisioning install CentOS/Ubuntu/SUSE, is possible?

[2017-05-02 09:39] drpuur opened #24193 "vmware_guest module fails to customize vm built from template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
inventory      = /data/ansible/hosts
library        = /data/ansible/library
roles_path    = /data/ansible/roles
host_key_checking = False
retry_files_enabled = False
force_color = 1
pipelining = True
forks = 25
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

#####

[2017-05-02 09:43] drpuur commented on #24193
It works with previous version of the vmware_guest module (when putting it in /data/ansible/library). See attached vmware_guest.py that works.
[vmware_guest.py.txt](https://github.com/ansible/ansible/files/970033/vmware_guest.py.txt)

[2017-05-02 09:43] KKoukiou opened #24194 "Cannot trigger handler with variable in name that is passed through inventory"
First I would like to put this issue link here https://github.com/ansible/ansible/issues/12427, which is closed but is related.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
handlers with parameterized names

##### ANSIBLE VERSION
[code]

##### SUMMARY
I am unable to successfully trigger the handler with a variable in its name when the variable is passed through the inventory file.

#####

[2017-05-02 09:56] rcarrillocruz opened #24195 "Create a module for OVN"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ovn

##### SUMMARY

We have modules to manage OVS, there is a project called OVN that is intended to extend its capabilities:

http://openvswitch.org/support/dist-docs/ovn-architecture.7.html

Would be good to have modules for that.

[2017-05-02 10:04] LorensK commented on #24189
Yes, yes, yes, and thank you @xalvarez

In my testing

actually works... BUT ONLY IF the underlying package manager is yum! The very same recipe fails badly when executed on a machine where the underlying package manager is apt.

There should absolutely be a way to tell the generic package manager module to upgrade all currently installed packages to the latest version.

I'm not sure a new paramet

[2017-05-02 10:05] rcarrillocruz opened #24197 "Create modules for OpenStack Magnum"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_magnum

##### SUMMARY

We should develop modules to manage OpenStack Magnum resources, just like we have for Nova, Cinder, Designate, etc:

https://docs.openstack.org/developer/magnum/

[2017-05-02 10:17] helldorado commented on #24188
Yes, in my company we use [Foreman](https://www.theforeman.org/) for booting from PXE + Pressed(Debian) and kickstart (RHEL). More info and examples => https://github.com/theforeman/community-templates

If you attempt to use `clone` be careful when you start the VM.  A full clone VM is a complete copy and is fully independant to the original VM. ECDSA key, hostname, IP and some configuration can c

[2017-05-02 10:22] berislavlopac commented on #17215
I'm having a similar problem on Ansible 2.3 as well, but I'm getting two different errors depending on the task. I have two playbooks, one with a simple sync:

    ---
    - name: sync the application directory
      hosts: "{{ hostgroup }}"
      gather_facts: yes
      become: yes
      become_user: root
      remote_user: "{{ remote_user }}"
      tasks:
        - name: synchronize the working

[2017-05-02 10:26] #24188 closed, assigned to nobody

[2017-05-02 10:59] zarr12steven commented on #24188
@helldorado  ok！ I know foreman, I'll try it. thanks for your help.

[2017-05-02 11:27] fridim commented on #24125
Thanks @spyrexd for reporting

Could you try with the PR ?

[2017-05-02 11:35] richard-scott commented on #17088
If you have white space at the end of hostname/IP Address on a line then the file gets rejected.
Likewise it does not like comments in this file either.

[2017-05-02 11:37] richard-scott commented on #17088
As an example:

Example:
[code]

As you can see above, the $ are put in by the "cat -A" command so you can see where spaces stuff are, the $ are not really at the end of the lines in my file. But as you can see, the first line has a stray space at the end of the IP address of my host.

[2017-05-02 11:39] richard-scott commented on #17088
Oh, also my version of Ansible is:

[code]

[2017-05-02 12:02] drpuur commented on #24193
I checked the source code and tracked it down to the following check (in vmware_guest.py line 1072):

If I change
`
        if len(self.params['customization']) > 0 or len(self.params['networks']) > 0:
            self.customize_vm(vm_obj=vm_obj)
`
to
`
        if len(self.params['customization']) > 0:
            self.customize_vm(vm_obj=vm_obj)
`
it works.

I think it should only try to customiz

[2017-05-02 12:05] nerzhul commented on #24193
@drpuur thanks for the return, in your case it seems customization is required whereas you don't have networks to customize. I think we changed customization a little bit. Can you send a PR ?

[2017-05-02 12:11] drpuur commented on #24193
@nerzhul Sorry, I am not a developer :-( (Shame on me, I did never send a pull request). Also, I think, my proposed "fix" is not the right thing do do. I would just like to be able to create my VMs from a template with no OS (and thus with no installed vmtools).

[2017-05-02 12:13] nerzhul commented on #24193
your error is quite strange, maybe it's due to your template ? Please note if your template is empty, you are wrong. in 2.3 you don't need to clone a template to create a VM from scratch.

[2017-05-02 12:16] drpuur commented on #24193
The only reason I use a template is because of the BIOS-Settings (that a part of the template).

[2017-05-02 12:52] mscheinholtz commented on #24062
I also have this issue on Ansible 2.3.0.0. It is working as expected on 2.2.2.0

[2017-05-02 12:56] clement-lefevre opened #24202 "copy: directory_mode arg is not octal-cleansed like mode arg"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Copy module
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The directory should be copied with the joined modes/permissions.
##### ACTUAL RESULTS

It fails badly, stopping on first absent directory, copying it with root owner while another user and groups were

[2017-05-02 12:58] KroArtem opened #24203 "vmware_guest_snapshot lacks `datacenter` required option in Examples"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION

[code]
![ansible-version](https://cloud.githubusercontent.com/assets/1813101/25618426/9b7dfe12-2f4f-11e7-96f7-7fe91796e7e5.png)
##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 as a control machine

##### SUMMARY
vmware_guest_snapshot lacks `datacenter` required option in Examples.

[2017-05-02 13:02] robinro commented on #24189
Zypper also supports `package: name=* state=latest`.

[2017-05-02 13:30] s-hertel commented on #23593
@jagibson Hi, can you answer tedder's question using the AWS CLI and if that works, can you test mixja's fix, please?

[2017-05-02 13:43] nerzhul commented on #24203
Hello, in fact there is a sync problem with vmware_guest and vmware_guest_snapshot.
I will provide a PR to fix this

[2017-05-02 14:05] #11874 closed, assigned to nobody

[2017-05-02 14:08] dmsimard opened #24207 "Callback "task exit" methods can be called before all task loop items have returned"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
When executing a task that has a list of items (ex: ``with_items``), the "task exit" method can be called inside a callback before the last item has done it's "exit" method.
In a typical callback that only prints to stdout,

[2017-05-02 14:12] ignatenkobrain commented on #24161
usually, it is a bad idea to pass allowerasing via non-interactive scenarios..

[2017-05-02 14:13] #23709 closed, assigned to s-hertel

[2017-05-02 14:15] wwitzel3 commented on #24176
Tower no long associates Users and Teams directly. You must use roles to do that.

To give a user access to a team you will want to use the `tower_role` module. An example of what that might look like is below.

[code]

[2017-05-02 14:31] jean-christophe-manciot commented on #23922
@Qalthos @gundalow
This issue has been **closed too quickly**: it is still there with the same symptom when tested with the latest build (2.4.0~git**20170501.77e5501**) from:
- the devel branch in https://github.com/ansible/ansible
- or with ```pip install git+git://github.com/ansible/ansible.git@devel```

[2017-05-02 14:32] privateip commented on #22826
@wisotzky do you have an example command that will generate the WARNING response?

[2017-05-02 14:37] privateip commented on #23854
resolved_by_pr #23589

[2017-05-02 14:37] #23854 closed, assigned to privateip

[2017-05-02 14:42] wisotzky commented on #22826
Find below:
[code]

The bad on this example is, that it has an confirmation prompt. But likely there are other examples as well...

[2017-05-02 15:01] jean-christophe-manciot opened #24212 "[Regression] ios_command pollutes the fetched configuration with some *"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command
ios_facts

##### ANSIBLE VERSION

Both latest stable & unstable versions:
[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 10
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars

[2017-05-02 15:02] privateip commented on #22826
Thanks, that will work

[2017-05-02 15:10] wenottingham commented on #24176
Ah, Never Mind, then.

[2017-05-02 15:10] #24176 closed, assigned to nobody

[2017-05-02 15:37] chrismeyersfsu commented on #21890
@conleym I use `include_vars` for this case. It results in no structural changes to the underlying role. It does require that you hardcode the roles directory thought.
[code]
https://github.com/chrismeyersfsu/ansible-examples/blob/master/include_vars/main.yml

[2017-05-02 15:45] privateip commented on #22826
I'm looking into this and wondering if the correct behavior is to issue a warning for return messages classified as `INFO` or `WARNING` and not fail the task or to fail the task.  Below is an example of the warning

[code]

Thoughts?

[2017-05-02 15:58] jean-christophe-manciot commented on #18966
@privateip @gundalow Another regression here: I cannot pull facts anymore with ios_facts on IOSv 15.6(2)T:
[code]
leads to:
[code]
This happens with:
- stable ```2.3.0```
- latest build from ```pip install git+git://github.com/ansible/ansible.git@devel```

[2017-05-02 16:14] KroArtem opened #24213 "vmware_guest_snapshot doesn't revert to snapshot with python 2.7.x and pyvmomi 5.5.0-2014.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Python 2.7.12
pyvmomi 5.5.0-2014.1.1

##### OS / ENVIRONMENT
Ubuntu 16.04 as a host
vmWare ESXi 5.5.0 as a destination machine.

##### SUMMARY
With pyvmomi 5.5.0-2014.1.1 installed reverting to a snapshot doesn't work. If I upgrade to pyvmomi 6.5 then everything works corr

[2017-05-02 16:45] sivel commented on #24186
The current stable version v2.3.0 isn't impacted, and was resolved by: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

A fix has been applied for v2.2 but the fix has not been released yet:
https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c

I have no specific information at this time on if any future v2.2 releases will be made.

[2017-05-02 16:45] #24186 closed, assigned to nobody

[2017-05-02 16:52] sivel commented on #24181
I've updated the title to better reflect the extent of the problem.

As I understand it, when using `no_log: true`, and a high verbosity, ansible will still display the user you are connecting to the server as, as well as any `environment` specified at the play or task level.

I'm not convinced exposing the user you are connecting to the target as, is a problem.

However it may be seen as a proble

[2017-05-02 16:53] sivel commented on #24181
As far as Tower is concerned, researching how to reduce verbosity to not include those lines may be of benefit here.  For tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

[2017-05-02 17:23] IslandUsurper opened #24214 "Want to set tags on elasticache clusters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elasticache

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If I want to have duplicate environments for staging and production, it's easy to distinguish them when grouping by tags. I also want to provision AWS with Ansible, but the elasticache module does not have a `tags` parameter.

[2017-05-02 17:25] dvershinin commented on #24161
@ignatenkobrain maybe it is.

My use case is to deploy latest git to CentOS 7 machines where ```dnf``` is installed.

[2017-05-02 17:26] IslandUsurper commented on #24214
. . . and I just realized that you can't set tags on Redis clusters. This probably should be set to "won't fix" until that changes.

[2017-05-02 17:30] rgdacosta opened #24215 "Increase verbosity on a per task basis"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We want the ability to increase the verbosity of a playbook run on a per task basis. Perhaps a key in YAML to indicate this when the ansible-playbook command is run

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2017-05-02 17:38] privateip commented on #23751
~~resolved_by_pr #24216~~

[2017-05-02 17:46] nipsy commented on #24072
I grabbed ansible 2.3.0.0 this morning using `pip install` and ran into this problem.  The fix you linked @abadger fixed the problem for me.

[2017-05-02 17:53] tstringer commented on #21825
@crawfpi I just opened up an [issue in the Azure SDK for Python repo](https://github.com/Azure/azure-sdk-for-python/issues/1135). Take a look at that issue for the full description, but what it boils down to is Ansible is gathering possible `vm_size` values from the `VirtualMachineSizeTypes` enum (in the Azure SDK for Python), and there aren't any H-series VMs in that enum, causing Ansible to thin

[2017-05-02 18:19] sherabi commented on #24072
@abadger Your patch works. Thanks!

[2017-05-02 18:35] sherabi opened #24218 "docker_network module causes an error when using overlay as driver"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module docker_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS Sierra 10.1.2.4

##### SUMMARY
Using the overlay network driver with the docker module fails, however the bridge driver works successfully. Hence I have made a determination that the error is overlay driver specific.

##### STEPS TO REP

[2017-05-02 18:39] sivel commented on #24218
duplicate_of #22530

[2017-05-02 18:39] #24218 closed, assigned to nobody

[2017-05-02 18:47] wisotzky commented on #22826
Just found another example:
[code]

So likely it seems, that errors could be raised at any severity [INFO|MINOR|MAJOR|WARNING|ERROR].
Saying this, I have not yet found a generic rule, what severity is used in which situation.
Seems like syntax errors are always generating "ERROR: xxxx" messages.
All other severity values are used, when for other kinds of errors (no resources, bad parameters, ...).

[2017-05-02 19:27] emoshaya-cognito commented on #23675
I'm having the exact same issue... Ansible is failing its run when it evaluates the condition and complains the variable is undefined. This issue definitely stems from 2.3.0... Is there a workaround?

[2017-05-02 19:39] davidsuart commented on #18955
Come on @ansibot ... component name is in the original description and the title. It's postgresql_privs

This affects 2.3 as well.

[2017-05-02 20:00] fields opened #24219 "Template: "AnsibleUndefinedVariable: dict object has no element 0" when using template with with_dict"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

I’m getting an error `AnsibleUndefinedVariable: dict object has no element 0` when trying to use with_dict with a template. My dictionary (loaded from a variable file in the role) has the form:

[code]

The error message seems to indicate that it’s getting each value for the dictio

[2017-05-02 20:24] wisotzky opened #24220 "netconf-config.py to add option save"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module netconf-config.py

##### ANSIBLE VERSION
latest

##### SUMMARY
To improve usability of this netconf module, it is recommended to have the explicit option to make configuration changes persistent.

From [rfc6241 Section 8.7.5.1](https://tools.ietf.org/html/rfc6241#section-8.7.5.1):
[code]

Using ncclient:
[code]

Potentially the module s

[2017-05-02 20:31] wisotzky opened #24221 "netconf-config.py to add option 'src'"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
netconf-config.py

##### ANSIBLE VERSION
latest

##### SUMMARY
In the current implementation the XML based data model must be embedded in the YAML playbook file using the "xml" parameter. To improve the usability it is recommended, to allow playbook authors to use an alternative parameter called "src" which is the (relative/absolute) path to a

[2017-05-02 20:45] dtolj opened #24222 "Unable to read inventory group with hosts and groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

hosts file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7

##### SUMMARY

I have a hosts file that contains the following outline:

[dmz]
192.168.3.4

[prod:children]
dmz
192.168.3.3

However I get an error
Attempted to read "../hosts" as ini file: ../hosts:6: Section [prod:children] includes undefined group:

[2017-05-02 20:55] sivel commented on #24222
As the error indicates, you included a value `192.168.3.3` as a child of the `prod` group.  Children can only be other defined groups, and `192.168.3.3` would be a host.

Instead you may want:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-02 20:55] #24222 closed, assigned to nobody

[2017-05-02 21:09] userlerueda commented on #24221
I think this would be great, it will make playbooks definitely cleaner. @wisotzky have you worked in any code that can be reused for a pull request?

[2017-05-02 21:18] jeeb opened #24223 "Allow setting `allow_world_readable_tmpfiles` per-host"
Seemingly not a thing in master yet if going by what @bcoca noted on IRC.

##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
2.2.2.0 (and most likely 2.3/master

##### OS / ENVIRONMENT
N/A

##### SUMMARY
 `allow_world_readable_tmpfiles` seems like a parameter that you might want to set per-host.

##### STEPS TO REPRODUCE
1. You have your Ansible plays.
2

[2017-05-02 22:08] ipolishchuk commented on #22576
The same issue on   ansible 2.2.1.0, target host is on Red Hat Enterprise Linux Server release 6.7 (Santiago)
- user:
      name: prometheus
      uid: 800
      group: prometheus
      shell: /bin/bash
      system: yes
      home: /home/prometheus
      createhome: no

[2017-05-02 22:09] roumano opened #24224 "lot of Duplicate tags in ansible galaxy"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible galaxy tags

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Lot of duplicate tags in ansible galaxy

fixing this issue will permit a better visibility of roles, less pages, easier to find a role.

##### STEPS TO REPRODUCE
Download all page of tags :

[code]
See few duplicates :
[code]

##### E

[2017-05-02 22:19] sivel commented on #24224
This repository is for the ansible project. For galaxy issues, please report this at https://github.com/ansible/galaxy-issues

[2017-05-02 22:19] #24224 closed, assigned to nobody

[2017-05-02 22:28] ipolishchuk commented on #22576
In my case, the problem is that the user is under IPA management, not local user. If I remove "home: /home/prometheus," it seems working ok.

[2017-05-02 22:40] alexbrand commented on #16740
I think I've hit something related to this, and I am wondering if this is an expected change in behavior (include applies the when condition to each task instead of skipping the entire file), or if this is a bug. Thanks!

[2017-05-02 22:49] dbosso opened #24225 "vmware_guest: fails when using customization and hostname with domain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3
vCenter 6.5

##### SUMMARY
Using a VM name with a domain in the name parameter to vmware_guest when creating a VM from a template, the create fails. For example, specifying myhost.example.com results in:

fatal: [myhost]: FAILED! => {"changed":

[2017-05-02 23:28] haidaraM opened #24226 "expect fails with 'str' object has no attribute 'decode' for python3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
expect module: modules/commands/expect.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Python 3.5.3 on the targeted hosts (with pexpect==4.2.1) by modifiying the `ansible_python_interpreter` in the inventory file (`ansible_python_interpreter=/usr/local/bin/python3`)

##### SUMMARY
When running a play

[2017-05-02 23:35] sivel commented on #16740
This is all clearly documented in regards to static vs dynamic includes.  2.0 introduced a behavior that was decided to be problematic, and was subsequently changed back to a static default.

See http://docs.ansible.com/ansible/playbooks_roles.html#dynamic-versus-static-includes

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mail

[2017-05-02 23:35] #16740 closed, assigned to nobody

[2017-05-03 00:21] cigamit commented on #24193
I think his use case is mostly valid.  He is wanting to clone a "blank" template, and is just specifying the VLan for the NIC to be placed on.  This has nothing to do with customization, the code itself is just being lazy and assuming that if you assign a NIC at all, then you must want to customize the OS.  I would just do something like this to verify that we are actually supplying commands that

[2017-05-03 00:26] damomurf commented on #9431
And it appears this has been lost again with the move away and back again to ansible/ansible. I've just been bitten by this seriously, it would be good to have it addressed with some sane validation.

[2017-05-03 02:12] fantasyzh opened #24228 "'setup' stage takes too long time on linux server host with large max-open-files config"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

On some of my linux cluster servers, I have quite large max-open-files configuration (for some practical need), like:
[code]
And ansible playbook's setup stage takes more than one minutes.

`    time ansible -vvvv <any host> -m setup`

us

[2017-05-03 05:34] jhawkesworth commented on #24215
Nice idea, I would like this too.
I recently discovered that 'debug' already has a verbosity argument which I've started using while developing playbooks. http://docs.ansible.com/ansible/debug_module.html

Actually, now I've looked, you could also use the 'selective' callback plugin in your ansible.cfg which only displays output if you tag the task - https://github.com/ansible/ansible/blob/devel/l

[2017-05-03 05:47] drpuur commented on #24193
@cigamit This looks good to me, thanks! I tested it with my special use case and it worked.

[2017-05-03 05:50] woodsae commented on #24168
👍

[2017-05-03 06:21] liuzm7188 commented on #24186
thanks

[2017-05-03 06:22] kassiansun opened #24232 "Add --sysctl support for docker_container module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloud/docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`--sysctl` option is import for deploying docker infrastructures, as almost all of databases/web servers need it to tune configs like `net.core.somaxconn`

##### STEPS TO REPRODUCE
[code]

[2017-05-03 06:32] kassiansun commented on #24232
Actually I submitted a pull request for the deprecated `ansible-modules-core` repository: https://github.com/ansible/ansible-modules-core/pull/572
It works but always restart the container, seems it cannot detect the host_config correctly

[2017-05-03 07:02] kassiansun commented on #24232
Oh I fixed it, and will submit a PR to this repository laterly.

[2017-05-03 07:03] estahn commented on #24168
@bcoca @jimi-c I tried to troubleshoot the python code. Any pointers where I could investigate? It's pretty much a show-stopper for reusable roles.

[2017-05-03 07:12] gundalow commented on #24232
@kassiansun Excellent.

[2017-05-03 07:43] hyperized commented on #23579
@merlin-tc nice to know we're not the only ones, I was starting to think it was just us.

Just a hunch here, if the `loop_control` `label` does not contain a dynamic variable, does it still have this issue? And could you tell me how you traced it back to that particular task so I can do the same?

[2017-05-03 07:47] gundalow commented on #24219
needs_info please include the output from running with `ansible-playbook -vvv` when this takes fails.

Please also dump `users`

[code]

[2017-05-03 08:00] gundalow commented on #24214
We don't have a way of marking this as on hold. Any ideas when tags will be supported on Redis?

[2017-05-03 08:41] nfnty commented on #16740
[ansible.cfg](https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg) needs to be updated to reflect that. Also `task_includes_static = False` doesn't work the same as explicitly specifying `static: false`.

[2017-05-03 09:15] tersmitten commented on #23579
Might be related to https://github.com/ansible/ansible/issues/15416

[2017-05-03 09:25] hyperized commented on #23214
@rbbrasil yes it does, I did not see that. Well that will solve this issue, 2.4 simply forwarded the deprecation.

[2017-05-03 09:25] #23214 closed, assigned to nobody

[2017-05-03 09:41] yajo opened #24236 "Add support for `docker * prune`"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- docker_image
- docker_container
- docker_volume
- docker_system
- docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default.

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Docker 1.13 introduced prune commands. Automating prune would be great to stop it from eating disk:

- https://docs.docker.com/engine/reference/comman

[2017-05-03 09:52] seenickcode commented on #15083
@kevinburkerengin was there ever a solution to this?

[2017-05-03 10:05] kuldeep-singh-duhan commented on #19860
I tried the above but did not help, Now started getting the error for IP, I am exactly facing the same issue

[2017-05-03 10:08] wisotzky commented on #24221
First thing should be to update the `argument_spec`:
[code]
Also it would be good to add the following:
[code]
Usually it would make sense first to check existence of the `src` file:
[code]
In case this is a XML file, you should be able simple to read it:
[code]

In case of a Jinja2 file, the file must be read/processed:
[code]
I am still struggling to find other ansible modules which natively use

[2017-05-03 10:15] phiea opened #24240 "Regression: IPv6 target not working with Persistent Connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

don't know

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

transport=paramiko

##### OS / ENVIRONMENT

debian 8

##### SUMMARY

when moving from ansible 2.2 to 2.3, all of a sudden my playbooks wouldn't run against ipv6 address anymore.

##### STEPS TO REPRODUCE

inventory file with ipv6 ip.

[code]

##### EXPECTED RESULTS

##### ACTUAL R

[2017-05-03 10:31] alexanderteves opened #24241 "jenkins_plugin: Module always updates installed plugins"
##### ISSUE TYPE
 - Bug report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When `state` is set to `present` and `version` is not specified, the `install( )` method will always add 'latest' to download URL and update if older version is installed.

##### STEPS TO REPRODUCE
Code in question:

[code]

##### EXPECTED RESULTS
When `stat

[2017-05-03 10:40] Bastien- commented on #19880
anyone knows if there are plans to have ecr login into the docker_login module?

[2017-05-03 10:55] jnv commented on #18955
I have updated the version information, hopefully @ansibot will pick it up again.

[2017-05-03 10:56] gajowi commented on #5725
For reference, this also seems to be a problem with template and sudo on a system with nfs mounted home directories and root squash.  The same workaround applies.

[2017-05-03 11:10] kuldeep-singh-duhan commented on #22542
Facing similar issue difference is I am able to make the machine power on in second attempt.
Error Message "msg": "fault.NicSettingMismatch.summary"
I even can not skip the error because it is not defined and if I define outside the function it fails before reaching there

[2017-05-03 11:49] papey commented on #13641
Searching a way to prevent starting service when installing pkg with apt using ansible, here is how I do it :

[code]

I just add a comment here to help people looking for answers.

[2017-05-03 12:05] sm4rk0 commented on #23559
Just a note (from testing the #23581 and [devel](https://github.com/ansible/ansible/tree/devel), too):
If the last part of the path from example above ('dir' in `dest=c:/some/dir`) doesn't exist, the file(s) from the `src` will be copied with it's name ('dir') in the directory containing it ('c:/some') and the subsequent files will overwrite previously copied ones.

On the other hand, if `c:/some`

[2017-05-03 12:54] gundalow commented on #23204
resolved_by_pr 24233

There is a proposed fix in https://github.com/ansible/ansible/pull/24233 if anyone would like to test, that would be great.

[2017-05-03 12:57] jctanner commented on #24228
@fantasy86 please use the gather_subset argument and see if the problem can be narrowed down to a specific subset.

needs_info

[2017-05-03 13:03] gundalow commented on #24236
@Yajo Thank you for the suggestion :)

@ryansb @chouseknecht What are your thoughts on this?

[2017-05-03 13:13] sc10n opened #24243 "ipa-hbacrule doesn't allow rule to be placed against specified host."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ipa-hbacrule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing additional
##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
I am trying to add in an HBAC rule that only allows a user group to connect to a specified host. It won't allow a host to be specified, it keeps asking for a hostcategory. The only option it will accept is "all", whic

[2017-05-03 13:14] gundalow commented on #24240
@phiea Thanks for the info and including the extra debug information.

We will have a look at this and get back to you.

I've checked `creating new control socket for host fd00::c0a8:44fa:22 as user piet` because we do
`'creating new control socket for host %s:%s as user %s'` was are not actually connection to an invalid `IPv6:22`

[2017-05-03 13:25] streetster commented on #22397
@PhilEv , you can do something like this to avoid that problem (note you dont need the true check):

[code]

[2017-05-03 13:30] nerzhul commented on #22542
can you try this patch please ? https://github.com/ansible/ansible/pull/24138

[2017-05-03 13:34] trishnaguha commented on #21901
resolved_by_pr #24235

[2017-05-03 13:36] trishnaguha commented on #21901
Fixed on `stable2.2`.

[2017-05-03 13:49] #21901 closed, assigned to trishnaguha

[2017-05-03 13:58] dagwieers commented on #19996
I just found out that for installing Wireshark idempotently, the product_id is actually just "Wireshark".
This was unexpected as all the examples seem to indicate it requires something in the form of "{9D573E71-1077-4C7E-B4DB-4E22A5D2B48B}".

[code]

Maybe we should add an example like this as well ?

[2017-05-03 14:03] KroArtem commented on #24203
@nerzhul, I didn't get it: did you merged PR with a fix or not? Your PR looks like it's just closed.

[2017-05-03 14:17] bcoca commented on #24168
it is a precedence issue, 'inline vars'  `  - { role: roleA, tasks: [1] }`  have higher precedence than those in `vars:` so you cannot override them that way. I would avoid using them directly inline and use `vars:` in all cases.

[2017-05-03 14:21] lberruti commented on #23579
Similar issue here: play with 20 hosts, the memory grows up at first task with loop_control.
The issue can be reproduced with this playbook:
[code]

[2017-05-03 14:31] s-hertel commented on #23980
I'm having trouble reproducing on MacOS Sierra 10.12.2 with python 2.7.10. Can you verify by looking at the AMI in the console that it seems to have a creation date? If it's a public AMI, can you point me to it and the correct region? [Here's a duplicate](https://github.com/ansible/ansible-modules-core/issues/4958) in the old repo.

[2017-05-03 15:01] IslandUsurper commented on #24214
I have no idea. I didn't even know it wasn't possible until I wrote the issue.

I've worked around the issue by encoding the environment name in the cluster ID, but there's only so much you can do with 20 characters.

[2017-05-03 15:10] pavansai8 commented on #4675
Hi Guys,

Ran out in to the same error.
I can't ansilbe-playbook as my remote machine does not simplejson installed. Is simplejson mandatory?

Is there a way to run the playbook with installing that component???

[2017-05-03 15:11] pavansai8 commented on #4675
This is what I tried.

Using /etc/ansible/ansible.cfg as config file
SSH password:
SUDO password[defaults to SSH password]:
Loading callback plugin minimal of type stdout, v2.0 from /usr/lib/python2.6/site-packages/ansible/plugins/callback/__init__.pyc
<10.201.186.72> ESTABLISH SSH CONNECTION FOR USER: pbhaskaruni
<10.201.186.72> SSH: EXEC sshpass -d12 ssh -vvv -C -o ControlMaster=auto -o ControlP

[2017-05-03 15:14] alikins commented on #24102
@rcuza Yup, this is the same as #23567 (fixed in https://github.com/ansible/ansible/commit/ae3d7fb29ed3aac413aea05384dd60eacc5f738c) and cherry-picked into stable-2.3

duplicate_of #23567

[2017-05-03 15:21] fantasy86 commented on #24228
hardware: 41sec
network: 39sec
virtual: 14sec
facter: 7sec

[2017-05-03 15:25] kwerey commented on #23965
I just ran into this too -  the module constructs its own endpoint itself by using the region you have set: `endpoint = "elasticache.%s.amazonaws.com" % self.region `

Since AWS China's service endpoints live in a different top level domain, amazonaws.com.cn, this doesn't work. I put a PR in for the Elasticache one to hand off responsibility for figuring out endpoints to the Boto library instead -

[2017-05-03 15:26] #24102 closed, assigned to nobody

[2017-05-03 15:29] #24009 closed, assigned to nobody

[2017-05-03 15:36] staffordrau opened #24251 "FEAT: ios_config module save: option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently, when using the save: yes option to the ios_config module, the running config is written to the startup config regardless of whether any changes were needed to be made. I'm requesting that this option be changed or have another

[2017-05-03 15:49] #24016 closed, assigned to nobody

[2017-05-03 15:52] gundalow commented on #24240
@phiea Can you confirm that in Ansible 2.2 (when this worked) you were also using `transport=paramiko`?
Thanks

[2017-05-03 15:55] gundalow commented on #24240
Can you also tell us what version of paramiko you are using locally.

[2017-05-03 15:57] jsuter commented on #22397
We're seeing these warnings as well, and removing the jinja delimiters from `when` seems to break this:

[code]

Any suggestions?

[2017-05-03 16:01] #23959 closed, assigned to s-hertel

[2017-05-03 16:06] sivel commented on #22397
@jsuter

[code]

[2017-05-03 16:12] jsuter commented on #22397
@sivel Awesome, thank you. What is the tilde doing specifically in this case? I can't find the docs on it and would love to read up.

[2017-05-03 16:20] sivel commented on #22397
@jsuter http://jinja.pocoo.org/docs/dev/templates/#other-operators

[2017-05-03 16:24] #23385 closed, assigned to nobody

[2017-05-03 16:26] phiea commented on #24240
Yes i was als paramikoMet vriendelijke groet,Piet BraatOp 3 mei 2017 5:53 p.m. schreef John R Barker <notifications@github.com>:@phiea Can you confirm that in Ansible 2.2 (when this worked) you were also using transport=paramiko?
Thanks

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-03 16:28] phiea commented on #24240
Version i don't know at this moment, bud i did test paramiko in a seperate python script and there the connection worked fine. If you want i can look up the version nonthelessMet vriendelijke groet,Piet BraatOp 3 mei 2017 5:56 p.m. schreef John R Barker <notifications@github.com>:Can you also tell us what version of paramiko you are using locally.

—You are receiving this because you were mentione

[2017-05-03 16:31] JoelFeiner opened #24253 "Lookup path resolution treats string as array"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup/file.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When resolving relative paths with the file lookup plugin, it generates a large number of extraneous path checks, one for each character of the playbook path. I've isolated the problem to `plugins/lookup/__init__.py`, in the find_f

[2017-05-03 16:38] danielhneville opened #24255 "difflib-based module fails to produce diff markers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Writing a module using python difflib's ndiff

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
in the ansible.cfg file: `ssh_args = -o ControlMaster=auto -o ControlPersist=60s`

##### OS / ENVIRONMENT
macOS Sierra 10.12.4

##### SUMMARY
Attempting to use any of the python 2.7 difflib methods within an ansible module strips the diff markers fro

[2017-05-03 16:41] #23501 closed, assigned to nobody

[2017-05-03 16:41] PhilEv commented on #22397
Thanks @streetster as posted in ansible group (thanks @sivel  and Josh)

`
 when: getent_passwd[item['name']] is defined
`
was all good for my case

[2017-05-03 16:54] sivel commented on #24255
The first thing that I notice, is that your module is opening `file_a` for `file_b` and comparing `file_a` to itself.

I rewrote your module a bit, to use `unified_diff`, and it works as expected, with no problems:

[code]

needs_info

[2017-05-03 16:56] cdheffner commented on #24255
.... yeah, this was my dumb error. need more coffee.

[2017-05-03 16:56] #24255 closed, assigned to nobody

[2017-05-03 17:16] fields commented on #24219
@gundalow using the -vvv flag does not give any more useful information for that task - it's the exact same error message except pretty printed.

This is the sanitized output from the debug task:

[code]

[2017-05-03 17:19] fields commented on #24219
The output from the task that's failing looks like this:

[code]

With a line for each key in the dictionary.

[2017-05-03 17:20] bearrito commented on #23457
Does the maintainer  need more information on this issue?

[2017-05-03 17:22] bearrito commented on #21285
I've reproduced this. Does the maintainer need information?

[2017-05-03 17:22] bcoca commented on #23579
could you test with #24257?

[2017-05-03 17:27] sivel commented on #24219
Can you show the template as well.  With my test template of the following, it works without issue.

[code]

Also, can you confirm what jinja2 version you are using?

needs_info

[2017-05-03 17:51] lgfausak commented on #24172
I am seeing the same thing.  I just upgraded from 2.1, most of the time the include_vars works (I do an include_vars of the same file from many different places).  So far, in one case, I have found this error.  Same kind of debug, include the file, then debug the variable that was set (worklog).  Here is the code that does the include_vars that works most of the time:
[code]
The next tasks referen

[2017-05-03 17:54] bcoca commented on #24172
When you delegate you are applying the task to that host, so the vars will be in `localhost`, not in `inventory_hostname`

[2017-05-03 17:54] sean-abbott commented on #24172
Actually, that seems likely/appropriate as that include is happening inside of a

[code]

[2017-05-03 17:55] sean-abbott commented on #24172
I was having another bug where delegate_facts isn't working.  I wonder if they're related.

[2017-05-03 18:00] alikins commented on #23579
@lberruti I can reproduce lots of mem usage with https://github.com/ansible/ansible/issues/23579#issuecomment-298925537  (close to 2gigs for ~10 hosts)

[2017-05-03 18:02] alikins commented on #23579
@bcoca with #24257

[code]

[2017-05-03 18:05] sean-abbott commented on #24172
Yes, but in my example both the include_vars and the debug statement are both in the "get_jar" playbook above.  The latter immediately follows the former, and they are both delegated to localhost.

[2017-05-03 18:08] bcoca commented on #24172
delgation does not mean you get all vars, only connection vars, the rest of the vars are from the `inventory_hostname`

[2017-05-03 18:08] nergdron commented on #7952
This should be re-opened, since issues have moved back into this repo I guess. In any case, still very much seeing this problem with ansible 2.2.1.0 and ansible 2.3.0. Here's a simple example on 2.3:

[code]
[code]
[code]

note that if I remove log_min_duration_statement from the params, leaving a single param, then it works. so there's definitely a problem somewhere with parsing multiple paramete

[2017-05-03 18:09] alikins commented on #23579
@bcoca with a locally patched version of 24257, mem usage doesnt seem to improve (based on only a couple of runs, it seems to be actually be a little worse (~2.3g vs ~2g) but lots of fuzziness involved...)

[2017-05-03 18:12] sean-abbott commented on #24172
...So then was this "broken" in 2.2.1?  Because this is a playbook I've been using daliy for 6 months.  It makes sense that if I set a var in a playbook in it's entirety being run against a particular host, that var would be available for the rest of the same playbook. It doesn't make any sense for it to disappear immediately after it's set.

[2017-05-03 18:15] bcoca commented on #24172
it does not disappear, its set in `localhost`, using `hostvars['localhost']['api_jar_filename']` should show the value.

We did fix several issues with the surrounding code, I'm unclear on which is the 'correct way' as we also have `delegate_facts` to consider in this case. I see several options:

- We ignore `delegate_to` when it is an `include_vars` task (we do this already with add_host/group_b

[2017-05-03 18:18] sean-abbott commented on #24172
There may be a counterexample available, but I would say that "delegate_to", logically also delegates the facts. I suppose I can also imagine examples of wanting to be able to delegate a fact from within a delegated action, but I think the least surprising option is that delegate_to also delegates the variables.

IMO, anyway.  :-)  thank you for the pointer!

[2017-05-03 18:21] bcoca commented on #24172
@sean-abbott delegate_to is not meant to totally substitute the host, just the execution target, hence it always keeps the original host 'context' with the exception of what is needed to alter the execution (connection vars).

For example you might want to remove a host from the load balancer, so you delegate_to the loadbalancer and use `ansible_host`  to remove the actual IP of the original host,

[2017-05-03 18:21] fields commented on #24219
I was using 2.8, but I just uninstalled that and installed 2.9.6. It did not help. I stripped the template down to just:

[code]

and it still did not work.

Could it be something in the values of the dict that's not getting escaped properly?

[2017-05-03 18:30] fields commented on #24219
I have tried removing everything but alphanumeric characters from the dict and I'm still getting this error.

[2017-05-03 18:33] sean-abbott commented on #24172
While I understand that this isn't how it works, I do wish that when you delegate a set of things (i.e., via an included playbook), that the set en masse would be delegates, rather than logically applying a delegate to each individual action. I think it would allow more fine-grained control and choice of where to run actions, and be much more intuitive. But this obviously works, so oh well.

Again

[2017-05-03 18:36] sivel commented on #24219
Does it work with the example `users` you provided here?

[code]

It it reproducible with the following simple playbook?

[code]

Where `24219.j2` is:

[code]

[2017-05-03 18:37] sean-abbott commented on #24172
...Is there any way to delegate a fact to the global facts, then? Because this is mixing and matching things that I (might) get from group_vars in the inventory and things that I am dynamically setting, apparently tagged specifically to `host localhost`.

[2017-05-03 18:44] bcoca commented on #24172
There are no "global facts", facts and inventory vars are per host, 'play vars' are across hosts.

[2017-05-03 18:59] reggert commented on #5512
:+1:

[2017-05-03 19:01] sean-abbott commented on #24172
Is there a way to delegate facts to "play vars", then?

The issue I have with your counter example is that it can be encapsulated in a single task. What I'm doing is dynamically assessing what version of a jar is built according to the state of a git repository and downloading the jar from an artifactory server that my targets hosts (on a separate network) don't have direct access to, before distr

[2017-05-03 19:13] fields commented on #24219
Ok - I've identified the problem - the task was using an incorrect but similarly named template file, which was expecting with_nested and referenced item[0] and item[1] in the template. Thanks for the help. It would probably be better if this error included the name of the variable being referenced.

[2017-05-03 19:13] #24219 closed, assigned to nobody

[2017-05-03 19:23] sean-abbott commented on #24172
...annnnnddd now, my include_vars isn't even recognizing I'm trying to interpolate variables:

[code]

Which is literally resulting in a file name `fmserver-api-{{ fm_api_version }}-{{ git_info['git_7_hash'] }}.jar`

[2017-05-03 19:26] sean-abbott commented on #24172
So what do I have to do to use include_vars from inside a delegated task and have it interpolate?

[2017-05-03 19:30] albertomurillo commented on #23085
I hit the same issue

[2017-05-03 19:41] bcoca commented on #24172
or try my PR above

[2017-05-03 19:42] sean-abbott commented on #24172
Ok, so as far as I can tell, in my setup, "include_vars" does not interpolate other variables (so it cannot be used to set new variables from old variables, and the vars that do get set are set in host vars.

But, set_fact sets play facts which are used without needing to reference localhost.

I'll give the PR a shot.

[2017-05-03 19:47] bcoca commented on #24172
include_vars (as most modules) doesn't do ANY templating/substitution, that happens at the moment of consumption. Templating happens when a task is 'compiled'.

[2017-05-03 19:59] sean-abbott commented on #24172
Yes, the PR covers it. The PR also reverts to the behavior where include_vars interpolates variables successfully.

[2017-05-03 20:13] bcoca commented on #24172
As I mention above, it is not `include_vars` doing it, my PR makes it so the 'new behaviour' can be achieved if you set `delegate_facts: True` and keeps the old behaviour otherwise (which actually ignores `delegate_to` for `include_vars`. So all the vars are present in `inventory_hostname` and it works as it did before.

[2017-05-03 20:13] jtyr commented on #24241
Thanks for reporting this, @alexanderteves. I'm working on a fix.

[2017-05-03 20:17] thedumbtechguy opened #24264 "'ansible.vars.unsafe_proxy.AnsibleUnsafeText object' has no attribute"
I've seen other similar posts, but I they seem not to apply to me. The role in question worked fine in 2.2.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When trying to create a list of users, it throws the an error about an invalid value error.

##### STEPS TO REPRODUCE

I am running

[2017-05-03 20:30] #24172 closed, assigned to nobody

[2017-05-03 20:32] sean-abbott commented on #24172
I am describing the behavior from the point of a user. From that POV, in one case I call include vars with `{{ variable }}`s inside of it, and I get variables back that have interpolated those calls into new strings.  In the other case, I get strings that include the original double curly braces.  So regardless of what the code is doing, this is what is happening as a user.

[2017-05-03 20:38] brad2014 opened #24265 "digital_ocean_tag reporting that tag on droplet changed, when it didn't."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

digital_ocean_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS

##### SUMMARY

When using digital_ocean_tag to create a tag, the task is marked "changed" even if the tag already exists.  When using digital_ocean_tag to apply a tag to a droplet, the task is marked "changed" even if the droplet already has t

[2017-05-03 20:50] phiea commented on #24240
paramiko version: 2.1.2 (for completeness)

[2017-05-03 20:57] privateip commented on #24240
@phiea @gundalow my suspicion is you are getting tripped up by the bug fixed in #23589 which will be part of 2.3.1.   Are you able to run from source and try the latest code in devel?   I will try to setup a recreate later today to test in my lab as well

[2017-05-03 21:16] annapurnam opened #24267 "Ansible Redshift Module erros when wait:true"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible Module : redshift erros out when wait value is true/yes
It doenst error when it is false or no.
##### STEPS TO REPRODUCE
Any redshift module, add wait: yes in yml file

[code]

##### EXPECTED RESULTS

Shoul

[2017-05-03 21:37] nergdron opened #24268 "rds module doesn't correctly detect and apply changes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rds module (https://docs.ansible.com/ansible/rds_module.html)

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
RDS module doesn't correctly see all changes, and skips applying important changes to configuration. We're specifically having problems with changes to parameter_group not being applied.

####

[2017-05-03 21:51] #24226 closed, assigned to sivel

[2017-05-03 21:57] nergdron commented on #24268
Note that calling "aws rds modify-db-instance --db-parameter-group-name" produces the expected results.

[2017-05-03 22:22] alikins commented on #23579
some notes from more testing:

* memory usage seems to mostly come from facts
  * adding gather_facts: false to https://github.com/ansible/ansible/issues/23579#issuecomment-298925537 reduces mem usage for me from 3+g to ~/150 megs
  * if there are lots and lots of facts collected, the more mem is used. For example, on my test systems, if `ohai` is installed, that adds a ton more facts and objects

[2017-05-03 22:43] lgfausak commented on #24172
I am confused as to why my delegation to localhost only failed in one case. Other cases worked. Same file. Weird.

Sent from my iPhone

[2017-05-03 23:11] alikins commented on #23579
did some bisecting and that points to 3d65482927e33daa30bb6bfc2153b4c64775ee15:

[code]

I think that was actually our first suspect when this issue popped up but we couldn't reproduce at the time. That change was part of a fix for https://github.com/ansible/ansible/issues/18236 .  IMO, fixing #18236 isnt worth the performance issues.

pinging @jimi-c

[2017-05-03 23:22] alikins commented on #23579
Reverting #3d65482927e33daa30bb6bfc2153b4c64775ee15 and #8830cde28d0086619c92230d38b5216131770ac1 seems to fix this.
(branch with reverts at https://github.com/ansible/ansible/compare/devel...alikins:revert_for_23579)

With those reverts, a test case that was using over 1gig of mem. With the reverts mentioned above, the same test case only hits about 140megs and is noticeably faster.

[2017-05-03 23:40] orderedchaosdev opened #24273 "contrib/inventory/ec2.py: Elasticache getting warning found both group and host with same name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[defaults]
hostfile = /etc/ansible/ec2.py

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If I run any playbook I get
[WARNING]: Found both group and host with same name:
for each of my Elasticache clusters

##### STEPS TO REPRODUCE

Make elasticache cluster, run a playboo

[2017-05-03 23:49] estahn commented on #24168
@bcoca Brian, thanks for the response although I think you're missing the point. Or I'm not entirely following with the concepts.

Question: If nothing else is specified (no `<role>/vars/` folder) should the variable that passed into the role override the variable of the parent?

Example:
- play
  - roleA, name=1
    - output name => **1**
    - include roleB, name=2
      - output name => **1** (

[2017-05-03 23:57] nitzmahone commented on #23986
Here's a quick description of the way I usually do module debug:
- Get module_utils/powershell.ps1 and the module code on a Windows host. I usually create symlinks in my Linux host's vagrant dir to module_utils and modules/windows in my Ansible checkout, but do whatever you like to get those things accessible.
- Run ISE, open powershell.ps1 and the module file, then F5 powershell.ps1
- Set `$compl

[2017-05-03 23:58] c-mart opened #24274 "Multiple ranges in a host pattern cause Ansible process to hang forever"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Contents of ansible.cfg (I suspect not relevant here):
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

It's unclear whether Ansible supports multiple ranges in a single host pattern in an inventory file. [This commit](https://github.com/ansible/ansible/commit/25822330a2642eacebde1c0

[2017-05-04 00:03] dkarakas1 opened #24275 "azure_rm_resourcegroup fails with "No module named packaging.version""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
[code]
##### SUMMARY

##### STEPS TO REPRODUCE

Assuming you've exported the required environment variables:
[code]

[code]

##### EXPECTED RESULTS

Module should create the Azure Resource Group

##### ACTUAL RESULTS

[code]

[2017-05-04 01:16] jctanner opened #24276 "sysctl module fails on python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
sysctl module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu with python3 container

##### SUMMARY
[code]

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-05-04 01:31] #24276 closed, assigned to nobody

[2017-05-04 01:47] peikk0 commented on #23578
Same issue here

[2017-05-04 01:58] thedarkfalcon commented on #15035
I also find this extremely annoying. The warning that @bcoca referenced isn't helpful. I would expect the playbook to error if it can't open the inventory file that is specified.

The current implementation has caused headaches when trying to troubleshoot why a very large pipeline run through an orchestration tool which runs 20+ playbooks _succeeds_ but really hasn't. The orchestration tool (Jenki

[2017-05-04 04:46] abadger commented on #24175
/cc @alikins

[2017-05-04 04:46] abadger commented on #23846
/cc @alikins

[2017-05-04 04:48] abadger commented on #24189
I do not believe that this will be implemented (The package module is strictly a least common denominator between the various backend modules that implement it) but I'm cc'ing @bcoca for the official decision.

[2017-05-04 05:39] robinro commented on #24189
One could reformulate this as a request for apt and apk to also support the `name=* state=latest` syntax, which should be possible without breaking existing functionality. In that case the request would work without any changes to the `package` module.

[2017-05-04 06:03] Akasurde commented on #24275
@dkarakas1 Thanks for reporting this issue. Could you please provide `pip` version ?

[2017-05-04 06:03] aklemp opened #24278 "Add 'slaves' parameter to 'alternatives' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
alternatives

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The tool `update-alternatives` allows slaves to be managed with a parent alternative, so for example manpages point to the version matching the selected tool. This should be possible in the `alternatives` module as well.

##### STEPS

[2017-05-04 06:49] xalvarez commented on #24189
I'd assume that if that was possible using apt, it would only be natural that it was also possible via package.

[2017-05-04 07:13] SimonBin commented on #20494
same issue when importing 2x, jinja 2.8 downgrade can work around it

[2017-05-04 07:32] phiea commented on #24240
by the way, i've allso tested it with the 2.4.0 version now, that seems to have the same problem

[2017-05-04 07:49] sayantandas commented on #14413
The below code works for me
Ansible version - 2.3
Server - Ubuntu 16.04.2 LTS

Target system - RHEL 7.3

[code]

[2017-05-04 08:01] mgla commented on #14248
+1

[2017-05-04 08:14] Akasurde commented on #24267
@annapurnam Can you try above patch and let me know, if it works for you?

[2017-05-04 08:17] Lowess opened #24281 "New Pritunl modules"
##### ISSUE TYPE

 - New Module Pull Request

##### COMPONENT NAME
pritunl_org.py
pritunl_user.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY

(Pritunl)[https://pritunl.com/] is an Enterprise Distributed OpenVPN Server. We have been using this technology for about a year and we felt really handy to automate our VPN user management using Ansible.

As Pritunl offers a (REST AP

[2017-05-04 08:21] #24281 closed, assigned to nobody

[2017-05-04 08:22] Lowess commented on #24281
Please see #24282, sorry for the dup

[2017-05-04 08:47] sylr opened #24284 "Rolling Updates at task level"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
feature

##### ANSIBLE VERSION
2.3.0.0

##### SUMMARY
Rolling Updates are very useful but currently treated at playbook level.

It would be useful if we could have rolling updates at **task level**, meaning, for a given task, be able to define the **concurrency level of that task** across all servers being treated.

A good example would be a proc

[2017-05-04 09:28] bencoughlan commented on #11175
Any update on this? It seems like a big gap that I can't specify it in the cli.

[2017-05-04 09:30] Malet commented on #24264
Having the same issue with the user module + vaulted passwords

[2017-05-04 09:43] Jorge-Rodriguez commented on #20508
@laurentgo What release is this commit in?

[2017-05-04 10:10] jotunskij commented on #14413
The solution provided by @sayantandas also works for us.

Ansible version: 2.3.0.0
Server version: CentOS Linux release 7.3.1611
Target system: CentOS Linux release 7.3.1611

[2017-05-04 10:13] thedumbtechguy commented on #24264
I figured out a workaround.
It seems it doesn't play nice if the vaulted password is in a list or a dict, not sure which.

So I set a temporary variable first and use that in the list. e.g.

[code]

[2017-05-04 10:19] Pantharian opened #24285 "win_user does not create user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
'win_user' module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
'win_user' module fails to create the specified user

The same playbook run with Ansible 2.2.1.0 creates the user.

##### STEPS TO REPRODUCE
When

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-05-04 10:53] maxgalbu opened #24288 "registered dictionary variable (with command output) should always have "failed" key"
##### ISSUE TYPE
 - Feature Idea

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
Centos 7.2

##### COMPONENT NAME
`when` and `register`

##### SUMMARY
A `register`ed variable, with command output, should always have "failed"

##### STEPS TO REPRODUCE
With these tasks:

[code]

The "Check if package.json changed" can fail, but if it doesn't, `package_json_

[2017-05-04 11:37] max-nrgene opened #24289 "ec2 module: support min_success_percentage for multiple instance creation without ASG or fleet"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

ubuntu 16.10

##### SUMMARY

creation of multiple instance does not have to be hard/harsh. when setting up a multi-node cluster I am ok with not getting 100% of nodes, especially using spot instances.

##### STEPS TO REPRODUCE

added the parameter `min_succ

[2017-05-04 12:36] Akasurde commented on #24285
@Pantharian Thanks for reporting this issue. Can you please paste `ansible-playbook` command output with `-vvvv`

[2017-05-04 12:43] bcoca commented on #24168
I did not mention the `vars/` directory, my point is about precedence in vars declared inline in roles vs those declared in a `vars:` key

[2017-05-04 12:46] noplanman commented on #22169
Any update on this? It is still an issue on version 2.3.

[2017-05-04 12:58] MarcinOrlowski opened #24294 "Allow ini_file module to handle keys without values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ini_file

##### SUMMARY
mysql/mariadb config files are pretty close to what ini file is yet they do allow just keys, without values. Unfortunately ini_file module does not allow anything like that, which prevents using this module to manage mysql/mariadb config file. Imaginary mysql.cnf file can look like this:

     [mysql]
     skip-name-res

[2017-05-04 13:04] jpmens commented on #24294
needs_contributor

[2017-05-04 13:23] yajo opened #24295 "Clearing facts (to refresh them) does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- meta
- setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

[code]

##### SUMMARY

If you need to reload some facts (in my case I need the VPN IP after I configured it), it does not work

##### STEPS TO REPRODUCE

Option A:

[code]

Option B:

[code]

##### EXPECTED RESULTS

Facts reloaded, VPN ip data av

[2017-05-04 14:05] abadger commented on #24194
Ansible task names need to be defined as "global vars" (vars which are defined via a method which creates only a single variable no matter how many hosts reference that variable later).  Inventory variables don't satisfy that because inventory, by definition, defines variables for individual hosts.  If you wish to parameterize the handler name, you could set it via an extra var at ansible-playbook

[2017-05-04 14:05] #24194 closed, assigned to nobody

[2017-05-04 14:29] marlox-ouda commented on #21773
@abadger : thank you for your notice : such modification really increase playbook speed.

I have just discovered ```debug``` mode to run playbook and discover there is sometimes, many consecutive (may be 100 times), and each ones take 1 sec to execute :
[code]

[2017-05-04 14:40] estahn commented on #24168
@bcoca Thanks, I think i understand now, but it seems still weird to me.

So, basically I **can't** use `include_role` and pass in variables that are already defined.

The [documentation](https://docs.ansible.com/ansible/include_role_module.html) has this example:

[code]

In case I want to run this twice with a different value for `rolevar` it won't work. (see gist above)

Example:

[code]

`role

[2017-05-04 14:41] alikins commented on #23579
I added some of the plays/config/hosts I used to reproduce and bisect to https://github.com/alikins/ansible-bug-repro/tree/master/mem_usage_a23_23579

[2017-05-04 15:00] shrabok-surge opened #24296 "Stat module cause 'dict object' has no attribute 'islnk' if path does not exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
stat module: http://docs.ansible.com/ansible/stat_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
OSX Darwin Kernel 15.6.0
Centos 7

##### SUMMARY
As per the documentation to check if a folder or file exists and is a symlink you can run:
[code]

We were using this in ansible <= 2.2 and it would not fai

[2017-05-04 15:01] bcoca commented on #24168
No, its a precedence issue with vars inline in role declaration, the example above seems flawed as you keep passing the same value:

my quick test:
[code]
my output:
[code]

[2017-05-04 15:04] marlox-ouda commented on #21773
Another more accurate example. There is a task in my playbook that try to templating the following file :
[etc_pam.d_su.j2.txt](https://github.com/ansible/ansible/files/976578/etc_pam.d_su.j2.txt)

There is only 3 variables on this task and i took about 8.5 minutes with such trace
[extract_running_cmd.log.txt](https://github.com/ansible/ansible/files/976577/extract_running_cmd.log.txt)

[2017-05-04 15:06] MarcinOrlowski opened #24298 "mysql_user: Allow to check for implicit_admin w/o any action"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY
Would be useful to use `mysql_user` with just `check_implicit_admin` (no `name` given) which combined with `register` would just check for implicit admin access allowing further steps in role to rely on the result (i.e. skip certain actions).

##### STEPS TO

[2017-05-04 15:16] jean-christophe-manciot commented on #18974
@gundalow @trishnaguha
It is NOT solved with latest unstable ansible from **pip** (pip install git+git://github.com/ansible/ansible.git@devel):
With **NX-OSv 7.3(0)D1(1)** and **NX-OSv-9k 7.0(3)I5(2)**:
[code]
despite being able to manually ssh into both devices:
[code]

With latest **deb build** from latest commit 08a3ea22210f17731ea94c077625cc9bb85dd45b on devel, I get the same issue with the sa

[2017-05-04 15:19] MGD1981 opened #24300 "filetree usage fails to log any task information when files don't exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_filetree

##### ANSIBLE VERSION
ansible 2.2.1.0

##### CONFIGURATION
private_key_file = <path to private key>
host_key_checking = False

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511

##### SUMMARY
Using the "with_filetree" function as part of the file module or as part of the template module logs no information about the task when t

[2017-05-04 15:21] alikins commented on #23846
The output for the
[code]
task seems to be getting the python repr of the object instead of the str.

[code]

Not sure why yet, investigating...

[2017-05-04 15:35] nitzmahone commented on #24202
This is a known issue with YAML type inference- octal int literals are signified in YAML 1.1 by values beginning with `0` and containing only digits 0-9. YAML is turning the octal mode string into the integer 493, which gets stringified directly to chmod. There's no sane way to fix this internally- we can't just assume any integer value has been octal-interpreted, as `750` (sans leading 0) would s

[2017-05-04 15:43] clement-lefevre commented on #24202
Yeah, but in the current situation, it failed even with the value starting with a zero.

Plus what I don't get at all is that `directory_mode` breaks while `mode` don't. Aren't those supposed to read values the same way and so behave the same way? (if I quote `directory_mode` and don't quote `mode`, it works flawlessly).

[2017-05-04 15:46] nitzmahone commented on #24202
Apparently there's a large wad of code that tries to detect and reverse this situation for mode, but it's not applied on directory_mode.

[2017-05-04 15:54] edrozenberg commented on #24202
Having consistency between mode and directory_mode would make sense, for whichever way the octal detection works. If it breaks, at least it would break in the same way for both mode and directory_mode.

Since mode seems to work ok at the moment, making directory_mode behave the same way would be good.

[2017-05-04 16:01] dav1x commented on #24225
looking into this now @dbosso

[2017-05-04 16:12] jbscare opened #24301 "If a task in a block files, the always clause isn't always run"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block/rescue/always

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None that seems relevant.

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you have a block with a task with 'run_once: True', no 'rescue' clause, but an 'always' clause, the 'always' doesn't get run if the task fails.

##### STEPS TO REPRODUCE

[2017-05-04 16:14] jbscare commented on #24301
I wonder if this is related to the bug in #19966 in some way, where a failure in a run_once task causes Ansible to bail prematurely, even if there are other hosts/tasks which could still run.

[2017-05-04 16:18] nitzmahone commented on #24274
Not a bug (at least, not what you've reported): the problem is that you're dynamically adding ~65000 hosts to the inventory. If you try this with saner value ranges, it works fine- I tested values that result in several thousands hosts successfully, eg:
[code]

Do you actually have 65000 hosts you're trying to manage?

[2017-05-04 16:20] alv000h opened #24302 "stat module - stat dictionary return values missing on the web"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
* stat module (core) http://docs.ansible.com/ansible/stat_module.html

##### ANSIBLE VERSION
Ansible WEB http://docs.ansible.com/ansible/stat_module.html

##### SUMMARY
Some time ago were a detailed description of stat dictionary return values on the web:
http://docs.ansible.com/ansible/stat_module.html

Now this information is missing

[2017-05-04 16:39] dav1x commented on #24225
@dbosso do you need the ability to create a VM with an FQDN? or just the need to parse the name variable and truncate it when an FQDN is specified?

[2017-05-04 16:41] nitzmahone commented on #24275
How did you install Ansible? I notice Ansible itself isn't showing up in your `pip freeze` output. You have the latest version of `packaging` installed here, which makes the error message a bit nonsensical. I'm suspecting that Ansible is using a different Python environment than what pip is targeting...

[2017-05-04 16:46] c-mart commented on #24274
No, not even close. We have an "on-demand private clouds" provider ([CloudLab](https://www.cloudlab.us/)) and we don't quite know which IP addresses will be allocated to our cloud instances in advance of each Experiment. Our [application which calls Ansible](https://github.com/cyverse/subspace) passes a 'limit hosts' argument at runtime which restricts execution to just one host (currently). I thi

[2017-05-04 16:46] #24274 closed, assigned to nobody

[2017-05-04 16:46] nitzmahone commented on #24285
@Pantharian Why are you passing the password and state args as arrays? They shouldn't be wrapped in  `[]` - they are scalar args.

[2017-05-04 17:00] nitzmahone commented on #24288
You can just use the success/failed/changed Jinja tests and filters- they already take care of that. eg, `package_json_copy | success`.

Also, you probably shouldn't be using `ignore_errors` for expected error cases (that's an awfully big hammer)- either check a precondition, or use `failed_when` to specifically detect the failure cases you care about.

[2017-05-04 17:00] #24288 closed, assigned to nobody

[2017-05-04 17:00] staffordrau opened #24303 "FEAT: ios_/nxos_/eos_compare_run_start"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_compare_run_start, nxos_compare_run_start, etc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I'd like to request a set of network modules to compare the running_config with the startup_config on ios, nxos, and eos, output any diffs, and optionally save the running config to the startup con

[2017-05-04 17:02] jean-christophe-manciot commented on #24212
Same issue with a different target type: **IOS-XEv 16.4.1** and another command: **ios_facts** (gather_subset: all)

[2017-05-04 17:05] JimCircadian commented on #23869
I just tested this, because I thought the checkout wasn't idempotent in some code I was using (the test is below, can't share the other), using CentOS7 and Ansible v2.4. All actually seems OK (I got stuck simply with having changed the checkout path leaving git with a destination it couldn't use...)

[code]

[2017-05-04 17:12] #23285 closed, assigned to nobody

[2017-05-04 17:21] nitzmahone commented on #24295
I'm guessing you have a race condition in your play logic here- just because you started a service to open a VPN connection doesn't mean it's done what it needs to do before you refresh the facts. You might want to add an until loop with delay on the setup task so it will re-run every few seconds until the fact you need is available...

That said, I'm not seeing `meta: clear_facts` working, either

[2017-05-04 17:21] s-hertel commented on #24273
Hi, @orderedchaosdev. Are you running the ec2 module? Or elasticache?

[2017-05-04 17:27] s-hertel commented on #24268
Hi @nergdron. Can you try the same reproducer with `command: modify` and see if the parameter group is updated?

[2017-05-04 17:33] robinro commented on #23869
@dthielking Please provide a minimal working example playbook to reproduce the issue. Otherwise I'd assume the problem is due to the local setup and not in the git module and close this issue.

[2017-05-04 17:35] s-hertel commented on #24268
needs_info

[2017-05-04 17:35] s-hertel commented on #24273
needs_info

[2017-05-04 17:39] nitzmahone commented on #24296
I'm surprised that this worked in 2.2.x- regardless, `data_dir` will always be defined. To make this work right with the short-circuit (so you don't get the missing key error), you should change the when to:
`(data_dir.stat.exists and data_dir.stat.islnk == False) and (db_volume.stat.exists)`

[2017-05-04 17:39] #24296 closed, assigned to jimi-c

[2017-05-04 17:43] nitzmahone commented on #24274
No worries- I was going to suggest dynamic inventory as a better way to handle this, so you're not actually allocating all those bogus hosts in the Ansible inventory. It'll definitely speed things up!

[2017-05-04 17:55] nitzmahone commented on #24300
This behavior is by design- empty lookups don't ever have any subitems to display, so the display callback is never invoked.

[2017-05-04 17:55] #24300 closed, assigned to nobody

[2017-05-04 17:58] nitzmahone commented on #24301
Confirmed- this is probably something we should fix for 2.3...

[2017-05-04 18:02] nitzmahone commented on #24302
Hmm, looks like something broke with the HTML return value renderer- all the options are still there in the actual module docs (see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/stat.py#L140-L359).

[2017-05-04 18:09] s-hertel commented on #22928
@wojtasskorcz @michael-dev2rights If either of you could test #23933 that would be great.

[2017-05-04 18:11] pnedkov opened #24306 "The documentation for route53 module is ahead of time"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

route53

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The documentation for route53 module mentions features that are not released yet and will be available in Ansible 2.4.0.0.

##### STEPS TO REPRODUCE

Go to: http://docs.ansible.com/ansible/route53_module.html

[code]

##### EXPECTED RE

[2017-05-04 18:18] bcoca commented on #24295
So from option A, it seems like a race condition, option B ...the error makes no sense as `meta:` does not connect to the remote host.

[2017-05-04 18:29] dbosso commented on #24225
Thanks!

[2017-05-04 18:43] nergdron commented on #24268
Hmmm, "modify" requires removing the subnet and db_name fields, but it does seem to update settings. However, it doesn't seem to correctly detect when changes are required either, and runs the update command regardless of if there's any changes to actually apply. As well, "wait" doesn't work correctly with "command: modify", it gives the error: "Database instance is not in available state."

My pl

[2017-05-04 19:17] jmighion opened #24308 "Allow iosxr config module to use admin config mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iosxr_config and iosxr util modules

##### ANSIBLE VERSION

[code]

##### SUMMARY

IOS-XR has an admin config mode to configure different things on the device. A simple boolean could be passed through the `iosxr_config` module param to the iosxr util module's `load_config` method to conditionally prepend "admin " to the initial "configure te

[2017-05-04 19:18] darioems commented on #23843
Hello,

In my environment, the problem was pyOpenSSL. When updating pyOpenSSL to a new version using pip, some olders files were left in the directory.

I removed the package via pip uninstall, removed the directory in /usr/lib[64]/python2.7/site-packages/OpenSSL/ and then reinstalled pyopenssl.

Dário Estevão

[2017-05-04 19:18] bcoca commented on #24194
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You cannot use inventory vars to name tasks, they must have the same name for all hosts. The 'all' group won't work either as they are

[2017-05-04 19:31] shrabok-surge commented on #24296
We run this before installing mysql so the data_dir does not exist at this time. This is something we do to accommodate an lvm partition provided by ebs volume, I'll see what happens with your recommendation.

[2017-05-04 19:53] #24190 closed, assigned to nobody

[2017-05-04 19:54] nitzmahone commented on #24296
The file may not exist, but the `data_dir` variable (at least in the sample you provided) should always be defined, so that check is redundant.

[2017-05-04 19:55] TerryHowe commented on #4083
I saw a similar thing that @diasjorge saw, where 127.0.0.1 worked and in my case it was because of a bad /etc/ansible/hosts file.

[2017-05-04 19:56] shrabok-surge commented on #24296
ah I see, so still the missing data_dir.stat.islnk == False will not work because object data_dir.stat.islnk is not defined as per the debug:
{u'stat': {u'exists': False}, u'changed': False}

[2017-05-04 19:59] Nosmoht commented on #24243
@sc10n,
i try to reproduce the issue but it works on my local Vagrant box.

[code]
[code]
Playbook
[code]

Could you please provide me more information that might help me to reproduce it?

[2017-05-04 20:03] nitzmahone commented on #24296
Correct, but if you short-circuit that check with another one that evaluates to False first (eg, the .exists check), it won't run, and thus won't fail. Like I said, I'd be surprised if that ever really worked for you in older versions (I tested it on 2.2 and it failed the same way). If it did, it was a fluke.

[2017-05-04 20:35] shrabok-surge commented on #24296
Double checked an you are right, that was very helpful, Thanks!

[2017-05-04 20:52] #18815 closed, assigned to nobody

[2017-05-04 21:50] jamesongithub commented on #18987
@YPCrumble did you ever find a workaround? aptitude didn't help for me also. running everything as raw didn't either

[2017-05-04 21:51] jagibson commented on #23593
@s-hertel Yes, but I probably won't be able to get to it until next week.

[2017-05-04 22:03] misham commented on #18987
Are there plans to address this issue?  The current workaround, for me, is to run the following command before using Ansible:

`sudo apt-get install -y aptitude software-properties-common`

I use Packer with Ansible, so it's fairly straight forward to put that into a script that bootstraps Ansible on Ubuntu but it's a really ugly hack.

[2017-05-04 22:19] alikins commented on #24175
Looks like this and #23846 may be related to the __repr__ on ansible.parsing.yaml.objects.AnsibleVaultEncryptedUnicode

Deep down in jinja templating, something ends up calling repr() on that object and the existing one confuses it. Not really sure why it ends up using the repr() when __str__ and __unicode__ are provided, but shrug.

[2017-05-04 22:23] tedder commented on #23593
`notabug`

[2017-05-04 22:25] #23593 closed, assigned to nobody

[2017-05-04 22:29] dkarakas1 commented on #24275
@nitzmahone It was installed using Yum and pulled from the epel repo.
@Akasurde The pip version is 9.0.1:

[code]

[2017-05-04 22:33] nitzmahone commented on #24275
Yeah, there's your problem- Ansible's using Python 2.7, your pip is using Python 3.4, so by necessity they're addressing different package stores. You need to install a Python 2.7 version of pip that addresses the same package store that Ansible's installed in.

[2017-05-04 22:34] #23085 closed, assigned to rcarrillocruz

[2017-05-04 22:36] nitzmahone commented on #24275
It's odd that a version-unqualifed copy of pip (as opposed to pip2.7 or pip3.4) has taken over the default `pip`- IIRC that's not the default behavior on any Red Hat-ish Linux flavor that I'm aware of...

[2017-05-04 22:43] dkarakas1 commented on #24275
How I installed my Dev Box:

Starting with a fresh CentOS 7-64bit Image

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-05-04 22:43] dkarakas1 commented on #24275
@nitzmahone Perhaps it was the pip3 installation?  It was required on CentOS 7

[code]

[2017-05-04 22:45] nitzmahone commented on #24275
Yep, that's it- you have to target the same interpreter that Ansible's using (`python`) if you're not going to use the EPEL-packaged pip. Otherwise pip is managing a completely different package store that Ansible can't see.

[2017-05-04 22:54] dkarakas1 commented on #24275
@nitzmahone

I've modified /bin/pip to now point to /bin/pip2.7.  Running pip --version now shows:

[code]
[code]

I then installed azure 2.0.0rc5 using this version of pip.  Here's the new pip freeze output:

[code]

Execution of the play still results in the same error:

[code]

[2017-05-04 22:56] nitzmahone commented on #24275
`pip install packaging` - I don't know how it's running without it, but that should fix it.

[2017-05-04 22:57] nitzmahone commented on #24275
/me curses mixed OS + pip installations

[2017-05-04 22:59] dkarakas1 commented on #24275
There isn't a pip3 installer from epel.  If you install python 34 onto CentOS 7, you have to install pip3 manually.  I required python3/pip3 for KeeperCommander, which we run from Ansible playbooks.

[2017-05-04 23:00] dkarakas1 commented on #24275
Oh, wait, I'm wrong, there is a python34-pip.noarch package.  I'll back out my manual install and us the epel released one instead.

[2017-05-04 23:02] nitzmahone commented on #24275
Nothing wrong with having multiple Pythons/pips available either (I have 4 versions, not counting the dozens of virtualenvs on my box), but you should probably try to follow PEP394 when it comes to unversioned symlinks (like the packaged stuff does) so you don't run into things like this. :)

[2017-05-04 23:48] estahn commented on #24168
@bcoca Brian, thanks for your time and looking into it. Got it now.

IMHO i do think that there shouldn't be a difference between the following. But I guess this is due it's historic nature of roles/include_role.

[code]

* `include_role` should provide a different way to pass in variables that precede the parent
* I'm not sure why you not just reuse the syntax from the playbook and introduced a n

[2017-05-04 23:48] #24168 closed, assigned to nobody

[2017-05-05 01:31] bcoca commented on #24168
in part because of the problems posed by inline vars, also `role:` is always static, `include_role` is meant to be dynamic

[2017-05-05 03:06] #23948 closed, assigned to trishnaguha

[2017-05-05 05:12] jhawkesworth commented on #24057
Ok, so I can see now its not a problem with connecting, just a problem when modules attempt to access c: drive (sorry I should have read issue title more carefully).

So I am guessing its not able to write to a temporary folder.

I am wondering if TMP or TEMP is not set, or if it is pointing at a folder which the user you are running as does not have access too (unlikely since you appear to be run

[2017-05-05 05:37] jhawkesworth commented on #23843
I think its likely this is caused by mixing platform libraries with ones from pip.
I run winrm (although not credssp) on EL 7 boxes but pick up as many dependencies from pip, rather than yum.

[2017-05-05 07:00] vjcalvo commented on #23285
@dsummersl thanks!!

[2017-05-05 07:40] KKoukiou commented on #24194
@abadger Thanks for clarifying this!

[2017-05-05 08:13] haphan commented on #23534
I am also having this issue, running ansible 2.3.0, python 2.7.13

Target server is a RHEL.

[2017-05-05 08:57] songohan commented on #23215
Should be resolved with #19219

[2017-05-05 09:02] mpostument opened #24316 "template error in ec2_tag module output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_tag and debug module

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Ubuntu 16
##### SUMMARY
Trying to get tag from ec2 and getting error when i am trying to use register tag value
```aws:elasticmapreduce:instance-group-role: MASTER```
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
```MASTER```

##### ACTUAL RESULTS
[code]

[2017-05-05 09:13] nerzhul commented on #24213
Okay, a hard dependy to recent PyVmomi should be added, okay @gundalow for that ?

[2017-05-05 09:55] Pantharian commented on #24285
@Akasurde Here is the command output using ```-vvvv```:

[code]

[2017-05-05 10:06] KroArtem commented on #24213
@nerzhul , according to their `Compatibility Policy` older versions may be required to work with ESXi 5.0, if I understand it correctly.

[2017-05-05 10:09] hillsy opened #24319 "Flag python-jmespath as PPA dependency"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

json_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04 both client & server, Ansible installed from PPA.

##### SUMMARY

The json_query filter relies on the jmespath library.

While not strictly necessary for running Ansible, it is a very useful feature so it would be great if python-jmespat

[2017-05-05 10:11] Pantharian commented on #24285
@nitzmahone

1) The scalar syntax works with Ansible v2.2.1.0.
2) The array syntax works with Ansible v2.2.1.0.
3) The scalar syntax works with Ansible v2.3.0.0.
4) The array syntax **does not** work with Ansible v2.3.0.0.

The documentation for [win_user](http://docs.ansible.com/ansible/win_user_module.html) states:

Our builds that used the array syntax in v2.2.1.0 started failing when using v2.

[2017-05-05 10:32] hezbucho commented on #19074
I'm experiencing the same issue on ansible 2.1.5.0 when both switching a shallow cloned repo from tag to branch or switching a shallow cloned repo from tag to another tag.

The issue seems to be fixed in devel, is it going to be backported to 2.1 given this task is about 2.1?

[2017-05-05 10:36] adamchainz commented on #19074
@hezbucho things don't tend to get backported but you can backport yourself by copying the git module to `library/git.py` next to your playbooks

[2017-05-05 11:06] ilana1291 opened #24320 "Ansible is silently skipping hosts on two tasks in a playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
ansible 2.2.0.1

##### OS / ENVIRONMENT
Linux

##### SUMMARY
We are using Ansible for our deployment activities but we are facing this bug that can cause huge issues in Production environments. After the untar step of the package on the 5 hosts, there are two tasks that run post-deploy steps. The post-depl

[2017-05-05 11:20] Infectsoldier commented on #24316
This fixed problem
[code]

[2017-05-05 11:20] #24316 closed, assigned to nobody

[2017-05-05 11:52] vignesh-paramasivam commented on #24057
@jhawkesworth - I dont see any restrictions regarding the remoting. Also, i have just downgraded the ansible to 2.1 and it is working fine without any change.

As requested the Set command output,

[code]

[2017-05-05 12:08] gormux opened #24321 "Datacenter should not be required in modules vmware_guest_facts and vmware_guest_snapshot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_facts
vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

datacenter is required by the plugin, but it is not in reality

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should work without datacenter

##### ACTUAL RESULTS

"msg": "missing required arg

[2017-05-05 12:16] gormux commented on #24321
Additionnaly, it seems the parameter is not used.
If my datacenters are named DATA1 and DATA2, and I set
[code]
the snapshot is done.

[2017-05-05 12:27] s-hertel commented on #24268
@nergdron I'm writing a fix for this (at least for modify to allow for a wait if it is provided so the resource can become available and allow a way to not always show changed), but I don't use RDS a whole lot and was wondering your opinion. 1) creating an RDS requires a password 2) it seems there is no way to verify that the password is the same as the existing one with boto. So if you're running

[2017-05-05 12:31] broferek commented on #21285
I also came to this issue, I need to be able to loop over a list of roles from a fact set in a previous play.

[2017-05-05 12:33] jorisoverzet opened #24322 "Ubuntu 17.04 Zesty Zapus deb packages in ppa:ansible/ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

N/A

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 17.04 Zesty Zapus

##### SUMMARY
There is no Ubuntu 17.04 Zesty Zapus configured in the official Ansible PPA repository at launchpad.net. (http://ppa.launchpad.net/ansible/ansible/ubuntu/dists/)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A

[2017-05-05 13:08] jctanner commented on #24320
@ilana1291 what are the command args you pass to ansible-playbook?

needs_info

[2017-05-05 13:18] sc10n commented on #24243
Thank you for looking into this. Here is the list of IPA packages that are on the client I am trying to create the HBAC for. The only difference in how you are running it vs, how I am is that the role is being included in a much larger playbook. Would delegating the task to the IPA server make a difference?
[code]

Here are the packages from the IPA server
[code]

[2017-05-05 13:35] vanomashey opened #24325 "Ansible 2.3 Datadog module: No handlers could be found for logger dd.datadogpy"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
datadog module

##### ANSIBLE VERSION
2.3

##### SUMMARY
We assume there is an issue with Ansible 2.3 Datadog module.

After upgrade of Ansible to 2.3 and Python to 2.7.12 we have faced following issue when using Datadog module. Googling around does not really help.

TASK [datadog-monitor : Module name] *********************************************

[2017-05-05 13:35] rahul-dhumal opened #24326 "include_role: causing subsequent dependencies to run more than once."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

_include_role:_

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = ../playbooks/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
No changes in ansible  configuration file

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
When **_include_role:_** is used (specifically at the end of a .yml) file, it

[2017-05-05 13:52] Pantharian commented on #23019
@ nitzmahone I found this bug when trying to create a scheduled task. Originally a 'raw' command, it failed when the same arguments were passed to 'win_command'.

However, using 'win_shell' with the
[code]
I found I could run the same unmodified command successfully. e.g.

[code]

[2017-05-05 13:56] abadger commented on #20653
I believe this was fixed by willthames in this PR: https://github.com/ansible/ansible/pull/20840

The commit is in the latest stable-2.2, stable-2.3, and devel branches.  I've just confirmed that  ansible-2.2.2.0.tar.gz and ansible-2.3.0.0.tar.gz contain that fix as well.

Now the fun part... from some of the comments, I'm not sure if everyone is experiencing the same bug.  If someone is still exp

[2017-05-05 13:57] yunchih opened #24327 "copy module does not work in Docker container"
This is somehow similar to #13652

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

copy module

##### ANSIBLE VERSION

[code]

I also tried ansible 2.2.0.0, but got the same error.

##### CONFIGURATION

ansible.cfg

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 Docker container
Docker version 17.03.1-ce, build c6d412e
Docker host: CentOS 7.3

##### SUMMARY

The following recipe does not work:

[2017-05-05 14:02] alikins commented on #20653
Somewhat related: https://github.com/ansible/ansible/issues/19440 ("git module needs better error messages for timeout related errors"). #19440 seems to imply the "failed to get the hostkey for..." error message can be a bit vague, which would lend credence to @abadger thoughts about this potentially being caused by different issues.

[2017-05-05 14:10] abadger commented on #19440
Does ssh-keyscan tell us why it failed?  If so, then we could include it in the error message.  If not, then it seems like we'd be as in the dark as the user as to why it failed.

[2017-05-05 14:16] abadger commented on #22445
Did https://github.com/ansible/ansible/pull/20840 (released in ansible-2.3.0 and ansible-2.2.2) fix this for you?

needs_info

[2017-05-05 14:17] daBONDi commented on #16452
Got the Same Problem but maybe some hint
Kerberos Connection is working, then i call a Powershell Command to Install the First Server in an ADFS Farm "Install-ADFSFarm ....." and after that i get also the kerberos Error with "Connection reset by peer"

Realy have no clue, but it instantly stopped working after i calll the install-adfs command

Target Host Server 2016
Ansible 2.3 Release

There mus

[2017-05-05 14:19] alikins commented on #19440
looks like 'ssh-keyscan -v' sometimes shows slightly more info, but nothing particularly consistent:

[code]

[2017-05-05 14:21] robinro commented on #19440
In general ssh-keyscan is not very communicative. I get an error (that looks config/distro specific) when the hostname can not be resolved, but if there is no answer on port 22 ssh-keyscan stays silent. I guess those two are the most common cases.

[2017-05-05 14:37] abadger commented on #20653
From some debugging work done by @jctanner, at least for @shadycuz, the issue is that the git repo specified, ssh://git@gitlab.com:myrepo/xxxxxx.git isn't valid.  As you found, it should look more like one of these two:

* git@gitlab.com:myrepo/xxxxxx.git
* ssh://git@gitlab.com/~myrepo/xxxxxx.git

Using the ```ssh://``` prefix with ```:myrepo``` mixes the format for ssh specifying a location with

[2017-05-05 14:49] param3sh opened #24328 "Not able to create new instance with custom user image in azure with Ansible playbook."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am not able to create instance from my custom image in azure but at the same time i am able to create instance with available images in the market.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

#####

[2017-05-05 15:07] abadger commented on #19440
Okay.  I'm in favour of better error messages but it doesn't seem like ssh-keyscan is giving us the information that we need to make a good message in this case.  Maybe we can make it a little more specific about what we were doing when it failed?  "Failed to retrieve hostname.  ssh-keyscan -p PORT HOSTNAME returned no matches" ?  It's not much but it's the only thing I can think to do.

[2017-05-05 15:07] #23846 closed, assigned to alikins

[2017-05-05 15:09] alikins commented on #23846
Committed a fix for this to devel branch via #24312. If folks seeing this could test it and verify it works, I'll cherrypick to stable-2.3 branch.

[2017-05-05 15:09] alikins commented on #24175
Committed a fix for this to devel branch via #24312. If folks seeing this could test it and verify it works, I'll cherrypick to stable-2.3 branch.

[2017-05-05 15:20] Akasurde commented on #24325
@vanomashey Thanks for reporting this issue. Could you please provide your Ansible playbook sample ?

[2017-05-05 15:35] #19440 closed, assigned to nobody

[2017-05-05 15:37] vanomashey commented on #24325
Hi @Akasurde,

Thank you for prompt reply.

This is my yml file:

[code]

And this is a datadog-monitor role:

[code]

[2017-05-05 15:41] ghost opened #24330 "Yum doesn't see new packages with long name"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`modules/packaging/os/yum.py`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS7
[code]

##### SUMMARY
When trying to get latest version of a package on target server, ansible doesn't report any new version, even though `yum check-update` does. The package name and repository name are long and I can see (when doing print debugging) ansib

[2017-05-05 16:23] mdelagrange commented on #24175
Looks good, thanks!

[2017-05-05 16:27] chrisvire opened #24333 "Some packages installed with win_chocolatey (git/hg) are not available on command-line until log out/log in"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
pipelining = true

##### OS / ENVIRONMENT
Control Machine = Ubuntu 16.04
Managed Host = Windows 7 64-bit

##### SUMMARY
When using win_chocolatey to install some packages (git, hg), the environment is changed (going to advanced system settings -> environment, I can see that the P

[2017-05-05 16:56] jwbensley commented on #24251
In [this](https://github.com/ansible/ansible/issues/22727) issue it was mentioned that `verify /md5 nvram:startup-config` could be used to verify if the startup config has been changed or not. Even without setting `save: yes` the command `verify /md5 system:running-config` could/should be used to check if the running config has been changed? Another option for both running and startup config is to

[2017-05-05 17:03] jctanner commented on #24327
@yunchih please provide the ansible-playbook -vvvv output.

[2017-05-05 17:15] chrisvire commented on #24333
This isn't a high priority since I can document this issue, but I thought it should be reported.

Is there a way to know in the Ansible script that it was actually installed and cause a reboot?  Maybe register an event and have a win_reboot entry with a when clause?

[2017-05-05 17:26] alikins commented on #23695
@merlin-tc which facter version are you seeing this with?

looks like 3.0.0 removed '--puppet' and '3.0.2' added it back (https://docs.puppet.com/facter/3.0/release_notes.html#facter--p-restored)

[2017-05-05 17:30] alikins commented on #23695
oops, I missed the version info in the description (> 3.1.8 )

I'll take a look and see if we can support old and new cli.

[2017-05-05 17:38] Akasurde commented on #24325
@vanomashey Are you sure that you are using correct `api_key` and `app_key` ? I am able to run given playbook with my `api_key` and `app_key`. Can you paste output of following script ?

`from datadog import initialize, api
options = {
    'api_key': 'abcdefghijklmnop',
    'app_key': 'abcdefghijklmnop'
}

initialize(**options)
print api.Monitor.get_all()`

[2017-05-05 17:48] s-hertel commented on #23980
Did upgrading python make a difference? What OSX are you on?

needs_info

[2017-05-05 17:48] s-hertel commented on #23777
needs_info

[2017-05-05 17:57] s-hertel commented on #19802
needs_info

[2017-05-05 18:34] alexlo03 commented on #23602
Sorry I dropped this.

What should we do?  Change module.fail_json to AnsibleModule.warn() on
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_group.py#L440 ?

In the absence of a "strict" or "aggressive" flag this seems like the only way to not introduce failures where there were none before.

cc @mikedlr @s-hertel

[2017-05-05 18:51] jctanner commented on #24326
@rahul-dhumal does this force the behavior you expect?

[code]

needs_info

[2017-05-05 18:57] jctanner commented on #24328
@param3sh please provide an error message or ansible-playbook -vvvv output.

needs_info

[2017-05-05 18:58] #24306 closed, assigned to nobody

[2017-05-05 19:32] dav1x commented on #24225
Take a look at the documentation from VMware above. It appears that they don't want you to use "." in your VM name. I would imagine for parsing reasons and because you are more likely to hit the VM name character limitation.  The domain customization should add it to the operating system.

[2017-05-05 19:35] wisotzky commented on #24221
Ansible provides a generic way to parse the "src" attribute for either configuration files (xml in this case) or jinja2 templates. Check code proposal in #24323. Please be aware that this requires an additional action script, as listed in the comments of this pull request.

[2017-05-05 19:36] gotgenes commented on #14341
Any dev care to comment?

[2017-05-05 19:50] conlon commented on #7952
I'm getting the same error with only a single param, log_min_duration_statement...something is wrong here

[2017-05-05 19:53] cans opened #24338 "Ansible does not behave like plain Jinja2 with chained `map(attribute='x') | select()`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Jinja filters used in when clause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible 2.3.0 on Debian Jessie, in a virtualenv containing:

ansible (2.3.0.0)
appdirs (1.4.3)
asn1crypto (0.22.0)
backports.shutil-get-terminal-size (1.0.0)
cffi (1.10.0)
cryptography (1.8.1)
decorator (4.0.11)
enum34

[2017-05-05 20:13] jctanner commented on #24330
resolved_by_pr https://github.com/ansible/ansible/issues/24331

[2017-05-05 20:20] conlon opened #24340 "rds_param_group module not able to set params"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rds_param_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT

Mac OS 10.12.3

##### SUMMARY

The module can create an rds_param_group but it can't set params

##### STEPS TO REPRODUCE

this creates a param group:
[code]

this throws a ValueError:
[code]

this throws a different ValueError:
[c

[2017-05-05 20:20] bcoca commented on #24189
there are more package management modules: openbsd_pkg, zypper, pacman, opkg, pking, homebrew, portage, pkgng ....

[2017-05-05 20:20] conlon commented on #7952
@nergdron just FYI, I opened up a new issue #24340

[2017-05-05 20:24] bcoca commented on #24189
package is the 'lowest common denominator', it is a simple abstraction to all package managers, it is not meant to support every feature or behaviour of each.

[2017-05-05 20:32] supertom commented on #24045
@krg12 Any luck with this?  This usually happens if:
* Billing is not [enabled](https://console.cloud.google.com/billing/) on the project
* The [product name](https://console.cloud.google.com/apis/credentials/consent) for the project is not filled in
* The compute API is not [enabled](https://console.cloud.google.com/apis/api/compute-component.googleapis.com/overview)

[2017-05-05 20:35] rahul-dhumal commented on #24326
I believe allow_duplicates has default value set to no so this may not work, anyways, I will try once again by explicitly setting it to 'no' & keep you posted here.

[2017-05-05 20:37] alikins commented on #24330
What kind of package names and/or environment are you seeing this fail with?

Do the test/units/modules/os/packages/test_yum.py unit tests pass? Curious why they dont seem to fail in CI.

[2017-05-05 20:39] alikins commented on #24330
ie, looking for additional test cases to include in the unit tests

[2017-05-05 20:45] sivel opened #24341 "contrib/inventory/freeipa.py missing GPL license header"
contrib/inventory/freeipa.py is missing a GPL license header.

Unfortunately, it looks like the original author no longer exists on github:

https://github.com/ansible/ansible/commit/428674cb90ead171f4cd352225d8ba089bb4afcc#diff-6210db4cabfdcbb5309abb2a4f64b573

Other authors involved:

@mscherer
@erinn
@bcoca
@gedmin
@rgroten
@mattclay

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib

[2017-05-05 20:46] sivel opened #24342 "contrib/inventory/rackhd.py is missing GPL license header"
contrib/inventory/rackhd.py is missing GPL license header

Authors involved:

@keedya
@mattclay
@Shaps

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/rackhd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-05 20:48] sivel opened #24343 "contrib/inventory/vmware_inventory.py is missing GPL license header"
contrib/inventory/vmware_inventory.py is missing GPL license header

Authors involved:

@cgar
@hryamzik
@mattclay
@Shaps
@rafstef
@nerzhul
@jctanner
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
contrib/inventory/vmware_inventory.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACT

[2017-05-05 21:02] mkopta commented on #24330
This is the content of `check_update_output` passed into `parse_check_update()` function:
[code]
(I censored some non-public information, but the length of package names and repositories matches)

When I leave the original `re.sub(..., ' \1', check_update_output)`, it fails to see changes (and the task is only "ok"), but when I change the `repl` to `r' \1'`, next ansible run gives me `changed` on

[2017-05-05 21:06] annapurnam commented on #24267
Holloe Akasurde, Its working thanks for quick response.

[2017-05-05 21:09] #24163 closed, assigned to alikins

[2017-05-05 21:11] mkopta commented on #24330
I managed to write unit test using part of the output, should I submit it too? It doesn't pass without the fix and passed with it.

[2017-05-05 21:14] #24330 closed, assigned to nobody

[2017-05-05 21:17] viviliv commented on #23370
At least a warning would be nice. It is very hard to debug when a variable "dissapears".

[2017-05-05 21:26] jctanner commented on #24338
@cans this is a closer representation of how ansible uses jinja:

[code]

[code]

We construct the environment with undefined=StrictUndefined and that is the reason your example template fails with ansible but not in your example jinja code.

[2017-05-05 21:30] nergdron commented on #24268
I'm fine with having a modify that doesn't require a password, and correctly supports wait and detection of actual changes. that'd work great for me, run create to start them building, and then run modify later with a wait to gather up the results.

[2017-05-06 01:00] rachelkelly commented on #21201
Hi, was this issue fixed or are there plans to fix it?  I'm rather stuck on this right now, and I don't know enough to submit a PR against it.

[2017-05-06 01:08] thanatos opened #24348 "chdir arg for script"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`script` module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `command` and `shell` modules support the `chdir` argument, but `script` does not. This is kind of jarring, and can be worked around for sure, but it would be nice to have it.

[2017-05-06 01:46] yunchih commented on #24327
@jctanner It is indeed the output of `ansible-playbook -vvvv`.  I just extracted the relevant part.  [Here](http://codepad.org/mBZ71UZN) is full one.

[2017-05-06 04:46] haiyusheng commented on #23650
@snowsky 在我的centos7里面，  如果是OS是中文编码的情况下，则su总是提示超时。我自己调试发现 def detect_su_prompt(b_data):  这个方法总是不能返回真。另外2.3版本里面，你上面贴的代码里面prompt = detect_su_prompt时， prompt 是一个函数function，但是/plugins/connections/_init_.py里面的函数247行，check_password_prompt方法，里面只有if和else，缺少了一个函数类型的判断吧。所以2.3版本的使用su命令时根本就切换不到su模式去操作。我对比了一个2.2版本，它是这样的代码：
`def check_password_prompt(self, b_output):
        if self._play_context.prompt is None:

[2017-05-06 05:29] aklemp opened #24351 "Extend the 'state' parameter of the 'alternatives' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
alternatives

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I propose to extend the state parameter introduced in #23444 by two more states. This is also related to #23189. In total we get the following four states:
* absent
  The alternative is not present and removed if it exists.
* present

[2017-05-06 07:14] cans commented on #24338
Thanks for the feedback.

I guess you have good reasons to do so, but makes it harder to describe things in a concise way. It is easier to see something's wrong in

[code]
than in
[code]
Don't you think ?

I guess a sort of pre-processing step to "fill the gaps" in the former could help (see work-around below). But doing so, with Jinja, is not very easy either. Would a configuration directive to d

[2017-05-06 08:43] hezbucho commented on #19074
OK, thanks 👌

[2017-05-06 09:55] Damgaard commented on #14468
The needed section has been added. I'm not sure if I need to do anything to ping the bot and get it to update the tags.

[2017-05-06 10:48] Damgaard opened #24352 "Python3 incompatibility with parsing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

Although, I believe this to be a more generic issue coming from more fundamental problems with Python3 combatibility.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cf changes
[code]

##### OS / ENVIRONMENT

Ubuntu 14.04 on controller
Ubuntu 16.04 on target machine. Only python 3x is installed.

##### SUMMARY

Running the cop

[2017-05-06 12:57] sivel commented on #24352
Ansible requires a minimum of python 3.5. It appears you are utilizing a version of python less than 3.5.

This is currently documented at http://docs.ansible.com/ansible/dev_guide/developing_python3.html

[2017-05-06 13:07] Damgaard commented on #24352
Ok. I hadn't seen that fine detail. I consider this issue closed then.

[2017-05-06 13:07] #24352 closed, assigned to nobody

[2017-05-06 13:26] bondars opened #24355 "ios_command module doesn't work with Python3, raises TypeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module - ios_command
plugin - connection/persistent.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default configuration

##### OS / ENVIRONMENT

OSX 10.12.4, conda 4.3.17, Python 3.5.3
Emulating Cisco routers with GNS3 1.5.3, Cisco IOS 15.2(4)S5

##### SUMMARY
ios_command module doesn't work with Python 3.5. Same playbook works with P

[2017-05-06 15:13] vixns opened #24356 "btrfs filesystem error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filesystem module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running on macosX sierra, managing a GNU/Linux host ( debian/jessie )

##### SUMMARY

cannot resize btrfs partition

##### STEPS TO REPRODUCE

add `resizefs=yes` for a btrfs partition.

[code]

##### EXPECTED RESULTS

filesystem resize

##### ACTUAL

[2017-05-06 19:15] pdulion commented on #14358
It would be helpful if array folding could be included in this.
[code]

[2017-05-07 04:02] jondoig commented on #23777
No the 2-space tab is not a problem.

On 6 May 2017 03:49, "Sloane Hertel" <notifications@github.com> wrote:

needs_info

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ansible/ansible/issues/23777#issuecomment-299530998>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AEc0KRaPZQerV0gFJg1r0fveNa8K

[2017-05-07 07:45] ankity10 commented on #22473
Is there anyone working on this issue? Otherwise I would like to do this.

[2017-05-07 09:34] KroArtem commented on #24321
@gormux, have a look at https://github.com/ansible/ansible/issues/24203

[2017-05-07 09:40] nerzhul commented on #24321
duplicate_of #24203

[2017-05-07 09:48] #24321 closed, assigned to nobody

[2017-05-07 12:10] Akasurde commented on #24265
@brad2014 Could you please try above patch and let me know ?

[2017-05-07 19:45] vvs1987 opened #24363 "issue with changing permissions of directories and files using file module for ansible 2.3"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
 file module

##### ANSIBLE VERSION
2.3.0
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT - RHEL 7

##### SUMMARY

i have been trying to change permission of directories and files in a mount point using file module .
so while changing permissions from any random value to 755 for directories all the fi

[2017-05-07 19:46] vvs1987 commented on #24363
i tried below as well
 tasks:
     - file:
         path: /tmp/apps/abc
         state: directory
         mode: 0755
         recurse: yes
     - file:
         path: /tmp/apps/abc
         state: file
         mode: 0644

but this fails as /tmp/apps/abc is a directory , so all files and directories remain at 755

[2017-05-07 21:27] zofrex opened #24365 "Synchronize module hardcodes disabling connection sharing"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A although I have tried lots of different combinations of ssh_args / ansible_ssh_common_args / rsync_opts / use_ssh_args

##### OS / ENVIRONMENT
N/A, I believe. (running from OS X, managing FreeBSD, in case I'm wrong)

##### SUMMARY
The synchronize module opens new SSH connection

[2017-05-07 22:00] joelnb commented on #13982
@dkasak not sure if it's the official way but I found I could replace `{{ ansible_ssh_user }}` with `{{ ansible_user_id }}` and the playbooks picked up the correct user even when running without any user explicitly set.

[2017-05-08 00:05] lennyby93 commented on #21285
There is a pull request that contains a fix here:
[here](https://github.com/ansible/ansible/pull/23104)

[2017-05-08 00:43] ghost opened #24367 "paramiko.transport Oops, unhandled type 3"
Getting paramiko.transport Oops, unhandled type 3 error when try to run raw command via paramiko connection on mikrotik device is just hungs when trys to excute command!

Name: ansible
Version: 2.3.0.0
Summary: Radically simple IT automation
Home-page: https://ansible.com/
Author: Ansible, Inc.
Author-email: info@ansible.com
License: GPLv3
Location: /usr/local/lib/python2.7/dist-packages
Requires:

[2017-05-08 06:22] dryan1963 commented on #18075
I am running into a similar problem with multiple plays in a playbook.  The meta: clear_host_errors is not honored and any plays that are to be called after the host UNREACHABLE error is thrown by a upstream play,  all remaining plays are ignored or not run.

Using ansible 2.2.1.0

[localhost]
- do some tasks

[remote_hosts]
- meta: clear_hosts_errors
- do some  tasks but they fail because remote_

[2017-05-08 07:11] alangibson opened #24369 "Documentation: Fact assignment behavior when 'connection: local'"
##### ISSUE TYPE
 - Documentation Report
##### COMPONENT NAME
http://docs.ansible.com/ansible/intro_inventory.html#non-ssh-connection-types
##### ANSIBLE VERSION
current docs

Please add the sentence

  "By default, any fact gathered by a _**local**_ task are assigned to the inventory_hostname (the current host) instead of the host which actually produced the facts (the _**local**_ host)."

from

[2017-05-08 07:20] jhawkesworth commented on #23559
Just to say I have created an integration test that reproduces this.  Will test with the PR mentioned above as soon as I can, then get together a PR for the changed integration tests.
Jon

[2017-05-08 07:23] cornfeedhobo commented on #21439
Yeah, this would be nice. If no one tackles this in the coming months, I'll take a swing.

[2017-05-08 07:53] nerzhul commented on #24213
can you test with a vmomi 6.0 ? I will publish a patch with the minimum required version to ensure it works (i have ESX 5.5 at work and vmomi 6.5)

[2017-05-08 08:41] rahul-dhumal commented on #24326
Tried this but as mentioned earlier, it did not work!

[code]

[2017-05-08 08:56] dulin commented on #24367
Hi @layer3

Currently I'm working with Mikrotik playbooks, you can checkout for configurations: https://github.com/mikrotik-ansible/playbook

[2017-05-08 09:08] layer3 commented on #24367
hi @dulin i dont have a problem with ansible-playbook! I wrote in problem description - its hangs when I run ansible-playbook and its tries to execute the command via paramiko connection

- name: Home
  hosts: Home
  serial: 1
  connection: paramiko
  user: ansible
  gather_facts: no
  tasks:
  - name: Check if updates required
    raw: /system package update check-for-updates
    register: update

[2017-05-08 10:18] DartNecrON commented on #14377
version 2.2.0
sshpass/ssh
Same here with Huawei and Dlink devices.

[2017-05-08 10:34] dulin commented on #24367
Hi @layer3
On my configuration working fine.

You can try use login ansible+c instead ansible to disable colors

cat ansbile.cfg
[code]

ansible --version
[code]

![ssss](https://cloud.githubusercontent.com/assets/924352/25799113/b55bde36-33db-11e7-9f33-cfabfd22e6b2.png)

[2017-05-08 10:41] layer3 commented on #24367
thx @dulin for help added ssh lines ar paramiko and now works fine! thx again!

[2017-05-08 10:41] #24367 closed, assigned to nobody

[2017-05-08 11:23] schoeppe commented on #23846
Thank you! Looks good for me with the current git+git://github.com/ansible/ansible.git@devel:
[code]

[2017-05-08 12:23] ilana1291 commented on #24320
/Data/ansible/playbooks/prod_releases/unix_deployment_playbook.yml -vvvv -i /Data/ansible/configs/BPG.inventory -e "group_name=tpc" -e "ansible_root_dir=/Data/" -e "sccb_identifier=78345" -e "date_time=05_08_07" -e "nexus_url=['url']" -e "pre_deploy_script=NoneFound" -e "post_deploy_script=NoneFound" -e "package_name=['package']" -e "target_env=prod" -e "env_pre_deploy_script_url=url" -e "env_post

[2017-05-08 12:24] ilana1291 commented on #24320
I didn't add the urls or package names that I used but that is the command with the parameters. thanks

[2017-05-08 12:47] radome commented on #19860
@joshmullis I tried your solution but I get a failure:
`"msg": "A specified parameter was not correct: spec.nicSettingMap.adapter.ip"`

I'm cloning a template with no NICs, creating a NIC with `networks` parameter. If I try to use the `customize` parameter in any way I get:
`"msg": "fault.NicSettingMismatch.summary"`

[2017-05-08 13:05] param3sh commented on #24328
Hi Jctanner, thanks for the quick reply. I am getting the below error, when i run my playbook.

fatal: [localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "admin_password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER",
            "admin_username": "Paramesh",
            "allocated": true,
            "append_tags": true,

[2017-05-08 13:23] maxwo opened #24373 "include_once is skipped when required roles are partially skipped"
I use an `include_role` task in a role, but it is skipped when I use a conditional depency role.

I tried to find more infos in the documentation, but there is nothing I can find to explain it if I do anything wrong...

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`include_role` or meta/dependencies

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONME

[2017-05-08 13:25] privateip commented on #24240
@phiea still looking into this, thus far i have been unable to reproduce this bug on any system.  what version of ios are you running?

[2017-05-08 13:34] dsummersl commented on #23285
You can make this ‘modified files’ check optional by adding `force: true` to your up to date check.

[2017-05-08 13:39] gebi commented on #19968
it seems we've hit the same problem with ansible 2.3

a test playbook run with ansible-playbook foo.yml -C -D produces:
[code]

[2017-05-08 13:39] #24320 closed, assigned to nobody

[2017-05-08 13:40] nerzhul commented on #19968
@gebi is the database absent ?

[2017-05-08 13:53] s-hertel commented on #24340
Hi @conlon! Thanks for opening this issue. Could you test my patch please and give me some feedback if it doesn't work as expected? #24374

[2017-05-08 13:53] ganeshrn opened #24375 "In junos_config if diff is empty changed is set to True"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run below playbook twice. For second run `changed` should be `False`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

For second run changed is set to`true`

[code]

[2017-05-08 13:53] SandrewCheru opened #24376 "Ansible reads and loads commented out variables in vault"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Commented out variables are read and loaded when used in a vault.
##### STEPS TO REPRODUCE

- Create the folders group_vars/all
- Create the file group_vars/all/vars and group_vars/all/vault
-  group_vars/all/vars contains
[code]
- grou

[2017-05-08 14:04] phiea commented on #24240
Ok that's bizar, ios version is not really relevant (and did not change with regards to ansible 2.2 use), my ansible host is not even starting a connection. Maybe I can go through the motions again this evening.Met vriendelijke groet,Piet BraatOp 8 mei 2017 3:26 p.m. schreef Peter Sprygada <notifications@github.com>:@phiea still looking into this, thus far i have been unable to reproduce this bug

[2017-05-08 14:07] #24267 closed, assigned to nobody

[2017-05-08 14:09] alikins commented on #24330
@mkopta That would be awesome!

[2017-05-08 14:19] alikins commented on #24264
This looks like a duplicate of #23846 and #24175 (fixed via https://github.com/ansible/ansible/pull/24312 in devel and 572c07ddb394b5798dc11c0c0215ba729dcd1850 in stable-2.3). Fix should be in 2.3.1 release.

duplicate_of #24175

[2017-05-08 14:19] #24264 closed, assigned to nobody

[2017-05-08 14:26] privateip commented on #24240
@phiea could you provide a sanitized version of your entire playbook as a public or private gist?

[2017-05-08 14:33] TJuberg commented on #24355
Can confirm this issue is also present on Arch under Python 3.6.1 for seemingly all modules utilizing persistent connections.
@akvarium

[2017-05-08 14:38] gebi commented on #19968
@nerzhul no, database exists

[code]

But it seems the problem commes from the priv syntax used:

[code]

If i uncomment it, it runs through, but which permissions are applied then?

[2017-05-08 14:42] abutcher commented on #23731
Fixed in https://github.com/ansible/ansible/pull/24277

[2017-05-08 14:43] alikins commented on #24109
@stacker2017 any ideas if there is anything in the invocation that would make multiple attempts? Wondering what triggers the 4 runs in https://github.com/ansible/ansible/issues/24109#issuecomment-298378663

The config you posted doesnt setup ssh retries, so it shouldn't be that.

Could the ssh connection be timing out (noticed the ssh ConnectTimeout=10 and the 'Invoked with data=None' log entries

[2017-05-08 14:47] Akvarium commented on #24355
Can also confirm that the same applies for Ubuntu 16.04 with Python 3.5.2.

[2017-05-08 14:50] robphoenix commented on #19281
closing https://github.com/ansible/community/issues/110#issuecomment-275111032
feel free to reopen if it becomes relevant again

[2017-05-08 14:50] #19281 closed, assigned to rcarrillocruz

[2017-05-08 15:00] alikins commented on #20043
And additional fixes in https://github.com/ansible/ansible/issues/24330  (merged into devel and backported to stable-2.3)

[2017-05-08 15:00] #20043 closed, assigned to nobody

[2017-05-08 15:03] alikins commented on #22902
This sounds like a dupe of either https://github.com/ansible/ansible/issues/20608 (fixed in 2.3.0) and backported to stable-2.2 in e28cea7e0520f8d1b81e57a9951d55a4feb3e34b

Or possibly a dupe of https://github.com/ansible/ansible/issues/24330  (fixed in devel and backported to stable-2.3)

[2017-05-08 15:03] #22902 closed, assigned to nobody

[2017-05-08 15:10] #24375 closed, assigned to ganeshrn

[2017-05-08 15:12] alikins commented on #24363
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-05-08 15:12] #24363 closed, assigned to nobody

[2017-05-08 15:36] mmanfred commented on #23871
If its helpful - this works in 2.2.1.0 but breaks in 2.2.2.0 and higher

[2017-05-08 15:49] jctanner commented on #24338
@cans Does this expression work for you and does it give the expected output with ansible?

[code]

needs_info

[2017-05-08 15:56] joshmullis commented on #19860
@randome I am also using a template without a nic.  Below is the code I'm using.  Also, this code allows me to use DHCP (since I'm specifying a blank IP and Netmask)

My environment:
 - ansible 2.3.0.0
 - vcenter 5.5

main.yml
[code]

vars.yml
[code]

[2017-05-08 16:00] joshmullis commented on #19860
@randome Be sure to pass the "vm_lifecycle" variable when running, or remove from the main.yml

[code]

[2017-05-08 16:22] radome commented on #19860
@joshmullis Thank you for your reply! I've tried your playbook, unfortunately, if I leave the `ip` blank then the playbook fails with message: `"A specified parameter was not correct: spec.nicSettingMap.adapter.ip"`.

I wonder if the reason is that my vcenter is v6.0 :thinking:

[2017-05-08 16:23] cans commented on #24338
@jctanner: I had not thought of that. Sadly it does not work as what the filter produces is a list of booleans that say whether the 'default' attribute was defined or not. But you loose the actual value of `default`. What I am trying to do is ensure there is only one `default: true`. So I simply count the values equal to `true` (assuming that when undefined `default` defaults to false) making sure

[2017-05-08 16:35] jhawkesworth commented on #23559
Test still failing with PR #23581 applied. Investigating.

[2017-05-08 16:41] alikins commented on #24376
If I understand correctly, for host 'destruction', it will get vars from:

group_vars/all/vars
group_vars/all/vault
host_vars/destruction/vars
host_vars/destruction/vault

The vars after each:

group_vars/all/vars
[code]

group_vars/all/vault:
[code]

(nothing changes here, since its all commented out)
host_vars/destruction/vars:
[code]

host_vars/destruction/vault:
[code]

host_vars override grou

[2017-05-08 16:41] cans commented on #24338
@jctanner: What you pointed to me, gave me the following idea:

[code]

Note that it only works because the value I am interested in is a boolean and that I assume `Undefined` is equivalent to `false`. Thus, it may not be a valid solution in many other situations.

[2017-05-08 16:42] alikins commented on #24376
Also, the vault files in group_vars/all/ and host_vars/destruction will be loaded always.

[2017-05-08 16:59] hho commented on #22572
So this has been fixed _19_ days ago and no new release has been made to push it out?

`ansible-galaxy` is unusable in 2.3.0.0 because of this :cry:

[2017-05-08 16:59] jonathannaguin commented on #23490
@tedder is this something that would be considered for 2.3.x?

[2017-05-08 17:04] jctanner commented on #24338
@cans I dug in to the error_on_undefined_vars option in ansible.cfg because at first glance it seems like that should have controlled StrictUndefined. However, it's behavior is simply return the original jinja expression and it's been that way since ansible 1.3

I chatted with the rest of the team briefly this morning and right now there is no desire to write or accept a feature that would toggle

[2017-05-08 17:04] #24338 closed, assigned to nobody

[2017-05-08 17:12] SandrewCheru commented on #24376
I see what you are saying and it makes sense. Thx. We can close

[2017-05-08 17:12] #24376 closed, assigned to nobody

[2017-05-08 17:12] alikins commented on #24373
Could you provide the top level playbook that references the 'shell' role?  Also, a cut&paste of the 'ansible-playbook -vvv' output.

[2017-05-08 17:20] s-hertel commented on #23777
When I run your reproducer through a YAML validator (yamllint) it doesn't think it is valid (I get the error: `(<unknown>): did not find expected key while parsing a block mapping at line 3 column 8`). But when I indent your reproducer by 2 spaces (as I posted above) it is verified as correct YAML (and runs as expected with Ansible).

[2017-05-08 17:29] sivel commented on #23777
I have confirmed what @s-hertel is saying.

With a more simple reproducer:

[code]

That fails, because `bar` and `baz` are only indented 2 spaces farther than `foo`.  If you increase to 4 spaces, it works:

[code]

Child indentation is relative to the indentation of the parent node.

[2017-05-08 17:35] alikins commented on #24373
I added a guess at a full reproducer at https://github.com/alikins/ansible-bug-repro/tree/master/role_when_include_role_24373

[code]

[2017-05-08 17:36] sivel commented on #23777
Per the spec, this is expected http://yaml.org/spec/1.2/spec.html#id2793979

Under "Example 8.3. Invalid Block Scalar Indentation Indicators"

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-08 17:36] #23777 closed, assigned to nobody

[2017-05-08 17:54] ede-n commented on #12686
I came across the same issue. The work around helped. Thank you.

[2017-05-08 18:09] Dinohead commented on #21013
I know it's been awhile, but we've upgraded our vSphere environment and this issue is now resolved. Looks like it must have been environment-related.

[2017-05-08 18:09] #21013 closed, assigned to jctanner

[2017-05-08 18:19] nitzmahone commented on #23822
It should still work automatically the old way, but only if you didn't specify a password. If a password is specified (by any of the usual means like `ansible_password` inventory var, -u, etc.), then it will default to trying to the new "managed" Kerberos mode.

This is fixed by #24380, and will likely be backported to 2.3.1.

[2017-05-08 18:24] maxwo commented on #24373
Hey, thanks for your answer.

Indeed I should have provided you more details about execution, this is the same problem you reproduced (_i.e._ Conditional result was false).

Your reproducer is about the same case, but for the record, here is my playbook, simplified enough to reproduce without polluting the output:

[code]

And here is the output. The problem occurs for both vpn hosts and dev hosts

[2017-05-08 18:27] #23822 closed, assigned to nitzmahone

[2017-05-08 18:27] trondhindenes commented on #19996
We could definetely add an example using a "non-guid" product ID. It's more a fault of the app developer than Windows, since there's a reason for using guids - they're relatively unique. But yeah, I've seen the same - theres a good bunch of non-guid installers out there.

[2017-05-08 18:35] nitzmahone commented on #23822
Cherry-picked to stable-2.3 for 2.3.1RC1

[2017-05-08 18:37] trondhindenes commented on #23986
Thanks for chiming in @nitzmahone .
@cwegener what I had to do was to hack powershell.ps1 as described above to get to the complex_args contents, and then convert that json into a dict that I can then pass to the module script itself (see the function ConvertPSObjectToHashtable here: http://stackoverflow.com/questions/22002748/hashtables-from-convertfrom-json-have-different-type-from-powershells-b

[2017-05-08 18:38] alv000h commented on #11551
+1

[2017-05-08 18:45] conlon commented on #24340
@s-hertel your patch definitely allows me to edit parameters! Thank you.

My only feedback is that each time I run the module, it modifies whatever params are listed, but isn't concerned with any previously set params. In my mind, ideally it would reset all params to default except the ones I list, but I'm not sure that's necessarily best or expected.
I can certainly work with it in its current st

[2017-05-08 18:51] conlon commented on #24340
Oh, one more thing...it looks like it always has a result of changed? Running it multiple times without changing the params keeps showing as changed for me.

[2017-05-08 18:53] s-hertel commented on #24340
+1 thanks for the feedback, will add those fixes!

[2017-05-08 19:14] alikins commented on #24228
I suspect setting a lower fd max for the facts/setup.py module process is the most workable. (Or possible using Popen()'s close_fds=False arg, but that seems to have its own issues).

As far as I can tell, this is still an open issue in python2 and likely to stay that way. There seems to have been some changes in py3 to address this. I would be curious if pthon3.6 improves performance for this cas

[2017-05-08 19:26] matheusvetor opened #24382 "Got Error when provisioning ec2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Boto
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OS X Sierra 10.12.4

##### SUMMARY
When try run ec2 provision

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-08 20:08] burns498 commented on #21088
Similar issue for ansible 2.1.1.0. With 2.1 I can't fallback on include_vars "name" option either.

I've been wrestling with this for awhile so I'm glad I found this open issue. Has a fix or workaround been identified?

Thank you.

[2017-05-08 20:23] mkopta commented on #24330
Good, submitted as #24346 .

[2017-05-08 20:24] #12686 closed, assigned to nobody

[2017-05-08 21:12] phiea commented on #24240
i did some test myself again, and it seems i need to retract my statement about 2.4 also not working. as it seems the test i was doing there needed a different known_host entry (i changed my test ip to a fully written out ipv6 address, i was using fd00::192.168.68.250 before) it seems both addresses work in 2.4. After this i reinstalled 2.3 and it stopped working again, installed 2.4 and it worked

[2017-05-08 21:18] phiea commented on #24240
playbook is nothing fancy by the way:
---
- name: run show commands on switch and save to file
  connection: local
  hosts: all

  tasks:
    - name: set login facts
      set_fact:
        provider:
          host: "{{ ipv6_prefix }}{{ inventory_hostname }}"
          username: "{{ username }}"
          password: "{{ password }}"

    - name: run ios commands
      register: switchinfo
      ios

[2017-05-08 21:30] jbilbro commented on #21285
@lennyby93 have you tried it with success?

[2017-05-08 21:44] gumho opened #24383 "2.3 regression: ansible-vault does not correctly use '-' argument for stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Have reproduced this on latest OS X and CentOS 6.8 Docker image

##### SUMMARY
ansible-vault is no longer using the `-` argument for --output. Based on the output, it seems like it thinks the `-` is the literal name of the output file.

##### STEPS TO R

[2017-05-08 21:46] sivel commented on #24383
Closing this as a duplicate of the already resolved https://github.com/ansible/ansible/pull/23583 that will be included in an upcoming 2.3.1 release.

[2017-05-08 21:46] #24383 closed, assigned to nobody

[2017-05-08 21:51] cans commented on #24338
@jctanner: Fair enough. I found several workarounds and the latest we came up with is fairly succinct and "elegant" enough for me (thank you again for pointing me in a better direction). Some of the of the limits of the workarounds are also fairly well pointed out in the above discussion.

Hence, since the issue had not been reported so far (AFAIK) and unless it gets some traction from other users

[2017-05-08 22:09] lennyby93 commented on #21285
yes, I got 'item' to resolve correctly. It looks like the generic vars (like inventory_hostname) still do not resolve. This works now for me:
[code]

[2017-05-08 22:44] stmarier opened #24387 "vyos_config module ignores host option in provider"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Unnecessary

##### OS / ENVIRONMENT
OSX, unnecessary

##### SUMMARY
`vyos_config` (actually, many network config modules) silently ignores the host option in the provider block and defaults to the inventory hostname

##### STEPS TO REPRODUCE
Literally just use vyos_config a

[2017-05-08 22:58] stmarier commented on #24387
Howdy, I see that this has been fixed as of #23589

I wanted to confirm/check two things with you:
- Am I actually on the latest version of ansible?

- Do you think it would be wise to update the documentation to reflect that this feature is broken sometime before 2.3.1?

[2017-05-09 01:07] ElijahLynn opened #24388 "'shared' inventory folder alongside 'group_vars'/'host_vars'"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
'shared' subdir support

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add support for a 'shared' inventory folder that lives alongside 'group_vars' and 'host_vars'. This helps the use case of dev, stage, prod infrastructure all sharing a common set of group_vars. The shared folder would be a

[2017-05-09 01:20] dagwieers commented on #24388
Hmm, that seems very specific and over-complicated.
You can do wonderful things using dynamic inventories (inventory scripts) that does exactly what you need.

[2017-05-09 01:24] dagwieers commented on #24369
Use "target host" or "target node" rather than "current host".
And "control master" or "control machine" for the "local host".
Otherwise you're adding to the confusion too IMO.

[2017-05-09 01:25] djessup opened #24389 "ec2_facts does not support cn-north-1 region"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ec2_facts does not set `ansible_ec2_placement_region` correctly for instances in cn-north-1 (China). Instead the value is set to the AZ (e.g. cn-north-1a).

This is effectively the same issue as #19259, but for the China region.

##### STE

[2017-05-09 01:50] jamesongithub commented on #22473
i dont think so @ankity10

[2017-05-09 03:07] PenguinzTech opened #24390 "Expect module responses leak"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

expect
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

user@localhost:~/restyaboard-ansible$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

##### STEPS TO REPRODUCE

https://github.com/ShadeySecurity/restyaboard-ansi

[2017-05-09 04:40] maxsolar opened #24392 "pam_limits "TypeError: a bytes-like object is required, not str" in python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pam_limits

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`host_key_checking = False`  (ansible.cfg)
`ansible_python_interpreter=/usr/bin/python3` (inventory)
##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

`ansible-playbook -i hosts -k --ask-vault-pass --ask-sudo-pass setup-common.yml`
** by default, ansible use

[2017-05-09 07:08] ganeshrn commented on #24212
I am not able to reproduce this issue on `stable-2.3` and `devel`, I think the issue was fixed with commits.
https://github.com/ansible/ansible/commit/d4bd54d3b8f4a8be04653c5a260ca63886f84650
https://github.com/ansible/ansible/commit/86c714548fd5be8adc7243410f5219ddcef28817

With this fix, the provider value is displayed in output as
[code]
Can you please confirm if above patches are present in yo

[2017-05-09 07:26] berney commented on #5564
I found something that gives me what I wanted (https://github.com/ansible/ansible/issues/5564#issuecomment-289778604) thanks to bmaupin's answer on StackOverflow at http://stackoverflow.com/questions/31685125/is-it-possble-to-map-multiple-attributes-using-jinja-ansible.

[code]

Output is something like: -

[code]

I tried to make the yaml nicer by using `msg: >` and `msg: |` but neither worked. Y

[2017-05-09 07:28] helli0n opened #24394 "docker_container stopped doesn't work"
Docker module can't remove containers using swarm management container

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Sep 15 2016, 22:37:39) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

##### CONFIGURATION
Def

[2017-05-09 07:51] sculley commented on #24273
I am seeing the same issue with Ansible installed via brew on my mac.

[code]

Running any playbook produces the following

[code]

[2017-05-09 08:04] gormux commented on #24203
The problem is not on the documentation, from what I've tested, the datacenter option has no use at all : on my tests, if it is set to anything, not defined (by making the option not mandatory), the result is exactly the same.
So it seems it could simply be removed ?

[2017-05-09 08:12] dagwieers commented on #23677
After investigating, with v2.3 we started typing parameters and the `value:` or `name:` parameter now is forced to be a string. Which means that the issue was fixed in v2.3, I would suggest updating to this release (or making it a string by quoting the value).

https://github.com/ansible/ansible/commit/cfb7b12f8215e84fd560e383809ecdb2a8b91840#diff-933acd5e6af252d732b8e024f35ef226R30

resolved_by_p

[2017-05-09 08:48] mattmonkey83 opened #24396 "ec2.py Script .ini Filename Incorrectly Generated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2.py Dynamic Inventory Script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Defaults
##### OS / ENVIRONMENT

N/A
##### SUMMARY

This PR has broken the expected behaviour for the `ec2.py` Dynamic Inventory script - https://github.com/ansible/ansible/pull/21567/files

The docs recommend the following -

Since this PR was merged the scri

[2017-05-09 09:14] nerzhul commented on #24203
yeah i close it because it was not the good answer

[2017-05-09 09:27] asimayub commented on #6723
hit this problem now ansible 2.2.0.0

[2017-05-09 09:36] rlees85 commented on #22397
I honestly don't see how you can write a meaningful playbook without triggering this new warning message. The whole point of Ansible is that things can be modularised into roles. If you want to stop this warning from being triggered you have no chance unless you are writing flat playbooks with ugly when expressions.

Examples that are seemingly not able to be worked around:

**defaults**
[code]

*

[2017-05-09 09:37] davedastrange opened #24398 "vmware_guest_facts uuid present but modul want name"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

uuid present but name is required
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

getting guest facts from the uuid

##### ACTUAL RESULTS

[code]

[2017-05-09 09:53] Nebel54 commented on #12686
Just in case this does not get fixed:

I have another workaround which can be included directly in the task, just execute su manually instead of using become:
[code]

[2017-05-09 10:37] DMarby commented on #19860
@radome I can confirm that it doesn't work with vcenter 6.5 either, I'm getting the same error. I opened a PR at https://github.com/ansible/ansible/pull/24283 that resolves this error (falls back to a DHCP nic)

[2017-05-09 10:57] SvenBrunk commented on #5743
I disagree with that an automation system does not have to be idempotent. It must not repeat every step, but the process itself must be repeatable at all time... else you are f%($ed if the connection is lost during the process for example.

[2017-05-09 11:31] davedastrange commented on #24398
+label affects_2.3

[2017-05-09 11:48] devopsberlin opened #24401 "git status shows modified files after pulling with ansible git module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
git status shows modified files after pulling to get only the new updates or checkout branch with ansible git module.

    - name: retrieve new revisions from the origin repository for staging
      git:
        repo: git@github.com:repo

[2017-05-09 11:49] dentarg commented on #21472
@bcoca @abadger will all versions (2.0, 2.1, 2.2, 2.3) get the fix, or only 2.3?

[2017-05-09 12:03] gundalow commented on #22572
@hho Ansible 2.3.1 RC1 (which will include this fix) should be out this week, and the final shortly after.

[2017-05-09 12:08] jonmer85 commented on #23706
I submitted a PR for AWS Batch support - https://github.com/ansible/ansible/pull/24402

[2017-05-09 12:08] #24325 closed, assigned to nobody

[2017-05-09 12:19] robinro commented on #24401
@devopsberlin Can you give a minimal working example playbook to reproduce this issue? I.e. a repo and a version jump that leads to this.

Do you have local modifications in the repo before the pull?

[2017-05-09 12:20] gundalow commented on #18974
@jean-christophe-manciot Could you please post the full error from `devel` using the process here https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell

`unable to open shell` is a "catch all" for a number of possible issues.

needs_info

[2017-05-09 12:27] cristiroma commented on #20196
In my case I had the same error as OP, but when I tried to manually load the file on remote, I got the error: ``MySQL has gone away`` - the problem  was ``max_allowed_packet`` too small.

HTH.

[2017-05-09 12:38] devopsberlin commented on #24401
@robinro thanks for your quick response, I have only one local modification on the remote repo, I copy index_tmp.php to index.php on the root of the repo, but git status is not complain about this file.

If I want to pull only I am using this command:

`ansible-playbook -i environments/staging/staging playbooks/deploy.yml --extra-vars "target=web pull_only=true" --flush-cache`
[code]

When I want

[2017-05-09 12:38] s-hertel commented on #24273
@sculley what module are you running? Can you share your playbook? If I can reproduce it, I can try to fix it.

[2017-05-09 12:52] #23033 closed, assigned to nobody

[2017-05-09 13:16] devopsberlin commented on #24401
@robinro one more thing that I forgot to mention, each time before the pull/checkout I am specifying permissions to the remote repo folder, maybe is it related to the issue?

[code]

[2017-05-09 13:36] tstringer commented on #21825
@crawfpi FYI pull request #24406 created to fix this issue.

[2017-05-09 13:41] MasterofJOKers commented on #23909
@rcarrillocruz There's already a PR open for something like this, that seems to need some refinement: #20314 Maybe you can sync up with @mnaser.

[2017-05-09 13:48] jean-christophe-manciot commented on #18974
@gundalow
The log shows ```closing shell due to sigalarm``` & ```AttributeError: 'NoneType' object has no attribute 'recv'```:
[code]

[2017-05-09 13:51] sivel commented on #24390
The problem here is in how you have defined your response.

You have set `admin_email: []`

When using a list as a response, that instructs this module to send sequential responses from the list on each match.

So If I had used:

[code]

The first time `foo` was seen, it would send `bar`, the second time `baz`, and so on.  If it eventually was requested a 4th time, it would error with `No remainin

[2017-05-09 13:51] #24390 closed, assigned to nobody

[2017-05-09 13:57] #23597 closed, assigned to nobody

[2017-05-09 14:07] jean-christophe-manciot commented on #24212
With the versions I have, they should be included.
Have you tested with the same modules on the same targets?

[2017-05-09 14:07] mschuett opened #24407 "Regression: zabbix_host result is always 'changed' without zabbix proxy passed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_host module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When no zabbix proxy is set in zabbix_host task, result is always 'changed' on repeating runs, even though host's configuration is the same.

There seems to be a regression bug in zabbix_host regarding the proxy parameter. -- The original bug (in ansible

[2017-05-09 14:13] gregorydulin commented on #22374
I'm have the same issue in 2.3
[code]

[2017-05-09 14:16] sivel commented on #20359
Closing as a duplicate of https://github.com/ansible/ansible/issues/22885 which has a much broader explanation of choosing which file to export your remote env vars in.

[2017-05-09 14:16] #20359 closed, assigned to nobody

[2017-05-09 14:17] jainnikhil30 opened #24408 "file modules backups created while using become to root are owned by root"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY

Found the similar issue here but its closed https://github.com/ansible/ansible/issues/11886
I have a task that runs a template with become=true and backup=Yes. The owner and group is set to an account niks with a lower privilege

[2017-05-09 14:17] lucabelluccini opened #24409 "The ansible_user behavior inconsistent between ansible and ansible-playbook"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COMPONENT NAME

Any

##### CONFIGURATION
[code]

The inventory is dynamic and all the hosts are specifying 3 variables, but none of them is ```ansible_user```.
No ansible_user is defined in dedicated files for host or group vars.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I expect ```ansible_user``` to be set properly

##### ST

[2017-05-09 14:22] ganeshrn commented on #24212
@jean-christophe-manciot I tested `ios_command` module across `IOSv 15.6(2)T`

[2017-05-09 14:38] sivel commented on #24409
The problems seems to be that you are not setting `ansible_user` or `ansible_ssh_user`, but are trying to set `remote_user` to a value of `"{{ ansible_ssh_user }}"`

As such, because `ansible_ssh_user` is not defined anywhere, you cannot set `remote_user` to that value.

What behavior are you trying to achieve in your playbook?

I imaging simply removing the `remote_user: "{{ ansible_ssh_user }}"`

[2017-05-09 14:39] ganeshrn commented on #18974
@jean-christophe-manciot  Based on error message `"msg": "unable to open shell",` i suspect you are running with old code base.
The error message should include an `url`  as below.

`"msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell"`

It was added in this commit https://github.com/ansible/ansible/commit/529df8640ba80

[2017-05-09 14:46] lucabelluccini commented on #24409
Hello,
thanks for the reply.
What I would like to archive is to always pass -u SOMEUSER in ansible playbooks.
This SOMEUSER must be used both as remote_user and inside a variable (to be passed as authentication for http).

I just tried what you suggest, it seems to work for the connection but I am not able to get the value of "remote_user" and assign it to a variable.

[2017-05-09 14:48] bcoca commented on #24388
wouldn't it be much simper to just
[code]
now you can use `-i inventory/` to target all hosts or -i `inventory/staging.ini` for specific ones

[2017-05-09 14:56] ElijahLynn commented on #24388
That seems reasonable. I'll make a shared.py script we can pop in and share it here for the .01% of others who may have this use case.

[2017-05-09 14:57] bcoca commented on #24409
` remote_user: '{{ansible_user}}'` <= this is a useless assignment, if `ansible_user` is set it will override `remote_user`. If you do not specify `remote_user` at all `-u` will set it the same as with `ansible`.

[2017-05-09 15:01] theshades commented on #24390
@sivel I am not so sure you actually looked at the code... the [] are actually escaped... I am trying to get this to do that as an exact match. It still doesn't explain why the prior answer keeps showing up as apart of the prompt for the last question.  However, I dont care, I got around this bug using the command module just like I did with a few others with bugs.

[2017-05-09 15:03] jchristi commented on #24388
@dagwieers Wanting to use a shared static inventory (ie multiple inventory dirs) isn't _that_ specific a use-case. As @ElijahLynn linked, there are people on SO asking about it. While the issue was phrased in specific terms, I think what is being asked is the ability to use more than one static inventory implicitly. This can be accomplished via dynamic inventory scripts but seems trivial to implem

[2017-05-09 15:06] sivel commented on #24390
I did indeed look.  What you provided, cut down to the essentials:

[code]

If you notice, you supplied `admin_email` in vars with a value of `[]`

Then in your expect call, you supplied:

[code]

Which expands to:

[code]

The `admin_email` (as I said in my initial response) is an empty list, which causes your problems.

[2017-05-09 15:06] jean-christophe-manciot commented on #18974
@ganeshrn
The previous lines were logged with ansible ```2.3.0.0-1``` built from sources.
I get the exact same log with latest ansible ```2.4.0``` from "pip install git+git://github.com/ansible/ansible.git@devel".

How can we check which commit hash corresponds to the pip version?

[2017-05-09 15:14] lucabelluccini commented on #24409
Hello, thank you for feedbacks...
I was trying to do this assignement to have it as variable somewhere.

So what happens:

- If we specify ```-u``` it will set ONLY ```remote_user```.
- If we specify explictly ```ansible_user``` (via inventory or extra param), it will set both ```ansible_user``` and ```remote_user```

So we end up having no way to gather remote_user content.

[2017-05-09 15:17] dagwieers commented on #24388
@jchristi: As @bcoca correctly added, the `-i` flag is used exactly for specifying which static inventory you'd like to use. The group_vars/ and host_vars/ directories are shared implicitly.