[2017-06-22 12:22] #25136 closed, assigned to jimi-c, bcoca

[2017-06-22 12:25] s-hertel commented on #25938
Hi @JohnVonNeumann thanks for opening this issue! I'm struggling to reproduce this on devel. How did you install ansible? Do you have multiple versions installed? This function https://github.com/ansible/ansible/blame/devel/lib/ansible/modules/cloud/amazon/ec2_group.py#L312 is correctly turning my rule from the playbook below into the format of [{'to_port': 443, 'from_port': 443, 'cidr_ip': '0.0.0

[2017-06-22 12:38] madhureddy88 commented on #688
I am facing this issue
ansible says the branch is checked out but it is not in the server
{"after": "ca4632998525427ee05559f3c6feec6e87b98a8d", "before": "ca4632998525427ee05559f3c6feec6e87b98a8d", "changed": false,...

[2017-06-22 12:39] jctanner commented on #25983
@dv01d the example is not suggesting to pass the "inventories" directory as the inventory. The intent is to pass in one of the subfolders or the hosts files as the inventory. For example:

[code]

We could probably add those command to the examples to reduce future confusion. If you can, please send a docs pull request.

[2017-06-22 12:39] #25983 closed, assigned to nobody

[2017-06-22 12:48] #25934 closed, assigned to nobody

[2017-06-22 12:53] newswangerd opened #26007 "ansible-test integration breaks when there are files other than directories in test/integration/targets/"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS Sierra

##### SUMMARY

Placing any files in `test/integration/targets/`, aside from directories, (such as automatically generated .DS_store files on Mac systems) causes ansible-test integration to break

##### STEPS TO REPRODUCE

Place any file in

[2017-06-22 12:57] XooR opened #26008 "delegate_fact and setup don't work with loops"
This is problem with Ansible 2.2.0 (latest 2.3.0 works as expected) that setup module when used with loops and `delegate_fact: yes` don't work as expected and collected facts are lost.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- core (I don't know really which part)

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

I'm running this from MacOS and connect to CentOS7 machines.

###

[2017-06-22 13:03] bcoca commented on #25898
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Style is not a bug.
In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like

[2017-06-22 13:03] #25898 closed, assigned to nobody

[2017-06-22 13:07] bcoca commented on #9065
@hyojinbae I think you are missing the points of hostvars and directives:
[code]
should work as long as you dont set ansible_user. The groups are a property of the host, not an entity to themselves.

[2017-06-22 13:07] mjrider opened #26009 "omit does not work with delegate_to"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Distributor ID:	LinuxMint
Description:	Linux Mint 18.1 Serena
Release:	18.1
Codename:	serena

##### SUMMARY
delegate_to: omit connects to the right host, but forgets to use ansible_user from the inventory
from the output:
<10.204.90.72> ESTABLISH

[2017-06-22 13:08] jctanner commented on #25991
@sxm5211258 please run this command and paste the output ...

[code]

needs_info

[2017-06-22 13:13] jctanner commented on #25992
cc @willthames @s-hertel @ryansb

[2017-06-22 13:19] bcoca commented on #25991
Can you tests setting `scp_if_ssh = True` in ansible.cfg?

[2017-06-22 13:27] bcoca commented on #25908
but loops are not parallel, they are serial

[2017-06-22 13:31] bcoca commented on #15742
Actually, package does not do squashing by default anymore, as there is no requirement that the package modules called implement lists.

So this is fixed 2 ways: a) package does not assume modules allow squashing anymore b) openbsd_pkg now allows squashing.

[2017-06-22 13:31] #15742 closed, assigned to nobody

[2017-06-22 13:59] antoineco opened #26014 "azure_rm_deployment ignores 'wait_for_deployment_completion' option"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
*nope*

##### OS / ENVIRONMENT

macOS Sierra

##### SUMMARY

The `azure_rm_resourcegroup` module ignores the `wait_for_deployment_completion: False` option and blocks until the deployment completes.

##### STEPS TO REPRODUCE

1. Download the [example ARM templates](https://githu

[2017-06-22 14:00] cwarner-mdsol commented on #19427
It looks like the problem starts at the [`enforce_count`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2.py#L925) method where [`find_running_instances_by_count_tag`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2.py#L936) returns the entire list of instances it can get which in most cases will be all of the instances availabl

[2017-06-22 14:18] hyperized commented on #25908
I think my expectations were off in this case.
You're right, loops are serial. Thanks for commenting on this.

[2017-06-22 14:18] #25908 closed, assigned to nobody

[2017-06-22 14:35] bcoca commented on #25908
if we ever implement forking loops ...

[2017-06-22 14:53] eest commented on #25910
@landryb: Please give the patch a spin, it should fix your problem.

[2017-06-22 15:08] landryb commented on #25910
Works for me, thanks !

[code]

[2017-06-22 15:46] theballdredge opened #26020 "vmware_guest state:absent fails on powered on machines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
host_key_checking=False
[ansible]
deprecation_warnings=False

##### OS / ENVIRONMENT
Running on OSX targeting vsphere 6.0, expect that this is platform agnostic.

##### SUMMARY
when setting state: absent on a named vm instance, the task fails if the target is powered on.

[2017-06-22 16:06] lmazuel commented on #26014
Yes, looking at the code it's pretty obvious :/
The [get_poller_result call](https://github.com/ansible/ansible/blob/5b03e5544045749fca87daa05380592901c0eca1/lib/ansible/modules/cloud/azure/azure_rm_deployment.py#L511) should be inside the "if" statement.
@tstringer Do you think you might have time for that? I'm not sure myself when I would be able to fix it :(

[2017-06-22 16:15] nathanwebsterdotme commented on #19825
Hi

This does seem like an issue with Vagrant and forwarding ports, as above.

The workaround I'm using is to check if we're running on Vagrant, and if so, send the restart command via win_shell:

[code]

Not perfect but it does the job for now.

[2017-06-22 16:27] garbled1 commented on #10834
Confirmed that this bug exists still in 2.3.1.0, and also affects the template module.
fatal: : FAILED! => {"changed": false, "failed": true, "msg": "src and dest are required for creating links"}

400097 -rw-r--r-- 2 root root 86 Nov 1  2016 filename

[2017-06-22 16:29] mytskine commented on #20199
Unless I'm mistaken, the fix is only applied to the v2.3 and dev branches, not to the v2.2 were it was reported. Could you please backport this fix from v2.3 to v2.2?

The htpasswd module is broken in Debian stable because of this bug, and a fix will be harder to obtain if the package manager has to fork and cherry-pick the fix.

[2017-06-22 16:32] charlesj commented on #20492
Still seeing this issue on Ansible 2.3.0:

[code]

Playbook error with module `docker_container`:

OS: Ubuntu 14.04.5 with 3.13.0-121-generic x86_64 (vagrant box)
Python version: 2.7.6

[2017-06-22 16:41] andrewhowdencom opened #26021 "AWS EC2 module ignores the idempotency ID when using status"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
1. Create a playbook that consumes the following task:

[code]
2. Notice that it doesn't change anything. Weird, because that instance is stopped
3. Notice that during debugging all VMS are output by ec2_provisioner, rather t

[2017-06-22 16:57] bertramn opened #26023 "iam_role should have a parameter to suppress creation of instance profiles"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
iam_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing spectacular

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
When creating custom roles in AWS using the iam_role module, it is not always desirable to create an instance profile and role association. It would be good if the iam_role gains an additional option to suppress t

[2017-06-22 17:15] newswangerd commented on #25715
I haven't been able to replicate this locally. I added a few newlines to one of the existing modules and ran the checks using `sanity --test validate-modules --base-branch newline-sanity-fail`.

I also tried pulling the pr and running the sanity checks against [the original file](https://raw.githubusercontent.com/arista-eosplus/ansible/5e4498f2a84a1b0bc3eced8709e6161c8fd0686a/lib/ansible/modules/n

[2017-06-22 17:27] rahushen opened #26024 "(P2)nxos_bgp - event_history properties and suppress_fib_pending are not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- nxos_bgp

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY
The properties event_history_cli, event_history_detail, event_history_events, event_history_periodic, suppress_fib_pending are not idempotent. The same playbook applied twice shows the

[2017-06-22 17:54] mattock commented on #7852
It is rather disappointing that it is not possible to set ignore_errors on the command-line. This renders the ```--check``` feature way less useful than the equivalent feature, ```--noop``` in Puppet, for example.

As ```--check``` will not make any changes to the system, it is only natural that a task that depends on a previous task will fail. For example, you cannot add a SSH key for a user unle

[2017-06-22 18:52] willwagner602 commented on #23247
@bjolivot I'm interested in making contributions to those modules, although my manager is most interested in using the FortiOS REST API rather than CLI via pyFG. Would love to chat with you and see what we can do to reduce duplication of effort.

[2017-06-22 19:09] bcoca commented on #20199
patched stable-2.2

[2017-06-22 19:41] mattclay commented on #25954
@abadger We don't have any modules with `__future__` imports currently. Is there a reason we avoid using them in modules, or have we just not had a need for them before?

[2017-06-22 20:03] #26007 closed, assigned to nobody

[2017-06-22 21:00] kvaps commented on #6912
Hi, I fond the solution:

[code]

[2017-06-22 21:23] alikins commented on #25849
@komuW

The sftp subsystem config from the hardened config:

Is that correct for your system? ie, does /usr/lib/ssh/sftp-server exists?

I can reproduce this error if I use that config on a centos7 vm, but on centos7, '/usr/lib/ssh/sftp-server' doesnt exist (it's is /usr/libexec/openssh/sftp-server, seems the be a EL vs deb difference)

Looking through the ssh '-v -v -v' output there isn't really

[2017-06-22 21:27] alikins commented on #25849
[code]

That is pretty much 'dont try to use sftp' so would explain why that may help.

Going on the assumption the failure is related to misconfigured sftp Subsystem that is. If that server config works for other sftp use, something else may be afoot.

[2017-06-22 21:29] alikins commented on #25849
Looking though the sshd logs with LogLevel=VERBOSE doesn't show any obvious problems with sftp with the broken config.

The only discernible clue for users I can figure out is 'if ssh works, but sftp fails...'

[2017-06-22 21:41] alikins commented on #25849
Cranking sshd_config LogLevel up to DEBUG finally will show a 'debug1: subsystem: cannot stat /usr/lib/ssh/sftp-server: No such file or directory' in the sshd logs.

[2017-06-22 21:44] alikins commented on #25849
From ansible, I think the ssh connection plugin could potentially check for a exit code of 127 from sftp attempts, and then fall back to scp or inline file transfers. Would need to verify that 127 isnt also a valid exit code for sftp-server in some circumstance, though I suppose a fail is a fail.

[2017-06-22 23:42] JohnVonNeumann commented on #25938
I had a previous install of 2.3 going, that's how I built the original book (this section that I posted is obviously isolated, I ensured that the entire thing and then the isolated section produced the same error before posting), but then after seeing the newer syntax, swapped out with a fresh virtualenv where I installed 2.4. So to answer your question, yes, I have multiple versions, but they are

[2017-06-23 00:51] jctanner opened #26030 "no integration tests for vmware_inventory.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
contrib/inventory/vmware_inventory.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
vmware_inventory.py has no integration testing, but we can make use of the vcenter simulator container now to build up those tests.

[2017-06-23 00:51] jctanner commented on #26030
jctanner [8:39 PM]
is it possible for me to wire up an integration test for an inventory script with this new vcenter container?

mattclay [8:46 PM]
@jctanner I haven't tried that before, but I don't see why not. You'd just write it as a script test instead of a role and add the `cloud/vcenter` alias.

jctanner [8:46 PM]
is there an existing example for "script" test?

[8:46]
like the script modul

[2017-06-23 01:00] todaygood commented on #25819
@tmshn , good.

[2017-06-23 02:12] mmercer-apixio opened #26031 "Cannot pip install or upgrade ansible on EC2 CentOS7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
2.3.xxx (latest pip version)

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
CentOS 7 (likely affects Ubuntu as well)

##### SUMMARY
Latest paramiko pulls in pynacl which in turn tries to compile libsodium and crashes due to an address violation

##### STEPS TO REPRODUCE
Install centos 7 instance on ec2
pip

[2017-06-23 02:54] sxm5211258 commented on #25991
@jctanner  ssh -C -o Port=8020 -o User=root  192.168.3.253 'whoami' the output:
root

[2017-06-23 03:02] sxm5211258 commented on #25991
@bcoca When the settings scp_if_ssh = True are complete, ”ansible web3 -m ping” the results are output：
192.168.3.253 | FAILED! => {
    "failed": true,
    "msg": "failed to transfer file to /tmp/tmplzkIwl /tmp/.ansible/tmp/ansible-tmp-1498186738.2-32005402765792/ping.py:\n\n\u001b[0;33m \n"
}

"ansible web3 -m uptime" the results are output：
192.168.3.253 | FAILED! => {
    "failed": true,
    "

[2017-06-23 03:05] sxm5211258 commented on #25991
253 this server with other users test no problem, not with the root.

[2017-06-23 03:16] wsbmilk commented on #22767
go on

[2017-06-23 03:55] kassiansun commented on #25984
I will submit a PR for this laterly.

[2017-06-23 06:02] hariprakash-123 commented on #21825
**'msg': 'Parameter error: vm_size Standard_D1 is not valid for your subscription and location**

This is the error I have got while refresh, start and stop azure instance through ansible script (azure_rm_virtualmachine).

This error occurred only the ansible version 2.3 and above.

Initially I didn't pass the vm_size in that script, so it take default Standard_d1 as a vm_size. But actually I have

[2017-06-23 06:30] dradetsky opened #26034 "Add way to build local docs without external assets, so they load faster from local fs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Docsite

##### ANSIBLE VERSION
f6e40198044ec2a4a575037010b156da444a9f30

##### SUMMARY
If I build the docsite in order to use it from my local filesystem, It has a lot of external files it tries to load. This makes it much slower to load. It'd be nice if these were wrapped in some kind of jinja conditional such that they weren't added if the d

[2017-06-23 06:34] Akasurde commented on #26020
@theballdredge Thanks for reporting this issue. Could you please use `Force` option to which will power-off VM before removing it. Check more info  [here](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1301)

[2017-06-23 06:41] dradetsky commented on #26034
Also, somebody should probably do something about the state of the docs-building instructions. Again, I would, but since I don't actually know what the right answer is in the first place, I might well make things worse. But it's really not obvious how one would build the docs, or what the right set of packages to install is, and so on.

[2017-06-23 07:06] abadger commented on #25954
@mattclay We've avoided them in the past because python-2.4 would have only had a small set of the  ```__future__``` imports that people really care about.  In Ansible-2.4+ we require python-2.6+ for modules so it makes sense to allow people to use them (I've talked about adding them en masse... the problem being that none of them are 100% safe (otherwise they wouldn't be limited to ```from __futu

[2017-06-23 07:31] bluesalt commented on #5424
The feature is supported now. You can achieve that by dynamic/static include.

[2017-06-23 07:59] sxm5211258 commented on #25991
@jctanner @bcoca thanks，The problem has been found, because the 253 ~ / bashrc file is loaded with too much content.I fixed this issue by filtering its output like this.Thanks again for help.

[2017-06-23 08:26] przemolb commented on #25967
The same bug happens using devel branch:
[code]

[2017-06-23 08:41] gregbkr opened #26035 "yum module and redhat fail to register even with rpm local install"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running on Ubuntu 16.04
Targets are redhat 7

##### SUMMARY

When using yum to install any local rpm package, I get an error that `This system is not registered with RHN Classic`.

##### STEPS TO REPRODUCE

This fails:
[code]

This works, but ugly:
[code]

##### EXPECTED RESULTS

I wi

[2017-06-23 08:47] insspb opened #26036 "Mount module removes existing string from fstab (do not allow duplicate "none" mount points)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[Mount module](http://docs.ansible.com/ansible/mount_module.html)

##### ANSIBLE VERSION

Tested on both versions:
[code]
and
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Manager OS: CentOS Linux release 7.3.1611 (Core)
TargetOS (Tested): Ubuntu 16.04, CentOS 6.8

##### SUMMARY
Mount module do not allow to create several mount po

[2017-06-23 08:53] kwerey commented on #10834
Yes, @aerickson 's PR addressing the issue is still waiting for review.

@jctanner , I think these tags need revisiting - it's a version agnostic module bug, not 1.9 specific.

[2017-06-23 09:07] hentismith opened #26037 "disk_size does not work for boot disk"
Tried to test again latest release in schroot, but got other errors, so was not able to test.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
Using the example on http://docs.ansible.com/ansible/gce_module.html I'm trying to create a instance with a 50GB boot disk. Using gcloud c

[2017-06-23 09:08] pmares127 commented on #25899
i guess my Problem is because of the public keys /autorized_keys file, do I Need to make any changes on my ASA, that Ansible can connect to it?

[2017-06-23 09:44] BreatheDigital commented on #5442
This trick worked for me:

1. First, deleted what I uploaded to S3.

2. aws configure set default.s3.multipart_threshold 1024MB

3. aws s3 cp <localfile> "s3://<bucketname>/<path>/<objectname>"

Since then, all future ansible module (s3) 'get' calls have resulted success. HTH.

[2017-06-23 10:22] tstringer commented on #21825
@hariprakash-123 what Azure region were you working with for the vm?

[2017-06-23 10:30] tstringer commented on #26014
@lmazuel yep that looks straight forward enough. I'll create the PR. Thanks for the heads up! 👍

[2017-06-23 10:31] misterjoa opened #26038 "Using `with_items:`, the content of `register:` is not consistent when an `include:` statement is used for task execution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`register` does not give the same result wheter an `include` statement  is used

##### STEPS TO REPRODUCE

`playbook.yml`

[code]

`task_0.yml`

[code]

[code]

##### EXPECTED RESULTS

The use case is : I want to process `resu

[2017-06-23 11:11] dizeee commented on #23800
@Akasurde @sivel Same problem with Ansible 2.3.0/2.3.1. Worked fine with 2.2.0. Throws 403 with latest devel.

[code]
Tried quoting the URL, still 403.

[2017-06-23 11:19] jhawkesworth commented on #25993
I have no objection to adding this, but we should try to keep the structure as similar as possible to the information returned for linux facts.  There will be some differences - sda, sdb etc names unlikely to be helpful for windows.

needs_contributor

[2017-06-23 11:23] Frederick888 commented on #23800
Tbh it was hilarious for this issue to be closed by a completely unrelated commit without actually knowing the reason of it.

[2017-06-23 11:29] du5tball opened #26039 "Integration with Redis cluster"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
redis fact caching module

##### SUMMARY
Currently, ansible can use a standalone redis instance. However, we are using ansible in a large environment where clustering would be highly useful. Thus, the request is to get ansible to be able to talk to a redis cluster.

[2017-06-23 11:35] rmmjohann commented on #23257
Sorry guys, that I didn't provide any progress on that issue as I can't spend some time on this in my spare time.
@MichaelAquilina tank you for foxing this.

[2017-06-23 12:01] chouseknecht commented on #25974
I think this is expected behavior. The user specifies a desired state. If that state is true, then the container should not be destroyed. So in the case of you second example, volume `/test1` is present, so the container is untouched.  If you want to override this, then use the`force` option.

[2017-06-23 12:08] Akasurde commented on #23800
@dizeee Could you please elaborate more on your problem? if problem persists, you can re-open the issue.

[2017-06-23 12:24] silvinux commented on #25522
Hello, It's me again!!!. It seems when you have equal, less or more than symbols, will ignore the parameter.

Original file.
[code]

After pamd applied.
[code]

[code]

[2017-06-23 12:42] kevensen commented on #25522
@silvinux I hadn't considered that case.  Just pushed a fix.  The only caveat is that there cant be any spaces around the comparison.

uid>=1025
as opposed to
uid >= 1025

[2017-06-23 12:47] s-hertel commented on #26034
cc @dharmabumstead

[2017-06-23 13:01] Constantin07 commented on #25996
With dots -  it works just fine. Tested  on 2.4.0 devel.

[code]

[2017-06-23 13:01] s-hertel commented on #26020
notabug

@theballdredge If the issue isn't resolved using the force option, please feel free to reopen this issue. Thanks!

[2017-06-23 13:03] #26020 closed, assigned to nobody

[2017-06-23 13:11] Infectsoldier commented on #25996
I forgot to add that bucket is used as website hosting

[2017-06-23 13:15] Infectsoldier commented on #25996
@Constantin07 looks like this is fixed in 2.4.0
[code]

[2017-06-23 13:17] #25996 closed, assigned to nobody

[2017-06-23 13:40] s-hertel commented on #25938
@JohnVonNeumann Thanks for more details. I'm still trying to figure out what's going on with this. Do you run 'source hacking/env-setup' before running Ansible?

[2017-06-23 13:47] bjolivot commented on #23247
@willwagner602  I don't have access to REST API doc so at this moment I can only use pyFG

[2017-06-23 14:26] bdlamprecht commented on #25175
Sure.  Here again is the log from a separate session showing that the change __DID__ occur:
[code]

And there is the log from Ansible v2.3.1 with `export ANSIBLE_DEBUG=True`:

[ansible.log.txt](https://github.com/ansible/ansible/files/1098054/ansible.log.txt)

[2017-06-23 14:55] rmfitzpatrick opened #26045 "TypeError in ec2_remote_facts get_instance_info()"
w/ https://github.com/ansible/ansible/pull/25979 in devel the following occurs on attempts to gather remote facts on fresh instances:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_remote_facts

##### ANSIBLE VERSION

[code]

[2017-06-23 15:02] jctanner commented on #26031
Reproduced(?) on centos7 libvirt vagrant box.

[code]

[2017-06-23 15:03] Constantin07 commented on #25982
@joejulian Can you post the complete exception trace ?

[2017-06-23 15:06] johnbateman opened #26048 "BOM encoded Inventory files show extra hostvars inside"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Inventory files which are encoded with BOM encoding, for example UTF-8-BOM, read the BOM at the start of the file as an extra empty host.

##### STEPS TO REPRODUCE

Create an inventory file with UTF-8-BOM encoding containing:

[

[2017-06-23 15:09] jctanner commented on #26031
Could -not- reproduce on centos7 libvirt vagrant box.

1. yum install epel-release
2. yum install python-pip gcc make openssl-devel python-devel
3. pip install paramiko

[2017-06-23 15:23] hogarthj commented on #26031
So I'm curious ... why the object to using the EPEL7 ansible package and the desire to use a pip install to run ansible on EL7?

[2017-06-23 15:35] trigger305 opened #26049 "win_regedit is always reporting large integers as changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
RHEL 7.3
Windows

##### SUMMARY
When using win_regedit to set a registry value of type REG_DWORD to a large value such as 0xffffffff (which is an unsigned integer of value 4294967295) it always reports the value as being changed even when it is no

[2017-06-23 15:45] s-hertel commented on #26031
Also could not reproduce on EC2 instance.

[code]
[code]
Installing
[code]

[2017-06-23 15:50] s-hertel commented on #26031
@mmapixio Is there a public AMI you are using for the ec2 intstance in your reproducer?

[2017-06-23 15:58] geerlingguy opened #26050 "S3 module uses excessive IO and fails when uploading files > 5 GB"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[S3 module](http://docs.ansible.com/ansible/s3_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special.

##### OS / ENVIRONMENT

  - Running on host: Ubuntu 16.04, Ansible 2.3.1 via Pip, Python 2.7.12
  - Managing guest: Ubuntu 16.04, using Python 3

##### SUMMARY

When I try to use the `s3` module's `put` mode to upl

[2017-06-23 16:00] mmapixio commented on #26031
The ami was based on the centos 7.3 imagine public release.  Did discover that I had not updated the python-pip package in quite some time.  The latest package from epel is 8.1.x which allows us to get the wheel for pynacl and bypasses the issue.

Solution:  yum update python-pip && pip install --upgrade ansible

[2017-06-23 16:00] #26031 closed, assigned to nobody

[2017-06-23 16:07] geerlingguy commented on #26050
I'm currently rebuilding the Jenkins instance where this ran, and will try on Python 2 (downgraded from Python 3/default in Ubuntu 16.04) to see if it works there. It seems like the kind of thing that could be caused by using Python 3 :P

[2017-06-23 16:25] rbramwell commented on #9034
I found this thread, looking for a similar solution. What worked for me was to set the following under the [defaults] section in my ansible.cfg file:

[code]

See for more info: http://docs.ansible.com/ansible/intro_configuration.html#display-skipped-hosts

[2017-06-23 16:25] #25910 closed, assigned to nobody

[2017-06-23 16:38] #26045 closed, assigned to nobody

[2017-06-23 16:46] joejulian commented on #25982
Unfortunately not at this time. Doing so will require more verbose output but as the problem it's due to a race, it doesn't fail consistently. Getting adequate output is challenging.

[2017-06-23 17:03] s-hertel commented on #26050
Which version of python 3 and boto are being used? I'm able to use your reproducer to upload a tarball to s3.
[code]
[code]
[code]

[2017-06-23 17:08] hogarthj commented on #26031
@mmapixio I'm still curious as to why you are using a pip install for ansible on EL7 and not the EPEL7 package.

If there's an issue with the package in some fashion that we can improve on in Fedora we would love to know.

[2017-06-23 17:17] coppit commented on #18154
At some point you should consider whether the spec needs to be changed. There are 3 bug reports for the same issue, and apparently a functional deficit caused by this change:

"I'm lost in terms of where to put inventory-specify variables now that are supposed to be valid for all hosts of a given inventory" (Comment echoed by another user in issue 17703.)

[2017-06-23 17:22] geerlingguy commented on #26050
[code]

Testing with Python 2.7.12 now, but failure was using Python 3.5.2.

[2017-06-23 17:54] artburkart commented on #14655
I have a lot of different playbooks that build different AMIs and I wanted to add `/usr/local/bin` to my PATH. My workaround for this was to use visudo to add `/usr/local/bin` to the `secure_path`

[2017-06-23 18:12] jctanner commented on #26039
@du5tball is this related to the redis module or is it about the redis fact caching "plugin"?

needs_info

[2017-06-23 18:20] du5tball commented on #26039
@jctanner It's about the fact caching plugin, which so far only seems to be able to deal with caching to a standalone redis instance.

[2017-06-23 18:25] ozboms commented on #25032
Fixed bug and made PR: https://github.com/ansible/ansible/pull/26052

[2017-06-23 18:40] willwagner602 commented on #23247
Thanks @bjolivot, I'll power through on my own then.

[2017-06-23 19:03] pkaramol commented on #22671
Same here with ansible 2.3.0 and Ubuntu 16.04

[2017-06-23 19:05] jctanner commented on #25710
@ulope https://github.com/ansible/ansible/pull/23919 altered the output of the docker_network module which would be unrelated to gather_facts/setup/facts.py

Do you have any files in /etc/ansible/facts.d on the host where facts are collected?

needs_info

[2017-06-23 20:13] geerlingguy commented on #26050
I'm doing some more debugging, here are results so far:

  - With a 0 B file, on Python 2.7.12, Ansible delivers the file to S3 quickly.
  - With a 0 B file, on Python 3.5.2, Ansible delivers the file to S3 quickly.
  - With the 42 GB file I was trying to copy, in both cases Ansible gets stuck killing the poor disk (`top` shows 80+% iowait), and `iostat` shows the disk reading at ~66 MB/s* 😳

So f

[2017-06-23 20:17] s-hertel commented on #25995
Hi @Infectsoldier. Can you verify that the bucket is in the expected region? I am only able to reproduce this error if the bucket is not in the region I've specified.
[code]
Leads to:
[code]
Here is the result I get when I first create the bucket in us-west-2:
[code]
[code]

[2017-06-23 20:17] s-hertel commented on #25995
needs_info

[2017-06-23 20:30] s-hertel commented on #26050
@geerlingguy
Did uploading that work with s3_bucket, or did you use something small to test, leading to a false positive?
Also, I have a boto3 version of s3: #21529 (I'd like to add: although it passes the s3 integration tests it probably still needs some testing + a couple pep8 fixes)

[2017-06-23 20:38] geerlingguy commented on #26050
@s-hertel - I didn't try using `s3_bucket` for any files; I just used that to create the bucket idempotently. It worked fine in any of the use cases.

And `s3` with `mode: put` worked for all the small files I threw at it, but didn't for the 40+ GB files I'm dealing with currently. Using the `aws s3 cp` command worked—that copy just finished after about 20 minutes (bottleneck is the disk, but usin

[2017-06-23 20:39] geerlingguy commented on #26050
@s-hertel - It looks like those modifications would still use the old file upload method, so it probably wouldn't fix this _specific_ problem. (But I haven't actually tested it, so take that with a grain of salt!).

[2017-06-23 20:41] Infectsoldier commented on #25995
@s-hertel I guess you are right. I found the mistake in region for current, but i will have possibility to try on monday

[2017-06-23 20:44] s-hertel commented on #26050
Okay, good to know. Thanks for the details. And hm...I hope it *would* fix this specific problem since it is using boto3's upload_file()
https://github.com/ansible/ansible/pull/21529/files#diff-68ba194b6312d1232756a1ecb586474bR430, but I guess I'll add it to my list of things to check :) Thanks for your time @geerlingguy

[2017-06-23 20:54] bcoca commented on #14959
this was fixed via df5895e585e18bfbf84af993c152801124332bf0

[2017-06-23 20:54] #14959 closed, assigned to nobody

[2017-06-23 21:11] rfbonett commented on #19620
Hey everyone, I was looking into this bug and believe I have found the root cause. By default, shade does not wait for the ip to be assigned to the server, simply returning the original server object:
https://github.com/openstack-infra/shade/blob/master/shade/openstackcloud.py#L4927

Likewise, os_floating_ip has wait set to False by default:
https://github.com/ansible/ansible/blob/devel/lib/ansibl

[2017-06-23 21:29] rbolkey commented on #25662
Is this a new effort? Or adopting these pull requests?: #24588 #19229

[2017-06-23 21:30] geerlingguy commented on #26050
@s-hertel - Oops! I totally missed that line!

Well, in that case I hope to be able to run a test with a large (but not super large) file soon.

[2017-06-23 21:51] #23663 closed, assigned to jctanner

[2017-06-23 23:37] #23289 closed, assigned to nobody

[2017-06-24 00:10] #22372 closed, assigned to rcarrillocruz

[2017-06-24 00:41] kevensen commented on #25522
+label affects_2.3

[2017-06-24 01:07] #21468 closed, assigned to nobody

[2017-06-24 01:07] #21449 closed, assigned to nobody

[2017-06-24 01:08] deekayen commented on #25705
I didn't get any open source time this week at work, but I intend to help test your pull request.

[2017-06-24 01:09] #21374 closed, assigned to nobody

[2017-06-24 01:14] #21141 closed, assigned to nobody

[2017-06-24 01:34] #20308 closed, assigned to nobody

[2017-06-24 01:43] #19779 closed, assigned to nobody

[2017-06-24 01:45] #19722 closed, assigned to nobody

[2017-06-24 01:46] #19702 closed, assigned to nobody

[2017-06-24 01:59] #19511 closed, assigned to nobody

[2017-06-24 02:03] #19336 closed, assigned to nobody

[2017-06-24 02:06] #19230 closed, assigned to nobody

[2017-06-24 02:06] #19226 closed, assigned to nobody

[2017-06-24 02:09] #19119 closed, assigned to nobody

[2017-06-24 02:18] #18755 closed, assigned to nobody

[2017-06-24 02:21] #18468 closed, assigned to nobody

[2017-06-24 02:22] #18414 closed, assigned to nobody

[2017-06-24 03:53] #15477 closed, assigned to nobody

[2017-06-24 04:28] #11632 closed, assigned to nobody

[2017-06-24 04:28] #11467 closed, assigned to nobody

[2017-06-24 06:02] DanSlutzky commented on #9260
I solved this problem by using this

- hosts: server
  serial: 10

before it was "serial: 1" but in my case I have several instances.

[2017-06-24 07:05] tamsky commented on #21562
I think this was introduced by https://github.com/ansible/ansible/pull/18551

This change is included in the reported version transition:
https://github.com/ansible/ansible/compare/v2.2.0.0-1...v2.2.1.0-1

The change tries to fix https://github.com/ansible/ansible/issues/16032
- ( Ansible will create a literal $HOME directory if the variable is not set )

So the `HOME=/root` methods to fix lines u

[2017-06-24 10:25] dagwieers commented on #15477
So ansibot closes it, but there's no means to reopen it ?

[2017-06-24 11:30] komuW commented on #25849
@alikins
Hi,
thanks for been relentless in your bug hunting.

I just checked on my server again, the location `/usr/lib/ssh/sftp-server` doesn't exist. What exists is `/usr/lib/sftp-server`
So I just changed my sshd_config file to
`Subsystem sftp /usr/lib/sftp-server -f AUTHPRIV -l INFO`
and ansible ping now works without having to use,
[code]

[2017-06-24 12:07] ProjectRice commented on #20327
Hi @brandond,

I believe this should be resolved as of https://github.com/ansible/ansible/pull/20787 and https://github.com/ansible/ansible/pull/20622.  iam_cert will return the arn of an uploaded cert and
iam_cert_facts can be used to retrieve the arn of an existing cert.

[2017-06-24 12:35] #25514 closed, assigned to trishnaguha

[2017-06-24 15:40] Constantin07 commented on #25982
@joejulian just wondering if an _ignore_errors: yes_ statement in your task can help to sort this out ?

[2017-06-24 16:16] gaurav21engg commented on #16354
Hi,
I entered below command

 ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o 'IdentityFile="/Users/RezaSetiadi/Downloads/mensa_development.pem"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ubuntu -o ConnectTimeout=10 -o ControlPath=/Users/RezaSetiadi/.ans

[2017-06-24 16:20] rezastd commented on #16354
Why do you use my directory? Use your own path to your key..

On Jun 24, 2017 23:17, "gaurav21engg" <notifications@github.com> wrote:

Hi,
I entered below command

ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o
StrictHostKeyChecking=no -o 'IdentityFile="/Users/
RezaSetiadi/Downloads/mensa_development.pem"' -o
KbdInteractiveAuthentication=no -o PreferredAuthentications=
gssapi-with-mic,

[2017-06-24 16:21] joejulian commented on #25982
I don't think so. The module is not returning an error, it's fatal.

[2017-06-24 16:49] gaurav21engg commented on #16354
what should my command then, if i don't use any pem file.....

[2017-06-24 17:50] gaurav21engg commented on #16354
Hi All,

what i have done i explain step by step:-

1. i created container using lxc-create -n web1 -t ubuntu
2. Then i started it and got ip and i have done from sudo user.
3. Then i moved to my home directory, where i earlier installed ansible by bleeding-edge way. I created inventory file inside it. Then i generated ssh key inside /home/dir/.ssh/ by keygen command.
4. Then ssh-add ~/.ssh/id_rsa

[2017-06-24 18:09] #25515 closed, assigned to Qalthos

[2017-06-24 20:17] hackermd commented on #18188
I observed the same problem with a large number of hosts. Reducing the number of `forks` (to the default value) solved the problem for me.

[2017-06-24 21:38] krzysztof-magosa commented on #16621
This would be extremely useful. +1

[2017-06-25 03:14] jpartain89 opened #26064 "[Enhancement Request] Homebrew: Needs Cache like apt-get's `cache_valid_time`"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
HomeBrew Modules

##### ANSIBLE VERSION
N/A: Homebrew hasn't seen a lot of expansive love here.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
So, one: Homebrew definitely needs a version of `cache_valid_time` in order to actually make it worth being inside of Ansible... Without that cache, it makes it difficult to make anything with Homebrew comm

[2017-06-25 09:13] dagwieers commented on #25993
The problem with the existing Linux facts is that it was not well-designed.
It was designed mostly in a flat space, which doesn't scale and is harder to enumerate.
And we cannot reorganize any of this without impact.

[2017-06-25 15:06] jhawkesworth commented on #25952
Reproduced on windows server 2012 r2.

A simple workaround is to use &, thus

ansible 10.255.33.11 -m setup &

needs_contributor

[2017-06-25 16:41] eumel8 commented on #23675
me too! The last working version is 2.2.0.0. Later versions failed with

`- name: Set fact for availability_zone_id (eu_de-01)
  set_fact:
    availability_zone_id: "bf84aba586ce4e948da0b97d9a7d62fb"
  when:
    - listener_name is undefined
    - elb_availability_zone is defined `

elb_availability_zone is a lookup variable of an ini_file in this case with a non-existing section. The non-existing

[2017-06-25 21:59] monchitos82 commented on #26036
I think ansible is playing safe here and validating that you are not using the same `mount point` twice.

This is a good play and prevents the module from breaking `fstab`. If this however is not working for you, a simple fix could make the module validate both `mount point` and `file system` when identifying if a line is a new one but this would cause issues to `systemd` so considering this a bug

[2017-06-25 22:14] insspb commented on #26036
Hi @monchitos82.
I do not think that this situation is safe play. The problem is not only in duplication of swap partition, second problem that existing mount point was overwritten without any mention in task config.
There is no instructions to module to work with this line:
[code]
So it must be untouched anyway, but was deleted. It will be good to know why, to exclude this behavior with real file

[2017-06-25 22:49] monchitos82 commented on #26036
It actually reports back the change:
[code]

But as you mention, it is valid to have duplicate swap entries pointing to different file systems and a `none` mount point

[2017-06-25 23:00] insspb commented on #26036
It is always changed on first run. :)
In my playbook I do not setup two swap files, i setup just one. And one must left from system.
So on first run it will be always changed - and this is expected.
On second run nothing to change - string is already present.

[2017-06-26 04:55] jborean93 commented on #25705
@deekayen no worries, thanks for the update.

[2017-06-26 04:57] jborean93 commented on #25467
@pfar1, you would have to remove `Add-DeprecationWarning`, I believe there is only one at the beginning of the script for this PR. That should hopefully be enough to get it working on an older version of Ansible.

[2017-06-26 07:36] ralfbergs commented on #19119
Apologies, but I currently don't have the mean to work on this again.

Thanks for your efforts.

If I have the chance to revisit this, I will update this issue accordingly.

[2017-06-26 07:36] pfar1 commented on #25467
@jborean93 that looks to have done the trick, thanks!

[2017-06-26 08:50] robinro commented on #23869
close_me

[2017-06-26 08:52] samben00 commented on #18987
I'm having this exact issue, with Ubuntu 16.04 and ansible 2.2.0.0.
When I run apt commands on my host machine I get no error

[2017-06-26 09:27] Shaps commented on #26009
Hi @s-hertel, I think this happens because you can't really use `default(omit)` in `delegate_to`. When `delegatehost` is not set, the remote host will be set to something like: `'__omit_place_holder__678c17cd01c8cf4895e37db8300450b4a0ad4421'` which being a non-existing host causes it to fail.
I think the "correct" approach in this case would be using `when: `
[code]

[2017-06-26 09:46] brainsam opened #26083 "win_owner cannot find domain user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_owner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ansible host environment:
[code]
agent:
Windows Server 2012R2

##### SUMMARY
win_owner can't find domain user at all. Local accounts works. I tried to run win_owner.ps1 function UserSearch on windows machine and it returns actual SID

##### STEPS TO REPRODUCE

[

[2017-06-26 09:54] alexissavin commented on #19973
EIP has corrected this issue in a patch, the HTTP headers are now case insensitive.
Furthermore, you can have a look here for samples : https://github.com/acoston/Ansible-EfficientIP

[2017-06-26 10:09] WillSquire opened #26084 "Python 2 package disappeared on Ubuntu?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible (dependancy)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Bootstrapping Ansible using:
[code]

##### OS / ENVIRONMENT

MacOS

##### SUMMARY

Receiving the follow error when running provisioning (worked an hour ago):
[code]

##### STEPS TO REPRODUCE

Config given above (raw)

##### EXPECTED RESULTS

It installs ok.

##### ACTUAL R

[2017-06-26 10:22] vaibhavaingankar09 opened #26085 "junit tests failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test/units/cli/test_galaxy.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am testing Ansible build. I found following tests are constantly failing on linux
[code]
##### STEPS TO REPRODUCE

[code]

[code]

[2017-06-26 10:23] antoineco commented on #25931
I just investigated this. The `AccessTier` property is incompatible with the `StandardLRS` replication options, but seem to get set nevertheless in `azure` v2.0.0rc5 (the recommended version).

cf. https://github.com/Azure/azure-sdk-for-python/commit/82dae2d3e0166ac54baceeb630db0adc963665af#diff-790b1eb91e6abe42af60cd9f253c1555
[code]

Since this was changed in the `azure` PyPI package in v2.0.0,

[2017-06-26 11:04] tstringer commented on #22197
@bearrito are you still running into this issue? Let me know, and we can refresh troubleshooting.

[2017-06-26 11:11] tstringer commented on #25931
@antoineco thank you for testing this out. We currently have a PR in place to test and fix the integration of azure==2.0.0. If we think this is a fix with that Azure SDK for Python version then let's put this issue on pause until we get that integrated into the product, and then we can revisit this.

[2017-06-26 11:23] brainsam commented on #26083
Close Issue: I connect ansible to windows using non-domain user account, which cannot retreive information about domain users.

[2017-06-26 11:23] #26083 closed, assigned to nobody

[2017-06-26 11:41] gyurco commented on #21472
@SethosII
I think, yes, it is still buggy. The autoremove=yes results in the command 'apt-get -y --auto-remove install' which doesn't do anything.

[2017-06-26 11:54] antoineco commented on #25931
It's probably not gonna be enough because the current module has no notion of `access_tier`, and this parameter is **required** when `kind == 'BlobStorage'`.

I'm sending a PR.

[2017-06-26 12:11] ulope commented on #25710
@jctanner No it was a fresh install of ubuntu 16.04.
However in the meantime I've noticed that this message only appears if docker swarm mode has been enabled on the target (e.g. `docker swarm init` or `docker swarm join ...`)

[2017-06-26 12:39] #26084 closed, assigned to nobody

[2017-06-26 12:40] #25641 closed, assigned to resmo

[2017-06-26 12:40] #25644 closed, assigned to resmo

[2017-06-26 12:48] bearrito commented on #22197
I cannot immediately test this. I will try to find an environment to have a go in later today or tomorrow.

[2017-06-26 13:12] Nayana-ibm commented on #26085
Same tests are failing with Ansible- 2.3.1.0

[2017-06-26 13:21] tstringer commented on #22197
@bearrito cool thanks! 👍

[2017-06-26 13:24] johnscancella opened #26091 "ansible vault enhacement"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible Vault

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I would like to be able to use a keychain for managing access to ansible vault encrypted files. This way I don't have to worry about remembering a password and I can securely share it with other developers.

##### STEPS TO REPRODUCE
1. Add your vault passwor

[2017-06-26 13:26] emielmolenaar commented on #25960
Same problem here. Debian 8.8, Ansible 2.3.1.0, MariaDB 10.2. Segfault occurs in the mysql_db module in my setup.

[2017-06-26 13:36] emielmolenaar commented on #25960
Is this related to https://github.com/PyMySQL/mysqlclient-python/pull/177 ?

[2017-06-26 13:36] bluesalt opened #26092 "os_keystone_domain fails to work with identity v3 API when cloud options is not presented"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

* `modules/cloud/openstack/os_keystone_domain.py`
* `module_utils/openstack.py`

And I believe most OpenStack modules which need to call domain API are affected too.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Content of `ansible.cfg` file
[code]
##### OS / ENVIRONMENT

* Control Machine: `CentOS Linux release 7.2.1511 (Core)`
* Manag

[2017-06-26 13:39] #25995 closed, assigned to nobody

[2017-06-26 13:39] schmittlema opened #26093 "Nvidia-Docker Feature"
##### ISSUE TYPE
 Feature Idea

##### COMPONENT NAME
docker_container/

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
default settings

##### OS / ENVIRONMENT
Linux  4.8.0-54-generic
~16.04.1-Ubuntu
 x86_64 x86

[2017-06-26 13:40] Infectsoldier commented on #25995
@s-hertel you were right. The problem was in the region. This can be closed now

[2017-06-26 13:48] angystardust opened #26095 "Unable to create a 2-disks vm on different datastores"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/vmware_guest.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N.A.

##### OS / ENVIRONMENT
Red Hat Enterprise Linux 7.3
VMware Vsphere 6.0

##### SUMMARY
When you try to create a 2-disks vm with each disk on a different datastore, both are created on the datastore specified as the first one.

##### STEPS TO REPRODUCE
Create a playbook

[2017-06-26 13:48] bluesalt commented on #26092
I have sent a [PR](https://github.com/ansible/ansible/pull/26094)

[2017-06-26 13:58] angystardust commented on #25029
@stroobl I've just opened a new Issue about the scenario you described: https://github.com/ansible/ansible/issues/26095

[2017-06-26 13:59] vinpk opened #26096 "ControlPersist has no effect on network modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

config.cfg
[code]
##### OS / ENVIRONMENT

Linux/Ubuntu
##### SUMMARY

Network modules don't accept ControlPersist value set in ansible.cfg

Instead of waiting for the provided time, Ansible terminates the session in 30s of inactivity; and it reestablishes the session on the same

[2017-06-26 14:01] jhawkesworth commented on #24057
@wronny @vignesh-paramasivam @MichaelGoldsbie @regosse any updates on suggestions given above?

[2017-06-26 14:03] mjrider commented on #26009
@Shaps in my opnion is the correcter version in that case
[code]
run once, on first host in run, or on the predefined host
but i expected that the `definedhost | default(omit)` had the same effect, because the documentation on omit said that the effect is as if the delegate_to line is not there

[2017-06-26 14:04] rcarrillocruz commented on #26096
ControlPersist is an SSH feature, for network modules we use Paramiko as we have no Python on the target device.
In order to get the same functionality, we introduced persistent connection framework on Ansible 2.3:

https://www.ansible.com/blog/network-device-authentication-with-ansible-2-3

HTH

[2017-06-26 14:04] #26096 closed, assigned to nobody

[2017-06-26 14:07] bcoca commented on #26009
this does seem to be a failure in the 'omit' token, mostly because delegate_to is tested for a value BEFORE it is templated, on templating it should result in empty/None but at that point it has already gone done the 'delegation path'.

[2017-06-26 14:09] jimi-c commented on #22924
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-06-26 14:09] #22924 closed, assigned to jimi-c

[2017-06-26 14:10] vinpk commented on #26096
Hi @rcarrillocruz, Thanks for the quick response; But is there a way to change persistent connection timeout while using paramiko in Ansible ?

[2017-06-26 14:21] alikins commented on #26091
There is some support for this already by using ansible vault password scripts and the 'vault-keyring.py` script in contrib/vault (https://github.com/ansible/ansible/blob/devel/contrib/vault/vault-keyring.py)

[2017-06-26 14:25] #23869 closed, assigned to nobody

[2017-06-26 14:39] antoineco commented on #25492
I took some time to investigate today:

1. [`tags` ](https://github.com/ansible/ansible/blob/5b03e5544045749fca87daa05380592901c0eca1/lib/ansible/modules/cloud/azure/azure_rm_deployment.py#L437) is initialized to None
2. the [`params` dict](https://github.com/ansible/ansible/blob/5b03e5544045749fca87daa05380592901c0eca1/lib/ansible/modules/cloud/azure/azure_rm_deployment.py#L499) is composed with

[2017-06-26 14:50] alikins commented on #26085
Post the output from the tests that fail? Ideally, the output from:

``` ansible-test units -v -v -v --python 2.7```

(Or whatever python version you are seeing failures with)
I don't see test failures for 2.3.1.0-1  (v2.3.1.0-1 tag, commit ecb38fdf73a0beb89e9505157a2ea20c96f666d7) locally, and the tests passed in CI:

   https://app.shippable.com/github/ansible/ansible/runs/24037/summary

[2017-06-26 15:01] denisra opened #26100 "iam module fails silently when deleting groups with inline policies still attached"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iam module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux bc76ce7758ea 4.8.0-54-generic #57~16.04.1-Ubuntu SMP Wed May 24 16:22:28 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

The iam module is failing silently when trying to remove a iam group, which still has inline policies attached to it.
The issue seems to be cau

[2017-06-26 15:02] denisra commented on #26100
I'm already working on a PR and will submit it for review shortly.

[2017-06-26 15:04] nwsparks opened #26101 "delegate_to localhost and local_action both attempt winrm"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Any

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Default configuraiton

##### OS / ENVIRONMENT
Ansible host is amazon linux latest ami

##### SUMMARY

When running a play that connects to Windows hosts via dynamic inventory, local actions fail because Ansible attempts to connect to itself with WinRM.

I'm using dynamic inventory, but run in

[2017-06-26 15:16] bluesalt commented on #26092
Create new [PR](https://github.com/ansible/ansible/pull/26103) because [former one](https://github.com/ansible/ansible/pull/26094) introduce a bug which will override the option specified in `os-client-config`.

[2017-06-26 15:21] bcoca commented on #26101
does your inventory define localhost?

[2017-06-26 15:25] nwsparks commented on #26101
It's using dynamic inventory within AWS based on tags and the ec2.py script. I've tried an inventory file though and the behavior is the same.

For the "delegate_to:" I've tried both localhost and 127.0.0.1 and the behavior is the same.

[2017-06-26 15:31] bcoca commented on #26101
I cannot reproduce the behaviour except when i define `ansible_connection=winrm` for localhost

[2017-06-26 15:57] cyrilchapon opened #26108 "os_server ignores v4-fixed-ip argument in nics"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian 8

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Ansible to accept "v4-fixed-ip" arg

##### ACTUAL RESULTS
Instance is created under network, but not with fixed-ip

[2017-06-26 16:47] #25632 closed, assigned to nobody

[2017-06-26 16:49] cinemast commented on #11064
@bobziuchkovski @d-j-c @haasn

I managed to disable host key check for e.g. a staging inventory using the following line in `inventories/staging`:

[code]

[2017-06-26 17:27] abadger commented on #21472
Unfortunately, reviewing closed issues isn't part of our workflow so we don't see questions or new information that are posted to them.  Opening a new issue is the best way to get attention.  If you think it's a continuation of the old bug, linking to the old bug report will help us to review the history.

2.0, 2.1, and 2.2 are only getting security fixes at this point so the fix would be availabl

[2017-06-26 17:45] #24860 closed, assigned to nobody

[2017-06-26 17:58] nwsparks commented on #26101
Ok thanks. I messed with it some more and it seems that if I remove this

[code]

it works. all that is contained in that is the winrm connection info

[code]

Instead I moved it to group_vars/tag_Function_IIS.yml  and it now works as expected. Not sure if this is a bug still or expected behavior.

I'm guessing the difference between the working and non-working methods are that "local_action" and

[2017-06-26 18:01] robinro commented on #22445
resolved_by_pr #26072

[2017-06-26 18:03] robinro commented on #24412
@sdlevi27 I believe this is fixed by #26072. Please try again with the latest devel branch version.

[2017-06-26 18:04] robinro commented on #22848
@MartinNowak I believe this is fixed by #26072. Please try again with the latest devel branch version and close this issue if it works for you.

[2017-06-26 18:20] cornfeedhobo commented on #23657
Update: My team now has a working version of this. We are a bit bogged down with other stuff but should be creating a PR soon(tm).

[2017-06-26 18:52] trondhindenes opened #26117 "Unable to build webdocs under Bash on Windows"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
v2.4.0

##### SUMMARY
When running "make webdocs" in order to verify module documentation, the build hangs midway with the message
[code]

[2017-06-26 18:53] trondhindenes commented on #25820
ok. I'm assuming it's too early to ask for documentation/guidelines for updating my cusom plugins to use the new api.

[2017-06-26 19:19] jhawkesworth commented on #26117
I have built ok on Bash for windows recently (last week) but there can be a substantial wait at that point for me as well.  I can build a single page in a couple of minutes though usually.

[2017-06-26 19:25] bcoca commented on #25820
i hope to have it in such a way that the docs in your plugins declare the config items they need an then the plugin will 'recieve' them (still not sure on delivery method yet).

[2017-06-26 19:33] bcoca commented on #26101
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You should not be including `group_vars` that way, they are automatic and should be included if the host is in that group.

In the futu

[2017-06-26 19:33] #26101 closed, assigned to nobody

[2017-06-26 20:01] #16194 closed, assigned to nobody

[2017-06-26 20:32] ojab opened #26118 "Variable is not set if interpolation is used in lookup filename and in the read file"
##### ISSUE TYPE
 - Bug repors

##### COMPONENT NAME
Unfortunately dunno

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed from stock fedora-25 version

##### OS / ENVIRONMENT
Fedora Workstation 25, `dnf install ansible`.

##### SUMMARY
Variable is not set if interpolation is used in filename for lookup.

##### STEPS TO REPRODUCE
`playbooks/deploy-consul.yml`:
[code]
`playbooks/ro

[2017-06-26 21:04] s-hertel commented on #26021
Thanks for opening this issue @andrewhowdencom. I was wondering if you could elaborate on your phrase of 'Depending on how I worked it...'. needs_info

I have also made a tentative fix #26021 and if you have the time to test that I would appreciate it.

[2017-06-26 21:15] s-hertel commented on #22445
fixed in https://github.com/ansible/ansible/commit/05dc76f3b2090b54a9c48e64bdaba2cb6ad3b344

[2017-06-26 21:15] #22445 closed, assigned to nobody

[2017-06-26 21:25] steffann opened #26120 "ios_config breaks when using loops"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iOS_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default settings

##### OS / ENVIRONMENT
Running Ansible from Mac OS
Darwin MacPro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

Tested with a Cisco 3850
Cisco IOS Software [Denali], Catalyst L3 Switch Software (C

[2017-06-26 21:29] nitzmahone commented on #26117
@trondhindenes does the new `make htmlsingle` target in the `docs/docsite/Makefile` work for you? (eg:
[code]

[2017-06-26 22:12] krzysztof-magosa commented on #26118
You need to replace `"{{ lookup('file', 'secrets/{{ env }}.yml') }}"` to `"{{ lookup('file', 'secrets/' ~ env ~'.yml') }}"` and it should work.

[2017-06-26 22:15] krzysztof-magosa commented on #26039
If I'm correct 'backend' library used to speak with Redis does not support clustering.
BTW - are you happy with fact caching? From my experience it's about 200% slower than gathering facts each time :/

[2017-06-26 22:39] ojab commented on #26118
Thanks a lot! Tilda notation fixed the issue.
But I still don't understand why it works if interpolation is removed from the target file or `{{}}` interpolation isn't used in `lookup` :/

[2017-06-26 22:40] 600833 commented on #25417
deleted

[2017-06-26 22:43] ojab commented on #26118
...and it seems that I can't find docs google for tilda+ansible/tilda+jinja/etc, could you please point me to the docs?

[2017-06-26 22:44] ojab commented on #26118
whoops, found it http://jinja.pocoo.org/docs/2.9/templates/#other-operators

[2017-06-26 23:21] abroglesc commented on #18075
I agree with @ajaybhatnagar it would be great to have an option in the playbook to skip unreachable hosts or have that be able to be passed in via a command line argument. So +1 to that idea.

[2017-06-26 23:44] thnee commented on #25743
@bcoca Any feedback on the previous suggestions?

Yet another suggestion could be to add a configuration variable to control this behavior, although I must say I think adding a `force` flag would be much more in line with general expectations.

[2017-06-27 01:03] xiaket commented on #24794
I was also affected by this bug and I was able to delve a little more into it.

In `ansible/plugins/connection/ssh.py`, in the `reset` method:

[code]

This `self.host` is obtained from the `remote_addr` attribute in the play_context object, which is None at the moment I ran this playbook. I guess it is empty because some of the ssh settings that I've defined but I'm not sure about that.

The othe

[2017-06-27 02:08] bcoca commented on #25743
My current thinking is to finish the 'separation from service.py' and have a rc_service module that has specific options for one vs 'non-one-prefixed' calls.

[2017-06-27 02:11] bcoca commented on #26118
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, you don't stack `{{ }

[2017-06-27 02:11] #26118 closed, assigned to nobody

[2017-06-27 02:35] jborean93 commented on #20297
This is the correct behaviour, you are ultimately telling Ansible to set the state of a service to stop which it cannot do if the service exists. In your case @jhawkesworth option slightly modified below is an option

[code]

Closing Issue as this is the expected behaviour.

[2017-06-27 02:35] #20297 closed, assigned to nobody

[2017-06-27 05:58] #23986 closed, assigned to nitzmahone

[2017-06-27 06:42] sangrealest commented on #13876
Mostly set ControlMaster=no should fix this issue. You should check your openssh version. since version 5.1, openssh started to support multiplexing, but it works super well in version 5.6. So I suggest upgrade your openssh server to 5.6 or higher.

Release Notes: https://www.openssh.com/txt/release-5.1

[2017-06-27 07:05] mohsenSy opened #26128 "error when trying to disable php5 module using apache2_module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running on Ubuntu 16.04 and managing Ubuntu 14.04

##### SUMMARY
The apache2_module uses the output of `apache2ctl -M` command to determine if an apache module is enabled or not, however the two apache modules `php5` and `php5.6` have the same names in apache2ctl output that is

[2017-06-27 07:09] mohsenSy commented on #26128
I can work on this, the best way to determine if a module is enabled or not is by listing the symlinks in `/etc/apache2/mods-enabled` and searching for a symlink called `<name>.load` if it is found then the module is enabled otherwise it is disabled.

If this is okay I can start working right now.

[2017-06-27 07:20] PlugIN73 commented on #25856
@bcoca Hi! So what with this problem?

[2017-06-27 07:21] padajuan commented on #26035
Hi there,

It seems an error from node "myserver", maybe this node has been registered against a Satellite 5-6?

[2017-06-27 07:24] andrewhowdencom commented on #26021
Oh right. Sorry -- I wrote this report late at night. So, for context, I would attempt to modify a machine using the idempotency ID; turn it on or off or whatever (the eventual goal was to delete it). This apparently ran successfully, but didn't affect the status (IIRC). However, it then returned a list of *all* matching resources, which I then use in a `register` variable.

The next task would th

[2017-06-27 08:19] cecchisandrone commented on #22905
I have the same:
[code]

[2017-06-27 08:46] Constantin07 commented on #25981
I can also reproduce this issue on 2.4.0 devel branch.
The EFS mount is created looking at AWS Console but it indeed hangs.

[2017-06-27 08:52] thnee commented on #14380
Here is another example of why this would be a good addition. smbpasswd can take a password (repeated twice separated by newline) on stdin. This is what I currently have to do:

[code]

If the command module could take stdin, there would be no need to rely on shell just to be able to pipe stuff which is a massive program to load for such a simple task, and there would be no need for a custom `csh_

[2017-06-27 08:54] lukas-bednar opened #26129 "ovirt_disks module doesn't export disks to openstack glance storage"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

oVirt (4.1+) supports exporting disks of templates separately into OpenStack Glance storage.
Nowadays **ovirt_disks** module doesn't support this option.
In my opinion it is nice feature to have there.

##### STEPS TO REPRODUCE

[co

[2017-06-27 09:08] mykaul commented on #25417
Why is the state absent?

[2017-06-27 09:42] ctidocker commented on #14934
Need a help to solve the pbrun syntax issue .                                                                                                                     ---
- name: Touch a file
  hosts: pega
  become: true
  become_method: pbrun
  become_user: ops
  become_flags: 'ops'
  tasks:
    - name: run touch cmmand
      command: "touch /tmp/1.txt"

<168.72.164.236> SSH: EXEC sshpass -d12 ssh -vv

[2017-06-27 09:44] ctidocker commented on #13278
Need a help to solve the pbrun syntax issue . ---

name: Touch a file
hosts: test
become: true
become_method: pbrun
become_user: ops
become_flags: 'ops'
tasks:
name: run touch cmmand
command: "touch /tmp/1.txt"
<xxx.xx.xxx.xxx> SSH: EXEC sshpass -d12 ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o User=portal -o ConnectTimeout=10 -o ControlPath=/home/ops/.ansible/cp/ansible-ssh-%h-%p-%r

[2017-06-27 10:29] benjamincburns commented on #9065
There was a proposal to make it possible to write proper plugins for inventory management. I suspect now that this proposal was closed/finished, it should become possible to implement a dynamic inventory plugin which works around this point of confusion.

[2017-06-27 10:38] vinpk opened #26130 "nxos_command output processing errors when using xml output method"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

callback plugin skippy used
##### OS / ENVIRONMENT

Linux/Ubuntu
##### SUMMARY

When tried to fetch cli output in xml format, nxos_command module breaks the xml output and reads the data partially leaving data in socket stream which is read when executing other commands in same

[2017-06-27 10:46] vinpk commented on #26130
Similar problem with ios_command module as well when i tried to use instead of nxos_command for Nexus devices, but with a difference, that all socket stream is read before passing on to next task, commands; though xml is still broken into list in the same variable and got unexpected results.

[code]

[2017-06-27 11:10] ojab commented on #26118
But why one_secret is set correctly and why debug of `Load data` task says that `two_secret` is actually set?
Still looks like a bug for me.

[2017-06-27 11:43] dcuvilliers commented on #25022
I think I found another issue in filtering in postgresql_privs.py#L354. This should also have the option 'f' to get all foreign tables as well.

[2017-06-27 12:07] lepiepl commented on #26095
I think this issue is related with this one #24887
Here is a small hack :
https://github.com/ansible/ansible/issues/24887#issuecomment-306741227

[2017-06-27 12:17] armab commented on #16194
FYI here, with the https://github.com/ansible/ansible/issues/26098 patch merged to have custom stdout callback plugin working you need to set both [`bin_ansible_callbacks = Yes`](http://docs.ansible.com/ansible/intro_configuration.html#bin-ansible-callbacks) (`ANSIBLE_LOAD_CALLBACK_PLUGINS` env) and [`stdout_callback`](http://docs.ansible.com/ansible/intro_configuration.html#stdout-callback) (`ANS

[2017-06-27 12:22] s-hertel commented on #26021
Thanks for the additional info!

And oops. My fix is #26114. I just added the idempotency ID to where any instance filtering is being done.

[2017-06-27 12:36] angystardust commented on #26095
Thank you @lepiepl for the hack.
I hope @nerzhul , @Akasurde or @dav1x can finally fix it
So, I suppose we can close this issue as as a duplicate of #24887

[2017-06-27 12:46] 600833 commented on #25417
deleted

[2017-06-27 12:49] jglapa commented on #24215
Nice idea I have a use case where I execute a shell script and I would like to get the output without the need of `registering` the output and then using `debug` to print the content.

Adding a `verbosity` attribute to any given task would allow to increase the verbosity for that single task.

[code]

This would each time print the output for that given task irrespectively from the ansible global

[2017-06-27 13:21] Kiarashz commented on #23801
I would like to create an issue to make ansible execute the <role>/vars/main.yml file if it has execution attribute set.
This way, without the need for a custom module, it is possible to have customised and dynamic logic in loading variables.

[2017-06-27 13:32] petereh opened #26136 "eos_config ignores config lines within a hierarchy from a source config file"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION

[code]

TESTWITH THE FULL COMMAND  IN THE CONFIG FILE i.e ip **access-list** does not work :+1:
fatal: [dub-dc-lb05-ta-1]: FAILED! => {
    "changed": false,
    "commands": [
        "no ip access-list ABCD",
        "remark ##MANAGED BY CAPIRCA NO MANUAL CHANGES ALLOWED##,
        "remark stats-per-entry",

[2017-06-27 13:35] Kiarashz opened #26137 "Make Ansible run <role>/vars/main.yml file if execution attribute is set."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

main.yml inside vars folder of roles
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default configuration

##### OS / ENVIRONMENT
Linux/Mac OS X

##### SUMMARY

It would be great if Ansible ran the main.yml file inside role_name/vars folder if execution attribute of the file was set. The filename may not be suitable for an executable file

[2017-06-27 13:53] 600833 commented on #25417
deleted

[2017-06-27 14:00] crazzy opened #26140 "ios_config doesn't work, feeds garbage data to router - ios_command works with same data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Needed these for the module to even connect to the router:
[code]

##### OS / ENVIRONMENT
Working on a fresh Ubuntu 16.04 trying to use ansible to manage a Cisco C6880-X running c6880x-adventerprisek9-mz.SPA.152-1.SY.bin

##### SUMMARY
The problem is that ios_config seems to be brok

[2017-06-27 14:00] watsonb commented on #19451
I'd love to see this feature added as we'd like to use the azure_rm modules to access the Gov Azure cloud.  For now, we will "hack" this using the information above by the OP (thank you for the information BTW).

[2017-06-27 14:02] andrewhowdencom commented on #26021
I appreciate you following it up. <3

[2017-06-27 14:05] mykaul commented on #25417
And now we are still missing engine.log.

May I ask (again) that we move the discussion to users@ovirt.org , as I assume this has nothing to do with Ansible, but something else, mis-configuration or mis-understanding? If it ends up in Ansible / ovirt-Ansible, we'll re-open this one.

[2017-06-27 14:17] 600833 commented on #25417
deleted

Victor,

On Tue, Jun 27, 2017 at 4:06 PM, Yaniv Kaul <notifications@github.com>
wrote:

[2017-06-27 14:22] ghost opened #26141 "template with default empty string as filter returns None."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template module, jinja 2.8

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
Debian stretch

##### SUMMARY
`default('')` returns None instead of empty string

##### STEPS TO REPRODUCE
[code]

[code]

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

----

changing `default('')` to `default(

[2017-06-27 14:24] shshnkTrxcn commented on #22691
Any updates on this?

[2017-06-27 14:48] Constantin07 commented on #25981
@adrianmkng

It turns out it waits for mount target life cycle state to become available not only for the EFS state.
EFS state becomes available very fast.

Here are my test results:

to create:
[code]

if I omit the target it's pretty fast:
[code]

Tested on ansible version 2.4.0 (devel branch).

[2017-06-27 15:08] jpsenior commented on #25632
Thanks for patching this @Akasurde  - I am travelling on business and will be able to test in a few days when I return.  I greatly appreciate this =)

[2017-06-27 15:19] machacekondra commented on #25417
In the engine.log I see that it tries to connection to 10.11.8.190, which is NFS not iSCSI:

2017-06-26 21:40:35,950 ERROR [org.ovirt.engine.core.vdsbroker.vdsbroker.DiscoverSendTargetsVDSCommand] (default task-15) [] Command 'DiscoverSendTargetsVDSCommand(HostName = pdx1cr207, DiscoverSendTargetsVDSCommandParameters:{runAsync='true', hostId='3a1b5b1c-9421-4f94-b86f-7b6109c45269', connection='Stor

[2017-06-27 15:21] jean-christophe-manciot opened #26146 "Error with paramiko 2.1.0 <--> 2.2.1: Unicode-objects must be encoded before hashing"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command
but I suspect all commands are impacted

##### ANSIBLE VERSION

**Both latest stable & unstable** versions:
[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 30
roles_path = /home/actionmystique/Ansi

[2017-06-27 15:31] 600833 commented on #25417
deleted

[2017-06-27 15:33] 600833 commented on #25417
deleted

[2017-06-27 15:34] joemsanchez commented on #24411
I haven't found a resolution to this as of yet.  Good to see I'm not the only one, hopefully we'll get some answers soon

[2017-06-27 15:39] kayrus opened #26148 "ansible requires iproute2 package for network facts"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

setup module

##### ANSIBLE VERSION

ansible 2.3.1

##### CONFIGURATION

default

##### OS / ENVIRONMENT

targeet host without iproute2 package

##### SUMMARY

https://github.com/ansible/ansible/blob/v2.3.1.0-1/lib/ansible/module_utils/facts.py#L2460

This information should be avaialbe in facts documentation. And there

[2017-06-27 15:52] yabhinav commented on #25147
Ansible Env  ansible_env.PATH doesn't load path properly and hence need to add /sbin/ for initctl to be read by module

[code]

[2017-06-27 17:43] jmighion opened #26154 "network_group_modules from ansible.cfg gets loaded incorrectly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

constants.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY

If you use the network_group_modules option in ansible.cfg, it gets loaded incorrectly in constants.py. Even using the default that's provided in ansible.cfg, just using it will cause TaskExecutor._get_action_handler to load the

[2017-06-27 18:09] briceburg commented on #22340
I'd prefer to be able to set the default value of `any_errors_fatal` in ansible.cfg as well. It can be false for compatibility and to match existing behavior.

We use ansible inside tooling containers and have a unified ansible.cfg where this makes a lot of sense and keeps us from having to bloat each playbook.

[2017-06-27 18:16] saichint opened #26155 "nxos_acl_interface not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_acl_interface

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I2(2e)

##### SUMMARY
When we run nxos_acl_interface playbook, it is not idempotent. The same playbook applied twice shows the result as 'changed'.

##### STEPS TO REPRODUCE
Playbook:
- hosts: nxos
  conn

[2017-06-27 18:17] n0trax commented on #26128
@mohsenSy thank you for this report.

Could you be so kind and have a look at issue #20288 and PR #20341. The problem is discussed in detail there.
Using the symlinks in `/etc/apache/mods-enabled` for module status detection is a bad idea, because then apache2_module will no longer work on SUSE based systems.

[2017-06-27 18:51] s-hertel commented on #14593
I'm opening this back up in lieu of #25992 as requested, since all the conversation has been going on here. On the latest devel I am able to use the registered ec2 instances as expected.
[code]
But I'll see if I can find corner cases and test the last couple versions of Ansible as well.

[2017-06-27 18:53] s-hertel commented on #25992
Thanks for opening this! Unless actively following something that is closed, conversation on closed issues do tend to fall through the cracks. Closing this since I reopened #4593 as requested.

[2017-06-27 18:53] #25992 closed, assigned to nobody

[2017-06-27 19:21] trzejos opened #26158 "$ErrorActionPreference = "Stop" causes win_find to fail when searching in a path with only empty directories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_find

##### ANSIBLE VERSIONS
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible running on CentOS 7.3
Attempting to control Windows Server 2012 R2

##### SUMMARY
Using win_find on a path with only empty directories. The task will run into a fatal error with the following output:
[code]

##### STEPS TO REPRODUCE
On a wi

[2017-06-27 19:37] jborean93 commented on #26158
@trzejos, thanks for the issue, I'll have a look sometime today and see what a proper fix would be.

[2017-06-27 19:50] rahushen opened #26159 "nxos_bgp_af - client_to_client property is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_bgp_af

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY

The property client_to_client is not idempotent. The same playbook applied the second time reports failed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected playb

[2017-06-27 22:03] jctanner commented on #20291
needs_contributor

[2017-06-27 22:36] nitzmahone commented on #24062
Yep, this is a side-effect of the change from `psobject` to `dictionary`- hoist by my own petard... We'll try to get this fixed for 2.3.2.

[2017-06-27 23:23] arielyum opened #26162 "mtu and interface parameter not available on nxos_system"
Since the nxos_mtu module has been deprecated and according to the module documentation it will be replace by mtu parameter for nxos_system module. I've checked the nxos_system module but it doesn't have the mtu parameter only system_mtu. I couldn't see interface parameter as well on the nxos_system removing the capability to set mtu on per interface basis.

##### ISSUE TYPE
- setting mtu on per i

[2017-06-28 00:05] StephenWithPH commented on #25718
Per @s-hertel's comment:

I think that's the real issue. Boto3 is the way forward.

Having said that, it looks like this will be significant work. Any thoughts from the Ansible team regarding a path forward? Given the lack of test coverage and the scope of ec2.py, I'm reluctant to dive in without a conversation.

[2017-06-28 01:00] jborean93 commented on #23677
Closing as fixed in 2.3.

[2017-06-28 01:00] #23677 closed, assigned to nobody

[2017-06-28 02:20] chenzhiwei opened #26163 "Ansible can't handle the default python interpreter on Ubuntu 16.04"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### Component
Ansible Core

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The default python interpreter on Ubuntu 16.04 is `python3`, and Ansible uses `python` by default which caused the following error:

[code]

(I know how to solve this issue, but want to make sure Ansible work well on a largely used OS by default)

[2017-06-28 03:05] jborean93 commented on #26158
Hey @trzejos are you able to look at https://github.com/ansible/ansible/pull/26164 and see if it fixes your issue. I've created a test case and tried it locally and it fixed it on my end.

[2017-06-28 04:50] trondhindenes opened #26165 "win_chocolatey exit codes are note handled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### SUMMARY
Several chocolatey packages exit with the installer's exit code, such as 3010 indicating a required restart.
There's currently no way to pick this up in win_chocolatey, without elaborate failed_when/register patterns.

##### STEPS TO REPRODUCE
The following playbook consistently produce

[2017-06-28 05:00] jhawkesworth commented on #26165
I think dag has an open PR regarding this.  If I recall the issue is that ansible is enforcing that a non-zero rc always means a failure, which it doesn't here, or in robocopy either.  Once the PR is merged it would be up to modules to determine if a non-zero rc actually means failed.

[2017-06-28 05:16] jhawkesworth commented on #26165
I found the PR mentioned above - https://github.com/ansible/ansible/pull/25950 - looks like it has been merged a few hours ago.  I suggest trying latest 2.4 devel

[2017-06-28 05:29] du5tball commented on #26039
@krzysztof-magosa The specific implementation doesn't, apparently. Maybe switching should be considered, as the last real code change to that library was nearly two years ago. Yes I'm happy with fact caching, it speeds up successive runs by quite a bit, and at a later stage, the fact gathering will run independently in the background, so that I don't care how long the initial gathering takes.

[2017-06-28 05:57] chenzhiwei commented on #26163
Found a page: http://docs.ansible.com/ansible/python_3_support.html

Seems Ansible 2.3.0.0 does not support python3 well.

[2017-06-28 05:57] machacekondra commented on #25417
It's using the host, which you will pass  as `host` parameter to the task for iscsi discover.

As Yaniv said, can you please share your issue on our mailing list:

 users@ovirt.org

There are people with knowledge of iSCSI and they will help you.

[2017-06-28 06:46] mohsenSy commented on #26163
I had the same issue and solved it manually by installing the `python` package using `apt`.

[2017-06-28 07:16] kassiansun commented on #26163
@chenzhiwei ansible uses the widely-adopted `/usr/bin/env python` directive. From the [python official tutorial](https://docs.python.org/3/tutorial/interpreter.html#id2), if you don't have `python 2.x` installed, you will not have this executable.

[2017-06-28 07:20] mohsenSy commented on #26128
@n0trax

I looked at the issue and PR, I have a good solution to the problem and hope it is cross-platform, I need time to test it on multiple platforms.

When we need to enable module `x` we call `a2enmod x` and check the exit code if it is non zero return an error message if it is zero check the standard output for this string `Module x already enabled` this means that the module was enabled and

[2017-06-28 08:31] esalome commented on #23539
Hi,
Issue 3591 on Ansible module score in 2016 already stated that commands (such as "no username") requiring multilines input were not supported by ios_config. This is a major issue :
I am evaluating Ansible for use by sensible organizations and this is really a pain.

I am waiting for 2.4.0 then, and meanwhile I'll use "ios_user" newly merged into ansible for the specific case of "no username" i

[2017-06-28 08:41] lewer commented on #6854
... and still in 2.3.1.0 ...

[2017-06-28 08:55] MBlagui commented on #23705
Same all azure_rm modules fail with 2.0.0rc6 & 2.0.0 release.
Playbooks work file rc5 only.

[2017-06-28 09:05] gundalow commented on #26162
@arielyum Thank you for the bug report, it does sounds like we've missed a use-case when implementing `nxos_system`.

For the moment you can safely continue to use `nxos_mtu`

[2017-06-28 09:05] gundalow commented on #26162
Core Team: We generally don't backport features, though if this is a simple fix then I think we should add this into `devel` and `stable-2.3`.

[2017-06-28 09:20] Mehdi-Bl opened #26171 "azure_rm_resourcegroup state:absent unable to delete when have resources"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard & works fine for creating resources

##### OS / ENVIRONMENT
Centos 7.3

##### SUMMARY
Destroying resources group will fail if you have children resources.

##### STEPS TO REPRODUCE
Create resource group with some resources in it then try to delete resource group

[2017-06-28 09:21] gundalow commented on #26146
@jean-christophe-manciot Thank you for the detailed investigation. I'll add this onto the agenda for the meeting today

[2017-06-28 09:24] n0trax commented on #26128
This won't work either. On SUSE base platforms the return code of a2enmod/a2dismod is always zero.

The problem you describe has to be fixed by the maintainer of the php packages, because the php5.6 module identifies itself as php5 within httpd and not as php5.6.
The simultaneous installation of php5 and php5.6 is a special use case and we discussed in #20288 that we won't support this with apache

[2017-06-28 09:36] mohsenSy commented on #26128
@n0trax

Okay, I am closing this issue then.

[2017-06-28 09:36] #26128 closed, assigned to nobody

[2017-06-28 09:41] trishnaguha commented on #25608
@patbdti I am unable to reproduce the issue.

[2017-06-28 09:43] pdev77 opened #26172 "ansible filesystem module with xfs filesystem inconsistently idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
filesystem module

##### ANSIBLE VERSION
ansible-2.3.0.0-3.el6.noarch

##### CONFIGURATION
[privilege_escalation]
become=True
#become_method=sudo
become_user=root
#become_ask_pass=False
pipelining = True

#if True, make ansible use scp if the connection type is ssh
#(default is sftp)
scp_if_ssh = True

##### OS / ENVIRONMENT
RHEL7.3

##### SUMMA

[2017-06-28 09:50] aes opened #26173 "after 2.2.0.0, unarchive no longer finds handler for .tar.gz if extra_opts is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
OK: ansible-2.1.6.0,
not OK: ansible-2.1.6.0 up to devel (ansible-playbook 2.4.0)

##### OS / ENVIRONMENT
linux amd64 (Ubuntu 16.10)

##### SUMMARY
Unarchive complains that it cannot find a handler for tar files:
[code]

##### STEPS TO REPRODUCE
[code]
plays/demo.yml:
[code]

##### EXPECTED RESULTS

Result using

[2017-06-28 10:05] privateip commented on #24411
@joemsanchez you are not in enable mode and thus cannot run `show running-config` per IOS policy.  Add `authorize: yes` to your provider argument to enter enable mode upon connection

[2017-06-28 10:26] Constantin07 opened #26176 "ec2_remote_facts doesn't return instance type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/amazon/ec2_remote_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
The returned output structure doesn't include the EC2 instance type as attribute.

##### STEPS TO REPRODUCE
Just query an existing EC2 instance

##### EX

[2017-06-28 10:36] machacekondra opened #26177 "ovirt_disks: Can't download qcow2 disk"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No.

##### OS / ENVIRONMENT

No.

##### SUMMARY

Downloading a qcow2 disk via `ovirt_disks` module fails on `IncompleteRead` exception.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The disk with id `46c70e50-6355-4494-8562-88ede29b3882` should be downloaded .

#####

[2017-06-28 11:34] pablodav commented on #25298
After some time of tests, now the message error changed to this:

[code]

`An access denied \r\nerror occurred when registering scheduled job definition ansible-win-updates.`

Looks like thie behaviour changed now, and there is a clear Access Denied when it tries to register the job.

I need to look more into a solution yet.

[2017-06-28 12:11] reegnz commented on #20492
Still happens to me on ansible 2.3.1.0:
[code]

I am preparing a virtualenv only containing docker-compose, it pulls in docker as a transitive dependency.
[code]

The venv-requirements.txt file looks like this:
[code]

I install a virtualenv on my remote machine into /opt/ansible/venv with the pip requirements file above, and I override ansible_python_interpreter with the following script /opt/ans

[2017-06-28 12:55] reegnz commented on #20492
Turns out my quoted python-venv script was wrong and it works.
This was my script, not the one I quoted...
[code]
Notice missing 'venv' in the path.

Sorry for the inconvenience.

[2017-06-28 13:01] patbdti commented on #25608
@trishnaguha - I have verified the issue this morning using a Cisco MDS9148S switch running NX-OS 8.1(1) and ansible 2.3.1.0.  If I try to enable feature "port-security" using the nxos_feature module, ansible tries to enable the "eth_port_sec" feature, which doesn't exist on the switch.  I don't know if that feature exists on other nx-os devices, but if definitely does not on my switches.

[2017-06-28 13:16] 600833 commented on #25417
deleted

[2017-06-28 13:25] SethosII opened #26181 "apt: autoremove doesn't remove"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`apt` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`cow_selection = tux` but nothing else ;)

##### OS / ENVIRONMENT
Ubuntu 16.04.2 for everything

##### SUMMARY
Using the `apt` module with only the `autoremove` option doesn't  remove anything allthough there are plenty of old packages.

##### STEPS TO REPRODUCE

[code]

Then run wi

[2017-06-28 13:29] SethosII commented on #21472
@abadger Thanks, I created a new issue: https://github.com/ansible/ansible/issues/26181.

[2017-06-28 13:29] 600833 commented on #25417
Can you share vdsm log?

On Wed, Jun 28, 2017 at 4:16 PM, victor 600833 <victor600833@gmail.com>
wrote:

[2017-06-28 13:40] jean-christophe-manciot opened #26182 "Cannot default an undefined variable to another defined variable inside a dictionary"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

default filter

##### ANSIBLE VERSION

**Both latest stable & unstable** versions:
[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 30
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars = y

[2017-06-28 13:47] bcoca commented on #26182
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, it seems you use `{{a

[2017-06-28 13:47] #26182 closed, assigned to nobody

[2017-06-28 13:47] trzejos commented on #26158
hey @jborean93 PR #26164 seems to correct the issue. I didn't do any extensive testing, but the bug here seems to be resolved by it.

[2017-06-28 13:55] jean-christophe-manciot commented on #26182
@bcoca It is just a **typo** in my report: my "connections.yml" file has a **double curly braces** at the end and **the issue is still there**.
[code]
I've corrected my original post.
Are you saying that this use case should not work?

[2017-06-28 13:56] bcoca commented on #26163
@kassiansun you are confusing issues, as a controller Ansible does use `env` for itself, but this is for modules targeting remote systems. Sadly this is not as 'widely adopted' as you state so we cannot do the same for modules.

@chenzhiwei we are aware of this but as popular as the newest Ubuntu might be the fact is that the overwhelming majority of systems out there are still using python2 by de

[2017-06-28 13:56] #26163 closed, assigned to nobody

[2017-06-28 13:59] bcoca commented on #26182
It has single brace in the error response, but  that is still not relevant as the undefined error you are getting is caused by an earlier use of a `{{ansible_host}}` .. seen in the error response, not by the line you highlight.

[2017-06-28 14:24] tstringer commented on #23705
This is currently being worked on in #24710. The resolution will be released shortly. Thank you for your patience as we resolve this issue.

[2017-06-28 14:29] jean-christophe-manciot commented on #26182
Sorry, my bad.

However, there is still an issue with that filter:
[code]
Although I have no issue connecting manually to the same hosts with the same hostnames as shown in my first post. They are both defined in /etc/hosts:
[code]

If you try it, you should encounter the same issue with the same ansible version(s).
Also, I use paramiko 2.0.6.

[2017-06-28 14:48] jctanner commented on #12033
@ph0en I can not reproduce this problem with 1.9.x or 2.x ...

[code]

[code]

[code]

[2017-06-28 14:49] jctanner commented on #12033
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

Testing this on the version you have specified, we cannot reproduce this problem.

Our reasons and evidence for this are:

   See testcase in previous comment.

And we suggest that:

   Recheck your test scenario and validate the criteria.

As such, we are most likely going to close this ticket.  Should you dis

[2017-06-28 14:49] #12033 closed, assigned to nobody

[2017-06-28 15:05] s-hertel commented on #23602
needs_info

[2017-06-28 15:14] gibfahn opened #26187 "Prefer GNU make if available"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Make

##### OS / ENVIRONMENT
Non Linux OS (e.g. FreeBSD or AIX).

##### SUMMARY

It would be great if [the `Make` command](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/make.py) did similar GNU make detection and preference as [the `unarchive` command](https://github.com/ansible/ansible/blob/devel/lib/ansible/modul

[2017-06-28 15:20] 600833 commented on #25417
deleted

[2017-06-28 15:38] HanXHX commented on #25960
I confirm this problem: Debian 9, Ansible 2.3.1, MariaDB 10.2

[2017-06-28 15:47] conlon commented on #25498
Bueller? Bueller?

Boto docs say that only 50-100 launch configs can get returned by a single API call http://boto3.readthedocs.io/en/latest/reference/services/autoscaling.html#AutoScaling.Client.describe_launch_configurations
and the module is definitely only using one call https://github.com/ansible/ansible/blob/1d0a629dcc87c49bf2b97a8922629f2e8952c911/lib/ansible/modules/cloud/amazon/ec2_lc_fac

[2017-06-28 15:57] tbeiei opened #26188 "i can't connect"
root@jijt-dev:~# ansible 10.0.0.1 -m ping
10.0.0.1 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ash: /usr/libexec/sftp-server: not found\nConnection closed\r\n",
    "unreachable": true
}

[2017-06-28 16:19] jean-christophe-manciot commented on #26182
@bcoca
Do you need a new bug report to be open?

[2017-06-28 16:50] bcoca commented on #26188
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-28 16:50] #26188 closed, assigned to nobody

[2017-06-28 16:50] jhkrischel opened #26190 "Allow decrypting of files with vaulted variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
ansible-vault decrypt allows the decryption of completely encrypted yaml files, but it will not decrypt vaulted variables in an unencrypted yaml file with encrypted variables.

It would be nice, for CLI purposes, to have decrypt take

[2017-06-28 17:10] Aralin opened #26191 "Update docs for module set_stats to say how it is displayed"
Issue Type: Documentation Report
Component name: module/set_stats
Ansible Version: 2.3

Summary:
Please update the documentation for set_stats module to say to tell the user that to display the stats collected by the set_stats module, the SHOW_CUSTOM_STATS has to be set to true by either "show_custom_stats=true" in the ansible.cfg or by setting ANSIBLE_SHOW_CUSTOM_STATS

Expected Results:
Learn fr

[2017-06-28 18:12] lmazuel opened #26195 "Profile and ApiVersion on Azure brainstorm"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Azure Cloud Module
Azure inventory script

We have a discussion [in this PR](https://github.com/ansible/ansible/pull/23494) about authentication and routing to the correct endpoints for the Azure modules, considering Public Azure / Gov / German / China and even Azure Stack. I wanted to open an issue about the step after: ApiVersion and profile

[2017-06-28 18:39] #21622 closed, assigned to nobody

[2017-06-28 18:57] dustymabe commented on #25651
any chance of getting @mscherer fix merged?

[2017-06-28 19:18] gundalow commented on #26177
resolved_by_pr 26179

[2017-06-28 19:38] s-hertel commented on #25718
Hi @StephenWithPH. Yes, Boto3 is the way forward and it will be a significant amount of work. The first step toward that will be writing integration tests so we can verify that the output stays identical during the boto -> boto3 transition. If you're interested to start working on this I will definitely help in any way that I can.

[2017-06-28 20:22] mikewiebe commented on #25541
@Qalthos Fix looks ok.  It no longer errors out for the nxapi transport.

[2017-06-28 20:23] rcolanero commented on #21328
Seeing the same behavior in a new role using Ansible 2.3.0.0. Role has an include tasks/foo.yml in the role's tasks folder. When calling the role via "roles:" at start of a play it works fine but when I use "include_role:" in the middle of tasks it fails with "does not exist, or is not readable".

[2017-06-28 20:36] tstringer commented on #26195
In my opinion, going with the 2nd option to have conditional checks within the module is the best approach for a couple of reasons:

1. The users shouldn't have to know the difference or how it works under the covers
1. Having multiple copies (even of different api versions) for a single module would be a maintenance nightmare especially as api version counts increase
1. End users would have to ch

[2017-06-28 20:45] mikewiebe commented on #25513
@Qalthos Fix #25973 does resolve the `AttributeError: 'NoneType' object has no attribute 'group'`.  I noticed that now when I run the tests the module fails because my test includes the `lookup_source` property.  This is documented as a valid property but a quick search through the code reveals that it's not an actual supported property.

[code]

As one would expect, I get the following error when

[2017-06-28 20:48] mikewiebe commented on #25513
Here is the reference in the comments section.

https://github.com/Qalthos/ansible/blob/b2c98ef4f28b584faaa98e59569194dd513e4aef/lib/ansible/modules/network/nxos/nxos_system.py#L92

[2017-06-28 20:53] greg-hellings opened #26199 "jenkins_plugin - incorrect "changed" and silent install failures"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration

##### OS / ENVIRONMENT
This seems independent of versions, but I see it when running from Fedora while controlling Fedora, CentOS 7,  and RHEL 7 machines with Jenkins 1.651.3 running on them.

##### SUMMARY
Some plugins, after being installed, are either not

[2017-06-28 21:00] mikewiebe commented on #25511
@Qalthos This fix passes our CI tests.

[2017-06-28 21:03] mikewiebe commented on #25509
@Qalthos Our tests pass with this fix.

[2017-06-28 21:18] jborean93 commented on #26158
Thanks for raising the issue @trzejos, has been merged into devel and cherry picked to the next 2.3 release https://github.com/ansible/ansible/commit/c0ff449ac8d1ed36546bab7586da6d885af5d5cd

[2017-06-28 21:18] #26158 closed, assigned to nobody

[2017-06-28 21:20] levequej commented on #19973
@alexissavin thx for the update !

[2017-06-28 21:34] colin-nolan commented on #22382
@Dirrk Hey. I would like to do exactly as you describe so I am very interested in this feature. In our setups, private keys get shipped in vaults, meaning provisioning *should* be able to happen straight away from any machine with Ansible and the vault password; it would be nice not to have to juggle ssh keys or setup ssh-agents first!

Have you done any more work or had further discussions follow

[2017-06-28 21:46] arielyum commented on #26162
Cool thank you very much. I'm very glad that it can be incorporated to the stable 2.3 release.

Cheers. ;-)

[2017-06-28 21:47] MBlagui commented on #26171
updated

[2017-06-28 22:19] dagwieers commented on #23843
Yes, I can confirm that this is related to the OS pyOpenSSL package (that is required by rhnlib for one). This is going to be a deal-breaker for using winrm with credssp on RHEL7 in Enterprise environments :-(

[2017-06-28 22:45] tauputa opened #26202 "nxos_interface module will not reset interfaces to theyre defaults. It returns the interface you are trying to default does not exist"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect the interface to be set to its default. The interface exists because I can see it on the switch and update it with the interface module when using state: present

##### ACTUAL RESULTS

[c

[2017-06-28 22:47] trondhindenes commented on #26165
oh nice! Closing this (will re-open if the PR doesn't solve it, but I'm sure it will)

[2017-06-28 22:47] #26165 closed, assigned to nobody

[2017-06-28 22:53] tauputa commented on #26202
The problem occurs because the list body = execute_show_command(command, module,command_type='cli_show_ascii')[0]  is always empty - even though the command variable: command = 'show run interface ' + interface  is not empty and the command runs quite happily on the nexus we are configuring - I have included the is_default_interface function from the module below:

def is_default_interface(interfa

[2017-06-28 23:12] nitzmahone commented on #26195
I'd also vote for "deal with it inside the module"- I'd suspect most users don't want to know of those particular details, so the more we can hide that, the better. Depending on how the profile stuff works out, we might or might not need to expose an option on the module and/or our existing "profile" stuff to allow it to be overridden for wacky endpoints, but I'd almost be inclined to "jump off th

[2017-06-28 23:36] #23653 closed, assigned to nitzmahone

[2017-06-28 23:36] #24062 closed, assigned to nitzmahone

[2017-06-28 23:36] #22938 closed, assigned to nobody

[2017-06-28 23:36] #25156 closed, assigned to nobody

[2017-06-28 23:38] #25541 closed, assigned to Qalthos

[2017-06-28 23:40] #25509 closed, assigned to Qalthos

[2017-06-29 00:41] #24910 closed, assigned to nobody

[2017-06-29 00:52] kassiansun commented on #26163
@bcoca I thought he was talking about `ansible` executable xD

[2017-06-29 00:55] kassiansun commented on #26173
@aes The right way to use extra_opts is:
[code]
I think ansible didn't do `shlex` before `2.1.6.0`, but now it will escape the "unsafe" options with `subcommand.Popen`, in your case, there's a space inside the option, so python escape it to `'--transform s/^xxx/yyy/'`.

I will submit a MR to make document clear about this.

[2017-06-29 05:17] shitalm commented on #8603
+1

[2017-06-29 05:34] jhawkesworth commented on #26191
Thanks for digging in and find this out - I had been wondering how to get them to display too.

[2017-06-29 05:37] trishnaguha commented on #20269
@bostjanfe The issue should be fixed in `2.3.3` release. Please upgrade your ansible version.

[2017-06-29 05:37] #20269 closed, assigned to trishnaguha

[2017-06-29 05:46] thapakazi commented on #10179
thanks @jonathanhle && @mattfirtion

[2017-06-29 06:50] andmos commented on #22908
This would be nice - and is actually what's keeping us from using the role. Today we use some custom PowerShell-scripts to be able to set `-OuPath "{{ domain_ou_path }}"` as such: `domain_ou_path: OU=Team SomeTeam,OU=Application Servers,OU=Domain Servers,DC=mydomain,DC=local`

[2017-06-29 07:29] TomLous commented on #25218
For all of you who come to this thread based on googling the error message, but have no experience with patching an ansible python library (as I did):
- Find the libcloud location on your system: (for me /usr/local/Cellar/ansible/2.3.1.0/libexec/lib/python2.7/site-packages/libcloud)
- Download the patch to apache/libcloud#1010 (just append .patch to get the patch file) https://patch-diff.githubuse

[2017-06-29 08:16] Haitianisgood commented on #22351
I have sold this issues via set  liking in my shell
[code]

[2017-06-29 08:18] jean-christophe-manciot opened #26224 ""Bad Address" Error when connecting to a hostname defined in /etc/hosts"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

**Both latest unstable** versions:
[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 30
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars = yes
hash_beha

[2017-06-29 08:19] jean-christophe-manciot commented on #26182
A new bug report has been posted [here](https://github.com/ansible/ansible/issues/26224).

[2017-06-29 08:38] wil opened #26226 "win_nssm: Setting "ObjectName" requires both a username and password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- win_nssm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No ANSIBLE_ environment variables set

Content of `ansible.cfg`:
[code]

##### OS / ENVIRONMENT
Control machine: Ubuntu 16.04.2 LTS
Managed machine: Windows Server 2012 R2

##### SUMMARY
`win_nssm` fails to configure credentials for the service with the following error:
[code]

#####

[2017-06-29 08:55] gundalow commented on #26190
@alikins I believe you look after vault

[2017-06-29 08:57] gundalow commented on #26173
resolved_by_pr 26217

[2017-06-29 09:04] mikekrasn opened #26227 "clear_host_errors not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`plugins/strategy/__init__.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Fresh install

##### OS / ENVIRONMENT

RHEL
##### SUMMARY

`meta: clear_host_errors`   is not working as expected
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

Expected to use unreachable host in the subsequent task. As p

[2017-06-29 09:14] jean-christophe-manciot commented on #26224
If I change the provider structure to a simple:
[code]
the issue is still there, meaning it is not linked to "defaulting an undefined variable to another defined variable inside a dictionary".
Investigating inside the log, I cannot understand how ```paramiko.transport``` gets connected (it needs to have a correct IP address of the target device) and then the ```14, 'Bad address'``` error message:

[2017-06-29 09:41] jean-christophe-manciot commented on #26224
Following advices in the document "[how to debug network issues](https://github.com/ansible/ansible/pull/23503/files)" about how to handle ```Error: "connecting to host <hostname> returned an error" or "Bad address"```:
[code]
does not solve the issue.

[2017-06-29 09:47] jean-christophe-manciot commented on #26224
~/.ansible/pc contains a strange ```.ansible_pc_lock``` once the playbook has completed.
Removing it before running it again does not solve the issue.

[2017-06-29 09:56] colin-nolan opened #26229 "Consul tests don't run in CI as they have not been migrated to ansible-test"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`consul_acl` module integration tests

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
CI

##### SUMMARY
When making changes to the `consul_acl` module, I noticed that the related integration tests passed, regardless of how wrong the implementation was!

So long as the tasks that make up the tests were syntact

[2017-06-29 10:16] jean-christophe-manciot commented on #24466
Same issue here with ```asa_command```:
[code]
with latest unstable ansible:
[code]

[2017-06-29 11:11] dizeee commented on #23800
@Akasurde Yes, the problem persists. Running Ansible on macOS Sierra 10.12.5.
[code]

The task:
[code]

Here's output with Ansible 2.3.1.0:
[code]

And with latest devel branch:
[code]

I don't wave rights to reopen the issue.

[2017-06-29 11:30] robbmanes commented on #26148
BSD facts do this without iproute2, wherein they use their version of `route` and `ifconfig` to determine the facts for all of the interfaces and determine which holds the default route - you can see this [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/network/generic_bsd.py#L48).  Since these have been present on every distro I've ever worked on, maybe those wo

[2017-06-29 11:33] vincent-legoll commented on #23392
It is not only a poorly documented thing, as the error message is not really helping.

Maybe that's a separate issue though.

[2017-06-29 11:39] jainnikhil30 opened #26231 "RFE: Allow ssh key based authentication for F5 modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

F5 modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Allow ssh key based authentication for F5 modules. F5 allows ssh key based authentication outside Ansible but there is no way to use it with any of the F5 modules.

[2017-06-29 11:41] gundalow commented on #26231
@caphrim007 FYI

[2017-06-29 11:54] aurelienmaury commented on #25402
Hi, I ran into the same bug I guess, and after testing on Debian8, Debian9 and CentOS7, compared libraries versions and so on. I found a little patch that solves the problem. Its my first dive into ansible code, so please measure impacts of this:

[code]

[2017-06-29 12:07] Akasurde commented on #23800
@dizeee This fix is not backported to Ansible 2.3 branch, that is why it is not working there.

Could you please open a new issue for '403 forbidden' issue?

[2017-06-29 12:14] jhawkesworth commented on #13706
Just to say @druidushka workaround solved this problem for me - I now get a different error which I will raise on a separate issue.

[2017-06-29 12:15] #26177 closed, assigned to nobody

[2017-06-29 12:20] garfieldairlines opened #26236 "Junos commands and XML format issues related with Python 2.7"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_command (but not only !)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux 4.4.0-21-generic
##### SUMMARY

By using the junos services by using "commands" or "rpcs" I have issues with XML and python, even with a empty "commands". I tried the commands directly on my Juniper switch where it works, but ansib

[2017-06-29 12:23] sayantandas opened #26237 "[vmware_guest] network does not connect on power up when cloned from a Linux template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default config
##### OS / ENVIRONMENT

[code]

##### SUMMARY

network VLAN does not connect when  when `state: "poweredon" ` is set in playbook.
VM is cloned from a template. Issue seen in Linux only
##### STEPS TO REPRODUCE

Below is the playbook which I used for RHEL 7.1, Ubunt

[2017-06-29 12:30] jhawkesworth opened #26238 "win_updates; state=searched module failure Exception calling "Search" with "1" argument(s): .. "Exception from HRESULT: 0x8024401C .. at DoWindowsUpdate, : line 72\r\nat , : line 222"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_updates
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I am using latest version of win_updates.ps1 / py (following merge of https://github.com/ansible/ansible/pull/26208) files in my library folder downloaded thus:
cd /home/SMCORP/jhawkesworth/ansible/library
 wget https://github.com/ansible/ansible/raw/devel/lib/ansible/modules/wind

[2017-06-29 12:46] ganeshrn commented on #26236
@garfieldairlines Are you seeing this issue only for `get-software-information` or for other rpc's as well?

[2017-06-29 12:47] #23825 closed, assigned to nobody

[2017-06-29 12:48] garfieldairlines commented on #26236
I didn't tried any other RPC, but any commands (even a empty "" field) will result in the same error.

[2017-06-29 12:54] aleskiontherun opened #26239 "Apt module fails to download deb package with 403 http error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False
pipelining = True

##### OS / ENVIRONMENT

macOS Sierra 10.12.5 (Client) / Ubuntu 16.04 (Server)

##### SUMMARY

Apt module can't download deb package.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Deb is downloaded and installed.

##### ACTUAL RESU

[2017-06-29 12:55] dizeee commented on #23800
@Akasurde #26239

[2017-06-29 13:11] DerSalvador opened #26240 "code typo causes runtime exception and post mortem"
removed

[2017-06-29 13:15] jhawkesworth commented on #26238
Not occurring consistently.  Other VMs working ok.

[2017-06-29 13:37] sdrose opened #26241 "cs_cloudstack invocation failure due to assumed over-restrictive policies"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cs_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

My user account in Cloudstack installation is able to register templates, both by the web interface as well as by API commands, but not by the cs_template module..

Here is an example API registration of a template using Cloudstack-CLI by NIW

[2017-06-29 13:40] erjohnso opened #26243 "module_utils/gcp.py - operation response polling only supports 'global' resources"
Need an update to GCP module_utils operation response polling to support both Regional and Zonal resources.  It currently only supports Global resources.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/gcp.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `GCPUtils.execute_api_client_operation_req()` method only supports Glo

[2017-06-29 13:48] lakki4444 opened #26244 "Ansible-Timed out waiting for scheduled task to start"
FAILED! => {"changed": false, "error_record": {"CategoryInfo": {"Activity": "", "Category": 14, "Reason": "RuntimeException", "TargetName": "Timed out waiting for scheduled task to start", "TargetType": "String"}, "ErrorDetails": null, "Exception": {"Data": {}, "ErrorRecord": {"CategoryInfo": "NotSpecified: (:) [], ParentContainsErrorRecordException", "ErrorDetails": null, "Exception": "System.Man

[2017-06-29 14:15] jhawkesworth commented on #26244
Please can you fill out the issue template, without this it is very hard for others to reproduce and investigate your issues.

[2017-06-29 14:18] holmesb commented on #15915
+1 I'm experiencing this in v2.4.  Please reopen this issue or advise if there's another one that is being used to track.

[2017-06-29 14:22] #25511 closed, assigned to Qalthos

[2017-06-29 14:23] resmo commented on #26241
@sdrose Thanks for the report, I see the problem. fixing.

[2017-06-29 14:30] SideHustleDev opened #26246 "Unable to use privilege escalation when calling playbook from python"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
become, become_user, become_method

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking=False

##### OS / ENVIRONMENT
Ubuntu 14.04
Python 2.7.6

##### SUMMARY
I am calling an ansible playbook programmatically from a Python script. I ssh into each host as a specific user with a specific private key file. In the playbook I need to

[2017-06-29 14:35] liquidat opened #26247 "Dynamic inventory script cloudforms.py can generate recursive dependency loop inventories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/contrib/inventory/cloudforms.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The CloudForms inventory script can easily generate inventories which are not valid due to recursive dependency loops when things are "managed".

##### STEPS TO REPRODUCE
1. Set up CloudForms
2. Configure Cloud

[2017-06-29 14:40] resmo commented on #26241
resolved_by_pr #26248

[2017-06-29 14:45] joequery commented on #12862
Our playbooks are becoming so large that invoking specific roles are taking a long time to run just from skipping over all the roles that don't match the specified tags. Being able to create a playbooks subdirectory and split up the playbooks would be much preferrable than littering the root project directory.

[2017-06-29 15:01] joequery commented on #12862
I'd prefer to not have to version symlinks.

[2017-06-29 15:04] samdoran commented on #26191
@Aralin Please let me know if #26250 fixes your issue.

[2017-06-29 15:29] sgohl opened #26252 "playbook: make hosts optional"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### SUMMARY

In my use case playbooks are almost always not host-dependent.
I write all sorts of general tasks and when I want to run them, I decide on which host/group.
But playbooks require the hosts option. It is very insecure to put "hosts: all" and then limit them, because if I forget to p

[2017-06-29 15:41] caphrim007 commented on #26231
@gundalow thanks for the mention.

@jainnikhil30 we'll take this RFE offline and track it over at the F5 Ansible module tracker here

https://github.com/F5Networks/f5-ansible/issues/261

Some background on this.

This feature is a non-trivial implementation due to roles that customers use. If we were only dealing with root, then this wouldnt be an issue. However several customers use non-root acco

[2017-06-29 15:43] #26241 closed, assigned to nobody

[2017-06-29 15:51] lmazuel commented on #19451
Hi @watsonb
We got a loooong discussion there https://github.com/ansible/ansible/pull/23494 that is related to this issue :)

[2017-06-29 16:10] resmo commented on #26252
This could be already done by templating hosts

[code]

and passing extra vars

[code]

[2017-06-29 16:15] resmo commented on #25911
@profhase this will be implemented by @marcaurele, see #26168

needs_contributor

[2017-06-29 16:21] gundalow commented on #26231
Closing as tracked in F5Networks/f5-ansible#261

[2017-06-29 16:21] #26231 closed, assigned to nobody

[2017-06-29 16:22] nsharmacovs commented on #19802
Is there any update on this issue .I am facing same on  Ansible 2.3.1.0
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'load_balancer_port'
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_2bIrbZ/ansible_module_ec2_elb_lb.py\", line 1359, in <modu

[2017-06-29 16:42] AllenKll commented on #19720
This still exists in version 2.4.0

[2017-06-29 16:54] #25928 closed, assigned to nobody

[2017-06-29 17:01] UncleFido commented on #24296
I must confirm the issue stejoo reported. We had a bit bigger jump from ansible-2.1.2.0-1.el7.noarch to 2.3.1.0-1.el7. With version 2.1.2.0-1 everything worked fine. Our code is:
[code]
And it fails with:

[code]

And the strange thing is, that it doesn't combine variable destination_dir with name. If the destination_dir is not defined, and default("/var/lib/libvirt/instances") is used instead, th

[2017-06-29 17:06] emmanuel-oginni opened #26256 "Template with lookup plugin gives wrong failure message if binary files are involved"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- template with lookup plugin to fetch files

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default settings
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

Templating fails with wrong message given below if there is a binary file. This occur when template module is used with lookup plugin.
The file that cause

[2017-06-29 17:21] nitzmahone commented on #26238
Pretty much any time we get a failure from one of the WU Client COM methods that's not reproducible on other hosts of similar config, it means the WU infrastructure is borked on that host. That error is one people have been hitting a lot with interactive Windows updates as well:
https://www.tenforums.com/windows-updates-activation/84588-windows-update-error-0x8024401c.html
I also see some referenc

[2017-06-29 17:41] nitzmahone commented on #26137
cc @bcoca - I suspect one of the new plugins would be a better way to handle this

[2017-06-29 18:13] nitzmahone commented on #26141
cc @abadger

[2017-06-29 18:27] holmesb commented on #21285
Same happens when trying to loop over tasks_from eg:
[code]
Get error "ERROR! Could not find specified file in role: tasks/{{ item }}".

[2017-06-29 18:35] abadger commented on #26141
Likely a jinja2 bug

[2017-06-29 18:42] abadger commented on #26141
Hmm... it's a difference in yaml.  The template is the same in both cases.  Thi smight not be a bug.

[2017-06-29 18:43] abadger commented on #26141
By yaml, I mean PyYaml which is what ```import yaml``` loads

[2017-06-29 18:55] #25505 closed, assigned to nobody

[2017-06-29 19:06] sdrose opened #26259 "Error wth cs_ISO module to register an ISO"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cs_iso

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I try and pull an ISO from URL in a playbook or interactively, I receive an error on the keyword, 'URL'

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected to import via URL an ISO
##### ACTUAL RESULTS

[code]

[code]

[2017-06-29 19:09] s-hertel commented on #19802
Hi @nsharmacovs, would you be willing to share your reproducer, please?

[2017-06-29 19:09] BluGeni commented on #19735
Im on Ansible 2.3.1 and still experiencing this error.

[2017-06-29 19:13] nsharmacovs commented on #19802
- name: Create new   load balancer if it doesn't exists in
  ec2_elb_lb:
    name: "{{ elb_name }}"
    state: present
    region: "{{aws_region}}"
    scheme: internal
    subnets:
      - "{{ elb_subnet_1 }}"
      - "{{ elb_subnet_2 }}"
      - "{{ elb_subnet_3 }}"
    security_group_ids: "{{vpc_sg}}"
    listeners:
    - protocol: tcp
      load_balancer_port: 9300
      instance_port: 9300

[2017-06-29 19:41] s-hertel commented on #19802
Thanks so much @nsharmacovs. I would love to be able to fix this issue. I can run your task successfully. Do you notice anything about my setup that may be different? Can you check which version of boto you are using? Are you sure the syntax is the same as your reproducer?
[code]
[code]
Here is the exact playbook I'm running
[code]
Here is the output I get running that task:
[code]

[2017-06-29 19:44] abadger commented on #26141
So what seems to be happening here is that under both python2 and python3 the template that is emitted is:
[code]

This is what we expect from the use of ```default(``)```.  It's substituting a literal empty string in place of undefined in the template file.  Then, when your code loads that using pyyaml, pyyaml makes a yaml string of ```KEY: ``` into ```{'KEY': None}```.  There's not really a bug

[2017-06-29 19:44] #26141 closed, assigned to nobody

[2017-06-29 19:51] s-hertel commented on #19802
I would like to add that although it isn't what your task is doing you *will* get the error if you specify listeners like:
[code]
But that's due to invalid syntax since listeners expects one listener per list item, rather than one attribute per list item. So this is irrelevant to your reproducer, but I just wanted to throw that out there since it's the only way I have been able to reproduce this t

[2017-06-29 20:15] nitzmahone commented on #26229
cc @mattclay - looking at shippable, it doesn't appear that these tests are actually run. Not sure in this case if that's a misunderstanding or a bug in the change detection stuff...

[2017-06-29 20:15] rahushen opened #26260 "nxos_bgp_neighbor - timers_keepalive, timers_holdtime, shutdown properties not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_bgp_neighbor
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY

timers_keepalive, timers_holdtime, shutdown properties don't work as expected.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook should apply clean

####

[2017-06-29 20:28] mattclay commented on #26229
The consul tests have not been migrated to ansible-test, so we don't run them in CI.

To migrate them to ansible-test we'll need to implement a "cloud" test plugin. Here's an example for cloudstack modules: https://github.com/ansible/ansible/blob/devel/test/runner/lib/cloud/cs.py

[2017-06-29 20:29] #26191 closed, assigned to samdoran

[2017-06-29 20:30] rahushen opened #26262 "(P2)nxos_bgp_neighbor - several properties not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_bgp_neighbor

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY

Several properties are not idempotent

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

expected playbook to be ok the second time instead of 'changed'.

##### ACTUA

[2017-06-29 20:35] permitanyany opened #26263 "Issue with junos_config module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Aug  2 2016, 04:20:16) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

##### OS / ENVIRONMENT
Linux 3.10.0-514.16.1.el7.x86_64 #1 SMP Fri Mar 10 13:12:32 EST 2017 x86_64 x

[2017-06-29 20:39] ProjectRice commented on #20327
@s-hertel @willthames I'm assuming a maintainer needs to mark these as closed.

[2017-06-29 20:51] permitanyany opened #26264 "Issue with eos_config module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Aug  2 2016, 04:20:16) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

##### OS / ENVIRONMENT
Linux  3.10.0-514.16.1.el7.x86_64 #1 SMP Fri Mar 10 13:12:32 EST 2017 x86_64 x8

[2017-06-29 21:12] resmo commented on #21129
resolved_by_pr #26107

[2017-06-29 21:12] #21129 closed, assigned to resmo

[2017-06-29 21:16] kernelzilla commented on #24648
I hit this error in an environment without any vds switches, which it would appear this module defaults to.   I no longer experienced the error after adding:

network_type: standard

This aligned with the environment and allowed the virtual network devices to connect after deployment.

[2017-06-29 21:29] straight-shoota opened #26265 "Filesystem module is not idempotent when applied to an imagefile"
_From @straight-shoota on March 2, 2016 17:7_

##### Issue Type:
- Bug Report

##### COMPONENT NAME
filesystem

##### Ansible Version:

[code]
##### Ansible Configuration:

nothing special
##### Environment:

N/A
##### Summary:

I am trying to create a filesystem on a virtual imagefile using filesystem module. First run it worked and the filesystem was created. But in subsequent runs the play fail

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on August 4, 2016 20:20_

@abulimov ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on September 13, 2016 3:33_

@abulimov, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on October 6, 2016 18:8_

@abulimov, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on October 22, 2016 10:19_

@abulimov, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on November 6, 2016 10:54_

@abulimov, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on November 22, 2016 11:2_

@abulimov, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-29 21:29] straight-shoota commented on #26265
_From @ansibot on December 7, 2016 15:55_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-29 21:50] resmo commented on #26181
most likely fixed by 2af5556901f0847d835af60f58769a8dd94c4415

[2017-06-29 21:56] ChristianHoltfurth commented on #5564
+1 for `auto_dump_item: false`

[2017-06-29 22:21] resmo commented on #25802
@apestov Thanks for the detailed report. Any chance to verify the fix in #26266?

[2017-06-29 22:38] resmo commented on #26035
needs_info

[2017-06-29 22:55] StephenWithPH commented on #25718
@s-hertel That's more work than I can responsibly commit to at the moment. Like others facing this problem, I found a way to hack around the challenges for my specific use case of AWS dynamic inventory.

[2017-06-29 23:34] bobziuchkovski commented on #11064
@cinemast Thanks for the info.  I can confirm your `ansible_ssh_extra_args` line works for me with ansible 2.3.1.0.

[2017-06-30 00:45] nitzmahone commented on #26244
looks like duplicate of #25298

[2017-06-30 00:45] #26244 closed, assigned to nobody

[2017-06-30 02:36] dflock opened #26269 "alternatives: add support for --remove and --remove-all"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
alternatives

##### ANSIBLE VERSION

[code]

##### SUMMARY
The ansible `alternatives` module doesn't support removing alternatives, it can only add or update them. The underlying `update-alternatives` command supports both `--remove <name> <path>` and `--remove-all <name>` for removing alternatives.

It would be good is the ansible module also

[2017-06-30 02:44] dflock commented on #26269
Actually, just found two pull requests that do the `--remove` part of this:

- https://github.com/ansible/ansible/pull/23444
- https://github.com/ansible/ansible/issues/24351

They don't seem to do the `--remove-all` part though.

[2017-06-30 02:44] javierurien opened #26270 "vmware_guest_snapshot should allow memory dump and quiese of FS"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest_snapshot.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 64 bits

##### SUMMARY

currently snapshot operations call CreateSnapshot from pyvmomi (https://github.com/vmware/pyvmomi/blob/575ab56eb56f32f53c98f40b9b496c6219c161da/docs/vim/VirtualMachine.rst) with flags for memory dump and

[2017-06-30 03:34] willthames commented on #20327
Fixed by #20787

[2017-06-30 03:34] #20327 closed, assigned to nobody

[2017-06-30 03:34] willthames commented on #20327
Thanks @ProjectRice for pointing this out.

[2017-06-30 03:40] willthames commented on #25498
needs_contributor

[2017-06-30 05:43] ptv-ldts commented on #23023
Issue not fixed in 2.3.1.0-1 with remote hosts!

my Inventory
[code]

playbook1:
[code]
RESULT: works as expected no error

playbook2:

[code]
RESULT: error

[2017-06-30 05:44] ganeshrn commented on #26263
@permitanyany Can you please confirm if you are using Ansible `2.3` latest version.

The stacktrace in the log reflects you are still using `2.2` version.
For instance in `2.2` `junos_config` uses [NetworkConfig](https://github.com/ansible/ansible-modules-core/blob/stable-2.2/network/junos/junos_config.py#L194) is used in `junos_config` in `2.2`.

For `2.3` [juns_config](https://github.com/ansible

[2017-06-30 05:52] port22 commented on #26252
thanks! this wasn't obvious via docs.

[2017-06-30 06:08] AngryBeaver opened #26274 "delegate_facts to remote hosts 2.3.1.0_1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_facts

##### ANSIBLE VERSION
2.3.1.0_1

##### SUMMARY
delegate_facts is broken on 2.3.1.0_1 same still works on 2.3.0.0_1

##### STEPS TO REPRODUCE
Use an Inventory with one local and one ssh host
...hosts
test1 ansible_connection=local
test2 ansible_connection=ssh (+ credentials + port + etc)
....

[code]
##### EXPECTED RESULTS
Should

[2017-06-30 06:22] Akasurde commented on #26270
@javierurien Could you please test patch and let me know if it works for you ?

[2017-06-30 06:42] gregbkr commented on #26035
Yes we got nodes with or without the plugin subscription management satellite.
I would like to not touch the server conf, but shortcut via a local install like rpm. `command: "Rpm..."` gives me an error that I ignore if package is already install. I will try very soon on other servers. Will give you some updates within 2weeks. Thx!

[2017-06-30 06:43] ganeshrn commented on #26236
@garfieldairlines The issue seems to be happening while parsing `xml rpc` response received from the remote device.

Can you please share more details of your environment so that I can try to reproduce it in my setup.

FYI: `junos_netconf` is using `cli` as underlying transport that's why it is working for you.
For remaining `junos` modules transport defaults to `netconf`.

[2017-06-30 07:41] resmo commented on #26259
To me it looks like you have a wrong config in your cloudstack ini in the used `api_region`. Please verify you have `endpoint`as a key, not `url`

needs_info

[2017-06-30 07:57] ganeshrn commented on #25175
@bdlamprecht As per your logs it fails while running `<get-configuration>` command and the value of default `timeout` is `10 sec` so most likely you are hitting a `timeout` issue.

Can you please add timeout value in your playbook say `timeout: 120` and re-run.

[2017-06-30 08:34] jhawkesworth commented on #26238
Thank you for investigating this so promptly.
The particular host I hit this on was being fed updates via WSUS.

I agree Ansible certainly can't fix this.  Perhaps wuclient failures could result in a friendly error message along the lines of 'It appears Windows Update Client is having problems.  Try running Windows Update interactively on the affected host, or try again later, exception was ....'.

[2017-06-30 08:34] #26238 closed, assigned to nobody

[2017-06-30 08:59] garfieldairlines commented on #26236
It's a SSG 140 on default configuration (therefore "netscreen").

[2017-06-30 09:06] jhawkesworth opened #26277 "win_updates; add comprehensible messages when Windows Update Client fails"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Stock configuration
##### OS / ENVIRONMENT

ansible 2.3.0.0
  config file = /home/SMCORP/jhawkesworth/ansible/ansible.cfg
  configured module search path = [u'/home/SMCORP/jhawkesworth/ansible/library']
  python version = 2.7.5 (default, Sep 15 2016, 22:37:39) [GCC 4.8.5 20150623 (Red Hat 4

[2017-06-30 09:26] philsch opened #26278 "Pause prompt broken in python3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
Using the `prompt` functionality of the `pause` module, the interactive input does not stop anymore when pressing Enter. If the input is interrupted using Ctrl+C and the process is continued by pressing "C", the returned `user_input` al

[2017-06-30 09:28] jhawkesworth commented on #25298
@pablodav - are you running as local adminstrator?  You are likely to get Access Denied errors if not.

[2017-06-30 09:29] jhawkesworth commented on #25298
For what its worth I have seen this specific 'Timed out waiting for scheduled task to start' message on hosts which were (amazingly) configured not to receive windows updates at all.

[2017-06-30 09:32] vaibhi9 commented on #26085
Following is the output from the tests which are failing

Python version is 2.7.5

[code]

[2017-06-30 09:37] ganeshrn commented on #26236
What is the os and its version running on device?

[2017-06-30 10:14] silvinux commented on #25522
@kevensen sorry for the delay in action, the module doesn't work. I tried as #23963 suggest. Could you help on this?.

`_failed: [labtux] (item=try_first_pass) => {"failed": true, "item": "try_first_pass", "module_stderr": "", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_tu8G1Z/ansible_module_pamd.py\", line 634, in <module>\r\n    main()\r\n  File \"/tmp/ansible_t

[2017-06-30 10:17] heavyuseofunderscore opened #26279 "Ansible unarchive bug using exclude"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive
/usr/lib/python2.7/dist-packages/ansible/modules/files/unarchive.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Xubuntu 14.04

##### SUMMARY
The unarchive module does not work correctly with the exclude parameter.  When I set the exclude parameter to a directory name followed by slash asterisk, the err

[2017-06-30 10:30] garfieldairlines commented on #26236
Hardware Version: 1010(0)-(00), FPGA checksum: 00000000, VLAN1 IP (0.0.0.0)
Software Version: 6.3.0r2.0, Type: Firewall+VPN
File Name: screenos_image, Checksum: 7f28a9c1

I hope it's what you wanted to know.

[2017-06-30 10:37] Nosmoht commented on #25660
@missnebun,

thanks for reporting. I checked the code and found the reason why external is not handled right. I'll open a PR for a fix soon.

In regards to the "not created users": They have to be created using `ipa_user` module. The `users` attribute is just to define users that are assigned to the group ;)

[2017-06-30 11:02] kevensen commented on #25522
@silvinux Thanks for taking another look.  Have you tried the latest from https://github.com/ansible/ansible/pull/25817?

[2017-06-30 11:05] volter opened #26280 "Disk size still wrong, depending on block size in Linux"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

##### SUMMARY

As a follow-up to #9549, we still get several disk sizes wrong in the discovery with Ansible 2.3 for Linux hosts. In the aforementioned ticket, it was decided to use either `physical_block_size` or `hw_sector_size` to multiply `size`.

A look at the lsblk source c

[2017-06-30 11:15] silvinux commented on #25522
@kevensen I downloaded the file from -->  Fix for #25522 ca2e393  7 days ago

[2017-06-30 11:26] Nosmoht commented on #25660
PR https://github.com/ansible/ansible/pull/26282 open.

@missnebun could you please test?

[2017-06-30 11:31] Nosmoht commented on #25863
I'll check that

[2017-06-30 11:31] dejlek commented on #13187
I also use directories as inventories (for different environments - production, staging, test, etc), and I am hitting the same bug with Ansible 2.3.1.0 complaining with errors like this one: `ERROR! no host vars as host is not in inventory: production-parservice-c1` ...

[2017-06-30 11:33] diboanches commented on #25863
It would be great! Thanks!

[2017-06-30 11:37] volkerp commented on #16863
I have a similar issue trying to downgrade/rollback a package to a specific version. I'm also using a homegrown rpm repository, which contains multiple package versions

Trying to downgrade from installed voiceCom-2.0.3-9 to -2.0.2-8

    yum: name=voiceCom-2.0.2-8 state=present

gives

    ok: [voice1] => {"changed": false, "msg": "", "rc": 0, "results": ["voiceCom-2.0.2-8: Nothing to do"]}

Ansi

[2017-06-30 11:42] bcoca commented on #26137
no, the plugins are not related to roles ... in any case -1 to this, use lookups to do get data from external dynamic sources.

[2017-06-30 12:10] sunilkumar452 opened #26283 "What is the default path for downloaded windows patches using win_update module."
Hi,
I'm using win_updates module to patching the windows machine. I need to know where the updates are downloaded. Please tell me the default path of downloaded patches.

Do i need to delete the downloaded patches manually or it will be deleted automatically once the patch is applied.

[2017-06-30 12:10] keras commented on #8972
@andriipopryhin

I had similar problem: I copypasted the task from the ec2_eip documentation. I got it to work by using `ec2`-modules `tagged_instances` property instead of `instance_ids`:

[code]

[2017-06-30 12:15] SethosII commented on #26181
I tried the specific commit https://github.com/ansible/ansible/commit/2af5556901f0847d835af60f58769a8dd94c4415 and the current development branch but found the same problem. How exactly am I supposed to "build" ansible? I tried with the bare files, `make`, and `python setup.py build`.

[2017-06-30 12:17] kevensen commented on #25522
@silvinux Ah, yes.  There was a bug in that particular commit.  Can you please checkout  the current version?

[2017-06-30 12:25] sunilkumar452 commented on #26283
I got the solution.
Default  path is C:\Windows\SoftwareDistribution\Download

[2017-06-30 12:25] #26283 closed, assigned to nobody

[2017-06-30 12:25] resmo commented on #26252
Luckily (and unfortunately for the docs creators), ansible is very adaptable and it is hard to document every possible way to do something.

So let's turn this feature request in: Make the default host group configurable by ansible.cfg.

[2017-06-30 12:27] bcoca commented on #26252
We used to have that feature, no one used it. It actually broke and I only noticed 9 versions later when doing code clean up.

[2017-06-30 12:28] resmo commented on #26181
the easiest way is to git clone/git checkout the devel branch and run `source ./hacking/env-setup`. You then have ansible from devel in this terminal (for this session).

[2017-06-30 12:30] trondhindenes commented on #25952
Possibly related to the depth setting of the `convertto-json` producing the output?

[2017-06-30 12:32] resmo commented on #26252
@bcoca Impressive, I wasn't aware of that. So this "feature" is gone now? I also assume it is not the feature everyone is waiting for so tempting would just fit for those users, need something different than all group.

[2017-06-30 12:34] sunilkumar452 opened #26284 "read timed out. (read timeout=30) Error"
Hi Guys,
When iam trying to run aa command with win_ping module  for some machines getting Read timed out error. After some time machine is working again some another machine giving the same error. Don't know where to update the timeout value.

[2017-06-30 12:35] Nosmoht commented on #25863
PR https://github.com/ansible/ansible/pull/26285 open.

[2017-06-30 12:36] bcoca commented on #26252
From ansible.cfg before I removed it, long after the actual feature stopped working.
[code]

Mostly because people just used `hosts: {{ target|default('all') }} ` or similar and never bothered using this.

[2017-06-30 12:39] resmo commented on #26252
Perfect, let's close this request.

Thanks all.

[2017-06-30 12:39] #26252 closed, assigned to nobody

[2017-06-30 12:52] pablodav commented on #25298
Well this is not the case @jhawkesworth , I don't Access Denied now.

Now I fixed timeout, the issue was with "$env:PSModulePath" same as described above, but I think at least have a patch to test in `win_updates.ps1`

You can modify line 300, it will be something like:

file `/usr/local/lib/python2.7/dist-packages/ansible/modules/windows/win_updates.ps1`

[code]
Now my error changed, but at least

[2017-06-30 13:01] sdrose commented on #26259
Oh, it was!  My fault!   I saw the 'url' and thought it was talking about
the 'url' parameter speaking to where to download the ISO.  Totally my
fault!   Sorry!

-dave
On Fri, Jun 30, 2017 at 3:42 AM René Moser <notifications@github.com> wrote:

[2017-06-30 13:15] aioue opened #26286 "ec2_group not idempotent (always changed)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Multiple identical `ec2_group` calls are always `state: changed` when `rules_egress` is not provided.

##### STEPS TO REPRODUCE

If you just this play, state is always changed:

[code]

Running this play (with `rules_egress`) populated but

[2017-06-30 13:18] s-hertel commented on #26262
Hi @rahushen. What version of Ansible are you using?

[2017-06-30 13:19] aioue commented on #26286
Related: https://github.com/ansible/ansible/issues/7309

[2017-06-30 13:21] s-hertel commented on #26262
needs_info

[2017-06-30 13:21] jhawkesworth commented on #25298
@pablodav  - glad you have got past the Access Denied errors.  Does this only happen on machines with SQL Server installed?

[2017-06-30 13:25] jhawkesworth commented on #25298
@pablodav for info there is a recently modified version of win_updates.ps1 following the merge of
https://github.com/ansible/ansible/pull/26208 - it fixes a problem with the module using default parameters.  Might be worth trying it, although it sounds like you have a different issue as well, perhaps.

[2017-06-30 13:27] bdlamprecht commented on #25175
@ganeshrn Changing the timeout value __DID__ work and the lowest value I could get was to 25 seconds, if any lower value was used, the failure occurred again.  However, I also received a warning:
[code]
If the timeout feature argument has been deprecated, I'd still like to know what I should be using to prevent this type of error.

[2017-06-30 13:34] jctanner commented on #26256
resolved_by_pr https://github.com/ansible/ansible/pull/26288

[2017-06-30 13:54] mihai-satmarean commented on #18075
we found ourselves in the need for this functionality:
we have some company merged with us, they have a lot of machines.
Now our task is to take them under our ansible configuration.
We would like to use ansible ping module and retry by inserting our keys on failure then try again.
How can we achieve this with current status?
Thank you!

[2017-06-30 14:01] dagwieers commented on #22908
needs_contributor

[2017-06-30 14:06] aioue opened #26291 "null value in ec2_group causes TypeError"
null `group_id` in `rules` list causes `TypeError`

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Using latest devel version of ec2_group

https://github.com/ansible/ansible/blob/6b76bc924fdc7b1fbce71f1fb161e9b6c90b5058/lib/ansible/modules/cloud/amazon/ec2_group.py

##### SUMMARY

If you specify a empty

[2017-06-30 14:07] ganeshrn commented on #25175
@bdlamprecht Thank you for the information, can you please share the size of the configuration on the device.

The warning is seen because you must have added timeout value outside provider in your playbook, please add it inside provider to get rid of the warning.

[2017-06-30 14:07] geerlingguy commented on #23496
Gah, I ran into this again today... twice.

[2017-06-30 14:19] SethosII commented on #26181
Thanks, it worked with this setup and the development branch. In which release will the fix be included?

One odd thing is that it also reports `changed` when there was nothing removed. Is this intended/should I open a new issue for this?

[2017-06-30 14:29] aioue opened #26292 "ec2_vpc_route_table EC2ResponseError: 412 Precondition Failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_route_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Devel ec2_vpc_route_table

https://github.com/ansible/ansible/blob/04e93e22cb79e6f289457eee9965fcffab451760/lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py

##### SUMMARY

Similar message to https://github.com/ansible/ansible/pull/23108 but

[2017-06-30 14:36] javierurien commented on #26270
@akasurde I will try the patch tonight but it looks too similar to what I have done locally and that works (I changed dump_memory and quiesce to True on lines 210 211. It works as expected.
When I try the patch I will confirm.

Regards

[2017-06-30 14:43] bdlamprecht commented on #25175
Yes, that worked well and no warnings were received.  I appreciate your help in solving this.  I find it interesting that the default `timeout` value is `10 seconds` for this `core` module whereas the default `timeout` value for the `junos_install_config` (per their documentation) is `30 seconds`.

I just checked the `ios_config` module documentation and it appears that the default value there is

[2017-06-30 14:43] #25175 closed, assigned to ganeshrn

[2017-06-30 14:44] chrisisbeef commented on #21005
@wawrzek apologies for the delays in getting to this - been kinda crazy this year. If you can put together a PR; I'll push your patch through.

[2017-06-30 14:51] Akasurde commented on #26270
@javierurien Thanks, your help is much appreciated.

[2017-06-30 14:54] ganeshrn commented on #26236
Thank you the information. I am not sure if `junos` modules work with `screenos`.
 As I don't have access to `screenos` I won't be able to reproduce the issue.

It fails at this [line](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/module_utils/netconf.py#L59)

You can add some debug logs in `module_utils/netconf.py` to print `out` in a file and check what is wrong with response.
F

[2017-06-30 14:57] garfieldairlines commented on #26236
Will do, but you will have to wait 10 days for an answer on my side I'm afraid… But I won't forget it !

[2017-06-30 15:01] aioue commented on #26286
Module is also `changed` when `cidr_ip:` is an empty value inside a `rule`.

[2017-06-30 15:09] FinalDoom commented on #18979
This is still a problem in ansible 2.3.1.0, from RHEL host to RHEL nodes.

[2017-06-30 15:12] ganeshrn commented on #25175
@bdlamprecht Thank you for the suggestion.

That's exaclty the reason I asked you the size of configuration on your device. If the configuration is large it might take some time to recieve the response.

You can check the configuration size using command
[code]

[2017-06-30 15:17] resmo commented on #26181
It will be in 2.4.0 once released.

Yes, let's close this issue as resolved and create an new issue for anything else.

Thanks for your report!

[2017-06-30 15:17] #26181 closed, assigned to resmo

[2017-06-30 15:23] resmo commented on #26259
Let me improve this error message. was not obvious for me neither.

[2017-06-30 15:38] resmo commented on #26259
I just verified in 2.4, the code has changed and improved and would have returned an error message:
[code]
Thanks again

bug_resolved

[2017-06-30 15:41] #26259 closed, assigned to nobody

[2017-06-30 16:06] nitzmahone commented on #25298
Yeah, the change I just made probably won't affect that- there's only one reproducible issue I'm aware of around this, and that's if you run it as one user, it fails and doesn't clean up the job, then you run it as another user- apparently the PS scheduled jobs have a shared global namespace, but don't allow easy cleanup/removal of another user's jobs. I'm not sure how we'd handle that reliably (h

[2017-06-30 16:34] #26270 closed, assigned to nobody

[2017-06-30 17:26] sjentzsch opened #26294 "Share vars/defaults across roles with include_role does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(defaults)

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Using include_role defaults/vars cannot be shared across roles, even when setting `private` to False/no.

##### STEPS TO REPRODUCE
[code]

Inside role1 there is vars/main.yml with:
[code]

And on role2 there is:
[code]

[2017-06-30 17:32] bcoca commented on #15099
or use
[code]
will save you from empty results

[2017-06-30 17:35] resmo commented on #26239
some more debug infos
[code]

[2017-06-30 18:11] dlazerka opened #26297 "Support Google Container Optimized OS"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible Docker

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Google has a special OS image for running Docker containers: Container Optimized OS
https://cloud.google.com/container-optimized-os/docs/concepts/features-and-benefits

However, it does not come with `docker-py`, nor `pip` pre-installed. Trying to install it with easy_insta

[2017-06-30 18:12] #26100 closed, assigned to nobody

[2017-06-30 18:22] SethosII opened #26298 "apt: autoremove always reports changed with diff mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`apt` module

##### ANSIBLE VERSION
[code]

The development branch is needed because `autoremove` doesn't work correctly in current releases, see https://github.com/ansible/ansible/issues/26181 for details.

##### CONFIGURATION
`cow_selection = tux` but nothing else ;)

##### OS / ENVIRONMENT
Ubuntu 16.04.2 for everything

##### SUMMARY
Using th

[2017-06-30 18:24] Erouan50 commented on #8603
+1

[2017-06-30 18:25] s-hertel commented on #25718
@StephenWithPH That's understandable.

[2017-06-30 18:40] #26256 closed, assigned to nobody

[2017-06-30 18:46] nickallevato commented on #20109
Occurs in 2.3.1.0 for me

[2017-06-30 19:18] mikewiebe opened #26300 "nxos_bgp_neighbor_af advertise-map* properties generate error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_bgp_neighbor_af

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
The module errors out in latest `devel` when attempting to use the `advertise_map_exist` or `advertise_map_non_exist`.  The failure occurs for both transpots `cli` and `nxapi`.

##### STEPS TO REPRODUCE
[code]

#####

[2017-06-30 19:18] rstevens011 commented on #17963
I have a similar issue with this and I am thinking its closely related.  my top level playbook consists of three plays:
1. First play is ran on localhost, spins up a single ec2 instance and registers a varaible called 'ec2'.  The instance is added to a group called 'ec2_hosts'.
2.  The second play runs through my config playbooks pointing to the 'ec2_hosts' group.
3.  The third play creates an AMI

[2017-06-30 19:40] rahushen commented on #26262
@s-hertel updated issue with ansible version.

[2017-06-30 19:43] daBONDi commented on #22908
Will try and work on it hopefully i can spare some time this or next weekend for it stil dont got a good dev toolchain for ansible development 😣

[2017-06-30 19:51] mikewiebe opened #26301 "nxos_bgp_neighbor_af max_prefix* property issues."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_bgp_neighbor_af

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
According to the module documentation, only `max_prefix_limit` needs to be set to 'default' if the default behavior is desired.

Fails for both transports: `cli` and `nxapi`

Reference: https://github.com/ansible/ans

[2017-06-30 20:03] mikewiebe commented on #25507
@Qalthos Getting a different traceback now with https://github.com/ansible/ansible/pull/26192

[code]

[2017-06-30 21:46] rmfitzpatrick opened #26305 "Cryptography dependency breaks deb installation for Ubuntu 14"
With the addition of https://github.com/ansible/ansible/commit/e238ae999b90b771f662ac15e6cceff8aa0b721f the deb built from `make deb` creates a package with these dependencies:

[code]

`python-cryptography` is not available as a deb in Ubuntu 14 and pip installations are not recognized as satisfying the dependency:

[code]

@abadger has suggested that the cryptography dependency can be avoid w/ `

[2017-06-30 21:58] abadger commented on #26305
I'm not entirely sure about the debian makefile rules but perhaps deb-src is not enough?  If the deb-src target is building the source deb but  not the deb that's being installed on the end user systems then it won't be enough.

[2017-06-30 22:06] abadger commented on #26305
Looking at the jenkins job that I think is driving this, it seems like it calls make deb-upload.  So maybe the change has to be made in the deb target rather than the deb-src target.

[2017-06-30 23:01] trondhindenes commented on #22908
in the meantime, the xComputername dsc module works fairly well, it's what we use:
[code]

[2017-06-30 23:44] daBONDi commented on #22908
Yeah use the same.
What we should do without your win_dsc module!

[2017-07-01 03:55] sunshine69 commented on #18411
Hit this issues with 2.3.1.0 as well, any progress on this?

[2017-07-01 09:48] mowgli commented on #5739
Sorry, I have to reopen this old bug.

I have the following task:
[code]

Every time it is running, it left behind a temp file in /tmp with the output of the pipe.

I'll open a new bug as I cannot reopen this one.

[2017-07-01 09:50] mowgli opened #26310 "Successor bug of #5739, not removing temp files"
Sorry, I have to reopen this old bug.

I have the following task:
[code]

Every time it is running, it left behind a temp file in /tmp with the output of the pipe.

Edit:
ansible --version
ansible 2.2.1.0

[2017-07-01 10:07] mowgli commented on #26310
What should that ansiblebot mail!? I provided all informations for the bug that is needed. Why should I fill out such a template that is mostly not relevant!?

[2017-07-01 10:21] beingnishas opened #26311 "Ansible modules works on all hosts except few"
[https://github.com/ansible/ansible/issues/5725](url)
I am getting error
192.168.xx.xx | UNREACHABLE! => {
    "changed": false,
    "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the remote directory. Consider changing the remote temp path in ansible.cfg to a path rooted in \"/tmp\". Failed command was: ( umask 7

[2017-07-01 15:40] newswangerd opened #26312 "stdout_callback = json returns invalid json when playbook fails"
When stdout_callback = json is set in ansible.cfg and a playbook fails, Ansible inserts `	to retry, use: --limit @/Users/dnewswan/code/learn-ansible/ansible-control/tutorial/testbook.retry` at the top of the output. This makes it hard to pipe the output into a programs that are supposed to parse the resulting JSON.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ansible-playbook

##### A

[2017-07-01 15:57] newswangerd commented on #26312
Setting retry_files_enabled = False fixes this. It still seems like the JSON option should always output valid JSON.

[2017-07-01 17:39] rdixitqasource opened #26314 "backup=yes change timestamp"
How to take backup of file **without changing its time-stamp** with Ansible playbook? I tried `backup=yes` but the problem is like it changes the time-stamp of the file.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
backup=yes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
How to take backup of file **without changing its time-stamp** with Ansib

[2017-07-01 17:41] #26314 closed, assigned to nobody

[2017-07-01 17:49] mmahajan-qasource opened #26315 "backup=yes changed time-stamp of the file"
How to take backup of file **without changing its time-stamp** with Ansible playbook? I tried `backup=yes` but the problem is like it changes the time-stamp of the file.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
backup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
How to take backup of file **without changing its time-stamp** with Ansible p

[2017-07-01 20:02] roschacker commented on #1277
[code]

[code]

[2017-07-01 20:04] roschacker commented on #1277
==Translated from Russian:==

rm: impossible to delete `rst/*_module.rst': No such file or directory
make[1]: [clean] Error 1 (ignored)

[2017-07-01 20:08] jhawkesworth commented on #24333
@chrisvire - there was a discussion on the #ansible-windows channel a few days ago and it was suggested that by running the 'setup' module to gather facts again, a new remote shell would be opened, which would make new environment variables available.

can you give it a try - I am hopeful it will fix the problem described for you?

needs_info

[2017-07-01 22:14] Spredzy opened #26317 "inventory/openstack.py do not return servers being spawned/deleted"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- `contrib/inventory/openstack.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- N/A

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

`inventory/openstack.py --list` returns hosts that are currently being spawned (but not yet available) or being deleted (and hence not available anymore). This leads to Ansible failing to connect to the s

[2017-07-02 03:48] infrascripting commented on #22576
I encountered this as well. While it may not be technically a bug, it is certainly counter-intuitive.

[2017-07-02 10:15] kachkaev opened #26322 "Filters for generating SHA1 and BCrypt basic auth passwords"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
filters

##### SUMMARY

I was generating [traefik's](https://github.com/containous/traefik/) config file called traefik.toml with ansible and found it problematic to use the template module for the [API backend section](https://docs.traefik.io/toml/#api-backend):

[code]

The config accepts basic auth credentials right in the config file, whic

[2017-07-02 10:20] kachkaev commented on #26322
Just tested `password_hash('md5', 'aaa')` and it did generate a stable hash with the given salt. The question is about supporting SHA1 and BCrypt hashes then.

Maybe the traefik example could go to the docs?

[2017-07-02 13:07] Vladimir-csp commented on #19874
Well, it's happening on Debian testing again, `ansible_distribution_major_version` and `ansible_distribution_version` are no longer numeric, but reported as `buster/sid`

[code]
I do not know what would be a correct solution to this. If ansible takes this data directly from python, perhaps I would make a bugreport to Debian asking for numerical designations for testing. If anyone knows some underl

[2017-07-02 14:36] vaibhavjpr commented on #4320
@biroeng

I have tried this but it's failing. Is there a way that we can preseed mysql root password in centos/redhat machines like debian/ubuntu

name: MySQL | Set debconf vars
  action: raw sudo echo mysql-server mysql-server/root_password password $mysql_root_password | sudo /usr/bin/debconf-set-selections
  tags: mysql

- name: MySQL | Set debconf vars
  action: raw sudo echo mysql-server mysq

[2017-07-02 23:24] jborean93 commented on #26284
Hey @sunilkumar452 are you able to supply us the following issues so we can help you further.

* an example playbook that you are trying to run
* your inventory setup (sans the passwords)
* the output of `winrm get winrm/config/service` and `winrm enumerate winrm/config/Listener` from Powershell on the Windows hosts you are trying to connect to
* more info as to how you set up your Windows host an

[2017-07-02 23:25] jborean93 commented on #26226
Hey @wil, thanks for raising the PR, I'm going to close this issue as the changes have been merged. Thanks for your help with this.

[2017-07-02 23:25] #26226 closed, assigned to nobody

[2017-07-03 02:59] Akasurde commented on #26265
@straight-shoota Thanks for reporting this issue.

You are directly using a file for filesystem module, which is not supported. As filesystem module is meant for block devices and not for a regular file.

But, you can still use it for your use case as follows:

[code]

[2017-07-03 04:08] willthames commented on #18411
Hopefully #26335 will get us a lot closer to resolving this issue.

[2017-07-03 06:59] sunshine69 opened #26336 "include_role with delegation - handlers does not delegate to remote host"
Tested with latest ansible devl branch as well as stable 2.3.1.0

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
2.3.1.0
latest devel (2.4.0)
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS: Linux ubuntu 16.04

##### SUMMARY
when I use include_role with delegation_to a remote hosts the handlers in the role does not get delegated.

##### STEPS TO REP

[2017-07-03 07:10] cazorla19 commented on #18287
Let's get up this issue. Please, reopen this. It's really painful when you work with autoscaling group on the cloud.
What's the issue exactly? Let's start with, for example, 20 nodes gathering info from EC2 dynamic inventory. A couple of them might be terminated by EC2 API to scale down. If they will, Ansible marks these hosts as unreachable, finish all tasks on helathy nodes. But! It returns "exi

[2017-07-03 09:10] mtiadm opened #26339 "selinux module crashes in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

selinux module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We are unable to use the selinux module because it crashes at startup : it looks for a no more existing function :  from ansible.module_utils.facts import get_file_lines

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Module se

[2017-07-03 09:38] sayantandas commented on #26237
Update: If I use the latest ansible from github which has the latest vmware_guest updates, i get the following error

` "msg": "A specified parameter was not correct: spec.location.pool"`

which leads me to believe that it is asking for information on resource_pool. We do not use resource pool. how can this info be bypassed?

[2017-07-03 10:40] kevensen commented on #23963
resolved_by_pr 25817

[2017-07-03 10:41] kevensen commented on #25522
resolved_by_pr #25817

[2017-07-03 10:42] kevensen commented on #25855
resolved_by_pr #25817

[2017-07-03 11:16] aioue opened #26345 "ec2_eip not idempotent, plus check mode makes changes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_eip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running an `ec2_eip` module task twice creates new IPs instead of recognising that the public IP specified already exists and returning OK.

_edit_ worringly, this also occurs when running the task in check mode! `--check`

##### STEPS TO REPROD

[2017-07-03 11:22] aioue commented on #19524
@jdoss I hacked in tagging to the ec2.py AWS inventory a while back. I think by pulling the ARN out of a separate API call. Might be of use?

[2017-07-03 11:25] zi46 opened #26346 "Ansible shell command skips host after killing running process"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

Say we have two hosts - host a and host b
in host a , some process is running
in host b, no process is running.
when ansible is run to first kill the running process and then proceed further with other steps, ansible kills the process in ho

[2017-07-03 11:26] fs-takada opened #26347 "freeze by 'ansible-playbook command'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
paramiko connection plugin

##### ANSIBLE VERSION

[code]

##### SUMMARY

`ansible-playbook -i inventories/production site.yml -c paramiko --check`
[code]
It will stop here.
host2 is not executed.
freeze.
it also do not time out.

however, Connection has been confirmed.
[code]
i think ssh connection, user config, authorized key of host02 is no

[2017-07-03 11:37] jctanner commented on #26311
@Niceha based on the ssh command in your vvvv output, it doesn't appear as if an ssh password or key was defined in inventory.

[code]

Do you have ssh-agent running on your control host's session? What key is used to authenticate to the remote host? Does ansible authenticate successfully when you defined ansible_ssh_private_key_file in the inventory?

needs_info

[2017-07-03 11:43] lkjangir commented on #19584
Manually try to access the server on terminal, if you are able to ssh the remote server, then remove .ansible directory from local user's home directory. This works for me. (y)

[2017-07-03 12:04] richard-scott commented on #4565
I'm getting this on Debian 9.0...
On the first run it is detected ok, and on future runs it is detected as NA ;-(

[2017-07-03 12:26] shaharmor commented on #22509
Any update on this?

[2017-07-03 12:38] pmares127 commented on #25899
I´ve fixed the Problem, I needed to set Connection to local instead of ssh.

[2017-07-03 12:39] #25899 closed, assigned to nobody

[2017-07-03 12:48] gundalow commented on #25899
@pmares127 Thanks for confirming.

Are there any specific places in the documentation you think we need to update to make this clearer?

[2017-07-03 12:49] pablodav commented on #25298
Well I have tested my proposed patch adding this workaround:

[code]
and seems to fix the issue on all cases!

[2017-07-03 12:54] jctanner commented on #26312
@newswangerd this is a difference between callback data versus display data. Data from -vvvv such as connection data is also going to appear in a non-json format. To make this work the way you are requesting, we would need to pipe all display into the callbacks, which doesn't make a whole lot of sense.

If you are trying to consume the output in other applications, you would probably be better ser

[2017-07-03 12:54] #26312 closed, assigned to nobody

[2017-07-03 12:56] jctanner commented on #26315
@mmahajan-qasource what module?

needs_info

[2017-07-03 13:02] emiel commented on #25419
A work around could be to use an extension like ".vault.yml" as per the blog post I linked to.

[2017-07-03 13:02] jctanner commented on #26322
passlib(the underlying library) lists bcrypt as "secure" so I don't think we would have a problem accepting a pullrequest for that. SHA1 however is problematic and I think there may be some controversy if we were to add it. I suggest submitting separate PRs for any additional algorithms so that each can have it's own debate.

+label easyfix
needs_contributor

[2017-07-03 13:08] bcoca commented on #26322
the `hash` filter already allows for `sha1`, I have not checked `bcrypt`.

I would prefer not to add `sha1` to `password_hash`, but 'insecure' does not mean a hash is not useful for other purposes so it should be fine for them to be available via `hash`.

[2017-07-03 13:21] bluespider42 opened #26351 "zpool_facts issues invalid zpool get command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

zpool_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When running `zpool_facts` it issues a `zpool get` command with the `-o` flag, which is invalid.
[http://docs.oracle.com/cd/E36784_01/html/E36871/zpool-1m.html](http://docs.oracle.com/cd/E36784_01/html/E36871/zpool-1m.html)

##### STEPS

[2017-07-03 13:25] jctanner commented on #26339
Confirmed issue.

[2017-07-03 13:36] HanXHX opened #26352 "URI module broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT

* Ansible 2.1 on Debian Jessie (pip)
* Ansible 2.3 on Xubuntu 16.04 (pip)

##### SUMMARY

The uri module crashes.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
No error

[2017-07-03 13:37] #26352 closed, assigned to nobody

[2017-07-03 13:51] jdoss commented on #19524
@aioue I gave up on using tags and I just prefix the instances I am working on with something I can filter easily on. Using tags would have been great but it was too hacky and cunky.

[2017-07-03 13:54] jctanner commented on #26339
resolved_by_pr https://github.com/ansible/ansible/pull/26353

[2017-07-03 14:00] playgroundctl opened #26358 "junos_command: cannot get output of a command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

Cannot get command output from a Juniper device.

##### STEPS TO REPRODUCE

`ansible-playbook dev-conf.yml --extra-vars "dev=athens os=juniper"`

[code]

##### EXPECTED RESULTS

Get router's configuration in `display set` format

#

[2017-07-03 14:22] cadavre opened #26359 "SSH connection sharing is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
SSH connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration.

##### OS / ENVIRONMENT
Ubuntu 14.04.5
Kernel 3.13.0-83-generic
Ansible installed via pip

##### SUMMARY
Looks like SSH connection sharing is broken. I have one single server defined in inventory twice – with the same hostname, but different alias.

#

[2017-07-03 14:32] godmarck commented on #14426
I'm also seeing this in 2.3.0

[2017-07-03 14:35] #26339 closed, assigned to nobody

[2017-07-03 14:41] jctanner commented on #26346
@zi46 I can not reproduce this with two centos vagrant machines and ansible 2.0.1/2.2/2.3/devel.

Does this work for you on 2.3 or devel?

needs_info

[2017-07-03 14:50] jctanner commented on #26347
@fs-takada please run ansible-playbook with debugging enabled and attach the output as a file to this issue.

[code]

needs_info

[2017-07-03 14:51] jctanner commented on #26351
cc @xen0l

[2017-07-03 15:05] jctanner commented on #12015
@mliudev Ansible 1.8 is no longer supported. Please retest with 2.3 or devel.

[2017-07-03 15:05] #12015 closed, assigned to nobody

[2017-07-03 15:11] jctanner commented on #26359
@cadavre please provide the -vvvv output for the playbook.

needs_info

[2017-07-03 15:15] LinusU commented on #26187
Sounds like a good idea 👍

[2017-07-03 15:24] cadavre commented on #26359
Actually first playbook call is ended with SUCCESS.

But if I make a call after some time (apparently after ControlPersist=60s) I get this:
[code]

`/etc/ssh/ssh_config` has nothing more for `Host *` than:
[code]

[2017-07-03 15:38] MKPhil opened #26362 "clear_host_errors does not clear error state when **ALL** servers generate an error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
clear_host_errors

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
RHEL6

##### SUMMARY
clear_host_errors fails to reset the error state when **ALL** servers in target generate an error

##### STEPS TO REPRODUCE
[code]
Run the above playbook against a non-existent server:
ansible-playbook -i hosts  ping_check.ym

[2017-07-03 15:49] benagricola opened #26363 "junos_command: Does not output parsed 'XML' in response"
##### ISSUE TYPE
 - Bug / Feature depending on how you look at it ;)

##### COMPONENT NAME
`junos_command`, potentially other `junos_` core modules

##### ANSIBLE VERSION
[code]
##### SUMMARY
Juniper state in a number of places (e.g. https://forums.juniper.net/t5/Automation-Programmability/One-step-further-with-Ansible-to-automate-Junos-devices/ba-p/295120) that the `junos_command` core module is:

[2017-07-03 16:17] j1n6 commented on #23940
It would be nice to fix this. also affect Ansible 2.3.1

[2017-07-03 16:39] jhawkesworth commented on #23940
Please try using latest devel version of ansible and report back - I am fairly certain there has been some fixing done during 2.4 development.

needs_info

[2017-07-03 17:04] zi46 commented on #26346
@jctanner i am using ansible 2.0.1.0
One thing is that the script should run and connect to two hosts remotely. script should not be run in localhost.
If we connect two hosts remotely, we get the problem mentioned.
take two hosts: host1 and host2. DO NOT run yml file in either of host1 or host2. yml should connect to host1 and host2 remotely.
in host1 start the process with vi test.txt
in host2 do

[2017-07-03 17:08] j1n6 commented on #23940
Thanks for the quick reply. I will test and get back to you tomorrow.

When will 2.4 be release?

[2017-07-03 17:24] Dgreen604 commented on #24626
This issue still exists.

[2017-07-03 17:39] #21121 closed, assigned to nobody

[2017-07-03 18:23] infrascripting opened #26364 "Dependency is being skipped as duplicate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Dependencies
- Conditionals
- Playbooks

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If a server is skipped in a playbook, the dependencies for subsequent roles do not run.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected that even though a SUSE box would be skipped for the first role in th

[2017-07-03 18:35] biroeng commented on #4320
@vaibhavjpr
We run it on Centos 6.7 & Centos 7
It works fine
---
  - hosts :  localhost
    tags: ['mysql']
    vars_files:
      - ../vars/vars.yml
    tasks:

     - name: "MySQL: yum_repository: el6: MySQL 5.6 Community Server"
       yum_repository:
          name: MySQL5.6CommunityServer
          description: MySQL5.6CommunityServer
          baseurl: "{{mysql_el6_url}}"
          gpgcheck:

[2017-07-03 18:41] argh128 opened #26366 "Ec2.py inventory script fails when combining IAM roles with Boto3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2.py inventory script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No custom configuraiton

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using an iam_role setting in the ec2.ini file the `def connect_to_aws` function sets the AWS variables to:
[code]
When you call a function that needs Boto3 (RDS, Elasticache) then it will generate an

[2017-07-03 18:47] argh128 opened #26368 "ec2.py attempts to IAM Role Switch multiple times"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2.py inventory script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When performing EC2, RDS, etc lookups using an IAM Role; the ec2.py inventory script attempts to STS Assume Role on every item. This fails if your role does not have an "STS:Allow" permission.

##### STEPS TO REPRODUCE
When u

[2017-07-03 18:50] jhawkesworth commented on #23940
@activars  According to the roadmap here: https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst the plan is for August/September 2017.

[2017-07-03 19:15] Qalthos commented on #26300
The [documentation](https://docs.ansible.com/ansible/nxos_bgp_neighbor_af_module.html#options) suggests that `advertise_map_exist` and `advertise_map_non_exist` require two parameters, an advertise-map and a route-map. Modifying the playbook to match that causes the playbook to succeed. Is the documentation here in error?

[2017-07-03 19:25] xlf12 commented on #24136
Yes, indeed it is a true issue. If you are forced to use and to toggle variable like "ansible_XYZ" you can't reset them during a play or a series of plays.
Think of a scenario where you fight your way through a bunch of machines where some accept already ssh keys and some start by asking you for a password. If you what to align all the machines to accept your ssh key you can do that for example wi

[2017-07-03 19:34] bcoca commented on #26246
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-07-03 19:34] #26246 closed, assigned to nobody

[2017-07-03 19:45] jobec opened #26369 "git module not syncing submodules when remote url changes"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
Git 1.9.4
##### SUMMARY
When running a build in gitlab, we run an ansible playbook against some remote servers from a deploy server having the gitlab runner software installed. These remote servers check out the code from gitlab so the application is deployed.

When

[2017-07-03 19:46] #21974 closed, assigned to nobody

[2017-07-03 20:15] bcoca commented on #26362
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

If all hosts error before the `meta` task, the playbook ends before the task is able to run. So it is not that the task is not working,

[2017-07-03 20:15] #26362 closed, assigned to nobody

[2017-07-03 20:24] bcoca commented on #26227
confirmed, used tests, even adding a debug task, i see the 2 hosts in that but seem to 'loose the host' in the iteration right after the meta task, but regain it afterwards.

[2017-07-03 20:31] MOZGIII commented on #24136
There are some related fetuares, like defining a set of variables with a lifetime bound to some user-defined scope, which may also be considered for implementation together with variable unsetting. Unsetting is a must-have though.

[2017-07-03 20:35] xen0l commented on #26351
@bluespider42 are you using this on Oracle Solaris ZFS? I developed and tested this on OpenZFS pools only and got some reports some time ago that there might be some issues when it comes to Solaris ZFS. I don't like your fix because it breaks compatibility with OpenZFS pools on Linux/FreeBSD/illumos. I would suggest creating a logic similar to the one in beadm module, where is_freebsd is detected

[2017-07-03 20:59] #26291 closed, assigned to nobody

[2017-07-03 21:04] Qalthos opened #26371 "nxos_nxapi sandbox parameter inconsistent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_nxapi

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY
From #26142:

    I have not investigated this in depth but when we toggle the sandbox property it does not
    seem to have the desired effect.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-03 21:05] #22340 closed, assigned to nobody

[2017-07-03 22:26] semente opened #26374 "Failed to use variable on docker_service's scale option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### SUMMARY

Looks like we have a regression on 2.3 when using `docker_service.scale` with a variable as you can see below:

[code]

I've tried with and without `| int`. On 2.2.0 it used to work.

@kassiansun provided me a hot patch at https://github.com/ansible/ansible/issues/5865#issuecomment-

[2017-07-03 23:32] Numerico opened #26376 "mail sending with STARTTLS broken because auth_flag variable is not updated after the starttls connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mail
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 8
##### SUMMARY

unable to  connect to mail server in ansible version 2.3.1, but it does work with 2.2.1.0
after some debug it seems that the **auth_flag** variable is not updated after the *STARTTLS* connection is established, [here](https://github.com/ans

[2017-07-04 01:15] fs-takada commented on #26347
@jctanner  Thank you for your reply.

[code]

Unfortunately, No matter how long i wait, it will not be displayed after this.
It has been frozen.

[2017-07-04 01:56] adrianmkng commented on #25981
@Constantin07 thanks for looking into this.

I've just tried removing the targets but it still hanging for me. Also when I check in the AWS console I don't see the EFS being created. I'm not sure if I have some other incorrect configuration somewhere else as well.

[2017-07-04 02:31] chavenor commented on #15686
I had same issue.   I SSH'd into the terminal and ran from the command line as root and that fixed the issue.  Perms issues.

[2017-07-04 02:51] bcoca commented on #26351
@xen01 posted similar comment on hte PR, so we agree on that. As for maintainer status, you can submit a PR against  https://github.com/ansible/ansibullbot/blob/master/MAINTAINERS.txt to get added

[2017-07-04 02:54] bcoca commented on #26364
does the preinstall role allow dupes?

[2017-07-04 02:56] bcoca commented on #26366
cc @ryansb, @s-hertel

[2017-07-04 02:57] bcoca commented on #26368
cc @ryansb, @s-hertel

[2017-07-04 03:07] #26376 closed, assigned to nobody

[2017-07-04 04:10] liomthechef opened #26381 "win_updates MapCategoryNameToGuid does not accept valid input"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates:

##### ANSIBLE VERSION

ansible 2.3.2.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Feb  7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OSX --> Windows Server 2008 R2/ 2012 R2
CentOS 7 --> Wind

[2017-07-04 05:20] jhawkesworth commented on #26381
Hi, I don't have an answer but I have some things you could try..

1/ Please can you try using latest 2.4 devel code?  There have been a few changes to the common powershell code (powershell.ps1) since 2.4 development started which you might not be picking up.

2/ Please check to see if you have trailing spaces on the end of one or more of the category_names: items and remove them if present.

3/

[2017-07-04 05:45] nitzmahone commented on #26381
Yeah, I'm unable to repro that on devel- for whatever reason, the YAML list is being passed through to the module as a single string instead of a list (tabs instead of spaces or other indentation issue on that list?)- that's not an issue at the module level. If you check the log as Jon suggests, it'll be clear that it's getting a single string. (eg, here's the relevant log snippet from my run agai

[2017-07-04 05:55] nitzmahone commented on #25298
One of my test boxes just started exhibiting this behavior- I've snapshotted it so I can hopefully get it back to that state repeatedly until I can run this to ground (@pablodav's suggestion doesn't fix this for me- the user's PSModulePath already contains the necessary elements)

[2017-07-04 06:04] #24265 closed, assigned to nobody

[2017-07-04 06:15] liomthechef commented on #26381
Thanks @nitzmahone @jhawkesworth, I resolved the issue by rewriting it cleanly.
I must have messed up the formatting somehow, I'd thought I had ruled that out, apologies.

[2017-07-04 06:15] #26381 closed, assigned to nobody

[2017-07-04 06:22] ganeshrn commented on #26363
@benagricola Thank you for raising the issue.
Can you please test with the referenced PR #26382 and confirm if the resolves the issue.

[2017-07-04 07:08] vaibhavjpr commented on #4320
@biroeng thx a ton.. it worked..  👍

[2017-07-04 07:18] alangibson commented on #13744
It looks like this might be fixed in 2.4.0: https://github.com/ansible/ansible/issues/22924

[2017-07-04 07:18] alangibson commented on #14100
It looks like this might be fixed in 2.4.0: https://github.com/ansible/ansible/issues/22924

[2017-07-04 07:34] robinro commented on #26369
Thanks @jobec for this report.

Would you be interested in opening a PR to fix this? I can assist if needed.
If not I'll leave this open for others to tackle.
needs_contributor

[2017-07-04 08:29] benagricola commented on #26363
@ganeshrn Confirmed, #26382 fixed the issue for me 👍

[2017-07-04 08:43] sayantandas commented on #26237
Hi all,

Any information / suggestion on how to get past these errors in this module would be greatly appreciated.

Thanks.

[2017-07-04 08:50] 33Fraise33 opened #26384 "Error with npm module and npm v5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Trying to update npm packages with latest version of npm running on the host will throw an error

##### STEPS TO REPRODUCE
1. Setup a host with the latest version of node (v8) and npm v5.0.x
[code]

##### EXPECTED RESULT

[2017-07-04 09:00] CFSworks opened #26385 "win_chocolatey: Cannot install hotfixes (KB####) over WinRM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- `win_chocolatey`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
- Default

##### OS / ENVIRONMENT

- Ansible on **Gentoo**
- Target system is **Windows via WinRM**

##### SUMMARY
[Microsoft does not support](https://support.microsoft.com/en-us/help/2773898/windows-update-standalone-installer-wusa-returns-0x5-error-access-deni) using WUS

[2017-07-04 09:18] bluespider42 commented on #26351
Sorry - new to zfs and didn't realise about the different versions and assumed the Oracle man page was the definitive documentation. However I installed ZFS on Centos following the instructions here:
[https://github.com/zfsonlinux/zfs/wiki/RHEL-%26-CentOS](https://github.com/zfsonlinux/zfs/wiki/RHEL-%26-CentOS)
So I should be using the same OpenZFS implementation?
[code]

[2017-07-04 09:18] MKPhil commented on #26362
I'm sorry, but this still doesn't seem right to me.

If I have two tasks, A and B and two servers, GOOD and BAD, my playbook runs both task A and B on both servers.
If I run the same playbook on just server BAD I would expect the behaviour to be the same - i.e. task A and B both run.  I do not understand the justification for getting a different result for what is essentially the same input.

[2017-07-04 09:32] aioue commented on #26291
@ToddHertel this change now causes the task to fail instead of causing a stack trace, which is an improvement, if not a fix.

@bcoca politely suggest this needs re-opening and revision.

[code]

This version of the module also fails with no message (even on -vvvvv) if `cidr_ip` is null (see https://github.com/ansible/ansible/issues/26286)

[code]

[2017-07-04 09:56] woshihaoren opened #26386 "can vmware_vm_facts module return's data have mac address?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
modules/cloud/vmware/vmware_vm_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

mac_address is useful

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

        "test-118": {
            "guest_fullname": "Red Hat Enterprise Linux 6 (64-bit)",
            "ip_address": "10.25.3.118",

[2017-07-04 09:59] jhawkesworth commented on #26385
I am not sure where the best place to fix this is (in chocolatey, or in ansible module), but there is a workaround.  From what you are saying it might need to be fixed in chocolatey as the ansible module would likely be unmanageable if it also included (and replicated exactly) chocolatey's dependency management.

Although you can't install using WUSA you can extract the contents of a .msu using WU

[2017-07-04 10:00] hryamzik opened #26387 "wait_for fails for windows hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

wait_for or ansible

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running on Mac OS Sierra against Windows 7.

##### SUMMARY

Module crashes, see details below.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Well, expect this to work!

##### ACTUAL RESULTS
[code]

#### workaround

[code]

[2017-07-04 10:03] dwt opened #26389 "`become_user: $something` should imply `become: yes`"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I just burned another half hour today before I figured out that `become_user: $someone` is not enough to actually trigger the user change, but that I also needed an additional line `become: yes` for it to work.

So here's the idea: why d

[2017-07-04 10:04] dagwieers commented on #26049
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] dagwieers commented on #20123
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] dagwieers commented on #19213
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] dagwieers commented on #18883
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] dagwieers commented on #18880
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] dagwieers commented on #24494
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:05] andiempett commented on #22673
:+1:

[2017-07-04 10:05] dagwieers commented on #25516
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #25393
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #25018
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #24569
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #24333
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #22892
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.