[2018-10-05 15:04] viciu opened #46545 "Ansible fails with `su: must be run from a terminal` when running locally on debian"
##### SUMMARY
Ansible fails with `su: must be run from a terminal` when running locally on Debian 9.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core, become

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9.5

##### STEPS TO REPRODUCE

```ansible -c local --become --become-method=su -m ping all -i localhost,```

or

```ansible -c local -S -m ping

[2018-10-05 15:12] carchi8py commented on #46529
@sl0n let me look in to this with the rest of the team and get back to you.

For now an alternative way to do this in a playbook would be to use the na_ontap_comman modules
https://docs.ansible.com/ansible/latest/modules/na_ontap_command_module.html#na-ontap-command-module
Which allow you to run any console command we don't have a module for.

[2018-10-05 15:12] megakoresh commented on #44504
@fabianvf 2.7 has just released, I saw your changes there and decided to test: no luck. Same situation
[code]
And here is the output
[code]
How did you test it? This bug is causing a lot of problems for us, since we use many clusters its very disappointing that its not fixed.

[2018-10-05 15:16] ice3 commented on #29687
I don't think this is a bug.
`--noinput` is added automatically for some commands (`flush`, `syncdb`, `migrate`, `test`, `collectstatic`). For the other commands, you can put anything you want and it will be run "as is", even if it doesn't exist (which is hard to know before running it because of the custom management commands).

In the case of the issue, it seems that the error happened while cre

[2018-10-05 15:17] s-hertel commented on #46539
Hi, @antsan629, I'm assuming you're using the win_ping module and have used ConfigureRemotingForAnsible.ps1, is that right? (If not, this may help you out https://docs.ansible.com/ansible/2.5/user_guide/windows_setup.html)

[2018-10-05 15:19] boblickj commented on #46517
We are seeing the same with the yum module and a default(omit) on the conf_file parameter

[2018-10-05 15:20] ice3 commented on #29687
@resmo According to me, this issue should be close, could you please to it ?

[2018-10-05 15:22] mscherer commented on #46545
So, after looking during pycon.fr ansible sprint, the issue come from the su version used on debian stable, coming from https://github.com/shadow-maint/shadow rather than newer debian version using https://github.com/karelzak/util-linux

So the problem is to force the tty creation, this can be done for ssh, but not local connection.

[2018-10-05 15:34] guillemsola commented on #46493
Thanks @kmschl2 for pointing me to the migration document.

 That means I will need to rewrite the way I'm managing vars or move to include role instead.

[2018-10-05 15:36] carchi8py commented on #46529
Looks like we already have an internal Story for this, and we should be pushing out this change as part of our next release.

[2018-10-05 15:39] antsan629 commented on #46539
Nope, I'm using a custom built module that builds and configures a windows 2016 server ec2 instance.

[2018-10-05 15:43] mscherer commented on #46545
We suspect that the issue would be only on the local plugin, since it work with -c ssh on the same system, without using '-t'.

[2018-10-05 15:51] couchgott commented on #46523
HI @s-hertel i will give it a shot on monday.

[2018-10-05 15:54] mscherer commented on #46545
So, I suspect this might be solved by doing the same as https://github.com/ansible/ansible/pull/1666/files

[2018-10-05 16:04] ramonfierro commented on #46495
On a second thought, if you install `mysql` by its own, does it install `mysql55`? I'm guessing that the issue is not in the deletion but the installation step

[2018-10-05 16:22] ckotte commented on #46156
@Popyllol Could you try my PR?

[2018-10-05 16:33] mfisher30 commented on #32554
We as an ORG had that issue last night. We're running Ansible on a RHEL 7.5 server with 8gb of RAM, and we ran various Ansible scripts against 100+ Cisco network devices. While the memory utilization only peaked at 75% on the server, multiple users all had the same `ERROR! A worker was found in a dead state`. Some half way through the playbook, others right as they were executed.  We did have one

[2018-10-05 16:51] ckotte commented on #45280
@unkaputtbar112

Do you mean "Custom Attributes" with "customvalues"? The module ```vmware_host_config_facts``` only collects Advanced System Settings.

I think it would be better to implement the cluster fact in the module ```vmware_host_facts```.

[2018-10-05 17:05] ckotte commented on #44772
@nicholasrodriguez Could you check https://github.com/ansible/ansible/pull/46225. It fixes your issue on my site.

[2018-10-05 17:11] billdodd opened #46549 "Make the Redfish input parameters consistent with the Redfish property names"
##### SUMMARY

Some of the Redfish module input parameters correspond to Redfish property names. For example,
in the redfish_command.py module there are input parameters `username`, `userpswd` and `userrole`. These parameters correspond to Redfish properties `UserName`, `Password` and `RoleId` respectively. (This is not a complete list of the impacted parameters. Will need to scan the parameters o

[2018-10-05 17:30] mapo-job commented on #42417
file: lib/ansible/modules/messaging/rabbitmq_binding.py
class: RabbitMqBinding

In both __init__ and create methods, the self.url assignment needs to have an empty string as the optional parameter to quote, this way the slash will also get escaped with %2F as it should.
` urllib_parse.quote(self.vhost,''),`

[2018-10-05 17:38] SimplySeth opened #46550 "include_tasks with variables in a loop fails"
##### SUMMARY
Play errors out with a complain about quotes for include_tasks with variables

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/utilities/logic/include_tasks.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.2 (Maipo)
Linux dallvdopap350m 3.10.0-862.6.3.el7.x86_64 #1 SMP Fri Jun 15 1

[2018-10-05 17:38] ericwb commented on #46539
It might be worth trying to make a connection to that Windows instance using just requests-credssp to narrow down the issue.

[2018-10-05 17:42] ckotte commented on #38300
@corbinstuard

Do you want to create resource pools for standalone hosts or what's the exact issue you have?

What's the problem with specifying the datacenter and the folder?

For example:
[code]

[2018-10-05 17:50] sapphire-janrain commented on #46519
I'm not sure the meaning of the slash in `{{ application_path }}/[something,else,blah]` but assuming those would be interpreted as extras by pip normally I think that it is the same bug.

From my reading of the code the module would call this equivalently: `pip install "{{ application_path }}/[something" "else" "blah]"` and I think pip took the "[something" as part of the URL, causing it to only c

[2018-10-05 18:13] sonclay commented on #42638
Tested successfully. Module now creates the folder in the requested datacenter as expected.

Many thanks.

[2018-10-05 18:13] asciifaceman commented on #39835
native python strftime already supports this concept, but ansible not allowing it makes it exceptionally difficult to deal with servers in multiple time zones

[2018-10-05 18:16] Popyllol commented on #46156
Hey Christian,
I am on vacation for a week from now. I am pleased to try it afterwards!
Greetings,
   Lars

--
"There is always an easy solution to every human problem -
neat, plausible and wrong."
(Henry Louis Mencken (1880-1956) American journalist and social critic)
_______________________________________________________________________
Lars Timmann                                            La

[2018-10-05 18:33] jpza commented on #42292
Bump

[2018-10-05 18:35] ckotte commented on #42638
Did you also create an issue for this?

[2018-10-05 18:37] SimplySeth commented on #46550
Reverted to 2.6.5 it works just fine ..

[2018-10-05 19:10] sonclay commented on #42638
@ckotte No, I did not as it was only a minor irritant. I just happened to notice the different behavior when I tested.

[2018-10-05 19:15] marafa opened #46554 "ssh errors are not descriptive"
##### SUMMARY

ssh errors could be one of many things
- dead server. ping fails. but the message says ssh
- wrong password but the message says ssh
- loads more

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

linux, ubuntu, fedora, rhel, centos

##### STEPS TO REPRODUCE

use ansible to ssh to a

[2018-10-05 19:15] ckotte commented on #42638
No problem. At least we could close this issue if the PR will be approved. 

[2018-10-05 19:30] samdoran commented on #46476
I've narrowed this down to 5a333859fed02b5b12d183bba94150b0d3afbb87, which first appeared in Ansible 2.6.0.

[2018-10-05 19:35] s-hertel commented on #46152
@marcinpraczko If you have a chance, please test that #46525 resolves the issue and give the PR a shipit.

[2018-10-05 20:09] s-hertel commented on #46550
Looks like this stopped working in da4ff18406bb9e052a7e81796aed11e2dea1bfc9

[2018-10-05 20:13] pillarsdotnet commented on #30411
Nobody has time to work on a fix?

[2018-10-05 20:30] s-hertel commented on #46550
@SimplySeth it looks like the problem is passing arbitrary vars to your include_tasks, rather than the loop that is the problem. It looks like it was a bug that anything could be arbitrarily passed in (@sivel correct me if I'm mistaken reading your commit message). @SimplySeth Your loop vars are available without adding them to the `include_tasks` line (this is true for Ansible 2.6 too).
For examp

[2018-10-05 20:30] #46550 closed, assigned to nobody

[2018-10-05 20:36] ryansb commented on #42661
I'm not able to reproduce this on 2.7, here is the playbook that I'm using to try to repro:

[code]

And the output:
[code]

[2018-10-05 20:37] Popyllol commented on #46156
Ah, deutsch geht natürlich auch :-). Schönes Wochenende!

--
"There is always an easy solution to every human problem -
neat, plausible and wrong."
(Henry Louis Mencken (1880-1956) American journalist and social critic)
_______________________________________________________________________
Lars Timmann                                            Lars@Timmann.de
22393 Hamburg
              http://l

[2018-10-05 20:37] #38210 closed, assigned to Akasurde

[2018-10-05 20:52] strarsis commented on #30411
@pillarsdotnet: I eventually switched to a CIFS/Samba mount instead and there are no issues with hanging.

[2018-10-05 20:54] madhu222 opened #46556 "'utf-8' codec can't decode byte 0x80 in position 0 after reload/reboot of device"
##### SUMMARY
I have a test case in which the ansible master logins to the device using telnet and execute reload.  After executing reload, i am getting this utf8 codec error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
expect module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux DUT 4.9.110 #1 SMP Debian 4.9.110-3+deb9u4 x86_64 GNU/Linux

##### S

[2018-10-05 20:56] pillarsdotnet commented on #30411
I'm seeing this problem with no network mounts at ALL.  Just plain-vanilla AWS instances running Ubuntu 18.

[2018-10-05 20:59] madhu222 commented on #46556
I included the codec_errors as an argument to expect.py script and it works fine. Can you guys please include this change in the next version?
[code]

[2018-10-05 21:04] pettra commented on #46556
It would be great if option "encoding" also available for pass-thru.
And the codec_errors default should be set as "strict"

[2018-10-05 21:37] kladiv commented on #23073
+1

[2018-10-05 21:37] jborean93 commented on #46539
So recently we've noticed that pip may report `pyOpenSSL` at a newer version but in reality the system package is still being picked up https://github.com/ansible/ansible/issues/42385#issuecomment-426885762.

Can you run `python -c "import OpenSSL; print(OpenSSL.__version__)"` and give us the output.

needs_info

[2018-10-05 22:09] antsan629 commented on #46539
@jborean93 this is the output:

[root@X.X.X.X]# python -c "import OpenSSL; print(OpenSSL.__version__)"
18.0.0

I did already try uninstalling pyopenssl, removing the old directory and old files from /usr/lib/python2.7/site-packages/, and re-installing pyopenssl.

[2018-10-05 22:11] antsan629 commented on #46539
@ericwb not sure how I can go about doing so... any recommendations?

[2018-10-05 22:21] jborean93 commented on #46539
Oh I don't think this is an issue with CredSSP, are you running `-m ping` or `-m win_ping`?

[2018-10-05 22:27] jborean93 commented on #46539
Also does this work for you `python -c "import hashlib; print(hashlib.sha256().hexdigest())"`?

[2018-10-05 22:31] ferztyle commented on #40771
I have ansible 2.6.5 and still having the same error, is there any solution?

[2018-10-05 23:24] thopuri opened #46559 "Usermanagement play book error"
[code]
--------------------------------------------------------------------

Error receiving is like below

[code]

[2018-10-06 00:01] antsan629 commented on #46539
@jborean93 yes it did print out the hash.

[2018-10-06 01:34] troyfontaine commented on #45892
Fixed by #41688

[2018-10-06 01:34] #45892 closed, assigned to nobody

[2018-10-06 05:15] knumskull opened #46562 "Reboot stuck on Raspbian Stretch"
##### SUMMARY
Tried the new reboot feature in ansible 2.7. But ansible prompt sticks, while system is already rebooted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
freshly installed ansible 2.7 without any modification

##### OS / ENVIRONMENT

raspbian stretch

[code]

##### STEPS TO REPRODUCE

Simply run adhoc `reboot`command

[

[2018-10-06 05:17] ericzolf commented on #46559
@thopuri sorry, but this is not an issue in Ansible but in your playbook, you should ask such questions not here but in one of the Ansible forums. Check the column "discuss" on the right hand side of https://www.ansible.com/community

In a nutshell, `become_root` doesn't exist, it's `become`. I see also that it shouldn't be called `which_items` but `with_items`, and your indentation looks wrong. C

[2018-10-06 05:30] Akasurde commented on #46484
@HammerZ3it Thanks for requesting this feature. I will take a look into this.

[2018-10-06 05:56] Akasurde commented on #42851
resolved_by_pr #46551

[2018-10-06 08:56] nhojpatrick commented on #34522
Tracked down the issue, if you have insufficient memory... I know it previously worked with 384MB Ram but the error in /var/log/mysql/error.log about insufficient memory doesn't get reported back to the apt install log, so isn't seen when booting vagrant. You see a permissions error instead.

For reference see; https://bugs.launchpad.net/cloud-images/+bug/1795178

[2018-10-06 08:56] #34522 closed, assigned to nobody

[2018-10-06 08:59] Akasurde commented on #45682
resolved_by_pr #46567

[2018-10-06 08:59] Akasurde commented on #45682
@klauern Could you please check the above PR and let me know if it works for you ? Thanks.

[2018-10-06 09:05] Akasurde commented on #44407
@aioue Could you please check if #46145 fixes issue for you and let us know ? Thanks

needs_info

[2018-10-06 11:17] tuxick commented on #30411
Ok, after checking which ssh session it was stuck at, found out that in my case it was yum going on forever because it failed to connect to mirrors. Of course any other hanging process can/will do the same.The real problem to solve is timeouts in general

[2018-10-06 13:50] #21188 closed, assigned to nobody

[2018-10-06 13:50] #29461 closed, assigned to nobody

[2018-10-06 14:37] J-SirL commented on #40400
The prolem is that it does not work.
I just tested tags: [ 'never', 'debug' ] and it still executes if you use another task.

[2018-10-06 14:39] FlorianHeigl commented on #30411
@strarsis you can also simply use a soft mount instead of a hard mount (which is telling it to block! on IO if the target is missing). but this is not the point. like @tuxick says, the problem is that there is no error handling for remote timeouts. Manually fixing trivial timeouts in surrounding env so the automation can manage it is ... WHY DOES ONE EVEN DISCUSS THAT?
(the "df" part of gather cou

[2018-10-06 14:42] gundalow commented on #35494
@rifty thank you for confirming.
FYI Ansible 2.7 has been released now.
Happy automating

[2018-10-06 14:58] tonyskidmore opened #46574 "ansible-vault fails to encrypt_string that begins with minus character"
##### SUMMARY

ansible-vault unable to encrypt string that begins with a '-' character.  The '-' or '--' is interpreted as a parameter and not a string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-10-06 20:53] felixfontein commented on #43639
!component =lib/ansible/plugins/connection/docker.py

[2018-10-06 20:56] felixfontein commented on #43639
I think it is querying the correct version. It doesn't know about the "dev" version, though. Do you use a custom build of the Docker server, or a development version?

Usually, installed versions output something else, like `'18.06.1-ce'`. And that can be parsed correctly.

If `'dev'` is returned by the development version, we could include some logic which detects it and treats it as "new enough"

[2018-10-07 00:09] ghost opened #46583 "Ansible v2.70 - Docker Swarm is unable to create the swarm manager"
##### SUMMARY

Ansible v2.70  - Docker Swarm is unable to create the swarm manager

##### ISSUE TYPE
- Bug Report
Ansible v2.70  - Docker Swarm is unable to create the swarm manager

##### COMPONENT NAME

docker_swarm module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[c

[2018-10-07 05:14] nik786 opened #46589 "terraform plan"
terraform plan is not able to print the output from terraform module

[code]

any help will be appreciated...

[2018-10-07 05:34] nik786 commented on #46589
Issue Type:
motief is to print output of terraform plan by ansible terraform module which is not happening
 im posting the output

TASK [terraform-aws-role : debug] *********************************************************************************************
ok: [cloud-controller] => {
    "tf_run": {
        "changed": false,
        "command": "/usr/local/bin/terraform -lock=true /etc/ansible/sc

[2018-10-07 07:29] felixfontein commented on #46583
@kylix3511 Which version of the Python Docker SDK do you have installed on your machine? (`pip show docker`)

[2018-10-07 07:31] felixfontein commented on #46583
From the [docker documentation](https://docker-py.readthedocs.io/en/stable/change-log.html), `ca_force_rotate` should be supported by `docker >= 2.6.0`, which is required for the [docker_swarm module](https://docs.ansible.com/ansible/latest/modules/docker_swarm_module.html#requirements). If you have an older version installed, please upgrade to at least 2.6.0.

[2018-10-07 08:09] tadeboro commented on #45248
@jose-delarosa That pull request does indeed fix the issues on my test system. Thanks.

[2018-10-07 09:54] DerMolly opened #46591 "password_hash filter recognises bcrypt directly and not blowfish"
##### SUMMARY
It is rather odd that to get a bcrypt hash with the password_hash filter one has to use blowfish as a hash.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
password_hash / core filter

##### ANSIBLE VERSION

[code]

[code]

[2018-10-07 10:10] DerUser commented on #46591
ansible version: 2.7.0
component name: password_hash / core filter (I guess)

[2018-10-07 11:04] felixfontein commented on #21093
I think the main problem here is that `exposed_ports` is used wrong. This has no relation to `published_ports`, except that the error becomes visible when `published_ports` is used..

[2018-10-07 11:05] felixfontein commented on #44668
The first bug (does not accept single port) is invalid (#21093); see https://github.com/ansible/ansible/issues/21093#issuecomment-427644496

[2018-10-07 11:07] felixfontein commented on #44668
The second bug (does not accept `all`, #21091) is probably also invalid for the same reason. Since the value of `ports` is not explained in the bug report, it is impossible to say whether that's the reason. Anyway, using `all` works fine in my tests.

[2018-10-07 11:09] Akasurde commented on #27722
resolved_by_pr #46593

[2018-10-07 11:27] felixfontein commented on #21094
This is not a bug, but a feature request. Passing port ranges is not currently documented, so there's no reason why it should work.

[2018-10-07 11:31] webknjaz commented on #46583
bot_status

[2018-10-07 12:53] felixfontein commented on #44668
The missing features described here will be added in #46596.

[2018-10-07 12:54] felixfontein commented on #43177
Will be fixed by #46596 (which will make this an explicit error and hint at the `dig` lookup plugin).

[2018-10-07 13:31] felixfontein commented on #19193
@MikeSpreitzer I created a PR which should allow all (currently) possible modes in all cases: #46598

[2018-10-07 14:14] OurFriendIrony commented on #42534
Has this been resolved yet, or a clean workaround defined? I'm having the same issue

[2018-10-07 15:32] jimmymccrory opened #46600 "Variable templating not working correctly when delegating"
##### SUMMARY

When looping through a list of variables and delegating to a templated host, only the first host's variables are templated correctly.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/vars/manager.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

[code]

####

[2018-10-07 16:16] dagwieers commented on #25532
I updated my patch to pywinrm to recover from this at: https://github.com/diyan/pywinrm/pull/174

Now you can set **reconnection_retries** and **reconnection_sleep** (e.g. resp to 5 and 5 seconds) to recover from temporary Connection Refused situations. This can recover from e.g. installing SCVMM (which apparently makes WinRM unavailable for a short while).

[2018-10-07 16:33] ilicmilan commented on #46508
Hi Alain,

Here you can find integration tests for *one_vm* module.
https://github.com/alainchiasson-guavus/ansible/tree/feature/add_one_vm_facts_module/test/legacy/roles/one_vm

чет, 4. окт 2018. у 21:39 Alain Chiasson (Guavus) <notifications@github.com>
је написао/ла:

[2018-10-07 16:53] ilicmilan commented on #46508
Hi @alainchiasson-guavus,

You can easily fetch vm facts using attributes and labels options.
In OpenNebula machine's name is nothing else than special attribute called NAME.
Btw: The labels are also special attribute.

Here are few examples how you can fetch vm's facts:
[code]
Hope you can find your use case here.
Here you can find integration tests for `one_vm` and other modules: https://github.

[2018-10-07 17:12] Akasurde commented on #37066
@mgibula Could you please verify if https://github.com/ansible/ansible/compare/devel...Akasurde:i37066 works for you and let me know ? Thanks

needs_info

[2018-10-07 18:16] epicanthal commented on #44463
Please let me know if I should open a separate issue, however this maybe related to @pffs statement "finding the prompt inside".

ISSUE TYPE
`Bug Report`

COMPONENT NAME
`ios_facts`

ANSIBLE VERSIONS (where the issue was reproduced, no other versions tried)
`2.5.4, 2.5.9, 2.5.10, 2.6.5`

CONFIGURATION
`DEFAULT_ACTION_PLUGIN_PATH(/home/vagrant/ansible/ansible.cfg) = [u'/usr/lib/python2.7/site-packa

[2018-10-07 18:16] robertdebock commented on #45638
Same issue for me. My use-case:

I'm reading packages from a variable:
[code]

And try to install using:
[code]

All distributions (actually ansible_pkg_mgr's) see to work, but pacman:
[code]

[2018-10-07 20:08] DSpeichert opened #46603 "yum fails building wrong repoquery command on CentOS 7"
##### SUMMARY
The `repoquery` command is wrong - it has missing parameter value for. `-c` when running any `yum` module action.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CloudLinux 7 / CentOS 7

##### STEPS TO REPRODUCE
Any call to `yum` module fails, e.g.:

[code]

##### EXPECTED RESULTS
Should work a

[2018-10-07 20:50] felixfontein commented on #46144
I cannot reproduce this. I'm using the following playbook:
[code]
I'm trying this with devel ansible, docker-py 3.5.0, and docker 18.06.1-ce.

[2018-10-07 22:20] #29724 closed, assigned to nobody

[2018-10-07 22:30] dagwieers commented on #25532
I also implemented the same solution for pypsrp now at: https://github.com/jborean93/pypsrp/pull/10

[2018-10-07 22:35] epicanthal commented on #44463
The issue seems to appear between v2.5.1 -> v2.5.2.  i.e. the full running-config is captured with Ansible v2.5.1, whereas the truncated running-config appears in v2.5.2.  It appears #39093 changes the regex in ios.py [(files changed)](https://github.com/ansible/ansible/pull/39093/commits/cf792fa7ee2b23750513281ad4b30bf11993459e).

Next, I tested again with v2.5.2 with removing the **`?`** from th

[2018-10-07 23:27] thoto commented on #27905
Sorry for the late reply.

In [the repository](https://github.com/thoto/ansible_virt_domain) I referenced in a previous comment I keep adding features as I need them. These features are usually of bad code quality, lack a lot of testing and are often just suited for a very specific situation. Documentation for the modules and its features is missing as well, what makes them quite hard to use. Plea

[2018-10-08 00:18] julthomas commented on #46600
Hello,

I think I have the same or related issue when switching from 2.6.5 to 2.7.0.
Here is an example.

Playbook:
[code]

Inventory:
[code]

Result with 2.6.5 (correct) :
[code]

Result with 2.7.0 (broken) :
[code]

In 2.7.0 both items are the same although the variable looped-on is not the same on each host.

Regards,
Julien

[2018-10-08 01:06] ps-jay commented on #44613
I have opened issue [#3837](https://github.com/boto/boto/issues/3837) in the boto repo - however I doubt it will be worked on, as boto3 is where everyone is heading.

I'll investigate if I can put a small workaround into Ansible.

[2018-10-08 01:18] ps-jay commented on #44613
There is a fix proposed for boto ... it just hasn't been merged: [3699](https://github.com/boto/boto/pull/3699)

[2018-10-08 02:37] yuwzho commented on #46537
+label easyfix

Attract people who is interested in starting to contribute to Ansible Azure modules. Just add the sku as one of the choices, and modify the documentation as well

https://github.com/ansible/ansible/blob/a7425a7e79938f125d0f229d0884b9bf806cdc1a/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py#L716

[2018-10-08 04:13] justjais commented on #45090
@depereo you can test with either the PR branch or 2.7rc3 whichever is feasible for you.

[2018-10-08 04:42] MatthewHannigan opened #46609 "`ansible_facts` is undefined. `vars` works."
##### SUMMARY

The documentation has this
`- debug: var=ansible_facts`
But
`ansible_facts` is undefined; you need to use `vars`
i.e. `- debug: var=vars`

If using var=ansible_facts the error message is
`ValueError: dictionary update sequence element #0 has length 1; 2 is required`

If using `msg="{{ ansible_facts }}"` the error is
`'ansible_facts' is undefined`

##### ISSUE TYPE
- Documentation Re

[2018-10-08 05:15] flaper87 commented on #29661
@zcourts I think a good first start would be for you to propose a PR with your changes and improvements. I can help with the review and pushing it forward. Once that's done, I think we can also add you as a reviewer of this module. How does that sound?

[2018-10-08 06:01] cahlchang opened #46611 "check_mode option is not referenced in ec2_instance"
##### SUMMARY
In the ec2_instance module, the instance also starts up when check_mode is enabled.
I am working on this problem and I am planning to release PR later.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu16.04

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

###

[2018-10-08 06:42] yuwzho commented on #46440
Thanks for reporting this issue, we will look into this

[2018-10-08 06:45] tbouvet commented on #46583
@kylix3511 Which version of docker do you use ? Can you put informations of `docker version` ?

[2018-10-08 07:00] tripledes commented on #42569
@Akasurde thanks! it does.

[2018-10-08 07:11] #46501 closed, assigned to trishnaguha

[2018-10-08 07:48] HammerZ3it commented on #46484
Thank you !
If it can help you I found a way to do it with pyvomi, (external python script)

Regards,

[2018-10-08 08:00] #46591 closed, assigned to nobody

[2018-10-08 08:21] qist opened #46614 "udevadm fact gathering timeouts while shell succeeds"
[code]

[2018-10-08 09:02] pkorthal commented on #42409
Reproduced with ansible 2.7.0,

Current result: vm reboot but did not rebuild.

Issue does not occur in ansible 2.5.6

[2018-10-08 09:04] dilipsharma2005 opened #46615 ""msg": "argument disk is of type <type 'dict'>"
##### SUMMARY
I write the below code.
[code]
But getting error while running playbook.
[code]

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-08 09:11] #19193 closed, assigned to nobody

[2018-10-08 09:12] sieben commented on #45832
@acozine Let me know if I can help for reviewing the current style guide and give feedback :) I hope the AnsibleFest was a nice event :)

[2018-10-08 09:33] Akasurde commented on #46615
@dilipsharma2005 Thanks for reporting this issue. You are specifying disk as dictionary where as `vmware_guest` requires disk as a list as follows -

[code]

[2018-10-08 09:33] #46615 closed, assigned to nobody

[2018-10-08 09:53] #43177 closed, assigned to nobody

[2018-10-08 09:53] #44668 closed, assigned to nobody

[2018-10-08 10:05] jdavid5815 commented on #46484
Hi,

I too have been looking for this feature. It's rather strange that there is a module to create, delete and update tags and a module to retrieve all kinds of information from existing tags, but nothing to actually assign a tag to a virtual machine.

I'm very much looking forward to a new ansible module (or maybe an updated vmware_tag module) that can do this. However, in the meantime, I would

[2018-10-08 10:07] nicholasrodriguez commented on #44772
@ckotte using the file below it fixes the issue. Thanks for the help.

https://github.com/ansible/ansible/blob/3a524b69cbe76af85d602664991fcf6b0a39f60d/lib/ansible/modules/cloud/vmware/vmware_host.py

[2018-10-08 10:09] mattiasb opened #46617 "influxdb_user can't change password or admin-status on user"
##### SUMMARY

`influxdb_user` doesn't update users, only adds them.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`influxdb_user`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

The influxdb running in a libvirt Vagrant machine (Ubuntu 18.04):
[code]

##### STEPS TO REPRODUCE

Apply the following playbook to a Vagrant machine that runs Ubuntu 18.04, dock

[2018-10-08 10:14] #45528 closed, assigned to nobody

[2018-10-08 10:48] mkrizek commented on #46275
So the `_cond_not_supported_warn` method was introduced in https://github.com/ansible/ansible/pull/41126 and is present since `v2.7.0.a1`. However the method is used in https://github.com/ansible/ansible/pull/40866 (merged later despite the number might indicate otherwise) which was backported to `2.5` and `2.6`.

@nitzmahone @mattclay Do you prefer to backport just the `_cond_not_supported_warn`

[2018-10-08 10:57] mkrizek commented on #41934
@intelligide @Mouzaffar ^^^ does the above solve your issue as well?

needs_info

[2018-10-08 11:05] navrkald opened #46619 "Jinja2 tests local path instead of remote"
##### SUMMARY

Using testing paths described in [official documentation](https://docs.ansible.com/ansible/devel/user_guide/playbooks_tests.html#testing-paths) does tests always on localhost **not on remote machine**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Jinja2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release

[2018-10-08 11:06] daMupfel commented on #42492
Any news on this issue?

[2018-10-08 11:50] mattiasb commented on #46617
Turns out setting passwords works fine as soon as HTTP auth is turned on. Maybe a litte note about that next to `user_password` would be good.

Still can't change a user to be `admin` though.

[2018-10-08 11:54] fvzwieten commented on #44374
When using env vars, how can I influence these (define/change their content) using Tower/AWX? I would prefer a solution that would work with both Engine/Core and Tower/AWX.

[2018-10-08 11:58] daMupfel commented on #32888
We have the same issue, any updates here?

[2018-10-08 12:39] #40068 closed, assigned to nobody

[2018-10-08 13:33] couchgott commented on #46523
Hi again,

so i gave it a try but somehow i am totally stuck to get this to work.

I added to the ansible.cfg:

`
[inventory]
enable_plugins = foreman
`

and created the foreman.yml like:

`[root@XXXANSIBLE ansible]# cat /etc/ansible/foreman.yml
---
plugin: foreman
url: https://XXXFOREMAN
user: XXXUSER
password: XXXPASSWORD
validate_certs: False
`
then i tried with:

`ansible-inventory -i /etc/ans

[2018-10-08 14:11] eraserix commented on #16894
Just got bitten by this (ansible-playbook --ask-pass ...), Ansible just hangs waiting for the passphrase of the key. As workaround, I renamed the encrypted key so it would no be used by default.
Ansible: 2.5.1

[2018-10-08 14:38] liqingkai2017 opened #46626 "Using network plugins through jump machine failed"
ISSUE TYPE
Bug Report
COMPONENT NAME
 ios_command

ANSIBLE VERSION
ansible 2.4.4.0
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python2.7/site-packages/ansible-2.4.4.0-py2.7.egg/ansible
executable location = /usr/local/bin/ansible
python version = 2.7

[2018-10-08 14:44] rupertnash commented on #35645
I have this problem with ansible 2.7.0, host is Ubuntu 18.04 and target is a Docker container with Centos 7

Setting `ANSIBLE_KEEP_REMOTE_FILES=1`, exploding the script, and doing a little debugging shows a few things:

The command to list the files in the archive is correct if run from '/'
/usr/bin/gtar --list -C /tmp -z -f ~vagrant/.ansible/tmp/ansible-tmp-1539005424.71-186487191350130/source

H

[2018-10-08 14:49] kylix3511 commented on #46583
I tried docker.io, docker-ce and docker-ee all above 2.6 versions, all giving the same results and same error.

( I haven't use pip install to docker. I got the EE version from Docker. )

Following is my docker version details.

[root@dockermaster ~]# docker version
Client: Docker Enterprise Edition (EE) 2.0
 Version:      17.06.2-ee-16
 API version:  1.30
 Go version:   go1.8.7
 Git commit:   9ef

[2018-10-08 14:51] kylix3511 commented on #46583
I didn't use ca_force_rotate. I just use a simple and generic docker swarm creation. please refer my playbook.

[2018-10-08 14:53] kylix3511 commented on #46583
I just try to create a simple and generic docker swarm manager ... nothing specific or related to `ca_force_rotate`

[2018-10-08 15:03] tbouvet commented on #46583
Check your **Python Docker SDK** version. It should be `>= 2.6.0.`

[2018-10-08 15:14] samdoran commented on #38655
@christonog The reason the line is inserted each time is because `regexp` does not match the line that is inserted. This will give you the desired behaviour:

[code]

[2018-10-08 15:31] bcoca commented on #46517
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As per the documentation http://jinja.pocoo.org/docs/2.10/templates/#default, you are passing an empty string to the module, NOT omitti

[2018-10-08 15:31] #46517 closed, assigned to maxamillion

[2018-10-08 15:31] samdoran commented on #38655
@FatmanUK The reason you're seeing multiple insertion is because `lineinfile` matches on _lines_ and therefore will never see anything past newlines when looking for matches. The module does _insert_ lines which contain newlines, though.

Since no lines in the file match the contents of the `line` parameter, the line is always inserted.

`blockinfile` is the appropriate module to use for matching

[2018-10-08 15:36] tuxick commented on #30411
https://docs.ansible.com/ansible/2.5/user_guide/playbooks_async.html even uses yum as example. This doesn't solve all problems, but it will help out in case where you know things might 'hang', like nfs mounts and yum.

[2018-10-08 15:36] calston commented on #33101
To be clear Python doesn't "disregard backwards compatibility", Ansible did when they chose to use features with big fat warnings all over the library documentation.

[2018-10-08 15:43] seanorama commented on #44065
Is there a workaround for this?

[2018-10-08 15:51] kylix3511 commented on #46583
Sure. Is there any command to check and validate python docker SDK ? Is there any documentation ?

Thanks.

[2018-10-08 15:54] acozine commented on #45832
@sieben yes, please! I've got a WIP PR related to this ticket I'd like some eyes on: https://github.com/ansible/ansible/pull/46481. Also, we're creating a working group for documentation - I hope you'll participate. Follow our first steps by watching this issue: https://github.com/ansible/community/issues/358. AnsibleFest was great - so many good ideas - now we have to build on the ideas with impl

[2018-10-08 16:01] mattclay commented on #46275
@mkrizek I'm OK backporting just the function or the full PR. @nitzmahone ?

[2018-10-08 16:06] samdoran commented on #38655
When combining `line` with `insertbefore`, `lineinfile` looks for the exact `line` _immediately_ before `insertbefore`. It does not look everywhere in the file for the presence of the line. To get that behavior, add `regexp` to the task.

[code]

Now for the long explanation.

When inserting multiple lines with a loop, it works fine on the first pass, but subsequent runs trigger more insertions.

[2018-10-08 16:06] dilipsharma2005 commented on #46615
@Akasurde Thanks i will try this and come back if problem still persists.

[2018-10-08 16:12] geerlingguy commented on #46517
@bcoca - buuuut... even if I pass `'' | default(omit)` it breaks...?

[2018-10-08 16:14] sieben commented on #45832
Done. Feel free to hl me for general documentation issues :)

[2018-10-08 16:19] geerlingguy commented on #46517
Ah, after a little discussion on IRC and re-reading the comment, it makes sense why this is breaking. However, the change in how `yum` handles an `''` (empty string) passed to certain parameters does mean a number of playbooks and examples may now be broken.

[2018-10-08 16:20] bcoca commented on #46609
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`ansible_facts` in 2.3 only exists after facts are gathered, you are looking at docs in the devel version which now always has `ansible

[2018-10-08 16:20] #46609 closed, assigned to nobody

[2018-10-08 16:23] robertluwang opened #46631 "Found ansible errors for undercloud deployment"
##### SUMMARY
use sudo user stack to install undercloud in centos7.5, stuck at ansible error:

Consider using 'become', 'become_method', and 'become_user' rather than running sudo

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum install python-tripleoclient -y

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
centos7.5

##### STEPS TO REPRODUCE
[stack@unde

[2018-10-08 16:28] Akasurde commented on #46615
@dilipsharma2005 Yes sure. Thanks.

[2018-10-08 16:34] torched99 opened #46632 "allow local connection to restrict inherited environment variables"
##### SUMMARY

run ansible-playbook with any local connection plays/tasks, and the environment (possibly everything else such as umask, ulimits, working dir too) will be inherited down to the actual task invoked.   This makes switching between local and ssh potentially behave very differently.

A good example where this is more than a minor issue is when invoking ansible-playbook using a python vi

[2018-10-08 16:55] tobiasmcnulty opened #46633 "proxmox_kvm: get_vmid fails altogether if any node is offline"
##### SUMMARY
If a node is offline, ``proxmoxer`` returns a dict describing a VM *without* a name attribute, like so::

    {u'status': u'unknown', u'vmid': 1002, u'type': u'qemu', u'id': u'qemu/1002', u'node': u'pve2'}

This causes `get_vmid()` to fail since there's no `name` key in this dict. Worse, this error is hidden and reported as "no such VM in cluster" for any and all VMs, no matter wheth

[2018-10-08 17:15] kylix3511 commented on #46583
[root@dockermaster ansible]# pip freeze  | grep -i docker
docker-compose==1.9.0
docker-py==1.10.6
docker-pycreds==0.3.0
dockerpty==0.4.1
[root@dockermaster ansible]#

Now I got this error :

[root@dockermaster ansible]# ansible-playbook docker-swarm.yaml -vvv
ansible-playbook 2.7.0
  config file = /root/ansible/ansible.cfg
  configured module search path = [u'/root/ansible/lib']
  ansible python m

[2018-10-08 17:15] bayramlibayram commented on #46603
Adding conf_file: '/etc/yum.conf' could be a workaround while it is fixed in the release:

`- yum:
    name: epel-release
    state: latest
    conf_file: '/etc/yum.conf'`

[2018-10-08 17:51] rbeede commented on #6077
Not sure why this was closed.  This bug is still occurring in the latest version of Ansible.

[2018-10-08 17:57] PascalNegwer commented on #34340
for me, installing `libselinux-python` solved the problem

[2018-10-08 17:58] felixfontein commented on #46583
You have version 1.10.6 of docker-py. You should have version 2.6.0 of docker (or newer). Note that docker is the new name of docker-py (docker-py is version < 2.0, docker is version >= 2.0).

Uninstall docker-py and then install docker (in precisely that order, otherwise you will ruin your installation) with
[code]
Then it should work.

[2018-10-08 18:01] felixfontein commented on #45683
The minimal requirement for `docker_swarm` according to its documentation is 2.6.0.
@hbielenia please upgrade to 2.6.0 (or newer).
@dariko docker-py is docker < 2.0, so it definitely will not work.

cc @tbouvet as the module author

[2018-10-08 18:02] felixfontein commented on #46583
duplicate_of #45683

[2018-10-08 18:07] calvinmclean commented on #42756
Looks like the [latest commit to this module](https://github.com/ansible/ansible/commit/7c66c90afcb4dbe15f5815c44e9c65f887a446bc) using the new fetch_file util fixes the issue

[2018-10-08 18:07] #42756 closed, assigned to nobody

[2018-10-08 18:07] kylix3511 commented on #46583
Yes. It is working as expected. Thanks for sharing.

[2018-10-08 18:09] #46583 closed, assigned to nobody

[2018-10-08 18:17] corbinstuard commented on #38300
@ckotte

Nothing is wrong with that, it sounds perfect. I corrected my prior opinion above.

[2018-10-08 18:34] briantist commented on #46611
Thanks for this. It's really disconcerting how many ansible modules in "stable" releases make changes in check mode.

Workaround for anyone who encounters these: `when: not ansible_check_mode` :(

[2018-10-08 18:43] jctanner opened #46636 "test"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-08 18:47] ckotte commented on #38300
@corbinstuard

Sorry, I made a mistake. You were asking about `cluster_name`. I use `vmware_host` to connect ESXi hosts to staging folders...

You need to specify either `folder_name` or `cluster_name`. Is this ok? I just ask because I have a PR open and I could make some additional changes to fix this issue.

Looks like you only have an issue with the resource pool module and you want to be able

[2018-10-08 18:50] #44461 closed, assigned to samccann

[2018-10-08 19:07] sdktr commented on #45948
Is part of this generic module also usable in the Inventory Plugin from @sieben ? https://github.com/ansible/ansible/pull/45347
Read: should the two types (Inventory + Facts module) build upon the same base?

[2018-10-08 19:19] maxamillion commented on #46603
This is definitely a bug, but I'm curious how you hit it with the playbook task you provided because I'm unable to reproduce using that and we have a lot of integration tests that perform simple installs/updates that all work as well.

[2018-10-08 19:53] jctanner commented on #46636
bump

[2018-10-08 19:58] felixfontein commented on #45683
@tbouvet Maybe you should add a version check to `docker_swarm`, which fails if it is used with a too old `docker-py` version.

[2018-10-08 20:23] jborean93 commented on #46539
Well, that breaks my assumption. Are you able to test out psrp as that should hopefully give us a better traceback to identify where this is happening.

[code]

[2018-10-08 20:29] maxamillion commented on #46495
Alright, so this appears to be a weird thing with Amazon Linux.

[code]

The error is happening because upon first attempt to remove the package, it is successful but the yum module code queries to find out if `mysql` is installed after the `yum remove mysql` command was issued which `mysql55` apparently satisfies so it is "detected" that the package is still installed and marks failure. If you ru

[2018-10-08 20:50] ramonfierro commented on #46495
Wow, so the dependency is not cleared during the first remove... well this is weird. I think for this scenario @guidodobboletta you might want to give a try to the `autoremove` directive (take this with a grain of salt) and likely the repoquery in `ensure()` can benefit from using `--resolve`.
Any thoughts?

[2018-10-08 21:06] beglowac opened #46649 "Optimized continuous asynchronous parallel execution of playbooks across a subset of inventory hosts"
##### SUMMARY
This is a request for an ansible feature to support execution of a playbook against a set of hosts asynchronously and in parallel, such that, when executed against an inventory a subset of x number hosts will run the playbook simultaneously and as fast as possible (strategy = free). Should one host finish the playbook run, ansible will then automatically select another host from the

[2018-10-08 21:25] geerlingguy opened #46650 "ansible-galaxy install from large requirements.yml file results in 'NoneType' object is not iterable"
##### SUMMARY

When installing a number of roles from Ansible Galaxy using the attached requirements.yml file (see gist linked later in this issue), I get an error message `'NoneType' object is not iterable`

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`ansible-galaxy`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave

##### STEPS TO REPROD

[2018-10-08 21:29] geerlingguy commented on #46650
There are only 26 releases for the node.js project, so I'm not sure why it's not working correctly, at least at a glance.

[2018-10-08 21:55] geerlingguy commented on #46650
If I comment out the `nodejs` role, it then fails on the `php` role. And if I comment out the `php` role, then it fails on the `php-memcached` role, etc.

I'm going to downgrade to Ansible 2.5 and see if the bug exists in that version too.

[2018-10-08 22:09] bcoca commented on #46649
sounds like you want https://docs.ansible.com/ansible/latest/plugins/strategy/host_pinned.html

[2018-10-08 22:17] geerlingguy commented on #46650
So after trying a dozen or so different permutations, I started getting something like:

[code]

Then I realized a pattern; the installation would always seem to fail after about 20 roles.

So... maybe the Galaxy API starts killing connections after 20 roles are installed? Not sure exactly what's happening, but there was no single role or version that seemed to cause the problem to be reproducible

[2018-10-08 22:18] ericwb commented on #46574
This is something that argparse attempts to handle, but I see that the ansible CLIs are still using the old optparse module.

https://docs.python.org/2/library/argparse.html#arguments-containing

[2018-10-08 22:48] jlecour commented on #38655
Hi. Thank you @samdoran for your time and explanations.
I’m glad that a fix has been made and I’ll try it as soon as I can.

About your reminder of the spec for `insertbefore`, I’m a bit surprised.

I’ve always thought that it was used in case the line should be inserted, but not that the line must be exactly at the position. At least the documentation and the real behavior was that way until 2.4.

[2018-10-08 23:04] ericwb commented on #46574
Actually the `--` separator is already supported:

[code]

So the only fix I can see would be to better document this workaround.

[2018-10-09 00:06] pilou- commented on #32997
Fixed by https://github.com/ansible/ansible/commit/bab947d8547c25dda2f09bbcb408df12f4449021#diff-fb1a3b3cbd57a4de4c09ab5a7341f103L135 in #37189.

[2018-10-09 00:13] #32997 closed, assigned to nobody

[2018-10-09 00:43] bearmoo-cloud-net opened #46654 "lambda: UnboundLocalError: local variable 'current_version' referenced before assignment"
##### SUMMARY

Using ansible to deploy lambda function

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lambda

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04

##### STEPS TO REPRODUCE

Run playbook
`ansible-playbook --check -i "localhost," deploy-lambda.yml`

playbook:
[code]

##### EXPECTED RESULTS

I should see a successful run.

##### ACTU

[2018-10-09 01:01] UnitedMarsupials commented on #33101
Although Ruby's disaster between 1.8 and 1.9 was worse, of course, to a Tcl-bigot like myself, the Python-2.x vs. Python-3.x controversy is quite mind-boggling...

[2018-10-09 02:40] liqingkai2017 commented on #46626
@rcarrillocruz  as I mentioned above，our need is to use a jump machine as a proxy to implement the ansible server of the external network to send cli commands to the intranet devices.Now we use local connection to do this，is the local connection not support ？As I  know the ios ansible plugins can support this scene , I think maybe any necessary configuration is not being used correctly.Can you sup

[2018-10-09 02:42] larrykoo711 opened #46658 "ansible not work and show a bug: 'NoneType' object is not iterable"
system: macOS Mojave 10.14
python: 2.7
ansible: 3.7.0 (pip install ansible)

<img width="770" alt="2018-10-09 10 38 21" src="https://user-images.githubusercontent.com/1057589/46643710-e4044300-cbaf-11e8-9fb5-845096f8804a.png">

[2018-10-09 02:48] IshwarKanse opened #46659 "[RFE] Authentication to Azure Stack using ADFS as identity provider."
##### SUMMARY
Support for authenticating to Azure Stack using ADFS as the identity provider. The Service Principals of ADFS differs from that of Azure AD and currently there is no capability to use the ADFS identity provider with Azure Stack.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Authentication

[2018-10-09 02:48] jkman340 opened #46660 "Vars ansible_control_path and ansible_control_path_dir ignored"
##### SUMMARY
Documentation lists 'ansible_control_path' and 'ansible_control_path_dirs' as new vars to set these values using variables at run time on 2.7. Upon testing, these values are ignored and and use the values defined in ansible.cfg.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SSH Plugin

##### ANSIBLE VERSION
ansible 2.7.0
  config file = /etc/ansible/ansible.cfg
  configured mo

[2018-10-09 02:50] loukash commented on #44065
I'm using 2.5.0

[2018-10-09 03:02] jhawkesworth opened #46661 "Optionally make not matching any hosts a fatal error"
##### SUMMARY

Add the ability to specify that a play must match at least 1 host, or the playbook should terminate with an error
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

NO_HOSTS_MATCHED_FATAL
##### ADDITIONAL INFORMATION

My first thought is this could be a play level directive.

Its needed to stop deployments being missed simply because hosts were not added to inventory (or even th

[2018-10-09 03:04] jkman340 opened #46662 "Tag inheritence on include_tasks unexpected result in 2.7"
##### SUMMARY
I have role that is imported  with "import_role" that is tagged with a tag 'test''. Within this role, there is a dynamic 'include_role" (using tasks_from).  All the tasks with in the included tasks are run unexpectedly even though they are not tagged with 'test'.  Appears the tag is inheriting to these tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tags, include, import

[2018-10-09 03:39] corbinstuard commented on #38300
@ckotte

Yes, folder_name or cluster_name for vmware_host is ok.

You are correct, the cluster-level restrictions on the resource pool module cause me problems since I don't use a cluster in my vcenter environment.

[2018-10-09 03:57] memelet commented on #43444
Have you tried this without the `rule_desc`?

I find this behavior to be erratic. If you add `rule_desc` to an sg with existing rules all the rules will be removed. Run a second time and the rules are then created correctly (with the descriptions). Change the value of `rule_desc` and the module throws and exception (but updates the sg correctly).

[2018-10-09 04:02] Akasurde commented on #46658
@gumutianqi Thanks for reporting this issue. Could you please check this https://github.com/ansible/ansible/pull/46664 and let me know if it works for you ? needs_info

[2018-10-09 05:13] Fred-sun commented on #45335
@zikalino

[2018-10-09 06:00] Fred-sun commented on #45176
@zikalino

[2018-10-09 06:47] hbielenia commented on #45683
I was under impression that documentation didn't specify exact version, but you're indeed correct on this. Sorry for trouble.

[2018-10-09 07:16] yamada-k-ts opened #46668 "Allow lineinfile to accept a list of paths"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`lineinfile.py`

##### ADDITIONAL INFORMATION

I am using ansible 2.7.0.
The `yum` module accepts a list of packages and does not require the use of a loop in order to install multiple packages.
[code]

The `lineinfile` module only accepts one path and needs a loop in order to operate on multiple files. It would be nice if a lis

[2018-10-09 07:54] Zer0-One opened #46671 "[plugins/terminal/ios.py] self._get_prompt() returns None but isn't checked"
##### SUMMARY

Ansible throws an exception while connecting to a Cisco device running IOS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`plugins/terminal/ios.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Target OS is whatever the latest IOS is for a Cisco 3560E.

##### STEPS TO REPRODUCE

Run the following playbook:

[code]

##### EXPECTED RESULTS

E

[2018-10-09 08:13] Fred-sun commented on #43802
@yungezz

[2018-10-09 08:17] offlinehoster opened #46673 "Mail module is failing in ansible 2.7"
##### SUMMARY
Using the mail module is resulting an error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mail module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(nothing changed - default)
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 LTS latest with Ansible ppa

##### STEPS TO REPRODUCE
Install the latest version of ansible 2.7 from ppa

[code]

##### EXPECTED RESULTS
Mail will be send

[2018-10-09 08:19] offlinehoster commented on #46673
Same config, same playbook, same machine, so nothing changed BUT ansible downgraded to version 2.6.5 is working fine.

[code]

[2018-10-09 08:28] dmc-tech commented on #46659
The problem is that currently, when AD FS is the identity provider for an Azure Stack deployment, it uses X509 certificates rather than secrets, as Azure AD service principals use.

Within Azure CLI, it is possible to  refer to the path of the PEM file containing the private certificate for authentication, so that method may be a way of implementing this functionality.  https://docs.microsoft.com/

[2018-10-09 08:31] Fred-sun commented on #43416
@yuwzho @zikalino

[2018-10-09 08:48] joachimmathes commented on #46600
I can confirm this issue.

[2018-10-09 09:31] HammerZ3it commented on #46484
Hi @jdavid5815 ,
Let me update it to my account with an ansible example (today or tomorrow).

Regards,

[2018-10-09 09:44] Akasurde commented on #46484
@jdavid5815 @HammerZ3it Here is a draft version of Ansible module - https://github.com/ansible/ansible/compare/devel...Akasurde:vmware_tag_add

Right now, it can just assign tags.

[2018-10-09 09:57] hangsu-ma commented on #42534
@OurFriendIrony
The PR is in progress. If you want to apply the workaround, you can create a folder called library in same folder where your playbook is. Then copy [the fixed version](https://raw.githubusercontent.com/ansible/ansible/524f66e89424a2ce3c6bdaffa71f926a42630987/lib/ansible/modules/packaging/os/apt_repository.py) from  https://github.com/ansible/ansible/pull/42536 in the folder. Ansibl

[2018-10-09 10:37] jhawkesworth commented on #46661
Suggestion from irc user flowerysong that this can be achieved in a playbook like the following.  Not yet tested in my environment but the idea would be to have something more compact:
[code]

[2018-10-09 11:13] akunaatrium opened #46681 "Unixy callback plugin shows debug messages twice"
##### SUMMARY

When using the unixy callback plugin and trying to print out a debug statement, it prints out two identical messages which is not nice.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unixy

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Have `unixy` specified as the `stdout_callback` in the ansible.cfg file.

Create a playbook t

[2018-10-09 11:36] danowar2k opened #46682 "Solaris - pkg5 module - Provide a boolean switch to enable/disable publisher refresh"
##### SUMMARY
The pkg5 module used for Solaris installs is missing an option to disable refreshing publishers. ("--no-refresh").

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
pkg5

##### ADDITIONAL INFORMATION
 At the moment I can't update or install packages on a Solaris Vagrant box because Solaris 11.4 is released and my system wants to update to 11.4 packages. The problem is it can't u

[2018-10-09 11:54] #44721 closed, assigned to nobody

[2018-10-09 11:59] lwm commented on #22607
OK, the new dynamic inventory plugin is in `devel` branch and will release for 2.8.

I'm going to call this one solved since we don't want to commit resources legacy inventory scripts.

close_me

[2018-10-09 12:42] antsan629 commented on #46539
[win]
X.X.X.X

[win:vars]
ansible_connection=psrp
ansible_port=5986
ansible_psrp_auth=credssp
ansible_psrp_cert_validation=ignore

^ that is what I set into my hosts file. And this is the command I ran:

ansible win -i hosts -m win_ping

This is the output:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ValueError: For credssp auth, the username mu

[2018-10-09 12:45] Akasurde commented on #44651
@kstenerud Can you please confirm, if the fix mention works for you ? Thanks

needs_info

[2018-10-09 13:02] #22607 closed, assigned to nobody

[2018-10-09 13:06] pawankkamboj commented on #35493
Any update on this, I am also getting same issue with 2.6.5

[2018-10-09 13:19] sdmorel commented on #46673
I see the same error after updating from Ansible 2.5.5 to 2.7.0. But in my case it's intermittent.
More often than not it works, but once in a while the mail notification task fails with the same socket timeout error.

[2018-10-09 13:27] akatch commented on #46681
Wow, I can't believe people are actually using this :sparkling_heart: I will see what I can do to triage this evening.

[2018-10-09 13:27] sergey-trukhin opened #46689 "Issue with required parameters in rds_instance module"
##### SUMMARY
The **rds_instance** module doesn't allow to restore a DB instance to point in time. There is the error message instead. I guess there is something wrong in this part of code:
[code]
Firstly this function checks if we have all the required parameters and then it adds one missing parameter '**TargetDBInstanceIdentifier**'. I think this parameter should be added to the dictionary befor

[2018-10-09 13:29] webknjaz commented on #46574
So this
[code]
needs to become
[code]

[2018-10-09 13:30] crmolinaz commented on #15713
same issue with Ansible 2.6.1

how can i reopen the ticket?

[2018-10-09 13:31] BetterToAutomateTheWorld opened #46691 "[Bug report] About the path in 'copy' module when it begins with a 'variable' without a '/' before the variable"
Hi,

Here is a issue report about a bug in 'copy' module.

##### SUMMARY
When you use the 'copy' module, if the 'src' begins with a 'variable' (or placeholder) (without a '/' (before the variable), the root path where Ansible is looking for the file is the folder where ansible-playbook is called - and this, even if in the variable/placeholder, a '/' is in the beginning, for exmaple with '$HOME'. S

[2018-10-09 13:33] webknjaz commented on #46574
It's here https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/vault.py#L105

[2018-10-09 13:37] AlexPostID commented on #42292
Sounds reasonable. I also faced a lack of this functionality for metric filters. It would be great to have Ansible module to create an AWS logs metric filters.

[2018-10-09 13:40] webknjaz commented on #46574
@ericwb @tonyskidmore https://github.com/ansible/ansible/pull/46693 should fix this

[2018-10-09 13:44] ferztyle commented on #38715
Have the same issue here, deploying a vm with Centos 7.4 and open-vm-tools. No ip is set

[2018-10-09 13:59] maxamillion commented on #46495
FWIW I've reported to Amazon - https://forums.aws.amazon.com/thread.jspa?threadID=291338

[2018-10-09 14:05] Akasurde commented on #44555
@me-kell Could you please take a look into above PR and let me know if it works for you ? Thanks. needs_info

[2018-10-09 14:17] pillarsdotnet commented on #30411
@tuxick  So in general, I should replace this:

[code]

with this:

[code]

[2018-10-09 14:29] DSpeichert commented on #46603
I have 3 machines that are almost the same. The 2 on which it works properly use the RHEL-like subscription-based update server and the one where it fails uses a regular tym HTTP plain repository.

This doesn't really explain the issue. I'm unable to find the cause of the problem but I haven't tried to dig deep into yum module's source code yet.

[2018-10-09 14:40] lwm commented on #36348
@rmcintosh @displague

Any thoughts on work that can be picked up? I'll hopefully get my PR for the `linode_v4` module in this week, after I kicked off the place holder over at https://github.com/ansible/ansible/pull/46151. I assume once we get `linode_v4` up to speed with the features on the existing `linode` module, we can [deprecate it](https://docs.ansible.com/ansible/devel/dev_guide/module_li

[2018-10-09 14:49] tuxick commented on #30411
I stuck with plain  "async: 300" for now but sure, it can look nicer :). I'm wondering if some form of timeout should be built into modules that might suffer from this kind of problems. Only ones i ever saw go on forever have been nfs and yum anyway.

[2018-10-09 14:57] amendoza-navent commented on #34049
+1

[2018-10-09 15:00] pillarsdotnet commented on #30411
Most of the hangs I'm seeing are with pip.

[2018-10-09 15:02] arielb2 opened #46697 "validate memory parameter for ovirt_vm"
##### SUMMARY
When I create a virtual machine using the ovirt_vm module and I put an incorrect value in the memory clause, it sends an error of "IndexError: string index out of range"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_vm

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
That indicates a message that guides me m

[2018-10-09 15:32] #46559 closed, assigned to nobody

[2018-10-09 15:35] #46589 closed, assigned to ryansb

[2018-10-09 15:37] ryansb commented on #46631
This seems to be an issue with the `tribleo-container-image-prepare` command, as it is exiting with the error return code `1`. The warning (about become/become_user) is only a warning about switching to `become` over `sudo`, but will not cause your task to break. Please open this issue against TripleO about the `container-image-prepare` script.

[2018-10-09 15:37] #46631 closed, assigned to nobody

[2018-10-09 15:43] sivel commented on #46493
`vars` on a task, in this case, an `import_role` act the same as vars supplied via `vars/main.yml` and are roughly treated with the same precedence.

You can utilize `include_role` which has a toggleable behavior for whether vars from the role are exposed to the rest of the playbook.

As described in the porting guide, this behavior is expected, and is designed to mimic the behavior or supplying r

[2018-10-09 15:43] #46493 closed, assigned to nobody

[2018-10-09 15:51] sivel commented on #46662
I cannot duplicate this behavior.  Here is my reproducer:

playbook.yml
[code]

roles/import_me/tasks/main.yml
[code]

roles/include_me/tasks/tasks.yml
[code]

Results in:

[code]

Excluding `--tags test` produces:

[code]

needs_info

[2018-10-09 16:13] webknjaz commented on #46650
That's interesting.. Do we need some exponential backoff to better manage hitting galaxy?

[2018-10-09 16:17] geerlingguy commented on #46650
Not sure, but one thing I'm wondering is if this is something client-side or some kind of rate limiting on the Galaxy servers or some sort of firewall prior to the servers?

[2018-10-09 16:20] sebastienbonami opened #46700 "vmware_guest module: can't deploy from template using standalone ESXi"
##### SUMMARY
Looking at https://docs.ansible.com/ansible/latest/vmware/scenario_clone_template.html, it says:
* Hardware
    * At least one standalone ESXi server or
    * vCenter Server with at least one ESXi server

I'm using a standalone ESXi server (VMware vSphere 5.5 Standard) and I can't figured out how to deploy a new VM from a template. I have this error:
[code]

Using this playbook:
[cod

[2018-10-09 16:29] Akasurde commented on #39890
@1tarak I am not able to reproduce this. What error do you get ?

[2018-10-09 16:32] webknjaz commented on #46650
cc @cutwater do you know anything about Galaxy's rate limiting?

[2018-10-09 16:39] Akasurde commented on #25740
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-10-09 16:39] #25740 closed, assigned to nobody

[2018-10-09 16:43] intelligide commented on #41934
@hulkk Thanks

@mkrizek Yes, it solve the issue ;)

[2018-10-09 16:43] #41934 closed, assigned to nobody

[2018-10-09 16:49] rajvir-centennialcollege commented on #43892
How?

[2018-10-09 16:51] cigamit commented on #38715
@ferztyle Does the template have perl installed?  Have you checked the VMWare log file on the newly created machine?  It usually gives you a pretty good idea of why it didn't work.

[2018-10-09 16:51] jkman340 commented on #46662
What happens if you run the above play with '--tags=import' ? I would expect the 'included' msg would not run as the 'import' tag would not be inherited to the final debug msg because of the 'include'

Here is a short example I just ran

playbook.yml
[code]
roles/import_me/tasks/main.yml
[code]

roles/import_me/tasks/more_tasks.yml
[code]

Results
Run 1: No tags specified, works as expected
ansibl

[2018-10-09 17:00] sivel commented on #46662
I do not get the behavior you are seeing:

[code]

[2018-10-09 17:06] simora opened #46705 "Netbox inventory urljoin vs string concat produces different results"
##### SUMMARY

lib/ansible/plugins/inventory/netbox.py dynamic plugin uses both urljoin() and simple string concatenation to produce the API urls used to retrieve data.

@sieben

api_endpoint: http://server/netbox

urljoin() produces http://server/api/dcim/...
string concat produces http://server/netbox/api/dcim/...
urljoin()
[netbox.py line 243](https://github.com/ansible/ansible/blob/3c7a503a53a

[2018-10-09 17:13] sivel commented on #46662
I've just done some testing, and this is expected.  Let me explain what is happening.

In 2.5.2 we fixed a bug that prevented tasks from within dynamic includes from inheriting attributes from static parents.  An example:

[code]

The tasks within `include_me.yml` should inherit `become`, and as of v2.5.2 they do.

Now, what is happening in your case, is that an "implicit" block gets inserted inbe

[2018-10-09 17:13] #46662 closed, assigned to nobody

[2018-10-09 17:17] UweSauter commented on #32265
I, too, am looking for a solution to generate configuration files for multiple hosts quickly. But the generation needs to be done on the host executing the play.

Currently I'm generating about 15 files per target host and have ca. 150 hosts to itterate over. This takes around 30min. But in the next few days the number of hosts will increase to around 600.

I don't need the verification step (as t

[2018-10-09 17:18] maxamillion commented on #43025
@juame confirmed, thank you. Fun fact, this isn't an issue with versions of firewalld in Fedora but only in RHEL/CentOS 7 :)

[2018-10-09 17:20] jkman340 commented on #46662
That makes sense, I was not aware of the implicit block, and actually simplifies what I need to do. Thanks for testing and the explanation!

[2018-10-09 17:24] #15956 closed, assigned to nobody

[2018-10-09 17:35] jamescassell commented on #44341
Thanks for the link.  I was about to open a bug about delegate_to with include_role being broken after 2.4...

[2018-10-09 17:54] jpza commented on #42292
Putting a PR up for this functionality

[2018-10-09 18:04] mfinelli opened #46709 "rabbitmq_vhost doesn't work with longnames"
##### SUMMARY
rabbitmq_vhost doesn't work when the `USE_LONGNAME=true` option is set in rabbitmq-env.conf.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_vhost

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible-pull on centos 7.5, with rabbitmq 3.7.8 and erlang/otp 21.1.

##### STEPS TO REPRODUCE

Enable the `USE_LONGNAME=true` opti

[2018-10-09 18:20] rbvto commented on #44725
That makes sense, i'm not sure which features the **python-lzma** package supports but it seems like it's not what ansible expects it to support.

The best approach would be to install _backports.lzma_ through PyPI.

[2018-10-09 18:20] #44725 closed, assigned to nobody

[2018-10-09 18:41] maxamillion commented on #27844
@lukas-bednar I understand your point, my point is that the tool in which we're effectively wrapping/mimicing in service of automating tasks also has this same behavior and I don't see a reason for the Ansible module to behave differently. Also as a note, a check operation as a normal user is an extremely expensive task (especially on ephemeral instances where storage is slow) because of all the d

[2018-10-09 18:42] gbolo commented on #21002
huge problem!

[2018-10-09 18:45] bcoca commented on #46619
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

All templating runs on the 'controller', never on the target, hence all Jinja2 tests are also restricted to the controller, as document

[2018-10-09 18:45] #46619 closed, assigned to nobody

[2018-10-09 18:46] riglersc commented on #46673
Possibly related.  The mail module is not working for us either, but the error is different.  For us it fails with "address family not supported by protocol".  Note that we disable ipv6 on our hosts.  Related?  I will open a separate bug report if need be.

with the following message:

        MODULE FAILURE
        See stdout/stderr for the exact error

with the following exception:

        Trac

[2018-10-09 18:49] maxamillion commented on #33187
@adelton in this context, `dnf` is the package manager. The `dnf` Ansible module is effectively a wrapper around the `dnf` API in service of automating `dnf` transactions and is what the Ansible `package` module will "hand off" the unit of work to when `dnf` is the detected package manager. I understand that `rpm` itself is under that package manager at a lower level and technically on the backend

[2018-10-09 18:51] pillarsdotnet commented on #30411
Actually, the above pattern is failing, with an error indicating that the `when` clause could not be evaluated because the variable in the `register` clause is undefined.

[2018-10-09 19:01] jborean93 commented on #46539
Ah sorry you need to set ansible_user and ansible_password like before. You also need to run with -vvv to show the traceback.

[2018-10-09 19:46] gdubicki commented on #19720
Please create a separate issue for that idea @ssbarnea . I would love to have that feature too, btw!

[2018-10-09 19:55] maxamillion commented on #43624
needs_info

[2018-10-09 20:08] pillarsdotnet commented on #30411
Ran into another error where `something_that_might_hang` finished before the next asynchronous job could run; resulting in an undefined `async_status` result.  Updated pattern follows:

[code]

with this:

[code]

[2018-10-09 20:12] briantist opened #46710 "ec2_instance shows changed when desired state is stopped, instance is already stopped, and filters is defined"
##### SUMMARY
If all of the following conditions are true:

- The desired state of the instance is `stopped`
- The instance in question is already stopped
- The module is called with a `filters` defined

then, the module will be `changed` as if it had changed the state of the instance (but it has not).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code

[2018-10-09 20:23] srjennings opened #46713 "Not sure I understand why win_mapped_drive fails?"
##### SUMMARY
I am unable to utilize win_mapped_drive for Azure Files.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_mapped_drive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targeting Windows 2016 Datacenter

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expectation is that win_mapped_drive actually maps the drive.

##### ACTUAL RES

[2018-10-09 20:42] maxamillion commented on #43870
The situation currently is that when you install a package via the DNF API (as the Ansible `dnf` module currently does), there's no source of feedback provided through that API. The `dnf` command line tool uses internal structures and a non-public non-stable API to gather the information and print those messages. I'm still exploring options on how to pull that information out but at present there

[2018-10-09 20:45] maxamillion commented on #46495
I'm not really sure there's much that can be done from the Ansible side of this without adding some kind of heuristic workaround but ultimately this is an Amazon Linux packaging issue that causes the yum package removal to not work as expected. I'm going to close this for now but please feel free to reopen if needed.

[2018-10-09 20:45] #46495 closed, assigned to maxamillion

[2018-10-09 21:14] jborean93 commented on #46713
Try without become, I found that become messes something even more up. I've seen a few reports of this not working recently so I'm planning on looking into the implementation and trying something different to see how it goes.

[2018-10-09 21:15] lwm commented on #14711
bot_broken

The bot seems to be broken here because it is pinging loooaddsss of people. It just pinged the Linode working group (see https://github.com/ansible/ansible/issues/14711#issuecomment-428265314) and that definitely feels wrong.

[2018-10-09 21:45] plasticrake opened #46718 "loop jinja2 expression is still evaluated inside a skipped block"
##### SUMMARY

The `loop` jinja2 template is being evaluated inside a block that should be skipped via a `when`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

block, loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

My workaround is using a `set_fact` works as expected.

##### EXPECTED RESULTS

The block to be skippe

[2018-10-09 21:49] sivel commented on #46718
A `when` statement, when applied to a `block`, is actually inherited by each task within.

So in effect, you end up with:

[code]

In the case of a `when` statement with a `loop`, as documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-conditionals and https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html:

As such, the loop must

[2018-10-09 21:49] #46718 closed, assigned to nobody

[2018-10-09 22:09] blambo10 commented on #46484
Don’t mean to hijack this issue,
Just thought it directly related to three feature tickets I requested on the same day and wondering if what I have requested maybe addressed within this feature.

Return  tags assigned to cluster, using vmware_cluster_facts
https://github.com/ansible/ansible/issues/46458

Return tags assigned to vm, using vmware_vm_facts
https://github.com/ansible/ansible/issues/46

[2018-10-09 22:10] riglersc commented on #46673
Hi, @webknjaz,  according to the doc, host arg should default to "localhost" where sendmail is listening on port 25.  At any rate, we get the same error with the arg omitted, with "localhost" specified and with a known mail server specified.  The same task runs on a server that has Ansible 2.6.

[2018-10-09 22:35] akatch commented on #46681
@akunaatrium how would you expect the output to handle variables? For example:

[code]

My initial thought was to simply not append the second msg, so the output you'd get would look like this:

[code]

...But that's not quite what you asked for.

[2018-10-09 22:43] b-a-t commented on #15597
This is still the issue, but seems, this is caused by the clash of two problems:

1. `doas` indeed requires TTY for password input, so it (should) work OK with plugins that provide that.
2. The fix in https://github.com/ansible/ansible/pull/16997 actually broke the recognition of the prompt, as `doas` can both use PAM with it's `Password:` prompt and BSD_AUTH, which produces the prompt in the fix.

[2018-10-09 23:04] #23456 closed, assigned to nobody

[2018-10-09 23:30] ssiegel commented on #46562
I experience this issue on Raspbian Stretch as well, but for me the output of `who -b` is `system boot  Jan  1 00:00`. This date/time format seems to be used in the `C` or `POSIX` locale, which means it also happens on a freshly installed system having no locale set. (see https://github.com/coreutils/coreutils/blob/master/src/who.c#L805)

[2018-10-09 23:37] askb commented on #24278
This would be very useful when you are supporting/managing multiple versions of java on the nodes and want to switch all the slave links when the master config is switched. The only way to use the `--slave` option with `alternatives` is with the command module. Any suggestions available for a better/alternative way?

[code]

[2018-10-10 00:48] ralphie02 opened #46722 "vmware_guest: DHCP hostname in vm customization"
##### SUMMARY

I am currently trying to utilize vmware_guest module in order to create a vm from a template. This is working perfectly fine except for one caveat, the dhcp client hostname is not set. I was under the impression that `hostname` under customization would set this but it doesn't. Am I correct to assume that this is not supported? If this is more of a bug or feature request, please let

[2018-10-10 01:22] robertdebock opened #46723 "Module reboot does not work on Alpine."
##### SUMMARY
The reboot module does not work on Alpine and returns an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
reboot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controlnode: Fedora
Managednode: Alpine

##### STEPS TO REPRODUCE
Start an Alpine virtual machine:
[code]

Create a playbook `reboot.yml`:
[code]

Install that robertdebock.bootstr

[2018-10-10 01:39] Abhijeet1986 opened #46724 "Getting error in Ansible like permission denied error"
##### SUMMARY
I am able to run Ansible code ( SSH, tar deploy, cron job setup) for one Linux server but getting  error when using another linux host for same Ansible code.  I compared host config details, .ssh file , running ping etc.What may be issue.. requesting to answer

##### ISSUE TYPE
SSH error

##### COMPONENT NAME

##### ANSIBLE VERSION
2.2.5
[code]

##### CONFIGURATION

[code]

##### OS

[2018-10-10 02:15] MatthewHannigan commented on #46609
OK, the bug is in 2.3 -- possibly only in 2.3.3

`ansible_facts` for 2.3 is undefined **even if you have** `gather_facts: True`

[2018-10-10 02:48] a-k-b opened #46725 "netconf_config before/after operations efficiency improvement - filter"
##### SUMMARY
- the netconf_config before/after get_config operation should have a filter applied as it currently retrieves the configuration of the entire datastore, which is inefficient and unnecessary.
- It also does not explicitly verify that the specific config element has been changed, just that the candidate and running differ after the edit_config operation.
- ncclient get_config supported

[2018-10-10 03:10] Akasurde commented on #15956
@sivel thanks.

[2018-10-10 03:14] Akasurde commented on #46724
@Abhijeet1986 Thanks for reporting this issue. Could you please elaborate more on error message by providing playbooks used, OS installed on machines, User on machine, their permissions, console log with `-vvvv`, any configuration changes in ansible.cfg etc., ? Without this information it is very difficult to debug anything. Thanks.

needs_info

[2018-10-10 03:16] Akasurde commented on #46724
You might want to update Ansible as 2.2 is EOL https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status

[2018-10-10 03:37] FiloSottile commented on #21433
I have a pending PR fixing this issue at #45127

[2018-10-10 03:47] ssahani commented on #46202
I am working on the networkd module https://github.com/ansible/ansible/pull/46118

[2018-10-10 03:56] Nithesh-b opened #46726 "Yum module not working"
##### SUMMARY

Yum module is not working on some servers. Manual update of yum works. The servers are hosted in EC2. Verified the same configuration files redhat-rhui.repo,redhat-rhui-client-config.repo are being used with that of a working instance. Proxy is disabled as well. I am trying to disable the Redhat satellite server configuration and enable AWS provided RHUI update. The last play in the

[2018-10-10 04:03] Nithesh-b commented on #46726
Correction:

The actual output is the following.

    "msg": "\n\n One of the configured repositories failed (Unknown),\n and yum doesn't have enough cached data to continue. At this point the only\n safe thing yum can do is fail. There are a few ways to work \"fix\" this:\n\n     1. Contact the upstream for the repository and get them to fix the problem.\n\n     2. Reconfigure the baseurl/etc. fo

[2018-10-10 04:09] AlexisLessard commented on #23609
For anyone who might be having this issue with ansible 2.5, ensure that you do not have any import loop. I has a distraction where I imported a playbook within itself and had that same error.

[2018-10-10 04:17] Akasurde commented on #46681
resolved_by_pr #46721

[2018-10-10 04:26] #22953 closed, assigned to nobody

[2018-10-10 04:28] Akasurde commented on #46726
@Nithesh-b What is content of redhat-rhui.repo and redhat-rhui-client-config.repo  ?

[2018-10-10 04:39] 3kami3 opened #46727 "VMware: vmware_inventory Error in python3"
##### SUMMARY

An error occurs in python 3.
It worked on python 2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- [inventory/vmware_inventory.py](https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

###

[2018-10-10 04:44] Nithesh-b commented on #46726
The contents of redhat-rhui.repo is as follows. I have hidden the paths of the files.

# The amazon ec2 region is now dynamically set via yum.  REGION can be replaced by the amazon ec2 region for debugging
[rhui-REGION-rhel-server-releases]
name=Red Hat Enterprise Linux Server 7 (RPMs)
mirrorlist=https://rhui2-cds01.REGION.aws.ce.redhat.com/pulp/mirror/content/dist/rhel/rhui/server/7/$releasever/$

[2018-10-10 04:48] Akasurde commented on #46654
@bearmoo-repo Could you please check and let me know if above PR works for you ? Thanks,

needs_info

[2018-10-10 05:42] robertdebock commented on #46726
The error message is quite explicit:

1. Contact the upstream for the repository and get them to fix the problem.
2. Reconfigure the baseurl/etc. for the repository, to point to a working upstream. This is most often useful if you are using a newer distribution release than is supported by the repository (and the packages for the previous distribution release still work).
3. Run the command with t

[2018-10-10 05:50] Nithesh-b commented on #46726
@robertdebock Tried the mentioned steps but to no avail. The repository works fine in an another server in the same subnet always and this server has the issue always.

[2018-10-10 05:59] Fred-sun commented on #40857
@zikalino

[2018-10-10 06:09] sprhawk commented on #14296
Is this still same thing? I'm using ansible 2.7.0, but it seems still to be here.

To my understand to [official doc](https://docs.ansible.com/ansible/2.3/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable)

any variable defined for a role will override defaults "GLOBALLY" ?

so for other I just cannot use the defaults anymore?

[2018-10-10 06:18] Fred-sun commented on #39977
@yungezz

[2018-10-10 06:44] Fred-sun commented on #37158
@yuwzho Could you help fix the feature gap? Thanks!

[2018-10-10 06:44] MikeySmet commented on #46150
I have created a PR for this feature. Can somebody review #46628?

[2018-10-10 06:46] lukas-bednar commented on #27844
@maxamillion I can not come with any compelling reason you are looking for, except what I have mentioned earlier above. Thanks for explanation performance side of this problem.

I guess you can close it then.

[2018-10-10 06:52] Fred-sun commented on #31967
@zikalino

[2018-10-10 07:06] Fred-sun commented on #30392
@nitzmahone

[2018-10-10 07:11] Fred-sun commented on #28392
@zikalino

[2018-10-10 07:18] bitozoid commented on #43639
It may be a problem with the recipe to build docker. It is using the function `docker_make`:

https://git.exherbo.org/virtualization.git/tree/packages/app-virtualization/moby/moby-18.06.1.exheres-0#n67

which calls the build script directly.

https://github.com/docker/docker-ce/blob/e68fc7a215d7133c34aa18e3b72b4a21fd0c6136/components/engine/hack/make.sh#L17

Then, VERSION variable is not defined a

[2018-10-10 07:49] mgibula commented on #37066
It does

[2018-10-10 08:37] Akasurde commented on #46513
@sonegoh Could you please try this fix - https://github.com/ansible/ansible/pull/42979 and let us know if it works for you ?

cc @briantist

[2018-10-10 08:38] Akasurde commented on #46513
similar to https://github.com/ansible/ansible/issues/42977

[2018-10-10 08:52] xsirvent commented on #37703
Hi,

I have a similar problem.

File to change is:

# BEGIN Component swro01
[Component-XXXX]
# END Component swro01
# BEGIN Component swro02
[Component-XXXX]
# END Component swro02
# BEGIN Component sup01
[Component-XXXX]
# END Component sup01
# BEGIN Component mnt01
[Component-XXXX]
# END Component mnt01
# BEGIN Component ecom01
[Component-XXXX]
# END Component ecom01
# BEGIN Component secu01
[C

[2018-10-10 08:54] xsirvent commented on #37703
Sorry, my example file was interpreted by the viewer. Each bold line start with a dash (#) char

[2018-10-10 08:58] tonk commented on #34281
I would like to vote a '+1'as well.

[2018-10-10 09:00] akunaatrium commented on #46681
Thanks, that output would also be suitable.

[2018-10-10 09:13] Akasurde commented on #45043
@s-hertel Could you please confirm if https://github.com/ansible/ansible/commit/e5269c047cc811f8f51d4c152098dd9f5066109a#diff-aaef1b3abde00153e8695bfdf79c5e55 fixes this error ?

[2018-10-10 09:34] HammerZ3it commented on #46484
@jdavid5815
If you want to wait (like me) to official release of this module you can still use this :
https://github.com/HammerZ3it/vmware_tag_vm

Thank you for your work @Akasurde ! I'll try it asap but will wait for the official release (for production) of this module ;)

[2018-10-10 09:39] HenrikFFM commented on #4317
The Main Problem ist, that the shell command is limited to only one pipe. Commands like

shell: read CURRENT_LOG CURRENT_POS < <( mysql -u root  -p {{ mariadb_root_password }} -Ns -e "SHOW MASTER STATUS"); echo CURRENT_LOG=$CURRENT_log

doesnt work. because of the limits of the shell command

[2018-10-10 09:40] carno commented on #29903
In case someone finds this issue, in my case it was lack of `enable_snat: yes` in os_router.

By the looks of it, my company Openstack provider enables snat by default and lack of `enable_snat: yes` was treated as a reason to recreate router.

[2018-10-10 09:49] rdupz opened #46742 "Copy module ignores setgid bit on parent directories"
##### SUMMARY
The copy module ignores setgid bit.
While touching or scping a file into a directory with a setgid bit, the group of the touched or scped file is the same group as the directory one: this is the purpose of the setgid bit.
But when the file is created by ansible, the group of the created file is the default group of the user who copy the file.

I tried various combination. I also trie

[2018-10-10 09:57] HenrikFFM commented on #4317
Found the Solution: https://groups.google.com/d/msg/ansible-project/K2pixPHXlpI/NhTAxBRTt5YJ

[2018-10-10 09:58] jdavid5815 commented on #46484
@HammerZ3it Thanks! I looked at your implementation using the command module to execute a python script, which seems to be a good intermediate solution. I would love to try @Akasurde 's new module, but I currently have no clue how to integrate a new module in an already installed production ansible setup. The good news is that there are solutions available!

@Akasurde any idea in which ansible rel

[2018-10-10 10:38] Jean-Daniel opened #46743 "Native jinja2 context strip new lines at end of file"
##### SUMMARY
When using the template module with jinja2_native true, the template engine incorrectly strip new lines at end of file.

This can be easily solved by setting `keep_trailing_newline` to `true` when configuring the NativeEnvironment.

in template/__init__.py:699

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2018-10-10 10:59] Akasurde commented on #46722
I think Debian is Controller machine so this is not required. Correct me if I am wrong.

According to this doc - http://partnerweb.vmware.com/programs/guestOS/guest-os-customization-matrix.pdf this is supported - vCenter 6 + CentOS 5

[2018-10-10 11:03] carno commented on #44432
@mnaser not sure if this is the best place to discuss this, but shouldn't https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_router.py#L230 be updated too to handle the case where SNAT is enabled by Neutron policy, but is not set in `os_router` arguments?

My current use case (tested with ansible 2.7) is that my company Openstack provider sets SNAT enabled by defa

[2018-10-10 11:07] Akasurde commented on #46484
@jdavid5815 In order to use this module, you can use this doc - https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr or manually copy paste two files
1. https://raw.githubusercontent.com/Akasurde/ansible/f2163443c72152f36a05fea26c2e0e13f9fed9d5/lib/ansible/module_utils/vmware_rest_client.py to <path/to/ansible>/lib/ansible/module_utils/
2. https://raw.githubusercontent.c

[2018-10-10 11:12] bitozoid commented on #43639
Fixed upstream:

https://gitlab.exherbo.org/exherbo/virtualization/merge_requests/26

[2018-10-10 11:25] tadeboro opened #46744 "Systemd module behavior differs from systemd when enabling services"
##### SUMMARY
Actions that systemd module takes when enabling/disabling a service differ from the actions that calling systemctl from console produces.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible versions tested:

  * 2.8.0.dev0 from git on GNU/Linux Fedora 28
  * 2.7 from pypi on GNU/Linux F

[2018-10-10 11:44] mkrizek commented on #46743
This should fix the issue:
[code]

I'll add an integration test and send a PR shortly.

[2018-10-10 11:59] mjmare opened #46749 "docker-image: decouple context path and dockerfile location"
Docker-image uses `path` to specify the context directory and as the location of the dockerfile. `dockerfile` can only specify the name of the dockerfile not the full path.

I prefer to store Dockerfile(s) in subdirectories of some project. Currently, with docker-image I can set the context to some directory, but are then forced forced to place the Dockerfie there as well.

[2018-10-10 12:18] mkrizek commented on #46743
@Jean-Daniel would you mind testing #46751 if you have the time? Thanks!

[2018-10-10 12:30] pilou- commented on #46636
Hi @jctanner, thank you for submitting this issue!

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2018-10-10 12:41] #46636 closed, assigned to nobody

[2018-10-10 12:56] deyjcode commented on #46713
@jborean93 Thanks for the reply. Looks like it doesn't work either. I've tried without ``become`` (commenting out all ```become``` references, ```become_method``` et al.) and run into the same issue:
```The network path was not found```

[2018-10-10 13:04] hswong3i commented on #45614
Because `software-properties-common` not yet installed, so command `add-apt-repository` not exists, and so ansible's `apt_repository` get error.

I try `docker exec` into a container with `ubuntu:16.04` or `ubuntu:18.04`, manually fix with following command, then `apt_repository` working as expected

[code]

[2018-10-10 13:08] dagwieers commented on #46713
@deyjcode Did you use CredSSP or Kerberos for WinRM/PSRP authentication ? I think it is required in this case because of Credential Delegation: https://docs.ansible.com/ansible/2.6/user_guide/windows_winrm.html#authentication-options and maybe you can log on directly as the user you want to run this as:

[code]

[2018-10-10 13:11] rafaelorafaelo commented on #46523
It worked for me, when I used my.foreman.yml as filename like the example here https://docs.ansible.com/ansible/devel/plugins/inventory/foreman.html Renaming the file to foreman.yml gives the same error like yours.
Ansible 2.6.5
R

[2018-10-10 13:11] dagwieers commented on #46713
BTW Reading the [win_mapped_drive module documentation](https://docs.ansible.com/ansible/devel/modules/win_mapped_drive_module.html) I noticed that the username must include a domain.

[2018-10-10 13:16] horseinthesky opened #46755 "ansible 2.7.0 netconf_config failes with "dictionary changed size during iteration""
##### SUMMARY
ansible 2.7.0 netconf_config failes with "dictionary changed size during iteration"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

XML to be wraped in <edit-config> and <rpc> tags and sended to the device.

##### ACTUAL RESULTS

Module `/

[2018-10-10 13:20] blissnd opened #46756 "Ansible over-writes dict values when duplicate variable names are expected to be unique within a uniquely named host-group"
##### SUMMARY
Ansible over-writes dict values even though duplicate variable names are expected to be unique within a uniquely named host-group in the inventory

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory variables

##### ANSIBLE VERSION
All known Ansible versions

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7
Reproducible on all versions of Ansible between 2.2 &

[2018-10-10 13:21] biohazd opened #46757 "using "ec2_asg" and doing a rolling restart with "replace_all_instances" does not add new servers to target group"
##### SUMMARY
Using the module "ec2_asg" and doing a rolling restart with "replace_all_instances". I am also using an NLB which has the servers in the target group.
Its spinning up a new server and terminating old one. It removes them from the target group, but does not add the new servers to the target group. Should it add the new ones to the target group?

It is also terminating an old instance

[2018-10-10 13:38] marcinpraczko commented on #46152
Hi @s-hertel, Thank you for this work - I will review this in next 2 days and let you to know.

[2018-10-10 13:42] ilicmilan commented on #46508
The key point of this example was to emphasize the purpose of `exact_count` and `count_attributes` future, where you can easily scale up/down the number of instances based on some attributes/labels criteria.
In this scenario you'd force that there is no virtual machine (`exact_count`: 0) with an attribute `foo`.
With `exact_count: 0` we don't have to specify `template_id`, it's unnecessary, but in

[2018-10-10 13:44] justjais commented on #46626
@liqingkai2017 please check in the latest 2.7 version, if you are facing the same issue.

[2018-10-10 14:01] #45915 closed, assigned to nobody

[2018-10-10 14:04] SDerksen commented on #34281
+1 as well, would love to see this feature

[2018-10-10 14:06] Aeris126 opened #46758 "Incorrect work of openssl_privatekey module"
##### SUMMARY

I tried to automate creating ssl-certificates in my environment with mariadb master-slave configuration and found that openssl_privatekey module isn't creating RSA certificates therefore mariadb replication isn't working.
Actually exact certificate maybe RSA-type but the header is like this -
-----BEGIN PRIVATE KEY-----
and that is unsupported by mariadb it says that
Last_IO_Error:

[2018-10-10 14:10] sebastiaanluca commented on #34281
Please use the 👍  button to let the maintainers know you need this feature. Getting a ton of emails from these +1s.

[2018-10-10 14:50] minusf opened #46764 "synchronize munges source path"
##### SUMMARY

when using `synchronize` with `loop`, if an item has the same name as the containing folder, the source path becomes corrupt.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804

##### STEPS TO REPRODUCE
folder structure:
[code]

`test-ansible.yml`:
[code]

[2018-10-10 14:52] #27844 closed, assigned to nobody

[2018-10-10 14:54] sivel commented on #43551
Just as an update, I've just tested again between 2.4 and 2.7, and I'm seeing that 2.7 is faster than 2.4:

2.7.0: 38.5s
2.4.6.0-1: 42.5s

[2018-10-10 14:54] maxamillion commented on #46726
From the original error message provided by the module, `"Could not contact CDS load balancer rhui2-cds01.us-east-1.aws.ce.redhat.com, trying others."` this doesn't look like an Ansible specific issue but more a network timeout issue with the repo. It appears the module operated correctly.

[2018-10-10 14:55] oceyral opened #46765 "pagerduty_alert: module crash when no previous incident exist"
##### SUMMARY

The module `pagerduty_alert` allows to trigger, acknowledge and resolve pagerduty incidents.
The module first tries to check existing events (with the given `incident_key` if applicable) in order to provide check mode, and to avoid sending unnecessary `acknowledge`/`resolve` events to the pagerduty api.

In doing this check, the module tries to use the first element of the list of i

[2018-10-10 15:11] nspitsky opened #46768 "Add feature for setting Dynamic Update for ipa_dnszones"
##### SUMMARY

Hi, i try manage dns zones in FreeIPA through ipa_dnszones module. Unfortunately module can not enable Dynamic Update in settings  zone, i be happy if you his adding

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/identity/ipa/ipa_dnszone.py

[2018-10-10 15:33] jkman340 opened #46769 "Add 'handlers_from' option to import_role and include_role"
##### SUMMARY
Add an option similar to 'tasks_from' but for handlers for a role named 'handlers_from'

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
include_role/import_role

##### ADDITIONAL INFORMATION
There are other ways to achieve this with include_tasks/import_tasks, but i feel this would be a cleaner solution.

[code]

[2018-10-10 16:11] #46681 closed, assigned to nobody

[2018-10-10 16:12] Cougar commented on #10964
This is how should it work I guess (if I use wrong `order` value, I get error which mean that this option gets used in `get_hosts()`):

[code]

However, I use ansible-playbook 2.7.0 and the play order is still not sorted.

[2018-10-10 16:20] bcoca commented on #46523
hopefully #46766 will make that clearer, also give you better info about why plugins skip/cannot use a source when using -v and -vvv

[2018-10-10 16:34] #46343 closed, assigned to nobody

[2018-10-10 16:41] jamiecwilliams commented on #30229
@s-hertel, PR https://github.com/ansible/ansible/pull/31892 that you referenced was closed. We are still experiencing this throttling issue in Ansible 2.6.4. Is there a plan to address this?

[2018-10-10 16:48] ralphie02 commented on #46722
@cigamit My template does not have open-vm-tools, instead it has `vmware-tools-esx-nox` (open-vm-tools no longer supported) + perl. I have also checked the log under /var/log/vmware-imc/toolsDeployPkg.log -- it looked the same as a machine deployed using vmware powercli which had it's dhcp client set up appropriately.

As for the debian comment, I am using Debian as my `controller` machine not the

[2018-10-10 16:48] jmtcsngr commented on #44412
I have a very similar situation when using module template. I currently see it when the target system is Ubuntu Bionic with ACL package installed. Can replicate with Python 3.6.1 and ansible 2.5.2 and 2.7.0. So is likely the bug has been there for a while and is still around in latest release.

[2018-10-10 16:52] briantist commented on #46513
Yup, this issue is covered in #42977 and is fixed in #42979.

In the PR I have [a description of how you might apply this fix directly](https://github.com/ansible/ansible/pull/42979#issuecomment-417835872).

[2018-10-10 16:52] ExaneNetworkTeam opened #46777 "Add aggregate method in nxos_acl module"
##### SUMMARY

Allow aggregate method to pass entire ACL (list of ACE) instead of looping over ACEs which is very slow
This method is already present in other module like nxos_vlans
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

module : nxos_acl
desired option : aggregate
##### ADDITIONAL INFORMATION

[code]

[2018-10-10 17:01] EvanK commented on #37703
This is a known bug, for which I've been trying to get a PR merged for almost a year:

[2018-10-10 17:01] cahlchang commented on #46611
I sent the modified code with the above PR.
I changed the test, so it seems to be working properly.
Try it if you like.

[2018-10-10 17:01] ganeshrn commented on #46755
@horseinthesky Please retest with the patch in  https://github.com/ansible/ansible/pull/46778 applied in your enviornment.

[2018-10-10 17:16] ganeshrn commented on #46725
@a-k-b Are you suggesting to have the new module option to input the top level filter that will be passed as the value of `relevant_subtree_filter`.
I am not quite sure if retrieving the subtree filter by parsing the value of `content` (input xml) at runtime and passing it to `get_config()` will work with all the Netconf server implementation.

Agreed, won't text diff work in your case.
If the net

[2018-10-10 17:17] GaboFDC commented on #40724
I was checking, i see the original PR was merged, but it seems like this has not beeing backported yet?

[2018-10-10 17:27] #46654 closed, assigned to Akasurde

[2018-10-10 17:30] Akasurde commented on #46513
@briantist Thanks for the information. @sonegoh Could you please check and let us know if it works for you ? Thanks.

needs_info

[2018-10-10 17:30] Akasurde commented on #46513
resolved_by_pr #42979

[2018-10-10 17:33] deyjcode commented on #46713
Alright. Tried with CredSSP and still run into the same issue:

fatal: [vm2]: FAILED! => {"changed": true, "msg": "failed to create mapped drive Z pointed

[2018-10-10 17:43] ralphie02 commented on #46722
I was hoping it was the packages that came with the GUI version but I suppose it isn't because it's still not working after installing Centos 5 with GUI.

Anyone else have any idea?

[2018-10-10 18:04] el-bart opened #46780 "unarchive fails with non-absolute paths when delegating_to"
##### SUMMARY
`unarchive` does not use relative paths correctly when working locally (`delegate_to` directive). adding `{{playbook_dir}}` explicitly fixes the problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`unarchive`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No extra configs.
[code]

##### OS / ENVIRONMENT
Linux (Debian/testing).

##### STEPS TO REPRODUCE

following fails:

[2018-10-10 18:06] el-bart commented on #46780
might be a super-problem of #34594

[2018-10-10 18:13] tamsky commented on #15892
@DaveKlassen Thank you!
re: http://docs.ansible.com/ansible/latest/playbooks_advanced_syntax.html

### `!unsafe` FTW

---
@winggundamth, @hardened-user @pkaramol (and everyone else):

Here's a working example playbook:
[code]
output
[code]
---
[code]

[2018-10-10 18:26] #46755 closed, assigned to ganeshrn

[2018-10-10 18:30] alainchiasson-guavus commented on #46508
Ok. So the `exact_count` implies state based on the matching criteria.

We noticed this as it's absence  caused the creation of "extra" VMs.

[code]

Is not idempotent. It created more than one server of the same name.

[2018-10-10 18:39] rafaelorafaelo commented on #46523
Thanks for the update.
Somebody should have a look at the parameter want_facts, which does not work.  It's the same "More than one set of facts returned" error as above.
R

[2018-10-10 18:46] pillarsdotnet commented on #33067
How can you convert it to a string?

[2018-10-10 18:48] #46513 closed, assigned to Akasurde

[2018-10-10 18:53] sivel commented on #33067
This appears to largely be a duplicate of https://github.com/ansible/ansible/issues/24425

[2018-10-10 18:56] argonym opened #46783 "module 'git': with update=no the task is a no-op if repo already exists"
##### SUMMARY
I wanted to update the remote URL of a repo without doing a pull/checkout, so I set `update=no` and changed the `repo` which should have the desired effect according to docs: https://docs.ansible.com/ansible/latest/modules/git_module.html
However, nothing changed running the playbook. Looking at the implementation (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/sou

[2018-10-10 19:10] #45456 closed, assigned to nobody

[2018-10-10 19:19] dagwieers commented on #46713
Did you try my second suggestion ?

BTW Is azurefilesuser.file.core.windows.net something that resolves internally ? Or does Windows somehow handles this as a special case ?

I searched for this, and apparently in PowerShell it does require special support. https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows

You cannot just use **New-PS-Drive**, you first have to

[2018-10-10 19:28] bcoca commented on #46609
the 'return data' does have 'ansible_facts' but that would only be visible inside a registered var, we added top level ansible_facts to be able to avoid 'injection' of vars into the top level and keeping them in a 'safe namespace' but that is not available on older versions.

[2018-10-10 19:37] tonyskidmore commented on #46574
Great thanks, the `--` separator has certainly given me the workaround for my issue so i am ok for this to be closed.  The discussions on on updating documentation to make this clearer will be really useful too (I wasn't ware of it).

[2018-10-10 20:16] felixfontein commented on #39941
@fearlsgroove @cochiseruhulessin Which versions of the Docker Python SDK do you have installed? (I.e. what does `pip show docker-py` resp. `pip show docker` say?)

[2018-10-10 20:53] boldux opened #46784 "incomplete/duplicate Installation Guide intro page"
##### SUMMARY

This page looks like it should not be part of the documentation:
**<no title>** — Ansible Documentation (https://docs.ansible.com/ansible/latest/installation_guide/index.html)
- It does not appear in the TOC.
- It has no title.
- There is a stray template sentence: "Introductory install guide text here."

You can get there from the **Next** button, at the bottom of his page:
**Ansib

[2018-10-10 21:11] felixfontein commented on #46758
What happens if you run `openssl rsa -noout -text -in <private_key_filename>`? Does it print the key contents (please don't paste them for a key you want to actually use!), or does it print an error? If you edit the key to start with `-----BEGIN RSA PRIVATE KEY-----` and end with `-----END RSA PRIVATE KEY-----`, does it make a difference?

[2018-10-10 21:12] felixfontein commented on #46758
For me, the OpenSSL command line client doesn't like that `RSA` is missing from the header.

[2018-10-10 21:51] basictheprogram opened #46787 "An exception occurred during task execution."
##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host macOS 10.12.6
Managed host Windows 10

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Packages identified in chocolatey_packages would be installed.

##### ACTUAL RESULTS

[code]

[2018-10-10 21:56] jhawkesworth commented on #36646
@liquidat is this still an issue for you?
ngen typically runs after windows update has installed a new version of .net.  Usually ngen takes up all of one cpu while it is running if that is what is happening.
Only other difference I can think of, but which I don't think will matter, is different default versions of powershell between s2012 and s2016.  You could try updating your s2012 machine to po

[2018-10-10 22:06] rhtyd commented on #44389
Sorry does not look like a CloudStack specific issue, I won't be of any help.

[2018-10-10 22:11] dbsrv opened #46788 "Reboot failed after Yum upgrade"
##### SUMMARY

Reboot module failed after Yum module used to upgrade all packages.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

before yum upgrade:
CentOS Linux release 7.3.1611 (Core)
after yum upgrade:
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-10-10 22:14] dbsrv commented on #46788
This happened to two of the three nodes tested. Small sample size. One node completed without fatal msg.

[2018-10-10 22:40] rdkls commented on #46725
Hi @ganeshrn (I work with @a-k-b)
You understand correctly - this is a suggestion to optimize performance.

The reason is on our device with 10~20mb config, it takes ~1 min to retrieve all config, which must be done multiple times per play, ca. 12 minutes/run, would be great to optimize.

We talked and you're right - given differences in netconf implementations, unfortunately probably not possible

[2018-10-10 22:40] #46259 closed, assigned to nobody

[2018-10-10 22:40] boldandbusted commented on #36438
Looks like PR https://github.com/ansible/ansible/pull/42618 was merged - is this in a released version? EOL for v1 is coming up quick on 10/19. :) Also, any docs on migrations, if needed? Thanks.

[2018-10-10 23:03] mallmen commented on #44546
I can validate that the fix in [#14934 (comment)](https://github.com/ansible/ansible/issues/14934#issuecomment-197462531) works on RHEL 7, ansible 2.7.0, PBUL 9.3.0-07.  I'm not sure how to contribute though, if someone can PM me details on what I would need to do, I'll see if I can help officially.

[2018-10-10 23:19] zcourts commented on #29661
That works. I've got some Ansible work scheduled in a sprint starting next week. I'll drop some of this into it and raise a PR

[2018-10-11 00:05] ralphie02 commented on #46722
Found out that Centos 5 is special. We have a script in our template Centos5 that takes care of setting up the dhcp client. Closing this issue

[2018-10-11 00:05] #46722 closed, assigned to nobody

[2018-10-11 02:29] eriklg opened #46790 "azure_rm_sqlserver is not creating the resource with the tags provided"
##### SUMMARY

I am using the azure_rm_sqlserver task and tags are not being applied properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_sqlserver
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu
##### STEPS TO REPRODUCE

Run through the task provided. The SQL Server provisioned in Azure will not have the provided tags.

[code]

#####

[2018-10-11 02:34] overhacked opened #46791 "mongodb_user fails when given a roles list of dicts"
##### SUMMARY
When the `mongodb_user` module gets multiple, database-scoped roles specified as a list of dicts (see steps to reproduce), the module fails with the error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller:
* MacOS 10.13.6
* Python 3.6.6

Target:
* FreeBSD 11.2-RELEA

[2018-10-11 03:44] deyjcode commented on #46713
@dagwieers I've tried both suggestions (CredSSP and utilizing ansible_user/ansible_password)

I ran the Azure File Troubleshooter (detailed in the root issue above), which is the preferred method of attempting to fix and resolve any issues regarding DNS, firewall, etc. The troubleshooter indicates no issues with that. I can re-run it and submit that as an addendum to the issue tomorrow.

I'm not s

[2018-10-11 04:05] jborean93 commented on #46756
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * The host group names are unqiue and indeed these are what are used to actually run the r

[2018-10-11 04:05] #46756 closed, assigned to nobody

[2018-10-11 04:19] jborean93 commented on #46783
I personally don't think there's anything wrong with the wording, it explicitly states `If no, do not retrieve new revisions from the origin repository` which means do not update/fetch and so on. If you disagree please raise a pull request with your proposed changes.

I'm going to close this issue but we will gladly look at a pull request with proposed changes.

[2018-10-11 04:19] #46783 closed, assigned to nobody

[2018-10-11 04:43] ganeshrn commented on #46725
Agreed, This can be supported as a new optional module option.

Absolutely, happy to have help :-)
 You can refer the [filter option](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/netconf/netconf_get.py#L36) in `netconf_get` module.

[2018-10-11 05:00] justjais commented on #41200
@atnoslen and @Vladimir-csp thank you for logging the issue and I apologize for replying so late on this respective issue. This issue is by design where template 'fails' into the 'current dir and subdirs' and this being very old code (ios|nxos_config) fixing now will break existing playbook behavior. Also, this issue will be resolved with ___config_manager___ provider role.
@privateip please corre

[2018-10-11 05:08] felixfontein commented on #26297
Of course, it would be possible to remove the use of the Docker Python SDK (the new name of docker-py), but then we'd have to talk directly to the docker daemon, and also take care of the connection options etc. This would be a lot of work, first to get to the current state, but also to maintain this. I don't think it is worth the effort.

Is it possible to connect to the docker daemon on that mac

[2018-10-11 05:11] uncycler opened #46794 "Vars in include_tasks"
##### SUMMARY
include_tasks don't let me pass variable like in < 2.7

I have the following:
[code]
With Ansible 2.7, I have this error:
Invalid options for include_tasks: disk

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 28

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
play t

[2018-10-11 05:41] zikalino commented on #46790
i believe this should be fixed by https://github.com/ansible/ansible/pull/45378

[2018-10-11 05:55] Akasurde commented on #46722
@ralphie02 Thanks for reporting this information. Could you please provide your solution here so that other people who will stumble upon this issue, can take advantage of your valuable debugging ? and also provide the script used. Thanks.

[2018-10-11 06:00] justjais commented on #41200
@Vladimir-csp it's because the networking template is handled differently than other templates in ***__config_**, code ref: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/ios_config.py#L81
and if we go about fixing it for being consistent it would break existing playbooks as it requires a behavior change.
So, we need to take call if we shall go about fixing the template c

[2018-10-11 06:26] moorglade opened #46795 "Incorrect variable resolution in template when using multiple Jinja2 import with context directives"
##### SUMMARY
I observed some strange behavior in variable resolution when using [import with context](http://jinja.pocoo.org/docs/2.10/templates/#import-visibility) in Jinja2 templates:
1. I have an undefined variable in my vars - I **never** access that variable, so normally that should not cause any issues.
1. I use the template lookup.
1. In my template, I have **at least two** `import with co

[2018-10-11 06:34] ralphie02 commented on #46722
Sure.
[Centos 5 only]
`/etc/rc.local`
[code]
I sent this value via ansible raw cmd and saved it in a variable so if someone wants to do something similar, you have to escape the `$` signs:
`"sed -i.bak '/^DHCP_HOSTNAME=/{h;s/=.*/='\$(hostname)'/};\${x;/^\$/{s//DHCP_HOSTNAME='\$(hostname)'/;H};x}' /etc/sysconfig/network"`

I had to put it in rc.local because cloning centos 5 in vmware seem to alway

[2018-10-11 06:35] k-yamada-4105156 commented on #46668
thank you for fixing my poor English

[2018-10-11 07:00] kiorky commented on #43551
Was there any recent changeset that could trigger a fix for it, because i doubt it.
BTW i reported the bug when testing with devel, i always tested with devel and not the new branch 2.7.
I ll redo the previous tests with the three of those branches.
(ill edit this post)

[2018-10-11 07:37] kmschl2 commented on #46493
How is this new allegedly expected behaviour helpful or useful when reusing roles with different arguments supplied via vars? Why would a var supplied at task level ever be exposed into global scope. In my mind the concepts of task var implies task scope visibility. I think this behaviour makes no sense.

From Ansible Documentation https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse

[2018-10-11 07:38] kiorky commented on #43551
So i updated a bit the test in https://github.com/ansible/ansible/issues/43551#issuecomment-425173342

Here are the timings:

- stable-2.4

[code]
- stable-2.7

[code]
- devel:

[code]

**conclusion**: always a regression but seem that something make it less important

[2018-10-11 07:46] jdavid5815 commented on #46484
Thanks, I will test the new module this week and let you know how it goes..

[2018-10-11 07:47] Aeris126 commented on #46758
openssl recognizes this key (actually i checked the header with "cat")-
openssl rsa -noout -text -in server-key.pem
Private-Key: (4096 bit)
modulus:
    00:c1:d6:08:93:9c:2d:e4:5e:06:c1:9c:48:55:fe:
  etc.

hm. strange thing - i just have to recreate this environment, and i've done this from scratch. and you know what? it works! i mean my final goal - mariadb replication via ssl. And still the hea

[2018-10-11 07:47] #46758 closed, assigned to nobody

[2018-10-11 07:53] tbouvet commented on #45683
@felixfontein Done : #46797

[2018-10-11 08:16] Fred-sun commented on #37259
@zikalino

[2018-10-11 08:19] torched99 commented on #46632
For now I have made a copy of local connection plugin, with hacky edits to Popen call to fix the environment to just HOME=$HOME, LANG=$LANG, PATH=/usr/bin:/bin.  Called it local_clean_env.

[2018-10-11 08:54] phlundblom opened #46800 "ec2_vol_facts fails for volumes without Tags"
##### SUMMARY
ec2_vol_facts module fails for volumes having Tags.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vol_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
When using ec2_vol_facts module to list AWS EC2 volumes Ansible code tries to access and convert Tags fields from boto3 volume info. For volumes n

[2018-10-11 08:54] phlundblom commented on #46800
Will publish separate PR

[2018-10-11 09:09] jenningsloy318 commented on #41227
after install ansible 2.7, this issue still exits .

[2018-10-11 09:56] phahulin commented on #42230
@s-hertel How do I enable outbout traffic from all ports to all ports?

[2018-10-11 10:06] flybd5 opened #46802 "Ansible does not process set_fact correctly if var set in one expression is in another expression in the same set_fact"
##### SUMMARY
Ansible does not process set_fact correctly if var set in one expression is in another expression in the same set_fact

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Basic playbook execution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX 10.14

##### STEPS TO REPRODUCE

1. Create a playbook.yml with example content.
2. Run playbook

[co

[2018-10-11 10:10] argonym commented on #46783
Thanks for your feedback. However, my point was that with `update=no` changes to virtually all other parameters are ignored, so it does not only not fetch/pull (as documented) but also not update any git config (like `repo`). To avoid surprises, this should be reflected in the docs.
Of course, the proper solution would be to account for parameter changes independent from `update`, e.g. for my use

[2018-10-11 10:22] #46156 closed, assigned to nobody

[2018-10-11 10:26] justjais opened #46803 "Ansible tower_group module is not idempotent"
##### SUMMARY

Ansible tower_group module is not idempotent, as it shows as changed as True every time the module runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

On running the below playbook, tower_group modules shows changed=True every time the respective

[2018-10-11 10:42] Tomorrow9 commented on #44957
@nicholasrodriguez do you want to create a VM with multiple disk controllers and disks or do you want to re-config existing VM to add new disk controllers and disks?

[2018-10-11 10:58] horseinthesky opened #46804 "[2.7.0] netconf_config mutually exclucive parameters"
##### SUMMARY
Getting the `"msg": "parameters are mutually exclusive: content, src, source, delete, confirm_commit"` when using both `content` and `confirm_commit` parameters.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
Trying to configure device using generated xml config

[code]

[2018-10-11 11:18] jborean93 commented on #46783
Ah ok sorry misread that point. Sounds like an easy fix for the docs to add that note.

[2018-10-11 11:29] Akasurde commented on #36983
@srkiNZ84 Could you please check if @wimnat comment help ? Thanks,

needs_info

[2018-10-11 11:30] Akasurde commented on #39545
Closing this issue due to inactivity from the reporter.

[2018-10-11 11:30] #39545 closed, assigned to nobody

[2018-10-11 11:32] Akasurde commented on #36628
@ramonamis Could you please check if PR #37079 works for you and let us know? Thanks,

needs_info

[2018-10-11 11:32] Akasurde commented on #36628
resolved_by_pr #37079

[2018-10-11 11:41] Akasurde commented on #27722
@guhcampos Could you please check above PR and let me know if it works for you ? Thanks,

needs_info

[2018-10-11 11:43] Akasurde commented on #46800
resolved_by_pr #46801

[2018-10-11 11:52] #42322 closed, assigned to nobody

[2018-10-11 12:18] awfki opened #46808 "When"
##### SUMMARY

On the playbook_debugger page (link below) it would be really helpful for a first time user if you gave some idea of what variables are accessible at that point.

Or perhaps `p all` or `p *` could just dump all the variables currently available?
My playbook includes a vars_file and I can't print vars from that file even though I know they're working so I'm stuck with the example on

[2018-10-11 12:21] dagwieers commented on #46713
Well, I don't have any Azure storage, so I cannot test. If nothing helped, there's nothing else I can do.

[2018-10-11 12:33] ramon-garcia opened #46809 "Support ping in windows firewall rules"
##### SUMMARY
The windows_firewall_rule does not allow one to specify icmp types and codes in rule. This is necessary to allow, for example, ping requests, but not other types of icmp messages.

##### ISSUE TYPE
Feature request

##### COMPONENT NAME
windows_firewall_rule

[2018-10-11 13:08] ro8harp opened #46810 "Could not find imported module support code for nxos_command. Looked for either *.py or shell.py"
##### SUMMARY

Upgraded Ansible from 2.4 to 2.5.5 and not NXOS playbooks no longer work. I see the connection: local has been deprecated and to use network_cli. Ive also tested this on Ansible 2.6.1 with same issue. It may be that I have something not set up right so it may not be a bug.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-10-11 13:12] fl0gu opened #46811 "ce_vxlan_tunnel lxml.etree.XMLSyntaxError"
##### SUMMARY
Module ce_vxlan_tunnel seems broken, and fails with following error: "lxml.etree.XMLSyntaxError: Extra content at the end of the document, line 11, column 1"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ce_vxlan_tunnel

##### ANSIBLE VERSION

[code]
##### HOST VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch. Ansible from Stretch backports.

[2018-10-11 13:30] #42549 closed, assigned to nobody

[2018-10-11 13:34] getjack commented on #37501
@vbotka

seem like synchronize module is not idempotent.

Just to clarify is this an expected behavior or is it a bug?

[2018-10-11 13:39] bcoca commented on #46632
could be made an option to the stock plugin itself 'clean_env=false|true'

[2018-10-11 13:49] bcoca commented on #46334
not saying it would, just giving another example of 'usage' that might trigger it

[2018-10-11 14:13] pffs opened #46815 "Traceback on handler host removal"
##### SUMMARY

Getting an unhandled exception after a handler completes on a host causing the entire play to stop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller is Ubuntu 16.04 running via Ubuntu 14.04 bastion to Cisco 891FW device

##### STEPS TO REPRODUCE

Play seems to run fine for short runs,

[2018-10-11 14:17] ro8harp commented on #46810
Additional info. Our previous playbooks used the connection local for nxos. But this now seems to throw and error "using connection plugin network_cli (was local)" "nothing to repeat". So trying to convert this over to use network_cli.

[2018-10-11 14:19] bcoca commented on #46794
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `include_task` action does not take arbitrary items inline and convert them into variables, this was true of `include` but it creat

[2018-10-11 14:19] #46794 closed, assigned to nobody

[2018-10-11 14:31] justjais commented on #46803
@AlanCoding kindly look into the respective issue.

[2018-10-11 14:32] sivel commented on #46808
The documentation for `p(rint)` references all of the variables you have access to:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html#p-print-task-task-vars-host-result

* `task`
* `task_vars`
* `host`
* `result`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2018-10-11 14:32] #46808 closed, assigned to nobody

[2018-10-11 14:35] sivel commented on #46632
I am in favor of the `restrict_env` or maybe `allow_env`/`keep_env` option that @bcoca mentions.

[2018-10-11 14:38] ganeshrn commented on #46804
@horseinthesky `confirm_commit: yes` is used to commit a previously confirmed commit operation.
So when you want to do a confirm commit only add the confirm timeout.
[code]

If you want to confirm above commit in that case issue confirm previous commit task within 2 secs of executing above task else the config will be rollbacked.
[code]

[2018-10-11 14:44] george-oniceag commented on #25099
I would also appreciate this feature in the module !

[2018-10-11 15:07] horseinthesky commented on #46804
This doesn't work this way:

About `confirm_commit`:
[code]

So if I do it as you said: the first task does the configuration and commits it immediately.
[code]

The second task fails with this message:
[code]

[2018-10-11 15:11] #46485 closed, assigned to maxamillion

[2018-10-11 15:11] #46603 closed, assigned to maxamillion

[2018-10-11 15:20] abadger commented on #14131
@ptux has implemented this.  It will appear in 2.8.  I'll go ahead and close this now.

[2018-10-11 15:20] #14131 closed, assigned to nobody

[2018-10-11 15:20] jdavid5815 commented on #46484
Hi,

I've installed the file, but now I need to install the vsphere-automation-sdk. Unfortunately, the server cannot directly access the internet, so I'll have to figure something out to replace pip install.

To be continued..

[2018-10-11 15:21] abadger commented on #44495
@ptux @jangrewe I believe that the final version of https://github.com/ansible/ansible/pull/43998 fixed this as well (the integration tests cover a symlink with local_follow True and local_follow False).  If you agree, we can close this.

[2018-10-11 15:22] #29841 closed, assigned to nobody

[2018-10-11 15:28] balonik opened #46823 "ldap_entry objectClass - expected a string in the list"
##### SUMMARY
Unable to add ldap entry. The issue is always reproducible when entry would be created. If the entry is already present, the issue does not appear.
It works with ansible 2.6.2 and 2.6.5, didn't test other versions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ldap_entry

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5
python-ldap-2

[2018-10-11 15:33] trishnaguha commented on #46810
@ro8harp Hi, this bug has been fixed in Ansible 2.6.5 and 2.7.0. https://github.com/ansible/ansible/pull/45271. Can you please check the versions?

[2018-10-11 15:33] torched99 opened #46824 "import_role vars persist across plays"
##### SUMMARY
Please confirm the ansible 2.7 scope change for import_role vars.  It now behaves differently to previous versions in that for example role/vars/main.yml (or role/defaults/main.yml) definition live across plays (unlike roles: keyword inclusions, and meta dependency based inclusions, and also include_role with public: no).

The presence of 'roles:' keyword in either play makes behavio

[2018-10-11 15:35] Akasurde commented on #29911
@willthames Can we close this as this part code has been refactored already ?

[2018-10-11 15:38] sivel commented on #46824
This is indeed expected and is documented at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-11 15:49] Akasurde commented on #29733
Fixed via https://github.com/ansible/ansible/pull/34194. Closing this issue, please feel free to re-open if problem persists.

[2018-10-11 15:49] #29733 closed, assigned to nobody

[2018-10-11 15:50] torched99 commented on #46824
Perhaps you have not read my issue correctly.  If the behaviour is intended by this statement:

"import_role does not support the public argument, and will unconditionally expose the role’s defaults and vars to the rest of the playbook. This functionality brings import_role into closer alignment with roles listed within the roles header in a play."

then:-

1) the statement is wrongly worded as im

[2018-10-11 15:52] ptux commented on #44495
Agree to close.

[2018-10-11 15:58] sivel commented on #46824
I will admit that I read your issue multiple times.  However I struggled to see a problem outside of the documentation and implementation.

However, it seems I was wrong.

I've updated the title to better reflect your problem, in that vars from `import_role` seem to be persisting across plays, and more specifically, only when no roles are listed under the `roles` header within a play.

An example

[2018-10-11 15:58] Akasurde commented on #29102
Fixed via https://github.com/ansible/ansible/pull/29117. Closing this issue, please feel free to re-open if problem persists.

[2018-10-11 15:58] #29102 closed, assigned to nobody

[2018-10-11 16:01] #46539 closed, assigned to nobody

[2018-10-11 16:02] torched99 commented on #46824
Yes.  I have no idea what is expected though, only what it did before.  The porting guide clearly says expose to the rest of playbook (not rest of play) - which is very new behaviour.

[2018-10-11 16:03] ryansb commented on #36438
#42618 is available in Ansible v2.7, which was released recently. Closing this issue as it is now supported.

[2018-10-11 16:03] #36438 closed, assigned to nobody

[2018-10-11 16:04] excalq commented on #39232
Linking https://github.com/ansible/community/blob/master/group-aws/boto3.md, as the Ansible Community Working Group is tracking Boto3 support in development.

[2018-10-11 16:20] Akasurde commented on #28738
@kmasaryk Could you please check above PR and let me know if it works for you ? Thanks

needs_info

[2018-10-11 16:20] Akasurde commented on #28738
resolved_by_pr #46826

[2018-10-11 16:33] sivel commented on #46824
Just as an update here, the problem is that `roles` is defined in `Play` with a mutable default value.

As such, if `roles` is not listed in the play, then `Play.roles` isn't overridden per play, and instead the value is mutated across all plays.

This is a potentially big problem for the future, so I'm going to look into a solution to address that root cause, instead of a one off for just roles.

[2018-10-11 16:40] Vladimir-csp commented on #41200
I'm talking about template lookup plugin in general.  In my case no module related to ios or other net hardware was used. Just a simple substitution in vars file.

[2018-10-11 16:46] deyjcode commented on #46713
@dagwieers No worries! The issue is still noteworthy and hopefully a workaround can be found. Might have to just wait for Microsoft to move to SSH. I have a workaround for the issue (manual intervention for now)

[2018-10-11 16:49] overhacked commented on #46791
bot_status

[2018-10-11 17:02] torched99 commented on #46824
I was thinking this scoping issue in general was likely to hit big problems if not well defined.  I only came across this particular issue while trying to improve my own docs.

What would be most useful is to know what the ansible team want the scoping to work in the long term.

For your reference I am pasting the current incarnation of my attempt to document it - if only for you to see that is se

[2018-10-11 17:03] torched99 commented on #46824
Sorry, hit the wrong button :-)

[2018-10-11 17:25] UnitedMarsupials-zz opened #46829 "FAILURE-messages not informative enough"
##### SUMMARY
I have a task, which downloads files from the Internet. Due to unavoidable network connectivity issues, I allow this task to try multiple times with a random delay. It works fine, but, when there is a transient delay, the failure-message is surprisingly brief:
[code]
Because the download succeeded on the second attempt, I'll never know, what went wrong the first time -- only if all 5

[2018-10-11 17:42] Joeskyyy commented on #44288
@Akasurde any idea when this will be merged into a stable deployment? Would rather not have to rely on `devel` ):

[2018-10-11 17:43] horseinthesky commented on #46804
Yes.

[2018-10-11 17:47] pandugathrinath opened #46832 "Ansible copy module with src not able to take escape characters or system variables"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-11 17:51] #46249 closed, assigned to maxamillion

[2018-10-11 18:05] pandugathrinath opened #46834 "Ansible copy module with src not able to take date formats"
##### SUMMARY

 - name: Copying the the file
     copy:
       src: /tmp/test/abc-$(date +%m-%d-%Y)/yummy/pos.json
       dest: /home/user1/pos.json.bk
       remote_src: yes

when I check the remote system with ls command I can see the file
ls /tmp/test/abc-$(date +%m-%d-%Y)/yummy/pos.json
/tmp/test/abc-10-11-2018/yummy/pos.json

ansible error msg : "msg": "Source /tmp/test/abc-$(date +%m-%d-%Y)/

[2018-10-11 18:11] sivel commented on #46834
This is expected. We do not process the paths with a shell, so you cannot run shell commands within your paths.

You can instead utilize `ansible_date_time` to achieve your goal.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-11 18:11] #46834 closed, assigned to nobody

[2018-10-11 18:17] #45248 closed, assigned to nobody

[2018-10-11 18:27] robertdebock opened #46836 "Module timezone does not work on Alpine"
##### SUMMARY
It's not possible to use the `timezone` module on Alpine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
timezone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controlnode: Fedora 28
Managednode: Alpine 3.8.1

##### STEPS TO REPRODUCE
Start a docker container:
[code]

Run these tasks:
[code]

##### EXPECTED RESULTS
That Ansible would return `

[2018-10-11 18:41] iredmail commented on #46823
I can reproduce this issue. Same ansible code works fine with old ansible versions, but not the latest 2.7.0.

[2018-10-11 18:57] samccann opened #46838 "Create a doc page to list certified modules."
##### SUMMARY

The Modules Maintenance and Support' doc page does not link to a list of certified modules:

https://docs.ansible.com/ansible/latest/user_guide/modules_support.html

This should be autogenerated based on module medata like the other pages are that link of that page.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

#####

[2018-10-11 19:27] dagwieers commented on #46108
I now got the exact same problem using PSRP in another environment. With the main difference that using PSRP you cannon set the `read_timeout`.

[2018-10-11 19:28] pandugathrinath commented on #46834
ansible_date_time works, can we get a feature like date format added into copy module

[2018-10-11 19:36] ro8harp commented on #46810
Ill upgrade and test. Should have report back by tomorrow. Thanks!

[2018-10-11 19:44] jborean93 commented on #46108
@dagwieers did you set ansible_psrp_connection_timeout? The argument is not the same between the 2 but they are both used to set the connection timeout on the requests request.

[2018-10-11 19:44] robinro commented on #46519
@HD650 Sounds related to #41792. Can you have a look?
cc @webknjaz @abadger

[2018-10-11 19:44] dagwieers commented on #46108
Yes, I did, it was set to 1200 seconds. But the read timeout was still 30.

[2018-10-11 20:06] robertdebock commented on #46836
It does work in a full VM, just not in docker, closing the issue.

[2018-10-11 20:06] #46836 closed, assigned to nobody

[2018-10-11 20:08] jose-delarosa commented on #46549
Bill, agree that some parameter names don't adhere to Redfish standards. This is more up your alley, feel free to submit a PR for better alignment.

[2018-10-11 20:16] billdodd commented on #46549
Jose - will do. I'm going to try to get some feedback from the tools group also.

[2018-10-11 20:19] jborean93 commented on #46108
I've had a look at the code and I can 100% verify `ansible_psrp_connection_timeout` is being passed down to the pypsrp library and being used with `session.send(timeout=value)`. I can't find any documentation saying otherwise but it seems like Requests ReadTimeout is based on the send timeout  that pypsrp is setting.

The code for getting this var is at https://github.com/ansible/ansible/blob/deve

[2018-10-11 20:32] acozine commented on #46838
See also https://www.redhat.com/en/about/press-releases/red-hat-extends-confidence-and-reliability-through-automation-ansible-certified-content-program

[2018-10-11 20:34] ssiegel commented on #46562
Why is /proc/sys/kernel/random/boot_id called a “last resort” in https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/reboot.py#L122? According to the random(4) manpage it is available since kernel 2.3.16 (released in 1999), so it should be pretty safe to use as first choice on Linux.

[2018-10-11 21:02] HD650 commented on #46519
Yes, this is a bug introduced by me... I will create a new PR to let pip module ignore comma in the extras.

[2018-10-11 21:29] zombieprocess commented on #46275
I am also experiencing this issue. Thanks for reporting this and creating the backport PRs @radez @mkriedel 👍

I'm just trying to use `meta: reset_connection` to refresh the connection for changes made to user group memberships so the ansible user can write to certain web directories. 😂

[code]

[code]

[2018-10-11 21:30] dagwieers commented on #46108
Let me investigate the `session.send(timeout=value)` and see if I can find a way out. Thanks for the investigative work.

[2018-10-11 21:47] gintan commented on #29903
Same issue and enable_snat did the trick. Thanks.

[2018-10-11 22:56] pandugathrinath opened #46931 "expect module is not taking multiple inputs or prompts"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-11 23:04] pandugathrinath opened #46932 "expect module is not taking multiple inputs -- not many examples for the module"
##### SUMMARY

I'm using expect module and has to give inputs or prompts. the module has no proper examples to look at.
tasks:
   - name: STARTING THE SERVICE
     expect:
       chdir: /home/abc
       command: sudo systemctl start tada
       responses:
         Question:
         - 'Choose identity to authenticate as \(1-5\)\:': 4
         - 'Password\:':

on the system when I start the manuall

[2018-10-11 23:12] #46931 closed, assigned to nobody

[2018-10-11 23:15] pandugathrinath commented on #46931
sorry please refer to this one : https://github.com/ansible/ansible/issues/46932

[2018-10-12 00:57] flowerysong commented on #46802
This is not a bug. Module parameters have to be evaluated before the task can execute; `var1` is not defined at that point, so the error is accurate.

[2018-10-12 01:47] abadger commented on #44495
Cool.

Closed, fixed by  #43998

[2018-10-12 01:47] #44495 closed, assigned to nobody

[2018-10-12 03:52] Akasurde commented on #24389
ec2_facts module is removed in 2.7 so closing this issue.

[2018-10-12 03:52] #24389 closed, assigned to nobody

[2018-10-12 04:34] Akasurde commented on #44288
@Joeskyyy I will create a backport for 2.7 which will make this change available in 2.7.1 release.

[2018-10-12 04:41] ganeshrn commented on #46804
In that case, it shouldn't throw the error `confirm commit is not supported by this netconf server`.

The netconf plugin uses the hello message exchanged at the time of session creating to identify which all netconf capabilities are supported by the Netconf server.

If the hello message from the server has the string `:confirmed-commit` Ansible identifies that the server supports confirmed commit

[2018-10-12 05:00] Akasurde commented on #46047
@zlbabe I am not sure about issue 1, but issue 2 is resolved by latest update in PR. Let me know if it works for you ? Thanks,

needs_info

[2018-10-12 06:39] HammerZ3it commented on #46484
Hi @jdavid5815 ,
Maybe you can set a proxy for the installation with pip ;).

[2018-10-12 07:18] yuandongx opened #46943 "Command line repetition is not allowed？？"
When I use Ansible to send commands that may includes some same command,it is failed.
The reason is that 'config.py' does not allow repeat command lines.
'\lib\ansible\module_utils\network\common\config.py',
    **```
def add(self, lines, parents=None):
        ancestors = list()
        offset = 0
        obj = None

        # global config command
        if not parents:
            for line in

[2018-10-12 07:21] rdupz commented on #46742
So after depper analysis, the bug is in [`basic.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L2530).

My understanding is it uses `os.rename` for the sake of atomicity, and then tries to *manually* reimplement some of the work that could be done by `shutil.move` (fixing umask,acl,ownership,...).
But looks like `shutil.move` is [atomic too](https://docs.pytho

[2018-10-12 07:27] felixfontein commented on #46326
CC @tbouvet

[2018-10-12 07:32] flybd5 commented on #46802
No, the error is inaccurate and the design is flawed, IMO. Evaluating the entire task rather than step by step breaks just about every good interpreter rule out there...

[2018-10-12 07:36] horseinthesky commented on #46804
It's Juniper vRR
[code]

[2018-10-12 07:38] balonik commented on #46823
I confirm that this issue was fixed by PR https://github.com/ansible/ansible/pull/45778

[2018-10-12 07:44] #46823 closed, assigned to nobody

[2018-10-12 07:57] Fred-sun commented on #46790
@eriklg It has been fixed by last ansible version. You can use pip install git+https://github.com/ansible/ansible.git@devel to install the devel version to try. Thanks!

[2018-10-12 08:00] zikalino commented on #46790
@eriklg I will backport the fix to 2.6 and 2.7

[2018-10-12 08:06] mkrizek commented on #46802
Duplicate of https://github.com/ansible/ansible/issues/40239

[2018-10-12 08:06] #46802 closed, assigned to nobody

[2018-10-12 08:10] flybd5 commented on #46802
Apologies, missed that other ticket.

[2018-10-12 08:21] mkrizek commented on #46832
@pandugathrinath I am going to close this since the issue is empty. Please create a new issue describing the problem you have and fill in necessary information in the template. Thank you!

[2018-10-12 08:21] #46832 closed, assigned to nobody

[2018-10-12 08:31] jdavid5815 commented on #46484
Hi,

I've installed the file, but now I need to install the vsphere-automation-sdk. Unfortunately, the server cannot directly access the internet, so I'll have to figure something out to replace pip install.

To be continued..

[2018-10-12 08:31] jdavid5815 commented on #46484
The're going to allow my ansible machines access to the internet .. waiting for network team ;-)

[2018-10-12 08:41] netixx opened #46944 "Network module nxos cli connection fails when devices are in maintenance mode in recent nxos versions"
##### SUMMARY
After putting Cisco Nexus network devices are in maintenance mode, either by issuing (in the cli):
[code]
or using the module `nxos_gir`:
[code]
subsequent ansible connections and commands fails.

This is due to the following behaviors:
1. Cisco changes the prompt when in maintenance mode (in recent version at least):
    - before maintenance: `hostname#`
    - after maintenance: `ho

[2018-10-12 08:42] torched99 commented on #46632
Sounds ok though to me it does not feel like a full solution.  Perhaps the plugin info should make a note to beware of the caller environment inheritance issue.  The env vars retained still then have inherited values rather than properly reinitialised to some well defined set (e.g. to similar as a login via sudo -i, or via a cron generated process).
Additionally, though I have not traced it throug

[2018-10-12 08:48] seuf commented on #43767
This issue can be closed now :)

[2018-10-12 08:50] seuf commented on #44298
I've started to work on it, but the cloudwatch datasource add a lot of new parameters ! So it may take a bit long to add this feature.

[2018-10-12 09:18] azaghal commented on #22287
How about introducing an option to the module such as `indexed` that would take into account possible indexes in attribute being changed? E.g. if this option is set to `yes` (default would be `no`), then the module would strip the leading index from both requested and current values for comparison purposes.

I think this would actually be a really helpful feature when doing dynamic configuration o

[2018-10-12 09:31] Akasurde commented on #46484
resolved_by_pr https://github.com/ansible/ansible/pull/46945

[2018-10-12 10:14] tyhawk opened #46948 "Ansible can't handle (certain) special characters in SSH paswords"
##### SUMMARY
It took me days to figure out the cause of this error:
[code]
The weird this was, that at work we have 3 domains and the same playbooks didn't cause this error (and worked perfectly) and only the third domain had this issue. Playbooks were run from the same host under the same account. I use an ssh password with special characters I copy from my Keepass database. Basically, I don't u

[2018-10-12 11:09] alexhogberg commented on #30162
Had the same issue myself where I wanted to install local gems for sensu, and got around it by adding some manual tasks in my role:

[code]

Where `local_plugins` is a list of objects with keys: `name`, `source` and `version`. Hopefully it can help some people out.

[2018-10-12 11:32] rfjschutte commented on #34281
+1

[2018-10-12 12:19] liquidat commented on #36646
Hi @jhawkesworth , thanks for the answer. We moved most of the workloads now to 2016, so this issue is not that important for us anymore, and I will close the bug.

[2018-10-12 12:19] #36646 closed, assigned to nobody

[2018-10-12 12:30] Akasurde commented on #43378
Closing as per comment https://github.com/ansible/ansible/issues/43378#issuecomment-408568844.

[2018-10-12 12:30] #43378 closed, assigned to nobody

[2018-10-12 12:34] hoerup opened #46952 "win_updates should check and report required space"
##### SUMMARY

1 - reporting
the IUpdate interface contains MinDowloadSize and MaxDownloadsize - those 2 variables should be returned in the output from win_updates for further reporting.

2 - check
if win_updates are configured with eg "checkfreespace: true", then it should calculate the sum of required space for all the pending updates  and check that there iss at least that amount of free space

[2018-10-12 12:41] HampusLundqvist opened #46953 "zabbix_hostmacro does not work as expected when used with some LLD trigger prototypes"
##### SUMMARY
When using zabbix_hostmacro module, we see there are issues with placing some macros.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_hostmacro.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
simple zabbix_hostmacro task

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Use LLD Macros according to:
https://www.zabbix.com/documentation/3.4/manual/discovery/low_level_

[2018-10-12 12:49] pwrmiller opened #46954 "Variable naming rules are not respected in extra vars"
##### SUMMARY
Variable names specified in JSON / extra vars do not follow the variable naming rules defined in [the documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Whatever component loads variables from JSON or extra vars (CLI arguments)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2018-10-12 13:05] bsamitha opened #46955 "Errors handling issue by ec2_tag module"
##### SUMMARY
Error returning is not properly happening when a module failure occurs on ec2_tag module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_tag - create and remove tags on ec2 resources.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
 NAME="Red Hat Enterprise Linux Workstation"
VERSION="7.5 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Works

[2018-10-12 13:14] benjdudas opened #46956 "nxos_facts not returning all values on N5K."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Hardware: Nexus 5596
Software: NXOS 7.3(2)N1(1)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All fact values returned

##### ACTUAL RESULTS

Empty and missing values (ie. ansible_net_hostname). The net_config returned full

[2018-10-12 13:15] AlanCoding opened #46957 "json callback plugin fails on JSON encoding with in-line vault variables"
##### SUMMARY
Using the json callback plugin results in an exception if in-line vaulted variables are included by a task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/json.py

but others are probably affected too @bcoca may have more to contribute

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A, local action, Mac OS

#####

[2018-10-12 13:28] flamein opened #46959 "gcp_compute inventory plugin not working as described in documentation"
##### SUMMARY
the gcp_compute inventory plugin documentation has the following examples:
https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html
[code]
or on https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html
[code]
When following this, changing values accordingly, we get either (respectively)
` [WARNING]:  * Failed to parse /home/f_lamein/projects/ansible-gc

[2018-10-12 13:28] drewburr commented on #26670
This worked for me! Thank you!

[2018-10-12 13:43] felixfontein commented on #29462
Ah. I guess this is the only case where `docker_image` really needs to allow image IDs. (I added support for image IDs to docker_container and docker_image_facts in #46324, but left docker_image out because I couldn't think of a case where it makes sense.)

[2018-10-12 13:49] bcoca commented on #46957
fixed via #46830, which does include other callbacks with the issue

[2018-10-12 13:49] #46957 closed, assigned to nobody

[2018-10-12 13:51] AlanCoding commented on #46957
Re-tested with current `devel`, results:

[code]

[2018-10-12 14:00] nullr0ute opened #46963 "dnf: support config-manager plugin for repository management"
##### SUMMARY
The dnf config-manager plugin is the means of managing the actual rpm repositories available to dnf. In Fedora it's use for managing installed but not enabled by default repositories such as updates-testing and some media codecs. In RHEL these repositories are used extensively for extras/optional and other such repos.

dnf config-manager supports the following options that would be u

[2018-10-12 14:06] ganeshrn commented on #46804
@horseinthesky Thanks for sharing the information.
The confirmed-commit support check seems to be wrong in module.
Please retest with the patch in PR https://github.com/ansible/ansible/pull/46964

[2018-10-12 14:12] sivel commented on #43767
Closed by #40402

[2018-10-12 14:12] #43767 closed, assigned to nobody

[2018-10-12 14:13] sivel commented on #46932
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-12 14:13] #46932 closed, assigned to nobody

[2018-10-12 14:13] b0urn3 opened #46965 "RFE: Add option to password lookup plugin to specify requirements for generated password"
##### SUMMARY
The password lookup generates random passwords from a selection of character classes. The way the lookup works now doesn't guarantee that characters from all the specified character classes are used. It would be useful to have additional option(s) to ensure that the lookup provides passwords that are compliant with password format requirements (e.g. cracklib etc).

##### ISSUE TYPE
-

[2018-10-12 14:19] akcrisp opened #46966 "reboot module - request for more info"
##### SUMMARY
Can we have more details on how the reboot module plugin works with dmz envs ? Is there any dependencies we need to be aware of  - believe this runs on the controller host (our case awx) how does this work with jump hosts ?

I've read the blog post - https://www.ansible.com/blog/reboot-plugin-for-linux-in-ansible-2-7

##### ISSUE TYPE
More info required

##### COMPONENT NAME
reboot m

[2018-10-12 14:29] horseinthesky commented on #46804
Thank you for quick replies.
It doesn't fails now but i think it is still working wrong way.
[code]

I see that there was no `commit confirmed`
Done this playbook twice:
[code]

When i was running this in Ansible 2.5-2.6 the result was the following;
[code]

Now i can't make it do `commit confirmed` at all.

[2018-10-12 14:50] ganeshrn commented on #46804
I have one more change in the same PR. Please retest with updated PR.

[2018-10-12 14:53] epicanthal commented on #44463
Thank you.  This workaround seems to work and I will keep it in place until 2.8 fix comes around.

However, I also am not able to recreate my issue without this workaround in place either (tested with v2.6.5).  I checked for any changes (stable-2.6@{5days} <-> stable2.6) and I don't see anything that would indicate something in core ansible has changed to affect my particular situation.  But as @p

[2018-10-12 14:58] bcoca commented on #46632
The restriction + existing `environment` keyword should be enough to cover all cases.

I don't think we need to consider the 'resource management' side, as you point out, unless you are running as a superuser (not recommended)  there is very little you can do.

Besides that should not be an issue in most cases and any user that understands the resources would  expect the inheritance, those that do

[2018-10-12 14:59] horseinthesky commented on #46804
Yes. Now it works as you've said.
Btw does this mean I am unable to do commit confirmed and commit in one Task as it was in Ansible 2.5.x and need to use two Tasks?

[2018-10-12 15:06] flowerysong commented on #46955
Already fixed in #39712

[code]

[2018-10-12 15:33] raffienficiaud opened #46969 "`setfacl` does not exist on OSX: fail to become unpriviledged"
##### SUMMARY
Cannot run a task as unprivileged with `become`, with or without world readable temporary file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible core `become` functionality, privileges settings on the temporary command.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux host Ubuntu 18.04, OSX target (High Sierra)

##### STEPS TO REP

[2018-10-12 15:38] IainColledge commented on #40857
Looking at the code it seems that there is no way to override FUNCTIONS_EXTENSION_VERSION

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_functionapp.py

It seems recently that Microsoft now defaults to Version 2 instead of 1,  the Ansible module defaults to 1, at the very least this should reflect Azure behavior.

https://docs.microsoft.com/en-us/azure/azur

[2018-10-12 15:43] #46824 closed, assigned to nobody

[2018-10-12 15:44] kiefertp commented on #36400
I am having same issue with 2.6.2.

Using xml module results in following message:
"The xml ansible module requires the lxml python library installed on the managed machine"

I am running on localhost.

I get successful messages when running following commands:

[2018-10-12 15:46] benohara commented on #22169
I see this in 2.6.5

[2018-10-12 15:48] maxamillion commented on #43025
@juame are you by any chance doing this against an AWS instance? I just tested this on an AWS instance and was able to reproduce but can't reproduce against a GCP instance, both the same version of CentOS

needs_info

[2018-10-12 16:00] maxamillion commented on #43025
@juame this is super weird, I can't reproduce the issue as of this morning (I was following up on the bugzilla issue I filed)

[code]

[2018-10-12 16:12] juame commented on #43025
@maxamillion thanks for your effort! I tested it last time with a [vagrant box](https://app.vagrantup.com/centos/boxes/7). I have no GCP or AWS account, sorry.

A bit off-topic but here's my `Vagrantfile`:
[code]

Issue:
[code]

[2018-10-12 16:13] torched99 opened #46971 "copy module creates destination file initially with umask of connection context rather than secure or specified mode"
##### SUMMARY
The copy module will create destination file with mode based only on creation mask (umask), then fix up after.  Typically this is for a Linux system 022 for example, thus giving initial world read.  In the case where a secret data file should be have defined reader this is a big issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGUR

[2018-10-12 16:15] torched99 commented on #46971
Also applied with remote_src: yes based copy too.  Docs wrongly state that only mode=preserve works in this case.

[2018-10-12 17:12] torched99 commented on #46971
The issue appears to be worked around for the ```remote_src: no``` case if I use ```validate: yes``` as trick to make it set the perms on the sftp'd source file.
However this validate mode is incompatible with ```remote_src: yes``` mode as it then tries to set perms on the original source file....ahhhh!!!
Seems all easy to fix to me with some more correct conditionals.

[2018-10-12 17:19] ganeshrn commented on #46804
Yes that's right. If the `confirm` value is greater than zero it will send `commit` rpc with `confirmed` tag that is it will be a confirmed commit operation.
`confirm_commit: True` will send empty commit and will be used to commit a previous `confirm-commit` operation or commit configuration from the previous n tasks that have `commit: False`

[2018-10-12 17:21] maxamillion commented on #43025
@juame just out of curiosity, before you run the `ansible-playbook /tmp/foo.yml` command can you do a `yum -y update` ... I'm wondering if this is recent fix because I'm not able to reproduce it anymore on any of my machines that are fully updated but I could on Monday.

[2018-10-12 17:40] RNanney opened #46975 "ios_static_route errors with default route"
##### SUMMARY

First attempt to add a default static route is successful, but the module throws an error on subsequent runs.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_static_route
net_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco IOS XE Software, Version 16.06.03
##### STEPS TO REPRODUCE

Run a task to add a static default rou

[2018-10-12 17:40] joefodor opened #46976 "Ansible 2.7 ios_facts no longer working"
##### SUMMARY
In Ansible 2.7 the ios_facts no longer works with an error: ValueError: No JSON object could be decoded

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- name: gather facts
  ios_facts:
    gather_subset: all

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco IOS on switches 3650

##### STEPS TO REPRODUCE

Run gather facts on a 3650 switch

[2018-10-12 17:53] haridsv opened #46977 "Inventory variables in when statement in the role parameter don't work without Jinja2 template delimiters"
##### SUMMARY
The role parameter supports a `when` condition (found it via [this blog post](http://edunham.net/2015/09/10/ansible_conditional_role_dependencies.html)). I am able to use it with an expression that uses inventory variables inside double-curly brackets, but it doesn't as a bare expression.

##### ISSUE TYPE

With `when` one should be able to use a bare Jinja2 expression without having

[2018-10-12 17:57] ckotte commented on #44589
I'm working on it. Will create a PR soon.

[2018-10-12 17:59] ckotte commented on #42780
@umrikar Do you want to configure the active/standby/unused adapters as well?

[2018-10-12 18:00] clydet commented on #27299
🤣

[2018-10-12 18:03] horseinthesky commented on #46804
Ok. Thank you.

[2018-10-12 18:03] #46804 closed, assigned to nobody

[2018-10-12 18:27] sivel commented on #46977
The problem, is with the "type" of the value of `some_var`.

The value is the `str` `"false"`, not a boolean value of `False`.

In the INI format, we do use `ast.literal_eval` to attempt making things python types.  However the lowercase `false` is not a boolean value in Python.  Instead that is `False`.

If you were to do one of the following changes, things would work as expected:

[code]

or

[

[2018-10-12 18:27] #46977 closed, assigned to nobody

[2018-10-12 18:45] marafa opened #46980 "ssh error when python not installed"
##### SUMMARY

ansible will fail with an ssh non descriptive error if python is not installed on the target machine

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

i got linux
##### STEPS TO REPRODUCE

uninstall python
try to run a playbook against it

[code]

##### EXPECTED RESULTS

a descriptive er

[2018-10-12 18:47] marafa commented on #46980
i mean there is obviously a check happening on ssh already

[2018-10-12 18:54] jmnavarrol commented on #18257
...don't know how this can be done, or if even makes sense (don't know how labels are processed either) but this issue is tagged as 'affects_2.3'.  AFAIK, it also affects each and every version up to current (2.7).  Shouldn't it be tagged for all these versions or, at least, for the most recent one?

[2018-10-12 19:35] jose-delarosa commented on #46338
@billdodd, this would require doing a GET first for the BIOS attribute and then compare its current value with proposed new value? Certainly doable but we're now doubling our API requests (plus logic operations), do you see it taking a significant performance hit? I do see a need to get this right, but wondering if it's worth the extra time required to complete?

[2018-10-12 19:42] billdodd commented on #46338
@jose-delarosa - Doing one extra GET should be low overhead. And you are potentially saving the cost of the PUT plus the action to apply the setting in the case where it is already set. I think it is worth it.

[2018-10-12 19:47] sivel commented on #46980
We do have code to check for this, but it seems that in some cases the message is in stdout and not stderr, so we are failing to show a more descriptive error:

https://github.com/ansible/ansible/commit/62d8c8fde6a

Can you please provide the actual error you are getting?

needs_info

[2018-10-12 20:07] mariolenz commented on #46338
@jose-delarosa I don't care about performance here, it's more important to know if ansible changed a setting or not. And as @billdodd pointed out: You have an additional GET, but if the setting is already correct you save the PUT. So if all BIOS settings have the values they should have (according to the playbook) you don't have any overhead at all.

[2018-10-12 20:12] sivel commented on #46321
You are correct, as documented this is not possible. There are several steps missing to make this work.

I can see this going 2 ways.

1. We update the docs to show how to do this correctly:

[code]
1. Add some shorthand function to the debugger to do the above

Thoughts @bcoca ?

[2018-10-12 21:33] bcoca commented on #46321
i would not give those instructions ... part of me is terrified templar is available to debugger ... but creating a shorthand seems the sane way to implement this.

[2018-10-12 21:36] bcoca commented on #46836
docker 'protects' some files to try to force you to manage them from docker itself and not from inside the container.

[2018-10-12 21:41] copejon opened #46985 "ec2 module return all instances in region of a given state when non-empty `instance_tag` value has no matches."
##### SUMMARY

When executing the ec2 module with the intent of targeting `instance_tag: Name=someName`, if no instances match the field value, a list of all instances in the region are returned.  Expected to get a 0 length array of instances instead.

This means that when registering the return value, follow on tasks that depend on this data being accurate will instead operate against all instanc

[2018-10-12 22:20] #25420 closed, assigned to nobody

[2018-10-12 22:20] #37957 closed, assigned to mattclay

[2018-10-12 22:55] lwm commented on #39879
bot_broken

[2018-10-12 23:13] webknjaz commented on #46673
I think `localhost` (sometimes) resolves into `[::1]`, which might be causing this.

[2018-10-12 23:47] jugglinmike opened #46993 "Setting restricted variables in `set_fact`"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

(no output)

##### OS / ENVIRONMENT

Local: Ubuntu 16.04 x64
Remote: Ubuntu 18.04 x64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect this to set the inventory variable `ansible_python_interpreter` without reporting any problem.

##### ACTUAL

[2018-10-12 23:47] jobevers opened #46994 "flatpak_remote throws exception"
##### SUMMARY
[code]

This looks to be caused by this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/flatpak_remote.py#L208

which works in python3, but not python2:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
flatpak_remote

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
"ansible-config dump --only-changed"  produced no output

[2018-10-12 23:56] jobevers opened #46995 "flatpak module throws exception"
##### SUMMARY
This function returns a string in python2 and bytes in python3:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/flatpak.py#L197

In https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/flatpak.py#L157
`name`  is a string and an error will be thrown when trying to compare a string to bytes.

[code]

##### ISSUE TYPE
- Bug Report

[2018-10-13 01:26] #46955 closed, assigned to nobody

[2018-10-13 02:18] puckettgw commented on #30469
I'm running into the same issue, only my target node **does** have pyopenssl installed:

ubuntu@ip-10-13-37-249:~$ pip show pyopenssl
---
Name: pyOpenSSL
Version: 0.15
Location: /usr/local/lib/python2.7/dist-packages
Requires: six, cryptography
ubuntu@ip-10-13-37-249:~$ pip3 show pyopenssl
---
Name: pyOpenSSL
Version: 0.15
Location: /usr/local/lib/python3.4/dist-packages
Requires: six, cryptograph

[2018-10-13 02:19] riglersc commented on #46673
@webknjaz it works when we downgrade back to Ansible 2.6.  Then upgrading to 2.7 it stops working again.  Notably, however, the mail callback works as expected with both versions.

[2018-10-13 02:35] puckettgw commented on #30469
Turns out I needed to manually install the 'enum' module via pip. That was missing and it caused the cryptography module to build.... crappily, but still there, which allowed pyOpenSSL to 'install' but not actually function.

[2018-10-13 04:08] #30084 closed, assigned to nobody

[2018-10-13 04:29] hanbaobao2005 commented on #40884
@joefodor  I met the same issue before and summaried my finial version here: https://hanbaobao2005.wordpress.com/2018/09/07/ansible-beginner-ssh-access/

[2018-10-13 06:34] DFazeli opened #46999 "not run expect script"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME
- expect

##### ANSIBLE VERSION
- 2.4.2.0
##### OS / ENVIRONMENT
- centos 7.3

my script is :
[code]
When I run normally there is no problem, But when I run with a ansible does not apply.
my ansible code :
[code]

[2018-10-13 09:27] Im0 commented on #46976
Confirmed here too.  Downgrading back to 2.6.

[code]

[2018-10-13 10:12] kjetiljd commented on #29404
Ran into same issue - as a workaround I did: `defaults delete {{ item.domain }} {{ item.key }}`. Could possibly be done first - or if the first attempt fails.

[2018-10-13 10:12] webknjaz commented on #46673
Could you please run it with `-vvvvv` arg and `ANSIBLE_DEBUG=1` env var? I'd like to see deeper logging.

[2018-10-13 10:49] UntoSten commented on #43624
Hi maxamillion!

Sorry for the delay. I read my email now. The function:

  _sig_check_pkg

is in
class Base

located in dnf/base.py for Python 2.7.

But using it was just a quick experiment to see whether it enabled corrrect PGP verification or not. I do not suggest it is the right way to solve this problem. I did not investigate this issue that much, because my focus was on my main project. I am

[2018-10-13 11:06] gundalow commented on #46976
@Im0 Does 2.6 work?

[2018-10-13 11:41] mnaser commented on #18992
I'm in support of this, however, it looks like OpenStack SDK does not currently support this.

https://github.com/openstack/openstacksdk/blob/master/openstack/cloud/openstackcloud.py#L7655

We'll probably have to get that support added first.

[2018-10-13 11:47] mnaser commented on #21522
This is currently possible with OpenStack, as the OpenStack API supports getting a subnet ID only and it will grab the first available IP then.

https://developer.openstack.org/api-ref/network/v2/#create-port
fixed_ips (Optional): "If you specify only a subnet ID, OpenStack Networking allocates an available IP from that subnet to the port."

[2018-10-13 11:47] mnaser commented on #21522
needs_contributor

[2018-10-13 11:51] mnaser commented on #18992
needs_contributor

[2018-10-13 11:56] mnaser commented on #24694
FYI, as a workaround, if your entire network requires port security to be disabled, you can do so in `os_network`.

[2018-10-13 11:57] mnaser commented on #24694
needs_contributor

[2018-10-13 12:02] mnaser commented on #26760
Indeed, password is optional.   This bug is valid because of the following

- `password` is not required
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_user.py#L177

- The `update_password` is required when it's set to `always` or `on_create`
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_user.py#L211-L214

- `update_passw

[2018-10-13 12:02] mnaser commented on #26760
needs_contributor

[2018-10-13 12:04] mnaser commented on #29575
wontfix

I think it's better that we stick to mapping to what the API wants to make sense.  Horizon just presents things in a different way that aim to be more GUI centric.  The comments seem to follow.

[2018-10-13 12:07] mnaser commented on #29594
wontfix

This is a pretty stale and old bug.  You should be able to assign floating IPs using https://docs.ansible.com/ansible/2.6/modules/os_floating_ip_module.html to the exact port/floating ip/subnet you need.

[2018-10-13 12:11] mnaser commented on #29828
duplicate_of #19612

[2018-10-13 12:12] mnaser commented on #31640
needs_contributor

[2018-10-13 12:14] mnaser commented on #31690
needs_contributor

[2018-10-13 12:17] mnaser commented on #33834
needs_contributor

[2018-10-13 12:18] mnaser commented on #33913
duplicate_of #31640

[2018-10-13 12:35] Akasurde commented on #40303
@adamw-linadm What are version of `boto`, `botocore` and `boto3` ?

[2018-10-13 12:50] ramon-garcia commented on #46809
Hello, I think that I have filled the bot requirements. What should I do?

[2018-10-13 12:57] ganeshrn commented on #40884
The root cause of the issue is in the fix made in PR https://github.com/ansible/ansible/pull/39063 (from 2.5.2 onwards) to handle the ios device on which `\r\n` characters are not prefixed before prompt. This fix made the`\r\n` character match before command prompt optional as a result of this fix if the received response has a string that matches the prompt regex it will result in partial output

[2018-10-13 13:08] marafa commented on #46980
like this:
[code]
reference: https://www.jeffgeerling.com/blog/2018/fixing-unreachable-ssh-error-when-running-ansible-playbooks-against-ubuntu-1804-or-1604

[2018-10-13 13:38] trollkarlen commented on #41543
You can see the issue right?

//R

On Sat, Oct 13, 2018, 12:27 ansibot <notifications@github.com> wrote:

[2018-10-13 13:45] ganeshrn commented on #44463
Please retest with fix in PR https://github.com/ansible/ansible/pull/47004

[2018-10-13 13:47] userlerueda commented on #31640
I can work on a PR.

I did back in 2.3 but no one reviewed it.

On Sat, Oct 13, 2018 at 7:13 AM Mohammed Naser <notifications@github.com>
wrote:

[2018-10-13 14:47] KUNAL13 commented on #46488
Just figured out the issue.

Try to set the metadata under gcp_compute_instance:

[code]
It works after adding the metadata.

Thanks.

[2018-10-13 15:02] #35284 closed, assigned to nobody

[2018-10-13 15:07] #33913 closed, assigned to nobody

[2018-10-13 15:15] mnaser commented on #31640
Thanks @userlerueda -- I can review it once you do that :)

[2018-10-13 15:23] cubranic opened #47006 "Deprecation warning when using "sudo_flags" in ansible.cfg"
##### SUMMARY
Using "sudo_flags" in my ansible.cfg causes the following warning to always be displayed when I run my playbooks:
[code]

First, I only use "become: yes" in my playbooks already. The only reason why I had to override `sudo_flags` is to include "-E" so I can git-clone as root but using my local user's ssh key.

I don't think the warning is fair, for lack of better word: there is no ot

[2018-10-13 15:28] mnaser commented on #36301
You are using shade 1.5.1 which was released back in 2016.  I suggest using a newer package which includes the `get_server_group` feature.  It has been introduced in shade 1.9.0.

https://github.com/openstack-infra/shade/commit/068028cbe72cf9081925bf394d3289787a08b7f7#diff-4386465437fa6e45e786d7284267b46f

[2018-10-13 15:29] #29828 closed, assigned to nobody

[2018-10-13 15:31] #29594 closed, assigned to nobody

[2018-10-13 15:32] #29575 closed, assigned to nobody

[2018-10-13 15:37] mnaser commented on #36286
@emonty any idea if shade ever had behaviour that did something like that? seems pretty weird.

[2018-10-13 15:51] mnaser commented on #35392
wontfix

Not an Ansible module bug, but upstream shade/openstacksdk.

[2018-10-13 15:55] mnaser commented on #22437
needs_contributor

[2018-10-13 15:56] SethosII opened #47007 "module flatpak_remote crashes"
##### SUMMARY

Whenever you try to use the flatpak_remote module it fails, no matter what you do.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`flatpak_remote`

##### ANSIBLE VERSION

Present in development and stable version.

[code]

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Linux Mint 19
Flatpak: 1.0.1

##### STEPS TO REPRODUCE

Use the `flatpak_remote` module f

[2018-10-13 16:06] haridsv commented on #46977
Perfect! I can confirm that it is working with `False` instead of `false`. Thank you @sivel for the explanation!

[2018-10-13 16:47] haridsv commented on #46977
@sivel Do you happen to know where the `when` parameter is documented for `role`? I am trying to see what else supported. I am looking for a parameter that is equivalent of `[tasks_from](https://docs.ansible.com/ansible/2.6/modules/include_role_module.html)`. If `when` is not documented, perhaps there are other parameters that are not documented either. Perhaps you could point me to the code?

[2018-10-13 17:02] Akasurde commented on #29314
Closing this issue as PR #25235 is merged. If issue persists, please feel free to re-open.

[2018-10-13 17:02] #29314 closed, assigned to nobody

[2018-10-13 17:08] sdigit commented on #46488
Thanks @KUNAL13 for the tip, however it shouldn't be necessary to specify metadata for instance creation to succeed. The older `gce` module doesn't require this.

[2018-10-13 17:08] Akasurde commented on #29250
Closing this issue as PR https://github.com/ansible/ansible-modules-extras/pull/715 is merged. If issue persists, please feel free to re-open.

[2018-10-13 17:08] #29250 closed, assigned to nobody

[2018-10-13 17:09] Akasurde commented on #29213
Closing this issue as PR https://github.com/ansible/ansible-modules-extras/pull/715 is merged. If issue persists, please feel free to re-open.

[2018-10-13 17:09] #29213 closed, assigned to nobody

[2018-10-13 17:16] Akasurde commented on #29732
Closing this issue as the documenation is updated. Please feel free to re-open if problem persists.

[2018-10-13 17:16] #29732 closed, assigned to nobody

[2018-10-13 17:21] kvprasoon opened #47008 "PowerShell scripts to follow PowerShell coding guideilines"
##### SUMMARY
Would you mind if someone updates PowerShell scripts here by following the PowerShell best practices(casing, Verb-Noun etc.). I have a report of from the Script analyzer output.

I can take this task.

##### ISSUE TYPE

 - Bug Report (enhancement)

##### COMPONENT NAME
All PowerShell scripts

##### ANSIBLE VERSION

[code]

[2018-10-13 17:34] haridsv commented on #46977
Could `[from_files](https://github.com/ansible/ansible/blob/8743e6ae2ee7aa3ae94038554110a9255f5d8fd8/lib/ansible/playbook/role/__init__.py#L148)` be the equivalent parameter? I couldn't get it working though.

[2018-10-13 17:34] mnaser commented on #19618
bug_resolved

[2018-10-13 17:35] mnaser commented on #19618
this was fixed in requests v2.12.2

https://github.com/requests/requests/issues/3683

[2018-10-13 17:38] mnaser commented on #19621
wontfix

The default behaviour that you must either provide credentials or provide a cloud.  I disagree that we should have to default to the first one because that might have some bad implications in terms of changing behaviour.

[2018-10-13 17:40] mnaser commented on #19617
@ktibi can you please share the task you're trying to run, as well as try using the openstackclient and let me know if you have issues?

[2018-10-13 17:41] mnaser commented on #19617
needs_info

[2018-10-13 17:42] mnaser commented on #19620
needs_contributor

@rfbonett do you have sometime to just add a small note to mention that in the docs for the module?

[2018-10-13 17:47] mnaser commented on #19611
bug_resolved

This should be fixed by the following:

https://github.com/ansible/ansible/commit/0f893027c47560777f5295a338238a820c6c954b

Please make sure to use `interface` instead or you can stick to `endpoint_type`.

[2018-10-13 17:50] mnaser commented on #20251
needs_contributor

This is indeed a bug, we need to make sure that we have a valid CIDR before sending it to the API.  In the meantime, please make sure to use a CIDR.

[2018-10-13 17:54] mnaser commented on #21125
needs_contributor

Confirmed, this needs to be updated here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_security_group_rule.py#L275-L276

[2018-10-13 17:57] mnaser commented on #27423
@lealoncity how is the performance, is this still an issue?

[2018-10-13 18:03] mnaser commented on #29696
resolved_by_pr #20259

[2018-10-13 18:09] mnaser commented on #29812
needs_contributor

@alextricity25 are you able to push up the fix based on your previous work?

[2018-10-13 18:11] mnaser commented on #29812
oh, looks like it was fixed!

[2018-10-13 18:11] mnaser commented on #29812
resolved_by_pr #19780

[2018-10-13 18:11] mnaser commented on #29813
resolved_by_pr #19780

[2018-10-13 18:17] mnaser commented on #30923
needs_contributor

[2018-10-13 18:17] dpantel opened #47009 "lxd_container does not apply config options"
##### SUMMARY
When passed a 'user.network-config' config option, it has no effect on the configuration of the created container.  There is no error message and the container is created as if that config option was never specified.

This does not happen when creating a container from the command line with the same config string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lxd_container

##

[2018-10-13 18:18] mnaser commented on #31042
needs_info

I believe the image is partially matched so if you put "CentOS", it might match that.  Can you confirm thats the case there?

[2018-10-13 18:48] mnaser commented on #44432
duplicate_of #44285

[2018-10-13 18:49] mnaser commented on #29903
resolved_by_pr #46754

[2018-10-13 18:52] mnaser commented on #15148
needs_info

@indispeq are you still running into this?

[2018-10-13 18:52] #36301 closed, assigned to nobody

[2018-10-13 18:52] mnaser commented on #15871
needs_contributor

[2018-10-13 18:54] mnaser commented on #27027
notabug

This is expected behaviour, the interfaces reflects all of the interfaces that you have, this is to allow you to remove interfaces should you need so.

[2018-10-13 18:55] #35392 closed, assigned to nobody

[2018-10-13 18:56] mnaser commented on #29129
bug_resolved

Now that shade 1.25 is out for a while and we're now even using openstacksdk, this is far from an issue.

[2018-10-13 19:12] #31559 closed, assigned to nobody

[2018-10-13 19:13] mnaser commented on #35284
I guess if maintainers felt that it was a good idea, I'd be okay with running it.

[2018-10-13 19:14] mnaser commented on #35284
resolved_by_pr #37170

[2018-10-13 19:23] rad4day opened #47013 "ldap_entry failing with 'expected a string in the list'"
##### SUMMARY

The ldap_entry module crashes since 2.7.0 during python-ldap parsing the objectClass

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ldap_attr, ldap_entry

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 4.18.12-arch1-1-ARCH #1 SMP PREEMPT Thu Oct 4 01:01:27 UTC 2018 x86_64 GNU/Linux
Basic ArchLinux installation.

##### STEPS TO REPRODU

[2018-10-13 19:25] #29813 closed, assigned to nobody

[2018-10-13 19:25] abadger opened #47014 "Need to have a sanity test for ansible-doc -l"
##### SUMMARY
I fixed an issue where ansible-doc -l -t connection was failing to list many of our connection plugins today: https://github.com/ansible/ansible/pull/47012

It made me realize that although we test ansible-doc will render output for each plugin, we aren't testing the list output.  List output is currently optimized and goes through a separate code path than rendering the doc page so

[2018-10-13 19:25] #29812 closed, assigned to nobody

[2018-10-13 19:26] #29696 closed, assigned to nobody

[2018-10-13 19:28] mnaser commented on #26108
needs_contributor

FYI, `v4-fixed-ip` is not a valid argument, so someone has to implement something like `fixed-ip` or whatever.  There is a workaround above.

[2018-10-13 19:30] mnaser commented on #31189
needs_contributor

Docs are welcome :)

[2018-10-13 19:30] mnaser commented on #32741
resolved_by_pr #36253

[2018-10-13 19:31] #29129 closed, assigned to nobody

[2018-10-13 19:32] mnaser commented on #26760
resolved_by_pr #37338

[2018-10-13 19:35] mnaser commented on #37374
notabug

You can use `keys(addresses)`.

[2018-10-13 19:36] mnaser commented on #37352
needs_contributor

Simple doc change, low hanging fruit if anyone can check it out :)

[2018-10-13 19:39] mnaser commented on #37784
notabug

you can't vault the credentials file, I'd suggest doing the credentials inside `auth`

[2018-10-13 19:42] mnaser commented on #38241
notabug

The `shade` module must be installed and loadable by your remote host that runs Python.

[2018-10-13 19:46] mnaser commented on #39170
Could you run the following and provide the JSON output?

[code]

[2018-10-13 19:46] mnaser commented on #39170
needs_info

[2018-10-13 19:49] mnaser commented on #39542
@jamescassell thanks for pushing up the fix.

[2018-10-13 19:56] #27027 closed, assigned to nobody

[2018-10-13 19:59] mnaser commented on #39554
Are you still having this issue? I'm failing to find the root cause.

[2018-10-13 19:59] mnaser commented on #39554
needs_info

[2018-10-13 20:00] mnaser commented on #40072
The change to `openstacksdk` has merged.

[2018-10-13 20:03] mnaser commented on #40366
needs_contributor

Indeed, it does not support it.

[2018-10-13 20:05] mnaser commented on #42365
needs_contributor

This is a valid bug, just needs someone to update the docs.

[2018-10-13 20:06] mnaser commented on #42690
needs_info

Against what version of Ansible are you running this?

[2018-10-13 20:09] mnaser commented on #43275
needs_info

Can you please provide the full traceback?

[2018-10-13 20:11] #23354 closed, assigned to rcarrillocruz

[2018-10-13 20:15] #22244 closed, assigned to rcarrillocruz

[2018-10-13 20:17] gluk commented on #42690
it was 'pike' & nova v2.16.0.4 at the moment when I wrote this

[2018-10-13 20:22] #19621 closed, assigned to emonty, rcarrillocruz

[2018-10-13 20:23] #19618 closed, assigned to emonty, rcarrillocruz

[2018-10-13 20:23] #19611 closed, assigned to emonty, rcarrillocruz

[2018-10-13 20:29] mnaser commented on #46383
needs_info

I'm really not able to see how this can happen, what is the output if you run the following?

[code]

[2018-10-13 20:32] mnaser commented on #42690
@gluk

Can you try upgrading your `openstacksdk` (or `shade` if this is pre-2.5), please look at this commit which might be addressing your issue: https://github.com/openstack/openstacksdk/commit/feaa7cc7d597b9b04c4c4ebc06f786aebd657559

[2018-10-13 20:46] ckotte commented on #44589
@dandunckelman Could you check this PR: https://github.com/ansible/ansible/pull/47015?

[2018-10-13 20:46] ckotte commented on #42780
@umrikar Could you check this PR: https://github.com/ansible/ansible/pull/47015?

[2018-10-13 20:46] ckotte commented on #42779
@umrikar Could you check this PR: https://github.com/ansible/ansible/pull/47015?

[2018-10-13 21:01] gluk commented on #42690
hmm.. I'll look into this patch, tnx. as far as I know openstack it will not be so easy to upgrade it partially.

[2018-10-13 21:36] #44432 closed, assigned to nobody

[2018-10-13 21:42] mnaser commented on #31360
needs_contributor

Nice to have!

[2018-10-13 21:51] mnaser commented on #32983
notabug

[2018-10-13 21:52] mnaser commented on #25999
notabug

This is more of an Ansible thing rather than an OpenStack thing.

[2018-10-13 22:02] mnaser commented on #19614
resolved_by_pr #34472

[2018-10-13 22:03] mnaser commented on #19614
This seems to be resolved by now because it uses the local project ID when filtering.

[2018-10-13 22:04] mnaser commented on #19622
needs_contributor

It would be nice to have someone add this, it should be straight-forward.

[2018-10-13 22:07] mnaser commented on #28797
Thanks for your patch @angapov -- I just pushed up a small review to it.

[2018-10-13 22:29] mnaser commented on #46261
resolved_by_pr #45775

[2018-10-13 22:29] mnaser commented on #41240
resolved_by_pr #45775

[2018-10-13 22:36] #38241 closed, assigned to nobody

[2018-10-13 22:38] #37784 closed, assigned to nobody

[2018-10-13 22:53] #37374 closed, assigned to nobody

[2018-10-13 23:02] christianh814 opened #47018 "ansible 2.7 does not understand I have the right python module installed"
##### SUMMARY

When I try running the `ovirt_vms_facts` I get the following error...

[code]

However I have the module installed

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I am using `ovirt_vms_facts` with `ovirt_auth`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Mac OS 10.13.6  installed ansible with

[code]

Installed module with `pip`

[

[2018-10-13 23:12] webknjaz commented on #46673
@riglersc you'll have to ask GitHub to drop those files from their cache. These are just links, I can edit your comment, but it'll be possible to see previous versions of it + whoever got your message via email notifications will still have those links. I'm not aware of any ways to delete such attachments on your own.

It future, I recommend you sanitizing whatever's important to you and/or using

[2018-10-13 23:19] #32983 closed, assigned to nobody

[2018-10-13 23:20] #32741 closed, assigned to nobody

[2018-10-13 23:27] webknjaz commented on #46673
Ah, it look like the only change since 2.6 was https://github.com/ansible/ansible/pull/42748/files: shuffling "hello" around.

cc @bcoca

[2018-10-13 23:36] webknjaz commented on #46673
Curious, those changes affect blocks after the one with exception..

Have you tried setting `secure: never` arg?

[2018-10-13 23:59] webknjaz commented on #46673
Alright @offlinehoster @riglersc @AndreasDavour @dmp-78 and @sdmorel,
it looks like @dagwieers' backport #47019 is going to fix this, so all that's needed is to wait until it gets released at some point :)

[2018-10-14 00:08] #25999 closed, assigned to nobody

[2018-10-14 00:29] #19614 closed, assigned to emonty, rcarrillocruz

[2018-10-14 00:38] mnaser commented on #38241
@brainstorm

Based on my research, I believe that you are incorrect.

You can see here that the `boto` modules attempt to be installed:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vol.py#L228-L235

In addition to the `HAS_BOTO` which is declared right here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vol.py#L238-L239

Wh

[2018-10-14 00:45] brainstorm commented on #38241
Alright, my bad, all fair points, sorry about that :/

[2018-10-14 00:57] riglersc commented on #46673
@webknjaz setting "secure: never" works for me until the fix is ready.  Thanks for following up.

[2018-10-14 01:08] jhonf18 commented on #16354
ansible executable in u ubuntu operating system 16.04
I have ansible version 2.7.0
I run my playbook but I get this error

UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: ssh: connect to host 159.203.182.175 port 2222: Connection refused\r\n", "unreachable": true}

I am new to this ansible, I would appreciate your help

[2018-10-14 01:09] mnaser commented on #38241
@brainstorm

No problem!  `boto` just happens to be fairly common so it might just often be already on the system.  As much as I'd like for us to include those dependencies and make it easy from day 0, we might end up with a very heavy Ansible installation (I certainly wouldn't want any AWS tools sitting on my laptop 😄)

Take care!

[2018-10-14 01:36] imthenachoman commented on #46269
Thanks. Let me know if you need/want help with the documentation. I am very familiar with using "roles" with PowerBroker -- something that won't work with Ansible's current implementation.

And I think there might be ways to get Ansible to work with specific commands. Maybe if there was a setting/flag to specify the file-name it creates on the destination. That way the privilege escalation system

[2018-10-14 01:42] jhonf18 commented on #16354
Can you explain me how is that? @rezastd

[2018-10-14 01:54] jhonf18 commented on #16354
It is worth noting that I am trying to connect with a digital ocean droplet, I do not know what I did that now appears to me

FAILED! => {"changed": false, "module_stderr": "Shared connection to 159.203.182.175 closed.\r\n", "module_stdout": "/bin/sh: 1: /usr/bin/python: not found\r\n", "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": 127}

[2018-10-14 02:15] Akasurde commented on #29923
Closing this issue as PR https://github.com/ansible/ansible-modules-core/pull/4767 is merged. If issue persists, please feel free to re-open.

[2018-10-14 02:15] #29923 closed, assigned to nobody

[2018-10-14 02:31] mnaser commented on #41235
needs_info

What if you actually just set to the following?

host_routes: []

I think that should do it. Can you report?

[2018-10-14 03:04] #26760 closed, assigned to nobody

[2018-10-14 04:10] Akasurde commented on #35094
@walro Can we close this issue as #33556 resolves it ? needs_info

[2018-10-14 04:21] #26685 closed, assigned to nobody

[2018-10-14 04:29] Akasurde commented on #37066
resolved_by_pr #47021

[2018-10-14 04:41] Akasurde commented on #36223
@jannsuom Are you working on this ? Thanks.

[2018-10-14 04:45] Akasurde commented on #36223
!component +lib/ansible/modules/network/junos/junos_rpc.py

[2018-10-14 04:45] Akasurde commented on #36148
!component +lib/ansible/modules/network/junos/junos_rpc.py

[2018-10-14 05:39] chethansgowda commented on #14204
Hi All, I am new to ansible and learning on my own. I encountered the same issue. as "ERROR! Syntax Error while loading YAML."
My  playbook looks like this.  I am not able to run this please help

[2018-10-14 05:46] chethansgowda commented on #14204
my playbook is not attached in the above comment. It looks like this
 -name: configuring Nginx
  hosts: all
  tasks:
          -name: install Nginx
           apt: name=nginx state=latest
  tasks:
          -name: Ensure Nginx is running
           service:
            name: nginx
            state: started

[2018-10-14 05:46] Jerome-mi commented on #17686
same issue with ansible 2.7

[2018-10-14 06:20] #35094 closed, assigned to nobody

[2018-10-14 06:26] improvethings opened #47022 "Ansible playbook fails when space exists in file path"
##### SUMMARY
Trying to run an ansible playbook from an osx machine. osx names the drive "Mach HD" which has a space in name. Thus:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ uname -srm
Darwin 17.7.0 x86_64

##### STEPS TO REPRODUCE

Use osx with a "Mach HD" disk name.

[code]

##### EXPECTE

[2018-10-14 06:45] olbohlen commented on #15642
I can confirm that Lambieks patch works well so far with ansible 2.6.0 dev...

[2018-10-14 07:29] Jerome-mi opened #47023 "Loss of variable value when include role depth exceed 3"
##### SUMMARY

Loss of variable value when include role depth exceed 3
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles
templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04 running ansible, to pilot an ubuntu 16.04 server

##### STEPS TO REPRODUCE

i made these roles to reproduce and isolate this :

Role A :
- defaults :
[code]
- ta