[2017-09-29 01:21] bcoca commented on #31070
not sure we can exclude 'possible modules that look like keywords' as we already have things like `user` which is both.

[2017-09-29 01:33] jborean93 commented on #30431
I am going to close the issue as I cannot replicate it with the latest version but can with 2.3 and earlier.

[2017-09-29 01:33] #30431 closed, assigned to nobody

[2017-09-29 01:34] bcoca commented on #31074
cc @agaffney

[2017-09-29 01:40] bcoca commented on #31041
I'll update the docs, it was never meant to use the 'current directory' as this poses security issues i.e `cd /tmp && ansible-playbook ~/send_secrets.yml`.

I'll update porting guide and changelog

[2017-09-29 01:51] rahushen opened #31080 "nxos_pim_interface: 'border' and 'isauth' properties are not idempotent for N1 images."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_pim_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

on N1 images these properties return 'TRUE' and 'FALSE' in caps and hence fail string equality and hence are not idempotent.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook to pass.

##### ACTUAL RESULTS

[code]

[2017-09-29 01:55] jborean93 commented on #28715
Ok just tested this out, this seems to be hitting that common winrm issue where it works fine locally but not over WinRM. There are 2 possible ways to bypass this issue

* Use become to become the same user as the connecting one
* Use a scheduled task

From the latest devel branch this is how you can do either

Become
[code]

Scheduled Task
[code]

The setprinter.exe changes the settings for a par

[2017-09-29 01:55] #28715 closed, assigned to nobody

[2017-09-29 02:04] jborean93 commented on #16436
There is a script here to do what you are looking for https://github.com/ansible/ansible/pull/30958. Feel free to review and add your comments on it. It will let you choose what powershell version to upgrade to and it currently supports `3.0`, `4.0` and `5.1`

[2017-09-29 02:06] jborean93 commented on #14436
While it doesn't include the hotfix install in the same script https://github.com/ansible/ansible/pull/30958 allows you to upgrade to a specific version of Powershell and also includes another script to install the WinRM memory hotfix if required.

Feel free to try it out and see how it goes.

[2017-09-29 02:08] rafaelhenrique commented on #10472
Hi @davidfokkema after some time thinking and redoing, redoing, redoing succeeded to make reboot work the "correct" way as follows ....

[code]

Removing `become_method: sudo` everything is fine

[2017-09-29 02:13] jborean93 commented on #22660
PR to expand the Windows documentation which touches on this topic https://github.com/ansible/ansible/pull/30783.

[2017-09-29 02:23] jborean93 commented on #23730
I believe this change was made to align the script module with `win_command` and `win_shell`. It could also potentially be due to the change in the exec wrapper but I don't believe we want to revert back to the older behaviour. If you still wish to compare string without the last `\r\n` you can always do `{{result.stdout_lines|join("\r\n")}}` to achieve the same result.

Going to close the ticket

[2017-09-29 02:23] #23730 closed, assigned to nitzmahone

[2017-09-29 02:25] jborean93 commented on #24057
Closing this ticket as it has gotten off track and the issue cannot be replicated on a working host. If someone is still have this issue please open a new issue and we can investigate from there.

[2017-09-29 02:25] #24057 closed, assigned to nobody

[2017-09-29 02:32] jborean93 commented on #27155
Documentation PR for this can be seen here https://github.com/ansible/ansible/pull/30783. Feel free to review and add your comments.

[2017-09-29 02:35] jborean93 commented on #26385
This is most certainly something that become would fix, the install script from chocolatey would be using the `wusa.exe` which is restricted under WinRM.

Documentation for become is here https://github.com/ansible/ansible/pull/30783, please feel free to review and add comments.

[2017-09-29 02:49] jborean93 commented on #25480
You cannot use `pfx` certificates with certificate auth as public cert and private need to be exported to a PEM first. The upcoming docs gives you info on how to create as well as convert a key with OpenSSL. These docs can be found here https://github.com/ansible/ansible/pull/30783.

[2017-09-29 03:17] bcoca commented on #31073
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The issue is that the templating does not conserve types, so defining them in origin will not guarantee it, you need to use the filters

[2017-09-29 03:17] #31073 closed, assigned to nobody

[2017-09-29 03:22] bcoca commented on #23170
please run the following play
[code]

[2017-09-29 04:42] Axelay-Prime commented on #30431
Thanks for checking, keep up the great work!

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jordan Borean <notifications@github.com>
Date: 9/28/17 20:34 (GMT-06:00)
To: ansible/ansible <ansible@noreply.github.com>
Cc: Axelay-Prime <fsckwindows@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] Conditional Logic Causes Modul

[2017-09-29 05:53] jborean93 commented on #30585
Hi @acarrillo, are you able to test out https://github.com/ansible/ansible/pull/31084 and see if this fixes the issue for you. If it does I will merge it in and get it cherry picked to stable-2.4 for the 2.4.1 release.

[2017-09-29 05:55] fubarhouse commented on #26006
@sivel I'll check it out...

@abadger No, I haven't been able to evade this so I'll try @sivel's idea - should work.

I have however just reverted my role to just make from source for every test - which is unfortunate. This may just fix that!

[2017-09-29 06:47] xlr-8 commented on #28981
@mikedlr Yes, I'd figure it shouldn't be too difficult to implement, just had some other priorities as well.

Regarding your question about `started` / `restarted`, I believe that the main interest is to ensure that the database instance could have been restarted (maintenance, upgrade or whatever) and isn't just running, just like the logic for services: http://docs.ansible.com/ansible/latest/serv

[2017-09-29 07:07] rcarrillocruz commented on #30634
@jimmymccrory the module works fine when you pass an id, your issue is that in your example you're passing an arbitrary string, however id must be a valid UUID.
From image v2 API found on https://developer.openstack.org/api-ref/image/v2/:

[code]

And a test showing an image creation passing a valid ID:

[code]

[2017-09-29 07:43] dagwieers commented on #25420
So this ticket is a little bit outdated. The consensus was to open up the httptester docker infrastructure to be used by the (Windows) VM infrastructure. At the moment that is not possible.

It is an action-item for @mattclay in the Windows action plan and a requirement to improve the **win_uri** and **win_geturl** integration tests.

[2017-09-29 07:53] ssbarnea commented on #30901
I agree wih the default inheritance approach.

[2017-09-29 07:58] davidfokkema commented on #10472
@rafaelhenrique Yes, this part of my setup has taken me lots of time as well. And I needed to revisit it several times already, when something in Ansible changes. The first part of your playbook is virtually identical to what I use. For the second part, you could make a few changes. You can drop the `{{ ansible_ssh_host }}` variable requirements and the `state=started` by using the `wait_for_conne

[2017-09-29 08:08] Zapeth commented on #31068
Ok I managed to resolve the issue, turns out I overlooked the fact that all tasks want to connect to the same port, which in this case seems to result in all of them using the same tunnel (the one with index 0).

So the simple fix was to replace all occurrences of `local_port` with `ansible_port`.

[2017-09-29 08:08] #31068 closed, assigned to nobody

[2017-09-29 08:13] LucaLanziani commented on #30760
+1 having the same problem of @StephanZaat myself

[2017-09-29 08:34] dagwieers commented on #18197
It would be nice if some active Ansible Solaris people would form a Solaris WG and think about how to improve Solaris in general, and fixing Solaris-related issues.

[2017-09-29 09:24] JulienPalard opened #31086 "except Exception preventing pdb to enter post-mortem mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bin/ansible

##### ANSIBLE VERSION

[code]

##### SUMMARY

The `except Exception` in [bin/ansible](https://github.com/ansible/ansible/blob/v2.4.0.0-1/bin/ansible#L128) prevents pdb to enter post-mortem mode on exception, as the exception is handled.

##### STEPS TO REPRODUCE

Manually add a `raise Exception()` (so it's still reproductible afte

[2017-09-29 09:33] aioue opened #31087 "localhost inventory_dir no longer defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

source: os x 10.12.6

##### SUMMARY

Following on from https://github.com/ansible/ansible/issues/31058.

`inventory_dir` variable is not being defined when `localhost` hosts filter is used.

##### STEPS TO REPRODUCE

Inventory source: any `ec2.py` in

[2017-09-29 09:47] #26385 closed, assigned to nobody

[2017-09-29 09:47] #27155 closed, assigned to nobody

[2017-09-29 09:47] #29702 closed, assigned to nobody

[2017-09-29 10:06] matt3o opened #31089 "include_role silently ignores vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module: include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
N/A

##### SUMMARY

include_role silently ignores vars defined inside the configuration. See the example below. Very hard to debug as everything seems to work.

##### STEPS TO REPRODUCE
Below is example code. The first version is how it should

[2017-09-29 10:25] sophie-h commented on #27905
If have updated the issue description.

@thoto Internally I am only working on the basis of the XML definition. If module parameters are used, the XML tree is updated. In this sense my approach is backwards compatible. But if the `xml` parameter is absent, we can do an exact comparison of the changes. This makes the domain module much more reliable in case you are only change a few parameter. Of c

[2017-09-29 11:23] tchernomax commented on #31071
@LuckySB thank for your reply, but I don't really like your workaround… It make it more difficult to share roles.
As workaround I prefer to set `static: false` on `include_role` tasks inside roles. But static is now [deprecated](https://github.com/ansible/ansible/blob/cd2774af7849be79f19b43628a3e3dde4bde00b4/lib/ansible/playbook/helpers.py#L141).
It's very weird that `static: false` change the ans

[2017-09-29 11:36] #30880 closed, assigned to nobody

[2017-09-29 11:36] rafaelhenrique commented on #10472
Cool! :smile:

[2017-09-29 11:45] jborean93 commented on #31050
`ini_file` is a Python module which won't work on Windows. There would need to be a `win_ini_file` developed to get this to work. Changing tag bug to feature request.

[2017-09-29 11:57] 2ndK commented on #31050
Hi.

May you are right. Most of ansible modules has a "brother" with win_
prefix: win_copy, win_template etc.

but some modules e.g fetch works on both OS (win and *nix) (I tested the
fetch-module)

I prefer to have one module OS-independed instead of two with 99% same code.

I ini_file prosses files locally, so it only need to use win_copy instead
of copy during writing of processed file back

Re

[2017-09-29 12:21] jborean93 commented on #31050
Windows modules are writting in another language to the Linux/Unix ones as some of the functionality doesn't translate well with Python on Windows. Because of this a decision was made to split them up.

Some modules like `fetch`, `script` and others are really action plugins and not modules which run on the Ansible Controller. They sometimes interact with the Windows host but they use low level co

[2017-09-29 12:28] skamithi opened #31090 "network parse_cli filter - single match is not caught when using start_block and end_block feature"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Network Filter Plugin (network.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Results of ``ansible-config dump --only-changed `` is empty

##### OS / ENVIRONMENT
[code]

##### SUMMARY
``parse_cli`` when using ``start_block`` and ``end_block`` fails to return a result if there is only a single result.

##### STEPS TO REPRODUCE

Sample Pla

[2017-09-29 12:41] ralphie02 opened #31091 "Bug: Pipelining not working || resulting times between pipelining=True/False are the same"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pipelining

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
My OS:
Ubuntu 16.04.3 LTS (Xenial Xerus)

Host:
Devuan GNU/Linux 1 (jessie)

##### SUMMARY
I am trying to run my play with pipelining=true but it doesnt seem to be working.

(Test Case 1)
I read somewhere that when pipelining is true, there shouldn't be

[2017-09-29 13:19] olfway opened #31093 "Exception on include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Got exception on include_tasks -> include_role

This begins with commit 2eac554eb4cd636a334dbea1b0a6812b3be2ed73
[code]
same error with latest devel (commit 916e6be888bb1f2f38be8dce126222fa63b772e2)
and latest stable-2.4 (com

[2017-09-29 13:29] bcoca commented on #31087
same cause as add_hosts issue #30901

[2017-09-29 13:34] bcoca commented on #29655
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is a misuse of the API, the get_X_vars methods should return a dictionary, not use set_variable on the host object.

In the future

[2017-09-29 13:34] #29655 closed, assigned to nobody

[2017-09-29 13:47] daBONDi commented on #31003
Maybe make a new module like win_dsc_template for execution

If someone need to do a heavy lift with an epic dsc doc he can use that and have the features of using jinja2 maybe, like a combination of win_dsc and win_template :-)

And for single DSC Resource Executions win_dsc is enough i think

[2017-09-29 13:49] daBONDi commented on #31003
Maybe make a new module like win_dsc_template for execution

If someone need to do a heavy lift with an epic dsc doc he can use that and have the features of using jinja2 maybe, like a combination of win_dsc and win_template :-)

And for single DSC Resource Executions win_dsc is enough i think

---

Because of Type Information maybe win_dsc implement something like

[Type]Property : Value

So ther

[2017-09-29 13:49] kedarkekan commented on #26447
@calfonso should this be closed?

[2017-09-29 13:51] #26447 closed, assigned to nobody

[2017-09-29 13:53] s-hertel commented on #31075
This has been fixed in 64f54fa6e2d4ffa0147fa276223afb812bdae506. A workaround on 2.4.0.0 is to specify the object without the first '/' - i.e. `object: passwords/mysql/database-password-hash`
The fix is in 2.4.1, the beta version of which is now available on release.ansible.com.

[2017-09-29 13:53] #31075 closed, assigned to nobody

[2017-09-29 13:55] espressobeanies commented on #28772
So, to add a bit more mystery to the issue, it appears the 'pwgen' command still worked on the target nodes and assigned arbitrary values, but for some reason, Ansible kicked back failed messages during my initial run.

[2017-09-29 13:56] rahul0705 opened #31095 "Ansible gather_facts cannot correctly populate service_mgr fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- gathering_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Empty

##### OS / ENVIRONMENT

Running ansible on macOS High Sierra
Deploying to travis-ci 14.04 with sudo and 16.04 personal server

##### SUMMARY

When gathering fact or running the setup ad-hoc command ansible cannot properly populate the ansible_service_mgr fact. Instea

[2017-09-29 13:57] bcoca opened #31096 "ansible 'exclusive' operation on targets"
In some environments you would like to guarantee only one Ansible play/task is running against a target machine at any given time.  Some operations like package management do their own locking (rpm db, apt db) but this is not enough for all operations.

I propose the use of `lockf`/`flock` against an existing `/etc/ansible/exclusive` file that would condition module execution on that machine (sans

[2017-09-29 13:59] ryansb commented on #30645
#30622 and also #30333 are merged, and backported in 750874ea5d

Please reopen if the issue persists on the stable-2.4 or 2.4.1 betas.

[2017-09-29 13:59] #30645 closed, assigned to nobody

[2017-09-29 14:04] bcoca commented on #31086
I'm not sure what you are asking for, if it is for removal of the exception capture, I would be against it.

Anyone running `pdb`  certainly has this skills to comment that code out, but non-python programmers would be 'greeted' with a (to them) incomprehensible stacktrace.

[2017-09-29 14:13] rahul0705 opened #31097 "apache_module has uncaught exception when enabling php5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- modules/web_infrastructure/apache2_module.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Empty
##### OS / ENVIRONMENT

##### SUMMARY

When enabling php5 on a 14.04 system an exception is thrown.

I believe the issue has to do with the variable not being checked for Noneness first:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2017-09-29 14:29] ghost opened #31098 "Ansible Playbook - Failed to open shell - connect retry timeout expired, unable to connect to control socket"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Trying to use ios_config module but can't open shell to device.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_REMOTE_PORT(/etc/ansible/ansible.cfg) = 22
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 5
DEFAULT_TRANSPORT(/etc/ansible/ansible.cfg) = paramiko
HOST_KEY_CHECK

[2017-09-29 14:39] alikins opened #31099 "Add test cases for hostvar+winrm set_host_overrides (30911, 23586)"
##### ISSUE TYPE

 - Bug Report
 - Test Idea

##### COMPONENT NAME

lib/ansible/plugins/connection/winrm.py
lib/ansible/executor/task_executor.py
lib/ansible/inventory/hostvars.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
See issues #30911 and #23586

##### SUMMARY

##### STEPS TO REPRODUCE
run ansible-test and/or ci

##### EXPECTED RESULTS

hostsvars+winrm are tested and find bugs like

[2017-09-29 14:47] alikins opened #31101 "add lassizci/ansible-perftest to CI"
##### SUMMARY

Add https://github.com/lassizci/ansible-perftest to CI somehow (daily?) to keep track on hostvar related performance.

Related to https://github.com/ansible/ansible/issues/23349

##### ISSUE TYPE

 - Feature Idea
 - Test Idea

##### COMPONENT NAME
lib/ansible/inventory/hostsvars.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
See https://github.com/ansible/ansible/issues/2334

[2017-09-29 14:49] bcoca commented on #31089
`vars:`  is a task keyword, not an `include_role` option, the first case should NOT work, the 2nd is correct. But as you state, this should not be a silent ignore, but a loud error condition.

This was fixed in #28077 and released in 2.4, which now shows the following:
```ERROR! Invalid options for include_role: vars```

[2017-09-29 14:49] #31089 closed, assigned to nobody

[2017-09-29 15:04] alikins commented on #30693
If folks seeing this are running from a source checkout, try running:
[code]

It needs to run locally on the system that is detecting facts incorrectly.

Please paste that output here. And ideally, the current 'actual' fact collected and what it was expected to be.

[2017-09-29 15:04] wenottingham opened #31104 "dig plugin docs misformatted"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dig lookup plugin

https://docs.ansible.com/ansible/devel/plugins/lookup/dig.html

##### ANSIBLE VERSION
N/A

##### SUMMARY

![screenshot from 2017-09-29 11-04-23](https://user-images.githubusercontent.com/5208768/31022191-05f92b78-a506-11e7-9618-5ba981792d3c.png)

[2017-09-29 15:07] alikins commented on #30693
@mscherer re https://github.com/ansible/ansible/issues/30693#issuecomment-331406825

Shouldn't be, afaict. The distribution facts do not require any shared facts via collected_facts, so it shouldn't matter.

[2017-09-29 15:15] alikins commented on #30693
The check for /etc/os-release seems to be getting skipped and the last check that worked ends up being the mandriva lsb-release check.

maybe ansible.module_utils.facts.system.distribution.DistributionFiles.parse_distribution_file_Debian() is failing for some reason?

What does /etc/os-release look like?

[2017-09-29 15:19] alikins commented on #30693
If you have a source checkout on a machine that gets the facts wrong, try running 'hacking/test-module -m lib/ansible/modules/setup.py' on that system and pastebin the output.

And in particular, look for any errors/warnings/exceptions in the output ('exc: some error message', for ex)

[2017-09-29 15:28] wenottingham opened #31105 "RFE: flatten/simplify azure fact namespace"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

(probably applies to all azure)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

nothing of note

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

The Azure fact namespace is needlessly convoluted compared to other fact/return namespaces.

##### STEPS TO REPRODUCE
Take a standard playbook that launches instances and

[2017-09-29 15:36] sivel commented on #31070
From my perspective, I think we should potentially error if we find a module that shadows a keyword, and just give some detailed information about it.  Although figuring out how we effectively enumerate all of the keywords for that shadow detection is a different matter.

[2017-09-29 15:36] jctanner commented on #30879
Looks very similar to https://github.com/ansible/ansible/issues/28649

[2017-09-29 15:38] jctanner commented on #30879
@coltsixshooter could you send a PR for that change so that it would run through the integration tests?

needs_info

[2017-09-29 15:38] perolausson commented on #31019
I've been able to resolve this matter now by reverting to the default of using systemd-resolve and letting that insulate me from my bad DNS server. I suggest we keep the detault and close this bug report unless you want to add an option to switch EDNS on/off.

Sorry for wasting your time. It is a bit tricky these days to solve DNS issues on 17.04...

[2017-09-29 15:41] Qalthos opened #31106 "[NET_CONN] Turn network_cli into a usable connection type"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins/connection/network_cli

##### ANSIBLE VERSION

[code]

##### SUMMARY

`connection: local` is confusing and misleading for network modules using a cli transport, as they actually use the network_cli connection plugin. We would like it to be possible to specify `connection: network_cli` instead, while maintaining backwards compatibilit

[2017-09-29 15:44] alikins commented on #30693
I'm guessing Ubuntu 10.04 doesn't have a /etc/os-release ?

I can reproduce a similar fail in test cases if there is just /etc/lsb-release and no /etc/os-release

[2017-09-29 15:46] Qalthos opened #31107 "[NET_CONN] Create netconf connection plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins/connection/netconf

##### ANSIBLE VERSION

[code]
##### SUMMARY

Following on the work in #31106, we would like to create a new connection plugin for netconf transports, which uses the same persistence framework.

[2017-09-29 15:58] jpmens commented on #31019
You have not been wasting my time; I think we should add an option to disable EDNS0 and your issue is valid. (I'm en-route and haven't had an opportunity to think about a patch. If you're willing to provide a PR to disable EDNS0 in the `dig` module, I would +1 it.)

@bcoca would you kindly re-open this ticket?

[2017-09-29 16:02] alikins commented on #30693
https://github.com/ansible/ansible/pull/31108 is an potential fix if folks can test that.

The test data there is kind of a guess based on the assumption of no /etc/os-release, so any of the requested info above would still be useful (especially if the fix doesnt help)

[2017-09-29 16:03] bcoca commented on #31070
@sivel done https://github.com/ansible/ansible/blob/devel/docs/bin/dump_keywords.py

[2017-09-29 16:05] alikins commented on #30550
@jleclanche https://github.com/ansible/ansible/pull/31066 should fix this. If you can test out the pr I would appreciate it.

[2017-09-29 16:05] perolausson commented on #31019
Ok cheers!

[2017-09-29 16:11] s-hertel commented on #31064
cc @dharmabumstead

[2017-09-29 16:12] mikedlr commented on #26756
now in testing; a version of rds_instance which _does_ support check mode https://github.com/ansible/ansible/pull/30746  ;  feedback and testing will accellerate delivery of this.

[2017-09-29 16:14] bcoca commented on #31093
dupe of #30903

[2017-09-29 16:14] #31093 closed, assigned to nobody

[2017-09-29 16:19] s-hertel commented on #31104
cc @dharmabumstead

[2017-09-29 16:39] coltsixshooter commented on #30879
I agree that #28649 seems to be the same thing. I will do a PR this weekend for the change and do a few more tests to verify.

[2017-09-29 16:47] gangefors opened #31109 "module_utils/urls.py: TypeError: a bytes-like object is required, not 'str'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module_utils/urls.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration

##### OS / ENVIRONMENT
Debian stretch
Python 3.5.4

##### SUMMARY
When running a playbook with a `uri` task and having `https_proxy` environment variable set, the task fails with:

`TypeError: a bytes-like object is required, not 'str'`

Running the

[2017-09-29 16:52] garpadev commented on #22397
What about when testing for the presence of a string, part of which contains a variable?

[code]

It's very possible I'm just missing a better or more appropriate way to write that but so far the only method that works seems to be using the brackets within the quoted string.

**EDIT**
Sorry for cluttering the thread. After re-reading a few of the examples and further testing was able to get it wor

[2017-09-29 16:57] jimmymccrory commented on #30634
Ah ok, thanks for clearing that up @rcarrillocruz

[2017-09-29 17:26] sivel commented on #31109
resolved_by_pr 30811

[2017-09-29 17:27] PaulMougel commented on #31091
For what it's worth, I also see the same behavior on my machine.

##### ANSIBLE CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS Sierra 10.12.6 (16G29)

[2017-09-29 17:34] ghost commented on #31071
Similar issue here.

Ansible version: 2.4
Server Operating system: Ubuntu Xenial 16.04
Client Operating system: Arch Linux

**This is the playbook 'test.yml':**
[code]

**These are the role's handlers './roles/pdnsd/handlers/main.yml':**
[code]

**Because 'handlers:' section was declared in the playbook 'test.yml' above, the role 'pdnsd' was unable to find the handlers declared in './roles/pdnsd/h

[2017-09-29 17:38] gangefors commented on #31109
Ah, sorry that I never searched PRs as well. Nice to see that #30811 is on its way to get merged.

[2017-09-29 18:08] alikins commented on #16048
Related to https://github.com/ansible/ansible/issues/31022

[2017-09-29 18:28] calfonso commented on #13278
We believe the original issue reported was fixed in 2.3.1. We are closing this issue and if you still have SSH issues please open a specific github issue with as much detail as possible along with the reproducer, thanks!

[2017-09-29 18:28] #13278 closed, assigned to jimi-c

[2017-09-29 18:34] calfonso commented on #23577
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.

[2017-09-29 18:34] #23577 closed, assigned to nobody

[2017-09-29 18:35] #18124 closed, assigned to nobody

[2017-09-29 18:39] calfonso commented on #15665
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational. Let's explain what we're thinking:

The idea of pinning paramiko to a specific version can cause other issues with packaging and security patching. This isn't an Ansible limitation to solve.

As such, we're going to close this ticket

[2017-09-29 18:39] #15665 closed, assigned to nobody

[2017-09-29 18:52] calfonso commented on #16804
There needs to be a proposal for this feature written in https://github.com/ansible/proposals/issues and then championed in the weekly core IRC meeting. Here's the agenda you can place the proposal on https://github.com/ansible/community/issues/240

As @jeremycornett mentioned in his last comment, role versioning is going to be a blocker for getting this in. https://github.com/ansible/proposals/is

[2017-09-29 19:07] bcoca commented on #31091
pipelining CAN speedup module execution by avoiding writing to disk, but it  does NOT mean:

- no writes to disk happen, you may see a PUT or more depending on the action (copy, template, etc)
- all actions are automatically faster, that depends on the bottleneck for that action.
- only one EXEC is supposed to happen ... I have no clue why this expected, not a thing.

The template task specificall

[2017-09-29 19:21] alikins commented on #28652
Could y'all run hacking/tests/gen_distribution_version_testcase.py  on some of the systems showing errors and paste here? Would be useful to get some examples to start adding to unittests.

And if possible, maybe the full output[1] of '/usr/sbin/swlist' ?  Wouldn't hurt to have the output from unprivileged and privileged users as well.

[1] I have no idea what all swlist outputs, so if it part of

[2017-09-29 19:28] bcoca commented on #30441
can you try using import_tasks instead? get some numbers there.  as was asked for above?

[2017-09-29 19:48] bcoca commented on #30977
So i cannot reproduce, i've tested with python 2.6/2.7/3.5/3.6 and all can read the file w/o issues. Both with `.yml` and `.yaml`.

Using your examples:
[code]

[2017-09-29 19:49] alikins commented on #24295
@DanyC97 Does the set_facts / cacheable feature resolve this issue for you?

[2017-09-29 19:53] bcoca commented on #30903
~@willthames can you test that #31103 fixes it for you?~ nvmd .. 2.6 doesn't support fix, try the one below

[2017-09-29 19:57] alikins commented on #14672
https://github.com/ansible/ansible/issues/14672#issuecomment-245998672 sounds it should resolve this. Closing.

[2017-09-29 19:57] #14672 closed, assigned to nobody

[2017-09-29 19:58] alikins commented on #14555
@profhase does 'include_role' resolve this issue for you?

[2017-09-29 20:10] alikins commented on #31095
Should be fixed in stable-2.4.0 branch (future 2.4.1) and devel/

95abc1d82e4c40832c802253107ad3f9aeebc68d should be the commit to fix it.

[2017-09-29 20:11] wvidana commented on #31009
Seems fixed on `devel` already https://github.com/ansible/ansible/commit/92426840d6cba427c3ca2a4a9341768aa0f634cb

[2017-09-29 20:11] #31009 closed, assigned to nobody

[2017-09-29 20:17] #26463 closed, assigned to nobody

[2017-09-29 20:18] jagibson commented on #17193
@jjaone Thank you - the key I was missing is that the boolean had to be all lowercase (e.g. "true" instead of "True").

Otherwise this format worked for me:
-e '{ "foobar": true }'

Edit: The above applied to Ansible 1.9.4.  With 2.3.1 it seems happy either way.

[2017-09-29 20:19] bcoca commented on #30776
fixed via #30954

[2017-09-29 20:19] #30776 closed, assigned to jimi-c, bcoca

[2017-09-29 20:20] abadger commented on #20711
@guhcampos your error is different.  You should file a different bug for that with reproducer, error message, and whether it can be duplicated outside of ansible-container conductors.  (if it only happens inside, it might be better filed agaisnt ansible-container)

@cubranic and everyone else, I've taken a look at the code and this is a misunderstanding.  The rpm_key module manages the keys that r

[2017-09-29 20:20] #20711 closed, assigned to abadger

[2017-09-29 20:21] JulienPalard commented on #31086
I totally agree, removing it is not the best solution. I'd be more for a kind of `if cli.options.verbosity > 2: raise` to re-raise the exception and let Python display the stacktrace instead of printing it with `traceback.format_exc()`.

[2017-09-29 20:25] bcoca commented on #30385
@dmsimard  so I tried to fix serialization issues with task_include in  #28077, please test and let me know if it fixes the basic problem for you.

[2017-09-29 20:29] alikins commented on #22935
Since https://github.com/ansible/ansible/pull/24583 and https://github.com/ansible/ansible/pull/24584 are merged closing this issue.

[2017-09-29 20:29] #22935 closed, assigned to s-hertel

[2017-09-29 20:32] alikins commented on #17935
@inequity With what ansible versions are you seeing this?

[2017-09-29 20:36] coltsixshooter commented on #30879
Glad I am testing this, actually had to make two changes. Pull request this weekend.

[2017-09-29 20:39] jdoss commented on #20347
This still impacts 2.4. Trying to set the volume size with `/dev/xvda` results in the default size being used. This is with Fedora 26.

[2017-09-29 20:41] alikins commented on #15096
@danehans is this an issue in later versions? (2.3 or 2.4).

There are a couple of coreos related fact unit tests that are passing  (the tests driven from https://github.com/ansible/ansible/blob/devel/test/units/module_utils/test_distribution_version.py#L491-L519) , but haven't tested on real coreos.

If those tests pass, but real systems still fail, could you try running hacking/tests/gen_distrib

[2017-09-29 20:45] alikins commented on #22404
What would be the best way to get the right systemd version info?

Would 'systemctl --version' output be sufficient? If so, could you get sample output from some of the systems in question?  I have no idea if the format of the --version output is consistent across versions.

[2017-09-29 20:52] gtirloni opened #31113 "Skip tasks with conditional in check mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Check Mode

##### ANSIBLE VERSION
[code]

I'm sorry if this has been suggested before but I couldn't find it. Tested on Ansible 2.4.

Sometimes I want to run my playbooks in check mode and I understand when that can fail. For instance, a "shell" task will be skipped, as expected.

However, if a subsequent task that won't be skipped depends on

[2017-09-29 20:56] rahul0705 commented on #31095
Is this fix in pip 2.4.0.0?

[2017-09-29 20:59] danehans commented on #15096
@alikins I'm not sure. It's been a long time since I've worked on this project.

[2017-09-29 21:05] dkewley commented on #20603
I see this issue in a role handlers/main.yml in Ansible 2.3.2.0 from CentOS 7 Extras. I can confirm the workaround by @welchwilmerck works for me (put the handler with the include at the top of the handlers/main.yml).

I see this issue in the context of a role when using 2.3.2.0 from CentOS 7 Extras. It's resolved by moving the handler with the include: to the top of the handlers file, as per @wel

[2017-09-29 21:05] 2rs2ts commented on #15665
You could just fix your use of paramiko so that the backwards incompatibility doesn't break ansible, but for what it's worth, pinning to major revisions so that this kind of thing doesn't happen is pretty common practice.

[2017-09-29 21:33] sivel commented on #15665
We believe that the benefits gained from allowing newer versions of paramiko outweighs the downsides of additional dependencies.  Should you want to continue using an older version of paramiko, and are using pip, consider using a local constraints.txt file.

[2017-09-29 21:33] retr0h opened #31115 "Fail to find built in filter plugins when plugin file named core.py present in ANSIBLE_FILTER_PLUGINS path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core.py plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[code]

##### OS / ENVIRONMENT

Mac OS

##### SUMMARY

Ansible fails to find core plugins such as bool when a file named core.py exists in the ANSIBLE_FILTER_PLUGINS path.

##### STEPS TO REPRODUCE

https://github.com/retr0h/ansible-plugin-bug-31115

##### EXPECTED RE

[2017-09-29 21:36] abadger commented on #31109
Closing as # 30811 has been merged.

[2017-09-29 21:36] #31109 closed, assigned to nobody

[2017-09-29 21:50] 2bithacker opened #31116 "ERROR! conflicting action statements: ping, async"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS X 10.12.6 x86_64

##### SUMMARY

Since upgrading to Ansible 2.4.0.0 I get an error when trying to use `ansible -m` with the `ping`, `setup`, and several other modules.  Running playbooks works fine though.

##### STEPS TO REPRODUCE

[code]

##### EX

[2017-09-29 22:39] astorije opened #31117 "Pass filenames to `values` option of `helm` module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[`helm` module](https://docs.ansible.com/ansible/2.4/helm_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Mac OSX El Capitan 10.11.6

##### SUMMARY

`helm install` takes a YAML file as its `--values` argument. From `helm help install`:

[code]

It would be very useful if that file could be prov

[2017-09-29 22:48] JulienPalard opened #31118 "Enhance exception on yaml inventory typo"
##### ISSUE TYPE
 - Enhancement

##### COMPONENT NAME
plugins/inventory/yaml

##### ANSIBLE VERSION

[code]

##### SUMMARY

With a yaml inventory, on host variables, doing the "typo" of using an equal sign instead of a column (copying from ini format, typically), I mean:

[code]

Instead of

[code]

##### STEPS TO REPRODUCE

Example inventory:

[code]

##### EXPECTED RESULTS
Some readable error.

[2017-09-30 00:13] #30556 closed, assigned to bcoca

[2017-09-30 00:16] bcoca commented on #31113
why not add `when: not ansible_check_mode` ?

[code]

or consider using a `block` when it applies to a bunch of tasks.
There is also the `|default` filter.

[2017-09-30 00:28] ralphie02 commented on #31091
@bcoca Thanks for the clarification. I was not at all sure about the `SSH EXEC` that I have mentioned since it wasn't otherwise stated anywhere. I did assume that pipelining generally increases speed even by a bit -- incorrect assumption I suppose.

I have nothing more to add up and your comment seems to address my concern. Closing issue

[2017-09-30 00:28] #31091 closed, assigned to nobody

[2017-09-30 00:31] retr0h commented on #30663
So I assume this fix is not in the current 2.4.0.0 on pypi?

 I'm the author of [Molecule](https://molecule.readthedocs.io), and I have been unable to enable 3.6 support due to the fact that every version of Ansible since 2.2 ends up having multiple py3 issues.  However, Molecule's functional tests perform many Ansible workflows which find these issues fairly quickly.  Let me know if your interest

[2017-09-30 00:41] bcoca commented on #31091
most of the speed gain will be noticeable when you run a bunch of tasks on a bunch of hosts, its normally too small a gain on a single task on a single host unless the module is huge.

[2017-09-30 01:09] idgdmg commented on #30064
This issue STILL exists on Ansible 2.1  *AND* Ansible 2.50!!

=====

How to reproduce:

1. Step 1 : verifying that the host "dev-web-sf-98" has /tmp mounted as "noexec"

[code]

2. Step 2 - Running the playbook with "-vvv" flag

[code]

3. Step 3. As you see it CLEARLY wants to execute things off  the /tmp partition!! Since the operating system does not allow that (noexec)., it fails right awys

H

[2017-09-30 01:52] abadger commented on #30663
Correct.  Fix will be in 2.4.1

[2017-09-30 02:04] gtirloni commented on #31113
That makes sense. I was just wondering if Ansible could be smarter about this specific situation and let us write less code.

Thanks for the suggestions.

[2017-09-30 02:39] caphrim007 commented on #29241
@gundalow please close this issue. I have a fix for this in the f5-networks repo that i will be upstreaming here during the 2.5 development cycle

[2017-09-30 06:30] ogenstad commented on #24466
@privateip, as I see it this bug was raised because of the "timeout trying to send command: enable" issue which has been resolved. The issue that @leekendrick is describing is something else and we'd need more information to look at that. Though I think that would be better done in a new issue so that the history is less confusing. Are there any other error messages than what's provided above?

[2017-09-30 08:52] AsavarTzeth commented on #22404
I think it is pretty safe to say the output format is stable.

Debian 8

[code]

CentOS 7

[code]

OpenSUSE Leap 42.2

[code]

Ubuntu 16.04

[code]

Fedora 25

[code]

Debian 9

[code]

Fedora 26

[code]

Arch Linux updated as of 2017-09-30

[code]

[2017-09-30 10:46] n0trax commented on #31097
@rahul0705 Thank you for this BugReport, but this is a duplicate of #30827

[2017-09-30 12:40] agaffney commented on #31074
I don't see any obvious reason why this would be the case. However, I haven't done much more than just eyeball the code.

[2017-09-30 12:50] #28266 closed, assigned to nobody

[2017-09-30 13:15] #22612 closed, assigned to nobody

[2017-09-30 13:20] PaulMougel opened #31125 "Pipelining seems to be disabled since Ansible 2.4"
This issue is related to https://github.com/ansible/ansible/issues/31091 , which was closed yesterday. I investigated a bit, tried my best to test on multiple Ansible versions with the same tasks. I feel that pipelining behavior has changed between Ansible 2.3 and recent releases, starting at 2.4 and affecting also devel.

Let me know if you need more information or if I missed something. I'll be

[2017-09-30 14:16] rahul0705 commented on #31097
thanks, I'll close this issue as to reduce confusion

[2017-09-30 14:16] #31097 closed, assigned to nobody

[2017-09-30 14:35] ismc opened #31127 "ios_user does not support ssh key"
ios_user does not support ssh keys as the other network modules do.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

scarter@ansible-2.4:~/projects/ansible-netops.ismc$ ansible-config dump --only-changed
ANSIBLE_SSH_CONTROL_PATH(/Users/scarter/.ansible.cfg) = /tmp/%%h<E2><80><90>%%r

##### OS / ENVIRONMENT

Docker container runni

[2017-09-30 15:03] Akasurde commented on #19735
@dagwieers Can you please close this issue ?

[2017-09-30 15:12] ismc opened #31129 "diff directive does not behave the same as '--diff' on the command line"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Shows in nxos/ios_config modules but probably a Core issue.

- [ ] nxos

- [ ] ios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 7 Docker container on OSX

##### SUMMARY

The 'diff' directive shows that there was a change but not what the change was.  The '--diff' option on the command line shows

[2017-09-30 16:13] johnjelinek opened #31131 "sudo: sorry, you must have a tty to run sudo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
paramiko pty

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This works in `2.4.0.0`, but for `1.9.4`, I get the message: `sudo: sorry, you must have a tty to run sudo`.

##### STEPS TO REPRODUCE
If a server has `Defaults:    requiretty` in `/etc/sudoers`

[code]
(I can't use the service modu

[2017-09-30 16:27] ismc commented on #19183
This adds the context and configures the interfaces now, however it shows a change for creating the context every time:

[code]

Steven.

[2017-09-30 16:49] ogenstad commented on #19183
@ismc, could you please show your playbook? Specifically for the task "Add Context" and also the exact configuration as it appears on the device?

[2017-09-30 16:56] #31113 closed, assigned to nobody

[2017-09-30 17:01] #19735 closed, assigned to jctanner

[2017-09-30 17:35] sivel commented on #31131
Ansible 1.9 is no longer supported and not receiving any more updates.  Since this works as expected in 2.4 I’m going to close this out.

[2017-09-30 17:35] #31131 closed, assigned to nobody

[2017-09-30 17:41] johnjelinek commented on #31131
@sivel: thanks for responding. I realize 1.9 is no longer supported, but because of constraints, I can't upgrade right now. Can I get some advice on back porting the feature? In the 1.9 codebase, the feature appears to be there, maybe there's a small patch.

[2017-09-30 18:10] olfway commented on #30903
#31111 fixes #31093 for me on stable-2.4 and devel

[2017-09-30 22:01] LuckySB commented on #30441
i change all static include to import_tasks - 110 include: left and nothing has changed

i need dynamic include
include_role with items works very bad, so I have an array of roles, and when I play each role, I check to see if it's in the host's variable roles
[code]

also i need include with_items:
[code]

110 include_tasks, it's not so much to reduce the speed by 2 times, and use 10 times more me

[2017-09-30 23:09] coltsixshooter commented on #30879
PR Submitted: https://github.com/ansible/ansible/pull/31139

[2017-10-01 00:48] pilou- commented on #26537
Should not an error be raised when `notify` is used with `includes_*` ?

`block` don't support `notify` too and an error is raised (`'notify' is not a valid attribute for a Block`) when `notify` is used with `block`.

[2017-10-01 02:46] AlanCoding opened #31141 "ansible-inventory failure with vaulted value in yaml inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ansible-inventory` CLI

##### ANSIBLE VERSION
[code]

Also tested in 2.4, same behavior.

##### CONFIGURATION
[code]
(no output)

##### OS / ENVIRONMENT
Running from Mac, python 2.7
controlling N/A

##### SUMMARY
Putting a vaulted value inside of a yaml inventory file causes an error running `ansible-inventory` on that file, apparently related

[2017-10-01 03:57] matt-pilgrim commented on #19525
I have this same problem with macos sierra, using ansible@devel, and despite the fact that pip is present and on my $PATH.  Adding "executable: /usr/local/bin/pip" fixes the problem.

[2017-10-01 04:59] winstonsimon opened #31144 "Canary Build Support for CI/CD Pipeline"
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

- Feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We use Ansible to host some our products in AWS. With our initial setup, we have dev, stage and production environments.

We use standard asg and elb configuration to host each instances separately based on group_vars.

[2017-10-01 05:02] matt-pilgrim commented on #19525
underlying problem seems to be https://github.com/ansible/ansible/issues/12063

[2017-10-01 05:03] prasadkatti commented on #26603
Shouldn't this issue be closed since the fix seems to be already backported to `stable-2.3`?

[2017-10-01 06:28] iteratelance opened #31145 "apt module permissions bug when running with packer"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_FILTER_PLUGIN_PATH(/root/.ansible.cfg) = [u'/root/.iterate/ansible/ansible-0.5.3/filter_plugins']
DEFAULT_ROLES_PATH(/root/.ansible.cfg) = [u'/root/.iterate/ansible/ansible-0.5.3/roles']
HOST_KEY_CHECKING(/root/.ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu 16.04 runni

[2017-10-01 07:14] naisanza commented on #31141
@AlanCoding So from what I'm seeing is, `firstvariable` is equal to `191.168.100.32` ?

Based from:

[code]

But, in your steps you said:

[code]
Is expected to give:

[code]

I'm a little confused. Was the encrypted `firstvariable` a separate vars reference file that would be replaced with `"ansible_ssh_host": "191.168.100.32"` once Vault had decrypted and substituted it into the final output?

[2017-10-01 07:32] iteratelance commented on #31145
Might be related: https://github.com/ansible/ansible-modules-core/issues/2951 but none of these suggestions solved my problem.

[2017-10-01 08:57] christiang830 commented on #26537
For my understanding a notify at the include_* task should be triggered, when one of the included tasks is changed. I think that would greatly improve the functionality of these include tasks.

For example:
We have some roles that deploy applications which all need their own init scripts.
What i want now is a role (i call them utility role) "init_script" that i can include with include_role and th

[2017-10-01 10:50] robinro commented on #30780
I guess this is a side-effect of 99ef1f3a9fa2bc16f47ce97c353c66da2efa8336 introduced in https://github.com/ansible/ansible/pull/15537 cc @mattclay @chulkilee

@chulkilee Can you also take care of this case?
needs_contributor
This should make it into 2.4.x

[2017-10-01 11:19] #30827 closed, assigned to nobody

[2017-10-01 11:25] robinro commented on #30774
needs_contributor
cc @Akasurde

[2017-10-01 12:20] AlanCoding commented on #31141
sorry about that, I was editing the example as I was doing this, it should be `firstvariable`, not `ansible_ssh_host`. I had swapped them to rule out any role of magic variables. (edited original report)

[2017-10-01 12:22] craigfrancis opened #31147 "Verbose output using `with_items` and `fail` or `debug` components."
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
- fail
- debug

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Following on from [Issue 5564](https://github.com/ansible/ansible/issues/5564), where `loop_control` can be used to set a `label` - unfortunately this doesn't work when the task fails.

When using `with_items` and `fail` or `debug` components,

[2017-10-01 14:29] zorun commented on #25160
For reference, the fix has been pushed to the stable-2.4 branch so the next 2.4.x release should be fine (see 63b4e41d0cb37634b9edce9de469817832413d49)

[2017-10-01 15:14] sebastiendarocha opened #31148 "Redis facts cache error with --flush-cache"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

plugin/cache/redis

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Debian Jessie :
[code]
pip installed python-redis:
redis==2.10.5

##### SUMMARY

##### STEPS TO REPRODUCE

Run ansible playbook with flush cache:
[code]

[code]
I used an empty playbook for testing but also fails with a true one.

[2017-10-01 15:15] sebastiendarocha commented on #31148
Oh, and the playbooks run if I remove the "--flush-cache" option.

[2017-10-01 15:21] ceso commented on #30016
This option would be really useful, actually, when I'm using the yum module, I have a lot of issues because it gets too slow, and as it doesn't have an option for disableplugins, in the end, I use the shell module so I can pass flags for disabling, for example, the fastestmirror plugin. so more than disable a specific plugin, an option for disable plugins will be better.

[2017-10-01 15:33] perolausson commented on #17908
I think I have a good guess as to what went on here.

Terms:

become_user = the non-root user the play wants to become
remote_user = the user ansible connects to target with

The current logic (maybe it has changed?) in Ansible is:

if the home directory of remote_user is not executable by become_user
then
become become_user in the **home directory of the become_user**
else
become become_user in t

[2017-10-01 18:54] MacFlurry opened #31150 "Chown failed selinux vagrant"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
RAS

##### OS / ENVIRONMENT
vagrant provisioning VM with Ansible
Vagrant 2.0.0 ( centos/7 box )
##### SUMMARY
Vagrant file configured with nfs like this:
[code]
I configured my ansible to be provisioned like this :
[code]

my playbook.yml calls roles.
in php7 role, I set my /var/www/h

[2017-10-01 20:20] StephanZaat commented on #31125
#30760 Shows similar behaviour

[2017-10-01 20:27] abadger commented on #31125
Workaround:  Looks like ANSIBLE_PIPELINING is working.

@bcoca I looked in base.yml and noticed that there's both ANSIBLE_PIPELINING and ANSIBLE_SSH_PIPELINING and could not see nay link between the two entries.  Could it be that ANSIBLE_SSH_PIPELINING is being overridden by ANSBILE_PIPELINING?

[2017-10-01 20:34] ralphie02 commented on #31125
@PaulMougel Excellent work on this. Hoping to see this fixed (if it is a bug) on the next release

[2017-10-01 21:35] hjudt commented on #30878
ad 1. It is a nice-to-have as additional feature, yet it will not solve this problem.

ad 2. This seems a solution that will work and is definitely needed to distinguish between passwords for different environments. Specifying only the first part of the vault id from the list in vault_identity_list (the `id' in id@password_file) would make usage of this feature much easier too; This would apply to

[2017-10-01 21:37] hjudt commented on #30878
One other issue I've seen with this is that ansible-vault edit doesn't write the id to the header of the re-encrypted file; I will have to verify this again and will report back whether it is still the case in up-to-date git.

[2017-10-01 23:24] yeukhon opened #31156 "Support hg push"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
hg module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As a maintainer of the hg module, I believe ``push`` should be supported in our ``hg`` module, as per discussion on #30073.

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS

``hg push`` command should be supported, to any 'remote'

[2017-10-01 23:27] yeukhon commented on #30073
@ansibot  sorry for the delay, should have done this on Friday.

Correct. Ansible's ``hg`` module was rewrote to mimic the ``git`` module. I still don't think our ``git`` module can push to remote. I am opened to modify the ``hg`` module so it can support push. I see that benefit, since some users use Ansible in CI/CD workflow. I opened #31156 for this.

This is not a warning written in the ``hg``

[2017-10-01 23:32] yeukhon commented on #30073
Never mind, for the last command, hg module is up to standard. @ansibot  please let me know if you disagree.

[code]

vs

[code]

[2017-10-01 23:40] ismc commented on #31127
I think that I put this in twice with #28928

Steven.

On Sat, Sep 30, 2017 at 10:43 AM ansibot <notifications@github.com> wrote:

--
*Steven Carter*
Chief Cloud Architect, US Public Sector
scarter@redhat.com, (919) 909-1691

[2017-10-01 23:41] #31127 closed, assigned to nobody

[2017-10-02 00:13] nrwahl2 commented on #28652
I don't believe **I** can run a Python script on any HP-UX server I have available. We don't have Python installed by default there, and the installation process for HP-UX in our environment is undocumented since we've made a point not to install new software there since long before I joined the team.

[2017-10-02 00:18] yeukhon commented on #29617
I didn't really understand why someone would do an empty commit, but I think [this stackoverflow question](https://stackoverflow.com/questions/18541660/perform-an-empty-commit-with-mercurial) kind of give me some ideas...

I am going to take a look...

[2017-10-02 00:26] bincyber commented on #29183
@ojhaujjwal Thanks for submitting this issue. Help me understand what the problem is a little better. When `force` is set to yes/true, the module should delete the existing key and add a new key. However, you found that this was not the case? The `Deploy key already exists` message is returned when the module tries to add a deploy key, but the GitHub API returns a 422 status code indicating that t

[2017-10-02 00:53] yeukhon commented on #29617
I tested this tonight, and I am able to pull and update repo to a commit containing empty commit.

[code]

Here is the hg display

[code]

I think https://github.com/ansible/ansible/commit/97bf5b84e3cf353ce36a2f3bfaf4fd9d25176b59#diff-fac85bed6da37ae9b02bc6992cd64110 might have fixed this problem.

[2017-10-02 00:54] yeukhon commented on #29617
@ansibot  Do I need you to close this issue? I believe a long time ago, was it in modules standalone repo, I have the right to close issues? Anyway, I think we should close this.

cc: @antonv6 please let me know if you still think this is a valid issue.

[2017-10-02 02:26] os4mike opened #31161 "IOS Modules - Subsequent tasks failing with ignore_errors enabled - device left in config mode"
- Bug Report

Component name

All Cisco IOS Modules

ANSIBLE VERSION

        - 2.5.0

##### CONFIGURATION

     - name: Set MAC-MOVE logging to Syslog
        ios_config:
          provider: "{{ provider }}"
          lines:

            - mac address-table notification mac-move

        ignore_errors: yes

##### OS / ENVIRONMENT
     Linux Ubuntu

##### SUMMARY
    IOS device being left in confi

[2017-10-02 02:30] duck-rh commented on #30776
Thanks :-)

[2017-10-02 04:07] Akasurde commented on #23838
@dagwieers Could you please close this issue ?

[2017-10-02 04:23] os4mike opened #31162 "ios_logging module not compatible with older ios - cannot remove logging host"
- Bug Report

##### COMPONENT NAME
     ios_logging

    Cisco IOS - "flash:c2600-ipbasek9-mz.124-18c.bin"

##### ANSIBLE VERSION
    - 2.5.0
##### CONFIGURATION
      - name: Test server removal
        ios_logging:
          provider: "{{ provider }}"
          dest: host
          name: 192.168.1.178
          state: absent
        ignore_errors: yes

##### OS / ENVIRONMENT
     Linux Ubuntu

#

[2017-10-02 04:34] chulkilee commented on #30780
That `git reset --hard origin/...` comes from https://github.com/ansible/ansible/blob/v2.4.0.0-1/lib/ansible/modules/source_control/git.py#L860. That call must happen only when `is_remote_branch` is true!

After testing it locally, I found ansible git module uses `ls-remote` incorrectly. Created #31163 to fix it.

[2017-10-02 06:16] chigiriki opened #31165 "Please update docs of proxy setting for installation on Ubuntu."
##### ISSUE TYPE

 - Documentation Report [intallation on ubuntu](https://github.com/ansible/ansible/blob/c82cf791dd82e7e59268be91b885f82a5bd42a0a/docs/docsite/rst/intro_installation.rst)

##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

Ubuntu 16.04.3

##### SUMMARY

Please add installation steps for backward of proxy environment to "[Latest R

[2017-10-02 06:16] kafecho opened #31166 "win_uri module does not process the status_code"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I am running Ansible from a Docker container based of Ubuntu 16.04. The target node is a Windows Server 2016 instance.

##### SUMMARY

The win_uri module does not use the status_code parameter. As a result, HTTP requests which return status codes other than 20

[2017-10-02 06:32] trondhindenes commented on #31166
Invoke-Webrequest will to my knowledge always throw an exception on any "non-success" status code.
According to this: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_uri.ps1#L123 , there's no check in place to control whether non-success results (such as the OP's example using HTTP 405) should be processed as success. The fix should be fairly easy, move the fail-json

[2017-10-02 06:40] xjantoth opened #31167 "When becoming root I need to use: sudo bash"
Hi there,

First of all let me tell you that we are about to use **ansible** in a rather
large and complex  infrastructure.

However, I have a very special problem with **ansible** when I need to execute
any **command as root**. I have a very special corporate restriction so
I pretty much have like zero flexibility to change it.

Whenever I want to do something with  **root privileges** - I need t

[2017-10-02 07:14] xjantoth commented on #31167
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

    become: yes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

    cat /etc/os-release
    NAME="Red Hat Enterprise Linux Server"
    VERSION="7.1 (Maipo)"
    ID="rhel"
    ID_LIKE="fedora"
    VERSION_ID="7.1"
    PRETTY_NAME="Red Hat Enterprise Linux Server 7.1 (Maipo)"
    ANSI_COLOR="0;31"
    CPE_N

[2017-10-02 07:14] diogobaeder commented on #26091
Hi,

Can't the keyring support be built-in, but not having `keyring` or its deps listed as ansible deps as well, and then fail to the user if they don't have `keyring` installed? Then it could be implemented in a way to not bubble up the import error, but rather tell the user to install the keyring and its optional implementations (`keyrings.alt`) if desired.

How does this sound?

[2017-10-02 07:33] JulienPalard commented on #30977
Got the same error today using ansible 2.4.0.0 and python 3.5.3, problem looks to be from here:

    if ext and ext in C.YAML_FILENAME_EXTENSIONS:

in `lib/ansible/plugins/inventory/yaml.py`, we're comparing ext (a bytes) to strings from C.YAML_FILENAME_EXTENSIONS.

Trying with:

    if ext and to_text(ext) in C.YAML_FILENAME_EXTENSIONS:

Fixes the issue.

[2017-10-02 07:36] JulienPalard commented on #30977
Looks already fixed in 72bdf7aa7e1b867380201092dff65338d59cd8fa.

[2017-10-02 07:40] deadmalc opened #31169 "ansible-vault on RHEL 6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ansible-vault is broken on rhel 6 after ansible 2.4 upgrade
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible to require new libraries on install and vault to work
##### ACTUAL RESULTS

[code]

[2017-10-02 07:53] rcarrillocruz opened #31170 "[CI] Automate network CI installation"
##### ISSUE TYPE
- N/A
##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Create playbooks and roles to automate installation of network CI.
Should be as straightforward as possible (one playbook run and rolls out everything) and extensible so other vendors/users can leverage it with their own environment configuration.

[2017-10-02 07:58] rcarrillocruz opened #31171 "[CI] Put all Ansible networking infrastructure under version control"
##### SUMMARY

Current Ansible networking infrastructure was hand rolled.
All configuration and automation to deploy it should be kept in a git repository, so any future changes are driven by code review.

[2017-10-02 07:59] rcarrillocruz opened #31172 "[CI] Migrate current Ansible networking infra to new cloud account"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Migrate current Ansible networking infra gradually to new cloud account, and leverage the current one to double quota for CI purposes.

[2017-10-02 08:02] rcarrillocruz opened #31173 "[CI] Install Zuul v3 in Ansible networking CI"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Currently we use DCI to test Ansible networking.
While it's useful, it is a post-merge testing model, meaning code is tested once it's merged.
Install and configure Zuul v3 will allow us to gate pull requests before they merge.

[2017-10-02 08:08] rcarrillocruz opened #31174 "[CI] Add IOS to the platforms tested on Ansible networking CI"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Currently IOS is not tested on the Ansible networking CI.
Add it so we run periodic integration tests against it like the rest of core platforms.

[2017-10-02 08:09] rcarrillocruz opened #31175 "Add IOSXR to the platforms tested on Ansible networking CI"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Currently IOSXR is not tested on the Ansible networking CI.
Add it so we run periodic integration tests against it like the rest of core platforms.

[2017-10-02 08:12] rcarrillocruz opened #31176 "[CI] Automate Ansible networking platforms images for CI usage"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Test Ansible networking platforms in CI is currently hard and mostly a manual process.
It involves booting up vendor images, setting up users, passwords, DHCP on management interfaces, etc.

Put automation in place so we can use Ansible or related tooling to automatically pull images from vendors sites and mo

[2017-10-02 08:13] #23013 closed, assigned to alikins

[2017-10-02 08:50] PaulMougel commented on #31125
@abadger You are correct!

It looks like:
- `ANSIBLE_PIPELINING` works as intended
- `ANSIBLE_SSH_PIPELINING` is ignored
- the `pipelining` option in the `[ssh_connection]` section of the `ansible.cfg` configuration file is ignored as well

[2017-10-02 08:51] ssbarnea commented on #18375
Any chance to find a way to fix this? More and more often we encounter problems where a playbook starts execution with an older version of ansible when it should fail with a proper error, asking for minimal version.

[2017-10-02 09:36] sebastianneubauer commented on #30993
crazy, in my local bash, similar to you I cannot get this sdtin/echo thing to work also with 2.3...But in Jenkins it works
[code]

And this is the snipped from my Jenkinsfile:
[code]

So I must admit: maybe it was pure luck that it worked so far for me.
I am fine with closing this bug, as it seems not to be a bug..

But is there a good way to inject the vault password via environment variables? ec

[2017-10-02 11:09] halberom commented on #30981
Closing, discovered that adding an `exit` statement in the `interface Vxlan1` section fixes it.  Looks like there's some ambiguity with following commands just for this section.

Will need to filter/exclude `exit` when doing config diffs, but that's acceptable.

Nasty, and a bit hard to diagnose.  Thanks for taking the time to play with this @privateip.

[2017-10-02 11:09] #30981 closed, assigned to privateip

[2017-10-02 11:25] benashton2 opened #31178 "Big sections of playbook being missed when upgrading to 2.3.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We use one big playbook that calls different roles based on tags, e.g.
##### STEPS TO REPRODUCE

Command to run: ansible-playbook --tags=create_logging playbook.yml

[code]
### role2, action: info
[code]

##### EXPECTED RESULTS

Apologies for missing

[2017-10-02 11:45] mainjoehere commented on #29043
[code]
[code]
---
With govc I am able to create the vm without any problems and even the vlan is correct:
govc vm.create -dc="N_SW100_01" -ds="LUN_138_CL-N-SW100-02_G"  -pool="CL-N-SW100-02(Linux)/Resources/Test_Systeme" -net="VLAN0805_Bestand_Nprod_AppAdm-CL-02-Linux" -disk=10GB -folder="/N_SW100_01/vm/Linux/Test" test9910

`

[2017-10-02 11:59] Hr0bar commented on #28652
On systems where ansible_distribution_version gets wrongly filled like this:

"ansible_distribution_version": "U"

output of unprivileged user running swlist is:

[code]

Running it aa privileged user outputs just a list of packages and their versions, nothing else, the important  one is this:

[code]

Those outputs are from 11.31, where this index out of range error is not happening as its caused

[2017-10-02 12:04] rpasche commented on #29043
Hm...but it says...."one component on the host is missing". Do you know, which? What does the logs on vCenter say?

[2017-10-02 12:05] Hr0bar commented on #28652
important additional note:   ansible_kernel gets correctly filled even on the systems where ansible_distribution_version does not and its the same information.

THis is comparison of our HP-UX systems from unprivileged facts gathering:

[code]
so whatever is gathering the ansible_kernel is doing it right and in my opinion should be used for ansible_distribution_version as well

[2017-10-02 12:16] viesti opened #31180 "ecs_taskdefinition reads containers parameter even when not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_taskdefinition module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`containers` parameter is not marked as required (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py#L227) but is read anyway in (https://github.com/ansible/ansible/blob/devel/l

[2017-10-02 12:25] santosh0705 commented on #30139
I'm having similar issue but with updating single package.

Environment:
Ansible version: **2.4.0.0**
OS: **CentOS 7**

In my CentOS system package `java-1.8.0-openjdk-1.8.0.141` is already installed and I'm trying to update it using `state=latest` does not work. The latest version of package available in repository is `java-1.8.0-openjdk-1.8.0.144`. Below is the task snippet:

[code]

If I try fr

[2017-10-02 12:35] santosh0705 commented on #30139
Attaching the verbose output:

[code]

[2017-10-02 12:39] santosh0705 commented on #26631
I have similar issue with single package update.
https://github.com/ansible/ansible/issues/30139#issuecomment-333518884

[2017-10-02 12:46] eikef opened #31181 "ansible-inventory exception when vars contain things that look like datetime"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-inventory (and possibly others)

##### ANSIBLE VERSION
2.4.0.0

##### CONFIGURATION
ANSIBLE_SSH_PIPELINING = True
DEFAULT_GATHERING = smart
DEFAULT_HASH_BEHAVIOUR = merge

##### OS / ENVIRONMENT
Both Fedora 26 and the default AWX docker container exhibit this behavior

##### SUMMARY
When a YAML vars file contains a fact that looks like a

[2017-10-02 13:02] nabilbendafi commented on #23390
I'm actually facing a similar situation, with a simple invocation to `service` module for starting _elasticsearch_
[code]
In my `/var/log/messages` log file, I can see the call
[code]
In `ansible` log
[code]
But everything seems normal in my `elasticsearch` log file
[code]

And like the opener of this issue, it seems random. Launching the playbook again starts it.

[2017-10-02 13:06] kralikba commented on #10244
@aavkvard @ph448 I'm also hitting this problem. What was your issue exactly?

[2017-10-02 13:20] bcoca commented on #31125
@PaulMougel good work tracking this down

@abadger  pushing PR to remove the 'unused configs' ... previously these were 'undocumented' and unused ... sadly I documented them, removing for now as we plan to allow this by transport in the future.

[2017-10-02 13:22] #31118 closed, assigned to nobody

[2017-10-02 13:26] bcoca commented on #31008
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-02 13:26] #31008 closed, assigned to nobody

[2017-10-02 13:28] bcoca commented on #31115
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is actually a 'feature', only one copy of each named file can be loaded, it is expected that if you are using a core.py you want t

[2017-10-02 13:28] #31115 closed, assigned to nobody

[2017-10-02 13:31] AlanCoding commented on #31181
I was able to replicate (using 2.5 here). Verbose output:

[code]

[code]

Both this and #31141 run through the line `results = json.dumps(stuff, sort_keys=True, indent=4)`, both of which are related to the fact that you can't really JSON dump dicts with python objects in them.

[2017-10-02 13:35] ph448 commented on #10244
@kralikba I was trying to mount config files in a Docker container but had a stray task that started the container before the play got to create the files. If you start the container without the files being there, Docker will fake them as directories and Ansible will produce the described behaviour.

[2017-10-02 13:38] halberom opened #31186 "eos_config - extend intended_config to source from file or just use src param"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Extend `intended_config` to source from a file.  This would allow assembling a file (e.g. on a ZTPS server), and delegating to it to perform a diff against a switch.

##### STEPS TO REPRODUCE
Create a role which generates switch config an

[2017-10-02 13:40] matysek opened #31187 "Not working with RHEL-5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I did not changed anything.

##### OS / ENVIRONMENT
Running on: Fedora 26
Manged host: Red Hat Enterprise Linux Server release 5.11 (Tikanga)

##### SUMMARY
Today I installed Fedora updates with ansible 2.4 and since then it does not work! Yesterday it was still working with ansible 2.3. I

[2017-10-02 13:42] kralikba commented on #10244
@ph448 Thanks. Docker turned out to be my problem as well!

[2017-10-02 13:55] matysek commented on #31187
@ansibot I added component as required.

[2017-10-02 13:56] bcoca commented on #31116
I cannot reproduce this, this is specially weird since async is not an action, but a keyword that affects actions.

Can you try a clean install?

[2017-10-02 13:57] patrickdeelman opened #31189 "os_server Additional properties are not allowed (u'os:scheduler_hints' was unexpected)"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
cloud/openstack/os_server.py

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
##### SUMMARY
When specifing the key scheduler_hints in os_server, shade will fail with the message
Additional properties are not allowed (u'os:scheduler_hints' was unexpected)

##### STEPS TO REPRODUCE
- name: launch a compute instance
  hosts

[2017-10-02 14:08] tonyskidmore commented on #24648
I also experienced the same issue in our environment with vDS.  Making the code changes in [Missing 'port' AttributeError when modifying existing VM network #30524](https://github.com/ansible/ansible/issues/30524) suggested by @nrwahl2 and storing in a library/ directory off of my deployment playbook is a workaround for me currently.  Would be nice if this didn't happen out of the box.

[2017-10-02 14:12] s-hertel commented on #30820
Closing since this isn't a module bug. You can solve the issue by providing the launch config name as a string rather than in a list.

notabug

[2017-10-02 14:22] #30820 closed, assigned to nobody

[2017-10-02 14:23] sivel commented on #31167
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-02 14:23] #31167 closed, assigned to nobody

[2017-10-02 14:26] sivel commented on #31181
YAML automatically supports date like values, and if it matches the regex in YAML, it will be automatically converted to a datetime.  You will need to ensure you quote that value in your YAML to avoid the implicit conversion to datetime

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2017-10-02 14:26] #31181 closed, assigned to nobody

[2017-10-02 14:30] morungos opened #31193 "pip install broken on macOS / Xcode 9.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION
[code]
(Probably. Install busted so it's hard to tell.)

##### CONFIGURATION

Not got that far

##### OS / ENVIRONMENT

macOS Sierra 10.12.6 (16G29)
Xcode 9.0 installed

##### SUMMARY

Can't install: `sudo pip install ansible --upgrade` crashes on a missing `opensslv.h` file.

NOTE: Possibly a duplicate of (closed)

[2017-10-02 14:31] VojtechMyslivec opened #31194 "Fetching large file consumes a lot of memory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module `fetch`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from Debian Testing (Buster), managing Ubuntu 16 and 14 LTS.

##### SUMMARY

Fetching larger files consumes too much memory on controller node. I have tried to fetch 411 MB *tar* file with both *Ansible* 2.3 and 2.4 and also with `valida

[2017-10-02 14:33] AlanCoding commented on #31181
^ comment made me think to try adding the `--yaml` flag:

[code]

Turns out that works, because the datetime objects are understood by YAML, but not JSON.

[code]

But accepting this at face value - it might mean that `ansible-inventory` could actually be more robust if used to output YAML.

[2017-10-02 14:50] sivel commented on #31193
You appear to be missing the openssl headers required to build the cryptography module.

The openssl development headers can be installed via homebrew, by using `brew install openssl`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-02 14:50] #31193 closed, assigned to nobody

[2017-10-02 14:51] sivel commented on #31194
Are you running this task with `become`?  Per a note in that modules documentation:

needs_info

[2017-10-02 14:55] 2bithacker commented on #31116
Yeah, this must be something broken in my environment. I created a virtualenv and installed a fresh ansible 2.4.0.0 in there and it works fine.

[2017-10-02 14:55] #31116 closed, assigned to nobody

[2017-10-02 15:00] morungos commented on #31193
It's already installed :-(

[code]

Also, even if I upgrade openssl, same error.

[2017-10-02 15:00] #27278 closed, assigned to nobody

[2017-10-02 15:01] fghaas opened #31195 "script inventory plugin: group_vars and host_vars files ignored when relative to inventory (not playbook), and inventory script is a symlink"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`script` inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` comes back empty.

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY
If I run `ansible-playbook` with a static inventory (`-i /path/to/hosts`), and I use `group_vars` and `host_vars` directories relative to that inventory file (as o

[2017-10-02 15:02] jaypoulz commented on #30720
Probably related to this:
`ansible --ssh-extra-args='-o StrictHostKeyChecking=no'` is breaking for me in 2.4. It works fine if set the `host_key_checking` flag to False manually

[2017-10-02 15:07] retr0h commented on #31115
@bcoca don't you think this should be mentioned in the docs somewhere or provide me a link that state this?  This functionality is new to Ansible 2.4, yet I did not find it mentioned anywhere.

[2017-10-02 15:07] bcoca commented on #31187
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

@matyseek, Ansible 2.4 dropped support for targets with python <2.6 , so you need to install python >=2.6 on the  RHEL5 machines and us

[2017-10-02 15:07] #31187 closed, assigned to nobody

[2017-10-02 15:11] #30296 closed, assigned to nobody

[2017-10-02 15:15] VojtechMyslivec commented on #31194
Thanks for reply. Yes I do and I read the note you post. But same as [here](https://github.com/ansible/ansible/issues/11702#issuecomment-307656940) it is needed to do so, because the files are accessible by `root` only.

Also 400 MB * 2 is 0.8 GB, which will not cause 16 GB RAM control node to freeze. And what to do when I need to copy/migrate 20GB file?

[2017-10-02 15:17] blakfeld commented on #31166
This all sounds totally reasonable. I can add this, but I no longer have a fleet of Windows machines to test against, so if someone else wants to take a whack at it, that may be best

[2017-10-02 15:35] LittleChimera opened #31196 "oc module extends instead of replaces a list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

oc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT

Linux / Manjaro

##### SUMMARY

oc module with inline definition expands list of triggers.
i.e. when set to empty list, it maintains old configuration, while having some triggers adds duplicate entry on each run.

##### STEPS TO REPRODUCE

[code]

##### EXP

[2017-10-02 15:39] gundalow opened #31197 "Distributed-CI (DCI) Code Coverage"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Networking

##### ANSIBLE VERSION
2.5.0

##### SUMMARY

This is something I'll look at, the aim is to get the DCI coverage results added into https://codecov.io/gh/ansible/ansible/

We should be able to split out the logic from https://github.com/ansible/ansible/blob/devel/test/utils/shippable/shippable.sh#L59-L92 into a separate file/function

[2017-10-02 15:40] bcoca commented on #31194
You can use `synchronize` in `pull` mode

[2017-10-02 15:49] gundalow opened #31198 "[Docs] intro_networking.rst refactor"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
networking

##### ANSIBLE VERSION
2.5.0

##### SUMMARY

As discussed in AnsibleFest San Francisco Contributors Summit we will update `docs/docsite/rst/intro_networking.rst`:

- [X] Change to just be a landing page
- [X] Link to modules list
- [X] Link to https://www.ansible.com/networking
- [X] Community: `#ansible-network` and Meeting

[2017-10-02 15:53] jpic commented on #27628
Did you consider using [lxd_container](http://docs.ansible.com/ansible/latest/lxd_container_module.html) module ?
What's lxc2 ?

[2017-10-02 15:53] mgresko commented on #16259
I left my .ssh/config unmodified and just added the following to .ansible.cfg.  I get prompted for token and this works.

[code]

[2017-10-02 16:00] JulienPalard opened #31199 "Parallel execution of plays"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible-playbook

##### SUMMARY

Currently, inside a single play, tasks can run in parallel on different hosts, and the degree of parallelisation can be configured via [plays strategies](http://docs.ansible.com/ansible/latest/playbooks_strategies.html), which is nice.

Now, from a playbook point of view, each plays are executed sequencially,

[2017-10-02 16:04] kafecho commented on #31166
@blakfeld If you have some PowerShell code that I could test with, I have a fleet of Windows machines so I can try the changes. If not, I could have a go a modifying the win_uri.ps1 script (but I am not familiar at all with PowerShell).

[2017-10-02 16:05] blakfeld commented on #31166
@kafecho I have nothing currently written, so if you are interested, go for it! I wouldn't be able to tackle it until after work at the earliest

[2017-10-02 16:10] s-hertel commented on #31053
Hi @amsinha2. Can you please provide the whole error (running the playbook with -vvv)? needs_info

[2017-10-02 16:11] LordAro commented on #27628
I think this is largely explained in the "Summary" section above.
lxd_container is ultimately what I ended up using for what I needed it for.

lxd is what lxc2 became. However, it still has `lxd` and `lxc` commands
(which do different things), and the `lxc` command list is incompatible the
commands that came with lxc1 (`lxc-copy` became `lxc copy`, etc)

One of 2 things should happen, IMO:

* depr

[2017-10-02 16:13] s-hertel commented on #28821
Fixed in a4edac599acd87785f5aef843505b874b6ca76e3.

[2017-10-02 16:13] #28821 closed, assigned to nobody

[2017-10-02 16:19] s-hertel commented on #31055
Sorry that this is continuing to be a problem for you @shdobxr. I'm still trying to reproduce this. Have you only noticed this happening on modules that have been ported to boto3? Do you have any credentials set with environment variables?

[2017-10-02 16:25] bcoca commented on #31145
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-02 16:25] #31145 closed, assigned to nobody

[2017-10-02 16:26] jpic commented on #27628
Right, IIRC I had worked around this by executing the lxc CLI to execute commands in containers, but I knew this wouldn't work without SSH access which is probably your use case.
I know companies still using lxc_container and it's nice to have a system container which doesn't require any running daemon so I'm against deprecating it.
Do you think it would be possible to add the command/script execu

[2017-10-02 16:28] LordAro commented on #27628
I don't see why not - the REST API is fairly well documented https://github.com/lxc/lxd/blob/master/doc/rest-api.md

[2017-10-02 16:43] alikins commented on #31199
pinging @bcoca, @jimi-c

[2017-10-02 16:47] user318 commented on #19731
No. Template module fails too. I'm facing the same problem trying to put files on the FAT filesystem.

So is there any solution now for this problem besides copy/template to another filesystem and then running "cp" command?

[2017-10-02 16:53] alikins commented on #31169
Afact, either 'cryptography' or 'pycrypto >= 2.6.1' are required.

What versions of 'cryptography' or 'pycrypto' are installed?

ie, results of:
[code]

[2017-10-02 16:53] alikins commented on #31169
What was the installation method?

[2017-10-02 16:54] beerdedfellow commented on #29799
+1

[2017-10-02 16:57] #30371 closed, assigned to nobody

[2017-10-02 16:57] VojtechMyslivec commented on #31194
Thanks @bcoca, I have tried. But I wasn't able to run in pull mode while delegating to a another machine.

I have workaround it with:
[code]

Which is disgusting but it works: it fetches the file in 5 seconds and takes nearly no memory in compare to more than 1 minute with freezing system.

[2017-10-02 17:14] Akasurde commented on #28502
@dagwieers Could you please close this issue as it is more of a user question?

[2017-10-02 17:21] alikins commented on #31147
pinging @jimi-c , @bcoca

[2017-10-02 17:21] Akasurde commented on #27475
resolved by PR https://github.com/ansible/ansible/pull/30883

[2017-10-02 17:21] #27475 closed, assigned to nobody

[2017-10-02 17:21] #28502 closed, assigned to nobody

[2017-10-02 17:25] Akasurde commented on #29043
@mainjoehere I think this is a different issue than this. Could you please open a new issue with your playbook and issue details ?

[2017-10-02 17:32] #23838 closed, assigned to nobody

[2017-10-02 17:38] bcoca commented on #31115
@retr0h afaik this is not a change but behaviour I have relied on for a long time. This is the case for all plugins, the local `_plugins` dir is supposed to override built ins, the same goes with files present in the configured paths, first found wins.

[2017-10-02 17:43] halberom opened #31204 "eos_config - documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
The documentation is a little unclear in places.  Some of this perhaps applies more to `networking` in ansible in general, but most of it is specific to eos_config.

- The difference between `replace: line` and `replace: block` is

[2017-10-02 17:45] bcoca commented on #31195
In my tests both static and dynamic inventories have host_vars and group_vars picked up relative to the inventory file itself.

with test1 in `~/inventories/group_vars/all`
static:
[code]

dynamic:
[code]

[2017-10-02 17:46] alikins commented on #31148
edit: probably busted beyond this as well

To get redis caching working, the 'fact_caching_connection' config var also needs to be provided.

Something like:

[code]

That should get it working, but the traceback/crash when it is missing is definitely a bug though.

And it looks like some of the docs are wrong as well (the redis section of http://docs.ansible.com/ansible/latest/playbooks_variables

[2017-10-02 17:49] alikins commented on #31148
hmm, and agreed, it looks like it is busted beyond the missing config. The plugin code docs say that option is required, but the code itself has a default value so not sure what is acceptable...

[2017-10-02 17:53] alikins commented on #31148
yup, its busted. Bogus ref to self.cache instead of self._cache

[code]

[2017-10-02 17:54] tchernomax commented on #31071
@Asher256 your issue is fixed in 2.5.

[code]

2.4:
[code]

2.5:
[code]

[2017-10-02 17:55] alikins commented on #31148
Proposed fix at https://github.com/ansible/ansible/pull/31206

[2017-10-02 18:01] retr0h commented on #31115
@bcoca I still believe this should be documented in the Ansible 2.4 porting guide.

If something works in previous version of Ansible, and changes in 2.4, don't  you think that should be called out?  If it was documented, this would have saved the both of us time and effort.  For example I never would have opened this issue.

To be honest this isn't the first time I have ran across differences bet

[2017-10-02 18:19] calfonso commented on #9981
This specific feature request is not likely to be implemented by the Ansible core team as it's requesting a level of subset selection granularity that doesn't meet most use cases. If you're interested in writing a proposal for the implementation and then implementing it, we're definitely up for reviewing the implementation. Thanks for your interest!

[2017-10-02 18:19] #9981 closed, assigned to nobody

[2017-10-02 18:25] calfonso commented on #10647
This feature implies a redesign of retry, which would require a proposal to be written and presented to the core team during the the weekly IRC meeting.

[2017-10-02 18:27] fghaas commented on #31195
Thanks for looking into this @bcoca.

Hmm, weird. I use my own `lxc_inventory.py` script, and it's behaving differently since I upgraded to 2.4.

All my `host_vars` files live in `../ansible-laptop-config/`, relative to my playbook directory. Every `host_vars/*` file contains a dictionary, `packages`.

I have one physical box, called `aspireone`, that I connect to via SSH, and that is defined in a

[2017-10-02 18:29] calfonso commented on #10829
While the core team isn't likely to implement this idea, we are willing to take a contribution of the implementation.

[2017-10-02 18:33] alikins commented on #10647
See also https://github.com/ansible/ansible/issues/15563

[2017-10-02 18:34] alikins commented on #10647
And also https://github.com/ansible/ansible/issues/15923

[2017-10-02 18:34] alikins commented on #10647
And https://github.com/ansible/ansible/issues/21896

[2017-10-02 18:40] calfonso commented on #10941
We believe all the components needed to resolve your issue are implemented. You might be interested in using the ansible google group list to inquire about steps to resolve your specific situation, as there are likely configuration you need to set up to make sure the certificate related settings are picked up.

[2017-10-02 18:40] #10941 closed, assigned to nobody

[2017-10-02 18:45] kevensen commented on #31196
I'm happy to take a look.  Can you please provide an example of the output you see?
needs_info

[2017-10-02 18:47] calfonso commented on #11045
PR #30722 allows you to configure a set of tags that are always skipped or always executed.

[2017-10-02 18:47] #11045 closed, assigned to nobody

[2017-10-02 18:48] calfonso commented on #11064
This feature is covered in several ways, closing the issue.

[2017-10-02 18:48] #11064 closed, assigned to nobody

[2017-10-02 18:54] calfonso commented on #11185
This will require significant redesign of the tag subsystem and requires a proposal to be presented to the ansible core team during the weekly IRC meeting.

[2017-10-02 18:56] calfonso commented on #11239
Resolved based upon previous comments, closing.

[2017-10-02 18:56] #11239 closed, assigned to nobody

[2017-10-02 19:11] bcoca commented on #31195
The behaviour would be a bug, but as I posted above, i cannot reproduce it, both my static and dynamic inventories are in the same directory and i can pick up both group_vars and host_vars w/o issues.

Can you run both with ANSIBLE_DEBUG=1 and post the output?

[2017-10-02 19:17] LittleChimera commented on #31196
[code]

Template for this deploymentconfig has triggers for image change and config change. After multiple runs of playbook, multiple ImageChange entries are added, while ConfigChange remains only one.

When using template that has explicitly set triggers to empty lists, the triggers remain the same.

As far as I can tell, the issue is [here](https://github.com/ansible/ansible/blob/devel/lib/ansib

[2017-10-02 19:22] nwsparks commented on #29328
any updates on this?

[2017-10-02 19:31] Laszlo-JFLMTCO opened #31211 "Cannot capture yum list output with package names"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`yum`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on macOS Sierra version 10.12.6.

##### SUMMARY

I was trying to check if packages are available for a specific version of Java.
I capture the output of running the `yum list` task, but it only captures the status of running the command (was running the

[2017-10-02 19:31] bcoca commented on #26537
includes either return a list of tasks or fail, they are never changed nor any other status. `notify` is a valid keyword .. but really a noop in this case. I did open a PR about warning when ignoring the keywords  #27897

@kami8607 it seems you want a 'new feature' and that is for includes to reflect the status of the summary of tasks included. I'm curious on how/which thresholds affect the includ

[2017-10-02 19:35] dannyroberts commented on #30614
Had the same problem, thanks for reporting this ticket, @JohanHolman! Didn't see a PR for this simple fix, so I thought I'd go ahead and make one (https://github.com/ansible/ansible/pull/31212). @samdoran Let me know if I missed something process-wise.

[2017-10-02 19:38] fghaas commented on #31195
Yes, I believe you're looking for the `getting variables` output from the `debug` module? Here it is:

Static inventory (picks `host_vars` up correctly):
[code]

LXC inventory script (misses the `host_vars` file):

[code]

So it looks like `host_group_vars.py` is doing the right thing with the static inventory, but is tripping up over the LXC inventory script.

[2017-10-02 19:38] bcoca commented on #15563
closing as dupe of #10647 (just handlers part), blocks should be used for rollbacks.

[2017-10-02 19:38] #15563 closed, assigned to nobody

[2017-10-02 19:39] bcoca commented on #15923
dupe of #10647

[2017-10-02 19:39] #15923 closed, assigned to nobody

[2017-10-02 19:39] bcoca commented on #21896
dupe of #10647

[2017-10-02 19:39] #21896 closed, assigned to nobody

[2017-10-02 19:39] bcoca commented on #10647
related https://github.com/ansible/proposals/blob/master/re-run-handlers.md

[2017-10-02 19:40] ghost commented on #31071
+1 tchernomax

Thank you for the information.

[2017-10-02 19:44] s-hertel opened #31216 "support adding secondary CIDRs to existing VPCs"
Allow the addition of secondary IPv4 CIDRS to existing VPCs.

https://aws.amazon.com/about-aws/whats-new/2017/08/amazon-virtual-private-cloud-vpc-now-allows-customers-to-expand-their-existing-vpcs/

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon

##### ANSIBLE VERSION
[code]

[2017-10-02 19:54] bcoca commented on #31150
Can you try with the following PR https://github.com/ansible/ansible/pull/31217?

it seems we are swallowing the underlying error, this PR will now display such to the user.

[2017-10-02 19:55] ebarrere opened #31218 "win_domain_membership can't join domain with OU specified"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Can't join a domain with OU specified

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-10-02 19:57] alikins commented on #31161
ping @privateip etc

[2017-10-02 20:10] calfonso commented on #23253
We are going to improve the messaging around this that it needs be done; however, we aren't able to do it with the current architecture.

[2017-10-02 20:10] #23253 closed, assigned to nobody

[2017-10-02 20:11] calfonso commented on #23502
Hi!

We believe recent commits should resolve this question or problem for you and available with the latest release (2.4)

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
htt

[2017-10-02 20:11] #23502 closed, assigned to nobody

[2017-10-02 20:14] calfonso commented on #25659
This isn't a feature we're going to implement. Thanks for your interest!

[2017-10-02 20:14] #25659 closed, assigned to nobody

[2017-10-02 20:15] alikins commented on #31211
For this case, is there a match for 'java-1.1*'?

What is the verbose output for running a play with these tasks:

[code]

[2017-10-02 20:18] calfonso commented on #27163
This is now supported in the latest release (2.4).

[2017-10-02 20:18] #27163 closed, assigned to nobody

[2017-10-02 20:19] alikins commented on #31218
pinging @nitzmahone

[2017-10-02 20:19] #29241 closed, assigned to nobody

[2017-10-02 20:19] #30516 closed, assigned to nobody

[2017-10-02 20:29] privateip commented on #31186
@halberom you can use a lookup to achieve what you are trying to do.

Here is an updated example:

[code]

[2017-10-02 20:29] jborean93 commented on #31218
Hi @ebarrere are you able to share the OU path you are using? If not can you check whether it has spaces in it, there seems to be an issue when trying to connect to a domain when there is a space in the OUPath according to https://social.technet.microsoft.com/Forums/office/en-US/87d2ed68-7250-4ffd-802e-36b86b32ae18/addcomputer-with-spaces-in-oupath?forum=winserverpowershell

[2017-10-02 20:30] yeukhon commented on #31156
I estimate this will take a few days when I get a chance between now and next week.

[2017-10-02 20:34] #30837 closed, assigned to nobody

[2017-10-02 20:40] samdoran commented on #30614
@dannyroberts Thanks for submitting a PR! Since this module is community maintained, we just need two shipits to get in merged.

[2017-10-02 20:41] jborean93 commented on #30837
Fix was merged into devel and cherry-picked to stable-2.4 for the 2.4.1 release https://github.com/ansible/ansible/commit/737a0d601565b5291434afd842c8c17547a64f19

[2017-10-02 20:41] jborean93 commented on #30860
Fix was merged into devel and cherry-picked to stable-2.4 for the 2.4.1 release https://github.com/ansible/ansible/commit/310610de47de119cdc2a985dde8b020c34318b96

[2017-10-02 20:42] #30860 closed, assigned to jhawkesworth

[2017-10-02 20:43] jwitko commented on #30578
The latest fix in #30604 has resolved this issue for me.  Thank you team and thank you @s-hertel !

[2017-10-02 20:48] Laszlo-JFLMTCO commented on #31211
@alikins Thank you for the prompt triage!

Here is the output when running `sudo yum list java-1.1*` in the terminal. The behavior is independent of whether there is or there no package available.
[code]
I will follow up on your second question in a bit.

[2017-10-02 20:57] #30578 closed, assigned to nobody

[2017-10-02 21:08] bcoca commented on #31113
not as easy as it sounds, what if the var is set by other tasks? what if the check_mode  is set for task A but not task B? it gets hairy really fast, while an explicit check is very simple.

[2017-10-02 21:17] MacFlurry commented on #31150
hello,

where is the "lib/ansible/module_utils/basic.py" in macOS ? ( I'm using macOS 10.13 High Sierra )
cannot find it.
thanks for your help

[2017-10-02 21:22] MacFlurry commented on #31150
I found it in ./libexec/lib/python2.7/site-packages/ansible/module_utils/basic.py
let me try, I'll be back to you

[2017-10-02 21:38] #30073 closed, assigned to nobody

[2017-10-02 21:40] MacFlurry commented on #31150
Hello,

I added the PR #31217

Now this is the error with chown failed :
[code]

thanks for your help.

[2017-10-02 21:45] dagwieers commented on #31166
@kafecho It seems like a simple problem to solve, until you look deeper into how Powershell handles this. See: https://stackoverflow.com/questions/19122378/powershell-web-request-without-throwing-exception-on-4xx-5xx

So if you catch the exception, you can check the StatusCode of the result from the exception thrown. Then you have to decide how to handle that based on that provided status_code. Bu

[2017-10-02 21:47] dagwieers commented on #31166
Let me also add that we need proper integration tests for **win_uri** and **win_geturl** that would have caught this, but the required infrastructure to test against is not accessible from our VMs AFAIK. cc: @mattclay

[2017-10-02 21:52] MazeChaZer opened #31223 "Improve pacman module performance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module:pacman

##### ANSIBLE VERSION
[code]

When using `state: present`, the `pacman` module still queries the local and remote version of each package instead of doing a simple `pacman -Q <package>`, which is wasteful and really pushes on the performance for lower spec devices.

https://github.com/ansible/ansible/blob/ef25367353b3b01813a8b2681

[2017-10-02 21:58] dagwieers commented on #23863
I wonder if this is a recoverable problem, i.e. would a retry with a specific delay overcome this issue ? If so, we could add this, next to "Connection refused" as part of making WinRM a but more resilient. https://github.com/diyan/pywinrm/pull/174/ cc: @nitzmahone

[2017-10-02 22:09] dagwieers commented on #31171
@rcarrillocruz We expect everyone to use the issue/PR template in Github, therefore we should follow the same rules as we expect from others :-)

[2017-10-02 23:41] larede commented on #31040
I have exactly the same problem :(

[2017-10-02 23:42] larede commented on #31041
I have exactly the same problem

[2017-10-02 23:46] andronat opened #31225 "ansible git fails when archive is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ansible/modules/source_control/git.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`empty`

##### OS / ENVIRONMENT
macOS High Sierra: 10.13 (17A365)

##### SUMMARY
I use the following:
[code]
And I get this error:
[code]

##### EXPECTED RESULTS
Not failing

##### Solution?
I found those two lines [here](https://github.com/ansible/ansib

[2017-10-03 00:29] rtran58 opened #31226 "OSError: [Errno 2] No such file or directory when trying to run ansible-vault view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04 in a docker container

##### SUMMARY
Using ansible-vault, i can create and edit an encrypted file. However, trying to view the same file fails. This works as expected in my local environment. But, when i try to run this command in a doc

[2017-10-03 01:08] sivel commented on #31226
Ansible 1.9 is no longer supported and not receiving any updates.  Please upgrade to a more recent supported version.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-03 01:08] #31226 closed, assigned to nobody

[2017-10-03 01:42] weshayutin commented on #22025
recreated this as well :(

[2017-10-03 03:54] Akasurde commented on #31225
@andronat Thanks for reporting this issue. Would you like to raise a PR with your changes ?

[2017-10-03 04:52] jlandersen commented on #30837
Hi @jborean93, sorry I've been away for a few days, and won't be near a dev machine for a few more days. Were you able to verify and test? I can try and test it out early next week

[2017-10-03 05:33] willthames commented on #30073
This completely misses the point of the command warnings, which isn't that modules can do everything that a command can do, more that a module exists that might be usable in place of a command.

[2017-10-03 05:49] jborean93 commented on #30837
I was able to verify the failure the the fix works for me. It should be good for you but doesn’t hurt to test sometime in the future if you can but it isn’t necessary.

[2017-10-03 05:56] r1k0 commented on #9981
humm interesting conclusion... who needs routing tables indeed ^^
For the future, this is a useful structure per interface:

[code]
could be added other columns such as genmask, flags, metric in addition to dest and gateway.

[2017-10-03 06:01] prasadkatti commented on #31104
fixed by 43cbcbc

[2017-10-03 06:12] mattclay commented on #29887
Tests of the mysql_* modules are passing in CI on Python 3. Here's a recent run of the tests:

https://app.shippable.com/github/ansible/ansible/runs/39307/22/console

So I'm not sure what else needs to be done here?

[2017-10-03 06:17] aditi2420 opened #31229 "example script.py failing with import error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
<ansible/scripts/update.py

##### ANSIBLE VERSION
2.4.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
update.py script failing with import error for Inventory module.
 from ansible.inventory import Inventory

##### STEPS TO REPRODUCE
python update.py

##### EXPECTED RESULTS
script should run successfully

##### ACTUAL RESULTS
Imp

[2017-10-03 06:33] kafecho commented on #31166
Editing the portion of `/usr/lib/python2.7/dist-packages/ansible/modules/windows/win_uri.ps1` works on my Windows Server 2016 box (cc @dagwieers)

[code]

[2017-10-03 06:35] jlandersen commented on #30837
Great, thanks!

[2017-10-03 07:37] naisanza opened #31230 "apt module fails if package coredumps"
##### ISSUE TYPE

 - Bug

##### COMPONENT NAME

Ansible Module: apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 to -> Proxmox Ubuntu 16.04 LXC

##### SUMMARY
Ansible apt module is not able to `purge` a package, if something like `appstream` is causing a core dump

##### STEPS TO REPRODUCE

Playbook:
[code]

##### ACTUAL RESULTS

[code]

This wor

[2017-10-03 07:49] deadmalc commented on #31169
Installation method was via rpm from the EPEL testing rpm repo. (I also tried the ansible stable repo)
There are two versions of pycrypto:
python-crypto2.6-2.6.1-2.el6.x86_64
python-crypto-2.0.1-22.el6.x86_64

pip shows version 2.0.1

cryptography is not installed or avaliable for RHEL 6
I've used the EPEL testing and the ansible nightly/stable repo with the same result.
ansible (2.4.0.0-2.el6) is

[2017-10-03 08:14] PhilEv commented on #30519
@bcoca and @jctanner After reading issue #31125 I tested again with setting the `ANSIBLE_PIPELINING` env var to true. The timing is then much closer to the one of Ansible 2.3 and then Ok for me.

So a confirmation for PIPELINING not being active by default (as reported in issue #31125) is the main source of perf degradation in my case too.

here are the last round of results:

[code]

When the  AN

[2017-10-03 08:55] Tasqa commented on #29451
This can be resolved by using the `force: yes` option as mentioned in ansible/ansible-modules-core#327 and ansible/ansible-modules-core#53

[2017-10-03 09:01] PaulMougel commented on #31125
Thank you @bcoca for your work and everyone for your quick answers.

If I understand correctly, Ansible now only supports:
- the `ANSIBLE_PIPELINING` environment variable;
- the `pipelining` option in the `defaults` section of the `ansible.cfg` configuration file.

Sounds good to me 👍

[2017-10-03 09:27] pyconsult opened #31232 "Cannot set cache headers in s3 and aws_s3 module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3 and aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
vanilla

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY

Setting `Cache-Control` headers in  `metadata` will result in setting the metadata key: `aws_s3 x-amz-meta-cache-control`  on AWS. This makes it impossible to set the `Cache-Control` header on the s3 object. The `Content

[2017-10-03 09:54] karniemi commented on #27938
@nitzmahone How about re-opening this one?

[2017-10-03 10:11] mkrizek commented on #31211
@Laszlo-JFLMTCO Not sure I understand what's the issue here. The `"results": []` in the output you put in the bug description says that here are no packages to list which corresponds with the yum output in our latest comment: "Error: No matching Packages to list". The behavior seems correct to me. Can you clarify please?

needs_info

[2017-10-03 10:28] kevensen commented on #31196
@lukadante thanks.  I'll take a look at this today.

[2017-10-03 10:37] kris074 opened #31234 "azure_rm_virtualmachine---IndexError: tuple index out of range"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Nothing special. (No ansible.cfg, no ANSIBLE_* env vars.)

##### OS / ENVIRONMENT

I'm running RHEL 7.3

##### SUMMARY
Try to run a simple playbook from a RHEL 7 server in AWS. Ansible 2.3 is installed. I'm trying to run a playbook to deploy a  RHEL 7 vm in azure and I'

[2017-10-03 10:37] bertvv opened #31235 "selinux module removes newlines from /etc/selinux/config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

selinux

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Management node: Fedora 25
- Target machine: CentOS 7.4

##### SUMMARY

After running a playbook with the SELinux module, the `/etc/selinux/config` file no longer has line endings. Parsing the config file on subsequent runs of the playbook will fail,

[2017-10-03 10:42] timss opened #31236 "Reference changes to include* and import* in Ansible 2.4 porting guide"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`include*` and `import*`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

Changes to `include*` and the new `import*` is mentioned in the [changelog](https://github.com/ansible/ansible/blob/stable-2.4/CHANGELOG.md#2.4) for 2.4, but not in the [porting guide](https://github.com/ansi

[2017-10-03 10:54] bertvv commented on #31235
It seems to be fixed in the `devel` branch...

[2017-10-03 10:56] BipinXavier opened #31237 "Failing during ARM conditional check. deployment gets completed at azure end. But module showing below error"
raise exp\nmsrestazure.azure_exceptions.CloudError: Azure Error: ResourceNotFound\nMessage: The Resource 'Microsoft.Network/networkInterfaces/XXXXXXXX' under resource group 'XXXXXXXXX  was not found
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_deployment.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY

Deployment gets comple

[2017-10-03 11:36] sph3rex commented on #15902
Regarding this feature request, as I see the include of handlers is already available in the latest version. However the use of dependencies mentioned earlier (which i find more appropriate as it is clearer who depends on what) does not seem to work correctly. If i create a role let's say common-handlers with only a handlers/main.yml file that define a chain of handlers ( defined by the listen key

[2017-10-03 11:47] dgoodwin commented on #30628
Still does not seem to be reflected in the currently published 2.4 docs: http://docs.ansible.com/ansible/2.4/oc_module.html

[2017-10-03 11:54] #30769 closed, assigned to trishnaguha

[2017-10-03 11:57] Akasurde commented on #31235
@bertvv Thanks for reporting this issue. This is already reported [here](https://github.com/ansible/ansible/issues/30618).

[2017-10-03 12:02] mkrizek commented on #30991
@one-t @jlozadad can you provide a link to the rpm that causes the task to fail? I can't seem to reproduce the issue.

needs_info

[2017-10-03 12:21] kris074 commented on #31234
Hi,

Just tried to run the same playbook and getting a different error message !

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_jTvuU8/ansible_module_azure_rm_virtualmachine.py", line 1309, in <module>
    main()
  File "/tmp/ansible_jTvuU8/ansible_module_azure_rm_virtualmachine.py", line 1306, in main
    AzureRMVirtualMachine()
  File "/tmp/ansible_jTvuU8/ansible

[2017-10-03 12:28] peterwillcn commented on #25807
Use include_tasks fixed.

[2017-10-03 12:57] andronat commented on #31225
I can try!

[2017-10-03 13:00] dan-osms commented on #31055
@s-hertel Morning, the only variables I leverage for credentials are those set within profile. What is interesting to me is that I moved away from brew, and install ansible via pip now for the ease of switching between versions. (Yes I know you can do the same with brew, but the formula must be in your cellar ie. you needed to have that version installed in past, installing older revs used to be s

[2017-10-03 13:11] dj-wasabi opened #31239 "Ansible local facts not gathered"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ASK_SUDO_PASS(/Users/wdijkerman/git/vagrant/ansible.cfg) = False
DEFAULT_FILTER_PLUGIN_PATH(/Users/wdijkerman/git/vagrant/ansible.cfg) = [u'/Users/wdijkerman/git/ansible/docker/filters', u'/Users/wdijkerman/git/ansible/elasticsearch/filters']
DEFAULT_FORKS(/Users/wdijkerman/git/v

[2017-10-03 13:17] #31239 closed, assigned to nobody

[2017-10-03 13:17] dj-wasabi commented on #31239
I think I made a mistake. Will reopen if I didn't make a mistake. Sorry!

[2017-10-03 13:22] #31125 closed, assigned to nobody

[2017-10-03 13:30] bcoca commented on #31104
closing as per above

[2017-10-03 13:30] #31104 closed, assigned to nobody

[2017-10-03 13:49] ralphie02 commented on #31125
@PaulMougel How do you get `pipelining` option to work in the ansible.cfg?? Mine doesn't seem to take an effect.

`ANSIBLE_PIPELINING=True` in the environment variable works on the other hand

[2017-10-03 13:53] bcoca commented on #31125
so it seems i was wrong ... the ansible_ssh_ versions should work .. im going to restore those, it seems i had attempted to migrate and consolidate but did it incorrectly. My latest 'fix' just went in the wrong direction.

[2017-10-03 13:57] bcoca commented on #31125
#31244 should be the correct fix this time, sorry for the confusion.

[2017-10-03 14:08] bcoca commented on #30519
then #31244 should restore performance w/o requiring a configuration change.

[2017-10-03 14:13] peterwillcn commented on #14413
Target system - CentOS 7.4

[code]

[2017-10-03 14:16] dagwieers commented on #14413
@peterwillcn IMO You better use **wait_for_connection** instead of **wait_for**, see: http://docs.ansible.com/ansible/latest/wait_for_connection_module.html

It's not just easier, it also works over jumphosts or proxies, using the exact same transport Ansible uses for the target node.

[2017-10-03 14:21] mattwwarren commented on #30652
@abadger It's a dynamic inventory from ec2 and we do have ec2-user in the group_vars/all file... could that be it?

[2017-10-03 14:27] bcoca commented on #31150
ok, so that normally means a permissions issue, i would look at mount, file, selinux, flags, etc to find out which one is restricting your access.

[2017-10-03 14:37] jimi-c commented on #31178
Is there anyway you could create a full working example? Trying to piece this together without some semblance of the roles you're using won't be easy.

[2017-10-03 14:46] jimi-c opened #31245 "Better stats/status on rescue/ignored tasks"
##### SUMMARY
Expand the number of stats collected during task execution beyond simply changed/failed/unreachable. For example, add in a new stat for rescued tasks (which are failed but also have rescues running).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

[2017-10-03 14:48] jimi-c commented on #31245
bot_skip

[2017-10-03 15:03] mkrizek commented on #30139
@santosh0705 can you try if this patch fixes your issue https://github.com/ansible/ansible/pull/31247 ?

[2017-10-03 15:08] mkrizek commented on #21619
@vmindru agreed, my plan is to refactor the code along with the new bugfixes and more integration tests coverage.

[2017-10-03 15:08] #21619 closed, assigned to vmindru

[2017-10-03 15:22] abadger commented on #31125
I don't know the precedence the code enforcement but I can see these are
defined in opposite orders (ssh level vs connection level).  Is that right?

On Oct 3, 2017 6:57 AM, "Brian Coca" <notifications@github.com> wrote:

[2017-10-03 15:25] Tomino2112 commented on #29501
@s-hertel hi, using `2.3.2.0`

[2017-10-03 15:30] bcoca commented on #31125
within a source (i.e ini), last defined wins, but that only affects if both are defined at same time

[2017-10-03 15:30] joelwking opened #31249 "Unexpected Exception, this is probably a bug: 'NoneType' object is not iterable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
also in 2.4, and observed in 2.3
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

`ubuntu/xenial64`
##### SUMMARY

Method `play.get_vars_files()` returns None rather than an empty list. In very large playbooks, it is not obvious what is causing the exception.
##### STEPS TO REPRODUCE

I

[2017-10-03 15:59] #30903 closed, assigned to bcoca

[2017-10-03 16:02] #30550 closed, assigned to alikins

[2017-10-03 16:06] jleclanche commented on #30550
@alikins thanks - sorry i was not able to get back to all this, stuff got in the way :/

[2017-10-03 16:13] santoshkkhade commented on #1934
i tried it did not worked even

[2017-10-03 16:50] klauern opened #31250 "subversion module does not pass authentication credentials to SVN server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`subversion`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux / Manjaro

##### SUMMARY

In using the `subversion` module to check out, it appears that it is not passing along the correct credentials to the command it calls.  I'm not sure, but it might be passing in the `'*******'` hidden field inst

[2017-10-03 16:54] #31148 closed, assigned to nobody

[2017-10-03 16:54] klauern commented on #31250
As a note, I copied this play from AWX, so this does affect AWX as well as Core.

[2017-10-03 17:09] alikins commented on #30550
cherry-pick'ed to stable-2.4 in commit 576e3378a9ef20d96da6a2161141a99a521db6a1

[2017-10-03 18:00] gundalow commented on #31204
@halberom Thanks for this detailed report, very useful.
I've added the `2.5` milestone to this.

[2017-10-03 18:01] Ulls commented on #7118
So, given the situation where an encrypted file was committed to a source repository that contains variable information specific to a machine where the playbook will run... I want to add a local file to work with my machine's settings for testing purposes.  Now both files exist in the vars directory of the role I'm working on, one encrypted by my vault secret and another encrypted by a different s

[2017-10-03 18:01] #30693 closed, assigned to alikins

[2017-10-03 18:05] klauern commented on #31250
One other thing I found is that changing:

[code]

to

[code]

Will result in it working successfully.  I don't know if that means the module is tied to a Jinja2 filter, or something interacting with the `subversion` incorrectly.

[2017-10-03 18:17] agnellodsouza commented on #26336
Is there any update on this !! ..

[2017-10-03 18:34] bertvv commented on #31235
Then I guess I better close this one. ;-)

Duplicate of #30618

[2017-10-03 18:34] #31235 closed, assigned to nobody

[2017-10-03 18:36] Daemoen commented on #31195
@fghaas Are you by chance using a symlink to link the dynamic script?  If so, we have confirmation on it since that's the issue I isolated in my environment after updating.  In our case, we have:

- i inventory/\<environment\>/ec2.py  and only one of the ec2.py scripts is real, the rest symlink as to reduce the amount of duplicate files/code.  ie:  -i inventory/tst/ec2.py exists, -i inventory/stg/

[2017-10-03 18:46] fghaas commented on #31195
@Daemoen Bullseye! That is indeed a symlink (it points to the `lxc_inventory.py` script in my `ansible` git checkout). If I replace the symlink with a copied file, then things work all right. Thanks a lot, I never would have thought of that.

Strikes me as bizarre, though. Why would it do that? Do you have another bug for this that you can point me to?

[2017-10-03 18:56] Daemoen commented on #31195
@fghaas  Try the following 5 second patch:

https://gist.github.com/bcoca/25990d65f5a0dcf74b896feb98a84b7d

[2017-10-03 19:11] fghaas commented on #31195
@Daemoen That does seem to fix things, yes. I'm not sure how exactly that fix works, but I trust @bcoca is. :)

[2017-10-03 19:18] benashton2 commented on #31178
I was worried that would be the case, I will look at creating a usable example tomorrow.

[2017-10-03 19:19] Daemoen commented on #31195
lol, yep.  it has to do with a change in how the inventory handling worked.  in our case, it was following the symlink, which resulted in the abspath, instead of the relative path, so our inventories would be treated like where the sympath origination was, not where the symlink was.  hence, the follow = False (dont follow symlinks in the inventory as it messes up group_vars, host_vars, and others)

[2017-10-03 19:20] fghaas commented on #31195
Yeah it did. Looking forward to the next point release. Thanks again for the help!

[2017-10-03 19:25] bobobox commented on #30599
Also running into this. Basically, the functionality described [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/ini_file.py#L41) doesn't seem to actually be implemented.

If this worked it would be hugely useful for dealing with (the very common) properties files which are essentially ini files without sections.

[2017-10-03 19:42] bcoca commented on #31195
its not abs vs relative its always resolved to an absolute path, but now it resolves to a path to the symlink, not to the linked file.

[2017-10-03 19:50] ryansb commented on #31230
I don't know that this is a bug - if there's a problem executing the task a module is supposed to perform, I'd expect the module to propagate that failure so you can handle or ignore it as appropriate for you.

Closing, as there is an error and the module (as I'd expect) is failing. Feel free to reopen if you feel like there's a reason to ignore coredumps during apt operations.

[2017-10-03 19:50] #31230 closed, assigned to nobody

[2017-10-03 19:52] #30585 closed, assigned to nobody

[2017-10-03 19:53] ryansb commented on #31237
cc @tstringer

[2017-10-03 19:56] ryansb commented on #31250
If you try to view the password with and without quoting, I think you'll see the issue.

[code]

The `quote` jinja2 filter makes a string safe for shell usage http://docs.ansible.com/ansible/latest/playbooks_filters.html#id7 , so my bet is that your password contains some character that needs quoting and is thus being passed to the module slightly wrong.

[2017-10-03 20:07] klauern commented on #31250
I can say that the pound (`#`) and backtick (`) characters are in it.  Otherwise it's mixed-case, numbers, letters, etc.

    #

    `

[2017-10-03 20:10] ryansb commented on #31249
The workaround here is, of course, to supply an empty list instead of a `None`. I notice that the vars file attributes are defaulted to `[]`, but won't override if the use supplies `None` which we could definitely handle more gracefully.

[2017-10-03 20:26] chrismeyersfsu opened #31260 "Ansible stable-2.4 uses fact cache for Inventory by default"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* New Inventory plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Ansible 2.4.1 uses the fact cache for dynamic inventory by default.

##### STEPS TO REPRODUCE

* Install the env listed above
* `git clone https://github.com/chrismeyersfsu/ansible-examples.git`
* `cd ansible-examples/a

[2017-10-03 20:44] chrismeyersfsu commented on #31260
Same results when using most recent version of ansible devel `pip install git+git://github.com/ansible/ansible.git@8f62be7b7c93ec669fac26c8f2fc7a73d00c1f3c`

[2017-10-03 22:07] abadger commented on #30652
@mattwwarren Yep, that is what's going on.  I'm not sure why it worked for you on 2.3.x -- In my testing, -u was overridden by ansible_user settings in inventory on both 2.4.x and 2.3.x but that is expected behaviour.  If you want to overrride at the commandline, use the extra vars like this:
[code]

I'll go ahead and close this now as we seem to have figured out what was going on in 2.4.

[2017-10-03 22:07] #30652 closed, assigned to nobody

[2017-10-03 22:18] #30614 closed, assigned to nobody

[2017-10-03 22:29] garbled1 opened #31266 "parted failure with python 2.7.5 ansible 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux  3.10.0-693.2.1.el7.x86_64 #1 SMP Fri Aug 11 04:58:43 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Exact same task run on ansible 2.3, with a system running python 2.7.13 works.

[2017-10-03 22:45] gfodor commented on #30720
Yes this seems like a regression to me too, not working here passing additional -o flags

[2017-10-03 23:04] wrouesnel opened #31267 "Modules using network_cli don't respect ProxyCommand"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY
When using network_cli based modules (i.e. the `nxos_facts` module) the underlying paramiko transport does not respect the SSH `ProxyCommand` directive from the user's config file (despite fairly good support for this in Paramiko it

[2017-10-03 23:17] naisanza commented on #31230
@ryansb It looks like it's trying to update the cache before purging it, rather than purging it first. Is there a way to make it purge the package without doing anything else first?

[2017-10-03 23:29] sivel commented on #31267
The paramiko connection, and the `network_cli` based modules should already support this, but it will require setting `ProxyCommand` in `ansible_ssh_extra_args` or similar for this host.

We do not configure paramiko off of the ssh config file, only via the inventory values.

[2017-10-03 23:45] wrouesnel commented on #31267
It's a bit of an odd disconnect since most users I would think would be used to having their openssh config file apply - and then in this instance it suddenly won't.

At the very least it desperately needs more documentation up front on the network modules, since it does not lead to explanatory error messages - just "unable to establish a shell".

[2017-10-03 23:50] wrouesnel commented on #25507
+1 I was just about to file a new bug report for this.

[2017-10-03 23:53] abadger opened #31268 "ansible_user extra_vars does not override ansible_ssh_user in inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
play_context.py

##### ANSIBLE VERSION

[code]

Should only fix this in devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

If ansible_ssh_user is set to a value for a host, then ansible_user cannot be set anywhere to override it.

##### STEPS TO REPRODUCE
Create an inventory file like htis:
[code]

and then invoke ansible

[2017-10-03 23:58] abadger commented on #31268
Bug might lie here: https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play_context.py#L68

But ansible_ssh_user is deprecated so perhaps we should just remove it: http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-10-03 23:59] dgilbert82 opened #31269 "ec2_lc - placement_tenancy default value prevents creation of launch configurations with a spot price"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/cloud/amazon/ec2_lc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output from `ansible-config dump --only-changed`
The only ANSIBLE_* variable set is ANSIBLE_VAULT_PASSWORD_FILE=/home/test/.vault

##### OS / ENVIRONMENT
Running from Arch Linux, target is AWS

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2017-10-04 01:03] bcoca commented on #31268
it is not supposed to, ansible_ssh_user is 'ssh specific' and ansible_user is general for all plugins. We did deprecate it at 2.0 but have since then reversed that.

[2017-10-04 01:20] Akasurde commented on #22542
@jeroenjacobs1205 @suhancz There is a new module called [vmware_guest_powerstate](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py) which manages the states of VMs. Let me know if it works for you.

[2017-10-04 01:32] wimnat opened #31271 "ec2_asg regression - tags can not be bool"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
AWS Linux

##### SUMMARY
Previous you could define bool values in the tags parameter.  For example:

[2017-10-04 01:42] #30468 closed, assigned to nobody

[2017-10-04 03:10] jborean93 commented on #30468
Merged into devel and cherry-picked to stable-2.4 https://github.com/ansible/ansible/commit/39196a7f2f670ad9c994ea48a494081a840d0dd6. Will be available in the 2.4.1 beta 2.

[2017-10-04 03:38] #30618 closed, assigned to samdoran

[2017-10-04 03:40] samdoran commented on #21989
Closing this since it was resolved by #28936, which will be in Ansible 2.4.1.

[2017-10-04 03:41] #21989 closed, assigned to nobody

[2017-10-04 03:42] winstonsimon opened #31274 "AWS | ERROR! Unexpected Exception, this is probably a bug: u'localhost'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

AWS Plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

AWS

##### SUMMARY
We upgrade Ansible version from 2.3 to 2.4 which broken our pipeline due to following error.

Here is our folder structure:
<img width="917" alt="screen shot 2017-10-03 at 8 48 38 pm" src="https://user-images.githubusercontent.com/

[2017-10-04 04:26] trishnaguha opened #31275 "[CLI_CONF] Refactor nxos modules common library to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/nxos
modules/network/nxos/

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor nxos modules common library to use cliconf plugin

[2017-10-04 04:31] trishnaguha opened #31276 "[CLI_CONF] Refactor eos modules common library to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/eos

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor eos modules common library to use cliconf plugin

[2017-10-04 04:32] trishnaguha opened #31277 "[CLI_CONF] Refactor ios modules common library to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/ios

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor ios modules common library to use cliconf plugin

[2017-10-04 04:33] trishnaguha opened #31278 "[CLI_CONF] Refactor iosxr modules common library to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/iosxr

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor iosxr modules common library to use cliconf plugin

[2017-10-04 04:34] trishnaguha opened #31279 "[CLI_CONF] Refactor vyos modules common library to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/vyos

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor vyos modules common library to use cliconf plugin

[2017-10-04 04:35] trishnaguha opened #31280 "Refactor junos modules common library to use CLIconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/junos

##### ANSIBLE VERSION

[code]

##### SUMMARY

Refactor junos modules common library to use CLIconf plugin

[2017-10-04 04:48] trishnaguha commented on #31280
Duplicate #31028

[2017-10-04 04:48] #31280 closed, assigned to nobody

[2017-10-04 05:12] riponbanik opened #31281 "Ansible Windows Custom Module shows errors"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have created a custom windows module using powershell to add a windows host file entry. It runs the poweshell script although the parameters passed is wrong order but able to add the entry in the host file but it shows following error.

FAILED! => {

[2017-10-04 05:21] arbabnazar opened #31282 "Ansible documentation error"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
`ansible-doc` command error
##### ANSIBLE VERSION
[code]

##### SUMMARY
There is one example command given to the ansible documentation at this [page](https://docs.ansible.com/ansible/devel/plugins/callback.html#plugin-list)

`ansible-doc -t callback -l`

But when we run it, give an error instead of giving the list of callback plugins

[2017-10-04 05:23] winstonsimon commented on #31274
Looks like ansible-2.4.1.0 has the fix for above error.

[2017-10-04 05:23] jborean93 commented on #31281
What version of Ansible are you running, are you able to share some snippets like how you define `$result`?

[2017-10-04 05:50] ganeshrn commented on #30778
@mattlan `confirm: 0` will issue a `commit` command on device. There is no change in configuration (as `junos_config` task doesn't have any config related params) it will return ok.
You can run the playbook with `--diff` option to see the config diff.

For rollback, you can issue below command on the device in config mode to check if config has changed across commits.
[code]
If there is no change

[2017-10-04 05:59] trishnaguha commented on #31162
@os4mike Can you let us know the IOS version you are using?
We have 15.6 and 16.4 in our test lab.

[2017-10-04 06:00] trishnaguha commented on #27292
@rahushen Can you test this on devel? This works for me on devel branch and stable-2.4.
Can you please try to set `command_timeout` to 100 with `persistent_connection` tag in ansible.cfg and run the playbook?

[2017-10-04 06:33] riponbanik commented on #31281
Ansible verion 2.4.0

I have uploaded the code in git -

https://github.com/riponbanik/ansible_win_host

[2017-10-04 06:42] rishibamba commented on #17349
Facing random "UNREACHABLE!" error on hosts.
Return Message: Failed to connect to the host via ssh: Couldn't read packet: Connection reset by peer

Ansible version: 2.3.1.0

[2017-10-04 06:43] rishibamba commented on #18188
Facing random "UNREACHABLE!" error on hosts.
Return Message: Failed to connect to the host via ssh: Couldn't read packet: Connection reset by peer

Ansible version: 2.3.1.0

[2017-10-04 07:00] jborean93 commented on #31281
Ok, it looks like in 2.4 this commit https://github.com/ansible/ansible/commit/0e160d5c7eca9aa5275c3f47d05c287a9e81401c will automatically set `changed` on the `$result` object. Unfortunately older practices for Windows module development were set to use a `[PSObject]` which did not contain the method `ContainsKey` and will break with 2.4.

For your code to work with 2.4, you will need to change t

[2017-10-04 07:02] winstonsimon commented on #31144
do you have support to create Traffic Flow policy mentioned in the doc?
https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html

[2017-10-04 07:27] PaulMougel commented on #31125
Thank you everyone! @bcoca your latest commit fixes my issue, thank you very much.

If anyone finds this issue later and want to enable pipelining:

- If you are using `ansible.cfg`, either set `pipelining=True` in the  `[connection]` or `[ssh_connection]` section
- if you are using environment variables, either set `ANSIBLE_PIPELINING=True` or `ANSIBLE_SSH_PIPELINING=True`

[2017-10-04 07:53] richardj-bsquare commented on #30962
Latest change fix 'instances' => 'instance' in default (well spotted @Etherdaemon)!

[2017-10-04 08:04] jborean93 commented on #20123
Have created a PR to add this functionality https://github.com/ansible/ansible/pull/31289. To make a change to the default user profile, you can do

[code]

I'm not sure where the key is for the wall paper but if it can be modified by changing the default user hive then this would enable that.

[2017-10-04 08:14] davidfokkema commented on #7118
We've switched to git-crypt (https://github.com/AGWA/git-crypt). You can then .gitignore your local file. We do not need to be able to use different secrets, something you can do with vault. You can run all playbooks without knowing the secret (unless you need the crypted host vars, of course).

[2017-10-04 08:18] naisanza commented on #31141
Does it work if the entire playbook is encrypted?

[2017-10-04 08:23] machacekondra commented on #29408
resolved_by_pr https://github.com/ansible/ansible-modules-extras/pull/3557

[2017-10-04 08:24] machacekondra commented on #27943
resolved_by_pr 28120

[2017-10-04 08:32] #30873 closed, assigned to nobody

[2017-10-04 08:34] #27943 closed, assigned to nobody

[2017-10-04 09:20] #20549 closed, assigned to nobody

[2017-10-04 09:22] PhilEv commented on #30519
@bcoca I confirm it is solved on the stable-2.4 branch after testing again

getting now:

[code]

with the version below and with the same configursation used with 2.3.x

[code]

I agree to close it
thanks

[2017-10-04 09:23] EddyP23 opened #31290 "yaml inventory plugin fails with a non-helpful error massage"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Ansible Inventory Manager (`manager.py`)

##### ANSIBLE VERSION
![image](https://user-images.githubusercontent.com/17345126/31168139-082002d2-a8fd-11e7-9bb0-1b90ba173f98.png)

##### CONFIGURATION

Empty output of the command `ansible-config dump --only-changed`.

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
Running `ansible-playbook -i de

[2017-10-04 09:26] machacekondra commented on #29408
resolved_by_pr 3557

[2017-10-04 09:29] tbouvet commented on #20648
Some news about this feature ?
More and more enterprises are using usernamespace and sometimes, userns=host is necessary to start special containers.

[2017-10-04 09:32] machacekondra commented on #30009
resolved_by_pr 30337

[2017-10-04 09:34] EddyP23 commented on #31290
OK, so the problem is with the part:
[code]
And it shouldn't be a list here but instead two keys with no values. Could it be possible to fix the error message to indicate that the problem is with the format of the inventory file?

[2017-10-04 09:36] #30009 closed, assigned to nobody

[2017-10-04 09:46] mainjoehere commented on #29043
I need to close my duty this month. As it is possible to create a vm with govc and with the old vsphere module we will not use the vmware_guest module. It seems to be far away for beeing usable in production.

[2017-10-04 09:46] #29043 closed, assigned to nobody

[2017-10-04 10:00] ssbarnea opened #31292 "ansible2.4 broke Inventory class and didn't update examples"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
It seems that the refactorings made around Inventory were not tested well enough because examples were not updated and were rendered useless, see https://github.com/ansible/ansible/blob/devel/examples/scripts/uptime.py#L6

Even the most basic linting

[2017-10-04 10:37] gundalow commented on #31266
@garbled1 Thanks for the bug report

1) Could you please test this on Ansible `2.4.0` on both Python 2.7.5 and 2.7.13
2) Include the output when running with `anisble-playbook -vvvv` which will include a clearer backtrace

needs_info

[2017-10-04 10:43] gundalow commented on #31267
@wrouesnel Does the information at http://docs.ansible.com/ansible/latest/porting_guide_2.3.html#delegate-to-vs-proxycommand help? If not suggestions of better wording are welcome.

I've realized that the above page is not linked from https://docs.ansible.com/ansible/network_debug_troubleshooting.html so I'll fix that now

[2017-10-04 10:56] hsilva-keep commented on #25631
Guys, I'm just leaving here my two cents. EVERY minor update, since major version 2 was released, breaks my playbooks (and usually their inventory files). This is not a good sign for a project like this, with so many users, causing great impact. And certainly I'm not the only one feeling this way.

[2017-10-04 11:14] gyurco opened #31294 "inventory_file doesn't contain the pathname"
- Bug Report

##### COMPONENT NAME
Ansible core(?)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Former versions of Ansible returned the full path for inventory_file. Now it is only the filename.

##### STEPS TO REPRODUCE
ansible -m debug -a var=inventory_file localhost

##### EXPECTED RESULTS
This is the result with Ansible < 2.4.0
[code]

[2017-10-04 11:18] gundalow commented on #31282
@arbabnazar Thanks for the bug report. I believe this feature was added in Ansible 2.4.

Interestingly the docs don't appear on the `2.4` site: https://docs.ansible.com/ansible/2.4/plugins/callback.html#plugin-list which i'll look into

[2017-10-04 11:29] arbabnazar commented on #31282
@gundalow Thanks for the reply, yes it works fine with Ansible 2.4

[2017-10-04 11:31] trishnaguha opened #31295 "[DI_MISSING] Add missing declarative module net_vlan for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] ios/ios_vlan
- [x] vyos/vyos_vlan
- [x] nxos/nxos_vlan https://github.com/ansible/ansible/issues/31884

##### ANSIBLE VERSION

[code]

[2017-10-04 11:33] trishnaguha opened #31296 "[DI_MISSING] Add missing declarative module net_vrf for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- ~[] iosxr/ioxr_vrf~
- [x] nxos/nxos_vrf https://github.com/ansible/ansible/issues/31885 @trishnaguha PR https://github.com/ansible/ansible/pull/34274

##### ANSIBLE VERSION

[code]

[2017-10-04 11:35] VojtechMyslivec commented on #27299
`| to_json | from_json` workaround works for me with `join` function. Thx @berlic

[2017-10-04 11:36] trishnaguha opened #31297 "[DI_MISSING] Add missing declarative module net_l2_interface for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- [x] ios/ios_l2_interface @Qalthos PR #35054
- ~[ ] iosxr/iosxr_l2_interface~
- ~[] vyos/vyos_l2_interface~
- [x] eos/eos_l2_interface @rcarrillocruz
- [x] junos/junos_l2_interface @ganeshrn PR https://github.com/ansible/ansible/pull/35123
- [x] nxos/nxos_l2_interface https://github.com/ansible/ansible/issues/31886 @trishnaguha PR https://gi

[2017-10-04 11:38] trishnaguha opened #31298 "[DI_MISSING] Add missing declarative module net_l3_interface for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] nxos/nxos_l3_interface https://github.com/ansible/ansible/issues/31888 @trishnaguha
- [x] ios/ios_l3_interface https://github.com/ansible/ansible/pull/34201 @ganeshrn
- ~[ ] iosxr/iosxr_l3_interface~
- [x] eos/eos_l3_interface https://github.com/ansible/ansible/pull/34224 @ganeshrn

##### ANSIBLE VERSION

[code]

[2017-10-04 11:40] trishnaguha opened #31299 "[DI_MISSING] Add missing declarative module net_static_route for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] eos/eos_static_route

##### ANSIBLE VERSION

[code]

[2017-10-04 11:40] temotodochi opened #31300 "ec2_win_password tries to use null as passphrase"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_win_password module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

##### SUMMARY

ec2_win_password tries to use 'null' to decrypt a given key_file when key_passphrase is not given and subsequently fails in the decryption operation as the key_file is not encrypted with any key_passphrase.

##### STEP

[2017-10-04 11:43] trishnaguha opened #31301 "[DI_MISSING] Add missing declarative module net_lldp for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] eos/eos_lldp https://github.com/ansible/ansible/pull/34302 @ganeshrn
- [ ] ~iosxr/iosxr_lldp~
- [x] ios/ios_lldp https://github.com/ansible/ansible/pull/34308 @ganeshrn
- [x] nxos/nxos_lldp https://github.com/ansible/ansible/pull/34453 @ganeshrn

##### ANSIBLE VERSION

[code]

[2017-10-04 11:43] akandratovich commented on #30239
The same for me
[code]

[2017-10-04 11:46] trishnaguha opened #31302 "[DI_MISSING] Add missing declarative module net_lldp_interface for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [ ] eos/eos_lldp_interface
- [ ] nxos/nxos_lldp_interface
- [ ] iosxr/iosxr_lldp_interface
- [ ] ios/ios_lldp_interface

##### ANSIBLE VERSION

[code]

[2017-10-04 11:48] trishnaguha opened #31303 "[DI_MISSING] Add missing declarative module net_linkagg for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] eos/eos_linkagg PR https://github.com/ansible/ansible/pull/33007 @trishnaguha
- ~[ ] iosxr/iosxr_linkagg~
- [x] ios/ios_linkagg PR https://github.com/ansible/ansible/pull/33215 @trishnaguha
- [x] nxos/nxos_linkagg https://github.com/ansible/ansible/issues/31887 PR https://github.com/ansible/ansible/pull/33376 @trishnaguha
##### ANSIBLE

[2017-10-04 11:53] gonzzor opened #31304 "vault-keyring.py fails with "object has no attribute 'load_config_file'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

./contrib/vault/vault-keyring.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 26

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

[2017-10-04 11:59] AlanCoding commented on #31141
(tested) Yes, that does work, but the playbook example already worked. Or did you mean to ask about encrypting the entire inventory file?

[2017-10-04 12:14] ihorsahaidak commented on #16354
all you need to fix the problem to add next two row to file
the file - architecture/provisioning/inventory/group_vars/all
#Vars for ansible-npm
nodejs_version: "7.9.0"

[2017-10-04 12:25] klanghans commented on #31294
I can confirm that regression bug:

vars_files:
    - group_vars/{{ inventory_environment }}.yml
    - vault.ym

is not working any longer since

inventory_file contains the path w/o filename
inventory_file contains the filename w/o path

the 2.4.0 documentation states inventory_file contains path + filename.

So either the documentation is outdated or its a regression bug.

[2017-10-04 12:58] bcoca commented on #31294
confirmed, in the refactor i mistakenly  took inventory_dir and inventory_file as complimentary, fixing.

[2017-10-04 13:06] devdavidkarlsson opened #31307 "Ansible Uses Proxy Server for Local IP Address, cannot "Bypass Proxy Server for Local Addresses/localhost""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_plugin
or main ansible http_proxy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RedHat 7.2

##### SUMMARY
le Uses Proxy Server for Local IP Address, how to "Bypass Proxy Server for Local Addresses"

I am running a jenkins server on 10.251.130.45:8080.
the server is behind a proxy, I want to install some jenkins plugins using the

[2017-10-04 13:08] kris074 commented on #31234
Anyone able to help me on this please?

[2017-10-04 13:11] gundalow commented on #31204
Docs changes should be backported to `stable-2.4`

[2017-10-04 13:11] devdavidkarlsson commented on #31307
no_proxy env variable solves this by adding the necessary exceptions.
[code]

[2017-10-04 13:11] #31307 closed, assigned to nobody

[2017-10-04 13:15] gundalow commented on #31186
@halberom Does the above work for you?
If so we could add that as an example in the module documentation

needs_info

[2017-10-04 13:16] gundalow commented on #31162
needs_info

[2017-10-04 13:20] ncleaton opened #31309 "cronvar chokes on some cron commands"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cronvar

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 16.04.3

##### SUMMARY
When the cronvar module attempts to parse a crontab, certain valid combinations of shell metacharacters in the command entries can confuse it and cause a bogus "No closing quotation" error.

##### STEPS TO REPRODUCE
with cro

[2017-10-04 13:27] trishnaguha commented on #30986
The correct argument is `intended_config`. The given example in Doc uses `intended` which is wrong.
The play should look like:
[code]

[2017-10-04 13:27] NBardelot opened #31311 "[Feature Request] Exit a playbook and not just a play"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
lib/ansible/playbook

##### ANSIBLE VERSION
N/A

##### SUMMARY
This feature request is quite simple : with so many issues linked to the crucial "any_errors_fatal" property on plays (even in Ansible 2.4), please add an option so that in extreme conditions a programmed exit can be used. This should set a "failed" status on all hosts of the playbook

[2017-10-04 13:30] gundalow commented on #30979
I believe junos_config supports this

[2017-10-04 13:31] bcoca commented on #30519
closing as per above.

[2017-10-04 13:31] #30519 closed, assigned to nobody

[2017-10-04 13:33] gundalow commented on #30846
resolved_by_pr 30862

[2017-10-04 13:35] gundalow commented on #30836
Hi
1) What version of ansible worked, which version failed?
`ansible --version` will tell you this

needs_info

[2017-10-04 13:40] gundalow commented on #30802
@phil-dileo any ideas on this?

[2017-10-04 14:01] garbled1 commented on #27893
Responding to a off-topic item in PR #31128

@dagwieers : Yes, there is no way to manage files with the api. What I meant was this:

To do the efficient copy you need to find a host that connects directly to the datastore.  The only efficient way I know of to do this is to dig through the datastore properties using the API, figure out the hostname of the esxi host, and then pass that into the url

[2017-10-04 14:04] aoyawale commented on #30628
looks like validate_certs: False is also missing
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/clustering/oc.py#L394

[2017-10-04 14:12] dagwieers commented on #27893
@garbled1 Indeed, my suggestion here would be to have both a **vcenter_copy** and an **esxi_copy**, when both have a different implementation (e.g. api/auth/options). Or if there's abstracted way to do it, call it **vmware_copy** and make sure the documentation makes the different use-cases very clear. (That's one reason I prefer a different namespace)

Or in case you need both vCenter and ESXi (b

[2017-10-04 14:13] wrouesnel commented on #31267
I think directly linking it from there would've avoided the confusion yes.

[2017-10-04 14:21] sivel commented on #31292
resolved_by https://github.com/ansible/ansible/pull/31246

[2017-10-04 14:22] #31292 closed, assigned to nobody

[2017-10-04 14:24] ghost commented on #30836
Hi gundalow...as noted in the issue template, after upgrading to v2.4.0.0, the problem started. I've since reverted back to v2.3.2.0, and my scripts are functioning normally again.

[2017-10-04 14:36] gundalow commented on #30836
@nk9b Thanks, I didn't see v2.3.2.0 in the report, though I see it now

[2017-10-04 14:39] ghost commented on #30836
No problem...I'm sure my issue isn't the only one on your plate. :-) Let me know if you need any other information.

[2017-10-04 14:41] dagwieers commented on #31166
@kafecho Right, I wasn't in favor of doing this because I wasn't sure if the Exception response object is on-par with the normal WebRequest response object. I'll let one of the core Windows people decide, but that was my main objection for the comment in the example I referenced.

[2017-10-04 14:46] gundalow commented on #31282
Thanks for confirming, closing

[2017-10-04 14:46] #31282 closed, assigned to gundalow

[2017-10-04 14:51] #31260 closed, assigned to nobody

[2017-10-04 14:52] pschiffe commented on #23170
I don't see this problem any more. I'll reopen if I have more info.

[2017-10-04 14:52] #23170 closed, assigned to bcoca

[2017-10-04 14:53] mattwwarren commented on #30652
Brilliant. I've applied that and it looks good now. Thank you for the assistance.

[2017-10-04 15:04] #31195 closed, assigned to nobody

[2017-10-04 15:23] vladimirtiukhtin commented on #30829
Answering my question.... This solves the problem:

```content: "{{ lookup('file', 'zones/example.net') + '\n'}}"```

[2017-10-04 15:25] fungi commented on #18714
Wheels can be useful even for projects whose dependencies are lacking them... but that aside, can you link to where the research was published indicating which dependencies are still missing wheels so others in the community can pitch in on solving this?

[2017-10-04 15:50] #31229 closed, assigned to nobody

[2017-10-04 15:53] #31294 closed, assigned to bcoca

[2017-10-04 15:53] traut commented on #10374
+1 to that, forcing in-place evaluation of a variable would be an awesome feature

// I can not use `set_fact` in `meta` and that's exactly where I want to pass "absolute" path to a file in one role as a variable to another role

[2017-10-04 15:56] gundalow commented on #31267
@wrouesnel I've got a PR to hopefully improve the documentation for this https://github.com/ansible/ansible/pull/31316 I'd welcome your feedback

[2017-10-04 15:56] gundalow commented on #31267
resolved_by_pr 31316

[2017-10-04 16:36] garbled1 commented on #27893
My thinking on this is different simple cases handled by logic in the module.  (the variable names are just quick hacks)

1) Fast copy, via magic to calculate esxi_host:
[code]
2) direct to esxi_host
[code]
Option 3:  Same behavior as today: (efficient_copy defaults to false, so no surprises for anyone)
[code]

Because the URL composition is the same if it's vsphere OR esxi direct, 2 (should, have

[2017-10-04 17:00] mattlan commented on #30778
I am not following your response, as I stated in my description I have pushed a change separate to the attached playbook using `commit confirmed 5`, until this is committed it will rollback after the timer expires automatically.  I am attempting to commit _that_ change using this playbook.  Using the method that worked in 2.2 -- `confirm: 0` -- does **not** commit the change on the device in 2.3.

[2017-10-04 17:29] magfuentes commented on #22745
same problem

ansible@vagrant-ubuntu-trusty-64:~$ ansible localhost -a "/bin/echo hello" -i /home/ansible/hosts_inv -e "ansible_port=22"  --extra-vars 'ansible_ssh_user=ansible' -vvv
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/loc

[2017-10-04 17:34] klanghans commented on #31294
Great thanks a lot for the fast reaction time 👍

[2017-10-04 17:35] tomelliff opened #31321 "Ansible 2.4 ignores --ssh-common-args"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Running Ansible in an Alpine 3.4.6 based container

##### SUMMARY
` --ssh-common-args` appears to be ignored when running Ansible either ad-hoc or with a playbook

##### STEPS TO REPRODUCE
Note the `SSH: EXEC` in the verbose output:

[code]
On 2.3.1 (Running on Ubuntu 16.04 directly on my

[2017-10-04 17:38] tomelliff commented on #31321
It seems to be ignoring the ssh-common-args and ssh-extra-args. From what I can tell both should work fine (and both do so in 2.3.1).

[2017-10-04 17:42] bcoca commented on #31321
probably same as #30720

[2017-10-04 17:44] tomelliff commented on #31321
Yep, same as that issue. For some reason Github's issue search wasn't returning that when I was searching for a duplicate. I'll close this one.

[2017-10-04 17:44] #31321 closed, assigned to nobody

[2017-10-04 17:57] privateip opened #31323 "refactor network common code into package [COMMON_LIB]"
##### SUMMARY
implement accepted proposal [76](https://github.com/ansible/proposals/issues/76)

##### COMPONENT NAME
lib/ansible/module_utils/network

##### ISSUE TYPE
Feature Idea

##### ANSIBLE VERSION
N/A

[2017-10-04 18:07] santosh0705 commented on #30139
@mkrizek  It worked 👍
Tested with `postgresql-server` and `java-1.8.0-openjdk` packages.
Hope the PR will be accepted.

[2017-10-04 18:14] ryansb commented on #11351
This still affects 2.4:

[code]

Using the same reproducer playbook as above.

[2017-10-04 18:16] ryansb commented on #11351
If you change `command_result.failed` to `command_result | failed` and use the filter instead, this works.

[2017-10-04 18:18] #31041 closed, assigned to bcoca

[2017-10-04 18:20] calfonso commented on #11396
This would require a substantial change to the tagging subsystem, which would require a proposal to be authored. This proposal should outline the design and describe the implementation. We have a weekly IRC meeting in which that proposal can be reviewed. If a contributor would like to do the above, we'd be up for reviewing it and providing feedback. The core team will not be considering doing this

[2017-10-04 18:28] Laszlo-JFLMTCO commented on #31211
@mkrizek Thank you for the follow up. I just double checked and I was not setting up the `list` parameter correctly. Now I see the output. I'm sorry for the confusion and many thanks for the prompt follow up both from you as well as from @alikins I will close the ticket.

[2017-10-04 18:28] #31211 closed, assigned to nobody

[2017-10-04 18:28] calfonso commented on #11444
As we wait for a contribution to implement this feature, the core team recommends altering the current fileglob directive to take arguments such as --include-dirs, etc.

[2017-10-04 18:32] bcoca commented on #11444
one implementation #23265, but people don't agree on pathing. You can also look at the new `filetree` lookup that does directory pathing

[2017-10-04 18:38] calfonso commented on #11639
Thank you, closing this issue.

[2017-10-04 18:38] #11639 closed, assigned to nobody

[2017-10-04 18:40] bcoca commented on #11351
the `failed` key is not guaranteed to exist, so using `.failed` is expected to cause undefined errors.

[2017-10-04 18:41] gyurco commented on #31294
Yes, that was fast :)

[2017-10-04 18:44] abadger commented on #11594
Going to close this.  lookups will never be able to handle binary data due to being implemented via jinja2.  We could write some module that might be able to handle things like this.  As bcoca points out fetch currently allows you to satisfy the specific use-case.  There's likely other use cases that are not satisfied by fetch but that would be a different feature rather than this one.  (Perhaps r

[2017-10-04 18:44] #11594 closed, assigned to nobody

[2017-10-04 18:45] santosh0705 commented on #30901
I use `inventory_dir` to reference my environment specific variables in my playbacks. I cannot use group variables since if a single host is part of multiple groups the variables will be overridden by the successor group variables.

I organise my inventory and variables like below:

[code]

`inventory_dir` also helps me not passing any runtime variables. This should be maintained as it is and in d

[2017-10-04 18:45] chronidev commented on #29135
@alikins The code which is problematic:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/include_vars.py#L263

[2017-10-04 18:46] calfonso commented on #11837
There hasn't been any traction on this idea. If you're still interested in seeing something like this implemented, please open a proposal and bring the proposal to the weekly IRC meeting for review. Thanks for your interest!

[2017-10-04 18:46] #11837 closed, assigned to nobody

[2017-10-04 18:49] alikins commented on #14248
Similar vars/ feature_idea: https://github.com/ansible/ansible/issues/11639

[2017-10-04 18:50] alukach commented on #22970
For anyone reading this, if you're experiencing this issue with the `copy` module, it is likely related to #19994 (see [this comment](https://github.com/ansible/ansible/issues/19994#issuecomment-271028696) for solution).

[2017-10-04 18:53] alikins commented on #11937
See pr https://github.com/ansible/ansible/pull/28716

[2017-10-04 18:55] abadger commented on #31022
https://github.com/ansible/ansible/issues/11937 => Can't use default location of .ansible_async file because it is read-only.

[2017-10-04 18:58] abadger commented on #16410
Closing as accelerate is now removed from the 2.5 tree.

[2017-10-04 18:58] #16410 closed, assigned to nobody

[2017-10-04 18:58] alikins commented on #31022
https://github.com/ansible/ansible/pull/28716  pr for 'ansible_async' in remote_tmp

[2017-10-04 19:09] alikins commented on #31022
(reference everything again so the github issue history expands to include bug title)
#20886
#27699
#17908 (not main issue, but having per host configurable remote_tmp would mitigate)
#30208
#30064
#30074 (not main issue, giving 'url using' module a predictable tmp to write to)
#25831
#25794
#22203
#21562
#18391 (mostly by allowing per host 'world readable tmp files')
#13876
#16046
#16048
#11937

[2017-10-04 19:13] alikins commented on #31022
More refs:
https://github.com/ansible/ansible/issues/28318
https://github.com/ansible/ansible/issues/29019

[2017-10-04 19:14] alikins commented on #29019
See also https://github.com/ansible/ansible/issues/31022

[2017-10-04 19:14] #31290 closed, assigned to bcoca

[2017-10-04 19:14] alikins commented on #28318
See also https://github.com/ansible/ansible/issues/31022

[2017-10-04 19:25] bcoca commented on #30720
please confirm that PR above fixes this for you

[2017-10-04 19:26] gundalow commented on #26809
Update
This **is** something we are fixing for `2.5.0`, the initial work for this is https://github.com/ansible/ansible/issues/31107 (implemented in https://github.com/ansible/ansible/pull/31215)

Once this is merged into `devel` we welcome your feedback on the way error messages are reported

[2017-10-04 19:47] bcambl commented on #31187
@matysek if you are unable to install a new version of Python on your RHEL5 nodes, you may downgrade and lock your ansible version on your F26 workstation with the following commands:
[code]
This is obviously not a good long-term solution, but it will allow you to continue working until you can retire those RHEL5 servers ;)

[2017-10-04 19:50] samdoran commented on #29920
Possibly related to #23905

[2017-10-04 19:52] kevensen commented on #31196
@lukadante I've made a minor change.  Do you mind testing when you get a chance?
#31327

[2017-10-04 19:52] #30691 closed, assigned to nobody

[2017-10-04 20:32] telbizov commented on #20063
Hello,

I am trying to figure out which ansible release has this fix gone out with?
I run 2.3.1.0 and I think I am encountering this exact same problem that @jimi-c claims fixed in January.

My template has set statements and an include in the bottom. ansible was installed via pip and as such it had dragged with itself Jinja2 (2.9.6). Downgrading Jinja2 to 2.8.1 resolves the problem but the defaul

[2017-10-04 20:48] mcg commented on #30720
ETA for 2.4.1 that includes this fix or should we start downgrading?

[2017-10-04 20:54] swaapnika-guntaka opened #31328 "AnsibleUndefinedVariable: 'dict Object' has no attribute 'ansible_eth0'"
![noattrribute](https://user-images.githubusercontent.com/18042968/31199277-b6193f4e-a90b-11e7-9b1d-a57085308d02.png)

##### ISSUE TYPE
 - Bug Report
AnsibleUndefinedVariable:  'dict Object' has no attribute 'ansible_eth0'`

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
remote_tmp = /tmp/.ansible-${USER}/tmp
##### OS / ENVIRONMENT
CentOS 6.7

##### SUMMARY

I

[2017-10-04 21:03] jborean93 commented on #31300
This was fixed with https://github.com/ansible/ansible/pull/28791. This PR has been merged and so should work in devel, checking with maintainers of that space to verify it is ok to cherry-pick to stable-2.4 for the 2.4.1 release.

[2017-10-04 21:03] #31300 closed, assigned to nobody

[2017-10-04 21:11] trstringer commented on #30289
Just so we're all on the same page here, do we all agree that we can remove provider registration from `AzureRMModuleBase`? // @nitzmahone @lmazuel

[2017-10-04 22:38] nkakouros opened #31330 "restrict_facts_namespace is not respected"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
only defaults

##### OS / ENVIRONMENT

Running Arch Linux, provisioning Ubuntu 16.04.

##### SUMMARY
`ansible_facts` is undefined even when `restrict_facts_namespace` is set to `True`.

##### STEPS TO REPRODUCE

1. Create a `playbook.yml` with the following contents:
[code]
2. Create an `ansible.cfg` with th

[2017-10-04 22:51] jborean93 commented on #31274
@winstonsimon if 2.4.1.0 has fixed this error I am going to close this issue as it is already backported and will be available once released.

[2017-10-04 22:51] #31274 closed, assigned to nobody

[2017-10-04 23:00] blutgens commented on #29920
Ok. Just let me know if you need me to do anymore testing.

On Sep 11, 2017 10:07 PM, "ansibot" <notifications@github.com> wrote:

[2017-10-04 23:21] riponbanik commented on #31281
Thanks a lot for your very quick response. It resolves the issue.

[2017-10-05 00:40] bcoca commented on #31330
This is not currently a feature, it was planned but removed from 2.4 and requeued for possible inclusion in 2.5

I updated the example/ansible.cfg to remove the commented out entry to avoid future confusion

closed via d2c7539ae8907d840a22d32404f625ce9893bc1e

[2017-10-05 00:43] #31330 closed, assigned to nobody

[2017-10-05 00:45] bcoca commented on #31328
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-05 00:45] #31328 closed, assigned to nobody

[2017-10-05 00:58] mechastorm commented on #27677
This seems to be fixed now

doing this config seems work fine in Ansible 2.3
[code]

[2017-10-05 00:58] #27677 closed, assigned to nobody

[2017-10-05 01:22] jborean93 commented on #30972
I was under the assumption that Packer ran a command directly over the platform subsystem when using `shell-local`. If using `powershell` or `windows-shell` it communicates over WinRM so it subject to the same restrictions.

I've gotten around this by copying a bootstrap.ps1 script that runs on first boot to do all the provision with WinRM and other dependencies. Packer doesn't continue until WinR

[2017-10-05 01:23] jborean93 commented on #14436
I am going to close this, the consensus from the Ansible team is to move away from this script and not host any script within the Ansible repo itself. If you still wish for this functionality a more featured (and working) script can be found here https://github.com/jborean93/ansible-windows/blob/master/scripts/Upgrade-PowerShell.ps1.

[2017-10-05 01:23] #14436 closed, assigned to nobody

[2017-10-05 01:24] jborean93 commented on #16436
I am going to close this, the consensus from the Ansible team is to move away from this script and not host any script within the Ansible repo itself. If you still wish for this functionality a more featured (and working) script can be found here https://github.com/jborean93/ansible-windows/blob/master/scripts/Upgrade-PowerShell.ps1.

[2017-10-05 01:24] #16436 closed, assigned to nobody

[2017-10-05 01:29] sharkvan opened #31332 "Path parameter should work like the copy task path parameter"
https://github.com/ansible/ansible/blob/d2c7539ae8907d840a22d32404f625ce9893bc1e/lib/ansible/modules/cloud/docker/docker_image.py#L312

The parameter for Path, should work like the file copy task. This way you can put docker container definitions in the role's "files" folder without needing to resolve the role path.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_image module

##### A

[2017-10-05 01:29] jborean93 commented on #31281
No worries, I am going to close the issue.

[2017-10-05 01:29] #31281 closed, assigned to nobody

[2017-10-05 02:35] os4mike commented on #31162
Hi @trishnaguha , the IOS is 12.4

[2017-10-05 02:55] greenaussie commented on #21513
@travis-bear did you open a bug? If so could you reference it. 2.4 seems faster than 2.3, but sill slow.

[2017-10-05 03:57] WUMUXIAN commented on #31232
+1 Have the some bug here

[2017-10-05 04:00] ghost opened #31333 "Apt: Option to Prevent "invoke-rc.d" initscripts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/acohea/Projects/uwlsg/Projects/Gitlab/ansible.cfg) = [u'/home/acohea/Projects/uwlsg/Projects/Gitlab/hosts']
DEFAULT_REMOTE_USER(/home/acohea/Projects/uwlsg/Projects/Gitlab/ansible.cfg) = root

##### OS / ENVIRONMENT

Host running Ansible is:
[code]
Remote host b

[2017-10-05 04:32] greg-hellings commented on #30720
@bcoca I can confirm that PR addresses the regression for me.

[2017-10-05 04:45] berney commented on #15249
In case people missed it, there's interesting comment posted in a related issue: -

https://github.com/ansible/ansible/issues/9362#issuecomment-331115658

[2017-10-05 04:55] rockholla commented on #29240
Also ran into this using the following:
[code]

Here's a workaround that seems to be going pretty well for me so far:
[code]

[2017-10-05 05:05] coltsixshooter commented on #30879
jscaltreto's fix for the resource pool is the one to go with.

[2017-10-05 05:28] riponbanik commented on #31281
@jborean93 I have also updated my github repo with the remove functionality as well and tested both works. Would like to have your suggestion to submit it to ansible core extra if not is not submitted already. Thanks Again.

[2017-10-05 06:14] #30720 closed, assigned to bcoca

[2017-10-05 06:26] jborean93 commented on #31281
I'm not sure this would be merged into Ansible, it looks like the same actions can be some with `win_lineinfile`.

[2017-10-05 06:31] kinware opened #31336 "The win_copy module in 2.4.0.0 fails if src contains a ":" character"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Linux control machine managing Windows hosts.

##### SUMMARY
We store managed Windows files on the Linux control machine using paths that contain c:, d: etc which allows simple copying. This works fine with ansible < 2.4.0.0 but stops working in 2.4.0.0. De

[2017-10-05 06:47] trishnaguha commented on #30439
@rahushen Idempotence works for me on devel for NXOS 9K.
Playbook:
[code]

Result:
[code]

[2017-10-05 06:59] trishnaguha commented on #31162
`section logging` can be changed to `include logging`. But discovering the OS version can be done when cliconf is implemented. We can deal with it thereafter. Adding milestone 2.5.0

[2017-10-05 07:14] jeinwag opened #31338 "docker_container module won't recreate container when environment variables are removed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The docker_container module doesn't correctly change/recreate containers when environment variables are removed from the specification and the playbook is run again.

PR with a possible fix will follow.

##### STEPS TO REPRODU

[2017-10-05 08:16] broferek opened #31341 "Ansible 2.4 : all BigIP modules are not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

BigIP modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plugins/action', u'/opt/kookel/kelkoo_ansible/plugins/action']
DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plugins/callback', u'/opt/kookel/kelkoo_ansible/plugins/cal

[2017-10-05 08:27] riponbanik commented on #31281
@jborean93  Thanks for your feedback.  For future

 1.what are the process and stages for submission?

2. how do i enable check and diff in powershell module?

3.  Is there any way to make my script reusable e.g. run the script locally as well as a ansible module?

4. Any plan to support DSC?

[2017-10-05 08:47] ghost opened #31342 "uri with http proxy"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

SLES 12.2
##### SUMMARY

The module not use the system proxy setting.
##### STEPS TO REPRODUCE

With a shell task and curl, the request works perfectly. However, the module does not use the system proxy settings. The set of environment variables is also ignored.

[code]

#

[2017-10-05 08:55] #30986 closed, assigned to trishnaguha

[2017-10-05 09:04] #31080 closed, assigned to nobody

[2017-10-05 09:54] LittleChimera commented on #31196
@kevensen it still wasn't working as expected. I submitted PR to your fix. Here's updated PR #31387

[2017-10-05 10:02] #26130 closed, assigned to ganeshrn

[2017-10-05 10:06] roumano opened #31344 "service module is not idempotent on centos6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module service

##### ANSIBLE VERSION
ansible in the Fedora 26 repo :
[code]

##### CONFIGURATION
[code]
I also have tested with ansible installed from pip and virtualenv :
[code]

##### OS / ENVIRONMENT

##### SUMMARY
service on RHEL6/Centos6 are not idempotent (tested on virtualbox box name " centos/6 " and on a "real" server Red Hat Enterpri

[2017-10-05 10:08] kedarkekan opened #31345 "[NETCONF]Create IOS-XR NetConf Plugin and module_utils refactor"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
iosxr_*
module_utils/iosxr.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
Add Netconf plugin for IOS-XR platform

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-10-05 10:36] soul9 commented on #31344
I have a similar issue with the systemd module on centos7:

the rpcbind.service task is in state changed every time I run ansible even though rpcbind.socket is disabled:

    - name: disable and stop the rpcbind service
      systemd:
        name: rpcbind.service
        state: stopped
        enabled: no
    - name: disable rpcbind socket
      systemd:
        name: rpcbind.socket
        state

[2017-10-05 10:42] halberom opened #31346 "eos_command - documentation; show cli with/without json and api examples"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Is it worth mentioning somewhere that result[0] puts you straight into a registered vars ['stdout'][0]?

The current examples are quite simple and appear to be specific to `transport: cli` results.  Add examples showing potential

[2017-10-05 11:19] rohingupta opened #31349 "How to pass string into Ansible Variable array"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
2.7.5

##### OS / ENVIRONMENT

##### SUMMARY
<I have the below list of variables

abc: 3V4L-CA6S-UHJ8
xyz: 06342107

MC_INI_VAR: " {{abc}} {{xyz}}"

This has been invoked in playbook using the below rule
 name : Starting generration process
  become: yes
  become_user: centos
  shell : java -jar run.jar {{MC_INI_VAR}}
  r

[2017-10-05 11:42] agenosov opened #31350 "Yum module doesn't allow downgrade using local RPMs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_KEEP_REMOTE_FILES(env: ANSIBLE_KEEP_REMOTE_FILES) = True
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/andrey/.config/deploy/deploy-log-1507199791.log
DEFAULT_TIMEOUT(/tmp/tmp.deploy-2.5.0-206.bundle.jyFznO4WVz/share/ansible.cfg) = 60
HOST_KEY_CHECKING(/tmp/tmp.deploy-2.5.

[2017-10-05 11:47] agenosov commented on #31350
Consider the patch which works in my case.
[ansible-yum-downgrade.zip](https://github.com/ansible/ansible/files/1359157/ansible-yum-downgrade.zip)

[2017-10-05 11:52] matysek commented on #31187
@bcambl thanks.

[2017-10-05 11:56] alex-left opened #31351 "[feature proposed] - option for command "ansible-playbook" to only executes a role"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ansible-playbook command

##### SUMMARY

In the same way that you can choose which tasks are executed when run a playbook with the options:
"--tags", "--skip-tags", "--start-at-task" or "--limit" could be use a option like "--only-roles" to run only a determined roles of your playbook

[2017-10-05 11:59] profhase commented on #14555
yes, it does, thanks

[2017-10-05 11:59] #14555 closed, assigned to nobody

[2017-10-05 12:18] Akasurde commented on #20819
@daBONDi Could you please retry with 2.4 Branch and let me know if you are still facing this issue ?

needs_info

[2017-10-05 12:44] Kniyl commented on #26741
Thank you @jrandall this is exactly the piece of documentation that I overlooked. I was focusing too much on the `become` part without checking on the `shell` end.

[2017-10-05 12:48] mkrizek opened #31353 "https://github.com/ansible/ansible/pull/31045"

[2017-10-05 12:54] #31353 closed, assigned to nobody

[2017-10-05 13:06] torched99 opened #31354 "replace module before/after wrong way around"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
files/replace module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A

##### SUMMARY

Simply try to use the replace module with either "before:" or "after:" alone, and for the opposite behaviour with both "before:" and "after:" together.  I would assume from the confusing description that begin/after values re

[2017-10-05 13:18] benashton2 commented on #31178
Hi @jimi-c

 Sorry for the delay, we have spent some time working through this and have believe we understand the issue. Hopefully you can confirm and possibly advice on a way to best move forward.

[code]
[code]
**role2, main.yml**
[code]
**role2, info.yml**
[code]
**get_instance_facts.yml**
[code]

Using the above example, before the first debug inside get_instance_facts.yml would run as the inc

[2017-10-05 13:23] samdoran commented on #18692
Fixed in #31065.

Cherry-picked for inclusion in 2.4.1.

[2017-10-05 13:23] #18692 closed, assigned to samdoran

[2017-10-05 13:23] samdoran commented on #16612
Fixed in #31065.

Cherry-picked for inclusion in 2.4.1.

[2017-10-05 13:23] #16612 closed, assigned to nobody

[2017-10-05 13:30] sharkvan commented on #31332
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_image module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Mac OSX Sierra 10.12

##### SUMMARY
When using the path parameter on the copy task you can reference files located in roles/[role name/files by just giving the file or folder name. This seems to be a common behavior across many tasks in ansible. The docker_image task is s

[2017-10-05 13:42] halberom opened #31355 "int type is not maintained"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Trying to set a fact to an int fails, instead a string is created.

##### STEPS TO REPRODUCE
See gist - https://gist.github.com/halberom/859118d6da28493e17ad806e6b44e24c

Create following playbook
[code]
##### EXPECTED RESULTS
The final debug

[2017-10-05 13:44] halberom commented on #31355
Apparently a workaround is to do
[code]
But that option is being deprecated

[2017-10-05 13:44] jhtapp76 opened #31356 "Compare two hosts before/after copy?"
Does anyone know of a way to compare the configuration of two separate hosts before and/or after a deployment? Meaning, I want to conduct a diff on numerous files in a pre-deployment and post deployment state to ensure there are no variances between the destination hosts.

Thanks for any tips.

[2017-10-05 13:45] halberom commented on #31355
closing as dup of many other tickets

[2017-10-05 13:45] #31355 closed, assigned to nobody

[2017-10-05 13:47] bcoca commented on #31356
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-05 13:47] #31356 closed, assigned to nobody

[2017-10-05 13:48] halberom commented on #31355
See https://github.com/pallets/jinja/pull/708 for ideal solution.

[2017-10-05 13:56] cypx commented on #29887
Just encounter the problem so I look the CI build to have more details.

To provide mysql interface the build use the python3-mysqldb package which contain a fork of MySQLdb named mysqlclient.

So if you use a Debian based  distribution you need to install python3-mysqldb or you could use "pip install mysqlclient" on most system to use mysql_* modules with Python3

Ansible documentation and warnin

[2017-10-05 14:19] ganeshrn commented on #30778
My bad, I missed the commit confirmed part in your comment.
If I understand it correctly you are trying to confirm a previous commit.

If that's the case this feature is not available in 2.3. From 2.2 to 2.3 there was a major refactor for `junos_config` module and it was probably missed out.

It is fixed as part of https://github.com/ansible/ansible/issues/26433 and is available in 2.4 release.

S

[2017-10-05 14:23] sivel commented on #31349
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-05 14:23] #31349 closed, assigned to nobody

[2017-10-05 14:27] bcoca commented on #31333
dupe #13641

[2017-10-05 14:27] #31333 closed, assigned to nobody

[2017-10-05 14:27] bcoca commented on #31333
I'll add this to the apt docs https://github.com/ansible/ansible/issues/13641#issuecomment-298889168

[2017-10-05 14:38] fhamed opened #31359 "No file created on the localhost when running by Tower"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Tower

##### ANSIBLE VERSION
2.3.2.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
Trying to create a file on the localhost. Running the playbook from command line creates the file as expected.
Running the same playbook from Tower does not.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
A new file on the /tmp

[2017-10-05 14:45] mpasserini opened #31360 "Ansible os_object lacks finegrained ACL capability"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible os_object.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you see
https://github.com/ansible/ansible/blob/d8b1cb9a634d0e828a7be39d4019a6215410e643/lib/ansible/modules/cloud/openstack/os_object.py#L120
and
http://docs.ansible.com/ansible/latest/os_object_module.html
"container_

[2017-10-05 15:00] sivel commented on #31178
Using your playbook and roles as outlined in https://github.com/ansible/ansible/issues/31178#issuecomment-334462037

I get the following output:

[code]

Based on what you are saying, you only see the 2nd debug, and I cannot reproduce this.  I get both.

I see the same output in 2.2.3, 2.3.2, 2.4.0

[2017-10-05 15:07] andilabs commented on #25823
adding `encrypted: yes` in `postgresql_user` seems do the job.

[2017-10-05 15:09] benashton2 commented on #31178
Hi @sivel

Odd, I will have another look at our ansible.cfg and update here if I see anything.

[2017-10-05 15:47] aperigault commented on #16025
Hello @jborean93,

I'm in 2.4.0 and the bug is always here, I add another exemple:

/etc/ansible/host_vars/localhost:
`my_test_var: Hello`

test.yml:
[code]

[code]
What i'm doing wrong ?

[2017-10-05 15:52] peakwinter commented on #20063
@telbizov The fix appears to be present in versions >= 2.4.0.0

[2017-10-05 15:56] taylorreece commented on #16025
@aperigault I would expect the behavior you saw.  In order for the variable to be defined in your first task, you'd probably need /etc/ansible/host_vars/myserver.local to also contain "my_test_var: Hello", right?

[2017-10-05 15:59] gildegoma commented on #30993
@alikins I think that after the merge of #22756 (Support of multiple vault passwords), the vault password is no longer captured by the Python `getpass.getpass` "secure password prompt" function.

See
 * https://github.com/ansible/ansible/pull/22756/files#diff-bdd6c847fae8976ab8a7259d0b583f34L175
 * https://github.com/ansible/ansible/blob/a14d0f3586617f678b2843a25b521243a99cd589/lib/ansible/parsing

[2017-10-05 16:08] aperigault commented on #16025
If I do that it works but I run my job on many hosts an I will not duplicate the file on all host. I can use group_vars/all but its ugly.

My example is not supose to work ?

[2017-10-05 16:37] taylorreece commented on #16025
@aperigault
I guess I see this as a distinct issue from the delegate_to issue.  If I'm running a local_action task against a series of servers (my_server_1, my_server_2, and my_server_3), I'd expect the local action to respect the variables related to my_server_1, my_server_2, and my_server_3 respectively.  If, say, every server knew what version of some software they were running, and I wanted to

[2017-10-05 16:40] datalogics-dans commented on #30168
This is a problem on 2.5.0 as well.

[2017-10-05 16:40] bcoca commented on #16025
FYI, `local_action` is an alias to `delegate_to: localhost` soo most vars will be from the `inventory_hostname`, but the connection vars should match `localhost`.

[2017-10-05 17:01] mattlan commented on #30778
That is good information to know, explains why the commit didn't work.  My rpc workaround is good for now, so I am alright with that.  My real outstanding issue is the rollback not working, as I do not have a viable workaround for that piece.

[2017-10-05 17:11] abadger commented on #30901
At today's meeting we decided that None is the most appropriate value here as setting it to anything else is a lie that will trip up some users (for instance, setting it to inventory_dir of the host which defines the host could end up with an unexpected inventory_dir if the user is running ansible with more than one inventory source and the play has hosts defined in different inventories.)  it's b

[2017-10-05 17:18] torvitas opened #31363 "virt_net description says something about storage pools"
##### ISSUE TYPE
 - Documentation Report

##### ANSIBLE VERSION
[code]

##### COMPONENT NAME
virt_net

##### SUMMARY
the description of the autostart option seems to be copy/pasted from the virt_pool module

[2017-10-05 17:24] abadger commented on #24169
We had to revert this fix for 2.4.1 as it was changing the value of output, thus breaking existing user's playbooks.  We're looking into a new fix for 2.5.x: https://github.com/ansible/ansible/pull/31361

[2017-10-05 17:27] abadger commented on #30836
This has been fixed in 2.4.1rc1 by reverting the change that caused it: bc6483c96a98a34d0965b4b51c54ac086fec686b

That change fixes a different bug so we'll have to implement a different change that fixes both that use case and this one for devel/2.5.x.  We're currently looking at such a fix here: https://github.com/ansible/ansible/pull/31361

[2017-10-05 17:32] halberom opened #31365 "constructed plugin creates keyed_groups with only last matching host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
The constructed plugin creates keyed_groups containing only the last matching host

##### STEPS TO REPRODUCE
https://gist.github.com/halberom/e7791aa22c7dd1ef3f1ece3c815b4af8

[code]
[code]
[code]

##### EXPECTED RESULTS
[code]

###

[2017-10-05 17:36] halberom commented on #31365
On a related topic, I seem to have to call the constructed file explicitely with `-i dynamic.config`.  Even if I move it into a directory and call the directory.  Is this intentional?

[2017-10-05 17:39] basictheprogram commented on #16436
Not sure if this is the right place to discuss, but asking here so if people find this issue in the future the information is here.

Starting in Windows10(?) powershell is maintained as part of Windows Updates?

So the need to upgrade powershell should become less over time as Microsoft will take care of keeping powershell up to date?

[2017-10-05 17:50] danieljaouen opened #31367 "homebrew_cask should squash actions"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
OS X

##### SUMMARY
with_items sometimes passes a list, sometimes iterates over each item in the given list. See: https://github.com/danieljaouen/ansible-base-osx/blob/master/tasks/common.yml and https://github.com/danieljaouen/ansible-base-osx/blob/master

[2017-10-05 17:57] samdoran commented on #31341
My guess is this is a Python 2.6 issue. Can you provide details on your Python version and try running with Python 2.7 to see if the issue still exists?

needs_info

[2017-10-05 17:58] bcoca commented on #31365
no, it should be picked up in dir also

[2017-10-05 17:58] danieljaouen commented on #29428
This is definitely a result of this: https://github.com/ansible/ansible/pull/16966

This means the ```homebrew_cask``` module should be added to the ```squash_actions``` list.

[2017-10-05 18:05] nitzmahone commented on #30289
Seems reasonable to me...

[2017-10-05 18:06] eikef commented on #24735
This looks good to me, and was locally tested.

[2017-10-05 18:06] danieljaouen commented on #31367
It seems like this PR ( https://github.com/ansible/ansible/pull/16966 ) put ```homebrew``` into the ```squash_actions``` list, but forgot to add ```homebrew_cask```.

[2017-10-05 18:06] eikef commented on #24735
shipit

[2017-10-05 18:07] calfonso commented on #11993
This proposal covers this feature request. Closing this issue. https://github.com/ansible/proposals/issues/7

[2017-10-05 18:07] #11993 closed, assigned to nobody

[2017-10-05 18:09] calfonso commented on #12003
Please test this out on the latest release and if you aren't seeing the functionality you're looking for, let us know! https://github.com/ansible/ansible/issues/30379

[2017-10-05 18:09] #12003 closed, assigned to nobody

[2017-10-05 18:10] nitzmahone commented on #30289
https://github.com/ansible/ansible/pull/31369

[2017-10-05 18:11] nitzmahone commented on #30289
Closing this issue, since the underlying problem is related to local configuration.

[2017-10-05 18:11] #30289 closed, assigned to nobody

[2017-10-05 18:11] calfonso commented on #12059
Please create a proposal and bring it to the weekly IRC meeting. We will discuss your proposal in that meeting and then ask that you work through a PR with us. This request is too large for a feature_idea issue. Thanks for your help!

[2017-10-05 18:11] #12059 closed, assigned to nobody

[2017-10-05 18:12] ei-grad commented on #19765
Same for ansible 2.4 with `import_tasks` and `include_tasks`...

[2017-10-05 18:13] #12087 closed, assigned to alikins

[2017-10-05 18:17] sivel commented on #31367
I've updated the issue subject to better reflect what the real need is here.

[2017-10-05 18:22] davidedelvento commented on #1780
@mpdehaan For this oversimplified example, yes, two separate playbooks will work better. But it doesn't take much in real life to have something in which having two separate playbooks will cause **a lot** of duplication and having unnecessary prompts become pretty annoying.

[2017-10-05 18:25] calfonso commented on #12159
Do you still need this feature? We haven't heard anyone else looking for this functionality and we are believe you'll be able to accomplish what you need by using the ssh_extra_args feature.

[2017-10-05 18:26] abadger commented on #12159
needs_info

[2017-10-05 18:30] sivel commented on #30628
This has been resolved in both devel and stable-2.4.  It will be reflected in the docs when the next doc build ocurrs.

https://github.com/ansible/ansible/pull/30257

[2017-10-05 18:30] #30628 closed, assigned to nobody

[2017-10-05 18:30] calfonso commented on #12159
Paramiko now also supports ssh_extra_args and ssh_common_args to have parity with ssh.

[2017-10-05 18:30] #12159 closed, assigned to nobody

[2017-10-05 18:35] #12263 closed, assigned to nobody

[2017-10-05 18:35] #12264 closed, assigned to nobody

[2017-10-05 18:38] danieljaouen commented on #31367
Requires this PR to work correctly: https://github.com/ansible/ansible/pull/31372

[2017-10-05 18:47] calfonso commented on #11973
We have local action tasks for this purpose.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Because this

[2017-10-05 18:48] #11973 closed, assigned to nobody

[2017-10-05 18:48] thaumos commented on #12353
Just to be clear, is the ask to use a flag or option within ansible-galaxy to do a git clone as opposed to  just downloading a tarball?

[2017-10-05 18:50] calfonso commented on #12710
We have failed_when: that you can use with a negation of the condition. Is there anything we are missing with your request that isn't solved by using failed_when?

[2017-10-05 18:51] calfonso commented on #12730
group_names | sort should accomplish what you want.

[2017-10-05 18:51] #12730 closed, assigned to nobody

[2017-10-05 18:52] #12710 closed, assigned to nobody

[2017-10-05 18:52] dan-osms commented on #31055
@s-hertel My thoughts are that within my test env running Ansible 2.4.0.0 that my credentials aren't being loaded. I have plumbed my ~/.boto with my credentials but it continue to loads the default secret and access keys.

To subjugate my sanity I am building a fresh Centos 7 nodes with Ansible 2.3.2.0 on one, and 2.4.0.0 completely logically separated to see if I can tease out this issue.  And to

[2017-10-05 18:55] calfonso commented on #12731
Hi!

We believe recent commits (back in 2.2) should resolve this question or problem for you.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/

[2017-10-05 18:55] #12731 closed, assigned to nobody

[2017-10-05 18:58] ryansb commented on #31055
I've also tried to reproduce this and haven't been able. @shdobxr can you provide a reproducer and/or a dump of the env, credentials, and other factors in your setup? Do you have a second machine you can replicate this on?

Please reopen if you're able to replicate or have more info that can help us reproduce this bug.

[2017-10-05 18:58] #31055 closed, assigned to nobody

[2017-10-05 18:58] calfonso commented on #12731
https://github.com/ansible/ansible/commit/236c923c25c053b0ff912f328e87da2dd26cbf69 for reference.

[2017-10-05 19:00] calfonso commented on #12754
You can use serial: [1, *] at the top of your playbook and ctrl+c when the failure occurs.

[2017-10-05 19:00] #12754 closed, assigned to nobody

[2017-10-05 19:00] calfonso commented on #12754
You actually don't need to ctrl+c because the play will fail.

[2017-10-05 19:01] abadger commented on #13075
This is done.  We now use cryptography if it is installed with a fallback to pycrypto.  Since cryptography is dropping its support for python-2.6 we're going to have to keep the fallback for many years :-(

[2017-10-05 19:01] #13075 closed, assigned to nobody

[2017-10-05 19:01] bbaassssiiee commented on #12353
This should be a flag for the ```ansible-galaxy``` command. Opposed to the view of @umeboshi2 I think it is best not to touch ```requirements.yml``` for this use-case. Only maintainers - tool smiths - will need this flag for integration testing and developing roles in separate repositories.

[2017-10-05 19:15] bcoca commented on #12091
closing in favor of project of same name

[2017-10-05 19:15] #12091 closed, assigned to bcoca

[2017-10-05 19:24] jficz opened #31374 "include_role error message does not specify file or location"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY
ansible-playbook yields error without relevant information, such as where the error is

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File name and line where the error is present as part of the error messag

[2017-10-05 19:29] kerugu commented on #30327
I didnt hear back anything on this, can you please provide an update, with findings and do we have a fix for this

[2017-10-05 19:32] #30679 closed, assigned to nobody

[2017-10-05 19:38] jficz opened #31375 "passwordstore lookup prints password in plaintext when used in set_fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

passwordstore lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default
##### OS / ENVIRONMENT

Arch Linux
##### SUMMARY

When using passwordstore lookup in set_fact, the result gets printed on stdout in plaintext if verbose
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]