[2019-07-04 13:29] axelthimm commented on #58673
I did some more digging and it turns out that I was comparing apples and oranges --- here namespaces and projects.
I was able to list projects and create projects with oc project/new-project and naively thought there are superentities of namespaces (which they kind of are, but then again not) - the RBAC does allow to query/create projects, but not namespaces. Quite an obscure setup, but that's the

[2019-07-04 13:29] #58673 closed, assigned to nobody

[2019-07-04 14:44] markocelan commented on #29366
@s-hertel Thank you for your feedback. However I don't see how this would solve the issue that @X-dark described.
Still I'd like you to help me understand - in context of my module - is behaviour of `purge_tags` not as guidelines suggest? I find description from documentation quite vague.

[2019-07-04 15:14] jrn74 opened #58731 "archive module 'exclude_path' bug"
##### SUMMARY

Directory within a directory is not excluded

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: Archive
Parameter: exclude_path

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

Create dir structure with random files
Ex:
/opt/tomcat/
├── logs
│   ├── log01
│   ├── log02
│  

[2019-07-04 16:51] basictheprogram commented on #57195
Upgraded python and all works as expected.

[2019-07-04 16:51] #57195 closed, assigned to nobody

[2019-07-04 18:00] ArseniiPetrovich opened #58733 "Hash merging doesn't work correctly, if host_vars has empty hash"
##### SUMMARY
I have two hashes in `group_` and in a `host_` vars. I've configured `hash_behaviour = merge` to merge these hashes.
It works pretty well if both hashes are filled, but if the hash in a `host_vars` hash is empty, the merge process doesn't happen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hash_behaviour

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / E

[2019-07-04 18:51] bjordanov4 commented on #57535
I have the same problem. Can we get this fixed?

[2019-07-04 19:03] DerrickTJ commented on #58603
mso_schema_template_bd_subnet does the same thing complaining the BD doesn't exist.

Workaround: ignore_errors: "{{ ansible_check_mode }}"

[2019-07-04 19:07] bjordanov4 commented on #57535
I changed the lines 348 and following to get this:
           if not self.module.check_mode:
                if increase_level:
                    # Loop in forward order (start with past day interval)
                    for statistic in change_statistics_list:
                        self.update_perf_interval(perf_manager, statistic)
                elif decrease_level:
                    # Lo

[2019-07-04 19:14] kanom54 commented on #38264
I have the same issue, need to specify the connection port. All our Fortigate devices have a custom port.
CC @bjolivot

@grez86 did you solve it?

[2019-07-04 19:56] asdkant opened #58736 "tower_job_wait fails when reporting on a failed job"
##### SUMMARY
When using the module `tower_job_wait` to report on a job that failed, the task fails because it does not catch the exception thrown by `job.monitor()` (see [API reference for tower_cli](https://tower-cli.readthedocs.io/en/latest/api_ref/resources/job.html#tower_cli.resources.job.Resource.monitor))

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`tower_job_wait` ansible module

[2019-07-04 20:10] mariolenz commented on #57535
Maybe this worked for you, but I think there's a basic logical flaw in this module that your workaround didn't fix. I think we should try to fix the basic problem instead of writing workarounds. At the moment, I concentrate on issue #58023 / PR #58468 but I'll try to work on this problem soon.

[2019-07-04 20:15] ssbarnea commented on #56832
Is not a a duplicate, this is a genuine bug. The package module should not trigger a warning about aptitude as that not the official package manager on Ubuntu.

[2019-07-04 20:56] johnboy2 commented on #58700
I agree that a multi-hop issue seems likely. Beyond the `ansible_winrm_kerberos_delegation: true` suggestion above, you might also try rerunning your PS command via a psremoting session (possibly using a few different authentication methods), to see how they behave here.

[2019-07-04 21:42] #58691 closed, assigned to nobody

[2019-07-04 21:44] ShachafGoldstein commented on #45298
You can query the user and register it, then use its GUID or SID as the `name: SID` option to chane SAM

[2019-07-04 22:00] #58088 closed, assigned to nobody

[2019-07-04 22:08] #56757 closed, assigned to nobody

[2019-07-04 22:38] ShachafGoldstein commented on #45298
As per the issue itself - IMHO we shouldn't change the module to hold the SID - changes to SAM should be done with the SID or GUID given in the name property - maybe we should just add an example in the docs for this

[2019-07-04 22:44] #57547 closed, assigned to nobody

[2019-07-04 22:51] ShachafGoldstein commented on #44450
I believe this can be closed - @jborean93

[2019-07-04 23:05] Im0 commented on #55919
Thanks @jtisserand for the input/information.  I'll try to take a look over the weekend regarding the newer version of Pika.

[2019-07-04 23:19] jborean93 commented on #44450
Thanks @ShachafGoldstein, it would be nice to have a backport to stable-2.8 as well of the fix.

[2019-07-04 23:19] #44450 closed, assigned to nobody

[2019-07-05 00:00] lbin9441008 commented on #58700
@johnboy2 @jborean93 thank you so much

To use the `credssp` fixed the issue and I'm able to update DNS entries with `win_dns_record` module successfully

[2019-07-05 00:00] #58700 closed, assigned to nobody

[2019-07-05 00:37] zikalino commented on #58585
I think you may try to use **azure_rm_resource**. Could you give Azure CLI example you're using?

[2019-07-05 01:50] MyronFanQiu commented on #58729
@andyeff Thanks! We will investigate this issue. @zikalino @yungezz This is a issue about VM and its `zones` parameter. Please take a look when you are free.

[2019-07-05 02:07] nagonzalez commented on #55551
I submitted a PR as I think I have a fix. @PulsatingQuasar pointed me in right direction.  With the code change below, I no longer get a "vmdk already exists" error.

[code]

[2019-07-05 04:01] geerlingguy commented on #45214
@hidekuro - There are a number of valid use cases for running Ansible playbooks inside k8s, including applications which may be immutable but can be used to change other resources outside the cluster—or even inside (e.g. updating deployments via other applications running playbooks in Jobs or CronJobs, that kind of thing).

Also, there is a problem—using your code I need to create and manage an an

[2019-07-05 04:09] wimnat commented on #29366
@markocelan

A `purge_tags` parameter should default to true which would maintain current (and standard) ansible behavior.

By setting `purge_tags` to false, existing tags would be maintained as well as adding the tags in the provided in the module.

[2019-07-05 04:46] willthames commented on #29366
@markocelan we also would rather the support for s3 tags go into the s3_bucket module, rather than a dedicated s3_tag module (however, it's great that you've made a working solution available until such time as tags get added into s3_bucket)

[2019-07-05 05:12] bjordanov4 commented on #57535
Great! Thanks for your response - will see if I can find some time to do a better fix this time 😃

[2019-07-05 05:34] Akasurde commented on #58721
@nicolaibaralmueller Thanks for reporting this issue. Could you please check if PR #58737 works for you and let me know ? Thanks

needs_info

[2019-07-05 05:34] Akasurde commented on #58721
resolved_by_pr #58737

[2019-07-05 05:36] Akasurde commented on #56861
@realged13 Could you please check if PR #58737 and let me know if it works for you ? Thanks.

[2019-07-05 05:36] Akasurde commented on #56861
resolved_by_pr #58737

[2019-07-05 05:38] Akasurde commented on #55551
@GrandeTartine Could you please check if PR #58737 works for you and let me know ? Thanks.

needs_info

[2019-07-05 06:30] frsauvage commented on #55919
Hello @Im0 , thank you for all your answer.
I didn't have time to test with an older pika version,
@jtisserand , let us know,
thanks,
Francine

[2019-07-05 06:39] A-BenMao commented on #58695
Why no one cares about my issue？QAQ

[2019-07-05 06:53] rthill commented on #55551
The proposed fix by @nagonzalez works for me. I am able to create new VM using the following disk parameters:
[code]

[2019-07-05 07:05] ganeshrn commented on #57226
@christ2016 Thanks for sharing the required info. The trigger for failure is:
[code]

The `load_configuration` method is defined in [junos netconf plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/netconf/junos.py#L74) and is invoked from [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/jsonrpc.py#L36).

Based on the error it seems some issue related t

[2019-07-05 07:16] ganeshrn commented on #57226
Ah I see the issue now. Please ignore my ealier comment.
[code]

The `network_os` value is set to the `default` that's why it is invoking the [default netconf plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/netconf/default.py) which handles standard netconf calls.

Set `ansible_network_os=junos` is your inventory file and grep for below line in the logs to the enusre the

[2019-07-05 07:30] markocelan commented on #29366
@wimnat Thanks for clarification. I changed default value of `purge_tags` to true.

@willthames I intended this module to cover missing functionality that should, in my opinion, be split between aws_s3_bucket_facts and s3_bucket modules.
Also I saw there is a separate module for ec2_tag (which was my starting point for my module). That's why I implemented it this way. Also it is much easier to add

[2019-07-05 07:48] asarubbo opened #58745 "hcloud_server misses a way to protect a server"
##### SUMMARY

Add a way to protect a server

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hcloud_server
##### ADDITIONAL INFORMATION

The feature would be used to protect a server

[code]

[2019-07-05 07:51] asarubbo opened #58746 "hcloud_server misses a way to put a server in rescue mode"
##### SUMMARY

Atm, there is no way to put the server in rescue mode

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hcloud_server

##### ADDITIONAL INFORMATION

Atm, Since I can use the hetzner api, I'm using the following code to put it into rescue:

[code]

[2019-07-05 07:51] ganeshrn commented on #57226
The [commit](https://github.com/ansible/ansible/commit/406b59aebac7244e492577409495572947c182e6) is the reason it fails while moving from 2.7 to 2.8.
If `ansible_network_os` value is not set for connetion=netconf it does auto-discovery and tries to figure out the value of network os by connecting to the device and grepping the os name in netconf, hello message send from server.
I will rasie a PR t

[2019-07-05 08:08] ttencate commented on #56571
The story turns out to be a bit more complicated: despite my earlier assertion, the addition of `--` does _not_ work on newer versions.

On Arch Linux, I used the following shell script to check the behaviour of old machinectl versions:

[code]

I couldn't go beyond v232 because of library dependency issues. The results:

[code]

So it seems that there's no approach that works with all versions. W

[2019-07-05 08:12] sawicchiraw opened #58747 "Module zabbix_action maintenance_status requires unavailable operator"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux zabbix 4.4.0-154-generic #181-Ubuntu SMP Tue Jun 25 05:29:03 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

zabbix 4.0, zabbix api Action object
https://www.zabbix.com/documentation/4.0/manual/api/reference/

[2019-07-05 08:24] mator commented on #58724
can't reproduce issue:

[code]

do you have debian lsb-release package installed ?

[2019-07-05 08:27] alexeyd-itsoft opened #58748 "Incorrect value of group_names with delegate_to"
##### SUMMARY
When use delegate_to with group_names - we get incorrect value of groups the current host is part of

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

[code]
inventory file `hosts.ini`
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2019-07-05 09:25] kees-closed opened #58749 "DNF: Update overview (just like apt)"
##### SUMMARY
DNF doesn't give any meaningful output when upgrading a system. The only output that's given is 'ok', 'changed', 'fatal' and other Ansible status updates. But no package differences (such as what is installed/upgraded/removed). When running an update on an apt-basd system, an overview is printed to stdout like this:
[code]

DNF only shows this:
[code]

Running Ansible version:
[code]

[2019-07-05 09:29] xoxys commented on #55850
Downgrading ansible to 2.7.10 fixed this for me currently

[2019-07-05 09:32] mator commented on #58493
@dagwieers , can you please look ? thanks!

[2019-07-05 09:35] glynastill commented on #57026
Looks like AWS changed the start time format for newer instance/volume types to have microsecond precision.  Older volumes give milliseconds on start_time as .000Z, where newer ones have an actual 3 digit precision like .530Z

Fix is pretty straightforward from my perspective:

[code]

[2019-07-05 09:40] theredcat commented on #54790
Indeed that's why I was asking :)

[2019-07-05 09:42] willthames commented on #57026
@glynastill Agreed - could you raise a PR to that effect?

[2019-07-05 09:45] srbharadwaj opened #58752 "Unsupported parameters message doesn't show aliases"
#### ISSUE TYPE

- Bug Report

#### SUMMARY
In anisble playbook we can specify ‘aliases’ for certain parameters if available
But if we do say a typo in the parameter name then playbooks fails with "Unsupported parameter"
the message “Unsupported parameters..” shows all the parameters that are supported, but these doesn’t include the aliases.
Code:
Say module has the following
[code]
 The parameter

[2019-07-05 09:52] biohazd commented on #57026
Here is it - https://github.com/ansible/ansible/pull/58753

[2019-07-05 09:53] Andersson007 commented on #58644
@cans , thanks again for the feedback!

what about the situation where we pass variable as positional args with several dots like:
```- 'mydb.myschema.tablename.COLUMName'``` it must be changed internally to ```"mydb"."myschema"."tablename"."COLUMName"```
```- 'Tablename.column'``` => ```"Tablename"."column"```
```- 'shemaname.Tablename'``` => ```schemaname"."Tablename"```
```- Tablename``` => ```

[2019-07-05 09:58] GrandeTartine commented on #55551
@Akasurde The PR works for me. Thanks.

[2019-07-05 10:00] willthames commented on #29366
The defaults for `purge_tag` very much depend on when they were added. As they were usually added after the tags functionality, the value of `purge_tags` defaults to maintain consistent behaviour before it was added

AWS's tagging functionality has always been ludicrously inconsistent, and Ansible has pretty much followed in its inconsistency (to be clear, I blame AWS, not Ansible). As such the ex

[2019-07-05 10:07] Akasurde commented on #58752
!component =lib/ansible/module_utils/basic.py

[2019-07-05 10:10] patede commented on #58568
/redfish/v1/Systems/1 :
`
{
   "@odata.context":"/redfish/v1/$metadata#ComputerSystem.ComputerSystem",
   "@odata.type":"#ComputerSystem.v1_3_0.ComputerSystem",
   "@odata.id":"/redfish/v1/Systems/1",
   "Id":"1",
   "Name":"System",
   "Description":"Description of server",
   "Status":{
      "State":"Enabled",
      "Health":"OK"
   },
   "SerialNumber":"E2640xxxxxxxxxx",
   "PartNumber":"SYS-2

[2019-07-05 10:21] wturrell commented on #30864
Just to endorse what @MartinVUALTO said - that you can see a bunch of tasks, all with no conditions showing `"skip_reason": "Conditional result was False"` because you accidentally entered the wrong tag name.

[2019-07-05 10:29] Akasurde commented on #57026
resolved_by_pr #58753

[2019-07-05 10:43] vijayscsa commented on #57389
Folks,  still we couldn't get answer for this.
Can some one help how to set Cluster resource Percentage instead of slot_policy.   Any work arounds .. Thanks!

[2019-07-05 10:43] vijayscsa opened #58755 "Cluster resource Percentage"
how to set Cluster resource Percentage instead of slot_policy.   Any work arounds .. Thanks!

[2019-07-05 10:44] vijayscsa commented on #58755
Cluster resource Percentage

[2019-07-05 11:06] markgoddard commented on #56930
This is going to break everyone. Bad decision.

[2019-07-05 11:07] alastairwilson commented on #57189
For those who can't find a stale **/run/yum.pid** have a look for **/var/run/yum.pid** instead.

[2019-07-05 11:08] vijayscsa opened #58757 "VMware: vmware cluster HA properties of Host failover capacity to cluster resource percentage"
Unable to set the Define host failover capacity by " Cluster Resource percentage" in Admission Control column of Cluster Properties of vSphere HA.

[2019-07-05 11:23] Im0 commented on #55919
Hi @frsauvage @jtisserand - I noticed that in Pika 1.0.0 release they removed the "legacy" basic_publish, and, renamed publish to basic_publish.  https://pika.readthedocs.io/en/stable/version_history.html?highlight=basic_publish#id2

pika 0.13.1 works great for me too.  I'd recommend pika 0.13.1 until I can update the module + plugin.  (Taking a look at the moment)

[2019-07-05 11:41] #55248 closed, assigned to Akasurde

[2019-07-05 11:47] maglub commented on #56930
Would there be a way to reason with the maintainers about this?

Perhaps one of the maintainers could elaborate a bit here, if it is just a support issue or if they are using python constructs that really breaks?

[2019-07-05 12:16] Akasurde commented on #57389
@vijayscsa Currently, there is no workaround for this. Would you be interested in contributing to this ? Thanks.

[2019-07-05 13:02] #58493 closed, assigned to nobody

[2019-07-05 13:17] MarkJB commented on #58511
Running devel vs PR58680, with pattern matching for .cfg against the network share, devel takes less than a second to return 13 matches (obviously not the .exes).

The PR branch currently takes about a minute to return the same.

I appreciate there is more data to return when actually matching the exes but its only about twice the amount of files (29 total, with pattern matching returning 13 for b

[2019-07-05 13:20] christ2016 commented on #57226
Confirmed fixed, many thanks!

[2019-07-05 13:20] #57226 closed, assigned to ganeshrn

[2019-07-05 13:20] stephan2012 opened #58759 "ZFS tries to change immutable attributes"
##### SUMMARY

Module `zfs` tries to set immutable attributes like `volblocksize`. Seems to be a regression, see https://github.com/ansible/ansible-modules-extras/issues/769 and https://github.com/ansible/ansible-modules-extras/pull/1378

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zfs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux 9.

[2019-07-05 13:35] jbarotin commented on #10829
@sivel An other argument for this issue. Sometime, while a playbook is executed, it run a task, then we notify a handler... several tasks after the playbook failed (for a different reason) . The handler is not triggered and the host is not in a good state. With Immediate handler we can ensure the handler is executed for the successfully executed task, state of host of the host. This typically happ

[2019-07-05 13:40] ShachafGoldstein commented on #58511
The module gets the info on all the files before screening them to return
only valid files

Can you test the same scenario with devel without any dedup on a share for
only .Cfg files? If it takes the same time as the PR then that is your
answer

I'll try to do the same later

On Fri, Jul 5, 2019, 4:18 PM Mark Benson <notifications@github.com> wrote:

[2019-07-05 13:47] escardin opened #58760 "Pipe operator does not tolerate leading newlines in 2.8.0 to 2.8.2"
##### SUMMARY
When running win_shell commands with a leading newline after the pipe, ansible fails with an error indicating a bug in 2.8.x+ in 2.7.x it works properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
| operator

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed #produces no output

[code]

##### OS / ENVIRONMENT

Originally discovered tryin

[2019-07-05 13:49] m4r10k commented on #55551
Haven't have the time to test it until now, but many thanks to all for the their effort!

[2019-07-05 13:57] nicolas-marcq commented on #34144
And still with version 2.8.2

[2019-07-05 13:59] jean-christophe-manciot opened #58761 "Issue accessing nested data structures with a numeric variable attribute/key"
##### SUMMARY
Using a variable attribute to access nested data structures confuses ansible when the depth is more than 1.
Let's assume the following nested data structure:
[code]
There is no issue accessing ```pg[pg_cluster].port``` where the variable attribute ```pg_cluster``` can be one of awx|opennms...
However, there is a strange issue accessing ```pg.admin[pg_version].port``` where ```pg_vers

[2019-07-05 14:04] elwinh opened #58763 "delegate_to not working"
##### SUMMARY
My job can't connect to a Windows machine within 'delegate_to' task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
I use the following playfile and role:

main.yml
[code]

playfile.yml
[code]

##### EXPECTED RESULTS
I expect the code to be run on the w

[2019-07-05 14:38] bcoca commented on #58761
I don't think you correctly diagnosed the issue, to me it looks like 11 is a numeric key but during variable interpolation we are trying to use '11' instead, quote the keys on definition to force them to be strings all around.

[2019-07-05 14:45] bcoca commented on #58695
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-05 14:45] #58695 closed, assigned to nobody

[2019-07-05 14:45] bcoca commented on #58695
FYI, we don't process issues every day and Thursday was a holiday in the USA so most of us were on vacation.

[2019-07-05 14:50] Gelob commented on #49254
I have this same problem running 2.8.1 when using ios_config. setting the env variable ANSIBLE_HOST_KEY_CHECKING=False works

If I set the either of the following in my ansible.cfg or even /etc/ansible/ansible.cfg it doesn't work. and I get an error from paramiko that the authenticity of the host can't be established.

[code]

[2019-07-05 14:51] bcoca commented on #58748
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

It is not expected that all variables reflect the delegated host, this is used only to connect and execute the task, so `group_names` i

[2019-07-05 14:51] #58748 closed, assigned to nobody

[2019-07-05 14:57] sivel commented on #58629
I've changed the title, and an re-opening this issue.

[2019-07-05 14:58] agaffney opened #58769 "Hang while executing handler when handler is included and notifies another handler"
##### SUMMARY
I'll start by saying that this is a bit of a weird one. It seems that when a handler task is included from another handler and notifies yet another handler, ansible generates spurious warnings and then hangs.

Just to confuse things even more, if you remove the variable reference in `name` OR the `notify` from `bar_handler_tasks.yml`, ansible executes normally.

Another thing to note

[2019-07-05 15:11] glennie opened #58770 "Cryptic error message when a invalid tag used with docker_image module"
##### SUMMARY
While using docker_image module, I got a strange exception: "requests.exceptions.ConnectionError: ('Connection aborted.', error(104, 'Connection reset by peer'))"

After spending few hours on debugging, I found this exception was raised because the tag I used has a '/', which is not accepted by docker (and the exception raised by was ansible was misleading).

IMHO, docker_* modules s

[2019-07-05 15:16] MarkJB commented on #58511
Time taken was about the same for the non deduped share & for a local folder.

The anomaly is only there when querying the deduped share with devel (or the released version). Maybe the share is doing some caching.

Either way your fix appears to do the job.

[2019-07-05 15:17] jean-christophe-manciot commented on #58761
@bcoca  You're right: changing the data structure to:
[code]
does not trigger the issue.
Does that mean that it is impossible to access the value with a numeric key (when it is defined as such in the data structure)?

[2019-07-05 15:20] sivel commented on #58769
!component =lib/ansible/plugins/strategy/__init__.py

[2019-07-05 15:22] sivel commented on #58769
This issue can be resolved with this change:
[code]

Although this technically changes output behavior, it runs the included tasks through the much more robust standard task execution, instead of treating them as handlers.

The effect would be this:

[code]

Instead of seeing:

[code]

[2019-07-05 15:53] ShachafGoldstein commented on #58511
The time difference is a bit worrying, although the change doesn't really
explains it

On Fri, Jul 5, 2019, 6:18 PM Mark Benson <notifications@github.com> wrote:

[2019-07-05 16:02] ansensible opened #58772 "file module not creating directory if symlink exists"
##### SUMMARY

The file module does not create a directory if a symlink exists
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian stretch

##### STEPS TO REPRODUCE

run the following playbook

[code]

##### EXPECTED RESULTS

/tmp/test is a directory

##### ACTUAL RESULTS

/tmp/test is a symlink

[code

[2019-07-05 16:23] #40885 closed, assigned to nobody

[2019-07-05 16:25] zabullet opened #58773 "apache2_module fails if apache2ctl configtest fails"
##### SUMMARY
module apache2_module fails if apache2ctl configfigtest fails.

Because you match module name using apache2ctl -M this function

https://github.com/ansible/ansible/blob/05c6ff79f9860dbd6b43cb4914ee749baf65b9f7/lib/ansible/modules/web_infrastructure/apache2_module.py#L135

If that fails because of a config issue it causes apache2_module to fail.

There are use cases where you might wa

[2019-07-05 16:50] Akasurde commented on #58757
@vijayscsa Thanks for reporting this issue. Could you please fill above mentioned information, since this information is used by bot to identify and ping respective Working Group ? Thanks.

[2019-07-05 16:51] #58755 closed, assigned to nobody

[2019-07-05 16:52] Akasurde commented on #58755
Tracked via https://github.com/ansible/ansible/issues/58757

[2019-07-05 16:53] Akasurde commented on #58724
cc @samdoran

[2019-07-05 16:53] robinro commented on #58773
@zabullet

The configcheck is a feature and useful to give feedback about incorrect configs and fail early.

An option `ignore_configcheck` was added some time ago to work around a case where multiple conflicting modules can only be switched via a temporary invalid config.

To me the possible fixes/workarounds for your case are:
a) Run these tasks only after the corresponding DocumentRoot is avail

[2019-07-05 17:00] ableischwitz commented on #58619
@samdoran: The point is not creating a local group with a *different* GID. The point is that even when *just* re-creating a LDAP defined group locally (same GID), the group module unconditionally creates a new local group:

`
TASK [Create /etc/group entry for nginx] *************************************************************************************************************************************

[2019-07-05 17:41] jikamens opened #58775 "npm module gives completely cryptic, useless error when you list multiple packages under name:"
##### SUMMARY
npm doesn't allow "name" arg to be list, gives completely useless, cryptic error when it is

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Both console and remote ansible host are Ubuntu 19.04 amd64.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The listed npm packages are install

[2019-07-05 18:41] mariolenz commented on #57389
@Akasurde If nobody else wants to work on this, I will as soon as I'm through with #58468.

[2019-07-05 19:27] billdodd commented on #58568
Thanks for adding the resources. There are some JSON errors in those payloads (commas after the last element in a list). For example in `/redfish/v1/Systems/1`:

<img width="678" alt="Screen Shot 2019-07-05 at 2 20 34 PM" src="https://user-images.githubusercontent.com/3341721/60741714-233da580-9f30-11e9-93b8-a362cf81c624.png">

And one similar error in `/redfish/v1/Systems/1/Storage` and two simil

[2019-07-05 19:29] sivel commented on #58760
Duplicate of https://github.com/ansible/ansible/issues/46379

[2019-07-05 19:35] sivel commented on #58710
Duplicate of https://github.com/ansible/ansible/issues/58352

Please read https://github.com/ansible/ansible/issues/58352#issuecomment-505614663

[2019-07-05 19:35] #58710 closed, assigned to nobody

[2019-07-05 21:39] kuwv commented on #16804
Ran into a blocker because of this very issue with: https://github.com/freeipa/ansible-freeipa

The galaxy version is busted and ansible-galaxy is unable to deploy from github in it's current layout unfortunately. :(

[2019-07-05 22:14] zikalino commented on #58220
This is fixed here:
https://github.com/ansible/ansible/pull/58320

[2019-07-05 22:14] #58220 closed, assigned to nobody

[2019-07-06 07:05] pratikgadiya12 commented on #43594
@rlaager : `def mysql_connect` gets it from `module.params` directly. PTAL at https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/module_utils/mysql.py#L53

[2019-07-06 07:12] markuman opened #58786 "gluster_volume single node volume failure while the volume is created"
##### SUMMARY
When I create a single node gluster volume, ansible returns an error, but the volume is created.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gluster_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux pop-os 5.0.0-15-generic #16pop0-Ubuntu SMP Wed May 15 14:41:25 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

I

[2019-07-06 08:16] hernando-garcia commented on #23914
Be nice to have the resize functionality in parted instead of using command. Something like:
- name: Resize a partition
  parted:
    device: {{device}}
    number: {{partition_number}}
    resized: true
    size: 100%
....

Of course there would be the need (in my case) for extending the PV and FS but that's another topic altogether since there isn't an ansible module for LVM that I know of can d

[2019-07-06 11:32] FleischKarussel commented on #23914
Hey,
I can recommend growpart as an alternative.

[2019-07-06 12:35] vijayscsa commented on #57389
@Akasurde sure,  I am working towards on this

[2019-07-06 14:59] Akasurde commented on #56626
@sjortiz Are you working on this ? Thanks.

[2019-07-06 15:19] vespian opened #58787 "Privilage escalation prompt timeout when working in a loop with different users"
##### SUMMARY
Ansible reports password escalation prompt timeout when running a task with a loop, but only during 2nd iteration when using `ansible_connection=local`. The first iteration passes. See the attached playbook for a repro and details.

This is a change compared to older versions. I am not 100% sure but I think 2.7 did not have this behaviour, it started happening during last 1-2 months.

[2019-07-06 17:32] cans commented on #58644
To be honest, I am far from convinced the above idea is the best solution. Especially given that is kind of is Postgres specific. I am not sure how the Ansible core team looks at modules that bring Jinja filter of their own. It surely does not look like a common practice.

On the other hand, what I am worried about, is that if you start playing with [FDW](https://www.postgresql.org/docs/current/sq

[2019-07-06 17:48] mariolenz commented on #58757
I think this is more or less a duplicate of #57389.

[2019-07-06 18:24] jvanderaa opened #58788 "ios_bgp next-hop-self does not add command"
##### SUMMARY

When setting `next_hop_self: true` within the AF Neighbors, this does not get set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_bgp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS --> Cisco IOS

##### STEPS TO REPRODUCE

- Created a playbook with `next_hop_self` set to true, it was not added
- Output shows that the neighbor is

[2019-07-06 18:38] vbotka commented on #52063
- This option allows included tasks to inherit explicitly provided attributes. Accepts a hash of task keywords (e.g. C(tags), C(become)) that will be applied to the tasks within the include.

No. The documentation is not clear enough and the changes don't help. How the applied tags should be used? (see below).

    $ cat play1.yml
    - hosts: localhost
      tasks:
        - include_role:

[2019-07-06 20:23] manoj-ms commented on #58772
does it work on earlier versions on Ansible? this is behavior in linux. links/files/dir names should be unique within current working direcrtory

[2019-07-06 20:26] felixfontein commented on #58770
It's unfortunately not that simple. Validating the `tag` option of `docker_image` is rather simple; I've already did that in a WIP (#58791). But validating the full `image` option of `docker_container`, for example, is more complicated, and TBH, I'm not sure whether I'm aware of all special cases that are possible, so I don't really want to write such a function. Getting it wrong will possibly bre

[2019-07-06 20:39] #58788 closed, assigned to nobody

[2019-07-06 21:03] vbotka commented on #52063
Yes. You are missing `tags: always`. Without it the code can't work as expected.

[2019-07-06 22:34] ShachafGoldstein commented on #23990
@jborean93 - this one is really old and inactive, close it?

[2019-07-06 22:40] ShachafGoldstein commented on #39184
@eregimbald  - Still seeing this? I tested and seems fine

@jborean93 @nitzmahone  - I believe this one can be closed and should reopen for a relevant recent version if needed

[2019-07-06 23:10] ShachafGoldstein commented on #49828
I have an implementation of this but then I thought of the case where you are waiting for a GPO to add a user you're using as an admin so you will have rejected until the GPO works.

adding this to the next agenda

[2019-07-06 23:11] ShachafGoldstein commented on #14791
@jhawkesworth @jborean93  @nitzmahone  - seems this one can be closed

[2019-07-06 23:13] ShachafGoldstein commented on #44738
@ryancabrera -  If this is still relevant can you give more info? like an output of a failed run?

[2019-07-06 23:14] ShachafGoldstein commented on #45617
@jborean93 - is this issue still relevant?

[2019-07-06 23:16] ShachafGoldstein commented on #54896
@h-hirokawa - Still working on this?

[2019-07-06 23:16] ShachafGoldstein commented on #24572
@jborean93 @nitzmahone - this was merged already as it seems

[2019-07-06 23:20] ShachafGoldstein commented on #54545
@misra-anshuman - Still relevant issue or can be closed?

[2019-07-06 23:22] ShachafGoldstein commented on #46809
@ramon-garcia - Can you confirm or deny this is a duplicate of #55013?

[2019-07-06 23:24] ShachafGoldstein commented on #54250
IMHO this can be closed as this seems like a designed behavior of windows
@jborean93

[2019-07-06 23:28] ShachafGoldstein commented on #31521
@dagwieers - Still relevant?

[2019-07-06 23:30] ShachafGoldstein commented on #39612
This issue seems to have no activity for a while now, anyone can give recent info/experience with this?

[2019-07-06 23:32] ShachafGoldstein commented on #47497
@jborean93 @nitzmahone - this one seems inactive

[2019-07-06 23:32] ShachafGoldstein commented on #31576
@nitzmahone @jborean93  - maybe close this one?

[2019-07-06 23:37] ShachafGoldstein commented on #55170
@nitzmahone  @jborean93  - maybe close this one?

[2019-07-06 23:38] ShachafGoldstein commented on #52471
@MedicMomcilo - Is this still relevant?

[2019-07-06 23:56] ShachafGoldstein commented on #49837
I might be missing something but why should this even work?

[2019-07-07 01:59] jpmahowald commented on #58307
This feature was added in Make modprobe module check for builtins as well (#37150).  Linux < 2.6.33 does not have modules.builtin yet, per Linux commit torvalds/linux@bc081dd6  (and [this Debian bug report against kmod](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=670965))

What if the IOError was made not a failure?  Linux > 2.6.33 would still have the check if present.  < 2.6.33 would rever

[2019-07-07 02:05] juju4 commented on #31576
Not working here still in 2.8.1, but ok in 2.3.3
https://ci.appveyor.com/project/juju4/ansible-win-firewall/builds/25789192/job/aws7pcsvmy6rpk7j#L2143
https://github.com/juju4/ansible-win-firewall/blob/master/tasks/windows-firewall.yml#L78

workaround with netsh import
https://github.com/juju4/ansible-win-firewall/blob/master/tasks/windows-firewall-import.yml

[2019-07-07 07:34] pratikgadiya12 commented on #43594
needs_info

[2019-07-07 08:23] centic9 commented on #48352
the following apt-get commandline allows to accept the release-info change:

`apt-get update -y --allow-releaseinfo-change`

[2019-07-07 09:32] ShachafGoldstein commented on #31576
OK issue found, the protocol must be set before ports, im writing a PR

[2019-07-07 09:35] ShachafGoldstein commented on #31576
OK the issue is that Protocol must be UDP or TCP for this to work, ill make sure it is documented

[2019-07-07 09:39] icez commented on #31576
There's 2 cases:

1. when the rule does not exists or there's no protocol at first, and new rule contains port/protocol => ansible must set protocol before port
2. when old rule exist with protocol+port set, and new rule remove port/protocol => ansible must unset port before protocol.

My PR only contain the first fix but the second is still pending :(

[2019-07-07 09:48] ShachafGoldstein commented on #31576
The problem is that there are too many issues in this issue thread.
if there is a problem with removal and someone can open a new issue with the info it would be better to track

@juju4 issue isn't of the 2 type as far as i can tell

[2019-07-07 11:13] felixfontein commented on #58770
BTW, the error output for 2.8.2 already improved; it currently says for me
[code]
Which version of the docker / docker-py Python libraries are you using? This can also have a big impact on how the module behaves, since the strange error comes from docker-py.

[2019-07-07 11:16] vbotka commented on #28952
(FWIW) +1

**Short description**

    Compiling /tmp/pip-build-wiv2bB/pexpect/pexpect/_async.py ...
        File "/tmp/pip-build-wiv2bB/pexpect/pexpect/_async.py", line 20
          transport, pw = yield from asyncio.get_event_loop()\
                                   ^
      SyntaxError: invalid syntax

**Details**

    $ ansible --version
    ansible 2.7.9
      config file = /home/admin/.ansib

[2019-07-07 11:17] felixfontein commented on #58770
The output for
[code]
also is
[code]
So I think this is already pretty good.

[2019-07-07 12:07] decentral1se commented on #16894
I think I'm getting hit by this on the Molecule side of things. I'm connecting to Hetzner boxes and need to use `sshpass` to answer the password question. It's hanging indefinitely on the testing runs. My logs are:

When I run this without `sshpass -d9`, I see:

[code]

[2019-07-07 12:50] chriscroome commented on #30754
For what it is worth I had an issue like this on a Debian 10, Buster machine that was created before the official release, after the release yesterday I had a `apt` task with a `update_cache: yes` and this was failing with:
[code]
With `apt-get` there isn't a prompt to update the repo info:
[code]
But with `apt` there is:
[code]
However I want to automate this so I found [this suggestion](https://

[2019-07-07 13:04] wouteroostervld commented on #27179
There was a patch by me to fix auth-support but I don't know if it got merged. The patch implicitly switched to auth-password if you tried to set a password for root. That would be the-right-thing-to-do imho.

Most problems are idiosyncrasies of the mysql-ecosystem not ansible per se.

[2019-07-07 13:08] glennie commented on #58770
Hello,

I agree. In fact, this is better the exception I've had with ansible 2.8.1

[code]

Kind regards,

[2019-07-07 13:11] s-hamann opened #58797 "Skipping undefined variables in a loop leads to skipping the whole task"
##### SUMMARY
I defined a task that processes a list of variables, some of which may be undefined. I use a conditional to skip undefined variables. However, instead of selectively skipping list entries, the whole task may get skipped (depending on some unknown circumstances).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]
I see the same behaviour on latest

[2019-07-07 15:55] jsmouret opened #58799 "hcloud: expose labels in inventory plugin"
##### SUMMARY
The Hetzner Cloud API supports labels to provide extra information about a server.
It would be nice to be able to use them to setup the inventory groups.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
hcloud inventory plugin

##### ADDITIONAL INFORMATION

For example, when creating 2 servers using:
[code]

To be able to put them in the correct ansible group using the hcloud i

[2019-07-07 16:08] felixfontein commented on #58770
I'm also using docker 4.0.2, so I guess that your name / tag combination was somehow parsed by docker in a way that led to the strange connection problem, and not right away resulted in something like `invalid reference format`. (To me it looks like there was a timeout in the communication between docker-py and docker daemon, which could have been caused by docker daemon trying to contact some ser

[2019-07-07 16:25] oferziss opened #58800 "Cloudformation rollback configuration parameters"
##### SUMMARY
cloudformation module is lacking the rollback configuration parameters. support is already added to boto3 lib.

##### ISSUE TYPE
- Missing Feature

##### COMPONENT NAME
cloudformation
##### ADDITIONAL INFORMATION
automatic update rollback based on provided cloudwatch alarm arn

[code]

[2019-07-07 16:36] juju4 commented on #31576
After more testing, it seems the main issue was protocol. not sure why it was working in 2.3 and not after.
now, all green
https://ci.appveyor.com/project/juju4/ansible-win-firewall/builds/25802594

only idempotence issue left on second run but that should be a separate issue
https://ci.appveyor.com/project/juju4/ansible-win-firewall/builds/25802594/job/r99t2epdi6chcvk7?fullLog=true#L2894

so good

[2019-07-07 18:47] dglinder commented on #58307
Thanks @jpmahowald , I was working on an IOError catch myself - I'll see if I can get a PR submitted for you to review next week.

[2019-07-07 19:55] jborean93 commented on #58714
While we should probably have a var called `ansible_psrp_reconnection_backoff` to match the option name you can still use `ansible_psrp_connection_backoff` today. The doc is driven by https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/psrp.py#L116-L124 and this doc string actually drives the input vars used to retrieve the value. Because of this you can have one or multip

[2019-07-07 20:02] mback2k commented on #52625
@cyberark-bizdev @enunez-cyberark Would you mind taking a look at this?

[2019-07-07 20:15] mback2k opened #58802 "include_role: implicit version of apply to avoid double specification: inherit"
##### SUMMARY

It would be great if we could get a second version of `apply` that does not require the keyword contents to be specified again. E.g. if the second version would be called `inherit`, then `inherit: tags` (single value or list) could automatically make the imported role inherit the tags of the include_role task. This would help to avoid the following pattern:

[code]

##### ISSUE TYPE

[2019-07-07 21:13] #57719 closed, assigned to nobody

[2019-07-08 01:31] rolabrie opened #58805 "winrm or requests is not installed: No module named winrm"
##### SUMMARY

Ansible claims No module named winrm when clearly the module is installed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS is Windows Server 2019 running in AWS with WinRM enabled. My machine is macOS Sierra 10.12.6 and I'm running all of this in a virtualenv
[code]
##### STEPS T

[2019-07-08 02:05] relyt0925 opened #58807 "Regression in ipaddr functionality in 2.8"
##### SUMMARY

I believe the functionality of ipaddr might have had a regression in ansible 2.8. This playbook demonstrates the possible regression
[code]
In 2.7 `ip_address_selection` will be `172.21.0.10` as expected. In 2.8, the value is false as shown below
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ipaddr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2019-07-08 02:24] #51066 closed, assigned to nobody

[2019-07-08 02:26] Akasurde commented on #58807
@relyt0925 Thanks for reporting this issue. Could you please check PR https://github.com/ansible/ansible/pull/58309 and let me know if this works ? Thanks.

[2019-07-08 03:03] Akasurde commented on #40226
@mohdumar321 A new module to manage VM network is added in 2.9 [`vmware_guest_network`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_network.py) for managing the VM networking.
Thanks.

[2019-07-08 03:03] #40226 closed, assigned to nobody

[2019-07-08 03:59] leeyc0 opened #58808 "mail module should send email with "Date" header"
##### SUMMARY
mail module does not send email with Date header. It should send email with "Date" header automatically without any manual email header manipulation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mail

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(None)

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
email should have Date header

[2019-07-08 04:27] LKaemmerling commented on #58799
There is already an open PR for this:
https://github.com/ansible/ansible/pull/57586

[2019-07-08 04:52] mjgehrmann opened #58811 "Missing update param in ironware_config.py"
##### SUMMARY

Documentation states the update param should exist and is valid however when the playbook is run an error states:
[code]

Tested on latest Ansible 2.8.2 as well as 2.5.5

Doc:
https://docs.ansible.com/ansible/2.6/modules/ironware_config_module.html#ironware-config-module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ironware_config

##### ANSIBLE VERSION

[code]

##### CONFI

[2019-07-08 04:55] jsmouret commented on #58799
Excellent :)
Sorry I searched the issues but didn't check the PRs.
Thanks

[2019-07-08 04:55] #58799 closed, assigned to nobody

[2019-07-08 05:03] sskras commented on #54186
@noci2012 , did you ever wrote to the mailing lists?  I can't find the topic it seems.

[2019-07-08 05:14] jpmahowald commented on #58522
(Not the maintainer, just someone who has used mkvg.)

In general, yes failures of the underlying commands to achieve requested state should lead to the module failing. Here it looks like a return code of not zero is being parsed, but only as not changed with that message.

I do not like validation already done by the underlying commands. Duplicates implementation assumptions that need to be chang

[2019-07-08 06:07] jirib opened #58813 "udm_dns_record module has incorrect module info"
##### SUMMARY
udm_dns_record contains probably copy&paste info from udm_dns_zone module, see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/univention/udm_dns_record.py#L64 Thus it's confusing how to use it, if one uses 'udm_dns_zone' in her playbook it would fail because invalid values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
udm_dns_record module

##### ANSI

[2019-07-08 07:16] xgy560501 commented on #58223
This problem really exists. When I switch to an Oracle user and execute the oral command, it will report this error. I've repeatedly confirmed that my environmental variables are OK.

[2019-07-08 07:19] xgy560501 opened #58815 "Ansible will report error when I change oracle user ."
![image](https://user-images.githubusercontent.com/43175051/60790336-d35f1880-a193-11e9-8247-aede9cf2104c.png)

[2019-07-08 07:20] pratikgadiya12 commented on #58813
Thanks, @jirib for reporting this. PR: #58814

[2019-07-08 07:22] xgy560501 commented on #58815
This problem really exists. When I switch to an Oracle user and execute the oral command, it will report this error. I've repeatedly confirmed that my environmental variables are OK.

[2019-07-08 07:31] xgy560501 commented on #58815
![image](https://user-images.githubusercontent.com/43175051/60791008-5634a300-a195-11e9-9dff-40465328a01b.png)
I just use the shell module to run the oracle scripts,but it report the error.

[2019-07-08 07:33] xgy560501 commented on #58815
I'm sure it's not a matter of environmental variables, because I've tested it on the command line and everything is fine.

[2019-07-08 08:00] mkrizek commented on #58815
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-08 08:00] #58815 closed, assigned to nobody

[2019-07-08 08:10] benjaatspencer commented on #58456
+label easyfix

[2019-07-08 08:27] Fred-sun commented on #57965
@MyronFanQiu @yungezz @zikalino  Any update for this issue?  Please help update! Thanks a lot!

[2019-07-08 08:30] ansensible commented on #58772
I stumbled upon this problem on ansible 2.6.X, then upgraded to 2.8.1 before reporting this bug. Didn't test any other version.

[2019-07-08 08:41] catcombo commented on #58456
@benjaatspencer Sorry for delay.

[2019-07-08 08:55] rwaal opened #58818 "Add support for Azure Site Recovery service"
##### SUMMARY
Please add support for the [Azure Site Recovery service](https://azure.microsoft.com/en-us/services/site-recovery/). Ideally, I can use Ansible to configure all aspects of the ASR service including (but not limited to):

- Recovery Servics Vaults
- Recovery Services Fabrics
- Network mappings
- Protection Container and container mappings
- Configuring disk/VM replication
- Initiate (

[2019-07-08 09:02] mkrizek commented on #52063
Stated in https://docs.ansible.com/ansible/latest/modules/include_role_module.html#examples.

But this depends on how you run your playbook. You need to differentiate between `tags` on the `include_role` task itself and `tags` that are applied to tasks within the role.

Let me illustrate on a couple of examples:
1. `ansible-playbook play1.yml` - the tags **are** applied in both cases because both

[2019-07-08 09:17] justjais commented on #58056
@guest715 From the logs it consistently failing with `time out` error and as you have mentioned it's not consistent as u are able to make it work on your router but not the switch. So, can u increase the default timeouts as suggested in my previous comment may be the switch u are trying with is taking more than the default timeout which is 30secs.

[2019-07-08 09:34] #57026 closed, assigned to nobody

[2019-07-08 09:48] glennie commented on #58770
Hi,
I'm still able trigger the error with ansible 2.8.2.

I'm quite sure this is not due to some connection problems as I'm able to trigger the error with '/' in the tag (and the modules works just by removing the '/' from the yaml).

Moreover, when the error is triggered, dockerd prints ```ERRO[2019-07-08T10:09:36.645453410+02:00] Handler for POST /v1.39/build returned error: invalid reference fo

[2019-07-08 09:51] RReivax opened #58820 "Templated loop_var not defined when looping include_tasks"
##### SUMMARY

When looping `include_tasks`, the loop control `loop_var` property is not defined in the included task, when the `loop_var` property has been assigned with a template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- loop_var
- include_tasks

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Redhat7
Archlinux

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESU

[2019-07-08 09:55] lgg42 commented on #19114
Will this ever be addressed :-P ??

[2019-07-08 09:57] namm2 opened #58821 "ec2_instance - creating/updating instance fails when tags are not provided"
##### SUMMARY

Ansible task:

[code]

Ansible playbook output error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-08 09:58] zeus86 commented on #30754
ty, this did the trick. there should be a flag for this in the ansible-module for apt.

[2019-07-08 10:42] puchalakd commented on #58724
Yes I have:
$ dpkg -l lsb-release
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version      Architecture Description
+++-==============-============-============-=============================================
ii  lsb-release    9.20161125   all

[2019-07-08 10:47] puchalakd commented on #58724
On managed hosts:

# lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.9 (stretch)
Release:	9.9
Codename:	stretch

[2019-07-08 10:48] irynadiudiuk commented on #58805
Hi all, I had the issue with winrm last Friday. Since I had to resolve this quickly I used this:
yum install python-winrm
After that I was able to import winrm in my script.

[2019-07-08 11:27] mkrizek commented on #58820
We seem to correctly template `loop_var` in `TaskExecutor`:
https://github.com/ansible/ansible/blob/894d19b1088d8d4872ca0dd2b9588f196b9a34ea/lib/ansible/executor/task_executor.py#L298

But then in `IncludedFile` we use the 'raw' value instead of re-using the templated one:
https://github.com/ansible/ansible/blob/894d19b1088d8d4872ca0dd2b9588f196b9a34ea/lib/ansible/playbook/included_file.py#L93

Th

[2019-07-08 11:47] lukasmrtvy opened #58823 "URI module can not use body and src togheter. binary file + another body parameter can not be POSTed"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

- file (`file_location`) is uploaded and with another body parameter `content=iso`

For example -> curl can handle it:
[code]
##### ACTUAL RESULTS

- `src` parameter cannot be used with `body` parameter togheter
- its not possible to use

[2019-07-08 12:04] RReivax commented on #58820
@mkrizek That fixes it for me. The same could be done for the `index_var` variable like so:

[code]

[code]

[2019-07-08 12:36] MarcDiethelm commented on #58237
You're correct. Turns out I had a bug in my CPU architecture query.

[2019-07-08 12:50] robertlabrie commented on #58805
Opened a new terminal, entered the virtual env and now it's behaving. Gonna keep this issue open because the behavior doesn't seem right.

[2019-07-08 12:56] JoschuaA4 opened #58824 "VMware: vmware_dvs_portgroup: update protgroup options missing"
##### SUMMARY

A portgroup which exist but is not compliant with the specs in the playbook, did not get reconfigured.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_dvs_portgroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The target is a vCenter in Version 6.7.0.13639324.

##### STEPS TO REPRODUCE

Create a port portgroup with promiscuous set

[2019-07-08 13:12] bcoca commented on #54186
#54731

[2019-07-08 13:26] #20596 closed, assigned to Akasurde

[2019-07-08 13:26] #49859 closed, assigned to nobody

[2019-07-08 13:52] mkrizek commented on #58797
[code]

So just to describe what happens here:
1. the evaluation of `loop` fails on `bar` being undefined in ` value: "{{ bar }}"` which means that no `item` var is created,
2. before failing with `bar is undefined` we check to see if the task needs to be executed at all by evaluating the `when` conditional, that results in `False` because `item.value` does not exist at this point as mentioned in

[2019-07-08 13:57] jwlogemann opened #58827 "ConfigureRemotingForAnsible.ps1 exits without error or doing anything"
I'm trying to run the ConfigureRemotingForAnsible.ps1 script to setup remoting in windows, but it exits without error or doing anything.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Microsoft Windows [Version 10.0.18362.30]
(Windows server core 1903)

##### STEPS TO REPRODUCE
Execu

[2019-07-08 14:04] ssbarnea commented on #17136
Did anyone found a workaround for checking presence of a folder on controller using lookup? I hate having to add an extra task only for that purpose.

[2019-07-08 14:44] abadger opened #58828 "New sections for changelog generation: security, trivial"
##### SUMMARY
There are a few new sections we'd like in changelogs:

- [ ] Security bugfix: We want to be able to highlight security changes prominently.  Possibly Security Features as well.  Right now they are lumped in with the general bugfixes instead
- [ ] Trivial bugfix: This type of changelog will show up in stable branch changelogs but not in devel/prerelease/x.y.0 changelogs.  This is beca

[2019-07-08 14:54] acozine commented on #58828
Perhaps a template for Security bugfix entries? It could include a field for a link to the PR and another to the CVE report.

[2019-07-08 15:05] abadger commented on #58828
We might not be able to link to the PR in all cases (embargos and disclosure) but we should be able to link to CVEs all of the time.

[2019-07-08 15:57] jpreed2 opened #58830 "gcp_storage_object is not url encoding object path"
##### SUMMARY
When specifying an object that is contained within a folder to be downloaded, the path is not urlencoded before sending to the Google REST API.  As a result, an error is returned stating the object is not found.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_object

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Host: CentOS 7
Tar

[2019-07-08 16:11] jpreed2 opened #58831 "gcp_storage_object not using environment variables per documentation"
##### SUMMARY
According to the documentation, you can set the GCP_SERVICE_ACCOUNT_FILE and GCP_AUTH_KIND environment variables in lieu of the service_account_file and auth_kind parameters.  However, these environment variables seem to be ignored by the gcp_storage_object module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_object

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2019-07-08 16:15] sjortiz commented on #56626
@Akasurde No, I'm not working on this. Sorry for the delay on the response.

[2019-07-08 16:18] samccann opened #58832 "Update sphinx theme to latest (0.4.3)"
##### SUMMARY

Update to the latest (0.4.3) version of sphinx_rtd_theme.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-07-08 16:36] AnthonyWC opened #58833 "s3_lifecycle is deleting the prefix itself"
##### SUMMARY
s3_lifecycle module is applying the lifecycle rule to the prefix itself; which results in the prefix itself getting deleted after the files inside the prefix are deleted.  This behavior seems to be a bug?

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### COMPONENT NAME
s3_lifecycle

##### CONFIGURATION
[code]

##### EXPECTED RESULTS
The prefix(es) to remain after th

[2019-07-08 16:54] jpmahowald commented on #57934
I can reproduce no attempt to escalate, but only when become_user is not explictly provided.

If sudo is used as become_method, become_user defaults to root.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
FreeBSD 11.2 on amd64.  GCP image projects/freebsd-org-cloud-dev/global/images/family/freebsd-11-2

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
File

[2019-07-08 17:10] ShalbafZadeh commented on #56265
Any news on this ?

[2019-07-08 17:17] sivel commented on #57934
If I had to guess, this has something to do with "become same user".

The code is somehow detecting that the become user and connection user are the same.

At closer inspection it seems that there is no `default` for `become_user` in the `doas` become plugin.

So if you haven't specified a connection user, you get `None`, and without an explicit default in the `doas` plugin, that returns `None`.

[2019-07-08 17:18] samdoran opened #58834 "Update default test container to Python 3.8.0b2"
##### SUMMARY
Python 3.8.0b2 is [released](https://www.python.org/downloads/release/python-380b2/). We should update the default test container with this version.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`shippable.yml`

##### ADDITIONAL INFORMATION

This release [reverted a C API breaking change](https://github.com/python/cpython/pull/13959) in Beta 1.

[2019-07-08 17:19] #29366 closed, assigned to nobody

[2019-07-08 17:47] yoctozepto opened #58835 "AnsibleUndefinedVariable for variable in template which should not be evaluated"
##### SUMMARY
Ansible throws AnsibleUndefinedVariable even when the offending variable should not be evaluated (e.g. false branch of conditional).
This happens when using a variable that is 'defined' but depends on an undefined variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Templar

##### ANSIBLE VERSION

[code]
but happens at least since 2.5 (older not tested)

##### CONFIGURATION

[2019-07-08 17:54] bhundven commented on #54621
It broke from 2.7 to 2.8. I am unable to migrate current deployments to 2.8

[2019-07-08 18:11] jagibson opened #58836 "Regression: set_fact no longer works in a role when delegate_facts is set to true for the role"
##### SUMMARY
When delegating a role with `delegate_facts` set to `true`, `set_fact` tasks within the role do not work.  This appears to be introduced by #45492.  If I revert the change to lib/ansible/playbook/block.py it works as expected.  All Ansible versions including and above 2.7.7 encounter this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_facts / set_fact
!component+lib/a

[2019-07-08 18:14] jvanderaa commented on #58258
Would an appropriate fix be change the concatenation to being more of a string replacement?

[code]

[2019-07-08 18:19] sivel commented on #58835
We special cased `AnsibleUndefinedVariable` in our custom var lookup, but not sure why we raise an exception there.  See https://github.com/ansible/ansible/commit/d608eb95308238158cf110de86d7a718e9a91dca

I have no idea what if any bad things could happen if we made a change like:  https://gist.github.com/sivel/a962039bfc5b72ee817b5fb303d000a1

[2019-07-08 18:26] s-hertel commented on #58821
The imp deprecation warning should be fixed for 2.9 in 2732cde031a80636dfda31e7f3491a680c01b0bb.

[2019-07-08 18:27] s-hertel commented on #58821
!component =lib/ansible/modules/cloud/amazon/ec2_instance.py

[2019-07-08 18:37] s-hamann commented on #58797
Thank you for the explanation. That is insightful, but I am still slightly puzzled ;)

So, is this something that can be changed to something more intuitive or am I just doing it wrong?

[2019-07-08 18:39] yoctozepto commented on #58835
Since the commit you mention applies to 2.5.0b1+ I tried this on 2.4.0 (for completeness) with similar result:

[code]

[2019-07-08 18:46] zestysoft commented on #23073
`iptables table="nat" chain="POSTROUTING" protocol="udp" destination_port="123" match="mark --mark 0x1" jump="MASQUERADE" comment="Test"`

The single quotes causes iptables to consume the entire string as the name of a module, and thus fails to dynamically load the module when executed.  Also note that one can have multiple -m parameters since there are multiple modules, so I'm not sure how extra_

[2019-07-08 19:32] felixfontein commented on #58770
Such an `try`/`except` would be too broad IMO, and too narrow at the same time: most docker-py calls can result in such requests exceptions. I've extended #58791 to catch all requests exceptions.

[2019-07-08 19:32] snerge commented on #58592
I have the same issue with disk_mode. Having the parameter disk_mode would be welcome.

[2019-07-08 20:00] dcappri opened #58837 "Help with https://github.com/aixoss/ansible-playbooks/issues/21"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-07-08 20:10] morganchristiansson commented on #33670
For me it was missing boto3 package in env it was running.

[2019-07-08 20:12] sivel commented on #58837
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-08 20:12] #58837 closed, assigned to nobody

[2019-07-08 20:30] AnthonyWC commented on #58833
Apparently this may be the default behavior from s3 https://forums.aws.amazon.com/thread.jspa?threadID=156358 but it would probably not be what an end user would expect or want (I filed it as a bug/feature request /w AWS).  Not sure if there is anything Ansible can do to fix.

[2019-07-08 20:32] dglinder commented on #58307
@jpmahowald please look at the PR - it should handle the cases where the modules.builtin is missing and leaving the error catching for other file access issues to pass through.

[2019-07-08 20:37] jasonmfehr commented on #58537
Thanks for the info @jborean93.  We ended up working around the issue by running the ansible tasks synchronously instead of async (the only difference is the ansible tasks no longer have `async` or `poll`).  Once we switched to sync, the tasks worked perfectly.  Since this workaround functions for us, we are not going to investigate further.

[2019-07-08 20:57] jborean93 commented on #58805
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-08 20:57] #58805 closed, assigned to nobody

[2019-07-08 20:57] #57140 closed, assigned to nobody

[2019-07-08 21:02] nitzmahone commented on #58629
That non-action/module plugin resolution requires FQCNs is by design, and cannot be easily addressed without changing the way Ansible does templating. When a task's handler is being resolved (ie action/module), there's a single context in which to evaluate which collections should be consulted to look for a match. No such single context exists for a templated string, since they're repeatedly templ

[2019-07-08 21:02] #58629 closed, assigned to nitzmahone

[2019-07-08 21:03] michaelsdunn1 commented on #56632
Any update on this? I'm running into the same issue.

[2019-07-08 21:29] jborean93 commented on #58827
The script writes log entries to the `Application` event log, I would look in there to see what it gets up to. You can also run it with `-Verbose` like `.\ConfigureRemotingForAnsible.ps1 -Verbose` to get some more info. In any case, apart from a change made after this issue, we [haven't touched this file](https://github.com/ansible/ansible/commits/devel/examples/scripts/ConfigureRemotingForAnsible

[2019-07-08 21:53] StephenGevers commented on #57974
For what it's worth, I have replaced the Fail-Json line in the setup.ps1 file with "return" and it behaves like setup on Linux.

[2019-07-08 21:58] WillWolfe89 opened #58841 "var is suddenly not defined between tasks"
##### SUMMARY

When running a task var is defined in shell task, undefined in notify

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

notify, loop, var, include_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that 'appname' will be de

[2019-07-08 22:47] samdoran commented on #58724
This was fixed in ab6a9ef130 which is in Ansible 2.8.2. Minor version information was missing for CentOS and Debian in Ansible 2.8.0 and 2.8.1.

[2019-07-08 22:47] #58724 closed, assigned to nobody

[2019-07-08 22:49] wouteroostervld commented on #27179
ah-sh*t-here-we-go-again.gif: firing up spacemacs and installing MySQL5.7 (in a docker possibly).

[2019-07-08 22:56] StephenGevers commented on #57974
!component lib/ansible/modules/windows/setup.ps1

[2019-07-08 23:14] samdoran commented on #58619
@ableischwitz Thank for for the information. This is very helpful.

[2019-07-09 00:09] jmooo opened #58843 "Add multi-stage (dev/stage/prod) environment support to DigitalOcean dynamic inventory"
##### SUMMARY
Dealing with multi-stage environments is difficult with the [digital_ocean.py](https://github.com/ansible/ansible/blob/devel/contrib/inventory/digital_ocean.py) dynamic inventory since it always returns _all_ droplets on your account. Adding an option to [digital_ocean.ini](https://github.com/ansible/ansible/blob/devel/contrib/inventory/digital_ocean.ini) that allows you to specify t

[2019-07-09 00:23] reubendevries commented on #56930
I just want to add this quite annoying and the inablilty to really figure out the problem was also annoying, I litterally had to do `ansible-playbook "insert yaml file here" > output.txt` to figure out the problem.

[2019-07-09 01:09] mjgehrmann commented on #58811
I noticed `commit` is listed as a parameter too but is not listed in the argument_spec. Seems to be a duplicate function.

[2019-07-09 02:10] markatdxb opened #58844 "VMware: Unsupported parameters for (vmware_guest_disk) module: use_instance_uuid"
##### SUMMARY

I tried to use HW UUID or Instance UUID - both failed

When using INSTACE UUID with parameter use_instance_uuid: yes - getting error:
Unsupported parameters for (vmware_guest_disk) module: use_instance_uuid. Supported parameters include: datacenter, disk, folder, hostname, name, password, port, username, uuid, validate_certs"

When specify HW UUID without using the "use_instance_uui

[2019-07-09 03:29] Akasurde commented on #58844
@markatdxb Thanks for reporting this issue. This issue is already address by PR https://github.com/ansible/ansible/pull/56322, updating Ansible to latest will resolve this issue. Thanks.

needs_info

[2019-07-09 03:41] Akasurde commented on #58818
cc @yuwzho @yungezz @zikalino

[2019-07-09 04:00] Akasurde commented on #58813
resolved_by_pr #58814

[2019-07-09 05:50] icicimov commented on #51646
@Akasurde yes I'm pretty sure, I replaced my local `ec2_ami_copy.py` with yours patched one at https://raw.githubusercontent.com/Akasurde/ansible/cdad81cd1335516081f06f907b53cdcc37644851/lib/ansible/modules/cloud/amazon/ec2_ami_copy.py

[2019-07-09 05:52] cpdivers commented on #52063
This is even worse than I though, following the example above:

`[root@localhost test]# cat /root/test/test1.yml
- hosts: localhost
  tasks:
    - name: tags WILL NOT be applied
      include_role:
        name: myrole
        apply:
          tags:
            - part2

    - name: tags WILL BE be applied
      include_role:
        name: myrole
        apply:
          tags:
            - part2

[2019-07-09 06:19] sawicchiraw commented on #51345
/usr/local/lib/python3.5/dist-packages/ansible/modules/monitoring/zabbix/zabbix_action.py
I changed esc_period=dict(type='str', required=False, default='60'), and esc_period=dict(type='str', required=False),
then I can use esc_period: "5m" and esc_period: "{$USER_MACRO}" (and esc_period: "60") in . yml

diff -c zabbix_action.py zabbix_action.py.old1
*** zabbix_action.py    2019-07-09 14:51:16.0916

[2019-07-09 07:22] #58813 closed, assigned to nobody

[2019-07-09 07:30] rnsc opened #58855 "Ansible 2.8.2 setup module fails on Windows target joined on an AD"
##### SUMMARY

I have a weird issue on my Ansible 2.8.2, whenever I do "setup" on a Windows host that is joined on an AD, I have this error thrown:
`An exception occurred during task execution. To see the full traceback, use -vvv. The error was:    at System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame frame)
fatal: [REDACTED]: FAILED! => changed=false
  m

[2019-07-09 07:56] happpyuser commented on #58391
Hi!
I analyzed the problem and found its cause. It is hidden in the helm.py file in the line:
`tserver.update_release(chartb.get_helm_chart(), False,
                       namespace, name=name, values=values)`
It should look like this:
`tserver.update_release(chartb.get_helm_chart(), namespace,
                       dry_run=False, name=name, values=values)`
because otherwise the parameter `names

[2019-07-09 08:25] mkrizek commented on #58835
@sivel That would change a behavior, I tried that in a PR, see https://github.com/ansible/ansible/pull/56116.

Related https://github.com/ansible/ansible/issues/56017

[2019-07-09 09:08] mvorisek opened #58858 "interfaces_file - ignore leading and trailing white characters"
##### SUMMARY
Currently the `interfaces_file` module does NOT ignore white characters and add a new option even if not needed/unwanted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`interfaces_files`

##### ANSIBLE VERSION
2.8

##### CONFIGURATION
Debian 9.9

##### OS / ENVIRONMENT
Debian 9.9

##### STEPS TO REPRODUCE
consider following task:
[code]
and following interfaces files:
[code]
(

[2019-07-09 09:13] yoctozepto commented on #58835
We workaround this problem by using included templates, see: https://review.opendev.org/669631

[2019-07-09 09:21] glennie commented on #58770
Ack'd.
Kind regards,

[2019-07-09 09:25] happpyuser commented on #58391
I think this issue can be closed as double #57897

[2019-07-09 09:44] agowa338 commented on #58567
I think a good technical solution for this problem is very hard to impossible.

Therefore we're left with the following possible solutions (or a combination of multiple of them):

- Provide no technical solution at all and only update documentation for this with one of the following workarounds:
  - Recommend using vm encryption
  - Recommend using vm encryption, virtual tpm and/or hsm and full di

[2019-07-09 10:08] wDomin opened #58860 "BUG Ansible Tower include_role raises Unexpected Exception"
##### SUMMARY

Since a few days I have been facing a problem with a job in Ansible Tower, the same job in playbook mode is working as expected but when used in Tower I get the same error everytime :

TASK [include_role] ************************************************************
task path: /var/lib/awx/projects/_4193__project_hadd_bddf_odar/main.yml:8
ERROR! Unexpected Exception, this is probably

[2019-07-09 11:09] guest715 commented on #58056
@justjais, I’m not seeing a timeout occurring and, as per the provider properties in the output of my previous post, I’ve increased the timeout to 360 and still encounter the problem. I think the router might have a different configuration to the switch and that might explain the difference in behaviour between the switch and router.

I’m having a number of other problems with Ansible, including a

[2019-07-09 11:27] profhase commented on #40890
@chrahunt

Thanks for the workaround. When I do it this way, all handlers in roles from role dependencies get skipped when I import the role. Do you think it is a bug worth opening?

[2019-07-09 12:20] wDomin commented on #58860
Not a bug, after some digging, help came from the tower team and we managed to make it work.

Thanks and sorry for the disturbance.

Regards,

[2019-07-09 12:20] #58860 closed, assigned to nobody

[2019-07-09 12:25] Andersson007 commented on #58644
if it needs to change code related with jinja handling for support something postgres-specific, it looks pretty doubtfully to me :)
postgresql_fdwrapper , postgresql_fdserver, etc., IMO, is Ansible way.
I thought how to implement your suggestion in another way but failed.

[2019-07-09 12:28] henti opened #58867 "Regression: facts not gathered when using tags in sections"
##### SUMMARY
I created a test playbook that contains two sections with first,second tags respectively. In each section I have a role with a tag test. In version prior to 2.8.x running `ansible-playbook test.yml --check --diff --tags test` would gather facts for both sections and run the role. After 2.8.x running the same command fails to gather facts and the role fails.

Deleting the first sectio

[2019-07-09 12:43] mvorisek opened #58868 "reboot module hangs with OpenVZ hosts"
##### SUMMARY
Currently there is some issue with the reboot module with OpenVZ hosts. The reboot command is executed correctly, all hosts reboots, but the Ansible reboot tasks hangs.

If exactly the same playbook is run on KVM or native host, it finish without any issues.

It should be hot fixed in 2.7+ branches.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
reboot module

##### ANSIBLE VER

[2019-07-09 13:20] ssbarnea commented on #56345
It seems that I was hit but the same weird behavior where code below failed to work
[code]

[code]

Even using jijnja2 notation ended up in the same silent failure, evaluated as `false`.

[2019-07-09 14:05] ksyblast commented on #55850
I have the same issue. Empty packages output with a warning.
` [WARNING]: Requested package manager apt was not usable by this module: 'APT' object has no attribute '_cache'`
Ansible 2.8 on Fedora, target machine is Ubuntu 16.0.4

[2019-07-09 14:10] bcoca commented on #58867
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not a regression but a bugfix, the previous behaviour was incorrect, see #44717

In the future, this might be a topic more well

[2019-07-09 14:10] #58867 closed, assigned to nobody

[2019-07-09 14:14] bcoca commented on #21528
this is fixed in current (2.8) version of Ansible, now it correctly skips the gathering task.

[2019-07-09 14:14] #21528 closed, assigned to jimi-c, jctanner

[2019-07-09 14:26] bcoca commented on #52063
@cpdivers which is what i would expect, since `apply: part2` adds part2 tag to EVERY task inside the include, so they the effective first task tags are ` part1, part2`, the 2nd `part2` and the 3rd `part2, part3`.

[2019-07-09 14:28] necr0n commented on #39598
@samerd @anasbadaha Thanks!
Tested on 2.8.1, fixed.

[2019-07-09 14:28] #39598 closed, assigned to nobody

[2019-07-09 14:30] samdoran commented on #58868
I believe this is a duplicate of #57768. I am not familiar with OpenVZ but it seems to runs containers, not VMs. My best guess is `/proc/sys/kernel/random/boot_id`does not change when the "VM" "reboots". Can you provide the output of `ANSIBLE_DEBUG=1 ansible [testhost] -b -m reboot | grep 'reboot:'? This should show exactly what's going on.

needs_info

[2019-07-09 14:32] eugen-bas opened #58873 "vmware_guest module failure on creating a VM"
##### SUMMARY

Ansible throws an AttributeError exception when I execute a role that should create a VM from a template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller OS: Ubuntu 16.04.6 LTS (WSL Windows 10)
VMware: vCenter 6.5.0.23000
pyvmomi       6.7.1.2018.12

##### STEPS TO REPRO

[2019-07-09 15:28] #50460 closed, assigned to nobody

[2019-07-09 16:09] ragher365 commented on #57810
Hi,

Does anybody have a clue on what is wrong on this Ansible installation that throws this error?

Thanks in advance!

[2019-07-09 16:22] bcoca commented on #57810
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-09 16:22] #57810 closed, assigned to nobody

[2019-07-09 16:26] wddossett opened #58876 "assigning variable to remote_user in loop only works first time"
it is not

##### SUMMARY

I have a loop which tries to assign a user to remote_user in my playbook.  The first assignment works, subsequent ones do not and the first assignment is used in subsequent iterations of the loop
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh connection plugin perhaps? or the calling of it

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / E

[2019-07-09 16:51] bcoca commented on #58797
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-09 16:51] #58797 closed, assigned to nobody

[2019-07-09 17:24] bcoca commented on #10829
@jbarotin that is what 'force handlers' is for

[2019-07-09 17:35] acozine commented on #12480
@zerok thanks for offering to pick up this ticket - if you want support or help, join the #ansible-docs channel on freenode IRC!

[2019-07-09 18:48] jbarotin commented on #10829
@bcoca I prefer my solution : "if my service is well configured, I'm sure that my handler is triggered"
Force handlers will trigger all the handlers of the playbook. It's definitely not the same stuff especially if I'm executing playbook with several different roles.

Otherwise, what do you think about my other argument above (https://github.com/ansible/ansible/issues/10829#issuecomment-499208334)

[2019-07-09 18:52] bcoca commented on #30864
A few of things:
 - no one is currently working on adding this feature, that is why this ticket is still open.
 - even if someone comes up with an implementation, the performance hit might be too prohibitive to use.
 - this might not give most people what they need, you might have multiple 'false' conditions

In my case, I avoid complex conditionals, mostly by assigning the parts into variables an

[2019-07-09 18:52] jhammons commented on #51799
Thank you @sivel -- that worked for me!

[2019-07-09 18:59] bcoca commented on #10829
i think you should either use block/rescue/always in those cases or just have a task that runs immediately after the change

[2019-07-09 19:14] bcoca commented on #53402
approved at irc meeting to: 'standarize on "regex" and set regexp as an alias'

[2019-07-09 19:17] dop-amine opened #58879 "Inconsistency with import_tasks when using multiple conditionals with variables"
##### SUMMARY

Inconsistent behavior when using more than one conditional to determine whether to import_task.

If using multiple `when !=` it seems that it must be separated into multiple lines:
The method below does not work:

`when: variable != test1 or test2`

The method below works:

[code]

When using `when ==` for multiple variables, sometimes it works when separated and other times it work

[2019-07-09 19:35] sivel commented on #58879
Your when statements are completely different.

[code]

That means in english:  When variable does not equal test1, or when test2 is truthy

The following:
[code]

means: when variable does not equal test1, and variable does not equal test2

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2019-07-09 19:35] #58879 closed, assigned to nobody

[2019-07-09 19:54] dop-amine commented on #58879
Thanks for the tip! :)

[2019-07-09 19:58] #31576 closed, assigned to nobody

[2019-07-09 19:59] s-hamann commented on #58797
Well, this was intended as a bug report rather than a user question. But if that's your way of saying WONTFIX, I can accept that ;)

[2019-07-09 19:59] jborean93 commented on #31576
This issue has turned into a catch all for win_firewall_rule and it's hard to keep track of what's actually broken and what was just changed in 2.3. I'm closing this issue but if you are still having problems/bugs then please open a separate one so we can track it individually.

[2019-07-09 20:17] StephenGevers commented on #57974
!component=lib/ansible/modules/windows/setup.ps1

[2019-07-09 20:23] jhawkesworth commented on #49828
I use wait_for_connection to wait until vms have cloned/spun up so I think any change to wait_for_connection behaviour would have to be optional.
I think if you just want a one shot test of a connection you might as well test that you can do something as well as test that you can connect, so I'd probably do something like check that I could write a file to temp as well.

[2019-07-09 20:27] eugene-bright opened #58884 "Keep role names in hostvars"
##### SUMMARY
If a role attached to the host group then every host in this group must have this role name in the `hostvars[inventory_hostname].roles` list.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`hostvars`

##### ADDITIONAL INFORMATION

Playbook may affect several host groups in which case all affected hosts appear in `hostvars` regardless of their roles. Cluster servers configura

[2019-07-09 20:57] jillr commented on #52609
@AshtonDavis  While I do agree on points 1 and 2, it's a limitation of the boto lib - name and description are required on create:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.create_security_group
Your best bet is to pull them from ec2_group_info.

I can see your point on 3, but I don't think we'd want to change the default behaviour.  Please reop

[2019-07-09 20:57] #52609 closed, assigned to nobody

[2019-07-09 21:06] StephenGevers opened #58889 "Using set_fact for ansible_password exposes password with warning"
##### SUMMARY
We deploy to both Linux and Windows servers.  For Linux servers, we use ssh with key pairs, then sudo to become the target user.  For Windows servers, we use winrm/ntlm with a common ID and have to supply a password.  The password needs to be set in a vault.  The ansible_password variable cannot be set globally because it breaks the ssh key/pair logins.  Our solution was to create a

[2019-07-09 21:22] jborean93 commented on #58567
Just to add my 2 cents, the first option(s) around using a custom temp path backed by a RAM disk or is encrypted with something like Bitlocker is probably the best way forward to mitigate this issue and happy to have it better documented. You can currently control the temp path used by Ansible using the `remote_tmp` option documented in the [powershell](https://docs.ansible.com/ansible/latest/plug

[2019-07-09 21:44] #58834 closed, assigned to nobody

[2019-07-09 21:45] #56281 closed, assigned to samdoran

[2019-07-09 22:25] jillr commented on #49544
The configuration endpoint's address and port are returned at  result.elasticache_clusters.0.configuration_endpoint.  If you are not getting this can you please provide the results of ansible-playbook  -vvv.
needs_info

[2019-07-09 22:43] jillr commented on #46040
resolved_by_pr #58842

[2019-07-09 22:51] rambleraptor opened #58892 "ansible-galaxy collection doesn't support 'cloud_platforms'"
##### SUMMARY

Ran the new "ansible-galaxy collection" to build a collection. The galaxy.yml contained the "cloud_platforms" option (which was valid under mazer) and doesn't seem to be supported by ansible-galaxy

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run ans

[2019-07-09 23:08] jborean93 commented on #58892
Hmm this key is not documented under any of the fields at https://galaxy.ansible.com/docs/contributing/creating_collections.html#collection-metadata. @alikins are you able to shed some more light on this?

[2019-07-09 23:13] rambleraptor commented on #58892
Galaxy has an feature to filter ["by clouds"](https://galaxy.ansible.com/search?tags=system&keywords=&order_by=-relevance&cloud_platforms=google&page=1).

It looks like the ability to specify which clouds you support is through the "cloud_platforms" key ([example](https://github.com/orionuser1/ansible-role-logstash/blob/1d04c3fad3e75d16d0fb757136cf37e4476ec4de/meta/main.yml#L25))

[2019-07-09 23:16] jborean93 commented on #58892
Cool, should be relatively simple to implement, would just need to know if the `MANIFEST.json` equivalent field is also under that same name. Would be interested to know if the doc I linked above is also missing any other fields.

Thanks for trying this out.

[2019-07-10 02:40] atruskie commented on #56839
I just run into this issue as well:

[code]

[code]

In my case, I'm (temporarily) storing a key on a mount that doesn't preserve permissions.

[code]

[2019-07-10 02:45] atruskie commented on #56839
This also affects `openssl_certificate`

[2019-07-10 04:47] #36416 closed, assigned to nobody

[2019-07-10 04:49] mvorisek commented on #58868
@samdoran Yes, that is exactly the issue:
[code]

what about changing the boot time command to:
[code]

I have also checked the detection code, maybe the `uptime --since` is available also on other systems and can the also prepended to the commands here: https://github.com/ansible/ansible/blob/stable-2.8/test/integration/targets/reboot/vars/main.yml

[2019-07-10 05:50] jbarotin commented on #10829
@bcoca  I come on this issue as a fix of https://github.com/ansible/ansible/issues/41313. The solution block/rescue/always is using "flush meta handlers", so it will not work in my case.

[2019-07-10 06:51] jason87686667 opened #58910 "Unable to elevate privilege to enable mode on cisco gears"
##### SUMMARY

We have a non-default prompt to get into privileged mode, we will met unable to elevate privilege to enable mode, at prompt [None] with error: timeout trying to send command: enable issue.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04

##### STEPS TO REPRODUCE

[2019-07-10 06:59] goneri commented on #54621
Hi @bhundven, this bug report is about a consistency issue, not a bug. If you've notified a regression between 2.7 and 2.8 that breaks your playbook, can you test again with 2.9. If the problem remains, can you please open a new issue, this way we will be able to handle it properly.

[2019-07-10 08:06] sourabhxyz opened #58912 "gcp_storage_object Upload Failure"
##### SUMMARY

I am getting an error when trying to upload an object in a bucket using `gcp_storage_object` although download is working fine.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`gcp_storage_object`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am on macOS Mojave.

##### STEPS TO REPRODUCE

Run the following `.yaml` file giving care to defi

[2019-07-10 08:52] fleu42 opened #58914 "Module fortios_firewall_address is having creation issues"
##### SUMMARY

The `fortios_firewall_address` module is failing to create an object on a Fortigate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`fortios_firewall_address`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Listing the firewall address objects works, using the REST A

[2019-07-10 09:23] mamunozgonzalez commented on #58914
Hi @fleu42 ,
I''ll have a look to it. Please allow me some time to test it using a VM in my lab.

[2019-07-10 09:25] goneri commented on #56873
Thank you @deepakas for the feedback. I close the issue.

[2019-07-10 09:25] #56873 closed, assigned to nobody

[2019-07-10 09:36] Fred-sun commented on #58818
@yungezz @zikalino @MyronFanQiu @yuwzho Please help take a look this issue when you're free! Thanks a lot!

[2019-07-10 09:48] cueedee commented on #46169
I'm experiencing very similar issues when using a `command` task:

[code]

The `riak-admin` command itself is irrelevant but demonstrates the issue because of the resulting error:

[code]

As can be seen, the very last argument to `riak-admin` has been changed from the intended `{ "props": {} }` string to `{'props': {}}`.

I was deliberately using the template literal string in order to specifical

[2019-07-10 09:57] LucaIcaro opened #58916 "Mount module resets permissions and ownership"
##### SUMMARY
A task that uses the `mount` module resets the permissions on the mount folder. I've found no option to avoid this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard one (`ansible-config dump --only-changed` returns nothing)

##### OS / ENVIRONMENT
Ubuntu 18 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2019-07-10 10:06] guest715 commented on #58056
@justjais, I’ve sorted out the problem I was having with Ansible failing to enter enable mode, the playbook was pulling in an empty string as the enable password and doesn’t error on an empty string so simply waits until it times out. I’ll log another issue for this.
I therefore took another look at this issue today and discovered that, when the router fails to archive the config, it outputs, “Des

[2019-07-10 10:19] #56558 closed, assigned to nobody

[2019-07-10 10:56] mamunozgonzalez commented on #58914
Hi @fleu42 ,
please fix the playbook to use these attributes (see below). Basically if you use ipmask you cannot set start/end IPs or wildcard, only subnet. Also use localhost instead of local.

[code]

It should work with this but if not please use the new modules generated in:

https://github.com/fortinet-solutions-cse/ansible_fgt_modules/tree/master/v6.0.2

We are submitting and updating the mo

[2019-07-10 11:10] justjais commented on #58910
@jason87686667 Thanks for logging the issue, and could you test the scenario with following inventory vars:
[code]
Also, I'll suggest you to update the version of Ansible to `2.8` or least to `2.7`.

[2019-07-10 11:14] jtyr commented on #58916
As far as I know, the `mount` module is not setting any directory permissions. The module only executes the `mount` command. I might be the `mount` command changing it. Please could you run `mount` command from the command line to see if the permission changes?

[code]

[2019-07-10 11:25] s-hertel commented on #58713
!component =lib/ansible/plugins/inventory/aws_ec2.py

[2019-07-10 11:29] LucaIcaro commented on #58916
I've done this, and the mount command does not change permissions

[code]

[2019-07-10 11:35] jtyr commented on #58916
The `mount` module only creates the director if it didn't exist. If you run your playbook multiple times, does it always set the `root:root` permissions on the directory?

[2019-07-10 11:40] LucaIcaro commented on #58916
No, just on the first run. Starting from the second run, the permissions are right.

[2019-07-10 11:46] yajo opened #58918 "Loops with `until` and `register` should register results of old executions"
##### SUMMARY

Sometimes you need the details of the failed executions of a task. If you use [`until` loops](https://docs.ansible.com/ansible/2.8/user_guide/playbooks_loops.html#retrying-a-task-until-a-condition-is-met) for that, it's not possible to obtain them.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

until

##### ADDITIONAL INFORMATION

My use case is an update in a database prog

[2019-07-10 11:49] #58820 closed, assigned to nobody

[2019-07-10 11:50] jtyr commented on #58916
It looks like the directory didn't exist and the `mount` module created it with the default permissions.

[2019-07-10 12:04] ghost opened #58919 "Chocolatey package split package name from version."
Hello,

I would like to have a little bit of help with splitting the Chocolatey package name and version.
This is maybe my second to third week working with Ansible, so therefor I would like some help with this matter.

I would like to split the output of 'choco list' which have a package name and package version so I have two seperate variables, which I can call in a jinja2 template. Which will s

[2019-07-10 12:06] radssh commented on #56636
Seems that this is not limited to apt - encountered this error on CentOS 7 using yum. The update in the ansible playbook caused the following step to fail with the "fragment_class is None" error.

[2019-07-10 12:19] nicolaibaralmueller commented on #58585
@zikalino

Sure.

`az storage blob generate-sas --account-name {{ account_name }} --account-key {{ vault_storage_account_key }} --container-name {{ container_name }} --name {{ file }} --permissions r --expiry {{ today }}T{{ later }}Z --https-only`

[2019-07-10 12:37] justjais commented on #55722
@codyhackw Thanks for pasting the verbose output, but it seems Option 242 is not supported from infoblox side as I tried the same dhcp option directly via infoblox rest api and I'm getting same error:

[2019-07-10 12:48] 33Fraise33 commented on #49254
I can confirm that on the latest version (2.8.2) this does not work without explicitly settings this through an environment variable.

[2019-07-10 12:50] liquidalan opened #58921 "ini lookup returns escaped values from properties file"
##### SUMMARY
The macro:
"{{ lookup('ini', 'user.name type=properties file=user.properties') }}" does not correctly handle properties files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup / ini

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
create server.properties file containing the following line:
mykey=https\\:

[2019-07-10 12:53] fleu42 commented on #58914
Hi @mamunozgonzalez,

I use `local` because it's an alias for `localhost` in my inventory. Old habits...

It's working using the module from https://github.com/fortinet-solutions-cse/ansible_fgt_modules/tree/master/v6.0.2

Also, regarding the start/end IPs or wildcard, we could set it with Postman during our test on the REST API so we kept it within the Ansible module parameters. It works with the

[2019-07-10 12:54] LucaIcaro commented on #58916
I've tried to pause to see the exact behaviour of the `file` module, and it creates the folder correctly, with the right permissions. It's the `mount` module who change them.

[2019-07-10 13:06] mutt13y opened #58923 "lineinfile is not idempotent"
##### SUMMARY

lineinfile repeatedly inserts the same line
Reversion of https://github.com/ansible/ansible/pull/49409

##### ISSUE TYPE
- Bug report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

master is OSX 10.14.5
Target is Centos 7.6.1810

##### STEPS TO REPRODUCE

use lineinfile with
insertafter and regexp
According to t

[2019-07-10 13:09] kumareshan11 commented on #14641
Am encountering same issue with below Ansible version :

Ansible version :
[code]

playbook :
---
[code]

related app role :
------------------
[code]

facts debug output & error :
=======
[code]
Template :
[code]
It fails to get ansible_local vars

When i run the play on all ansible nodes, i see no issue with getting "ansible_local" facts but when i target single node. It countering this issue an

[2019-07-10 13:13] kumareshan11 commented on #14641
Am encountering same issue with below Ansible version :
OS :
NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
Ansible version :
[code]

playbook :
---
[code]

related app role :
------------------
[code]

facts debug output & error :
=======
[code]
Template :
[code]
It fails to get ansible_local vars

When i run the play on all ansible nodes, i see no issue with getting "ansible_local" facts bu

[2019-07-10 13:15] kumareshan11 opened #58925 "ansible_local var not working"
##### SUMMARY
Opened with ref :
https://github.com/ansible/ansible/issues/14641

 ##### COMPONENT NAME
ansibe_local

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
playbook :
---
[code]

related app role :
------------------
[code]

facts debug output & error :
=======
[code]
Template :
[code]
It fails to get ansible_local vars

When i run the play on all ansible nodes, i see no issue with

[2019-07-10 13:30] vedit commented on #39612
@jitesh88  @ShachafGoldstein can you try supplying your usernames with the following format:
[code]
[code]
It is supposed to work properly as long as DB is using TCP/IP network protocol stack instead of Named Pipes.

[2019-07-10 13:37] Qalthos commented on #58736
!component -lib/ansible/module_utils/network/eos/providers/module.py
!component -lib/ansible/module_utils/network/frr/providers/module.py
!component -lib/ansible/module_utils/network/ios/providers/module.py
!component -lib/ansible/module_utils/network/iosxr/providers/module.py

[2019-07-10 14:00] bcoca commented on #57204
This patch should fix the reporting issue for you:
[code]

[2019-07-10 14:05] bcoca commented on #57204
before:
[code]

after
[code]

[2019-07-10 14:14] samdoran commented on #58923
This is caused by a bug in the logic around `firstmatch`. This bug is present in `devel` all the way back to Ansible 2.5 (I did not test further back). We do not have integration tests for `firstmatch` which explains the regression (though I am not sure if the combination of `firstmatch` and `insertafter` ever worked)

[2019-07-10 14:16] mutt13y commented on #58923
Previously ( I think 2.7.X) I could add backrefs: true and it would work as required.
However on 2.8 if I put backrefs:true then it does not add the line when it is absent in the file.

[2019-07-10 14:21] mutt13y commented on #58923
I don't know if you squash merge but I could not find the commits from https://github.com/ansible/ansible/pull/49409 on devel
`

~/github/ansible - (devel)] $ git branch --contains 31c11de2af000972ba13f584e82001a2bc9c062a
error: no such commit 31c11de2af000972ba13f584e82001a2bc9c062a
`

[2019-07-10 14:29] Sispheor opened #58929 "module azure_rm_postgresqlserver: support for storageProfile"
##### SUMMARY
On Azure, when creating a managed Postgres server, the "[Backup redundancy options](https://docs.microsoft.com/en-us/azure/postgresql/concepts-backup)" need to be set during the creation. (even if it'sa part of the Update API, I tried, we cannot update it)

It would be nice to handle the SotrageProfile part. [See the doc here](https://docs.microsoft.com/en-us/rest/api/postgresql/serv

[2019-07-10 14:33] walterdolce commented on #48709
I have just hit this problem today.

I fail to understand why this has been rejected but I think there would not even be any need for adding the `role_vars` field, had the following worked:
[code]

But you can't use `vars: "{{ item }}"` that way apparently.

**However**, for my specific use case, I was able to work around this limitation by simply tweaking the role variables and do the following:

[2019-07-10 14:36] jtyr commented on #58916
Please unmount and remove the directory and then use the following playbook:

[code]

by running this command:

[code]

I have tested the above and it keeps the permissions during the first and any consecutive run.

[2019-07-10 14:37] kumareshan11 commented on #58925
!component

[2019-07-10 14:46] samdoran commented on #58923
The `backrefs: true` statement should still work, but only because it causes the conditional to exit early. It's a noop.

https://github.com/ansible/ansible/blob/7346b699eec99d7279da4175b99f07e08f0de283/lib/ansible/modules/files/lineinfile.py#L368-L371

[2019-07-10 15:01] jnogol commented on #57529
I concur. This "feature" is more harmful than useful.

[2019-07-10 15:10] mutt13y commented on #58923
with
`

    - name: Set JVM opts
      lineinfile:
        path: /opt/atlassian/crucible/bin/start.sh
        insertafter: '^#!/bin/sh'
        regexp: ^export FISHEYE_OPTS
        firstmatch: true
        line: export FISHEYE_OPTS="-Xmx4096m -Xms2048m"
        backrefs: true
`

and

`

#!/bin/sh

case "`uname`" in
  Darwin*) if [ -z "$JAVA_HOME" ] ; then
`

i.e the regexp match fails

the line is

[2019-07-10 15:13] Sispheor commented on #58929
Updated.

[2019-07-10 15:35] codyhackw commented on #55722
@justjais I know we're able to set Option 242 directly within the GUI, and per their api documentation I see that 242 is at least supported as a valid option (shows up here for reference - https://ipam.illinois.edu/api/doc/Infoblox/DHCP/Option.html). I'm not as familiar with the rest api syntax and don't know if that's possibly a contributing factor?

This also appears to be supported by the error

[2019-07-10 15:36] bcoca commented on #12619
i was going to condition this to 'update_json' for bidirectional comms, but been thinking it would just require a new `async_kill` action (bikeshed away!) and updating `async_wrapper` to be able to take a message and then kill the process, itself and clean up

[2019-07-10 15:47] anshulbehl opened #58933 "azure_rm_loadbalancer intergration test target causing resource leakage on azure cloud"
##### SUMMARY
azure_rm_loadbalancer intergration test target causing resource leakage on azure cloud
The specific task to create lb with multiple options is for some reason causing resource leakage on azure cloud account used for ansible-ci testing

The exact reason is still unknown but I want to try to make sure it can get fixed with same task doing operation on two separate lb instead on named ^

[2019-07-10 15:47] anshulbehl commented on #58933
@mattclay

[2019-07-10 15:58] mkst opened #58935 ""else" variable still evaluated despite condition being met"
##### SUMMARY

`foo if true else bar` fails if `bar` is a reference to a non-existent variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Core / Jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the 4th task to display:

[code]

##### ACTUAL RESULTS

[code]

[2019-07-10 16:07] javajon commented on #56058
Same issue. For instance, if one were to us Harbor with ChartMuseum setup on a private K8s cluster then this Ansible Helm module will not work as it's missing feature for authentication to private chart repos.

A workaround is not to use the Ansible Helm module and just use `command: helm ...`.

A clean example is [in this playbook](https://github.com/geerlingguy/ansible-for-devops/blob/master/kub

[2019-07-10 16:16] bcoca commented on #58925
`ansible_local` is always available directly for the current host, it is only populated in hostvars if it was specifically gathered

[2019-07-10 16:37] kumareshan11 commented on #58925
am sorry i think we are using hostvars as bellow in template to get  " ansible_local"  fact, Please correct it's wrong.

{% set memory =  hostvars[node_name]["ansible_local"]["memory"] -%}

what you mean specifically gathered !?

[2019-07-10 17:11] grantcurell commented on #57189
In my case yum.pid is nowhere on the filesystem and Ansible is still reporting the yum lock being held by something. I added a timeout of 180 seconds, logged into the box, and then ran a couple of yum commands manually without issue.

[2019-07-10 17:17] rodneyvdw commented on #57189
Trying to understand if this is now an issue with yum or with ansible? I mean, yum ansible module is essentially worthless if it can't handle a few stale pid files and requires manual intervention.

[2019-07-10 17:19] grantcurell commented on #57189
In my case I have no stale yum.pid files and Ansible still reports that something is holding the yum lock. Can't speak for everyone else, but it looks to be a bug with Ansible to me. Particularly because I was able to log into the box while Ansible was actively saying it couldn't get the yumlock (during the timeout) and I was able to run yum manually just fine.

[2019-07-10 17:24] #54556 closed, assigned to nobody

[2019-07-10 17:25] jab375 opened #58937 "Cisco 3750-x Switch Stack Returns "None""
Hello,

I have an issues with Cisco 3750x Switch Stacks returning "none" in a backup. All of my other Cisco backups work as intended unless it is a stack switch. I know Ansible is logging into the switches via ssh just fine and executing sh run with a few other commands. I think Anisble leaves the ssh session to early because switch stacks can take a while to load Show Running-config. Is there a w

[2019-07-10 17:25] grantcurell commented on #57189
I'll add one more thing, what's very interesting is that it only did it on bind-utils and sshpass in my case. Every other call to the yum module was fine.

[2019-07-10 17:25] dekimsey opened #58938 "Ignore missing/failed vault ids in vault_identity_list"
##### SUMMARY

Our ansible.cfg lists all well-known keys, but ansible-vault fails to run if any of the keys are missing. We only publish to our CI/respective user environments keys that are appropriate for that stack. This means that an operations person cannot run ansible without having access to all known environment's keys. To us, this makes the use of multiple vault ids not all that useful.

#

[2019-07-10 17:40] jab375 commented on #58937
My Ansible Version is ""ansible 2.5.1"". The module I'm trying to use is ios_config.

[2019-07-10 17:49] bcoca commented on #58925
you must gather facts for a host for ansible_local to be populated

[2019-07-10 18:14] kaovilai commented on #55430
Adding datapoint. Encountering similar issue `IOError: [Errno 13] Permission denied: '/tmp/osrcp-e0a16cfb71b8dcc193114478528717f6.json`

Issue occurred during this task at [line 71](https://github.com/kaovilai/agnosticd/blob/ocp4-workload-open-data-hub/ansible/roles/ocp4-workload-open-data-hub/tasks/workload.yml#L71)

Manually solved previously by fixing access permissions which may not be ideal.

[2019-07-10 18:20] #58933 closed, assigned to anshulbehl

[2019-07-10 18:22] rambleraptor commented on #56753
close_me

[2019-07-10 18:39] #56753 closed, assigned to nobody

[2019-07-10 18:46] michaeldg commented on #43594
I am not sure about the login_unix_socket parameter that @rlaager mentioned, my issue is about the module not honoring the socket parameter in /etc/my.cnf, or the configuration files included by that configuration file.

The module does seam to honor the value in a configuration file in ~/.my.cnf. That's what I used as work-around.

[2019-07-10 18:53] #58769 closed, assigned to nobody

[2019-07-10 18:56] sivel commented on #58935
Duplicate of https://github.com/ansible/ansible/issues/56017 https://github.com/ansible/ansible/pull/56116

[2019-07-10 18:56] #58935 closed, assigned to nobody

[2019-07-10 18:59] sivel commented on #58921
!component =lib/ansible/plugins/lookup/ini.py

[2019-07-10 19:02] jab375 commented on #58937
Issue is fixed. After a few hours I found the following need to be updated in the ansible.cfg.

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 10 second.
command_timeout = 25

[2019-07-10 19:02] #58937 closed, assigned to nobody

[2019-07-10 19:16] lpkirby commented on #57189
I agree with the others.  Even with a lock timeout set I'm still seeing this a lot.  I have lock timeout set to 120 seconds, but I'm getting this error instantly.

[2019-07-10 19:23] sivel commented on #57189
Many of these problems are in process of being resolved.

One was merged to devel recently: https://github.com/ansible/ansible/pull/58457

Additional fixes are being worked on in https://github.com/ansible/ansible/pull/58581

Once the above are both merged, they will then be backported into the stable-2.8 branch and included in the next 2.8.x release.

Please make sure you are testing with the abo

[2019-07-10 19:27] grantcurell commented on #57189
Will do! Thanks for the info!

[2019-07-10 19:28] rambleraptor commented on #54406
What version of ansible are you running @mshkrebtan? I'm running this on devel using the `GCP_SERVICE_ACCOUNT_FILE` env variable and am having no issues.

[2019-07-10 19:28] rambleraptor commented on #45105
close_me

[2019-07-10 19:31] acozine commented on #58645
Some modules have options that accept a list or a dict but have no type listed in the docs (some have no type defined in the argspec either). Right now we do not explicitly display a `type` for those options. If a user knows that the default type is `string`, they may assume something incorrect. However, if we publish `type: string` for these options, we will be actively misleading users. It's not

[2019-07-10 19:34] bazimov opened #58940 "win_domain_group_membership add fails with domain credentials"
##### SUMMARY
win_domain_group_membership module gives error when you add members to the group when domain_username/domain_password specified. I am trying to run the module from a windows instance joined to the AD domain controller.

I can run the same from powershell and it works.
Once added the usernames to the group, win_domain_group_membership (pure option) can delete the user. Pure option is

[2019-07-10 19:34] #45105 closed, assigned to nobody

[2019-07-10 19:36] anupamaloke opened #58941 "redfish_config: support Virtual Media configuration"
##### SUMMARY
Add support for Virtual Media configuration
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[redfish_config](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/remote_management/redfish/redfish_config.py)

##### ADDITIONAL INFORMATION
Feature will be used for configuration of Virtual Media:
- attach an ISO image as a CD, DVD or USB device
- detach virtual media
-

[2019-07-10 19:50] geerlingguy opened #58942 "first_found error message recommends deprecated usage"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
with_first_found lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.14

##### STEPS TO REPRODUCE

Add a task that uses with_first_found:

[code]

Get error message:

[code]

Change task to use recommended option:

[code]

[code]

##### EXPECTED RESULTS
Documentation for failed

[2019-07-10 19:50] bazimov commented on #58940
I think it is related to this bugfix or same issue? https://github.com/ansible/ansible/pull/57429/files

[2019-07-10 19:50] ShachafGoldstein commented on #58940
Sounds like a classic double hop issue. Have you tried using become?

[2019-07-10 19:51] geerlingguy commented on #58942
Also—the syntax below does not work:

[code]

I tried adding `errors: ignore` to every level of that task and could not get it to not break Ansible's parser. How do I add `errors: ignore`?

[2019-07-10 19:52] geerlingguy commented on #56713
I'm having this same issue. Not sure why this issue was closed, but I opened up a bug ticket #58942 because the documentation should be fixed to not recommend a solution that's deprecated (and ideally, that non-deprecated usage would also... work?)

[2019-07-10 20:02] sivel commented on #58942
Honestly, I just looked through this, and I might be wrong, but you cannot pass `errors` when using `with_` syntax.

It would only be possible when using `lookup('first_found', ...)` or `q/query`.

Using `with_` syntax bypasses `Templar._lookup`, and directly executes the `run` method of the lookup plugin.  `errors` is implemented in `Templar._lookup`.

If we wanted this to work with `with_` synta

[2019-07-10 20:03] bazimov commented on #58940
@ShachafGoldstein I have tried with become after your comment and same issue (maybe I might be putting become in wrong place or wrong way). I have tried with https://github.com/ansible/ansible/pull/57429/files and getting following error.

[code]

[2019-07-10 20:05] rambleraptor commented on #48012
Hello! I'd recommend trying out the new `gcp_compute` inventory plugin. The community has put a ton of work into it and it has a stronger feature set.

close_me

[2019-07-10 20:07] rambleraptor commented on #54120
Hello!

Currently, the dynamic inventory plugin does not add any SSH keys to any instances. We don't want to make any assumptions about if you want SSH keys added or where they should be added (should a key be added to an instance or project-wide?)

I can add some documentation to the `gcp_compute` docs about how to add SSH keys, but I believe that adding SSH keys is outside the scope of that plug

[2019-07-10 20:08] rambleraptor commented on #54120
close_me

[2019-07-10 20:09] ShachafGoldstein commented on #58940
Can you please add the playbook you used for that last run?

[2019-07-10 20:14] bazimov commented on #58940
I am trying to use the same playbook as above:

[code]

[2019-07-10 20:16] bazimov commented on #58940
@ShachafGoldstein oh adding `@extra_args` fixed the issue.

[2019-07-10 20:17] bazimov commented on #58940
So this line should be `@extra_args` not `@extra_vars` or am I missing something: https://github.com/ansible/ansible/pull/57429/files#diff-6364c23d77f876f08e6362c8b41cb984R55

[2019-07-10 20:22] ShachafGoldstein commented on #58940
You're correct, I guessed i missed it since we don't have any tests for that.
ill get a fix PRR

[2019-07-10 20:22] #54120 closed, assigned to nobody

[2019-07-10 20:34] lukasmrtvy opened #58944 "proxmox_template: uploading of template failed with exception: 596"
##### SUMMARY

Uploading of template will fail with exception: 596
But template is uploaded OK.
There are some weird errors in proxmox syslog:
[code]
- Its is not using path /etc/pve/nodes/local/pve-ssl.pem (/etc/pve/nodes/px/pve-ssl.pem is non existant, maybe `px` is part of my FQDN)
- `px` is not proxmox node name (`proxmox` is)
- FQDN is `https://px.example.com` - behind reverse proxy ( :8006 p

[2019-07-10 20:34] chad-autry commented on #54120
@rambleraptor Why did you close this? I read your comment as confirming the issue. The documentation is incorrect and misleading, it contains an invalid use case.

`Note that use of the “add_host” module above creates a temporary, in-memory group. This means that a play in the same playbook can then manage machines in the ‘new_instances’ group, if so desired. Any sort of arbitrary configuration is

[2019-07-10 21:05] #46040 closed, assigned to nobody

[2019-07-10 21:55] neilborromeo commented on #45446
I use this instead of the work-around or pre-task above.

[2019-07-10 22:01] samdoran commented on #58923
@mutt13y Please test with #58946 and let me know if that fixes the issue.

[2019-07-10 22:39] DaveKlassen commented on #45973
I have been using this feature heavily. Can anyone suggest a similar functionality?
Or what am I not seeing in this paradigm shift?

[2019-07-10 22:45] siacali opened #58947 "Proxmox_kvm clone fails across nodes in a cluster with shared storage"
##### SUMMARY
Trying to clone a VM or template on a cluster works from the node that it resides on but fails when targetting other nodes in the cluster.  (Console lets you clone to other nodes, so I assume this should be possible with Ansible too...maybe not?).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / E

[2019-07-10 22:55] rambleraptor commented on #58831
I've noticed that you set `become: true` on this playbook. This will run the playbook as root, which probably doesn't have those environment variables set.

The `auth_kind` parameter should be required to avoid these kinds of errors further into runtime. I've got a PR to fix this [here](https://github.com/GoogleCloudPlatform/magic-modules/pull/2037)

[2019-07-10 23:01] rambleraptor commented on #38391
There isn't an official roadmap for gcp_compute. We're asking that users submit issues with any feature requests they'd like.

close_me

[2019-07-10 23:02] rambleraptor commented on #44276
Since `gce` is officially deprecated, I'm going to close this issue.

close_me

[2019-07-10 23:02] rambleraptor commented on #38334
Hello! The new `gcp_compute` inventory plugin works with Ansible's inventory caching + lets you define the cache_name

close_me

[2019-07-10 23:03] rambleraptor commented on #33244
Hello!

The `gce` module has been replaced by the `gcp_compute_instance` module. The new modules does let you set tags on running machines.

close_me

[2019-07-10 23:04] rambleraptor commented on #31520
Hello! The new `gcp_compute` inventory plugin has support for filtering by labels.

`close_me`

[2019-07-10 23:05] rambleraptor commented on #31063
libcloud is probably swallowing the error messages.

Since this issue was filed, we've deprecated the `gce` module for the `gcp_compute_instance` module. It doesn't use libcloud and has fuller API support as such. We recommend that you use this module in the future.

close_me

[2019-07-10 23:06] rambleraptor commented on #30146
Hello! The `gcp_compute_instance` module (which replaces the `gce` module) has support for creating scratch disks (you can set the disks[].type field to be "SCRATCH")

[2019-07-10 23:06] rambleraptor commented on #30146
close_me

[2019-07-10 23:07] rambleraptor commented on #34580
close_me

[2019-07-10 23:08] #33244 closed, assigned to nobody

[2019-07-10 23:08] rambleraptor commented on #34580
In addition to the `gcp_compute_instance` module, we also have a new facts (soon to be renamed to info) module called `gcp_compute_instance_facts` which can be used just for querying information.

[2019-07-10 23:10] rambleraptor commented on #22204
Since this bug has been filed, we've replaced the `gce` module with the new `gcp_compute_instance` module. This module has support for accelerators (look under guest_accelerators) and many, many more API fields too!

close_me

[2019-07-10 23:10] rambleraptor commented on #33923
close_me

[2019-07-10 23:11] rambleraptor commented on #29556
close_me

The new `gcp_compute_instance` module does not use the default service account (unless specified)

[2019-07-10 23:12] #44276 closed, assigned to nobody

[2019-07-10 23:12] #38391 closed, assigned to nobody

[2019-07-10 23:12] #38334 closed, assigned to nobody

[2019-07-10 23:12] #34580 closed, assigned to nobody

[2019-07-10 23:12] rambleraptor commented on #24045
This sounds like some kind of libcloud config issue.

The new `gcp_compute` inventory plugin doesn't use libcloud (just regular API calls), so these auth issues shouldn't be a worry anymore.

close_me

[2019-07-10 23:12] #31520 closed, assigned to nobody

[2019-07-10 23:12] #31063 closed, assigned to nobody

[2019-07-10 23:12] #30146 closed, assigned to nobody

[2019-07-10 23:13] rambleraptor commented on #25303
close_me

[2019-07-10 23:23] #33923 closed, assigned to nobody

[2019-07-10 23:24] #29556 closed, assigned to nobody

[2019-07-10 23:24] #25303 closed, assigned to nobody

[2019-07-10 23:24] #24045 closed, assigned to nobody

[2019-07-10 23:24] #22204 closed, assigned to nobody

[2019-07-11 00:09] Sebastiaan76 commented on #47511
Any more info on this? Agreed with original poster. Currently this doesnt really work well. Would be great to have more control over which IP gets assigned to the ansible_host fact.

My situation is my VMs have a wireguard interface which gets used instead of eth0 for some reason. Unless the Tower node is also on that same wireguard network ( which it isnt ) I cant Manage those nodes unless i manu

[2019-07-11 01:35] NozomiIto commented on #50524
I also encountered the same problem today..

[2019-07-11 02:44] mmatsuya opened #58949 "TypeError: argument of type 'int' is not iterable, as vlanid (int) is not changed into string"
##### SUMMARY

I tried to configure vlan, and I got the following error.

[code]
[code]

The root cause is because vlanid was added into command args array as integer.
vlanid is the integer type. It should be changed into a string to make the command args array. The following is my proposed patch.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

###

[2019-07-11 03:09] jason87686667 commented on #58910
Justjais, Thank you for your reply, sorry for not make it clear, I have already put all this into the group_vars for the switch group, it is exactly the same as yours.

Initially I was using 2.8 for testing, unfortunately even ios_commands is not working on 2.8, so I downgrade to 2.6.5 where ios_commands start to work.

Any info you want me to get? like debug or -vvv?

Thank you.

[2019-07-11 04:04] keirazhang opened #58950 "vmware_guest: dns_suffix list is not configured correctly on Amazon Linux 2"
##### SUMMARY

When dns_suffix is set with a list of more than 1 search domains, they couldn't be written to /etc/resolv.conf successfully on Amazon Linux 2 after customization.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2019-07-11 04:30] justjais commented on #55722
@krisvasudevan @s-giri can u please confirm and verify if the respective scenario is supported from Infoblox side.

[2019-07-11 05:15] oliverwolfat opened #58952 "recursive loop detected in template string when referencing structured vars"
##### SUMMARY

When templating from the same variable "tree" ansible will throw a recursive loop detected in template string error
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

String Templating
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Microsoft Windows Server 2019 Datacenter

##### STEPS TO REPRODUCE

Execute the task.yml with the defau

[2019-07-11 05:53] krisvasudevan commented on #55722
@justjais In the nios_network.py file, i see a function that removes the use_option flag for a few vendor-specific options. Adding 119 and 242 to that list should solve this issue.

[2019-07-11 06:04] Akasurde commented on #48012
Closing as per https://github.com/ansible/ansible/issues/48012#issuecomment-510208365

[2019-07-11 06:04] #48012 closed, assigned to nobody

[2019-07-11 06:18] krisvasudevan commented on #55722
@justjais In the nios_network.py file, i see a function that removes the use_option flag for a few vendor-specific options. Adding 119 and 242 to that list should solve this issue.
This is because the use_option only applies to special options that are displayed separately from other options and have a use flag.
These options are:
• routers
• router-templates
• domain-name-servers
• domain-name
•

[2019-07-11 06:21] justjais commented on #55722
@krisvasudevan Thanks for the confirmation. Also, the `use_options` flag can be taken as a new feature and implemented.
@codyhackw I have raised the PR to resolve the issue, can u test the scenario with PR branch and verify that the fix works for you and if yes then I can backport the fix to `stable-2.8` branch.

[2019-07-11 06:34] krisvasudevan commented on #55722
@justjais the current use_option flag is only applicable to few of the options. There needs to be an additional **use_options** parameter defined at the ib_spec level. When a field (in this case, **options**) has an associated use flag(**use_options**), it becomes effective only if the corresponding use flag is set to True.

[2019-07-11 06:50] blindrood opened #58958 "win_dns_client should skip or warn on not connected interfaces instead of fail"
##### SUMMARY
If I provide asterisk as adapter_names, script tries to set dns entries on all interfaces, even those disabled or in state different than connected. This results with errors like:
`Unhandled exception while executing module: Set-DnsClientServerAddressLegacy: Error calling SetDNSServerSearchOrder, code 84)`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_dns_client module

[2019-07-11 06:53] Fred-sun commented on #58929
@Sispheor Thanks for your opening this issue to track the new feature!

[2019-07-11 06:54] Fred-sun commented on #58929
@yungezz @zikalino Could you help take a look this issue when you're free? This is a new for azure_rm_postgresqlserver module. Thanks a lot!

[2019-07-11 07:08] Sispheor commented on #58929
I'll send a PR regarding this today.

[2019-07-11 07:30] Fred-sun commented on #58929
Thanks for your contribution, When you finished the PR changed, I will push for merged.

[2019-07-11 07:30] eugen-bas commented on #58873
Sorry, the problem was taht the user used for vmware_guest has not the correct level of privileges :(

[2019-07-11 07:30] #58873 closed, assigned to nobody

[2019-07-11 07:33] jwlogemann commented on #58827
Thanks. The Verbose switch gave me the info I need.

.\ConfigureRemotingForAnsible.ps1 -Verbose
VERBOSE: Verifying WinRM service.
VERBOSE: PS Remoting is already enabled.
VERBOSE: SSL listener is already active.
VERBOSE: Basic auth is already enabled.
VERBOSE: Firewall rule already exists to allow WinRM HTTPS.
VERBOSE: HTTP: Enabled | HTTPS: Enabled
VERBOSE: PS Remoting has been successfully confi

[2019-07-11 07:33] #58827 closed, assigned to nobody

[2019-07-11 07:35] jborean93 commented on #58958
@blindrood thanks for the report, I actually came across it this morning and have a local fix. I'll push the changes once I've got the tests all set up as this module didn't have  any :(. Luckily this is only due to a recent change https://github.com/ansible/ansible/pull/55862 and so only devel is affected.

[2019-07-11 07:42] Akasurde commented on #58949
@pratikgadiya12 Would you like to take a look into this ? Let me know. Thanks.

[2019-07-11 07:42] misra-anshuman commented on #54545
This is still a relevant issues.

When you say that this could be something related to the an issue with the "default profile registry hive" which specific registry hive i should be looking at ?

[2019-07-11 07:46] blindrood commented on #58958
I have this issue on 2.8.1 so doesn't look like devel only

[2019-07-11 07:47] jborean93 commented on #58958
Hmm ok then this looks like a separate issue, sorry about that. Will have to look a bit deeper.

[2019-07-11 07:52] pratikgadiya12 commented on #58949
Thanks, @Akasurde, looking into it

[2019-07-11 07:54] kumareshan11 commented on #58925
@bcoca I tried changes but no luck :(

Here is more detail :
**Exact Playbook structure :**
---
[code]

**Role** :
[code]

**For debug i made short template to write a gathered fact into file :**
**Case 1 :**
$ cat  roles/fix_test/templates/debug.conf
[code]
Result : i see all facts related to host are written in /tmp/fact_log/debug.conf [ it's as "`anisble_local`" ]
File sample :
`{'all_ipv4_addr

[2019-07-11 08:08] Sispheor commented on #58929
[PR sent to the module owner.](https://github.com/Azure/azure_modules/pull/109)

[2019-07-11 08:11] mkrizek commented on #58749
The output you are seeing is what `apt` (the command line utility) produces on the standard output. Since the `dnf` module uses `dnf` api instead of the command line program, no output is produced there.

Furthemore, both your examples show just `changed: [host]`. You need to use a verbose mode (`-v`) to see the module's result (where Ansible modules are supposed to store information for the users

[2019-07-11 08:11] #58749 closed, assigned to nobody

[2019-07-11 08:50] Vladimir-csp commented on #49022
Finally got to test 2.8. 2.8.2 on FreeBSD to be precise.
I do not see much of a difference.
1 host middle-to late handler notification (with simple debug module changed=true) takes 5-6 seconds.
Notifying a handler while playing on 30 hosts... The task is still going for 5 minutes already, and only 4 hosts out of 30 reported change so far. This bug does not seem to be fixed.

[2019-07-11 09:21] AquaL1te commented on #58749
@mkrizek thank you for your reply. It's true that more info is displayed when -v is used, but when an Ansible playbook is ran with -v, all modules will produce a lot of debug information. Which is not what I prefer to solve this.

Would it be an idea to introduce a switch in the DNF module to display details like in the APT module? Because now, when I see 'changed' in the Ansible task, I have to l

[2019-07-11 09:29] mkrizek commented on #58749
There is a feature request for that not only for dnf but for tasks in general - https://github.com/ansible/ansible/issues/24215. You might want to read this comment - https://github.com/ansible/ansible/issues/24215#issuecomment-298826415 - which would hopefully solve your issue.

[2019-07-11 09:32] mkrizek commented on #58749
You can also do something like:
[code]

[2019-07-11 09:40] HugoDelval opened #58962 "Improve machinectl's become plugin"
##### SUMMARY
As of today, ansible does not provide a way to comunicate with systemd-nspawn's container.

An easy way to do this would be to add an option here: https://github.com/ansible/ansible/blob/33d2728879f8655337bc2157b723f1efa3a1920a/lib/ansible/plugins/become/machinectl.py#L84-L87 Something like :

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
become/machinectl

##### ADDI

[2019-07-11 09:44] guest715 commented on #58056
@justjais, I discovered today that if I comment out line 46 in lib/ansible/plugins/terminal/ios.py, the one containing, “connection timed out”, the problem goes away. It would seem to me that the problem lies in the _find_prompt function in lib/ansible/plugins/connection/network_cli.py failing to detect the switch prompt after the switch outputs, “Connection timed out; remote host not responding”.

[2019-07-11 09:45] jos-b commented on #58962
I have found it is currently possible and have done so by specifying additional flags through `become_flags`. The following playbook demonstrates how I have achieved this:
[code]

It is not as simple as I first believe because I think it is required that the containers must be able to execute the ansible python files. To do this I have added a `Bind` directive in my containers systemd.nspawn file

[2019-07-11 09:55] HugoDelval commented on #58962
That's awesome thanks a lot! I didn't realize ansible needed to access those python files, if we need to `Bind` the `.ansible` directory, I guess that's not the right solution for production use :/

Another solution would be to use a connection plugin, but then it would only work locally.

[2019-07-11 09:57] ganeshrn commented on #58056
@guest715 To help debug further you can enable device interaction logging to figure at which prompt it is exactly failing.
Please refer: https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging

Also FYI the value of `prompt` option is a python regex hence it's value should match the prompt string that is expected f

[2019-07-11 09:58] jos-b commented on #58962
Yeah it is a real pain.

This is my current config systemd config that allows it to work:
[code]

Not sure what the solution is for getting ansible to do this for us so I'm a bit stumped really.

[2019-07-11 10:11] ganeshrn commented on #58056
Also as you mentioned the presence of `connection timed out` in response string is identified as an error within Ansible.
IMO since the command execution fails on the device it is expected behavior for the switch.
To handle this scenario on router probably `destination unreachable` can be added in `terminal_stderr_re`

[2019-07-11 10:11] mkrizek commented on #58453
I cannot reproduce the issue. This is what I tried:

1. On the managed node which is `CentOS Linux release 7.6.1810 (Core)`:
[code]

2. On the controller:
[code]

Same result with Ansible 2.8.1. Anything I am doing differently? A reproducer will help us to move this issue forward, thanks!

From the output you provided, I don't see how the yum module would call `rpmquery --whatprovides '--queryform

[2019-07-11 10:19] Vladimir-csp commented on #49022
In fact, the same task in the same playbook run on ansible 2.7.10 on another (less powerful) machine completed in 20 minutes. This bug is worse in 2.8.

[2019-07-11 10:32] pratikgadiya12 commented on #58949
The issue is reproducible.

**Before changes (ansible run)**:
$ ansible-playbook vlan.yml
[code]

**Ansible playbook**:
$ cat vlan.yml
[code]
**After changes (ansible run)**:
$ ansible-playbook vlan.yml
[code]
**Output**:
$ nmcli c
[code]

@mmatsuya Thanks for the details steps and proposed patch.

[2019-07-11 10:33] pratikgadiya12 commented on #58949
PR: #58963

[2019-07-11 10:50] seboudry opened #58967 "Helm module should update installed release if values have changed"
##### SUMMARY
The `helm` module only update a release if Chart version have changed.
It should also take account of `values` parameter.
The same way `helm upgrade --install --name keycloak-ha --version 5.0.1 codecentric/keycloak -f values.yml` does.

https://github.com/ansible/ansible/blob/v2.8.2/lib/ansible/modules/cloud/misc/helm.py#L131

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

[2019-07-11 10:53] nicolaibaralmueller opened #58968 "add set_stats module support for pure ansible"
##### SUMMARY

set_stats should also be supported for pure ansible, meaning not just for Ansible Tower.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

set_stats

##### ADDITIONAL INFORMATION

set_stats can aggregate (json) variables from multiple hosts correctly:

  set_stats:
    data:
      software_facts: "{{ facts_software.List }}"
    per_host: no

Correct json output:

`[
{
    "TES

[2019-07-11 10:57] Vladimir-csp commented on #49022
I see function `get_handler_templar` iterated over all handlers in playbook (up to notified handler it seems) eats up most of the time per host.

[2019-07-11 11:04] Vladimir-csp commented on #49022
It gets murky after that. Could somebody familiar with the structure of these functions please point me to a place in the code where a handy `print()` statement would reveal what data ansible is so busy crunching?

[2019-07-11 11:27] rnsc commented on #58855
Update, I had a different error today on a Windows 2016 host:
[code]

Again, this occurs when doing "setup".
It doesn't happen if I switch to my Ansible 2.7.5 virtualenv.

[2019-07-11 11:34] jborean93 commented on #58855
So this issue is caused by a change in Ansible 2.8 to treat all PowerShell errors as terminating errors. This wasn't an issue for the majority of modules as we explicitly set `$ErrorActionPreference = "Stop"` in the majority of them but this was not one of those. Before the machine sid fact would have been null as it failed to be retrieved but now it's actually reporting the error. There's a PR in

[2019-07-11 11:36] rnsc commented on #58855
@jborean93 I see, thanks for the details. I'll try the patch right away!

[2019-07-11 11:42] rnsc commented on #58855
@jborean93 the patch definitely fixes this issue. Thank you for linking the PR!

[2019-07-11 11:43] Alveel opened #58973 "Support creating LUKS2 container in luks_device module"
##### SUMMARY

Ansible by default only creates LUKS1 format devices. Considering LUKS2 extra features and age, I think it would be beneficial to allow users to create LUKS2 devices.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
luks_device

##### ADDITIONAL INFORMATION

For reliability, one should use either disk UUID's or labels. UUID's are (in my opinion) a hassle when it comes to using

[2019-07-11 12:10] arsenicks commented on #48594
Oops, the bot reminded me that I forgot to close this issue. The PR I've submitted had fixed the issue so I guess we can close that.

[2019-07-11 12:18] noci2012 commented on #54186
@sskras: There was some communication in matrix/irc? ...
The waiting for answers took some time and then reality struck and other work got priority.
ATM i am restoring  a parallel development to working order env. (it needs to keep in lockstep with some production env that got updated, in April i had a meeting with some VSI people but could not specify what i needed due to lack of info so that opp

[2019-07-11 12:19] ekohl commented on #48594
resolved_by_pr

[2019-07-11 12:20] cesarjorgemartinez commented on #58453
Hi,
You're right, this call not is used by the yum module, this issue is wrong and should be closed:

For a dark reason, I was using the yum python module of this url:
https://github.com/AerisCloud/ansible-yum

This python module must be obsolete or no longer applies, as they say that yum is "slow".

Removing this module now is works correctly.

[2019-07-11 12:20] #58453 closed, assigned to maxamillion

[2019-07-11 12:22] ekohl commented on #48594
https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#user-content-cmd-resolved_by_pr suggests that should work to close it. Not sure if the bot is slow or if I'm using it wrong.

[2019-07-11 12:29] arsenicks commented on #48594
resolved_by_pr #52838

If you believe this issue has been resolved by a pull request, please leave a comment stating resolved_by_pr **followed by the pull request number.**

[2019-07-11 12:32] #58949 closed, assigned to nobody

[2019-07-11 12:34] ekohl commented on #48594
resolved_by_pr #52838

[2019-07-11 12:37] Vladimir-csp commented on #49022
with `ANSIBLE_DEBUG=1` I see a anomalously high number of VariableManager.get_vars() invocations.
It fires for every handler in the order of full role dependency tree (with duplicates).
Function gets parameters `play` and `task`, but not `host`. Each iteration seems to recalculate defaults and vars for roles listed in play.
So the number of times variables get recalculated is `handlers * roles * p

[2019-07-11 12:51] s-hertel commented on #52188
This should be resolved for 2.9 in c513c1e2d3c13b58a9c48130fa0ae21beb369fce.

[2019-07-11 12:51] #52188 closed, assigned to jillr

[2019-07-11 13:05] jdhanasekar opened #58975 "Unable to start nginx.service in sonar virtual box because of .PEM cert is not available."
##### SUMMARY
 I am new to ANSIBLE. I am building my automation system with Ansible.
With this article as referece "https://www.redhat.com/en/blog/integrating-ansible-jenkins-cicd-process" and  I have downloaded **vagrant-alm-master**  source from this location "https://github.com/ricardozanini/vagrant-alm"

After entering command "vagrant up", I am getting below issue.
[code]

Vagrant build proce

[2019-07-11 13:06] #48594 closed, assigned to nobody

[2019-07-11 13:07] terciero commented on #36388
I'd love to grab this if no one else is working on it.

[2019-07-11 13:09] grimlokason opened #58976 "[docker_container][ansible 2.8] - missing Mount modes on volumes"
##### SUMMARY
Unable to use the mount mode :nocopy on volume

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
AWX 3.0/docker 1.13/ RHEL7.4

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
Beeing able to access the volume within the container like in :

[code]

##### ACTUAL RESULTS
The ta

[2019-07-11 13:13] Akasurde commented on #36388
@terciero Please go ahead.

[2019-07-11 13:17] sivel commented on #58975
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-11 13:17] #58975 closed, assigned to nobody

[2019-07-11 13:21] jdhanasekar commented on #58975
Thank for the info.
I have crated a topic ansible-project.

[2019-07-11 13:30] kr3ator opened #58978 "junos_user: wrong SSH-key assignment in aggregate mode"
##### SUMMARY

When adding multiple users with SSH keys with the aggregate option the first user gets created with all SSH keys of all users on the list. Rest of the users are created without their SSH key.

The bug was introduced in this commit: "junos_user add condition when user = root (#53111)".

To fix this bug line 227 must be replaced with line 228.  The conditional in line 227 prevents 'au

[2019-07-11 13:30] kenorb opened #58979 "[systemd] Provide status state"
##### SUMMARY

Currently `systemd` provides the following choices: [ reloaded, restarted, started, stopped ].

This feature request is about adding new one: `status`, equivalent to `systemctl status NAME.service` command.

I could use like:
[code]

however, when the service is not running, it'll start it and report as _changed_. Using `status`, can help to check whether service is running and fail

[2019-07-11 13:32] gamuniz opened #58980 "force_valid_group_names throws unexpected exception if invalid names used with add_host/group_by"
##### SUMMARY

While using a simple reproducer with either force_valid_group_names=silently or force_valid_group_names=always an unexpected exception is thrown:
Sample playbook:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOs-7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-07-11 13:33] jlothian commented on #55722
I don't think the PR is general enough - for example, neither option bootfile-name or tftp-server-name take use_options.  Seems like a better approach is as @krisvasudevan suggested.

[2019-07-11 13:34] lukpre opened #58981 "zabbix_host module not idempotent with host_groups"
##### SUMMARY
Using Zabbix 4.0 Server, when a list of `host_groups` is provided for the zabbix_host module, it is not idempotent, but the behavior only appears when using Host Groups which are already existent on the Zabbix Server (ex. "Linux Server"). If i create own Host Groups on the Zabbix Server then the Module behaves accordingly and the task does not change on the second run.

##### ISSUE T

[2019-07-11 13:40] Alveel commented on #58973
It should be noted this requires a systemd version of 239 or newer, because of https://github.com/systemd/systemd/pull/8998

[2019-07-11 13:48] samdoran commented on #58868
That presents a tricky problem to solve. It's not as simple as prepending the boot time command — we have to see what is available on all those platforms. Further complicating the issue is we have to change the command based on the virtualization platform. I am not sure how to reliably discover that information.

[2019-07-11 14:01] bcoca commented on #58925
i cannot reproduce, as long as i have facts gathered, 'it works'TM and i can get the expected results:
[code]

[2019-07-11 14:10] bcoca commented on #58968
not sure what you mean, set_stats works already in 'pure ansible', it is displayed at end of play in default callback plugin if you have the 'show custom stats' option enabled.

[2019-07-11 14:13] kumareshan11 commented on #58925
I have attached the output file, when i use below in template :
`{% set memory =  hostvars[node_name]['ansible_facts']-%}
`
[debug_fact.txt](https://github.com/ansible/ansible/files/3382417/debug_fact.txt)

[2019-07-11 14:16] kumareshan11 commented on #58925
I have attached the output file, when i use below in template :
`{% set memory =  hostvars[node_name]['ansible_facts']-%}
`

[debug_fact.txt](https://github.com/ansible/ansible/files/3382440/debug_fact.txt)

[2019-07-11 14:17] kumareshan11 commented on #58925
I have attached the output file, when i use below in template :
`{% set memory =  hostvars[node_name]['ansible_facts']-%}
`

[debug_fact.txt](https://github.com/ansible/ansible/files/3382452/debug_fact.txt)

[2019-07-11 14:19] bcoca commented on #58925
so your fact dump has the info ... i really don't know how to reproduce this, i need an 'end to end' simple example.

needs_info

[2019-07-11 14:29] terciero commented on #36388
ip4_hex and next_nth_usable have both already been documented [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html#finding-ip-addresses-within-a-range).

I'm working on confirming the functionality and documenting the remaining features:

- network_in_network
- network_in_usable
- nthhost
- previous_nth_usable
- reduce_on_network
- slaac

[2019-07-11 14:32] mvorisek commented on #58868
The `uptime` is presented on the most systems and it seems to be an elegant solution. As 2nd source it preserve the existing behaviour/back compatibility and it will cover 99% of use cases as it works with virtualization.

Can you please hotfix it for 2.7+ branches?

For next major release it can be further analysed or a new option to specify the start time command manually can be introduced.

[2019-07-11 14:35] kpfleming commented on #18889
After coming across this issue when searching for a solution to the same problem (I want to block a package from being installed, when insttalling another package which 'recommends' it but does not require it), I tried the `dpkg_selections` method.

Unfortunately `dpkg` intentionally avoids reporting 'hold' state for any packages which are not installed, so if you use the `dpkg_selections` method

[2019-07-11 14:37] val1715 commented on #32265
Hi everyone.
Any news regarding this issue ??
I have the same situation - 50-100 templates and few minutes to complete simple task.
No relations between templates, no need to check.

This feature will be very useful !!

[2019-07-11 14:49] cueedee commented on #58760
I get this for `shell` tasks too:

[code]

[2019-07-11 14:51] mkrizek commented on #58760
Closing.

[2019-07-11 14:51] #58760 closed, assigned to nobody

[2019-07-11 15:00] bcoca commented on #58979
see https://docs.ansible.com/ansible/latest/modules/service_facts_module.html

[2019-07-11 15:03] samdoran commented on #58868
The problem with `uptime` and `who` is that available parameters vary widely across Linux, Unix, BSD, and macOS, and the versions of each. I found during development that `uptime` was unreliable as a source of last boot time because the default output is a _counter_ not a unique value of the last boot time, making it an unreliable test as to whether the system has rebooted.

`who` was problematic

[2019-07-11 15:23] nikita-b commented on #22716
+1
Looks very handy. I need it for my k8s tasks

[2019-07-11 15:36] jfcgaspar opened #58985 "network_cli with sros Ansible 2.8.2 - Unexpected failure during module execution."
##### SUMMARY
When running a simple ansible -m ping command against a SROS network device host when using ansible_connection=network_cli and ansible_network_os=sros inventory vars, ansible throws Unexpected failure.

When the same command is run with ansible_connection=local inventory var, result is OK. This behavior started after upgrading to ansible version 2.8.2.

##### ISSUE TYPE
- Bug Report

[2019-07-11 15:38] DVGeoffrey opened #58986 "include_vars lazy evaluation destroys boolean-looking data"
##### SUMMARY
Using `include_vars` on files with jinja inside is a powerful and useful tool, however when the jinja values lazy-evaluate to "boolean looking" strings, we lose stringyness with no way of getting it back.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`include_vars`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Tested on OSX

##### STEPS TO

[2019-07-11 15:51] AlanCoding commented on #56030
This is probably because you have hosts that have "tags" in hostvars. See how a similar thing is done in `azure_rm.yml` elsewhere:

[code]

This is anticipating that tags may be absent as a key.

I don't expect that there is a problem with the Ansible code or plugin implementation here. We may need a non-strict option, but that's somewhat of a separate issue.

[2019-07-11 15:54] AlanCoding commented on #56030
Actually, I might be wrong about the syntax specifics. You may need a fallback via `default`

[code]

[2019-07-11 16:15] robertbryanwilliams commented on #37259
@jeking3 @zikalino
Was auto-shutdown moved a a separate request or does one need to be opened?

[2019-07-11 16:31] jeking3 commented on #37259
See my comment from May 14. :)

[2019-07-11 16:31] jeking3 commented on #37259
@Fred-sun this issue should be reopened, or a new one created for auto-shutdown addition.

[2019-07-11 16:34] robertbryanwilliams commented on #37259
Thanks

[2019-07-11 16:36] sivel commented on #58986
This actually has nothing specifically to do with `include_vars`.

The following produces the same result:

[code]

This was done to support the use case outlined in https://github.com/ansible/ansible/issues/5779

Removing the special casing around the strings `"True"` and `"False"` would mean in your scenario that they would all be strings, instead of booleans.

The jinja2 native feature was intr

[2019-07-11 17:19] rambleraptor commented on #29597
Hello! The `gce` module has been deprecated in favor of the `gcp_compute_instance` module (`gce_snapshot` has been deprecated in favor of `gcp_compute_snapshot` as well). None of these new `gcp_*` modules use libcloud, so there won't be any restrictive timeout issues.

close_me

[2019-07-11 17:20] rambleraptor commented on #28168
Hello! The `gce_pd` and `gce` modules have been deprecated in favor of `gcp_compute_disk` and `gcp_compute_instance` respectively. This shouldn't be an issue in the new modules!

close_me

[2019-07-11 17:20] rambleraptor commented on #21122
Hello! The new `gcp_compute_instance` module is replacing the `gce` module. This module uses a specified service account (or you could use the default service account).

close_me

[2019-07-11 17:21] rambleraptor commented on #30759
close_me

[2019-07-11 17:22] rambleraptor commented on #34371
close_me

[2019-07-11 17:23] #29597 closed, assigned to nobody

[2019-07-11 17:23] #28168 closed, assigned to nobody

[2019-07-11 17:24] rambleraptor commented on #44724
Hello! The `gce` module has been deprecated in favor of the `gcp_compute_instance` module. The new module has support (and better error messaging!) for service accounts

close_me

[2019-07-11 17:26] rambleraptor commented on #34457
Instead of building out a single DM module (or multiple DM modules), we've been building out a series of GCP modules (under the `gcp_*` namespace) that use the GCP APIs directly. The intention is the same: a declarative, idempotent set of modules for managing GCP infrastructure. Take a look and we'd love to hear your feedback!

close_me

[2019-07-11 17:26] rambleraptor commented on #34404
Checkout the `gcp_iam_service_account` and `gcp_iam_service_account_key` modules!

close_me

[2019-07-11 17:27] rambleraptor commented on #34405
Check out the `gcp_resourcemanager_project` module!

close_me

[2019-07-11 17:28] rambleraptor commented on #28930
We've deprecated the `gce_instance_template` module to use the new `gcp_compute_instance_template` module. You can specify networks under `properties.networkInterfaces[]`.

close_me

[2019-07-11 17:28] adamdonahue commented on #56930
Concur with most of the posters here.  Removal of dashes from group names seems like a poorly thought-through decision, or one that is implementation, not semantically, driven.

[2019-07-11 17:29] rambleraptor commented on #29596
Hello!

We've deprecated the `gce_pd` module in favor of the new `gcp_compute_disk` module. The new module does not use libcloud and instead interacts with the GCP APIs directly.

close_me

[2019-07-11 17:29] sivel commented on #58986
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-11 17:29] #58986 closed, assigned to nobody

[2019-07-11 17:31] #44724 closed, assigned to nobody

[2019-07-11 17:33] #34457 closed, assigned to nobody

[2019-07-11 17:33] #34405 closed, assigned to nobody

[2019-07-11 17:33] #34404 closed, assigned to nobody

[2019-07-11 17:33] #34371 closed, assigned to nobody

[2019-07-11 17:33] #30759 closed, assigned to nobody

[2019-07-11 17:33] #29596 closed, assigned to nobody

[2019-07-11 17:33] #28930 closed, assigned to nobody

[2019-07-11 17:33] #21122 closed, assigned to nobody

[2019-07-11 17:49] #58980 closed, assigned to nobody

[2019-07-11 17:56] irpaglide commented on #49544
Hello,

I have encountered this issue a few months ago, and I'm not working on that particular project anymore, sending evidence at this point is a bit cumbersome.

What I can say in that regard, is that the array key you are mentioning is not even in the documentation.

https://docs.ansible.com/ansible/latest/modules/elasticache_facts_module.html

Please, doublecheck. The configuration endpoint i

[2019-07-11 17:59] FragmentedPacket commented on #50704
@33Fraise33 Have you upgraded to Netbox 2.6? If so, do you mind seeing if you still get the same results?

[2019-07-11 18:08] rambleraptor commented on #31404
Hello! We've deprecated the `gce_img` module in favor of the `gcp_compute_image` module. All of the new `gcp_*` modules use a standardized set of authentication parameters (`auth_kind`, `service_account_file`) that should solve this problem in the future.

close_me

[2019-07-11 18:09] rambleraptor commented on #34588
Hello! We've deprecated the `gce_instance_template` module in favor of the `gcp_instance_template` module. The new module should work with the CentOS 7 images fine.

close_me

[2019-07-11 18:09] dfederlein commented on #58841
Can confirm: with reprducer https://gist.github.com/dfederlein/bd6fe45247ca405bd842f133b6801df8

This seems like loop isn't getting the dict correctly.  Also can confirm this worked last week when I was on 2.8.1. @jctanner I've pinged Michelle Perz with more details.

[2019-07-11 18:09] rambleraptor commented on #36272
Hello! We've deprecated the `gce_tag` module in favor of using the tags functionality of the `gcp_compute_instance` module.

close_me

[2019-07-11 18:10] rambleraptor commented on #34401
Hello! We've deprecated the `gce_img` module. To replace it, we have the `gcp_compute_image` module that returns information about images and the `gcp_compute_image_facts` module that can be used to query images.

close_me

[2019-07-11 18:12] rambleraptor commented on #35266
Hello! There's been some timing issues with libcloud (libcloud reports something is done being built when it hasn't been fully created yet).

We've depreacted the `gce_snapshot` module in favor of the `gcp_compute_snapshot` module. It doesn't use libcloud and just uses the GCP APIs instead. That should avoid these category of issues.

close_me

[2019-07-11 18:13] rambleraptor commented on #32126
Hello! We've deprecated the `gce_labels` module in favor of using the `labels` field on the new `gcp_compute_instance` module. The new modules do require two pip packages (`google-auth` and `requests`), but there's no dependency on libcloud.

close_me

[2019-07-11 18:13] #36272 closed, assigned to nobody

[2019-07-11 18:14] #35266 closed, assigned to nobody

[2019-07-11 18:14] #34588 closed, assigned to nobody

[2019-07-11 18:14] #34401 closed, assigned to nobody

[2019-07-11 18:14] #31404 closed, assigned to nobody

[2019-07-11 18:15] rambleraptor commented on #43555
Hello! We've deprecated the `gce_pd` module in favor of the `gcp_compute_instance` module.

It looks like the old `gce_pd` module wasn't fully idempotent. The error message makes me think that the module was trying to attach the disk to the instance, when the disk was already attached to the instance.

The new modules are idempotent, so this shouldn't be an issue.

close_me

[2019-07-11 18:15] rambleraptor commented on #39146
close_me

[2019-07-11 18:17] rambleraptor commented on #26589
Hello! While the `gce_mig` module hasn't been officially deprecated, we're moving towards deprecating it. The functionality is split up between `gcp_compute_instance_group` and `gcp_compute_instance_group_manager`. We're doing this to better match the GCP resources that people have used in other contexts.

close_me

[2019-07-11 18:18] #57204 closed, assigned to bcoca

[2019-07-11 18:19] rambleraptor commented on #53963
We've built `gcp_cloudscheduler_job` and `gcp_cloudscheduler_job_facts` modules! Check them out

close_me

[2019-07-11 18:23] rambleraptor commented on #56426
All of these have been merged in!

close_me

[2019-07-11 18:23] #58609 closed, assigned to nobody

[2019-07-11 18:23] #53963 closed, assigned to nobody

[2019-07-11 18:23] #43555 closed, assigned to nobody

[2019-07-11 18:23] #39146 closed, assigned to nobody

[2019-07-11 18:23] #32126 closed, assigned to nobody

[2019-07-11 18:23] #26589 closed, assigned to nobody

[2019-07-11 18:24] tony-cocco opened #58991 "with_nested not always registering results"
##### SUMMARY
Inconsistent behavior is seen when registering a fact using with_nested.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
with_nested

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker container from centos:7, ansible installed via yum

##### STEPS TO REPRODUCE

Depending on size of top array, output of: `ansible-playbook ansible.yml` diff

[2019-07-11 18:33] #56426 closed, assigned to nobody

[2019-07-11 18:38] jillr commented on #49544
The module returns what the Elasticache API returns to us.  If the docs for this module have fallen behind a pull request would be gladly welcome.
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/elasticache.html#ElastiCache.Client.describe_cache_clusters

If the required data is not being returned or the does not contain a key that should be present, we would need more i

[2019-07-11 18:52] samccann opened #58992 "[Docs] add pointer to content_collector for migrating modules to collections"
##### SUMMARY

Add a description of https://github.com/ansible/content_collector to the collections techpreview file with appropriate warnings that this tool is still in active development, but is available for experimentation and feedback.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2019-07-11 19:09] samdoran commented on #58643
This is correct. We need to update the docs to reflect this behavior. It is a bit difficult to explain this succinctly. Do you have a suggestion on how to word this? If you could submit a PR with the documentation change that would be very helpful.

[2019-07-11 19:12] bcoca commented on #58682
!component =lib/ansible/modules/remote_management/hpilo/hpilo_boot.py

[2019-07-11 19:16] bcoca commented on #58688
please note that we don't currently copy the file to the target when in check_mode and to run validate it would require transfering the file making check mode that much slower.

[2019-07-11 19:16] skk1525 commented on #58682
@bcoca Is there something I am missing ?

[2019-07-11 19:17] samdoran commented on #58719
component !=lib/ansible/modules/monitoring/zabbix/zabbix_action.py

[2019-07-11 19:20] bcoca commented on #58728
needs_info

[2019-07-11 19:22] nitzmahone commented on #58723
Thanks for the report. However, Ansible isn't doing anything particularly special when creating users on MacOS (using the normal mechanisms MacOS provides), so XCode crashing when encountering them seems like an XCode bug. If you're able to find something specific to change in the way Ansible creates users that causes XCode *not* to crash, we might accept a PR for that to work around the issue. In

[2019-07-11 19:23] bcoca commented on #58761
closing as per above

[2019-07-11 19:23] irpaglide commented on #49544
yes.

**Playbook:**
---
  - hosts: localhost
    tasks:
      - name: obtain all facts for a single Elasticache cluster
        elasticache_facts:
          name: deve2e-cache-redis
        register: test

      - debug:
          msg: "{{test}}"

**result**:

ok: [localhost] => {
    "msg": {
        "changed": false,
        "elasticache_clusters": [
            {
                "at_rest_encryp

[2019-07-11 19:26] irpaglide commented on #49544
Like I said (and I have already provided the example playbook from the starts, in how to reproduce when I submitted this issue)

configuration_endpoint is not being returned.

[2019-07-11 19:27] bcoca commented on #58772
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-11 19:27] #58772 closed, assigned to nobody

[2019-07-11 19:35] bcoca commented on #58823
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we consider these to be mutually exclusive options.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourageopen dial

[2019-07-11 19:35] #58823 closed, assigned to nobody

[2019-07-11 19:42] felixfontein commented on #58973
waiting_on_contributor

[2019-07-11 19:43] felixfontein commented on #52407
waiting_on_contributor

[2019-07-11 19:43] felixfontein commented on #52408
waiting_on_contributor

[2019-07-11 19:43] felixfontein commented on #52409
waiting_on_contributor

[2019-07-11 19:45] tony-cocco commented on #58991
I reinstalled ansible using pip3 to enable python3.

[code]

This gave me the expected output. Unless this was fixed in 2.8.1 -> 2.8.2 this stems from an issue with python2 v python3.

[2019-07-11 19:49] bcoca commented on #58884
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request  because it is the job of a play to define the roles tied to a host, you should not need to reverse engineer it from hostvars.

However, we're absolutely always up for discussion.
Since this is a really busy project

[2019-07-11 19:49] #58884 closed, assigned to nobody

[2019-07-11 19:59] bcoca commented on #58938
you might want to see #37019, i believe this is a duplicate of the PRs it fixes, or at least it overlaps

[2019-07-11 20:02] bcoca commented on #58952
This is expected, you are not allowed to do self referential definitions within the same data.

[2019-07-11 20:02] #58952 closed, assigned to nobody

[2019-07-11 20:19] bcoca commented on #58836
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The original behaviour was incorrect as 'thing1' was not being assigned to localhost (ignoring the role level `delegate_facts: true`),

[2019-07-11 20:19] #58836 closed, assigned to nobody

[2019-07-11 20:20] dangerousness commented on #56493
Add this to your bash_profile:

`# Configure ssh-agent (begin)
SSH_ENV="$HOME/.ssh/environment"
function start_agent {
    echo "Initializing new SSH agent..."
    /usr/bin/ssh-agent |sed 's/^echo/#echo/' > "${SSH_ENV}"
    echo succeeded
    chmod 600 "${SSH_ENV}"
    . "${SSH_ENV}" > /dev/null
    /usr/bin/ssh-add ~/.ssh/$(whoami);
}

# Source SSH settings, if required
if [ -f "${SSH_ENV}" ]; th

[2019-07-11 20:56] mvorisek commented on #58868
Yes, the source for `uptime` is the `/proc/uptime` counter. `uptime --since` provides a start date but it can be unrealible as the last second of it can change due to the time difference between the `/proc/uptime` file and actual date is read. Or if time / timezone is changed.

What about reading the last reboot time directly from /var/log/wtmp file? This is what `who` or `last` commands do.

`/pr

[2019-07-11 21:22] dfederlein commented on #58841
Sorry, fixed my gist.  Was not a replicator before because I'm lacking coffee and deleted things.

[2019-07-11 21:36] acozine commented on #58472
To fix this issue, make sure all examples in https://docs.ansible.com/ansible/latest/modules/ec2_eip_module.html#ec2-eip-module correctly reflect the change made by https://github.com/ansible/ansible/pull/55194.

[2019-07-11 21:37] acozine commented on #58472
The rule is: `device_id` is required when `private_ip_address` is set, but the reverse is not true.

[2019-07-11 21:52] acozine commented on #58337
@lijok looking at the code, I believe that `conn_name` is required. The argument spec [defines it as a required field](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/nmcli.py#L1437). And if you don't specify a `conn_name`, you should see this [error message](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/nmcli.py#L1504).'

The documentation

[2019-07-11 22:03] ekohl commented on #33655
Looks like that particular open as fixed already.
resolved_by_pr #40754

[2019-07-11 22:06] rahul0705 commented on #58472
I was getting errors when the reverse was being used. I did look at source
and it seems to requires both variables.

On Thu, Jul 11, 2019, 5:38 PM Alicia Cozine <notifications@github.com>
wrote:

[2019-07-11 22:07] ekohl commented on #14681
This isn't really foreman specific
!component -lib/ansible/plugins/callback/foreman.py

[2019-07-11 22:17] #33655 closed, assigned to nobody

[2019-07-11 22:30] acozine commented on #57709
Tested today with Sphinx 2.1.2, which avoids the error I reported above. It does generate a few new warnings, but not many and they are all caused by the same thing:
[code]

[2019-07-11 22:50] mhunsber commented on #58643
Unfortunately, I don't have a good suggestion. It is tricky to explain. I think the most confusing part is the switch from "loading" to "merged" in the second part, and the "then" doesn't make sense since the alphabetical doesn't happen *after* the parent/child loading.

Would at least be a start, and keeps the two sentences consistent.

[2019-07-11 22:51] dekimsey commented on #58938
Agreed, it has overlap. Though it's unclear from that PR whether the added change would make missing vault-id's a simple warning (or hidden behind a verbosity level). I think it'd be a reasonable addition though.

[2019-07-11 23:13] StevenBarre opened #59002 "iptables: state:absent may not remove the rule if there is contention for the xtables lock"
##### SUMMARY
If there is something else locking the xtables, there may be unexpected behaviour from the iptables module.

if `check_present()` actually hits the error

[code]

with `rc=4` it will assume the rule doesn't exist even though it may. The module then may either create a duplicate rule, or not try and remove a rule.

I believe the issue is here https://github.com/ansible/ansible/blob/de

[2019-07-12 00:16] jagibson commented on #58836
@bcoca

OK - so you are saying that `delegate_facts=True` causes all of the `set_fact`s in the role to be set against localhost (in this example) instead of the inventory_hostname.

I'm reading [the docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegated-facts)

I think my confusion here is that `delegate_facts` to me intuitively sounds like you want to load al

[2019-07-12 03:05] mgamboa opened #59004 "Can't install package Failed to validate the SSL certificate ansible"
##### SUMMARY
I'm trying to install a package from our artifactory repository, in our new ubuntu 16.04 lts CIS

[code]
and i get the following error
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible : apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The deb package  install

[2019-07-12 04:40] palmerc commented on #58723
Yes, I suppose that is one way to look at it, but I believe that ansible uses dscl commands instead of sysadminctl. I believe sysadminctl creates a valid user account and dscl does not. I need to look into the issue some more myself to get to the bottom of the problem, but it is not obvious why Xcode is crashing.

[2019-07-12 04:47] hexdump0x0200 opened #59007 "ASA: command is considered complete if it is not authorized"
##### SUMMARY
ASA: command is considered complete if it is not authorized. Initially, the problem was discovered when it turned out that our TACACS server does not include in the white list the command `no terminal pager`, which is executed when a connection is established with the device ([lib/ansible/plugins/terminal/asa.py#L49](https://github.com/ansible/ansible/blob/f09bd91ad078a5a484cac77df39

[2019-07-12 06:08] Akasurde commented on #49842
@kartikaydw What is the value of `network` or `network_name` ? Also, Could you please try latest Ansible version and let me know if it is still reproducible ? Thanks.

[2019-07-12 06:08] Akasurde commented on #49842
needs_info

[2019-07-12 07:07] mvorisek commented on #58868
@samdoran What fix would you propose and can we fix it locally before the fix will be released?

[2019-07-12 07:30] nicolaibaralmueller commented on #58968
@bcoca Well, then I must've misunderstood the module. It works fine in Tower without setting the show_custom_stats in the config file.

I figured set_stats will make the variable global but it is not known on other hosts when used in ansible only.

I have a playbook with multiple hosts:

`
- hosts: sql
  roles:
  - { role: azure-dce-fact-collect, type: sql }

- hosts: worker
  roles:
  - { role: a

[2019-07-12 07:35] h-hirokawa commented on #54896
@ShachafGoldstein
I pushed the branch rebased with the latest devel to #54966.
Would you review it?

[2019-07-12 07:52] LinusU commented on #59002
Adding `--wait` with a sensible value sounds like a good idea 👍

[2019-07-12 07:59] mkrizek commented on #58991
I tried this on both Ansible `2.8.1` and `2.8.2` with Python `2.7.16` and Python `3.7.3`, works as expected in all cases for me, so I couldn't reproduce the issue.

Note that I had to remove:
[code]
from your example since you didn't provide the `vars.yml` file.

[2019-07-12 08:37] angystardust commented on #46384
resolved_by #57363

[2019-07-12 08:38] fhemberger opened #59013 "[messaging/rabbitmq_global_parameter] String values are not correctly converted to JSON"
##### SUMMARY
PR #43027 introduced this new feature to set global parameters for RabbitMQ. The documentation states that a value must be passed as JSON, which is rather awkward and unintuitive in this case. However, [line 130 in the PR](https://github.com/ansible/ansible/pull/26080/files#diff-a369a2b3bbf36a400725d728bde1f621R130) suggests that string values are converted to JSON, which seems to no

[2019-07-12 08:40] kr3ator commented on #58978
I've created a pull request to fix this bug.

[2019-07-12 08:42] fhemberger commented on #59013
Might be related to #43027

[2019-07-12 08:59] Vladimir-csp opened #59017 "Excessive repeated variable resolution during handler notification"
##### SUMMARY

In continuation of  #49022. The exponential slowdown depending on number of hosts in play was fixed. But but now overall speed of single handler notification became extremely slow, plus notification is done sequentially per host, so the slowness just adds up linearly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2019-07-12 09:17] yajo opened #59019 "Cannot print dict keys if jinja2_native = True"
##### SUMMARY

Cannot print dict keys if jinja2_native is established.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Execute this:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

No output, just eternal timeout.

[2019-07-12 09:34] markrob opened #59020 "na_ontap_motd.py NetApp Ansible Module - MESSAGE conflicts with core Ansible"
##### SUMMARY
na_ontap_motd.py version 2.7 when used with Ansible 2.8.2 fails with the following error message:

TASK [na_ontap_cluster_config : Set Login Message] ***************************************************************************************************************************************************************************************
An exception occurred during task execution. To see

[2019-07-12 09:38] ephracis opened #59021 "k8s_scale fails on "KeyError: merge_type""
##### SUMMARY

It is not possible to use k8s_scale due to missing key merge_type.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_scale

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Client is macOS 10.14.4
Cluster is OKD 3.11

##### STEPS TO REPRODUCE

On a newly deployed OKD cluster I fired up a Tiller service successfully. But deleting it via the `

[2019-07-12 10:06] fhemberger commented on #53746
At least have ansible-vault decrypt password lookups automatically.
I ran into the issue while trying to set a password from an encrypted cred file:

[code]

Instead of the stored password `$ANSIBLE_VAULT;1.1;AES256…` was used. Took a minute to figure that out … 😱

[2019-07-12 10:12] mkrizek commented on #59019
I have verified this. Running with `ANSIBLE_DEBUG=1` reveals the following traceback:
[code]

Which is an issue only on Python 3.

Running with Python2 works as expected:
[code]

[2019-07-12 10:13] ekohl commented on #23564
wontfix
This module is deprecated and https://github.com/theforeman/foreman-ansible-modules is the intended replacement.

[2019-07-12 10:22] #23564 closed, assigned to nobody

[2019-07-12 10:56] lbischof commented on #58130
A quick workaround is to copy the k8s `module_utils` and patch `common.py` to ignore `processedtemplates`: copy the `get` method from: https://github.com/openshift/openshift-restclient-python/blob/v0.9.0/openshift/dynamic/client.py#L748 and modify it to include:
[code]

[2019-07-12 12:28] guest715 commented on #58056
@ganeshrn, thanks for your thoughts. The problem is, the command I’ve specified in the ios_command module i.e. “copy running-config startup-config” succeeds but Ansible incorrectly interprets the output containing, “Connection timed out” as a failure. The fact that the archive of the configuration to the SCP server fails is not an indication that the running configuration failed to be written to t

[2019-07-12 12:46] kumareshan11 commented on #58925
@bcoca  Thanks, look like some env issue, here is the quick example :

ans-node-01 :
env:
ansible 2.8.1
[code]

If i run  `ansible-playbook --limit sc-sdgx-686 playbooks/app.yml` from `ans-node-1`
everything finished fine, It totally works

ans-node-02
Env:
[code]
If i run  `ansible-playbook --limit sc-sdgx-686 playbooks/app.yml` from `ans-node-02`
I face this error
[code]

It's really weird, stil

[2019-07-12 12:56] bcoca commented on #58968
tower takes the output of the callback and re-injects them as  variables into subsequent executions.

To do something similar you would need a caching mechanism, you can use Ansible's existing facts cache (but not set_stats since it does not create facts) or you can write your own caching, e.g write to file/db/etc and import as vars in subsequent plays.

[2019-07-12 13:03] evertmulder commented on #57653
Same problem here. I think the issue is in :

https://github.com/ansible/ansible/blob/aea5b795c0b8bc08c7fb189bd668f83943077915/lib/ansible/modules/cloud/vmware/vmware_guest.py#L2213

This check should check if the device is a harddisk but also selects mouted cdroms and possible other devices. An additional typecheck for VirtualDisk should be added.
![image](https://user-images.githubusercontent.co

[2019-07-12 13:05] bcoca commented on #58643
also there is 'priority' in the middle of those 2

[2019-07-12 13:13] goneri opened #59033 "vmware_guest: Fails to create a VM attached on a dvs_portgroup:"
##### SUMMARY

I try to create a VM attach on a dvs_portgroup, I get the following error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2019-07-12 13:17] Akasurde commented on #59033
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-07-12 13:25] markuman commented on #58216
This feature is mentioned in https://github.com/ansible/ansible/issues/41861 and already included in the pull request https://github.com/ansible/ansible/pull/41975

[2019-07-12 13:25] goneri commented on #59033
I face the same problem if I set the `dvswitch_name` key:

[code]

[2019-07-12 13:35] bcoca commented on #58841
@dfederlein did you forget loops add `results`?

```    - debug: var=rhel_07_020680findresults.results[0].files``` works as expected

[2019-07-12 13:40] markuman commented on #41861
@jeevers do you need some help to work on this? https://github.com/ansible/ansible/pull/41975#issuecomment-505828273

[2019-07-12 13:45] evertmulder commented on #57653
A quick fix could be
[code]
but it feels the must be a better solution.

[2019-07-12 13:48] markuman commented on #55775
That hits my pull request: https://github.com/ansible/ansible/pull/57394

is already someone working on this? Or can someone guide me to what is need to do.
ATM I'm not able to run `test/runner/ansible-test integration -v --python 3.7 elb_target --docker --allow-unsupported` after filling out `test/integration/cloud-config-aws.ini`

[2019-07-12 14:29] bcoca commented on #58938
updated pr to current ansible, see if that works for you

[2019-07-12 14:32] ceving commented on #38663
This fails with 2.8.1:

    - hosts: localhost
      connection: local

      vars:
        x:
          a: "1"
          b: "{{x.a}}"

      tasks:
        - debug: var=x

[2019-07-12 15:04] ShachafGoldstein commented on #54545
Have you tried running it on a clean installation?

and there is the defaultuser profile under users that is the base for any user profile in windows systems

[2019-07-12 15:13] ShachafGoldstein commented on #58958
Looking at the error code at https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/setdnsserversearchorder-method-in-class-win32-networkadapterconfiguration - looks like the usage of `*` causes the module to try and set the option on `IP not enabled on adapter` adapter :)

using a specific filter would avoid the problem.

unless we want to change the behavior of the module to ignore such err

[2019-07-12 15:20] geerlingguy commented on #24870
I believe this is possible now, with the current version of Galaxy, by adding a `role_name` to the role's meta info. I had the same issue with my packer role (it was named `ansible-role-packer` after my GitHub repo name), and fixed it with this commit: https://github.com/geerlingguy/ansible-role-packer/commit/ea7446da235640e8c2add4bb6da5fd328ae091ea

[2019-07-12 15:22] jeevers commented on #41861
@markuman I'm not sure anything needs to be done. I modified `runme.sh` to work with the new cloud test suite as a part of this commit:

https://github.com/ansible/ansible/pull/41975/commits/ab583fb622ef049c519906b5735634737ba61038

[2019-07-12 15:22] geerlingguy commented on #42989
It seems that you can easily control the name of the project on Galaxy now by editing the `role_name` in your role's meta (see example I used to adjust `ansible-role-packer` to just `packer` here: https://github.com/geerlingguy/ansible-role-packer/commit/ea7446da235640e8c2add4bb6da5fd328ae091ea).

[2019-07-12 15:23] geerlingguy commented on #42989
(Ah, but reading further, the bug is that the CLI does not allow you to change the role name of the actual role that is downloaded using the `--role-name` parameter.)

[2019-07-12 15:25] ameerghazy opened #59036 "netscaler_lb_vserver: Unsupported parameters for (netscaler_lb_vserver) module: resrule"
##### SUMMARY
one of the netscaler_lb_vserver's parameter defined in the documentation is unsupported (non existing when I run the playbook). Parameter name  is resrule.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netscaler_lb_vserver

##### ANSIBLE VERSION
2.6.4

##### OS / ENVIRONMENT
Ubuntu 16.04.5 LTS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Detect the resrule paramete

[2019-07-12 15:25] #24870 closed, assigned to nobody

[2019-07-12 15:34] #58761 closed, assigned to nobody

[2019-07-12 15:52] tony-cocco commented on #58991
@mkrizek Originally had the lists in the vars.yml. Forgot to remove it.

And I guess to be super clear, there are no errors, the format and type of `my_dict` differs depending on the size of the top list.

Changing my installation did fix it for me, so it's possible there's an issue in another dependency.

[2019-07-12 15:53] fabiopedrosa commented on #30603
This is quite old, but its the only thing preventing the use of Ansible inside WSL. Any update?

[2019-07-12 15:57] jean-christophe-manciot opened #59038 "edit_config() got an unexpected keyword argument 'admin'"
##### SUMMARY
Configuring an IOS-XR device in regular (as opposed to administration) configuration mode with more than 1 line triggers the aforementioned issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iosxr_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
**lldp data structure**:
[code]
**Role iosxr_lldp/tasks/ma

[2019-07-12 15:58] MarkusTeufelberger commented on #58941
I ran into the same issue (or needed this feature) as well, a `redfish_command` to boot from a given iso image once would already be a very helpful thing. Typically I don't want these files permanently attached or booted from anyways, so I'm fine with not configuring those in `redfish_config`, in case it is easier to add this to the `redfish_command` module.

[2019-07-12 16:14] jdoss commented on #34405
Awesome news @rambleraptor thanks!!

[2019-07-12 16:21] sbarre-esit commented on #59002
So it looks like `--wait [seconds]` was only added to iptables in 2014 https://git.netfilter.org/iptables/commit/iptables/iptables.c?id=aaa4ace72ba1d195bbf436134a336816c33f7bd0

And `--wait` itself was added in 2013 https://git.netfilter.org/iptables/commit/iptables/iptables.c?id=93587a04d0f2511e108bbc4d87a8b9d28a5c5dd8

Checking the man page on my RHEL6 box also doesn't list it as an option. So s

[2019-07-12 16:44] jackivanov opened #59039 "openssl_csr: problem with reading Ed25519"
##### SUMMARY
I'd like to generate a CA using the openssl modules, but failed on the csr step
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION

[code]

##### VERSIONS
[code]

[code]

##### OS / ENVIRONMENT
MacOS 10.14.5

##### STEPS TO REPRODUCE
Run the playbook below

[code]

##### EXPECTED RESULTS
csr and the following certificate created successfull

[2019-07-12 16:47] jackivanov commented on #59039
I'm not sure why is CSR even required by the `openssl_certificate` module to generate CA?

[2019-07-12 16:52] ganeshrn commented on #59038
@jean-christophe-manciot Based on the logs you shared it seems the value of `ansible_network_os` is wrong
[code]
Please set it to `ansible_network_os=iosxr` and retry

needs_info

[2019-07-12 16:57] jackivanov commented on #59039
I'm not even sure why is it necessary to generate a CSR for the CA? I can generate CA certificates without a CSR by openssl cli:

[code]

[2019-07-12 17:02] MarkusTeufelberger commented on #59039
You're writing the parameters that would be in a CSR in that `openssl.cnf` file instead I guess.

Thanks for the detailed report, I hope someone with a Mac can take a look soon.

[2019-07-12 17:07] jackivanov commented on #59039
@MarkusTeufelberger Thanks! just checked, the same error on ubuntu 18.04, so it seems like an error in passing the parameters to the cryptography module

[2019-07-12 17:22] bcoca commented on #10829
that the warning was not there did not mean it worked, the warning was added to make sure users were aware it does not, it never did.

[2019-07-12 17:24] felixfontein commented on #59039
I can reproduce this under Arch Linux. (I copied the reproducer playbook and adjusted the paths and ran it.) I'll try to debug this later...

[2019-07-12 17:27] felixfontein commented on #59039
@jackivanov it could also be a bug in cryptography itself. The module is using cryptography to load the key and passes it on to cryptography to sign the CSR. There's not that much that we can do wrong which would not already be visible with other key types.

[2019-07-12 17:44] felixfontein commented on #59039
This can be reproduced with the following Python script:
[code]

[2019-07-12 17:47] felixfontein commented on #59039
(This does the same as the ansible modules, except that the private key isn't serialized and deserialized inbetween. It gives the same error on my machine.)

[2019-07-12 17:49] felixfontein commented on #59039
And surprise, someone already encountered this in April and created an issue: pyca/cryptography#4845

So the answer is: for now it doesn't work.

[2019-07-12 18:02] felixfontein commented on #59039
(X25519, X448 and Ed448 keys have the same problem.)

[2019-07-12 18:51] felixfontein commented on #58976
Hmm, if the docker documentation will ever manage to list all possible options in a place where I can actually find it, I wouldn't forget some... (#46598: "[...] to my knowledge [...]")

I'll create a PR to fix this, but I'm not sure whether this will qualify as a bugfix or a new feature.

[2019-07-12 19:08] jpmahowald commented on #59004
I cannot reproduce because you have not made the repo's x509 certificate public.  Please provide a link to an apt package, on a public web server, whose certificate is signed by the same CA.

Read the msg output. It includes a list of directories searched for CA certs. If you have installed your own CA, please also provide tasks to install it.

needs_info

[2019-07-12 19:14] felixfontein commented on #58962
Since the thing that is executed in the systemd-nspawn container needs to be located somewhere where the container can access it, this will definitely be somewhat complicated. Instead of binding `.ansible`, one could of course also copy the files required by ansible to a place the container can access. Not sure how to find such a place in general, though (I don't have experience with systemd-nspaw

[2019-07-12 19:29] Khurram703 opened #59045 "Ansible testing with Ericsson equipment(Routers,Switches and Microwave Equipment)"
##### SUMMARY

Ericsson Equipment support is not available for Ansible that is why i am having the following error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I am using ad hoc commands using raw module before testing playbooks with Ericsson equipment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source code is written is C++
Using Linux kernel

###

[2019-07-12 19:36] jos-b commented on #58962
systemd-nspawn containers are basically a chroot. The folder where they are located is just a root of a system, for example:
[code]

Since the plugin takes a `become_user` we could copy the files straight into the chroot, which I believe would cause them to appear on the container system.

[2019-07-12 20:07] #58337 closed, assigned to nobody

[2019-07-12 20:19] #57709 closed, assigned to nobody

[2019-07-12 20:49] jpmahowald commented on #57283
Do you have a reliable way of detecting up to date?  pacman is translated, so grepping standard out for messages will not work on non English locales.

[2019-07-12 21:02] bochecha commented on #58962
They can also be a disk image, see the `--image` flag.

[2019-07-12 21:18] acozine commented on #46154
@dagwieers I think we have solved this. Here are basic stats on file sizes from my most recent local build:
 - 11 module docs files larger than 250kB
 - 92 module docs files between 100kB and 250kB
 - 944 module docs files between 50kB and 99kB
 - 1965 module docs files under 50kB
Is that sufficient to close this ticket?

[2019-07-12 21:26] acozine commented on #41727
Hi @akhilputhiry thanks for using Ansible!

We haven't heard from you - we hope that's because you solved your problem. We're going to close this issue, which is now more than a year old.

If you are still having trouble running Ansible Playbooks via a jump box or bastion host, feel free to open a new issue, and please include everything we'll need to reproduce the issue:
- a sample playbook
- any

[2019-07-12 21:26] #41727 closed, assigned to nobody

[2019-07-12 23:14] eugene-bright commented on #58884
To be honest I just try to pull attention to #6189.
Commenting on the issue above is disabled.

[2019-07-13 00:38] danielhoherd opened #59051 "get_url deletes target file when checksum fails"
##### SUMMARY

When using `get_url`, if the destination exists but has a mismatched checksum, ansible **deletes the target file**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

Ubuntu 18.04.2 LTS docker image:
[code]

Ubuntu 18.04.2 LTS docker image:
[code]

macOS 10.14.5 with homebrew
[code]

##### CONFIGURATION

No configuration.

##### OS / ENVIRONMENT

[c

[2019-07-13 01:00] danielhoherd commented on #59051
It looks like this is where the file is deleted: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/basics/get_url.py#L630-L635

[2019-07-13 06:11] D3DeFi commented on #39220
@selivan @vzabawski would you mind giving #59040 a quick test to see if import/export works for you as well?

[2019-07-13 06:26] D3DeFi commented on #58981
Hello, thank you for reporting this issue. I will try to take a look at it asap.

[2019-07-13 06:27] D3DeFi commented on #58747
Hello, thank you for reporting this. @rubentsirunyan will you have time to look at this please?

[2019-07-13 06:30] D3DeFi commented on #57942
Hello @nerijus . Thank you for reporting this problem, I will try to take a look at it asap.

[2019-07-13 07:43] Thulium-Drake commented on #48292
I found a solution to this issue, it seems that the problem is in the code trying to match ports. It is unable to do so.

I wrote a fix that will skip port matching if protocol == 'any'. See #59055

[2019-07-13 07:53] ichilton commented on #38304
This works with:

[code]

[2019-07-13 07:54] ichilton commented on #38304
This works with:

[code]

but I would really expect `direction: routed` to imply `route: yes` - it feels strange to have specify it.

[2019-07-13 08:29] jbarotin commented on #10829
@bcoca Sorry, I don't understand what you are meaning. What exactly don't work ? I'm using Ansible that way since 2 years, and haven't noticed any issue with flush_handlers.

[2019-07-13 09:57] mgamboa commented on #59004
Tell me what you need this is an internal artifactory server with a ssl
certificate

On Sat, Jul 13, 2019 at 5:10 AM John Mahowald <notifications@github.com>
wrote:

[2019-07-13 10:09] jackivanov commented on #53789
CRL is actually a must have module if we want to manage the complete chain by Ansible. I would like to see this implemented as well

[2019-07-13 11:34] jpmahowald commented on #59004
You are using your own https server.  Possibly on this host you have not trusted the CA signing the certificate.  No way to tell without seeing the certs.

Option one, configure a public https server and provide the root CA certificate. This allows reproduction of what you reported.

Option two, try configuring apt to (temporarily) skip certificate validation to determine if that was the problem.

[2019-07-13 12:01] felixfontein commented on #53789
If you could be more specific and say what exactly you want such a module to do, that would help a lot. I've never needed CRLs, so in case I ever work on such a module, I would like to know what people want to use it for :)

(Also, if someone wants to contribute such a module: feel free! I'm not sure whether I'll work on that anytime soon, or at all...)

[2019-07-13 12:06] jackivanov commented on #53789
Well, to revoke the certificates and prevent users from being able to access the system. eg: a vpn system, the operator may want to add and remove users, and if the authentication works via pubkeys, the crl is the only way to remove users.

[2019-07-13 12:09] felixfontein commented on #53789
So you want to be able to create / update CRLs? If yes, how? Or to verify CRLs? Check whether certificates appear in the CRL?

[2019-07-13 12:11] jackivanov commented on #53789
To create and update

[2019-07-13 13:10] jpmahowald commented on #59051
My interpretation of a provided checksum parameter is an assertion that the destination file contains content with that checksum. A failure to do so should be undone, I would expect the destination file to not be there.  In the extreme worst case, the download might be a compromised executable. Leave the invalid file there, ignore the error and continue, and your tasks run bad things.

A workaroun

[2019-07-13 13:12] stephan2012 commented on #58759
!component zfs

[2019-07-13 14:12] pawellrus opened #59056 "win_updates can't update reboot_required status on WinServer 2019"
##### SUMMARY
I faced with a strange issue when I was trying to install updates for Windows Server 2019.
Playbook stuck in rebooting loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Windows Server gets updated.

##### ACTUAL RESULTS

reboot_required status isn't get lifted after ansible initi

[2019-07-13 15:27] webknjaz commented on #28952
@vbotka this one is unrelated and is probably a problem on your side.

[2019-07-13 16:34] danielhoherd commented on #59051
Yeah, I definitely see that and seeing as the behavior is at least 5 years old I expect that that's what the behavior was intended to be. However it's not documented that way, and defaulting to a destructive operation seems wrong.

- CDN is down and you are redirected to a misconfigured web server where the result is 200? Goodbye local file.
- Source URL was updated to a new version? Goodbye local