[2020-01-06 16:17] samdoran commented on #64852
Oof, this is a bit messier than I originally thought. I agree with @sivel that we probably need another module for configuring appstreams rather than further complicating the `dnf` module by allowing it to manage appstreams as well.

[2020-01-06 16:32] #66127 closed, assigned to nobody

[2020-01-06 16:41] Gover-WM commented on #66031
[code]

@Fred-sun The above playbook mentions state: absent which is not what I am looking for.

The functionality I am seeking is when the peering is already in a disconnected state. Microsoft documentation says that we have to delete and recreate the peering to put in back into Initiated.

The functionality I am seeking is when I execute the create peering, regardless if the peering is disconnec

[2020-01-06 16:50] Poil commented on #47676
Same bug here with `ansible 2.9.2`

[2020-01-06 17:20] maxamillion commented on #51284
I actually think this issue was related to https://github.com/ansible/ansible/pull/63713 ... I suspect what's happening is that it's attempting to re-instantiate the YumBase (and subsequent sack load, which is an extremely expensive operation) too many times on a large package count and timing out. That fix has been merged and there are backport pull requests open so I would hope to see this fixed

[2020-01-06 17:25] opoplawski commented on #42131
Excellent, thanks!

For the record, I ended up going with something like:
[code]

[2020-01-06 17:25] #42131 closed, assigned to nobody

[2020-01-06 17:25] samdoran commented on #65391
At the time I started working on sorting out CoreOS distribution parsing and identification, RHCOS and Fedora CoreOS had not shipped. I need to reevaluate it now that there are shipping versions available.

It's still unclear to me what the OS family should be: Red Hat or CoreOS? I'm not a CoreOS user so I'm not sure what makes sense.

[2020-01-06 17:32] mariolenz opened #66217 "vmware_cluster_drs support for advanced configuration parameters"
##### SUMMARY
Similar to issue #61421 / PR #65675, vmware_cluster_drs module should also support advanced configuration parameters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_cluster_drs

##### ADDITIONAL INFORMATION

[code]

[2020-01-06 17:36] samdoran commented on #65674
None that I know of. Honestly, I was hoping this was due to some mirroring issues that would work itself out over time as a bad mirror got fixed. I just tested and it seems that they no longer appear to be failing. I'll open a PR removing the `unstable` marker for these tests and we'll see how things look.

[2020-01-06 17:53] bmillemathias commented on #65391
RHCOS, as of openshift 4.2 is a stripped down version of rhel 8 with technology taken from coreos and atomic, and provided by Red Hat so my take is to be part of redhat family.

[2020-01-06 19:16] rambleraptor commented on #47805
This should be fixed. Please re-open this issue if you're still seeing problems.

close_me

[2020-01-06 19:17] rambleraptor commented on #45720
This looks like it's been addressed. Going to close this. Please re-open a new issue if you're still seeing docs problems

close_me

[2020-01-06 19:28] #47805 closed, assigned to nobody

[2020-01-06 19:28] #45720 closed, assigned to nobody

[2020-01-06 19:49] #65993 closed, assigned to nobody

[2020-01-06 20:08] samdoran commented on #65674
Looks like the instability is gone now. I'll merge #66218 once the tests pass.

[2020-01-06 20:39] MahmoudDolah commented on #46765
For anyone here from google, just manually create an incident for the pagerduty and you should be able to create incidents via ansible just fine

[2020-01-06 20:55] kepstin commented on #64121
The `import_role` module is documented to have an `allow_duplicates` option: https://docs.ansible.com/ansible/latest/modules/import_role_module.html
If it doesn't do anything, and there are no plans to make it do anything, perhaps it should be removed?

[2020-01-06 21:05] pairaldi opened #66223 "Timeout cloning an oVirt VM from snapshot"
##### SUMMARY

I wrote a playbook that creates a clone of an oVirt VM from a snapshot.
After creating the snapshot I run the ovirt_vm task below to create the clone. Unfortunately the task ends with a timeout message before the clone is completed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_vm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansib

[2020-01-06 21:08] sivel commented on #64121
@kepstin yes, based on my research, it falls under the same problem that `private` did at one point.  It was documented, but never implemented.  As such, I believe as it stands now, it's a no-op.

We could deprecate the argument, which is counter intuitive, to deprecate functionality that doesn't work, but it could break users playbooks that have it in there.

[2020-01-06 21:26] desimaniac opened #66225 "docker_container does not allow host port ranges binded to a single container port"
##### SUMMARY

When using docker_container module, attempting to publish a port, using a range of ports from the host, does not work as expected. Instead, Ansible will attempt to use the port number in the range.

Example:

Trying to get a similar docker command as the following running in Ansible.

[code]

As of now, this will cause an error stating `Bind for 0.0.0.0:80 failed: port is already al

[2020-01-06 21:31] desimaniac commented on #66225
Sorry accidentally hit submit before I was done. I'm filling out the rest of the details as quickly as I can.

[2020-01-06 21:35] #65674 closed, assigned to nobody

[2020-01-06 21:51] mator commented on #62245
unable to reproduce with git version of ansible:

[code]

playbook:
[code]

playbook run:
[code]

[2020-01-06 22:11] mator commented on #62245
-label aix
-label solaris
-label macos
-label networking

[2020-01-06 22:18] chrisvanheuveln commented on #66206
Fixed by #63960

Bug was here:
https://github.com/ansible/ansible/blob/v2.9.1/lib/ansible/module_utils/network/nxos/facts/interfaces/interfaces.py#L93

[code]

[2020-01-06 22:24] Sneedes commented on #65072
A quick test for my specific use case appears to have worked. Able to correctly create and attach LUNs to a VM with provided LUN numbers.

[code]

[2020-01-06 22:26] maxamillion commented on #64294
@samdoran I'm not able to reproduce the issue. Did this get fixed and I missed it? :)

[code]

[2020-01-06 22:27] maxamillion commented on #64294
@samdoran omg, ignore me .... I completely misread this issue ticket.

[2020-01-06 22:35] sivel commented on #66196
The problem here is actually due to escaping, or lack thereof.

[code]

Effectively the command needs to be:

[code]

Fixing it for shell execution is not enough, even if it gets to systemd, systemd will fail to find the service if the hyphen is not escaped.

Without knowing what other chars might cause this, I'd be hesitant to just escape preceding hyphens.

[2020-01-06 22:55] unix-guy opened #66227 "azure_rm_virtualmachine.py crashes on deallocated VMs -"
##### SUMMARY
The azure_rm_virtualmachine module sometimes crashes when attempting to power on a deallocated VM. The failure is:

KeyError: 'diskSizeGB'

A similar but was fixed in 2.7.2 for azure_rm_virtualmachine_facts:

https://github.com/ansible/ansible/issues/52181

https://github.com/ansible/ansible/pull/52540/commits/51199c3101dd50e35462250dd73fb929903ad272

##### ISSUE TYPE
- Bug Report

#

[2020-01-06 22:58] unix-guy commented on #66227
After reviewing the previously linked issue I referenced above with azure_rm_virtualmachine_facts, I suspect this issue is here:

[code]

It seems that after some period of being deallocated, the metadata for disk size is not retrievable.

[2020-01-07 03:40] Akasurde commented on #42131
@opoplawski Thanks for the feedback and update example. :)

[2020-01-07 04:29] hiyokotaisa opened #66228 "Task will be failed when set shorter BGP timer than ISSU (8sec) in nxos_config module"
##### SUMMARY

When the user set BGP timer with shorter value (e.g. `timer 2 6` ), the task will be failed and subsequent config will not applied for NXOS. That message is warning message so it should be ignored.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- nxos_config

##### ANSIBLE VERSION
Ansible 2.8

##### OS / ENVIRONMENT

NX-OS

##### STEPS TO REPRODUCE

Try to set the following co

[2020-01-07 05:10] stas-sbi opened #66229 ""include_tasks" and "import_tasks" used in roles are trying to access files on playbook level"
##### SUMMARY
"include_tasks" and "import_tasks" are trying to read playbook level files when the requested files don't exist in the role itself

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
This is either Ansible core issue or documentation gap

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2020-01-07 06:46] Fred-sun commented on #66031
@Gover-WM Thank you for your update. I submitted a PR #66230 . Can you try it? Thank you very much!

[2020-01-07 07:46] leupo opened #66231 "copy with remote_src within a block with become escalation leaves tmp files"
##### SUMMARY
If used copy with remote_src: true within a block with become escalation ansible leaves tmp files in remote_tmp-Directory.
Tested versions:
2.8.7
2.9.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

echo "123" > /tmp/testfile
Execute(you must have root privileges

[2020-01-07 08:02] allamiro opened #66232 "Multiple commands or tasks using asa_command throwing an error invalid input detected"
##### SUMMARY
When trying to utilise the asa_command module more than once within a playbook, a invalid input error is thrown and the command was missing the first part i.e. show
It seems whethere the asa_command cant handle more than 3 or 4 commands with specific characters or inputs limits

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION
I tested this also

[2020-01-07 08:17] marcelvanveen commented on #64852
The suggestion by @geerlingguy seems perfectly fine. Regarding the extra bool 'reset': I would suggest to keep this as one of the values of state (so enabled, disabled or reset).

If one wants to switch streams (for example, from php:remi-7.2 to php:remi-7.4), I would expect the following code to automatically perform the required actions (optionally uninstall all packages related to the old php:r

[2020-01-07 10:20] #64500 closed, assigned to nobody

[2020-01-07 11:26] Akasurde commented on #64129
resolved_by_pr #66236

[2020-01-07 11:26] Akasurde commented on #64129
@dove-young, Could you please check PR #66236 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-07 11:27] #46765 closed, assigned to nobody

[2020-01-07 11:32] allamiro commented on #66232
so I found out that adding terminal pager 0 allows me to have multiple commands now

[2020-01-07 11:51] whirlwin commented on #26190
I solved this using debug mode. E.g.

`ansible localhost -m debug -a var='encryptedVariableName' -e "@fileContainingEncryptedVariable.yml" --ask-vault-pass`

[2020-01-07 11:54] LKaemmerling commented on #63019
This should be fixed with 8eb46acbb118494b6855f0117df33ba1ec74f020

[2020-01-07 11:54] LKaemmerling commented on #63019
close_me

[2020-01-07 12:20] #63019 closed, assigned to nobody

[2020-01-07 13:17] chrisvanheuveln commented on #66206
resolved_by_pr #63960

[2020-01-07 13:25] #66206 closed, assigned to nobody

[2020-01-07 14:04] davidebelloni commented on #65867
Hi,
I mean this:
- https://cloud.google.com/iam/docs/service-accounts#the_service_account_token_creator_role
- https://medium.com/@tanujbolisetty/gcp-impersonate-service-accounts-36eaa247f87c
- https://github.com/GoogleCloudPlatform/gsutil/issues/813

A lot of Google tools begin to permit this behaviour, it would be nice if also Ansible could.

[2020-01-07 14:35] sivel commented on #66231
Duplicate of https://github.com/ansible/ansible/issues/65393

[2020-01-07 14:35] #66231 closed, assigned to nobody

[2020-01-07 14:41] #65722 closed, assigned to nobody

[2020-01-07 14:52] f3r1s commented on #65819
@heuels
Hello, the same problem exist if username contain dash character "-" i.e. "user-one". Tested on 2.9.2.

[2020-01-07 15:06] samdoran commented on #65798
This question is best answered on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-07 15:06] #65798 closed, assigned to nobody

[2020-01-07 15:17] samdoran commented on #65803
This would required changes to the `minimal` callback plugin (and maybe `oneline` or others).

[2020-01-07 15:25] samdoran commented on #65816
needs_info

[2020-01-07 15:26] sivel commented on #65812
I've verified this.  If you try to do `reset_connection` on a host, which has never been connected to, you get this error:

[code]

[2020-01-07 15:32] #65505 closed, assigned to nobody

[2020-01-07 15:35] koenw opened #66241 "d"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-01-07 15:36] koenw opened #66242 "uptimerobot: fails with stacktrace"
##### SUMMARY
The uptimerobot module fails with stacktrace on decoding the upstream response.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
The uptimerobot module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Not relevant.

##### STEPS TO REPRODUCE
Run something like the following task.

[code]

##### EXPECTED RESULTS
The playbook runs without stacktrace

[2020-01-07 15:40] Akasurde commented on #65870
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2020-01-07 15:45] maxamillion commented on #62897
I find it interesting that this worked in Ansible 2.5.x given that the issue exists in the `yum` CLI itself.

[code]

However, I'll do some bisection to find out where things went sideways in the code base and see about getting that functionality restored because for all intents and purposes I think it could reasonably be argued that this is a regression.

[2020-01-07 15:48] samdoran commented on #65859
One solution to this would be to add method(s) to `AnsibleVaultEncryptedUnicode` to make it behave like an `int()` (and probably other base types). We can't make this inherit from `string` because it causes issues with the JSON parser.

[2020-01-07 15:49] koenw commented on #66241
Oops, pressed a wrong button.

[2020-01-07 15:49] #66241 closed, assigned to nobody

[2020-01-07 15:49] samdoran commented on #65870
The best place to discuss this issue is on IRC or the mailing list:

   * IRC: #ansible or  #ansible-azureon irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-07 15:49] #65870 closed, assigned to nobody

[2020-01-07 15:54] samdoran commented on #65881
A way to do this currently is to use `fail` or `assert` and `ansible_playbook_hosts` variables to calculate total hosts - active hosts.

[2020-01-07 16:09] flowerysong commented on #66229
This looks like expected behaviour to me; Ansible will try to resolve relative paths in multiple ways, only erroring out once it's tried the lowest priority ('playbook level') and still found nothing.

https://docs.ansible.com/ansible/latest/user_guide/playbook_pathing.html#the-magic-of-local-paths

[2020-01-07 16:35] samdoran commented on #65391
Thank you for the information. That's helpful.

[2020-01-07 17:15] techsemicolon commented on #66180
@s-hertel yes totally. I agree that the responsibility of handling rules can go into a different class. I can work on a new `elb_application_lb_rule` module and add a PR sometime soon

[2020-01-07 17:33] garethbdavis opened #66250 "lambda_event module fails with non-standard aws partitions"
##### SUMMARY

The lambda_event module does not handle aws partitions other than 'aws', for example 'aws-us-gov'.

A similar issue for the lambda module was resolved here: https://github.com/ansible/ansible/pull/28704

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lambda_event

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Us

[2020-01-07 17:42] dumblerod opened #66251 "azure_rm_mysqldatabase does not set charset as expected."
##### SUMMARY
When using the azure_rm_mysqldatabase module, using the charset or collation parameter does not work.  The database is ALWAYS created with latin1 instead of valid values passed into charset.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_mysqldatabase

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running in Azure

##### STEPS TO REPR

[2020-01-07 17:43] sivel commented on #65859
We've been discussing this, and it seems like `AnsibleVaultEncryptedUnicode` should inherit from `text_type`, but the JSON encoder in `lib/ansible/module_utils/common/json.py` will need a new function similar to `_preprocess_unsafe_encode` that pre-processes vault.  We also need to make sure there are no places where we make the assumption that "vault objects are not strings".

[2020-01-07 18:10] goneri commented on #46202
Hi @elvinasp,

This sounds like an issue with your version of open-vm-tools and/or cloud-init (https://github.com/vmware/open-vm-tools). Are you using an up to date version?

See:
- https://kb.vmware.com/s/article/54986
- https://github.com/vmware/open-vm-tools/issues?utf8=%E2%9C%93&q=is%3Aissue+netplan

needs_info

[2020-01-07 18:44] mr-blanket commented on #65910
@everyone:
For 2.7 the issue was providing network name at clone time. This particular line https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1166 adds type key to networks dictionary that then always triggers OS customization because it is missing in the list here https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/cloud/vmware

[2020-01-07 19:57] #65933 closed, assigned to samccann

[2020-01-07 20:09] sivel commented on #65859
We may need to use `collections.UserString` instead of `str`.  The C implementation of `int` and `str` make it so that we cannot impact the execution.  `UserString` may simplify things, however:

[code]

That may not be a problem, since `AnsibleVaultEncryptedUnicode` wouldn't satisfy that either, but it may overall make implementation more simple.  We would just need to make `data` a property, and

[2020-01-07 20:31] elvinasp commented on #46202
Problem is that more than a year have passed since. AFAIK I have written myself a custom workaround shell script to fix network init. However original project have moved on and Ansible deployment was abandoned completely somewhere half a year ago.

If I remember correctly by looking at my message, Ansible playbook was supposed to generate Netplan configuration file on the guest machine (if Netplan

[2020-01-07 20:46] goneri commented on #46202
Thanks @elvinasp for the update! I close the issue since the problem:

- come from third parties tools
- seems to be resolved
- is unreproducible.

[2020-01-07 20:46] #46202 closed, assigned to nobody

[2020-01-07 21:07] mjlshen commented on #65258
Here's an example playbook @AlanCoding I can open another issue over there if that's the right place to put this.
[code]

[2020-01-07 21:14] mjlshen commented on #65258
Based off of your [AWX #5558 issue](https://github.com/ansible/awx/issues/5558) I found that this syntax, however, does allow passing in lists. So maybe it's really just a documentation issue:

[code]

[2020-01-07 21:17] csoborowicz commented on #65416
@karthikeyan-dhandapani I finally had some time to try this.  The arubaos_switch_ssh_cli module times out with "Unable to read CLI Output in given Time".  The documentation for that module was pretty weak, so maybe I missed something.  The logs on the switches (I tried two) show that the user logs in, but ansible just times out.

I have limited time to devote to this, but I still plan to dig deepe

[2020-01-07 21:20] sivel commented on #66195
A vault can only be encrypted with a single ID/password.  You cannot dual encrypt a file for decryption using 1 or more IDs/passwords.

The intent is that you can have multiple files, each individually encrypted using a different ID/password.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/f

[2020-01-07 21:20] #66195 closed, assigned to nobody

[2020-01-07 21:25] jeffwarnica commented on #65258
`>` makes it a string, which _looks like_ yaml, and manages to get  passed along, except when it isn't.

I'm confident the following would barf:

[code]

[2020-01-07 22:00] felixfontein commented on #66225
The module does as [documented](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#parameters). That's different from what the `docker` CLI command does, and the main reason the module does this is to make idempotence checking not too complicated. As it is done right now, the module can simply compile a list of published ports (+IPs +protocols) from the options and compar

[2020-01-07 22:03] greg-hellings opened #66255 "role_skeleton read by ansible-galaxy collection init"
##### SUMMARY
When executing `ansible-galaxy collection init` with a value in galaxy.role_skeleton inside of ansible.cfg, the role skeleton directory is read to create a new collection. Based on its name, the `role_skeleton` value should not apply to a collection init call.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2020-01-07 23:47] stas-sbi commented on #66229
@flowerysong All right. Thank you for the link.

This is far from being obvious and pretty confusing. Increasing verbosity doesn't help with include_tasks btw but does help with include_vars:
[code]

[2020-01-07 23:56] #66229 closed, assigned to nobody

[2020-01-08 03:03] Fred-sun commented on #66227
@unix-guy Thank you for reporting this problem. Could you please tell me how to create your VM and what the status code is now? I'll try again because the VM operation I created was successful. Thank you very much!

[2020-01-08 03:25] esxi1979 opened #66259 "Foreman ansible callback plugin foreman_callback.py generate duplicate hosts in foreman each time ansible -m setup is run"
##### SUMMARY

Foreman ansible callback plugin foreman_callback.py generate duplicate hosts in foreman each time ansible -m setup is run
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

wget https://raw.githubusercontent.com/theforeman/foreman_ansible/master/extras/foreman_callback.py
vi foreman_callback.py

##### ANSIBLE VERSION

[code]

[2020-01-08 03:25] esxi1979 commented on #66259
the py file i updated as below

FOREMAN_URL = os.getenv('FOREMAN_URL', "https://xxx")
# Substitute by a real SSL certificate and key if your Foreman uses HTTPS
FOREMAN_SSL_CERT = (os.getenv('FOREMAN_SSL_CERT', "xxx"),
                    os.getenv('FOREMAN_SSL_KEY', "xxx"))
FOREMAN_SSL_VERIFY = os.getenv('FOREMAN_SSL_VERIFY', "1")

[2020-01-08 03:30] starrye opened #66260 "SSH connection is stuck"
##### SUMMARY
SSH connection is stuck

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511

##### STEPS TO REPRODUCE

[code]

https://markdown-pic-1300827591.cos.ap-chengdu.myqcloud.com/Temp/20200108112508.jpg

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-01-08 03:30] esxi1979 commented on #66259
each time ansible is ran i see below

[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin (<ansible.plugins.callback./usr/share/ansible_plugins/callback_plugins/foreman_callback.CallbackModule object at 0x2dc9890>): ‘module_name’

[WARNING]: Failure using method (v2_playbook_on_stats) in callback plugin (<ansible.plugins.callback./usr/share/ansible_plugins/callback_plugins/foreman

[2020-01-08 03:31] esxi1979 commented on #66259
Please note fatcs are getting added to Foreman so connectivity is good
I am planning to do the same now on centos 7 as ansible server , i will post results soon

[2020-01-08 04:11] maxamillion commented on #62897
Actually, I'm unable to show that this works in Ansible 2.5.14.

[code]

[2020-01-08 04:12] maxamillion commented on #62897
needs_info

[2020-01-08 05:30] dano0b commented on #64369
@ric-man sadly the terraform module does not have an active maintaner. `out, err = '', ''` is of course the cause. If you provide a pull request I can review and test, after that we can trigger a core maintaner to merge.

[2020-01-08 05:37] maxamillion commented on #28061
For posterity, I reported this to DNF. I *thought* I did so a very long time ago but apparently I didn't.

https://bugzilla.redhat.com/show_bug.cgi?id=1788212

[2020-01-08 05:40] anusha94 commented on #58541
@goneri @Akasurde
Is this something I can look into? Or are we only going to use `{{ rw_datastore }}` in test?

[2020-01-08 07:42] tkaehn opened #66262 "Showing diff results in warning message"
##### SUMMARY
Showing diff output using --diff or always = True in config file results in warning message in case a file changes:

$ ansible localhost -m copy --diff -a "content=hello dest=/tmp/world"

Message in syslog:

ansible-file: [WARNING] The value True (type bool) in a string field was converted to 'True' (type string). If this does not look like what you expect, quote the entire value to

[2020-01-08 08:18] marbarmar commented on #66206
Hello Chris,
thank you very much for your quick help.
I have changed the file locally and the idempotency works just fine now.
I am new to Ansible so I do not know when this fix will be available
publicly. Will it be there with next version of Ansible (version 2.10)? Or
how are generally fixes published so they are available for everybody?
Thank you
Martin Venclovsky
---------- Původní e-mail ----

[2020-01-08 08:55] dschier-wtd opened #66263 "ansible + podman connector not working"
##### SUMMARY

When using ansible with the podman connector (rootless container as user), I am not able to execute any commands.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

podman connector plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Fedora 31
- Podman 1.6.2
- Ansible 2.9.2 (via pip / virtualenv)

##### STEPS TO REPRODUCE

1. Start a container as

[2020-01-08 08:56] daniel-wtd commented on #66263
I have also opened an issue for the podman team:

https://github.com/containers/libpod/issues/4813

[2020-01-08 09:34] sshnaidm commented on #66263
@daniel-wtd answered you in libpod issue, I think it's better to discuss there

[2020-01-08 10:17] minhdanh commented on #26581
Any updates on this?

[2020-01-08 10:47] grimlokason commented on #41147
Hello,
This feature is still something needed,.

For exemple, actually with something like :

[code]

It's converted to :

[code]
this give the error :

[code]

While it should be  :
[code]

tested on ansible 2.8

[2020-01-08 11:25] D3DeFi commented on #66174
Thanks @richlv for the idea. This should be simple to implement alongside #64278 , which I've already started working on. Hopefully, I will come with the PR in the next days.

[2020-01-08 11:41] heuels commented on #65819
@f3r1s, thanks for the report! Unfortunately the fix has not yet been approved for merge by an Ansible team member. I hope they will do it soon though.

[2020-01-08 12:11] hassan041 opened #66264 "Not able to checkout from SVN in Ansible facing winrm_send_input failed"
I am using below command to checkout from SVN in ansible - name: Checkout Trunk from SVN subversion: repo: https://svn.alfresco.com/repos/alfresco-open-mirror/alfresco/HEAD dest: c:\trunk export: yes

Getting winrm_send_input failed fatal: [localhost] : FAILED! => { "failed": true, "msg": "winrm send_input_failed" }

Note that I have tried checking out directly in the targeted server using svn co

[2020-01-08 12:20] anilpanditi opened #66265 "Unable to create the new dashboard : 404 messageDashboard not found"
##### SUMMARY

I am trying to import a Grafana dashboard(JSON) to Grafana. Following is the ansible playbook
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

---
- name: task to parameterise grafana template
  hosts: localhost
  become: true
  user: root
  tasks:
    - name: Import Grafana dashboard
      grafana_dashboard:
        grafana_url: http://<host-ip>:3000
        state: present

[2020-01-08 12:39] Akasurde commented on #66265
Hi @anilpanditi !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This all

[2020-01-08 12:39] #66265 closed, assigned to nobody

[2020-01-08 12:40] DAgostinoLucas opened #66266 "Error "TypeError: 'in <string>' requires string as left operand, not bytes" in mail Callback Plugin"
##### SUMMARY
Ansible Callback mail plugin: mail not sent after failure in Python 3.6.8. Seems really similar to this closed [issue](https://github.com/ansible/ansible/issues/62484).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/callback/mail.py

##### ANSIBLE VERSION
**Version working  (mail sent):**
[code]

**Version not working:**
[code]

##### CONFIGURATION

[code]

[2020-01-08 14:55] AlanCoding commented on #65856
I put up a patch for this. It follows pretty logically from what @sivel pointed to, but the relevant bits for this are in the callback plugin (which makes me actually feel safer about it).

[2020-01-08 14:59] jvalderrama commented on #51062
@Fred-sun for such functionality like add a custom image disk the current ansible version add more complexity using the current solution you propose -azure_rm_manageddisk- also I can not specified a lun with this module, losing this feature from the begining of the problem definition.

Like @yuwzho  mentioned it will be very usefull to add this functionality, without any extra step like convert im

[2020-01-08 15:14] chrisvanheuveln commented on #66206
Hi Martin,
Once a fix is merged into `devel` it will be included in next release, which is 2.10.
I've asked the Ansible folks to backport it into the next 2.9.x release as well but that request is pending; if accepted I would expect to see it in 2.9.3 or 2.9.4.

-Chris

[2020-01-08 15:25] unix-guy commented on #66227
@Fred-sun I am not 100% sure how to re-create a VM with this problem...

The VMs in question were created through an internal Ansible role that uses an ARM template with azure_rm_deployment, although I don't think that is really relevant.

In the cases I encountered, the VMs were shutdown by someone manually from the Azure portal and were left in a deallocated state for 10-12 days.

When I attempt

[2020-01-08 15:33] passbt opened #66271 "win_user_right module doesn't support none or 'null' as a data type"
##### SUMMARY
I have a requirement to ensure that certain Windows users right polices are set to to none.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_user_right

##### ADDITIONAL INFORMATION

The win_user_right module is the module that should be used in this case. However, win_user_right doesn't support this specific use case of setting a policy to 'null'. I believe the crux of the

[2020-01-08 15:37] #52926 closed, assigned to justjais

[2020-01-08 16:47] AlanCoding commented on #65258
Proposed solution is at https://github.com/ansible/awx/pull/5562. Would be interested in any feedback for that.

close_me

[2020-01-08 16:51] #65258 closed, assigned to nobody

[2020-01-08 17:50] chris93111 opened #66275 "lookup with_lines python3 failt with long args shell"
##### SUMMARY

lookup lines bugs with python 3.6

The full traceback is:
Traceback (most recent call last):
  File "/data/iaas/upgrade/python_3.6_ansible_2.8/lib/python3.6/site-packages/ansible/executor/task_executor.py", line 103, in run
    items = self._get_loop_items()
  File "/data/iaas/upgrade/python_3.6_ansible_2.8/lib/python3.6/site-packages/ansible/executor/task_executor.py", line 246, in

[2020-01-08 18:08] ericdost opened #66277 "nxos_vlans - VLAN shutdown"
##### SUMMARY

VLAN remains shutdown even when using state: active under the config

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NXOS 9.3.2 (Box Image)

##### STEPS TO REPRODUCE

Play to reproduce:

[code]

##### EXPECTED RESULTS

VLAN is created and active

##### ACTUAL RESULTS

VLAN is create

[2020-01-08 18:15] ericdost opened #66278 "nxos_vlans - mapped_vni not working - TypeError: cannot concatenate 'str' and 'int' objects"
##### SUMMARY

TypeError when using the mapped_vni option

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Task below.  I tried with and without quotes for the VNI value.

[code]

##### EXPECTED RESULTS

VLAN is created with the VNI segment

##### ACTUAL RESULTS

[code]

[2020-01-08 18:30] chrisvanheuveln commented on #66278
Fixed by #63650

[2020-01-08 18:32] chrisvanheuveln commented on #66277
This may already be fixed by #63650

[2020-01-08 18:43] ericdost commented on #66278
Thanks @chrisvanheuveln I manually patched that file and it did work.  Do you know when this is getting released in 2.9?  I'm running 2.9.2 and I still see the old version there.

[2020-01-08 18:43] ericdost commented on #66277
Thanks @chrisvanheuveln I manually patched that file and it did work.  Do you know when this is getting released in 2.9?  I'm running 2.9.2 and I still see the old version there.

[2020-01-08 19:14] jborean93 commented on #66271
Can't you just do the following?

[code]

That makes sure the right has an empty list (no users) set for the right.

[2020-01-08 19:22] unix-guy commented on #66227
@Fred-sun I tried to create a VM manually and power off manually but did not encounter any issue. I will leave the VM off for some time (days) to see if that makes any difference.

[2020-01-08 19:23] rmasudur opened #66280 "Umask 0022 not working"
I've following task in Ansible playbook YAML.
[code]

But it's not working. Having following error during playbook run:

[code]
Could you please help me to set umask 0022.

[2020-01-08 20:16] chrisvanheuveln commented on #66278
@NilashishC Can #63650 be cherry-picked to 2.9.x ? -Thanks

[2020-01-08 20:25] #63281 closed, assigned to nobody

[2020-01-08 21:22] nabheet opened #66285 "ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory"
##### SUMMARY

Both ansible and ansible-playbook consume all the available memory on the system for my inventory with ~60,000 hosts. I have set the number of forks to 25.

The ansible master is a vagrant VM with 5120M of RAM configured in parallels. The system sees 4.7G.

![image](https://user-images.githubusercontent.com/1319809/71933328-1c9e1e00-315f-11ea-886e-995afa72a44c.png)

Ansible Tower se

[2020-01-08 22:57] goneri commented on #58541
We can create extra datastores to suite your needs. They are defined here: https://github.com/ansible/ansible/blob/devel/test/integration/targets/prepare_vmware_tests/vars/vcenter_1esxi.yml#L9-L19

[2020-01-09 00:07] desimaniac commented on #66225
@felixfontein Thanks for getting back.

How would the idempotence checking be for cases where no host port is defined, eg `published_ports: ['80']` and could `published_ports: ['80-90:80']` not be done the same way?

[2020-01-09 00:38] vlours commented on #29285
Hi guys,

I may have find a way to get it work. But unfortunately I'm running out of time and resources to implement and validate it for all modification functions.

The idea is to collect the Connection settings before to apply it, and check the required the values with the existing ones.

The command to do so is `nmcli -t con show <conn_name>`
It will display all parameters for this specific con

[2020-01-09 01:08] vlours commented on #29285
Here is the playbook I've done the tests with on a centos7 docker image:
[code]

### Status of the connection eth1 before to apply the config:
[code]

### First Ansible run
- First task matchs the dns search (no change)
- Second task updates the DNS search (changes + diff)
- Third task fixes the DNS servers (changes + diff)
[code]

### Server status between runs
[code]

### Second Ansible run
- Fi

[2020-01-09 02:02] Fred-sun commented on #66227
@unix-guy Thank you. I will also copy and view the results in your way!

[2020-01-09 02:19] Fred-sun commented on #60528
@Thomas-sudo I have submitted a PR according to your requirements, can you try it? Thank you very much!

[2020-01-09 02:23] Fred-sun commented on #51062
@jvalderrama Thanks for your update, we are working on this! Thank you very much!
@haiyuazhang Would you please help take a look this issue? Thank you very much!

[2020-01-09 03:39] Akasurde commented on #65989
This is already fixed via https://github.com/ansible/ansible/pull/66131

[2020-01-09 03:45] kirannhegde commented on #65366
Hello @jillr Sincere apologies. I have been delayed on this due to the vacations. I am now back in full swing and will be starting on this. Just getting started on setting up my environments.

[2020-01-09 04:04] #65819 closed, assigned to nobody

[2020-01-09 04:53] Akasurde commented on #65106
Closing this issue since PR #64989 and #65049 are merged. Please feel to open a new issue if the problem persists. Thanks.

[2020-01-09 04:53] #65106 closed, assigned to nobody

[2020-01-09 05:03] #63735 closed, assigned to nobody

[2020-01-09 05:05] ric-man commented on #64369
Hi @dano0b - happy to raise a PR, but not sure the correct procedure with this repository. Do I create my own branch, and then PR it to devel, or do I make the change directly to devel, and PR it to stable-2.9?

[2020-01-09 05:15] dano0b commented on #64369
Short: Fork, new branch based on `devel`, upstream PR to `devel`
Better: https://docs.ansible.com/ansible/latest/dev_guide/index.html

[2020-01-09 05:34] hassan041 commented on #66264
I used the below command and it worked fine.
name: Checkout Trunk from SVN
win_shell: svn co https://svn.alfresco.com/repos/alfresco-open-mirror/alfresco/HEAD c:\trunk

yes, I need to install svn client first in the targeted server and put in the path variable

[2020-01-09 05:34] #66264 closed, assigned to nobody

[2020-01-09 07:11] marbarmar commented on #66206
Hello Chris,
thank you for an explanation and for pushing this to be in minor release
(2.9.3/4).
Martin Venclovsky
---------- Původní e-mail ----------
Od: Chris Van Heuveln <notifications@github.com>
Komu: ansible/ansible <ansible@noreply.github.com>
Datum: 8. 1. 2020 16:14:16
Předmět: Re: [ansible/ansible] nxos_interfaces fabric_forwarding_anycast_
gateway is not idempotent (#66206)
"
Hi Martin,

[2020-01-09 08:03] Fred-sun commented on #60244
@damiandiaz76 Thanks for your contribution, because the value of the captured variable is None, resulting in a conversion error, I will submit a PR increase judgment to avoid this problem. Thank you very much!

[2020-01-09 08:59] mpinhede commented on #19966
Hello everyone,

I ran into this issues today, and had to find a workaround to get the execution to stop if at least one host fits the 'when' condition attached to the pause tasks.

Here is the workaround I used, in case it helps anyone:
[code]

It sets a variable 'condition_<hostname>' for each host on every host.
The first host that reaches the pause will then evaluate all the condition and paus

[2020-01-09 09:03] amandasaurus opened #66291 "systemd state=stopped in check mode always returns 'changed' when the service is already stopped."
##### SUMMARY

`systemd`'s `state=stopped` always reports changed when run in check mode when the service is stopped.

check mode should (IMO) tell you what would change if you ran the playbook. Recording this as changed makes the results unreliable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`systemd`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

U

[2020-01-09 09:04] Akasurde commented on #51180
@strom18 Could you please provide the required information? Thanks

needs_info

[2020-01-09 09:15] andyeff commented on #58729
@Fred-sun Hello! I have returned to work now so will give this a test today, thank you!

[2020-01-09 09:17] Fred-sun commented on #58729
@andyeff Thank you very much!

[2020-01-09 09:34] DHB-liuhong opened #66292 "block support with_together ?"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

- my ansible version
![image](https://user-images.githubusercontent.com/26212922/72055634-2746e780-3306-11ea-9a98-ba127ede82c8.png)
- issues
![image](https://user-images.githubusercontent.com/26212922/72055690-40e82f00-3306-11ea-8755-b66009a3503a.png)

[2020-01-09 10:24] mkrizek commented on #66292
Duplicate of https://github.com/ansible/ansible/issues/13262

[2020-01-09 10:24] #66292 closed, assigned to nobody

[2020-01-09 10:25] DAgostinoLucas commented on #66266
needs_contributor

[2020-01-09 11:16] sorenmogensen opened #66295 "When-clause on outer block wrongly executed for inner block"
##### SUMMARY
We have roles that check existence of facts before including other roles to determine those facts; this used to work fine, however after upgrading from 2.4.2 to 2.9.0 (and later 2.9.2) this appears to be broken.

It would appear that Ansible (at least from 2.9.0 through 2.9.2) is re-evaluating the when clause on the outer block when it evaluates the when clause on the inner block. It

[2020-01-09 11:27] andyeff commented on #58729
@Fred-sun I have tested and confirmed this is now fixed:
I used the current Ansible Development version using pip install git+https://github.com/ansible/ansible.git@devel, which gave me ansible 2.10.0.dev0
Happy to close!

[2020-01-09 11:27] #58729 closed, assigned to nobody

[2020-01-09 11:43] mkrizek commented on #66295
This is expected. The `when` conditional is applied to each task within the block, so your example is equivalent to:

[code]

To achieve your goal you can do the following:

playbook.yml:
[code]
tasks.yml:
[code]

Here the `when` conditional is applied to the `include_tasks` task itself, as opposed to `blocks` and `import_role` when the conditional is applied to all tasks within.

Basically the sa

[2020-01-09 11:43] #66295 closed, assigned to nobody

[2020-01-09 12:02] mkrizek commented on #66275
The problem appears to be that you need to wrap the command in `"` so the `hostvars` is templated. Also, on Python 3 you need to cast `.keys()` to `list`, otherwise you would get `KeysView` instead.

Something like this should do the trick:
[code]

[2020-01-09 12:06] mkrizek commented on #66275
Also, you might want to consider using Jinja filters (https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html) instead.

[2020-01-09 12:14] mkrizek commented on #66280
Try `shell: 'umask 0022 && umask'`, you will see that `umask` is set correctly within the session. You need to set `umask` in a way that is persistent across sessions.

[2020-01-09 12:14] mkrizek commented on #66280
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-09 12:14] #66280 closed, assigned to nobody

[2020-01-09 12:21] Akasurde commented on #65919
@arpadhajdu Hey, can follow the steps given by @sky-joker and let us know if it works for you? since it is also working for me.

Thanks

needs_info

[2020-01-09 12:52] 5sfayas opened #66297 "Return error for groups.webservers"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
  uri: url=http://{{item}} return_content=yes
      with_items: groups.vm1
      register: app_index

above code return error like below

failed: [localhost] (item=groups.vm1) => {"ansible_loop_var": "item", "changed": false, "content": "", "elapsed": 0, "item": "groups.vm1", "msg": "Status code was -

[2020-01-09 12:54] mkrizek commented on #66297
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-09 12:54] #66297 closed, assigned to nobody

[2020-01-09 13:22] AdamBrassard commented on #60528
@Fred-sun I worked with @Thomas-sudo on this. I tested the change and the blob_cors: [] setting now removes all the rules as documented.

[2020-01-09 13:53] sky-joker commented on #65417
Hi @cr00836

The changeSID option is available before version Windows Vista.
From Vista onwards, the SID will always be changed.

see
https://communities.vmware.com/message/2607268#2607268
https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.vm.customization.WinOptions.html

[2020-01-09 14:01] GomathiselviS commented on #65989
@Akasurde I did not see the PR #66131 linked to this bug. I shall close the PR created by me.

[2020-01-09 14:10] linionbb commented on #30630
Strange this issue has been here for so long...

Debug works, but delegate refers to whatever is set in "ansible_host" variable.
[code]

Result:
[code]

[2020-01-09 15:07] misant commented on #59074
Still actual, facing same issue:

ansible 2.8.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.7.5rc1 (default, Oct  8 2019, 16:47:45) [GCC 9.2.1 20191008]

-----

[2020-01-09 15:19] bcoca commented on #66291
there is a difference between 'stopped' and 'not present', that is why it always appears changed.

[2020-01-09 16:07] truki opened #66303 "postgresql_table fails when try to create a column that has like name a reserved word"
##### SUMMARY
When i try to create a table that has a field (column) with a name that it's a reserved word fail.
According to official documentation of Prostgresql if you want to use a field with a name that it's a reserved word you have to enclose between double quotes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

[2020-01-09 16:28] robertdebock opened #66304 "fact "ansible_virtualization_type" incorrect for alpine container on GitHub runner "ubuntu-latest""
#### SUMMARY
GitHub offers a shared runner of the type ["ubuntu-latest"](https://github.com/robertdebock/ansible-role-hostname/blob/master/.github/workflows/ansible.yml#L27). When molecule spins up an [Alpine container](https://hub.docker.com/repository/docker/robertdebock/alpine), `setup` returns ["VirtualPC"]( https://github.com/robertdebock/ansible-role-debug/runs/376964341#step:6:2307) for `an

[2020-01-09 16:35] ktzevelekidis opened #66305 "Question: How to use the same host for multiple groups?"
Hello,

I have the following inventory:

Test.inventory
[code]
**GroupA** and **GroupB** contain the same variables but with different values (e.g. filename). It seems that every time the playbook runs for this inventory, it does the steps once for the host (i.e. only for one of the groups).
What I want to achieve, is to run the playbook for **Host1** twice (once for each group).

Is there any way

[2020-01-09 17:07] rmasudur commented on #66280
Hi Martin, Thanks.
I've following task(s) sequence.
<pre>
      - name: Change Umask to 0022 to make installer working
        shell: umask 0022 && umask

      - name: Generic question with multiple different responses
        expect:
          echo: yes
          command: ./{{ version }} --mode text --disable_glibcxx_version_check 1
          chdir: /home/app/installers/
          responses:

[2020-01-09 17:14] sorenmogensen commented on #66295
I understand that, and have found the commit where we introduced an outer block - however, I still believe there is a problem here in that what we're actually doing is slightly more complicated and looks more like what you suggest is the solution!

I.e. the inner when clause is actually inside an include_tasks. I find it confusing that the following 2 playbooks perform differently:

play1.yaml:
[c

[2020-01-09 17:33] sivel commented on #66305
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-09 17:33] #66305 closed, assigned to nobody

[2020-01-09 17:41] coltenkrauter commented on #32554
Can you please show an example @eliskovets-sixt ? I can't get this working.

[2020-01-09 17:43] felixfontein commented on #66225
Good question, I had to check that :) Turns out that docker is clever enough to store random ranges in such cases. Here are inspection results from some tests (also for me for later):

`docker run -p 80 ...`:
[code]

`docker run -p 80-85:80 ...`:
[code]

`docker run -p 90-95:80-85 ...`:
[code]

So you're right, this is pretty simple to implement, also w.r.t. idempotency.

I'm now a bit hesistant t

[2020-01-09 19:05] shadowzen1978 opened #66310 "Allow tunneling through Google Cloud IAP when using dynamic inventory provided with inventory plugin gcp_compute.py"
##### SUMMARY
The inventory plugin **[gcp_compute.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/gcp_compute.py)** will return compute instances using private ip addresses (or hostnames) if a public ip address is not assigned.  However, Ansible cannot manage configuration of these resources if being run from outside of that private network.

I've tried to implement

[2020-01-09 19:18] samdoran commented on #65984
needs_info

[2020-01-09 19:29] adirks-ata commented on #32554
Using Ansible 2.9.2 on Mac OS Catalina and had a similar issue that was fixed by this solution. Thanks!

[2020-01-09 19:34] richlv commented on #50573
Looks like the pull request was merged 17 days ago, but the changes are not yet reflected at https://docs.ansible.com/ansible/latest/modules/zabbix_action_module.html - when could that happen?

[2020-01-09 19:36] D3DeFi commented on #50573
@richlv try devel version of the documentation at https://docs.ansible.com/ansible/devel/modules/zabbix_action_module.html

As of now, latest should still point to 2.9

[2020-01-09 19:36] samdoran commented on #66046
The best place to get help with this issues is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-09 19:36] #66046 closed, assigned to nobody

[2020-01-09 19:44] #65069 closed, assigned to NilashishC, GomathiselviS

[2020-01-09 19:45] samdoran commented on #66072
Closing per above.

[2020-01-09 19:45] #66072 closed, assigned to nobody

[2020-01-09 19:47] samdoran commented on #66080
cc @mattclay

[2020-01-09 19:48] feisa opened #66312 "nxos_l3_interfaces module"
The new nxos_l3_interfaces doesn't support mgmt interfaces while the old one does. Can we please get this fixed?

        - name: Configure Management IP
          nxos_l3_interfaces:
            config:
              - name: mgmt0
                ipv4:
                  - address: "{{ management_ip }}"
          tags:
            - nxos-vpc

fatal: [tc1-spinc002]: FAILED! => {"ansible_facts": {"d

[2020-01-09 19:55] samdoran commented on #66106
This level of abstraction is best solved by an Ansible role leveraging several modules to do the right thing based on platform.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-09 19:55] #66106 closed, assigned to nobody

[2020-01-09 19:55] passbt commented on #66271
I didn't think this worked for some reason, but it does. The documentation must have hung me up where it wasn't abundantly clear that `users` could be a NULL array and still fulfill the required requirement. I don't think it would hurt to update the examples, with one that shows setting a policy to `none`. I'll hold off on closing this just in case you want to update the module doc with one such e

[2020-01-09 20:02] cc22510889 opened #66313 "Clone VM from a template - error"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Hi Newbie here and getting my hands wet in ansible .

I have a template in Vcenter . planning to clone it using ansible .

Ansible version using :

ansible 2.4.2.0

  python version = 2.7.5 (default, Aug  7 2019, 00:51:29) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

My yml file for playbook is

---
- ho

[2020-01-09 20:15] jborean93 commented on #66271
You are right, I've opened a PR that documents this particular scenario https://github.com/ansible/ansible/pull/66315.

It works because an empty list equates to no accounts and when the action is set (default) it ensures the right also has no account (empty list).

[2020-01-09 20:33] #66271 closed, assigned to nobody

[2020-01-09 20:37] feisa commented on #66312
Im running the dev version right now

ansible 2.10.0.dev0
  config file = /home/feisa/ansible-network/ansible.cfg
  configured module search path = ['/home/feisa/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/feisa/.local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.8 (default, O

[2020-01-09 20:37] cc22510889 commented on #66313
Component name : tasks

[2020-01-09 20:39] dashmoho commented on #66313
If I'm not mistaken, 'datastore' parameter was added in 2.7. You need to update ansible or use disk.datastore.

[2020-01-09 20:39] feisa opened #66318 "nxos_bgp_neighbor"
The Nxos bgp neighbor modules should support inherit policies so peer policies can be templated out

ie i have a peer policy for all neighbors before
  template peer-policy PRIMARY
    route-map PRIMARY out
    soft-reconfiguration inbound always

I apply the policy to a neighbor

  neighbor 10.9.136.157 remote-as 53596
    description Test
    address-family ipv4 unicast
      inherit peer-policy

[2020-01-09 20:54] cc22510889 commented on #66313
@dashmoho  You are awesome. That fixed it. Thank you for helping me out in this .

[2020-01-09 20:54] #66313 closed, assigned to nobody

[2020-01-09 21:24] desimaniac commented on #66225
Ah good find and thanks for checking. And sorry for my bad grammar/typos earlier... Cleaned that post up :p.

That would be awesome! Thank You!

[2020-01-09 21:47] #49465 closed, assigned to gundalow

[2020-01-09 21:47] #64656 closed, assigned to nobody

[2020-01-09 22:13] Bahu2016 opened #66320 "How to get next available ip in DHCP Range"
Am new to Infoblox and working on DHCP and DNS automation.

Question

I have subnet 167.93.24.0/25 in this subnet, i created ipv4 DHCP Range (167,93,24.89-168.94.24.123). how to get ip from DHCP Range. Is that possible with the below module? Let me know which ansible module will i need to use.

And i want to reserve the IP for future use.

#- name: Add host record over DHCP next available ip
# nio

[2020-01-09 22:41] sivel commented on #66320
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-09 22:41] #66320 closed, assigned to nobody

[2020-01-09 22:47] ric-man commented on #64369
Thanks for the assistance @dano0b. PR has been made.

[2020-01-10 00:15] brian-lutz commented on #37296
@opoplawski same goes for me. I'm going to try to install pip in the shell and see if it fixes the problem.

[2020-01-10 01:20] miettal opened #66327 ""snap <application> set" support"
##### SUMMARY
currently, ansible snap module supports installing application.

snap has key-value format application configuration function,  but it's not supported on ansible snap module.
therefore I hope support of "snap APPLICATION set".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

snap module

##### ADDITIONAL INFORMATION

in this issue I mention snap application configuration funct

[2020-01-10 02:07] lucasbasquerotto commented on #41188
@bcoca

It's weird that it does not happen at load time, because, although the error happens when I try to use the variable, changing the load from:

[code]

to:

[code]

solved it for me, and I changed only the way it loads.

The problem is that some `yaml` tags like `!vault` doesn't work, like explained in the issue https://github.com/ansible/ansible/issues/34832.

Is there a way to convert a `y

[2020-01-10 03:29] Fred-sun commented on #60528
@AdamBrassard Thanks for your checking!

[2020-01-10 03:56] Akasurde commented on #66318
!component =lib/ansible/modules/network/nxos/nxos_bgp_neighbor.py

[2020-01-10 03:56] Akasurde commented on #66312
!component =lib/ansible/modules/network/nxos/nxos_l3_interfaces.py

[2020-01-10 03:59] Akasurde commented on #66275
needs_info

[2020-01-10 04:04] feisa commented on #66312
Thanks for taking a look at this

[2020-01-10 05:09] AbhishekMitra08 commented on #57203
+1 to this. Required

[2020-01-10 06:03] AbhishekMitra08 commented on #57203
I can confirm that this is possible in Ansible 2.9.

- name: create a project
  gcp_resourcemanager_project:
    name: My Sample Project
    id: alextest-{{ 10000000000 | random }}
    auth_kind: serviceaccount
    service_account_file: "/tmp/auth.pem"
    parent:
      type: folder
      id: 636173955921
    state: present

[2020-01-10 06:26] Andersson007 commented on #65367
@rtsisyk i can't reproduce the situation.. i used a query containing "SELECT * FROM blabla WHEN story = 'Данные'" and it doesn't fail

[2020-01-10 06:34] Andersson007 commented on #65367
resolved_by_pr: https://github.com/ansible/ansible/pull/66331

[2020-01-10 07:03] Fred-sun commented on #66251
@dumblerod Thank you for reporting the problem. We'll look into it.

[2020-01-10 07:57] NilashishC commented on #66278
@chrisvanheuveln @ericdost Here's the backport https://github.com/ansible/ansible/pull/66330

[2020-01-10 08:19] DAgostinoLucas commented on #58938
UP
What's the status of this issue? I'm running exactly into the same, I would expect that if one of the vault_password_file is missing (e.g: when I'm in acceptance, just have .vault-acc and not .vault-prod seems logical) it just keep going until a valid vault_password_file works...

[2020-01-10 08:42] DaLnx opened #66340 "VMware: vmware_tag ignores category_id"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create Tag in Category ITManager within VMware and create by ansible in other Category the same Tag

Task for create same tag in Category Owner:

[code]

##### EXPECTED RESULTS

"ansible_module_results": {

[2020-01-10 08:47] Andersson007 commented on #65367
close_me

[2020-01-10 09:14] Akasurde commented on #66340
@DaLnx Could you please check if PR https://github.com/ansible/ansible/pull/61082 and let me know if it works for you? Thanks.

needs_info

[2020-01-10 09:24] rory commented on #66291
But when you run it in non-checked mode, it says it's not changed. Doesn't that make the “dry run” mode "wrong"?

Is it possible to have a state that says "Not installed"? If the service is running, stop it, and disable it. If it's not running but enabled, then disable it?

[2020-01-10 09:31] IshwarKanse opened #66341 "Add UNC path support to the Fetch action"
##### SUMMARY
Fetch module fails with path not found error when used with UNC path.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
Fetch module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE
Create a share on the managed Windows node.

[code]
##### EXPECTED RESULTS
Path is rendered correctly and the file is

[2020-01-10 09:36] DaLnx commented on #66340
With vmware_tag we create several tags and with vmware_tag_manager we assign them to a vmguest.

Result of calls to vmware_tag in the two categories:
Owner category, does not exist in it.
{
    "_ansible_no_log": false,
    "ansible_module_results": {
        "msg": "Tag user@company.com is unchanged.",
        "tag_id": "urn: vmomi: InventoryServiceTag: d682a09a-c57d-470e-abdf-a5bc068ab69d: GLOBA

[2020-01-10 09:49] Akasurde commented on #66340
@DaLnx Could you please paste the output of following -

[code]

[2020-01-10 09:50] Akasurde commented on #66340
needs_info

[2020-01-10 09:52] DaLnx commented on #66340
I have seen a difference in category_id when I call for ITManager and Owner.
In ITManager the value has the character ' before and after.

I have eliminated that character, leaving both exactly the same, but it has also failed.

[2020-01-10 09:54] DaLnx commented on #66340
{
    "ansible_loop_var": "item",
    "_ansible_no_log": false,
    "item": {
        "category_cardinality": "SINGLE",
        "category_used_by": [],
        "category_associable_types": [
            "VirtualMachine"
        ],
        "category_description": "",
        "category_id": "urn:vmomi:InventoryServiceCategory:a716ccdc-03d5-47c4-aa70-5aac4b068f8a:GLOBAL",
        "category_name": "Ow

[2020-01-10 10:25] Akasurde commented on #66340
@DaLnx Can you please ping on channel #ansible-vmware (irc_nick: akasurde) on freenode.net? Thanks.

[2020-01-10 10:48] eliskovets-sixt commented on #32554
Something like this works for me:
[code]
You can also add `export no_proxy="*"` to your `.bashrc` or `.zshrc`, so you don't need to type it every time.

[2020-01-10 11:28] richlv commented on #50573
Wonderful, thank you. I mistakenly expected "latest" to be latest-latest, but it pointing to the last release makes sense.

[2020-01-10 11:35] richlv opened #66343 "zabbix_action: condition value considered required when it should not be"
##### SUMMARY
According to the [Zabbix manual](https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object), the condition type "Problem is suppressed" has: "No value required".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
latest

##### STEPS TO REPRODUCE
"Problem is suppressed" matches `maintenance_status` in `zabbix_action` (value 16).

[2020-01-10 11:41] richlv commented on #66343
Workaround: `value: ''`.

[2020-01-10 11:49] tabacha commented on #49254
Same here with Ansible 2.9.2

[2020-01-10 11:50] deepakpal-in opened #66344 "k8s_scale is getting failed with error: "msg": "Exception reading event stream: ""
##### SUMMARY
ansible version: 2.7.8
kubectl: 1.14.3
kubeadm: 1.14.3

While performing the scaleup operation on some of my resources under k8s cluster k8s_scale module is getting failed with below error:

I suspect this issue is arising because my resources are taking some time to come up running. But to avoid that situation I have already used the below wait parameters:

[code]

but in any scenar

[2020-01-10 12:18] mivanov-its opened #66345 "Update the documentation on the subversion module."
COMPONENT NAME
subversion module

The subersion module has two parameters: username and password. These are passed as command line arguments to the svn executable (See bits from [1]). This is documented in the module description [2], but a note about a security concern is missing. Please add a note, that using these parameters is a security concern because these parameters will be visible in the p

[2020-01-10 12:51] DaLnx commented on #66340
I have used vmware_tag_facts to verify the tags.

Both for the tag that I want to create in a new category, there is only one currently in vmware, and for another one already existing in two categories (made using vmware gui).

In both cases, the tag information seems to contain nothing more than an element. Shouldn't it be one for each category?

user@company.com
{u'tag_category_id ': u'urn: vmom

[2020-01-10 13:32] chrisvanheuveln commented on #66312
@mikewiebe @NilashishC Let's add this to the agenda on the next call. The mgmt restriction was added as a safety after auto-removal issues came up with `deleted/replaced/overridden` states, and we simply modeled the new behavior on work we did with other programmability clients (which didn't have a use case for managing mgmt0).

[2020-01-10 13:40] mivanov-its opened #66348 "Add commit to the subversion module"
##### SUMMARY
It would be handy to have the functionality of "svn commit" implemented in the subversion module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
subversion module

##### ADDITIONAL INFORMATION

[2020-01-10 13:59] chris93111 commented on #66275
Hi @mkrizek thank you the '| list' work without wrap , i have new problem , in python2 vars set by the user is precede by 'u' , in python 3 it's not ne same behaviour :) ... but your correction work and the lookup pass

thanks ;)

[2020-01-10 14:14] froebela opened #66349 "omit does not work on includes"
##### SUMMARY
include_role complains if parameter vars_from is given but no vars file exists

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible controller: Debian GNU/Linux 8
managed devices: Oracle Solaris 11.3/11.4

##### STEPS TO REPRODUCE

Here's a simple Ansible playbook file test/includ

[2020-01-10 14:28] Thulium-Drake opened #66350 "os_security_group_rule error when adding rule that exists (with proto = any)"
##### SUMMARY

When runinng a task with the configuration mentioned below does succesfully create the Security Group Rule in the Openstack environment. However, the module is failing on subsequent runs, claiming the rule already exists.

I have narrowed the issue down to a specific function in the module and will be posting a PR that fixes it in a few minutes.
##### ISSUE TYPE
- Bug Report

#####

[2020-01-10 14:39] sm4rk0 commented on #64935
I don't see a conditional in above handler...
And would expect the notify to trigger a handler if any of the imported tasks changed.

[2020-01-10 14:42] sivel commented on #64935
imports do not work like tasks, and they do not have an association between the `import_tasks` task and the tasks within the imported file really.  `import_tasks` is a pre-processing trigger, that is handled during playbook parsing time.  When the parser encounters it, the tasks within are retrieved, and inserted where the `import_tasks` task was located.  There is a proposal to "taskify" includes

[2020-01-10 14:51] tcraxs opened #66352 "Add the feature to redis module to be able to save the live config to disk (CONFIG REWRITE command)"
##### SUMMARY

It is possible to set config with the redis.py module. But unfortunately it is not possible to persist these settings in the config. Redis has a nice command `CONFIG REWRITE` to persist the live settings to disk.
I like to see this command in the ansible module to have the possibility to persist the settings which were set by the module.

##### ISSUE TYPE
- Feature Idea

##### COMPO

[2020-01-10 15:11] tcraxs commented on #66352
I will work on this feature and create a PR for that.

[2020-01-10 15:25] bcoca commented on #66349
First 'main' is not the default, `undefined` is, which triggers the search for several 'main' variants.

The behaviour is correct, what you want is to use `omit` when trying to 'reset to defaults'

[2020-01-10 15:30] YoucefYousfi opened #66354 "mso_schema_template_anp_epg_contract sometimes not idempotent ?"
##### SUMMARY
I am using mso_schema_template_anp_epg_contract module to add contracts to an epg. On first run, it works as expected and it effectively adds the contract.
However, when I run the playbook again, it returns an error 400 Bad Request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mso_schema_template_anp_epg_contract

##### ANSIBLE VERSION

ansible 2.9.2
  config file = None
  c

[2020-01-10 15:47] thor commented on #50502
Per my PR #60266, I was hoping this would be possible to get a fix in for earlier rather than later, but it is proving to take more time than expected.

[2020-01-10 16:01] JuddTracy-DAS opened #66356 "proxmox_kvm return vm information with state='current'"
##### SUMMARY

Currently when using the proxmox_kvm module with the state=current feature it only tells you what that running state of the VM is.  I propose that that the results should also give you the information returned about the VM made when querying for the VM using (/cluster/resources?type=vm).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
proxmox_kvm

##### ADDITIONAL INFORMATION

[2020-01-10 16:07] julien1091 opened #66358 "azure_rm_virtualmachine: "Error myvm has a provisioning state of Updating. Expecting state to be Succeeded.""
##### SUMMARY

I encountering an issue when I use the Azure module **"azure_rm_virtualmachine"** to change the state of linux VM.__"updating"__ state is not handle by the module.
After some tests it seems the issue occured when the VM is in bad state and keep the status "updating"
For example we see the status "updating" (on the azure UI) when we update the flavor.

##### ISSUE TYPE
- Bug Report
#

[2020-01-10 16:21] YoucefYousfi opened #66359 "mso_schema_template_external_epg_contract not idempotent ?"
##### SUMMARY
I am using mso_schema_template_external_epg_contract module to add contracts to an external epg. On first run, it works as expected and it effectively adds the contract.
However, when I run the playbook again, it returns an error 400 Bad Request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mso_schema_template_external_epg_contract

##### ANSIBLE VERSION

ansible 2.9.2
  con

[2020-01-10 16:29] bcoca commented on #35916
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because Roles has already been grandfathered in, we are moving into 'collections' as a new way to deliver content with a term that we hope that is not as loaded as Role.

However, we're absolutely always up for discussion.
Since

[2020-01-10 16:29] #35916 closed, assigned to acozine

[2020-01-10 16:31] YoucefYousfi opened #66360 "mso_schema_template_external_epg_contract weird behavior with multiple contracts"
##### SUMMARY
I am using mso_schema_template_external_epg_contract module to add 3 contracts to an external epg. On first run, it works as expected and it effectively adds the contracts.
However, when I run the playbook again, it has a weird behavior that I display below on obtained results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mso_schema_template_external_epg_contract

##### ANSI

[2020-01-10 16:33] bcoca commented on #31165
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because specific details and configurations vary too much for us to support documenting every possible case and variation, we document the simple and standard cases and leave the rest to each distro and configuration scheme

[2020-01-10 16:33] #31165 closed, assigned to nobody

[2020-01-10 16:35] bcoca commented on #42252
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-10 16:35] #42252 closed, assigned to nobody

[2020-01-10 16:37] bcoca commented on #42161
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-networking on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by ther

[2020-01-10 16:37] #42161 closed, assigned to nobody

[2020-01-10 16:39] bcoca commented on #41624
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-10 16:39] #41624 closed, assigned to nobody

[2020-01-10 16:39] Akasurde commented on #63276
@nschende-mort Any news? needs_info

[2020-01-10 16:40] bcoca commented on #42173
This issue should no longer present in recent Ansible versions, please test with those and open a new issue if the problem persists for you.

[2020-01-10 16:40] #42173 closed, assigned to nobody

[2020-01-10 16:41] bcoca commented on #31268
closing as per above.

[2020-01-10 16:41] #31268 closed, assigned to nobody

[2020-01-10 16:51] nschende-mort commented on #63276
Unfortunately I had issues getting it to run. any special instructions or requirements to execute it?  I will pull the error as soon as I am able and you can maybe tell me what I am doing wrong.  It seemed like a syntax error.  I simply copied the .py to a machine and set it as executable then configured my credentials and tried to execute it.

[2020-01-10 16:53] bcoca commented on #15766
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-10 16:53] #15766 closed, assigned to nobody

[2020-01-10 16:56] sivel commented on #42850
Closing per above.

[2020-01-10 16:56] #42850 closed, assigned to nobody

[2020-01-10 16:56] kbreit commented on #44133
Is this a duplicate of #66035?

[2020-01-10 16:59] Akasurde commented on #63276
Run following commands - Make sure you have Python 3 and virtualenv installed on the given machine

[code]

ping me on IRC channel #ansible-vmware (akasurde) on freenode.net

[2020-01-10 17:36] yakshaver2000 commented on #56554
This is an issue for "older" regions too: If the S3 bucket is newly created anywhere other than us-east-1, then adressing it using the `s3.amazonaws.com` domain results in a "307 temporary redirect" [for apparently up to 24 hours](https://aws.amazon.com/premiumsupport/knowledge-center/s3-http-307-response/).

In my experience today, cloudfront does not follow that redirect. Instead, it caches it a

[2020-01-10 17:52] dsglaser opened #66363 "ansible_mounts should return all mounts, not just disk mounts"
##### SUMMARY
ansible_mounts variable should include all mounts returned by the /usr/bin/mount command, or the mount module should be modified to report mount status

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible_mounts variable or mount module

##### ADDITIONAL INFORMATION
Currently the ansible_mounts variable returns only disk mounts on the system and the mount module does not ap

[2020-01-10 18:37] ServerNinja opened #66365 "azure_rm.py fails with "Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x10ad0d550>""
##### SUMMARY
When trying to run the azure_rm.py script, it fails with an unexpected error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Trying to use azure_rm.py to query an inventory in Azure. Running from Mac OSX Mojave (10.14.5). Using pyenv (installed via brew) with python 2.7.15.

##### STEP

[2020-01-10 18:37] ServerNinja commented on #66365
Pip list:
[code]

[2020-01-10 18:40] ServerNinja commented on #66365
azure_rm.ini:
[code]

[2020-01-10 18:45] adirks-ata commented on #32554
Before running the ansible playbook, you should run the `export no_proxy='*'` command to create a local environmental variable. You'll be able to confirm this is in your environmental variables if you run `env | grep no_proxy` after running the above command.

You would then run the `ansible-playbook collect-facts.yml` command as normal.
Note: Every time you open a new terminal, you will have to r

[2020-01-10 19:01] nodiscc commented on #65639
`1.` would solve the problem of this simple task not being idempotent

[code]

(this tasks returns changed every time and effectively renews the key which is unexpected - in addition `ansible-playbook --check` does not warn of these changes, should I open another issue for this?)

<details>

[code]

</details>

In practice it would be good to see something like a `regenerate` parameter for this mo

[2020-01-10 19:33] felixfontein commented on #65639
This is definitely not expected - calling the module twice with the same parameters should *not* result in a change (assuming you're not specifying `force: yes` or something similar).

For `regenerate: always` I would expect the same as `force: yes`, i.e. also regenerate if module parameters match. How about `on_change` or `changed` as the value instead of `always`?

[2020-01-10 20:12] #65598 closed, assigned to samccann

[2020-01-10 20:13] #65490 closed, assigned to samccann

[2020-01-10 20:26] ServerNinja commented on #66365
Ok so the issue is that I needed to create a service principal for this. https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#using-service-principal

[2020-01-10 20:26] #66365 closed, assigned to nobody

[2020-01-10 21:21] Bahu2016 opened #66373 "NIOS host record get ip in IP RANGE"
##### SUMMARY
New feature in nios_next_ip: ( supports only subnet but not range of ip's)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nios_host_record

##### ANSIBLE VERSION
ansible 2.9.2

[code]

##### OS / ENVIRONMENT
redhat 7.7

[code]

[2020-01-10 21:37] mjorda commented on #43523
I think there's two things going on here. As far as i can tell, insertafter and insertbefore are only used if the block doesn't already exist in the file. Otherwise, ansible uses the begin and end markers to find the block and modifies it if needed. If I'm right on this, I guess the docs could be more clear.

The other issue is that, since you don't have the "{mark}" token in your marker, the begi

[2020-01-10 22:19] IPvSean commented on #39201
@robdawg925 does this help? https://www.ansible.com/blog/rebooting-network-devices-with-ansible

use the reset
[code]

[2020-01-10 22:21] IPvSean commented on #39201
this is a documentation bug, @samccann could we get examples from the blog post into module docs to help close this out?

[2020-01-10 22:37] #65983 closed, assigned to nobody

[2020-01-11 04:09] #66179 closed, assigned to Qalthos

[2020-01-11 07:59] amoyx opened #66380 "Can I install it on Windows"
When I execute "PIP install ansible" on windows, an error is reported,
![image](https://user-images.githubusercontent.com/19795002/72201082-5d61a400-348b-11ea-9929-1e6910544d10.png)

[2020-01-11 12:57] #60152 closed, assigned to nobody

[2020-01-11 14:19] #65367 closed, assigned to nobody

[2020-01-11 17:17] grcancelliere commented on #66196
@sivel I tried `systemctl show '\-.mount'`, but it doesn't work correctly: the output contains this line:
[code]

`systemctl show -- '-.mount'`, on the other hand, works correctly.

[2020-01-11 19:50] #41576 closed, assigned to nobody

[2020-01-11 19:51] #33724 closed, assigned to nobody

[2020-01-12 04:38] Akasurde commented on #66380
@amoyx Thanks for reporting this issue. Ansible can not be installed on Windows. Please check requirements for installing Ansible on control node [here](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#control-node-requirements).

Thanks.

[2020-01-12 04:38] #66380 closed, assigned to nobody

[2020-01-12 05:41] #58824 closed, assigned to nobody

[2020-01-12 09:54] felixfontein commented on #66225
I've created a PR for this (#66382).

resolved_by_pr #66382

[2020-01-12 15:06] felixfontein commented on #53789
@gnowxilef @jackivanov ping

[2020-01-12 16:38] #19880 closed, assigned to nobody

[2020-01-12 16:40] felixfontein commented on #65639
Ok, here's an updated (and expanded) proposal:
[code]
Any naming suggestions, or other suggestions?

[2020-01-12 17:00] desimaniac commented on #66225
Thank You!

[2020-01-12 17:51] michmoor0725 opened #66387 "nxos_vlans not recognizing support parameters"
##### SUMMARY
Running network module per spec but it does not see the supported parameter that i am supposed to use.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco  3548 Hardware
BIOS: version 2.0.10
  NXOS: version 7.0(3)I7(4)
  BIOS compile time:  03/06/2018
  NXOS image file is: bootflash

[2020-01-12 18:12] #64776 closed, assigned to nobody

[2020-01-12 18:59] felixfontein commented on #66225
@desimaniac you're welcome! I'd be glad if you could try out the PR and mention it there if it works for your use-cases. (If you put the `docker_container.py` file in a subdirectory `library` of the directory where your playbook is in, it should be used by Ansible instead of the default module. Then you can try it directly without meddling with your Ansible installation ;) )

[2020-01-12 20:53] johndoe123441 commented on #66310
I have been struggling with this issue for a month now. I have my ssh wrapper correct but the wrapper process is messy and ansible ping command uses sftp and/or scp with no environment variable i can use to override.

Regardless i do not want to write another wrapper for scp. If anyone can direct me to invocation of the ssh and scp commands i might be able to assist.

[2020-01-12 21:57] felixfontein commented on #64956
I'm for fixing this in the caller. I've started with a WIP (#66389) for that.

[2020-01-12 22:12] felixfontein opened #66390 "aws_ssm connection plugin makes some integration tests fail"
##### SUMMARY
The new aws_ssm connection plugin (#49652) causes test failures for unrelated tests:

[code]

See for example:
 - https://app.shippable.com/github/ansible/ansible/runs/155765/91/console
 - https://app.shippable.com/github/ansible/ansible/runs/155742/95/console
 - https://app.shippable.com/github/ansible/ansible/runs/155721/90/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2020-01-12 22:26] felixfontein commented on #66390
I've disabled the tests with #66391 so that CI works again.

[2020-01-12 22:28] thy143 opened #66392 "Unable to create a single or two node replica set using mongodb_replicaset module"
##### SUMMARY

When trying to create a 1 or 2 member node MongoDB replicate set the mongodb_replicaset module fails with the error “MongoDB Replica Set validation failed. Invalid number of Replica Set members”. Targeting three member nodes allows the module to run successfully.

Note: I fully understand the limitations of having a Replica Set on a 1 or 2 node environment, however MongoDB should su

[2020-01-12 22:46] felixfontein commented on #66390
The problem wasn't the test itself, but that the plugin imports `boto3` directly without watching for `ImportError`s. PR to fix this in #66393.

[2020-01-12 22:58] thy143 opened #66395 "Unable to setup Replica Set when a KeyFile and authorization is enabled"
##### SUMMARY

I have created three MongoDB servers (running version 4.2) which have been configured with “authorization: enabled” and a “keyFile”. When attempting to create a replica set using mongodb_replicaset, it errors out as it is unable not authorized to execute a command.

On a fresh install MongoDB server with the above settings enabled, you can manual (via shell) login using localhost, c

[2020-01-12 23:08] thy143 commented on #66395
!component mongodb_replicaset

[2020-01-13 00:07] danwashusen commented on #47898
It looks like this was already implemented in a pull request (https://github.com/ansible/ansible/pull/38399) but was closed and never made it anywhere...?

Probably not the right place for feedback but my AWS related playbooks so often devolve into horrendous calls to aws cli to get half the stuff done... :-/

[2020-01-13 03:13] #52085 closed, assigned to nobody

[2020-01-13 03:49] eightseventhreethree commented on #56930
Ansible devs should be taking @geerlingguy opinion seriously. He is one of the biggest contributors to Ansible Galaxy and his Roles are consumed by tons of people. I think this change is really bad for people who have thousands of hosts named like: `$env-$role-[0..99]`. Are we supposed to go rename everything to appease our Ansible overlords?

[2020-01-13 05:41] Fred-sun commented on #66227
@unix-guy I reproduced the problem you encountered, the error occurred in this location, I am looking for the reason. Thank you very much!
[code]
[code]

[2020-01-13 05:50] jamescassell opened #66401 "pip setuptools tests fail"
##### SUMMARY

failure related to pip https://app.shippable.com/github/ansible/ansible/runs/155767/73/console that also failed on the nightly ci_complete run https://app.shippable.com/github/ansible/ansible/runs/155736/73/console
`ERROR: Package 'setuptools' requires a different Python: 2.7.12 not in '>=3.5'`

Passed on Saturday morning: https://app.shippable.com/github/ansible/ansible/runs/155712

[2020-01-13 05:54] DouglasHeriot opened #66402 "Local cliconf plugins cannot import from local module_utils"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli
module_utils
task_executor
loader

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

I've been working on network os plugins/modules for Extreme BOSS (similar but different to Extreme VOSS). I started by copying the VOSS ones into my local an

[2020-01-13 05:57] felixfontein commented on #66390
The problem has been resolved.

[2020-01-13 05:57] #66390 closed, assigned to nobody

[2020-01-13 05:59] felixfontein commented on #66401
Might be related to the newest setuptools release [45.0.0](https://pypi.org/project/setuptools/#history) from Saturday (Jan 12).

[2020-01-13 06:02] Tomorrow9 commented on #65611
Yeah, @DevFinGovSecOps you can have a try on creating an ISO file containing the unattend xml file, and mount it to the second CDROM  when creating a Windows VM.

[2020-01-13 06:50] felixfontein commented on #66401
I've created a WIP which restricts setuptools to 44.0.0 for the tasks which fail: #66405

[2020-01-13 07:18] Fred-sun commented on #66227
@unix-guy Thanks for your contribution, PR #65601 fixed this problem and has been merged. Can you try it on? If there are no problems with your test, we will submit backport PR to merge it into versions 2.9 and 2.8. Thank you very much!

[2020-01-13 07:42] mpechner commented on #51122
Finally was able to run the ecs_tag integration tests today.  I have successful tests, need to write some meant to fails tests.  Waiting for a comment in the ansible-devel IRC.  Do I add to the existing playbooks, or add a new one?

sorry it is taking so long.

[2020-01-13 08:10] felixfontein commented on #66401
Tests pass, so it's no longer a WIP.

[2020-01-13 08:38] rhysmeister commented on #66392
Set validate = no to avoid this

https://docs.ansible.com/ansible/latest/modules/mongodb_replicaset_module.html

[2020-01-13 08:45] Fred-sun commented on #66358
@julien1091 Thank you for reporting this problem. I did not encounter your problem in the local VM. Could you please describe in detail how you encountered this problem? Thank you very much!

[2020-01-13 09:10] mkrizek commented on #66275
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-13 09:10] #66275 closed, assigned to nobody

[2020-01-13 09:25] froebela commented on #66349
The behavior of include_role is somehow inconsistent though. If there is no vars directory in the roles directory, then ansible doesn't complain about a vars file not being found in either variants (with and without the vars_from parameter). But if there is a vars directory in the roles directory, then ansible only complains about a vars file not being found, if the vars_from parameter is specifie

[2020-01-13 09:56] julien1091 commented on #66358
@Fred-sun Hello, Thanks for your time on my issue. After several others tests I noticed thaht the VM was in a bad state and even if the status appears "started" on the UI azure, it's not really the status send to ansible. Whatever the status of the VM, ansible received the "updating" status.

I think the "updating" status should be only a "temporary" status, and if this status last too many time,

[2020-01-13 10:08] gnowxilef commented on #53789
sorry about that, haven't had a chance to use it yet, but the code looks fine.

[2020-01-13 10:21] bellackn opened #66410 "regex_replace not working correctly in YAML multiline syntax"
##### SUMMARY
When using `regex_replace()` in a YAML multiline context, the replacement does not work correctly. I'm on Ansible 2.7.13, but the error also occurs with the `devel` branch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
any component

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fresh Vagrant `centos/8` box.
[code]

##### STEPS TO REPRODUCE

[2020-01-13 10:50] DaLnx commented on #66340
@Akasurde, in the vmware_tag code at check_tag_status just check for the tag value, you are not considering that the tag exists in more than one category_id.
It seems to me that in addition, I apologize if it is not so since I have not reviewed it, that when you get in vmware_tag_facts the list only observes one category_id and not several.

[2020-01-13 10:50] hamdaagengui opened #66411 "VMware: vmare_vm_inventory plugin works partially"
**- component name:**
ib/ansible/plugins/inventory/vmware_vm_inventory.py
**-Ansible Version:**
   2.8.1
**- pyvmomi** 6.7.1
**- python** 2.7
**- vcenter** 6.7

vmware_vm_inventory works but not perfectly,
I use the tags to target Vms,
For with vSphere web client for a tag XXX I got 4 Vms, but when I used the plugin I got only 2 vms.
when I execute
[code]
I get this problem of parsing

[code]

i v

[2020-01-13 10:56] DaLnx commented on #66340
In the vmware_tag code in get_all_tags, it does not take into account that the same tag can exist in several category_id. If you find the same tag several times, each time you overwrite the previous one.
I hope it helps.

[2020-01-13 12:01] Woclandiner commented on #65985
@rohitthakur2590
Do you have any consideration about this issue ?

[2020-01-13 12:30] Jo-Jo0 opened #66413 "apt module touches package states when run in check mode"
##### SUMMARY

When running the apt module in check mode it set packages to manual installed that where set on auto installed before. This shouldn't happen in check mode!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source and target OS: Debian 10

##### STEPS TO REPRODUCE

Build a playbook with

[2020-01-13 13:15] Slowdive-Aideron opened #66414 "meta: reset_connection not working on Ansible 2.9.1"
##### SUMMARY
I add a user to a group, execute the meta module reset_connection, check the group association again, just to find that the connection is still the same. And it's still the same ssh session!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Meta Module : reset_connection

##### ANSIBLE VERSION
ansible 2.9.1

[2020-01-13 13:29] bugdebug commented on #65881
!component core

[2020-01-13 13:33] bellackn commented on #66410
!component -lib/ansible/modules/packaging/language/composer.py

[2020-01-13 13:43] stawii opened #66415 "vars and hostvars acts diffrent"
##### SUMMARY

When using `vars[..]` variables are not templated properly.
When using `hostvars[inventory_hostname][..]` it works as expected.

`hostvars` cannot be used in all places ie. playbook vars or role variables are not present in hostvars, so only possibility to use them (without extra steps!) is using `vars` dictionary.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

VariableManage

[2020-01-13 14:11] pandrieux commented on #60576
This works for me in centOS 8.0_1905
`
sed -i 's/noop"/noop "/' /usr/lib/python3.6/site-packages/ansible/modules/system/puppet.py
`

[2020-01-13 14:21] anryko commented on #62724
Need this functionality. Will work on PR.

[2020-01-13 14:25] svhsvh opened #66416 "command via cli_command on Junos device times out"
##### SUMMARY
The command in the following playbook does not run and times out with the cli_command module on a Juniper device:

- hosts: Juniper01
  gather_facts: no
  tasks:
  - name: reboot device
    cli_command:
      command: request system reboot
      prompt:
        - "Reboot the system ? [yes,no] (no)"
      answer:
      - yes

#### ISSUE TYPE

Bug Report

##### COMPONENT NAME
cli_comma

[2020-01-13 14:55] rockaut opened #66417 "zabbix_template check_template_changed error"
##### SUMMARY
KeyError: 'templates' on second run

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
On first run the new template is created
[code]
If you run it a second time errors are thrown.

##### EXPECTED RESULTS
The second run should succeed without changes.

##### ACTUAL RESULTS
[code]

This is what the existing_te

[2020-01-13 15:03] DevFinGovSecOps commented on #65611
I tried something similar:

1. Create an iso file with just the autounattend.xml in it
2. Mount the unattend iso on first cd drive
3. Mount Operating System.iso on second drive

Yet there are two problems with this approach.

1. A vanilla Windows.iso will ot automatically boot from the DVD unless you press enter (see https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-7/dd744

[2020-01-13 15:12] rockaut commented on #66417
Current workaround is to add `link_templates: None`

[code]

[2020-01-13 15:22] pabloheimplatz opened #66419 "ec2_lc can't deploy an a1.xlarge instance"
##### SUMMARY

I try to create / specify an AWS ec2 instance (within an ASG launch config) and it works for all ec2 instance types we test (like _c5.xlarge_) expect for all the "**a1.xlarge**" or "**a1.large**" instances. So it seems like all ARM instances didn't work with the ec2_lc function...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2020-01-13 15:23] rockaut commented on #66417
If you add a link in the frontend the play succeeds without a change.
If you add link_templates the play changes the zabbix template correctly.
If you remove items from link_templates (leaving at least one item) the template is also changed correctly.

So just the unlinking if no link_templates option is giving doesn't work.

[2020-01-13 15:41] sivel commented on #66196
That must be a difference in systemd versions.

[code]

Per above, it requires the `\` on my Ubuntu 16.04 machine.

[2020-01-13 15:42] chrisvanheuveln commented on #66387
@NilashishC  I can't reproduce this problem on 2.9.2 but `nxos_vlans` is detecting a 'provider' parameter in the users's env somehow. This problem sounds familiar.

[2020-01-13 15:45] unix-guy commented on #66227
@Fred-sun - how did you recreate the problem? By adding a data disk?

I am looking at your fix and it seems to address something to do with Disk Caching value but the error I reported is for diskSizeGB key error.

Did you recreate the "KeyError: 'diskSizeGB'" issue?

Also, I am not familiar with testing Ansible PRs - any documentation you can point me to?

[2020-01-13 15:49] sivel commented on #66415
This is expected.  `vars` is purposefully undocumented, and expected to be an internal variable.

Instead of using the `vars` variable, consider using the `vars` lookup:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-13 15:49] #66415 closed, assigned to nobody

[2020-01-13 15:51] felixfontein commented on #53789
@gnowxilef thanks for taking a look! Did you also look at the module interface? Does it provide what you need / think is needed?

[2020-01-13 15:52] sivel commented on #66410
The problem is due to quoting and escaping.  When using YAML blocks, it changes the quoting and escaping requirements, and as such, your `\\` acts differently.

Change the `\\` to just `\` and it will work as you expect.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-p

[2020-01-13 15:52] #66410 closed, assigned to nobody

[2020-01-13 15:52] riyad commented on #65677
Since I'm not familiar with the code base I tried to get the test suite running and tried to find the right place to add a test case for this.

It seems adding the following lines to [test_templar.py:250](https://github.com/ansible/ansible/blob/b08e7daf463f9d3d17f45ea41b679c06165ebb8e/test/units/template/test_templar.py#L250)
[code]

causes the following test failure:
[code]
which seems to reprodu

[2020-01-13 16:06] rhysmeister commented on #66395
The module uses listDatabases, which you must be authenticated for, to determine whether auth is enabled.  Looks like rs.initiate() is possible from at least MongoDB 3.6 without authentication.  Removing this restriction would probably make the workflow for setting up a replicaset simpler.

[2020-01-13 16:51] Akasurde commented on #66419
!component =lib/ansible/modules/cloud/amazon/ec2_lc.py

[2020-01-13 16:57] hamdaagengui commented on #66411
Hello @Akasurde

[2020-01-13 17:09] lassizci opened #66421 "rabbitmq_user's permission setting is broken with RabbitMQ 3.8"
##### SUMMARY
rabbitmq_user treats `rabbimqctl`'s table headers as permission row. Hence setting permission fails if there's no vhost called `vhost`

##### ISSUE TYPE
- Bug

##### COMPONENT NAME
rabbitmq_user

##### ADDITIONAL INFORMATION
`rabbitmq_user` always seems to fail on setting permissions for existing user. The module always seems to call
[code]

rabbitmqctl in 3.8 seems to output with ta

[2020-01-13 17:17] raneq opened #66422 "PostgreSQL db names should allow dots"
##### SUMMARY
Using postgresql database module can't contain dots, but should be able to, as escaped characters. Although it's not a good practice, it's supported by postgresql and under certain circumstances some applications force you to create databases with dots inside (like Odoo), so Ansible becomes the limiting agent here.

In #63204 I asked for this feature for users and dbs but @Andersson0

[2020-01-13 17:35] garbled1 commented on #66172
To update a CMDB entry, you need the table name.  For example, lets say you had a table called cmdb_ci_raspberries, you would specify that in the table param.

The problem with cmdb records however, is that they are generally highly customized.  You need to know the names of all the members of your table, to be able to fill out the data fields.  The recommended way would be to find your table name

[2020-01-13 17:36] grcancelliere commented on #66196
It must be... I loaded the most recent Ubuntu 16.04 Vagrant box and this was the result:

[code]

[2020-01-13 17:42] psss opened #66424 "Support for installing packages by binary path"
##### SUMMARY
Add support for installing packages by binary path similarly as dnf does.

##### ISSUE TYPE
- Feature

##### COMPONENT NAME
dnf

##### ADDITIONAL INFORMATION
Sometimes package names differ across distros or product versions.  For such cases it would be very useful to have the option to provide binary path instead of the package name. See example below:

[code]

This could be handled

[2020-01-13 17:57] desimaniac commented on #66225
Nice trick!

---

Test playbook:
[code]

Results:
[code]

They all have the following:

[code]

So everything works great! TY!

[2020-01-13 18:00] desimaniac commented on #66225
P.S. This is going to be a huge time-saver for me. I had just written up a small [module](https://github.com/Cloudbox/Cloudbox/commit/ffe4cd10ae07a8c2d9575eda96bd19cd8cab3367) that looked up available ports in a range and use them accordingly. But with this, I dont have to worry about this anymore. So thank you, again!

[2020-01-13 18:16] felixfontein commented on #66401
resolved_by_pr #66426

[2020-01-13 18:50] loganbest commented on #64425
@jutkarsh079 @hb-i Could you try with the latest version in devel? If the issue is still present for you guys, could you then open a new issue here https://github.com/netbox-community/ansible_modules? We've moved the latest devel version into the Netbox collection.

[2020-01-13 19:48] AlexDaciuk commented on #61690
Still not working  @Akasurde

[code]

[2020-01-13 19:49] apparentorder opened #66432 "hostname module: can MODIFY the file system and hostname (FreeBSD) in check mode"
### SUMMARY
hostname module: FreeBSD: CHECK command can MODIFY the file system and hostname on a FreeBSD target system

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module hostname

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
expected NO change

##### ACTUAL RESULTS
If the HOSTNAME_FILE (/etc/rc.conf.d/hostname) doesn't exist, it gets *CREATED* with

[2020-01-13 20:09] athompson-merlin opened #66434 "OpenBSD service_flags do not get set"
##### SUMMARY
The "service" module somehow utterly fails to handle the "arguments" parameter on OpenBSD targets, never detecting any change, and so never doing anything.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible controller: CentOS 7.7.1908
Target: OpenBSD 6.6-STABLE

##### STEPS TO

[2020-01-13 20:10] athompson-merlin commented on #66434
...and results on rancid.merlinoffice.local:
[code]

[2020-01-13 20:13] athompson-merlin commented on #66434
This looks like it might be related to #56570, like someone tried to fix that problem but went too far the other way?

[2020-01-13 20:21] athompson-merlin commented on #66434
AFAIK the only place this bug could be located is in lib/ansible/modules/system/service.py but I'm not.... oh wait, I see the problem.

The code for setting daemon flags only exists inside service_enable.
The docs only say that one of "enabled" and "state" is required, with no mention of how this affects setting arguments.

I think the current behaviour is wrong; I can think of several scenarios o

[2020-01-13 20:32] lanceofwhichwedream commented on #28997
Bump. Adding this will make it so that ansible and by proxy ansible tower are capable of handling a situation where a device goes offline during the execution of a playbook.

[2020-01-13 20:40] nerijus opened #66435 "pypsrp or dependencies are not installed: cannot import name 'NtlmContext' from 'ntlm_auth.ntlm'"
##### SUMMARY

Trying to run:
[code]
gives:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS Fedora 31
$ rpm -qf /usr/lib/python3.7/site-packages/ntlm_auth/ntlm.py
python3-ntlm-auth-1.1.0-6.fc31.noarch
$ rpm -q python3-winrm
python3-winrm-0.3.0-6.fc31.noarch
[code]

[2020-01-13 20:48] jborean93 commented on #66435
The latest pypsrp package requires [ntlm-auth>=1.2.0](https://github.com/jborean93/pypsrp/blob/master/setup.py#L22) as the `NtlmContext` object was added in that version. It looks like that isn't available in an RPM format so you have a few different options

* Don't use the `psrp` plugin and just set `ansible_connection: winrm` to use the winrm plugin that is available in `python3-winrm`
* Instal

[2020-01-13 20:48] #66435 closed, assigned to nobody

[2020-01-13 21:13] #66401 closed, assigned to nobody

[2020-01-13 22:11] clay584 commented on #57417
I am also experiencing this exact issue. It only crashed when the two snapshots are different. If they are the same (therefore there is no diff) then it succeeds.

Ansible 2.9
Python 3.6.8
Cisco APIC version 4.2(3j)

[Traceback]
[code]

[2020-01-13 22:46] michmoor0725 commented on #66387
Any suggested workarounds you can think off? This seems to be only with this specific module. Other nxos modules work without issue so far.

[2020-01-13 23:05] pairaldi commented on #66223
Apologize. I did not see the timeout parameter of the ovirt_vm module.
Closing the issue

[2020-01-13 23:05] #66223 closed, assigned to nobody

[2020-01-13 23:05] ryanmerolle commented on #63138
@mamunozgonzalez & @thomnico

Given your ~2.8 contributions to Ansible for Fortios, is there an equivalent f*_config developed by you that could backup config files similar to the other *_config modules?

I see that the fortios modules you released have httpapi support, but network_cli has no support, and I assume that is because you are using the Fortigate API. IE with no network_cli support, you

[2020-01-13 23:41] thy143 commented on #66392
Hi, Thank you for that, i just tested it and it permitted a creation of a 2 node replica set. Apologies i must have missed that when looking over the docs. Could i suggest it might be worth adding a brief description of what you validate as well? Anyway I will close the ticket.

Thank you

[2020-01-13 23:41] #66392 closed, assigned to nobody

[2020-01-14 00:36] opoplawski commented on #21426
I don't think this is a bug, but rather a misunderstanding of how firewalld works.  A zone has a set of sources associated with it and a set of services associated with it.  You are requesting ansible to add two sources and two services to the *same* zone (public), which ansible happily does.  If you want them to be distinct, they each need to have their own zone.  Check the output of "firewall-cm

[2020-01-14 00:40] opoplawski opened #66449 "RFE: Allow passing a list to the service and source parameters of firewalld"
##### SUMMARY
A zone can have many services and sources associated with it.  Allow passing a list to the source parameter of firewalld like you can with yum/dnf.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
firewalld

##### ADDITIONAL INFORMATION

[code]

[2020-01-14 00:52] briantist opened #66450 "win_dns_client should properly report status when setting DHCP"
##### SUMMARY
The `win_dns_client` module always shows "changed" when setting the adapter to use DHCP because the PowerShell cmdlets and WMI classes don't have a reliable way to determine that DHCP assigned nameservers are already in use.

A comment in the module suggests checking the registry.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_dns_client

##### ADDITIONAL INFORMATION

As

[2020-01-14 02:03] Fred-sun commented on #66227
@unix-guy  Yes, I also manually created VM and added data disks. My error info as follow info. The PR #65601 remove the line 821 default value will fix the problem. Please check! Thank you very much!
[code]

[2020-01-14 02:10] Fred-sun commented on #66227
@unix-guy You can clone #65601 this PR and install it through "python setup install". Or you can change his changes to your local file can also be ---" / usr/local/lib/python2.7 / dist - packages/ansible/modules/cloud/azure/azure_rm_virtualmachine py"

![test](https://user-images.githubusercontent.com/37327967/72307658-00960180-36b6-11ea-9906-b7d4f9560a14.png)

[2020-01-14 02:58] Tomorrow9 opened #66457 "VMware: require "vmware_host_facts" module return ESXi server update version info"
##### SUMMARY

Now "vmware_host_facts" module returns the ESXi version and build number, no update version info, so request getting that info too.
References:
https://www.virtuallyghetto.com/2016/08/quick-tip-how-to-retrieve-the-esxi-update-level-using-the-vsphere-api.html
MOB path:
https://esxi_hostname/mob/?moid=ha-adv-options&doPath=setting%5b%22Misc.HostAgentUpdateLevel%22%5d

##### ISSUE TYPE

[2020-01-14 03:05] Fred-sun commented on #66358
@julien1091 Thanks for sharing. Is your log inconsistent with your playbook? Can you confirm that? Thank you very much!

[2020-01-14 03:35] Fred-sun commented on #59392
kindly ping

[2020-01-14 03:37] Fred-sun commented on #59134
kindly ping

[2020-01-14 04:27] profilernz commented on #47898
Horrendous indeed... and it gets even uglier when you try using govcloud or aws china... I'm even questioning the point of using ansible at all with aws, it's such an ugly ugly mess...

[2020-01-14 04:52] devopsnsysadm opened #66458 "s3_sync upload error"
##### SUMMARY
I'm using the Ansible s3_sync module to sync 1TB+ data to an S3 bucket. But I'm receiving the following error:
`An error occurred (400) when calling the HeadObject operation: Bad Request`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS7

##### STEPS TO REPRODUCE
Upload multiple file

[2020-01-14 07:31] mpechner commented on #51122
Test for tag and untag resource for cluster is written:

- tag present
- Tag present again
- list when no tags
- list
- remove
- remove on non existent tag

[2020-01-14 07:33] Akasurde commented on #66340
resolved_by_pr #66459

[2020-01-14 07:33] Akasurde commented on #66340
@DaLnx, Could you please check PR #66459 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-14 07:35] giedriusramas opened #66460 "module_utils/vmware.py raises TypeError with '<' not supported between instances of 'str' and 'float'"
##### SUMMARY
File "/tmp/ansible_vmware_clone_template_payload_62gawlmw/ansible_vmware_clone_template_payload.zip/ansible/module_utils/vmware.py", line 84, in wait_for_task

TypeError: '<' not supported between instances of 'str' and 'float'

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16

##### EXPECTED RESULTS
wait until tasks is finished

##### ACTUAL RESULTS
[code]

[2020-01-14 08:06] Fred-sun commented on #62395
@nicolaibaralmueller Any update for this? Thanks a lot!

[2020-01-14 08:09] jdrise commented on #49254
As a workaround, setting the userknownhostsfile to an arbitrary value such as /dev/null does the trick for me.

`ansible_ssh_common_args='-o userknownhostsfile=/dev/null'`

[2020-01-14 08:35] philbert opened #66464 "custom lookup plugin found with ansible-doc but not found in playbook"
##### SUMMARY
Custom lookup plugin appears correctly configured using ```ansible-doc -t lookup listFolders```  however always results in ```FAILED! => {"msg": "lookup plugin (listFolders) not found"}``` when used in playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Custom lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- macOS Mojave 1

[2020-01-14 08:48] danielbostock commented on #65332
I too would like to see this fixed. I am working fine with the nxos_config module, but that obviously isn't as clean as doing it directly through a purpose written module. I understand it is low priority, but would be really great to see this functionality in Ansible for NXOS. Thanks.

[2020-01-14 09:02] rockaut opened #66466 "zabbix_template dump/import errors"
##### SUMMARY
Dumping a zabbix template to a file and then importing it again doesn't work.
Maybe related to #55439 but other errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Zabbix 4.4.4 Server on RHEL7

##### STEPS TO REPRODUCE
Dump templates to files
[code]

Import the files again:
[code]

##### EXPECTED RESULTS
T

[2020-01-14 09:16] rockaut commented on #66466
I tried the current development version of the zabbix_template.py and there the error is different.

Now the templates are getting dumped without the b''/byte-like object. But then the import just doesn't work because:

[code]

[2020-01-14 09:17] dimasmir commented on #58473
Same thing. Already getting used to use ye, tru.
Declaring a variable with !!str or |string or quotes does not help.

[2020-01-14 09:20] mkrizek commented on #66464
Doing `with_listFolders:` finds the lookup plugin correctly (of course failing then with `The error was: AttributeError: module 'ansible.plugins.lookup.listFolders' has no attribute 'LookupModule'`).

For `"{{ lookup("name", ...) }}"`, loading the plugin appears to be case insensitive. The following change will make the loader find the plugin:
[code]

Having said that I am not sure as to why the b

[2020-01-14 09:21] Akasurde commented on #66460
!component =lib/ansible/module_utils/vmware.py

[2020-01-14 09:23] Akasurde commented on #66460
@giedriusramas Thanks for reporting this issue. Could you please provide the playbook used, the custom module used and the console log of this run? It will be easy to debug in that way.

Thanks.

needs_info

[2020-01-14 09:54] NiveditaKumari14 opened #66467 "Duplicate entry created when name is not provided in Ansible cron module"
When name is not provided to the ansible cron module  duplicate entries are created in crontab

##### SUMMARY
When "name" parameter is not provided in the "cron" module, ansible does not give any error and create multiple duplicate entries in the crontable.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path =

[2020-01-14 09:54] philbert commented on #66464
Yes, it was a case sensitivity issue. I confirmed that changing the file name to listfolders.py allowed my playbook to pick up the plugin correctly.

It looks to me that your fix would bring consistency to all 3 functions: ```with_*```, ```lookup()``` and ```ansible-doc```?

Thanks for the quick response!

[2020-01-14 10:02] giedriusramas commented on #66460
Hey , I am trying to write my custom module to which is copying templates between esxi nodes and I am using functions from lib/ansible/module_utils/vmware.py. function wait_for_task() throws me an error I reported.
I changed line `sleep_time = min(2 ** failure_counter + randint(1, 1000) / 1000, max_backoff)` to `sleep_time = 1` just for testing and it worked fine

[2020-01-14 10:11] Udayendu opened #66468 "vmware_guest_network: No option to configure newly added interfaces"
##### SUMMARY
No option to configure IP/Netmask/Gateway/DNS on an interface after adding it to the vm.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_guest_network

##### ADDITIONAL INFORMATION
Currently `vmware_guest_network` module can add/remove interface but cant configure them. So its not fully usable for vm's network operations related activities.

#### To attach an interfac

[2020-01-14 10:15] mkrizek commented on #66467
This is expected as per [documentation](https://docs.ansible.com/ansible/latest/modules/cron_module.html):
[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-14 10:15] #66467 closed, assigned to nobody

[2020-01-14 10:33] Udayendu commented on #42666
@Tomorrow9 hi, whats the plan for this issue ?
Its a long pending one but much needed. Keeping lot of OVA on the ansible provision server and then updating them time to time is taking lot of effort.

[2020-01-14 10:43] doyl54 commented on #47707
Any news about this issue ? Ansible on Windows is really slower than on Linux. We don't know what to do to improve our timmings on Windows.

[2020-01-14 10:51] moocherabc opened #66469 "synchronize module private_key parameter does not take effect"
##### SUMMARY

The private_key in the synchronize module does not take effect, conflicting with the private_key_file in ansible.cfg. Annotate the private_key_file parameter in ansible.cfg works fine

##### ISSUE TYPE
- Bug Report
- issue

##### COMPONENT NAME

module: synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Cor

[2020-01-14 10:57] evgeni opened #66470 "query lookup does not return empty list with errors=ignore"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/template/__init__.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 31

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFO

The same also happens on `stable-2.7` branch:
[code]

`stable-2.9` and `devel` are OK.

[2020-01-14 10:57] tadeboro commented on #62377
We just tested this locally using Infoblox 8.4.4 and Ansible from the devel branch and the issue is fixed there. The PR that introduced the fix is #65369. The stable-2.9 branch is still broken though.

[2020-01-14 11:00] evgeni commented on #66470
!component lib/ansible/template/__init__.py

[2020-01-14 11:00] krisvasudevan commented on #62377
The PR that introduced the fix is actually #66014.

[2020-01-14 11:04] trondhindenes commented on #47707
IMHO the first thing that needs to be addressed is the jit compilations that occur on every task. From what I understand it should be possible to do a lot of optimizations there without affecting the overall connection architecture. Maybe @jborean93 has some thoughts?

[2020-01-14 11:05] tadeboro commented on #62377
No, because that PR is not merged yet and the stings are already working.

[2020-01-14 11:16] bissli82 opened #66471 "pvs: unrecognized option '--select'\n Error during parsing of command line."
##### SUMMARY
Getting the following error while using lvg module:
pvs: unrecognized option '--select'\n  Error during parsing of command line.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lvg module which is using /sbin/pvs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

root@ansible-new:/etc/ansible/playbooks/nodes# cat /etc/os-release  |grep version

[2020-01-14 11:50] ghost opened #66472 "vmware_vm_shell to have some become methode"
Hey, using ansible 2.9.2

 I couldnt find information about how to run powershell as admin using vm_shell,
if theres a way it is not in the docs.

I need to run a script but it wont run unless i am runing
vm_shell: 'C:\Windows\System32\WindowsPowershell\v1.0\powershell.exe'
as admin.

From ansible side, i see playbook output in green with no errors. but in my vm nothing happands.
also if there som

[2020-01-14 11:54] DaLnx commented on #66340
@Akasurde , I tried the PR66459 and it worked for vmware_tag and vmware_tag_manager.
I've also tried vmware_tag_info and it doesn't show both, just one.

PLAY [Set annotation and tags to VMguest] **************************************

TASK [Get list tag categories] ******************************************* *******
ok: [localhost]

TASK [set_fact] ********************************************** *

[2020-01-14 12:02] Akasurde commented on #66460
@giedriusramas Can you show me implementation of `wait_for_task` function in your custom module? Thanks.

needs_info

[2020-01-14 12:06] deepakpal-in commented on #66344
Hello @chouseknecht  @fabianvf  @flaper87  @maxamillion  @willthames ,

Any update on this issue? We are still facing this issue for a long time.

[2020-01-14 12:09] Akasurde commented on #66340
@DaLnx `vmware_tag_info` also had same issue. It is being addressed in this PR https://github.com/ansible/ansible/pull/66465. Thanks.

[2020-01-14 12:21] gnowxilef commented on #53789
ah, the code looks to only create/update crls it seems? i would also like it to be able to retrieve information about the crl itself, such as nextupdate, lastupdate, digest, etc.

[2020-01-14 12:41] Akasurde commented on #66472
!component =lib/ansible/modules/cloud/vmware/vmware_vm_shell.py

[2020-01-14 12:47] Akasurde commented on #66472
@batchenr Thanks for reporting this issue. `vmware_vm_shell` uses vSphere APIs to execute the task on the given VM. It is not related to `become` of Ansible. What is `vm_username` value? Is it a normal user or admin user on Windows VM?

needs_info

[2020-01-14 12:52] batchenr commented on #66472
The user in vm_username is a user in the windows vm and the user is in Administrators group,
when i run the same command in the vm, it works.
i dont understad why ansible gives "no errors" but script is not really runing and i have no info on how to solve it.

also, before the script i was tring to run multipul commands in a row using ansible,
thats also somthing that doesnt work

[code]

because

[2020-01-14 12:56] doyl54 commented on #47707
I think Kerberos is a part of the waste of time that occurs on windows's nodes too.

[2020-01-14 13:38] Akasurde commented on #66472
@batchenr I am able to run your playbook successfully, but not sure what is wrong in your environment.

[code]

Console -

[code]

<img width="801" alt="Screenshot 2020-01-14 at 7 06 58 PM" src="https://user-images.githubusercontent.com/633765/72348747-167ce400-3701-11ea-83bd-466c09f858c9.png">

needs_info

[2020-01-14 13:50] Akasurde commented on #66472
Even changing user to newly create `tom` I can run the script

[code]

[2020-01-14 13:58] Akasurde commented on #66468
@Tomorrow9 Could you please take a look since you originally authored this module?

Thanks in advance.

[2020-01-14 14:02] julien1091 commented on #66358
@Fred-sun The playbook describred in the issue is the one which have generate the log.
Playbook =  04-test-status-lifecycle.yml

[2020-01-14 14:22] svhsvh commented on #66416
Update:

The command command: "request system reboot" does get executed on the Juniper device as seen in the syslog:

`mgd[1374]: UI_CMDLINE_READ_LINE: User 'root', command 'request system reboot '`

After that it times out, and says thet the reaches the 30 seconds timout value whil trying to send command:

[code]

But the command does get sended to the device and gets executed because the Juniper

[2020-01-14 14:46] #41336 closed, assigned to nobody

[2020-01-14 14:57] batchenr commented on #66472
Thank you so much, at least with you trying i coulnd know that the problem is not in my playbook.
After upgrading vmtools from version:10346 to version:11265 ALL WORKS!

[2020-01-14 14:57] markuman commented on #66135
https://github.com/python-gitlab/python-gitlab/issues/992

[2020-01-14 15:00] Akasurde commented on #66472
@batchenr Cool. Glad to hear that it worked for you. I will mark this as resolved.

Thanks.

[2020-01-14 15:00] #66472 closed, assigned to Akasurde

[2020-01-14 15:12] Akasurde commented on #66213
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2020-01-14 15:14] sivel commented on #66171
This seems to have been explicitly changed in cc9c72d6f845710b24e952670b534a57f6948513

[2020-01-14 15:17] ssbarnea opened #66474 "docs: lint all examples"
# SUMMARY

In order to assure that our examples recommend the best coding practices and that they do not get outdated we should assure we lint them using tools like ansible-lint, yamllint or flake8.

This will also allow us to keep coding practices between ansible examples and linter in sync.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs

##### ADDITIONAL INFORMATION

* This

[2020-01-14 15:19] bcoca commented on #66259
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about an external plugin that is not maintained by the Ansible project
 https://github.com/theforeman/foreman_ansible/

Thanks!

[2020-01-14 15:19] #66259 closed, assigned to nobody

[2020-01-14 15:19] acozine commented on #66474
Related to #58687

[2020-01-14 15:19] sivel commented on #66259
Looks like this is already open in the foreman issue tracker: https://projects.theforeman.org/issues/28642

[2020-01-14 15:20] bcoca commented on #66260
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-14 15:20] #66260 closed, assigned to nobody

[2020-01-14 15:23] vladimir74nikolic commented on #66089
Any updates on this?

[2020-01-14 15:31] sivel commented on #66262
[code]

We were missing the invocation of `ansible-file`, above is the invocation along with the warning.

`_diff_peek` is listed as:

[code]

I don't know why it is listed as `str`. It seems to have been errantly changed in https://github.com/ansible/ansible/commit/30227ace9818655f1ef8306c459664d0f160fee2

[2020-01-14 15:32] bcoca commented on #66285
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-14 15:32] #66285 closed, assigned to nobody

[2020-01-14 15:40] unix-guy commented on #66227
Thanks - I am having issues re-producing the problem even after creating a data disk.

I will keep trying and then test once I have reproduced it.

[2020-01-14 15:42] bcoca commented on #66345
!component =lib/ansible/modules/source_control/subversion.py

[2020-01-14 15:45] sivel commented on #66348
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always se

[2020-01-14 15:45] #66348 closed, assigned to nobody

[2020-01-14 15:48] bcoca commented on #66349
so the bug is that 'omit' is not functioning in includes, which is caused by the lack of `omit` handling in the branch of code that handles includes.

[2020-01-14 15:51] trondhindenes commented on #47707
@doyl54 I haven't seen any indication of that.

[2020-01-14 15:51] sivel commented on #66474
We have previously discussed and decided that we do not want to use ansible-lint in the ansible/ansible repo:  https://github.com/ansible/ansible/issues/64552

At this time, the core team does not agree with the ansible-lint rules, and are not ready to accept it into being used as official recommendations.

[2020-01-14 15:54] bcoca commented on #66304
So the issue here seems to be that we detect ONE of the virtualization types in use, in this case Azure exposes 'VirtualPC'. This is 'correct' but not 'fully correct', for a long time we have had the issue that most hosts now run under multiple virtualization types and can be host to mulitple types. For example, my workstation does qemu/virtualbox/lxd/docker/xen hosting, but only appears as one of

[2020-01-14 15:58] bcoca commented on #66363
Most machines expose a lot of virtual mounts that can easily change between runs and in many cases create access issues, that is why it was decided that 'normal fact gathering' would just focus on hardware and network mounts.   That said, we should be able to create an option to add the virtual mounts to the output also.

[2020-01-14 16:05] ssbarnea commented on #66474
@sivel I translate the message to _"we prefer not to lint at all, just because there are some rules that we don't like"_.

We do all know that there are skip list and that it could be very easy to add linting profiles (group of rules) that we can all agree on, leaving the controversial ones out.

I never seen a ticket raised on ansible-lint that would require some specific changes for being offici

[2020-01-14 16:12] goneri opened #66475 "vmware_category: RecursionError: maximum recursion depth exceeded while calling a Python object"
##### SUMMARY

`vmware_category` functonal test-suite fails ( https://github.com/ansible/ansible/blob/devel/test/integration/targets/vmware_category/tasks/associable_obj_types.yml#L5 ) randomely with the following backtrace:

e.g: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_64e/66364/46bc0553c1234315607a295791592fcfa2eb2dd0/third-party-check/ansible-tes

[2020-01-14 16:15] goneri commented on #66475
![](https://github.trello.services/images/mini-trello-icon.png) [vmware_category: RecursionError: maximum recursion depth exceeded while calling a Python object](https://trello.com/c/SESxaV7R/16-vmwarecategory-recursionerror-maximum-recursion-depth-exceeded-while-calling-a-python-object)

[2020-01-14 16:35] samccann commented on #66474
hmm... so if ansible-lint isn't an option, that still leaves us with the other two, correct?

[2020-01-14 16:50] fabianvf commented on #66344
Not sure what's causing that quite yet, but for the time being you should be able to use the main `k8s` module for this (just changing the replicas in your resource definition), as it has a better implementation of wait that we've yet to bring to the k8s_scale module.

[2020-01-14 17:04] klingac commented on #64781
#59883 fixed this issue. Closing

[2020-01-14 17:04] #64781 closed, assigned to nobody

[2020-01-14 17:11] bcoca commented on #66474
iirc its already linted for yaml structure when processed into docs, just not using yamllint.

The main issue is that the examples are not 'complete' and will break with a lot of linters out there that are designed for a 'full script/data' and not partial examples.

[2020-01-14 17:22] micmoyles opened #66477 "Vault password not loaded in PlaybookExecutor()"
##### SUMMARY
**"message": "A vault password must be specified to decrypt data"** when using **PlaybookExecutor()** but password has been set.

I am using the PlaybookExecutor() to integrate Ansible tasks into my own code. Some variable files are vault encrypted but PlaybookExecutor() does not appear aware of my Vault configs in the same way that the command line Ansible task is.

##### ISSUE TYPE

[2020-01-14 17:23] devax commented on #52082
I came across the same issue and found a solution that worked for me.

Turns out that you should not use the "ObjectId" value as seen in the Azure Active Directory. This seems not to be the ID that is required!
Instead, do the following:
Manually add your principle through the GUI, so that the correct principle is selected. Save the access policy. Then, in the Azure portal on the key vault, go to

[2020-01-14 17:29] bcoca commented on #66171
cc @samdoran

[2020-01-14 17:31] sivel commented on #66477
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2020-01-14 17:31] #66477 closed, assigned to nobody

[2020-01-14 17:47] jamescassell commented on #66171
Thanks for finding the change.

stable_interface implies there should be a depreciation period, or can we disregard the promise?

[2020-01-14 17:52] AdamMorris23 opened #66478 "Redhat_subscription fails when quantity isn't given on a physical server."
##### SUMMARY

Using the redhat_subscription module with pool_ids and no quantities on a physical server causes the quantity to be forced to 1.  This results in a warning on stdout from redhat_subscription and a return code of 1.  This causes the action to be marked as FAILED although subscription_manager does the right thing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redhat_subscripti

[2020-01-14 18:18] thy143 commented on #66395
Would it be between to check the version and keep the check inplace for older versions of mongodb to not break compability and verify if auth is required?

[2020-01-14 18:34] mariolenz commented on #66468
I don't think this is a good idea. Adding a (virtual) NIC and configuring it are conceptually two different things.

Some people might want to add more than just one IP, and there are also port groups that aren't native; so the module would also have to this into account. This would make the module very complex and hard to maintain. I don't think this makes sense, the _vmware_-module should be res

[2020-01-14 20:36] goneri commented on #58541
@anusha94, actually, I'm not totally sure I understand your question :-)

Currently, we have two datacenters, `rw_datastore` and `ro_datastore`. With `autoselect_datastore==True`, `vmware_guest will happily pick one of the two, even if the DS is in RO mode. And we get:

[code]

So, from my view point, `autoselect_datastore` is currently broken, It's more some kind `please_be_lucky_and_select_a_wor

[2020-01-15 01:07] ktbyers commented on #64896
I would add to this that the facts part of the *_l2_interfaces resources module does not indicate whether you are configured for access mode or trunk mode in the returned data structure.

Here is an Arista EOS switch that is configured for trunking:

[code]

The returned data structure for that interface is:

[code]

This is using:

[code]

On an Arista vEOS switch running 4.20.10M

The above data

[2020-01-15 02:27] Fred-sun commented on #66358
@julien1091 I tried, but I still couldn't copy the error. Can you try to restart it manually? Thank you very much!

[2020-01-15 03:14] kbreit opened #66485 "ios_l2_interfaces documentation isn't consistent with example"
##### SUMMARY
The argument in the `ios_l2_interfaces` module is `allowed_vlans`. However, the first example shows `allowed_vlan: 10-20, 40` which is singular and not plural. This happens with the pruning argument as well.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ios_l2_interfaces

##### ANSIBLE VERSION
[code]

[2020-01-15 03:21] lionslair commented on #65936
bump

[2020-01-15 04:12] #64369 closed, assigned to nobody

[2020-01-15 04:18] Akasurde commented on #66460
I can only reproduce this error when I provide `max_backoff` parameter as `str` instead of `int`.

[code]

[code]

Could you please confirm?

[2020-01-15 04:58] giedriusramas commented on #66460
Thanks @Akasurde for Your time investigating the issue.  It is my fault , I am calling function by  `wait_for_task(task, "clone template")` the second parameters is definitely wrong. The case is closed I think.

[2020-01-15 05:52] jobcespedes opened #66487 "podman_image build error: getting image "Resolution""
##### SUMMARY

Podman image build fails with message: 'error getting image "Resolution". Image is not name "Resolution"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
podman_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04
Podman 1.6.2
Connection: local

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Success build task

#####

[2020-01-15 06:06] Fred-sun commented on #52082
@just-dimitarslavkov Can you try the methods in the comments above? Thank you very much!

[2020-01-15 06:49] Fred-sun commented on #54914
@haiyuazhang @gavinfish Would you please help take look this issue? Thank you very much!

[2020-01-15 07:11] Fred-sun commented on #55350
@haiyuazhang @gavinfish Would you please help take a look this issue? Thank you very much!

[2020-01-15 07:47] Udayendu commented on #66468
So according to you how the nic configuration need to be done in OS level. I have tried using `vmware_guest` module but its not working. `vmware_guest` module can configure the nic only at the time of vm deployment. Not on a running vm.

So logically just for adding nic to a vm why some one need automation. Then to do the manual task to configure the nics in side the OS. Its an overhead. Automatio

[2020-01-15 08:10] evrardjp commented on #52869
!component -lib/ansible/modules/clustering/etcd3.py

[2020-01-15 08:13] nicolaibaralmueller opened #66489 "azure_rm_virtualmachine_info.py fails to get vm by tag"
##### SUMMARY

azure_rm_virtualmachine_info module fails to get info by tag on a VM.

This does not happen on other VMs we have. I was not able to find the actual difference or why this error appeared with ansible 2.9.2.

I check the VM and the tag SQL exists. There was no problem in ansible version < 2.9.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine_info

##### AN

[2020-01-15 08:35] #66460 closed, assigned to Akasurde

[2020-01-15 08:47] Udayendu commented on #66468
Now I got what you are saying. I tried with nmcli and able to configure it.

#### Working Playbook:

[code]

May be we can drop this RFE.

[2020-01-15 08:53] Tomorrow9 commented on #66468
Yeah, vmware_guest_network module is for VM level configuration, just as what you do from vCenter or ESXi host UI, it can only do what vSphere API provided.
vmware_guest module can set IP address when customizing guest OS, so you can add a network adapter, then shutdown it, and do existing VM guest OS customization to set IP address. Thanks.

[2020-01-15 08:57] mohag commented on #31691
As a workaround you can directly add the HKP URL in the url field instead. e.g to add the Datadog key, you can replace:
[code]

With
[code]

It might differ slightly for other keyservers. I haven't read the [HKP spec](https://tools.ietf.org/html/draft-shaw-openpgp-hkp-00) more than a quick scan.

[2020-01-15 10:12] filwie opened #66492 "Strange behaviour when accessing dict key that has a name conflicting with a built-in"
##### SUMMARY
1. Dict variable with optional key `values` that is expected to be a list.
2. Accessing it using dot notation `my_dict.values` returns built-in method
3. Accessing it using square brackets also returns built-in method `my_dict['values']`
4. Using conditional `when: "'values' in my_dict` works correctly IF we are not trying to **loop over**
   this value in this same task:
[code]
5. U

[2020-01-15 10:20] doyl54 commented on #47707
Actually this is my main issue, i've noticed that every action that needs ansible to do is always long when he ask kerberos for his rights to do it or not. (i'm using Kerberos authentification as connection system to my nodes)

[2020-01-15 10:41] divesh37 opened #66494 "VLAN CHANGE THROUGH VARIABLE AND WITH_ITEMS LOOP"
##### SUMMARY

I am trying to change vlan using a variable stored in file.yaml but while executing playbook it doesn't work seems I am missing something request you to help us achieving.

My switch is cisco ios but not able to do it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

!component

##### ADDITIONAL INFORMATION

[code]

[2020-01-15 11:32] Udayendu commented on #66468
But thats also not happening. As a result I used 'nmcli' to configure it in OS level and. I will explore more on the `vmware_guest` module and if still wont work, I will file a bug. Closing this request now.

[2020-01-15 11:32] #66468 closed, assigned to nobody

[2020-01-15 12:55] zeitounator opened #66496 "Future of json_query / jmespath ?"
##### SUMMARY
Please pardon me if this is not the good issue template. I did not really know where to fit that ticket into.

I have quite a few roles / playbooks actively using `json_query`. I have some workarounds to go over jmespath<->ansible integration limitations like the one described in #27299 (i.e. `from_json | to_json`)

The above lead to an opened ticket on jmespath side: https://github.

[2020-01-15 13:02] EpiqSty commented on #20493
Yes it's still broken at ansible 2.8.6:
[code]

[2020-01-15 13:19] nyanloutre commented on #45842
This is still affecting version 2.9.2

[2020-01-15 13:53] #65330 closed, assigned to nobody

[2020-01-15 14:19] froebela opened #66497 "include_role sometimes ignores dynamic vars_from parameter"
##### SUMMARY

We're trying to implement roles, which can be individualized by supplying host related vars files. This doesn't seem to work under certain circumstances. Up to now we're not yet sure, whether this is a bug or works as designed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible

[2020-01-15 14:34] sivel commented on #66496
The `json_query` filter is a community owned and maintained filter.  It is not maintained by the Ansible core developers, and no guarantees can be made of this feature.  As such, we have no plans so that "calls continue to work in the future with a maintained/secured/up-to-date library".

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-01-15 14:34] #66496 closed, assigned to nobody

[2020-01-15 14:48] sivel commented on #66492
This is expected behavior, and covered in the FAQ listed at https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#ansible-allows-dot-notation-and-array-notation-for-variables-which-notation-should-i-use

When using a key that shadows the name of an attribute, jinja2 prefers the attribute when using dot notation, and as such, you should use bracket notation instead:

[code]

However

[2020-01-15 14:48] #66492 closed, assigned to nobody

[2020-01-15 14:54] sky-joker commented on #66457
Hi @Tomorrow9

In the latest version of vmware_guest_facts module, an option to specify schema and properties has been added.
https://docs.ansible.com/ansible/devel/modules/vmware_host_facts_module.html#vmware-host-facts-module

I think you can get the desired version information in the following Playbook example.

[code]

run the playbook.

[code]

[2020-01-15 15:00] flingtoad commented on #47883
This still seems to be happening on 2.9.2. It's unclear to me if this is happening because I'm not also passing the tag fingerprint, but the documentation for the fingerprint states that:
"Specifies a fingerprint for this request, which is essentially a hash of the metadata's contents and used for optimistic locking"

Unfortunately, "essentially a hash of the metadata" isn't precise enough to be g

[2020-01-15 15:01] filwie commented on #66492
Is below expected behaviour as well?

[code]
because if first task is skipped because conditional is evaluated to be false
and so does the second task (first in block) - it is also skipped.

Third task however instead of being skipped - FAILS.

[2020-01-15 15:04] sivel commented on #66492
`when` statements are applied for every iteration of a `loop`, not before the `loop`.  The `when` statement on a `block` doesn't prevent the `block` from running, it's largely shorthand for applying a `when` statement to all tasks within the `block`.  As such, the `when` statement is effectively pushed down onto both tasks within the `block`.

This is documented at https://docs.ansible.com/ansible

[2020-01-15 15:07] samdoran commented on #66171
This seems to be a bug in cc9c72d. My intention was to explicitly add `'state': 'absent'` to the output from the `file` module rather than have it applied by the `add_path_info()`, not remove it from the output when a file/dir does not exist. I'll work on a fix.

[2020-01-15 15:09] filwie commented on #66492
Okay, I see how it works now. Thank you for your time.

[2020-01-15 15:27] chilledornaments opened #66498 "Add ipv4.dns-options support to nmcli"
##### SUMMARY
The `nmcli` module currently lacks support for specifying DNS options.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`nmcli`

##### ADDITIONAL INFORMATION
[DNS options](http://man7.org/linux/man-pages/man5/resolv.conf.5.html) give control over the system's resolver. We primarily use DNS options to rotate queries between our DNS servers and specify query timeouts. However, yo

[2020-01-15 16:11] blackwood821 opened #66501 "pkgin module thinks installations fail when the package name contains a version number"
##### SUMMARY

I tried to install the "apache-tomcat-8.5" package on SmartOS using the pkgin module. The module thinks the package failed to install but when I log into the server it actually installed successfully. However when I remove the "-8.5" in the package name it does not fail but since that does not allow me to specify a version, it ends up installing the latest version which is currently

[2020-01-15 16:12] blackwood821 commented on #66501
I also forgot to mention that before I reported this issue I googled and found what sounds like the same or a similar issue from 5 years ago:

https://github.com/ansible/ansible-modules-extras/issues/475

[2020-01-15 16:23] froebela opened #66502 "zfs module somtimes changes properties where no changes necessary"
##### SUMMARY

In ZFS locally set properties of a certain ZFS filesystem might actually come from two different sources, local or received. Local means, this property was explicitly set using zfs set. Received means, this property was implicitly set by a zfs send/receive operation, for example during a template based Solaris installation. Hence the Ansible ZFS module should also consider propertie

[2020-01-15 16:26] #65968 closed, assigned to Akasurde

[2020-01-15 17:31] satken2 opened #66504 "pamd module raises AttributeError when trying to remove the last rule"
##### SUMMARY

Same as issue title

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/system/pamd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9.1
Python 3.5.3

##### STEPS TO REPRODUCE

Execute playbook below

`test.yml`
[code]

`/etc/pam.d/systemd-user`

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-01-15 17:33] xxmlud opened #66505 "Create a special file depending on the network"
##### SUMMARY

Hi!,

I need help. I want to deploy some file with some modifications. The deployment policy is that depending on the network the server belongs to, it will deploy some files or others.

I can't compare the "ansible_facts" with "vars"

##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME

Module: File and conditionals
More information in example

##### ANSIBLE VERSION

[co

[2020-01-15 17:48] mariolenz commented on #66457
@sky-joker

I was a bit confused about this but you meant **vmware_host_facts**, right?

@Tomorrow9
Is the solution sky-joker proposed would work for you? Looks OK to me...

[2020-01-15 19:40] sudoerss opened #66508 "win_domain_user - create multiple users via inventory"
Hello,
I would like to build an inventory to create several users at the same time
basically I'm trying to populate the users variable with different users
[code]
Thanks

[2020-01-15 20:03] bcoca commented on #66470
`errors` is not supposed to have any  bearing on the return from a lookup.

[2020-01-15 20:07] bcoca commented on #66464
all 3 should be case sensitive, seems with_ is not.

[2020-01-15 20:09] evgeni commented on #66470
No, but query is supposed to always return a list (same as lookup with wantlist=true).

[2020-01-15 20:12] sivel commented on #66470
`wantlist` is a misconception. Really, it means so not manipulate the return data by joining the elements as a string with commas.  It doesn't ensure a list is returned. And `query` simply calls lookup with `waitlist=True`.  So really it just means to return the data as generated by the lookup, without manipulation.

[2020-01-15 20:12] bcoca commented on #66470
that is an issue with the query/lookup, not with `errors`

[2020-01-15 20:17] #66508 closed, assigned to nobody

[2020-01-15 20:23] evgeni commented on #66470
`first_found` returns an error when nothing is found, using `errors=ignore` makes it return an empty string, `wantlist` makes it an empty list so it can be used with `loop`.

This is the documented way to do so: https://docs.ansible.com/ansible/latest/plugins/lookup/first_found.html#examples

[2020-01-15 20:30] bcoca commented on #66470
not disputing that, just that it is an issue with `errors` this seems an issue with `first_found`

[2020-01-15 20:39] bcoca commented on #66470
i'm being an idiot, this was fixed in 2.9 .. I didnt stop to look at what version you were using why i assumed the issue was plugin specific (and i missed you pointing at that fix at end of your summary).

[2020-01-15 20:40] dsnellgrove commented on #55909
Something about this changed in 2.9.

Example statement:
[code]
In 2.8 this code does not change the owner and group of `/some/target/file` to root:root. In 2.9 it does. No changes are noted in the documentation regarding this shift in behavior.

[2020-01-15 21:10] felixfontein commented on #66213
I guess we have to make sure to explicitly pass `['NONE']`. I don't remember why we ended up with the logic we have right now, it looks a bit wrong now.

[2020-01-15 21:27] donateur commented on #43891
Yes sorry, you are correct.  6.7.0.4000

[2020-01-15 21:32] kostiantyn-nemchenko commented on #66422
IMO if PostgreSQL supports dots in database names then we should allow using them as well. No need to wait until someone from the list of potentially interested people shows his/her interest in this feature. Just start working on the PR if you have time and desire to help. The module's maintainers will help you with reviewing it.

[2020-01-15 22:05] trollkarlen commented on #41543
Is this still there and not fixed ?
I can send a pull request in that case, i have just missed this totally sry.
//T

[2020-01-15 22:22] #65590 closed, assigned to nobody

[2020-01-15 23:03] ikhan2010 commented on #54400
@trishnaguha @GomathiselviS We should probably look into this feature.

[2020-01-15 23:27] GomathiselviS commented on #54400
@ikhan2010 PR is linked to the bug .

[2020-01-16 03:24] nodanero commented on #33193
It works for me.
I tested on Ansible 2.9.2. running on macOS 10.15.2

[2020-01-16 04:34] geerlingguy commented on #51601
I've recently run into the same issue as well; sometimes I would like to have the git checkout done as one user (e.g. `root`), but have the files in the working tree actually owned by another (e.g. `www-data`). It would be convenient to be able to do this in one task instead of two.

[2020-01-16 05:49] Akasurde commented on #43733
@mcandre I am able to get `os_family` for Void Linux distribution in 2.8, 2.9 and latest devel.

``
192.168.56.105 | SUCCESS => {
    "ansible_facts": {
        "ansible_distribution": "void",
		...
        "ansible_os_family": "void",
        ...
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false
}

[code]

[2020-01-16 06:14] Akasurde commented on #66457
@sky-joker Could you please add this to example section if @Tomorrow9 agrees? Thanks in advance.

needs_info

[2020-01-16 06:23] demakkar opened #66518 "ios_facts module fails during execution"
##### SUMMARY
ios_facts module fails during execution

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco IOS Software, IOS-XE Software, Catalyst 4500 L3 Switch  Software (cat4500e-UNIVERSALK9-M), Version 03.06.05.E RELEASE SOFTWARE (fc2)
Technical Support: http://www.cisco.com/techsupport

##### S

[2020-01-16 07:00] vinayk003 commented on #57099
@dkt26111, I see below issue by picking fix in #66156 65743 os_user_role.py. I tried by passing both domain ID and domain name (failed with different error)
The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/tmp/ansible_os_user_role_payload_j1q8r5/__main__.py", line 187, in main
    cloud.grant_role(role, **kwargs)
  File "/usr/lib/python2.7/si

[2020-01-16 08:32] justjais commented on #66518
@demakkar Thanks for raising the issue, can u plz update the version of Ansible you're facing the issue with, also I think you're using `connection: local` and if yes, can you please try the same scenario with `connection: network_cli` instead and update.

[2020-01-16 08:43] flazzarini opened #66520 "sros_command not suggestion that paramiko is required (ansible 2.8 reported this 2.9.3 doesn't)"
##### SUMMARY

Unable to execute command on Timos C-19.10.R1 device using the `sros_command` ansible module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sros_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Output of the system version

##### ACTUAL RESULTS

[code]

[2020-01-16 09:23] CSimpiFoN commented on #26581
Seems none cares :(

[2020-01-16 09:25] abdulbaazit opened #66523 "what is the platform type os for WLC ?, how can my playbook identify wlc devices along with the hosts file. Please suggests ? thx"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-01-16 09:25] abdulbaazit commented on #66523
what is the platform type os for WLC ?, how can my playbook identify wlc devices along with the hosts file. Please suggests ? thx

[2020-01-16 09:29] nicolaibaralmueller opened #66524 "VMware: vmware_inventory.py not working"
##### SUMMARY

Not able to pull inventory from vmware since ansible > 2.9.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_inventory.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Error shows in AWX 9.1.0 with ansible 2.9.2 by updating a "VMware vCenter" source inventory.

##### ACTUAL RESULTS

[code]

Stderr shows 'Could not connect to the specified host using specified

[2020-01-16 09:52] anusha94 commented on #57099
@vinayk003 ,
I don't get your reference for fix in #66156
Can you elaborate more or is it by mistake you have referenced it?

Thanks!

[2020-01-16 09:55] Akasurde commented on #64590
@lxuzhang Could you please provide the required information otherwise this issue will get closed?
Thanks.

[2020-01-16 09:59] sumkincpp commented on #66524
Hi @nicolaibaralmueller,

Can you connect to VMware vCenter from target host?
It seems that you have a connection issue as indicated by your log.

[2020-01-16 10:03] Akasurde commented on #66524
@nicolaibaralmueller Also, check the permissions. For me it is working.

[2020-01-16 10:14] valerytschopp opened #66525 "os_user_role: fails to assign role in domain only"
##### SUMMARY

In an OpenStack environment with multiple domains and when using keystone (identity) API v3, the os_user_role module fails with `"Must specify either a domain or project"` when trying to assign a role to a specific domain only (e.g. `heat_domain_admin` user with `admin` role in the `heat` domain).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_user_role

##### ANSIBLE VERS

[2020-01-16 11:16] anusha94 commented on #58541
@goneri ,
I was checking if some debugging and fixing needs to be done to `vmware_guest.py` so that users can go back to using `autoselect_datastore=True`
If required, I can work on it :)

[2020-01-16 11:40] raneq commented on #66422
Hey thanks @kostiantyn-nemchenko !

With the door open to a PR, I will propose it to my team and come back here when we have planned the task.

Just to narrow down the entropy: could the strategy that @Andersson007 took with #64007 suffice? That is, replacing `pg_quote_identifier` with direct SQL quoting?

Thank you again!

[2020-01-16 12:06] ghost opened #66527 "vmware_folder_info: A way of getting a list of all vms in a specific folder."
SUMMARY
Im using ansible 2.9.2 and i was looking at all modules and couldnt find a way for listing exsisting
vms in a specific folder.

Theres a way of showing folder details \ vm details but not folder vms.
- Feature Idea

Can you add this some kind of feature ?

COMPONENT NAME
vmware_folder_info

[2020-01-16 12:40] CWollinger opened #66528 "command & shell task stuck if use more than approx. 139k characters via stdin"
##### SUMMARY
The ansible playbook will stuck, if you use more than approx. 139000 character at the command & shell module executing via stdin (one-line).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command & shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VM with CentOS Linux Version 7
x86_64

##### STEPS TO REPRODUCE

If you use the stdin from

[2020-01-16 12:45] Andersson007 commented on #66422
@raneq @kostiantyn-nemchenko hey! yes , i think it will work but, as we discussed with one of core members, it is not safe way. We need to handle quotes somehow or use any other ways to be sure that it prevents SQL injections or other dangerous things.
Unfortunately i don't have enough free time to make new PRs but i can help with reviewing and discussing sometimes.

[2020-01-16 12:45] Andersson007 commented on #66422
CC @felixfontein
would be really cool to see your opinion here

[2020-01-16 12:48] crazzy opened #66529 "Multiple when conditions including a defined check fails if written on a single line"
##### SUMMARY
I've spent the better part of a working day troubleshooting this specific issue, and I don't think this issue is documented or already reported. I have a dictionary, which *sometimes* contains a list of dicts to be looped on, depending on what a key in the inside dict is set to.

So obviously I want to skip the task entirely when that list isn't present, and that is not a problem. Bu

[2020-01-16 13:11] sky-joker commented on #66457
@mariolenz

Sorry, `vmware_guest_facts` is a mistake.
`vmware_host_facts` is correct.

@Akasurde

okay :)

[2020-01-16 13:13] Akasurde commented on #66527
@batchenr Thanks for reporting this issue. There is already module to list all VMs under a specific folder - `vmware_vm_info`

[code]
will result in
[code]

Let me know if it works for you. Thanks.

needs_info

[2020-01-16 13:46] mkrizek commented on #66529
The issue is that you used `=` for comparison instead of `==`, the following works:
[code]

The exception thrown from the templating engine is:
[code]

But since "loop error takes precedence" (see below), `"'dict object' has no attribute 'mylist2'"` shadows the "real" exception.

https://github.com/ansible/ansible/blob/0fa556f75183238633396c7ab59bddd23c9a1931/lib/ansible/executor/task_executor.py#

[2020-01-16 13:49] eleksis opened #66530 "Module ios_l3_interfaces doesn't set ipv6 correctly when state replaced"
##### SUMMARY

New network modules were added in ansible version 2.9. While testing I came across a bug. More precisely module **ios_l3_interfaces** doesn't set ipv6 addresses correctly when state set to **replaced**. Instead of replacing IP, module just adds it (same behavior as when state is set to merged).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_l3_interfaces
##### ANSIBLE VER

[2020-01-16 13:52] crazzy commented on #66529
Alright, so maybe not a bug in the sense of condition-handling then. But in that case most certainly a bug in terms of the error message being displayed then?

Also, with a when-statement containing two conditionals with the and operator between them, shouldn't ansible stop evaluating conditions after the first one has evaluated to false? Almost any programming/scripting language I can think of ri

[2020-01-16 14:01] mkrizek commented on #66529
That is the reason I left this open.

Yes but not if there is a syntax error in the conditional.

[2020-01-16 14:12] mkrsn opened #66531 "name from bigip_pool_member should be a list"
##### SUMMARY

It would be nice when the parameter "name" from bigip_pool_member would be a list instead of a string.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

bigip_pool_member

##### ADDITIONAL INFORMATION

It looks like the major task of this module is to create a new Node which forces me to redeclare an node over and over again (for each pool).

Currently it's not possible to popu

[2020-01-16 14:25] WintyBe commented on #65919
I'm not OP, but I have the exact same issue. I tried the PR in a venv according to the steps, but it also doesn't work for me. The playbook:
[code]

It will add a NIC in the given VLAN, but on a Standard vSwitch. I tried this twice on a VM without NICs but I can see in the VMware console that it's added on a Standard vSwitch.
[code]

I then manually added the same VLAN on the correct DVS. I tried

[2020-01-16 14:31] bmalynovytch commented on #26581
People do care, but we don't always have enough time to address all the issues.
The changes you request shouldn't be hard to implement, which could be a good time for new contributors to step in !
Feel free to give it a try, we'll be glad to help you and review your work.

[2020-01-16 14:32] Mirio opened #66533 "Remote_User not dynamically set with loops"
##### SUMMARY
Remote_user on the task seems to not correctly set using the loops.
If you configure remote_user on {{item}} all the elements of the task rotate correctly while it remains fixed to the first element of the list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Remote_users

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REP

[2020-01-16 15:02] anshulbehl opened #66534 "ansible-galaxy cli should have an option to keep the collection tarball when installing collection"
##### SUMMARY

Use case is for customers on air-gapped customers who want to take the tarball using a flash drive inside their network.
Currently that is not possible because cli does not keep the tarball after installing the collection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-galaxy cli

##### ADDITIONAL INFORMATION

[code]

[2020-01-16 15:27] fartosh commented on #30411
I also faced this issue. In my case there was `~/.ssh/config` file in which I declared sth like this:
[code]
After removing file content everything started to work.

[2020-01-16 15:39] oddlama opened #66535 "Ansible hangs, unless overriding ssh setting `-o ControlMaster=no`"
##### SUMMARY
Ansible hangs despite successfully establishing an ssh connection, executing a command, and reading back the result.

I have found a workaround, which is this adding `-o ControlMaster=no` to the ssh arguments via the `ansible.cfg`:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

(empty output, no changes)

[code]

#

[2020-01-16 15:39] goneri commented on #58541
Awesome. Go ahread @anusha94, I don't plan to push a fix anytime soon.

[2020-01-16 15:47] svhsvh commented on #66416
Thanks danielmellado!

I changed the playbook to this, and now it works:

[code]
I was't aware that it is used as a regex, it is stated in the documentation: https://docs.ansible.com/ansible/latest/modules/cli_command_module.html?highlight=cli_command
but it wasnt clear to me at first sight.

Thansk!

[2020-01-16 15:47] #66416 closed, assigned to danielmellado

[2020-01-16 15:48] bcoca commented on #43733
The map is there to 'correct' values that we get through detection, void does not seem to need this correction.

[2020-01-16 16:35] demakkar commented on #66518
`ansible-playbook 2.8.5
  config file = /home/demakkar/Ansible-Networking/ansible.cfg
  configured module search path = [u'/home/demakkar/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (default, Mar 26 2019, 22:13:06) [GCC 4.8.5 2

[2020-01-16 16:39] tirkarthi opened #66537 "SyntaxWarning over comparison of literals using is in cobbler module."
##### SUMMARY

SyntaxWarning over using is for comparison of literals. The fix is simple and is a good beginner issue.

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

cobbler

##### ANSIBLE VERSION

devel branch

[2020-01-16 16:54] abenokraitis commented on #66534
@sivel @thaumos - This is a blocking issue for a few partners, is there someone that can pick this up? Thinking this could just be an added flag or something simple...

[2020-01-16 16:55] passbt opened #66538 "win_psmodule doesn't support private repositories that require authentication"
##### SUMMARY
I use a private NuGet repository that requires credentials for reading the feed and accessing artifacts. When I try to install a module from the private repository I get the error below.

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_psmodule

##### ADDITIONAL INFORMATION
The Ansible module win_psmodule appears to wrap around various CmdLets in Native PowerShell m

[2020-01-16 16:56] abenokraitis commented on #66534
FYI: The other "half" of this feature https://github.com/ansible/galaxy/issues/2198

[2020-01-16 17:02] samdoran commented on #56629
I'll get a PR together to fix this. Thanks for doing the hard work, @sivel!

[2020-01-16 17:24] sivel commented on #66534
To mirror what I said elsewhere, this falls outside of the scope from what the galaxy cli project team is going to work on for the 2.10 release. We have other targets in flight that haven't been met as of yet that need completed.

I have no problem with it being added, but the project team will likely be unable to work on this feature, or at least not as part of the planned scope and not in the sh

[2020-01-16 17:33] felixfontein commented on #53789
Yes. Adding a `x509_crl_info` module would be the next step after `x509_crl` is merged.

[2020-01-16 17:51] clerskine opened #66541 "Feature request - print name of playbook as part of the PLAY RECAP"
##### SUMMARY

When the PLAY RECAP line is printed at the end of a playbook, print out the name of the playbook that is running.  When running multiple playbooks via a script, it would be very helpful to have the name of the playbook printed as part of the recap.  This saves having to scroll back in the log and finding the command line that called the playbook.

##### ISSUE TYPE
- Feature Idea

##

[2020-01-16 18:10] alyjak opened #66544 "File Module wrongly interprets numeric username as uid"
##### SUMMARY

Using the file module to set the owner of a file to a numeric username is wrongly interpreted as setting the uid of a file.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

This affects the file module's 'owner' attribute/functionality and probably the 'group' functionality as well.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[

[2020-01-16 18:28] narendraklu9 commented on #66537
#66543

[2020-01-16 18:33] minziran opened #66545 "Activate ONOS apps in docker containers."
[code]

[2020-01-16 18:40] sivel commented on #66544
This was implemented in bd226eb826a396e5cab60330b0ce1ed9741a7f3c

I'm not sure we can change this behavior, especially without a deprecation period.  It seems purposeful, and changing it would be a backwards incompatible change when expecting that providing a numeric owner is treated as a uid.

[2020-01-16 19:26] JieX19 commented on #65003
Hi @forestoden,

Thank you very much for your valuable suggestion! We've added more encryption algorithms to the proposal section in lib/ansible/modules/network/fortios/fortios_vpn_ipsec_phase1_interface.py.

All the new added algorithms will be available in 2.10 release.

Thanks,
Jie

[2020-01-16 19:42] R-Rudolf commented on #24223
I have issues to try it out too, neither of these work (using 2.9.2):

allow_world_readable_tmpfiles: True
defaults.allow_world_readable_tmpfiles: True
ansible_allow_world_readable_temp: True

[2020-01-16 19:44] alyjak commented on #66544
At minimum this seems to be non-intuitive behavior that should be documented. It is perfectly POSIX "legal" to have usernames that are integers.

[2020-01-16 19:46] alyjak commented on #66544
Also note that I am providing a string, not an integer as the user. If I was providing an integer it seems perfectly reasonable to treat that as a user ID.

[2020-01-16 19:55] samdoran opened #66546 "setup_docker integration test failing"
##### SUMMARY

The `setup_docker` integration test role is failing on CentOS 8 due to missing packages. This seems to be intermittent. I cannot duplicate it locally and the packages seem to be available (at least in a test container I'm running locally).

[Example failed job](https://app.shippable.com/github/ansible/ansible/runs/156205/96/console)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2020-01-16 20:03] samdoran opened #66547 "mongodb_user integration test is failing"
##### SUMMARY

The recently added `mongodb_user` integration test (#61257) fails when trying to connect with the the mongo database.

The tests passed when run in isolation, but were causing other mongo tests to fail when run as part of the test group due to `requests[security]` being installed. That was fixed in #66319, but this test has failed ever since that change was made.

##### ISSUE TYPE
-

[2020-01-16 20:14] dick-twocows opened #66548 "Dict key name clash with module name when using loop."
##### SUMMARY
When using a dict key called copy in a loop which is a copy it reports that the value is not a list, when it is a list. Changing the dict key name to foo removes the error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.10
Linux dick-5491 5.3.0-26-generic #28-Ubuntu SMP Wed

[2020-01-16 20:16] dick-twocows commented on #66548
Having just submitted this I've had an eureka and realized it's the copy method of the underlying Python dict object! So potential there are a number of name clashes...

[2020-01-16 20:19] felixfontein commented on #66422
I'm not really familiar how to do identifier quoting with Postgres, so I'm not sure how much work and trouble that will be. It will definitely be the case that you need to look at every module you adjust in painful detail to avoid any escaping errors. That's doable, but definitely a large chunk of work.

Also, you always need to make sure that stuff stays backwards compatible. I don't think it wil

[2020-01-16 20:31] sivel commented on #66548
This topic is covered under the FAQ at https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#ansible-allows-dot-notation-and-array-notation-for-variables-which-notation-should-i-use

When using dot-notation, jinja2, the underlying templating library, prefers attributes over keys.  As such, you should instead use bracket notation:

[code]

bracket notation prefers keys over attribut

[2020-01-16 20:31] #66548 closed, assigned to nobody

[2020-01-16 20:53] sivel commented on #66262
Fixed by https://github.com/ansible/ansible/pull/60428

[2020-01-16 20:53] #66262 closed, assigned to nobody

[2020-01-16 21:20] drawks commented on #34281
If only unfixed issues aged like fine wine instead of like bait fish....

But seriously is this ever going to either be fixed? The `has_pr` label typically indicates at fix is being gestated, but in this case there is no hint as to where we should be looking for the fix.

[2020-01-16 21:59] sivel commented on #34281
My previous comment still stands as an answer to these questions.

https://github.com/ansible/ansible/issues/34281#issuecomment-517328598

[2020-01-16 22:43] rooftopcellist opened #66549 "enablerepo param not honored in yum module with disablerepo="*""
##### SUMMARY
When disablerepo _and_ enablerepo parameters are both set in a yum task, enablerepo is not honored.

The PR that caused this appears to be https://github.com/ansible/ansible/pull/63713.  The commit right before it works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: yum, package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[2020-01-17 01:54] Fred-sun commented on #62307
@gavinfish @haiyuazhang

[2020-01-17 01:58] Fred-sun commented on #62424
@goneri kindly ping

[2020-01-17 02:08] Fred-sun commented on #62489
We are investigating and confirming with the designer. Should that be something that wasn't considered in the design or is that the design? Thank you very much!

[2020-01-17 02:29] Fred-sun commented on #63005
@gavinfish @haiyuazhang

[2020-01-17 02:32] chovdary123 commented on #56326
I'm facing the same issue with `gcp_cloudfunctions_cloud_function.py` in `2.9.2` on Alpine Linux.
```Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1579227792.4739702-138018996227667/AnsiballZ_gcp_cloudfunctions_cloud_function.py\", line 102, in <module>\n    _ansiballz_main()\n  File \"/root/.ansible/tmp/ansible-tmp-1579227792.4739702-138018996227667/AnsiballZ_gcp_clo

[2020-01-17 02:43] blackwood821 opened #66553 "include_role handler fails because role variable is no longer defined"
##### SUMMARY

I have a play which includes a role (`role1`) which sets a variable and passes it to another role (`role2`). The second role (`role2`) successfully retrieves the variable value when the task is executed. The second role (`role2`) then notifies its handler. Then when the handler runs at the end of the play it fails because the command the handler uses references a variable that is no

[2020-01-17 04:11] Akasurde commented on #43737
OpenWrt supports both - "ansible_distribution" and "ansible_os_family" using 2.8, 2.9 and devel.

[code]

needs_info

[2020-01-17 04:44] Akasurde commented on #43736
Mageia supports both - `ansible_os_family` and `ansible_distribution` variable on 2.7, 2.8, 2.9 and devel -

[code]

needs_info

[2020-01-17 04:57] Akasurde commented on #66524
@nicolaibaralmueller Could you please run only vmware_inventory.py with `-vvvv` and provide the logs? It would be easy to pin point the issue.

Thanks,

needs_info

[2020-01-17 05:14] #64456 closed, assigned to Akasurde

[2020-01-17 06:00] maxamillion commented on #44708
I think this is a documentation issue, [`locale-gen`](https://manpages.ubuntu.com/manpages/precise/man8/locale-gen.8.html) (which appears to be performing the actual work on the backend of this module) is not a piece of software distributed by Fedora, CentOS, or Red Hat and therefore is not used on those distros for the management of locales; so I don't think this module should have ever been expe

[2020-01-17 06:22] NiveditaKumari14 opened #66558 "PyOpenSSL is not working in ansible version 2.5 to 2.7"
PyOpenSSL giving an error in ansible version 2.5 to 2.7 ["changed": false, "msg": "You need to have PyOpenSSL>=0.15"]

##### SUMMARY
When pyopenssl Version: 19.1.0 is installed and running a playbook to generate an OpenSSL Certificate, an error is received that ""msg": "You need to have PyOpenSSL>=0.15""
[Note: Same behaviour is observed for ansible version 2.6 and 2.7]

##### ISSUE TYPE
- Bug Rep

[2020-01-17 07:05] felixfontein commented on #66558
Please note that Ansible 2.7 no longer receives bugfixes, and Ansible 2.8 only receives critical bugfixes (a fix for this one probably won't count); see https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#release-status So I'm not sure that it makes sense working on this since it seems to work with Ansible 2.9 according to you.

But about your issue: are you su

[2020-01-17 07:24] NiveditaKumari14 commented on #66558
As Ansible 2.8 receives critical bugfixe, so the same issue is observed in ansible version 2.8. This problem is resolved in ansible 2.9 so, the code should be back ported to resolve pyopenssl issue in 2.8.

Yes, pyOpenSSL is installed on the remote machine and installed for the same Python version Ansible is using on that machine.

AS my deployment environment is set on ansible version 2.5.3, so i

[2020-01-17 07:38] #53693 closed, assigned to nobody

[2020-01-17 07:45] Akasurde commented on #59928
@goneri Can we close one of them since they are duplicate? Thanks.

[2020-01-17 07:49] borowskiio opened #66560 "TypeError: Can't mix strings and bytes in path components (on localhost)"
##### SUMMARY
Running ansible on localhsot causes a fail: 'Unexpected failure during module execution' (TypeError: Can't mix strings and bytes in path components)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
/usr/lib/python3.7/site-packages/ansible/modules/setup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
 OS: Fedora 31 ThirtyOne
 Kernel: x86_64 L

[2020-01-17 07:57] creideiki commented on #65843
Could this be related to #62841?

[2020-01-17 08:20] anusha94 commented on #58541
@goneri
The workaround you mentioned `mountInfo.accessMode` seems like a proper fix to me, is there any reason why you didn't proceed with a PR or am I missing something here?

[2020-01-17 08:29] mmallet-digipok commented on #66358
@Fred-sun I had the same issue with one or two old VMs in Azure. In the portal, I could restart it w/o any issues but not through the ansible module. I dunno whether the UI and the module use different API but it seemed that everytime I was changing the VM state, the VM was going through a transitional "updating" state. Any ideas on what can cause this issue?

[2020-01-17 08:32] kawing-chiu commented on #46362
Hi. Is there any progress recently? Or is this issue being tracked in some other place?

[2020-01-17 08:33] nicolaibaralmueller commented on #66524
No I haven't because this was not an issue before. Error only appeared since upgrading ansible/awx.

[2020-01-17 08:34] nicolaibaralmueller commented on #66524
Sure, I will get back to you monday.

How can I call vmware_inventory.py via ansible (without awx)?

[2020-01-17 08:49] julien1091 commented on #66358
@Fred-sun I confirm, I have no problem to stop/start the VM via the UI Azure. Whatever the state of the VM on the UI the playbook keep to see only the "updating" state...

[2020-01-17 08:59] changsijay commented on #66266
@DAgostinoLucas sorry, do you meet the `mta` option not work issue, which `set_options` is not run in `mail.py` and I need to export `SMTPHOST` manually

[2020-01-17 09:47] trishnaguha commented on #65332
resolved_by_pr https://github.com/ansible/ansible/pull/66517

[2020-01-17 10:04] Timoses commented on #65190
Created a bug report at Red Hat Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1792209

[2020-01-17 10:04] sbilque opened #66561 "Feature request - win_authorized_key module for Windows"
##### SUMMARY
Include an Ansible module to add or to remove SSH authorized keys for particular user accounts on Windows-based systems.

This module runs like the `authorized_key` module for Linux.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_authorized_key

##### ADDITIONAL INFORMATION
To improve Windows management over SSH.

Example based on modules `informatiquecdc.win_authorized_k

[2020-01-17 10:05] DAgostinoLucas commented on #66266
@changsijay no, I didn't. Setting those options in ansible.cfg was sufficient for me (mta, sender, to in `callback_mail section`), I updated my comment with those variables.

[2020-01-17 10:08] balonik commented on #53693
@Akasurde

During my testing I have find out following cosmetic issues:

- if you specify non-existent `destination_vm_folder` you get rather ugly error from pyvmomi. Could help if  `find_folder_by_name` returned value is checked and module exits properly. Snippet from the error below.
[code]
- it would help if I could specify ESXi Cluster instead of ESXi host

I am using specific role for the use

[2020-01-17 10:12] Akasurde commented on #53693
@anusha94 Could you please take a look into these concerns? Thanks in advance.

[2020-01-17 10:16] philfry opened #66562 "python detection broken with delegation"
##### SUMMARY

python is not detected/used correctly when delegating a task to a host that's running a different python setup. In this case, the managed node's python is resolved to `/usr/libexec/platform-python` which does not exist on the control node.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core
executor/interpreter_discovery.py maybe

##### ANSIBLE VERSION

[code]

##### CONFIGURA

[2020-01-17 10:19] anusha94 commented on #53693
@balonik ,
Thanks for the feedback, I will look into those issues.

[2020-01-17 10:22] Mirio commented on #66533
### Temporary Workaround
main.yml
[code]

foo.yml
[code]

[2020-01-17 10:30] balonik commented on #53693
@anusha94

- If VM with the name already exists module fails with `FAILED! => {"changed": false, "msg": "A VM with the given name already exists"}` instead of `no action is taken` written in documentation.

[2020-01-17 10:38] hihouhou opened #66564 "Enable Github notifications for releases"
##### SUMMARY
Enable github notification for releases

##### ISSUE TYPE
- Enable github notification for releases

##### COMPONENT NAME
Github notifications for releases

##### ADDITIONAL INFORMATION
Options activated but no notification :-(
![github com_ansible_ansible_issues_new_template=feature_request md](https://user-images.githubusercontent.com/10907233/72605600-62a47000-391d-11ea-8d3d-0a433

[2020-01-17 10:38] sshnaidm commented on #46362
As all community modules will go from ansible in 2.10, podman modules are going to be in repository https://github.com/containers/ansible-podman-collections
I hope to do some progress next week when finishing moving openstack modules.
Till then you can try [podman_container](https://opendev.org/openstack/tripleo-ansible/src/branch/master/tripleo_ansible/ansible_plugins/modules/podman_container.py)

[2020-01-17 10:39] fl0gu commented on #52933
I've just tried with ansible 2.9.3, and it works as expected.
Issue solved.

[2020-01-17 10:39] #52933 closed, assigned to nobody

[2020-01-17 10:52] fl0gu commented on #52937
Just tested with ansible 2.9.3, it still completely broken. Logs are different, might be not exactly the same problem as initially described:

[code]

[2020-01-17 11:40] Vikash082 opened #66565 "Expect module - command exceeded timeout"
##### SUMMARY

 I am using expect module to respond to prompt generated by the script here https://docs.openshift.com/container-platform/4.2/installing/installing_aws/installing-aws-network-customizations.html#installation-initializing_installing-aws-network-customizations

But it stuck and fails with **"command exceeded timeout"** message.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code

[2020-01-17 12:18] Akasurde commented on #66565
Hi @Vikash082 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2020-01-17 12:18] #66565 closed, assigned to nobody

[2020-01-17 12:25] anthonyShahine opened #66566 "Convert string to float and then to int"
##### SUMMARY
Dears kindly note that i want to convert a string variable into float in order to multiple and then reconvert the new variable to int

##### ISSUE TYPE
- Variable converter

##### COMPONENT NAME
multiplication

##### ADDITIONAL INFORMATION
I want the output to be 10500 exatly, but i'm getting 10500.0

[code]

[2020-01-17 12:31] anthonyShahine commented on #66566
@ansibot kindly note that I'm using ansible 2.9.2

[2020-01-17 12:58] mkrizek commented on #66566
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-17 12:58] #66566 closed, assigned to nobody

[2020-01-17 12:58] anthonyShahine commented on #66566
I solved my issue with using:
{{ (str_vat|float * 1000)|int }}

[2020-01-17 13:13] Akasurde commented on #63045
@sky-joker Can you please help here since I don't have hardware for FC HBA? Thanks.

[2020-01-17 13:16] ullibo commented on #25532
@AL71B : the lines between #UKI
.../ansible-venv/lib/python2.7/site-packages/winrm/transport.py

....

        # configure proxies from HTTP/HTTPS_PROXY envvars
        session.trust_env = True
        settings = session.merge_environment_settings(url=self.endpoint, proxies={}, stream=None,
                                                      verify=None, cert=None)

        #UKI
        # Retry

[2020-01-17 13:19] Akasurde commented on #66562
Duplicate of https://github.com/ansible/ansible/issues/63180

[2020-01-17 13:19] #66562 closed, assigned to nobody

[2020-01-17 13:19] Akasurde commented on #66562
cc @sivel

[2020-01-17 13:50] Akasurde commented on #61005
resolved_by_pr #59546

[2020-01-17 13:51] Nani-o commented on #58841
I have this problem on ALL versions > 2.8.0.

When I run my playbook, I got this message :

[code]

[2020-01-17 13:56] Akasurde commented on #61005
Closing this issue since PR #59546 is merged. Please feel to open a new issue if problem persists. Thanks.

[2020-01-17 13:56] #61005 closed, assigned to nobody

[2020-01-17 14:00] #65537 closed, assigned to Akasurde

[2020-01-17 14:01] Akasurde commented on #66172
@vgprash24 Could you please confirm if @garbled1 solution works for you and let us know? Thanks.

needs_info

[2020-01-17 14:12] Akasurde commented on #66494
!component =lib/ansible/modules/network/ios/ios_command.py

[2020-01-17 14:18] justjais commented on #66523
@abdulbaazit I believe by WLC you're trying to manage Cisco WLC config, if yes please ref: [aireos_config](https://docs.ansible.com/ansible/latest/modules/aireos_config_module.html).

And, if you have any further queries we have a dedicated Working Group for network. You can find other people interested in this in #ansible-network on Freenode IRC
For more information about communities, meetings an

[2020-01-17 14:18] #66523 closed, assigned to nobody

[2020-01-17 14:20] Akasurde commented on #66545
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2020-01-17 14:36] tux-84 opened #66571 "Postgres privilege raises NoneType error"
##### SUMMARY

Setting privileges on pgdb using Ansible throws NoneType error.

Affects only 2.9.2, not 2.9.1
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_privs
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX Catalina / Vagrant  with Debian Buster x64 contrib image  & ansible_local module

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2020-01-17 15:19] webmozart commented on #15297
Attention, that gives the connecting user root access to the entire system.

[2020-01-17 15:29] sivel commented on #66564
Ansible does not use the github releases functionality. What you are seeing are just tags in git.  At this time we have no plans to make use of github releases.  I recommend you subscribe to the ansible-announce mailing list:

https://groups.google.com/forum/#!forum/ansible-announce

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2020-01-17 15:29] #66564 closed, assigned to nobody

[2020-01-17 15:40] webmozart commented on #29698
I can confirm this is still happening in 2.9.2.

[2020-01-17 16:17] goneri commented on #58541
Hi @anusha94, it was more like a hack, just to validate my understanding of the problem. It should be extended to support the cluster too.

Another problem, my code snippet blacklist the ds as soon as it's readOnly somewhere. With this example below, host1 comes with all the DS mounted readOnly, and as a consequence, none of the DS will be available for the other hosts too :disappointed: ! This is

[2020-01-17 16:20] goneri commented on #59928
Sure.

[2020-01-17 16:20] #59928 closed, assigned to nobody

[2020-01-17 16:30] apollo13 commented on #64963
PR is merged into devel, so this is fixed.

[2020-01-17 16:30] #64963 closed, assigned to nobody

[2020-01-17 16:37] wagner-certat commented on #66303
Same for column names with dots in their name. Column names should be quoted with double quotes by ansible itself, as ansible does not allow the user to set the quotes himself.

[2020-01-17 16:47] apollo13 commented on #64963
Backport to 2.9 in #66578

[2020-01-17 16:57] bcoca commented on #66494
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

@divesh37  this looks like an issue with how you define the variable and related to ansible general usage not really a bug/feature with Ansible nor the specific module you are invoking. Since it appears to be a user question, and we'd like to direct these kinds of things to eith

[2020-01-17 16:57] #66494 closed, assigned to nobody

[2020-01-17 17:40] sivel commented on #58841
[code]

[2020-01-17 17:49] sivel commented on #58841
Using the `AnsibleProject` example, and making 1 of the 2 changes fixes the issue:

1. Switch the `import_role` to `include_role` within `roles/webservice/MinimalService1/tasks/main.yml`
1. Add `public: true` to the `include_role` in `startAllDownWebServiceminimalExample.yml`

It seems to be a var scoping issue.  I'm guessing it's due to the difference in how `include_role` and `import_role` are s

[2020-01-17 17:57] samdoran commented on #66546
So far I have tried:
1. Just changing the package name --> worked initially, failed with `ci_complete`
1. Using a CentOS image with the latest updates --> worked with `ci_complete`
1. Using `until` to keep retrying and hopefully get a good mirror --> test in progress

[2020-01-17 18:06] marshall-brown commented on #25532
Hello everyone. Since SSH can now be installed on Windows my team is in the process of switching over to OpenSSH on Windows as these issues are resolved with switching to SSH. I just wanted to let everyone know to ease their pain with WinRM. Running Ansible with SSH to Windows is a dramatic improvement as with what comes with SSH. Please also check out Mitogen for Ansible, a performance add on for

[2020-01-17 18:15] webminster commented on #48795
+1 for this - we have a real need for this module as well.

[2020-01-17 18:42] pdumais opened #66582 "v2_playbook_on_task_end in CallbackModule"
##### SUMMARY
It would be very usefull to get a v2_playbook_on_task_end in CallbackModule. This would allow us to write output plugins that gather task progress and output at the end of the task only. I have more uses cases around this also.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
CallbackModule

##### ADDITIONAL INFORMATION
One example is that I would like to get the list of hosts

[2020-01-17 18:55] maxamillion commented on #45842
I'm unable to reproduce this on a local system against CentOS 7, is there another test case you have or possibly more information about what's going on?

Thanks!

[2020-01-17 21:00] TechIsCool opened #66586 "rds_instance Tags on Replica don't work"
##### SUMMARY

RDS Instance Tags are not converted correctly to boto3 format using `ansible_dict_to_boto3_tag_list` when creating a replica.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

```modules/cloud/amazon/rds_instance.py```

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

MacOSX

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Tags should work correctly.

##### ACTUA

[2020-01-17 21:01] TechIsCool commented on #66586
Tagging @s-hertel  as the original author of this might know why its guarded.

[2020-01-17 21:02] #59433 closed, assigned to samdoran

[2020-01-17 21:09] mikewiebe commented on #66387
@michmoor0725 Can you make sure you don't have `connection: local` defined somewhere in your setup?  I just ran into the same problem but it's because I have `connection: local` instead of `connection: network_cli` or `connection: httpapi` in my playbook.  I see that you have `connection: network_cli` but I wonder if you have defined `ansible_connection` somewhere else as `local`.

[2020-01-17 21:41] #66263 closed, assigned to maxamillion

[2020-01-18 01:39] ghost opened #66590 "Fresh Install error during install An exception occurred during task execution."
##### SUMMARY
Upon deploy following install with below instructions.
[code]

I get the below Error
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'NoneType' object has no attribute 'group'

##### ISSUE TYPE
- Bug Report

##### OS / ENVIRONMENT
CentOS  7

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
No error message

#####

[2020-01-18 01:45] srgjames commented on #66590
ansible version ansible 2.9.2

Component name = Install (Maybe)

[2020-01-18 03:57] tirkarthi opened #66592 "Encoding parameter to json.loads is deprecated and will be removed in Python 3.9"
##### SUMMARY

 Encoding parameter to json.loads is ignored and deprecated to be removed in Python 3.9.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ipa

##### ANSIBLE VERSION

devel branch

##### STEPS TO REPRODUCE

https://github.com/ansible/ansible/blob/a3dfabfdbaf7b58ca5e3893d2c171faee7821bae/lib/ansible/module_utils/ipa.py#L159

[2020-01-18 04:38] kbreit opened #66593 "Ansible crashes on nxos_facts with virtual Nexus"
##### SUMMARY
Ansible crashes when `gather_facts` is true for a playbook targeting virtual Nexus switches. I believe this is because it’s looking for information about fans but it’s virtual so there are no fans.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Control node is macOS
Target is NX-OS 9.3(3)

##### STEPS TO REPRODUC

[2020-01-18 04:41] #66546 closed, assigned to nobody

[2020-01-18 04:56] tknipper11 commented on #66593
I am working with @kbreit on this.  I was able to successfully test against a physical Nexus 9K switch and gather_facts worked as expected.  It appears that this is not working due to the virtual 9000v we are testing against.

[2020-01-18 04:56] gentoo9ball commented on #25414
Any more luck figuring out a more permanent workaround?

[2020-01-18 04:59] #66217 closed, assigned to nobody

[2020-01-18 08:15] mpechner commented on #51122
OK tests for service and task_definition written. But too tied to test tonight.  Once they work, I'll do a pull request this weekend.

[2020-01-18 11:24] felixfontein commented on #66545
This looks very much like a support request. Please use the appropriate places, like https://groups.google.com/forum/#%21forum/ansible-project and the #ansible IRC channel on Freenode.

If you want to request a feature, or report a bug, please use the template and specify exactly what you need or what your problem is.

Also, it would definitely be helpful (no matter what this is) to know what you

[2020-01-18 11:44] grcancelliere commented on #66196
After some research the oldest systemd version I've found was 215 in Debian Jessie, and it still worked without the backslash... Anyway, the rules for unit names only mention `/` -> `-` and C-style escape codes [(reference)](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#String%20Escaping%20for%20Inclusion%20in%20Unit%20Names)

[2020-01-18 11:52] Akasurde commented on #66545
Hi @minziran !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2020-01-18 11:52] #66545 closed, assigned to nobody

[2020-01-18 11:58] Akasurde commented on #66590
@srgjames Thanks for reporting this issue. The module you mentioned in bug report is not maintained by the Ansible team or community. Could you please contact respective vendor to get this fixed? Thanks.

[2020-01-18 11:58] #66590 closed, assigned to nobody

[2020-01-18 13:20] felixfontein commented on #66558
Problems with modules are usually not considered critical. So the chances of a fix being backported are essentially nil. Also, the usage of PyOpenSSL between Ansible 2.8 and 2.9 did not change at all. What did change is that most openssl_* modules also support the cryptography library and prefer it if possible. You explicitly have to tell the module to use PyOpenSSL so that PyOpenSSL is actually u

[2020-01-18 19:35] ghost opened #66597 "lxd_container: lxc command not found in PATH"
##### SUMMARY
fatal: [lxdserver01]: FAILED! => {"msg": "lxc command not found in PATH"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lxd container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
hosts.ini
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-01-18 19:52] bauen1 commented on #23816
Was this reported to libgcrypt ?