[2017-08-29 17:59] fxfitz opened #28789 "FreeIPA: There is no way to modify DNS Zones"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

There is no module for modifying DNS zones.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
There is no way to modify DNS zones; I will be contributing a module in an upcoming PR.

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

N/A

##### ACTUAL RESULTS

N/A

[2017-08-29 17:59] rahushen commented on #28516
Verified.

[2017-08-29 18:03] samdoran commented on #22402
Fixed by #28712

[2017-08-29 18:03] #22402 closed, assigned to nobody

[2017-08-29 18:08] samdoran commented on #28733
I believe this behavior is correct: `config` _is_ defined, therefore the task runs. `BAD_VAR` is undefined, causing a failure. Ansible reports that the `BAD_VAR` is undefined, which you listed in your expected results:

This is most likely related to issue #24338 and the user of `StrictUndefined` for variables.

needs_info

[2017-08-29 18:14] ganeshrn commented on #25097
This issue should be fixed by PR #27119.
Can you please retest on latest devel branch.
I am closing this issue, if you are still seeing this on devel please feel free to re-open it.

[2017-08-29 18:14] #25097 closed, assigned to bcoca

[2017-08-29 18:27] giovannisciortino commented on #23303
If I understood well this issue, I think that the last version of test/units/inventory/test_inventory.py is already containing a couple of regression test for the fix #23018 of the issue #23016
There are already two test [test_ini](https://github.com/ansible/ansible/blob/78bb48a0f61563d50f8a05adf445f87f6d43da67/test/units/inventory/test_inventory.py#L122) and [test_ini_explicit_ungrouped](https://

[2017-08-29 18:28] npolonski commented on #23675
Seems to also be in 2.3.2.0

[2017-08-29 18:39] rahushen opened #28793 "(P1) nxos_igmp_interface: 'querier_timeout' is not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

`querier_timeout` is behaving abnormally. The task to set it gets the value correctly and applies the correct command , but while running it again the value obtained is different and hence fails the idempotency check.

##### STEPS TO REPR

[2017-08-29 18:42] #27491 closed, assigned to Qalthos

[2017-08-29 18:46] dav1x commented on #28649
I have a 2 host cluster right now. I pulled a host from my cluster and created a new cluster. I dismounted my templates datastore where I have my templates. I can clone across clusters provided I specify disk options.

[code]

Can you post your playbook with the added disk list?

[2017-08-29 18:51] 1NoOne1 commented on #28649
I have the playbook written as below :

If you are free and available, I can show you a demo over WebEx ( I mean If you are really free!).

[code]

[2017-08-29 18:52] jmcostecalde commented on #23675
I don't think Ansible people plan to fix it. They don't seem to care much. It was removed from triage from the beginning.

"abadger removed the needs_triage label on Apr 19"

[2017-08-29 19:00] dav1x commented on #28649
Sure. I've got an hour before my next session. Send me an invite via email - davis.phillips@gmail.com

Thanks!

[2017-08-29 19:03] 1NoOne1 commented on #28649
![test2](https://user-images.githubusercontent.com/25995547/29838994-6dea888c-8cc2-11e7-904a-0fe8b67e83dd.png)

The above is the workflow that I am trying to execute. I really don't have any Templates/Library as in standard vCenter Template library. The template is placed in to one of the LUN.

[2017-08-29 19:13] bobbywatson3 opened #28796 "nxos_file_copy broken in devel"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_file_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from Alpine Linux 3.5 (docker container)
Managed device: NXOS: version 7.0(3)I2(2d)
##### SUMMARY

nxos_file_copy works fine in Ansible 2.3.2.0, but in the latest develop branch, an error occurs. I have tried this back to back on the sam

[2017-08-29 19:22] JoelFeiner opened #28797 "OpenStack os_port should allow specifying port ID and not just name"
##### ISSUE TYPE

 - Bug Report (or feature?)

##### COMPONENT NAME

os_port module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The os_port module has a single field that is used to identify ports, called `name`. It can take either a name or an ID. If you have only an ID, passing it to this field will result in the port being renamed by tha

[2017-08-29 19:31] dav1x commented on #28649
Just to recap the webex, the root cause was the usage of a datastore cluster instead of the datastore name. I'll create a new issue for a feature request for datastore cluster support. Glad I could help out!

[2017-08-29 19:35] 1NoOne1 commented on #28649
Thanks a lot @dav1x  for your time. Could you please also add the Folder functionality as well.

[2017-08-29 19:36] basictheprogram opened #28798 "win_updates results Exception from HRESULT: 0x8024402C"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default git clone of devel branch

##### OS / ENVIRONMENT
Management host macOS 10.12.6
Managed hosts Windows 7

##### SUMMARY
Using win_updates to patch Windows and I receive an error "Exception from HRESULT: 0x8024402C"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Wi

[2017-08-29 19:41] jhawkesworth commented on #28798
What is in C:\temp\ansible_win_updates.log ?
Are you running the module as Administrator?

[2017-08-29 19:42] dav1x commented on #28649
Hey @1NoOne1 I tested folder functionality as well.

folder: "/vm/foo"

That clone across clusters to the foo folder in the root of the datacenter.

[2017-08-29 19:45] basictheprogram commented on #28798
Yes, running as Administrator.

[code]

[2017-08-29 19:48] szynaka commented on #24633
When run in --check mode the invocation section is still missing on changed files.
Tested with the following ansible:
[code]
Play run
[code]

[2017-08-29 19:53] jborean93 commented on #28759
Well `0xffffffff` is equal to `-1` when converted to a signed integer :). Will try and have a look at this and see if we can get the diff output to use the unsigned variants when dealing with numbers.

[2017-08-29 19:56] jborean93 commented on #28798
You can also check the WSUS update log itself at `C:\Windows\WindowsUpdate.log` I believe. There's a few issues floating around regarding WSUS, just go a quick google search for `WSUS 0x8024402C` and there are a few pages that might help you.

[2017-08-29 19:58] jhawkesworth commented on #28798
I'd also recommend just retrying a few times, especially if you have lots of pending windows updates to apply.

[2017-08-29 20:08] 1NoOne1 commented on #28649
@dav1x  I tested the folder functionality and somehow, It is not working for me. It is always deploying VMs under the root data center. I will have to look more into it.

[2017-08-29 20:09] bearrito commented on #14341
Any updates?

[2017-08-29 20:39] #21886 closed, assigned to nitzmahone

[2017-08-29 20:52] giovannisciortino commented on #28340
Also "include_tasks" has the same issue in ansible version 2.4.0.

Step to reproduce:
[code]

I'm trying to work on this issue

[2017-08-29 21:07] Qalthos commented on #27924
@saichint Without a 9k working yet, I'm not super sure on this one, but can you test if #28801 solves this issue or if it needs more work
needs_info

[2017-08-29 21:07] #28779 closed, assigned to nobody

[2017-08-29 21:13] dagwieers commented on #28759
Yeah, I know it's the same thing. But it would be nice if it would display it similarly as .reg files or regedit.

[2017-08-29 21:16] Thulium-Drake commented on #28702
I can't say for sure, but I also can't think of any reason it should.

I'm asking Ansible to look for something, if it can't find it, then there's the default filter to look for a backup value.

Come to think of it, maybe the author thought that if the lookup is empty, it could cause (security) problems. In cases where the default filter is not used, this could allow for user accounts (or wherever

[2017-08-29 21:17] jborean93 commented on #28759
Are .reg file entries for dwords/qwords in hex or decimal format?

[2017-08-29 21:22] dagwieers commented on #28759
It's hex.

[2017-08-29 21:28] #25884 closed, assigned to nobody

[2017-08-29 21:54] saichint commented on #27924
I am getting the same error as before. But on top of this, now the assoc-vrf is also throwing error for nxapi. I have not seen this error without this change.
==
fatal: [camden-nx-2.cisco.com]: FAILED! => {"changed": false, "clierror": "ERROR: VNI validation failed: VNI-VRF association mismatch [vni:6000]\n", "code": "400", "failed": true, "msg": "CLI execution error", "output": [{"body": {}, "cod

[2017-08-29 22:05] #28386 closed, assigned to nobody

[2017-08-29 22:42] giovannisciortino commented on #28340
Further analysis on this issue:

- The parameter "non_existent_parameter" is parsed as a variable for the included tasks as documented in http://docs.ansible.com/ansible/playbooks_roles.html#task-include-files-and-
encouraging-reuse for this reason the check of task level parameters is not validated on it.

- If the task described in this issue is inserted in a playbook using ansible 2.3.0 the fol

[2017-08-29 22:44] saichint commented on #27924
Just hold this issue for now. I will try to understand the pre-requisites for this suppress-arp, a bit more before going further.

[2017-08-30 00:38] bcoca commented on #28702
it is not only lookup that does so, many end in 'error' for missing resources or bad options, we can add a 'ok_if_missing=false|true' option to this lookup to make the behaviour optional

[2017-08-30 00:41] bcoca commented on #28340
closing as per above

[2017-08-30 00:41] #28340 closed, assigned to nobody

[2017-08-30 00:46] Qalthos commented on #27924
That error has something to do with the test, I think with not entirely clearing the vni settings in between runs. I could look into what precisely caused it to see how we can detect and avoid this in the module, but it might be more prudent to hold off until I can run the whole test playbook

[2017-08-30 01:22] dagwieers commented on #20160
All set, we can close this one now.

[2017-08-30 01:22] #20160 closed, assigned to nobody

[2017-08-30 01:27] dagwieers commented on #26385
I can feel this coming:
[code]
:-)

[2017-08-30 01:53] dagwieers commented on #28498
We can actually implement it the way we like if needed.

The modules now can fail if the VM is in a state where it cannot perform a request, and we should probably have a retry-mechanism, or a way to make an operation blocking.

[2017-08-30 02:21] jborean93 commented on #28798
I'm going to close the issue as this is unrelated to Ansible and is an issue with Windows Update itself. There is nothing we can do about these errors and needs to be fixed on the Microsoft side.

[2017-08-30 02:21] #28798 closed, assigned to nobody

[2017-08-30 04:24] kevinlong206 commented on #25113
I may have just run into this same issue but I found the cause in my case, or at least a workaround.

My 'local' storage on my proxmox node did not have 'Container' allowed, so I just got 500 error.  I also had 'local-lvm' storage in proxmox,  so I specified storage: local-lvm  and then it worked. Adding Container type storage to 'local' would work too I think. Here is my playbook:

---
- hosts: l

[2017-08-30 04:27] kevinlong206 commented on #25113
The proxmox API actually gave the reason but I did not see it in ansible, it was only visible after I used the curl examples to build a bash script :
https://pve.proxmox.com/wiki/Proxmox_VE_API#API_URL

{"errors":{"storage":"storage 'local' does not support container directories"},"data":null}(21:10:05) ~/code/proxmox-automation

[2017-08-30 06:29] klatiss opened #28813 "git_config module should support older git clients or state minimum supported git version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not configuration related

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The module expects a git version that supports include directives in git config files. Versions of git that come with CentOS 6 (for example) do not support the --include parameter

Either --include should be op

[2017-08-30 06:40] jborean93 commented on #28478
I have tested the same task as the author and found I could replicate it with 2.3. The latest devel has changes in place that fixes this. Because it has already been fixed in the win_copy overhaul I am going to close the issue.

[2017-08-30 06:40] #28478 closed, assigned to nobody

[2017-08-30 06:41] jborean93 commented on #28611
Closing the issue as it is related to how the originally task was quoted.

[2017-08-30 06:41] #28611 closed, assigned to nobody

[2017-08-30 06:47] jborean93 commented on #28467
Closing the issue as it is related to running a process that requires an interactive session. There is still work to be done around documenting the options which will be added in the coming weeks.

[2017-08-30 06:47] #28467 closed, assigned to nobody

[2017-08-30 06:49] djmattyg007 commented on #28813
Which version of git does CentOS 6 come with? Also, do you know which release of git first contained the `--include` flag?

[2017-08-30 06:54] jborean93 commented on #28335
This has been fixed in devel and the changes backported to 2.3 through https://github.com/ansible/ansible/commit/8db83172d362e6b07121f3e1a0986210a8c24ab2. When a new 2.3 release has been made the fix will be there.

[2017-08-30 06:54] #28335 closed, assigned to nobody

[2017-08-30 06:54] karniemi commented on #28498
@dav1x I have pretty much taken ansible in use due the promise of describing desired system stage using idempotent modules. For any other module by so far, they either have set the desired state before letting the playbooks continue, or they fail in error.  This provides a consistent base for the next actions in the playbook - and I thought that was a consistent design decision for ansible and all

[2017-08-30 06:58] jborean93 commented on #28296
Closing issue as it was because become does not grant admin permissions unless UAC is disabled or the connection user does not have the `SeTcbPrivilege`.

Thanks for posting the info and responses @samrreynolds4

[2017-08-30 06:58] #28296 closed, assigned to nobody

[2017-08-30 06:59] jborean93 commented on #27206
I believe these issues have been fixed in the latest devel, closing the issue. If the issue still persists let me know and I can reopen it.

[2017-08-30 06:59] #27206 closed, assigned to jborean93

[2017-08-30 07:03] jborean93 commented on #25629
Closing issue as PR has been merged to set this parameter though `runlevel: highest`.

[2017-08-30 07:03] #25629 closed, assigned to nobody

[2017-08-30 07:07] jborean93 commented on #25467
Closing issue as PR has been merged that fixes these issues.

[2017-08-30 07:07] #25467 closed, assigned to nobody

[2017-08-30 07:07] jborean93 commented on #23951
You can now set app pool identity with the latest changes merged in https://github.com/ansible/ansible/pull/25869. This will be made available in the fist 2.4 release.

[2017-08-30 07:07] #23951 closed, assigned to nobody

[2017-08-30 07:08] jborean93 commented on #25705
This issue has been fixed in the PR https://github.com/ansible/ansible/pull/25869 and will be made available in the next 2.4 release.

[2017-08-30 07:08] #25705 closed, assigned to nobody

[2017-08-30 07:15] jborean93 commented on #25478
Just tested latest devel, this is still an issue and needs to be fixed.

[2017-08-30 07:18] jborean93 commented on #25474
While it does not say so, win_acl does have the ability to modify the ACL for registry keys. I will create a PR to update the documentation but I have first tested the following task with success.

[code]

[2017-08-30 07:19] jhawkesworth commented on #26385
Now we have win_hotfix module http://docs.ansible.com/ansible/devel/win_hotfix_module.html maybe we can 'fix' this one by documenting that you should use win_hotfix to install hotfixes (due to the way chocolatey works which effectively requires an interactive session)?

@CFSworks Would the above be a reasonable fix?

[2017-08-30 07:20] jborean93 commented on #24726
Closing this issue in favour of https://github.com/ansible/ansible/issues/25344 so we can have one issue to document this.

[2017-08-30 07:20] #24726 closed, assigned to nobody

[2017-08-30 07:24] jborean93 commented on #24333
I am going to close this as there really isn't anything we can do about it. Whenever a new shell is created the new PATH is loaded. Unfortunately Windows does not expose any knobs (that I know off) that will allow it to be reloaded for an existing user.

[2017-08-30 07:24] #24333 closed, assigned to nobody

[2017-08-30 07:31] jborean93 commented on #23785
Closing as raw works for me and without further details from the issue author we can't do much.

[2017-08-30 07:31] #23785 closed, assigned to nobody

[2017-08-30 07:35] jborean93 commented on #22908
Closing as this functionality has been added since https://github.com/ansible/ansible/pull/22393

[2017-08-30 07:35] #22908 closed, assigned to nobody

[2017-08-30 07:42] jborean93 commented on #22366
This is no longer reproducible on my end so I am going to close the issue. There is also a new module added in 2.3 [wait_for_connection](http://docs.ansible.com/ansible/latest/wait_for_connection_module.html) that will do the same thing but actually test the WinRM connection.

[2017-08-30 07:42] #22366 closed, assigned to nobody

[2017-08-30 07:45] jborean93 commented on #21538
Closing the issue as I believe this has been fixed in the latest commits to devel for win_chocolatey.

[2017-08-30 07:45] #21538 closed, assigned to nitzmahone

[2017-08-30 07:45] jborean93 commented on #20428
Closing as there is now a new module in 2.4 that can manage domain users and groups.

[2017-08-30 07:45] #20428 closed, assigned to nitzmahone

[2017-08-30 07:55] jborean93 commented on #15737
I believe this has been fixed in https://github.com/ansible/ansible/pull/20555 as I am no longer able to reproduce it. Going to close the issue.

[2017-08-30 07:55] #15737 closed, assigned to nobody

[2017-08-30 08:05] rpasche commented on #24891
Same here

[code]

[2017-08-30 08:51] CFSworks commented on #26385
@jhawkesworth I'm not opposed to a strongly-worded notice, either in documentation and/or at runtime when trying to manage a kb### package, reminding users that installing hotfixes through Chocolatey isn't recommended (especially as it's a really roundabout way of doing it).

However, I encountered this problem myself when trying to install a Chocolatey package that itself depended on a hotfix. I

[2017-08-30 09:44] profhase commented on #27047
Sorry, my fault, indeed I had the old version in my library folder. Thanks

[2017-08-30 09:44] #27047 closed, assigned to nobody

[2017-08-30 09:52] jhawkesworth commented on #26385
Thanks @CFSworks It feels to me like its a feature request for chocolatey to support installing hotfixes in a way that doesn't depend on interactive user being available.  If that was in place the whole experience could be transparent.  Ansible is just the wrapper on the erm, chocolatey bit here.

Were you able to try the `become_method: runas` way?  If that works it would be easy to put into the

[2017-08-30 09:56] jborean93 commented on #26385
@jhawkesworth, it's not the interactive bit that kills us rather the limitations with WSUS and WinRM which is not something chocolatey can really do. Become should work in this case as it runs it like you would locally.

[2017-08-30 10:03] gintautassulskus commented on #28340
@giovannisciortino, thanks for pointing out that based on the documentation this is not an issue.
I would like to argue that the current approach introduces ambiguities through unnecessary syntax overloading. My arguments:

1. Tasks use "vars:" block to declare variables whereas _include:_ does not require it. This creates a special case where _include:_ is called a _task_ but is treated different

[2017-08-30 11:18] jhawkesworth commented on #26385
@jborean93 - Glad there's a way to get it working.
I have the feeling I am missing something obvious here.  Is there's more to solving this than just doing like microsoft suggests here: https://support.microsoft.com/en-us/kb/2773898 - extract using wusa and install using dism?    Fairly certain that works as I have used the above role https://github.com/ansible/ansible/issues/26385#issuecomment-31

[2017-08-30 11:50] amanvidura commented on #25807
@s-hertel  Has this issue been resolved?

[2017-08-30 12:11] jhawkesworth commented on #23940
Since @akamac has confirmed this is working in 2.4 devel I'm going to close this one, as the fixes will be available in the next release of ansible.
If there are further specific issues, please create new a issue.

[2017-08-30 12:11] #23940 closed, assigned to nobody

[2017-08-30 12:15] jhawkesworth commented on #28555
Since #27381 has now been merged it appears a fix for this will be available in ansible 2.4 so I am going to close this issue.

[2017-08-30 12:15] #28555 closed, assigned to nobody

[2017-08-30 12:34] jborean93 commented on #26385
That's what win_hotfix does but can be limited to where DISM is available. I don't believe hotfixes are different to normal updates when it comes to their composition so win_hotfix should work for normal updates as well

[2017-08-30 12:47] jhawkesworth commented on #16826
needs_contributor

[2017-08-30 12:56] s-hertel commented on #23221
Fixed in 8222662d550760b201eaaa7352792b776aa90ef9.

[2017-08-30 12:56] #23221 closed, assigned to nobody

[2017-08-30 13:00] yajo opened #28819 "Server patterns from CLI not matching fine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cli/adhoc
cli/playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

From Fedora 26 to Ubuntu 16.04.

##### SUMMARY

Ad-hoc commands and playbooks don't understand host patterns as the inventory file does.

##### STEPS TO REPRODUCE

Set this into `./production`:

[code]

Now add a `site.yaml` playbook, no

[2017-08-30 13:10] JakeDEvans commented on #28724
Can I ask where in the code this happens or the link to this commit?  Then you can close this issue :)

[2017-08-30 13:35] albrin opened #28820 "Warning: apt-key output should not be parsed (stdout is not a terminal)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default.

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

I'm trying to install Visual Studio Code via Playbooks according to the instructions (https://code.visualstudio.com/docs/setup/linux), but I'm getting an warning **"Warning: apt-key output should not be parsed (stdout is

[2017-08-30 13:38] mkrizek commented on #28754
cc @loia @nadirollo @nand0p

[2017-08-30 13:38] memo42 commented on #28351
Solved it. AWScli was not installed on the machine.

[2017-08-30 13:38] #28351 closed, assigned to nobody

[2017-08-30 13:47] dan-osms opened #28821 "Cloudtrail module not loading profile information"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Cloudtrail

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

retry_files_enabled = False
##### OS / ENVIRONMENT

##### SUMMARY

When running my play with roles, every task is sourcing it's profile information properly like it should. However when crafting another task with the cloudtrail module, it is loading my default ~/.aws/credentials.

[2017-08-30 13:51] ctx opened #28822 "local_action: include_role fails with 'this is probably a bug'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
local_action: iclude_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

You cannot have a task that runs a role as local_action.

A workaround is `delegate_to: 127.0.0.1`.

##### STEPS TO REPRODUCE

[code]

* playbook.yml
[code]
* main.yml
[code]

##### EXPECTED RESULTS

Ansible should

[2017-08-30 14:02] mkrizek commented on #28822
cc @bcoca

[2017-08-30 14:05] giovannisciortino commented on #28078
Issue reproduced also in 2.4, it affects all the tasks with "retries" parameter without the "until" parameter defined.

Workaround:
Add an until parameter in the task based on your goals, example:
[code]

Code related to this issue:
https://github.com/ansible/ansible/blob/b35f39479b71f8506889512a4b6c64d564c5d71f/lib/ansible/executor/task_executor.py#L511

If until parameter isn't used for the task

[2017-08-30 14:21] npolonski commented on #23675
@abadger or @bcoca Can someone help us understand why this was removed from Triage?
The folks on this list (myself included) are experiencing this issue and we'd like to know how to proceed.
The referenced issues appear to be specific to SSH variable changes and not as generic as what we're seeing with referenced variable definition and resolution.

Any help would be appreciated.

[2017-08-30 14:26] Thulium-Drake commented on #28702
As long as it's in the documentation, I'm good with any solution :-)

But your option sounds good

[2017-08-30 14:38] bcoca commented on #28340
@gintautassulskus due to those problems is why we deprecated the 'feature' .. which predates 'task vars keyword`, which is the correct way of doing this now.

[2017-08-30 14:42] s-hertel commented on #27917
@mcaulifn This functionality was added in 1a02005b8d21a6554eafb81c42c2122dc38bcb75 and it is working correctly for me.

Do you have both permissions for ec2:ModifyInstanceAttribute and ec2:ModifyNetworkInterfaceAttribute?

needs_info

[2017-08-30 14:46] s-hertel commented on #27854
@gregory-dan Can you respond to ryansb and tedder please so we can fix this?

needs_info

[2017-08-30 14:57] gundalow commented on #28482
Docsite defaults to latest stable (`stable-2.3`)

[2017-08-30 15:00] infrascripting commented on #18305
IMO This is needed in general, in the sense that if I'm running a playbook against many machines and one hangs, the entire play is ruined. A forced timeout would allow the rest of the hosts to succeed, and then I can go back and manually debug the failed server.

I can't tell you how frustrating it is when I have to kill a playbook for this very reason. For example, right now I'm running a `yum cl

[2017-08-30 15:06] jhawkesworth commented on #18305
@infrascripting is using `strategy: free` an option for you?  http://docs.ansible.com/ansible/latest/playbooks_strategies.html

[2017-08-30 15:10] anarcat commented on #28482
somehow this should have closed when #28766 was merged... *shrug*

[2017-08-30 15:10] #28482 closed, assigned to nobody

[2017-08-30 15:12] jhawkesworth commented on #26385
Right.  DISM seems to be fairly available https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dism-supported-platforms - its just S2008 SP2 that seems to be without DISM support.

[2017-08-30 15:17] bpleines commented on #25474
@jborean, it has this capability because the patch that I submitted above fixed the 'issue'. At the time your above task wouldn't work, but the docs did need to be updated (thank you!)

[2017-08-30 15:29] ghost opened #28829 "Upgrading to Ansible 2.3.2.0 via pip doesn't upgrade pyopenssl"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
Debian Jessie (LMDE2)

##### SUMMARY
I just upgraded from Ansible 2.3.0.0 to 2.3.2.0 and got a weird ssl error. This was fixed by manually upgrading pyopenssl.

[code]

[code]

[code]

[code]

[2017-08-30 15:40] christiang830 commented on #26537
+1

[2017-08-30 15:47] gundalow commented on #28719
I believe they've resolved this issue

[2017-08-30 15:49] romanolucas commented on #28078
Thanks @giovannisciortino great review. Maybe we can fix it!
I'm using a similar workaround now, generic for any module:
[code]

[2017-08-30 15:49] infrascripting commented on #18305
I was not aware of `strategy: free`, however, I don't think it'd be feasible in this instance.

Primarily because if I don't have all the servers finish the playbook, there will be no log file written (callback plugin), which is required for auditing purposes. Additionally, it would be more of a hassle to debug where a specific host failed if I have to cross reference every host with where they en

[2017-08-30 15:52] bcoca commented on #28819
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ranges are supported in host definitions, but not in host patterns. http://docs.ansible.com/ansible/latest/intro_patterns.html

In the

[2017-08-30 15:52] #28819 closed, assigned to nobody

[2017-08-30 15:56] evanstoner commented on #27960
Same problem on 2.3.0.0.

[2017-08-30 16:04] bcoca commented on #23675
'triage' means no human has looked at it and still needs to be verified as to correct labeling and severity, if it were NOT removed from triage it would be more concerning.

This is  an open bug and it is on the list to investigate and fix as appropriate, we just not have had the time/resources to address it yet.

[2017-08-30 16:07] johnpmitsch commented on #27283
In katello/satellite context, you  need an organization when registering, but you don't need an activation key. the activation key will also provide the environnment i.e.

with activation key:
[code]
the above will fail, but this will work:
[code]

without activation key:
[code]

[2017-08-30 16:13] alikins commented on #28078
Trying to reproduce based on the snippet from https://github.com/ansible/ansible/issues/28078#issuecomment-326000971 with devel f040a37c9fc45333670ac29ee9ddb90929186e54

# added to test/integration/targets/uri/tasks/main.yml
[code]

Output:

[code]

[2017-08-30 16:20] npolonski commented on #23675
Thanks for the response @bcoca that helps clear up that part!

[2017-08-30 16:21] alikins commented on #28078
I am seeing the same behavior between stable-2.3 and devel...

Using a simple repro case:

repro_uri.yml:
[code]

With stable-2.3:

[code]

With devel 0a2df4cdaf67470410d0791dcd33b179c7cce507
[code]

[2017-08-30 16:24] alikins commented on #28078
(testing with 2.3.2-1 shows the same).

As far as I can tell, this in the intended behavior and hasnt changed. 'retries:' requires a 'until:' to do anything useful.

The docs dont mention that however so definitely need to fix the docs.

[2017-08-30 16:25] #26424 closed, assigned to nobody

[2017-08-30 16:38] saichint commented on #27924
@Qalthos Please see my previous comment. The issue is coming because the suppress-arp cannot be simply configured like other parameters. It needs the hardware tcam to be configured properly and then the device need to be rebooted before the suppress-arp can be configured. I am closing this issue for now until we can come up with playbook which ca do all these things.
FYI:
Here is the log from n9k:

[2017-08-30 16:38] #27924 closed, assigned to Qalthos

[2017-08-30 16:55] s-hertel commented on #27650
I believe this has been fixed by 1de91a9aa0d99600461f619a21cc94ab3f8e90f1. Please reopen if I am mistaken.

[2017-08-30 16:55] #27650 closed, assigned to nobody

[2017-08-30 16:57] s-hertel commented on #27099
Updated ticket to be a feature idea, not a bug report.

[2017-08-30 16:59] privateip commented on #27815
@Kokozzi strange ... I just tested it with the latest devel branch and it works fine.  Can you run the playbook with `-vvv` (3 v's) and provide that?

My test playbook is [here](https://gist.github.com/privateip/c5e39666e4d7675cc92e378118ac2e41) for your reference

needs_info

[2017-08-30 17:02] s-hertel commented on #26050
Fixed by 1de91a9aa0d99600461f619a21cc94ab3f8e90f1.

[2017-08-30 17:02] #26050 closed, assigned to nobody

[2017-08-30 17:09] rahushen opened #28834 "nxos_config : play fails when using 'save_when' always"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_config

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

using `save_when` property and setting it to `always` generates a failure as `startup-config` is not a valid command.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

play to save config.

##### ACTUAL RESULTS

[code]

[2017-08-30 17:12] fxfitz opened #28835 "Testing Needed for FreeIPA Modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
All FreeIPA Modules

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The purpose of this issue is to discuss adding tests for the FreeIPA modules.  I think it would be a good idea if we were to get some unit/integration tests on the FreeIPA modules.

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RE

[2017-08-30 17:14] fxfitz commented on #28835
@Akasurde What would you think about seeing if we can get some unit and integration tests on these modules? We could do some simple mocking for the unit tests, and then maybe run some integration tests against a FreeIPA Server running in a Docker Container.

Thoughts?

[2017-08-30 17:24] kumaran85 commented on #25268
Thanks for your update......I have bit confusion on this. Could you tell me which file needs to be modified?

[2017-08-30 17:31] benburdick commented on #11905
That is a terrible reason for not fixing what obviously should be considered a bug :/

[2017-08-30 17:44] gundalow commented on #26577
@AnsiNoob Sounds like a broken install.
If you could join `#ansible-devel` on Freenode IRC someone can help

[2017-08-30 18:36] gdykeman opened #28841 "net_static_route: module failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
net_static_route

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Cisco IOS Software [Everest], Virtual XE Software (X86_64_LINUX_IOSD-UNIVERSALK9-M), Version 16.5.1b

##### SUMMARY
Using net_static_route produces an error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Static route being configured, similar to:
[code]

##### ACTU

[2017-08-30 18:40] basictheprogram commented on #28798
The problem was with WSUS server (as hypothesized) and a value in the registry. This play fixes the windows problem. Documenting it here in case someone else has this problem and find this issue
[code]

[2017-08-30 18:49] giovannisciortino commented on #28078
Based on the comment https://github.com/ansible/ansible/issues/28078#issuecomment-326044407 I created a PR adding a note in the documentation and a warning during playbook execution, fell free to review it.

I'm not sure if open a new issue of type "Feature Idea" to give a different "default behavior" to task without until definition can add value to Ansible.
This "default behavior" described abov

[2017-08-30 19:09] jborean93 commented on #25474
Thanks @bpleines I was unsure who raised the original PR to add that functionality but thank you for doing it.

[2017-08-30 19:12] jborean93 commented on #26385
Because I'm using the DISM cmdlets with win_hotfix instead of the cmd, 2008 R2 and Windows doesn't support it out of the box. They can ultimately support it but the cmdlets need to be installed. Server 2008 (non R2) I don't think can use DISM to manage its own image but I haven't fully tested that out.

[2017-08-30 19:21] ryansb commented on #23602
I'm ok with this behavior, since having it remediate by deleting the SGs is likely to break stuff. I'd be ok with adding a warning for this behavior (using `module.warn()`) since the fact that the field is called "description" would indicate to most that it's for a human-readable, editable field unless they were familiar with the security group API.

@alexlo03 if you'd like to open a PR with a war

[2017-08-30 19:21] #23602 closed, assigned to nobody

[2017-08-30 19:24] s-hertel commented on #25360
Updated ticket to be a feature idea.

[2017-08-30 19:26] #25684 closed, assigned to nobody

[2017-08-30 19:26] s-hertel commented on #21769
Updated this ticket to be a feature idea.

[2017-08-30 19:27] #27853 closed, assigned to nobody

[2017-08-30 20:00] frankdebot opened #28850 "Playbook ignores remote_tmp/local_tmp on localhost"
- Bug Report

##### COMPONENT NAME
- Ansible, configuration

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04, FreeBSD 11.1

##### SUMMARY
When executing a playbook for moving tmp to another  place, ansible broken. The playbook is executed on 'localhost'. Expecting remote_tmp or local_tmp to change the tmp folder for ansible executing to $H

[2017-08-30 20:20] s-hertel commented on #19112
@marcelocarlos Hi. I believe the tags are correct. I'm struggling to reproduce this on 2.3, can you provide a reproducer and the full traceback/error? I'm able to successfully override my default profile and environment variable credentials using the `profile:` module argument. Are you using multiple accounts?

[2017-08-30 20:22] s-hertel commented on #19112
@maxrothman Can you test this on ansible version 2.2 or 2.3? A lot has changed and I cannot reproduce this. What version of boto are you using?

needs_info

[2017-08-30 20:23] #25931 closed, assigned to nobody

[2017-08-30 20:30] ghost commented on #19112
@s-hertel it works fine if you use profiles stored in `.aws/credentials`. However, if you use a profile defined in `.aws/config` it doesn't work.

For example (in `.aws/config`):

[code]

Using `profile: staging` in ansible won't work.

[2017-08-30 20:30] jborean93 commented on #25474
Closing issue as changes have been merged into devel. Thanks @bpleines for raising the issue and putting in the functionality.

[2017-08-30 20:30] #25474 closed, assigned to nobody

[2017-08-30 20:47] ashishbista commented on #19792
I'm getting the same error. Is it ever fixed?

[2017-08-30 22:26] einarc commented on #28087
Hello,

Actually we're still seeing the same behavior on 2.3.2 as in 2.2.1,
![image](https://user-images.githubusercontent.com/6519208/29897810-8c92dd22-8d97-11e7-8fbf-d2c1e514a49c.png)

![image](https://user-images.githubusercontent.com/6519208/29897840-a4599fe0-8d97-11e7-814e-c99247579ff8.png)

![image](https://user-images.githubusercontent.com/6519208/29897887-f2f51f9e-8d97-11e7-954e-e8f9bd8f49

[2017-08-30 22:31] einarc commented on #28087
And btw, this ALSO affects 2.3.2, so please go ahead and add that tag

[2017-08-30 23:01] CHBresser opened #28858 "Unable to place configuration onto Cisco Router"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes to ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Unexpected failure during module execution
##### STEPS TO REPRODUCE

Run ansible-playbook -i hosts site.yml

[code]

##### EXPECTED RESULTS

Place configuration onto Cisco Router
##### ACTUAL RESUL

[2017-08-30 23:20] robertpeteuil commented on #14104
UPDATE: I Discovered this occurs if you try to [sync to a folder that doesn't exist] (https://askubuntu.com/questions/625085/rsync-over-ssh-error-in-protocol-data-stream-code-12-ssh-works)

So you cannot use this to create folders, you must manually create a folder with the file module first.

-------

This is still an issue, as I ran into it today.

Here's my log from -vvvv

[code]

[2017-08-30 23:21] itdependsnetworks commented on #28858
Just happen to run across this, I would guess it is not finding `router1811.conf.j2` try hard coding the full path.

[2017-08-30 23:32] robertpeteuil commented on #14104
I've narrowed it down to this triggering the error:

[code]
I've tried formatting 'dest' in different way, and even hard-coded it - it always fails:

[code]

I noticed some odd text in the cmd statement, right after StrictHostKeyChecking=no:
`--out-format=<<CHANGED>>%i %n%L`

[2017-08-31 00:15] CHBresser commented on #28858
I think it is an error with the ios_config module, if I do this:
`- name: Generate Config
    template:
      src: /mnt/zbresser/Git Repo/ansible-cisco/templates/router1811.conf.j2
      dest: "./{{ inventory_hostname}}config"
      owner: zbresser
      group: zbresser
      mode: 0774

  - name: Test Output
    debug:
      msg: "Test"`
It works. But anything I try to do with ios_config, fails.

[2017-08-31 00:21] feanil commented on #28733
@samdoran I don't understand your response.  `config` is always defined in my example and so the task should never be skipped.  However, currently it is skipped if the value of `config` references vars that don't exist masking an error.

[2017-08-31 00:36] sivel commented on #28733
This issue was resolved in the v2.2.2 release of ansible.  From your version output you are running v2.2.0.

Please upgrade to a newer version and you should be all set:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-08-31 00:36] #28733 closed, assigned to nobody

[2017-08-31 00:47] itdependsnetworks commented on #28858
The problem you are having is unclear to me.

1. What happens when you use the full path in iOS module (not in template)
2. Can render the template and send ios module  file?
3. Can you copy and paste rendered template into the cli?

[2017-08-31 00:49] itdependsnetworks commented on #28858
Also what version? It was omitted in the output above

[2017-08-31 01:01] gamlerhart opened #28859 "azure_rm_virtualmachine: creating data_disks fails when storage container is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/azure/azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Ubuntu 16.04 / NA

##### SUMMARY
Creating an Azure virtual machine with a new data disk fails with 'local variable 'data_disk_storage_account' referenced before assignment'

##### STEPS TO REPRODUCE
1. Have a playbo

[2017-08-31 01:06] gamlerhart commented on #28859
Fix PR: https://github.com/ansible/ansible/pull/28860

[2017-08-31 01:08] alexlo03 commented on #23602
SGTM, sorry I haven't had time to do the warning.  hopefully folks with this issue will just update their playbooks with the present desc.

[2017-08-31 01:27] CHBresser commented on #28858
Can render the template and send ios module file?
Can you copy and paste rendered template into the cli?

1. Same error message as before.
2. I can render the template using the above code, but when I run the ios_config module using `./{{ inventory_hostname}}config` (the same way I saved it) it fails with the same error as before.
3. Yes, if I take the rendered template, copy the text inside, and

[2017-08-31 01:50] justinvhester commented on #28567
I've opened pull request #28861 to add this feature to git_config.

[2017-08-31 02:47] maxsolar commented on #19792
This issue has been fixed since Ansible 2.3.1.0 while my current installed version is 2.3.2.0 and we have no such issue.
My bad to close this issue without explanations.

[2017-08-31 02:47] #19792 closed, assigned to nobody

[2017-08-31 03:40] Akasurde commented on #28835
@fxfitz FreeIPA in container is in Technical Preview right now. I am exploring this option right now. Once this option is stable for Ansible unit tests, we can have Fedora or CentOS container for FreeIPA for testing. Thanks for this issue.

[2017-08-31 03:40] Akasurde commented on #28835
cc @Nosmoht

[2017-08-31 05:47] julianbueno opened #28863 "Can't connect using winrm not accepting self-signed certs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running it on windows 10 - docker - using alpine:latest
##### SUMMARY

##### STEPS TO REPRODUCE

1. launch an ec2 instance on aws using
https://gist.githubusercontent.com/julianbueno/e2b8bf6869f004f745ca26043d5e3a58/raw/189f32cc27ef192a6790a78f8adafb687c5d5d97/ec

[2017-08-31 05:50] julianbueno commented on #28863
did a test from my local using powershell
`Enter-PSSession -ComputerName 10.40.16.210 -UseSSL -Credential (Get-Credential)`

OUTPUT
[code]

[2017-08-31 06:09] jborean93 commented on #28863
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-31 06:09] #28863 closed, assigned to nobody

[2017-08-31 06:30] merlin-tc commented on #23695
There is another file still being called with -puppet.
We need to patch "ansible/module_utils/facts.py" and remove the "--puppet" flag there. Only after that change I got the all the facter variables.

[2017-08-31 06:48] devopsmariocom opened #28864 "Inconsistent variable evaluation when shell register is used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

register, set_fact or with_dict

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS Sierra 10.12.6

##### SUMMARY

variable value with expression is not evaluated when registering command output

##### STEPS TO REPRODUCE

[code]

If you will run playbook with following commands you will get different outputs in d

[2017-08-31 09:08] jhawkesworth commented on #23260
None of these can be idempotent - they are all state changes.  As such I'd probably script

Perhaps a win_hibernate module would be nice (which would just wrap this)
%windir%\System32\rundll32.exe powrprof.dll,SetSuspendState Hibernate
and exit

needs_contributor.

[2017-08-31 09:10] ganeshrn commented on #28681
@yelfathi This issue should be fixed on devel branch.
Can you please re-test with devel and check if issue is still seen.

[2017-08-31 09:34] dagwieers commented on #23260
@jhawkesworth Thanks for the update.

Maybe I was a bit dismissive earlier, but I don't mind a new specialized module that can do this, if there is a need for it. I just don't think **win_reboot** is *that* module.

[2017-08-31 09:58] pcahyna commented on #17747
Please reopen the issue, the fix was reverted in #17785

[2017-08-31 10:12] duck-rh opened #28870 "Distinguish between connection problem and missing Python support"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The managed host is a Vagrant host, accessible via SSH on a specific port with sudo. But this is not important, see below.

##### OS / ENVIRONMENT
I'm managing a Fedora 26 host using a Debian unstable controller.

##### SUMMARY
When the connection fails because the Python binary canno

[2017-08-31 10:25] ghost commented on #28681
Thanks @ganeshrn tested with devel branch, it works fine! In which version it will be ported?

[2017-08-31 10:56] Trikke76 opened #28872 "option to create role in postgres"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
postgresql_user.py

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A
##### SUMMARY
the postgresql_user.py is always the creation of new users  with the option create user

it would be great if there was an option to create a role as in normal setups you would create roles add permissions to roles and then link use

[2017-08-31 10:57] nrwahl2 commented on #28864
My understanding is that what you're doing requires mutliple passes of variable interpolation, and only one pass is supported -- so your results may vary. Not sure if that's a Jinja2 limitation or an Ansible one, but similar things have caused me to say "screw it" and just use Python for certain things in the past.

Couple others who have had problems:
https://stackoverflow.com/questions/29276198/

[2017-08-31 11:25] skazi0 opened #28874 "Incorrect evaluation of conditions with externally changed boolean variables and `and`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook, when

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
Conditions using boolean variables and `and` are not evaluated correctly when variable values are changed from outside the playbook.

The `when: ansible_distribution == "Debian" and bool_test` expression is correct

[2017-08-31 11:53] giovannisciortino commented on #28480
YAML parser doesn't like that @ character because @ is a special character reserved for future use in YAML source: http://www.yaml.org/spec/1.2/spec.html#id2772075 (search the string commercial-at )
If you try the yaml defined in the summary in a online yaml validator [example here](http://yaml-online-parser.appspot.com/?yaml=-+name%3A+Add+tower+group%0A++tower_group%3A%0A++++name%3A+azure%0A++++d

[2017-08-31 12:02] marcelocarlos commented on #19112
Profiles in `.aws/config` don't work as mentioned above. Tested again:

[code]

Where `my-other-profile` is in `.aws/config`:

[code]

If I use `my-profile` which is in `.aws/credentials`, it works just fine.

Ansible version:

[code]

[2017-08-31 12:16] #25989 closed, assigned to ganeshrn

[2017-08-31 12:32] s-hertel commented on #19112
@marcelocarlosbr @marcelocarlos Thanks, that's helpful! This is because boto3 style credentials are being used for boto(2) modules. If you use a module that only uses boto3 this should work (just tested that to verify). Things are actively being ported to boto3 which will eventually eliminate this problem.

[2017-08-31 12:44] kgaughan commented on #25333
This also happens with simple use of the `tempfile` Ansible module. This breaks:

[code]

So any even simple use of the `tempfile` module is broken.

[2017-08-31 13:20] jhawkesworth commented on #23260
+1 to having a separate module for the things win_reboot doesn't do.

[2017-08-31 13:21] andreaso commented on #28820
This being the relevant/critical error line.

That is, for Ansible to be able to write to _/etc/apt/trusted.gpg.d/microsoft.gpg_ the playbook either needs to be run by the root user or it needs to `become` root.

[2017-08-31 13:28] albrin commented on #28820
@andreaso, thank you. But I'm already running under the superuser. My site.yml:

[code]
I apologize, forgot to point out that I run Ansible through a vagrant. I updated my issue.

[2017-08-31 13:33] emonty commented on #27423
Yes - we've got patches landed in shade now for adding get_by_id methods,
as well as a global constructor option to switch the default shade behavior
from list/filter to direct get. There is one more patch we need to land and
then we'll cut a new shade release, at which point we can update ansible to
set the direct get flag by default.

Thanks for your patience on this one.

On Thu, Aug 31, 2017 a

[2017-08-31 13:43] andreaso commented on #28813
CentOS 6.9 provides Git 1.7.1.

`git config --includes` was introduced in Git 1.7.10.

[2017-08-31 13:46] leegarrett opened #28877 "dellos6_config takes action despite check_mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
dellos6_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian 9 with ansible 2.3.1 on the controller, DellOS 6.2.7.2 on the switch.

##### SUMMARY
The dellos6_config module will take action and make a backup, even if running with --check on the command line. Example below.

##### STEPS TO REPRODUCE

[

[2017-08-31 13:51] ghost opened #28878 "free strategy skips last include_tasks when using with_nested inside a role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

plugins/strategy/free

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Tasks from the last include_tasks-call are not executed when using the free strategy and with_nested.
This seems to only affect roles, I could not reproduce it using only tasks.

##### STEPS TO REPRODUCE

Run the playbook.
$ an

[2017-08-31 13:59] samdoran commented on #28733
@feanil Looks like I stared at it too long and flipped "Expected" with "Actual" in your report. Sorry for the confusion, but this has been fixed in 2.2.2 as @sivel mentioned. Please upgrade to a newer version and that should resolve your issue.

[2017-08-31 14:01] #28834 closed, assigned to Qalthos

[2017-08-31 14:03] jpedras commented on #26890
I believe the trouble here is that parted seems to be ignoring part_end and creating the 1st partition with part_end=100% therefore the 2nd partition errors out due to lack of available space.

[2017-08-31 14:04] leegarrett opened #28879 "dellos6_config deletes previous backups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dellos6_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian 9 with ansible 2.3.1 on the controller, DellOS 6.2.7.2 on the switch.

##### SUMMARY

The backup option of the dellos6_config module creates backups in ./backup/ by default. Subsequent runs however delete *ALL* previously created backups, a

[2017-08-31 14:05] jjungnickel commented on #23229
I believe I have encountered this issue and was able to narrow it down to a misbehaving dynamic inventory (in this case [terraform-inventory](https://github.com/adammck/terraform-inventory)).

Ansible will collect all hosts from static and dynamic inventories and then merge hostvars by calling `terraform-inventory --host <host>`.

Given a host from the static (and thus unknown to the dynamic inven

[2017-08-31 14:10] abadger commented on #17747
Isn't this the same as #17078
<https://github.com/ansible/ansible/issues/17078> ?  Maybe make sure that
@alikins test case in that big also covers this case?

[2017-08-31 14:17] Qalthos commented on #27071
A lot of work has gone into the nxos modules since this issue was opened. I cannot reproduce this locally, so can you confirm with me if the issue is still affecting you in the latest devel?

[2017-08-31 14:46] s-hertel commented on #20109
Hi @trinitronx. Thanks for adding info to this issue. If this bug still exists I'd love to fix it.
I cannot reproduce on stable-2.3 or 2.2:
[code]
[code]
[code]
[code]

When I specify the wrong region I get a traceback that's a little different than yours:
[code]
Only when I specify a bucket that exists but isn't owned by me (such as 'testbucket') do I get a traceback like yours on 2.2:
[code]

[2017-08-31 15:19] profhase commented on #22127
I have the same problem when I do the copy of a large file and there is not enough space on the partition the ansible temp folder is in (even if i copy the file to another partition), e.g.:

    File Size 6G

    /home/myuser  -> /dev/sda1 (3G free)
    /var/opt/           -> /dev/sdb1 (100G free)

copy file to `/var/opt` throws same warning and the transfer fails

[2017-08-31 15:25] #28078 closed, assigned to nobody

[2017-08-31 15:32] nklmilojevic commented on #26146
Happened for me as well.

[2017-08-31 15:39] wijetnga opened #28883 "alternatives - Manages alternative programs for common commands ; Permission denied"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
alternatives

##### ANSIBLE VERSION

[code]

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

 Sue below sample.. since they own by root and ssh is not the root user.

[code]

##### EXPECTED RESULTS

success.

##### ACTUAL RESULTS

[code]

[2017-08-31 15:40] fidelperez commented on #23657
Any update don this request.

[2017-08-31 15:45] samvarankashyap commented on #20864
@rcarrillocruz
please see
- https://github.com/ansible/ansible/pull/20874#issuecomment-326336742
- https://storyboard.openstack.org/#!/story/2001178

[2017-08-31 15:53] chillum opened #28884 "all.yml overrides specific .yml, but it should be vice versa"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core, I believe

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS 10.12 -> CentOS 7.x

##### SUMMARY

##### STEPS TO REPRODUCE

Try to override a variable that is declared in `group_vars/all.yml` by a server-specific group_vars file.

`group_vars/all.yml`
[code]

`group_vars/myrole.yml`
[code]

`inventory`
[cod

[2017-08-31 15:58] Qalthos commented on #25916
Unfortunately, I don't think we can reproduce this issue due to lack of support for VDCs in our virtual test environment.

That said, please try this again with the latest devel, many issues have been fixed since the release of 2.3, and let us know if the issue persists.

cc @mikewiebe

[2017-08-31 16:02] sivel commented on #28884
I cannot duplicate this issue.

[code]

28884.yml
[code]

group_vars/all.yml
[code]

group_vars/testgroup.yml
[code]

hosts:
[code]

[code]

I've tested with both v2.3.2 and devel, and cannot duplicate.

It may be useful to show an exact replicator of the problem, either like I did, or in it's own git repo so that it is easier to visualize and test.

needs_info

[2017-08-31 16:17] vhosakot commented on #19966
This is totally a bug.

[2017-08-31 16:52] rcarrillocruz commented on #27097
A colleague pointed me out the issue, you need to escape the brackets.

It should be something like:

- hosts: ios01
  connection: local
  remote_user: cisco
  gather_facts: no

  tasks:
    - ios_command:
        commands:
          - command: 'clear counters GigabitEthernet0/2'
            prompt: 'Clear "show interface" counters on this interface \[confirm\]'
            answer: c

[2017-08-31 16:52] #27097 closed, assigned to rcarrillocruz

[2017-08-31 17:02] rcarrillocruz commented on #27097
erm

sorry, the previous paste didn't show the escape.
What I tried to say just make sure you use \\[confirm\\] on the prompt and you should be good.

[2017-08-31 17:22] Qalthos commented on #26262
Okay. I fixed `log-neighbor-changes`. I also changed nxos_bgp_neighbor so that warnings printed on the cli are reported back to the user.

This playbook is still not idempotent for me, but at least now there is a warning being returned to the user in this case. I _believe_ the module should detect the config properly now, should it be present, but I do not know how to make it stick in our environm

[2017-08-31 17:43] Qalthos commented on #26024
If I understand the issue properly, #28890 should solve the problem. Let me know if it works or not.

[2017-08-31 17:43] samdoran commented on #28864
A more simple reproducer is to have a task with `register` and comment/uncomment it. When running a task with `register`, variable interpolation doesn't happen properly.

[code]

[2017-08-31 17:46] Qalthos commented on #27172
resolved_by_pr 27935

[2017-08-31 17:49] rahushen commented on #27139
@calfonso  @Qalthos #28891 should fix this.

[2017-08-31 17:52] calfonso commented on #27139
resolved_by_pr 28891

[2017-08-31 17:53] #27172 closed, assigned to nobody

[2017-08-31 18:31] giovannisciortino commented on #28874
Reproduced this behavior also in 2.4.
But I think it's a duplicate of this issue https://github.com/ansible/ansible/issues/17193 that was closed as not bug and contain further detail about passing False boolean value with --extra-vars

[2017-08-31 18:35] sivel commented on #28874
passing vars from `--extra-vars` using the `key=value` syntax always assumes that the value is a string.  You can pass JSON via extra-vars, which cause it to use the right variable type, such as:

[code]

It is recommended that when you are evaluating a boolean in a when statement to use the `|bool` filter, to ensure that string values that look like booleans are properly evaluated as a real boole

[2017-08-31 18:35] #28874 closed, assigned to nobody

[2017-08-31 18:59] #27139 closed, assigned to Qalthos

[2017-08-31 19:13] ganeshrn commented on #28681
I will backport the fix to stable-2.3 branch and the fix will be available in next 2.3 release whenever that happens.

[2017-08-31 19:14] mattclay commented on #28476
https://github.com/ansible/ansible/pull/28893 fixes this by marking the unarchive test as destructive.

[2017-08-31 19:14] #28476 closed, assigned to nobody

[2017-08-31 19:16] elmariofredo commented on #28864
thanks @nrwahl2 for reply, I have actually said "screw it" and solved my issue which is quite different than example differently 😄

Reason why I did submit this issue is to understand why is this happening, seems like it is caused by https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L518-L520 which might cause interpolation issue inside of copy method.

[2017-08-31 19:27] #19759 closed, assigned to nobody

[2017-08-31 19:29] #28388 closed, assigned to trishnaguha

[2017-08-31 19:31] mikewiebe opened #28897 "nxos_interface_ospf port-channel and loopback ints not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_interface_ospf

##### NXOS VERSION
All

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
If a loopback or port-channel interface is specified with the leading character capitalized the playbook is not idempotent.

[code]

[code]

[2017-08-31 19:37] Qalthos commented on #28724
Ah, I thought this was in, but apparently I was getting ahead of myself. The PR that enabled this is #27119, and the PR that will actually do the masking is #28894.

[2017-08-31 20:14] chillum commented on #28884
hm, now I cannot as well and it seems like it was my error.
thanks and sorry for disturbing.

[2017-08-31 20:14] #28884 closed, assigned to nobody

[2017-08-31 20:43] zachgatesak opened #28902 "Win_Updates not working with Register"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Win_updates

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
Base configuration

##### OS / ENVIRONMENT
Windows Target: Windows Server 2016 - Datacenter

#####

[2017-08-31 20:49] zachgatesak commented on #28902
Went ahead and tested this against the win_ping module and compared it with the pin module on a normal linux box and it seems isolated to the win_updates module.

[code]
output (truncated)
[code]

[2017-08-31 21:24] nitzmahone commented on #28902
Your `register` is improperly indented and is being sent to the module as an arg. `register` is a task directive and needs to be lined up with the module name, not indented underneath it. This is a known shortcoming of the Windows module_utils right now, since we don't fail on unknown args (if this were a Python module, you would've gotten the error that `register` is not a valid module arg for th

[2017-08-31 21:24] #28902 closed, assigned to nobody

[2017-08-31 21:27] samdoran commented on #28870
Thank you for reporting this issue. As you pointed out, we would need to decouple  the `ssh` call from the Python call in order to do accurate error reporting, which is a non-trivial undertaking. We don't have plans to so at this time.

[2017-08-31 22:03] zachgatesak commented on #28902
Thanks for your response @nitzmahone. I haven't seen register used at the ***task*** level before. From the documentation I've only found example of using it as an argument for a module: e.g.

[code]

I also showed an example of the ping module that seems to be working. Can you provide an example of the win_updates that should work?

[2017-08-31 22:04] zachgatesak commented on #28902
@nitzmahone is this what you mean?

[code]

[2017-08-31 22:08] zachgatesak commented on #28902
Ahh... I figured it out. for posterity if someone else sees this register is called as an argument of name. Ergo indented to the level of the `win_updates` not to the level of `- name` like my example shows. e.g.

[code]

[2017-08-31 22:12] brainstorm commented on #28746
After reading issue https://github.com/ansible/ansible/issues/26685 I wonder if I am forced to have a `clouds.yml` file instead of just having ansible vars for openstack/shade [as suggested](https://github.com/ansible/ansible/issues/26685#issuecomment-314892808) by @emonty?

[2017-08-31 22:19] CHBresser commented on #28883
Maybe I misunderstand, but can't you use
`Become: yes`

and that should fix the permission issue.

[2017-08-31 23:28] CHBresser commented on #28829
I have added pyopenssl to requirements.txt, how do I merge it into master branch?

[2017-09-01 00:29] basictheprogram opened #28906 ""AttributeError: 'unicode' object has no attribute 'name'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Management host macOS 10.12.6
Managed host Windows7

##### SUMMARY

win_template errors with "AttributeError: 'unicode' object has no attribute 'name'"

##### STEPS TO REPRODUCE

[code]
The template file
[code]

##### EXPECTED RESULTS

Ansible variables wo

[2017-09-01 00:32] basictheprogram commented on #28906
git bisect says this is the commit that caused the problem:
[code]

[2017-09-01 03:21] trainman419 opened #28907 "apt module does not mark installed packages as manually installed."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Ubuntu 14.04 (and maybe other Ubuntu versions)

##### SUMMARY

Packages installed by ansible's apt module may be accidentally removed later by autoremove, because ansible does not mark them as manually installed.

This can happen if an apt packag

[2017-09-01 03:32] nrwahl2 commented on #28702
@Thulium-Drake : Submitted PR #28908

[2017-09-01 04:18] gamlerhart opened #28909 "Azure Dynamic Inventory Crashes with 403 Client Error: Forbidden"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible.cfg
Azure credentials in ~/.azure/credentials

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Azure dynamic inventory script crashes with `403 Client Error: Forbidden`.
Same commands did work in Ansible 2.3.2.0, with the 'stable-2.3' script. 'htt

[2017-09-01 05:02] lkx007 opened #28910 "error password, but ok results"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command module

##### ANSIBLE VERSION
[root@localhost ~]# ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
[root@localhost ~]#

##### CONFIGURATION
[root@worker ~]# vi

[2017-09-01 05:18] adaiguoguo commented on #20432
I suggest inventory script can supoort this case:
ansible-playbook -i inventory.py {fqdn}
In inventroy.py I use sys.argv[1] to get fqdn's value

[2017-09-01 05:35] duck-rh commented on #28870
@samdoran  I can perfectly understand you don't have time for this now, but I can't understand why you closed the bug. The problem is still there and should be tracked.

[2017-09-01 06:43] tianyuan848192 opened #28912 "issue with ansible connected with aws"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

goldwind.com.cn
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_*
##### OS / ENVIRONMENT

amazonlinux
##### SUMMARY

connect aws with error "No Authentication Handler found"
##### STEPS TO REPRODUCE

When i try to download my file form aws s3, i have got these error. my ansible is an AWS EC2 with full access EC2ROLE to my

[2017-09-01 06:57] jborean93 commented on #28909
Hey @gamlerhart I just came across this doing some testing myself. Are you able to try this PR and see if that fixes the issue for you?

https://github.com/ansible/ansible/pull/28914

[2017-09-01 07:46] skazi0 commented on #28874
@giovannisciortino I don't think this is a duplicate of #17193. The case from that bug actually works fine in my scenario (probably because of newer version). My problem is only with composite conditions with `and` (maybe others as well). IMO this is a bug as we have inconsistent behavior of condition depending on it's complexity, i.e. `when: bool_test` works fine but `when: something='the value'

[2017-09-01 07:58] nrwahl2 commented on #23695
@alikins @merlin-tc : I'm not able to reproduce the issue. I'm running Ansible 2.4 and Facter 3.6.5. It works as expected when running both `-m facter` and `-m setup -a 'filter=*facter*'`.

It looks like the backward-compatibility issues with `facter` were fixed in 3.1.1, and I see no notes after 3.1.8 describing any changes to `facter -p`. https://docs.puppet.com/facter/3.1/release_notes.html#reg

[2017-09-01 08:05] nrwahl2 commented on #23695
@merlin-tc , could you try with the devel branch of Ansible?

[2017-09-01 08:07] nrwahl2 commented on #23013
@michelleperz : Working on it as part of PR https://github.com/ansible/ansible/pull/28673

[2017-09-01 08:19] nrwahl2 commented on #25068
@PhilipGough Does it help to turn off strict host key checking as a workaround?
https://stackoverflow.com/a/35564773

[2017-09-01 08:23] kevinlong206 commented on #28517
@nleof - just a user here, not a contributor. I'm wondering if this is just so you can start the newly created VM, and if thats the case, can you just it with just the name (not the VMID?) thats how it is with the 'proxmox' module (which creates lxc, not kvm), and the 'hostname' parameter. (but I agree it would be nice to have the VMID in the register)

[2017-09-01 08:35] HughWarrington commented on #21562
@ansibot bot_broken

Looks like @avivian isn't responding after 7 months but there's easily enough information above to repro/solve this issue.

[2017-09-01 08:46] nleof commented on #28517
Yes, I could do that but I need the vmid for the `qm` command.
So I would need to start, wait and stop to fetch the vmid.
It's feasible but as we have the information directly after clone, we should use it.
It's more convenient.

Anyway thanks for your idea, I'll keep it in mind o/

[2017-09-01 09:21] elaurijssens opened #28916 "azure_rm_deployment: 'APIversion not available' while specified in the template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_deployment (although azure_rm_common seems to be at work here)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7.3

##### SUMMARY

Even though the API versions are specified in the template fed to azure_rm_deployment, Ansible tries to deploy the template with different versions.

##### STEPS TO REPRO

[2017-09-01 09:21] thatscot commented on #28718
@jhawkesworth
 Hello, I managed to get it working. Instead of having the username password etc in the top level group_vars folder. I put it in the group_vars folder that is in invetory/d. Also just to let you know I was connecting to a windows sevrver(localhost) froma windows machine.

[2017-09-01 09:21] #28718 closed, assigned to nobody

[2017-09-01 09:23] elaurijssens commented on #28916
In the code, I see that the API version is hard-coded, why?

[code]

[2017-09-01 09:41] elaurijssens commented on #28916
In azure_rm_common.py, the API version is hard-coded. Why?

[code]

If I change the API version there, the deployment succeeds.

[2017-09-01 09:44] Neurozone opened #28917 "vmware_guest: permit eagerZeroedThick for disk type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.3

##### SUMMARY
We can only choose from thin or thick when adding a disk/creating a vm.
I think it will be a good idea if we can choose other types of disk, per the documentation of pyvmomi:

https://github.com/vmware/pyvmomi/blob/master/docs/vim

[2017-09-01 10:09] jhawkesworth opened #28919 "Windows; module invocation parameters are not reported when running with -vvv"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_ping
(but possibly winrm shell)
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu (WSL on windows 10)
windows server 2012R2
##### SUMMARY

the parameters passed to the module are not returned when running with -vvv for windows modules, but appear for equivalent linux modules.
##### STEPS TO REPRODUC

[2017-09-01 10:13] ganeshrn commented on #28681
Closing this issue as fix is backported to stable-2.3 branch.

[2017-09-01 10:13] #28681 closed, assigned to ganeshrn

[2017-09-01 10:21] ganeshrn commented on #26433
resolved_by_pr https://github.com/ansible/ansible/pull/26587

[2017-09-01 10:23] #26433 closed, assigned to ganeshrn

[2017-09-01 11:40] gamlerhart commented on #28909
@jborean93 Yes, your PR fixes the issue.

Thanks you for the fix.

[2017-09-01 11:41] gregory-dan commented on #27854
Hi

Sorry for the late response, I somehow missed your comments

@tedder - I used devel version for my tests as I pasted in case description.

@ryansb
The installation flow was like that:

Our CF stacks were originally created using aws cli.
Here's a snippet of mysql cluster creation:

	"Resources": {

	    "MySQLDbSubnetGroup": {
			"Type": "AWS::RDS::DBSubnetGroup",
			"Properties": {
				"DBSub

[2017-09-01 11:57] privateip commented on #28858
@ObamaNYoMama can you paste the full output from `ansible --version`?  I cannot replicate this error and based on the stack trace above the code the trace is referencing is no longer in the current devel branch

[2017-09-01 12:04] dagwieers opened #28920 "xml module: pretty_print for attributes"
_From @Hubbitus on June 21, 2016 18:51_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
I have tomcat context file which looks like:

[code]

I want change their attributes, but do not loose formatting. Is it possible?

My playbook similar to (simplified):

[code]

And result in one string:

[code]

I understand what it is `Resource` tag wi

[2017-09-01 12:04] dagwieers commented on #28920
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-09-01 12:04] dagwieers commented on #28920
Yeah, so this is going to be hard to do unless we would hook output-rules to lxml somehow. But you would need to codify the different style-rules the output should consist of. Not sure if lxml can do it, and which ones we would implement, but I am open to add it.

Feel free to migrate this issue to: https://github.com/ansible/ansible/issues

[2017-09-01 12:05] dagwieers opened #28921 "xml module: Using your module for lookups"
_From @mputilin on December 23, 2015 15:21_

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
I need to get `id` for `username`=jenkins`and privateKeySource`=class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$UsersPrivateKeySource" and  from an XML file. Can I do that using your module? How?

[code]

_Copi

[2017-09-01 12:05] dagwieers commented on #28921
_From @mputilin on December 25, 2015 17:9_

ok. I have xpath that output correct `id` using `xmllint --xpath` can I use your module to set it to variable?

[code]

[2017-09-01 12:05] dagwieers commented on #28921
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-09-01 12:15] dagwieers commented on #28920
needs_contributor

[2017-09-01 12:49] s-hertel commented on #28912
Hi @tianyuan848192. Getting this error indicates that any module using AWS is going to fail right now, and isn't indicative of permissions issues accessing the bucket, just that it can't find the credentials. Are you trying to assume the EC2Role?

In my home directory I have an .aws directory. Within that I have two files, config and credentials. If you have the aws command line tool you can do: `

[2017-09-01 12:52] s-hertel commented on #28916
cc @tstringer

[2017-09-01 12:52] BondAnthony opened #28923 "DigitalOcean module_utils params bug"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

module_utils/digital_ocean.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

retry_files_enabled = False
##### OS / ENVIRONMENT

osx 10.11.6
##### SUMMARY

When using the digital_ocean_tag module the api_token isn't found. The problem is within the module_utils/digital_ocean.py. The self.module.params isn't searching for a possible env var

[2017-09-01 12:59] npolonski commented on #23675
My case is a little complex and unique to my situation, so I'm going to try to simplify with *pseudo code* below.

vars.yml file:
[code]

Role task:
[code]

Mine fails when `some_other_var` is set to `foo` trying to determine if `special_variable` is defined. It fails with the same error the others list above. It's says that `special_variable` is undefined, but really it's because `thing_to_learn.

[2017-09-01 13:05] s-hertel commented on #28923
@BondAnthony In the reproducer you've provided, are you passing a value for do_api_key? Or not providing a value, making it look at environment vars next? I'll test your fix.

[2017-09-01 13:14] BondAnthony commented on #28923
Yes the do_api_key is being set, I'm doing that from within host_vars. You can supply the key directly in the task to receive the same error. The issue comes about because the digital_ocean_tags module is looking for Api_token. I just realized I copied the wrong task let me edit this issue.

On Sep 1, 2017, at 9:05 AM, Sloane Hertel <notifications@github.com> wrote:

@BondAnthony In the reproducer

[2017-09-01 13:14] tvannahl commented on #26146
I happend to write in the wrong bugtracker since I am not using ansible. But I did open a bugreport in the paramiko project ([#1039](https://github.com/paramiko/paramiko/issues/1039)).

[2017-09-01 13:16] s-hertel commented on #28923
@BondAnthony Thanks, I figured it out. I left a review on your PR. I think the environment vars need to use the same strategy. Looks good.

[2017-09-01 13:21] nicladas commented on #23675
I resolved this for my usage with adding a combo:
[code]

[2017-09-01 13:26] danielmotaleite commented on #24119
So with the #27874, this is fixed? what version will bring this fix?

[2017-09-01 14:01] samdoran commented on #28870
Point taken. I well reopen but not sure when we will get to this. Thank you so much for bringing this up and digging enough to find the root cause.

[2017-09-01 14:05] sivel commented on #28874
Playbook includes, due to use `key=value` style variable definitions also suffer from the same problem as `--extra-vars` when using `key=value`

Using the `|bool` filter is safest.

To use full YAML to get variable types to stick with playbook includes use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: http

[2017-09-01 14:28] alexander-balashov commented on #8603
+1

[2017-09-01 14:59] mallikharjunrao commented on #20453
Getting the same issue in on chdir. Please find the details as below.
component: chdir

 - name: Compile Nagios plugins (Make)
    command: "{{ item }} chdir=/tmp/nagios-plugins-2.2.1"
    with_items:
      - make
      - make install
    when: nagios_plugins_exists|failed

 ansible --version
ansible 2.0.0.2
  config file = /mnt/nagios/ansible.cfg
  configured module search path = Default w/o over

[2017-09-01 15:07] #28897 closed, assigned to nobody

[2017-09-01 15:15] mallikharjunrao commented on #20453
permissions also applied but still it is failing with the same exception.
- file:
    path: /tmp/nagios-plugins-2.2.1
    state: directory
    mode: 0755

[2017-09-01 15:33] ismc opened #28928 "Implement sshkey option on ios_user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

net_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Centos in a Docker container

##### SUMMARY

net_user not taking documented sshkey option.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Doc says to use 'sshkey'.

##### ACTUAL RESULTS

Error says that 'sshkey' is not an option.

[code]

[2017-09-01 15:38] jean-christophe-manciot opened #28929 "[Module Request] restconf_config"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
restconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The existing netconf_config expects an xml formatted config.
I could not find any correct offline tool which could convert a yaml file to xml; for instance, pyang does not support yaml.
The idea is to use a restconf-based module w

[2017-09-01 15:43] sivel commented on #28928
It looks like in this case `sshkey` is not supported when the `network_os` is `ios` as the `ios_user` module doesn't document this, however some of the other `*_user` network modules do.

I don't know what the answer is here.  Maybe a docs fix to mention that not all arguments may work with all devices, or whether `ios_user` can and should accept `sshkey` going forward.

[2017-09-01 15:45] clebio opened #28930 "gce_instance_template fails on non-default network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_instance_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macos Sierra

##### SUMMARY

`ValueError: Could not determine region for subnetwork`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
That the playbook runs without error (e.g., the instance template is created in the non-default VPC that ex

[2017-09-01 15:57] tedder commented on #27854
There's nothing in there that should create changes.

[2017-09-01 15:57] #24447 closed, assigned to Qalthos

[2017-09-01 16:06] ghost commented on #14464
Any movement on this issue since May? Seems to not be supported still and would be useful for our use case.

[2017-09-01 16:06] ismc commented on #28928
Any reason that we cannot support ssh keys in ios_user?  @privateip seemed
to think that we were when I asked.

On Fri, Sep 1, 2017 at 10:44 AM Matt Martz <notifications@github.com> wrote:

--
*Steven Carter*
Chief Cloud Architect, US Public Sector
scarter@redhat.com, (919) 909-1691

[2017-09-01 16:09] jiacoviello commented on #23630
I had this same issue and it was resolved by the code below.
It is happening because the New-Item only uses ip and port for the new-item binding and doesn't take the host_header into account which is required when binding multiple sites to the same port / ip.

Updated powershell module is attached.

This issue can be fixed by doing the following:
Remove or comment the following lines from the win_

[2017-09-01 16:25] candlerb commented on #20497
The wording was fixed in 8f97aef1

[2017-09-01 16:25] #20497 closed, assigned to nobody

[2017-09-01 16:56] onitake commented on #24119
@danielmotaleite  Judging from the tags, I would guess 2.4.

[2017-09-01 17:04] Akasurde commented on #20263
@gundalow We can close this as PR is merged.

[2017-09-01 17:07] Akasurde commented on #25775
@gundalow We can close this as patch against Shade library is closed which fixes this issue.

@zhoutiekui Can you try this with latest Shade version ?

[2017-09-01 17:25] sivel commented on #28928
I'll have to let one of the network guys respond who are cc'ed on this issue.  I have no real experience with the actual network OSes and what they support.  I was speaking purely from a ansible perspective and what the modules currently accept and how `net_user` operates.

Whether it is feasible with ios, I cannot comment on.

[2017-09-01 17:29] rwaweber commented on #22607
@maedox have you tried the most updates to the inventory script? In https://github.com/ansible/ansible/commit/edf31f56afd624bbca010cdf572c088340382b6a#diff-4451274508e5d562a5aa5c407e625b64 we've added the `['_meta']['hostvars]'` key.

Also, given:

`ansible 2.2.1.0`

I would recommend trying the latest version of the inventory script and let us know if that helps at all.

Also, if you could paste

[2017-09-01 17:34] ismc commented on #28928
It is feasible in ios.  The only caveat is that the line limitation in ios
requires the key to be cut up into smaller chunks as a multi-line.

Steven.

On Fri, Sep 1, 2017 at 12:26 PM Matt Martz <notifications@github.com> wrote:

--
*Steven Carter*
Chief Cloud Architect, US Public Sector
scarter@redhat.com, (919) 909-1691

[2017-09-01 17:40] rahushen commented on #26024
@Qalthos Verified #28890 works for all releases now. Thanks for the fix!

[2017-09-01 18:11] #25984 closed, assigned to nobody

[2017-09-01 18:18] dekimsey opened #28937 "Redis fact caching fails to handle cache expirations mid-run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redis.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7/OS X

##### SUMMARY
The redis cache plugin will not return facts when the data expires mid-run. It raises a KeyError but that does not seem to trigger a re-gather-facts for those hosts.

The jsonfile and in-memory facts appear to return the old, ex

[2017-09-01 18:20] #25775 closed, assigned to nobody

[2017-09-01 18:20] #20263 closed, assigned to nobody

[2017-09-01 18:39] rahushen commented on #26262
@Qalthos ... verified. Works against my matrix of devices / image versions.

[2017-09-01 19:17] #26262 closed, assigned to Qalthos

[2017-09-01 19:22] Qalthos commented on #19833
Hey, so this issue is getting pretty old, would you mind confirming that this is still a problem on devel? I haven't been able to reproduce the problem on devel (nor 2.3.2, 2.3.0, or even the commit listed in your PR), so if you are still experiencing the problem, let us know so we can move forward on this.

[2017-09-01 19:55] tomekit commented on #20453
Seems to be that you're missing the double aposthrophe after the `item` variable.

Shouldn't it be this?

[2017-09-01 20:05] dagwieers commented on #23630
Why not make a PR out of this ? It's easier to review and merge.

[2017-09-01 21:32] mikewiebe commented on #27403
@ganeshrn Thanks for the info.  I tried setting the environment variable but it still seems to have not impact.

[code]
[code]

[2017-09-01 22:47] fxfitz commented on #26117
For what its worth, I just found this issue thinking my HTML build was hanging on the same message (but I'm on OSX).

Turns out it just look a _really_ long time. :-)

[2017-09-01 23:09] Thulium-Drake commented on #28702
Cool, thanks! I'll be looking forward to that being merged :-)

[2017-09-02 00:08] nrwahl2 commented on #28921
@dagwieers @mputilin : Yes you can.

Output file starts out empty:
[code]

Show playbook:
[code]

Run playbook:
[code]

Print output file:
[code]

[2017-09-02 02:21] nrwahl2 commented on #28702
:) If you need it now, just copy the new file to your libs haha.

[2017-09-02 02:21] karrots commented on #20443
Additional show version from a Catalyst 4500 with SUP8 running 3.8.4 IOS-XE code. The issue for me seems to be the regex doesn't account for the missing `,` after the version number.

[code]

[2017-09-02 02:24] karrots commented on #20443
Should also note this is still an issue in 2.4 development.

[2017-09-02 02:26] karrots commented on #20443
The following regex change will fix the issue for the couple of switches I have looked at in my stock.

https://regex101.com/r/WCVPWb/1

[2017-09-02 04:24] bcoca commented on #28850
I've tested the same several times and with versions 2.3.1, 2.3.2 and devel and in every case i get a tmp dir following remote_tmp.
[code]
In case you are hitting a race condition, try using `-vvv` to show the exact directories used and/or `ANSIBLE_KEEP_REMOTE_FILES=1` to verify them. Also bear in mind that if using pipelining no dir should get created for most tasks.

[2017-09-02 05:09] nrwahl2 commented on #28451
@dmsimard As @bcoca  mentioned, It has a `_ds` attribute via `task._parent._play`... but the `_ds` attribute does not have `_data_source` and `_linenumber` attributes directly. We have to get them from `ansible_pos`. If core team decides they want to expose the attributes via the `get_path` method, one way would be to make this change in `playbook/task.py`.

BEFORE:
[code]

AFTER:
[code]

 You can

[2017-09-02 07:14] nrwahl2 commented on #15790
Update: This is the current behavior.
[code]
[code]

[2017-09-02 07:17] nrwahl2 commented on #15790
@jctanner : The messages have changed a bit but the behavior overall has not. Is this still something we want to pursue? I'd like to get a couple other opinions before we move forward.

[code]

[2017-09-02 07:25] nrwahl2 commented on #15790
It **looks** like it would be fairly simple to code. The checks are already in place for adhoc and would just need a non-zero exit code and an `ERROR` rather than `WARNING`.  For playbooks, we would need to hash out under what conditions we want to fail (e.g., if ANY of the patterns don't match, or if NONE of the patterns match). We'd also need to define behavior for empty inventories -- currently

[2017-09-02 07:31] nrwahl2 commented on #16027
@jctanner Was this put into place or still a valid feature request?
From #8340:

[2017-09-02 07:46] nrwahl2 commented on #25732
@HackersSpirit : Try it like this. The parser for `shell` doesn't seem to play nicely with heredocs. It looks like we can make it work by using the `cmd` parameter:

[code]

Apparently this has been a known quirk of the parser for some time now: https://stackoverflow.com/questions/40230184/how-to-do-multiline-shell-script-in-ansible. < The fix there did not work exactly for your case because of th

[2017-09-02 07:58] sritigers commented on #19767
I am having the same problem while using Juniper olive in vbox.
![image](https://user-images.githubusercontent.com/31561545/29993964-9416f1f8-8fe2-11e7-9804-eab1f141ebe0.png)

[2017-09-02 08:11] nrwahl2 commented on #17083
@AseemKumar Can you please test this using the current Ansible devel branch?

[2017-09-02 08:49] nrwahl2 commented on #28786
@klauern Can you please test with the current devel branch? I'm not able to reproduce:

[code]

[2017-09-02 09:03] nrwahl2 commented on #15265
This may simply be a matter of unclear documentation:
[code]

It might be wise to clearly state in the docs whether a given type of error will cause playbook execution to halt. I read it as "We'll show you the error, but then keep moving unless it's a connection or execution issue."

[2017-09-02 09:08] nrwahl2 commented on #28910
Could you run it with `-vvvvv`?

[2017-09-02 10:15] dagwieers commented on #28921
@nrwahl2 This issue was a reminder to provide a simple example as part of the documentation.

[2017-09-02 12:44] #14900 closed, assigned to nobody

[2017-09-02 12:47] imax9000 commented on #25974
@kassiansun, there are few more possible scenarios:
* `VB` might've been referenced in configuration file. Config change can trigger a handler, but it seems that in most cases such handlers simply restart the container, not re-create from scratch.
* `VB` could've been added in anticipation that it will be used, but then it never was. In this case there aren't any changes necessary to the applicati

[2017-09-02 12:51] imax9000 commented on #25974
Oh, one more scenario where this can be confusing:

* `A` still needs `VB`, but operator thinks that it doesn't and removes the volume. In this case, application will break later, on some unrelated change.

[2017-09-02 16:51] coaxial opened #28952 "The pip module isn't always idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`roles_path    = ~/.ansible/roles`

##### OS / ENVIRONMENT

Running on Ubuntu 17.04, managing Ubuntu 16.04

##### SUMMARY

When running a task that installs a package using the pip module, the task is not always idempotent. For some packages, the pip module will report nothing changed the

[2017-09-02 17:29] nrwahl2 commented on #23485
To clarify, this seems to be happening ONLY when passing in a variable from the CLI. Wonder if it hasn't been interpolated at the time the condition is evaluated and it's being evaluated as string 'foo'? That doesn't completely add up either, since adding another debug task before this one led to the same results.
[code]

[code]

[2017-09-02 20:55] BondAnthony opened #28959 "digital_ocean_sshkey doc refinement"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

digital_ocean_sshkey.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Turned off retry files
##### OS / ENVIRONMENT

macOS 10.11.6
##### SUMMARY

Updated module doc examples to include api token along with removal of unused import

[2017-09-03 03:52] naftulikay opened #28963 "Default CallbackModule: 'module' object has no attribute 'dumps'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible.plugins.callback.default.CallbackModule`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible.cfg`

[code]

##### OS / ENVIRONMENT

Reproducible by me on [Ubuntu 14.04](https://travis-ci.org/naftulikay/ansible-role-ruby-dev/jobs/271307367) and [Ubuntu 16.04](https://travis-ci.org/naftulikay/ansible-role-ruby-dev/jobs/27130736

[2017-09-03 04:28] ganeshrn commented on #28757
@apolyr Can you please share output reply received for `<get-route-information>` rpc call or output of below command from the device
[code]
needs_info

[2017-09-03 04:33] ganeshrn commented on #27403
@mikewiebe From the output you shared, I can see a setting only for connect_timeout. In addition to this, you need to also set command_timeout.
[code]
As default command timeout value is 10 sec, it is expected to timeout after ~10 secs

[2017-09-03 04:57] ganeshrn commented on #26140
@crazzy

After I replace `list_of_lines` in playbook with config commands as below, it runs without any issue.
[code]

Hence I suspect logic to create `list_of_lines` is not correct.
Can you please verify this by printing the `list_of_lines` variable in your playbook before running `ios_config` task using `debug`.
[code]

[2017-09-03 05:52] Akasurde commented on #28959
resolved_by_pr #28960

[2017-09-03 07:18] Akasurde commented on #28952
I am able to reproduce this but only in case of `tarsnapper` as pip module check success depending on string `Successfully installed `. But in case of `tarsnapper`, even if it is installed output contains `"Successfully installed argparse-1.4.0"`. This changes state of module to `changed`.

[code]

[2017-09-03 07:24] Akasurde commented on #28952
Following solves the problem :

[code]

[2017-09-03 07:53] robinro commented on #28952
@coaxial Thanks for reporting this issue.
@Akasurde please open a PR to further discuss the fix. We could also use tarsnapper as an integration test.

[2017-09-03 09:08] hkariti opened #28965 "vars_prompt have higher priority than playbook include params"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vars_prompt/playbook include
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The variable precedence docs mention `include_vars` and `include params` as having a higher priority than `vars_prompt`, however when including a playbook and passing vars, ansible still prompts.
##### STEPS TO REPRODUCE

[2017-09-03 09:11] vlarovich opened #28966 "htpasswd return 'This module requires the passlib Python library' when passlib already installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
htpasswd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04.3 LTS (Xenial Xerus)
##### SUMMARY

When I add new user using htpasswd module, ansible fail with:
[code]
It's weird because passlib already installed:
[code]
I didn't use virtualenv so all modules share the same namespace.

I also comment

[2017-09-03 12:41] coaxial commented on #28952
Thank you for the quick turnaround.

Tarsnapper is one of the packages affected, it seems that any package
needing a dependency that is of a higher version than what ships with
Python 2.7 standard lib has the problem.

Furthermore, if instead of state: latest I use state: present, then the
module is idem potent.

On 3 Sep 2017 03:54, "Robin Roth" <notifications@github.com> wrote:

[2017-09-03 13:26] mgoldboi opened #28971 "oVirt - seal template functionality"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ovirt_templates

##### ANSIBLE VERSION
[code]

##### SUMMARY
please add the option to seal a template in oVirt/RHV.
as described on - http://www.ovirt.org/develop/release-management/features/virt/virt-sysprep/

[2017-09-03 16:11] Akasurde commented on #28952
resolved_by_pr #28972

[2017-09-03 16:32] benbro opened #28973 "encoding parameter in s3_sync"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All

##### OS / ENVIRONMENT
All

##### SUMMARY
Followup to PR https://github.com/ansible/ansible/pull/28969
I suggest adding an optional encoding arg to the mime_map parameter.
Useful for gzipped js and css files (app.js.gz) from s3.
Web browsers need the ContentEncoding header.

Curre

[2017-09-03 20:05] nrwahl2 commented on #23485
After getting more familiar with the playbook debugger... it's Unicode translation.

Still haven't pinned down exact root cause.
[code]

[2017-09-03 20:55] nrwahl2 commented on #23485
On the right track, but not quite. It's treating 'False' as a unicode string rather than a boolean value. Inspecting the playbook debugger when using a var `foo: False` in the playbook, we see this:
[code]
And when overriding the playbook var with a CLI extra_var:
[code]

`playbook/conditional.py` avoids this situation for a single boolean, but if anything accompanies it (such as an `and True`), i

[2017-09-03 21:00] jborean93 commented on #28431
PR raised to add this info https://github.com/ansible/ansible/pull/28975

[2017-09-03 21:38] jborean93 commented on #28906
I can confirm this is an issue under the core engine and not just windows and can replicate by just running

`ansible localhost -m debug -a var=hostvars`

or

`ansible localhost -m debug -a var=vars`

It produces the output

[code]

Looks like the commit https://github.com/ansible/ansible/commit/0571014f2fe016f0055a61e56b1c56b129939420 "may" have broken this as when i revert the behaviour works as

[2017-09-03 22:38] nrwahl2 commented on #23485
@gaelL : I've submitted PR #28976 and working on the build failures. Hopefully it will be fixed up and reviewed soon as a bugfix since we're nearing the 2.4 stable rollout.

[2017-09-03 23:23] CHBresser commented on #28858
@privateip Sorry for the delay, holiday weekend and all.

`ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]`

[2017-09-04 01:30] tedder commented on #28973
The advantage of a second list for "encoding_map" is we don't break plays that are using it. OTOH it's a fairly immature module, and it could probably be mitigated by carefully sniffing the structure to support both mime-only and mime+encoding in the same map.

If you're implementing it, I'm happy with either. If I'm implementing it, I'd be happy with either too.

Note the `Another` version has a

[2017-09-04 01:31] ibrahimsharaf commented on #27469
Hi @agaffney @bcoca, I am new to open source, how can I start working on this?

[2017-09-04 02:09] luipugs opened #28977 "unarchive shouldn't mask errors in files_in_archive"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using the unarchive module with extra opts, wrong options can be passed like a typo. Instead of showing the exact error message, `Failed to find handler for "[filename]". Make sure the required command to extract the file is

[2017-09-04 02:14] benbro commented on #28973
How can we split 'app.js.gz' to 'app' and '.js.gz' ?
[code]
Without it, the user doesn't have a way to define that it should have mime 'application/javascript' and encoding 'gzip'. 'app.css.gz' and 'app.js.gz' will have the same mime type.

Maybe there is a mime lib more intelligent than mimetypes?

Possible implementation of combined mime and encoding:
[code]

Possible implementation for separate

[2017-09-04 02:19] lkx007 commented on #28910
@nrwahl2 here are my logs in -vvvvv:

[root@localhost ~]#  ansible 192.168.2.72 -m command -a "pwd" -k -vvvvv
Using /etc/ansible/ansible.cfg as config file
SSH password:                                           <- here input error password
Loading callback plugin minimal of type stdout, v2.0 from /usr/lib/python2.7/site-packages/ansible/plugins/callback/__init__.pyc
META: ran handlers
Using modul

[2017-09-04 02:25] tedder commented on #28973
I missed that last question. Yeah, it seems something to match most specific to least specific file extensions would be best. Or just in-order:

[code]

With that ordering, f.js.gz would map to the "sdfg" value; foo.js.gz would map to "fghj"; fox.js.gz would match "sdfg" because the match would occur and the matching loop would exit immediately (so the x.js.gz entry isn't seen).

If this is the di

[2017-09-04 02:35] JohnVonNeumann commented on #25938
@s-hertel Sorry for lapsing on communication with this, I am back to creating more SG's atm and would really like to be able to use this syntax so I can give more information. I don't run 'source hacking/env-setup' before running Ansible, as I have my own virutalenv, I'm not sure if this is a good or bad thing that I'm doing, perhaps it is. I'm also still getting the same issue, but naturally this

[2017-09-04 02:36] nrwahl2 commented on #28965
`value2`, though it is a prompting var, is part of the included playbook, so this might be the intended behavior.

[2017-09-04 02:37] pb60704 opened #28978 "module_stderr failed shared connection to x.x.x.x closed.module_stdout, sudo: a password is required,MODULE FAILURE"
##### ISSUE TYPE

 - Issue

##### COMPONENT NAME

Anisble run playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Facing sudo a password is required, when I run a playbook!
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Using /etc/ansible/ansible.cfg as config file

PLAYBOOK: java_8u121.yaml **************************

[2017-09-04 05:44] Manjukb commented on #19584
Using --ask-pass along with -u parameters worked for me.

[2017-09-04 06:31] Parthmonga opened #28980 "Ec2.py Script: "Error connecting to AWS backend."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`ec2.py` inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

EC2.ini file
[code]

##### OS / ENVIRONMENT

Amazon Linux

##### SUMMARY

Using latest ec2.py script to fetch AWS inventory dynamically via an ec2 instance profile named as 'controller-profile' and facing this below mentioned error when running this command
/etc/ansible/hos

[2017-09-04 07:49] xlr-8 opened #28981 "RFE RDS - add missing commands start/stop"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

cloud/amazon/rds.py

##### ANSIBLE VERSION

I am aware that this isn't the last version of Ansible, however I haven't seen any issues opened for it, and [the module options](https://github.com/ansible/ansible-modules-core/blob/d749ec91e513c40a50b539a7eaccf29c31dda4d4/cloud/amazon/rds.py#L33) still didn't seem to have changed.
[code]

##### C

[2017-09-04 07:52] rohitpmore opened #28982 "Setup Module hangs my system(macos)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
If I run the setup module on my localhost, it hangs my system for quite a while and throws up whole lot of data. That doesnt seem to be the case with friend's macos. I checked the versions and everything.

##### STEPS TO R

[2017-09-04 08:30] xlr-8 commented on #28981
Description updated to fulfill bot's requirements.

[2017-09-04 08:49] manuel-sousa commented on #25679
Hello,the modules I based when developing favored yes/no in documentation. Also from the documentation (http://docs.ansible.com/ansible/latest/YAMLSyntax.html) any form is usable.

If there's a standard it can be changed easily.

[2017-09-04 08:54] MarkusTeufelberger commented on #25489
Even if that container is not running on localhost, but on a remote LXD host? I highly doubt that.

[2017-09-04 09:40] morenice opened #28986 "Failed to remote ssh connection."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

none

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The remote root account does not connect when using a program other than shell (/bin/ sh or /bin /bash)

ex) /etc/passwd
root:x:0:0:root:/root:/opt/vendor/bin/program

##### STEPS TO REPRODUCE

just connection to remote.

[code]

##### EXPECTE

[2017-09-04 12:16] benbro commented on #28973
I was wrong. The mimetypes module give the expected mime and encoding because it already use suffix_map as you suggested:
[code]

The mimetypes python module has mimetypes.types_map, mimetypes.encodings_map, mimetypes.suffix_map. It also let you create custom MimeType object.
Maybe we can use this instead of using custom code?
Something like:
[code]
Update - removed an exception that was probably

[2017-09-04 12:49] voberle opened #28988 "java_cert playbook cannot fetch HashiCorp Vault PKI generated certificates using cert_url parameter."
##### ISSUE TYPE
 - Bug Report
(or documentation clarification needed)

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu, managing Ubuntu

##### SUMMARY
java_cert playbook cannot fetch HashiCorp Vault PKI generated certificates using cert_url parameter.

##### STEPS TO REPRODUCE

The [HashiCorp Vault PKI backend](https://www.vaultproj

[2017-09-04 13:39] sebastianw opened #28989 "Allow string as src for junos_config module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
modules/network/junos/junos_config

##### ANSIBLE VERSION
current devel branch

##### SUMMARY
Allow the `src` parameter in the `junos_config` module to be a string in addition to a config file.

##### STEPS TO REPRODUCE
Currently the `src` parameter in the `junos_config` module is only allowed to be a file. To use the template engine without t

[2017-09-04 13:42] JeanFred opened #28990 "Since upgrading to Ansible 2.3, Ansible insists on evaluating group_vars even when overriden in hosts:vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Variable handling

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Ansible now insists on evaluating variables in  `group_vars` even if overridden in  `hosts`

##### STEPS TO REPRODUCE
In `group_vars` i have a file `all` (for all my environments), in which I have `testing_host: "{{ groups.loadba

[2017-09-04 13:51] ghost opened #28991 "apt module does not update cache before checking release exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`apt` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 8 (`jessie`)

##### SUMMARY

The `apt` module, when asked to ensure a package is installed (`present`) fails if the release (specified via `default_release`)

##### STEPS TO REPRODUCE

Use the following tasks in a playbook/role with Ansible 2.2.1.0,

[2017-09-04 14:24] neuroit commented on #9862
I have the same issue in 2.3.2.0; In some playbooks it works, but in some it doesn't.

[2017-09-04 14:28] haad commented on #28988
Yeah this would be nice, shouldn't be too hard to implement though.

[2017-09-04 15:23] skg-net commented on #28879
@leegarrett Thanks for reporting the issue, we will get back to you.

[2017-09-04 15:23] BubbleSnap commented on #20711
I see the same issue as described here for github_git-lfs on packagecloud.io. My workaround is the same, using ansible 2.3.0.

Is there a generic issue in the yum_repositories module here?

[2017-09-04 15:24] skg-net commented on #28877
@leegarrett Thanks for reporting the issue, we will get back to you.

[2017-09-04 18:40] beingnishas commented on #26311
@jctanner yes ssh-agent is running. After a lot of troubleshooting and googling got the issue, it was related to user's shell access. After giving user access to /bin/bash this worked.

[2017-09-04 18:40] #26311 closed, assigned to nobody

[2017-09-04 18:50] artheus opened #28993 "Add `append` as state to nsupdate module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using nsupdate as a command line tool allows people to use `update add` for multiple SRV records. This has not been considered for this ansible module.
Therefore I think it is necessary to add `append` as a state to the nsupdate module.

[2017-09-04 20:57] nrwahl2 commented on #28910
Looks like you have ControlPersist set to 60s, which is letting you re-use a connection socket for up to 60 seconds and bypass authentication. See what happens if you wait for 2 minutes after a correct password.

[2017-09-04 21:32] sambrentnall commented on #6854
still broken with version 2.3.2.0

[2017-09-04 22:13] fatred opened #28994 "aci_rest doesnt process postman validated rest calls"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_rest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)
Python 2.7.13 compiled from source with make-alternative
ansible 2.4 running in a virtualenv
ACI 2.2(2j)

##### SUMMARY
Im trying to use aci_rest to plug the gaps in the existing module support.  I have a suite of postm

[2017-09-05 00:42] naseemkullah opened #28996 "cs_instance need to have state: absent and delete all associated volumes and snapshots"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

cs_instance
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when using cs_instance and mentioning a disk_offering (additional disk) and setting state to running, that's great. But then to teardown infra, we set the same cs_instance to absent but volume remains. need a way to delete volume as well wh

[2017-09-05 02:51] msl-kabo opened #28997 "Allow use of async on blocks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`block` and `async`

##### SUMMARY
It would be awesome if it was possible to use `async` with `block`s. I've got four things to set up, and they can be set up in parallel, but they have internal steps that have to be done in order.

Example use case:

[code]

Obviously I need to clone the repo before I can run `npm i`, and I need to `npm i` be

[2017-09-05 03:00] jmcgill298 commented on #28994
I reversed the quotation marks for content to match proper JSON and it worked

[2017-09-05 03:08] lkx007 commented on #28910
Thanks a lot for your help, I see.

[2017-09-05 03:08] #28910 closed, assigned to nobody

[2017-09-05 03:35] nkane2898 commented on #28011
I'm having the same issue.
[ubuntu_ansible.txt](https://github.com/ansible/ansible/files/1275991/ubuntu_ansible.txt)

[2017-09-05 03:41] sakonachhoeurng commented on #16443
Hi,

I also have problem with `bash` script as well. `#!/usr/bin/env bash` then got error said `AnsibleError: template error while templating string: Missing end of comment tag`

[2017-09-05 04:02] dagwieers commented on #28994
@jmcgill298 Would it help if we parse the provided JSON ourselves, and convert it back to JSON ?

[2017-09-05 05:02] rohitpmore commented on #28982
Hi,
Found the issue. This was due to "ohai" which comes along with Chef.
When I removed chef from my system, I am no longer getting ohai related facts and it is fast enough.

Thanks,
Rohit.

[2017-09-05 05:02] #28982 closed, assigned to nobody

[2017-09-05 06:42] sharath-tp opened #28999 "Windows activation using Win_command throws error"
Not reported

##### ISSUE TYPE
 - **Bug Report**

##### COMPONENT NAME
`win_command`
`win_shell`

##### ANSIBLE VERSION
  ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.6 (default, Jun 22 2015, 17:58:13) [GCC 4.8.2]

[code]

[2017-09-05 07:25] froman68 opened #29003 "Realpath filter returns linked file of Ansible server (not from managed node)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

'Realpath' filter.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

gathering = explicit
gather_timeout = 5
timeout = 5
pipelining = True

##### OS / ENVIRONMENT

Ansible server: Red Hat Enterprise Linux Server release 7.3 (Maipo)
Managed: Red Hat Enterprise Linux Server release 7.3 (Maipo) (but happens also in RedHat EL 5 and 6)

##### SU

[2017-09-05 07:27] andmos opened #29005 "win_acl: "domain\user is not a valid user or group on the host machine or domain" when user is added to server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_acl`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
All default

##### OS / ENVIRONMENT
Running from Ubuntu Trusty 14.04
Provisioning Windows Server 2012R2

##### SUMMARY
When trying to give domain user explicit permissions to a folder:
[code]

The play errors with
[code]
The machine is member of the domain (here censored) and the user

[2017-09-05 07:57] nrwahl2 commented on #28986
It's unclear what you're trying to do. Are you trying to run a shell command via the ping module? If your goal is to run `/bin/sh -c "echo ~ && sleep 0"` on the target machine, then either of the following should work:

`$ ansible localhost -c ssh -i hosts.ini -m shell -a '/bin/sh -c "echo ~ && sleep 0"'`
`$ ansible localhost -c ssh -i hosts.ini -m shell -a 'echo ~ && sleep 0"`

Example:
[code]

[2017-09-05 08:14] sm4rk0 commented on #27206
@jhawkesworth both issues mentioned [here](https://github.com/ansible/ansible/issues/27206#issuecomment-319065842) are resolveed. Good job! Sorry for late reply, I was on vacation.

[2017-09-05 08:20] dagwieers commented on #28994
@fatred I made some changes to **aci_rest** to include idempotency,  YAML input support, better support for JSON input (it now accepts both JSON inline as well as input), and input is now validated (YAML, JSON or XML).

I would be interested to see if it makes a difference, or at least get a better error message.

BTW The new inline YAML input is more convenient than JSON or XML IMO.

[2017-09-05 08:42] artheus commented on #28993
@abadger @gundalow

[2017-09-05 08:46] Renji-FR opened #29008 "import_playbook from child directory break var scope"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Core / import_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

##### SUMMARY
Vars scope is broken for a playbook imported with import_playbook and when this playbook is located in a sub directory.

##### STEPS TO R

[2017-09-05 08:54] kamilszkoda commented on #23675
This bug is very annoying.
Will be this bug resolved in coming version ?

[2017-09-05 09:00] skazi0 commented on #28874
@sivel thx

[2017-09-05 09:11] nerzhul commented on #28993
it's an interesting idea, are you able to provide a PR ? i'm very busy in my infrastructure these days, external contributions are welcome. A such change is not very difficult to code

[2017-09-05 09:43] mallikharjunrao commented on #28978
Facing the same issue for one Ubuntu machine version 14.04. Same thing works for other machines. configured the:  username ALL=(ALL) NOPASSWD:ALL  . and tried with Using --ask-pass along with -u parameters doesn't work. But able to ssh without password prompt.!

ansible --version
ansible 2.3.2.0
  config file = /mnt/nagios/ansible.cfg
  configured module search path = Default w/o overrides
  pytho

[2017-09-05 09:48] jhawkesworth commented on #27206
@sm4rk0 glad its all fixed, props to @jborean93 for the work.

[2017-09-05 09:53] jhawkesworth commented on #29005
@andmos - please could you test https://github.com/ansible/ansible/pull/28979 as I think it might fix your problem?

[2017-09-05 10:11] jhawkesworth commented on #28999
@sharath-tp win_command is really for running executables, but slmgr is a visual basic script, so that's unlikely to work.
I suggest trying win_shell instead.  You may need to do a chdir as well so that you aren't dependent on slmgr.vbs being on the path.

In addition, slmgr seems to like to create popups, which will stop the script from completing, but I see from here https://serverfault.com/ques

[2017-09-05 11:02] Hakulaku opened #29012 "Undefined check of child variable with missing parent variable returns an error."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Conditional check (Jinja2?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When parent variable is missing, an undefined check on one of it's childs returns an error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It will run the task since the requested variable is undefined.

[2017-09-05 11:05] Thulium-Drake commented on #28702
Of course xD thanks for reminding me :-)

I've also tested it, works like a charm! Although I had to comment out the following line to make it work in 2.3:

`from ansible.utils.encrypt import random_password`

But that will probably be fixed when 2.4 is released.

Thanks again!

[2017-09-05 11:51] simplytunde commented on #8543
I also ran into this in Terraform v0.9.8. I keep getting

[code]

[2017-09-05 12:08] marinus81 opened #29013 "aci_epg_to_domain Module - Typo in "resolution_immediacy" parameter verification"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aci_epg_to_domain Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Typo in "resolution_immediacy" parameter verification
##### STEPS TO REPRODUCE

Set resolution_immediacy to "immediate" in an "aci_epg_to_domain" task. You will get a verification error requiring you to set this parame

[2017-09-05 12:14] fatred commented on #28994
@jmcgill298 is correct with the quotes of course:
[code]
Note the original one had no quote wrapping on the content blob at all, and I had mixed quote types in with_items (doh!) Perhaps the need to wrap the content in quotes is obvious to some, but a doc edit might help with that ;)

Meantime, ill check all my other stuff works on this basis, and then look at the update to the module.

Thanks!

[2017-09-05 12:21] marinus81 opened #29014 "aci_epg_to_domain - Documentation - missing "vm_provider" parameter"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

aci_epg_to_domain Module

##### ANSIBLE VERSION

[code]
or http://docs.ansible.com/ansible/devel/aci_epg_to_domain_module.html

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The parameter "vm_provider" is missing in module documentation.

##### STEPS TO REPRODUCE

Check on http://docs.ansible.com/ansible/devel/

[2017-09-05 12:27] Doooooo0o opened #29015 "error"
- nope

[2017-09-05 12:32] tbar74235 opened #29016 "More options for module jenkins_job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jenkins_job

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you try to create a jenkins job via the ansible module you will get an error if the job is already existing on the jenkins instance you like to create your job on.

##### STEPS TO REPRODUCE
I would expect that the jenkins_j

[2017-09-05 12:37] #29015 closed, assigned to nobody

[2017-09-05 12:39] aski commented on #27233
@tumbl3w33d `deploy:deploy-file` has an option `uniqueVersion` to enable or disable timestamp suffixes.

[code]
should disable them.

See [here](http://maven.apache.org/plugins-archives/maven-deploy-plugin-2.6/examples/disabling-timestamps-suffix.html) and [here](http://maven.apache.org/plugins-archives/maven-deploy-plugin-2.6/deploy-file-mojo.html#uniqueVersion).

[2017-09-05 12:41] s-hertel commented on #25938
@JohnVonNeumann Hey, thanks for the update. source hacking/env-setup allows you to modify your environment to run ansible from a git checkout. I think there is something wrong with your install, or that the wrong version of ansible is being used. The reproducer you've provided completes successfully for me and just reading the code, I cannot find where it would error like that on 2.4.0 (but I can

[2017-09-05 12:43] amuraleedhar opened #29018 "Issue with Persistent Connection for Enos_facts.py - Connection is NOT reliable. Succeeds only 1/4"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module/network/lenovo/enos_facts.py
plugins/action/enos_facts.py

##### ANSIBLE VERSION
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible-2.4.0-py2.7.eg

[2017-09-05 12:48] s-hertel commented on #25938
@JohnVonNeumann I'm not really sure what's wrong with your set up, but please feel free to ask in https://groups.google.com/forum/#!forum/ansible-project or IRC #ansible channel and people who know more will put you on the right track.

[2017-09-05 12:53] tbar74235 opened #29019 "remote_tmp should be configurable within group_vars and host_vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
remote_tmp var in ansible.cfg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
remote_tmp in ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The problem is that I am only able to configure the remote_tmp var within ansible.cfg.
But each host I like to administrate with ansible could have another path I wish to write the ansible tmp fi

[2017-09-05 12:54] bcoca commented on #28963
I cannot reproduce this locally? can you supply a playbook with a minimal reproducer?
It is specially telling that that first job uses `v2_runner_item_on_failed` w/o any issues.

[2017-09-05 12:58] bcoca commented on #29019
We already have plans to add this in the next version.

[2017-09-05 13:02] sermilrod commented on #29016
Hi @tbar74235

Ansible provides by default an ignore_error option that you can use.

The behaviour of the module is to create a job if it doesn't exists and guarantee that the configuration matches the lookup you are passing, so I don't really see the point on this request.

The only thing you should care about is the template, as far as it is the same your job would suffer no change.

[2017-09-05 13:03] tbar74235 commented on #29019
Would you specify the version which will contain this feature?

[2017-09-05 13:04] bcoca commented on #22203
The problem here is that `remote_tmp` is ignored if you are using `become` for a non root user, it falls back to 'system' temps so only `/var/tmp` or `/tmp` are allowed. We do plan on making this list configurable in the future though.

[2017-09-05 13:05] bcoca commented on #29019
it is on the 2.5 roadmap draft

[2017-09-05 13:06] zigarn commented on #28514
@romain-dartigues: your solution only solve the growing part that need a mounted FS, but for XFS, there is a need of mounted FS also for the `_get_fs_size`
A solution could be to change your `_grow_mounted` function into a `_exec_mounted` function that can launch any command with mounting the FS first and calling it in both cases?

[2017-09-05 13:12] tbar74235 commented on #29016
Ok, with ignore_error I would ignore each error which could occur. But I would only like to ignore the error that the job already exists. Not if the token is wrong or my user doesn't exist or something like that.

The other thing is that I would like to be able to overwrite an existing job.
I think a module called jenkins_job should be able to give me such an option (this would be a smart solution

[2017-09-05 13:20] dwo commented on #21562
So @avivian isn't on the same team at our company any more (where we ran into this issue initially). We worked around it by pinning our version of Ansible back to a working version and haven't looked at it since.

If any further information is required I'm happy to provide but as @HughWarrington pointed out, the thread has plenty of examples to work from.

[2017-09-05 13:24] sermilrod commented on #29016
You should never get an error when a job already exists, if you do is because you may have a wrong template.

To overwrite an existing job you just have to modify the template and apply your play, the module has to be idempotent and the way it works is by comparison between your current configuration and your template, if there is any diff then the module applies the changes.

I guess my point is

[2017-09-05 13:38] bcoca commented on #28965
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

"include params" does not references `vars` section but a currently deprecated 'inline vars' form, which also does not work for playboo

[2017-09-05 13:38] #28965 closed, assigned to nobody

[2017-09-05 13:59] Anonymouslemming commented on #25681
Can you try using `rsync_opts` as per http://docs.ansible.com/ansible/latest/synchronize_module.html with -q or --quiet and update if this doesn't help please ?

[2017-09-05 14:09] garbled1 commented on #11905
This just bit me today, and I think it violates the principal of least surprise.  I did a set_fact thing: "NO" and found it passing "False" to my shell command later in the run.

[2017-09-05 14:19] tbar74235 commented on #29016
I think you are right and I am wrong. Sorry. Let's close this issue. The template is ok. So I have to analyze further what is going wrong here. Thank you and sorry for disturbing.

[2017-09-05 14:19] #29016 closed, assigned to nobody

[2017-09-05 14:46] bcoca commented on #28702
so this did not make it in by the freeze date for 2.4, so it will probably go into 2.5

[2017-09-05 14:48] bcoca commented on #28993
it would be better phrased as `allow_duplicates=no|yes` option to make it append vs update.

[2017-09-05 15:00] ssbarnea commented on #25681
I am adding these here as they solve other problems too:
[code]

I would argue that these seem to be sane defaults for ansible usage. Lets keep this ticket open as we should update the documentation and cover these cases as they are quite common, not really corner cases.

[2017-09-05 15:00] samdoran commented on #28978
@pb60704 Can you provide the output with `-vvv`? You may also get faster help on the mailing list and IRC, so I'll provide that information below.

@mallikharjunrao  The `--ask-pass` flag is used to provide the `ssh` login password, _not_ the `sudo` password. To provide the `sudo`, password, use `--ask-become-pass`.

### List information

This appears to be a user question, and we'd like to direct

[2017-09-05 15:11] bcoca commented on #29008
where is `backup` defined? please state file and directory structure for all files involved.

[2017-09-05 15:18] Renji-FR commented on #29008
backup var is defined in group_vars/int5.yaml

ansible-vault --ask-vault-pass view group_vars/int5.yaml
[code]

inventory file (IP is changed by x.x.x.x for security reason):
[code]

Projet directory:
[code]
Command to run ansible:
[code]

Do you want more information about this issue?

[2017-09-05 15:22] woshihaoren opened #29020 "python api PlaybookExecutor options'tags has problem"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/playbook/play_context.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when use python api call PlaybookExecutor. Each call PlayContext will retain the last parameter (like only_tags,skip_tags).
##### STEPS TO REPRODUCE

1.PlayContent class add print("only_tags", self.only_tags, id(self.

[2017-09-05 15:33] abhinav-chittora commented on #28463
I found the folder path where the virtual machine need to be located using **govc find /** and when I supply the folder path, it still gives the same error msg i.e. "msg": "No folder matched the path: /Datacenter/AM-Datacenter/vm/DCOS"

Here is the govc find / output which I trunked a to fit  and include all required pieces. The folder where we need to create VM is ```/Datacenter/AM-Datacenter/vm/

[2017-09-05 15:40] abhinav-chittora commented on #28463
@Akasurde : In case the virtual machine not found in /vm folder, it should create the virtual machine instead of giving error that the folder /vm is not found.

[2017-09-05 15:56] drzraf opened #29023 "[Cron module] cron_file support parameters from the "file" module (notably mode/permission)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### SUMMARY
Cron tab file frequently contain private environment variable
Permission are an important matter for them.
Default cron_file are created 644.
So let users define mode for created/modified files so that environment variables are not exposed

[2017-09-05 15:59] bcoca commented on #28906
closed via #28987

[2017-09-05 15:59] #28906 closed, assigned to nobody

[2017-09-05 16:05] samdoran commented on #28986
@morenice It looks like you changed the default shell for the root user to `/opt/vendor/bin/program`. In order for modules assuming a standard shell to work, you may need to change the [executable](http://docs.ansible.com/ansible/latest/intro_configuration.html#executable).

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC chan

[2017-09-05 16:05] #28986 closed, assigned to nobody

[2017-09-05 16:07] nrwahl2 commented on #28986
Thanks, @samdoran.

[2017-09-05 16:08] dagwieers commented on #28994
So with the latest changes, you can use JSON/YAML syntax inline, which means you don't have to use the multi-line string ' content: |' syntax. I added integration tests for testing all 5 input-forms (inline YAML/JSON, YAML/JSON string and XML string).

The most important reason for me for doing this is that I am expecting a lot of people having issues due to forgetting the '|' token.

I added inpu

[2017-09-05 16:10] #29013 closed, assigned to nobody

[2017-09-05 16:12] samdoran commented on #28999
cc @dagwieers @jborean93

[2017-09-05 16:13] bcoca commented on #29020
dupilcate of #29001

[2017-09-05 16:13] #29020 closed, assigned to nobody

[2017-09-05 16:15] bcoca commented on #29008
So the issue is that group-vars are read adjacent to inventory and/or the playbook, in this case they are 'adjacent to the parent playbook' ... which does not currently work (nor ever has afaik) as we only keep the 'current playbook path' for examination.

That said ... this SHOULD work, with deeper paths overriding parent paths for same vars, leaving it open as a bug. cc @jimi-c

[2017-09-05 16:19] DanyC97 commented on #17136
@UnitedMarsupials for me it does in `2.2.1.0`
[code]

[2017-09-05 16:34] UnitedMarsupials-zz commented on #17136
@DanyC97, yes, using the fileglob in one directory works -- your example does not have template-characters (like `*`) in the directory-name(s). This must be, how the developers tested it in the first place...

Also, you don't need `regex_replace` to get rid of a simple string like `.j2` -- a simpler `replace` would do :-)

[2017-09-05 16:59] dagwieers commented on #29014
I think this is related to the note in the source code https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aci/aci_epg_to_domain.py#L127:
[code]

[2017-09-05 17:05] dekimsey commented on #28937
I've been poking at this a bit. I don't really grasp how gather_facts is being invoked and when the facts are cleared. The magic gather_facts task seems to be injected by PlayIterator's `__init__` but I'm having severe trouble following its execution flow. I was hoping to add logic to test for expirations/KeyErrors from the fact cache and if so, re-schedule a gather facts.

Regardless, as far as I

[2017-09-05 17:05] dagwieers commented on #17136
FYI You could also use `{{ (path | splitext)[0] }}`.

[2017-09-05 17:13] dagwieers commented on #28463
@abhinav-chittora If you have a playbook using non-existing folders, you should be creating that folder in a previous task. We deliberately chose not to have vmware_guest create folders for 2 reasons:
- vmware_guest manages VMs, not folders (so you need to use a module that manages folders)
- Creating a VM in a folder that does not exist, might as well be a user-error, rather than the desired stat

[2017-09-05 17:22] rsmeyers commented on #29014
Valid values are as well:
uni/vmmp-OpenStack/dom-<domain>
uni/vmmp-Microsoft/dom-<domain>

[2017-09-05 17:42] sunilnaths commented on #28210
any fix?

[2017-09-05 18:23] skylerbunny commented on #26146
Potentially fixed by https://github.com/paramiko/paramiko/pull/1051 , but until it is,
```paramiko <= 2.0.6```
...as an installation requirement is the fix.

[2017-09-05 18:31] jmvbxx commented on #28011
To confirm there truly is a problem with the task and not with my roles .. I created a brand new instance using today's ubuntu 16.04 lts ami. I manually ran `apt update; apt install -y python-minimal`.

The only task I applied was:
[code]
Here's the output!
[apt_update_all.txt](https://github.com/ansible/ansible/files/1278470/apt_update_all.txt)

[2017-09-05 18:58] MOZGIII opened #29025 "Allow roles to know where they were included from"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
included_by

##### SUMMARY

When using `include_role` or `dependecies` in `meta`, there's no way for a included role to know whether it's included or not, or what role was it included from.
I propose to add a variable `included_by`, what would contain a stack of all "parents" that included this role.

Examples:

- For a toplevel role that's d

[2017-09-05 19:21] fatred commented on #28994
so i was able to fix all my dramas using the correct quoting notation.

Moving on to the updates, i tried this:

[code]

and got this:

[code]
One assumed it would be a verbatim move from JSON to YAML, so I'm guessing I'm missing some simple thing again?

P.S. ++1 for the YAML notation ;)

[2017-09-05 19:53] tgates81 opened #29026 "service module does not honor check mode for solaris service_enable() method"
##### ISSUE TYPE
 - Bug Report
##### ANSIBLE VERSION
[code]
##### COMPONENT NAME
service module

##### SUMMARY
The service module is not honoring check mode for the solaris method service_enable(). As a result, check mode runs do modify the system.
Please consider the following patch:

[code]

[2017-09-05 19:58] andmos commented on #29005
Looks to me like #28979 might do the trick. I will try it out when I find the time!

[2017-09-05 20:12] s-hertel commented on #28821
@shdobxr Thanks for opening the issue. Trying to understand what is happening here...it appears the profile sbx has been passed in successfully with with_items and is used by the module. Is the profile sbx by appearance only and the default actually utilized anyway?
I tried reproducing this by passing in two different profiles, neither of which has Cloudtrail permissions. The traceback displays th

[2017-09-05 20:16] willthames commented on #28981
This is more likely to happen with the new rds_instance module that is a work in progress.

I think we should be able to add `state: stopped|started|restarted` or similar to allow such behaviour.

cc @mikedlr

[2017-09-05 20:21] s-hertel commented on #28821
@shdobxr Also wanting to note that this module has been ported to boto3 for 2.4, which should get rid of issues with boto3-style credentials (which I think could be the problem here). The nonexistent bucket issue has also been fixed for 2.4.

[2017-09-05 20:25] dan-osms commented on #28821
Hey Shertel,

My layout of ~/.aws/credentials is much like yours obv without the
[testprofile] and [shertel] profiles.

My role for cloudtrails looks precisely like:

   ---

   # roles/cloudtrails/tasks/main.yml

   - name:              Create cloudtrail
     with_items:         "{{ trails }}"
     cloudtrail:
       profile:          "{{ item.profile }}"
       name:             "{{ item.trailna

[2017-09-05 20:35] s-hertel commented on #28821
@shdobxr This is an unfortunate bug. I just checked in the AWS console and I have reproduced the issue. Thanks for the quick reply.

[2017-09-05 20:37] dan-osms commented on #28821
@s-hertel No problem, thanks for taking this on. Any idea when 2.4 will be release for pub consumption?

[2017-09-05 20:43] NielsH commented on #25960
I've been searching a bit for related issues and it seems a few were creating on the mariadb issue tracker.
See:
https://jira.mariadb.org/browse/MDEV-13589
https://jira.mariadb.org/browse/MDEV-13615

So hopefully when these issues are fixed it will also fix the issue ansible is having with mysql.

[2017-09-05 20:43] s-hertel commented on #28821
@shdobxr Within a couple weeks I think. https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst

[2017-09-05 21:04] jobevers opened #29028 "ssh_key_gen requires a user home directory"
When creating a user with `createhome: no` but `generate_ssh_key: yes`, the code will fail here:

https://github.com/ansible/ansible/blob/d548c477c027441d12c10a83aed72424279da8c7/lib/ansible/modules/system/user.py#L650

If the `ssh_file` is specified as an absolute filepath, this check is unnecessary.  Instead, I think this check should be moved into `get_ssh_key_path`, before line 644.

##### ISS

[2017-09-05 21:50] dagwieers commented on #28994
So looking at your example, I was wondering if the problem isn't that `attributes` is a string in your examples, but it should be a dictionary. So an empty `{}` would be needed IMO.

[2017-09-05 22:28] dagwieers commented on #28994
PS Would it help if I pretty-print the resulting JSON payload by default. ?

At least the error would be at a specific line (not line 1). Still the payload will remain a string, unless I convert it to a dict and show that. But it wouldn't be the actual payload in that case.

[2017-09-05 22:28] dan-osms commented on #28821
I guess I could pull 2.4 and test. Were you able to get the same bug in 2.4?

[2017-09-05 23:07] willthames commented on #28980
If you're running this from an instance with an instance profile that is allowed to perform the AWS operations, you don't need to use `iam_role`. You only need to use IAM role if you want to assume another role. I would think that the problem you're having is that you should be passing the full role ARN, not the role name, but this can probably be avoided by not setting `iam_role` at all.

[2017-09-05 23:21] willthames commented on #28744
Looks like this is already fixed in the `devel` branch:

https://github.com/ansible/ansible/commit/1de91a9aa0#diff-68ba194b6312d1232756a1ecb586474bL309

The question remains whether we want to backport just the multipart fix to 2.3 (we can't just cherry pick the commit as it's too big for a stable branch)

[2017-09-05 23:24] willthames commented on #28821
@s-hertel if this is fixed in devel can we link to the PR fixing this?

[2017-09-06 01:27] nrwahl2 commented on #28977
Depends on how verbose we want to get. One pass at editing `unarchive.py` gets us this for a run of the same playbook:
[code]

Edits:
[code]

[2017-09-06 01:35] nrwahl2 commented on #29028
@jobevers: This looks like an easy fix. Would you like to submit the PR and we can review from there?

[2017-09-06 01:36] nrwahl2 commented on #29026
@tgates81: This looks like an easy fix and you've already proposed a patch. Would you like to submit the PR?

[2017-09-06 02:23] tgates81 commented on #29026
Actually work blocks GitHub and I have limited time so it would be a hassle.
If you could take care of it yourself I'd appreciate it, otherwise it may
have to wait until the weekend.

Tyler

On Sep 5, 2017 9:36 PM, "Reid Wahl" <notifications@github.com> wrote:

[2017-09-06 02:25] naftulikay commented on #28963
Here is my test playbook: https://github.com/naftulikay/ansible-role-ruby-dev/blob/master/tests/playbook.yml

It only throws the error if a task fails.

[2017-09-06 02:29] woshihaoren commented on #29020
@bcoca   this does not affect the Ansible CLI tools, but python api call has problem.

[2017-09-06 04:27] Parthmonga commented on #28980
Was using this [link](https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py) to download the ec2.py.
The script downloaded from this [link](https://raw.githubusercontent.com/ansible/ansible/stable-2.2/contrib/inventory/ec2.py) works with iam role with no issues.

There are significant differences between both scripts as they belong to different branches.
Not sure how I e

[2017-09-06 06:49] sharath-tp commented on #28999
@jhawkesworth Many thanks, this worked. Product key successfully installed.

TASK [win-activation : Activating Windows] *****************************************************************************************************************************
task path: /opt/ansible/code/roles/win-activation/tasks/Windows1.yml:8
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/windows/win_comm

[2017-09-06 06:49] #28999 closed, assigned to nobody

[2017-09-06 07:17] morenice commented on #28986
When I login to remote as root, I get CLI instead of shell.
- Note that there is a command to go to the shell after connecting to the CLI.
- I can't solve it with execute setting.

I'll use the mailling list as you said.

Thank you for your quick review. : )

[2017-09-06 07:41] abhinav-chittora commented on #28463
Hi @dagwieers
In my case the folder exists but the virtual machine which I need create is not available in vcenter inventory, but each time I run the playbook, I get the error that the folder is not available.

Error msg: No folder matched the path: /Datacenter/AM-Datacenter/vm/DCOS"

[2017-09-06 08:19] virtusademo commented on #23534
Hi All,

i am trying to the downgrade the ansible version , Current ansible version is

[root@ip-172-31-25-0 ~]# ansible --version
ansible 2.2.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
[root@ip-172-31-25-0 ~]#

I want downgrade the ansible-2.2.0.0-1.el7.noarchor ansible 2.2.2.0 .

Whenever i am trying downgrade ansible , i got the followin

[2017-09-06 08:39] gintautassulskus commented on #26561
Instead of creating a duplicate entry, I will fill in the bug report template here relating to the same issue.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Task level parameters delegate_to and loop_control

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

[code]

##### SUMMARY

It seems that delegate_to ignores preset ansible_* variables such as ansible_

[2017-09-06 08:40] erikschwalbe commented on #28517
There is a section "return values" in the official documentation:
https://docs.ansible.com/ansible/latest/proxmox_kvm_module.html#return-values
How can I use this values? Or is it not implemented yet?

[2017-09-06 09:00] nleof commented on #28517
It's implemented but only when `state: present` & `update: False` & `clone: False`.
You can access these values with a `register`.

[2017-09-06 09:06] helldorado commented on #28517
@erikschwalbe here is an short example.

The first task create the host on proxmox node and return values like the `mac` address in the register `qemu`.

In second task we loop over the register `qemu` with the real `mac` and `vmid` returned by the module to create host on foreman.

[code]

[2017-09-06 09:07] kraduk opened #29040 "ec2_group individual rule descriptions"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Individual rules now are able to have descriptions. This is a really usful feature. Please could support be added to the module. This should be trivial.

https://aws.amazon.com/blogs/aws/new-descriptions-for-security-group-rules/

##### STEPS

[2017-09-06 09:15] yaron-tracxpoint commented on #2492
@vohof:
Maybe consider using less binaries:
`shell: grep -c processor /proc/cpuinfo`

This will only count the occurrences of the word "processor" in `/proc/cpuinfo`.

[2017-09-06 09:26] helldorado commented on #28517
@nleof in fact, I will do it in a future commit, I have PR waiting.

[2017-09-06 09:29] nleof commented on #28517
Very well, closing this issue then. Thank you o/

[2017-09-06 09:29] #28517 closed, assigned to nobody

[2017-09-06 09:44] Renji-FR commented on #29008
With Ansible 2.3.1 or 2.3.2 and "include" command, there is no problem to include playbook from a child directory. For me, it is a problem with import_playbook. It is a regression.

[2017-09-06 09:46] paulRbr commented on #16732
I have noticed the same issue while spending 3 hours to debug a deployment that was not working on a test environment.

After the 3 hours analysis we have notices with my colleague that we had the problem when **`pipelining = True`** was activated on Ansible.

Digging further we clearly saw this line is a potential culprit: https://github.com/ansible/ansible/blob/1afbe296422310852b3fccb50423810b62

[2017-09-06 09:48] jayme-github commented on #21122
I just tried something like this: https://github.com/traum-ferienwohnungen/ansible/commit/74722becf2fc65fa0304aadd90e0f1fab6aa3503

But that had no effect on the created instance (and I don't know how to debug that)

[2017-09-06 10:42] amuraleedhar commented on #29018
I think this could be the issue.
But I dont know internally whats happening in Ansible code
In my module action plugin code there is a segment like this
This segment is there for every plugin

[code]
This socket path is coming as None and the module is failing
If u try 3-4 times it succeeds
Then I added this segment to the code
[code]
Then the failure rate has come down drastically as the logic wi

[2017-09-06 10:43] xlr-8 commented on #28981
@willthames - were you thinking of a specific PR or just generally speaking in the new rds module?

[2017-09-06 11:06] abhinav-chittora commented on #28463
@Akasurde : I tried to use vmware_guest_find module to get vmware_folder but if the virtual machine is not available, it fails with error "msg": "Unable to find folders for VM virtual-machine1". In that case, I am not able to create virtual-machine1 in specified folder i.e. /Datacenter/AM-Datacenter/vm/DCOS which is available in vcenter inventory.

[2017-09-06 11:09] abhinav-chittora commented on #28463
@jctanner @nerzhul, could you please suggest something here?

[2017-09-06 12:07] dan-osms commented on #28821
2.3.2.0 same issue. Pulling 2.4.0.0 to see if this works as designed. Thanks for the comments and direction folks (tips hat). I installed a dev branch awhile back but my brain isn't working this morning. How would I go about installing 2.4? I see that pip shows the latest 2.3.2.0

nvmind, coffee wins

`git clone https://github.com/ansible/ansible.git`
`cd ansible`
`pip install -r requirements.txt`

[2017-09-06 12:51] dagwieers commented on #28999
@jhawkesworth @sharath-tp Is there anything we can improve in the (module) documentation to help users avoid this ?

[2017-09-06 13:14] shepdelacreme commented on #28821
@shdobxr The refactored module in 2.4 uses boto3 and requires the boto3 and botocore pip packages. Even so it probably should be giving a nice error instead of that traceback like that.

@willthames This is the PR for the boto3 refactor. #22884

[2017-09-06 13:15] jean-christophe-manciot commented on #26146
@tvannahl @skylerbunny I do NOT offer any ed25519 key in my /etc/ssh_config file, only RSA 2048/4096 keys to the SSH servers which are potential ansible targets; Cisco devices do not support ED25519 keys:
[code]
However, maybe there is an issue with the "IdentitiesOnly" parameter: if it is dismissed for whatever reason, the SSH client may try to connect with an ED25519 key which is present is my g

[2017-09-06 13:16] s-hertel commented on #28821
@willthames Porting this to boto3 seems to have fixed the issue, but I'm not sure exactly what changed between the way boto2 reads the credentials and boto3. Need to look through the source code. There are enough modules still using boto2 though that I'm concerned the underlying problem is still a bug needing to be fixed.

[2017-09-06 13:18] dan-osms commented on #28821
@shepdelacreme I was thinking it was most definitely a boto3 dependency. Working to get that into my virtualenv, will communicate the outcome. @willthames @s-hertel Cheers!

[2017-09-06 13:24] dan-osms commented on #28821
Within the virtualenv I installed boto3 and validated botocore is available. Same error. Is there a specific rev if boto3 and botocore that I need to be running?

`-> % pip list
ansible (2.4.0)
...(truncated)
boto3 (1.4.7)
botocore (1.7.4)
...(truncated)`

[2017-09-06 13:31] s-hertel commented on #28821
Hrm. I had some issues initially with that too, but I can't remember how I fixed it. Your versions should be fine...
Is your virtualenv python3? (if so, might need to check or install with pip3?)
[code]

[2017-09-06 13:41] dan-osms commented on #28821
I believe I follow you, I installed virtualenv with pip (not pip3). python3 is achievable within the env.

[code]

[code]

[code]

[2017-09-06 13:48] infrascripting commented on #18305
In almost every case where a bug report is filed that ansible hangs "seemingly forever" there exists the possibility of this timeout returning valuable debugging information during the run - or that is stored in logs (callback plugins)

A cursory search for "hangs" revealed:

Basically during 'gathering facts' ansible will hang on a single host, while executing setup via python on the target node.

[2017-09-06 13:54] shepdelacreme commented on #28821
Is this the issue related to Ansible using `/usr/bin/python` in modules?

@shdobxr Do you have something like this in your inventory file?

[code]

This should force it to use the virtualenv python and its packages.

[2017-09-06 13:55] s-hertel commented on #28821
@shdobxr Sorry for spamming the thread. I meant how you installed the boto libraries. A while ago I was running a python3-as-the-default-python virtualenv and had used pip to install boto3. I had a boto3 file elsewhere, and things were working weirdly. Uninstalling and then reinstalling with pip3 fixed that issue for me.

Are you using the local connection type? If not, perhaps it's grabbing your

[2017-09-06 14:03] dan-osms commented on #28821
@s-hertel No harm in getting more attention on this issue as it's important to me and potentially other cloudtrail automators. Spam cannon away! I rebuild my virtualenv with pyenv for 3.6.2 for those that care to try I'm on a mac (brew).

[code]

Ahhh the missing bit was having boto3 installed with pip3.
within the env
[code]

[code]

[2017-09-06 14:19] mainjoehere opened #29043 "MODULE FAILURE module vmware_guest 2.4.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS SLES VERSION="12-SP2"

##### SUMMARY

module not working

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

vm created
This is working with ansible-2.3.2.0
##### ACTUAL RESULTS

[code]

[2017-09-06 14:19] mainjoehere commented on #29043
This is working with ansible-2.3.2.0

[2017-09-06 14:24] maxgalbu commented on #18667
you can use `always` instead of `rescue` if all you want is log the error somewhere

[2017-09-06 14:29] jctanner commented on #29043
@mainjoehere The traceback implies the datacenter was not found (we could definitely make that error more clear).

Could you run this script so that we can see what datacenter names are available?
https://github.com/jctanner/ansible-tools/blob/master/vmware/vmware_walk.py

needs_info

[2017-09-06 14:32] Vladimir-csp opened #29045 "'combine' filter breaks dependencies deduplication"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

hash_behaviour=merge
##### OS / ENVIRONMENT

FreeBSD 11.1
##### SUMMARY

When combine filter is used in a task, role runs multiple times via dependencies
##### STEPS TO REPRODUCE

in 'base' role

[code]
Playbook executes roles 'role1', 'role2', 'role3', all of them depend on 'base'

##

[2017-09-06 14:36] alexjbush opened #29046 "ansible_module_azure_rm_loadbalancer_facts.py: The error was: TypeError: list() takes at least 2 arguments (1 given)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.2, Azure, Region Western Europe,  `azure-mgmt-network (1.4.0)`

##### SUMMARY
When trying to list all load balancers within an Azure subscription or when trying to list load balancers within a resource group I get a stack tra

[2017-09-06 14:48] maxgalbu opened #29047 "When using block in an included file, "rescue" doesn't have "ansible_failed_task"/"ansible_failed_result" variables defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using block in an included file, "rescue" doesn't have "ansible_failed_task"/"ansible_failed_result" variables defined

##### STEPS TO REPRODUCE

playbook.yml
[code]

localtasks.yaml
[code]

##### EXPECTED RESULTS

`ansible_failed_

[2017-09-06 14:50] mainjoehere commented on #29043
@jctanner Here is the output
[code]

[2017-09-06 14:57] jctanner commented on #29043
@mainjoehere are you able to test this patch?

[code]

needs_info

[2017-09-06 14:58] dan-osms commented on #28821
Looking forward to 2.4.0.0 having this fixed, I will leave this to @s-hertel  and @willthames  to potentially track if logging needs to be fixed for that traceback, or that ansible modules properly error if a dependency like a boto3 module being present.

[2017-09-06 15:12] mainjoehere commented on #29043
[code]

[2017-09-06 15:17] erjohnso commented on #17075
resolved_by_pr https://github.com/ansible/ansible/pull/22723

[2017-09-06 15:18] jctanner commented on #29043
Ah, okay ... let's try this instead:

[code]

needs_info

[2017-09-06 15:19] #17075 closed, assigned to nobody

[2017-09-06 15:19] SnoopInf commented on #23351
Any updates on this? Faced exactly the same issue

[2017-09-06 15:23] erjohnso commented on #25688
A suitable workaround for this is to use `cloud-platform` as a catch-all scope. Generally, IAM roles are not the preferred way to specify access instead of scopes.

close_me

[2017-09-06 15:24] Erouan50 opened #29052 "Wrong behavior using dynamic task included in role dependency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Variable used in dynamic task included via a role dependency doesn't change when the parent role is used several times in the same play with a different value for the variable. The first time, the variable value is correct. After the value

[2017-09-06 15:26] #25688 closed, assigned to nobody

[2017-09-06 15:26] mainjoehere commented on #29043
Better, but now the folder is not found.
[code]

[2017-09-06 15:32] jctanner commented on #29043
@mainjoehere can you try it with these variations on the folder path?

[code]

I'm also not seeing "Linux" or "Test" in the output from vmware_walk.py. Does the folder path actually exist?

needs_info

[2017-09-06 15:33] bcoca commented on #28937
@dekimsey check the PR above to see if it fixes your issue

[2017-09-06 15:42] mainjoehere commented on #29043
tried:
Linux/Test
Test
vm/Linux/Test
Datencenter/N_SW100_01/vm/Linux/Test
N_SW100_01/vm/Linux/Test

all not working.

your nice walk output would give me something like:
/[ServiceInstanceContent]Content/['vim.Folder:group-d1']Datencenter/['vim.Datacenter:datacenter-303']N_SW100_01/['vim.Folder:group-v304']vm/['vim.Folder:group-v5538']DMZ/['vim.Folder:group-v5539']Linux/['vim.Folder:group-v5546']Te

[2017-09-06 15:44] jobevers commented on #29028
PR Submitted.

[2017-09-06 15:45] erjohnso commented on #26589
Will need to find time to test, but I suspect a quick change for https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gce_mig.py#L837-L838 from,

[code]
to

[code]

Or something similar...

[2017-09-06 15:45] Akasurde commented on #29043
I think you are missing DMZ folder here, try

[code]

[2017-09-06 15:49] sakabio opened #29056 "SSH works but ansible throws error"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.O4

##### SUMMARY
ssh works OK fro

[2017-09-06 15:54] mainjoehere commented on #29043
Ah sorry I pasted the wrong line, it's like this:
/[ServiceInstanceContent]Content/['vim.Folder:group-d1']Datencenter/['vim.Datacenter:datacenter-303']N_SW100_01/['vim.Folder:group-v304']vm/['vim.Folder:group-v376']Linux/['vim.Folder:group-v382']Test/['vim.VirtualMachine:vm-5199']apmas502t

![grafik](https://user-images.githubusercontent.com/31688191/30121417-e37f813c-932b-11e7-9fd5-919a2a4960eb.p

[2017-09-06 16:12] bcoca commented on #29056
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-06 16:12] #29056 closed, assigned to nobody

[2017-09-06 16:16] jctanner commented on #29043
What error do you get with this patch applied and using the following folder paths:
[code]

[code]

needs_info

[2017-09-06 16:27] erjohnso commented on #21122
This will first need to get addressed in [libcloud](https://github.com/apache/libcloud). IIRC, the libcloud tried to support a list of service accounts (seems to be supported in the JSON request schema), but in practice only once service account is allowed (and likely uses the `default` as a fallback).

[2017-09-06 16:28] dav1x commented on #29043
@mainjoehere it may be helpful to take a look at govc. You can use it to determine the full path of any object in vSphere.

[code]

In this case my datacenter is Boston and my top level VM filder is ocp36. But this is the second issue in which there was a nested folder failure. I'll test this on my environment and see what happens.

[2017-09-06 16:52] skylerbunny commented on #26146
@jean-christophe-manciot - remove that key temporarily from your agent keyring and try again, and that will probably tell you.

[2017-09-06 18:10] ktbyers opened #29060 "delegate_to with networking modules fails when using API"
For networking modules delegate_to should work when using an API (for example, Arista eAPI or NX-OS NX-API)

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Network Action Plugin

##### ANSIBLE VERSION
[code]

Also tested on 2.3.2.0

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Playbook configured to use delegate_to to a second server and setup to use nxos_facts module usin

[2017-09-06 18:21] colin-byrne-1 commented on #8603
+1

[2017-09-06 18:28] talonx commented on #25688
I am not sure if that's a good workaround from a security perspective. I want the instances in question to have the minimum permissions necessary, which in this case is Bigtable and the default permissions and nothing more. Would not cloud_platform open up the entire set of APIs? Also AFAIK, scopes define the broad permissions and IAM roles can be used to fine tune them ([https://cloud.google.com/

[2017-09-06 19:14] nwalke opened #29062 "win_user doesn't respect password_never_expires setting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

I've tried setting `password_never_expires` to both `yes` and `True`.

##### OS / ENVIRONMENT
OSX runs ansible to configure win 2012 r2

##### SUMMARY
I created several users, and then added the `password_never_expires` attribute.

##### STEPS TO REPRODUCE
Use my configuration a

[2017-09-06 19:37] cdosborn commented on #7254
As a result of this decision, If I want to create a symlink I must first check if a non-empty directory exists. `force: True` should respect this.

[2017-09-06 20:09] D3DeFi commented on #24508
This seems to be due to `force: no` not being implemented. Tried to address this in #22614 . Any insights appreciated

[2017-09-06 20:18] willthames commented on #29040
needs_contributor

This is a valid feature request, just needs someone to do it.

[2017-09-06 20:21] willthames commented on #29040
cc @s-hertel @ryansb

[2017-09-06 21:03] tumbl3w33d commented on #27233
I found that property in the documentation too and tried it, but it had no effect. Some research showed that it was deprecated in Maven 2 and has been removed in Maven 3 (i.e., years ago).

See [here](https://issues.sonatype.org/browse/NEXUS-4534) and [here](https://cwiki.apache.org/confluence/display/MAVEN/Maven+3.x+Compatibility+Notes#Maven3.xCompatibilityNotes-Non-uniqueSnapshotDeployments).

[2017-09-06 21:04] wbrefvem opened #29066 "Add tests for JBoss module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`lib/ansible/modules/web_infrastructure/jboss.py`

##### SUMMARY

The JBoss module has no tests. It should have tests.

[2017-09-06 21:19] willthames commented on #28393
needs_info

[2017-09-06 21:24] willthames commented on #28554
needs_contributor

This should probably be a new module `ecs_task_facts` rather than a new parameter for existing `ecs_task` module

[2017-09-06 21:25] darkogav opened #29067 "Failed to connect to the host via ssh: Connection closed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I clone directly from github

##### OS / ENVIRONMENT
Ansible is installed on CentOS 7.3.1611
The client I am trying to connect to is a Solaris system.

##### SUMMARY
SSH to the host works fine. If I try to use ansible I get the error

Failed to connect to the host via ssh: Connection c

[2017-09-06 21:30] willthames commented on #27496
needs_info

[2017-09-06 21:31] willthames commented on #26959
needs_contributor

This is a reasonable request but will need someone to implement.

[2017-09-06 21:37] #26024 closed, assigned to Qalthos

[2017-09-06 21:45] willthames commented on #27854
Looking at the actual results suggests to me that it thinks tags might be being changed. This does sometimes happen in ansible because of yaml parsing of tag values - YAML might convert `on` to `true`, for example. In this case you might need to quote the tag values. This may therefore also be a bug in cfn-flip, but without knowing exactly what is being passed into cloudformation, it's difficult t

[2017-09-06 21:45] willthames commented on #27854
needs_info

[2017-09-06 21:55] dcfsc commented on #20379
We see similar issue deploying to Centos 7.3 or 7.4, Ansible 2.3.1.0 and jmespath 0.9.0 or 0.9.2. Ansible 2.3.0.0 and jmespath 0.9.0 worked fine. Python version 2.7.5

Consider the playbook `ansible_issue_26274_fss.yml` - you can run on any host with Ansible 2.3.1.0 against any target host with docker installed.

[code]

Install Ansible 2.3.1.0
[code]
Fails in execution:
[code]

Reverting to 2.3.0

[2017-09-06 22:01] bcoca commented on #28690
This should not be the case as then 'relative' `removes`/`creates` would stop working, as you would be using different relative root than currently when `chdir`  is set.

So I'm closing this issue as this is not a bug, it is working as designed. If you still want to change the way it works I suggest you submit a proposal.

[2017-09-06 22:01] #28690 closed, assigned to nobody

[2017-09-06 22:49] bcoca commented on #29067
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-06 22:49] #29067 closed, assigned to nobody

[2017-09-06 23:23] jborean93 commented on #29003
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Ansible filters are executed on the Ansible/local server so it returning the local path is correct
   * Looking at the code `realpath` is just a wrapper around

[2017-09-06 23:23] #29003 closed, assigned to nobody

[2017-09-06 23:27] jborean93 commented on #28991
@rob-parker-geo are you able to try out the latest devel version and see if the behaviour is still there?

[2017-09-06 23:44] basictheprogram opened #29072 "win_chocolatey state: latest fails but cup all succeeds"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host: macOS 10.12.6
Mangement host: Windows7

##### SUMMARY

win_chocolatey update of 'all' packages fails but 'cups all' succeeds

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All chocolatey packages that need updates would get

[2017-09-07 00:12] henderbj commented on #13867
I fixed this problem by removing cryptography from pip:
`root@server:~# pip list | egrep -i crypt`
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
asn1crypto (0.22.0)
bcrypt (3.1.3)
cryptography (2.0.3)
pycrypto (2.6.1)
`root@server:~#

[2017-09-07 00:16] #29026 closed, assigned to nobody

[2017-09-07 01:36] jborean93 commented on #29072
@basictheprogram what happens when you try to run the following locally

`choco.exe upgrade -v --no-progress -y all --timeout 2700 --failonunfound`

Does it fail or succeed? Is this consistently reproducible or did it only happen once. From looking at the logs it just seems like chocolatey failed to update the draftsight package the first time round due to the MSI error 1603.

One thing I am confu

[2017-09-07 01:42] jborean93 commented on #29060
cc @Qalthos @ganeshrn @gundalow @privateip @rcarrillocruz @trishnaguha

[2017-09-07 03:32] bale836 commented on #28690
**Sorry for the late reply.**

The creates/removes describes filename in document currently, but in fact, maybe the file dose not exist, or the father folder does not exist.

In my case, the folder "/home/usr/bin" doesn't exist.

So, if we change the order of blocks, it can support this case too.

[2017-09-07 03:34] bcoca commented on #28690
not "too" but "instead" ... breaking existing plays that rely on the current behaviour.

[2017-09-07 03:36] #28769 closed, assigned to nobody

[2017-09-07 03:41] bale836 commented on #28690
"instead"?

ok, i will change the order in my repo, then compile and check the remove-test.yml, then reply here.

thanks.

[2017-09-07 04:02] basictheprogram commented on #29072
[code]
Succeeds (I expected it to since cup all succeds)

[choco.summary.log.txt](https://github.com/ansible/ansible/files/1283416/choco.summary.log.txt)
[chocolatey.log.txt](https://github.com/ansible/ansible/files/1283418/chocolatey.log.txt)

Consistently fails and I can replicate it on all 13 of my test lab computers.

https://github.com/chocolatey/choco/wiki/CommandsUpgrade
[code]

[2017-09-07 05:24] gregory-dan commented on #27854
I'll try to reproduce and provide you more info in upcoming days

[2017-09-07 05:49] ghost commented on #19718
I am receiving a similar error. I have bigsuds and suds installed. Also, I am trying to access remote VE F5 from Ubuntu 16.04

PLAY [My second play] ************************************************************************************************************************************

TASK [Get all of the facts from my BIG-IP] **************************************************************************

[2017-09-07 05:55] quocvu opened #29078 "xml module: Error w/ valid Xpath"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

XML Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]

inventory = ./hosts
roles_path = ~/.ansible/roles:../
ansible_python_interpreter = python2

##### OS / ENVIRONMENT

OSX running ansible against a ArchLinux VM

##### SUMMARY

Getting invalid XPath

##### STEPS TO REPRODUCE

[code]

I want to set the value of the xml ta

[2017-09-07 06:14] #28759 closed, assigned to jborean93

[2017-09-07 06:15] jborean93 commented on #28431
Closing as return info was added in https://github.com/ansible/ansible/pull/28975

[2017-09-07 06:15] #28431 closed, assigned to nobody

[2017-09-07 07:16] jborean93 commented on #29062
@nwalke you have a typo in your task, it should be `password_never_expires` with 2 s'. I have tested it with the latest devel and can confirm you can change these settings without issues.

I am going to close the issue as this works fine.

[2017-09-07 07:16] #29062 closed, assigned to nobody

[2017-09-07 07:29] jborean93 commented on #29072
That command I gave you is what `win_chocolatey` tried to run and the only difference between doing that locally and through Ansible is that it is through WinRM.

Can you run either of the 2 tests below to see if you can upgrade `draftsight` over WinRM

[code]

I am going to guess that draftsight will fail to update over WinRM and this is not something we can fix in Ansible. If it is the case, the

[2017-09-07 07:32] basictheprogram commented on #29072
Is this the WinRM problem specific to the draftsight package or to certain chocolatey packages?

[2017-09-07 07:45] marvin-sinister opened #29079 "inconsistent facts format for network interfaces on AIX and Linux"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
facts collection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running from CentOS 7.3 host
Running on CentOS 7.3 target
Running on AIX 7.1 target

##### SUMMARY
Facts returned from targets differ on different platforms, AIX returns list of dictionaries, while CentOS returns the dictionary.

##### STEPS TO REPRODUCE

[2017-09-07 08:01] upbeta01 opened #29080 "Slack Notification (not working but showing no errors)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
notification - slack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
debian 9

##### SUMMARY
Slack notification shows no error upon running the playbook but doesn't post anything on Slack

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Should send notification to the Slack Channel

##### ACTUAL RESULTS

[2017-09-07 08:23] upbeta01 commented on #29080
Sorry, seems like the problem was about the "token" and not about Ansible. What happened was, Legacy Token is the one placed on the "token" value.

[2017-09-07 08:24] #29080 closed, assigned to nobody

[2017-09-07 08:38] D3DeFi commented on #24964
Issue confirmed. It does occur only when provided values are str:
[code]

But it does work with integers:
[code]

PR #28442 seems to be sufficient to fix this

[2017-09-07 08:40] coofercat commented on #24136
Without wanting to start a "me too" or "+1" storm, I'll add another use-case...

As a general rule, I like to default absolutely everything. By putting some mention of every variable you use in your defaults/main.yml file, you provide some documentation of what's going on in your tasks and templates. However, there are some cases where you'd like ansible execution to fail if a variable hasn't been

[2017-09-07 09:08] artheus commented on #28993
@nerzhul I made one. see #29007
@bcoca [EDIT] I agree with you. My last answer was just my confused self.

[2017-09-07 09:27] Vladimir-csp commented on #29045
~Deduplication does not break if combine is used in dependency role's dependency role.~
in some flat cases only.

[2017-09-07 09:28] artheus commented on #28993
@bcoca I made the change you suggested. This will make much more sense, thank you for your input! And, please review #29007

[2017-09-07 09:29] mainjoehere commented on #29043
Tried with:
folder: Linux/Test
There is a slash missing : /DatencenterN_SW100_01 between  /Datencenter and N_SW100_01

[code]

[2017-09-07 09:43] Amruthapv opened #29081 "Missing target hosts Error!"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

#### COMPONENT NAME
New module that I have written to get the datastore name.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
I have written the following module (/usr/share/my_modules)
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect the datastore name in that datacenter

##### ACTUAL RESULT

[2017-09-07 09:53] MedicMomcilo opened #29083 "xml module: Add ability to handle arrays"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There should be a method of changing arrays within XMLs. Often there is a need to add/remove/change an item in XML that is present on multiple nodes - this is currently not possible.

##### STEPS TO REPRODUCE
Given

[2017-09-07 10:05] jborean93 commented on #29072
I have no idea what draftsight is, the upgrade process could be using something that isn't available through WinRM due to the MS restrictions on that protocol. I am trying to go through a process of elimination to try and solve what is happening, so far this is what I know

* you can manually run the same command locally, to rule out win_chocolately using an incorrect command
* you can replicate t

[2017-09-07 10:05] rpijlman opened #29084 "DistributionNotFound: The 'paramiko' distribution was not found and is required by ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 9.1

##### SUMMARY
Ansible 2.3.2 was working fine in my environment. v2.4.0.0-0.1.rc1 fails with an exception because paramiko is missing. The Linux server has openssh installed, and Ansible 2.3 apparently detected that, while 2.4rc1 does not.

##### STEPS TO REP

[2017-09-07 10:07] L-B opened #29085 "The subject of emails is not encoded to UTF-8"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mail

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

from RHEL7 to RHEL7

##### SUMMARY

An email is sent that contains accented letters in both the body and subject. the mail module charset is set tp utf-8. On reception, the body is shown properly, but the subject is mangled. It appears the subject contains no enc

[2017-09-07 12:04] kasia211 opened #29087 "Redshift module does not make any changes to existing cluster"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module redshift

##### ANSIBLE VERSION
ansible version: 2.3.1.0

##### SUMMARY

I'm trying to resize my redshift cluster using redshift module. First I check if cluster exist and if true I want to resize it. Both tasks pass, and are in changed status, but there is no real result.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Resize

[2017-09-07 12:18] calston commented on #13262
Not quite understanding why this requires a complete rewrite, unless something is horribly wrong to begin with in which case it would make sense to me that energy be invested in that rather than continuing to grow the size of the code base that needs porting.

In any event at the very least the YAML parser could simply collapse with_list into the individual task blocks, thus providing a shortcut t

[2017-09-07 12:36] Jorge-Rodriguez commented on #24525
Following the same line of thought, the failed task could be listed as rescued instead of failed, as it could be argued that if the task was rescued, it wasn't really a failure.

Example:

[code]

[2017-09-07 12:39] Jorge-Rodriguez commented on #14393
This is related to #24525

[2017-09-07 12:55] vablergo commented on #15892
Hi!
Actually, I found this workaround to do the trick rather well for me:
[code]

I hope that's helpful to someone struggling with this :)

[2017-09-07 12:59] vablergo commented on #21304
Hi!
Actually, I found this workaround to do the trick rather well for me:
[code]

I hope that's helpful to someone struggling with this :)

[2017-09-07 13:40] jctanner commented on #29043
@mainjoehere Let's try this one ...

[code]

needs_info

[2017-09-07 13:50] bcoca commented on #29081
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-09-07 13:50] #29081 closed, assigned to nobody

[2017-09-07 14:20] sm4rk0 commented on #29078
This is a common mistake. There's XML namespace set in your XML document: `xmlns="http://openbox.org/3.4/rc"` and you should use it in XPath. See the `namespaces` module argument and the last example in [documentation](https://docs.ansible.com/ansible/latest/xml_module.html).
Please close the issue if this comment helped.

[2017-09-07 14:27] smiller171 commented on #13262
@calston, I'll quote @bcoca here:

[2017-09-07 14:28] mainjoehere commented on #29043
TASK [create the vm] ***************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "No folder matched the path: /Linux/Test searched: /Datencenter/N_SW100_01/vm/Linux/Test"}

[2017-09-07 14:31] user140547 commented on #23601
It seems that this bug also reproducible on 2.4 RC1 (using import_playbook does not changed its behaviour, just removing the deprecation warning)

[code]

[2017-09-07 14:32] jctanner commented on #29043
Well that's more correct, even though it didn't find the path. I'll have to spend some time trying to reproduce this locally.

[2017-09-07 14:36] nwalke commented on #29062
Sorry I overlooked that!  Thanks!

[2017-09-07 15:11] bitliner commented on #12086
@bcoca How can I have one host if you declared 20 hosts?

[code]

is going to connect to `container001`, `container002`, etc.

It works for having unique names, but what is not clear to me is why you say I still have one host (instead of 20).
`hosts:containers` means to me 20 hosts, not just one. What am I ignoring in this solution?

[2017-09-07 15:27] bcoca commented on #12086
@bitliner cause this:
[code]
is not 4 hosts, but 1

also at this point this is pretty much off topic, if you want to continue getting help on this go to IRC or ML

[2017-09-07 15:42] ganeshrn commented on #26140
needs_info

[2017-09-07 15:56] #28841 closed, assigned to rcarrillocruz

[2017-09-07 16:11] dekimsey commented on #28937
@bcoca Works perfectly. Facts are re-gathered if they expire between Plays.

Using a slightly-modified demo playbook to improve diagnostic output:
[code]

[2017-09-07 16:14] sivel opened #29095 "SSH Retries broken with sshpass"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/connection/ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When connecting to a host with user/pass and using the ssh connection plugin, SSH retries will fail due to bad sshpass descriptor

Caused by https://github.com/ansible/ansible/commit/1fe67f9f436595003f7951dd88159731e6d8249

[2017-09-07 16:17] #28937 closed, assigned to nobody

[2017-09-07 16:23] sivel commented on #29095
I'll need to do some more in depth research. This may not be the full problem.

[2017-09-07 16:33] sivel commented on #29095
Proof of concept fix:

[code]

[2017-09-07 16:40] sivel commented on #29095
cc @abadger would you ming taking a look at this, and my proposed fix?

[2017-09-07 16:50] abadger commented on #29095
Sivel, proposed fix looks good to me.

On Sep 7, 2017 9:40 AM, "Matt Martz" <notifications@github.com> wrote:

[2017-09-07 16:59] nkakouros commented on #27438
#28944 fixed this.

[2017-09-07 17:01] jacobweber opened #29098 "yum module fails when RPMDB altered outside of yum"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS release 6.9 (Final) on source and target.

##### SUMMARY
When yum has error about "Warning: RPMDB altered outside of yum", ansible's yum command fails with "Failure talking to yum: list index out of range".

##### STEPS TO REPRODUCE
[code]

On target, someo

[2017-09-07 17:14] sivel commented on #27438
resolved_by_pr #28944

[2017-09-07 17:23] #27438 closed, assigned to nobody

[2017-09-07 17:32] dagwieers commented on #28994
~Just a heads-up. So I was informed that my latest change somehow broke (some?) JSON input that worked before. Which is a surprise to me because I added integration tests for all the different cases and ran those on our environment. I will have to look into this and fix it for v2.4 RC2...~ There was no real issue, user-induced problem :-)

[2017-09-07 17:32] calston commented on #13262
Yes that's the comment I'm referring to.

[2017-09-07 17:52] froman68 commented on #29003
Ok, I agree that filters are executed on the Ansible server and this is how Python works. But I thing that this should be noted on Ansible documentation. I lost a lot of time investigating what was happening, and surely more people will step on the same issue.

[2017-09-07 18:18] bcoca commented on #29003
like in the first paragraph in the page that documents filters?
 http://docs.ansible.com/ansible/latest/playbooks_templating.html
or in the filters page itself?
http://docs.ansible.com/ansible/latest/playbooks_filters.html#filters-for-formatting-data

[2017-09-07 18:41] quocvu commented on #29078
worked!  Thanks @sm4rk0

[2017-09-07 18:41] #29078 closed, assigned to nobody

[2017-09-07 19:02] #16318 closed, assigned to nobody

[2017-09-07 19:03] richard-scott opened #29101 "win_domain_controller doesn't work as expected using example code"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_domain_controller

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No Changes.

##### OS / ENVIRONMENT

Ubuntu Host with "opentable/win-2012r2-standard-amd64-nocm" Guest OS via Vagrant.

##### SUMMARY

I am unable to promote this to the first domain controller as the "win_domain_controller" module can't connect to the domain to authentic

[2017-09-07 19:08] eugenewrayburn commented on #27176
Sorry, I lost track of this issue.  If that is the case can you just update the docs to show that as an option?

Template _or existing VM name_ used to create VM.  If this value is not set, VM is created without using a template.If the VM exists already this setting will be ignored.
--

Thanks!

[2017-09-07 19:26] dan-osms opened #29102 "SNS_Topic"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

SNS_Topic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

Mac Sierra 10.12.6
##### SUMMARY

SQS to SNS_Topic variable not handled well.
##### STEPS TO REPRODUCE

Variable handling doesn't seem to work with SNS_Topic in Ansible 2.4.0.0 however works in 2.3.0.0.

[code]

##### EXPECTED RESULTS

That the sqs_id w

[2017-09-07 19:53] jborean93 commented on #29101
@richard-scott `win_domain_controller` promotes a server to become a DC of an existing domain so the domain must already exist. You will want to use [win_domain](http://docs.ansible.com/ansible/latest/win_domain_module.html) instead where it will create the first domain with forest for you. So your task will look like

[code]

[2017-09-07 20:00] albrin opened #29104 "Can't install a .deb package from the internet using the apt module."
##### ISSUE TYPE

 - Bug report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

Can not add the MySQL APT Repository.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The `mysql.list` file will be created in the /etc/apt/sources.list.d/ directory

##### ACTUAL RESULTS

The file `mysql.list` is n

[2017-09-07 20:00] smiller171 commented on #13262
@calston I feel like that's pretty clear. Currently blocks are processed at build time, and they would need to instead be processed on the fly at execution time. That sounds like a pretty fundamental change to me, with potential performance implications.

[2017-09-07 20:26] Rickkwa commented on #24735
I also tried removing the `proxy` field instead of setting it to `null` so that it would use the default value (according in [documentation](http://docs.ansible.com/ansible/latest/zabbix_host_module.html), the default is None). Still does not work.

[2017-09-07 21:04] bitliner commented on #12086
I've solved using

[code]

and

[code]

A question: imaging to add a `fork` statement, would the changes consists of rewriting the method [run_loop](https://github.com/ansible/ansible/blob/1d9a62e2bd119599ac7b6fb6c0a7acdedbfbbd70/lib/ansible/executor/task_executor.py#L240) in order to make it manage the level of parallelism and the asynchrony ?

[2017-09-07 21:12] jmcgill298 commented on #28994
agree with @dagwieers that it should be empty dicts and not empty strings.

[2017-09-07 21:32] bcoca commented on #12086
and then it starts to get 'fun' ...:
- does the loop fork count against the global `--forks`, make that per remote?
- what to do with loops when items depend on previous items (not just task execution, but conditionals, etc)?
- how to handle concurrency issues when multiple forks execute on same host? i.e they update same file
- how do we handle cleanup? right now they can reuse tmp dirs .. but ea

[2017-09-07 21:32] geerlingguy commented on #21769
During the AnsibleFest session on Serverless, it was mentioned AWS SAM would be supported by Ansible 2.5... is there another issue for this somewhere that's already been worked on / is being worked on?

cc @ryansb

[2017-09-07 21:35] LukeShortCloud opened #29110 "Add example to win_shortcut documentation on how to use hotkey"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
win_shortcut

##### ANSIBLE VERSION
2.4

##### SUMMARY

Currently there is no example for the "win_shortcut" module on how to use it's "hotkey" option. This is used for essentially creating keyboard combination macros with a shortcut. It would be helpful to see a real-world example in the documentation.

[2017-09-07 23:17] maximede opened #29113 "ec2_group : local variable 'ip_permission' referenced before assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

Can reproduce the issue on the stable-2.4 branch and on the develop branch on both Linux and Mac OS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Task fail with `UnboundLocalError: local variable 'ip_permission' referenced before assignment`
Was working a couple days ago

##### STEPS TO R

[2017-09-08 00:27] cornfeedhobo commented on #23657
Soon(tm). We had to shift priorities and are going to start using our module in production soon, after which I will share what we have if no one else drafts something in the meantime.

[2017-09-08 00:30] cornfeedhobo commented on #14248
You guys can thumbs down every +1 comment, but I highly doubt that you can track the number of subscribers, so adding +1 is still a decent way to show desired support.

Until issue attention is clearly tied to the number of subscribers to an issue, forever expect to see +1 comments.

[2017-09-08 00:49] samdoran commented on #29047
cc @jimi-c, @bcoca

[2017-09-08 00:50] samdoran commented on #29052
cc @bcoca

[2017-09-08 00:57] samdoran commented on #29084
Do you have `ansible_python_interpreter` set? Any details you can share about your config or environment? Having trouble reproducing this without more details.

needs_info

[2017-09-08 01:37] samdoran commented on #29110
cc @nitzmahone @jborean93

[2017-09-08 03:28] ganeshrn opened #29118 "ios_interface issue if port/host is not mentioned in play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should run sucessfully
##### ACTUAL RESULTS

[code]

[2017-09-08 03:40] #29118 closed, assigned to nobody

[2017-09-08 04:36] gmacf commented on #28736
Pull requested submitted for libcloud to add this functionality:
https://github.com/apache/libcloud/pull/1107

[2017-09-08 05:26] JohnVonNeumann commented on #25938
@s-hertel Cheers for the recommendations on this, I've come along with my Ansible understanding a fair bit since first lodging this, this is an issue of my own creation. I haven't "fixed" it yet, I'm midway through purging all the different versions and venvs I have on my rig ATM, but I did what you mentioned re: source hacking, and it's fairly clear that yeah, this isn't a bug, it's my setup. Sor

[2017-09-08 05:26] #25938 closed, assigned to nobody

[2017-09-08 06:00] resmo commented on #28996
Hello @naseemkullah, I fully understand this need, but I am not sure yet whether the best place to implement this feature request is ansible or cloudstack.

We already have a module in ansible to handle additional volumes cs_volume. In combination with cs_insatnce, they do what your are suggesting. But in my opinion, I would like to have a way to tell the cloudstack API to destroy the VM with volu

[2017-09-08 06:04] resmo commented on #28996
needs_info

[2017-09-08 06:37] basictheprogram commented on #29072
[code]
Both fail.

Anything I can ask the DraftSight chocolatey packers to change so upgrades via WinRM can work?

[2017-09-08 07:08] trishnaguha opened #29122 "nxos_bgp currently fails to apply config for nxapi transport"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp
##### ANSIBLE VERSION

[code]

##### SUMMARY

nxos_bgp currently fails to apply config on nxapi. Passes silently.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

nxos_bgp should actually configure the device.
##### ACTUAL RESULTS

Even though nxos_bgp is sending the right commands to the host, but not actually applying the c

[2017-09-08 08:16] yajo commented on #14248
What you can expect is that the ansible team locks the issue comments instead, so don't be a spammer and dont defend them please.

[2017-09-08 08:52] ganeshrn commented on #27403
needs_info

[2017-09-08 08:54] rcarrillocruz commented on #26717
Hi there

Can you please try your test playbook on 2.4 and report if the issue persists?

Thanks

[2017-09-08 08:54] rcarrillocruz commented on #26717
needs_info

[2017-09-08 08:55] rcarrillocruz commented on #26154
needs_info

[2017-09-08 08:58] rcarrillocruz commented on #23263
Can you please test this on 2.4 and let us know if the issue persists?

Thanks

[2017-09-08 09:00] rcarrillocruz commented on #23243
waiting_on_contributor

[2017-09-08 09:01] rcarrillocruz commented on #23142
waiting_on_contributor

[2017-09-08 09:01] rcarrillocruz commented on #22826
waiting_on_contributor

[2017-09-08 09:01] rcarrillocruz commented on #22825
waiting_on_contributor

[2017-09-08 09:02] froman68 commented on #29003
Yes, you are right. My apologies, I deserve this "RTFM". I went to the definitions and bypassed that intro.

[2017-09-08 09:15] rcarrillocruz commented on #28858
Can you please try this out on devel and let us know if the issue persists?

Regards

[2017-09-08 09:15] rcarrillocruz commented on #28858
needs_info

[2017-09-08 09:16] kupsef opened #29124 "ansible-playbook hangs if WorkerProcess killed with SIGINT"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Linux 4.4.0-87-generic
Ubuntu 14.04.5 LTS

##### SUMMARY

Ansible process can hang indefinitely if one of its WorkerProcess is killed with `kill -2`

Note: This issue was discovered while investigating an other one, where the WorkerProcess returned wi

[2017-09-08 09:16] D3DeFi commented on #24735
Issue confirmed. I've sent a fix for this. Although carefully tested, if you have a chance to test changes from #29123 by yourself it would be helpful as well

[2017-09-08 09:23] rcarrillocruz commented on #28479
Can you please try your test playbook on 2.4 and let us know if this is still an issue?

Thanks

[2017-09-08 09:25] rcarrillocruz commented on #28415
Can  you please try your test playbook on devel branch and let us know if you still have the issue?

Regards

[2017-09-08 09:34] rcarrillocruz commented on #27793
Can you please confirm if this is still an issue?
I am not sure if I understand correctly from your comments that you were able to solve this by clearing the persistent connection.

Thanks

[2017-09-08 09:34] rcarrillocruz commented on #27793
needs_info

[2017-09-08 10:54] BhujayKumarBhatta opened #29129 "os_router tries to add the already existing interface and breaks idempotency"
os_router  running on an existing router with interface fails .   The  check

if  set(internal_subnet_ids) != set(existing_subnet_ids) seems to fail  inside the _needs_update function. As a result  it tires to add the already existing interface and fails .

##### ISSUE TYPE
- Bug Report
 ##### COMPONENT NAME
os_router

##### ANSIBLE VERSION
2.3  or 2.2
[code]
msg: Error attaching interface to rout

[2017-09-08 11:02] sm4rk0 commented on #29078
BTW, @dagwieers - this bug report reveals three things. (Should I open a new issue(s) for them?)

**First** is a need for specific error message in case of XPath exceptions due to the missing namespace argument (I'm adding this as an idea to the [Module wiki](https://github.com/ansible/community/wiki/Module:-xml)).

**Second** is missing try block around a call to `tree.xpath` [here](https://githu

[2017-09-08 11:04] BondAnthony opened #29130 "Remove dopy dependency from digital_ocean.py cloud module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module/cloud/digital_ocean/digital_ocean.py

##### SUMMARY

Currently the cloud module digital_ocean.py has a dependency on an external library called `dopy`. This library has halted development over a year ago and has become out of date with the changing Digital Ocean api. I propose refactoring the digital_ocean.py module to remove the exte

[2017-09-08 12:34] andreaso commented on #29104
Just tested that task myself, using Ubuntu 17.04 and Ansible 2.3.2.0. For me it worked as expected, the page got installed, and _/etc/apt/sources.list.d/mysql.list_ was created.

Noted the following in the output you provided.

    changed": false,

Any chance that the _mysql-apt-config_ had been installed previously?

    $ dpkg --list | grep mysql-apt-config

[2017-09-08 12:40] s-hertel commented on #21769
@geerlingguy I'm not aware of anyone working on it yet.

[2017-09-08 12:40] ifelsefi opened #29133 "Ansible 2.4.0 devel 3324d0a4b0 - Debug Module - When Conditional Does Not Properly Evaluate Integer Variables Using "with_items" or "with_random_choice""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Debug module, with when conditional, using with_random_choice or with_items
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Only things related to ssh pipelining and, remote tmpdir, threads, etc.

##### OS / ENVIRONMENT

Linux Mint

##### SUMMARY

I want the task, using debug module, to register file systems which are below a defined quota

[2017-09-08 12:45] abirami-n commented on #24632
Please include the changes in the PR #28060 and try running the same. Let us know for any issues.

[2017-09-08 13:26] albrin commented on #29104
@andreaso, thx.

I tried to run the task of installing the package on a clean image of Ubuntu 17.04 - the file `/etc/apt/sources.list.d/mysql.list` was created.

But if you manually delete the `/etc/apt/sources.list.d/mysql.list` file, when you run the Ansible task again, the file is not created `/etc/apt/sources.list.d/mysql.list`

I do not understand yet what this might be connected with. What d

[2017-09-08 13:35] albrin commented on #29104
I'm sorry. I had to remove the package with this command:

[code]

Now when you restart the Ansible task, everything works as it should!

[2017-09-08 13:35] #29104 closed, assigned to nobody

[2017-09-08 13:46] s-hertel commented on #28980
@Parthmonga
The link you attached that works for you is stable-2.2, and the one that doesn't is devel. role_arn is working as expected for me on the devel branch (it does require the ARN, not just the name). Have you gotten the devel branch version working? If not we should probably leave this issue open until the bug gets fixed.

[2017-09-08 13:48] s-hertel commented on #29040
This is a feature I am adding for 2.5.

[2017-09-08 13:51] ifelsefi commented on #29133
Hi @bcoca

You helped me with #16315

Any idea what's happening now?

[2017-09-08 13:55] DanyC97 commented on #18217
@bcoca @danielerez any comments as i've tested on latest 2.3.1.0 and issue is still present

[2017-09-08 14:21] naseemkullah commented on #28996
Hi @resmo Thanks for replying. I guess I just find it weird that a disk_offering can be deployed within the cs_instance module, but a separate module is needed to remove it, and said seperate module absolutely needs the volume name as input so, until now I can only retrieve (the volume name) manually. What would you suggest? That I open a feature request on cloudstack? Thanks!

[2017-09-08 14:28] ganeshrn commented on #18974
@jean-christophe-manciot
[code]
Based on the logs there is timeout happening after 60 sec because the response for the command executed is not received from remote device.

Just to rule out timeout issue can you please set provider timeout value to a higher value say 300.

If it still fails please run it against **latest devel branch** and share the contents of log file.

[2017-09-08 14:39] BhujayKumarBhatta commented on #29129
Checked from python  , importing shade .  the cloud.list_router_interfaces(router, 'internal')    returns no port and hence the condition fails to check.   I was using shade verion 1.23  downgraded to 1.16.0 .  the port list is coming right now and hence the module works fine .  Can you please update document  about this shade version dependency ?