[2019-05-06 04:20] Akasurde commented on #56071
resolved_by_pr #56073

[2019-05-06 04:21] mdavis-xyz opened #56106 "Warn user if nothing is matched by tag"
##### SUMMARY

If the user mis-spells a tag when invoking a playbook, then ansible will run 0 tasks and claim it suceeded. This is misleading.

Ansible should warn users when 0 tasks match the tags, because the user probably did not intent to run 0 tasks.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core

##### ADDITIONAL INFORMATION

[code]
Invoke this with:

`ansible-playbook test.yam

[2019-05-06 06:32] Akasurde commented on #56021
resolved_by_pr #56107

[2019-05-06 07:43] LeDOC666 commented on #54343
Hi @goneri
I understand  you have a lot of work. I'm just trying to forward by myself this issue.

The problem is the 2 use case normally do the same thing:
Add 4 tags on a vmware server
First work (with item), and the other one don't (with inventory)

I have a firewall between, but it's ok, and proxy is disable between them.

[2019-05-06 08:07] mkrizek commented on #30037
With the recent versions of Ansible this will fail with:
[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-06 08:07] #30037 closed, assigned to nobody

[2019-05-06 08:11] yuwzho commented on #54607
not_a_bug

In the [line 45](https://gist.github.com/b3rgman/61d927f2e691c346dca18be4f4ebcbc7#L45), convert the dict to a list

[code]

[2019-05-06 08:13] mkrizek commented on #49447
!component -lib/ansible/modules/files/file.py

[2019-05-06 08:21] tdixonspin commented on #54386
@sylvesterv Unfortunately not.

I had to manually create this stuff. Pretty annoying, honestly.

[2019-05-06 08:24] srimandarbha commented on #55876
We are sending hostnames which are having valid ip addresses, we are able to create remote_ip_prefix with 0.0.0.0/0 but not valid ip address, could you please confirm if the current os_security_group can support this?

[2019-05-06 09:09] mycloudrevolution commented on #56086
Have you tried to use a "with_items" loop?

Take a look at this example: https://github.com/mycloudrevolution/Ansible-Playground/blob/master/vmware_create_multiple_vm.yml

[2019-05-06 09:25] captainjs opened #56110 "Highlighted code in examples breaks or confuse the indentation in the documentation"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

yum example page in the documentation with highlight:
https://docs.ansible.com/ansible/latest/modules/yum_module.html?highlight=yum

yum example page in the documentation without highlight:
https://docs.ansible.com/ansible/latest/modules/yum_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2019-05-06 09:40] ewongbb opened #56111 "using the Script plugin, actual groups under "all:children" are ignored as groups"
##### SUMMARY
If using the script plugin,  any specific groups as mentioned in the json structure:
'''
{...
  "all": {
    "children": {
       <group>: {...}
    }
  }
}
'''
are ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/inventory/script.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux th.localnet.local 2.6.32-64

[2019-05-06 10:16] JohnMahady opened #56112 "Host file"
Can i do this in my hosts/inventory file? Also, can i pass a host group in command line -e?

[env1]
vm1 ansible_host=vm001
vm2 ansible_host=vm002

[env2]
vm1 ansible_host=vm888
vm2 ansible_host=vm999

I want to use the same synonym host name in my playbook (vm1 or vm2 ) but point to different virtual machine depending on what group i specify in the yml file. (hosts: env1)
This way i can make the c

[2019-05-06 10:38] Oneiroi commented on #56059
needs_contributor

[2019-05-06 10:40] Oneiroi commented on #56059
@markdorison from your description you are wanting to import multiple dumps, is there a reason why a loop would not suffice to achieve this goal  ?

[2019-05-06 10:41] mkrizek commented on #56112
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-06 10:41] #56112 closed, assigned to nobody

[2019-05-06 11:05] willthames commented on #50529
@OJFord - usually it's almost always that if you're using `connection: local`, you need to set `ansible_python_interpreter: {{ ansible_playbook_python }}`

Openshift should be installed on whatever host ansible is running on.

As discussed earlier in the thread, you can use `python_requirements_facts` to ensure that you're running the version of python you think you are and the versions of openshi

[2019-05-06 11:20] hilafish opened #56113 "MemoryError Running Command Module On Remote Servers"
##### SUMMARY

MemoryError when running module command that is expected to take time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

"Debian GNU/Linux 9 (stretch)"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [backup-cassandra : Backup keyspace to IBM S3
 _raw_params=/usr/local/bin

[2019-05-06 11:40] waddelbm commented on #49793
These two commits created idempotency for changes to 'customvalues' only for VM's that are powered on.  For any VM's that are powered off, it is still showing as "changed" vs "ok".  The powered on vm's are showing "ok".

[2019-05-06 11:44] Akasurde commented on #36416
@vemuriv You may want to store special character in vars and then use it like -

[code]

[2019-05-06 11:46] awltux commented on #45916
Thanks for the root cause analysis.
I've used the following to reboot and wait for the AD system to start:

[code]

[2019-05-06 12:50] RobVerduijn commented on #55879
Done, the pull request is #56115

Rob

[2019-05-06 13:24] bcoca commented on #56111
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-05-06 13:24] #56111 closed, assigned to nobody

[2019-05-06 13:46] markdorison commented on #56059
@Oneiroi That is the workaround I am exploring for now, but since the [mysqldump command has support for multiple databases](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html#option_mysqldump_databases), this seemed like a feature that would be useful to expose via ansible.

[2019-05-06 14:53] Jeremytetu opened #56119 "Unable to describe VPC because of DescribeVpcClassicLink operation"
##### SUMMARY

Trying to describe VPC using ec2_vpc_net_facts module
But it fail because I'm authorized to perform DescribeVpcClassicLink operation.

Indeed I'm not authorized to perform this operation :
[code]

But I'm authorized to describe vpc:
[code]

I assume I should be able to have vpc describe using Ansible ec2_vpc_net_facts module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_

[2019-05-06 14:59] opoplawski commented on #42131
Still the same with ansible 2.7.10

[2019-05-06 15:04] s-hertel commented on #56104
Boto is not longer actively maintained so the most that can be done is port boto modules to use boto3 instead. Here's the current state of things: https://github.com/ansible/community/blob/master/group-aws/boto3.md

What are the module(s) you're having trouble with?

needs_info

[2019-05-06 15:20] iinuwa opened #56122 "Allow configuring executable path for keytool in java_keystore, as implemented in java_cert"
##### SUMMARY

Allow configuring executable path for `keytool` in `java_keystore`, as implemented in `java_cert`
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`java_keystore`
##### ADDITIONAL INFORMATION

When keytool is not on the default path, then the `java_keystore` module cannot be used to create a keystore. The [code for the module](https://github.com/ansible/ansible/blob/devel/lib/

[2019-05-06 15:22] JBaptisme commented on #55802
Hello,

Is this bug can interest someone ?

[2019-05-06 15:36] bmalynovytch commented on #56059
It sounds reasonable and could be a quick win and easy to start feature for a new contributor.

+label easyfix

[2019-05-06 15:47] ahuffman commented on #27299
I think if noone's going to fix this, can someone at least put a note in the json_query documentation about using `to_json | from_json` when using JMESPath functions/methods?

[2019-05-06 16:02] jillr opened #56124 "AWS dropping support for v1 URIs"
##### SUMMARY
https://forums.aws.amazon.com/ann.jspa?annID=6776

AWS will be dropping support for s3.amazonaws.com/\<bucketname\>/key style URIs on September 30th, 2020.  All S3 references will need to be changed to \<bucketname\>.s3.amazonaws.com/key.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component =test/integration/targets/dnf/tasks/dnf.yml
!component =test/integration/targets/dn

[2019-05-06 16:05] codyja opened #56125 "VMware: Specify Folder for vmware_vm_facts"
##### SUMMARY
It would be fantastic if vmware_vm_facts could be pointed to a folder and only return objects within that folder. For example if I only wanted templates within /builds/ folder, it should complete rather quickly instead of scanning all VMs and templates.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_facts

##### ADDITIONAL INFORMATION

[code]

[2019-05-06 16:24] kinwolfqc commented on #56065
Closing this.  The real problem was that the module PowershellGet on the target host was still at version 1.0.1. so the win_psmodule was trying to update it, but since powershellgallery is not accessible on our internal network, and that it wasn't on our local nuget server, it couldn't install it, but was setting the $changed flag to true

Strangely, it didn't fail though.  But I think the fail be

[2019-05-06 16:24] #56065 closed, assigned to nobody

[2019-05-06 16:39] MortallyRoasted opened #56127 "Child group variables do not override parent group variables in `group_vars` folder"
##### SUMMARY
Child group variables, which are found in the `group_vars` directory, do not override the parent groups variables. This applies to both group folders and files, under the `group_vars` directory.

This appears to be a merging issue with the children groups w.r.t parents. The documentation clearly states that the children have a higher precedence than the parent groups.

[code]

https:

[2019-05-06 16:45] sinu opened #56128 "fmgr_fwobj_address unable to exicute"
##### SUMMARY

Hello team
i am trying to consume fmgr_fwobj_address but i am getting the following error.
I couldn't see proper documentation about the module hence i am following below link.
https://buildmedia.readthedocs.org/media/pdf/ftnt-ansible-docs/latest/ftnt-ansible-docs.pdf
[code]
error

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fortimanager

##### ANSIBLE VERSION
2.8

#

[2019-05-06 16:47] sinu commented on #56128
@ftntcorecse @Ghilli3 @lweighall @p4r4n0y1ng can you help

[2019-05-06 17:02] acozine commented on #43901
Interesting. This looks correct back in the 2.5 docs: https://docs.ansible.com/ansible/2.5/modules/dellos10_facts_module.html#dellos10-facts-module
But broken in 2.6 and later:
https://docs.ansible.com/ansible/2.6/modules/dellos10_facts_module.html#dellos10-facts-module

[2019-05-06 17:20] LindsayHill commented on #43901
I thought you might have been onto something there - but check out this https://github.com/ansible/ansible/commit/cdd21e2170b9a47d84624c8c2f792a66f2b0fe57#diff-34b216cf1a4209713450c4ef05a6a77a - the reason it looks OK in 2.5, but not 2.6 is because the underlying module had some cleanups, replacing the `default: '!config'` with `default: [ '!config' ]`

[2019-05-06 17:38] iinuwa commented on #53867
If I may add my two cents as a new user. It is confusing to have both modules that are closely related but do not share similar syntax.
For instance, `java_keystore` accepts a string for the certificate, but `java_cert` requires a file path (`cert_path`) or certificate url (`cert_url`). `java_keystore` accepts adding private keys, but `java_cert` does not.
I agree with @getjack that in Java termin

[2019-05-06 19:06] acozine commented on #43901
@LindsayHill oh, fascinating. So it "looks" correct but only because the underlying data was different, not because we were rendering it differently. We have done a lot of cleanup on the defaults in the module docs, but the look could definitely be improved. I've added this to the agenda for tomorrow's docs working group meeting - see https://github.com/ansible/community/issues/389#issuecomment-48

[2019-05-06 19:07] bcoca commented on #51618
also consider:
```   - set_fact:   string_y="y" string_n="n" string_yes="yes" ...```

[2019-05-06 19:11] dagwieers commented on #51618
@bcoca That's the origin of our madness, which we transported to YAML inadvertently :-(

[2019-05-06 19:15] bcoca commented on #51618
[code]
outputs:
[code]

[2019-05-06 19:30] mgarrett33 opened #56137 "Problem with redfish_facts - Chassis - GetChassisPower"
##### SUMMARY
The redfish_facts GetChassisPower command does not work on some systems (e.g. HPE iLO 5) because of assumptions in the code about the URI to the power information.

**Root Cause:**

The method used to construct the URI to the Power information assumes some things about the segments.

`redfish_utils.py` line 1046:
[code]
In the case of iLO 5 the chassis_uri contains a trailing slash,

[2019-05-06 20:26] Mogztter commented on #56122
The `java_keystore` is using two executables:

- `openssl`
- `keytool`

So if we want to configure executables then we will need to add two attributes.
Also I'm not entirely convinced that it's a good idea to configure the executable path on each modules. As far as I remember it's possible to configure the PATH on a task:

[code]

[2019-05-06 20:29] kbreit opened #56142 "Meraki - Module should error immediately if API key isn't specifiec"
##### SUMMARY
The Meraki API requires an API key to be provided for any query. The modules currently execute without the key but will fail with a non-obvious 404 error. The modules should fail immediately if the key isn't provided.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-05-06 20:36] #56080 closed, assigned to nobody

[2019-05-06 21:26] wvidana opened #56144 "Ansible not removing `~/.ansible/tmp` files"
##### SUMMARY

My `~/.ansible/tmp` folder is full of files, months old, up to 300MB. Might be a regression from https://github.com/ansible/ansible/issues/33079 ?
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`contrib/inventory/ec2.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Trusty

##### STEPS TO REPRODUCE

The machine executing the playboo

[2019-05-06 21:30] #56022 closed, assigned to nobody

[2019-05-06 21:37] spasarok commented on #54493
@jladdjr If there aren't any plans so far I'd be happy to help out, just let me know.

[2019-05-06 21:43] acozine opened #56146 "Test that `required` entries in module docs match the argspec"
##### SUMMARY
Add a check to validate that `required` fields are correctly documented by comparing the documentation to the argspec.

This was uncovered by #56121, which fixed a mistake in the documentation but did not have a related entry in `test/sanity/validate-modules/ignore.txt` that needed to be removed. Adding:

[code]
and then running the tests confirmed that we can catch the discrepancy:

[2019-05-06 22:05] acozine commented on #56110
Thanks @captainjs for reporting this. We have a fix for this but it has not been published to all versions of the documentation yet. The fix is in PR #55464. See also issue #54374.

[2019-05-07 00:37] ftntcorecse commented on #56128
@Sinu,

Our apologies for the lack of documentation on this subject. We've updated our documentation to include steps for remediating this particular issue.

Please see the Getting Started guide here:
https://ftnt-ansible-docs.readthedocs.io/en/latest/fmgr_getting_started.html

.. and in particular, the bit about upgrading/converting the plugin:
https://ftnt-ansible-docs.readthedocs.io/en/latest/f

[2019-05-07 00:55] #49805 closed, assigned to nobody

[2019-05-07 02:15] mdavis-xyz opened #56151 "Add option to print debug messages as coloured warning"
##### SUMMARY

When printing a debug message, I want the ability to colour it differently, to make it stand out. This is when I'm printing a warning. Not a warning from within a module, but from the playbook itself.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

debug

##### ADDITIONAL INFORMATION

[code]

[2019-05-07 02:49] Akasurde commented on #36416
needs_info

[2019-05-07 05:11] igoratencompass commented on #56104
Hi @s-hertel my problem begins with trying to obtain dynamic repository for the region:

[code]
I have boto3 installed but not sure which modules use it and which don't:
[code]

[2019-05-07 05:48] zephyia commented on #56104
We are having exact same issue - are you suggesting someone is already working on modifying the ec2.py script to use boto3?

[2019-05-07 05:55] yungezz commented on #49659
@yuwzho  could you pls take a look at this?

[2019-05-07 07:13] mlda065 commented on #56044
I am getting this behavior on a Centos 7 target. It does not seem to happen on Ubuntu.

In addition to `modinfo`, I also cannot run `ip`, which is significant for me. I'm going to have to hard code a new `PATH` for each shell task.

[2019-05-07 07:16] igoratencompass commented on #56104
Upgrading to:

[code]
didn't help either.

[2019-05-07 08:13] Yajo commented on #43286
Thanks @alexbarcelo!

I changed this, and now async works as expected:

[code]

[2019-05-07 08:17] felixfontein commented on #55495
Sorry for completely missing this issue. I've now created a PR to fix this: #56155

[2019-05-07 08:49] MyronFanQiu commented on #55350
@melezhik Hello! Recently, I open a PR for this feature idea. After discussed with the reviewer, I think I need you help to double check the meaning of this feature idea.

Do you need a parameter to support [Shared access key](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key), so that you can get access to the storage account in other subscription using the acces

[2019-05-07 09:11] efazenda commented on #46203
+1 for this feature !

[2019-05-07 09:33] matthgyver commented on #55875
Hi,
@P-Hessler : adding "file:" as workarround does'nt work
@jborean93 : tested with last Ansible devel version. All is OK. Thank you ;-)

[2019-05-07 09:40] lanbugs opened #56157 "nxos_facts issue no data in ansible_net_interfaces"
##### SUMMARY

nxos_facts does not show the interfaces informations, there are only two entrys with "AttributError:" and "Traceback"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS Version: Ubuntu 18.04.2 LTS
Network device: Cisco Nexus 7700 C7710 Version 8.2(3)

##### STEPS TO REPRODUCE

[code

[2019-05-07 10:55] #56127 closed, assigned to nobody

[2019-05-07 11:04] lanbugs commented on #56157
I`ve tested the module also with python 2.7, same issue.

Python 2.7.15rc1 same OS

[2019-05-07 11:15] lanbugs commented on #56157
I`ve tried to get some more informations:

I changed the code in nxos_facts.py to write the data to an file:

[code]

The result is:
[code]

[2019-05-07 11:17] Akasurde commented on #54335
resolved_by_pr https://github.com/ansible/ansible/pull/56161

[2019-05-07 11:17] Akasurde commented on #54335
@mycloudrevolution Thanks for reporting this issue. Could you please check if https://github.com/ansible/ansible/pull/56161 works for you ? Thanks.

needs_info

[2019-05-07 11:35] #53372 closed, assigned to Akasurde

[2019-05-07 11:54] lanbugs commented on #56157
After some debugging myself I recognized that the error is not in the ansible code, it is a problem with the Nexus Firmware.

When you try to execute `show interface | json` on the nexus cli the python error occurs:

[code]

[2019-05-07 12:14] s-hertel commented on #56104
@igoratencompass @zephyia The contrib script doesn't use boto3, only boto, and is not taking new features at this time. There is however, a supported inventory plugin that you could use instead which uses boto3.

Rather than targeting a script with `-i ec2.py` you'll create a yaml inventory configuration file with the options for the inventory plugin and run `-i config_aws_ec2.yml`. Your config fi

[2019-05-07 12:28] jonclowser opened #56164 "[rabbitmq_user] update_password always results in fatal error if password changed"
##### SUMMARY

The rabbitmq_user module has an option to 'update_password: always', however, if the password for a user is changed the task will cause a fatal error when it calls 'rabbitmqctl authenticate_user' to check if the password needs to be changed because the command exits with a non zero rc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_user

##### ANSIBLE VERSION

[code]

[2019-05-07 12:34] lanbugs commented on #56157
The issue occurs on the new release 8.2(3), on an older system with 7.3(3)D1(1) the commando works fine. I will open an TAC case at Cisco and inform you if i know something new.

[2019-05-07 12:34] #56157 closed, assigned to nobody

[2019-05-07 12:47] melezhik commented on #55350
Hi @MyronFanQiu

Thank you for quick response. I think at least now shared access key is
enough.

On May 7, 2019 3:51 AM, "MyronFanQiu" <notifications@github.com> wrote:

@melezhik <https://github.com/melezhik> Hello! Recently, I open a PR for
this feature idea. After discussed with the reviewer, I think I need you
help to double check the meaning of this feature idea.

Do you need a parameter to

[2019-05-07 13:07] MyronFanQiu commented on #55350
@melezhik I see, thanks! I will continue trying to merge the PR. Besides, there is a [repo for azure_preview_module](https://github.com/Azure/azure_preview_modules). It will be aligned with the ansible/ansible repo frequently. If you need, you won't have to wait for Ansible 2.9. 😄

[2019-05-07 13:08] gamuniz opened #56171 "Add option to obfuscate any vaulted variable from being displayed with debug verbosity."
##### SUMMARY

Instead of using no_log which impacts the ability to debug variable names, add an option to hide sensitive(passwords or any values which are vaulted) from debug level verbosity.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

include_vars, set_fact or any module/plugin that display ansible_facts with debug verbosity.

##### ADDITIONAL INFORMATION

[code]

[2019-05-07 13:11] melezhik commented on #55350
Thank you!

On May 7, 2019 8:09 AM, "MyronFanQiu" <notifications@github.com> wrote:

[2019-05-07 13:16] lukasmrtvy opened #56172 "docker_container_module: Ignore option for certain parameters"
##### SUMMARY
It would be great if something like `ignore` parameter in `docker_container module` exist.
For example: if You dont want to redeploy container if label is changed.
Common use case:
Label with timestamp of creation.
[code]
In this case, container is not recreated.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_container
https://docs.ansible.com/ansible/latest/modules/do

[2019-05-07 14:15] AntonioDeJesus commented on #55216
Any progress on this issue?
@fdalrymple-hp  were you able to find a workaround?

[2019-05-07 14:22] sparampalli opened #56173 "gcp_storage_object plugin does not support to download file extensions other than flat files"
##### SUMMARY

gcp_storage_object plugin does not support to download file extensions other than flat files. For e.g. if you are attempting to download .pkg/.zip files etc, files will be downloaded but corrupted. The downloaded files MD5/Checksum does not match with original files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_storage_object
##### ANSIBLE VERSION

[code]

##### CONFIGU

[2019-05-07 14:51] kanglicheng commented on #34569
Adding tests for this

[2019-05-07 14:51] acozine commented on #49730
@pablofuentesbodion thanks for your support of Ansible! Thank you for reporting this issue and for including details about your use case.

Ansible 2.3.x is no longer maintained and may contain security vulnerabilities. We recommend you upgrade to at least Ansible 2.6.x, since 2.4.x is already un-maintained and 2.5.x will not be maintained after the release of Ansible 2.8 this month. You can read a

[2019-05-07 14:51] #49730 closed, assigned to nobody

[2019-05-07 15:18] acquianjperez commented on #48313
We are also seeing this from time to time on a server with many bind mounts.

[2019-05-07 15:21] #55201 closed, assigned to NilashishC

[2019-05-07 15:22] theytaz commented on #53907
Ssme issue when using import_playbook:

[2019-05-07 15:35] henryx opened #56177 "Azure module is outdated"
##### SUMMARY
Module Azure cannot work because imports are outdated

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Azure

##### ANSIBLE VERSION

[code]
Azure module (installed via pip): 4.0.0

##### CONFIGURATION
Standard configuration is used

##### OS / ENVIRONMENT
Source OS: Fedora Linux

##### STEPS TO REPRODUCE

Launch a minimal playbook to create an Azure VM

[code]

##### EXPECTED RES

[2019-05-07 15:35] #43901 closed, assigned to acozine, samccann

[2019-05-07 16:18] acozine commented on #12421
Although we missed closing this issue, this work has been done. The return value spec is documented here: https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_documenting.html#return-block.

[2019-05-07 16:18] #12421 closed, assigned to nobody

[2019-05-07 16:21] lukasmrtvy commented on #56172
!component docker_container

[2019-05-07 16:24] HarryRybacki commented on #54855
Hitting this issue in Fedora 30 as well.

Specifying the interpreter per host is not a good long term option. I imagine many a developer is currently transitioning F30 so the number of folks hitting this will also increase.

Is there an alternative way to globally set this -- or a better workaround?

[2019-05-07 16:27] acozine commented on #16213
Thanks @rmauc for telling us that the Ansible Vault documentation needed expansion and revision.

Since you opened this issue, the page has moved. It has also been [revised and expanded](https://github.com/ansible/ansible/commits/devel/docs/docsite/rst/user_guide/vault.rst) several times. The [most recent version](https://docs.ansible.com/ansible/devel/user_guide/vault.html) covers both encrypting

[2019-05-07 16:27] #16213 closed, assigned to nobody

[2019-05-07 16:28] bcoca commented on #56171
set_fact does not know a variable is vaulted or not, include_vars has the same issue, the templating engine and dataloader (what reads vars files) are only ones that deal with vaults. This is transparent to the individual actions which just get the unvaulted data to perform their actions.

Vaults are meant to protect the data 'at rest' but not during execution.

[2019-05-07 16:36] #54855 closed, assigned to nobody

[2019-05-07 16:50] rdonkin commented on #42302
I don't recall the pods being deleted at all, several minutes after Ansible completed, and there were only 50 or so pods.

I would have to re-test to be sure, but if the pods had been deleted in a few seconds I would have counted that as deleted and not commented on this ticket.

[2019-05-07 17:01] acozine commented on #16307
Thanks @dtardoin for letting us know how we can improve the Ansible documentation.

In the currently released version of Ansible, AWS modules do document the requirement for `boto3`. See, for example, https://docs.ansible.com/ansible/latest/modules/ec2_group_module.html#requirements. However, the [AWS Guide](https://docs.ansible.com/ansible/latest/scenario_guides/guide_aws.html) only mentions "rec

[2019-05-07 17:08] OxHobbs commented on #52082
I seem to be having the same issue.  I am providing the service principal with permissions via the access policy; however, it still fails to create a new secret and throws:

[code]

[2019-05-07 17:40] felixfontein commented on #56172
Check out the `comparisons` option, which is new for Ansible 2.8. It is not as detailled as you want, but it gives you a lot more freedom. You can see the documentation [here](https://docs.ansible.com/ansible/devel/modules/docker_container_module.html) -- this will become the new `latest` documentation once 2.8 is released.

[2019-05-07 17:48] acozine commented on #16888
@kontrafiktion thanks for opening this issue and #16987!

Since then we've expanded and improved the documentation on `module_utils` - the latest changes came from PR #55931.

@kontrafiktion @kbreit could you take a look at the [latest version of this page](https://docs.ansible.com/ansible/devel/dev_guide/developing_module_utilities.html) on the `devel` docs and let me know if we can close this is

[2019-05-07 17:56] cisco-cx-lab opened #56181 "nxos_file_copy "TypeError: cannot concatenate 'str' and 'NoneType' objects""
##### SUMMARY

nxos_file_copy reports "TypeError: cannot concatenate 'str' and 'NoneType' objects"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible on Centos
network devices Nexus 9000v

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

copy image file from remote scp server to nexus switches

#

[2019-05-07 18:04] acozine commented on #25679
Thanks @klicki for helping us find ways to improve the Ansible documentation.

We've clarified the default setting for `durable` on the latest version of the [rabbitmq_exchange docs](https://docs.ansible.com/ansible/latest/modules/rabbitmq_exchange_module.html):

![Screen Shot 2019-05-07 at 12 59 18 PM](https://user-images.githubusercontent.com/879121/57322056-4aaafa00-70c8-11e9-8981-4909c348d778.

[2019-05-07 18:04] #25679 closed, assigned to nobody

[2019-05-07 18:17] ibarrere opened #56184 "network_cli over IPv6 fails"
##### SUMMARY
network_cli does not seem to work over IPv6. We recently added IPv6 DNS entries for all our network gear, so now there are A records and AAAA records for each device. Most of our devices are now failing with the following error:

FAILED! => {
    "msg": "[Errno 71] Protocol error"
}

I disabled IPv6 globally on the server for now and everything works again. Likewise, if I set a devic

[2019-05-07 18:19] ibarrere commented on #56184
I inadvertently opened this issue while I was still testing. Closing for now.

[2019-05-07 18:28] goneri commented on #41987
Thanks @webstylesInt for the feedback. For the record you can automate these steps with:

[code]

[2019-05-07 18:52] acozine commented on #27444
Thanks @basictheprogram for helping us identify issues in the Ansible documentation. I'm going to close this issue as outdated - I'm sorry the team didn't address it in a timely manner.

The page you reference has changed so much since 2017 that I cannot confirm or deny the 404. Here are links to the current [community documentation](https://docs.ansible.com/ansible/latest/community/index.html) an

[2019-05-07 18:52] #27444 closed, assigned to gundalow

[2019-05-07 18:57] acozine commented on #32548
Thanks @pkaramol for letting us know about this issue. We've documented the module returns in #32592. If you see additional problems, please open a new issue.

[2019-05-07 18:57] #32548 closed, assigned to nobody

[2019-05-07 19:04] acozine commented on #41220
Duplicate of #30362?

[2019-05-07 19:19] ironfroggy commented on #51288
I should have followed up on this before, oops

@bcoca I understand the restrictions around why `ansible-galaxy` wouldn't handle 2FA directly, but the way it fails when a user tries does not make it clear _why_. If the user thinks its an error and nothing in the help text or error message tells them to use `--github-token`, how do they know what to do?

What I should have suggested in the first pl

[2019-05-07 19:30] acmnu commented on #30630
Supposed it's a good solution to add checks into delegate functions, but maybe it's better to do this during variable parsing.

[2019-05-07 19:32] acozine commented on #30244
Thanks @kmasaryk for helping improve the Ansible documentation.

The [module documentation](https://docs.ansible.com/ansible/latest/modules/efs_facts_module.html) for the `efs_facts` module now includes the `region` parameter. The parameter is documented in the `ec2` [docs fragment](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/ec2.py) - this fragment should be [i

[2019-05-07 19:32] #30244 closed, assigned to nobody

[2019-05-07 19:35] ironfroggy opened #56191 "ansible-galaxy login fails without explaination if used before Galaxy UI login"
##### SUMMARY
Users attempting to to use `ansible-galaxy login` _before_ logging into the Galaxy website will get an HTTP `400: Bad Request` error with no indication why and will not know how to fix it. The requirement to log into the website before logging in via the command line tool is not part of the help text, not part of any docs i found, and not indicated by the text of the error message th

[2019-05-07 19:55] bcoca commented on #56044
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-07 19:55] #56044 closed, assigned to nobody

[2019-05-07 20:16] woopstar commented on #46203
+1

[2019-05-07 20:28] mycloudrevolution commented on #54335
The reported bug seems to be resolved.

The hardware snippet from my playbook:
[code]

[2019-05-07 20:28] #54335 closed, assigned to Akasurde

[2019-05-07 20:35] ShachafGoldstein commented on #55283
Writing a possible patch to implement what @clcaldwell suggested

[2019-05-07 20:54] bcoca commented on #35396
closing as per above

[2019-05-07 20:54] #35396 closed, assigned to nobody

[2019-05-07 21:32] ShachafGoldstein commented on #54545
I never had a problem with this on server 2012 R2.

@misra-anshuman, are you sure it isn't a problem in the specific server maybe?
this might a problem in your default profile registry hive, can happen due to image process errors and such

[2019-05-07 21:39] dapiced commented on #51825
indeed, i spend half day to realise this !|!!

The correct nomenclature is :

folder: "{{ datacenter }}/vm/{{ vcenter_folder }}"

[2019-05-07 21:49] ShachafGoldstein commented on #54250
took a look and there is nothing stopping from a newly installed service to have the correct startup mode.

On what OS version of windows does the problem occur?

[2019-05-07 22:21] chrissphinx commented on #49207
Any insight on how this might be fixed? I would like to attempt a fix but I'm unsure where to start.

It seems @bcoca is claiming that this shouldn't occur in core, just the plugins, but this issue causes [`hashi_vault`](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/hashi_vault.py) plugin to crash every single time without fail on macOS 10.14.4, yet I don't see anywhere

[2019-05-07 22:31] ShahadIshraq commented on #51599
Hello, I have recently worked with this module. Have migrated the code for Boto3. I think I can migrate the original module and also help on this issue.
I am totally new to the ansible community. Can any one of you please guide me on the procedure?

[2019-05-07 23:52] mlda065 commented on #56044
The documentation for `shell` should state this.

[2019-05-08 00:16] bcoca commented on #49207
@chrissphinx all lookups would execute 'post fork' as part of task templating, which happens after the per task/host forking. There should be no more forks at this point (some fork and exec are expected as we execute external utils, i.e /usr/bin/ssh).

That said a custom plugin can do pretty much anything it wants and create threads/forks for itself, but this is not something core code does.

[2019-05-08 01:23] yungezz commented on #56177
@yuwzho, could you pls have a look at this issue? thanks.

[2019-05-08 01:37] willthames commented on #55448
Thanks @kylix3511

Sorry I didn't see your earlier offer @tylerauerbeck - if there are further improvements to be made beyond #56193 I'm sure we'd welcome them

[2019-05-08 01:37] #55448 closed, assigned to nobody

[2019-05-08 01:41] willthames commented on #42302
@rdonkin do you have a test case that differs from https://github.com/ansible/ansible/blob/dbb69d1f1d30f1cec03ba826ed25062bb0d941b9/test/integration/targets/k8s/tasks/delete.yml#L58-L92 ?

It's also worth being clear on your environment, which is why we prefer new issues for different problems - I suspect that things have changed with newer openshift and kubernetes python libraries.

[2019-05-08 02:06] yuwzho commented on #56177
@henryx Would you like to share your library version by `pip show azure-storage`? Ansible requires version `0.35.1`

All the python libraries required are listed in [requirements-azure.txt](https://github.com/ansible/ansible/blob/stable-2.8/packaging/requirements/requirements-azure.txt), it should be auto installed when you install ansible using `pip install ansible[azure]`, OR you can manually do

[2019-05-08 03:00] iinuwa commented on #56122
Oh, ok. That makes sense. I'll test this out tomorrow.

So perhaps `java_cert`'s implementation is an anti-pattern?

[2019-05-08 03:13] luisAngelPerezCastillo opened #56200 "interface Nueva"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-05-08 03:58] #55495 closed, assigned to nobody

[2019-05-08 04:04] felixfontein commented on #55495
The fix is merged and I've created a backport to stable-2.8 (#56202); unfortunately, it won't make it into 2.8.0 but has to wait for 2.8.1. To work around this problem in 2.8.0, you can force the backend to PyOpenSSL (add `select_crypto_backend: pyopenssl` to your task).

[2019-05-08 05:39] caleb15 opened #56204 "env lookup should return None if var is not present"
##### SUMMARY
env lookup returns a empty string even if the var is not present. This breaks the default command, which thinks that a empty string is the intended value and doesn't return the default. The workaround is simple (as explained in #15575) but it's not intuitive and it should work out of the box.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION

[code]

[2019-05-08 05:39] ericsysmin commented on #56173
Solution is
[code]
Test comparison of MD5 of result.
[code]

[2019-05-08 05:49] #53887 closed, assigned to trishnaguha

[2019-05-08 07:09] igoratencompass commented on #56104
Thanks a lot @s-hertel but I'm facing an issue installing the plugin:
[code]

[2019-05-08 07:17] henryx commented on #56177
I've reinstalled dependencies with the `requirements-azure.txt` and now it works. Thank you

[2019-05-08 07:17] #56177 closed, assigned to nobody

[2019-05-08 07:58] igoratencompass commented on #56104
I worked around that by manually installing the plugins from https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/inventory under `/usr/share/ansible/plugins/inventory/` but now I'm hitting another error:

[code]

[2019-05-08 08:22] alkarp commented on #26359
Similar issue with raw module when attempt to connect to a remote network appliance over SSH.

Although, first connection attempt output is different to consequent connection made while TCP sessions is still open.

Initial connection:
[code]

Second attempt while TCP session is still open:

[code]

[2019-05-08 08:51] Timoses commented on #51284
@maxamillion : Any updates on this?

The documentation of the yum module is still striking me as a bit odd. Under the field `name` it states:

It does not say that state may be anything else. Does this mean `name: '*'` should not be used with any other state?

Please also see the [discussion here](https://github.com/kubernetes-sigs/kubespray/pull/4116) on the application of a use case with `name:

[2019-05-08 09:07] Mogztter commented on #56122
I don't really know the best practice here but in my opinion it's better to configure the PATH, otherwise you would need to duplicate that logic in every module that relies on binaries.

It's worth noting that modules maintained by the Ansible core team use this approach:

- https://github.com/ansible/ansible/blob/57e0567310655a2fe87fccf6e714714f5f6733b4/lib/ansible/modules/files/acl.py#L192
- htt

[2019-05-08 09:19] vv3 opened #56208 "cpanm module: allow version number in package name"
##### SUMMARY
The cpanm module does not allow the version number to be part of the package name. Returns a misleading SUCCESS message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cpanm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Debian Stretch
Client OS: Ubuntu 18.04.2 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expec

[2019-05-08 09:26] fentas commented on #25543
I do not know if this is the right issue but it was referenced within the ansible yaml.

Using
- kubespray:master
- ubuntu:18.04

fails at `Install dbus for the hostname module` with
[code]

[2019-05-08 09:31] rtulke opened #56210 "Bastian Jump Host integration into playbooks/vars/inventory - core feature"
##### SUMMARY

It would be absolutely useful if we could directly assign an ansible proxy command variable to any ansible src host. I work in an environment with up to 15K hosts and we have more then 100 jumphosts.

It is very complicated if you have to make a SSH proxy entry for every x host and then have to distribute it to everyone every time you change it. Because the SSH config is not exactly

[2019-05-08 09:32] zephyia commented on #56104
Thanks @s-hertel didn't realise that existed, will change to that tomorrow and see how I go. Appreciate you taking the time to point it out.

[2019-05-08 09:54] resmo commented on #53610
Looking at other cloud modules (vultr, cloustack, cloudscale) there is a logic to not changing a running instance if the change would require a reboot unless `force=true` is given.

https://docs.ansible.com/ansible/latest/modules/vultr_server_module.html#parameters

[2019-05-08 10:05] ivangonzalezz opened #56213 "Script module remote"
##### SUMMARY

Add a parameter to look for the script directly in the remote host such as in copy module, parameter remote_src

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

script module

##### ADDITIONAL INFORMATION

For example, if you want to download a script directly on the host and execute from there.

[code]

[2019-05-08 10:52] amatacchieri opened #56215 "acme_certificate no wildcard cert dns-01 challenge fails due Incorrect TXT record."
##### SUMMARY
acme_certificate no wildcard cert dns-01 challenge fails due Incorrect TXT record. The code correctly creates the challenge and the TXT record, as showed in the playbook output. The TXT record is created correctly on Route 53, as requested in the challenge_data dns-01 resource_value field.
The TXT record is actually correct even if in the playbook output appears escaped:

`Incorrect

[2019-05-08 11:08] Akasurde commented on #51825
@hadfiiw @dapiced Could you please review #56216 and let me know if it works for you ? Thanks.

needs_info

[2019-05-08 11:26] rosowiecki opened #56217 "Experimental CentOS/RHEL 5 support for latest ansible versions"
You all probably know that ansible doesn't support CentOS/RHEL 5 since ansible 2.4

There are some [workarounds](https://www.ansible.com/blog/using-ansible-to-manage-rhel-5-yesterday-today-and-tomorrow) (installing python 2.6 and setting ansible_python_interpreter) worked only partially, because of lack of SELinux and yum support.

Call my a try-hard, but I managed to force CentOS/RHEL 5 in my tes

[2019-05-08 11:45] captainjs opened #56218 "win_chocolatey installation instructions need to mention the mandatory prerequisites on the windows server where chocolatey will be installed"
##### SUMMARY
win_chocolatey module should contain more information on the pre-requisites regarding its installation on a windows server.
This page hardly explain how to install chocolatey itself, it only mentions a value of parameter _state_:
__When present, will ensure the package is installed._

Source:
https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html?highlight=chocola

[2019-05-08 12:11] #55704 closed, assigned to nobody

[2019-05-08 12:26] AnuradhaGangu opened #56219 "Pass a variable in "vars_file" to "with_items" from command prompt as part of "extra-vars""
##### SUMMARY
My main objective is, I want to create a playbook with one task which will take list of docker images and list of hosts and then run one image on one host respectively or run list of images on one of host list supplied.
To make it clear on understanding consider below declaration

[code]
abc and xyz are defined in my ansible/hosts file. Now tomcat image should be run on abc host and

[2019-05-08 13:03] #55348 closed, assigned to nobody

[2019-05-08 13:42] lanoxx opened #56221 "Improve Documentation of win_psexec"
##### SUMMARY
I was hit by a similar issue like in bug https://github.com/ansible/ansible/issues/54550 today when I was using the `win_psexec` module. It seems that sysinternals psexec command also suffers from the problem that it uses the NETBIOS name when it retrieves the local system's hostname.

Thus, on systems where the hostnames parameter is not given and where the hostname is longer than 1

[2019-05-08 14:15] captainjs opened #56225 "win_chocolatey_module requirements are incorrect in the documentation"
##### SUMMARY
The requirements explained in the win_chocolatey_module are incorrect and information on that page is contradictory.
It says:
**_Requirements**
The below requirements are needed on the host that executes this module.

chocolatey >= 0.10.5 (will be upgraded if older)_

Source:
https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html#win-chocolatey-module

That is not

[2019-05-08 14:21] AlanCoding opened #56226 "Plugins from collection not shown in ansible-doc"
##### SUMMARY
The CLI command `ansible-doc` is not showing plugins which are active, if those plugins come from a collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/doc.py

##### ANSIBLE VERSION
current `devel` branch
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A, control machine, Mac OS

##### STEPS TO REPRODUCE
File structure used is found in source

[2019-05-08 14:34] jborean93 commented on #49207
It could be something in requests or urllib3. I’ve yet to look into the code but this same issue occurs for WinRM which uses requests.

[2019-05-08 14:43] bcoca commented on #56226
you can use `-M` option to point to the plugin dir as a workaround

[2019-05-08 14:45] #55309 closed, assigned to bcoca

[2019-05-08 14:53] bcoca commented on #48722
needs_info

[2019-05-08 14:58] dewmoo commented on #48722
To gives the same results with and without local: true; but I would at the very least content myself with an error message telling me my??

[2019-05-08 15:00] pabelanger commented on #49822
This is done!

[2019-05-08 15:00] #49822 closed, assigned to pabelanger

[2019-05-08 15:19] #52671 closed, assigned to trishnaguha

[2019-05-08 15:25] jfrappier commented on #43566
Hacky AF right now but works

https://github.com/jfrappier/ansible-test-playbooks/blob/master/win-pip-install-modules.yml

[2019-05-08 15:51] jladdjr commented on #54493
Hi @spasarok, thanks for the offer. Got side-tracked with PyCon and some medical issues, but back on track now. Should have something here shortly.

[2019-05-08 16:16] tylarb commented on #38176
@bcoca  I'm hitting this issue as well. I noted the PR appears to be stalled also. Is there some other fix which might resolve this?

We're on Ansible 2.7.10 (on centos from EPEL)

[code]

[2019-05-08 16:30] theg4sh opened #56231 "Task's tags with variables. Undefined variable in scope of playbook's roles."
##### SUMMARY

Too pure error message when variable used in one of tag. Probably, if it is expected that tag could contain a variable then there is an wrong order of expanding variables.

##### ISSUE TYPE
- Bug Report
- Feature Request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Here is an exampl

[2019-05-08 16:31] #53407 closed, assigned to nobody

[2019-05-08 17:28] OJFord commented on #50529
@willthames Thanks - so `k8s[_*]` modules should be run with `connection: local`? Initially I wasn't doing that, before flailing around 'trying to try' everything in this thread, but I suppose it does make most sense.

I still can't make it work though.
`hosts`:
[code]

`python_requirements_facts`:
[code]
and shows the `python` from `pyenv` as expected.

`/that/path/to/python -m pip install opensh

[2019-05-08 17:36] corbinstuard commented on #46660
Can confirm these vars are still non-functional.

[2019-05-08 17:37] lihu-zhong opened #56232 "`loop` not respecting `when` clause"
##### SUMMARY
the `loop` structure does not appear to respect `when`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]
Reproduced on the devel branch (59d7ce6)

##### CONFIGURATION

[code]
No output from that command

##### OS / ENVIRONMENT

I'm on Fedora 29

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

I get the above result when using `

[2019-05-08 17:49] lbenezriravin commented on #56232
This issue persists when putting the loop in a block:
[code]

[2019-05-08 17:54] sivel commented on #56232
As per the documentation at https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-conditionals this behavior is expected

As such, the when statement applies to each iteration of the loop, and not before the loop is evaluated.  You will need to ensure that your `loop` always evaluated properly:

[code]

If you have further questions please stop by IRC or the mail

[2019-05-08 17:54] #56232 closed, assigned to nobody

[2019-05-08 17:55] lbenezriravin commented on #56232
@sivel I'm hitting the same issue in a block. the `|default` workaround doesn't solve this

[2019-05-08 18:10] lbenezriravin commented on #56232
That solution also removes any sort of indicator as to what happened in the task:
[code]

[2019-05-08 18:22] okgolove opened #56233 "zabbix_screen graphs_in_row in loop"
##### SUMMARY

If you use loop and set up graphs_in_row via {{ item.graphs_in_row | int }} you get an error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_screen

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.14.4, remote host Xenial, python3.5

##### STEPS TO REPRODUCE

Create a list of dicts:
[code]

[code]

##### EXPECTED RESULTS

Sc

[2019-05-08 18:25] ShachafGoldstein commented on #56221
Can you give a bit more information?

* What version of psexec are you using?
* What is the error you receive?

[2019-05-08 18:25] felixfontein opened #56234 "Interpreter discovery is run multiple times for one host if a module is used in a loop which returns ansible_facts"
##### SUMMARY
If a module which returns `ansible_facts` (just `{}` will do) is run in a loop, interpreter discovery is ran more than once for the same host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]
If this is `test.yml`, run `ansible-playbook -vvv test.yml | grep "Attempting python interpreter discovery"`

##### EXPECT

[2019-05-08 18:26] felixfontein commented on #56234
Even works with a trivial module:
[code]

[2019-05-08 18:58] sivel commented on #56232
In a block, the when statement is merged onto the individual tasks, it does not prevent the block from working.

So it works as though you applied the `when` directly to the task that uses the loop.  In the end, it's the same thing.

In the end, `loop` and `with_` are not identical, and `loop` always requires the value to be a list.  Not undefined.

[2019-05-08 19:14] abhinavaralekar opened #56236 "Cisco ios devices connection problem"
##### SUMMARY

Whenever I try to connect to Cisco ios device using ansible playbook, I get an error saying "No existing session"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco IOS Software, C2951 Software (C2951-UNIVERSALK9-M), Version 15.1(4)M3, RELEASE SOFTWARE (fc1)

##### STEPS TO REPRO

[2019-05-08 19:19] lbenezriravin commented on #56232
Alright, that makes sense. A little bummed about the loss of verbosity around which tasks have been skipped, but I can deal with that. Thanks for you help!

[2019-05-08 19:36] jceddy opened #56239 "win_file doesn't create directory if intermediates are missing (UNC)"
##### SUMMARY
I have the following task:

[code]

I expect this to create the directory specified at full_target_path, including all intermediate folders, if they don't exist. In my case, it fails to do this, with no error/warning. The only "special" thing I can think of is that the path is a UNC directory specification. I know about the re-authentication issue for commands that touch the network,

[2019-05-08 20:09] whendrickson commented on #19114
So boto3 appears to only allow a single VPC when creating it. Therefore it might be easier to create another module to add additional vpcs or remove them from a specific private hosted zone.
The other issue you will run into is that the route53 module currently uses boto and not boto3. If you look in the source code the bug is referenced there, https://github.com/boto/boto/pull/2882. In many of th

[2019-05-08 20:18] omerfsen commented on #41776
Is there any update about this? I am having same issue with aws_ssm lookup

[2019-05-08 20:37] philipsd6 opened #56241 "Document start (---) in yaml inventory config is loaded as a host"
##### SUMMARY
When using a inventory file for a plugin that loads the inventory as a yaml file (e.g. scaleway.py) if the inventory file has a typical YAML document start (---) as the first line, that document start line is added as a host:
[code]
If the document start line is not in the inventory yaml file, then yaml lint produces this warning message:
[code]

##### ISSUE TYPE
- Bug Report

#####

[2019-05-08 20:43] sivel commented on #56072
This is expected.  In Ansible 2.7, although there was no error, using `delegate_to` on `include_tasks` was silently ignored and no delegation happened.

In Ansible 2.8, only attributes that will work, are allowed on includes.

I believe what you actually want is the following:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-05-08 20:43] #56072 closed, assigned to nobody

[2019-05-08 20:48] samdoran commented on #55897
@steve-r-west Can you please test with #56240 to see if that fixes your issue?

[2019-05-08 20:51] sivel commented on #55942
I don't believe this is related to #55263.

In fact, this is expected.  When applying `vars` to `import_role`, those vars are effectively scoped to the play in the end.  As such, `vars` on an `import_role` affects all uses of that var in the playbook, regardless of relative position to the `import_role`.

This works the same as if using `vars/main.yml` in a role, and using `import_role`.  Those va

[2019-05-08 20:52] #51213 closed, assigned to Akasurde

[2019-05-08 20:57] felixfontein commented on #56234
At this point `ansible_facts.discovered_interpreter_python` available from the previous loop iteration is removed, since `namespace_facts(af)` is of the form `{"ansible_facts": {...}}`: https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L759

[2019-05-08 21:02] munishpalmakhija commented on #42666
Even we have this requirement to deploy OVF which is stored on HTTP URL. Do we have plans to fix this?

[2019-05-08 21:02] netoarmando opened #56243 "Error "invalid selinux context" with template module and NFS"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Target host running Fedora 30 with SELinux permissive using Python 3 as interpreter

##### STEPS TO REPRODUCE

1. Install Fedora 30
2. Enable SELinux permissive mode
3. Mount a NFS share
4. Use template module to write a file in the m

[2019-05-08 21:16] bcoca commented on #56210
https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-configure-a-jump-host-to-access-servers-that-i-have-no-direct-access-to

[2019-05-08 21:18] chrissphinx commented on #49207
So then, would the issue be in [hvac](https://github.com/hvac/hvac) library that [`hashi_vault`](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/hashi_vault.py) is using? I also don't see any forking happening in there either, but maybe I'm misunderstanding the issue.

[2019-05-09 01:08] jansendotsh opened #56248 "digital_ocean module does not return existing SSH key IDs"
##### SUMMARY

According to "digital_ocean" module documentation when adding an SSH key to your account, it will return SSH key id when the SSH key is already present. When running the following snippet, I receive an error that stops playbooks rather than the SSH key's ID.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

digital_ocean

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code

[2019-05-09 02:23] willthames commented on #50529
@OJFord can you run the playbook with `-vvv` - that should show what python is being run and whether it's the one you expect.

[2019-05-09 03:14] yuwzho commented on #37873
resolved_by_pr #39213

[2019-05-09 03:16] #37873 closed, assigned to nobody

[2019-05-09 03:43] kbreit opened #56249 "recursive_diff() doesn't work if first level is list"
##### SUMMARY
The `recursive_diff()` method throws an AttributeError exception if the first item is a list and not a dictionary. I know this is in the `dict_transformations` utility file, so it's possible this may be the proper behavior. However, I am trying to compare two JSON objects which happen to start as a list and not a dict. The list is is a list of dicts.

##### ISSUE TYPE
- Bug Report

#

[2019-05-09 04:38] zoredache opened #56250 "Add functionality to the assemble module to accept a list of files to be assembled."
##### SUMMARY
I want to  idempotently assemble a set of files in a specific order.  Currently assemble only handles directories.  It seems like it would be very easy to update it to accept a list of files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
assemble module

##### ADDITIONAL INFORMATION

The task that made me look for this functionality was that I wanted to assemble a certificat

[2019-05-09 07:09] lukasmrtvy commented on #56172
@felixfontein Thanks

Unfortunalley `comparsions` would not work like this:
[code]
[code]

[2019-05-09 07:23] lukasmrtvy opened #56255 "docker_container_module: state restarted"
##### SUMMARY
Its not possible to mitigate `docker restart mycontainer` with `docker_container` module.
Use case:

[code]
[code]

Of course that I can probably do:
[code]
But I will also have to supply all parameters (from create container) , or container will be recreated with parameters specified in restart container task.

So this would be a solution:
[code]

Another possible solution would be

[2019-05-09 07:24] OJFord commented on #50529
@willthames That actually shows it's using `/usr/bin/python` instead of pyenv's - but I previously installed openshift to _that_ python's environment too, and just double-checked that.

It runs:
[code]

and gives the same error about installing openshift.

[code]

confirms it _is_ installed.

[2019-05-09 07:24] lukasmrtvy commented on #56255
!component docker_container

[2019-05-09 07:38] jhawkesworth commented on #56239
Hmm, that's a head scratcher.
I had trouble like this in the past but in my case it turned out that the destination share wasn't actually a domain peer, it was just a samba share on some embedded linux nas drive thingy, not an actual windows domain member.  However that doesn't seem to apply in your case.

If you were only able to get it to work by running the powershell on the windows target, I'd

[2019-05-09 09:15] rohitthakur2590 commented on #55447
needs_info

[2019-05-09 09:16] crazzy opened #56258 "uri module fails when url contains some IPv6 addresses"
##### SUMMARY
With some IPv6 addresses the uri module (and probably others too) will fail with this error:

"msg": "invalid literal for int() with base 10: '16d8:0:7::205]:80'"

It doesn't fail with all IPv6 addresses, for example these works:
2a00:1450:400f:808::200e (ipv6.google.com)
2a03:2880:f10a:83:face:b00c::25de (facebook.com)

But this IPv6 address consistently fails: 2a00:16d8:0:7::205

I

[2019-05-09 09:47] josemgom opened #56259 "os_server security groups not working on creation"
##### SUMMARY
When creating a OpenStack instance with security groups, security groups are added but it doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
/cloud/openstack/os_server.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE
Give the following

[code]

##### EXPECTED RESULTS
OpenStack instance is created with th

[2019-05-09 10:23] matthgyver opened #56260 "na_ontap_command only work if account as console access"
##### SUMMARY
I'm using a dedicated account for operations on my NetApp with Ansible. This account only have http and ontapi access.

Sending command with "na_ontap_command" module and this account as no effect but work well if I'm using the built-in admin account. It work if I add console access to my dedicated account.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_command

#####

[2019-05-09 11:12] gstorme opened #56261 "mysql_user unable to connect to database on Percona 8.0"
##### SUMMARY

Setting a root password on a new MySQL (Percona) 8.0 instance fails.
Works fine on previous MySQL version 5.7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

MySQL root user password gets (re)set

##### ACTUAL RESULTS

[code]

I found possibly related issues, but the exception

[2019-05-09 11:17] ageis opened #56262 "GPG module and key lookup"
##### SUMMARY
Ansible could use a GPG module, for managing keyrings, importing and exporting keys, verifying and making signatures, and decrypting and encrypting data (both symmetric and non). Working with GPG keys, outside of the context of apt, is an extremely common sysadmin task which we can make it easier to automate. I think the addition of this module could be complemented by a "gpgkey" loo

[2019-05-09 11:28] mstrummer commented on #16403
I think I have stumbled into the same problem with a user-defined variable (looping over a list in my case). I have created a simple testcase:

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

test.yml:
[code]

hosts:
[code]

host_vars/app1.yml:
[code]

host_vars/app2.yml:
[code]

##### EXPECTED RESULTS
This is what happens when del

[2019-05-09 11:31] Akasurde commented on #55703
- [ ] List of Existing SPBM policy - https://github.com/ansible/ansible/pull/56263
- [ ] Update SPBM policy related to VM -

[2019-05-09 11:36] gstorme commented on #56261
Not specific to the Percona distribution, same result on MySQL 8.0.16 from the Oracle repo.mysql.com

[2019-05-09 11:45] mhalano opened #56264 "Stratis support"
##### SUMMARY
Stratis is a solution made for Red Hat (unfortunately not available on Debian/Ubuntu this time) with the goal to be a Volume-managing Filesystem like BTRFS and ZFS (with pools and so on).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
stratis

##### ADDITIONAL INFORMATION

It's officially available since Red Hat 8.0.
May be will have multiple modules like the ZFS support.

[c

[2019-05-09 11:51] AnuradhaGangu commented on #56219
Request someone's immediate help on this issue. I am stuck with this from 2 days.

[2019-05-09 12:28] willthames commented on #50529
Ok, if you're seeing `[IP]` I'm pretty sure it's not running locally, it's running on a remote host which itself doesn't have openshift installed. That also explains why `ansible_python_interpreter` isn't being respected (I think)

Are you trying to run ansible on a target host to make kubernetes api calls? Do you have a reason to do that (either way is fine, but I'm troubleshooting a problem with

[2019-05-09 12:29] willthames commented on #50529
I'm going to close this issue now. If people are having an issue that *appears* similar to this one, please open a new issue fully describing your problem.

[2019-05-09 12:29] #50529 closed, assigned to nobody

[2019-05-09 12:34] gstorme commented on #56261
When I change the plugin from auth_socket to mysql_native_password, the module works as expected.
https://github.com/ansible/ansible/issues/27179

[code]

[code]

[2019-05-09 13:01] jceddy commented on #56239
Well, I got it to work by changing the task to this:

[code]

My confusion (and the reason I didn't just do this earlier) comes from the fact that elsewhere in the same script I am doing the same operation, feeding a variable directly into win_file's path argument and it's working fine.

The difference is that in that spot the path is not a UNC path, so this must be another one of the backslash-ha

[2019-05-09 13:04] jautz opened #56265 "When host becomes unreachable any_errors_fatal aborts the play but max_fail_percentage=0 continues"
##### SUMMARY
When a host becomes unreachable with `any_errors_fatal=true` the play aborts. However, the same situation with `max_fail_percentage=0` makes the play continue with the remaining host(s).
The documentation section [Aborting the play](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#aborting-the-play) suggests that both settings should behave in a simila

[2019-05-09 13:43] dapiced commented on #56125
I have have exactly the same issue !

[2019-05-09 13:47] bcoca commented on #56219
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-09 13:47] #56219 closed, assigned to nobody

[2019-05-09 14:05] lanoxx commented on #56221
My PSEXEC version is: 2.45 (https://docs.microsoft.com/en-us/sysinternals/downloads/pstools). It seems there has not been an update since 2016.

The error I receive is:

    FAILED! => {
        "stderr": "The handle is invalid.\r\nConnecting to local system...\r\r\rStarting PSEXESVC service on local system...\r\r\rConnecting with PsExec service on IP-172-34-55-23...\r\r\rError establishing commun

[2019-05-09 14:08] ralbon opened #56269 "gcp_storage_object fails with service_account_contents option"
##### SUMMARY

When I use `service_account_contents` option, the module call fails.
When adding a debug task with `"{{ lookup('file', gitlab_sa_key_path) }}"`the json content is properly displayed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_object.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

####

[2019-05-09 14:08] samdoran commented on #41910
Technically this is fixed in #44980 by [this line](https://github.com/ansible/ansible/pull/44980/files#diff-9ad09fff92464e41b47b84cefb81c127R331) which adds "(sample, not complete list)" to indicate the list is not exhaustive. It would good to add CentOS and Ubuntu to the example list since they are some of the most popular.

[2019-05-09 14:21] bcoca commented on #56241
so `---` is optional, I consider this yamllint warning as something to ignore.

That said, the problem here is that the file is being consumed by the ini plugin (the yaml plugin would not use --- as a host). Run the inventory with -vvv and post the output to see the actual errors.

needs_info

[2019-05-09 14:28] fdalrymple-hp commented on #55216
Unfortunately yes:

[code]
build_vm.ps1
[code]
... and while it may seem I'm just trying to be cheeky, that's not the case. The point in calling this out is that this script does work using almost the exact same permissions described above. The only thing that had to be added to the role was a read-only component at the datacenter level. At that point the PowerCLI script will do what we need it to

[2019-05-09 14:59] ShachafGoldstein commented on #56221
I can't seem to replicate the problem, and it seems like an issue with psexec's error messages and not a problem with the module.

[2019-05-09 15:22] carchi8py commented on #56260
This isn't a bug.

na_ontap_command is a special module that allows the user to give console command in an ansible module. It requires console permission to do so.

We have a change coming in 2.9 that include this information in the documentation, as it currently not there.

[2019-05-09 15:31] matthgyver commented on #56260
OK I understand. This precision will be welcome in the documentation.
Thank's

[2019-05-09 15:31] #56260 closed, assigned to nobody

[2019-05-09 15:40] jctanner commented on #26359
Per https://github.com/ansible/ansible/issues/26359#issuecomment-316004134 the issue described in the original description has been resolved by increasing the controlpersist timeout. If other have similar issues, those should be filed as separate bugs.

[2019-05-09 15:40] #26359 closed, assigned to nobody

[2019-05-09 16:52] ChevyNovaLN opened #56273 "VMware: Feature request - vmware_guest Hardware Version - Latest"
##### SUMMARY

We have a mixed environment made up of ESXi hosts ranging from version 6.0 to the latest version of 6.x, which means that the VM Hardware Version varies depending on the cluster we deploy to.

The Hardware: Version: only accepts VMX-XX where XX is a number between 3 and 15.  We need to ensure the Hardware version is the latest for the host the VM gets provisioned on.

Documentation:

[2019-05-09 17:34] mattclay opened #56275 "Failing integration test hcloud_ssh_key"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

hcloud_ssh_key integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test hcloud_ssh_key is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration hcloud_ssh_key --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

#####

[2019-05-09 17:38] mattclay opened #56276 "Failing integration test hcloud_server"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

hcloud_server integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test hcloud_server is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration hcloud_server --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### AC

[2019-05-09 17:39] mattclay commented on #56275
Tests were disabled in:

- devel https://github.com/ansible/ansible/pull/56272
- stable-2.8 https://github.com/ansible/ansible/pull/56274

[2019-05-09 17:39] mattclay commented on #56276
Tests were disabled in:

- devel https://github.com/ansible/ansible/pull/56272
- stable-2.8 https://github.com/ansible/ansible/pull/56274

[2019-05-09 18:54] felixfontein commented on #56255
Check out #55860, I've got a PR merged recently which should improve on this. It should show up in Ansible 2.8.1 (#56052) and one of the next 2.7.x releases (#56053).

[2019-05-09 19:02] bcoca commented on #33516
it should 'just work'TM, the delegate_to host is added as a Host temporarily for task execution, but any facts assigned to it should persist

[2019-05-09 19:13] #53385 closed, assigned to nobody

[2019-05-09 19:33] felixfontein commented on #56172
That's what I meant with "not as detailled as you want" :)

[2019-05-09 19:58] #47646 closed, assigned to nobody

[2019-05-09 20:31] philipsd6 commented on #56241
OK, I've finally figured out what's happening. This occurs due to the order of plugins listed in `ansible.cfg`. The default has 'ini' listed before 'auto', so 'ini' tries first, and processes '---' as an actual hostname for some reason, then it passes it on to my custom plugin that adds the actual contents properly.

I consider this a bug, as any inventory plugin should fail without modifying the

[2019-05-09 21:25] felixfontein commented on #56172
I don't have any such plans, but if there's enough demand for it I might try it to see how complex the result will be. If this can be done with a moderate increase in complexity, it's fine for me. (Also, if you want to work on it, feel free!)

[2019-05-09 21:45] mattclay opened #56281 "Update CI platform: rhel/8.0"
##### SUMMARY

Update the `rhel/8.0` platform to use RHEL 8.0 GA instead of Beta.

On AWS this means switching images:

- `RHEL-8.0_HVM_BETA-20181113-x86_64-1-Hourly2-GP2` - RHEL 8.0 Beta
- `RHEL-8.0.0_HVM-20190426-x86_64-1-Hourly2-GP2` - RHEL 8.0 GA

On Azure this means adding support for sku "8".

Both providers should work with the same version number from the client, ideally "8.0".

For AWS th

[2019-05-09 21:50] ibarrere opened #56282 "asa_command registered output garbled"
##### SUMMARY

Running the asa_command module and registering the output seems to inconsistently mangle the stdout/stdout_lines of its registered output. I've come across this a few times and I've usually been able to recover what I need through when statements and regex_replace, but the issue I'm working on now (extracting IPv6 addresses from ASAs) is tough using that approach.

##### ISSUE TYPE

[2019-05-09 22:02] mattclay commented on #54822
Resolved by https://github.com/ansible/ansible/pull/56156

[2019-05-09 22:02] #54822 closed, assigned to nobody

[2019-05-09 22:33] #51825 closed, assigned to Akasurde

[2019-05-10 00:17] fcam-naveen opened #56284 "nios_next_ip should exclude ip range instead of just giving list of ips"
##### SUMMARY

of now we we need to give list like this
new_ip: " {{ lookup('nios_next_ip', '5.9.35.0/24', exclude=['5.9.35.1','5.9.35.2','5.9.35.3', '5.9.35.4','5.9.35.5'],provider=nios_provider) }
Please add exclude=['5.9.35.1-50']

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-05-10 04:38] k4ch0 commented on #53907
Same issue here on Ansible 2.7.0

[2019-05-10 04:55] stiefel40k commented on #51172
bump

[2019-05-10 05:03] LKaemmerling commented on #56276
We are working on resolving the issue. The tests are correct. It looks like it triggered a bug on our side.

[2019-05-10 05:39] #49161 closed, assigned to bcoca

[2019-05-10 07:15] ketank1000 opened #56290 "VMware: Cannot mount datastore on host : list index out of range"
##### SUMMARY
I am trying to create multiple vmfs datastore using vmware_host_datastore module on single exsi host. So every time it fails for first datastore and passes for other

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_datastore

##### ANSIBLE VERSION
2.7.5

##### OS / ENVIRONMENT
RHEL7.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
So the expection is to hav

[2019-05-10 08:58] acalm commented on #56259
I have noticed the same behaviour, it does not seem that the bug is in the os_server module though, but rather the openstacksdk. The only security group applied is the default one. I currently work around the issue by running the module twice as it'll update the security groups. In your case that would mean duplicating "Create Box {{ box_name }}". I'm using a conditional for my workaround to avoid

[2019-05-10 09:08] josemgom commented on #56259
Hi @acalm, yes, I am doing the same, my workaround is running the os_server task twice if there are security groups defined.

[2019-05-10 09:27] keirazhang opened #56296 "vmware_guest: request to add timezone customization for Linux"
##### SUMMARY

vmware_guest module doesn't have timezone parameter for Linux customization.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

Timezone customization is one important guest customization feature. Now it is only supported on Windows but not on Linux.

[code]

[2019-05-10 09:48] Tomorrow9 commented on #56296
Thanks for reporting this. I'll take a look at this request later to see if we can add the "timeZone" and "hwClockUTC" for Linux customization.

[2019-05-10 09:50] UXabre commented on #49164
Hello,

I think I learned something new, seems this happens during creation of the Ovirtmgmt interface.
To elaborate, we use IPv6 to communicate to a bonded interface on our server; however, during some part in the installation; the ovirtmgmt interface is created and the IPv6 address is assigned as well. I would guess that the checks get a bit of a hickup and fail (because the connection gets rese

[2019-05-10 09:58] incognico commented on #50822
On Devuan ascii with openrc many services are affected by this, including: auditd, openntpd, zabbix-agent, haveged, libvirtd, virtlogd, dhcp-helper and probably more.

[code]

libvirt-guests would be a service where it works as intended:

[code]

:expressionless:

[2019-05-10 09:59] incognico commented on #50822
On Devuan ascii with openrc many services are affected by this, including: auditd, openntpd, zabbix-agent, haveged, libvirtd, virtlogd, dhcp-helper and probably more.

[code]

libvirt-guests would be a service where it works as intended:

[code]

:expressionless:

[2019-05-10 10:21] gtema commented on #56259
@acalm, @josemgom: which version of openstacksdk are you using? It works for me without problems with sdk==0.12.0 and sdk==0.27.0

[code]

[2019-05-10 10:29] #16258 closed, assigned to nobody

[2019-05-10 10:41] Shaps commented on #53610
@resmo sensible comment, I like consistency, so I'm happy to add the `force` parameter to the module. That said, I'd set it to `true` by default to not drastically change the module's behavior. Thoughts?

[2019-05-10 10:42] Shaps commented on #55912
@nilsmeyer Yep, this issue makes total sense ( and that j2 bit looks scary! ). I should have some spare cycles to look at this next week.

[2019-05-10 11:02] acalm commented on #56259
@gtema that's strange, I'm running the same version(s) as you. Then it cannot be the openstacksdk but rather the openstack api, silently ignoring the list(!?). I'm running Queens, compute api v2.1

[2019-05-10 11:04] pcleon opened #56297 "compare two register variables"
could i  compare two register variables in ansible-playbook?

[code]
i want to make sure h1 equal h2 then continue, but it's not work

[2019-05-10 11:10] gtema commented on #56259
I am unfortunately on Mitaka still. Could you play around with using openstacksdk directly to see real requests/responses from API?
I have seen a lot of cases where different clouds/installations behave differently even due to configuration differencies. So if you find a particular problem in API behavior in one of the public clouds we might try addressing it in SDK (i.e. re-verifying result or se

[2019-05-10 11:13] #56297 closed, assigned to nobody

[2019-05-10 11:29] ShachafGoldstein commented on #39633
A snippet I wrote and checked a bit that might help, notice that it only works for settings originating from admx files.

Security settings come from security templates

[code]

[2019-05-10 11:31] anryko commented on #53751
Encountered the same issue trying to rerun my playbook on existing infrastructure. So, no change was introduced and the playbook was working some time ago. The issue seems to be on AWS side. So far I have 2 "fixes":
1. Delete the existing lifecycle rule and rerun playbook - newly created rule will work.
2. Comment out `prefix: ` option in your playbook, run it (should succeed), put it back again a

[2019-05-10 11:44] BElluu opened #56299 "Clear file content and create /home/{user}"
Hello,

I have two question.

I need to clear file content for example log file. I won't delete this file and create it again, just clear content.

I need create  /home/{user}. On VPS by default there is no {user} and therefore there is no /home/{user} folder. This folder should be owned by {user}:{user}.

If you can give me any tips, I will be grateful! :)

[2019-05-10 11:52] denngie opened #56300 "nios_host_record not idempotent when using configure_for_dns: no"
##### SUMMARY

When using nios_host_record with the parameter configure_for_dns idempotency is lost
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_host_record
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Infoblox 8.2.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[code]

[2019-05-10 12:03] acalm commented on #56259
@gtema I've run the openstack cli with -vvvv:

[code]
The POST with 2 security groups seems to have been accepted fine, the last GET also includes both security groups:

[code]
However, when running openstack server show awesome-server returns (please note I've removed some useless information to reduce the message size):
[code]
It seems that the security groups was reset to only default when tran

[2019-05-10 12:11] denngie opened #56301 "nios_fixed_address remove network requirement"
##### SUMMARY

When using the API of Infoblox you can work with fixed addresses without entering the specific subnet. Consider the example below for when subnet is not easily available and requires additional tasks because of module requirement. The var ansible_net_all_ipv4_addresses is a list of all IP addresses on the switch
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nios_fixed_addre

[2019-05-10 12:17] stdedos opened #56302 "Enable writing verbose diagnostics of ansible-playbook output on the side"
##### SUMMARY

When running a playbook in REPL mode, it would be nice if I could get the normal output (maybe even more condensed if "all goes well" on a step), and then, on the side, have a `.log` file (optionally with full coloring), that would have the `ansible-playbook -vv` output.

I could use then that file to run back to the failed command (or a non-expected-output command) to check what's

[2019-05-10 12:20] acalm commented on #56259
I'm working on a possible patch with a workaround for this in os_server.py as it's annoying to do the "always double-tap", although, I'm not sure if it's the right thing to do

[2019-05-10 12:38] resmo commented on #53610
@Shaps for "backwards compatibility" it make sense to set it to "true".

[2019-05-10 12:38] rrey opened #56303 "gitlab_group: parent value is not converted to gitlab format"
##### SUMMARY

I hesitated between bug and feature request.
In the provided code bellow, I create a group named "La Factory" which contains a space char which will be replaced by an underscore by Gilab and be retrievable through the path/id "La_Factory".

The module doc specifies that the id or path should be provided, so my issue could be considered as a bad usage but I feel like the module shoul

[2019-05-10 12:47] captainjs commented on #20802
Hello,
It's been a while (over a year) since that problem was reported.
The situation is the same today: the retry was not working because we haven't provided an "until".
That's documented, but still, on operational level we are expecting to have a warning displayed, "warning: a reply without until is present, so the retry is ignored" or something like that.

A user just wasted a few hours on that

[2019-05-10 12:48] Akasurde commented on #56125
@dapiced Could you please review this PR #56298 and let me know if it works for you ? Thanks

needs_info

[2019-05-10 13:12] Lunik commented on #56303
Hi,
When you create the parent group, you can register the return of the module.
Then access the `group` attribute and you should have the return of the Gitlab API.
You can get the parent id/path from there.

Example :
[code]

[2019-05-10 13:25] rmbleeker opened #56304 "Assemble module ordering enhancement"
##### SUMMARY
I require a way to dictate the order in which the `assemble` module concatenates files. This enhancement was suggested earlier in #19442 but the accompanying pull request was never accepted.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
assemble

##### ADDITIONAL INFORMATION
When creating a certificate or CRL chain from a bunch of PEM formatted certificate or CRL files, they

[2019-05-10 13:47] Pluggi commented on #23182
I wanted this feature too, but because `get_url` claims to be atomic when writing files, I don't think it would be possible.

But it's quite easy to do, you just have to add a `Range: bytes=...` header.

[2019-05-10 14:04] pkubica opened #56305 "Can't asynchronously wait on restoring oVirt snapshot"
##### SUMMARY

It is not possible to asynchronously wait to finish of restoring snapshot job. It will always fail on exceeded attempts.
Tested playbook with change "ovirt_vm: state=running" and it works as expected
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.6, RHV 4.3.3.6

##### STE

[2019-05-10 14:10] bcoca commented on #56241
So I added `---` detection to ini plugin in #45499, that should be out in the upcoming 2.8 release, we also moved the auto plugin to have higher priority.

The 'partial updated inventory' is a known bug and we are working on it, there are several major hurdles we need to deal with to get that fixed though and will require a redesign of the underlying data store. We hope to have this solved in 2.9

[2019-05-10 14:14] boTux commented on #53422
Hi @bcrisp4, I can confirm this bug too, and something more, when you use `--list` instead of `--graph` we get the `host_vars` !

Can you confirm the same results ?

[2019-05-10 14:31] bcoca commented on #53422
top of my head, this should be fix:
[code]

[2019-05-10 14:51] acalm commented on #56259
@gtema never mind previous comment, I moved security_groups out of bootkwargs, passing security_groups directly with create_server and that works. I'll create a PR

[2019-05-10 14:52] bcoca commented on #56302
you can do this by using multiple callbacks, i.e 'dense' for your main output and 'syslog_json' to keep a full log (also see ara/ansible-cmdb 3rd party callbacks)

[2019-05-10 15:06] bcoca commented on #24766
closing here as this should be in github.com/ansible/proposals

[2019-05-10 15:06] #24766 closed, assigned to gundalow

[2019-05-10 15:16] sivel commented on #25042
@mattclay is this something we want to work on?  Otherwise I have no problem closing.

[2019-05-10 15:17] bcoca commented on #25194
closing as per above

[2019-05-10 15:17] #25194 closed, assigned to nobody

[2019-05-10 15:19] bcoca commented on #25333
closing as per above

[2019-05-10 15:19] #25333 closed, assigned to nobody

[2019-05-10 15:22] samdoran commented on #25559
Can you please test this with a recent version of Ansible to see if this is still an issue? We believe this has been fixed in recent versions.

needs_info

[2019-05-10 15:27] samdoran commented on #25757
After some discussion, the best way to solve this is to standardize `__name__` and add that to our logging format since we need the existing information in the log message.

[2019-05-10 15:30] bcoca commented on #32177
closing as per above

[2019-05-10 15:30] #32177 closed, assigned to nobody

[2019-05-10 15:30] samdoran commented on #32177
Closing per above discussion.

[2019-05-10 15:32] samdoran commented on #32271
This seems like an issue best addressed on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-10 15:32] #32271 closed, assigned to nobody

[2019-05-10 15:42] sivel commented on #33202
This change was expected, and indicated in the 2.4 porting guide https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.4.html#template-lookup-plugin-escaping-strings

[2019-05-10 15:42] #33202 closed, assigned to nobody

[2019-05-10 15:48] samdoran commented on #33306
After further discussion and attempting to fix this, we have decided to not fix this. This is only triggered when setting `when` to a _literal_ empty list, not a variable that evaluates to an empty list.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-10 15:48] #33306 closed, assigned to nobody

[2019-05-10 15:52] sivel commented on #33312
I cannot duplicate this, however this error is usually caused by having a version of OpenSSL that is old, which macOS has historically used.

This is not a problem that I can work around, the work around would be to upgrade to a newer macOS, or attempt compiling python against a newer OpenSSL, or obtaining your python from another source.

If you have further questions please stop by IRC or the ma

[2019-05-10 15:52] #33312 closed, assigned to nobody

[2019-05-10 15:55] sivel commented on #33382
The changes to inventory_file are documented in the porting guide. At this point Ansible 2.3 and 2.4 are no longer supported, and recent versions should have consistency.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-10 15:55] #33382 closed, assigned to nobody

[2019-05-10 15:59] samdoran commented on #34272
Role docs have been updated to use `vars`.  There is a [porting guide entry](https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html?highlight=porting%20guide#fixed-handling-of-keywords-and-inline-variables) that addresses this change in behavior.

[2019-05-10 15:59] #34272 closed, assigned to nobody

[2019-05-10 16:01] pkubica commented on #56305
after some invesigation, it's much better after I removed "wait: yes" parameter, but sometimes it still happens that with multiple VMs it will fail on one of them (I reproduced that last job wasn't marked as finished).

[2019-05-10 16:05] mattclay commented on #25042
@sivel Yes, this is still something I'd like to implement, although I haven't had time to think through all the implementation details yet.

[2019-05-10 16:22] werty1st commented on #43434
**Workaround**

* If you want to use variables in the workaround:

[code]

[2019-05-10 16:24] MatthiasLohr commented on #18917
This ticket is quite old... is there any known solution yet?

[2019-05-10 16:32] pkubica commented on #56305
I ran repeatedly the playbook and after two or three attempts it's not working also without "wait: yes" parameter.

[2019-05-10 16:47] piequi commented on #50656
Hi @lottspot
I faced the same error and solved it by specifying the (correct) datacenter in which the VM is located.
Cheers

[2019-05-10 17:14] lottspot commented on #50656
It really was that simple... thanks for pointing that out @piequi ! Works for me now

[2019-05-10 17:14] #50656 closed, assigned to nobody

[2019-05-10 17:27] polski-g commented on #22417
This bug(?) has continually come up when trying to create parameterized/reusable roles.

[2019-05-10 18:28] netsiphon commented on #55159
Just from experience I would advise against using grep commands within aireos itself since mistakes on some versions of the software at least can mess up your connection and require you to reconnect to fix them.

I would suggest instead just accepting the output of the original command and using map against the output with a regular expression if you need to include/exclude. No reason you couldn't

[2019-05-10 18:28] rrey commented on #56303
Hi @Lunik, indeed it is a solution but it forces us to process the parent groups in different tasks.
The code would have to change each time I add a level in the groups hierarchy.

[2019-05-10 18:56] sivel commented on #56299
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-10 18:56] #56299 closed, assigned to nobody

[2019-05-10 18:59] Lunik commented on #56303
Well, I guess you could force your groups `path` value

[code]

[2019-05-10 19:17] rrey commented on #56303
Yep that’s what I did. I could also write a filter doing the convention to be clean.

But I still think that the module should do it for me, as à nouveau interface to Gitlab. Modules should handle the complexity.

[2019-05-10 19:17] dbrouss opened #56314 "Error in asa_config when specifying the config paramater"
##### SUMMARY

When using the asa_config module and passing in the "config" paramater, a traceback is produced unless you also set "match" to "none".  This seems to obviate the need to ever pass in a config.

The code in question is here: https://github.com/ansible/ansible/blob/70bf9b9919cd633938419f530ebfa8ec881dedfc/lib/ansible/modules/network/asa/asa_config.py#L280

Note that if match is not "n

[2019-05-10 19:25] jhawkesworth commented on #56239
Since you are up and running it does sound like it was just a case of constructing the unc path correctly, so I will close.  If you have further issues please reopen or open a new issue as appropriate.

[2019-05-10 19:25] #56239 closed, assigned to nobody

[2019-05-10 19:25] dbrouss opened #56315 "asa_command "wait_for" usage"
##### SUMMARY

The asa_command module's parameter "wait_for" says "See examples." but there are no examples. and I have been unable to get this to function.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux CentOS7AnsibleDev.localdomain 3.10.0-957.1.3.el7.x86_64 #1 SMP Thu Nov 29 14:

[2019-05-10 19:35] jceddy commented on #56239
I still don't understand why I need the mustaches for a UNC path and not for a non-UNC path. It might be worth someone looking into, or maybe adding some documentation for, if there is a good reason for it.

[2019-05-10 19:54] jborean93 commented on #56239
You always need moustaches for any variable. There are exceptions with the when conditions but module options need to be in a jinja block or else the literal value is used.

[2019-05-10 19:57] Lunik commented on #56303
I saw one issue with sub groups, that can only be resolved with path/id specification.

You can have two groups named the same way, but with different `path`. (path are unique, but name are not)
Witch one of the two groups does the module should use if you only specify the name of the group ?

[2019-05-10 20:29] mariolenz commented on #56273
That's tricky... at first, I thought this should be easy. But after thinking this through I see a problem: What should happen if you define "latest" as the VM's hardware version, deploy a VM and _then_ update  your ESXi hosts? If you run your playbook again, ansible should discover that the VM's version isn't "latest" any more but can't do anything about it.

Don't get me wrong, I think this is a

[2019-05-10 21:11] zoredache opened #56319 "gcp_dns_managed_zone_facts has element in return named 'items'"
##### SUMMARY
The 'items' element in the returned value from `gcp_dns_managed_zone_facts` conflicts with the built-in method `items()` for a dictionary object.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_managed_zone_facts

##### ANSIBLE VERSION

    ansible 2.8.0rc2
      config file = ...
      configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansibl

[2019-05-11 00:12] bentcoder opened #56321 "Error in vault password file loading (default): A vault password must be specified to decrypt data"
##### SUMMARY
Unable to use `--vault-password-file` while trying to use encrypt and decrypt commands. I always get error below.

I can use `ansible-vault {encrypt|decrypt} app/.env` but not:
- `ansible-vault {encrypt|decrypt} app/.env --vault-password-file ~/ans.yml`
- `ansible-vault {encrypt|decrypt} app/.env --vault-password-file=~/ans.yml`
- `ANSIBLE_VAULT_PASSWORD_FILE=~/ans.yml` - `ansible-va

[2019-05-11 01:03] willthames commented on #51172
Thanks for the bump @stiefel40k - I hadn't spotted this previously. Should be an easy fix, I'll take a look.

[2019-05-11 01:18] willthames commented on #51172
This seems to work with the latest ansible (i.e. it'll work once 2.8 is out).
[code]

There are ways to use latest k8s module utils without updating ansible:
http://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

If I can find a way to backport the fix to 2.7 I'll give that a go.

[2019-05-11 01:19] willthames commented on #51172
Oh, sorry, you're on 2.6 - I strongly recommend updating to 2.7 - it works on 2.7 too, and I'm not going to backport the fix to 2.6

[2019-05-11 01:19] #51172 closed, assigned to nobody

[2019-05-11 01:36] lucasbasquerotto commented on #44077
Thanks @felixfontein!

While version 2.8 isn't released, your other post helped me to solve this issue for my use case.

Instead of:

[code]

**I split in 2 steps**, so that push and repository aren't both defined in the same task:

[code]

Which is equivalent to:

[code]

[2019-05-11 06:26] #56125 closed, assigned to Akasurde

[2019-05-11 06:28] #56021 closed, assigned to Akasurde

[2019-05-11 07:40] ejez opened #56323 "Unexpected conditional behavior"
One moment: testing again...

[2019-05-11 08:03] jhawkesworth commented on #56239
@jceddy can you share specific examples - I'd happy to document some UNC examples.  Double quotes "" 'eat' blackslashes, so you have to double the backslashes, but that's not a problem for single quotes or unquoted strings.  Trailing backslashes will bite you if you don't quote the strings though as that's yaml's line continuation marker.

[2019-05-11 08:20] ejez commented on #56323
I want to run the task only for one node in "group-2", thus the conditions:
[code]
But also only if "group-1" exists. If that group does not exist I don't want the task to run at all, thus the condition:
[code]
When this condition is added, node-b gets discarded because it does not belong to group-1, which is not expected.

As of now, I am using a dirty workaround with added complications using de

[2019-05-11 08:40] #56323 closed, assigned to nobody

[2019-05-11 09:25] willthames commented on #51172
I should also have tested this with a namespace that doesn't exist. But that works fine too

[code]

[2019-05-11 09:59] felixfontein commented on #44077
@lucasbasquerotto good to hear! BTW, Ansible 2.8 is supposed to be released by the end of next week (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_8.rst#expected).

[2019-05-11 10:00] felixfontein commented on #44077
(If you're interested in the current release candidate: https://groups.google.com/forum/#!msg/ansible-devel/wxQlYSrpXSo/cG9t3QHVAAAJ)

[2019-05-11 11:36] nkakouros opened #56324 "gcp_iam_* and gcp_storage_* modules do not use module defaults for `group/gcp`"
##### SUMMARY

I am using the [module defaults] feature to set common defaults among `gcp_*` modules. However,

- `gcp_iam_service_account`
- `gcp_iam_service_account_facts`
- `gcp_iam_role`
- `gcp_storage_bucket`

modules do not inherit defaults set for the `group/gcp` specification.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_iam_service_account

##### ANSIBLE VERSION

[code]

####

[2019-05-11 11:50] nkakouros opened #56325 "gcp_compute_route requires `dest_range` with `state: absent`"
##### SUMMARY

When setting `state: absent` in `gcp_compute_route, the module complains that `dest_range` is not set. The same happens with `gcp_compute_subnetwork` and the `ip_cidr_range` parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[2019-05-11 11:55] nkakouros opened #56326 "gcp_iam_role does not work"
##### SUMMARY

`gcp_iam_role` fails with some python error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_iam_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the task to succeed.

##### ACTUAL RESULTS

[code]

[2019-05-11 12:57] lucasbasquerotto commented on #44077
@felixfontein Thanks, good to know!

[2019-05-12 04:20] mdutton3 commented on #28674
PR #28694 submitted by @nrwahl2 was closed.
While I can understand the 'why put comments in your win_shell tasks' argument, doing nothing leaves Ansible in a state where it breaks unexpectedly and without a clear error message as to why.

[2019-05-12 06:59] mhoroschun opened #56329 "iam_role only detaches the first managed policy if multiple policies need to be detached"
##### SUMMARY
iam_role only detaches the first managed policy if multiple policies need to be detached

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iam_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create a role with several policies attached:
[code]

Delete several policies:
[code]

##### EXPECTED RESULTS

All of the ab

[2019-05-12 08:24] #56050 closed, assigned to nobody

[2019-05-12 08:26] #55881 closed, assigned to nobody

[2019-05-12 09:42] rrey commented on #56303
@lunik I think the current implementation with path or id is fine.
I would only add a value processing to convert it to the formatting expected by gitlab.

One could simply provide the path with names containing space chars:

´´´
  parent: "some parent"
´´´
That the module would convert to: "some_parent"

This convertion could be enabled by a new flag in the module parameters for safety.

[2019-05-12 09:46] thomaskchan commented on #47147
I ran into something similar where the gather facts would hang on a particular machine.  I noticed there was an issue with this machine, where fdisk/pvs/pvdisplay would hang after running outside of ansible.

This single machine hanging gather facts blocked the entire playbook from continuing.

[2019-05-12 10:38] JulienPalard commented on #16732
@ansibot Woh! no no no! It still affects me þ

[2019-05-12 13:55] RonnyPfannschmidt opened #56333 "pip module aware of user-site"
##### SUMMARY
the pip should support a `user_site: true` option
as passing `extra_args: --user` will misreport a package as always changed,
since the normal check will only check the normal site

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
pip

##### ADDITIONAL INFORMATION
[code]

[2019-05-12 14:07] agaffney commented on #28674
That PR was closed by the author because he was having trouble getting the integration tests to pass properly. Feel free to create your own PR that solves the problem in some way. This issue is still open because it has been acknowledged as a legitimate problem, even if it's silly to try to do it in the first place.

The real problem is that the place in the code where this is happening is not spe

[2019-05-12 21:12] vikas7999 commented on #40187
Is this issue resolved as i have similar situation where if there is error on switch cLI due to duplicate IP the eos_config module is not reporting this error.
I am using CLI to connect to arista.

[2019-05-12 22:45] ramon-garcia commented on #49874
ping

[2019-05-12 22:47] ramon-garcia commented on #46809
ping.

This is simple to implement. I can do it myself, if there is interest in it.

[2019-05-13 03:01] ghost opened #56338 "docker_container plugin throws import error"
##### SUMMARY
Latest ansible, python3.7.3, docker and docker-api apps/libs are throwing this error (also reproduced it on a fresh CentOS box, but I'll forego describing that) for me

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.4
python binary `/usr/local/Frameworks/Python.fram

[2019-05-13 03:15] Tomorrow9 commented on #41577
Hi @m4r10k, I had a try on vSphere 6.5GA environment, "_test_network" can be set to the cloned VM.

- Host: ESXi and vCenter server 6.5GA.
- Guest: Ubuntu 1804 with open-vm-tools 10.2.0.
- Test playbook:
---
- hosts: localhost
  tasks:
    - name: deploy vm from template and set network
      vmware_guest:
        validate_certs: no
        hostname: xxx.xxx.xxx.xxx
        username: xx@xx.xx

[2019-05-13 03:18] Tomorrow9 commented on #41577
<img width="725" alt="Screen Shot 2019-05-13 at 11 17 32 AM" src="https://user-images.githubusercontent.com/41371902/57594051-cc8b9f00-7570-11e9-8391-0b1471e0dde7.png">

[2019-05-13 04:04] Akasurde commented on #41577
needs_info

[2019-05-13 04:24] felixfontein commented on #56338
I don't know what you got installed there as `docker` in `/usr/local/lib/python3.7/site-packages/docker/__init__.py`, but it does **not** look like the [Docker SDK for Python](https://docker-py.readthedocs.io/en/stable/). It is apparently [Hive Docker API](https://pypi.org/project/docker-api/), whatever that is... You need to uninstall that, and then install [Docker SDK for Python](https://pypi.or

[2019-05-13 08:30] debalance commented on #41313
I'm facing the same situation as @vbotka, @marcinkubica and @Routhinator.
Looks like I'll have to deploy a patched ansible that at least partially reverts #41126.

[2019-05-13 08:36] miniwark commented on #36305
@dagwieers sorry but i will not be able to do so. Also my workaround is on user level in YALM, this must be solved directly inside the `xml` module (in Python ?).

[2019-05-13 09:02] cdelgehier opened #56345 "`ignore_errors: {{ ansible_check_mode }}` is always true"
##### SUMMARY
When having a task which uses `ignore_errors: {{ ansible_check_mode }}` and the task results in an exception the error is always ignored.
This is especially bad when running in non-check mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
task_executor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ignore

[2019-05-13 09:22] justjais commented on #55128
@digifuchsi Fix is merged in `devel` and backported to both Ansible `2.7` and `2.8` branch. So, closing the respective issue.

[2019-05-13 09:22] #55128 closed, assigned to justjais

[2019-05-13 10:07] Akasurde commented on #56290
@ketank1000 Thanks for reporting this issue. Does this happen with other device names as well ? Could you please check if `naa.600a098038303472585d4c4b38325369_nbsvm-rhel6U9` is not already used in any other datastore ? Let me know about these facts.

needs_info

[2019-05-13 10:10] #48093 closed, assigned to NilashishC

[2019-05-13 10:38] juanvalino opened #56349 "Role variables mixed when same role called multiple times"
##### SUMMARY
When a role is called multiple times, each call mixes in its scope the variables defined for other calls but undefined in the current call.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Role.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Suppose you have a rolle called `myrole` that uses the variables `myrole_va

[2019-05-13 11:26] jonassteinberg1 commented on #56338
@felixfontein That's fine and I can investigate that, but just an fyi, that is the result from simply:
`pip3.7 install docker`.  The ansible `docker_container` plugin doc says:

`Please note that the docker-py Python module has been superseded by docker`

...so I simply `pip3.7 install docker`.

I see no other pip library that makes sense?

[code]

Is that wrong?  Here's the bottom of the rename i

[2019-05-13 11:43] jonassteinberg1 commented on #56338
And from https://docker-py.readthedocs.io/en/stable/ it seems I _have_ installed the right package according to the instructions.  But anyway I installed directly from PyPI source now and same result:

`tar -xf ~/downloads/docker-3.7.2.tar.gz -C /usr/local/lib/python3.7/site-packages/`

[code]

Now I get:

`"msg": "Failed to import docker or docker-py - No module named 'docker.errors'. Try `pip in

[2019-05-13 11:48] ChevyNovaLN commented on #56273
I'm not so sure that's how it works.   I think 'latest' is only used during deployment, which means it would tell vCenter to update the VM to the latest available version (by not specifying a version, just that it should upgrade itself), and the VM does not subsequently get updates to it's hardware version ever again unless you tell it to update it again, once a host is upgraded and there is an up

[2019-05-13 11:51] jonassteinberg1 commented on #56338
K so I've read the `docker_container` doc again.  I notice it says`Docker API >= 1.20` in the requirements sections.  I was just assuming that this was referring to the pip library `docker-api`, but I notice that the `docker-api` versions are `0.1.1, 0.1.2 or 0.1.3` so I guess the `docker-api` is the wrong module?  But if I remove the `docker` source I installed and then _remove_ the `docker-api`

[2019-05-13 12:02] jonassteinberg1 commented on #56338
Alright well for one:

I blew away all of my pip caches and reinstalled `docker 3.7.2`.
Then I actually _started_ the docker daemon.  That helps...
Now it's of course working...but I still don't get why it was pulling that other `docker hive` stuff.  I had uninstalled the `docker` lib a bunch of times.  I guess my pip cache was causing that?  Not sure.  Anyway feel free to close if you like; thoug

[2019-05-13 12:04] 0leksei commented on #26366
Please could you share your code? I'm looking for a fix for `include_rds_clusters_by_region` method. Thanks in advance!

[2019-05-13 12:06] jonassteinberg1 commented on #56338
having now corrected other errors in my ansible `tasks` logic containers are spinning :)

[2019-05-13 12:09] mkrizek commented on #56338
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-13 12:09] #56338 closed, assigned to nobody

[2019-05-13 12:38] manuBocquet commented on #55883
Could you reproduce the problem ? Do you need more information ?

Thanks for you help.

[2019-05-13 12:54] stdedos commented on #56302
It seems that `dense`/`ara` would be a starting point. Apologies for the unnecessary issue.

You may keep the task, if someone would plan to make debug output to have a `save-to-file` option, instead of having callback's output hardwired to only `stdout`

I have figured out I would need to make changes if I wanted to use e.g. `dense`/`debug` as stdout/"other" callback

[2019-05-13 12:56] AngelFreak commented on #45602
Is there any news on this ?

[2019-05-13 13:08] mnecas commented on #56305
Use larger `async` for example 180.

[2019-05-13 13:09] mnecas commented on #56305
close_me

[2019-05-13 13:17] #56305 closed, assigned to nobody

[2019-05-13 14:45] mburtless commented on #26366
@0leksei Unfortunately, since my post above I have switched jobs and no longer have access to the code in my fork, referenced above.  However, this is a pretty simple fix.  The goal is to just get a `aws_session_token` key set (for boto3 auth) and `security_token` removed in `self.credentials` before any call to `ec2_utils.boto3_inventory_conn()`.

IIRC this is as simple as adding something like t

[2019-05-13 15:11] mtraynham opened #56356 "azure_rm_resource idempotency fails for resources that have a list of dicts as a property"
##### SUMMARY
The [azure_rm_resource](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_resource.py#L301) uses [ansible.module_utils.dict_transformations.dict_merge](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/common/dict_transformations.py#L111) for it's idempotency check with the server.  It first merges the server's response with t

[2019-05-13 15:34] DefauIt commented on #44097
Just install `app-portage/gentoolkit` on gentoo hosts in your inventory file.

`emerge app-portage/gentoolkit`

[2019-05-13 16:01] jdiaz9 opened #56360 "Add --network-segment support for OpenStack os_subnet module."
##### SUMMARY
The os_subnet module works quite well for most use cases today, however, a relatively new feature in OpenStack known as routed provider networks requires that an OpenStack subnet be created with the --network-segment flag in order to place the subnet in the proper network segment.

More details:

https://docs.openstack.org/neutron/latest/admin/config-routed-networks.html

##### ISSUE

[2019-05-13 16:05] jdiaz9 opened #56361 "Proposal: Create OpenStack module to support create/delete/update network segments"
##### SUMMARY
A relatively new OpenStack feature known as routed provider networks requires network segments be created and tied to subnets within the same network.

Routed provider networks is quickly becoming a necessary implementation in large enterprise grade deployments where different racks/pods of compute nodes need to be added to the cloud.

A reference to routed provider networks: https:/

[2019-05-13 16:31] felixfontein commented on #56338
docker-api does **not** mean the Python module docker-api, but the API version of your docker daemon. docker-api is some random unrelated Python module which also uses the docker API and uses the same namespace as the official Docker SDK for Python.

It could be that since you installed both the `docker` and `docker-api` Python modules, you destroyed the installation of both. Pip doesn't handle mo

[2019-05-13 16:32] #34396 closed, assigned to nobody

[2019-05-13 16:37] jonassteinberg1 commented on #56338
Thank you for the timely response and yes I was aware of that issue.  The
'hive' thing is interesting because it **was** indeed residing in thr
../site-packages/docker-3.7.2/.. path so my theory is
that...well...actually I don't know what is going on there and I'm
surprised there was a file there of a 'brand' or whatever that you're not
familiar with...not quite sure how that would happen given _I

[2019-05-13 19:00] ChevyNovaLN commented on #56273
This is less critical to me personally as we found a way via PowerCLI to upgrade the hardware of a VM without having to specify a version,  but i'd like to avoid having to resort to PowerShell :)

$myvm = "my vm name"
$VM = get-vm $myvm
$VMConfig = Get-View -VIObject $VM.Name
$vmConfigSpec = New-Object VMware.Vim.VirtualMachineConfigSpec
$vmConfigSpec.ScheduledHardwareUpgradeInfo = New-Object -Typ

[2019-05-13 19:20] bcoca commented on #56302
callback outputs are not hard wired to stdout, Ansible just assumes there is at least ONE stdout type callback , but you can create a 'null' one if you want.

closing ticket then as this is all achievable via current callbacks.

[2019-05-13 19:20] #56302 closed, assigned to nobody

[2019-05-13 20:00] bcoca commented on #55883
@manuBocquet actually, the bug is that` import_tasks` is acting as a handler, it should not.. Only `include_X` should be invoked as a handler.

Your `import_task` should create 2 handlers in the end `Set fact` and `Debug msg`.

The fact that you cannot access the variable is puzzling, but probably due to the way imports work (which should not at all in this case).

[2019-05-13 20:02] sivel commented on #55883
In 2.8 we changed the behavior to disallow that.  https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.8.html#imports-as-handlers

[2019-05-13 20:40] stdedos commented on #56302
So, if I set:

[code]

Would that give me
1. `dense > /dev/stdout`
1. `debug > ~/some/file/here.log`

?

[2019-05-13 21:25] #56071 closed, assigned to goneri

[2019-05-13 21:54] jamesmontalvo3 commented on #30064
Seeing it on Ansible 2.7.10. Trying the TMPDIR fix...

[2019-05-13 23:05] apitanga commented on #51174
I replicated this issue as well @rambleraptor. I'm using boilerplate plays from the ansible docs and getting this every time I run the instance creation play using the same instance name:
[code]
I'm using:
[code]

[2019-05-13 23:47] apitanga commented on #51174
Here's another example.  I have the following play:

[code]

When I first create the instance `cloud-instance`, debug returns:

[code]

But running the same task a second time returns:
[code]

[2019-05-14 00:31] #53613 closed, assigned to nobody

[2019-05-14 07:03] carrascodc commented on #23142
5 hours of hair pulling, and I find this gem. Thank you @privateip

[2019-05-14 07:34] Akasurde commented on #56296
resolved_by_pr #56383

[2019-05-14 07:57] wica128 opened #56385 "ec2_asg adding MixedInstancesPolicy"
##### SUMMARY

AWS EC2 autoscaling , allows to specify MixedInstancesPolicy. So that you can use multiple instance type in a autoscaling group.

https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_MixedInstancesPolicy.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_asg

##### ADDITIONAL INFORMATION
It will allow to specify multiple instance types in a ASG.

For now, I have

[2019-05-14 08:53] Tomorrow9 commented on #45129
Hi @pratikkava1189, I had a try on RHEL 7.5 on vSphere 6.5GA environment, after clone and guest os customization, I did not see anything unusual in the OS.
Playbook I used:
- hosts: localhost
  tasks:
    - name: deploy vm from template and set network
      vmware_guest:
        validate_certs: no
        hostname: xx.xx.xx.xx
        username: xxxxxx
        password: xxxxxx
        esxi_hostnam

[2019-05-14 08:55] Tomorrow9 commented on #45129
Screenshot of the VM console of "ifconfig" output:
<img width="833" alt="Screen Shot 2019-05-14 at 4 54 08 PM" src="https://user-images.githubusercontent.com/41371902/57684731-f1633d80-7668-11e9-8f43-762350dd6f48.png">

[2019-05-14 08:59] Akasurde commented on #56296
@keirazhang Could you please check if PR #56383 works for you and let us know? Thanks.

[2019-05-14 09:01] Tomorrow9 commented on #45129
ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Nov 12 2018, 14:31:15) [GCC 7.3.0]

[2019-05-14 09:05] Akasurde commented on #38255
Closing this issue as PR #56382 is merged. If issue persists, please feel free to re-open.

[2019-05-14 09:05] #38255 closed, assigned to nobody

[2019-05-14 09:05] Akasurde commented on #41774
Closing this issue as PR #56382 is merged. If issue persists, please feel free to re-open.

[2019-05-14 09:05] #41774 closed, assigned to nobody

[2019-05-14 09:06] Akasurde commented on #42887
Closing this issue as PR #56382 is merged. If issue persists, please feel free to re-open.

[2019-05-14 09:06] #42887 closed, assigned to nobody

[2019-05-14 09:06] Akasurde commented on #44326
@Straevaras Could you please check if PR #56382 works for you and let me know ? Thanks.

[2019-05-14 09:08] Akasurde commented on #45129
needs_info

[2019-05-14 09:18] Akasurde commented on #35657
As per https://github.com/ansible/ansible/issues/35657#issuecomment-484342790 closing this. Thanks.

[2019-05-14 09:18] #35657 closed, assigned to nobody

[2019-05-14 09:20] Akasurde commented on #56086
@vijayscsa Could you please check @mycloudrevolution's solution and let us know if it works? Thanks.

[2019-05-14 10:40] JamKage commented on #14604
@gregdek @chouseknecht, is there any news on this? Currently our company is unable to use galaxy because of the severe security risk posed by exactly this issue! Thanks

[2019-05-14 10:46] pratikgadiya12 commented on #56059
I would like to work on this

[2019-05-14 10:49] Akasurde commented on #56273
@ChevyNovaLN Could you please check if PR #56391 and let me know if works for you ? Thanks.

needs_info

[2019-05-14 10:50] liuxinbot opened #56393 "[WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: ansible_{{k8s_cluster_net_interface_name}}.ipv4.address in groups['masters']"
##### SUMMARY
my task:
[code]
my inventory.ini :
[code]
my vars:
[code]
output: ```ansible-playbook -i inventory.ini install.yml -t lx```
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS
The task was executed successfully, but the warning was output. How can I avoid it?

[2019-05-14 11:21] mangellopez commented on #42064
Hi everyone

I am having the same issue with a new rhel 8. This issue occurs when I select minimal software collection to install on my new rhel 8 system.
To resolve, I have to install/adds perl pkgs on the newl rhel 8 installation (vmware template). I suppose vmware customization use perl scripts to setup new VM.

Regards.

[2019-05-14 12:17] theg4sh opened #56397 "state=directory and recursive=yes with symlink to the path throw an exception"
##### SUMMARY

Exception thrown on maximum recursion depth exceeded for directory with symlink to that directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module files

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Process link once per run.

##### ACTUAL RESULTS

Pyth

[2019-05-14 12:26] theg4sh commented on #56397
An option of solution
[code]

[2019-05-14 13:07] bcoca commented on #14604
Galaxy Repo Information
===================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a Ansible Galaxy, which lives in a separate repo.
We would appreciate if you can submit this there instead.

Submit issues or ideas to:
   * https://github.com/ansible/galaxy

Thanks!

[2019-05-14 13:07] #14604 closed, assigned to nobody

[2019-05-14 13:16] bcoca commented on #56393
you should write it:
``` when: "ansible_" ~  k8s_cluster_net_interface_name ~ ".ipv4.address in groups['masters']" ```

[2019-05-14 13:28] #55222 closed, assigned to Qalthos

[2019-05-14 13:42] bmalynovytch commented on #56059
@pratikgadiya12 Thank you.

[2019-05-14 13:53] justjais commented on #43313
@sheffner1226 Thanks for raising the issue, there's new set of resource modules to be released with Ansible `2.9` which will TC of this issue. I'll reference the PR once that's merged in `devel` and then close the respective issue.

[2019-05-14 14:09] Qalthos commented on #46725
We seem to be amenable to such a change if you're willing to open a PR.

waiting_on_contributor

[2019-05-14 14:12] kbreit opened #56402 "[WIP] New module - meraki_intrusion_prevention"
##### SUMMARY
Meraki added support for IPS configuration within the Dashboard API. A module should be created to support this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-05-14 14:14] Qalthos commented on #47527
Hey, this seems to be a duplicate of #43092, and so I will close this and direct further conversation about the issue there.

If you believe that this issue is substantially different than the above, feel free to reopen and make your case, and we will look at it again.

[2019-05-14 14:14] #47527 closed, assigned to justjais

[2019-05-14 14:14] ikhan2010 commented on #45602
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We really like this idea, particularly:

We are working on version 2 of Junos L2 interfaces and this issue is addressed as part of that.  We plan to release that module as part of 2.9.

It might take us a little while to get to this one. Just as a quick reminder of things, this is a really busy project. We have

[2019-05-14 14:18] justjais commented on #48913
@jchristopher327 with the template file from the output, I have tried reproducing the issue but for me the play is idempotent, so can u please share ur template file, so that I can run with your template file and test the issue again. Thanks

[2019-05-14 14:19] justjais commented on #48913
needs_info

[2019-05-14 14:19] Qalthos commented on #47965
Could you please update whether this is still an issue? I know a few changes have gone into this area since then and I am unsure of the current status.

needs_info

[2019-05-14 14:53] jackivanov commented on #49139
@bcoca I guess this should be clearly addressed as a bug, because Ansible loads the filters once started, and doesn't reload for each task.

The following playbook fails:
[code]

[2019-05-14 15:06] sleif opened #56403 "filesystem module not always idempotent after resize an ext4 fs"
filesystem module not always idempotent after resize an ext4 fs

##### SUMMARY

after resizing a modified partition the filesystem module is not idempotent anymore

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

filesystem
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

resize a partition
use filesystem module to resize th

[2019-05-14 15:16] ChevyNovaLN commented on #56273
@Akasurde Thanks for the update.  I've copied the updated vmware_guest.py module to our test server and when we run a playbook to provision (from template) a new VM,  we get a failure in vCenter.  The Ansible error is below:

fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to upgrade hardware version to latest The operation is not supported on the object. "}

In our playbook we de

[2019-05-14 15:16] Qalthos commented on #48280
Can you please retry on the latest version of ansible? I do not believe this should still be an issue.

needs_info

[2019-05-14 15:18] samdoran commented on #56204
Closing per solutions [here](https://github.com/ansible/ansible/issues/15575#issuecomment-215632261) and [here](https://github.com/ansible/ansible/issues/15575#issuecomment-376099702).

[2019-05-14 15:18] #56204 closed, assigned to nobody

[2019-05-14 15:19] samdoran commented on #56210
Closing per above documentation link. `ansible_ssh_common_args` can be set at a host or group var.

[2019-05-14 15:19] #56210 closed, assigned to nobody

[2019-05-14 15:22] bcoca commented on #15439
closing as dupe of #10374

[2019-05-14 15:22] #15439 closed, assigned to nobody

[2019-05-14 15:25] samdoran commented on #56042
We have a method that checks for Python reserved words. We need to use this on all variables. This will be a bit of work to cover all the places where we set variables, but it is something we should fix.

[2019-05-14 15:27] caleb15 commented on #56204
Those are not solutions, those are workarounds.  I already read those comments and I linked to that issue in my report.  As I said above:

[2019-05-14 15:27] sivel commented on #56042
As a note `ansible.utils.vars.isidentifier` can handle determining if the var name is allowed.

[2019-05-14 15:40] jimi-c commented on #56046
@Bleacks two things:

1) You should not mix include/import roles with dependencies. Using include/import allows a much finer-grained control of how roles are run versus the old way of just specifying them in the `roles:` list.
2) If you want to continue using deps, why specify all the roles in the list? Only specify the top level role and let the dependency resolution do what it's supposed to do.

[2019-05-14 15:43] sivel commented on #56047
The issue here is slightly complicated.

The TL;DR is that you should always quote your modes, and make them strings.

In longer form the problem has to do with octal->integer and integer->string conversions due to jinja2, and how python treats string modes.

What is happening is that you have supplied an octal represented by `0644`, this is internally (due to python) converted to the int of `420`

[2019-05-14 15:43] #56047 closed, assigned to nobody

[2019-05-14 15:53] samdoran commented on #56106
Since `tags` can be dynamic, we have no way to know what tags exist before play execution and cannot reliably report if a tag exists or not.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-14 15:53] #56106 closed, assigned to nobody

[2019-05-14 15:56] samdoran commented on #56113
This is most likely being caused by a lot of data in `stdout` causing the system to OOM. Use a quiet parameter of some sort or use `shell` and redirect output to `/dev/null`.

[2019-05-14 15:56] #56113 closed, assigned to nobody

[2019-05-14 16:02] Qalthos commented on #48282
ansible manages sessions on its own. It does this automatically unless `ANSIBLE_EOS_USE_SESSIONS` is set to false, which is not the default.

If what you want is to manage your own sessions with the `before` parameter, you will have to disable `ANSIBLE_EOS_USE_SESSIONS`, whereupon it will not create the `ansible_[timestamp]` session (nor will it commit the session you have created, though from you

[2019-05-14 16:02] #48282 closed, assigned to Qalthos

[2019-05-14 16:02] samdoran commented on #56144
Can you provide a few brief sample of files listed in `~/.ansible.tmp` (names and the contents of a few files)? We are aware of a bug in `url.py` that was storing a lot of unnucessary CA cert bundles for some cloud modules as well as plugins that don't have a module.

needs_info

[2019-05-14 16:04] Akasurde commented on #56273
@ChevyNovaLN OK. It would be good if you can provide me link to playbook.

[2019-05-14 16:28] sivel commented on #56321
A vault password file itself cannot be encrypted.  A vault password file must only contain a plain text password.  Otherwise, it can also be an executable script that returns a plain text password.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-14 16:28] #56321 closed, assigned to nobody

[2019-05-14 16:29] maxwell-k commented on #51439
This was discussed at the DaWG working group today: <https://meetbot.fedoraproject.org/ansible-docs/2019-05-14/>

This will block any version changer, or saying the same thing another way this must be resolved before merging #55655 (demo at <http://docs.testing.ansible.com/ansible/latest/index.html>)

The solution will need to be backported so that 2.6, 2.7, 2.8, and the devel branch all have the

[2019-05-14 16:53] wltjr commented on #44097
@DefauIt I believe they were pointing the playbook at a non-gentoo system. However, your suggestion is correct as the package in Gentoo presently lacks that dependency. Which is needed, because equery is used within the module. equery being part of gentoolkit, it is not likely to be installed otherwise, unless the user installed it directly or some other package brought it in as a dependency.

[2019-05-14 16:58] sivel commented on #56345
The difference here, between the documentation, and the example in this issue, is that your issue is caused by an undefined variable.

The undefined variable is encountered before we can template `ignore_errors`, and since `ignore_errors` is a string at that point, that is considered truthy in Python.

If your example was instead:

[code]

It would work as expected.

[2019-05-14 17:30] wltjr commented on #55365
resolved_by_pr

[2019-05-14 17:31] ChevyNovaLN commented on #56273
Here it is in all its glory.    Again, this is for provisioning a brand new VM,  not modifying an existing one.   It's currently all we're using Ansible for as far as vmware is concerned.   We use ServiceNow as our front-end and determine all of the values to pass as extra-vars prior to executing the provisioning yml.

---

  - name: Clone the template
    vmware_guest:
      hostname: "{{ vcenter

[2019-05-14 17:52] wltjr commented on #55365
resolved_by_pr #55967

[2019-05-14 18:03] DefauIt commented on #44097
Topic starter wrote about Gentoo:

**gkroon** wrote:

[2019-05-14 18:10] llchan commented on #28058
Hitting the same issue.  I suspect we might need to add an additional existence check around here:
https://github.com/ansible/ansible/blob/4a2fa464292d5519b414189f85e4134424266ea6/lib/ansible/parsing/vault/__init__.py#L373
and fall back to abspath when realpath doesn't exist.

[2019-05-14 18:11] #56296 closed, assigned to nobody

[2019-05-14 18:14] wltjr commented on #44097
@DefauIt it was incorrectly reported as

Gentoo

I am recalling from IRC, as we proceeded there once this issue was closed. Till the "ah ha" moment, where it was determined they were working with the wrong system. I can see about digging it out of IRC logs.

[2019-05-14 18:15] ShachafGoldstein commented on #46809
see https://github.com/ansible/ansible/pull/55013 - seems similer

[2019-05-14 18:20] s-hertel commented on #55365
Closing per above.

[2019-05-14 18:20] #55365 closed, assigned to nobody

[2019-05-14 18:26] wltjr commented on #55365
@s-hertel ty! I totally messed up auto closing...

[2019-05-14 18:30] selivan opened #56412 "acl: set muptiple entries at once"
##### SUMMARY

Add to acl module ability to set multiple ACLs in one time. `setfacl` command has this ability:

`setfacl -m u:foo:r-x -m u:bar:rwx -m g:baz:--- /some/path`

This will work much faster in cases when you need to set multiple ACLs on directory. Now you should do it with loops and that works slow.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

acl

##### ADDITIONAL INFORMATIO

[2019-05-14 18:32] cjvernay opened #56413 "vmware_vm_inventory plugin: 'InventoryModule' object has no attribute 'content'"
##### SUMMARY
Trying to use vmware inventiry plugin.... throws  'InventoryModule' object has no attribute 'content'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI

[2019-05-14 18:36] cjvernay commented on #56413
Seems to be collateral of fix for #56071

      field_mgr = []
        if **self.content**.customFieldsManager:
            field_mgr = **self.pyv.content.**customFieldsManager.field

[2019-05-14 18:39] s-hertel commented on #56104
@igoratencompass What version of Ansible are you using? Your description says `2.5.5` and the plugins should already be available with this version: https://github.com/ansible/ansible/tree/v2.5.5/lib/ansible/plugins/inventory. You shouldn't need to install things piece-by-piece.

[2019-05-14 18:40] bcoca commented on #11175
closing as paths are not going to change at this point for ansible.cfg.

But keeping this in mind if we ever switch to a new yaml based config file

[2019-05-14 18:40] #11175 closed, assigned to bcoca

[2019-05-14 18:46] llchan commented on #28058
Got it working, but additionally needed to add some fallback behavior to this spot: https://github.com/ansible/ansible/blob/0d2a1204544e0fe1fb6ea8075b35c21131553d27/lib/ansible/utils/path.py#L57
because it calls realpath pretty early on in the CLI parsing too.  I'll see if I can put together a PR.

[2019-05-14 18:57] mattclay commented on #56124
@jillr It looks like this is only an issue for new buckets, not existing ones.

So while this is something that would be good to change, it's not urgent.

[2019-05-14 19:11] BentCoder commented on #56321
Old days I would create a password file which would contain hashed version of my actual password.

And then I would use this file to encrypt and decrypt other files without seeing/entering the password.

This was all perfect for security reasons because neither myself nor other developers needed to know what the actual password was. I would happily give `password.yml` to developers and also commit

[2019-05-14 19:13] jeking3 commented on #37259
Boot diagnostics support was just merged to devel for the 2.9 release.

[2019-05-14 19:16] zikalino commented on #37259
@jeking3 thanks a lot for this contribution! sorry it took some time to review and merge.
I am closing the issue.

[2019-05-14 19:16] #37259 closed, assigned to zikalino

[2019-05-14 19:21] jillr commented on #56124
Yeah the after-the-fact clarification was very helpful. https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

[2019-05-14 19:32] wvidana commented on #56144
@samdoran The files looks like this:
[code]

`ansible-local-...` are folders. Then the `ansible-ec2-...` looks to be related to the AWS inventory since the `XXX` is actually an access key.

I'm also seen some folders like `ansible-tmp-1515600295.48-261114219260732` from a year ago, so I'm going to assume those were solved on some recent versions of ansible.

[2019-05-14 19:33] sivel commented on #56321
Ok, so I know what changed, and what was happening for you in the "old days".

In the "old days" (before Ansible 2.5), you were literally using the encrypted text located inside of `password.yml` as the password.  So you were not doing anything good for security.  It wasn't using the original password, it was literally using the full contents of `password.yml` as the password.  So everyone did act

[2019-05-14 19:40] rephlekt commented on #55447
@rohitthakur2590 Sorry for the delay, here are my results from your suggestions.

Below is the output after changing the prompt value to "Activity within this shell can jeopardize the functioning" and raising the command timeout value to 60. As you can see it does not differ dramatically from the previous output:

[code]

[2019-05-14 19:45] BentCoder commented on #56321
Thanks :+1:. I'll have to check that later on.

[2019-05-14 19:46] rephlekt commented on #55447
This is the typical output when connecting to the device and entering the shell:
[code]

[2019-05-14 20:31] bcoca commented on #11175
re implementing how config works to be mergeable and hierarchical gives the me license of setting a new 'discovery path' and leave the current ansible.cfg as for those that don't want to move to the new option.

[2019-05-14 20:32] sleungtoast opened #56416 "Add "Slow Start Duration" parameter to ELB target group"
##### SUMMARY
Add a new configurable field in AWS ELB target groups named "slow_start.duration_seconds" (https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#slow-start-mode)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/amazon/elb_target_group.py

##### ADDITIONAL INFORMATION

[2019-05-14 21:14] maxamillion commented on #51284
@Timoses unfortunately not, I've been under water with other priorities ... I haven't forgotten about it, but I've just not had a chance to circle back to it. Apologies.

[2019-05-14 21:34] #55938 closed, assigned to nobody

[2019-05-14 22:27] pilou- commented on #56215
I tried to reproduce this issue with @mscherer without success. Following versions were tested:
* 2.7.10
* current devel

This error occurs when `letsencrypt` fails to validate the dns challenge (status of the challenge can be checked using URI specified in` challenge_out` and related to `dns-01` challenge).
It might not be an issue but a real error. @amatacchieri could you share anonymized logs o

[2019-05-14 22:32] ShachafGoldstein commented on #55283
There is no way to change the netbios itself (what we talked in the meeting tonight).

the only applicable change is `$current_computer_name = (Get-CimInstance -Class Win32_ComputerSystem).DNSHostname` like #56279

[2019-05-14 22:35] jborean93 commented on #55283
It looks like it may actually be possible, just that it will break other things https://docs.microsoft.com/en-us/windows/desktop/api/sysinfoapi/nf-sysinfoapi-setcomputernameexw.

[2019-05-14 22:37] ShachafGoldstein commented on #55283
i really don't think anyone will ever do or should do that.

[2019-05-14 23:44] igoratencompass commented on #56104
@s-hertel that was from 2.4.4 instance sorry for mixing it up. I guess I'm screwed on this version and left without any solution but upgrading ansible which is not possible atm. Regarding the plugins install, on that box I have ansible installed via pip which, from what I can see, does not install the plugins automatically like in case of package installer.

On 2.5.5 I get the following warning:

[2019-05-15 00:28] victorock commented on #37649
this issue still exists... in 2.7.10
Banner should be able to match `\u0003`

[2019-05-15 00:34] victorock commented on #53910
When running against multiple devices, the connection management doesn't seems to use the correct socket file. It seems to reuse a connection from a different device, the result is that in some devices the file is not uploaded correctly.

[2019-05-15 01:05] ericsysmin opened #56426 "gcp_container_cluster does not support cluster_version, min_nodes, max_nodes, labels (cluster labels)"
##### SUMMARY
gcp_container_cluster does not support `cluster_version`, `min_nodes`, `max_nodes`, `labels` (cluster labels)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_container_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Being able to specify those values for the cluster creatio

[2019-05-15 02:08] Akasurde commented on #56413
@cjvernay Thanks for reporting this.

[2019-05-15 02:08] jacksonp2008 opened #56428 "VMware: vmware_host_vmnic_facts failing"
##### SUMMARY

running vmware_host_vmnic_facts and it errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_vmnic_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ESXI 6.5

##### STEPS TO REPRODUCE

Doc sez:
This module can be used to gather facts about vmnics available on the given ESXi host.
If cluster_name is provided, then vmnic fac

[2019-05-15 02:09] jeking3 commented on #37259
I did not implement part 1 which was "Auto-shutdown" so you might want to keep this open.

[2019-05-15 02:28] sobedrinker42 commented on #50720
@BarbzYHOOL - `--skip-tags` is defined pretty well in the docs: https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html

essentially, if you use a tag in your `meta/main.yml`, every task in the role is inheriting the tag that you defined. so using your example:

`ansible-playbook my_book.yml --skip-meta`

if you use (assuming you're using tags in your `meta/main.yml` file:

`ansible

[2019-05-15 03:53] ghost opened #56430 "postgresql_pg_hba TypeError: then pg_hba.conf is wiped"
Running ansible-playbook 2.9.0.dev0

The problem is that using postgresql_pg_hba results in this error:

TypeError: 127.0.0.1/32 and ::1/128 are not of the same version

And then the pg_hba.conf file is wiped.

A similar error occures if the address 192.168.0.0/24 is used in the playbook.

[code]

This is the playbook:

[code]

This is the output from running the playbook:

[code]

And on the targ

[2019-05-15 04:50] Akasurde commented on #56428
Similar to https://github.com/ansible/ansible/issues/44758

@jacksonp2008 Could you please try this PR https://github.com/ansible/ansible/pull/47278 and let me know if it works for you ? Thanks.

needs_info

[2019-05-15 05:11] isen-ng opened #56433 "Mount module does not have a state that only removes fstab entries"
##### SUMMARY
* `mounted`: Mount device, and then add fstab line (and create mount point)
* `unmounted`: Unmount without removing fstab line
* `present`: add fstab line only
* `absent`: Unmount device, and then remove fstab line (and remove mount point)

What's missing that is useful is an option to remove fstab line only. This is because there are mounts that cannot be unmounted using `umount` so

[2019-05-15 05:32] #56290 closed, assigned to Akasurde

[2019-05-15 05:57] yuwzho commented on #54607
close_me

[2019-05-15 06:04] #54607 closed, assigned to nobody

[2019-05-15 06:35] #39627 closed, assigned to nobody

[2019-05-15 06:45] #52582 closed, assigned to maxamillion

[2019-05-15 07:53] evgeni opened #56437 "is_chroot fails on xfs as non-root user"
##### SUMMARY

[code]

My best guess is that's because `os.stat('/').st_ino` on XFS is 128 and not 2, but the code can't check it as the user has no access to `/proc/1/root/.`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module_utils/facts/system/chroot.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* RHEL8
* Python 3.6

##### STEPS TO REPRODUCE
Ru

[2019-05-15 08:08] evgeni commented on #56437
verified this also happens on EL7

[2019-05-15 08:21] pilou- commented on #56215
component: acme_certificate

[2019-05-15 08:25] felixfontein commented on #56215
needs_info

[2019-05-15 08:26] felixfontein commented on #56215
FYI: I've last used acme_certificate in combination with route53 ~10 days ago, back then it worked. (Must have been some 2.8.0 beta / RC with which I tried it -- which should equal the `devel` version, and essentially also the `stable-2.7` version.)

[2019-05-15 08:34] felixfontein commented on #56215
!component =lib/ansible/modules/crypto/acme/acme_certificate.py

[2019-05-15 08:52] felixfontein commented on #56215
bot_status

[2019-05-15 09:09] zhaolx01 opened #56441 "ansible 2.7 ,module ec2_facts has been removed,All I know is how does IP go to what turn off the device"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-05-15 09:32] amatacchieri commented on #56215
Hi @pilou- ,
The full log [here](https://pastebin.com/prTc3Pmh).
Is defintely so strange, the TXT record matches the one requested in the challenge, and the one showed in the error as well.

Antonello

[2019-05-15 09:56] panticz opened #56443 "Add protected parameter to os_image"
##### SUMMARY
OpenStack SDK allows to protect a image from beeing deleted with the "--protected" parameter with is currently not avaiable in Ansible os_image module.

https://docs.openstack.org/python-openstackclient/latest/cli/command-objects/image.html
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/o

[2019-05-15 10:00] 29x10 opened #56444 "Broken pipe when enabling pipelining with ControlPersist on"
##### SUMMARY

Broken pipe when enabling pipelining with ControlPersist on

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/config/base.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

In `https://github.com/ansible/ansible-examples/blob/master/lamp_simple/roles/common/tasks/main.yml`
1. only keep template t

[2019-05-15 10:12] cdelgehier commented on #56345
OK
[code]
[code]
[code]

[2019-05-15 10:16] pilou- commented on #56215
@amatacchieri it looks like the DNS TXT record isn't set (real domain appears in link present in the pastebin), the following command doesn't return the TXT record:
[code]

[2019-05-15 10:31] termlen0 opened #56446 "regex_replace does not work with the "file" lookup"
##### SUMMARY
The `regex_replace` filter does not work when used within a file lookup

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

regex_replace filter
##### ANSIBLE VERSION

[code]
FYI: Also tried with 2.8.0

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4

##### STEPS TO REPRODUCE

[code]

Where the dir structure looks as follows:

[code]

##### EXPECTED RESULTS

The conte

[2019-05-15 10:34] amatacchieri commented on #56215
@pilou-
As mentioned for privacy purpose I need to hide the real company domain name. The TXT is correctly resolved, as actually marked as "found" in the log:

`    "msg": "Authorization for antotempdev-twr-1.foodomain.com returned invalid:  CHALLENGE: http-01; CHALLENGE: dns-01 DETAILS: Incorrect TXT record \"MEoMzDPlffPxPwUTRvx0_RIALwya1gb0HfrGxZ_8NvM\" found at _acme-challenge.antotempdev-twr-1

[2019-05-15 10:56] bngsudheer opened #56449 "aruba_command fails with an error message"
##### SUMMARY
aruba_command fails to work. I tested with the show version command and the module returned an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aruba_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target device: Aruba IAP 205

Name:  Aruba Operating System Software
Type:  205
Build Time:  2018-11-13 18:24:16 UTC (build 67757) b

[2019-05-15 11:18] pezzak commented on #43027
It is because python (or ansible?) converts
{ "src-protocol": "amqp091", "src-uri": "amqp://user:pass@/", "src-queue": "my_src_queue", "src-prefetch-count": 10, "dest-protocol": "amqp091", "dest-uri": "amqp://user:pass@target/", "dest-queue": "my_dest_queue" }
to
{ 'src-protocol': 'amqp091', 'src-uri': 'amqp://user:pass@/', 'src-queue': 'my_src_queue', 'src-prefetch-count': 10, 'dest-protocol': 'a

[2019-05-15 11:21] jeking3 commented on #49659
Here's something I had written a while ago for azure_rm_image to enhance its capabilities but it looks like I never submitted it, so I am polishing this up... it may be useful in solving the concerns here:

[code]

[2019-05-15 11:49] BlackestDawn opened #56451 "NetBox IP address: Getting new ones registers 2 per request."
##### SUMMARY

When asking Netbox for a new unused IP within a prefix is marks two as "used" but only return one of them. This is happens per request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

netbox_ip_address

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS running in a VM on VMware.
Netbox running in docker, https://github.com/net

[2019-05-15 12:09] mnaser commented on #56443
resolved_by_pr #54114

[2019-05-15 12:51] manuBocquet commented on #55883
The problem is still present with include_tasks.

my inventory file (unknown_host.unixdev.ca is a fake server, does not exist):

[code]

my playbook:

[code]

tasks/test_handlers5.yml :

[code]

**Sometime it work:**

[code]

**Sometime it does not work:**

The problem comes when it tries to assign a value to a host that has been taken out of the inventory.

[code]

[2019-05-15 13:03] 29x10 commented on #56444
!component=lib/ansible/config/base

[2019-05-15 13:14] manuBocquet commented on #55883
I use this command for testing

`a=4; while [[ $a == 4 ]]; do ansible-playbook ./test.yml -i inventaire -vv; a=$?; sleep 1; done`

Problem happens in 1% of cases

[2019-05-15 13:22] jflorian commented on #48134
Later arrival here.  My use case is a very simple `mount -o remount,rw /boot/efi` to deal with the horribly fragile FAT filesystem on a Raspberry Pi.  Embedded devices are hard(er) to service and frequently are powered off w/o any formal shutdown.  So I prefer to keep them RO, but would like to Ansible to remount RW for doing things like updates.  This issue looks the nearest to my need.

My 2 cen

[2019-05-15 13:23] benjdudas opened #56455 "`nxos_snmp_community` failing when json formatting is not supported on the NXOS version"
##### SUMMARY
If the NXOS version does not support pipping to json the `nxos_snmp_community` module will fail with:
[code]
Invalid Command:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_snmp_community

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

If JSON formatting is unavailable on the NXOS version then

[2019-05-15 13:31] blacksaildivision opened #56458 "Version of YUM too old for autoremove, but it is installed in proper version"
##### SUMMARY
I tried to use yum module with autoremove option, but I get following error: `Version of YUM too old for autoremove: Requires yum 3.4.3 (RHEL/CentOS 7+)` despite the fact, that yum is installed with `3.4.3 version`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Output of `cat /etc/redhat-re

[2019-05-15 13:33] denngie commented on #53110
@eightbitdino I had the exact same issue and hopefully my PR gets merged without any fuzz

[2019-05-15 13:39] Akasurde commented on #56441
Hi @zhaolx01 !

Use `ec2_instance_facts` instead.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by ther

[2019-05-15 13:39] #56441 closed, assigned to Akasurde

[2019-05-15 13:58] BentCoder commented on #56321
I looked at the PR and tried what it says there but still getting errors such as (_I am definitely doing something wrong or missing something_):

In order not to waste your time any further with my questions, if you don't mind I think it would be better if you kindly could show me a step by step example. If you don't that's still ok.

1. **Create** a 'vault_password.txt' file which contains hash o

[2019-05-15 14:03] trishnaguha commented on #56037
@hwali Will you please upgrade your Ansible version to 2.7 and run the playbook?
needs_info

[2019-05-15 14:13] jctanner opened #56462 "misleading playbook error when tasks is not a list"
##### SUMMARY
A playbook with a slight typo on the tasks list (missing a hypen for the list item) produces a very confusing error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yamlloader, parser, errors, etc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Some error indicating the tasks should be

[2019-05-15 14:14] remyleone opened #56463 "Problem with jinja2 import in ansible-test"
##### SUMMARY

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]
There is no version for ansible-test

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

docker gitlab-ci

##### STEPS TO REPRODUCE

ansible-test integration --no-temp-unicode unsupported/scaleway_user_data

##### EXPECTED RESULTS

I expect scaleway_user_data integration test to run.

[2019-05-15 14:15] #56413 closed, assigned to Akasurde

[2019-05-15 14:17] benjdudas opened #56464 "Selective callback incorrectly reports FAILED on looped items"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- plugins/callback/selective

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

OK color and indicator.

##### ACTUAL RESULTS

[code]

[2019-05-15 14:26] jctanner commented on #56462
!component =lib/ansible/playbook/play.py

[2019-05-15 14:27] #55886 closed, assigned to nobody

[2019-05-15 14:28] sampsont commented on #42090
Can I get an ansible update where this issue is fixed?
The version at:
`http://ppa.launchpad.net/ansible/ansible/ubuntu bionic`
doesn't work. (2.7.10-1ppa~bionic)

[2019-05-15 14:47] derekvincent commented on #47301
I am having the same issue with ansible 2.7.10. The server is an EC2 instance and I am creating a VG with multiple physical devices.

[code]

[2019-05-15 15:06] flloreda opened #56467 "VMware: vmware_guest.py ignores esxi_hostname when creating a new vm"
##### SUMMARY
vmware_guest.py ignores esxi_hostname when creating a new vm
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Container running RHEL 7.6

##### STEPS TO REPRODUCE

Executing the following Playbook ignores the esxi_hostname , creating the vm on a different esxi
[code]

[code]

##### EXP

[2019-05-15 15:11] f-hrtmnn opened #56468 "vmware_guest: Clone from template failed"
##### SUMMARY

I cannot clone any vm from a vmware template
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

esxi 6.0
ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  an

[2019-05-15 15:28] dentarg opened #56470 "win_uri, win_get_url lacks default User-Agent header"
##### SUMMARY

The `win_uri`, `win_get_url` modules both lack a default User-Agent header. Certain websites block requests when they lack the User-Agent header (one example is https://api.github.com/). This is confusing and hard to find out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`win_uri`
`win_get_url`

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 2016

##### STEP

[2019-05-15 15:30] dentarg commented on #39587
@dagwieers @jborean93 Re: `http_agent`, a default user-agent would be good for `win_uri` and  `win_get_url`, see https://github.com/ansible/ansible/issues/56470

[2019-05-15 15:33] pilou- commented on #56215
`TXT` is correctly resolved but the `Incorrect TXT` comes from letsencrypt too.
Could you test using this playbook (ACME staging server is used) ?
`assert` task should not fail, `status` in last `debug` task should be `valid`.

[code]

[2019-05-15 15:37] fhnbg commented on #56468
issue can be closed. datastore parameter was missing

[2019-05-15 15:37] #56468 closed, assigned to nobody

[2019-05-15 15:40] s-hertel commented on #56104
@igoratencompass Ah, I see what's happening. If you rename config_aws_ec2.yml to config.aws_ec2.yml that should work on 2.5. The method to verify expected files was loosened in 2.7 as well as providing a better debug message to indicate why a file is rejected. It would be nice to backport those improvements to 2.5 but that version is security-fixes-only at this point.

[2019-05-15 15:45] #56142 closed, assigned to nobody

[2019-05-15 15:49] mikev1963 opened #56471 "reboot Module - Centrify DZDO"
##### SUMMARY
DZDO (Centifry) has issues with reboot module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

reboot

Ansible cannot find the shutdown command
Error was /bin/sh: shutdown: command not found, Shared connection to servername closed.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

#####

[2019-05-15 15:54] mattclay commented on #56463
By default `ansible-test` will not install any requirements needed to run tests. You either need to run with an environment option such as `--tox` or `--docker`, or tell `ansible-test` that you want it to install requirements for you with `--requirements`.

Tests will fail if requirements are missing. In this case because Jinja2 has not been installed and is required by Ansible itself.

[2019-05-15 15:54] #56463 closed, assigned to nobody

[2019-05-15 16:09] moolinet commented on #37262
Hello,

Our setup:
system: Ubuntu 18.04 LTS
ansible 2.6.5
python-ncclient  0.6.0-1

We spent a whole day trying to get this working until we found this bug report.
It's now working although with the following caveats:

inventory file:
`[juniper:vars]`
`ansible_network_os=junos`
`ansible_connection=netconf`

Does not work:
`#ansible.cfg`
`[netconf_connection]`
`ssh_config = 1`

Fixed with:
`export

[2019-05-15 16:24] matthgyver opened #56472 "Bug in na_ontap_snapshot_policy module"
##### SUMMARY

I'd like to create a policy with different schedule inside like this by exemple :
* my policy
  * schedule = daily / number of copy = 7
  * schedule = weekly / number of copy = 4
  * schedule = monthly / number of copy = 2

Only the first schedule is take.
Moreover, edit a policy does'nt work

Another question : is it possible to set snapmirror label ?
##### ISSUE TYPE
- Bug Report

[2019-05-15 16:30] secret104278 commented on #20802
Im using `ansible 2.7.10` with `python version = 3.7.2`, the `retries` seems to work correctly.

There is ldap running on my server which listen on port **389**
So if i run this
[code]
And the output is
[code]

If i try
[code]
then the output is
[code]

[2019-05-15 17:11] jeking3 commented on #20802
The point of this issue is to determine what happens when `until` is removed.  You provided it for both tests.

[2019-05-15 17:35] Bezier89 commented on #54250
@dagwieers @ShachafGoldstein I'm also hitting this bug. I'm targeting a Windows 10 version 1703 machine. `auto`, `disabled`, and `manual` all update the service status correctly, only `delayed` is broken. It seems to just act as an alias for `auto`. I've tested with Ansible 2.7.2 and 2.7.10, both experience this bug.

This same bug was filed last year at https://github.com/ansible/ansible/issues/4

[2019-05-15 17:44] m3adow opened #56481 "group module: "local:yes" ignores existing GIDs"
##### SUMMARY
When using `local: yes` in the **group** module, GIDs  are always forced, ignoring existing GIDs and therefore allowing duplicate GIDs. This also happens no matter the value of the recently added `non_unique`. The reason for this can be found in the help output of the used `lgroupadd`:

<code>-g, --gid=NUM         gid to <b>force</b> for new group</code>

##### ISSUE TYPE
- Bug Repor

[2019-05-15 18:19] samdoran commented on #56144
The `ansible-ec2-*` files are generated by the community supported `ec2.py` inventory script. From looking through that file, it is handling its own caching and doesn't appear to do any cleanup. Switching to the [`aws_ec2`](https://docs.ansible.com/ansible/devel/plugins/inventory.html#using-inventory-plugins) inventory plugin, which uses Ansible's caching plugins, would prevent those `ansible-ec2-

[2019-05-15 19:36] samdoran commented on #56471
This was fixed by #49777, available in Ansible 2.7.6 and later. Can you please test with a newer Ansible version and see if the issue has been resolved?

needs_info

[2019-05-15 19:48] samdoran opened #56488 "ansible-config creates empty temp dir and does not remove it"
##### SUMMARY
Running `ansible-config` creates two temporary directories but only removes one of them.

Related to #56144

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/config/manager.py`
`bin/ansible-config`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE
[code]

With every run of `ansible-config [action]` a

[2019-05-15 19:55] samdoran commented on #56488
I've narrowed it down to this section of `ensure_type()`

https://github.com/ansible/ansible/blob/d55823b01365732b3391d79f2d2c168dbc3c4f2d/lib/ansible/config/manager.py#L107-L112

which is called from `constants.py` when generating constants from the default config.

So a new tempfile gets created, and we call `shutil.rmtree(C.DEFAULT_LOCAL_TMP, True)` which removes one temp file but not the one c

[2019-05-15 20:17] adrianovieira opened #56489 "npm doesn't install "fibers" node module"
##### SUMMARY

I'm trying to install `fibers`via npm module, but it doesn't work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: ***npm***

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- target OS versions: Red Hat/CEntOS 7

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Node module **`fibers** instaled for `myapp`

##### ACTU

[2019-05-15 20:36] #55304 closed, assigned to bcoca

[2019-05-15 21:07] sveemani opened #56493 "Store ssh passphrase for another session"
##### SUMMARY
Store  ssh passphrase for  another session.
I have a set of ansible client servers  accessible from ansible engine using ssh-key and passphrase.
When I  run a ansible ad-hoc  command , I have to enter passphase on each servers connections and this is repeating for all the tasks.

However from github search , find a way to reduce the enter the passphrase only one time  by using the  s

[2019-05-15 21:23] doubleplush commented on #37620
Took a stab at adding this feature in PR #56244 by adding the 'add_members' and 'remove_members' states.

[2019-05-15 22:42] Setheck commented on #46485
I seem to be running into this issue in 2.7.10 has it regressed?

[2019-05-15 23:29] ShachafGoldstein commented on #56470
Maybe this should be mentioned in docs and not implemented specifically

[2019-05-15 23:36] ShachafGoldstein commented on #25952
@jborean93  @nitzmahone  - I guess this one can be closed?

[2019-05-15 23:39] ShachafGoldstein commented on #34675
@jborean93 @nitzmahone - Seems like this issue can also be closedfor lack of activity

[2019-05-15 23:46] ShachafGoldstein commented on #38571
This is still the case nowadays, I haven't seen any other issues regarding the . (dot).

would you still want this to be discussed?

[2019-05-15 23:49] jborean93 commented on #56470
We already have an issue tracking this difference at https://github.com/ansible/ansible/issues/39587 (I see you've also commented on it). There's nothing from stopping you from setting the header yourself as you've mentioned.

I'm going to close this as this is being tracked in 39587, I've got a WIP PR to add the ability to set this as an actual module option but it's still going through some rewr

[2019-05-15 23:49] #56470 closed, assigned to nobody

[2019-05-15 23:50] jborean93 commented on #25952
I cannot reproduce this, the setup module has gone through a few iterations since this issue was reported. If you are still coming across this issue please comment and I'll re-open it.

[2019-05-15 23:50] #25952 closed, assigned to nobody

[2019-05-15 23:51] jborean93 commented on #34675
Yep I agree with @dagwieers, you can use `win_feature` to install these tools.

[2019-05-15 23:51] #34675 closed, assigned to nobody

[2019-05-15 23:57] ShachafGoldstein commented on #26277
Still relevant to current versions?

[2019-05-16 00:02] ShachafGoldstein commented on #36758
This should be changed to a feature request if still needed

[2019-05-16 00:03] jborean93 commented on #26277
Yes it is but there really is no way to automatically get the error message without adding our own manual conversions.

[2019-05-16 00:08] reshippie opened #56495 "Group module fails if local: true, state: absent, and group exists in centralized management"
##### SUMMARY
If `local: true` is specified, trying to remove a group that exists in centralized management results in a failure.

This is in part because the `group.group_exists()` tests for the existence of a group using the python `grp` module which cannot distinguish between local and centralized groups.  Since `grp` reports the group exists, `group.group_del()` is called.  There `command_name

[2019-05-16 00:10] ShachafGoldstein commented on #31521
Maybe use these from `root\wmi` namespace in the disk facts module?
[code]

[2019-05-16 00:18] ShachafGoldstein commented on #51865
ansible_interfaces has the domain info you need, the fqdn should not have the domain suffix of a dns zone that is not the domain that computer is joined to.

the term domain is used in a lot of places in the IT world with different meanings

[2019-05-16 00:42] ShachafGoldstein commented on #32478
https://github.com/ansible/ansible/blob/183ba93ba39f8590af8e36144c3174920acbe321/lib/ansible/modules/windows/win_firewall_rule.ps1#L147

IF this line will be changed to filter the rule based on more then the name, it should solve the problem
here adding the profile option should do the trick

[2019-05-16 01:17] ShachafGoldstein commented on #26277
Trying to follow this lead: https://docs.microsoft.com/en-us/cpp/cpp/com-error-class?view=vs-2019

[2019-05-16 02:41] willthames commented on #56144
ec2 inventory script is deprecated in favour of aws_ec2 plugin - so no plans to fix that part of this issue.

[2019-05-16 03:12] guo1017138 opened #56500 "wait_for_connection doesn't work with jumphost"
##### SUMMARY

I have use case that some target machines may not reachable directly(in private subnet only), but can be reachable via a third machine(jumphost). All the common ansible modules works without issue but wait_for_connection will fail to connect to the machines in private subnet. It only works for the machine with directly access.

##### ISSUE TYPE
- Bug Report
Take a look at the follow

[2019-05-16 04:42] sac opened #56501 "lvg: Behavioral change in volume extend between versions 2.7 and 2.8"
##### SUMMARY

In version 2.7 volume extend would work if the existing volume group was provided and the disk to extend was provided. For example:

- name: Extend volume group
  lvg:
     state: present
     vg: foo_vg                # Existing volume group
     pvs: "/dev/sdc"         # disk to be extended. Which was not part of foo_vg
     pv_options: "--dataalignment 256K"

Since /dev/sdc was n

[2019-05-16 05:09] m4r10k commented on #41577
I have not tested it for a while, but I will have a look into it once more as we have already a newer VSphere version on-premises now too. I will gave feedback in the next view weeks.

[2019-05-16 05:21] yuwzho commented on #55759
resolved_by_pr #55854

[2019-05-16 05:25] yuwzho commented on #51751
close_me

Close this, feel free to reopen it if still have problem

[2019-05-16 05:27] yuwzho commented on #56356
@zikalino Please take a look

[2019-05-16 05:36] #55759 closed, assigned to yungezz

[2019-05-16 05:38] #51751 closed, assigned to yungezz

[2019-05-16 05:43] yuwzho commented on #55047
resolved_by_pr #55203

[2019-05-16 05:52] #55047 closed, assigned to zikalino

[2019-05-16 07:47] lanoxx commented on #51865
Hello @ShachafGoldstein,

thank you for your response. I have two questions about this:

1. I believe that the machine in question is actually part of a domain. AWS assigns it both a hostname and a domain. The Windows machine is however not part of an Active Directory domain. But as you write domain can mean various things in the IT world today. In this issue I am not talking about active director

[2019-05-16 07:54] evgeni opened #56504 "dnf fails to install module streams unless both stream and profile are named"
##### SUMMARY
I am trying to  install a module on RHEL8 and/or Fedora29 and fail to do so unless I pass both the stream and profile.
Depending on the syntax used the module either errors out or says that the module is already installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf
##### ANSIBLE VERSION

[code]

also happens with
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2019-05-16 08:14] lanoxx commented on #56221
The bug is certainly in `psexec`, not in this module. I was just suggesting to improve the documentation to make people aware of this issue. It cost me quite some time to analyze the problem, because Ansible was failing on some hosts but not on others and it was not clear to me at first if this was a problem in Ansible or psexec. To make this worse I actually discovered a very similar bug in Ansib

[2019-05-16 08:24] worldmind commented on #46780
I have the same problem without delegating_to:
[code]
Fail
[code]
But if src is absolute path
[code]
Success
[code]

[2019-05-16 08:50] amatacchieri commented on #56215
The suggested code doesn't run, atom shows multiple issues on the syntax, and the run throws [syntax errors](https://pastebin.com/G4FyYaTz):

[2019-05-16 09:09] captainjs commented on #20802
Ok but is there anyone working on ensuring that there's at least a warning when there's only "reply" and no "until"? So that the user can see it's ignored?

[2019-05-16 09:31] xinau opened #56505 "ansible-pull support changing working directory to sub-directory"
##### SUMMARY

atm. `ansible-pull` does not support having the "ansible" folder in a sub-directory and running the playbook from the sub-directory.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`ansible-pull`

##### ADDITIONAL INFORMATION

for example a project with the following project layout is unable to successfuly run `ansible-pull` since `foo` is defined in `ansible/group_vars/all/

[2019-05-16 09:49] webknjaz commented on #46650
Hey @geerlingguy, can you confirm the ulimit suggestion?

[2019-05-16 10:30] loockass opened #56507 "[gluster_volume] Create volume with type replicated not distributed"
##### SUMMARY

Add option to choose type of gluster_volume, because now it creates distributed volume and I don't see an option to other type in documentation

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- gluster_volume
##### ADDITIONAL INFORMATION

[code]

[2019-05-16 10:55] rosmo commented on #56507
@loockass, the volume type is specified by specifying one of the options stripe|replica|disperse. To create a simple, non distributed volume, just specify replica: 2.

[2019-05-16 10:58] webknjaz commented on #48134
Just to clarify: the position of Ansible Core team is that one module should do one thing. That's why we want a separate module with a distinct purpose.

[2019-05-16 10:58] xinau commented on #56505
Never mind I resolved my use case by using the `playbook_dir` variable

[2019-05-16 10:59] #56505 closed, assigned to nobody

[2019-05-16 11:30] webknjaz commented on #56333
Ref: https://github.com/ansible/ansible/issues/28952#issuecomment-439196572 (@edgewood)

[2019-05-16 11:47] RonnyPfannschmidt commented on #56333
good find, thanks

[2019-05-16 11:59] fernandezcuesta commented on #51174
Happening here as well, as far as I could fetch from logs is that GCP instances with metadata always return 'changed = True' even if they're not.
There's a [TODO note](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_compute_instance.py#L1177) pointing to that direction.
Anyway, even if the instance has changed, it should still return the fetched information, whic

[2019-05-16 12:45] jflorian commented on #48134
Yes, I read that several times throughout the thread.  However, there seems to be at least two ways of seeing this "one thing".  For some, myself included, that one thing is "managing mounts".  Others, and apparently you, see that one thing as how that management is actually achieved.  I don't buy a calculator expecting it to do spell checking, but I do expect it do *multiple* math operations.

[2019-05-16 12:52] webknjaz commented on #48134
We aim to keep the number of module arguments. If it's big it's a sign that it's already doing too much. This leads to a combinatorial explosion of arg combos which is both hard to support/maintain and keep well-tested.

[2019-05-16 13:36] nmasse-itix opened #56510 "Discrepancy between no inventory and the localhost entry in an inventory"
##### SUMMARY

The default "127.0.0.1" host used by ansible when there is no inventory and a `localhost ansible_connection=local` entry in an explicit inventory do not lead to the same python interpreter being used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I don't know

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

MacOS, ansible installed using brew

[2019-05-16 13:38] vzabawski opened #56512 "`consul_acl` module creates legacy acl entries with Consul 1.4.0+"
##### SUMMARY
Recently Consul ACL system received a [major update](https://www.consul.io/docs/acl/acl-migrate-tokens.html) and now it works with mapped policies instead of embedded rules. For now, Ansible creates legacy acl rules which might require migration for using them with new version of Consul. For now, ACL rules created in Consul 1.5.0 work but they are marked as legacy and there's a warni

[2019-05-16 13:39] jwarnier opened #56513 "apt_repository should allow wildcards for removals"
##### SUMMARY
Allow the use of wildcards to remove repositories, at least for so-called _components_.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
apt_repository

##### ADDITIONAL INFORMATION
When removing a repo, it would be great to be able to do it for all _components_ combinations at once.

E.g. match all the following ones at once:
`
deb http://archive.debian.org/debian/ {{ ansible_

[2019-05-16 13:42] jean-christophe-manciot commented on #55845
I am able to connect to mysql-server-5.7 when creating a new user with ```mysql_user``` on:
[code]
It seems that the commit "mysql_user: fix regression introduced when fixing MariaDB/MySQL multiple versions handling" solves the issue.

[2019-05-16 13:42] #55845 closed, assigned to nobody

[2019-05-16 13:58] unix-guy commented on #55047
Based on comments in the PR, this looks like it will also be backported to 2.7 - is that correct? Do we know the specific version?

[2019-05-16 14:05] #53274 closed, assigned to nobody

[2019-05-16 14:09] bcoca commented on #56510
https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html

[2019-05-16 14:19] nmasse-itix commented on #56510
Interesting read! Somehow, I missed it.

I updated my playbooks as such:
[code]

Thanks for your help ! I will ask the operator-sdk team to add this to the inventory they are creating.

[2019-05-16 14:19] #56510 closed, assigned to nobody

[2019-05-16 14:26] bitmand opened #56517 "Template module option for running validate in check mode"
##### SUMMARY
Option allowing the template module to run validate in check mode.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
template module

##### ADDITIONAL INFORMATION
When running in check mode, the template module does not execute the validate command. Which I think is a really good default.

But I would love an option to run the validate command even during check mode.

Let's say

[2019-05-16 14:30] bcoca commented on #46650
dmesg should show if you are hitting any resource limits

[2019-05-16 14:35] bcoca commented on #46650
it seems the rest of the code assumes role_versions can be none or empty, this specific code was added but does not keep the same assumption in mind, quick fix is just adding an `if`

[2019-05-16 14:35] #53414 closed, assigned to nobody

[2019-05-16 14:36] #54345 closed, assigned to nobody

[2019-05-16 14:36] #51447 closed, assigned to nobody

[2019-05-16 14:44] #19586 closed, assigned to ganeshrn

[2019-05-16 14:48] bcoca commented on #56517
this would require transferring the file to the remote, which currently is avoided during check mode

[2019-05-16 14:57] bitmand commented on #56517
@bcoca oh - I believed the file was transferred to a tmp locations already, to make the diff output?

[2019-05-16 15:24] 29x10 commented on #56444
!component=lib/ansible/config/base.yml

[2019-05-16 15:31] samdoran commented on #46485
@Setheck Please open a new issue with a simple reproducer so we can better understand what you're seeing.

[2019-05-16 16:10] #53601 closed, assigned to nobody

[2019-05-16 17:42] sinu commented on #56128
@ftntcorecse
thanks for the update and i am able to consume the modules without any issue.

is there any way to identify the policy packages associated with a vdom/gateway?

[2019-05-16 17:46] JPSerras opened #56536 "Region eu-west-2 does not seem to be available for aws module"
##### SUMMARY
OS: Ubuntu 18.04
Ansible: 2.7
boto: 2.49.0
boto3: 1.9.149
botocore: 1.12.149

Using Ansible Python Module to execute the playbooks.
Could not able to create instances via Ansible on London (eu-west-2) Region even though the module has that region.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
From boto: 2.49.0
- boto.vpc
- boto.ec2

##### ANSIBLE VERSION
Ansible: 2.7

#

[2019-05-16 18:20] rrauenza opened #56538 "Ansible reads proxy from yum.conf but doesn't handle _none_"
##### SUMMARY
This appears to be a regression after upgrading to 2.7.10 from 2.5.x

I'm getting this error:

[code]

I modified ansible source to show the value of https proxy to the error message:

    "msg": "Failed to parse https_proxy environment variable (_none_). Please make sure you export https proxy as 'https_proxy=<SCHEME>://<IP_ADDRESS>:<PORT>'"

`_none_` comes from `yum.conf` and is ex

[2019-05-16 19:05] samccann commented on #45989
The documentation (rst) pages also carry some copyright information that need to be handled differently.  Getting clarification on this regard, but meanwhile, some changes to consider:

- [ ] Remove the copyright information from the [cli jinja2 template ](https://github.com/ansible/ansible/blob/devel/docs/templates/cli_rst.j2#L131) as it provides a date that contrasts with the date provided by th

[2019-05-16 19:09] jillr commented on #56151
This could be done with a custom callback, you can take a look at the existing callbacks for examples and come by #ansible-devel on IRC if you need assistance.

[2019-05-16 19:09] #56151 closed, assigned to nobody

[2019-05-16 19:12] jillr commented on #56181
!component =lib/ansible/modules/network/nxos/nxos_file_copy.py

[2019-05-16 19:24] sivel commented on #56217
We have no intention on continued support for Python 2.4.  As noted the last version of Ansible to support Python 2.4 was Ansible 2.3, which is now end of life.

I have a experimental proof of concept repo/playbook that will build selinux and rpm support for the EPEL provided Python 2.6 packages for EL5 which can be found at https://github.com/sivel/el5-python26-rpm

Any use of Ansible on these ol

[2019-05-16 19:24] #56217 closed, assigned to nobody

[2019-05-16 19:30] jillr commented on #56231
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:
When the variable is undefined, there should be a different error message.

In the future, this might be a topic more well suited for the user list, which yo

[2019-05-16 19:30] #56231 closed, assigned to nobody

[2019-05-16 19:37] samccann opened #56539 "[Docs] Update documentation and docsite for Ansible 2.8"
##### SUMMARY

Update the documentation and publish the 2.8 version of Ansible documentation. Tasks include:

- [x] Change version in conf.py in devel and stable-2.8

- [x] Review changelogs in stable-2.8

- [x] Update 2.8 porting guide to point to stable-2.8

- [x] Update the Release Status grid on the Release and Maintenance page in devel and stable-2.8

- [x] Backport release Status grid to 2.7

[2019-05-16 19:40] jillr commented on #56250
This feature has been discussed in the past and unfortunately it is not one that we are interested in accepting.  https://github.com/ansible/ansible/pull/19500#issuecomment-278167904
Thank you for your interest in Ansible!

[2019-05-16 19:40] #56250 closed, assigned to nobody

[2019-05-16 19:45] jillr commented on #56284
!component =lib/ansible/plugins/lookup/nios_next_ip.py

[2019-05-16 19:49] jillr commented on #56304
This feature has been discussed in the past and unfortunately it is not one that we are interested in accepting. https://github.com/ansible/ansible/pull/19500#issuecomment-278167904
Thank you for your interest in Ansible!

[2019-05-16 19:49] #56304 closed, assigned to nobody

[2019-05-16 19:49] ShachafGoldstein commented on #51865
1. I don't quite understand what are you asking, but I'll try.
When a Windows Server / Client system is in a domain its FQDN will be the hostname + domain FQDN (AD Domain)
There are ways to change that but that should not be done and is used in old (legacy) setups or test environments

Like any other OS, you can always set the domain via DHCP / manually - in windows, this will be called a DNS suff

[2019-05-16 19:59] ShachafGoldstein commented on #56221
Yeah saw the issue, well I don't think that this should be mentioned in Ansible docs... nor do I see where would you write that when using System with psexec you will see in the output the NetBIOS name and not the DNS hostname.

@jborean93  @nitzmahone - What do you think?

[2019-05-16 20:03] sivel commented on #56349
This is expected.  Static roles, which are those defined under the `roles:` header or those imported with `import_role` are effectively scoped at the play level.

They are preprocessors, which are flattened into the play at parsing time.  As such the `vars` specified under `vars:` or those in `vars/main.yml` are flattened and merged into the play before it executes, making the vars accessible outs

[2019-05-16 20:03] #56349 closed, assigned to sivel

[2019-05-16 20:21] JeremyDHobbs opened #56541 "Certificate verify failed on splunk callback plugin"
I am running Ansible tower 2.7 fresh install.  I am attempting to get the logging setup to Splunk.

I have modified the ansible.cfg to whitelist the callback plugin for Splunk and added the variables according to the documentation.  The error I'm getting suggest that the python script(splunk.py /usr/lib/python2.7/site-
packages/ansible/plugins/callback/splunk) provided needs to be modified to take

[2019-05-16 20:22] sfloresk opened #56542 "nso_config - additional flags for commits"
##### SUMMARY
Will be good to have additional flags for commits available such as the following:

  check                  Validate configuration
  comment                Add a commit comment
  commit-queue           Commit through commit queue
  label                  Add a commit label
  no-confirm             No confirm
  no-deploy              Commit without invoking the service create method

[2019-05-16 20:34] geoffroycochard opened #56543 "Syntax error while executing AnsiballZ_setup.py on host"
##### SUMMARY

Issue when executing`AnsiballZ_setup.py` on host.
[code]

Executing directly on host `$ /usr/bin/python .ansible/tmp/ansible-tmp-1558036344.797302-15522575951516/AnsiballZ_setup.py`
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

On target :
[code]

##### Ansible.cfg
[code]

[2019-05-16 20:37] samccann commented on #56539
Docsite redirect pr - https://github.com/ansible/docsite/pull/13/files
docsite documentation version pr https://github.com/ansible/docsite/pull/12/files

[2019-05-16 21:09] jkirk opened #56546 "yamllint reports errors and warnings after ansible-galaxy init"
## Bug Report

##### SUMMARY
yamllint reports errors and warnings after `ansible-galaxy init`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- ansible-galaxy

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Having a clean `yamllint meta/main.yml` output (without errors/warnings) would be nice.

This also affects `molecule lint` (see: [Molecule](https://m

[2019-05-16 21:58] FragmentedPacket commented on #56451
@BlackestDawn This should be fixed in the referenced PR. Could you test and validate?

[2019-05-16 22:01] deckardbsd commented on #27631
I have the same error. The funny thing is that if I run the playbook using ansible-playbook all works fine, but if I'm using the python api, then I get this error.
ansible version 2.7.5

[2019-05-16 22:03] bcoca commented on #27631
fixed via #50607

[2019-05-16 22:09] deckardbsd commented on #27631
[code]

Still does not work.

[2019-05-16 22:37] resmo commented on #51489
resolved_by_pr #56549

[2019-05-16 22:49] jpuskar commented on #33947
FYI, still happens in ansible 2.7.

[2019-05-17 00:16] Setheck commented on #40676
I'm seeing this exact issue with
[code]

[2019-05-17 00:36] #44767 closed, assigned to nobody

[2019-05-17 00:48] selivan commented on #25447
Ansible 2.8 got new variable `role_name`, so this issue is resolved.

[2019-05-17 00:48] #25447 closed, assigned to nobody

[2019-05-17 01:10] lucasbasquerotto opened #56552 "[2.8] Adding objects with undefined properties to array transforms it into a string"
##### SUMMARY
When I add objects to a list in which at least 1 of the objects have an `AnsibleUndefined` property turns the entire list in a string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
(there's no output when I run `ansible-config dump --only-changed`)

##### OS / ENVIRONMENT

Ubuntu 18.04, 1GB droplet in Digital

[2019-05-17 01:16] lucasbasquerotto commented on #56552
!component

[2019-05-17 01:21] saxonww opened #56553 "cloudfront_distribution should allow custom s3_origin_config"
##### SUMMARY

Teach the `cloudfront_distribution` module to accept a declared `origins[].s3_origin_config` instead of generating its own.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cloudfront_distribution

##### ADDITIONAL INFORMATION

The `cloudfront_distribution` module offers an `origins[].s3_origin_access_identity_enabled` flag, which, if set and the `origins[].domain_name` proper

[2019-05-17 01:59] jakemack commented on #47132
+1 to fixing this. I believe this affects the following modules: grafana_dashboard, bigpanda, datadog_monitor, cisco_spark, grove, and na_ontap_motd. They all contain a message parameter so none of the modules will work if systemd.journal is available

[2019-05-17 02:16] saxonww opened #56554 "cloudfront_distribution does not work with modern s3 bucket domains"
##### SUMMARY

Starting in 2019, S3 buckets have a new recommended domain format of `bucket-name.s3.region.amazonaws.com` per [their documentation][0]. The `cloudfront_distribution` module hardcodes the old `s3.amazonaws.com` domain for use with the `origins[].s3_origin_access_identity_enabled` flag, and does not allow a user to specify their own S3 origin config (see #56553), so it is not possibl

[2019-05-17 02:22] adamshand opened #56555 "failed to resolve remote temporary directory from ansible-tmp..."
##### SUMMARY

I'm a new Ansible user.  I've got some basic playbooks working against a dozen or so hosts, but Ansible fails when trying to connect to two hosts every single time (even if all I'm doing is a ping). This is the error:

[code]

I saw the previous reports of a similar error but it looked like those should have been resolved in 2.5 and I'm running 2.7.

I've checked and there is no per

[2019-05-17 02:46] saxonww commented on #56553
FWIW with the most recent `cloudfront_distribution` from #49434, accessing the self-generated OAI looks something like this:

[code]

[2019-05-17 03:04] #53575 closed, assigned to nobody

[2019-05-17 03:14] hlin commented on #46206
I met similar issue in DeploymentConfig with ImageChange trigger

[code]

ansible will always return changed even though the image is not change.

[code]

ENV

[code]

[2019-05-17 03:18] Tomorrow9 opened #56558 "VMware: request new module to send key to virtual machine"
##### SUMMARY

When install guest OS or deploy a new VM automatically, sometimes need stroke keys to proceed, this is not convenient.
So I want to request a new module "vmware_guest_sendkey" to automate sending keys to virtual machine.
Here is the same thing made: https://github.com/at-ohms/VMKey/blob/master/VMKey.py
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_sendkey
#####

[2019-05-17 03:50] willthames commented on #46206
@hlin - your issue is a little different, and related to an upstream bug in Kubernetes fixed in 1.12 (and therefore openshift 3.12, probably)

https://github.com/ansible/ansible/issues/55817#issuecomment-487511600

[2019-05-17 03:51] willthames commented on #46206
@krathow your use case should be solved by `apply` which we hope will be in Ansible 2.9

[2019-05-17 06:19] #56314 closed, assigned to rohitthakur2590

[2019-05-17 06:47] hwali commented on #56037
@trishnaguha thanks for replying, i had tested earlier with Ansible 2.7 but no luck so on base of that i downgraded to 2.5. After some workaround with dynamic inventory and playbook things get work.
still Python base dynamic inventory is not accepting variable for username and password which is my concern.
If you have some time we can have a look in the lab setup i have.

[2019-05-17 06:53] Testicule commented on #48055
There is no NetworkManager-glib on Red Hat EL8.0

So, ansible nmcli module is broken on el8.

Pls fix ASAP.

[2019-05-17 07:07] Testicule commented on #48055
Hangon, what unbelievable stupidity is going on here.

I haven't used ansible to target a fedora machine for a while.

IS THIS FOR REAL?
the nmcli module is broken on fedora too?

THIS IS UNEFFINGBELIEVABLE
ansible can't even configuire basic networking on fedora, and now EL8.

SOMEONE GET ME A SPORK I AM GOING TO SCOOP OUT MY EYEBALLS AND EAT MY OWN GODDAMNED BRAIN I DO NOT WANT TO EXIST IN THIS

[2019-05-17 07:19] Testicule commented on #48055
FIX IT
FIX IT
FIX IT
FIX IT
FIX IT

GEEZUS GODDAMNED #@^$#%@^%#

[2019-05-17 07:45] deckardbsd commented on #27631
I don't understand.
I run the yml tasks file with ansible-playbook, it works, having the XDG_RUNTIME_DIR workaround.
I'm running the same yml file via python api, ansible PlaybookExecutor, and it gave me:
{"changed": false, "msg": "failure 1 during daemon-reload: Failed to connect to bus: Operation not permitted\n"}

[2019-05-17 07:50] aairey commented on #38640
For reference/googlers, the lookup module is now part of Ansible 2.8, it was merged as part of this #48486

[2019-05-17 08:35] albers commented on #55978
Will the tag be _disco_ or _dingo_?

Most ubuntu distributions have the first word as a distribution name here, but there is one exception: _cosmic cuttlefish_ has _cuttlefish_. So there seems to be no rule for naming.

[2019-05-17 09:32] albers commented on #55978
_Disco_ is now present in http://ppa.launchpad.net/ansible/ansible/ubuntu/dists/, so I think this can be closed.

My comment referred to the missing corresponding galaxy tag:
Importing a role with platform _disco_:

Invalid platform: "Ubuntu-disco", skipping.

[2019-05-17 09:44] ShachafGoldstein commented on #39612
I believe this will only work for `mixed_authentication` with an SQL user and not a windows user

[2019-05-17 09:46] ShachafGoldstein commented on #47229
Seems like this script that checks for reboot pending machine could help in some cases
https://gallery.technet.microsoft.com/scriptcenter/Windows-Updates-and-684c355c

[2019-05-17 09:55] ShachafGoldstein commented on #47497
The machine joined but with the old name?
if so this is undesirable, and maybe the module should first rename then join.

[2019-05-17 09:57] ShachafGoldstein commented on #48117
@jborean93  @nitzmahone  - Close for lack of activity with a good solution suggested?

[2019-05-17 10:12] ShachafGoldstein commented on #48660
Seems `defrag /c` ignores the OS drive, is that your issue?

[2019-05-17 10:28] zem opened #56570 "service module kills service_flags on openbsd"
##### SUMMARY

When executing for example:

  - service:
      name: spampd
      enabled: yes
      state: restarted

The rc.conf.local variable spampd_flags always gets deleted.
So the service is started but ends up unconfigured.

[2019-05-17 10:29] ShachafGoldstein commented on #50407
Mind adding an example playbook to check with?

[2019-05-17 11:02] ttencate opened #56571 ""machinectl: invalid option -- 'c'" when using become_method: machinectl"
##### SUMMARY

`become_method: machinectl` fails with the error "machinectl: invalid option -- 'c'".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/plugins/become/machinectl.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: Arch Linux x64
Target: Ubuntu 16.04.6 Desktop 64-bits

Target machinectl version:
[code]

##### STEPS TO REPROD

[2019-05-17 11:11] specator commented on #48660
/c ignores all drives, yes.

To avoid it I had provided WMI request that fills $arguments with real existing disk drives and mount paths instead of "/c"

[2019-05-17 11:19] ShachafGoldstein commented on #48660
from my tests it ignores only the os volume, how many volumes / partitions
do you have and of what types?

On Fri, May 17, 2019, 14:13 Nail Mukhametshin <notifications@github.com>
wrote:

[2019-05-17 11:21] xenlo opened #56573 "proxmox_kvm - Parrallel VM provisioning failling with exception 500 Internal Server"
##### SUMMARY
When using `proxmox_kvm` module in to provision several host at the same time, randomly half of them fails with an error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- `modules/cloud/misc/proxmox_kvm.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Proxmox Virtual Environment 5.4-3
- proxmoxer==1.0.3

##### STEPS TO REPRODUCE
A

[2019-05-17 11:41] xenlo commented on #56573
After digging a bit we found that the message comes from the underlying `proxmoxer`.

I was able to find an issue with the same error message in the Proxmoxer project: https://github.com/swayf/proxmoxer/issues/61
They recommend to apply code change for the [following PR](https://github.com/iterativo-git/proxmoxer/pull/1/files) to get the «_reasons to error codes_».

So from there we get more clue

[2019-05-17 11:42] sinu commented on #56128
@ftntcorecse can you help me here

[2019-05-17 11:49] SebastiaanvandenBerg commented on #45298
I'm having the same error creating a user with a different samaccount username Cannot find an object with identity:

[2019-05-17 12:15] helldorado commented on #56573
@xenlo this is not a proxmox_kvm error. This issue is on API side.   Please see PR #55874

[2019-05-17 12:43] nwsparks commented on #48117
@ShachafGoldstein  I explained this already in my comment above. The limitation is a Windows one where values set via CLI are not reflected in the GUI.

[2019-05-17 12:44] joefodor commented on #55722
I am having same issue but with option 119 domain-search

I tried it several ways

          - name: domain-search
            value: "domain"
            use_option: false
          - num: 119
            value: "domain"

[2019-05-17 12:53] justjais commented on #55722
@codyhackw @joefodor can you guys please paste in the complete failure output by running the play with `-vvvv` option for complete verbose out.

[2019-05-17 12:55] ghost opened #56576 "Ansible docker and docker-compose issue on Redhat 7.x"
##### SUMMARY
Ansible is not able to run docker or docker-compose command. Pip was updated to v.19
but also after downgrade to 8.1.2 I'm facing same problem.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Redhat 7.2, 7.3, 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2019-05-17 12:55] BlackestDawn commented on #56451
@FragmentedPacket Thanks, that fixes the issue. Now only "uses" one IP.

Also noticed now that this issue exists in Ansible 2.8.0 RC3.