[2014-01-15 18:11] msolo commented on #5625
I didn't expect this to be a feature request since the documentation and
examples linked seem to suggest this functionality should exist:

http://docs.ansible.com/apt_module.html

I will say from experience that it is not smooth, but I couldn't tell if
that was due the way the docker folks have their apt repository set up.

Irrespective of that, I think this one-liner is just a bug.

On Wed, Jan 1

[2014-01-15 19:25] timurb opened #5634 "stack delegated handlers"
When the handler is delegated to some host and several hosts kick that handler it is triggered several times instead of once.

Consider the generic example:

[code]

Here some processing is done on nodes and the central server (which connects|listens to these nodes) is reloaded afterwards. Now the reload will be triggered for each host with completed action "do some configuration stuff" but it is

[2014-01-15 20:46] mpdehaan commented on #5634
So you've used "delegate_to" which is exactly what it is meant to do here.

This is not a bug.   For instance, suppose you want to notify a monitoring server or send a chat message.

What you should likely do here is have another play that does the restart.

Triggering it would be a bit of a hack, likely you would want to touch a file on the local system if you needed to restart and then have the

[2014-01-15 20:46] #5634 closed, assigned to nobody

[2014-01-15 21:08] Pablohn26 commented on #5632
AFAIK chcon and selinux.lsetfilecon change the selinux context but, when you are not be able to change it because the filesystem: if you change to the same security context with chcon it does not drop an error. Nevertheless selinux.lsetfilecon does drop an error (Errno[95]:Operation not supported). Since ansible is using libselinux-python, that is, selinux.lsetfilecon, the behaviour changing the c

[2014-01-15 22:10] #5486 closed, assigned to jctanner

[2014-01-15 22:12] jctanner commented on #5486
@jurgenhaas I thoroughly tested variable expansion while working with @drybjed on this one, and not once did we run into an issue. The patch above does resolve key option issues though.

[2014-01-16 08:27] evgkrsk opened #5642 "[FR] Option to ignore LV size mismatch for lvol module"
It would be great if we can command to lvol module that it must skip LV re-creation, if it already exists but doesn't match in size.

It is common case that human creates bigger or smaller LV according to some in-place limitations.

[2014-01-16 09:52] dbrgn opened #5643 "ec2_group fails on repeated run (?)"
I want to assert that certain EC2 security groups are present.

[code]

It works the first time:

[code]

But when running it again, it fails:

[code]

Is there a way to make this module idempotent? When a rule with the same name already exists, the rules should be compared. If they're the same, it should set the status to "not changed". (Otherwise an error could be thrown.)

[2014-01-16 10:09] resmo opened #5644 "feature request: improve apt module pkg version"
issue GH-5625

@mpdehaan wrote:
Basically this is really (should be) a feature request for the module to support pkg=version style semantics like yum, where it does not already now. The existing version logic in the apt module is not how we want to continue.

Currently we support this in yum by having a package specifier in the name attribute, but what I'd really like to see is a version parameter

[2014-01-16 12:25] dbrgn opened #5647 "EC2 inventory script: AuthFailure"
I'm using the current devel version of `ec2.py` and boto 2.23.0.

I exported `AWS_ACCESS_KEY_ID`, `AWS_ACCESS_KEY`, `AWS_SECRET_ACCESS_KEY` and `AWS_SECRET_KEY`.

The credentials are correct, they work when using ansible directly (e.g. to spin up new instances), but when calling the ec2.py script, it fails:

[code]

Any idea what the cause could be?

[2014-01-16 12:27] ghost opened #5648 "Self-documenting tags"
It would be nice to have self-documenting tags. What I imagine it would be something like this:

$> ansible-playbook playbook.yml -t show

possible values: tag1,tag2,tag3

$> ansible-playbook playbook.yml -t tag1 show

included plays: play1,play2,play3

$> ansible-playbook playbook.yml -t tag1

[actually runs the tag]

The idea would be to have an extra argument for the tags so that I can know whi

[2014-01-16 14:16] wojtekhaj commented on #3324
i could use a function like that as some of the tasks that i run are just unnecessary to display

[2014-01-16 14:26] wojtekhaj commented on #3887
+1 could use something to show overall progress of execution of the playbook based on amount of tasks specified by "- name: <name of the task>" block especially this may be useful doing an software deployment playbook for remote machines with the use of yum repositories. As well adding some output during installation/download/update of yum packages could be handy as sometimes especially with remot

[2014-01-16 14:27] Pablohn26 commented on #5632
Since change of context is not supported by NFS (unless you have Labeled NFS and NFS v4), and this is not an ansible matter (just have to inform the reason why), I think the best is to close this issue and pull request an improvement for a better debugging.

[2014-01-16 14:27] #5632 closed, assigned to nobody

[2014-01-16 15:26] jctanner commented on #5632
@Pablohn26 thanks for sticking with it and finding the issue.

[2014-01-16 15:53] mpdehaan commented on #5644
Yeah so ther other ticket has been repurposed so I'm going to close this one as it just references the other.

Thank you!

[2014-01-16 15:53] #5644 closed, assigned to nobody

[2014-01-16 17:33] Logos01 opened #5652 "memtotal_mb fact on HP-UX produces None type error on HP-UX B.11.11 OS instances"
The current method of gathering memtotal_mb for HP-UX is causing a None type error on multiple HP-UX systems within my environment. Upon reviewing the command used, it appears there is no output.  I have modified my local library/system/setup file to reflect the below, which is successfully averting this error (changes beginning from line 1305).

[code]

[2014-01-16 17:49] mpdehaan commented on #5652
If you would like to supply a patch, please submit it as a pull request and be sure to catch the exception, unguarded "excepts" will not be accepted.

Thanks!

[2014-01-16 17:49] mpdehaan commented on #5652
Seems it would be better to test what was available prior to running the command too.

[2014-01-16 17:54] mpdehaan commented on #5648
So there's already "--list-tasks" for this purpose that respons to tags.

We are definitely not going to have a magic tag called "show".

It may be reasonable to have a "--list-tags" though right now if you pass an invalid tag it will offer suggestions, you could file a RFE for this, so I'm going to close this ticket, if you would like to submit that for tracking purposes that would be fine.

[2014-01-16 17:54] #5648 closed, assigned to nobody

[2014-01-16 17:54] mpdehaan commented on #5647
Please stop by the mailing list for user questions.

Thanks!

[2014-01-16 17:54] #5647 closed, assigned to nobody

[2014-01-16 17:54] mpdehaan commented on #5642
Sounds fine with me, is this something you would like to work on?

[2014-01-16 18:06] Logos01 commented on #5652
My example code has a lot of cleanup before it's pull-worthy. But at least
I narrowed down the cause and have a solution.  I'll take a look at
cleaning it up for pull-request later.

On Thu, Jan 16, 2014 at 10:50 AM, Michael DeHaan
notifications@github.comwrote:

##

##

[2014-01-16 19:24] #5631 closed, assigned to nobody

[2014-01-16 20:08] dekked opened #5656 "Bug report: commit broke something in sysctl module"
Commit ca05584495 broke something in sysctl module.

Before, this worked like a charm:

[code]

But now it fails:

[code]

[2014-01-16 20:30] jcdyer opened #5657 "jinja variables cannot be used in command module's cmd argument"
The following command fails with a syntax error because of

[code]

But the following succeeds:

[code]

It should be possible to use variables directly in a command.

[2014-01-16 20:41] sivel commented on #5657
I cannot duplicate this.  I tried with gunicorn, and I tried some use cases with echo and all of my tests work without issue.

Can you provide more information such as ansible version (`ansible -v`)?

My test:

[code]

[code]

[2014-01-16 21:32] #5656 closed, assigned to nobody

[2014-01-16 21:33] jcdyer commented on #5657
Looks like I oversimplified my example a bit from the actual failing code.  Try this:

[code]

That gives me the following result:

[code]

It also looks like the problem is in the way the quoting is handled, not the jinja variable; I get the same error when the task is:

[code]

but success when it is:

[code]

[2014-01-16 21:33] jctanner commented on #5656
@dekked thanks for the report. I forgot to make sysctl_set to False by default in my refactor, so it was calling the sysctl command in your case when it should not have. It then also hit another bug by not quoting the multi column value.

[2014-01-16 21:34] jcdyer commented on #5657
[code]

[2014-01-16 21:41] dekked commented on #5656
Glad it got fixed this fast, thanks!

[2014-01-16 23:18] evgkrsk commented on #5642
Maybe, later.

[2014-01-17 00:53] jirutka commented on #1409
@bcoca So tell them to upgrade…?! Don’t take this in a wrong way, but this is really insane – Python 3 was released ~6 years ago, but you still bother with 2.4, about 10 years old mummy. On the other side, you’re telling us that we need to install Python 2.x on all of our nodes.

[2014-01-17 01:06] sivel commented on #5657
As you mention this is a problem with the way you are quoting.  You will need to quote the whole argument. The error mentions you have malformed YAML syntax.

Here are some recommendations for proper quoting:

[code]

[code]

[code]

I don't think there is a bug here, so you should probably swing by the mailing list if you have additional questions.

[2014-01-17 01:55] mpdehaan commented on #5657
If you start a line with a quote, you have to end a line with a quote.

Ansible 1.4 and later will properly suggest this to you in the message it gave you.

The Ansible version wasn't reported, but please make sure you're on a current version and you'll get these kind of tips!

Hope this helps, please stop by the list if you have further questions.

Thanks!

[2014-01-17 01:55] #5657 closed, assigned to nobody

[2014-01-17 02:06] ryanschulze opened #5659 "unarchive module fails on FreeBSD hosts"
Ansible version 1.4.3

[code]

Works on Linux servers, but fails on FreeBSD servers with the error "dest must be an existing dir" (yes, the directory exists).

Unfortunately I have no experience with python, but as far as I can tell the root problem is that the _remote _md5() function is returning a md5 back to the unarchive module (because "/sbin/md5 <directory>" on FreeBSD will give you a md5 fo

[2014-01-17 05:25] kormoc opened #5660 "When incorrectly passing a keyword to a filter, error message is confusing"
When incorrectly passing a keyword to a variable, the error message is confusing:

[code]

This is due to the error checking being:

[code]

There should be a else condition to that if statement that at least outputs str(te) rather then falling though to the return res.

[2014-01-17 12:27] sivel commented on #5660
This is a duplicate of #5566

[2014-01-17 12:52] bcoca commented on #1409
I'll get right on it, right after I make them all move to perl 6.

[2014-01-17 13:01] bcoca commented on #5659
There is a common md5 function that works with *BSDs that other modules use
(file,copy,etc) so this should be easy to fix.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-01-17 13:49] bcoca commented on #5659
Sorry, I misunderstood the issue. The _remote_md5 functions is already used
and it has it's own test to figure out the type:

"rc=0; [ -r \"%s\" ] || rc=2; [ -f \"%s\" ] || rc=1; [ -d \"%s\" ] && rc=3"

^ %s gets subsituted with the path

unarchive tests for != 3 to return   "dest must be an existing dir".

This should work on FreeBSD and would not depend on the output of the md5
command (unless I

[2014-01-17 13:56] #5660 closed, assigned to nobody

[2014-01-17 16:01] ryanschulze commented on #5659
the "3" is initially correctly set, but get's overwritten because /sbin/md5 on FreeBSD returns true (and prints a md5sum) for directories and the both are connected via ||

Other Linux/*NIX flavors return false and no md5sum for directories.

[2014-01-17 16:18] bcoca commented on #5659
so AC (After Coffee) and reading more code, it seems that your initial
assessment was on the nose.

The rc var i mentioned in previous posts, only gets returned when md5
fails, directories do so on linux, but not on BSDs. For once this is not a
POSIX ambiguity as the standard says nothing about md5 command line
utilities, so just different programs/implementations.

BTW, this bug also affects the

[2014-01-17 16:20] ryanschulze commented on #5659
Thanks, that's awesome :-)

[2014-01-17 16:31] mscherer opened #5668 "synchronize module do not work fine with ansible_transport=local in host file"
Using this file /tmp/hosts:

[code]

as a hosts file, I see that synchronize do not work fine if run like this ( assume 2 directory created /tmp:foo and /tmp/bar )

[code]

This result into this:

[code]

Using -c local do not work either.

[2014-01-17 18:18] jctanner commented on #5495
@pgehres I'm having difficulty reproducing this.

[code]

Result:

[code]

If you could provide more information about how your scenario differs from mine and an example playbook, I'll keep this open. Otherwise, I will consider this resolved.

[2014-01-17 18:45] pgehres commented on #5495
[code]

site-aws.yml

[code]

roles\aws-utility\tasks\main.yml

[code]

host_vars\host.subdomain.appdynamics.com

[code]

[2014-01-17 18:45] mpdehaan commented on #2690
We are currently thinking this might just happen via a callback, so I'm going to close this ticket for now, though we are still throwing some ideas around.

[2014-01-17 18:45] #2690 closed, assigned to nobody

[2014-01-17 18:50] mpdehaan commented on #5595
There were some sudo fixes on devel made regarding ssh_alt recently where if so configured it required no_tty access.

But if you're seeing isolated host-by-host issues still I don't know.

Stop by the mailing list if this happens again.

[2014-01-17 18:50] #5595 closed, assigned to nobody

[2014-01-17 18:54] mpdehaan commented on #5584
This is more of a case of set_fact needing some more intelligence.

When you are doing key={{ some_expression }}

regardless of type, because you are doing that in string context it's going to give you a string.

The solution here is to make set_fact not take key/value arguments in this case, which warrants a seperate ticket to disambiguate that conditional are working fine, as they are.

I'll ope

[2014-01-17 18:54] #5584 closed, assigned to nobody

[2014-01-17 18:55] mpdehaan opened #5670 "set_fact and complex data types"
set_fact is a little dumb if you do:

set_fact: key={{ some_value | int }}

because that results in a string

but it's fine if you do:

set_fact:
   key: "{{ some_value | int }}"

or even

   key: "{{ some_value }}"

It would be nice if the short form were a bit smarter, or maybe if the old form just raised a deprecation warning (preferred?)

[2014-01-17 19:31] jctanner commented on #5495
@pgehres can I see an example output from ec2.py ?

[2014-01-17 19:58] mpdehaan commented on #5670
Dup of #5463

[2014-01-17 19:58] #5670 closed, assigned to nobody

[2014-01-17 19:59] mpdehaan commented on #5545
Ok, so no action required?

[2014-01-17 20:30] mpdehaan commented on #4810
I'm going to close this ticket just for housekeeping as we now have a pull request that tracks this issue.

Thanks!

[2014-01-17 20:30] #4810 closed, assigned to nobody

[2014-01-17 20:32] mpdehaan commented on #5390
The delegation can change per host, and it can't fit in the task line.  Definitely can't.

So this seems to be a request to show it in the host line, something like this:

[code]

Which would be doable.

[2014-01-17 20:35] srgvg commented on #5390
Yes, I obviously was talking about tasks that get delegated to one fixed host.

[2014-01-17 20:45] mpdehaan commented on #5563
Since we have the other ticket open, I'm going to link these two tickets and close this one, we can still find this thread from the other.

Thanks!

[2014-01-17 20:45] #5563 closed, assigned to nobody

[2014-01-17 20:47] mpdehaan commented on #5559
What version fo Ansible were you using for the above?

Most issues we know from group_vars and host_vars/ have been dealt with.

[2014-01-17 21:58] jctanner commented on #5495
@pgehres I took the ec2.py outputs from your email and lumped them into a fake ec2 inventory script. I was able to duplicate the behavior you described, but I think it's the expected behavior. When the playbook runs, it's going to load host var files that match keys for inventory hosts. In your case, the keys are the public dns names for your nodes (ec2-XX-XXX-XXX-XXX.us-west-2.compute.amazonaws.c

[2014-01-17 22:05] pgehres commented on #5495
@jctanner well, the concern I have is that we use the route53 domain as a permanent "name" for the host. If we rebuilt the underlying ec2 instance, the "ec2-XX-XXX-XXX-XXX.us-west-2.compute.amazonaws.com" would change and we would have to update the name of the host_vars file even though it is still the same instance.  The group_vars hack would work, yes, but it is a host by definition, and that i

[2014-01-17 22:20] #5668 closed, assigned to nobody

[2014-01-17 22:41] jokerswild663 opened #5674 "s3 not downloading properly for ansible-1.4.1"
Originally, I was using the s3 module as such:
-- name: testing ssl key download
-  sudo: false
-  local_action:
-   module: s3
-   aws_secret_key: "{{ aws_default_secret }}"
-   aws_access_key: "{{ aws_default_access }}"
-   bucket: "{{ s3_ssl_cert_bucket }}"
-   object: "{{ s3_ssl_cert_object_folder }}/{{ s3_ssl_cert_object }}"
-   dest: "/tmp/{{ s3_ssl_cert_object}}"
-   expiration: 600
-   mod

[2014-01-17 22:46] sivel commented on #5674
You do have a difference in your examples, which is your use of:

`"/tmp/{{ s3_ssl_cert_object}}"` vs  `dest=/tmp/certs.zip`

Also if you indent your examples with 4 spaces on each line they will be displayed better.  As it is, I cannot really determine anything else.  You may have an issue with your formatting, but I cannot tell due to how github interpreted your example.

[2014-01-17 23:10] philipnorton42 opened #5675 "command 'ls' on directory with wildcard returns fail"
I was trying to get a list of all jar files from a directory using the command module and a wildcard search.

[code]

This seems like the correct syntax to use, but Ansible returns an error stating that the containing directory doesn't exist.

[code]

I can't tell if this is a bug or expected behaviour that isn't in the documentation for the command module, but either way it seemed incorrect to me

[2014-01-17 23:16] sivel commented on #5674
Also, it may be beneficial to know what error you received.

[2014-01-18 01:32] eigood commented on #4524
Ah, I see how to replicate this now.  A role that has a dep on another role, will cause this issue.  If a playbook references a role, and tags it, ansible will apply those tags to the role.  But when the top-level role has a meta/main.yml, with dependencies, then the tags will not be copied, and the exception will be thrown.

I verified against e3e6f02835b1bdf16716c28ada8692149109fda8, after conve

[2014-01-18 01:34] eigood commented on #4524
And you can work around it by adding "tags: []" to the interior role.

[2014-01-18 11:05] redbaron commented on #5675
asterisk expansion is done not by ls or any other command, but by shell, therefore to make use of it you can run something like "/bin/sh -c 'ls -1 /some/directory/*.jar' "

[2014-01-18 12:20] srgvg commented on #5675
The command module just runs a command, without shell, hence no shell expansion. If you need to use shell syntax, you need to use the shell module instead, so your assessment is correct. It's not a bug, it's a feature, if I may say so.

[2014-01-18 12:37] jirutka commented on #4359
+1, I agree with @aljungberg.

[2014-01-18 13:11] hyperfocus1338 opened #5678 "Updating bundler gem freezes when using the gem module"
Hi there,

I'm unable to update the bundler gem with the gem module using Vagrant with virtualbox on Mavericks with Ansible 1.4.4 installed with pip. Playbook snippet below:
- name: install ruby gems
  gem: name={{ item }}
       state=latest
       executable=/home/user/.rbenv/shims/gem
       user_install=no

  with_items:
  - rake
  - bundler

While executing the playbook it just sticks there,

[2014-01-18 16:50] jirutka opened #5679 "lineinfile ignores newline “\n” in the line argument"
I need to insert a multiline string with the _lineinfile_ module. According to [this article](http://fabian-affolter.ch/blog/the-lineinfile-module-of-ansible/), the special char `\n` should work, but in the current version it doesn’t.

[code]

Result:

[code]

Instead of:

[code]

Neither an actual new line doesn’t work:

[code]

Result:

[code]

[2014-01-19 11:49] sebmaynard commented on #5559
This was using Ansible checked out from HEAD, on the day I submitted. I've
got around this for now by using set_fact for the bits of information I
need attached to each host.

Seb

On 17 January 2014 20:47, Michael DeHaan notifications@github.com wrote:

[2014-01-19 17:36] mpdehaan commented on #5675
yep, this is working as designed.   Switch to the shell module.

[2014-01-19 17:36] #5675 closed, assigned to nobody

[2014-01-19 17:38] mpdehaan commented on #5674
Since this is still in "figure it out" mode and says "doesn't work, but doesn't define what happens", I would suggest you stop by the ansible-project mailing list instead so it can be discussed in greater detail.

[2014-01-19 22:40] gerhard opened #5683 "Digital Ocean - deleting droplets not working"
I'm on OS X 10.8.5, running Python 2.7.2 & Ansible 1.4.4, using the following play:

[code]

I'm running `ansible-playbook delete_droplet.yml -i hosts -c local -vvvv`:

[code]

[2014-01-20 02:23] ethercrow opened #5685 "Ansible should play nicely with fakes3."
fakes3 (https://github.com/jubos/fake-s3) allows having local S3-like storage, it would be nice if ansible's s3 module could use that.

To be more specific, what I'm trying to accomplish is:
 Setup: some vagrant machines provisioned by ansible. When created, they download some third-party packages from real Amazon S3.
 Work loop: developer makes changes to his package, puts it on fakes3 running on

[2014-01-20 14:20] jctanner commented on #5495
@pgehres so you want the route53 hostname to become the key in inventory rather than the public dns name that is in the node metadata?

[2014-01-20 14:24] lperezs opened #5686 "Grant priv on database name with '.'"
DatabaseName: database.version

Priv Example: database.version.*:ALL
Priv Output: {'_._': ['USAGE'], '`database`.`version`.*': ['ALL']}

to fix this, edit "ansible/database/mysql_user"
function privileges_unpack

replace:  pieces[0] = pieces[0].split('.')
to: pieces[0] = pieces[0].rsplit('.',1)

[2014-01-20 14:28] rgarrigue opened #5687 "With the same name, handler from another role is chosen first"
Here is my arborescence
roles/devel/
├── handlers
│   └── main.yml
roles/icinga/
├── handlers
│   └── main.yml
└── tasks
    ├── icinga.yml
    └── main.yml

I run icinga.yml. Included is a task is a `notify: restart iptables`. There's two handlers for that respectively in devel/handlers/main.yml and icinga/handlers/main.yml.

Here is the output

[code]

icinga notify, devel answers. No big mister

[2014-01-20 16:54] pgehres commented on #5495
I just want it to be a key; I don't need it to replace the original key. But, yes.

[2014-01-20 17:11] reusch commented on #2958
Wouldn't it be possible to provide a way to include other files from the main.yml, relative to the roles/x/vars/ directory? (Maybe I am too naive? :smile: )

This way everyone could predict the result.

[2014-01-20 17:40] eigood opened #5688 "ini_file is not safe enough, looses content"
In the following snippet, you'll see the before file, and the after file.  ini_file has:

1: removed comments
2: added spaces around the '='
3: reordered the lines.

The only thing I was attempting to do was changed enabled from 1 to 0.

[root@centos-63 ~]# cat /etc/yum/pluginconf.d/fastestmirror.conf
[main]
enabled=1
verbose=0
always_print_best_host = true
socket_timeout=3
# Relative paths are re

[2014-01-20 18:35] mpdehaan commented on #5688
So yes, spaces should not be significant in the INI file module, nor order -- so I don't see a problem with this per se.

Further, comments are not preserved, but we make a note of this in the docs, as we are using standard Python config parser to work with this and this is standard when programatically editing the file.

I think this is acceptable given it's mentioned.

Again, order should not be

[2014-01-20 18:35] #5688 closed, assigned to nobody

[2014-01-20 18:39] mpdehaan commented on #5687
Yes, handlers are global namespace and the last one loaded is going to win.

In this particular case if handlers are being used for server restarts the conflict won't be an issue, if it is, it's something to be aware of, but we wouldn't want to make this a warning because it occurs most of the time in the standard case and would generate a lot of false positives.

This is a valid feature in that y

[2014-01-20 18:39] #5687 closed, assigned to nobody

[2014-01-20 18:40] mpdehaan commented on #5686
Thanks for filing a ticket, per contributing.md can you please share the version of Ansible you are using?  Also can you share the arguments that you passed to the module and steps to replicate this, it's unclear what is being discussed by just seeing the patch.

(Also pull requests would be accepted, if you would like to contribute code, pull requests are preferred to just including what lines ne

[2014-01-20 18:43] mpdehaan commented on #5683
Looking through the code here it looks like the code is attempting to look up 'id' and there is no parameter 'id' passed in, this is probably something broken in a refactor or update.

[2014-01-20 18:44] mpdehaan commented on #5685
Thanks for this idea, I can see that being useful -- Pull requests for this would be entertained if this is something you would like to work on.

[2014-01-20 19:04] eigood commented on #5688
I use etckeeper on the target machine, to save changes.  I have all my
tasks that modify files in etc sending a notify to etckeeper, that then
saves commits.  The ini_file module does too much changes to the dest,
when all it needs to do is either add the line, or change the line, in
the proper section.

The ini_file module is not the consumer of the file, it's whatever other
program is.  So, ini_

[2014-01-20 19:07] mpdehaan commented on #2958
Now that include_vars exists and is often used to conditionally load variables from here, we do not want to implement this now, so I'm closing this ticket.

@reusch - no, but see "include_vars" from the task section if you want to.

[2014-01-20 19:07] #2958 closed, assigned to nobody

[2014-01-20 23:26] #3129 closed, assigned to nobody

[2014-01-21 00:32] jamesmoriarty commented on #5643
+1 @jlaska makes me wonder whats going on here: https://github.com/ansible/ansible/pull/4338/files

[2014-01-21 03:48] xb opened #5696 "Notification handler is skipped if required by both skipped and non-skipped tasks"
I have a role "a", which has a dependent role "b". However, that dependent role "b" is evaluated only conditionally using the "when" key in the dependencies hash of "a/meta/main.yml".

Both roles "a" as well as "b" define a handler named "c" (and defined in exactly the same way), and both notify that handler the execution of their tasks.
### Expected behaviour

When executing role "a", it is expec

[2014-01-21 08:28] eddgrant opened #5700 "CentOS 5.4 - yum module AttributeError "preconf""
Raising as a result of [this discussion](https://groups.google.com/forum/#!topic/ansible-project/aBE51ToAC7A). I'm getting the following error when trying to execute the yum module to install an RPM on CentOS 5.4:

[code]

The task which causes this is as follows:

[code]

With the exception of the yum module all other tasks/ plays executed against this host complete successfully.

The system I'm

[2014-01-21 08:39] zitterbacke commented on #5280
Hi,

Pull Request #5580: "Symlinking rel path in group_vars.py bug fix" fixes this issue.

+1 for merging it.

Thanks, AlfZi

[2014-01-21 08:48] rdw commented on #2769
I ran into this problem today, and I wanted to document some of the things that don't work for future searchers.  This is the first thing I tried and didn't work:

[code]

Quoting the pair didn't resolve the YAML syntax error:

[code]

Nor did single quotes:

[code]

Nor does quoting the value only:

[code]

Quoting the entire line passed the YAML syntax check, but failed during execution of the p

[2014-01-21 09:30] nikut opened #5702 "Synchronize module incorrectly uses ssh for local connection"
The synchronize module in current devel is unusable when remote_user does not exist on the Ansible control host. This is because the module insists on using ssh and the configured remote_user for the local connection. It should either use the local transport or at least leave out remote_user when connecting to localhost.

Setting "connection: local" or "delegate_to: localhost" or using local_actio

[2014-01-21 14:40] mpdehaan commented on #5685
Closing this RFE as we now have the pull request.

Thanks!

[2014-01-21 14:40] #5685 closed, assigned to nobody

[2014-01-21 14:52] itsonlycode opened #5706 "traceback: AWS_REGIONS not defined"
PLAY [Create management servers] *********************************************\*

GATHERING FACTS **************************************************************\*
<127.0.0.1> EXEC ['/bin/sh', '-c', 'mkdir -p $HOME/.ansible/tmp/ansible-1390315627.69-250982828866091 && chmod a+rx $HOME/.ansible/tmp/ansible-1390315627.69-250982828866091 && echo $HOME/.ansible/tmp/ansible-1390315627.69-250982828866091

[2014-01-21 15:09] jctanner commented on #5700
@eddgrant what version of yum is on the centos host?

[code]

This patch would correct the traceback, but I'm not sure what else you would run into until I know the version of yum on the host:

[code]

[2014-01-21 15:12] eddgrant commented on #5700
Hey, It's running 3.0.5:

[code]

[2014-01-21 15:20] jimi-c commented on #5700
@jctanner I think your proposed patch needs to check if the "my" variable has the "preconf" attribute.

<pre>
diff --git a/library/packaging/yum b/library/packaging/yum
index f936b45..577229c 100644
--- a/library/packaging/yum
+++ b/library/packaging/yum
@@ -133,10 +133,11 @@ def log(msg):
 def yum_base(conf_file=None, cachedir=False):

     my = yum.YumBase()
-    my.preconf.debuglevel=0
-    my.

[2014-01-21 15:22] eddgrant commented on #5700
Sure, happy to test, afraid I'll have to ask for guidance on how to build the patch (I'm an Ansible newbie and so am just using the pre-packaged debian packages in the Ubuntu repo at the moment).

If you can point me in the direction of some instructions I'll give it a go and will report back.

[2014-01-21 15:24] jctanner commented on #5706
@RudolfRandal could you pastebin the compiled ec2 script?

[code]

The filename should resemble: "/home/jtanner/.ansible/tmp/ansible-tmp-1390317576.81-27759856223356/ec2"

[2014-01-21 15:42] ingmar opened #5707 "ansible-pull should have -e (--extra-vars) option (same as ansible-playbook)"
It'd be quite useful to pass in machine-dependent stuff at startup, in this case some instance user-data data from an EC2 autoscaling group.

[2014-01-21 15:42] #5374 closed, assigned to nobody

[2014-01-21 15:45] jctanner commented on #5706
10:37 jtanner|mac: no1peanut: how did you install/update ansible ?
10:38 no1peanut: jtanner|mac: git clone and source hacking/env-setup
10:39 no1peanut: jtanner|mac: the update was just git pull
10:39 jtanner|mac: no1peanut: do you have any other installations of ansible anywhere else? perhaps something in site packages? it looks like the injected module snippets are from an older version of ansib

[2014-01-21 15:48] itsonlycode commented on #5706
Had an old ansible in /usr/local/lib/python2.7/dist-packages/ansible

Removed that and the issue was fixed

[2014-01-21 15:48] #5706 closed, assigned to nobody

[2014-01-21 15:54] abdulg opened #5708 "(edited description) Role dependency de-duplication should take role conditionals into account"
See sample playbook at https://github.com/abdulg/ansible-common-roles

Using ansible 1.4.4.

When using Ansible roles I ran into a problem where common roles were being skipped. The linked repo is a demonstration of the issue. There are 2 roles, _role1_ and _role2_, each of which depend on a 3rd role, _common_.

I have three playbooks, _playbook.yml_, _role1.yml_, and _role2.yml_. The first playbo

[2014-01-21 16:25] jctanner commented on #5700
@jimi-c oops, thanks ... just got a 5.1 system running to dig into this.

[2014-01-21 16:29] jctanner commented on #5700
reproduced the issue on 5.1

[2014-01-21 16:31] sebbrochet opened #5709 "Tags not found if 2 levels of dependency between playbook and role with tasks/main.yml"
Let's say my main playbook _site.yml_ is:

[code]

And _myrole_ is a virtual role with only dependencies:

[code]

And _myrole1_ is a virtual role with only dependencies:

[code]

While _myrole2_ is a concrete role with a _tasks/main.yml_:

[code]

If I try to execute my playbook with a specific tags, it fails:

[code]

ansible is not able to infer the _myrole_ tag in the list of possible tags.

B

[2014-01-21 18:49] gtaylor opened #5710 "Ansible modules docs and bool parameters"
I'll just paste in the excerpt from IRC, as I think it does a good job explaining things.

[code]

As requested, it'd be nice to make all bools show the yes/no choices so that there is no ambiguity as to whether a param is a bool.

[2014-01-21 19:10] jctanner commented on #5700
@eddgrant it seems like you are using a third party yum package that eapps (hosting provider?) is maintaining? Yum 3.0.5 was last shipped with centos 5.1. Are you able to upgrade yum on the host(s) to 3.2.x ?

I can work past the initial traceback on 3.0.5, but then I run into a lot of other issues with the objects returned that would require some significant refactoring to the yum module.

[2014-01-21 19:14] eddgrant commented on #5700
Interesting, yeah eApps are the hosting provider of this VM. I'll see if I can re-jig the repo configs a little to bring in the default yum package. Will report back.

[2014-01-21 19:49] chrisblossom commented on #4108
I am seeing a very long delay on private git repos using HTTPS. There is no delay using private git ssh repos, or public HTTPS repos.

Detailed setup: http://pastebin.com/ZAyBmMBa
Detailed Log: http://pastebin.com/Yjq67T39

[code]

[2014-01-21 19:52] eddgrant commented on #5700
A bit of jiggery-pokery required to get back to the default CentOS repos but I've done it. I updated yum with `sudo yum install -y yum` which felt a bit like I was about to cause some sort of paradox, I'm still here though so I can only assume it was a success :-)

I'm now running yum 3.2.22 and can confirm that the problem is resolved by this upgrade. If, as you mentioned, yum 3.0.5 was last ship

[2014-01-21 19:53] jctanner commented on #4108
In case pastebin expires:

[code]

[2014-01-21 19:56] chrisblossom commented on #4108
Also I should note that after the initial ~45 minute hang the https private repo will respond quickly. To reproduce I delete the temp files and reboot the server.

[2014-01-21 19:57] jctanner commented on #5700
@eddgrant yeah, let's close this. I'm glad you found a solution though.

[2014-01-21 19:57] #5700 closed, assigned to nobody

[2014-01-21 19:59] jctanner commented on #4108
remote host is ubuntu 12.04 on digital ocean

[2014-01-21 20:14] bpb opened #5712 "sudo'd service module execution does not appear to match pattern in sudoers file"
<h1>Bug</h1>

Sudo'ing the service module using a user other then root causes Ansible to halt on password prompt even if the sudo user has permission to run the service.

<h2>Example</h2>

<h3>Preliminary Setup:</h3>

Create a server called <b>testbox</b> with the user <b>bpb</b>. Create a ssh authorization id_dsa.pem key for the bpb user.
Add bpb to sudoers.

<b>etc/sudoers</b>

<pre><code>
...
b

[2014-01-21 20:31] bcoca commented on #5712
No it does not, it runs sudo on a shell that calls a temp script (which
normally involves python) that then call the service binary (or init
script/etc).

This is not a bug, this is how ansible works, all modules will have the
same issue as ansible must generalize it's sudo usage when it executes
arbitrary code (the module).

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010

[2014-01-21 20:44] bpb commented on #5712
I understand and that this happens on all modules. But then what is the work around other then calling a raw command. It is not clear what Ansible is trying to execute through its modules behind the scenes and so it is not clear what the sudoers pattern should look like in this situation.

[2014-01-21 20:49] bcoca commented on #5712
If you run with -vvvv you will see exactly what ansible executes, since it
is using temp files it will be pretty hard to come up with an acceptable
sudo pattern, most ansible users using sudo, have ALL.

[2014-01-21 21:24] jctanner commented on #4108
The http based hang appears to be a bad interaction with subprocess.Popen and git-credential-cache. If the cache is turned on, then the process poll takes however long the cache timeout was set to.

Example problematic gitconfig:

[code]

The workaround is to either remove the helper definition or set a smaller timeout than default:

[code]

[2014-01-21 21:59] bpb commented on #5712
I apologize if this sounds naive and maybe this is an obvious condition on under which all modules in Ansible operate but from a system admin perspective elevating any user through which Anisble executes to ALL privileges seems unreasonable.

[2014-01-21 22:08] bcoca commented on #5712
Yes and no, since configuration management normally requires root or full
root privileges, it makes sense for ansible, most users either login as
root or have sudo ALL privs.

For those that are in very restricted environments and only have privileges
for very specific actions, ansible won't work for you, nor most
configuration management tools as they either have to execute as root or
use a simil

[2014-01-21 22:12] bcoca commented on #5712
clarification: ansible CAN work for you but you'll be restricted to mostly
the raw module and will be unable to use it fully.

Another option is to follow the 'agent' model and use ansible-pull from
root cron and drop privileges for most commands (but not service
restarts), this is how most other tools work.

[2014-01-21 22:50] bpb commented on #5712
This is good to know thank you.

[2014-01-21 22:50] #5712 closed, assigned to nobody

[2014-01-21 23:34] mpdehaan commented on #5708
Can you please show the playbooks inline?  It's difficult for me cross referencing files with your output.

Thanks!

[2014-01-21 23:35] mpdehaan commented on #5709
Can you please share a repo that implements this scenario for test purposes?

Thanks!

[2014-01-21 23:35] mpdehaan commented on #5696
Per contributing.md, can you please share the version of Ansible you are using?

Also, can you share a link to a minimal repo that reproduces this problem?

[2014-01-22 01:46] msolo opened #5715 "using copy: content="data" with notify clause always notifies"
This shows up as "changed" every run and triggers an update every time.

[code]

[2014-01-22 02:44] bcoca commented on #5715
which version?

I use the following and I don't see that issue
- name: Set Time Zone
  hosts: all
  gather_facts: False
  tasks:
  - name: Set timezone variables
    copy: |
        content='America/New_York
        '
        dest=/etc/timezone
        owner=root
        group=root
        mode=0644
        backup=yes
    notify:
    - update timezone
      handlers:
  - name: update timezone

[2014-01-22 02:55] sivel commented on #5715
This is probably a better discussion for the ansible-project mailing list, but the reason is due to your "content".

This file basically requires that there be a newline at the end of the timezone specified within it.

When you do it your way with just `content='America/Los_Angeles'` it doesn't place a newline at the end.  When dpkg-reconfigure runs, it notices this, and "fixes" it by adding the n

[2014-01-22 03:01] msolo commented on #5715
I should have been clear. I tried that earlier and saw no improvement in the situation. To double check I have just inserted the newline and once again, I get the same error I saw before.

[code]

[code]

[2014-01-22 03:10] sivel commented on #5715
Your use of `\n` there doesn't do what you think it is doing.  It literally is inserting `America/Los_Angeles\n` into that file, but tzdata and such on debian is smart enough and strips it out, and then adds the real new line in there.

You need to use a _real_ line break in there, like the examples that I and @bcoca have provided.

[2014-01-22 03:27] msolo commented on #5715
Now I understand. I should have read the --diff output more carefully -- it was telling the truth but I didn't believe it.

[2014-01-22 03:27] #5715 closed, assigned to nobody

[2014-01-22 07:22] winggundamth opened #5718 "previous known host file not found error"
I'm using Docker to create container and install ansible with pip install ansible.
I have no ansible.cfg and when start with simple command

[code]

it always shows an error "previous known host file not found" in every ssh command. Please see details below

[code]

**ansible-inventory**

[code]

**ansible.yaml**

[code]

**output**

[code]

I can ssh to that host with private key without problem

[2014-01-22 07:55] jpjp opened #5719 "ini_file does not deal with section-less ini files"
Files like this are not supported, even with section=""

[code]

[2014-01-22 10:19] bcoca commented on #5719
this is a limitation of the ConfigParser python library used by the module

[2014-01-22 11:39] jpjp commented on #5719
Ah. Should I report a bug there, or should I do this another way in ansible?

[2014-01-22 14:58] sebbrochet commented on #5709
Sure, here it is: https://github.com/sebbrochet/Ansible-Tags-not-found-if-2-levels-of-dependency-between-playbook-and-role

[2014-01-22 15:15] abdulg commented on #5708
playbook.yml

[code]

role1.yml

[code]

role2.yml

[code]

roles/common/tasks/main.yml

[code]

roles/role1/meta/main.yml

[code]

roles/role1/tasks/main.yml

[code]

roles/role2/meta/main.yml

[code]

roles/role2/tasks/main.yml

[code]

[2014-01-22 15:17] jctanner commented on #5702
@nikut Can you post the contents of your inventory file?

[2014-01-22 15:35] ingmar commented on #5707
Meanwhile I just hacked it into the local ansible-pull, like so (against ansible 1.4.4):

[code]

[2014-01-22 15:55] nikut commented on #5702
My inventory consists of a hosts file and a couple of dynamic inventory scripts so I can't really post that. However your comment made me realize what's causing this.

This inventory fails:

[code]

This inventory works:

[code]

Also this inventory works:

[code]

So it turns out that it was user error, although this behavior is certainly non-obvious and should probably be changed or at least doc

[2014-01-22 15:56] jctanner commented on #5702
@nikut I ran a basic test with synchronize based on having a remote_user that does not exist on the local machine, and it did fail per your description. Looking further into the issue though, I realized that this is not an issue with the synchronize module ...

[code]

Result:

[code]

This failure is expected, since ec2_user does not exist on this host. As mentioned in your previous comment, the

[2014-01-22 16:16] nikut commented on #5702
@jctanner, that makes sense, my only issue with this is that there is no way to force the connection to be local in the playbook when using the synchronize module. The fact that you need to either add "ansible_connection=local" for localhost in the inventory or remove localhost from the inventory altogether was not at all obvious to me.

When you are using something like the shell module, it's cle

[2014-01-22 16:38] jctanner commented on #5702
My misunderstanding was the remote_user does actually exist on the remote host, and in that case other modules would work without issue.

[2014-01-22 17:13] nikut commented on #5702
Just to be clear, removing localhost from the inventory fixed the issue for me and seems to be the recommended way in any case now that localhost is "magic". This is not an issue for me anymore but I imagine it may still cause trouble for others. @jctanner, feel free to keep this open or close it as you see best. Thanks for your help!

[2014-01-22 17:40] chrisblossom commented on #4108
I have started to work around the ssh-key issue by doing the following:
1. Creating /usr/local/bin/ssh-git.sh mode=0755

[code]
1. Placing the ssh-key in /etc/ssh/github.rsa mode=0644
2. Adding the following to any task:

[code]

As you can see I have set StrictHostKeyChecking=no, but when I run the command I receive the error:

[code]

The problem with this is when a user does not have a home dir

[2014-01-22 18:00] offby1 commented on #4108
@chrisblossom Another idea is to invoke "git" as some user who _does_ have a home directory, and then run "chown" afterwards to fix it up.

[2014-01-22 18:20] chrisblossom opened #5725 "/tmp/ansible/ not world-writable"
When initially setting "user: root" in a playbook, /tmp/ansible is created with directory permissions 0755 when it should be 0777 (recurse=no) because when falling back to a non-root user the following error occurs:

Should be noted I'm not specifying "-u root" in the ansible-playbook command.

[code]

Example playbook:

[code]

The solution I have done is to first setup the /tmp/ansible directory

[2014-01-22 21:25] #4649 closed, assigned to jimi-c

[2014-01-23 14:00] bcoca commented on #5659
I looked at the original _remote_md5 function and it basically tries to
behave like a cheap stat when md5 fails (which it does on dirs for linux
but not bsd). The change here should not be too hard except it affects
copy,assemble, fetch and template modules, some of which rely heavily on
this 'feature'.

My thoughts are that it should always return 2 values, the dir/file
indicator and the md5 hash

[2014-01-23 15:28] eproxus opened #5734 "Not detecting python-boto"
On OS X: Python and Ansible installed by running `brew install python ansible`. python-boto installed by running `pip install boto` (in the global site-packages for the python that is first in `PATH`, the one from Homebrew).

Everything comes from Homebrew:

[code]

python-boto is available:

[code]

Still, Ansible can't find python-boto:

[code]

[2014-01-23 15:41] mpdehaan opened #5736 "Mention ssh pipelining in docs"
Explain in accelerate docs that you could just use ssh pipelining and document as new option

Also explain possibly in FAQ

[2014-01-23 15:45] #3285 closed, assigned to nobody

[2014-01-23 15:51] mpdehaan commented on #5725
So the default temp location is handled here:

DEFAULT_REMOTE_TMP        = shell_expand_path(get_config(p, DEFAULTS, 'remote_tmp',       'ANSIBLE_REMOTE_TEMP',      '$HOME/.ansible/tmp'))

Which uses the user's home directory

The default ansible.cfg also sets this this way:

remote_tmp     = $HOME/.ansible/tmp

Did you perhaps change this?

Also please share what version of Ansible you are using.

[2014-01-23 15:51] eproxus commented on #5734
Fixed by changing `hosts` inventory file from:

[code]

to

[code]

[2014-01-23 15:51] #5734 closed, assigned to nobody

[2014-01-23 15:55] mpdehaan commented on #4324
Closing because pull request is merged, there are some details like making su/sudo not specifiable in the same task that are still being refined.

Thanks!!!

[2014-01-23 15:55] #4324 closed, assigned to nobody

[2014-01-23 16:01] chrisblossom commented on #5725
[code]

I'm using a mostly-default ansible config located in the base of my Ansible directory (although I am not sure the last time the ansible.cfg file has been updated):

[code]

Looks like remote_tmp was changed somehow. Was this default at one point? Because there is no reason I would have changed it. I'm going to update the ansible.cfg file from the example directory in the meantime.

[2014-01-23 16:12] hyperfocus1338 commented on #5007
I can confirm that Ansible also crashed my Mavericks a few times, although I can't reproduce it anymore.

[2014-01-23 16:12] eproxus opened #5738 "ec2_group crashes on existing groups"
[code]

Hosts file:

[code]

ec2_security.yml:

[code]

[2014-01-23 16:31] twouters opened #5739 "copy leaves temp dir behind when force=no"
When using force=no with a copy action, the tmp directory created in remote_tmp is not removed when there are no differences in the source and destination file.

[code]

[2014-01-23 16:57] maxrothman opened #5740 "Static inventories behave differently than dynamic ones"
Consider this static inventory:

[code]

And this dynamic one:

[code]

They should be identical, right?

[code]

Upon further inspection (with -vvvv), it becomes clear that ansible is trying to connect to a host "foo".

[code]

This is with ansible 1.4.3 on Ubuntu 12.04.

Is there a reason for this behavior? Can it be fixed?

[2014-01-23 17:47] mscherer commented on #5702
Was this on git head ?  ( since #5668 is about a problem that looked similar, and this was fixed in HEAD )

[2014-01-23 17:55] mhickman commented on #5007
I installed off of this homebrew formula - https://gist.github.com/mhickman/8583475

[2014-01-23 18:35] g-- opened #5741 "uncompress doesn't like FreeBSD"
Uncompress doesn't work with FreeBSD, even after bsdtar has been replaced with gnutar.. it returns the generic error:

[code]

I get the same behaviour with zip files.  I checked that md5 is installed and appears to be properly working.

You can reproduce the problem by downloading this tarball  and:

[code]

For quick reference, the playbook is:

[code]

[2014-01-23 18:37] g-- commented on #5741
gah, I can't figure out how to attach the tarball.  Here are the other files you can use to reproduce the problem with Vagrant (it's a quick way to get a FreeBSD VM running for this kind of thing.):

foo.tar.gz is any valid tar.gz file.

Vagrantfile:

[code]

freebsd.conf:

[code]

Place these files in with playbook.yaml in an empty directory and stir.. err, "vagrant up".

[2014-01-23 19:39] bcoca commented on #5741
this is probably related to another issue i'm looking at for unarchive, the
internal md5 function is overloaded as a stat, detects file/dir when md5
fails, the BSD md5 program returns a hash for directories, which the linux
tool does not (fails) and the file/directory detection relies on the linux
behavior.

[2014-01-23 20:02] g-- commented on #5741
aaah.. that makes sense.  I saw md5 try to hash a directory, which I'd never seen before.

[2014-01-23 20:13] rrtj3 opened #5742 "uri module always following redirects"
It looks like this pull request:

https://github.com/ansible/ansible/commit/5c0daf9e0a3a58253df61e56e39333637202cd12

is unconditionally setting 'follow_redirects' to True which should not be the case.

[2014-01-23 20:56] hyperfocus1338 opened #5743 "Importing a mysql database with the mysql_db module is non-idempotent"
Currently with the mysql_db module state=import tries to import the database again, thus making it non-idempotent. This is the error i'm getting; msg: ERROR 1062 (23000) at line 30: Duplicate entry '1' for key 'PRIMARY'

With this playbook:
- name: create website database
  mysql_db: name=dbname
                  login_user={{ mysql_root_user }}
                  login_password={{ mysql_root_passw

[2014-01-23 21:19] srgvg commented on #5742
Trying to remember what I did here..

The original code let http.follow_redirects to default, which according to http://httplib2.googlecode.com/hg/doc/html/libhttplib2.html#http-objects is 'True'.

My patch just made some preliminary stuff, using http.follow_redirects set to False, then puts it back to True, the original default. Perhaps that default is a problem, but at first look, I don't see wh

[2014-01-23 21:23] #4108 closed, assigned to nobody

[2014-01-23 21:24] jctanner commented on #4108
@chrisblossom thanks for doing all the research on this!

[2014-01-23 21:56] sivel commented on #5740
The script functionality, currently does the following:

[code]

This basically says, if a "hosts" key was not provided, set the "hosts" to the group.  So in your case "foo" becomes a host as well.

I do not have historical reference here, but I assume it is to allow creating "ungrouped" servers, since creating a "ungrouped" group overrides the magic group that is created when no such group of tha

[2014-01-23 22:12] maxrothman commented on #5740
Huh. That should probably be indicated in the documentation. Thanks.

[2014-01-23 22:12] #5740 closed, assigned to nobody

[2014-01-23 22:57] rrtj3 commented on #5742
Hmm, true. I'm wondering if there's some weird interaction between 'follow_redirects' and 'follow_all_redirects' here. e.g. follow_redirects is possibly over-riding follow_all_redirects, or the toggling of follow_redirects is changing 'follow_all_redirects' value.... will have to do some testing/debugging here. Thanks @sergevanginderachter for taking a look.

[2014-01-23 23:01] srgvg commented on #5742
No problem, still wondering what's your exact problem though?

[2014-01-23 23:18] rrtj3 commented on #5742
User on mailing list is reporting:

"I'm trying to get ansible to submit an http request for specific a url, and verify it gets a 301.  It does not need to follow the location header and make the next http request.

I figured that follow_redirects=no would solve this for me, however I see ansible make the initial http request, receive a 301, then make the next http request and get a 200 back.  It

[2014-01-24 01:35] jctanner commented on #5003
@willthames were you planning on submitting a pull request for the commit above?

[2014-01-24 01:43] jirutka commented on #4392
+1, it'll be very helpful.

[2014-01-24 02:31] willthames commented on #5003
I decided to close the pull request as @zbal's implementation (https://github.com/ansible/ansible/pull/5256) was superior.

Mine was https://github.com/ansible/ansible/pull/5263 - not sure why the PR is no longer associated with the commit, but guess that's a github bug/feature.

[2014-01-24 03:23] jctanner commented on #5003
Resolved by https://github.com/ansible/ansible/pull/5256

[2014-01-24 03:23] #5003 closed, assigned to nobody

[2014-01-24 05:42] teerapap commented on #3157
+1

However, I thought `always_run: yes` should be a proper solution instead of `all` tag. I've tried `always_run` with the playbook above but it seems to work only in [check mode](http://docs.ansible.com/playbooks_checkmode.html#running-a-task-in-check-mode)

[2014-01-24 06:19] DaveQB commented on #4710
Chiming in with my vote that this is an issue for me. Only cosmetic though.
ansible 1.4.1

[2014-01-24 06:30] DaveQB commented on #4818
Brilliant. Thanks for the solution using the double quotes.

This page mentions the need for double quotes over the entire line due to a colon
http://docs.ansible.com/lineinfile_module.html

It says to refer to the Gotcha section in the YAML docs (no link on the page).

I found the referenced page here:
http://docs.ansible.com/YAMLSyntax.html#gotchas

But it does not mention any issues with \t (TA

[2014-01-24 07:11] nikut commented on #5702
@mscherer, yes, latest devel, and I believe it's a different issue. Note that in my case the connection to the destination needs to be ssh, the problem is/was with connecting locally to the source (localhost) specifically when ansible_connection=local is _not_ specified for it.

[2014-01-24 08:10] hyao opened #5747 "digitalocean module: add ssh_key_names option?"
I have the following play to create a droplet, and the deploy key is on DO already. However it's doesn't get added to the new droplet. I sshed into the droplet and saw there's an empty line in /root/.ssh/authorized_keys. Tried a couple of times with the same result.

Thanks,

[code]

[2014-01-24 12:04] zimbatm commented on #5747
The key id is not the same as the name. To find the ID in the web UI, go to the key management and inspect the edit button,
![screen shot 2014-01-24 at 12 02 26](https://f.cloud.github.com/assets/3248/1994493/89d8dc30-84ef-11e3-94b5-6dea7bf445cf.png)

Alternatively you can define the key using ansible and then use the registered return to extract the id:

[code]

[2014-01-24 12:23] hyao commented on #5747
Thank you very much for the answer!

Is it possible to add an ssh_key_names option, which would be much easier to use?

Thanks,

[2014-01-24 12:56] zimbatm commented on #5747
I agree, it would be great if a `ssh_keys` attribute could contain either names or ids. I'm sure if you submit a pull-request it will be accepted.

Maybe it's worth discussing it with digitalocean too, I don't know if their API supports this directly or if another round-trip has to be made to fetch the ids of the provided key names.

[2014-01-24 14:09] mpdehaan commented on #5743
Yeah, it's a database import, so it's doing the right thing :)

It's not true that every step in an automation system has to be idempotent really.

You should probably look into using a migration system like South, that's smarter, or something else similar, or key off the application version.

Feel free to stop by the list to discuss ideas with the group.

Thanks!

[2014-01-24 14:09] #5743 closed, assigned to nobody

[2014-01-24 15:43] twouters opened #5748 "hostname module detect FQDN and update /etc/hosts"
The hostname module currently sets the hostname wether it's an FQDN or not.

[code]

Ideally it should set the hostname to the first part of the FQDN (until the first dot).
`/etc/hosts` should be updated to include a rule like this:

[code]

Or if the provided hostname is not an FQDN:

[code]

Another option would be to insert a new line above all other entries using the primary IP address of the

[2014-01-24 15:44] g-k-r opened #5749 "hosts defined in two groups in different inventory files each is used multiple times"
when using multiple inventory files defining different groups for the same hosts, ansible adds the hosts multiple times to the inventory list.

version: 1.4.4+dfsg-1 (from debian jessie)
same problem with current devel 00b3f627ebb2b8e9cf743671a9ddd2d8d8c9fe45

reproduce:
- use files from https://gist.github.com/g-k-r/8599442
- run **ansible all --list**
- run **ansible group2 --list** and compare

[2014-01-24 15:47] sivel commented on #5749
Per contributing.md can you please provide your ansible version?  (`ansible --version`)

If I remember correctly, this has been resolved in devel (1.5)

[2014-01-24 16:22] chrisblossom opened #5750 "Git failing when user's home directory doesn't exist"
When using the git module with a user that doesn't have a home directory, such as www-data, the module will fail.

[code]

[code]

[2014-01-24 16:28] chrisblossom commented on #5725
I think I made a mistake, sorry. I need better commenting...I think I moved the remote_tmp to /tmp because there is an issue if the user does not have a home directory, such as www-data, Ansible will fail without this change. Another option is for me to change to /tmp/$USER/ansible so I won't need to specifically change /tmp/ansible to world-writable won't be an issue anymore.

Maybe a better fall

[2014-01-24 16:34] hyao commented on #5747
Looked at DO's api doc; it seems to return both id and name at the same time:

[code]

[code]

[2014-01-24 17:15] jnv commented on #4392
I have a hunch this may lead to tightly coupled roles, especially the usage with Galaxy roles may be problematic. On the other hand, this is probably the most obvious way how to keep roles generic enough for more heterogenous infrastructure—the custom written roles, that is.
:+1:

[2014-01-24 17:18] eigood commented on #5750
A similar thing happens if the $HOME actually _does_ exist, but .ssh does not.

I don't think the module should auto-vivify the full path; if $HOME doesn't exist, and accept_key=true, then the module must fail.  But, if $HOME exists, and .ssh does not, then create it.

[2014-01-24 17:52] jctanner commented on #5749
Yes, this was resolved by https://github.com/ansible/ansible/commit/559e89036b98127510794125beeaeebc82e0c141

Please rebase and try again if you are running an older version.

[2014-01-24 18:01] sivel opened #5752 "Allow su_user to be templated"
Currently sudo_user allows templating, but su_user does not.  To bring them closer to feature parity, let's look at adding that functionality.

[2014-01-24 18:04] sivel commented on #5752
cc @angstwad

[2014-01-24 18:20] sivel opened #5753 ""Share" documentation between modules"
With modules taking advantage of module_utils/{ec2,rax}.py there is a lot of duplicated documentation that has to be managed per module.  This is especially true of the rax modules.

Currently all rax modules, have documentation references to the following attributes:

[code]

The docs for these get copy/pasted into all new modules.  Additionally the 'notes' portion of the DOCUMENTATION is identic

[2014-01-24 18:39] eigood commented on #5752
I've got this fixed locally, need to create a fork on github, and push it up.  It was _very_ simple.

[2014-01-24 18:52] eigood commented on #5752
Submitted PR #5754.

[2014-01-24 20:05] g-k-r commented on #5749
@sivel: amended the report

[2014-01-24 20:24] jctanner commented on #5749
@g-k-r this is resolved in devel, and will be in the 1.5 release.

[2014-01-24 21:08] mpdehaan commented on #5753
Questions like this should be asked on the mailing list and not the bug tracker.

I do think they should be repeated though.

[2014-01-24 21:08] #5753 closed, assigned to nobody

[2014-01-24 21:27] jimrybarski opened #5756 "(edited) particular traceback involving filter"
Version: ansible 1.4.4

The following playbook executes the set_fact and debug tasks successfully. The uri task then throws an UnboundLocalError. Traceback is below.

[code]

I then execute:

[code]

Result:

[code]

[2014-01-24 21:31] g-k-r commented on #5749
@jctanner: tested with devel, not solved, will provide unit test in PR based on devel

[2014-01-24 21:41] jimi-c commented on #5397
Resolved by fc3046759345a88436cadfeea5e6570b9eef3e7e.

[2014-01-24 21:41] #5397 closed, assigned to jimi-c

[2014-01-24 22:39] mpdehaan commented on #5749
Reopening for testing.

[2014-01-24 22:40] mpdehaan commented on #5756
This is not actually the url module but elsewhere, but yes, this shouldn't traceback.

[2014-01-24 22:51] sivel commented on #5756
I created a simple test for this:

[code]

Both the 1st and 2nd debug work, but the 3rd fails.

I made the following change in the code (there are several tickets referencing this exception) to find out what the real issue is:

[code]

What I found is:

[code]

I haven't had time for any deeper digging.

[2014-01-25 00:32] g-k-r opened #5760 "are the unbalanced quotes for values in ini files intentional ?"
daf797804b8f439d665e48996fe9cf1d2d632635 introduced whitespaces around the assignement operator for key value pairs. it also introduced unbalanced quotes in test/complex_hosts. this is very inconvenient as it breaks parsing the ini files with ConfigParser. So is this a bug or a feature ?

[2014-01-25 01:08] ciupicri opened #5761 "Incorrect sector size for 4K (4096) disk"
Ansible reports that a [Hitachi HDS724040ALE640](http://www.hgst.com/tech/techlib.nsf/techdocs/3C330019E6ED04A48825797700626F0D/$file/DS7K4000_ds.pdf) disk has 512 bytes sectors, even they're really 4096 bytes (4K).

The output of the **setup** module is:

[code]

**fdisk** says something else:

[code]

I'm running kernel-3.12.8-300.fc20.x86_64 and `/sys/block/sdd/queue` looks like this:
- hw_sect

[2014-01-25 01:15] mpdehaan commented on #5760
Are you talking about in the tests or in the results of using the INI module?

If reporting a bug, please include steps to reproduce (playbook would be great) and before/after output.

Thanks!

[2014-01-25 01:26] mpdehaan commented on #5756
So it seems the filter logic here just needs something to grok the undefined error, or _really_ what we need to do is catch the Undefined and raise an errors.AnsibleError or something.

Doesn't seem too serious.

Thanks @sivel!

[2014-01-25 01:26] mpdehaan commented on #5760
(tagged for investigation)

[2014-01-25 01:36] jimrybarski commented on #5756
Why is there even an error in the first place? Isn't all the syntax in the playbook perfectly legal?

[2014-01-25 03:58] briceburg commented on #4642
@aboyett have you made sense of this? believe it allows a logical approach to abstracted playbook organization (that I wasn't able to accomplish partly due to bugs/workarounds).

[2014-01-25 09:36] rightaway opened #5763 "How to run only one included yml tasks file?"
I'm running "ansible-playbook roles/myrole/tasks/myincludedfile.yml -i inventory -c local -vv", where the yml file contains only:

[code]

And I get an error message "ERROR: apt is not a legal parameter in an Ansible Playbook". I'm using a recent ansible, 1.4.3.

Is it not possible to run one included tasks file like this directly? I don't want to run the entire set of ansible playbooks referred t

[2014-01-25 13:14] zimbatm commented on #5747
The API to start new droplets expects the key id so you would first have to resolve the names to ids before issuing the request.

[2014-01-25 13:14] zimbatm commented on #5747
`https://api.digitalocean.com/droplets/new?client_id=[your_client_id]&api_key=[your_api_key]&name=[droplet_name]&size_id=[size_id]&image_id=[image_id]&region_id=[region_id]&ssh_key_ids=[ssh_key_id1],[ssh_key_id2]`
- ssh_key_ids: Optional, Numeric CSV, comma separated list of ssh_key_ids that you would like to be added to the server

[2014-01-25 13:37] hyao commented on #5747
That would mean an additional api call to get ssh_keys. I see, thanks.

[2014-01-25 15:06] bcoca commented on #5763
you cannot run tasks outside of a play (which maps hosts to tasks).

You can run the same tasks from different plays using includes, so you just
need to create a small play that does this.

[2014-01-25 16:12] mpdehaan commented on #5763
Hi, please ask questions on the mailing list and keep the bug tracker for bugs and pull requests and the like, please.

Look at CONTRIBUTING.md for mailing list info, thanks!

[2014-01-25 16:12] #5763 closed, assigned to nobody

[2014-01-25 16:39] mpdehaan commented on #5545
Closing per comment from @bcoca above

[2014-01-25 16:39] #5545 closed, assigned to nobody

[2014-01-25 16:41] lifanov opened #5768 "fix slow ssh connections on FreeBSD SMP"
This reduces single ssh connection overhead from ~2.5 seconds to ~0.3 on FreeBSD SMP machines, which was a regression since 1.4.1

[code]

[2014-01-25 16:44] mpdehaan commented on #5768
In the future, so if you would like to submit a patch, please submit this as a github pull request.

I'm curious why this isn't causing issues on other platforms but there's also another variant of this out here on GitHub, one sec...

[2014-01-25 16:45] mpdehaan commented on #5768
I'm going to close this one and link it to #5572 where we can still see the patch info there.

Thanks!

[2014-01-25 16:45] #5768 closed, assigned to nobody

[2014-01-25 18:20] lifanov commented on #5768
On 2014-01-25 11:44, Michael DeHaan wrote:

Thanks! I will submit a pull request next time. I'm still new to github
way of doing things.

## Links:

[1] https://github.com/ansible/ansible/issues/5768#issuecomment-33293265

[2014-01-25 20:17] DaddyOh commented on #5629
I have the same problem with some group_vars not resolving. Mac OS X
ansible: 1.4.1

[2014-01-25 20:23] DaddyOh commented on #5629
this happens on mac 1.4.4 also

[2014-01-26 08:45] mattwillsher opened #5773 "unquoted "*" (invalid YAML) results in stack trace"
If I have a role with the following:

[code]

I get the follow stack trace on run:

[code]

Enclosing the \* in quotes fixes this.

[code]

Rather than a stack trace, an informative error is expected.

[2014-01-26 09:30] encbladexp opened #5774 "Add force Switch for lvol"
lvchange/lvreduce requires a --force switch to make Logical Volumes smaller. Currently ansible could shrink manual resized volumes and destroy filesystems on this volumes.

A force: true Option would require that an Admin know what he does, even if someone makes a volume "by hand" bigger than with ansible created in the past.

Ansible modules should never run things with --force if not requested s

[2014-01-26 15:33] mpdehaan commented on #5708
Notes for us for later:

"I have three playbooks, playbook.yml, role1.yml, and role2.yml. The first playbook selects a role to execute based upon a variable passed via the command line. The second 2 simply execute role1 and role2 respectively."

Looking at the repo:

playbook.yml applies role1 when a variable named do_role is set to "role1", or role2 when set to "role2".
role1.yml is actually a pl

[2014-01-26 15:36] mpdehaan commented on #5773
Per contributing.md, please share the version of ansible you are using.

[2014-01-26 15:38] g-k-r commented on #5760
hi @mpdehaan i was referring to lines **41** and **42** in file **test/complex_host** in commit daf797804b8f439d665e48996fe9cf1d2d632635

[code]

[2014-01-26 15:38] mattwillsher commented on #5773
Sorry. It's 1.4.4

[2014-01-26 15:41] mpdehaan commented on #5774
This sounds reasonable, is this something you would like to work on?

[2014-01-26 17:12] mpdehaan commented on #5773
Thanks.

On Sun, Jan 26, 2014 at 10:39 AM, Matt Willsher notifications@github.comwrote:

[2014-01-26 17:13] encbladexp commented on #5774
I made a Pull Request for this Issue: https://github.com/ansible/ansible/pull/5775

[2014-01-26 18:23] bcoca commented on #5773
- is a special character in yaml, used for defining aliases

[2014-01-27 01:07] burner1024 opened #5777 "More granular output control"
1) I wish there was a "quiet" or "silent" option for running ansible-playbook. The default output is too verbose. As long as everything is ok (no errors), I don't care what exactly was performed. Just "Play recap" is enough.
It would be nice if it also removed the extra newlines.

2) on the contrary, when there's (for example) a connection error, I have to re-run the playbook adding "-vvvv" to deb

[2014-01-27 01:58] burner1024 opened #5778 "mysql_user module output wrong"
ansible-1.4.1 mysql_user module reports password changed for a wrong account.
Here's the play:

[code]

Mysql accounts before:

[code]

Mysql accounts after:

[code]

Play output:

[code]

As you can see, it claims to have changed password for root@test3.domain.com. Instead, it changed password for root@localhost.

[2014-01-27 07:55] dhorbach opened #5779 "Negation of evaluated False results in False"
Based on https://groups.google.com/forum/#!topic/ansible-project/5CnhAFxSZPo

Found something strange (possible bug?)  in evaluating True/False inside vars.
Only in one particular case - if variable is evaluated as "False" - its not converted to "True" with "not"

In my example false_eval is evaluated to "False" inside debug module but "not false_eval" is still "False". Any reason for that?
- debu

[2014-01-27 14:38] yauh opened #5780 "extra-vars on command line does not work for complex variables for ansible-playbook"
I have a role that has a complex variable defined in defaults/main.yml:

[code]

Now I wish to override this from the command line using `--extra-vars="jenkins.port=8088"` when executing the playbook.

This does not work, even with `export ANSIBLE_HASH_BEHAVIOUR=merge` applied for the shell executing ansible-playbook. The expected behaviour would be to be able to overwrite also complex vars from t

[2014-01-27 14:54] sivel commented on #5780
You will need to use something like JSON passed to --extra-vars to get the functionality you are looking for.

You are literally creating a variable called "jenkins.port"

Something like:

[code]

Keep in mind that this is a issue tracker.  For questions, you should stop by the mailing lists as outlined in contributing.md

[2014-01-27 15:07] yauh commented on #5780
Hi Matt, thanks, it works as expected.

I didn't mean to use the issue tracker as a support system, been discussing this issue with benno on IRC for a while and we agreed it would be best to open an issue.

[2014-01-27 15:09] #5780 closed, assigned to nobody

[2014-01-27 15:33] jctanner commented on #5778
@burner1024 is gather_facts turned off in your playbook?

[2014-01-27 15:48] jimi-c commented on #5760
@g-k-r this seems to be by design, specifically to test parsing of unbalanced quotes in the INI. Could you tell us what your use-case is for that file, since it is only a testing file?

[2014-01-27 17:05] jimrybarski opened #5781 "pip reports success even if executable doesn't exist"
On my server the only Python 3 pip executable is `pip3`, not `pip-3.3`. I mistakenly used `pip-3.3` in my playbook, but there was no error. In fact, it installed the package for Python 2.7, which was not expected at all. I would have expected that the playbook would throw an error and quit instead of silently defaulting to 2.7.

Excerpt from my playbook:

[code]

Output:

[code]

Going into python

[2014-01-27 17:07] davecore82 opened #5782 "Evaluate check_mode missing in the service module SunOS class"
The check mode for the service module does not work and still makes changes to SunOS/Solaris hosts.

Using ansible 1.3.4

I previously reported a similar bug, with the user module. Issue #5169

The Issue #5169 was fixed by Fixes #5169 Evaluate check_mode in the user module SunOS class

Can someone do the same fix for the service module for SunOS?

Thank you.

[2014-01-27 17:46] jimi-c commented on #5756
@sivel I believe I have this fixed in the above PR, however it did expose another interesting issue in our debug output. For that reason, I recommend you use `debug: var="stash_json | to_json"` instead to show the variable.

Let me know if that PR works for you.

[2014-01-27 18:25] #5756 closed, assigned to jimi-c

[2014-01-27 19:27] g-- opened #5785 "System reboot module"
I'd like to suggest/request a 'reboot' module that can restart a system under ansible's control and wait until the action is completed.

At the moment, this can be approximated with a shutdown handler followed by a pause:

[code]

[2014-01-27 19:30] DavidJFelix opened #5786 "Plugins not in any package"
Neither the apt ppa nor the pip package come with the plugins and there is no package for the plugins in pip or in the ppa. I have not tested other packaged versions. This makes the EC2 plugin unusable out of the box unless I build from source.

[2014-01-27 19:34] bcoca commented on #5785
I've actually seen it used more with wait_for as a followup task.

[2014-01-27 19:41] #5309 closed, assigned to nobody

[2014-01-27 19:45] jctanner commented on #5786
@DavidJFelix I presume this issue is related to https://groups.google.com/forum/#!topic/ansible-project/jjuapMOLkr8  ?

[2014-01-27 19:51] DavidJFelix commented on #5786
@jctanner it seems to be related. IMO it's an issue whether or not you agree with the plugins being part of the package.
- You believe the plugins should be a part of the package: clearly they are not, and need to be added.
- You believe the plugins should not be a part of the package: the documentation makes no mention of this and needs to be changed to accommodate people who don't install from s

[2014-01-27 20:12] VerosK opened #5788 "get_url module doesn't work with password protected FTP sites [bug]"
Current version of get_url module doesn't work with password protected FTP sites.

After some testing, I found that get_url module is handling credentials in http-specific way.

[2014-01-27 20:17] VerosK commented on #5788
The patch is tested with own FTP server and with httpbin.org HTTP tester.

[code]

[2014-01-27 20:34] jctanner commented on #5786
@DavidJFelix any suggestions on altering setup.py or MANIFEST.in to make this work for distro packages, pip, and virtualenvs ?

[2014-01-27 20:52] DavidJFelix commented on #5786
@jctanner My personal opinion is that it should come "batteries included", at least in the case of plugins that are already written and reside in this repository. For MANIFEST.in wouldn't a recursive-include of plugins/ be enough? For the Debian, I'd say the current plugins belong in /usr/local/lib/python2.7/site-packages/ansible/plugins/ or /usr/lib/pymodules/python2.7/ansible/plugins/.

On the o

[2014-01-27 21:12] mark-casey opened #5791 "add_host seems to not be working?"
This is a simplified version...(original: https://groups.google.com/forum/#!topic/ansible-project/c3pty9IrqRc). Am I doing something wrong?

ansible 1.4.3

[code]

[code]

[2014-01-27 21:22] burner1024 commented on #5778
no

[2014-01-27 21:30] g-- commented on #5785
I think I tried that.  Couldn't figure out how to get the ssh port that I needed to wait_for locally.  But yeah, same principle.

[2014-01-27 22:21] jctanner commented on #5791
@mark-casey in this case localhost is being handled in a special way. If you add a host called "foo" and start a new play, you'll see the expected behavior.

[code]

[code]

[2014-01-27 22:32] apollo13 opened #5792 "Newlines are somewhere beeing stripped during templating"
This is a follow up to: https://github.com/ansible/ansible/pull/342/files -- I think the issue still exists. My Playbook is:

[code]

"od -c" output of the results:

[code]

[2014-01-27 22:35] jimi-c commented on #5752
The above PR was merged, so this issue should be resolved. Thanks!

[2014-01-27 22:35] #5752 closed, assigned to nobody

[2014-01-27 23:50] eigood commented on #5752
This merge was done incorrectly.  lib/ansible/runner/**init**.py, line 635 and 849 are incorrect.  How should I go about submitting that?

On 635, the self.su_user line should be deleted, it is handled earlier in the file, the same as as sudo_user.

[2014-01-28 00:23] rrtj3 commented on #5742
After some testing. It appears that the only way to have the httplib2 module not follow redirects, 301's at least, is by having both 'follow_all_redirects' and 'follow_redirects' set to false. Here is my simple test code:

[code]

so I'll submit a pull request that sets them both to false if the follow_redirection module option is set to no.

[2014-01-28 01:09] mpdehaan commented on #5791
I'm not sure why it should be held to a different standard here.

It may not be a real world problem in most cases though.

[2014-01-28 01:24] jimi-c commented on #5752
Ahh, I was actually fixing another issue and probably changed that - there was a merge conflict when I merged my fix in so I assumed my branches version was correct. Just create a new branch and PR and I'll get it corrected.

[2014-01-28 01:39] eigood commented on #5752
Ok, I'll get to that tomorrow.

On 01/27/2014 07:25 PM, James Cammarata wrote:

[2014-01-28 02:28] rrtj3 commented on #5742
Ok, this is a little more complicated than I initially thought. When I initially wrote the module I didn't fully understand the httplib2 libraries 'follow_redirects' and 'follow_all_redirects' options and how they interact. At this point, the uri modules, follow_redirects option allows the module to follow "unsafe" redirects by setting it's value to "yes" but doesn't disable redirects by setting i

[2014-01-28 02:35] bcoca commented on #5742
my 2c (probably worth 1/10th) let yes and no function as is and change it
from a boolean to a 'choices' [all, safe, none] with 'yes/true' and
'no/false' being aliases. Make note of old behavior deprecation in docs and
eventually remove it in a version or 2.

[2014-01-28 02:45] rrtj3 commented on #5742
Hmm, I like that a lot. Graceful. I'll wait to see if others have any other opinions before proceeding.

[2014-01-28 05:12] hyphen-jb commented on #4818
I don't know if the \t (TAB) expansion problem is a bug or just needs to documented as a gotcha.

If not fully quoting is a common mistake, an anti-example should be added to lineinfile_module.html
I also made a subtle change in the comment on Fully quoted.

[code]

Anti-Example:

[code]

The YAMLSyntax.html#gotchas is a bit sparse.  If I have time to verify against current, I'll add a documentati

[2014-01-28 09:48] kustodian opened #5796 "Set manage_dir to false when path is specified in the authorized_keys module and allow mode/owner"
First problem with this module is that `manage_dir` is by default set to `True`, but if you specify an alternative `path` it would probably be safer to set `manage_dir` to false in that case, so that it doesn't lock anyone out.

I know there is this example in the documentation about this:

[code]

but if you miss the example, set a central directory for authorized_keys like in the example and don

[2014-01-28 12:31] g-k-r commented on #5760
@jimi-c to check #5749 i created a test and also reviewed the parsing code. the code fails when there are hash `#` signs in a quoted value which is probably why the corresponding test is commented out. unbalanced quotes are difficult to parse and I don't see a real usage for that feature. the parsing routine could probably be simplified by disallowing unballanced quotes and defining each line to b

[2014-01-28 15:17] ingmar opened #5797 "Playbook syntax errors need to include file and line"
With ansible 1.4.4, an error in any of the YAML files of a large playbook leads to a rather nonspecific error message such as:

[code]

Now it's up to the user to guess where this error occurred. I think it would make every sense in the world if Ansible added the location of the error, for example:

[code]

[2014-01-28 15:42] athoune opened #5798 "ANSI color appears in linux ssh command"
With a Mac,

[code]

With a Debian 7

[code]

Where does _\x1b]0;_ came from? Is there a trick to remove this dirt from my command line?

[2014-01-28 15:51] feanil opened #5799 "ec2.py hangs with latest version of Boto"
Running `python ec2.py` just hangs when running with a boto version greater than: '2.20.1'

[2014-01-28 16:01] jctanner commented on #5799
@feanil I test against boto-2.23.0 and have not seen a "hang".

1) At what point in the script does it hang? python -m trace --trace ec2.py
2) What version of boto were you using when it did not hang?

[2014-01-28 16:03] bcoca commented on #5797
it seems to be evaluating the task as a play

[2014-01-28 16:13] feanil commented on #5799
1) A few traces: Stops in at least two different places: https://gist.github.com/feanil/8670697
2)  Works fine with boto 2.20.1

[2014-01-28 16:13] phy1729 opened #5800 "md5sum command fails unusually with -K"
"ansible-playbook -i inventory lugbox.yml -CK" gives multiple warnings that md5sum failed unusually; however "ansible-playbook -i inventory lugbox.yml -C" does not. The remote box (lugbox) is Arch Linux. The error is on every copy command.

Playbooks are at https://github.com/utdlug/lug-config using 518ade2

% ansible --version
ansible 1.5 (devel 1584d8f01b) last updated 2014/01/28 10:03:38 (GMT -

[2014-01-28 16:19] jctanner commented on #5799
@feanil it looks like it's getting stuck in the argparse stack. What parameters are you passing to the script?

[2014-01-28 16:20] jimi-c commented on #5760
@g-k-r I'm fine with removing those lines from the test, as I agree, the test doesn't seem to provide any useful function.

[2014-01-28 16:24] ingmar commented on #5797
Yes, that is the cause in this case, but it doesn't say where, so one has to go look for it. This can be quite tedious when using roles and includes. Ansible does output the location for other errors, e.g.:

[code]

This would be nice to have here.

[2014-01-28 16:44] dekked opened #5801 "Variables not passed on playbook include?"
Given these two files:

site.yml

[code]

site2.yml

[code]

The following command fails

[code]

[code]

Why is that? When using include, I am clearly passing the variable as I should.

This, however, works fine:

[code]

Is this a bug? or am I assuming something wrong?

[2014-01-28 16:49] #5750 closed, assigned to nobody

[2014-01-28 16:54] jctanner commented on #5750
@chrisblossom @eigood the patch above should fix everything you have brought up. Please file new bugs if you find any issues. Thanks!

[2014-01-28 16:55] feanil commented on #5799
was passing '--refresh-cache' in this case.

[2014-01-28 17:06] agshekeloh opened #5802 "FreeBSD "service" module reports "changed" when original enabled in lower case"
ansible 1.5 (devel 8ff1b06879) laste updated 2014/01/27 12:16:48 (GMT -400), running on an OpenBSD 5.5 snapshot.

FreeBSD services are enabled in /etc/rc.conf, with text like this:

ntpdate_enable="YES"
ntpd_enable="YES"

The "YES" can be upper or lower case.

I'm using a tasks file like this:

---
- name: enable ntpdate
  service: name=ntpdate enabled=yes
- name: enable ntpd
  service: name=ntpd

[2014-01-28 17:21] mark-casey commented on #5791
Yes, my original issue on-list was using add_host with ec2 instances (where I'm having similar trouble getting the new groups to show up); I just used localhost in an attempt to be more succinct.

However, FWIW I have run into this localhost thing before. (at least, based on my understanding of it I have... I know its still possible I'm missing something **obvious** across the board here)

We use

[2014-01-28 17:21] g-k-r commented on #5760
@jimi-c good, do you want a pull request ?

[2014-01-28 17:27] jimi-c commented on #5760
@g-k-r yes please, and make sure you put "Fixes #5760" in the commit so it will auto-close this issue.

Thanks!

[2014-01-28 17:42] risaacson commented on #5739
@twouters from the word that I am getting back and from my testing this has been fixed and will be in the 1.5 release.

Can you pull the latest from devel and test this to verify those findings?

If it is still a problem can you also include the host OS that you are executing from and what the remote OSes are?

Thanks!

[2014-01-28 17:47] ingmar commented on #5799
@jctanner That's only where the gist is truncated, you need to download it to see the whole trace.
@feanil The trace ends in auth.py when parsing headers, so I'd peek into ec2.ini and your environment (EC2_REGION and the AWS_\* variables) and make sure everything looks sane there.
I'm using ec2.py heavily with Boto 2.23.0 and have had no issues either.

[2014-01-28 17:48] athoune commented on #5798
With a -c paramiko, there is no bug.

Beware of print for debugging. The command is rotten, but if you `print cmd`, you see nothing wrong, but `print [cmd]`show you horrible ANSI escape.

[2014-01-28 17:53] jctanner commented on #5799
@ingmar ah, thanks for setting me straight ...

[code]

[2014-01-28 18:19] kustodian commented on #4777
This would be the number one feature I would vote at this moment. It would also be nice if this flag could be configured as an option in `ansible.cfg` if you want it to be enabled all the time (it can be off by default).

Would this flag also mean that the handlers would be executed if the playbook fails the first time, or only on retry? I don't see why it shouldn't be possible to run handlers eve

[2014-01-28 20:43] #5802 closed, assigned to nobody

[2014-01-28 21:32] jimi-c commented on #5792
If you use "{{ 'test\n' }}" instead, this works as you'd expect.

[2014-01-28 21:35] apollo13 commented on #5792
Yes it does, but I think this behaviour is still unexpected and should at least be documented, or preferably (imo) fixed.

[2014-01-28 22:08] twouters commented on #5739
I've just installed the latest master b6875b3b874aebd4ef3cf576fbbdfa8bcf5ea101
The issue still remains, this task leaves a tmp folder behind if the destination file exists.

[code]

[2014-01-28 23:05] risaacson commented on #5739
I have confirmed this behavior as described.

Initial run with force=no and no existing file yields no leftover directory under ~/.ansible/tmp/.
Secondary run with force=no and an existing file yields an empty ansible-tmp-\* directory under ~/.ansible/tmp/.

Initial run with force=yes and no existing file yields no leftover directory under ~/.ansible/tmp.
Secondary run with force=yes and an existi

[2014-01-28 23:31] rrtj3 commented on #5742
I'm just gonna go ahead with making the changes as suggested by @bcoca .

[2014-01-29 08:43] jf89 opened #5812 "Unexpected interaction between accelerated mode and "remote_user" in a task"
If you use accelerated mode and the remote_user option in a task, then the remote_user is silently ignored after a connection has been established.

The sequence of events, as far as I can see is:

First connection is made using whatever the value of remote user is. Ephemereal daemon is launched running as that user.
Subsequent command comes in with a new remote_user set, but the command connects

[2014-01-29 09:37] SashaOv opened #5813 "Please document "sudo" flag in http://docs.ansible.com/intro_configuration.html"
It took me a discovery trip to the source code to find this parameter.

[2014-01-29 10:41] hihellobolke opened #5814 "pip install --user fails /usr/share/ansible permission quandary"
When installing Ansible as a non root installation for Ansible it still likes to write to path **/usr/share/ansible** ... Even when specifying `--user` and setting `$PYTHONUSERBASE` it still likes to write to /usr/share.

Suggest to write to `$PYTHONUSERBASE/share/ansible` if `/usr/share/ansible` fails

[2014-01-29 11:19] jirutka commented on #1409
@webscientist And it’s also a good opportunity to improve tests and do some refactor. Ansible is indeed very good piece of software, but code quality and especially test coverage should be improved. For an example, look at [TestRunner](https://github.com/ansible/ansible/blob/devel/test/TestRunner.py) – this module scares me.

[2014-01-29 13:04] bcoca commented on #1409
Ansible like, most tools has a target market, currently that market has a
preponderance of python 2.4 (not even 2.7), at least it requires 2.6 on the
master (as you expect desktops to be a bit newer).

Until the installed base (not latest version of distributions) moves all to
python 3, it doesn't make sense to move Ansible to python 3 because it
would be cutting it's target market to a fraction o

[2014-01-29 13:08] ingmar commented on #5797
Another example where the location is missing from the error message:

[code]

This was a missing p (from pip) in roles/common/main.yml - again, pointing out where Ansible found this would've been immensely helpful :)

[2014-01-29 13:54] bcoca commented on #1409
FYI, I'm just a contributor, I don't represent the company or the main
author.

My view is that Ansible is a system tool, systems are normally conservative
and slow moving targets. The default python for most distributions is still
v2, a few have started including 2 & 3 and I'm only aware of one only using
3 and leaving 2 as a optional install.

The numbers of installed linux and versions do fluct

[2014-01-29 14:09] jirutka commented on #1409
I totally agree with @webscientist!

What about writing the code to be compatible with both versions, when possible? Most of the incompatibilities can be relatively simply and nicely solved, can’t it? And for the rest of them (exceptions catching for an example *), the 2to3 script can be used.

_* It’s actually possible to write catch to be compatible with both versions, but it’s ugly and non-idio

[2014-01-29 14:35] bcoca commented on #1409
I've had code rejected for using 2.7 semantics and last I looked it is not
that easy to write code 2.4 - 3 compatible (modules), for 2.6 (core) it
looks easier. I, for one, would welcome any pointers to do so, but I'm not
sure this is that attainable.

In the last 2 years I've migrated web apps from python 2.4 to 2.7 and that
itself was non-trivial, we even had a few unexpected side effects. None

[2014-01-29 14:51] jirutka commented on #1409
Ah, I forgot about the requirement for an ancient 2.4. Well, that’s unsolvable. :(

BTW, why isn’t Ansible written in plain C? What about the mainframe people, they don’t even have Python! Sorry, I’m just allergic to keeping backward compatibility up the time of dinosaurs, because of some “enterprise” companies which don’t want to upgrade their systems… It’s just an awful brake on development.

Ho

[2014-01-29 14:55] Russell-Jones commented on #1409
Fair enough, though it would be useful for us to have a list of dependencies and 2/3 statuses here. It may also be useful to 1) have a python2and3 branch for those who want to work on that (kept in sync with master as far as possible) 2) make the inconsequential changes in master that help python3 support ( e.g. print -> print() ).

BTW, when is the EOL for the products that are stuck with-- er, s

[2014-01-29 15:07] pierot commented on #5679
I can confirm this behaviour

[2014-01-29 15:33] mpdehaan commented on #1409
Gentlemen,

You are commenting an old ticket.   We're not going to likely respond to this.

If you would like to start a discussion, I would recommend posting on the ansible-devel mailing list.

It is absolutely vital that we continue to support users on EL 5 and 6 platforms, as much of the world runs here.  We are seeing much less usage of EL 5 but EL 6 is widely deployed.

It's still our positio

[2014-01-29 15:53] dekked opened #5817 "Bug? "register" should be performed AFTER "when" is evaluated"
Given the following playbook

[code]

When invoked like this `ansible-playbook -i 127.0.0.1, site3.yml` it prints "Goodbye" as expected.

When passing "extra", I would expect the last task to print "Hello". However, this is what happens:

[code]

[code]

In general, I would expect the "when" condition to be evaluated before anything and short-circuit if False, not continuing the parse looking for

[2014-01-29 16:19] mpdehaan commented on #5817
This is not the case because the value may be different for different hosts.

Since this is a question and not a bug report, perhaps open a thread on ansible-project if you have further questions.

Thanks!

[2014-01-29 16:19] #5817 closed, assigned to nobody

[2014-01-29 16:20] mpdehaan commented on #5812
Yep, this is true because accelerated mode is spawned as that user.

[2014-01-29 16:25] nikut opened #5818 "ansible_ssh_user and delegate_to unexpected behavior"
Decided to file an issue after discussing this on IRC.

The ansible_ssh_user defined in the inventory for a host or group is used _also when delegating to a host that does not have it set_. This seems counterintuitive to me and makes it difficult to delegate tasks to a host that requires a different user.

It would seem reasonable to expect Ansible not to use the ansible_ssh_user (or other particu

[2014-01-29 16:57] feanil commented on #5799
Some more info,  let it run for a while and it does eventually hits a socket timeout with the new boto that it doesn't hit with the old boto.  ec2.ini seems sane but we did recently get some reserved instances and that is the section it's having trouble with.

[code]

[2014-01-29 16:57] feanil commented on #5799
Note, that it's the same trace from two runs of the ec2.py script.

[2014-01-29 17:38] jctanner commented on #5702
nikut, dug some more into this. As you stated, not defining localhost in inventory or defining ansible_connection=local for localhost will allow your playbook to function. The reason this works is because the connection object passed into the synchronize action plugin is "local". By only defining "localhost" in inventory, the conn object defaults to "ssh" or whatever "smart" dictates on your contr

[2014-01-29 17:38] #5702 closed, assigned to nobody

[2014-01-29 17:39] mtpereira opened #5819 "gem module hangs when using state=absent"
Hello,

I've stumbled upon gem module hanging when trying to remove it by using state=absent. Here's a playbook that will reproduce the problem:

[code]

I've used the following command to run it:

[code]

I'm using ansible 1.4.4.

Here's the pstree of the play:

[code]

When you run /usr/bin/gem uninstall --all rake by hand you get this output:

[code]

For that reason, I assume that is waiting f

[2014-01-29 18:07] jctanner commented on #5796
@kustodian i don't like the idea of manage_dir having a different default value for different contexts. I do agree that it would be nice to put some sort of warning in the parameter documentation.

The ownership could be handled as you described, but I would prefer the defaults to be as they are now.

If you would like to tackle these, feel free to submit a PR.

[2014-01-29 18:07] #5796 closed, assigned to nobody

[2014-01-29 18:08] omgjlk opened #5820 "implicit localhost plays fail with host not found: localhost"
This is with devel as of 61d283e2ad58916d640b129cdd0b1ef866bcb332

[code]

When I did some quick digging it appears to be a problem somewhere in attempting to insert variable data. I will do some more digging, but wanted to get the simple reproducer logged here.

[2014-01-29 18:11] omgjlk commented on #5820
Duplicated with devel as of 48c477ffc8e0f0bd8ec7672a00b05bc818a87fa6 too.

[2014-01-29 18:12] sivel commented on #5820
One thing I noticed this morning, if your inventory file or script is empty, you get a message stating that the inventory list returned no results.

In my case I was using an inventory script, I had no existing inventory but was about to build several servers targeting localhost in my initial play.

This might be deserving of another issue, just adding it here for visibility for the time being.

[2014-01-29 18:31] #5801 closed, assigned to nobody

[2014-01-29 18:31] jimi-c commented on #5801
This should be resolved, please let us know if you run into any further issues. Thanks!

[2014-01-29 18:57] jctanner commented on #5814
@hihellobolke is this something you could write a pull request for?

[2014-01-29 19:03] sivel commented on #5814
For historical reference from another issue relating to this see #4831

[2014-01-29 19:12] jctanner commented on #5819
@mtpereira is this something you could write a pull request for? If your suggesion is true, it would be a few character change in this function: https://github.com/ansible/ansible/blob/devel/library/packaging/gem#L136-L147

[2014-01-29 19:28] risaacson commented on #5781
A fix in in for this that instead of thinking it is smarter will fail the module if an executable is defined but not found on the system.

The fix will be packaged as of 1.5.

[2014-01-29 19:28] #5781 closed, assigned to nobody

[2014-01-29 20:25] aclindsa commented on #4441
https://github.com/ansible/ansible/pull/5811 has been merged, so I believe this issue should be resolved, but I don't have permissions to close it.

[2014-01-29 20:29] jctanner commented on #4441
@aclindsa thank you!

[2014-01-29 20:29] #4441 closed, assigned to nobody

[2014-01-29 20:38] mpdehaan commented on #5820
@sivel -- So implicit localhost is a feature in the above, so let's not mix these two issues up.   Delegating to hosts without having localhost in inventory makes it easy to configure localhost without it being in the all gorup.

[2014-01-29 20:40] mpdehaan commented on #5820
@jlk -- It seems to me that this is saying implicit localhost (new feature) doesn't work with -i "foo," syntax, so it's a new feature that doesn't exist for -i's host hack (undocumented feature BTW), rather than a regression.

[2014-01-29 20:47] jimi-c commented on #5820
@j2sol After some discussion, I believe the fact that this "worked" in ansible < 1.5 was a bug. I say "worked", because it simply reports no hosts were matched (which I believe is the incorrect result).

Since the `-i host,` syntax sets the inventory in a pretty static way, the fact that localhost is not found is the correct result and it should be specified as `-i localhost,foo.com` when running

[2014-01-29 20:51] omgjlk commented on #5820
@jimi-c Hrm, so I used the -i hack to make things really simple, but in my production case I'm using a dynamic inventory. Perhaps I misunderstood, but I thought I could drop localhost from being explicitly added to my dynamic inventory and enjoy the implicit addition feature.

When I have localhost in my inventory, I then have to explicitly exclude it from host: listings that include all, as local

[2014-01-29 21:02] jimi-c commented on #5820
@j2sol hrm yeah, it seems like it's not just with the -i host, syntax:

<pre>
# ansible-playbook -i /etc/ansible/ec2.py ~/testing/test_5820.yml -vv
ERROR: provided hosts list is empty
</pre>

I'll keep looking into this.

[2014-01-29 21:36] kustodian commented on #5796
Thanks for feedback and I have to say that I agree with you about having different meanings for different context is bad. I will see about the documentation part and will probably add the mode/owner/group options to the modules later on.

[2014-01-29 22:19] mrbanzai opened #5822 "Changes to git module require Python 2.6"
The installation guide currently lists Python 2.4 as a requirement for the managed nodes, but the recent changes to the `git` module in 18050d50 mandate at least Python 2.6, specifically using `NamedTemporaryFile` with the `delete` parameter.

[2014-01-29 23:09] max-l opened #5824 "add option to copy : do nothing when hash of src and dst are equal"
It would be nice if copy had an option to avoid
the file transfer when a hash of src and dest are equal
- name: copy huge file
  copy: src=./hugeFile dest=aDir

ansible version :  1.4.3

client host :
 Linux max-ubuntu 3.8.0-27-generic #40-Ubuntu SMP Tue Jul 9 00:17:05 UTC 2013 x86_64 x86_64  x86_64 GNU/Linux

server host :
 Linux cogol 3.8.0-29-generic #42~precise1-Ubuntu SMP Wed Aug 14 16:19:23

[2014-01-29 23:21] bcoca commented on #5824
er ... i believe this IS how it is supposed to behave.

I will look at code soon (in transit), in the meantime, please add ansible
version, OSs involved and a test case as per
https://github.com/ansible/ansible/blob/devel/CONTRIBUTING.md

[2014-01-29 23:32] donspaulding opened #5825 "lineinfile doesn't play well with files that don't end with a newline"
The following task...

[code]

... is intended to make sure the line exists in the default sshd configuration file.  However, apparently when lineinfile doesn't find the regexp in the file at all, it attempts to insert the line beginning at the `dest` file's EOF.  If that EOF is not a newline, as is the case in Ubuntu 13.10's default sshd_config, it results in the line value being merged with the

[2014-01-29 23:37] pas256 commented on #5799
I don't know what the issue is yet, but I am seeing it as well

[2014-01-29 23:47] max-l commented on #5824
Wow, that's an awesome response time !

It turns out that in my case I was using ziped files, and zip will add time info of files.

md5sum returns different values for the same directory compressed twice

does ansible use md5sum internally ?

If ansible does this check it would be nice to document it : http://docs.ansible.com/copy_module.html

[2014-01-29 23:56] jctanner commented on #5822
@mrbanzai thanks for the report. I can take a look into fixing this for py24, but if you already know of a way to fix this, please submit a pull request.

[2014-01-30 00:23] rrtj3 commented on #5742
I've sent a pull request which fixes the following of redirects, while keeping backwards compatibility as @bcoca suggested above. I've tested and it works well for me. Any additional testing and/or comments on the commit are welcome.

[2014-01-30 00:31] mtpereira commented on #5819
@jctanner I've sent made the pull request, it is a one-line change, I hope it is ok. :)

[2014-01-30 01:30] bcoca commented on #5824
Yes, it uses md5 hashing (different programs depending on the OS).

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-01-30 01:45] mpdehaan commented on #5786
I'm fine with having an examples dir but the question of what to do with people doing local installs or virtualenv has not yet been resolved.

I strongly believe this should not be in a python language dir, but belongs in something like /usr/share/

[2014-01-30 01:53] max-l commented on #5824
ok, just tested it and it does work, I still think it should be documented, you guys need to brag about your nice features  ;-)

[2014-01-30 02:25] bcoca commented on #5824
the docs are part of the repo, they accept Pull Requests for those the same
as for code.

[2014-01-30 04:18] DavidJFelix commented on #5786
What directories does virtualenv create for pip to use?

My thought behind putting it in the python language dir is that's where the module_utils/ec2.py helper is already.

[2014-01-30 09:33] ivankovalenko opened #5829 "Other protocols"
I'd suggest to allow ansible run commands on targets (like oracle tnsnames) through special programs (like sqlplus) keeping unified interface for that

[2014-01-30 15:16] jctanner commented on #5824
@max-l it sounds like this was a non-issue. I'm going to go ahead and close it.

[2014-01-30 15:16] #5824 closed, assigned to nobody

[2014-01-30 15:39] jctanner commented on #5829
@ivankovalenko can you elaborate a little bit more?

[2014-01-30 15:49] mpdehaan commented on #5829
Yeah let's move this discussion to the ansible-project list.

Thanks!

[2014-01-30 15:49] #5829 closed, assigned to nobody

[2014-01-30 16:04] lukyanov opened #5832 "Sporadic errors on very long command outputs"
Reproducible on the last devel branch (086f879df9).

Sometimes when the output of a command is very long, ansible reports a error "failed to parse json".

Here is the full output:
https://gist.github.com/lukyanov/8711630

The same could happen when gathering facts.

I'm using transport 'ssh'.

Ansible 1.4.4 doesn't seem to have such an issue.

[2014-01-30 16:06] jctanner commented on #5484
@gkristic I'm unable to reproduce this. Perhaps this is no longer an issue for you, but if it is can you shed more light on how to create the error? Starting with a clean EL6 machine, what steps do I take to see the copy/man3 error?

[2014-01-30 16:08] max-l commented on #5824
Yes it can be closed, I sent a pull request to document this behavior https://github.com/ansible/ansible/pull/5833

[2014-01-30 16:22] gkristic commented on #5484
@jctanner The error showed up simply by cloning the Git repo and running `make rpm`. Here's the tip of develop when I opened this issue: 89abc35e59b7595ad29a5a2e2d65620795c908e2. But I've just fetched the latest version and it's gone; the RPM is now generated. Thanks!

[2014-01-30 17:34] #5484 closed, assigned to nobody

[2014-01-30 17:49] mtpereira opened #5834 "synchronize module tries to rsync to localhost when remote is a VM running in localhost"
Hello,

I'm trying to use synchronize module to rsync files from my localhost to a VM running on my localhost, with ssh on a different port than 22. I get a destination error (no such file or directory) on an absolute path.

This is the output from a -vvvv for ansible 1.4.4: https://gist.github.com/mtpereira/8714558

This is the output from a -vvvv for ansible devel: https://gist.github.com/mtpere

[2014-01-30 18:47] #5820 closed, assigned to nobody

[2014-01-30 18:49] jimi-c commented on #5820
The above patch fixes the issue for me. I believe the ec2 issue above was simply that I didn't have any hosts on ec2, when I used rax.py (where we have hosts) I got the same result as using `-i host,`

Let me know if you have any further problems with this. Thanks!

[2014-01-30 18:58] jctanner commented on #5832
@lukyanov can you do me a favor and revert commit ID fe091ec00d2c646cffbc2e916e89c04febb24426 in your checkout and retest?

[code]

[2014-01-30 19:39] jctanner commented on #5749
@g-k-r unable to reproduce ...

[code]

[2014-01-30 19:43] jctanner commented on #5749
@g-k-r how do you install ansible and how are you using the checkout to verify devel's behavior?

[2014-01-30 20:15] lukyanov commented on #5832
Reverted. It works. No more errors detected.
But it now looks very slow.

[2014-01-30 20:41] #5812 closed, assigned to jimi-c

[2014-01-30 20:44] jimi-c commented on #5812
@xyrix I've pushed the above patch, which will now cause accelerate to check the uid of the running daemon against the one specified as the remote_user. If they differ, the daemon will exit and will be restarted via a new SSH connection. I have tested it with the following playbook successfully:

<pre>
---
- hosts: test
  gather_facts: false
  accelerate: true
  remote_user: root
  tasks:
  - shel

[2014-01-30 20:48] sivel commented on #5432
I believe this issue was resolved by #5655

[2014-01-30 20:53] jctanner commented on #5432
@sivel yep. @nueces please retest against the latest devel.

[2014-01-30 20:53] #5432 closed, assigned to nobody

[2014-01-30 21:06] jctanner commented on #5832
@lukyanov ok, we are going to go with correctness over speed here. fe091ec00d2c646cffbc2e916e89c04febb24426 has been reverted and we can try to revisit it later.

[2014-01-30 21:06] #5832 closed, assigned to nobody

[2014-01-31 01:04] pol opened #5836 "In a list var, in a var file, parentheses at the end of a sublist string with no spaces fail to load into with_items"
Yes, this is a weird one.  If you have a list of hashes in a vars file that contains a sublist of strings, and that sublist has a string in it which has no spaces and ends in parens, the whole list will fail to load into with_items.

It is easiest to see with a test case.  Here it is:

So, if you have the following vars.yml file:

[code]

And you have the following playbook.yml:

[code]

And you r

[2014-01-31 08:50] jf89 commented on #5812
As said, in my production ansible playbook (which we're now using live =]) I've changed to using sudo_user, so I won't have an opportunity to test this in the wild. However, I can confirm that this has fixed the issue when I ran the same test case as before which demonstrated the error.

Thanks for such a fast fix!

[2014-01-31 09:21] lberruti commented on #5832
I can reproduce systematically this error by reducing the os.read buffer (e.g. from 9000 to 9).
I think that happens when the process is finished and there are more than 'buffer_size' bytes to read.
One solution could be this:

[code]

@lukyanov, can you check this one inside your environment?

[2014-01-31 10:28] g-k-r commented on #5749
I do the following:

[code]

or instead of `make tests`

[code]

what is strange, is that testing with the original reproduction tests from the first post on this issue do work as you say, while the test started by nosetests doesn't.

[code]

[2014-01-31 10:54] g-k-r commented on #5749
that is confusing, calling ansible directly succeeds:

[code]

what doesn't work anymore is:

[code]

with ansible 1.4.4 this results in:

[code]

[2014-01-31 11:56] g-k-r commented on #5749
sorry about the many commits, i changed the test which now works identical to direct ansible calls, will now create a pull request, if you want to add the test to the code.
otherwise i think this issue is fixed already and I made a mistake during verification.
Maybe you'd like to look into why get_group contains the hosts multiple times and why the --limit doesn't seem to work anymore, I could pre

[2014-01-31 12:35] resmo opened #5838 "feature request: ansible-playbook <playbook> --list-tags"
similar functionality as e.g. --list-tasks but for tags

[2014-01-31 12:59] mpdehaan commented on #5838
See comments on https://github.com/ansible/ansible/pull/3677 -- first the listing logic must use playbook code then we will entertain pull requests.

You can specify an invalid tag and see what tags are available.

[2014-01-31 12:59] #5838 closed, assigned to nobody

[2014-01-31 13:04] mpdehaan commented on #5836
So if you'd like to help debug, it might be useful to print out the variable and see what type it was.

debug: var=broken_list

Also per contributing.md please share what version of Ansible you are using.

Thanks!

[2014-01-31 13:05] mpdehaan commented on #5822
merged the above, thanks

[2014-01-31 13:05] #5822 closed, assigned to nobody

[2014-01-31 13:05] mpdehaan commented on #5786
Well, that's actually part of the package.

[2014-01-31 13:06] resmo commented on #5838
what a hack :) this is exactly what I wanted.

Couldn't we have a more user friendly way to show the list, e.g. maybe "--tags" without argument?

[code]

[2014-01-31 15:02] jctanner commented on #5749
@g-k-r i think you are mixing up installed ansible lib paths with the checkout lib paths. Can you please retest on a clean machine with a fresh checkout and no ansible packages installed?

[2014-01-31 15:10] jonauman commented on #5668
Looks like I am experiencing the same, or related, bug:

hosts file contains:

[code]

common.yml contains:

[code]

However, the common role is not being called by my playbook, so it should be ignored, unless common is some kind of magic keyword. So this may not be relevant.

Task fails when I run this snippet from my playbook:

[code]

If I remove [localhost] from the hosts file, it works.

This

[2014-01-31 15:11] jctanner commented on #5786
@DavidJFelix i think this needs to be a broader discussion. Let's continue figuring this out on the mailing list:

https://groups.google.com/forum/#!topic/ansible-project/jjuapMOLkr8

[2014-01-31 15:11] #5786 closed, assigned to nobody

[2014-01-31 15:11] g-k-r commented on #5749
ok i will test in a cleanrooom VM, hopefully tonight otherwise this needs to wait until the week after next

[2014-01-31 15:55] jctanner commented on #5800
@phy1729 can you please point out the exact lines in the second output which contain the problem.

[2014-01-31 15:57] timurb commented on #5634
@mpdehaan It didn't look like a good topic for a mailing list as I didn't get any replies to the topic during the 2 weeks: https://groups.google.com/forum/#!topic/ansible-project/8FqZwqqyyeU

So could we please reopen the ticket?

[2014-01-31 16:34] pol commented on #5836
Yeah, I did do debug messages (as you can see in the test playbook).  All of them look fine in the debug output (they look like lists of hashes).

If you modify the error output, it states that the with_items value is of type Unicode.  But that's not true of the others!  A strange thing to be sure.

[2014-01-31 18:21] phy1729 commented on #5800
I'd had redirected the output but not stderr so I could see the sudo prompt. Here's just a copy paste from the terminal https://gist.github.com/phy1729/8739115 The first warning is at line 34.

[2014-01-31 18:41] jctanner commented on #5800
@phy1729 please "vagrant ssh" to the host, "sudo su -" and then run these two commands:

[code]

I would like to see the full output.

[2014-01-31 18:55] phy1729 commented on #5800
It's a actual server not a vagrant box.

[code]

The quote changes each time.

[2014-01-31 19:48] nathanhruby opened #5841 "Allow async command to work with_<lookup> loops"
Using ansible 1.4.3 or later,  I would like to iterate over a hash of items using with_items and run a action (git clone, pip install, etc..) with each of those items using async.  This is so I don't need to worry about ssh timing out during some of the commands, which can take upwards of 30 minutes the first run.

Presently this is not allowed and ansible errors with:

[code]

It seems as if ther

[2014-01-31 20:47] ringe opened #5842 "Got "host is not a legal parameter in an Ansible task or handler" with ansible 1.4.4"
See bennojoy/mysql/issues/2.

The problem is that the Best Practices doesn't work:
http://docs.ansible.com/playbooks_best_practices.html#directory-layout

My site.yml looks like this:

[code]

[2014-01-31 20:55] g-k-r commented on #5749
hi @jctanner i tested in a clean debian wheezy
only installed ansible dependencies, but not ansible itself as it is not available in pure wheezy.

to test the initial implementation with get_group i had to checkout the second commit in my pull request. since the latest commit overwrites the test implementation to use get_hosts instead of get_group.

[code]

inventory.get_group is not behaving like

[2014-01-31 21:36] bcoca commented on #5842
you need to indent your roles

[2014-01-31 22:09] jctanner commented on #5800
@phy1729 so the md5sum is different? Can you run it a few times and show me the variations?

[2014-01-31 23:06] pySilver opened #5844 "supervisorctl module does not detect group process restats"
Seems that supervisorctl is not capable to correcly handle grouped process restarts,

This is my task (handler):

[code]

Output:

[code]

Output seems to be correct, but ansible module detects it as failure. For time being fix might be achieved by using manual error handling:

[code]

http://docs.ansible.com/playbooks_error_handling.html

[2014-02-01 01:23] mpdehaan commented on #5841
Yeah this comment is in there because it doesn't work.

I think it's more likely this should just be in the docs for async, since the code is basically saying it's not going to be implemented.

[2014-02-01 01:24] mpdehaan commented on #5842
Yep, this is more of a support question, please stop by the mailing list if you'd like more help...

[2014-02-01 01:24] #5842 closed, assigned to nobody

[2014-02-01 01:27] mpdehaan commented on #5836
So interestingly, what you have shared shows that this is the problem.

[code]

The value of working_list2 is actually not a list.

From all of the output above it looks like none of these actually work because the variables aren't being sucked in (i.e. probably a playbook error).

[code]

This doesn't look like it's working at all, in other words.

So seems like this is not a bug, but that the va

[2014-02-01 02:04] pol commented on #5836
I think that I made a mistake migrating my actual bug to the synthetic test.  I shall re-create the test with less noise. :)

[2014-02-01 02:12] pol commented on #5836
Yeah, so, I had quotes messing things up in my first example.  Here's a better one:

vars.yml

[code]

playbook.yml

[code]

output of `$ ansible-playbook playbook.yml -i 'foo.com, '`

[code]

Sorry about my other example, it was (as you said) not actually useful.  But this one is!

[2014-02-01 02:13] phy1729 commented on #5800
The hash is always the same. The quote after the sudo command changes.

I also realized that sudo is setup to be passwordless.

[2014-02-01 02:39] pol commented on #5836
Fascinating, it has something to do with open parens and a period. I started removing chars from the vars file until it stopped breaking, then adding them back until it did.  I came up with the following minimal breaking example.

Note: The key seems to be the open paren and period combo.  Messing with it causes the example to work, but adding other elements seems to not matter.  The order is impo

[2014-02-01 10:44] ringe commented on #5842
Thank you, but you are mistaken. Here's the same, indented and failing:

[code]

Then:

[code]

[2014-02-01 10:53] ringe commented on #5842
If I comment out roles, the playbook runs.

[2014-02-01 11:04] ringe commented on #5842
I found the mistake. Turns out there was a hosts parameter in the common/tasks/main.yml

Sorry about the trouble.

[2014-02-01 11:08] ringe opened #5846 "Return useful command line feedback on missing parameters and errors"
When there's an error in an ansible playbook, there is no mention of where this error was found:

[code]

The problem is that in the example above, the error resides in roles/common/tasks/main.yml

The reason is that the tasks file was copied over from a separate playbook.

Knowing this, I can check for such mistakes in the future. But My point is that as a new Ansible user, I had no idea why this

[2014-02-01 12:36] #4088 closed, assigned to nobody

[2014-02-01 16:00] nathanhruby commented on #5841
Hi,

I can make a patch to the docs later this weekend.

I was unsure if this is also a issue that should be fixed or this was working as designed.  This post makes it seem like there's a possibility in the code to make it happen (though I have not looked at said code to determine feasibility / viability):
https://groups.google.com/forum/#!msg/ansible-project/3gtO9c__E6I/y_DipDKRbgUJ

If this is t

[2014-02-01 16:14] omgjlk opened #5847 "unique filter returns a set, which is incompatible with with_items:"
Just filing the issue to not lose track over it, having already discussed it on IRC.

Options could be wrap the set() in list() in the filter, or make with_items accept a set().

Or document that if you want it to be a list, just double filter it: |unique|list

[2014-02-01 17:26] amiorin opened #5849 "LOOKUP file should behave like module COPY when used inside a role"
`{{ lookup('file', 'apt.gpg') }}` should search for `apt.gpg` inside `role/<name>/files` and then in the root project.

I would like to use `lookup` inside `meta/main.yml`, because I would like to make the content of the file a parameter for encapsulated role.

[2014-02-01 20:04] mpdehaan commented on #5849
Hmm, I thought it already did that.  (of course, roles/<name>/files).

What version of Ansible are you using?

We can check.

In any case, we don't want to break existing behavior, so if it doesn't, we'll just have it look there first.

[2014-02-01 20:05] mpdehaan commented on #5846
Yeah this is somewhat difficult to establish as this happens after all of the parsing is done.

It would be nice to have.

[2014-02-01 20:05] mpdehaan commented on #5847
I think I like "make with_items accept a set" too.

[2014-02-02 00:13] amiorin commented on #5849
`ansible 1.4.4`
I have to write

[code]

and I think it would be better

[code]

like module `copy` and `template`

The error is:
`ERROR: /Users/amiorin/Code/nugg.ad/spark/run does not exist`

[2014-02-02 00:19] amiorin commented on #5849
I've written `file` instead of `copy` in the title of the ticket. My mistake.

[2014-02-02 09:30] amiorin opened #5851 "False positive "recursive loop detection" inside a dictionary."
`hadoop.archive` should be allowed to reference `hadoop.namenode`.

Inside `group_vars/all`

[code]

Inside the template file

[code]

And the error is

[code]

[2014-02-02 16:59] timurb opened #5852 "Some modules fail on Python 2.5"
When I manage a box with Python 2.5 installed some modules fail with the following error:

[code]

This is caused by "with"-statement not yet fully supported in Python 2.5.

The simplest way would be to add the following line to all files that use "with" statements:

[code]

See http://stackoverflow.com/questions/7918745/python-2-5-2-what-was-instead-of-with-statement for reference.

Alternatively

[2014-02-02 17:27] timurb commented on #5852
If you don't mind I'll add the error similar to this one here:

[code]

This is fixed by replacing the construct into `except IOError, err:`.
In fact I see the case in some of the providers (yum, etc).

[2014-02-02 19:05] timurb opened #5853 "apt_repository module does not work for old version of python-apt"
This is a followup for #4869 and depends on #5852

When I try to use `apt_repository` on Lenny I get an error:

[code]

If I use `default_release` param I receive the following error:

[code]

I'll send pull request for that in a several moments.

[2014-02-02 22:42] mpdehaan commented on #5707
If you would like to submit a patch, please do so by submitting a pull request.

Thanks!

[2014-02-02 22:42] #5707 closed, assigned to nobody

[2014-02-02 22:43] mpdehaan commented on #5851
Sorry, this is just going to be a thing, the template engine is unable to cope with this.

The answer would be to move the constant a level up.

[2014-02-02 22:43] #5851 closed, assigned to nobody

[2014-02-02 22:50] #5847 closed, assigned to nobody

[2014-02-03 10:30] winggundamth opened #5859 "Feature request: EBS Optimized option for ec2 library"
I tried to find EBS Optimzed option for ec2 library when creating instance but I'm only found this https://groups.google.com/forum/#!topic/ansible-devel/WbFGVDsUwrc

[2014-02-03 10:48] rightaway opened #5860 "ini_file should only change what was specified and nothing more"
In addition to the other changes ini_file makes, like removing comments, reordering entries within a section, adding spaces around the '=' (as mentioned in https://github.com/ansible/ansible/issues/5688), is there any reason why ini_file couldn't be changed to make as minimal changes as possible?

Other changes it makes are making keys lowercase and removing blank quotation marks ("") as values.

[2014-02-03 11:32] anslav opened #5861 "S3 module does not allow downloading only when MD5 checksums are different"
My issue is described from the GET perspective, but the same can be applied to PUT.

As it stands right now, it is not possible to tell the S3 module to download and overwrite a file only when the hashes are different.

When overwrite is true, the file is downloaded regardless of the md5 checksum (which is performed anyway). When overwrite is false, the file is never downloaded, if it already exis

[2014-02-03 12:58] jverdeyen opened #5862 "Ansible stickers"
Maybe not an issue, but I would love to see Ansible stickers :)

I'm no affiliate at all, but these guys make some nice ones:
http://devswag.com/

[2014-02-03 14:27] jctanner commented on #5860
@rightaway I do not disagree with any of your statements here, but the implication is a complete rewrite of the ini_file module. This is something that should be discussed on the ansible-devel mailing list as opposed to a github ticket. Please start a thread there and if you have some code in mind, please submit a pull request.

[2014-02-03 14:27] #5860 closed, assigned to nobody

[2014-02-03 14:31] jctanner commented on #5861
@anslav I would like to see this submitted as a pull request and also have a thread on ansible-devel to inform other ec2/s3 users that a change has been proposed.

[2014-02-03 14:31] #5861 closed, assigned to nobody

[2014-02-03 14:32] jctanner commented on #5862
@jverdeyen please email info@ansible.com for marketing related inquiries.

[2014-02-03 14:32] #5862 closed, assigned to nobody

[2014-02-03 15:01] jctanner commented on #5800
@phy1729 what connection mode are you using? (ssh/paramiko/smart)

What OS/version is the control machine?

What version of openssh is on the control machine?

[2014-02-03 15:44] phy1729 commented on #5800
ssh
OSX 10.7.5
OpenSSH_5.6p1, OpenSSL 0.9.8y 5 Feb 2013

[2014-02-03 15:56] jimi-c commented on #5739
The above PR was merged in to correct this. Thanks!

[2014-02-03 19:49] ChadScott commented on #5104
I'm hitting this same problem. I don't understand how a solution can be identified and nothing happens in two months?

[2014-02-03 21:49] jack1402 opened #5865 "failed to use variable for retries in the loop"
##### Issue Type:

“Bug Report”
##### Ansible Version:

1.4.3
##### Environment:

RHEL 6.5
##### Summary:

we are trying to use the variable for the value of retries at loop. But always hit an error
##### Steps To Reproduce:

Run following playbook:

[code]
##### Expected Results:

retries count is 5
##### Actual Results:

get following error:

TASK: [test] ****************************************

[2014-02-03 21:59] #5818 closed, assigned to nobody

[2014-02-03 22:06] jctanner commented on #5818
@nikut d355d3c698b0a307180169f155e44f94e88518b0 should resolve the remote user issue and all other aspects of the delegate host. Please let us know if any new bugs are found. Thanks!

[2014-02-03 23:46] samos123 opened #5867 "rabbitmq: vhost is present fails if it was already created"
Assuring that a vhost is present fails if it was already created will always fail. But manually executing the rabbitmqctl command works fine.

UPDATE: It happens when executing several rabbitmq command in sequence it seems. Now the vhost present line seems to pass but the next line seems to fail. Probably not an Ansible bug. I have confirme it's not an ansible bug. It also happens if I execute a r

[2014-02-04 09:18] nikut commented on #5818
Thanks @jctanner, just tested and it seems to work perfectly now!

[2014-02-04 12:27] dagwieers commented on #5798
The reason for this is that ssh is run with pseudo-terminals (option -tt) which it does because sudo by default requires a tty. So everything run within Ansible using pseudo-tty's assumes the output is a terminal, and as a result might wait for input, or produce output intended for terminals. This has been discussed many times before...

[2014-02-04 12:42] athoune commented on #5798
I love ANSI color, it's not the point. The ticket is for the debian crash. My diagnostic can be wrong, but the error is still here.

I didn't know the tt option, thanks for that.

[2014-02-04 13:28] dagwieers commented on #5206
@patrickheeney I cannot reproduce it, but I have seen something similar (not Ansible related) years ago which was caused by either a busybox echo, or an ash echo, I am not sure.

Can this be reproduced with the latest Ansible (e.g. 1.4.4) ? Just to make sure this is not something that has already been fixed.

[2014-02-04 13:49] lalinsky commented on #5246
duplicate of #5159

[2014-02-04 13:49] #5246 closed, assigned to nobody

[2014-02-04 14:35] #5867 closed, assigned to nobody

[2014-02-04 15:16] gmiroshnykov opened #5870 "Variable expansion is broken in delegate_to on devel"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

OS X 10.9.1
##### Summary:

Variable expansion is broken in `delegate_to` on `devel`.
May be related to #5818.
##### Steps To Reproduce:

Run this playbook:

[code]
##### Expected Results:

When running the playbook on 1.4.4:

[code]

When reporting a bug:
- bot **not** telling me what to do
##### Actual Results:

[2014-02-04 16:57] garethrees opened #5871 "with_items and yum"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

**Host:** OS X
**Guest:** CentOS 6.5
##### Summary:

`with_items` doesn't install itemised yum packages.
##### Steps To Reproduce:

[code]
##### Expected Results:

php54-gd and php54-pdo installed on the guest.

[code]
##### Actual Results:

[code]

[2014-02-04 17:01] garethrees commented on #5871
I've raised a similar issue before, which seems to have had attention in 7201a6ffad68d158d30e5f5896c54cbfe3deaded.

[2014-02-04 18:16] ChadScott commented on #5104
This is blocking numerous infrastructure updates. I'm attempting to fix it myself, but I don't have a lot of cycles. Is anyone at AnsibleWorks paying attention? Help, please.

[2014-02-04 18:21] jimi-c commented on #5871
I've replicated this and am looking into it.

[2014-02-04 18:21] pfalcon commented on #5104
Well, I started to make a patch for that issue, but had a baby born, if that explains anything ;-). It's still in my TODO list of course.

[2014-02-04 18:27] pfalcon commented on #5104
It's the same for everyone, including Ansible maintainers.

Yes, but Ansible is open-source project, so they don't have obligation to fix anything (they have big queue of stuff to do anyway). I actually wouldn't write all this, but I saw some tickets with lot of words and few patches closed as wont-fix, what I hope won't happen here, and hero comes who will fix it ;-).

[2014-02-04 18:32] jctanner commented on #5870
@laggyluke this should be fixed by 5fafc610088805e4beb80d623d540813f503a8b8

[2014-02-04 18:32] #5870 closed, assigned to nobody

[2014-02-04 18:34] risaacson commented on #5739
This was reverted as the fix was partially correct.

[2014-02-04 19:21] jimi-c commented on #5871
Actually, this has come up before, and is a limitation of the templating engine. We currently do not support pre-fixing variables in this manner when using a lookup plugin, so the correct way to handle this is:

<pre>
- hosts: all
  tasks:
    - name: Install extra PHP Packages
      yum: name={{item}} state=installed
      with_items:
        - php54-gd
        - php54-pdo
</pre>

If you have any

[2014-02-04 19:21] #5871 closed, assigned to nobody

[2014-02-04 19:21] MichaelBaydoun opened #5874 "Playbook that doesn't gather facts can not be included by playbook that does gather facts"
##### Issue Type: Bug Report
##### Ansible Version: 1.4.4
##### Environment:

Ansible host is Mac OSX 10.9.1
Guest is CentOS 6.4
##### Summary:

Playbook that doesn't gather facts can not be included by playbook that does gather facts.
##### Steps To Reproduce:

This playbook that gathers facts runs without issue

[code]

So does this one that doesn't gather facts

[code]

But when the first one t

[2014-02-04 19:52] MichaelBaydoun commented on #5874
updated using the template mentioned by the bot above

[2014-02-04 20:15] patrickheeney commented on #5206
Not sure, I don't have the exact environment loaded but ill try to get something setup and test this.

[2014-02-04 20:30] garethrees commented on #5871
Hmm, that doesn't really suit my use-case.

I'd like my role interface to be:

[code]

I haven't seen any documentation regarding the support of this. It seems like pre/postfixing a variable with normal text is okay, so it seems logical that one can use them this way.

[code]

[2014-02-04 20:31] kjkuan opened #5875 "Lookup plugin not run when there's an undefined legacy variable in the template string."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A
##### Summary:

Lookup plugin not run when there's an undefined legacy variable in the template string.
##### Steps To Reproduce:

In Ansible 1.1(old I know, I'm trying to upgrade it to 1.4.4, and found this bug)
Example: When the variable `world` is undefined...

<pre>
shell: echo "$PIPE(echo hello $world)

[2014-02-04 20:34] JensRantil commented on #3969
Ping. I am too interested in hearing about whether this is possible or not.

[2014-02-04 20:48] bcoca commented on #5874
you cannot include plays inside plays, they have to be at the same level.

[2014-02-04 20:49] srgvg commented on #5871
Workaround:
Copy or symlink the yum module to a local /library folder, and rename it to e.g. yum2 or yum_items, then use that name as action.
Downside: module is re-run for each package.

[2014-02-04 21:00] bcoca commented on #5875
$ syntax has been deprecated for a long time and then removed, those lines
enforce the removal

[2014-02-04 21:57] zirpu opened #5876 "setup hangs if hostname is unresolvable"
I was testing setting of the hostname via the 'hostname' module and discovered
if you have it set to something like 'nonesuch', 'setup' module collection hangs while trying
to resolve it.

[2014-02-04 22:07] jimi-c commented on #5871
@garethrees in that case, do this:

<pre>
- hosts: awxlocal
  vars:
  - php_ver: php
  tasks:
  - name: Install extra PHP Packages
    yum: name={{item}} state=installed
    with_items:
    - '{{php_ver}}-gd'
    - '{{php_ver}}-pdo'
</pre>

[2014-02-04 22:09] garethrees commented on #5871
The `with_items` list should be dynamic, in that it can be specified as an argument to a role:

[code]

[2014-02-04 22:24] jimi-c commented on #5871
In that case, you can acheive something similar to what @sergevanginderachter proposes using with_nested:

<pre>
  vars:
  - version: php
  - modules: ['gd','pdo']
  tasks:
  - name: Install extra PHP Packages
    yum: name={{ item|join('-') }} state=installed
    with_nested:
    - version
    - modules
</pre>

The result is the same however, where the packages are installed one at a time instead

[2014-02-05 00:37] mpdehaan commented on #5797
Yeah I filed one of these a while ago, I closed it.  It was involved (and I closed it)

Would be nice to have, patches would be considered, but might take some doing.

[2014-02-05 00:38] mpdehaan commented on #5777
This is unlikely to happen for (1)

2 should probably be brought up as a seperate ticket, I'm curious what kind of error you are having that would be connection related?

In any event, let's discuss this on the list if possible?

Thanks!

[2014-02-05 00:38] #5777 closed, assigned to nobody

[2014-02-05 00:39] mpdehaan commented on #5785
It's unlikely this would be a module, generally people do you use wait_for or delay.

Feel free to stop by the list to discuss.

[2014-02-05 00:39] #5785 closed, assigned to nobody

[2014-02-05 09:01] dghubble commented on #3573
+1

[2014-02-05 10:26] garethrees commented on #5871
@jimi-c that works, thanks.

Just out of interest, the output of that is:

[code]

What's the `u` doing there?

[2014-02-05 10:49] codezerk commented on #5871
http://docs.python.org/2.7/howto/unicode.html

It's a unicode decorator.

On Wed, Feb 5, 2014 at 12:27 PM, Gareth Rees notifications@github.comwrote:

[2014-02-05 13:05] CptMauli commented on #5104
Is there now a consensus how the behaviour should actually be? What does @mpdehaan think? Is potentially new behaviour for force ok?

I just quote from my issue #5266:

that would mean that force=yes & use_timestamp are somewhat mutual exclusive, but it also means that the existing playbooks still work.

@pfalcon: did you actually start with the patch? I could implement my proposal if we come to a

[2014-02-05 13:18] tonk commented on #3008
Since the Galaxy is growing very fast I would like to re-open this discussion.

[2014-02-05 13:20] jctanner commented on #3008
@tonk The ansible-project or ansible-devel mailing list are the places to have discussions.

[2014-02-05 14:47] shentonfreude commented on #4134
Wow, missed this, sorry: seems to be fixed now, thanks.

On Wed, Oct 16, 2013 at 8:13 AM, thomasvnoort notifications@github.comwrote:

[2014-02-05 15:31] kjkuan commented on #5875
the deprecation warning says it will be removed in 1.5, so I think if ansible is going to bother with slowly deprecating a feature while providing backward compatibility before the feature is removed, then at least it should fix the bug? Although..., if the next release is going to be 1.5 then don't bother... . I can work around it myself.

[2014-02-05 15:36] jctanner commented on #5875
@kjkuan our policy for point releases (1.4.x for example) are to only cherry pick **_critical**_ bugfixes from devel. As $ is a deprecated syntax, and no longer available in devel/1.5, we would not fix it and cherry pick for a 1.4.5 release.

1.5 is the next planned release, unless we do find some critical bug in 1.4.4. So far, we haven't found one.

[2014-02-05 15:36] #5875 closed, assigned to nobody

[2014-02-05 15:40] pcarinhas opened #5884 "Template Module Documenation: force option"
##### Issue Type:=

Documentation Request
##### Ansible Version:

All
##### Environment:

Linux
##### Summary:

Please include a short description and example of the force option in the Templates module.
Apparently that option is described in the copy section, but not stated anywhere.
##### Steps To Reproduce:

none
##### Expected Results:

none
##### Actual Results:

none

[2014-02-05 15:50] jimi-c commented on #5104
@pfalcon @ChadScott I've pushed up the above commit to my branch, if either of you'd like to test it to confirm it fixes the issue for you. In my testing, it is successfully downloading the file, but since the md5's haven't changed the module is still reporting changed=false.

[2014-02-05 17:35] lukyanov opened #5886 "a2x: ERROR: "xmllint""
First of all, the recent devel branch started requiring a2x to make rpm:

sed "s/%VERSION%/1.5/" docs/man/man1/ansible-pull.1.asciidoc.in > docs/man/man1/ansible-pull.1.asciidoc
ERROR: AsciiDoc 'a2x' command is not installed but is required to build docs/man/man1/ansible.1 docs/man/man
1/ansible-playbook.1 docs/man/man1/ansible-pull.1 docs/man/man1/ansible-doc.1
make: **\* [docs/man/man1/ansible-p

[2014-02-05 17:46] dewaegw opened #5887 "Failure to parse stdout line with whitespace and equal signs"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Ubuntu 12.04
##### Summary:

Ansible shows a "failed to parse" error message for a line on stdout that contains a whitespace and an equal sign.

Simple example output line: "foo bar=baz"
##### Steps To Reproduce:

Following the code to lib/ansible/utils/init.py parse_json():

[code]

AnsibleError: failed to par

[2014-02-05 17:56] #5104 closed, assigned to nobody

[2014-02-05 18:24] crucialfelix opened #5888 "with ask_sudo_pass=True incorrectly entering sudo password locks the terminal up"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.3
##### Environment:

Running on OS X

Managing Ubuntu 12.04 LTS
##### Summary:

with ask_sudo_pass=True incorrectly entering sudo password locks the terminal up and even ctrl-c cannot interrupt it
##### Steps To Reproduce:

ansible.cfg

transport=paramiko
ssh_args=-o PasswordAuthentication=no -o ControlMaster=auto -o ControlPath=/tmp/ansib

[2014-02-05 20:00] jimi-c commented on #4620
Please see the above patch, to see if it fixes the issue for you. The documentation for this is here:

http://docs.ansible.com/playbooks_best_practices.html

which shows the proper syntax for inventory ranges is [x-y]. The ':' syntax is used as the "or" operation between groups.

[2014-02-05 21:15] #4633 closed, assigned to jctanner

[2014-02-05 21:17] jimi-c commented on #4633
The above issue should be resolved, so please let us know if you continue to experience this problem. Thanks!

[2014-02-06 00:09] halberom commented on #5565
This may no longer be required, looks like someone's added a 'regions_exclude' option, with (oddly enough) cn-north-1 as one of the excluded options.

[2014-02-06 05:12] #4723 closed, assigned to nobody

[2014-02-06 05:13] jimi-c commented on #4723
The above patch should resolve your issue. Let us know if you continue to have problems with this. Thanks!

[2014-02-06 05:16] jimi-c commented on #4730
It appears that this issue has been resolved based on the above commits, and is no longer reproducable on the devel branch:

<pre>
# ansible-playbook -vv ~/testing/test_4730.yml
PLAY [localhost] **************************************************************
TASK: [debug ] ****************************************************************
fatal: [127.0.0.1] => error while evaluating conditional: inve

[2014-02-06 05:16] #4730 closed, assigned to nobody

[2014-02-06 06:41] jimi-c commented on #4812
I've been digging into this, and unfortunately it seems to be a limitation of the jinja2 templating engine. At best, I can have it set the value to an empty string instead of "None", if that helps you?

[2014-02-06 06:46] jimi-c commented on #4812
@jarv I pushed the fix to my copy of the repo, if you'd like to test it. Here is the output I'm seeing (based on your sample vars above):

<pre>
$ cat ~/testing/test_4812.yml
- hosts: localhost
  connection: local
  gather_facts: false
  vars:
    setting_override: !!null
    my_cfg_hash:
      my_setting: '{{ setting_override }}'
  tasks:
  - name: dump var
    debug: var='{{ my_cfg_hash|to_nice_

[2014-02-06 08:16] ringe commented on #5846
Updated ticket for broader feedback, see #3881

[2014-02-06 14:19] DXist opened #5894 "Ansible confuses group name with host name"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.4
##### Environment:

N/A
##### Summary:

I get following message in ansible verbose output in GATHERING FACTS section:

[code]

Ansible thinks that ru-celeryworkers is hostname but it is a group name.
If you comment out [celeryworkers:children] group in inventory below the error will disapear.
##### Steps To Reproduce:

ansible-playbook -i

[2014-02-06 15:02] pldimitrov commented on #3881
any idea how to get around that when using awx?

[2014-02-06 15:39] marcinpraczko commented on #4723
Hello,

Thanks for this patch - Looks like this is fixed - but still have the problem with running tests as normal user and under jenkins.

This is result in jenkins: Every thing looks OK.

[code]

This is result running by normal user on the same machine - just after running jenkins test.

[code]

However when I removed this folder from /tmp **rm -Rf  ansible-rcopy/** = normal user was able run a

[2014-02-06 16:07] jimi-c commented on #4723
Yes, please create a new issue for this, and I wouldn't be surprised if there are other hard-coded paths in there. If you could find them all for the new issue, that would be helpful, as this is a somewhat low-priority issue.

[2014-02-06 16:19] rwehner commented on #3573
+1. I'd like to be able to disable them or at least configure them to go into a directory other than $HOME.

[2014-02-06 16:51] kuba commented on #3573
Although this bug report has been closed 6 months ago being a low priority, @mpdehaan recently agreed on ansible-devel mailing list to accept an appropriate patch. **Please subscribe to #5515** instead, where we currently discuss it.

[2014-02-06 20:24] jimi-c commented on #4335
After digging into this, I believe the issue here is where you're trying to grab the index in the wrong place. If you do the following, you get the expected result:

<pre>
# ansible -i ~/testing/test_4335.hosts --list-hosts --limit B[0] all
    3
</pre>

This is probably confusing since we allow indexes on both the limit and the primary group, which could lead to some weird syntax like `--limit B[

[2014-02-06 20:24] #4335 closed, assigned to jimi-c

[2014-02-06 20:27] srgvg commented on #4335
I don't understand how you say I did this on the wrong place.
Doing this in the playbook - as opposite in the limit section - is quite a different thing, a different use case.
Also, I don't know what a 'primary' group is.

[2014-02-06 22:45] erjohnso commented on #5583
Perhaps related, https://groups.google.com/forum/#!msg/ansible-project/WTef9t1TyA0/8YOuZNs9EwAJ

[2014-02-06 22:58] candlerb commented on #4620
Thanks, I'll give the patch a try in a bit.

As regards the documentation, all I can see in that page is this example:

[code]

No explanation of semantics. Is boston[10] processed twice, or are ranges non-inclusive? Does boston[0] give me the first server in the boston group, based on the order the hosts appeared in the inventory?

I also don't see any example of use of colon being used as the "o

[2014-02-07 00:54] joshuaconner commented on #4524
Just ran into this – will this be reopened? Is there a new issue? Should I/@elgood open one?

[2014-02-07 04:10] jimi-c commented on #4524
@eigood or @joshuaconner could you provide a sample playbook/set of roles that reproduces this against devel? If so, we'll reopen it.

[2014-02-07 10:19] candlerb commented on #4620
Trying devel branch with your patch ca0ec80 applied.

[code]

That looks OK: it is what happens when any garbage pattern is passed to `--limit`

My next example was broken but strangely works:

[code]

I believe this is wrong because (as I now understand) the square-brackets are not a pattern match on the hostname, they are an indexing suffix to the group name "storage". That is, I should have wri

[2014-02-07 13:51] maedox commented on #5566
[code]

[code]

@mpdehaan, what you said was known to work doesn't seem to work.

I'm using Ansible 1.4.4 on Linux Mint 15 (Python 2.7.4).

I can't seem to find a working way to handle a list of users with a file per user containing one or more public keys. :-/

[2014-02-07 14:14] sivel commented on #5566
@maedox We may need to see more of your play in order to figure out what is wrong.  However, do note that there have been many fixes to the authorized_key module already in devel (1.5).  Additionally the traceback you are seeing has also been "fixed" and will now give you a more appropriate error message.

[2014-02-07 15:54] maedox commented on #5566
I installed 1.5 directly from the Git repo and got a bit further. I realize it might be a bit off topic, but if anyone can point me in the right direction it would be much appreciated.

[code]

The playbook file "test.yml" (above) and "test" (containing some RSA keys) are files on the same level. I intend to use the "Best practice" directory/file layout, but I simplified it a bit for troubleshooti

[2014-02-07 16:15] sqrlmstr5000 commented on #2002
I'm running into this issue. Our University operates it's own RHN Satellite. I did install yum-utils on the target client I'm trying to configure and still get the error:

[code]

It detects if I already have a package installed, but won't install new ones.

Just installed ansible 1.4.4 via pip

[2014-02-07 16:20] jctanner commented on #2002
@ex-nerd and @tsquillario please move dicussions to either the mailing list or a new bug. Closed tickets are usually not monitored.

[2014-02-07 16:27] sqrlmstr5000 opened #5904 "yum package installation fails on RHEL6 with RHN and yum-utils installed"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.4
##### Environment:

RHEL 6
##### Summary:

This is related to issue #2002

Our University operates it's own RHN Satellite. I did install yum-utils on the target client I'm trying to configure and still get the error:

[code]

It detects if I already have a package installed, but won't install new ones.

Just installed ansible 1.4.4 via pi

[2014-02-07 17:50] jimi-c commented on #5904
@tsquillario could you also show the output of `yum install ntp` as well as the output from ansible using `-vvvv`? Thanks!

[2014-02-07 18:31] sqrlmstr5000 commented on #5904
ansible-playbook test.yml -vvvv

[code]

yum install ntp

[code]

[2014-02-07 19:07] jimi-c commented on #5904
This would seem to be the issue:

<pre>
This system is not registered to Red Hat Subscription Management. You can use subscription-manager to register.
This system is receiving updates from RHN Classic or RHN Satellite.
</pre>

Could you make sure the system is properly registered and try again?

[2014-02-07 19:38] sqrlmstr5000 commented on #5904
It's not that it isn't registered correctly. It's that we are using RHN Satellite and not Subscription Management.

I disabled the Subscription Management plugin in /etc/yum/pluginconf.d/subscription-manager.conf. Same error generated by the playbook

Proof of that message went away:

[code]

[code]

[2014-02-07 23:08] maedox opened #5908 "Syntax error is not caught in authorized_key module"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:
- Linux Mint 15
- Python 2.7.4
##### Summary:

Variables for user and key in the authorized_key doesn't seem to expand, when in fact there is a syntax error (missing ending paranthesis) for the lookup function.
##### Steps To Reproduce:

_test.yml_

[code]

$ ansible-playbook -vsc local -i local test.yml
##### E

[2014-02-07 23:09] maedox commented on #5566
Submitted as https://github.com/ansible/ansible/issues/5908.

[2014-02-08 13:31] ko-zu opened #5913 "with_items flatten list of lists"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A
##### Summary:

with_items flatten list of lists.
##### Steps To Reproduce:

[code]

should be identical tasks.
but later one iterates through "abc" AND "def", which prints "a , b" and  "d , e".
##### Expected Results:

both should output msg=""abc, def"

[code]
##### Actual Results:

later one iterates thr

[2014-02-08 13:41] kuba commented on #5908
You made a typo, try `key="{{ lookup('file', item) }}"` (note the closing bracket).

[2014-02-08 14:06] kuba commented on #5913
I can confirm this bug. With this playbook:

[code]

following output is produced:

[code]

This happens for both:
- 1.4.4
- and ansible 1.5 (devel ab0adaf613) last updated 2014/02/08 13:49:16 (GMT +100)

[2014-02-08 14:09] maedox commented on #5908
Holy cow, that's embarrassing. I can't believe I didn't see that.
It would be immensely helpful if Ansible told me my syntax was wrong, though. Vim is somehow not able to properly highlight yaml. Additionally I'm using Syntastic with the js-yaml tool for checking the syntax, and that didn't trigger either. :neutral_face:

Thanks @kuba.

[2014-02-08 14:16] kuba commented on #5913
This is related to 43d22b0c421e72772be092c3f1ebeaa0f9613dff and #1711.

[2014-02-08 14:31] kuba commented on #5913
Haha, have a look at https://github.com/ansible/ansible/pull/1711#issuecomment-10933724 and https://github.com/ansible/ansible/pull/1711#issuecomment-10934000. As @mpdehaan stated: "I know it breaks that, but it is completely gross and deserves to be broken". What they didn't foresee at that point is that somebody may just have a list of lists on `with_items` input:

[code]

and with the same run

[2014-02-08 14:35] kuba commented on #5908
Well, @maedox, I think it would be good to reopen the ticket with different title and description, as this should (?) be caught as a syntax error by Ansible/Jinja2, indeed.

[2014-02-08 15:12] kvdveer opened #5914 "copy with contents fails if contents are json with variable substitutions."
[code]

Raises an error, even before the module is executed:

[code]

I can trigger this issue with any valid json that also contains variables, making it invalid json (by prepending some garbage) or removing the variable substitution works as expected.

Versions: 1.4.4 and latest head

[2014-02-08 18:22] samos123 commented on #5241
@scottmotte Thanks for the swap role, I just made a role of this with a variable called swap_mb

[2014-02-08 19:12] motdotla commented on #5241
@samos123 woot. Thanks.

[2014-02-08 21:13] mpdehaan commented on #5914
cc @risaacson

[2014-02-08 21:14] mpdehaan commented on #5913
This is intended behavior.

@kuba, Assumptions that it is "clearly a bug" are of opinion nature.

Please ask on the list if you like.

[2014-02-08 21:14] #5913 closed, assigned to nobody

[2014-02-08 22:03] mpdehaan commented on #5908
Variables within authorized_key (and all modules) defintely do expand, but there may be something else lurking here.

[2014-02-09 02:29] risaacson commented on #5914
@kvdveer thanks for submitting this. I'll dig into it and get it fixed quickly.

[2014-02-09 03:22] risaacson commented on #5914
@kvdveer Is this something that you have had working before? I am testing on a Ubuntu 13.10 desktop to a CentOS 5 server. I have gone back to 1.4.0 and I don't see that this worked. Is this your first time trying this or have you seen it work before?

[2014-02-09 08:28] kvdveer commented on #5914
I have never seen this working, but I only stepped in during 1.4.3, and wote my first json-based copy command yesterday.

Is there anything I can do thelp diagnose/resolve this? I'm deploying to Ubuntu 12.04, running from Ubuntu 13.10.

[2014-02-09 08:55] beberlei opened #5922 "Using pip module, when VersionConflict occurs, Ansible thinks task is ok"
I tried to install tinkerer with the following task:

[code]

Because on the server an old sphinx version was installed, a VersionConflict exception was risen and pip stopped installing. Yet ansible marked this as success and went on with the next task.

[2014-02-09 08:55] beberlei commented on #5922
This is with ansible 1.4.4

[2014-02-09 11:26] darklajid opened #5923 "FreeBSD target: service: name=postgresql state=started hangs the whole playbook"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Arch Linux local, FreeBSD remote/target
##### Summary:

A very simple script hangs ansible-playground, making ansible unusable to deploy postgresql on FreeBSD without workarounds.
##### Steps To Reproduce:

Based on this playbook role:

[code]

Run the playbook: ansible-playbook -K -i myinventory myentrypoint.y

[2014-02-09 12:52] darklajid commented on #5923
Further update: Replacing the service: command in a handler with a simple command: service postgresql start in the task file results in the same problem. So there seems to be something fundamentally wrong in ansible's handling of service postgresql start here.

Running that locally on the FreeBSD machine (as root or using sudo) works flawlessly.
All tests were performed on a clean VM (rolling back

[2014-02-09 13:15] darklajid commented on #5923
Final addendum:

These fail (playbook hangs forever, needs ctrl+c)

[code]

These work (service starts and playbook continues):

[code]

At this point I think it is clear that this is a bug in the way ansible handles the command's output: A simple redirect to /dev/null 'solves' the problem and a raw command works fine as well.

[2014-02-09 13:19] bcoca commented on #5923
This sounds like the init script is not releasing the tty and keeping
stdout open, which is why ansible 'hangs'.

[2014-02-09 13:21] mvk commented on #5923
It might be due many reasons, e.g. the init script never starts (not on path) or waits for stdin.
you need to see what is actually being run by python on the other side.

[2014-02-09 13:25] bcoca commented on #5923
@MVK, init script is at:/usr/local/etc/rc.d/postgresql , which is part of
where the service module searches on FreeBSD, also if not found it would
return immediately with an error.

[2014-02-09 13:35] darklajid commented on #5923
mvk: The service module runs .. 'service' on FreeBSD, according to the ansible source.

Also, all my other samples explicitly list what is run:

[code]

I would accept user error or mistakes in the init script, but I can run that locally, raw and with a redirection. What breaks the other uses (notably service:) and should that behavior be possible?

[2014-02-09 13:40] darklajid commented on #5923
@bcoca - keeping the tty wouldn't affect raw:?
Looking at the init script I don't see anything special..

[2014-02-09 14:03] bcoca commented on #5923
the raw module bypasses the normal module execution, it uses much simpler
path, which might account for the difference.

[2014-02-09 14:10] darklajid commented on #5923
So the question remains: Is this a bug in ansible? That script works locally just fine, I'm not sure (IF the init script is to blame) if a bug report a la 'works fine in general, but not if you happen to use ansible to call it' can succeed, to be honest.

[2014-02-09 14:13] bcoca commented on #5923
try executing the script remotely over ssh: ssh -t <machine> "service
postgresql start", I expect this to hang and the problem being that the
script isn't detaching itself from the tty correctly.

[2014-02-09 14:16] darklajid commented on #5923
On the road now, typing from my mobile.
Can give it a try in 6-8 hours.

Thanks!

[2014-02-09 15:17] darklajid commented on #5923
@bcoca - some tinc and host jumping tricks and fighting the android keyboard:

┌─[dar@TIS-Ben-T520]─[~]
└──╼ ssh -t 192.168.122.201 "sudo service postgresql start"
Enter passphrase for key '/home/dar/.ssh/id_rsa':
Password:
LOG:  ending log output to stderr
HINT:  Future log output will go to log destination "syslog".
Connection to 192.168.122.201 closed.
┌─[dar@TIS-Ben-T520]─[~]
└──╼

So, is that

[2014-02-09 16:21] fadishei commented on #4359
I am also disappointed by the way ansible forces a fixed folder structure while sysadmins may like other forms of organization. In fact, the "best practices" title in the docs should be renamed to "the only practice"!

[2014-02-09 16:43] ghost opened #5925 "Error when terminating ec2 instance with module ec2"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 36250c6b86) last updated 2014/02/10 07:57:30 (GMT +000)
##### Environment:

Running from Vagrant box with CentOS 6.5 and MacOS X. Hosts are Amazon AMI on EC2
##### Summary:

When using the ec2 module to terminate an instance on Amazon EC2, the instance gets terminated but the play ends in error with a traceback
##### Steps To

[2014-02-09 18:19] kvdveer commented on #5914
v1.3.4: seems to work as expected
v1.4.0: show the aforementioned symptoms

I've tried bisecting the issue, but it doesn't seem to be entirely determinisic as bisect yields nonsense results. I'll try to work with clean venvs, possiby that helps, bit for now it's bedtime... ;-)

[2014-02-09 18:27] mpdehaan commented on #5774
I'm closing this ticket as we have the linked pull request above to track this.  Thank you!

[2014-02-09 18:27] #5774 closed, assigned to nobody

[2014-02-09 18:28] mpdehaan commented on #5550
I agree that we probably don't want to add recursive to every single module, though we can do this with 'shell' commands when needed when someone wants it.

[2014-02-09 18:28] #5550 closed, assigned to nobody

[2014-02-09 18:29] mpdehaan commented on #5512
I'm not really so sure we want this now, because someone could pull in a role from galaxy and be surprised by it messing with tags they might not choose to apply.

[2014-02-09 18:29] #5512 closed, assigned to nobody

[2014-02-09 18:30] mpdehaan commented on #5440
This is not something we are actively going to work on.  Pull request to tweak this behavior may be considered, but likely there should be a list conversation about the topic first as we would something that works universally.

[2014-02-09 18:30] #5440 closed, assigned to nobody

[2014-02-09 18:31] mpdehaan commented on #4992
I'm closing this ticket as we have the pull request above (linked) to track it.  Thank you!

[2014-02-09 18:31] #4992 closed, assigned to nobody

[2014-02-09 18:35] mpdehaan commented on #3881
(A) please don't comment on old tickets, they are unlikely to be read

(B) for AWX/Tower questions, please use the support link on the main website.  This tracker is just for the core project.

[2014-02-09 18:35] mpdehaan commented on #5846
Please comment only on active tickets  Thanks!

[2014-02-09 18:36] mpdehaan commented on #5525
I'm closing this extra ticket record as we have a pull request ticket pointing at it now, and can still get to this page from there.  Thanks!

[2014-02-09 18:36] #5525 closed, assigned to nobody

[2014-02-09 18:42] mpdehaan commented on #5495
So I believe this conversation was already resolved previously over other discussions, but the ticket wasn't closed.

Basically Ansible doesn't do multiple keys for the same host.  The system just doesn't work this way.

The names coming back from ec2.py are ephmeral and should not be expected to be constant.  There are some tuning settings exposed in ec2.ini that allow the keys to be changed.

Ho

[2014-02-09 18:42] #5495 closed, assigned to nobody

[2014-02-09 18:46] mpdehaan commented on #4840
I'm closing this ticket as we have a pull request open now that tracks this issue, just to keep github easier to organize.   This ticket can still be found from the other.

[2014-02-09 18:46] #4840 closed, assigned to nobody

[2014-02-09 18:46] mpdehaan commented on #4393
I'm closing this ticket as we have a pull request open now that tracks this issue, just to keep github easier to organize.   This ticket can still be found from the other.

[2014-02-09 18:46] #4393 closed, assigned to nobody

[2014-02-09 18:48] mpdehaan commented on #4237
Yep, this is --skip-tags so this can be closed.

[2014-02-09 18:48] #4237 closed, assigned to nobody

[2014-02-09 18:48] mpdehaan commented on #4128
Yep, closing this, thanks!

[2014-02-09 18:48] #4128 closed, assigned to nobody

[2014-02-09 18:49] mpdehaan commented on #3864
(late response)

Not quite, though the same mechanism could perhaps be used for the raw module.   We'd need to try it.

I'm going to close this one anyway as the original ticket was a bit theoretical, if the problem comes up, we can deal with it :)

[2014-02-09 18:49] #3864 closed, assigned to nobody

[2014-02-09 19:06] mpdehaan commented on #5904
yum_rhn_plugin is known to be something of a pain at times (not yum's fault).  Not sure what's up here, but we also don't have a Satellite to test it with.

If you'd like to dig further, it would be welcome.

[2014-02-09 19:23] sqrlmstr5000 commented on #5904
I'll turn up the debug level in yum and start there. Anything else that would be helpful, let me know. Thanks!

[2014-02-09 20:51] darklajid commented on #5923
FYI: Also happens with the current master (as of this writing):

[code]

Same behavior.

[2014-02-09 21:25] romabysen commented on #5040
I just got back to having to use this again and it seems it is still broken. On some servers I get the subinterfaces with the right address but no ipv4_secondaries on the main interface. On others I get the same problem as above and a list of addresses in ipv4_secondaries.  For some reason ipv4_secondaries also exist on subinterfaces and not only on the main interface.
Ansible is 1.4.4 and the hos

[2014-02-10 04:29] mpdehaan commented on #5799
Was this from the addition of the new Chinese region prior to us adding it in the defaults as an excluded region?  If so, we should be able to close this now.

[2014-02-10 04:29] jimus2 commented on #2526
Hi.

Is this issue fixed?

I'm trying on ansible 1.5, but I'm not able to set sudo through host_vars variables

[2014-02-10 04:30] mpdehaan commented on #5760
Closing this ticket as we have a pull request tracking this now, thanks!

[2014-02-10 04:30] #5760 closed, assigned to nobody

[2014-02-10 04:30] mpdehaan commented on #5686
Closing this due to lack of info follow up.

[2014-02-10 04:30] #5686 closed, assigned to nobody

[2014-02-10 04:31] #5674 closed, assigned to nobody

[2014-02-10 04:32] mpdehaan commented on #5559
set_fact applies to the host one is currently looping over, so it wouldn't apply to what was added with add_host.  This is the problem with the above example.

[2014-02-10 04:32] #5559 closed, assigned to nobody

[2014-02-10 04:35] mpdehaan commented on #5253
Closing due to lack of info.

[2014-02-10 04:35] #5253 closed, assigned to nobody

[2014-02-10 04:37] mpdehaan commented on #5129
Running Ansible pull from a user that can run the command would also do it.

In any case, I don't think we are going to build a daemon to wrap ansible-pull, so I'm going to close this ticket.

[2014-02-10 04:37] #5129 closed, assigned to nobody

[2014-02-10 04:45] activestylus opened #5932 "Lack of progress / feedback on build is a bummer"
If I run a fairly involved playbook action ansible just hangs in the console until it is complete. Sometimes this can take hours.

When running multiple commands, there should be some feedback or indicator of progress so that the developer knows that his tasks are running correctly.

[2014-02-10 04:48] mpdehaan commented on #5932
You should read the docs about async and the poll option.  If you have further questions please stop by the mailing list.

[2014-02-10 04:48] #5932 closed, assigned to nobody

[2014-02-10 04:49] mpdehaan commented on #5932
Further, Ansible is not meant to be a build system.   Doing builds on each of hundreds of machines is going to be inefficient.

Build your artifacts in Jenkins, or similar, and install the artifacts using something like the get_url module in Ansible.

[2014-02-10 05:32] sean- opened #5933 "[patch] Unable to remove all groups from a user..."
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.4.4
##### Environment: FreeBSD, but N/A
##### Summary:

When attempting remove all groups from a user using the user module, ansible fails with the following message:

[code]
##### Steps To Reproduce:

Use the user module with an empty groups parameter. e.g.:

[code]

The bug is due to splitting an empty string:

[code]

The latter beha

[2014-02-10 08:00] leevs commented on #5053
it would be nice indeed to have extra options to set default and recursive.

[2014-02-10 08:52] kvdveer commented on #5914
Sleeping helped... ;-)
According to my git bisect, the culprit is this: 90cce35919e6b93c0b904078c5285e1dbaeb0fdf

[2014-02-10 11:30] giorgio-v opened #5934 "Bug Report: Synchronize module asks password"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 36250c6b86) last updated 2014/02/10 11:19:30 (GMT +200)
##### Environment:
- ProductName:  Mac OS X
- ProductVersion:   10.9.1
- BuildVersion: 13B42
##### Summary:

`synchronize` asks password when `ansible_ssh_user` is redefined in a var file different from `all.yml`
##### Steps To Reproduce:

https://gist.github.com/giorgio

[2014-02-10 12:27] bcoca commented on #5053
defaults have been added to current patch, I won't add recursive because it
is too complicated to report state.

[2014-02-10 13:45] mpdehaan commented on #5933
Hi, if you would like to submit a patch, can you please submit a pull request on GitHub?

That ensures us we are all merging and reviewing things the same way and is neccessary with a project of our size.

Please read https://help.github.com/articles/using-pull-requests if you haven't used these before.

Thanks!

[2014-02-10 16:53] bj-mcduck commented on #5412
I was just having this issue, and I started receiving it when I was trying to follow a 'best practices' example on github.

The example didn't have:

[code]

At the beginning of the called playbook.

After I added that it started working normally again.

[2014-02-10 17:24] risaacson commented on #5739
This is tested as resolved with the recent fixes.

[2014-02-10 17:24] #5739 closed, assigned to nobody

[2014-02-10 18:21] Ernest0x commented on #5581
This seems not to be enough. I added the line:

[code]

And now I get ther error:

[code]

[2014-02-10 18:31] bcoca commented on #5581
the module has:

remote_src=dict(default=False, type='bool'),

which should already take care of that.

[2014-02-10 18:45] Ernest0x commented on #5581
I would agree, but, without that line, the initial error was:

[code]

Of course `/some/path` does exist locally.

Besides, I would expect that the line I added would be innocent enough to not produce an `unsupported parameter for module: remote_src` error. But it is not.

I' m trying with last git commit  36250c6b86 and I added the line at file: /lib/ansible/runner/action_plugins/assemble.py

[2014-02-10 18:58] drybjed commented on #5818
This playbook stopped working correctly after commit https://github.com/ansible/ansible/commit/d355d3c698b0a307180169f155e44f94e88518b0

`delegate_to` can reference host by it's `inventory_hostname`, but it cannot reference a host by it's `ansible_fqdn` name anymore.

[code]

Before the commit:

[code]

After the commit:

[code]

[2014-02-10 19:01] rrtj3 commented on #5742
Closing this issue since the pull request fixing it was merged.

[2014-02-10 19:01] #5742 closed, assigned to nobody

[2014-02-10 19:04] mpetrive opened #5936 "playbook hosts wildcard syntax should be more full featured"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.4.4
##### Environment:

N/A
##### Summary:

In a playbook, hosts should be selectable from the inventory using regular expressions and/or wildcards (e.g. '_') before and after the string.  For example if I want to specific DHCP servers from the inventory where hosts are defined with FQDNs I would expect *dhcp1_ to select "xx01-dhcp1.domain.

[2014-02-10 19:07] sqrlmstr5000 commented on #5904
I tried to enable debugging on the target system in /etc/yum.conf and /etc/sysconfig/rhn/up2date. I'm not seeing any info being logged. Where should I start debugging this issue?

[2014-02-10 19:20] drybjed opened #5939 "delegate_to with FQDN hostnames and short hostnames in inventory cannot find hosts"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Ubuntu GNOME Remix 13.10, Debian Wheezy
##### Summary:

I have a set of Debian hosts in the local network, which are reachable via DNS by using just their hostname instead of full domain name (provided by dnsmasq). I'm using the short hostname in the ansible hosts file, which worked correctly. With `delegate_to`

[2014-02-10 19:36] #4812 closed, assigned to jimi-c

[2014-02-10 19:37] jimi-c commented on #4812
Since there has been no follow up and the commit above fixed the issue in my test cases, I went ahead and merged it into the main branch. If you continue to have problems with this, let us know. Thanks!

[2014-02-10 19:58] jimi-c commented on #5014
I believe the issue here is being caused by the debug: msg="" part, since if you do `debug: var=` syntax instead you see the following (which is what I'd expect):

<pre>
PLAY [localhost] **************************************************************
TASK: [DEBUG users] ***********************************************************
fatal: [127.0.0.1] => /root/testing/path/to/pubkey.pub does not exist

[2014-02-10 19:58] #5014 closed, assigned to nobody

[2014-02-10 19:58] jimus2 opened #5942 "allow sudo variable to be set by host_vars variables"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 36250c6b86)
##### Environment:

I was running Ansible from Mac OSX 10.9.1 and managing CentOS release 5.7 (Final)
##### Summary:

sudo variable in my playbook can not be set by host_vars files variables
##### Steps To Reproduce:

1) I have a playbook with the following:

[code]

2) I have a host_var file with the following:

[2014-02-10 20:14] Habbie opened #5943 "Using state in with_items with apt module leads to confusing behaviour"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

From: Mac OS X Mavericks, ansible installed from Homebrew
Managing: Debian Testing (Jessie)
##### Summary:

Putting state=X into with_items with apt: pkg={{ item }} yields confusing and inconsistent output and behaviour.
##### Steps To Reproduce:

Status: I have bundler and socat installed, and ruby-ffi\* are N

[2014-02-10 20:18] bcoca commented on #5943
so ... yep, i would expect that not to work, you are mixing apples and
steak and calling it vegetables.

[2014-02-10 20:51] darKoram commented on #276
i am seeing this using the centos vm using the image at http://catn.com/labs/project/centos-images/
We then do a  yum clean all, yum upgrade, yum update.
Note, we do the yum clean because the image seems to have stale/broken yum state/repos.

Ansible is not functional until i apply denen99's fix
      sed -e '/mpz_powm_sec/I s/^/# /' < /usr/lib64/python2.6/site-packages/Crypto/Util/number.py > /us

[2014-02-10 21:13] sean- commented on #5933
Done. See #5944.

[2014-02-10 21:53] #5399 closed, assigned to jimi-c

[2014-02-10 21:55] jimi-c commented on #5399
The above patch should correct the problem, I am no longer seeing any AVC's on CentOS 6.5 with that change in place. If you continue having any issues with this, please let us know. Thanks!

[2014-02-10 22:02] gundalow commented on #5886
I believe a2x has been a requirement for a while. On debian the package is asciidoc, I believe it's the same on redhat systems.

An exit value of 4 from xmllint means "Validation error", did you edit some xml as part of your change?

[2014-02-10 22:12] darKoram opened #5947 "file module should error if src given without state=link"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.5 (devel bbda98a3ee) last updated 2014/02/10 14:24:47 (GMT -500)
##### Environment:

Centos 6.5  N/A
##### Summary:

This is pretty minor, but it bit me and could safely give an error in this case.

From the docs for file module:
src         path of the file to link to (applies only to state=link). Will accept absolute, rela

[2014-02-10 22:31] jimi-c commented on #4818
So, after reading through this, it sounds like this is a documentation issue and not a bug. @hyphen-jb , could you send us a PR for the above doc changes so that you get proper attribution? Beyond that, I'm going to go ahead and close this. If you have any further questions regarding this, please let us know. Thanks!

[2014-02-10 22:31] #4818 closed, assigned to nobody

[2014-02-10 23:41] darKoram opened #5949 "lineinfile behaves differently for " vs '"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 4688be33d4) last updated 2014/02/10 16:52:50 (GMT -500)
##### Environment:

N/A
##### Summary:

lineinfile fails with the second item below but passes when you switch the quotes " and '
##### Steps To Reproduce:

Here is an example:
Using centos6.5 exactly as below, otherwise replace path to number.py

[code]
##### Expected R

[2014-02-11 00:18] rgbkrk commented on #2268
Thanks for posting this issue so I could Google find my way to this problem and fix my dotfiles setup (fresh box complains about all my echos).

[2014-02-11 01:45] jctanner commented on #5934
@giorgio-v what username's password is it asking you for?

Please provide the full output from "ansible-playbook -vvvv"

[2014-02-11 01:56] mpdehaan commented on #5949
BTW, random :eek: at the idea of monkeypatching with lineinfile instead of using a package manager.

There's also a way to disable that warning using the warnings module in Python code.   Ok, now reading...

[2014-02-11 01:56] mpdehaan commented on #5949
Reformatting your ticket above...

[2014-02-11 01:59] mpdehaan commented on #5949
Not sure what's going on above.   May be YAML quoting issue.   In the queue to reproduce regardless.

[2014-02-11 04:07] bcoca commented on #5923
not sure this applies anymore, but worth a try (silent mode setting)

http://www.postgresql.org/message-id/A3BA2251DD85404FBBEF7478C29D8742932EC0@onmxm01.ciena.com

[2014-02-11 04:10] swills commented on #5923
Did a bunch of debugging on this. It's due the python subprocess popen communicate function waiting on the process to exit or close stdout (I think). Adding this:

postgresql_flags="-l /dev/null -w -s -m fast"

(adds -l /dev/null) to your templates/postgresql.rc.conf file should fix it.

[2014-02-11 04:43] jctanner commented on #5934
@giorgio-v please re-run your tests against 9ce46e5f41d6017f3f12780c97705d103e759dd3 or newer and paste the -vvvv output.

[2014-02-11 04:44] jctanner commented on #5834
@please retest with 9ce46e5f41d6017f3f12780c97705d103e759dd3 or higher. If the issue still remains we can reopen this ticket or a new one.

[2014-02-11 04:44] #5834 closed, assigned to nobody

[2014-02-11 04:49] jctanner commented on #5240
@AlexMax this should be fixed by 9ce46e5f41d6017f3f12780c97705d103e759dd3

[2014-02-11 04:49] #5240 closed, assigned to nobody

[2014-02-11 05:25] smkelly opened #5951 "Not getting proper mtu on FreeBSD 10"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.4.4
##### Environment: Running from OS X 10.8 (via home-brew) to FreeBSD 10.0-RELEASE
##### Summary:

setup module not picking up proper mtu from FreeBSD ifconfig
##### Steps To Reproduce:
1. Run 'setup' module against FreeBSD 10.0-RELEASE machine
2. Look at ansible_lo0.mtu or any other interface
3. Compare to ifconfig output for the se

[2014-02-11 05:41] datasmid commented on #2201
Stale links in the Ansible docs, not clear if fireball mode on mac has a bug or if it is an undocumented/unportable feature. We need pip url and version!

[2014-02-11 06:09] lukyanov commented on #5886
No, I didn't change anything. Just git clone and make rpm.

On Tue, Feb 11, 2014 at 2:02 AM, John Barker notifications@github.comwrote:

[2014-02-11 06:36] tszming commented on #4319
While this is not a bug according to the doc, I agree with @thijsterlouw that it can be better handled like, e.g.

site.yml

[code]

hosts

[code]

If I am running playbook against hosts "web", there is no reason why the "db" group variables "BAR" should overwrite my expected variables "FOO"

[2014-02-11 08:19] giorgio-v commented on #5934
Seems fixed.

[code]

[2014-02-11 12:50] jctanner commented on #2201
@datasmid please do not report issues as comments in closed tickets. Use a new/open bug or shoot an email to the ansible-project mailing list.

Fireball mode has been deprecated in favor of "accelerated" mode.

[2014-02-11 13:04] mpdehaan commented on #5947
Thanks for the report.

I agree you would think this should happen, but the way internal modules like template or copy call file, it can't trivally do that.

So we'd have to remove the "src" or "file" arguments to those modules prior to passing them along.

The code is simpler if we don't do this, so it's unlikely that we are going to tackle this soon because it would also break anyone's modules i

[2014-02-11 13:04] #5947 closed, assigned to nobody

[2014-02-11 13:04] jctanner commented on #5934
@giorgio-v great, I'll close this then.

[2014-02-11 13:04] #5934 closed, assigned to nobody

[2014-02-11 13:40] lechat commented on #4658
Hi,

If 'update' parameter is not set or set to 'false' - git module just returns current version of current local branch and doesn't do anything else. If 'update' is set to 'true' - git module will try to do a safe pull for the  branch specified by 'version' parameter.
Safe pull: if there are local changes and force is not set - it will fail, if local branch HEAD is the same as remote HEAD - do n

[2014-02-11 13:43] lechat commented on #5245
Hi,

If you need to checkout another branch, you need to pass 'update=true' parameter to git module. If you don't - behaviour will be as you described.

Hope this helps!

[2014-02-11 14:46] darklajid commented on #5923
silent_mode was removed between 9.2 and 9.3 - so that doesn't apply anymore. But the release notes state (as Steve points out) that the same behavior can be configured by passing -l /some/file to pg_ctl - and he already points out how to do that for FreeBSD.

So I guess this is FreeBSD's or alternatively Postgresql's fault?

[2014-02-11 14:48] imesias opened #5952 "--tags still executes all tasks"
Hi,

I appear to be having an issue running a specific set of tasks from a playbook. It appears to still be executing all the tasks in the playbook, I assume I'm doing something terribly wrong and probably require a bit of guidance...

imesias@cody:~/Development/vagrant/ansible$ ansible-playbook -i vagrant site.yml --list-tasks

playbook: site.yml

  play #1 (im):
    create
    get
    unpack

[2014-02-11 14:53] Lastpixl opened #5953 "service module: incorrect "unchanged" status when --check is used with "state=started enabled=yes"."
##### Issue Type:

Bug Report
##### Ansible Version:

I'm using ansible v1.4.0.874.gacae162-1 (git version, just installed)
$ ansible --version
ansible 1.5
##### Environment:

openntpd is installed on my debian stable machine.
The openntpd service is enabled.
The openntpd service is not started.
##### Summary:

When "state=started enabled=yes" is passed to the service module
running with the --che

[2014-02-11 14:55] Lastpixl commented on #5953
Dear ansibot,
Could you ask your master to add a link to this template in https://github.com/ansible/ansible/blob/devel/CONTRIBUTING.md ?
That would be nice for future bug reporters.

[2014-02-11 14:56] renard commented on #4855
I guess this issue is still running. I guess I have a similar issue.

I try with both v1.4.4 (45dde5b3e221e785d64c7b750ea1ec985d17caf9) and devel (acae162d4d2618ff31bd8ab11bc2494acbcb5d34). Note: when I switch from a branch to an other, I cleanup al `pyc` files.

The idea is to synchronize some roles from a machine to an other one. Here is a small playbook (`run-sync.yml`):

[code]

The inventory

[2014-02-11 14:58] swills commented on #5923
I suppose in some sense it's Postresql's fault. But really, what ansible does is it's responsibility, and this could this could happen any time a daemon output's something at startup because the communicate call is reading the output then waiting for the process to end. See

http://docs.python.org/2/library/subprocess.html#subprocess.Popen.communicate

and

https://github.com/ansible/ansible/blob/

[2014-02-11 15:06] jctanner commented on #5953
@Lastpixl yep, can do.

EDIT:

Done.

[2014-02-11 15:17] sqrlmstr5000 commented on #5904
Nevermind, I'm an idiot! It had to do with my 'ansible' user and permissions. I switched to force sudo and it installed the package. I'm glad cause I really wanted to use ansible!

[2014-02-11 15:17] #5904 closed, assigned to nobody

[2014-02-11 15:49] coopstah13 opened #5954 "postgresql_db module tablespace parameter"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.4.4
##### Environment:

Running Ansible from Arch Linux

Managing Centos 6/Debian 7
##### Summary:

I would like to make use of this module, but I can't because I can't specify a tablespace for the database.

I noticed this pull request https://github.com/ansible/ansible/pull/4994 but it doesn't seem like the author resubmitted it a

[2014-02-11 15:52] darklajid commented on #5923
I tend to agree with you - at the end of the day ansible shouldn't hang. Especially since postgresql (in this case) works flawlessly, can be started locally or via ssh -t without any issue (see my comment further up this discussion). In other words: The postgresql init script doesn't pose a problem - unless you're using ansible. So I'd chalk this up as a corner case that exposes a weakness in the

[2014-02-11 15:59] darKoram commented on #5949
Thanks. I agree about the hacky patch, but i spent an hour or so trying yum options like --skip-broken with no luck.  So i added a #TODO and moved along.  My understanding of package manager tricks is not strong, but if you can suggest something to investigate, i would post a better method to the issue thread on the ansible site if i can make it work.

[2014-02-11 16:01] lechat commented on #5073
Maximum failure percentage is calculated per batch size, and not across all hosts. You've instructed to have batch size to be one host, and ansible fails when first batch reaches 100% failure.

In your workaround you restrict ansible from creating multiple batches, so it is forced to put all hosts into one batch and then playbook fails when threshold is reached.

I don't think that this is a bug.

[2014-02-11 16:18] mikhailov opened #5955 "VirtualBox module wrapper"
##### Issue Type:

Feature Idea
##### Ansible Version:

ANY
##### Environment:

OS X, Linux
##### Summary:

Since I lost hope on Vagrant from high complexity to extend to Ruby syntax for VMs configuration I tried to build some simple version of VBoxManage CLI that based on .vagrant configuration (pretty weird data structure with files): https://gist.github.com/mikhailov/8104790

The misconception

[2014-02-11 16:28] jctanner commented on #4855
@renard please open a new bug and I'll take a look.

[2014-02-11 16:41] danjenkins commented on #5799
+1, I had this exact same issue, I downgraded boto and everything works fine now

[2014-02-11 16:54] jimi-c commented on #5904
Glad it was something simple!

[2014-02-11 17:39] mpdehaan commented on #5955
Ideas for perspective features like this if not completely fleshed out are probably best discussed on the ansible mailing list, where we can get more information and also engage more people in the discussion.

Can you please start a thread there?  Thanks!

[2014-02-11 17:39] #5955 closed, assigned to nobody

[2014-02-11 17:43] mpdehaan commented on #5952
re:  "Just executing the playbook without specifying the tag also executes all tasks instead of just tasks tagged with remove."

Yeah, this is not how the system works.

By specifying a tag to a role, you are saying "this should be tagged with this", not "only include some of this".

Thus you need to specify "--tags remove" to only get things tagged "remove".

I'm going to close this one as it's n

[2014-02-11 17:43] #5952 closed, assigned to nobody

[2014-02-11 18:21] jimi-c commented on #5073
This actually has nothing to do with max failure %. Ansible will never continue if 100% of the hosts in a batch fail, even if you set the max% over 100. The relevant section of code being hit is here (in `lib/ansible/playbook/__init__.py`):

<pre>
                # if no hosts remain, drop out
                if not host_list:
                    self.callbacks.on_no_hosts_remaining()

[2014-02-11 18:21] #5073 closed, assigned to nobody

[2014-02-11 18:28] feanil commented on #5799
Don't think this is related to the Chinese regions as we aren't signed up to use it right now.  I wonder if this issue is related to getting info about reserved instances, do other people who have seen this have instance reservations?

[2014-02-11 18:29] danjenkins commented on #5799
hi @feanil - we don't have any reserved instances..

[2014-02-11 19:08] jrosengren opened #5958 ""file" module error on Oracle Enterprise Linux"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.4
##### Environment:

Oracle Enterprise Linux 5.9
##### Summary:

I've encountered an error in a file module task running on OEL 5.9 that doesn't seem to have the same issue running on CentOS 5.x:
##### Steps To Reproduce:

[code]
##### Expected Results:

If directory exists, a no change response
##### Actual Results:

[code]

[2014-02-11 19:36] hyao opened #5959 "nova_keypair bug?"
Hi,

I used openstack-ansible (https://github.com/openstack-ansible/openstack-ansible) to build the vms (the host machine is ubuntu 12.04 x64), but got:
TASK: [capture public key in variable] ****************************************
changed: [controller]

TASK: [add ssh keypair to nova] ***********************************************
fatal: [controller] => failed to parse: Traceback (most recent c

[2014-02-11 20:07] risaacson commented on #5958
@jrosengren Just to confirm that uner OEL 5.9 you are trying to confirm that a directory exists. You have tested with this file existing and you are getting this the error above. When you duplicate the test on a CentOS5 box you are not seeing the same error with the directory also existing. Correct?

I should be able to test after oracle lets me pull the ISO.

[2014-02-11 20:15] bcoca commented on #5958
is this an NFS mount? if so check for 'squash root' which would explain
this error under sudo.

[2014-02-11 20:18] kentcdodds opened #5961 "Use issuetemplate.com to make issue triaging easier."
##### Issue Type:

Feature Idea
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

I made a web app for the AngularJS project to help them triage their huge amounts of issues they have to deal with. I noticed your project gets a lot of issues as well and thought you could find it useful. Give it a look and feel free to ask me any questions or submit issues to the repository.
[**ht

[2014-02-11 20:19] #4821 closed, assigned to nobody

[2014-02-11 20:21] risaacson commented on #5951
This also shows broken on devel(1.5) for both FreeBSD 9 and 10.

[2014-02-11 20:22] kentcdodds commented on #5961
This is awesome. Based on the fact that you have a bot I'm going to guess you're going to love this thing :) Instead, your bot could say this:

Hey! I noticed you didn't use our template. Please go here to update your issue using the template:
http://issuetemplate.com/ansible/ansible/{{template-name}}/{{issue-number}}

And their issue info would be included in the form they fill out. I think you'l

[2014-02-11 20:28] jrosengren commented on #5958
@risaacson Your summary is spot on.

@bcoca It's not an NFS mount, it's actually a fuse mount (with allow_other as one of the mount options.  But again, this doesn't error out on CentOS 5.x, just on OEL 5.9

[2014-02-11 20:29] imesias commented on #5952
Ah, (light bulb) I knew I was doing something rather silly, thanks for you assistance. I think I should revert back to RTFM :-/

Thanks again.

[2014-02-11 20:44] aminjam opened #5963 "SSH inside of a playbook"
##### Issue Type:

What kind of ticket is this?  You can say “Bug Report”, “Feature Idea”, “Feature Pull Request”, “New Module Pull Request”, “Bugfix Pull Request”, “Documentation Report”, or “Docs Pull Request”.
##### Ansible Version:

ansible 1.4.4
##### Environment:

Mac OSx
##### Summary:

I don't know if it's possible or not, but I have docker running inside of my VM, and part of the deployin

[2014-02-11 20:45] bcoca commented on #5963
you are telling a batch systems to open an interactive terminal ... i
expect it to hang.

what do you need to do after the ssh? you should be able to just use a
delegated task.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-02-11 20:52] aminjam commented on #5963
basically I have a base node container, so I would like to ssh into the container, git clone my code, then npm install, and run the app. Here the complete playbook.

---
- hosts: all
  sudo: yes
  tasks:
  - name: SSH into Docker
    shell: ssh root@localhost -p 40022 -o StrictHostKeyChecking=no
  - name: Ensure we got the App code
    git:
     repo=git://github.com/aminjam/express-hello-world.gi

[2014-02-11 21:04] bcoca commented on #5963
ok ... ansible doesn't work that way, if you ssh in task 1 to another
machine, task2 WILL NOT execute on that machine, it will execute on the
current host target.

you want to define the docker hosts and run the play against them.

[2014-02-11 21:14] aminjam commented on #5963
Docker is running inside of the host. These are not two different hosts. Docker run as a low level lxc-container, so you can create as many containers communicating with each other on a single VM, so as a result, you can create a base Node container, and just push the code repo on the ansible level. so I am trying to figure out how to ssh into the localhost port 40022 which is created by the Docke

[2014-02-11 21:16] bcoca commented on #5963
I know how docker works. In any case,  it is a 'virtual host' on your
current host, ansible even has a docker connection plugin to manage it as
such.

Your tasks as they are WILL NOT WORK. You need to point directly at the
docker "host", either through ssh (you can enable this inside your
container) or use the ansible docker connection plugin.

[2014-02-11 21:18] bcoca commented on #5963
hit enter early. ...

you are already accessing it over ssh, just non standard port, you can even
configure this in ansible with ansible_ssh_host=localhost and
ansible_ssh_port=20022 when you define it in the inventory.

[2014-02-11 21:28] jimi-c commented on #4821
The above patch should correct the issue, and seemed a bit simpler than the proposed fix above. Let us know if you continue having issues with this. Thanks!

[2014-02-11 21:43] aminjam commented on #5963
Perfect. Thanks for your help. I see what I was missing. It worked like a charm when I just ssh with 20022 instead of double ssh.

[2014-02-11 21:43] #5963 closed, assigned to nobody

[2014-02-11 21:46] mpdehaan commented on #5961
So it does look very good!

If you don't mind, I'm a bit leery (no offense implied) of depending on external SaaS thingy, but I see you've open sourced it, which is great too.   I had a little hard time gleaning some of this from the webpage, but can you share a bit about what's the hosting and business plan behind this project, etc if it might exist?   Also is it possible to have a seperate templ

[2014-02-11 21:52] kentcdodds commented on #5961
This is a labor of love. I'm not planning on making money from it. It's free to use by the open source community. Firebase is sponsoring one of their candle plans for hosting the templates. You can have any number of templates, so you could have a pull request template if you want (though I haven't tested this on pull requests yet, not sure how that would work).

Also, in the template you could ad

[2014-02-12 00:43] renard opened #5965 "`synchronize` does not setup host target when using `with_items`"
##### Issue Type:

Bug Report
##### Ansible Version:

I try with both v1.4.4 (45dde5b3e221e785d64c7b750ea1ec985d17caf9) and devel (acae162d4d2618ff31bd8ab11bc2494acbcb5d34).

Note: when I switch from a branch to an other, I cleanup all `pyc` files.
##### Environment:

Ansible runs on Ubuntu 12.04.3 LTS
##### Summary:

The idea is to synchronize some roles from a machine to an other one using the `

[2014-02-12 01:27] mpdehaan commented on #5961
Nice, I'll talk it over with the team.  I do like the interface!

[2014-02-12 08:04] risaacson commented on #5431
@phraktle I am not able to duplicate this bug on the current 1.5(devel). Can you test this to see if you still have a problem? If not let's close this issue out.

[2014-02-12 08:12] risaacson opened #5970 "runner/__init__.py:_remote_md5() fails on FreeBSD when target is a directory."
Instead of returning a '3' indicating a directory it will calculate the MD5 hash of the directory. This breaks the behavior of a few modules including unarchive. Tested on FreeBSD 9 and 10.

[2014-02-12 09:14] madmac2501 commented on #4821
Thank you very much for the fix!

On Tue, Feb 11, 2014 at 10:28 PM, James Cammarata
notifications@github.comwrote:

[2014-02-12 11:17] dghubble opened #5971 "roles w/ allow_duplicates=no (default) still allows duplicates"
If a playbook is written to include a dependency role explicitly, that role can be loaded more than once if another role depends on it. Consider this example. `base` is a role with no dependencies. `feature` is a role with a meta/main.yml file specifying the `base` role as a dependency. `base` will be run twice by default here.

[code]

The docs say "by default, roles can also only be added as a d

[2014-02-12 12:44] bcoca commented on #5970
known issue, already discussed in #5741 and #5659

[2014-02-12 12:51] bcoca commented on #5894
have you tried with hosts/groups without a - in the name?

[2014-02-12 13:01] DXist commented on #5894
No, I haven't. Is dash allowed in group names?

[2014-02-12 13:14] mpdehaan commented on #5971
Correct, right now it applies to the dependency chain.

The discussion we've had is that duplicates should apply to the same role when used with the same set of role parameters (if any) so you could still call base with different parameters.

It's a little tricky though.   It's "feature" that is choosing to allow duplicates, not the invocation of base, most likely.

So it may not always be a clear

[2014-02-12 13:24] codezerk opened #5975 "ec2_group, adding rules with non-existing group name fails silently."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel ae9843fccd) last updated 2014/02/03 16:35:52 (GMT +000)
##### Environment:

Linux debian-7 3.2.0-4-amd64 #1 SMP Debian 3.2.51-1 x86_64 GNU/Linux
##### Summary:

When adding a rule to a group with a group_name that doesn't exist, there will be no error notification, the task will complete successfully.

looking at the code in

[2014-02-12 13:25] phraktle commented on #5431
I have tested again with 1.5 head, but I still see the issue. Note, that the tar was not created with the sudo_user's uid/gid (i.e. the tar it has uid 0, as is typical in tar.gz distributions). In this case when you use a sudo_user for unarchive, it will always yield a "changed" state since tar will indicate a difference (as the decompressed files got a different uid/gid):

hello/hello.txt: Uid di

[2014-02-12 13:25] codezerk commented on #5975
The code looks like this:

[code]

maybe something like this should be added:

[code]

[2014-02-12 13:36] darklajid commented on #5923
Okay, the bug/issue is worse than I thought. The same happens with dovecot now.
In just two days I stumbled (it's not that I searched for these things, I'm just trying to build this simple mail environment) upon two services that cannot be handled with ansible, even block ansible forever.

I understand that a quick fix might be unlikely, but I'd be glad about any general 'Okay, yes that looks like

[2014-02-12 13:38] holyjak commented on #2416
As mentioned at [this](https://groups.google.com/forum/#!topicsearchin/ansible-project/get_url%7Csort:date%7Cspell:true/ansible-project/3g8l-ntn4XA) and other posts, Ansible people would like somebody to implement a generic support for creates/removes for all sever side modules. Until then, you have to use f.ex. stats, register, and when:

"I would take a patch that adds creates and removes dynami