[2018-06-17 16:29] felixfontein commented on #41435
Certbot contains a standalone ALPN TLS server (for fulfilling challenges). This should be useful to implement testing this: https://github.com/certbot/certbot/blob/master/acme/acme/standalone.py#L162 [Pebble](https://github.com/letsencrypt/pebble/) seems to have `tls-alpn-01` support as well.

[2018-06-17 17:31] ITD27M01 commented on #40228
@bcoca
I think this issue should be re-examined. Should I open a new issue or the current one can be re-opened ?

[2018-06-17 18:59] kustodian commented on #34867
The module already supports `update_only`, so passing that parameter should fix upgrading `ovirt*setup`.

I wouldn't spend any time on the problem passing these two as a list, it's a rare use case we shouldn't worry about. Also the module can't know from `state` if a user only wants to upgrade, or install or upgrade.

My suggestion is just to document that when specifying `state=latest` and `name

[2018-06-17 19:59] ma3oun commented on #24215
+1

[2018-06-17 21:45] shkkmo opened #41630 "Command Module: Unexpected failure during module execution."
##### SUMMARY
Encountered a python error with stack trace when running a playbook via vagrant from a Ubuntu 16.04 host to a Ubuntu 18.04 guest

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running a playbook via vagrant 2.1.1 from a Ubuntu 16.04 host to a Ubuntu 18.04 guest

##### STEPS TO REPRODUCE
I can

[2018-06-17 21:54] agaffney commented on #41630
This appears to be a bug in some vendor'ed third party code and not related to any particular module.

[2018-06-17 22:54] pilou- commented on #40228
@ITD27M01 could you add output of `ansible-inventory --list --export` command to the example project ?

[2018-06-18 01:34] sk1988 commented on #41477
@trishnaguha I can give it a try.  If it doesn't work, how can I flip back to version 2.5.3 again?

[2018-06-18 01:58] BondAnthony commented on #37220
close_me

This issue has been resolved by PR#41368, please let me know if we still have an issue.

[2018-06-18 02:01] #37220 closed, assigned to nobody

[2018-06-18 02:19] sk1988 commented on #41477
I managed to test this on another server (Centos 7.5) in our environment and able to get Ansible version 2.5.3 communicate with Cisco Nexus; output from this server is shown below.  So, it doesn't seem to be ansible 2.5.3 version issue.

[root@ansible]# ansible --version
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/

[2018-06-18 03:05] dungdm93 opened #41635 "to_nice_json indent is NOT working"
##### SUMMARY
I'd like to customize indentation of json file using `to_nice_json(indent=2)` but it is NOT working. :(

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
to_nice_json

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special. Default only.

##### OS / ENVIRONMENT
Control machine: Ubuntu 16.04.4 LTS
Target machines: Ubuntu 16.04.4 LTS

##### STEPS TO REPRODUCE
[code]

###

[2018-06-18 04:13] Akasurde commented on #30951
Closing this issue due inactivity of user. Please feel free to re-open if problem persists.

[2018-06-18 04:13] #30951 closed, assigned to nobody

[2018-06-18 04:17] Akasurde commented on #30946
@biroeng Could you please share your playbook and console log `-vvvv` which help in debugging this issue ?

needs_info

[2018-06-18 04:35] hiraku commented on #37993
I have the same issue with a task building a software by `make`.

I heard that this error is caused when stdin/out is set `O_NONBLOCK`, so I tried an workaround like below:
[code]
and I could avoid the problem.

But, this fix does not seem to be correct way.

[2018-06-18 05:05] Akasurde commented on #30996
@bcoca is this issue still valid since we have changelog fragments ?

[2018-06-18 05:41] Akasurde commented on #32457
@shdobxr I see you are using command module for Amazon EC2 operation. You can go through the list [here](https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html#amazon)

Let me know if it helps. needs_info

[2018-06-18 05:44] Akasurde commented on #32791
@infrascripting Could you please check if the above mentioned PR works for you ?

[2018-06-18 06:18] varshadhamal commented on #39779
I have installed through Cygwin on windows 10.

Having same issue

[2018-06-18 06:57] AliBoustani commented on #16017
Hey guys,
Is there any possible way to get around this issue??
I have the same issue in a simple scenario with paramiko!

Cisco 7200
ansible 2.1.2.0
paramiko 2.4.1

The error was: paramiko.ssh_exception.SSHException: No authentication methods available!

[2018-06-18 07:32] Tsuna77 commented on #38485
Sorry for long response, I did not received an alert ...

To reproduce, set a debug message to verbosity 1 and call playbook without -v. Tasks if fully skipped.

Correct output
`PLAY [Get IP from VRA] **********************************************************************************

TASK [Gathering Facts] **********************************************************************************
ok: [loca

[2018-06-18 07:42] KKoukiou commented on #34867
@kustodian I was not aware about the `update_only` parameter. Thanks for the heads up.

@kustodian @apestov Closing the issue, since I don't see the point to change the behavior as there is simple workaround.

[2018-06-18 07:42] #34867 closed, assigned to nobody

[2018-06-18 08:04] ITD27M01 commented on #40228
@bcoca @pilou-
With --export the problem is getting worse. Variables from "windows" group have merged to "all" group:

https://github.com/ITD27M01/ansible-openstack-bug/blob/master/openstack-inventory-export.json#L7

And I still cannot work with "linux" hosts:

[code]

And I dont understand how I can use --export in openstack inventory plugin ?

[2018-06-18 08:16] EugenMayer opened #41639 "homebrew cask state upgraded upgrades all - not the one given"
# ENV

- ansible 2.5.4 (pip installed)
- MacOS High Sierra

Latest homebrew
[code]

# case
assuming you have

[code]

# Expectation
the expectation would be, that ansible will try to upgrade java8 only.

# Error
But in fact, it will upgrade all casks instead

[2018-06-18 08:29] kbreit commented on #41573
I submitted meraki_device tonight as a PR. It won’t be integrated until 2.7 at the earliest but I wanted to get the process started for you. Take a look at the documentation in the file, do you think it meets your needs?

https://github.com/ansible/ansible/pull/41631

[2018-06-18 08:53] pilou- commented on #40228
There is a group with an empty name defined L2. Variables of a group with an empty name seems to be propagated to all hosts. I guess group without name should not be allowed, an error should be raised.

This issue should be reopened, sorry for the misunderstanding.

[2018-06-18 09:04] SergeVL commented on #27960
This is a common task:
 - stop container created not by ansible (in my case by docker-compose)
 - do some work incompatible with running container
 - start container again

I don't know how attach my patch but it's simple:
`
class ContainerManager(DockerBaseClass):

...

    def present(self, state):

        container = self._get_container(self.parameters.name)

        if state == 'stopped' and

[2018-06-18 09:08] mkrsn opened #41640 "[bigip-profile-client-ssl-module] Ciphers should not have DEFAULT as default-value"
##### SUMMARY
The Module "bigip-profile-client-ssl-module" has the Parameter "ciphers" which has a default-value (DEFAULT). This is a Problem because if there is no given value, it should use the Value from the Parent-Profile instead of a default-value (as designed by F5).

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

bigip-profile-client-ssl

##### ANSIBLE VERSION

[code]

##### CONFIG

[2018-06-18 09:33] mathewfer commented on #41573
Hi,

Thanks.
I checked your link yesterday but I could not find most of those features are there. I will have look at it again soon.

If you can, please let me know the link.

[2018-06-18 09:50] rscarazz commented on #27960
On Sat, Jun 16, 2018, 10:58 SergeVL <notifications@github.com> wrote:

Maybe I'm oversimplifying here, but the problem is just that if you don't
want to pass the image parameter, the module should be able to manage the
thing without errors.
Starting from the constructor code [1] if we add a conditional to the
portion starting from line 1732 to line 1757, with a simple:

       if self.parameters.i

[2018-06-18 09:55] ITD27M01 commented on #40228
@pilou-

Empty group is generated by openstack inventory plugin, I think this should be another issue. But current issue have different nature.

My issue is about merging variables from different groups - host from "linux" have variables from "windows" and visa versa.

https://github.com/ITD27M01/ansible-openstack-bug/blob/master/openstack-inventory.json#L23

[2018-06-18 09:57] webknjaz commented on #30996
It's probably outdated, yes. @mattclay has pushed #40421 and #41169 into devel recently. And there was a tool @abadger ended up adopting in spring IIRC.

[2018-06-18 10:02] Akasurde commented on #30996
@webknjaz Thanks for the information.

[2018-06-18 10:03] #31600 closed, assigned to Akasurde

[2018-06-18 10:22] Akasurde commented on #41616
@ckurdekar Thanks for reporting this issue. Would you be interested in raising a PR with your findings and code ? needs_info

[2018-06-18 10:35] Akasurde commented on #41592
resolved_by_pr #41622

[2018-06-18 10:53] eprigorodov commented on #11544
@mkrizek Hi Martin, thank you for all the support in pushing this issue forward. The PR awaits a review from @alikins for a month. Is it possible to stop the bot from closing the issue automatically?

[2018-06-18 11:06] marekruzicka commented on #27960
Guys, one thing you are (probably) missing here is, that it is not just <image> you need to provide. You also need to provide any aditional parameters/configuration you did when starting the container... (eg, volume attachments, env variables, etc. etc.).
We need to literally re-create the cotainer again, including the entire configuration (which does not make sense in the first place, since all I

[2018-06-18 11:32] rscarazz commented on #27960
On 18/06/2018 13:07, Marek Ruzicka wrote:

Not sure I'm understanding: why you write "re-create"? If I want to stop
the container and then start it I don't want to re-create anything. Just
to control the container via the ansible module, saying to it, please
stop container X (without specifying anything else).

--
Raoul Scarazzini
rasca@redhat.com

[2018-06-18 12:04] Benoit-DunandLaisin opened #41643 "Module jenkins_plugin not python3 compatible when setting a version"
##### SUMMARY

When running a jenkins_plugin task with state=present and a version, if managed target is running with python3, then task fails with an exception.

No problem without version or with state=latest.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Local OS (running ansible): Ubuntu 16.04

[2018-06-18 12:27] biroeng commented on #30946
Thanks Akasurde , Issue get resolved thx

[2018-06-18 12:27] #30946 closed, assigned to nobody

[2018-06-18 12:50] marekruzicka commented on #27960
Yes @rscarazz, we are on the same page here :)
But the way it works now, is that when you do state: stopped, cotainer is deleted in the background and then needs to be recreated in stopped state. That is the reason you need to provide image name.

I'm just trying to remind everyone, that it is not only the image name that needs to be supplied for this to work.

To be hoesnt I didn't really paid mu

[2018-06-18 13:09] kwbr opened #41647 "apt_repository rewrites sources.list"
##### SUMMARY
I create a source.list file from a template. I use `{{ ansible_manged | comment }}` to create a comment at the start of the file. The comment filter creates comments with a trailing whitespace

[code]
Later in my playbook I add a repository with the apt_repository module. The module seems to rewrite the sources.list removing the trailing whitespace from the comment.

That leads to a

[2018-06-18 13:15] erpadmin commented on #12170
how has healthy_servers been defined?  how is it used in the workaround?  i dont see it being referenced.  I want a serial task to apply to all hosts that the playbook is being ran against.

[2018-06-18 13:37] SergeVL commented on #27960
As I check now, we have to no use ansible for this common task. Just simple python script:
`
#! /usr/bin/env python

import docker

cli = docker.from_env()

st2 = cli.containers.get('stackstorm')

st2.stop()

try:

    cli.containers.get('mongodb').exec_run('mongo st2 --eval "db.dropDatabase();"')

finally:

    st2.start()

    st2.exec_run('st2ctl reload')
`

[2018-06-18 13:41] #30996 closed, assigned to nobody

[2018-06-18 13:48] jtyr commented on #41643
Thanks for opening this issue @Benoit-DunandLaisin. I guess it's similar problem you fixed in your last PR #40591. You probably need to convert the `bytes` object back to something else to make it working with Python 3. Would you like to look into it?

[2018-06-18 13:52] jtyr commented on #41643
Oh, you already did. Next time you can create only PR and no Issue.

[2018-06-18 13:53] #41410 closed, assigned to nobody

[2018-06-18 13:54] sivel commented on #29877
@Akasurde Honestly I do not know.  But I will research it.

[2018-06-18 13:58] sivel commented on #29877
Ok, we don't need this any longer.

We should already be tracking this via the following errors:

[code]

New validate-modules checks implemented in https://github.com/ansible/ansible/pull/37741

[2018-06-18 13:58] #29877 closed, assigned to sivel

[2018-06-18 14:05] hron84 commented on #5356
@satyan6891 please fence multi-line codes with three backticks to improve readability. Thanks.

[2018-06-18 14:08] #37087 closed, assigned to Akasurde

[2018-06-18 14:27] #40180 closed, assigned to nobody

[2018-06-18 14:27] #41212 closed, assigned to nobody

[2018-06-18 14:34] caphrim007 commented on #41640
I agree, and will change this

[2018-06-18 14:46] thallal commented on #40972
Updating to 2.5.4 fixed this issue. Cheers!

[2018-06-18 14:46] #40972 closed, assigned to nobody

[2018-06-18 14:48] tandrieu opened #41651 "Error associating VNI to VTEP"
##### SUMMARY
When trying to associate a VNI to a VTEP, an error is displayed

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep_vni

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OS X high sierra (10.13.5)
Target network hardware firmware : NXOS v 7.0(3)I7(2)

##### STEPS TO REPRODUCE

Task
[code]

Vars
[code]

##### EXPECTED RESULTS
Expec

[2018-06-18 15:04] bcoca commented on #41540
@apogrebnyak  done https://github.com/ansible/ansible/pull/39236

The reason we migrated from `include` is that 'it worked sometimes' and there were no clear rules to show user having a 'static include' (now the import_) vs a dynamic include (the new include_X).

So the new actions are meant to give predictable and known working paths and with the latest addition should cover all the use cases `in

[2018-06-18 15:07] Benoit-DunandLaisin commented on #41643
@jtyr: Noted: Issue not needed if I PR is ready.

[2018-06-18 15:10] #27520 closed, assigned to nobody

[2018-06-18 15:19] daBONDi commented on #40014
- Ensure that you can lookup the fqdn of the w2k16 server on the host you run the ansible command.
- Ensure that a SPN for HOST/\<FQDN> exists for the Windows Server 2016 Computer Account
- Ensure WinRM is Setup correctly(Check the Ansible Docs for it, and test it with Powershell remotly)

__This is not an ansible error, you got some problem with kerberos on the specific win2k16 machine__

Are the

[2018-06-18 15:56] #40163 closed, assigned to nobody

[2018-06-18 15:57] kbreit commented on #41573
I'd suggest taking a look at my integration tests for the meraki_device module.

https://github.com/kbreit/ansible/blob/meraki/meraki_device/test/integration/targets/meraki_device/tasks/main.yml

[2018-06-18 15:58] bcoca commented on #41285
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The failed_when keyword deals with task status, in this case you have a host/connection error as the auth{oriza|entica}tion was wrong,

[2018-06-18 15:58] #41285 closed, assigned to nobody

[2018-06-18 16:09] DanSheps opened #41657 "ios_l2_interface throws NoneType error on IOS-XE Everest"
##### SUMMARY
When editing a access/trunk port channel with Everest the ios_l2_interface throws a error with NoneType has not attribute group.  This is due to the fact that for some reason the port-channel reports unassigned.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_l2_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = Tru

[2018-06-18 16:09] DanSheps commented on #41657
Additional Details:

[code]

[2018-06-18 16:12] samdoran commented on #40696
I verified that the shadow file is backed up to `shadow-` by the underlying tools, making this feature redundant:

[code]

I did implement this feature in [this branch](https://github.com/samdoran/ansible/commit/ecf4146293534d89f52bc31cae0d3af357c97b75), but I don't feel like it's needed for the reason @bcoca mentioned.

needs_info

[2018-06-18 16:55] Akasurde commented on #33331
@jainnikhil30 Thanks for reporting this issue. The [file](https://docs.ansible.com/ansible/latest/modules/file_module.html) module can be used to set permission and ownership of a file. So I think this is duplicate efforts.

Thanks for the feature request.

[2018-06-18 16:57] samdoran commented on #29914
@kustodian We recently added the ability to ignore missing files to lookups in #35392. If this feature it added, it should be to the `file` properties (not sure that's the correct term) that can be used by several modules, not just this individual module.

This is probably something that should be discussed during an IRC meeting to determine if we want this before you go through the work of implem

[2018-06-18 16:59] mickaelperrin commented on #19115
@sivel unfortunately, for my test case, this doesn't work either.

I have the same output  when using `include_tasks`.

[code]

[2018-06-18 17:03] BradFelmey commented on #31504
Behavior observable in Ansible 2.5.3.

[2018-06-18 17:30] sivel commented on #19115
@mickaelperrin your issue is different from the one described here.

What you are encountering is expected, and explained at https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

A tag applied to a dynamic include only affects the include, and is not inherited by the tasks within.

[2018-06-18 17:48] kwbr opened #41660 "apt_key: apt-key command deprecated, manage keys in /etc/apt/trusted.gpg.d/ directly"
Debian seems to fade out the use of the apt-key command.

See the apt-key man page:

_Note: Instead of using this command a keyring should be placed directly in the /etc/apt/trusted.gpg.d/ directory with a descriptive name and either "gpg" or "asc" as file extension._

Or a bug report like this:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858238

[2018-06-18 17:57] mickaelperrin commented on #19115
@sivel Thanks for taking time to answer me and to point me in the right direction.

[2018-06-18 18:27] Rkihtrak opened #41661 "Ansible-Tower 3.2.5 Ambiguous Error Message"
##### SUMMARY

When running Ansible Tower Version 3.2.5 with a trial license, an ambiguous and non-qualified Error message appears when an OpenStack environment has more than 10 instances. After downgrading to version 3.1.5, the error output indicates that the trial license only allows up to 10 hosts.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible Tower 3.2.5
##### ANSIBLE VERSION

[2018-06-18 18:35] sivel commented on #41635
Duplicate of https://github.com/ansible/ansible/issues/37579

[2018-06-18 18:35] #41635 closed, assigned to nobody

[2018-06-18 18:36] Rkihtrak commented on #41661
!component

[2018-06-18 18:38] sivel commented on #41613
Duplicate of https://github.com/ansible/ansible/issues/41371

[2018-06-18 18:38] #41613 closed, assigned to nobody

[2018-06-18 18:41] sivel commented on #41661
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker.

This issue tracker is for the open source Ansible project.  Please utilize https://access.redhat.com/products/ansible-tower-red-hat to open a new support case

[2018-06-18 18:41] #41661 closed, assigned to nobody

[2018-06-18 19:07] spectralsun commented on #33699
This happened to me after my internet connect dropped while running a playbook.

I fixed it by running:

    ps aux | grep ansible

And killing all the processes that ended in `[mux]`.

[2018-06-18 19:48] drue commented on #41535
@mkrizek why would you remove the triage label for this bug if you haven't triaged it?

[2018-06-18 19:51] samdoran commented on #15127
I am unable to duplicate this issue using a Debian 8 AMI `debian-jessie-amd64-hvm-2017-01-15-1221-ebs-39d3917e-ff4e-4597-848e-4d0fdf8529e6-ami-b14ba7a7.4 (ami-cb4b94dd)` with Ansible 2.4.2.0 or `devel`.

[code]

[code]

I had to modify the regexp slightly to get it to match. I also had to add the line to `/etc/sudoers` as it was not present on a newly created instance.

[code]

[code]

needs_info

[2018-06-18 19:55] fabianvf commented on #41585
This should be fixed in the `k8s` module coming in Ansible 2.6 (`k8s_raw` and `openshift_raw` will both now execute the `k8s` module so existing code should still work fine).

[2018-06-18 20:04] s-hertel commented on #41279
Is there something #41280 didn't fix? I can't replicate this with other plugins on devel, 2.5, or 2.6. It finds the config value for required options, whether I set the option with environment vars, ansible.cfg, or in the inventory config file. It seems like this specific bug is specifically `scopes` being documented and required but not used in the plugin, is that right?

[2018-06-18 20:08] rambleraptor commented on #41279
I've only seen the bug in relation to #41280. I assumed that it would've been seen elsewhere in the codebase, since it was an issue with the documentation parsing. Even if I added in `scopes` into a plugin yaml, the value wouldn't have been picked up.

If this bug was limited to #41280, then feel free to close this out!

[2018-06-18 20:10] hryamzik commented on #12170
@erpadmin why don't you use `play_hosts` in this case?

[2018-06-18 20:13] mkrizek commented on #41535
@drue I am pretty sure I did triage the issue. Triaging issues/PRs in this context means ensuring issue/PR template was filled properly (provides all needed information), checking if ansibot added correct labels, ansibot cc'ed maintainers of Ansible subsystem relevant to the issue/PR, etc.

You might want to try asking about your issue on freenode irc on #ansible-aws .

Hope that helps, thanks!

[2018-06-18 20:14] mkrizek commented on #41535
cc @s-hertel

[2018-06-18 20:16] 2code4ever opened #41668 "lookup error handling not working as expected"
##### SUMMARY

Using errors='ignore' in a lookup does not seem to prevent the task from failing

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[WARNING]: Unable to find '/tmp/foo' in expected paths

[2018-06-18 20:17] samdoran commented on #30165
#28420 added the ability to modify local users as of Ansible 2.4.0. The underlying tools, `usermod`, `useradd`, etc., should be aware of directory accounts and behave appropriately.

It may also be that this should be handled by a `groups` module since the `user` module assumes you want to create an account at a minimum.

If this is still an issue with recent versions of Ansible, please open a new

[2018-06-18 20:17] #30165 closed, assigned to nobody

[2018-06-18 20:40] #30179 closed, assigned to nobody

[2018-06-18 20:46] sivel commented on #41668
This functionality was added in https://github.com/ansible/ansible/pull/35932 and will be included in the upcoming 2.6 release.

Per your version output, you are running 2.5.3 which does not contain this functionality.

[2018-06-18 20:46] #41668 closed, assigned to nobody

[2018-06-18 20:47] tedleyem opened #41670 "Run commands as root with 2FA"
##### SUMMARY
I have found a way to bypass the user ansible on my ansible central machine to pass commands to multiple servers as the ansible user without having to use the DUO authentication that is setup in my work environment. However, when trying to run a playbook and become root or use the -b flag to become root

##### ISSUE TYPE
 - Setting up 2 Form Authentication in Ansible to pass commands

[2018-06-18 21:00] samdoran commented on #23439
@gaddman This seems like a reasonable feature to add. Please submit a PR and I'll review it.

[2018-06-18 21:05] samdoran commented on #30445
Related to #23944.

We most likely need to add a class for Alpine Linux.

[2018-06-18 21:05] samdoran commented on #23944
Related to #30445.

We most likely need to add a class for Alpine Linux.

[2018-06-18 21:26] #41263 closed, assigned to nobody

[2018-06-18 22:02] bcoca commented on #24295
@Yajo I still cannot reproduce a connection problem with the `meta` task,  are you sure it is not another task in the middle?

needs_info

[2018-06-18 22:21] ericwb commented on #40696
I believe the SunOS support in user.py still does not make a backup copy of /etc/shadow and still edits the file directly (not via a CLI).  So this issue is still valid for that OS.

[2018-06-18 23:06] #41640 closed, assigned to caphrim007

[2018-06-19 00:56] ansiblejunky commented on #41178
Yes, the `yum_repository` module should handle this similarly to how the `rhsm_repository' module handles it.

The `rhsm_repository' module allows for this simple way to disable all repos:
[code]

Therefore, the `yum_repository` module should allow for the following, without user having to know about files or repo ID or anything else really. The user is simply trying to disable all repos managed b

[2018-06-19 01:32] Fred-sun commented on #41454
Hi @cpatte7372 ， Does your question has been fixed , if not, please let me know, and describe what happened.Thanks a lot!

[2018-06-19 01:40] willthames opened #41674 "Documentation link when using top-level var is confusing"
##### SUMMARY
When using a top-level task variable, the documentation link is not at all helpful.

See #30447 for a similarly resulting issue caused by confusion where the underlying cause was identified but the problem with the confusing documentation was not.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMEN

[2018-06-19 01:43] shkkmo opened #41675 "Jinja2 Scoped Blocks doesn't work with roles with default variables"
##### SUMMARY

There may be two seperate issues here, but they may also be dependent. (and the first one may be caused by jinja2's behavior)

1) Using the a scoped jinja2 block causes all/many ansible variables to be evaluated, even if they are not used in the block or any template.

2) When a scoped jinja2 block does this, vars included by a role using 'include_vars' are evaluated but vars define

[2018-06-19 01:45] mitchellmaler commented on #41290
Any help with this? This is causing me issues from deploying servers in openstack.

[2018-06-19 02:02] mitchellmaler commented on #41290
I figured it out by digging a bit. It seems to be an issue with the version of OpenStack I am connecting too. I had to set the environment variable OS_IMAGE_API_VERSION to 1 which then allowed it to find my image.

[2018-06-19 02:02] #41290 closed, assigned to nobody

[2018-06-19 02:05] tmeralus commented on #41670
SUMMARY
I have found a way to bypass the user ansible on my ansible central machine to pass commands to multiple servers as the ansible user without having to use the DUO authentication that is setup in my work environment. However, when trying to run a playbook and become root or use the -b flag to become root

ISSUE TYPE
Setting up 2 Form Authentication in Ansible to pass commands and playbooks

[2018-06-19 07:21] cpatte7372 commented on #41454
This question has been resolved. The problem was the key (from key value pairs) needed to be in lower case instead of upper case.

Thanks

[2018-06-19 07:21] #41454 closed, assigned to nobody

[2018-06-19 07:31] Jorge-Rodriguez commented on #17582
@bcoca @jimi-c It seems this issue shows up again in Ansible 2.5.2

[2018-06-19 07:44] yoni1971 opened #41676 "Tags are not working in include tasks"
##### SUMMARY
Tag not working if i have include tasks in main yml under a role

##### ISSUE TYPE
- Not sure

##### COMPONENT NAME
tags in task that is included

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
Linux yony-e7450 4.15.0-22-generic #24~16.04.1-Ubuntu SMP Fri May 18 09:46:31 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

there is

[2018-06-19 08:23] ghost opened #41679 "azure_rm_publicip_facts - no action detected in task"
##### SUMMARY

Error in azure_rm_publicip_facts task - no action detected in task.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

List of public IP address dicts.

##### ACTUAL RESULTS

[code]

[2018-06-19 08:31] Akasurde commented on #33676
resolved_by_pr #41677

[2018-06-19 08:44] #41461 closed, assigned to ganeshrn

[2018-06-19 08:59] Akasurde commented on #33975
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-06-19 08:59] #33975 closed, assigned to nobody

[2018-06-19 09:22] jniewt commented on #35645
I've got similar problem with ansible 2.5.4 but only when unarchive is used with local_action.

[2018-06-19 09:44] Tehsmash opened #41684 "Ansible facts override special variables"
##### SUMMARY
Certain scenarios can result in internal ansible facts being overridden, this was originally fixed in v2.4.x however this bug (previously reported: https://github.com/ansible/ansible/issues/16935) has been reintroduced on version 2.5.0+ and still exists on the devel branch.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gather_facts

##### ANSIBLE VERSION

[code]

##### CONFI

[2018-06-19 09:47] Tehsmash commented on #41684
I have resolve this locally by making this change:

[code]

However I'm ensure if this logic should move to a more common location for example:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/__init__.py#L606

[2018-06-19 09:49] BarresB commented on #41541
oke, I found some new information. I was looking the moment that the time-out triggered and looking at the lock command and wondering what it excatly did. So i looked at the RFC: https://tools.ietf.org/html/rfc6241#page-44
And of course there is an example of the locking feature of NETCONF. So I tried it directly with the following result:

EXAMPLE:
[code]
OUTPUT:
[code]
I think it is save to say

[2018-06-19 11:04] gdpak commented on #40919
issue has been fixed in ansible release 2.6.0rc3 and onwards.

[2018-06-19 11:04] #40919 closed, assigned to gdpak

[2018-06-19 12:32] orgito opened #41687 "add an option for tower_host to merge variables instead of replacing"
##### SUMMARY

I want to use the `tower_host` module to add/replace one specific variable of an existing host in tower.  Currently the module will remove all existing variables from the host leaving only the variable specified in the task.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
tower_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Hos

[2018-06-19 13:17] 2code4ever commented on #41668
Many thanks for the quick reply.  In this case, the documentation seems inaccurate:

https://docs.ansible.com/ansible/2.5/plugins/lookup.html

Best regards

[2018-06-19 13:23] #13179 closed, assigned to nobody

[2018-06-19 13:38] bcoca commented on #13179
Ironically, i think i've solved all remaining issues here https://github.com/ansible/ansible/pull/38861

[2018-06-19 13:51] ChristopherJHart commented on #25916
I am encountering this same issue on a Nexus 7000 running Ansible 2.5.3.

[code]

My Ansible playbook is as follows:

[code]

I have changed my ansible.cfg with the above timeout values recommended and still encounter the issue. Debug output is below:

[code]

Even though Ansible states that all commands executed successfully, the output from the `show module` command is not displayed, as the abov

[2018-06-19 13:53] amenonsen commented on #13179
That's great to hear. I had not noticed that PR before. I only skimmed it briefly now, but it certainly looks like a promising direction to go in.

[code]

Thanks for working on this.

[2018-06-19 14:01] sivel commented on #41668
It appears this has been corrected, but docs have not bee rebuilt yet: https://github.com/ansible/ansible/commit/5cf1a5edfd0

[2018-06-19 14:28] AlanCoding commented on #41687
I would consider this first as a feature in tower-cli, and then update the tower modules to use that call pattern (which possibly some version detection). The approach should be the same as:

https://github.com/ansible/tower-cli/pull/552

That was done to solve a slightly different problem, but it handles the variable merging behavior at the correct point. The tower-cli library already does a prel

[2018-06-19 14:32] riglersc opened #41692 "YAML Inventory Parsing Issue"
##### SUMMARY
In Ansible 2.6 RC3 we are seeing an issue where the YAML inventory parser is not correctly identifying groups.  Eg, for this inventory file:
[code]
Running "ansible group1 --list-hosts" complains about "group2":
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708

[2018-06-19 14:47] sivel commented on #41675
This appears to be a bug in jinja2 2.8, and is resolved in jinja2 2.9 as part of https://github.com/pallets/jinja/commit/1205e641ed9d1c4eb581b50ab3cc5313b9950773

You will need to upgrade to a newer version of jinja2 to resolve your issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2018-06-19 14:47] #41675 closed, assigned to nobody

[2018-06-19 14:48] 1efty opened #41696 "vars lookup disregards default option"
##### SUMMARY

The `default` option for the `vars` lookup is being overlooked.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vars lookup

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

An empty string printed to stdout.

##### ACTUAL RESULTS

[code]

#### Details

Looks like the option is being overlooked here in `set_options` of `AnsiblePlugin` c

[2018-06-19 15:00] fantashley commented on #41477
Just to add more data points - after upgrading Ansible from 2.4 to 2.5, I had this issue on RHEL 7.3 and an upgrade to RHEL 7.4 fixed it. I was told on one of my pull request threads that Ansible is only supported on the latest minor release of RHEL, so I don't know that we can expect a resolution for this pull request.

[2018-06-19 15:02] maxamillion commented on #41684
@Tehsmash the code change you provided seems like a sane fix, if you'd like to open a pull request I'll review ... or I can open the PR and credit you in the commit message. Either way, thank you! :)

[2018-06-19 15:03] cukal commented on #25265
Ran into this problem in 2.5.5

[2018-06-19 15:04] maxamillion commented on #41676
cc @sivel

[2018-06-19 15:31] sivel commented on #41676
The situation around tags and includes in 2.4.x isn't sufficient to handle your scenario.

The changes to 2.5.x will allow you to do what you need, but will require some changes to your tasks and to understand some differences in tag handling.

In 2.5.x, any tag that you apply to `include_tasks` only applies to the `include_tasks`, and is not inherited by the tasks within.

So your `all_role1` tag

[2018-06-19 15:31] #41676 closed, assigned to nobody

[2018-06-19 15:34] Akasurde commented on #37787
Reproducer - https://github.com/Akasurde/ansible-reproducers/tree/master/37787

[2018-06-19 15:39] bcoca commented on #41692
with patch from PR above I now get:
[code]

[2018-06-19 15:55] maxamillion commented on #41675
cc @bcoca

[2018-06-19 15:57] riglersc commented on #41692
@bcoca I applied the patch and it works as advertised.  Thanks for the quick fix!

[2018-06-19 15:58] maxamillion commented on #41674
!component =lib/ansible/modules/packaging/os/apt_key.py

[2018-06-19 15:58] maxamillion commented on #41660
!component =lib/ansible/modules/packaging/os/apt_key.py

[2018-06-19 16:00] maxamillion commented on #41670
Typically speaking Ansible doesn't really support 2fa. It is a complexity we aren't solving for. It is considered to be the users responsibility to figure out a configuration that allows their 2fa config to work with in a "batch" manner, Ansible assumes responsibility once the ssh connection can be made.

[2018-06-19 16:00] #41670 closed, assigned to nobody

[2018-06-19 16:26] Zulzig opened #41701 "ios_interface, enabled True and state up don't do the not shutdown on the interface."
##### SUMMARY

- When i set the two followings parameters on a interface, it stays administratively down.

[code]
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ProductName:	Mac OS X
ProductVersion:	10.13.5
BuildVersion:	17F77
MacBook-Pro-de-Lovasoa:ansible-vrf-draft lrazaka$

##### STEPS TO REP

[2018-06-19 16:41] Zulzig commented on #41701
2.5 is affected too

[2018-06-19 16:43] guillemsola commented on #41003
@jtoddmatt I suggest the workaround

1. start VM from portal/powershell
2. power off with Ansible

After this you should be able to start them back with Ansible.

[2018-06-19 16:52] maxamillion commented on #41639
!component =lib/ansible/modules/packaging/os/homebrew_cask.py

[2018-06-19 16:52] maxamillion commented on #41639
@EugenMayer in the future, please do fill out the template

[2018-06-19 17:09] azhurbilo commented on #16051
@mkrizek right, it's fixed!
checked in `2.4.3.0`

[2018-06-19 17:10] gdpak commented on #39832
@bcharboneauiherb looks like we are failing at very early stage of ssh connection. Ansible debugs might not be sufficient to get more info on this. So below is basic script which will start raw ssh session and will put all protocol exchange debug in a file 'ssh_logs.txt' in current working directory.

script - https://raw.githubusercontent.com/gdpak/ansible-utils/master/ssh_script.py

sample run
[

[2018-06-19 17:11] #16051 closed, assigned to jimi-c

[2018-06-19 18:06] chakachim opened #41704 "nxos_ospf_vrf passive interface functionality not complete"
##### SUMMARY
When using the passive-interface field under nxos_ospf_vrf it only removes the passive interfaces command if it exists already. There are instances where passive interfaces is defined as a global parameter on the switch and interfaces need to be excluded.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nxos_ospf_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### O

[2018-06-19 18:33] derek-linke opened #41705 "bigip_gtm_pool: When entering a string value with a colon for the "virtual_server" parameter, the module does not process the full string but returns the value after the colon."
##### SUMMARY
bigip_gtm_pool: When entering a string value with a colon for the "virtual_server" parameter, the module does not process the full string but returns the value after the colon.

Example:
 members:
    - server: "GTM_BIG-IP Server 1"
      virtual_server: "lotoc0216lab:www.mycoolapp-mtl.localhost_https_443_virtual"

The virtual server name returned is www.mycoolapp-mtl.localhost_https

[2018-06-19 18:39] s-hertel commented on #41291
Fixed for 2.7 by #41685 and #41689

[2018-06-19 18:39] #41291 closed, assigned to nobody

[2018-06-19 18:56] caphrim007 commented on #41705
@derek-linke specify the full path to the virtual. /Common/....

Additionally, make sure you have the absolute latest version of the SDK

[2018-06-19 19:09] orenwolf commented on #34335
Can confirm this happens if the directory is active and updated by multiple processes, likely leading to a race condition where files are written in after rmtree stats the files to delete but actually deletes them.

[2018-06-19 19:41] daBONDi commented on #40690
Are these User Profiles? And you want to ensure Ownership for the Userprofile like you need for "Roaming Profile" Setup?

Maybe the Problem are the Long File Path > 256 or Folders/File Handels are open?

If these are Profile dirs without Folder Redirections, than i think the Problems are the Softlinks for other Languages, you have a other OS Native Language then en-EN?

[2018-06-19 19:45] #36037 closed, assigned to nobody

[2018-06-19 20:15] maxamillion commented on #41595
ping @bcoca, @jimi-c

[2018-06-19 20:17] samdoran commented on #36394
This seems to be more of an issue with `luseradd`, `lusermod`, and `luserdel` used with FreeIPA. Can anyone with access to an system managed by FreeIPA try manually running `luseradd` then `luserdel` to see what is the behavior?

needs_info

[2018-06-19 21:01] maxamillion commented on #41696
This is odd ... `ansible -m debug -a msg="{{ lookup('vars', 'foobar', default='') }}" -c local localhost` works in Ansible `v2.5.5` but doesn't work in current `stable-2.6` (which we just cut RC3 of).

Here's the only change to that lookup plugin:
[code]

[2018-06-19 21:03] maxamillion commented on #41696
Oh ha, nevermind. I was looking at the wrong code because the bot identified .... nvm. :)

[2018-06-19 21:04] sivel commented on #41696
It seems this was bad behavior was introduced in 6e7bdb04eef88c13f67bcf6468e81dc825c66482

[2018-06-19 21:08] sivel commented on #41595
This is the expected outcome.  `run_once` does not indicate that a particular task will ever only run 1 time.

The goal with `run_once`  is to only run the task on 1 host per serial batch.

Because you have called the same role 2 times, the tasks are copied and become 2 unique tasks.

If you only want the role to run 1 time, look into using `allow_duplicates: no`

If you have further questions ple

[2018-06-19 21:08] #41595 closed, assigned to nobody

[2018-06-19 21:15] samdoran commented on #21563
I am able to duplicate this. It is happening pretty much exactly because of the reasons @0rex gave: we favor doing everything in UTC, née GMT, because it prevents daylight savings or varying local timezones of managed nodes from complicating things too much.

I agree this is rather confusing and would like to make it better. Dealing with epoch times is a bit of a hassle.

The easiest way to solve

[2018-06-19 21:47] avishefi opened #41713 "win_reboot stuck in loop while executing test_command due to second reboot"
##### SUMMARY

The `win_reboot` action plugin enters to an infinite loop when executing the `test_command` due to unidentified second reboot happening after the `test_command` execution loop begins.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5 (Maipo)

##### STEPS TO REPRODUCE

Instal

[2018-06-19 22:42] dbolotin opened #41714 "Add aux_address option to docker_network module"
##### SUMMARY
No way to pass --aux-address option in docker_network module

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### EXPECTED RESULTS
Having a way to specify `--aux-address` options, e.g.:
[code]

[2018-06-19 22:53] xiaods commented on #21433
any update?

[2018-06-19 23:27] maxamillion commented on #41696
cc @bcoca

[2018-06-19 23:53] osayers opened #41715 "Boolean Variable defined in Inventory file Not picked up by Ansible"
##### SUMMARY
Boolean variable set in inventory file is not picked up during ansible run ("variable undefined"). The variable was defined and executed perfectly in playbook  in ansible-2.2.1 but ceased working after upgrade to ansible-2.5.3+

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook run does not parse boolean variable in inventory file

##### ANSIBLE VERSION
 ansible

[2018-06-20 00:22] lae commented on #40696
Okay, that's weird - I forget exactly where I had the issue where `shadow` wasn't backed up to `shadow-` (prompting me to open this issue), but I think it was a set of Ubuntu 14 hosts. I'll try checking on the weekend.

[2018-06-20 01:38] liu-sheng commented on #41384
Hi @emonty ,

Ｉhave submitted PR for integrating ansible+openstacksdk/shade testing jobs with OpenLab CI, please see:
https://github.com/theopenlab/openlab-zuul-jobs/pull/245
Currently, it supports ansible-devel+openstacksdk, ansible-2.6+openstacksdk, ansible-2.5+shade. it is easy to extend the other versions of ansible and openstack support.

I have tested those jobs ok in an experimental ci envi

[2018-06-20 02:12] dustinblack opened #41717 "pause play fails with exception when output is redirected"
##### SUMMARY
When the 'pause' module is used in a playbook and the ansible-playbook stdout is redirected, the play will fail with an exception. This is causing scripts that call the playbook to fail, but can be reproduced interactively.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

####

[2018-06-20 02:13] dustinblack commented on #41717
This did not occur with 2.5.3, but occurs with both 2.5.4 and 2.5.5

[2018-06-20 03:46] Akasurde commented on #36394
@samdoran Here is output of `luserdel` and `luseradd` on my FreeIPA server. Let me know if you need anything else -

[code]

[2018-06-20 04:40] #38830 closed, assigned to nobody

[2018-06-20 05:06] jhawkesworth commented on #41713
Just wondering if you can perhaps work around this strange double-reboot-required situation  using a `post_reboot_delay` (see https://docs.ansible.com/ansible/latest/modules/win_reboot_module.html )  to get you past the point where the second reboot has started, then use `wait_for_connection` ( see https://docs.ansible.com/ansible/latest/modules/wait_for_connection_module.html ) to poll until winr

[2018-06-20 05:37] divyangjp commented on #29776
Happening with 2.5.1 as well. `backrefs: yes` worked but that's kinda weird!

[2018-06-20 06:06] Deepakkothandan commented on #41168
!component=lib/ansible/modules/cloud/amazon/ec2_lc.py

[2018-06-20 06:29] #33676 closed, assigned to Akasurde

[2018-06-20 06:35] szweiw commented on #28225
update to 2.5.3-1.el6 this bug is fixed.

[2018-06-20 06:55] hargut commented on #28225
afaik, the above issue had been fixed already in 2.4.2.

[2018-06-20 07:36] wilvk commented on #41168
cc @willthames

[2018-06-20 07:39] #41299 closed, assigned to kbreit

[2018-06-20 07:40] #41591 closed, assigned to nobody

[2018-06-20 07:41] #41296 closed, assigned to kbreit

[2018-06-20 08:43] macwinnie commented on #31377
Hi =)
is someone working on that issue? I ran into it with datacontainers that should stay persistent ... what they don't :/
Thanks for a short update =)
Cheers,
Martin

[2018-06-20 08:49] alex-left commented on #17935
I have the same error. I've tried disabling pipelining without success.
But, only happens to me with ansible 2.5.3 and python3. I have another installation with python2 and ansible 2.4 and works fine.
[code]
Other curious fact is only happen with a specific task using the template module. previously tasks works fine.  Since the first succeded execution with ansible 2.4, other executions of ansible

[2018-06-20 09:21] judyQD commented on #40058
Hi, I met a question when using vmware_guest_file_operate.  Below is the error result.
fatal: [127.0.0.1 -> localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "cluster": null,
            "copy": {
                "dest": "/root/a.txt",
                "overwrite": true,
                "src": "/root/judy/judy_vcenter/a.txt"
            },

[2018-06-20 09:30] zasca commented on #14270
[code]
play.yml:
[code]
handlers/main.yml:
[code]

[2018-06-20 09:52] Fred-sun commented on #41679
Hi @adamsem ， I have tried your YML, execute successfully , Could you try again , if fail, please tell us your test environment and your YML file(all) .

[2018-06-20 09:57] #41485 closed, assigned to nobody

[2018-06-20 10:10] kivilahtio commented on #27351
This bug is biting me as well.

[2018-06-20 10:18] avishefi commented on #41713
Yes, that's a possible workaround. I don't like it as it depends on race conditions - how much time is enough depends on load, amount of updates, machine resources, etc.

I will submit a pull request to reset the connection on the test command the same way it is done on the check uptime cycle. I tested it several times and looks like it solves the problem.

[2018-06-20 10:32] #41439 closed, assigned to gdpak

[2018-06-20 10:41] judyQD opened #41721 "use vmware_guest_file_operation module to copy localhost file to VM without network, the copy doesn't work."
##### SUMMARY

Use vmware_guest_file_operation module to copy localhost file to VM without network, with error:
initiateFileTransferToGuest : problem during file transfer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = root
HOST_KEY_CHECKING(/etc/ansible/ansible.c

[2018-06-20 11:04] justjais commented on #41165
@DanCool Thank you for your observation but I am unable to reproduce the intermittent behavior in ansible 2.4, can you please re-verify the same in ansible 2.5 or later version if you are still facing the respective issue.

[2018-06-20 11:08] akhilputhiry opened #41727 "Unable to run ansible playbook inside docker container"
I need to run ansible playbook as part of my CI-CD pipeline.
The playbook is working fine from local machine. But when I run it inside docker container via CI-CD pipline in gitlab, if fails with the following error. I tried running in my local machine also using docker, there also it fails.
[code]

The image I use in the pipeline is built using the following Dockerfile

[code]

##### ANSIBLE VERSI

[2018-06-20 11:09] mohdumar321 commented on #40226
@Akasurde

I have created a pull request. VMware Module to perform operations on VNIC #41726.

Created a module for performing operations on VNIC's and tested as well.

Review It.

[2018-06-20 11:37] stravassac commented on #40058
@judyQD run ansible-playbook in verbose mode -v

[2018-06-20 11:39] the1bit opened #41728 "NIC creation does not work with VNet in different resource group - Ansible 2.5.5"
##### SUMMARY
I would like to create VM in Azure with Ansible 2.5.5. According to my playbooks the Virtual Network is in different resource group than the VM. When I start to create the NIC I am facing the following error:
[code]

The followings also don't work:
Subnet config 1:

[code]

Subnet config 2:

[code]

##### ISSUE TYPE
 - Bug Report
 - Support request

##### COMPONENT NAME
azure_rm_netw

[2018-06-20 11:40] stravassac commented on #41721
@judyQD run it in verbose mode

[2018-06-20 11:49] the1bit commented on #40648
It works in Ansible 2.5.5. :-)
Thank you for your support.

[2018-06-20 12:32] infrascripting commented on #41448
@caphrim007 should I open an issue over at https://github.com/F5Networks/f5-ansible?

[2018-06-20 13:52] devopsian opened #41730 "bigip_virtual_server module not working on 2.5.4"
##### SUMMARY

bigip_virtual_server module will not put servers into enabled state.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_virtual_server module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change
##### OS / ENVIRONMENT

Centos 7
f5-sdk-3.0.15
f5-icontrol-rest-1.3.8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Virtual server provisioned in enabled sta

[2018-06-20 14:00] goferito commented on #14022
@Akhiles7 use raw instead of shell (`raw: "sudo systemctl restart wtf-service"`)
Then you can just have your sudoers with that one command.

[2018-06-20 14:01] s-hertel commented on #41279
Thanks @rambleraptor. Looks like this was the same bug as https://github.com/ansible/ansible/issues/40100, fixed on devel in cbedbd3c9c81908cc1ac6d7aa835bb9110fabb17 and backported to stable-2.6 in 6e7bdb04eef88c13f67bcf6468e81dc825c66482.

[2018-06-20 14:01] #41279 closed, assigned to nobody

[2018-06-20 14:05] caphrim007 commented on #41730
@devopsian does the same occur in the current Ansible 2.6 code, or development, code?

[2018-06-20 14:07] caphrim007 commented on #41448
@infrascripting does the same happen in the Ansible stable 2.6 or development code?

No need to open a duplicate issue over there. I'll open it on your behalf as needed. If you want to open future issues there, that's fine

[2018-06-20 14:08] dustinblack commented on #41717
Testing confirms that this regression was introduced with 1c20029694b647c90612b5116bb619d806bf2aae

[2018-06-20 14:32] tmeralus commented on #41670
so, will there ever by 2fa support for ansible?

[2018-06-20 14:37] orgito commented on #41687
So, the idea would be something like:
[code]
Possibly with multiple `--subinput` if there are multiple variables. Then we could change the ansible module to have a parameter to toggle subinput use.

Any idea when will that land in tower-cli?

[2018-06-20 14:40] maxamillion commented on #17935
@alex-left I'm curious about the differences you're seeing with python2 + ansible 2.4 vs python3 + ansible 2.5.3, are those running on the same OS/distro and with the same versions of openssh?

[2018-06-20 14:47] BarresB opened #41736 "[VMware_guest] Error with OS_customization when not trying to."
##### SUMMARY
When executing the playbook I get an error that I can't customise the OS. That's is correct, but looking at the playbook i'm not trying to.

I wouldn't mind so much, but the machine isn't running after the playbook. I can work around that by an extra task that only powers on the machine. But I don't want that, plus the message that it has failed is unwanted of course.

##### ISSUE TY

[2018-06-20 14:55] gamuniz opened #41737 "File module fails to add immutable attribute on RHEL 6 systems"
##### SUMMARY
Running the file module against RHEL 6 remote hosts adding the immutable fails with
`
Error while setting attributes: /usr/bin/chattr: Clearing extent flag not supported on`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

File module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

Controller: RHEL 7
Managed: RH

[2018-06-20 14:59] pierreant-p commented on #40724
Same here :(

[2018-06-20 15:00] JPvRiel opened #41738 "firewalld module does not permanently set an interface zone on CentOS / RedHat due to upstream bugs"
##### SUMMARY

As per [NetworkManager and firewalld - Zone is lost on network restart](https://access.redhat.com/discussions/1455033), this ansible firewalld module is unable to persist zone settings for interfaces. This can be enhanced/compensated for by also running a `nmcli connection modify conn_name connection.zone zone_name` command if the interface is managed by network managed. Unfortunate

[2018-06-20 15:09] Qalthos commented on #41412
So the issue here is one of the caveats of network_cli... the connection is tarted in a separate process, and so tries to connect immediately without guidance from the playbook as to whether it is needed or not.

The reason this works with `connection: local` is that all the connection details are handled in the action plugins (which only applies to those modules), rather than at the beginning of

[2018-06-20 15:09] AlanCoding commented on #41687
This is such a high-impact detail across all the resources in AWX that I want to get it right. I would probably call it something different in this case, it might look like:

[code]

Then if we do it like this, the call pattern from python would look like:

[code]

We might be able to have `--variable` as a CLI alias but have `variables` as the function keyword argument. That would probably be ide

[2018-06-20 15:26] #41692 closed, assigned to nobody

[2018-06-20 15:29] JrodJ commented on #38769
It appears that the if statement in validate_params in lambda_policy.py evaluates the name of the function in the reverse order of what it should.  In pulling latest dev version, I still see this code is incorrect.  Trying to reopen this case.

[2018-06-20 15:37] ephesused commented on #41340
Based on a run just now against 2.6.0rc3, the failure from the testcase here is resolved. Thanks!

[2018-06-20 15:49] mbuiro commented on #40949
+1 to this

[2018-06-20 15:49] juan-vg commented on #41715
First of all you should notice that "boolean variables" defined in inventory are not real boolean variables. AFAIK they are atoms so you need to cast them to the desired type in the following way

    ovpn_ha | bool

Moreover, once you have that clear you should state what you want to do. If you want to check it's value you should cast it and check it

    when: ovpn_ha | bool
    when: not ovpn_h

[2018-06-20 15:51] sivel commented on #41586
I cannot reproduce this issue.  Here is my reproducer:

playbook.yml
[code]

roles/test-role/meta/main.yml
[code]

roles/test-requirements/tasks/main.yml
[code]

[code]

Alternatively, if you remove `roles/test-role/meta/main.yml`, you can use the `import_role` example:

roles/test-role/tasks/main.yml
[code]

Both of these produce the same output.  It shows the output of `whoami` as `root`, which

[2018-06-20 15:54] juan-vg commented on #41715
+label notabug

[2018-06-20 16:00] sivel commented on #41717
cc @samdoran

[2018-06-20 16:05] justjais commented on #40930
Fixed in PR 41470, I will cherry pick to 2.6 branch.

[2018-06-20 16:05] #40930 closed, assigned to justjais

[2018-06-20 16:43] ganeshrn commented on #41541
@BarresB The value of the target is selected based on the value of [`datastore` option](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/netconf/netconf_config.py#L61
).  By default it is `auto`, means if the Netconf server running on remote host support `candidate` capability the value of `target` is `candidate` else if it support `:writable-running` capabiltiy target is

[2018-06-20 16:46] vpopescu opened #41742 "azure_rm_sqldatabase has started failing with deserialization error"
##### SUMMARY
I am seeing an error while creating Azure SQL databases. I am not sure when this started happening, since we don't run these scripts often. This script was working a few weeks ago.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_sqldatabase

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu subsystem in Windows 10

##### STEPS TO REPRO

[2018-06-20 16:50] florianpaulhoberg commented on #13086
Had the same issue last day, when missing this feature. I created an own module ( https://github.com/florianpaulhoberg/ansible-plugins/blob/master/library/yum_versionlock.py ). If desired I may push it to Ansible. Even an integration in yum Module would be easy, but don't know if upstream would accept it, because additional yum module / plugins (yum-versionlock) would be needed for this.

[2018-06-20 16:56] bcoca commented on #41696
@sivel but that would not handle defaults nor type enforcement , the reason it ignores default is due to a `if self._options` check in the inherited `set_options`

[2018-06-20 17:06] sivel commented on #41696
This is why I made sure you had seen this issue.  I don't understand all of the config stuff well enough to know why it was failing to begin with.

[2018-06-20 17:17] BlakeCTL commented on #22298
We have this same issue. Can we get a status check on this? is it just no longer possible for this module to function this way since the DEL_DOWNTIME_BY_HOST is no longer an external command in Nagios?

https://old.nagios.org/developerinfo/externalcommands/commandlist.php?category_id=1

[2018-06-20 17:45] ericwb commented on #41443
As a workaround, you could just use the newly added nmap plugin with an snmp interface to scan for snmp devices.
https://nmap.org/nsedoc/scripts/snmp-interfaces.html

[2018-06-20 17:52] sivel commented on #41647
It is not recommended to try and manage a single file with 2 different methods/modules.

The recommended method would be to continue templating out `/etc/apt/sources.list`, but use the `filename` argument with the `apt_repository` module.

Use of the `filename` argument will create new `.list` files inside of `/etc/apt/sources.list.d`

If you have further questions please stop by IRC or the mailin

[2018-06-20 17:52] #41647 closed, assigned to nobody

[2018-06-20 17:55] jlsam commented on #2770
I ran into a similar issue when issuing `mkpasswd --method=sha-512 {{ admin_password }}` when password happened to contain ". I guess I could wrap the whole command in ' ' to escape the ", but what if the random password contains ' instead of " ?

[2018-06-20 17:59] sivel commented on #41630
This is indeed a bug in the upstream code that we have vendored and has been resolved upstream in https://github.com/SethMichaelLarson/selectors2/commit/f0c2c6c66cfa7662bc52beaf4e2d65adfa25e189

However, that fix is in the 2.0.1 release, and we have vendored 1.1.0

We would need to evaluate whether updating our vendored copy to this version is safe.

I'd recommend against us trying to backport any

[2018-06-20 18:03] sivel commented on #41600
This warning is a recommendation.  It is up to the user to identify and understand whether the warning is valid not, and when not valid, you can suppress the warning per task:

adhoc:

[code]

playbook:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 18:03] #41600 closed, assigned to nobody

[2018-06-20 18:08] sivel commented on #41583
I cannot duplicate this issue.  Please share the full output of your playbook using at least `-v`.

Creating a full simple reproducer and providing all required files could be helpful in diagnosing this issue.

needs_info

[2018-06-20 18:11] sivel commented on #41569
As the reporter has given a "thumbs up" on the solution comment.  I am going to proceed with closing.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 18:11] #41569 closed, assigned to nobody

[2018-06-20 18:15] jw34 opened #41748 "mysql_db --no-data dump option"
##### SUMMARY
As it currently stands you cannot dump just a schema - it's either all (or nothing).  I have made some changes to  mysql_db to provide this feature.

##### ISSUE TYPE
 - add --no-data to dump  state

##### COMPONENT NAME
mysql_db module
##### ANSIBLE VERSION
ansible 2.5.5

##### CONFIGURATION
ansible-config dump --only-changed
(no output)

##### OS / ENVIRONMENT
Redhat EL 7 / MySQL

[2018-06-20 18:16] jw34 commented on #41748
I have already made the changes locally - but since I do not have contributor level access - i cannot create a PR for review.

[2018-06-20 18:35] #18232 closed, assigned to maxamillion

[2018-06-20 19:00] sivel commented on #10902
Closing per my above comment.

[2018-06-20 19:00] #10902 closed, assigned to nobody

[2018-06-20 19:01] sivel commented on #11118
This is not required with the creation of implicit localhost.  See the documentation for implicit localhost at http://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:01] #11118 closed, assigned to nobody

[2018-06-20 19:03] sivel commented on #11525
Ansible does not utilize the ssh config for an inventory.

`myhost` must be listed in an inventory file.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:03] #11525 closed, assigned to nobody

[2018-06-20 19:06] santomanto04 opened #41750 "not able to start filebeat, metricbeat using ansible in RHL6"
I am running this task in ansible playbook.
- name: Start filebeat service
   shell:  /fisc/uts/bin/sudo filebeat start

This does not start the filebeat agent. But I have checked manually running "/fisc/uts/bin/sudo filebeat start" on the test servers. It works fine.  (I tried 'command' instead of 'shell', it doesn't work either)

The stop command works tho if I replace start with stop. But "star

[2018-06-20 19:06] sivel commented on #11942
This is not a problem in recent versions of ansible. If you are still experiencing issues, please open an new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:06] #11942 closed, assigned to nobody

[2018-06-20 19:08] sivel commented on #11957
I cannot duplicate this issue on recent versions of ansible.

If you are still experiencing issue, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:08] #11957 closed, assigned to nobody

[2018-06-20 19:11] DanCool commented on #41165
Thanks very much for looking into it. I don't have a way to consistently reproduce it even with 2.4. It seems EOS "show version | json" returned a string (error?) instead of json by looking at the code and exception. If that is the case, do you think 2.5 will help? We don't have a concrete plan to upgrade to 2.5 yet. So I am not sure when I will be able to provide the test result.

[2018-06-20 19:12] sivel commented on #11999
This issue is no longer present in current versions of ansible.  If you are still experiencing issues, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:12] #11999 closed, assigned to nobody

[2018-06-20 19:13] bcoca commented on #41750
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-20 19:13] #41750 closed, assigned to nobody

[2018-06-20 19:15] sivel commented on #12013
This error has been improved in recent ansible versions, indicating the specific error:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:15] #12013 closed, assigned to nobody

[2018-06-20 19:18] BarresB commented on #41541
@ganeshrn Sorry, I should have mentioned that I tried the candidate before and it wasn't a succes. I just performed them both so I can show you the log:

**candidate:**
[code]

**Auto**
[code]

`candidate is not supported by this netconf server`
That's the problem, I think the netconfserver that Pulse uses doesn't have all standards implemented that are described in the RFC. And because the module

[2018-06-20 19:23] sivel commented on #12239
In the current devel version of ansible, this 30 command playbook takes a little over 13 seconds for me.

I'm going to go ahead and close this issue out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:23] #12239 closed, assigned to jimi-c

[2018-06-20 19:27] sivel commented on #12240
This specific scenario no longer exists in recent versions of ansible.  Applying a tag to a `include_tasks` task, will prevent the display of the include.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:27] #12240 closed, assigned to nobody

[2018-06-20 19:29] sivel commented on #12271
As of the Ansible 2.5 release, we are now uploading pre-releases to pypi.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:29] #12271 closed, assigned to nobody

[2018-06-20 19:31] sivel commented on #12247
As explained in several comments, the expectation that the following syntax will work is incorrect:

[code]

Corrected versions have been provided here.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:31] #12247 closed, assigned to nobody

[2018-06-20 19:32] therealdoug opened #41752 "Feature Request: Expose 'ownerTag' and 'ownerKey' in ACI modules"
##### SUMMARY
In the ACI API, there are values called 'ownerKey' and 'ownerTag'.  With our automation, we use non-user service accounts to connect to the APICs, so the user that ran a script isn't immediately known.  As a result, we use these values to identify the user that ran the script and some sort of documentation identifier - Ticket Number, Change Number, etc.  It would be great to expose t

[2018-06-20 19:33] sivel commented on #12285
We purposefully do not document dependencies of our dependencies. However we have recently added an FAQ entry containing some of this information: https://github.com/ansible/ansible/pull/41437

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:33] #12285 closed, assigned to nobody

[2018-06-20 19:35] sivel commented on #12585
As indicated in previous comments, you will need to ensure that you put any functionality like this in files that your shells will use with non-interactive shells.

This functionality differs from shell to shell, and OS to OS.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ans

[2018-06-20 19:35] #12585 closed, assigned to nobody

[2018-06-20 19:36] sivel commented on #12610
We are not currently shipping wheel packages, partially because there are some issues with the format that break our use of symlinks.

We are investigating this and plan to include it once we can work out the issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2018-06-20 19:36] #12610 closed, assigned to nobody

[2018-06-20 19:37] #12620 closed, assigned to nobody

[2018-06-20 19:39] sivel commented on #12649
This is no longer an issue in recent versions of ansible. If you are still experiencing problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:39] #12649 closed, assigned to nobody

[2018-06-20 19:43] sivel commented on #12685
We do not plan on exposing them all, but have exposed a number of them thus far:

[code]

As additional data is needed, they can be exposed on a per case basis

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:43] #12685 closed, assigned to nobody

[2018-06-20 19:45] kajusK commented on #13160
@Akasurde  The issue is gone in latest ansible version, thanks.

[2018-06-20 19:45] #13160 closed, assigned to nobody

[2018-06-20 19:50] sivel commented on #12922
This error message has been updated an no longer indicates an incomprehensible message.

In my testing, I receive:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:50] #12922 closed, assigned to nobody

[2018-06-20 19:53] sivel commented on #13165
This issue is no longer present in recent versions of ansible. If you are still experiencing problems please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:53] #13165 closed, assigned to nobody

[2018-06-20 19:55] sivel commented on #13268
This has been resolved in https://github.com/ansible/ansible/pull/19862

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:55] #13268 closed, assigned to nobody

[2018-06-20 19:57] sivel commented on #13484
This has now bee resolved by https://github.com/ansible/ansible/pull/32738

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 19:57] #13484 closed, assigned to nobody

[2018-06-20 20:04] sivel commented on #14467
This is now documented at https://docs.ansible.com/ansible/latest/plugins/lookup/together.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 20:04] #14467 closed, assigned to nobody

[2018-06-20 20:10] bcoca commented on #41696
also some plugins allow config from other sources, not just the 'direct arguments', see etcd lookup.

In any case PR should fix all this, i had missed this case when i wrote the 'required enforcement' which recently went in, which is why this was not an issue before.

[2018-06-20 20:11] sivel commented on #15218
Closing this as a duplicate of https://github.com/ansible/ansible/issues/34591 as that issue has research and explanation as to exactly why this is happening.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-20 20:11] #15218 closed, assigned to nobody

[2018-06-20 20:15] AlanCoding opened #41755 "--diff flag stopped producing the diff from file module"
##### SUMMARY
In recent release candidates the `--diff` option stopped working (meaning that it became non-functional), this was tested for the file module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook CLI
--diff CLI option

##### ANSIBLE VERSION
tested and confirmed bug in environments:
[code]

[code]

##### CONFIGURATION
No output from `ansible-config dump --only-change

[2018-06-20 20:19] earchibald-lv commented on #38219
Hey, this has been open for more than a month. It's breaking playbooks. What's the story?

[2018-06-20 20:20] AlanCoding commented on #41755
Source of the playbook https://github.com/jlaska/ansible-playbooks/blob/master/file.yml

@wenottingham this is a blocker for Tower, and has been seen in test systems.

I first thought this was the same as https://github.com/ansible/ansible/issues/34226, but has 2.4 on it, and it was working as of 2.5, so that makes it a recent regression, and the module is different anyway.

[2018-06-20 20:21] sivel commented on #41755
This was introduced in 4e2876be9f3e96a7573c8acaff80fe0cd07c5e4b

cc @abadger

[2018-06-20 20:31] dealkk commented on #38715
- name: change ip address of existing vm
  vmware_guest:
    datacenter: "{{ VCenter_DataCenter }}"
    validate_certs: no
    folder: "{{ VCenter_FolderPath }}"
    name: "{{ Server_Name }}"
    state: present
    networks:
    - name:  "{{ Server_Nic.Name }}"
      type: static
      ip: 172.16.1.25
      netmask: "{{ Server_Nic.NetMask }}"
      gateway: "{{ Server_Nic.GateWay }}"
      dns_ser

[2018-06-20 20:31] ronsonmaria commented on #13165
Ok, thanks Sivel. I don't have any problem now about it.

[2018-06-20 20:37] rpural commented on #41467
You should also note that, once you've switched to the ["..."] notation, that any following lists need to be referenced the same way. For instance, you can't reference echo "ansible_facts.services['zuul-gateway'].state"; it would need to be "ansible_facts.services['zuul-gateway']['state']".

[2018-06-20 20:42] sivel commented on #41467
That is incorrect.  Jinja2 places no such restriction on key access.  You can mix and match as you please.

[2018-06-20 20:44] pkaramol opened #41757 "Ansible unable to find boto3/botocore although installed"
##### SUMMARY
Trying to run `aws_s3` module but keeps failing saying that boto3/botocore are required, while `pip` lists them as installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(no output)

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

The target machine is `ubuntu/xenial` so I have also taken

[2018-06-20 20:52] trondhindenes opened #41758 "win_chocolatey doesnt always return documented return attributes"
##### SUMMARY
win_chocolatey doesnt always return documented return attributes

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 18.04 control node / Windows 2016 target node

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Neither task should fail

##### ACTUAL RESULTS
The second task fail

[2018-06-20 21:03] rpural commented on #41467
Didn't work in practice.

[2018-06-20 21:05] cigamit commented on #38715
@dealkk Did the VM itself already exist?  I believe VMWare customization (changing IPs, etc..) will only work at provisioning time.

[2018-06-20 21:41] samdoran commented on #38219
I am working on a fix.

[2018-06-20 21:51] #41755 closed, assigned to nobody

[2018-06-20 22:10] dealkk commented on #38715
yes, vm already exist. base on documentation if the state is present, it ensure all setting set
"If state is set to present and VM exists, ensure the VM configuration conforms to task arguments."
Anyway to change/set static  ip on existing machine, it currently set to hdcp.

[2018-06-20 22:17] ergonlogic commented on #37551
I've seen similar behaviour recently. `service_facts` reports that `mysql` is stopped, but `- service: name=mysql state=started` results in "ok".

The service can be forced to start with:

    - command: service mysql start

[2018-06-20 22:36] tliss commented on #15321
`ansible -m ping myServer` gave me UNREACHABLE! error.
`ansible -c local -m ping myServer` worked.

[2018-06-20 23:37] bendoh commented on #34316
resolved_by_pr 34659

[2018-06-21 01:04] samdoran commented on #38219
This may actually be more related to what was done in #33393. Anyway, still working through it.

[2018-06-21 01:17] Fred-sun commented on #41679
Hi @adamsem maybe you misspelled azure_rm_publicipaddress_facts, could you try again. Thanks a lot!

[2018-06-21 01:18] jborean93 commented on #41748
@jw34 you don't need contributor level access to open a PR. Anyone with a GitHub account can do so.

[2018-06-21 01:24] #41757 closed, assigned to nobody

[2018-06-21 01:28] judyQD commented on #41721
@stravassac run it in verbose mode, the error still there.
ansible-playbook ./file2vm.yml  -v
Using /etc/ansible/ansible.cfg as config file

PLAY [Copy file to VM for network configuration] *******************************************************************************************

TASK [Gathering Facts] **********************************************************************************************

[2018-06-21 01:35] AlanCoding commented on #41755
@abadger I confirmed that installing from current `devel` fixes the test that discovered this. With the 2.6 backport, that will resolve this completely. That was crazy fast, you are awesome!

[2018-06-21 01:55] samdoran commented on #38219
I believe I have it fixed. PR coming shortly.

[2018-06-21 01:56] mil1i commented on #30833
I'm running ansible 2.5.4, and I still am receiving the error from the title when trying to use `drain: yes`.  Is there an ETA yet on when this might be fixed?

Currently using a separate haproxy.py file; each time I upgrade ansible I have to replace it. As well, I have to use `state: draining` in my playbooks for it to work.

[2018-06-21 01:58] bendoh commented on #41001
Hmm, so I can't reproduce this on Mac OS X Python 2.7.10, but I did put together a test case that I think simulates your issue, so if the test fails on your platform, I think we've got a good case.

Try the test in https://github.com/bendoh/ansible/tree/empty_directories_issue_41001

Run the particular test `./test/runner/ansible-test integration destructive/archive --start-at-task  "Set test dire

[2018-06-21 02:02] samdoran commented on #38219
Please test with #41767 and see if that resolves your issue. Thank you for reporting this.

[2018-06-21 02:08] Fred-sun commented on #41520
Hi @LinuxLeafFan , Could you can update your YML file as below and try again, Thanks a lot!
[code]

[2018-06-21 02:15] mumoshu commented on #36982
FYI a vars_plugin for sops is WIP at #38843 by @schlueter

[2018-06-21 02:46] ykuromiya commented on #40690
Yes.

I think your expectation is correct.
Because there are many files had a long files path in AppData folder.

I used robocopy command with "xj" options to copy User Profile folder.
So I think it is not the problems of soft links.

Anyway I found what is the problem of this error, I close this ticket.
Thank you!

[2018-06-21 02:46] #40690 closed, assigned to nobody

[2018-06-21 04:08] Akasurde commented on #34863
resolved_by_pr #35598

[2018-06-21 04:09] Akasurde commented on #25421
@dvinella Could you please check the above mentioned patch and let us know if it works for you ?

[2018-06-21 04:23] jdipsip opened #41769 "ios_linkagg : one "end" command should not be here"
##### SUMMARY
ios link aggregation is failing whith the following task due to an "end" sent at the wrong timing when using members option

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_link_agg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Should succeeds

##### ACTUAL RESULTS
Failing with i

[2018-06-21 04:49] danihodovic commented on #27367
This is not resolved yet: https://github.com/ansible/ansible/pull/38412#issuecomment-398974917

[2018-06-21 06:14] kustodian commented on #29914
@samdoran are you sure that #35392 is the correct issue ID, because it's talking about `os_server`. I can't find the the new ability that you're talking about.

[2018-06-21 06:25] kTitan opened #41774 "VMware: vmware_portgroup add possibility to override the failover order"
##### SUMMARY
Currently it is not possible to override the NIC Teaming failover order of a port group.
At the current state an ansible run will also reset the configuration if it was done manually.

As far as I know the failover order can be specified with the usage of nicTeaming.nicOrder.activeNic and nicTeaming.nicOrder.standbyNic.

For an example this configuration is needed inside the portgrou

[2018-06-21 06:27] #37936 closed, assigned to trishnaguha

[2018-06-21 06:48] pkaramol commented on #41757
@jborean93 you were extremely prompt to close the issue;

a) it was a typo (fixed in the initial comment)
b) the output indicates that the task __is__ delegated !

[code]

22.33.111.88 is __NOT__ my localhost IP, it is the remote machine IP;

kind request to re-open the issue or I will have to file a new one given that it __looks__ like a bug.

[2018-06-21 06:50] pkaramol opened #41776 "Ansible cannot find boto3/botocore python modules even if they are installed"
##### SUMMARY
Trying to run `aws_s3` module but keeps failing saying that boto3/botocore are required, while `pip` lists them as installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(no output)

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

The target machine is `ubuntu/xenial` so I have also taken

[2018-06-21 07:08] Akasurde commented on #38955
@emonat Can you please test this patch and let me know if it works for you ?

[2018-06-21 07:11] ganeshrn commented on #41541
That's right, generally, if Netconf server supports `:writable-running` capability it does support `lock`on running datastore, but in your case it is not supporting. This fix requires lock to be optional something similar to what is supported in [`netconf_get`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/netconf/netconf_get.py#L52). I will raise a PR to support option

[2018-06-21 07:17] nitinsatish commented on #40068
It's good to have this option. I have a use case where we refresh the cache and execute few actions. We update the yum cache so that latest version of packages are installed by subsequent steps which don't use yum module.

[2018-06-21 07:20] belooussov commented on #22382
+1

[2018-06-21 07:28] adamsem commented on #41679
Yes it's a problem. I make it because of mistake in documentation example: https://docs.ansible.com/ansible/latest/modules/azure_rm_publicipaddress_facts_module.html?highlight=azure

[2018-06-21 07:28] pierreant-p commented on #40724
@willthames thanks! I would very much like this PR to be merged asap, as the cloudfront module is pretty much unusable now :/
Worth adding in 2.5.6 imho.

👍

[2018-06-21 07:47] Fred-sun commented on #41679
Yes , This is describe problem , we will fixed as soon as possible, Thanks a lot!

[2018-06-21 07:52] alex-left commented on #17935
@maxamillion indeed. ubuntu16.04 in both, machine control and target host. Also use an isolated instalation in a container:
[code]
[code]

[2018-06-21 08:03] diranetafen commented on #27351
Hi
I've got the same issue on my own environment:
- tower (containerize version) : **ansible 2.5.3**

**_Bypass method_**
I've bypassed this bug by downgrading ansible to **2.4.3.0** ! Now all is working as expected

[2018-06-21 08:10] mkrizek commented on #41737
@gamuniz I think you want to do `attributes: +i` instead of `attributes: i`. The first will result in `lsattr +i`  which will set `i` flag and leave the other flags intact. While the second results in `lsattr =i` which will try to add `i` flag and remove the rest and that fails since clearing `e` is not supported as the error message you got says.

I will add some examples to the docs. Thanks for

[2018-06-21 08:49] udondan commented on #41182
Same here, task always has changed status, no matter what options are set.

[2018-06-21 09:01] wouterhummelink opened #41781 "[vmware_guest] Connecting the network may fail if portgroup name is not unique in the datacenter"
##### SUMMARY
For a customer I work with a VMware environment where each Datacenter in VCenter has several dvSwitches that each contain portgroups with identical names. From a vwmare perspective that's completely fine. However the vmware_guest module doesn't account for the cluster the VM is being deployed to, and ansible tries to assign the first portgroup found through the api, which in turn res

[2018-06-21 09:08] orlra commented on #24037
In my scenario I have playbook with light/heavy workloads in 1 playbook,
if I could:
include: light_workload.yml
with_forks: 100%
include: heavy_workload.yml
with_forks: 25%
that would certainly save me some optimization work.
I'm open for any per-task throttling option.

[2018-06-21 09:09] udondan commented on #41182
Adding `checksum: yes` solved it for me.

[code]

[2018-06-21 09:15] wouterhummelink commented on #41781
This is the output from a slightly modified script from a similar issue:
[code]

[2018-06-21 09:30] basos9 commented on #16052
I conducted the following tests on Ansibl3 2.5.4, target system Debian 9 (stretch)
trying to execute a command connecting as an unpriviledged sudoer (admin), escalating permission as a another unpriviledged user (user1).
The bottom line is that ansible can not impersonate the second user without the acl utilitiles (setfact and friends).

Also, I think it is a **bug**, when acl is not installed, se

[2018-06-21 09:31] silverdr commented on #41001
I would need to re-check it to be 100% sure but I believe the test passes because the two assertions:
[code]
are true also in the failing case. I might not have been 100% clear what "empty" means in this case - it means the archive has a proper structure (can be checked and unarchived - meaning file exists and file.size is >0) but contains no files. It is not an "empty file", it is an "empty archi

[2018-06-21 09:33] IshwarKanse opened #41782 "Ability to easily switch between Ansible versions in online documentation from the same page."
##### SUMMARY
Currently its not easy to switch between versions of the same document in the online Ansible documentation.

##### ISSUE TYPE
 - Documentation Report

##### EXPECTED RESULTS
Able to switch between different versions of Ansible documentation from the same page easily.

For example, check this cloud-init documentation screenshot.

![readthedocs_example](https://user-images.githubuserco

[2018-06-21 09:46] silverdr commented on #41001
Yes - I re-checked and the case is as described above. I would attach the file directly but github doesn't allow me to (says unsupported format) so I zipped it before attaching. Please NOTE: you need to unzip it to get the file we talk about!
[2018-06-21T09:35:20,163570831+00:00.tar.bz2.zip](https://github.com/ansible/ansible/files/2123010/2018-06-21T09.35.20.163570831.00.00.tar.bz2.zip)

[2018-06-21 09:48] Russell-IO commented on #23985
@akashihi - sure I'll give it a test when I get 5-10 mins

[2018-06-21 09:56] basos9 commented on #40034
Hello, see  #16052 for a investigation and possible workaround.

[2018-06-21 10:06] Akasurde commented on #41781
@wouterhummelink Thanks for reporting this issue. Could you please add link to that issue here from where you copied the script ? thanks.

[2018-06-21 10:07] Akasurde commented on #41781
@wouterhummelink ping me at #ansible-vmware on irc.freenode.net

[2018-06-21 10:30] wouterhummelink commented on #41781
https://github.com/ansible/ansible/issues/36835

[2018-06-21 10:42] karunakar1122 commented on #21461
Hi Hogarthj,
I have a requirement to generate junit format reports in ansible.
Can you please let me know what is the configurations needed?

[2018-06-21 11:14] Akasurde commented on #41298
@brucegogo You can read more about `syntax-check` [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html#tips-and-tricks)

Thanks. Closing this issue as resolved.

[2018-06-21 11:14] #41298 closed, assigned to nobody

[2018-06-21 11:21] Alucard616 opened #41785 "service module doesn't work fully with CentOS 6"
##### SUMMARY
When using the "service" module on a CentOS 6 System, using the "enabled" Parameter doesn't work properly.
It always shows, that something is changed, even though nothing happened.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/pthyen/.ansible/plugin

[2018-06-21 11:39] willthames commented on #40724
@pierreant-p it's definitely a backport candidate.

But it's not the only way to fix a broken module without updating Ansible: https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-06-21 11:47] s-hertel commented on #41776
I'm unable to reproduce. After initially installing boto3 on the instance (either manually or with that task above) the aws_s3 get task succeeds. It seems like there might be something odd with your setup rather than an aws_s3 bug (and I'd expect all other AWS boto3 modules to fail for you too). I'm also not getting changed repeatedly with the pip task in the last comment (I see you have https://g

[2018-06-21 11:50] lobsterdore commented on #33831
I just came across this myself, strangely enough using the ```ANSIBLE_VAULT_PASSWORD_FILE``` environment variable stops the error from happening at all.

[2018-06-21 11:55] lobsterdore commented on #41776
I think the issue here is that the target machine needs these libraries installed, whereas I would expect that only the machine from which I am running Ansible would require these libraries. I just hit the same issue today :)

[2018-06-21 11:56] judyQD commented on #41721
@stravassac Could you pl have a look and help me ? Thank you in advance.

[2018-06-21 12:01] s-hertel commented on #41776
@lobsterdore That is the issue. But in this case the delegated task to install those where needed is repeatedly installing them. And the end of the initial comment shows that boto3 is installed on the ubuntu machine.

[2018-06-21 12:15] mkrizek commented on #41355
@Ragsboss Did you by any chance __not__ provide become password (passing `-K` to `ansible-playbook`)?

My reproducer:
[code]

(Note the missing `-K` below)
[code]

Now with `-K` provided, everything works as expected:
[code]

The reason this happens is because when become password is not provided, tasks fail with:

[code]

The result is missing usual `stdout` and `stderr` keys (they are `module_st

[2018-06-21 12:21] s-hertel commented on #41776
@lobsterdore That is expected and it isn't specific to aws_s3. If you want to run a docker module on a remote machine then you need to install the docker SDK on the target. AWS modules work the same way. There's a note on the [installation page](https://docs.ansible.com/ansible/2.3/intro_installation.html#control-machine-requirements):
[code]

[2018-06-21 12:31] sknoefel commented on #40879
Patch for modules/database/mysql/mysql_user.py
which fixes #25158 and #40879
Should work independent of column order and column quoting
based on ansible 2.5.4
python version = 2.7.12 (default, Dec 4 2017, 14:50:18) [GCC 5.4.0 20160609]
[mysql_user.py.2.5.4.patch.txt](https://github.com/ansible/ansible/files/2098196/mysql_user.py.2.5.4.patch.txt)

[2018-06-21 12:32] Slake66 commented on #27136
Hi,
i have a similar problem when i run the playbook:

[code]

this error pops up:

PLAY [switches] *****************************************************************************************************************************************************************************************************************************

TASK [Gathering Facts] ******************************************************

[2018-06-21 12:36] felipe-vvoosh commented on #29698
Still happening it seems...

[2018-06-21 12:45] jbscalia opened #41787 "postgresql_user module fails with password on version 10.x if server is fips enabled"
Postgresql_user needs to support AES-256 encryption.

##### SUMMARY
If a server is FIPS-140-2 enabled, md5 is not permitted as an "encryption/hashing" algorithm. PostgreSQL version 10 supports AES-256 encryption, but postgresql_user does not support that option, and is unusable on a FIPS enabled server.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
 a

[2018-06-21 13:19] siddizi opened #41789 "Ansible failed to complete successfully"
##### SUMMARY

Сan not complete the installation
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Certbot
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successful

##### ACTUAL RESULTS

[code]

[2018-06-21 13:21] wouterhummelink commented on #41781
@Akasurde I'll try contacting you tomorrow, I got called away on meetings

[2018-06-21 13:27] karunakar1122 commented on #21461
I added callback_whitelist = junit inside ansible.cfg file and junit_xml python lib installed but not generating junit xml output

[2018-06-21 13:30] pierreant-p commented on #40724
@willthames oh sweet thanks !

[2018-06-21 13:41] samdoran commented on #41776
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The issue is the delegated host, `{{ ec2_instance_ip }}`, does not have the necessary libraries installed and therefore the task fails.
  * It could be that bo

[2018-06-21 13:41] #41776 closed, assigned to nobody

[2018-06-21 13:45] ghost opened #41791 "win_regedit handles '/' incorrectly when creating keys"
##### SUMMARY
win_regedit does not create paths correctly when a '/' is required in the key name.  The '/' is being used as a subkey.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/michaelplemmons/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/michaelplemmons/.ansible.cfg) = -o ControlMaster=auto -o Con

[2018-06-21 13:57] michaelplemmons commented on #41791
It is interesting that if you manually edit the registry keys to be the correct format and run the automation again it keeps the path correct.  it does not add the subkey.

[2018-06-21 14:03] samdoran commented on #41528
Resolved by #41638

[2018-06-21 14:03] #41528 closed, assigned to NilashishC

[2018-06-21 14:07] bcoca commented on #41789
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-21 14:07] #41789 closed, assigned to nobody

[2018-06-21 14:13] gamuniz commented on #41737
I actually did try this before opening this ticket apologies for not adding in that output:

[code]

[2018-06-21 14:21] dpassante opened #41794 "[CLOUDSTACK] Ability to manage LDAP accounts and groups"
##### SUMMARY

Cloudstack 4.11 now supports linking accounts to LDAP groups. Thus account admins can manage user access directly in their LDAP.

The idea is to add the following LDAP related features :
* create LDAP accounts
* link accounts to LDAP groups or OU

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

lib/ansible/modules/cloud/cloudstack

##### ANSIBLE VERSION

[code]

##### CONFIG

[2018-06-21 14:50] mkrizek commented on #41737
^^^ that is fixed in `devel`. Thanks!

[2018-06-21 14:50] #41737 closed, assigned to nobody

[2018-06-21 14:52] svpudik opened #41797 "win_uri: fails to return json"
##### SUMMARY
I am using win_uri to call rest API from more sources. I found that when response header contains
Content-Type →application/json
parse result as json is not problem
but when response header contains
Content-Type →application/json; charset=utf-8
I cannot use json but only content.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`win_uri.py`

##### ANSIBLE VERSION

[code]

#####

[2018-06-21 14:55] syspimp commented on #41148
I submitted a fix for this issue, there is an incorrect exception call that makes the module fail on some setups.

This sed command should fix the issue for some users:

sed -i -e 's/pysnow.UnexpectedResponse/pysnow.exceptions.UnexpectedResponseFormat/g' /usr/lib/python2.7/site-packages/ansible/modules/notification/snow_record.py

https://github.com/ansible/ansible/pull/41796

[2018-06-21 15:18] Yvan-Masson opened #41799 "win_package parameter "creates_version" checks "product version" and not "file version""
##### SUMMARY

win_package documentation states that `creates_version` checks for "file version" but this seems false or incomplete: in the following case, the check is done on "product version" attribute of the file.

##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible runs from Debian te

[2018-06-21 15:29] rhastie opened #41800 "Oynx Network module fail on Aggregate-Interface Speed Set (10G)"
##### SUMMARY
Using Mellanox Oynx 3.6.7936 and Ansible 2.5.0 I get the following error when setting Aggregate/Interface Speed.

Specifically:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
onyx_interface.py

##### ANSIBLE VERSION
2.5.0

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-21 16:44] sivel commented on #14708
I've submitted a PR referenced above to resolve this issue.

[2018-06-21 16:49] sivel commented on #15185
This does not happen in recent versions of ansible:

[code]

If you are still having problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 16:49] #15185 closed, assigned to nobody

[2018-06-21 16:54] maxamillion commented on #41738
For reference and posterity, here is [Red Hat's bugzilla entry about the issue](https://bugzilla.redhat.com/show_bug.cgi?id=1112742).

[2018-06-21 16:56] sivel commented on #15249
This has been resolved by https://github.com/ansible/ansible/pull/32738

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 16:56] #15249 closed, assigned to nobody

[2018-06-21 17:00] sivel commented on #15286
This is no longer a problem in recent versions of ansible:

[code]

If you are still having problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:00] #15286 closed, assigned to nobody

[2018-06-21 17:03] sivel commented on #15288
This was resolved in https://github.com/ansible/ansible/commit/c86a17b7a003ac22c173cfa832ed2368e15015e6 and included in the 2.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:03] #15288 closed, assigned to nobody

[2018-06-21 17:06] sivel commented on #15302
This is no longer the case in recent ansible versions:

[code]

Note: the password 123456 doesn't work on my host, but no TypeError was raised

If you are still having problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:06] #15302 closed, assigned to nobody

[2018-06-21 17:08] sivel commented on #15308
As mentioned above, this issue was resolved and is no longer present in recent versions of ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:08] #15308 closed, assigned to nobody

[2018-06-21 17:15] #40595 closed, assigned to nobody

[2018-06-21 17:15] sivel commented on #15233
Based on the availability to do this now without an addition of a custom filter, I'm going to close this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:15] #15233 closed, assigned to nobody

[2018-06-21 17:19] sivel commented on #15313
We are moving away from "free_form" arguments in modules where possible.  As such, I cannot see us adding such a feature to a module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:19] #15313 closed, assigned to nobody

[2018-06-21 17:27] sivel commented on #15512
This functionality exists now in recent versions of ansible.  Please open a new issue if you are experiencing problems with this newer functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:27] #15512 closed, assigned to nobody

[2018-06-21 17:30] sivel commented on #15592
This is no longer an issue with more recent versions of ansible and docker or docker-py.

If you are still experiencing problems, please open a new issue tested against current versions.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:30] #15592 closed, assigned to nobody

[2018-06-21 17:44] sivel commented on #15856
Based on the above discussion, I am going to proceed with closing this.  I'd recommend instead of using copy+content, to in the future use a template for this functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:44] #15856 closed, assigned to nobody

[2018-06-21 17:46] cigamit commented on #41133
I would assume close it, since it will still come up via a search.

[2018-06-21 17:49] sivel commented on #15959
This has been removed for the 2.4 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 17:49] #15959 closed, assigned to nobody

[2018-06-21 17:57] #33969 closed, assigned to nobody

[2018-06-21 17:59] #15206 closed, assigned to nobody

[2018-06-21 17:59] cigamit commented on #41736
I am trying to find it, but I remember seeing a bug the other day that showed that if a NIC was set to DHCP (which is does by default) then it still tries to do customization even though it shouldn't technically.  There was a 2 line code fix attached to it.

[2018-06-21 18:22] saichint opened #41807 "nxos_gir issues"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_gir
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)F3(4)

##### STEPS TO REPRODUCE

There are few issues with nxos_gir module.

* system_mode_maintenance_on_reload_reset_reason has more choices in newer platforms.
* system_mode_maintenance_shutdown is not idempo

[2018-06-21 18:22] samdoran commented on #29914
@kustodian Nope, that's the wrong number! Sorry about that. #35932 is the correct PR. #39645 contains the documentation on the new feature.

[2018-06-21 18:23] mwhahaha opened #41808 "regression with local temp locations in 2.5.4"
##### SUMMARY
local temp directory not properly evaluated if the user does not have an existent home directory. In 2.4.2, the HOME environment variable could be used to override the location of the home directory for the user. In 2.5.4+, neither HOME nor ANSIBLE_LOCAL_TEMP work.

Might be related to https://github.com/ansible/ansible/commit/864fd7c53e45703554bb6de608fe13a2200b6aa0

Use Case: we're

[2018-06-21 18:49] ju2wheels commented on #23944
This isnt Alpine Linux specific, so I would hope it isnt implemented that way. This is strictly identifying whether the underlying system has shadow util binaries installed and using those by default (as it currently does) and if it doesnt, then falling back to the busybox equivalent commands. Hence why I didnt label the issue Alpine Linux.

[2018-06-21 19:29] rm-rf-etc commented on #39779
@bcoca, while I fully understand your reasoning, this is detrimental to people learning how to use Ansible. Google groups are literally terrible. For example, there are 0 results for "Unable to parse /etc/ansible/hosts as an inventory source" when searching this in the group. Github issue tracker has a far superior interface because it's easy for winning solutions to be marked with reaction emojis

[2018-06-21 19:42] jhawkesworth commented on #41797
Looks like L241 of the module code only expects 'application/json' or 'application/javascript'
[code]

I'm not sure what the best way to fix it is.  is it enough to allow charset=utf-8 only or should the module support any charset?

[2018-06-21 19:51] sivel commented on #41797
Just as an FYI, the `uri` module does it by just trying if it sees things that *could* contain JSON:

https://github.com/ansible/ansible/blob/5c614a59a66fc75b6e258053d3d17d151141e7f9/lib/ansible/modules/net_tools/basics/uri.py#L274

https://github.com/ansible/ansible/blob/5c614a59a66fc75b6e258053d3d17d151141e7f9/lib/ansible/modules/net_tools/basics/uri.py#L579-L584

I don't know powershell well en

[2018-06-21 19:53] jborean93 commented on #41797
I suppose we could just do the same and just try and convert the response to JSON and just ignore failures.

[2018-06-21 19:59] mattclay opened #41812 "Failing integration test rabbitmq_plugin"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

rabbitmq_plugin integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test rabbitmq_plugin is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration rabbitmq_plugin --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Test

[2018-06-21 19:59] mattclay commented on #41812
Disabled in devel with commit 00ab12dca26b9978d2809abe524eec390e132ae5
Disabled in stable-2.6 with commit 79a415d4a00df95a5eecce527da64612d985fb84

[2018-06-21 20:04] jhawkesworth commented on #41797
doh uri.py very obvious place to look for a solution!  Time for a break!

[2018-06-21 20:11] samdoran commented on #23944
That's exactly the plan: make a class that leverages these tools and have appropriate distros point at that class. Sorry if I did not communicate that clearly.

The way the platform-to-class mapping works is by keying off of the output of `platform.system()`. For Alpine, it would subclass at the busybox class, similar to the way the various BSDs work.

[2018-06-21 20:32] abadger commented on #41314
Okay, closing as this is working as expected.

[2018-06-21 20:32] #41314 closed, assigned to nobody

[2018-06-21 20:34] sivel commented on #26005
The above referenced PR has been merged.  Closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 20:34] #26005 closed, assigned to nobody

[2018-06-21 20:35] sivel commented on #26008
As documented by the OP, this was a request to backport a fix to the 2.2 release.  However, the 2.2 release is no longer receiving updates.

Closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 20:35] #26008 closed, assigned to nobody

[2018-06-21 20:35] abadger commented on #40816
!component =lib/ansible/playbook/play.py

[2018-06-21 20:53] sivel commented on #26038
I believe this is the result of a specific expectation that is not consistent with the reality of the way includes work.

An include is itself a task, so when you register the result of the include, you are only getting the results of the include itself.

Includes do not consolidate all of the results within the include.

By the time the tasks have executed, a result has already been registered fo

[2018-06-21 20:53] #26038 closed, assigned to jimi-c

[2018-06-21 20:54] sivel commented on #26137
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always se

[2018-06-21 20:54] #26137 closed, assigned to nobody

[2018-06-21 20:58] sivel commented on #26346
This issue cannot be replicated on recent versions of ansible.  If you are still having trouble using ansible 2.5 or newer, please open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 20:58] #26346 closed, assigned to nobody

[2018-06-21 21:09] sivel commented on #26480
This issue was resolved in 8f97aef1a365cbbbb822d6d09f96af17a076b295 and subsequently included in the 2.4 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:09] #26480 closed, assigned to nobody

[2018-06-21 21:19] sivel commented on #26503
The functionality you are looking for can be expressed in the following manner using syntax available in Ansible 2.5:

[code]

The `inventory_hostnames` lookup, will take the limit supplied on the command line and return a list of matched hosts from your inventory.

The `intersect(groups.all)` will limit to the intersection between that group and the limit.  In this case the result is the task wil

[2018-06-21 21:19] #26503 closed, assigned to nobody

[2018-06-21 21:21] TwoTwenty commented on #33676
I used the above and it worked for a great deal of the domains
[code]
server: w67.ok.ubc.ca
got this in my csr
[code]
but for
server: mgreg.ok.ubc.ca
I got this
[code]

[2018-06-21 21:23] sivel commented on #26636
This issue has been resolved in the documentation via https://github.com/ansible/ansible/pull/26667

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:23] #26636 closed, assigned to nobody

[2018-06-21 21:26] mattclay opened #41820 "Failing integration test rabbitmq_user"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

rabbitmq_user integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test rabbitmq_user is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration rabbitmq_user --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass

[2018-06-21 21:27] samdoran commented on #29776
While this behavior does seem confusing, it is not a bug.

The `regexp` and `line` parameters toggle the matching logic. If `regexp` is specified, then the module looks for a match between existing lines and the `regexp`. Since it does not find a match to the regexp, it inserts the line. It does not compare the specified `line` to existing lines in the file, only to the `regexp`.

If a `regexp` **

[2018-06-21 21:27] #29776 closed, assigned to nobody

[2018-06-21 21:28] mattclay opened #41821 "Failing integration test rabbitmq_vhost"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

rabbitmq_vhost integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test rabbitmq_vhost is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration rabbitmq_vhost --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Tests p

[2018-06-21 21:30] mattclay commented on #41820
Disabled in devel with commit 5880404151a887586a80a212f4992a044b445178
Disabled in stable-2.6 with commit 3030625d1fc3241c28ac47cf95bfe4ef8eb2cb50
Disabled in stable-2.5 with commit e954633739ba310f7be53a3856bad1a6b4aaee33

[2018-06-21 21:31] mattclay commented on #41821
Disabled in devel with commit 5880404151a887586a80a212f4992a044b445178
Disabled in stable-2.6 with commit 3030625d1fc3241c28ac47cf95bfe4ef8eb2cb50

[2018-06-21 21:38] TwoTwenty commented on #33676
never mind I found my issue, it was because my variable had 1 white space in front of it's declaration I think.

[2018-06-21 21:40] sivel commented on #26763
There must have been a bug in prior builds of the documentation for this module.  The documentation currently reports the availability of all the options you had questioned:

https://docs.ansible.com/ansible/latest/modules/os_user_role_module.html

I'm going to go ahead and close this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-06-21 21:40] #26763 closed, assigned to nobody

[2018-06-21 21:40] #26787 closed, assigned to nobody

[2018-06-21 21:42] sivel commented on #26808
Ansible no longer defaults to using `$HOME` in any of the configurations.  If you are still having issues with recent versions of ansible (2.5 or newer) please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:42] #26808 closed, assigned to nobody

[2018-06-21 21:44] sivel commented on #26824
Lookup plugins do not support check mode.

To support check mode on such a task, you will need to utilize the `ansible_check_mode` variable, such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:44] #26824 closed, assigned to nobody

[2018-06-21 21:46] sivel commented on #26882
All modules contributed to ansible must be GPLv3 regardless of the `supported_by` value.

If you are not submitting the module to ansible, it need not meet these requirements, and the error can be ignored.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:46] #26882 closed, assigned to nobody

[2018-06-21 21:51] sivel commented on #27024
This issue should be resolved in Ansible v2.5.2 or newer.  If you are still having problems please create a new issue with a minimal reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-21 21:51] #27024 closed, assigned to nobody

[2018-06-21 21:55] sivel commented on #27200
Duplicate of https://github.com/ansible/ansible/issues/23675

[2018-06-21 21:55] #27200 closed, assigned to nobody

[2018-06-21 22:00] #27222 closed, assigned to nobody

[2018-06-21 22:31] samdoran commented on #40696
@ericwb You are correct. So I can implement this so that it only works for SunOS, or leave it globally. Thoughts?

[2018-06-21 22:34] bcoca commented on #40696
only where we use it, depending on setup /etc/shadow might not even be touched with changes via the tools as you can store your password elsewhere

[2018-06-22 00:41] nuno-silva opened #41825 "Wrong ansible_processor_* values on ARMv7"
##### SUMMARY

Ansible facts report wrong processor cores and processor/vcpu counts on an ARMv7 processor running Linux (Raspberry Pi 3 B and Banana Pi M2).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]

`ansible 2.4.3.0` and `ansible 2.5.5` are also affected.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Managing a `Gentoo Linux` `ARMv7` host.

[2018-06-22 01:27] IPvSean opened #41826 "ansible network automation timeout values for command_timeout, connect_timeout and retry_timeout are not provided in documentation"
##### SUMMARY
troubleshooting doc does not give us the default (no idea what to set values to if we don't know defaults).  It would also be nice to divide up the three types of timeouts visually so they are easy to see, and explain what they are for.  Defaults are provided below->

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
documentation for timeouts on network automation: http

[2018-06-22 02:22] ajtaylor6 opened #41828 "nxos_facts fails on gathering memtotal_mb fact"
##### SUMMARY
Running the nxos_facts task against a Nexus7009 running 6.2(16) and 5596 5.2(1)N1(9) fails with the same error, unable to gather information about the memtotal_mb fact.

This does work against a N3K 31108TCV version 7.0(3)I4(6)

Checking what I believe to be the specific output being parsed incorrectly (show system resources) then here are sample outputs for each.

Nexus 7K running 6

[2018-06-22 03:17] lingxiankong opened #41829 "OpenStack Octavia module"
##### SUMMARY
Support to operate openstack octavia resources in ansible

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- [x] os_loadbalanacer
- [x] os_listener
- [x] os_pool
- [x] os_member

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

Octavia related modules could be available in ansible.

##

[2018-06-22 03:46] frisky-gh opened #41830 ""service" module fails in a chroot environment"
##### SUMMARY

"service" module fails in a chroot environment which systemd is not running in.
systemd is running in the non-chroot environment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

service_mgr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible executes "/usr/sbin/service naemon resta

[2018-06-22 05:19] jborean93 commented on #40160
While the issue isn't fixed, I've recently added better handling around the kinit failures so it actually returns a better error message. Because of this, and I haven't heard a response after a month, I am going to close this issue https://github.com/ansible/ansible/commit/5e28e282a5d7846b97cae923518f58767dcb80ec#diff-4027b6fb84a6b8cdcd2ae5a0d348998d.

[2018-06-22 05:19] #40160 closed, assigned to nobody

[2018-06-22 05:34] jborean93 commented on #41791
This is not going to be fun to solve, we use a mixture of the PS cmdlets `*-Item` and .NET in win_regedit. Unfortunately it seems like the PowerShell provider system that the Registry uses automatically uses both `/` and `\` as path separators. To allow this, we would need to use the .NET classes directly. We are sort off halfway there as we use a mixture in the module as it is.

What is going to

[2018-06-22 05:43] tonyppe commented on #41812
Hi, I found this thread while googling for the same error on my ansible deployment of sensu. I managed to track my issue back to the fact that erlang version 21 was installed while rabbitmq requires version 20.1 of erlang. Once I had purged erlang 21 and installed 20.1 and re-installed rabbitmq, then that command is now successful without rabbitmq crash. However my node needed a reboot before the

[2018-06-22 05:52] jborean93 commented on #41799
Technically we are getting the `FileVersion`, unfortunately it's not the file version that is displayed in explorer. After reading through https://blogs.technet.microsoft.com/askpfeplat/2014/12/07/how-to-correctly-check-file-versions-with-powershell/ it turns out it uses the `FilePrivatePart` in conjunction with `FileVersion` to display that value. You can also use `FileVersionRaw` that contains t

[2018-06-22 06:03] judyQD commented on #38648
@dericcrago  I am using ansible to make some tries on VMware these days. I have the same concern why not reuse the modules(shell, file, service ) in VM. Could you show your implementation? Thanks.

[2018-06-22 06:36] resmo commented on #41794
Let me think about this over the weekend :)

[2018-06-22 06:42] willievu opened #41831 "k8s_raw - TypeError: __init__() got an unexpected keyword argument 'configMapRef'"
##### SUMMARY

When deploy for the first time, no errors occur.  However, when the same yaml content is applied again, k8s_raw tries to do comparison of an existing Deployment which has configMapRef, it causes the following error:
[code]

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/playbook-root/ansi

[2018-06-22 07:08] kustodian commented on #29914
@samdoran that is very useful for lookups, but it doesn't help here, because lookups are executed on the management host, while we need to check if the file exists on the remote. Have I understood that correctly, or you were telling me something else in your comment?

[2018-06-22 07:16] kwbr commented on #41647
The recommended method you describe leads exactly to the problem. The reason is that all sources are saved regardless of the source.list is changed or not. (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt_repository.py#L539)

Even without using the `filename` argument (which I do) `apt_repository` will create a new file under `sources.list.d` (https://github.com/

[2018-06-22 07:42] kwbr commented on #41647
https://gist.github.com/kwbr/f71ea287471ca9d89df733d0ad7caa32

[2018-06-22 08:01] mihai-satmarean commented on #27707
Same issue on ansible 2.5.4 when creating a Linux vm from template and adding
`        customization:
          hostname: "{{ machine }}"`

in the template call.
The template creation works without the customisation section.

Is this customisation meant only for Windows guests?

[2018-06-22 08:03] schue30 commented on #41585
nice

[2018-06-22 08:03] #41585 closed, assigned to nobody

[2018-06-22 08:42] svpudik commented on #41797
I fixed that for me by modification line 242 in

`if ($result.ContainsKey("content_type") -and $result.content_type -in @("application/json","application/json; charset=utf-8","application/javascript")) {`
because utf-8 is default encoding of JSON, I think it is not an issue.

[2018-06-22 08:58] mkrizek commented on #41826
cc @acozine

[2018-06-22 09:03] mkrizek commented on #41825
cc @alikins

[2018-06-22 09:06] jamessemai opened #41835 "package: list reverse dependencies in check-mode"
##### SUMMARY
We'd like the `package` module to return the list of reverse dependencies when run in `check-mode`.

Context:
We have several playbooks where we remove packages using the `package` module, but where we have also built-in a "rollback' functionality to re-install the removed package if things go wrong.

This works well, except when there are reverse dependencies on the removed package

[2018-06-22 09:35] reubensml commented on #13278
Here how i solved the issue .It came down to the parameters used in the yaml file
The parameter become_method was the culprit
Previous setting was
 become: yes
  become_method: su

Changed it to
 become: yes
  become_method: sudo
it started working with no issues . Play around with this parameter must be something to do with the shell as i am on suse 12
ansible --version
ansible 2.7.0.dev0 (devel

[2018-06-22 09:35] reubensml commented on #13278
Here how i solved the issue .It came down to the parameters used in the yaml file
The parameter become_method was the culprit
Previous setting was
 become: yes
  become_method: su

Changed it to
 become: yes
  become_method: sudo
it started working with no issues . Play around with this parameter must be something to do with the shell as i am on suse 12
ansible --version
ansible 2.7.0.dev0 (devel

[2018-06-22 09:41] reubensml commented on #25437
Here is how i solved the issue .It came down to the parameters used in the yaml file
The parameter become_method was the culprit
Previous setting was
become: yes
become_method: su

Changed it to
become: yes
become_method: sudo
it started working with no issues . Play around with this parameter must be something to do with the shell as i am on suse 12
ansible --version
ansible 2.7.0.dev0 (devel 27b

[2018-06-22 09:49] Fred-sun commented on #41728
Hi @the1bit , I have try your YML , meet same error, But I think you should keep subnet and Vnet in same resource group, As the Ansible 2.5 document describe, subnet within the specified virtual network.[https://docs.ansible.com/ansible/latest/modules/azure_rm_networkinterface_module.html?highlight=azure_rm_networkinterface](url),
Another, Please update your ansible to 2.7dev and try again, Update

[2018-06-22 10:03] bersace commented on #41020
I have the same issue here.

[code]

Is it possible to have a `state` that accepts `expired` keys ?

[2018-06-22 10:09] bersace commented on #41020
Or at lease, could we have a meaningful message ?

[2018-06-22 10:34] alexntt commented on #41548
Might be related to:

https://github.com/ansible/ansible/issues/39541
https://github.com/ansible/ansible/pull/39606

We will try to run our test case using that PR if we can.

[2018-06-22 10:42] mkrizek commented on #41812
@tonyppe  Thanks for the info! :+1:

[2018-06-22 11:15] ncoghlan commented on #11118
Very cool, thank you!

[2018-06-22 12:00] arjandekker opened #41838 "No logging in file, when using Ara"
##### SUMMARY

We are using Ansible and ARA together. When we use Ansible 2.3.2 we are able to log to a file and send the log to a remote ARA server.  This way we have a nice output of our Ansible runs and the details are in the logfile. But with version 2.5.5 the logging to ARA works fine, but the logfile is empty. When we remove the ARA callback plugin directory from the ansible.cfg file (remove

[2018-06-22 12:29] justjais commented on #41701
@Zulzig Thank you for submitting your observation, can you please submit the verbose log of your playbook run that will help me to check the issue in a better way. (verbose out: run your playbook with -vvvv tag)

[2018-06-22 12:31] BarresB commented on #41736
I went looking for that DHCP error you mentioned and found this:
https://github.com/ansible/ansible/pull/40990/commits/2103c904bfda48bef18a00d67b85c3fb0fa6113e --> https://github.com/ansible/ansible/pull/40990
Is this what you meant? Found it here: https://github.com/ansible/ansible/issues/40989
Didn't know the error is already known... sorry, hadn't found anything before opening the issue.
I'm no

[2018-06-22 13:59] rikkertk commented on #40626
@ganeshrn your change does a correct timeout when i push configuration against a srx.

I saw that ncclient also had a look at your pull request, but they changed their code for timeout to be defined in seconds and than does a translation at the end to the minutes juniper expects. And at least for me their code had an issue with that conversion and didn't actually set a netconf connection.

@bcavns

[2018-06-22 14:02] nikolay-t commented on #40243
Based on my experiments, replacing all 3 set() in inventory.group._walk_relationship() to orderedset.OrderedSet() fixes the issue.

[2018-06-22 14:08] Shrews commented on #41829
needs_contributor

[2018-06-22 14:09] sivel commented on #41838
cc @dmsimard

[2018-06-22 14:16] dmsimard commented on #41838
@sivel thanks for the ping.

@arjandekker this is quite a strange bug. I'll try to see if I can figure it out, thanks for reporting it !

[2018-06-22 15:07] jamescassell opened #41842 "ipa_dnsrecord: add MX record"
##### SUMMARY

Would like to add MX records to a minimal DNS set up within an IPA domain.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ipa_dnsrecord

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using default config.

##### OS / ENVIRONMENT

CentOS 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Capability is available

##### ACTUAL RESULTS

Capability is not avai

[2018-06-22 15:14] #17594 closed, assigned to nobody

[2018-06-22 15:14] jvanderaa opened #41843 "Network Vars, Consider Keeping Future Deprecated Settings"
##### SUMMARY

I've got a few play books where I'm wishing to use multiple credentials to connect to different hosts. I would propose that Ansible should keep `host`, `password`, `username`, `auth_pass`, and so on as configurable options. As part of the play credentials are being gathered from a credential storage system using `ansible_user` and `ansible_password`.

##### ISSUE TYPE
 - Feature Ide

[2018-06-22 15:28] #37842 closed, assigned to nobody

[2018-06-22 15:30] jinowolski commented on #30882
In case somebody finds it useful.

I've checked which tasks will run with `include_tasks` and `import_tasks` depending on tags.

Here are results for Ansible 2.5.2:

[code]
What surprises me is that `import_tasks` ignores `--tags`, but respects `--skip-tags`. Is it intended?

Testing code - role tasks:
<details><summary>main.yml</summary>

[code]
</details>

<details><summary>inner.yml</summary>

[2018-06-22 15:48] dmsimard commented on #41838
I have narrowed down the issue to the logging configuration between [Ansible](https://github.com/ansible/ansible/blob/d352cf514e393ab41e277a322fd573b0dc17bae9/lib/ansible/utils/display.py#L58-L70) and [ARA](https://github.com/openstack/ara/blob/4e89d3222868e54fb15511ea14bcfa17b699210b/ara/config/logger.py#L27-L74) conflicting.

We landed a logging configuration refactor in the latest version of AR

[2018-06-22 15:49] sivel commented on #41808
With a local connection, `ANSIBLE_REMOTE_TMP` is the value used for determining the tempdir of where files will land when copied through the connection plugin.

`ANSIBLE_LOCAL_TMP` is only used for the files that the controller itself creates.

So with the example of `ANSIBLE_LOCAL_TMP=/tmp` and `ANSIBLE_REMOTE_TMP=/var/tmp`, ansible would build the ansiballz file in `/tmp`, but copy it to `/var/t

[2018-06-22 15:51] maxamillion commented on #12044
This issue was fixed a long time ago but never closed. I've also verified this works in Ansible 2.5.5 which is latest stable release. Closing

[2018-06-22 15:51] #12044 closed, assigned to nobody

[2018-06-22 15:55] maxamillion commented on #11592
This appears to have been fixed but the issue was never closed. Marking as closed.

[2018-06-22 15:55] #11592 closed, assigned to nobody

[2018-06-22 16:02] mwhahaha commented on #41808
Yea I tried setting ANSIBLE_LOCAL_TEMP and it's not working either. ANSIBLE_REMOTE_TMP does work but impacts the other tasks which is not what I want. I'm ok if we have to set ANSIBLE_LOCAL_TEMP but it doesn't appear to work

[2018-06-22 16:04] mwhahaha commented on #41808
The use case is that the local system (where the service is running) needs a different path than the remote systems (which have valid users, etc)

[2018-06-22 16:07] sivel commented on #41808
You can set `ansible_remote_tmp` (lowercase variable from inventory or other vars) on a per host basis.

As described local_tmp is only used for the location of where the controller places files.  remote_tmp dictates where the connection plugin copies files to.

[2018-06-22 16:09] maxamillion commented on #11913
As reported, this was fixed a long time ago but the issue was never closed. I've verified the fix is still present (was not regressed) in the current latest stable Ansible version 2.5.5

Closing.

[2018-06-22 16:09] #11913 closed, assigned to nobody

[2018-06-22 16:11] mwhahaha commented on #41808
So in our case the inventory is generated in a different external place to the invoking script so it's more painful to set this on the inventory than via en environmental var. I'll see if we can work around that, but this is not ideal.

[2018-06-22 16:12] maxamillion commented on #11921
I know this is a really old issue, sorry for the lag time on this. I'm following up and am unable to reproduce this issue, I was curious if it's still persisting?

needs_info

[2018-06-22 16:14] sivel commented on #41808
It is also possible that you could set `ANSIBLE_REMOTE_TMP` to `$HOME/.ansible/tmp` instead of the default `~/.ansible/tmp`. I have not tested this specific scenario, but in theory should work.

We made these changes to remove dependence on environments that may not be available such as with cloud-init or solaris, where `echo ~` fails in those environments, and produces a literal `~`

[2018-06-22 16:22] mwhahaha commented on #41808
ANSIBLE_REMOTE_TMP isn't working either.

[code]

[2018-06-22 16:38] mwhahaha commented on #41808
So ignore the ANSIBLE_REMOTE_TMP comment, it does work. I must have had something else in the environment loaded. I reran it and it works. The DEFAULT_LOCAL_TMP doesn't affect this. If i set ANSIBLE_LOCAL_TEMP that goes away but you still hit the home dir problems.  IMHO ANSIBLE_LOCAL_TEMP should be used for local connections and not the remote_tmp, that's the confusing part

[2018-06-22 16:40] sivel commented on #41808
I will note that I actually tried to make that change for the 2.6 release, and forcing the local connection to use `ANSIBLE_LOCAL_TEMP` caused a number of test failures in our test cases, which indicates that it would impact a significant portion of our users, so no further attempt was made.

[2018-06-22 17:21] sprive commented on #19584
This URL is the #1 Google hit for this error, so, although while this "issue" is closed, people will continue hitting this for the forseeable future. Here's how I fixed it for `python3`, `ansible 2.5` (both are PIP versions, in a virutualenv), and OSX High Sierra.
Reporting my 'fix', for my scenario. Running:
$ python3 $(which ansible) localhost -m ping -vvvv

Would result in this error. -vvvv rev

[2018-06-22 17:21] sivel commented on #41785
I cannot duplicate this issue.  My reproducer:

[code]

This installs ntp, enables it, and then disables it 2 times:

[code]

The 2nd task to disable it reports `ok`, and not `changed`.

[2018-06-22 17:28] abadger commented on #12034
It appears that we already discussed this in a parallel issue/PR and decided the recommended practice should be to use the script module instead.  That resulted in us adding a note to use the script module to the docs: https://github.com/ansible/ansible/pull/32863

We'll discuss this in the meeting and if consensus hasn't changed, close this issue then.

[2018-06-22 17:36] mjmayer opened #41848 "ecs_taskdefinition does not support execution_role_arn"
##### SUMMARY
Deploying fargate containers requires the containers to have a execution role arn assigned. esc_taskdefinition does not currently support this parameter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_taskdefinition

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[

[2018-06-22 18:12] dathelen opened #41851 "eos_vlan.py fails when running via transport eapi"
##### SUMMARY
eos_vlan fails when run with transport method eapi.  The reason is that ```show vlan conf`` is not a full command and by default eapi doesn't expand commands

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook should add the d

[2018-06-22 18:22] ei-grad commented on #26503
The problem is not about the `ansible_limit`, but about the way to gather facts from a specified set of hosts efficiently. The loop still doesn't do it in parallel, and it tooks tens of minutes to gather facts on reasonably sized inventory.

[2018-06-22 18:24] sivel commented on #26503
Loops are by nature serial.

See https://github.com/ansible/ansible/issues/12086 for a feature idea to enable parallel processing of loops.

[2018-06-22 18:29] ei-grad commented on #26503
IMO, this should be left opened but have a minor priority since there is a workaround (via fact caching), and it would be fixed if #12086 would be fixed.

[2018-06-22 18:33] ei-grad commented on #26503
I'll try to better describe a usecase if you mind.

[2018-06-22 18:35] sivel commented on #33378
In HTTP requests, you should generally not send the `Set-Cookie` header back to the server as `Cookie` as it contains information not relevant to the server for future requests.

You should instead rely on the `cookies` key, or in ansible v2.6 you will have access to a new `cookies_string` variable that can be used in future requests.

If you have further questions please stop by IRC or the mailin

[2018-06-22 18:35] #33378 closed, assigned to nobody

[2018-06-22 18:47] sivel commented on #33320
This was explicitly changed to match the documentation in a2599cab794e9a2b8af88c012028ef45756cc973

As such `group_vars/all` will win over what is provided in the inventory file.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 18:47] #33320 closed, assigned to nobody

[2018-06-22 18:49] trondhindenes commented on #41758
Agreed!

[2018-06-22 18:58] #14708 closed, assigned to nobody

[2018-06-22 18:59] #26751 closed, assigned to jimi-c

[2018-06-22 19:14] voroninman commented on #33831
The same goes for `--ask-vault-pass` that is supposed to override the config but it doesn't.

[2018-06-22 19:23] sivel commented on #32472
This issue was resolved in 3d0da8f0933fd7a7b233d28eb408a618c66eba70 and subsequently included in the v2.5.0 release

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 19:23] #32472 closed, assigned to nobody

[2018-06-22 19:27] sivel commented on #32457
The issue is with YAML parsing.  Your value has `:` chars in it, which are used to specify hash keys and values, and it is preventing YAMl from parsing the value correctly.

Typically I would recommend quoting the full line, but as you are already using mixed quotes, I think the best recommendation is to use a YAML block literal:

[code]

The `|` character, effectively operates as though the varia

[2018-06-22 19:27] #32457 closed, assigned to nobody

[2018-06-22 19:30] maxamillion commented on #12186
I'm pretty sure this is a bug in jinja2, I'm still trying to track it down the root cause but the attempt to template that file is causing jinja2 to throw a `TypeError` instead of an `UndefinedError`, the latter of which would result in a more useful error message.

[2018-06-22 19:32] sivel commented on #32334
We specifically recommend against using heredocs and multiline commands via the shell module.

See https://github.com/ansible/ansible/commit/5e7ee9df0aa

Instead, you should use the script module or `template`+`command` to execute a script instead.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google

[2018-06-22 19:32] #32334 closed, assigned to nobody

[2018-06-22 19:36] sivel commented on #32222
This is a problem with your system or docker configuration not allowing enough file descriptors.

You will need to likely increase the file descriptors that the docker daemon can consume, as well as use the `--ulimit` argument to `docker run` to ensure you do not run into these issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-06-22 19:36] #32222 closed, assigned to nobody

[2018-06-22 19:38] sivel commented on #32193
This issue appears to no longer happen on recent versions of ansible (2.5+). If you are still having problems with ansible 2.5+, please feel free to open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 19:38] #32193 closed, assigned to nobody

[2018-06-22 19:49] dbrouss commented on #41412
thank you, I moved the following into the task and all is good now:

  connection: network_cli
  become_method: enable
  become: yes
  remote_user: "{{ ansible_ssh_host }}"

[2018-06-22 19:49] #41412 closed, assigned to Qalthos

[2018-06-22 19:51] dbrouss commented on #41341
this is related to 41412.  The solution provided in that ticket resolved this issue as well.  Closing.

[2018-06-22 19:51] #41341 closed, assigned to nobody

[2018-06-22 19:53] sivel commented on #32157
Issues with `ANSIBLE_BECOME_EXE` were indeed resolved in 2.4.1 via 71c646fe593d4658df4a9181aaf7cb56b99cd091

If you are still experiencing other issues on recent versions of ansible (v2.5 or newer) please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2018-06-22 19:53] #32157 closed, assigned to nobody

[2018-06-22 20:11] sivel commented on #32148
This topic appears to be resolved.  If you are still experiencing issues in recent versions of ansible, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 20:11] #32148 closed, assigned to nobody

[2018-06-22 20:15] sivel commented on #32145
This was resolved in v2.4.0 as noted above.  v2.3 is no longer supported, and not eligible for backport fixes at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 20:15] #32145 closed, assigned to nobody

[2018-06-22 20:23] jeevers opened #41861 "AWS Application Load Balancer module (elb_application_lb) update fails for Listener actions that contain anything other than 'forward'"
##### SUMMARY

AWS recently launched a new ALB (Application Load Balancer) featured that allows authentication to be performed by the load balancer using Cognito. This authentication is configured by adding an authentication action to a listener rule. ALB resources with this new authentication feature can be sucessfully created by ansible, however subsequent runs against the resource fail.

#####

[2018-06-22 20:31] sivel commented on #31831
This issue was resolved in aa54a3510f6f14491808291a0300da609b42753d and subsequently included in the v2.4.2 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 20:31] #31831 closed, assigned to nobody

[2018-06-22 20:32] khannz commented on #17014
@movergan any luck with PS snippet I posted above?

[2018-06-22 20:34] samdoran commented on #36394
Thanks @Akasurde. Can you try running those commands on a system managed by IPA with a user that exists in IPA? I'm curious if it's `luseradd`/`luserdel` that's reporting an error.

[2018-06-22 20:35] sivel commented on #31830
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe this issue is a configuration error on the target device, and must be resolved outside of the context of ansible.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help wi

[2018-06-22 20:35] #31830 closed, assigned to nobody

[2018-06-22 20:57] sivel commented on #31676
I think a new `runlevel` arg would be the preferred way.  When running `chkconfig` manually, it does not disable for runlevel 6.  I wouldn't want the default functionality to diverge from what you get manually.

[2018-06-22 20:57] acozine commented on #16869
All examples in the list above have been corrected. We are also forcing redirection to https:// on all pages within docs.ansible.com. A test to prevent reversions (by disallowing links to http://*.ansible.com) is a good idea too - I'll add that to the build-and-testing backlog.

[2018-06-22 20:57] #16869 closed, assigned to docschick

[2018-06-22 21:19] acozine commented on #17288
@willowmck I'm working to address old documentation tickets and ran across this one - unfortunately the original description didn't include a link to the page in the docs suggesting that you should use the IP address in the hosts field. Do you remember where that was? I'm hoping the docs were updated and by mistake this ticket wasn't closed - at any rate I haven't found a page with this informatio

[2018-06-22 21:22] acozine commented on #37817
Not actionable with so little detail.

[2018-06-22 21:22] #37817 closed, assigned to dharmabumstead

[2018-06-22 21:29] acozine commented on #25329
Not sure why this issue was not closed when https://github.com/ansible/ansible/pull/25330 was merged. Closing now. Please re-open if I've missed something.

[2018-06-22 21:29] #25329 closed, assigned to docschick

[2018-06-22 21:42] sivel commented on #31617
This issue was resolved in https://github.com/ansible/ansible/pull/36755 and is resolved in the v2.5.4 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-22 21:42] #31617 closed, assigned to nobody

[2018-06-22 23:09] ekultails commented on #35398
It looks like the future Ansible 2.7 (currently devel) partially has this feature implemented. You still have to manually re-apply become/tags/etc. settings.

[code]

https://docs.ansible.com/ansible/devel/modules/include_role_module.html

[2018-06-22 23:47] #38257 closed, assigned to nobody

[2018-06-23 00:34] lingxiankong commented on #41829
@Shrews can I raise my hand? I am also contributor in OpenStack Octavia project and it's our customer's requirement for the module.

[2018-06-23 02:43] ONE-Luffy commented on #15367
so， This is  bug

[2018-06-23 03:49] strawgate opened #41865 "WinRM setup logs password in plaintext on realm failure"
##### SUMMARY

The WinRM module logs the password for the connection in plaintext when a failure occurs

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

connection/winrm.py

##### ANSIBLE VERSION

ansible 2.5.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/var/lib/awx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module l

[2018-06-23 04:15] Akasurde commented on #34522
@nhojpatrick Could you please provide playbooks used and console log of `-vvvv` run ? needs_info

[2018-06-23 04:42] Akasurde commented on #35660
Thanks for reporting this issue. Accessing `vars` does work
Playbook -
[code]

Console -

[code]

needs_info

[2018-06-23 08:44] rsjethani commented on #40890
I would really like this feature to become a part of ansible

[2018-06-23 11:12] nhojpatrick commented on #34522
@Akasurde see original post under the "steps to reproduce"

[2018-06-23 11:42] nhojpatrick commented on #34522
@Akasurde zesty fails with a different error now, so updated with `-vvvv` and tried with both artful and bonic.

artful output here https://gist.github.com/nhojpatrick/e9ea5234c635193939102918c5ec5a00
bonic output here https://gist.github.com/nhojpatrick/5a488c8feab1a134c2a6877b90f4574e

[2018-06-23 11:46] willowmck commented on #17288
@acozine Apologies, I wish I had submitted my report with a link.  I can no longer find that documentation and it appears difficult to find anything 2.x prior to 2.3 anyway.

[2018-06-23 12:39] justjais opened #41869 "Reverse-Mapping zone support inclusion in nios_zone module"
##### SUMMARY

Infoblox supports creating an Authoritative Reverse-Mapping Zone which is an area of network space for which one or more name servers—primary and secondary—have the responsibility to respond to address-to-name queries. Infoblox supports reverse-mapping zones for both IPv4 and IPv6 addresses. Currently supported ansible nios_zone module does not allow the user to create a reverse zon

[2018-06-23 13:37] karlmdavis commented on #32334
@sivel That's totally fine, of course -- it's your project! However, in terms of making Ansible plays more maintainable, I've found that including **short** scripts inline like this can really improve readability. Less jumping between files just to figure out what's going on.

I'd suggest reconsidering this recommendation in light of that. Ansible already has issues with things getting scattered a

[2018-06-23 16:08] bendoh commented on #41001
Ah, OK, so we have a file that is a .tar of literally all 0s:

[code]

What is in the source directory? Would you mind putting together a minimal case that exhibits this behavior, e.g., a single file in the source directory that you expect to be included in the archive? Or is the directory itself empty? If so, then I'm not 100% sure that an empty archive file is incorrect (though it is a bit stran

[2018-06-23 16:49] Logan2211 commented on #41100
It doesn't seem like replace works correctly at all, on 2.4 or 2.5. I see the same behavior in managing ACLs as the reporter described regardless of whether replace is set to line or block mode.

[2018-06-23 17:49] logan2211 opened #41871 "ios_config replace: block does not support root-level config block diffs"
##### SUMMARY
Root-level config diffs are not supported when using `replace: block` in `ios_config`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

IOS 12.2(52)SE

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

In a device where 1.1.1.1 already exists in the access-list, I expect it to send the lines:
[code]

####

[2018-06-23 21:41] coom commented on #41133
Same issue here with Ubuntu 16.04 which is supported by VMWare vSphere 6.5.

[2018-06-23 22:06] simbalion opened #41873 "letsencrypt.py reporting incorrect "cert_days""
##### SUMMARY
On June 23rd I got an alert of a certificate set to expire on July 21st, 28 days later. I use a daily renewal cronjob that uses the letsencrypt module with a "remaining_days" of 30, so it should have activated 2 days ago.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
letsencrypt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 9

##### ST

[2018-06-23 22:16] juber9797 commented on #27885
hi all,
i am trying to set password using ansible-vault.
i am getting below.
ERROR! Unexpected Exception, this is probably a bug: [Errno 13] Permission denied: '/etc/ansible/install_httpd.yaml'

i have set 777 for the yml file also tried sudo and normal way.

[2018-06-23 22:16] juber9797 commented on #27885
my ansible version is 2.5.3

[2018-06-24 00:44] nkakouros opened #41874 "Cannot load custom lookup plugin"
##### SUMMARY

I have set in `ansible.cfg` a custom path for lookup plugins. There, I have a copy of the `password.py` plugin that accepts a seed parameter. Up until recently, I was able to load and use this plugin. But not anymore. The default one that ships with ansible is always loaded.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lookup_plugins

##### ANSIBLE VERSION

[code]

##### C

[2018-06-24 03:14] akhilputhiry commented on #41727
This happens when I try to execute ansible scripts via a jump box or bastion host. Give me a day, I will give you the sample playbook

[2018-06-24 04:19] Akasurde commented on #37840
@ThomasSteinbach ping

[2018-06-24 04:57] Akasurde commented on #38162
Closing this issue as per [request](https://github.com/ansible/ansible/issues/38162#issuecomment-377716320). Please feel free to re-open if problem persists.

Thanks.

[2018-06-24 04:57] #38162 closed, assigned to nobody

[2018-06-24 05:27] Akasurde commented on #38295
@jborean93 Can we close this issue as https://github.com/ansible/ansible/pull/40470 is merged ?

[2018-06-24 05:31] Akasurde commented on #38568
resolved_by_pr #39752

[2018-06-24 08:09] jborean93 commented on #38295
Yep this must have slipped through the cracks. We couldn’t backport this back to 2.5 as it was too late but it is definitely removed in 2.6.

[2018-06-24 08:09] #38295 closed, assigned to nobody

[2018-06-24 09:34] Akasurde commented on #38402
resolved_by_pr https://github.com/ansible/ansible/pull/40129

[2018-06-24 09:47] felixfontein commented on #41873
Can you paste the output of `openssl x509 -in /etc/ssl/le/{{ ssl_domain }}/certificate.crt -noout -text`, or at least the line containing `Not After`?

Also, did you check that the returned `cert_days` is really 56, and verified that the current certificate really expires in < 28 days? It is normal to receive expiration warning emails for older certificates which have already been renewed (happens

[2018-06-24 09:47] felixfontein commented on #41873
needs_info

[2018-06-24 12:46] #22568 closed, assigned to nobody

[2018-06-24 13:13] cropr commented on #22967
I can confirm the bug.  If the virtualenv parameter is  specified as a relative path, the command fails

[2018-06-24 14:02] Nani-o opened #41877 "Unarchive failed on unprivileged LXD containers"
##### SUMMARY
When I try to use the unarchive module on a unprivileged lxd containers, I get errors.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running from either Ubuntu trusty or xenial

##### STEPS TO REPRODUCE
If I deploy 2 lxd containers, one unprivileged the other not :
[code]

I get error

[2018-06-24 15:34] Akasurde commented on #39441
@tktr Could you please check above PR and let me know if it works for you ?

[2018-06-24 18:31] ChaturvediSulabh commented on #33263
I am having the same error and I've tried all suggested here

 Successfully installed PyOpenSSL-18.0.0
 TASK [web : Generate a Self Signed OpenSSL certificate] ************************
    fatal: [default]: FAILED! => {"changed": false, "msg": "You need to have PyOpenSSL>=0.15"}

[2018-06-24 19:05] simbalion commented on #41873
I've already forced a renewal of that cert by changing the renewal dates to 60 instead of 30, but I will change it back to provide more information. I will have to wait until one of my certs nears expiry.

I don't rely on LE's expiration notices, I use a monitoring server that alerts me if a cert has less than 30 days to go.

[2018-06-24 19:14] felixfontein commented on #41873
Ok, good. Did you check the log output of Ansible when it ran on the days it should have renewed the certificate, to see what it did?

[2018-06-24 19:34] simbalion commented on #41873
Yes I got the "cert_days = 56" figure from the debug output in my playbook, when I received the alert I ran the play manually to see what was going on, that's how I discovered the issue. I did not know that openssl command at the time, or I would have performed that test.

[2018-06-24 19:39] shibumi commented on #41133
@coom please help reporting it here: https://github.com/vmware/open-vm-tools/issues/240

[2018-06-24 19:53] felixfontein commented on #41873
But are you sure that the actual certificate on disk should have had `cert_days < 56`? In case your monitoring tool doesn't check the certificate on disk, but the one returned by the server, it could have happened that the server didn't reload correctly and still delivered the old certificate. You can use https://crt.sh/ to see when new certificates were issued for your domain by Let's Encrypt (an

[2018-06-24 20:08] jborean93 commented on #41865
@strawgate thanks for the report, I'm unable to reproduce but will try and find a fix for this shortly. Are you able to try the same thing but without `pexpect` installed (`pip uninstall pexpect`). I'm curious as to whether `subprocess` also acts the same way.

[2018-06-24 20:38] jborean93 commented on #41865
@strawgate are you able to test out the PR https://github.com/ansible/ansible/pull/41882. While I can't replicate the issue I believe I know what is going on but having a further check will really help. To get the changes in that PR you can run;

[code]

From there just run your process like normal, the output of `ansible --version` should show something similar to

[code]

What I am hoping you ca

[2018-06-24 21:55] jborean93 commented on #40874
@Epidemias sorry for taking so long to get back to this, I've created a PR that should solve this issue for you. It would be great if you could test it out and let us know if it fixes your issue;

https://github.com/ansible/ansible/pull/41884

[2018-06-24 22:23] #41758 closed, assigned to nobody

[2018-06-24 23:05] ahmedaljawad opened #41887 "Backup return none "cisco WS-C6509-E " "Cisco IOS Software, s72033_rp Software (s72033_rp-IPSERVICESK9-M)""
##### SUMMARY
Trying to use ios command to backup cisco 6509. the result its always empty txt file. its has none only in the file.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/nwadmin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansibl

[2018-06-25 00:36] kbreit commented on #41503
Note - This seems to be happening when running `meraki_ssid` integration test during failure.

[2018-06-25 01:31] LinuxLeafFan commented on #41520
Hey @Fred-sun, I will try to find some time to take another look at this tomorrow and let you know the results.

[2018-06-25 01:34] Fred-sun commented on #41520
Hi @LinuxLeafFan Thanks you help to try,

[2018-06-25 02:31] rushyang commented on #24215
+1000

[2018-06-25 02:34] kbreit commented on #41503
Fixed in #41889

[2018-06-25 02:36] kbreit commented on #41301
Required pull requests for 2.6 have been merged. Closing.

[2018-06-25 02:36] #41301 closed, assigned to kbreit

[2018-06-25 02:37] kbreit commented on #41300
Pull request to fix has been merged into 2.7. Likely won't go to 2.6 as it affects behavior.

[2018-06-25 02:37] #41300 closed, assigned to nobody

[2018-06-25 03:10] aksharbarot opened #41890 "vmware_host_facts only returning one Host when used VCenter IP"
##### SUMMARY

Tried to run vmware_host_facts module which is mentioned as either use ESX IP or Vcenter IP. While using VCenter IP, it is returning with random host details. have 30+ hosts in Vcenter but, result is for 1 host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3

##### STEPS

[2018-06-25 03:40] kbreit opened #41893 "meraki_admin should allow for multiple administrators to be created"
##### SUMMARY
`meraki_admin` does not allow for an easy way to create a lot of administrators. Separate tasks are required for each one and it is complicated as there are multiple variables required for each. A single task which allows for creating multiple administrators may be useful.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki_admin

##### ANSIBLE VERSION
[code]

[2018-06-25 06:09] #36345 closed, assigned to nobody

[2018-06-25 06:14] ptux commented on #14131
@sprabhuanand
@fubarhouse
@aklemp
I have added this feature at #41222
would you guys like to test it?

[2018-06-25 06:16] judyQD commented on #41721
@stravassac @warthog9 @dav1x @Akasurde  I have one more question. The Virtual Machine I tested in vCenter has not been configured network. Did this affect the playbook's result? But I tested in a VM with network, only directory operation worked, both fetch and copy failed. It's very nice of you to help me as I was blocked. Thanks.

[2018-06-25 07:02] wimnat commented on #41861
It is not clearly documented but you can see it in the examples:

`# Required. Only 'forward' is accepted at this time`

[2018-06-25 07:44] Akasurde commented on #41890
@aksharbarot Thanks for reporting this issue. Currently, it returns the first ESXi hostsystem which it finds from given vCenter - see here [docs](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_host_facts.py#L23)
As workaround, you can use `with_items` and iterate over all ESXi system from given vCenter.

[code]
@woshihaoren What do you think ?

[2018-06-25 08:11] stravassac commented on #41721
@judyQD this work without network.
Your error is in the copy function, the http return code is not equal 200
Could you locate vmware_guest_file_operation.py on your drive and edit it to replace on line 351:
[code]
[code]
It will display more error.

[2018-06-25 08:47] judyQD commented on #41721
@stravassac thanks for your reply. The error info shows as below:
 "msg": "initiateFileTransferToGuest : {'url': 'https://10.9.242.10:443/guestFile?id=19&token=52020ae5-0b17-74a5-16d7-81b2af0d95f819', 'status': -1, 'msg': 'Request failed: <urlopen error timed out>'}"
Could you pl help check what's wrong? Thanks

[2018-06-25 08:47] nkrishnakishor opened #41894 "Windows updates not installing"
##### SUMMARY
When running playbook for windows updates installation, they are not getting installed and showing as found_update_count: 0.

Even though important and optional updates are being listed when manually searched.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_update.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/

[2018-06-25 08:53] judyQD commented on #41721
@stravassac  BTW, I found the IP addr 10.9.242.10 is the ip of datastore where the vm is located. Is there any wrong with the datastore of port 443? Looking forward to your reply and help.

[2018-06-25 09:07] kostrzewa9ld opened #41895 "run_once dynamically evaluated to false causes variables being overwritten"
##### SUMMARY
When there are more hosts than `ANSIBLE_FORKS` and `run_once` is evaluated from a variable then when one of the hosts, which gets provisioned not in the first batch, is skipped then variables registered with `register` are skipped on all hosts provisioned before the skipped host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
Originally discovere

[2018-06-25 09:12] m4r10k commented on #41577
@Akasurde Any news on this? Anything that I can to support to find out what is going on here?

[2018-06-25 09:40] jhawkesworth commented on #41894
@nkrishnakishor
is your 'user1' user a member of local Administrators group on the target windows hosts?
are your target windows hosts configured to use Windows Server Update Services (WSUS)?

[2018-06-25 09:43] Fred-sun commented on #41742
Hi @vpopescu , I have try your YML and PASS result, my test environment same with you (ansible 2.5.3), I think your error may cause by some naming not match ansible's conventions, could you can share your all variable and name.
My YML and execute result as below,  Could you can try again. Thanks a lot!
[code]

[2018-06-25 09:54] jelledebruin66 commented on #41742
I am experiencing this exact same issue with Ansible 2.5.5 running on RedHat 7.5.

[2018-06-25 10:00] fubarhouse commented on #14131
@ptux That is working very nicely.

It should be noted that it only appears to be working **only** when 'recurse' isn't specified.

Would it be better to make use of a recurse value/pair to ensure the explicit intentions of the play runner with a sensible default? I'm quite happy for this to be used - however I'm not sure if others would unanimously expect the behaviour.

Here's the playbook which

[2018-06-25 10:00] Fred-sun commented on #41742
Sorry,  Could you can try my YML and share your YML file let me try , Thanks a lot!

[2018-06-25 10:23] nkrishnakishor commented on #41894
@jhawkesworth 'user1' is a member of local administrators group on the target windows host.

Target windows host (Win 2012 R2) is not configured to use WSUS.

[2018-06-25 10:58] jborean93 commented on #41894
Can you share what updates you are expecting to see available (the ones you see in the GUI). My guess is that they don’t come under the categories you specified. The win_updates module sources the updates from the same source as the client so there should be no discrepancy.

[2018-06-25 11:54] Akasurde commented on #41577
@m4r10k I will try to create a setup in my environment and I will ping you once it is done.

[2018-06-25 12:02] jelledebruin66 commented on #41742
I ran your yml.

PLAY [for SQL server test] ****************************************************************************************************************************************************************************************

TASK [Gathering Facts] ***************************************************************************************************************************************************

[2018-06-25 12:15] Akasurde commented on #41781
resolved_by_pr #41899

[2018-06-25 12:16] Akasurde commented on #41781
@wouterhummelink Could you please add comment stating that above PR works for you ?

[2018-06-25 12:28] nkrishnakishor commented on #41894
@jborean93 you are exactly right, categories required are not listed in ansible.

Below snapshot for categories which I was searching for.

![image](https://user-images.githubusercontent.com/30660903/41850012-b909a26a-78a0-11e8-8d19-63f703a56398.png)

![image](https://user-images.githubusercontent.com/30660903/41850034-cfb4972c-78a0-11e8-9bfd-6efba55b1655.png)

[2018-06-25 12:45] Noname2244 commented on #39122
Any progress here?

[2018-06-25 12:46] #41503 closed, assigned to nobody

[2018-06-25 12:47] dagwieers commented on #41893
We want to fix this in Ansible, rather than have each module implement its own solution. See: https://github.com/ansible/proposals/issues/71

[2018-06-25 12:48] bh-e opened #41903 "Help to find the commit that resolves CVE-2016-8628"
Please share the commit which resolves CVE-2016-8628. - Command injection by compromised server via fact variables.

[2018-06-25 13:06] familyman-131 commented on #30754
in my case, i need to install "apt-transport-https"
on target host debian 9
before i can use "update_cache=yes"

[code]

[2018-06-25 13:07] robertdebock commented on #39858
What's the (original or duplicate) issue?

I've been trying to find it, but am unsuccessful.

[2018-06-25 13:18] movergan commented on #17014
@khannz it didn't work for some reason, don't remember why exactly. I am also calling it from Ansible so it has to be one line, I ended up using this:

[code]

i.e:

`(Get-NetIPAddress -AddressState Preferred -AddressFamily IPv4 -InterfaceAlias Ethernet0 -SkipAsSource $False | select -Property IPAddress).IPAddress`

But I don't like it much cause I have to specify the actual Ethernet adapter.

[2018-06-25 13:20] bhaubeck commented on #29639
any news on this?
would be really great, if this could build in in the next ansible - release.

ben

[2018-06-25 13:27] dagwieers opened #41905 "Parameter types are missing from module docs"
##### SUMMARY
At the moment the documentation does not indicate the type of the parameter value, while in most cases we know exactly what type of value is expected.

We do this correctly for return values though.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
All module docs

##### ANSIBLE VERSION
v2.7 and earlier

[2018-06-25 13:32] dagwieers commented on #41905
cc @kbreit @felixfontein @acozine

[2018-06-25 13:32] stravassac commented on #41721
@judyQD the url is the ESXI which host the VM, it must be reachable from the host which run Ansible.
Try telnet 10.9.242.10 443

[2018-06-25 13:37] imanis commented on #23144
Same here, does someone find an alternatif way to do that ?

[2018-06-25 13:56] samdoran commented on #41808
[Change 577544](https://review.openstack.org/#/c/577544) also fixes this

[2018-06-25 13:56] #41808 closed, assigned to samdoran

[2018-06-25 14:01] sivel commented on #41895
Duplicate of https://github.com/ansible/ansible/issues/19966

[2018-06-25 14:01] #41895 closed, assigned to nobody

[2018-06-25 14:07] sivel commented on #41835
Just as an FYI, the `package` module is effectively an alias for the specific package manager for the remote OS, such as `yum`, or `apt`.

As such, this functionality needs added to the individual package manager modules.

[2018-06-25 14:08] shaded0 opened #41906 "win_chocolatey - TLS Installing with restricted TLS"
##### SUMMARY
win_chocolatey fails on initial install due to https://github.com/chocolatey/choco/wiki/Installation#installing-with-restricted-tls.

Returns error:
[code]

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible 2.4.2.0
---
[code]
##### OS / ENVIRONMENT

From RHEL7 to Windows Server 2012.

##### STEPS

[2018-06-25 14:13] Zulzig commented on #41701
[code]
this is my last test. up option for state is the root cause

is there any difference between state and enabled option ?

which command allow me to add "no shutdown" for an interface in the running-config.

[2018-06-25 14:17] simbalion commented on #41873
I can't reproduce the error on another certificate, so I think perhaps this was a false alert. Somehow it's possible that the certificate on the controller machine was renewed but not deployed to the client machine. I tested this morning on a different cert under 30 days and the module reported the correct days remaining, and created a renewal challenge.

[2018-06-25 14:17] #41873 closed, assigned to nobody

[2018-06-25 14:22] sivel commented on #41903
This was resolved in https://github.com/ansible/ansible/pull/15925

[2018-06-25 14:22] #41903 closed, assigned to nobody

[2018-06-25 14:35] sivel commented on #41874
This issue was introduced in https://github.com/ansible/ansible/commit/dd02a4e9433f467aec5a4921fe2928bc651e47eb

This is due to the addition of the following in `lib/ansible/plugins/filter/network.py`

[code]

The above seems to break the plugin loader.

[2018-06-25 14:52] sivel commented on #41874
I've submitted a PR to resolve this issue: https://github.com/ansible/ansible/pull/41907

[2018-06-25 15:04] felixfontein commented on #41905
Should they be printed below the parameter name in red, as for the return values?

[2018-06-25 15:17] TylerKerrACG commented on #18287
This still needs to be looked at. This breaks any sort of notification handling for an unreachable host. Ansible 2.5.4 still has this issue.

[2018-06-25 15:19] sivel commented on #41877
This is the purpose of the `extra_opts` argument with this module.

I don't think we should do this automatically, and since `unarchive` works with many different formats, `--no-same-owner` won't be available to all of them.

I would continue using `extra_opts` for this case.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2018-06-25 15:19] #41877 closed, assigned to nobody

[2018-06-25 15:20] UnitedMarsupials commented on #19673
I'm pretty sure, I still have this problem with 2.5.5. The role's first three tasks:
[code]
The output:
[code]
As you can see, the debug-task is never performed after the "Add keys" task fails...

[2018-06-25 15:20] TylerKerrACG commented on #35086
Ansible 2.5.4 still has this issue. Cannot handle unreachable errors even for notifications. How has this not been looked at as it has existed for over a year?

[2018-06-25 15:32] aweiteka opened #41909 "AttributeError: 'OpenShiftAnsibleModuleHelper' object has no attribute 'properties_from_model_class'"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)
Python 2.7.15
PyYAML (3.12)
openshift 1.0.0-snapshot

openshift:
[code]

##### STEPS TO REPRODUCE

Trying out openshift_raw module with this simple playbook:

[code]

##### EXPECTED RESULTS
I expe

[2018-06-25 15:39] AgilDat commented on #33464
Any news?

[2018-06-25 15:39] dansou901 commented on #18910
Yeah, with the addition of always having two tasks changed in the playbook. There also isn't a simple way of checking if a file is empty in the first place...

[2018-06-25 15:45] deftdawg opened #41910 "Is CentOS a valid ansible_distribution value? The documentation is inconsistent."
##### SUMMARY
CentOS as a ansible_distribution value is shown in an example listed on the page.  However the value is not listed in the list of valid ansible_distribution values further down the same page...  So is it valid or no?

From the When statement at: https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#id9

when: (ansible_distribution == "**CentOS**" and ansible_

[2018-06-25 16:04] bcoca commented on #35660
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `vars[]` construct is not a user feature, it is undocumented for a reason, it was for internal use only and not supposed to templat

[2018-06-25 16:04] #35660 closed, assigned to nobody

[2018-06-25 16:06] bcoca commented on #17288
This has been fixed already, I've tested 2.4/2.5 and devel and it picks up the tasks normally.

As such I'm going to close the ticket, feel free to reopen if you find further issues.

[2018-06-25 16:06] #17288 closed, assigned to acozine

[2018-06-25 16:10] sivel commented on #41910
The list in the documentation is not complete.  Per the code:

https://github.com/ansible/ansible/blob/f58780fb28341fb07cd8fe188c983097574fb436/lib/ansible/module_utils/facts/system/distribution.py#L121-L122

This would seem to prohibit an exact list of all possible values.

Maybe we just need to add a note to the docs that the list is not complete/extensive.

[2018-06-25 16:14] UnitedMarsupials-zz opened #41911 "When looping, item is reported as None"
##### SUMMARY
When looping, `item` is reported as `None`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/mi/A/ansible.cfg) = True
DEFAULT_FORKS(/mi/A/ansible.cfg) = 53
DEFAULT_MODULE_PATH(/mi/A/ansible.cfg) = ['/mi/A/playbooks/library']
DEFAULT_TIMEOUT(/mi/A/ansible.cfg) = 23

##### OS / ENVIRONMENT
N/A

#####

[2018-06-25 16:15] UnitedMarsupials commented on #18287
Meanwhile, the work-around for people developing inventory-verification related tasks:

1. Attempt the task on each host as usual, register into a variable (such as `verification`).
2. On `localhost` loop through _all_ hosts (`groups["all"]`) looking for `"unreachable": true`

For example:
[code]
That is, the unreachable host remains unused, but you can still produce a report of connection-failure

[2018-06-25 16:15] #15505 closed, assigned to nobody

[2018-06-25 16:15] #17922 closed, assigned to nobody

[2018-06-25 16:15] #19898 closed, assigned to nobody

[2018-06-25 16:19] sivel commented on #41911
This issue has recently been resolved in https://github.com/ansible/ansible/pull/41331 and is expected to be included in the 2.6 release, and potentially a future 2.5.x release.

[2018-06-25 16:19] #41911 closed, assigned to nobody

[2018-06-25 16:22] #41781 closed, assigned to Akasurde

[2018-06-25 16:28] jeevers commented on #41861
If 'forward' actions are currently the only supported action type, shouldn't the rule comparison logic check that the rule is a forward before trying to extract the target group arn from the dictionary? That way a warning message stating that the rule isn't a supported type can be displayed instead of a KeyError exception.

[2018-06-25 16:30] swares commented on #29197
This would be very helpful.

[2018-06-25 16:31] samdoran commented on #29914
@kustodian I was looking at one of your examples that used a lookup, which got me thinking of that recent lookup feature addition.

You are correct, though. This would need to be made to the module for checking remote files.

[2018-06-25 16:40] Kickimanjaro opened #41912 "python3 and package (zypper) module with SLES 15"
##### SUMMARY

package module (zypper) fails when using python3 on SLES 15, reporting a module failure "value of unknown type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

zypper
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

###### Control Machine
RHEL 7.5
3.10.0-693.17.1.el7.x86_64

###### Managed machine
SLES 15
4.12.14-23-default

##### STEPS TO RE

[2018-06-25 16:41] Kickimanjaro commented on #41912
CC @maxamillion re: https://www.reddit.com/r/ansible/comments/8skbzz/ansible_zypper_module_on_sles_15/e10z9sv/

[2018-06-25 16:56] sivel commented on #41912
Traceback:

[code]

[2018-06-25 17:08] samdoran commented on #41785
I am also not able to duplicate this issue.

Playbook:
[code]

Output:
[code]

Both "Again" tasks report `ok`.

needs_info

[2018-06-25 17:14] AlexGluck opened #41914 "cloud:ovirt_vms: Can't create new VM. Python raise Exception("Entity '%s' was not found." % name)."
##### SUMMARY
Subject all say. I replaced 7 letters in company name to `company` and 9 letters my system username to `user`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 28 Workstation
[code]

##### STEPS TO REPRODUCE
[code]

runtime_vars.yaml
[code]
manage_ovirt_VM.yml
[code]
##### EXPECTED

[2018-06-25 17:18] AlexGluck commented on #41914
Why ansible module args not passed to python module?

[2018-06-25 17:47] SergeyBoiko commented on #41812
@tonyppe Thanks for the info!

[2018-06-25 17:58] samdoran commented on #24743
This is a duplicate of #29776.

While this behavior does seem confusing, it is not a bug.

The `regexp` and `line` parameters toggle the matching logic. If `regexp` is specified, then the module looks for a match between existing lines and the `regexp`. Since it does not find a match to the regexp, it inserts the line. It does not compare the specified `line` to existing lines in the file, only to

[2018-06-25 17:58] #24743 closed, assigned to nobody

[2018-06-25 18:07] jwoogee opened #41917 "control path changes not working"
##### SUMMARY
I have set ssh_args to override controlpath.  I am trying to get the name of the device in the socket name, but the main point is any settings I'm making to control path seem to have no effect.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/INFRASTRUCTURE.LOCAL/username/iansible/playbooks

[2018-06-25 18:10] robinro commented on #41912
@Kickimanjaro  Thanks for this report. I guess noone used the zypper module with python3 yet ;)
I pushed an (untested) fix as #41916. Can you try out whether this fixes it for you?

Currently the integration tests use 42.3 with python2. We should use Leap 15 for the integration tests now with python3. Maybe you can try to set this up?

[2018-06-25 18:46] sivel commented on #30208
As of ansible 2.3 we now have a tempfile module which can create temporary files and directories:

https://docs.ansible.com/ansible/latest/modules/tempfile_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 18:46] #30208 closed, assigned to nobody

[2018-06-25 18:47] sivel commented on #30186
As of ansible 2.4 the `get_url` module now supports `client_cert` and `client_key` parameters.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 18:47] #30186 closed, assigned to nobody

[2018-06-25 18:53] sivel commented on #30173
This issue is no longer present in recent versions of ansible.  If you are still having problems with recent versions of ansible please submit a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 18:53] #30173 closed, assigned to nobody

[2018-06-25 19:02] #30155 closed, assigned to nobody

[2018-06-25 19:03] sivel commented on #30125
Closing as a duplicate of https://github.com/ansible/ansible/issues/15828

[2018-06-25 19:03] #30125 closed, assigned to mkrizek

[2018-06-25 19:08] sivel commented on #30091
The proper way of supporting this is to utilize the `remote_tmp` config option or to supply `ansible_remote_tmp` as a host variable.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:08] #30091 closed, assigned to nobody

[2018-06-25 19:09] samdoran commented on #22255
This is not unique to `lineinfile` but applies to any templated field whose result starts with `{` or `[`, as @agaffney pointed out.

What's happening is the value of `line` is evaluating to `[all]`. Since it starts with a `[`, it is being sent through `safe_eval`, which tries to interpret `[all]` as a Python data structure. `all` is a built-in function, so the result from `safe_eval()` ends up be

[2018-06-25 19:13] securenetwrk commented on #41736
Actually, the issue that will probably address this is https://github.com/ansible/ansible/issues/40637 - Mine (40990) only fixes it to not force customization for start_connected. Fixing DHCP was a bit more involved, so I did not tackle that one. In my install, I just manually rolled back https://github.com/ansible/ansible/pull/38518 and then when applying my fix for start_connected it worked for

[2018-06-25 19:15] sivel commented on #29997
In recent versions of ansible, this is achievable by using `-meta: reset_connection` after the task to modify the user.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:15] #29997 closed, assigned to nobody

[2018-06-25 19:15] kostrzewa9ld commented on #41895
@sivel
In which aspect this is a duplicate of #19966? as far as I can tell #19966 is about `pause` being skipped if first host is skipped. How does is it relate to this ticket?

[2018-06-25 19:18] sivel commented on #29934
Duplicate of https://github.com/ansible/ansible/issues/30096

[2018-06-25 19:18] #29934 closed, assigned to nobody

[2018-06-25 19:20] sivel commented on #29927
Duplicate of https://github.com/ansible/ansible/issues/14131

[2018-06-25 19:20] #29927 closed, assigned to nobody

[2018-06-25 19:22] samdoran commented on #21065
Duplicate of #22255

[2018-06-25 19:22] #21065 closed, assigned to nobody

[2018-06-25 19:22] agaffney commented on #22255
I tried this particular test case with jinja 2.10 and the ansible jinja native types support a while back, and it ended up exposing a bug in the implementation of native types in jinja. It has been fixed upstream, but it happened after the 2.10 release, and there doesn't appear to have been a 2.11 release yet.

[2018-06-25 19:22] DmitryRomanenko commented on #30155
@sivel but we wanted this functionality for command/shell, not for other modules.

[2018-06-25 19:22] sivel commented on #29859
This was resolved in https://github.com/ansible/ansible/commit/52332f5b78d2ecbe4368be9c52f0aaa52fc305e8 and subsequently included in the v2.3 release

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:22] #29859 closed, assigned to nobody

[2018-06-25 19:25] #29806 closed, assigned to nobody

[2018-06-25 19:26] #29769 closed, assigned to nobody

[2018-06-25 19:29] sivel commented on #29741
This issue was resolved in https://github.com/ansible/ansible/pull/36809 and will be subsequently included in the 2.6 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:29] #29741 closed, assigned to nobody

[2018-06-25 19:29] #41812 closed, assigned to nobody

[2018-06-25 19:29] #41820 closed, assigned to nobody

[2018-06-25 19:29] #41821 closed, assigned to nobody

[2018-06-25 19:32] sivel commented on #29699
This issue appears to no longer be present in recent versions of ansible. If you are still experiencing problems with recent versions of ansible, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:32] #29699 closed, assigned to nobody

[2018-06-25 19:55] bcoca commented on #41895
@kostrzewa9ld the issue is the same, 'run_once' makes the task run on the first host that reaches it AND apply the results to all the hosts currently in the same batch. Pause has the same effect because it has a built in 'run_once' as it is a task that bypasses the host loop (same thing, but not user controllable).

[2018-06-25 19:58] #41912 closed, assigned to nobody

[2018-06-25 19:59] sivel commented on #29656
I cannot duplicate this in recent versions of Ansible.

[code]

Based on the error provided in the original report, it seems to be a local pathing issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 19:59] #29656 closed, assigned to nobody

[2018-06-25 19:59] sivel commented on #29650
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-25 19:59] #29650 closed, assigned to nobody

[2018-06-25 20:01] felixfontein commented on #41873
Ok, good. Thanks for testing!

[2018-06-25 20:01] jborean93 commented on #41865
AWX/Tower makes testing these things a lot harder than it should be. What I would recommend is to create a venv and just run this through the CLI instead. When in the docker environment run the following;

[code]

From here just create a test inventory file with the relevant vars required to connect and run `ansible -i inventory.ini windows -m win_ping`. Make sure the inventory contains the incorr

[2018-06-25 20:03] sivel commented on #29641
I've tested with a slightly modified playbook and cannot replicate this issue on recent versions of ansible:

[code]

[code]

If you are still experiencing problems with recent versions of ansible please submit a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansibl

[2018-06-25 20:03] #29641 closed, assigned to nobody

[2018-06-25 20:04] bcoca commented on #41531
Also
[code]

[2018-06-25 20:04] #33275 closed, assigned to nobody

[2018-06-25 20:06] #32152 closed, assigned to nobody

[2018-06-25 20:11] kostrzewa9ld commented on #41895
@bcoca
But in my case `run_once` evaluates to `false` though through a variable `not_once`, if I set it directly to `false` than everything works as expected. It also works when I increase the batch to the number of hosts or larger.

[2018-06-25 20:11] #41874 closed, assigned to nobody

[2018-06-25 20:14] samdoran commented on #29623
This does not appear to be a bug in Ansible. The error is due to the `visudo` command not being found, not the temporary file. The full path on CentOS 7 is `/sbin/visudo`.

The `sudoers` configuration can affect how paths need to be specified. Particularly `secure_path`, which sets `PATH` inside the `sudo` environment.

My reproducer:

[code]

[code]

If I set the `validate` field to an incorrect

[2018-06-25 20:14] #29623 closed, assigned to nobody

[2018-06-25 20:15] bcoca commented on #41895
well, if `false` its not `run_once` ... so expected, unsure what you mean by number of hosts, you have not shown that above.

[2018-06-25 20:20] kostrzewa9ld commented on #41895
@bcoca
In my example I execute the play on 3 hosts with `ANSIBLE_FORKS` set to 2. If I increase `ANSIBLE_FORKS` to 3 the issue does not occur, on both non-skipped hosts variable `foo_` contains `stdout` property.
I have run the experiment on 30 hosts with default `ANSIBLE_FORKS` and there if e.g. 10 host was skipped then all the hosts processed before the skipped one did not have expected variable

[2018-06-25 20:21] samdoran commented on #22255
Interesting. I just tested it with Jinja 2.10 and it seemed to work.

[code]

[code]

[code]

[code]

[2018-06-25 20:22] samdoran commented on #22255
@agaffney I was hoping the native type support would count as a fix for this, with the addition of adding better error reporting on the actual issue. What do you think?

[2018-06-25 20:24] #38219 closed, assigned to samdoran

[2018-06-25 20:30] bcoca commented on #41895
but .. what you are a saying is that run_once is irrelevant here cause it is always `false`? I'm unsure what the issue is then.

[2018-06-25 20:35] kostrzewa9ld commented on #41895
@bcoca
Please have a look at the attached example in which `run_once` is evaluated from expression `"{{ not not_once }}` where `not_once` is set to `true` for the entire play. As such `run_once`, in my understanding, should evaluate to `false`.

[2018-06-25 20:37] vpopescu commented on #41742
@Fred-sun Your script fails for me as well, the same way. I used your script, and just modified the group name and server name by adding "b" to the name.

[2018-06-25 20:44] sivel commented on #38226
Closing as this was resolved.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 20:44] #38226 closed, assigned to nobody

[2018-06-25 20:52] bcoca commented on #41895
yes, which is my point above, this is then unrelated to `run_once`, your title/subject are misleading

[2018-06-25 20:57] kostrzewa9ld commented on #41895
how is it unrelated if:
* when `run_once: "{{ not not_once }}" is present the play fails
* when `run_once` is removed the play succeeds

[2018-06-25 21:11] sivel commented on #29571
This no longer manifests in recent versions of ansible:

[code]

If you are still having problems with Ansible 2.5+, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 21:11] #29571 closed, assigned to nobody

[2018-06-25 21:12] sivel commented on #29560
With ansible 2.5 we have introduced a new `service_facts` module which can provide this information:

https://docs.ansible.com/ansible/latest/modules/service_facts_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 21:12] #29560 closed, assigned to nobody

[2018-06-25 21:13] sivel commented on #29559
This appears to be fixed in the current version of the documentation:

https://docs.ansible.com/ansible/2.5/modules/systemd_module.html#return-values

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 21:13] #29559 closed, assigned to nobody

[2018-06-25 21:14] #29554 closed, assigned to nobody

[2018-06-25 21:19] sivel commented on #29497
This issue was resolved in https://github.com/ansible/ansible/pull/18673 and subsequently included in the 2.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 21:19] #29497 closed, assigned to nobody

[2018-06-25 21:21] jlundy2 commented on #28050
For those running into this error currently:
It also depends on what Python install Ansible is using. Running this: `ansible -m debug -a 'var=ansible_playbook_python' localhost`, will show you what Ansible is using to run lookups.

pip install hvac on _that_ Python, and your problem will resolve.

[2018-06-25 21:23] sivel commented on #29483
This does not appear to be a problem in recent versions of Ansible (2.5+)

If you are still having problems with Ansible 2.5+, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-25 21:23] #29483 closed, assigned to nobody

[2018-06-25 21:26] #29453 closed, assigned to nobody

[2018-06-25 21:27] sivel commented on #29428
`squash_actions` is being deprecated, and instead, you should pass your list directly to name instead of using `with_items`:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project