[2019-06-14 18:47] samdoran commented on #57768
I understand the problem but am not sure we plan to fix it. Rebooting containers is not something this module was designed to do. We would have to detect that it is an LXC container and change the reboot logic, which would add complexity to the code for a very narrow use case.

We'd be willing to accept a PR for this, but have no plans to fix this at the current time.

needs_info

[2019-06-14 18:56] kfattig opened #57862 "aws_ssm lookup returns a list of len() 1"
##### SUMMARY
According to the documentation, It should be possible to loop over parameters returned by a lookup. [ A specific example is given](https://github.com/ansible/ansible/blob/e216aafc148d96d50cae4541015aa2089a0877eb/lib/ansible/plugins/lookup/aws_ssm.py#L99) using bypath=true, and wantlist=true:
[code]

This doesn't appear to work as documented - all matching parameters are returned as t

[2019-06-14 19:12] GaboFDC opened #57863 "hashi_vault plugin missing in list_of_all_modules"
##### SUMMARY

The [hashi_vault](https://docs.ansible.com/ansible/latest/plugins/lookup/hashi_vault.html) module does not appear in the [list_of_all_modules](https://docs.ansible.com/ansible/latest/modules/list_of_all_modules.html) page in the ansible latest documentation:

The list of all modules does not have an edit in github button, I suppose it is autogenerated, thus there should be some erro

[2019-06-14 19:13] sivel commented on #57521
!component =lib/ansible/plugins/filter/core.py

[2019-06-14 19:14] sivel commented on #57482
!component =lib/ansible/plugins/action/package.py

[2019-06-14 19:14] samdoran commented on #57463
@nqb Thank you for the feedback. I'm more concerned about _extra_ information we may be getting with that change from OSs/distros I'm not able to test with.

Anyone else able to test #57814 and offer feedback?

[2019-06-14 19:15] sivel commented on #57437
!component =lib/ansible/vars/manager.py

[2019-06-14 19:17] sivel commented on #57011
!component =lib/ansible/parsing/vault/__init__.py

[2019-06-14 19:39] sivel commented on #57521
The problem here is in the default of how the `file` lookup works.  By default is specifies `rstrip=True`, which causes the read file contents to differ from the actual contents of the file.

Updating your task to supply `rstrip=False` will resolve your issue.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2019-06-14 19:39] #57521 closed, assigned to nobody

[2019-06-14 19:47] sivel commented on #56446
!component =lib/ansible/plugins/filter/core.py

[2019-06-14 19:48] sivel commented on #55720
!component =lib/ansible/plugins/callback/full_skip.py

[2019-06-14 19:52] sivel commented on #54153
!component =lib/ansible/plugins/inventory/ec2.py

[2019-06-14 19:54] sivel commented on #53382
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always se

[2019-06-14 19:54] #53382 closed, assigned to nobody

[2019-06-14 19:55] sivel commented on #53370
!component =lib/ansible/plugins/lookup/first_found.py

[2019-06-14 20:04] sivel commented on #51449
Closing per the above merged PR

[2019-06-14 20:04] #51449 closed, assigned to nobody

[2019-06-14 20:04] samccann commented on #16888
Documentation has been updated (see prior comment). If more is missing, please open individual issues/PRs to address what is lacking. Thanks!

[2019-06-14 20:04] #16888 closed, assigned to gundalow

[2019-06-14 20:07] samccann commented on #17363
Documentation for developers has been significantly improved since this issue was opened.

https://docs.ansible.com/ansible/latest/dev_guide/index.html

[2019-06-14 20:07] #17363 closed, assigned to mattclay, samccann

[2019-06-14 20:19] samccann commented on #18189
Documentation fix:
 The faq section has an .rst anchor:

.. _keep_secret_data:

How do I keep secret data in my playbook?
+++++++++++++++++++++++++++++++++++++++++

See the following doc page on how to do internal links in rst using that _keep_secret_data anchor:
https://docs.ansible.com/ansible/devel/dev_guide/style_guide/index.html#adding-internal-links

[2019-06-14 20:20] s-hertel commented on #57862
The example is wrong, but it looks like returning a list of dictionaries for bypath is documented.
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/aws_ssm.py#L30-L32

Maybe a PR to fix the examples would be better, what do you think? Here's a working version of that example:
[code]

And here's a way you could loop over all values for all the paths:
[code]

[2019-06-14 21:11] geerlingguy commented on #45214
I'd also like to see this—for example, when you need to run a playbook in a quick container that's built in a Kubernetes environment, it's super easy to toss in an environment variable for the vault password, and a little more annoying to have to mount a file from a K8s secret.

[2019-06-14 21:13] lconnell commented on #57463
I know this was to capture the minor version as well, but I don't have access to any of the distribution variables even when using the patch.

`$ ansible my_hosts -a 'cat /etc/redhat-release' -u ansible -b -i inventory/red/hosts

my-host-01 | CHANGED | rc=0 >>
CentOS Linux release 7.5.1804 (Core)

$ ansible my_hosts -m setup -u ansible -b -i inventory/red/hosts | grep distribution

$ ansible --ver

[2019-06-14 22:11] tombrk opened #57872 "docker_container 404"
##### SUMMARY

When creating docker containers, ansible sometimes fails with a 404 Error:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

However, this also happens on Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The container is created.

##### ACTU

[2019-06-14 22:20] decourl commented on #57768
Thanks for your feedback.  I do not have capability to do a PR and I understand your position on this.  I found that configuring a reasonable timeout and ignoring errors on the task is a sufficient workaround for my requirements.  In the case of Proxmox specifically, there is also an Ansible module to target the hypervisor control plane which may also permit stop/starting containerized guests in a

[2019-06-14 22:28] ralphie02 opened #57873 "vmware_guest: Cloned machine's hostname is no longer updated"
##### SUMMARY

Cloning no longer customizes the new machine's hostname into the value specified in vmware_guest: name: vm_name
Tested on both 2.7.10 and 2.8.0.
Works on 2.7.10 but not on 2.8.0

##### ISSUE TYPE
- Bug Report
- Regression

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target:
centos 6,7

Controlled:
debian 9

[2019-06-14 22:34] bcoca commented on #45214
just create a script:

[code]
And point to it with `--vault-password-file `

[2019-06-14 22:41] dtrv opened #57874 "reboot module should work on local connections"
##### SUMMARY

reboot module fails on local connections, because it "would reboot the control node." this is true but so it is not useable in playbooks via ansible-pull. rebooting the host ansible-playbook is running on could be a reasonable desire.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2019-06-14 22:42] geerlingguy commented on #45214
But then I have to store the script somewhere, and modify the way I call the playbook. If ansible evaluates the script then that solution is nice... but still not as elegant in making Ansible more “12-factor”-ish

[2019-06-14 23:15] aciguru opened #57876 "Cannot run playbook again when contract filter is already in place."
##### SUMMARY

Unable to run the playbook again - stuck at adding a new contract filter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mso_schema_template_contract_filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS - Terminal

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-06-15 01:34] mvorisek opened #57880 "Restricted HTTP headers can not be set on Windows"
##### SUMMARY
Restricted HTTP headers can not be set on Windows like:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
[code]
If I remember correctly, in 2.6.x version this bug was not presented.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9.9

##### STEPS TO REPRODUCE
Run the code from summary.

##### EXPECTED RESULTS
File is sucessfuly

[2019-06-15 02:28] connect2aameer commented on #57836
No, I have not used "override". But it is set to '$true ' by default.

[2019-06-15 03:24] kenyon opened #57881 "ansible(1) unable to parse inventory source provided as absolute path"
##### SUMMARY
Providing an absolute path to `ansible --inventory` causes it to fail to parse the inventory file. Works fine when provided a relative path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No configuration, installed using pip.

##### OS / ENVIRONMENT
Debian Linux 9.9 (stretch)

##### STEPS TO REPRODUCE
[code]

#####

[2019-06-15 03:40] agaffney commented on #57881
This is due to "ansible" being misspelled (as "anisble") in the case with the absolute path.

[2019-06-15 03:40] #57881 closed, assigned to nobody

[2019-06-15 06:11] flowerysong commented on #57863
hashi_vault is a lookup plugin, not a module.

https://docs.ansible.com/ansible/latest/plugins/lookup.html#plugin-list

[2019-06-15 07:48] ShachafGoldstein commented on #57836
That is what I meant, try setting it to false in your playbook

On Sat, Jun 15, 2019, 05:29 connect2aameer <notifications@github.com> wrote:

[2019-06-15 07:52] ShachafGoldstein commented on #57880
please provide more information.
add the verbose output of the playbook and what OS is on the machine you're running it on? what powershell and .net versions?

[2019-06-15 08:29] willthames commented on #57673
[code]

just ignores the lock and key unicode character. I also had to delete some random tab characters present (line 12515 and several other lines). It also copes with the empty yaml definition at the end of the file (I thought we'd fixed that but apparently not)

The above still doesn't run in because of the lack of CustomResourceDefinitions, but that's a separate problem

[2019-06-15 08:58] mvorisek commented on #57880
Control machine: Debian 9.9
Target machine: WIndows 10 Pro x64

Can you confirm and fix asap?

[2019-06-15 10:31] jborean93 commented on #57880
Looks like we need something similar to https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_uri.ps1#L133 in win_get_url. I assumed we had it already but obviously not.

[2019-06-15 10:51] ShachafGoldstein commented on #57880
I might be able to make a patch later today if no one will beat me to it

[2019-06-15 10:51] connect2aameer commented on #57836
So again, in that case it won't override the existing settings.

[2019-06-15 11:35] #57740 closed, assigned to nobody

[2019-06-15 13:07] empire opened #57886 "Synchronize will change destination to local machine if module is failed"
##### SUMMARY

Synchronize module will change destination from remote server to local machine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Ubuntu 16.04

##### STEPS TO REPRODUCE

In following example, destination path is not exist and current user cant create it. At first, ansible will tr

[2019-06-15 13:16] empire commented on #57886
It seems that [this line](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L304) of code will change connection to local. I'm wondered [why](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L271) connection will change to local.

[2019-06-15 14:21] Akasurde commented on #57863
@GaboFDC Thanks for reporting this issue. I agree with @flowerysong, `hashi_vault` is a lookup plugin and you can find it's documentation [here](https://docs.ansible.com/ansible/latest/plugins/lookup/hashi_vault.html). Thanks.

[2019-06-15 14:21] #57863 closed, assigned to Akasurde

[2019-06-15 14:55] felixfontein commented on #43577
The documentation explicitly says: "This module is **not idempotent** when *state* is `import`, and will import the dump file each time if run more than once."

That importing fails is because the SQL dump probably does not contain instructions to drop the tables before creating them.

Making this idempotent is next to impossible, since the module would have to be able to parse SQL files and under

[2019-06-15 15:08] #43577 closed, assigned to nobody

[2019-06-15 16:47] Maelstromeous commented on #41861
Just hit this rather annoying bug :( Is the PR ready to go for this?

[2019-06-15 17:11] markuman commented on #41861
@Maelstromeous the PR is already opened and ready for review, see https://github.com/ansible/ansible/pull/41975

[2019-06-15 17:20] okgolove commented on #56233
It seems it works properly.

[2019-06-15 17:20] #56233 closed, assigned to nobody

[2019-06-15 18:05] Maelstromeous commented on #41861
Awesome, thanks!

On Sat, 15 Jun 2019, 18:12 Markus Bergholz, <notifications@github.com>
wrote:

[2019-06-15 21:40] TobleMiner opened #57895 "ipaddr filter broken on Archlinux"
##### SUMMARY
Sine about a week ago the ipaddr filter does not work as expected. Exact reason for the change is unclear.

It seems that https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/ipaddr.py#L633 incorrectly identifies queries for ipadresses from subnets by index as cidr lookups.

See #57896 for my suggested fix.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipad

[2019-06-15 22:28] sshnaidm opened #57899 "Ansible podman_image_info module doesn't have to fail if images doesn't exist"
##### SUMMARY
When running podman_image_info on list of images and one of them doens't exist, the module fails. It's not always a desired behavior. Sometimes we might want just to get data about existing images and continue, like it's done for example in docker_image_info module.
We need a special option for that.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
podman_image_info module

###

[2019-06-15 23:43] ShachafGoldstein commented on #57719
@thylocene - please confirm and close the issue or give us more information on the problem you are seeing

[2019-06-16 00:11] ShachafGoldstein commented on #57313
@abottomsHarris - Can you explain again what solved it for you, maybe we can see if the docs should mention it.

[2019-06-16 00:23] ShachafGoldstein commented on #38571
#56279 - fixed this

@jborean93 @nitzmahone  - this can be closed

[2019-06-16 00:25] ShachafGoldstein commented on #55283
@nitzmahone @jborean93  - This can be closed

Fixed in #56420

[2019-06-16 00:36] ShachafGoldstein commented on #33381
This issue is fixed in the docs site, can someone close?

[2019-06-16 00:36] #55283 closed, assigned to nobody

[2019-06-16 00:36] #38571 closed, assigned to nobody

[2019-06-16 00:54] ShachafGoldstein commented on #51865
Can this issue be closed?

[2019-06-16 03:32] #46461 closed, assigned to Akasurde

[2019-06-16 03:38] Akasurde commented on #55570
@ryanmerolle @kokasha Could you please check if https://github.com/ansible/ansible/pull/57896 work for you ? Thanks.

[2019-06-16 07:29] felixfontein commented on #57872
I can't reproduce this. You should really do as the error message says, and try to reproduce the error with `-vvv`. That would help a lot, since that would also tell us what exactly you provided to `docker_container` and where the error occured. Also, you should upgrade to either the latest 2.7.x release (2.7.11), or upgrade to 2.8.

It looks to me that `"{{network}}"` evaluated to a block of JSON

[2019-06-16 08:51] bngsudheer opened #57912 "yarn module is not idempotent"
##### SUMMARY

The yarn module is not idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yarn

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

Run yarn module on a path containing package.json

[code]

##### EXPECTED RESULTS

When no packages are installed or updated, the task must not

[2019-06-16 10:06] saurav955 commented on #25337
@th3penguinwhisperer  Make sure the SSH Key based authentication is enabled between remote nodes

[2019-06-16 10:37] sh0rez commented on #57872
Hi, I was able to reproduce this after an upgrade to ansible 2.8:

[code]

[2019-06-16 10:40] icicimov commented on #51646
@Akasurde thanks for looking into this. I applied the file under `/usr/local/lib/python2.7/dist-packages/ansible/modules/cloud/amazon/ec2_ami_copy.py` on ubuntu but unfortunately I still get the same error.

[2019-06-16 10:49] felixfontein commented on #57872
Hmm, unfortunately Ansible doesn't print the module's argument in case of a crash. Can you add a task with `debug: msg="{{_.proxy.network | default(_.container | default(_.name))}}"` before the `docker_container` task, and try to reproduce it again? The output of `debug` would be really helpful.

[2019-06-16 11:06] sh0rez commented on #57872
Okay, this is becoming awkward right now. After adding the debug task to the library, I cannot reproduce the error on the grafana host anymore.

[code]

However, the same error occurs on another set of hosts, using the same library:

[code]

The network exists:
[code]

It bothers me that it is not possible to reproduce it every time.

[2019-06-16 11:15] felixfontein commented on #57872
This is very strange indeed. Can you apply [this patch](https://github.com/ansible/ansible/pull/57913/files#diff-ff29a0f2b632e64441519bf4d9c578d3) to `docker_container` and try to reproduce it again? (Remove the `debug` tasks.) If you run `ansible-playbook` with `-vvv`, it should also dump the module arguments since the module (hopefully) won't crash anymore.

[2019-06-16 11:22] sh0rez commented on #57872
Hi, might need some guidance on patching ansible, not very familiar with the ansible under-the-hood and python in general

[2019-06-16 11:29] felixfontein commented on #57872
The easiest way is to create a directory `library` in the directory where your playbook is, and put the patched `docker_container.py` file into there. Ansible will then use this one instead of the one from its installation.

You can download the patched file here: https://raw.githubusercontent.com/ansible/ansible/3110703f21b154a3678e0a1e5c9248e10214ecb3/lib/ansible/modules/cloud/docker/docker_cont

[2019-06-16 11:33] sh0rez commented on #57872
Okay, we know more now:

[code]

[2019-06-16 11:44] felixfontein commented on #57872
Ok! As you can see, the problem isn't `docker_container` (except that it crashed), but that for some reason, you're passing the wrong information to it, namely the name of the network is broken:
[code]
**Why** `"{{network}}"` evaluates this is another question. Please note that
[code]
will result in the debug output `1`. When I remove the `set_fact` task, the output will change to `2`. So in your

[2019-06-16 12:26] juju4 commented on #57593
Confirm solved in current devel
https://travis-ci.org/juju4/ansible-harden-darwin/builds/546356665
Thanks!

[2019-06-16 13:11] mvorisek commented on #57880
The `win_uri` module works without any issue.

What is the actual advange of the `win_get_url` module, shouldn't it be deprecated in favor `win_uri`?

[2019-06-16 13:18] mvorisek opened #57917 "win_chocolatey - add version constraints"
##### SUMMARY

I propose to add version range constraint support to accept versions like [7.3, 7.4).

Chocolatey has no native support, hovewer the Chocolatey can lookup all versions like `choco list php --by-id-only -a` (or with `-e switch once https://github.com/chocolatey/choco/issues/1843 is solved). So I propose to allow to specify version by version range constraint, find the latest stable v

[2019-06-16 15:30] Akasurde commented on #51646
@icicimov Are you sure you have changes in the given file ?

[2019-06-16 17:14] overratedpro opened #57920 "dconf should apply GVariant format internally"
##### SUMMARY

Writing dconf values requires proper formatting (GVariant) or else the invocation will fail. Instead the module should internally applly GVariant formatting basing on the passed YAML variable type and only then pass prepared values to the underlying `dconf` command/lib. For example a string should be automatically single-quoted, a list stringified, etc.

For now I am using a dirty w

[2019-06-16 22:11] sshnaidm commented on #46362
Started to work on this

[2019-06-16 23:20] jborean93 commented on #57880
They serve 2 different purposes;

* `win_get_url`: Downloads a file to the filesystem of the remote host
* `win_uri`: Allows you to invoke HTTP commands like `GET`, `POST`, `DELETE`, etc

While `win_uri` can be abused as a `GET` operation to get the contents of a web request and put into a file in a separate task, this is highly inefficient and has problems when dealing with binary content or a la

[2019-06-17 00:45] x-yuri opened #57925 "Facts are not gathered when import_playbook is not marked with current tag"
##### SUMMARY

You include playbook `p2.yml` and tag it with `t1`. Then you tag one of the tasks in playbook `p2` with `t2`. Now if you run `p1.yml` with `--tags t2`, facts in `p2.yml` won't be gathered.

That is, no way to execute part of a tagged imported playbook that uses facts. You've got to either untag it, or execute it whole.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSI

[2019-06-17 01:28] Hickory420 commented on #57822
Thank you @D3DeFi I commented out `hostid:` and it successfully adds the host to zabbix on the first run and does not fail on subsequent runs. I had a look at changes made in #57844 and it looks good to me!

Many thanks.

[2019-06-17 01:28] #57822 closed, assigned to nobody

[2019-06-17 02:54] #56934 closed, assigned to Akasurde

[2019-06-17 03:44] hexdump0x0200 opened #57929 "junos_netconf: makes changes in check mode"
##### SUMMARY

Makes changes in check mode
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_netconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

junos: any version
os: debian 9.9
python: 2.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

In check mode, the device configuration should not change.

##### ACTUAL RESULTS

The device configu

[2019-06-17 03:53] Akasurde commented on #57925
@x-yuri Thanks for reporting this issue. This issue is already reported [here](https://github.com/ansible/ansible/issues/57362). Add your comments and findings in #57362. Thanks.

[2019-06-17 03:53] #57925 closed, assigned to nobody

[2019-06-17 04:28] #39385 closed, assigned to nobody

[2019-06-17 05:31] maclarensg commented on #48447
Hi All,

I've encounter the same issue and I believe to have figure this out.

If the ssh_private_key_file is  `-----BEGIN OPENSSH PRIVATE KEY-----` openssh format, this will scream "Private key file is encrypted". Because, paramiko is support RSA key `-----BEGIN RSA PRIVATE KEY-----` if the key header is not RSA format, paramiko module will deem the private key is encrypted even it is not..

To m

[2019-06-17 06:36] rokukapsch opened #57933 "docker_container module does not allow to start remotely Windows Containers with exposed ports and NAT networking"
##### SUMMARY
docker_container module does not allow to start remotely Windows Containers with exposed ports and NAT networking.
Docker error: Windows does not support host IP addresses in NAT settings

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2019 with Containers

[2019-06-17 07:16] felixfontein commented on #57933
The workaround with Ansible < 2.8 wasn't idempotent I assume. If you have a good idea how to fix this without breaking idempotence, I'd be happy to hear. A distantly related problem (with the same underlying problem) is #40258, you can find some discussion about why `docker_container` does it this way there.

[2019-06-17 07:28] rokukapsch commented on #57933
How can the implementation be idempotent without fixing the container to a specific network?
Also the default network may change, or is this assumption wrong?
I think the implementation assumes that there is always the default bridge used in case no network is defined, but this is not true for Windows Containers.

[2019-06-17 07:42] jap opened #57934 "ansible package module on freebsd regression: fails with 2.8.1"
##### SUMMARY
Trying to do some routine package upgrades on our FreeBSD 11 servers using ansible fails with the following error:
[code]

This only happens with ansible 2.8.1; downgrading to 2.7.7 makes it work again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
The target machine runs FreeBSD 11.2 on

[2019-06-17 07:45] Fred-sun commented on #57783
@MyronFanQiu Will you create a PR to fix this bug? Thank you very much!

[2019-06-17 07:49] mnecas commented on #57545
close_me

[2019-06-17 07:53] #57545 closed, assigned to nobody

[2019-06-17 07:58] rokukapsch commented on #57933
We are currently trying to work around by setting network_mode to "nat" and following patch:

--- /usr/local/lib/python3.6/dist-packages/ansible/modules/cloud/docker/docker_container.py.orig        2019-06-17 07:54:10.288843286 +0000
+++ /usr/local/lib/python3.6/dist-packages/ansible/modules/cloud/docker/docker_container.py     2019-06-17 07:54:41.064980271 +0000
@@ -1406,6 +1406,8 @@
     @proper

[2019-06-17 08:36] bmalynovytch commented on #50096
@pratikgadiya12 no need to ping / cc as we already receive notifications of every update

[2019-06-17 08:38] mvorisek commented on #57880
@jborean93 `win_uri` has `dest` option to save to file, what is exactly the advantage of the the `win_get_url`?

[2019-06-17 09:05] Tomorrow9 opened #57937 "VMware: request removing disk controller feature for vmware_guest_disk"
##### SUMMARY

vmware_guest_disk module can be used to add, configure, remove disks, we also want to use it to removing disk controller if there is no disks attaching to it.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_disk
##### ADDITIONAL INFORMATION

This is used to remove the disk specified.
[code]
Maybe this can be used to remove the specified disk controller if there i

[2019-06-17 09:10] jneuendorf commented on #52663
@MaxBab Hey, could it be that the comment only exists in the dumped public key file (and not in the returned `public_key` string)?

[2019-06-17 09:27] ShachafGoldstein commented on #57880
If I'm not mistaken win_get_url supports other protocols like ftp

On Mon, Jun 17, 2019, 11:39 Michael Voříšek <notifications@github.com>
wrote:

[2019-06-17 09:40] justjais commented on #57447
I have raised a PR to fix the respective issue, once merged in `devel`, shall create a backport for the fix in `2.8`

[2019-06-17 09:48] mvorisek commented on #57880
@ShachafGoldstein Based on the docs the `win_uri` supports ftp as well, but no `proxy`nor `checksum` nor `force` options can be set.

As the non-Windows `uri` supports these parameters, it will be great to implement the missing options in the `win_uri` and then use this module for the `win_uri` module to provide consistend user experience.

[2019-06-17 10:11] AnonJo commented on #57470
@abulimov @bcoca I have checked the source code and it seems that the permissions parameter are passed through to the `setfacl`command without futher verification.

So it is perfectly possible to set `rwX`to existing files and directories.

Maybe this can be documented in the source code and in the official Ansible documentation to let the people know this possibility.

What do you think? Do I hav

[2019-06-17 10:25] jborean93 commented on #57880
3 main advantages that I can think off just off the top of my head;

* Idempotency - `win_get_url` will check if the file has already been downloaded before it replaces it and reports a change, `win_uri` does not
* Checksum verification - `win_get_url` can validate the downloaded file matches a checksum, `win_uri` cannot
* Memory limitations of win_uri - `win_get_url` will buffer the downloaded fi

[2019-06-17 10:41] empire commented on #57886
Quick fix is delegating to localhost in synchronize task. I am not sure this issue is a bug or not.

[2019-06-17 11:11] petemounce opened #57941 "A Windows OpenSSH equivalent of ConfigureRemotingForAnsible.ps1?"
##### SUMMARY
In the same way that @trondhindenes and others created ConfigureRemotingForAnsible.ps1, would a similar ConfigureOpenSSHForAnsible.ps1 be welcome?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Windows OpenSSH

##### ADDITIONAL INFORMATION

The script I currently use (successfully!) within google-cloud is as follows. It:

1. makes an administrator-user (I'm using packer to pr

[2019-06-17 11:11] nerijus opened #57942 "zabbix_template: RuntimeError: dictionary changed size during iteration"
##### SUMMARY

When using module: zabbix_template I get RuntimeError: dictionary changed size during iteration

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 30

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-06-17 11:32] MaxBab commented on #52663
@jneuendorf
Hi.
Just checked it. You are right. The comment is not returned with the public_key string.

Could you open an issue for this?
The fix is pretty simple. I will work on this shortly.

[2019-06-17 11:33] nerijus commented on #57942
#54883 fixes the warning, but `RuntimeError: dictionary changed size during iteration` still exists. Any idea why?

[2019-06-17 11:36] datacubed opened #57944 "boto3 ec2_instance_facts cant connect to AWS invalid endpoint"
##### SUMMARY
Been using boto/boto3 with my ansible deploys for a few years. I believe recently either an update in ansible or boto has me stumped.
I'm getting "Couldn't connect to AWS: Invalid endpoint: <ec2 dns address>"

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 14 on vagrant box.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Connect as usual and gather them facts

[2019-06-17 12:02] Akasurde commented on #57944
@datacubed Thanks for reporting this issue. I think you may not require to specify `ec2_url` since you are specifying `region`. Try removing `ec2_url` and re-try. Thanks.

[2019-06-17 13:12] ikke-t commented on #46362
I also spend a moment looking at this at some point, looking for time to do it, which never happened. There would be a way to re-use the awx kubernetes templates, and build it all with podman play kube. At the time I got stopped due podman didn't do volumes from play kube, but they fixed it after I created ticket about it.

Good luck!

[2019-06-17 13:21] abottomsHarris commented on #57313
@ShachafGoldstein  @tbennett6421
My solution:
1. Commenting out the hostname line entirely
2. Ensuring the OU path was the following:
[code]

From some minimal reading, it appears using the hostname line attempts to change the hostname of the machine that you're joining to the domain (e.g., if it was 'hostnameA' off-domain but my hostname line said 'hostnameB' then it would become "ANDREWS\hostnam

[2019-06-17 13:25] ShachafGoldstein commented on #57313
I think we should add something to the docs about this issue and I'll look into it in the next few days

[2019-06-17 13:38] DoctorKM opened #57948 "Netbox_interface: Adding multiple interfaces"
##### SUMMARY

Error: "Multiple results found when searching for key: device" while trying to add multiple interfaces to a device.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

netbox_interface
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 7 Core
##### STEPS TO REPRODUCE

Add a few devices to Netbox, then try to add multiple interfaces to one of them in one task (I was using

[2019-06-17 13:39] turb commented on #52147
notabug

[2019-06-17 13:40] turb commented on #52215
notabug

[2019-06-17 13:40] turb commented on #50015
bug_resolved

[2019-06-17 13:41] marcinpraczko opened #57949 "Ansible 2.8 not respecting Python VirtualEnv"
##### SUMMARY
Looks like working with Ansible 2.8 and Python virtual environment is no longer working as expected, and Ansible is using predefined (fallback) python interpreter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible-core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

ansible-playbook -vvv -i hosts az_creat

[2019-06-17 13:45] #52215 closed, assigned to nobody

[2019-06-17 13:45] #52147 closed, assigned to nobody

[2019-06-17 13:45] #50015 closed, assigned to nobody

[2019-06-17 13:52] abottomsHarris commented on #57313
For reference, the 'testing' ou didn't exist before and Computers that I was attempting to use before was a built-in but was not under the groups/users tab on the DC. I manually created 'testing' ou and then was able to join successfully.

Given the simplicity of the powershell command as my workaround, maybe I have confused the issue by specifying a 'domain_ou_path' at all. I get a successful joi

[2019-06-17 13:56] aceeric opened #57950 "Support documentation as part of Ansible"
##### SUMMARY
I think it would be useful to provide an Ansible "documentation" module. IMO this is cleaner looking that commenting

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
New Ansible module: "docs". E.g.:
[code]

[2019-06-17 14:04] ShachafGoldstein commented on #57313
I see, no doc fix is needed. just close the issue then

[2019-06-17 14:14] ITrustSI opened #57951 "docker_swarm: Ansible does not consider a node as part of the Swarm when it is"
##### SUMMARY
When failing to join a Swarm, a node could end up in an error state without a NodeID. Trying to make it leave the swarm using _docker_swarm_ will not work (Ansible answer: "This node is not part of a swarm.").

https://github.com/ansible/ansible/blob/795cb90367c3f73ba1126193ee792df73ebe4b89/lib/ansible/module_utils/docker/swarm.py#L69

##### ISSUE TYPE
- Bug Report

##### COMPONENT N

[2019-06-17 14:21] bcoca commented on #57950
`debug: msg... verbosity=10`

[2019-06-17 14:28] mkrizek commented on #51615
Closing as per https://github.com/ansible/ansible/pull/53042#issuecomment-469842324.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-17 14:28] #51615 closed, assigned to nobody

[2019-06-17 14:42] bougar opened #57952 "Symbolic mode permission to remove exec from files maintaining it on directories not working properly"
##### SUMMARY
Using permission symbolic permission '-x+X' is not removing exec permission from files with exec permission set

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Debian

##### STEPS TO REPRODUCE
1. Create a directory tree with multiple files and directories
2. Set exec permission on files inside this directory
[code]

[2019-06-17 14:50] bcoca commented on #57934
this is not an issue with `package` but the underlying OS packaging module (probably `pkgng`) try executing directly with -vvv and post that output here

needs_info

[2019-06-17 14:53] bcoca commented on #57362
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

By adding the tag to the `import_playbook` you are also tagging the `gather_facts`, you use a different tag on the tasks imported, but

[2019-06-17 14:53] #57362 closed, assigned to nobody

[2019-06-17 15:29] sivel commented on #57950
Duplicate of https://github.com/ansible/ansible/issues/16579

[2019-06-17 15:31] raptorr commented on #57543
Problem solved: password located in group_vars file was incorrect. But it gives me wonder, b/c cli variables have the highest precedence, why ansible chosen to pass password located in group_vars file?

[2019-06-17 15:33] sivel commented on #57543
CLI variables (excluding --extra-vars) have the lowest precedence. https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-17 15:33] #57543 closed, assigned to nobody

[2019-06-17 15:37] datacubed commented on #57944
Ah man, this is literally it. It's not needed here at this point. I must have added this morning in a panic and forgot lol.
This was my stupidity, this should be closed asap.

Everything works now :)
Thank you

[2019-06-17 15:38] raptorr commented on #57543
Yes, silly me. I read it so many times, and somehow miss that part.

[2019-06-17 15:47] #51439 closed, assigned to nobody

[2019-06-17 15:48] kfattig commented on #57862
Those examples work as expected, and are very illustrative. Thank you! It seems logical to update the examples rather than change the behavior of a lookup people are using.

I can submit a PR with new examples, but I could use some more clarification on one more thing.  The documentation (and your first sample) implies that it's possible to match multiple paths, resulting in multiple dictionaries

[2019-06-17 15:51] rpelisse commented on #37707
By the way, something similar needs to be added for -cacert. I may be wrong, but it seems you can't use the -keystore option with Java 11 to add a certificate to the existing keystore:
`
"msg": "Module require existing keystore at keystore_path '/opt/java/jdk-11.0.1+13/jre/lib/security/cacerts'"
`
Playing with the keytool command line, I found out that this no longer work in JDK11:

`/opt/java/jdk

[2019-06-17 15:57] Akasurde commented on #57944
Closing this as per https://github.com/ansible/ansible/issues/57944#issuecomment-502735637

[2019-06-17 15:57] #57944 closed, assigned to Akasurde

[2019-06-17 16:14] samdoran commented on #57463
@lconnell That seems like a separate issue. Please open another issue with a simple reproducer and details about the target host. In my testing I am not able to duplicate this, so we'll need to troubleshoot that in its own issue.

[2019-06-17 16:25] samdoran commented on #57732
Thank you for the information. I just wanted to verify this isn't a regression. Please submit a PR that adds support for gathering facts on Nutanix AHV, including tests.

[2019-06-17 16:28] #57768 closed, assigned to nobody

[2019-06-17 16:31] #56471 closed, assigned to nobody

[2019-06-17 16:36] sshnaidm commented on #46362
Created a PR https://github.com/ansible/ansible/pull/57956, still polishing it and testing. Will appreciate any help with reviews and/or testing.
The known issue currently is sometimes might be not working "command" overriding, still looking into it.
Calculation of differences between running and configured container (for better idempotency) is not implemented yet, will do in next patches.

[2019-06-17 16:43] samdoran commented on #57874
Removing this failsafe is risky. Rebooting a production control node that is running other jobs could be very bad. Also, using the `reboot` plugin on the control node negates many of the benefits, i.e., successful reboot validation as well as running a post-reboot command.

The best way to create a fire and forget reboot of a system or reboot a system using `ansible-pull` is to use `command` or `s

[2019-06-17 16:43] #57874 closed, assigned to nobody

[2019-06-17 16:54] guymatz opened #57958 "changed_when in a loop gets lost"
##### SUMMARY
changed_when is not reflected in the initial output.  Only in the summary.

Both tasks evaluate as "ok" in this output, however only one is ok, which is reflected accurately in the summary output

PLAY [all] *******************************************************************************************************

TASK [Gathering Facts] **************************************************

[2019-06-17 17:27] igorhara commented on #57247
any updates in this?

[2019-06-17 17:45] ikke-t commented on #46362
Never mind my previous commit, I didn't read the topic. I was thinking of another issue, it was about awx and podman. Regarding calculations, this issue was made for it, perhaps there is something for you: https://github.com/containers/libpod/issues/2600

[2019-06-17 17:48] tyler-8 commented on #57376
Here's a list of VM parameters:

[code]

[2019-06-17 17:50] igorhara commented on #57247
I ask it because we currently use ansible 2.6 and it works nicely. But updating to ansible 2.7 or 2.8 it stops working. We could not find a workaround and if this bug is not fixed we will have to move away from ansible in the future.

[2019-06-17 17:58] kustodian commented on #45839
Any updates?

[2019-06-17 18:03] DarrienG opened #57961 "k8s plugin does not properly delete deployments"
##### SUMMARY
When setting state for a deployment from present -> absent, the deployment is deleted, but the replicaset is not scaled to 0, so the pods the deployment created are still active.

The behavior is idiosyncratic to `kubectl` which scales down the corresponding replicaset when running `kubectl delete deploy $SOME_DEPLOYMENT`

Statefulset does not appear to be susceptible to this since i

[2019-06-17 18:24] tcicone opened #57963 "approle authentication does not allow mount_point to be passsed, only for ldap"
When authentication using approle, the mount_point parameter is not passed to hvac.  The following code update allows passing of mount_point.

/usr/lib/python2.7/site-packages/ansible/plugins/lookup/hashi_vault.py

    def auth_approle(self, **kwargs):
        mount_point = kwargs.get('mount_point')
        role_id = kwargs.get('role_id', os.environ.get('VAULT_ROLE_ID', None))
        if role_id i

[2019-06-17 18:35] guhcampos commented on #57677
@lolcube I just experienced this error and stumbled up here. In my case I had `path: /home/username/.ssh` - so pointing to the directory, not the file itself.

After finding this issue it became clear I hadn't read the documentation properly, so changing it to `/home/username/.ssh/id_rsa` fixed the issue for me at least.

[2019-06-17 19:10] vpopescu opened #57965 "azure_rm_sqldatabase - specify sku?"
##### SUMMARY
I can't seem to specify the sku when creating a SQL Database. I am not sure if "Edition" is supposed to be the Sku, but I specify edition "Basic" and I get edition "Standard" created.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_sqldatabase

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux (WSL / Windows 10)

##### STEPS TO RE

[2019-06-17 19:25] #57880 closed, assigned to nobody

[2019-06-17 19:56] wieslaw-decent commented on #57265
Same here! Changing from `location` to `zone` fixes the issue for me as well.

[2019-06-17 20:07] jborean93 commented on #57941
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * Having one of these scripts is a bit of a maintenance nightmare, people have

[2019-06-17 20:07] #57941 closed, assigned to nobody

[2019-06-17 20:40] tcicone opened #57970 "approle authentication does not take mount_point parameter"
##### SUMMARY
approle authentication does not take the mount_point parameter, only ldap and user authentication uses it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/lookup/hashi_vault.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Here's the broken code snippet:
[code]

##### OS / ENVIRONMENT
RHEL 7.6

##### STEPS TO REPRODUCE
Passing the mount_point parameter

[2019-06-17 20:57] #57792 closed, assigned to nobody

[2019-06-17 21:33] #57427 closed, assigned to nobody

[2019-06-17 21:47] FragmentedPacket commented on #57948
@DoctorKM I was able to reproduce your issue when there is more than one device with `R1` in the name. I will get a PR pushed up to fix that and then link it to this issue.

[2019-06-17 21:55] gnagorski opened #57972 "XML files created by the bigip_asm_policy_fetch module are empty"
##### SUMMARY
XML files created by the bigip_asm_policy_fetch module are empty.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_asm_policy_fetch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target device: BIG-IP 12.1.3.1

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A file at /tmp/asm-export/ASM-POLICY.xml with the settings of ASM-POLICY.

[2019-06-17 21:57] lucastheisen commented on #55388
@fabianvf , i monkey-patched my `module_utls/k8s/common.py` to simply print out the exception at the end of the message:
[code]
It _works_, though you may want to just provide different messages for each exception type.  In any case, surfacing the _true_ error would have eliminated hours of digging through source to figure out i am running into [this issue](https://github.com/openshift/origin/issu

[2019-06-17 22:05] FragmentedPacket commented on #57948
@DoctorKM Can you please test the PR and then approve the changes, and then leave a comment to "shipit"?

Thanks for all your bug reports. I really appreciate them and your patience for using these modules since they're in their infancy!

[2019-06-17 22:28] StephenGevers opened #57974 "Windows setup module inconsistent with Linux setup module and custom fact_path"
##### SUMMARY

We have set up a local facts directory at an alternate location on some of our machines because we do not have root access and cannot create the /etc/facts.d directory.  We added the configuration fact_path=<custom fact location> in the ansible.cfg file such that it points to the Linux location where we can create our custom facts.  On Linux hosts that where the directory doesn't ex

[2019-06-17 22:29] DanyC97 commented on #50617
i'm hitting the same issue on 2.8.1, any help/ workaround much appreciated !
cc @Akasurde @dav1x @goneri @lparkes @pgbidkar @warthog9 -> any help would be much appreciated !

[2019-06-17 22:45] DanyC97 commented on #50617
@goshkis @tchernomax - as author/ reviewer do you have any thoughts?

[2019-06-17 22:48] ageis commented on #52971
I have this same issue and I'm not sure what the deal is, or what dependency is needed. This is on Debian stretch, with tar, tar-scripts, coreutils, are installed.

[code]
- name: download and extract go
  unarchive:
    src: "https://dl.google.com/go/go1.12.6.linux-amd64.tar.gz"
    dest: "/usr/local/go"
    remote_src: yes
    list_files: yes
    owner: root
    group: root
[code]

[2019-06-18 01:29] luckylittle commented on #57780
This is a duplicate of #30411. Closing.

[2019-06-18 01:29] #57780 closed, assigned to nobody

[2019-06-18 01:32] 1efty commented on #57362
@bcoca based on your comment, am I understanding properly that: the "invisible" setup task (which is ran when `gather_facts: true` at the playbook level) receives tags when used with import_playbook ? My intuition leads me to think that if `gather_facts: true` is set, the setup task should have the `always` tag.

[2019-06-18 01:57] MyronFanQiu commented on #57965
@vpopescu Thanks! I checked it and it seems that the Python SDK has changed its API. Besides, the sql database SDK doesn't support multi-API version. We will follow up this bug and fix it as soon.

[2019-06-18 01:58] MyronFanQiu commented on #57965
@MyronFanQiu @zikalino @yungezz

[2019-06-18 03:31] hidekuro commented on #45214
@geerlingguy There is no problem.

[code]

First of all, running Playbook in the k8s environment is a very special purpose. normally, containerized apps is running on immutable infrastructures.

[2019-06-18 05:06] bcoca commented on #57362
that is the default, unless you specifically assign a different task to the play, this is done to prevent plays that 'wont run any tasks' from running gathering (which is on by default).

[2019-06-18 05:19] ghost opened #57978 "Azure Ansible Module ignores the subscription's "isDefault" option."
##### SUMMARY
Azure Ansible Module seems to ignore the subscription's "isDefault" option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
` azure_rm_resourcegroup` and so on.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Runnning on Azure Cloud Shell.

##### STEPS TO REPRODUCE

1. Delete the tmp directory, ex. `/home/endr/.ansible`.
2. Run `ansible-playbo

[2019-06-18 06:01] chengchengmu commented on #57521
@sivel thanks for looking and finding the solution.
Smart and dodgy file lookup filter !

[2019-06-18 06:08] rajaspachipulusu17 commented on #57447
Fixed in PR #57938 so closing this bug

cc @justjais

[2019-06-18 06:08] #57447 closed, assigned to justjais

[2019-06-18 06:11] evgeni commented on #54420
Is this done via https://github.com/ansible/ansible/pull/57853? Or is this issue expect more docs to come?

[2019-06-18 06:33] Akasurde commented on #57963
duplicate of #57970

[2019-06-18 06:33] #57963 closed, assigned to nobody

[2019-06-18 06:38] ganeshrn opened #57985 "junos module fails to load from within a role"
##### SUMMARY

Module statirng with junos_* within a role fails to load with import error
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/action/junos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create a role with below structure
[code]

[code]

##### EXPECTED RESULTS

Should invoke the junos module within role with

[2019-06-18 06:46] Walback commented on #40973
i have exactly the same problem !

[2019-06-18 07:27] jbarotin commented on #10829
@sivel @mattclay @dagwieers  is my explanation enough clear ? Is my use of Ansible right or I have to do it an other way ?

[2019-06-18 07:30] Fred-sun commented on #44806
@zikalino Are you still following this issue? Could you please update the problem repair status? Thanks a lot!

[2019-06-18 07:56] zerok commented on #12480
Hi :) Would this be a good ticket for a first-time contributor? Right now it looks like I might have some time available in the next couple of months and would like to work on this 🙂

[2019-06-18 08:05] juanvalino commented on #56629
I'm having this issue too.

[2019-06-18 08:32] Fred-sun commented on #53299
@yuwzho

[2019-06-18 08:37] lijok opened #57988 "vmware_guest multiple cd's"
##### SUMMARY

would be great to have multiple cd support when creating vm's

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

simplest way to deploy vm's with kickstart is to load the kickstart file in an iso as a cd, given that only 1 cd is supported, this becomes impossible

[2019-06-18 08:38] sparampalli opened #57989 "azure_rm_deployment_facts fails to fetch the facts for the templates specified inline"
##### SUMMARY

azure_rm_deployment_facts module fails to get the facts for ARM deployment when a template is defined inline in azure_rm_deployment module of the playbook. Throws an error - ansible_azure_rm_deployment_facts_payload_b1lp_g/__main__.py\", line 233, in format_response\nAttributeError: 'NoneType' object has no attribute 'get'\n"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azur

[2019-06-18 08:40] sparampalli commented on #57989
**The solution would be as highlighted in Bold**
def format_response(self, item):
        d = item.as_dict()
        output_resources = {}
        for dependency in d.get('properties', {}).get('dependencies'):
            # go through dependent resources
            depends_on = []
            for depends_on_resource in dependency['depends_on']:
                depends_on.append(depends_on_resourc

[2019-06-18 08:41] Fred-sun commented on #52068
@just-dimitarslavkov Could you can give any feedback(according by the above comment)  when you're free? Thanks  a lot!

[2019-06-18 08:47] cindyteng commented on #40973
What is the status of this issue?
Did the problem solved?

I have almost the similar issue regarding uninstalling a package using .exe.

- name: Uninstall
   win_package:
   path: C:\Program Files\CollabNet\Subversion Client\uninst.exe
   product_id: auto
   arguments: /S
   state: absent

Output: ok

But when checked in Control Panel\Programs\Programs and Features
You can still see Collabnet Subv

[2019-06-18 09:10] jneuendorf opened #57990 "[openssh_keypair] Comment missing in returned `public_key`"
##### SUMMARY
The comment (provided as `comment` parameter) only exists in the dumped public key file but not in the returned `public_key` string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module `openssh_keypair`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.13.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2019-06-18 09:10] jneuendorf opened #57991 "[openssh_keypair] Comment missing in returned `public_key`"
##### SUMMARY
The comment (provided as `comment` parameter) only exists in the dumped public key file but not in the returned `public_key` string.

See https://github.com/ansible/ansible/issues/52663#issuecomment-502645374 and https://github.com/ansible/ansible/pull/53214 for details.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module `openssh_keypair`

##### ANSIBLE VERSION

[code]

####

[2019-06-18 09:11] robpblake commented on #50096
@pratikgadiya12 Looks like this has already been fixed by #51614

[2019-06-18 09:12] robpblake commented on #50096
This has been fixed by the commit from @MrStrix in #51614. This can be closed.

[2019-06-18 09:12] #50096 closed, assigned to nobody

[2019-06-18 09:13] jneuendorf commented on #52663
@MaxBab See https://github.com/ansible/ansible/issues/57991 😉

[2019-06-18 09:20] tchernomax commented on #50617
@DanyC97 sorry but I don't dev on vmware anymore

[2019-06-18 09:30] Walback commented on #40973
yes, i have the same problem when i mention the path, but it's not obligate, the product_id find the uninstaller file. So when i take off the path the product_id can find the uninstaller but can't run it like @doxxx

[2019-06-18 09:35] DanyC97 commented on #50617
no prob @tchernomax , if you have any pointers where i should look happily to dig myself and see if i can fix it.

[2019-06-18 09:41] #57929 closed, assigned to nobody

[2019-06-18 10:20] MaxBab commented on #52663
@jneuendorf Added a PR #57993

[2019-06-18 10:25] Akasurde commented on #57988
@lijok Thanks for reporting this issue. This feature is already requested here - https://github.com/ansible/ansible/issues/45407, you can expedited PR https://github.com/ansible/ansible/pull/51120 by testing and providing reviews. Thanks.

[2019-06-18 10:25] #57988 closed, assigned to Akasurde

[2019-06-18 10:28] jneuendorf commented on #52663
@MaxBab thank you, looks good! 😄

[2019-06-18 10:47] resmo commented on #43159
please test the fix in https://github.com/ansible/ansible/pull/43160

[2019-06-18 10:47] resmo commented on #43159
resolved_by_pr #43160

[2019-06-18 11:12] #57759 closed, assigned to nobody

[2019-06-18 12:08] Jalle19 commented on #56930
Dashes in group names are both valid INI and valid YAML, I don't see why I as a user should have to rename all my groups just because the names can't be used as Python variable names?

[2019-06-18 12:15] #57313 closed, assigned to nobody

[2019-06-18 12:18] Tomorrow9 opened #57998 "VMware: vmware_guest_disk_facts not return controller_bus_number of all disks"
##### SUMMARY

The facts of disks returned contain the "controller_bus_number" of the first controller, for disk attaching to the other disk controller, no "controller_bus_number" item returned.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VM is Windows 10 guest on vSphere 6.7U2.

##

[2019-06-18 12:29] nielspeen commented on #19814
I ran into this issue after switching from _ifupdown_ (Ubuntu) to _netplan_.io with _networkd_ as the renderer.

Apparently `hostnamectl` depends on dbus, but neither systemd nor netpan.io list it as a dependency.

`sudo apt install dbus` fixed the issue for me.

[2019-06-18 12:30] tecjam commented on #46152
I tried the devel ansible branch to see if the issue persists, but overwrite still does not work for me.
So the ansible script can not be run twice without causing this error:

[code]

[code]

[2019-06-18 12:41] willmerae commented on #34861
Updated [`yaml_ordered`](https://gist.github.com/willmerae/bb7735d6f1048eb9e0fa45bb7de6f46a) to make it compatible with Ansible 2.8.1

[2019-06-18 13:01] bhagyaravi commented on #43845
What is the solution to this problem.

We are seeing this problem with Openshift Online with verify_ssl set as false.

[2019-06-18 13:22] x-yuri commented on #19814
That's [one][1] of the reasons.

[1]: https://github.com/ansible/ansible/issues/19814#issuecomment-452726188

[2019-06-18 13:23] anis016 commented on #18189
Bit confused! what to point to the link: https://docs.ansible.com/ansible/devel/dev_guide/style_guide/index.html#adding-internal-links

[2019-06-18 13:34] samccann commented on #18189
Hi @anis016 and thanks for helping out with this!

So the fix is to add a link in the [playbooks_vault.rst](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/playbooks_vault.rst) file that points to the FAQ entry.  I suggest you add a link to the warning that is alread present at
https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/user_guide/playbooks_vault.rst#

[2019-06-18 13:35] samccann commented on #54420
Good catch, yes this is done!

[2019-06-18 13:35] #54420 closed, assigned to nobody

[2019-06-18 14:15] #56644 closed, assigned to nobody

[2019-06-18 14:32] bcoca commented on #12480
yes

[2019-06-18 14:37] seuf commented on #46152
Sorry, but I can't reproduce :
[code]
I can run it twice :
[code]
If you want to overwrite an existing dashboard, you have to set the dashboard uid.
You can use the [grafana_dashboard lookup plugin](https://docs.ansible.com/ansible/latest/plugins/lookup/grafana_dashboard.html) to retrive existing dashboards.

[2019-06-18 14:40] schegi opened #58001 "Failed to find exact match for etcd.database.coreos.com/v1beta2.EtcdCluster by [kind, name, singularName, shortNames]"
##### SUMMARY
Trying to deploy an Etcd cluster using the coreos etcd-operators custom resource EtcdCluster.
Additionally a simple query for resources of this kind using k8s_facts also does not work, it returns an empty list. (resource previously deployed using kubectl apply.)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
k8s_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-06-18 14:41] seuf commented on #51068
Some data are stored encrypted in grafana database, and the grafana API just return True is the value is set. So when the module compare the previous state and the current, it can't tell if the password has changed or not and apply it again.

[2019-06-18 14:43] Akasurde commented on #57990
Duplicate of https://github.com/ansible/ansible/issues/57991

[2019-06-18 14:43] #57990 closed, assigned to nobody

[2019-06-18 14:43] Akasurde commented on #57991
resolved_by #57993

[2019-06-18 14:50] tecjam commented on #46152
Thanks, I wasn't sure why you had suplied the uid.
Surely it would make more sense for the grafana_dashboard module to handle that automatically if it detects the dashboard already exists and trigger the delete / update itself as @marcinpraczko had suggested?

[2019-06-18 15:08] samdoran commented on #56446
There are several issues with this line:

- nested single quotes
- nested moustaches '{{ {{ }} }}'

[code]

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-18 15:08] #56446 closed, assigned to nobody

[2019-06-18 15:10] samdoran commented on #57011
May be a duplicate of #57011.

[2019-06-18 15:11] #57011 closed, assigned to nobody

[2019-06-18 15:13] samdoran commented on #57482
Fixed in 674a57c3fa9abe1ccc6a22d2d5cff4ba8a8ba0b8

[2019-06-18 15:13] #57482 closed, assigned to nobody

[2019-06-18 15:20] sky-joker opened #58003 "[Junos] Unsupported Parameter in the junos_vlan Module."
##### SUMMARY
I executed Playbook based on EXAMPLE of the junos_vlan module.

**inventory**

[code]

**playbook**

[code]

The following error occurred while running Playbook.

[code]

`vlan_name` does not seem to be defined anywhere.

https://github.com/ansible/ansible/blob/cc00f21a358923c03e334e245d58df0853d10661/lib/ansible/modules/network/junos/junos_vlan.py#L162
https://github.com/ansible/ans

[2019-06-18 15:20] samdoran commented on #57840
This is more a feature request to add iOS support to the `user` module.

[2019-06-18 15:38] bcoca commented on #57949
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-18 15:38] #57949 closed, assigned to nobody

[2019-06-18 15:39] samdoran commented on #57951
!component =ansible/lib/ansible/module_utils/docker/swarm.py

[2019-06-18 15:40] samdoran commented on #57952
This is a feature request for the `file` module since it currently does not handle symbolic permissions the same way as `chmod`.

[2019-06-18 16:00] bcoca commented on #57437
i cannot reproduce, can you give a simple reproducer?

needs_info

[2019-06-18 16:00] anis016 commented on #18189
Thank you @samccann ! Thank you for a clearer explanation.

[2019-06-18 16:13] kvprasoon opened #58006 "Document windows module utils functions"
##### SUMMARY
Can we document all available helper functions for Windows modules.

[code]

And the public C# methods as well.

##### COMPONENT NAME
Windows modules.

[2019-06-18 16:23] #18189 closed, assigned to nobody

[2019-06-18 16:51] anis016 commented on #57485
Hi @samccann ! Is it okay to add a warning note for this rather than adding in the note? something like below?

Warning: If you have a tag defined at the playbook level, the gathering of the facts will be skipped.

[2019-06-18 17:31] samccann commented on #57485
@anis016 sounds good. Just include that gathering facts is skipped if you run the playbook with a tag that is not defined at the playbook level.

[2019-06-18 18:05] #54871 closed, assigned to nobody

[2019-06-18 18:15] DoctorKM commented on #57948
@FragmentedPacket Yes, it is working for me,  just approved and commented it. Also, when searching for possible cause of this problem, I discovered that I can use device ID instead of device name. Is this intentional behaviour?

Well, no problem, these are just things that I encountered when using these really useful modules!

[2019-06-18 18:16] michael-lancaster opened #58013 "win_dns_record ERROR! no action detected in task"
##### SUMMARY
When trying to use the win_dns_record module I recieve "ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_dns_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Windows Server 2012 R2
Host: CentOS 7

##### STEPS TO RE

[2019-06-18 18:40] bcoca commented on #57485
duplicate of  #57852

[2019-06-18 18:40] #57485 closed, assigned to nobody

[2019-06-18 18:41] bcoca commented on #57416
This is an known issue with `apt` it cannot verify the virtual package was installed, as such it is not something we can fix from the module.

[2019-06-18 18:41] #57416 closed, assigned to bcoca

[2019-06-18 19:12] pborowicz commented on #49625
I was able to get this working by changing these lines in my ansible.cfg:

become_method=doas
ssh_args = -o ServerAliveInterval=50
sudo_exe = "sudo -H -S -n rootsh --"

It also worked with just a "sudo rootsh"

[2019-06-18 19:15] Qalthos commented on #52293
So I'm not super familiar with pex, but I've done a bit of research and noodling around to try to understand the issue.

The biggest issue for pex is that ansible expects the `ansible-connection` script to be a python script on disk somewhere, which is probably not the case if the only ansible you have is a pex file. The easiest workaround to that would be to have a python file that calls the appr

[2019-06-18 19:15] #52293 closed, assigned to Qalthos

[2019-06-18 19:21] bcoca commented on #17960
closed via https://docs.ansible.com/ansible/latest/user_guide/playbook_pathing.html

[2019-06-18 19:21] #17960 closed, assigned to bcoca

[2019-06-18 19:59] reecewebb commented on #48055
+1 on this.

We have a very large Redhat environment, installing the legacy NetworkManager-glib package is going to be a problem.

[2019-06-18 20:01] #40564 closed, assigned to nobody

[2019-06-18 20:01] ghost opened #58019 "fmgr_fwpol_ipv4 does not fail when "poolname" object doesn't exist"
##### SUMMARY
fmgr_fwpol_ipv4  is skipped instead of raising an error when "poolname" object doesn't exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fmgr_fwpol_ipv4

##### ANSIBLE VERSION
2.8

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
fmgr_fwpol_ipv4 should fail.

##### ACTUAL RESULTS
fmgr_fwpol_ipv4 is skipped:
[co

[2019-06-18 20:02] DanyC97 commented on #50617
in case someone else bumps into this issue, the behavior is:

* [configure_vapp_properties()](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1418) is being called as part of
* [reconfigure_vm()](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py#L2605) which is called when
* [vm exist](https://github.com/a

[2019-06-18 20:04] sivel commented on #57886
I haven't been able to verify this, largely because I haven't come up with a minimal creative way to try this.

However, my educated guess is that this is because we only instantiate the action plugin once, and then call it repeatedly.  Due to this, once we set `self._connection = new_connection` that changes the state used by synchronize to set up connections and delegations.

On the first iterat

[2019-06-18 20:06] DabeDotCom opened #58021 "[SOLVED] Tag/Dependency Inheritance"
##### SUMMARY

I know that Issue #20119 / PR #28942 have been closed/locked, but as I ran into the same problem, I thought I might add a little bit of clarity to my solution [see below] and perhaps recommend it be spelled out in the documentation.

(Obviously these are just snippets from a much larger, more convoluted «sigh» playbook setup...)

***hosts***
[code]

***site.yml***
[code]

***product

[2019-06-18 20:06] DabeDotCom commented on #57529
FWIW, I'm with @basos9: Fact Gathering seems like it would transcend Tagging (and anything else for that matter; I can't think of any situation where I would explicitly ***not*** want to gather facts beforehand... Otherwise, it just seems like a premature optimization. «shrug»)

PS — I'm sure the duplicate execution could be prevented with something like:

[code]

But then would I have to put that

[2019-06-18 20:13] DabeDotCom commented on #58021
PS — I was hoping this might show up as **"@DabeDotCom referenced this issue"** over in #20119, just as a way for people who Googled *that* issue to find their way to a potential workaround, but I guess since it was already locked/limited, those links are no longer automatically added...  :-(

[2019-06-18 20:17] mariolenz opened #58023 "Discussion: Splitting vmware_cluster into several modules"
##### SUMMARY
I think that a vSphere cluster is too complex to manage in one module. There are DRS, HA and vSAN with a lot of settings each. If you want to manage all possible configurations in one module, I think it gets too complex. Maybe we should split this up in a module vmware_cluster to create the cluster plus some basic settings and modules like vmware_cluster_drs, vmware_cluster_ha and vm

[2019-06-18 20:17] sivel commented on #57886
@empire I have submitted a PR with that above change. If you could test and let us know if this resolves your issue, we can work on getting it merged and backported.

https://github.com/ansible/ansible/pull/58022

needs_info

[2019-06-18 20:31] ssbarnea opened #58024 "HAS_AZURE_EXC does wrong import from azure library"
##### SUMMARY

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
HAS_AZURE is supposed to return True when azure credentials are defined but it fails because is trying do do a wrong import.

See https://azure-storage.readthedocs.io/_modules/az

[2019-06-18 20:50] bcoca commented on #57529
depends on your context, many peopel complained that 'unrelated hosts were getting fact gathered' in situations like the following:
[code]

[2019-06-18 21:33] felixfontein commented on #57872
I'm closing this since this is not a `docker_container` bug.

[2019-06-18 21:33] #57872 closed, assigned to nobody

[2019-06-18 21:47] andrew-niaid commented on #33010
This seems related. I found the copy module also deletes /dev/null if remote_src=True. To reproduce, I created a file with content, then try to zero it out by copying /dev/null to it.

[code]
This deletes /dev/null, which is quickly replaced with a regular file as other processes frequently try to read/write to it. I'm running ansible 2.8.0 on CentOS 7.6

[2019-06-18 21:53] ShachafGoldstein commented on #58006
in code? or in the doc site?

[2019-06-18 21:54] sivel commented on #33010
As of Ansible 2.4, a new parameter was added called `follow` that will dictate whether the `template` module will follow the symlink or not. Previous to Ansible 2.4, this was hardcoded as `yes`.  The default is now `false`.

With this change, the default behavior would prevent the OPs scenario from happening.

@andrew-niaid your problem sounds much different, and would be a separate issue.

If you

[2019-06-18 21:54] #33010 closed, assigned to nobody

[2019-06-18 21:56] ShachafGoldstein commented on #58013
can you please verify that the module does exist on the controller?

[2019-06-18 21:58] marcinpraczko commented on #46152
Thank you for reply @seuf - can you re-run test with:
1. No dashboard if ansible will allow to have UID
2. With dashboard and not provide UID.

As @tecjam suggested - my point was and still is that ansible by definition should work with 'desire state aka idepondency'. From my point of view this module is not doing this. I was not able re-run the same playbook without modification of code (as you s

[2019-06-18 22:27] trungdtran opened #58026 "Ansible 2.8 apt module error"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hello All,

I have Ansible 2.8.1 and Python 2.7.12. I tried to run the following playbook to upgrade the packages in a ubuntu host which also has Python 2.7.12. I got the ""The following modules failed to execute: setup\n  setup: MODULE FAILURE" in the Gathering facts part. Please advice. Thanks in ad

[2019-06-18 23:13] Devin82m opened #58028 "win_shell App Installs With Response Files Fail"
Hello, our company uses Ansible heavily in numerous large environments. We use Ansible for both Linux and Windows, but have encountered one common and strange issues when deploying (install or upgrading) Windows apps. Most times we have to use response files to install, repair, and uninstall applications in Windows because the installers were not created with command line parameters in mind. We ha

[2019-06-18 23:20] cowlinator commented on #52598
FYI, paramiko has released 2.5.0, which no longer uses deprecated cryptography calls.
https://github.com/paramiko/paramiko/releases/tag/2.5.0

[2019-06-18 23:22] trungdtran opened #58029 "Ansible 2.8.1 apt module has error "failed to execute setup""
##### SUMMARY
I have Ansible 2.8.1 and Python 2.7.12. I tried to run the following playbook to upgrade the packages in a ubuntu host which also has Python 2.7.12. I got the ""The following modules failed to execute: setup\n setup: MODULE FAILURE" in the Gathering facts part. Please advice. Thanks in advance.
name: Update and upgrade apt packages
hosts: host1
become: yes
tasks:
name: Update and upg

[2019-06-18 23:24] jborean93 commented on #58028
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-18 23:24] #58028 closed, assigned to nobody

[2019-06-18 23:39] trnubo commented on #43159
@resmo the PR #43160 does not always work. Take the output below for example

[code]

`xvdf` is the last part of udevadm output but `pvs` is still showing `sdf`. As per the comments in lvm.conf (see @ScarabMonkey comment https://github.com/ansible/ansible/issues/43159#issuecomment-455617738) lvm uses the `preferred_names` option not udevadm.

I see two solutions

1. ansible module needs to read lv

[2019-06-19 00:01] goniomdq commented on #57189
The issue is not resolved by adding the timeout.
This error still occurs when there are no yum processes running.

[2019-06-19 00:08] gio-salvador commented on #25718
Still an open issue 2 years later?

[2019-06-19 00:20] gio-salvador commented on #47437
I got this:
[code]
Please help.

[2019-06-19 01:30] luckylittle commented on #30411
+label affects_2.7

The same thing is happening in #57780 - `ansible-playbook` is waiting for `shell` module to finish on the remote host(s) and then it hangs forever when this action takes too long and numerous of "Cannot allocate memory" appear shortly before that. `strace` also shows the same thing as reported by other people here (**WNOHANG**).

What i don't understand is why certain timeouts

[2019-06-19 01:56] MyronFanQiu commented on #58024
@ssbarnea Thanks! We have seen your PR. It's a good job and we will try to merge that one.

[2019-06-19 02:05] MyronFanQiu commented on #57978
@endurancetest20380119  Thanks for opening this issue! We will track this one and let you know any update.

[2019-06-19 02:07] MyronFanQiu commented on #57989
@sparampalli Thanks for opening this issue! We will track this one and let you know any update.

[2019-06-19 02:49] kvprasoon commented on #58006
better if in doc site.

[2019-06-19 03:17] jborean93 commented on #58006
There are 3 main issues we have today that we would need to solve to properly address this issue;

1. We have no mechanism to align the generated docs with module_util code. Currently the limited documentation is manually written and gets out of date quite quickly, we could find a way to generate these docs from the util doc strings but that leads to the following 2 issues
2. Every line we add to

[2019-06-19 03:26] jmurphyau opened #58033 "ec2_eni_facts/ec2_eni_info supporting check mode"
##### SUMMARY

Today I get an error when using ec2_eni_facts (recently renamed to ec2_eni_info) when using it with check mode.. I can't see a reason why this shouldn't work and from what I can tell it's as simple as adding `supports_check_mode=True` the the `AnsibleAWSModule`/`AnsibleModule` arguments.

If it's this simple and someone can advise as such, I'm happy to put together a PR with this.

[2019-06-19 04:54] marcosgeorgopoulos opened #58037 "iosxr_banner reports deprecated network_cli but fails with netconf"
##### SUMMARY
Using iosxr_banner with network_cli works fine, but gives a deprecation warning for network_cli use. However the module crashes with an error when using netconf.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iosxr_banner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RP/0/0/CPU0:iosxr#show version brief
Wed Jun 19 04:52:11.653 UTC

Cisco IO

[2019-06-19 05:16] kvprasoon commented on #58006
For PowerShell, we can use `External Help` to document it externally and use [PlatyPS](https://github.com/PowerShell/platyPS) to generate it(using MAML external help). But I never did such things for c# and python.

[2019-06-19 05:23] burnitup opened #58038 "SROS: SAS-Sx only - configure command indicates it successfully ran, config not changed or saved"
##### SUMMARY

Attempting to change tacacs health checks on a number of  Nokia devices, two models used.

The application of the health check parameters and the admin save  are both successfully run on the SAR - the SAS-Sx doesn't get the config changed or the admin saved.  these devices are authenticating against TACACS - there is no indication the command was run in the TACACS logs or the SAS-Sx

[2019-06-19 05:43] jhawkesworth commented on #58013
Can you share an entire playbook that reproduces this?
The reason I ask is because I have had that error sometimes when there is a yaml syntax error somewhere in my playbook.
Also what result do you get when you run the playbook with -vvvvv ?

[2019-06-19 05:45] ganeshrn commented on #58037
@marcosgeorgopoulos Thank you for reporting this issue.
The issue is fixed on devel branch and will be backported to stable-2.8 as part of PR https://github.com/ansible/ansible/pull/58040.
Fix should be available in the next release of 2.8 version

[2019-06-19 06:18] mkrizek commented on #58026
Closing as duplicate of https://github.com/ansible/ansible/issues/58029.

[2019-06-19 06:18] #58026 closed, assigned to nobody

[2019-06-19 06:19] mkrizek commented on #58029
!component -lib/ansible/modules/packaging/os/apt.py

[2019-06-19 06:22] mkrizek commented on #58029
This has nothing to do with the `apt` module as the playbook execution never gets to the point to execute it. The message is clear, there is a problem with the `setup` module, which gathers facts. Please run `ansible-playbook` with `-vvv` and paste the output here so we can investigate. Thanks!

needs_info

[2019-06-19 06:43] vishwanathjadhav commented on #51480
Here is the fix for the issue:
Compared indexed dict data before iterating:

Ansible PR:
https://github.com/ansible/ansible/pull/58008

[2019-06-19 06:57] empire commented on #57886
Thanks @sivel, your patch fixed the problem. I test it against [2.8.1](https://github.com/ansible/ansible/blob/v2.8.1/lib/ansible/executor/task_executor.py#L741) and [2.7.11](https://github.com/ansible/ansible/blob/v2.7.11/lib/ansible/executor/task_executor.py#L704).

One simple way to re-produce this bug is synchronize to invalid destination (E.g., synchronizing to /root or /proc)

[2019-06-19 07:09] yungezz commented on #58024
@ssbarnea  thanks for reporting the issue. I think this should be related to azure storage package version in requirements.txt. what's azure-mgmt-storage package version when you met the error?

[2019-06-19 07:37] Vijendra07Kulhade opened #58042 "npm install Shared connection to <IP> closed."
##### SUMMARY
When trying to use npm module to install package getting this error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- name: npm install grpc
      npm:
        executable: /usr/local/bin/npm
        path: /app
        name: grpc
        version: 1.13.1
        unsafe_perm: true

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7.2

#####

[2019-06-19 07:53] nicolaibaralmueller opened #58043 "azure_rm_virtualmachinescaleset --generate-ssh-keys"
##### SUMMARY
azure-cli provides the functionality to generate ssh keys.

`az vmss create --admin-username testadmin --generate-ssh-keys`

azure_rm_virtualmachinescaleset does not provide this functionality.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachinescaleset

##### ANSIBLE VERSION

[code]

[2019-06-19 08:03] Walback opened #58044 "win_package "failed to run uninstall process""
##### SUMMARY
Win_Packag fails to uninstall package

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Running Ansible from Linux Debian 9

##### STEPS TO REPRODUCE
1. Install VLC media player from https://get.videolan.org/vlc/3.0.7.1/win64/vlc-3.0.7.1-win64.exe on the target machine or execute this playbook:
[code]
2. Execute a

[2019-06-19 08:14] machacekondra opened #58045 "oVirt: Add support to up/down the nic in ovirt_nic module"
##### SUMMARY

Based on:

 https://lists.ovirt.org/archives/list/users@ovirt.org/thread/K2A6P2DXQ5VQIHYYPVJSYHKLB4V5WRYC/

Add support set link up/down of the nic.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-06-19 08:14] machacekondra commented on #58045
@mnecas

[2019-06-19 08:14] Fred-sun commented on #57978
@endurancetest20380119 I try to reproduce the error. But I can't, As far as I know, the ID in az account only applies to the az instruction. Similar credential files are applied to playbook. Could you confirm your credentials and try again? Thank you very much!

[2019-06-19 08:16] sparampalli commented on #57989
Thank you. The fix is simple and already updated the fix for the issue in the latest comments.

Thanks,

P Srikantha

From: MyronFanQiu <notifications@github.com>
Reply-To: ansible/ansible <reply@reply.github.com>
Date: Wednesday, 19 June 2019 at 7:39 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: P Srikantha <srikantha.parampalli@avinetworks.com>, Mention <mention@noreply.github.com>
Sub

[2019-06-19 08:18] ssbarnea commented on #58024
@yungezz I can confirm that I was using latest azure sdk (which installs a newer azure-mgmt-storage package). This fix should allow us unping dependencies on azure, or at least helping us achieve this.

[2019-06-19 08:21] andyeff commented on #57949
I believe this might also be affecting me using a recently updated Ansible Tower 3.5.0 and Ansible 2.8

Ansible Tower detail pane shows environment in use is '/var/lib/awx/venv/ansible'

However job output fails because of missing Azure modules.
Suspicious line is: "discovered_interpreter_python": "/usr/bin/python"

[code]

[2019-06-19 08:24] ShachafGoldstein commented on #58044
Seems like this might be a duplicate of #40973 with quotes in the uninstall string breaking the string

[2019-06-19 08:42] Fred-sun commented on #54138
kindly ping

[2019-06-19 08:43] andyeff commented on #57949
Further investigation has shown that upgrading to Ansible 2.8 via the Ansible Tower bundle install has produced some unexpected side effects - the virtualenv 'appears' to be a false alarm at this point.

I have since run ```pip install --upgrade "ansible[azure]" , pip install --upgrade msrest msrestazure , pip install --upgrade azure-mgmt-iothub``` on my Tower nodes and this is now allowing the in

[2019-06-19 08:48] MyronFanQiu commented on #58024
@ssbarnea I checked the version SDK which is in the requirement.txt
https://github.com/ansible/ansible/blob/ec95086b6940f0d1096705d5083290ecee236394/packaging/requirements/requirements-azure.txt#L28
 https://github.com/Azure/azure-storage-python/tree/03415faf77c7a3dfde00e1b84572346f8749e326/azure/storage.
If you install this version, you can correctly use the Ansible.
On the other hand, from my pe

[2019-06-19 09:00] LeaRedswan opened #58048 "fortios_firewall_address BadStatusLine Server has closed the connection"
##### SUMMARY
When using fortios_firewall_address module to create a firewall address object, if the state is present, the task failed with ('Connection aborted.', BadStatusLine('No status line received - the server has closed the connection',)). Create the object by curl, and setting state to absent, everything is fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fortios_firewall_address

[2019-06-19 09:02] srgvg commented on #57011
@samdoran how can this be a duplicate of self? ;-)
You closed this ticket referencing this ticket itself.
Could you correct this to the right issue number?

[2019-06-19 09:05] Fred-sun commented on #54440
@yuwzho The azure_rm_azurefirewall module already add in ansible2.9.0.dev0, Could we can close the issue? Please check! Thank you very much!

[2019-06-19 09:08] Fred-sun commented on #54914
@yuwzho

[2019-06-19 09:19] mamunozgonzalez commented on #58048
Hi @LeaRedswan
 I see you are using python2 which will be out of maintenance next December. Is it possible to your your tests with Python3?

[2019-06-19 09:25] varac commented on #27229
[Debian buster release is planned for July 6 2019](https://lists.debian.org/debian-devel-announce/2019/06/msg00003.html), and it [uses the nftables framework by default](https://wiki.debian.org/nftables).
A nftables module would be awesome to have soon !

[2019-06-19 09:47] #57642 closed, assigned to Akasurde

[2019-06-19 10:09] LeaRedswan commented on #58048
now i test it with python3

[code]

and get this error
[code]

[2019-06-19 10:12] mamunozgonzalez commented on #58048
ok, do you have the latest fortiosapi version? (pip freeze|grep fortiosapi)

[2019-06-19 10:16] LeaRedswan commented on #58048
fortiosapi==0.10.3

[2019-06-19 10:19] mamunozgonzalez commented on #58048
ok, please upgrade to latest. 0.10.8.
Also, I assume your FGT has a license and it is still valid?

[2019-06-19 10:23] machacekondra opened #58054 "oVirt: Support IPv6 in cloud_init param of ovirt_vm"
##### SUMMARY

This request is based on:

 https://lists.ovirt.org/archives/list/users@ovirt.org/thread/MLM7X2UDVV7ACJSNTGIJ433XRTN432VT/

Please provide IPv6 support for cloud_init in ovirt_vm module. oVirt API support it.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-06-19 10:39] machacekondra commented on #58054
!component ovirt_vm

[2019-06-19 10:39] machacekondra commented on #58054
@mwperina @mnecas

[2019-06-19 10:49] BrandonRichard opened #58055 "subnet 404 Client Error: Not Found for url"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-06-19 10:49] guest715 opened #58056 "Some IOS command responses cause a JSON failure that cause the task to fail"
##### SUMMARY

Some IOS command responses include content that is interpreted as a failure despite the command succeeding
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command
lib/ansible/plugins/terminal/ios.py
lib/ansible/plugins/connection/network_cli.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.0

##### STEPS TO REPRODUCE

Apply to

[2019-06-19 10:49] #58055 closed, assigned to nobody

[2019-06-19 11:06] LeaRedswan commented on #58048
i have tested python3 with fortiosapi 0.10.8, an get the error about a hour ago.
Currently it is the first module for the fortios api a have problems.

Yes, it is a fully licensed FortiGate 1500D.

[2019-06-19 11:18] nqb commented on #49294
Do someone have any workaround for this issue ?

[2019-06-19 11:45] mamunozgonzalez commented on #58048
Can you try with the ansible module available in this location?

https://github.com/fortinet-solutions-cse/ansible_fgt_modules/tree/master/v6.0.2
(this if for FGT 6.0.2)

Which fortios version do you have?

[2019-06-19 11:58] jautz commented on #56265
I apologize for the delay. After testing it with both 2.7.10 and 2.8.0 the behaviour is identical. That is, the problem persists.

[2019-06-19 12:02] Yajo commented on #21914
Since Ansible 2.8, it started telling:

<pre><font color="#75507B">[DEPRECATION WARNING]: evaluating variable_name as a bare variable, this behaviour will go away and you might need to add |bool to the expression in the </font>
<font color="#75507B">future. Also see CONDITIONAL_BARE_VARS configuration toggle.. This feature will be removed in version 2.12. Deprecation warnings can be disabled by se

[2019-06-19 12:05] lijok opened #58060 "VMware: vmware_guest object has no attribute maxMksConnections"
##### SUMMARY

vmware_guest object has no attribute maxMksConnections
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

use the module to spin up a vm with state present, then rerun the module

##### ACTUAL RESULTS

[code]

I'm using https://github.com/ansible/ansible/pull/51120 but the same applies to current release module

[2019-06-19 12:05] michael-lancaster commented on #58013
Well the module existed on the controller, but not where AWX was looking for it. This may actually solve some of my other problems that I had to work around. Thank you for the help!

[2019-06-19 12:05] #58013 closed, assigned to nobody

[2019-06-19 12:21] Akasurde commented on #57998
@pratikgadiya12 Could you please take a look into this as well since this is related to #57608 ? Thanks.

[2019-06-19 12:22] LeaRedswan commented on #58048
FortiOS Version : 6.2.0

now it works with
Python 3.6.8
fortiosapi 0.10.8
ansible_fgt_modules v6.0.2

Thanks!

[2019-06-19 12:24] Akasurde commented on #58060
resolved_by_pr #58061

[2019-06-19 12:25] pratikgadiya12 commented on #57998
Sure @Akasurde. Picking both of these issues on priority

[2019-06-19 12:25] Akasurde commented on #58060
@lijok Thanks for reporting this issue and providing PR.

[2019-06-19 12:30] christianeinarsson opened #58063 "Module user emits false warning when local: yes"
##### SUMMARY
When using `local: yes` in user module the warning
[code]
is always generated regardless if the user exists in /etc/passwd or not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host and target are both Ubuntu 18.04 with ansible running on python3.6.7.
libuser is installed on the ta

[2019-06-19 12:31] mamunozgonzalez commented on #58048
Good. You are welcome.

P.S.: There are some PRs to update the current versions in Ansible core with the version you have just tested. Once we have the approval from the reviewers they will be uploaded (and will include new features, such as HTTPAPI plugin).

[2019-06-19 12:42] christianeinarsson commented on #58063
The error seems to be that there is no check if the user was found when the warning is generated.
https://github.com/ansible/ansible/blob/a31a8c2a534365f04c15a1f9ba930a6d7ec6fbac/lib/ansible/modules/system/user.py#L856-L867

[2019-06-19 12:51] RvKmR-WaGh opened #58066 "module zabbix_proxy logout is missing"
##### SUMMARY

Found that when I ran or use the zabbix_proxy module, it login to Zabbix server and do works. But it won't log out from the in session. So that, if ran zabbix_proxy module on 1000s of machines it creates 1000s of sessions in Zabbix server.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: zabbix_proxy
File: lib/ansible/modules/monitoring/zabbix/zabbix_proxy.py

##### ANS

[2019-06-19 12:51] paul-at commented on #58029
I have had a similar issue with the ansible from latest master, -vvv didn't produce informative output:
<redacted> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o ConnectTimeout=10 -o ControlPath=/Users/pavel/.ansible/cp/ba0c39aaf8 redacted '/

[2019-06-19 12:58] mkrizek commented on #58029
This might be a duplicate of https://github.com/ansible/ansible/issues/57204

[2019-06-19 13:03] AceSlash commented on #22647
Same issue right now for "https://swupdate.openvpn.net/repos/repo-public.gpg" on stable-2.7.

[2019-06-19 13:37] cognifloyd commented on #28770
I would also like a way to share code between my inventory, action, and lookup plugins.
I'm indifferent between module_utils or something else.

@abadger Your example is interesting, I don't want my playbooks to do local pip installs because ansible is running in one of various virtualenvs on the controller, so assuming you can access --user is not always true. I'm currently installing a python mo

[2019-06-19 13:39] cognifloyd commented on #28770
I'm on ansible 2.7, but I also considred using content collections with ansible 2.8 / mazer.
However, it seems that there is not a way to share code in a collection between plugins in that collection.

[2019-06-19 13:46] basos9 commented on #57529
@bcoca
IMHO, when you say
[code]

you are prepared for all hosts in the webservers group to have their facts gathered. Why would anybody put a tag in a play if not to limit execution of tasks to specific hosts.

Maybe the problem you mention can be understood in the following
[code]

a) If I run `ansible-playbook doit.yml -t web` tags will be gathered for webservers and backends groups.
b) But the

[2019-06-19 13:46] cognifloyd commented on #28770
@nitzmahone (responding to your https://github.com/ansible/ansible/pull/48844#issuecomment-442221702 ) Is there a way to share code between controller-side plugins with collections? How does the collections namespacing work in Ansible 2.8?

[2019-06-19 13:46] tmmruk opened #58068 "VMware: vmware_guest_disk autoselect_datastore returning invalid datastores"
##### SUMMARY
When using autoselect_datastore in vmware_guest_disk module the list of datastores returned is datacenter wide meaning that datastores not attached to the VM's cluster could be selected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RedHat Linux Enterprise Server 7.5
vSphere 6

[2019-06-19 13:47] #58048 closed, assigned to nobody

[2019-06-19 13:54] rnsc opened #58069 "azure_rm_loadbalancer doesn't append rules, it overwrites"
##### SUMMARY
I want to update the "load balancing rules" of a basic Azure Load Balancer.
In Ansible 2.8, that module was updated for idempotency and it can be used to updated an existing LB object.
However, it doesn't append the new rules to existing rules in a LB, it just overwrites all the rules.
I was expecting the module to just "append" rules to the current set.

##### ISSUE TYPE
- Bug Repor

[2019-06-19 14:12] xcambar commented on #58042
Found in the error message...

It's unclear whether you want to install globally or locally to a project.

If you want to install globally, you should have used the `global` flag, see https://docs.ansible.com/ansible/latest/modules/npm_module.html

Otherwise, there should be a `package.json` in the `/app` folder.

[2019-06-19 14:13] rohitthakur2590 commented on #56989
close_me Fixed by #57124

[2019-06-19 14:17] Akasurde commented on #58068
@tmmruk Thanks for reporting this issue.

I am able to reproduce this error in my environment.

tl;dr - Autoselect_datastore is selecting datastore which is free but not connected to given ESXi, leading to the failure.

Thanks.

[2019-06-19 14:19] #56989 closed, assigned to rohitthakur2590

[2019-06-19 14:20] wojtek0806 commented on #57972
@gnagorski
Please head here and open the issue:

https://github.com/F5Networks/f5-ansible

[2019-06-19 14:22] #56680 closed, assigned to Qalthos

[2019-06-19 14:26] justjais commented on #58056
@guest715 can you paste in the error that you are facing with the issue.

[2019-06-19 14:31] samdoran commented on #57011
@srgvg 😆 Sorry about that. I put in the wrong issue number. I corrected it.

[2019-06-19 14:34] #56467 closed, assigned to Akasurde

[2019-06-19 14:42] Akasurde commented on #58068
@tmmruk Could you please check if this branch https://github.com/ansible/ansible/compare/devel...Akasurde:i58068 works for you and let me know ? Thanks.

needs_info

[2019-06-19 15:04] Vijendra07Kulhade commented on #58042
@xcambar Thanks your reply. I do want to install globally. I setup the global flag true but still same issue. Below is my new playbook yml looks like.
`
- name: npm install grpc
      npm:
        executable: /usr/local/bin/npm
        path: /app
        name: grpc
        version: 1.13.1
        global: true
`

[2019-06-19 15:13] gnagorski commented on #57972
Done: https://github.com/F5Networks/f5-ansible/issues/1390

[2019-06-19 15:32] wojtek0806 commented on #57972
close_me

[2019-06-19 15:34] thijsc commented on #41776
I'm running into the same issue. Boto can load just fine:

[code]

When running via Ansible I get this error:

[code]

This is happening on Ubuntu 18.04.

[2019-06-19 15:55] trungdtran commented on #58029
The ping to the host1 is fine:

trungd6x@ansible1:~/playbooks$ ansible host1 -m ping
host1 | SUCCESS => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "ping": "pong"
}

The copy module in the helloworld.yml is fine:

trungd6x@ansible1:~/playbooks$ cat helloworld.yml
---
  - name: This is a hello-world example
    hosts: all

[2019-06-19 16:00] #57972 closed, assigned to nobody

[2019-06-19 16:02] trungdtran commented on #58029
I see the error for parsing host file:
"host_list declined parsing /etc/ansible/hosts as it did not pass it's verify_file() method
script declined parsing /etc/ansible/hosts as it did not pass it's verify_file() method
auto declined parsing /etc/ansible/hosts as it did not pass it's verify_file() method"

Here is my inventory file. I had only one host1 for testing.

[hosts]
host1    ansible_host=1

[2019-06-19 16:14] xcambar commented on #58042
`path` and `global` should be mutually exclusive, by my understanding...
By the look of https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/npm.py, I don't understand why this breaks.

So, my latest attempt at trying to help without running anything myself would be... remove `path: /app` :man_shrugging:

[2019-06-19 16:17] Devin82m commented on #58028
This is an actual issue, and your IRC channel doesn't answer questions.The issue I posted is a bug, Ansible won't execute PowerShell commands to install these apps.

[2019-06-19 16:31] jean-christophe-manciot opened #58082 "debug module contacts the remote device despite "gather_facts: no""
##### SUMMARY
The debug module tries to connect with the remote device despite "gather_facts: no".
This is a blocking issue on networking devices for which gathering facts through the setup module fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]
Same issue on latest unstable commit:
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

####

[2019-06-19 16:36] jacobsnapp commented on #16561
+1

I am trying to import custom module (via git submodule) into a role but Ansible 2.8 cannot find the nested module.

[code]

[2019-06-19 16:42] kesor opened #58084 "Removal for AWS Route53 TXT records with commas"
##### SUMMARY

When AWS Route53 has a TXT record with a value that includes commas, it is impossible to remove it using Ansible.

The official example in the documentation shows this pattern to use:

[code]

When `{{ rec.set.value}}` is something like `"aaaa,bbbb"` in a `TXT` record, this fails with the error -

    "[Tried to delete resource record set [name='new.foo.com.', type='TXT'] but the rd

[2019-06-19 17:08] coryasilva commented on #43309
The refactored [`iisadministration`](https://docs.microsoft.com/en-us/powershell/module/iisadministration/set-iisconfigattributevalue?view=win10-ps) module is now preferred to older `webadministration`.   @shaba The API seems a lot more manageable.

[2019-06-19 17:10] bcavns01 commented on #28770
Haven't looked into namespaces in 2.8, but an additional work around in 2.7 through 2.8, better than one I posted in an earlier issue, is to use `inventory_plugins` as the location for your shared code.  This is still a hack, and it won't help sharing between inventory plugins (unless maybe you're careful with filenames in the same way as my previous workaround), but it works great if you are inte

[2019-06-19 17:18] ShachafGoldstein commented on #40973
@doxxx @Walback - Can you give more information? (Version, uninstall string, playbook verbose output, etc)

[2019-06-19 17:20] gdykeman opened #58088 "win_psmodule fails due to a prerequisite PowerShellGet module conflict"
##### SUMMARY
win_psmodule fails to install the specified module due to a conflict with a prerequisite module PowerShellGet

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_psmodule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Windows Server 2016 Essentials

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Successful install of xComputerManagemen

[2019-06-19 17:20] gdykeman commented on #58088
@nitzmahone

[2019-06-19 17:57] Vijendra07Kulhade commented on #58042
@xcambar tried removing the path as well. but still getting the same error.

[2019-06-19 18:30] ShachafGoldstein commented on #40973
Please test https://github.com/ansible/ansible/pull/58089

[2019-06-19 18:31] ShachafGoldstein commented on #58044
Please test https://github.com/ansible/ansible/pull/58089

[2019-06-19 18:33] wilsonia commented on #55850
I too am receiving an empty result for "ansible_facts.packages"
### Ansible Version
[code]
### Playbook
[code]
### Output
[code]
Could this be related to the moving of the FactCache class?
From the Ansible 2.8 porting guide, "plugin authors should not be subclassing it [FactCache]"
See: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#deprecated

[2019-06-19 18:44] wToad commented on #55850
Actually, I tried on Monday with Ansible v2.7.0 (installed via pip3) and the same code worked well with all my packages.

[2019-06-19 19:03] acozine opened #58092 "Update docs build scripts"
##### SUMMARY
Update the Jenkins docs builds.
- [x] un-pin Sphinx version once we've upgraded to 2.x
- [x] regularize parameters and choices to make it easy to run the manual build
- [x] ensure that all jobs that call the docs build pass the correct parameters and choices

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
N/A

##### CONFIGURATION

[2019-06-19 19:03] acozine commented on #58092
Related to #57709.

[2019-06-19 19:07] amylieb opened #58093 "Netbox tenant module"
##### SUMMARY
I've started leveraging @FragmentedPacket's netbox modules and found I wanted a "netbox_tenant" module, so I copied [netbox_site](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/netbox/netbox_site.py) and altered it to manipulate the tenant endpoint. Right now the module lives in my own fork, but I'd like to propose adding it to the ansible development bra

[2019-06-19 19:37] fabianvf commented on #58001
This is very strange, can you paste `kubectl get crds` and `ansible localhost -m 'k8s_facts' -a "api_version=apiextensions.k8s.io/v1beta1 kind=CustomResourceDefinition" -v`?

[2019-06-19 19:44] couyangm opened #58094 "xml module: element content gets cut off by XML comments"
##### SUMMARY

When trying to get text content from a given XPath, the content gets cut off where there are XML comments.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

xml module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux 7 (Core)

##### STEPS TO REPRODUCE

example playbook:

[code]

##### EXPECTED RESULTS

without the comment in xml_str

[2019-06-19 19:57] ahuffman opened #58095 "package module fails to install packages on Fedora30 with Python3.7"
##### SUMMARY

When attempting to install a package with the `package` module on Fedora 30, it fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 30 (Thirty)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Since the package is already installed I expect a success and no

[2019-06-19 20:11] ahuffman commented on #58095
@jborean93 suggested I attempt setting `interpreter_python = auto` to the `[defaults]` section of my `ansible.cfg` per the documentation found here: [Interpreter Discovery](https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html)

This does correct the problem for me.

[2019-06-19 20:12] #58095 closed, assigned to nobody

[2019-06-19 21:52] felixfontein commented on #56850
@Shaps any update? The merge window for 2.8.2 will probably close on Monday. I can take a look at this over the weekend if you don't have time to work on this.

[2019-06-19 22:00] nitzmahone commented on #28770
@cognifloyd Because collections-hosted controller plugins are loaded and instantiated by a PEP302 loader (bypassing a lot of the "fun" in `PluginLoader`), and all collections are valid Python packages/namespaces by definition, you can freely reference types within (and even across) collections. I haven't done much testing with relative imports in collections, but at one point that did work correct

[2019-06-19 22:07] nitzmahone commented on #58024
In general, things that share/requre the Azure SDK in the same environment as Ansible will cause problems... Ansible pins specific tested versions of the various Azure components because breaking changes are introduced quite frequently. If you have other tools that require the Azure SDK, I'd recommend that you install Ansible and its specific copy of the Azure SDK to a Python virtualenv and run it

[2019-06-19 22:15] nitzmahone commented on #57783
There's nothing unique to Azure here, and this isn't a bug, just a source of complexity when using any kind of push-mode tool. Ansible being a push-driven tool means it requires access to the target, whether through a proxied host, API layer, or running on a bastion.

We've been playing with some architectural changes to Ansible that may simplify tunneled access, but for now, setting the required

[2019-06-19 22:15] #57783 closed, assigned to nobody

[2019-06-19 22:15] trungdtran commented on #58029
Looks like it has sudo issue. It works when I run ansible-playbook -K and enter password. I had "become: yes" in my playbook but it does not work. Please advice.

[2019-06-19 22:56] trungdtran opened #58103 ""Failed to lock apt for exclusive operation" when running playbook with sudo"
##### SUMMARY
"Failed to lock apt for exclusive operation" when running playbook with sudo
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure --><
playbook with task name: apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUC

[2019-06-19 23:02] CameronNemo commented on #51972
BUMP. Seeing this still.

[code]

[2019-06-19 23:13] acozine commented on #45651
@nkakouros we've implemented a new version-changer - see #55655. I'm going to close this ticket. If you see additional refinements that could be added, feel free to open a new ticket.

[2019-06-19 23:13] #45651 closed, assigned to nobody

[2019-06-19 23:15] acozine commented on #37049
Closed by #55655 (and related backports).

[2019-06-19 23:15] #37049 closed, assigned to acozine, docschick

[2019-06-19 23:17] acozine commented on #41782
We took a slightly different approach, but you can now switch from version to version on any page. Closed by #55655 (and related backports).

[2019-06-19 23:17] #41782 closed, assigned to nobody

[2019-06-19 23:23] petemounce commented on #57815
That sounds like it's plausible. I'm sat on the host eyeballing sysinternals process explorer, and observing this process tree.

The children process running powershell has more environment variables than the parent.

<img width="876" alt="Screenshot 2019-06-20 at 00 16 36" src="https://user-images.githubusercontent.com/69720/59807724-0cbd0a80-92f1-11e9-9347-f6d585fda7c1.png">

I've partially work

[2019-06-20 00:11] jpmontez commented on #42612
Running into this, too.

[2019-06-20 02:28] MyronFanQiu commented on #58069
@rnsc Hi. I'm not sure it's a bug or by designed. In my understanding, the playbook file is a description for the status. So the overwrite behavior makes sense for such list field.

[2019-06-20 02:29] MyronFanQiu commented on #58043
@nicolaibaralmueller Thanks. We will check this feature request!

[2019-06-20 03:10] Im0 commented on #58082
I have this too... ansible 2.8.1.  A `debug` task tries to connect to the cisco switch.

Switch in inventory:
[code]

Error output:

[code]

My understanding was that `debug` always runs on the controller, so, I'd assume it wouldn't try to connect  to the device.

[2019-06-20 04:02] Im0 commented on #58082
@jean-christophe-manciot for the time being, try working around with (thanks @jborean93 - helped my issue):

[code]

[2019-06-20 04:13] Im0 commented on #58082
!component connection_cli

[2019-06-20 04:20] jborean93 commented on #58082
Just to add to the above, this looks like a side effect of a persisted network connection starting up in task_executor before the plugin is executed but would need a network dev to confirm.

[2019-06-20 05:12] lemmy04 commented on #21439
maybe i'm misunderstanding something in how this whole systrem of pull requests work - but shouldn't "resolved by pr #49514' mean that a reasonably recent version of ansible *has* this?

I'm running ansible 2.8.1, no support for direct rules as of yet....

[2019-06-20 05:23] Akasurde commented on #26420
Closing this issue since this can be achieved by `vmware_guest` and `vmware_guest_disk` modules. Please feel free to open a new issue. Thanks.

[2019-06-20 05:23] #26420 closed, assigned to Akasurde

[2019-06-20 05:28] Im0 commented on #58082
Another "interesting" thing with this issue is that when the debug runs, the connection sometimes deauthorizes (`deauthorizing connection`) mean subsequent tasks fail unless using become on them.

Task:
[code]

Output:
[code]

[2019-06-20 05:28] jborean93 commented on #57815
Definitely sounds like something the sshd service is caching but doesn't really make much sense to me. Will need to look into it a bit more to confirm but if you can replicate this by just running `ssh` commands to the Windows box then it sounds like something that should be reporting to win32-openssh.

[2019-06-20 05:29] Akasurde commented on #32044
Closing this issue as reporter is not able to test this. @Tomorrow9 Thanks for taking a look into this. Thanks. Please feel free to open a new issue if problem persists.

[2019-06-20 05:29] #32044 closed, assigned to Akasurde

[2019-06-20 05:31] ganeshrn commented on #57226
@christ2016 Can you please run the `ansible-playbook` with `-vvvv` option to get the verbose logs.
Also, you can enable the device interactions with Ansible 2.8 Refer: https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging to further identify which request is failing.

[2019-06-20 05:31] Akasurde commented on #32167
Please use `vmware_guest` module since `vsphere_guest` is removed from Ansible module list. Thanks.

[2019-06-20 05:31] #32167 closed, assigned to nobody

[2019-06-20 05:31] ShachafGoldstein commented on #57815
Another way to test would be to restart the sshd after the change and ignore the errors of the connection reset, ugly I know but it should work and be a valid workaround

[2019-06-20 05:37] jhawkesworth commented on #57815
I wonder if `meta: reset_connection` would do it?

[2019-06-20 05:39] jborean93 commented on #57815
@jhawkesworth good idea, it could be a byproduct of control persist and `meta: reset_connection` would do that for you.

[2019-06-20 05:41] Akasurde commented on #41577
@m4r10k Could you please confirm @Tomorrow9's comments ? Thanks

needs_info

[2019-06-20 05:42] ShachafGoldstein commented on #57815
Unless the reset also makes the sshd process reload the environment it won't do the trick since the child process gets the variables from the parent and not from the machine

[2019-06-20 05:45] ganeshrn commented on #57226
needs_info

[2019-06-20 05:46] jborean93 commented on #57815
@ShachafGoldstein we use something called Control Master or Multiplexing for SSH commands which save the actual TCP connection to the server for a limited period of time. This makes task execution quicker as it means we don't have to open a new connect and authenticate each and every task. Because the socket is saved it makes me thing this is the reason why the sshd service is keeping the profile

[2019-06-20 05:52] lf- commented on #21439
@lemmy04 -note the pull request status. They haven't merged it.

[2019-06-20 05:53] Im0 commented on #58082
The following task also uses the existing network cli connection and `deauthorizing connection` 's it:

[code]

Results in the `deauthorizing connection` which caused some issues later on but the task then appears to ran locally as well?

[code]

[2019-06-20 06:09] mkrizek commented on #58103
`become_user: trungd6x` - this user probably does not have enough permissions to run apt, you need root for that.

[2019-06-20 06:11] ganeshrn commented on #57322
@mikewiebe In 2.8 we added a buffer read timeout for every prompt match in network_cli to resolve the issue of truncated response in Ansible output due to unwanted terminal regex match in between the response.
This timeout value is configurable and can be disabled Refer: https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#intermittent-failure-while-using-ne

[2019-06-20 06:12] mkrizek commented on #58029
This is expected. Your output says `sudo: a password is required`, you need to provide password in some way, `-K` is one of them. See https://docs.ansible.com/ansible/latest/user_guide/become.html.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-20 06:12] #58029 closed, assigned to nobody

[2019-06-20 06:13] mkrizek commented on #58103
I am going to close this as per above.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-20 06:13] #58103 closed, assigned to nobody

[2019-06-20 06:15] endurancetest20380119 commented on #57978
@Fred-sun
Thank you for your trying and I'm apologize.

When I was retlying, I deleted the .credential files...so now I create the .credential file and
everything will work well. I don't know what happend when I first try, but maybe it's my mistakes.
I'll close it. 🙇

[2019-06-20 06:15] #57978 closed, assigned to nobody

[2019-06-20 06:30] Fred-sun commented on #57978
@endurancetest20380119 Thank you for your test, if you encounter similar problems, please re-create, thank you very much!

[2019-06-20 06:38] ganeshrn commented on #51972
Reopening the issue to track it as a feature request.

[2019-06-20 06:48] #51972 closed, assigned to ganeshrn

[2019-06-20 07:28] schegi commented on #58001
kubectl get crds:
etcdbackups.etcd.database.coreos.com             2019-05-14T13:28:29Z
etcdclusters.etcd.database.coreos.com            2019-05-14T13:28:29Z
etcdrestores.etcd.database.coreos.com            2019-05-14T13:28:29Z
volumesnapshotclasses.snapshot.storage.k8s.io    2019-05-27T08:08:00Z
volumesnapshotcontents.snapshot.storage.k8s.io   2019-05-27T08:08:00Z
volumesnapshots.snapshot.storage

[2019-06-20 08:08] m4r10k commented on #41577
@Akasurde I will test it on Monday and I will let you know. Sorry for the delay :see_no_evil:

[2019-06-20 08:11] Akasurde commented on #46175
@natemccallum Could you please confirm @Tomorrow9's suggestion ? Thanks,

needs_info

[2019-06-20 08:57] Akasurde commented on #56086
@vijayscsa Any news ? needs_info

[2019-06-20 09:01] xcambar commented on #58042
Worked for me with the following playbook, using ansible 2.8.1 and a CentOS 7.2 using Vagrant:

[code]

Do you confirm your installation of npm is functional?
If so, can you reproduce detailed, ideally automated, reproduction example, please?

[2019-06-20 09:07] jap commented on #57934
Your assessment that it is unrelated to `package` appears to be correct; it seems to be related to integration with `doas`. (Still no packages to upgrade, but here's a minimal test case)

On 2.7.7:
[code]

On 2.8.1:
[code]

Repeating the same on 2.8.1 against a Linux machine with `become-method sudo` does work:
[code]

Note that there are no become-related things in ansible config, but we do have

[2019-06-20 09:22] ric79 opened #58110 "os_server and device name for boot volume"
Hello,
when I create a server on Openstack using HOT template I can use:

[code]
In os_server I can specify **boot_volume** but I cannot map the device_name (vda)

[code]

Is it a missing feature?

Riccardo

[2019-06-20 09:41] ShachafGoldstein commented on #57815
I understand but you will be surprised how many times I can across a similar issue where software creates a child process that simply inherits their context, environment wise.

Looking forward to the test results :)

[2019-06-20 11:23] LZhipeng opened #58113 "ansible ssh connection fail in Ubuntu 18.04"
##### SUMMARY

lzp@ubuntu:~/ansible$ sudo ansible all -a "/bin/echo hello"
[sudo] password for lzp:
172.22.13.130 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: root@172.22.13.130: Permission denied (publickey,password).",
    "unreachable": true
}
lzp@ubuntu:~/ansible$  ansible all -a "/bin/echo hello"
172.22.13.130 | FAILED | rc=-1 >>
Cannot write to

[2019-06-20 11:28] LZhipeng commented on #58113
I can ssh into 172.22.13.130 with CLI: ssh lzp@172.22.13.130

[2019-06-20 11:41] #58113 closed, assigned to nobody

[2019-06-20 11:52] rnsc commented on #58069
@MyronFanQiu Hello, thanks for your reply.
If it's by design, then, it should be stated as is in the documentation, otherwise it's confusing. I was expecting this to be able to just add values for the "load balancing rules", "probes" and "inbound nat rules".

Do we want to change this to a feature request then? Asking for an update/overwrite mechanic in the module?

If I take the "azure_rm_securit

[2019-06-20 11:57] SpComb commented on #56930
Also questioning the rationale behind this decision to deprecate `-` in group names. Not being able to use dashes in dynamic inventory `keyed_groups` was already annoying enough, but having to rename all of our groups in our inventory files and `ansible-playbook -l ...` commands just to avoid hypothetical syntax-related support issues is going to be painful.

FWIW we have a convention for naming r

[2019-06-20 12:20] MyronFanQiu commented on #58069
@rnsc Hi. Thanks for this suggestion. Of course, we can change this to a feature request. Honestly, the update behavior for such list filed across all azure modules are not totally consistent. From my perspective, there are two reasons for such situation. First, the behavior of each azure service are not same. Some rest API will do the incremental update and some will do the replace update for suc

[2019-06-20 12:42] pratikgadiya12 commented on #57608
resolved_by #58117

[2019-06-20 12:42] pratikgadiya12 commented on #57998
resolved_by #58117

[2019-06-20 12:55] SpComb commented on #57852
On Ansible 2.8.1 this seems to affect all tagged plays, not just the special `never` tag. If the play has any tag set, and you run `ansible-playbook -t foo` for a tagged role within that play, then that role runs without facts gathering. I'm pretty sure that Ansible 2.7 would have still run the fact gathering for each play in this case.

I don't think this necessarily counts as a bug, but it's a b

[2019-06-20 13:39] sakharovb2b commented on #41336
nope, it's still useless:

https://github.com/ansible/ansible/blob/3a3465c47df0d4a680bdc7490790567d920f3919/lib/ansible/playbook/role/requirement.py#L152

[2019-06-20 13:53] dazasa commented on #54790
Hi, is still get the same error.  FAILED! => {"msg": "An unhandled exception occurred while templating '{{ lookup('aws_secret', 'keycloak/KEYCLOAK_PASSWORD', 'region', 'eu-west-1') }}'. Error was a <class 'ansible.errors.AnsibleError'>, original message: An unhandled exception occurred while running the lookup plugin 'aws_secret'. Error was a <type 'exceptions.KeyError'>, original message: 'Reques

[2019-06-20 13:57] goldencut commented on #26537
+1 so 'notify:' could be used. With latest version Ansible rises an error if 'notify:' is there so now I have to remove all the ones I preemptively had added.. :/

[2019-06-20 14:08] Kevin-De-Koninck opened #58120 "Merge hash behavior not respected when using multiple inventory files"
##### SUMMARY

When using multiple inventory files from command line, the [default hashing behavior](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour) is not respected. This results in disappearing variables. Hashes will replace each other instead of merging.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[DEFAULT_HASH_BEHAVIOUR](https://docs.a

[2019-06-20 14:09] bcoca commented on #57934
Those override the command line options, but in the doas case it only affects machines in the freebsd group.

Also the outputs tell me you are not using the equivalent inventories in all the tests, the last one does not have ansible_python_interpreter and uses 'sudo' .. so the `ansible_become_method` is not set for those, which seems to be an ubuntu box. To top it all off, none of them are `FAILED

[2019-06-20 14:15] #57843 closed, assigned to nobody

[2019-06-20 14:17] #57886 closed, assigned to nobody

[2019-06-20 14:24] akamac opened #58123 "Expose --limit to inventory plugins"
##### SUMMARY
It would be great to have an ability to read the value passed to `--limit` command-line option from within inventory plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Inventory plugins

##### ADDITIONAL INFORMATION
For instance, set environment variable `ANSIBLE_LIMIT`.
This would allow to apply filters when querying the data from remote sources.

[2019-06-20 14:32] sivel commented on #58123
This should already be possible using:

[code]

[2019-06-20 14:37] #57608 closed, assigned to nobody

[2019-06-20 14:37] #57998 closed, assigned to Akasurde

[2019-06-20 14:37] bcoca commented on #58123
just be aware that limit is still used AFTER the plugins return their data, most plugins implement their own filtering not based on `--limit` as options in the inventory source file (which can use extra vars)

[2019-06-20 14:41] nkakouros commented on #14130
I also stumbled upon this. I think to end users `omit` seems more a feature of `default` than of module parameter parsing. I don't know how possible it is to have ansible behave this way. If it not a feature the ansible team is willing to implement, I think there should be a dedicated section in the docs to describe the different use cases, as **it is** possible for ansible to behave the expected

[2019-06-20 14:41] nkakouros commented on #46533
This indeed is a duplicate of #14130.

[2019-06-20 14:43] nkakouros commented on #26009
This is a subset of what is discussed in #14130. Perhaps it could be marked as a duplicate?

[2019-06-20 15:03] bcoca commented on #26009
@nkakouros is right, closing as dupe of #14130

[2019-06-20 15:03] #26009 closed, assigned to samdoran

[2019-06-20 15:06] FragmentedPacket commented on #57948
@DoctorKM It is not an intentional behavior, but if it works, great lol

[2019-06-20 15:13] zuern commented on #55430
This issue popped up for me as well, however in my case another user ran a playbook using the `k8s` module (creating the file "/tmp/osrcp-5fbfdabf180c92d4bd9b00804055182f.json") and I later ran the same playbook again, getting the same "Permission denied" error as the original poster.

The reason looked to be because the file was owned by the other user and my user could not read it.

[2019-06-20 15:31] xp499 commented on #30599
idk if you have already fix this issue with ini_file module (that i'm supposing to yes when it doesn't throw any error) but this still exists on the lookup plugin ini, f.e.:

``
- debug:
      msg: "{{ lookup('ini', 'GRUB_CMDLINE_LINUX_DEFAULT section file=/etc/default/grub') }}"

fatal: [localhost]: FAILED! => {"msg": "An unhandled exception occurred while running the lookup plugin 'ini'. Error w

[2019-06-20 16:22] ghost opened #58126 "ios_facts module not enumerating ansible_net_model in Ansible 2.8"
##### SUMMARY

ios_facts module not enumerating ansible_net_model in Ansible 2.8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host OS: CentOS 7 virtual machine (VMware player)
Python versions: Reproducible on 2.7.5 and 3.6

Tested on:
CSR1000v running IOS-XE 16.09.03
ISR4331 running IOS-XE 16.06

[2019-06-20 16:36] ludydoo commented on #51663
I found that this happens when I set different hostnames for the same "ip"

in hosts:
[mygroup]
node1 ansible_ssh_host=10.10.10.10
node2 ansible_ssh_host=10.10.10.10

---
- hosts:
  tasks:
    - apt
       upgrade: full

[2019-06-20 16:39] vpopescu opened #58129 "azure_rm_containerregistry_facts does't accept tags"
##### SUMMARY
When using azure_rm_containerregistry_facts, if I specify tags, it fails with a dictionary error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_containerregistry_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL (Ubuntu 18.04 under  Windows)

##### STEPS TO REPRODUCE

1. Create the playbook below
2. Run it. See it fail.
3.

[2019-06-20 16:45] bcoca commented on #46533
closing as dupe, as per aboive

[2019-06-20 16:45] #46533 closed, assigned to nobody

[2019-06-20 16:46] lucastheisen opened #58130 "k8s module does not work with openshift Template kind due to ResourceNotUniqueError"
##### SUMMARY

OpenShift returns two values when you search for [`kind: Template`](https://github.com/openshift/origin/issues/21668) which causes a request to create a template to fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL:
[code]
Windows:
[code]

##### STEPS TO REPRODUCE

Replace the plac

[2019-06-20 16:50] lucastheisen commented on #58130
Had a conversation with @fabianvf  on [the upstream openshift python client](https://github.com/openshift/openshift-restclient-python/issues/270) which he says is behaving correctly in that [openshift itself replies with multiple values for kind Template](https://github.com/openshift/origin/issues/21668).  If openshift is correct in having multiple values, and the client is correct in throwing `Re

[2019-06-20 17:00] #54680 closed, assigned to nobody

[2019-06-20 17:10] jgeorgeson commented on #23320
@dagwieers @jborean93 I concur with @aaronk1, I think setting `ansible_winrm_{read,operation}_timeout_sec` are both working as expected. Using `profile_tasks` in my ansible.cfg I'm consistently seeing the timeout error 1 second after the configured timeout. Logging into my target machine and checking the process table, I think it's actually failing to run the task in a way that Ansible thinks the

[2019-06-20 17:39] arcticlinux commented on #55850
Ubuntu 18.04
- python 2.7.15~rc1-1
- python-apt 1.6.4
- ansible 2.8.1-1ppa~bionic

This produces no output:
[code]

This produces a warning:
[code]

```[WARNING]: Requested package manager apt was not usable by this module: 'APT' object has no attribute '_cache'```

[2019-06-20 17:48] arcticlinux commented on #55850
Also tried setting ansible_python_interpreter to /usr/bin/python3 and using python3-apt but the result was the same.

[2019-06-20 17:55] sivel opened #58133 "_handle_error code path ignored for SSH connection plugin"
##### SUMMARY
In `_handle_error` in the ssh connection plugin, there is a code path, that is effectively ignored, due to a missing `raise`:

https://github.com/ansible/ansible/blob/375ac76e58b31ee41b8a72f07030d3ee1bc2d38e/lib/ansible/plugins/connection/ssh.py#L333-L341

After line 340, there should be some form of exception raised.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/p

[2019-06-20 17:55] #49728 closed, assigned to nobody

[2019-06-20 18:18] goneri commented on #42221
update: the patch works fine if we manually apply the following patch on pyVmomi (  https://github.com/vmware/pyvmomi/pull/799 ), we managed to pass the whole test-suite.

[2019-06-20 18:52] mikewiebe commented on #56181
@leitian123 Looking at the failure, it appears that the `username`, `password` or `hostname` are not set properly.  I see that you are using `provider: "{{nxos_provider}}"`

Where is `nxos_provider` being set?  I don't see this in your issue description above.

[2019-06-20 19:07] samdoran commented on #58033
!component =lib/ansible/modules/cloud/amazon/_ec2_eni_facts.py

[2019-06-20 19:07] sivel commented on #58021
Thank you very much for submitting this issue to try and help with documentation.  Please feel free to submit a documentation PR to our docs site, which lives in docs/docsite/rst if you wish to include this in our official documentation.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/

[2019-06-20 19:07] #58021 closed, assigned to nobody

[2019-06-20 19:08] bcoca commented on #58045
!component =lib/ansible/modules/cloud/ovrit/overt_nic

[2019-06-20 19:09] bcoca commented on #58054
!component  =lib/ansible/cloud/ovirt/ovirt_vm

[2019-06-20 19:15] bcoca commented on #58093
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-06-20 19:15] #58093 closed, assigned to nobody

[2019-06-20 19:21] bcoca commented on #58123
closing as per above, this is already exposed

[2019-06-20 19:21] #58123 closed, assigned to nobody

[2019-06-20 19:25] jillr commented on #58093
Hi @amylieb, thanks! From your branch in the github interface you should see an option for "New pull request".  That will open a PR (pull request) to merge your code into ansible's devel branch.  Folks will be able to review and comment on the code, CI will run tests on it, and we'll be able to properly consider adopting it into the project.  If you have any questions about that process please swi

[2019-06-20 19:31] #53140 closed, assigned to nobody

[2019-06-20 19:34] amylieb commented on #58093
Thanks! I'll do that.

[2019-06-20 20:26] bcoca commented on #16561
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

We don't support modules in arbitrary subdirectories, this can be achieved but they must be a valid python subpath for import, both fol

[2019-06-20 20:26] #16561 closed, assigned to resmo

[2019-06-20 20:32] Vijendra07Kulhade commented on #58042
Yes my npm installation works from VM.

[2019-06-20 21:20] natemccallum commented on #46175
How do I confirm all apps are installed and saved to disk? I have installed everything and am using the same vm to clone and convert. I install my OS, install all the applications. Then do a clone which keeps the original vm and creates a template that works. Then, from the same vm I cloned from, do a convert to template and the applications are not there. I do agree this is not a vmware_guest mod

[2019-06-20 21:20] #46175 closed, assigned to nobody

[2019-06-20 21:30] dathdev commented on #34764
Seems like the bug is still there on 2.8.0 :(

[2019-06-20 22:38] nhooey commented on #29465
Yeah it seems that it's impossible to clone over an existing repo:
[code]
This renders the error:
[code]
@chrisplo

[2019-06-20 22:47] nhooey commented on #29465
The way that `rsync` handles the issue of ambiguity around whether the user means "put in this directory" or "make destination directory this name" is by requiring the user to leave a trailing slash in the case of "put in this directory".

I'm not sure if that would work in this case, given existing expectations.

@loeken, @chrisplo, @offlinehoster

[2019-06-20 22:58] rgerardi opened #58146 "tower_job_template: Add job template is not idempotent"
##### SUMMARY

The module tower_job_template is not idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: tower_job_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Fedora 30 (Workstation Edition)
Tower: Tower 3.5.0 running on RHEL 8

##### STEPS TO REPRODUCE

1. Execute the playbook below to add a Job Template into Tower:

[code]

[2019-06-20 22:58] chrisplo commented on #29465
the ticket and discussion revolved around the usage docs, the module's behavior is predictable, the rsync features I think would be an enhancement request.  To be honest, I haven't used ansible in a year or two, the docs may say something different now.

[2019-06-21 01:31] pomu0326 opened #58147 "vmware_guest: given always changes in check mode, even if vm already exists."
##### SUMMARY

run ansible-playbook with checck mode, vmware_guest given always changes, even if vm already exists. but, run ansible-playbook without check mode, vmware_guest tasks given ok.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- vmware_guest

##### ANSIBLE VERSION

[code]

##### Other python modules
[code]

##### OS / ENVIRONMENT

- vCenter: 6.0
- vSphere: 5.5
- GuestOS: Ubuntu16

[2019-06-21 01:52] Akasurde commented on #50617
@DanyC97 I will take a look today.

[2019-06-21 02:17] MyronFanQiu commented on #58129
@vpopescu Thanks very much! It's a bug and we opened a PR to fix it.

[2019-06-21 02:46] ftntcorecse commented on #58019
Thank you for bringing this to our attention. This has been addressed with this pull request:

https://github.com/ansible/ansible/pull/58154

[2019-06-21 03:34] #54859 closed, assigned to nobody

[2019-06-21 04:51] Akasurde commented on #51116
@blambo10 Thanks for the issue report and debugging. Could you please take a look at PR https://github.com/ansible/ansible/pull/58156 and let me know if it works for you ? Thanks.

needs_info

[2019-06-21 04:57] Akasurde commented on #50617
@stobias123 Could you please take a look at PR https://github.com/ansible/ansible/pull/58156 and let me know if it works for you ? Thanks.

[2019-06-21 06:23] iredmail opened #58158 "BUG in sysctl module: local variable 'err' referenced before assignment"
##### SUMMARY

[code]

- Bug exists in Ansible 2.7.11 and the latest git repo
- Related source file: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/sysctl.py#L278

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- sysctl

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

- Host OS: macOS 10.14.5
- Target OS: OpenBSD 6.5 (amd64)

[2019-06-21 07:39] #20965 closed, assigned to resmo

[2019-06-21 07:39] mkrizek commented on #58158
@iredmail thanks for the bug report! Can you try and see if the PR above fixes the issue? Thanks!

[2019-06-21 07:52] iredmail commented on #58158
@mkrizek I can confirm that it fixed the bug. Thanks. :)

[2019-06-21 07:52] #58158 closed, assigned to nobody

[2019-06-21 08:07] mika1K commented on #50387
Installing python-minimal worked for me
 `- name: Install Mariadb Database Server
  apt:
    name: "{{ item }}"
  with_items:
      - mariadb-server
      - mariadb-client
      - python-mysqldb
      - python-pip
      - python-minimal`

[2019-06-21 08:23] bjordanov4 commented on #56181
I have exactly the same issue. Even with nxos_provider defined:

---
- name: Upgrade switches
  hosts: all
  connection: local
  gather_facts: no
  vars:
    nxos_provider:
      host: "{{ inventory_hostname }}"
      username: "{{ cisco_user }}"
      password: "{{ cisco_password }}"
    nxos_version: "nxos.7.0.3.I7.6.bin"
    provider:
      host: "{{ inventory_hostname }}"
      username: "{{ c

[2019-06-21 08:45] justjais commented on #57285
@Im0 Thanks for raising the issue, I have raised the PR to resolve the issue and once merged in `devel`, I'll create a backport the fix in `stable-2.8`.

[2019-06-21 09:01] ktarow opened #58164 "The copy module deletes /dev/null"
##### SUMMARY

When I ran ansible-playbook which use copy module, `/dev/null` was deleted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The target file size is 0 byte, and `/dev/null` also exists.

[code]

##### ACTUAL RESULTS

[2019-06-21 09:11] giovannifl opened #58165 "Confirm which VM attributes can be used in conditional_groups"
Azure Dynamic Inventory plugin documentation shows that it's possible to place a host in the named group if the associated condition evaluates to true.
Provided example shows how to this with the "name" attribute of a VM.
Please could confirm if other attributes/ properties are also supported ?
For example I've tried with "os_type" but it doesn't work (output is that "os_type" is undefined")

####

[2019-06-21 09:27] DanyC97 commented on #50617
many thanks @Akasurde for looking into this, much appreciated !

[2019-06-21 09:32] pratikgadiya12 commented on #21504
We are good to close this issue as per comment https://github.com/ansible/ansible/issues/21504#issuecomment-457981552

[2019-06-21 09:36] Akasurde commented on #21504
@felixfontein Can we close this ? Thanks.

[2019-06-21 09:38] Akasurde commented on #50617
Happy to help. Thanks,

[2019-06-21 10:06] giovannifl commented on #58165
ansible version: 2.8

[2019-06-21 10:07] jevgeniv commented on #56583
For the record, the [ workaround](#issuecomment-494330093) proposed by @jm42 does work, but unfortunately it also manages to break `service_facts`, which gets called after `set_fact` in my scenario. The `service_facts` module call passes OK, but the `ansible_facts.services` is left undefined when I try to access it:

(I also tried setting the `pkg_mgr` value with combine like so:
`        ansible_

[2019-06-21 10:15] justjais commented on #57522
@hexdump0x0200 Thanks for raising the issue, but we have come across this issue before, plz refer the issue #50029.

[2019-06-21 10:29] justjais commented on #58126
@vRyan216 Thanks for raising the issue, but its duplicate of the issue #57285, and fix for the PR is also raised once merged in `devel`, I'll create a backport for the fix in `stable-2.8`.

[2019-06-21 10:29] #58126 closed, assigned to nobody

[2019-06-21 10:38] lijok opened #58168 "VMware: vsphere_copy IndexError"
##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vsphere_copy
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

fedora30

##### STEPS TO REPRODUCE

try to overwrite file that's in use on esxi with vsphere_copy

[2019-06-21 10:41] #47745 closed, assigned to Akasurde

[2019-06-21 10:43] ssbarnea opened #58169 "include_vars is unable to load files from remote"
It seems that `include_vars` cannot be used to load files from remote systems and that is not documented https://docs.ansible.com/ansible/latest/modules/include_vars_module.html

1. Documentation should clarify that include_vars works only on controler and cannot be delagted.

2. User should get an error or at least a warning when using ``delegate_to`` with ``include_vars``, current Ansible does n

[2019-06-21 11:02] guest715 commented on #58056
Hi @justjais, I’ve updated the details of the issue with relevant snippets of the output when the playbook runs. Hopefully they help identify the cause of the problem.

[2019-06-21 11:07] lijok opened #58172 "wait_for_connection should inform of host key changes"
##### SUMMARY

wait_for_connection should inform and exit if remote host identification has changed rather than retrying to connect until it times out
currently, without running the playbook in -vvv wait_for_connection will continue trying to connect to a host, while running in -vvv will show you:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

wait_for_connection

[2019-06-21 11:07] chrigl commented on #55570
@Akasurde For my use-case #57896  fixes the issue.

[code]

[2019-06-21 11:24] notoriousbsd commented on #56629
I'm also having this issue:

[code]

[2019-06-21 11:50] agowa338 commented on #58172
But that would error out, if you have ssh in an preboot environment and you're waiting for the remote host to boot.
The way it currently is, it will just patently wait until the host is reachable with the correct host key, e.g. not within preboot but fully booted.

I think this is not an issue, as long as the module does not connect automatically to a invalid hostkey...

[2019-06-21 11:58] gstorme commented on #43975
I've encountered this error with the Disk resource on a Windows Server 2016, with ansible 2.7.
This resource has worked before though, on other systems.

[code]

[code]

[2019-06-21 12:06] agowa opened #58184 "`meta: reset_connection` ignoring variables"
##### SUMMARY
meta reset_connection ignores the connection variables specified within host or group vars. Therefore connections fail with some connectors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/utilities/helper/meta.py`
`lib/ansible/plugins/connection/vmware_tools.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ArchLinux

##### ST

[2019-06-21 12:07] justjais commented on #57285
Closing the issue, as the fix is merged in `devel` and backport for `2.8` is raised.

[2019-06-21 12:07] #57285 closed, assigned to justjais

[2019-06-21 12:09] justjais commented on #55562
@AJ-Acevedo any update on the issue?

[2019-06-21 13:06] agowa opened #58193 "make win_domain_user forest/trust aware"
##### SUMMARY
win_domain_user does not have an option to specify the target domain. If the active directory has multiple domains e.g. through trusts, these are not manageable right now.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_domain_user

##### ADDITIONAL INFORMATION
Within a multi domain environment try to change/create/delete a user in the neighboring domain.

A playbook runni

[2019-06-21 13:26] #57895 closed, assigned to nobody

[2019-06-21 13:30] pguermo opened #58194 "[proxmox_kvm] Error in get_vmid when called 'too early' after the creation of a VM"
##### SUMMARY
For a fraction of second after the creation of a new VM, the VM name is not yet defined in its relative dictionary returned by the proxmoxer when querying the list of VMs (proxmox.cluster.resources.get(type='vm')).

Accessing to this non existing attribute as an element of a dictionary instead of using the get function on the dictionary raise an error.

##### ISSUE TYPE
- Bug Report

[2019-06-21 13:44] #58194 closed, assigned to nobody

[2019-06-21 13:51] mikewiebe commented on #56181
@bjordanov4 Thanks for the additional info.  I am trying to recreate this on my testbed so that I can get a fix but so far have been unsuccessful.  Let me try a few more things and post back on this issue.

[2019-06-21 14:11] mishas commented on #57022
In that case, when I want to do different things depending on the type of connection I have - what should I do?
I have many examples where this is needed, for example: I don't want to restart sshd if I'm connected via ssh, or I don't want to to restart services if i'm connected via chroot...

[2019-06-21 14:24] agowa338 commented on #42764
+1 For implementing this, this would also solve problems when the vmware_tools connector is used.

[2019-06-21 14:26] petemounce commented on #57815
I was able to workaround the issue via restarting sshd async, then reseting the connection:

[code]

Both were necessary.

[2019-06-21 14:32] benyanke opened #58198 "UFW - allow specification by service name"
##### SUMMARY
Currently, the UFW module allows a user to specify `app` which maps to a config in `/etc/ufw/applications.d`. However, UFW also understands the concept of `service`, which loads from `/etc/service`. I would like to propose adding an additional key, functioning similar to `app`, but for `service`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
UFW

##### ADDITIONAL INFORMATION

[2019-06-21 14:44] benyanke commented on #58198
!component yaml

[2019-06-21 14:46] gamethis commented on #56218
I was using this win_chocolatey and getting the choco not found. on ansible 2.8.1 This code change fixed the issues for me.

[2019-06-21 14:56] #51160 closed, assigned to samdoran

[2019-06-21 15:16] theHilikus commented on #36312
@rambleraptor Maybe i'm missing something, but isn't the `metadata` field of `gcp_compute_instance` module, instance-level metadata? AFAICT, there's no way to manipulate project-level metadata with ansible so having a module like that proposed by @martydelaney3 would be very useful

[2019-06-21 15:16] samdoran commented on #16973
We are still interested in having this feature and would accept a pull request that adds it.

[2019-06-21 15:20] samdoran commented on #17002
As of Ansible 2.8, this is now possible using the [FACTS_MODULES](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#facts-modules) setting and the [gather_facts](https://docs.ansible.com/ansible/latest/modules/gather_facts_module.html) plugin.

[2019-06-21 15:28] sivel commented on #17100
Although from an inventory file perspective it seems as though there is hierarchy, this is not true of the actual inventory system.  group "hierarchy" is a fake concept in ansible, as it's not tracked as such, it's only used for relationships that are subsequently squashed.

We have no plans to track this hierarchy indicated by an inventory file, as such this feature can not be implemented.

If yo

[2019-06-21 15:28] #17100 closed, assigned to nobody

[2019-06-21 15:28] samdoran commented on #17159
This is expected behavior as described [here](https://github.com/ansible/ansible/issues/57438#issuecomment-499559239). Use [native Jinja types](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native) to change this behavior.

Duplicate of #41392 and #57438

[2019-06-21 15:28] #17159 closed, assigned to jctanner

[2019-06-21 15:31] samdoran commented on #17350
Closing since this is resolved by #13620.

[2019-06-21 15:31] jean-christophe-manciot opened #58202 "Cannot connect with SSH private key to network device with ansible_connection=network_cli or local"
##### SUMMARY
Connecting to a network device fails when using the **SSH private key.** with either one of the following configuration:
- ```ansible_connection: network_cli``` alongside all other necessary ansible_* parameters including ```ansible_ssh_private_key_file: '~/.ssh/id_rsa'```
- ```ansible_connection: local``` alongside```provider``` module parameter using ```ssh_keyfile: '~/.ssh/id_rsa'

[2019-06-21 15:34] samdoran commented on #17583
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 15:34] #17583 closed, assigned to nobody

[2019-06-21 15:35] samdoran commented on #17583
Related to https://github.com/ansible/ansible/issues/12630

[2019-06-21 15:37] samdoran commented on #17750
Closing as this was resolved in #17752

[2019-06-21 15:37] #17750 closed, assigned to nobody

[2019-06-21 15:39] samdoran commented on #18009
We have no plans to add this as a config option. Controlling this via host_vars is the recommended solution.

[2019-06-21 15:39] #18009 closed, assigned to nobody

[2019-06-21 15:40] felixfontein commented on #58198
Have you tried putting the service name into `app`? The module passes this on to `ufw`, and as far as I can see `ufw` has no special syntax for services.

[2019-06-21 15:40] sivel commented on #58164
I started to look into this, but haven't been able to continue forward right now.  So that this context isn't lost, I think this is the fix:

[code]

[2019-06-21 15:42] felixfontein commented on #21504
I would rather close it because of https://github.com/ansible/ansible/issues/21504#issuecomment-374550064 Just because the OP doesn't need this anymore doesn't mean it is no longer needed. But if putting something in `docker-compose.yml` solves this, it should be fine.

close_me

[2019-06-21 15:42] samdoran commented on #18102
There are two ways to do this:
1) Use YAML anchors
2) As of Ansible 2.8, the [`default` filter will handle this](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#jinja-undefined-values).

[2019-06-21 15:42] #18102 closed, assigned to nobody

[2019-06-21 15:44] bcoca commented on #16973
Using constructed inventory you can achieve a very complex group definition based on Jinja2 expressions

https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

This would avoid creating a new 'host query' language

[2019-06-21 15:45] jean-christophe-manciot commented on #58202
Of course, I can manually ssh into the remote network device:
[code]

[2019-06-21 15:46] samdoran commented on #18181
Closing per above discussion. There are a number of scenarios in which using something other than `run_command()` is ok.

[2019-06-21 15:46] #18181 closed, assigned to nobody

[2019-06-21 15:47] samdoran commented on #18183
Closing as this is addressed in #36247

[2019-06-21 15:47] #18183 closed, assigned to nobody

[2019-06-21 15:49] samdoran commented on #18358
Closing per above note. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 15:49] #18358 closed, assigned to nobody

[2019-06-21 15:54] samdoran commented on #18723
We have no plans to change the existing behavior in Ansible. You can implement this behavior yourself using a [vars_plugin](https://docs.ansible.com/ansible/latest/plugins/vars.html?highlight=vars_plugin).

For help developing a vars plugin, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansibl

[2019-06-21 15:54] #18723 closed, assigned to nobody

[2019-06-21 15:55] #19052 closed, assigned to nobody

[2019-06-21 15:56] #21504 closed, assigned to nobody

[2019-06-21 15:58] #30682 closed, assigned to nobody

[2019-06-21 15:58] bcoca commented on #19771
I'm going to close this as this is part of a broader discussion:

- which are the base connection vars
- what value should they reflect
- when should they be updated

I hope to have a proposal soon detailing all of this.

[2019-06-21 15:58] #19771 closed, assigned to nobody

[2019-06-21 16:01] samdoran commented on #31144
This is request to add a new scenario guide to our documentation. Should we add this? cc @acozine @thaumos

[2019-06-21 16:04] sivel commented on #58198
!component =lib/ansible/modules/system/ufw.py

[2019-06-21 16:06] #57852 closed, assigned to bcoca

[2019-06-21 16:08] sivel commented on #58164
someone else should take this over.

[2019-06-21 16:16] #53681 closed, assigned to samccann

[2019-06-21 17:11] Akasurde commented on #58165
!component =lib/ansible/plugins/inventory/azure_rm.py

[2019-06-21 17:30] theredcat commented on #54790
@dazasa What is your ansible version ?

[2019-06-21 17:51] notoriousbsd commented on #56629
From my own testing, this may have something to do with `_local_rsync_password` as it's passed to the payload.

I noticed that, even using a sudoers entry for rsync, it attempts to still use the password.

Removing the password from the tuple just results in a `"msg": "[Errno 2] No such file or directory"}` result.

[2019-06-21 18:13] bitchkat commented on #56629
As a temporary work around to get deploys working, I grabbed the ansible 2.7 synchronize module, added the _local_rsync_password parameter to it, and dropped it in a library directory where all our playbooks are located.  This basically restored the ansible 2.7 behavior which is good enough for now until this issue is resolved.

[2019-06-21 18:29] #42726 closed, assigned to samdoran

[2019-06-21 18:41] pabelanger commented on #58202
We generate 1 time SSH keys for network integration testing, using the following inventory for ios:

  https://github.com/ansible/ansible-zuul-jobs/blob/master/playbooks/ansible-test-network-integration-base/templates/inventory-ios.j2

Which works as expected. Given ~/.ssh/id_rsa is the default path, if you drop ansible_ssh_private_key_file from your inventory does it work? Also, what format is of

[2019-06-21 18:49] sivel commented on #16928
I have confirmed that in current versions of ansible, supplying `host:port` does work as expect.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 18:49] #16928 closed, assigned to nobody

[2019-06-21 18:51] sivel commented on #17963
This is working as expected in current versions of ansible:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 18:51] #17963 closed, assigned to nobody

[2019-06-21 19:04] nicholasamorim commented on #20311
Experiencing the same in ansible 2.8 - the Jinja in `ansible_ssh_user` is included literally without being evaluated.

[2019-06-21 19:36] sivel commented on #17358
The problem here, is in how the number of times the value is templated.

Using `{% raw %}` will only affect the first templating, as on the first template, `{% raw %}` and `{% endraw %}` will be removed.  The first time it is templated is in `with_dict: "{{ dict }}"` and then the second is part of how debug displays a value with `var`.

Using `!unsafe` will instead allow this to work in current ve

[2019-06-21 19:36] #17358 closed, assigned to nobody

[2019-06-21 19:39] sivel commented on #16972
This is no longer the case in current versions of Ansible.

[code]

If you are still experiencing problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:39] #16972 closed, assigned to nobody

[2019-06-21 19:40] sivel commented on #16942
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:40] #16942 closed, assigned to nobody

[2019-06-21 19:44] sivel commented on #16383
pyasn1 is not a direct dependency of Ansible, and as this issue is rather old at this point I'm going to go ahead and close it.

If you are still having problems, please open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:44] #16383 closed, assigned to nobody

[2019-06-21 19:48] sivel commented on #18462
This is no longer producible on recent versions of Ansible.

If you are still experiencing problems, please open a new issue with an up to date reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:48] #18462 closed, assigned to nobody

[2019-06-21 19:51] sivel commented on #18323
Using `key=value` syntax is not recommended. This can be achieved using full YAML syntax (`key: value`)

However, in general we do not recommend trying to use a variable as the full arguments to a module:  https://docs.ansible.com/ansible/devel/reference_appendices/faq.html#argsplat-unsafe

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2019-06-21 19:51] #18323 closed, assigned to nobody

[2019-06-21 19:52] sivel commented on #18952
Closing this issue as per above explanations.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:52] #18952 closed, assigned to nobody

[2019-06-21 19:55] sivel commented on #17969
This is no longer the case in recent versions of Ansible. If you are still experiencing problems, please open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-21 19:55] #17969 closed, assigned to nobody

[2019-06-21 19:56] notoriousbsd commented on #56629
That does appear to work with password-less sudo or using the root user; however using a passworded sudoer user I was still unable to connect.

Were you able to connect utilizing a user that has to pass a password @bitchkat ?

[2019-06-21 20:10] bitchkat commented on #56629
@notoriousbsd no, this was explicitly re-enabling the ansible 2.7 behavior which didn't support running rsync via sudo with a password.  [https://docs.ansible.com/ansible/2.7/modules/synchronize_module.html](https://docs.ansible.com/ansible/2.7/modules/synchronize_module.html) says "Currently, synchronize is limited to elevating permissions via passwordless sudo. This is because rsync itself is co

[2019-06-21 20:31] bogd commented on #43466
After spending half a day on this issue (authenticating using a vaulted service_account_contents), I think I finally got it to work. So I am posting what I managed to discover here, hoping that it will help other people struggling with it.

I copy/pasted the contents of the JSON file into a variable, surrounded it by single quotes, **and made sure that I had an extra space between the opening sing

[2019-06-21 20:38] sivel commented on #24425
After looking through what jinja2 is doing, effectively to exercise raise an undefined error, we should probably mimic that behavior.

Make sure that we explicitly exercise the code that results in decrypting the vault.

Such as forcing the `quote` filter, to explicitly call `to_text` on the data.

Instead of assuming that values are certain types, we should explicitly evaluate them, so that the s

[2019-06-21 21:11] ibaldonl opened #58216 "elb_application_lb add support for source-ip field to rules conditions"
##### SUMMARY

Add support for source-ip condition field to rules conditions.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

elb_application_lb

##### ADDITIONAL INFORMATION

[code]

A new enough Boto returns this for the `current_condition` which is not supported in Ansible 2.8.1 and gives a `KeyError` in `_compare_condition()`:
[code]
Thanks!!!

[2019-06-21 21:44] nitzmahone commented on #57815
Hrm, the fact that `meta: reset_connection` is *also* required doesn't make sense to me... The connection has already been reestablished by the time the `async_status` task completes (by necessity). What do you see without the `meta: reset_connection`- still the old envvar values?

[2019-06-21 22:07] CameronNemo commented on #51972
@ganeshrn you closed it again

[2019-06-21 22:22] CameronNemo opened #58219 "modules/network/junos/junos_config: allow specification of backup format"
##### SUMMARY
For configuration source, one is able to specifiy the format used. It would be nice if a similar option could be allowed for the backup format (with choices of 'text' and 'set'). Current code tries set first, then falls back to text if it is unavailable.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ju

[2019-06-21 22:22] srajtiwari opened #58220 "Support creating VMSS with more than 100 instances"
##### SUMMARY

When we try to create a VMSS with >100 nodes it fails because "Enable scaling > 100 instances" setting is not turned on. The current azure_rm_virtualmachinescaleset module does not provide a way to turn this setting on.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachinescaleset

##### ADDITIONAL INFORMATION
When creating a VMSS with > 100 VM we get the fo

[2019-06-21 22:27] CameronNemo commented on #58219
!component =lib/ansible/modules/network/junos/junos_config.py

[2019-06-21 23:15] jfrabaute commented on #43466
You can use the `string` filter.

Your task becomes something like:

[code]

[2019-06-21 23:56] bcoca commented on #24425
fixed in #57504

[2019-06-22 02:16] markatdxb opened #58222 "win_snmp not working ?"
##### SUMMARY

win_snmp module doesnt set / add community strings or managers.  playbook results always shows the current configuration but no changes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_snmp

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows server 2016 standard edition

##### STEPS TO REPRODUCE

simple playbook based on documentation

[2019-06-22 02:51] isorn44x opened #58223 "Ansible in Shutting down Ora12c Database"
[code]

I am getting above error. I am trying to stop the database using ansible. attached photo is the manual steps i need to perform:
[code]
Please help. Thanks in advance.

![ora12c](https://user-images.githubusercontent.com/45810629/59958583-87497e00-94db-11e9-9844-695a198f7c3d.jpeg)

[2019-06-22 02:54] Im0 commented on #57285
Thanks!! :)

[2019-06-22 03:01] isorn44x commented on #58223
@ansibot component name ansible and ora12c running in virtual machine.

[2019-06-22 05:20] #48310 closed, assigned to nobody

[2019-06-22 05:48] caphrim007 commented on #22034
I've only been able to reproduce this error if I write a separate python test that sets the 'tls_version' parameter of the mqtt.single function to a string such as "1.2".

I've tried to reproduce this on ansible 2.3 as well as ansible 2.8 without success. I suspect that whatever value you, or the paho library, was passing to the dictionary was not one of the valid ssl.PROTOCOL_* values.

Having sa

[2019-06-22 06:10] chopraaa commented on #56910
Both `-UseMaximumSize` and `SizeMax` would return the same values, this has been tested before. The issue lies in partitioning and that's where the ~1MiB difference comes from. It seems that the best way to go about would be to factor the 1 MiB minimum like you mentioned earlier.

@ShachafGoldstein Thoughts?

[2019-06-22 06:17] bogd commented on #43466
@jfrabaute - Thank you! I can confirm that it also works with a multiline string, plus the `string` filter.
[code]
Task:
[code]
However, I cannot find the `vault` lookup you mentioned in the documentation. Could you please point me in the right direction?

[2019-06-22 06:22] jfrabaute commented on #43466
I was thinking about this one:
https://docs.ansible.com/ansible/latest/plugins/lookup/hashi_vault.html

So, using it would be something like:

[code]

[2019-06-22 07:36] jpmens commented on #22034
@caphrim007 if you're up to adding this I'd approve it.

[2019-06-22 12:53] jasonberanek opened #58232 "uri: multiple calls to url twice when dest parameter is a directory"
##### SUMMARY

`uri` module makes a duplicate request to the `url` if the `dest` parameter is a directory.  The code for the module shows the duplicate requests is attempting to determine if the actual call with return a redirect, so the module can define what the destination file should be based on the redirect location vs the original `url` parameter when writing out the response.

https://githu

[2019-06-22 13:47] ghost opened #58233 "Single-page or PDF documentation, to print it or read offline"
Single-page or PDF documentation, to print it or read offline.

I already have my answer in Issue #4265, and [this comment](https://github.com/ansible/ansible/issues/4265#issuecomment-360983438) summarizes well my opinion. But maybe by bringing up again the subject the Ansible maintainers can change their mind. There is nothing wrong by changing our mind from time to time.

I have lots of free tim

[2019-06-22 15:14] #57271 closed, assigned to nobody

[2019-06-22 16:33] lijok commented on #58172
you're right, that makes sense

[2019-06-22 16:33] #58172 closed, assigned to nobody

[2019-06-22 16:57] MarcDiethelm opened #58237 "Error: "No package matching 'docker-ce' is available" but apt-cache shows it, apt installs it"
##### SUMMARY

Platform: armv7, OS: Armbian Bionic 18.04
The package "docker-ce" fails to install using the module `package`. Error msg: `No package matching 'docker-ce' is available`. However the repository is set up correctly and the package is found using `apt-cache show docker-ce` manually; the package can be installed using `apt install docker-ce` manually. This is a package made available by

[2019-06-22 17:45] ShachafGoldstein commented on #43975
A brief online search yields a possible answer, The resources giving the `Failed to serialize properties into CimInstance` error are composite resources.
Found similar issues in [chef](https://discourse.chef.io/t/dsc-resource-will-not-work-with-composite-resources/8443) and an [old issue here](https://github.com/ansible/ansible/issues/37882) and [Stackoverflow](https://stackoverflow.com/questions/

[2019-06-22 19:10] ssbarnea opened #58238 "interpreter_python discovery silent options are not working"
##### SUMMARY
It seems that regardless how you configure interpreter discovery in `ansible.cfg`, ansible will continue to raise deprecation warnings. This happens even if you set ``python_interpreter = auto_silent`` or ``auto_legacy_silent`` and even if you manually specify ansible_python_interpreter=... inside inventory.

Ansible should not raise any warnings in any of these cases. If user mentio

[2019-06-22 20:34] agowa opened #58240 "set_fact and run_once incorrectly setting facts"
##### SUMMARY
If set_fact is used with run_once the fact gets applied to all hosts.

Edit: Documentation should mention `delegate_facts: True` is required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
run_once

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE
There are at least two hosts in the group TestGroup
[code]

##### EXPEC

[2019-06-22 20:36] gebi commented on #43466
i had the same problems making `service_account_contents` working which should come from a vault and debugged about a day to get just a few gcp modules working.

The `| string` jinja filter is a nice way to make it work but also quite brittle as on every variablen expansion it will break the variable again if not again wrapped with a `|string` filter.

I resorted to use the following construct whi

[2019-06-22 21:10] gebi opened #58242 "gcp_dns_resource_record_set does not work with service_account_contents"
##### SUMMARY
gcp_dns_resource_record_set does not work with service_account_contents as soon as the module needs to make changes (it works only when no changes need to be made)

Error is `Credential type 'serviceaccount' not implemented`, it works with the same credentials given via `service_account_file`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_resource_record_set

##### ANS

[2019-06-22 21:45] gebi opened #58243 "gcp_dns_resource_record_set - creating dns entries via specifying managed_zone.name does not work"
##### SUMMARY

Creating dns entries via specifying managed_zone.name does not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_dns_resource_record_set

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The dns record be created, as documented in https://docs.ansible.com/ansible/latest/

[2019-06-22 22:31] gebi opened #58244 "gcp_dns_managed_zone not handling domain changes"
##### SUMMARY
gcp_dns_managed_zone not handling domain changes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_dns_managed_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Either give an error when the domain of a zone can actually not be changed, or do not show it as changed (i'd p

[2019-06-23 00:19] zyp opened #58245 "hcloud: Add reverse DNS management"
##### SUMMARY

The Hetzner Cloud API has a `change_dns_ptr` call for both servers and floating IPs to update reverse DNS entries. The Ansible module should make use of this to allow reverse DNS management.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hcloud_server hcloud_floating_ip

##### ADDITIONAL INFORMATION

[code]

[2019-06-23 01:13] zyp commented on #58245
!component hcloud_server

[2019-06-23 07:05] justjais commented on #30406
@ EndlessPancake can u plz test with ansible 2.8 version and update if you're still having the respective issue.

[2019-06-23 07:07] justjais commented on #37991
@koladiya @mattdc10 can u folks please test the suggestion with Ansible `2.8` and let us know if you're still having the issue.

[2019-06-23 07:14] agowa opened #58246 "win_domain_user not idempotent for setting passwords"
##### SUMMARY
win_domain_user always returns changed if a password is specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_domain_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The 2nd task to show as not changed.

##### ACTUAL RESULTS
The 2nd task shows as changed, even though the p

[2019-06-23 07:15] justjais commented on #37874
cc. @samccann

[2019-06-23 07:30] NicolasJungers opened #58248 "ubuntu ppa fails on 19.04 disco dingo"
##### SUMMARY
when starting ansible 2.8 on Ubuntu 19.04 it fails with the following:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=19.04
DISTRIB_CODENAME=disco
DISTRIB_DESCRIPTION="Ubuntu 19.04"

cat /etc/apt/sources.list.d/ansible-ubunt

[2019-06-23 07:37] justjais commented on #36656
@visualne Thanks for raising the issue, but I tried to reproduce the scenario with Ansible version `2.7.11` with `connection: local` and I am not able to reproduce the respective issue for me the router privilege is set to `15` as expected. Can u please try with respective version and let me know if you're still facing the issue.
Also, we encourage to use `netowrk_cli` connection instead of connec

[2019-06-23 08:25] notoriousbsd commented on #56629
Yes, we had to do this as well.

I just made the playbook add the line to the sudoers file, and remove it after it's done, but that's a fine work around for me.

[2019-06-23 11:32] user318 commented on #40220
This changes works for me. Not sure though if I access mode parameter correctly.

[ansible-modeignore.patch.txt](https://github.com/ansible/ansible/files/3317782/ansible-modeignore.patch.txt)

[2019-06-23 16:36] felixfontein commented on #56850
resolved_by_pr #58256

While fixing this, I found another bug in SAN comparison for `openssl_certificate` (`openssl_csr` had that bug already fixed).

[2019-06-23 16:46] neilborromeo opened #58257 "ec2.py support for ap-east-1 (Hong Kong)"
##### SUMMARY

When I try to run:
`$ inventory/ec2.py --refresh-cache`

it returns:
`region name: ap-east-1 likely not supported, or AWS is down.  connection to region failed.`

##### ISSUE TYPE
- we're starting to provision resources to ap-east-1 (Hong Kong) and we'd like to get it working.

##### COMPONENT NAME

Ansible Dynamic-Inventory
ec2.ini
ec2.py

##### ADDITIONAL INFORMATION

N/A

[2019-06-23 17:16] jvanderaa opened #58258 "asa_og: When using integers in task for port-object group types getting errors"
##### SUMMARY

First attempt of using asa_og for port-group creation and you are using integers in the task parameter `port_eq` the module comes back with a concatenation error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_og

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS as command host
ASAv in lab environment

##### STEPS TO REPRODUCE

[c

[2019-06-23 17:38] neilborromeo commented on #58257
$ ansible --version
ansible 2.8.1
  config file = /home/cliper/Desktop/Neil.Hosting/ansible.aws/ansible.cfg
  configured module search path = [u'/home/cliper/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Nov 12 2018, 14:36:49)

[2019-06-23 18:21] jwflory commented on #27293
I am hitting this issue with Ansible 2.8.1. There is not a documented way of following 302 Redirects I can find. For example, this makes it difficult to use GitHub assets from a git tag release:

[code]

I get a 404 `status_code` when I run an Ansible task that uses the same URL:

[code]

Is there a work-around or a fix? I tried adding `follow: yes` to my task but this had no change on the 404.

[2019-06-23 19:46] felixfontein commented on #58257
You might want to use [inventory plugins](https://docs.ansible.com/ansible/latest/plugins/inventory.html) instead of inventory scripts.

[2019-06-23 19:48] zyp commented on #58245
!component +lib/ansible/modules/cloud/hcloud/hcloud_server.py

[2019-06-23 20:09] Fonata commented on #38795
I believe this the same issue as #41355.

[2019-06-23 20:14] felixfontein commented on #55267
I've been reading up a bit on this. OpenSSH (and thus `ssh-keygen`) has been using X509/PEM keys previously, and at some point switched their default format to something different (you can still use `ssh-keygen` to create PEM keys with the `-m` option). I guess that OpenSSH bundled with Mojave is using the new key format.

The `openssl_csr` module is for handling OpenSSL (not OpenSSH!) keys. So yo

[2019-06-23 20:35] jap commented on #57934
Please ignore the ubuntu case then.

The output of `whoami` on 2.7.7 is `root`, which indicates `become` did its job. On 2.8.1, it returns `jasper` which indicates, `become` did not do its job.

What more information would be needed?

[2019-06-23 21:02] rehmatworks commented on #55267
Thank you for providing the details on it.

[2019-06-23 21:02] #55267 closed, assigned to nobody

[2019-06-23 21:26] dagwieers commented on #17002
@samdoran That's not the same thing then what I proposed. Maybe the naming is confusing, but the facts plugins are run on the controller, NOT on the target system. That's why I called it facts plugins (and not facts modules).

[2019-06-23 21:39] dagwieers commented on #17350
@samdoran It is not resolved by #13620 as that PR has not been merged yet.

[2019-06-23 21:40] dagwieers commented on #17350
resolved_by #13620

[2019-06-23 21:48] ShachafGoldstein commented on #58193
With what connection type and authentication did you try?
if you use domain_server param it should work unless there are Kerberos double hop issues

[2019-06-23 21:52] ShachafGoldstein commented on #58246
This is not possible, there is no way to check the password without doing login attempts which I think is an overkill myself.
Every time a password is given we should be ok to assume the user is changed, at least in my opinion.

[2019-06-23 22:19] nwchandler commented on #58246
I wrestled with this for some time when I did the initial implementation of this. I don’t like showing that the password changed if it actually didn’t, but I could not come up with a clean way to verify whether it did or did not. If anyone can come up with a way to do this easily, that would be great, but I don’t suspect there is a great way to accomplish this.

[2019-06-23 22:41] mcassaniti commented on #58222
The parameter is 'community_strings' rather than 'communities'. I think that should resolve the issue.

[2019-06-23 22:42] ShachafGoldstein commented on #58246
The only way to test it is to try login with the given password and if it works, return ok.
but as someone who managed an enterprise AD, I personally wouldn't want a 3rd party tool to start playing with tokens and maybe lock users or have permissions issue in the server side just for the OK

[2019-06-23 22:53] petemounce commented on #57815
@nitzmahone me either.

New gist of playbook, inventory and output: https://gist.github.com/petemounce/ccee3b32e19a0f7c21abf9a2868d8695

I've adjusted the playbook so it looks at the variables at more points, to answer your question, and run it again. Yes, I saw the unchanged environment variables (https://gist.github.com/petemounce/ccee3b32e19a0f7c21abf9a2868d8695#file-verbosity-4-output-txt-L674

[2019-06-23 22:55] petemounce commented on #57815
(I'm also keen to try out the incoming 8.0.0.0 release that is happening _right now_ - but it's still Sunday, here, so... tomorrow).

https://github.com/PowerShell/Win32-OpenSSH/commit/5686c82633bc3c64141e984822b71d1766c6772b

[2019-06-23 22:57] jborean93 commented on #58246
As an FYI we currently do this with win_user https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_user.ps1#L43-L107. It uses LogonUser right now but historically it used DirectoryyServices ValidateCredentials. The reason why it was changed was because it relied on RPC to test the credentials and was quite sensitive to a few bugs like name resolution failures as well as per

[2019-06-24 00:27] willthames commented on #58257
As far as I'm concerned, @felixfontein is right - I consider ec2.py inventory scripts deprecated. Perhaps we should better document that.

[2019-06-24 01:08] markatdxb commented on #58222
thanks for advice - you are right, using correct parameters works just fine - my bad.
i got confused as i simply copied the sample syntax and it didnt throw any error message.
still it would be great to update the examples in the module doc with the correct syntax if possible

- hosts: Windows
    tasks:
      - name: Replace SNMP communities and clear managers
        win_snmp:
          **commun

[2019-06-24 01:08] #58222 closed, assigned to nobody

[2019-06-24 02:06] MyronFanQiu commented on #58220
@srajtiwari Thanks for opening this issue! We will investigate this one and share any update with you!

[2019-06-24 02:12] walrusVision commented on #29322
The output of `monit summary` has changed in this [commit ](https://bitbucket.org/tildeslash/monit/commits/8546c07ea1fe04e058567e668b7d64ebc2ee1a4f) and affects all monit versions from 5.25.0. Instead of reporting 'Running' it now reports 'OK' instead which the monit module doesn't not check for, as shown by @raymyers above.

When running my playbook against a u18.04 machine with monit 5.25.2 it d

[2019-06-24 02:15] MyronFanQiu commented on #58220
@srajtiwari Hi. I'm not sure whether the vmss service supports >100 instances. Could you share us where you can turn on the "Enable scaling > 100 instances" setting ?

[2019-06-24 02:20] zikalino commented on #58220
@srajtiwari this can't be fixed in Ansible. It seems like the error is returned from Azure and it doesn't allow creating VMSS with more than 100 instances.

I think this limit may be somehow related to the subscription as according to the doc here:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview

The max numer of instances is 1000.

[2019-06-24 02:21] zikalino commented on #58220
Yeah, it's actually described here: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups

[2019-06-24 02:22] zikalino commented on #58220
@smile37773 could you look into that issue?

[2019-06-24 02:25] smile37773 commented on #58220
ok

[2019-06-24 02:34] MyronFanQiu commented on #58069
@zikalino @yungezz FYI. Please look at this feature request when you're available.

[2019-06-24 04:50] Akasurde commented on #58223
Hi @isorn44x !

You may want to set environment variables or path variables since the following error message appears in Ansible ad-hoc command

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.n

[2019-06-24 04:50] #58223 closed, assigned to Akasurde

[2019-06-24 04:51] Akasurde commented on #58238
cc @nitzmahone

[2019-06-24 04:51] Akasurde commented on #58168
resolved_by_pr #58170

[2019-06-24 05:39] MarkusTeufelberger opened #58266 "Modules: Provide URL to "Requirements" projects"
##### SUMMARY

The `Requirements` section on module pages should also contain links to the referenced project(s).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

...all modules with a `Requirements` section, I guess?

##### ADDITIONAL INFORMATION

Some examples:
https://docs.ansible.com/ansible/latest/modules/openssl_certificate_module.html#requirements lists:

* PyOpenSSL >= 0.15

[2019-06-24 05:58] krisvasudevan commented on #56856
This issue is arising because the parameter "view" cannot be updated for an SRV record in NIOS. In the play for modifying SRV record, you need to remove the parameter "view", as below:
[code]

[2019-06-24 06:07] justjais commented on #57205
@plcarman Thanks for raising the issue, and the issue was resolved in Ansible version `2.8` in the PR#49818.
So, I am closing this issue and if you still having the issue you can reopen the same.

[2019-06-24 06:07] #57205 closed, assigned to nobody

[2019-06-24 06:36] dano0b commented on #57673
The helm module(better said pyhelm) has a similar issue: https://github.com/flaper87/pyhelm/issues/65 There is already a PR open to fix it, maybe adaptable.

[2019-06-24 06:54] sac commented on #56844
LGTM

[2019-06-24 07:29] #56059 closed, assigned to nobody

[2019-06-24 07:39] agowa338 commented on #58193
Ok, maybe I'm just doing it wrong. How do I specify which domain the user account belongs to? I haven't seen any option to specify the target domain.

[code]

[2019-06-24 07:40] Andersson007 commented on #27327
I'll fix it

[2019-06-24 07:50] agowa338 commented on #58246
I think within my pr #58247 I addressed the issue ShachafGoldstein mentioned about failed logins by just adding an additional option for `update_password` namely `when_changed`. That way if one wants the module to not validating the credentials one could just use `update_password: always` and the module will set the password regardless of the current value (aka. the current behaviour).

If either

[2019-06-24 08:01] Fred-sun commented on #31867
@yungezz Please help take a look this issue when you're free! Thanks a lot!

[2019-06-24 08:26] Fred-sun commented on #57254
@saito-hideki Can you elaborate on what instructions need to be added? Thanks a lot!

[2019-06-24 08:44] jborean93 commented on #58246
@agowa338: I would really recommend not using `ValidateCredentials` due to the issues we came across with win_user. Also as an FYI the `::new()` syntaxt is a PowerShell v5 feature and we need to support v3+. The alternative syntax is `New-Object -TypeName System.DirectoryServices.AccountManagement.PrincipalContext -ArgumentList 'domain`

[2019-06-24 08:56] Fred-sun commented on #57275
@MyronFanQiu @yungezz @zikalino Is there any update on this issue?

[2019-06-24 08:59] ShachafGoldstein commented on #58193
try giving the domain server option which translates to the the server
paramater of the cmdlets

On Mon, Jun 24, 2019, 10:41 Klaus Frank <notifications@github.com> wrote:

[2019-06-24 09:09] dgrelaud commented on #30411
My two cents:

For me, Ansible hangs because I configure and enable UFW somewhere in one of my included playbooks.

When UFW is enable, Ubuntu servers break opened sockets after a certain amount of time.  Thus Ansible could keep on its execution of other tasks, and suddenly hangs later, about 15s after enabling UFW.

The solution is to configure ubuntu to keep connections alive when enabling the f

[2019-06-24 09:12] MariaJohny commented on #55216
How can i fix this issue?
I was able to clone VMs till last week. And today it gives the `"Failed to clone virtual machine xxx to folder 'vim.Folder:group-v3257' due to permission issue: Permission to perform this operation was denied."`

vsphere user can login, and i have not changed any permissions? Can it any way related to HOST CPU or memory usage?

`ansible-playbook 2.7.7
  config file = /hom

[2019-06-24 10:03] agowa338 commented on #58193
Ok, thanks. I thought that parameter was just to select a specific domain controller. I did not think about being indirectly able to specify the target domain that way.

[2019-06-24 10:03] #58193 closed, assigned to nobody

[2019-06-24 10:17] agowa338 commented on #58246
oh, thanks for the hint. Than I'm going to close my pr and wait for the outcome of the next meeting. As there is already a working implementation in win_user, it could just be copied afterwards if everyone in the meeting agrees.

[2019-06-24 10:21] Andersson007 commented on #27327
@bearrito solved by https://github.com/ansible/ansible/pull/58272

[2019-06-24 10:59] Andersson007 commented on #30024
needs_info

[2019-06-24 11:31] #30024 closed, assigned to nobody

[2019-06-24 11:38] s-hertel commented on #57862
@kfattig You can pass multiple path terms to the lookup which will result in a list of dictionaries:
[code]
[code]

[2019-06-24 11:51] #58045 closed, assigned to nobody

[2019-06-24 12:09] Andersson007 commented on #30024
@felixfontein , thank you! Don't you have any problems with irc now? I can't get and send messages there by web and app, strange.

[2019-06-24 12:51] loganbest opened #58275 "Netbox inventory plugin for AWX/Tower"
##### SUMMARY

As of Ansible 2.8, Netbox has had a native inventory plugin. Including that as an available inventory source in AWX/Tower would be a welcome addition in the automation world as Netbox's popularity increases.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Netbox inventory plugin

##### ADDITIONAL INFORMATION

N/A

[2019-06-24 12:56] Akasurde commented on #27327
Closing this issue as PR #58272 is merged. If issue persists, please feel free to re-open.

[2019-06-24 12:56] #27327 closed, assigned to nobody

[2019-06-24 13:28] LeDOC666 commented on #54343
@Akasurde Hello there, I will try something else by using uri module instead of vmware_tag.
Please, could you give me the API path, and some info for create tags with vmware API ?

[2019-06-24 13:41] bcoca commented on #58275
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-06-24 13:41] #58275 closed, assigned to nobody

[2019-06-24 13:54] #57985 closed, assigned to ganeshrn

[2019-06-24 14:01] s-hertel commented on #58257
It doesn't look like boto supports that region, so this isn't something that can be fixed for the script (we don't add new features anymore to the script and to enable that region would required porting to boto3). The aws_ec2 inventory plugin uses boto3 and should work for you. Feel free to reach out on IRC or the mailing list if you need help switching to the inventory plugin.

[2019-06-24 14:01] #58257 closed, assigned to nobody

[2019-06-24 14:07] sugar700 opened #58280 "npm module's ci option always reports "changed""
##### SUMMARY

Having code like this:

[code]

Always reports that this caused a change, even if all packages are already in `package.lock` versions. This is because the following code causes `changed` to be always set to `True`: https://github.com/ansible/ansible/blob/17186bbde05dce4c9ba7d1d7876b2d999d2ff6dd/lib/ansible/modules/packaging/language/npm.py#L283-L285.

##### ISSUE TYPE
- Bug Report

[2019-06-24 14:13] #56715 closed, assigned to nobody

[2019-06-24 14:14] #56443 closed, assigned to nobody

[2019-06-24 14:15] sivel commented on #58232
Duplicate of https://github.com/ansible/ansible/issues/50719 https://github.com/ansible/ansible/pull/50771

[2019-06-24 14:15] #58232 closed, assigned to nobody

[2019-06-24 14:18] samdoran commented on #57660
@GriffithLea I totally understand. Thank you for providing additional information.

[2019-06-24 14:19] mikewiebe commented on #57322
@ganeshrn Thanks for the info.  I will verify and post back here.

[2019-06-24 14:19] bcoca commented on #17350
actually even if merged it does not resolve it, it creates the foundation to be able to resolve it But still closing as the following proposal supersedes this https://github.com/ansible/proposals/issues/92

[2019-06-24 14:19] #17350 closed, assigned to nobody

[2019-06-24 14:21] sivel commented on #58238
The problem appears to be that you have used `python_interpreter` instead of the correct `interpreter_python` config option.

You appear to have ignored the GitHub template, which asks to provide the output of `ansible-config dump --only-changed` which would confirm or deny the existence of a particular config option.

needs_info

[2019-06-24 14:23] bcoca commented on #57934
i need a way to reproduce, your examples are inconsistent, the one you say fails does not have become enabled (no attempt to inject a PE method is seen)

needs_info

[2019-06-24 14:28] kdelee commented on #46727
@akasurde testing for tower added by @one-t is showing this is still broken for us

[2019-06-24 14:29] bcoca commented on #17002
@dagwieers, considering vars lazy loading, vars plugins, inventory plugins and the current gather_facts action, we believe you have all the features you wanted in 'facts plugins' and don't think we need this option. Please feel free to bring up at irc meeting to revisit this topic.

[2019-06-24 14:29] #17002 closed, assigned to nobody

[2019-06-24 14:30] kdelee commented on #46727
@goneri heard you may be able to help us on this as well

[2019-06-24 14:37] bcoca commented on #58240
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As documented herer https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html, `run_once` applies facts for

[2019-06-24 14:37] #58240 closed, assigned to nobody

[2019-06-24 14:44] samccann commented on #37874
@justjais - what format should the master.cfg be in? :-)

[2019-06-24 14:48] bcoca opened #58281 "Automatically template inventory config options"
Automatically import existing variables and allow for templating of inventory config options by default for all plugins.

As a side effect, this should also allow for using inline vaults on options.

superset of #58213
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

inventory

[2019-06-24 14:50] agowa opened #58282 "jinja2 invalid syntax results in string instead of error"
##### SUMMARY
An invalid syntax within a jinja2 statement results in the statement being returned instead of an syntax error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Syntax error (two closing `)`-characters)

##### ACTUAL RESULTS

[co

[2019-06-24 14:53] sivel commented on #58282
I'm going to document some things here so that I don't lose them:

v2.8:
[code]

devel:
[code]

In devel `_contains_vars` and `is_template` are now the same.

[2019-06-24 15:03] ssbarnea commented on #58238
@sivel Indeed no excuse for ingoring the template on that one.

I kinda feel stupid now with this bug, but at the same time I am wondering what was the great design behind having `ansible_python_interpreter` variable loaded from `interpreter_python`?

If its scope was to create confusion, it was fully achieved. I bet someone else would raise the same bug or question in the next couple of months.

[2019-06-24 15:03] #58238 closed, assigned to nobody

[2019-06-24 15:10] JiElPe-Fr38 commented on #42148
I just spent few hours because of this problem, with a jenkins instance created inside a docker container, trying to exclusively used an Ansible playbook (no dockerfile) with docker and jenkins related modules.

Reading the code, my understanding is that when the latest plugin version or a specific version is asked for an already installed plugin, the version comparison is made by comparing md5sum

[2019-06-24 15:11] akors opened #58284 "recursive copy with remote_src=yes does not recurse beyond first level"
##### SUMMARY

Recursively copying changed directories does not work if the changes are deeper than one directory level. If contents the top-level src directory appears unchanged, the whole directory appears unchanged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Distribution: Fedora 30, 64 Bit
- P

[2019-06-24 15:17] vpopescu opened #58285 "azure_rm_aks not updating credentials"
##### SUMMARY
When running azure_rm_aks and specifying new service principal credentials for an existing cluster, the new credentials are not applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_aks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu on Windows 10 (WSL)

##### STEPS TO REPRODUCE

Assume you have credential id id1, with sec

[2019-06-24 15:29] AlanCoding commented on #58146
This appears to be because this block:

https://github.com/ansible/ansible/blob/4376e88849a7cf3be2613d0d12a49fa839ab2bd3/lib/ansible/module_utils/ansible_tower.py#L64-L75

Does not remove the parameter `tower_verify_ssl`, like it does `tower_password` and the other ones.

A fix is already up: https://github.com/ansible/ansible/pull/57518

Ping @pilou-

[2019-06-24 15:38] neilborromeo commented on #58257
Hi guys, thank you so much for all the help. I did dabble quite a bit on inventory plugins. It's working now and I'll continue the other question to the IRC channel.

I'm currently testing the filters and hostnames to filter hosts and I can't seem to filter out using a varibale.
aws_ec2.yml looks like this:

`plugin: aws_ec2
regions:
  - ap-southeast-1
boto_profile: default
#filters:
#  tag:Name='

[2019-06-24 15:39] Akasurde commented on #46727
@kdelee I will take a look.

[2019-06-24 15:42] mikewiebe commented on #43223
Closing since we have a workaround.

[2019-06-24 15:42] #43223 closed, assigned to nobody

[2019-06-24 15:51] Akasurde commented on #54343
@LeDOC666

1. Using `uri` module with VMware - https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/scenario_vmware_http.html
2. VMware API for creating tags -
http://vmware.github.io/vsphere-automation-sdk-rest/6.5/operations/com/vmware/cis/tagging/tag.create-operation.html

[2019-06-24 16:16] mikewiebe commented on #57322
@ganeshrn the times look better with the `buffer_read_timeout` set to `0`.

`devel`: loop `1m35.072s`
`devel`: loop idempotent: `1m29.759s`
`devel`: agg `0m12.761s`
`devel`: agg idempotent: `0m9.129s`

[2019-06-24 16:35] #46122 closed, assigned to samccann

[2019-06-24 16:44] bcoca commented on #58238
easy enough to add another config option and deprecate the current one if that is confusing

[2019-06-24 16:51] sivel commented on #58282
The big difference here, is that we removed `_contains_vars` because it was "incorrect", however it seems to have mostly been used as a `maybe_template` whereas `is_template` is strict.

At this point, I'm guessing we need to bring back the not-so-correct functionality of `_contains_vars`, but likely renamed, and documented to explain it's goals/functionality.

[2019-06-24 17:10] nitzmahone commented on #58238
The primary reason for the disconnect is that the underlying config var for `interpreter_X` needs to be easily detected and stripped from module results (while Python is the only current implementation, Powershell will probably be next as things shift over there). It's a little easier/cheaper to find `^INTERPRETER_\w+` than `^\w+_INTERPRETER$`, and I named the ini keys so that multiple interpreter

[2019-06-24 17:14] jgeorgeson commented on #23320
Upon continued testing and research I think I'm also hitting #44905. Am using `win_command` to run the Chocolatey install script on instances in an internal OpenStack environment, behind a proxy. That seems to be improved by running it async, while other tasks like `win_chocolatey` seem to be benefiting from tweaking the `ansible_winrm_{read,operation}_timeout_sec` in my inventory `group_vars`.

[2019-06-24 17:43] #12186 closed, assigned to nobody

[2019-06-24 17:47] danilansible opened #58292 "ansible modules for snow authentication issues with sso / ADFS"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Trying to update an INC using ansible's servicenow modules failing with below authentication error
"Unexpected HTTP GET response code. Expected 200, got 401"

The web snow login is usually SSO for us, does this module work with SSO / ADFS .
If not,  is there an alternative to get this done

Can someon

[2019-06-24 17:50] sivel commented on #58248
It sounds as though you have a mixed/broken installation.

You have likely installed ansible via pip (an older version) and via your OS package manager, which has resulted in this error.

I'd recommend `apt-get purge ansible` and `sudo pip uninstall ansible`.