[2019-06-24 18:22] nerlion commented on #36308
See response from mkrizek

[2019-06-24 18:24] xcambar commented on #58280
I agree the `changed` logic of this module is not ideal.
Do you have suggestions about what the logic should be like?

[2019-06-24 18:54] epicanthal commented on #46052
Thank you @sivel, I will adjust how I'm using --extra-vars.  The below behavior (Results 3) had been haunting me for a while.

Use the **_intersect_** filter with --extra-vars:
[code]

**Results 1 - Works as expected:**
[code]

**Results 2 - Works as expected based on _sivel'_s YAML formatting example above:**
[code]

**Results 3 - Fails as 'grape' was incorrectly include with results:**
[code]

[2019-06-24 19:18] andrewsav-bt opened #58295 "DNS Made Easy: Cannot retrieve record by name"
##### SUMMARY

The module documentation says:

[code]

If you try to run this task like this however:

[code]
It fails with the error: `parameters are required together: record_value, record_ttl, record_type`. Note that neither of `record_value`, `record_ttl`, and `record_type` are specified.

It looks like ansible is getting confused by the fact that `record_ttl` has a default value.

##### ISSUE

[2019-06-24 19:36] SteveMB1 opened #58298 "Variable expansion issue ~ method previously worked"
##### SUMMARY
When using the Ansible modules shell or debug the following fails to work correctly, when it worked previously.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Shell or Debug

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.5 (18F132)

##### STEPS TO REPRODUCE

Use the name of your hosts group and jinja templating to get the FQDN o

[2019-06-24 19:41] apollo13 commented on #56234
I am getting similar warnings when delegating setup from a centos 7 to an ubuntu 18.04 host:
[code]
results in:
[code]

The check now thinks that borg-centos-system is an ubuntu system :)

[2019-06-24 19:45] #56607 closed, assigned to nobody

[2019-06-24 19:45] #57677 closed, assigned to nobody

[2019-06-24 20:06] sivel commented on #58298
One of the hosts in your group `tag_Role_Node` seems to not have gathered facts.

A task like the following should help you indicate which one:

[code]

As you have neglected to provide the full playbook, the command you invoked ansible with, and the full output of the playbook it is hard to tell, but the description about is likely your issue.

[2019-06-24 20:06] branic opened #58302 "win_format fails on second run"
##### SUMMARY

When using the win_format module a run of the playbook will fail if the filesystem has files in it. The module is failing with the error: `Force format must be specified to format non-pristine volumes`. Because the module fails it cannot be used in an idempotent manner. This prevents a playbook from running successfully if there are files in a previously formatted filesystem.

I don

[2019-06-24 20:13] leonrado commented on #55551
Same issue here.
In my laptop run ansible 2.7.5 works, but in Tower with ansible 2.8.0 not

[2019-06-24 20:29] SteveMB1 commented on #58298
Thanks for the prompt response! This is all I'm running while I'm trying to debug.
[code]

[2019-06-24 20:30] AHassanSOS commented on #30219
I'm facing the same issue. The play fails when there is a request for an enter key.

For example, try to add the following repo:
[code]
Adding the repo requires an extra enter key which makes Ansible hangs.

[2019-06-24 20:38] sdhughes1 commented on #29716
@justjais  The problem happens when a _partial_ access-list is configured. It deletes the entire existing ACL but only puts back the parts that didn't exist before (instead of the whole block like you'd expect)

In your comment above, try running your sample play on a router which simply has the following preexisting acl. You will find that the preexisting line isn't there anymore after running yo

[2019-06-24 20:40] ShachafGoldstein commented on #58302
Seems to me that win_format was meant for a specific case of formatting volumes and not to check the file system or size of that volume there are facts for that or other methods.

if someone runs a module such as win_format which has a destructive effects if used in a wrong way I don't see a subset of parameters you could give to. safely decided for the user that OK should be returned without actu

[2019-06-24 20:41] sivel commented on #58298
You are looping over `tag_Role_Node` but only targeting `tag_Program_Kubernetes` and `tag_Program_Monitoring`.  It is possible that one of the nodes in `tag_Role_Node` is not included in the hosts your play is targeting. As such, facts have not been gathered with it.

I'm going to proceed with closing this issue.  Please look at the task that I provided above which may help you track this down.

I

[2019-06-24 20:41] #58298 closed, assigned to nobody

[2019-06-24 20:59] hiyokotaisa opened #58303 "Add VRF support to Arista (EOS) Modules"
##### SUMMARY

The Arista networking modules should add VRF support like the issue: #52738

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

eos_bgp, eos_system, eos_logging, eos_interface and eos_l3_interface

[2019-06-24 21:02] branic commented on #58302
I would say that as long as the volume is formatted with the same filesystem type then the module shouldn't do anything, just return OK. If it is formatted and the user wants it to be reformatted then `force: yes` should be specified. Failing because it is formatted and has files in it is not grounds for the module failing.

This module should behave similar to the Unix/Linux filesystem moudle whe

[2019-06-24 21:23] ShachafGoldstein commented on #58302
I see, let's wait for a comment from @jborean93
<https://github.com/jborean93> @jhawkesworth
<https://github.com/jhawkesworth> @nitzmahone
<https://github.com/nitzmahone>

On Tue, Jun 25, 2019, 00:04 Brant Evans <notifications@github.com> wrote:

[2019-06-24 21:36] andrewsav-bt opened #58305 "DNS Made Easy: Cannot create new txt record"
##### SUMMARY
When creating a new TXT record from scratch it appears that the module also attempts to create a new montor, even if `monitor: 'no'` is passed. Since TXT records cannot be monitored, the dnsmadeeasy API call fails and the task also fails.

[This](https://github.com/ansible/ansible/blob/e6166b40cc8f8766b8c91c46e98a89afeec3bd8f/lib/ansible/modules/net_tools/dnsmadeeasy.py#L684) is the

[2019-06-24 21:48] eKrajnak commented on #53199
@heuels Please, can you take a look on the issue? Still present in Ansible 2.8.1

[2019-06-24 21:58] andrewsav-bt opened #58306 "DNS Made Easy: Cannot update existing txt record"
##### SUMMARY

If you create a TXT records with a plain value, like `world` and then try to update this record (re-run the task) it fails. This happens because if the value is not surrounded by quotation marks (e.g. `'"world"'`) dnsmadeeasy adds the quotation marks. When [this code](https://github.com/ansible/ansible/blob/e6166b40cc8f8766b8c91c46e98a89afeec3bd8f/lib/ansible/modules/net_tools/dnsma

[2019-06-24 22:47] dglinder opened #58307 "Modprobe fails when modules.builtin missing"
##### SUMMARY
After upgrading to Ansible 2.8.1-1 the modprobe fails when the modules.builtin file is missing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
modprobe

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible is being run from RedHat 7.6 (fully up-to-date as of last month), running on a RedHat 6.10 system being built fresh from VM image.

####

[2019-06-24 23:10] marpada commented on #25718
+1

[2019-06-24 23:52] willthames commented on #25718
Please use the [aws_ec2 inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html) rather than ec2.py inventory script which will not be updated to work with assumed roles

[2019-06-24 23:55] SteveMB1 commented on #58298
Same thing happens is I run it with ``tag_Program_Kubernetes``

[2019-06-25 01:46] MyronFanQiu commented on #58285
@vpopescu Hi. Thanks for opening this issue. I checked the code, it seems there isn't update logic for the service_principal. @yuwzho Do you know why there is no update logic for service_principal ?

[2019-06-25 01:48] smemsh opened #58310 "setup module became excessively verbose in 2.8, but only if used implicitly"
##### SUMMARY
implicit fact gathering (`gather_facts: true`) has started dumping the entire setup output with just a single `-v`, which is new with 2.8.0 and still present in 2.8.1 (not present in 2.7.11).  this does *not* happen with `-v` if `gather_facts: false` and `setup` task is run manually in the play.

please restore the many-years-old, established behavior of implicit fact gathering to no

[2019-06-25 02:47] danilansible opened #58311 "Ansible snow modules authentication issues with sso / ADFS"
##### SUMMARY

Trying to update an Incident using ansible's servicenow modules failing with below authentication error
"Unexpected HTTP GET response code. Expected 200, got 401"

The web servicenow login is usually SSO for us, does this module work with SSO / ADFS .
If not, is there an alternative to get this done

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

snow module  / pysnow

##### A

[2019-06-25 06:28] akamensky opened #58316 "xml: unexpectedly does html encoding on value"
##### SUMMARY
XML module converts characters to their HTML representation. In my case it converted `&` to `&amp;` despite `&` actually opening a encoded sequence (in my specific case is `&#x5c;` for example).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7.5

##### STEPS TO REPRODUCE
Example task
[c

[2019-06-25 06:38] ric79 commented on #58110
##### SUMMARY
os_server does not allow to attach a boot volume specifying the device_name.

##### ISSUE TYPE
- When I create an openstack server I want to specify the device_name.
Here for example is an HOT template:

[code]
And here the Ansible version:
[code]
I need to specify "vda" as device name for boot_volume

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/os_server_mod

[2019-06-25 06:45] tomdeblende commented on #57189
Agreed, this is not fixed yet.

[2019-06-25 07:01] dabde opened #58317 "gcp_storage_bucket_access_control throws KeyError: 'id'"
##### SUMMARY
When try to assign a user or service account with gcp_storage_bucket_access_control, the ansible code throws `KeyError: 'id'`

If I use direct the google api, everything is working fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_bucket_access_control

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7
GCE

##### STEPS T

[2019-06-25 07:15] meons commented on #57356
Sorry for the late reply I was pretty busy last days :s
@Akasurde it works with following config.

[code]
That's really weird because I have just added `unit_number` parameter. And by the way if remove it from my actual yaml, I get the following message.
`TASK [add disk] ***************************************************************************************************
fatal: [localhost]: FAILED!

[2019-06-25 07:15] furstenheim-geoblink opened #58318 "Synchronize from control machine to remote host not working"
##### SUMMARY

##### ISSUE TYPE
- Bug Report
[code]
##### COMPONENT NAME
synchronize
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I'd file to be syncrhonize. If I execute any command on the remote host it works

##### ACTUAL RESULTS

[code]

[2019-06-25 07:37] Fred-sun commented on #56774
@zikalino Could you please help to update the processing progress of this problem? Thanks a lot!

[2019-06-25 07:39] Fred-sun commented on #56776
@zikalino Are you working on this problem? Could you please help to update the processing progress of this problem? Thanks a lot!

[2019-06-25 08:02] chopraaa commented on #58302
If you're running it twice without making changes to the volume it shouldn't fail.

Can you post the playbook you're actually using? Can you post the verbose output?

[2019-06-25 08:11] Akasurde commented on #58311
!component =lib/ansible/modules/notification/snow_record.py

[2019-06-25 08:20] schegi commented on #58001
Upgraded openshift to 0.9.0 and kubernetes to 9.0.0 and downgraded to serveral version down to 0.8.6/8.0.1 but always the same result.

[2019-06-25 08:23] Akasurde commented on #57356
Closing as per https://github.com/ansible/ansible/issues/57356#issuecomment-505318721

Thanks @meons for providing the feedback. Please feel free to open a new issue if face any problem. Thanks.

[2019-06-25 08:23] #57356 closed, assigned to Akasurde

[2019-06-25 08:54] remyleone commented on #56587
Adding this environment variable helped. Could you put here where it is written in the documentation to find it more easily in the future?

[2019-06-25 09:01] Errol12 commented on #32872
still facing the same issue

[2019-06-25 09:12] willthames commented on #58001
That pastebin doesn't seem to include any reference to the string `etcd` at all (ignoring case).

Can you do `kubectl get crd etcdclusters -o yaml` (or maybe `etcdclusters.etcd.database.coreos.com`)

[2019-06-25 09:13] mkrizek commented on #58292
Closing in favor of https://github.com/ansible/ansible/issues/58311.

[2019-06-25 09:13] #58292 closed, assigned to nobody

[2019-06-25 09:18] akors commented on #58284
Ommiting `remote_src=yes` makes the copy succeed, but the module claims that no changes have been made:

[code]

[2019-06-25 09:27] ZandaGo opened #58321 "Multi-groups point to a host configuration problem"
##### SUMMARY
Multiple groups name in ansible hosts file points to a host
my ansible hosts file:
[code]

When multiple services correspond to one host, writing multiple groups name is complicated. Is there a simple way to do this?
Like:
[code]

##### ISSUE TYPE
- Documentation Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### ADDITIONAL INFORMATI

[2019-06-25 10:01] CMADHANKUMAR commented on #58321
Hi Zanda,
    Host group in ansible is just to represent group of hosts. There is no need to have host group for each service installation. You can create common group and use group name in all services.
Example :
    You can create group for "sevrice_group_one" and use that group name for whichever service you want to use.

[2019-06-25 10:10] #46727 closed, assigned to nobody

[2019-06-25 10:21] SpComb commented on #57189
A stale `/run/yum.lock` file containing a pid that is no longer running (host/yum crashed while running yum) causes `yum lockfile is held by another process` errors on Ansible 2.8, but gets ignored on Ansible 2.7.

Is this a separate issue related to Ansible 2.8 yum locking changes?

Workaround is to `rm /run/yum.pid`.

[2019-06-25 11:02] justjais commented on #29716
@sdhughes1 yes, it'll delete the respective preexisting acl(`access-list 1 remark ### This line wont be sent ###`), coz the play has `before: no access-list 1` which means before running the play it'll 1st delete the existing access list 1, and then run the config access-list command(ref: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_config.py#L63).

[2019-06-25 11:27] heuels opened #58325 "routeros_command – fails with timeout on devices with long identity string"
##### SUMMARY

As reported by @danrimal, @moosehead123 in #53199, when device's identity is greater than 24 characters the request fails with timeout.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

routeros_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-06-25 11:28] heuels commented on #53199
Hi @danrimal, @moosehead123, thanks for reporting. I'm sorry it takes me forever to reply.

This is actually a separate issue, As a temporary workaround you can add `+cet200w` to your username so that it looks like this:
[code]

I've filed a separate issue to track this particular problem: #58325.

[2019-06-25 11:33] Akasurde commented on #58023
@mariolenz Thanks for bringing this up for the discussion. I think this is a great idea to split up `vmware_cluster` into several modules. Would you be interested in taking this effort forward ? Thanks.

[2019-06-25 11:37] Akasurde commented on #58068
@tmmruk `vmware_guest` decides the datastore on the basis of free space available. This may result in selecting datastore which is not storing rest of the VM files. You may specify datastore cluster to let vCenter decide the datastore.

[2019-06-25 11:45] meons opened #58326 "VMware: Unable to use vmware_tag_manager module"
##### SUMMARY
Unable to run a playbook with vmware_tag_manager module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)
Python 2.7.5
pip list
[code]
##### STEPS TO REPRODUCE

Run a playbook with vmware_tag_manager module on the same environ

[2019-06-25 12:03] ZandaGo commented on #58321
@CMADHANKUMAR thanks for your suggestion.

[2019-06-25 12:03] #58321 closed, assigned to nobody

[2019-06-25 12:14] jjh74 commented on #57732
I just created a PR(https://github.com/ansible/ansible/pull/58327). Unfortunately it doesn't include tests, I didn't find any existing unit tests that mock virtual facts. I'll read https://docs.ansible.com/ansible/latest/dev_guide/testing_units.html#testing-units and see if I can come up with unit tests for this.

[2019-06-25 12:15] xfix commented on #58280
Not really, unfortunately.

[2019-06-25 12:28] LeDOC666 commented on #54343
@Akasurde Great, I can move on, Now I can create multiple tags.
Now I just need to find a way to get tag_id (when the tag already exist on vmware)...

Did you had the time to test the 2 case  on 27 Mar answer?
I really think there is something to do.
Thanks

[2019-06-25 12:44] xfix commented on #58280
Specifically, something like this could do. I don't know Python all that well, so this is probably bad code, but hey.

[code]

[2019-06-25 13:16] jctanner opened #58332 "need a test for safe_eval + NoneType"
##### SUMMARY
https://github.com/ansible/ansible/pull/58269 lacks any tests.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/template/safe_eval.py

##### ANSIBLE VERSION

[code]

[2019-06-25 13:27] #22034 closed, assigned to caphrim007

[2019-06-25 13:35] jctanner commented on #58332
@markafarrell any help you can provide here would be appreciated.

[2019-06-25 13:49] AlanCoding commented on #54059
This may be resolved with the merge of https://github.com/ansible/ansible/pull/41637

[2019-06-25 13:50] RobVerduijn commented on #55879
The pr has been created quite some time ago, did I forget something or is over 7 weeks a normal time for a response ?

Rob

[2019-06-25 14:26] samdoran commented on #56587
I'm glad that resolved you issue. This is not something that we have documented since it is very unlikely to be encountered (and in fact it took me quite a while to figure out exactly why this was happening).

I will see about adding this to the docs.

[2019-06-25 14:30] lijok opened #58337 "nmcli conn_name description"
##### SUMMARY

nmcli docs state, for the conn_name option: when not provided a default name is generated: `<type>[-<ifname>][-<num>]`
am I misunderstanding something or does this imply that the option isn't actually required?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

nmcli

[2019-06-25 14:33] sivel commented on #12537
I'm closing this due to https://github.com/ansible/ansible/pull/50991 being merged for the 2.8 release.

Become methods should be fully configurable, and where not, and the existing plugin does not meet your needs, you can write a custom become plugin.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.go

[2019-06-25 14:33] #12537 closed, assigned to bcoca

[2019-06-25 14:36] samdoran commented on #56587
@remyleone Please look at #58338 and let me know if that documentation would have been helpful when you encountered this error. Thank you.

[2019-06-25 14:58] remyleone commented on #56587
Helpful indeed. Thanks a lot :)

Le mar. 25 juin 2019 à 16:43, Sam Doran <notifications@github.com> a écrit :

[2019-06-25 15:06] samdoran commented on #48788
@philfry This is the intended way for this work. We need to create documentation for this.

[2019-06-25 15:12] sivel commented on #53370
`lookup` does not always return a list, it can in some cases return a string when only 1 value is returned.

It is recommended in most cases to switch to using `query`/`q` instead of `lookup` to work around these issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-p

[2019-06-25 15:12] #53370 closed, assigned to nobody

[2019-06-25 15:12] samdoran commented on #56265
cc @jimi-c

[2019-06-25 15:13] heuels commented on #58325
##### TEMPORARY WORKAROUND
You can add `+cet512w` to your username in `hosts` file, this makes the default terminal width equal to 512 cols and enables "dumb" terminal mode.

Your final host definition should look something like this:
[code]

[2019-06-25 15:19] petemounce commented on #57815
Ah, https://github.com/PowerShell/Win32-OpenSSH/issues/1329 looks relevant.

[2019-06-25 15:20] samdoran commented on #58237
This should work fine and does not appear to be an Ansible bug. Please reach out on IRC or the mailing list for help:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-25 15:20] #58237 closed, assigned to nobody

[2019-06-25 15:21] samdoran commented on #58248
Closing per above. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-25 15:21] #58248 closed, assigned to nobody

[2019-06-25 15:27] samdoran commented on #58318
Per the error message, `bash` is not a valid shell type. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-25 15:27] #58318 closed, assigned to nobody

[2019-06-25 15:28] #58310 closed, assigned to nobody

[2019-06-25 15:31] kenorb opened #58342 "[datadog_monitor] WARNING: The value X (type int) in a string field was converted to 'X' (type string)"
##### SUMMARY

I've got the warnings about value conversion such as:

string). If this does not look like what you expect, quote the entire value to
ensure it does not change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- `datadog_monitor`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration.

##### OS / ENVIRONMENT

- macOS, Linux

##### STEPS TO REPRODUCE

Given t

[2019-06-25 15:51] acozine opened #58346 "Add banners to versioned docs"
##### SUMMARY
As a user, I want to understand the status of the documentation I'm looking at. Add banners letting users know when they are looking at bleeding-edge features or unmaintained versions.

- [x] add a banner to the docs for all unmaintained versions warning users that those versions may contain critical security bugs
- [x] add a banner to the docs for maintained but older versions encou

[2019-06-25 15:54] #58282 closed, assigned to sivel

[2019-06-25 15:59] NicolasJungers commented on #58248
I confirm that a pip installed ansible was the problem. Thanks, N.

[2019-06-25 16:05] kenorb opened #58347 "[ufw] WARNING: The value X (type int) in a string field was converted to 'X' (type string)"
##### SUMMARY

I've got the warnings about value conversion such as:

(type string). If this does not look like what you expect, quote the entire value to
ensure it does not change.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

- `ufw`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration.

##### OS / ENVIRONMENT

- macOS, Linux

##### STEPS TO REPRODUCE

Given the fo

[2019-06-25 16:11] felixfontein commented on #58347
You can use `port: "1111"` or `port: "{{ port | string }}" if `port` is a variable / expression yielding an integer.

[2019-06-25 16:43] jobcespedes commented on #35665
[Here](https://github.com/jobcespedes/ansible.create_ks_iso), there is a module with idea from https://github.com/ansible/ansible/issues/35665#issuecomment-375859256

[2019-06-25 17:04] mariolenz commented on #58023
I won't promise anything but at least I'll give it a try. Give me some days to work on a PR.

[2019-06-25 17:09] s-hertel commented on #25718
Yes, closing this as per above. We are not adding features to the contrib script at this time (porting it to use boto3 would be a feature). Your set up with ~/.aws/config is supported by the aws_ec2 inventory plugin since Ansible 2.5. Here is some documentation on using inventory plugins: https://docs.ansible.com/ansible/latest/plugins/inventory.html

[2019-06-25 17:09] #25718 closed, assigned to nobody

[2019-06-25 17:51] abadger opened #58351 "AnsibleVaultEncryptedUnicode.__str__() will traceback on python2 with non-ascii strings."
##### SUMMARY
This line of code will traceback on Python2 if a vaulted string contains non-ascii characters:

https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/yaml/objects.py#L131

The function should be defined like this:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/parsing/yaml/objects.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2019-06-25 18:10] DSpeichert opened #58352 "bool filter does not evaluate template"
##### SUMMARY
The deprecation notice encourages use of `bool` filter in the `when` condition instead of a bare variable. However, the `bool` filter does not seem to evaluate the variable (template) like using it "bare" does.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core / bool filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS / Python 3.

[2019-06-25 18:23] nitzmahone commented on #57815
Weird- it seems unlikely that the ControlMaster session could survive the sshd restart, but I can't think of any other possible explanation... It all fits if that's true.

[2019-06-25 19:04] DerrickTJ commented on #57876
Your output explains the error: You are adding 'one-way' filters to a 'both-way' contract

Your filter is set to one-way but you are applying it to a contract that you are setting to both-ways. Try changing your contract to contract_filter_type: one-way

[2019-06-25 19:05] DerrickTJ commented on #57876
I tested this with a filter and contract set to both ways and cannot reproduce the error.

[2019-06-25 19:14] abadger commented on #58351
Thanks to @shertel for figuring out a circumstance where ```__str__()``` is called.  If you configure an inventory plugin using a vaulted variable for one of the options, then ```__str__()``` ends up being called.  As expected, if the vaulted variable contains a non-ascii character, the code raises an exception (which is silently swallowed because that's the way the inventory manager works).  You

[2019-06-25 19:51] ikhan2010 commented on #56184
@Qalthos any update on this?  just curious about the underline issue here.

[2019-06-25 19:53] abenokraitis commented on #56184
@Spredzy FYI, since you are testing this as well

[2019-06-25 19:53] weihao opened #58359 "blockinfile overridden the original file"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Mojave

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

Task 1 copied the file template into the bash profile. Then task 2 write (insert after the end of the file) to the block text i

[2019-06-25 20:03] mtitus83 commented on #43845
I had the same problem, the solution for https://github.com/ansible/ansible/issues/56640 resolved the issue for me.

[2019-06-25 20:20] #57836 closed, assigned to nobody

[2019-06-25 20:27] ShachafGoldstein commented on #58302
After the meeting, I will make a PR for this during the week

[2019-06-25 20:28] jhawkesworth commented on #58302
Discussed at windows working group.  Consensus is the module should return OK if all the input options are the same.

[2019-06-25 20:38] jborean93 commented on #58246
So we talked about this in the IRC meeting, the end result is that it is ok to have something like this but we should add it under a 3rd option for `update_password`. The naming of this option isn't too important (as long as it makes sense) but people can explicitly opt into the logon test as a way of idempotently change the password. The default of `always` and optional choice `on_create` would s

[2019-06-25 20:42] sivel commented on #58352
This warning is directly targeting your use case, as in the future it will fail to evaluate your condition.

The problem stems from your use of `set_fact`, which is just setting `need_firmware_upgrade` to the literal string you have defined.  You have not defined a template.

In the future, when the deprecation period ends, Ansible will perform the following check via jinja2:

[code]

`need_firmwa

[2019-06-25 20:42] #58352 closed, assigned to nobody

[2019-06-25 20:57] DrHashi commented on #48865
Still happens in 2.8

[2019-06-25 20:58] nicholasgasior commented on #58359
Following documentation: When more then one block should be handled in one file you must change the marker per task.

[2019-06-25 21:11] jhawkesworth commented on #48660
@specator  - are you able to test the pull request https://github.com/ansible/ansible/pull/57902 to confirm if this fixes the issue for you?

[2019-06-25 21:14] #24869 closed, assigned to nobody

[2019-06-25 21:32] rgerardi commented on #58146
Thanks @AlanCoding . I applied this fix locally and it fixed the issue.

[2019-06-25 21:52] petemounce commented on #57815
I was surprised too.

[2019-06-25 23:06] goniomdq commented on #57189
Agreed. I found the pid file this morning and can confirm that deleting it works.

[2019-06-25 23:23] willthames commented on #43845
This is fixed in devel but will need a backport of https://github.com/ansible/ansible/pull/57418 to fix in the next 2.8 release

[2019-06-26 00:55] DSpeichert commented on #58352
Thank you, Matt, for the detailed explanation.

[2019-06-26 00:55] markafarrell commented on #58332
@jctanner I will try to look into it more today and see if I can create a simple example.

[2019-06-26 04:04] pratikgadiya12 opened #58370 "Allow mysql_db module to create/drop multiple databases"
##### SUMMARY
mysql_db module should be able to create/drop multiple databases

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/database/mysql/mysql_db.py

##### ADDITIONAL INFORMATION
Why and what it would solve:
Avoids repetitive tasks to create/delete more than one databases (similar to https://github.com/ansible/ansible/issues/56059)

- Create (Multiple databases)
[co

[2019-06-26 04:05] pratikgadiya12 commented on #58370
Working on this

[2019-06-26 04:07] Testicule commented on #57189
This is NOT fixed. Please reopen.
As rodneyvdw commented, this is still an issue on EL6.

I have an el6 vm with no yum-related processes running, and no stale pid files. There is no /run/yum.pid to remove or any other pidfile that i can find. I can run yum on the commandline without issue.

But when i run task:
  package:
    name: bc
    state: present

[2019-06-26 04:47] Akasurde commented on #46443
Closing this issue as PR #46526 is merged. If issue persists, please feel free to open a new issue.

@pratikgadiya12 Thanks for investigating.

[2019-06-26 04:47] #46443 closed, assigned to nobody

[2019-06-26 05:11] Andersson007 commented on #58370
LGTM

[2019-06-26 06:06] tomdeblende commented on #57189
Correct, error is thrown even when no pid file is present.

[2019-06-26 06:51] #55638 closed, assigned to nobody

[2019-06-26 07:24] pitthecat commented on #57189
@tomdeblende

I have the same problem. The PID is absent and even server reboots can't fix the yum lock.

I am using Ansible 2.8.1 on CentOS  7 and I am trying to provision a CentOS 7 target

[2019-06-26 07:39] LeDOC666 opened #58376 "VMware: vmware_tag_manager - Unable to use inventory to get vars"
##### SUMMARY
The problem is the same as #54343.
If I use vmware_tag_manager with **localhost** inventory, all work, but if I use a **custom inventory** with vars on it, I get an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag_manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPR

[2019-06-26 08:17] fhlmbrg commented on #36100
This feature would be very useful. We ran into this issue yesterday on `3.2(2l)` when doing a mass BD update using the `aci_bd` module. Had to apply a delay factor to not hit the REST API auth calls limit.

[2019-06-26 08:32] dobry-kod commented on #57189
hi guys. i have same problem. Bugs dont fixed.

[2019-06-26 08:37] Montorax opened #58378 "Nios_ptr_record fails adding same PTR record to different views."
##### SUMMARY

The problem is the same as #51204 but for PTR Records and is not fixed in version 2.8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
```nios_ptr_record```

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
``` None ```

##### OS / ENVIRONMENT
 ``` CentOS Linux release 7.5.1804 (Core) ```

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Creation of the PTR in both view

[2019-06-26 08:52] jonasdk commented on #55097
This still seems to be an issue any update on priority? It seems to be a blocker for using yarn to install packages globally.

[2019-06-26 09:12] sgandon opened #58380 "group_names var ordered by name instead of level (2)"
##### SUMMARY
I am sorry to create a new issue for this because there is already one here
https://github.com/ansible/ansible/issues/12730
And I don't understand why this has been closed cause the solution mentionned like using `group_names | sort` does not solve the pb at all, cause `sort` does an alphabetical order sort which is already the case and does not do the "level" sorting expected in the

[2019-06-26 09:13] justjais commented on #58378
cc. @krisvasudevan @s-giri

[2019-06-26 09:27] s-giri commented on #56077
This is under consideration.

[2019-06-26 09:33] pratikgadiya12 commented on #25429
Let me try to reproduce this

[2019-06-26 09:39] pratikgadiya12 commented on #25429
This bug is not reproducible.

**Environment**:
Running and target machine: Ubuntu 16.04
MongoDB: 3.2.12
pymongo: 3.3.1

Steps:

1. a

[2019-06-26 09:43] SeerKan commented on #34536
+1

[2019-06-26 09:52] pratikgadiya12 commented on #25429
This bug is not reproducible @matanlb @OMKARdama12 on ansible 2.8(supported version)

**Environment**:
Running and target machine: Ubuntu 16.04
MongoDB: 3.2.12
pymongo: 3.3.1
Python: 2.7.13

**Steps**:
1. Created an admin user (username=useradmin, password=bobthebuilder) in MongoDB (in no-auth mode) using below command

[code]
2. Restart mongodb in auth mode and execute below playbook to create an

[2019-06-26 10:10] pratikgadiya12 commented on #29350
Agree with @jorijinnall

This issue is not reproducible on ansible 2.8(supported version)

**Environment**:
Running and target machine: Ubuntu 16.04
MongoDB: 3.2.12
pymongo: 3.3.1
Python: 2.7.13

**Steps**:
1. Created an admin user (username=useradmin, password=bobthebuilder) in MongoDB (in no-auth mode) using below command

[code]
2. Restart mongodb in auth mode and execute below playbook to crea

[2019-06-26 10:15] Akasurde commented on #25429
@matanlb Could you please check https://github.com/ansible/ansible/issues/25429#issuecomment-505805485 and let us know if it solves your issue ? Thanks.

[2019-06-26 10:16] Akasurde commented on #29350
Closing as per https://github.com/ansible/ansible/issues/29350#issuecomment-427311473 and https://github.com/ansible/ansible/issues/29350#issuecomment-505811713. If issue persists, please feel free to open a new issue.

Thanks, @jorijinnall @pratikgadiya12

[2019-06-26 10:16] #29350 closed, assigned to nobody

[2019-06-26 10:21] pratikgadiya12 commented on #38998
We are good to close this issue as per comment https://github.com/ansible/ansible/issues/38998#issuecomment-383637227 and https://github.com/ansible/ansible/issues/38998#issuecomment-417004553

[2019-06-26 11:20] emper0r commented on #55551
Same issue here 2.8.1
until 2.7.9 all worked fine

[2019-06-26 11:44] m4r10k commented on #41577
Yes, in my current version of Ansible, 2.7.9. I've not tested it with >= 2.8.0. Sorry for the delay!

[2019-06-26 11:44] #41577 closed, assigned to nobody

[2019-06-26 11:46] thatsk opened #58385 "not able to access group variable host not working in ansible 2.8.0"
##### SUMMARY
group_vars is not working anymore

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible core

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
centos7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
it should get hosts from hosts file

##### ACTUAL RESULTS

[code]

[2019-06-26 11:46] thatsk commented on #58385
https://github.com/ilias-sp/ansible-setup-passwordless-ssh/blob/master/ansible_setup_passwordless_ssh.yml

[2019-06-26 12:24] mvorisek opened #58386 "apt_repository - allow to remove/replace packages for different distributions"
The typical use-case with apt_repository module looks like:
[code]

##### ISSUE TYPE
Currently if the distribution name changes, the older repository with previous distribution name is leaved and needs another one or more Ansible tasks to be removed.

I propose additional option of the module like `distribution` with options:
- `keep_all` (default for backcompatibility)
- `remove_other`

or additi

[2019-06-26 12:38] mnecas commented on #47607
resolved_by_pr #57945

[2019-06-26 12:40] #56164 closed, assigned to nobody

[2019-06-26 12:40] #47607 closed, assigned to nobody

[2019-06-26 12:46] mvorisek commented on #58386
The analogous additional option can be offered for the `component` ( see URL format https://wiki.debian.org/SourcesList#Repository_URL ):
- `keep_all` (default for backcompatibility)
- `remove_other`

Another more universal approve is to allow to specify the `distribution` and the  `component` directly outside the `repo` string string like:
[code]
and when options `repo_distributions` or `repo_com

[2019-06-26 12:55] AlanCoding commented on #58146
fix is merged, issue should be resolved

[2019-06-26 12:58] AlyAwad commented on #36100
Any update on this yet ?
Even if there is no dedicated ACI connection type can the modules simply use the variables defined in the inventory file by default
all:
  hosts:
    apic1:
      ansible_host: apic1.com
      ansible_user: username
      ansible_password: password
      ansible_connection: local
      ansible_use_proxy: no
      ansible_validate_certs: no

It can be even more generic for

[2019-06-26 12:58] jpmahowald opened #58388 "gcp_compute_backend_service integration test fails group missing instances"
##### SUMMARY
gcp_compute_backend_service integration test fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_backend_service

##### ANSIBLE VERSION
[code]
On branch devel at commit 42a831d42c17ee7d5226796fcdcac0d6fd69b1ba
##### CONFIGURATION
Defaults for ansible.cfg.  GCP project in cloud-config-gcp.ini.
[code]

##### OS / ENVIRONMENT
CentOS 7 from public GCP image.  (No docke

[2019-06-26 13:01] mkrizek commented on #58146
Closing as per above.

[2019-06-26 13:01] #58146 closed, assigned to nobody

[2019-06-26 13:15] bcoca commented on #58385
how and where are you setting ansible_host?

needs_info

[2019-06-26 13:23] bcoca commented on #58380
if by 'level' you mean child depth, this is not a simple thing for a group, cause it can have many levels depending on how you follow the parent/child relationships.

[code]

[2019-06-26 13:31] sashka commented on #58386
It looks like over-engineered solution. Ansible templating already allows
to render repo source string with any parameters you like without adding
more features to apt_repository.

On Wed, 26 Jun 2019 at 15:48, Michael Voříšek <notifications@github.com>
wrote:

--

A.

Sent from my phone

[2019-06-26 13:35] #37247 closed, assigned to nobody

[2019-06-26 13:36] jpmahowald commented on #58388
Same problem also trips up integration test  [gcp_compute_global_forwarding_rule : create a backend service]

[2019-06-26 13:38] thatsk commented on #58385
resolved. looks like hosts file has some problem

[2019-06-26 13:38] #58385 closed, assigned to nobody

[2019-06-26 13:41] ganeshrn commented on #58202
needs_info

[2019-06-26 13:45] webknjaz commented on #54949
I assume @abadger meant #13620 when talking about `update_json`.

I've implemented RFC 7464 stream reader (will commit it later) and it seems like we even should be able to throw away `_filter_non_json_lines` for good...

[2019-06-26 13:50] seven2221 opened #58391 "can not update chart using helm module"
##### SUMMARY
The "helm" module does not update the chart.  There are some problems with the namespace type.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE
There are 2 namespaces with kafka-manager v1.1.1.
[code]
 When I try to update them to version 2.1.5, , I get a Ty

[2019-06-26 13:59] trishnaguha commented on #56037
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * INSERT ITEM HERE

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our t

[2019-06-26 13:59] #56037 closed, assigned to nobody

[2019-06-26 14:00] mvorisek commented on #58386
Yes, the result is simple template/one file. Should I close this feature request?

[2019-06-26 14:06] MrSmurfy opened #58392 "nmcli module returns error: connection.slave-type: Cannot set 'master' without 'slave-type'"
##### SUMMARY
When running a nmcli team-slave task I get an error saying:

[code]

Both variables were provided but it still fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
2.6
[code]

##### OS / ENVIRONMENT
RHEL7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
A working teaming setup

##### ACTUAL RESULTS

[code]

[2019-06-26 14:08] #58386 closed, assigned to nobody

[2019-06-26 14:08] eengstrom commented on #56930
Not sure if adding another **me 2** here will encourage a reversal of this specific decision, but I tend to agree with the detractors of the requirement that group names be valid python identifiers.

[2019-06-26 14:20] #53199 closed, assigned to nobody

[2019-06-26 14:25] SemajKP opened #58394 "How to merge playbook/tasks with OS-specific variables?"
I am fairly new to Ansible and would like your help!

I have 4 Debian Certificate files:
- Debian-6-certificates.yaml
- Debian-7-certificates.yaml
- Debian-8-certificates.yaml
- Debian-9-certificates.yaml

They are identical:
---
- name: Copy the proxy CA to /etc/ssl/certs/
  copy:
      src: library/{{ item }}.crt
      dest: /usr/local/share/ca-certificates/{{ item }}.crt
  with_items:
  - "{{ p

[2019-06-26 14:29] UnknownGnome opened #58396 "vmware_inventory.py recurse into resourcePool"
##### SUMMARY

The resourcePool property is not recursed into. It would be nice to be able to grab "owner" or "parent" in order to group by compute cluster the VM belongs to.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_inventory.py
vmware_inventory.ini
##### ADDITIONAL INFORMATION

I haven't been able to sort out a way to group by compute cluster. I think the easiest way to do th

[2019-06-26 14:29] jbarotin commented on #41313
I've got same configuration than @pjnagel, @vbotka, @marcinkubica and @Routhinator.

Is 'immediate handlers' #10829 a solution to this issue ?

[2019-06-26 14:30] AndrewCi commented on #24862
Any idea when this is getting fixed?

[2019-06-26 14:39] #25543 closed, assigned to nobody

[2019-06-26 14:42] kbreit commented on #56589
I like the list from @abenokraitis. Adding Cisco Firepower into the mix though.

[2019-06-26 14:48] #55432 closed, assigned to danielmellado

[2019-06-26 14:51] samccann commented on #56589
This page describes how to create the network platform options pages - https://docs.ansible.com/ansible/devel/network/dev_guide/documenting_modules_network.html#documenting-modules-network

[2019-06-26 14:53] aperally commented on #56694
Hi All, I stepped into this post because I'm having the same issue not using Ansible though. The behaviour is the same using PS cmdlet New-AzVM, I guess it's some Azure API bug then. It happens when I try to create a new vm into an existing vnet *but* within new subnet. Adding a VM to an existing vnet within an existing subnet does not generate the error

[2019-06-26 14:56] Cougar commented on #56930
Please support for hyphens together with letters, numbers and underscores in group names (but I don't have anything against dost either)!

We use hyphens heavily in group names. Both for grouping names like this:
[code]
and to _abuse_ inventory to keep host list in one place (instead of maintaining host names in different var files) like this:
[code]
We use such groups in templates like this:
[cod

[2019-06-26 15:05] samccann commented on #56589
@dagwieers can you create network platform options documentation for Cisco ACI?

[2019-06-26 15:20] schegi commented on #58001
Seems like the error was partly on my side and/or k8s and k8s_facts are not capable of dealing with my kubeconfig setup. I have a KUBECONFIG env variable defining multiple kubeconfigs, kubectl can work with such a setup. Apparently k8s, k8s_facts cannot and always picking the first path. Therefore i close this issue here, thy for your time and sry should have taken a closer look at the problem cau

[2019-06-26 15:20] #58001 closed, assigned to nobody

[2019-06-26 15:35] rrmestl commented on #56930
I also feel this is pointless, as a dash "-" is a standard delimiter character used in almost every type of computer related tool, and trying to conform to one "religion" seems constricting!!!

[2019-06-26 15:49] #58394 closed, assigned to nobody

[2019-06-26 15:49] SemajKP opened #58401 "How to merge playbook/tasks with OS-specific variables?"
##### SUMMARY

Trying to merge 4 tasks with playbook. Get FAILURE when I run the playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Debian-6-certificates.yaml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7 (64-bit))
     - NAME="Red Hat Enterprise Linux Server"
     - VERSION="7.4 (Maipo)"
     - ID="rhel"
     - ID_LIKE

[2019-06-26 15:55] SemajKP commented on #58401
What do you mean? Files identified in the description:
None

[2019-06-26 16:02] n3pjk opened #58402 "Add OAuth and Multi-Record Query for SNOW"
##### SUMMARY
Service Now (SNOW) modules currently do not support OAuth, even though
it is provided in pysnow. This functionality is added and tested in
both 2.7 and 2.8.

snow_record only performs create, update and delete operations on a
single record. When processing ticket queues, it is necessary to have a
module that can retrieve multiple records. snow_record_find does this,
and has also been

[2019-06-26 16:05] benyanke opened #58403 "Snapcraft: Add 'snap connect'"
##### SUMMARY
Because of the containerization of snaps, they often require explicit connection to other services, using the command `snap connect [app]:[plug]`. Right now, this can only be done with the `shell` cmd.

##### ISSUE TYPE
I would like to propose a snap module addition to support the `snap connect` commands. For the sake of full feature set, it would also be preferable to return current

[2019-06-26 16:21] SpComb commented on #56930
I wouldn't be as concerned about this deprecation if were actually possible to opt-in to dashes in group names. Then it might be understandable from a new-user perspective.

However, the deprecation warning implies that the `TRANSFORM_INVALID_GROUP_CHARS=never` option is going away in Ansible 2.10, and so we would need to start renaming all of our groups before Ansible 2.10 is released?

Also, usi

[2019-06-26 16:21] #58342 closed, assigned to nobody

[2019-06-26 16:36] Akasurde commented on #58326
@meons Thanks for reporting this issue. Could you please confirm if PR https://github.com/ansible/ansible/pull/58405 works for you and let me know ? Thanks.

needs_info

[2019-06-26 16:36] Akasurde commented on #58326
resolved_by_pr #58405

[2019-06-26 16:53] neonardo1 commented on #57189
+1.  Would love to see new default functionality similar to what was happening in 2.7 and prior even though it wasn't necessarily intentional functionality at that time.

[2019-06-26 17:13] SpComb commented on #57189
There might be multiple conflated issues here, the stale lockfile vs default `lock_timeout` already fixed probably needs a separate issue?

---

Looks like the `wait_for_lock` added for 2.8 doesn't check the contents of the pid/lock file: https://github.com/ansible/ansible/commit/5fdf0290d00a80f3d8a4f6d1375684ccf0046e7d#diff-2dba6ca66806256bf128181057c36e71R107 https://github.com/ansible/ansible/c

[2019-06-26 17:45] n3pjk commented on #41320
Use `instance: titotest` and the module will use the correct URL.

[2019-06-26 17:45] jean-christophe-manciot commented on #58202
@pabelanger
- I don't know the purpose of  ```cli={'authorize': true}``` , but this setting is not defined in the [official documentation](https://docs.ansible.com/ansible/latest/network/user_guide/platform_ios.html).
- the format of ```~/.ssh/id_rsa``` is the default one generated by ```ssh-keygen -t rsa ```:
-----BEGIN OPENSSH PRIVATE KEY-----
...
-----END OPENSSH PRIVATE KEY-----
- without ```a

[2019-06-26 17:47] sourcejedi commented on #54949
IDGI. Isn't `_filter_non_json_lines` on the receive side? Doesn't Ansible let you write modules in any language, without a specific library?  So for "old" modules, you will still need a way to filter out login banners from SSH / whatever / "misconfigurations of bash profiles and other configurations"?

[2019-06-26 17:48] jean-christophe-manciot commented on #58202
However, in my inventory, I only have ```ansible_host=<ip_address>```.
I suppose that all other parameters are set by default.

[2019-06-26 17:54] pabelanger commented on #58202
@jean-christophe-manciot so, looks like you are not using a PEM key, but newer RFC4716 format, which paramiko doesn't support. You'll need to convert to PEM or generate a new one.

For example:
  ssh-keygen -f key.pub -e -m pem

should convert it.

[2019-06-26 17:57] Tech-Med7 opened #58412 "Ansible tower installation error"
##### SUMMARY

While installing Ansible tower in Ubuntu 16.04LTS, the task Check that group names do not conflict with instance names is failing

##### ISSUE TYPE
- Issue

##### COMPONENT NAME

!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

download the gz file and update the inventory file with password, then

[2019-06-26 18:05] webknjaz commented on #54949
Right. For backward compat, yes.

[2019-06-26 18:13] oscherler commented on #27179
@wouteroostervld The problem is that you cannot set a password for `root%localhost` using Ansible on recent version of MySQL, because the `mysql_user` module doesn’t support auth plugins, and nowadays `root%localhost` uses the `auth_socket` plugin by default.

[2019-06-26 18:14] mattclay opened #58413 "Python 3.8 unit test timeout with coverage"
##### SUMMARY

The nightly CI runs with code coverage are timing out for Python 3.8 unit tests:

https://app.shippable.com/github/ansible/ansible/runs/129532/10/console

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

unit tests

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### STEPS TO REPRODUCE

Run unit tests on Python 3.8 with code coverage e

[2019-06-26 18:34] bcoca commented on #58401
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-26 18:34] #58401 closed, assigned to nobody

[2019-06-26 18:35] mattclay opened #58415 "Python 3.8 win_ping test timeout"
##### SUMMARY

NOTE: This issue only occurs when using Python 3.8.

The Windows group 1 tests are failing early in the nightly CI run for all Windows versions:

https://app.shippable.com/github/ansible/ansible/runs/129532/11/console
https://app.shippable.com/github/ansible/ansible/runs/129532/12/console
https://app.shippable.com/github/ansible/ansible/runs/129532/13/console
https://app.shippable.c

[2019-06-26 18:43] mattclay opened #58416 "podman_container test leaves behind running containers"
##### SUMMARY

The podman_container integration tests leave behind running containers.

One of these containers uses ports that are needed by the supervisorctl integration tests, which results in those tests failing:

https://app.shippable.com/github/ansible/ansible/runs/129532/62/tests

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

podman_container integration test

##### ANSIBLE VERSION

d

[2019-06-26 19:02] mattclay opened #58418 "The read_csv integration test fails when LC_ALL is not set."
##### SUMMARY

The read_csv integration test fails when LC_ALL is not set.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

read_csv

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Set `ansible_connection=ssh ansible_host=localhost` for `testhost` to prevent modules from inheriting the environment from the controller: https://g

[2019-06-26 19:17] mattclay opened #58419 "The archive integration test fails when LC_ALL is not set."
##### SUMMARY

The archive integration test fails when LC_ALL is not set.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Set `ansible_connection=ssh ansible_host=localhost` for `testhost` to prevent modules from inheriting the environment from the controller: https://git

[2019-06-26 19:19] mattclay opened #58420 "The unarchive integration test fails when LC_ALL is not set."
##### SUMMARY

The unarchive integration test fails when LC_ALL is not set.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Set `ansible_connection=ssh ansible_host=localhost` for `testhost` to prevent modules from inheriting the environment from the controller: https:/

[2019-06-26 19:22] mattclay opened #58421 "The certificate_complete_chain integration test fails when LC_ALL is not set."
##### SUMMARY

The certificate_complete_chain integration test fails when LC_ALL is not set.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

certificate_complete_chain

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Set `ansible_connection=ssh ansible_host=localhost` for `testhost` to prevent modules from inheriting the enviro

[2019-06-26 19:28] mattclay commented on #58421
This traceback in the summary is actually an issue with the archive module. However, before the archive step was added there was a traceback in the certificate_complete_chain module as well.

Failure on Shippable: https://app.shippable.com/github/ansible/ansible/runs/129456/5/tests

[code]

[2019-06-26 19:51] mattclay opened #58426 "Integration tests fail without LC_ALL set."
##### SUMMARY

Integration tests fail without LC_ALL set.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

See commands below in ACTUAL RESULTS section.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

`ansible-test integration copy --docker centos7 -v`

[code]

`a

[2019-06-26 20:00] mattclay commented on #58426
I've opened a PR to help expose more failures due to lack of LC_ALL: https://github.com/ansible/ansible/pull/58427

[2019-06-26 21:04] #57899 closed, assigned to nobody

[2019-06-26 21:11] #49970 closed, assigned to acozine, gundalow

[2019-06-26 21:19] nirroz93 opened #58436 "Wrong error repot"
##### SUMMARY
The error message for include task with wrong filename show the parent file (in my example ok.yml instead of typo.yml)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

fedora 29

##### STEPS TO REPRODUCE

playbook under ./tmp.yml:
[code]
task under ./roles/my_role/main.yml
[code]
tas

[2019-06-26 21:21] mattclay commented on #58416
The podman_container tests have been disabled: https://github.com/ansible/ansible/pull/58435

[2019-06-26 21:49] achede22 commented on #42594
**SAME ISSUE HERE** , this is an ERROR, not only a Warning:

openshift-ansible]$ ansible-playbook ./playbooks/prerequisites.yml

 [WARNING]:  * Failed to parse /etc/ansible/hosts with yaml plugin: Syntax Error while loading YAML.

   found unexpected ':'  The error appears to be in '/etc/ansible/hosts':
line 2, column 7, but may be elsewhere in the file depending on the exact syntax problem.

The

[2019-06-26 21:55] achede22 commented on #42594
**did you tried:**
ANSIBLE_DEBUG=True ansible-inventory -i ~/openshift-ansible/inventory/ --list --yaml

replace your directory PATH

[2019-06-26 21:57] achede22 commented on #42594
Just specify the inventory PATH,
ignore warnings, but now there are no ERRORS!

**ansible-playbook ./playbooks/prerequisites.yml  -i ~/openshift-ansible/inventory/**

[2019-06-26 22:15] qmarc commented on #56694
Sorry for the late response, but I am going to close this issue as it is not an issue with the Ansible modules, so my issue probably should have been in location visible to Microsoft instead, thanks for chiming in guys!

[2019-06-26 22:15] #56694 closed, assigned to nobody

[2019-06-26 22:33] jamescassell commented on #53235
There's already an option called `no_extra_spaces` that does what you want.  There's also a PR to swap that option with a new one called `space_wrap_assignment_operator`: #55573

[2019-06-26 22:39] jamescassell commented on #30599
you should open a separate bug for the `ini` lookup

Did the 'add an option to an empty file' bug mentioned in the thread get fixed with #44324 ? (If so, we can probably close this bug; if not, clarify with a reproducer.)

[2019-06-26 22:40] jamescassell commented on #40796
It would be a great feature.  Likely this could be implemented as a separate `ini_info` module.

[2019-06-26 22:51] jamescassell commented on #41513
Seems like a good feature, but low priority as the `backup` option is supported on this module.

[2019-06-26 22:53] jamescassell commented on #25026
Do any of the other modules supporting `backup` implement this feature?  (If not, the RFE should be generic to all of them.)

[2019-06-26 22:57] AechLyons opened #58442 "Getting win modules to work with in memory inventory"
##### SUMMARY
SO I have a playbook that creates a windows VM and then add's the results to an in memory inventory to allow me to execute other commands (in this case I want to join it to the domain and configure IIS settings). I got this working on the Linux templates for CentOS and Ubuntu but for windows I cant get any of the win modules to work. I created a small playbook outside of AWX to confi

[2019-06-26 22:59] AechLyons commented on #58442
I get the above errors when I try to run the above playbook in AWX.

[2019-06-26 23:02] rabin-io commented on #25026
implement what exactly ?

[2019-06-26 23:04] jamescassell commented on #22362
seems like this should work with something like `yum-config-manager`, which can also operate on redhat.repo files.  Would avoid the slow `rhsm_repository` module.

[2019-06-26 23:34] rambleraptor commented on #58388
Thanks a lot for finding this! I'll take a look and report back sometime tomorrow.

[2019-06-26 23:36] rambleraptor commented on #57265
Hello! I've gone ahead and fixed this.

close_me

[2019-06-26 23:53] #58421 closed, assigned to sivel

[2019-06-26 23:54] #58419 closed, assigned to sivel

[2019-06-27 00:30] caphrim007 commented on #29368
closing per Scott's comment that this is resolved

[2019-06-27 00:30] #29368 closed, assigned to nobody

[2019-06-27 00:34] #57265 closed, assigned to nobody

[2019-06-27 00:44] rambleraptor commented on #58426
I had my `LC_ALL` set to `C.UTF_8` (runner was running inside a Docker container) and I got the exact same errors. Setting the `en-us.UTF-8` locale fixed the runner.

[2019-06-27 00:47] caphrim007 commented on #54904
closing per sivel's earlier comments. If this is still an issue, feel free to open a new issue

[2019-06-27 00:47] #54904 closed, assigned to nobody

[2019-06-27 02:47] Akasurde commented on #58396
!component =contrib/inventory/vmware_inventory.py

[2019-06-27 05:07] thessell opened #58444 "hostname module cannot be used on Oracle Linux"
##### SUMMARY

In devel branch, hostname module doesn't recognise Oracle Linux.

Regression from PR #56936 caused by PR #55459.

stable-2.8 branch is OK.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

##### A

[2019-06-27 05:08] burnitup commented on #58038
Fails using 2.8.1 and 2.9.0-dev

[2019-06-27 06:23] Hollandocean opened #58448 "RoCE Buffer Pool configuration failed through Ansible for Mellanox Onyx NOS"
##### SUMMARY

Configuration on main.yml file is as below:
- name: configure buffer pool
  onyx_buffer_pool:
    name: roce
    pool_type: lossless
    memory_percent: 50.00
    switch_priority: 3

l-csi-2410-01 [standalone: master] (config) # show traffic pool roce | json-print
{
    "roce": [
        {
            "Type": "lossless",
            "Switch Priorities": "3",
            "Max Usage":

[2019-06-27 06:39] #53863 closed, assigned to nobody

[2019-06-27 06:45] NilashishC commented on #57284
@lm0 have you specified `ansible_become_pass`?

needs_info

[2019-06-27 07:20] meons commented on #58326
Sorry but how can I test your PR ?
I guess copy/paste your changes in my .py files is definitely not the solution.

[2019-06-27 07:20] justjais commented on #56602
@siemsen Thanks for logging the issue, but it seems like a paramiko issue instead of Ansible, can u please try out the suggestion made in following issue #38608. Also, there are few issues logged at paramiko side for the respective issue: [#1230](https://github.com/paramiko/paramiko/issues/1230) and [#120](https://github.com/paramiko/paramiko/issues/122)

[2019-06-27 07:25] Akasurde commented on #58376
@LeDOC666 Thanks for reporting this issue. This is weird issue since I am not able to reproduce this on my setup.

inventory
[code]

Console log
[code]

Playbook

[code]

Can you please ping me on IRC channel #ansible-vmware my IRC nick is akasurde ?
Thanks

needs_info

[2019-06-27 07:27] MrFishFinger commented on #43206
using "oc apply" directly does not exhibit this behaviour... (at least with openshift, but i would imagine that kubectl would be the same)

@willthames do you know if the "apply" functionally will be included in the k8s module in the 2.9 release?
i had a look at the roadmap / kanban board for that release, and could not find anything related to this...

[2019-06-27 07:38] sgandon commented on #58380
indeed I mean child depth
we have a hosts.yaml following this structure
[code]
So when you launch ansible with `-l team1-stack1` it would be great to be able to get the team associated with the stack. I know this is particular case where we enfoce stack name uniqness and we have a way around it by parsing the stack name and extract the team name.

[2019-06-27 07:46] Fred-sun commented on #56634
@zikalino

[2019-06-27 07:51] pgbidkar commented on #58326
Clone repo https://github.com/Akasurde/ansible/tree/i58326
run $ansible/hacking/env_setup (here ansible is repo dir)
Enable your Python virtual env (if any)
run your playbook

[2019-06-27 08:16] kanwar-saad commented on #34043
+1 ... this ticket is open for quite long. Is there any status update on this. Can someone please comment that why it is not being addressed? Is it because of lack of resources or there is a radical change in design/interface expected? Thanks.

[2019-06-27 08:28] pawellrus commented on #51967
Yes, that's right. I tried to change SSL cert for default site.

[2019-06-27 08:58] angystardust commented on #57012
There's a WIP PR that should implement this feature -> https://github.com/ansible/ansible/pull/58288

[2019-06-27 09:13] bbartel opened #58451 "file_module: Hardlink-Example should be corrected"
##### SUMMARY

Example for the hardlink uses wrong parameter - set to "link" / should be "hard"

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

file modul

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-06-27 09:24] meons commented on #58326
Thanks @pgbidkar @Akasurde
Finally it was a permission issue `MYDOMAIN.COM\\service_account does not have attach or detach privilege on urn:vmomi:InventoryServiceTag:bcf7a240-1dda-43ed-a98e-dfb9806d1849:GLOBAL`.
I could fix that by allowing right permissions to my service account.

But with your PR I don't see those warnings anymore, so it's much better :)

[code]

[2019-06-27 09:37] willthames commented on #43206
@MrFishFinger it's just awaiting the final merge (#49503)

[2019-06-27 09:40] Kevin-De-Koninck commented on #58120
I tested this on another device and got the same unwanted behavior on 2 different versions of Ansible:
[code]

So its broken on `2.4.2`, `2.7.9` and `2.8.1`.

[2019-06-27 09:54] pgbidkar commented on #58326
Thanks @meons for the updates.  Can we close this issue?

[2019-06-27 10:01] pgbidkar commented on #58326
bug_resolved

[2019-06-27 10:51] meons commented on #58326
Yep
Thanks again

[2019-06-27 11:06] augustgerro opened #58452 "Argument env should be dict type note list like in examle"
##### SUMMARY

Argument env should be dict type note list like in examle.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

Module docker_container documentation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.4
Ubuntu 18.04

##### ADDITIONAL INFORMATION

https://docs.ansible.com/ansible/latest/modules/docker_container_module.html
inste

[2019-06-27 11:14] cesarjorgemartinez opened #58453 "Ansible 2.8.1 yum module No package provided error with package version"
##### SUMMARY
The yum module in Ansible 2.8.1 show error when use package version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Short name: yum module
Documentation: https://docs.ansible.com/ansible/latest/modules/yum_module.html

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS/RedHat 7.6/6.10

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
If the packages are

[2019-06-27 11:25] specator commented on #48660
@jhawkesworth I had checked, and it partiality work

[2019-06-27 11:25] gecube commented on #42303
I would like to ask open this issue again, because there is demand in offline documentation about ansible main syntax (like loops, variables, best practices of playbook writing etc.).

[2019-06-27 11:56] flaper87 opened #58454 "Unable to run python modules on Windows target"
##### SUMMARY
Looks like every python_module execution attempt on a windows node is failing. I can't seem to find a way to debug this and find the root cause.

I've tried several combinations but they all produce the same error:

- Use winrm
- Use winrm + powershell
- Use ssh + powershell

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[cod

[2019-06-27 12:07] dakira commented on #42726
@samdoran sorry for replying so late. Sangoma Linux is essentiallz the FreePBX distro found here: https://www.freepbx.org/downloads/freepbx-distro/

[2019-06-27 12:08] bluikko opened #58455 "Netbox inventory plugin missing documentation for `groups` option"
##### SUMMARY
As of writing this issue, Netbox inventory plugin `netbox.py` is missing documentation for the `groups` option.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Netbox

##### ANSIBLE VERSION
Git netbox.py 71a704c as of 2019-06-27.

##### CONFIGURATION
Irrelevant.

##### OS / ENVIRONMENT
Irrelevant.

##### ADDITIONAL INFORMATION

[2019-06-27 12:10] Cougar commented on #56930
Regarding variable names, I don't understand why should format of dictionary key be equalized with syntax of variable name? AFAIK no programming language has such limitation. In Python you can use pretty any string as dictionary key.

Isn't "groups" a dictionary type variable and both host and group names are just plain dictionary keys in Ansible. They are not properties nor variables themselves o

[2019-06-27 12:10] felixfontein commented on #58452
Thanks for spotting this! There are three examples with `env`, one is correct, two are not... I'll fix that later / tomorrow.

[2019-06-27 12:11] bluikko commented on #53380
Are you referring to the `groups` parameter (which is missing documentation by the way, opened issue #58455) or the `compose` parameter?

Because the documentation says the `compose` parameter is used for hostvars but I am a noob and perhaps I am missing something.

[2019-06-27 12:26] benjaatspencer opened #58456 "Bitbucket_access_key list object is not an iterator (python 2.7 compat)"
##### SUMMARY

Invoking the 'bitbucket_access_key' of ansible 2.8 installed with pip 19.1 on python 2.7 (Ubuntu 14.04...) gives the following error.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bitbucket_access_key module

##### ANSIBLE VERSION
[code]

##### Patch
The following patch fixes the issue:

[code]

[2019-06-27 13:03] squad-data commented on #54790
Same issue here with ansible 2.8.0

[2019-06-27 13:20] n3pjk commented on #58311
When automating processing Service Now recommends using OAuth authentication instead of sso/ADFS.  To do this, configure a user with no ties to ADFS.  If the user is tied in any way to ADFS, then SNOW will attempt to authenticate with ADFS and will return a 401 for your efforts.  Instead, give the user OAuth access, setting a client Id and client secret.  The changes in PR #58410 support inclusion

[2019-06-27 13:22] bcoca commented on #58380
they are unique in YOUR case, that is not guaranteed as the following is also valid:
[code]

[2019-06-27 13:23] shoelzle opened #58458 "Playbook execution with tags prevents fact gathering"
##### SUMMARY
The playbook execution with tags doesn't work as expected.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Source System: Tested on ArchLinux & MacOS

##### STEPS TO REPRODUCE

Execute
[code]

Playbook
[code]

##### EXPECTED RESULTS
Facts are gathered.

##### ACTUAL RESULTS
No fact gathering is done.

[2019-06-27 13:25] D3DeFi opened #58459 "Zabbix modules are leaving open sessions behind themselves"
##### SUMMARY
Issue was first reported for zabbix_proxy module in #58066 and fix was proposed in #58393.

However, this problem is present in all other zabbix_* modules too.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action
zabbix_group_info
zabbix_group
zabbix_host_info
zabbix_hostmacro
zabbix_host
zabbix_maintenance
zabbix_map
zabbix_mediatype
zabbix_screen
zabbix_template

####

[2019-06-27 13:25] samerd commented on #39598
@necr0n
Could you please close this issue if it was fixed?
Thanks

[2019-06-27 13:27] D3DeFi commented on #58066
Hi, thanks for reporting this problem. I can see that fix is underway for zabbix_proxy module.

Unfortunately, this issue still plagues all the other zabbix_* modules as well. I''ve opened and issue for this and will try to prepare a fix for rest of the modules in the future. But given my limited time, if someone wants to volunteer, he/she is most welcome!

[2019-06-27 13:35] bcoca commented on #53380
`compose` is one keyword, the others are `groups` and `keyed_groups` see constructed inventory plugin which is direct use of the base class that provides these. https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

[2019-06-27 13:38] bcoca commented on #58455
https://docs.ansible.com/ansible/latest/plugins/inventory/netbox.html <= i see it documented

[2019-06-27 13:39] mkrizek commented on #57189
For the stale lock file issue, can people test the above PR and see if that fixes the issue? Thanks!

[2019-06-27 13:40] bcoca commented on #58120
This affects all versions of Ansible as merge_hash was not implemented ever at inventory sources.

[2019-06-27 13:42] schmandforke commented on #47874
Had this issue today with mostly win2008 Servers with latest greatest patch state:

[code]

Solution here is to enable the Account with a special policy **SeTcbPrivilege**

[2019-06-27 13:42] #58066 closed, assigned to nobody

[2019-06-27 13:51] flaper87 commented on #58454
If I set the python path, this is the error I guet:

[code]

[2019-06-27 14:11] flaper87 commented on #58454
Ok, I literally just saw this: https://docs.ansible.com/ansible/latest/user_guide/windows_faq.html#can-i-run-python-modules-on-windows-hosts

Sounds like this issue may be related

[2019-06-27 14:41] mafalb commented on #57189
The timeout mentioned in the man page is a connection timeout and has nothing to do with the lock. AFAICS cli does not have a notion of a lock timeout and goes into an endless loop, checking every 2s for the lock. I also tried gpk-update-viewer (gnomes "Software Update"), it fails after a few minutes.

[2019-06-27 14:45] sivel commented on #58458
Duplicate of https://github.com/ansible/ansible/issues/57529 https://github.com/ansible/ansible/issues/57852

[2019-06-27 14:45] #58458 closed, assigned to nobody

[2019-06-27 14:46] okgolove commented on #58459
Hello @D3DeFi. I'm going to implement this one.
Do you have any ideas how to do it without putting zbx.logout() before every exit function? Or just put this one and do not reflect about it?

[2019-06-27 14:51] sivel commented on #58442
This is a duplicate of https://github.com/ansible/ansible/issues/57770

You have apparently specified that ansible should use `become`, either via inventory, config or CLI. But have not specified the `become_method` of `runas` which is the only become method supported by Ansible for Windows.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.

[2019-06-27 14:51] #58442 closed, assigned to nobody

[2019-06-27 14:59] mafalb commented on #57189
For backwards compatibility, shouldn't the default value set to "endless"? btw. how do i specify endless? 0 is taken, although you might overthink that. Don't wait at all doesn't make sense at all. 0 should mean endless and should be the default IMO. I predict that when I settled on a value for lock_timeout I'll run into some monolithic monster rpm with a couple of 100mb size again, and I'll have

[2019-06-27 15:02] #58418 closed, assigned to mkrizek

[2019-06-27 15:15] pgbidkar commented on #58326
close_me

[2019-06-27 15:32] joshinryz opened #58463 "win_find failed to check some files, these files were ignored and will not be part of the result output"
##### SUMMARY

It appears that large folders break win_find when the size is too large to fit inside a System.Int32.
Further, win_find breaks as soon as a warning is encountered, causing it to no longer process folders.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_find.ps1

##### ANSIBLE VERSION

2.8.0

##### STEPS TO REPRODUCE

[code]

##### ADDITIONAL INFO

Example of using the Get-

[2019-06-27 15:34] joshinryz commented on #58463
@jborean93

[2019-06-27 15:43] elfelli opened #58465 "can't override unparsed_is_failed with ansible.cfg (in the current directory)"
##### SUMMARY
Hello,
I'm trying to override "unparsed_is_failed= True" with ansible.cfg  (in the current directory) but it seem to ignore the change :

it work only when it 's set on :
/etc/ansible/ansible.cfg
or
by environment variable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

ubuntu 18

[2019-06-27 15:50] joshinryz commented on #58463
https://github.com/ansible/ansible/pull/58466

[2019-06-27 15:59] sivel commented on #50640
!component =lib/ansible/plugins/callback/__init__.py

[2019-06-27 16:01] jean-christophe-manciot commented on #58202
@pabelanger

Converting the key ```RFC4716 --> PEM``` (using the private or public key as source leads to the same pem key)
[code]
Using it in ansible:
[code]
Connecting with the remote Cisco IOSv device leads to the same result:
[code]
Comparing logs when the connection is made with:
**RFC4716 key**
[code]
**PEM key**:
[code]
The logs are basically the same. In both cases, paramiko tries to conne

[2019-06-27 16:02] LeDOC666 commented on #58376
I've tryed to add

[code]

It seems to work. I will try later for final test

[2019-06-27 16:05] billdodd opened #58467 "Redfish commands need way to specify single system, manager or chassis"
##### SUMMARY

A number of the existing Redfish commands act on a single system, manager or chassis. But there is no option to specify which one to act on if there are multiple systems, managers or chassis in the service. Currently, in this case, the module will act on the first one in the collection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_utils.py
redfish_config.py
redfis

[2019-06-27 16:06] pabelanger commented on #58202
Thanks for the write up, you are correct paramiko is the issue, I point you to: https://github.com/paramiko/paramiko/issues/387

For now, we likely should document this a lot better. As there are specific type of keys needed to be used by ansible.

[2019-06-27 16:17] samccann commented on #28553
Version now comes from conf.py and not hardcoded in the theme.

[2019-06-27 16:17] #28553 closed, assigned to gundalow

[2019-06-27 16:17] D3DeFi commented on #58459
I've tried to browse through other modules and it seems that they are either:

- not implementing it,
- using `xy.logout()` with every `raise Exception/exit_json/fail_json`,
- using `try/finally` to cover most of this in a single block ([example](https://github.com/ansible/ansible/blob/6537d1bc0f337c9e80f963230d42eafc3b16b7e4/lib/ansible/modules/cloud/ovirt/ovirt_vm.py#L2555)).
- using atexit modu

[2019-06-27 16:21] samccann commented on #42178
roadmap and maintenance pages now in sync

[2019-06-27 16:21] #42178 closed, assigned to acozine

[2019-06-27 16:22] samccann commented on #43430
VMWare documentation consolidated.

[2019-06-27 16:22] #43430 closed, assigned to nobody

[2019-06-27 16:27] D3DeFi commented on #58459
Just to be sure, interaction between `zbx.logout()` and `atexit` would need to be tested so we can be sure a session gets deleted.

[2019-06-27 16:40] pabelanger opened #58470 "iosxr_user test case failed: socket_path does not exist or cannot be found"
##### SUMMARY
We are setting random failures on iosxr related to 'socket not found', in this case it looks to be when using netconf and jsonrpc:

https://logs.zuul.ansible.com/periodic/github.com/ansible/ansible/stable-2.8/ansible-test-network-integration-iosxr-python37/0a6651c/job-output.html#l34537

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iosxr_user

##### ANSIBLE VERSION
stable-2.8

[2019-06-27 16:44] pabelanger commented on #58470
So, some history here, this is the first time I have need traceback for netconf. I'm checking past results to be sure, but looks like the socket is getting closed again.

We recently bumped iosxr up to use 4vcpu and 4gb of RAM, but honestly we are pretty blind on appliance side. I'd love to enable some sort of log collection cisco side, and collect it after job run. That way we'll have more info t

[2019-06-27 16:50] shgonzalez commented on #30100
unarchive module supports ansible-vault encryption
Ansible version: ansible 2.7.0

[2019-06-27 16:54] pgbidkar commented on #49842
+label needs_verified

[2019-06-27 17:16] bcoca commented on #58465
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-27 17:16] #58465 closed, assigned to nobody

[2019-06-27 17:18] shoelzle commented on #57529
I stumbled upon this issue because many of my playbooks stopped working after upgrading from ansible 2.7.8 to 2.8.1. I think this "feature" is not at all intuitive and should really be reverted.

[2019-06-27 17:36] samccann commented on #54195
Is this issue just to create an appropriate link to the KB article in the above comment or something deeper?

[2019-06-27 17:39] bcoca commented on #34043
@kanwar-saad its a community module and no one seems to have had enough interest to contribute a patch

[2019-06-27 17:48] fabianvf commented on #58001
@schegi ah I think we're currently picking the kubeconfig up from the `K8S_AUTH_KUBECONFIG` environment variable, we should probably be checking just `KUBECONFIG` as well. Feel free to open up a separate issue for that behavior.

[2019-06-27 18:20] acozine commented on #54195
@samccann I don't think I knew about the KB article when I opened this issue. If we could provide links to it in the Ansible documentation, that would be enough.

[2019-06-27 18:34] mariolenz commented on #58023
@Akasurde I've had more time to work on this than expected! Would you kindly review PR #58468? It's mostly Copy&Paste, although I tried to simplify some things. There are one or two things I'm not too happy about but generally I think it's OK. Will work on them as later.

[2019-06-27 18:34] rahul0705 opened #58472 "ec2_eip example are incorrect"
#### SUMMARY
The documents in aws_eip have example code where `private_ip_address` is not required with `device_id` but there is now a check that requires both those variables to be populated if being used.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
aws_eip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
`Redhat 7.5`

##### ADDITIONAL INFORMATI

[2019-06-27 18:46] #48722 closed, assigned to bcoca, samdoran

[2019-06-27 19:05] #58436 closed, assigned to nobody

[2019-06-27 19:10] tbaschak opened #58473 "routeros_command wait_for contains fails when the string contains "yes""
##### SUMMARY

When running a command with `routeros_command` and using `wait_for: "result[0] contains yes"` will fail, but `wait_for: result[0] contains ye` works as expected.

Similarly, the same thing happens if you do "wait_for: result[0] contains true"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

routeros_command or wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-06-27 19:16] bcoca commented on #58380
closing as per above

[2019-06-27 19:16] #58380 closed, assigned to bcoca

[2019-06-27 19:16] bcoca commented on #58412
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-06-27 19:16] #58412 closed, assigned to bcoca

[2019-06-27 19:19] jborean93 commented on #58454
This is not supported or ever was for Windows. You need to use the PowerShell modules that are designed for it or delegate to localhost as the FAQ entry states.

[2019-06-27 19:19] #58454 closed, assigned to nobody

[2019-06-27 20:07] sivel commented on #58452
resolved_by_pr 58452

[2019-06-27 20:08] sivel commented on #58416
The podman_container PR has been reverted

https://github.com/ansible/ansible/pull/58422

[2019-06-27 20:08] #58416 closed, assigned to nobody

[2019-06-27 20:24] #55009 closed, assigned to nobody

[2019-06-27 20:31] felixfontein commented on #58347
I'm closing this since this is not a bug, but expected behavior.

[2019-06-27 20:31] #58347 closed, assigned to nobody

[2019-06-27 20:42] adpavlov commented on #58444
the same happens on rhel 6.9

hostname module cannot be used on platform Linux (Baseos)

[2019-06-27 20:46] jimbarlow opened #58477 "Ansible 2.8.1 ignores inventory setting in ansible.cfg"
##### SUMMARY

Unlike previous versions, when a local ansible.cfg file is used to overwrite the inventory file location, it is not read by ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 30 and RHEL 7.6

##### STEPS TO REPRODUCE

create an ansible.cfg in the current directory
create an inventor

[2019-06-27 20:53] s-hertel commented on #58477
I think you have a typo. Can you try with `[defaults]` not `[default]`?

[2019-06-27 21:15] Ansy09 opened #58478 "List not iterated when used with "with_nested""
##### SUMMARY
When I use the List generated from the register variable //` "{{ out.results | map(attribute='stdout_lines') | list }}"` // along with the dictionary //` [ "{{abc[xyz]}}" ]`// loop is iterated only on the first item of the list. It considers each list object as separate item.

Code Part: (Non working one)
[code]
out.result list:
[code]
Code part : Working one
[code]
out.stdout_lines:

[2019-06-27 21:19] s-hertel commented on #58359
The blockinfile module replaces whatever is between the two pre-existing markers (which default to `BEGIN ANSIBLE MANAGED BLOCK` and `END ANSIBLE MANAGED BLOCK`. Using custom markers for each block you want Ansible to manage resolves the problem. See the `marker`, `marker_begin`, and `marker_end` options. Closing as per the [documentation](https://docs.ansible.com/ansible/latest/modules/blockinfil

[2019-06-27 21:19] #58359 closed, assigned to nobody

[2019-06-27 21:29] #55575 closed, assigned to nobody

[2019-06-27 21:35] s-hertel commented on #58477
needs_info

[2019-06-27 22:22] rambleraptor commented on #58388
I've got https://github.com/GoogleCloudPlatform/magic-modules/pull/1992 to fix these issues. As soon as that gets merged into our generator, I'll get the change merged into ansible/ansible.

[2019-06-27 23:00] silasdb commented on #30089
+1 XFS quota options cannot be enabled with remount. Also, the documentation should state clearly that the method used is "-o remount". I had to look at mount.py to discovery why my changes were not taking effect :-)

[2019-06-27 23:25] resmo commented on #55570
resolved_by_pr #57896

[2019-06-27 23:35] #55570 closed, assigned to nobody

[2019-06-28 02:12] mletterle commented on #47813
This also fails on Windows Server Core 2019 (1803)

[code]

[2019-06-28 02:27] bluikko commented on #53380
@bcoca Thank you, the link to construct vars is very useful.

In my opinion it would be helpful that the constructed vars plug-in would be linked from the Netbox inventory plug-in. What do you think? I would have probably never found this documentation without your help.

It is the `netbox.py` file that is missing the documentation for option "groups". I do see it in the website.

[2019-06-28 02:29] bluikko commented on #58455
@bcoca Yes - it is in the website but the actual source file `netbox.py` is missing it. I don't know how, is the website generated of an old version of the `netbox.py` file or from some other source that contained the `groups` option.

[2019-06-28 02:29] #58326 closed, assigned to Akasurde

[2019-06-28 02:33] Akasurde commented on #55570
Backport 2.8 https://github.com/ansible/ansible/pull/58309

[2019-06-28 02:37] Akasurde commented on #58477
@jimbarlow I agree with @s-hertel that you have typo in your ansible.cfg. Change `[default]` to `[defaults]`. Thanks.

[2019-06-28 02:37] Akasurde commented on #58451
@pratikgadiya12 Could you please take care of this ? Thanks.

[2019-06-28 04:33] pratikgadiya12 commented on #58451
@Akasurde Sure, will work on it

[2019-06-28 04:59] #58452 closed, assigned to nobody

[2019-06-28 05:30] okgolove commented on #58459
If only the was something like [defer()](https://tour.golang.org/flowcontrol/12) in golang.

[2019-06-28 05:57] tomaszorlowski54 commented on #57653
Hey, I am facing the same issue. I was trying to change vm disks type by using ```convert``` option and I am always getting this error. I was trying to clone from different machines with different disks layout and still with out success. I only want to add that with out this parameter, cloning works perfectly. Am I using it wrong or it's a bug?
os `centos7`, ansible:

[code]
task code:
[code]
ERRO

[2019-06-28 06:16] Akasurde commented on #58472
!component =lib/ansible/modules/cloud/amazon/ec2_eip.py

[2019-06-28 06:27] #50617 closed, assigned to Akasurde

[2019-06-28 07:26] SpComb commented on #56930
Using `ansible.cfg` `[default]` `force_valid_group_names = ignore` or `export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore` doesn't seem to work on Ansible 2.8.1. It still gives the deprecation warning.

[code]

Is this because it's not yet listed in the valid `choices`? https://github.com/ansible/ansible/blob/v2.8.1/lib/ansible/config/base.yml#L1501

[2019-06-28 07:58] sgandon commented on #58380
I agree that this is not everybodies use case, but I am pretty sure some depth ordering is possible.
See the proposal here : https://github.com/ansible/ansible/pull/12749
This is a bit quick for closing it but up to you guys.

[2019-06-28 08:12] mms101 opened #58490 "Action plugins can reference ansible.module_utils but only for ones in the base Ansible package."
##### SUMMARY

In documentations("Using and Developing Module Utilities") there are no information, that action plugins can reference ansible.module_utils but only for ones in the base Ansible package.

So, it may be usefull to add in the end of:
"The ansible.module_utils namespace is not a plain Python package: it is constructed dynamically for each task invocation, by extracting imports and reso

[2019-06-28 08:16] justjais commented on #57767
@mfisher30 Thanks for raising the issue, I have created the PR to resolve the issue and once merged in `devel`, it'll be queued for `2.9` release.

[2019-06-28 08:16] #57767 closed, assigned to justjais

[2019-06-28 08:16] libre-man commented on #30876
This caused quite some troubles for us multiple times. Is there anyway I can help with this bug?

[2019-06-28 08:24] Andersson007 commented on #30011
@RonnyPfannschmidt , hello! Thank you for your feedback!
[code]
Could you please explain testing by connection to what?
We pass db (it is login_db at the same time) and login_user to the module. Then, for example, we try to create a new user with some password.
Assuming that the user exists already but it can be a role without connection privilege or a user with the privilege to connect to another

[2019-06-28 08:26] furstenheim-geoblink commented on #58318
@samdoran As you suggested, I've asked the same question in the mailing list. Thanks https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ansible-project/VUP8gS2wDj0/nO_-XByTAgAJ

[2019-06-28 08:27] mkrizek commented on #58477
Closing as per above.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-28 08:27] #58477 closed, assigned to nobody

[2019-06-28 08:30] f9n commented on #10829
Maybe we can use like this ([Chef Software Style](https://docs.chef.io/resource_common.html#notifications))
[code]

**actions:**  "delayed" or "immediately"

[2019-06-28 08:38] justjais commented on #58056
@guest715 Thanks for pasting in the output, and I have tried the scenario with the play u mentioned in the issue but I am not able to reproduce the issue you're facing. So, can u run the play again with verbose output as: `ansible-playbook -i inventory play.yaml -vvvv` and paste in the respective output.

Also, as the connection is getting timed out can you increase the `persistent_connect_timeout

[2019-06-28 08:58] duck-rh opened #58493 "cron does not allow to remove a cron_file without user anymore"
##### SUMMARY
Removing a cron_file is no longer possible since 2.8 without specifying the user parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible runs on Debian unstable and the node is using Debian Stretch.

##### STEPS TO REPRODUCE
The following worked before 2.8 and now fails.

[code]

##

[2019-06-28 09:13] ronansalmon commented on #57275
I have seen this as well and started working on it.
https://github.com/ansible/ansible/pull/58491

[2019-06-28 09:16] RonnyPfannschmidt commented on #30011
@Andersson007 while i no longer work at the company that needed this back then, the basic issue was, that the ansible scripts/credentials available to the deployment did not have access to the databases required to check the data, so it was impossible to use the functionality as it was directly stopped by the security model not exposing said databases to the deployment scripts

the check however w

[2019-06-28 09:18] yungezz commented on #57275
yes. we're working on renaming ansible _facts modules to _info modules, instead of return 'ansible_facts' in  otuput

[2019-06-28 09:31] Andersson007 commented on #30011
@RonnyPfannschmidt thank you for the quick reply. I agree, hypothetically it would help, but what about the cases that I mentioned above? it looks to me as a blocker for implementing this

[2019-06-28 09:41] ShachafGoldstein commented on #47813
@mletterle - The issue you added seems different than the one this thread talked about.
unless you too solved it with a reboot?

[2019-06-28 09:41] felixfontein commented on #57275
@ronansalmon the modules mentioned here don't return `ansible_facts`, which mean they can be renamed to `_info` without doing anything to the return values. Cloud modules should never return `ansible_facts`, so in the end all current `_facts` modules should be `_info` modules. Whether they are renamed or deprecated and replaced depends on how the Azure team wants to proceed.

[2019-06-28 09:57] RonnyPfannschmidt commented on #30011
Optionally trying a connect if the dB can't be read is actually a opportunity to provide a error with actionable solutions instead of just errorin if the database is inaccessible

[2019-06-28 10:01] vijayscsa opened #58494 "VMware: Enabling Network IO Control when during creation of distributed virtual switch using vmware_dvswitch module in vsphere 6.7"
##### ISSUE TYPE
- Bug : This module is not helping to enable Network IO control in a distributed Switch in vsphere 6.7

##### COMPONENT NAME
vmware_dvswitch

##### ANSIBLE VERSION
ansible 2.8
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Just create a new DV switch you would be able to see Network IO control is not getting enabled after execution of playboo

[2019-06-28 10:02] vijayscsa commented on #58494
please let me know if any work around,  my mail id is vijayscsa@gmail.com

Thanks!

[2019-06-28 10:09] Andersson007 commented on #30011
@RonnyPfannschmidt I think IMO we should just add a note to the module documentation that if we want to change the user's password, the login_user/session_role must have access to pg_authid because we can't predict all security politics into different companies and there are possible cases that I mentioned above.

@sebasmannem @kostiantyn-nemchenko what do you think about it?

[2019-06-28 10:34] mkrizek commented on #36614
With the original reproducer on the current devel I get:
[code]

`git bisect`'d a 'fix' to 0d0bdbec621e37e428dc88ed44ca2caaaf74d851.

[2019-06-28 10:41] Akasurde commented on #58494
@vijayscsa Thanks for reporting this issue. Could you please provide playbooks used and console log so that we can debug more ? Also, check this PR https://github.com/ansible/ansible/pull/44147 which changes vmware dvswitch network IO settings.

[2019-06-28 10:41] Akasurde commented on #58494
needs_info

[2019-06-28 10:41] MarkusTeufelberger commented on #56850
bug_resolved

[2019-06-28 10:48] #56850 closed, assigned to nobody

[2019-06-28 10:48] #57069 closed, assigned to trishnaguha

[2019-06-28 11:22] jeanlouisferey opened #58495 "os_server is not idempotent when using security groups per ports"
##### SUMMARY
os_server is not idempotent when the server has two network interfaces with security groups attached to ports. os_server creates well the server, but on the second time os_server deletes security groups on ports and changes its to default security group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2019-06-28 11:42] sebasmannem commented on #30011
My 2 cents on this:
I just read the threads above, have not looked into the code at this point.
But testing user/password by logging in, has (to me) some disadvantages, like false positives and false negatives, extra logging in Postgres, etc.
Imagine:

- User cannot connect to database, or is excluded in hba to connect om that ip, or similar. That would throw a false negative
- User can login with

[2019-06-28 11:45] Elyytscha opened #58496 "ansible modules: atomic_container, atomic_image not able to exec possible atomic commands"
##### SUMMARY
not able to run a command like
`atomic install --name freeipa freeipa/freeipa-server --hostname=freeipa71.test.lx.domain.com ip-address 10.20.203.87 publish ipa-server-install --setup-dns --forwarder=10.10.30.1 --admin-password=adminadmin --ds-password=adminadmin --realm=LX.DOMAIN.COM --domain=lx.domain.com --auto-reverse --unattended`
with the ansible modules for atomic

##### ISSUE

[2019-06-28 11:46] jsalgado78 opened #58497 "Setup module fails on target Windows Server 2008 SP2 with message "ErrorRecord property not found""
##### SUMMARY

I'm getting this error with Ansible setup module on a target running Windows Server 2008 SP2. Ansible setup module runs fine on Ansible 2.4.2 but fails running Ansible 2.8 or 2.8.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
2.8 & 2.8.1

[code]

##### OS / ENVIRONMENT
Windows Server 2008 SP2 (target)
RHEL 7.3 (Ansible host)

##### STEPS T

[2019-06-28 11:48] Andersson007 commented on #30011
@sebasmannem , agreed, thanks for giving the opinion
I suggest closing this issue

[2019-06-28 11:51] herpus-derpus commented on #36615
Still present in 2.8.
We have a Red Hat Enterprise support contract. Is there anything we can do with that to get someone onto the Pull request? #56376

[2019-06-28 11:56] itewk commented on #36615
@herpus-derpus open a Red Hat support case via the Red Hat support portal describing this issue (you could even copy paste out of here) and then directly reference this issue and the associated pull request and describe how it is affecting your organization. That will put priority on it for engineering.

[2019-06-28 11:58] jsalgado78 opened #58498 "Setup module fails on target Windows Server 2012 R2 with message "error (1332): occurred while enumerating the group membership. The member's SID could not be resolved.""
##### SUMMARY

I'm getting this error with Ansible setup module on a target running Windows Server 2012 R2. Ansible setup module runs fine on Ansible 2.4.2 but fails running Ansible 2.8 or 2.8.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
2.8 & 2.8.1

[code]

##### OS / ENVIRONMENT
Windows Server 2012 R2 (target)
RHEL 7.3 (Ansible host)

##### STEPS TO

[2019-06-28 12:01] #30011 closed, assigned to nobody

[2019-06-28 12:16] simonlg commented on #56856
My playbook is constructed to set the DNS records into a certain state. I don't want have to have different playbooks for creation and update. At the moment, I can't rerun my playbook twice. This goes against the idempotent principle of ansible.

[2019-06-28 12:17] PRASHANT1104 opened #58499 "Is dynamic compilation alllowed in ReactJS ?"
So , as of now what i know is if i use dynamic import , react creates a context chunk and when you require the files/components ,it downloads it then . but say i have a syntax error in one of the files i want to import , although the main app compiles , i get a syntax error warning in my terminal about that component , which means it is compiling all the files in the directory of dynamic import ,

[2019-06-28 12:28] Akasurde commented on #58499
@PRASHANT1104 This project is related to Ansible and not React.js. Please use correct Organization and repo to file issue. Thanks.

[2019-06-28 12:28] #58499 closed, assigned to nobody

[2019-06-28 12:28] mletterle commented on #47813
The underlying issues are likely very different, but the end user experience is the same, `setup.ps1` fails attempting to retrieve the machine sid.

[2019-06-28 12:28] krisvasudevan commented on #56856
You can use the same playbook. You don't have to use a separate playbook. In the task that updates the SRV record, remove the view parameter. It will go through.

[2019-06-28 12:44] imjoseangel commented on #58493
Confirmed as @duck-rh comments. In 2.7.x user is not required. Or the documentation needs to be changed or the code amended. I can help with both if you require it guys.

[2019-06-28 12:50] imjoseangel commented on #58493
@duck-rh, just confirmed that the documentation is correct:

    description:
      - If specified, uses this file instead of an individual user's crontab.
      - If this is a relative path, it is interpreted with respect to I(/etc/cron.d).
      - If it is absolute, it will typically be I(/etc/crontab).
      - Many linux distros expect (and some require) the filename portion to consist solely

[2019-06-28 12:52] ShachafGoldstein commented on #47813
those issues were resolved, your issue is the server service not starting, does this happen on all tests you did after the 2?

[2019-06-28 12:54] s-hertel commented on #58478
I'm not able to reproduce looping only on the first object of the list by following your reproducer. Please provide a more detailed reproducer (such as providing the vars `abc`, `xyz` and `out` in the `vars` section of a reproducer playbook) as well as the actual output and the desired output.

needs_info

[2019-06-28 13:00] brilong commented on #56495
I am seeing something similar with Ansible 2.7.10, but in the local group creation workflow.  If I specify local=true and the group is not contained in the local /etc/group file, but it is contained in central management (i.e. SSSD with LDAP backend), the local group is NOT created although Ansible thinks it is.
ansible-group: Invoked with state=present gid=114019 local=True name=test-group system

[2019-06-28 13:06] s-hertel commented on #58455
@bluikko It isn't missing, it is here: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/netbox.py#L19
Documentation can be shared rather than duplicated in many places
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/constructed.py

[2019-06-28 13:06] #58455 closed, assigned to nobody

[2019-06-28 13:08] langesven commented on #56495
Can confirm this happens on my end as well. I've worked around with with a shell command now that executes `grep -E '^{{ item.group }}' /etc/group || lgroupadd -g {{ item.gid }} {{ item.group }}` to check whether the group exists locally and if not to add it locally.

With the current way `local` works it only ever has an effect if you want to modify an already existing local group. It won't creat

[2019-06-28 13:14] simonlg commented on #56856
I manage my complete infrastructure with ansible and my playbook runs every night. I want to be able to rerun the playbook without having errors saying that the view field is cannot be updated. I also want to use the same playbook to create and update my infra. The nios_srv_record task should be able to detect that the record already exists and omit the view parameter. I already does that for nios

[2019-06-28 13:24] AlanCoding commented on #57497
After going back and re-reading the docs _very carefully_ I might have to walk back some of what I said here. For the refspec option, the docs say:

So suggests that my goal should be accomplishable in a single command... but maybe it's not so obvious _how_. Here is the trial-and-error process I went through:

[code]

It seems that the documentation is going in a different direction than I am, ass

[2019-06-28 13:28] bcoca commented on #36614
he, that is faster than in 2.4 ... going to close this then as per above.

[2019-06-28 13:28] #36614 closed, assigned to nobody

[2019-06-28 13:29] ramon-garcia commented on #58498
This happens to me when there is an invalid member of the Administrators group. It is a bug in some .NET function.

Workaround: check that there is no invalid member of the Administrators group.

[2019-06-28 13:37] Ansy09 commented on #58478
################  YML file #############

- name: Get the list of ldif files to fetch
  shell: "ls -la {{aaa_tmp_dir}}/{{inventory_hostname}}/{{item.depl_id}}/{{item.comp_name}}/ | grep -i ldif |awk '{ print $9}'"
  with_items: [ "{{aa_instances[deployment]}}" ]
  register: out
- debug: msg="{{ out.results | map(attribute='stdout_lines') | list }}"

- name: fetch all the files
  fetch: src= {{aaa_

[2019-06-28 13:40] sivel commented on #58490
Duplicate of https://github.com/ansible/ansible/issues/28770

[2019-06-28 13:40] #58490 closed, assigned to nobody

[2019-06-28 13:40] s-hertel commented on #58478
FYI, triple backticks will make your tasks more legible. https://help.github.com/en/articles/basic-writing-and-formatting-syntax#quoting-code

[2019-06-28 13:56] #58451 closed, assigned to nobody

[2019-06-28 13:57] acozine commented on #58451
Thanks @bbartel for catching and reporting this error.

[2019-06-28 14:24] biroeng commented on #39295
Good Morning everyone
Any update or fix on this module ?
I have the similar bug for Grafana 6.2.2 and Ansible 2.8

[2019-06-28 14:39] bcoca commented on #58455
FYI, if you use `ansilbe-doc -t inventory netbox` it will show the FULL documentation as it knows how to use fragments.

[2019-06-28 14:42] bcoca commented on #53380
@bluikko `ansible-doc -t inventory netbox` should show the docs, it is using 'doc fragments' which is how we share the same doc snippets across plugins, editing the file itself will give you an incomplete view.

[2019-06-28 14:47] mletterle commented on #47813
I should have been more specific, it fails against the Windows Server Core 2019 (1803) [docker container image](https://hub.docker.com/_/microsoft-windows-servercore) which has not supported running the lanmanserver service [since at least 2015](https://social.msdn.microsoft.com/Forums/en-US/205ee0f0-8b7d-4e21-bac8-06a70bb4120c/file-shares-in-a-container?forum=windowscontainers)

Regardless of my

[2019-06-28 14:47] ronansalmon commented on #57275
How will we be able to get fact/info in the future ? do you have working example ?

[2019-06-28 14:53] AndyO91 commented on #58495
Hello Jean Louis,

I tried to fix that on this pull request: #58509

Hope it will be ok

Have a nice day

[2019-06-28 14:54] christ2016 commented on #57226
@garneshrn Here are the logs. I have obfuscated many sensitive details, hopefully the bits you need are there? Please let me know if you see anything that I should have hidden but didn't.

{code}
2019-06-28 14:51:09,740 p=8874 u=anobfuscateduser |  ansible-playbook 2.8.1
  config file = /anobfuscateduser/DCNB/ansible.cfg
  configured module search path = [u'/usr/share/ansible', u'/usr/local/lib/py

[2019-06-28 14:59] bcoca commented on #58120
With PR above now i get:

[code]

[2019-06-28 15:03] ShachafGoldstein commented on #47813
I don't think ansible windows officially support windows containers.
@jborean93 @nitzmahone

[2019-06-28 15:11] jamescassell commented on #56930
This is a bug that's fixed in the upcoming version 2.8.2.  You'll be able to `export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore` and it will squash all warnings.

(The ignore option is still not documented: https://github.com/ansible/ansible/pull/57318 )

[2019-06-28 15:12] mms101 commented on #58490
This request was not about changing something in the ansible code, but only about adding necessary information  to the ansible documentation. Please, pay attention.

[2019-06-28 15:27] Kevin-De-Koninck commented on #58120
@bcoca - Confirmed working!

[2019-06-28 15:52] zikalino commented on #57275
@ronansalmon just rename azure_rm_xxxx_fact to azure_rm_xxxx_info in your playbooks.
Besides old _facts will be still working for several versions of ansible as before.

[2019-06-28 15:54] bcoca commented on #58490
FYI, with collections you can use module_utils from the collection itself so this limitation is removed.

[2019-06-28 16:14] pilou- commented on #58493
This a useless change introduced by https://github.com/ansible/ansible/commit/cd9471ef17c985006c7d77687030890003cf395d#diff-d62002ec9c674dc53b0782ca1794023e.

is incorrect: `user` is only required if `cron_file` is used and `state` is `present`.

[2019-06-28 16:17] MarkJB opened #58511 "win_find module not returning deduplicated files"
##### SUMMARY
Using the win_find module against a Windows share it is not returning some files. In this case .exe files.

The .exe files are deduplicated and looking at their properties in Windows explorer, they appear as something like this:

'Size: 100MB'
'Size on disk: 0 bytes'.

win_find is successfully returning other (non deduplicated) files from the same directory and it is showing the corr

[2019-06-28 16:23] samdoran commented on #42726
@dakira I tested with [a version of FreePBX](https://app.vagrantup.com/Eric-Pine/boxes/FreePBX) and wasn't able to duplicate the problem. Maybe it was a very old version.

Can you test with the latest `devel` and see if you still have problems?

[2019-06-28 16:24] #58444 closed, assigned to nobody

[2019-06-28 16:24] ShachafGoldstein commented on #58511
Please add a verbose `-vvv` output of the playbook

[2019-06-28 16:45] pabelanger opened #58513 "net_get: Warning: exception Internal error idempotency check failed. Check dest"
##### SUMMARY
We are seeing a random failure with net_get on zuul.ansible.com, this is when running the ios network integration tests.

https://logs.zuul.ansible.com/73/58273/3f2034338e014ea0165bbc9b96397dfe7fd7572c/third-party-check/ansible-test-network-integration-ios-python37/7779ef9/job-output.html#l14660

We should debug and improve logging to help identify the exception, and gracefully handl

[2019-06-28 16:47] #58420 closed, assigned to s-hertel

[2019-06-28 16:58] pabelanger opened #58514 "iosxr_config: path specified in src not found using retry loops"
##### SUMMARY
We are trying to mitigate an issue on zuul.ansible.com with cisco iosxr and network_cli sockets.  We randomly see cases, where the paramiko socket is closed, and working to handle that via ansible playbooks.

https://logs.zuul.ansible.com/00/58500/605d0d67102167cda67bd7f1046b4e1be408c372/third-party-check/ansible-test-network-integration-iosxr-python36/4d416d4/job-output.html#l13352

[2019-06-28 17:02] dead10ck opened #58515 "jenkins_plugin in check mode always reports changed status"
##### SUMMARY
When in check mode, the `jenkins_plugin` module always reports a changed status, even when no change would happen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`jenkins_plugin` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 30 Workstation

##### STEPS TO REPRODUCE

1. Use the `jenkins_plugin` module to install a plugin
1. Run

[2019-06-28 17:09] #57862 closed, assigned to nobody

[2019-06-28 17:23] #58351 closed, assigned to nobody

[2019-06-28 17:24] mletterle commented on #47813
The lanmanserver service not running is not necessarily specific to windows containers, it could be off or inaccessible for any number of reasons. In any scenario where the lanmanserver service is inaccessible `setup.ps1` crashes.

[2019-06-28 17:25] zarr12steven opened #58517 "docker_image module: code: None, message: COPY failed: stat /var/lib/docker/tmp/docker-builderxxxxxxxxxxxx/ssh: no such file or directory"
##### SUMMARY

I use `docker_image` module, and I expect to copy my local ssh directory to Docker container inside path /home/ubuntu/.ssh

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 **`docker_image` module**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible -i localhost playbook.yml

[code]

##### OS / ENVIRONMENT

  - macOS Version: macOS 10.14.3
  - docker version

[code]

[2019-06-28 17:48] d-little opened #58522 "aix_lvg does not cleanly handle incorrect PP sizes and fails with 'OK'"
##### SUMMARY

aix_lvg (aix_lvg.py) does not cleanly handle incorrect PP sizes.  When the Parameter `pp_size` is set to an int value that is *not* valid for AIX the Task returns OK, but the command has actually failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aix_lvg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target: AIX 7.2 LPAR

##### STEPS

[2019-06-28 18:12] ShachafGoldstein commented on #47813
Honestly, in all the production environments I've seen I know it to be running even in SCM and its alike. Always happy to hear about other cases :).
in any case, I still think @jborean93 or @nitzmahone should give their input

[2019-06-28 18:19] d-little commented on #58522
(nb:  I've not contributed or read any of the Ansible contribution guides, so this is a very fast skim+guess at the convention.  This behaviour may actually be expected!  If so, I've a lot to learn)

Within create_extend_vg the 'offending' Failure but 'OK' code is:
[code]
Is it normal ansible behaviour to return OK/No Change when a make command fails after validation that it _wants_ to change?   M

[2019-06-28 18:28] nitzmahone commented on #47813
We aren't regularly testing in containers at the moment, though it's getting more feasible as a cheaper Windows CI smoke test than spinning up VMs now that the various cloud container services are supporting Windows containers directly (ie, we wouldn't have to run our own container host)... Regardless, setup should be resilient to common issues like this, so we should accept some form of #58483 (m

[2019-06-28 19:08] hxdoan opened #58527 "Missing double quotes when with jinja2_native = true"
##### SUMMARY

Double quotes missing on variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

uname -a
Linux hdoan-dw-vm.daa.local 3.10.0-957.10.1.el7.x86_64 #1 SMP Mon Mar 18 15:06:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

PLAY [infr

[2019-06-28 20:07] imjoseangel commented on #58493
Fully agree, using **user** doesn't make sense at deletion. Look at this example:

[code]
This creates:

[code]
and deletes:

[code]

although the specified user is ansible. So the **name** is the key when **absent**, not the user. I would recommend removing the :

[code]
 as specified by @pilou-

[2019-06-28 20:19] #56488 closed, assigned to nobody

[2019-06-28 20:21] #56144 closed, assigned to nobody

[2019-06-28 20:35] felixfontein commented on #57275
For modules currently returning `ansible_facts`, use `register:` from 2.9 on and use that instead of relying on magic fact variables showing up. And as @zikalino said, the deprecation cycle is 4 versions, so if you don't mind warnings, your playbooks should still work until they will break in 2.13.

[2019-06-28 20:52] felixfontein commented on #58517
It's hard to know what goes wrong since you're using `.` as the path where the container is built. From the error message, I would guess that `ssh` it not in the build context, but since I have no idea what `ssh` is or where it comes from, and where it is related to the playbook, I have no idea what goes wrong.

BTW, the `dockerfile` option should be a path relative to `path` (and in particular, i

[2019-06-28 21:17] carlwgeorge commented on #50983
Relevant to this discussion, [Red Hat is adding python3 in RHEL 7.7](https://bugzilla.redhat.com/show_bug.cgi?id=1639030) (which will obsolete EPEL's python34 and python36 packages).  I [asked for libselinux-python3 to be enabled in the libselinux spec file as well](https://bugzilla.redhat.com/show_bug.cgi?id=1719978), however it sounds like that won't happen in time for 7.7 (maybe 7.8).

cc: @hro

[2019-06-28 21:22] sivel commented on #58527
!component =lib/ansible/template/__init__.py

[2019-06-28 21:24] sivel commented on #58527
This is not a direct problem of Ansible, but a bug in jinja2 itself:

[code]

[2019-06-28 21:34] jasonmfehr opened #58537 "win_shell with async results in the system cannot find the path specified"
##### SUMMARY
We are running ansible using packer against AWS EC3 Windows Server 2016 instances.  Most tasks work flawlessly except for `win_shell` tasks that are run asynchronously.  Those tasks fail with an error that says:

`amazon-ebs: fatal: [redacted]: FAILED! => {"changed": true, "module_stderr": "The system cannot find the path specified.\r\nShared connection to 127.0.0.1 closed.\r\n", "mo

[2019-06-28 21:47] ShachafGoldstein commented on #58537
Can you please add the full output and your connection parameters here?

[2019-06-28 22:03] jasonmfehr commented on #58537
We use the packer amazon-ebs builder with the ansible provisioner.  Here is the relevant configuration from the packer json file:
[code]

and the packer ansible provisioner:
[code]

and finally the contents of the `call_ansible.sh` script:
[code]

[2019-06-28 22:05] jasonmfehr commented on #58537
Can you please help my understand what is the exact "full output" that you need?  I don't want to post the full output of the packer execution because it is 1,800 lines long and will take an inordinate amount of time to properly redact.  Thanks!

[2019-06-28 23:21] #57463 closed, assigned to samdoran

[2019-06-28 23:33] hroncok commented on #50983
To clarify, it will only obsolete python36.

[2019-06-29 02:40] goneri opened #58541 "vmware_guest: autoselect_datastore=True should select a datatore reachable on the ESXi"
##### SUMMARY

The following snippet from https://github.com/ansible/ansible/blob/devel/test/integration/targets/vmware_guest/tasks/create_d1_c1_f0.yml uses `autoselect_datastore: True`.

[code]

One of my two datastores is dedicated to the ISO image and so, is readOnly. But it still get selected consistently. I use the following hack to avoid the problem:

[code]

##### ISSUE TYPE
- Bug Report

#

[2019-06-29 03:30] zarr12steven commented on #58517
I already try the absolute path and relative path in my Dockerfile, still show the error message, by the way, my work directory is `~/work/test/`，when I run ansible playbook, the will create **`build`** directory, and then will start to build Dockerfile in `~/work/test/build` .

and more information you can see my GitHub repositories https://github.com/zarr12steven/Learn_Ansible/tree/develop/CIS_B

[2019-06-29 04:04] felixfontein commented on #58517
Have you tried
[code]
? Also, where have you executed `docker build -t ironman/os -f Dockerfile .` manually? I assume in `{{ playbook_dir }}/build`, and not in ``{{ playbook_dir }}`?

[2019-06-29 04:24] zarr12steven commented on #58517
Hi @felixfontein  Thanks for your help, I think the problem is solved.

But I still confuse why can use **`.`** as a path ?

[2019-06-29 04:26] felixfontein commented on #58517
What exactly do you mean? Why can you use `.` where?

[2019-06-29 04:42] zarr12steven commented on #58517
Sorry, I mean "why can't use **`.`** as a path in ansible docker_image module ?"
[code]

[2019-06-29 04:51] felixfontein commented on #58517
Of course you can. But `.` is relative the current working directory, which is `{{ playbook_dir }}` and not `{{ playbook_dir }}/build`. So you get a different result than if you run `docker build -t ironman/os -f Dockerfile .` in `{{ playbook_dir }}/build`.

[2019-06-29 04:52] felixfontein commented on #58517
It's the same as running `docker build -t ironman/os -f build/Dockerfile .` in `{{ playbook_dir }}`. You can try that, it won't work either.

[2019-06-29 04:54] zarr12steven commented on #58517
OK, Thanks for your help again.

[2019-06-29 05:16] ronansalmon commented on #57275
Ok, I understand now. I guess i can close PR #58462, and resend a patch for https://github.com/ansible/ansible/pull/58491

I am away for 3 weeks. I'll do that when I get back.

[2019-06-29 09:12] ShachafGoldstein commented on #58537
Without the async it runs ok?

[2019-06-29 10:45] Im0 commented on #57284
@NilashishC - oh no, that is embarrassing.  It appears I mustn't have set the `ansible_become_pass` or used -K on the command line.  Is there anyway the error message can be enhanced?  Thanks.

[2019-06-29 11:25] ardrigh commented on #56504
I am a new user of Ansible 2.8 in Fedora 30, trying it out for personal setup. I found this syntax confusing. I am not a general fan of the '@' syntax

Could a new parameter like `module` be added that will specify the module & stream or profile and allow package name to work as normal?

The syntax for fish shell like `name: '@fish:3/default'` would ideally be something more readable like `module:

[2019-06-29 11:41] chriscroome opened #58543 "Mail module works with US-ASCII encoding for Reply-To header but fails with UTF-8"
### SUMMARY
When using the [Mail module](https://docs.ansible.com/ansible/latest/modules/mail_module.html), in the documented manner, setting a `Reply-To` header fails unless the email character is set to US-ASCII.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Mail module by @dagwieers

##### ANSIBLE VERSION
Debian Stretch with Ansible from backports
[code]

##### CONFIGURATION

[code]

###

[2019-06-29 15:04] felixfontein commented on #58517
Closing this since it is not a bug.

[2019-06-29 15:04] #58517 closed, assigned to nobody

[2019-06-29 16:27] szeestraten opened #58545 "archive module does not include top directory in archive"
##### SUMMARY

Archive module does not include top directory in archive.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I created a small repo with a Vagrantfile and playbook to reproduce: https://github.com/szeestraten/ansible-archive-bug

https://github.com/szeest

[2019-06-29 23:13] SolomonHD commented on #41861
Not sure if this is the right thread but I'm having a similar issue trying to create listeners, ansible (2.7.11 and 2.8.1) with python 2.7 or 3.5.
[code]
When the module hits this error it still creates the ALB and the Default Actions, but not the Rules/Conditions. I've tried this using TargetGroupName and TargetGroupArn and the result is the same

[2019-06-30 07:02] dpoon opened #58562 "File module may crash when setting mode on a symlink, if it points to a read-only filesystem"
##### SUMMARY
When using a module attempts to set the mode of a symlink, and the symlink target points to a read-only filesystem, then it may crash with an `OSError: [Errno 30] Read-only file system`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`file` module, due to `ansible/module_utils/basic.py` line 1117, in a `module.set_mode_if_different(…)` call.

https://github.com/ansible/ansible/

[2019-06-30 07:11] dpoon commented on #58562
The quoted code in `ansible/module_utils/basic.py` has existed since https://github.com/ansible/ansible/commit/0ce99e391f3551a0a349e1f7a9e27a6479a784d3 (_fix: if a path is symlink and trying to chmod, OSError Exception will be raised._)  However, that fix is incomplete, as it should check for `errno.EROFS` as well.

Proposed change:

[code]

Note that that would be overly lenient on systems that d

[2019-06-30 07:52] NilashishC commented on #57284
@lm0 Glad that the issue is solved. Since this is not a bug, I'm closing this bug report. If you would like to have an enhanced error message for these kind of failures, kindly raise a new Feature Request.

[2019-06-30 07:52] #57284 closed, assigned to NilashishC

[2019-06-30 09:27] jtisserand commented on #55919
Hello, I'm using Ansible 2.8 and Pika >1.0 and I have the same issue.
After rollback to pika 0.13.1, it's working again!

Regards,
Jérôme.

[2019-06-30 10:00] agowa opened #58567 "Prevent plaintext credentials from being written to disk"
##### SUMMARY
Prevent credentials within ansible variables from being written to disk.
Within #58383 I did my best to do that, but credentials get still stored in plaintext within the ansible variables file that is used by `Get-AnsibleParam -obj $params`. So some internals have to change to prevent this file from being written onto disk.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`lib/

[2019-06-30 11:58] patede opened #58568 "redfish_facts - Systems - GetDiskInventory does not return NVMe drives (Supermicro)"
##### SUMMARY
Using Systems / GetDiskInventory returns an empty list on NVMe only systems.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
IPMI Firmware: 01.67
RedFish Version: 1.0.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
List of Drives connected to NVMeSSD controller
[code]
[cod

[2019-06-30 14:22] Akasurde commented on #56626
@sjortiz Let me know if you need some help. Thanks.

[2019-06-30 15:34] nkakouros commented on #56326
I did this:

[code]

and the module works. I overrode the module in my project.

[2019-06-30 16:07] Raman-Kathpalia commented on #30864
This would be a good feature add. And debugging would become easier.

[2019-06-30 16:10] ty-machine opened #58570 "openssl_csr forcing common name validation as url"
##### SUMMARY

openssl_csr is using idna.core in order to validate the common name of the csr. This causes issues when the common name is not a valid url ex. CN=system:kube-controller-manager. The module should accommodate creating csr's for client certificates which typically are not valid urls.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module openssl_csr

##### ANSIBLE VERSION

[code]

[2019-06-30 16:21] ty-machine commented on #58570
Referenced the file mentioned by ansibot. The option below added in version 2.8 solved this:

    use_common_name_for_san:
        description:
            - If set to C(yes), the module will fill the common name in for
              C(subject_alt_name) with C(DNS:) prefix if no SAN is specified.
        type: bool
        default: yes
        version_added: '2.8'
        aliases: [ useCommonNameF

[2019-06-30 16:21] #58570 closed, assigned to nobody

[2019-06-30 17:35] #58459 closed, assigned to nobody

[2019-06-30 19:32] jborean93 commented on #58567
!component =lib/ansible/plugins/connection/winrm.py

[2019-06-30 20:14] jborean93 commented on #58567
We have spoken about this in IRC before and ultimately we don't have a solution right now that would avoid this problem. The credentials should not be written to disk but rather stored in memory as Windows by default will pipeline modules and it's arguments over stdin.

This is primary why the 3 PSScriptAnalyzer rules that talk about secure strings and credentials are being ignored in Ansible sani

[2019-06-30 20:33] jborean93 commented on #58537
We don't test or support using Packer as they completely bypass our connection plugin mechanism. This has lead to numerous issues but not limited to;

* https://github.com/ansible/ansible/issues/33087
* https://github.com/ansible/ansible/issues/42086
* https://github.com/ansible/ansible/issues/57542
* https://github.com/hashicorp/packer/issues/6196
* https://github.com/hashicorp/packer/issues/6453

[2019-06-30 20:33] #58537 closed, assigned to nobody

[2019-07-01 00:56] burnitup commented on #58038
additional clarification

affects devices running 7210-SAS-Sx-TiMOS-10.0.R6

[2019-07-01 01:35] jborean93 opened #58572 "win_psrepository tests failing with Invalid Web Uri Requirements"
##### SUMMARY
The win_psrepository tests are failing in devel https://app.shippable.com/github/ansible/ansible/runs/130182/22/tests. These should be fixed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_psrepository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Tests pass

##### ACTUAL RESUL

[2019-07-01 01:37] jborean93 commented on #58572
This could be an issue with `myget.org` not being online for this time but this should be investigated and have the tests changed so they don't rely on an external repo to work.

[2019-07-01 01:49] lapcchan commented on #18305
for my case it hangs timeout.

[code]

[2019-07-01 02:27] Akasurde commented on #58562
resolved_by_pr #58564

[2019-07-01 02:50] bluikko commented on #58455
@s-hertel I understand now after comment from @bcoca. Thanks.

[2019-07-01 05:27] D3DeFi commented on #39220
Good thing ansibot brought this back to our attention. If I remember correctly, we had one PR and one new module for this functionality proposed in the past, but both things missed some finishing touches and got closed with information that they will be reopened shortly as new PRs from their original authors.

I can now see that it unfortunately did not happen. I will try to find some additional t

[2019-07-01 06:30] NilashishC commented on #58258
cc @FedericoOlivieri - could you have a look at this? :)

[2019-07-01 06:31] Akasurde commented on #58494
Closing this issue as PR #44147 is merged. If issue persists, please feel free to re-open.

[2019-07-01 06:31] #58494 closed, assigned to Akasurde

[2019-07-01 06:39] Akasurde commented on #57937
@Tomorrow9 Thanks for the feature request. I would suggest to have a separate module to address this feature. Thanks.

[2019-07-01 07:05] ulysses-31 commented on #57719
I can see how this could be an issue.  $user_obj is set earlier with:

`try {
    $user_obj = Get-ADUser -Identity $username -Properties * @extra_args
}
catch {
    $user_obj = $null
}
`

A state 'query' will return user is 'absent' in the following circumstances:
(1) Get-AdUser connects to AD and can't find the user.
(2) Get-AdUser is unable to connect to AD e.g. auth issue with wrong/missing dom

[2019-07-01 07:53] chclaus commented on #47111
Hej hej,
I have now been able to observe this error very often. That's not so nice. For our CI/CD pipeline we have built up to 10 retries with a lot of delay into each Azure Task to make it work reliably. :(

[2019-07-01 07:55] jborean93 commented on #58567
Ok after talking to @agowa338, this issue is about connection plugins that don’t support pipelining. Files that are deleted are not truly deleted so there is some persistence happening here that we may want to look into. I’ll reopen the issue until we discuss this further in the next Windows working group.

[2019-07-01 08:03] comshelp opened #58575 "ios_l2_interface does not add remove trunk vlans when many vlans configured"
##### SUMMARY
When trunk vlans span multiple lines in the output from the "show int xxx switchport" command, ios_l2_interface  does not work for any vlans configured on the extra lines.

Changing the trunk match pattern to:
  trunk = re.search(r'Trunking VLANs Enabled: ([0-9,\s\-]+)', config, re.DOTALL)"

In ios_l2_interface.py fixes the problem. The key is adding DOTALL to the search which allows

[2019-07-01 08:27] Fred-sun commented on #45330
@zikalino

[2019-07-01 08:28] Fred-sun commented on #57782
@zikalino @MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-07-01 08:36] crc32a commented on #33410
In my case I have ansible run bash script inside a container. When I login manually and run the script the server starts up and is adopted by init PID1 then I can exit the ssh session. The trrouble is when this is done by ansiblke (which uses ssh I believe) the services are also adopted by init but a soon as ansible exits the processess die are killed or what ever.

I'm at a loss as for how ansibl

[2019-07-01 08:38] Fred-sun commented on #56356
@zikalino

[2019-07-01 08:40] dano0b opened #58578 "terraform plan_file custom path broken"
##### SUMMARY
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/terraform.py#L353 expects the plan_file to be a filename not a path to a file.inside of project_path. Works with relative paths but not with absolute paths. Lucky for me I use a path inside project_path but it worked before with paths outside too.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

terrafo

[2019-07-01 09:03] Akasurde commented on #55248
@mamullen13316 I added warning message in module to make user aware of this limitation. Let me know if it works for you. Thanks.

needs_info

[2019-07-01 09:03] Akasurde commented on #55248
resolved_by_pr #58579

[2019-07-01 09:15] ShachafGoldstein commented on #57719
Not sure what you mean, if the lines you wrote fail, then the end response is an error you can see in the lines I qouted above.

[2019-07-01 09:20] LeDOC666 commented on #54343
Finally, It was a problem of concurrency in vCenter.
I added
[code]
above the inventory args, and the job is serialized, but not KO

[code]

Thanks for help

[2019-07-01 09:20] #54343 closed, assigned to Akasurde

[2019-07-01 09:21] LeDOC666 commented on #58376
It's ok, I used serial: 1 and everything work.
Thanks

[2019-07-01 09:21] #58376 closed, assigned to Akasurde

[2019-07-01 09:37] tinproject commented on #15476
As @roidelapluie said the natural expectations is that templated handlers in a role keep the role scope and could be used with role params multiple times. This expectations are greater if you use the `include_role` module.

One possible way could be to add an option to `include_role` that forces handlers to be templated at role include time and then added fully templated to the play. So when handl

[2019-07-01 09:40] ulysses-31 commented on #57719
If the lines I provide above (from ansible/lib/ansible/modules/windows/win_domain_user.ps1) fail then $user_obj is set to $null which should only occur if Get-ADUser can't find the user (i.e. no user object returned). If any other error occurs with Get-ADuser (e.g. auth issue) then an error should be raised as we can not determine the status of the user. Following the code you provide above this r

[2019-07-01 10:03] nicolaibaralmueller opened #58580 "win_partition system label missing"
##### SUMMARY

Please add the option to add volume label for the disk.
Please also add the option to intitialize the disk.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_partition

[2019-07-01 10:11] manjeetchauhan211 commented on #50881
I am facing the similar issue even after upgrading the ansible to version 2.8

  - name: Configuring host in IPAM...
    nios_host_record:
     name: "{{name}}"
     ipv4:
      - address: "{{address}}"
     dns: false
     comment: "test"
     state: present
     provider:
      host: "{{ infoblox }}"
      username: "{{ infoblox_user }}"
      password: "{{ infoblox_password }}"
    connection:

[2019-07-01 10:28] #57055 closed, assigned to nobody

[2019-07-01 10:39] ShachafGoldstein commented on #57719
Not sure what is the best way to implement this, i will add this to the agenda for next meeting

[2019-07-01 10:43] sandrich commented on #25660
Same issue with external user

[2019-07-01 10:44] Akasurde commented on #51240
Closing this issue as PR #56733 is merged. If issue persists, please feel free to open a new issue.

[2019-07-01 10:44] #51240 closed, assigned to nobody

[2019-07-01 10:48] Akasurde commented on #54956
@devdil Thanks for the feature request. Sorry, I lost this under the pile of mails. I will take a look and let you know. Thanks.

[2019-07-01 11:32] amarao opened #58582 "add_host breaks --skip option"
##### SUMMARY
If host was added via add_host module, and it name is on the skip list (--skip option) ansible does not skip that host. (--limit works fine with add_host).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04, ansible from pip in venv

##### STEPS TO REPRODUCE

[code]

command l

[2019-07-01 11:48] mkrizek commented on #58527
This has been already reported upstream https://github.com/pallets/jinja/issues/1020.

[2019-07-01 12:37] mkrizek commented on #58582
There is no such option as `--skip` (do we have that documented somewhere?). Only `--skip-tags` which is what `--skip` is effectively 'translated' to. See https://docs.python.org/dev/library/argparse.html#argument-abbreviations-prefix-matching.

[2019-07-01 12:42] mkrizek commented on #58582
I wonder if we should set `allow_abbrev=False` to prevent confusions:
[code]

[2019-07-01 12:46] amarao commented on #58582
Ff....

My deepest apology. Yes, I forgot that we translate skip list into --limit 'good:!bad'.

This bug is invalid.

[2019-07-01 12:46] #58582 closed, assigned to nobody

[2019-07-01 12:51] nicolaibaralmueller opened #58585 "generate azure sas tokens"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION

Please add a module that supports creating azure sas tokens for downloading private blob files.

[2019-07-01 13:21] ulysses-31 commented on #57719
Update the first Get-ADUser try/catch as follows to handle if the user is not found (truly absent) and provide a suitable error message for any other exceptions e.g. auth/connection failure:

[code]

This has tested OK for me on Ansible 2.8.1.

[2019-07-01 13:57] #20325 closed, assigned to nobody

[2019-07-01 14:05] agowa opened #58587 "Support omit within lists"
##### SUMMARY
omit should also be supported within lists to allow jinja2 expressions to add elements to lists.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
omit
core

##### ADDITIONAL INFORMATION

As an administrator I want to have conditional elements in a task, so that I can simplify my playbook and roles and have less module invocations and a faster run.

[code]

The first example cur

[2019-07-01 14:12] jlothian commented on #55722
This happens on 2.8 as well.  It looks like many of the DHCP options can't take this use_option parameter.

[2019-07-01 14:14] ShachafGoldstein commented on #57719
the final catch can be dropped since on other modules were also changed to let the exception of the propegate of no specific action is needed.
would be great if you make a PR for this change with a changelog fragment to match

[2019-07-01 14:42] sivel commented on #58587
We are conflicted about adding this feature, and it has come up in the past.

Should you want to pursue this further, please add this to the core IRC meeting agenda for additional discussion: https://github.com/ansible/community/issues?utf8=✓&q=is%3Aissue+is%3Aopen+label%3Ameeting_agenda+label%3Acore

Example PR from a previous attempt: #39179

[2019-07-01 14:51] marcobellaccini opened #58591 "apt_key: deprecate keyserver parameter"
##### SUMMARY
apt_key: deprecate keyserver parameter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
apt_key

##### ADDITIONAL INFORMATION
[Recent events](https://gist.github.com/rjhansen/67ab921ffb4084c865b3618d6955275f) shed light on the potential DoS issues when using some popular keyservers.

Hence, I was wondering whether it may be better to deprecate the _keyserver_ parameter in the _

[2019-07-01 15:03] meons opened #58592 "vmware_guest_disk: add disk_mode parameter"
##### SUMMARY

vmware_guest_disk should propose `disk_mode` parameter (like vmware_guest module).
The playbook bellow does not raise an error but disk is always added in `persistent` mode, even I set `independent_persistent` for `disk_mode` var.
If it's a bug please could you fix it? If it's not consider it as a feature request :)

##### ISSUE TYPE
- Feature Idea (or maybe a bug)

##### COMPONENT

[2019-07-01 15:09] sivel commented on #58587
!component =lib/ansible/executor/task_executor.py

[2019-07-01 15:30] gstorme commented on #58580
You can set the volume label with the [win_format](https://docs.ansible.com/ansible/latest/modules/win_format_module.html) module.
Support for initialize disk would be nice to have, I use win_shell tasks as a workaround for it now.

[2019-07-01 16:13] resmo commented on #37396
I am able to reproduce

[2019-07-01 16:15] sivel commented on #25559
I've confirmed this issue is no longer present in recent versions of Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-01 16:15] #25559 closed, assigned to nobody

[2019-07-01 16:17] sivel commented on #25311
Closing per above.

[2019-07-01 16:17] #25311 closed, assigned to nobody

[2019-07-01 16:18] joe-at-cp commented on #42409
Has this fix been committed? I am unable to rebuild using Ansible 2.7 or 2.8.

[2019-07-01 16:19] sivel commented on #25263
The documentation issue described in this issue no longer exists.  We no longer specify `all arguments accepted by the file module also work here` but explicitly indicate all of the arguments accepted by the module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2019-07-01 16:19] #25263 closed, assigned to nobody

[2019-07-01 16:24] sivel commented on #25036
This issue does not appear to exist in current versions of Ansible. If you are still having problems, please open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-01 16:24] #25036 closed, assigned to alikins

[2019-07-01 16:27] jpreed2 opened #58599 "gcp_storage_object on remote CentOS 6 - Please install the requests librarary"
##### SUMMARY
Running a playbook on a CentOS 7 machine to download a file from Cloud Storage using gcp_storage_object on a CentOS 6 remote host.  Returns the following response:
```fatal: [worker-01.prod]: FAILED! => {"changed": false, "msg": "Please install the requests library"}```

Verified requests library is installed on the CentOS 7 machine.

I tried modifying /usr/lib/python2.7/site-package

[2019-07-01 16:36] elaurijssens opened #58601 "azure_rm_keyvault* modules not consistent"
##### SUMMARY
azure_rm_keyvaultkey and azure_rm_keyvaultsecret expect an URI in the form of 'https://zzz.vault.azure.net/' to identify the vault to use. However, azure_rm_keyvault only returns the Azure API id in the /subscription/xxxx/resourcegroups/yyyy/providers/Microsoft.KeyVault/vaults/zzzz form. Of course we can do some string manipulation in the playbook but really, that should take place b

[2019-07-01 17:44] sivel commented on #58184
I think this is likely because we are not setting options on the connection for `reset_connection`. It happens to work for the ssh plugin because we are still very reliant on `PlayContext` rather than the connection config.

Something like this may fix this:

[code]

[2019-07-01 19:08] rschwiebert commented on #29843
I came to complain that i used `extra_args` to supply `-i <url>`, and that it appears to do nothing.

I know the added option works in the command line, and the output of ansible suggests it was never included in the invocation of pip, so... 🤷‍♂

[2019-07-01 19:10] sivel commented on #57858
Have you set become pass for this host?  Ansible will not attempt to wait for a password prompt if no password is supplied.

Additionally, just as an FYI, we have no means of testing pmrun.  This plugin may only work for the most basic of configurations, and I would go as far to say that it is a reference implementation, and a custom plugin may be required for individual use cases.

This functiona

[2019-07-01 19:39] sivel commented on #58478
Your problem stems from this line:

[code]

That will create a list of lists.  Instead of `list` you want `flatten(1)`:

[code]

Then you will get the results you want.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-01 19:39] #58478 closed, assigned to nobody

[2019-07-01 19:49] pratikgadiya12 commented on #58370
[WIP] PR: https://github.com/ansible/ansible/pull/58602

[2019-07-01 19:57] DerrickTJ opened #58603 "mso_schema_template_anp_epg Fails to Check without ANP"
##### SUMMARY
Running --check a full playbook from start to end of an ANP to BD to EPG to Contract on mso_schema_template_anp_epg fails when the ANP does not exist. Work around is to skip the check on this module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mso_schema_template_anp_epg

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

This is hard to judge because it is a valid error

[2019-07-01 20:28] cmoone opened #58606 "ImportError: No module named ansible.module_utils.six.moves"
##### SUMMARY
When trying to run gce.py dynamic inventory with `ansible -i gce.py  all -vvvv -m ping` I get an error parsing gce.py

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/contrib/inventory/gce.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/ansible
sudo mv ansible/co

[2019-07-01 21:12] d-little opened #58609 "aix_filesystem.py - fail_json() missing msg="
##### SUMMARY
When passed invalid data, a number of functions in `lib/ansible/modules/system/aix_filesystem.py` are running fail_json() without `msg=` on the error message itself, generating:  `TypeError: exit_json() takes exactly 1 argument (4 given)` when attempting to fail.

ie:
[code]

To fulfil function requirements, kwargs should be:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-07-01 22:33] deepakas commented on #56873
Sorry. I missed the previous message. I tried the option autoa =false and the error is gone.

[2019-07-02 01:40] MyronFanQiu commented on #58601
@elaurijssens Thanks. We will investigate this issue and share any update with you.

[2019-07-02 02:07] Akasurde commented on #58609
@d-little Thanks for reporting this issue. Would you be interested in raising a PR against your findings ? Let me know. Thanks.

[2019-07-02 02:14] jborean93 commented on #58415
This looks like some sort of compatibility issue with Python 3.8.0b1 and running with coverage. I've found that the forked worker process does not start up properly which causes the task queue manager to continually wait until the results are returned. Considering 3.8.0 is still a beta and beta2 is expected soon I will wait until that is released to see if it's an ongoing issue.

To replicate this

[2019-07-02 02:14] jborean93 commented on #58413
Could be related to https://github.com/ansible/ansible/issues/58415#issuecomment-507490414. Will wait until Python 3.8.0b2 is out before trying that out and see if the issue still exists.

[2019-07-02 02:47] rambleraptor commented on #58599
Can you run `ansible --version` and paste it here?

[2019-07-02 03:08] jim5359 commented on #58599
I pasted above:
[code]

[2019-07-02 05:36] meons commented on #58592
ansible 2.8.1

[2019-07-02 05:38] baladevopsconsultant commented on #40637
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "Failed to create a virtual machine : Customization of the guest operating system 'ubuntu64Guest' is not supported in this configuration. Microsoft Vista (TM) and Linux guests with Logical Volume Manager are supported only for recent ESX host and VMware Tools versions. Refer to vCenter documentation for supported configurations.

[2019-07-02 05:42] justjais commented on #50881
@manjeetchauhan211 Thanks for raising your observation, but the issue you mentioned is resolved in `devel` branch in PR #57221 and the fix is also backported to `stable-2.8` and it's queued for `2.8.2` release.

[2019-07-02 07:08] justjais commented on #57840
@kwilczek Thanks for raising the respective issue, having `*_user` modules are on Ansible networking roadmap. I'll update once the feature roadmap is fixed.

[2019-07-02 07:11] justjais commented on #58575
@comshelp Thanks for raising the issue, the issue will be resolved in Ansible `2.9 - ios_l2_interface` resource module. I'll update the issue once it's available in Ansible `2.9`

[2019-07-02 07:21] justjais commented on #58258
@FedericoOlivieri please update the module file with your correct Github username, currently, it's `federico87` which is wrong I suppose.

[2019-07-02 07:24] nicolaibaralmueller commented on #58580
Thanks. I wrote my own windows module for ansible that both initializes and format the drive.

[2019-07-02 07:24] #58580 closed, assigned to nobody

[2019-07-02 07:33] justjais commented on #57711
@mamullen13316 Thanks for raising the issue, have created a PR to fix the issue in `devel` once merged I'll create a backport to fix the issue in `2.8`

[2019-07-02 07:45] pravindmali opened #58619 "Group module not respecting "local: yes""
##### SUMMARY

Trying to to create a local group entry with "local:yes" even if entry exists in the global LDAP directory. Looks like issue is with the group module as its not respecting "local: yes"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

group
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7

##### STEPS TO REPRODUCE

1] system should be member of th

[2019-07-02 07:54] comshelp commented on #58575
Thanks very much justjais.

[2019-07-02 08:15] saito-hideki commented on #58619
Hello, @mkrizek @samdoran @bcoca I confirmed PR #58469. In this case, our customer wants to add a local group even if the same group exists on LDAP.
Is there any chance to add an option like `force_create` to force the creation of a group when users specify `local: yes` to this PR(#58469)?

[2019-07-02 08:21] jsalgado78 commented on #58498
Thanks.
Issue has been resolved

[2019-07-02 08:21] #58498 closed, assigned to nobody

[2019-07-02 09:59] #58054 closed, assigned to nobody

[2019-07-02 10:06] nicolaibaralmueller opened #58624 "multiple entries on roles_path variable in ansible.cfg not used when lookup file"
##### SUMMARY

ansible.cfg setting:
`roles_path    = /etc/ansible/roles:./Roles:./ansible-sub-common/Roles`

[code]

Lookup fails because role_dir variable does not know about ansible-sub-common roles.
I have no problem executing roles though.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

I need to access anoth

[2019-07-02 10:12] guest715 commented on #58056
Hi @justjais, here is the output from that command. Interestingly, I’m encountering the problem on a switch (running IOS-XE) but I tried it on a router (running IOS-XE) and the problem doesn’t occur on the router. I’m going to see if I can try it on a different model of switch.
[code]

[2019-07-02 10:30] intiocean commented on #46126
+1 This is happening to me on Ansible 2.8.1

If I take the command from the error
[code]

And just add quotes around 3 parts (`--rsh`, `--rsync-path` and `--out-format`) and run in manually on the server (server3) it works

[code]

**Details**
Error
[code]

Ansible version
[code]

[2019-07-02 11:01] manjeetchauhan211 commented on #50881
@justjais Thanks for the update

[2019-07-02 11:12] pratikgadiya12 commented on #58370
PR is open for the review :)

[2019-07-02 11:47] Akasurde commented on #57849
@mcasasola Thanks for reporting this feature. Could you please check PR #58627 and let me know if it works for you ? Thanks.

needs_info

[2019-07-02 11:49] Akasurde commented on #57849
resolved_by_pr #58627

[2019-07-02 12:50] FedericoOlivieri commented on #58258
Hi guys. I' ll be on road trip until end of September so I won' t be able to work on this :)

[2019-07-02 12:53] mnecas opened #58629 "filter plugins in collections must be referenced using FQCN"
##### SUMMARY
Hi,
I'm doing ansible collections for ovirt modules and roles and I'm not able to use our filter_plugins.
I have not found anything about filters in docs (https://galaxy.ansible.com/docs/contributing/creating_collections.html) only in mazers docs (https://github.com/ansible/mazer) but still wasnt working.
Im trying to access the filter from one of the roles.

For example modules are

[2019-07-02 13:04] mnecas commented on #58629
##### ANSIBLE VERSION

[code]

[2019-07-02 13:14] nickmturner opened #58630 ""aci_maintenance_group_node" module errors out with "KeyError: 'target_filter'""
##### SUMMARY
Manually editing "aci_maintenance_group_node.py" and replacing all instances of "filter_target" with "target_filter" resolves the error and the play completes successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_maintenance_group_node
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-07-02 13:22] sac commented on #56781
@omarkohl you are right. If the existing bricks are large in number it becomes a lot of overhead. And more importantly, it is error prone.

[2019-07-02 13:42] drombo opened #58632 "use_proxy is documented but never used in uri module"
##### SUMMARY
`use_proxy` is described as module parameter but is never used in the code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`uri` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
all

##### STEPS TO REPRODUCE

We use a corporate proxy, except for the desired host. So i put `use_proxy: no` into the task like this:
[code]

The result was the

[2019-07-02 14:13] mnecas commented on #58629
@machacekondra

[2019-07-02 14:48] trishnaguha commented on #53271
cc @adharshsrivats

[2019-07-02 14:56] sivel commented on #58629
Please see the following:

https://docs.ansible.com/ansible/devel/collections_tech_preview.html
https://github.com/ansible/ansible/tree/devel/test/integration/targets/collections

The first is our documentation, and the 2nd are the integration tests we are using within ansible itself to validate collection functionality.

If you have further questions please stop by IRC or the mailing list:

   *

[2019-07-02 15:08] danilansible commented on #58311
Thank you @n3pjk for the guidance.
Much appreciated.

[2019-07-02 15:15] #58562 closed, assigned to nobody

[2019-07-02 15:18] bcoca commented on #58585
!component =lib/ansible/modules/cloud/azure/__init__.py

[2019-07-02 15:19] gd-ksc commented on #57858
No, I have not set become pass. So far, I've been unable to workaround that prompt via config settings (e.g. `become_ask_pass=False`, etc).  Instead, I've pursued the custom plugin route. For my use case, I've used the sudo become plugin as a reference, changing the `become_exe` and the `become_flags`, as needed. That is workable for my current use case.

[2019-07-02 15:29] cesarjorgemartinez commented on #58453
When is this bug going to be resolved? This is blocking we need to upgrade Ansible to 2.8.x

[2019-07-02 15:38] sivel commented on #58632
Introduced by 677c04c01db614f31e90611df8bf40cd4b7e94f2

Technically the documentation is wrong, but it would be easy enough to make the module support `use_proxy`.

[2019-07-02 16:06] Ansy09 commented on #58478
Thanks Sivel,

This one worked for me. I could fetch the files using the nested loop.

Regards,
Ankith

[2019-07-02 16:27] MarkJB commented on #58511
Verbose output as requested. Ip addresses, file names and computers etc have been changed in the output, and I've removed some of the repeated file results.

https://gist.github.com/MarkJB/b84c8fa5c76e69bdeecaa28b5f8e8f8f

[2019-07-02 17:09] rambleraptor commented on #58599
Are you running the modules on localhost?

[2019-07-02 17:10] ShachafGoldstein commented on #58511
Can you copy the same folder to a new path on the same file server in a volume that is not deduped and test against it?

[2019-07-02 17:28] billdodd commented on #58568
It may be that your `Drive` or `Storage` resources are not correctly registered under your `ComputerSystem` resources. Can you share the contents of your `/redfish/v1/Systems/1` and `/redfish/v1/Systems/1/Storage/NVMeSSD` resources?

[2019-07-02 17:58] coreywan commented on #54727
To whom it may concern,

I ran into the issue. It looks like it was just fixed in this PR, and should be in the next release.

#57518

[2019-07-02 18:29] techwolf359 commented on #50839
This patch fixes it:
[code]

Then change the usage to be:
[code]

[2019-07-02 18:49] #58060 closed, assigned to nobody

[2019-07-02 19:12] bcoca commented on #58587
You can already do this:
[code]

[2019-07-02 19:12] felixfontein commented on #58587
From IRC discussion; I think this should work:
[code]

[2019-07-02 19:15] mhunsber opened #58643 "variable precedence for group loading is unclear"
##### SUMMARY

According to the [Variable Precedence](https://docs.ansible.com/ansible/devel/user_guide/playbooks_variables.html#ansible-variable-precedence) docs:

The wording makes it seem like if I have a host that is a member of a group at depth=1 and a group at depth=2, that the parent/child relationship will be loaded first, and then the alphabetical precedence takes place. When really it se

[2019-07-02 19:17] bcoca commented on #58587
another way, construct it w/o omited
[code]

[2019-07-02 19:26] cans opened #58644 "Module `postgresql_query` cannot cope with identifiers"
##### SUMMARY

The `postgresql_query` module cannot be used with any query that requires an identifier as an argument. Indeed as per the documentation, the underlying python DB API implementation (psycopg2) require a string containing a indentifier to be "annotated" as a psycopg2.sql.Identifier instance. If not the string is systematically surrounded with quotes. It would be nice to be able to do

[2019-07-02 19:37] samdoran opened #58645 "Display default type in docstring when not specified"
##### SUMMARY
When the default argument type was changed to `str`, we did not change the behavior of `ansible-doc` to display `type: str` if no type is specified in the module documentation. Rather than requiring every string parameter be documented as such, we should insert `type: str` if it isn't present for a given parameter in the

Sanity tests may need to be adjusted to allow for omitting `ty

[2019-07-02 19:37] samdoran commented on #58645
cc @bcoca

[2019-07-02 19:41] samdoran commented on #58619
@saito-hideki I'm not sure. That seems like asking for trouble since you'll have duplicate group names with different GIDs.

[2019-07-02 20:11] bcoca commented on #58587
closing as per meeting minutes, several ways to achieve this already exist and only feature missing would be recursive data structure filtering, which would be a reason for a filter, but not putting this in core.

[2019-07-02 20:16] felixfontein commented on #58587
Would be nice if some of the tricks mentioned here could end up somewhere in the docs. I mean in particular the `|reject('equal_to', omit)|list` one. That could improve some people's playbooks/roles significantly.

[2019-07-02 20:29] bcoca commented on #58587
#46979

[2019-07-02 20:29] #58587 closed, assigned to nobody

[2019-07-02 20:34] mattclay commented on #58645
https://github.com/ansible/ansible/pull/56534 was recently added to require documenting type.

[2019-07-02 20:46] winem commented on #17953
Short update:
Started to setup my lab env for this PR tonight. I also thought about the option to add an attribute `namespace` to the interface objects to have all interfaces configured in a single place. This seemed to be a good plan until I came across the ambiguous and conflicting interface names that couldn't be handled this way.

So I will do it exactly as described by @bcoca now.

[2019-07-02 21:18] bcoca commented on #58591
So after reading up on this issue, several of us in core don't think this is a 'fix', the problem exists within the servers and even if we deprecate the current capabilities in Ansilbe, it won't be out until the next release, by that time the issue might already have been mitigated/solved and we'll face the opposite problem.

In the end, nothing in Ansible causes or exacerbates the problem, this i

[2019-07-02 21:18] #58591 closed, assigned to nobody

[2019-07-02 21:24] winem commented on #17953
@bcoca I forgot your comment and you're right.
I set up my lab env to get started with the development tonight and  my first idea was to just add an attribute `namespace` to the interfaces - but this has the potential drawback of conflicting interface names as you already mentioned. So the final implementation will be close to your suggestion.

Do we want to add the IPs to the `ansible_all_ipv4_ad

[2019-07-02 21:24] rambleraptor commented on #58606
Hello! We're encouraging people to use the `gcp_compute` inventory plugin. It's more up-to-date and worked on Ansible's new inventory plugin framework.

close_me

[2019-07-02 21:35] #58606 closed, assigned to nobody

[2019-07-02 21:40] rambleraptor commented on #58599
close_me

[2019-07-02 21:49] #58599 closed, assigned to nobody

[2019-07-02 21:50] s-hertel opened #58650 "unstable ec2_instance integration tests"
##### SUMMARY
Tracker for unstable ec2_instance integration tests. As of #56313 these tests run in CI. Here are a handful of the errors I'm periodically seeing.

https://app.shippable.com/github/ansible/ansible/runs/130541/103/tests

test/integration/targets/ec2_instance/tasks/checkmode_tests.yml:11
[code]
test/integration/targets/ec2_instance/tasks/block_devices.yml:35
[code]

https://app.shippab

[2019-07-02 21:52] rambleraptor commented on #50839
Hello!

Thanks for the patch @techwolf359. Were you also having issues using snapshots before your diff?

[2019-07-02 22:03] jim5359 commented on #58599
The target server does indeed have requests installed.  However, the target server is CentOS 6 and therefore has python 2.6.

[2019-07-02 22:11] jim5359 commented on #58599
I will change my playbook so the file is downloaded locally and then copy the file to the target server.  But this still seems like a bug.  The Artifactory module has no problem downloading files directly on the target servers, even with CentOS 6 and Python 2.6.

[2019-07-02 22:12] rambleraptor commented on #58599
I don't see any reason why the modules shouldn't work on CentOS 6 targets.

I'm not entirely sure if the version of Python that Ansible is using on the target machine is the same version of Python that `requests` has been installed to.

[2019-07-02 22:17] jim5359 commented on #58599
OK, I'll investigate more.  Thanks for the info!

[2019-07-02 22:25] siemsen commented on #56602
We upgraded the IOS in one of the problem Ciscos, and the error message changed. Now, it's a "timeout". We'll investigate that, and open a separate issue if needed. Thanks!

[2019-07-02 22:28] jmehnle commented on #18319
Oh, I think I dropped the ball on actually creating a PR for this. I created it now: https://github.com/ansible/ansible/pull/58652

[2019-07-02 23:34] iridian-ks opened #58654 "k8s inventory plugin fails with force_valid_group_names"
##### SUMMARY

k8s inventory plugin fails when force_valid_groups_names = True

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS, Docker for Mac

Running Ansible in a container

[code]

requirements.txt

[code]

##### STEPS TO REPRODUCE

In ansible.cfg
[code]

inventory/k8s.yaml
[cod

[2019-07-02 23:40] dillongilmore commented on #58654
Just to iterate. It's a large ticket.

I noticed when the force_valid_group_names isn't set to true that I get a deprecation notice so I thought I'd set it to true so I'm ahead of the curve, but it's causing issues with the k8s plugin.

[2019-07-02 23:55] Tomorrow9 commented on #57817
I'll try to reproduce this issue in my env if there is no one else working on it. Thanks.

[2019-07-03 00:09] Tomorrow9 commented on #56863
From the fail message I may know where the problem is. I'll take a look at this. Thanks.

[2019-07-03 01:37] branic commented on #58302
I also think that resizing the filesystem should be an option like it is in the format module. This would be especially useful when `-1` is used to partition the maximum size.

[2019-07-03 04:15] martinRibotDeBressac commented on #15243
this is interesting, with this can you get other variables to become glowbal inside the block (i.e. return {{
wanted_varible }})

[2019-07-03 05:51] JanZerebecki commented on #54996
Not always, I think the intended behaviour is to not warn when the variable is an instance of bool.
https://github.com/ansible/ansible/blob/61ff61cdf6a6cfb749d550a8ea781856dfda73a4/lib/ansible/playbook/conditional.py#L135

[2019-07-03 07:37] FleischKarussel commented on #55551
same here 2.7.11 is fine, 2.8.1 is not

[2019-07-03 07:46] JoyceBabu opened #58662 "ini_file: Custom values for boolean fields"
##### SUMMARY

Allow writing / reading custom values for boolean fields

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ini_file

##### ADDITIONAL INFORMATION
Currently boolean values are converted to `False` / `True`. But not all softwares support `True` / `False` for boolean fields. For example, MySQL and PHP use `On`/`Off` for boolean fields. Also, there may be others that use `Yes`/`No`

[2019-07-03 08:14] MarkJB commented on #58511
The output is from the playbook that results in not showing deduplicated exes.

If I copy some of the files into a local folder or into another folder on the share then the same playbook returns the exes.

[2019-07-03 08:19] MarkJB commented on #58511
I did run the playbook with verbose output with the `patterns: '*.exe'` line commented out so the output more clearly showed that it does find some files, just not the deduplicated ones.

[2019-07-03 08:20] vkkothawale commented on #57827
Hi @Akasurde

we have update ansible with 2.8 and now we are have other issue which we did not see before that with ansible 2.7 can you please check why this causing playbook to file when we run ansible playbook we get below exception

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: __init__() got an unexpected keyword argument 'collectio

[2019-07-03 08:34] jpmens commented on #58662
We would entertain a PR for this

[2019-07-03 08:44] backaf commented on #45298
We're hitting this issue as well. We're migrating from Ansible + PowerShell scripts to create domain users to the win_domain_user.

Our previous PS command was:

`New-ADUser -Name ($FIRSTNAME + " " + $LASTNAME) `
-GivenName $FIRSTNAME `
-Surname $LASTNAME `
-Path $PATH `
-SamAccountName  $USERNAME `
-DisplayName ($FIRSTNAME + " " + $LASTNAME) `
-AccountPassword (ConvertTo-SecureString $PASSWORD -A

[2019-07-03 08:57] Andersson007 commented on #58644
@cans , thank you for your feedback!
I'll take a look at it in detail ASAP

[2019-07-03 10:17] nicolaibaralmueller commented on #54784
Same error here and it happens randomly after using win_reboot.
The connection is picked up and some tasks run and the the below error.

`{
    "msg": "Unexpected failure during module execution.",
    "exception": "Traceback (most recent call last):\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\", line 144, in run\n    res = self._execute()\n  File \"/usr/lib/python

[2019-07-03 11:05] swamikevala commented on #49340
The existing functionality is is actually useful behavior in my case

My config file has the following lines:

# You MUST edit this and set it to the IP address of the server that clients connect to
#java.rmi.server.hostname = 192.169.123.111

So the option is matched and replaced as required. If it did not match commented options, then it wouldn't find the option, and since this particular config

[2019-07-03 12:23] didot commented on #50243
Thumbs up on having either OS_CLOUD override the only_clouds parameters, or having a command line argument for overriding the only_cloud.

In our workflow we have many different OpenStack "clouds" sharing the same inventory, but having different lifecycle. Today we use the "old" openstack_inventory.py script from the contrib folder, and tune the target cloud with the OS_CLOUD variable, which we ca

[2019-07-03 13:32] PulsatingQuasar commented on #55551
Yes, this is still an issue. Please fix!

[2019-07-03 13:39] Thulium-Drake opened #58671 "os_port: setting device_id does not attach the port to an instance"
##### SUMMARY

In my scenario I have an already existing system in Openstack and I want to connect it to a newly created network. From what I found out so far is that one needs to have the following parts:

* Instance as created by ```os_server```
* Network as created by ```os_network```
* Port as created by ```os_port```

I am able to attach the created port via the Horizon interface to my pre-ex

[2019-07-03 13:39] eschweighofer commented on #31543
workaround is to set some fact in rescue: and the execute the meta: end_play in always when the fact is set.

rescue:
  - set_fact:
      fatal_error: true

always:
  - meta: end_play
    when: "fatal_error is defined and fatal_error"

[2019-07-03 14:07] GrandeTartine commented on #55551
I don't really understand why this bug was merge in stable release despite the fact it was found in a beta one and report 1 month before the stable release.
Is there any sort of test or validation concerning community plugins?

[2019-07-03 14:34] iTaybb commented on #34144
Happens here as well (version 2.8.0).

[2019-07-03 14:38] Akasurde commented on #55551
@GrandeTartine We are testing and validating everything before merging modules and changes. VMware modules are community supported and requires community reviews and testing. Due to lack to hardware I am not able to reproduce this issue on my setup which is keeping me away from fixing this.

I would be more than happy to help to debug and fix this issue. Thanks.

[2019-07-03 14:40] edonadei commented on #50585
Having the issue with a windows host with chdir arg

[code]

[code]

[2019-07-03 14:44] DerrickTJ commented on #58630
The module does fail for me, however, your proposed fix is not working in my testing.

There are only two instances of filter_target and replacing them just changes the error to the object not being found.

I would recommend you do a PR request with your version that is not failing to avoid any kind of mix up so we can properly test.

[2019-07-03 14:52] athimm opened #58673 "k8s module does not create namespaces/projects due to "cannot get namespaces in the namespace ...""
##### SUMMARY
On an OpenShift 3.11 cluster a user is allowed to list and create projects via the oc CLI, e.g.
oc projects
oc new-project testing

We are trying to map this to k8s, with the following task:
[code]
(also tried w/o "namespace: testing")
This fails with
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2019-07-03 15:00] mrobson commented on #49275
Would be very helpful! Was originally reported here a long time ago: https://github.com/ansible/ansible/issues/19750

[2019-07-03 15:19] ShachafGoldstein commented on #50585
@edonadei - What version are you running?

in devel it seems OK
https://github.com/ansible/ansible/blob/16d6fcf5148e2a527f5c6e2603490a2e79500a91/lib/ansible/plugins/action/script.py#L69

[2019-07-03 15:20] GrandeTartine commented on #55551
Happy to read that, @Akasurde. Do you need more informations than what I already provided at the beginning of the issue ? How can I help you to fix this bug ?

[2019-07-03 15:21] tbaschak commented on #58473
This looks related to issue #11905, where it appears this is a long-standing bug that many people have run into.

[2019-07-03 15:25] clydet commented on #47898
+1

[2019-07-03 15:46] Akasurde commented on #55551
@GrandeTartine You can debug the issue more and try to provide fix so that others can get help. Let me know if you need any help. Meanwhile I will try to reproduce this error on my setup. Thanks.

[2019-07-03 16:01] GrandeTartine commented on #55551
@Akasurde I don't know what I can do. I already identified when exactly the problem occur and when it's not (when you specify the datastore outside of the disk list for example (https://github.com/ansible/ansible/issues/55551#issuecomment-484873844)).

Also a workaround was proposed: clone the vm and then modify the disks in another tasks.

And sadly, I don't have enough python skills to propose a

[2019-07-03 16:13] fabianvf commented on #58673
You shouldn't supply the `namespace` parameter unless you are created namespaced resources, if you remove the `namespace` parameter it should work fine. We should probably throw a more clear error before we attempt to make the request though, since we can know it won't work .

[2019-07-03 16:22] FraserMCampbell opened #58679 "acl module claims to support NFSv4 ACLs but does not"
##### SUMMARY

The acl modules claims to support NFSv4 ACLs.  There is the parameter use_nfsv4_acls.

When I set the use_nfsv4_acls parameter to yes it does not attempt to use NFSv4 ACLs at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Any Linux OS as target, issue is the same regardless of target

[2019-07-03 16:26] stxyang commented on #36028
if reporter used emacs to edit the module,, i suppose the root cause is: emacs temp filename with surfix ~.
See my evidence:
ansible should use "exclude_scaling_in_vms_from_json.py" but chose "exclude_scaling_in_vms_from_json.py~". So it looks like "caching" an "old" version.

<localhost> PUT /home/genuser/.ansible/tmp/ansible-local-3011RhkBo4/tmptKnYCM TO /home/genuser/.ansible/tmp/ansible-tmp-15

[2019-07-03 16:35] m3300b commented on #57817
getting similar behavior, though without specifying persistent disk_mode for cloned vm.
with ansible 2.7.8, cloning from template and disk resize works like a charm.

with the below it fails with:
`
" Failed to create a virtual machine : Cannot complete the operation because the file or folder /vmfs/XXX.vmdk already exists"
`
`ansible 2.8.1
  config file = /home/matm300b/work/talend/ansible.cfg

[2019-07-03 16:37] nagonzalez commented on #55551
Are you suggesting debugging using something like this?
https://docs.ansible.com/ansible/latest/dev_guide/debugging.html

[2019-07-03 16:41] teadur commented on #37007
Any updates on this, would love to deploy vm's from content library templates with Ansible ?

[2019-07-03 16:43] ShachafGoldstein commented on #58511
Ok found the issue, deduped files have  SparseFile, ReparsePoint in their attributes
https://github.com/ansible/ansible/blob/737dbefd78cab9a4cad8ea32237fe9fc88798258/lib/ansible/modules/windows/win_find.ps1#L244-L254

[2019-07-03 16:51] ShachafGoldstein commented on #58511
can you test https://github.com/ansible/ansible/pull/58680?

[2019-07-03 17:09] skk1525 commented on #35373
ISSUE TYPE
Bug Report

COMPONENT NAME
hpilo_boot  module

ansible 2.7.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/u1/skamma/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Mar 26 2019, 22:13:06

[2019-07-03 17:11] skk1525 opened #58682 "hpilo_boot module failing with ansible 2.7 and RHEL 7.6"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`hpilo_boot.py`

##### OS / ENVIRONMENT
ansible 2.7.1
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/u1/skamma/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /usr/bin/ansible
python version = 2.7.5 (default,

[2019-07-03 17:14] m3300b commented on #57817
removing the fileOperation seems to do the trick under Asnible 2.8.1 vmware_guest.py:
[code]

[2019-07-03 17:23] axelthimm commented on #58673
Thanks for the fast reply! Originally I hadn't the namespace parameter, both variants fail in the same way. Here is a minimal playbook that fails w/o the namespace set:
[code]
(contents of site2.yml)
[code]

[2019-07-03 18:31] Jaland commented on #10374
Would still like this

[2019-07-03 18:39] #41020 closed, assigned to nobody

[2019-07-03 18:41] seblu commented on #49340
In the reported case, it even matches commented lines which doesn't look like key/value assignation (not including an equal sign).

An ini comment is a free form of text and what's inside is not expected to be parsed. When we match a line which looks like a commented option, we don't know if it's an value to keep (like a previous value, optional examples, the default parameter value) or a placehol

[2019-07-03 18:49] samccann opened #58687 "Evaluate top 10 docsite page hits to improve overall flow of content"
##### SUMMARY

Based on docsite hits for the past quarter - review the top ten documentation pages to look for possible improvements to the most popular material.

Based on report on May 2022, the top pages are:

1. https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html
2. https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html
3. https://docs.ansibl

[2019-07-03 19:03] tomwassenberg opened #58688 "Don't skip file validation in copy/template modules when in Check Mode"
##### SUMMARY
The command passed with the `validate` parameter in file-related modules should _also_ be run when the context is in Check Mode. Currently, it is skipped then.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
copy (and other file-related modules)
##### ADDITIONAL INFORMATION

There is a `validate` parameter present in modules like `copy` and `template`. However, this validation

[2019-07-03 21:05] sivel commented on #15892
There have been many options shown above that work as expected.

Closing per above.

[2019-07-03 21:05] #15892 closed, assigned to nobody

[2019-07-03 21:35] #32910 closed, assigned to nobody

[2019-07-03 22:00] bcoca commented on #58645
@mattclay that is what we discussed at meeting and we are changing the check while making the default part of what we display

[2019-07-03 22:24] tishma commented on #34316
I'm defaulting to shell/tar, as #34659 seems stale for too long...

[2019-07-03 22:35] kai2nenobu opened #58691 "win_get_url doesn't use the proxy even if proxy_url is specified"
##### SUMMARY

`win_get_url` doesn't use the proxy even if `proxy_url` is specified. Therefore, if I execute a `win_get_url` task under a proxy restricted network, it fails with 407 error (Proxy Authentication Required).

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

win_get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine is Ubuntu 1

[2019-07-03 22:36] cdwchriburg commented on #52926
I've seen this same issue in Ansible 2.8.  Any updates on resolution?

Was planning to leverage this function as an alternative to the more crude "wait_for" probing the SSH port on a router that is being rebooted to know when it is back online & the playbook can resume the next steps.  This "wait_for_connection" function is required to perform a similar function when working through a bastion/jump

[2019-07-03 22:44] kai2nenobu commented on #58691
After some debug, I noticed `win_get_url.ps1` refers a non-existent variable. I modified `win_get_url.ps1` as below, and `win_get_url` works as I expected.

[code]

Execution result is like this.

[code]

[2019-07-03 23:08] geekofalltrades commented on #54790
This is still broken for me in 2.8.2.

Test playbook:
[code]

[code]

[2019-07-03 23:18] willthames commented on #58673
@axelthimm that's an RBAC issue, not an ansible issue

`"message":"namespaces \"testing\" is forbidden: User \"XXX@YYY\" cannot get namespaces in the namespace \"testing\": no RBAC policy matched"`

[2019-07-03 23:19] willthames commented on #58673
The k8s module will check whether a namespace exists before creating one, so it needs `get` permission as well as `create`

[2019-07-03 23:31] jborean93 commented on #58691
@kai2nenobu can you create a PR with your changes, seems like an easy fix.

[2019-07-04 01:35] rlaager commented on #43594
The module never passes `login_unix_socket` to `mysql_connect`:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/mysql/mysql_db.py#L337

[2019-07-04 01:51] A-BenMao opened #58695 "hosts file group:vars loading logic"
##### SUMMARY
hosts file group:vars  loading logic is error!
##### COMPONENT NAME
hosts  group vars
lib/ansible/vars/hostvars.py
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

##### STEPS TO REPRODUCE

**hosts file:**
[code]
**yml file:**
[code]

The commend  **ansible-playbook quxy.yml -v -e "host=host1"** output is
##### ACTUAL RESULTS

##### EXPECTED RESULTS
- the var of host1'app_port is

[2019-07-04 02:06] MyronFanQiu commented on #58624
@nicolaibaralmueller Hello. I want to confirm, is this a bug report for the azure_rm_virtualmachine module? Could you share the full playbook file so that we can better know the context.

[2019-07-04 02:33] Akasurde commented on #37007
@teadur @pgbidkar is working on this and submitted PR - https://github.com/ansible/ansible/pull/58666

[2019-07-04 04:02] lbin9441008 opened #58698 "Encounter PermissionDenied error when running Ansible "win_dns_record" module"
I need to use Ansible code to manage DNS records. I have a domain service account (mydomain\svc_aaap) doing both actions. The user in question has DNS Admin rights in Active Directory.  I have been getting the following errors when creating a server alias on DNS server "dnsserver.mydomain.local" by connecting to the Ansible Node -  Windows server 192.1.1.67 (defined in inventory file as shown belo

[2019-07-04 04:30] lbin9441008 opened #58700 "Encounter PermissionDenied error when running Ansible "win_dns_record" module"
##### SUMMARY

I need to use Ansible code to manage DNS records. I have a domain service account (mydomain\svc_aaap) doing both actions. The user in question has DNS Admin rights in Active Directory. I have been getting the following errors when creating a server alias on DNS server "dnsserver.mydomain.local" by connecting to the Ansible Node - Windows server 192.1.1.67 (defined in inventory file

[2019-07-04 04:31] #58698 closed, assigned to nobody

[2019-07-04 04:53] axelthimm commented on #58673
@willthames, I also suspected that k8s creation process involves querying first then creating. I'm not sure that is the full picture as "oc projects" that lists the namespaces does work. Probably the query methods of k8s and "oc projects" must differ in some significant way to have this distinction.

Although I'm not a fan of the RBAC model used in the specific case, it does work for oc CLI, helm

[2019-07-04 05:12] ShachafGoldstein commented on #58700
Have you tried using become instead of using the user as the connection user?
Since you are using ntlm there should not be a double hop issue like kerberos but maybe you blocked ntlm in your ad somehow.

In any case, I believe a test using become should allow for more info

[2019-07-04 05:17] willthames commented on #58673
Actually there should be no need to check for namespaces in a namespace - that's nonsense, so we might be doing the wrong thing.

[2019-07-04 05:22] lbin9441008 commented on #58700
Thanks Shachaf for your suggestion.

I did try using "--become-user", but nothing change. please see below for details,

[code]

[2019-07-04 05:25] pgbidkar commented on #37007
Thanks Anhijeet.
Hi @teadur , I have created PR for 2 use cases of content library. In Weeks time I will create new module for your use case. I have closed https://github.com/ansible/ansible/pull/58666, 2 modules are not allowed in single commit. I will create new ones for both

Thanks

[2019-07-04 05:31] jborean93 commented on #58700
@ShachafGoldstein as an FYI `ntlm` is suceptible to the double hop issue, the only auth protocols that can bypass this is either `credssp` or `kerberos` with `ansible_winrm_kerberos_delegation: true` set. Become is designed to bypass that for all scenarios though.

[2019-07-04 05:52] Fred-sun commented on #58585
@nicolaibaralmueller Thanks for your open this issue for the new feature!

[2019-07-04 05:54] Fred-sun commented on #58585
@zikalino @yungezz @MyronFanQiu Could you help take a look this issue when you're free? Thanks a lot!

[2019-07-04 06:07] Fred-sun commented on #58624
@nicolaibaralmueller Anyway, Is it because the variable you defined is different from the variable name you used( 'roles_path' --> 'roles_dir'), Please confirm! Thank you very much!

[2019-07-04 06:13] Fred-sun commented on #54440
kindly ping,
Already add in ansible2.9.0devel0, advice closed!

[2019-07-04 06:21] urskog84 opened #58708 "nios_fixed_address don't remove or update object"
##### SUMMARY
nios_fixed_address don't remove or update object
- if i use the absent key the module don't remove the object.
- if a run the playbook twice i get an error.
` MAC address 08:6d:41:e8:fd:e8 is used in two fixed addresses 192.168.10.1 and 192.168.10.1, which are in the same network 192.168.10.0/24.`
- if a update the object. ex: comment i get the same error

##### ISSUE TYPE
- Bug Repo

[2019-07-04 06:26] Andersson007 opened #58709 "Disabled integration test azure_rm_gallery"
##### SUMMARY
The ```azure_rm_gallery``` integration tests have been disabled by [#58672](https://github.com/ansible/ansible/pull/58672).

Possible reasons [#58576](https://github.com/ansible/ansible/pull/58576)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_gallery

##### ANSIBLE VERSION
devel

##### STEPS TO REPRODUCE
The tests fail all the time, e.g., in https://github.com/ansibl

[2019-07-04 06:26] Andersson007 commented on #58709
@mattclay @zikalino

[2019-07-04 07:03] TimRuhl opened #58710 "Casting a default variable to boolean gives incorrect result"
##### SUMMARY
When we define a boolean variable in defaults/main.yml and use this variable in the when condition of a task step we get different results depending on whether the variable is cast to boolean (with |bool) or not.  The casted result is incorrect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Boolean variables defined in default and used in when condition

##### ANSIBLE VERSION

[2019-07-04 07:15] r1k0 commented on #57131
same exact issue for ios_config using 2.8.0 on RH (upgraded last weekend) no issues with 2.7.5

[code]

[2019-07-04 07:23] edonadei commented on #50585
I'm running version 7.1 Ansible

[code]

[2019-07-04 07:37] PulsatingQuasar commented on #55551
The issue isn't resolved for me with the workaround. The issue seems to be for me that the second and third disk after cloning get the same name as the first one after which it obviously fails.

Cannot complete the operation because the file or folder /vmfs/volumes/5c3754ae-b7dbac6c-b5fe-b883034d5598/W2K16-T190703/W2K16-T190703.vmdk already exists

[2019-07-04 07:59] pitthecat opened #58713 "Awkward sorting of IP adresses when using aws_ec2 – EC2 inventory source"
##### SUMMARY
The aws_ec2 has a very awkward way to sort the output list when using ip addresses as hostnames

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/aws_ec2.py

https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html aws_ec2 – EC2 inventory source

##### ANSIBLE VERSION
2.8.X

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE
[code

[2019-07-04 08:01] ShachafGoldstein commented on #50585
Please try 2.8+

[2019-07-04 08:05] justjais commented on #57711
@mamullen13316 PR is merged in `devel` and queued for `2.9` release, also have created backported in `stable-2.8` once merged it'll be available in 2.8 future release. So, closing the bug.

[2019-07-04 08:05] #57711 closed, assigned to nobody

[2019-07-04 08:07] jborean93 commented on #50585
Newer versions of 2.7 and 2.8 will not traceback like you see now but setting `chdir` for `script` on Windows still does not do anything for now.

[2019-07-04 08:12] pitthecat commented on #58713
!component = lib/ansible/plugins/inventory/aws_ec2.py

[2019-07-04 08:27] rthill commented on #55551
Could someone please provide debugging information, I am able to run the vmware_guest module and reproduce the error using `python -m pdb ./my_new_test_module.py ./args.json`
What do you require to run?

[2019-07-04 08:29] mnecas commented on #58629
@sivel Hi after some testing I found that filters are not working when using the variable collections to import whole collection. I need to specify the collection at the filter to get it working
`
---
- name: test
  hosts: localhost
  connection: local
  collections:
   - namespace.name
  tasks:
# Works
    - debug:
        msg: '{{ "var" | namespace.name.filter }}'

# Does not work
    - debug:

[2019-07-04 08:30] neilalexander opened #58714 "PSRP documentation has wrong parameter name"
##### SUMMARY

The [PSRP documentation](https://docs.ansible.com/ansible/latest/plugins/connection/psrp.html) mentions `ansible_psrp_connection_backoff` but this seems to be incorrect. The code appears to refer to `ansible_psrp_reconnection_backoff` instead (`reconnection` vs `connection`).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

PSRP
lib/ansible/plugins/connection/psrp.py

[2019-07-04 08:44] ephracis opened #58715 "Not possible to create CA certificate with openssl_certificate"
##### SUMMARY
It is not possible to use Ansible's OpenSSL modules to generate a CA certificate.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssl_certificate

##### ADDITIONAL INFORMATION
Given the following three tasks:

[code]

I get a certificate that is missing the proper CA constraint (even though it was specified in the CSR) and all certificates signed by this CA will be rejecte

[2019-07-04 08:48] ephracis commented on #58715
Oops. Turns out it works as expected. Ignore this.

[2019-07-04 08:48] #58715 closed, assigned to nobody

[2019-07-04 08:56] PulsatingQuasar commented on #55551
If 1 compare vmware_guest module between 2.7 and 2.8 is see that in the function create_scsi_disk this line is missing in 2.8

diskspec.fileOperation = vim.vm.device.VirtualDeviceSpec.FileOperation.create

[2019-07-04 09:06] nickbroon commented on #24864
A jenkins plugin management library has been announced that might might help with this problem.
See: https://jenkins.io/blog/2019/07/02/plugin-management-tool-alpha-release/ and https://github.com/jenkinsci/plugin-installation-manager-tool which looks to address https://issues.jenkins-ci.org/browse/JENKINS-53767

[2019-07-04 09:14] lokly opened #58719 "Module zabbix_action does not contain "Notify all involved""
#### SUMMARY
The module zabbix_action does not contain the Zabbix operation "Notify all involved", that can be selected in the section "Recovery operations" and "Update operations".

#### ISSUE TYPE
Feature Request

#### COMPONENT NAME
lib/ansible/modules/monitoring/zabbix/zabbix_action.py

#### ANSIBLE VERSION
2.8.1

[2019-07-04 09:16] nicolaibaralmueller opened #58721 "VMware: vmware_guest throws vmdk already exists"
##### SUMMARY

vmware_guest throws error that vmdk already exists although it does not. It is created during running the module but somehow fails.

pyvmomi-6.7.1.2018.12

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should just create the VM.

##### ACTUAL RESULTS

[code]

[2019-07-04 09:30] rthill commented on #55551
@PulsatingQuasar this is something I did modify already in 2.8, but did not change the behavior.

[2019-07-04 09:40] willthames commented on #58673
Ok, that is just the standard error if you don't have `get` permissions on `namespaces`:

[code]

The k8s module relies on getting the existing thing before modifying for a number of reasons:
* It doesn't even try to create/update resources if the resource is in the desired state
* If it does change a resource, it returns the diff against the previously existing resource

Feel free to create patch

[2019-07-04 09:47] markocelan commented on #29366
@X-dark I've hit the same issue. So I created a simple module that enables me to do what you need. Take a look at https://github.com/markocelan/ansible-modules/tree/master/s3_tag

I'd welcome your feedback!

[2019-07-04 09:52] nicolaibaralmueller commented on #58624
@Fred-sun @MyronFanQiu

I explained the issue wrong.

I have the following directory structure:

Inventory
Modules
Playbooks
Roles

ansible-sub-common is a sub git repository.

Now I want to lookup a file inside ansible-sub-common/Roles

The special variables role_path and playbook_dir cannot be used.

I also tried:

key_data: "{{ lookup('file', '../ansible-sub-common/Roles/devops-linux-user/files

[2019-07-04 09:55] nicolaibaralmueller commented on #58585
I tried using the module azure_rm_deployment and generate sas token via an ARM template but did not succeed.
Python examples is also very hard to find.

Easy to use powershell or azure-cli but a module would be prefered.

[2019-07-04 10:50] PulsatingQuasar commented on #55551
Check! Also did the following.

Additionally I commented the following lines in the function configure_disks

#            if 'filename' in expected_disk_spec and expected_disk_spec['filename'] is not None:
#                self.add_existing_vmdk(vm_obj, expected_disk_spec, diskspec, scsi_ctl)
#                continue
#            elif vm_obj is None or self.params['template']:
#                #

[2019-07-04 11:23] bartlabno commented on #54790
It looks like release 2.8 contains changes from 9th March, so changes were never applied into any new stable release. Can someone please fix that?

[2019-07-04 11:25] zerok commented on #12480
Thanks :) Will do that then :)

[2019-07-04 11:25] MarkJB commented on #58511
Thanks, that works but took ~37s vs ~3s without the fix.

The results show all the expected files:

[code]

[2019-07-04 11:39] ShachafGoldstein commented on #58511
I believe it's because more data needs to come back to in the connection

[2019-07-04 11:55] MarkJB commented on #58511
I copied the files to another share (without dedupe) and its still ~40 seconds.
Copied the same files to the hosts local disk and its taking about 12 seconds.

[2019-07-04 12:07] palmerc opened #58723 "Xcode crashes when run as ansible created user"
##### SUMMARY
Creating a basic user through ansible on a macOS system results in a partially unusable user account. Deleting the user and recreating it using the GUI User tool results in a working user.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS Mojave 10.14.5

##### STEPS TO REPRODUCE
[code]

##

[2019-07-04 12:09] s-hertel commented on #29366
For Ansible to incorporate this feature, I'd suggest adding a new boolean option (`purge_tags`) to the s3_bucket module. The option should default to True, so the current behavior is maintained. https://docs.ansible.com/ansible/devel/dev_guide/platforms/aws_guidelines.html#dealing-with-tags

[2019-07-04 12:15] puchalakd opened #58724 "ansible_distribution_version fact is not reporting all information on Debian systems"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Fact ansible_distribution_version is reporting only part of information on Debian managed hosts. It report only major version.
$ ansible -m setup debian.puchalak.net | grep ansible_distribution_version
        "ansible_distribution_version": "9",

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-07-04 12:17] s-hertel commented on #54790
Closed tickets aren't actively monitored so IRC or opening a new ticket are more likely to resolve a problem quickly. The fix was merged for 2.9 and I've opened a [backport PR](#58722) for the next minor 2.8 release. There's also a backport process documented [here](https://docs.ansible.com/ansible/latest/community/development_process.html#backporting-merged-prs) if a patch you need is only on dev

[2019-07-04 12:50] devkobi opened #58728 "'gather_subset' setting in ansible.cfg and ansible/roles are ignored"
##### SUMMARY
'gather_subset' setting in ansible.cfg and ansible/roles are ignored

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fact gathering

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
gather_subset setting should be loaded from ansible.cfg or within role if set.

##### ACTUAL RESULTS
ga

[2019-07-04 12:50] andyeff opened #58729 "Azure Virtual Machine and VM fact modules - difficulties with Availability Zone support"
##### SUMMARY

When querying an Azure virtual machine that is in an availability zone with the azure_rm_virtualmachine_facts module, the returned facts do not include the availability zone data.

Additionally, when trying to shut down or start an Azure virtual machine using the azure_rm_virtualmachine module, the module will fail unless the availability zone is also passed as a parameter - it look

[2019-07-04 13:01] ShachafGoldstein commented on #58511
Sounds like network latency to me...

[2019-07-04 13:05] mshkrebtan commented on #54406
I'm also experiencing issues with this plugin.

Here is my inventory file:
[code]

Although I set the `GCP_SERVICE_ACCOUNT_FILE` variable, I still get the error message:
[code]