[2019-08-02 08:13] Fred-sun commented on #59916
@MyronFanQiu Can you confirm whether the above reply is correct? Thank you very much!

[2019-08-02 08:46] loop-evgeny commented on #56930
OK, this is good to know, thanks for the clarification. However, the user experience *really* needs to be improved. You have the "curse of knowledge". Just try to imagine yourselves in the shoes of a *user* who sees this:

user configurable on deprecation. This feature will be removed in version 2.10. Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.

That

[2019-08-02 08:47] eseyman opened #59968 "make package_facts work on AIX client"
##### SUMMARY
The package_facts module does not work on AIX clients.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

package_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'm running this module on a AIX 7.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible should return the output of `lslpp -L all` in json forma

[2019-08-02 08:54] Richard-Payne commented on #47707
8 months down line, has anything come of this?

[2019-08-02 09:05] kaidoki opened #59970 "vmware_vspan_session.py - does not accept multiple VLAN IDs"
##### SUMMARY
When mirror session type is "remoteMirrorDest" it supposed to accept source VLAN IDs for parameter "source_port_received". But it only accepts a single VLAN ID, not a list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vspan_session.py

##### ANSIBLE VERSION
``
ansible 2.8.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/bart/.ansibl

[2019-08-02 09:43] Vladimir-csp commented on #59017
I wonder if there are other places in ansible where templating (and get_vars() within it) is called 'just because'. I have a feeling that testing for existence of `{{` or `{%` in strings in other places (and skipping templating if false) could potentially speed up things considerably.

[2019-08-02 09:47] felixfontein opened #59972 "openssl_certificate: deprecate assertonly provider"
##### SUMMARY
During some discussions over the last half year or so, we've discussed deprecating the `assertonly` provider and replacing it with `_info` modules + assert statements, or possibly more `_info` / other modules.

I want to use this issue to track what can already be replaced with `openssl_certificate_info` + `assert`, and what still needs features (or new modules).

I hope I listed eve

[2019-08-02 09:50] ramilehti commented on #56930
Having dashes and dots be invalid in group-names is not a sensible default. People will always have them in their group names. To require them to set yet another variable in a config file to enable sensible behaviour is IMHO indefensible.

[2019-08-02 09:57] ssbarnea opened #59973 "Ansible inventory returns invalid JSON when verbosity is active"
##### SUMMARY
Because there are display lines that do not use `stderr`, when you call ansible inventory

Shortly, output of `ansible-inventory -v --list` is not a valid JSON because it will start with something like:
[code]

The bug is caused by lack of `stderr=True` on the two calls from https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/__init__.py#L85-L87

There may also be other cas

[2019-08-02 10:08] rubentsirunyan commented on #58719
Hi @lokly. Both acknowledge and recovery operations have a `notify_all_involved` option.
https://github.com/ansible/ansible/blob/b8473276455cbeb49629b502f1f163be0c7eb45a/lib/ansible/modules/monitoring/zabbix/zabbix_action.py#L1219-L1249
The problem is that it is not stated in the documentation.

[2019-08-02 10:35] elaurijssens commented on #56634
Seeing this issue as well. I'd like to extend my tagging strategy but that's currently impossible.

[2019-08-02 10:35] dbevacqua commented on #59642
Hi @jimi-c

Unfortunately I'm not sure that will fix the issue. I think it might be worth clarifying what the sequence of events is and where things are happening.

1. ansible creates results thread (backed by a kernel task, say T1) and calls `join()`
2. `join()` returns, but (on Linux with glibc at least) the underlying LWP T1 continues to run in the background. I _think_ this behaviour is allowe

[2019-08-02 10:55] Akasurde commented on #59438
@duck-rh Could you please check if #59974 works for you and let me know ? Thanks.

[2019-08-02 11:48] BijanJohn commented on #56786
Having the same issue here, would love to see this fixed for us with larger inventories.

[2019-08-02 11:49] colorchestra opened #59976 "gitlab_runner module: Misleading deprecation warnings in Ansible 2.8"
##### SUMMARY
The gitlab_runner module throws deprecation warnings for an option I don't use and another option that is not actually deprecated

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

'gitlab_runner' module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target: Debian Buster, freshly installed. Kernel 4.19.0-5-amd64, Python versions 2.7.16 and 3.

[2019-08-02 12:09] Andersson007 commented on #59955
@mullaiarasu , i've checked it.
If I understood you correctly you tried to do something like the playbook below (got from private email from you to me):
[code]
The best way to pass arrays/json/etc. is just to use quotes and bracers inside them, e.g.:
[code]
it works well.
when we pass ```- 1,2,3``` it is not a list, it's presented as a string '1,2,3' (converted by Ansible itself, not by this modul

[2019-08-02 12:10] Tronde commented on #56930
Thanks @bcoca for your [comment](https://github.com/ansible/ansible/issues/56930#issuecomment-516863432) above. It's much appreciated.

For the topic of this issue I would like to find the following information in the official documentation and the porting guides, to be aware of this change.

 * What are group names that are valid by default?
 * What to do to keep using group names including dashe

[2019-08-02 12:10] Andersson007 commented on #59955
needs_info

[2019-08-02 12:23] lucasbasquerotto commented on #22417
@DylanYoung I had a PR closed in this repository (for a [callback plugin](https://github.com/ansible/ansible/pull/58362), although at least I can use it as a custom callback plugin) and agree with you that having a pull request ignored or closed makes me unwilling to make new PRs (because there was time spent in creating it), although that's not exclusive to Ansible and it's good to keep in mind t

[2019-08-02 12:27] Andersson007 commented on #59955
I added an example to the module documentation https://github.com/ansible/ansible/pull/59979

[2019-08-02 12:31] octohedron commented on #59573
I had the same problem, and noticed that the network and subsequently firewall rules for the `test-vm` were wrong
![fw-rules-test-vm](https://user-images.githubusercontent.com/7332540/62368793-f29c5c00-b52d-11e9-9f10-c0b2f9b4f858.png)
This is a working VM for comparison
![firewall-rules-healthy](https://user-images.githubusercontent.com/7332540/62368816-02b43b80-b52e-11e9-97b6-d2de2db721bd.png)

A

[2019-08-02 12:40] ssaammoo commented on #34281
any plans for this one ?

[2019-08-02 12:58] ssbarnea commented on #56930
I want to thanks to all contributors on this issue. Based on what I read here I decided to write a blog post https://docs.sbarnea.com/ansible/naming-hosts-and-groups -- Hopefully it would summarize what users need to do.

[2019-08-02 13:18] bcoca commented on #59973
You can use this setting to avoid that problem https://docs.ansible.com/ansible/latest/reference_appendices/config.html#verbose-to-stderr

[2019-08-02 13:37] codyhackw commented on #55722
@justjais apologies on the delay, was waiting for support on our side to test the PR, but not looking like we can do that in our environment. Based on the suggestion from @krisvasudevan though, that would be perfect for this and any other options having the same issue.

[2019-08-02 13:40] samdoran commented on #46362
@felixfontein No, I am not actively working on that module.

[2019-08-02 13:40] ogmueller commented on #43708
but I cannot find "bind" in `/etc/mtab` nor in `/proc/mounts`

[code]

[2019-08-02 13:45] ssbarnea commented on #59973
@bcoca I cannot use verbose-to-stderr because it was added only on 2.8. Molecule supports the standard N-2 range, which means that this could fix only 2.8, but not 2.6 and 2.7.

[2019-08-02 13:52] calix commented on #32872
Have the same issue. Anything new on this?

[2019-08-02 14:01] bcoca commented on #59973
I don't have a solution that would not break other things, your workaround of disabling verbosity is the only other way to prevent the mix into stdout

[2019-08-02 14:43] tstuber commented on #25068
For a one time execution, you can add the parameter during the playbook execution (`ansible-playbook <your playbook> --fork 1`).
You can also set the fork in the ansible config or as environment variable (see [here](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings))

[2019-08-02 14:46] sivel commented on #43708
And what about running the `findmnt` command?

needs_info

[2019-08-02 15:09] samdoran commented on #33893
Logging in Ansible does need to be reworked and improved. Closing as a proposal is the appropriate place to discuss this major change. We do have an existing proposal but feel free to open another.

https://github.com/ansible/proposals/issues/33

[2019-08-02 15:09] #33893 closed, assigned to nobody

[2019-08-02 15:10] samdoran commented on #33905
!component =lib/ansible/modules/cloud/openstack

[2019-08-02 15:10] #59691 closed, assigned to nobody

[2019-08-02 15:11] #42054 closed, assigned to nobody

[2019-08-02 15:13] felixfontein commented on #42054
This will be available in Ansible 2.9, [currently scheduled](https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_9.html#expected) for mid October 2019.

[2019-08-02 15:18] samdoran commented on #33914
We have no plans to implement this feature at this time. Adding a global option that adds `environment` to each task/play is problematic because not all connection plugins support environment variables (among other problems).

Setting environment at the play/task is the best way to set the proxy value. You can use inventory variables to have be dynamic.

To discuss this further, please reach out o

[2019-08-02 15:18] #33914 closed, assigned to nobody

[2019-08-02 15:20] samdoran commented on #34403
We have no plans to create a module to generate keys or manage `ssh-agent` at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-08-02 15:20] #34403 closed, assigned to nobody

[2019-08-02 15:23] nitzmahone commented on #34444
2.8's Python interpreter discovery should *mostly* address this one, and since there are other legit reasons to switch to `connection: local`, we're not thrilled about the idea of adding a new warning. Closing this one with the hope that interpreter discovery solves it well enough... ;)

[2019-08-02 15:23] #34444 closed, assigned to nobody

[2019-08-02 15:24] samdoran commented on #35237
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-08-02 15:24] #35237 closed, assigned to nobody

[2019-08-02 15:26] samdoran commented on #34722
This could be added to the ssh connection plugin via a new variable. It would need to be blank/disabled by default since not all versions of `ssh` support this option.

[2019-08-02 15:28] samdoran commented on #34786
We have no plans to implement this feature at this time. Use `--tags` and/or `--start-at-task`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-08-02 15:28] #34786 closed, assigned to nobody

[2019-08-02 15:30] samdoran commented on #35311
We have no plans to create a `logrotate` module at this time. Use `template` or write a custom module in a collection.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-08-02 15:30] #35311 closed, assigned to nobody

[2019-08-02 15:34] samdoran commented on #31880
We have no plans to change this behavior at this time. Disabling implict fact gathering and explicitly gathering facts via a `setup` task, or using fact caching are ways to solve this.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-02 15:34] #31880 closed, assigned to nobody

[2019-08-02 15:37] samdoran commented on #20933
We have no plans to reduce the default number of rounds or make it configurable. Yes, it is slower to decrypt on older hosts, but reducing the number of rounds makes it easier to brute force the ciphertext, reducing overall security.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/fo

[2019-08-02 15:37] #20933 closed, assigned to nobody

[2019-08-02 15:39] tremble opened #59987 "aws_kms doesn't update policy"
##### SUMMARY

If you attempt to modify the policy on an existing KMS CMK using aws_kms's "policy" option this doesn't appear to get updated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/aws_kms.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL7 + AWS

##### STEPS TO REPRODUCE

- Create KMS CMK
- Attempt to update p

[2019-08-02 15:40] chrismeyersfsu opened #59988 "Collection does not work when namespace is ansible"
##### SUMMARY
Modules that I create inside collections that exist in the `ansible` namespace do not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy
collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
blank

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

* Create two adjacent collections `a.foo` and `ansible.foo` w/ a single module, `my_test.py`.
* Call the

[2019-08-02 15:41] samdoran commented on #21299
This is a good idea, but adding a specific section globally to all modules to accommodate the few very complex modules is overkill. This would also further complicate the documentation section of modules, which we do not want to do.

A complex explanation like this is bette suited to a README file in a collection.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #a

[2019-08-02 15:41] #21299 closed, assigned to nobody

[2019-08-02 15:44] samdoran commented on #21702
Closing per above solutions.

[2019-08-02 15:44] #21702 closed, assigned to nobody

[2019-08-02 15:46] tremble commented on #59987
Looking through the source code I only see put_key_policy under do_grant which I think is evaluated when using the 'grant_types' and 'grants' options.

`module.params['policy']` only seems to be referenced during create_key.

I'm guessing this is just something that was overlooked and will attempt to submit a PR on Monday but wanted to get this documented in case someone else had the time sooner,

[2019-08-02 15:50] chbndrhnns opened #59989 "k8s module does not connect with custom pem bundle"
##### SUMMARY
With Ansible 2.8, I cannot use the k8s module to connect to a Kubernetes cluster where I need to provide a custom collection of certificates.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.14.5

##### STEPS TO REPRODUCE
Run `ansible-playbook -vvv -i inventories/prod/hosts site.yml.

[2019-08-02 15:53] samdoran commented on #23281
Use a YAML inventory problem to avoid this error.

The `attributes` in `slaves:vars` is not being converted to a dictionary, which is giving the error.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-02 15:53] #23281 closed, assigned to nobody

[2019-08-02 15:56] samdoran commented on #23545
Closing per above solution to use `template`.

[2019-08-02 15:56] #23545 closed, assigned to nobody

[2019-08-02 15:59] anshulbehl opened #59991 "ansible-test should warn when all collections content is ignored by git"
##### SUMMARY
Running ansible-test with collections inside a folder which is ignored by git will result is all targets skipped by ansible-test.

##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run ansible test inside a collection that is in a folder which is ignored by g

[2019-08-02 16:10] sivel commented on #56546
We do not adhere to strict yamllint rules.  We have our own set that we use in validating YAML from within the project. See https://github.com/ansible/ansible/tree/15b6837daf08f8baa94c4fea7935eb02d94fe9d5/test/sanity/yamllint/config

As such, you should use these same configurations when validating any YAML that comes from this project.

If you have further questions please stop by IRC or the mail

[2019-08-02 16:10] #56546 closed, assigned to nobody

[2019-08-02 16:13] #45631 closed, assigned to nobody

[2019-08-02 16:41] bcoca commented on #22107
There are several things that are a problem with your assumptions, but one of them is correct, `notify` is 'resolved' before the task execution, per loop item.

The way you try to access registered variables is slightly incorrect but I would point you to IRC/ML for figuring that out. Notify can already access 'previous iteration results' for templating but that won't give you exactly what you want

[2019-08-02 16:44] bcoca opened #59997 "vars plugins in collections are ignored"
There is no current code that enables loading vars plugins from collections

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vars_plugins
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

any

##### STEPS TO REPRODUCE

put vars_plugin in collection

[code]

##### EXPECTED RESULTS

vars plugin is used and executed

##### ACTUAL RESULTS

vasr plugin is ignored

[2019-08-02 16:55] nitzmahone opened #60000 "Move CLI script impls under ansible package"
##### SUMMARY
To ensure that `ansible-test` as a first-class-citizen can always locate the correct (and unmodified) Ansible scripts for its invocation in all circumstances, we need to move them under `lib/ansible` and change the top-level bin dir to symlinks (which setuptools will copy/modify on install and hacking/env-setup will just use).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
bi

[2019-08-02 17:05] sveemani opened #60001 "debug module to output looped outputs"
Issue type:  printing using debug module with  "item.stdout_lines"  still print "item.results" output
Ansible Version: ansible 2.7.8
component name:  Ansible loop  with debug using variable
##############################
Hi,

I am trying to print the puppet  agent status in multiple servers  along  with the time of  checking the status.
I am able to print the output of items using  debug module wi

[2019-08-02 17:07] garthkerr opened #60002 "Terraform module plan not registering as changed"
##### SUMMARY
Running a `terraform plan` (0.12.6) within the module directory results in expected plan changes. Running terraform via ansible module in `--check` mode without any additional modifiers.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### EXPECTED RESULTS
My understanding is that any plan that resu

[2019-08-02 17:12] mhalano commented on #35311
@samdoran Wouldn't be better to keep this issue open so people indicate this a issue which needs work?

[2019-08-02 18:22] skyscooby commented on #56930
@ssbarnea You main page on that site 'Bla, bla, bla.. Lorem ipsum....'.. is nice..  that is about as useful as the aforementioned post is going to be to anyone.. glossing over the problem and painting a solution with your own opinion on what is the right thing to do..  but hey at least you got a shameful plug on the thread...

[2019-08-02 18:27] #60000 closed, assigned to nitzmahone

[2019-08-02 18:28] mpilgrim8 opened #60008 "Using "update_only" attribute with yum module reports different results in check mode"
##### SUMMARY

I have a behavior that has existed since 2.5 (when the "update_only: yes" attribute was added to the yum module) and still exists with 2.8:

When using the attribute "update_only: yes" with the yum module when updating specific packages on a system to their latest version, when it comes across a package that is not currently installed, the output incorrectly reports it as "changed"

[2019-08-02 18:35] ikhan2010 opened #60010 "Add deprecation notice to these network modules - Net Modules"
##### SUMMARY
Please add deprecation notice to the following modules.  These modules will be deprecated during 2.9 release cycle

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

net_interface – Manage Interface on network devices
net_linkagg – Manage link aggregation groups on network devices
net_lldp_interface – Manage LLDP interfaces configuration on network devices

net_l2_interface – Ma

[2019-08-02 18:40] jillr commented on #53297
@timotab Would you be able to test with #59106 and see if the issue is fixed?

[2019-08-02 18:46] adisharoon commented on #59600
To possibly save time for others - I solved this locally (in my library directory) with the following update to the module. I'm not going to open a pull request though because the process is too Kafka-esque (sorry!)

[code]

[2019-08-02 19:10] czacharym commented on #47525
Any updates on this?  I am also running into this issue.  Using Ansible 2.8.  RHEL 7.5

[2019-08-02 19:20] GoodMirek commented on #59600
@adisharoon Thanks a lot for your patch.
Please may you confirm that you share this patch under GPL 3+, thus allowing anyone else to submit PR with your code?
Keeping changes locally is so painful, almost as painful as submitting a PR :grin:

[2019-08-02 19:55] sivel commented on #59948
Do we need a `removed_lookup`, like how we have `removed_module`?!

[2019-08-02 19:59] adisharoon commented on #59600
@GoodMirek - sure I threw some GPL verbiage into my comment. Do as you will!

[2019-08-02 20:10] mjlshen opened #60025 "Difference of two identical lists returns an empty set instead of an empty list"
##### SUMMARY
Obtaining the difference of two identical lists returns an empty set instead of an empty list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filter/mathstuff.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: RHEL7

##### STEPS TO REPRODUCE

1.  Create two variables as lists with identical contents.
2. Compute

[2019-08-02 20:34] mjlshen commented on #60025
It doesn't seem to be lib/ansible/plugins/filter that, but unfortunately I don't know where the component is.
!component -lib/ansible/plugins/filter

[2019-08-02 21:17] rhysmeister commented on #59918
@Akasurde pyOpenSSL-19.0.0 is the version currently installed.

@sivel requests[security] is installed via pip in the setup_mongodb package. I cannot remember specifically what this is here for but the tests run on ubuntu1604/1804 without it. These tests were written a long time ago but I guess I put it in for the apt_key module. There's no other candidates really. Whatever it was it seems to not

[2019-08-02 21:21] losuler commented on #59686
I came across the same error whilst using the JeOS image of OpenSUSE 15.1. However I discovered that it was caused by the installation of `fail2ban` (where Python 2.7 is a dependency as `python-base`).

The installation of Python 2.7 causes it to become the default interpreter, which I assume the `xml` library isn't included in (like it is in `python3-base`), which is needed for the `zypper` modul

[2019-08-02 21:28] #59686 closed, assigned to nobody

[2019-08-02 23:54] jamesmarshall24 commented on #59096
@carbolymer I was getting a similar error with `azure_rm_virtualmachine`:
[code]
In my case, it looks like this error was just stepping on the actual error. I force upgraded all azure modules with `pip install -U -I 'ansible[azure]'` and started seeing a different error. Maybe you're seeing something similar?

[2019-08-02 23:54] champtar opened #60031 "redfish_config fails with Huawei servers (412 Precondition Failed)"
##### SUMMARY
Trying to configure a Huawei 2288H V5 via iBMC/redfish, redfish_config module fails because `If-Match` header is missing
Huawei require to first issue a `GET` and put `If-Match: <etag value>` header in `POST/PUT/PATCH` requests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 3

[2019-08-03 00:00] derekslenk commented on #59803
I figured out the issue with my module - it was my custom powershell code.

https://gist.github.com/derekslenk/67d8a12e83a958620dc19a5f7a1bbe0a#file-win_tdt_compare-ps1-L162 and 164 -I call invoke-webrequest without doing anything with the return/stdout. By simply assigning the response to a var, ie response1=Invoke-WebRequest... and the module worked.

So it would seem in 2.7.10 the stdout/unassi

[2019-08-03 01:51] wedi commented on #53750
@Akasurde, as far as I understand it, @sivel's comment is a hint on how to resolve the bug not a solution for it.

[2019-08-03 01:59] mohtashims opened #60035 "Ansible's any_errors_fatal does not work as expected with loops"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

any_errors_fatal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

Run the Playbook with the below command and you will see that the playbook does not terminate execution after the first error is encountered. Command Below:
ansible-playboo

[2019-08-03 02:35] visualne commented on #36656
Close it

[2019-08-03 03:06] mulatinho commented on #56872
I made a PR to solve this problem, I tested against a few FreeIPA versions and seems work fine :-)

[2019-08-03 06:08] ercpe commented on #59691
Thank you very much for the quick fix!

[2019-08-03 09:15] willthames commented on #59987
@tremble I'm sure you're right. I think I did the bare minimum with policy to maintain existing behaviour while adding grants and the ability to create keys - I might have missed something.

[2019-08-03 12:05] mowgli commented on #54996
Please note that this deprecation is coming with a changed behaviour.

Currently I have many places where I check an array (list) or a hash as boolean. This is true if the array/hash is not empty.

Simply adding a |bool will change the behaviour as it is always false, doesn't matter if empty or not.

So, with the deprecation, there will be no way anymore to just check if that is empty or not. (Yes

[2019-08-03 12:22] Lunik commented on #59976
`url` and `login_token` will be removed in 2.10

We should fix :

- `url` shouldn't be required because you should use `api_url`.
- `login_token` alias deprecation should not show if the parameter is not used.
- see if this issue could show up In other GitLab modules

[2019-08-03 12:38] xuxiaowei0512 commented on #52933
Could you please have a try with version-2.8.3 or later?

[2019-08-03 12:39] xuxiaowei0512 commented on #37878
Could you please have a try with version-2.8.3 or later?

[2019-08-03 14:00] ShachafGoldstein commented on #59829
This seems related to #57404 that was fixed in https://github.com/ansible/ansible/pull/58943

This was never backported to 2.8 so will only be in 2.9

you can add a request on the weekly agenda to have this backported but since it's a feature and not a bug I'm not sure it will be approved

[2019-08-03 14:05] ShachafGoldstein commented on #59824
Removing the `state` parameter in your example give the expected result you mentioned

You can see in the docs that the `state` param is only used for removal/addition

[2019-08-03 17:22] mowgli opened #60042 "Ansible started anoing warning "Could not find aptitude. Using apt-get instead" to fill up syslog"
##### SUMMARY
Since debian updated to version 2.8.3, ansible is starting to fill my logs with the warning:
[code]

I never used aptitude and do not want to ever have aptitude on any of my systems. apt-get is just fine and does exactly what it is done for. And compared to aptitude, apt-get is much faster.

Please either silently use apt-get in favorite to aptitude or give the user a way to choose.

[2019-08-03 17:32] rightaway opened #60043 ""Database name has not been passed, used default database to connect to.""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_slot, postgresql_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

archlinux latest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Consistent warnings. Either both postgresql_user and postgresql_slot should give a warning or neither should.

##### ACTUAL RESULTS

postgresql_slot gives warning "[WA

[2019-08-03 17:58] jkirk commented on #59796
Ok. That's what I meant. I think the "See Notes for details" should be removed then from the `shell` option.

(And yes, "there are no notes" should be added "there are no notes about the shell option".)

[2019-08-03 19:11] DylanYoung commented on #22417
@lucasbasquerotto I totally get the need to triage tickets.  The problem is that they keep closing tickets to fix core issues while focusing their dev-time on peripherals (new action modules), or hacky work-arounds.

For example, they introduced a "vars lookup" instead of fixing the core problem, which was fixed by [my PR here](https://github.com/ansible/ansible/pull/36694).  This PR actually fixe

[2019-08-03 19:12] DylanYoung commented on #22417
I suspect that marking vars unsafe *still* has side-effects :( :(

[2019-08-03 19:21] DylanYoung commented on #21088
This is likely also fixed by [this PR](https://github.com/ansible/ansible/pull/36694), as is 36024, a related and replicated bug that was closed for some reason :(

[2019-08-03 19:24] DylanYoung commented on #22417
Hehe, and I just found another issue fixable with my PR: https://github.com/ansible/ansible/issues/21088

[2019-08-04 02:51] thylocene commented on #59829
Hi Marius,

Thanks for the update.  In my opinion this is a bug!  The module crashes
because of the cross-domain request. Every single AD that I have ever
worked has been multi-domain.  Multi-domain forests are the norm in
companies that use Microsoft products on premises.  As it stands we cannot
use the module and will have to defer to using script.  I am not sure what
GC is.  But again to have '

[2019-08-04 03:52] Akasurde commented on #60001
!component =lib/ansible/plugins/action/debug.py

[2019-08-04 06:50] mowgli opened #60044 "Quoted values are falsly identified as boolean"
##### SUMMARY
Quoted 'True' or 'False' are falsly identified as booleans.

With the new policy of nagging about that, that becomes to verbose.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
linux

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Nothing

##### ACTUAL RESULTS
[code]

[2019-08-04 07:48] Andersson007 commented on #60043
@rightaway , hello, thank you for reporting this issue.
This warnings (ability in the code) were initially added for modules like postgresql_table, sequence, etc that create objects in specific databases to warn users about using the default db for it.
In case of postgresql_slot and postgresql_user passing a database name to connect to is doesn’t matter because roles and slots both are global obje

[2019-08-04 08:26] sathiarajah opened #60045 "os_server does not update nics and it is not idempotent"
##### SUMMARY
When the same os_server add playbook is ran with the updated nics, the created server does not get updated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/cloud/openstack/os_server.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

(ansible) [root@ansnvlonls01 etc]# cat system-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

[r

[2019-08-04 09:24] kostiantyn-nemchenko commented on #60043
@Andersson007 in case of logical replication slot the warning makes sense as they are associated with certain database name and not instance wide.

[2019-08-04 09:50] rightaway opened #60048 "Add hcloud volume information to inventory"
##### SUMMARY

Volume information should be included in hcloud inventory. Without it, there's no way to automatically provision a server with a volume mounted at a particular location. If there were a way to specify a mount point at creation (https://github.com/hetznercloud/cli/issues/197) that would be a workaround.

It has to be done manually now. We need to create the server, then see what the

[2019-08-04 10:02] mohtashims commented on #60035
Can someone please pick up this issue ?

[2019-08-04 10:17] Andersson007 commented on #60043
@kostiantyn-nemchenko , oh, thanks! So i’ll left the warning for postgresql_slot and add where needed

[2019-08-04 10:40] rightaway commented on #60048
Just discovered the various `_facts` modules.

[2019-08-04 10:40] #60048 closed, assigned to nobody

[2019-08-04 10:41] rightaway commented on #60043
So the warning won't appear when creating physical replication slots?

[2019-08-04 10:47] Andersson007 commented on #60043
@rightaway , yep, i add the condition

[2019-08-04 13:06] Akasurde commented on #60042
!component =lib/ansible/modules/packaging/os/apt.py

[2019-08-04 13:09] Akasurde commented on #60042
Duplicate of https://github.com/ansible/ansible/issues/56832

[2019-08-04 13:09] #60042 closed, assigned to nobody

[2019-08-04 13:10] Akasurde commented on #56832
As a workaround, user can add `force_apt_get` as `True` to that task.

[2019-08-04 13:49] jctanner commented on #56930
@loop-evgeny I agree that we as the core team do have the "curse of knowledge" and it inhibits us from creating docs and errors that are useful to everyone.  We also completely rely on the community to help us shape ansible and keep it simple for as many users as possible, so when folks have recommendations on improving our docs and our error/warning messages, I always encourage them to help us ou

[2019-08-04 15:20] Akasurde commented on #39295
resolved_by_pr https://github.com/ansible/ansible/pull/60051

[2019-08-04 15:20] Akasurde commented on #45362
resolved_by_pr https://github.com/ansible/ansible/pull/60051

[2019-08-04 15:21] Akasurde commented on #47132
resolved_by_pr https://github.com/ansible/ansible/pull/60051

[2019-08-04 15:21] Akasurde commented on #59617
resolved_by_pr https://github.com/ansible/ansible/pull/60051

[2019-08-04 15:41] Akasurde commented on #59952
@DrewBarrett Thanks for reporting this issue. I raised to PR #60052 to handle `NoneType` error. Please check and let me know if it looks good to you. Thanks.

[2019-08-04 18:41] xoyteam commented on #59868
I made an environment to reproduce the error on Debian stretch64 (9.9.1)
I installed snapd from the Debian APT repo and ansible from the Ansible APT repo.

[code]

[code]
[code]
[code]
[code]
[code]
[code]
Now I have very slow internet.
With Debian 10, I will check back later and let you know.

You can check it yourself, just change the line in Vagrantfile
`   config.vm.box = "debian / buster64"`

[2019-08-04 21:44] NikolaiBessonov commented on #37886
version: latest

[2019-08-04 23:14] mfyuce commented on #29809
This is a 2.2 bug I think (as I gather from source, a sub module then.)

To overcome, just add `version: "master"`  to module config.

From src: https://github.com/ansible/ansible-modules-core/blob/ebdd66c2b6cb15e2364b2ecc41a9da9c1d02d64f/source_control/git.py

[2019-08-05 00:09] mullaiarasu commented on #59955
Hi Andersson,

I appreciate your help you have suggested, also I have already defined the variable like this, this condition works better in static variables but however when you have dynamic variable list from task output the list looks like ['1','2','3'] and i was able to format it like 1,2,3 using string manipulation with join command however I am not able to convert ['1','2','3']  into '{1,2,3

[2019-08-05 01:06] tuwid opened #60054 "cron overrides"
##### SUMMARY

When I'm running something like this:
[code]
I'd get just one cron.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[2019-08-05 01:18] MyronFanQiu commented on #59916
@Fred-sun Based on the log, it's a server constraint. After creation, this parameter cannot be updated.

[2019-08-05 01:21] MyronFanQiu commented on #59880
@kamleshdudani  Thanks. We will try to support more SKUs in the near future.

[2019-08-05 01:26] MyronFanQiu commented on #59770
@bpados Thanks. I checked code. There is a workaround for now. You can input the tags as dict format. This module is implemented by an unusual way dealing with tags. We will align this one to be same with other modules.

[2019-08-05 02:08] Fred-sun commented on #59916
@MyronFanQiu Thanks for your confirmation.

[2019-08-05 02:10] Fred-sun commented on #59916
@bpados Since this is a server constraint, azure_rm_manageddisk cannot update OS disk. So it's not a Bug, you can turn it off. Thank you very much!

[2019-08-05 05:32] Fred-sun commented on #59821
@yungezz @MyronFanQiu New module requirements, please help to look at it when you are free! Thanks a lot!

[2019-08-05 05:54] Fred-sun commented on #54440
@yungezz Can you close this issue? azure_rm_firewall already add in devel, Please check, thanks a lot!

[2019-08-05 06:39] #54440 closed, assigned to nobody

[2019-08-05 07:12] loop-evgeny commented on #56930
@jctanner Ordinarily I'd be happy to submit a PR to improve a free and useful program that I use. However, the general attitude of the Ansible developers towards usability, their eagerness to close as "working as intended" issues that I consider to be self-evident bugs (even if design bugs) and the fact that Ansible currently has 2025 (that's *two thousand*!) open PRs gives me very little confiden

[2019-08-05 07:50] Fred-sun commented on #57782
@zikalino @yungezz  New feature requirements, Please look at this issue when you have time! Thanks a lot!

[2019-08-05 08:06] Tomorrow9 commented on #59361
There is also another issue reported, if "~" in the "export_dir" provided, there is error "a bytes-like object is required, not 'str'" returned. I'll fix this issue at the same time. Thanks.

[2019-08-05 09:02] sparampalli commented on #57989
I will create a PR this week. Sorry for the late reply as busy on other
things.

Thanks,
P Srikantha

On Wed, Jul 31, 2019 at 7:58 AM Fred-sun <notifications@github.com> wrote:

--
Thanks,
P Srikantha
Avi Networks
+91 7760528099

[2019-08-05 09:07] Fred-sun commented on #57989
@sparampalli Thank you for your contribution. When you finish the PR, I will push forward the review and merger.

[2019-08-05 09:16] ogmueller commented on #43708
same result. no bind is returned.

[code]

[2019-08-05 09:25] gogeekness commented on #59771
This is still an error.

The find module does not have direct support for delagate_to:
[code]

So I need to run `find` with local_action
[code]
Then I run tinto this error:
fatal: [10.0.2.25]: FAILED! ==> {
  "msg":  "privilege output closed while waiting for password prompt:\n"

I have scoured the internet trying to find a way to get around this error.  All of the refrences I have seen are about

[2019-08-05 09:51] richardschuetz opened #60060 "ios_vlan: purge option tries to delete reserved VLANs"
##### SUMMARY

If _ios_vlan_ is used with the `purge` option enabled, reserved VLANs must be explicitly included in the `aggregate` dictionary, otherwise the module tries to delete them with every run.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_vlan
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Cisco IOS 15.2(4)E8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ci

[2019-08-05 11:15] LKaemmerling commented on #56276
This issue was resolved @mattclay i guess we can close this issue or?

[2019-08-05 11:51] SpokeyWheeler opened #60063 "file - implement fallocate as an option"
##### SUMMARY
Implement fallocate as an option for the file module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
file

##### ADDITIONAL INFORMATION

We use Informix, which writes 0 repeatedly into a file to create a dbspace chunk of the requisite size. fallocate bypasses this by instantly creating a file of the requisite size. This hugely speeds up deployments

[code]

[2019-08-05 12:27] SamyCoenen opened #60065 "galaxy-init: support externally defined skeletons RE #14736"
Same as https://github.com/ansible/ansible/issues/14736
Might be a good idea to reopen that one.

[2019-08-05 12:31] Rajinikamu84 opened #60066 "azure_rm_deployment module showing "MODULE FAILURE" with ansible 2.6 version but the same works with ansible 2.8 version"
##### SUMMARY
azure_rm_deployment module showing "MODULE FAILURE" with ansible 2.6 version but the same modules works with ansible 2.8 version and we can able to deploy resource in azure cloud environment.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_deployment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server rel

[2019-08-05 12:51] bpados commented on #59916
@Fred-sun
Sorry not to be clear enough:
My original purpose was to change disk type from e.g Premium_LRS to Standard_LRS and not to change disk size.
**When I execute the following task, I got an error message (see below).**
**Task:**
- name: change disk type to Standard_LRS
  azure_rm_manageddisk:
    name: "{{ item.name }}"
    resource_group: "{{ azure_resource_group }}"
    storage_account_typ

[2019-08-05 12:59] xoyteam commented on #59868
I checked in Debian 10. The problem does not reproduce.

[2019-08-05 13:04] bamason14 opened #60068 "win_dns_record incorrectly creates PTR records"
##### SUMMARY

When specifying a PTR record, the module incorrectly creates the entry.

  - name: Create PTR Record
    win_dns_record:
      computer_name: "msdnsserver.example.com"
      name: "10.202.64.62"
      state: present
      type: "PTR"
      value: "awx_test.example.com"
      zone: "10.in-addr.arpa"

Entry created:

10.62.64.202.10     Pointer (PTR)     awx_test.example.com

To corre

[2019-08-05 13:08] tremble commented on #59987
@willthames the integration tests appear to be broken.  This may be due to the older version of Boto3 I'm running (rhel 7), however, I'm seeing things like

[code]

Which looks like some refactoring around aliases hasn't done what's expected.

[2019-08-05 13:21] ruimaciel opened #60069 "Apt module documentation on installing lists of packages still uses deprecated features"
##### SUMMARY

Ansible's latest docs on the [apt module](https://docs.ansible.com/ansible/latest/modules/apt_module.html) provides an example on how to install a list of packages which relies on loops.  However, when using loops with Ansible's apt module, the following warning message is shown:

[code]

Furthermore, the new loop-less method isn't explicitly covered in the docs, specially its suppo

[2019-08-05 13:49] rightaway commented on #59133
@LKaemmerling Will you be including a `network_facts` module too as part of these changes? The other `_facts` modules have been very helpful.

[2019-08-05 14:16] LKaemmerling commented on #59133
@rightaway sure :) Already working on it.

[2019-08-05 14:23] samdoran commented on #59918
@rhysmeister I think the issue is that `setup_mongodb` is updating PyOpenssl via `pip` which is causing issues later when `apt-key` tries to use it. This seems to be a mismatch in the package that comes from `pip` and the package that comes from `apt`.

If we can avoid installing that package via `pip`, that would be ideal. Otherwise, the role needs to clean up the `pip` installed package, which I

[2019-08-05 14:41] D3DeFi commented on #58719
@rubentsirunyan would it be possible to add this to the documentation of the module, providing that current state for both `recovery_operations` and `acknowledge_operations` is `C(Suboptions) are the same as for I(operations)`?

To make this worse, `I(operations)` does not seem to support `notify_all_involved`.

[2019-08-05 14:43] LKaemmerling commented on #58746
@asarubbo I would just want to let you know, that the PR for this change is open :)

[2019-08-05 14:45] samdoran commented on #57490
Per discussion with @ryanpetrello, there are no plans to update the Tower module tests as they exists today in Ansible Core CI. They will move to being tested in Ansible Tower CI as part of a collection.

[2019-08-05 14:45] #57490 closed, assigned to nobody

[2019-08-05 14:57] D3DeFi commented on #59624
Hi @richlv and thank you for mentioning this idea. Unfortunately, I don't have much time these days for such an implementation.

I believe that it would require linking templates directly to the ID of the host interface and for that, such interface needs to already exists, which is not the case when we create host for the first time. There is also a problem about how to recognize which interface u

[2019-08-05 15:13] asarubbo commented on #58746
@LKaemmerling great ;)

[2019-08-05 15:26] samdoran commented on #59771
@gogeekness `delegate_to` is a [task parameter](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#task), not a module parameter.

[code]

[code]

These are the corrections needed to the task from the example:

[code]

As @bcoca already mentioned, please reach out on IRC or the mailing list for help with playbooks.

   * IRC: #ansible on irc.freenode.net  
   * ma

[2019-08-05 15:26] ljalbinson opened #60077 "Ansible fails to report matching but broken symlink in host_vars directory"
##### SUMMARY
The host_vars directory contains a symlink that matches a host but is broken (i.e. target does not exist). Ansible fails to warn or error on this and silently continues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
2.8.0

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Ubuntu controlling machine / CentOS target

##### STEPS TO REPRODUCE
Cre

[2019-08-05 15:28] richlv commented on #59624
When linking templates, items go to the "main" interface of the matching type (like JMX or SNMP).
Technically it could likely be done by setting the desired interface to be "main".

[2019-08-05 15:29] samdoran commented on #56276
@LKaemmerling Yes, we can close this. The change needs to be backported to `stable-2.8` to reenable the test, but I'll take care of that.

[2019-08-05 15:36] #15988 closed, assigned to nobody

[2019-08-05 15:37] samdoran commented on #60065
Support for custom role skeletons was added in https://github.com/ansible/ansible/pull/17079.

[2019-08-05 15:37] #60065 closed, assigned to nobody

[2019-08-05 15:44] samdoran commented on #60069
I am not finding an example in the 2.8 `apt` documentation that uses a loop to install packages. We also have a note to pass the list directly:

There is also an example passing a list of packages to `name`:

[code]

The description for `name` explains a list can be use:

What am I missing?

needs_info

[2019-08-05 15:47] fthommen commented on #41313
As far as I can see (and understand), this would require to restructure major parts of our roles/playbooks/tasks that we have built up in the last two years. We don't have the resource to do that. `include_role` is not a simple drop-in replacement for what we are doing. So that doesn't seem a way to go.

[2019-08-05 15:55] samerhaj commented on #59793
cc @samerhaj

[2019-08-05 15:57] DrewBarrett commented on #59952
@Akasurde Looks good to me!

[2019-08-05 16:03] samerhaj commented on #58941
General feedback: to support inter-operable virtual media operations across various Redfish implementations in the industry, this command needs to attempt multiple ways for managing VM mounted images, including:

* Use properties like "Image", "ConnectedVia","MediaTypes", "Inserted", "TransferProtocolType", and "TransferMethod" (if available) to determine which "empty" slot in the VirtualMediaColl

[2019-08-05 16:05] sivel commented on #60054
!component =lib/ansible/modules/system/cron.py

[2019-08-05 16:11] samdoran commented on #35311
@mhalano Since we would prefer the use of `template` or a custom module distributed via a collection (not included in Ansible Core), we do not consider this a issue that needs to be worked on.

[2019-08-05 16:11] bcoca commented on #36024
misunderstanding was mine, since 'register' does make things 'untemplatable', mistook comment of 'me too' to define the actual issue, but they are not related.

[2019-08-05 16:13] bcoca commented on #36024
As for register being different, this is on purpose since most of what you register comes from modules, which get information from remote machines and are 'untrusted by default'.

I never thought to register something you already use include_vars for, since there is a 'name' option that already allows you to set the contents of the include in a variable.  At this point I'm thinking we need to warn

[2019-08-05 16:14] bcoca commented on #36024
related #21088

[2019-08-05 16:15] Andersson007 commented on #59955
@mullaiarasu , np, if you can to get a string from the list, you could try something like:
- ‘\{{ my_var }\}’
I didn’t try, not near the PC now, but it probably will work

[2019-08-05 16:20] sivel commented on #11775
I cannot replicate this on current versions of Ansible. If you are still having problems, please open a new issue with a complete reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 16:20] #11775 closed, assigned to nobody

[2019-08-05 16:28] sivel commented on #15643
This is no longer a problem in current versions of Ansible. If you are still having problems, please feel free to open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 16:28] #15643 closed, assigned to nobody

[2019-08-05 16:33] sivel commented on #19420
This code has been rewritten since this report was created and I cannot reproduce on current versions of Ansible.

If you are still having problems, feel free to create a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 16:33] #19420 closed, assigned to nobody

[2019-08-05 16:37] sivel commented on #20560
I can not reproduce this issue in current versions of Ansible. If you are still having problems, please feel free to open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 16:37] #20560 closed, assigned to nobody

[2019-08-05 16:41] mohtashims commented on #60035
Sadly, this issue is experience with even the latest versions of Ansible and Python

[2019-08-05 16:49] sivel commented on #24458
As mentioned above, this is due to implicit flattening that the `nested` lookup performs.

To escape the implicit flattening, you would need to use:

[code]

The easier solution, is to use the `product` filter with the new `loop`:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2019-08-05 16:49] #24458 closed, assigned to nobody

[2019-08-05 16:54] sivel commented on #31367
`squash_actions` is now deprecated. The preferred way to install multiple packages is to supply the list of packages directly to the `name` argument.  As such, we will not be pursuing adding this module to that list.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2019-08-05 16:54] #31367 closed, assigned to nobody

[2019-08-05 16:57] sumanyunandwani opened #60087 "Ansible-playbook Stuck randomly: Empty ansible-tmp-% gets created on remote device"
##### SUMMARY

Ansible-playbook command gets stuck randomly without showing any error. It gets stuck 1 out of 25 times.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible-playbook {{ playbook_name }}

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

My System - CentOS Linux
Remote Device - FreeBSD

##### STEPS TO REPRODUCE

Run any playbook on some inv

[2019-08-05 16:58] sivel commented on #31705
This is a side effect of the JSON like structure that YAML can accept.  There are limitations to the markup that you can use with the JSON like structure.

This is not a limitation of ansible itself, and as such, I'm going to proceed with closing.  It is recommended to use full YAML instead of JSONified YAML:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC:

[2019-08-05 16:58] #31705 closed, assigned to nobody

[2019-08-05 17:01] sivel commented on #32496
The problem here is that ansible uses the `ControlMaster` functionality of openssh by default.  When a connection to the host is established it will create a muxed control socket, that when re-used will not re-authenticate to the remote host, it will instead use the already existing control socket to connect to the host.

Clearing the local directory removes the control socket path used by SSH, so

[2019-08-05 17:01] #32496 closed, assigned to nobody

[2019-08-05 17:04] sivel commented on #32820
Per the above I am going to close this.  Unarchive requires the path to a file to unarchive, not a path to a directory as the src.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 17:04] #32820 closed, assigned to nobody

[2019-08-05 17:09] sivel commented on #34435
To properly support this prompt, but not impact a non-interactive session, you will need to add that logic to either your bashrc or the `choise.sh` file.

This often looks like:

[code]

or

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-05 17:09] #34435 closed, assigned to nobody

[2019-08-05 17:13] mdutton3 commented on #32247
To make @bcoca 's suggestion more concrete:
[code]

[2019-08-05 17:17] mdutton3 commented on #32247
Alternatively, you could not nest your groups and use multiple limit statements:

[code]

[2019-08-05 17:38] rambleraptor commented on #57277
Hello! I need to get this done. I'll shoot out a Magic Modules PR. Just to verify, I should be:

* Renaming all of the modules to `_info`
* Changing the CHANGELOG to show that this renaming is occuring
* Have a copy of the module with the _facts name and an underscore in front of it (ex: `_gcp_compute_instance_facts.py`)

[2019-08-05 17:46] joshonike opened #60100 "list blobs in a container"
##### SUMMARY
The ability to get the current list of blobs in a container. This would return a list object with the name of the blobs and maybe the date last modified.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_storageblob.py

##### ADDITIONAL INFORMATION
The feature would allow the user to get the current list of objects on a blob and then process or do work based on what is

[2019-08-05 17:52] billdodd commented on #60031
I believe that was fixed recently in the `devel` branch via PR #56150. Can you try with the current `devel` branch?

[2019-08-05 17:52] uaqben opened #60101 "Inventory groups can't be filtered via patterns syntax from documentation"
##### SUMMARY

Unless I missed something (but have been trying), it's not possible to use [patterns](https://docs.ansible.com/ansible/latest/user_guide/intro_patterns.html#working-with-patterns) to target hosts, whether with ansible, ansible-playbook cli or AWX, it fails to restrict targets as documentation indicates it should.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core's  `--limit

[2019-08-05 17:56] bkmeneguello opened #60102 "route53: Skip zone listing when hosted_zone_id is set"
##### SUMMARY
Improve route53 module performance when ZoneID is know

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

route53

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

* Define a long list of DNS records
* Use a `loop` with `route53` module to update them

[code]

##### EXPECTED RESULTS

Since hosted_zone_id is provided, this should

[2019-08-05 18:03] harmathy commented on #24450
Systemd units have mainly two states. One is the *load state* which reflects if the unit file was properly loaded from disk. The second is the *active state* which corresponds to the current state of the unit. This state is one of *active*, *reloading*, *inactive*, *failed*, *activating* and *deactivating*.

As you can see, systemd distinguishes between a 'running' and a 'starting' unit. A *simple

[2019-08-05 18:13] uaqben commented on #60101
I'm not sure which component(s) are related to the above, sorry @ansibot

[2019-08-05 18:15] octagonprogramming commented on #59824
I removed this parameter and am still getting the same result. Specifically in the case of the rules for Cortana, it will just create a new rule.

[2019-08-05 18:29] angristan commented on #59868
OK! I can reproduce this on Debian 9.

[2019-08-05 18:34] angristan commented on #59868
I don't know what's wrong though. I don't know how to debug this.

[2019-08-05 18:58] Andersson007 commented on #59955
@mullaiarasu , i'm not a guru of jinja template syntax but in pythonic code we could use roughly something like:
[code]

[2019-08-05 18:58] samdoran commented on #59918
Simply omiting `requests[security]` seems to resolve the issue.

[2019-08-05 19:01] #59918 closed, assigned to samdoran

[2019-08-05 19:31] jamescassell commented on #38974
I've opened a PR to fix this issue: https://github.com/ansible/ansible/pull/59958

[2019-08-05 19:49] AdaptiveThinking opened #60104 "Powershell-Module example - C# vs Legacy"
##### SUMMARY

While we try to develop new Powershell-Modules, there does not seem to be a up-to-date Best Practice on how to do this for Powershell. The Docs are not clear about "how to write a Module in 2019".

For Util-Imports there seems to be two ways: Ansible.ModuleUtils.Legacy vs. CSharpUtil Ansible.Basic
The Docs dont really say what is ideal here. The example with C# is - according to the

[2019-08-05 19:55] champtar commented on #60031
I confirm this is fixed in master, thanks !

[2019-08-05 19:55] #60031 closed, assigned to nobody

[2019-08-05 20:02] ericbaum opened #60106 "Template lookup start string breaks environment vars parsing"
##### SUMMARY

When we create a playbook with environment variables defined from input variables, if one of the tasks in this playbooks use a template lookup plugin with a start/end string different from default, it also changes the start/end string used to parse the environment variable and breaks its parsing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Template Lookup Plugin

##### ANS

[2019-08-05 20:04] Andersson007 commented on #60043
@rightaway , @kostiantyn-nemchenko https://github.com/ansible/ansible/pull/60105 would be appreciated if you look at this and approve if it is OK for you.
Then I'll backport it to 2.8 and it will be released in the next minor version of Ansible.

[2019-08-05 20:13] jborean93 commented on #60104
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop by there, we'd

[2019-08-05 20:13] #60104 closed, assigned to nobody

[2019-08-05 20:34] sivel commented on #15817
As indicated above, `ansible_distribution_major_version` should not be expected to be an integer.  The most comprehensive way to test it is using the `version` test or by explicitly casting the version to an integer when comparing if your distro uses an integer based major version.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2019-08-05 20:34] #15817 closed, assigned to nobody

[2019-08-05 20:37] NiR- commented on #27293
This issue is a bit annoying but hopefully there's a workaround: use `uri` module to fetch the `Location` header and then use `get_url` to retrieve that new URL. Example:

[code]

[2019-08-05 20:37] rambleraptor commented on #47815
Hello! This was just merged into devel.

close_me

[2019-08-05 20:38] rambleraptor commented on #34049
Hello! We have a module called `gcp_storage_object` that can be used to upload + download to a bucket.

[2019-08-05 20:38] sivel commented on #15868
I can no longer replicate this issue with recent versions of Ansible.  Using `inventory_hostname` under `vars_files` works without error.

If you are still having problems, please feel free to open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2019-08-05 20:38] #15868 closed, assigned to nobody

[2019-08-05 20:59] rambleraptor commented on #50839
I've merged in the `gcp_compute_snapshot` module, so I'm going to go ahead and close this!

close_me

[2019-08-05 21:01] rambleraptor commented on #59147
Are you still having this issue?

[2019-08-05 21:01] rambleraptor commented on #51174
It sounds like this was fixed in 2.8. I'm going to close this issue.

close_me

[2019-08-05 21:03] mullaiarasu commented on #59955
Hi Andrey,

As you have suggested I have created I tired created python script to
convert  list from [ 1,2,3] to {1,2,3} but when try read that variable into
ansible to pass positional args I get an error JINJA format set not
defined. I shared different types of error I received in my issue.

On Mon, Aug 5, 2019 at 11:59 AM Andrey Klychkov <notifications@github.com>
wrote:

[2019-08-05 21:04] Andersson007 commented on #60043
merged, created [backport PR](https://github.com/ansible/ansible/pull/60107). Hope it will be merged soon.
@rightaway thanks for reporting this issue and discussing, @kostiantyn-nemchenko thanks for helping and reviewing! @Akasurde thanks for supporting by liking ;) (really, the attention from other community members is very important - we know we're not alone in our WG:)

would be cool to close t

[2019-08-05 21:15] Andersson007 commented on #59955
@mullaiarasu , could you please give the full code and error messages?

initially, I tried to pass ```- '{1, 2, 3}'``` to positional_args and it worked:
[code]
Please note that it must be a **string**.
Firstly try to check the type of your variable by something like:
[code]

[2019-08-05 21:41] Andersson007 commented on #59955
@mullaiarasu
[code]
we also must to convert my_var to string :), look, it works

[2019-08-05 21:43] champtar opened #60111 "redfish_config can't set boot order on Huawei server (multiple attributes required)"
##### SUMMARY
Trying to set the boot order on a Huawei 2288H V5 via iBMC/redfish, redfish_config module fails because it needs to set the 4 `BootTypeOrderX` at the same time, and we currently only have the option to set 1 at a time

This report is in between `Bug Report` and `Feature Idea`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
redfish_config

##### ANSIBLE VERSION
[code]

##### CO

[2019-08-05 21:44] techwolf359 commented on #50839
Awesome, it will be great to have a gcp_compute_snapshot module to use. Will the changes to magic-modules also enable sourceSnapshot to be passed in here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_compute_disk.py#L538-L552

[2019-08-05 21:51] mullaiarasu commented on #59955
below is  my play book and output I receive when I try to do workaround for
the dynamic list variable

- hosts: localhost
  vars:
    del_configid: []

  tasks:
    - name: Read request payload from File
      include_vars:
        file: /home/config_input/cfgSrvrs.yml
        name: clu

    - name: Test
      register: sql_out
      postgresql_query:
        db: XXXX
        login_user: XXXX

[2019-08-05 21:52] #50839 closed, assigned to nobody

[2019-08-05 21:58] mullaiarasu commented on #59955
The  by defining the variable '{{my_var|string}}' it works  good hack :)  but is there also way to a append curly braces in the ansible itself instead of using python script

[2019-08-05 22:04] felixfontein commented on #57277
You also need to update the porting guide.

There should not be a copy, but a symlink from `_xxx_facts.py` to `xxx_info.py`.

Also, did you see my comments in GoogleCloudPlatform/magic-modules#2002?

[2019-08-05 22:05] Andersson007 commented on #59955
@mullaiarasu , yep, the problem is obviously because:
[code]
I cought that, be sure that:
1. the variable must be a string like '{15858, 15979}', see my playbook above
2. then also convert it to string by jinja
[code]

[2019-08-05 22:07] Andersson007 commented on #59955
@mullaiarasu , sorry, i didn't see you changed your comment while i was writing my previous comment

[2019-08-05 22:16] Andersson007 commented on #59955
@mullaiarasu ,

I tried to find something for that before but failed, for example https://github.com/cookiecutter/cookiecutter/issues/11. However it doesn't work for the second brace, I have no clue why.
The current question is related to using jinja so I suggest closing this issue.
Anyway thank you for discussing, we have a lot of experience :)

[2019-08-05 22:25] mullaiarasu commented on #59955
Yup you can close the issue , but it would nice if  postgresql_query can accept list but I do understand the postgress array is different than a python array.

Thanks for prompt support really appreciate it

[2019-08-05 22:37] Andersson007 commented on #59955
Nps, don’t close the issue for a while. I’ll see again maybe this week

[2019-08-05 22:57] sfrique commented on #59147
I changed the script to explicit set account as `default` so I am not having the issue, but I don't know if it was fixed.

I can check with latest ansible later on today or tomorrow if you need it.

[2019-08-05 23:41] crivetimihai opened #60116 "Ansible role `meta/main.yml` dependencies do not work with a FQCN"
##### SUMMARY
Role `meta/main.yml` does not resolve dependencies with a FQCN. https://github.com/ansible/galaxy/issues/1938 prevents uploading a role with simple dependencies (without a FQCN).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

`pip install --user git+https:/

[2019-08-06 00:18] mjgehrmann commented on #55630
@dbrummer I have a PR in. No idea how to get movement on this one.

[2019-08-06 00:30] sysadmin75 commented on #59433
I am unable to reproduce.  My management node is Fedora 29.  My target node is CentOS Linux release 7.6.1810 (Core).

[2019-08-06 02:00] mdavis-xyz opened #60118 "warning to be added for aws_acm_facts"
##### SUMMARY

There is a [known bug](https://github.com/aws/aws-cli/issues/3450) with the AWS ACM API, where it will not list certificates which you uploaded which are size 4096.

I think it would be helpful if the Ansible docs for `aws_acm_facts` noted this somewhere.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

aws_acm_facts

##### ANSIBLE VERSION

https://docs.ansible.com/an

[2019-08-06 02:01] yangchao0512 opened #60119 "Use the ansible mysql_variables to set mysql variables, the variables settings are invalid after restarting mysql"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-08-06 02:02] yangchao0512 commented on #60119
The hope is that the restart database variables do not expire.

[2019-08-06 02:04] Fred-sun commented on #59916
@bpados I just want to say that because of server constraints, there should be no way to change the disk type(As constrained as disk size). Thank you very much!

[2019-08-06 02:06] mdavis-xyz opened #60120 "aws_acm module"
##### SUMMARY

The `aws_acm_facts` module is used to fetch data about certs currently in ACM.

I would love it if there was a module for uploading certs to ACM.

Currently my workaround is to use a `shell` task to invoke the aws cli. But that uploads duplicates.
I think a `aws_acm` module should first check what certs exist. If the cert we want to upload already has been uploaded, nothing should h

[2019-08-06 02:13] yangchao0512 opened #60121 "Use the ansible mysql_variables to set mysql variables, the variables settings are invalid after restarting mysql"
##### SUMMARY
I hope to restart the database, the mysql variables do not expire when use  ansible mysql_variables modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_variables

##### ADDITIONAL INFORMATION

[code]

[2019-08-06 02:15] #60121 closed, assigned to nobody

[2019-08-06 02:17] mlda065 commented on #60120
I want this module to first fetch the data about what certs exist in ACM. Is there some way my module can import and use the `.py` file for `aws_acm_facts`?

[2019-08-06 02:37] willthames commented on #60120
@mida065 not in that way - you could refactor both modules to use a shared `module_utils/aws/acm.py` file though?

[2019-08-06 02:51] Akasurde commented on #60043
Closing as per https://github.com/ansible/ansible/issues/60043#issuecomment-518399471

[2019-08-06 02:51] #60043 closed, assigned to nobody

[2019-08-06 03:12] mlda065 commented on #60120
Ah, like [this](https://github.com/ansible/ansible/blob/05c6ff79f9860dbd6b43cb4914ee749baf65b9f7/lib/ansible/modules/cloud/amazon/cloudfront_invalidation.py#L137)?

Ok. I'll give this a go.

[2019-08-06 03:14] willthames commented on #60120
Yep, that's the kind of thing - just move the methods from aws_acm_facts and then reuse in both

[2019-08-06 05:08] #59952 closed, assigned to Akasurde

[2019-08-06 06:08] Andersson007 commented on #60043
@Akadurde , thanks for closing

[2019-08-06 06:32] Fred-sun commented on #60100
@joshonike Thank you for you contribution.

[2019-08-06 06:32] Fred-sun commented on #60100
@yungezz @MyronFanQiu This is a new feature, perhaps adding azure_rm_storageblob_facts module to meet this requirement. Thank you very much!

[2019-08-06 06:34] bpados commented on #59916
@Fred-sun
Using following Azure-CLI command have no constraint:
az disk update --resource-group {{ azure_resource_group }} --name {{ item.name }} --sku Standard_LRS

[2019-08-06 07:19] AlekSi commented on #25637
I can confirm it is still an issue with Ansible 2.8.2.

[2019-08-06 07:24] sumanyunandwani commented on #60087
!component

[2019-08-06 07:41] ahmadalli commented on #31117
any update on this?

[2019-08-06 07:41] Fred-sun commented on #59916
@bpados Yes, you are right, It is cannot to update OS disks through ansible, but it is possible to update data disks.

[2019-08-06 08:11] oekotaco commented on #59164
Also affected by this issue. Any progress here?

[2019-08-06 08:20] Fred-sun commented on #59916
@MyronFanQiu @yungezz Please take a look this issue? it can't use azure_rm_manageddisk to update OS disk type, but it can update by az command. Thank you very much!

[2019-08-06 08:26] Yannis100 opened #60124 "Update Netbox inventory plugin add region grouping, optional interfaces&vlans gathering, slug and prefix length"
##### SUMMARY

Add sites groups as children in their respective region groups
Add 1 value to choose the length of the group name prefix (before the '_') and 1 to "minify" the suffix part (using slugs (or lowercase and change special chars (space, -) to underscore))
Add interfaces per host and vlans per site

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Netbox inventory plugin

##### ADDI

[2019-08-06 08:29] Fred-sun commented on #60066
@Rajinikamu84 This should be a normal phenomenon, version change, is better to improve the lower version of the problem. Maybe the bug in version 2.6 was fixed in 2.8. Thank you very much!

[2019-08-06 08:31] SamyCoenen commented on #60065
Yes, custom role skeletons are great, we use them after `git` cloning it.
It would be nice to make this possible in a single command, by defining the remote role skeleton, not a local path.

Similarly like the example in #14736 .

[2019-08-06 08:36] mrdrogdrog commented on #59164
@oekotaco my pr is complete.. waiting for merge ¯\_(ツ)_/¯

[2019-08-06 09:05] SamyCoenen commented on #60065
@samdoran

[2019-08-06 09:10] oekotaco commented on #59164
Oh yes. Tested with manual patching the files and it worked well. Thanks for the pr.

[2019-08-06 09:20] Yannis100 commented on #60124
cc @aruhier @remyleone

[2019-08-06 09:33] Asgoret opened #60126 "terraform: Plan file doesn't seen in next steps"
Continue of https://github.com/ansible/ansible/issues/39611
Fix doesn't work (https://github.com/ansible/ansible/commit/9a607283aafce8f1eb424df6b4c567095844bfd7)

At this moment i specify plan file, but next step doesn't see it

##### COMPONENT NAME
terraform

Ansible version:
[code]

Can you help to handle it? @mohitkumarsharmaflux7 @ryansb

Code:
[code]

[2019-08-06 11:46] yuandongx opened #60128 "It would be very cool if there is a ftp net_tool."
##### SUMMARY

[get_url](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/basics/get_url.py]) which can download files from HTTP, HTTPS, or FTP to the remote server.
How about uploading files?  It seems that there is no module to upload files to  HTTP, HTTPS, or FTP to the remote server.Sometimes ftp is a good net tool for upload/download files.
Can ansible have a module

[2019-08-06 12:36] pgbidkar opened #60129 "VMware: get_vm() fails with KeyError if uuid is not in the module param"
##### SUMMARY
get_vm() method vmware.py module utility fails with KeyError if uuid is not in the module param from whch method is invoked

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware.py module util

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16

##### STEPS TO REPRODUCE
Creating new module. 'uuid' is not in my module arguments.
Called get_vm()

pyv = PyVmomi(module=

[2019-08-06 12:44] nfantone opened #60130 "`win_iis_webbinding` unable to find cert by thumbprint"
##### SUMMARY
Manually setting a `certificate_hash` option with a valid thumbprint, generates a `cert://` path with an invalid, hidden character that prevents Ansible from finding the certificate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_iis_webbinding`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
**Control Node**

[code]

**Host**

[code]

###

[2019-08-06 13:02] nfantone commented on #60130
Turns out, I _did_ have a non printable character on my hash value after all. My bad, completely. Apologies. Closing.

[2019-08-06 13:02] #60130 closed, assigned to nobody

[2019-08-06 13:09] nfantone opened #60133 "`win_iis_webbinding` updates SSL certificate on all sites"
##### SUMMARY
On a multisite IIS installation, running `win_iis_webbinding` while specifying `name`, `ip`, `port`, `host_header` and `certificate_hash` sets the SSL certificate **on all sites** to the latest value in the playbook, disregarding `host_header` and `name` options.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_iis_webbinding`

##### ANSIBLE VERSION
[code]

##### CONFIGURATI

[2019-08-06 13:09] ppoetz commented on #46379
This also occures by cli calls as @ps-jay already mentioned.

For example in my Jenkinsfile:
`sh """
                    ansible-playbook inventory/someapp/${env.ENVIRONMENT_NAME}/playbooks/deploy.yml \
                    -i inventory/someapp/${env.ENVIRONMENT_NAME}/inventory.yml \
                    -e " \
                    app_version=${params.VERSION} \
                    catalog_user=${CA

[2019-08-06 13:17] chris-short opened #60134 "k8s module: Add parameter to invoke the `template` module when given a path to k8s yaml files"
##### SUMMARY

k8s module: Add parameter to invoke the `template` module when given a path to k8s yaml files

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s module template processor

##### ADDITIONAL INFORMATION

I think it'd be beneficial for the k8s module (and subsequently operator-sdk) to avoid using Jinja2 templating when possible. In a nutshell, I'd like a cleaner, simpler way to

[2019-08-06 13:25] kmdouglass commented on #59100
I just verified on a fresh Windows machine that this indeed solves the problem. Adding the `SeServiceLogonRight` as suggested by @jborean93 works like a charm.

[2019-08-06 13:33] nwsparks commented on #60133
Can you try setting `ssl_flags: true`? this will enable SNI which is required if using `*` as the ip.

[2019-08-06 13:52] nfantone commented on #60133
@nwsparks It worked. That did it - thank you! However, I don't see anything [in the docs](https://docs.ansible.com/ansible/latest/modules/win_iis_webbinding_module.html) indicating that `ssl_flags` must be `1` if `ip` is `'*'`. Given that `'*'` is the default value, this seems like something people would trip over very easily.

[2019-08-06 14:04] nwsparks commented on #60133
Great, you're welcome. The bindings can be troublesome if you are unfamiliar with SNI and the requirements around a dedicated IP per binding if it is not used. I'm not sure if the docs are the right way to educate people on this, however there is an example provided that shows doing a bind with host header and ssl.

[2019-08-06 14:14] runiq commented on #26537
I think @MarkusTeufelberger's [suggestion re:return types](https://github.com/ansible/ansible/issues/26537#issuecomment-338167934) sound sensible. I'd love to be able to notify handlers once per block that way.

[2019-08-06 14:26] nfantone commented on #60133
I understand where you're coming from. However, the `ssl_flags` example in the docs does not set `ip: '*'`. Did you mean `host_header`?

Moreover, if the module interface allows a combination of settings that would generate an unexpected result, shouldn't there we some kind of validation in place? I'm just trying to get a sense of how this works.

[2019-08-06 14:56] gstorme commented on #56261
Found a workaround.
Works fine when `login_unix_socket: /var/run/mysqld/mysqld.sock` is added to the mysql_user task.

[2019-08-06 14:56] #56261 closed, assigned to nobody

[2019-08-06 15:07] geerlingguy commented on #60134
I'm on board with this. I have basically had to add that boilerplate about 7 jillion times, and it would be nice to just have built-in functionality that would allow me to pass a .j2 file with multiple documents that's parsed into the individual docs without writing out an explicit lookup...

[2019-08-06 15:11] sivel commented on #59944
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * We do not recommend this behavior, as it overly complicates playbooks, and m

[2019-08-06 15:11] #59944 closed, assigned to nobody

[2019-08-06 15:12] bcoca commented on #59949
we should remove the deprecation itself as skip has use cases that errors option cannot handle

[2019-08-06 15:14] sivel commented on #59949
See https://github.com/ansible/ansible/issues/58942

[2019-08-06 15:16] tima commented on #60134
I also agree. Forcing a lookup template etc is unnecessary repetitive and annoying to keep doing especially given how common reading in a templatized YAML file will be.

[2019-08-06 15:21] D3DeFi commented on #59624
Setting which host interface is main is still possible for the user, but if we would to allow template1 to be assigned to SNMPinterface1 and template2 to SNMPinterface2 it would require a lot of workaround in the module itself.

I am sure that this is not possible when creating host for the first time as it requires only one interface of each type to be main (`host.create` API call, SNMPinterface1

[2019-08-06 15:22] #59973 closed, assigned to nobody

[2019-08-06 15:22] samdoran commented on #59973
Closing per above.

[2019-08-06 15:23] fabianvf commented on #60134
big +1 from me, would make k8s targeted playbooks/roles much much cleaner

[2019-08-06 15:23] nwsparks commented on #60133
It is just left out so it is defaulting to *, but yes it wouldn't hurt for it to be defined more explicitly.

I don't think isn't an unexpected result, it's what happens if you were to do this same action via the GUI without defining SNI. At the end of the day there is some onus on the end user to have an understanding of how the underlying systems that Ansible modules are targeting function.

[2019-08-06 15:26] richlv commented on #59624
I suspect that this might work:

* Create host with templates for one of interfaces per interface type.
* Update the host by adding more templates, again for one of interfaces by interface type. In this step, one could pass the existing and new templates. This way the existing templates would be lost. The crucial bit is that assignment to interfaces happens only when linking the template - if it's

[2019-08-06 15:26] samdoran commented on #60001
This question is best answered via IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-06 15:26] #60001 closed, assigned to nobody

[2019-08-06 15:31] nwsparks commented on #60133
If the docs were to be updated, I think the best way of going about it would just be a note that the end user should have an understanding of SNI and maybe links to some Microsoft articles describing it along with binding configurations in the description section. I'm not opposed to it, it is just not something that I felt was necessary when writing this module and don't have time or desire to dea

[2019-08-06 15:37] nfantone commented on #60133
Well, that is debatable, I think. At least on Windows Server 2012 and up, if you try to set multiple sites without SNI, you get a warning and a dialog _explicitly telling you_ what you are about to do.

![image](https://user-images.githubusercontent.com/476069/62553946-2e099400-b868-11e9-803a-0b231a8b79ef.png)

I'd argue this is not the case with an Ansible playbook.

[2019-08-06 15:38] samdoran commented on #60063
This is not something we plan to add to the `file` module. This functionality should live in a `touch` or `fallocate` module, which could be a custom module as part of a collection.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-08-06 15:38] #60063 closed, assigned to nobody

[2019-08-06 15:40] abadger commented on #59674
Hmmm.....  Could you try:
[code]

The only thing I can think of is that there are multiple python3's installed and pip3 is looking at a different python3 installation than build-ansible.py.  (I have multiple pyhton3's on my system for testing so I know this is a possibility but I don't know if it's what's going on here).

[2019-08-06 15:41] nfantone commented on #60133
My point here is that this happens _with default values_ and with no error/warning report of any kind back from Ansible output, which makes it harder to troubleshoot and debug. It's kind of a trap setup from the beginning, specially for less experienced users like myself.

[2019-08-06 15:41] samdoran commented on #60087
This sounds like something is hanging on the remote device. Look in the output of `dmesg` and proved play output with `-vvvv`.

needs_info

[2019-08-06 15:44] samdoran commented on #60101
The hosts are missing a `:` at the end of each host. What you are getting is a single host name `10.0.1.1 10.0.1.2` rather than two hosts.

[code]

[2019-08-06 15:45] #60101 closed, assigned to nobody

[2019-08-06 15:49] samdoran commented on #60116
cc @nitzmahone @jborean93

[2019-08-06 15:50] samdoran commented on #60119
Please complete the information in the issue template so we can better understand this issue.

needs_info

[2019-08-06 15:50] sivel commented on #60119
!component =lib/ansible/modules/database/mysql/mysql_variables.py

[2019-08-06 16:06] mowgli commented on #56930
Hmm.. That chance hit me too.

Unfortunately we use network names as group names and that is not easily changable. I would love to opt out for the dot syntax sugar for group names as that is nothing I ever used (Although I use it with other variables).

It would be preferable to use `ansible-playbook whatever.yaml -l some.network.to.use` in future. Using any other than the network as group name wo

[2019-08-06 16:15] nwsparks commented on #60133
This is no different than any other form of scripting or automation. It is not designed to be interactive. As I said, the onus is on you to understand what it is you are writing and how it affects the underlying systems.

The defaults are the desired behavior for non SNI bindings, why would we throw a warning anytime someone tried to set this? Your "Failing" example could be a normal use case for

[2019-08-06 16:16] grez86 commented on #38264
yeah, it's ugly workaround, but worked for us since all our devices were configured with the same non-standard port. the workaround:
modify pyFG library file fortios.py, in our environment the file is located at
/lib/python2.7/site-packages/pyFG/fortios.py. You can simply hardcode 'port' : value to variable "cfg"  in function called open()

[2019-08-06 16:33] nfantone commented on #60133
For the same reason the GUI shows a warning: because this may have an undesired or unintended effect on your final result.

I agree with you here - partially. I understand your viewpoint, I also see how Ansible was built around the concept of abstracting away the complexities of describing, configuring and setting infrastructure up. I certainly don't _need_ to be a proficient Windows admin to crea

[2019-08-06 16:33] #60133 closed, assigned to nobody

[2019-08-06 17:13] ekohl commented on #52275
I can confirm that @natefoo's suggestions are correct. It'd be great to have this as part of https://docs.ansible.com/ansible/latest/modules/pip_module.html

[2019-08-06 17:25] jamesmarshall24 opened #60150 "Allow Less Permissive aws_s3 Download"
##### SUMMARY

Allow less permissive requirements for aws_s3 module "get" operation

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Allow minimal permissions for aws_s3 "get" requests for downloading files in public or shared s3 buckets.

##### ADDITIONAL INFORMATION
Old related issue: [ansible/ansible-modules-core/issues/2508](https://github.com/ansible/ansible-modules-core/issues/2508)

[2019-08-06 17:48] realged13 opened #60152 "vmware_guest: timezone customization"
##### SUMMARY

When adding `timezone:` parameter for vmware_guest customization, an error is received.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

windows server 2016, vmware 6.7

##### STEPS TO REPRODUCE

Just running a playbook with timezone configured.

[code]

##### EXPECTED RESU

[2019-08-06 18:00] uda opened #60153 "Installing `ansible[azure]` breaks existing `azure-cli` installation"
##### SUMMARY

Installing `ansible[azure]` breaks existing `azure-cli` installation if using the same environment.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`azure` extras installation:
`packaging/requirements/requirements-azure.txt`

##### ANSIBLE VERSION
Experienced on versions from 2.6.6 to 2.8.1

##### OS / ENVIRONMENT
Linux, Mac OSX and Windows.

##### STEPS TO REPRODUCE

* Install

[2019-08-06 18:53] geerlingguy opened #60155 "Add support for OS/Platform on collection galaxy.yml and UI"
##### SUMMARY

In Ansible Galaxy, roles can indicate platform/OS support with a `galaxy_info.platforms` in the `meta/main.yml` array of platforms (e.g. I can say my role supports "Fedora 29, CentOS 7, and Debian 10", among any other combinations).

In Collections, the `galaxy.yml` file does not offer any way to indicate which platforms are supported by a given Collection.

Plugins and modules migh

[2019-08-06 19:04] sivel commented on #60155
Related: https://github.com/ansible/ansible/issues/58892

[2019-08-06 19:11] Constantin07 commented on #59674
[code]

I don't have multiple python3 installed:
[code]

[2019-08-06 19:17] jborean93 commented on #59674
what does `which python3` show and `pip3 --version`.

[2019-08-06 19:59] #59734 closed, assigned to nobody

[2019-08-06 20:01] ShachafGoldstein commented on #60068
You only need to write the partial part of the IP for PTR records, ill create a DOCS PR later

[2019-08-06 20:07] geerlingguy opened #60157 "Show progress indicator on CLI while collection is being published"
##### SUMMARY

When I publish a collection to Galaxy, I see nothing in my console indicating activity, so I wonder if something is stuck.

Reading the [Collections documentation](https://docs.ansible.com/ansible/devel/dev_guide/collections_tech_preview.html#building-collections), I can see:

But it's not apparent just using the CLI, and it would be nice if there was at least something like a row o

[2019-08-06 20:09] geerlingguy commented on #60157
Also, I'm not sure what the collection publish timeout is by default, but it seems fairly short, because it seems after only 30s or so I got:

[code]

[2019-08-06 20:51] ShachafGoldstein commented on #59824
Are you sure it adds a new rule without the `state` parameter?

[2019-08-06 20:58] #59548 closed, assigned to nobody

[2019-08-06 21:21] hugonz commented on #34144
Also, generation of the same password happens if you specify a different character category, giving a password different than specified.

[code]

Gives:

[code]

[2019-08-06 21:22] pabelanger opened #60166 "ansible-test sanity AttributeError: 'NoneType' object has no attribute 'endswith' after test/sanity/ignore-2.9.txt"
##### SUMMARY
When testing ansible-test sanity with a collection, I see the following traceback, at first I thought it was because of a missing file, but adding it doesn't fix the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
923e21836b1a4fb91aa6e93463efe0aea4022144 Move plugin loader playbook dir additions back to Playbook instead of PlaybookCLI (

[2019-08-06 21:45] raffaeldutra opened #60167 "galaxy-info --offline option doesn't work"
##### SUMMARY
Running `ansible-galaxy info` command using --offline option does not give the "description" information from role_name/meta/main.yml.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
[code]
##### STEPS TO REPRODUCE
[code]

Executing the following command, you can't see the "description" information.
[code]
##### EXPECTED RESULTS
[code]

Changing the

[2019-08-06 21:47] billdodd commented on #60111
@champtar - Thanks for opening this.

Yes, the original design only supports setting a single attribute at a time.

I think the right solution will be to add a new input option to the module called `bios_attributes` with a type of `dict`.

Since the original design/intent was to do a single attribute at a time and a new module option will need to be added, I think this will need to be treated as a

[2019-08-06 21:55] cpmills1975 commented on #59558
!component =lib/ansible/modules/net_tools/netbox/

[2019-08-06 22:44] champtar commented on #60111
Hi @billdodd
should I do anything to convert this ticket in a feature request ?

[2019-08-06 23:07] #60166 closed, assigned to mattclay

[2019-08-06 23:31] willthames commented on #60134
Lovely idea, not at all convinced that it's workable in practice.

How will the module get all the required variables to do the templating?

Write the logic once using e.g. kube-resource role and then move on with your lives. We literally have one kubernetes role that manages *every* kubernetes resource.

https://github.com/willthames/ansible-role-kube-resource/blob/master/tasks/main.yml

I never

[2019-08-06 23:44] willthames commented on #60134
One other problem with this idea is that templating is done on the controller but the `k8s` module executes on the target. I'm not sure how many people actually have different controllers and targets for `k8s`.

I'd suggest this would be better as a proposal - it's not a `k8s`-specific concern, and suspect Ansible would need a bunch of changes to make this at all possible

[2019-08-07 00:35] billdodd commented on #60111
@champtar - It's probably a good idea. I think you just need to edit the original description text and change `Bug Report` to `Feature Idea`.

[2019-08-07 01:27] champtar commented on #60111
@billdodd not sure the bot is looking for changes :(

[2019-08-07 02:31] ramooncamacho commented on #51750
It's correct now.

[2019-08-07 02:41] queglay opened #60176 "Bind mounts not working for lack of "requires" option."
##### SUMMARY
when mounting an nfs volume, and also multiple bind mounts, the current mount module doesn't allow us to use lines like
[code]
per this use case on stackexchange-
https://unix.stackexchange.com/questions/486777/etc-fstab-fails-to-bind-mount-on-boot-but-running-mount-a-works-correctly

in my case, using standard ansible mount commands, I can only produce an fstab file that looks like

[2019-08-07 03:27] billdodd commented on #60111
Looks like it did add the `feature` label; it just took a little while. Thanks.

[2019-08-07 03:54] mlda065 commented on #60120
I was just reading [this developer guide](https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_best_practices.html).

Is that applicable? I don't know what a role is, in the context of a standard building block. (I've used 'roles' to split up a huge playbook into groups of tasks.)

[2019-08-07 05:08] felixfontein commented on #57277
resolved_by_pr #60172

[2019-08-07 05:08] Fred-sun commented on #58601
@MyronFanQiu Do you have any update for this issue? Thank you very much!

[2019-08-07 06:08] Fred-sun commented on #58624
Thanks for your reply. I can't reproduce your fail. Could you can share your full playbook and detail fail info? I will try again, Thanks a lot!

[2019-08-07 06:15] Fred-sun commented on #58709
@zikalino Any update for this issue? please! Thanks a lot!

[2019-08-07 06:33] m9rco opened #60179 "SSH delay is invalid，blockages"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

[code]

[2019-08-07 07:23] karniemi opened #60184 "VMware: vmware_guest(state:absent, force:yes) does not wait for power off"
##### SUMMARY
vmware_guest(state:absent, force:yes) does not seem to wait for power off before trying to delete the VM. Looking at the source code( set_vm_power_state() in [module_utils/vmware.py](https://github.com/ansible/ansible/blob/d165223f7468e46737927cbe80e90fa97d2be6fe/lib/ansible/module_utils/vmware.py#L721)  ) it seems to only wait for the task to complete, but not for the proper state.

[2019-08-07 07:39] pgbidkar commented on #60129
PR submitted https://github.com/ansible/ansible/pull/59431

[2019-08-07 07:41] matt-telstra opened #60185 "'Common environment setup' doesn't work for python 3"
##### SUMMARY

I tried following [these instructions](https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_general.html#common-environment-setup), for setting up a local development environment. I get `pip install` errors when trying it with python 3.

Since step 3 explicitly uses python 3, and only mentions python 2 in parentheses, I'm assuming this guide should work with python 3.

[2019-08-07 07:48] matt-telstra commented on #60185
!component documentation

[2019-08-07 08:06] Fred-sun commented on #58729
@andyeff Are you still focused on the problem? If the VM is designated in available zones at creation time, it is necessary to add zones in the playbook when restarting or stopping the VM. This will fix any errors you encounter. Thank you very much!
[code]

[2019-08-07 08:10] felyl-github opened #60193 "Associate multiple floating ips to server in os_floating_ip module"
##### SUMMARY

ansible os_floating_ip module support associate floating ip to server. However, it does not support to associate multiple floating ips (more than one) to server.
OpenStack support associating different floating ips to different fixed addresses of the same server with CMD:
         openstack server add floating ip servername --fixed-ip-address 192.0.2.3 203.0.113.3

Does ansible os_f

[2019-08-07 08:21] Fred-sun commented on #58818
@yungezz @zikalino

[2019-08-07 08:36] sumanyunandwani commented on #60087
ansible-playbook 2.6.5
  config file = /home/sumanyu/ansible/ansible.unreachable/inventories/playbooks/ansible.cfg
  configured module search path = [u'/home/sumanyu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (default, Jul 13

[2019-08-07 08:38] sumanyunandwani commented on #60087
This is the output by using '-vvvv'.
Note: It has **not** got stuck until now while using verbose. It gets stuck 1 out of 25 times when verbose is not there.

[2019-08-07 08:45] michaelsstuff opened #60195 "hcloud: missing option to create and assign floating ips"
##### SUMMARY
For management of the hcloud, we need an option to create, assign, remove and delete floating ips.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
hcloud_floating_ip
hcloud_floating_ip_facts

##### ADDITIONAL INFORMATION
https://docs.hetzner.cloud/#floating-ips-create-a-floating-ip

[2019-08-07 08:49] Akasurde commented on #60184
!component =lib/ansible/module_utils/vmware.py

[2019-08-07 08:50] Akasurde commented on #60184
@karniemi Thanks for reporting this issue.

[2019-08-07 08:51] michaelsstuff opened #60197 "hcloud_volume: no option to detach"
##### SUMMARY
The [documentaiton](https://docs.ansible.com/ansible/latest/modules/hcloud_volume_module.html#hcloud-volume-module) states taht you can `attach/detach block volumes`, but in fact you only create and delete them.
An option to just detach and attach them would be necessary.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
hcloud_volume

##### ADDITIONAL INFORMATION
API Docs:
http

[2019-08-07 08:58] LKaemmerling commented on #60197
You can attach (and detach) a volume by changing the `server` value, sample:
Attach:
https://github.com/ansible/ansible/blob/devel/test/integration/targets/hcloud_volume/tasks/main.yml#L79
Detach: https://github.com/ansible/ansible/blob/devel/test/integration/targets/hcloud_volume/tasks/main.yml#L101

[2019-08-07 09:05] #59361 closed, assigned to nobody

[2019-08-07 09:08] LKaemmerling commented on #60195
This is already WIP. Therefore we need to make some changes to our system :) (See https://github.com/ansible/ansible/pull/53551 for more details)

[2019-08-07 09:23] michaelsstuff commented on #60197
Thank you! Now it kind of makes sense.
I would just suggest to add this to the documentation?

[2019-08-07 09:23] #60197 closed, assigned to nobody

[2019-08-07 09:59] karniemi commented on #60184
There seems to be some bug in VMWare vCenter/ESXi as well. vCenter now claims that the VM is still powered on - but the ESXI-host has actually powered off the VM. And this is a persistent state. Now the VM cannot be powered off/on via the vCenter UI/API anymore, because the ESXi-host returns an error for the power-off request(because the VM is already powered off). We've had this happen few times

[2019-08-07 10:00] GrandeTartine opened #60199 "VMWare: vmware_guest_facts seems to ignore the folder option"
##### SUMMARY
When I use the folder option of the vmware_guest_facts, the module retrieve fact of another VM in a another folder, but not always.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Vcenter 6.5

##### STEPS TO REPRODUCE

I created 4 directories in my vcenter : /test00, /test01,

[2019-08-07 10:31] HardTy opened #60200 "tower_job_template: add option to set the custom_virtualenv for the job template"
##### SUMMARY
Add the possibility to set a custom_virtualenv for a job template in Ansible Tower. The tower-cli is able to do it. But the option is missing in the Ansible module tower_job_template.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
tower_job_template
As I know it is also possible to set the custom_environment in organization and project.

##### ADDITIONAL INFORMATION
We use th

[2019-08-07 10:41] gamename commented on #46447
I'm seeing this behavior in version 2.8.3 as well

[2019-08-07 10:44] next-jesusmanuelnavarro commented on #28514
Also present on ansible 2.8.3

[2019-08-07 11:55] GrandeTartine commented on #60199
It is more critical than I initially thought.

Other vmware modules are impacted too.

For example, same test but with vmware_guest. The playbook modify the VM cpu at the value of "loop.index +1" (so 1, 2 3, and 4). Instead of modifying it one time when the right folder is set, it's modifying it the 4 time.
So if for some reason you try to modify a non existing VM, you could end up modifying anoth

[2019-08-07 12:22] yuji-k64613 commented on #60054
The name parameter is a key, so I think it will be overwritten if the name parameters are equal.

[2019-08-07 12:24] pgbidkar commented on #60129
Submitted PR https://github.com/ansible/ansible/pull/60204

[2019-08-07 12:36] markuman opened #60205 "lack of check_type in proxysql_replication_hostgroups"
##### SUMMARY

The `mysql_replication_hostgroups` table in proxysql supports different values in column `check_type`  for different backends.
https://github.com/sysown/proxysql/wiki/Main-(runtime)#mysql_replication_hostgroups

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

proxysql_replication_hostgroups

##### ADDITIONAL INFORMATION

A current workaround for this is

[code]

[2019-08-07 12:39] #53297 closed, assigned to jillr

[2019-08-07 13:04] chris-short commented on #60134
@willthames At a cursory glance, this is marvelous. Will let the others look and dig in while I do the same this morning. But, regardless, thank you. cc @geerlingguy @tima @fabianvf

[2019-08-07 13:09] pgbidkar commented on #42262
Hi @forensicsguy817 , is API call made directly on ESXi IP? or via vCenter IP?

[2019-08-07 13:18] WilliamDEdwards opened #60208 "authorized_key removing keys added by same task with loop"
##### SUMMARY
When using a loop (`with_items` or `with_nested`) with the `authorized_key` module, Ansible removes previously added keys by the same task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The keys should all be added

[2019-08-07 13:42] cmoone opened #60209 "Missing options for gcp_compute_instance.py"
##### SUMMARY
Add deletion_protection true/false as an option for gcp_compute_instance.py. Add Shielded VM
options, Turn on Secure Boot true/false, Turn on vTPM true/false, Turn on Integrity Monitoring true/false.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_instance.py

##### ADDITIONAL INFORMATION
Would be used to fully configure an instance on creation from Ansible playboo

[2019-08-07 13:51] jean-christophe-manciot commented on #58202
I have already provided [a comment](https://github.com/paramiko/paramiko/issues/23#issuecomment-354154787) inside a similar paramiko thread almost 2 years ago.
I'm surprised to realize that this type of issue is apparently so complex and taking so long to be solved in paramiko.
Also, the workaround to put the right key in the first position of the ```sshcontrol``` file of the gpg-agent each time t

[2019-08-07 14:02] mattclay commented on #59960
Resolved by https://github.com/ansible/ansible/pull/60147

[2019-08-07 14:02] #59960 closed, assigned to mattclay

[2019-08-07 15:18] octagonprogramming commented on #59824
Yes I tested this when the suggestion was made. It only appears to be a problem with the rules that I specified in the sample code as well.
Also the state parameter is by default set to present.

[2019-08-07 15:20] d-little commented on #51750
Awesome, thanks!

bug_resolved

[2019-08-07 15:25] danielmotaleite commented on #29201
Using ansible 2.8.3 AND `shrink: no` and it still fails:

[code]

[code]

[code]

Even worse, i understand that 100%FREE is no idempotent, but 100%PVS or 100%VG should be idempotent always, even with shrink=yes, as the value do not change

[2019-08-07 15:35] geerlingguy opened #60215 "Support running ansible-test on collections outside a collection root"
##### SUMMARY

When I develop my Ansible Collections, I want to be able to use a typical development workflow:

  1. `git clone [my project] [local folder]`
  2. `cd [local folder]`
  3. `ansible-test integration` (or whatever other command for local testing)

Currently, if I do this I get the following error:

[code]

I feel like this presents a pretty significant burden on collection maintainers

[2019-08-07 15:36] geerlingguy commented on #60215
If this is also a requirement for running ansible-test in CI, that means everyone who wants to use ansible-test in CI will have to add boilerplate code at the beginning to copy the cloned project into some other directory, adding at minimum one or two extra lines of code to every CI configuration.

[2019-08-07 15:39] #59606 closed, assigned to nobody

[2019-08-07 15:52] anshulbehl opened #60216 "ansible-galaxy collection install requires a mandatory -p option"
##### SUMMARY
-p or --collections-path should not be mandatory and should pick up value of COLLECTIONS_PATH variable.
As a user of collection if I don't know which path ansible is using to load collection I will tend to make mistakes installing the collection to right path.
COLLECTIONS_PATH will make sure the collection will get picked up for sure.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2019-08-07 15:55] sivel commented on #60216
It is expected that the user must provide this value, and this was an explicit choice on our part.

Documentation is in the process of being updated currently: https://github.com/ansible/ansible/pull/60164

In the future, we may extend this to include some form of default value.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mail

[2019-08-07 15:55] chrismeyersfsu commented on #60216
This would be less painful if the debugging output, when you are testing calling the collection you installed, was more verbose. But, as it stands, the debug output when a collection is not found is not very useful.

[2019-08-07 15:59] geerlingguy opened #60218 "Allow use of 'tests' directory for storage of ansible-test tests and config"
##### SUMMARY

Many developers are used to storing testing code in a `tests/` directory in their project root, but the way `ansible-test` works currently requires testing code be stored only in a `test/` directory only.

It would be nice to either allow tests to be picked up from `test/` _or_ `tests/`, or to maybe pass a cli option (like `--test-dir`) or environment variable to specify the directo

[2019-08-07 16:04] mattclay commented on #60218
Currently collections use `test` because that is what Ansible uses. However, the plan is to use `tests` for collections, to match the other top level directories `roles` and `plugins` since they are also plural.

[2019-08-07 16:18] geerlingguy opened #60219 "Add option to clean ansible-test environment between integration tests"
##### SUMMARY

When I run `ansible-test integration --docker`, it runs all the roles inside `test/integration/targets` one-by-one, inside one container.

In order to isolate my integration tests, and ensure one doesn't affect the other, I would like the option to have the test container be killed and a new one run for each integration test.

Maybe a new option like `--clean`, `--clean-between-role

[2019-08-07 16:20] geerlingguy commented on #60219
If the long-term plan is to have Molecule be a more dev-friendly frontend for `ansible-test`, perhaps Molecule could solve this issue by effectively splitting `ansible-test` runs between each selected role, or among different OSes.

[2019-08-07 16:27] jean-christophe-manciot commented on #58202
Something seems off here; despite the following settings:
- ```ansible_connection: network_cli```
- ```transport = smart``` in ansible.cfg
- ```openssh-client 1:8.0p1-4``` which is very recent

```network_cli``` uses ```paramiko_ssh``` as a connection plugin, although it should try ssh first and thus avoid paramiko and its string of issues, right?

[2019-08-07 16:41] jtyr commented on #60176
Thanks for reporting the issue, @queglay. Unfortunately I don't understand what's the problem here. According to the StackExchange link, you just need to add `x-systemd.requires=/your_mount` into the `opts` option of the `mount` module:

[code]

This should work when Ansible runs it (first mount the NFS and then binds) as well as when the system reboots as the options contain the right order of mo

[2019-08-07 16:47] geerlingguy commented on #59563
+1 Most of my integration tests would need this feature, it's annoying having to put roles into place in CI manually.

[2019-08-07 17:00] Wiston999 opened #60224 "nxos_vrf errors with reserved words"
##### SUMMARY

Function `get_value` in `nxos_vrf` module https://github.com/ansible/ansible/blob/203caf2570e236e1569f7ebac738b41f51f1b02c/lib/ansible/modules/network/nxos/nxos_vrf.py#L381 doesn't handle using reserved words (`vni`, `rd`, `description`) as part of static route description or VRF description itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/network/nx

[2019-08-07 17:04] nyetwurk commented on #25414
This also worked perfectly for me. It is still prone to race of course but it solved my immediate issues.

[2019-08-07 17:14] anshulbehl commented on #60216
Reopening
@thaumos Can you take a stab as this and please close if this doesn't make sense

[2019-08-07 17:29] geerlingguy opened #60226 "ansible-test idempotence tests for roles in Ansible Collections"
##### SUMMARY

It would be nice to be able to test role idempotence in Ansible Collections when running integration tests with `ansible-test`.

Currently it's easy to test the idempotence of a single task, e.g.:

[code]

However, when testing roles (e.g. via `include_role`), there is no easy way to test idempotence:

[code]

In the case of `include_role`, the `changed` status is _always_ `false` b

[2019-08-07 17:38] samdoran commented on #60226
I would suggest the flag be something like:
`--check-end-state`
`--check-desired-state`
`--test-end-state`

Just throwing out some ideas.

[2019-08-07 17:43] mattclay commented on #60226
This is something that should be configured by the `aliases` file used by `ansible-test`, rather than a CLI option, since it's target specific. That way `ansible-test` will automatically know to run the test twice and check for changes.

[2019-08-07 17:58] mattclay opened #60227 "Move remaining ansible-test files into test/lib/"
##### SUMMARY

Move the remaining files needed by `ansible-test` into the `test/lib/ansible_test/` directory. This is required to implement: https://github.com/ansible/ansible/issues/59884

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

[2019-08-07 18:25] Constantin07 commented on #59674
[code]

[2019-08-07 18:36] opoplawski opened #60229 "ios_linkagg: allow creation of Layer 2 port-channel groups"
##### SUMMARY
ios_linkagg appears to create Layer 3 port-channel groups.  I would like to be able to create Layer 2 groups.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ios_linkagg

##### ADDITIONAL INFORMATION
Currently the module runs:
[code]
This defines a Layer 3 port-channel with an assumed "no ip address" added to the config.  Then when layer 2 interfaces are added to the group, it

[2019-08-07 18:49] Constantin07 commented on #59674
@jborean93 after installing the package `python36-pip.noarch` the error went away.

Thanks everyone for help.

[2019-08-07 18:49] #59674 closed, assigned to nobody

[2019-08-07 19:44] felixfontein commented on #59691
Thanks! The fix will be contained in Ansible 2.8.4 (see #59986).

[2019-08-07 20:00] larrybg opened #60234 "vmware_export_ovf fails with error "a bytes-like object is required, not 'str'""
##### SUMMARY

Exporting VM to OVF template with vmware_export_ovf module and getting error "a bytes-like object is required, not 'str'".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_export_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS - CentOS 7
AWX - 4.0.0.0
virtualenv - ansible 2.8.3

##### STEPS TO REPRODUCE

Clone existing VM with

[2019-08-07 20:05] felixfontein commented on #59972
Any opinions on this?

[2019-08-07 20:54] sivel commented on #60167
It looks like there a few problems that can contribute to this:

1. We set `GalaxyRole.path` to a potentially wrong value:

[code]
2. We assume that `description` should be top level, and not under `galaxy_info`. I'm not sure which is correct, but seeing as though init has been creating it this way for so long, maybe we want to check both locations

With (1), even if we don't "use the first path b

[2019-08-07 21:07] individuwill opened #60237 "aireos modules unable to handle binary data from controller"
##### SUMMARY

Cisco WLC release 8.8.120.0 returns non-ascii values with a `show run-config commands` command causing tasks and modules using this command to fail.

The binary data appears to happen in the same spot in the output from the controller and looks like this in the prompt:

[code]

There are a number of bytes that represent the binary data, one sample is: `\xc8\x92\xef\xbf\xbdR\x7f`

##

[2019-08-07 21:33] individuwill commented on #60237
The non-ascii values returned from the controller cause a UnicodeError exception on line 467 in file lib/ansible/plugins/connection/network_cli.pywhen `to_text fails` to convert the binary data to a string. This then causes the command to be re-sent on line 284 of lib/ansible/plugins/connection/network_cli.py as UnicodeError is a subclass of ValueError.

The command that's resent is actually a str

[2019-08-07 21:46] damiandiaz76 opened #60244 "azure_rm_dnsrecordset_facts: When searching for A records, if there is an A record that is an "alias record set" the module fails."
##### SUMMARY
azure_rm_dnsrecordset_facts: When searching for A records, if there is an A record that is an "alias record set" the module fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/azure_rm_dnsrecordset_facts_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Fir

[2019-08-07 22:05] geerlingguy opened #60248 "Add option to leave integration test container running after test completes"
##### SUMMARY

When I'm developing and/or debugging a role in a Collection, there are often times where there's an error (e.g. "package xyz was not found").

If I see the error, under current `ansible-test` behavior, I need to then go somewhere else (e.g. molecule, or set up my own separate test environment locally) to debug this.

It would be nice if there were a CLI option like `--docker-preserv

[2019-08-07 22:06] geerlingguy commented on #60248
Between this and #60219 I think this one might be more helpful/higher priority from a role developer's perspective, just because I have to debug things frequently, and there's an easy enough (but annoying) workaround for #60219.

Note that in comparison, when I develop roles with `molecule`, the equivalent would be running `molecule converge`, which runs all the same stuff as a normal test run, bu

[2019-08-07 22:25] AndrewCi commented on #55560
Is there any update on this issue? I believe I've run into the same problem. Looking for some potential workarounds or solutions. @andrew80k @Tomorrow9 @Akasurfe

[2019-08-07 23:09] individuwill commented on #60237
Here's the traceback / logs resulting from a UnicodeEncodeError exception related to the `to_lines` function in aireos_command.py

[code]

[2019-08-07 23:25] anshulbehl opened #60251 "azure integration tests inside collection are not picking up generated config"
##### SUMMARY

When running ansible-test inside a collection created for azure, the generated cloud config is not getting picked up.
Renaming the cloud config from cloud-config-azure-<random_string>.ini to cloud-config-azure.ini fixes it but then it results in azure authentication issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure integration targets
##### ANSIBLE VERSION

[code]

[2019-08-07 23:55] willthames commented on #60120
@mlda065 - I think that advice is more if you're looking to build a module that is effectively equivalent to executing more than one module.

[2019-08-08 00:28] sysadmin75 commented on #55917
This error happens because mariadb server is running with unix_socket authentication. Following the steps in https://github.com/ansible/ansible/issues/56261#issuecomment-518706304 allows this to function properly.
I tested using the dev version.

[2019-08-08 01:26] pabelanger opened #60255 "collection roles can not use .yaml file extensions"
##### SUMMARY
I am currently experimenting on moving https://opendev.org/windmill/ansible-role-nodepool into a collection, however I am not able to import my role properly, because ansible doesn't seem to load a collection role using tasks/main.yaml

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_collection

##### ANSIBLE VERSION
Latest master

##### CONFIGURATION

[code]

##### OS /

[2019-08-08 01:28] mattclay commented on #60215
This can be made to work. We'll need to update `ansible-test` to detect a collection that is not in a collection root and copy the files into a temporary directory with the required structure before running the tests.

[2019-08-08 01:29] mattclay commented on #60215
However, that is only going to work for collections that do not have any dependencies on other collections, since we won't have a containing collection root to get dependencies from.

[2019-08-08 01:32] #60251 closed, assigned to mattclay

[2019-08-08 01:33] samdoran commented on #60255
!component =lib/ansible/utils/collection_loader.py

[2019-08-08 03:37] Tomorrow9 opened #60258 "VMware: require vmware_guest_tools_wait module return more tools specific facts not vm facts"
##### SUMMARY

This module can return the facts of VMware tools installed in guest OS, like: tools installed or not, tools running status, installed tools version, installed Open VM tools or VMware tools MSI install in Window or TAR install in Linux, the history of the tools install(need to test), etc.
Now, it returns VM facts we can get it from vmware_guest_facts module.

##### ISSUE TYPE
- Featu

[2019-08-08 04:43] mlda065 commented on #60120
I'm looking at the tests for AWS modules. Am I correct in thinking that `aws_acm_facts` has no integration test?

[2019-08-08 05:00] #55562 closed, assigned to justjais

[2019-08-08 05:10] pypb commented on #57671
Any progress on this? Can confirm the problem exists in Ansible 2.8.2 as well.

[2019-08-08 05:11] willthames commented on #60120
@mlda065 - looks like I got it into 2.3, before we started mandating tests for all AWS feature requests after so many bugs in 2.4!

[2019-08-08 05:11] pypb commented on #56049
Having this problem as well, Ansible 2.8.2.

[2019-08-08 05:19] mlda065 commented on #60120
Ah, so I'll have to write one from scratch? (Probably copying another AWS test.)

[2019-08-08 05:34] willthames commented on #60120
I am afraid so. But you'll need to test that your new module works one way or another, and the test suites are a really good starting point for doing that anyway

[2019-08-08 05:34] richlv opened #60259 "add --stop-at-task"
##### SUMMARY
Ansible has `--start-at-task` (https://docs.ansible.com/ansible/latest/user_guide/playbooks_startnstep.html), but no `--stop-at-task` - this can be useful in playbook testing and other scenarios.

The desire is to use this sometimes, at various tasks. Adding `pause` is not suitable for this purpose.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMA

[2019-08-08 06:05] #53536 closed, assigned to s-hertel

[2019-08-08 07:21] rmbleeker opened #60260 "Enable unarchive module to process plain, non-tarred archives"
##### SUMMARY
Not all archives are **tarred**, for example it's quite common for single files to be compressed directly with **gzip** or **xz**. Examples: log files compressed by logrotate (gzip) or binary software releases (often xz). It would be nice if Ansible's unarchive modules would be able to handle these files instead of failing because zip and gtar can't handle them.

##### ISSUE TYPE
- F

[2019-08-08 08:01] michaelsstuff opened #60261 "hcloud dynamic inventory label_selector does not work"
Hi,

I configured the hcloud dynamic inventory and in general it works, but it will not find anything with `key: label_selector`

https://docs.ansible.com/ansible/latest/plugins/inventory/hcloud.html

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hcloud.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

/root/ansible.cfg
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.181

[2019-08-08 08:05] imlight commented on #59496
??

[2019-08-08 08:23] LKaemmerling commented on #60261
The label selector needs to be a condition. (Like: `label_key=value` or `label_key!=value`)

So this is basically working as intended.

[2019-08-08 08:47] #47405 closed, assigned to Akasurde

[2019-08-08 08:58] Fred-sun commented on #59496
@MyronFanQiu Please take a look this issue when you're free! Thank you very much!

[2019-08-08 09:00] michaelsstuff commented on #60261
Can you please give me an example how to set the condition in hcould.yml?

[2019-08-08 09:01] TiJof opened #60263 "rabbitmq_user fail to update user password"
##### SUMMARY
updating rabbitmq user pass crash
creating the user is ok

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
What is working :
Without user already created :
  User created with password

What is crashing :
User alrea

[2019-08-08 10:52] Akasurde commented on #60199
@GrandeTartine Can you please verify if #60271 works for you and let me know? Thanks.

[2019-08-08 11:12] Akasurde commented on #60234
resolved_by_pr https://github.com/ansible/ansible/pull/60265

[2019-08-08 11:12] Akasurde commented on #60234
@larrybg Could you please check if https://github.com/ansible/ansible/pull/60265 resolves the issue for you and let us know ? Thanks.

[2019-08-08 11:12] Akasurde commented on #60234
needs_info

[2019-08-08 11:56] danielmellado commented on #58003
Hi @sky-joker! First of all thanks for bringing this up! Even though we've deprecated the `junos_vlan` module for the `junos_vlans` ones, yeah, it seems that those examples are wrong. If you just remove the vlan_name from your example as in:

[code]
It will just work. I'll update the module in any case to reflect this.

[2019-08-08 12:10] nicholasrodriguez opened #60275 "vmware_host_ntp Internal Module WARNING"
##### SUMMARY
When executing vmware_host_ntp an Ansible warning is issued

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_ntp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RedHat7.6 and CentOS 7.5
vSphere 6.7

##### STEPS TO REPRODUCE
Just run the module with some valid parameters as below. It has been tried with the Ansible 2.8 default module a

[2019-08-08 12:15] Yannis100 commented on #60124
#53380
#53384

[2019-08-08 12:26] iljdam opened #60276 "ansible.module_utils.network.aci.aci module is generating issues in custom module"
##### SUMMARY

ansible.module_utils.network.aci.aci module is generating issues in custom module (uEPG) that is using this library. Issue appears to be in get_diff_children method:

def get_diff_children(self, aci_class):
    proposed_children = self.proposed[aci_class].get('children')
    if proposed_children:
        child_updates = []
        existing_children = self.existing[0][aci_class].get(

[2019-08-08 12:32] GrandeTartine commented on #60199
@Akasurde I'm not completely familiar with the process to test PR in the best way. So here what i've done:
[code]

After that I re-play my test playbooks and it works partially.

With vmware_guest_facts, I think I don't really saw any difference:
[code]

But with vmware_guest it's partially working: only if I use "full" path (the directory path with the datacenter name). With the short directory p

[2019-08-08 12:46] andyeff commented on #58729
Hi @Fred-sun - yep, I am currently using a workaround of checking VM availability zone in the Azure Portal and manually adding it to the inventory.

I haven't yet checked if there's some other way to determine the availability zone of a machine using a different Ansible module, although I suspect I could use azure_rm_resource_facts to query the Azure API directly to get the information. (I haven't

[2019-08-08 14:01] arlaneenalra commented on #55738
I can confirm this is still a problem in 2.8. Based on my reading of the https://github.com/docker/docker-py/blob/master/docker/credentials/store.py#L49 There might be a simple API for this already in the docker library, but it doesn't appear to be explicitly documented ...

[2019-08-08 14:02] mircea-vutcovici commented on #59282
It seems to be a dupplicate of https://github.com/ansible/ansible/issues/57720

[2019-08-08 14:12] mattclay commented on #47014
We probably want an integration test, not a sanity test for `ansible-doc`.

There is an existing issue open for that: https://github.com/ansible/ansible/issues/59418

[2019-08-08 14:13] mattclay commented on #33831
!component test/lib/ansible_test/_internal/cli.py

[2019-08-08 14:16] mattclay commented on #42002
!component -test/lib/ansible_test/_internal/cli.py

[2019-08-08 14:17] mattclay commented on #33831
!component -test/lib/ansible_test/_internal/cli.py

[2019-08-08 14:18] mattclay commented on #54898
!component -test/lib/ansible_test/_internal/cli.py

[2019-08-08 14:30] sivel commented on #60276
!component =lib/ansible/module_utils/network/aci/aci.py

[2019-08-08 14:31] sivel commented on #60255
@pabelanger are you indicating that `.yml` works whereas `.yaml` does not?

[2019-08-08 14:43] pabelanger commented on #60255
@sivel yes, that is correct.

[2019-08-08 14:43] lebolo opened #60279 "Gunicorn module looks for pid file using non-standard keyword in configuration file"
##### SUMMARY
The gunicorn module looks in the configuration file for the pid parameter using the key `pid` (see [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/gunicorn.py#L184)), however the [official gunicorn configuration file](http://docs.gunicorn.org/en/stable/settings.html#pidfile) expects it to be `pidfile`.

##### ISSUE TYPE
- Bug Report

#####

[2019-08-08 14:46] mattclay commented on #31021
!component -test/lib/ansible_test/_internal/cli.py

[2019-08-08 14:48] #51265 closed, assigned to nobody

[2019-08-08 14:59] lousyd opened #60280 "sudo: illegal option `-n'"
##### SUMMARY
When I run an ansible command against a server with Sudo version 1.6.9p17, it fails with "sudo: illegal option" due to the "-n" option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
"ansible"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[lousyd@target-server ~]$ cat /etc/redhat-release
CentOS release 5.4 (Final)
[lousyd@target-server ~]$ su

[2019-08-08 15:22] roelvanduijnhoven commented on #33831
Would like to note that this still seems to be the case in the latest version.

[2019-08-08 15:32] felixfontein commented on #55738
@arlaneenalra if you want to try to implement this, you're very welcome to do so :)

[2019-08-08 15:32] jimi-c commented on #15484
Going back through old issues, and this _was_ discussed in February. The consensus essentially was that `run_once` has some odd behaviors in differing situations and essentially needs some new features to make those different behaviors configurable by the user. Since this has remained broken since 2.0, it might now be considered expected behavior by users so fixing it might cause as many problems

[2019-08-08 15:54] acdha commented on #55955
I just ran into this again while confirming that a playbook update worked on a fresh install, where until the old instance completed termination Ansible would attempt to SSH to it and then fail rather than starting the `exact_count` number of instances.

[2019-08-08 16:11] kbreit opened #60282 "[2]Collections documentation suggestions"
##### SUMMARY
Here is some general feedback about the `devel` version of the collections to documentation.

- [ ]  I would like to see recommendations on what namespaces and collections should be called. Should the namespace be my account (ex. kbreit) or may it be something else? The example in the documentation is for QRadar which falls under the community collection and doesn't make it clear wha

[2019-08-08 16:26] ableischwitz commented on #58619
@rpluem-vf This change does not seem to fulfill the initial request of this bug. The outcome of this change is right now that the module bails out with an error-message. The intention had been that a central-managed group gets created locally - with same GID of course.
The previous behavior simply created a local group, ignoring the given GID or the GID of the centrally-manged one.

[2019-08-08 16:28] kbreit commented on #60282
@samccann

[2019-08-08 16:36] samdoran commented on #60087
This looks like a good playbook run (as you stated). The only way to diagnose this is to inspect the logs on the system where the hang occurred. This does not appear to be a bug in Ansible.

If you are able to narrow this down to a simple reproducer that _always_ causes Ansible to hang, please open another issue.

[Here](https://tannerjc.net/wiki/index.php?title=Ansible_Hangs_Filament) is some use

[2019-08-08 16:36] #60087 closed, assigned to nobody

[2019-08-08 16:53] fordjes commented on #33402
This is still an issue now and is causing problems for my enterprise as well.  Please fix the module?

[2019-08-08 16:54] bcoca opened #60283 "missing collection module triggers 'no core modules present' message incorrectly"
Misleading error when using a non existing collection module (either not installed or via typo)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

any
##### STEPS TO REPRODUCE

Just run:

` ansible -m nothing.nowhere.nothere localhost  -vvv`

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-08-08 16:59] sumanyunandwani commented on #60087
I don't know if you get my problem so I am explaining again.

Generally what happens is -
Ansible creates a socket file in ~/.ansible/cp/ directory on the root device and it creates a ~/.ansible/tmp/ansible-tmp-% directory on the remote device (host). Then, Ansible creates **command.py** in this directory which runs on the host.

In my case, Ansible is getting stuck in **non-debug mode** and works

[2019-08-08 17:16] bcoca commented on #60087
debug does not change how things execute, it just adds extra messages to the output

[2019-08-08 17:21] sumanyunandwani commented on #60087
Yes, I know that. That is why I started this thread as it is a very uncanny situation. I daily run it ~30 times with different approach and this is my observation till now.

[2019-08-08 18:12] acozine opened #60284 "confirm behavior of dns_registration parameter for azure_rm_webapp"
##### SUMMARY
The documentation for the `azure_rm_webapp` module's dns_registration option states:

Whether or not the web app hostname is registered with DNS on creation. Set to C(false) to register.

This is counter-intuitive - as a user I would expect to set `dns_registration=true` to register the web app hostname.

Confirm the behavior of the code and update documentation as necessary to refle

[2019-08-08 18:18] Swetad90 opened #60285 "k8s plugin not overwriting sts, rather updating it"
##### SUMMARY
When using K8s module to deploy a prometheus statefulset with initial config containing secret name "prometheus_secret_name", when we change the ansible template file to rename it as "prometheus-secret-name", ansible is updating the statefulset to have both the secret names.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-08-08 18:34] saravananoff opened #60286 "vmware_guest- disks getting created on same datastore when cloning from template"
##### SUMMARY
When a VM gets created from an Template and disks should be created on defined datastore. But disks are getting crated on same datastore.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VMware Vsphere 6.0
Deploying Windows Server 2016 Template with multiple disks.

##### STEPS TO RE

[2019-08-08 18:41] mariolenz opened #60288 "VMware modules: Remove unnecessary Python 2.6 compatibility tests"
The **Control Node Requirements** in the [Installation Guide](https://docs.ansible.com/ansible/2.8/installation_guide/intro_installation.html#control-node-requirements) are this:

The VMware modules all run on a control node. Nevertheless, Shippable tests for Python 2.6 compatibility.

##### SUMMARY
Shippable integration tests fail because #60233 isn't compatible with Python 2.6. Why test for 2.6

[2019-08-08 18:46] sivel commented on #60288
We are working towards a point where we no longer test controller side code on Python 2.6, but that work requires us to implement split controller and target testing.  However, as worded here and in the document you indicate, modules are not controller only execution.

Maintaining python 2.6 compatibility from a syntax check, is easy and simple enough to not cause much of a pain, so at this point,

[2019-08-08 18:46] #60288 closed, assigned to nobody

[2019-08-08 18:53] fabianvf commented on #60285
if you add `merge_type: merge` parameter to the task it should clobber lists instead of trying to do an intelligent merge. You could instead set the `force: yes` parameter, it will issue a `replace` rather than a `patch`, which will make it clobber the entire object.

In `2.9` we have a basic implementation of `apply` that should fix this issue for good.

[2019-08-08 18:55] #58942 closed, assigned to nobody

[2019-08-08 18:55] #59949 closed, assigned to nobody

[2019-08-08 19:06] sivel commented on #60150
!component =lib/ansible/modules/cloud/amazon/aws_s3.py

[2019-08-08 19:08] sivel commented on #60153
!component -lib/ansible/modules/packaging/os/installp.py

[2019-08-08 19:09] sivel commented on #60153
cc @haroldwongms @nitzmahone @yuwzho @yungezz @zikalino

[2019-08-08 19:10] sivel commented on #60155
cc @chouse @awcrosby @thaumos

[2019-08-08 19:12] sivel commented on #60157
We can see maybe doing this in the future. It likely will not happen for 2.9.  A lot of details will have to be worked out, as urllib doesn't give us great insight into the upload status.

[2019-08-08 19:17] #58992 closed, assigned to samccann

[2019-08-08 19:18] sivel commented on #60176
needs_info

[2019-08-08 19:19] geerlingguy commented on #60157
@sivel - Even without a progress bar, just an indication that something is happening would be nice.

[2019-08-08 19:20] sivel commented on #60179
Based on the information provided in this issue we do not have enough context in order to help you further here.  I would recommend you try the mailing lists or IRC first to try getting assistance.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-08 19:20] #60179 closed, assigned to nobody

[2019-08-08 19:24] woodard opened #60291 "Systemd enable service doesn't work in chroot"
This was already reported but the bug was closed with no obvious resolution.
https://github.com/ansible/ansible/issues/21026 and the issue still exists in both 2.7.10 and 2.8

##### SUMMARY
Ansible won't let you do it because the module checks the state of the service before enabling (systemctl status <service>).  This results in a 'failed to connect to bus' error (for obvious reasons).

##### ISS

[2019-08-08 19:25] jborean93 commented on #60157
I agree this can be better, if you run with a higher verbosity it will show something is happening but let's improve it. As for the timeout, it uses a expotential backoff wait which should last for about 60 seconds https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/collection.py#L767. I only tested with smaller collections and they all imported within 10 seconds but sounds like a lar

[2019-08-08 19:28] sivel commented on #60244
!component =lib/ansible/modules/cloud/azure/azure_rm_dnsrecordset_facts.py

[2019-08-08 19:33] sivel commented on #60259
!component =lib/ansible/plugins/strategy/__init__.py

[2019-08-08 19:36] sivel commented on #60260
A gzip on it's own is not an archive, it is a compressed file.  As such, we have previously stated that this should be supported in it's own module.  Please see https://github.com/ansible/ansible/issues/23048

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-08 19:36] #60260 closed, assigned to nobody

[2019-08-08 19:42] sivel commented on #60291
!component =lib/ansible/modules/system/systemd.py

[2019-08-08 19:48] sivel commented on #60185
The error listed in the output is not really an error, and does not impact the success of the `pip install` command.

The failure is in that `pip` attempts to create a wheel package using the python `wheel` library, but it is missing, and fails to build.  However, the install continues to succeed by installing without a wheel package.

This is not a problem with Ansible as we do not require the wh

[2019-08-08 19:48] #60185 closed, assigned to nobody

[2019-08-08 19:48] sivel commented on #60280
Ansible does not support systems with older python.  CentOS5 includes Python2.4.  You could potentially install a newer python.  However, the `-n` option for sudo is needed for us to handle passworded sudo prompts.  If you have passwordless sudo, you might be able to get past this point, but as we no longer officially support CentOS5, you are on your own.

If you have further questions please stop

[2019-08-08 19:48] #60280 closed, assigned to nobody

[2019-08-08 19:51] sivel commented on #60291
This issue goes deeper than just wanting the systemd module to just be able to handle this solution.  This module requires that there be a fully working systemd implementation, and if inside of a chroot, it must be fully functional from within the chroot.  The details of getting such a systemd implementation working are outside of the scope of support we can provide here.

If you have further ques

[2019-08-08 19:51] #60291 closed, assigned to nobody

[2019-08-08 20:08] pabelanger opened #60292 "Need way to tell which collections are installed"
##### SUMMARY
Using both ansible-galaxy collection build and ansible-galaxy collection install work as expect, however once run there is no way for a user to tell if said collection has been installed. Today a user needs to manually search the filesystem for collections.

This would be a requirement for building automated testing as we have no way to knowing which collection was build or installed

[2019-08-08 20:17] samdoran commented on #60208
The `authorized_key` module uses the SSH key as a unique identifier and ignores all other parts of the line when locating existing keys in the file. Each time it finds a line with that key in the file, it replaces that entire line. It does not compare the key _and_ all options.

Since this task uses the same key with different options, the module replaces the key four times.

What you are trying t

[2019-08-08 20:17] #60208 closed, assigned to samdoran

[2019-08-08 20:46] tabowling commented on #60291
Hi @woodard  We, or rather @larskarlitski, discovered the same when exploring how we might use Ansible in the rhel image builder tooling for creating OS images without booting a vm.  We received the same answer that most modules are expecting the live system to be present for all the idempotent validation and it would be too much try to update them all.

I'm very curious what your use case is that

[2019-08-08 21:06] larrybg commented on #60234
Playbook run for a little over 7 hours and failed with this error:

[code]

[2019-08-08 23:40] L1ghtn1ng opened #60296 "group module: support creating multiple groups"
##### SUMMARY

Be able to do the following;
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

group module

##### ADDITIONAL INFORMATION

From the documentations https://docs.ansible.com/ansible/latest/modules/group_module.html example you would need to create multiple entries for creating more than 1 group and I have tried running the below in a playbook and it fails. Being able to d

[2019-08-09 02:02] queglay commented on #60176
Thanks @jtyr, your totally right this works fine! Apologies it wasn't apparent to me.  As a suggestion I think this would be a good example to include in the documentation.  a lot of bind mount situations would require it to work reliably with systemd

[2019-08-09 02:09] Fred-sun commented on #56356
@zikalino Could you update the status of the problem handling? Thank you very much!

[2019-08-09 03:21] Fred-sun commented on #58729
@andyeff Thanks for your sharing. Normally, the zones parameter is not required for VM restart or stopping. This is a small bug and should be fixed in the future. Thank you very much!

[2019-08-09 03:42] mattclay opened #60299 "Failing integration test inventory_docker_machine"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

inventory_docker_machine integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test inventory_docker_machine is disabled because it fails on RHEL 8.0.

##### STEPS TO REPRODUCE

`ansible-test integration inventory_docker_machine --remote rhel/8.0 -v --allow-disabled`

[2019-08-09 03:42] mattclay commented on #60299
The test was disabled in https://github.com/ansible/ansible/pull/60298

[2019-08-09 04:41] felixfontein commented on #60299
Interesting (especially since it didn't do that when it got merged two days ago). I guess this is somehow related to docker-machine provisioning the machine. It's especially interesting since the version number of Python 3 didn't change, just the build date. Maybe the docker machine setup updates all / some system packages, and there's a newer version of the Python 3 package available?

Also CC @x

[2019-08-09 05:41] Akasurde commented on #42262
I think, `pysphere` uses internal VMware APIs which allows it to create VM and other operations on a free licensed ESXi. `Pyvmomi` restricts such usage of internal APIs, which maps directly in licensing model of VMware.

I would like to close this issue, since Ansible VMware modules relies on `Pyvmomi` and has same restrictions. There is no plan in providing any solution/workaround or 'hackish' wa

[2019-08-09 06:00] resmo commented on #60261
Hi @michaelsstuff

The missing label grouping possibility was added recently in #57586. Usage of the label selector however, should be (AFAIR):

[code]

[2019-08-09 06:31] Fred-sun commented on #60284
@yungezz @MyronFanQiu Please take a look this issue when you're free! Thank you very much!

[2019-08-09 07:26] rmbleeker commented on #60260
I was actually looking for an uncompress module for Ansible at first, when I couldn't find it I hoped that unarchive would do the job for me. It seems the uncompress module is in limbo and I have to resort to a shell command.

[2019-08-09 07:34] resmo commented on #58245
resolved_by_pr #60123

[2019-08-09 07:37] resmo commented on #58746
resolved_by_pr #60070

[2019-08-09 07:39] ximon18 commented on #60299
The Docker Machine `provision` command reference describes what DM does to a machine when it sets it up, but mentions nothing about package changes other than installing Docker if not present already. Could package dependent changes have happened as part of a Docker package install/upgrade?

From: https://docs.docker.com/machine/reference/provision/
[code]

The provisioning process specific to Red

[2019-08-09 08:04] mlda065 commented on #60120
Ok, I've almost finished writing the module, and a manually invoked integration test.

But I'm running into a bug with my code. How can I debug what my module is doing?

I put `module.debug('blah')` statements throughout, and invoke with `ansible-playbook -vvv`, but I don't see anything printed.

I just want to have a few print statements. How do I do that? (Even if I have to delete them before me

[2019-08-09 08:52] michaelsstuff commented on #60261
@resmo Thank you! Got it working.

[2019-08-09 08:52] #60261 closed, assigned to nobody

[2019-08-09 09:44] jtyr commented on #60176
I think that it's not necessary to document this specific feature as it's Systemd specific and there is nothing extra to do when using the `mount` module (just add the desired parameter into the `opts` option).

@ansibot please close this issue as it's `notabug`.

[2019-08-09 10:02] naphta commented on #36806
Any update on this issue? Is there something core blocking the implementation of this feature?

I'm happy to have a look at implementing it if there's nothing specific holding it back which I'm unaware of.

[2019-08-09 10:13] karniemi commented on #60184
(This comment is only indirectly related to the original issue in this ticket. It might explain a triggering condition.)

I'm wondering about this part:
https://github.com/doubleplush/ansible/blob/122d4164c583076cbededca60c9e17f5d550fba8/lib/ansible/module_utils/vmware.py#L51-L84

it's accessing "task.info.state" multiple times per round...but how/when does the value get updated? There's no specif

[2019-08-09 10:43] mgedmin opened #60307 "user: createhome=no fails with [Errno 2] No such file or directory"
##### SUMMARY

I am creating a system user account for Jenkins workers, and I want to create the home directory myself, after the user is already created.  Ansible 2.8 let me, current devel branch fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 19.04 on the controller, Ubuntu 16.04 and 18.04

[2019-08-09 10:50] mgedmin commented on #60307
I suspect I know what the problem is:

https://github.com/ansible/ansible/blob/49e16922b2aacadcf7a74ad0324e53594aa7ebb9/lib/ansible/modules/system/user.py#L2900-L2906

It is mistakenly using `os.path.baseame()` instead of `os.path.dirname()`, and since `user.home` is `/var/lib/jenkins-worker` with no dot extension, the basename is the same as user.home, which does not exist, so path_needs_parents

[2019-08-09 10:56] mkrizek opened #60308 "Some action plugins remove FQCN"
##### SUMMARY

Some action plugins use hardcoded module names which results in removing FQCN. Need to audit action plugins and take `task.action` into account?

Example:
https://github.com/ansible/ansible/blob/49e16922b2aacadcf7a74ad0324e53594aa7ebb9/lib/ansible/plugins/action/yum.py#L69

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`action plugins`

##### ANSIBLE VERSION

[code]

##### CO

[2019-08-09 11:06] OPSTime opened #60309 "archive: AttributeError: 'dict' object has no attribute 'startswith'"
**Version：**

**Error：**

**Task:**
[code]

[2019-08-09 11:13] ElwinRom commented on #24837
Is there Any update around this feature, we would really like to use it !

[2019-08-09 11:26] devdil commented on #24837
@ElwinRom I have found an alternative way to do this
nvme disks are nothing but disks attached to the host in my case it was nested virtual disks, in your case it could be actual disk.

Let me know if this helps @ElwinRom

   for index, value in enumerate(nvme_disks):
                    source_disk = value['Devfs Path'];
                    destination_disk = '/vmfs/volumes/{}/{}/{}'.format(self.

[2019-08-09 11:38] ibotty opened #60311 "git module does not need `repo` if update and clone is both set to no"
### SUMMARY
The git module needs `repo` set if a checked-out tree already exists and it should neither clone nor update the working directory.  A use case is getting the latest commits shasum.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
ansible 2.8.2

##### CONFIGURATION

ansible localhost -m git -a 'clone=no update=no repo=oeu dest=../website

##### OS / ENVIRO

[2019-08-09 11:40] froblesmartin commented on #20802
This will be addressed with this PR: https://github.com/ansible/ansible/pull/43128

[2019-08-09 11:58] tmtron commented on #43259
in my case I forgot to delete the leading dashes when copying variables to the `vars/main.yml` file of my role: e.g. this will fail
[code]
removed the leading dash and it works:
[code]

[2019-08-09 12:07] willthames commented on #60120
@mlda065 try running with `ANSIBLE_DEBUG=1`

Otherwise try the Troubleshooting section of http://willthames.github.io/2017/07/17/so-you-want-to-test-aws-modules-for-ansible.html

[2019-08-09 13:10] webknjaz commented on #60308
Should we patch `ActionBase._execute_module()` to inspect the current collection context?

[2019-08-09 14:16] Gianlu opened #60314 "Better error when validate command does not exist"
##### SUMMARY
Error in template module when using `validate` parameter is used

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible controller: Debian 9.9
ansible target: Debian 10 (buster)

##### STEPS TO REPRODUCE

I use ansible in order to render haproxy.cfg file and I use the template module.

[2019-08-09 14:18] #60176 closed, assigned to nobody

[2019-08-09 15:12] chrismeyersfsu opened #60316 "ansible-galaxy collections install -r requirements.yml to support multiple servers"
##### SUMMARY
Currently, a single api-server must be specified per `ansible-galaxy` invocation via `ansible-galaxy --server mygalaxy.myhost.com`. When processing a `requirements.yml` file where collections could come from multiple different servers, this is problematic.

I would like a way to specify multiple collection servers in a single invocation of `ansible-galaxy`. Preferably, somewhere in t

[2019-08-09 15:31] samdoran commented on #60307
Thank you for catching this and for tracking down the problem.

[2019-08-09 15:35] GrandeTartine commented on #60199
I just saw I have the same bug as these modules in a module I develope last year.

I fix it by not using any of the 'find_obj' function in module_utils. (I would have propose a fix, but I'm very confuse with the existing codebase, I'm beginner with python...).

But maybe it can help, here how I did it:

Here my function to retreve the vmware object corresponding to the folder: https://gist.github.

[2019-08-09 15:41] kuteninja opened #60319 "aws_s3 module should look for AWS_DEFAULT_REGION"
##### SUMMARY
aws_s3 module only looks for the environment variables `AWS_REGION` and `EC2_REGION` when the region parameter is unset

It should also lookup  `AWS_DEFAULT_REGION` which is the environment variable used by the latest versions of AWS CLI: https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#general-options

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3

##### AN

[2019-08-09 16:04] #60068 closed, assigned to nobody

[2019-08-09 16:38] kleptog commented on #22531
If you put the following as the very first line in your template, you can override this setting:
[code]

Apparently you can also use a plus symbol (like `{%+ foo +%}`) to do it per tag)

[2019-08-09 16:39] chouseknecht commented on #60316
For the first pass at this, we're going to implement a list of servers specified in the galaxy config file. See the [comment in the ansible-galaxy source](https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/galaxy.py#L584). The idea is attempt to download a collection from the list of servers according to some order of precedence, perhaps the order listed in the config file, top to botto

[2019-08-09 16:44] chouseknecht commented on #60316
There's a comment in [this PR](https://github.com/ansible/ansible/pull/59387#discussion_r305990492) from @jborean93 regarding the addition of multiple servers and tokens to the config file. He may already have plans for this work.

[2019-08-09 16:52] kutay opened #60322 "gcp_sql_instance - private_network is not supported at creation"
##### SUMMARY

When you create a Cloud SQL instance, it's possible to define a private IP address by associating the instance to a network/vpc.
It allows private direct access from VMs.

The gcp_sql_instance module does not have the parameter private_network in the request object, but you can see it in the response (if you get instance facts).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-08-09 17:03] kuteninja commented on #60319
I could not find any component or file to relate from the documentation https://docs.ansible.com/ansible/latest/modules/aws_s3_module.html

[2019-08-09 17:14] saravananoff commented on #60286
Did bit more research on the code, current code is only looking for Datastore assigned to Disk 0. IF template have 2 disks logic missing in code to handle 2 disks and 2 datastores.

Refer below lines in code, logic exist only for Disk [0]. No login for Disk[1]. So can we change logic to get number of disks in provided template, based on the number of disks process the datastore information.

[code

[2019-08-09 17:15] cesarjorgemartinez opened #60323 "Ansible yum module not downgrade 2.8.2"
##### SUMMARY
Ansible yum module not downgrade 2.8.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Yum module

##### ANSIBLE VERSION
2.8.2

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RedHat 7.6/7.7

##### STEPS TO REPRODUCE

[code]

When example

[code]

Show up to date.
If we have systemd old version then update correctly.

##### EXPECTED RESULTS
Downgrade installing exact version

[2019-08-09 17:29] adpavlov commented on #47171
same here in ansible 2.8.3
however, providing bellow ssh options to play solves hangs.

[code]

Also I never faced such issue with physical AIX servers, only with LPARs.

[2019-08-09 18:33] IPvSean opened #60327 "scm_update_cache_timeout warning, parameter is not ignored"
##### SUMMARY
warning is being displayed

[code]

This is being displayed despite the module documentation saying this parameter would be ignored (the module documentation says

source: https://docs.ansible.com/ansible/latest/modules/tower_project_module.html

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2019-08-09 18:56] sivel commented on #52868
Going to go ahead and close this per the above information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-09 18:56] #52868 closed, assigned to nobody

[2019-08-09 19:00] iridian-ks opened #60331 "tower_credential module InterpolationSyntaxError"
##### SUMMARY

Tower Module asks for a password. Passwords can contain almost any character. Password field tries to interpolate, but fails due to passwords containing % characters. I tried looking for a Filter to escape the password so it would work with interpolation properly, but I did not find an obvious Filter to use.

This isn't too different from this pull request: https://github.com/ansibl

[2019-08-09 19:00] sivel commented on #14681
https://github.com/ansible/ansible/blob/164881d871964aa64e0f911d03ae270acbad253c/lib/ansible/executor/task_executor.py#L670-L673

[2019-08-09 19:02] dillongilmore commented on #60331
I would like to note that this code was working when my password didn't contain any % characters. I'll temporarily change my password for now, but I think something should be done about this.

[2019-08-09 19:03] SWolfeAtOH commented on #59192
I'm seeing this same problem with Ansible=2.8.3, Python=3.6.8, and RHEL6. I don't receive this error using the same playbook with Ansible 2.7.8.

Here's the playbook output with -vvvv

[sxw842@vxonettool02 cisco_ios]$ ansible-playbook cfgerr_ios_banner.playbook.yml --limit=re-isfdc3b-05 --check -vvvv
ansible-playbook 2.8.3
  config file = /etc/ansible/ansible.cfg
  configured module search path =

[2019-08-09 19:03] chrissphinx commented on #38663
@ceving @bcoca comments that this is expected behavior https://github.com/ansible/ansible/issues/58952#issuecomment-510633259

[2019-08-09 19:05] sivel commented on #21773
Closing this as a duplicate of https://github.com/ansible/ansible/issues/59017 https://github.com/ansible/ansible/issues/49022

[2019-08-09 19:05] #21773 closed, assigned to nobody

[2019-08-09 19:07] sivel commented on #23727
!component =lib/ansible/modules/system/known_hosts.py

[2019-08-09 19:07] sivel commented on #23727
bot_status

[2019-08-09 19:08] #25715 closed, assigned to nobody

[2019-08-09 19:14] sivel commented on #24543
This issue was resolved in 8f97aef1a365cbbbb822d6d09f96af17a076b295 and subsequently included in the v2.4.0 release.

[2019-08-09 19:14] #24543 closed, assigned to nobody

[2019-08-09 19:29] lawsontyler commented on #59162
I'm having the same issue.

I've added: `use_contrib_script_compatible_sanitization: false` to my gcp_compute plugin configuration as per the docs and `force_valid_group_names = ignore` to my ansible.cfg.  The problem persists.

I just need some option to say "Do not convert my group names ever, for any reason" and have it respected throughout everything.

[code]

[2019-08-09 19:41] sivel commented on #28116
I'm not sure that this is reasonably solvable.  The escaping only affects the shell escaping, and the value ansible receives does not include the escapes.

You would have to double escape or quote so that ansible could even receive the escaped version:

[code]

I'm still not sure the time tradeoff for implementing the additional logic is really worth it.

We split the pattern before checking if `@

[2019-08-09 19:41] #28116 closed, assigned to nobody

[2019-08-09 19:44] mariolenz commented on #57389
@vijayscsa Can you please have a look at PR #60233? I think it will not be easy to backport this to 2.8, but at least it should fix this issue in the future 2.9 release.

[2019-08-09 19:48] nirvdrum opened #60335 "Update docs to use string values instead of ints"
##### SUMMARY

The documentation for various modules uses bare int values, but these now print a warning message indicating they should be quoted string values. The warning message was already reported as #58347 and closed as not a bug. Since it appears bare int values are no longer acceptable (at least not without a warning), I think the documentation should be updated to avoid use of such values

[2019-08-09 20:28] rhysmeister commented on #52897
3.2 is pretty old.... let's close.

[2019-08-09 20:28] #52897 closed, assigned to nobody

[2019-08-09 21:06] IPvSean opened #60345 "route53_facts parameter max_items asks for string"
##### SUMMARY
The max_items parameter will throw a warning for integers (numbers) and wants a string.  If you put an integer you will get a warning
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
route53_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.5 (18F132)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
no warning,

[2019-08-09 21:08] samdoran commented on #60345
This is not an issue with the warning, but an indication that the type for `max_items` should be change to `int` rather than `str`.

[2019-08-09 21:37] felixfontein commented on #57277
That PR has been merged.

[2019-08-09 21:37] #57277 closed, assigned to nobody

[2019-08-09 21:46] geerlingguy commented on #60157
@jborean93 - Yeah, in my case it's a collection with 11 roles: https://galaxy.ansible.com/geerlingguy/php_roles

I'm guessing the role import takes exponentially longer (per role) than modules/plugins, since it does the full linting/metadata process on each one.

[2019-08-09 21:48] geerlingguy commented on #60157
(I would also presume a collection like [debops.debops](https://galaxy.ansible.com/debops/debops) would be an even more extreme case, as it has over 100 roles).

[2019-08-09 21:49] felixfontein commented on #60299
I'm not using RHEL anywhere (or any related distribution), so I have no idea what exactly `yum -y update -x docker-*` does, but from the [man page]():
[code]
it looks like it updates every package it can find, except the `docker-*` packages. So I guess the result isn't very surprising.

@mattclay any ideas what we could do? Is there maybe a "lock" / "hold" feature which would allow to ensure that

[2019-08-09 21:54] kbreit opened #60346 "Default collection version should be 0.0.0"
##### SUMMARY
When I used `ansible-galaxy` to create a skeleton collection, the `galaxy.yml` file shows version as `1.0.0`. The https://semver.org/ website says:

`ansible-galaxy` will be used to migrate to collections for a while. But my feeling is the version should default to `0.0.0` and not `1.0.0` since my assumption is if I am creating a new collection, it is net new code.

##### ISSUE TYPE

[2019-08-09 22:02] mattclay commented on #60299
We really shouldn't be trying to update all the packages on the system for a single test. Is there some way we can completely disabled that behavior?

[2019-08-09 22:03] chris-kiick-sp commented on #51687
Have you tried using the to_json filter?  It outputs lists and maps with double quotes.

[code]
might work.

[2019-08-09 22:22] chris-kiick-sp commented on #59089
This _should_ work, but I don't have a TF enterprise account to test it.
[code]

[2019-08-09 22:45] octagonprogramming commented on #59824
My apologies for the delay I had to set up a new testing environment and this time it is a windows 2016 LTSB but still having the same issue with the firewall rule as I ran the firewall module and got the same result.
Here is my output for the powershell lines:
[code]

[2019-08-09 23:12] octagonprogramming commented on #59824
My apologies for the delay I had to set up a new testing environment and this time the target system is a windows 2016 LTSB but still having the same issue with the firewall rule as I ran the firewall module and got the same result.
Here is my output for the powershell lines:
[code]

[2019-08-09 23:26] das7pad opened #60349 "yum cleanup is broken"
##### SUMMARY
Performing a one off cleanup task like the cli command `$ yum autoremove` should remove orphaned packages, like previous dependencies. But translated into an ansible task, no changes are applied to the system.

[code]

Quoting from the docs for the `autoremove` option of the yum module:

I already spotted the bug (-> PR https://github.com/ansible/ansible/pull/60350), but noticed anot

[2019-08-09 23:38] andrew80k commented on #55560
@AndrewCi Unfortunately, I don't have any updates from my side.  I can reach out to my contacts within this environment to see if they can check something. and am happy to do so.  I doubt they have resolved this in any meaningful way.

[2019-08-10 00:18] Im0 commented on #58082
@ewosborne that's strange... I'm using 2.7.11 which seems to be OK for `debug` and `wait_for`.  I'll have to double check again though.

[2019-08-10 01:55] lansman opened #60354 "The module gather_facts was not found in configured module paths. Additionally, core modules are missing."
##### SUMMARY
$ ansible all -m gather_facts --tree /tmp/facts
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

HOST OS:
(WSL inside Windows 10)
[code]

TARGET OS:
[code]

##### STEPS TO REPRODUCE
Just install ansible on host os
`sudo apt update && sudo apt install ansible`
Execute
`ansible

[2019-08-10 02:04] lansman commented on #60354
gather_facts is avaiable since version 2.8, i have 2.5.1

[2019-08-10 02:04] #60354 closed, assigned to nobody

[2019-08-10 02:54] jkirk commented on #56546
Having an own set of rules to validate YAML is fine (thx for providing the link), but wouldn't it be nice to deploy a `.yamlint` in the newly initialized role folder?

I tried the following, which seem to do, what I was looking for:
[code]

**tl;dr**: Create a `.yamlint` with the project specific set of YAML rules. @sivel  What do you think?

[2019-08-10 03:33] mhimuro commented on #59433
@sysadmin75
thanks you for checking fedora 29.

I have just putted my playbook.
https://github.com/mhimuro/helloworld-ansible/tree/issue/59433

I have reproduced following the case too.

management node
CentOS Linux release 7.6.1810 (Core)

target node
CentOS Linux release 7.4.1708 (Core)

[2019-08-10 07:28] thatsdone commented on #58495
Hi,
I got a similar (but could be different) issue while issue using ansible 2.8.3 (from releases.ansible.com).

In case of me, I was using just a single neutron port per VM, and at first I wrote 'security_groups:' for
'os_server' task. The below is the error I got when I run my playbook for an ACTIVE nova VM (on my CentOS Rocky installation).

[code]
After moving the 'security_groups:' tag to 'os

[2019-08-10 08:44] ximon18 commented on #60299
Docker Machine assumes it has complete ownership and control of the target machine. I’m not aware of any way to restrict this behaviour, I’ll investigate and post back here. *Update:* It is not possible to restrict this behaviour through a docker Machine option or configuration.

However, even if we manage to restrict the behaviour, some future version of Docker Machine might do something else to

[2019-08-10 11:25] ShachafGoldstein commented on #59824
I meant running it yourself on the machine in a Powershell window.
I can't replicate this issue on any machine I tried.

Maybe a permissions issue? can you try running with a stronger user if not currently?

[2019-08-10 13:27] ShachafGoldstein commented on #59056
@pawellrus - has this happened with any other update since?

[2019-08-10 13:32] pawellrus commented on #59056
@ShachafGoldstein, i will check it soon. May be on next week.

[2019-08-10 15:02] johanneskastl commented on #59686
I can confirm that the installation of python2.7 as a dependency to some package was the culprit in this case. Setting `ansible_python_interpreter = /usr/bin/python3`  solved the issue.

[2019-08-10 15:29] ekzkgz opened #60362 "routeros_command - fails with timeout on "/system reboot""
##### SUMMARY
When running a command `/system reboot` recieve:
"command timeout triggered, timeout value is 30 secs.\nSee the timeout setting options in the Network Debug and Troubleshooting Guide."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
routeros_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9
RouterOS 6.45.2-3

##### STEPS TO REP

[2019-08-10 16:05] Rick-McClatchie opened #60363 "Create Server from custom image (snapshot) fails"
##### SUMMARY
Currently, when trying to create a Hetzner Cloud server from a custom image (snapshot) it fails with an error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hcloud_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
1. Create an custom image (snapshot) from an existing Hetzner Cloud server
2. Get the Snaps

[2019-08-10 16:37] jmart1 commented on #60363
+1 having the same problem

[2019-08-10 16:43] mcandre opened #60364 "sshd for MS-DOS"
##### SUMMARY

Please provide an SSH *server* for MS-DOS, so that Ansible is able to provision DOS nodes remotely.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

sshd

##### PRIOR ART

http://sshdos.sourceforge.net/

https://www.freedos.org/

https://www.caddit.net/pythond/

[2019-08-10 19:28] WilliamDEdwards commented on #60208
I don't see how this should be expected behaviour. This is not what a loop is meant for.

[2019-08-10 23:11] felixfontein commented on #59232
I guess to fix this, we would have to parse the stdout of https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_login.py#L224 to see whether it contains `Not logged in to ` (https://github.com/docker/cli/blob/master/cli/command/registry/logout.go#L64). That would be somewhat hackish, especially since we have to rely on that this string is never changed (or translate

[2019-08-11 00:10] yuji-k64613 commented on #60311
The repo parameter is \`required\`. So I think it is necessary.
[https://docs.ansible.com/ansible/latest/modules/git_module.html#git-module](url)

[2019-08-11 00:56] dw commented on #60364
I came to the tracker looking for answers and .. instead found curious memories. I have no idea what I'm doing here any more, and my mind is awash with.. images of a wonderful place that long since ceased to be. The muffled clack of an AT keyboard used surreptitiously, a worrisome sawtooth beep accompanying the flash of an Energy Star insignia and the gentle crackle of static, eerie phosphors cozi

[2019-08-11 04:46] jsutton commented on #12533
ansible 2.8.3
  python version = 3.6.8 (default, Jan 14 2019, 11:02:34) [GCC 8.0.1 20180414 (experimental)

Considering the following playbook:

[code]
If I run `ansible-playbook site.yml --list-tasks` I get the following:
[code]

This is the expected output. If I then run `ansible-playbook site.yml --list-tasks --skip-tags play1_tag1` I get the following:

[code]
Notice that the tasks in `play #1

[2019-08-11 06:08] #59617 closed, assigned to Akasurde

[2019-08-11 09:34] sradco opened #60380 "Nightly builds for epel does not use the same spec as fedora and python2-jmespath is not requires"
Description of problem:
oVirt wants to use the latest nightly epel builds from:
https://releases.ansible.com/ansible/rpm/nightly/stable-2.8/epel-7-x86_64/

But the spec that epel uses is the one that comes from Fedora:
https://src.fedoraproject.org/rpms/ansible/blob/master/f/ansible.spec#_226

We see the issue with missing package:
Requires: python2-jmespath

We would like the epel builds to be si

[2019-08-11 09:55] tlebrize commented on #60309
This is not how you use the archive module, the path parameter should be a string.
[Example from the docs](https://docs.ansible.com/ansible/2.4/archive_module.html#examples)

[2019-08-11 11:47] #57991 closed, assigned to nobody

[2019-08-11 11:58] abadger commented on #60380
!bot_skip

[2019-08-11 11:58] ehabarman opened #60382 "Contributing to ansible and shippable issue"
Hello all,
I would like to contribute a module to Ansible but I'm still new to the whole open-source contribution in general. I have met an issue and it would be great if someone could help me or explain why it happens.

I created the module and pushed to my forked repository then made a PR. Ansible-bot shows that my PR have no conflicts with the base branch. But the shippable CI failed with 1 fai

[2019-08-11 12:02] liranr23 opened #60383 "ovirt: linux boot params removal"
##### SUMMARY

linux boot parameters for a VM is going to be removed due to:
https://bugzilla.redhat.com/1732437
The ansible should not be able to invoke these options.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_vm
ovirt_instance_type

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Shoul

[2019-08-11 12:10] felixfontein commented on #57991
The comment will be returned as a separate return value in Ansible 2.9 (this is more a new feature than a bug). Also, the idempotency w.r.t. comments has been improved a lot; a backport (#60374) to stable-2.8 exists and so it will appear probably already in 2.8.4.

[2019-08-11 12:12] felixfontein commented on #57991
This will still be true in Ansible 2.9, since the comment is not part of the public key, but an extra field next to the public key.

[2019-08-11 12:16] #60382 closed, assigned to nobody

[2019-08-11 12:50] markatdxb opened #60385 "F5 bigip_gtm_topology_region broken after last update"
##### SUMMARY

no changes made on our playbooks, since few days started getting error :

"msg": "Unsupported parameters for (bigip_gtm_topology_region) module: proxy_to found in provider. Supported parameters include: auth_provider, password, server, server_port, ssh_keyfile, timeout, transport, user, validate_certs"

we dont use proxy_to parameter at all - never used
##### ISSUE TYPE
- Bug Report

[2019-08-11 13:27] felixfontein commented on #59253
(On pyOpenSSL deprecation: I've created a PR for that in #59907)

[2019-08-11 13:42] felixfontein commented on #59253
`raw` is only supported for the X448 key exchange, BTW (see https://cryptography.io/en/latest/hazmat/primitives/asymmetric/serialization/#cryptography.hazmat.primitives.serialization.PrivateFormat.Raw). There can potentially be another option, `encoding`, which could be `PEM` (default) or `DER`.

[2019-08-11 14:11] wojtek0806 commented on #60385
this is because changes were made to common.py removed deprecated parameters you need to update your ansible dev and ensure the contents of common.py match

[2019-08-11 14:12] wojtek0806 commented on #60385
close_me

[2019-08-11 18:25] mariolenz commented on #57535
I think there are some more problems in this module. Look at lines 173ff:
[code]
I think the last `if` is unnecessary because the first one already fails the module. Looks like the last three `if`s will never be executed because the first three already cover their conditions and make the module fail.

[2019-08-11 19:42] dhoer commented on #18917
I wanted to force password change as well on Ubuntu 16.04. The following is a work around for this limitation:

    # task
    - name: create accounts
      user:
        name: "{{ item }}"
        groups: sudo
        append: true
        shell: /bin/bash
        create_home: true
        password: "{{ accounts_password }}"
        update_password: on_create
      loop: "{{ new_accounts }}"

[2019-08-11 21:00] jborean93 commented on #60157
This begs the questions as to whether we want to have a default timeout at all. Maybe we should just indefinitely wait until the import process has finished and allow people to specify their own smaller timeout if they wish. Having a progress indicator would set aside my main concerns that having an indefinite timeout would make people think that something is stuck on long imports.

[2019-08-11 21:06] mcandre opened #60390 "Enhancement: Delay timer between each character of telnet commands"
##### SUMMARY

Some telnet servers, such as rmenu for FreeDOS, corrupt client commands when characters are sent too quickly.

In addition to the `pause` parameter for delays between commands, please add a parameter like `pause_byte` for delays between individual (hot)keys within a command. That way, telnet commands will be processed more reliably on legacy nodes.

##### ISSUE TYPE

- Feature Idea

[2019-08-12 02:16] #60385 closed, assigned to nobody

[2019-08-12 02:51] Fred-sun commented on #44806
@zikalino Could you please look at this problem again? Thank you very much!

[2019-08-12 02:51] mlda065 commented on #60120
Thanks, that article is helpful, but I'm still having trouble. I think the article is out of date.

`test/integration/cloud-config-aws.yml.template` has been changed to `test/integration/cloud-config-aws.ini.template`. Consequently the `ansible –m shell ...` command fails, even when changing the file path argument. So I can't test that my permissions are set up right.

It’s not clear whether I nee

[2019-08-12 03:16] willthames commented on #60120
oh, thanks for the feedback, it is a little out of date but it was about how to do the troubleshooting rather than get AWS setup (but I should fix it so that it's accurate for both)

If you've followed the steps for creating the ansible test user, then you just need to replace the `@` variables - the `{{ }}` variables will just reference the values from the `@` variables

[code]

should all work

[2019-08-12 04:12] AndrewCi commented on #55560
I would appreciate that. Thank you.

[2019-08-12 06:07] Fred-sun commented on #58585
@zikalino

[2019-08-12 06:09] Fred-sun commented on #45330
@zikalino Are you still paying attention to this problem? Could you please update the processing status of this problem? Thank you very much!

[2019-08-12 06:55] aljazkosir opened #60395 "Unit testing collections with ansible-test fails on python2.7 with ImportError"
##### SUMMARY
`ansible-test` with python2.7 sets the wrong import paths making it impossible to unit test collections with python2.7. Works well with python3.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.6 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Unit tests are expected to run

##### ACTU

[2019-08-12 07:07] #60309 closed, assigned to nobody

[2019-08-12 07:07] OPSTime commented on #60309
thx

[2019-08-12 08:30] goneri opened #60399 "vmware: avoid unnecessary copy call on internal objects"
##### SUMMARY

Two vmware modules uses `copy()` to duplicate an internal instance of a pyvmomi object. This to be able to modify the object during an iteration.

- https://github.com/ansible/ansible/blob/622a493ae03bd5e5cf517d336fc426e9d12208c7/lib/ansible/modules/cloud/vmware/vmware_guest.py#L788
- https://github.com/ansible/ansible/blob/622a493ae03bd5e5cf517d336fc426e9d12208c7/lib/ansible/module

[2019-08-12 08:33] #60129 closed, assigned to nobody

[2019-08-12 09:19] agowa opened #60400 "VMware: test-suite should cover exotic resource name"
##### SUMMARY
We need some integration checks for wired input validations (e.g. a "/" within the Datacenter name even breaks most native vmware apis (powercli/pyvmomi), but it is still a valid character and the web ui is fine).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware integration test

##### ADDITIONAL INFORMATION

A few weeks ago, a college manually installed a vcenter for so

[2019-08-12 09:36] Fred-sun commented on #51062
@jvalderrama Are you still pay attention this issue? You can use the[ azure_rm_manageddisk](https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_manageddisk/tasks/main.yml) module to manage the VM data disk and You can upgrade to the latest ansible version attempt. Thank you very much!

[2019-08-12 09:38] agowa opened #60401 "VMware: vmware_guest vm name confusion"
##### SUMMARY
The vmware modules show a wired interoperability behaviour. If a vm already exists within folder foo but a new one should be deployed to folder bar, the vm is not deployed and shown as already existing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE

[2019-08-12 09:57] jvalderrama commented on #51062
@Fred-sun Thanks for the thread. I understand that the feature was included in the latest version.
I will try to test it.

[2019-08-12 10:04] Akasurde commented on #60401
@agowa338 Thanks for reporting this issue. Could you please check if this https://github.com/ansible/ansible/pull/60271 and let me know if it works for you ? Thanks.

needs_info

[2019-08-12 10:16] alisaycl96 opened #60403 "Junit callback plugin output doesn't show entire test result"
##### SUMMARY

The junit output doesn't not show the whole task result, which is different from the output running with ansible command.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junit plugin

##### ANSIBLE VERSION

[code]
Notes: as for junit plugin, we are using ansible 2.2 version.
(We copied the code in order to use this junit callback feature in our environment.)

##### RESULTS run

[2019-08-12 10:36] agowa338 commented on #60401
The vm is now correctly created, so I'd say shipit ;-)

[2019-08-12 10:42] Akasurde commented on #60401
resolved_by_pr #60271

[2019-08-12 10:43] xkrt commented on #58527
This bug brokes ~25% of our Ansible roles. We have a lot of templates and we use native types.

[2019-08-12 10:49] agowa338 commented on #60401
!needs_info

[2019-08-12 11:24] mnecas commented on #60383
Hi @liranr23, we should not remove the parameter, only inform about changes, for backward compatibility.

[2019-08-12 11:28] arjunprakashn opened #60408 "VMware: Ability to set response to “Power off and restart VMs” in vmware_cluster HA settings"
HA Settings :- Response for Host Isolation under the Failures and Responses should be set to “Power off and restart VMs”  when we creating cluster from vmware_cluster

- Feature Idea

##### COMPONENT NAME
<vmware_cluster>

##### ADDITIONAL INFORMATION
<HA Settings :- Response for Host Isolation under the Failures and Responses should be set to “Power off and restart VMs”  when we creating cluster

[2019-08-12 11:31] arjunprakashn opened #60409 "VMware: “Define host failover capacity by” should be set to “cluster resource percentage” under Admission Control"
currently no support in vmware_cluster ansible module to set:- “Define host failover capacity by” should be set to “cluster resource percentage” under Admission Control

- Feature Idea

##### COMPONENT NAME
vmware_cluster

HA Settings :- “Define host failover capacity by” should be set to “cluster resource percentage” under Admission Control
[code]

[2019-08-12 12:43] tagirb opened #60413 "module `script`: add parameter `content`"
##### SUMMARY
The `copy` module supports the parameter `content`, which allows to define inline content for a file to be copied to the remote system.
The `script` module does not have it. Having such a parameter is handy for storing short scripts directly in the playbooks / role task lists rather than in separate files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
script

##### ADDITIONA

[2019-08-12 12:50] mshabou commented on #59189
hi,

the bug correction should be:

template with the given name must exist in the some datacenter of the newly created VM.

templates = templates_service.list(
                search='name=%s and datacenter=%s' % (self.param('template'), self.param('datacenter'))
            )

[2019-08-12 13:30] ctrufan opened #60416 "openssl_certificate module attempts to load csr before checking if it's null"
##### SUMMARY
Some of the providers for the openssl_certificate module attempt to load the contents of csr_path during their init() methods,

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
crypto/openssl_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Not applicable, bug identified during code review.

##### STEPS TO REPRODUCE

[code]

##### EX

[2019-08-12 13:39] rvitasek opened #60417 "nxos_config replace config does not replace existing configuration"
##### SUMMARY
Replace config does not remove existing configuration. It only executes commands included in the replace_src file. Therefore, the commands are merged into existing config on the switch rather than replaced.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_config
replace: config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default - no change.

##### OS / ENVIRONMENT

[2019-08-12 13:52] jthompson333 opened #60418 "Xenserver XenAPI getting updated in PyPi"
##### SUMMARY
I wanted to let the maintainer know that the XenAPI will be updated in PyPI at some point.
There is a test version here:
https://test.pypi.org/project/XenAPI/

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/xenserver_guest_module.html
xenserver_guest

##### ANSIBLE VERSION
ansible 2.8.3
  config file = /home/johntho/ansib

[2019-08-12 13:53] pabelanger opened #60419 "NETWORK_GROUP_MODULES in executor/task_executor.py doesn't support FQCN for local connection"
##### SUMMARY
When trying to run a network collection, vyos in this case, using connection local. Ansible will not properly load the tasks.  This is because we parse the module name to get the platform and look it up in NETWORK_GROUP_MODULES.

Ansible collection: https://github.com/ansible-network/ansible_collections.vyos.vyos/pull/12

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansibl

[2019-08-12 13:53] jthompson333 commented on #60418
@bvitnik FYI.  Thanks for all that you do. :)

[2019-08-12 13:54] cidrblock commented on #60419
Note: This is an issue when the user uses the full name of the module, ie cisco.ios.ios_vlan

[2019-08-12 13:59] bvitnik commented on #60418
@jthompson333 Acknowledged. I'll check it out as soon as I can.

[2019-08-12 14:17] ElwinRom commented on #24837
Thanks a lot !
To be honest, i have no clue how to use it.

We need to assign raw luns  with a nice WWN directly to a guest through RDM. but looking at the code you send me , it looks like it's using SSH connections.

While for the rest the ansible module seems to use the API to do different actions ?

I have a collegue which is better in this part who will look at it when he's back from holidays.

[2019-08-12 14:26] larsskj opened #60422 "known_hosts module fails to parse output from ssh-keygen"
##### SUMMARY
known_hosts fails intermittently

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 / Python 2.7.15 / openssh-client 1:7.6p1-4ubuntu0.3

##### STEPS TO REPRODUCE
When I run the code in a playbook as shown below, the playbook fails intermittently. When it works, it works as e

[2019-08-12 14:37] #60307 closed, assigned to nobody

[2019-08-12 14:42] sivel commented on #42714
This is the expected behavior.  `vars` when applied to a role are scoped at the play level, not scoped to the role.

roles are pre-processors and are flattened into the play at playbook parsing time.

There is a config option to impact this behavior which can be fond at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-private-role-vars

If you have further questions

[2019-08-12 14:42] #42714 closed, assigned to nobody

[2019-08-12 14:47] pabelanger opened #60424 "deprecated modules not loaded in collections"
##### SUMMARY
For ansible_collection.vyos.vyos, we have 2 deprecated modules _vyos_interface.py and _vyos_l3_interface.py. In ansible/ansible today, these are loaded properly, moving to a collection, they will not load.

https://github.com/ansible-network/ansible_collections.vyos.vyos/tree/master/plugins/modules

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vyos_interface / vyos_l3_interfac

[2019-08-12 14:48] pabelanger commented on #60424
We are testing the rename of _vyos_interface.py to vyos_interface.py as a workaround

[2019-08-12 14:49] sivel commented on #42492
This issue was resolved in 7eb1ab45a7cdc4546795845fd56d4f6506db0234 and subsequently included in the 2.8 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-12 14:49] #42492 closed, assigned to nobody

[2019-08-12 14:54] rvitasek commented on #60417
My bad, the file needs to be local on remote switch.

[2019-08-12 14:54] #60417 closed, assigned to nobody

[2019-08-12 15:18] felixfontein commented on #60416
No need for actual test cases, it will be easy to come up with them for integration tests anyway.

[2019-08-12 15:36] octagonprogramming commented on #59824
Ah, well in that case there is no output when run on the target machine.
Current user is Administrator.

[2019-08-12 15:45] samdoran commented on #59433
I am able to duplicate this. This is due to the `_diff_peek` parameter in the `file` module being a string type.

https://github.com/ansible/ansible/blob/c71622b31a52c44f171a4bb9da1331939ad7aa60/lib/ansible/modules/files/file.py#L888-L888

The `template` module calls `lib/ansible/plugins/action/__init__.py._get_diff_data()` via the `file` module via the `copy` action plugin to get the diff. The `f

[2019-08-12 15:51] nishantmckc opened #60427 "[WARNING]: conditional statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: result.stdout.find("{{rhel_version}}") != -1"
##### SUMMARY
We are using the conditional check in our Ansible code where we are waiting for change to take effect before comparing in next block. Code reference below:

[code]

`until: result.stdout.find"('rhel_version')" != -1´ but it gave another error.
The error was: template error while templating string: expected token 'end of statement block', got 'string'. String: {% if result.stdout.find

[2019-08-12 15:52] samdoran commented on #59433
After looking around some more, this looks like a bug in the `file` argument spec. It should be a boolean, not a string.

[2019-08-12 16:05] sivel commented on #60427
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-12 16:05] #60427 closed, assigned to nobody

[2019-08-12 16:06] nathanshurte commented on #60364
Hoping we can get more clarity on this, have a strong business need for getting a viable SSH-like client on some legacy systems running mission-critical components?

[2019-08-12 16:41] termlen0 opened #60432 "junos_system does not remove name server configs when set to absent"
##### SUMMARY
Using the `junos_system` module to remove name servers from the current configuration does not work with the `state: absent` parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`junos_system`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Verbos

[2019-08-12 16:49] spachika opened #60434 "win_uri returns module failure when return_content is set to yes"
##### SUMMARY

win_uri module returns MODULE FAILURE error when return_content is set to yes
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

output in structured JSON format

##### ACTUAL RESULTS

[code]

[2019-08-12 17:00] spachika commented on #60434
##### SUMMARY

win_uri module returns MODULE FAILURE error when return_content is set to yes
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2016

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

output in structured JSON format

##### ACTUAL RESULTS

[code]

[2019-08-12 17:03] ShachafGoldstein commented on #59824
Can you post the output of `    $fw = New-Object -ComObject HNetCfg.FwPolicy2; $fw.Rules.name`

[2019-08-12 17:09] ShachafGoldstein commented on #60434
Since 2.6 only supported for security fixes, please test a newer version 2.8+

https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html

[2019-08-12 17:11] termlen0 commented on #60432
Unlike `domain_name` and `domain_search`,  `name_servers` require the user to explicitly specify the list of name servers to remove. This may be more of a documentation bug. Closing.

[2019-08-12 17:11] #60432 closed, assigned to nobody

[2019-08-12 17:11] geerlingguy commented on #60134
I'm looking through what it would take to make this possible in the `k8s` module—and a few notes:

  1. Regarding @willthames' concern with templating on the controller but `k8s` on target, there are two ways to overcome that problem:
     1. Executing against `localhost` (this seems to be the norm, in most of the real world usage I've seen, but it is not necessarily normative enough to _require_

[2019-08-12 17:11] octagonprogramming commented on #59824
There is no output for this either.

[2019-08-12 17:15] octagonprogramming commented on #59824
When running this I get the name for all rules on the system
[code]

[2019-08-12 17:20] octagonprogramming commented on #59824
In the output of the above command the is what is shown for the name of Cortana:
[code]

[2019-08-12 17:26] octagonprogramming commented on #59824
Using the above hash I got the expected fail for the rule
Code:
[code]
Result:
[code]

[2019-08-12 17:27] markatdxb commented on #60385
hello,
sorry you mean we should run `ansible-galaxy install -f f5devcentral.f5ansible`  to refresh the common.py ?
im bit confused how the whole process works. in our playbook we have requirements.yml with `- src: https://github.com/f5devcentral/ansible-role-f5ansible
  name: f5devcentral.f5ansible`.
our playbook looks like this:
`- name: GTM topology mapping
  hosts: localhost
  gather_facts: no

[2019-08-12 17:38] caphrim007 commented on #60385
@markatdxb force installing is usually the correct path forward. you can force install from a requirements file too. Is it still producing the error after the force install?

[2019-08-12 17:42] bkmeneguello commented on #51687
@chris-kiick-sp very nice hack. It worked like a charm!

[2019-08-12 17:49] mariolenz commented on #60409
Can you please have a look at PR #60233? This new module (vmware_cluster_ha) allows you to define dedicated failover hosts, too.

[2019-08-12 17:59] octagonprogramming commented on #59824
On further review it was discovered that how the com object is seeing the rule v.s. how powershell is seeing the rule.
For example comparing how both view the rule cortana:
## Powershell
### Command
[code]
### Sample Output
[code]
## Using com object
### Commands
[code]
### Sample Output
[code]

[2019-08-12 18:02] octagonprogramming commented on #59824
As you can see above the 'Group' from the powershell command output is what the COM is gettting for the name and description of the rule which would explain why it is creating an entirely new rule.

[2019-08-12 18:11] mjlshen commented on #60025
!component lib/ansible/plugins/filter/mathstuff.py

[2019-08-12 18:16] bcoca commented on #60316
x2 check, but from code you can add server in `source` field of requirements

[2019-08-12 18:20] drybjed commented on #60157
I'm not sure why Galaxy has to test each role separately with `ansible-lint` etc. The `ansible-lint` command already supports globbing, all you need to do to test all roles in the `roles/` directory is run:
[code]
I'm testing 161 roles at once, [this test on Travis takes ~7 minutes](https://travis-ci.org/debops/debops/jobs/570854960). I'm not sure what are the timings for the import on Ansible Gal

[2019-08-12 18:23] mjlshen commented on #60025
!component=lib/ansible/plugins/filter/mathstuff.py

[2019-08-12 18:24] mjlshen commented on #60025
!component =lib/ansible/plugins/filter/mathstuff.py

[2019-08-12 18:41] markatdxb commented on #60385
@caphrim007 - thanks that -f parameter did the trick. issue is gone now, thanks for help.
sorry one more questions - how can we force install from a requirements file ? i cant find anything in documentation related to force installation :(

[2019-08-12 18:45] mjlshen commented on #60025
I guess if this behavior is intended, it could also be that the documentation might need to be updated?

!component +docs/docsite/rst/user_guide/playbooks_filters.rst

[2019-08-12 18:50] ShachafGoldstein commented on #59824
I see.
On my machine (insider) I have both simple Cortana rules and the type with the @{} name.

The only solution I see is using the full name as you did.
if we try to change the condition to be anything other then equal we can cause a lot of issues.

[2019-08-12 18:55] sivel commented on #60244
bot_status

[2019-08-12 19:01] sivel commented on #41066
Duplicate of https://github.com/ansible/ansible/issues/57153

[2019-08-12 19:01] #41066 closed, assigned to nobody

[2019-08-12 19:01] sivel commented on #47022
Duplicate of #57153

[2019-08-12 19:01] #47022 closed, assigned to nobody

[2019-08-12 19:01] bcoca commented on #60025
i should have made it more explicit, since i put  them under 'set theory' header i thought that was enough

[2019-08-12 19:15] s-hertel commented on #60319
@kuteninja The bot is confused because you got rid of the template rather than just populating the fields. The module name is a fine component, but without a template it doesn't know how to parse what you provided to ping the appropriate people. You can use the link the bot provided to re-paste the template into the first post of the issue and then fill it out.

https://raw.githubusercontent.com/a

[2019-08-12 19:24] mjlshen commented on #60025
@bcoca Thanks, the behavior was definitely confusing to me at first. I did understand from the documentation that those filters would "work" given either a set or a list, but I'll try to explain why it was confusing to me, personally.

These difference filters do return a list correctly when a non-empty difference is found, so it was confusing when an empty set was returned instead of an empty lis