[2017-12-17 09:16] user318 commented on #33974
[sysctl.patch.txt](https://github.com/ansible/ansible/files/1565459/sysctl.patch.txt)

[2017-12-17 10:13] shajay12 commented on #17094
i get this error while running ansible with --check option.
fatal: [localhost]: FAILED! => {"msg": "'dict object' has no attribute 'instances'"}

what is the solution to this ??
Thanks in Advance.

[2017-12-17 11:12] kiorky commented on #18217
I think #32565 may fix your bug which seems related to #21890

[2017-12-17 11:14] kiorky commented on #18217
On my fork, you have two branchs for you:

- Pristine 2.5+the PR #32565 commits: https://github.com/corpusops/ansible/tree/devel
- Pristine 2.4+the PR #32565 commits: https://github.com/corpusops/ansible/tree/a2.4

[2017-12-17 11:14] kiorky commented on #21890
For those who want to test the fix:
On my fork, you have two branchs for you:

Pristine 2.5+the PR #32565 commits: https://github.com/corpusops/ansible/tree/devel
Pristine 2.4+the PR #32565 commits: https://github.com/corpusops/ansible/tree/a2.4

[2017-12-17 11:18] kiorky commented on #33922
I think #32565 may fix your bug which seems related to #21890, particulary this one commit https://github.com/ansible/ansible/pull/32565/commits/9891f83d936692b8e6b9b42eadf53a360ec27d19

On my fork, you have two branchs for you:

Pristine 2.5+the PR #32565 commits: https://github.com/corpusops/ansible/tree/devel
Pristine 2.4+the PR #32565 commits: https://github.com/corpusops/ansible/tree/a2.4

[2017-12-17 11:21] kiorky commented on #24891
I think #32565 may fix your bug which seems related to #21890

On my fork, you have two branchs for you:

Pristine 2.5+the PR #32565 commits: https://github.com/corpusops/ansible/tree/devel
Pristine 2.4+the PR #32565 commits: https://github.com/corpusops/ansible/tree/a2.4

[2017-12-17 11:22] kiorky commented on #32503
I think #32565 may fix your bug which seems related to #21890

On my fork, you have two branchs for you:

Pristine 2.5+the PR #32565 commits: https://github.com/corpusops/ansible/tree/devel
Pristine 2.4+the PR #32565 commits: https://github.com/corpusops/ansible/tree/a2.4

[2017-12-17 11:35] mwmahlberg commented on #17843
@gundalow "Just" from the user side: We are using Vagrant (with land rush) to test our Ansible playbooks.  Not being able to set a search domain requires more than just a bit of hacking and forces us to change a few things between test and production use - hardly ideal. Since I am not too proficient in Python - maybe I can help with something else "in exchange"? ;)

[2017-12-17 11:45] Akasurde commented on #33973
@Aadasrh Thanks for reporting this issue. Could you please elaborate more on your problem ?

needs_info

[2017-12-17 12:33] hans-d opened #33975 "homebrew_cask "msg": "Error: It seems there is already an App at '/Applications/<name>.app'.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

homebrew_cask

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

Mac High Sierra, installed via brew

##### SUMMARY

When an app is already installed, eg manullay, the taks fails with Error: It seems there is already an App at '/Applications/<name>.app'.

##### STEPS TO REPRODUCE

install docker for mac manually

[2017-12-17 14:26] Akasurde commented on #30327
@aalamil Could you please test with latest version of Ansible and let me know if it works for you ?

needs_info

[2017-12-17 17:05] vyyal opened #33976 "vsphere_guest fails to create a new vm on esxi (2.4.1 and 2.4.2)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['timer']
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 20
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

CentOS Linux release 7.3.

[2017-12-17 21:10] chjohnst commented on #6854
seems to still be broken in 2.4.1 as well

[2017-12-18 00:24] tobiasfielitz commented on #33935
I assume I am running the latest version:

[code]

**Output**

[code]

[2017-12-18 00:28] #33935 closed, assigned to nobody

[2017-12-18 00:29] tobiasfielitz commented on #33935
I must have updated it beforehand. Please disregard my previous comment. It is working now. Thanks for your help!

[2017-12-18 02:30] LiginGeorge commented on #33903
Hi team,

  Below issue is resolved... Please close the ticket.

On Dec 17, 2017 9:15 AM, "Ligin George" <geoligin@gmail.com> wrote:

[2017-12-18 02:45] danieljaouen commented on #33975
I'm not sure if it makes sense for the `homebrew_cask` module to test to see if an app was installed externally.

An easy solution here is to uninstall the externally installed app and use the `hombrew_cask` module to re-install it.

[2017-12-18 02:55] trammel opened #33979 "resizefs option in filesystem module fails with xfsprogs-4.12 (fedora 27 atomic)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
filesystem (resizefs, xfs)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_PRIVATE_KEY_FILE(/Users/asdf/ansible/ansible.cfg) = /Users/jonpad/git/adsf/ansible/roles/asdf/private_keys/asdf.rsa

##### OS / ENVIRONMENT
management: Mac OS 10.12.6 (management)
Fedora 27 (Atomic Host)

##### SUMMARY
The resizefs functionality for xfs in the

[2017-12-18 04:46] Akasurde commented on #33976
@vyyal Thanks for reporting this issue. I noticed, that while creating new VM vsphere_guest requires `vm_extra_config` which is missing in your PB. You can check the condition over [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vsphere_guest.py#L1898).

Another thing, we are in process of deprecating `vsphere_guest` in favor of `vmware_guest` so it would be g

[2017-12-18 06:10] isen-ng opened #33981 "loop_control ignores custom port set in hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
loop_control

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `loop_control.label` with hosts from a `with_items` sent to `delegate_to`, the custom port set in the inventory file is lost. When `loop_control.label` is removed, the custom port is preserved and the playbook runs without

[2017-12-18 06:14] alexahn commented on #19820
I'm for separating the mount and fstab modules. I tend to avoid using the mount module because a lot of times I don't want to update an fstab file, and specifying a throwaway file is awkward.

[2017-12-18 06:30] alexahn opened #33982 "Mount fails in chroot for LVM volume source"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mount module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from Ubuntu 14.04
Managing Arch Linux

##### SUMMARY

##### STEPS TO REPRODUCE

Use the mount module with a chroot inventory where the source for the mount is an LVM volume. When chrooting manually and running `mount -t ext4 /dev/mapper/vo

[2017-12-18 08:23] mkrizek commented on #31718
@sebastiendarocha @sammarland-rh Are we ok to close this since https://github.com/ansible/ansible/pull/33708 has been merged?

[2017-12-18 08:26] sammarland-rh commented on #31718
@mkrizek Yeah I think so.

[2017-12-18 08:26] #31718 closed, assigned to nobody

[2017-12-18 08:28] mkrizek commented on #33058
@neptunix Thanks for the report! Can you see my comment above and provide the output of the `tar --list` command? Does this happen with all `.tgz` archives you create or just with this one?

[2017-12-18 08:33] hans-d commented on #33975
perhaps an option to accept an externally installed app to be in place? (additionally to force override)

[2017-12-18 08:41] tremble commented on #12986
Based on "examples/ansible.cfg", you don't need to add this to every play, since 2.1 you can also add it to your ansible configuration to set this globally:

 https://github.com/ansible/ansible/commit/88772b60035bd4bc06629aa8cc5cf76123d447f9

[2017-12-18 08:43] lsbwant commented on #32673
@jborean93 It is let me so excited. That's so great! Thank you very much!

[2017-12-18 08:53] offlinehoster opened #33985 "Handling of when conditional with debug and items/with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing changed

##### OS / ENVIRONMENT
Ubuntu 17.10 64bit

##### SUMMARY
When using when conditional on a debug output with items/with_items it fails

##### STEPS TO REPRODUCE
mitarbeiter_list is a json output by an http api from an earlier task
username is a variable inside vars.yml whic

[2017-12-18 08:59] offlinehoster commented on #33985
It also fails with the uri module

So maybe a general issue with "when" conditional?

[code]

[code]

[2017-12-18 09:03] offlinehoster commented on #33985
Looks like that the issue appears when you use a ``` |sort ``` or something like that inside a with_items loop. Because without the ``` |sort ``` inside the loop i don't have trouble.

[2017-12-18 09:04] #33934 closed, assigned to nobody

[2017-12-18 09:05] mkrizek commented on #33981
@IsenGrim613 can you try if https://github.com/ansible/ansible/issues/33809 fixes your issue? Thanks!

[2017-12-18 10:05] ymagriso commented on #33058
@mkrizek As I stated in a previous comment, I had to replace the use of "unarchive" with "shell" that untars the file successfully.
There is no issue with *.tar file itself (and I tried with several *.tar files).

[2017-12-18 10:12] neptunix commented on #33058
@mkrizek file itself is fine and tar can successfully untar it.

With any file

[code]

[2017-12-18 10:14] Tux12Fun commented on #33528
Downgraded to v2.4.1.0-1  because we need a working environment. With 2.4.1 everything is working fine.

[2017-12-18 10:30] rajeshcipher opened #33988 "playbook with "hosts: all" gathers all hosts from inventory including other groups, even though it's restricted with specific group "all: children and children: group""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have different inventories based on my environments (staging inventory, QA inventory, production inventory etc..) and different group within the inventories (DB, App, Web etc..,) and also additional group of hosts within the same inventory which serves

[2017-12-18 10:34] mkrizek commented on #33058
@neptunix okay, would you be willing to create a tar file that fails for you and upload it somewhere so I can debug? I can't reproduce the issue myself :/

[2017-12-18 10:44] msieurtoph commented on #24891
Thx.

I am trying to test 2.4 fork... I have to chmod +x all the binairies
But I still got this error message when launching:

[code]

It seems like you broke something ...

It works when using "official" 2.4.3.0 ansible tarball.

[2017-12-18 10:55] grossws commented on #33934
@Akasurde, @mscherer thanks for fixing this

[2017-12-18 10:58] ryanerwin commented on #15901
@valentin-krasontovitsch ,

I believe the environment of the `become_user` is set properly now:

[code]

Running current version:
[code]

[2017-12-18 11:05] neptunix commented on #33058
@mkrizek sure! Thank you

[code]

[code]
[code]

Problem persists with or without compression

https://u.brigadirov.com/ubxcl/index.php/s/Ljap7bLhRGqQVeA

[2017-12-18 11:30] rayalan commented on #15901
@ryanerwin

I believe that $HOME has always been set correctly; the issue has been that `ansible_env` is not correctly set. The workaround has always been to have a task something like this: ```# Sadly, we can't trust ansible_env to be for the correct user
- name: account $HOME
  shell: "echo $HOME"
  register: account_homedir
  changed_when: false
  check_mode: no
[code]

[2017-12-18 11:32] rayalan commented on #15901
bot_broken This issue has not been resolved that I am aware of, and is not waiting on information, and should not have been closed.

[2017-12-18 12:24] #29014 closed, assigned to dagwieers

[2017-12-18 12:28] dagwieers commented on #29014
Also implemented as part of #33942

[2017-12-18 12:55] lgnorance commented on #33657
As, reported above, I'd like to add that I'm also experiencing this issue for Australian servers.

[2017-12-18 13:09] georgesovetov commented on #33949
Just... What is considered a bug then? It's not a question how to do something, it's a misbehavior. If that's really due to some policy, please add some notes to stub which I see when reporting a bug.

[2017-12-18 13:36] EddyP23 commented on #33819
@zikalino Thanks a lot.

This is what I get when I run `pip list | grep azure`:

[code]

Do you have `azure-mgmt-network` in mind?

Thanks.

[2017-12-18 13:39] kizz1337 commented on #32032
@Akasurde Oh My God ! Ok, it's work fine.
The vm deployment works fine with relative path without using wait_for_ip_address.
VM's name must be unique while folder name can be multiple, why the function for VM searching in wait_for_ip do not search by name only for retrieving informations aout a single VM ?

[2017-12-18 13:44] kunzsoni commented on #32514
@mscherer sure we can go ahead and close this.

[2017-12-18 13:44] #32514 closed, assigned to nobody

[2017-12-18 14:50] mikeycmccarthy commented on #31655
I'm also seeing this bug - tower 3.2.2, tower-cli 3.2.0. Let me know if you'd like me to test anything.

[2017-12-18 15:02] sparsick commented on #33871
Thank you for clarifying.

[2017-12-18 15:06] KKoukiou opened #33991 "with_subelements is evaluated before a task's conditional"
There was similar issue with `with_items` but it looks not bot be current anymore.
https://github.com/jdauphant/ansible-role-ssl-certs/pull/11

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/subelements.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
The with_subelements is evaluated before a task's conditional.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2017-12-18 15:21] sivel commented on #33991
This is the expected behavior.  `when` statements apply to each iteration of the `with_` loop.  Due to this, the `with_` loop must still be able to always evaluate, regardless of the `when` statement.

In your specific case, switching from `import_tasks` to `include_tasks` could be beneficial, as `include_tasks` is dynamic, so the `when` statement will apply to the import and not the individual ta

[2017-12-18 15:21] #33991 closed, assigned to nobody

[2017-12-18 15:26] sivel commented on #33985
Can you please provide the output of the debug task from `ansible-playbook` using `-v`.

Without `|sort`?

The error is indicating that something returned `None` when you were expecting it to return a  list.

needs_info

[2017-12-18 15:29] Akasurde commented on #32032
@kizz1337 Cool. There is a problem with finding VM in given path. But there is a [PR](https://github.com/ansible/ansible/pull/33525) which will solve this problem.

[2017-12-18 15:29] KKoukiou commented on #33991
@sivel Thanks for the clarification!

[2017-12-18 15:31] mdelagrange commented on #33922
I can confirm that https://github.com/corpusops/ansible/tree/a2.4 fixes the recursion error both in with the sample data I provided and with my actual production inventory.

[2017-12-18 15:54] brainclots opened #33993 "AnsibleConnectionFailure("timeout trying to send command: %s" % command.strip())"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

File "/Users/bklotz/miniconda2/lib/python2.7/site-packages/ansible/plugins/connection/network_cli.py", line 302, in send
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = False
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /Users/bklotz/ansible.log
HOST_KEY_CHECKING(/Users/bklotz/.ansible.cfg) = False
##### OS

[2017-12-18 15:56] Akasurde commented on #32940
resolved_by_pr #33994

[2017-12-18 16:00] s-hertel commented on #29804
This was fixed in 786ec1dca156323a2ce83ba3bbe507d85ba22840.

[2017-12-18 16:00] #29804 closed, assigned to nobody

[2017-12-18 16:21] #12986 closed, assigned to nobody

[2017-12-18 17:11] rmfitzpatrick opened #33999 "Agnostic become password prompt not compatible w/ Tower"
The new hardcoded `BECOME password` prompt introduced by https://github.com/ansible/ansible/pull/33789/files is a breaking change for stable Tower, which is unable to process jobs as it expects `SUDO password[defaults to SSH password]:` when using the sudo escalation method.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook cli

##### ANSIBLE VERSION
[code]

##### CONFIGURATIO

[2017-12-18 17:12] kiorky commented on #24891
Nope, something is weird in how you use it, all the test suite is passing, can you install it correctly?
(pip install or python setup.py install)

[2017-12-18 17:15] sivel commented on #33999
I'm not sure how to handle that.  I suppose we could introduce a config that likely only tower would ever use, but the purpose of that change is to fix misleading behavior, so I'd be -1 on reverting/removing it.

Could tower be updated to handle the change?

[2017-12-18 17:24] sivel commented on #33988
I'm not following your problem.

You have explicitly defined `hosts: all`, so I would expect it to gather facts for all hosts in the inventory.

You do make a vague mention about:

But it's not clear to me what this means.

Can you provide a more verbose explanation, and explain more about your "restricted only to staging" comment?

It will also be useful to see the exact command you execute, and

[2017-12-18 17:28] rmfitzpatrick commented on #33999
Functionality could potentially be added to new versions moving forward (cc @matburt, @ghjm), but this is for all current Tower versions, so functionally a revert seems necessary.

[2017-12-18 17:30] sivel commented on #33999
cc @bcoca

[2017-12-18 17:36] ghjm commented on #33999
I like the idea of changing it to "BECOME password."  It makes more sense for the user, and hardcoding it like that is better for Tower in the long run as well, because it won't change based on future logic around the become method.

However, we can't change Tower versions that have already shipped and are being run by customers. So making the change in this way would mean existing Tower customers

[2017-12-18 17:48] plup opened #34001 "authorized_keys fails when no permission on directory"
I would like to point something out concerning the `authorized_keys` module. It's not a bug but I would appreciate if somebody knows a workaround.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
authorized_keys module

##### ANSIBLE VERSION
all version

##### CONFIGURATION

Nothing specific

##### OS / ENVIRONMENT
debian

##### SUMMARY

In my configuration (shared hosting) the `authorized_

[2017-12-18 17:56] s-hertel commented on #33021
@bmess The rewrite is https://github.com/ansible/ansible/pull/33769, the addition of NLB is https://github.com/ansible/ansible/pull/33808.

[2017-12-18 18:10] abadger commented on #33999
I think what we've traditionally done is introduce an immediately deprecated config option.  So installs of old tower can toggle the config setting to be used with newer ansible at the expense of seeing a new deprecation warning.  New tower releases need to handle the version check (or expect BECOME as one of the valid prompts on any version).  Our current deprecation cycle is 4 releases (I think

[2017-12-18 18:39] wenottingham commented on #33999
The problem is that any default change, even if there's a config setting, requires respinning old releases to work with it.

[2017-12-18 19:01] sivel commented on #33999
I'm just concerned that we take a step back in terms of behavior by reverting.  The change was added to address misleading behavior.

To describe that misleading behavior:

A user specifies `--ask-become-pass` on the CLI, but has hosts configured with `ansible_become_method: su` and `ansible_become: true` (or very similar).  The become pass, will still work for the user, however they are only conc

[2017-12-18 19:11] ghjm commented on #33999
@sivel I understand the issue and as I mentioned above, I agree with your solution to it, in isolation from other considerations.

However, the other considerations here are very serious. Is cleaning up some misleading language in the UI worth breaking Tower?

Perhaps there are other options besides just accepting or reverting this commit. Can Ansible figure out that what it really wants is a SU p

[2017-12-18 19:13] sivel commented on #33999
We are having some discussions. I don't mean to sound adversarial (if I came off that way), I just want to make sure our solution isn't a step backwards.

[2017-12-18 19:14] ghjm commented on #33999
Ok, sounds good. I look forward to seeing what you come up with. Thanks!

[2017-12-18 19:18] josephtate commented on #28087
Still affecting ansible 2.4.3.0.

[2017-12-18 19:34] abadger commented on #33999
In the tower code (Does not address notting's concern about how to get this working with old tower) I think we can change the regex like this:

Currently:
[code]
Fixed version:
[code]

(Although I'm not sure if there's some reason that this was done as separate regexes in the first place.  If so, then simply add a new regex for BECOME password instead of combining them all into a single regex).

[2017-12-18 19:46] BR0kEN- commented on #24864
The attached above PR helped me to overcome this problem. I didn't write the tests because wasn't able to resolve the following:

[code]

[2017-12-18 19:54] matburt commented on #33999
I think we know how to make the changes to Tower/AWX code, it's just the act of going back to previous releases that has us concerned.

[2017-12-18 20:19] BDragonReborn commented on #24887
I am, apologies on the late response

[2017-12-18 22:12] ocervell commented on #30882
Same ...

[2017-12-18 23:40] packetferret commented on #24998
I have confirmed that this can now be pulled off successfully

`  - name: "### JUNOS - APPLY CONFIGURATION ###"
    hosts: leaf
    gather_facts: False
    connection: local
    tasks:
      - name: "# JUNOS - DELETE DEFAULT INTERFACE CONFIGURATION #"
        junos_config:
          provider:
            host: "{{ ansible_ssh_host }}"
            port: "{{ ansible_port }}"
            username: ro

[2017-12-18 23:40] #24998 closed, assigned to nobody

[2017-12-18 23:49] #25555 closed, assigned to nitzmahone

[2017-12-18 23:56] jborean93 commented on #25555
This has been fixed with https://github.com/ansible/ansible/commit/92e52ef5154fc78758cbc3bbb3edac95d81f46e0 and will be available in 2.5. Note you will need the `pexpect` Python module to be installed for it to work.

[2017-12-19 00:46] EcHoOfInSaNiTy opened #34010 "Feature Request: vmware_guest enable portmirroring between two vms/nics"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
"It would be nice to be able to create a portmirror on dvswitches, for example if I had two vms and I added them both to the same port group then I wanted a nic on one vm to be portmirrored to the other vm on a specific nic"

##### STEPS TO REPRODUCE
[c

[2017-12-19 02:43] yuwzho commented on #33819
@EddyP23 You can try to install `azure-mgmt-network (1.5.0)`. Also, there is a PR #33624  to fix it

[2017-12-19 02:48] IsenGrim613 commented on #33981
Yes, tested that #33809 fixes this issue.

[2017-12-19 02:48] dlbewley opened #34012 "nmcli module fails with self.dns4=' '.join(module.params['dns4']) TypeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`nmcli`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Manager: OS X
- Managed: Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

Playbook fails when trying to join `None` value for `dns4` param [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/nmcli.py#L559)

I

[2017-12-19 04:31] davoscollective commented on #23602
We have this situation where an sg has been created in our DEV environment with a different description to the one in PROD environment, so changing the description in the playbook to match the present desc is not really the solution. We've terminated all the instances and services using the sg in DEV, deleted the sg in DEV and then recreated the sg using the desc that matches prod. It's a shame th

[2017-12-19 04:47] anchat1990 opened #34014 "fact gathering sets `apt` as package manager when apt is installed on Fedora 26"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
fact gathering
~package module~

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### SUMMARY
When apt is installed erroneously on a fedora distribution, the package module tries to run apt-get update to check for a present package

##### STEPS TO REPRODUCE
1. install apt on your fedora machine
``` dnf install apt```
2. run this playbook
[cod

[2017-12-19 04:58] Akasurde commented on #34012
@dlbewley Thanks for reporting this issue.

[2017-12-19 05:45] Akasurde commented on #34012
resolved_by_pr #34019

[2017-12-19 06:38] Akasurde commented on #33044
@gundalow What do you recommend on this bug - should we close this as traceback is only shown by `-vvv` parameter?

[2017-12-19 06:52] #31275 closed, assigned to trishnaguha

[2017-12-19 07:30] trishnaguha commented on #26827
resolved_by_pr #34020

[2017-12-19 07:30] trishnaguha commented on #25608
resolved_by_pr #34020

[2017-12-19 09:05] pratikkava1189 commented on #33044
@Akasurde @gundalow , Ideally there should not be restriction of quote in playbook, it make more complex for engineer to identify the issue.

However there is also one bug which currently I'm facing issue related to whitespace in playbook, I will open new issue for that bug, thanks.

[2017-12-19 10:05] msieurtoph commented on #24891
Sorry,
I am not familiar with python environment and I cant get your fork to work.
The VM I am testing on is running several python versions (2.6 and 2.7) AND several ansible versions (1.9 and 2.4), so binaries are scattered all over /usr/bin, /usr/local/bin, /opt/product/, etc ...

Maybe somebody else with a simplier environment can test your fork.

When I tested the ansible 2.4.1, 2.4.2, 2.4.3,

[2017-12-19 10:05] pratikkava1189 opened #34029 ""Whitespace" bugs in playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum, all modules

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (de

[2017-12-19 10:18] lufik commented on #32936
I have the same problem with my playbooks with ansible 2.4.1. I think this is not related to tasks but to included playbooks from another directory (as group/host vars are loaded with every included/imported playbook - so the _another_directory_ is the problem).

The PLAYBOOK_VARS_ROOT config doesn't change anything (it's only task related not playbook related). Shortly >=2.4.0 breaks the backward

[2017-12-19 10:38] claudio-viola commented on #32440
having exactly the same issue tried all of the above by the reporter as well with No luck.
Any ideas?

[2017-12-19 10:39] 5ghz commented on #21439
I have been added DirectRule operation support https://github.com/ansible/ansible/pull/34027 please review

[2017-12-19 11:15] berlic commented on #33578
This actually happens with as simple `docker_container` calls as:

[code]

In `basic.py` [here](https://github.com/ansible/ansible/blob/284625f18c5da6012a72155826ffc88defd860a1/lib/ansible/module_utils/basic.py#L480):

[code]
constructor for `MutableMapping` is called without arguments, but the type in question is `docker.types.containers.HostConfig`, and [here](https://github.com/docker/docker-py

[2017-12-19 11:37] gundalow commented on #33044
Not sure, added to Core agenda

[2017-12-19 12:00] Madhura-CSI opened #34032 "azure_rm_virtualmachine_scaleset should have support to enable accelerated networking and network security group assignment for scaleset."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- azure_rm_virtualmachine_scaleset

##### ANSIBLE VERSION
- ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/centos/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansib

[2017-12-19 12:12] gintautassulskus opened #34034 "False flag for recursive loop"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
variables, defaults

##### ANSIBLE VERSION

[code]

##### SUMMARY
Ansible cannot handle dictionary value cross-referencing.

##### STEPS TO REPRODUCE

dictionary:
[code]

task:
[code]

##### EXPECTED RESULTS
debug prints out `value`

##### ACTUAL RESULTS
[code]

[2017-12-19 12:18] gundalow commented on #32155
@jean-christophe-manciot Could you please test this on the `devel` branch and let us know.

[2017-12-19 12:43] c4milo commented on #27166
This used to work on Ansible <=2.3. To me, it seems this breaks backwards compatibility.

[2017-12-19 12:45] gundalow commented on #28858
@CHBresser Did you get a chance to run from `devel` to test this?

[2017-12-19 13:01] cloos commented on #21573
Older kernels don't provide the file `/sys/devices/virtual/dmi/id/product_name` where Ansible tries to detect the virtualization facts in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/virtual/linux.py#L83.

[code]

If Ansible doesn't find  `/sys/devices/virtual/dmi/id/product_name`, it should use `dmidecode` to find the product_name. The same is done for the hardware

[2017-12-19 13:11] jtyr commented on #32440
Sorry, I don't have any such environment to test this setup on.

[2017-12-19 13:59] anlutro opened #34035 "hostvars leak between ansible-playbook invocations when hostnames/IPs are re-used between inventories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration, all defaults.

##### OS / ENVIRONMENT
Debian 9, Linux

##### SUMMARY
We have a setup of test/production inventories. The machines in these inventories have private 192.168.0.0/24 IPs which are reached through separate jumphosts. Because of the machines being on private sub

[2017-12-19 14:15] pschiffe opened #34037 "support xz format in archive module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Archive module should support xz format when creating archives.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Newly created .tar.xz archive.

##### ACTUAL RESULTS
Not implemented.

[2017-12-19 14:44] themiri opened #34038 "There should be an option to define executable in script module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

Script Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

Rhel 7
##### SUMMARY

Script module always executed with /bin/sh

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There should be a simple optio

[2017-12-19 14:59] eoli3n commented on #10829
+1

[2017-12-19 15:05] bcoca commented on #34035
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible isn't doing any caching, the cache would only affect 'facts' if it were enabled, not host vars. The issue here is that you are

[2017-12-19 15:05] #34035 closed, assigned to nobody

[2017-12-19 15:11] pschiffe opened #34040 "support -S, --sparse in archive module, or enable a way to provide custom options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
When working with large files, typically os images, it's necessary to use `-S, --sparse` tar option, otherwise the output archive is too big.

##### STEPS TO REPRODUCE
[code]

Alternatively:
[code]

##### EX

[2017-12-19 15:48] bcoca commented on #34014
The `use=` option allows you to force a package manager, this is not really as much a bug in `package` but in fact gathering detecting `apt` as the package manager.

cc @alikins

[2017-12-19 15:59] pschiffe opened #34043 "support -C, --directory=DIR in archive module, or enable a way to provide custom options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
When created archive can contain only specific path to archived files (or no path, just the file) `-C, --directory=DIR` tar option has to be used. This may be tricky to implement with `extra_opts` as `path`

[2017-12-19 16:34] danvaida opened #34045 "elasticache_parameter_group breaks when looping with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`elasticache_parameter_group`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Task errors out when a `with_items` loop is used with the module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Module works in tasks with `with_items`.

##### ACTUAL RESULTS
[code]

[2017-12-19 16:40] dlbewley commented on #34012
Thanks for the quick fix! I no longer have that issue.

[2017-12-19 16:40] #34012 closed, assigned to nobody

[2017-12-19 16:55] bdowling commented on #33650
Looks good. :shipit:

[2017-12-19 17:08] dlbewley commented on #29233
I think this issue can be closed.

[2017-12-19 17:14] dlbewley commented on #22249
I can confirm this bug with ansible 2.4.1.0 plus #34019

[code]

First run of playbook created bond connection, but failed to add interfaces (apparently due to a TBD error in my playbook). Second run of playbook fails on _create bond_ task.

[code]

[2017-12-19 17:20] nitzmahone opened #34047 "Support resource IDs in all azure_rm_virtualmachine object name fields"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Now that the Azure SDK supports some basic "get by ID" operations, we've been adding piecemeal support for resource IDs in some dependency object name fields to allow for resources outside the current resource group to be used,

[2017-12-19 17:31] pschiffe opened #34049 "support credentials_file auth in gc_storage module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gc_storage

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Most of the GCE modules support auth with `service_account_email`, `credentials_file` and `project_id` attributes, however `gc_storage` supports only older `gs_access_key` and `gs_secret_key`. Please add

[2017-12-19 17:33] Akasurde commented on #31737
resolved_by_pr #34019

[2017-12-19 17:34] jctanner commented on #34047
bot_status

[2017-12-19 18:00] pschiffe opened #34052 "support parallel composite uploads in gc_storage module, or enable a way to provide custom options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gc_storage

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
When uploading large files, it's beneficial to use parallel composite upload for better speed: `gsutil -o GSUtil:parallel_composite_upload_threshold=150M cp file bucket`

##### STEPS TO REPRODUCE
[code]

[2017-12-19 18:36] georgesovetov commented on #33949
@sivel Thank you for kind copy-pasted words but you really closed issue for no reason. It works with 2.4.1 and doesn't work with 2.4.2.

[2017-12-19 18:56] jsumners opened #34054 "module: openssl_certificate unusable on RHEL 7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running: macOS 10.13
Target: RHEL 7.4

##### SUMMARY
This task is impossible on RHEL 7:

[code]

This is due to `pyOpenSSL` being a package required by default system utilities and is only available at version 0.13.1. Thus, it isn't possible to install a later version of `

[2017-12-19 19:08] eldiabloblanco opened #34056 "Preforking issue on OSX (10.13) when attempting to connect to windows server via WinRM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- WinRM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running From: Apple OSX 10.13.2
Managing: Windows 2012 R2
##### SUMMARY

When calling Any windows module that gathers facts and connects via WinRM, a forking error is created by OSX which crashes python and halts the playbook.
##### STEPS TO REPRODUCE

[code]

[2017-12-19 19:21] abadger commented on #16052
@ssbarnea ping?  (I'm around for a few more days but then going on vacation until after New Years).  (My IRC nick is abadger1999)

[2017-12-19 19:23] #29238 closed, assigned to nobody

[2017-12-19 19:30] sivel commented on #34056
This is unfortunately not a bug in ansible, but instead a bug in python on Mac OS High Sierra that you can read more about at http://sealiesoftware.com/blog/archive/2017/6/5/Objective-C_and_fork_in_macOS_1013.html

As explained in that document, you will need to export an environment variable to resolve the issue:

[code]

If you have further questions please stop by IRC or the mailing list:

   *

[2017-12-19 19:30] #34056 closed, assigned to nobody

[2017-12-19 19:33] MarkusTeufelberger commented on #34054
The 2 options here are:

* Check for every single option of that module how outdated pyOpenSSL can be to still support it and fail on various module parameters depending on the version installed
* Keep the hard requirement on 0.15+ and tell users to update (pyOpenSSL by the way is already not really maintained/developed by upstream any more, but getting a recent version of python-cryptography on R

[2017-12-19 19:35] abadger commented on #33044
Smart quotes aren't quotes in most computer-related things (config files, programming languages, the yaml specification, etc).  So this definitely should be an error.  However, you should not get a unicode traceback from it.  Instead we should tell you that there was a problem in splitting the string during key=value parsing.  On python3, it gives the right error message:
[code]

I'll fix the code

[2017-12-19 19:36] ebalduf commented on #32947
+1 I agree.  I have a huge datastructure and I don't need to output all of the fields, just one.

[2017-12-19 19:41] jsumners commented on #34054
@MarkusTeufelberger I have a solution in place:

[code]

[2017-12-19 19:44] MarkusTeufelberger commented on #34054
Sure, that's one way to do it! ;-)

Sorry that the module doesn't work out of the box, those "release one stable version and stick with it for a decade" distributions are sometimes a bit difficult to support...

[2017-12-19 19:50] jsumners commented on #34054
Yeah, I'm not fond of them either.

[2017-12-19 20:11] bcoca commented on #34034
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The error is correct as you are trying to define a variable depending on itself, even if it is a different subtree.

In the future, thi

[2017-12-19 20:11] #34034 closed, assigned to nobody

[2017-12-19 20:21] dmuth commented on #32947
I too am getting bit by this and just found this ticket--I don't need the entire data structure printed out, just a single value (in this case, the IP of the EC2 instance I just created).

[2017-12-19 20:30] ryansb commented on #34049
cc @erjohnso

[2017-12-19 20:33] ryansb commented on #34052
cc @erjohnso

[2017-12-19 20:39] muhfugen commented on #13047
@calfonso

There is interested in this change

[2017-12-19 20:45] ryansb commented on #34038
Are you certain that bash is installed on your target system? It seems that locally I can select using a shebang line:

[code]

Passing that to the script module gets me:

[code]

(note: on my system /bin/bash is a symlink to /usr/bin/bash) So it appears selecting the shell via shebang works. Are you sure that /bin/bash exists on the target system?

[2017-12-19 20:58] s-hertel commented on #34045
It looks like this is the result of the overloaded 'values'. Debugging the output of item.values:
[code]
It's looking at item.values() instead of item['values']. If you use the latter syntax this should succeed:
[code]

[2017-12-19 21:03] cThrice opened #34064 "RDS module - Support aurora-postgresql engine type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
rds
[module: cloud/amazon/rds.py]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Currently cannot specify the aurora-postgresql db_engine type in the rds module.
boto seems to support it https://boto3.readthedocs.io/en/latest/reference/services/rds.html
[code]

[2017-12-19 21:05] byron27 commented on #34056
@sivel THANK YOU!

[2017-12-19 21:47] cdosborn commented on #32220
To preserve the new line, replace with this:
[code]

[2017-12-19 22:04] #23772 closed, assigned to nobody

[2017-12-19 22:08] ryansb commented on #33642
The behavior change was to make count_tags better handle AZ sensitive users, and to better protect against accidental termination.

For your use case where you don't care about the subnet used, there are a few options like using `ec2_instance_facts` to check that the *total* instances matching those filters match as you expect. Alternately, if you need precisely one instance but it can be in any A

[2017-12-19 22:08] #33642 closed, assigned to nobody

[2017-12-19 22:14] bobobox commented on #33642
@ryansb It seems kind of user-hostile to suddenly change a behavior like this that can have serious effects on infrastructure. If the behavior is to be changed to benefit a specific set of users, it seems like it would make sense to make that a non-default option. I doubt that we're the only organization that has a lot of infrastructure which was built and is maintained based on the original behav

[2017-12-19 22:26] #33044 closed, assigned to abadger

[2017-12-19 22:37] opoplawski opened #34066 "copy fails to execute via sudo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Scientific Linux 7.4
##### SUMMARY
I'm using become to become root via sudo, but copy does not appear to be using it and it fails.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
/etc/sudoer.d/nwra is created with proper content.
##### ACTUAL RE

[2017-12-19 22:49] opoplawski commented on #34066
Actually, the problem seems to be that the user cannot (yet) write to their home directory:
[code]
I can work around this.

[2017-12-19 22:54] opoplawski commented on #34066
I would have thought that setting local_tmp = /tmp in ansible.cfg would fix this, but this does not appear to be having any effect.

[2017-12-19 22:56] opoplawski commented on #34066
I'm blind.  remote_tmp does the trick.

[2017-12-19 22:56] #34066 closed, assigned to nobody

[2017-12-19 23:04] Everspace opened #34067 "rds module's security_groups should support array type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
rds

##### SUMMARY

It's a little discordant that the security_groups and vpc_groups are string delineated instead of the more natural array type for this sort of thing. [Especially when they're just split apart anyway](https://github.com/ansible/ansible/blob/cc7a5228b02344658dac69c38ccb7d6580d2b4c6/lib/ansible/modules/cloud/amazon/rds.py#L128

[2017-12-20 00:24] akamalov opened #34068 "Azure_rm.py: skipping: no hosts matched"
Greetings,
[code]
Trying to get ansible work with **azure_rm.py** and for some reason it is not processing tags I supplied with terraform.

I have tag created in my terraform file like this:

    tags {
      environment = "${var.environment_tag}"
       role = "${var.zookeeper_role_tag}"
    }

Where in variables.tf I have the following:

    variable "zookeeper_role_tag" {
       description = "

[2017-12-20 00:30] akamalov commented on #34068
ansible version: 2.4
component name: azure_rm

[2017-12-20 01:27] Akasurde commented on #29364
resolved_by_pr #33796

[2017-12-20 03:10] Akasurde commented on #29286
resolved_by_pr #33796

[2017-12-20 03:35] jasontibbitts commented on #23841
I know this is an old ticket, but I just found that updating the policycoreutils (and related python module) package in Fedora 27 from policycoreutils-2.7-1.fc27.x86_64 to policycoreutils-2.7-3.fc27.x86_64 causes the sefcontext module to fail with exactly the same error.

I am running ansible 2.4.2.0 (via Fedora's ansible-2.4.2.0-1.fc27.noarch package, which isn't patched in any relevant way).

I'

[2017-12-20 03:42] Akasurde commented on #29359
Closing this issue as PR https://github.com/ansible/ansible/commit/f8b7ab1e10e is merged. If issue persists, please feel free to re-open.

[2017-12-20 03:42] #29359 closed, assigned to nobody

[2017-12-20 03:47] anchat1990 commented on #34014
!component -lib/ansible/modules/packaging/os/package.py
!component +lib/ansible/modules/packaging/os/package_facts.py

[2017-12-20 03:50] gripenk opened #34070 "vSphere vCenter uses port other than 443"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

moulde: vmware*

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Any

##### SUMMARY

My VMWare admin configures the vSphere vCenter using port 10443 with self-signed SSL cert.
There is no way for me to specify the port to all vmware* modules, however, the underlining PyVmomi supports passing port argument.

#####

[2017-12-20 04:29] Akasurde commented on #34070
@gripenk Thanks for reporting this issue.

[2017-12-20 04:39] #32940 closed, assigned to nobody

[2017-12-20 04:52] Akasurde commented on #34070
@gripenk Could you please try this PR and let me know if it works for you ?

[2017-12-20 04:52] Akasurde commented on #34070
resolved_by_pr #34073

[2017-12-20 05:11] #26827 closed, assigned to trishnaguha

[2017-12-20 05:11] #25608 closed, assigned to trishnaguha

[2017-12-20 05:37] #31888 closed, assigned to trishnaguha

[2017-12-20 05:44] xmj commented on #25489
@MarkusTeufelberger did you try it? "works for me" ;-)

[2017-12-20 05:50] Akasurde commented on #21573
@cloos Could you please paste output of

[code]

and

[code]

[2017-12-20 05:56] #31887 closed, assigned to trishnaguha

[2017-12-20 05:58] #31295 closed, assigned to trishnaguha

[2017-12-20 06:23] #34070 closed, assigned to Akasurde

[2017-12-20 07:20] Akasurde commented on #31737
Closing this issue as PR #30757 is merged. If issue persists, please feel free to re-open.

[2017-12-20 07:20] #31737 closed, assigned to nobody

[2017-12-20 07:24] Akasurde commented on #33753
@tYYGH Any news ?

[2017-12-20 07:31] Akasurde commented on #28050
@BenCoffeed Could you please try suggestion given by @srinathkotu and let us know if it helps ?

needs_info

[2017-12-20 07:39] danvaida commented on #34045
Thanks for the quick-response and for your work on the module. Indeed, your proposed workaround works as advertised. For consistency purposes, I suggest to make this work without any additional artifice.
The [rds_param_group module](http://docs.ansible.com/ansible/latest/rds_param_group_module.html) is similar in what & how it does, yet it handles this automatically, w/o the need of the user to ch

[2017-12-20 07:45] wangycc commented on #21566
Hi, cn-northwest-1 is not supported in the boto version 2.4.50

[code]

[2017-12-20 07:46] Akasurde commented on #23585
@timja-kainos Thanks for reporting this issue. You can find the docs related to `hashi_vault` using following command -

[code]

Let me know if it is sufficient for usage.

needs_info

[2017-12-20 08:11] Akasurde commented on #18694
@alledm Thanks for reporting this issue. Could you please try following -

[code]

needs_info

[2017-12-20 08:13] MarkusTeufelberger commented on #25489
To be clear: LXD is not even installed on localhost but you can `delegate_to` a container that is running on a remote via its name?

[2017-12-20 08:27] xmj commented on #25489
I'm running something like:
[code]

from FreeBSD 12.0-CURRENT, which most definitely has no lxc/lxd installed, and it works fine.

You'd delegate to the remote machine *hosting* the containers.

[2017-12-20 08:30] AndyEWang opened #34075 ""allow_duplicates: no" not work in include_role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

"allow_duplicates: no" not work, same role will be executed again.
  tasks:
    - include_role:

[2017-12-20 08:40] AndyEWang commented on #34075
ansible/executor/play_iterator.py
    def _get_next_task_from_state(self, state, host, peek, in_child=False):
            elif state.run_state == self.ITERATING_ALWAYS:
                            # we're advancing blocks, so if this was an end-of-role block we
                            # mark the current role complete
                            if block._eor and host.name in block._role._had_t

[2017-12-20 08:41] MarkusTeufelberger commented on #25489
I'm talking about this part of the documentation:

[code]
Starting a container on a remote is easy - but I need to run commands inside them to install/configure sshd and python.

The example in the docs will only work on localhost from my experience and it would be nice to document this (and give an example on how to run commands without SSH on a remote container).

[2017-12-20 08:49] xmj commented on #25489
You could declare them inside of your inventory, have `sshd` running inside each container and then use OpenSSH tunneling (with `-J` or `-o ProxyCommand` glue in `ansible_ssh_common_args`)

[2017-12-20 09:03] tiraboschi opened #34077 "debug var fails to print a variable with a single letter name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@c74he20171218h1 ~]# ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Centos 7.4

##### SUMMARY
'debug: var=ab' works as expected while 'debug: var=a' does not

##### STEPS TO

[2017-12-20 09:05] Akasurde commented on #33969
@lshake Thanks for reporting this issue/feature request. It would be great if you can raise a PR. Let me know if not, I will do it.

[2017-12-20 09:26] mkrizek commented on #34077
@tiraboschi can you try with the latest `devel`? It seems to be fixed there. Thanks!

needs_info

[2017-12-20 09:38] MarkusTeufelberger commented on #25489
That's what I plan on doing (and what I have done already), but LXD containers typically don't have sshd running inside them when freshly pulled. This means you need to install it first somehow via a raw command. These raw commands are the domain of the lxd connection plugin (https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/lxd.py). According to #18881, this plugin only

[2017-12-20 09:40] gundalow commented on #34067
@mikedlr FYI

[2017-12-20 09:41] gundalow commented on #34068
@akamalov FYI we have `#ansible-azure` on Freenode IRC.

[2017-12-20 09:44] tiraboschi commented on #34077
Yes, it's already fixed on master.

[code]

[2017-12-20 09:44] xmj commented on #25489
@bcoca might know about the status of chaining connection plugins, which, while very useful, is afaik still not possible.

[2017-12-20 09:48] gaudenz commented on #30630
The same issue still exists in 2.4.2.

[2017-12-20 10:14] Nitaco commented on #34049
Hey @pschiffe,
you're right. This feature is missing at the moment. Let me try to build something this week.

regards,
Lukas

[2017-12-20 10:18] betalb commented on #29886
@chouseknecht It was, but look like only in 2.5

Will it be backported to 2.4?

[2017-12-20 10:29] remil1000 opened #34080 "tagged tasks skipped when include and flush_handlers used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- include
- meta: flush_handlers

##### ANSIBLE VERSION

[code]

also tested on

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH is the only change

##### OS / ENVIRONMENT

OSX version 10.13.2 (17C88)
also tested on previous version (updated to 10.13.2 recently)

##### SUMMARY

when using dynamic include (using include keyword) tagged tasks may

[2017-12-20 10:48] vrutkovs opened #34082 "oc module won't read inline from files in py3: 'TypeError: a bytes-like object is required, not 'str''"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
oc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running from Fedora 27, managing Fedora Atomic 27
Python 3.6.3

##### SUMMARY
Python3 version of `oc` module would crash when `inline` file is read from file, as it expects bytes, not string. Python 2 version works fine

##### STEPS TO REPRODUCE

Requires Opensh

[2017-12-20 11:17] akamalov commented on #34068
I would love to jump on, but we are firewalled off. Can't yse IRC or Slack
:(

Alex

On Dec 20, 2017 4:42 AM, "John R Barker" <notifications@github.com> wrote:

[2017-12-20 11:32] xmj commented on #32486
@alikins what other information can we supply to get this fixed?

[2017-12-20 11:38] #31890 closed, assigned to trishnaguha

[2017-12-20 11:51] wknapik opened #34083 "Ansible should suggest the replace module as an alternative to sed"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]
2.5.0.34573.a2810f44a8-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When you use sed from the shell module, a warning will be printed, with a suggestion to use a template, or the lineinfile module, but it seems more likely that the

[2017-12-20 12:04] cloos commented on #21573
@Akasurde Why do you need this informations?
I don't see any relation between the requested informations and this issue?
I thought my previous comment makes it clear what the problem is and how to fix it.

[2017-12-20 12:32] Akasurde commented on #31649
Closing this issue as https://github.com/ansible/ansible/commit/f5dded59c26198af141403d88703c99f753c0854 is merged. If issue persists, please feel free to re-open.

[2017-12-20 12:32] #31649 closed, assigned to dagwieers

[2017-12-20 12:44] Akasurde commented on #21573
@cloos I requested this information as I wanted to see Kernel module status. VMware adds kernel modules in the guest machines (e.g., `vmw_ballon` and `vmxnet`), we can safely rely on this information.
We can add additional check [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/virtual/linux.py#L218) and can solve our problem.

[2017-12-20 13:02] cloos commented on #21573
@Akasurde
[code]

Sorry but I can't send you **all** facts of the host. If you list specific facts you need, I'm sure I can provide this.

[2017-12-20 13:36] trishnaguha commented on #26371
@mikewiebe provided now cliconf is implemented we will be able to fix enabling nxapi differently on different nxos platforms.
Based on your comment https://github.com/ansible/ansible/pull/26142/files#r124560379, Can you please share the info about how nxapi is enabled across different nxos platforms since we have access to only 7K and 9K?
needs_info

[2017-12-20 13:39] trishnaguha commented on #31886
resolved_by_pr https://github.com/ansible/ansible/pull/33813

[2017-12-20 14:41] gundalow commented on #34082
@vrutkovs Thanks for the bug report. Please note that the `oc` module is deprecated as you should use `openshift_raw` instead http://docs.ansible.com/ansible/devel/openshift_raw_module.html

Therefore I think this cab be closed

[2017-12-20 14:41] s-hertel commented on #21566
@wangycc Until that region is added in boto the workaround would be to specify the endpoint using ec2_url like I depicted above.

[2017-12-20 14:55] sengaya commented on #27780
My PR will not be merged, see https://github.com/ansible/ansible/pull/31450#issuecomment-352889579

[2017-12-20 15:11] MarkusTeufelberger commented on #29946
Fixed in #30338

[2017-12-20 15:11] #29946 closed, assigned to nobody

[2017-12-20 15:11] kevensen commented on #34082
@gundalow I don't think its deprecated.  I'm happy to continue supporting this module.

[2017-12-20 15:14] mykaul opened #34091 "oVirt Ansible module - ovirt_disk - sparse is supported with raw disks as well"
See
https://github.com/ansible/ansible/blob/663f8464ee7ab2cb086857f04393e643407fba0f/lib/ansible/modules/cloud/ovirt/ovirt_disk.py#L441

file based storage supports raw-sparse as well, I'm not sure the check is correct.

[2017-12-20 15:14] mykaul commented on #34091
cc @machacekondra

[2017-12-20 15:18] gundalow commented on #34082
@kevensen Looks like it got deprecated in https://github.com/ansible/ansible/pull/34050

[2017-12-20 15:19] gundalow commented on #34082
Similar fix may be need in the new modules?

[2017-12-20 15:22] mdelagrange commented on #23609
@tctanner okay there is an issue open now specifically for the recursion issue with larger inventories: https://github.com/ansible/ansible/issues/33922

[2017-12-20 15:32] Blacqy commented on #26280
Still present in 2.4.2 as well.
Ansible reports 72.77 TB instead of 9.1 TB.
It apparently gets the amount of sectors wrong (8 times as much) because it assumes a 512b blocksize somewhere, even though the sectorsize is correctly reported as 4096.

[code]
Note that this is a SAS disk (so hdparm won't work) with a 4k native block size.

[code]

[code]

[2017-12-20 15:50] sivel commented on #34083
This has been resolved by the above referenced pull request.

[2017-12-20 15:50] #34083 closed, assigned to gundalow

[2017-12-20 15:51] tYYGH commented on #33753
Sorry. Kid is sick, plus various things… No time yet :-( I do not forget, though…

[2017-12-20 15:55] kostiantyntravis opened #34093 "jenkins_plugin tries to authorize to updates_url"
Greetings,

##### ISSUE TYPE
 - Bug Report

##### Ansible version
[code]
##### Component name
[code]
##### Summary
I'm working on migration our codebase from installing jenkins plugins with jenkins-cli to jenkins_plugin module usage. We have plenty of official plugins and few custom that located in our local Artifactory.
We also have a username and password both for Jenkins instance and for Artifa

[2017-12-20 15:57] albertomurillo commented on #34037
I can work on this one

[2017-12-20 16:08] bcoca commented on #23585
2.4 introduced docs for lookup plugins, but only via `ansible-doc`, in 2.5 we've added them to the website docs. http://docs.ansible.com/ansible/devel/plugins/lookup/hashi_vault.html

So I'm going to consider this issue resolved.

[2017-12-20 16:08] #23585 closed, assigned to nobody

[2017-12-20 16:19] pmargara opened #34094 "cloud:ovirt: add the capability to register user as QuotaConsumer for a specific quota"
##### SUMMARY
By adding 'quota_consumer' parameter (or something like that) in the ovirt_permissions module or in the ovirt_quotas module the administrator could register user as QuotaConsumer for a specific quota, this is very useful when the quota mode is set to enforced and every users (or group of) have a specific quota to use.

Recently was accepted a patch that add the capability to manage q

[2017-12-20 16:24] Akasurde commented on #29880
I totally agree with @matts-mpg

I am closing this issue as vmware_guest provides the mentioned features. Please find [the page](https://github.com/ansible/community/wiki/VMware:-vsphere_guest_deprecation) which is created for `vsphere_guest` deprecation process.

[2017-12-20 16:24] #29880 closed, assigned to nobody

[2017-12-20 16:24] Akasurde commented on #23585
@bcoca Cool. Thanks for the link.

[2017-12-20 16:59] switchboardOp commented on #24920
Same issue here, Running OpenShift nodes on vmware. Inventory is synced from CloudForms and it is a crap-shoot which IP will be set for `ansible_ssh_host`.

Why use IPs here at all? I would assume `ansible_ssh_host` should be a hostname.

[2017-12-20 17:01] jtyr commented on #34093
Thanks for reporting this issue. Are you using proxy to go to the Artifactory server?

[2017-12-20 17:27] Qalthos commented on #33993
Alright, I can't reproduce what you're seeing, but can you tell me if #34101 fixes this issue for you?

[2017-12-20 17:44] brainclots commented on #33993
Updated to devel branch, and issue persists.

2017-12-20 09:41:15,063 p=96821 u=bklotz |  ansible-playbook 2.5.0
  config file = /Users/bklotz/.ansible.cfg
  configured module search path =
[u'/Users/bklotz/.ansible/plugins/modules',
u'/usr/share/ansible/plugins/modules']
  ansible python module location =
/Users/bklotz/miniconda2/lib/python2.7/site-packages/ansible
  executable location = /Users/

[2017-12-20 17:56] jasontibbitts commented on #23841
The Fedora issue is fixed with policycoreutils-2.7-4.fc27.

[2017-12-20 18:08] reversecipher opened #34105 "vmware_guest dvs idempotency issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)
VMware Vsphere 5.5

##### SUMMARY

After VM has been deployed, if I run the same task again with same arguments, Ansible returns the result as changed. Vcenter also shows that the VM has been reconfigured. This ha

[2017-12-20 18:26] bcoca commented on #25489
really need to rename `lxd` plugin to `lxc_cli`  to clarify

@xmj stackable connections are still not on the horizon

[2017-12-20 19:57] #25403 closed, assigned to nobody

[2017-12-20 20:26] itdependsnetworks opened #34109 "Setup.py namespace"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Gather Facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

2.1 -> current dev

##### SUMMARY

Gather_facts calls setup.py, a standard name in pypi, so non-core modules run into issues if they have setup.py, like most python libraries do.

More history: https://github.com/ansible/ansible/issues/20702

##### STE

[2017-12-20 21:05] #30940 closed, assigned to nobody

[2017-12-20 21:48] velotraveler opened #34115 "Roles with duplicate invocation are only executed once"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
role inclusion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/home/user/.ansible.cfg) = -o Protocol=2

##### OS / ENVIRONMENT
Manager host is RHEL 7.3

##### SUMMARY
Playbook has a list of roles to execute. If a role is repeated multiple times in the list, it is only executed the first time. If I use dict syntax to invoke

[2017-12-20 22:21] albertomurillo commented on #33563
When `path` is a single file the archive module compresses the file. When it is a directory or a list of files and/or directories it creates the archive and then compresses it as documented in the `state` return value although it isn't very clear to understand.

[2017-12-20 22:47] bhudlemeyer commented on #29640
I know this is closed but I would like to say I stumbled across this when searching for a way to list all snapshots. The module referenced as the reason for this closer cant currently list all snapshots.

[2017-12-20 22:55] Qalthos commented on #33993
Sorry for not being clearer, it hasn't been merged yet. Is it possible for you to check out that branch and test that? I'm nearly certain this is the issue, I just want to be sure.

[2017-12-20 23:15] pavelanni commented on #1934
@santoshkkhade : try {{ hostvars['foo']['time']['stdout'] }}
It worked for me (I've spent half a day today trying to figure out why my registered variables are not visible in the role!..)

[2017-12-20 23:40] brainclots commented on #33993
I'd love to, but am not sure how to find that branch. Can you help me with
the syntax to pull it? I have been using:

sudo -H pip install git+https://github.com/ansible/ansible.git@devel
--upgrade

On Wed, Dec 20, 2017 at 2:56 PM Nathaniel Case <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again?"

[2017-12-21 01:42] bendoh commented on #33563
Thank you for the bug report @gouyang. @albertomurillo is correct that if there's a single file, the archive is created as simply a compressed file, regardless of the suffix that you use. This is the intended behavior. I do think that the documentation could be clarified, however!

[2017-12-21 01:45] bendoh commented on #33563
easyfix docs_pull_request

[2017-12-21 01:46] bendoh commented on #33563
notabug +easyfix

[2017-12-21 01:48] #33563 closed, assigned to nobody

[2017-12-21 01:55] bendoh opened #34119 "Missing backslash on `.tbz2` extension pattern match"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
2.5

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The period in `.tbz2` is not escaped in the regular expression for the `dest` file extension: https://github.com/ansible/ansible/blob/34f47d5e8840c378bacf129f8971636ce47857ff/lib/ansible/modules/files/archive.py#L254

This will cause matches on files like `atbz2` and `

[2017-12-21 02:56] Akasurde commented on #34105
@reversecipher Thanks for reporting this issue. Would you like to raise a PR with your findings?

[2017-12-21 03:25] Qalthos commented on #33993
That appears to be `pip install git+https://github.com/Qalthos/ansible.git@restore-prompt --upgrade`

[2017-12-21 03:30] PikachuEXE commented on #29886
Will start a backport PR when free

[2017-12-21 03:30] stacker2017 opened #34122 "azure_rm_storageaccount error <SkuName.standard_lrs: 'Standard_LRS'> is not valid value for enum <enum 'SkuName'>"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When trying to run following playbook:
- name: Create Azure VM
  hosts: localhost
  connection: local
  tasks:
  - name: Create storage account
    azure_rm_storageaccount:
       resource_group: awx
       name: testaccount2018
       type: Standard_LRS

[2017-12-21 04:20] basictheprogram commented on #32554
Updating info.

New ansible.
Same task, same problem.
Still using -f1 to reduce threading issue.
[code]
[code]
[code]
When ansible appears hung but before it errors out a dtruss shows the below over and over
[code]
So python is waiting on something, but if I read the select correct, all the fds are NULL? Something stomp them?

[2017-12-21 04:46] Akasurde commented on #22617
@willthames @s-hertel I see Aurora in Ansible RDS docs. If this is true, can we close this issue ?

[2017-12-21 04:53] reenlam opened #34125 "Arista EOS 'cli' transport mode doesn't work when ansible is installed via 'apt' or not as root via 'pip'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- eos_config
- eos_command

##### ANSIBLE VERSION

When installed via 'apt':
[code]
When installed globally not as root via 'pip':
[code]
Tested also on Ansible 2.5.0 and 2.3.2.0
##### CONFIGURATION
VOID (didn't change anything)

##### OS / ENVIRONMENT
Ansible host:
Ubuntu 17.10

Controlled Arista Switches:
Arista vEOS 4.18.1F (Aboot-veos-8.0.0

[2017-12-21 05:13] #33114 closed, assigned to nobody

[2017-12-21 06:54] gouyang commented on #33563
I tested that if the `path` is a directory, it's okay.

[code]

If it's a single file, it's different.

[code]

It's truly a problem to me because I want the same results in my scripts.  If I use `path`, the target file should be `dir/Dockerfile`, not `Dockerfile`.

[2017-12-21 07:43] xor007 commented on #30518
This happens for me on a default RHEL 7 install

[2017-12-21 08:38] #31884 closed, assigned to trishnaguha

[2017-12-21 08:38] #33686 closed, assigned to trishnaguha

[2017-12-21 08:57] PikachuEXE commented on #29886
backport PR opened: #34130

[2017-12-21 09:31] bakarov commented on #20492
I had the sample problem,
`fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "Failed to import docker-py - No module named requests.exceptions. Try `pip install docker-py`"}`

Nothing mentioned in this thread helped. I downgraded ansible, and everything worked.
`pip install ansible==2.3.3.0`

[2017-12-21 09:42] Akasurde commented on #21573
resolved_by_pr #34132

[2017-12-21 09:50] jhawkesworth commented on #32554
Now that pywinrm 0.3.0 is out I wonder if its worth trying that (with the message encryption and skipping the https comms).

I fear the issue is that something that you are uninstalling causes the http stack to get restarted which will bust winrm (and I imagine could well leave workers hanging around with nothing to talk to).

I suppose you might be able to work around that by sticking in a big lo

[2017-12-21 09:59] kostiantyntravis commented on #34093
No, only VPN so we can assume that it's a `direct` connection

[2017-12-21 10:11] Gehrken opened #34134 "Documented option "order" is not accepted by module ovirt_host_pm"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_host_pm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/home/USERNAME/git/ansible/ansible.cfg) = 50
HOST_KEY_CHECKING(/home/USERNAME/git/ansible/ansible.cfg) = False
RETRY_FILES_SAVE_PATH(/home/USERNAME/git/ansible/ansible.cfg) = /tmp

##### OS / ENVIRONMENT
Running on Fedora 27
Manage Centos 7

##### SUMMARY
Documented

[2017-12-21 10:16] #34077 closed, assigned to nobody

[2017-12-21 10:23] ianwijaya commented on #34122
got same error @_@

[2017-12-21 10:32] deadmalc commented on #13235
Any chance of this being fixed (still causing changed as of ansible 2.4.2)

[2017-12-21 10:46] DRAKUN opened #34135 "Download zip file on AWS using aws_s3 for a windows node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CHANGED
[ansible@controller windows]$ ansible-config dump --only-changed
DEFAULT_HOST_LIST(/home/ansible/exo/windows/ansible.cfg) = ['/home/ansible/exo/windows/hosts']
[ansible@controller windows]$

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2017-12-21 10:51] pmyjavec commented on #11905
@jimi-c, is there any chance we can have this revisited? This is a really lame bug. How true|false = True|False I have no idea?

[2017-12-21 10:51] wernerflamme commented on #25941
I get the same error on SLES, from one SLES to another. I perform some "zypper_repository" tasks (adding some repos and making sure certain others don't exist), and for all added repos I get this error:

[code]

A "zypper ref" on the client host works without problems.

[2017-12-21 11:03] gouyang commented on #33563
It look strange to treat the file `Dockerfile.tar` as a ASCII text file.

[2017-12-21 11:07] dagwieers opened #34137 "aci: Rename "encap pool" to "vlan pool""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_encap_pool
aci_encap_pool_range
aci_domain_to_encap_pool

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So we got a request to rename the newly added **aci_encap_pool** and **aci_encap_pool_range** and not use "encap pool" as a term since this is an internal name and not the "commercial" name in the GUI. So we may alienate users.

The proposal

[2017-12-21 11:17] dagwieers commented on #34137
cc: @rsmeyers @nilloBE

[2017-12-21 11:22] machacekondra commented on #34091
!component ./lib/ansible/modules/cloud/ovirt/ovirt_disk

Right, we need to introduce new `sparse` parameter and have this as default behavior if `sparse` parameters isn't found.

[2017-12-21 11:22] warmchang commented on #18305
👍

[2017-12-21 11:34] wangycc commented on #21566
@s-hertel Hi，I still failed after configuring ec2_ur. Can you help me check it?, thanks
[code]
version:
[code]

[2017-12-21 11:51] jeinwag commented on #33183
Also started noticing that each usage of include_role (with a loop) slows down consecutive uses of include_role.
I put together a small example: https://github.com/jeinwag/include-role-slowness

[2017-12-21 12:13] Vladimir-csp opened #34139 "until loop counter not available for tests"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

task executor
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Task with `until` loop can not be evaluated by `attempts`
##### STEPS TO REPRODUCE

Run this playbook several times

[code]

##### EXPECTED RESULTS

`attempts` attribute is accessible in `changed_when` test, task reports changed if

[2017-12-21 12:13] rcarrillocruz commented on #31277
https://github.com/ansible/ansible/pull/34136

[2017-12-21 12:46] akamalov commented on #34068
No one ? Really?

[2017-12-21 12:58] joshovi commented on #12170
+1

[2017-12-21 13:06] MasterofJOKers commented on #33907
It's the same for the copy module. It was working in Ansible 2.2. Looks like the copy action plugin got refactored since then and [this](https://github.com/ansible/ansible/blob/8708105616c01df34970dc502bd6073983acf4d9/lib/ansible/plugins/action/copy.py#L571) is now only executed for symlinks and not for everything.

[2017-12-21 13:06] chdorb opened #34141 "command or shell module: cp -r command fails with 'No such file or directory'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Modules:
- command
- shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS running Ansible is Fedora 27 up-to-date:

[code]

Remote OS is Ubuntu 16.04 LTS up-to-date :

[code]

##### SUMMARY

Unable to use the `cp -r` command with` command` or `shell` module inside playbook.
Works fine by issuing command

[2017-12-21 13:35] alvarezluciano commented on #33678
Updating the issue...
Some of them are still failing with same error output. I'm using a 1min delay.
Any other suggestions/ideas?
Thanks in advance!

[2017-12-21 13:52] epetrovich commented on #21397
And 2.4.2 as I see.

[2017-12-21 14:02] richlv opened #34144 "two random password lookups in same task return same value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookups

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no custom config

##### OS / ENVIRONMENT
Linux

##### SUMMARY
two consecutive facts from password lookup with same length get identical values.
separate tasks or different length result in different values, as expected.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
two differe

[2017-12-21 14:16] larsks commented on #34144
The issue here seems to be template caching.  If I modify `lib/ansible/template/__init__.py` so that the [`Templar.template`](https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L419) method has `cache=False` instead of `cache=True` as the default, then @richlv's original playbook works as expected.

That means you can work around the problem like this:

[code]

That giv

[2017-12-21 14:41] arthfl commented on #33760
Same behaviour for me.

`
ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/flart/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.14 (default, Sep 20 2017, 01:25:59) [GCC 7.2.0]

[2017-12-21 15:34] Hercules888 opened #34147 "Ansible startup performance slow due to time spent loading in ConfigManager"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux pine64 3.10.104-2-pine64-longsleep #113 SMP PREEMPT Thu Dec 15 21:46:07 CET 2016 aarch64 aarch64 aarch64 GNU/Linux

##### SUMMARY

Ansible startup performance on (slow) test system 10 sec. mainly due to parsing of ansible/config/base.yml.
Could be reduced by patc

[2017-12-21 15:50] kudrevatykh opened #34149 "ansible-inventory script does not work with encrypted values embedded in yaml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

redhat linux
##### SUMMARY

ansible-inventory script cannot output inventory when it have yaml files with embedded ecnrypted variables
##### STEPS TO REPRODUCE

setup simple inventory with yaml file containing embedded encrypted value
run ansible-inv

[2017-12-21 15:52] kudrevatykh commented on #34149
error was added in #16274 `AnsibleVaultEncryptedUnicode` not encoded as json or yaml

[2017-12-21 15:56] mkrizek commented on #34149
duplicate_of 31141

[2017-12-21 15:59] #34149 closed, assigned to nobody

[2017-12-21 16:06] nicklinghj opened #34150 "Ansible tower for remote user setup remote_tmp"
##### SUMMARY

Ansible tower 3.2.1

If my some clients user don't have $HOME directory but some have.  But as the client can't change ansible.cfg or tower configuration for remote_tmp as it is global setting.  Or some remote system have /var/tmp but some only have /tmp.

 How solve this problem?
 Can prompt or setup remote_tmp  dynamically in job template or somewhere separately ?

##### ISSUE TYP

[2017-12-21 16:24] jctanner commented on #13876
reopening till https://github.com/ansible/ansible/issues/31022 is merged.

!needs_info

resolved_by_pr https://github.com/ansible/ansible/issues/31022

[2017-12-21 16:26] maxamillion commented on #25653
These should be addressed in the upcoming `k8s_raw` module in the devel branch, it was just merged last week and will be in ansible 2.5. It's slated to replace this module in the future and is considerably more capable.

[2017-12-21 16:30] kachkaev opened #34151 "s3_sync missing --no-follow-symlinks option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[`s3_sync`](https://docs.ansible.com/ansible/latest/s3_sync_module.html)

##### ANSIBLE VERSION

[code]

##### SUMMARY

I tried replacing `aws s3 sync --delete /PATH s3://BUCKET/TARGET_PATH --no-follow-symlinks` with ansible's `s3_sync` the following way:

[code]

This failed, because ansilbe stumbled on `/PATH/TO/SYMLINK`, which was previously

[2017-12-21 16:34] sivel opened #34152 "Avoid github rate limit issues in github_issues tests"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`test/integration/targets/github_issue/tasks/main.yml`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
If too many tests run close enough together the `github_issues` tests can fail with:

[code]

We'll likely need to not do this authenticated, or in some other way limit the test.

##### STEPS TO REPRODU

[2017-12-21 16:36] jtyr commented on #34093
Does it mean the the login for Jenkins is sent to the Artifactory?

[2017-12-21 16:39] jctanner commented on #13876
bot_skip

[2017-12-21 16:40] chdorb commented on #16600
At least please fix the man:
[code]
all tasks except included ?

[2017-12-21 16:40] jctanner commented on #13876
For anyone trying to experiment with this problem in devel, we now have a use_tty config option that can disable the connection plugin from adding "-tt" without having to hack the code.

https://github.com/ansible/ansible/commit/218987eac1eb9a5671f996d2887dcca349199e51

[2017-12-21 16:58] jctanner commented on #34147
@Hercules888 Could you retest with the AnsibleLoader class?

`from ansible.parsing.yaml.loader import AnsibleLoader`

If that retains the same performance as csafeloader, could you submit a PR?

Thanks for digging into this, it's very much appreciated.

[2017-12-21 16:59] roveo opened #34153 "mongodb_user checking for compatibility before authentication takes place"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mongodb_user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS -> Ubuntu 16.04.3 x64
MongoDB `v3.6.0`
PyMongo `v3.6.0`

##### SUMMARY

When MongoDB authentication is enabled, running this module fails.
The problem is this line: https://github.com/ansible/ansible/blob/ebd096a732cb4c6ebd2b13c063a44

[2017-12-21 17:03] mkrish004c opened #34154 "Ovirt_vms creates vm with thin provisioned disk from a preallocated disk template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible configuration

##### OS / ENVIRONMENT
[code]
##### SUMMARY
When creating a VM from a template that has preallocated disk in it results in a VM with thin provisioned disk by default.

##### STEPS TO REPRODUCE

1. Make sure you have the template in place with a preallocated

[2017-12-21 17:10] goldencut opened #34156 "Copying files fails when trying to copy vaulted file with no file extension"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/Users/dude/dev/www-ansible/ansible.cfg) = -o StrictHostKeyChecking=no
DEFAULT_HASH_BEHAVIOUR(/Users/dude/dev/www-ansible/ansible.cfg) = merge
DEFAULT_HOST_LIST(/Users/dude/dev/www-ansible/ansible.cfg) = [u'/Users/dude/dev/www-ansible/inventory/hosts']
DEFAULT_ROLES_PATH(/U

[2017-12-21 17:23] neonardo1 commented on #10479
Thanks for this information.  I find @x-yuri solution to be the best given the way it handles line breaks between the files properly.  :)

[2017-12-21 17:24] drzraf commented on #16600
Please note the difference between `import_tasks` and `include` here.

[2017-12-21 17:35] mtsvtorres opened #34157 "Test"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-21 17:36] #34157 closed, assigned to nobody

[2017-12-21 18:35] davidmnoriega commented on #18459
I'm closing this out now that I've figured out how to port my plugin, but it's been quite the struggle. I really would like to see actual documentation and not just "you can jump into lib/ansible/plugins and figure things out pretty easily". @bcoca I would like to help, but not even sure where to begin.

[2017-12-21 18:36] #18459 closed, assigned to jimi-c

[2017-12-21 18:48] #33927 closed, assigned to nobody

[2017-12-21 18:49] stacker2017 commented on #34122
@ianwijaya try https://github.com/Azure/msrest-for-python/issues/75 the workaround solved my issue, I am going to close this ticket since is being worked on under different ticket

[2017-12-21 18:49] #34122 closed, assigned to nobody

[2017-12-21 19:07] ryansb commented on #20867
What would be the expectation for exact_count used on non-running instances?

Are you thinking you'd have a configuration like:

[code]

[2017-12-21 19:20] bobbywatson3 commented on #30768
Ok, I was able to figure out what's causing the bug. If there is an interface that doesn't have "inet ..." on the end of it, this bug will be encountered.

For example, this interfaces file works fine:
/etc/network/interfaces
[code]

This one does not:
[code]

The mgmt interface is a requirement for configuring a management VRF.

[2017-12-21 19:36] jenglish opened #34161 "gconftool2 module fails to update gconf.xml.mandatory with default values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gconftool2 module

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /home/people/joe/prj/ssp/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.6.6 (r266:84292, Aug 18 2016, 15:13:37) [GCC 4.4.7 20120313 (Red Hat 4.4.7-17)]

##### CONFIGURATION
Stock configuration from ansible-2.3.2.0-1.el6.noar

[2017-12-21 19:40] jenglish commented on #34161
This patch fixed the problem for me:

[ansible-34161-patch.txt](https://github.com/ansible/ansible/files/1580396/ansible-34161-patch.txt)

[2017-12-21 19:43] jenglish commented on #34161
Wait, wait! github automagically c l o s e d the issue, I didn't mean for that to happen.

[2017-12-21 19:46] mkrish004c opened #34162 "ovirt_vms with cloudinit options, configs are not being persistent with the VM properties"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible configuration

##### OS / ENVIRONMENT
[code]

##### SUMMARY
While a creating a VM with cloudint configuration and custom scripts, the VM will be created with all the configuration but none of the configs can be seen in the RHV-M GUI under "initial run" and the configuratio

[2017-12-21 20:07] fff7d1bc opened #34163 "Ansible floods syslog, `no_log: True` is too global"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
All of Linux

##### SUMMARY
Curently, Ansible will check if it can load `syslog` module, and unless it can write to journald, it will write to syslog.

The problem with that is, on some systems, it will flood the system logs with absolutely unwan

[2017-12-21 20:15] bobbywatson3 commented on #30768
Also note that this is still present in 2.4.2.0

[2017-12-21 20:22] bcoca commented on #34163
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-21 20:22] #34163 closed, assigned to nobody

[2017-12-21 20:46] bcoca commented on #18459
@davidmnoriega I am planning on adding docs for the plugins, but that would still not include what you requested as that part of the API is not for public consumption. The plugins are supposed to return vars, not consume them.

[2017-12-21 20:54] AlanCoding opened #34164 "script plugin error message wrongly quotes file for output parse errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
script plugin

ansible-inventory CLI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no output from `ansible-config dump --only-changed`

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Error messages from malformed inventory scripts is wrong and confusing

##### STEPS TO REPRODUCE
Create an inventory file with contents

[code]

`chmod +x` it. Also

[2017-12-21 21:01] slashbeast commented on #34163
This is not an user question. This is feature request.

[2017-12-21 21:02] bcoca commented on #34163
which already existed, hence it should have been a question first

[2017-12-21 21:03] slashbeast commented on #34163
Not true. there's no feature to disable syslog logging. There is feature to disable ALL the logging, it hides from user's shell also information what tasks were changed and prints all as 'ok'.

[2017-12-21 21:09] bcoca commented on #34163
follow the link before you assure me that a feature i added does not exist.

[2017-12-21 21:09] goldenprifti opened #34165 "Possible bug for Packet Host Module"
I'm using ansible to provision some new packet servers. If I re-run my provisioning script on a server that is provisioning or active and I'm requesting `state: present`, it dutifully waits until present (and/or IP address if I ask for that) and then continues. If I request `state: active` when the state is anything other than `absent` (i.e. provisioning, active), then the module throws an error.

[2017-12-21 21:14] slashbeast commented on #34163
Sorry and thanks.

[2017-12-21 21:40] resmo commented on #33816
resolved_by_pr #33816

[2017-12-21 21:50] jborean93 commented on #33467
@candonov I've created a PR to add this functionality https://github.com/ansible/ansible/pull/34166. Are you able to test it out and let me know if it works. Have used any of the other domain modules like `win_domain_user` and come across this issue?

[2017-12-21 21:52] abitrolly opened #34167 "Role tasks.yml with fallback to tasks/main.yml"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
Role discovery for tasks.

##### ANSIBLE VERSION
[code]

##### SUMMARY
1. User experience with editing simple roles is degraded, because all files opened in editor tabs are named `main.yml`
2. Directory structure for simple roles looks too complicated for new users, which raises entry barrier

In comparison with previous proposal

[2017-12-21 22:00] #25643 closed, assigned to nobody

[2017-12-21 22:20] sivel commented on #34164
@bcoca this looks to be caused by using `show_content=True` and passing the filename of the inventory script to `DataLoader.load`.  As such it tries to point to a line in the script, rather than a line in the output from the script.

I think this is really the only change we need to make:

[code]

Additionally, maybe we need to extend `_get_extended_error` to use `data` when `src_file` is `<string

[2017-12-21 22:26] sivel commented on #34167
Per all of the previous issues you have referenced, we have no plans on implementing this change.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-12-21 22:26] #34167 closed, assigned to nobody

[2017-12-21 22:39] davidmnoriega commented on #18459
@bcoca well I'm here to say that is not my plan and I need to consume them 😁

I planning on releasing the role I'm working on soon, I'll let you know.

[2017-12-21 22:50] lucastheisen opened #34168 "win_file absent fails when path contains a bracket"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

I am trying to manage a cygwin installation.  In my `uninstall.yml` i have a task for deleting the root folder:
[code]
However, cygwin has a file called `[.exe`.  This causes the following failure:
[code]
##### STEPS TO REPRODUC

[2017-12-21 22:57] lucastheisen commented on #34168
Current workaround is:
[code]
But it doesn't handle things like `Changed` properly...

[2017-12-21 22:58] jborean93 commented on #34168
Looks like we need to use `-LiteralPath` to handle names like this https://gradualdev.wordpress.com/2012/04/07/cant-delete-files-with-square-brackets-in-name/. Will hopefully have a PR for this sometime soon.

[2017-12-21 23:15] owenmorris opened #34170 "Allow win_domain and win_domain_controller to specify location of AD database"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

win_domain
win_domain_controller

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

MacOS to Windows Server 2012R2

##### SUMMARY

win_domain and win_domain controller do not allow the location of the AD database to be specified.  We have had replication issues in the past relating to IOPS issues in Azure and therefore our best practi

[2017-12-22 00:03] PaulUTK opened #34171 "yum groupinstall into chroot detects host OS installation and does not install into chroot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The @InfiniBand Support would install into the chroot.

##### ACTUAL RESULTS

[code]

[2017-12-22 00:47] dagwieers opened #34172 "aci: Waiting for ACI events using WebSockets"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_wait_for

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So ACI has the ability to wait for events to happen, and it would be nice if we had **aci_wait_for**, our very own implementation of **wait_for**, to wait for specific type of events to happen. (E.g. like waiting for the APIC cluster to become fully-fit, etc.)

_Copied from original issue

[2017-12-22 00:47] dagwieers commented on #34172
_From @jmcgill298 on August 17, 2017 22:45_

@dagwieers

[2017-12-22 00:47] dagwieers commented on #34172
So the general idea is that it would be nice to have a module that can wait until some event happens, e.g. a set of APICs becoming Fully-Fit, etc. rather than having to poll the APICs in a loop. ACI has this concept already, and that's why @jmcgill298 provided this example.

The question is what use-cases are there for such functionality and what would be the interface of the module to the user (p

[2017-12-22 00:47] dagwieers commented on #34172
_From @jmcgill298 on August 18, 2017 1:40_

I think you need some sort of notification/alerting mechanism (email, spark, slack, etc.) or a way to call another playbook.

I think also of a time parameter for how frequently to call recv_data().

The URL would also need to be provided

[2017-12-22 00:47] dagwieers commented on #34172
@jmcgill298 Not sure what you mean. What I need is a building-block when orchestrating, much like **wait_for** but for ACI events, not a reporting facility.

[2017-12-22 00:47] dagwieers commented on #34172
_From @jmcgill298 on August 18, 2017 15:23_

If you had it call another playbook, then I would consider that equivalent to a **wait_for**, but maybe I'm missing something

[2017-12-22 00:47] dagwieers commented on #34172
After reading your previous comment again and thinking about this, I guess we have 2 use-cases for event handling.

1. Report (escalate) about specific events that happened
2. Make a playbook wait for something to happen before continuing

My use-case was #2 and mostly matches with the common use of **wait_for** (now I use an **until-loop** with **aci_rest** to get the same thing, but I can relate

[2017-12-22 00:56] dagwieers opened #34173 "aci: Add more examples/integration tests"
##### ISSUE TYPE
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
aci

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So various ACI modules lack good real-life examples, we should do a better job of making it more clear what people ought to provide for each parameter by having clear examples rather than stub input.

We also lack some integration tests for some modules. The reason is most

[2017-12-22 01:00] dagwieers opened #34174 "aci_rest: An unknown error occurred: unhashable type"
_From @dagwieers on October 25, 2017 12:32_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_rest

##### ANSIBLE VERSION
v2.5

##### SUMMARY

If you use the YAML syntax with aci_rest, but use an XML-path (ending with .xml), the aci_rest module currently fails with:
[code]

The workaround is to change `.xml` to `.json`, however the real fix is to support YAML content with XML paths by conv

[2017-12-22 01:02] dagwieers opened #34175 "aci_rest: Attributes are missing, tag 'attributes' must be specified first, before any other tag"
_From @dagwieers on October 25, 2017 12:38_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_

##### ANSIBLE VERSION
v2.5

##### SUMMARY
When you use the YAML or JSON payload format, ACI requires an `attributes` entry even when there are no attributes needed. It will complain with:
[code]
You can add an empty attributes entry by doing `attributes: {}` like the example below:
[code]

We co

[2017-12-22 01:02] dagwieers commented on #34175
So this change ought to go into xmljson as well.

[2017-12-22 01:06] #33467 closed, assigned to nobody

[2017-12-22 01:17] dagwieers commented on #33887
There is a bit of information at: https://github.com/datacenter/aci-ansible/issues/159

[2017-12-22 02:07] nicklinghj commented on #12692
I hope there is new feature on the next release include Ansible tower -- remote_tmp can be set for individual host,  group,  job , task also for remote_user

[2017-12-22 03:40] Akasurde commented on #34161
@jenglish Thanks for reporting and debugging this issue. Would you like to raise a PR against this issue with your findings ?

needs_info

[2017-12-22 05:39] Akasurde commented on #33760
@arthfl @cdelgehier I am not able to reproduce this issue is my env, so as a workaround - can you try this patch - https://github.com/Akasurde/ansible/commit/b5af7a318f776a51040c8f5d159b4caa4f209e8c ?

needs_info

[2017-12-22 06:04] ajithkt opened #34178 "Issue with connecting to Windows server 2012 R2 from Ansible 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_ping
ansible windows -m win_ping -vvv

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Server : RHEL7
Client : Windows 2012 R2

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
windows ping should give proper ping respose.

##### ACTUAL RESULTS
[code]

[2017-12-22 06:05] #32375 closed, assigned to nobody

[2017-12-22 07:00] #33816 closed, assigned to nobody

[2017-12-22 07:07] #33680 closed, assigned to Akasurde

[2017-12-22 07:24] mkrizek commented on #34156
cc @alikins

[2017-12-22 08:06] hleb-rubanau commented on #26352
I've faced same error. Could anybody outline how to troubleshoot it? If the issue was closed, it is probably something in the cookbook?

[2017-12-22 09:00] kudrevatykh commented on #31141
ansible-inventory with `--yaml` option also does not work properly
1. when variable assigned to single host output is encrypted
2. when variable assigned to multiply hosts output is mailformed with `&id001` and `*id001` symbols

example can be found in https://gist.github.com/kudrevatykh/39875c9939d7248cd91f7bd1155a22ae

[2017-12-22 09:04] jhawkesworth commented on #34178
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-22 09:04] #34178 closed, assigned to nobody

[2017-12-22 09:12] tomvlk opened #34181 "ini: Lock file when saving to prevent corruption"
##### ISSUE TYPE
 - Bug Report / Feature Idea

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_REMOTE_PORT(/etc/ansible/ansible.cfg) = 22
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Ubuntu Server 16.04 LTS, 64-bit

##### SUMMARY
When writing INI files from two instances to the same file and host it sometimes corrupts t

[2017-12-22 09:17] kostiantyntravis commented on #34093
Yes, the login that I'm using to install plugin in Jenkins is also sent to Artifactory

[2017-12-22 09:18] AndiDog commented on #20867
shutting-down/terminated ones obviously shouldn't be considered, since they will be gone very soon. In all other cases, `exact_count` should bring existing instances (any state which says "this instance still exists") into the desired state (`stopped` => stop them or create+stop, `running` => start or create them, `present` => keep state of existing instances and if fewer than `exact_count` exist

[2017-12-22 09:29] mkrizek commented on #34171
@PaulUTK Thanks for the bug report! Can you try if https://github.com/ansible/ansible/pull/34182 fixes your issue? Thanks!

[2017-12-22 09:34] mkrizek commented on #33925
@Everspace can you try if https://github.com/ansible/ansible/pull/34140 fixes your issue? Thanks!

[2017-12-22 09:35] gmathon-ovh opened #34183 "First iteration of retries loop: attempts is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
retries loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
While using ``retries`` loop in a task, ``attempts`` key from registered variable is not defined during first iteration. On Ansible 1.9.6, it was.
In [task_executor.py](https://github.com/sereinity/ansible/blob/1e08e9a55f3207

[2017-12-22 09:36] #34183 closed, assigned to nobody

[2017-12-22 09:37] gmathon-ovh commented on #34183
I started to write it yesterday, I didn't see https://github.com/ansible/ansible/issues/34139
Sorry for the duplicate.

[2017-12-22 09:39] danowar2k opened #34184 "FR: Tool to generate standardized documentation for roles and playbooks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- core (?)
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = True
COLOR_VERBOSE(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = bright blue
DEFAULT_BECOME_METHOD(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = sudo
DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY)

[2017-12-22 09:42] jpmens commented on #34181
Honestly?

[2017-12-22 09:43] no2a opened #34185 "openvswitch_bridge requires the fail_mode parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openvswitch_bridge

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing with "ansible-config dump --only-changed"

##### OS / ENVIRONMENT
N/A

##### SUMMARY

ansible-doc openvswitch_bridge says that:
[code]
However, if the target bridge is set fail mode (either standalone or secure), openvswitch_bridge failed with complaining the fail_mode

[2017-12-22 09:51] tomvlk commented on #34181
It's an exceptional situation that occurred in one time when deploying at the same time and this was due to scheduled rollout and a manual action at the same time to the same host. The file is used to read out the configuration of the deployment by specific server tools (on the server itself) so it needs to be updated several times during deployment and different roles.

[2017-12-22 09:51] DRAKUN commented on #34135
fatal: [192.168.56.103 -> 127.0.0.1]: FAILED! => {"changed": false, "error": {"code": "403", "message": "Forbidden"}, "msg": "Failed while looking up bucket (during bucket_check) tafjr16.", "response_metadata": {"host_id": "n/FGuB3lwTCGAfPdsmWwu5R4IaeyHrA5OdeOHRjeDi3hVfbFJS6k7AvDIZrcyZfVeQqUCmurgvw=", "http_headers": {"content-type": "application/xml", "date": "Fri, 22 Dec 2017 09:50:41 GMT", "ser

[2017-12-22 09:53] amarao opened #34187 "delegate_facts does not work with include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%h-%%p-%%r
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 16
DEFAULT_SU

[2017-12-22 10:44] jtyr commented on #34093
I see. I went through the code and the can confirm that the `url_username` and the `url_password` is used also for the updates URL. The updates are downloaded via module's method `_download_updates()` which calls another module's method `_get_url_data()` which then calls the core function `fetch_url()`. The last one is taking the `url_username` and the `url_password` from the module object. That m

[2017-12-22 11:28] DRAKUN commented on #34135
Hello first part of issue  done because my controler does have a good system time.

`---
- name: Testing windows modules Download S3
  hosts: windows
  gather_facts: false
  #become: yes
  vars:
    access_key: "DRAK"
    secret_key: "BRO"
  tasks:
  - name: manage objects in S3.
    delegate_to: 127.0.0.1
    aws_s3:
      aws_access_key: "{{ access_key }}"
      aws_secret_key: "{{ secret_key }}

[2017-12-22 11:31] hryamzik commented on #30768
I'm not sure if that's a valid file. I'll have to verify how it works in c code that reads these files.

[2017-12-22 11:43] qxmips opened #34190 "loadkey command doesn't work with the module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
vyos 1.1.7

##### SUMMARY

[code]
returns an  exeption in 'try': "'line must start with either `set` or `delete`" .  how can i use loadkeys with ansible please?

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-22 12:18] balonik opened #34191 "vmware_guest: state poweredon is not done when task is async and vm doesn't exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
RHEL 7.4
pyvmomi (6.5.0.2017.5-1)
vCenter 6.0

##### SUMMARY
vmware_guest param state: powerdon is not working when async task is used and vm needs to be creat

[2017-12-22 12:33] DRAKUN commented on #34135
I update now the playbook

`---
- name: Testing windows modules Download S3
  hosts: windows
  gather_facts: false
  #become: yes
  vars:
    access_key: "DRAK"
    secret_key: "CORP"
    destFold: "E:\\sources\\jbossNative.zip"
  tasks:
  - name: manage objects in S3.
    #delegate_to: 127.0.0.1
    aws_s3:
      aws_access_key: "{{ access_key }}"
      aws_secret_key: "{{ secret_key }}"
      bu

[2017-12-22 12:37] balonik commented on #34191
Hi,
I have also tried to get around it by using async_status and waiting for the task to finish. But it seems the vmware_guest task never finishes, even after 1 minute the async task cache was still
{"started": 1, "finished": 0, "ansible_job_id": "150814510047.14804"}

Tasks:
[code]

[2017-12-22 12:50] bobbywatson3 commented on #30768
This is how the management VRF must be configured on Cumulus Linux: https://docs.cumulusnetworks.com/m/view-rendered-page.action?abstractPageId=7113152

[2017-12-22 12:52] hryamzik commented on #30768
I see, this module is based on debian c code.

[2017-12-22 12:56] bobbywatson3 commented on #30768
Cumulus is also Debian based. Do you think there's a compatibility issue?

[2017-12-22 13:08] SaranrajMG opened #34192 "vmware_guest module didnt accept encrypted vault password."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
          vmware_guest
          Python2.7

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[root@test ]# ansible-config dump --only-changed
[root@test ]#

##### OS / ENVIRONMENT
   RHEL - 6.8

##### SUMMARY

Hello Team,

Im a newbie to ansible. I have been trying to create a VM machine in VMware and i have installed required.

I have create

[2017-12-22 13:48] anakelka commented on #32061
Any update?

[2017-12-22 13:54] balonik commented on #33784
I hit this on 2.4.1 as well.
import_tasks works
include_tasks ends up with error:
fatal: [node]: FAILED! => {"failed": true, "reason": "Unable to retrieve file contents\nCould not find or access '/home/user/tasks/redhat-7/config.yml'"}

Folder structure:
[code]
Includes:
[code]

[2017-12-22 14:24] nikitakazantsev12 opened #34195 "vmware_guest: cannot relocate VM to a different datastore on the same vHost"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-12-22 14:40] Skewled commented on #33919
Any update on this particular issue? @willthames

[2017-12-22 15:19] lktslionel commented on #31627
Hi,
I have the same issue when using the field `issuetype: Technical Hitch` in my play :
[code]

I looked into the [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/jira.py#L282-L283) and I saw that I could override the issuetype with the param `field` as follows :
[code]
But I'm getting the `HTTP Error 400: Bad Request` error as a result of my task execut

[2017-12-22 15:50] uriinf commented on #34153
+1

[2017-12-22 15:56] bobbywatson3 commented on #30768
In the official Ubuntu documentation, example interface files are shown with both `br0` and `lo` not having `inet` specified: http://manpages.ubuntu.com/manpages/xenial/man5/interfaces.5.html

In the module's current state, it would be unable to parse these files at all.

[2017-12-22 16:08] dnowell commented on #29798
I'm still seeing this issue with Ansible 2.4.1.0.  Is there a later version of Ansible or the specific module that this has been fixed in?

[2017-12-22 16:30] ocervell opened #34196 "include_role: does not respect tags"
**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
`include_role`

**ANSIBLE VERSION**
ansible 2.5.0

**OS / ENVIRONMENT**

Centos 7

**SUMMARY**
`include_role` does not respect tags and overrides tasks tags when `tags` is passed.

**STEPS TO REPRODUCE**

***roles/common/tasks/main.yml***
[code]

***play.yml***
[code]

***command***
`ansible-playbook play.yml --tags task_1`

**EXPECTED RESULT**
The pla

[2017-12-22 17:17] johnr-spindance commented on #30701
Whats the status on this? Will there be NLB support in the next version of Ansible?

[2017-12-22 17:26] paulbovbel opened #34197 "vault_embedded interaction with to_yaml and to_json"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Passing encrypted variables through to_yaml results in variable not being decrypted.
... through to_json results in

[code]

##### STEPS TO REPRODUCE

See tests added here: https://github.com/paulbovbel/ansible/commit/25a3ee9

[2017-12-22 17:29] Plup-io commented on #34001
I tried to find a workaround but it seems that all modules writing in files do the same thing (creating temp file in the directory first.

    lineinfile:
      path: '{{appuser_authorized_dir}}/{{appuser_user}}'
      line: "{{ lookup('file', '../secrets/users/' + item + '.pubkey') }}"
    with_items: '{{appuser_allowed_users}}'

failed: [idunn.srv.happy-dev.fr] (item=plup) => {"changed": false,

[2017-12-22 17:32] ocervell opened #34198 "ipa_dnsrecord: Add CNAME record"
I think we're missing the CNAME record type for `ipa_dnsrecord` resource.

CNAME records are very useful when you have ELBs (for instance) on AWS that have very long hostnames, and you want to map a shorter hostname to it.

@HeMan What is required to support this type of record ? Does the IPAClient already support adding CNAME ?

##### COMPONENT NAME
ipa_dnsrecord

##### ISSUE TYPE
- Feature Idea

[2017-12-22 17:35] paulbovbel commented on #34197
!component lib/ansible/parsing/vault

[2017-12-22 17:36] reversecipher commented on #34105
Sure, I'll create PR.

[2017-12-22 18:05] brainclots commented on #33993
Back to my original issue:

2017-12-22 10:03:27,192 p=14705 u=bklotz |  ansible-playbook 2.5.0
  config file = /Users/bklotz/.ansible.cfg
  configured module search path =
[u'/Users/bklotz/.ansible/plugins/modules',
u'/usr/share/ansible/plugins/modules']
  ansible python module location =
/Users/bklotz/miniconda2/lib/python2.7/site-packages/ansible
  executable location = /Users/bklotz/miniconda2/

[2017-12-22 18:33] jenglish commented on #34161
@Akasurde it will be easier if an existing maintainer reviews and applies the patch directly, I'm not set up to raise pull requests against this repo. Thanks.

[2017-12-22 19:21] ocervell commented on #15115
I'm using Ansible 2.5.0 and I'm still running into the same issue.
@brandond #15890 has been merged, but #14435 seems to have been forgotten ?

[2017-12-22 20:56] basictheprogram commented on #32554
I've been using pywinrm 0.3.0 since it was available via pip.
[code]
For testing, I pull the latests ansible from github and do the below
[code]
To make sure I've got the latest python package installed.

Here is the list of packages I'm uninstalleding
[code]
But the problem still occurs even when my test computers do not having any of the above listed packages installed.

[2017-12-22 20:59] s-hertel commented on #30701
This was mistakenly closed. The PR for NLB support: https://github.com/ansible/ansible/pull/33808.

[2017-12-22 21:10] danowar2k commented on #29280
Please fix it, this basically kills my playbook at the moment.

[2017-12-22 21:14] johnr-spindance commented on #30701
Thank you @s-hertel !

[2017-12-22 22:17] tedder commented on #34151
`aws s3 sync` doesn't implement an API, nor does Ansible's s3_sync implement `aws s3 sync`. Having a symlink flag makes sense, `needs_contributor`.

[2017-12-22 23:38] ElijahLynn commented on #17193
If anyone finds this and doesn't like that format, one other option is that you can pipe your variable into match() and look for the true/false string. e.g.:

when: example_var is defined and example_var | `match("true")`

[2017-12-23 02:14] ocervell commented on #562
Still an issue now with Ansible 2.5.0.
**Common use case**: running `ansible-playbook` from a CI build, the build status is always based on the return value of `ansible-playbook`, and so never fails when one of the tasks fails.

[2017-12-23 05:37] djmattyg007 opened #34209 "Template lookup filter should decrypt vault-encrypted templates"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
template lookup filter

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The template module/action plugin decrypts vault-encrypted templates before rendering them, but the template lookup filter plugin does not.

[2017-12-23 13:54] DRAKUN opened #34210 "TypeError: '>=' not supported between instances of 'WinRMTransportError'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module : git
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[ansible@controller windows]$ ansible-config dump --only-changed
DEFAULT_HOST_LIST(/home/ansible/exo/windows/ansible.cfg) = ['/home/ansible/exo/windows/hosts']
[ansible@controller windows]$
##### OS / ENVIRONMENT

controller = centos7
node1 = windows server 2012 R2

##### SUMMARY

[2017-12-23 14:44] dagwieers opened #34211 "aci_epg_to_domain: Module does not need to support OpenStack"
_From @nilloBE on October 10, 2017 9:11_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_epg_to_domain

##### ANSIBLE VERSION
v2.5

##### SUMMARY
The module aci_epg_to_domain allows mapping an EPG to a Physical or Virtual Domain in ACI. The Virtual Domain allows the user to specify the domain type selecting VMware, Microsoft or OpenStack.

In this setting, OpenStack should be removed bec

[2017-12-23 14:44] dagwieers commented on #34211
_From @jmcgill298 on October 21, 2017 3:36_

@nilloBE regardless of what people should configure, does the module support invalid API requests to the APIC?

[2017-12-23 14:44] dagwieers commented on #34211
_From @nilloBE on October 21, 2017 9:19_

The module does not support invalid API requests. You can actually through this module map an EPG to an OpenStack domain, from an API perspective this is not an invalid request. But the EPG will not exists in neutron DB unless it is created by neutron, and therefore it will not be usable at all by the OpenStack workloads. With OpenStack, users must leverag

[2017-12-23 14:44] dagwieers commented on #34211
_From @jmcgill298 on November 1, 2017 13:59_

If ACI supports something that is invalid, then I would put that on Cisco needs to remove the feature. If they are supporting it, then I would rather assume that someone is using it, or that Cisco has plans to make it useful.

[2017-12-23 14:44] dagwieers commented on #34211
@nilloBE I think the better approach here is to add notes to the documentation of the module to clarify what is expected for this specific use-case. And leave the functionality in the module.

Can you propose the exact wording for the note in the module ?

[2017-12-23 19:32] DRAKUN commented on #34210
i think you can't use anoter command without prefix win_
like example  :
`[ansible@controller windows]$ ansible windows -m git_config -a "name=alias.ci"
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: '>=' not supported between instances of 'WinRMTransportError' and 'int'
192.168.56.103 | FAILED! => {
    "msg": "Unexpected failure during

[2017-12-23 19:37] BondAnthony commented on #29753
resolved_by_pr 4469

[2017-12-24 09:32] jleclanche commented on #23864
@dagwieers Could you reopen? I didn't see the message but this is a valid feature request

[2017-12-24 12:14] dagwieers opened #34214 "Windows become fails for passwordless users"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
windows

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Not sure whether this is a bug report or a feature request. At least it is a known issue ;-)

Currently `become` on Windows does not work for passwordless users (or locked users). It would be nice if we could run Powershell scripts for passwordless users as well. The limitation i

[2017-12-24 12:18] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #10445
ansible 2.4.2.0 - problem still exists.

[2017-12-24 13:21] walidshaari commented on #33414
Sorry for the delay, I did not had access to the switch for some time, from the output below, it seems the module understands the banner, and authenticates just fine, the issue is after authentication. I can see socket path is created and used in the first lines of logs. I tried also setting no banner, and having a banner, but obviously this was not the issue.

so to answer your question:
* there

[2017-12-24 13:26] dagwieers commented on #34214
So I tried using the suggestion at https://github.com/ansible/ansible/issues/16202#issuecomment-225307500 but couldn't get it to work. An out-of-the-box solution would be preferred.

[code]

[2017-12-25 00:05] selivan opened #34218 "Ansible documentation does not describe connection type chroot"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION

[code]

##### SUMMARY
Ansible supports chroot into local directory, but it's not mentioned in documentation.

##### STEPS TO REPRODUCE
Try to find out how to use ansible with chroot on http://docs.ansible.com.

##### EXPECTED RESULTS
This connection type, parameters and features should be described in http:

[2017-12-25 00:17] selivan commented on #34218
I've added ansible version to report because @ansibot asks it, but it's irrelevant for "Documentaion Report" issue.

[2017-12-25 00:20] selivan commented on #34218
btw, I was poking around and found out that this connection type works like this:

[code]
Chroot env should have python 2 installed, or it won't work. Local python on host is not enough.

[2017-12-25 09:23] IoTPlay commented on #24236
+1

[2017-12-25 11:17] sameergithub5 opened #34219 "ansible 'dict object' has no attribute 'stdout_lines'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

"path"=/tmp
##### ACTUAL RESULTS

[code]

[2017-12-25 12:06] ganeshrn opened #34220 "get_prompt fails for network platforms using cliconf plugin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-25 12:45] #34220 closed, assigned to ganeshrn

[2017-12-25 12:50] 361007018 commented on #11905
you can use filter to convert bool to lower string
`{{ some_fact | lower }}`

[2017-12-25 13:48] Akasurde commented on #34219
Hi, @sameergithub5 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

Error shows exact error for you.

Change this
[code]

to

[code]

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ans

[2017-12-25 13:48] #34219 closed, assigned to nobody

[2017-12-25 13:58] Akasurde commented on #34192
@SaranrajMG Thanks for reporting this issue. You have mentioned `vmware_guest` in bug report but playbook is for `vsphere_guest`.

Could you please correct this and let me know ? Also, we are about to deprecate `vsphere_guest` in favor of `vmware_guest` so please use `vmware_guest`.

Please see documentation about `vsphere_guest` deprecation [here](https://github.com/ansible/community/wiki/VMware:

[2017-12-25 14:00] Akasurde commented on #34191
@balonik Thanks for reporting this issue. I will try to reproduce this issue.

[2017-12-25 14:37] SaranrajMG commented on #34192
@Akasurde Thanks for your reply.... My issue is how to use encryption method to connect VCenter ...

The module either vsphere_guest/vmware_guest is not accepting encryption method.

[2017-12-25 17:44] rrey opened #34225 "grafana annotation callback"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins/callback/grafana.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Grafana v4.6+ comes with a native annotation store and the ability to add annotation events directly from the graph panel or via the HTTP API.

An Ansible callback could publish global annotations to Grafana through

[2017-12-25 20:45] adakhin opened #34226 "win_template: diff output is not produced"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/sd/ansible/hosts']
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/sd/ansible']

##### OS / ENVIRONMENT

ansible server: RHEL 6.4
managed host: Windows Server 2008 R2 / Windows Server 2012 R2

##### SUMMARY

win_template modu

[2017-12-25 20:52] mr-fIErcE commented on #34226
totally forgot to mention that it worked as expected in ansible 2.3.0

[2017-12-26 04:13] ianwijaya commented on #26171
use force: yes

[2017-12-26 05:21] kailashrtm opened #34231 "Unable to connect the server post reboot and wait playbook"
I am getting error while executing the playbook for reboot and wait for 30 seconds,

Server is getting reboot but at the same time I am loosing my ansible connection as well.

Below is my yml file and error output

[code]

Error output
[code]

[2017-12-26 06:16] Akasurde commented on #34192
@SaranrajMG Thanks for reply. I am able to use Vault password for vmware_guest module as follows -

[code]

Let me know if it works for you.

needs_info

[2017-12-26 07:06] Akasurde commented on #34161
@jenglish I am not able to reproduce this issue. @kevensen Could you please reproduce this issue ?

needs_info

[2017-12-26 07:30] pratikkava1189 opened #34234 "Ping module execution on localhost"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- PING

##### ANSIBLE VERSION
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Nov  6 2016,

[2017-12-26 08:08] Akasurde commented on #34231
Hi @kailashrtm !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2017-12-26 08:08] #34231 closed, assigned to nobody

[2017-12-26 08:10] Akasurde commented on #34231
You can try

[code]

[2017-12-26 08:17] yuwzho commented on #26171
@MBlagui this is not a bug, you can delete a resource group with resources like the following yaml file. The `force: True` let the API know that you want to delete the resource group no matter it contains resources.

[code]

[2017-12-26 08:53] rrey commented on #34225
If the feature is accepted you can assign it to me. I'm already on it.

[2017-12-26 09:27] itsuri commented on #29449
ansible 2.4.2.0
  config file = /meteologic/DevOps/Ansible/Files/ansible.cfg
  configured module search path = [u'/home/uri/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/uri/.venv/ansible/local/lib/python2.7/site-packages/ansible
  executable location = /home/uri/.venv/ansible/bin/ansible
  python version = 2.7.12 (default, Nov 20 2017,

[2017-12-26 10:02] kostiantyntravis commented on #34093
I'm not quite understand why it should have this file if we use custom plugin that we will never upgrade

[2017-12-26 10:05] Akasurde commented on #34198
resolved_by_pr #34236

[2017-12-26 10:53] revmischa commented on #14237
I'm getting this issue too on EC2

[2017-12-26 11:00] kustodian opened #34239 "playbook_vars_root doesn't work for playbook imports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core/Variable manager

##### ANSIBLE VERSION
[code]
But it also doesn't work on 2.4.2 and current devel.

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 17.10

##### SUMMARY
[playbook_vars_root](http://docs.ansible.com/ansible/devel/config.html#playbook-vars-root) configuration doesn't work at all. It always work as if it is set to `bott

[2017-12-26 11:16] kustodian commented on #34239
!component =lib/ansible/vars/manager.py

[2017-12-26 12:52] SaranrajMG commented on #34192
@Akasurde .. thanks for your email. I'm able to.create VM using vault

[2017-12-26 12:57] SaranrajMG commented on #34192
@Akasurde .. one more question... Is there way where I can pull all the vlan details using ansible

[2017-12-26 15:41] trishnaguha commented on #31883
resolved_by_date https://github.com/ansible/ansible/pull/34240

[2017-12-26 15:56] jackhalfalltrades opened #34241 "Is it possible to launch an anisble playbook remotely using a JAVA / rest API."

[2017-12-26 16:13] jackhalfalltrades opened #34242 "Is it possible to launch an anisble playbook remotely using a JAVA / rest API."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to execute remote Ansible playbook, through a JAVA or Rest API.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-26 16:25] dustyhorizon opened #34243 "Playbook encountering Channel closed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vyos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 / Python 2.7.12

##### SUMMARY

Currently using packer's ansible provisioner to configure a VyOS VM. However it keeps failing at `Channel closed` (Ansible devel from git). Pip's version of ansible keeps throwing a `unable to create control socket

[2017-12-26 16:32] duck-rh commented on #30776
@bcoca I can reproduce the problem with 2.4.2.0 and the same two cases, could you reopen?

[2017-12-26 16:52] duck-rh commented on #30776
The patch went without a test :-/

[2017-12-26 17:30] jai1824 commented on #26352
I am trying to check the status code of a site and i am seeing below error

[user]$ ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]
---
- hosts: localhost
  tasks:
     - uri:
       url: "https://wwww.example.com/progr

[2017-12-26 17:35] jai1824 opened #34245 "URI module to check the status"
I am trying to check the status of a page ad seeing error. Below are the details

[code]
#### component name:
URI

#### Description

[code]

Error:

[code]
Please suggest

[2017-12-26 19:58] jospina-316 commented on #33657
I was having a similar problem in any region, but my error would occur only when the security group already exists in the resource grou.  Normal behaviour for ansible is that if the security group already exists, it checks off the task as "OK" and the script moves on to the next task.   Instead, I got this error:

ansible_module_azure_rm_securitygroup.py", line 452, in create_rule_instance\n etag=

[2017-12-26 20:44] vmignot commented on #34225
+1

[2017-12-26 20:48] jtyr commented on #34093
Because this file is used to get information about the plugin. The module won't download anything without this file.

[2017-12-26 20:59] ocervell commented on #34198
This is great @Akasurde . Hope this will be merged soon.

[2017-12-27 00:44] coltsixshooter commented on #33156
Yes, I will put it down and test on 12/27.

Thanks

On Sat, Dec 16, 2017 at 8:14 AM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2017-12-27 03:16] yuwzho commented on #33657
Also can install the latest azure sdk library `azure-mgmt-network_1.7.1` to solve this problem

[2017-12-27 03:35] Akasurde commented on #34241
Hi @peravelli !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2017-12-27 03:35] #34241 closed, assigned to nobody

[2017-12-27 04:00] Akasurde commented on #29364
Closing this issue as PR #33796 is merged. If issue persists, please feel free to re-open.

[2017-12-27 04:00] #29364 closed, assigned to nobody

[2017-12-27 04:01] Akasurde commented on #29286
Closing this issue as PR #33796 is merged. If issue persists, please feel free to re-open.

[2017-12-27 04:01] #29286 closed, assigned to nobody

[2017-12-27 04:23] alphainets opened #34249 "Failing to implement playbook: host None:None & socket_path: None"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command module

##### ANSIBLE VERSION

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.5/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python

[2017-12-27 05:21] AnsonTong2017 commented on #34249
I change host_key_checking = False, then can get the result of show version now.

But is there anything wrong to access the router by ssh key?

[2017-12-27 06:06] Akasurde commented on #29266
@sedrubal Could you please provide your playbook, additional details and error console?

needs_info

[2017-12-27 06:49] soloradish commented on #19814
I encountered this issue in centos 7 kvm guest.

The problem was gone, after I turned off selinux on kvm guest.

[2017-12-27 07:06] Akasurde commented on #33648
resolved_by_pr #34251

[2017-12-27 08:53] Akasurde commented on #33647
@MedicMomcilo Thanks for reporting this issue. Could you please try following -

[code]

needs_info

[2017-12-27 09:29] kostiantyntravis commented on #34093
Ok, i will add it but i guess that it will not solve issue with authentication attempts?

[2017-12-27 09:59] Akasurde commented on #30405
resolved_by_pr #34252

[2017-12-27 10:12] Akasurde commented on #29304
Closing this issue as the `autoconnect` works with latest version. If issue persists, please feel free to re-open.

[2017-12-27 10:12] #29304 closed, assigned to nobody

[2017-12-27 10:20] Akasurde commented on #29233
Closing this issue as PR #33796 is merged. If issue persists, please feel free to re-open.

[2017-12-27 10:20] #29233 closed, assigned to nobody

[2017-12-27 10:52] duck-rh opened #34253 "blocks should be dynamic"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian unstable.

##### SUMMARY
Conditionals on blocks should be dynamic, skipping the entire block if the condition is False, without doing any validation of the block content. Currently it behaves like the old `include` when it was not possible to make it

[2017-12-27 11:08] Songzr opened #34254 "Module authorized_key.py may lead IO contention when using “delegate_to”"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

authorized_key
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Module authorized_key.py may lead IO contention when using “delegate_to”

##### STEPS TO REPRODUCE

- execute the command below
[code]
- playbooks/ssh_keys.yml
[code]
- role/ssh_keys/tasks/main.yml
[code]

https://github.com/kua

[2017-12-27 11:09] Akasurde commented on #29232
Closing this issue as PR #20677 is merged. If issue persists, please feel free to re-open.

[2017-12-27 11:09] #29232 closed, assigned to nobody

[2017-12-27 11:34] Akasurde commented on #22147
resolved_by_pr #24108

[2017-12-27 12:07] Akasurde commented on #29303
resolved_by_pr #19132

[2017-12-27 12:22] Akasurde commented on #29259
resolved_by_pr #19471

[2017-12-27 12:39] rsmeyers commented on #34137
Agree, please rename and make this aligned with ACI GUI naming.

[2017-12-27 12:45] lework opened #34257 "authorized_key concurrent write questions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
authorized_key module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[test]
192.168.77.128
192.168.77.129
192.168.77.130

[all:vars]
ansible_ssh_pass=123456

##### OS / ENVIRONMENT
OS: centos 7.2 X64

#####  PLAYBOOK
[code]
##### SUMMARY
`~/.ssh/authorized_keys` sometimes have a item, or two item. Guessing due to concurrency causes writing t

[2017-12-27 13:21] Akasurde commented on #34254
similar_to #34257

[2017-12-27 13:45] Akasurde commented on #29266
resolved_by_pr #31550

[2017-12-27 14:01] Akasurde commented on #29237
On Fedora 25, following dependencies works perfectly.

[code]

And, on Ubuntu 17.04,

[code]

[2017-12-27 16:01] DRAKUN commented on #34135
any updates guys ????????

[2017-12-27 16:11] tagirb opened #34259 "delegated task uses an incorrect 'ansible_become_pass'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
In my environment `ansible_become_pass` is defined on a per-host basis. This does not play well with the delegated tasks, because instead of using the password of the host the task is delegated to, the password of the delegating host i

[2017-12-27 17:03] s-hertel commented on #34135
@DRAKUN

I notice your tasks you've provided are doing different things. In the first tasks you are using `mode: put` and later using `mode: get`. Using put mode is the reason for [this traceback](https://github.com/ansible/ansible/issues/34135#issuecomment-353579856), because you didn't provide a `src` for the put.

[This traceback](https://github.com/ansible/ansible/issues/34135#issuecomment-353

[2017-12-27 17:36] Akasurde commented on #17843
resolved_by_pr #34261

[2017-12-27 17:38] hkrist commented on #34115
It seems like you have to explicitly state ```allow_duplicates: true``` in order to run the role multiple times. http://docs.ansible.com/ansible/latest/playbooks_reuse_roles.html#role-duplication-and-execution

[2017-12-27 17:57] Akasurde commented on #29237
resolved_by_pr #34261

[2017-12-27 19:26] veeshall commented on #33943
I am not able to start / stop a VM (/w managed disk). I would assume it is related to this issue?

[code]

[2017-12-27 20:02] odonnmi commented on #33156
I am still experiencing the issue with 2.4.2.  The workaround using esxi_hostname still works.

[2017-12-27 21:02] p12i commented on #25665
My workaround:
[code]

[2017-12-27 21:32] #34198 closed, assigned to nobody

[2017-12-27 23:19] DRAKUN commented on #34135
hello , yeah of course i tried to download a file from s3 in my windows node.
the ping is ok
[code]

# aws3.yml file
[code]
## and error msg

[code]

## Debug issue
[code]

[2017-12-28 03:06] velotraveler commented on #34115
Thank you, clearly this is working exactly as documented.

[2017-12-28 03:06] #34115 closed, assigned to nobody

[2017-12-28 04:36] mateenrehan opened #34267 "Unable to ping using inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory.yaml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output

##### OS / ENVIRONMENT
Ubuntu trusty64

##### SUMMARY
I am new to ansible and I am trying to use Ansible for ping from one machine to another. I have verified that I can ping using cli and I have created correct ssh connection because I can even login using ssh. But whe

[2017-12-28 04:55] retr0h commented on #32301
Any update on this?  Not being able to use galaxy on py36 seems like an important bug.

[2017-12-28 05:41] Akasurde commented on #34267
Hi @mateenrehan !

Error is
You are invoking Ansible command with wrong inventory file, try following where inventory.yaml is your correct inventory file.

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc

[2017-12-28 05:41] #34267 closed, assigned to nobody

[2017-12-28 06:04] Akasurde commented on #34245
@jai1824 Are you sure that you have pasted correct playbook ?

needs_info

[2017-12-28 06:11] duck-rh opened #34269 "variable remembers first loop iteration value after chaining include_role and include_tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian unstable

##### SUMMARY
loop variable changes value unexpectedly after include_tasks

##### STEPS TO REPRODUCE

test.yml
[code]

roles/role1/tasks/main.yml
[code]

roles/role1/tasks/inc.yml
[code]

roles/role2/tasks/main.yml
[code]

roles/role2

[2017-12-28 06:26] shajay12 commented on #31991
Hi Everyone,
why the script does not uses "esxi_hostname" ??
I ran above script but it gives error while running.

[2017-12-28 06:31] duck-rh commented on #34269
Interestingly if I use a different variable in role2 like this:
[code]
and print `idx2` instead, I got the same exact result.

So I'm really at a loss on how to work around this problem.

[2017-12-28 06:37] Akasurde commented on #31991
@shajay12 Could you please paste your playbook and error console here ?

[2017-12-28 08:10] Akasurde commented on #34191
@balonik You have specified 1 as `async` value, which is very low. This causes the "Wait for the VM creation to finish" task to fail because the temporary status file that the `async_status:` is looking for will not have been written or no longer exist.

Try using `async: 1000` and let me know if it works for you.

needs_info

[2017-12-28 08:13] asd80703406 opened #34270 "Bug Report:ansible-play turn stdout into stderr"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS release 6.7 (Final)
Kernel \r on an \m

##### SUMMARY
Run a playbook job ,but its output is unbelievable

##### STEPS TO REPRODUCE
[code]

[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-12-28 08:22] asd80703406 commented on #34270
Full output:
`PLAY [['172.28.49.34']] ************************************************************************************************************************************************************************************************************

TASK [execute nginx cmd] ***********************************************************************************************************************************

[2017-12-28 08:26] duck-rh commented on #34269
A bit in desperation to find a way to work around this without breaking all my work, I decided to use a very dirty method: saving the value of the loop locally before the include_tasks (when the value is still fine) and reload it afterwards in the same variables.

Here are the changed files, the other ones staying identical to the original test case.

We can see the variable is totally overshadowe

[2017-12-28 08:26] mengelmann commented on #27905
@sophie-h, @thoto are you still working on a new libvirt* modules for Ansible?

We are using virt module, found some bugs but now sure if it is worth reporting them for virt module (e.g. it is not possible to create transient VMs because there is inconsistent with create (from provided XML) vs define (from provided XML)+start commands).

[2017-12-28 08:54] asd80703406 opened #34271 "BugReport: playbook api not cleanup after use"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component -lib/ansible/playbook
maybe playbook api bug

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
CentOS release 6.7 (Final)
Kernel \r on an \m

##### SUMMARY
[python] <defunct> after use ansible-playbook api

##### STEPS TO REPRODUCE
test2.py
[code]

execute_nginx_cmd.yml
[code]
use test2 by bel

[2017-12-28 08:56] AyushyaChitransh commented on #31620
I am facing the same error when I try to edit my file:

[code]

I could not understand what causes this error or how it was resolved. Should this issue be reopened?

[2017-12-28 09:13] pilou- commented on #34269
A workaround: use `import_tasks` instead of `include_tasks` in `roles/role2/tasks/main.yml`.

[2017-12-28 09:58] mscherer opened #34272 "Name variable no longer inherited"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

##### CONFIGURATION

Nothing special

##### SUMMARY
So I do use variable inheritence quite a lot, especially to define roles that pull others roles with specific change. However, I found that if a variable is called name, this is no longer inherited.

I bisected to that commit:
0d35a69f0eea191f423ba6b0120ffffcbd6d9ed

[2017-12-28 11:11] #31883 closed, assigned to trishnaguha

[2017-12-28 11:34] Akasurde commented on #34192
@SaranrajMG I am afraid I am not aware of such module which can gather details of VLAN.

Closing this issue as `works_for_me`

[2017-12-28 11:34] #34192 closed, assigned to nobody

[2017-12-28 12:16] andreaso commented on #34270
Why are you expecting stdout? From what I can see nginx writes that result to stderr.

[code]

[2017-12-28 12:20] andreaso commented on #31511
@ptman Assuming everything is still working the way it should, and that no changes to Ansible are needed, could you please close this issue? Mostly for the sake of house keeping.

[2017-12-28 12:49] liyaka commented on #29607
I also have the same problem -
I'm trying to create a VM connected to a virtual network in another resource group, and in order to do it I want create an interface in the same resource group with my VM.
I was able to do it manually using Azure management UI, so there shouldn't be a problem to implement it with ansible.
I believe implementing 'virtual_network_resource_group' parameter for azure_rm_

[2017-12-28 13:27] ptman commented on #31511
Certainly.

[2017-12-28 13:27] #31511 closed, assigned to nobody

[2017-12-28 13:35] trishnaguha commented on #31885
resolved_by_pr https://github.com/ansible/ansible/pull/34274

[2017-12-28 13:53] filier commented on #31328
I had same problem when I executed my plaibooks on Ubuntu 16.04 in Ubuntu14.04 is ok. In ubuntu 16.04 network interfaces are called ens106 instead eth0 in 14.04. So check how is named network interface in your machines

[2017-12-28 14:40] Akasurde commented on #33972
@jacksonp2008 Any news ?

needs_info

[2017-12-28 14:56] jmcgill298 commented on #34137
These modules are designed to support multiple encapsulations, so naming them after one of the encap types would be misleading. I would create separate modules designed for specific encaps if you want to name them after the encap. Really, I think documentation with a sample data model should be sufficient to explain the benefit of a single module approach.

[2017-12-28 15:00] rsmeyers commented on #34137
I think this is very confusing from a user perspective and we should just name them aci_vlan_pool and aci_vxlan_pool then, people will not know what it means, an aci_encap_pool, as this is not even a known object in aci, we speak of aci encap blocks, not aci encap pools...

So my vote would be if you wanna cover both use cases, make 2 modules..., merging these doesn't make sense from a usage persp

[2017-12-28 15:14] jmcgill298 commented on #34137
I don't think should be confusing; a network engineer should know what an encap is, and is not likely to be constrained into only thinking in terms of ACI GUI language.

In order to separate these modules out, that would be much more than 2 modules, which also correlates directly to the number of tasks required in a playbook/role, and does not provide a clean structure for a consistent data model.

[2017-12-28 15:20] rsmeyers commented on #34137
I look at these modules for day2, in the current phase, and that means day2 we will see vlan the most, hence, I'm ok to only have 1 module, doing vlan

Depending on vlan, vxlan and vsan, you need different options anyway so it won't be a universal playbook/role anyway...

So makes much more sense to make multiple modules, and these naming conventions are then inline with the GUI.

In the GUI we ca

[2017-12-28 15:24] MatthewBETTON opened #34275 "No CA certificate validation through pywinrm module (Kerberos authentication and winrm over https)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - pywinrm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
 - Red Hat Enterprise Linux Server release 7.3 (Maipo)
 - Windows 2012 R2
 - Windows 2016

##### SUMMARY
We are not using self signed certificates on windows clients but certificates issued by own enterprise PKI.

For security reasons we would like not u

[2017-12-28 16:05] mabrarov commented on #16266
We use:

[code]

and

[code]

and

[code]

We faced the same issue on Windows Server 2008 R2 SP1 configured according to "[Windows System Prep](http://docs.ansible.com/ansible/latest/intro_windows.html#windows-system-prep)" document.

Recently we applied "best practices" provided by [IIS Crypto](https://www.nartac.com/Products/IISCrypto/Download) utility on target host (Windows Server 2008 R2 SP1)

[2017-12-28 16:09] Akasurde commented on #27899
@dagwieers Any news ?

[2017-12-28 16:09] Akasurde commented on #27899
needs_info

[2017-12-28 16:27] jurajseffer commented on #15215
This still doesn't work properly because when I specify `AWS_SESSION_TOKEN` as an environment variable (while also having `~/.aws/credentials`), the inventory script doesn't check for it, it tries to get the one from the config so Boto ends up saying creds are misconfigured.

[2017-12-28 16:31] wjonker85 commented on #29607
I'am happy that this has been solved :). I manually download the this py file form your fork. Hopefully it wil get soon into the master so I do not need tot do this anymore.

[2017-12-28 17:10] s-hertel commented on #34135
This traceback isn't coming from the aws_s3 module (it's an issue connecting to your hosts) so I'm going to fix the labels for this issue to reflect that. I'd recommend asking in IRC #ansible or the mailing list https://groups.google.com/forum/#!forum/ansible-project.

[2017-12-28 17:11] s-hertel commented on #34135
cc/ @nitzmahone / @jborean93

[2017-12-28 17:53] coltsixshooter commented on #33156
I have made code changes and uploaded but they don't seem to get into the build -

vmware_guest.py

Function "get_resource_pool"

Update this line

if self.params['esxi_hostname']:

to

if self.params['esxi_hostname'] or self.params['cluster']:

Function "deploy_vm"

if self.params['esxi_hostname']:

to

if self.params['esxi_hostname'] or self.params['cluster']:

[2017-12-28 18:02] jmcgill298 commented on #34137
[code]

[2017-12-28 18:14] ocervell commented on #15019
Any reason why this is closed ? Still having this issue on 2.5 devel.

[2017-12-28 19:00] matthewapeters commented on #24740
The ownership of ec2.py is with Ansible ("This file is a part of Ansible").  It is broken in that it does NOT support known and documented functionality of boto and/or boto3 and/or AWS with regards to profiles (AKA boto_profile). In particular, it does not provide a means to access cross-account sign-in functionality.  This is a significant issue for enterprise users who authenticate with one acco

[2017-12-28 19:36] benauthor commented on #15019
My nuclear-option workaround was to go hack up the ansible install in my site-packages, because I don't want to remember to pass extra vars every single time. You may wince, don't yell at me, proceed at own risk, no warranty express or implied.

To find the files:

    python -c "import ansible; print ansible.__path__"

To fix all python shebangs:

     grep -lir "/usr/bin/python" /path/to/my/site

[2017-12-28 21:57] mateenrehan commented on #34267
Hi @Akasurde,
The above command gave another error  ERROR! Extraneous options or arguments, so I guess the command was not correct.

[2017-12-28 22:12] reyjrar opened #34281 "Conditionally import_playbook aka include_playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

CentOS 6

##### SUMMARY

I need to conditionally import a playbook, which isn't possible.  The keyword I'm missing is "include_playbook" which would allow a "when" to apply to it.  Why?

I have a playbook that performs some maintenance, OS, Kernel

[2017-12-28 22:20] mike-pt opened #34282 "npm install fails only for remote not with "Failed to find required executable npm in paths""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
the only change in the ansible.cfg is to set `DEFAULT_HOST_LIST` to the local folder/hosts file

##### OS / ENVIRONMENT
OSX

##### SUMMARY
When I run the playbook against "local" this works just fine, but if run from as remote using ssh, it fails to install appium do to a wrong PATH

#####

[2017-12-28 23:18] cyrus-mc commented on #25718
I have a working version in the referenced PR above. This is by no means a production ready solution.

I had a need (seeing as all access to our AWS account is through federation) to get a working version of the script using the boto3 library.

[2017-12-29 02:21] #34249 closed, assigned to nobody

[2017-12-29 02:40] yangliang003 opened #34284 "Support atomic modification of WinRM cert mapping and local user password"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
Documentation Report
##### COMPONENT NAME

authentication
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

rhel6
##### SUMMARY

##### STEPS TO REPRODUCE

When I modify the password of the admin account,then the cerfificate authentication would failed(http 500 error)
And If I rollback the change of th

[2017-12-29 03:04] shajay12 commented on #31991
Here is the playbook.
[root@OSIANSIBLEIND instance]# cat vmware.yml
---
- hosts: localhost
  connection: local
  user: root
  sudo: false
  gather_facts: false
  serial: 1

  tasks:
    - name: Create a VM from a template
      vmware_guest:
        esxi_hostname: mumosiesx01
#        username: OSHQ\ajsharma
#        password: oneshield1
        hostname: 10.209.130.40
        username: tataadmin

[2017-12-29 03:13] shajay12 commented on #31991
one more question i want to ask.

do i need to login to the Windows 2012 R2 machine with Ansible where the Vpshere client is installed ??

[2017-12-29 03:14] shajay12 commented on #31991
Thanks In Advance.

[2017-12-29 05:06] yuwzho commented on #29607
This feature is included in #32882 . where the virtual network can be referenced as the resource id.

[2017-12-29 05:56] andreaso commented on #34282
Sounds more like those extra PATHs have been configured in config files only read by (interactive) shells?

Also note that the [npm_module](https://docs.ansible.com/ansible/latest/npm_module.html) has an explicit `executable` parameter.

[2017-12-29 06:06] mantri-govind opened #34288 "Invalid params. Incorrect argument passed to function while sending"
##### ISSUE TYPE
  - Bug Report

##### COMPONENT NAME

Zabbix Host Addition
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change
##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
##### SUMMARY

Trying to register hosts from ansible , I'm using few variables from ansible host file like host name, visible name etc. When I run the playbook it gives following error
[code]
##### STEPS TO REPRODUCE

[co

[2017-12-29 06:30] asd80703406 commented on #34270
Oh , I know now. I had always think `nginx -t` output should be common stdout but never should be stderr in my mind. Its my fault .Thank you for your reply!

[2017-12-29 06:30] #34270 closed, assigned to nobody

[2017-12-29 06:33] abitrolly commented on #34167
@sivel I would be grateful if you can summarize the reasons. This variant doesn't break existing scripts, so the point of compatibility is addressed.

[2017-12-29 07:00] Dan1elKa0 commented on #20579
+1

[2017-12-29 09:24] mpedreira opened #34289 "Jira.py error with issue closure"
- Bug Report

##### COMPONENT NAME
jira.py

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = None
  configured module search path = [u'/Users/kour/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.4.2.0_1/libexec/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2

[2017-12-29 09:53] Riccardo1976 commented on #33617
As requested by @schweikert , issue reopened.
I'm happy using my work around. Found that this happened during installation by selecting Country/City it seems that it then also includes all locale(s).

I also agree with the re-open request to have it corrected in the Ansible code.

[2017-12-29 11:56] Akasurde commented on #29751
Closing this issue as issue does persists with Ansible version 2.4 and latest. If issue persists, please feel free to re-open.

[2017-12-29 11:56] #29751 closed, assigned to nobody

[2017-12-29 12:58] oldlance commented on #28168
I also had this problem after upgrading from Ansible 2.3 to 2.4 and adding the delay did **not** fix the problem.  Turns out I needed to update the installed version of apache-libcloud.

#### Broken configuration
Ansible: 2.4.2
libcloud: 2.0.0rc2  (from `sudo yum install python2-libcloud`)

#### Working configuration
Ansible: 2.4.2
apache-libcloud: 2.2.1 (from `sudo pip install --upgrade apache-li

[2017-12-29 12:58] odonnmi commented on #33156
That fix worked.  Thanks.

[2017-12-29 14:03] zmyrgel opened #34295 "Ansible doesn't handle missing editor gracefully"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ESC[0;33mANSIBLE_SSH_ARGS(/home/tmy/.ansible.cfg) = -C -o ControlMaster=no -o PreferredAuthentications=publickeyESC[0m
ESC[0;33mDEFAULT_BECOME(/home/tmy/.ansible.cfg) = TrueESC[0m
ESC[0;33mDEFAULT_BECOME_METHOD(/home/tmy/.ansible.cfg) = sudoESC[0m
ESC[0;33mDEFAULT_BECOME_USER(/home/tmy/.

[2017-12-29 14:57] mike-pt commented on #34282
Hum, when I ssh into the box the PATH value looks ok... but now that you mention interactive shell, which would be what ansible is doing u got me thinking and indeed if I run

`ssh -t testing@IP "export | grep PATH" I get the same result as with the ansbible ad-hoc command...

So it seems something is not getting sourced, this is a clean installation of OSX so its odd but I guess I'll need to look

[2017-12-29 15:04] mike-pt commented on #34282
Ah I think I see the issue now, I'm a recent OSX user so I guess I just have to pay more attention to the diferences... If anyone else bumps into this the issue seems to be that on macos there's "path_helper" which is called on /etc/profile (and seems to read /etc/paths and/or /etc/paths.d to set PATH properly) but when running from an interactive non-login shell /etc/profile is not sourced and th

[2017-12-29 15:35] Rahul-CSI opened #34296 "gce module disk_size parameter does not work"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
module/gce

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
When creating a instance with gce module.
I specified disk_size: 50, and persistent_boot_disk: True.
But it just creates the default 10GB disk.

##### STEPS TO REPRODUCE

Using below gce module for instance c

[2017-12-29 15:51] DRAKUN commented on #34210
any news ???????

[2017-12-29 16:01] ssbarnea opened #34297 "git_config: cannot overwrite multiple values with a single value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If current `.gitconfig` contains multiple values for one key, git_config module fails to update them and there is no workaround other than stopping to use of git_config.

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
Succee

[2017-12-29 16:30] DRAKUN opened #34298 "git within windows"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

GIT
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/ansible/exo/windows/ansible.cfg) = [u'/home/ansible/exo/windows/hosts']

##### OS / ENVIRONMENT

ubuntu xenial

list of pip
ansible@ubuntu-xenial:~/exo/windows$ pip list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(lega

[2017-12-29 17:58] jhawkesworth commented on #34298
Ansible modules for Windows hosts have to be written in powershell, git_config is a python module intended for Linux hosts, so this isn't going to work.

There are probably ways around this. For example, you can run commands on the Linux ansible controller and then use win_copy module to transfer files to windows hosts. You can also use win_command or win_shell modules to run exe programs which ar

[2017-12-29 17:58] #34298 closed, assigned to nobody

[2017-12-29 18:00] mrdrogdrog opened #34300 "Default values of vars can be used earlier in other roles"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 N/A

##### OS / ENVIRONMENT
 N/A

##### SUMMARY
When multiple roles are pulled into a playbook, earlier roles can reference default variables from later roles, i.e., variables can be used before they are defined.
Even after scouring the documentation I can only

[2017-12-29 21:28] songbird159 commented on #24045
Hi, where would I find the file .libcloud_google_auth ?

[2017-12-29 21:52] karlmdavis opened #34304 "The jenkins_plugin module fails on FIPS 140-2 enabled systems, due to use of MD5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`jenkins_plugin`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The host being managed is RHEL 7 in FIPS 140-2 mode, which disables the Python `hashlib` library's MD5 features.

##### SUMMARY

The `jenkins_plugin` module uses `hashlib.md5` in several places, which causes it to blow up on a RHEL 7 system ru

[2017-12-29 23:08] paxsonsa commented on #33131
I am also experiencing this issue, could this be related to #33784

[2017-12-30 00:01] Akasurde commented on #16605
@neizmirasego Any news on this ?

needs_info

[2017-12-30 00:12] #16605 closed, assigned to nobody

[2017-12-30 01:26] Akasurde commented on #29749
@joshmullis Do you still face this issue ?

needs_info

[2017-12-30 02:11] DRAKUN commented on #34298
wow then i can't use also aws_s3 command ????

[2017-12-30 05:38] Akasurde commented on #30016
resolved_by_pr #34306

[2017-12-30 07:35] deepsonune commented on #19584
@lktslionel
I am getting same issue, i have tried all the options mentioned above, could you please help here

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  pyth

[2017-12-30 10:22] Akasurde commented on #28720
needs_info

[2017-12-30 10:54] Akasurde commented on #16571
needs_info

[2017-12-30 11:30] Akasurde commented on #17920
@cinerama70 Could you please confirm if this works for you ?

needs_info

[2017-12-30 11:47] Akasurde commented on #18290
Closing this issue as PR https://github.com/ansible/ansible/pull/27632 is merged. If issue persists, please feel free to re-open.

[2017-12-30 11:47] #18290 closed, assigned to nobody

[2017-12-30 12:09] Akasurde commented on #18772
Closing this issue as PR https://github.com/ansible/ansible/pull/22495 is merged. If issue persists, please feel free to re-open.

[2017-12-30 12:09] #18772 closed, assigned to nobody

[2017-12-30 12:10] tvendelin opened #34309 "maven_artifact fails to download from local Maven repository"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
maven_artifact fails to download from local Maven repository, looking for maven-metadata.xml only and ignoring maven-metadata-local.xml

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
WAR artifact being downloaded from local rep

[2017-12-30 13:31] 2deep4real commented on #34300
Additionally, it would be nice, to have some 'easy to use' possibility of private default values for roles. Using prefixes can get really messy at some point.

[2017-12-30 13:58] karniemi commented on #28720
@Akasurde: do you think this issue is different from #29095 -and especially the still not fixed #32238?

[2017-12-30 16:39] Akasurde commented on #18688
resolved_by_pr #34311

[2017-12-30 16:54] Akasurde commented on #18475
@gaurav-dalvi Could you please re-try on latest Ansible and let us know if it works for you ?

needs_info

[2017-12-30 17:01] Akasurde commented on #18950
@ozakilsc Could you please re-try with latest Ansible and let us know ?

needs_info

[2017-12-30 17:04] Akasurde commented on #18952
@mblarsen Could you please re-try with latest Ansible and let us know if it works for you ?

needs_info

[2017-12-30 17:27] burtonator opened #34312 "Date in YAML can't work with to_nice_json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
to_nice_json

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_JINJA2_EXTENSIONS(/etc/ansible/ansible.cfg) = jinja2.ext.do,jinja2.ext.i18n

##### OS / ENVIRONMENT
Debian 9.2

##### SUMMARY
the to_nice_json function can't work with YAML date_time objects.

I have some metadata like:

[2017-12-30 17:31] burtonator commented on #34312
This looks like a reasonable solution:

https://gist.github.com/drmalex07/5149635e6ab807c8b21e

[2017-12-30 17:43] ham-360 opened #34313 "XML module: set_children: [] should remove children but doesnt"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
XML module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/etc/ansible/hosts']
DEFAULT_ROLES_PATH(/usr/local/ansible/projects/ansible.cfg) = [u'/usr/local/ansible/projects/.imported_roles', u'/usr/local/ansible/projects/roles']
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
RETRY_FI

[2017-12-30 17:53] Akasurde commented on #19387
Closing this issue as PR https://github.com/ansible/ansible/pull/19744 is merged. If issue persists, please feel free to re-open.

[2017-12-30 17:54] #19387 closed, assigned to nobody

[2017-12-30 20:29] ham-360 opened #34314 "XML module feature request: proceed with 0 results/changes"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

XML Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/etc/ansible/hosts']
DEFAULT_ROLES_PATH(/usr/local/ansible/projects/ansible.cfg) = [u'/usr/local/ansible/projects/.imported_roles', u'/usr/local/ansible/projects/roles']
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
RETR

[2017-12-30 21:48] ham-360 commented on #33605
FYI, i am using the following workaround for now:

[code]

Although potentially not robust to change, currently this returns a list JSON list as follows:
[code]

[2017-12-30 22:15] sgutermann commented on #32833
Same on ansible 2.4.2.0

[2017-12-30 22:49] pilou- commented on #32833
Using `devel` or `stable-2.4` branch and using the task mentioned in the description I got another error:
[code]
This error is legit, `repo` value must begin with `deb` or `deb-src`. Once the `deb` prefix added (`repo: deb https://download.docker.com/linux/debian stretch stable`), I encounter another legit error
[code]

nonetheless the `filename` parameter was taken in account, the file was create

[2017-12-31 00:14] abadger commented on #18688
Is that the right fix or is the right fix to make get_bin_path check for
both executable and directory?

On Dec 30, 2017 8:39 AM, "Abhijeet Kasurde" <notifications@github.com>
wrote:

[2017-12-31 00:47] smitna opened #34315 "with_ini documented example fails"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/ini.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 26 (Workstation Edition)

##### SUMMARY
In lib/ansible/plugins/lookup/ini.py, this task fragment quoted from module variable EXAMPLES is broken:
[code]
This slightly modified form does work:
[code]
Referring to ini.py, it looks like

[2017-12-31 00:58] paxsonsa commented on #18287
Does anyone else agree we need to revisit how we are handling unreachable errors?

We have a use case where we are using a play to secure our servers. While securing our servers we disable ssh logins with root. If the setup is run again on secured node it will obvious fail because the root user is not permitted for ssh logins.

Our inventory is dynamic meaning we could have 1000 nodes all secured

[2017-12-31 02:13] skylerbunny opened #34316 "archive module 'exclude_path' documentation is very misleading"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X 10.12.x

##### SUMMARY

##### STEPS TO REPRODUCE
Suppose I have a directory structure that looks like this, and the following playbook:
[code]

##### EXPECTED RESULTS
I would expect bar.txt to be excluded from the created archive, as per http://doc

[2017-12-31 02:18] skylerbunny commented on #34316
It occurs to me of course that the issue may be that exclude_paths **is** supposed to mimic the behavior of tar --exclude. If that's the case, then the current documentation is essentially correct as worded, and this is a bug against how the archive module *actually works*. I have no idea which.

[2017-12-31 03:21] coltsixshooter commented on #33156
Can the ansible team please confirm this fix will get into the next build?

Thanks

[2017-12-31 03:43] sukhan85 opened #34317 "openstack-ansible setup-hosts.yml giving error!!"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

2.2.3.0

##### CONFIGURATION

ubuntu@deployment01:/opt/openstack-ansible/playbooks$ ansible-config dump --only-changed
[WARNING]: log file at /var/log/ansible.log is not writeable and we cannot create it, aborting

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o Contr

[2017-12-31 04:10] Akasurde commented on #18688
@abadger This fix is only for is_executable function. get_bin_path is already patched to ignore directories in user path - [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L2203) as discussed in issue.

[2017-12-31 04:20] fubarhouse commented on #26006
@sivel's idea didn't work.

I've gone through and updated the Python version on the Docker image to 2.7.10, which has fixed the builds.

* https://superuser.com/questions/602587/how-to-use-latest-python-2-7-x-the-right-way-on-ubuntu-12-04-lts

Now closing, inactive and resolved.

[2017-12-31 04:20] #26006 closed, assigned to nobody

[2017-12-31 07:25] Akasurde commented on #22945
resolved_by_pr #27263

[2017-12-31 07:53] Akasurde commented on #23383
@liuzm7188 Please use `service` module instead of `shell` module to manage various services on given Linux system. @bcoca has given very nice explanation about this [here](https://github.com/ansible/ansible/issues/24436#issuecomment-300968834).

[2017-12-31 07:53] #23383 closed, assigned to nobody

[2017-12-31 08:03] Akasurde commented on #23799
@liuzm7188 Please use `service` module instead of `shell` module to manage various services on given Linux system. @bcoca has given very nice explanation about this [here](https://github.com/ansible/ansible/issues/24436#issuecomment-300968834). Also, you have typo - `openstack-nov-compute` instead of `openstack-nova-compute`.

[2017-12-31 08:03] #23799 closed, assigned to nobody

[2017-12-31 08:11] Akasurde commented on #24148
needs_info

[2017-12-31 08:14] Akasurde commented on #24342
Closing this issue as PR #24354 is merged. If issue persists, please feel free to re-open.

[2017-12-31 08:14] #24342 closed, assigned to nobody

[2017-12-31 08:32] Akasurde commented on #24629
Closing this issue as per [comment](https://github.com/ansible/ansible/issues/24629#issuecomment-301567617). If issue persists, please feel free to re-open.

[2017-12-31 08:44] Akasurde commented on #25179
Closing this issue as PR #33883 is merged. If issue persists, please feel free to re-open.

[2017-12-31 08:44] #25179 closed, assigned to nobody

[2017-12-31 10:58] vbohata opened #34319 "Included tasks use first variables defined for the first role if used in the dependent role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include, include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/home/vasek/ansibleTEST/ansible.cfg) = [u'/home/vasek/ansibleTEST/hosts']
DEFAULT_MODULE_PATH(/home/vasek/ansibleTEST/ansible.cfg) = [u'/home/vasek/ansibleTEST/modules']
DEFAULT_MODULE_UTILS_PATH(/home/vasek/ansibleTEST/ansible.cfg) = [u'/home/vasek/ansib

[2017-12-31 11:02] clementtrebuchet commented on #34242
If you have Tower or AWX you can do it.
http://docs.ansible.com/ansible-tower/2.3.0/html/towerapi/intro.html

[2017-12-31 13:15] sgutermann commented on #32833
Sorry for not updating, but yes, I noticed that with the syntax, however even with the "deb" added in my above example I still get the same error.

Other Playbook, other repo:

fatal: [debian.lamido.de]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "filename": "mssql",
            "repo": "deb https://packages.microsoft.com/debian/8/prod jessie main",

[2017-12-31 13:21] benbro opened #34320 "docker_container - missing --cpus=<value>"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
[docker_container](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Ansible is missing support for the docker run [--cpus=<value>](https://docs.docker.com/engine/admin/resource_constraints/#cpu). This fla

[2017-12-31 13:38] Akasurde commented on #34315
resolved_by_pr #34318

[2017-12-31 14:28] den-is commented on #14413
Isn't it possible to add ssh check to `wait_for connection`
Plus add grace_timeout kinda thing like in AWS Autoscaling Groups - wait some more time after "connection" is established

[2017-12-31 14:29] balux commented on #28148
Workaround: Run it with
[code]

[2017-12-31 15:48] abadger commented on #18688
Okay, so I read the function and that prodded my memory:

file" This function does not tell us that.  Only if an execute bit is set.

I remember writing that after having a discussion with Jimi and bcoca about
whether to change that function.  We decided not to change for backwards
compatibility concerns. Calling code could be looking for whether a file
has executable bits  just as easily as it co

[2017-12-31 18:38] vbohata commented on #34319
After some tests I can see the parent object id of included tasks in the second call is the same as in the first call so both both included tasks uses as a parent the first object of role1. So the bug will be somewhere near the code which handles the parent of the tasks.

[2017-12-31 18:58] benjdudas opened #34321 "uri module, header options not working"
ISSUE TYPE:

 - Bug Report

COMPONENT NAME:

- uri module

ANSIBLE VERSION:

[code]

CONFIGURATION:

[code]

OS / ENVIRONMENT:
`Ubuntu 16.04`

SUMMARY:
uri module is not handling header options when authenticating with a token. Testing the headers using Curl is successful.

STEPS TO REPRODUCE:

Playbook:
[code]
Verify the header/token using curl:

[code]

EXPECTED RESULTS:

Authenticate with API T

[2017-12-31 20:06] neowulf33 commented on #28148
The plugin seemed to be not compatible with python3. As soon as I switched the environment back to python 2.7 - the plugin started to work for me.

Best wishes,
Siva on 6+

[2018-01-01 03:48] Akasurde commented on #18688
@abadger Make sense. Thanks for good explanation. I will close the PR and issue.

[2018-01-01 03:48] #18688 closed, assigned to nobody

[2018-01-01 05:00] Akasurde commented on #28310
Closing this issue as per previous comment. If issue persists, please feel free to re-open.

[2018-01-01 05:00] #28310 closed, assigned to privateip

[2018-01-01 05:13] Akasurde commented on #28652
Similar to #31976

[2018-01-01 07:33] Akasurde commented on #29183
@ojhaujjwal Could you please provide required information ?

needs_info

[2018-01-01 10:51] robertdebock commented on #31377
I've also seen this issue. To reproduce:
- git clone [this](https://github.com/robertdebock/ansible-role-docker/tree/b874d0466015b835135b0a91c6c496af1e5dab59)
- run`molecule test--scenario-name vagrant`

In my case, only ubuntu trusty fails, others succees:
[code]

Other distros (centos, debian, fedora and opensuse) work fine.

My environment:

ansible --version
[code]

molecule --version
[code]

[2018-01-01 14:56] felixfontein commented on #28148
I've just also encountered this problem. After debugging the module a bit, it turns out that the problem are in the following lines:
[code]
For Python 3, `out` is a unicode string (`str`), while the code expects it to be a bytes string (`bytes`). Since byte strings have a `decode()` method and unicode strings do not, the call `out.decode()` fails with an `AttributeError`, which produces this (inco

[2018-01-01 15:40] felixfontein commented on #28148
It was a bit more complicated, but I think I was able to fix it. At least for my usages, it now works fine with Python 3.

[2018-01-01 15:42] felixfontein commented on #18996
I don't think simply outputting the fullchain file and nothing else is a good idea. For example, for OCSP stapling, you need the root chain (root certificate + intermediate certificate) in one file as well. So why not writing the intermediate certificate to its own file (or returning it as data so a user could do whatever she needs do do with it)?

[2018-01-01 15:59] tdtrask opened #34325 "apk package dependencies not considered properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apk

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Alpine Linux 3.7.0

##### SUMMARY
If the apk plugin is used to install a package A that is already present as a dependency of package B, the /etc/apk/world file is not updated. Therefore, if the package B is uninstalled, package A is also uninstalled.

##### STEPS TO

[2018-01-01 16:55] sgutermann commented on #32833
Ok, this is STRANGE, but after completely cleaning out my python and ansible and installing it again it all works.

#########################################

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/steffen/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/steffen/.local/lib/python2

[2018-01-01 16:55] #32833 closed, assigned to nobody

[2018-01-01 16:57] duanshiqiang commented on #8603
+1

[2018-01-01 19:53] mprahl commented on #22930
This works for me using Ansible 2.4.2.0 on a Fedora 27 node.

[2018-01-01 20:30] jborean93 commented on #34135
You cannot run Python modules on a Windows host, there is a specific list of modules that are set to work on Windows as they are written in PowerShell, you can find this list here https://docs.ansible.com/ansible/devel/windows_faq.html#what-modules-are-available.

The common practice is to run the Python modules on the Ansible controller and then copy the file to the Windows host like so.

[code]

[2018-01-01 20:30] #34135 closed, assigned to nobody

[2018-01-01 20:58] jborean93 commented on #34214
Just so I remember the English translation when I look into this further, `LogonUser` is failing with the error

`'LogonUser failed (Account restrictions are preventing this user from signing in. For example: blank passwords aren't allowed, sign-in times are limited, or a policy restriction has been enforced, Win32ErrorCode 1327)'`

[2018-01-01 21:09] hryamzik opened #34329 "Password Lookup – crypted example"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

password lookup

There's a [note](http://docs.ansible.com/ansible/latest/playbooks_lookups.html#the-password-lookup) that generated password can be saved in encrypted way locally. Can we get an example, please?

[2018-01-01 21:51] jborean93 commented on #34214
Ok, this isn't an issue with the code but rather a restriction with Windows and the local security policies that are set. You need to disable the [Accounts: Limit local account use of blank passwords to console logon only](https://technet.microsoft.com/en-us/library/jj852174%28v=ws.11%29.aspx?f=255&MSPPError=-2147217396) policy as it disallows passwordless authentication outside of a console (phys

[2018-01-01 22:13] dagwieers commented on #34214
@jborean93 Great, this works well for password-less users !

Now I am still looking for a solution for running something (as Administrator) for other users (of which you don't know the password). Probably belongs to a separate issue ?

[2018-01-01 22:26] jborean93 commented on #34214
Docs PR opened here https://github.com/ansible/ansible/pull/34331, feel free to review it if you have time.

I would open a new issue for becoming a user without setting their password. I know @nitzmahone had an idea on how to do it but it required the `SeTcbPrivilege`. Now that we try to impersonate the SYSTEM account when becoming another user which has the `SeTcbPrivlege` this may not be requir

[2018-01-02 00:11] jborean93 commented on #34170
Thanks for the report @owenmorris, are you able to try out https://github.com/ansible/ansible/pull/34333 and see if that works for you?

[2018-01-02 00:28] cfedde opened #34334 "output from script module differ if run locally vs via ssh."
I was unable to find a duplicate issue related to the `script` module similar to this issue.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.3 LTS

##### SUMMARY

Script module returns different results for same shell script depending if it is run locally or if it is run via ssh.   Most particu

[2018-01-02 00:31] jborean93 commented on #25470
I believe this was fixed with https://github.com/ansible/ansible/pull/33958.

[2018-01-02 00:31] #25470 closed, assigned to jborean93

[2018-01-02 01:11] willthames commented on #33919
hi @Skewled, sorry about the delay, haven't really been looking at Ansible over the Christmas break.

I cannot reproduce this at all.

[code]

[code]

[code]

Note that I had to change your playbook from using `essential: "true"` to `essential: true` or I got

[code]

[2018-01-02 01:13] willthames commented on #33919
Just to be sure I added some environment variables and it still works for me.

[2018-01-02 01:24] jborean93 commented on #24931
Closing, see https://github.com/ansible/ansible/pull/24938#issuecomment-354687634

[2018-01-02 01:24] #24931 closed, assigned to nobody

[2018-01-02 01:25] jborean93 commented on #24933
Closing see https://github.com/ansible/ansible/pull/24938#issuecomment-354687634

[2018-01-02 01:25] #24933 closed, assigned to nobody

[2018-01-02 02:02] willthames commented on #33919
Can you test with my playbook (you'll want to change the profile and maybe region) and see whether you get the same results or different results to me?

[2018-01-02 03:21] bruceauyeung opened #34335 "retry delete directory while shutil.rmtree raises "OSError: [Errno 39] Directory not empty" exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
currently i am using ansible 2.2 ,python 2.7, but i think it exists in the latest version, because file module fails when `shutil.rmtree` throws an exception
https://github.com/ansible/ansible/blob/571f878817c3c98b4f204e3ae05262639eda74ae/lib/ansible/modules/files/file.py#L267-L282

##### OS / ENVIRONMENT
N/A

[2018-01-02 03:37] arundeepkurni commented on #31879
i am also facing same issue, i don;t have become: no in my playbook. in ansible.cfg i made it become: no,
But no luck.

is it depends on cloud_name?

[2018-01-02 04:14] #29183 closed, assigned to nobody

[2018-01-02 04:28] karlmdavis commented on #34304
I was wrong: this error gets thrown on second runs even if `state` is only set to `present`. Not sure why it needs to calculate an MD5 in that case, but it appears to be.

Bother.

[2018-01-02 04:58] biji commented on #33101
I have similiar error when gathering facts for centos 5.9

[code]

Workaround is using ansible 2.3:
[code]

[2018-01-02 06:07] Akasurde commented on #33101
@biji What is your Python version ?

[2018-01-02 06:32] willthames commented on #33052
Closing this one now.

Thanks to #33698, you can now set `ansible_python_interpreter: {{ ansible_playbook_python }}` in e.g. host_vars/localhost.yml

[2018-01-02 06:32] #33052 closed, assigned to nobody

[2018-01-02 06:42] biji commented on #33101
nodes are using Python 2.4.3, control is Python 2.7.14
I ended up using ansible 2.3 because 4 of the 17 servers are still centos 5.9

[2018-01-02 06:49] OMKARdama12 commented on #25429
![screenshot from 2017-12-23 21-58-01](https://user-images.githubusercontent.com/31235010/34476458-e24c4e16-efb6-11e7-9237-fa92f8d40271.png)
i got this error pls anyone can help me

[2018-01-02 07:13] OMKARdama12 commented on #25429
![screenshot from 2017-12-29 12-21-28](https://user-images.githubusercontent.com/31235010/34476848-6479c88e-efba-11e7-8d5d-3089e9f3ed2c.png)
when i install open edx ,at the end of step ,i got this error,plase anyone can help me

[2018-01-02 07:25] shajay12 commented on #31991
Hi Akash,

Can you send me the Ansible code for creating VM from vm template.

[2018-01-02 07:53] nwalke commented on #24629
I think the whole reason this was still open was that hopefully the traceback could be fixed as per [this comment](https://github.com/ansible/ansible/issues/24629#issuecomment-301566949).

[2018-01-02 07:54] nwalke commented on #24629
I'm unable to reopen this issue now.  Hopefully a member can...

[2018-01-02 09:18] Rocking80 opened #34340 "AGAIN: Aborting, target uses selinux but python bindings (libselinux-python) aren't installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
I installed ansible via pip.
[code]

##### CONFIGURATION
[root@test01 ansible]# ansible-config dump --only-changed
HOST_KEY_CHECKING(/home/peng/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
All CentOS 6.5 (64-bit)

##### SUMMARY
In my role there is a step using copy module, but it reports selinux error a

[2018-01-02 09:27] lishengjia opened #34341 "ansible2.4 run failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - parsing

##### ANSIBLE VERSION
 - ansible 2.4.3.0

##### CONFIGURATION
 - ansible.cfg test.yml files group_vars hosts roles

##### OS / ENVIRONMENT
 - CentOS release 6.9 (Final)

##### SUMMARY
[root@ops ansible]# ansible-playbook /etc/ansible/cc_and_console.yml -vvv
ansible-playbook 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configure

[2018-01-02 10:13] OMKARdama12 commented on #25429
TASK [mongo : Create a mongodb user] *******************************************
fatal: [localhost]: FAILED! => {"failed": true, "msg": "[{u'password': u'{{ praneethkumar }}', u'user': u'{{ cs_comments_service }}', u'roles': u'readWrite', u'database': u'cs_comments_service'}, {u'password': u'{{ omkarchowdary }}', u'user': u'{{ edxapp }}', u'roles': u'readWrite', u'database': u'edxapp'}]: 'praneeth

[2018-01-02 10:17] lishengjia commented on #34341
My fault!The jinja2 configuration file has an extra double quotation mark!Sorry...

[2018-01-02 10:17] #34341 closed, assigned to nobody

[2018-01-02 10:24] trishnaguha commented on #30979
resolved_by_pr https://github.com/ansible/ansible/pull/34342

[2018-01-02 10:25] trishnaguha commented on #30979
@IPvSean Will you please try the fix https://github.com/ansible/ansible/pull/34342 out?

[2018-01-02 10:25] matanlb commented on #25429
Hey @OMKARdama12
There is still no response from @ansible on this one as far as I know.
For now we've resorted to doing this with a shell command instead

[code]

If you have any kind of logging system in place for when running your playbooks, I'd recommend adding `no_log: True` to that to avoid logging the admin and user passwords.

[2018-01-02 10:28] memo42 commented on #32196
This is not working with the current devel version.

Minimal example inventory to test:

[myhosts:children]
test
warum
[test]
hostname
[warum:vars]
[warum]
abc

[2018-01-02 11:13] AidasK commented on #31504
affects ansible 2.4.2.0 too

[2018-01-02 11:19] OMKARdama12 commented on #25429
where  i have to place no_log:true

On Tue, Jan 2, 2018 at 3:56 PM, Matan Lieberman <notifications@github.com>
wrote:

[2018-01-02 11:20] OMKARdama12 commented on #25429
i added in the playbooks right?

On Tue, Jan 2, 2018 at 4:49 PM, omkar dama <omkar.dama522@gmail.com> wrote:

[2018-01-02 11:28] dagwieers opened #34343 "Windows: become other users without requiring passwords"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Windows

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Much like sudo on Unix, it would be nice to be able to run modules as any user (from an Administrator account) without the need to use passwords (which you may not know). When managing multi-user systems this is a necessity in order to manage configuration items of user environments.

This is

[2018-01-02 11:37] #30016 closed, assigned to Akasurde

[2018-01-02 11:37] #33648 closed, assigned to Akasurde

[2018-01-02 11:42] #34171 closed, assigned to nobody

[2018-01-02 12:30] trishnaguha commented on #32641
@jrosser the playbook works for me.
Would you like to give the latest devel a try since there has been lot of changes on devel?
FYI we have added `nxos_aaa_server` integration tests which pass on nexus 7K and 9K series: https://github.com/ansible/ansible/blob/devel/test/integration/targets/nxos_aaa_server/tests/common

Please include the following task before the above task in your play:
[code]
ne

[2018-01-02 12:36] trishnaguha commented on #32952
@carlbuchmann we do not plan to support xml output for nxos in near future. so unlikely we will fix this in Ansible 2.5.

[2018-01-02 12:45] trishnaguha commented on #31901
@hbenaouich please use `nxos_aaa_server` module for tacacs. also it will never be idempotent because password is always encrypted.

[2018-01-02 12:48] rlueckl commented on #22881
Is there any progress on this bug? No news since August... :(

[2018-01-02 13:05] kevensen commented on #34161
@jenglish @Akasurde Sorry for the delay, just got back from vacation.  I’ll take a look at this before the end of the week.

[2018-01-02 14:38] rogerscuall commented on #32952
I also tested with NXOS 7.2 in N7k and ansible 2.5.0 but I also have an error, although now I can see the problem is in NXOS and not in ansible.

[2018-01-02 14:47] aioue commented on #24886
@hal58th module is being deprecated so won't submit a patch. Here is an updated file based off bretmartin's closed commit. Drop into your library folder to activate override the existing file.

https://gist.github.com/aioue/93a779d0f8e0012a38d624df10031a62

Searches take 4 seconds (from an original 47) now.

[2018-01-02 14:48] kedarkekan opened #34345 "[DI_MISSING] IOS-XR iosxr_vrf new module addition"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iosxr_vrf

##### ANSIBLE VERSION

[code]

[2018-01-02 14:50] kedarkekan opened #34346 "[DI_MISSING] iosxr_l2_interface new module addition"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
iosxr_l2_interface

##### ANSIBLE VERSION

[code]

[2018-01-02 14:52] kedarkekan opened #34347 "[DI_MISSING] iosxr_linkagg new module addition"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
iosxr_linkagg

##### ANSIBLE VERSION

[code]

[2018-01-02 14:57] balonik commented on #34191
@Akasurde
Setting async to 1000 fixed the issue and VMs are properly powered on during the first vmware_guest task.

Why would this option has an affect on what vmware_guest module does or not?

[2018-01-02 14:58] karlmdavis commented on #34304
Submitted a verified fix for this problem in PR #34349.

[2018-01-02 15:07] Akasurde commented on #34191
@balonik Cool. Async value is more generic and not specific to vmware_guest module. Like I said in last comment, lower value of `async` will remove temporary status file.

[2018-01-02 15:22] kedarkekan opened #34350 "[DI_MISSING] iosxr_lldp new module addition"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2018-01-02 15:24] kedarkekan opened #34351 "[DI_MISSING]iosxr_l3_interface new module addition"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iosxr_l3_interface

##### ANSIBLE VERSION

[code]

[2018-01-02 15:28] sivel commented on #34197
Closing as a duplicate of https://github.com/ansible/ansible/issues/24425

[2018-01-02 15:28] #34197 closed, assigned to nobody

[2018-01-02 15:28] maxamillion commented on #34350
needs_info
!needs_triage

[2018-01-02 15:29] maxamillion commented on #34347
!needs_info

[2018-01-02 15:29] maxamillion commented on #34347
needs_info

[2018-01-02 15:29] maxamillion commented on #34346
needs_info

[2018-01-02 15:29] flaper87 commented on #34082
It is deprecated. The goal is to focus on the new `openshift_raw` module as it was pointed out earlier in this issue. Will check if this fix is needed in the new module

[2018-01-02 15:30] maxamillion commented on #34345
needs_info

[2018-01-02 15:34] maxamillion commented on #34329
Please provide the Component Name in new bug reports

docs_report
!needs_triage
needs_info

[2018-01-02 15:36] bcoca commented on #22881
could not reproduce the title as generic vars were not a problem, just the interprter one, which makes this a dupe of #18665, which is currently fixed. so closing this issue

[2018-01-02 15:36] #22881 closed, assigned to bcoca

[2018-01-02 15:37] maxamillion commented on #34325
cc @kbrebanov

!needs_triage

[2018-01-02 15:38] maxamillion commented on #34320
!needs_triage

[2018-01-02 15:45] maxamillion commented on #34325
cc @tdtrask

[2018-01-02 15:45] Vebryn opened #34352 "bug into snmp_facts on some cisco"
Hi,

snmp_facts module gets informations from network equipement using snmp. On some Cisco, name field is wrong.

[code]

Using snmpget, value is correct.

`iso.3.6.1.2.1.2.2.1.2.2 = STRING: "FastEthernet0/1"`

Best regards

[2018-01-02 15:48] snemir2 commented on #30759
any updates for this?
I also have a "shared" subnet, and i get
raise ResourceNotFoundError(message, self.status, code)\nlibcloud.common.google.ResourceNotFoundError: {u'domain': u'global', u'message': u\"The resource 'projects/{{my_project}}/global/networks/{{shred subnet from another project}}' was not found\", u'reason': u'notFound'}\n",

[2018-01-02 15:48] maxamillion commented on #34184
doc_report

[2018-01-02 15:48] sivel commented on #24236
I'm on the fence about this feature request.  `prune` is not an acceptable state.

Additionally there would be no decent way to determine change of whether this action was successful.

I'd recommend instead just shelling out to the docker command.

Now the reason I am on the fence, and haven't closed this, is that creating a docker command to do this, based on off of variables in your playbook may

[2018-01-02 15:48] maxamillion commented on #34184
!needs_triage

[2018-01-02 15:49] Vebryn commented on #34352
duplicates #34353

[2018-01-02 15:49] #34352 closed, assigned to nobody

[2018-01-02 15:50] sivel commented on #34234
The ping module is not designed for a connectivity check.  Per the documentation it reads:

Instead you should look into the `wait_for` module to identify connectivity to a port.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-02 15:50] #34234 closed, assigned to nobody

[2018-01-02 15:52] maxamillion commented on #34187
!needs_triage

cc @bcoca @jimi-c @abadger

[2018-01-02 15:55] maxamillion commented on #34190
CC @Qalthos

[2018-01-02 15:55] maxamillion commented on #34190
!needs_triage

[2018-01-02 15:58] sivel commented on #34245
Additionally, it would be helpful to upgrade to v2.4 and provide the output of your playbook invoked with `-vvv` so that the actual exception is included in the output.

v2.4 has new code which would indicate specifically where the problem was encountered.

[2018-01-02 15:59] jpradoar commented on #14413
**This work for me:**
_ansible: 2.4.1.0
Ubuntu: 16.04.3 LTS
Linux  4.4.0-98-generic_

      - name: reboot server
        become: yes
        shell: sleep 2 && /sbin/shutdown -r now "System reboot"
        async: 1
        poll: 0

      - name: Wait for restart
        local_action: wait_for port=22 host="{{ ansible_ssh_host | default(inventory_hostname) }}"  search_regex=OpenSSH delay=60

[2018-01-02 16:04] maxamillion commented on #34334
After further inspection, this is actually expected behavior and is a side effect of the ssh `-tt` option in use, however if that option is disabled it would cause issues with `sudo`.

Also, it should be noted that the `script` [action plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/script.py) has this issue and the `script` [module](https://github.com/ansible/ansi

[2018-01-02 16:04] #34334 closed, assigned to nobody

[2018-01-02 16:08] maxamillion commented on #34218
!needs_triage

[2018-01-02 16:08] maxamillion commented on #34225
!needs_triage

[2018-01-02 16:11] maxamillion commented on #34226
!needs_triage

[2018-01-02 16:12] bcoca commented on #34218
In 2.5 all connection plugins are now documented. http://docs.ansible.com/ansible/devel/plugins/connection/chroot.html

[2018-01-02 16:12] #34218 closed, assigned to nobody

[2018-01-02 16:15] maxamillion commented on #34242
Remote execution via a REST API is not a part of Ansible Core functionality at this time.

[2018-01-02 16:15] #34242 closed, assigned to nobody

[2018-01-02 16:22] maxamillion commented on #34317
It looks like whatever path you're attempting to use as the cache, ansible doesn't have the appropriate permissions to write to.

[code]

Please verify this.

[2018-01-02 16:22] maxamillion commented on #34317
needs_info

[2018-01-02 16:27] maxamillion commented on #34284
cc @nitzmahone

[2018-01-02 16:28] maxamillion commented on #34282
cc @shane-walker

[2018-01-02 16:29] maxamillion commented on #34275
cc @nitzmahone

[2018-01-02 16:40] bcoca commented on #34184
closing in favor of existing proposals, starting with  https://github.com/ansible/proposals/issues/19

[2018-01-02 16:40] #34184 closed, assigned to nobody

[2018-01-02 16:43] sedrubal commented on #29266
@Akasurde I'm not totally sure, if it was caused by this playbook, because I reported this long time ago.

[code]

This are the variables

[code]

This is the output of `ansible-playbook --diff`:

[code]

When I run `ansible-playbook --diff` again, there is no additional output:

[code]

[2018-01-02 16:43] bcoca commented on #17920
closed via 972379c

[2018-01-02 16:43] #17920 closed, assigned to nobody

[2018-01-02 16:48] termlen0 opened #34355 "bigip_config merge_content parameter does not make changes to the device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

f5/bigip_config/merge_content parameter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

' '
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using the merge_content parameter to change the ltm's configuration does not work. The task comes back as changed successfully, but the config does not take effect.
##### STEPS TO REPRODUCE

I've tried usi

[2018-01-02 17:01] caphrim007 commented on #34355
!component =lib/ansible/modules/network/f5/bigip_config.py

[2018-01-02 17:02] bcoca commented on #34300
When using the `roles`' keyword they are all imported previous to execution, so vars/ and defaults/ are expected to be globally available, though a role always prioritizes its own defaults vs other defaults.

We are looking to use `include/import_role` to provide the functionality you describe.

[2018-01-02 17:02] #34300 closed, assigned to nobody

[2018-01-02 17:10] bcoca commented on #34272
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This was actually a bug fix, role `name `is NOT a variable but a property of the role that is aliased/overlaps with the `role` property

[2018-01-02 17:47] bookwar opened #34360 "uri module can not find auth data in ~/.netrc if there is a port number set explicitly in the url"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT

Fedora 27

##### SUMMARY

uri module can not use authentication via .netrc file, if `url` contains port specification.

When parsing .netrc file for username and password in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L818, w

[2018-01-02 18:26] nitzmahone commented on #34284
Due to the way cert and basic auth reauthenticate each request (there are several requests for each Ansible task), it's very difficult to do idempotent password changes to your own password with cert auth. There's no straightforward way to modify the credentials used for the connection in the middle of a task, so you're basically "pulling the rug out" from the current connection as soon as either

[2018-01-02 18:44] nitzmahone commented on #34275
@MatthewBETTON This is actually a pywinrm bug... Have you tried with the latest pywinrm 0.3.0 (just released a couple weeks ago) along with setting `ansible_winrm_ca_trust_path` to a requests CA bundle that includes your CA cert (eg http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification)? There was a pywinrm bug where the CA path wasn't getting patched through to requests p