[2018-09-13 12:18] dagwieers commented on #45596
duplicate_of #42163

[2018-09-13 12:23] #45596 closed, assigned to nobody

[2018-09-13 12:30] ant31 commented on #45596
thanks, I failed to find it. using 'ansible module' and couple other variations in the search returned 3k issues each time :)

[2018-09-13 12:32] dagwieers commented on #45596
@ant31 Yeah, I had difficulties trying to find the PR myself, and I knew it existed ! ;-)

[2018-09-13 12:33] willthames commented on #45593
@raevilman are you able to test my proposed fix in #45599 ?

[2018-09-13 12:35] dwagelaar commented on #43361
Unfortunately, trying a fresh ansible setup is too time-consuming: our environment is already locked down to a single ansible master node.

One last idea is that this may be caused by an old mariadb-libs-5.5.56-2.el7.x86_64 (required by postfix) that is installed on the ansible master node. I will try this out.

[2018-09-13 12:42] dwagelaar commented on #43361
Yup, removing the mariadb-libs-5.5.56-2.el7.x86_64 RPM fixed my problem, and underscores in usernames work!

[2018-09-13 12:44] bmalynovytch commented on #43361
Perfect 👍

@ansibot notabug

[2018-09-13 12:51] Du-St commented on #27349
+1

[2018-09-13 13:00] funkyfuture commented on #45446
it's noteworthy that when opening a tty via ssh at the point where the enabling hangs:

- syslog logs the blocking
- `ufw status verbose` yields the expected result
- other currently opened shh connections may or may not be blocked and time out after a while

my obervation regarding the hanging fact gathering is that it doesn't happen every time, i couldn't figure ot a pattern yet.

oh, and if you

[2018-09-13 13:09] AlanCoding commented on #39382
This was resolved at some point, with recent devel:

[code]

[2018-09-13 13:09] #39382 closed, assigned to nobody

[2018-09-13 13:18] raevilman commented on #45593
@willthames : Yes, it worked! 👍
Thanks.

btw, below is the output in case anyone need to see

[code]

[2018-09-13 13:19] Qalthos commented on #43731
We're not seeing the issue in DCI anymore, but Peter finally managed to reproduce it in the wild, and now it's been caught and fixed.

@ericdost while that is also an issue with JSON serialization, the underlying issue is quite different. None of those modules use the ansible-connection logic that this bug is against. If the issue persists with you,  I would suggest opening a new issue targeting t

[2018-09-13 13:28] #43731 closed, assigned to Qalthos

[2018-09-13 13:32] AlanCoding opened #45601 "ansible-inventory counting "ungrouped" group as host"
##### SUMMARY
Script output that provides the "ungrouped" group is having it processed as a host when `ansible-inventory` is ran with that inventory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory CLI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS / N/A

##### STEPS TO REPRODUCE
Example files available in:

https://github.com/AlanCod

[2018-09-13 13:32] ivan-kleshnin commented on #18305
For me, Ansible freezes at:

[code]

while the following goes normally:

[code]

Both work in the same way when I run them manually.

No logs, no error messages, nothing - kinda embarassing. Not even saying that the freezing of low-level command like `raw` where high-level `script` performs is weird.

[2018-09-13 13:35] AngelFreak opened #45602 "junos l2, and vlan aggregate really slow"
##### SUMMARY

I'm trying to speed up the execution of my junos playbook on the Juniper EX2300.
As stated in this blog post: https://www.ansible.com/blog/accelerate-ansible-networking-aggregate-resources
The aggregate option should decrease the run time drastically.
This dosen't seem to be the case on Junos.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/network/

[2018-09-13 13:38] AlanCoding commented on #45601
!component =lib/ansible/cli/inventory.py

[2018-09-13 13:50] cailen commented on #44827
Checking up if anyone has any information to assist with this. Thanks!

[2018-09-13 14:00] jbarotin opened #45604 "Make UFW module changed works with check-mode"
##### SUMMARY

When I'm executing UFW with the check-mode enable (-C) for adding or removing firewall rules, there is nothing displayed as changed on my screen.  Additionaly diff option (-D) is also not working.

I'm a big fan of these two options, I'm using it always before an execution on a production environment. It's very usefull to avoid mistake.

##### ISSUE TYPE
- Feature request / ~Bug  Re

[2018-09-13 14:15] micyew commented on #45591
I read thru' the blog...I didn't see any paragraph mentioning how to prevent Ansible from SSH to devices?

[2018-09-13 14:17] bcoca commented on #45591
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-13 14:17] #45591 closed, assigned to nobody

[2018-09-13 14:20] aioue commented on #44408
@fabianvf if you have an example fix for one of the files above, depending on the python complexity, I might be able to copy the change to the other files for you.

[2018-09-13 14:31] bcoca commented on #45585
fixed via #42412

[2018-09-13 14:31] #45585 closed, assigned to nobody

[2018-09-13 14:31] trexmaster commented on #45219
I must second @moozer's comment, I just had the issue on a freshly installed Debian Stretch VM, and the become_flags didn't help, I had to use his trick and modify the python lib.

[2018-09-13 14:48] Luke035 commented on #15402
Hi all,
I was having the same problem when I found your issue . Maybe I find something usefule to provide the password (even through a vault variable) within the `ansible_ssh_common_args` params.
If you have sshpass installed you can use it before the ssh command to provide the password, it's a little hack but it works!
[code]

Hope this can help!

[2018-09-13 15:17] bcoca commented on #45601
reproduced and confirmed  the issue

[2018-09-13 15:26] kbreit opened #45609 "Inventory documentation on groups-of-groups should address playbook usage"
##### SUMMARY
The "Working with Inventory" documentation talks about how to nest groups within the inventory file or `groups_var` directory structure. However, the usage within a playbook's `hosts:` parameter isn't intuitive and should be described in the document.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs/docsite/rst/user_guide/intro_inventory.rst

##### ANSIBLE VERSION

[2018-09-13 15:34] sivel commented on #45609
Using child groups doesn't change the way you target hosts or groups.  I'm not sure what is unintuitive.  Could you explain in more detail what needs to be made more clear?

needs_info

[2018-09-13 15:35] bcoca commented on #45604
reclassified as check mode/diff mode are not requirements but optional features modules can implement.

[2018-09-13 15:39] bcoca commented on #45545
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the error seems to in

[2018-09-13 15:39] #45545 closed, assigned to nobody

[2018-09-13 15:58] dmrzzz commented on #45585
Cool, thanks!

For anyone else who finds this issue, the solution is to replace `{{ vars['FOO'] }}` with `{{ lookup('vars', 'FOO') }}`

[2018-09-13 16:29] pallix opened #45614 "apt_repository generates wrong sources on Ubuntu Xenial"
##### SUMMARY

`apt_repository` generates a wrong apt source list file if `codename` is not specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Xenial

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect no error and a valid file to be generated in `/etc/apt/

[2018-09-13 16:38] AnatolyRugalev commented on #32750
Reproducible on my setup.

ansible 2.6.4
python 3.6.5
Server's python version: 2.7.12

I am using [kubespray](https://github.com/kubernetes-incubator/kubespray) to deploy a Kubernetes cluster behind proxy.

Verbose logs:

[code]

Now trying to reproduce it.

[2018-09-13 17:10] jctanner commented on #44546
We have a report from the field that the patch mentioned in https://github.com/ansible/ansible/issues/14934#issuecomment-197462531 resolves the problem. We're stuck on implementing this change though because we have no test infrastructure for powerbroker and are unlikely to ever have one.

needs_contributor

[2018-09-13 17:13] bcoca commented on #45601
Since #2871, groups require to have at least a 'vars' or 'hosts' key (later we added 'children') otherwise they are considered hosts.

[2018-09-13 17:17] msilmser opened #45617 "PSRP Doc Request"
##### SUMMARY
Support was asked to provide some examples on what we'd like to see documentation on for the PSRP plugin

##### ISSUE TYPE
- Documentation Report

PSRP Doc
========
Powershell Remoting Protocol

Questions:

- Initial Config
    - Remoting script?
        - Do we need to run a new remoting script to allow PSRP connection?
    - Transport dependencies?
        - What packages are depen

[2018-09-13 17:36] acozine commented on #45617
Thanks @msilmser for noting down details of what should be documented. The current docs for PSRP are here: https://docs.ansible.com/ansible/devel/plugins/connection/psrp.html. I'll add this to the queue of docs subjects in need of attention.

[2018-09-13 17:41] acozine commented on #37049
@dagwieers this is a great idea, but not a priority in the runup to AnsibleFest. This is something I'd like to discuss in Austin, though.

[2018-09-13 17:41] AnatolyRugalev commented on #32750
I came up with this simple playbook:

### test.yml:
[code]

### inventory.yml:
[code]

Run: `ansible-playbook -i inventory.yml ./test.yml -vvv`

Log entries with failure:
[code]

[2018-09-13 17:42] AlanCoding commented on #45601
In terms of preference, I would also favor some change to the script plugin, although I'm iffy on what exact rules would be the best for this contract.

Completely separate from this, it would seem reasonable to also include an empty `hosts` list and/or `vars` dictionary inside "ungrouped" in the `ansible-inventory` output. Since it's providing a model for how others build their structure, this wo

[2018-09-13 17:47] bcoca commented on #45601
so i'm going to fix the ansible-inventory output , unsure how to warn users about this 'host/group' conflation when introduced at the top level as an empty dict.

[2018-09-13 18:40] jose-delarosa commented on #45513
So far so good testing is going well. I had to increase the timeout from the default 10 to 15 as I got a few timeout errors at first, but then I changed back to 10 and don't get them anymore. Let me do some more testing and if it all looks good then I'll submit a PR.

[2018-09-13 18:42] krnbr commented on #40808
the following worked for me

`wget -O - 'https://dl.bintray.com/rabbitmq/Keys/rabbitmq-release-signing-key.asc' | sudo apt-key add -`

[2018-09-13 18:51] billdodd commented on #45513
Sounds good. Thanks!

[2018-09-13 18:53] jose-delarosa commented on #45248
@mraineri @tomasg2012 @billdodd Open to recommendations on best way to not assume a certain key always exists.

[2018-09-13 18:53] #45426 closed, assigned to nobody

[2018-09-13 18:54] ss6851 opened #45625 "The section 'Local Policies' does not exist in SecEdit.exe output ini"
#### SUMMARY
The section 'Local Policies' does not exist in SecEdit.exe output ini.
I am trying to disable SMB signing on the AD via win_security_policy module as mentioned in https://docs.ansible.com/ansible/2.4/win_security_policy_module.html

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_security_policy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-09-13 18:56] kbreit commented on #45609
Sure. Lets say I have a group nesting of something like this...

aws:
  children:
     web:
        hosts:
           ...
azure:
  children:
     web:
        hosts:
           ...
How would I specify I want to target aws web hosts and not azure web hosts? After some experimenting I saw `aws:web` seems to work but I first had `aws/web`.

[2018-09-13 18:56] sc68cal opened #45627 "Attempting to use the eos_command module fails when using an Aritsa vEOS machine spawned via Vagrant"
This is a pretty intricate issue, so strap yourselves in.

##### SUMMARY

I am attempting to test out BGP configurations for the Arista EOS bgp module, using an Arista vEOS machine managed via Vagrant.

[code]

This is referenced in https://github.com/arista-eosplus/ansible-eos-bgp/blob/45c0795dda2409570ac026780bd8ef0a5dce687e/tasks/main.yml#L15

This error message is from, I believe the following

[2018-09-13 18:58] sivel commented on #45609
The patterns docs that describe how to form host patterns is located at https://docs.ansible.com/ansible/latest/user_guide/intro_patterns.html

Since as mentioned it doesn't really have anything to do with child groups, I'm not sure anything needs done here.

Maybe a re-ordering so that patterns is referenced closer to inventory?

[2018-09-13 18:58] sc68cal commented on #45627
I can try overriding the connection type via

[code]
And that just boils over into a different error:

[code]

[2018-09-13 19:06] sc68cal commented on #45627
I think this boils down to the fact that Vagrant sets the `ansible_connection` type to `ssh` ?

I know that Vagrant has an [ansible_local](https://www.vagrantup.com/docs/provisioning/ansible_local.html) provisioner, but that implies that I have to upload my ansible playbooks directly onto the switch and run them, instead of being able to run it from a central location

[2018-09-13 19:06] enablex3 commented on #19584
Are you trying to simply connect? What does your hosts file look like?

On Wednesday, September 12, 2018, FALCON-SJSU <notifications@github.com>
wrote:

[2018-09-13 19:11] sc68cal commented on #45627
I did try this:

[code]

[code]

[2018-09-13 19:13] samccann opened #45630 "Remove 2.6 from the Network platform guides."
##### SUMMARY

Remove version 2.6 references from the latest network platform guides. ((Intro paragraph and section titles).  The current guides suggest the content is only applicable to Ansible 2.6 which is not true.

https://docs.ansible.com/ansible/latest/network/user_guide/platform_eos.html for example.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSI

[2018-09-13 19:14] Ashok-Mishra commented on #45543
Playbook:

- name: Add Queues
  rabbitmq_queue:
    name: '{{ item.key }}'
    login_user: '{{ default_user }}'
    login_password: '{{ default_pass }}'
    vhost: '{{ item.value.vhost }}'
    auto_delete: false
  when: "'none' != item.key"
  with_dict: '{{ queues }}'

- name: Bind Queues
  rabbitmq_binding:
    name: '{{ item.value.exchange }}'
    arguments: '{{ item.value.arguments | default(om

[2018-09-13 19:14] jborean93 commented on #45617
Just an FYI, I agree we need more docs but the psrp connection is fairly new and I opted for getting the code in and out there for more curious people to try before properly solidifying it in docs. There’s a few experimental features I want to try at some point but currently it’s mostly interchangebale with the winrm plugin.

[2018-09-13 19:17] Everspace opened #45631 "An empty cow_whitelist while cow_selection is random causes no cows to be selected"
##### SUMMARY
When using random cow selection, and custom cows, the random selection of cows does not include new cows, and produces an error.

In previous versions, an empty `cow_whitelist` caused any cow to be used instead of no cows to be used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/utils/display.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

In addit

[2018-09-13 19:38] #45601 closed, assigned to nobody

[2018-09-13 19:42] bcoca commented on #45609
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, groups are 'global'.

[2018-09-13 19:42] #45609 closed, assigned to nobody

[2018-09-13 20:02] rot26 commented on #36769
Temporary Workaround:  Remove your ansible roles directory first.

[code]

[2018-09-13 20:31] Everspace commented on #45631
!component lib/ansible/utils/display.py

[2018-09-13 20:32] avocadojesus commented on #45043
Hi @willthames Thanks SO MUCH for getting back to me! I'm so sorry, I lost sight of this thread! I actually just decided to manually write my own ansible role that listed the distributions and, based on if they existed or not would proceed to use aws command line utilities to manually upload a distribution config. I battled it for a few days first and at the time I left that comment I think I was

[2018-09-13 23:13] Saloshp opened #45638 "pacman module fails to parse an empty list "New-style module did not handle its own exit""
##### SUMMARY

`pacman` module is unable to parse an empty list,
I need this weird use-case because I use a variable for packages that I want installed, but that variable could be a clean list on some nodes that don't require intervention.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules/packaging/os/pacman.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENV

[2018-09-13 23:59] jkugler commented on #40586
I am hitting this issue on Ansible 2.6.3, OS X 10.12.6. Is there a fix in the pipeline for this yet?

[2018-09-14 01:04] jborean93 commented on #45625
The `win_security_policy` module is a very basic wrapper around `secedit.exe` and the INI file it exports. To get a list of sections and values that you can edit, just run `secedit.exe /export /cfg secedit.ini`.  These values do not line up with the policies that are set in `gpedit.msc` so you can do what you are looking for in the module.

Luckily for you, the policy can be manipulated by the reg

[2018-09-14 01:04] #45625 closed, assigned to nobody

[2018-09-14 01:09] jborean93 commented on #44141
Here is a background thread around setting up SOCKS with the `ansible_psrp_proxy` variable https://groups.google.com/forum/#!topic/ansible-project/hqVIXJvc6tw. I was able to use an SSH tunnel on a bastion host to get the Ansible controller to connect to a Windows server in another network through the bastion host with these details.

As for why there is no `proxy_user` or `proxy_password` paramete

[2018-09-14 01:11] jborean93 commented on #45476
I'm not against this, we may need to have a broader discussion around the interface to specify these products but happy to see a PR and we can go from there.

[2018-09-14 01:21] #45522 closed, assigned to nobody

[2018-09-14 03:01] jborean93 commented on #44973
@michal-clapinski I've had a look at the code and the reason why your example on the Linux side works is that the async watchdog process that kills the async process if it exceeds the timeout waits 5 + 5 seconds before it sends the `SIGKILL` signal to forcebly kill it. Some of that initial 10 seconds is setting up the module to run but I found that an async value lower than `10` has a max executio

[2018-09-14 03:01] #44973 closed, assigned to nobody

[2018-09-14 03:45] jose-delarosa commented on #45513
@billdodd Did you also see the error with the other playbooks that use POST or PATCH? (power on, power off, add users, etc) I added `follow_redirects='all'` to all methods (GET/POST/PATCH/DELETE) and tested it, no issues, but wondering if you also saw the error there.

[2018-09-14 03:55] felixfontein commented on #45522
Thanks for verifying this, @sedrubal!

[2018-09-14 05:42] jose-delarosa commented on #45248
Working on a fix which should simplify things greatly.

[2018-09-14 06:17] mhutter commented on #28966
Still exists in 2.6:

OS: MacOS
Ansible: 2.6.4
python: 3.7.0

Python has no issues loading the passlib module; however ansible still fails:

    $ $(head -n1 $(which ansible) | cut -d'!' -f2) -c 'import passlib'; echo $?
    0

[2018-09-14 08:28] mikedlr commented on #32499
Trying to remember what this bug is about I came across [this article](http://www.evanjones.ca/fork-is-dangerous.html) which gives a good explanation.

Essentially, to safely support threaded applications we should eliminate all calls to fork except a) when immediately followed by an exec() b) at the very start of a program when creating a special worker which can then do subsequent forks but whic

[2018-09-14 08:31] jbarotin commented on #45604
If the check mode is not implemented in this module code, I think you should not set `supports_check_mode` to the value "True" in the module code. I may generate wrong ok statement while user enable Check mode.

I spend time to see how to handle a solution. I think, it's possible to compare the result of `ufw rules --dry-run <MyRules>` with the content of `/etc/ufw/user.rules` & `/etc/ufw/user6.ru

[2018-09-14 08:38] gbdlin commented on #14604
Is there anything new about that issue?

[2018-09-14 09:27] olaldiko commented on #44950
@helldorado, tested the changes, is working great now! Thank you very much for your efforts!

[2018-09-14 09:28] Yannik commented on #14604
@gregdek @chouseknecht  As the bug reporter, I'd be curious about this as well. As it is, galaxy ansible can not be used from a security standpoint.

[2018-09-14 09:30] rsmeyers commented on #43106
Let's name it aci_access_port_block_to_access_port to be consistent with the 'parent' module

[2018-09-14 09:30] nicolaibaralmueller commented on #44757
This is a creation of a user. The display name (CN) under active directory users and computers mmc just shows the username. When manualy creating a user the full displayed name can be edited.

[2018-09-14 10:00] tomek-cz commented on #43918
Getting deeper into that, the bug is in the ansible module `datadog_monitor.py`, where we pass a body like this:
`{'silenced': "{'healthcheckid:1aaf9740-aff8-4565-9980-703c8602e60c': 1539507717}"}`
down to a class method defined in datadog's `api/monitors.py`.

The datadog's module does not validate whether the body is valid and uses it to POST the query to datadog's API. But, the API expects  is

[2018-09-14 10:09] b00tsy commented on #43918
Awesome, thanks!

[2018-09-14 10:21] MarkusTeufelberger opened #45644 "vault identifier is not exposed in tower_credential"
##### SUMMARY

A vault identifier can be set in the AWX UI, but not not with the tower_credential module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

tower_credential

##### ADDITIONAL INFORMATION

[code]

[2018-09-14 10:38] ashish-billore commented on #34185
Does this fix look reasonable to be merged or there are any suggestions? --> https://github.com/ansible/ansible/pull/45469

Thanks!

[2018-09-14 10:43] AlanCoding commented on #45644
Similar to https://github.com/ansible/ansible/issues/45172, I think generic `inputs` needs to be exposed as a field. This is only usable with Tower 3.3.

[2018-09-14 11:40] mafalb commented on #24450
I was bitten by this behaviour with raspbians bind9.service unit, that's how I came here.
I found another PR #24778 about this issue.

What #24452 does is doing a `systemctl status` but you really do not know how long it takes for the service to fail. e.g. think for dns resolver timeout or network timeouts in general, such things can take several seconds. How long should ansible sleep?

The exampl

[2018-09-14 11:50] lwm commented on #29887
Looks like https://github.com/ansible/ansible/pull/40123 is going to get us there.

[2018-09-14 12:28] maduhshan opened #45648 "uri module unable to do server certificate verification and enable/disable host name verification"
##### SUMMARY
Currently uri module allows to verify client certificates with `client_cert `. There is no option available in uri module to do a server side cert verification.
Also uri module currently doesn't have an option to do enable or disable host name verification based on user preference when making a request.
https://docs.ansible.com/ansible/2.6/modules/uri_module.html

##### ISSUE TYPE
-

[2018-09-14 12:38] profhase opened #45650 "SeLinux always gives a warning"
##### SUMMARY
The selinux module always gives a warning, regardless of changes.
Without changes, there should be no warning at all

Even with changes the warning is questionable. It does not warn about possible wrong usage of the module but rather states core concepts of SElinux.

The warning is

     [WARNING]: SELinux state change will take effect next reboot

##### ISSUE TYPE
- Bug Report

####

[2018-09-14 12:38] maurociancio commented on #18782
Is there any workaround for this issue?
The problem I'm having is that a host goes unreachable in the MIDDLE of the playbook, for some unknown reason (may be some network related glitch) and the playbook does not abort. Previously, ansible has run commands in this host, so, checking Ansible facts for the host cannot help me here, because the facts had been gathered. I'm doing a rolling deploy and

[2018-09-14 12:40] nkakouros opened #45651 "Add version dropdown in doc website"
##### SUMMARY

Through search engines, bookmarks, history i often end up in docs for different ansible versions. A dropdown for instance in the top right corner of the page would allow changing the version easily.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Also, it would be handy to have the chosen version be saved in a cookie and have the browser automat

[2018-09-14 12:50] maduhshan commented on #45648
We have used our own python script using pycurl for this instead of uri module, where user provides the server certificate to the script and pycurl set options to verify server cert. To disable host name verification
we have used `pycurl.setopt(pycurl.SSL_VERIFY_HOST, False) ` .

[2018-09-14 12:51] mauriciodeliz commented on #42723
My need I made via RunBook on Azure :)
But I would like to do everything via Ansible. = /

[2018-09-14 13:00] holmahenkel commented on #35041
Just stumbled upon this issue with APICs running **2.2(3j)** not reporting a change as Changed using `aci_rest`. The workaround by @dagwieers @marinus81  fixes it for now.

[2018-09-14 13:16] dmke opened #45654 ""{rel_file}" in ansible_managed"
##### SUMMARY

Add a new format variable to `ansible_managed`, which behaves like `{file}` but contains only the path relative to `ansible.cfg`.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

Core? (`lib/ansible/template`)

##### ADDITIONAL INFORMATION

Currently, using `{{ ansible_managed }}` in templates will insert a dynamic string into the file, with the path to the template file, th

[2018-09-14 13:45] markuman commented on #44131
I can reproduce this. Ansible told that it has change the inventory, but it does not!

![ansible](https://user-images.githubusercontent.com/3920157/45553768-0adf8b80-b835-11e8-8fda-eb1c16cc9775.gif)

[2018-09-14 14:13] billdodd commented on #45248
@jose-delarosa - Sounds good.

Just to document what we discussed on the call yesterday, the general idea is to test for the existence of the property in the JSON payload before retrieving it. Something like:

[code]

Another option is to use get() with a default value for cases where you want to return a value that indicates the property wasn't available:
[code]

[2018-09-14 14:15] billdodd commented on #45513
@jose-delarosa - I haven't (yet) seen it on anything other than GET so far. But I think it should be safe to make the same change for all the HTTP methods.

[2018-09-14 14:58] sivel commented on #44131
@markuman `add_host` does not update your inventory file.  That is not it's purpose.  The purpose of `add_host` per the documentation is to add the host to the _in memory_ inventory:

As such, it is a runtime configuration, and only available for the runtime of the playbook(s) that added the host via `add_host`.

[2018-09-14 14:59] jose-delarosa commented on #45248
I'm testing something like this, a lot cleaner, but dumps more info into the output JSON file, so just need to dig a little deeper with a JSON parser for the values we want:
[code]

[2018-09-14 15:01] jose-delarosa commented on #45248
And will be a little slower because of all the if statements, but I think that's the way we have to go to avoid any Key errors. Also trying this on all the other get_inventory functions.

[2018-09-14 15:10] sivel commented on #28966
`passlib` must be installed on the target machine, not the local ansible controller.  Ansible will run python code on the target host when trying to manage htpassword, and `passlib` must be available to the python interpreter running on the target host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2018-09-14 15:10] #28966 closed, assigned to nobody

[2018-09-14 15:11] samdoran commented on #45650
The reason this is warning is because SELinux is currently enabled on the system in either Permissive or Enforcing state, and the module is asserting that it should be disabled. The only way for that to be the case is for the system to be rebooted.

What is the output for `sestatus`?

needs_info

[2018-09-14 15:18] #45222 closed, assigned to nobody

[2018-09-14 16:01] fabianvf commented on #37600
Hmm, I'm surprised to still see this behavior,
@aioue do you have an example failing playbook?

[2018-09-14 16:04] ss6851 commented on #45625
Now I got the following error message:
[code]

[2018-09-14 16:12] aioue commented on #37600
I've deleted all my test code from earlier. Didn't expect a fix as `openshift_raw` is warning as deprecated now. It's possible it was a user error on my part, not understanding the module/OSh API so

Untested:

#### Unexpected action. Altered an existing other user (bob) with edit role applied and overwrote their permission, instead of just assigning edit role to a specific new user (alice):
[code

[2018-09-14 16:13] sivel commented on #45651
cc @acozine

[2018-09-14 16:30] fabianvf commented on #37600
openshift_raw is deprecated, but in 2.6+ is aliased to the new k8s module, so any issues that show up in 2.6+ are actually issues with the k8s module.

So it looks like when you update an existing role binding, the behavior you expect is that the new user is added to the list of subjects, but in actuality the list is clobbered. Is that an accurate summary?

[2018-09-14 16:45] acozine commented on #45651
@tterranigma thanks for submitting a detailed ticket. Trouble navigating multiple versions of the docs is a known challenge. We removed the version dropdown when we did a major reorganization of the documentation (after which many pages appeared only in one version of the documentation) early this year. A better way to navigate among versions is on the docket, though it isn't currently the docs te

[2018-09-14 17:03] sivel commented on #45528
In the short term, you can just ensure you don't pass booleans to the module.  Quoting the value should avoid this.

[code]

[2018-09-14 17:07] jjahns commented on #45528
That's correct, but if you have that in a variable, like so:
[code]
And then in the module have the following:
[code]
Ansible will interpret the variable as boolean, and property spec value will not parse boolean as a type. Which means, it has to be converted to a string.

The alternative here would be to use to_native, but we did not test that internally over here.

[2018-09-14 17:10] billdodd commented on #45248
That looks good. Avoids the long set of `if` statements.

I'd suggest one small change: Change the `if` statement to:

[code]

The `.keys()` method returns a list, so it will have to iterate over the list to determine if the property is present. Without the `.keys()` it uses the dictionary's hashing which will be much faster.

[2018-09-14 17:19] lwm commented on #45403
Right, this is just a docs issue in the end.

I've submitted https://github.com/ansible/ansible/pull/45659 for this.

I'll close this report now since the module can indeed destroy instances it creates.

We can improve things in the new v4 module.

Thanks for feedback folks.

[2018-09-14 17:19] #45403 closed, assigned to nobody

[2018-09-14 17:36] sivel commented on #45276
I'm not positive that there is really a solution to this.  This is going to depend on the network stability and available bandwidth.  Many large simultaneous transfers like this are likely to cause issues.

Limiting the concurrency is likely best here.  Such as using `serial` to limit to a 1 or 2 at a time, based on reliability and bandwidth.

[2018-09-14 17:50] sc68cal commented on #45627
I can be reached via freenode on IRC as well for further information - same handle as here. i'm in #ansible on freenode as well

[2018-09-14 17:52] sivel commented on #45490
I cannot duplicate this, either using py2 or py3.  For whatever reason in your output, the path to the file contains a lot of unicode null characters.

+label windows

[2018-09-14 18:19] krve0613 commented on #23340
"msg": "No folder /test matched in the search path : /Datacenter/vm/test"

I have the similar issue on 2.6.4. I am trying to deploy a VM and have this issue. I tried giving different folder structures as well but none of them helped me. Can someone help me with this?

[2018-09-14 18:23] jasmith79 opened #45661 "Ansible suggests invalid solution in error message for include_tasks"
##### SUMMARY
Using Ansible 2.6.4 (current release) when attempting to `include_tasks` for a file that isn't present on the controller but *is* present on the remote, the following error message prints:

[code]

However, per [the docs](https://docs.ansible.com/ansible/2.6/modules/include_tasks_module.html), `remote_src` is not a valid option for `include_tasks`.

##### ISSUE TYPE
- Bug Report

###

[2018-09-14 18:35] samccann opened #45662 "Replace common parameters in connection plugins with a shared docs snippet"
##### SUMMARY

A number of connection plugins have a subset of identical parameters (such as host_key_auto_add).  Move these into a shareable doc snippet and reuse this within the affected modules.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

Notice https://docs.ansi

[2018-09-14 19:05] MichaelBaydoun commented on #45490
This is happening across all 4 ansible servers in our environment.  Granted they are identical.

[2018-09-14 19:19] keilr commented on #44374
similar to #36395

[2018-09-14 19:59] bcoca commented on #44374
which vars? ansible-galaxy doesn't access inventory nor plays

[2018-09-14 20:07] #45418 closed, assigned to nobody

[2018-09-14 21:10] jeffery75 commented on #43246
Same issue on Ubuntu 14.04 with Ansible 2.6.4.

[2018-09-14 21:52] dagwieers commented on #35041
@holmahenkel If you can, please open a detailed ticket with Cisco to get your case resolved.

[2018-09-14 21:53] johnlauck commented on #45043
I successfully created a distribution, then added certificate attributes and saw this error.

I fetched the latest stable version and got past the error.  Resolution looks like it came from https://github.com/ansible/ansible/commit/e5269c047cc811f8f51d4c152098dd9f5066109a#diff-aaef1b3abde00153e8695bfdf79c5e55.

[2018-09-14 22:11] gangarmihir90 opened #45669 "Unable to install ansible with python3.4.3"
##### SUMMARY
Trying to install ansible using pip3, complaints that cannot install because python is 3.4.3

##### ISSUE TYPE
- Installation

##### COMPONENT NAME
Installation using pip3

##### ANSIBLE VERSION
NA

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
# cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.4 LTS"

##### STEPS

[2018-09-14 23:42] pilou- commented on #45417
!component +lib/ansible/modules/net_tools/ldap/ldap_entry.py

[2018-09-14 23:43] pilou- commented on #45392
cc @mfuchs

[2018-09-15 01:02] robsonpeixoto commented on #18079
I try to use it, @rpinohtyp, but without success. Or is it only a idea?

[2018-09-15 02:05] chenhb-zte opened #45672 "Unable to install ansible on windows 7"
##### SUMMARY
 os.symlink attribute can not be found while installing ansible via `pip install ansible` on windows 7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
latest version

##### CONFIGURATION
None

##### OS / ENVIRONMENT
windows 7, python 2.7.13

##### STEPS TO REPRODUCE
None

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2018-09-15 02:10] bcoca commented on #45669
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As the documentation clearly states, Python 3.4 is not supported
https://docs.ansible.com/ansible/latest/installation_guide/intro_insta

[2018-09-15 02:10] #45669 closed, assigned to nobody

[2018-09-15 11:44] smnmtzgr commented on #43106
@dagwieers - Can I try to write the new module and also reduce the functionality of the existing module? If yes, where can I contact you directly to talk about more details?

[2018-09-15 11:44] jakegatsby commented on #45431
I believe this was introduced in [e89e4c99](https://github.com/ansible/ansible/commit/e89e4c991c3ecda187e81d4241096efa60209d93)

Specifically, the [openstack inventory plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L199) tries to self.cache.set when self.cache is None.  I don't have a lot of experience here, but I'm experiencing this bug, and guess

[2018-09-15 13:51] citrin commented on #44869
On FreeBSD 10.4 `ifconfig` has no option `cidr` option,  but output without this option looks the same as on FreeBSD 11:
[code]
BTW - any tunnel interfaces, with and without CIDR aren't parsed by setup module currently.

[2018-09-15 14:01] mscherer commented on #45672
Ansible is not supported on Windows, at least not as a controller:

https://docs.ansible.com/ansible/latest/user_guide/windows_faq.html#can-ansible-run-on-windows

I would recommend getting a newer version of windows with WSL, or getting a Linux VM if you can.

Therefor, closing this issue.

[2018-09-15 14:01] #45672 closed, assigned to nobody

[2018-09-15 15:06] mscherer commented on #45205
This use "hostnamectl set-hostname", can you try to run it manually, do you have anything in the logs ?

[2018-09-15 16:26] ss6851 opened #45680 "Could not find imported module support code for 'Ansible.ModuleUtils.PrivilegeUtil"
##### SUMMARY

Could not Disable SMB signing with win_regedit

##### ISSUE TYPE
- Bug Report
`Could not find imported module support code for 'Ansible.ModuleUtils.PrivilegeUtil`

##### COMPONENT NAME

`win_regedit`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`Target OS: Windows Server 2012 R2 Standard virtually installed using VMware Workstation 12 Pro`
###

[2018-09-15 17:09] dagwieers commented on #43106
@smnmtzgr Of course, that would be great. We need to make sure that the existing module still works as before (but that it gives a DeprecationWarning when this functionality is being used). We can then remove that functionality after 4 new major releases. (So that would be earliest v2.12).

You can reach me either by mail in private (see GitHub account) or on IRC using nick "dag" (but I may not be

[2018-09-15 19:22] nunoenpereira opened #45681 "ansible_connection: network_cli"
##### SUMMARY

I cannot find a way to make the variable "ansible_connection: network_cli" work in 2.6.4 and 2.7.0rc2. It works on 2.5.1 though. I verified this by calling ansible through python (upgraded and downgraded through pip3 to test).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible network variables.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2018-09-15 19:54] klauern opened #45682 "slack callback plugin doesn't expose options for certificates"
##### SUMMARY

I'm using the [`slack` callback plugin](https://docs.ansible.com/ansible/latest/plugins/callback/slack.html) to work around the lack of [Mattermost](https://mattermost.org) support, as Mattermost claims it has a Slack-compatible API.  When I attempt to use this plugin, I get an error that it is unable to verify the certificates to the Webhook URL I give it.  There are possibly two i

[2018-09-15 20:30] zem opened #45683 "docker swarm"
##### SUMMARY

docker_swarm module fails to initialize a new swarm

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_swarm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
debian buster with recent ansible 2.7 release candidate

##### STEPS TO REPRODUCE
run the new docker swarm module

[code]

##### EXPECTED RESULTS
docker_swarm should initialize a swa

[2018-09-15 21:26] klauern commented on #45682
I think that while my use case of this module is unorthodox, I wouldn't
expect any fewer issues if I were calling Slack directly, as we have to use
a corporate proxy that will intercept the default certificates and
introduce their own, creating the same issue at the end of the day.
On Sat, Sep 15, 2018 at 15:05 ansibot <notifications@github.com> wrote:

--

-Nick

[2018-09-15 21:36] smnmtzgr commented on #43106
@dagwieers I just wanted to start writing the new module and tested the existing module of the devel branch of ansible and the issue seems to be resolved. @mtorelli can you also check this? (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py)

@dagwieers Are there already some changes done which could fix this? Eventual

[2018-09-15 22:17] dagwieers commented on #43106
@smnmtzgr I wouldn't be surprised if the recent refactoring of the construct_url() logic fixed this too. We discovered a few issues with the old implementation after testing for inconsistencies between 2 codebases.

But that does not take away the need to manage child-objects independently. So the new module is still needed.

[2018-09-15 22:36] mator commented on #18197
@bborysenko , should be easy to patch, but i don't have access to MacOSX. Which number from your example is major_version? Thanks.

[2018-09-16 00:01] dagwieers opened #45684 "Move VMware wiki docs to dev_guide"
##### SUMMARY
Now that we have a dedicated dev_guide section, maybe we ought to move the development-related documentation into a dev_guide. Including:

- VMware-specifics to modules
- How to write integration tests and test against vcsim
- Code review guidelines
- Relevant dev support documentation

And link this from the VMware user guide.

##### ISSUE TYPE
- Documentation Report

##### COMPONEN

[2018-09-16 00:42] dagwieers commented on #43106
@smnmtzgr I wouldn't be surprised if the recent refactoring of the construct_url() logic (#43441) fixed this too. We discovered a few issues with the old implementation after testing for inconsistencies between 2 codebases.

But that does not take away the need to manage child-objects independently. So the new module is still needed.

**Update:** Bad news. It does not appear to be fixed.

[2018-09-16 05:30] gmandrade opened #45685 "Option to reduce stdout lines"
##### SUMMARY
Today I have some problems to analyze some lines in ansible log file. To optimize this I think in a way to have a config in ansible.cfg file to change.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
reduce stdout log

##### ADDITIONAL INFORMATION
Add in ansible.cfg a line like this:

[code]

For command:

`$ ansible localhost -m ping`

Stdout with this feature:

[code]

Stdou

[2018-09-16 06:38] #44768 closed, assigned to nobody

[2018-09-16 08:41] pupseba commented on #18287
It would be nice if this get fixed. Is not a new thing and the workarounds, depending on the tasks, are pretty unpractical, verbose traditional script like (verify machine is powered on and use different things for each provider, veryfiy if connection to ssh port exists, then run a command...almost easy to do with a bash script...
I would use the "powerstate" modules for some providers but as they

[2018-09-16 10:35] mowgli opened #45687 "\t in some lsb facts"
##### SUMMARY
Currently I get some \t in lsb facts on gentoo but not on all boxes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Gentoo Linux i386

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-09-16 10:42] mowgli commented on #45687
Ignore that issue. It is a shell problem of lsb tool that does not work correctly with dash.

[2018-09-16 10:42] #45687 closed, assigned to nobody

[2018-09-16 13:13] mfuchs commented on #45392
Could you please elaborate your exact use case?
So that I can understand your reasoning of why you'd want a warning instead of an error.

The reason I decided to explicitly fail was to ensure that this issue cannot be ignored.
Ignoring the issue could lead to an account being not protected by a password.
This could lead to security issues or in general issues users/admins face later on.

If this i

[2018-09-16 13:31] mfuchs commented on #45392
Just in case: Adding support for both msdcc and msdcc2 is trivial, albeit a little hacky.

[2018-09-16 16:27] ldejager commented on #45435
For the sake of anyone else landing here that uses zsh; zsh uses [square brackets for globbing / pattern matching](http://zsh.sourceforge.net/Guide/zshguide05.html#l137) so you need to wrap the package name in quotes.

[code]

Credit to [Lukas Graf's answer on stackoverflow](https://stackoverflow.com/questions/30539798/zsh-no-matches-found-requestssecurity)

[2018-09-16 19:18] felixfontein commented on #45486
resolved_by_pr #45700

[2018-09-16 19:46] smnmtzgr commented on #43106
@dagwieers why do you think it is not fixed? Yesterday I tried running my ansible-playbook with ansible 2.6 where I notice the bug/wrong result output. And I also tried running it with ansible devel branch. There everything is working fine. Result is always "ok" for all ports of a port-block, if it already exists. (not only the first one is "ok" -> thats what the bug is all about)

[2018-09-16 20:46] dagwieers commented on #43106
I used the original example, and saw the original issue again. A subsequent run shows the second task as changed, always.

[2018-09-16 21:06] cwilby commented on #29183
For those coming from Google, the [Ansible docs](https://docs.ansible.com/ansible/2.4/github_deploy_key_module.html) cover creating an SSH key on the client and copying to the target.  However in my case I wanted to generate a deploy key on the target and add it to a GitHub repo via OAuth2.

Here's how I got around the issue:

Before - Not working due to local scope in `lookup` function.
[code]

A

[2018-09-16 21:12] pulpbill commented on #38123
Same here, all modules works just fine with aws  (like ec2.py) but when using ec2_instance_facts I got:
`File \"/usr/lib/python2.7/site-packages/botocore/auth.py\", line 356, in add_auth\r\n    raise NoCredentialsError\r\nbotocore.exceptions.NoCredentialsError: Unable to locate credentials\r\n",
    "msg": "MODULE FAILURE",
    "rc": 0
}`

[code]

[code]

I only have an IAM user with full admin ac

[2018-09-16 22:16] lingxiankong commented on #41829
Hi, @Shrews, could you please review another PR https://github.com/ansible/ansible/pull/44619 for this issue?

[2018-09-17 00:56] chenhb-zte commented on #45672
Thanks

[2018-09-17 01:30] Saloshp commented on #45417
Well, just tested #43620 again and it wasn't fixed,
why didn't you guys copy the fix I posted? it works..

[code]
[code]

[code]

[2018-09-17 01:38] rdkls opened #45707 "SSH Host Key Pinning and Validation"
##### SUMMARY
Currently we have two options when validating SSH host keys:

1. Auto-add to ~/.ssh/known_hosts (on the machine executing playbook) when first connect
    - Vulnerable to MITM on first run
    - Ansible hosts/workers are static and stateful (local filesystem), an antipattern as we move to stateless/containerized/distributed/immutable environments

2. Disable host key checking
    - D

[2018-09-17 02:11] thiagogomesverissimo commented on #19874
Same here for debian buster:
[code]

[2018-09-17 03:36] gainskills opened #45709 "prompts of telnet module"
##### SUMMARY
As the [sample](https://docs.ansible.com/ansible/latest/modules/telnet_module.html#examples) show here:
[code]
For Cisco command: `show version | uptime`
The `|` in prompts will cut the output.

Read the code:
[code]
prompts of playbook actually work as the regular expression match, this is why `|` in ansible official sample because `|` in Python re works for either `>` or `#`.

Expe

[2018-09-17 06:07] felixfontein commented on #44693
Closing since no feedback after two weeks (and since this was implemented via #44903).

[2018-09-17 06:07] #44693 closed, assigned to nobody

[2018-09-17 06:10] felixfontein commented on #44679
I've began with a simple test suite which can be run locally: https://github.com/felixfontein/ansible-docker_container-test
For now, it only contains some start-stop tests (including check mode tests). I'm currently not sure how to integrate it with the usual Ansible integration tests, since these are run in docker containers (most of the time), and docker-in-docker is not a good solution for this

[2018-09-17 06:56] notonlyvandalzzz commented on #35493
i have 2.6.3 and it still shows whole item instead of only one specified variable. maybe i need to specify any additional parameter?

[code]

[2018-09-17 07:09] stefan-wegener commented on #45205
I tested the hostnamectl command on both jessie and stretch and got a really interesting result: The command does not work on both machines:

`pi@pi-dev26:~ $ hostnamectl
   Static hostname: pi-dev26
         Icon name: computer
           Chassis: n/a
        Machine ID: <...>
           Boot ID: <...>
  Operating System: Raspbian GNU/Linux 8 (jessie)
            Kernel: Linux 4.9.35-v7+
      Ar

[2018-09-17 08:05] duijf opened #45717 "Ansible tries to parse contents of diffs"
I've tried to search for this problem in the issue tracker with the keywords `--diff`, `crash`, and `parse`, but haven't found anything.

##### SUMMARY

Diff printing seems to attempt to resolve variables in diffed files/parse them.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Diff mode and `copy` module.

##### ANSIBLE VERSION

[code]

and

[code]

##### CONFIGURATION

No output. Running

[2018-09-17 08:13] duijf commented on #45717
For anyone reading this from Google searches. You can work around this problem on a per-task basis by setting:

[code]

[2018-09-17 09:16] robsonpeixoto commented on #18079
My bad. I wrote `[default]` instead of `[defaults]`.

[2018-09-17 09:37] nkakouros opened #45720 "gcp_compute_instances documentation issues"
##### SUMMARY

Documentation for the [gcp_compute_engine](https://docs.ansible.com/ansible/devel/modules/gcp_compute_instance_module.html#gcp-compute-instance-module) module is different to [GCE's api](https://cloud.google.com/compute/docs/reference/rest/v1/instances/insert) docs. Also, there are some vague points.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

gcp_compute_instanc

[2018-09-17 10:17] Dave3o3 commented on #42260
Shouldn't this be checked before the playbook runs?

[2018-09-17 10:53] privateip commented on #45627
You need to set `ansible_network_os` to `eos` in addition to using `network_cli`

[2018-09-17 11:00] tomek-cz commented on #43918
Hey b00tsy, I've submitted PR for that, https://github.com/ansible/ansible/pull/45722. Now, let the maintainers review that and hopefully the fix will make it into a future version of Ansible.
In a meantime, you can use a workaround I use, which is sending raw requests straight into DD's API, but use 'monitor downtime' API, where you can interact with multiple scopes and a single end time.
This AP

[2018-09-17 11:10] michal-clapinski commented on #44973
Don't you think that's an issue that there's hardcoded amount of seconds on Linux that's not documented anywhere? Also I'd like to run this task without a timeout (like every other task). I guess it's not possible?

[2018-09-17 12:19] jsteel44 opened #45723 "iam_role managed_policy does not allow an empty list"
##### SUMMARY

iam_role managed_policy does not allow an empty list as documented. It says I should be able to provide an empty list to remove all policies, but when I do it throws an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

Create the task below a

[2018-09-17 12:29] ViachaslauKabak opened #45724 "Molecule idempotence test failed for openssl_privatekey"
##### SUMMARY
Molecule idempotence test failed for openssl_privatekey module even with force: True parameter
ansible 2.5.8
  config file = None
  configured module search path = [u'/home/gitlab-runner/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version

[2018-09-17 12:33] ViachaslauKabak opened #45725 "Molecule idempotence test failed for openssl_certificate"
SUMMARY

Molecule idempotence test failed for openssl_certificate module even with force: True parameter
ansible 2.5.8
config file = None
configured module search path = [u'/home/gitlab-runner/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /usr/bin/ansible
python version = 2.7.5 (defa

[2018-09-17 12:33] ViachaslauKabak opened #45726 "Molecule idempotence test failed for openssl_csr"
SUMMARY

Molecule idempotence test failed for openssl_csr module even with force: True parameter
ansible 2.5.8
config file = None
configured module search path = [u'/home/gitlab-runner/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/site-packages/ansible
executable location = /usr/bin/ansible
python version = 2.7.5 (default, Jul

[2018-09-17 13:09] s-hertel commented on #45723
@jsteel44 It looks like
[code]
becomes [None] rather than []. Try `managed_policies: []`, does that work as expected?

needs_info

[2018-09-17 13:20] dpassante opened #45729 "Cloudstack: Missing support for VPC service_capabilities"
##### SUMMARY

The ```service_capabilities``` parameter is not used by the cs_vpc_offering module when creating a new VPC offer.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cs_vpc_offering

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Service capabilities are enabled in the service offering.

##### ACTUAL RESULTS

Service capabilities are ignor

[2018-09-17 13:25] gfdsa opened #45730 "service_facts only checks the state of enabled services on RH sysvinit"
##### SUMMARY
When run on 6.4 RHEL the system_facts finds `chkconfig` in path and first gathers the list of services via its output. For every line containing a service it then will run `chkconfig service-name status` but only if it has found it to be "on" for the runlevel 3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[cod

[2018-09-17 13:28] lwm commented on #39879
@ansibot looks like it is broken over here?!

[2018-09-17 13:29] resmo commented on #45729
resolved_by_pr #45727

[2018-09-17 13:36] b00tsy commented on #43918
Hi Tomek, cool thanks a lot! Fingers crossed that they accept the PR. Also thanks for your workaround. I've currently another workaround, which has much less style than yours: I let my ansible playbook sleep for a while and then manually unmute...

[2018-09-17 13:42] snevs commented on #36304
I have the same issue with 2.6.3 and 2.4.4.

[2018-09-17 14:08] #45729 closed, assigned to nobody

[2018-09-17 14:49] yuwzho commented on #38198
@nicolaibaralmueller @guenoledc This bugfix is not to support the comma but for support mutil ips.
You can configure as the following format. The reason why not support comma is that we think the yaml list is a more standard way to identify a list and user can use playbook's syntax to construct it.

https://github.com/ansible/ansible/issues/38198#issuecomment-378232640

[2018-09-17 15:12] gustavomcarmo commented on #45417
This is the test made for #43620 https://gist.github.com/gustavomcarmo/e91128e36d5d5726ba611bcf814a189b

I'll check it soon.

[2018-09-17 15:18] zwindler opened #45734 "Wrong parameter in scaleway sshkey module example"
##### SUMMARY
Documentation states that you have to add a SSH key with "Present", but the module is case sensitive

[code]

[code]

Documentation should have the correct case

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
scaleway_sshkey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux mint

##### ADDITIONAL INFORMATION

[2018-09-17 15:28] zwindler commented on #45734
See PR #45737

[2018-09-17 15:34] sivel commented on #45685
Is there a problem with the `--one-line`/`-o` argument for `ansible` that doesn't meet your needs?

needs_info

[2018-09-17 15:38] zwindler opened #45740 "Removing Vms in scaleway_compute with "absent" flag crashes the first time (during poweroff)"
##### SUMMARY
When trying to remove a VM using "absent" flag in scaleway_compute on a running VM, module crashes with error

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
scaleway_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux Mint

##### STEPS TO REPRODUCE
create a VM

[code]
Check that VMs are up and running, then remove the VM

[c

[2018-09-17 15:51] bcoca commented on #33581
none for execution, it was intended as a 'documentation' for those reading the playbook

[2018-09-17 15:59] profhase commented on #45650
@samdoran Thanks, the status is indeed `enabled`. Apparently my fault, so the warning seems appropriate and I will close the issue

[2018-09-17 15:59] #45650 closed, assigned to nobody

[2018-09-17 16:45] s-hertel commented on #45723
@jsteel44 Thanks for double checking me! It isn't a new way of doing things, it's to do with how YAML is parsed. I've opened #45742 to correct the example.

[2018-09-17 16:46] Saloshp commented on #45417
@gustavomcarmo Your test doesn't create any `attributes` to the ldap entries, and so it probably skipped this bug, maybe add some?

[2018-09-17 16:47] pastephens commented on #12841
It's not "printing a message" - it's throwing an exception and stopping ansible.

[2018-09-17 17:13] sivel commented on #45717
We've tracked this down to a python3 compatibility issue, and are discussing the correct fix.

[2018-09-17 17:38] Routhinator opened #45745 "Ansible 2.6.4: proxmox_kvm clone results in source vm starting and not being cloned"
##### SUMMARY

When attempting to clone VMs with the proxmox_kvm module and Proxmox 5.2-8, the source VM is started instead of cloned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Proxmox: 5.2-8
Ansible running in Ubuntu 16.04 docker container.

##### STEPS TO REPRODUCE

Try to clone a proxmox

[2018-09-17 17:45] tterranigma commented on #39556
Would you find this worthy as a feature request?

[2018-09-17 17:50] Routhinator commented on #45745
Going to add that I initially tried this with Ansible 2.5.1 and then 2.6. So this affects those versions as well.

[2018-09-17 18:31] #45580 closed, assigned to nobody

[2018-09-17 18:32] #45723 closed, assigned to nobody

[2018-09-17 18:32] #45542 closed, assigned to nobody

[2018-09-17 18:40] aaron-sua commented on #8965
docker_container supports working_dir
this allows you to add -w to the docker run command

However it would still be good to have this available for the ansible_connection type for docker which uses docker exec.  at present you have to use docker run to set a directory that all users will have access to.  Granted I only have root and a service user, but still there are use cases

[2018-09-17 18:43] felixfontein commented on #36725
I can (sometimes) reproduce this by simply running
[code]
To me, this looks like a bug in `docker` (either CLI or daemon) itself, and nothing Ansible can really influcence.

[2018-09-17 18:56] felixfontein commented on #36725
I filed a bug with docker (moby/moby#37870).

[2018-09-17 19:27] felixfontein commented on #44679
@pilou- Indeed, that worked perfectly! I used the `docker_swarm` and `docker_secret` integration tests as an example, and the resulting PR (#45747) passes all tests (and the tests are executed for some of the contains/VMs, even though `osx/10.11` wasn't on the list...)!

[2018-09-17 19:40] jborean93 commented on #44973
@michal-clapinski you are more than welcome to update the documentation with some more info if you think it is warranted. The only reason why those timeouts are there is because it isn't guaranteed that the async process would have started running immediately so the code is being overly cautious. I personally don't think it's too much of an issue as sub 10 seconds, in saying that it would still be

[2018-09-17 19:45] sivel commented on #36725
We actually just fixed this same bug in the ssh connection plugin with `transfer_method = piped`.

https://github.com/ansible/ansible/pull/45618

The problem is the remote `dd` is waiting for some amount of data to be transferred, but with an empty file nothing happens, so `dd` just hangs, waiting for data.

I'll submit the same fix for the `docker` connection plugin too.

[2018-09-17 19:50] felixfontein commented on #36725
@sivel Yes, that should work! It's still a bug in docker though (as I understand it), otherwise it wouldn't/shouldn't work in some of the cases...

[2018-09-17 20:02] Mehonoshin commented on #17346
This feature looks very valuable. It is sad, that it's not implemented yet.

[2018-09-17 20:17] sivel commented on #36725
Fix for all connection plugins that utilize dd: https://github.com/ansible/ansible/pull/45751

[2018-09-17 20:54] sc68cal commented on #45627
I believe it was correctly setting that, since it's pulling from the `eos.py` file in that stacktrace?

[2018-09-17 20:56] sc68cal commented on #45627
Opening my `Vagrantfile` I do have that setting set, and I don't believe it made a difference. I'll re-run

[2018-09-17 21:46] acozine commented on #45734
Closed by #45737

[2018-09-17 21:46] #45734 closed, assigned to nobody

[2018-09-17 22:29] bcoca commented on #18287
https://github.com/ansible/ansible/pull/43857

[2018-09-17 22:36] bcoca commented on #45707
or you can just sign the keys with a CA and ssh will verify them via the public cert

[2018-09-17 22:54] bcoca commented on #45431
@mitchellmaler @jakegatsby can you confirm my PR above fixes the issue for you?

[2018-09-17 23:01] #45220 closed, assigned to nobody

[2018-09-17 23:03] mitchellmaler commented on #45431
@bcoca that is the exact fix that I added and it foes fix it!

[2018-09-17 23:35] mishas opened #45761 "interfaces_file with `option: method` always makes a change"
##### SUMMARY
With a task that sets the `option: method` value of some interface, a "change" is happening to the value even if the value already set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: `interfaces_file`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tried on Debian 9.5 with python3.5 as well as python2.7

##### STEPS TO REPRODUCE
Simple

[2018-09-17 23:53] #45593 closed, assigned to nobody

[2018-09-18 00:08] rdkls commented on #45707
@bcoca yes good related suggestion - but slightly different

[2018-09-18 01:03] jonbrenner commented on #31869
This bug is also present in the Homebrew distributed Python 3.7.0 package:

[code]

Python 3.7.0 from Python.org works properly.

[2018-09-18 01:27] igoratencompass opened #45762 "The import_tasks does not work for handlers in 2.4.4"
##### SUMMARY

As per documentation at https://docs.ansible.com/ansible/2.4/playbooks_reuse_includes.html we can use:

[code]

However include_tasks does not work even when using a full path to the hadlers task file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
handlers

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expect the hadlers from the task

[2018-09-18 02:07] #45486 closed, assigned to nobody

[2018-09-18 02:10] aaron-sua opened #45766 "ansible_connection docker to support setting workdir"
##### SUMMARY
on
connection: docker
or
delegate_to: docker_container

include an option to pass the flag to set the workdir.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker connection

##### ADDITIONAL INFORMATION
this would simulate `docker exec -w /new/path`

[2018-09-18 02:11] roostercactus commented on #44787
Hi, yes it's working fine.  Thanks so much!

[2018-09-18 02:11] #44787 closed, assigned to Akasurde

[2018-09-18 02:12] programingnotes opened #45767 "Error reading config file: File contains no section headers."
##### SUMMARY

**As per documentation for [Ansible Configuration Settings](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings), we can place `ansible.cfg` in current directory of the project we are working on and Ansible will search for a config file in the order specified in link above.**

However, it appears that ansible is unable to read `ans

[2018-09-18 02:15] gmandrade commented on #45685
My idea is in `ansible-playbook`.
I'can't express this in a certain way, sorry.

`$ ansible -m ping localhost --one-line`
[code]
Like this but in `ansible-playbook` execution

[2018-09-18 03:36] Fred-sun commented on #39006
@kargakis Are you still here? Could you help confirm that do you still have this question? if not, I will add close label for this issue? Thanks!

[2018-09-18 05:38] Akasurde commented on #40394
@natarajan-suresh The issue you reported is totally different from the one reported here. Please open a new issue with required details. Thanks.

[2018-09-18 05:41] Akasurde opened #45771 "VMware: Allow parameter to specify DNS name"
##### SUMMARY
As per discussion in https://github.com/ansible/ansible/pull/38005#issuecomment-420568723 vmware_guest should provide a parameter to specify DNS name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-09-18 06:13] webknjaz commented on #39556
@tterranigma I feel like this would have to go through the proposal process first

[2018-09-18 06:36] privateip commented on #45627
/cc @Qalthos

[2018-09-18 07:29] tterranigma commented on #39556
Should I create an issue there?

[2018-09-18 07:47] Fred-sun commented on #40596
@yuwzho Could you help check and give the fix? Thanks!

[2018-09-18 07:54] m4dm4rtig4n opened #45774 "Default return with lookup plugin hashi_vault.py"
##### SUMMARY
My features add default value on hashi_vault lookup plugins.
Actually, if value doesn't in HashiCorp vault, playbook return an error.
With my features, you can set a default value who return when value isn't in Vault.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/lookup/hashi_vault.py

##### ADDITIONAL INFORMATION
[code]

[2018-09-18 08:07] yokee99 commented on #19584
I have found the solution.
My operating system was Mac OS , and I change the 'ansible.cfg'  in the line 'remote_user = root ' ,  the problem is solved.

[2018-09-18 08:11] enablex3 commented on #19584
Yup! I've had to do the same thing! Glad you solved it!

On Tue, Sep 18, 2018 at 4:09 AM ZhangZhongyuan <notifications@github.com>
wrote:

[2018-09-18 08:27] yungezz commented on #45335
Zim is working on it

[2018-09-18 08:33] gundalow commented on #39879
bot_status

[2018-09-18 08:51] ssbarnea opened #45776 "Assure latest documentation is indexed by google (promote permalinks)"
##### SUMMARY
At this moment when a user is searching for ansible documentation using a search engine like google, there is a 9/10 chance that he will endup with a page that documents a specific *older* version on ansible.

We need to promote the use of latest release links everywhere:
* prevent search engines from indexing older versions of the documentation via robots.txt https://support.google.

[2018-09-18 09:02] #42233 closed, assigned to nobody

[2018-09-18 09:03] Fred-sun commented on #30392
@nitzmahone Thanks for the contribution, Could you help recheck this issue( has open one year)? close or not?. Thanks!
--

[2018-09-18 09:03] gundalow commented on #42233
https://github.com/ansible/ansible/pull/44716 has been merged into `devel`, so this issue is now resolved.

If you install Ansible from source, and use the `devel` branch you will be able to make use of this new module

[2018-09-18 09:11] gustavomcarmo commented on #45417
@Saloshp You are right! Actually, my first solution was:

[code]

I'll make another PR.

BTW, I've just changed the test, in https://gist.github.com/gustavomcarmo/e91128e36d5d5726ba611bcf814a189b

[2018-09-18 09:35] gustavomcarmo commented on #45417
@jtyr, @Akasurde and @Saloshp I've just made the PR #45778

[2018-09-18 09:40] Kiarashz commented on #26137
No worries!
Thanks for the update.

[2018-09-18 09:46] hryamzik commented on #45761
Looks like lack of test coverage for `method`, @obourdon.

[2018-09-18 11:09] aaron-sua commented on #45766
I do use the module to start the container.  However when changing users
for specific steps that user doesn't always have access to the default
directory.

As a work around I'm setting the workdir via the module but it's really not
ideal.

On Tue, Sep 18, 2018, 5:20 AM Thierry Bouvet <notifications@github.com>
wrote:

[2018-09-18 11:16] MartinVUALTO commented on #30864
I am looking forward to this feature, right now debugging cases where tasks are unexpectedly skipped is a pain! However I find the process here very confusing. #24254 seems to be closed but the last comment was it failed CI and a discussion label was added (is this the discussion?). This report remains open with the test label applied. So, nearly ready?

**One thing not covered here is the use of

[2018-09-18 11:27] bitsmaestro commented on #38221
interestingly in same scenario ansible doesnet gives any error

ping command **without** any host match
[code]

ping command **with** host match
[code]

[2018-09-18 11:59] ssbarnea commented on #45776
!component

[2018-09-18 12:07] slayer01 commented on #44564
since the pyapi-gitlab page says git version 9.1.X is still under development: https://github.com/pyapi-gitlab/pyapi-gitlab
I see no chance to get this ansible module running again with pyapi-gitlab.

Any ideas on how to create, edit, etc git projects with ansible and an up-to-date version of gitlab?

Btw: python-gitlab doesn´t work neither, see my issue here (solution was using pyapi-gitlab :():

[2018-09-18 12:17] bloob00k opened #45782 "ec2_group no longer "prefers" names in the same VPC"
##### SUMMARY

If a rule definition specifies a group_name as the source, and groups with that name exist in multiple VPCs, the chosen group appears to be "random"; previously the group with that name in the VPC where the new group is being created was used.  Now it is picking up a group in a different VPC, causing the group creation to fail with "The error was: ClientError: An error occurred (Inv

[2018-09-18 12:19] zikalino commented on #45335
I actually work on loadbalancer right now, but this one should be easy to fix as idempotency is already here...

[2018-09-18 12:28] #44992 closed, assigned to nobody

[2018-09-18 12:28] #44993 closed, assigned to nobody

[2018-09-18 12:28] #44994 closed, assigned to nobody

[2018-09-18 12:28] #44995 closed, assigned to nobody

[2018-09-18 12:28] #44996 closed, assigned to nobody

[2018-09-18 12:28] #44997 closed, assigned to nobody

[2018-09-18 12:28] #44998 closed, assigned to nobody

[2018-09-18 12:28] #44999 closed, assigned to nobody

[2018-09-18 12:28] #45000 closed, assigned to nobody

[2018-09-18 12:28] #45001 closed, assigned to nobody

[2018-09-18 12:28] #45002 closed, assigned to nobody

[2018-09-18 12:28] #45003 closed, assigned to nobody

[2018-09-18 12:28] #45004 closed, assigned to nobody

[2018-09-18 12:28] #45005 closed, assigned to nobody

[2018-09-18 12:28] #45006 closed, assigned to nobody

[2018-09-18 12:28] #45007 closed, assigned to nobody

[2018-09-18 12:28] #45008 closed, assigned to nobody

[2018-09-18 12:28] #45009 closed, assigned to nobody

[2018-09-18 12:28] #45010 closed, assigned to nobody

[2018-09-18 12:28] #45011 closed, assigned to nobody

[2018-09-18 12:28] #45012 closed, assigned to nobody

[2018-09-18 12:28] #45013 closed, assigned to nobody

[2018-09-18 12:28] #45014 closed, assigned to nobody

[2018-09-18 12:28] #45015 closed, assigned to nobody

[2018-09-18 12:28] #45016 closed, assigned to nobody

[2018-09-18 12:28] #45017 closed, assigned to nobody

[2018-09-18 12:28] #45018 closed, assigned to nobody

[2018-09-18 12:28] #45019 closed, assigned to nobody

[2018-09-18 12:28] #45020 closed, assigned to nobody

[2018-09-18 12:28] #45021 closed, assigned to nobody

[2018-09-18 12:28] #45022 closed, assigned to nobody

[2018-09-18 12:28] #45023 closed, assigned to nobody

[2018-09-18 12:28] #45024 closed, assigned to nobody

[2018-09-18 12:28] #45025 closed, assigned to nobody

[2018-09-18 12:28] #45026 closed, assigned to nobody

[2018-09-18 12:28] #45027 closed, assigned to nobody

[2018-09-18 12:28] #45028 closed, assigned to nobody

[2018-09-18 12:28] #45029 closed, assigned to nobody

[2018-09-18 12:28] #45030 closed, assigned to nobody

[2018-09-18 12:28] #45031 closed, assigned to nobody

[2018-09-18 12:28] #45032 closed, assigned to nobody

[2018-09-18 12:28] #45033 closed, assigned to nobody

[2018-09-18 13:45] Sispheor opened #45785 "oc module cannot connect: "TypeError: not all arguments converted during string formatting""
##### SUMMARY
oc module cannot connect: "TypeError: not all arguments converted during string formatting"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
oc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

Playbook example (I tried with or without quotes arround host, token and port)
[code]

##### EXPECTED RESULTS
oc mo

[2018-09-18 13:49] candlerb commented on #25489
Perhaps more by luck than design, lxd_connection plugin works with hostnames of the form

    <remote>:<container>

to talk to a remote lxd server over the network.

This means you can configure your containers in the inventory like this:

[code]

You must have pre-configured the named remote (in the example it's `otherhost`) in lxc's local configuration - that is, as shown by `lxc remote list`.

[2018-09-18 13:52] Sispheor commented on #45785
openshift_raw doesn't appear in the doc after ansible version 2.5.

[2018-09-18 13:58] sivel commented on #45685
You can achieve this by setting `ANSIBLE_STDOUT_CALLBACK` as an env var or `stdout_callback` in `ansible.cfg` to a value of `oneline`:

[code]

Does this meet your needs?

There are many other callbacks that influence the display to stdout:

https://docs.ansible.com/ansible/latest/plugins/callback.html#managing-stdout
https://docs.ansible.com/ansible/latest/plugins/callback.html#plugin-list

[2018-09-18 14:02] s-hertel commented on #45782
Thanks for opening the issue @bloob00k. I was able to reproduce this behavior and submitted #45787 to fix it. If you can test double-check that it fixes the issue for you I would appreciate it a lot. :-)

[2018-09-18 14:04] #45661 closed, assigned to nobody

[2018-09-18 14:06] candlerb commented on #25489
Option 1: if you have ssh access to the remote host, delegate actions to it

[code]

This gets painful because *all* these tasks which work on remote lxd containers will need the delegate line.  But if all you're doing is bootstrapping to the point where ssh is working, you should be OK.

Option 2: use the `<remote>:<container>` form of hostname, where `<remote>` is one of the entries shown by `lx

[2018-09-18 14:08] fabianvf commented on #45785
`openshift_raw` and `k8s_raw` were merged into a single `k8s` module in Ansible 2.6. The interface remains largely the same, and any existing tasks that use the old names will use `k8s` instead (they are aliased). The `k8s` module should support any resources that your server does. This is the module that will be supported moving forward.

It also looks like there's an indentation error in your ex

[2018-09-18 14:16] #36725 closed, assigned to nobody

[2018-09-18 14:18] sivel commented on #45762
I cannot reproduce this.

My reproducer:

playbook.yml
[code]

handlers.yml
[code]

Produces the following:

[code]

Please provide a full reproducer that we can run that shows this issue.

needs_info

[2018-09-18 14:20] acozine commented on #45776
@ssbarnea thanks for your interest in the Ansible documentation! You have some interesting ideas about managing various versions of the documentation moving forward. We'll be discussing all these issues at Ansible Fest and coming up with a strategy over the next couple of months. Thanks for your patience.

[2018-09-18 14:24] adragoset opened #45792 "Running setup.py as root from command line crashes client host."
##### SUMMARY
When running setup.py as an elevated through sudo or root user it crashes the machine its executing on. If running as become:no gather facts will complete successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Setup module for gathering facts.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
"Ubuntu 18.04 LTS"
Arm64v8
##### STEPS TO REPRO

[2018-09-18 14:27] bcoca commented on #34835
I see few possible solutions for this:
- role module that handles roles specifically
- Solaris only option 'is_role?' to indicate this is not a normal user so the 'role' binaries need to be used
- on Solaris, try to detect the type of user. I'm not sure how this would work nor any caveats

[2018-09-18 14:39] tterranigma commented on #44987
I tried this on different machines and it sometimes works. It is not only the adhoc command that fails. I think it might be sth related to #23320. If I reboot the instance, it works afterwards. If I let the instance run for a few hours and try then it doesn't, perhaps due to load on the server.

[2018-09-18 14:41] Sispheor commented on #45785
Thanks for your answer.
k8s module is working.

[2018-09-18 14:41] #45785 closed, assigned to nobody

[2018-09-18 14:58] zwindler opened #45794 "scaleway_compute : commercial_type and image shouldn't be required for absent state"
##### SUMMARY
When trying to remove virtual machines, with "absent" flag, *commercial_type* and *image* shouldn't be required arguments (only needed when creating VMs)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
scaleway_compute

##### ADDITIONAL INFORMATION
This playbook will fail

[code]
with error

[code]

IMO, *name*, *region*, and perhaps *organization* should be more than enough t

[2018-09-18 15:08] sivel commented on #45767
The error is telling you what the problem is.  Your ansible.cfg file has no section headers defined.

Instead of just:

[code]

You need to use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-18 15:08] #45767 closed, assigned to nobody

[2018-09-18 15:20] joaodlf commented on #16804
Any news regarding this "feature"? Is it "official"?

It's very useful, but I don't look forward to see it breaking in the future.

[2018-09-18 15:33] nkakouros opened #45799 "gcp_compute_instance is not idempotent"
##### SUMMARY

Running `gcp_compute_instance` shows as changed always.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

A typical task perhaps like the examples.

The variables used below are static

[code]

##### EXPECTED RESULTS

I would expect the

[2018-09-18 15:37] nkakouros opened #45800 "gcp_compute_firewall is not idempotent"
##### SUMMARY

`gcp_compute_firewall` shows as changed every time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_firewall

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

A typical task.

[code]

##### EXPECTED RESULTS

The task should not return as changed as nothing changed online.

##### ACTUAL RESULTS

[2018-09-18 15:39] OlivierCuyp commented on #44420
@webknjaz Thanks, I had the same issue with version `2.6.4`. Using `jump` instead of `policy` worked for me.
I still think this is a bug though... it shouldn't use `-L` but `-I`.

[2018-09-18 15:43] nkakouros opened #45802 "Read GCP project from an environment variable"
##### SUMMARY

It is now possible to read the service account from an environment variable. It should be possible to do that also for the project. Requiring the project to be specified on each task that includes gcp_* modules is not really necessary. It could even be parsed from the service account.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_compute_instance

##### ADDITIONAL INFO

[2018-09-18 15:48] programingnotes commented on #45767
@sivel ugh! I would have sworn (and lost) that I had that in there. I clearly needed sleep.

[2018-09-18 15:56] Solodkiy commented on #44420
The real problem is quite confusing api. You just can't use policy and thinks like destination_port in the same rule. Because it applies to different objects.
Looks like it must be validated and show human error.
More invasive solution: split this commands to different modules, for example iptables, and iptables_chain

[2018-09-18 15:59] Solodkiy commented on #44420
@egkelly just try to split rules
`- name: open ports
  iptables:
     chain: INPUT
     protocol: tcp
     destination_port: 22
  when: ansible_distribution_major_version == '6'

- name: open policy
  iptables:
     chain: INPUT
     policy: ACCEPT
  when: ansible_distribution_major_version == '6'
`

[2018-09-18 16:12] nkakouros opened #45803 "gcp_compute_network creates legacy network instead of custom-mode"
##### SUMMARY

When setting `auto_create_subnetworks: no`, the module creates a legacy network, instead of a custom-mode one

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the network to be custom-mode.

[2018-09-18 16:30] cognifloyd commented on #36519
These are some handlers in a role that validates that a host is identified and connected correctly.
[code]
Adding a second play to deal with what cleanly fits within the role's handler seems awkward. It could be done (say when inventory_host != correct_inventory_host) but then the network-related logic gets separated from the role and it becomes harder to follow and debug.

Side note: @dagwieers T

[2018-09-18 16:52] s-hertel commented on #44330
Hi, @SimplySeth. This should apply across the board for boto3 modules since they all create the client in the same way. It looks like you're using a pre-boto3 style credentials file. Do you have a ~/.boto file? If so, it's finding your [Credentials] section. If you remove the ~/.boto file and keep your credentials in ~/.aws/credentials instead, that should be compatible with both boto and boto3 mo

[2018-09-18 17:26] allanwind commented on #29861
get_url does a conditional get if dest is a file and url set (and nothing else) in 2.6.4.  it does not work in 2.2 (which is the version in Debian stretch aka stable).

[2018-09-18 18:16] diegobill commented on #30754
I just defined the proxy of my network and the bug was fixed:

[code]

all.yml:

[code]

[2018-09-18 18:52] ahuffman commented on #26095
@Akasurde it looks like this is the problem, and still a present issue.   Basically the support for multiple datastores never got added to the module and is marked as a TODO. https://github.com/ansible/ansible/blob/049a4620581672a7b6adc0b9d2faf5f7c369357c/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1679-L1684

[2018-09-18 19:33] #45782 closed, assigned to s-hertel

[2018-09-18 19:42] emdepl commented on #32268
It works with 2.7.0rc2.post0

`2018-09-18 21:37:20 user@host ¯\(°_o)/¯   pty2  ~
$ ansible --version
ansible 2.7.0rc2.post0 (stable-2.7 23f70d9745) last updated 2018/09/18 21:30:54 (GMT +200)
  config file = /home/user/projects/ansible/ansible-cygwin.cfg
  configured module search path = [u'/home/user/projects/ansible/$ANSIBLE_HOME/library']
  ansible python module location = /home/user/opt/ansibl

[2018-09-18 20:01] rwky opened #45811 "Support AWS RDS serverless"
##### SUMMARY

Support AWS RDS serverless

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

rds
##### ADDITIONAL INFORMATION

This would allow the management of Aurora serverless instances https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/aurora-serverless.html

[2018-09-18 20:07] abadger commented on #43667
I'm going to close this.  The template needs to be encoded in valid utf-8.

However, if you need to output something other than utf-8, you can do that in ansible-2.7 or later using the output_encoding parameter: https://docs.ansible.com/ansible/devel/modules/template_module.html#parameters

here's an example of modifying your playbook to use output_encoding.  Remember that you also have to re-enco

[2018-09-18 20:07] #43667 closed, assigned to nobody

[2018-09-18 20:28] ajolicoe opened #45813 "rds module: command=facts "secondary_avaialbility_zone" spelling"
##### SUMMARY
The response object for `rds` has a misspelled key: `secondary_avaialbility_zone`. It is also misspelled in the documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rds

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Make a rds request with command: facts.

[code]

##### EXPECTED RESULTS

I ex

[2018-09-18 20:45] ChrysRowe opened #45814 "nxos_facts populate_neighbors_cdp has typo"
##### SUMMARY
When collecting data from a Nexus switch running an OS that doesn't support JSON, the command show cdp neighbors detail is run.  The method to parse this output is populate_neighbors_cdp.
In this method there are two dicts **facts** and **fact**.  Data is parsed in a loop and populated into fact and then for each loop fact is added to facts.   However the code adds facts to facts ins

[2018-09-18 20:59] rambleraptor commented on #45802
Hi! Thanks a lot for this feedback. I completely agree that this should be fixed. I'll have a PR sent out in the next day or so.

[2018-09-18 21:07] s-hertel commented on #45813
Hi @ajolicoe, thanks for opening the issue. The typos in rds were corrected in 0e536f746b70c4e8bc8889d5156a713d532014b2 for 2.7. Please reopen this if the typo exists elsewhere and I've missed it.

[2018-09-18 21:07] #45813 closed, assigned to nobody

[2018-09-18 21:10] Vaygh opened #45817 "vmware_guest module fails to customize vm built from template"
##### SUMMARY
vmware_guest module fails to customize vm built from template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest module

##### ANSIBLE VERSION
[code]
and
[code]

##### CONFIGURATION
[code]
and
[code]

##### OS / ENVIRONMENT
Ansible 2.6.4 running on Mac OS X High Sierra installed via pip
Ansible 2.5.4 running on Ubuntu 16.04 installed via pip
Target: vSphere 5.5 Standar

[2018-09-18 21:27] rambleraptor commented on #45720
This is some great feedback about our documentation. It's still a work-in-progress and there's quite a few doc changes we need to make across all of the modules. Thanks a lot for this great list!

As for the selfLinks, I'm starting to look into ways to make this process more intuitive. What would your ideal setup look like for referencing one resource from another resource?

[2018-09-18 22:05] jose-delarosa commented on #45513
@billdodd Noticed that the bot changed the label `support:community` and added `support:core` instead, not sure why but wondering if it's preventing https://github.com/ansible/ansible/pull/45704 from merging.

[2018-09-18 22:28] ptux commented on #29861
2.2 is unsupported.

[2018-09-18 22:50] billdodd commented on #45513
Hmm, interesting. Seems like that could be related. But I have no idea why the bot decided to do that.

[2018-09-19 00:52] pilou- commented on #45614
Using Ubuntu Xenial/16.04, I can not reproduce this error using Ansible devel, 2.5.8 or 2.5.9:
[code]

Using a Debian host, an error occurs (roughly the same error):
[code]

@pallix could you check the used distribution ?

[2018-09-19 01:13] gregsymons commented on #45762
This may be a different issue, but it sounds similar to what I'm seeing with a `listen` handler. My use case is slightly complicated by the fact that the `notify` for my handler is in a separate role, and rather than importing a list of tasks _as_ handlers, I'm importing a list of tasks _in_ a handler, but I don't think those facts are relevant here. Here's something that reproduces the issue:
`pl

[2018-09-19 01:14] gregsymons commented on #45762
The above is on 2.6 btw:
[code]

[2018-09-19 02:28] badgerspoke commented on #40586
Didn't fix it for me, but instead provided similar but different problem:
[code]

[2018-09-19 02:45] gmandrade commented on #45685
Sure, perfect.
Thanks for support

[2018-09-19 04:27] jkugler commented on #40586
My "solution" was to install Python3 via brew. Python 2 might have worked too, since it would have been linked to a new OpenSSL (or libressl?). But at any rate, that was my solution.

[2018-09-19 04:36] LukeRussell commented on #40884
I'm seeing exactly the same symptoms. I've gone through configs and the vast majority of devices work fine even with a `>` in the configs. A small single digit percentage of devices are experiencing the problem.

Same as  @pffs I can also work around it by passing in a `running_config` to `ios_config`, either via a `ios_facts` or `ios_command` and register.

[2018-09-19 05:00] jimr6007 opened #45828 "Caching for Foreman dynamic inventory plugin not working"
##### SUMMARY

Although fact caching works perfectly, using jsonfile or mongodb, inventory caching does not seem to work. After running a simple playbook with the correct settings in ansible.cfg under the [inventory] section, I would expect to see an inventory cache file in /tmp/ per my config or some inventory data in my mongodb instance but I get nothing.

I tried applying the correct setting vi

[2018-09-19 05:12] trollkarlen commented on #41543
As you can see from the code not the module is used in the code but the variable "shade" thats actually declared a couple of rows down and not the "module" variable.
Here!
[code]

[2018-09-19 05:29] badgerspoke commented on #40586
Ok right, more searching the interwebs shows that actually I needed to upgrade Python to more recent, in my case now to 2.7.15

[2018-09-19 05:32] Fred-sun commented on #37259
@zikalino Could you help take a look this issue? Thanks!

[2018-09-19 05:35] Fred-sun commented on #37934
@yuwzho Could you help take a look and give a easy fix for this issue? Thanks!

[2018-09-19 05:45] Fred-sun commented on #39977
@yungezz do you have handled this issue? could you help give a fix for this issue? Thanks!

[2018-09-19 05:53] felixfontein opened #45829 "docker_container: ipc_mode idempotency"
##### SUMMARY
`docker_container` is not always idempotent for `ipc_mode`. If another container is specified in the form `container:<other_container_name>`, the task will always be restarted. The problem is that `docker inspect` (resp. the docker Python API equivalent) returns `container:<other_container_ID>`, so the comparison fails.

(Idempotency works for other values which do not involve contai

[2018-09-19 06:18] felixfontein commented on #45829
The same is probably true for `pid_mode`.

[2018-09-19 07:01] ganeshrn commented on #41082
Implemented in 2.7 as part of new module [cli_comand](https://docs.ansible.com/ansible/devel/modules/cli_command_module.html) with PR https://github.com/ansible/ansible/pull/44922
and PR https://github.com/ansible/ansible/pull/45242

[2018-09-19 07:01] #41082 closed, assigned to ganeshrn

[2018-09-19 07:28] Fred-sun commented on #40857
@zikalino Could you help take a look this issue? Thanks!

[2018-09-19 07:47] pallix commented on #45614
We are using `image: ubuntu:xenial` from AWS.

@pilou- did you try to execute the code mentioned in https://github.com/excid3/python-apt/issues/8 ? What do you get?

Also there is no repo for Debian in the ppa if you look at http://ppa.launchpad.net/ubuntu-mozilla-security/rust-next/ubuntu/dists/ so it should not be a surprise that I does not work on any Debian hosts.

[2018-09-19 08:44] justjais commented on #45090
@depereo Thanks for raising the particular issue and yes your understanding is correct that the bug is raised due to some config absence/presence. Currently, I am unable to reproduce the issue in my device using `2.7rc1` with has the fix for the respective issue faced in bug #41165.

So, can you please run your play again in the affected models with `-vvvv` and paste the verbose output which will

[2018-09-19 09:02] PoseyZhong opened #45831 "ansible for Azure module: cloud_environment is not working properly"
Use azure ad user to authenticate with Azure. But the cloud_environment is not working properly.
If not set the cloud_environment for the command, the playbook is OK. After set the cloud_environment to the default value "AzureCloud", the playbook got the following error.
Please help, thanks!

Ansible Server: CentOS 7.5
Ansible Version: 2.6.4

failed: [localhost] (item=AnsibleDemo:Test002:Rule01:Tc

[2018-09-19 09:12] remyleone opened #45832 "Where should we document that you can regenerate only one page?"
##### SUMMARY

Ansible documentation takes a very long time to be generated.
There is a command that can regenerate only a subset of the pages.
I want to know where we should document that feature.
I think it could help many people that are documenting ansible.

[code]

##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME

All documentation

##### ANSIBLE VERSION

[code]

[2018-09-19 09:23] Technologov opened #45833 "Ansible cannot connect via SSH / broken pipe problem"
##### SUMMARY

I have 80 Linux servers under my control.
When running Ansible, a lot of them fail to respond to SSH commands, I'm getting a lot of errors and automation stops:

fatal: [finland-06]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: mux_client_hello_exchange: write packet: Broken pipe\r\n", "unreachable": true}
fatal: [finland-07]: UNREACHABLE! => {"c

[2018-09-19 09:33] pallix commented on #45614
Ok I also get `xenial` from your command.

Can it be that the problem is due to our usage of `ansible-container` ?

[2018-09-19 09:38] arno1704 opened #45834 "vmware_guest - after cloning nic is not connected to network"
##### SUMMARY
When cloning a Template in the created VM the checkbox for "Connect at power on" of the NIC is not set - so the VM boots without working network

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vCenter 6.7 - using distributed swtiches
ESXi 6.7 and 6.0U3
Template-OS: Windows Server 20

[2018-09-19 09:45] tterranigma commented on #45720
About `selfLink`, I think that the user should at least not have to specify the value as `key: index`, eg:

[code]

but directly as:

[code]

Then, the best solution would be to specify the name directly. As the module knows both the project and the resource type (for instance, network) it can build the self_link directly, eg:

[code]

The same for other resources.

This will break the nice chaini

[2018-09-19 09:57] devantoine commented on #36400
I'm having the same issue and it's driving me nuts!

I only have Python 2.7 on my machine.
If I run Python through my shell and type:

`from lxml import etree`

I've got no issue. But whenever I try to use the "maven_artifact" module with delegation to the host it fails:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named l

[2018-09-19 10:02] tterranigma commented on #35266
I can create snapshots with this module. I also have the `project_id` key defined. I also use the development version of libcloud, installed with `sudo pip3 install --upgrade git+https://github.com/apache/libcloud@trunk`.

[2018-09-19 10:18] nkakouros opened #45836 "Add special tags to target pre_tasks, tasks, post_tasks"
##### SUMMARY

It would be handy to have special tags (similar to `always`) that run only the tasks that are specified under `pre_tasks`, `tasks`, 'post_tasks`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
Right now, to achieve sth like that, one has to wrap the tasks in the three section in `block:`. This makes the plays harder to read and semantically adds

[2018-09-19 10:55] robsonpeixoto commented on #43637
Thanks @fabianvf. `ansible_python_interpreter: "{{ ansible_playbook_python }}"` works very well =D

[2018-09-19 11:01] #44679 closed, assigned to nobody

[2018-09-19 11:38] ArseniiPetrovich opened #45838 "Incorrect hex to decimal conversion in Jinja2 template"
##### SUMMARY
If i set hex variable in `hosts` file it converts to decimal value in jinja2 template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Template
Jinja2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/home/ubuntu/deployment-bridge/bridge-nodejs/ansible.cfg) = skippy
HOST_KEY_CHECKING(/home/ubuntu/deployment-bridge/bridge-nodejs/ansible.cfg) = False

###

[2018-09-19 11:48] Akasurde commented on #45832
cc @acozine

[2018-09-19 11:52] rlb2015 commented on #40929
I'm noticing in Linux version 2.6.1, it sometimes leaves ~none, sometimes ~username, usually in the home folder, but I've seen in some other folders periodically.  For the latter, I have not ascertained the circumstance that causes it (file copy maybe? bad command line?)

I've been wondering if it's because our usernames contain the AD format (i.e. DOMAIN\\username) causing ~DOMAINusername folders

[2018-09-19 12:09] pallix commented on #45614
@pilou- thanks for the investigation

I have been able to reproduce the bug in this minimal project:

https://github.com/pallix/bug-ansible-apt-repository

[2018-09-19 12:17] stuarta opened #45839 "[RFE] Include mitogen plugin in ansible"
##### SUMMARY
Include the mitogen plugin in ansible

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible

##### ADDITIONAL INFORMATION
Red Hat customer testing indicates that using the mitogen plugin improves
the performance of their playbook runs. Speedups of 35% have been seen
by this specific customer

Mitogen also regularly appears on the ansible lists with demonstrable
performance i

[2018-09-19 12:34] nkakouros opened #45840 "Possible inconsistency between `first` and `last` filters"
##### SUMMARY

The `first` filter can operate on generator objects. The `last` filter cannot.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

last

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect 333 to be printed in the last task.

##### ACTUAL RESULTS

[code]

[2018-09-19 12:38] bloob00k commented on #45782
Hi there,

Thanks for the fast turn-around!  I have tried to verify the fix but am
unable to do so due to environmental issues.  My environment is set up for
2.6.3, and everything is installed with yum / RPMs.  This version of the
module requires a newer version of boto3 so far as I can tell (wants
boto3_error_code).  I tried to update that with pip - despite myself - but
it wasn't enough, and by

[2018-09-19 12:48] #43637 closed, assigned to nobody

[2018-09-19 12:50] Perfect10NickTailor commented on #40014
Hello,

I am having the exact same problem with windows 2016 machines? Any one solve this?

Cheers

[2018-09-19 12:59] wnelso1 opened #45842 "yum module install all packages when using wildcard in name"
##### SUMMARY

Using yum module to update python with: name:'python*' state: latest  and update_only: yes tries to install every python package available not just update the installed packages.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local: CentOS 6
Remote: CentOS 7
##### STEPS TO REPRODUC

[2018-09-19 13:43] DylanYoung opened #45843 "Loading Vars from Dirs Breaks when an empty YAML Files is Present"
##### SUMMARY
When loading defaults from a main directory, if any yaml file in the directory is empty, all previously loaded vars are "nuked".

I suspect something even funnier happens if we then include a non-empty file (after the empty one), but haven't verified this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
playbook.role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2018-09-19 13:46] DylanYoung commented on #45843
This part refers to the fact that data is now (I believe) `None`, so the potential "funniness" depends on how `combine_vars` deals with `None` as the first arg (I just haven't checked).

[2018-09-19 13:51] DylanYoung commented on #45843
Proposed Solution:

[code]
OR

[code]

[2018-09-19 13:54] trishnaguha commented on #45814
@ChrysRowe Thanks for the bug report. Here is the fix https://github.com/ansible/ansible/pull/45845. Will you be able to test it out?

[2018-09-19 13:56] vidkun commented on #37087
I just hit this same issue this morning. Any ETA on this making it into a release?

[2018-09-19 14:07] ChrysRowe commented on #45814
Yes this fixes the problem.  Thanks

[2018-09-19 14:10] trishnaguha commented on #45814
Thanks.

[2018-09-19 14:10] #45814 closed, assigned to trishnaguha

[2018-09-19 14:12] gdpak commented on #45602
@AngelFreak Can you please give timelines for running non-aggregate tasks

[2018-09-19 14:12] gdpak commented on #45602
needs_info

[2018-09-19 14:16] flynn1973 opened #45848 "blockinfile keeps adding block"
##### SUMMARY

blockinfile keeps adding blocks even if they are already there.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat EL 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

block added one time

*** BEGIN - ADDED WITH ANSIBLE - 31300045 ***
31300045:
        SYSTEM = "L

[2018-09-19 14:18] NetForce1 opened #45849 "The 1Password plugins should fail when the requested field does not exist on the item"
##### SUMMARY

The onepassword plugins should fail fast when a field that is requested does not exist on the item.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`onepassword.py`

##### ADDITIONAL INFORMATION

Different item types in 1Password have different JSON formats, the onepassword lookup plugin will return an empty string when a field is requested, but does not exist in the item. Th

[2018-09-19 14:19] NetForce1 opened #45850 "Support password items in the 1Password plugins"
##### SUMMARY

The onepassword plugins should be able to read password items natively without resorting to onepassword_raw.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`onepassword.py`
`onepassword_raw.py`

##### ADDITIONAL INFORMATION

A login item in 1Password has a different JSON format than a password item. A password item does not store the password in the fields array, but directl

[2018-09-19 14:29] Perfect10NickTailor commented on #15332
I solved it by adding the FQDN in /etc/hosts on ansible server. That solved the problem.

[2018-09-19 14:40] bcoca commented on #45840
JInja2 Issue
=========

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a Jinja2 feature, while Ansible does provide many features on top of Jinja2 we still rely on it for many things, including this one.
http://jinja.pocoo.org/docs/2.10/templates/#builtin-filters

We would appreciate if you can submit this at the source i

[2018-09-19 14:40] #45840 closed, assigned to nobody

[2018-09-19 15:02] sivel commented on #45762
@gregsymons I do believe that is a different issue, and related to the way `import` vs `include` works.  Try using `include_tasks`, and if you have problems feel free to open a new issue, or swing by the mailing list or IRC for assistance.

[2018-09-19 15:03] sivel commented on #45685
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-19 15:03] #45685 closed, assigned to nobody

[2018-09-19 15:07] furstenheim opened #45851 "How to syntax check list of tasks"
##### SUMMARY

This might be in the docs, but I cannot find it. I have the following files:

   first-playbook.yml
   second-playbook.yml
   common-tasks.yml

common-tasks.yml is a list of tasks that is used in first-playbook.yml and second-playbook.yml through `include_tasks common-tasks.yml`

I'd like to syntax check everything before deploying. For playbooks I can do:

    ansible-playbook --sy

[2018-09-19 15:40] sivel commented on #45838
To support "types" in the INI inventory format, we use `ast.literal_eval` on all values.  We document this in the `ini` inventory docs:

https://docs.ansible.com/ansible/2.6/plugins/inventory/ini.html#synopsis

If you look at the examples, you will see:

[code]

As such, you will need to add extra quoting to your value to be:

[code]

If you have further questions please stop by IRC or the mailing

[2018-09-19 15:40] #45838 closed, assigned to nobody

[2018-09-19 15:42] AnatolyRugalev commented on #32750
On my new setup I'm getting error: `Failed to connect to github.com at port 443: [Errno 97] Address family not supported by protocol` when downloading any https files throught Squid proxy.

`validate_certs: false` fixed problem again.

It looks like that `SSLValidationHandler` should be revised. May be ansible fall back into this handler only if Python version is lower than 2.7.9?

[2018-09-19 15:44] #29887 closed, assigned to nobody

[2018-09-19 15:56] ssbarnea opened #45852 "Avoid the need for ansible_python_interpreter=python3 hack"
##### SUMMARY
At this moment, Ansible would fail to run on most remote hosts that do only have python3 installed by default, like Fedora 27 or newer, unless the user exclicitely adds the ``ansible_python_interpreter=python3`` inside the inventory.

This is a real issue because it assumes that the user already knows which is the default ansible interpreter on that host, which may not be something h

[2018-09-19 15:59] sivel commented on #45852
We have plans on adding functionality to address this in a future release.  I believe there is another issue for it, but I cannot find it right now.

It is not yet on the roadmap, so I don't have a lot of details about it at this time, but it will likely be an optionally enabled step, run before `gather_facts` that would try to locate an acceptable python binary.

cc @nitzmahone

[2018-09-19 16:02] abadger commented on #45852
https://github.com/ansible/ansible/pull/42767   and   https://github.com/ansible/ansible/pull/42783

[2018-09-19 16:08] ssbarnea commented on #45852
These are really good news, I only hope that change would be backported two versions below or it will be too late for most people.

[2018-09-19 16:18] samdoran commented on #45850
!component=lib/ansible/plugins/lookup/onepassword.py

[2018-09-19 16:18] samdoran commented on #45849
!component=lib/ansible/plugins/lookup/onepassword.py

[2018-09-19 16:51] ajolicoe commented on #45813
Thanks @s-hertel!

[2018-09-19 17:03] s-hertel commented on #19831
Fixed for Ansible 2.5 in 0405edcac82600e864537abb74962bbbc06ff90b

[2018-09-19 17:03] #19831 closed, assigned to nobody

[2018-09-19 17:14] s-hertel commented on #19889
Hi @jbscare and @kenske. I added a tentative solution for diff mode to ec2_group in 2.7 in 79ecb4c41f8bca158d999344c0e331684091fce6. It's part of a larger goal to create a common diff mode framework for AWS modules, so the output may still needs some tweaking to meet people's needs. Please test it out if you have a chance and open bug reports to help steer the direction it goes in if you find thin

[2018-09-19 17:14] #19889 closed, assigned to nobody

[2018-09-19 17:51] nitzmahone commented on #45852
Yeah, I think I'm owning getting this one ready during 2.8. I've already got a working prototype of the actual interpreter detection logic (a 2-step shell + Python-backed table lookup thing)- that's kind of the easy part. The harder parts are:
1) performance - this should only run once per host, and ideally be cached across runs (with sane ways to clear the cached value, eg `meta: flush_python_int

[2018-09-19 17:59] s-hertel commented on #20021
Hi @jayenashar. Sorry for not replying to this more quickly.

RE: `"i expect the environment variables to take precedence over the vault file and ~/.aws/credentials. i see the boto page explicitly says they won't."`

You note referring to "the boto page" environment variables so that's probably the problem - please refer to Ansible documentation for the environment variables instead (we have boto

[2018-09-19 17:59] #20021 closed, assigned to acozine

[2018-09-19 18:06] s-hertel commented on #30095
Thanks @SurenNihalani

Looks resolved to me too in https://github.com/ansible/ansible-modules-core/commit/abdd96ed1e966a290cdcdb4cb9f8d2a7c03ae59e

[2018-09-19 18:06] #30095 closed, assigned to nobody

[2018-09-19 18:08] jdamata opened #45858 "k8s kubeconfig authorization issue with heptio-authenticator-aws"
##### SUMMARY

The kubeconfig file generated after setting up an aws eks cluster doesn't properly authenticate to the cluster when specifying the kubeconfig parameter in the k8s module. (https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html)
When trying to apply kubernetes manifests i receive a 403 forbidden error and the attempted user is system:anonymous.
Applying the same kube

[2018-09-19 18:10] s-hertel commented on #29349
It looks like this was resolved in 86ed4b116c6e574c9a57e018f6199d65eae6fdfa for Ansible 2.3. @stalinstepin Try setting `purge_routes: False` in your task.

[2018-09-19 18:10] #29349 closed, assigned to nobody

[2018-09-19 18:21] #42936 closed, assigned to nobody

[2018-09-19 18:37] fabianvf commented on #45858
Unfortunately the kubernetes Python client doesn't support the exec based authentication, the upstream issue tracking it is here: https://github.com/kubernetes-client/python/issues/514

[2018-09-19 18:38] s-hertel commented on #41185
Looks unrelated to #30012, which was an issue fixed in 2014 to allow the module to use profiles.

@sw360cab This will be a problem with any module still using boto. I've updated your description to indicate this is a feature request to port the module from boto to boto3.

[2018-09-19 18:40] fabianvf commented on #45858
It does look like support was added about two weeks ago, but it has yet to trickle into the release: https://github.com/kubernetes-client/python-base/pull/75

[2018-09-19 18:41] s-hertel commented on #30012
It looks like this was fixed in https://github.com/ansible/ansible-modules-core/commit/4c0436688291687c1b6f9b167381833412ede6bf#diff-044114001b80d58bf544d58a80af3576

See https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#release-status for Ansible versions that can have bugfixes backported.

[2018-09-19 18:41] #30012 closed, assigned to nobody

[2018-09-19 19:02] smnmtzgr commented on #43106
Hm thats strange... for me the subsequent run shows "ok" for the second task. We need to chat in IRC...

[2018-09-19 19:06] jcheroske commented on #34457
I found, after using the Apache libcloud-based GCE modules extensively, that they were buggy and slow. Having a first-class set of DM-based modules for provisioning GCP resources would be a huge step forward for Ansible on Google Cloud. Please make this happen!

[2018-09-19 19:11] s-hertel commented on #29706
Pagination was added when this module was ported to boto3 in 1de91a9aa0d99600461f619a21cc94ab3f8e90f1  for Ansible 2.4.

[2018-09-19 19:11] #29706 closed, assigned to nobody

[2018-09-19 19:17] bcavns01 commented on #27748
What would be nicer would be if the filter plugins path could have a subdirectory called `library` where you could put your custom libraries.  Then, you'd have the option of symlinking things in from module_utils if you needed/wanted to.

You can, crudely, fake this functionality:

**DISCLAIMER: This is a hack.** (Ansible 2.5.3 on Ubuntu. YMMV.)

You can create a file in your `filter_plugins` dire

[2018-09-19 19:22] #30014 closed, assigned to nobody

[2018-09-19 19:25] bcavns01 opened #45865 "Create a filter_plugins library path"
##### SUMMARY

The ability to load custom python libraries for use in filters by placing them into some local ansible path, preferably `filter_plugins/library`.

##### ISSUE TYPE
- Feature Idea
The `filter_plugins` path could have a subdirectory called `library` where you could put your custom libraries.

##### COMPONENT NAME

filter_plugins_library

##### ADDITIONAL INFORMATION

This would allow

[2018-09-19 19:26] #36506 closed, assigned to nobody

[2018-09-19 19:33] s-hertel commented on #26759
Support was added for this in commit 099d8f0b563844ef6ae4a614a85dcfd9c8807418 for Ansible 2.6.

[2018-09-19 19:33] #26759 closed, assigned to nobody

[2018-09-19 19:50] dagwieers commented on #43106
@smnmtzgr You can try me anytime (but I can't promise to be online all the time though).

[2018-09-19 19:51] sivel commented on #45865
Duplicate of https://github.com/ansible/ansible/issues/28770

[2018-09-19 19:51] #45865 closed, assigned to nobody

[2018-09-19 19:55] vtomasr5 commented on #43246
Same issue on Ubuntu 16.04 with Ansible 2.6.3

[2018-09-19 19:59] s-hertel commented on #30211
Closing because this was already opened in https://github.com/ansible/ansible/issues/20842 and we should track it in one place.

[2018-09-19 19:59] #30211 closed, assigned to willthames

[2018-09-19 20:09] davidedelvento commented on #44266
I think this problem could be mitigated if the documentation had a note specifying that Ansible's user module uses `useradd` (always for linux distributions??) under the hood. I've been burned by assuming it used the more commonly used `adduser`, and being baffled at why it did not . Even when I realized it used `useradd`, as @Ploy-XIV said, I've burned by different but related problems with it, s

[2018-09-19 20:14] #44120 closed, assigned to nobody

[2018-09-19 20:27] DanHulton commented on #29351
This is biting us as well - we're trying to install software that prints a licensing agreement in latin1, which blows up the parser with `UnicodeDecodeError: 'utf8' codec can't decode byte 0xae in position 40: invalid start byte`.  When viewing the agreement, those entries are the classic "Unicode can't display this question-marks".

Either option 1 or 2 sound like they both would work, but option

[2018-09-19 20:35] bcavns01 commented on #28770
Your sample is definitely clear, but having to create the scaffolding to create a pip package and then install/maintain it is a lot of paperwork and, more importantly, a lot of added complexity, particularly if you have multiple small libraries.  Aside from symmetry, having this as a native Ansible feature would lead to simpler playbooks, and cleaner and more self-contained Ansible repos.

I see t

[2018-09-19 20:40] bcoca commented on #44266
@davidedelvento the tools use depend on the platform, the user module also works on solaris/aix/bsd/etc so it tries to select the expected tool. On linux it mostly uses useradd as that is what it common for the distro the original author was used to using. In some cases adduser is for 'interactive' (it prompts you) user creation while useradd is for automated.

That said, we might need to revise w

[2018-09-19 20:47] keilr commented on #44374
something similar to the extra vars option of the ansible-playbook command would be great. but let's just call it env vars, as ansible-galaxy cli doesn't use the ansible "vars manager"...

`ansible-galaxy install -r roles/requirements.yml -e "token=XXXX version=prod"`
`ansible-galaxy install -r roles/requirements.yml --env-vars "token=XXXX version=prod"`

[2018-09-19 20:57] davidedelvento commented on #44266
@bcoca thanks for the explanation. I definitely expected that the tools depend on the platform. What I am suggesting is that you document what has been picked, because there are options and they have very different behaviors. Even if you have to add a table with a dozen entries for each platform, that is not a big deal to make, in my opinion, and will provide excellent information saving a lot of

[2018-09-19 21:05] jborean93 commented on #40014
So this isn't an Ansible error but rather an issue with MIT Kerberos not able to validate the remote host in the Active Directory database. This can be due to various issues that @daBONDi have pointed out. DNS is also key in this process so make sure you can do a DNS query and reverse query on the hostname as well.

I'm going to close this ticket as it is a user question and not an actual bug in A

[2018-09-19 21:05] #40014 closed, assigned to nobody

[2018-09-19 21:06] jose-delarosa commented on #45513
I bet https://github.com/ansible/ansible/pull/44903 is why the bot changed the label to  `support:core`. Need to go see the new or correct way to add maintainers.

[2018-09-19 21:12] jdkaufman01 opened #45869 "Windows Processor Information Incorrect from Setup"
##### SUMMARY
Setup returns an empty value for ansible_processor in cases where there is only one core per socket.  It also appears to return an incorrect amount of processors in other instances.  The math to populate the $cpu_list variable seems incorrect and leads to the empty/incorrect values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup.ps1 module

##### ANSIBLE VERSION

[code]

[2018-09-19 21:37] Ikuze commented on #45848
`Hello,

The problem is here

marker: "\n*** {mark} ***"

Remove the "\n" in the marker's value and everything will work fine. The marker is one line used to mark the start and the end of the block, but it is only ONE. We are using 2 lines as marker here, hence, we cannot find one line matching the marker (because they are two lines matching the marker). Reading the code it doesn't look like that

[2018-09-19 21:37] flowerysong commented on #45848
Markers are a single line, they can't contain '\n'.

[2018-09-19 21:43] dagwieers commented on #43106
So after debugging together with @smnmtzgr it appears that if we remove `leaf_port_blk_description` the module works correctly on v3.0(2k) and v3.2(2l). However with `leaf_port_blk_description` set, it fails on v3.2(2l), and it reports changed on v3.0(2k), *only* on the subsequent task.

This appears to be a bug in the APIC. Both the difference in behaviour as well as the fact it fails to work.

[2018-09-19 22:19] smnmtzgr commented on #43106
dag and me have invested some time for further troubleshooting.
We found a API bug and we found out that with ansible-devel and also deleting the parameter "leaf_port_blk_description" the issue is fixed.

But nevertheless there are 2 action items now:
1. The API has a bug regarded to the parameter "leaf_port_blk_description", we have to send this out to Cisco. We both (@dagwieers and me) try to do

[2018-09-19 22:56] nunoenpereira commented on #45681
@Qalthos, regarding "you have two versions of Ansible installed", it was on purpose because, being new to ansible, I wanted to check how different it is to use ansible through the cli versus using it through python. However, when I started to have the reported issue, I noticed that the default installations deploy different versions. Then, I tried to level the "apt one" with the "pip3 one", first

[2018-09-19 23:13] willthames commented on #45858
@fabianvf, https://github.com/kubernetes-client/python/pull/619 will fix this, but this will also need https://github.com/openshift/openshift-restclient-python/pull/207 for the openshift client to be installed together with a fixed kubernetes client

[2018-09-19 23:13] willthames commented on #45858
This is not at all an ansible bug though, so closing this.

[2018-09-19 23:13] #45858 closed, assigned to nobody

[2018-09-20 00:56] jwflory commented on #45852
I'm looking forward to seeing this fixed! I've been hitting this issue on Fedora cloud images and wrote a [blog post](https://blog.justinwflory.com/2018/09/how-to-fix-missing-python-for-ansible-in-fedora-vagrant/) about it.

[2018-09-20 01:30] jborean93 commented on #45794
!component =lib/ansible/modules/cloud/scaleway/scaleway_compute

[2018-09-20 01:41] damobrisbane opened #45889 "Allow mocking of tasks with registered variables"
##### SUMMARY
This has been raised and as an issue a number of times (eg #17500),, but closed as "expected behaviour". As others have pointed out, the setting of variables on skipped tasks is at best unintuitive. This feature request is specifically, prevent variable setting on skipped tasks, with additional information below.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONA

[2018-09-20 01:57] jborean93 commented on #45848
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-20 01:57] #45848 closed, assigned to nobody

[2018-09-20 01:58] jborean93 commented on #45851
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-20 01:58] #45851 closed, assigned to nobody

[2018-09-20 02:06] jborean93 commented on #45869
Keeping this issue opened up the bug is fixed.

[2018-09-20 02:06] jborean93 commented on #45869
!component =/lib/ansible/modules/windows/setup.ps1

[2018-09-20 03:06] cigamit commented on #45834
Most likely VM Customization is failing on your host.  You will need to find out why (there should be a log file on the server itself).  VMWare disables the nic until customization completes and then re-enables it once done.  This is all handled by VMWare and is not done by the module itself.

[2018-09-20 03:09] cigamit commented on #45817
What version of Ubuntu are you trying to deploy?  Old versions of VMWare don't support customization of some of the newer OSes.
https://partnerweb.vmware.com/programs/guestOS/guest-os-customization-matrix.pdf

[2018-09-20 03:11] cigamit commented on #45817
Also, I think a fix for this was already put forth in a PR.  Basically it was defaulting the NICs to DHCP which forced a customization when it shouldn't have.

[2018-09-20 04:15] Fred-sun commented on #43195
@zikalino the PR #45126 has been merged, it has fixed this feature( add OS disk name) , should we need to add another feature that add data disk name? Please confirm , Thanks!

[2018-09-20 04:24] jborean93 opened #45891 "PowerShell Linting Rule Review"
##### SUMMARY
I'm wanting to talk a bit more about our pslint rules to cover;

* Whether to add some extra rules to our ignored list
* The state of `PSUseBOMForUnicodeEncodedFile`, should we ignore or add BOM to unicode scripts
* Whether to ignore rules in `test/sanity/pslint/ignore` or inline where the infringment happens

###### Ignored Rules
We have currently defined the following as rules to i

[2018-09-20 04:29] jborean93 commented on #45891
cc @mattclay

[2018-09-20 04:46] tschirmer commented on #29695
Same issue here on latest ansible version:

TASK [User Home Directory | Remove user directory on mount] ********************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "rmtree failed: [Errno 39] Directory not empty: '/tmp/deleteme/nfs/users/deleteme/httpdocs'"}
        to retry, use: --limit @/Scripts/Playbooks/folder-delete.retry

[2018-09-20 05:38] techtonik commented on #38417
I confirm this on Ubuntu 18.04 with Ansible 2.5.1

    ansible-playbook ansible/i3config.yml

[code]
+label affects_2.5

[2018-09-20 05:45] techtonik commented on #38417
bot_status

[2018-09-20 06:03] troyfontaine opened #45892 "elasticsearch_plugin module fails due to Java prompt"
##### SUMMARY
When attempting to run elasticsearch_plugin on Elasticsearch 6.3 and installing, for example, the repository-s3 plugin, the installation will not complete and will instead throw an error.

[code]
It appears the module is not prepared to respond to the [y/n] prompt and so once it finishes the download of the plugin it hits the prompt and errors out.

##### ISSUE TYPE
- Bug Report

###

[2018-09-20 06:04] yungezz opened #45893 "azure_rm_containerregistry_facts failed to returned credentials"
##### SUMMARY

azure_rm_containerregistry_facts  error when retrieve_credentials=true

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

fatal: [localhost]: FAILED! => {
    "changed": false,
    "module_stderr": "No handlers could b

[2018-09-20 06:26] techtonik commented on #45848
Duplicate of #43523.

@ikuze `\n` is needed. because Ansible doesn't insert empty lines for its block making the text an unreadable mess. I came here for the same reason. The marker line should be expanded with params for matching, so only one line matches.

[2018-09-20 06:42] Fred-sun commented on #43802
@yungezz Do you have tried to fix this issue? add new model for this application security group?

[2018-09-20 07:31] nkakouros opened #45896 "gcp_compute_instance shows as changed when operation failed"
##### SUMMARY

I try to create an instance online with an non-existent disk image. Ansible shows the task as changed, but stackdriver logging on google cloud shows the error that the image does not exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUC

[2018-09-20 07:52] mschweyen commented on #35374
Hi @zeeMonkeez,
we had similar issues on Solaris after applying 11.3.34.4.0 which came with a new zipinfo version (6.1c23-BETA). The problem was caused by a new output of the zipinfo command. Here a comparison.

[code]

In our case the length of the permission column changed with the new version. The following patch seems to fix the problem.
[code]

[2018-09-20 08:33] Bob-Thomson commented on #29139
Seeing same behaviour on Ansible 2.6.1 here.

[2018-09-20 09:04] Fred-sun commented on #45176
@zikalino,  @BrechtClaeys have a question need you help. Could you help resolve the question? Thanks!

[2018-09-20 09:07] bhushangholave opened #45898 "Ansible command fails when we try to access it on bastion from remote server. ssh error..Unreachable nodes."
##### SUMMARY
I run ansible-playbook for openshift 3.9 installation on bastion.
Works great.
But when I use ssh agent from my machine(remote machine) to run same ansible-playbook or ansible commands it fails with error.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

using Ubuntu virtualBox for remote machine.
using RedHat 7.2 lin

[2018-09-20 09:11] Tajjar opened #45899 "sshfs not mounting correctly using shell module"
##### SUMMARY
While trying to mount using sshfs using on liner command the task is passing but nothing is changed on the server side. In case of splitting the command the playbook hangs and the user_id and the group_id are getting root values instead of the specified user values.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

#####

[2018-09-20 09:30] marc-ledent opened #45900 "ovirt_vms does not proceed cloud-init when state is running. Manual start works"
##### SUMMARY
When I create a VM with cloud-init parameters, the cloud init is executed only if I start the VM manually:

In this example, if I set "state: running", the cloud-init part is not executed. I must set "state: present" and start the VM manually in the RHEV console.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code

[2018-09-20 09:35] Fred-sun commented on #42769
@yungezz

[2018-09-20 09:40] dmurarasu opened #45901 "nxos_interface_ospf - add ospf network type option"
##### SUMMARY

Add option to configure interface ospf network type when using nxos_interface_ospf module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos_interface_ospf

##### ADDITIONAL INFORMATION

Adds the ability to configure ospf network type, ie point-to-point on interfaces.
This overrides the default categorization of ospf. ie ospf ignores configured prefix on loopbacks.
Also n

[2018-09-20 09:41] dmurarasu commented on #45901
I will create a PR to try and add this shortly.

[2018-09-20 09:51] lwm commented on #44721
Opened https://github.com/ansible/ansible/pull/45902 for this :+1:

[2018-09-20 09:52] WaKeMaTTa commented on #42037
@Jmainguy thank you. That was it.

[2018-09-20 09:52] #42037 closed, assigned to nobody

[2018-09-20 09:56] #41104 closed, assigned to ganeshrn

[2018-09-20 09:56] #44889 closed, assigned to nobody

[2018-09-20 09:58] dmurarasu commented on #45901
PR #45904 create, please review.

[2018-09-20 09:59] lwm commented on #22607
I've finally got around to this. I've opened up https://github.com/ansible/ansible/pull/45902. It's faster.

[2018-09-20 10:12] felixfontein commented on #30455
This has been added in Ansible 2.4 (the option is called `working_dir`).

close_me

[2018-09-20 10:16] felixfontein commented on #43304
Also, please add `debug: yes` to the module options.

[2018-09-20 10:29] T1loc commented on #28380
Hey,
Isn't there a plan to merge all this ? This option is really needed :D

[2018-09-20 10:41] nkakouros opened #45906 "gcp_compute_instance: disk.source parameter cannot be omitted"
##### SUMMARY

I have created a task to create a bunch of instances. Some have a disk that they will use, others will use an image to create the instance. For that purpose, I want to set disk source to omit, but this fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO R

[2018-09-20 10:48] tterranigma commented on #45906
Actually, I think this is a general Ansible issue. Closing this and opening a new issue.

[2018-09-20 10:48] #45906 closed, assigned to nobody

[2018-09-20 10:58] nkakouros opened #45907 "AnsibleModule: nested dict elements do not support 'omit'"
##### SUMMARY

See the example playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

AnsibleModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Here is a demo module:

[code]

Here it the playbook:

[code]

##### EXPECTED RESULTS

I would expect `ggg` to be omitted.

##### ACTUAL RESULTS

[code]

[2018-09-20 11:28] AngelFreak commented on #45602
@gdpak I have included the entire playbook run times under ACTUAL RESULTS, and marked the tasks that uses aggregate.
If you ask for tasks doing the same job eg. junos_config, they run even slower.

[2018-09-20 11:46] Tajjar commented on #45899
Worked after upgrading to Ansible 2.6.4

[2018-09-20 11:46] #45899 closed, assigned to nobody

[2018-09-20 11:48] acca commented on #39891
This could be a starting point: https://github.com/acca/ansible/commit/36e4e140303dd96611324ff5e5195928c6b113c8

[2018-09-20 12:00] Im0 commented on #45543
Maybe related: #42417 https://github.com/ansible/ansible/pull/42422
I've tested too and have the same issue.  Hopefully the in-flight PR's can be merged soon.

[2018-09-20 12:26] webknjaz commented on #39556
Yep https://github.com/ansible/proposals/issues/new

[2018-09-20 12:31] webknjaz commented on #44420
Yeah, or maybe at least use `mutually_exclusive` param in arg spec to make ansible yell at the user that those aren't compatible.
But in general, it's better to split out logical features into different modules.

[2018-09-20 12:38] Solodkiy commented on #44420
@webknjaz If we decide to take this way we also can add some more useful functionality to new chain module. For example, you can't  create new chains with current module, so I wrote tiny implementation https://github.com/Solodkiy/ansible-iptables-chain-module

[2018-09-20 12:42] webknjaz commented on #44420
Feel free to send a PR, but in general, it's up to @LinusU @sebastiendarocha to change things here. We can think about other options if they don't show up though.

[2018-09-20 12:54] kgrossjo opened #45910 "ansible/lib/ansible/modules/files/copy.py - mention "mode=preserve""
##### SUMMARY

In the description of the `mode` parameter, add a sentence such as the following:

As of version x.y, the mode can be specified as `preserve`.  This means to mirror the permissions on the source file(s) at the destination.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ansible/lib/ansible/modules/files/copy.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[co

[2018-09-20 13:02] decentral1se opened #45911 "pipenv, pipenv_facts: new module request"
##### SUMMARY

https://pipenv.readthedocs.io/en/latest/ is quickly becoming a more and more way to manage Python dependencies and there is no module to support that need right now. I currently have a few tasks that do Pipenv based tasks but they require a lot of wrangling to ensure idempotency.

The module would provide an idempotent way to install Pipenv managed projects like:

[code]

That's pro

[2018-09-20 13:05] dagwieers opened #45912 "WinRM: Intermittent connection issues"
##### SUMMARY
Since upgrading to devel from an earlier release (before PSRP) we are getting intermittent issues with making connections.

The following task failed:

        Copy 7zip installer (win_get_url)

with the following message:

        Unexpected failure during module execution.

with the following exception:

        Traceback (most recent call last):
          File "/home/ccla/ansible/

[2018-09-20 13:09] Vaygh commented on #45817
The template has no OS installed: the disk is blank. My use case is the same as the OP's on https://github.com/ansible/ansible/issues/24193

[2018-09-20 13:10] dagwieers commented on #45912
Before this happened about 9 tasks to the Windows system worked fine.

[2018-09-20 13:12] tterranigma commented on #39556
OK, I opened [an issue there](https://github.com/ansible/proposals/issues/143). Should this be closed?

[2018-09-20 13:14] Vaygh commented on #45817
I agree. It seems like the issue was fixed in Ansible 2.4 (according to the comments on https://github.com/ansible/ansible/issues/24193; I haven't tried using this module until 2.5). However, the behavior I'm seeing is in line with the original problem in https://github.com/ansible/ansible/issues/24193.

I'm no Python developer, but looking at the diff between the stable-2.4 and stable-2.5 tags, I

[2018-09-20 13:33] dominikholler opened #45915 "os_router ignores enable_snat: no"
##### SUMMARY
os_router ignores enable_snat: no

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_router

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 28 (Twenty Eight)

##### STEPS TO REPRODUCE

[create_non_nat_router.yml.txt](https://github.com/ansible/ansible/files/2401466/create_non_nat_router.yml.txt)
[2018-09-20-snat.txt](https://gi

[2018-09-20 13:36] dagwieers opened #45916 "win_domain_user: Reports server instance not found on the given port"
##### SUMMARY
Since we updated our devel branch, we have seen this issue very frequently.
(Before we did not have this issue)

[code]

Results in:
[code]

I don't know if anything has changed to **win_domain_user** that could explain this.
Not sure if adding more pause would make any difference.
Between the AD join and this failed AD task there are about 15 other tasks and 1 more reboot taking abo

[2018-09-20 13:38] Perfect10NickTailor commented on #40014
I fixed the issue.

1. i added the host to /etc/hosts
2. if it still failed after that. I just rejoined the server to the domain
and that did the trick usually.

Cheers

Nick Tailor
nicktailor.com

On Wed, Sep 19, 2018 at 10:07 PM Jordan Borean <notifications@github.com>
wrote:

--
Nick Tailor
http://www.nicktailor.com

[2018-09-20 13:45] NealSmithCRGT opened #45918 "Ubuntu Install Fails due to SSHPASS dependency, Installation instructions need update"
##### SUMMARY

When following the latest install instructions for Ubuntu 18.04 the command "sudo apt-get install ansible"  fails with an unmet dependency.

Quoted here:

the following packages have unmet dependencies:
 ansible : Depends: sshpass but it is not installable
E: Unable to correct problems, you have held broken packages.

Apparently sshpass is not distributed by Ubuntu any longer.

####

[2018-09-20 13:51] mavit commented on #25133
I experience the same symptoms, even with the latest `devel` (86c4820).  I think this should be reopened.

I suspect this is a bug in some versions of pyvmomi, or a quirk with certain VMware instillations, or something along those lines, rather than a bug in Ansible.  Ideally, though, we could figure out what and document the requirements.

[2018-09-20 14:02] arno1704 commented on #45834
Do you have any idea in which logfile i could find this info - i found nothing...

[2018-09-20 14:06] dagwieers commented on #45912
Maybe this issue and #45916 are related to the recent reboot-redesign ?
Is it possible that in the background reboots are being performed while the playbook already continued ?
That could explain AD not being up and running, or connections suddenly failing where they didn't before.

[2018-09-20 14:07] jose-delarosa commented on #45513
Solved with https://github.com/ansible/ansible/commit/e701b5a4127f114c0f20ac5160c2577e73f0b39a.

[2018-09-20 14:10] FriedCircuits commented on #28380
I could use it as well. I am having to manually create networks before running ansible.

[2018-09-20 14:14] sivel commented on #45889
As described in previous issues, including the one you reference this is expected behavior.

We do not plan on changing this behavior.  You should utilize 2 different variables to avoid this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-20 14:14] #45889 closed, assigned to nobody

[2018-09-20 14:18] zcourts commented on #29661
@flaper87 I tried to get the helm module to work but failed miserably.
I gave up in the end and attempted to write my own, taking a very different approach. As the author of the current helm module I'm posting this mostly to get your thoughts on what I've done.

As of right now, it only supports installing your own helm charts from a directory but this is actually all I need. No matter which helm

[2018-09-20 14:21] AlanCoding opened #45922 "Recognize vault secrets with __ansible_vault keyword in YAML as well as JSON"
##### SUMMARY
There's a new format which can be used to specify encrypted vault secrets by putting "__ansible_vault" inside a dictionary:

https://github.com/ansible/ansible/blob/a8d4bf86421d151d8df7132e8e87d04b6662f45a/lib/ansible/parsing/ajson.py#L31

If variables are JSON, this will work to provide vault secrets, but if those same variables are read and then dumped as YAML, then it will not be

[2018-09-20 14:33] troyfontaine commented on #45892
Looks like the module needs to pass `--batch` to bypass the prompt.

[2018-09-20 14:51] mikent05 commented on #10194
Even if you use **no_log** in your playbook, the password is shown in clear when you run your playbook in verbose mode

[2018-09-20 14:51] mikent05 commented on #18184
Even if you use **no_log** in your playbook, the password is shown in clear when you run your playbook in verbose mode

[2018-09-20 15:08] #45681 closed, assigned to Qalthos

[2018-09-20 15:08] sivel commented on #45922
I'm not sure we should support the JSON version within YAML, since we already have a proper YAML constructor for vault.

Maybe something like this could be useful: https://gist.github.com/sivel/6991a5abcfc41bb2872d5898213575eb

[2018-09-20 15:18] AlanCoding commented on #45922
Yes, that actually is quite helpful. I had attempted [some similar parsers](https://github.com/AlanCoding/Ansible-inventory-file-examples/blob/master/scripts/vault/awx_redumper.py) to construct data as a Stand-in python class for interoperability, as you have done there. I could never get it quite right.

If I can manage to use your code there, then I will see about making a PR to AWX that uses it

[2018-09-20 15:18] troyfontaine commented on #45892
Inserting the following before `cmd = " ".join(cmd_args) will fix the issue by appending the required batch argument.
[code]

[2018-09-20 15:45] maxamillion commented on #28061
So the `yum` module should absolutely be logging to the same place as when you run from the command line because for install/upgrade operations the module calls the command line on the back end (it does use the yum3 API for various operations but not the install/upgrade actions). However, the `dnf` module does in fact do everything from the API so we'll have to explore how to replicate the dnf log

[2018-09-20 16:13] zikalino commented on #45893
fixed with pr #45897

[2018-09-20 16:13] #45893 closed, assigned to zikalino

[2018-09-20 16:13] #36970 closed, assigned to nobody

[2018-09-20 16:21] #27744 closed, assigned to nobody

[2018-09-20 16:55] humblepilot opened #45928 "ValueError: invalid literal for int() with base 10: '30%'"
##### SUMMARY

Want to run the play with serial 30% or any percentage defined on a hostgroup having 10 or more hosts. Followed https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#rolling-update-batch-size to set that up. For percentage definition did not find any ansible version mandate

Error observed:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANS

[2018-09-20 16:58] sivel commented on #45928
This error indicates that you are using Ansible version 1.9 or older, which is unsupported at this point, and does not permit percent based serial configurations.

Please upgrade to a more recent version of Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2018-09-20 16:58] #45928 closed, assigned to nobody

[2018-09-20 17:31] #45717 closed, assigned to nobody

[2018-09-20 17:34] #45680 closed, assigned to nobody

[2018-09-20 18:06] Qalthos commented on #44673
This is technically correct. `ansible-connection` will not be stopped by the termination of ansible directly, but it does have the ability to detect that the socket it is reading from has closed and will terminate shortly thereafter. This is fairly trivially observable with `watch "ps -ef | grep python"`

Furthermore, this is the same mechanism by which `ansible-connection` cleans up persistent co

[2018-09-20 18:07] rambleraptor commented on #45803
Thanks a lot for submitting this! I'm currently looking into this and I should have an answer for you shortly.

[2018-09-20 18:07] gundalow commented on #43562
docschick pointed out the following which is uses in Tower:

[code]

[2018-09-20 18:08] gundalow commented on #43562
Also do we want to make it much clearer to the end user if they are looking at `/latest`?

similarly we may wish to add a warning header if people are on `/devel/`

[2018-09-20 18:11] rambleraptor commented on #45720
The documentation is currently written from [Magic Modules](www.github.com/googlecloudplatform/magic-modules). If you're feeling particularly adventurous, you're welcome to submit a PR to that!

Otherwise, I'm planning on submitting a PR to Magic Modules with all of these documentation changes and then creating the Ansible PRs from there. We've been having some CI problems that we're hoping to res

[2018-09-20 18:27] MrOwen commented on #43562
It seems like the canonical tags are a good idea for any pages on `/latest` but I don't know how docs are built/deployed so not sure how much additional effort is required to add the tags on only the latest version of the docs.

One problem with the canonical tag is that it does not do redirection. So if I google "azure rm deployment" and the canonicalization has been setup and Google picks that u

[2018-09-20 18:29] tterranigma commented on #45800
Sure! Whenever you have sth ready!

[2018-09-20 19:04] #44673 closed, assigned to Qalthos

[2018-09-20 19:30] bcoca commented on #45922
I agree with @sivel, not sure we want to do this as `!vault` is how YAML is designed to handle 'custom parsing'. I would need to check, but I believe doing it this way means we have to re implement dictionary parsing in python which would be a considerable slowdown from the C library.

[2018-09-20 19:42] #30059 closed, assigned to nobody

[2018-09-20 19:50] #44695 closed, assigned to nobody

[2018-09-20 19:51] AlanCoding commented on #45922
I get where you're coming from. One concern of mine is that `ansible-inventory` can produce output that is reusable for subsequent runs with no measurable changes to inventory. I think this still holds true, it's just that the requirement on any parsers is that it _must_ use the constructors with YAML format. As @sivel showed with his gist, this can be scripted fairly efficiently, and this led to

[2018-09-20 19:51] #45922 closed, assigned to nobody

[2018-09-20 19:51] AlanCoding commented on #45922
Thanks for all the help by the way!

[2018-09-20 20:03] jocelynj opened #45935 "Test for interfaces_file failing because checking system-installed interfaces_file.py"
##### SUMMARY
On Ubuntu 18.04, tests for interfaces_file are failing if ansible is also installed through apt, as the test in git is not compatible with ansible's apt version.

The issue appeared with commit abe8e4c9e8bd9cdca70a7906b15beb57a52393ca, which makes tests running in parallel. Deactivating this change makes test passing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
interfaces_fi

[2018-09-20 20:05] jocelynj commented on #45935
Pinging @mattclay, as he talked about this issue yesterday on IRC.

I don't think the issue is caused by interfaces_files, but is more likely to be an issue with pytest or pytest-dist. Version for these executables:
[code]

[2018-09-20 20:07] jborean93 commented on #45916
There hasn't been a recently change to `win_domain_user` that could really affect this, it sounds like the host is unable to resolve/connect to the domain controller when the task runs. I'm curious as to whether this fails if you explicitly set the server and credentials with the `domain_*` module options.

[2018-09-20 20:09] jborean93 commented on #45912
This looks like a failed auth process, you can see the Challenge NTLM message is empty causing the issue. As for why it is empty I'm not really sure, are you able to upgrade requests-credssp and ntlm-auth to the latest version and retry it?

[2018-09-20 20:20] andreaso commented on #45918
Looks more like an issue on your end.

[code]

https://packages.ubuntu.com/bionic/sshpass

[2018-09-20 21:10] jborean93 commented on #45490
@MichaelBaydoun I can only replicate this issue in Python 2.6 which as of Ansible 2.7 is no longer supported as a control host. What is your requirement for using `ANSIBLE_KEEP_REMOTE_FILES=1` in your environment?

[2018-09-20 21:44] jose-delarosa commented on #45513
@billdodd I think we can close this one, thanks.

[2018-09-20 21:55] cristidas commented on #35580
@tux-b

In your first message you have the failure output, showing that the task was executed on the localhost

`fatal: [localhost]: FAILED! =>`

The difference in a verbose output (-vvv on the command line) would be that a task executed on the localhost will start with something like this:
`TASK [filesystem : ] *********************
changed: [localhost] => (item=`

...while one executed on a remo

[2018-09-20 21:59] nhojpatrick opened #45938 "Dry Run error for file touch"
##### SUMMARY
Dry Run, -C or --check doesn't work with file touch of an invalid directory/file combination.

Tried searching other open issues but can't find any similar.

##### ISSUE TYPE
- Bug Report
file touch does not work for check mode, execute -C or --check with following;
[code]

Output
[code]

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2018-09-20 21:59] billdodd commented on #45513
Agreed. I tested with the latest devel branch today and the issue is fixed.

[2018-09-20 21:59] #45513 closed, assigned to nobody

[2018-09-20 21:59] acozine opened #45939 "Consolidate search capability"
##### SUMMARY
Currently we have two search options on the /ansible/ documentation - an Opensearch box in the upper left and a Swiftype search ("Search this site") in the lower right. The site should only have one search option.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com/ansible/

##### ANSIBLE VERSION
all versions

##### CONFIGURATION
N/A

##### OS / ENVIRONMEN

[2018-09-20 22:07] gundalow commented on #43562
Lots of good ideas in here.

Maybe if we can list the various use-cases we can then agree on what behaviours we'd like to see.

[2018-09-20 22:12] andygeorge opened #45940 "dnf module does not respect dnf versionlock plugin"
##### SUMMARY

The [`dnf versionlock` plugin](https://dnf-plugins-core.readthedocs.io/en/latest/versionlock.html) is used to lock packages to their currently-installed version, preventing `dnf` from upgrading them, without having to add an `exclude=` in `dnf.conf`. The Ansible dnf module does not respect this plugin or its state, resulted in undesired upgrading.

##### ISSUE TYPE
- Bug Report

###

[2018-09-20 22:13] acozine commented on #45832
This is an excellent idea. I'm thinking of transforming the current Style Guide into a more comprehensive section about contributing to the documentation. A page on various ways to build the docs locally would definitely be a good addition! Realistically, though, it's not going to happen before AnsibleFest.

[2018-09-20 22:14] stoleas opened #45941 "azure_rm_deployment failing to create resource group that doesn't pre-exist"
##### SUMMARY

Creating an Azure Resource Group via ARM template using `azure_rm_deployment` fails in Ansible 2.6 if the resource group does not already exist. The reason this is is because `self.get_resource_group` does not exist https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_deployment.py#L494 pre-Ansible 2.6 when the resource group hasn't been created yet

[2018-09-20 22:19] sieben commented on #45832
No problem it does not need to happen overnight. I just wanted to put at least this command here as a reminder in case I need to generate documentation.

[2018-09-20 22:27] jborean93 commented on #45490
@MichaelBaydoun here is a fix for the issue which we can backport to older releases https://github.com/ansible/ansible/pull/45942. If you have some time it would be great if you could test it but I am able to verify it fixes my install when running on Python 2.6.

[2018-09-20 22:30] marcjay commented on #44237
Ran into this today. Lot of head-scratching as the behaviour directly contradicts what the docs say. Would love to see this fixed, needed an ugly jinja2 format() filter to workaround it

[2018-09-20 22:33] jborean93 commented on #43145
Closing as this has been fixed.

[2018-09-20 22:33] #43145 closed, assigned to nobody

[2018-09-20 22:41] willthames commented on #35580
I'm going to close this one out - thanks @cristidas for the thorough explanation - further questions should be directed to the ansible mailing list or #ansible IRC channel

[2018-09-20 22:41] #35580 closed, assigned to nobody

[2018-09-20 22:48] sivel commented on #44237
This behavior is documented for the i I inventory plugin at: https://docs.ansible.com/ansible/latest/plugins/inventory/ini.html

As such, to prevent Ansible from assuming you meant to define a `long` value, you will need to add additional quoting:

[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google

[2018-09-20 22:48] #44237 closed, assigned to nobody

[2018-09-20 22:56] marcjay commented on #44237
Thanks @sivel - I hadn't seen that. I think that info would also be useful on https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#hosts-and-groups which was what I, and @totoroliu were reading

[2018-09-20 23:51] skregas commented on #39106
I have the same issue, but it differs slightly in regards to how it comes up when other device types are added to the inventory.

Testing the above workaround of adding
`become_method: enable`
to the top of the playbook seemed to solve the issue when it's just a single device type (ios) in the inventory .
Adding other device types (nxos, asa) into the inventory and running the same playbook seemed

[2018-09-20 23:58] cigamit commented on #45834
A quick google tells me to look at
C:\WINDOWS\TEMP\vmware-imc\toolsDeployPkg.txt
or
C:\WINDOWS\TEMP\customize-guest.log

[2018-09-21 00:01] cigamit commented on #45817
This is the fix I was thinking of
https://github.com/ansible/ansible/pull/44510

[2018-09-21 00:03] jborean93 commented on #45281
@karthick87 sorry for the delay but I have a PR that should fix this issue https://github.com/ansible/ansible/pull/45944. It would be great if you could test it out and provide some feedback.

[2018-09-21 00:03] #45490 closed, assigned to nobody

[2018-09-21 00:20] mattclay commented on #45935
@jocelynj I've followed the steps you provided, but I'm unable to reproduce this issue.

[2018-09-21 00:38] FragmentedPacket opened #45948 "Netbox: Creating Ansible modules"
##### SUMMARY

Netbox modules for Ansible and how to go about laying out the modules
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

netbox_device
netbox_ip_address
netbox_*
##### ADDITIONAL INFORMATION

##### Module layout
I'm not quite sure how I should layout the modules for what they should do and if I should break them out to a granular level.

I will use a Netbox device as an example,

[2018-09-21 00:55] pilou- commented on #45948
cc @sieben

[2018-09-21 01:29] klauern opened #45950 "win_package won't uninstall applications with registries in HKCU"
##### SUMMARY

When attempting to uninstall a program on a machine, I found that the two locations specified for it:

* `HKLM:Software\Microsoft\Windows\CurrentVersion\Uninstall`
* `HKLM:Software\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall`

I found that digging into this particular application, it puts it in

* `HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall`

I know that I

[2018-09-21 01:29] alexhexabeam commented on #12170
There is a major problem with most of the proposed workarounds is CPU and memory usage, as well as massive deployment slowdowns. The method of checking that the `inventory_hostname == item` in a `with_items` loop is O(n^2), which combined with a large number of hosts can balloon memory and CPU load greatly.

With 200 hosts, I've seen ansible use 20GB of ram and 70 load avg just to serialize an `in

[2018-09-21 01:39] klauern commented on #45950
To tie to this, the user that I used to install it, is the same user I am using to attempt to uninstall it.  I'm certain that this user account has permissions to look at and uninstall this package.  I honestly don't know **why** this application put it's in CurrentUser, but it does, and that's leaving me with my head scratching wondering how I can make this work when I can install it just fine, b

[2018-09-21 01:41] jborean93 commented on #45950
Was the application installed in that user's home directory?

[2018-09-21 01:54] klauern commented on #45950
No, the path specified was in an entirely different folder on a different
drive that's attached to the server. E:\something
On Thu, Sep 20, 2018 at 20:42 Jordan Borean <notifications@github.com>
wrote:

--

-Nick

[2018-09-21 03:03] techtonik commented on #38417
A [workaround was](https://github.com/techtonik/workstation/blob/fa1da33e2256e9e8454760fcd18245f44c2d11c8/ansible/i3config.yml) was to check that config contains the block with when filter.
[code]
The downside is that if block text is changed, it will be still added anew and old one will not be removed.

This issue still requires a proper fix.

[2018-09-21 03:30] jborean93 commented on #43462
@iinthesky73 sorry about the lateness for this one, I lost track of it as it was missing the `windows` label. I've raised a PR https://github.com/ansible/ansible/pull/45952 that checks pexpect to make sure it has the `echo` kwarg and fall back to using subprocess if it doesn't. Would be great if you could test it out if you have a chance.

[2018-09-21 05:31] #45281 closed, assigned to nobody

[2018-09-21 06:49] albers opened #45962 "Wrong release tag for release v2.7.0rc3"
The [v2.7.0rc3](https://github.com/ansible/ansible/releases/tag/vX.Y.Z) release is tagged as vX.Y.Z instead of v2.7.0rc3.
The tag and release page should be updated.

[2018-09-21 06:50] albers commented on #45962
Note: updating a tag should not be a problem because it does not modify any commits, so the history stays intact.

[2018-09-21 06:50] ganeshrn commented on #45602
As mentioned in your comment

Since you are comparing the aggregate and non-aggregate time would be interesting to see how much time the playbook take without aggregate.
[code]

Without aggregate playbook will look something like
[code]

Sequence of configuration
Without aggregate:
[code]
With aggregate:
[code]
Since commit is costly operation issuing a single in commit  should given performance b

[2018-09-21 06:51] devendravema opened #45963 "using ansible playbook "paramiko.transport" error when i try to configure Redhat subscription Manager connection using ansible command rhn_register"
##### SUMMARY
No handlers could be found for logger "paramiko.transport" error when i try to configure Redhat subscription  Manager connection using ansible command rhn_register

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rhn_register

##### ANSIBLE VERSION
 Ansible version 2.3.0.0

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

below is the command

[2018-09-21 07:03] julienmary opened #45964 "Problem with folder structure in Best practices"
##### SUMMARY

The advised folder structure refers to  group_vars and host_vars directories located at the same level as the playbooks.
The problem is that ansible will never go to look at variables in those folders placed here, if they are not called explicitly from the command line. Those locations are not parsed by default.

This is either something very confuising in the documentation or a bug

[2018-09-21 07:04] mwperina commented on #44702
Will the fix be included into Ansible 2.7.0? This issue is currently breaking many oVirt Ansible roles, which uses async tasks, for example https://bugzilla.redhat.com/1630865

[2018-09-21 07:07] zikalino commented on #44702
@mwperina are you able to test it? to be honest I was so busy that I couldn't verify it...….

[2018-09-21 07:08] machacekondra commented on #44702
We also hit this issue[1]. I've tried with this patch and it works fine!

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1630865

[2018-09-21 07:18] zikalino commented on #44702
@dagwieers could you merge it?

[2018-09-21 07:18] zikalino commented on #44702
I could do the backport to 2.7 if necessary

[2018-09-21 07:52] umicheers commented on #38116
@michelvio ,
did you able to solve the problem? I am also getting the same error.

[2018-09-21 08:05] mkrizek commented on #45964
cc @acozine

[2018-09-21 08:17] Daniel-Sanchez-Fabregas commented on #38029
Works for me.

[2018-09-21 08:17] #38029 closed, assigned to nobody

[2018-09-21 08:27] sieben commented on #45948
That's a very interesting idea. I think you can take inspiration from the PR I've done to add an Online_user_facts. https://github.com/ansible/ansible/pull/44709/files

Indeed: You need to have a module utils that will manage all the aspects related to connexion to the API server, certificate validation, pagination support and so on... This module is for the common tasks in all your interaction wi

[2018-09-21 08:28] felixfontein opened #45970 "route53: idempotency problems for multiple CAA entries for same record"
##### SUMMARY
When using the `route53` module for CAA records with more than one entry, existing CAA records with the same value are sometimes re-created / overwritten even though the task should be idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
route53

##### ANSIBLE VERSION
[code]
(happens also with 2.6.x and 2.5.x)

##### STEPS TO REPRODUCE
Running the below task at least two

[2018-09-21 09:01] AngelFreak commented on #45602
Okay so here are the results:
[code]
As described, the aggregate makes it a bit faster, but nowhere near the times i would expect reading https://www.ansible.com/blog/accelerate-ansible-networking-aggregate-resources

As it stands right now I'm better of logging into the switch and run the one command that does the same thing:
[code]
Hope it gets better soon :)

[2018-09-21 09:18] ganeshrn commented on #45602
You can use `junos_command` module with `ansible_connection: network_cli` to get around logging to switch and running the command manually :-).  However, this will require additional logic in the playbook to make it idempotent. That's not the case for `junos_l2_interface` module.

[2018-09-21 09:39] Akasurde commented on #37087
@vidkun @trigger305 Could you please check latest patch and let me know if it works for you ? Thanks.

[2018-09-21 09:41] devantoine opened #45971 "Unarchive module errors a path issue when the owner/group don't exist."
##### SUMMARY
Using the unarchive module, when you set values for "owner/group" and one (or both) of them is not present on the node, the error prints an issue about a wrong path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.13.6

##### STEPS TO REPRODUCE
Set the "owner" or "group" fields

[2018-09-21 09:42] rabbbit commented on #19083
+1, that would be cool. Ability to execute a few [independent] roles in parallel sounds great.

[2018-09-21 09:49] AngelFreak commented on #45602
For now i will use the following to configure "slow" tasks.
[code]
If more information, or testing is needed, please let me know.

[2018-09-21 11:05] mark-00 commented on #42090
+1

[2018-09-21 11:44] thatsk opened #45973 "specific tag not working from role using ansible-playbook"
##### SUMMARY
When i want to use specific tag in playbook from role it will run all task which is defined in role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
it wants to just reload service

[2018-09-21 11:46] GuenterS commented on #42532
I used your policy code and it works perfectly with Ansible 2.6.4. Many thanks
I used this code within a playbook:

      policy: "
          {
            \"Version\": \"2012-10-17\",
            \"Statement\": [
              {
                \"Action\":  \"s3:*\",
                \"Effect\": \"Deny\",
                \"Resource\": \"arn:aws:s3:::{{ item.bucketname }}/*\",
                \"Pri

[2018-09-21 11:55] #43012 closed, assigned to nobody

[2018-09-21 12:19] Alexhha opened #45974 "Get error when using with_items and when condition"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Alpine Linux 3.8

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
When we use stack_action other than "create" both tasks should be skipped

##### ACTUAL RESULTS
[code]

If we use just debug without with_items - everything working fi

[2018-09-21 12:58] MichalTaratuta opened #45976 "`when` conditional should considered before evaluating `loop`"
##### SUMMARY
`when` conditional should be considered/checked before `loop`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

when
loop
!component
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.3 LTS
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task should be **skipped**

##### ACTUAL RESULTS

`loop` is evaluated before `when`

[cod

[2018-09-21 13:20] trigger305 commented on #37087
will do @Akasurde  @vidkun

[2018-09-21 13:41] thaumos commented on #45941
@yuwzho @xscript @zikalino

[2018-09-21 14:16] devyanikota opened #45983 "storage: Add gluster_heal_facts module to extract cluster heal status."
##### SUMMARY
This module will add support to extract self-heal status of a cluster and
return the number of files that are still in progress for the healing process
to complete.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Gather heal status of a cluster.
storage/glusterfs

##### ADDITIONAL INFORMATION
In a cluster, when a brick goes offline and comes back online, self-heal needs to be

[2018-09-21 14:18] breeldo commented on #45973
This is intended behavior.

https://docs.ansible.com/ansible/2.6/user_guide/playbooks_tags.html

"You can ONLY filter tasks based on tags from the command line with --tags or --skip-tags. Adding “tags:” in any part of a play (including roles) adds those tags to the contained tasks."

[2018-09-21 14:27] webknjaz commented on #39556
Yeah, I think so. I'd be better to track in in one place keeping the pile of open issues lower :)

[2018-09-21 14:27] #39556 closed, assigned to nobody

[2018-09-21 14:35] mkrizek commented on #45976
[code]

[2018-09-21 14:40] nikaro commented on #16049
I again in a situation where i need to do my ugly hack.

Something like this would be very cleaner:

[code]

I will try to take a look at the set_fact module, but i'm worried that it will be by far out of my development skills.

[2018-09-21 14:41] kyliel commented on #45941
@stoleas, Thank you for reporting the issue. We will look into it as high priority.

[2018-09-21 14:41] sc68cal commented on #45627
So I haven't run a debugger, but my suspicion is that the session has not invoked the `Cli` binary before invoking the `terminal` [commands](https://github.com/ansible/ansible/blob/97d4e5313121b6503e4fcf93ec20f5b9e93f4224/lib/ansible/plugins/terminal/eos.py#L54)

I can replicate this manually with:
[code]

[2018-09-21 14:42] dagwieers opened #45985 "Docs: Create URL to search by reference"
##### SUMMARY
At the moment `seealso` reference by rst `ref` do not translate into the reference title or link.
Especially the link is an issue, as we provide no way to access the document.

The current implementation results in:
[code]

from the following doc source:
[code]
This relates to: https://github.com/ansible/ansible/pull/45949

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansibl

[2018-09-21 14:45] taspotts commented on #43246
Same issue on Ubuntu 14.04 with Ansible 2.6.4

Looks like the version of `pvs` available on trusty does not include the `--select` option that's getting specified by this code in lvg.py:

https://github.com/ansible/ansible/commit/ffee906c5435077f13c8dce56ddf45d3f6ab9069
[code]

[code]

[2018-09-21 14:58] sc68cal commented on #45627
Applying 06797b3 allows this task to complete.

[code]

[2018-09-21 15:08] sivel commented on #45974
When statements execute for every iteration of the loop, not before the loop has happened.

As such you will need to make your values for `with_items` tolerant of this failure like:

[code]

In which case, you can remove the `when` condition completely.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2018-09-21 15:08] #45974 closed, assigned to nobody

[2018-09-21 15:11] sivel commented on #45976
This is the expected behavior.  `when` runs for each iteration of the loop, and not before it.  As such you will need to make your loop tolerant of these types of failures.

This behavior is documented at:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#standard-loops

And at:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-conditi

[2018-09-21 15:11] #45976 closed, assigned to nobody

[2018-09-21 15:13] sivel commented on #45973
As described above this is the intended behavior.  You cannot filter tags from within a playbook, only from the command line.  As such, what you actually did was tag all of your tasks with `reloadservice` through inheritance.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2018-09-21 15:13] #45973 closed, assigned to nobody

[2018-09-21 15:17] sivel commented on #45918
I have confirmed as well that `sshpass` is available on Ubuntu 18.04.

This appears to be a local configuration issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-21 15:17] #45918 closed, assigned to nobody

[2018-09-21 15:31] sivel commented on #45964
The issue is that you have modified the layout from what the documentation states.

The example shows a directory layout like the following, where the `production` and `staging` files are the inventory sources.

[code]

You have however, nested your inventory files into a directory, which would align more correctly with the "Alternative Directory Layout".

As described in the [Working with Invento

[2018-09-21 15:31] #45964 closed, assigned to nobody

[2018-09-21 15:48] dagwieers commented on #44702
@zikalino I can merge it, but I am not allowed to merge it. It needs to be reviewed/approved by one other core member.

[2018-09-21 16:03] dagwieers opened #45989 "Docs: Update copyright statements"
##### SUMMARY
During review we've seen requests to update the date (year) on the copyright statement.
This is an unusual requests as this wasn't done in the past.

I guess we need to decide and document what we should be doing here.

Also see:
- https://github.com/ansible/ansible/pull/35205#pullrequestreview-148800673
- https://github.com/ansible/ansible/pull/45805#pullrequestreview-157714019

###

[2018-09-21 16:13] s-hertel commented on #45971
It looks like there are other issues that need to be resolved (`"msg": "path /var/www/html/project-foobar-new/bin/ does not exist",`) before it attempts to check the owner or group. With a functional play without a user that exists I'm getting a helpful error:
[code]
[code]
[code]
Do you get a better error if you fix the path? needs_info

[2018-09-21 16:22] #45962 closed, assigned to nobody

[2018-09-21 16:27] FragmentedPacket commented on #45948
Thanks for the tips @sieben! I will definitely be asking you to review my work since this is my first big Python/Ansible project and I appreciate you to be willing to review!

[2018-09-21 16:30] #44702 closed, assigned to nobody

[2018-09-21 16:33] #45431 closed, assigned to nobody

[2018-09-21 16:40] s-hertel commented on #45938
Hi @nhojpatrick. You're not running with check mode for that task because passing -C only runs check mode for tasks that haven't directly set `check_mode: no` on the task.

I'm getting the expected behavior by removing `check_mode: no` and passing -C or by setting `check_mode: yes`. It appears like you're getting an error because the /var/invalid directory doesn't exist. Does setting that to a val

[2018-09-21 16:41] devantoine commented on #45971
This is not a path issue this is why I said that the error is missleading.
The bin directory is inside the tarball and the parent directory does
exist. When I fixed the missing user and group on the node the task
executed successfully.

Le ven. 21 sept. 2018 à 18:15, Sloane Hertel <notifications@github.com> a
écrit :

[2018-09-21 16:49] s-hertel commented on #45910
Hi @kgrossjo, thanks for filing the docs report. I'm seeing this documented in 2.6+ https://docs.ansible.com/ansible/2.6/modules/copy_module.html: "As of version 2.3, the mode may also be the special string preserve. preserve means that the file will be given the same permissions as the source file." Please reopen this if it wasn't what you had in mind.

[2018-09-21 16:49] #45910 closed, assigned to nobody

[2018-09-21 17:14] b1ackhawk-uh60 opened #45992 "ec2.py throws error: ImportError: No module named ansible.module_utils"
##### SUMMARY

When attempting to run ec2.py on amazon linux, it fails with the following output:
Traceback (most recent call last):
  File "./ec2.py", line 171, in <module>
    from ansible.module_utils import ec2 as ec2_utils
ImportError: No module named ansible.module_utils

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-09-21 17:15] s-hertel commented on #45831
Looks like you've passed in `cloud_enviroment` instead of `cloud_environment`. Feel free to reopen this if fixing the typo doesn't resolve the problem. Btw - bot is a bot and doesn't read new comments, you'd have to edit your initial comment like it told you to for it to update your issue.

[2018-09-21 17:15] #45831 closed, assigned to nobody

[2018-09-21 17:17] s-hertel commented on #45892
@troyfontaine Please feel free to open a pull request if you have a solution!

[2018-09-21 17:34] sivel commented on #45992
The `ec2.py` dynamic inventory script has a dependency on ansible itself, and requires ansible to be accessible to the python bin used to invoke the dynamic inventory script.

We are deprecating the contrib dynamic inventory scripts in place of the newer inventory plugins.

You might want to look into using the `aws_ec2` inventory plugin:

https://docs.ansible.com/ansible/latest/plugins/inventory.

[2018-09-21 17:34] #45992 closed, assigned to nobody

[2018-09-21 18:11] acozine commented on #45989
So the questions are:
- what dates should be included the copyright statements on module documentation?
a) original year
b) current year
c) range <original>-<current>
- if b) or c), how vital is is that we update all copyright statements at the beginning of the new year?

[2018-09-21 18:27] jocelynj commented on #45935
That's strange - I will retry later with a completely new VM with Ubuntu 18.04.

In fact, instead of removing ansible package, it might be easier to make local interfaces_files.py failing with his path:
[code]

[2018-09-21 18:36] ericdost commented on #45493
I just discovered today that you cannot have hosts as just an integer as well.  It breaks the groupings.

[2018-09-21 18:36] mattclay commented on #45935
I'm able to reproduce with that change. I'm looking into why the test is using the wrong file.

[2018-09-21 18:46] acozine commented on #45989
Quoting Richard Fontana from the RH legal team:
[code]

[2018-09-21 19:16] saichint opened #46000 "nxos_banner not idempotent"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_banner
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N3K running 6.0(2)A8(8)

##### STEPS TO REPRODUCE

* On older versions of n3k, the nxos_banner tests are not idempotent. This is because on these versions, the structured output is not supported and the current code is using th

[2018-09-21 19:49] mattclay commented on #45935
@jocelynj Correction, I had edited the wrong file. I still cannot reproduce the behavior you're seeing. If I modify the system version of interfaces_file, the tests still pass. If I modify the local version the tests fail as expected.

[2018-09-21 19:56] jamesdh commented on #27520
Unfortunately since updating to a release that contains this fix, `meta: reset_connection` now gives the following:

[2018-09-21 20:09] thatsk commented on #45973
Why we need include this feature when we have long playbook or role and we want to filter multiple task within playbook itself.
Is there any specific reasons?

[2018-09-21 20:11] thatsk commented on #45973
Is it going to be this feature in any ansible version

[2018-09-21 20:23] danielmotaleite opened #46004 "ansible fail to find module in "library" path if its a directory"
I'm trying to use hashivault module and it works fine when installed in the system module path:

`/usr/lib/python2.7/dist-packages/ansible/modules/hashivault`

But i want to make this more portable and not require users to install software, so i tried to set the `library` to the extras/plugins/modules , but it fails to find the module

As per https://github.com/ansible/ansible/issues/15432, i trie

[2018-09-21 20:34] acozine commented on #32541
Thanks @richlv for reporting this issue. I believe it is fixed - at least, I can't find any pages that are broken this way any more. Feel free to re-open or reach out on IRC if you still see this issue anywhere.

[2018-09-21 20:34] #32541 closed, assigned to nobody

[2018-09-21 20:47] acozine commented on #31900
@bcoca I see `ansible_limit` in the [list of internal_vars](https://github.com/ansible/ansible/blob/ddb3764039eb18cbeaf90269901fb57919389999/lib/ansible/cli/inventory.py#L41) but not in your [recent vars list PR](https://github.com/ansible/ansible/pull/43171/files).

[2018-09-21 21:14] webknjaz commented on #37148
@geerlingguy it looks like nobody picked it up by now: https://github.com/ansible/ansible/blob/devel/.github/BOTMETA.yml#L114-L119

Do you want to maintain it?

[2018-09-21 21:35] dagwieers commented on #45989
@acozine Not sure where we should put this information. Maybe in a FAQ somewhere, just as a reference (but not in the development documentation as most people wouldn't care anyway).

[2018-09-21 21:50] dagwieers commented on #26034
Alright, I was wondering what this ticket was about and reloaded locally-build documentation. I found it was loading the following external or non-existing files:
- It tries to load: file:///www.redhat.com/dtm.js ?
- It loads: https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700
- It tries to load: file://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modern

[2018-09-21 22:07] s-hertel commented on #45828
Hi @jimr6007, I believe #46008 will fix caching with jsonfile and could be backported for 2.7.x. Can you test that it works for you?

Caching using databases hasn't been added, but I'm working on a pull request for 2.8 for that: #40105.

[2018-09-21 22:09] rambleraptor commented on #40967
Thanks a lot for finding this! I've made a fix on our end and I'll be sending over a PR with this change shortly.

[2018-09-21 22:10] rambleraptor commented on #45896
Hi! Thanks a lot for identifying this! This was actually the bug that (I think) was causing your idempotency issues as well. I'm going to be sending out PRs with this fix early next week.

[2018-09-21 22:12] dagwieers commented on #26034
It appears the above is done on purpose. The only thing standing out is the modernizr.min.js which is loaded external and from local disk.

[2018-09-21 22:16] nkakouros opened #46009 "gcp_compute_instances: disk.source is not checked for its contents"
##### SUMMARY

I had a key of `seflLink` (not `selfLink`) in for `disks.source` and ansible did not complain about that. Of course the request failed as `disk.source` did not exist in the request send to google.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch

##### STEPS TO REPRODU

[2018-09-21 22:17] ericsysmin commented on #28167
I ran into this as well. Looks like you need /katello/api/v2/ping  when using those foreman-ansible-modules from that repo

[2018-09-21 22:19] sblask opened #46010 "get_url keeps on "changing" unchanged file"
##### SUMMARY
I've got the following in my playbook:
[code]
After a recent upgrade of Ansible 2.4 to 2.6.4 I see this task marked as changed every time even if the source file doesn't change. Using --verbose gives me the following:
[code]
`checksum_dest` is the same I get when I run `sha1sum` on my command line

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[co

[2018-09-21 22:20] dagwieers opened #46011 "Docs: Improve ansible-doc visually"
##### SUMMARY
The current output of ansible-doc is rather plain and visually painful.

Here are a few ideas to improve the output:
- Add support for colors, bold, underline, etc.
- Improve the option-listing
- Better indicate require options
- Include parameter type information
- Make it look like man-pages more

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible-doc

##### ANSI

[2018-09-21 22:38] dmurarasu opened #46014 "nxos_aaa_server_host - issue when using new type 7 encrypt"
##### SUMMARY

Once a tacacs/radius server is configured on the device with a key, if you run the module again for the same server and with new type 7 encrypt key it doesn't configure the new type 7 key. It sends the command without type 7 in front which causes the switch to create new hash.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_aaa_server_host

##### ANSIBLE VERSION

[code]

[2018-09-21 22:39] dmurarasu commented on #46014
Will create a new PR shortly

[2018-09-21 22:55] Im0 commented on #44960
@Qalthos I think I was using wait_for improperly.  I've abandoned that as a solution, however, still having no luck with long running ios tasks:

[code]

The output doesn't return:

[code]

Any suggestions?  Thanks.

[2018-09-21 23:10] dagwieers commented on #27446
We need to fix this, so that the user gets a proper error message with a hint to this solution.
And we should add this to the documentation as well.

[2018-09-21 23:23] #45941 closed, assigned to nobody

[2018-09-22 00:12] nitzmahone commented on #45941
The fix for this should be included in 2.7.1 and 2.6.5...

[2018-09-22 00:52] stobias123 opened #46022 "JIRA Module required params bug"
##### SUMMARY
Description field is not available on issue create screen. Description is required for module to run create operation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jira

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Fdora 28

##### STEPS TO REPRODUCE
Create an issue, disable the "description" field on the create screen.
Try to create a ticket with below jira syntax.

[

[2018-09-22 00:52] Im0 commented on #44960
Resolved by a suggestion from mcgoo928 on slack.

[code]

[2018-09-22 00:52] #44960 closed, assigned to Qalthos

[2018-09-22 01:41] mattclay opened #46024 "Failing integration test sts_assume_role"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

sts_assume_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test sts_assume_role is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration sts_assume_role --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULT

[2018-09-22 01:42] mattclay commented on #46024
Test disabled in commit 7d8f1a7aae45e77ab5f2c0a033009b1c8a970f4e

[2018-09-22 02:08] ptux commented on #46010
I couldn't reproduce this.

**first**
[code]

**second**
[code]

[2018-09-22 06:39] Akasurde commented on #26030
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-09-22 06:39] #26030 closed, assigned to Akasurde

[2018-09-22 06:58] andreaso commented on #46010
Hej Sebastian!

I happened to take a look in https://github.com/sblask/dotfiles/blob/master/ansible/completions.yml, and I would say that the following part fits with the behavior you are seeing.

[code]

Especially given that `13d853efd87973e8fd648e3df7e24e76d3b5abbb` is the sha1sum pre patch, and `addb93692dd1abd5f270f23bad546c9d819dc533` being the sha1sum post patch.

[2018-09-22 08:20] thatsk opened #46033 "Allowing limiting tags from within playbook"
##### SUMMARY
When i want to use specific tag in playbook from role it will run all task which is defined in role.

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
it wants to just reload ser

[2018-09-22 10:37] ptux commented on #46010
+label needs_info

[2018-09-22 10:40] ptux commented on #44494
bot_status

[2018-09-22 10:42] ptux commented on #46010
notabug

[2018-09-22 10:47] #46010 closed, assigned to nobody

[2018-09-22 10:53] ptux commented on #29861
wontfix

[2018-09-22 10:59] #29861 closed, assigned to nobody

[2018-09-22 14:40] kgrossjo commented on #45910
Thanks, @s-hertel , yes the 2.6 documentation is great.  Sorry for missing that one.

[2018-09-22 15:27] gator2003 opened #46040 "aws_s3 module doesn't honor the overwrite directive (yes or different)"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7.5, AWS, EPEL enabled, boto, boto3, botocore installed and at the latest versions as of 9/22/2018. SELinux is enabled (but turning it off had no effect). The interactions with AWS are based on an IAM role.

##### STEPS TO REPRODUCE
ansib

[2018-09-22 16:03] flowerysong commented on #46040
Not a bug; the output doesn't include 'overwrite' because it's from the file task, not the aws_s3 task. You probably meant to have `path: /tmp/zips` there, not `path: /tmp/zips/jdk.rpm`.

[2018-09-22 16:16] devildog820 commented on #46040
My fault, I tried to extract the play into a single play playbook. I updated it with the proper playbook.

However, thanks to @flowerysong I now know that overwrite: different won't work when FIPS mode is enabled. I wonder if that is why overwrite: always fails too.

[2018-09-22 18:48] dagwieers opened #46041 "Change how ansible-test selects python version(s)"
##### SUMMARY
So currently ansible-test (units) seems to want to perform its testing against a list of python versions, starting with python2.6. Which obviously fails (on most systems).

Users of this tool would be better off if the tool would pick the default python version on their system, so that it works out of the box without the need for specifying a specific python version.

And leave speci

[2018-09-22 19:44] mrextraslow opened #46043 "Module lineinfile produces error message if file is only one line long and line: matches"
##### SUMMARY

The use of the Ansible module lineinfile results in an error even though the playbook is syntactically correct.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux 9.5 (Stretch)

##### STEPS TO REPRODUCE

I create a very simple play in a file test.yml and then I start i

[2018-09-22 21:53] Redsandro commented on #35426
This issue looks similar to the one I just encountered.

For me, ansible did not apply `user:group` to **any** directory extracted from a `.tar.gz` file.

I can understand that this is not technically a bug, but in reality there are directories created for which I specified `owner:group`. I can't do much more than that. So I would vote for counting this as a bug.

The solution by @b-long works for

[2018-09-22 22:08] sblask commented on #46010
Ok, that was stupid from my part, the file has actually changed. However, from reading the documentation, the behaviour I get is still not the one I expect. As I don't specify `force`(and the default is no) and I did specify a file name as `dest`, not a directory, the file should not be downloaded(see documentation for `force`). Looking at the file contents should only happen when providing a chec

[2018-09-23 02:07] dpmerron-ltd commented on #29661
Nice work. I’ve actually cloned your work and made some changes to handle helm init & setting context etc.

Nearly finished and will submit a PR tomorrow!

[2018-09-23 03:08] andreaso commented on #46010
True.

The `force` logic got broken by https://github.com/ansible/ansible/pull/43342.
Recently fixed in https://github.com/ansible/ansible/pull/45495.

[2018-09-23 03:46] JrodJ commented on #33021
My vote would be that it matches AWS' requirement.  Thanks!

[2018-09-23 03:50] ptux commented on #46010
I'm sorry, it's my mistake.

 #45495 is backported to 2.6, so it will be OK in the next release.

[2018-09-23 05:30] masato-asahara commented on #43884
I am hitting this issue as well on Oracle Linux 6.9 with Ansible 2.6.3. The [workaround](https://github.com/ansible/ansible/issues/43884#issuecomment-419650710) shared by @AnoopAlias works to us.

[2018-09-23 08:59] ellis commented on #44970
I tried the suggestion by @schast, but I'm still getting the same error.

[2018-09-23 12:32] aleshav commented on #39733
Duplicate of https://github.com/ansible/ansible/issues/21088? Could be reproduced in Ansible 2.6.4. as well.

[2018-09-23 13:09] zlbabe opened #46047 "openssl_pkcs12 error: name must be a byte string or None"
##### SUMMARY
`openssl_pkcs12` issue with `friendly_name` option.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Ubuntu 18.04.1 LTS

##### STEPS TO REPRODUCE
Execute this playbook.
[code]

##### EXPECTED RESULTS
successful creation of the bundle `test.p12`

##### ACTUAL RESULTS
[code]
#####  Additional information
Libraries v

[2018-09-23 14:43] Akasurde commented on #46047
resolved_by_pr #46048

[2018-09-23 14:43] Akasurde commented on #46047
@zlbabe Thanks for reporting this issue. Could you please check if above PR resolves your issue ? Thanks.

needs_info

[2018-09-23 15:10] zlbabe commented on #46047
yes, I confirm that the above PR resolves this issue.
Still this modules has two other issues.
##### Issue one:
the `friendly_name` seems to be required.
try to remove the `friendly_name` in the playbook that I posted above and you'll get this error
[code]

##### Issue 2
`action: parse` does not work.
Add this section to the playbook above to reproduce it
[code]
you'll get this error.
[code]
Note:

[2018-09-23 16:09] Akasurde commented on #46047
cc @gdelpierre

[2018-09-23 16:42] eklitzke opened #46050 "gcdns_zone module should support DNSSEC configuration"
##### SUMMARY
Google DNS has supported DNSSEC for zones for about a year now, but the `gcdns_zone` module does not support this zone attribute.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`gcdns_zone` module

##### ADDITIONAL INFORMATION
Google documentation for this feature can be found [here](https://cloud.google.com/dns/dnssec) and [here](https://cloud.google.com/dns/dnssec-config).

[2018-09-23 17:34] newtonne commented on #27493
The [`git_config`](https://docs.ansible.com/ansible/latest/modules/git_config_module.html) module is suited to this.

[code]

[2018-09-23 17:56] raymyers commented on #29322
I've run into this issue as well. Looks like the `monit summary` format has changed again in the latest Monit version.

[code]
Called with the -B option, the formatting is simpler.

[code]

[2018-09-23 18:59] NotAFile opened #46052 "YAML extra vars don't appear to work"
##### SUMMARY
When specifying extra vars in yaml format, they remain undefined

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Testing

##### STEPS TO REPRODUCE

Run below playbook with `ansible-playbook test.yml -e "test_var: hi"`

Compare with `ansible-playbook test.yml -e "test_var=hi"`

[code]

[2018-09-23 19:00] rinoalpha0 commented on #45210
Hi Team,

any update on this will be highly appreciated

[2018-09-23 19:17] paulcalabro commented on #18417
I'm running into this issue as well. My OS specific task files, which are similarly named in my main role as well as the role it's including, are being included from the main role, which is causing a loop.

[2018-09-23 19:59] KellerFuchs commented on #41020
duplicate_of 25070

[2018-09-23 20:13] KellerFuchs opened #46053 "apt_key fails to add new OpenPGP packets to existing keys"
##### SUMMARY
If a primary OpenPGP key already exists under `/etc/apt/trusted.gpg.d`, and `apt_key` is called with `data` containing new key packets (for instance, a new signing subkey, or a change in expiration date) it will simply return `ok` (no change) and fail to update the repository key.

This seems to be the root cause of another open bug against apt_key, #25070 (duplicated as #41020).

##

[2018-09-23 23:00] depereo commented on #45090
Hi,

Reproduced on 2.7rc3 - I note that it's now much harder to reproduce this issue, requiring about 60 attempts before seeing the failure when in 2.5.8 it would occur nearly one in eight times.

I created a playbook that just collects facts sixty or so times in a row to pick up the below trace.

[code]

[2018-09-24 04:10] davedittrich commented on #34281
+1 on implementing a "when" conditional.

[2018-09-24 04:33] justjais commented on #45210
@rinoalpha0 thanks for raising the respective issue, I shall check and get back with the resolution asap.

[2018-09-24 04:36] justjais commented on #45090
@depereo Thanks for copying the complete verbose output, shall try to reproduce and check the scenario again.

[2018-09-24 04:54] justjais commented on #45210
@rinoalpha0 thanks for raising the respective issue, I shall check and get back with the resolution asap.

[2018-09-24 05:30] Akasurde commented on #45817
@Vaygh Could you please try @cigamit suggestion and let me know if it works for you ? Thanks,

needs_info

[2018-09-24 05:48] arno1704 commented on #45834
Thanks for the tipp - but these logs get created after i power on the vm - thats too late - then the error allready happened.
If i clone the VM with one existing nic without sections networks: and customization: everything is ok - the checkbox at "connect at poweron" is checked
if i add the networks: section to the same vm (without customization-section) after cloning finished the checkbox "connec

[2018-09-24 06:31] justjais commented on #45210
@rinoalpha0 thanks for logging your observation. I have tried to reproduce the scenario but I am unable to with similar playbook you have mentioned in the bug report:
[code]
I am able to copy the `show run` stdout[0] config to the respective `txt` files and I have tried with two devices at one time. Can you please

[2018-09-24 06:51] justjais commented on #45210
@rinoalpha0 thanks for logging your observation. I have tried to reproduce the scenario but I am unable to with similar playbook you have mentioned in the bug report:
[code]
I am able to copy the `show run` stdout[0] config to the respective `txt` files and I have tried with two devices at one time.

Can you please run the same again with `-vvvv` option and paste the complete verbose output here,

[2018-09-24 07:12] Vinutha-Garimella opened #46054 "docker installation"
ISSUE TYPE
Documentation Report

COMPONENT NAME
apt_key

ANSIBLE VERSION
ansible 2.6.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/Users/user1/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.6.4/libexec/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansibl

[2018-09-24 07:48] rinoalpha0 commented on #45210
[ansiable.log](https://github.com/ansible/ansible/files/2410016/ansiable.log)
@justjais - Please find attached required logs attached.
Its weird same play book is working for other device having same firmware and model. but not working for one.
I am suspecting some problem with waiting time between the command show run"and capturing the output". As it requires some time to on terminal to capture t

[2018-09-24 08:48] rinoalpha0 commented on #45210
@justjais - now getting "MODULE FAILURE" attaching log for reference.

Kindly suggest.
[ansiable2.log](https://github.com/ansible/ansible/files/2410178/ansiable2.log)

[2018-09-24 09:50] julienmary commented on #45964
Well, thanks to clarify this, was my bad indeed :-)

[2018-09-24 09:55] justjais commented on #45210
@rinoalpha0 thanks for your confirmation, can you please increase the timeout value to `300` just to ensure that the respective issue is not timeout related.
Also, can you please add/enable `log_path` in your `ansible.cfg` file like:
[code]
and then run the play and paste the ansible log file generated here.

[2018-09-24 10:33] dagwieers commented on #45912
@jborean93 We were using `ansible_winrm_transport: credssp,ssl,plaintext` so I don't understand why it falls back to ntlm in this case.

We used this:
- ntlm-auth v1.2.0
- requests-credssp v0.0.1

I updated request-credssp to v1.0.0, let's hope for the best. Thanks !