[2015-10-17 13:42] alflanagan commented on #12785
Which I would realize if I'd properly checked the revision history. I've created a pull request with a clarification for those annoying OCD types who have to actually check these things. ;-)
Thanks.

[2015-10-17 13:42] #12785 closed, assigned to nobody

[2015-10-17 14:16] jimi-c commented on #12609
No problem! Glad it wasn't just me :)

[2015-10-17 14:17] jimi-c commented on #12779
@paul-vasiliev no, because you may care specifically if it was skipped or failed (which many people do).

[2015-10-17 15:30] #12784 closed, assigned to jimi-c

[2015-10-17 15:30] jimi-c commented on #12784
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-17 15:51] #12722 closed, assigned to jimi-c

[2015-10-17 15:51] jimi-c commented on #12722
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-17 16:45] #12524 closed, assigned to jimi-c

[2015-10-17 16:45] jimi-c commented on #12524
# Closing This Ticket (again)

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for use

[2015-10-17 16:46] jimi-c commented on #12554
@x7032335 are you saying this bug is resolved?

[2015-10-17 22:27] mminklet opened #12808 "Command module removing characters from rvm command"
Seemingly bizarre issue when I try to run an rvm command:
`rvm 1.9.3@omega.zsl do compass compile`

When I run this in a command task, it actually runs
`rvm ' ' do compass compile`

Is there something I'm not aware of here that means it is stripping those characters?

[2015-10-18 00:49] tetherit commented on #12259
Do NOT follow these instructions. They are incorrect and dangerous:

[code]

Once this command is ran, all the apps start crashing and you have to hold the power button for 5 seconds to power down your Mac. This is a Macbook Pro 13" Retina running El Capitan.

These are the defaults on El Capitan:

[code]

I tred this but it also does not help :( -

[code]

[2015-10-18 01:49] tetherit commented on #11692
This is unfortunately not fixed :(

[code]

This however runs the requested task in Ansible 1.9.4 :(

I'm using Ansible from git (2015-10-18 02:40 +0100)

[2015-10-18 02:07] tetherit opened #12809 "include statement does not respect --tag in Ansible 2.0"
I have this in my task file:

[code]

However, I see this output:

[code]

I'm using latest Ansible from git.

[2015-10-18 02:22] tetherit commented on #12809
Ah, it seems this happens because includes do not take --tag into account. So if you have an include, in a task file that should be skipped, it will run the include statement anyway.

[2015-10-18 07:40] luhkevin opened #12810 "Delobj"
The documentation says that "delobj" is still a valid mode for the s3 module, but I just got this error:

msg: value of mode must be one of: get,put,delete,create,geturl,getstr, got: delobj

I'm on ansible version 1.9.4

[2015-10-18 07:52] luhkevin commented on #12810
Okay, so tried using the "delete" mode on a dummy-object...it deleted the entire bucket instead.

Is there currently a way to delete objects? This is somewhat urgent if not...

To reproduce, I just had this in a playbook:

`- name: Dummy delete`
`s3:    bucket=dummy-bucket object="/dummy_folder"    mode=delete    aws_access_key="{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"    aws_secret_key="{{ looku

[2015-10-18 10:59] adeelshahid commented on #3103
+1

[2015-10-18 12:59] driller23 opened #12811 "win_iis_website: failed when delete ('absent') web site"
Hi All,

On Ansible 2.0 at win_iis_website module there is a bug when running absent web site

the command:

[code]

and the exception i got:

[code]

so i have copied the win_iis_website to my local library and changed several things:
1. add new function:

[code]

and at the end of the powershell:

[code]

PS: i think the function should be part of powershell.ps1 module util

[2015-10-18 14:16] jimi-c commented on #12808
Hi @MichaelMallett, with which version of Ansible are you seeing this error?

[2015-10-18 15:53] ashemedai opened #12812 "os_server: unsupported parameter for module: public_ip - documentation specifies it"
Not sure whether it is a bug or a documentation remnant, so excuse a clearer issue.

http://docs.ansible.com/ansible/os_server_module.html lists:
`public_ip - Ensure instance has public ip however the cloud wants to do that`

Running with this option specified yields:
`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "unsupported parameter for module: public_ip"}`

I am not

[2015-10-18 16:27] wirerydr opened #12813 "Handler gets notified, but not executed on target host(s)"
Hello all;

My ansible version is:

[code]

I am testing against 2 target hosts: 1) a CentOS-7.1 VM, and  2) a Fedora-22 VM.

I am crafting a play that deploys some configuration for a daemon (chrony).  It utilizes a handler to restart chrony if the config has changed.

The play appearing to succeed without errors, with the output including "NOTIFIED HANDLER restart chronyd" once for each testbox.

[2015-10-18 16:41] sivel commented on #12812
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-18 16:41] #12812 closed, assigned to nobody

[2015-10-18 17:40] ghost opened #12814 "variable from first play does not carry over to later plays"
Issue Type: Bug Report
Ansible Version: 1.9.4
OS: Ubuntu 14.04

In the first play, I am trying to slurp a file's content on server A and store it in a variable. In the second play, I want to write out the contents of that variable to a file on server B.

inventory file:

<pre>
[serverA]
172.19.99.15
[serverB]
172.19.99.16
</pre>

playbook:

<pre>

---
- name: part one of playbook
  hosts: serverA

[2015-10-18 17:41] mminklet commented on #12808
The latest from pip, not at the terminal now but think it's 1.9.4

On Sun, Oct 18, 2015 at 3:17 PM, James Cammarata notifications@github.com
wrote:

[2015-10-18 17:54] sivel commented on #12814
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-18 17:54] #12814 closed, assigned to nobody

[2015-10-18 18:55] kettlewell opened #12816 "Delegate_to hangs in v2.0"
**Issue Type:**
Bug Report

**Ansible Version:**
v2.0.0-0.3.beta1-70-g71a1a3c

**Ansible Configuration:**
mostly default

**Environment:**
Ubuntu

**Summary:**
Delegate_to appears to be causing the playbook to hang indefinitely.

Possibly related to #12527 , which was fixed by 3bd71d06195cdce01a85257545723e221f9c9698

Here's the inputs:

[code]

and the output:

[code]

There's additionally a long

[2015-10-18 19:29] #9982 closed, assigned to nobody

[2015-10-19 03:35] msmagnanijr commented on #1341
Thanks!

[2015-10-19 06:22] mgedmin opened #12817 "[v2] delegate_to runs task on local machine instead of Vagrant VM"
**Issue Type:** Bug Report
**Ansible Version:**

**Ansible Configuration:**

[code]

and the inventory file has

[code]

**Summary:**

I've a role that sets up SSH authenticated backup pushing between two hosts.  One of the tasks is creating a dedicated user:

[code]

I'm testing this with a couple of Vagrant virtual machines, called `trusty` and `precise`.  `trusty` is the target, `precise` is th

[2015-10-19 06:31] mgedmin commented on #12817
**Steps to Reproduce:**
- Get an Ansible VM running (e.g. `vagrant init ubuntu/trusty64 && vagrant up`)
- Create an inventory file called `hosts`, e.g.

[code]
- Create a simple playbook `test.yml`:

[code]
- Run `ansible-playbook -i hosts test.yml -vvv`

**Expected Results:**

(because I didn't bother setting up SSH keys for successful Vagrant auth)

[code]

**Actual Results:**

[code]

(`platona

[2015-10-19 06:32] sharwariphadnis opened #12818 "Can't send JSON code using uri module"
I am trying to send a JSON payload using uri module through body parameter. The variables {{ network-name }} and and {{ IP1 }} are imported from config.yml.

I have defined body in vars. The json code which I am trying to print is getting created properly using (debug: var={{ body | to_json}}). But, the output which I am redirecting to the dest file is showing errors. What could be the reason that

[2015-10-19 06:40] mgedmin opened #12819 "[v2] delegate_to shows incorrect delegated host"
**Issue Type:** Bug Report
**Ansible Version:**

**Summary:**

When you've a task running that delegates somewhere else, Ansible shows it as "localhost -> localhost", instead of "localhost -> somewherreelse".

This doesn't happen _always_, but it's very easy to reproduce.

**Steps to Reproduce:**

Assume you've got a couple of machines called 'fridge' and 'muskatas'.
- Create an inventory file `ho

[2015-10-19 07:08] ghost opened #12821 "can you support python 3.4"
thank you

[2015-10-19 09:16] mathieumd commented on #11055
I did test it with CentOS and Red Hat machines, and I do confirm the above patch (ie. replacing all `LC_*` by `LC_ALL = C`) make Ansible works well from a localized host (`fr_FR.UTF-8` on mine).

Is it going to be merged?

[2015-10-19 10:38] adragomir commented on #12809
@jimi-c @hackeron seems related to / duplicate of this, I think: https://github.com/ansible/ansible/issues/12793

[2015-10-19 10:47] amenonsen opened #12823 "v2 performance regression: 12df9f2e made non-destructive tests take ~2x as long"
Before that commit, `make non_destructive` used to run consistently on my laptop in ~13m; for a while, it used to take ~28m to finish, but with devel right now, it takes 21m.

[2015-10-19 12:06] denisbr commented on #9034
+1
I tried looking into how to fix the code for this, but due to the way the TASK: bit is printed prior to checking (?) if the task should be skipped it was not trivial to create a patch for me with limited python skills.

[2015-10-19 12:19] pujan14 opened #12824 "ansible-vault decryptes unrelated files"
ansible-vault decrypts all host and group variables included in an inventory. There are two problems with that.
1) This process is serialized so it takes long time.
2) There is no option to disable this behavior so it would only decrypt files related to hosts/groups used in playbook and not all of them.

[2015-10-19 12:46] drybjed opened #12825 "'group_by' does not work with remote hosts on Ansible devel"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible devel
##### Ansible Configuration:

Default `ansible.cfg`
##### Environment:

Debian, Ubuntu
##### Summary:

`group_by` module doesn't work with remote hosts in inventory. Works on Ansible 1.9.
##### Steps To Reproduce:

Example inventory:

[code]

Example playbook:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2015-10-19 13:22] mscherer commented on #12821
Can you be more explicit, and explain what is not supported ?

[2015-10-19 13:23] mscherer commented on #12810
Since this is a module issue, it should be filled against https://github.com/ansible/ansible-module-core rather than this repository. Can you reopen the bug there ?

[2015-10-19 13:40] jimi-c commented on #12809
Yes, this is "as expected", and not an issue in 2.0. As @adragomir, this is also the underlying cause of #12793, which I'm looking at now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansibl

[2015-10-19 13:40] #12809 closed, assigned to nobody

[2015-10-19 13:44] sivel commented on #12810
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-19 13:44] #12810 closed, assigned to nobody

[2015-10-19 13:46] jimi-c commented on #12818
Hi @sharwariphadnis, Ansible 2.0 (devel branch) introduces the `body_format: json` option, which fixes this bug. You can grab the module from github and replace your version of it to get this new feature ahead of the 2.0 release if you like.

Per our normal policy, we close issues on Github when they are resolved in the devel branch, so we will be closing this now.

If you continue seeing any prob

[2015-10-19 13:46] #12818 closed, assigned to nobody

[2015-10-19 13:48] jimi-c commented on #12821
We are working on making the core code support Python 3.x, however it is a future goal and will not be finished for 2.0 (we also have to make sure every module we ship runs on python 3 too).

In the future, please direct general questions like this to the ansible-devel mailing list.

Thanks!

[2015-10-19 13:48] #12821 closed, assigned to nobody

[2015-10-19 13:49] jimi-c commented on #12823
I am going to close this, as we already have at least one performance-related issue, so we can keep track of things there.

Thanks!

[2015-10-19 13:49] #12823 closed, assigned to nobody

[2015-10-19 13:50] jimi-c commented on #12824
@pujan14 all files are decrypted because there is no way to tell where the source of a variable is otherwise.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://group

[2015-10-19 13:50] #12824 closed, assigned to nobody

[2015-10-19 14:10] pujan14 commented on #12824
@jimi-c Is it not possible that you only decrypt variables of hosts and groups that are specified in playbook? If it doesn't make sense to do it always maybe with a option which once enabled would only read host_vars and group_vars of hosts specified.
This is a big issue for me as my inventory is continuously growing this results in continuously increasing start time for ansible. This seriously re

[2015-10-19 15:17] bcoca commented on #12794
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2015-10-19 15:17] #12794 closed, assigned to nobody

[2015-10-19 15:53] bcoca commented on #9034
fixed via a09ce4bd8734421785b1e46f7bb15a15848d59dc, now you can use the 'skippy' callback to ignore all skips

[2015-10-19 15:53] #9034 closed, assigned to nobody

[2015-10-19 15:55] jimi-c commented on #12824
@pujan14 in which version of Ansible are you seeing this? In devel (2.0), host/group vars files and vars_files are only read if they are needed.

[2015-10-19 16:49] bcoca commented on #11055
submit a PR, right now there is nothing to merge

[2015-10-19 17:00] goozbach commented on #12524
Looks good! THANKS!

[2015-10-19 17:42] #12793 closed, assigned to jimi-c

[2015-10-19 17:42] jimi-c commented on #12793
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-19 17:50] cortopy opened #12829 "No error when illegal variable is used in loops"
I was trying to debug why one of my variables was not being used by `lineinfile`

If I have

[code]

Ansible passes the variable as a string in the following format

[code]

It was only when I tried the variable on its own (i.e.: not using `with_items`) that I got the reason why the variables weren't being used: hyphens are not allowed in variables.

Would it be possible to create this error when

[2015-10-19 17:50] smiller171 commented on #10792
The easy workaround for this is to point at /dev/null for the template. I'm currently doing this in production.

[2015-10-19 18:57] #12825 closed, assigned to jimi-c

[2015-10-19 18:57] jimi-c commented on #12825
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-19 19:00] fields commented on #9556
This does not work if the content needing to be copied contains significant leading whitespace, which all gets stripped in the destination.

i.e.:

[code]

yields:

[code]

I've tried using the chomp block as well, and can't seem to find any combination that doesn't result in the nested block not getting flattened.

[2015-10-19 19:18] quentinsf commented on #12594
In case it's a useful datapoint, my El Capitan machine will only connect to my ubuntu VMs if I either (a) set pipelining off or (b) set transport to paramiko.

But I may have a slightly unusual Python installation - am rebuilding things to see if that helps.

[2015-10-19 19:18] jimi-c commented on #12829
@cortopy with what version are you seeing this?

[2015-10-19 20:36] jimi-c commented on #12813
Hi @wirerydr, can you provide any more details about your setup? For example, is the handler in the same role as the tasks which notify it? A gist of a full example that reproduces this simply would be very helpful.

[2015-10-19 20:53] #12819 closed, assigned to jimi-c

[2015-10-19 20:53] jimi-c commented on #12819
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-19 21:43] DanyC97 commented on #12480
+1

[2015-10-19 21:47] stucki commented on #9034
Thanks for this. However, I'm not happy yet. Please see where the issue was continued from: #3324. It contains some examples where this makes sense, e.g. for registering variables with results from a shell command. For example, if I want to hide the output of a "grep" command, I may still want to see other skips. Therefore, skip and hide are not the same.

Besides this, I also think that this shou

[2015-10-19 21:52] bcoca commented on #9034
They are different features, this ticket was to avoid displaying skipped tasks, #3324 was to hide tasks selectively. I don't see us implementing this currently, but you should be able to create your own callback plugin that does this.

[2015-10-19 21:56] stucki commented on #9034
Thanks for the feedback. Can you reopen #3324 then?

[2015-10-19 22:03] bcoca commented on #9034
why? I just stated I don't see us adding this feature.

[2015-10-19 23:43] bcoca commented on #12811
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2015-10-19 23:43] #12811 closed, assigned to nobody

[2015-10-19 23:46] bcoca commented on #12777
ah, that was a recent update, I was not aware of cc @abadger

[2015-10-19 23:53] #12777 closed, assigned to bcoca

[2015-10-20 00:56] zstarer commented on #9260
ad hoc works for me, doesn't work in a .j2 template at the moment.

on 1.8.4

[2015-10-20 01:58] Etherdaemon opened #12831 "AWS IAM module - China Region - The security token included in the request is invalid."
**Issue Type:**

Bug Report

**Ansible Version**
ansible --version
ansible 2.0.0 (detached HEAD 5ae74f7d38) last updated 2015/10/18 19:39:15 (GMT +1000)

Running Ansible from source - v2.0.0-0.3.beta1

*\* Ansible Config Changes:**
inventory      = china_aws_inventory/ec2.py
ansible_python_interpreter = /usr/local/bin/python

**Environment:**
OSX 10.10.5
Running Ansible from source - v2.0.0-0.3.be

[2015-10-20 01:59] wirerydr commented on #12813
Hi there @jimi-c - thanks for looking into this.

My control server's directory-structure is as follows:

[code]

There are other task include files than the ones I've indicated but for the purposes of testing this I have commented them out in `/etc/ansible/testdomain/roles/common.yml`, so they can be considered uninvolved.  Same goes for one non-utilized handler in `/etc/ansible/testdomain/roles/

[2015-10-20 02:16] ghost opened #12832 "Lookup function fails playbook even when skipped"
I know the name is a bit confusing, so here's a playbook:

[code]

Results in:

[code]

Expected behaviour: The debug statement should be skipped instead of failing.

This also happens even if an entire role is skipped, making it also impossible to use with_indexed_items in skipped roles (assuming earlier statements populate the items).

[2015-10-20 05:04] jimi-c commented on #12813
Ahh, I see what the issue is here. In 2.0/devel, includes are dynamic and not expanded until the include is executed, so the handler task "restart chronyd" doesn't exist in the regular list of tasks.

One thing I notice is you're using a role structure, but using includes everywhere. There's no need for you to have the handlers included this way, just use the role as it is designed and things shou

[2015-10-20 05:05] Etherdaemon commented on #12831
Ok - I think I've managed to fix the issue locally - the IAM module is using:

[code]

Which I believe the China region does not like. Instead if I change it to:

[code]

It appears to be working perfectly. I'll see if I can update and create a pull request for the update if there are no objections.

[2015-10-20 05:41] stajkowski commented on #12744
Unable to replicate.  This error is indicating the module does not have the required path, but it in fact does: https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2.py#L1

Might be due to a path issue and/or setup issue.  Does this happen with other modules?

OSX: 10.10.2

Tested HEAD:

[code]

Tested Commit: 18e2ee16ef0895831ead312550eb5de44c99524c

[code]

PLAYBOOK:

[code

[2015-10-20 06:01] vazhnov commented on #12670
Added in 49d88cef9c5cef2dde0424c6cbe3fb5a237cecd4

[2015-10-20 06:24] stajkowski commented on #12813
This appears to be correct.  Validated that this structure does not work under 2.0/devel.  BUT if you wanted to keep this structure, just declare your handlers in the role file without the include; validated this works correctly.

[code]

The other option is to use the standard role structure: http://docs.ansible.com/ansible/playbooks_roles.html#roles

You would place all of these tasks in roles/c

[2015-10-20 06:24] jimi-c commented on #12817
@mgedmin this is happening because we see the host is localhost, and therefor reset the connection to `local`. If you add `ansible_connection=ssh` to the inventory vars for the vagrant host, things work as expected:

<pre>
TASK [command] *****************************************************************
changed: [localhost] => {"changed": true, "cmd": ["hostname"], "delta": "0:00:00.002595", "end":

[2015-10-20 06:52] Etherdaemon commented on #12831
Submitted PR https://github.com/ansible/ansible-modules-core/pull/2315

[2015-10-20 06:54] stajkowski commented on #12829
Verified broken in:
ansible 1.9.4-1

Playbook:

[code]

Ran With:

[code]

Output:

[code]

Tested on:
HEAD

Playbook:

[code]

Ran With:

[code]

Output:

[code]

Appears this is fixed in later versions.

[2015-10-20 07:08] tomek-kuchta commented on #8460
Hello, I also see some interleaving on Ansible 1.9.4 logging. I use VirtualBox share, but the log is stored under /tmp directory of the virtual machine, which is not shared. I run Ansible on 16 LXC containers which are also under the same VM.

[2015-10-20 07:13] pujan14 commented on #12824
I am using 1.9.4
I haven't moved to 2.0

[2015-10-20 07:37] mgedmin commented on #12817
Note: the inventory file is generated dynamically by Vagrant's Ansible provisioner, since the port numbers change all the time.  This makes it hard to apply the workaround (add `ansible_connection=ssh` to the inventory file).  It also increases the scope of the issue (anyone using Vagrant's Ansible provisioner is affected.)

[2015-10-20 07:40] mgedmin commented on #12817
BTW this issue only affects delegation: when a Vagrant host is used as a regular target, Ansible uses SSH.  This inconsistency bugs me.

[2015-10-20 09:13] bcsontos opened #12833 "[v2] Prompt call generates unhandled exception in step mode"
ansible-playbook dies with an unhandled exception when being run in step mode. Full output with traceback:

[code]

[2015-10-20 09:50] shakthimaan commented on #3308
I would really like this feature for automated cron tasks that get launched dynamically on newer instances. It will be simpler to specify the host using variable substitution.

[2015-10-20 09:56] herdani commented on #12170
+1

[2015-10-20 10:56] halberom commented on #12817
I think if the logic is going to change, it would be nice if it took the port into account.  delegate_to host, where host is ip+port, is pretty obviously not a localhost connection.  This change will affect all multi-host vagrant setups which use the nat port for access.

[2015-10-20 11:42] lakshmantgld commented on #12677
The bug was changing the refresh cache limit and  was using EC2 instances so, **tag_type** must be added to the **groupname** attribute of **add_host**.

[2015-10-20 11:42] #12677 closed, assigned to nobody

[2015-10-20 12:40] bborysenko opened #12837 "Include tasks is broken in devel, while works with 1.9.4"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:
- OS X 10.10.5
- Python 2.7.10
##### Summary:

Include is broken in devel (a22cf8ffc1), but it works with 1.9.4 fine.

I'm not sure but it seems issue with `included_file.py`.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2015-10-20 12:53] stucki commented on #9034
The ticket was closed and even commenting was turned off without giving feedback to the various use cases that were brought up. I don't see why the issue was closed but esp. why the conversation was locked. Do you wish me to create a new issue for it?

[2015-10-20 12:59] jimi-c commented on #12817
Per discussion, I think if any `ansible_<connection>_*` variable is set, we can safely assume that `<connection>` is what's wanted rather than `local`. I'll look at doing it that way, rather than the method used in #12834, which does not take inventory variables into account.

[2015-10-20 14:11] guillermo-carrasco commented on #10515
+1

[2015-10-20 14:24] jimi-c commented on #12824
Ok, in that case this should already be solved in the latest devel branch.

Thanks!

[2015-10-20 14:25] jimi-c commented on #12813
Great, in that case I'll go ahead and close this issue, as it's working as expected.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions

[2015-10-20 14:25] #12813 closed, assigned to jimi-c

[2015-10-20 14:26] jimi-c commented on #12829
Ahh yes, in 1.9.x and before, an error in templating there was silently ignored and converted as you see. In devel, things are handled much better and you can see the correct error is raised.

As it is our policy to close issues once they're fixed in devel, I will go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as app

[2015-10-20 14:26] #12829 closed, assigned to nobody

[2015-10-20 15:20] bborysenko opened #12838 "Is handler really processed between role and tasks sections of playbook?"
##### Issue Type:
- Documentation Report
##### Ansible Version:

Tested with 1.9.4 and 2.0.0 (devel a22cf8ffc1).
##### Ansible Configuration:

[code]
##### Environment:

OS X 10.10.5 / Python 2.7.10
##### Summary:

As documentation [says](https://github.com/ansible/ansible/blame/devel/docsite/rst/playbooks_intro.rst#L390):

As far I understand, that means that any handler that are notified inside

[2015-10-20 15:24] jlaska commented on #10190
Quick workaround for my usage ...

[code]

[2015-10-20 15:27] bborysenko commented on #12838
It seems there are two similar issues: #11574 and #12575

[2015-10-20 17:19] m-o-e commented on #10570
Why is this tagged as "feature_idea" when it is clearly a bug? :beetle:

`ssh_args` should be used by all SSH-operations, including `synchronize`.

Currently `synchronize` will fail in scenarios where the contents of  `ssh_args`
are mandatory to reach a remote host (e.g. hardcoded proxy host, credentials or key overrides).

Bug is still present in current git HEAD:

[code]

[2015-10-20 17:21] galindro commented on #7474
Same problem here. Why this ticket was closed??

[2015-10-20 17:30] galindro opened #12840 "git module doesn't ignores host key"
The problem reported in https://github.com/ansible/ansible/issues/7474 persists. I could simulate it. This is the error message:

[code]

Now I'm trying to simulate it using /usr/bin/python -m trace --trace , but I can't simulate it again, even deleting the know hosts file! This is bizarre... I'll keep trying.

[2015-10-20 17:51] #12837 closed, assigned to jimi-c

[2015-10-20 17:51] jimi-c commented on #12837
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-20 17:57] jimi-c commented on #12838
I believe that's a mistake in the documentation, as I don't think we ever flushed handlers between roles and tasks in 1.x?

[2015-10-20 18:00] albertux commented on #11918
hi @jedsmith I have the same problem fetching a tar.gz via https using get_url module (ansible 1.9.2)

I can see this error:

`"Request failed: <urlopen error [Errno 8] _ssl.c:492: EOF occurred in violation of protocol>"`

part of the playbook:

get_url: url=**https**://somehost/somefile.tar.gz dest=/tmp

[2015-10-20 18:05] #12817 closed, assigned to abadger

[2015-10-20 18:16] Ari-E-S opened #12841 "Ansible Galaxy install fails when requirements.yml is empty"
It seems the issue is limited to the loop over the roles.

/lib/ansible/cli/galaxy.py#L313

[code]

Possible solutions include checking if the result of yaml.safe_load(f.read()) is None or enclosing the whole loop in a try/except block.

[2015-10-20 18:20] jimi-c commented on #12841
ping @chouseknecht

[2015-10-20 18:22] jimi-c commented on #12840
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-20 18:22] #12840 closed, assigned to nobody

[2015-10-20 18:35] resmo opened #12843 "[v2] conditional include fails and not skipped if --tags is used"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.0 (devel b46ce47a84) last updated 2015/10/20 20:10:50 (GMT +200)
##### Summary:

When using --tag and a task `include:` has a condition, the condition is going to be validated even the tag is not on that task.
##### Steps To Reproduce:

[code]

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2015-10-20 18:36] bcoca commented on #12841
fixed via 1ecad5aed2ba51705ec04abf717e80d44490b5dd

[2015-10-20 18:36] #12841 closed, assigned to nobody

[2015-10-20 18:42] micxer commented on #9160
Well, now it's open and nothing happened for months. I just stumbled upon the example in `authorized_key` as well. Is it that complex to explain, how `with_file` is actually working?

[2015-10-20 18:55] resmo opened #12844 "[v2] template with force=no reports changed in check mode"
##### Issue Type:
- Bug Report
##### Ansible Version:
- 1.9.4
- 2.0.0 (devel b46ce47a84) last updated 2015/10/20 20:10:50 (GMT +200)
##### Summary:

In live mode a task with template and force=no would not overwrite an existing file and reports ok, but when running in check_mode it reports changed.
##### Steps To Reproduce:

[code]

[code]

[code]
##### Expected Results:

reports ok in both cases.

[2015-10-20 19:40] bborysenko commented on #12837
Just to confirm that issue really has been fixed, thanks @jimi-c !

[2015-10-20 19:42] jimi-c commented on #12736
@basz / @lufik I've merged in a PR that mentioned the small reproducer above was no longer showing up as a problem, so could you please reverify against the latest version of devel to see if this is still a problem? Thanks!

[2015-10-20 20:56] saeeda opened #12845 "make sdist xargs: illegal option -- r Error"
After Ansible v2.0.0-0.3.beta1 is checked out. Trying to build ansible-2.0.0.tar.gz fails.

[2015-10-20 21:11] basz commented on #12736
I have confirmed that the playbook from @lufik now works. My playbook did not however, but I found something interesting.

As soon as i comment out my 'when' option of the include task the (included) apt and pip tasks run fine. They now both aren't marked as skipped.
When i use the 'when' option both are marked as skipped. Thought the output of both tasks is different. 'item=boto' for the pip task

[2015-10-20 21:59] orderedchaosdev commented on #12774
I noticed this as well and my work around was a conditional include of a that group of tasks. Just in case you needed to get this up and working.

[2015-10-20 23:48] joksnet commented on #12766
For info, a workaround this bug is:

[code]

[2015-10-21 03:59] cswarth commented on #11536
Since El Capitan was released by Apple.   Aside from a page in Chinese, this is the only page that seems to reference this new behavior in MacOS.  I ran into the same issue when trying to use Tramp mode in emacs which allows transparent access to remote files via ssh.  Same error about long file names for a unix domain socket, but not as easy to workaround as in Ansible.

[2015-10-21 07:04] bborysenko commented on #12838
I have did a [sample playbook](https://github.com/bborysenko/playing-with-ansible/tree/master/handlers) to check how it really works.

[code]

So what I got is:
- handlers notified within `pre_tasks`, `tasks`, and `post_tasks` sections  are automatically flushed in the end of section where they were notified
- handlers notified within `roles` section are automatically flushed in the end of `tasks`

[2015-10-21 07:21] bborysenko commented on #12575
Just to confirm that issue is really exist with 1.9.4, but fixed with development version. I suppose the right questions is it going to be back ported to 1.9.x?

[2015-10-21 07:34] BenMo158 commented on #12554
Not yet,but I set attributes='',it's ok.
ansible iis01 -m win_iis_webapppool -a "name=tiger attributes=''"
iis01 | SUCCESS => {
    "attributes": {},
    "changed": false,
    "info": {
        "attributes": {
            "CLRConfigFile": "",
            "applicationPoolSid": "S-1-5-82-2199063738-3115028567-622233357-329056163-822287282",
            "autoStart": true,
            "enable32BitAppO

[2015-10-21 07:51] BenMo158 opened #12848 "[v2]The windows iis modules how to obtain multiple application of information in the directory?"
[v2] My application directory structure:
www.tiger.com (site):
|
|---internal (directory)
|-------|
|-------|___ v4.0.5 (application)
|
|---v4.5.5 (application)

I can use the:
ansible iis01 -m win_iis_webapplication -a "name=v4.5.5 site=www.tiger.com"
for v4.5.5 infomation,
But now,How to obtain "inetnal/v4.0.5" information?

[2015-10-21 09:07] bborysenko commented on #12838
PR #12849 to fix documentation mistake has been created, but anyway I suppose it might be useful to flush role handlers in the end of role that notified this handler (not in the end of executing all roles before `tasks` sections).

For example while applying ntp role, I would like to be sure that NTP service restarted in the end of ntp role if configuration file has been changed. Yes it's possible

[2015-10-21 09:14] masseybradley commented on #8164
Hey! If possible, I would like to re-open this ticket for review. I agree that the original error seems to be a network configuration issue however it is indeed impossible to use the ping module towards an AIX system. It appears that the ping command executes on the remote server however the command fails with an rc=1:

<beaix> ESTABLISH CONNECTION FOR USER: oracle
<beaix> REMOTE_MODULE command pi

[2015-10-21 09:15] masseybradley commented on #8164
Hey! If possible, I would like to re-open this ticket for review. I agree that the original error seems to be a network configuration issue however it is indeed impossible to use the ping module towards an AIX system. It appears that the ping command executes on the remote server however the command fails with an rc=1:

ESTABLISH CONNECTION FOR USER: user
REMOTE_MODULE command ping
EXEC ['sshpass'

[2015-10-21 11:48] lightblu commented on #6911
Can someone reopen this issue? This patch somehow got lost and when firewalld is not running on the target system even with -vvv you get a rather uninformative exception:

[code]

[2015-10-21 13:14] emiel opened #12850 "Documentation correction: stat_module (stat.lnk_source)"
The Ansible docs (http://docs.ansible.com/ansible/stat_module.html) state that 'lnk_source' is a boolean when in fact it contains the actual symlink source, i.e. a pathname.

[code]

[2015-10-21 13:35] tqh commented on #12594
If it is any help I had to shorten control path in El Capitan. See http://docs.ansible.com/ansible/intro_configuration.html#configuration-file

[2015-10-21 13:51] chrrrles commented on #12848
Have you tried using the physical_path option for win_iis_webapplication?

[2015-10-21 14:09] jimi-c commented on #12838
Merged the above, so closing this.

Thanks!

[2015-10-21 14:09] #12838 closed, assigned to nobody

[2015-10-21 14:18] IkeLutra commented on #11536
@cswarth The ansible config is just passed to your ssh client. You might be able to set up a control_path in your ssh config file `~/.ssh/config` like this:

[code]

I don't have Mac OS X so I can't test this but this should work unless emacs passes any specific parameters through to SSH.

[2015-10-21 14:30] saeeda opened #12851 "[v2] local_action sudo=no is not enforced, failing the task"
The task is:
  local_action: wait_for port=22 host={{ ansible_ssh_host }} delay=10 timeout=300

When playbook has sudo = yes and local_action task has sudo = no, it still uses root.

Stating sudo = no at playbook and not mentioning sudo at the task, would not call sudo, and task would successfully execute.

ansible --version
ansible 2.0.0 (detached HEAD 5ae74f7d38) last updated 2015/10/20 16:34:41

[2015-10-21 14:33] larsks opened #12852 "feature request: an "ansible-connect" command for connecting to remote hosts using inventory information"
There's a lot of useful information in the ansible inventory, including remote usernames, connection methods, etc.  I wish I could take advantage of that when I need a shell on a "remote" host by running something like 'ansible-connect hostname'.

This would, ideally, launch an interactive shell on the target host taking into account ansible_host, remote_user, become, become_user, connection type,

[2015-10-21 14:33] jimi-c commented on #6911
@lightblu please open a new issue for this in ansible/ansible-modules-extras, if there is a problem.

Thanks!

[2015-10-21 14:35] jimi-c commented on #10190
This has been reported as fixed in devel/2.0, so per our normal policy we'll go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.go

[2015-10-21 14:35] #10190 closed, assigned to nobody

[2015-10-21 14:36] jimi-c commented on #12837
Thanks!

[2015-10-21 14:36] jimi-c commented on #12736
@basz thanks, I'll continue looking into this.

[2015-10-21 14:36] jimi-c commented on #12554
@x7032335 ok, thanks!

[2015-10-21 14:39] jimi-c commented on #12575
@bborysenko currently there are no plans to backport it, due to a lot of fixes in the devel rewrite not having a direct correlation to the code in the stable-1.9 branch. I have added the `stable-1.9` milestone to this though, so we can consider it in the future.

Thanks for verifying against devel!

[2015-10-21 14:45] jimi-c commented on #12851
Hi @saeeda, with which version of Ansible are you seeing this failure?

[2015-10-21 14:59] lightblu commented on #6911
Ok, will do. Just to make sure because I was not clear enough:
This is exactly the same issue as described above. And the solution is also exactly the same as you jimi-c provided in April 2014 (https://github.com/ansible/ansible/commit/f547733b1f2136a531432ba652edebaec6873baf):
check for fw.connected. It is just not present anymore on the latest dev branch and thus shows the same problematic behav

[2015-10-21 15:06] #12772 closed, assigned to jimi-c

[2015-10-21 15:06] jimi-c commented on #12772
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-21 15:16] #12792 closed, assigned to nobody

[2015-10-21 15:18] abadger commented on #12792
See also c2d188baff9b0d6076187f36bf63543967c705a1 for the first half of this change.

[2015-10-21 15:23] davekonopka opened #12854 "Galaxy CLI Github sources adding extra subdirectory"
When using `ansible-galaxy install -r requirements.yml` to install roles with a Github source and setting a `file` path an extra subdirectory is being created in the resulting output path.

Ansible version: 1.9.4

Example `requirements.yml` entry:

[code]

Resulting output path: `roles/bugi.users_and_groups/master/master` (extra trailing `master` directory).

If I drop the `name` attribute resulti

[2015-10-21 15:29] bcoca commented on #12833
can you give minimal example that triggers this?

[2015-10-21 15:31] jm42 commented on #12766
Fixed in:

[code]

[code]

[2015-10-21 15:53] amenonsen commented on #12852
This would be especially useful in v2, where you can use `ansible_ssh_common_args` to configure a jump host (by adding `-o ProxyCommand=…` instead of doing it in `~/.ssh/config` as before.

I wrote an `ansible-ssh` command for v2, but I asked @jimi-c if it could be considered for inclusion with ansible, and he said the use case was too obscure to be generally useful and seemed to prefer to include

[2015-10-21 15:54] jimi-c commented on #6911
Sure, that'd be sufficient. I'm wondering if some later change just broke this.

[2015-10-21 16:23] #12833 closed, assigned to bcoca

[2015-10-21 17:52] #12844 closed, assigned to nobody

[2015-10-21 17:52] jimi-c commented on #12844
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-21 18:05] #11055 closed, assigned to nobody

[2015-10-21 18:49] larsks opened #12856 "Ansible 2.0 breaks "here" documents in shell scripts"
I wanted to embed a "here" document (e.g. `cat <<EOF ...`) in a `shell:` script in my playbook, like this:

[code]

In 1.9.4, this breaks because the magic processing that looks for
module arguments in the command string resulted in the following
script:

[code]

Note the extra space (` `) at the beginning of every line, which
breaks shell parsing.  It was possible to fix this by passing the
scrip

[2015-10-21 18:51] jimi-c commented on #12577
Hi @caylorme, I just tested this using your example and I'm not seeing a failure any more:

<pre>
PLAY [Bug Report Example] ******************************************************
TASK [setup] *******************************************************************
ok: [testnode.testdomain]
TASK [Create lib directory] ****************************************************
ok: [testnode.testdomain -> local

[2015-10-21 19:13] larsks commented on #12856
So, looking through the code, it looks a possible source of the problem is the parsing code in `lib/ansible/parsing/splitter.py`, which uses `split_args` to split up the arguments and then re-assembles them with `' '.join(...)`.  This seems like the wrong thing to do, especially when receiving a YAML literal block.  There are a few ways of fixing this:
- Add back the `cmd` parameter, for providing

[2015-10-21 19:14] jimi-c commented on #12856
Hi @larsks, in 2.0 you can actually use `_raw_params` for the `cmd` parameter, which works fine in my testing. I can add some code to the `preprocess_data()` method for Task to convert this automatically internally.

[2015-10-21 19:19] larsks commented on #12856
You mean, put code in that would remap `cmd` to `_raw_params`?  I guess that works for me, but then suddenly everything supports a `cmd` parameter.  Would it make more sense to do this in the `command` module itself?  I don't have a strong feeling on the matter, I guess, since both solutions will result in properly handled shell scripts...

[2015-10-21 19:30] larsks commented on #12856
@jimi-c, take a look at the PR I just submitted.  This is a two-line change that implements the second option from my earlier comment: if there are no keyword arguments discovered, just return the raw string.  With this change in place, this works just fine:

[code]

[2015-10-21 19:36] jimi-c commented on #12856
@larsks no, only command/shell/script would support it. Here's the working patch I have:

<pre>
diff --git a/lib/ansible/playbook/task.py b/lib/ansible/playbook/task.py
index b66c331..3527cee 100644
--- a/lib/ansible/playbook/task.py
+++ b/lib/ansible/playbook/task.py
@@ -171,6 +171,15 @@ class Task(Base, Conditional, Taggable, Become):
         args_parser = ModuleArgsParser(task_ds=ds)

[2015-10-21 19:38] larsks commented on #12856
I am a little more comfortable with my solution, because it doesn't require special-casing specific modules in `task.py`.  I mean, what if I want to be able to pass verbatim scripts to something else that is not `command` or `shell` or `script`?

[2015-10-21 19:38] jimi-c commented on #12856
We already filter out things which may try to populate _raw_params to a subset of modules.

[2015-10-21 19:40] larsks commented on #12856
Huh.  I didn't know that.

I think my solution is still more obvious to someone using Ansible (you want a shell scripts?  Here's your shell script.), but I guess either solution solves my immediate problem.

[2015-10-21 19:42] jimi-c commented on #12856
Yep, I'm going to merge in my fix, as it follows the pattern in the code we already have.

[2015-10-21 19:47] #12856 closed, assigned to nobody

[2015-10-21 19:48] jimi-c commented on #12856
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-21 19:52] jimi-c commented on #12854
Hi @davekonopka, can you give devel a look and see if the issue still remains there?

Thanks!

[2015-10-21 21:49] mcsalgado commented on #12843
As I understand it this is intended behavior because there may be tagged tasks inside your include.

[2015-10-21 23:49] njanken opened #12858 "Ansible hanging on repoquery during yum command"
While running an Ansible playbook, it will intermittently hang during a yum install.  It doesn't happen all the time, but it happens somewhat frequently.  It looks like it is waiting on a socket response that never comes.

The environment is

Boot2Docker version 1.7.0, build master : 7960f90
Docker version 1.7.0, build 0baf609
Container is based on centos:centos6
Ansible version is 1.9.2

When I g

[2015-10-22 00:03] isgroup opened #12859 "Unexpected Exception: 'VariableManager' object has no attribute '_display'"
Unexpected Exception: 'VariableManager' object has no attribute '_display'
the full traceback was:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/ansible-2.0.0-py2.7.egg/EGG-INFO/scripts/ansible-playbook", line 80, in <module>
    sys.exit(cli.run())
  File "/usr/local/lib/python2.7/dist-packages/ansible-2.0.0-py2.7.egg/ansible/cli/playbook.py", line 142, in run

[2015-10-22 02:27] #12859 closed, assigned to nobody

[2015-10-22 02:36] Etherdaemon opened #12860 "v2 - Local Action does not appear to be handed off to local from remote"
**Issue Type:**

Bug Report

**Ansible Version**
ansible --version
ansible 2.0.0 (detached HEAD 5ae74f7d38) last updated 2015/10/18 19:39:15 (GMT +1000)

Running Ansible from source - v2.0.0-0.3.beta1

*\* Ansible Config Changes:**
inventory      = china_aws_inventory/ec2.py
ansible_python_interpreter = /usr/local/bin/python

**Environment:**
OSX 10.10.5
Running Ansible from source - v2.0.0-0.3.be

[2015-10-22 02:41] davekonopka commented on #12854
I was able to confirm the same behavior with [devel](https://github.com/ansible/ansible/commit/2b3c5aa41ed135d4ba0f125670ca4bd048149679) but with more problematic results.

With the above example Github `src` and a `name` path including a subdirectory it throws an exception.

[code]

Digging in a bit the role is unpacked into `roles/bugi.users_and_groups/master/master`. This is the same behavior.

[2015-10-22 03:01] davekonopka commented on #12854
Found the source of the issue. The [root directory is stripped](https://github.com/ansible/ansible/blob/2b3c5aa41ed135d4ba0f125670ca4bd048149679/lib/ansible/galaxy/role.py#L255) and replaced with the role name. When `name` is not set or it is set without any slashes this works as expected. When slashes are present the subdirectories end up in the tarball extraction path putting them into the resul

[2015-10-22 03:03] bcoca commented on #12843
@resmo try the following:

[code]

[2015-10-22 03:06] jimi-c commented on #12851
@saeeda, using the following playbook, I was not able to reproduce this:

<pre>
- hosts: awxlocal
  sudo: yes
  tasks:
  - local_action: wait_for port=22 host={{ ansible_ssh_host }} delay=1 timeout=300
    sudo: no
</pre>

Output:

<pre>
TASK [wait_for delay=1 host={{ ansible_ssh_host }} port=22 timeout=300] ********
task path: /home/jamesc/testing/12851/test.yml:4
ESTABLISH LOCAL CONNECTION FOR U

[2015-10-22 03:30] bcoca commented on #12860
can you test with the latest HEAD, there were some updates done to local action since the 18th that might have fixed this already.

[2015-10-22 03:55] Etherdaemon commented on #12860
Pulled latest update. Appears to be the same result unfortunately.

[code]

**$ ansible --version**
     ansible 2.0.0 (detached HEAD 5ae74f7d38) last updated 2015/10/22 12:41:44 (GMT +1000)
      lib/ansible/modules/core: (detached HEAD d659c79db7) last updated 2015/10/22 12:41:57 (GMT +1000)
      lib/ansible/modules/extras: (detached HEAD 0ff1776a84) last updated 2015/10/22 12:41:57 (GMT +1000)

[2015-10-22 04:11] stajkowski commented on #12832
So what you can do is use ' | default(None)' to ensure the template operation doesn't freak out.

PLAYBOOK:

[code]

RESULT:

[code]

VERSION: ansible 2.0.0

[2015-10-22 06:13] inadarei opened #12862 "Playbooks In Subdirectories"
The recommended directory layout from the documentation (http://docs.ansible.com/ansible/playbooks_best_practices.html#directory-layout) indicates putting all playbooks at the top level, alongside inventory files. This can get really messy in a large project.

We put all configuration in roles. Playbooks are basically mappings of a set of roles to a set of inventory. I believe that is best-practic

[2015-10-22 06:22] ghost commented on #12832
And what about using a subelement?

[code]

[code]

[2015-10-22 06:24] willthames opened #12863 "[v2] role_names variable doesn't work"
It seems that the `role_names` list no longer exists.

With dummy.yml looking like:

[code]

[code]

v1

[code]

v2

[code]

[2015-10-22 06:41] zerbons commented on #9034
@bcoca would it be possible to port this to 1.9? If so what would need to be changed? Thanks!

[2015-10-22 06:47] Etherdaemon commented on #12860
Actually - it looks like it does work after all - just appears to come from the remote host even though it is trying to execute from the Ansible host.

I also had to pop in the following into my bash profile - note that this location is different due to python being installed via Homebrew than other systems.

[code]

Running the execute after that results in the following:

[code]

[2015-10-22 07:53] trinitronx commented on #11579
It seems that the workaround to add `validate_certs=False` returns another error during my testing:

[code]

The other workaround with using the `command` module with `curl` or `wget` seems to work.  On some platforms like Ubuntu `12.04`, `curl` is not installed by default, so must be bootstrapped.  On Ubuntu `12.04`, `wget` doesn't work and returns an SSL connection error.

[2015-10-22 09:06] isgroup commented on #12859
Fast!

[2015-10-22 09:07] vikas027 opened #12864 "Feature Request- ansible-vault should ask for password twice"
I have a non-important feature request. `ansible-vault encrypt` command used to ask password twice in v1.9.X, but in v2.0 it just asks once.

I am just looking to reduce the possibility of a typo in password

**v2.0**

[code]

**v1.9.X**

[code]

[2015-10-22 10:18] vikas027 commented on #12559
Please add `ignore_errors` also in block. I got error for it too.

[code]

[2015-10-22 10:21] resmo commented on #12843
@bcoca well done, works as expected! did various tests with the tag and it works like a charm

[2015-10-22 10:35] lazartravica commented on #10581
I've come around this problem by using square brackets for dict key access:

In my case:
`{{ (keys.stdout | from_json)['keys'] }}`

Instead of:
`{{ (keys.stdout | from_json).keys }}`

Hope this helps!

[2015-10-22 11:40] ThomasSteinbach commented on #10063
+1

[2015-10-22 11:47] Lowess commented on #12784
Thank you for the quick fix! I tested it and it worked fine.

[2015-10-22 11:48] #12843 closed, assigned to nobody

[2015-10-22 12:10] #12782 closed, assigned to bcoca

[2015-10-22 12:20] jimi-c commented on #12854
@davekonopka part of the issue is that the version/branch should be in its own field:

<pre>
- src: https://github.com/bugi/ansible.users_and_groups
  name: bugi.users_and_groups
  version: master
</pre>

^ this installs correctly:

<pre>
# ansible-galaxy install -r requirements.yml -p roles/ -vvv
Using /etc/ansible/ansible.cfg as config file
- extracting bugi.users_and_groups to roles/bugi.users_

[2015-10-22 13:47] shirou opened #12869 "'invocation' to use from callback plugin is missing in a result."
Issue Type:
  Bug Report or Feature Idea
##### Ansible Version:

  ansible 2.0.0  (09899b7c438bb029bd5715792951d646a302a5de,  latest head)
##### Ansible Configuration:

  Nothing special
##### Environment:

  Mac
##### Summary:

  `'invocation'` is not produced in a callback plugin, `result._result`

  Because, I want to log a module name by using callback plugin. `'invocation'` is always included

[2015-10-22 13:51] davekonopka commented on #12854
@jimi-c My intent though is for the role to be created under `roles/bugi.users_and_groups/master`. I want the version included in the file path to allow for different versions of the same role within a single project. In your example the right version gets pulled down but there's no `master` subdirectory. With additional versions of the same role the first one wins and latter ones fail.

[2015-10-22 14:12] dmokin opened #12870 "ansible fails with UnicodeDecodeError on disk full"
When ansible tries to create temporary directory in
    mkdir -p $HOME/.ansible/tmp/ansible-tmp-....
on full disk I got unhandled exception UnicodeDecodeError

[code]

[2015-10-22 14:20] bcoca commented on #12862
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-22 14:20] #12862 closed, assigned to nobody

[2015-10-22 14:53] jensschroer commented on #11885
Just stumbled across the same error.
ansible 2.0.0 (devel 404ded2b03) last updated 2015/10/22 16:34:33 (GMT +200)
  lib/ansible/modules/core: (detached HEAD bc3b1abd68) last updated 2015/10/22 16:34:45 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD 405c3cb2c7) last updated 2015/10/22 16:34:45 (GMT +200)
  config file = /home/schroer/.ansible.cfg
  configured module search path = None

[2015-10-22 14:58] jimi-c commented on #12854
Understood, I've moved this to the next milestone, as it's something more of a feature request, even though it's creating a back trace due to the fact that the paths are being mangled to a degree.

[2015-10-22 15:00] jimi-c commented on #12870
This is a duplicate of https://github.com/ansible/ansible/issues/11210, which has been marked as resolved as fixed in the 1.9.4 release. Please upgrade, and retest.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project

[2015-10-22 15:00] #12870 closed, assigned to nobody

[2015-10-22 15:05] davekonopka commented on #12854
Thanks for taking the time to line it up. If I get a chance I'll take a look at submitting a PR.

[2015-10-22 15:07] #12863 closed, assigned to nobody

[2015-10-22 15:07] jimi-c commented on #12863
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-22 15:28] jimi-c commented on #12860
@Etherdaemon since you are still executing against a list of inventory hosts, you need to add the `run_once: yes` option to the task, so that it is really only run the one time.

As this has been resolved, we'll go ahead and close this now.  If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing list

[2015-10-22 15:28] #12860 closed, assigned to nobody

[2015-10-22 15:31] hyperfocus1338 opened #12871 "ERROR! The requested action was not found in configured module paths. Additionally, core modules are missing."
##### Issue Type:

Playbook stops while usually keeps running. Newly introduced bug.
##### Ansible Version:

v2.0.0-0.3.beta1
##### Ansible Configuration:

Default, nothing changed after installation from checkout or release package.
##### Environment:

Ubuntu 15.04 docker image
##### Summary:

Error in the title. Complete error:

[code]

Complete document `handlers/main.yml` where it fails:

[cod

[2015-10-22 15:36] bcoca commented on #12860
fyi, if using dynamic inventory you don't need to call ec2_facts, but if not and you are using it to get the ec2_id, please note that it MUST execute on the target server and not use 'local' to get the data.

[2015-10-22 15:40] halberom opened #12872 "FR - handle undefined vars in ternary filter"
version:
ansible v1.9.4

description:
The ternary filter fails to be templated if the 'True' param contains an undefined var, even though it should be using the 'False' param.

[code]

Expected

[code]

actual

[code]

This works however

[code]

[2015-10-22 15:42] sivel commented on #12871
As described in the error message, the submodules are not being properly cloned.

I'd recommend just using pip to install this, such as:

[code]

That will pull down the repo, specifically the `v2.0.0-0.3.beta1` tag, recursively update the submodules, and install.

[2015-10-22 15:42] sivel commented on #12871
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-22 15:42] #12871 closed, assigned to nobody

[2015-10-22 15:43] NathanDotTo opened #12873 "Using yum module to install gnome-desktop-environment on CentOS 7 does not work"
Hi

The details of this issue are here in the Ansible Google group:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/ansible-project/ResIg2C-y_c

Regards

Nathan

[2015-10-22 16:15] abadger commented on #12869
Working on this now.

[2015-10-22 16:40] stajkowski commented on #12832
What version are you on?  ansible --version

[2015-10-22 16:46] abadger commented on #12816
@kettlewell, couple questions, did this work in 1.9?  And what are you using to authenticate your ssh connection?

Oh, and what are you expecting to happen?  I think you want to copy a directory tree on the remote host to a new directory tree on the remote host.  Is that correct?

[2015-10-22 17:19] abadger commented on #12869
I think this branch should fix the issue for you now: https://github.com/ansible/ansible/commits/invocation-fix

I've discovered some ways in which this behaving differently depending on which module is being invoked, though, so I'm going to be doing some more work on this before it gets merged to devel.

[2015-10-22 17:39] Jmainguy opened #12874 "Script module (fake module btw, whats up with that) bleeds stdout into stderr"
From bcoca in last ticket
https://github.com/ansible/ansible-modules-core/issues/2276

[code]

In Ansible 1.9.3 the script module throws a ton of ugly ssh connection info into stderr. Where as there should be no ugly ssh connection info if it worked, and should through the script result into stdout (if it worked).

[2015-10-22 17:40] Jmainguy commented on #12874
Example run in 1.9.3

[code]

[2015-10-22 18:28] Jmainguy commented on #12874
Closing this out, its fixed in 2.0

[code]

[2015-10-22 18:28] #12874 closed, assigned to nobody

[2015-10-22 18:46] gregdek commented on #11556
So we're going through our Galaxy issues, and we've found a lot of pointers to this one. :)

Here's the argument:

We generally strip away the namespace in list views on Galaxy, and we don't want a ton of roles named "Ansible" to show up and confuse people.

@geerlingguy in this case, it appears that we hit a corner case where deleting ansible-role from the beginning left us with just "ansible", a

[2015-10-22 18:53] gregdek commented on #11556
OK, so this is the very specific case where we want a role to be called "ansible" because it actually installs ansible. We will figure out how to handle this case correctly.

[2015-10-22 18:54] gregdek commented on #11556
Also confirming that this is a Galaxy upload issue, so we'll close this one and handle in the appropriate Galaxy issues.

[2015-10-22 18:54] #11556 closed, assigned to nobody

[2015-10-22 19:48] larsks opened #12876 "include: fails during exception processing"
Given a playbook like this:

[code]

Where `failing_tasklist.yml` looks like this:

[code]

And `cleanup_tasklist.yml` looks like this:

[code]

I would expect Ansible to run `cleanup_tasklist.yml`, but the
resulting playbook run looks like this:

[code]

So while it is parsing the `include` statement in the `always` section, it doesn't appear to be running it.  The `cleanup_tasklist.yml` tasklist

[2015-10-22 19:48] larsks commented on #12876
To save you some copy-and-pasting, here's the testcase as a git repository:
- https://github.com/larsks/ansible-testcase-always-include

[2015-10-22 20:23] kettlewell commented on #12816
We rolled back to 1.9.4, and it works flawlessly.

Our authentication is SSH with passwords protected with Ansible vault.

Your assumption is correct - we're copying files from tmp to another folder on the remote host.

I believe the output above is with -vvvv, but if there's any other logs or info you need from this end, let me know.

[2015-10-22 20:31] abadger commented on #12816
So probably in 1.9.x we're having rsync do a local copy on the remote box but in 2.0 we're telling rsync to do a copy via ssh on the remote box.  I'll look at what code we might have left out that made that case work before.

[2015-10-22 21:13] fninja opened #12877 "vars not being unset between plays"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

nothing really changed..

[code]
##### Environment:

OSX, Debian7, CentOS7
##### Summary:

vars don't get unset between plays.
you may have two plays e.g. one for `myapp_india.yml` and one for `myapp_spain.yml` .
now you run them both in sequence in your `site.yml`.

provided `myapp_india.yml` sets a var cal

[2015-10-22 22:51] dstillman commented on #9497
This is broken again on devel, [not that anyone cares](https://groups.google.com/d/msg/ansible-project/4OIuDxRSv0M/RgW8HkuIKQAJ).

[2015-10-22 22:55] dstillman commented on #9787
This is fixed on devel, though the test case above [should still be added](https://groups.google.com/d/msg/ansible-project/4OIuDxRSv0M/RgW8HkuIKQAJ).

[2015-10-22 22:55] #9787 closed, assigned to nobody

[2015-10-22 23:18] #12869 closed, assigned to abadger

[2015-10-22 23:19] abadger commented on #12869
Okay, the above set of commits should fix invocation's presence for all modules!  Test it out and open a new bug if it doesn't work for some reason.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if yo

[2015-10-22 23:25] ghost commented on #12832
That was 1.9.3.

1.9.4 (latest dev version available on PyPI):

[code]

Latest from devel branch (https://github.com/ansible/ansible/commit/ce2b18174e2a767f34932073220f43cb889d54d4):

[code]

[2015-10-22 23:29] sivel commented on #12832
What you want is `|default([])`

when statements are evaluated for each iteration of the loop, so you have to ensure that the with_ lookup gets a list like it is expecting.

If you have further questions please stop by the mailing list.

[2015-10-22 23:29] sivel commented on #12832
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-22 23:29] #12832 closed, assigned to nobody

[2015-10-22 23:38] ober commented on #8123
Can this please be addressed? Opening a bucket to full perms just to get around this bug is crazy.

[2015-10-22 23:55] Etherdaemon commented on #12860
Ok cool - thanks Brian.

[2015-10-23 00:01] barleyj commented on #12686
I also have the same issue. I need to run a command as a specific user but I can only become that user with 'sudo su - user'

[2015-10-23 00:18] abadger commented on #12816
That's a possible fix for this issue^ but it doesn't look like what 1.9.x is doing to prevent this from happening so I'm going to look into it more.  There could be other behaviour that is buggy with this change so I need to do some more testing of this code to see what else is affected before merging it to the devel branch.

[2015-10-23 01:04] nicholaskuechler commented on #1476
+1

[2015-10-23 01:16] larsks commented on #12876
The problem is here, in `lib/ansible/playbook/included_file.py`:

[code]

If we are handling an exception, then of course `res._host.name` is in
`tqm._failed_hosts`.  At first glance, this seems like the wrong place
to be making this check (shouldn't this be happening per-task
already?), but I'm not familiar enough with the code to make that
determination.

[2015-10-23 02:09] jimi-c commented on #12876
@larsks I agree, I think we can remove that without an ill-effect. I believe the host would not hit the include task if it had failed already, so checking that there is not required.

[2015-10-23 02:10] jimi-c commented on #12876
I do already have a complex include example in the `samples/` directory, which you can test as follows:

<pre>
# ansible-playbook -vv -i localhosts test_include.yml
</pre>

^ Running this with those lines removed shows the output I'd expect, so I'll go ahead and commit that fix.

[2015-10-23 02:11] larsks commented on #12876
Oh, sorry, I just sent in a PR for same.  Feel free to ignore for yours...

[2015-10-23 02:14] shirou commented on #12869
I confirmed my callback plugin works now. Thank you so much!

[2015-10-23 02:15] #12876 closed, assigned to jimi-c

[2015-10-23 02:15] jimi-c commented on #12876
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-23 03:48] jimi-c commented on #12736
@basz I think I see what's going on here. The include is happening in a with loop, and you have a with loop inside the include as well. This causes the second loop to overwrite the `{{item}}` variable, which can be seen in this simple reproducer:

<pre>
# cat test.yml
- hosts: localhost
  gather_facts: no
  tasks:
  - include: foo.yml x="{{item}}"
    with_items:
    - a
    - b
    - c
# cat foo.

[2015-10-23 04:04] larsks commented on #12869
Commit 2e87c1f breaks the `ansible` command, which now says:

[code]

And indeed, the `TaskResult` object has no `copy` method.  This does _not_ seem to impact `ansible-playbook`.

[2015-10-23 05:44] BenMo158 commented on #12848
No,from "win_iis_webapplication", "Pthysical_path" is I'm going to get the information
like:
- win_iis_website: name=www.tiger.com
  register: info
- debug: msg="{{ info.site.PathysicalPath }}"

[2015-10-23 07:29] jimi-c commented on #12736
@basz I've taken an alternate route in trying to solve this, which is to make the variable used within the loop settable per-task. This feature branch has not been merged in yet, but if you'd like to test it out and see how it works for you I'd be interested in hearing if it does resolve your issue.

Frankly, I'm a little unsure about this as a language feature, so I'm waiting to hear from some ot

[2015-10-23 08:21] mgarstecki commented on #12694
Encountering the same problem here, on Ansible 1.9.4.
It has lead to a few hacks in our playbooks, since sometimes we actually want to run actions on localhost, so we can't use a !localhost filter in our hosts statements.

[2015-10-23 11:19] duggan commented on #9852
This is only a workaround for the example. If you wanted, say, more than one item in a list, it is not a workaround.

Here's my deeply unpleasant, but functional workaround:

[code]

Note that this is not only for `with_items`, it's any list structure.

This takes the list, formats it to JSON, filters it through `quote` which turns it into a quoted string, then uses the `replace` function to remov

[2015-10-23 11:23] bcoca commented on #12736
as a workaround in the included file do this (as first task):

[code]

[2015-10-23 11:54] mikegleasonjr commented on #5286
I landed while looking for the same thing.. but turns out I found a way:

[code]

Better late than never..

[2015-10-23 12:19] jimi-c commented on #12736
@basz as @bcoca notes above, best to use the above work-around for this right now, as we most likely won't include the above loop_var feature until 2.1 (if we decide to add it at all).

If you can confirm his workaround above gets you past this error, we'll go ahead and close this.

[2015-10-23 12:20] jimi-c commented on #12694
@mgarstecki Yes, unfortunately the fix in devel is due to the rewrite there, and I don't believe there's anything we can backport to he 1.9.x branch, so this will only be fixed going forward for now.

[2015-10-23 12:22] TvL2386 commented on #10294
I'm having the same issue here.
It would be great if we could disable certificate verfication with an ansible(-playbook) command line option

[2015-10-23 12:29] jensschroer commented on #11885
I just added a pull request for this issue. If you apply the patch and modify the line
{{ lookup("template", "breaks.json.j2") }}'
to
{{ lookup("template", "breaks.json.j2",convert_data=False) }}'
it should work.
@leedm777 any chance you could confirm?

[2015-10-23 12:42] mgedmin opened #12882 "v2: KeyError while looking up role of a handler in the role cache"
I apologize for not having time to produce a good quality bug report.  I'll come back later and polish it.

[code]

My test playbook fails with this Ansible version (it worked a couple of days ago).  The error is:

[code]

I have two handlers with that name, in different roles:

[code]

My playbook includes all of the roles (including common, eversheds, and, as the last one, roundup).

Reproductio

[2015-10-23 12:43] inadarei opened #12883 "ec2_vpc ignores profile parameter and uses default AWS credentials from ~/.aws/credentials"
This is what my ~/.aws/credentials looks like:

[code]

This is what a snippet in my role looks like:

[code]

Given the `profile: "irakli-aws"` line this should create VPC in my personal AWS account. This is how every other ec2_ Ansible module works (verified), but not ec2_vpc. It clearly created VPC in the default.

Big bummer, obviously.

[2015-10-23 12:50] azenakhi opened #12884 "CA Certificate File Path"
Hello,

I have a problem with Ansible about the ca_file_path variable inside the config file ansible.cfg.

I redefined this variable for using another path. But, Ansible always use the default path system /etc/ssl/certificats. For example, I want use the os_file_path = /tools/product/ansible/cacert.crt. But, he doesn’t work.

See here :

https://github.com/ansible/ansible/blob/devel/lib/ansible/mo

[2015-10-23 13:11] inadarei commented on #12883
From [the documentation](http://docs.ansible.com/ansible/ec2_vpc_module.html):

My Boto is definitely new enough:

[code]

[2015-10-23 13:35] jschank commented on #12533
I am on 1.9.3 also. perhaps the order of the parameters matters?

[2015-10-23 14:23] messiahUA opened #12885 "Error when using bound method CallbackModule"
Fresh git pulled repo, i'm following official documentation and when I execute "ansible all -m ping":

`[WARNING]: Error when using <bound method CallbackModule.v2_runner_on_ok of </ansible/lib/ansible/plugins/callback/minimal.CallbackModule object at 0x7fdbbcfd8d90>>:
'TaskResult' object has no attribute 'copy'`

`[WARNING]: Error when using <bound method CallbackModule.v2_runner_on_unreachable o

[2015-10-23 14:53] bcoca commented on #12533
order does not matter, most --list options bypass/ignore additional options
(we need to document this better)

[2015-10-23 15:13] dreamcat4 commented on #10294
@TvL2386 It seems there's a more recent PR come out 2 weeks ago which is related to this matter. Looks like relevant people have been looking into it... sorry just doesn't seem to be linked to this issue yet.

https://github.com/ansible/ansible/pull/12687

Also someone else recent. Not as certain if it's actually related to our winrm ssl verification problems or not:

https://github.com/ansible/an

[2015-10-23 15:15] abadger opened #12887 "Too many internal attributes marked private"
In 2.0 we tried to mark more attributes and methods private inside of classes to show that other things shouldn't be using them.  However, it appears that we went overboard in the marking without always considering them private.  We're using a tremendous number of private attributes from other classes.

For 2.1 we should start turning some of these into public attributes and evaluate others to see

[2015-10-23 15:33] selivan opened #12888 "Repeat statments don't work, only last one is used"
[code]

Test task is skipped in this configuration, but if you comment out the last line, it is launched. Experiments showed, that only last `when` statement is considered by ansible. I see two ways to fix this:
- make multiple `when` statements work with 'AND' logic
- return error if multiple `when` statements are used

[2015-10-23 15:40] azenakhi commented on #10294
Thank you for this response, but I think he doesn't my problem. I wanted redefine the variable ca_file_path inside ansible.cfg for tacking my own certification location. Ansible takes always the default path /etc/ssl/certs.

Thank you to go here in order to understand this problem :
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py
method : def get_ca_certs(self).

The

[2015-10-23 15:56] bcoca commented on #12885
can you show output of `ansible --version` and run the command with -vvvv to show full traceback?

[2015-10-23 16:10] mcalhoun commented on #12885
I'm also getting the same

$ ansible --version
ansible 2.0.0 (devel 08ca749c94) last updated 2015/10/23 12:00:01 (GMT -400)
  lib/ansible/modules/core: (detached HEAD 3fa6626094) last updated 2015/10/22 14:00:08 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD b65a583902) last updated 2015/10/22 14:00:08 (GMT -400)
  config file = /Users/[redacted]/ansible.cfg
  configured module search pat

[2015-10-23 16:12] dgabriele commented on #10627
+1
ansible 1.9.4
`wait: yes`

[2015-10-23 16:16] abadger commented on #12885
Sorry about that.  Should be fixed with this commit: https://github.com/ansible/ansible/commit/99c6f77e593a36ac26341d77fddd898665bde3ae

[2015-10-23 16:16] #12885 closed, assigned to abadger

[2015-10-23 16:36] bcoca commented on #12888
the issue is that pyyaml, which we use to read the playbooks, will unique the keys in a dictionary (yaml spec only allows for unique keys as most associative array implementations do). So we don't have an error to capture, we only see the last 'when'.

the other thing is that you can get what you wan't with a single when:

[code]

a list passed to a when is automatically 'AND'ed. or you can use ac

[2015-10-23 16:54] selivan commented on #12888
I'm using multiple statements to make the code more clear. Lists can do this too, thank you :)

I've found this abandoned bug in pyyaml tracker: https://bitbucket.org/xi/pyyaml/issues/9/ignore-duplicate-keys-and-send-warning-or. Not good. Some workarounds are listed in discussion.

Should I close the issue as "bug in upstream library" or leave it open to get fixed with some workaround?

[2015-10-23 17:07] pathcl commented on #12884
@azenakhi it should be simple to have a workaround. In which system are you?

paths_checked.append('/tools/product/ansible/cacert.crt')

[2015-10-23 18:20] bcoca commented on #12888
i would like to issue a warning, but this would apply to any/all cases where someone tries to use a duplicate key in a dictionary. But I don't expect many people to do this.

I'm not sure if we want to keep the ticket open when upstream does not seem to want to change the current state.

[2015-10-23 20:12] Jmainguy opened #12891 "local library not being accounted for in ANSIBLE_LIBRARY"
Ansible 2.0 latest from source today.

its not reading custom modules from a local library dir by default, like its intended to do.

[code]

[2015-10-23 20:21] sivel commented on #12891
Isn't a local `library` directory only traversed if it is local to a playbook?  Pretty sure it is, in which case since you are using the `ansible` command it wouldn't be used.  I see you mention `ANSIBLE_LIBRARY`, but don't see any output of evidence of that.

[2015-10-23 20:34] #12891 closed, assigned to jimi-c

[2015-10-23 20:45] abadger commented on #12816
I couldn't find any problems with the fix in testing so I've gone ahead and merged it.

https://github.com/ansible/ansible/pull/12892

[2015-10-23 20:51] jimi-c commented on #12891
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-23 21:03] abadger commented on #12816
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2015-10-23 21:03] #12816 closed, assigned to abadger

[2015-10-23 21:09] inadarei commented on #12862
Thank you, Brian.

Sorry for using the wrong channel of communication. I wasn't sure if this was a bug/side-affect, since it used to work in earlier versions. Will move the discussion to the list.

Cheers

[2015-10-23 21:22] abadger commented on #12700
I'm unable to reproduce here.  I do notice that the fragment of error message that you're getting: "Error when using" is probably happening when callbacks are being invoked.  Do you have any special callbacks enabled perhaps?

[2015-10-23 21:32] saeeda commented on #12851
Setting become_user directive in the local_action task resolved the issue.
- name: restart and wait
  hosts: test1
  sudo: yes
  gather_facts: no

  tasks:
  - name: restart server
    shell: /sbin/shutdown -r now "Reboot triggered by Ansible"
    async: 0
    poll: 0
    ignore_errors: true
  - local_action: wait_for port=22 host="{{ ansible_ssh_host }}" search_regex=OpenSSH delay=10
    become:

[2015-10-23 21:32] bcoca commented on #12877
Can You Help Us Out?
====================

Thanks for filing a ticket! I am the friendly GitHub Ansibot.

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard

[2015-10-23 21:40] egon0 commented on #10505
Same problem on Raspberry Pi 1 (plus and not plus) with plain current jessie based raspbian.

[2015-10-23 22:30] vecrofund opened #12894 "'TaskResult' object has no attribute 'copy' error"
I install ansible in my debian server and i wanna to check if ansible working by entering: ansible -m ping servers (servers - my list) and i got this:
[WARNING]: Error when using bound method CallbackModule.v2_runner_on_failed of
</usr/local/lib/python2.7/dist-
packages/ansible-2.0.0-py2.7.egg/ansible/plugins/callback/minimal.CallbackModule
object at 0x15a9450>>: 'TaskResult' object has no attribu

[2015-10-23 22:46] sivel commented on #12894
# Closing This Ticket

Hi!

We believe recent commits (https://github.com/ansible/ansible/commit/99c6f77e593a36ac26341d77fddd898665bde3ae) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing li

[2015-10-23 22:46] #12894 closed, assigned to nobody

[2015-10-23 23:00] vishcious opened #12895 "ansible ssh connection issue"
I am having issues trying to connect using an SSH connection using ansible. I am running ubuntu 15.04 locally with unusable 2.0.0 (devel e6d3c6745f). I have provisioned a local centos 7 machine using vagrant. This is the image i am using
http://cloud.centos.org/centos/7/vagrant/x86_64/images/CentOS-7-Vagrant-1509-x86_64-01.box

I can "vagrant ssh" into it fine. I can also ssh into the centos machi

[2015-10-23 23:17] bcoca commented on #11548
can you test against current devel, this seems to be working for me now

[code]

[2015-10-24 00:54] bcoca commented on #12643
are you running ansible as root?

[2015-10-24 02:32] Fullmetal8ender commented on #12643
No, as non-priviledged user

[2015-10-24 03:32] bcoca commented on #12670
no, that commit does not do anything of the sort

[2015-10-24 03:55] bcoca commented on #12731
there is already an ansible_interfaces that lists the available ones, I doubt we will move the keys from their current location as many many playbooks rely on them being where they are.

[2015-10-24 04:00] larsks commented on #12731
I wish `ansible_interfaces` was a list of dicts, rather than just a list of names.  That would make iterating over interfaces easier AND it would match other variables, like `ansible_mounts` and `ansible_devices`.  But I understand that people are using it the way it is.  Obviously introducing a new key would avoid that particular problem, but arguably at the expense of more complexity rather than

[2015-10-24 04:11] tianweiliu opened #12897 "Special character in PowerShell stdout/stderr causing playbook to fail"
Issue Type: Bug Report
Ansible Version: 1.9.4
Ansible Configuration: Fresh homebrew installation
Environment: Mac OS X 10.10.4

Summary:

Special character in stdout produced by running `npm install` in PowerShell will result in following error causing playbook to stop, although the `npm install` did run without error:

[code]

Steps To Reproduce:

Playbook:

[code]

PowerShell script:

[code]

[2015-10-24 05:10] vikas027 opened #12898 "Bug in ansible-tower-setup-2.3.1 on CentOS 6.3"
There is a bug in [ansible-tower-setup-2.3.1.tar.gz](http://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-2.3.1.tar.gz) for CentOS 6.3 (may be others too). However, it works fine on CentOS 6.6.

Problem is that `/etc/yum.repos.d/epel-6.repo` created while installing/upgrading Ansible Tower, contains mirrorlist which is not valid for CentOS 6.3.

[code]

I was able to fix this by mod

[2015-10-24 13:08] sivel commented on #12898
For tower support you will want to go through https://support.ansible.com/

[2015-10-24 13:08] #12898 closed, assigned to nobody

[2015-10-24 19:09] dreamcat4 opened #12900 "win_copy: Exception when src: is a folder"
Hi again,

If `src:` is a folder, it errors out:

[code]

That was with python 2.7.9 + ansible 1.9.4.

[2015-10-24 19:14] dreamcat4 commented on #12900
Note: maybe this bug is already fixed since v1.9.4. But I can't test anything directly on master until you guys integrate the fix for the windows SSL cert 500 verification error.

[2015-10-24 19:40] dreamcat4 commented on #12900
OK it seems that the directory copy works, but only if `dest:` ends in a slash. e.g.:

[code]

That's a bug IMHO. But if you don't want to fix then please at least document it.

[2015-10-24 20:53] #12895 closed, assigned to nobody

[2015-10-24 22:01] fperks commented on #11885
@jensschroer

I can confirm it works for me. Thanks for the fix.

[2015-10-25 01:02] roderickrandolph commented on #12575
@smcavoy-travelbird I agree--this is a painful bug for orchestration

Has anyone found an alternative workaround?

[2015-10-25 01:36] vikas027 commented on #12898
Thanks @sivel , I have raised a case with them.

[2015-10-25 01:52] roderickrandolph commented on #12575
Adding flush_handlers as a first task to post_tasks seems to be an alternative in 1.9.4 as long as the flush is also tagged.

[code]

[2015-10-25 03:03] koisoke opened #12902 "apt updates package cache in --check mode"
The apt module updates the system package cache even with --check mode. This happens at least in Ansible 1.7.1 and 1.9.4:
Steps to reproduce:

[code]

[2015-10-25 05:58] jimi-c commented on #12902
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-25 05:58] #12902 closed, assigned to nobody

[2015-10-25 05:58] jimi-c commented on #12900
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-25 05:58] #12900 closed, assigned to nobody

[2015-10-25 17:45] nschloe opened #12903 "pipefail for shells"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
shell module

##### ANSIBLE VERSION
N/A

##### SUMMARY
Recently, I experienced a nasty issue that was caused by the following shell pipe:

[code]

The git command fails, but the return code of the entire pipe is 0. This is default bash/sh behavior.

To fix this, in bash, one can `set -o pipefail` (in bash). Is it possible to do that in ansible, p

[2015-10-25 18:48] tersmitten commented on #12903
That would be nice indeed

[2015-10-26 05:33] #12831 closed, assigned to nobody

[2015-10-26 06:03] cdelpinogeo opened #12905 "Subnet ID not found, even though it exists"
I am using Ansible to deploy an autoscale group on aws. I have the following defined to create the asg:

[code]

I get the following error when running the playbook:

[code]

I've removed original values and placed #'s in there place.

Not sure what I am doing wrong. I've confirmed that the 4 subnets do exist via the aws console. Version of AnsiblIe am using:

[code]

I can provide more info if re

[2015-10-26 06:25] mgedmin commented on #12882
**Steps to Reproduce**

Define two roles and a playbook:
- roles/a/tasks/main.yml:

[code]
- roles/a/handlers/main.yml:

[code]
- roles/b/tasks/main.yml:

[code]
- roles/b/handlers/main.yml:

[code]
- test.yml:

[code]

Now run `ansible-playbook test.yml`.

**Expected Result**

[code]

**Actual Result**

[code]

[2015-10-26 06:27] mgedmin commented on #12882
git bisect blames commit a3e913da62a0182368569e91b30c568b24a63b0f

[2015-10-26 10:20] hryamzik opened #12906 "changed_when inversion doesn't work"
##### Issue Type:
- Bug Report
##### Ansible Version:

1.9.3
##### Ansible Configuration:

Default.
##### Environment:

Mac OS 10.10.5, applied on Ubuntu Linux 14.04
##### Summary:

changed_when inversion doesn't work
##### Steps To Reproduce:
1. Set some bool variable
   roles/role_a/defaults/main.yml

[code]
2. Run a task with changed_when:

[code]
##### Expected Results:

Debug task changed
###

[2015-10-26 10:24] hryamzik opened #12907 "make 'notify' templatable"
There's no way to call notify with parameters, like:

[code]

There're some workarounds but they look too complicated.

[2015-10-26 13:19] mcalhoun opened #12908 "SSH Stopped Working"
SSH stopped working for me sometime late Thursday or early Friday.
- OSX El Capitan
- Working fine previously, no updates done to OS
- Can SSH natively (outside ansible) without an issue

[code]

[code]

[code]

[2015-10-26 13:33] Robby123 opened #12910 "Winrm connections are not closed, resulting in multiple winrshost.exe and conhost.exe processes on target node"
I am running a playbook which runs many tasks on remote windows nodes, however after each playbook completes I notice that there are still many 'winrshost.exe' and 'conhost.exe' processes running on the remote nodes. This causes winrm to crash after a while as it runs out of memory

[2015-10-26 13:37] bcoca commented on #12903
just note that pipefail is a bash specific feature, not all sh implementations support it

[2015-10-26 14:15] nschloe commented on #12903
Perhaps `set -e` is more appropriate.

[2015-10-26 14:17] #12845 closed, assigned to nobody

[2015-10-26 14:19] abadger commented on #12845
Thanks for reporting this!  Looks like -r is a GNU specific extension to xargs.  Hopefully find -path is more portable.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions,

[2015-10-26 14:32] Robby123 commented on #12910
seems like it only happens when I use the 'raw' module

[2015-10-26 14:36] abadger commented on #12858
Hi, the behaviour you're describing does sound like it might be a locking issue.  Unfortunately the problem would be in repoquery, not in ansible.  So you'd want to open a bug with them rather than here.

Note that in the yum module that's going into 2.0 we have changed the module so that it's only running repoquery in one of two cases:

1) The playbook is doing state=list.  repoquery is the only

[2015-10-26 14:36] #12858 closed, assigned to nobody

[2015-10-26 14:41] abadger commented on #12872
Even worse, it errors out in v2:

[code]

[2015-10-26 14:58] jhawkesworth commented on #12910
Which ansible version are you running please?

[2015-10-26 15:03] debugloop commented on #9160
@micxer I think `with_file` is just like `with_items`, but it is putting the contents of `lookup( 'file', {{ item }})` into the regular `{{ item }}` variable. I.e., if you want `with_files` with globbing, you can use `with_fileglob` and write `lookup( 'file', {{ item }})` into the command.

[2015-10-26 15:25] abadger commented on #12873
Note: bugs against the yum module should be filed against the ansible-modules-core repository: https://github.com/ansible/ansible-modules-core/

I've found an answer for you which I don't 100% understand but is apparently how yum works with groups:
   https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sec-Working_with_Package_Groups.html

Acco

[2015-10-26 15:26] Robby123 commented on #12910
2.0.0 0.0.pre

[2015-10-26 15:28] blakfeld commented on #12554
I have a Pull Request that should fix this (or has for me, anyway!) https://github.com/ansible/ansible-modules-extras/pull/1114

[2015-10-26 15:37] #12873 closed, assigned to nobody

[2015-10-26 15:37] jhawkesworth commented on #12910
please can you try latest devel?  I recall someone reporting this a little while ago but I believe has been addressed fairly recently.

[2015-10-26 15:39] abadger commented on #12873
Okay, I wrote up some documentation about the difference between yum's environment groups and package groups in the above referenced commit.

Sorry this is a confusing area of yum that we're making visible.

[2015-10-26 15:52] abadger commented on #12897
This should be fixed in 2.0 via this commit: c845181dc1177ec61d10cf051e1f6ff24074b79b  and for 1.9.x (if there's a 1.9.5) in 4472889632c40d64e6fb4d7a1002caa4e64328e0  You should be able to apply the latter commit to your 1.9.4 install to get things working.

[2015-10-26 15:52] #12897 closed, assigned to nobody

[2015-10-26 15:54] abadger commented on #12897
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2015-10-26 16:10] abadger commented on #12883
Hi, the ec2_vpc module lives in the ansible-modules-core repository so it would be great if you could reopen this bug report there: https://github.com/ansible/ansible-modules-core/issues

It'll make it easier to find related bugs, get the right people looking at it, etc.

Thanks!

[2015-10-26 16:10] #12883 closed, assigned to nobody

[2015-10-26 16:10] #12882 closed, assigned to jimi-c

[2015-10-26 16:28] pjz commented on #9160
...sure, so shouldn't that go in the docs somewhere?

[2015-10-26 16:30] jimi-c commented on #12882
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-26 16:33] abadger commented on #12884
We think that ca_file_path may be an outdated example that we need to remove from the sample config file.  That hasn't been used since at least 1.7.0 (Could be even earlier... 1.7.0 is just the furthest back in history that I checked).

What are you actually trying to do?  (What is your ansible playbook that's failing)?  We may be able to recommend something for you if we know what you're actually

[2015-10-26 16:40] debugloop commented on #9160
Yes it should. As I said I _think_ it works that way, but someone should check the code first before wrong stuff is documented.

[2015-10-26 16:44] azenakhi commented on #12884
Thank for your message.

My problem is simple: I wanted make my custom certificate path inside ansible.cfg in order ansible to take this changement.

Best regards.

[2015-10-26 16:46] abadger commented on #12884
custom certificate path to do what?  There's different potential solutions depending on what you are trying to actually accomplish.

[2015-10-26 16:52] azenakhi commented on #12884
I wanted put my cacert.crt inside the path for example /usr/local/cacert.crt.

[2015-10-26 16:54] abadger commented on #12884
What playbook or ansible command line command will this make work for you?

[2015-10-26 17:06] cdelpinogeo commented on #12905
Update on this:

I changed the asg config to the following:

[code]

this created the asg, with only one subnet though. I've also tried setting the vpc_zone_identifier to:

[code]

same result.

[2015-10-26 17:26] #9079 closed, assigned to nobody

[2015-10-26 17:26] #10962 closed, assigned to nobody

[2015-10-26 17:27] CaptTofu opened #12912 "Apt module doesn't for install of python-apt, causing failure for private repo"
Chicken-and-egg.

At HP we have a private repo for our internal debian-based distribution (hLinux). I was trying to install some packages that weren't signed and passed "force=yes" and still it failed. Upgrading to 2.0 gave me better error messages and I realized it was actually line 689:

 module.run_command('apt-get update && apt-get install python-apt -y -q', use_unsafe_shell=True, check_rc=Tru

[2015-10-26 17:45] Robby123 opened #12913 "Is it possible to bounce winrm on a windows node?"
I have been having issues with winrm when using ansible, one of the solutions is to restart winrm on each node manually after every playbook. I have tried creating a playbook which can remotely restart winrm using the 'raw' module and also tried the 'win_service' module - but these both return a HTTP error 500 when running

[2015-10-26 17:47] christonog opened #12914 "win_get_url doesn't properly download files invoked with javascript"
While attempting to download an .msi for the PCXS powershell module (dependency of win_unzip).

On line 61 of win_get_url.py, $client.DownloadFile($url, $dest) is used. Perhaps, for files that are downloaded without a file extension (.msi, .jpg, etc) using invoke-webrequest would be best. It's slower, so it should only be used for these types of downloads.

[code]

[2015-10-26 17:48] caylorme commented on #12577
@jimi-c, you must be running as root?
I'm experiencing this while running ansible as a local user (not root), who requires password to sudo. The remote user on its remote host does not require sudo password. I want all actions on the remote host to use SUDO, but the delegate_to: localhost AND local_action tasks need to run whatever I have set for localhost or what I have explicitly defined for tha

[2015-10-26 17:48] jimi-c commented on #12872
Hi @halberom, the issue here is that you're not conditionally getting the data out of the mysql datastructure the second time. The error being raised in 2.0 is accurate because of this. To work around that, you should use the .get() call for both the inventory_hostname and version value as well:

<pre>
    mysql_version: "{{ ('version' in mysql.get(inventory_hostname, {})) | ternary(mysql.get(inve

[2015-10-26 17:48] #12872 closed, assigned to nobody

[2015-10-26 17:50] caylorme commented on #12577
I'm thinking you might be running ansible as a user who does not require a sudo password. Or are already authorized to sudo.

[2015-10-26 17:58] inadarei commented on #12883
Ooops! Thanks! Moved: https://github.com/ansible/ansible-modules-core/issues/2355

[2015-10-26 18:14] #12864 closed, assigned to bcoca

[2015-10-26 18:33] jimi-c commented on #12577
@caylorme nope, I've also tested with a non-root user and it works for me there too. With which version of Ansible are you seeing this problem? I'm running on the latest version of devel.

[2015-10-26 18:38] caylorme commented on #12577
Just tried it with 1.9.4, still fails.

$ ansible --version
ansible 1.9.4
  configured module search path = None

[2015-10-26 18:39] jimi-c commented on #12577
Can you test with devel in anwyay to see if the problem has been resolved there, as it appears?

[2015-10-26 18:39] caylorme commented on #12577
Sure, though I do remember doing this at some point.

[2015-10-26 18:40] jimi-c commented on #12908
@mcalhoun is this related to your other issue (https://github.com/ansible/ansible/issues/12594)?

[2015-10-26 18:42] jimi-c commented on #12908
There were three commits in `plugins/connection/` late last week:

<pre>commit 86de1429e57c0ec3c40a6c5bd2c1808ce78b48a4
Author: James Cammarata <jimi@sngx.net>
Date:   Thu Oct 22 16:03:37 2015 -0400
    Cleaning up FIXMEs
commit 09899b7c438bb029bd5715792951d646a302a5de
Merge: 54e821c aa0b753
Author: Brian Coca <bcoca@ansible.com>
Date:   Thu Oct 22 08:10:07 2015 -0400
    Merge pull request #12783

[2015-10-26 18:44] mcalhoun commented on #12908
@jimi-c No #12594 stopped being an issue for me a couple of weeks ago (it just started working). Then stopped working again Thu (22-Oct)/Fri (23-Oct) last week.

[2015-10-26 18:47] caylorme commented on #12577
Seems to work on latest dev:

[code]

[2015-10-26 18:47] jimi-c commented on #12908
Interesting. Can you test specifically with `-c paramiko` and `-c ssh` to confirm which connection pluging you're getting via `smart` selection?

[2015-10-26 18:55] mcalhoun commented on #12908
Trying -c {paramiko,ssh} got me additional debugging info...and I realized that for some reason it's not picking up my local username when ssh-ing. Setting ansible_user makes it work (either paramiko or ssh), but I'm not sure why I have to do that.

[2015-10-26 18:58] sivel commented on #12908
Deleting my comment, I'm dumb :)

[2015-10-26 18:58] bcoca commented on #12908
I just merged in a patch today in which the user CAN be left unspecified, both ssh and paramiko will default to the 'current user'. This allows both for using .ssh/config (when user is not specified) and overriding it when specified, even if it is the same as the current user (this was not possible before).

[2015-10-26 18:59] bcoca commented on #12908
@sivel, no, you don't need to it, leaving it at the default ('None') will let both paramiko and ssh use the 'current user'.

[2015-10-26 19:02] abadger commented on #12908
The last commit in that list was only for winrm.

[2015-10-26 19:05] jimi-c commented on #12577
Ok, I've moved this off the v2 milestone and to the stable-1.9 milestone, in case this is something we want to look at fixing/backporting. Most likely we won't however, due to the fact that there is a work-around here as you noted above.

[2015-10-26 19:07] mcalhoun commented on #12908
With the most recent source, this issue appears to have been resovled.

[code]

I can now connect with paramiko, ssh and with specifying ansible_user and not specifying ansible_user.

Thanks!

[2015-10-26 19:07] #12908 closed, assigned to nobody

[2015-10-26 19:22] ngaya-ll opened #12915 "Passing dict variable defined in group_vars to role fails when dict merging is enabled"
**Ansible version:** 1.9.4

When dict merging is enabled, passing a dict as a role parameter produces an error.

**Example:**
Consider the following Ansible project:

[code]

_ansible.cfg_:

[code]

_test.yml_

[code]

_group_vars/all_:

[code]

_inventory/local.ini_:

[code]

_roles/demo/tasks/main.yml_:

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2015-10-26 19:24] ngaya-ll commented on #12915
This works as expected when dict merging is not enabled.  This also works when the variable is accessed through hostvars:

[code]

[2015-10-26 19:39] evanccnyc commented on #12718
I just ran across this, it seems to be ignoring --start-at-task no matter what I put and just goes from the beginning. The task in question is in a role if that helps.

[2015-10-26 19:42] jimi-c commented on #12908
Ok great! Thanks for following up.

[2015-10-26 20:03] jimi-c commented on #12594
Per this comment on another issue from @mcalhoun, we believe the core issue reporte has been resolved. If anyone else is still seeing issues with this, please open a new issue and be sure to test specifically if you're seeing the problem with `-c paramiko` or `-c ssh` rather than the default (`smart`).

Thanks!

[2015-10-26 20:03] #12594 closed, assigned to nobody

[2015-10-26 20:06] evanccnyc opened #12916 "Wrong error message when unable to connect via ssh"
## Version:

ansible-playbook 2.0.0 (devel 8f77dd1cf2) last updated 2015/10/26 11:46:26 (GMT -400)
  lib/ansible/modules/core: (detached HEAD 06f301b05b) last updated 2015/10/26 11:46:28 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD 405c3cb2c7) last updated 2015/10/26 11:46:30 (GMT -400)
## Issue:

When the server is not online, the error message is confusing.
## What happens now:

Get t

[2015-10-26 20:37] smalenfant opened #12917 "uri module: Both 200 and 304 should be accepted by default"
Because the request sent contains an etag header when specifying a file, a status code of "304, not modified" should be accepted as default status code. Not sure if this is new in 1.9.4 or not.

Example..

[code]

[2015-10-26 20:38] smalenfant commented on #12917
Workaround: Add `status_code=200,304` in the uri command.

[2015-10-26 21:17] bcoca commented on #12917
I would argue that 304 should be a special case and return 'not changed' immediately.

[2015-10-26 21:21] smalenfant commented on #12917
Is there such status as `not changed`?

[2015-10-26 22:00] bcoca commented on #12917
when a task returns `changed=False`

[2015-10-27 00:21] bcoca commented on #12905
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2015-10-27 00:21] #12905 closed, assigned to nobody

[2015-10-27 00:42] #12912 closed, assigned to nobody

[2015-10-27 02:54] smalenfant commented on #12917
So I guess we are saying the same thing. 304 should return changed=False
and that would result into an "OK" message and not a failure.

On Mon, Oct 26, 2015 at 6:01 PM, Brian Coca notifications@github.com
wrote:

[2015-10-27 10:07] targetoyes opened #12919 "ansible Sharing connection will report error"
##### Issue Type:

  - Bug Report

##### Ansible Version:

tried several versions(1.9.*)
not sure ，maybe all version

##### Ansible Configuration:

default settings

##### Environment:

Ubuntu 12.04, centos5/6(just test these)

##### Summary:

SSH Error: Shared connection to test closed

##### Steps To Reproduce:

like issue ,for example: `ansible test -a "echo 1"& ansible test -a "echo 1"`

#####

[2015-10-27 12:01] jimi-c commented on #12916
Interesting, with both the adhoc and playbook commands, I get the following for a VM that's offline:

<pre>
    "msg": "ERROR! SSH encountered an unknown error during the connection. We recommend you re-run the command using -vvvv, which will enable SSH debugging output to help diagnose the issue",
</pre>

Have you changed any settings in your ansible.cfg which might affect the SSH connection para

[2015-10-27 12:15] jimi-c opened #12920 "Ensure vars plugins work and adjust API accordingly if needed"
As the title says, make sure vars plugins work with devel/2.0. As things relating to vars have changed, we may need to change the API to pass in a VariableManager class, and also ensure for 2.0 there is a base class to use.

[2015-10-27 13:13] bcoca commented on #12919
Can You Help Us Out?
====================

Thanks for filing a ticket! I am the friendly GitHub Ansibot.

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard

[2015-10-27 14:04] evanccnyc commented on #12916
This is my ansible.cfg settings:

[code]

[2015-10-27 14:23] gbane2012 opened #12921 "Jenkins keep display SSH error"
Can you guys help me out on that case . please ??? I am new with Jenkins

PLAY [Deploy to status servers] **********************************************\*

GATHERING FACTS **************************************************************\*
fatal: [prodstatus0] => SSH encountered an unknown error during the connection. We recommend you re-run the command using -vvvv, which will enable SSH debugging ou

[2015-10-27 14:26] gbane2012 commented on #12921
that's the debug results
PLAY [Deploy to status servers] **********************************************\*

GATHERING FACTS **************************************************************\*
<172.16.21.129> ESTABLISH CONNECTION FOR USER: ubuntu
<172.16.21.129> EXEC ['ssh', '-tt', '-vvv', '-o', 'ControlMaster=auto', '-o', 'ControlPersist=60s', '-o', 'ControlPath=/var/lib/jenkins/.ansible/cp/ansible-ss

[2015-10-27 14:35] gbane2012 commented on #5702
Hey guys,I need some help with that jenkins job result
PLAY [Deploy to status servers] **********************************************\*

GATHERING FACTS **************************************************************\*
<172.16.21.129> ESTABLISH CONNECTION FOR USER: ubuntu
<172.16.21.129> EXEC ['ssh', '-tt', '-vvv', '-o', 'ControlMaster=auto', '-o', 'ControlPersist=60s', '-o', 'ControlPath=/var/lib/

[2015-10-27 15:40] EmilStenstrom opened #12922 "SSH-key missmatch gives incomprehensible error message"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Command line interface

##### ANSIBLE VERSION
[code]

##### SUMMARY
Improve error message when key doesn't match the one in known_hosts

##### STEPS TO REPRODUCE
Connect to any server with an incorrect SSH key. This could happen in many ways. I my case I was rebuilding a vagrant box using ansible when I got this message.

##### EXPECTED RESULTS

[2015-10-27 16:14] abadger commented on #12700
Without more information we won't be able to debug this, marking pending_closure.  If anyone can provide the requested information we can take a look at what might be going on otherwise I'll close this in a few days.

[2015-10-27 16:18] dkhabarov opened #12923 "lxc_container module error ValueError: too many values to unpack"
Ansible version: 1.9.2

[code]

Task:

[code]

Vars:

[code]

OS: Ubuntu 14.4

[2015-10-27 16:27] madmod opened #12924 "New EC2 Run Command Feature"
I just wanted to start a discussion of Amazon's new [EC2 Run Command feature](https://aws.amazon.com/ec2/run-command/?sc_ichannel=em&sc_icountry=global&sc_icampaigntype=launch&sc_icampaign=em_154127070&sc_idetail=em_10668014515&ref_=pe_411040_154127070_7) and how it might be best integrated with Ansible. From what I can tell it's primary use is to run Powershell scripts and shell commands on many

[2015-10-27 16:37] jlaska opened #12925 "hostvars not updated after calling add_host"
The following change to the `_get_magic_variables` method in `lib/ansible/vars/__init__.py` resolves the issue:

[code]

[2015-10-27 18:10] bcoca commented on #12670
dupe of #12476

[2015-10-27 18:10] #12670 closed, assigned to nobody

[2015-10-27 18:13] #12925 closed, assigned to jimi-c

[2015-10-27 18:13] jimi-c commented on #12925
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-27 18:14] bcoca opened #12927 "Add ability to automatically download roles when running play"
##### Issue Type:

Feature Idea
##### Ansible Version:

Future
##### Ansible Configuration:

galaxy_whitelist: galaxy.ansible.com, myrepo.private.com
##### Summary:

Allow ansible-playbook auto-download roles when executing play if the role source is white-listed and the auto-download feature is enabled (off by default).

[2015-10-27 18:19] jlaska commented on #12925
Yay, fixed ... thank you!

[2015-10-27 18:43] jimi-c commented on #12923
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-27 18:43] #12923 closed, assigned to nobody

[2015-10-27 18:44] jimi-c commented on #12924
Hi @madmod, we generally reserve Github issues for bugs/PRs, so I'd recommend starting this discussion on the Ansible devel mailing list (https://groups.google.com/forum/#!forum/ansible-devel), or in the #ansible-devel IRC channel on Freenode.

Thanks!

[2015-10-27 18:44] #12924 closed, assigned to nobody

[2015-10-27 18:45] jimi-c commented on #12736
Seeing no further discussion here, we're going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansi

[2015-10-27 18:45] #12736 closed, assigned to abadger

[2015-10-27 18:46] #12559 closed, assigned to nobody

[2015-10-27 19:05] larsks opened #12928 ""until" loops never loop"
Using ansible 2.0.0 (57fe0d6aeda17ff93427e02d52c3354adc4f547d), I am seeing surprising behavior from the `until` loop construct.  The behavior I am trying to produce is "loop until a given command returns exit code 0".  I started with this:

[code]

But that fails with:

[code]

I tried adding `ignore_errors`:

[code]

But that simply caused ansible to assume success and move on, rather
than loopi

[2015-10-27 19:38] #12928 closed, assigned to nobody

[2015-10-27 19:39] jimi-c commented on #12928
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-27 19:41] jimi-c commented on #12554
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-27 19:41] #12554 closed, assigned to nobody

[2015-10-27 19:44] #12888 closed, assigned to nobody

[2015-10-27 19:47] abadger commented on #12888
Okay, that code change should enable a warning message if dict keys are overwritten.  It's a bit larger than expected since I had to also break apart an import loop so that I could use display.warning() in the yaml parsing code.  The dict key overwriting section are just the changes listed for this file:

https://github.com/ansible/ansible/pull/12930/files#diff-c495d684aecaea8f523caa00ab4ed915R19

[2015-10-27 19:54] hryamzik opened #12931 "git module does not update origin remote when repo url changes"
##### Issue Type:
- Bug Report
##### Ansible Version:

1.9.3
##### Ansible Configuration:

Default.
##### Environment:

Mac OS 10.10.5, applied on Ubuntu Linux 14.04
##### Summary:

Changing repo parameter in git module results in a fail
##### Steps To Reproduce:
1. Clone some repo

[code]
2. Change url

[code]
##### Expected Results:

remote url changed
##### Actual Results:

[code]

Cloning to a

[2015-10-27 19:55] jimi-c commented on #12931
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-27 19:55] #12931 closed, assigned to nobody

[2015-10-27 19:55] jimi-c commented on #12914
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-27 19:55] #12914 closed, assigned to nobody

[2015-10-27 20:00] jimi-c commented on #12907
I believe we already support this, at least in devel/2.0:

<pre>
- hosts: localhost
  gather_facts: no
  vars:
    foo: bar
  tasks:
  - debug: msg="notifying the {{foo}} handler"
    changed_when: true
    notify: "handler {{foo}}"
  handlers:
  - name: handler bar
    debug: msg="here i am"
</pre>

And when run:

<pre>
PLAY ************************************************************************

[2015-10-27 20:32] jimi-c commented on #12718
@jgrigonis I pushed 87269599a0c5e3457ff6df58dd75245f60f545b6 to fix @evanccnyc's issue above, and while I don't think it's necessarily related to yours you may want to double check now to verify.

[2015-10-27 20:36] jimi-c opened #12933 "Make sure bad includes mark hosts as failed properly"
Example:

<pre>
# cat test.yml
- hosts: localhost
  gather_facts: false
  tasks:
    - include: bad.yml

# cat bad.yml
- hosts: all
  gather_facts: false
  tasks:
    - ping:
</pre>

When run:

<pre>
PLAY ***************************************************************************

TASK [include] *****************************************************************
included: /root/testing/cwang/ping-20

[2015-10-27 21:03] evanccnyc commented on #12718
@jimi-c This fix just makes ansible skip all tasks now, before it ran everything.

[2015-10-27 21:45] itldo opened #12937 "ResultProcess must not modify the TaskResult it shares with its _final_q serialization thread."
## Ansible Version:

[code]
## Environment

[code]
## Summary

Ansible intermittently issues the following error and then hangs:

[code]

The cause is the following code that sends the entire result object including any _ansible_notify items
to the result queue and then proceeds to modify the result object with a `result_item.pop('_ansible_notify')` _at the same time the queuing thread is serializ

[2015-10-27 22:02] hryamzik commented on #12907
@jimi-c perfect, thanks. I didn't have time to switch to 2.0 yet. Closing,

[2015-10-27 22:02] #12907 closed, assigned to nobody

[2015-10-27 22:11] lvnilesh opened #12939 "using linuxbrew with ansible"
I am trying to use ansible with https://github.com/Homebrew/linuxbrew

See this https://github.com/ansible/ansible/blob/6292520c45905a01da4de9aaf0c5ce30bbd195a0/lib/ansible/module_utils/facts.py#L129 where homebrew path is set to be `/usr/local/bin/brew` which works for mac but not for `linuxbrew` where the path is `$HOME/.linuxbrew` as indicated by `$(brew --prefix)/bin`

How do I override this w

[2015-10-27 22:31] lvnilesh commented on #12939
This seems to work. Is this recommended or is there a better practice?

[code]

[2015-10-27 22:37] emcniece commented on #11536
@willotter I had to adapt this idea and add it to my ansible.cfg file to get it to work.

[code]

2017 update: looks like @willotter no longer exists :(

[2015-10-27 22:56] evanccnyc opened #12940 "Tags with Includes are broken in v2"
# Ansible Version:

[code]
# Playbook

[code]

include.yml

[code]
# Expected Results:

If ansible-playbook is run with -t test, it should run the include playbook.
# Actual Results:

Skipped the playbook

[code]

[2015-10-27 23:34] bcoca commented on #12939
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-27 23:34] #12939 closed, assigned to nobody

[2015-10-28 00:49] bcoca commented on #12921
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-28 00:49] #12921 closed, assigned to nobody

[2015-10-28 01:10] fastinetserver commented on #7474
Same problem on ansible 1.9.4 (under ubuntu-desktop 12.04 64 bit).
Task to reproduce:
    - name: clone the site from git repo
      git: repo=gl:{{project_name}} dest="/home/someuser/git/{{project_name}}" accept_hostkey=yes key_file=~/.ssh/private_key

So i use this workaround:
    - name: Add gl to known_hosts (workaround to avoid frozen git clone task)
      command: ssh -oStrictHostKeyChecking

[2015-10-28 01:49] galindro commented on #7474
@fastinetserver , please, post you answer here: https://github.com/ansible/ansible-modules-core/issues/1343

[2015-10-28 02:44] targetoyes commented on #12919
##### Issue Type:

  - Bug Report

##### Ansible Version:

tried several versions(1.9.*)
not sure ，maybe all version

##### Ansible Configuration:

default settings

##### Environment:

Ubuntu 12.04, centos5/6(just test these)

##### Summary:

SSH Error: Shared connection to test closed

##### Steps To Reproduce:

like issue ,for example: ansible test -a "echo 1"& ansible test -a "echo 1"

##### E

[2015-10-28 03:04] bcoca commented on #12919
seems to work in 2.0

[code]

[2015-10-28 05:18] adsnjhfyeqw231eas commented on #12850
visiting this link you have mentioned http://docs.ansible.com/ansible/stat_module.html and searching for the string lnk_source shows up, it is a String, not a Boolean :)

[2015-10-28 05:41] targetoyes commented on #12919
How to download version 2.0? I can't find it in pypi or other release.

[2015-10-28 07:05] azenakhi commented on #12884
Thank you for you help.

[2015-10-28 07:05] #12884 closed, assigned to nobody

[2015-10-28 11:19] basz opened #12944 "V2 synchronize module copies to control machine, not the remote"
I have a synchronise task that isn't working correctly with a checkout of devel. I went back to the first alpha release and they all show the same behaviour (latest is atm @174de11)
- synchronize: src="../files/000-default-html/" dest="/var/www/html" archive=yes

After some trail and error I found that an attempt is made to synchronise to my local machine. Confirmed by creating /var/www/html runni

[2015-10-28 11:22] razvanphp commented on #10071
@noseka1 ping!

Please make us a big favor and create a pull request to replace the current ini_file module with your implementation. Let's hope this will get soon into official ansible release. Too bad such a basic thing we need every day is ignored...

[2015-10-28 13:12] jimi-c commented on #12907
Thanks for following up!

[2015-10-28 13:19] jimi-c commented on #12718
@evanccnyc not for me:

<pre>
# ansible-playbook -vv test.yml --start-at-task="main task"
Using /etc/ansible/ansible.cfg as config file
1 plays in test.yml
PLAY ***************************************************************************
TASK [main task] ***************************************************************
ok: [localhost] => {
    "changed": false,
    "msg": "this should be the last one

[2015-10-28 13:22] emiel commented on #12850
Looks like it has already been corrected by this commit: https://github.com/ansible/ansible-modules-core/commit/2b33c92e7ab24612d2d10c0c68fa08fc806733b0

I'm closing this ticket. :)

[2015-10-28 13:22] #12850 closed, assigned to nobody

[2015-10-28 13:29] feliksik commented on #12174
Thank for you patience. I have checked, and it turns out the bug does not exist in current 2.0 dev.

That means the problem exists only in the current 1.9 version.

[2015-10-28 13:37] bcoca opened #12946 "Ensure all fact gathering and informational modules support check mode"
##### Issue Type:

Feature Idea

##### Component Name:

fact related modules

##### Ansible Version:

Future
##### Summary:

Add `support_check_mode=True` to all fact modules or data gathering modules to make them more usable during `--check` runs as other tasks normally depend on these.

[2015-10-28 13:44] adamryczkowski opened #12947 "Bug Report"
## Ansible version

`$ansible --version`
`ansible 1.9.4`
`configured module search path = None`
## Ansible Configuration:

Plain installation from repositories
## Environment:

Ubuntu 14.04 64 bit
## Summary:

Module `set_fact` ignores meta parameter `ignore_errors`.
## Steps to reproduce:

Run the following play:

[code]
## Expected Results:

Execution of the `pause` task. Either undefined variab

[2015-10-28 13:50] bcoca commented on #12947
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`ignore_errors` affects ONLY task results, if you task breaks on definition or (does not apply to set_facts) if it fails due to connectivity issues, ignore_fac

[2015-10-28 13:50] #12947 closed, assigned to nobody

[2015-10-28 13:51] bcoca commented on #12947
In any case you might want to use the `|default` filter to avoid this issue

[2015-10-28 13:56] bcoca commented on #12850
sorry, forgot to update this ticket after the fix

[2015-10-28 13:57] adamryczkowski commented on #12947
The `|default` construct doesn't work for me if you change     `- set_fact: myvar={{ non_existant_value}}` into `- set_fact: myvar={{ non_existant_value[1] | default(failed)}}` which better reflects my use case. Do you know about any walkaround to this?

[2015-10-28 14:00] bcoca commented on #12947
assuming the missing var can be either the array itself or that index of it:

`set_fact: myvar={{ (non_existant_value|default([]))[0]|default(failed) }}`

[2015-10-28 14:14] #12940 closed, assigned to nobody

[2015-10-28 14:14] jimi-c commented on #12940
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-28 14:22] abadger commented on #12944
The module args you are seeing are simply the arguments you gave to the
module in the playbook.  So they are not a representation of what rsync
itself is being given.

Are you giving synchronize the first task (without local_action) or the
second?  The second definitely would try to copy a file from the local
machine to another directory on the local machine.  The first should be
working to copy f

[2015-10-28 14:25] adamryczkowski opened #12949 "Jinja2 default filter doesn't allow for dictionaries"
## Ansible version

`$ansible --version`
`ansible 1.9.4`
`configured module search path = None`
## Ansible Configuration:

Plain installation from repositories
## Environment:

Ubuntu 14.04 64 bit
## Summary:

Module `set_fact` ignores meta parameter `ignore_errors`.
## Steps to reproduce:

Run the following play:

[code]
## Expected Results:

Assignment the 'key' -> 'value' dictionary to the `myv

[2015-10-28 14:32] bcoca commented on #12949
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are making YAML parse into a dict a structure inside a jinja2 declaration, that will not work, you need to create the dict in jinja. You can avoid the YAML

[2015-10-28 14:32] #12949 closed, assigned to nobody

[2015-10-28 15:49] basz commented on #12944
I am running without local_action and see files being copied to the control machine.

I thought I saw vagrant@127.0.0.1 in the dest property when I did some tests with ansible 1.9. Not sure now though

[2015-10-28 16:43] abadger commented on #12944
I just tried the latest devel with the following playbook:

[code]

It synced from the source directory on my local machine to rhel6:/var/tmp/html correctly.

[code]

So it seems like the source and dest are working properly for me.  Perhaps it's a different problem that you're having?

[2015-10-28 18:06] #12933 closed, assigned to jimi-c

[2015-10-28 19:49] Yannig opened #12952 "Bug Report: debug + with_items is not working properly"
**Issue Type:**

Bad var substitution using with_ statement and debug.

**Ansible version:**

[code]

**Ansible Configuration:**

Nothing special

**Environment:**

Linux Mint 17.2

**Summary:**

Debug + with_items does not work properly

**Steps To Reproduce:**

Use the following playbook:

[code]

**Expected Results:**

With Ansible 1.9, we get the following result:

[code]

**Actual Results:**

[2015-10-28 19:54] Yannig commented on #12952
I wrote the following patch in order to try to resolve this issue:

[code]

This patch result in the following output:

[code]

The output is now a little bit different but the result is correct.

[2015-10-28 20:28] noseka1 commented on #10071
Sorry, for the very late response. Ok, I'll create a pull request later today.

[2015-10-28 21:57] basz commented on #12944
Must have because now synchronize works as expected... I don't know what is going on and feel a little silly. The created files are still there on my control machine as proof... but yes now things work... weird...

What the exact process of building & installing ansible from source? What I do is;

[code]

[2015-10-28 22:13] opoplawski opened #12955 "ansible-pull 2.0.0 requires an argument"
with ansible 2.0.0-beta2 I get:

[code]

Man page still indicates that it should default to local.yml.  Seems something is messed up here.

[2015-10-28 22:47] zentavr commented on #12955
The problem is that no proper files are being created. Saying, when you do:

[code]

and after that review the binaries - you'll see (3902 is the size of the script):

[code]

If you do:

[code]

and review the binaries - you'll see this:

[code]

...saying _ansible-playbook_ has only the word /ansible/ (7 bytes) and that's it!

I have Python 2.7.10 on OS X El Capitan 10.11.1 and:
pip=7.1.2
setupt

[2015-10-28 22:50] zentavr commented on #12955
pip install --upgrade git+https://github.com/ansible/ansible.git@develop helped for me.

[2015-10-28 22:56] opoplawski commented on #12955
Well, I'm installing from https://copr-fe.cloud.fedoraproject.org/coprs/toshio/ansible-upstream/ - no problem with the binary.  But the pull.py cli code definitely bails if there is no argument.

[2015-10-28 23:06] sivel commented on #12955
The file sizes matching or seemingly small is not the issue.  `ansible` is the only command now, and the others are symlinks in the repo.  The process of creating a python package basically duplicates them and doesn't symlink.  The zip file from github, is just a zip of the repo (which is also missing modules btw), and keeps the other files as symlinks.

The problem is probably in the `PullCLI` cl

[2015-10-28 23:13] zentavr commented on #12955
@sivel - I saw that they are the symlinks in the repo (and in archives too). But when pip finishes - we have them as files (but not symlinks).

[2015-10-29 00:15] MeanderingCode commented on #3546
There should be a note on the patterns documentation about the change from one version to the next.  My version 1.9.4 doesn't support the comma syntax and finding this issue through a Google search is the only way I discovered to use a colon.

[2015-10-29 00:24] MeanderingCode commented on #3546
Made pull request https://github.com/ansible/ansible/pull/12958
Unsure of what version introduces the change, so please correct.

[2015-10-29 05:20] noseka1 commented on #10071
Ok, pull request submitted https://github.com/ansible/ansible-modules-core/pull/2385

[2015-10-29 11:27] preflightsiren opened #12959 "temporary AWS Access Keys results in auth failures"
Issue Type: Bug Report
Component Name: ec2 module
Ansible Version: ansible 1.9.4
Ansible Configuration: none
Environment: Mac OSX 10.11 / Not applicable
Summary: Using temporary AWS Access Keys results in auth failures
Steps to reproduce:
generate temporary access keys (eg. via STS or SAML provider)
attempt to create ec2 resource
Expected results: ec2 resource is created
Actual results: AWS AuthFa

[2015-10-29 13:00] agrgic opened #12960 "Stopping ec2 instances by tags is not working"
As stated in the docs:

instance_tags
a hash/dictionary of tags to add to the new instance or for starting/stopping instance by tag; '{"key":"value"}' and '{"key":"value","key":"value"}'

You can't stop instances by just providing (a) tag(s), using:

[code]

As my yml gives the following error:

failed: [localhost -> 127.0.0.1] => {"failed": true}
msg: running list needs to be a list of instances

[2015-10-29 13:02] vnitinv opened #12961 "/etc/anisble folder not created"
I did "pip install ansible" but  I dont see /etc/ansible folder getting created.
Is that I need to create it?

[2015-10-29 13:04] bcoca commented on #12961
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-29 13:04] #12961 closed, assigned to nobody

[2015-10-29 13:55] larsks opened #12963 "Missing configuration examples in intro_configuration"
The configuration docs at http://docs.ansible.com/ansible/intro_configuration.html#general-defaults are missing examples for:
- `stdout_callback`
- `callback_whitelist`
- `gathering`
- `module_lang`
- `transport`
- `special_context_filesystems`

[2015-10-29 14:24] slmingol commented on #4638
This method worked fine for me using this version of ansible:

[code]

I then constructed a templated file like this:

[code]

This resulted in this file getting copied to my remote:

[code]

[2015-10-29 14:43] jimi-c commented on #12960
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-29 14:43] #12960 closed, assigned to nobody

[2015-10-29 17:21] chuckyz opened #12964 "Missing note on default locale for shell/command modules - Documentation Report"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
shell and command modules

##### ANSIBLE VERSION
2.1

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
A default /etc/ansible/ansible.cfg contains the line

`module_lang    = C`

I was bit by this issue until I realized that my locale was wrong in a shell command.  This should be noted in the "Notes" section of the command and s

[2015-10-29 17:26] abadger commented on #12944
I usually use the hackingenv-setup script... it' not really for building but for using an ansible checkout as a developer.  It sets environment variables to use the checkout instead of whatever is on the system.

[code]

Your recipe for building and installing looks almost correct to me at first glance.  Just needs to add the git submodule update to set the modules to be the correct version as wel

[2015-10-29 17:26] #12944 closed, assigned to nobody

[2015-10-29 17:27] abadger commented on #12700
Closing issue.  Feel free to open a new one if it happens again and you can help us reproduce it.

[2015-10-29 17:27] #12700 closed, assigned to abadger

[2015-10-29 17:35] abadger commented on #12774
First bad commit: 1f5584aa5b9d1142e67fed209bbeea1ca99fc307

[2015-10-29 18:20] Gillingham opened #12967 "stat islnk False when file is a symlink"
Client:
- OS X
- ansible (1.9.4)
- Python 2.7.10

Target:
- Solaris 10
- Python 2.7.1

stat output:

[code]

When in reality:
ls -l /home/rampage/tps/php/php
lrwxrwxrwx 1 rampage 248 9 Sep  1 18:32 /home/rampage/tps/php/php -> php5.6.12/

[2015-10-29 18:34] madrobby commented on #11536
@LukeHoersten Thanks for this, fixed the issue for me!

[2015-10-29 18:39] Gillingham commented on #12967
Maybe I'm mis-understanding the function of follow for stat here. When I don't set follow=true I get back from stat that is is a link and it has a lnk_source being the destination.

I was under the assumption if I used follow=true the stat.path would be the links destination, which it isn't.

[2015-10-29 19:23] chrismeyersfsu commented on #11548
Works ! :tada: :balloon:

[2015-10-29 19:23] #11548 closed, assigned to bcoca

[2015-10-29 19:38] sivel commented on #12967
When `follow` is set to `True`, the module will use `os.stat` which will follow the symlink, and give you stat information for the followed symlink (i.e. the real file).

Setting `follow` to `False` which is the default, will cause the module to use `os.lstat`, which will not follow the symlink, and instead give you information about the link, instead of the followed file.

[2015-10-29 19:50] abadger commented on #12774
If anyone would like to test #12968 that would be great.  It seems to solve this problem in my testing but I'm not sure if it doesn't create other problems.  Wider use and review would be great.

[2015-10-29 20:01] Gillingham commented on #12967
@sivel

That seems to be not-functioning as expected, as the output in my initial post is from the call on the symlink with follow=true , yet the path information is not from the linked destination

[2015-10-29 21:17] sivel commented on #12967
Which path?  `path` is always the path that you passed in, not the followed path.  If `follow` is `False`, `lnk_source` will be the path to the real file, otherwise `lnk_source` will not exist.

[2015-10-29 21:23] Gillingham commented on #12967
With follow=true: `"path": "/home/rampage/tps/php/php"`
but that path is a symlink, `/home/rampage/tps/php/php -> php5.6.12/`

[2015-10-29 21:38] sivel commented on #12967
`path` in the return data is always the `path` specified in calling the module.  See https://github.com/ansible/ansible-modules-core/pull/10 for the introduction of this feature.

Also, this issue was created in the wrong repository and I do not believe it is actually a bug.

[2015-10-29 21:38] sivel commented on #12967
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-29 21:38] #12967 closed, assigned to nobody

[2015-10-29 23:25] #12774 closed, assigned to abadger

[2015-10-29 23:26] jimi-c commented on #12774
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-30 01:40] abadger commented on #12549
Confirmed that problem exists when run under python-2.7.9+ but not before.

[2015-10-30 01:40] abadger commented on #12549
Standard squid connect proxy; nothing fancy.

[2015-10-30 02:42] basictheprogram opened #12971 "Failed to lock apt for exclusive operation"
##### Issue Type:
- Bug Report
##### Ansible Version:

$ ansible --version
ansible 2.0.0 (devel 479cbfc63c) last updated 2015/10/29 18:34:45 (GMT -500)
  lib/ansible/modules/core: (detached HEAD a3a7cdb9aa) last updated 2015/10/29 18:34:45 (GMT -500)
  lib/ansible/modules/extras: (detached HEAD b1db0e893c) last updated 2015/10/29 12:34:50 (GMT -500)
  config file = /Volumes/Warrior1TB/Users/tanner

[2015-10-30 03:20] basictheprogram commented on #12971
Another hit that it's a threading or concurrency issue?

[code]

And all plays complete "successfully". But a manual check on host2 shows

[code]

Nothing in the logs either, so it looks like Ansible is reporting success but not actually doing anything.

[2015-10-30 06:55] abadger commented on #10941
I'm not sure if we are all using the same terminology and describing the same bug here.  For the people who try @shaleh's code sample and that makes the configuration work, what's needed is the ability to connect to a proxy which serves over https.  ie: the connection from the client to the proxy is https.  The connection from the proxy to the actual web server with the content does not matter.

I

[2015-10-30 07:09] abadger commented on #12884
I would have liked to have helped more but would have needed more information.

Perhaps these links will be of assistance to either you or to someone coming across this via google (they're how to add ca certificates on red hat-based and ubuntu/debian linux distributions:
- https://www.happyassassin.net/2015/01/14/trusting-additional-cas-in-fedora-rhel-centos-dont-append-to-etcpkitlscertsca-bundle-

[2015-10-30 08:09] ianunruh opened #12972 "run_once not working as expected with handlers"
Issue Type:

Bug Report

Ansible Version:

ansible 2.0.0 (479cbfc63c8261577b359b7703d7e6168c1a74f5)

Ansible Configuration:

N/A

Environment:

OS X Yosemite / Python 2.7.10

Summary:

When using a handler with `run_once: yes`, multiple notifications trigger the handler to run multiple times. This differs from the behavior in Ansible 1.9.x, where `run_once` would only cause the handler to run once

[2015-10-30 12:39] jimi-c commented on #12952
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-30 12:39] #12952 closed, assigned to jimi-c

[2015-10-30 12:57] jimi-c commented on #12971
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-10-30 12:57] #12971 closed, assigned to nobody

[2015-10-30 13:45] #12972 closed, assigned to nobody

[2015-10-30 13:45] jimi-c commented on #12972
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-30 13:46] #12955 closed, assigned to nobody

[2015-10-30 13:47] jimi-c commented on #12955
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-10-30 14:07] #12963 closed, assigned to nobody

[2015-10-30 14:17] opoplawski opened #12976 "Package install with_item list fails on EL7 client with 2.0.0 beta5"
Connecting with ansible 2.0.0-beta5 from Fedora 21 host to EL7 client the following task:

[code]

fails with:

[code]

It works with a Fedora 22 client (and with ansible 1.9.3).

[2015-10-30 14:29] zigarn opened #12977 "Add wily in ppa"
https://launchpad.net/~ansible/+archive/ubuntu/ansible does not propose wily.

[2015-10-30 15:04] Vladimir-csp opened #12978 "Dependency deduplication seems to be applied before tag filtering"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
1.9.4

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Hi!
I have ansible 1.9.4 on Debian testing.

Roles: **role1**, **role2**, **role3** depend on **base_role**
In site.yml:

[code]

if I run `ansible-playbook /etc/ansible/site.yml --tags tag1`, then **base_role** is correctly applied before **role1**.
If I

[2015-10-30 15:46] mgedmin opened #12979 "[v2] RuntimeWarning: Parent module 'ansible.plugins.action' not found while handling absolute import"
**Ansible Version**: 2.0.0
**Summary**:

My custom ansible plugins cause warnings to be shown for every execution:

[code]

I've bisected this to commit 057712c1296794bacc4f8def85d6caae6f77738f.

You can look at [my action plugin](https://gist.github.com/mgedmin/aec4678b25c2734f0d57), if you're curious, but there's nothing special about it.  Note how even `import time` causes the warning!

[2015-10-30 15:55] mgedmin commented on #12979
**Steps to reproduce**:
- git clone https://github.com/mgedmin/ansible-bug-12979
- cd ansible-bug-12979
- make test

**Expected behavior**:

[code]

**Actual behavior**:

[code]

[2015-10-30 16:08] larsks commented on #12976
On my system, running the above with ansible 1.9.3 results in:

[code]

But I think this may be due to a typo on your part.  The following
works correctly for me on 1.9.4:

[code]

Resulting in:

[code]

But fails in 2.0.0:

[code]

The full traceback for the above is:

[code]

At the time the above `final_args.update(additional_args)` is called,
`additional_args` still contains `{{item}}` and has

[2015-10-30 16:13] mgedmin opened #12980 "[v2] broke my custom module tests"
**Ansible Version**: 2.0.0
**Summary**:

I've a [custom module to manipulate .ini files](https://gist.github.com/mgedmin/aa629d5a4c5fe143a2ed).  I wrote some tests for it.  The first test checks that the module fails when some arguments are missing.  [This test](https://gist.github.com/mgedmin/aa629d5a4c5fe143a2ed) looks like this:

[code]

Essentially, I want to invert the normal failure status.

[2015-10-30 16:23] mgedmin commented on #12980
Small test.yml that reproduces this:

[code]

[2015-10-30 16:43] ianunruh commented on #12972
Thanks for the quick fix :+1:

[2015-10-30 16:46] abadger commented on #12913
This sounds like more of a question than a bug report.  You'll probably get more responses by posting to the user's mailing list than here as more windows users will see it there.

I'll paste the mailing list information below.

# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these

[2015-10-30 16:46] #12913 closed, assigned to nobody

[2015-10-30 17:00] mathieumd opened #12982 "service module: "ValueError: No JSON object could be decoded""
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

What OS are you running Ansible from: **Ubuntu 14.04.3 LTS**
And what OS are you managing? **Red Hat Enterprise Linux Server release 6.7 (Santiago)**
##### Summary:

Executing a "service" task always fails with **ValueError: No JSON object could be decoded** error.
##### Steps To Reproduce:

The failing task (from rol

[2015-10-30 17:32] larsks commented on #12976
Adding to the excitement, this "works":

[code]

But at the time the decision is made re: whether or not to squash the
items, `action` is `{{ ansible_pkg_mgr }}`, so even though this is
using the `dnf` module, it is being run multiple times, rather than
getting batched.

If we modify the task to explicitly use `dnf`...

[code]

...it fails differently:

[code]

This is a result of the `_squash_ite

[2015-10-30 18:06] opoplawski commented on #12976
Ah, sorry I missed that this was failing with F22 as well.  But it does seem that there are some issues surrounding this in any case.

[2015-10-30 18:37] lindes commented on #4369
I don't know whether it makes sense to re-open this or not, but I'd like to just point out that even if the ec2 config for the particular situation above was sorted, there's still an outstanding issue with this error message not being particularly helpful... it'd be nice to know which file it was parsing for an ec2 section, for example.  ('ec2.ini', I get... but I didn't know that before finding t

[2015-10-30 18:45] stcheng opened #12983 "[v2] global name 'no_log' is not defined"
Ansible Version: 2.0.0

Hello,

I notice that with -vvv option enabled, the action plugins are returning something that doesn't meet with expected data structure.

The error message will display

[code]

It seems that it is because the return value of the ActionModule's function run returns a dictionary without the entry 'no_log'.

Checked in file ansible/plugins/callback/**init**.py and file out

[2015-10-30 18:53] himanshukgit opened #12984 "unable to install git on red hat 6.0"
[root@localhost etc]# yum install git
Loaded plugins: product-id, refresh-packagekit, security, subscription-manager
This system is not registered to Red Hat Subscription Management. You can use subscription-manager to register.
Setting up Install Process
No package git available.
Error: Nothing to do
[root@localhost etc]# su -
[root@localhost ~]# ls
anaconda-ks.cfg  install.log  install.log.syslo

[2015-10-30 19:21] lukik commented on #2097
+1 for strip

[2015-10-30 20:13] aaronthebaron commented on #8123
While not optimal you can get around this issue without giving full perms. A policy structured like this does nicely for a Read Only bucket. The important part seems to be applying the perms to the bucket itself.

[code]

[2015-10-30 20:34] opoplawski opened #12986 "Avoid running facter/ohai in setup if not needed"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
package and service modules

##### ANSIBLE VERSION
2.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
With 2.0.0, both package and service run the setup module to retrieve the ansible_pkg_mgr/ansible_service_mgr variable.  This can trigger an unnecessary run of facter and/or ohai.  At first I thought that one could trigger off of the

[2015-10-30 23:42] 4levity commented on #11659
Ansible v1.9.2 does not even do the SSH key permission check correctly i.e. it does not respect that group-readable keys actually _are_ supposed to be allowed as long as they are not owned by the user who is using them. (NB: Yes, this is in fact true.)

On my system (CentOS 7.1) I have an SSH key with owner=root group=admin , with permissions 0640. CentOS "ssh" command allows me to use this key, b

[2015-10-31 00:17] bcoca commented on #11659
i cannot reproduce in current devel, please check if this is still an issue for you on that version.

[2015-10-31 01:15] bcoca commented on #12290
so i cannot reproduce this anymore, @amenonsen  please check against current head, it seems other work has fixed this as a side effect.

[2015-10-31 09:49] trondhindenes commented on #12910
@jhawkesworth correct, we saw this for a while, but should be resolved in devel.

[2015-10-31 09:53] trondhindenes commented on #10509
@breathe One reason we didn't use configure....ps1 to optionally install the required powershell version, is that changing the WMF version (Powershell is part of WMF) requires a reboot. I didn't have to go down the path of having to create a script that would persist between reboots since this is meant to be a quick and easy config-script.

I have not tested the configure..ps1 script on PowerShell

[2015-10-31 14:08] machacekondra commented on #12984
This is unrelated to ansible. You have to setup your repos properly, then you will be able to install git. (see man subscription-manager)

[2015-10-31 15:02] sivel commented on #12984
You may want to reach out to your hosting provider, RedHat, or try some forums related to Linux or RedHat troubleshooting.  As this is not Ansible related I'm closing this issue.

[2015-10-31 15:02] #12984 closed, assigned to nobody

[2015-10-31 15:39] abadger commented on #12977
Thanks for pointing this out.  We should be able to get that added sometime next week.

[2015-10-31 16:11] mblarsen opened #12987 "ansible-vault changes permission of files when encrypting/decrypting"
When using ansible-vault the file permissions are changed to

[code]

I expected them to be the same. This is especially relevant when using ansible-vault for keys (that would have: 600), that would otherwise have to open rights.

ansible 2.0.0 (devel 92dd563a75)

[2015-10-31 18:13] bcoca commented on #12983
fixed via 25e3fe04a8dfb42209f3740d0236fd77b1b029f4

[2015-10-31 18:13] #12983 closed, assigned to nobody

[2015-10-31 18:13] jimi-c commented on #12979
That is really weird, we disabled this warning message to remove this, as really it's just complaining about not finding an `__init__.py` in the custom plugin location.

[2015-10-31 18:15] bcoca commented on #12987
fixed via 00bc74404a8d2894f303f4612353417e4e94a156

[2015-10-31 18:15] #12987 closed, assigned to nobody

[2015-10-31 18:20] jimi-c commented on #12978
This has been an issue for a while in the 1.x versions, but should be fixed in devel (2.0) if you'd like to test it there.

[2015-10-31 19:07] ypid opened #12990 "'when: (item.copy)' fails (always True) when variable is called 'copy'."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.9.4 and ansible devel (d341ba14a5f4b974d41f4b11f678b356c89f79d9)
##### Ansible Configuration:

Default configuration
##### Environment:

Debian Jessie
##### Summary:

In a `when` condition `item.copy` always evaluates to True regardless of the actual value of `item.copy`.

Has `copy` some special meaning when used as key in a list of

[2015-10-31 19:16] bcoca commented on #12990
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-10-31 19:16] #12990 closed, assigned to nobody

[2015-10-31 19:25] ypid commented on #12990
Apparently some words are reserved. `item['copy']` works somehow but is also not reliable. As discussed in IRC it is best to avoid all names which are valid object names on items. Maybe it would be useful to document this somewhere (beyond this issue)?

[code]

[2015-11-01 09:42] Yannig commented on #12239
Same problem for me with playbook of mine.

[code]

I use virtual machine on my local machine and execution time is exploding:
- Ansible 1.9.2:

[code]
- Same playbook with last version of Ansible:

[code]

Here is the top consuming function using python profiler (python -m cProfile -s time):

[code]

I'm using a couple of roles template, include, with_dicts iteration. I'll try to create a role to

[2015-11-01 10:51] wimnat commented on #12959
Can you share your playbook? Are you using the sts_assume_role module?

[2015-11-01 14:17] netkgk commented on #12753
[code]

[2015-11-01 15:43] andre487 commented on #11266
+1

[2015-11-01 20:03] bmillemathias opened #12996 "retry files shouldn't be stored in $HOME"
After an unsuccessful deployment I saw such message in the console

[code]

I see two problems:
- programs should avoid creating random files directly at the root of the home directory of the user and rather store it under something like `~/.ansible/retry/`.
- the retry file should be appended with the date and time of the initial execution to avoid overwrite on a further unsuccessful deployment.

[2015-11-01 20:28] Yannig opened #12997 "Performance regression with Ansible v2 using include + big hash map"
##### Issue Type:

This is a bug report about speed regression between Ansible 1.9.4 and current devel version when combining big hash map and include statement.
##### Ansible Version:

[code]
##### Ansible Configuration:

Nothing special. The playbook work with  local connection.
##### Environment:

N/A
##### Summary:

I have speed regressions against various playbooks. With Ansible 1.9.4, this p

[2015-11-01 21:03] bcoca commented on #12996
the location of retry files can already be set by the user (retry_files_save_path in ansible.cfg)

leaving this open to add either datestamp or configurable format to the retry file name.

[2015-11-01 21:16] Yannig commented on #12997
The problem seems to come from **_do_template** call. The following patch gives some enhancement using a hash map as a cache:

[code]

This patch result in a 4 seconds playbook run (vs 20-21 seconds without patch):

[code]

It's not as good as with 1.9.4 (3s), but it's pretty close.

Now, it may have drawback ...

[2015-11-01 21:22] bcoca commented on #12753
You need to use the list flter when using a var, not when creating it, since the first var is quoted I expect it to be a string.  In any case 2.0 does 're evaluation' to try to coerce strings into complex data types so closing this as it is fixed in devel and will be released shortly.

[2015-11-01 21:22] #12753 closed, assigned to nobody

[2015-11-01 21:34] bcoca commented on #12997
closing as dupe of #12239

[2015-11-01 21:34] #12997 closed, assigned to nobody

[2015-11-01 21:42] Yannig commented on #12997
Hi @bcoca

I think it's not the same issue here. This issue talks about a problem with big hash map which can cause a huge regression in time execution.

[2015-11-01 21:47] bcoca commented on #12997
i believe they are very much related as the original issue seems to worsen the more vars are defined.

[2015-11-01 21:49] Yannig commented on #12997
Thanks for the feedback, I will follow this issue more closely in this case :)

[2015-11-01 22:28] bcoca commented on #12976
in 2.0 you have the generic package manager:

[code]

[2015-11-01 22:29] abadger commented on #12976
Still won't work because of bugs in how we handle with_items, though.

[2015-11-01 23:40] preflightsiren commented on #12959
I can, but its pretty boring when stripped of all the environmental id's.

[code]

This isn't about using the sts_assume_role module, but trying to run ansible with temporary credentials. For example, where I work you don't get access to IAM accounts with keys, but you can request temporary keys using STS (ASIA keys), that allow you run queries and operations but with a more structured set of perm

[2015-11-02 03:41] wimnat commented on #12959
Try https://github.com/ansible/ansible-modules-core/compare/devel...wimnat:feature/ec2-connection-change

[2015-11-02 06:15] PWBENNETT opened #13002 "I've written an example RHEV inventory script."
With the Red Hat news, it'll probably become moot, but if anyone wants me to paste it, I will.

[2015-11-02 06:25] abevoelker commented on #12686
The default sudoers file on Google Compute Engine requires a password for `sudo -u` (it doesn't for plain `sudo`), so this would be pretty useful for me as well.

[2015-11-02 08:54] sp1rs opened #13003 "when python3 will be supported ?"

[2015-11-02 08:58] famousgarkin commented on #1476
+1, same use case as @djm, installing software from source. My workaround ATM:

[code]

[2015-11-02 09:06] raben2 commented on #9661
support my pull request for params module https://github.com/ansible/ansible-modules-extras/pull/1156

[2015-11-02 09:52] resmo commented on #13003
Please use ML or IRC, not GH issues for questions. Thx

[2015-11-02 09:54] #13003 closed, assigned to nobody

[2015-11-02 11:10] den-is commented on #5679
As I can see this issue still exists for ansible v 2.0.0 beta2

[2015-11-02 12:54] alxgu commented on #11108
Hey Patrick,
could you please paste the whole output of "zypper pd".

Thanks

[2015-11-02 13:01] afh commented on #12996
I was also confused by the `*.retry` files in `$HOME` and it took my several months to come across the `retry_files_save_path`. I would've expected the retry files to be located in `$PWD`, which wouldn't interfere with multiple setups using the same names for different playbooks, that would overwrite their retry files.

[2015-11-02 13:35] bcoca commented on #11108
does it make more sense to change ansible_distribution to OES and keep the 'family' as Suse?

[2015-11-02 13:41] bcoca commented on #13002
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-11-02 13:41] #13002 closed, assigned to nobody

[2015-11-02 13:47] roberthartung commented on #9762
Any update on this?

[2015-11-02 14:06] mcalhoun opened #13004 "Issue with lib/ansible.egg-info/ ownership when running from source as different users"
We have the need to run ansible from cron as root (to ensure the 'ansible' user exists on all remote hosts and its key is present in authorized_keys) as well as the the 'ansible' user.

The problem is that when root sources ./hacking/env-setup, the directory lib/ansible.egg-info/ becomes owned by root and the ansible user can no longer run the ./hacking/env-setup without getting permission errors.

[2015-11-02 14:13] bcoca commented on #13004
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-11-02 14:13] #13004 closed, assigned to nobody

[2015-11-02 14:27] isotopp commented on #11536
The root cause for this is at

https://github.com/openssh/openssh-portable/blob/9ada37d36003a77902e90a3214981e417457cf13/misc.c#L1070

[code]

To know the limit (sizeof(sunaddr.sun_path)), we need to look at https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man4/unix.4.html

[code]

The path is limited to 104 characters including the \0 terminator.

This is also being

[2015-11-02 14:31] isotopp commented on #11536
[code]

[2015-11-02 14:38] jhawkesworth commented on #12910
@Robby123 - any update on this?

If it is still failing in latest devel then please can you share what you are attempting using 'raw' so this can be investigated further.

[2015-11-02 15:19] lukehoersten commented on #11536
@isotopp good suggestions. I wonder why we don't just change the default to `control_path = %(directory)s/%%C` to avoid future issues.

[2015-11-02 15:26] isotopp commented on #11536
@LukeHoersten I think ansible should change the default, too. In fact, I did

[code]

Ping @bcoca - see analysis and proposed changes above.

[2015-11-02 15:30] lukehoersten commented on #11536
+1

[2015-11-02 15:53] alxgu commented on #11108
I would suggest to add  "distribution_products" fact on SLE, which contains all installed Suse products ( ex. SUSE_SLES_SAP-release.rpm or sles-release.rpm) with version

ansible_distribution_products: {
       "SUSE_SLES": "11.3",
       "SUSE_SLES_SAP": "11.3",
       "sle-sdk": "11.3"
},

that would also contain the "Novell Open Enterprise Server" fact if installed.

### List products

zypper -

[2015-11-02 16:58] bcoca commented on #11536
because it would not work on many many OSs/distros that run even slightly older versions of openssh

[2015-11-02 19:21] isotopp commented on #11536
Proposed change in http://pastebin.com/ugXKMFsv changes docs and comments only. Will work with old versions of openssh, but make pointer to %C more obvious.

[2015-11-02 19:24] abadger commented on #5679
If you're experiencing these symptoms, please open a new bug with information on reproducing and your expectations of what should happen.  This bug has been closed which means that we're unlikely to see updates on it and that the code causing the issue this time is probably different.  If you do think that there's relevant information here (for instance, you suspect that the fix for this may have

[2015-11-02 20:40] bcoca commented on #12982
~~I cannot reproduce the issue in current devel with `/etc/sysconfig/i18n` having  `LC_ALL="fr_FR@euro"`~~ he, just needed a restart

narrowed down the issue. using the `service` executable on the distro, only `LANG` get's passed which is ignored if the system's LC_ALL is set so I don't see a way to override this behavior.

[2015-11-02 21:08] Yannig commented on #12239
Here is some bench I have done against 3 differents playbooks with latest version of https://github.com/ansible/ansible/pull/13000:

| Playbook | v1.9.4 | v2 No patch | v2 Patch _do_template | v2 Patch hostvars | Both |
| --- | --- | --- | --- | --- | --- |
| issue-vars.yml | 2.673 | 22.868 | 5.212 | 6.232 | 3.161 |
| no-vars-mapping.yml | 0.55 | 2.391 | 2.380 | 2.399 | 2.349 |
| real-playbook.yml

[2015-11-02 21:21] bitwombat opened #13009 "known_hosts giving cryptic error"
I have a task to learn/store a remote machine's fingerprint on the machine being configured so that a ssh tunnel works without prompting.  That task has run on Vagrant and EC2 instances, no problem, but is failing on my latest EC2 machine (which is a copy of one it worked on).

So it should work.

[code]

This is the output:

[code]

Ansible issue?  Or something I can/should be debugging?

[2015-11-02 21:24] abadger commented on #12977
wily builds are now listed in the ppa.  Thanks to jlaska for adding that (and making a fix to the .deb build)!

[2015-11-02 21:24] #12977 closed, assigned to jlaska

[2015-11-02 22:00] zigarn commented on #12977
Thanks.

[2015-11-02 22:26] bitwombat commented on #13009
ANSWER:  ssh-keyscan fails silently if it can't ssh to the destination.  In my case I had the wrong IP address (it had changed since last successful run of this task).

It would be good if Ansible said "Error: key variable set but empty" instead of being angry at the attempt to access key[-1] and giving me a Python stack trace.

[2015-11-02 22:52] jsengla commented on #5564
I like clean output, and often use with_items for the single line of output (since I unfortunately can't include jinja in the 'name:' section).
I have solved this issue for clean output and security (skipping sensitive variables) by using jinja's map filter on hashes.
The trick, especially with hashes that aren't entirely uniform (i.e., a registered variable from some skipped/failed/successful tas

[2015-11-02 23:45] bcoca commented on #13009
the stacktrace should still be avoided, keeping this open

[2015-11-03 02:48] bcoca commented on #13009
should have closed cause this is in the wrong repo, but here is the fix http://github.com/ansible/ansible-modules-extras/commit/9fb6054500a9841ed4aa73733581fe248aaf7bf1

[2015-11-03 02:48] #13009 closed, assigned to nobody

[2015-11-03 04:44] Etherdaemon opened #13010 "AWS boto3 - profile support"
**Issue Type:**

Bug Report

**Ansible Version**
ansible 2.0.0 (detached HEAD de54f26376) last updated 2015/11/03 08:46:06 (GMT +1000)
  lib/ansible/modules/core: (detached HEAD e318be30ff) last updated 2015/11/03 08:45:42 (GMT +1000)
  lib/ansible/modules/extras: (detached HEAD 80f198a82f) last updated 2015/11/03 08:45:42 (GMT +1000)

Running Ansible from source - v2.0.0-0.4.beta2

**Environment:

[2015-11-03 06:31] justinligraph opened #13013 "copy module doesn't follow symbolic directory"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME:

copy action plugin
##### ANSIBLE VERSION

2.0.1.0
##### SUMMARY

I am copying a folder, foo, which has a subfolder, foo1, which is a symbolic link to another folder say /root/myfoo1. copy module won't copy it to remote location.

[2015-11-03 06:37] Etherdaemon commented on #13010
@willthames has brought up a good point on the fact that this does change the specification of the reply for existing modules calling the get_aws_connection_info method. It seems a bit hacky but I might update the merge request to return the additonal argument only if a profile_name is passed in. This should then allow boto profiles to be fixed while not affecting the existing setups that people a

[2015-11-03 06:41] willthames commented on #13010
@Etherdaemon, another alternative is to keep `boto_params` as is (and thus keep the existing API for `get_aws_connection_info`) and fix the `boto3_conn` to remove `profile_name` from `boto_params` and pass it into `Session`. That seems a simpler change, but relies on people using `boto3_conn`.

[2015-11-03 06:50] Etherdaemon commented on #13010
@willthames Yes - fair point. I think you've done more contributions than me on Ansible - would that be the better way to go for this change? I'm happy to update accordingly. It does mean that if someone wants to use the return of get_aws_connection_info later with a different boto3 connection call, they would need to remove it out in their own methods as well.

[2015-11-03 07:02] amenonsen opened #13014 "v2 regression: delegate_to in a loop doesn't show ``[delegater -> delegatee]`` in output"
With current ansible devel, the following play:

[code]

displays the following output:

[code]

whereas with Ansible 1.9, it displays this:

[code]

Because of the incorrect output, I can't be sure if the delegation is actually working as intended/as it did before (because the hosts I'm delegating to all have `ansible_connection=local`).

[2015-11-03 07:04] amenonsen commented on #13014
Update: the actual delegation does appear to be working, it's only the output that is wrong.

[2015-11-03 07:19] Etherdaemon commented on #13010
@willthames, having a further think about it, I think the best option is what you suggested, otherwise writing modules for it would be quite messy with catering for either 3 values and 4 values being returned from that method. I'll work on the update and submit an updated PR.

[2015-11-03 09:05] amenonsen commented on #12916
@evanccnyc I haven't been able to reproduce this problem either (I ran an ansible command with `-sKU` to enable sudo, but the failure came on the first connection where it just creates the ansible directory without sudo), but I suspect the fix is along the lines of the patch at https://gist.github.com/amenonsen/a8131bf563524f694186

Could you please try it and see?

[2015-11-03 14:55] worldowner opened #13017 "delegate_to runs code as wrong user"
I have inventories:
1\ master

[main]
ls-master.int.domain.com

[all:vars]
ansible_ssh_user = ls-deploy

2\ stage
[main]
ls-stage.int.domain.com

[all:vars]
ansible_ssh_user = ls-deploy

The problem is that on ls-stage.int.domain.com task with delegate_to delegate_to: "{{ ansible_fqdn }}" runs as user that launched ansible instead of ls-deploy which is defined in inventory. The issue doesn't exist

[2015-11-03 15:10] vikas027 opened #13018 "Feature Idea: YAML files as facts"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
As of now the output of the output of a file/script should be in JSON format in order to use the output as facts. It would be a lot more convenient if we can just put YAML files in ansible facts directory.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

[2015-11-03 15:14] bcoca commented on #13018
The reason they are JSON now is because there is a Python - JSON requirement for Ansible on the targets. This feature would require python YAML installed on the remote machines, if we implement this it should deal with the absence of it gracefully.

[2015-11-03 15:28] evanccnyc commented on #12916
I did a clean reinstall recently rm -Rf and then git clone and it seems to have gone away. Ill close and reopen if I see it again.

[2015-11-03 15:52] evanccnyc commented on #12718
Hmm I still am having problems with this not working. I will try and track down exactly whats going when I have a chance.

[2015-11-03 16:03] grypyrg commented on #1476
+1

[2015-11-03 16:26] hadrienk opened #13020 "dmidecode fails with permission denied"
Running the setup (ansible/module_utils/facts.py) on a machine without the required /sys values fails with

[code]

Using the sudo switch does not help.

[2015-11-03 16:29] hadrienk commented on #13020
seems that the following line is not executed with appropriate privileges

[code]

[2015-11-03 16:54] bcoca commented on #13020
the setup.py gets run with sudo, not the commands under it

[2015-11-03 18:02] abadger commented on #11918
IIRC, the public module ssl wa added after the support for httpsconnection in httplib.  So we're not actually checking for whether python was built against openssl.  We're checking if the installed python is either recent enough to have the ssl module or has an addon package which provides the ssl module (See the python-2.4 documentation which has httpsconnection https://docs.python.org/release/2.

[2015-11-03 18:20] abadger commented on #11918
I think it will be moderate to hard to implement this.  I have a few other things to look into in urls.py so I'll try to squeeze this in as well but I can't absolutely promise it will get fixed in this round.  As you saw when you tried to add it to the HAS_SSL guard, the code is not all straightforward.

Most people on CoreOS install their own python.  command module with curl and wget is another

[2015-11-03 19:16] smiller171 commented on #12927
:+1:

[2015-11-03 19:22] hadrienk commented on #13020
Aren't the facts retrieved using this modules? In the case of a playbook
run with sudo it is not working either. Is that a design decision or a bug?

On Tue, Nov 3, 2015, 17:55 Brian Coca notifications@github.com wrote:

[2015-11-03 19:25] bcoca commented on #13020
I think i did not make myself clear, there is no need for the run_command to use sudo if setup.py is already run as sudo, in that case the command should work. I tested on several distros and I cannot reproduce the issue, can you supply more information? we need a minimal reproducible case.

[2015-11-03 19:48] ahill00 opened #13023 "v2 performance issues"
##### Issue Type:
- Bug Report
##### Ansible Version:

$ ansible --version
ansible 2.0.0 (devel eb8ec73ff3) last updated 2015/11/03 14:30:56 (GMT -400)
  lib/ansible/modules/core: (detached HEAD 22c2789b72) last updated 2015/10/28 23:03:02 (GMT -400)
  lib/ansible/modules/extras: (detached HEAD c685b3d387) last updated 2015/10/28 23:03:10 (GMT -400)
  config file =
  configured module search path

[2015-11-03 20:10] evanccnyc commented on #13023
This could be related to https://github.com/ansible/ansible/issues/12239

[2015-11-03 20:19] ahill00 commented on #13023
attempted to run from https://github.com/jimi-c/ansible/tree/issue_12477_performance_improvements_hostvars , still doesn't complete.

[2015-11-03 20:41] evanccnyc commented on #12718
I think this is due to combing --limit and --start-at-task

[2015-11-03 21:25] Yannig commented on #13023
@andyhky I have done a PR in order to fix a part of Ansible v2 performance. You can retrieve it here: https://github.com/ansible/ansible/pull/13000

Maybe you can give it a try.

[2015-11-03 21:31] evanccnyc commented on #13010
I was considering how to add boto3 support to different aws modules, since boto3 supports a lot of things Ansible cant do currently (like tag elb instances, elasticache replication etc).

[2015-11-03 21:33] joshrivers commented on #3546
+1. Just spent an hour trying to figure out the problem with version 1.9.4 installed via pip install yesterday. Until 2.0 emerges from alpha, the documentation should really mention using the colon.

[2015-11-03 21:36] sivel commented on #13023
@andyhky earlier told me that #13000 did not improve performance for him either.

[code]

[2015-11-03 21:37] bcoca commented on #3546
docs were already updated to show : and note that , is broken in 1.9

[2015-11-03 21:38] joshrivers commented on #3546
Do the docs need deploying? http://docs.ansible.com/ansible/intro_patterns.html does not mention the colon.

[2015-11-03 21:39] Yannig commented on #13023
@sivel @andyhky I will take a look if I can improve something.

[2015-11-03 21:40] bcoca commented on #3546
yep, needs deploying

[2015-11-03 22:32] jszwedko opened #13024 "Certificate errors when using a proxy"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.9.4
  configured module search path = None
##### Ansible Configuration:

Nothing
##### Environment:

Debian 8.2
Python 2.7.9
##### Summary:

Very similar to #12549

Using a proxy for HTTPS endpoints causes Ansible to complain that the certificate doesn't match the hostname (I added some print statements to the generated python file to

[2015-11-03 22:33] jszwedko commented on #13024
cc/ @2rs2ts

[2015-11-03 22:37] Yannig commented on #13023
@sivel @andyhky This is not perfect but this patch may improve things.

[2015-11-03 22:50] hadrienk commented on #13020
I see.

I am running version 1.9 on gentoo. The target system is a CentOS 5.4.

Is there a way I can gather more information without modifying the code?

On Tue, Nov 3, 2015, 20:25 Brian Coca notifications@github.com wrote:

[2015-11-03 22:52] jszwedko commented on #13024
Bisected down to this commit: a4691991ad83bccf6fb42bdb06a5da820e8a766e

[2015-11-03 23:35] Etherdaemon commented on #13010
I think for existing modules the battle would be calling boto3 methods versus existing boto methods as the can be so different. It might be easier to pull the existing boto(2) code out of the main function and into a separate boto(2) function, and also have a separate boto(3) function. Then have a try and import both versions up the top to set the constants, then in main have an if else statement

[2015-11-04 00:03] vikas027 commented on #13018
Hi @bcoca , As of now, I am pulling up YAML files generated by some application on the Ansible server, and then converting into JSON.
IMHO, it would be easier to install Python YAML than converting YAML files to JSON, for which I anyways have to install [yaml2json](https://www.npmjs.com/package/yaml2json)

[2015-11-04 00:31] bcoca commented on #13018
if you have them on the ansible server, just use include_vars, it will read both YAML and JSON

[2015-11-04 00:56] mschurenko opened #13026 "Can we add STS assume role to module_utils/ec2.py?"
<b>Issue Type:</b>  Feature Idea
<b>Component Name:</b> module_utils/ec2.py
<b>Ansible Version:</b> devel
<b>Summary:</b>
I know there is this module:

http://docs.ansible.com/ansible/sts_assume_role_module.html

But having this in the ec2.py module utility seems like a much better way to go as it is a lot of boiler plate to have to add sts_assume_role to every playbook that assumes roles. We only

[2015-11-04 01:53] preflightsiren commented on #12959
+1 that'll fix it.

[2015-11-04 03:29] yikaus opened #13028 "Role dependency issue with tags being used"
Having a role dependency issue with calling task by tags .

Environment ubuntu 14.04 . ansible 1.9.3

Issue can be easily reproduced as below
##### roles/role1/tasks/main.yml

##### roles/role1/meta/main.yml

##### roles/role2/tasks/main.yml

##### test.yml

When run playbook by `ansible-playbook test.yml -t t1` role2 as dependent is executed

PLAY [localhosts] ************************************

[2015-11-04 06:13] jonkellyevanspf opened #13030 "Problem Starting an EC2 instance by tag type"
running this playbook
- hosts: localhost
  connection: local
  gather_facts: False
  vars:
    machine_name:
    ec2_region: ap-southeast-2
  tasks:
  - local_action:
    module: ec2
    region: '{{ ec2_region }}'
    instance_tags:
      Name: '{{ machine_name }}'
    #state: absent
    state: running
    wait: True

results in an error in the ec2.py

of

failed: [localhost -> 127.0.0.1] => {"fai

[2015-11-04 09:08] Petrox opened #13031 "ansible-galaxy init has different default directory than ansible-galaxy install"
Issue Type: Bug Report
Ansible Version: 1.9.4
Ansible Configuration:

I use ansible in a "standalone" way, so my stuff is not in /etc, but I've got an ansible dir under version control, an ansible.cfg and roles directory, playbooks directory, files directory too.

The ansible.cfg has:

[code]

Environment: Ubuntu 14.04 trusty + ansible 1.9.4 from PPA

Summary:

 When I'm installing a role with ans

[2015-11-04 09:18] sheldonh opened #13032 "Can't set User in ssh_config"
##### Issue Type:

But Report
##### Ansible Version:

[code]
##### Ansible Configuration:

In `ansible.cfg` I refer to a custom `ssh_config`:

[code]

The `ssh_config` configures SSH proxy through a bastion:

[code]

Inventory does not set `ansible_ssh_user` for the bastion host.
##### Environment:

N/A
##### Summary:

As of c271c0e, Ansible now overrides the ssh User option, using my local userna

[2015-11-04 09:32] hadrienk commented on #13020
I assumed the -K switch implied the sudo would be used. With the -s switch it works fine.

[2015-11-04 09:32] #13020 closed, assigned to nobody

[2015-11-04 10:24] worldowner commented on #13017
I forgot to say that I use ansible 1.9.4.

[2015-11-04 11:15] skornehl opened #13033 "v2 ValueError: Circular reference detected"
I have a template for some Debug Informations, it looks like:

tasks/main.yaml

[code]

templates/dumpall.j2

[code]

This works with ansible 1.9 but with the actual HEAD this results in:

[code]

I just can't see any circular reference here ...

[2015-11-04 11:33] chrrrles commented on #13026
Looping in @tgerla @lwade @bekelchik on this

[2015-11-04 11:35] chrrrles commented on #13024
Hey @abadger - do you have any insight on this?

[2015-11-04 12:11] messiahUA commented on #7071
ansible 2.0.0 (devel 061b83cd74)
I'm using ssh-agent and it still asks for password. I've tried to manually execute exact same command, which ansible outputs in failed log, and it works! All arguments seems to be correct:

 rsync --delay-updates -F --compress --archive--rsh 'ssh  -S none -o StrictHostKeyChecking=no' --rsync-path="sudo rsync" --out-format='<<CHANGED>>%i %n%L' "/dir" "user@server:~/

[2015-11-04 12:34] preflightsiren commented on #12088
+1

[2015-11-04 13:21] messiahUA opened #13034 "Synchronize module asks for password"
**Issue Type:** Bug Report
**Ansible Version:** ansible 2.0.0 (devel 061b83c)
**Ansible Configuration:** become=yes
**Environment:** Debian 7

**Summary:**
Synchronize module asks for password when using sudo (become) and ssh key-based auth using ssh-agent.

**Steps To Reproduce:**
1. Setup ssh key-auth (ssh-agent).
2. Execute:

[code]

**Expected Results:** Synchronize module should not ask for p

[2015-11-04 13:37] bcoca commented on #13033
so the issue is that you seem to use the 'environment' directive as a variable, not sure how this works in 1.9 either as they will be in conflict.

[2015-11-04 13:41] bcoca commented on #13033
If i set environment, it runs w/o errors

[2015-11-04 14:14] Pallokala commented on #12744
I finally solved the bug. I had ec2.ini  in 'library' -directory and for some reason ansible was picking it when it looked for ec2 -module. Renaming the ec2.ini to ec2_dynamic_inventory.ini and executing 'export EC2_INI_PATH=library/ec2_dynamic_inventory.ini' fixed the problem.

[2015-11-04 14:14] #12744 closed, assigned to nobody

[2015-11-04 14:17] asagage commented on #11266
+1

[2015-11-04 14:36] bcoca commented on #13032
updated changelog in 38cc0705c640135023f1589ff9d1bf1994a98b84

if you want to respect the .ssh/config do not set the user, this is now inline with how ssh itself works.

[2015-11-04 14:36] #13032 closed, assigned to nobody

[2015-11-04 14:55] sheldonh commented on #13032
Mmmkay. This doesn't sound true: "Leaving it unset will still use the same user and respect .ssh/config". This is the problem I'm reporting: leaving it unset does not respect `.ssh/config`, but instead overrides it with the local username.

[2015-11-04 15:41] Robby123 opened #13035 "Ansible - is it possible to set a time limit for a task?"
I am currently running a task on a windows node which executes a 'raw' command, however sometimes this command can hang and never end - is it possible to give the task a timeout of about 5 mins and then end it if it hasn't completed within that time?

[2015-11-04 16:30] sivel commented on #13035
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-11-04 16:30] #13035 closed, assigned to nobody

[2015-11-04 18:51] ahill00 commented on #13023
@sivel @Yannig - I tried c0ebb1c , still no improvement.

[2015-11-04 18:52] RusDavies opened #13037 "Unexpected Exception: Values instance has no attribute 'serial'"
##### Issue Type:

 Bug Report
##### Ansible Version:

2.0.0 (devel branch on github)

I've noticed the issue in commit 0abeff45115689cd8e1262c8c666c9263977c499.  It was in this commit that the problematic use of 'self._options.serial' is introduced.
##### Ansible Configuration:

Stock Fedora 21
##### Environment:

Fedora 21
Ansible from devel branch
##### Summary:

Attempting to run any playbook

[2015-11-04 19:02] Yannig commented on #13037
+1

[2015-11-04 19:03] #13037 closed, assigned to nobody

[2015-11-04 19:31] tamsky commented on #6563
Both commits on this issue are only to the devel/v2 branch:
https://github.com/ansible/ansible/commit/e3895840d1f4a70990c6683b9ad6b21f204949ee
https://github.com/ansible/ansible/commit/4e94bb64d82eeb8756ff54f208f001c1056a12bd
Anyone know if these patches work on v.1.9.x?

[2015-11-04 22:09] yikaus commented on #13028
After a few playing with tags , I found putting a tags: always into meta/main.yml will force dependent role be executed every time when tags being used .

##### roles/role1/meta/main.yml

dependencies:
- { role: role2 , tags: always }

[2015-11-04 22:09] #13028 closed, assigned to nobody

[2015-11-04 22:51] angystardust commented on #11886
I'm interested in this as well!

[2015-11-05 00:07] wimnat commented on #13026
So how would this work?

All the sts attributes are able to be defined in every ec2 module?

Does this mean you assume a new sts token for every module call in your playbook?  If not, how would you pass the sts token down the playbook for other modules to use?

[2015-11-05 00:15] mechanicalduck opened #13040 "/etc/ansible/roles missing by ansible package"
Debian Jessie amd64
I installed ansible as package ansible from official Debian Jessie repository.

But when pulling an ansible role (as root user, sudo) using ansible-galaxy I get an error:

[code]

I was able to fix it by creating the roles/ directory manually:

[code]

However, as this should work out of the box, it is probably a bug
that the roles/ directory isn't created during installation
a

[2015-11-05 01:46] micahlmartin opened #13041 "become_user not behaving as expected"
I'm trying to setup a virtualenv and install a module for a specific user. Here's what I have in my playbook:

[code]

What I would expect is it to have the `/home/vagrant/dcos-cli` owned by the vagrant user but instead it's owned by root.

My ansible command is `ansible-playbook -i devbox -u vagrant site.yml --connection=local -vvvv`.

Here is the output

[code]

I'm running version 2.0.0 of ansi

[2015-11-05 01:56] #13041 closed, assigned to nobody

[2015-11-05 02:39] abadger commented on #12976
Thanks @larska, you seem to have uncovered three errors:
- _squash_items() is unable to handle non-string items.  I looked at the 1.9.4 behaviour and in that version we skip optimizing in this case.
- Using `action: {{ ansible_pkg_mgr }}` doesn't trigger the optimization because the module's name has not been templated yet.  This works in 1.9.x
- Specifying args: "{{ items }}" does not work becaus

[2015-11-05 04:08] lindes commented on #5442
It would be nice if there were some way to have this work... even if it didn't check the checksum, and/or checked a user-supplied checksum (see https://github.com/ansible/ansible-modules-core/issues/2404 )...

[2015-11-05 05:51] tjcelaya opened #13042 "local variable 'task_action' referenced before assignment"
Works in 9e758d3 so this is probably a small typo in 483491d. Caused by the following play (unaffected by order of `apt` and `with_items`)

[code]

Sort of related, what's the recommended upgrade path? Checking out tagged versions like v1.9.4-1 gave me this error

[code]

so I'm wondering what I should be doing if I want to stay on stable versions? The docs don't mention any specifics about upgrad

[2015-11-05 09:14] ghost commented on #10826
I am posting here just to share some resource locations others might find useful:
- [control path ansible configuration](http://docs.ansible.com/ansible/intro_configuration.html#control-path)
- Location of configuration

[code]

[2015-11-05 10:10] elouanKeryell-Even opened #13043 "Bracket+colon targetting pattern not working"
### Issue Type:

Bug Report
### Ansible Version:

[code]
### Ansible Configuration:

No changes (I'm deploying Virtual Machines on a cloud platform and the only ansible-related thing I do in my deployment script is installing the package.)
### Environment:

CentOS 7
### Summary:

This kind of targetting pattern doesn't work :

`- hosts: group[0:1]`
### Steps To Reproduce:
- Create a group with at

[2015-11-05 11:22] Petrox commented on #7490
@mpdehaan:

Could you please tell me what is the current official solution (not hack), if someone wants
- a logfile to exist with zero or more bytes in it (starts with zero, but it should not be enforced / truncated)
- given ownership and rights (even with correct acl setting https://github.com/ansible/ansible-modules-core/issues/192)
- change only when the file ownership or rights needs to be cha

[2015-11-05 11:48] mgedmin commented on #13023
Could you (a) limit your test case to something reasonable (~5 minutes) and (b) run ansible 2 under a Python profiler, to see what it's doing?

Somebody ought to add a "How to profile Ansible" section somewhere, but I don't know where.  CONTRIBUTING.rst seems inappropriate somehow.  Anyway, here's [how I did it once](https://github.com/ansible/ansible/issues/11981#issuecomment-134578714):

[code]

[2015-11-05 12:07] amenonsen commented on #13043
Your pattern works exactly as documented in version 2.0. I know it was broken for some time in 1.x; maybe `slave[0-3]` will accomplish what you want there (note the off-by-one). That syntax is no longer supported.

[2015-11-05 12:58] elouanKeryell-Even commented on #13043
Ok I tested with a dash instead of the colon and it works.

However, the docs also mention syntax `slave[0:]`, and the dash-equivalent syntax `slave[0-]` doesn't work neither. If I was to fix the doc, should I remove the mention to that or is there really a way to do it?

[2015-11-05 12:59] #13043 closed, assigned to nobody

[2015-11-05 13:01] amenonsen commented on #13043
No, I don't think there's any working way to do the `slave[0:]` thing in 1.9.

[2015-11-05 13:09] jimi-c commented on #13023
@andyhky I believe the patch @bcoca applied yesterday should mostly resolve this. The underlying issue is that we're forking processes and either something is causing the memory to be modified (resulting in a copy-on-write of that RAM) or it is truly the minimal resident size at that point. For example, in my testing with a simple configuration, each forked process was taking up around 18MB of RAM

[2015-11-05 13:11] jimi-c commented on #13042
@tjcelaya that traceback is most likely the result of switching between versions, but python is still finding the compiled pyc's from 2.0. I typically run `find . -name "*.pyc" -delete` to clean those up when switching between 1.9.x and devel.

[2015-11-05 13:15] jimi-c commented on #13030
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2015-11-05 13:15] #13030 closed, assigned to nobody

[2015-11-05 13:16] jimi-c commented on #13013
@justinligraph with which version of Ansible are you seeing this occur?

[2015-11-05 13:57] bastitx commented on #13042
I have a very similar problem on 9e758d3d975f6bfa91d6b554793573d77cbb6a1e

[code]

when executing this:

[code]

Even after removing all *.pyc files

[2015-11-05 14:40] mirzawaqasahmed opened #13045 "Getting a with_dict error when reading through dict:"
Hi everyone,
This may not be an issue on the module but certainly for me and I hope I can get an answer from here.
**_I am using CumulusNetworks Modules from here https://github.com/CumulusNetworks/cumulus-linux-ansible-modules/blob/master/library/cl_interface.py**_
I am trying to run a play book with variables defined in group_vars folder. however when I run the playbook Ansible throws an error s