[2017-06-06 14:13] cbeckley opened #25389 "file based modules change ownership after editing."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
If you use the lineinfile module to edit a file and if the file belongs to a different user than the user running Ansible, lineinfile will change the owner of the file to the user running Ansible.

##### STEPS TO REPRODUCE
Create a file

[2017-06-06 14:15] #24560 closed, assigned to nobody

[2017-06-06 14:26] ghost opened #25391 "Wrong ansible_os_family returned on Linux Mint"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module_utils

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint

##### SUMMARY
Ansible does not return the correct ansible_os_family when gathering facts on a Linux Mint host.
Linux Mint is derived from Ubuntu and ansible_os_family should therefore be set to 'Debian'.

##### STEPS TO REPRODUCE

[code]

####

[2017-06-06 14:41] alikins commented on #25362
@pilotmattk That is what I suspected looking at the code, but was curious if I broke it somehow in the facts refactor.

[2017-06-06 14:43] #25362 closed, assigned to nobody

[2017-06-06 15:07] sdlevi27 commented on #24412
This is in the SCM update job in Tower.  Not a user defined playbook.

[2017-06-06 15:16] resmo commented on #25268
I am also able to reproduce with a ansible.cfg in cwd which has `inventory = ./hosts`, breaks backwards compatibility.

[2017-06-06 15:21] abadger commented on #20653
If you're seeing this issue with the proper urls, please open a new issue.  There's no one monitoring closed issues so the new reports being added here aren't being seen by anyone who can help out with the problem.  A reproducer that we can run would be the best way thing that hte new issue could contain.

Thanks for your help in getting this resolved!

[2017-06-06 15:26] dagwieers opened #25393 "win_chocolatey upgrade successfully even when the package with required version is missing."
_From @maxim0r on October 25, 2016 12:29_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]
##### SUMMARY

Upgrade task successfully even when the package with required version is missing.
##### STEPS TO REPRODUCE

[code]

In this example, currently installed version 0.1 and package with version 0.2 is absent on source repo.
##### EXPECTED RESULTS

[2017-06-06 15:26] dagwieers commented on #25393
_From @ansibot on October 25, 2016 12:49_

@smadam813 ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-06 15:26] dagwieers commented on #25393
_From @ansibot on December 7, 2016 15:40_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-06 15:26] dagwieers commented on #25393
@maxim0r We have rewritten the win_chocolatey partly. So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-06-06 15:28] abadger commented on #17215
Made a PR thatI think will solve this if anyone would like to test it out #25394

[2017-06-06 15:29] dagwieers commented on #25393
I can reproduce this issue with the following playbook:
[code]
Results in a lot of output:
[code]

[2017-06-06 15:31] jwoertink commented on #20537
I don't have any `meta/main.yml` file. All of my dependencies are in a requirements.yml. That's the one throwing this error.

[2017-06-06 15:31] dagwieers commented on #25393
So the error somewhere in that output does say: **110,0 is not a valid version string.**

The things we should  improve:
- Make the output less verbose
- Don't turn 110.0 into 110,0 (locale)
- Separate different output streams ?

[2017-06-06 15:39] nusenu commented on #14829
affects ansible version: 2.3.1.0

[2017-06-06 15:51] HanXHX opened #25395 "Cannot change hostname on Devuan OS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
We can't use hostname module on [Devuan](https://devuan.org) (Debian fork).
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Change hostname and no errors.

##### ACTUAL RESULTS
[code]

[2017-06-06 15:57] jladdjr commented on #25371
@bcoca - This morning's tests confirm the fix is working - will get in touch if we see any other issues with inventories / extravars. Appreciate the help, thanks!

[2017-06-06 15:59] dagwieers commented on #25393
When defining version as a string, like this:

[code]

 I get:
[code]

This is the opposite behaviour, no real output, and success !?!
Does `state: upgrade` not care about version, could make senses. Needs to be documented !

But when using `state: present` we get the same issue:
[code]

[2017-06-06 16:56] jwoertink commented on #20537
Ok, nevermind, I figured my issue out. I guess the requirements.yml doesn't need that `dependencies` key. I must have just read [this](http://docs.ansible.com/ansible/galaxy.html#dependencies) wrong.

[2017-06-06 17:47] ehelms commented on #25299
@ericzolf I see the issue with the module, check -- https://github.com/ansible/ansible/pull/25396

[2017-06-06 17:54] jcampbell05 opened #25397 "Docker throws error when cleaning up"
Currently if you use the defenition property of the docker_service module in ansible 2.3.0 on os x 10.12 then ansible fails since it can't remove the project_dir since its not empty.

[2017-06-06 18:53] kees-closed opened #25400 "Can't set setype recursively with the path module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
2.3.0

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY
[code]

This used to work before. I haven't run Ansible in a while. I guess this is a regression from upgrading from Ansible 2.2.2 to 2.3.0. Below is the package transaction information. When I remove the recursive option from the task

[2017-06-06 19:48] avaika opened #25401 "Misleading message in case remote machine is out of disk space"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Core component.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The error message in case there is no space for temporary ansible files on remote machine is misleading. I had to spent quite a while to figure out a real issue.
It would be convenient to change it somehow, so people won't waste

[2017-06-06 19:59] sivel commented on #24709
I cannot duplicate this issue with the following playbook:

[code]

This indicates that the `+` is not removed by the `uri` module.

Unfortunately we haven't heard back from you in regards to the request information.  Please update this with the requested information, or it will be closed shortly.

[2017-06-06 20:11] Illydth commented on #25281
@jctanner Just checking back in with the thread to make sure i've been clear.  What it looks like is that there's a dependency within Ansible's use of the pyVMomi library within the vmware_guest module that has requirements beyond the pyVMomi library...dependencies that are NOT installed with either pip install pyVMomi or pip install Ansible.

[2017-06-06 20:17] jimi-c commented on #24833
@szynaka can you confirm if the above patch does reproduce this for you? I'm not able to reproduce this using your examples with the current devel branch.

[2017-06-06 20:58] dflock opened #25402 "get_url: bad handshake failure, with ansible 2.3.1.0, python 2.7.12"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS: Ubuntu 16.04.2 LTS (Xenial Xerus)
Python: 2.7.12
OpenSSL: 1.0.2g  1 Mar 2016

Possibly relevant python modules:

* pyOpenSSL==17.0.0
* ndg-httpsclient==0.4.2
* pyasn1==0.2.3
* pyasn1-modules==0.0.7
* idna==2.5
* pyOpenSSL==17.0.0
* urllib3==1.21.1
* re

[2017-06-06 21:00] dflock commented on #25402
This is what openssl says about releases.hashicorp.com:443:

[code]

[2017-06-06 21:04] dflock commented on #25402
I _do_ have `/etc/ssl/certs` - with 533 certs, but I _don't_ have any of the other folders mentioned in the error msg:

* /etc/pki/ca-trust/extracted/pem
* /etc/pki/tls/certs
* /usr/share/ca-certificates/cacert.org
* /etc/ansible

[2017-06-06 21:07] johnboy2 opened #25403 "ec2_group exception on CIDR with host bits set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

(but code review suggests that later versions likely also susceptible)

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
A playbook using an ```ec2_group``` module with a rule whose ```cidr_ip``` value has any host bits set will execute successfully at most once, but will fail to execut

[2017-06-06 21:07] monchitos82 commented on #25366
Observing at this reported issue, the behavior is correct not to say expected; on my understanding. When you use `with_items`, ansible is not keeping track on the very initial privileges so each run has a different value for `curr_priv` (current privileges) on `mysql_user.user_mod`. Since you are affecting the user 3 times, the only one that is prevailing is the last change you requested. You coul

[2017-06-06 21:15] sosiouxme opened #25404 "Cannot use "package" module from an action plugin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`package` module, action plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

standard

##### OS / ENVIRONMENT

Running from Fedora 25, managing a CentOS 7 host

##### SUMMARY

I would like to invoke the `package` module from an action plugin, but there seems to be some kind of translation that happens when a task invokes the module th

[2017-06-06 21:23] dflock commented on #25402
It works fine using `requests`:

[code]

using the latest version of requests:

[code]

[2017-06-06 21:33] johnboy2 commented on #25403
While this is arguably a case of "garbage in = garbage out", I'm submitting this as a bug anyway because the resulting error after falling into this trap can be _terribly_ difficult for us to figure out if your "clean" and "dirty" CIDRs are visually similar.

One way or the other, however, it shouldn't be possible for an SG update to fail, when the criteria can successfully create it in the first

[2017-06-06 21:38] sivel commented on #25402
I've done a little research here, and it is due to that host requiring TLS v1.2.

A few things to note.  We are not specifically checking for TLS v1.2 since some hosts don't support it.  `create_default_context` seems to be creating a context that is incompatible, and I'm not sure what series of changes will result in it working.

A proof of concept fix that I have test successfully is:

[code]

B

[2017-06-06 21:40] gregswift commented on #22366
@Pantharian closeable?

[2017-06-06 21:47] dflock commented on #25402
Looks like it:

[code]

Appears similar to #23642, maybe - although I don't think the resolution/specifics apply here?

[2017-06-06 21:59] sivel commented on #25402
It's similar but no the same. In the other issue using a version of python with SNI support resolved the problem.

Here, that doesn't seem to affect it.  It's a different set of requirements somewhere that I haven't had the time to figure out yet.

[2017-06-06 22:16] #24076 closed, assigned to nobody

[2017-06-06 22:18] jimi-c commented on #24175
Closing, based on the above.

[2017-06-06 22:18] #24175 closed, assigned to alikins, jimi-c

[2017-06-06 22:24] bcoca commented on #25404
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-06-06 22:24] #25404 closed, assigned to nobody

[2017-06-06 22:57] matejkramny commented on #14468
For what it's worth, I just experienced this but resolved it by telling ansible to use python3. The available module for apt was `python3-apt` and `python-apt-common` on ubuntu 16.04.

Ansible was trying to install `python-apt` since the default python is 2.7

[2017-06-07 00:32] aoprea1982 commented on #23247
@ikelos please share your custom fortios module to manage fortigates.

Don't want to reinvent the wheel.

[2017-06-07 00:37] ikelos commented on #23247
@aoprea1982, the custom modules were badly hacked together versions of the existing Cisco module.  I will not be sharing them.  Instead, use the fortios modules that exist in ansible-2.3 with or without the patches I have contributed in this pull request, that allow you to use templating.  They're far better, and I've converted all my code over to using these, vastly reducing the number of lines,

[2017-06-07 00:41] johnboy2 commented on #25403
Looks to me like any code fix here would add a dependency, eg on netaddr. I can prepare a patch based on that if desired, or even make one that only acts when netaddr is available. Not really sure what's best there overall.

[2017-06-07 01:28] sivel commented on #25402
My initial assessment of simply picking the TLSv1.2 is incorrect.  Using `SSLContext` directly, by default sets `context.verify_mode = ssl.CERT_NONE` which doesn't do verification.

I'll see if there is something in urllib3 in how they construct their context that is somehow different that allows this to work.

[2017-06-07 01:58] Akasurde commented on #25395
@HanXHX Thanks for reporting this issue. Can you provide output for following command -

[code]

[2017-06-07 02:00] sivel commented on #25402
It seems on my host, I did not have a cacert bundle capable of validating this host.  Installing the cacert bundle from https://curl.haxx.se/docs/caextract.html resolved my issue.

Can you verify that you have the most up to date `ca-certificates` package, and potentially, try utilizing the cacert bundle from the curl docs I mention above?

[2017-06-07 02:33] dflock commented on #25402
Interesting.

I do have the latest version of `ca-certificates`:

[code]

...but, adding that extra .pem file _does indeed_ fix the problem for me, too!:

[code]

[code]

I don't know enough about how this works to understand why it worked fine without this extra cert bundle with curl, requests, openssl - but not ansible - and then adding it fixes it for ansible?

[2017-06-07 03:01] sivel commented on #25402
`requests` uses `certifi` which provides it's own bundle.

I don't have immediate insight into what bundle or how curl was able to work, but I'll take a look, in case it helps resolve this problem in another way.

[2017-06-07 03:58] hai-ld opened #25412 "Facts for hosts in skipped plays are still gathered"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration (no local ansible.cfg)

##### OS / ENVIRONMENT

OS = Ubuntu 16.04.2 LTS

##### SUMMARY

If a playbook consists of multiple play, each of which affects distinct set of hosts, when only a subset of play is selected for running, Ansible still tries to gather f

[2017-06-07 04:59] aoprea1982 commented on #23247
@ikelos

Used ansible 2.3 modules with template but got the following error :

/* fatal: [192.168.10.100]: FAILED! => {"changed": false, "failed": true, "msg": "Unable to commit, check your args, the error was [(u'-8', u'set ip {{j.ip}} 255.255.255.0')]"} */

Investigated it but still no answer.

/* main.yml*/

- name: fortinet config
  fortios_config:
    host: "{{ inventory_hostname }}"
    user

[2017-06-07 05:16] bhcleek commented on #25344
#25012  resolves this for us. Once it's released, I'll update the packer connection plugin to take advantage to take advantage of the _shell_type property and other changes that were made in Ansible 2.3.0.

[2017-06-07 06:05] dagwieers commented on #25344
@bhcleek Would you then care to make a PR with updates to the documentation ? It would be nice to have a section explaining this.

[2017-06-07 07:08] HanXHX commented on #25395
[code]

I give you more info about this OS:
[code]
[code]

[2017-06-07 07:18] ikelos commented on #23247
@aoprea1982 I think that's because the 2.3 modules don't (yet) support templating.  If you want templating, you'll need to apply the patches from pull request #24026.

[2017-06-07 07:28] drym3r opened #25414 "Add an option lock_wait to the apt module"
##### ISSUE TYPE
 - Feature Idea
This is a copy of the issue on the old repository: https://github.com/ansible/ansible-modules-core/issues/4717
There was some work on it, I don't know why it's not added: https://github.com/ansible/ansible-modules-core/pull/4842

##### COMPONENT NAME
apt

##### SUMMARY
This is a feature request but also works around a problem that is very common when manipulating a

[2017-06-07 07:48] #24516 closed, assigned to nobody

[2017-06-07 07:57] hwoarang commented on #25380
Closing because it needs a simplified reproducer to ensure that it's not related to a plugin or something else.

[2017-06-07 07:57] #25380 closed, assigned to nobody

[2017-06-07 08:45] #24840 closed, assigned to nobody

[2017-06-07 09:17] ReSearchITEng commented on #24059
This is a very common situation.
Suggestion: Could you please add a hint on this in the documentation of the yum module?
https://docs.ansible.com/ansible/yum_module.html

E.g. in the exclude suggest exclude=ansible,  as well as in the example where there is '*', add an exclude=ansible.

[2017-06-07 09:20] Pantharian commented on #22366
If its been fixed in v2.2.x.x then its closeable. Otherwise, this is a regression and needs to be fixed.

[2017-06-07 09:24] MissXueBB opened #25415 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @mpdehaan:michael.dehaan@gmail.com, @bcoca: brian.coca+git@gmail.com. You can also reply us through email if you are interested in our research questions. Below is the content of our survey.We have received reply from@mpdehaan，thank you!

We're research s

[2017-06-07 09:26] lepiepl commented on #24887
I have the same issue.
I'm not a python developer but I made a dirty hack that works for our needs.
I assume the first disk is used to store the vmx file.

[code]

[2017-06-07 09:40] Akasurde commented on #25395
@HanXHX Ansible rely on Python's platform to determine [Platform](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L264) value. I don't know how to proceed from here. @bcoca @jctanner Can you comment on this ?

[2017-06-07 09:47] badr-badri commented on #19673
Hello,

The same bug seems to be in the version 2.3.1.0.
I use the same steps to reproduce as mentioned above and the play does not go the "dummy check 2"
[code]
OS: ubuntu 17.04
Ansible version: 2.3.1.0

[2017-06-07 09:58] 600833 opened #25417 "ovirt_storage_domains can not find iscsi disk during creation (state: present)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME :

ovirt_storage_domains
##### ANSIBLE VERSION:

2.3

##### CONFIGURATION

ansible.cfg configuration standard

##### OS / ENVIRONMENT

RedHat Entreprise LInux 7.3

##### SUMMARY

ovirt_storage_domains:

##### STEPS TO REPRODUCE

This module can not find iscsi storage during creation (state: present)

p

[2017-06-07 09:58] twouters opened #25418 "get_url: check mode reports changes with force enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

check_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special configuration needed.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Changes are reported when running tasks in check mode (--check/-C) even though there are no expected changes.

##### STEPS TO REPRODUCE

[code]

(Note: to validate the behaviour on 2.3, the second command

[2017-06-07 10:02] mattmonkey83 commented on #24396
Finally got round to testing the fix - Works perfectly.  Thanks all 😄

[2017-06-07 10:38] gundalow commented on #25403
@s-hertel @ryansb I believe `ec2_group` is an Ansible maintained module.

[2017-06-07 10:40] gundalow commented on #25401
@abadger Did you recently do some work on Ansiballz and low diskspace and/or `temp_path`?

[2017-06-07 10:42] gundalow commented on #25397
@jcampbell05 Hi, thanks for the bug report. Can you please add in the issue template and include clear steps to reproduce.

If this used to work on a previous version of Ansible please also include that information.

Details of what docker libraries you have installed and what version would also be useful.

Thanks in advance.

[2017-06-07 11:01] nathanwebsterdotme commented on #19825
Same here.

Ansible 2.3.1.0 and target host is Vagrant.  The server has rebooted and can confirm that winrm is running and listening on the correct port.

Playbook is sat hanging.

[2017-06-07 11:11] nblock opened #25419 "2.3.1.0: vault files with .vault extension are ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
 - ```vault_password_file = path-to-vault-key```

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
Vault files with the extension ```.vault``` are no longer picked up. This worked on 2.3.0.0 and earlier versions.

##### STEPS TO REPRODUCE
* Create the following directory hierachy:
[co

[2017-06-07 11:23] dagwieers opened #25420 "Reimplement Python testserver.py in Powershell"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

v2.4

##### SUMMARY
In order to do proper integration tests for **win_uri** (#25373), just like the **uri** module, we need a Powershell implementation of [testserver.py](https://github.com/ansible/ansible/blob/devel/test/integration/targets/uri/files/testserver.py).

I am not very proficient in Powershell and

[2017-06-07 11:32] dagwieers commented on #25420
So the stuff I already did was:
[code]

[2017-06-07 11:45] dvinella opened #25421 "https_proxy env var without scheme part not correctly handled in generic_urlparse"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy
module_utils/urls.py

##### ANSIBLE VERSION
[code]

found in 2.3.1.0 too

##### CONFIGURATION
ansible.cfg not changed

##### OS / ENVIRONMENT
ArchLinux
Linux 4.11.3-1-ARCH #1 SMP PREEMPT Sun May 28 10:40:17 CEST 2017 x86_64 GNU/Linux

proxy env vars:
http_proxy=10.0.0.2:8080
https_proxy=10.0.0.2:8080

##### SUMMARY
Proxy env vars

[2017-06-07 12:01] jborean93 commented on #25420
We might be better off running up an IIS site for this instead. You will then have access to a wide range of options around auth types and response settings from there and don't have to play around with trying to get the PS script running as a service.

[2017-06-07 12:05] dagwieers commented on #25420
@jborean93 But it would be a lot harder to reuse the existing **uri** tests. I honestly don't know how hard it is to re-implement testserver.py, so you may as well be right. I plan to add some basic integration tests using google.com for the time being, but we do need a proper solution for testing.

So what is the path of least resistance ? :-)

[2017-06-07 12:24] 0mmariano opened #25423 "skippy stdout_callback doesn't work"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
stdout_callback, skippy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
stdout_callback = skippy
callback_whitelist = skippy

##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
While using the cchurch.scm role from Galaxy, a lot of tasks (which I don't need) are skipped with the output below (with -v). I'd rather not show the skipped tasks so

[2017-06-07 12:38] svetozari commented on #23902
+1

[2017-06-07 13:27] abadger commented on #25401
Yes.  @avaika are you able to test this PR: https://github.com/ansible/ansible/pull/25394 ?

[2017-06-07 13:28] MadelineRitchie opened #25426 "Documentation win_dsc_module is incorrectly rendering as single-character bullet points"
http://docs.ansible.com/ansible/win_dsc_module.html

The first paragraph is split like this:

* T
* h
* e

* f
* i

etc

[2017-06-07 13:35] dan-osms opened #25428 "s3_module bug when specifying IAM principle in bucket policy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

#pipelining = False
##### OS / ENVIRONMENT

Mac 10.12.5 Sierra
##### SUMMARY

s3_module shows change when running bucket play with policy specifying aws account principle. Remove the principle from the policy and ansible returns to normal working order. Add the principle back and co

[2017-06-07 13:38] #17215 closed, assigned to nobody

[2017-06-07 13:41] #25222 closed, assigned to mattclay

[2017-06-07 13:43] sosiouxme commented on #25404
What's really going on is that `package` has an action plugin that does the real work (the `package.py` module file is just a placeholder really). To be quite correct I would need to find a way to invoke that action plugin from my action plugin. To git-er-done I could just replicate what that plugin essentially does:

        pkg_module = self._templar.template('{{ansible_pkg_mgr}}')
        resul

[2017-06-07 13:43] abadger commented on #25401
PR has been merged to devel and stable-2.3 branches so  it will be in the next release of 2.3.x and in 2.4.0.

needs_info

[2017-06-07 13:45] jhawkesworth commented on #25426
This is being worked on under https://github.com/ansible/ansible/pull/25405, so I hope you won't mind if I  close this as a duplicate.

[2017-06-07 13:45] #25426 closed, assigned to nobody

[2017-06-07 14:03] matanlb opened #25429 "Create mongodb admin user - not authorized to access system.users"
##### ISSUE TYPE
**Bug Report**

##### COMPONENT NAME
**mongodb_user**

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running from **macOS 10.12.2 (16C67)**
Target machine **Ubuntu 16.04.2 LTS (xenial)**
Mongo **3.2 / 3.4**
Python **2.7.12**
PyMongo **3.4.0**

##### SUMMARY
Unable to create admin user using `mongodb_user`.
mongodb_user is failing with `not authorized on admin to execute com

[2017-06-07 14:31] halberom opened #25431 "bug - copy module returns 'path' or 'dest' based on changed status - not consistent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template
copy

(template calls copy, I first spotted it when using template)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Mac

##### SUMMARY
In the results returned from the template and copy modules, 'path' is defined when the destination is unchanged, but 'dest' is defined when it's changed.  This isn't consist

[2017-06-07 14:51] sivel commented on #25402
I'm having a difficult time re-producing this on an Ubuntu 16.04 host.  A fresh install, with updated ca-certificates, works without any issue at all for me.

In my initial tests, I was using a Mac, that had accepted a certificate for GlobalSign into the login keychain that was interfering with the ability to verify the certificate.  Explicitly specifying the cacert bundle from curl resolved that

[2017-06-07 15:14] sivel commented on #25423
In your ansible.cfg, do you have those values nested under a section called `[defaults]`

It should look like:

[code]

needs_info

[2017-06-07 15:17] dagwieers commented on #25114
Look in the chocolatey log (C:\ProgramData\chocolatey\logs\) for obvious clues why **win_chocolatey** failed. This is not related to the module itself, it could be a big in this specific nupkg, or a bug in chocolatey itself.

So I find it hard to consider this an issue in **win_chocolatey**.

Looking for return code 1603, you can find many installations failing with this rc in chocolatey:
- https:

[2017-06-07 15:50] bcoca commented on #25419
This is probably consequence of a bug fix, There was always a filter to determine 'valid YAML files', but it was incorrectly taking 'any' extension, the list went from :
[code]
to
[code]
As the 'empty' entry matched 'any/all' extensions, now we specifically check for 'no extension' instead, `.vault` was never meant to be an 'allowed extension'.

[2017-06-07 15:55] gilesw opened #25436 "Add the ability to deep merge lists"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

merge_hash

##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
see https://github.com/tdac/Ansible-HashMerge-Issue

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A standard module pattern is to define a many single key: value hash configuration values, but then often a few iterable lists. The hash merge feature is often used to sensibly

[2017-06-07 15:55] HanXHX commented on #25395
@Akasurde Devuan provides an /etc/devuan_version file

I don't know sides effect. But I think, you just need to patch (and add "devuan"): https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L263

[code]

[code]

[2017-06-07 15:56] ashemedai opened #25437 "[2.3.1.0] Timeout (12s) waiting for privilege escalation prompt due to ENOSPC"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh connection plugin / copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

Host: Ubuntu 14.04.5 LTS
Target: Ubuntu 14.04.5 LTS
Rundeck 2.6.10

##### SUMMARY
While executing a playbook at some point we trigger:
fatal: [target-app01]: FAILED! => {
    "failed": true,
    "msg": "Timeout (12s) waiting for

[2017-06-07 15:57] ashemedai commented on #25437
@bcoca See above. Is the possible solution at the end a viable route within Ansible currently?

[2017-06-07 15:59] ashemedai commented on #13278
For people that wind up here due to Google searches, I raised #25437 for a case with the same error message but caused due to target disks being full.

[2017-06-07 16:00] bcoca commented on #25437
Hmm, that 'no space' should lead to other errors like 'temp dir does not exist/could not be created' ... the timeout should only be hit on ssh not having failed yet, but still trying to do work or waiting for an event.

[2017-06-07 16:22] angystardust commented on #24407
As I wrote in https://github.com/ansible/ansible/pull/24410, unfortunately the patch doesn't fix the issue.

[2017-06-07 16:30] nitzmahone commented on #19825
There's likely something "special" about your environment if you're seeing this behavior.

For the one who never even reboots, I have no idea (and calling Restart-Computer *will* break on you at some point- that's why we have this action plugin), but for the OP that hangs after reboot, the one cause I've seen for this is if you're accessing WinRM on a VM through a port forward, and your hypervisor

[2017-06-07 16:37] mwinfie commented on #25377
@berney weird question, but are there any scheduled tasks already in the root folder of the server you are running this on or is it empty?

[2017-06-07 16:47] jacobweber opened #25440 "CentOS 7: System V init script can't be enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Managing a CentOS 7.3 box from a CentOS 6.9 hub

##### SUMMARY
If I install an old System V init script in /etc/init.d, and try to enable it with the `service` module, it will say "Could not find the requested service".

##### STEPS TO REPRODUCE

[code]

#####

[2017-06-07 17:00] sivel commented on #25440
By default the `service` module is now an action plugin, that picks the "appropriate" service module based on the system.  In this case, on CentOS7, ansible is detecting that the system uses systemd, and invokes the `systemd` module instead.  You can add `use: service` to your invocation, to ensure it uses the `service` module.

Example:

[code]

For more information about this, see http://docs.an

[2017-06-07 17:00] #25440 closed, assigned to nobody

[2017-06-07 17:27] jmcostecalde commented on #23675
Hi there,

Is there a plan to fix that regression ?
It's makes the scenario convoluted to work around that issue.

[2017-06-07 17:33] bhcleek commented on #25344
@dawgwieers I'm happy to make a PR, but I'm not sure which documentation you'd want updated. Can you point me in the right direction?

[2017-06-07 17:43] #25368 closed, assigned to alikins

[2017-06-07 17:49] bcoca commented on #25437
@ashemedai i was looking into parsing the error text, but this is subject to versions/implementations and i18n ... so not a good option. Now i'm looking at making `dd` fail faster so it does not hit the timeout and delivers a better message.

[2017-06-07 17:52] prashantabkari opened #25443 "Incorrect user picked if the same host is present in the hosts file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- HOST configuration

##### ANSIBLE VERSION

ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov 20 2015, 02:00:19) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

##### CONFIGURATION
- mentioned above

##### OS / ENVIRONMENT

##### SUMMARY
<!-
This is a

[2017-06-07 17:59] sivel commented on #25443
The `inventory_hostname` or the first column of a host definition in an inventory is a unique key.

Effectively you are adding the host 2 times, but with a different `ansible_user` attribute.  The last one defined wins.  The groups specified in a playbook or via other limit means, plays no role in how inventory is constructed.

Instead you should use host aliases instead of groups, similar to:

[c

[2017-06-07 17:59] #25443 closed, assigned to nobody

[2017-06-07 18:03] bcoca commented on #25437
similar issue #17700

[2017-06-07 18:07] bcoca commented on #25395
Looks like @HanXHX has the solution, just need to fix detection to recognize Devuan as a 'non systemd' system.

[2017-06-07 18:16] #18702 closed, assigned to alikins

[2017-06-07 18:16] ashemedai commented on #25437
@bcoca I'd need to check the logs on the Rundeck server tomorrow at work to see if there were previous hints about disk space being full. This was a case from what I remember correctly where it had a few MB left to have the Python scripts uploaded and run, but not enough to copy wars of 50+ MB per war.

Parsing seems indeed tricky. A check prior to running also seems a bit odd, because there are a

[2017-06-07 18:18] bferg opened #25445 "S3 delete non-existent bucket fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - S3 module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible config file:
[code]

##### OS / ENVIRONMENT

Playbook launched on OS X 10.0.5, Darwin Kernel Version 14.5.0

Remote EC2 instance CentOS6 (not relevant for this bug)

##### SUMMARY

##### STEPS TO REPRODUCE

If an S3 bucket has already been deleted or does not exist, runn

[2017-06-07 18:23] bcoca commented on #25437
@ashemedai been there. ...

This is why this issue is a hard one, checking for space has it's own race conditions and inaccuracies (i.e. fs blocks mean file occupies 10% more on dest than on source??!) and to be even more accurate, we should check for 'free inodes' (rabbit hole deepens) even before trying to create the tmpfiles/directories. At one point the checks will slow us down enough, special

[2017-06-07 19:01] kami8607 commented on #11045
for me this feature would be great to have no matter what name you give it :)

[2017-06-07 19:09] mosieurlaurin commented on #24651
I do have the same issue:
ansible 2.3.1.0 | python 2.7.13

[2017-06-07 19:27] selivan opened #25447 "Variable containing currently executed role name [feature_idea]"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible core

##### SUMMARY
I suppose sometimes it's useful to have a comment in config file that shows from which role it was created. If you specify the role explicitly, this comment can become obsolete in case the role is renamed. Now I use this ugly kludge to solve this:

`# Generated by ansible role: {{ role_path | regex_replace('^.*/([^/

[2017-06-07 19:49] sivel commented on #25447
You can also get this much more simplistically by using the `basename` filter:

[code]

[2017-06-07 20:01] bdlamprecht opened #25449 "ios_config with src parameter not functioning correctly with ACLs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS

##### SUMMARY

##### STEPS TO REPRODUCE
When running the PB below and making changes to the ACL contained within the referenced `src` file (i.e. udp port destination numbers), if there are differences, it simply adds a new entry to

[2017-06-07 20:16] davidmnoriega commented on #18459
@bcoca Looks like this is for 2.4? Is this new interface documented(or documentation I can test)? If so, we can close this out.

[2017-06-07 20:17] avaika commented on #25401
@abadger . I tested. Looks perfect. Here is the output:
[code]
So I'll close the ticket.
Thank you for the change.

[2017-06-07 20:17] #25401 closed, assigned to nobody

[2017-06-07 20:23] bcoca commented on #18459
@davidmnoriega soon i'll be writing docs, still not sure the current interface is the best one. Mostly now its just calling the plugin's 'get_vars' method vs the 'run' method that existed before. I'm open to suggestions.

[2017-06-07 20:34] davidmnoriega commented on #18459
I dont have any suggestions, just hoping to not have my plugin/deploy fall behind. Maybe if I provide more details on what my code is doing can help.

I'm using a dictionary to define some items to configure on a host, there are some items that should have the same key:value of another, and I could copy/paste that, but it leads to lots of duplication. My vars_plugin looks for these items and makes

[2017-06-07 21:11] bcoca commented on #18459
added this to help with 'existing plugins' .. might need deprecation message https://github.com/ansible/ansible/pull/25451

[2017-06-07 21:25] dagwieers commented on #25344
@bhcleek There is no documentation about Powershell over SSH, so anything you can add to the existing Windows documentation (to make it work, caveats, etc...) is well-received.

So for the time being, it can be added to the file below, maybe as a separate entry, we plan to reorganize this doc in the near future. https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/intro_windows.rst

I am

[2017-06-07 21:30] selivan commented on #25447
@sivel O_o that's much better, thank you. Seems that whatever you do, there is jinja filter to do it. `template: dest=/etc/mysql/my.cnf content="{{ 'mysql' | make_config_fast_reliable_and_secure }}"` :)

@bcoca I leave it to you whether to realize this feature or just close the issue. Probably just close. At least, it may be worth adding this to examples in documentation.

[2017-06-07 21:45] kami8607 commented on #14270
+1

[2017-06-07 22:09] stuartatmicrosoft commented on #24275
Running into this as well:

[ansible@ansible-demo repo]$ ansible-playbook centos-azure-create.yml
 [WARNING]: provided hosts list is empty, only localhost is available

PLAY [localhost] *******************************************************************************************************************************************************************************

TASK [Create Azure Deploy] **********

[2017-06-07 22:33] bcoca commented on #25258
had stale pyc, check linked PR to confirm it fixes this for you.

[2017-06-07 22:42] bcoca commented on #25412
fact gathering has an implicit 'always' tag, this was done to keep backwards compatibility with 1.x behaviour, which ignored tags.

[2017-06-07 22:47] stanrate commented on #19274
In Ansible 2.2.1, the group_by bug seems to be fixed because I can't reproduce it. Ansible 2.2.0 was the only release where group_by seemed to work but if a task tried to use a fact belonging to a host that had been added to an adhoc group (using group_by), a "VARIABLE IS NOT DEFINED!" message was emitted. I ran the same playbook that failed in 2.2.0 on 2.2.1 and cannot reproduce the problem.

I r

[2017-06-07 23:04] aoprea1982 commented on #23247
@ikelos

Thanks for the reply.
I got not error after  applying(changing code inside fortios_config then pycompile it) #24026
 But
ansible it's not applying the template variables to the fortigate device; maybe something on my side .
If possible could you please share your ansible structure, config (vars, template,tasks)?

Thank you.

[2017-06-07 23:10] JasonRitchie commented on #25426
Don't mind at all. I did attempt to find an issue but I should have searched PRs as well. Thanks.

[2017-06-07 23:25] ikelos commented on #23247
@aoprea1982, there are two files in the patch, did you copy the second file to  lib/ansible/plugins/action/fortios_config.py, as well as editing lib/ansible/modules/network/fortios/fortios_config.py.  Also, this is a feature request, not a support forum.  If you have difficulty making use of the supplied pull request, please seek help in the [ansible project forum](https://groups.google.com/forum/

[2017-06-07 23:35] aoprea1982 commented on #23247
@ikelos
Didn't copy the second file.
You're right , it's not a support forum.Got a bit lazy. :p

Thanks for the info. Very useful.

[2017-06-08 00:22] winstonsimon opened #25459 "AWS was not able to validate the provided access credentials"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
AWS plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I am trying to use temporary credentials to spin up our EC2 instance. Our deployment pipeline is basically Packer job  creates an AMI image and then trigger Ansible scripts to spin up new EC2 instance. With temp credentials, PACKER is abl

[2017-06-08 01:58] 0mmariano commented on #25423
I forgot that I inserted a [galaxy] section after the first chunk of the [defaults] section. I didn't realize that the other lines (including the callback lines above) ended up being after [galaxy] instead of [defaults] so thanks for pointing this out. I have moved [galaxy] towards the end so that my ansible.cfg now looks like this (without the comments and empty lines). It's still showing the ski

[2017-06-08 02:17] jctanner opened #25460 "ImportError: cannot import name reduce"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
plugins/callback/profile_roles.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
the reduce import from six is broken and is causing tracebacks in devel
https://github.com/ansible/ansible/commit/2e920d724dcb17bf559773859cd43ba022fcb04b#diff-46a3b4b016f324f278a7d2f8ab2a7855 looks like an attemp

[2017-06-08 02:18] sivel commented on #25460
This is fixed in https://github.com/ansible/ansible/pull/25458

[2017-06-08 02:20] jctanner commented on #25460
resolved_by_pr https://github.com/ansible/ansible/pull/25458

[2017-06-08 02:33] #25460 closed, assigned to bcoca

[2017-06-08 03:26] stuartatmicrosoft commented on #24275
Also tried installing `msrestazure` with pip and still received the same result.

[2017-06-08 03:27] hai-ld commented on #25412
@bcoca Is there a workaround, e.g. a flag/setting to disable the backward-compatible behaviour?

[2017-06-08 03:30] #20480 closed, assigned to nobody

[2017-06-08 04:01] bottlelee opened #25461 "What does "rc=249" mean?"
All:

I've been searched and no answer about this error message:

My labtop is Ubuntu 16.04, the remote machine is Ubuntu 14.04.

On the remote machine, /usr/bin/python is founded, python-simplejson is installed. Ansible ping is ok but other failed with this error.

What does the error means? What did I missing?

Thanks!

[2017-06-08 04:05] bottlelee commented on #25461
Some detail output:

[2017-06-08 04:33] Narayanamoorthys commented on #22298
I have the same issue with CentOS Linux release 7.3.1611
Nagios Core 4.3.1
ansible-2.2.1.0-1.el7.noarch

Any fixes?

[2017-06-08 04:45] jhawkesworth commented on #25239
I agree L80 probably doesn't need changing.  Having realised -eq is case insensitive I prefer to make an explict difference in the code - an 'is null' check would be better at that point anyway.  I suspect the other occurence is part of the solution to this problem though.

Clutching at straws a bit here, but could you clear out the regisry value first, then retry and see if it gets stored with a

[2017-06-08 05:59] nblock commented on #25419
Thanks a lot for the explanation. I'd like to somehow distinguish a vault file from a valid YAML file and using the extension '.vault' worked for me. There are at least two reasons why I'd like to distinguish them:
* Vault files are no YAML files, thus the YAML extension is misleading.
* Non-YAML files automatically get ignored by linters such as yamllint.

[2017-06-08 08:08] dagwieers opened #25465 "win_iis_website ssl flag does nothing"
_From @nathanwebsterdotme on August 17, 2016 12:40_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_iis_website
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Server 2012 R2
##### SUMMARY

The ssl flag on web_iis_website doesn't do anything.
##### STEPS TO REPRODUCE

Run the win_iis_webssite module with 'ssl' option set to true.

[code]

##### EXPECTED RESULTS

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on August 17, 2016 12:50_

@whenrik ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @deekayen on August 23, 2016 22:3_

I've been trying to get SSL to bind using 2.1.1.0 and this report looks like it may be my scapegoat for failure. At first, it was merely peculiar that the docs didn't have any choices for the ssl argument, so picking true as a value for ssl was just a guess. When I tracked down the `win_iis_website.ps1` file, it doesn't appear to do anything with the `ssl`

[2017-06-08 08:08] dagwieers commented on #25465
_From @nathanwebsterdotme on September 5, 2016 13:29_

I'm currently having to add an SSL binding as a separate task using win_iis_webbinding

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on September 5, 2016 13:29_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @nathanwebsterdotme on September 15, 2016 13:57_

Any updates?

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on October 6, 2016 17:50_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on October 22, 2016 10:8_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on November 6, 2016 10:44_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on November 22, 2016 10:51_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:08] dagwieers commented on #25465
_From @ansibot on December 6, 2016 23:7_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-08 08:10] dagwieers opened #25466 "win_iis_webbinding fails to assign specified certificate_hash"
_From @nathanwebsterdotme on August 16, 2016 13:44_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_iis_webbinding
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
roles_path  = roles
library     = modules
##### OS / ENVIRONMENT

Server 2012 R2
##### SUMMARY

win_iis_webbinding module is not assigning the certificate specified in the certificate_hash variable.
##### STEPS TO

[2017-06-08 08:11] dagwieers commented on #25466
_From @nathanwebsterdotme on August 16, 2016 13:46_

I think this has something to do with the variable names; there is a mixture of "certificatehash" and "certificateHash" being used which I think is causing the problem.

If I explicitly define the cert hash value in to the module ps1 file, I can get it to work.

[2017-06-08 08:11] dagwieers commented on #25466
_From @ansibot on August 16, 2016 13:54_

@whenrik, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:11] dagwieers commented on #25466
_From @ansibot on September 11, 2016 14:53_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:11] dagwieers commented on #25466
_From @nathanwebsterdotme on September 15, 2016 13:57_

Any updates ?

[2017-06-08 08:11] dagwieers commented on #25466
_From @ahnooie on September 30, 2016 17:51_

@nathanwebsterdotme I don't know why it isn't working for you but thought I'd let you know the module works for me me using Server 2012 R2.  PowerShell seems to be case insensitive so I don't think that's the issue.

[2017-06-08 08:11] dagwieers commented on #25466
_From @ansibot on September 30, 2016 18:7_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:11] dagwieers commented on #25466
_From @Klezst on November 2, 2016 14:31_

The module checks if a binding with the specified name, host header, protocol, port, and IP exists. If not, it creates the binding. It does not check that the existing binding is using the specified certificate. Thus, if the binding already exists on the system and you attempt to add a certificate to it the module makes no changes. Perhaps this is what @na

[2017-06-08 08:11] dagwieers commented on #25466
_From @ansibot on November 15, 2016 9:49_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:11] dagwieers commented on #25466
_From @ansibot on December 6, 2016 23:7_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-08 08:12] dagwieers opened #25467 "win_iis_webapppool - not able to set all the properties"
_From @AseemKumar on August 16, 2016 11:31_

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default config
##### OS / ENVIRONMENT

ansible is running on Ubuntu Trusty and the systems being managed are linux and Windows.
##### SUMMARY

Tried to change the value of Identity under Process Model in advanced settings of an ap

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on August 16, 2016 11:41_

@whenrik ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on September 11, 2016 14:53_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on October 6, 2016 17:50_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on October 22, 2016 10:8_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on November 6, 2016 10:44_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on November 22, 2016 10:51_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:12] dagwieers commented on #25467
_From @ansibot on December 6, 2016 23:7_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-08 08:18] dagwieers opened #25469 "Add native support for IIS appcmd"
_From @javadevmtl on June 7, 2016 21:10_

##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

New module
##### ANSIBLE VERSION

[code]

Hi the default IIS module are ok for doing simple tasks. But the moment you need to configure anything complex you need to dive into using appcmd command.

For instance I have the following playbook command that registers an ISAPi DLL with IIS. The command work

[2017-06-08 08:18] dagwieers commented on #25469
_From @ansibot on December 6, 2016 22:0_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pullr

[2017-06-08 08:19] dagwieers opened #25470 "win_iis_webbinding references property 'sslFlags' which did not exist before IIS 8"
_From @Matt-Byrne on August 16, 2016 5:49_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_iis_webbinding
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

IIS 7.5 on Windows Server 2008R2
##### SUMMARY

Adding bindings to a website in IIS 7.5 (and I suspect earlier versions) throws the following error:

"msg": "The property 'sslFlags' cannot be found on this

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on August 16, 2016 5:56_

@whenrik ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @Matt-Byrne on August 18, 2016 5:32_

PR #2752 should resolve this issue.

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on September 11, 2016 14:53_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on October 6, 2016 17:50_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on October 22, 2016 10:8_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on November 6, 2016 10:44_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on November 22, 2016 10:51_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:19] dagwieers commented on #25470
_From @ansibot on December 6, 2016 23:7_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-06-08 08:22] dagwieers opened #25471 "win_iis_webapplication: slashes in physical path are not converted to windows style"
_From @aensidhe on December 29, 2015 19:41_

##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

win_iis_webapplication module
##### ANSIBLE VERSION

N/A
##### SUMMARY

win_iis_website converts them. Example:

vars somewhere:

[code]

playbook:

[code]

Website will work ok, webapplication will always fail with 404.

_Copied from original issue: ansible/ansible-modules-extras#1436_

[2017-06-08 08:22] dagwieers commented on #25471
_From @robynbergeron on January 11, 2016 17:37_

[module: windows/win_iis_webapplication.py]

[2017-06-08 08:22] dagwieers commented on #25471
_From @robynbergeron on January 11, 2016 18:50_

@aensidhe --Thanks for submitting this bug report.

@whenrik -- thanks in advance for taking a look at this bug report and for your ongoing work in maintaining this module.

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on August 4, 2016 20:50_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on September 13, 2016 3:37_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on October 6, 2016 18:14_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on October 22, 2016 10:20_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on November 6, 2016 10:55_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on November 22, 2016 11:3_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:22] dagwieers commented on #25471
_From @ansibot on December 7, 2016 15:47_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:23] dagwieers opened #25472 "win_iis_webbinding: ssl_flags property [FR]"
_From @aensidhe on December 29, 2015 13:43_

##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

win_iis_webbinding module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Hi.

`ssl_flags` property of web binding corresponds to SNI. More info on [stackoverflow](http://stackoverflow.com/questions/26485834/register-a-https-binding-with-sni-enabled-in-iis-8-with-powershell-script)

It would be nice to be a

[2017-06-08 08:23] dagwieers commented on #25472
_From @robynbergeron on January 11, 2016 17:39_

[module: windows/win_iis_webbinding.py]

[2017-06-08 08:23] dagwieers commented on #25472
_From @robynbergeron on January 11, 2016 17:39_

@aensidhe Thanks for submitting this feature idea.

@whenrik Pinging you to bring this feature request to your attention. Please note that you are under no particular obligation to add this feature.

We encourage all Ansible community members to submit pull requests to satisfy feature requests. Consult the module guidelines (http://docs.ansible.com/

[2017-06-08 08:23] dagwieers commented on #25472
_From @ansibot on August 4, 2016 20:51_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:23] dagwieers commented on #25472
_From @ansibot on September 13, 2016 3:37_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:23] dagwieers commented on #25472
_From @ansibot on October 6, 2016 18:14_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:23] dagwieers commented on #25472
_From @ansibot on December 7, 2016 15:47_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:24] dagwieers opened #25473 "win_iis_webbinding: remove default binding"
_From @aensidhe on December 29, 2015 7:9_

##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

win_iis_webbinding module
##### ANSIBLE VERSION

N/A
##### SUMMARY

When you create a website for the first time, it will receive default binding: `http:*:80`

I add some non-default bindings:

[code]

And after that I try to remove default binding:

[code]

But this code removes all bindings from website

[2017-06-08 08:24] dagwieers commented on #25473
_From @robynbergeron on January 11, 2016 17:40_

[module: windows/win_iis_webbinding.py]

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on August 4, 2016 20:52_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on September 13, 2016 3:37_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on October 6, 2016 18:14_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on October 22, 2016 10:25_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on November 6, 2016 10:55_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on November 22, 2016 11:3_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:24] dagwieers commented on #25473
_From @ansibot on December 6, 2016 22:1_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pullr

[2017-06-08 08:26] dagwieers opened #25474 "win_acl module cannot modify ACLs for registry keys"
_From @bpleines on October 19, 2016 2:26_

##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_acl module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Control Node: Fedora 23
Host Machine: AWS Windows 2012 Member Server
##### SUMMARY

The win_acl module currently does not support modification of ACLs for registry keys - only for folders and files. There is not

[2017-06-08 08:26] dagwieers commented on #25474
_From @ansibot on October 19, 2016 2:32_

@schwartzmx, @trondhindenes, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:26] dagwieers commented on #25474
_From @bpleines on October 19, 2016 2:40_

I listed this as a feature idea and not a bug because the module does not state that it has registry key functionality

[2017-06-08 08:26] dagwieers commented on #25474
_From @ansibot on December 7, 2016 14:34_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:27] dagwieers opened #25475 "win_acl error with LDAP signing enabled using Univention"
_From @philicious on November 22, 2016 15:37_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none / default

##### OS / ENVIRONMENT
managing Windows7 from MacOS 10.11

##### SUMMARY
win_acl is failing if having LDAP signing enabled

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ACL for that folder updated

##### ACTUAL R

[2017-06-08 08:27] dagwieers commented on #25475
_From @ansibot on November 22, 2016 16:19_

@schwartzmx, @trondhindenes, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:27] dagwieers commented on #25475
_From @ansibot on December 7, 2016 15:48_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:37] dagwieers opened #25476 "win_iis_webapplication: overriding upgrade support"
_From @mvk on July 20, 2016 21:47_

##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_iis_webapplication
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

running from Ubuntu 14.04
running from: Description:    Ubuntu 14.04.4 LTS
managing: windows 2012R2
##### SUMMARY

the module's script (ps1) assumes old webapplication physical path is present during

[2017-06-08 08:37] dagwieers commented on #25476
_From @ansibot on August 4, 2016 14:44_

@whenrik ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:37] dagwieers commented on #25476
_From @ansibot on September 11, 2016 14:53_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:37] dagwieers commented on #25476
_From @ansibot on October 6, 2016 17:56_

@whenrik, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:37] dagwieers commented on #25476
_From @ansibot on December 6, 2016 22:6_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pullr

[2017-06-08 08:43] dagwieers opened #25478 "win_scheduled_task: Disable existing Scheduled Task"
_From @willuk2010 on November 24, 2016 21:27_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes to ansible.cfg, or ansible variables set.

##### OS / ENVIRONMENT

Ansible running from = RHEL 6.7 (Santiago)
OS i'm managing = Windows 2008 r2

##### SUMMARY

trying to use  win_scheduled_task to disable an existin

[2017-06-08 08:43] dagwieers commented on #25478
_From @ansibot on November 24, 2016 21:48_

@petemounce ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:43] dagwieers commented on #25478
_From @ansibot on December 7, 2016 15:49_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:43] dagwieers commented on #25478
@willuk2010 We have rewritten the win_scheduled_task almost entirely (and added integration tests). So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-06-08 08:43] dagwieers opened #25479 "Disable existing Scheduled Task with win_scheduled_task"
_From @willuk2010 on November 24, 2016 21:27_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes to ansible.cfg, or ansible variables set.

##### OS / ENVIRONMENT

Ansible running from = RHEL 6.7 (Santiago)
OS i'm managing = Windows 2008 r2

##### SUMMARY

trying to use  win_scheduled_task to disable an existin

[2017-06-08 08:43] dagwieers commented on #25479
_From @ansibot on November 24, 2016 21:48_

@petemounce ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-06-08 08:43] dagwieers commented on #25479
_From @ansibot on December 7, 2016 15:49_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-06-08 08:43] dagwieers commented on #25479
@willuk2010 We have rewritten the win_scheduled_task almost entirely (and added integration tests). So please test your issue with the v2.3 release, or the devel branch. And report back :-) If this issue is still present, please move it to https://github.com/ansible/ansible

Thanks in advance !

[2017-06-08 08:43] dagwieers commented on #25479
This issue was moved to ansible/ansible#25478

[2017-06-08 08:44] dagwieers commented on #25479
Dupplicate move.

[2017-06-08 08:44] #25479 closed, assigned to nobody

[2017-06-08 08:52] hoall commented on #15709
I confirm that the tasks aren't listed when --syntax-check --list-tasks is set together. I use the ansible version:

`ansible --version
ansible 2.3.1.0 (detached HEAD ecb38fdf73) last updated 2017/06/08 10:44:58 (GMT +200)
  config file = /home/paf2be/.ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

[2017-06-08 09:00] MittchoBaroco commented on #16243
we are generating a pem and pfx file from the script on the link https://cloudbase.it/windows-without-passwords-in-openstack/.

I can't find the way to open the connection and ansible returning me this error
[code]

@hehe2 can you please give us or host file setup with a pem/pfx/key ?

[2017-06-08 09:04] Vladimir-csp commented on #18889
Some time ago I suggested a different approach for apt module: https://github.com/ansible/ansible-modules-core/issues/2386

[2017-06-08 09:11] MittchoBaroco opened #25480 "Client certificate authentication with WinRM using a .pfx file need documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
windows certificate authentification

##### ANSIBLE VERSION

[code]
#####CONFIGURATION
[code]
##### OS / ENVIRONMENT

##### SUMMARY
we are generating our certificate from the script present on this link https://cloudbase.it/windows-without-passwords-in-openstack/ and we can't find the way to open the connection.

ansible is returning

[2017-06-08 09:18] pjnagel opened #25481 "debconf misreports changed status for boolean variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debconf module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing relevant

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS

##### SUMMARY
When using debconf module to set a boolean value to true, the module keeps reporting a 'changed' status even if the value is already true.

##### STEPS TO REPRODUCE
Run the following task twice:

[code]

##

[2017-06-08 09:35] jhawkesworth commented on #25467
This is a feature request really.  Would be useful to have though.  If I recall the app pool and the identity associated with it are configured in slightly different parts of the configuration for IIS.

Will edit summary so this is a feature request.

The attributes you can modify are returned in the 'info' section of the return results (example below).

[code]

[2017-06-08 10:57] gilesw commented on #25384
Some explanation of why this useful. There are currently a few mechanisms of overriding a modules behaviour without a fork. Adding extra files, tasks and data overrides at the playbook level however this is outside the standards of a role structure and not a self contained artifact like a role.

If a sub role is used for all file and logic based extensions that calls the parent role with include_r

[2017-06-08 11:42] Rylon commented on #24045
@dizeee @supertom hi! I'm also encountering this issue, really at a loss to figure out what is going on, do you have any other suggestions for me to try please, they would be greatly appreciated!

I've checked the following:

- Billing is enabled
- Product name is filled in
- The compute API is enabled
- I have Ansible 2.3.1.0 and apache-libcloud 2.0.0
- JSON credentials file
- Service account has

[2017-06-08 11:42] gundalow commented on #22694
Hi
A fix for this has been pushed into `devel` and `stable-2.3`.

Ansible 2.3.2 will be the next release that contains this fix

[2017-06-08 11:42] #22694 closed, assigned to nobody

[2017-06-08 11:58] gilesw commented on #25384
I'm struggling a bit to get started on this work. The defaults_from code is here:-

modules/utilities/logic/include_role.py

presumably this DOCUMENTATION variable is parsed somehow to provide that functionality. The nub of the problem is being able to load defaults or any files from outside the role path, and that defaults loading code must be elsewhere..

[2017-06-08 12:09] s-hertel commented on #25445
I think the name `ignore_nonexistent_bucket` could be improved on or have some added documentation. The idea behind it is that the user may have permission to create/modify/delete a bucket, but may not have list bucket permission. So even if bucketrtn is false, we would still try to do something to that bucket, ignoring that the user can't "see" it and just trusting that it exists.

[2017-06-08 12:18] s-hertel commented on #25428
Hi @shdobxr, thanks for opening the issue. Are you using the s3 module or s3_bucket module?

[2017-06-08 12:20] shdobxr commented on #25428
Hey there, s3_bucket module.

Dan

On Thu, Jun 8, 2017 at 8:18 AM, Sloane Hertel <notifications@github.com>
wrote:

[2017-06-08 12:39] pablodav commented on #25298
I have this problem in one of the servers, still don't know why it happens on only one bu noticed this:

In server where it is failing, also this command fails:

[code]

But it is working on the others servers where the module doesn't fails.

[2017-06-08 12:43] sm4rk0 opened #25488 "Inventory: Exclusive subgroup membership"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A group can't be a child of multiple groups. The last group membership discard previous ones.

##### STEPS TO REPRODUCE
Example hosts file (ini format)

[code]
Run following two commands:
[code]
[code]

##### EXPECTED RESULTS
[code]

[2017-06-08 12:49] MarkusTeufelberger opened #25489 "lxd connection only works on localhost"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/lxd_container_module.html

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Xubuntu 16.04

##### SUMMARY
The lxd connection plugin can ONLY interact with containers running on localhost.

See https://github.com/ansible/ansible/issues/18881 for a discussion about changing this.

##### EXPECTED RESULT

[2017-06-08 13:01] pablodav commented on #25298
I had similar issue, output:

[code]

Have searched for this part: `Preparing modules for first use.`

And found similar issue in github:

https://github.com/chef/train/issues/153

In that issue they fixed it using `powershell -Noprofile`

I need to check how to test it.

[2017-06-08 13:30] pijpe00 commented on #25258
I confirm that the PR will fix my problem

[2017-06-08 13:36] developerinlondon opened #25490 "jenkins_plugin module gives errors when trying with python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Getting the following using the jenkins_plugin module:
MODULE FAILURE

failed: [manager.virtualbox] (item=mailer) => {
    "failed": true,
    "item": "mailer",
    "module_stderr": "Shared connection to manager.virtualbox closed.\r\n",

[2017-06-08 13:43] sean797 opened #25491 "Flush handlers by name"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
Flush handlers by name

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add a `handler_names` list argument to the `flush_handlers` module.

Kind of similar to https://github.com/ansible/ansible/issues/10829 but that is asking for an immediate flush.

Current work around is shown at https://github.com/ansible/ansible/issue

[2017-06-08 13:53] antoineco opened #25492 "azure_rm_deployment deletes Resource Group tags"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
*nope*

##### OS / ENVIRONMENT

macOS Sierra

##### SUMMARY

The `azure_rm_resourcegroup` module deletes the tags of the Resource Group it is deployed to.

##### STEPS TO REPRODUCE

1. Download the [example ARM templates](https://github.com/Azure/azure-quickstart-templates/tree/

[2017-06-08 14:03] jacekjaros opened #25493 "postgresql_user + become_user: postgres => fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- postgresql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Debian 9.0
- Python 3.6
- Ansible 2.3.1.0

##### SUMMARY
I try to run postgresql_user statement as postgrers user using become command and this is fail.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-06-08 14:16] bcoca commented on #25488
I can reproduce:
[code]

[2017-06-08 14:18] bcoca commented on #25488
seems to be a positional issue, if 'child_group' is defined first:
[code]

[2017-06-08 14:24] emiel commented on #25419
This issue just bit us as well. :) I agree with @nblock that encrypted yaml variable files are not "yaml" files and a non "yml/yaml" extension makes sense. We have setup vault file git diffing and need a way to distinguish between a vault encrypted file and a normal yaml file.

Something like: https://selivan.github.io/2016/11/29/ansible-human-readable-git-diff-for-vault.html

[2017-06-08 14:26] aviramartac commented on #24407
I can confirm this issue still exists. Zabbix will recreate the hosts each time even if no changes were made.
An unfortunate side-effect of this is that alerts for existing issues on hosts will be resent when this happens - a big problem.

[2017-06-08 14:41] thaumos commented on #25492
cc @haroldwongms @tstringer

[2017-06-08 14:42] bcoca commented on #25488
so i had removed a previous limitation of groups/children definition positioning, i just did not take into account the already existing assumption of children only having one parent. pushing fix soon.

[2017-06-08 14:47] #25488 closed, assigned to bcoca

[2017-06-08 14:49] gilesw commented on #25384
I've tried some of the other include roles options.

[code]

like using vars/main.yml in the calling module this is not overridable at group_var level.

[2017-06-08 15:00] stegmajo opened #25495 "vyos modules no connection possible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vyos_command
- vyos_config
- vyos_facts
- vyos_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- Nothing was changed

##### OS / ENVIRONMENT

- macOS Sierra, Version: 10.12.5 (16F73)

##### SUMMARY

I try to connect to a vyos system via the vyos modules, but I always get an error

##### STEPS TO REPRODUCE

I tried to run the foll

[2017-06-08 15:02] Bafrianboy opened #25496 "Time out when waiting for 188.166."
i have a problem while installing streisand over ubuntu , i tired a lot and evertime i got the same msg

can you help please

Thanks

![untitled](https://user-images.githubusercontent.com/11059376/26935389-1e0d0d80-4c6c-11e7-84b5-bae08561a5c9.png)

[2017-06-08 15:17] lmazuel commented on #25492
Hi, did you check in the Azure portal that the tags are still here? (I think they are). My current guess is that it's just an Anisble issue on output.

[2017-06-08 15:19] antoineco commented on #25492
@lmazuel yes I did, they really aren't.

[2017-06-08 15:20] lmazuel commented on #25346
@minherz @devigned
I just discovered that in Ansible you can do something like:
[code]

IMHO, we should just document this as the way to deploy from a locally accessible file, and not try to  add specific logic in the plugin.

[2017-06-08 15:29] gilesw commented on #25384
In terms of the hierarchy this if what I'm looking to implement:-

role defaults [1]
**dependent role defaults**
inventory file or script group vars [2]
inventory group_vars/all
playbook group_vars/all
inventory group_vars/*
playbook group_vars/*
inventory file or script host vars [2]
inventory host_vars/*
playbook host_vars/*
host facts
play vars
play vars_prompt
play vars_files
role vars (define

[2017-06-08 15:56] minherz commented on #25346
@lmazuel it is great solution for local files. Unfortunately, `uri` plugin for `lookup` does not work that great. Also, is it possible to include `json` input in a way you showed?
One more question on the subject: the way to use `lookup` does not resolve ansible variables that i might like to include into the template, right?
Implementing a parameter which will read the file or url into template d

[2017-06-08 15:59] sparky005 commented on #22218
Is there currently any estimate as to when this feature will be implemented?

[2017-06-08 16:00] stephan2012 opened #25497 "NameError: global name 'vim' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
RHEL 7.3

Tried to deploy a new VM in vSphere 6.5 using Ansible's vmware_guest module:

[code]

This fails with

[code]

PyVmomi is installed

[code]

and seems to be working:

[code]

What am I mssing?

OS is RHEL 7.3 and brings Python 2.7.5, Ansible is version 2.3.0.0.

Thanks

[2017-06-08 16:08] conlon opened #25498 "ec2_lc_facts lacking functionality, nearly unusable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_lc_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I'm in a situation where I can't get a list of facts for launch configs that start with "test-". I'm not sure exactly how this module should solve the problem, so I'll just note the roadblocks I've noticed:

-

[2017-06-08 16:10] hnakamur commented on #25489
Sorry about frustration.
As for installing python, the first example in the documentation does show how to install python using the raw module.

[2017-06-08 16:12] hehe2 commented on #16243
Hi,

Just for the insight, you can't tsocks/socksify Ansible for winrm connections because it's based on the "pywinrm" module, which relies on the "request" python module which can't be socksified (hard linked libs probably), at least on the standard configuration. (tested that with a pure python script)

I had to modify the pywinrm module to support two http(s)_proxy parameters to pass to the req

[2017-06-08 16:17] dagwieers commented on #16243
@hehe2 I doubt that your pywinrm is statically linked with glibc. IMO it can be socksified by overloading libc calls (connect, recv, send).

[2017-06-08 16:24] jhawkesworth commented on #25298
@pablodav what do you get if you run

Get-PSProvider

on the affected machine?

which version of Windows Management Framework are you runnong on the affected machine?

[2017-06-08 16:25] infrascripting opened #25499 "win_updates module : Exception from HRESULT: 0x80244019"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Module: win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special configuration options.

##### OS / ENVIRONMENT

FROM: RHEL7
TO: MS Windows Server 2012 R2 Standard

##### SUMMARY

`win_updates` module fails to complete.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successful module run

##### ACTUAL RESULTS

[co

[2017-06-08 16:32] hehe2 commented on #16243
Hi,

You can doubt, you still can't socksify it though...

Here is the test script I've written to nail this down (plain winrm auth,
no https, user/pass)

# cat test.py
import winrm

s = winrm.Session('10.1.xxx.xxx:5985', auth=('Administrator',
'admin_pass_here'))
r = s.run_cmd('ipconfig', ['/all'])
print r.std_out

Working with "python test.py" but nothing with "socksify python test.py"
(and no a

[2017-06-08 17:07] pablodav commented on #25298
Hello @jhawkesworth

I have wmf 5, here you can check the output of `Get-PSProvider`

[code]

[2017-06-08 17:41] jmighion opened #25501 "iosxr_config shows passwords to devices"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When connecting to a device the password in the provider object does not get set to no_log. The other *_config modules import the module_utils' check_args function and call that to ensure that the password is set to `no_log: true`.
#####

[2017-06-08 17:49] jchristopher327 commented on #25137
Pardon my ignorance here. In your fix I see that three files are updated. The first thing I would have done is update the nxos_nxapi.py on my build. Should I do the same with the other two files? I'm also not sure where those files reside if I do need to update them.

[2017-06-08 17:56] MarkusTeufelberger commented on #25489
Yes, but it delegates to "mycontainer", which will only work on localhost and is still part of the "connection: local" task group.

I meant something like "command: lxc exec mycontainer -- apt install python"

[2017-06-08 18:32] ElijahLynn commented on #18161
Also getting this in a playbook run. Will post more details if I go down that path.

[2017-06-08 18:49] alager commented on #21368
Bump

[2017-06-08 18:49] ctjon opened #25504 "Ansible Documentation Update Required"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
azure_rm_virtualmachine module documentation AND ansible documentation section on "Getting Started with Azure"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
 RHEL 7.3, Linux server0 3.10.0-514.21.1.el7.x86_64 #1 SMP Sat Apr 22 02:41:35 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

##### STEPS TO

[2017-06-08 19:02] nitzmahone commented on #25412
Easiest is probably to explicitly set `gathers_facts: no` and call the `setup` task yourself where you want it - then you have full control over when it does/doesn't run.

[2017-06-08 19:34] mikewiebe opened #25505 "nxos_acl module errors when transport == nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_acl

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi`.  The issue is not seen when transport is `cli`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect acl to be configured properl

[2017-06-08 19:46] mikewiebe opened #25507 "nxos_facts module errors out for both transports (nxapi or cli)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_facts

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi` or `cli`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect nxapi_facts module to run properly.

##### ACTUAL RESULTS

[code]

[2017-06-08 19:50] nitzmahone commented on #25418
This is by design: check_mode is supposed to say whether a change *would* have been made- in the case of `force: true` on this module, we'll always report changed outside of check mode, so always reporting changed in check mode is consistent and correct.

[2017-06-08 19:50] #25418 closed, assigned to nobody

[2017-06-08 19:54] m2106lw opened #25508 "Module fortios_ipv4_policy does not add new policies"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module: [fortios_ipv4_policy](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/fortios/fortios_ipv4_policy.py)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special configuration options.

##### OS / ENVIRONMENT

FROM: CentOS Linux release 7.3.1611 (Core)
TO: Fortigate 200B

##### SUMMARY

The FortiosIPV4 mod

[2017-06-08 20:01] mikewiebe opened #25509 "nxos_pim errors out for both transports (nxapi and cli)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi` or `cli` but it errors out differently for each.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect nxapi_pim module to run prop

[2017-06-08 20:06] jimi-c commented on #23560
Yes, this is caused by the fact that we're properly using the "safe" loader as the basis for our custom loader now, so built-in Python types are not allowed. This would need to be done via regular jinja2 filters later rather than via YAML references.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/f

[2017-06-08 20:06] #23560 closed, assigned to jimi-c

[2017-06-08 20:08] mikewiebe opened #25510 "nxos_pim_interface errors out for transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim_interface

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect nxapi_pim_interface module to run properly.

##### ACTUAL RESULTS

[2017-06-08 20:08] #23647 closed, assigned to nobody

[2017-06-08 20:22] mikewiebe opened #25511 "nxos_pim_rp_address errors out for both transports (cli and nxapi)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim_rp_address

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi` or `cli` but it errors out differently for each.

##### STEPS TO REPRODUCE
* CLI yaml file
[code]
* NXAPI yaml file
[code]

#####

[2017-06-08 20:30] mikewiebe opened #25513 "nxos_system errors out for both transports (nxapi and cli)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_system

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi` or `cli`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect nxapi_system module to run properly.

##### ACTUAL RESULTS FOR T

[2017-06-08 20:38] hemskgren commented on #23828
This configuration have the same issue.

$ ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible']
  python version = 2.7.9 (default, Oct 19 2015, 10:36:53) [GCC 4.4.7 20120313 (Red Hat 4.4.7-11)]

[2017-06-08 20:41] mikewiebe opened #25514 "nxos_vpc_interface errors out for transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_vpc_interface

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi`.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expect module to not error out.

##### ACTUAL RESULTS FOR TRANSPORT NXAPI

[2017-06-08 20:49] mikewiebe opened #25515 "nxos_vxlan_vtep errors out for both transports (nxapi anc cli)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_vxlan_vtep

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi` or `cli` but it errors out differently for each.

##### STEPS TO REPRODUCE
* CLI yaml file
[code]

* NXAPI yaml file
[code]

##### EXP

[2017-06-08 20:53] #21580 closed, assigned to nobody

[2017-06-08 21:08] johanste commented on #25346
@devigned, @lmazuel, sorry, I'm late to the party here - trying to give some insights from the Azure CLI's point of view.

The service supports two different ways of providing a template. It can be done inline or it can be a reference to a template. See https://msdn.microsoft.com/en-us/library/azure/dn790564.aspx for more information.

While they may not be the most common ones, there are valid sc

[2017-06-08 21:29] nmulvihill opened #25516 "win_chocolatey missing functionality"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT

##### SUMMARY
I would like to run the chocolatey uninstaller with the '-n' or '--skip-powershell' flag. But more generally, there is no way to pass arguments to chocolatey. There is only params and installer_args which do not accomplish the job.

##

[2017-06-08 21:33] hemskgren commented on #25305
I see the same issue in the following module.
- nxos_snmp_location

[2017-06-08 21:42] ysolis commented on #22686
this happens with Ansible 2.3.1.0 installed with `pip install ansible --ugprade` in a virtualenv created with `pyenv` too. I am creating the security group rules dynamically too.

[2017-06-08 21:55] Illydth commented on #25281
@jctanner @nerzhul @dav1x @dagwieers

Apparently on Debian 8 (jessie) - There is a soft dependency on package "python-requests" or "python-urllib3" (one of the two, installing/uninstalling python-requests or python-urllib3 forces installation/uninstallation of the other).

Upon installing python-pip onto a debian 8 box, these two packages are installed, and upon uninstalling python-pip they are un

[2017-06-08 22:12] nitzmahone commented on #25459
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-08 22:12] #25459 closed, assigned to nobody

[2017-06-08 22:13] nitzmahone commented on #25461
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-08 22:13] #25461 closed, assigned to nobody

[2017-06-08 22:57] dagwieers commented on #16243
Ok, so here is proof. This is a RHEL7 with tsocks installed.
I simply copied the included `tsocks.conf.simple` example to `/etc/tsocks.conf`

Running it normally (with fake IP and fake SOCKS sever IP):
[code]

And here is it being socksified (overloading network-related calls to glibc):
[code]
Seems to work fine.

[2017-06-08 23:40] winstonsimon commented on #25459
@nitzmahone
Reponse from IIRC.

<agaffney> Guest91457: I've never used IAM temp credentials, but I really doubt there's a bug in multiple places in ansible around using them, when the docs you pointed to above pretty much say that they're identical

Could you please reopen this issue?

[2017-06-09 00:00] trashcan commented on #23287
If this is still an issue, what is the output of:
[code]

Does it show any errors that might help diagnose why Ansible can't connect?

[2017-06-09 00:15] pilou- commented on #24823
@pdev77 could you check the PATH variable of the remote user ? Use something like `ansible testserver -m shell -a 'echo $PATH'`. I guess `ansible testserver -m command -a 'xfs_info -V'` will fail too.

`xfs_info` is a [bash script](https://git.kernel.org/pub/scm/fs/xfs/xfsprogs-dev.git/tree/growfs/xfs_info.sh) located in `/usr/sbin/` (`/sbin` is a symlink to `/usr/sbin/`) which calls `xfs_growfs`

[2017-06-09 00:38] pilou- commented on #24356
Currently the _filesystem_ module [doesn't support](https://github.com/ansible/ansible/blob/57c67f0c0826dfd4df244252e5d289b34c7c0721/lib/ansible/modules/system/filesystem.py#L115) resizing `btrfs` filesystem.

[2017-06-09 00:59] nitzmahone commented on #25459
The most common reason for this failure is date/time issues on the control host. Regardless, we don't treat temporary credentials any differently than permanent ones (they all just get passed through to boto), so the problem most likely doesn't lie with Ansible.

[2017-06-09 01:36] Akasurde commented on #25497
Seems similar to #25281

[2017-06-09 01:44] nitzmahone commented on #25499
That error usually means the update source is misconfigured- I'm guessing you'll see similar results trying to run updates manually. If you're using WSUS, make sure the update server and port are configured properly. If you're using Microsoft Update, make sure the products to update are configured properly- most of the times I've seen this error, it's due to bad group policy configuring the update

[2017-06-09 01:47] nitzmahone commented on #25496
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-09 01:47] #25496 closed, assigned to nobody

[2017-06-09 03:06] winstonsimon commented on #25459
Ok.. made it working by explicitly exporting all the following variables.

[code]

[2017-06-09 03:34] heathdbrown commented on #25507
We are also getting the same traceback when using `gather_subset: interfaces !hardware`.

[code]

[2017-06-09 04:39] trinitronx opened #25521 "ec2_route_table fails with Unable to associate subnets for route table RouteTable:rtb-XXXXXXXX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ec2_vpc_route_table`: `ansible/lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

OS running Ansible from: `CentOS Linux 7 (Core)`
OS managing: `N/A` (AWS resource only)

##### SUMMARY

When managing an existing EC2 VPC Route Table with the `ec2_vpc_ro

[2017-06-09 04:47] jhawkesworth commented on #25298
@pablodav - WMF 5 should be fine and I get the same output as you for Get-PSProvider.  (I am not sure why I asked this now - possibly I was confusing this with another issue on github).

I have seen the 'Preparing modules for first use' message many times on successful playbook runs (with -vvvvvvv debugging), so I don't think that part of the error message is indicating a problem.

Can you look in

[2017-06-09 04:48] nethershaw commented on #23547
This is baffling. What business does the module have trying to compute a checksum even when the `overwrite: never` module parameter is set? It's obviously doing it anyway, and worse, it's failing hard when it can't compute the checksum it doesn't need to compute -- instead of doing the idempotent thing and just unconditionally leaving the locally present file alone.

[2017-06-09 04:52] jaredledvina commented on #22298
Sadly, the only current 'fix' I have is to delete all of the service downtimes. It's not great at all but, works for me currently. Would love to see this fixed :)

[2017-06-09 05:50] stephan2012 commented on #25497
Regarding #25281: urllib3 and requests are both installed:

[code]

[2017-06-09 06:47] minherz commented on #25346
@lmazuel is there a syntax that let to parse a content of the variable assuming it contains `yaml` (or is a dictionary) and evaluate jinja2 expressions in it? in that case the fact that we can place variable as a value and download the content of the URL yaml file will provide an answer and like @johanste said we will need to update the documentation.

[2017-06-09 07:42] bjolivot commented on #25508
Hello,

Could you post partial config file with "db" address block
and playbook -vvv ?

I saw same error when:
 - address dont exists
 - address exists but not in corresponding interface
 - address exists but not in this vdom

you can try to ping me on IRC (freenode network,  ansible-devel channel) if you want more active help

needs_info

[2017-06-09 07:53] hai-ld commented on #25412
@nitzmahone Do Ansible team have any intention to deprecate this behaviour? I think it's quite unintuitive. My use case is having CI/CD server to automatically deploy new application version (on dev/QA env) but currently I can't put application deployment and environment setup (load balancers, database...) in the same playbook without also giving CI server access to those hosts, even though it has

[2017-06-09 07:54] silvinux opened #25522 "pamd.py - Module more than 2 parameter on a rule.control, duplicate parameters each time you run the playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/system/pamd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
inventory      = ./inventory_dlabtuxm
forks          = 30
remote_port    = 22
gather_subset	= all
gather_timeout	= 10
roles_path	= ./roles
host_key_checking = False
timeout = 5
remote_user = root
log_path = /var/log/an

[2017-06-09 08:10] manan00 opened #25523 "Refresh Inventory for AWS EC2 via Tower not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Tower

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am using Ansible Tower 2.4.5. I have setup dynamic inventory for AWS EC2. Through my playbook I intend to create an EC2 instance on AWS and once instance is up & running perform some configurations. Currently my playbook fails while confi

[2017-06-09 08:24] davedastrange commented on #24398
any news on this issue ?

[2017-06-09 08:24] davedastrange commented on #24398
any news on this issue ?

[2017-06-09 08:51] twouters commented on #25418
As far as I know, `force:true` does not always report changed outside of check mode, unless the local file's checksum differs from that of the remote.
My tests seem to have confirmed that.

[2017-06-09 09:42] pilou- commented on #25493
This error is expected: the user making the connection (`jacek`) and the `become` user are unprivileged (`postgresql`), see https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user.

[2017-06-09 09:49] pilou- commented on #25493
@jacekjaros could you close this issue or add any comment ?

[2017-06-09 09:52] hehe2 commented on #16243
Good for you, but we don't have the same setup then...

# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)
[root@vuhplabgtans042 ~]# uname -a
Linux vuhplabgtans042 3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Nonetheless, when you're working with multiple subnets with overlapping IPs, you're really glad to be able to configure a per group pr

[2017-06-09 10:26] davebiffuk opened #25528 "request: pacemaker module could support maintenance mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

pacemaker_cluster

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
It would be useful for the pacemaker module to support putting the cluster into and out of maintenance mode, to invoke `pcs property set maintenance-mode=true` and `pcs property set maintenance-mode=false`

Suggested syntax:
[code]

[2017-06-09 10:38] dagwieers commented on #16243
RHEL or CentOS should not matter.
Agreed, doing this directly from Ansible is more flexible.

[2017-06-09 10:40] adam-kosseck commented on #25239
Ok, it's all good now @jhawkesworth.
Cleared value.  Re-run playbook, and is stored with lower case F.
Changed value manually to upper-case, re-ran playbook and it was changed back to lower-case.

The Line 86 change looks like a fix.  Happy to close.

[2017-06-09 10:40] #25239 closed, assigned to nobody

[2017-06-09 10:41] roderickrandolph commented on #14987
@bcoca if the error is caused by invalid syntax, the doc example should be updated since it's misleading: http://docs.ansible.com/ansible/playbooks_variables.html#variable-file-separation

[2017-06-09 10:43] dagwieers commented on #25504
Just create a PR as proposal with the changes you like.

PS You can edit files through Github so there's even no need to use git command line (if that would be too high a bar).

[2017-06-09 11:12] hamza-tumturk opened #25531 "ERROR! 'order' is not a valid attribute for a Play"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should run the task in order on the hosts. As described in the documentation: [Intro to Playbooks: Hosts and Users](http://docs.ansible.com/ansible/playbooks_intro.ht

[2017-06-09 11:37] dagwieers opened #25532 "WinRM: Bails out with "[Errno 111] Connection refused""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

WinRM

##### ANSIBLE VERSION

v2.4

##### OS / ENVIRONMENT
Control master: RHEL7
Target nodes: Windows 2012R2 (with Powershell 4.0, also tried Powershell 5.1)

##### SUMMARY

I just experienced again a **Connection refused**. The task was waiting for 3 VMs to appear (wait_for_connection doing a win_ping test), the last VM to come online then g

[2017-06-09 11:42] pablodav commented on #25298
What I see in the task scheduler events:

![ansible-win_task](https://user-images.githubusercontent.com/4460447/26973274-fff99086-4ceb-11e7-9afd-051fe9fc8dd9.jpg)

Also in security events:

[code]

More logs:

[code]

On Windows Powershell logs I got attached logs at same time.

[powershell_logs.zip](https://github.com/ansible/ansible/files/1063912/powershell_logs.zip)

I have manually modified th

[2017-06-09 11:51] pablodav commented on #25298
I have tried also with local user admin and basic auth without domain but nothing different yet.

[2017-06-09 11:56] pablodav commented on #25298
I have noticed that the file created by this module:

    C:\Windows\System32\Tasks\Microsoft\Windows\PowerShell\ScheduledJobs\ansible-win-updates

Has this command on it:

[code]

Do you know how can I add `-NoProfile` to the arguments of it? Just for testing...

[2017-06-09 12:06] pablodav commented on #25298
I see in this file: `C:\Windows\System32\Tasks\Microsoft\Windows\PowerShell\ScheduledJobs\ansible-win-updates`

[code]

Do you know how can I test same but adding -NoProfile on that task? Just for testing.

[2017-06-09 12:08] pilou- commented on #25490
Both errors have been fixed by 45e4b8f97aa8adb8222e8b83584601d3e8298ba6, the fix was backported in 2.3 (by 74f6c46e46c61352349292f159930fc26fed204c), `jenkins_plugin` module has been added in ansible 2.3.

This issue is a duplicate of #24526.

[2017-06-09 12:13] pilou- commented on #25490
@nitzmahone could you close this one ?

[2017-06-09 12:14] jhawkesworth commented on #25239
I just created Pull Request #25536 above to make the L86 change. @adam-kosseck - please can you test it so I can get this fix included in next ansible revision?  Many thanks,  Jon

[2017-06-09 12:24] jctanner commented on #25522
cc @kevensen

[2017-06-09 12:25] kevensen commented on #25522
@jctanner Go ahead and assign this to me.  I'll take a look at it this weekend.

[2017-06-09 12:27] jctanner commented on #25523
@manan00 tower is not supported in this issue tracker. Please open an issue with the tower support team per https://docs.ansible.com/ansible-tower/latest/html/administration/license-support.html#support

[2017-06-09 12:27] #25523 closed, assigned to nobody

[2017-06-09 12:29] jctanner commented on #25528
cc @matbu

[2017-06-09 12:32] jctanner commented on #25531
@hamza-tumturk unfortunately this is due to our documentation always reflecting current development code instead of the stable release. "order" hasn't made it's way into a release banch yet and only exists in devel.

We are steadily making progress on versioning the docs so that people won't hit these sort of issues in the future. Sorry about the confusion.

[2017-06-09 12:32] #25531 closed, assigned to nobody

[2017-06-09 12:36] JayKayy commented on #25389
I was able to reproduce this bug.
I created `userA` and `userB` as part of `usertest` group

Create `ownership.txt` owned by `userA` but write permissions granted through the group permissions to `userB`.

[code]
- hosts: all
  tasks:
    - name: own test
      lineinfile:
        dest: /tmp/ownership.txt
        line: "foo"
        state: present
[code]

You can see userB now owns the file

I'm n

[2017-06-09 12:41] jhawkesworth commented on #25298
My guess would be that that is generated somewhere in the win_updates.ps1 module code, so you could try modifying that to add -NoProfile.

You mention you have tried as different users.  I wonder if the file got created the first time but can't then be recreated next time win_updates is run as a different user due to file permissions.

You appear to be running as '_svcansible' is that correct?

[2017-06-09 12:47] #25395 closed, assigned to nobody

[2017-06-09 12:56] dagwieers opened #25539 "credssp: a float is required, ssl: a float is required, plaintext: a float is required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

WinRM

##### ANSIBLE VERSION

v2.4

##### SUMMARY

When you accidentally configure `ansible_winrm_read_timeout_sec` as a string `90` (don't ask, these are generated), you get a confusing error message. At least $CUSTOMER was surprised ;-)

So it makes sense to do something better with this.

[code]

[2017-06-09 12:58] tstringer commented on #25504
There's a pending PR for Azure 2.0.0 Python SDK as it has now RTM'd. This is the [current PR](https://github.com/ansible/ansible/pull/24710). We should put our efforts on getting this version pushed throughout, including in documentation.

[2017-06-09 13:01] cbeckley commented on #25389
Then as a side issue, I bet if userB has group rw permission to the file, but not the directory, then the action will fail, even though userB is allowed to write the file.

Secondly, chown is disabled by all but root on most unixes these days. So using the temporary file technique will not be an implementation option for lineinfile, if this behavior is deemed sufficiently egregious to merit correc

[2017-06-09 13:17] pablodav commented on #25298
Yes I have ran in different users, but also manually deleting the file to ensure no permissions issues.

[2017-06-09 13:21] mikewiebe opened #25541 "nxos_vxlan_vtep_vni errors out for transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_vxlan_vtep_vni

##### NXOS VERSION
7.0(3)I3(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running on Ubuntu 14.04

##### SUMMARY
The module errors out in latest `devel` when using transport `nxapi`.

##### STEPS TO REPRODUCE
* NXAPI yaml playbook
[code]

##### EXPECTED RESULTS
Expect module to run properly.

##### ACTUAL RESUL

[2017-06-09 13:39] m2106lw commented on #25508
[code]

Here is the playbook run:
[code]

This will happen when the ID is equal to 0 or a number that doesn't exist already.
Let me know if there is anything else you need.

[2017-06-09 13:48] JayKayy commented on #25389
@cbeckley Yes you are correct. I hit several Operation not permitted failures in my testing trying to figure out what was going on. The directory i attempted to run this in had the directory flag to prevent deletion. What component "replace" are you referring to?

[2017-06-09 13:50] jparrill opened #25542 "New Module ETCD"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Feature: New Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OS: Linux

##### SUMMARY
New module to add/remove/overwrite key-values from ETCD

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
N/A

[2017-06-09 13:51] micw opened #25543 "hostname fails when systemd is installed but dbus is not running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY

On systems without dbus, ansible's hostname module fails with error:

[code]

With ansible 1.7 and the same system and playbook it works. Installing dbus workarounds this issue.

##### STEPS TO REPRODUCE
Run hostname task agains a machine without

[2017-06-09 13:57] cbeckley commented on #25389
Replace is a module listed with the File Modules.  Syntax is very similar to lineinfile, even regarding deprecated names for parameters.  So I assumed they had the same author and implementation.

[2017-06-09 14:03] daBONDi commented on #25298
I think the Problem is not Ansible, it is the Process of Windows Updates itself(wuauctl).
Ansible got a Timeout function so the connection dont get stuck,

If update from an RTM on 2k8r2 or 2k12 there are so many updates failing in the updatechain from microsoft itself.

got the problem myself, workaround was take the servers manual with the updates(With Reboot and  only 25 Updates per run) over N

[2017-06-09 14:10] spul commented on #20537
I heavily work with dependencies and meta/main.yml and it would be great to spare the necessity to maintain the same information in two different files at all.
Further it would be great to maintain the `version:` key with jinja templating, e.g. `version: '{{ some_variable_version|default(omit) }}'`.

Any news on this?

[2017-06-09 14:13] ganeshrn opened #25544 "eos_facts fails with error `"AF_UNIX path too long"` when debug log is enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bin/ansible-connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Enable debug logs and run below playbook

[code]

##### EXPECTED RESULTS

Should fetch facts from device

##### ACTUAL RESULTS

Error message:
[code]
Getting wrong socket-path from `ansible-connection`
[c

[2017-06-09 14:30] infrascripting commented on #25499
Ok, I will troubleshoot that first.

[2017-06-09 14:46] marceloslacerda opened #25547 "On a python 3.4 host, copy runs into an type error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In Python 3.4 tempfile.mkstemp does not support byte array in the dir argument:

[code]

In [line 373 of the copy.py module](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/copy.py#L373 ) we pass a byte array to

[2017-06-09 15:02] nitzmahone commented on #25490
@pilou- great, thanks!

[2017-06-09 15:02] #25490 closed, assigned to nobody

[2017-06-09 15:06] marceloslacerda commented on #25547
The reason why running the ad-hoc command catches that I'm using python 3.4 is because I'm running it on the localhost and it's the [manager part of the code](https://github.com/ansible/ansible/blob/ba4f6de35a7499c1e894785d5a9b488002976588/lib/ansible/module_utils/basic.py#L2295) that catches the problem.

[2017-06-09 15:06] jladdjr opened #25549 "wait_for missing import for os: "global name 'os' is not defined""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When running the wait_for task to check for the existence of a file that is present, ansible reports a module failure due to `global name 'os' is not defined`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
`wait_for` successfully

[2017-06-09 15:07] jladdjr commented on #25549
[This commit](https://github.com/ansible/ansible/commit/6e98dbbfd74affa090c3e0c64a28674a38cf1382#diff-c15dffe3b5403056a55c6ca98b41e63cL601) removed the following import which indirectly imported `os`:
`from ansible.module_utils.basic import *`

[2017-06-09 15:09] jladdjr commented on #25549
ping @dagwieers

[2017-06-09 15:27] jimi-c commented on #23023
I can confirm this is working as expected in 2.3.1.0-1, and does not work in 2.2.3.0-1. The question is, is this something we want to backport?

[2017-06-09 15:31] samdoran commented on #24441
Doesn't look like this fix made it into 2.3.1.0

[2017-06-09 15:31] #19452 closed, assigned to nobody

[2017-06-09 15:33] daBONDi commented on #25420
My 2 Cents :-)
maybe use caddy
https://github.com/mholt/caddy

Written in go, simple binary, easy start stop

[2017-06-09 15:59] jimi-c commented on #25549
Fixed in 81998b963da7e6c7c9dd0b0532bec2d454918371.
Thanks!

[2017-06-09 15:59] #25549 closed, assigned to nobody

[2017-06-09 16:00] dagwieers commented on #25549
This also means this usage was not covered by a tests :-/

[2017-06-09 16:01] jimi-c commented on #22859
@regexcracker yes, the proper way to do this is via set_fact. We don't allow the composition of variables inline as you did in your original example. As such, we'll close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks

[2017-06-09 16:01] #22859 closed, assigned to jimi-c

[2017-06-09 16:09] jimi-c commented on #25549
Correct, we need to fix that too.

[2017-06-09 16:14] jladdjr commented on #25549
Was causing Tower installs to fail against `devel`:

Task:
https://github.com/ansible/ansible-tower/blob/devel/setup/roles/supervisor/tasks/tasks.yml#L24-L27

Failure:
[code]

[2017-06-09 16:24] jhawkesworth commented on #25476
A simple workaround would be to do a win_file state: absent on the folder and then a win_file state: directory to create the folder before attempting to re-install everything.

[2017-06-09 17:50] einarc commented on #16755
@jctanner This is happening to me on Ansible TOWER 3.1.3 with the adhoc command feature and the yum module. I can't find documentation on this.

[2017-06-09 17:56] shadycuz commented on #18075
@bcoca any input on this behavior? In my search I have found a couple similar issues opened from people.

Thanks,
Levi

[2017-06-09 18:01] jimi-c commented on #22690
Using @dieswaytoofast's example above, I'm no longer seeing this on the `devel` branch, though I am still seeing it on `stable-2.3`:
[code]
So it appears this has been resolved, if anyone else can confirm?

[2017-06-09 18:06] infrascripting commented on #25499
Windows Admin fix whatever problem was on his side and it is working fine now.

[2017-06-09 18:06] #25499 closed, assigned to nobody

[2017-06-09 18:07] nitzmahone commented on #25499
Good deal- thanks for the update!

[2017-06-09 18:09] sivel commented on #22690
Yes, this was resolved in https://github.com/ansible/ansible/pull/25092 for devel

[2017-06-09 18:11] bcoca commented on #25531
there was a "version added" tag, but i mistyped so it is not showing in docs, pushed fix

[2017-06-09 18:42] ryansb commented on #25403
I think this falls under a user error category, and it seems harmless enough that I'd prefer not to add a dependency to handle it. What we can do is fail whenever the host bits on a network address are set by using the (standard library in Python 3.3+) `ipaddress` module like this:

[code]

Python 2 users would have to install [ipaddress](https://pypi.python.org/pypi/ipaddress) backport via pypi,

[2017-06-09 18:48] trinitronx commented on #13524
Closing this old issue as `ternary` was what I needed

[2017-06-09 18:48] #13524 closed, assigned to nobody

[2017-06-09 18:55] s-hertel commented on #25296
Closed because I believe this was fixed in https://github.com/ansible/ansible/pull/24783.
Please reopen this if I'm wrong and give some details about where your credentials are.

[2017-06-09 18:55] #25296 closed, assigned to nobody

[2017-06-09 19:10] dcritch opened #25554 "[RFE] Support one to many A records in nsupdate module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The nsupdate module was brought in to v2.3 and its great!

I had a need to create a wildcard DNS entry (for OpenShift/kubernetes routers) so the same A record is  pointing to multiple IPs. Out of the box this module would update the

[2017-06-09 19:52] dcritch commented on #25554
Alternatively, maybe we could provide a list to the value argument?

[2017-06-09 19:55] Niceha commented on #14151
I have a same issue, I am running a playbook which has 2 roles. Role uses connection: local and all modules work fine like command: (ls -ltrh /tmp; ls /etc/) but when I run my script which takes argument as file path stored in /tmp/ I get error

delta": "0:00:00.009996", "end": "2017-06-09 14:42:33.708862", "failed": true, "rc": 1, "start": "2017-06-09 14:42:33.698866", "stderr": "/tmp/csv_to_file

[2017-06-09 20:03] jameszh opened #25555 "OSX hangs at "calling kinit .." when ansible_winrm_kinit_mode set to managed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows kerberos
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS 10.12.5
##### SUMMARY

when ansible_winrm_kinit_mode=managed
it's stuck with following:
creating Kerberos CC at /var/folders/5k/m9hvl9ld2wv8zs33vhlrhvw40000gn/T/tmpILJqaA
calling kinit for principal xxxx@DOMAMAIN.COM
but when when ansible_winrm_k

[2017-06-09 20:18] Niceha commented on #14151
I have a same issue, I am running a playbook which has 2 roles. Role uses connection: local and all modules work fine like command: (ls -ltrh /tmp; ls /etc/) but when I run my script which takes argument as file path stored in /tmp/ I get error

delta": "0:00:00.009996", "end": "2017-06-09 14:42:33.708862", "failed": true, "rc": 1, "start": "2017-06-09 14:42:33.698866", "stderr": "/tmp/csv_to_file

[2017-06-09 20:23] jctanner commented on #25554
@dcritch Please go ahead and file the PR, then we can help you shape in into whatever gets deemed mergeable.

needs_contributor

[2017-06-09 20:24] muratdx commented on #24148
Problem appears to be fixed in 2.3.1.

[2017-06-09 20:29] jctanner commented on #25555
cc @nitzmahone

[2017-06-09 20:32] ktbyers opened #25557 "eos_config using eAPI on Ansible 2.3.1.0 fails with KeyError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config using eAPI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### SUMMARY
Simple playbook for eos_config using eAPI works fine on Ansible 2.3.0.0 fails on Ansible 2.3.1.0

Playbook
[code]

Provider is in group_vars:
[code]

##### ACTUAL RESULTS
[code]

[2017-06-09 20:37] ktbyers commented on #25557
Adding: `use_ssl: True` fixed the issue:

[code]

I guess it is either a documentation issue or a bug. Documentation states use_ssl defaults to True in the provider.

https://docs.ansible.com/ansible/eos_config_module.html

[2017-06-09 20:38] ktbyers commented on #25557
More detailed stack trace on failure:

[code]

[2017-06-09 20:39] ktbyers commented on #25557
Playbook works without an issue on Ansible 2.3.0.0 with use_ssl not specified in the provider (i.e. using the default of use_ssl = True).

[2017-06-09 20:46] ktbyers commented on #25557
Also, I am using a `transport` in the provider for eos_config using eAPI and am receiving this warning:

[code]

Is that a separate bug? In other words, I thought that `transport` was going to be removed from directly specifying it as a module argument, but not from using it in a provider?

[2017-06-09 21:07] EdoBarroso commented on #18910
+1

[2017-06-09 21:11] nitzmahone commented on #25555
Curious if this is 100% repeatable or if it works sometimes? I've never run into this, but I only tested brifly on Heimdal Kerberos (which is what I assume you're using, since you're on OSX). Is there any chance you can run from source and try a little experiment for me?

[2017-06-09 21:24] #25082 closed, assigned to abadger, bcoca

[2017-06-09 21:33] jameszh commented on #25555
100% repeatable, yes let me know how to do your experiment.

Thanks!

--
James Zhang
Sent with Airmail

On Jun 9, 2017, 17:12 -0400, Matt Davis <notifications@github.com>, wrote:

[2017-06-09 21:34] nitzmahone commented on #25555
OK, cool- are you running from source?

[2017-06-09 21:43] nitzmahone commented on #25555
Once you are, find the line `stdout, stderr = p.communicate(password + b'\n')` in lib/ansible/plugins/winrm.py (in the _kerb_auth function, around line 182), and just before that, stick in
[code]

then try your test again (making sure you're using the newly-hacked from-source version of Ansible, of course).

This isn't of course a real fix, but just to narrow down the cause. I suspect there may be

[2017-06-09 22:21] johnboy2 commented on #25403
I'm okay with a check being made only when possible, and I'm also okay with it being a warning rather than an outright failure. As to whether to warn or document, I think both are appropriate.
- Documenting covers the worst case when there is no available way to do the check at run-time, but
- Having Ansible warn at runtime is better, if it is possible.

RE "if possible", note that the "netaddr" m

[2017-06-09 22:27] dkarakas1 commented on #24275
I ended up starting from scratch.  This time on my clean install of CentOS 7, I ensured only CentOS7 RPMs for pip2 and pip3 were installed aka python2-pip and python3-pip.  So no 'pip install --upgrade pip' was ever run on this box.  I've confirmed my dev box is now PEP394 compliant.

I installed Ansible via Yum

[code]

I also ran
[code]

As per https://docs.ansible.com/ansible/guide_azure.html

[2017-06-09 22:27] #24275 closed, assigned to nobody

[2017-06-09 22:34] nitzmahone commented on #25298
Unfortunately, `Register-ScheduledJob` "owns" the creation of the Powershell command line that you're seeing there, and I don't believe there are options available to prevent the inclusion of the profile.

[2017-06-09 22:37] nitzmahone commented on #24275
We've had one- the problem appears to be that the way the Azure Python SDK is packaged overtaxes `pip`'s depsolver, and that a number of subcomponents aren't version-pinned, so when Microsoft ships an update to one of the myriad subcomponents in the dep tree, the behavior can change unexpectedly. Without having dug into it at all, I'd expect this batch of failures is related to the recent "2.0.0"

[2017-06-09 22:42] dkarakas1 commented on #24275
Re-read previous recommendation to
[code]
I did this but then observed the following error:
``
TASK [common : Create a resource group if missing] *************************************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Do you have msrestazure installed? Try `pip install msrestazure`- No module named msrest.serialization"}
[code]
pip install msrest

[2017-06-09 22:53] malmon opened #25559 "template error while templating string: unexpected ']' After Dictionary Combine"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
combine

##### ANSIBLE VERSION
2.3.0.0

##### OS / ENVIRONMENT
Control node: Mac OS
Managed Node: CentOS7

##### SUMMARY
I am trying to amend secrets stored in a Hashicorp Vault server using ansible 2.3.  To do this I need to pull the current secrets from the server with a rest call, combine the two dictionaries containing the old secrets data a

[2017-06-09 22:54] pilou- commented on #25543
This error happens when `systemd` is installed but `dbus` isn't. I guess it could occur when remote user isn't `root` and `libpam-systemd` isn't installed.

When systemd is available, I am not sure if the module should try to detect if dbus is available (and failds when dbus isn't available) or if a fallback method should be used in such case.

[2017-06-09 22:58] grugnog opened #25561 "ec2_vpc_igw no longer returns gateway_id"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
amazon/ec2_vpc_igw

##### ANSIBLE VERSION
Devel branch head.
[code]
##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Linux

##### SUMMARY
ec2_vpc_igw returns a gateway_id using the stable Ansible, and according to the documentation should https://docs.ansible.com/ansible/ec2_vpc_igw_module.html#examples

The latest devel branch returns an `id

[2017-06-10 00:01] Logos01 opened #25563 ""error_on_undefined_vars" should have subordinate config directive of "warn_on_undefined_vars""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

templating

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Specifically:
error_on_undefined_vars = False

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When "error_on_undefined_vars" is set to False, no warning is issued to the user to indicate that this might need attention. This can create unexpected behaviors such as the template module fai

[2017-06-10 00:13] nitzmahone commented on #25418
Sure, but how would you know that? You can always change this behavior with `changed_when: false`, but just like with shell/command/raw and others where we can't predict whether a change has or has not occurred, we err on the side of reporting that it has, so this is consistent...

[2017-06-10 00:14] nitzmahone commented on #25412
That'd be a question for @jimi-c, but I'd suspect the answer is no, especially since IIRC it's possible to use the result of fact gathering to determine whether a play is skipped, so that could be a breaking change.

[2017-06-10 00:33] felipelrz commented on #23889
If you are using http_proxy and https_proxy variables, add a var no_proxy=.yourdomain.com

[2017-06-10 00:39] dagwieers commented on #23889
KroArtem: There's a syntax error in your YAML. environment is a task option, not a module option.
http://docs.ansible.com/ansible/playbooks_environment.html

So it should be:
[code]

[2017-06-10 01:26] a-oishi commented on #24508
This issue helpful for me. Thanks.

[2017-06-10 09:34] JayKayy commented on #25286
I don't believe lineinfile was meant for multi-line entries. There are a few alternatives to what you're tryign to accomplish. For multi-line inserts I found using `with_items` helpful like so:
[code]

Another method is to use the blockinfile module.

https://docs.ansible.com/ansible/blockinfile_module.html

Best,

John

[2017-06-10 09:53] JayKayy commented on #25268
@jean-christophe-manciot You could also place an ansible.cfg in each directory from which you're running ansible commands. This would allow you to specify the absolute path for `inventory` on a per directory basis. If you're changing around directories and intending different configuration behaviour for each that sounds like it may be useful to you.

Options for configuration files:

Global(defaul

[2017-06-10 10:50] trondhindenes commented on #24931
Why would you need network service access? It seems to me that this is a very environment-specific requirement, and shouldn't necessary be added to a generic bootstrap script.

[2017-06-10 11:25] adam-kosseck commented on #25239
@jhawkesworth I have tested PR #25536 and can confirm that it resolves the reported issue.

[code]

[2017-06-10 13:36] kamranayub commented on #24931
It's just a requirement of how WinRM works over HTTPS, since it runs as the
NETWORK SERVICE account. Without that step, it won't work.

On Sat, Jun 10, 2017, 05:51 Trond Hindenes <notifications@github.com> wrote:

[2017-06-10 13:47] kamranayub commented on #24931
I should say specifically it's how it works with domain certificates.
Obviously it's been working with self signed ones fine. Most tutorials skip
that fact, but it's documented in various places.
https://social.technet.microsoft.com/Forums/windowsserver/en-US/be06b96d-9485-4564-a78e-ba523a908259/powershell-remoting-credssp-http-500-from-winrm-service?forum=winserverpowershell

On Sat, Jun 10, 2017

[2017-06-10 21:14] jpic commented on #25397
Please paste the complete error message, traceback if any, and relevant logs from journalctl and /var/log.

[2017-06-10 21:15] jpic commented on #25040
Hi @tardich, nice report ! are you planning to contribute a patch ?

[2017-06-10 21:26] jpic commented on #24236
This can potentially improve ansible user experience when deploying new software on docker nodes or hacking them.

[2017-06-11 00:15] subimage opened #25579 "DNSimple module documentation issues"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

dnsimple

##### ANSIBLE VERSION

[code]

---

Just used the "dnsimple" module for my deploy. Three things to note...

1. DNSimple now has a v2 of their API, which is given priority in their UI. I thought I had to use that API key and authentication was failing. Documentation didn't mention which API key to use.
2. I had to install py

[2017-06-11 08:14] xromec opened #25581 "RFE: redhat_subscription should provide a way to manage channels"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
redhat_subscription currently does not allow enabling and disabling specific channels. That is needed when the pool where the OS is registered to contains many channels which are enabled by default and can cause package conflict

[2017-06-11 09:13] fpeterschmitt opened #25582 "[module] packaging/os/pacman.py - empty package wants to install all groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pacman

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

ArchLinux, CentOS 7

##### SUMMARY

If the `name` parameter is given an empty name, the command `pacman -Sgq` is ran, returning every available groups. Then, each group is expanded to the real list of packages, returning every single package available for install.

Line: https://gi

[2017-06-11 09:14] Leryan commented on #25582
As a workaround, add to your task:

[code]

[2017-06-11 10:03] ababra opened #25583 "Cannot set kernel_id using Linode module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
linode

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
macOS Sierra 10.12.5

##### SUMMARY
Linode module [documentation](http://docs.ansible.com/ansible/linode_module.html) states that you can pass "kernel_id" as a parameter. However this parameter does not seem to be working.

##### STEPS TO REPRODUCE

[code]

Exe

[2017-06-11 10:04] JayKayy commented on #25389
To validate, yes my test has the same result using the replace module.

[2017-06-11 10:08] jhawkesworth commented on #25239
Thanks @adam-kosseck - one more favour - could you comment on https://github.com/ansible/ansible/pull/25536 with your test results, as it would help to get the change merged.
Many thanks
Jon

[2017-06-11 10:12] #25583 closed, assigned to nobody

[2017-06-11 10:13] ababra commented on #25583
Just realized that you need **version 2.4** and I was at 2.3.1.0

[2017-06-11 10:37] sourcejedi opened #25584 "copy module creates target directories - completely undocumented"
##### ISSUE TYPE

 - Documentation Report

(Since the module says it must maintain backwards compatibility.  Behaviour like this will certainly have been depended on by someone).

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora Linux -> Debian Linux, over ssh.

##### SUMMARY
Using copy module to create a single file, also creates a

[2017-06-11 11:05] hjnijlunsing commented on #10779
I still experience this issue at home. On my file server my 4tb goes to sleep when not in used, my guess is that this spins up the hard-drive but takes longer then 10 sec. To me it is really weird to have a "magic number"  of 10 seconds hardcoded in the facts.py. Any suggestions?

[2017-06-11 12:58] StefanKaerst commented on #13235
sry for commiting that much .. I tested on some platforms (together with work for issue #20096) and I'm close to finish

[2017-06-11 13:04] DamianZaremba commented on #25175
I can replicate this issue by just changing the hostname on a device, netconf availability should not be affected in this case.

playbooks/test.yaml:

[code]

ansible.cfg:

[code]

scripts/test.sh:

[code]

Playbook run command: `ANSIBLE_DEBUG=1 ANSIBLE_LOG_PATH=$(pwd)/ansible.log ansible-playbook playbooks/test.yaml -vvvv`

Ansible log: [ansible.log.txt](https://github.com/ansible/ansible/files/1

[2017-06-11 16:58] gthieleb commented on #20492
Thanks @Applemann switching to python3 and pointing to the python interpreter in the virtualenv worked also.

    ansible-playbook docker-test.yml \
           -e 'ansible_python_interpreter=/data/python/envs/ansible/bin/python3'

[2017-06-11 18:35] jameszh commented on #25555
same behaviour, here is the setup.
Cloned the latest repo: ansible 2.4.0 (devel 9d23dcac29) last updated 2017/06/09 14:19:31 (GMT -400)

I insert the following lines in the winrm.py as instructed.

        import time
        time.sleep(2)
        print(password)
        stdout, stderr = p.communicate(password + b'\n')

I do see it the printout(editing the right file), the code is hanging on p.com

[2017-06-11 20:50] Hubbitus commented on #16140
Hello @jctanner, thank you for the answer.
Indeed it come from Bug https://github.com/ansible/ansible/issues/14525.
According to the [answer of @jimi-c](https://github.com/ansible/ansible/issues/14525#issuecomment-218557417) it was not a bug, just missing future in ansible to include part of role by tags. It is why I open that future request.

[2017-06-11 20:55] Hubbitus commented on #13259
I had fill ansible version, issue type and component name.

[2017-06-11 21:00] Hubbitus commented on #22402
I also think what even if volume is  not started stop should not break anything!

[2017-06-11 21:08] hvisage commented on #11702
It is definitely an issue where I have to use become as the file is dumped in a location I'll need to "become" to get to, otherwise I'll have to copy (in my case) the file out to a different place to be able to not break other security issues

[2017-06-12 04:28] pm13 opened #25590 "Redis facts cache not compatible with Python 3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/cache/redis.py

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /home/petr/.config/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 3.6.1 (default, Mar 27 2017, 00:27:06) [GCC 6.3.1 20170306]

##### CONFIGURATION
[defaults]
gathering = smart
fact_caching = redis
fact_caching_timeout = 3

[2017-06-12 04:28] liul85 commented on #15321
use paramiko as a workaround.

[code]

or add to ansible config

[code]

[2017-06-12 06:44] hkyyx opened #25591 "how to set host_key_checking"
##### ANSIBLE VERSION

[code]

##### SUMMARY

I using python invoke ansible's python api，
and I want to know how to set host_key_checking variable.
I have try some methods, but not working
host_key_checking = False
ssh_extra_args = {'host_key_checking': False}

[2017-06-12 07:04] Qalthos commented on #25137
The other two files are adding unit tests for the nxos_nxapi module, and for this purpose are not required.

[2017-06-12 07:19] pengliaoye opened #25592 "ansible_date_time.date minus 1 to yesterday"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-06-12 07:35] bjolivot commented on #25508
I can't reproduce your problem.
Are you sure your "db" address is in the "DEVTEST" vdom ?

Could you download address management module here:
https://github.com/ansible/ansible/pull/21542/files#diff-cece00922d0648f114607e79c02036e7
And try to add db address before adding policy ?

Something like:
[code]

[2017-06-12 07:35] bjolivot commented on #25508
needs_info

[2017-06-12 09:14] ninjakitteh69 commented on #19584
this worked for me, so may help you as well.
Try registering the private key to your keychain

    ssh-agent bash
    ssh-add <path to private key>

if this works, try adding the keys to your ~/.ssh/config file

[2017-06-12 09:44] qubusp commented on #16721
Same issue here:
`- name: get ip address node1
  debug: var=hostvars[LOG1]['ansible_default_ipv4']['address']
  register: es_node1`

The result being:

`{
    "hostvars[LOG1]['ansible_default_ipv4']['address']": "VARIABLE IS NOT DEFINED!"
}`

[2017-06-12 09:47] qubusp commented on #17963
Same issue here:
[code]

[2017-06-12 10:28] dagwieers commented on #25532
The same issue appears consistently when installing SCVMM (in async mode). If you have the following tasks in a playbook:

[code]

It fails consistently with a **Connection refused**:
[code]

[2017-06-12 10:36] willthames commented on #25561
Yep, this seems like a genuine mistake that should be fixed. Will try and get around to it unless you fancy it @grugnog - fix is just to change `get_igw_info` to return a dict with a 'gateway_id' key rather than an 'id' key

[2017-06-12 10:59] dandrestor opened #25596 "Updating owner on existing directory using file module does not update parents"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If creating a directory with a certain owner, i.e. use file state=directory with a non-existing path, all the necessary parent directories will be created with the same owner. If the directory already exists with a different owner, it it

[2017-06-12 11:10] RuBiCK commented on #16305
The main problem is that you modify some config files and its backup can't be placed in the same directory as the config files are read like conf/*  so backup files can't be placed in the same destination than the original file.

[2017-06-12 11:19] 4001982248998 commented on #16305
the backup directory could mirror the actual filesystem, like saltstack does.

[2017-06-12 12:21] richard-scott commented on #25559
Your passowrd has an unescaped ']' character in it... have you tried this:

[code]
Maybe that'd help?

[2017-06-12 12:22] cytopia opened #25598 "alternatives module: requires link on Debian-based if no alternative exists yet"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
alternatives.py

https://github.com/ansible/ansible-modules-extras/blob/devel/system/alternatives.py#L148

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special.

##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
The following is supposed to work on Debian-like systems.
[code]

However, if there is no java alternative yet and you r

[2017-06-12 12:24] richard-scott commented on #12903
I have had this problem since upgrading to v2.3.0.0.
I had 'set -e' in my bash scripts so that won't help anyone.

I will try the "set -o pipefail" to see if that helps.

[2017-06-12 12:26] foafk opened #25599 "ERROR! 'files_matching' is not a valid attribute for a Task"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
 include_vars

##### ANSIBLE VERSION
 2.3.0.0

##### CONFIGURATION
 Redhat Linux machines both source and target

##### SUMMARY
I tried to load a variable file within a Task of a role
....../ansible/tasks/main.yml
and I get this:
ERROR! 'files_matching' is not a valid attribute for a Task

# include variable OUYT
[code]

[2017-06-12 12:44] fighterxp commented on #14292
issue14292.yml:
[code]
good.json.j2:

[code]

wrong.json.j2
[code]
[code]

[2017-06-12 13:10] subimage commented on #25579
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

dnsimple

##### ANSIBLE VERSION

[code]

[2017-06-12 13:14] bcoca commented on #25579
@subimage the template is meant for the first post, the bot won't detect it in others (you can edit/update it)

[2017-06-12 13:14] bcoca commented on #25579
cc @drcapulet, @dharmabumstead, @gundalow

[2017-06-12 13:15] richard-scott commented on #12903
ah, unfortunately "set -o pipefail" didn't help in my situation.

[2017-06-12 13:19] bcoca commented on #12903
pipefail won't work unless you force bash as the shell (default is `/bin/sh`) via the `executable` option.

[2017-06-12 13:27] #25391 closed, assigned to nobody

[2017-06-12 13:40] MKPhil opened #25603 "win_copy fails when src is a file and dest is a folder"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
RHEL6 / Win 2012

##### SUMMARY
win_copy fails when src is a file and dest is a folder

##### STEPS TO REPRODUCE
[code]
(where `/home/user/afile` is a file and `C:\Temp` is a folder - both exist!)

This works on 2.2.1.0 but fails on 2.3.0.0

##### EXPECT

[2017-06-12 13:41] boscowitch commented on #16305
another benefit of this feature is that you can put an autoclean through a cronjob that  deletes older files onto that seperate directory without fucking up your live config

My cronjob looks like this (delete all files older than 30 days):
`0 3 * * * /usr/bin/find /backups -mtime +30 -exec /bin/rm {} \;`

but to realize this. atm I need more 2 tasks for every task with backups  to move the automa

[2017-06-12 13:44] bcoca commented on #25559
it seems that it is still a string (debug does it's own transformations so not really good to see mixed types), have you tried?:
```    secret_in: "{{ secret_out.json.data|from_json | combine(list1)}}"```

[2017-06-12 14:03] regosse commented on #24057
@jhawkesworth We are waiting to have KB2842230 installed as well since it seems to be related to the same OutOfMemoryException. We dug around in the Events log and found this. We'll let you know if it works or not. We will be upgrading to Ansible 2.3.1 very soon.

[2017-06-12 14:11] bcoca commented on #25592
can you please fill in the template and describe the issue in detail?

[2017-06-12 14:19] #24993 closed, assigned to nobody

[2017-06-12 14:20] malmon commented on #25559
Tried both suggestions both failed with different errors

`set_fact:
secret_in: "{{ secret_out.json.data | combine(list1) | regex_escape() }}"`

errored with:
`fatal: [10.80.14.19]: FAILED! => {
    "failed": true,
    "msg": "Unexpected templating type error occurred on ({{ secret_out.json.data | combine(list1) | regex_escape() }}): unhashable type"
}`

`secret_in: "{{ secret_out.json.data|from_j

[2017-06-12 14:25] #25009 closed, assigned to nobody

[2017-06-12 14:42] mpostument opened #25604 "Vault key rotation using ansible"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vault module

##### ANSIBLE VERSION
[code]
##### SUMMARY
It will be nice to have ansible vault module.
I need to rotate vault keys every 90 days for few github repo. And i would like ansible module which
allow to specify vault file, old password and new one. And ansible will update those vault files with new

[2017-06-12 14:50] pablodav commented on #25298
@daBONDi I understand what you mean, but unfortunately I have a server that has all installed but running in powershell this module seems to take `60` seconds.

The server has all updates installed.

Now  looking on the scheduled job and running in from cmdline, I think the issue is with line using `Import-Module PSScheduledJob`:

[code]

The file is on:

[code]

so seem to be something related to

[2017-06-12 14:52] bcoca commented on #25591
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-06-12 14:52] #25591 closed, assigned to nobody

[2017-06-12 14:56] #18914 closed, assigned to emonty, rcarrillocruz

[2017-06-12 14:59] bcoca commented on #25559
!duh, just saw, the issue is the data itself containing 'special characters' that will be confusing to templating ... normally you could get around this by using `!unsafe` in vars definition .. but we have not way of doing this from a lookup.

[2017-06-12 15:06] mamghari commented on #23044
Hi,
Sorry for late answer.
The issue is fixed, it was my mistake. It seems that we can run the same docker on different ports thanks to 'published_ports'.
The issue was to try to run the Docker on different IP available on the machine which cannot work because the port is already used...
Thank you all

[2017-06-12 15:06] #23044 closed, assigned to nobody

[2017-06-12 15:07] bcoca commented on #25582
name is a list type options, an empty string will still appear as an 'element', use  `[]` to signify 'no packages'

[2017-06-12 15:11] pablodav commented on #25298
I can confirm that the server with the problem is with PSModulePath:

[code]

Seems that the install of SQL braked it..??

So I got a fix/workaround on windows:

[code]

It worked.

[2017-06-12 15:19] nitzmahone commented on #25603
This should've been fixed in 2.3.1 (see https://github.com/ansible/ansible/pull/23581), please give it a try.

[2017-06-12 15:23] bcoca commented on #25599
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-12 15:23] #25599 closed, assigned to nobody

[2017-06-12 15:26] #25010 closed, assigned to nobody

[2017-06-12 15:41] bcoca commented on #25596
I don't think your expectation is correct, I would not expect all parents to change when creating a directory. For example `/` is also a parent here, would you also expect it to change?

[2017-06-12 15:41] ghost opened #25608 "nx-feature module uses incorrect feature name for "port-security""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nx-feature

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get something similar to below, confirming that the settings was completed successfully.  Example below is for "sftp-server" feature.

##### ACTUAL RESULTS

Received a fail

[2017-06-12 15:45] malmon commented on #25559
Playing around with it a bit I noticed that the error only happens after the combine of the dictionaries.  If I change my POST uri task to send `secret_out.json.data` rather than `secret_in` as the data it works fine.  Also the character causing the issue is the `%` symbol in the sting `y#Vfd16X0uCrQ{%]c;1!`.  Hope that helps.

[2017-06-12 15:46] patbdti commented on #25608
Verified this behavior by commenting out 2 lines with "eth_port_sec" in them in file /usr/lib/python2.7/dist-packages/ansible/modules/network/nxos/nxos_feature.py and re-running playbook, which completes successfully.

[2017-06-12 15:47] alikins commented on #25604
@Infectsoldier You mention an ansible vault module. Would the intention be a module that can run on a remotely managed system and vault encrypt/decrypt/rekey files there?

Or would having 'ansible-vault' on the controller supporting this be sufficient?

[2017-06-12 15:52] bcoca commented on #25559
no just the `%`, the combination of `{%` which is a jinja2 token

[2017-06-12 15:53] bcoca commented on #25604
on the controller, `ansible-vault` already supports key rotation either via prompt or 2 key files.

[2017-06-12 15:54] Infectsoldier commented on #25604
@alikins on controller

[2017-06-12 15:55] bcoca commented on #25604
@Infectsoldier soo, i'm just going to close this as 'already implemented'

[2017-06-12 15:55] #25604 closed, assigned to alikins

[2017-06-12 15:57] Infectsoldier commented on #25604
@bcoca can you give me an example how to use key rotation?
I can't find any example

[2017-06-12 16:01] Infectsoldier commented on #25604
@bcoca yeah rekey is similar, but would be nice to have possibility to specify old and new password from command line or ansible, without typing

[2017-06-12 16:01] dandrestor commented on #25596
Sorry, I realize now I was unclear. I haven't tested the case when creating a directory with pre-existing parents, only 1) creating both the child and the parents at the same time (parents are created with same permissions) and 2) updating an existing child (parents are not touched).

I would expect that the task to be idempotent. Right now its behaviour wrt the parents is not the same, depending

[2017-06-12 16:02] bcoca commented on #25604
@Infectsoldier use vault files, having it in the command line directly is a security issue, we don't allow this for any of our passwords

[2017-06-12 16:05] bcoca commented on #25596
I would suggest that if you really want to ensure the parents permission, you have a file action per parent, I don't think this is a good idea nor should it ever be the default.

I would even go as far as saying that autocreating the parents is bad behaviour but that has already been grandfathered in.

That said, I'm going to close this as it is not a bug.

[2017-06-12 16:05] #25596 closed, assigned to nobody

[2017-06-12 16:13] dandrestor commented on #25596
I agree with auto-creating the parents by default being bad behaviour. If this is unlikely to change as you say, wouldn't it be a good idea to at least parametrize this and allow the user to get consistent behaviour, as a second-best alternative to being backwards-incompatible?

[2017-06-12 16:26] jhawkesworth commented on #25603
Hopefully fixed in 2.3.1 as mentioned above.  At least there is a straightforward workaround in this case, although it would mean updating your playbooks, you would have more explicit playbook as a result.

Please advise your test results as either way, as at the least I think we should document the behaviour.

[2017-06-12 16:55] McNinja commented on #22673
+1 would like to see the apt-get upgrade functionality added to ansible

[2017-06-12 16:59] #25582 closed, assigned to nobody

[2017-06-12 17:01] bcoca commented on #25596
how do you get consistent behaviour?

machine A has `/some`, machine B has `/some/test` machine C has `/` ... once it runs the first time all 3 have `/some/test` ... how is it supposed to know on other runs which/what directories it much change permissions to?

[2017-06-12 17:15] bcoca commented on #25389
This is expected as the modules don't edit the files "in situ" as this can lead to inconsistent reads and data corruption, most modules will update the file atomically, which requires making a copy, updating the copy and them moving the copy into place.

Permissions should also be set on the copy in most scenarios with a couple of exceptions (which you hit above), leaving this open as to either is

[2017-06-12 17:16] sivel commented on #25592
Something like this probably meets the requirements:

[code]

[2017-06-12 17:17] bcoca commented on #25592
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-12 17:17] #25592 closed, assigned to nobody

[2017-06-12 17:27] cbeckley commented on #25389
Yes, I think a statement regarding this behavior in the synopsis would be sufficient.

Currently the synopsis of both modules indicate that lines will be "changed", "replaced" or "added", which to my mind imply "editing".  I understand that a synopsis is no place for legalese definitions, but I think in this case the distinction is important ... of course that could simply be because I ran into it

[2017-06-12 17:32] celebloki commented on #24411
Did you find resolution to this? I am running into essentially the same problem, but with the dellos6_config module.

[2017-06-12 17:52] #25445 closed, assigned to nobody

[2017-06-12 18:50] Qalthos commented on #25495
Ansible networking modules need `connection: local` set in order to run. For more information, see https://docs.ansible.com/ansible/network_debug_troubleshooting.html#error-invalid-connection-specified-expected-connection-local-got-ssh

[2017-06-12 18:50] #25495 closed, assigned to nobody

[2017-06-12 18:55] dandrestor commented on #25596
Make it behave like mkdir. Have a parameter `create_path`; this could default to `true` (shudder) if you want to be backwards-compatible.

Also, discern between the perms on the destination directory, and whether the directory is accessible (perms on the parents). Have another parameter `path_access` which controls the latter, something along the lines of:

- `none` - never change the parents
- `o

[2017-06-12 19:18] Leryan commented on #25582
Thanks for this update.

Using a list makes the module fail completely while using a non-empty list is ok. Also i used to use a string to speed-up yum package install, but now it seems irrelevant anymore.

[2017-06-12 19:21] msanabria commented on #1663
I would just write a playbook for it and call it with -f 1. This would use one fork to execute the playbook essentially going one server at a time. I do this with ad-hoc commands all the time.

[2017-06-12 19:24] bcoca commented on #25596
I think you should just use this:

[code]

[2017-06-12 20:43] nitzmahone commented on #24494
I see two reasonable solutions for this:
1) Implement proper auto-location using current PATH and `SearchPath` Win32 function for `src` values that don't contain a path separator.
2) require that `src` be an absolute path (eg, fail if no path separator char is found)

I'd kinda lean toward option 2, just because it provides much more predictable behavior and doesn't create a potential order depend

[2017-06-12 20:50] dcritch commented on #25554
Hi @jctanner. I think the list approach is better for idempotency. I've created a PR for review. Let me know if it needs cleaning up!

[2017-06-12 20:55] jhawkesworth commented on #24494
+1 for option 2. I like predictable :-)

[2017-06-12 21:55] #21770 closed, assigned to rcarrillocruz

[2017-06-12 21:55] indrajitr commented on #25582
@Leryan, you should see the same speed-up regardless of whether you use string or list by default. Because it is listed in [`DEFAULT_SQUASH_ACTIONS`](https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L317-L318).
However, this fix will indeed allow you to throw arbitrary length list without checking length.

[2017-06-12 22:05] dajeffers opened #25626 "sensu_check uses outdated syntax"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sensu_check
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[code]
##### OS / ENVIRONMENT

OS Running Ansible:
[code]
Host being managed, Docker:
[code]
##### SUMMARY

sensu_check is creating an incorrect/outdated hash for Sensu. It should be creating a hash that looks like this:
https://sensuapp.org/docs/latest/reference/checks.ht

[2017-06-12 22:12] netservers opened #25627 "cs_host doesn't handle IP address based names properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cs_host
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using the Cloudstack API it is valid to provide an IP address as the name of the host to add. The cs_host module accepts this, and the host is successfully added to CloudStack.

The problem is that Cloudstack replaces the IP address with the

[2017-06-12 22:21] berney commented on #25388
Review this after doing further research on the issue I hit (#25377 ) that you kindly commented on - thank you.

It seems the author of the module opened an issue for this already #23471, making this a dup, and a PR with a fix is open #24025. Hopefully it gets fixed in a stable release soon.

[2017-06-12 22:24] berney commented on #23649
#20056 is discussing the same issue and references some PRs.

[2017-06-12 22:44] berney opened #25629 "win_scheduled_task Run with Highest Privileges"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux server managing a Windows host.

##### SUMMARY

Currently Ansible's scheduled_task module only allows setting a user, but the task will run unelevated at Medium Integrity level.

Windows, Scheduled Tasks have an option "Run with highest priv

[2017-06-12 23:11] wimnat commented on #25270
@jbscare try this https://github.com/wimnat/ansible/tree/feature/issue-25270

It needs some tidying up still but as it's quite a big change i need some third party testing if you dont mind

[2017-06-12 23:11] wimnat commented on #25361
I have been working on 25270 rather than this. Once 25270 is finished then i can get this out

[2017-06-12 23:14] keinohguchi commented on #4482
I know this is an old post but does get_url module work with the IPv6 literal address format, as in:

[code]

Here is the full playbook:

https://github.com/keinohguchi/do-in-action/blob/fdf4191808bb61466baf9b38984e8489e8ae50bf/tests/ftp.yml

and got this error:

[code]

I might go ahead `command: wget` but hope I can use idempotent `url_get`.

Let me know if this is actually an issue, then, I'll

[2017-06-12 23:26] keinohguchi commented on #4482
For now, i'll fall back to `curl`, as you can guess:)

https://github.com/keinohguchi/do-in-action/blob/master/tests/ftp.yml#L64-L68

[2017-06-12 23:34] jladdjr opened #25631 "Unable to parse inventory script when cache plugin specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Inventory Plugins
- Cache Plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Running an ad hoc command using an inventory script is successful. If a cache plugin is specified, however, the same script cannot be parsed.

##### STEPS TO REPRODUCE
Confirm that ansible can run an ad-hoc command u

[2017-06-12 23:34] jladdjr commented on #25631
Git bisect shows issue was introduced by https://github.com/ansible/ansible/commit/8f97aef1a365cbbbb822d6d09f96af17a076b295

ping @bcoca

[2017-06-12 23:45] jladdjr commented on #25631
Prevents Tower 3.1.3 (latest release) from running scan jobs using Ansible devel.

[2017-06-13 00:12] jpsenior opened #25632 "cloud/vmware/vmware_vswitch.py nic_name should be optional"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/vmware/vmware_vswitch.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a
##### OS / ENVIRONMENT
n/a
##### SUMMARY
The vmware_vswitch module erroneously assumes that 'nic_name' is required.  It is valid (and sometimes desired) to make a vmware virtual switch that does not have any uplink nics at all - the use case is multiple isolate

[2017-06-13 02:12] roadmapper commented on #25391
@bcoca @nitzmahone If this needs to be in the 2.3.0 milestone does there need to be another PR for merging into the 2.3.0 branch? The module_utils facts Python code is structured differently in 2.3.0, so it would need to be backported. If this isn't going to be backported, perhaps the 2.4.0 milestone should be applied instead.

[2017-06-13 05:27] resmo commented on #25627
thanks for reporting and fixing this issue.

resolved_by_pr #25628

[2017-06-13 05:30] #25627 closed, assigned to nobody

[2017-06-13 05:51] nerzhul commented on #24691
yes folder is required if no uuid

[2017-06-13 06:29] Antaxify opened #25637 "async_status does not notice if task timed out"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async
##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
default ansible.cfg file

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When a task is executed with 'poll: 0' (fire and forget) and the time specified in 'async' expires, the async cache remains and a following 'async_status' task reports that the task is still running, although the p

[2017-06-13 07:19] dagwieers commented on #24494
While 2 is the easiest option, we miss out on the fact that it behaves differently to what most users may expect. In a lot of cases people do not know exactly where a binary lives and never had to care about it either. So option 1 to me looks like a win over option 2.

[2017-06-13 07:21] dagwieers commented on #1663
@msanabria If it means we have to cobble together playbooks in a bash-script to get things properly working, I think we lost. So that's definitely the wrong approach IMO.

[2017-06-13 07:36] gmalk opened #25638 "Failed to connect to the host via ssh"
I have this issue with Ansible 2.3.0.0 after using `ansible webservers -m ping`, can someone help me?

XXXXXXX | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: OpenSSH_7.2p2 Ubuntu-4ubuntu2.2, OpenSSL 1.0.2g  1 Mar 2016\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 19: Applying options for *\r\ndebug1: auto

[2017-06-13 08:04] doker78 commented on #14426
still  have the issue  with  it

[2017-06-13 08:11] jean-christophe-manciot commented on #25268
Your solution is not scalable.
The truth is, ansible's developers has changed the inventory keyword signification, making it not backwards compatible..

[2017-06-13 08:14] thepax opened #25639 "File module expands found file names"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### SUMMARY

File module expands file names.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Permission is changed

##### ACTUAL RESULTS

[code]

[2017-06-13 08:16] resmo commented on #25268
@jean-christophe-manciot keep calm. it is a bug. Taking care.

[2017-06-13 08:19] jean-christophe-manciot commented on #25268
I feel calm & I'm glad to hear that it is taken care of.

[2017-06-13 08:39] pilou- commented on #25598
@cytopia Does _if there is no java alternative_  mean that `update-alternatives --remove-all java` has been called ?
If not could you add outputs of `update-alternatives --display java` and `update-alternatives --query java` ?

[2017-06-13 09:07] rosmo commented on #22402
@Hubbitus, @danvaida, I think you are both right. I'll look into fixing this next week.

[2017-06-13 09:10] petewilcock commented on #23547
Disappointing issue. I'm looking to switch from Chef to Ansible and this is one in a series of things blocking me. If I wanted to use aws cli shell commands to do things I wouldn't need a CM tool.

[2017-06-13 09:11] netservers opened #25641 "CloudStack wants http:// prefix when adding host with cs_host module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/cloudstack/cs_host.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

This bug has been confirmed when testing against both CloudStack 4.9.2.0 and 4.10 (snapshot).
##### SUMMARY

When adding a host to Cloudstack the API insists that the hostname or IP address is prefixed with a URI scheme.

[2017-06-13 09:27] 0mmariano opened #25643 "find module not returning pw_name and gr_name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
find module, stat module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
In an ansible-playbook wrapper script --
export ANSIBLE_LOG_PATH=/var/log/ansible/playbook_$(echo $1 | cut -d . -f 1).log

##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
This is either a bug or a documentation error, depending on the intended output of "find

[2017-06-13 09:37] Leryan commented on #25582
@indrajitr yes indeed :)

I understood the update, but right now when i pass an empty list to the module (because the way i manage packages makes me get sometimes empty lists) it makes it crash, but i still have to investigate why properly. It seems not related to pacman.py specifically.

This issue can stay closed as the empty string check is OK.

[2017-06-13 09:44] maxim0r commented on #25393
I tried to upgrade a package with exact version with fail result. Ansible 2.3.0.0
[code]
Result:
[code]

[2017-06-13 09:52] netservers opened #25644 "Cannot update allocation_state of CloudStack host with cs_host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/cloudstack/cs_host.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Testing has been done against CloudStack 4.9.2.0 and 4.10 (github master)
##### SUMMARY

When attempting to update the allocation state of a CloudStack host with the cs_host module, the API call fails validation. Specific

[2017-06-13 10:24] netgurru commented on #15531
Is this issue resolved or ?

[2017-06-13 10:55] gilesw commented on #25436
This module has been flagged to me:-

https://github.com/sailthru/ansible-oss/tree/master/tools/echelon

The logic is the same as what I've added except with deep merging within lists is included.

[2017-06-13 11:01] elouanKeryell-Even commented on #13744
Still doesn't seem to work with ansible 2.3

[2017-06-13 11:08] elouanKeryell-Even commented on #14100
Still witnessing the problem in 2.3.

[code]

---

[code]

[2017-06-13 11:10] dandrestor commented on #25596
Thanks, I'm currently doing something similar. I wasn't asking for help though, rather I was making an improvement suggestion (again, as a second choice behind just deprecating the whole parent thing). What do you think of the idea?

[2017-06-13 11:18] elouanKeryell-Even commented on #14424
Working for me in version 2.3.

[code]

---

[code]

[2017-06-13 11:32] elouanKeryell-Even commented on #22924
I confirm the issue with version 2.3.

[code]

---

[code]

[2017-06-13 11:46] monchitos82 commented on #25638
What you are seeing here, probably has nothing to do with Ansible. In my experience, seeing this error means that your permissions are wrongly assigned.

Try sshing to the hosts in your inventory using the same user you assigned in your playbook, likely you will see the same error in your console. Then you need to have a look at your  users `~/.shh` directory to get a list of permissions. This you

[2017-06-13 12:12] msanabria commented on #1663
@dagwieers I can see what you mean about the current behavior but I think it's desired for rolling updates. The serial configuration tells Ansible to run a playbook on a given number of hosts in its entirety before moving onto the next host(s). If you were to run the same playbook on the command line using ansible-playbook then the playbook would run on all the hosts in scope regardless of whether

[2017-06-13 12:38] dustymabe opened #25651 "seboolean module needs to handle new selinux library change"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
seboolean module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
calling ansible-playbook with `-e 'ansible_python_interpreter=/usr/bin/python3'`

##### OS / ENVIRONMENT
Fedora 25  - target is F26 Atomic Host

##### SUMMARY
Underlying libselinux python library changed from returning bytes to strings for call to `selinux.security_get_boolean_n

[2017-06-13 13:11] sdodson commented on #25651
@mscherer any ideas?

[2017-06-13 13:13] bcoca commented on #25596
I don't think it is viable, just look at the example i gave above, which directories should i change permissions and to what on each machine?

[2017-06-13 13:18] #25561 closed, assigned to nobody

[2017-06-13 13:19] patbdti commented on #25608
other option is to switch the order of the mapping so both "eth_port_sec" and "port-security" both get mapped to "port-security" when the command is actually sent to the device.  That may have been the original intent.

[2017-06-13 13:21] bcoca commented on #25631
I cannot reproduce with other cache plugins:
[code]

[2017-06-13 13:23] bcoca commented on #25631
can you show -vvvv output instead of debug?

[2017-06-13 13:28] luispabon opened #25653 "Kubernetes - no support for deployments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
kubernetes

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
Ubuntu 17.04

##### SUMMARY
Deployments are not supported by the kubernetes plugin. This is the recommended way of deploying apps on Kubernetes 1.4+.

##### STEPS TO REPRODUCE

[code]

Which when run results on

[code]

[2017-06-13 13:33] claer opened #25655 "fortios_config Unable to backup several hosts in parallel with the same playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fortios_config

##### ANSIBLE VERSION

[code]

Nice to know: On this box, pyFG version 0.50 is deployed.
[code]

##### CONFIGURATION

We are using the default values in ansible.cfg. The only line commented out is
retry_files_enabled = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

fortios_config: task can backup only one fortinet at a time

[2017-06-13 13:49] pdev77 commented on #24823
Hi yes you are right :

[code]

[2017-06-13 13:50] #25590 closed, assigned to abadger, bcoca

[2017-06-13 13:54] #25258 closed, assigned to bcoca

[2017-06-13 13:56] luispabon opened #25656 "Kubernetes: no support for HPA (horizontal pod autoscaling)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
kubernetes

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
Ubuntu 17.04

##### SUMMARY
Deployments are not supported by the kubernetes plugin. This is the recommended way of deploying apps on Kubernetes 1.4+.

##### STEPS TO REPRODUCE

[code]

Which when run results on

[code]

[2017-06-13 13:58] rabin-io commented on #16305
+1 on this issue / feature
On our server we had the same problem with a old backup script so we changed it to created the backup files on the file working dir under a subfolder called `.backup/`
[code]
this also allow us to find all the changes to the system by looking for all the `.backup` folders.

[2017-06-13 14:01] Akasurde commented on #25122
@bjorn-spire I am unable to reproduce this using Ansible 2.3.

[2017-06-13 14:01] gtirloni opened #25657 "git - Your git version is too old to fully support the depth argument"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
2.3.1.0

##### OS / ENVIRONMENT
Fedora 26 control host
CentOS 7.3 server (git 1.8.3.1)

##### SUMMARY

`depth` argument is not accepted and enable outputs the following warning:

`[WARNING]: Your git version is too old to fully support the depth argument. Falling back to full checkouts.`

##### STEPS TO REPRODUC

[2017-06-13 14:01] rcrelia commented on #25182
I've recently run into a similar issue with ec2_asg and can report that the current devel branch version does NOT have the same idempotency issue, fyi...

[code]

[2017-06-13 14:06] bcoca commented on #24207
cc @jimi-c

[2017-06-13 14:18] BobbyGR commented on #25319
Hit the same issue, seems asa_config is dead in the water

[2017-06-13 14:35] hemskgren opened #25659 "nxos_vlan use show vlan | json, change to xml"
##### ISSUE TYPE

[code]
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-06-13 14:37] missnebun opened #25660 "ipa_group not idempotent"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

module/ipa_groups
##### ANSIBLE VERSION

[code]

Thank you for this modules ... really save some times.

We have our IDM integrated with AD.

So I need to create external groups and assign external users to that groups.
Then I need to create POSIX groups and assign the AD group to it.
Here is my playbook:

hosts: idm

vars:
ipa_host:
ipa_princi

[2017-06-13 14:39] mdelapenya commented on #18995
Hey @sermilrod it happens the same with `Blue Ocean` pipeline jobs.

This is the snippet generated by Jenkins when creating a Pipeline:
[code]
Thanks!

[2017-06-13 15:14] jorti commented on #21594
Same problem with ansible-2.3.1.0-1.el6.noarch when connection to Solaris.
This workaround in `ansible.cfg` works for me:

[code]

[2017-06-13 15:20] bjolivot commented on #25655
hello @claer
thank you for opening the issue.

I can't reproduce the error, I try with 20+ Fortigates with your playbook and 100% ok

I have same version for pyFG

I think there's a general try-catch that hide unattended error.

Could you edit fortios_config.py file and replace
[code]
 with
[code]

Normaly, you will get python stack trace explaining the error.
Please run ansible-playbook -vvv

nee

[2017-06-13 15:22] missnebun commented on #25660
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

module/ipa_groups
##### ANSIBLE VERSION

[code]

[2017-06-13 15:24] joseluisrespeto opened #25661 "Ansible + jump machine + junos"
Hi guys,

I am trying to send show command to Junos devices, my problem is related with connection between junos routers and ansible host. I have the following scenario:

Running ansible 2.3

Ansible Host -> Jump Machine -> Junos Routers (malaga)

IP A -> IP B -> IP C

My playbook is the following:

- hosts: malaga
  gather_facts: no
  connection: local
  vars:
    cli:
      host: malaga
      us

[2017-06-13 15:25] ulope opened #25662 "Support docker service / stack / swarm"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
new modules for docker swarm/service/stack

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Issue ansible/ansible-modules-core#4607 requesting support for features introduced in docker 1.12 (swarm mode, stack, service) seems to have been lost in the repo merge.

##### EXPECTED RESULTS
Modules suppor

[2017-06-13 15:26] sivel commented on #25631
FWIW, I cannot reproduce using a slightly modified version of the tower.py callback, that comments out everything related to kombu.  So effectively other than the `self.producer.publish`, everything else executes.

I also tested this by running the scan modules also, although against an Ubuntu box.

Of note here, I did this outside of tower, via ansible-playbook directly.

[2017-06-13 15:28] dandrestor commented on #25596
In short, ansible should change it precisely as the user says it should. Your example above is no exception; say the user runs with `create_path=true` and `path_access=owner`, then ansible should create all the parents (if they don't exist) and change ownership to `owner`, just as described. This (and any other combination of parameters) would always have the same result on all three machines A, B

[2017-06-13 15:29] perimore opened #25663 "Deprecated message when using provider arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

networking
eos-config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Ran a playbook and wasn't expecting to receive the deprecated messages as per the post below from Peter that states the provider argument is not deprecated:

https://www.ansible.com/blog/network-device-aut

[2017-06-13 15:41] joseluisrespeto commented on #25661
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
junos_command // core

##### ANSIBLE VERSION
2.3

##### CONFIGURATION
- hosts: malaga
  gather_facts: no
  connection: local
  vars:
    cli:
      host: malaga
      username: wuijra01
      password: w3ijra01
      transport: netconf
  tasks:
  - name: do show version
    junos_command:
      provider: "{{ cli }}"
      commands:
      - sho

[2017-06-13 15:49] claer commented on #25655
Hello Benjamin,

Here is one of the stack traces captured. I got one identical stack trace per failed host:

[code]
Looks like the error occurs on paramiko, but I don't understand why.  My paramiko version is 2.1.2.

Regards,

[2017-06-13 15:51] robinro commented on #25657
@gtirloni What is your request?

As stated in the warning the old git version does not properly support shallow clones, so there is not much one can do on the ansible side. Please also see the issues leading up to this warning as referenced in https://github.com/ansible/ansible-modules-core/pull/3912

[2017-06-13 15:59] gtirloni commented on #25657
`git clone --depth` manually works with git 1.8.3, so what am I missing?

[2017-06-13 16:18] robinro commented on #25657
Updates are broken, see discussion and conclusion in https://github.com/ansible/ansible-modules-core/pull/3912 and the issues linked there.

There is quite a bit of steps between a shell command and a stable/idempotent ansible module.

Since I believe the issue was fully discussed in ansible/ansible-modules-core#3912:
close_me

Feel free to reopen, if you think there is more to add.

[2017-06-13 16:19] #25657 closed, assigned to nobody

[2017-06-13 16:46] tazmarine opened #25664 "redhat_subscription fails with proxy error"
##### ISSUE TYPE

 - Bug Report
With subscription-manager-1.18.10-1.el6.x86_64 on RHEL 6 servers the redhat_subscription fails but with subscription-manager-1.16.8-8.el6.x86_64 it is successful.

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Same Ansible server.  Tested on 77 servers.

##### OS / ENVIRONMENT

Ansible Server:
CentOS Linux release 7.3.

[2017-06-13 16:50] nethershaw commented on #23547
The problem is this: https://github.com/ansible/ansible/issues/5442#issue-24829689,
Or more directly, this: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/s3.py#L308,
Likely because @jimi-c said this: https://groups.google.com/d/msg/ansible-project/Dg7aAmpoS2A/iWkJ6Yp2L3YJ
Hence this issue is being ignored.

...respectfully, I disagree with the claim that the s3 mod

[2017-06-13 17:12] Arrowzeke commented on #23547
Digged a little further into this issue, here are my findings:

Compared s3.py between two releases v2.3.1.0-1 and v2.2.3.0-1
In 2.3:
https://github.com/ansible/ansible/blob/ecb38fdf73a0beb89e9505157a2ea20c96f666d7/lib/ansible/modules/cloud/amazon/s3.py#L567
In 2.2:
https://github.com/ansible/ansible-modules-core/blob/ebdd66c2b6cb15e2364b2ecc41a9da9c1d02d64f/cloud/amazon/s3.py#L517

somehow during

[2017-06-13 17:20] ionosphere80 opened #25665 "The ldap_attr module fails to initially add/modify olcTLS* attributes"
- Bug Report

##### COMPONENT NAME
modules/network/ldap_attr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
OpenLDAP recommends using OLC (cn=config) for configuration rather than the conventional slapd.conf file [1]. Each change via OLC triggers a reload of the OpenLDAP service (slapd) rather than requiring a restart.

Configuring OpenLDAP for TL

[2017-06-13 17:54] hslabbert commented on #25515
Add me to the chorus on this one as well, however for nxos_bgp rather than nxos_vxlan_vtep. The root seems to be the same as the errors are the exact same, with the bottom of the stack in `module-utilities/nxos.py` and hitting the same messages for cli and nxapi messages, respectively. Some other differences:

**COMPONENT NAME**

* nxos_bgp

** NXOS VERSION **

* 7.0(3)I6(1)
* note: this was teste

[2017-06-13 18:23] lae opened #25667 "Template validation fails when using mode parameter and become_user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Happens with empty config so N/A.

##### OS / ENVIRONMENT
Tested from Arch Linux and Ubuntu 14 against Ubuntu 16/CentOS 7/Debian 8/Arch Linux.

##### SUMMARY
PermissionError when attempting to use `validate` parameter with `mode` parameter in the template module with a `become_user` dif

[2017-06-13 18:59] andreacasarin commented on #22411
@walterdolce I tried the same yesterday and got the same results, digging into it looks like the problem wasn't the DNS challenge. It seems to me that you are using `{{ letsencrypt_key_filename }}` to create domain CSR instead of `id_rsa.{{ item }}`. That leads to [https://github.com/ansible/ansible/issues/20638](url) and as result no certificate will be created.
I would suggest anyway to augment

[2017-06-13 19:07] trstringer opened #25669 "Azure SDK 2.0.0 release breaks azure_rm_common"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_common

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

With the recent release of Azure SDK for Python 2.0.0 the module structure for the following modules is no longer functioning: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/azure_rm_common.py#L94-L98 (with t

[2017-06-13 19:12] ryansb commented on #25238
This feature exists already, under a different name.

[2017-06-13 19:12] #25238 closed, assigned to nobody

[2017-06-13 19:12] #24382 closed, assigned to nobody

[2017-06-13 19:37] ryansb commented on #25656
cc/ @erjohnso

[2017-06-13 19:37] ryansb commented on #25653
cc/ @erjohnso

[2017-06-13 19:55] #24471 closed, assigned to nobody

[2017-06-13 20:10] ajaybhatnagar commented on #18075
Ability to skip unreachable nodes will be very useful in clustered application deployments. At times a node in the cluster may be down and if some tasks are to be performed on running nodes, currently play will abort if any one node is unreachable (when tasks are  executed in serial one node at a time - for example apply security patches and reboot servers one at a time so that cluster remains ope

[2017-06-13 20:13] jmcgill298 commented on #25319
issue starts with this function line `contents = module.config.get_config(include=include)`:
[code]
I believe that eventually uses asa.py Cli(CliBase) `return self.run_commands(cmd)[0]`
[code]
CliBase.run_commands calls CliBase.execute
[code]
CliBase.execute call CliBase.to_command `item = self.to_command(item)`:
[code]
CliBase.to_command instantiates a ComplexDict if the "obj" arg is not of class

[2017-06-13 20:15] jmcgill298 commented on #25319
@ogenstad @gundalow hope the above helps

[2017-06-13 21:22] kevensen commented on #25522
@jctanner @silvinux I haven't forgotten about this.  I just haven't had a chance to look at it yet.

[2017-06-13 22:42] DWSR commented on #20196
Want to add a "me too" for this issue. I'm importing a GZipped SQL file and getting Broken Pipe. My DB is 54MB compressed, ~400MB uncompressed. Using ansible 2.3 on WSL. Target box is Ubuntu 16.04.2 / MariaDB 10. Workaround for now is to uncompress the db file using a shell task (because unarchive doesn't support this op) and then importing.

[2017-06-14 00:25] pilou- commented on #25584
[code]
This task will fail when `̀/etc/smokeping/config.d/` doesn't exist.

[2017-06-14 00:29] dagwieers commented on #25532
So I wrote a simple implementation that would retry 5 times for 5 seconds, and I ended up with reproducible HTTP 500 errors after that (with Windows 2012R2). When I then upgraded Powershel 4.0 to Powershell 5.1, the HTTP 500 errors were a thing of the past, while the task would then succeed successfully !

But the task would only work successfully if it was run in async mode, if not I would get a

[2017-06-14 01:45] dale-c-anderson commented on #16305
@rabin-io , Does storing files inside a `.backup` subdirectory avoid the the problem of the backup files being confused with real config files, by things that read everything inside a `.d` directory? (Dirs like `/etc/logrotate.d` are particularly nasty if odd files get left lying around)

[2017-06-14 02:36] wrouesnel commented on #24119
I'd like to support this. Even if it's an optional method, the behavior should be an unlink and then copy.

[2017-06-14 02:46] bigjimmynz opened #25673 "ec2.py now fails with "subnet ID does not exist""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/cloud/amazon/ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX 10.11.6

##### SUMMARY
When running the ec2 module to deploy an AWS EC2 instance, it now results in a "Subnet ID does not exist" error. It worked a couple days ago and I just pulled down the latest devel commits from the repository. Rolling

[2017-06-14 02:53] Akasurde commented on #25035
resolved_by_pr #25041

[2017-06-14 02:55] Akasurde commented on #24148
@xalkina Can you try on 2.3.1 and let us know if it works for you ? If it works then we can close this issue.

[2017-06-14 03:15] ababra opened #25675 "Unable to use Ansible Tower modules in playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_inventory
tower_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[ssh_connection]
scp_if_ssh=True

##### OS / ENVIRONMENT
macOS Sierra 10.12.5

##### SUMMARY
Unable to use any Ansible Tower module in playbook, i.e. tower_host, tower_inventory, etc. Python error encountered when playbook executes.

##### STEPS TO REPRODUCE

[code]

[2017-06-14 03:17] #25675 closed, assigned to nobody

[2017-06-14 03:19] ababra commented on #25675
Syntax error, was missing "tasks:"

[2017-06-14 04:14] wimnat commented on #25270
@jbscare the PR is now done but note that if you change the port, a new listener will be created because `port` has been chosen as the field to use for comparison.

[2017-06-14 06:40] pjnagel opened #25678 "omit does not work in task environment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task `environment` argument (all modules, not specific to a any module)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing relevant

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Using the 'some_var | default(omit)' construct in the context of environment values does not work as expected.

If this is not expected to work, the docs s

[2017-06-14 06:46] klicki opened #25679 "module rabbitmq_exchange has confusing doc page"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
rabbitmq_exchange

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The doc page of rabbitmq_exchange lists choices "yes" and "no" for option "durable", but the default value is noted as "True" which is a bit confusing. Are all variations possible? Other parameters are used with boolean v

[2017-06-14 06:56] jhawkesworth commented on #25603
@MKPhil - please see comments above and try 2.3.1.

needs_info

[2017-06-14 07:02] #23471 closed, assigned to nobody

[2017-06-14 07:12] bjolivot commented on #25655
Could you try accelerated mode or pipelining ?
http://docs.ansible.com/ansible/playbooks_acceleration.html

The connection is open but there's a timeout on command I/O

I don't think the problem is related to the fortios_config module, I'll ping ansible network team for help.

Regards

[2017-06-14 07:29] StefanKaerst commented on #13235
bot_status

[2017-06-14 07:49] mscherer commented on #25651
Awesome, so now, we have to manage bytes/strings issue on different selinux version :/

I am gonna do some test, I have a Fedora 26 beta ready here (non atomic however), shouldn't be too hard to find a workaround.

[2017-06-14 07:54] sourcejedi commented on #25584
@pilou no it doesn't.  Please show your test & output.

[code]

[2017-06-14 07:57] boscowitch commented on #16305
@dale-c-anderson  I guess this depends on the software you use it could be that most common used software work for example like nginx apache ... but there could still be one "shiny new" web software that breaks things or a bug that breaks it for a common used one until its fixed.

so I would prefer something more like  @4001982248998  suggested.

because everything that can go wrong will go wrong.

[2017-06-14 07:58] ogenstad commented on #25319
I've submitted PR #25680 which would solve parts of this. However I think it would be best to have some discussion and a plan for the shared module_utils and perhaps a coordinated effort to try to avoid these types of things in the future.

The PR won't solve all of the config issues but will make sure the base feature work. It should be cleaned up after the discussion and perhaps changed altogeth

[2017-06-14 08:04] ssbarnea opened #25681 "synchronize module does not have a quiet - non verbose mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
It seems impossible to change verbosity of synchronize module which means that this module will spam the console log with all files that were rsynced. We are talking about 10k or more which is a real problem.

We never had this problem with rsyn

[2017-06-14 08:23] makkus commented on #18334
Running into the same problem. Would be great if the include_role task would fire callback events.

Anybody got an idea for a workaround for now? At the moment I'm using 'debug' tasks to frame a include_role, but (obviously) this is not pretty...

[2017-06-14 08:32] jhawkesworth commented on #25278
I think the issue here is really the k=v parsing rather than the module code.

The yaml style parser does a better job of understanding that the '\t' in C:\test\tmp doesn't mean
c:<tab>est<tab>mp

This affects any windows paths you pass to ad-hoc ansible commands too.
i.e.

ansible somewindowshost -m win_file -a 'path=C:\test state=directory'  (will fail)
ansible somewindowshost -m win_file -a 'pa

[2017-06-14 08:41] cytopia commented on #25598
@pilou-

I don't know if `update-alternatives --remove-all java` has been called. At least not by me.
It was a fresh clean Debian install.

[code]

[code]
As the exit code is `2`, it does NOT go into this if: https://github.com/ansible/ansible-modules-extras/blob/devel/system/alternatives.py#L116, but then it will jump into this if: https://github.com/ansible/ansible-modules-extras/blob/devel/syst

[2017-06-14 08:52] pilou- commented on #25584
@sourcejedi you aren't using the same value for the `dest` parameter.

[2017-06-14 08:56] luisdavim opened #25682 "Feature request: add flag to include_vars to specify if ansible should look for the file on local or remote"
Hi,

It would be great if we could use include_vars with remote files, on the remote host instead of only on the control host that is running Ansible.

Thanks

[2017-06-14 09:03] cytopia commented on #25598
As far as I have understood it (not 100% sure).

1. Add new alternative: name: `java`, path: `/usr/local/bin/my-custom/bin/java`
2. Look up current alternative target path: e.g. `/etc/alternative/<name>`
3. Add `/usr/local/bin/my-custom/bin/java` to `/etc/alternative/<name>`

However, if `<name>` (In this case `java`) does not yet exist as an alternative, it can only be added when `link:` is speci

[2017-06-14 09:19] pilou- commented on #25598
The current code use `update-alternatives --display java && update-alternatives --query java`. In your setup, how the value of the link could be found ? The alternative doesn't exist: I fails to see how the link could be found by the module: this link could be anything (`/usr/sbin/java` or `/usr/lib/java` or `/usr/share/java`).

Note that could use `dpkg-reconfigure` in order to recreate an altern

[2017-06-14 09:26] opichon opened #25683 "docker_container fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX Sierra

##### SUMMARY
docker_container fails if not using `become: true` with the following error message:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-06-14 09:43] matthyx opened #25684 "iptables: "!" argument ignored in the source specification"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing particular

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
iptables module doesn't properly handle "!" in the source specification, contradicting the documentation.

##### STEPS TO REPRODUCE
Run the following playbook to create a rule equivalent to:
`